[2020-09-30 22:36] #15681 closed

[2020-09-30 22:47] outofgamut commented on #15682
I'll take this one!

[2020-09-30 22:51] mickmister commented on #15682
Absolutely! Thanks @outofgamut!!

[2020-10-01 01:08] palcodes commented on #14004
Thanks, I will keep things posted.

[2020-10-01 02:17] MojoAnfield commented on #13786
Hey not sure if anyone is still working on this issue, I'm interested in taking a look.

[2020-10-01 03:20] didithilmy commented on #15480
I'm interested to work on this

[2020-10-01 03:26] karlmarxlopez commented on #15643
I'll give this a try.

[2020-10-01 04:03] g-ravity commented on #15640
Thanks for the advice. I'll join the channel and start studying the code!

[2020-10-01 05:22] esethna commented on #15643
Awesome, thanks @karlmarxlopez!

[2020-10-01 05:33] theacehorsemen opened #15684 "npm ERR! code ELIFECYCLE. Unable to start server with npm serve"
#### Summary
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! airgyaan@1.0.0 start: `node server.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the airgyaan@1.0.0 start script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

#### Expected behavior
It s

[2020-10-01 05:37] #15684 closed

[2020-10-01 06:11] VolatianaYuliana commented on #15619
Hey @Willyfrog I would like to work on this

[2020-10-01 06:15] muety commented on #15679
I'd love to give it try here! :slightly_smiling_face:

[2020-10-01 06:29] mgdelacroix commented on #15679
Thanks @muety, all yours!

[2020-10-01 07:00] gupsho commented on #15675
I can take this.

[2020-10-01 07:20] hanzei commented on #11264
This doesn't seem to be an issue any longer.

[2020-10-01 07:32] mgdelacroix opened #15686 "Allow mmctl list users command to filter by team"
As part of this ticket, we should implement a new flag for the `mmctl user list` command. This new `--team` flag should filter the listed users by a team. A proposed solution would be to use this endpoint:

https://api.mattermost.com/#tag/teams/paths/~1users~1{user_id}~1teams~1members/get

to get all the members of a team, and then fetch their user information and display it.

Feature request comi

[2020-10-01 07:37] mgdelacroix opened #15687 "Allow mmctl list teams command to filter by user"
As part of this ticket, we should implement a new flag for the `mmctl team list` command. This new `--user` flag should filter the listed teams by a user. A proposed solution would be to use this endpoint:

https://api.mattermost.com/#tag/teams/paths/~1teams~1{team_id}~1members/get

to get all the members of a team and then fetch their information.

Feature request coming from https://github.com/m

[2020-10-01 07:38] VolatianaYuliana commented on #15621
Hey @Willyfrog I would like to work on this

[2020-10-01 07:46] anthonydurot commented on #15686
I would like to work on this, but I wonder, shouln't the issue be in mattermost/mmctl repository ?

[2020-10-01 07:51] mgdelacroix commented on #15686
Hi @anthonydurot, I've assigned you the issue, thanks for working on this!

We decided to centralize all the Mattermost related issues in a single repository so it's easier to filter and find things to work on. You can filter by `area/CLI` to find all the CLI tickets or by `difficulty/1:Easy` to find all the easy ones independently of their repository, for example :slightly_smiling_face:

[2020-10-01 08:16] hanzei commented on #13786
That would be great @MojoAnfield :+1:

[2020-10-01 08:58] Willyfrog commented on #15619
sure! thanks a lot for working on this one :)

[2020-10-01 09:45] mattermod opened #15690 "Missing id for Tooltip in PostInfo"
When a post with a post info is created, the console logs an error:

[code]

This ticket is about fixing that console error.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For tec

[2020-10-01 10:15] mattermod opened #15691 "Incoming Webhook - icon_emoji should render emoji with colon"
When using the slack message and using the `icon_emoji` it does not override the icon if a colon is provided before and after the emoji name e.g. `:tada:` . It does work with `tada`.

To test can use this message

[code]

Please also check what the behaviour on mobile is.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermos

[2020-10-01 10:30] mattermod opened #15692 "Create and export type of the `PluginRegistry`"
The [PluginRegistry](https://github.com/mattermost/mattermost-webapp/blob/master/plugins/registry.js) is implemented in `mattermost-webapp` and is not "typed." An exported type available to plugins would be immensely useful. The new typed registry must be available as an import to plugins, without dramatically increasing its bundle size, or messing with dependencies.

For instances of React elemen

[2020-10-01 10:32] mgdelacroix opened #15693 "Prevent using --format json in the mmctl logs subcommand"
The `--format json` instructs `mmctl` to format a command’s output as `json`, but it the case of the mmctl logs command it can be confusing as the server endpoint is not returning the logs in that format and `mmctl` can’t do a meaningful conversion. As part of this ticket we should state in the command's documentation that the `--format` flag cannot be used and print an error if it is.

If you hav

[2020-10-01 10:53] saturninoabril commented on #10759
Outdated. Closing. Will publish new HW.

[2020-10-01 10:53] #10759 closed

[2020-10-01 10:53] saturninoabril commented on #11569
Outdated. Closing. Will publish new HW.

[2020-10-01 10:53] #11569 closed

[2020-10-01 10:54] saturninoabril commented on #11571
Outdated. Closing. Will publish new HW.

[2020-10-01 10:54] #11571 closed

[2020-10-01 10:54] saturninoabril commented on #11762
Outdated. Closing. Will publish new HW.

[2020-10-01 10:54] #11762 closed

[2020-10-01 10:54] saturninoabril commented on #12289
Outdated. Closing. Will publish new HW.

[2020-10-01 10:54] #12289 closed

[2020-10-01 10:55] saturninoabril commented on #12302
Outdated. Closing. Will publish new HW.

[2020-10-01 10:55] #12302 closed

[2020-10-01 10:55] saturninoabril commented on #12600
Outdated. Closing. Will publish new HW.

[2020-10-01 10:55] #12600 closed

[2020-10-01 10:55] saturninoabril commented on #13336
Outdated. Closing. Will publish new HW.

[2020-10-01 10:55] #13336 closed

[2020-10-01 10:55] saturninoabril commented on #14071
Outdated. Closing. Will publish new HW.

[2020-10-01 10:55] #14071 closed

[2020-10-01 10:56] saturninoabril commented on #14072
Outdated. Closing. Will publish new HW.

[2020-10-01 10:56] #14072 closed

[2020-10-01 10:56] saturninoabril commented on #14073
Outdated. Closing. Will publish new HW.

[2020-10-01 10:56] #14073 closed

[2020-10-01 10:56] saturninoabril commented on #14074
Outdated. Closing. Will publish new HW.

[2020-10-01 10:56] #14074 closed

[2020-10-01 10:56] saturninoabril commented on #14076
Outdated. Closing. Will publish new HW.

[2020-10-01 10:56] #14076 closed

[2020-10-01 10:56] saturninoabril commented on #14077
Outdated. Closing. Will publish new HW.

[2020-10-01 10:56] #14077 closed

[2020-10-01 10:57] #14080 closed

[2020-10-01 10:58] #14084 closed

[2020-10-01 10:58] #14086 closed

[2020-10-01 10:58] saturninoabril commented on #14083
Outdated. Closing. Will publish new HW.

[2020-10-01 10:58] #14083 closed

[2020-10-01 12:12] saturninoabril opened #15697 "Write Webapp E2E with Cypress: "MM-T669 Custom slash command in DM and GM""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T669 Custom slash command in DM and GM</h1>
<div>
<div>
<h3>Steps </h3>Custom slash command in DM and GM<br>–––––––––––––––––––––––––<ol><li>Run custom slash command in DM and GM</li></ol><h3>Expected</h3><ul><li>Works as expecte

[2020-10-01 12:12] saturninoabril opened #15698 "Write Webapp E2E with Cypress: "MM-T662 /join command for private channels""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T662 /join command for private channels</h1>
<div>
<div>
<h3>Steps </h3>/join private<br>–––––––––––––––––––––––––<ol><li>Ensure user is member of a private channel</li><li>From a different channel, type "<strong>/join</strong> [

[2020-10-01 12:12] saturninoabril opened #15699 "Write Webapp E2E with Cypress: "MM-T663 /open command for private channels""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T663 /open command for private channels</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Ensure user is member of a private channel</li><li>From a different channel, type "<strong>/open</strong> [private-channel]" and post (using the name

[2020-10-01 12:18] saturninoabril opened #15700 "Write Webapp E2E with Cypress: "MM-T561 Browser tab and team sidebar - direct messages don't add indicator on team icon in team sidebar (but do in browser tab)""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T561 Browser tab and team sidebar - direct messages don't add indicator on team icon in team sidebar (but do in browser tab)</h1>
<div>
<div>
<h3>Steps </h3>Browser tab and team sidebar - direct messages don't add indicator on te

[2020-10-01 12:18] saturninoabril opened #15701 "Write Webapp E2E with Cypress: "MM-T497 Desktop Notifications for empty string without mention badge""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T497 Desktop Notifications for empty string without mention badge</h1>
<div>
<div>
<h3>Steps </h3>Desktop Notifications for empty string without mention badge<br>–––––––––––––––––––––––––<ol><li>As user-1 ensure that Account Sett

[2020-10-01 12:18] saturninoabril opened #15702 "Write Webapp E2E with Cypress: "MM-T559 Browser tab and team sidebar unreads - Tab in background, viewing different team""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T559 Browser tab and team sidebar unreads -  Tab in background, viewing different team</h1>
<div>
<div>
<h3>Steps </h3>Browser tab and team sidebar unreads -  Tab in background, viewing different team<br />--------------------<br

[2020-10-01 12:18] saturninoabril opened #15703 "Write Webapp E2E with Cypress: "MM-T560 Browser tab and team sidebar unreads and mentions - Mention in different team""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T560 Browser tab and team sidebar unreads and mentions - Mention in different team</h1>
<div>
<div>
<h3>Steps  #1</h3>Browser tab and team sidebar unreads and mentions - Mention in different team<br>–––––––––––––––––––––––––<ol><

[2020-10-01 12:18] saturninoabril opened #15704 "Write Webapp E2E with Cypress: "MM-T556 Browser tab and team sidebar notification - no unreads/mentions""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T556 Browser tab and team sidebar notification - no unreads/mentions</h1>
<div>
<div>
<h3>Steps </h3>Browser tab and team sidebar notification - no unreads/mentions<br />--------------------<br />1. Ensure there are no unread mes

[2020-10-01 12:18] saturninoabril opened #15705 "Write Webapp E2E with Cypress: "MM-T556 Browser tab and team sidebar notification - no unreads/mentions""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T556 Browser tab and team sidebar notification - no unreads/mentions</h1>
<div>
<div>
<h3>Steps </h3>Browser tab and team sidebar notification - no unreads/mentions<br />--------------------<br />1. Ensure there are no unread mes

[2020-10-01 12:18] saturninoabril opened #15706 "Write Webapp E2E with Cypress: "MM-T558 Browser tab unreads - Tab in background, viewing same team, same channel""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T558 Browser tab unreads -  Tab in background, viewing same team, same channel</h1>
<div>
<div>
<h3>Steps </h3>Browser tab unreads -  Tab in background, viewing same team, same channel<br />--------------------<br />1. User A: On

[2020-10-01 12:50] saturninoabril opened #15707 "Write Mobile App E2E test with Detox: "MM-T3207 Leave private channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3207 Leave private channel</h1>
<div>
<div>
<h3>Steps </h3>Leave private channel<br>————————————————————————————<ol><li>On a private channel, tap channel name</li><li> Tap Leave Channel</li><li>Tap Yes on confirmation modal</li></ol><h3>Ex

[2020-10-01 12:50] saturninoabril opened #15708 "Write Mobile App E2E test with Detox: "MM-T3203 Create private channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3203 Create private channel</h1>
<div>
<div>
<h3>Steps  #1</h3>Create private channel<br>————————————————————————————<ol><li>From the channels list, tap on the "+" displayed to the right of "PRIVATE CHANNELS"</li><li>Type in a name, purpos

[2020-10-01 12:50] saturninoabril opened #15709 "Write Mobile App E2E test with Detox: "MM-T3206 Edit private channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3206 Edit private channel</h1>
<div>
<div>
<h3>Steps </h3>Edit private channel<br>————————————————————————————<ol><li>On a private channel where policy allows you to edit channel header etc., tap a channel name</li><li> Tap `Edit Channel`,

[2020-10-01 12:50] saturninoabril opened #15710 "Write Mobile App E2E test with Detox: "MM-T3200 Join existing channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3200 Join existing channel</h1>
<div>
<div>
<h3>Steps </h3>Join existing channel<br>————————————————————————————<ol><li>From the channels list, tap on the "+" displayed to the right of "PUBLIC CHANNELS" (not Private Channels)</li><li> Type

[2020-10-01 12:50] saturninoabril opened #15711 "Write Mobile App E2E test with Detox: "MM-T3205 Remove user from private channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3205 Remove user from private channel</h1>
<div>
<div>
<h3>Steps </h3>Remove user from private channel<br>————————————————————————————<br>Ideally, use two devices and watch on the removed user's app / browser as they're removed from the ch

[2020-10-01 12:50] saturninoabril opened #15712 "Write Mobile App E2E test with Detox: "MM-T3209 Add direct message from "+"""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3209 Add direct message from "+"</h1>
<div>
<div>
<h3>Steps  #1</h3>Add&nbsp;direct&nbsp;message&nbsp;from&nbsp;"+"<br>————————————————————————————<ol><li>&nbsp;From the channels list, tap on the "+" displayed to the right of "DIRECT MESSA

[2020-10-01 12:50] saturninoabril opened #15713 "Write Mobile App E2E test with Detox: "MM-T3204 Add user to private channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3204 Add user to private channel</h1>
<div>
<div>
<h3>Steps  #1</h3>Add user to private channel<br>————————————————————————————<ol><li>Tap the name of a private channel where you have permission to add members</li><li>&nbsp;Tap `Add Member

[2020-10-01 12:50] saturninoabril opened #15714 "Write Mobile App E2E test with Detox: "MM-T3202 Leave public channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3202 Leave public channel</h1>
<div>
<div>
<h3>Steps  #1</h3>Leave public channel<br>————————————————————————————<ol><li>Tap on "leave channel"</li></ol><h3>Expected</h3><ul><li>A message is displayed on screen asking whether or not you wa

[2020-10-01 12:50] saturninoabril opened #15715 "Write Mobile App E2E test with Detox: "MM-T3208 Archive public or private channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article>
<h1>MM-T3208 Archive public or private channel</h1>
<div>
<div>
<h3>Steps  #1</h3>Archive public or private channel<br>–––––––––––––––––––––––––––––––––––––<br><ol><li>Tap the channel header</li><li>Tap on 'archive channel'</li></ol><h3>Expected</

[2020-10-01 12:50] saturninoabril opened #15716 "Write Mobile App E2E test with Detox: "MM-T3201 Create public channel""
See our [documentation for Mobile app end-to-end testing with Detox](https://developers.mattermost.com/contribute/mobile/e2e/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left">MM-T3201 Create public channel</h1><div class="max-w-2xl mx-auto"><div><h3>Steps </h3><ol><li>From th

[2020-10-01 13:39] tharun208 commented on #12696
@hanzei no i am not

[2020-10-01 14:10] didithilmy commented on #15479
I'm interested to work on this one

[2020-10-01 14:27] Phizzard commented on #15690
Is it okay If I take this one?

[2020-10-01 14:30] karlmarxlopez commented on #13474
I'm interested in this issue.

[2020-10-01 14:31] didithilmy commented on #15479
I just realized that `components/permissions_gates/team_permission_gate` is already in TypeScript. Maybe you can close this one.

https://github.com/mattermost/mattermost-webapp/blob/master/components/permissions_gates/team_permission_gate/team_permission_gate.test.tsx

[2020-10-01 14:46] didithilmy commented on #15467
I'd like to work on this one

[2020-10-01 14:49] karthikmail commented on #15637
Hi @esethna , I am interested to try this.

[2020-10-01 14:54] amyblais commented on #15479
cc @devinbinnie

[2020-10-01 14:55] devinbinnie commented on #15479
You are correct @didithilmy! Thanks for pointing that out, closing.

[2020-10-01 14:55] #15479 closed

[2020-10-01 14:55] attiss commented on #15693
Hi there @mgdelacroix!
I'm interested in working on this issue, can I take it? :)

[2020-10-01 15:20] jasimmons commented on #15678
👋 @mgdelacroix I'd like to take a stab at this one!

[2020-10-01 15:21] mgdelacroix commented on #15678
Thanks for taking a look at it @jasimmons!

[2020-10-01 15:44] hmhealey commented on #15604
The changes were actually made back in 5.12, but I could have sworn they were made more recently. Regardless, the process for showing these previews is that the server hits the URL of any posted link to see what type of content it is, and then it tells the client if its an image or a previewable webpage with whatever information it was able to gather. YouTube videos are a special case of the regul

[2020-10-01 15:45] #15519 closed

[2020-10-01 16:01] hectorgabucio commented on #15716
I'll do this!

[2020-10-01 16:32] abdusabri commented on #15463
I would like to grab this one 🙂

[2020-10-01 16:32] saturninoabril commented on #15716
Welcome @hectorgabucio and thanks!

[2020-10-01 16:36] esethna commented on #15640
Thanks @g-ravity!

[2020-10-01 16:41] esethna commented on #15637
Awesome, thanks @karthikmail

Did you see the dependency of this feature on the permalink preview ticket: https://github.com/mattermost/mattermost-server/issues/15638

I'd recommend starting with the linked ticket before diving in here given you'll need to generate a permalink preview when a message is shared. Let me know your thoughts?

[2020-10-01 17:05] Mishrasubha commented on #15697
Can I work on this?

[2020-10-01 17:09] saturninoabril commented on #15697
Welcome @Mishrasubha and sure!

[2020-10-01 17:21] knrt10 commented on #15687
Would like to work on this

[2020-10-01 17:22] frionx commented on #15641
I will try to do this

[2020-10-01 17:58] karthikmail commented on #15637
@esethna Yes i did see that, please assign ticket: #15638 to me i will starting working on it.

[2020-10-01 17:59] karthikmail commented on #15638
@esethna Please assign this to me

[2020-10-01 18:05] esethna commented on #15638
Awesome, done! @karthikmail given this is an advanced ticket that may need some discussion, can I ask that you start by joining me in this channel on Mattermost: https://community.mattermost.com/core/channels/permalink-previews

I'll add some developers in there and we can use it as a forum to discuss the implementation of this feature.

For this project I'd recommend starting by investigating the

[2020-10-01 18:11] esethna commented on #15641
Awesome, thanks @frionx!

[2020-10-01 18:20] MathewtheCoder commented on #15639
I am interested in working on this issue. @esethna

[2020-10-01 18:53] muety commented on #15679
Got it, thanks! That makes things a lot clearer now.

[2020-10-01 19:22] karthikmail commented on #15638
Thank you @esethna , i will join that channel and get this started

[2020-10-01 19:30] mattermod opened #15719 "Remove usage of jQuery from searchable list components"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/searchable_channel_list.jsx (the list used i

[2020-10-01 19:30] mattermod opened #15720 "Remove usage of jQuery from file preview components"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/audio_video_preview.jsx
- components/code_pr

[2020-10-01 19:30] mattermod opened #15721 "Remove usage of findDOMNode and jQuery from LegacyChannelSidebar component"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

In addition to that, [`ReactDOM.findDOMNode`](https://reactjs.org/docs/react-dom.html#finddomnode) is considered to be an escape hatch in React for when

[2020-10-01 19:30] mattermod opened #15722 "Remove usage of findDOMNode from FileUpload component"
[`ReactDOM.findDOMNode`](https://reactjs.org/docs/react-dom.html#finddomnode) is considered to be an escape hatch in React for when you need to access the DOM directly, but it's generally preferred to use [Refs](https://reactjs.org/docs/refs-and-the-dom.html) for this instead since it has better support with newer React features such as the experimental concurrent mode.

The usage of `ReactDOM.fin

[2020-10-01 19:30] mattermod opened #15723 "Remove usage of findDOMNode from Analytics screens"
[`ReactDOM.findDOMNode`](https://reactjs.org/docs/react-dom.html#finddomnode) is considered to be an escape hatch in React for when you need to access the DOM directly, but it's generally preferred to use [Refs](https://reactjs.org/docs/refs-and-the-dom.html) for this instead since it has better support with newer React features such as the experimental concurrent mode.

The usage of `ReactDOM.fin

[2020-10-01 19:30] mattermod opened #15724 "Remove usage of findDOMNode from Create Team screens"
[`ReactDOM.findDOMNode`](https://reactjs.org/docs/react-dom.html#finddomnode) is considered to be an escape hatch in React for when you need to access the DOM directly, but it's generally preferred to use [Refs](https://reactjs.org/docs/refs-and-the-dom.html) for this instead since it has better support with newer React features such as the experimental concurrent mode.

The usage of `ReactDOM.fin

[2020-10-01 19:34] mprovenc commented on #15476
I can work on this

[2020-10-01 19:53] sirMackk commented on #15673
Hi, I'd be interested in working on this one.

[2020-10-01 20:07] vanya829 commented on #15470
Hi. Do you mind if I grab this one in progress?

[2020-10-01 21:20] sirMackk commented on #15670
I'm interested in this one, too :).

[2020-10-01 21:41] mgdelacroix commented on #15670
Sure @sirMackk! Assigned :)

[2020-10-01 22:09] arjunagl commented on #15249
@agnivade I had a look at the code during some spare time I got, and followed the execution path.  Just want to run some things through you based on your original comment

If we take the `model.User` object, wouldn't these be at the `api4` layer.  If we take a look at the route `api.BaseRoutes.User.Handle("", api.ApiSessionRequired(getUser)).Methods("GET")`, the method `getUser` is the location wh

[2020-10-01 22:19] hanzei commented on #11264
@esethna You are correct, thanks for double checking :+1:

[2020-10-01 22:51] Jonany commented on #15724
Hello, I'd like to be assigned to this ticket :smile:

[2020-10-01 23:28] esethna commented on #9451
@Roy-Orbison sorry for the delay, but thanks for your thoughts on the ticket!

Agree with your proposed solution and I've [updated the ticket to reflect that solution](https://mattermost.atlassian.net/browse/MM-12290). Would you or anyone else on this thread be interested in contributing this change for hacktoberfest?

[2020-10-01 23:30] mattermod opened #15728 "Add expanded syntax to allow for in-line embedded images to be collapsible"
Original report: https://github.com/mattermost/mattermost-server/issues/9451

Need to introduce the ability to collapse embedded images, since they currently don't have a title header and collapse/expand icons like image attachments or image link previews do. This ticket proposes adding a new extended syntax for embedded images that would allow the rendered image to be collapsible. Once implemente

[2020-10-02 00:29] esethna commented on #14200
Re-adding the up for grabs label given inactivity

[2020-10-02 00:36] esethna opened #15730 "Improve mobile emoji picker and UI interaction"
#### Proposed Solution

  * Use the new modal style we’re currently using for long-press post actions
  * Tapping on the ‘add reaction’ icon on any post opens up the emoji picker initially at half-height
  * Swiping the modal up will open it up in full-height (similar to Slack behaviour)
  * Tapping search also opens the modal at full-height and opens the keyboard
  * Typing in the search field tr

[2020-10-02 00:38] esethna commented on #14142
Closing as I reopened here: https://github.com/mattermost/mattermost-server/issues/15730

[2020-10-02 00:42] esethna commented on #11265
@AGMETEOR let us know if you're still working on this and I'll reassign to you :)

[2020-10-02 00:43] esethna commented on #11265
Thanks @AGMETEOR for completing this!

[2020-10-02 00:44] #11265 closed

[2020-10-02 00:45] #10145 closed

[2020-10-02 00:46] esethna commented on #10163
@ChrisDobby let us know if you're still working on this and I can reassign to you :)

[2020-10-02 01:03] shravmehta commented on #15721
Hello! I'd like to be assigned to this ticket.

[2020-10-02 01:24] gupsho commented on #15669
I can take this.

[2020-10-02 04:06] agnivade commented on #15249
Yep, you are on the right track!

The main thing to focus on is the `a.Srv().Store.User().Get`call. Now the `getUser` method does call `(*App).GetUser` which eventually calls the store method, but there are other places in the app layer which directly call the store method and use the user object. And there are places in the `api4` layer too where `(*App).GetUser` is called. We would need to look

[2020-10-02 05:52] sahil9001 commented on #15722
Hey! I would like to work on this issue!

[2020-10-02 08:02] #15285 closed

[2020-10-02 08:59] 93lykevin commented on #15723
Hello, can I work on this?

[2020-10-02 09:03] mgdelacroix opened #15731 "Add end to end tests to the "teamUsersAddCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `teamUsersAddCmdF` command, in the `commands/team_users.go` file. The exp

[2020-10-02 09:03] mgdelacroix opened #15732 "Add end to end tests to the "createChannelCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `createChannelCmdF` command, in the `commands/channel.go` file. The expec

[2020-10-02 09:03] mgdelacroix opened #15733 "Add end to end tests to the "archiveChannelsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `archiveChannelsCmdF` command, in the `commands/channel.go` file. The exp

[2020-10-02 09:03] mgdelacroix opened #15734 "Add end to end tests to the "listChannelsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `listChannelsCmdF` command, in the `commands/channel.go` file. The expect

[2020-10-02 09:59] Prescise commented on #15650
PR: https://github.com/mattermost/mattermost-webapp/pull/6609

[2020-10-02 10:00] Prescise commented on #15651
PR: https://github.com/mattermost/mattermost-webapp/pull/6609

[2020-10-02 10:01] Prescise commented on #15650
@esethna Hi can. you assign me this issue please ?

Thanks

[2020-10-02 10:18] hanzei commented on #15650
Sure :+1:

[2020-10-02 10:29] Prescise commented on #15650
Thanks

[2020-10-02 11:12] shtelzerartem commented on #15720
Hey, I'd like to work on this task :)

[2020-10-02 12:26] arvind0598 commented on #15719
@hmhealey I could take this but I have a few questions:
1. Shouldn't this be in the webapp repository instead of the server one?
2. What's the plan to replace findDomNode? I normally rely on the smooth-scroll CSS property to handle that for me.

[2020-10-02 13:13] MathewtheCoder commented on #15639
@esethna I have created a PR for this issue. Please check when you have time and give comments on it.
For the private messages i am currently not doing any pre-fill since it was not specified what to do in this scenario.

[2020-10-02 13:24] larkox opened #15740 "[MM-28980] Inconsistent behaviour in channel mentions in message attachments"
#### Summary
This ticket was originally filed on Jira: https://mattermost.atlassian.net/browse/MM-28980
When creating a channel mention link with `fmt.Sprintf("~%s", channel.Name)` in a message attachment, the behaviour is both inconsistent and buggy:
- If the link is contained in the Title field, it does not render as a link on mobile, but it works on webapp.
- If the link is contained in the Pre

[2020-10-02 13:37] #15400 closed

[2020-10-02 13:46] hmhealey commented on #15719
1. Yeah, that's a long-running debate on the team. On one hand, it's easier to group all the Help Wanted tickets in one place for visibility and for tickets that require changes to both repositories, but on the other hand, it is definitely weird to have web app tickets here. We have the Tech labels at least to help say which code has to change for things like that.
2. Using Refs to get a reference

[2020-10-02 14:52] MathewtheCoder commented on #15653
@mickmister I would like to work on this ticket. I will update here in case of any doubts.

[2020-10-02 15:03] arvind0598 commented on #15719
Ah yes that does make sense, thanks for that.

I'll try my hand at this issue.

[2020-10-02 15:17] vraravam commented on #15466
Let me take a stab at this - though I am a newbie to typescript.

[2020-10-02 15:53] jespino opened #15742 "Remove direct Store calls from the Api layer for the file api4/system.go"
We want to remove any direct access from the API layer into the Store layer, so
any call to the Store has to be done through the App layer.

This ticket is to transform all the direct calls to the store (search for
`Srv().Store....`) in the file api4/system.go.

This can imply using an existing `App` method, or creating a whole new `App`
method to access the store in that way.

The Api layer is pl

[2020-10-02 15:53] jespino opened #15743 "Remove direct Store calls from the Api layer for the file api4/system_local.go"
We want to remove any direct access from the API layer into the Store layer, so
any call to the Store has to be done through the App layer.

This ticket is to transform all the direct calls to the store (search for
`Srv().Store....`) in the file api4/system_local.go.

This can imply using an existing `App` method, or creating a whole new `App`
method to access the store in that way.

The Api layer

[2020-10-02 15:53] jespino opened #15744 "Remove direct Store calls from the Api layer for the file api4/user.go"
We want to remove any direct access from the API layer into the Store layer, so
any call to the Store has to be done through the App layer.

This ticket is to transform all the direct calls to the store (search for
`Srv().Store....`) in the file api4/user.go.

This can imply using an existing `App` method, or creating a whole new `App`
method to access the store in that way.

The Api layer is plac

[2020-10-02 15:53] jespino opened #15745 "Remove direct Store calls from the Api layer for the file api4/channel.go"
We want to remove any direct access from the API layer into the Store layer, so
any call to the Store has to be done through the App layer.

This ticket is to transform all the direct calls to the store (search for
`Srv().Store....`) in the file api4/channel.go.

This can imply using an existing `App` method, or creating a whole new `App`
method to access the store in that way.

The Api layer is p

[2020-10-02 16:14] gupsho commented on #15745
I can take this.

[2020-10-02 16:14] jespino commented on #15745
Great!, Thanks @gupsho!

[2020-10-02 16:27] zaviermiller commented on #15744
Hey, this issue looks simple enough. Can I get it assigned?

[2020-10-02 16:29] jespino commented on #15744
Sure! go ahead @zaviermiller. Let me know if you need any help! :)

[2020-10-02 16:34] jasonblais commented on #15352
@harshilsharma63 @chetanyakan @pradeepmurugesan @darklord19 @nathanaelhoun

Given some of the above commands are not supported by CircleCI API, the requirements have been updated. They were previously shared in CircleCI channel (https://community.mattermost.com/core/channels/plugin-circleci), but to ensure everyone is clear on the updated requirements, please see below for the updates.

If any que

[2020-10-02 16:35] jasonblais commented on #15352
There were also some questions about what happens if two teams submit a different plugin:

1. We'll evaluate submissions on a first-come first-serve basis - if the first submission meets the required criteria, they win the bounty
2. We'll evaluate a project in the state that it was submitted at.
 - Example: If a project is submitted on Oct 4, features added after Oct 4 won't be considered (unless

[2020-10-02 16:40] mickmister commented on #15653
Great! Thanks @MathewtheCoder!!

[2020-10-02 17:09] #15620 closed

[2020-10-02 17:27] arvind0598 commented on #15719
@hmhealey I'm not even sure where this string ref is being used.
I've searched through the entire repo and I might be missing something now.

[code]

Isn't it safe to delete this outright?

[2020-10-02 17:30] agnivade commented on #15248
Hey @KrishnaSindhur - I am going to unassign this to let others pick it up. But let me know if you are still working on it.

[2020-10-02 18:03] chrysillala commented on #15642
Hi, I would like to work on this issue. Could you please assign and guide me? Thanks

[2020-10-02 18:13] frionx commented on #15641
Ok so I figured out a way to do the progressive image loading on a local site of mine, now I have to figure out how to integrate it with mattermost.

[2020-10-02 18:17] frionx commented on #15641
Also an issue I have is I can't view the demo / prototype

[2020-10-02 19:05] ataboo commented on #15742
May I give this a shot?

[2020-10-02 19:07] esethna commented on #15641
@frionx sorry about that try again, I've opened the permissions on the prototype

[2020-10-02 19:08] esethna commented on #15641
@frionx feel free to ask in our contributors channel if you need help: https://community.mattermost.com/core/channels/tickets

[2020-10-02 19:10] esethna commented on #15642
Hi @chrysillala, ticket is yours! Feel free to ask in our contributors channel if you need help:

https://community-daily.mattermost.com/core/channels/tickets

[2020-10-02 20:05] sheetalsingala commented on #15743
Can I take this up ?

[2020-10-02 20:06] jespino commented on #15743
Sure, go ahead @sheetalsingala. Thanks! 🎉

[2020-10-02 20:59] shtelzerartem commented on #15720
@hmhealey Am I right, in `components/code_preview.jsx` it's needed to replace it with axios request insted of ajax?

[2020-10-02 21:59] ataboo commented on #15742
Thanks Amy, I'll have a look.

[2020-10-03 00:51] shihanng commented on #15671
Hi, I would love to help with this :raising_hand_man:

[2020-10-03 07:10] vraravam commented on #15474
I would like to take a stab at this

[2020-10-03 09:11] ChrisDobby commented on #10163
I can't believe I forgot about this! If it's OK I'd like to finish this off @esethna ?

[2020-10-03 09:38] #15742 closed

[2020-10-03 09:41] #15465 closed

[2020-10-03 09:43] mgdelacroix commented on #15671
hi @shihanng! sure thing, I'll assign the ticket to you :)

[2020-10-03 10:30] mattermod opened #15755 "Add autocomplete data to /join"
`/join` should have autocomplete data for it’s single argument, the channel. A positional argument could be used as autocomplete list for channels is not implemented yet.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community

[2020-10-03 11:53] Ayanrocks commented on #15473
I would like to work on this

[2020-10-03 12:38] mgdelacroix opened #15758 "Add end to end tests to the "unarchiveChannelsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `unarchiveChannelsCmdF` command, in the `commands/channel.go` file. The e

[2020-10-03 13:00] mattermod opened #15759 "Ephemeral posts from bot accounts show wrong username in RHS"
Instead the username `System` is shown. This can be reproduced using the `v2.0.0-rc1` of the GitHub plugin and typing `/github help` in the RHS.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermos

[2020-10-03 13:21] gittigger commented on #15604
Thanks. I can only think that this is environmental then. I'm working through a list of possible culprits I can think of and will report back when I have a better handle on this...

[2020-10-03 14:25] rhetoricalraj commented on #15755
Can I pick up this?
And I am new to this.

[2020-10-03 15:33] e-chip opened #15760 "User search in MySQL store does not use full text search index"
#### Summary
Our team is using mattermost with mysql storage. And we found that we cannot find users by non-first word in the field.
For example if `Firstname` field is `'Maria Eleni'` we cannot find her by `'Eleni'` query.
`SqlUserStore` creates full text search index for all search modes.
But as i can see from the code user search in MySQL store does not use full text search index.

#### Steps t

[2020-10-03 15:35] e-chip commented on #15760
Also i think these issues in Jira are related to this:
https://mattermost.atlassian.net/browse/MM-5466
https://mattermost.atlassian.net/browse/MM-8423

[2020-10-03 17:10] ataboo commented on #15472
May I take this one?

[2020-10-03 18:34] sirMackk commented on #15672
I can take this one, too. 4th times the charm :)

[2020-10-03 18:34] mgdelacroix commented on #15672
You're on a strike @sirMackk! All yours :)

[2020-10-03 22:33] Leryan commented on #14434
i had a quick look on that issue, here are some resources that may be useful:

https://bugs.mysql.com/bug.php?id=74042

following a link in the latest comment: https://dev.mysql.com/doc/refman/8.0/en/fulltext-fine-tuning.html#fulltext-modify-character-set

[2020-10-04 01:15] mattermod opened #15761 "Step descriptions overlap each over in the RHS"
Using the [Incident Response Plugin](https://github.com/mattermost/mattermost-plugin-incident-response/), the descriptions of the checklist items overlap on top of each other in the RHS if the "X" button is not clicked:

![image](https://user-images.githubusercontent.com/1023171/95081925-a7ad4400-06f0-11eb-9177-8def2acd2c4c.png)

Let’s tweak the behaviour so that when clicking outside the descript

[2020-10-04 02:04] jasonblais commented on #15247
Opening this issue back up for grabs.

For a start of a PR, take a look at https://github.com/mattermost/mattermost-server/pull/15503

[2020-10-04 02:57] #14504 closed

[2020-10-04 04:42] #15124 closed

[2020-10-04 06:47] jespino commented on #15474
Great! Thanks @vraravam!

[2020-10-04 07:52] dariodsa commented on #15761
I will work on this issue.

[2020-10-04 08:07] dudupopkhadze commented on #15469
Can I take this up ?

[2020-10-04 08:17] jespino commented on #15469
Sure, go ahead! Thanks @dudupopkhadze!

[2020-10-04 10:04] shtelzerartem commented on #15720
@hmhealey Also during writing e2e test with cypress found out that it's needed to fix current https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cypress.json#L13-L14  because of moving db from mysql to postgresql:
[code]
Wanted to ask u if I sould include this fix into my PR?

[2020-10-04 10:09] Leryan commented on #15248
:wave: i can’t use the trace file using go tool pprof. may i ask how those traces were generated? i see benchmark code in `lru_test.go`, should i use that?

[2020-10-04 11:34] Leryan commented on #15248
interesting reading: https://dgraph.io/blog/post/caching-in-go/

[2020-10-04 13:36] shreyaa-sharmaa commented on #15706
Hey, I would like to work on it. Can I get assigned to this?

[2020-10-04 14:22] agnivade commented on #15248
Hey @Leryan - this is great, thank you! I agree that striped mutexes is not a silver bullet for everything. The performance highly depends on the workload and therefore we would need to run benchmarks with the workload "specific" to Mattermost's access patterns.

Your initial implementation looks solid. And we would need to run some load tests using https://github.com/mattermost/mattermost-load-te

[2020-10-04 14:42] mdshoeb01 commented on #15755
Can anyone explain the reason for adding this feature, When we already have command + K (jump) option to search and join channels.

[2020-10-04 14:51] Leryan commented on #15248
@agnivade thanks for your feedback :)

i updated the code to use hashmap, with short runs i can’t find a significant improvement from xxhash lib. i left the benchmarking code for the record, tell me if i should remove it :)

two questions:

 * what false sharing? you mean the distribution of keys across buckets?
 * padding to the structs: i don’t understand that one :)

[2020-10-04 15:57] Leryan commented on #15248
[code]

Benchmarking the libs alone makes a clear difference, but once used in the real code, doesn’t seem to make any diff.

[2020-10-04 16:14] Leryan commented on #15248
commit 684c69b:

[code]

[2020-10-04 16:20] Leryan commented on #15248
Also, can i be assigned on the issue? I will take it to completion.

[2020-10-04 16:35] simross commented on #15731
I would like to work on this issue.

[2020-10-04 16:35] mgdelacroix commented on #15731
Thanks @simross! I'll assign it to you :slightly_smiling_face:

[2020-10-04 19:15] saturninoabril commented on #15720
Hello @shtelzerartem, please send separate PR to fix default DB for Cypress.

As I mentioned in [community channel](https://community.mattermost.com/core/pl/b7wufz1wopyb5nr3xptz14fnse), a workaround is to pass env variables so your not block working on this issue.

[code]

[2020-10-04 19:18] saturninoabril commented on #15706
Sure and thanks @shreyaa-sharmaa!

[2020-10-04 19:30] jakubnovak998 commented on #15458
Hey, I can work on this.

[2020-10-04 19:32] jakubnovak998 commented on #15454
Hey, I can work on this.

[2020-10-04 19:32] fireynis commented on #14002
I am looking into getting into this project and this seems like a good way to poke around, could I claim this issue to do it?

[2020-10-04 19:38] jakubnovak998 commented on #15462
Hey, I can work on this.

[2020-10-04 20:46] shtelzerartem opened #15766 "Fix cypress env for database connection"
#### Summary
After moving from MySQL to PostgreSQL e2e cypress tests are crashing.
![alt text](https://community.mattermost.com/files/9kxgp7q1ipgi9bzakdny9cggch/public?h=lwi7iDdRUL6BhTqG319bhAGJ-VKB-Ilvzec2MeeO4Bg)
!
#### Possible fixes
It's only needed to change cypress.js env setup as @saturninoabril noticed in Developers' chat
 https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cyp

[2020-10-04 20:49] jakubnovak998 commented on #15458
These files are already in tsx/ts

[2020-10-04 21:11] gittigger commented on #15604
Okay, so after going down many, many, many, dead-ends I finally am getting to the bottom of this.

Google IS temporarily blocking the access to YouTube from my server (on a Linode)
`curl http://www.youtube.com/watch?v=qj_NluriLs0
<HTML><HEAD><meta http-equiv="content-type" content="text/html;charset=utf-8">
<TITLE>302 Moved</TITLE></HEAD><BODY>
<H1>302 Moved</H1>
The document has moved
<A HREF="ht

[2020-10-04 22:13] #15766 closed

[2020-10-04 22:43] marcelo-cardozo commented on #15759
HI there, I am not able to reproduce this issue would you mind to give more information about it?
Checked using
- Server & Webapp: v5.27.0
- Github Plugin: v2.0.0-rc1

![image](https://user-images.githubusercontent.com/62389211/95028849-d936f880-0679-11eb-9f08-040fd5b3c8d9.png)

[2020-10-05 01:41] camgraff commented on #15732
I can take this.

[2020-10-05 02:17] laur89 opened #15767 "containerized mattermost fails to start"
#### Summary
    docker run--name='mattermost' -p '8065:8065/tcp' -v '/host/opt/mattermost':'/mattermost':'rw' 'mattermost/mattermost-team-edition:master'

Running container created w/ command above causes container start to fail with

#### Steps to reproduce
- run container as described in Summary above

#### Expected behavior
Container starts up successfully

#### Observed behavior (that appears

[2020-10-05 04:13] mgdelacroix commented on #15732
Thanks @camgraff! Assigned the ticket to you :slightly_smiling_face:

[2020-10-05 05:13] justintucker commented on #15658
@esethna Are all mattermost issues listed under this repo? I'm not seeing anything in [webapp repo](https://github.com/mattermost/mattermost-webapp/).

[2020-10-05 05:50] knrt10 commented on #15687
I'm sorry I am quite busy at the moment so un assigning myself. If anyone else wants to take it please go ahead.

[2020-10-05 05:53] mgdelacroix commented on #15687
Thanks for the heads up @knrt10 🙂

[2020-10-05 06:05] agnivade commented on #15248
I mean the problem when both structs go in the same cache line, which leads to cache coherence issues, essentially nullifying the thing which we want to achieve by striping the locks.

Here are some materials that you can read up on:

- https://www.youtube.com/watch?v=WDIkqP4JbkE
- https://en.wikipedia.org/wiki/False_sharing
- https://alidg.me/blog/2020/5/1/false-sharing

You'll need to run the be

[2020-10-05 06:44] Prescise commented on #15399
@amyblais Hello I'm working on another issue linked to a PR I've made, I can let the ticket to @g-ravity if you want to work on it. Let me know there's no pb for me

[2020-10-05 06:52] Leryan commented on #15248
ah understood! interesting topic ;)

[2020-10-05 07:18] prithvijit-dasgupta commented on #15555
Hey @amyblais @hanzei tried this.. do check it out please https://github.com/mattermost/mattermost-webapp/pull/6629

[2020-10-05 07:50] apollo13 opened #15769 "Bots have standard notification properties set and get notified via Email"
#### Summary
Bot accounts get email notification delivered to `botaccountname@localhost`

#### Steps to reproduce
I am not 100% sure if this is actually the way to reproduce, but it seems simple enough:
 * Install the gitlab mattermost plugin and activate it
 * Open a private channel with the gitlab bot
 * Send a normal text message to it (no slash command)
 * Wait till the mail notification watch

[2020-10-05 08:14] apollo13 commented on #15769
Please note that the notification is not triggered immediately (I saw a 15 minute delay or so).

[2020-10-05 08:42] ethervoid commented on #14434
@Leryan thank you very much for doing some research and contribute to this issue.

Sadly, given the heterogeneity of our users, even though they're using the same database, we are trying to avoid any change in the database. We're supporting multiple kinds of versions and also we're supporting MariaDB and even though this change is supported in all the databases we know that making that kind of cha

[2020-10-05 08:47] Leryan commented on #14434
@ethervoid hello :) i didn't mention it but yeah, such changes have a lot of potential to create undesirable side effects and tbh i didn't even try to actually change anything in my test database 😅

however it seems that fulltext search cannot be used in order to match "words" containing special chars without doing this kind of shenanigans, this is what i wanted to share ^^

i may continue this to

[2020-10-05 08:49] ethervoid commented on #14434
@Leryan Great! Thank you for sharing, this would pave the way for any future interested contributor in the case is not you :)

[2020-10-05 08:52] prithvijit-dasgupta commented on #15687
@mgdelacroix I would like to work on this issue.

Running `mmctl team list --user USERNAME` should list the team information for a `USERNAME` am I correct in assuming that?

[2020-10-05 11:21] ChristianCiach commented on #15012
Same issue since recent update to Mattermost 5.26.2 and using Firefox 81.0.1. Text input is also sluggish when using Chrome, but not as bad as with Firefox. Unfortunately I don't know which version of Mattermost we were using before the update that introduced the issue.

For me, it probably has nothing to do with highlighted code, because this issue presents itself in every chat, even those withou

[2020-10-05 12:37] didithilmy commented on #15451
I'd like to work on this one

[2020-10-05 13:09] amyblais commented on #15584
### v5.28 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.28.0-rc1/mattermost-team-5.28.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3906/files)

[2020-10-05 13:30] mattermod opened #15771 "Support --pre-release in matterbuild's cutplugin command"
We often use [matterbuild](https://github.com/mattermost/matterbuild)'s [cutplugin](https://github.com/mattermost/matterbuild/blob/9222d518dbcf0b4a9658a70083cc7f3417fbed34/server/plugin_release.go#L38) command to cut plugin releases, i.e.:

```/mb cutplugin --repo mattermost-plugin-incident-response --tag v0.7.0-alpha.1```

However, by default, this results in that version being labelled as the mo

[2020-10-05 13:35] amyblais commented on #15755
@hanzei For question above ^

[2020-10-05 13:38] amyblais commented on #15458
@devinbinnie ^

[2020-10-05 13:38] amyblais commented on #15759
@hanzei ^

[2020-10-05 13:45] mattermod opened #15772 "Show more user details in share playbook auto-complete"
Today, the autocomplete for playbook membership shows just usernames:

![](image-20201005-132357.png|width=376,height=254)

Let’s update this to show profile pictures, and the full name or username according to the current user’s display configuration:

![](image-20201005-132443.png|width=462,height=574)

There is probably an opportunity to unify with the component in the RHS that already does thi

[2020-10-05 13:45] mattermod opened #15773 "Improve getChannels query semantics"
Within the incident response plugin, the [getChannels](https://github.com/mattermost/mattermost-plugin-incident-response/blob/2d2884ee1473243589206f14c556868b6a77adcc/server/api/incidents.go#L548) endpoint fetches all incidents for the team, and then extracts the corresponding channel IDs as a slice for relay back to the client.

Improve this API by instead extending the SQL Store to just query fo

[2020-10-05 13:58] amyblais commented on #15760
@e-chip Thanks, I'm sure our team would be happy with a fix for this if you're interested to open a pull request.

[2020-10-05 14:00] mattermod opened #15775 "Remove usage of button-bg-## CSS variables"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15776 "Remove usage of center-channel-color-## CSS variables from buttons and popovers"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15777 "Remove usage of center-channel-color-## CSS variables from search and autocomplete"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15778 "Remove usage of center-channel-color-## CSS variables from modals"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15779 "Remove usage of center-channel-color-## CSS variables from post components"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15780 "Remove usage of center-channel-color-## CSS variables from header components"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15781 "Remove usage of mention-highlight-bg-## CSS variables"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] mattermod opened #15782 "Remove usage of sidebar-text-## CSS variables"
Custom themes were added to Mattermost was added as a hackathon project a few years ago, but we never had a chance to go back and implement the feature properly. The current version relies on targeting CSS nodes from [`Utils.applyTheme`](https://github.com/mattermost/mattermost-webapp/blob/28f2ac8c05323cbd0fa1ab26aec92eb1e2079cef/utils/utils.jsx#L500) which leads to a lot of problems such as:

- T

[2020-10-05 14:00] amyblais commented on #15769
@apollo13 What Mattermost server version are you on?

[2020-10-05 14:11] devinbinnie commented on #15458
@amyblais @jakubnovak998 Cool! Thanks for letting us know! Closing.

[2020-10-05 14:11] #15458 closed

[2020-10-05 14:15] mattermod opened #15785 "Duration is incorrect if the incident is longer than a month"
In the [Incident Response Plugin](https://github.com/mattermost/mattermost-plugin-incident-response/], the Duration component only checks for the number of days being greater than zero, but <this number is always in \[0,30>|https://momentjs.com/docs/#/durations/days/) so it resets to 0 days as soon as 1 month passes. Let’s use `asDays` instead so that we always display a count of days (never month

[2020-10-05 14:16] dudupopkhadze commented on #15464
Can i get this one?

[2020-10-05 14:25] dudupopkhadze commented on #15780
Can i get this one?

[2020-10-05 14:30] mattermod opened #15786 "Implement IncidentsService"
Help flesh out the Go client API for the incidents service. Today, the [implementation](https://github.com/mattermost/mattermost-plugin-incident-response/blob/2d2884ee1473243589206f14c556868b6a77adcc/client/incidents.go#L83-L175) of that client is only partially implemented:

[code]

The `IncidentService` struct has access to a `Client` and underlying `*http.Client`. Implement the remaining method

[2020-10-05 14:30] Raj-Datta-Manohar commented on #15779
I would like to work on this!

[2020-10-05 14:31] lieut-data commented on #15786
@christian-lim, if you're still interested, I've filed this ticket as the counterpart to https://github.com/mattermost/mattermost-server/issues/15412.

[2020-10-05 14:32] christian-lim commented on #15786
Awesome, thanks for updating me. I'll take the ticket!

[2020-10-05 14:46] lieut-data commented on #15786
Heads up that, in parallel, we're actively revisiting the definition of the REST API as we converge on v1.0.0 of this particular product. This shouldn't block you, since we can own applying any necessary changes retroactively as needed before we lock into the Go module semantic version requirements :)

[2020-10-05 14:49] KuSh commented on #15782
Hello, I'll try to take care of this one :+1:

[2020-10-05 14:54] arc9693 commented on #15775
@mattermod @hmhealey
I would like to take this up. I am a first-time contributor to this org, and want to start here. I have built the app locally. Might need some help along the way.
Can you please assign me this?

[2020-10-05 15:05] hmhealey commented on #15780
Yep! Let us know if you have any questions

[2020-10-05 15:07] hmhealey commented on #15779
Great! Let me know if you have any questions.

[2020-10-05 15:10] hmhealey commented on #15782
Awesome. Let us know if you have any questions.

[2020-10-05 15:18] hmhealey commented on #15775
Yep, you can have it. Let us know if you have any questions.

[2020-10-05 15:30] KuSh commented on #15781
Hello, I'll try to take care of this one :+1:

[2020-10-05 16:10] jmakhack commented on #15785
Hi @mattermod, I'm interested in picking this issue up.

[2020-10-05 16:20] abdusabri commented on #15461
I can pick this one up.

@devinbinnie the component should be `new_message_separator`, not `new_messages_below` as written in the issue title, right?

![image](https://user-images.githubusercontent.com/25670682/95105271-347af080-0737-11eb-9500-19e6200c888d.png)

[2020-10-05 16:29] devinbinnie commented on #15461
Huh, this is weird. Apparently `new_messages_below` was removed at some point, so we won't need to convert it to TypeScript.
BUT, there's no ticket anywhere for `new_message_seperator`...
Not sure how that happened.

Anyways, @abdusabri you can definitely work on `new_message_seperator`. I'll rename this and the JIRA ticket to fit.

[2020-10-05 16:42] apollo13 commented on #15769
@amyblais Oh sorry, not sure how I missed that. I have whatever the gitlab omnibus installer installs, which currently is:
[code]

[2020-10-05 17:19] bhargav50 commented on #15644
I would like to work on this one...

[2020-10-05 18:26] cinlloc commented on #15714
:hand: I would like to work on this.

[2020-10-05 18:30] bhargav50 commented on #15644
@enahum  which server is having this code where it will send the preview image in post metadata?

[2020-10-05 18:31] enahum commented on #15644
@bhargav50 I believe is 5.28 but @esethna should confirm

[2020-10-05 18:44] esethna commented on #15644
@bhargav50 it's merged into master branch of the server repo 3 days ago, but didn't make the v5.28 release. So it will be v5.29

https://github.com/mattermost/mattermost-server/pull/15376

[2020-10-05 18:49] esethna commented on #15658
@justintucker yes almost all the open help wanted issues are listed here in the server repository, there are different labels for code and feature area involved for each.

Were you interested in taking on this issue?

[2020-10-05 18:53] esethna commented on #10163
Absolutely, thanks @ChrisDobby!

[2020-10-05 18:58] anchepiece commented on #15778
Hi :wave:,

Thanks mattermost team for open sourcing such a great project.
I'd like to attempt this change.

[2020-10-05 18:59] avinashdhinwa commented on #15773
I would like to pick this up

[2020-10-05 19:00] avinashdhinwa commented on #15734
@mgdelacroix I would like to pick this up

[2020-10-05 19:05] avinashdhinwa commented on #15771
I would like to work on this

[2020-10-05 19:06] avinashdhinwa commented on #15733
I would like to work on this

[2020-10-05 19:10] attiss commented on #15758
Hi @mgdelacroix,

I'd be happy to work on this.

[2020-10-05 19:23] avinashdhinwa commented on #12696
@hanzei can I work on this issue?

[2020-10-05 19:31] Leryan commented on #15248
@agnivade i’m tinkering a little bit on another branch (here: https://github.com/Leryan/mattermost-server/pull/2/files) in order to minimize the "noise" generated by the benchmark itself, encoding values and so on… i still kept the calls to `set` and `get` functions to keep the load generated by the linked lists manipulations.

however i’m currently stuck when it comes to using `perf` to detect an

[2020-10-05 20:15] mattermod opened #15793 "RN: Incorrect display name used in post header "Commented on" text for bots/webhooks"
Not a regression.

See [this thread](https://community-daily.mattermost.com/core/pl/9g19zbawubrr7kwmd1t5eretxr). On the webapp it shows "Fastlane" correctly, while on the mobile app the display name is "Christopher Speller".

Web:
![web](https://user-images.githubusercontent.com/16541325/95229427-da466200-0800-11eb-8145-05c2331798ed.png)

Mobile:
![mobile](https://user-images.githubusercontent.com

[2020-10-05 20:33] #15516 closed

[2020-10-05 20:34] jecepeda commented on #15676
Hi @mgdelacroix !! can I take this issue?

Thanks a ton

[2020-10-05 20:36] haardikdharma10 commented on #15777
Hey @hmhealey, can you assign this to me? I would love to start working on it:)

[2020-10-05 20:37] haardikdharma10 commented on #15776
@hmhealey, this one too, sorry for the trouble though:)

[2020-10-05 20:39] pranavtharoor commented on #15677
@mgdelacroix I would like to work on this

[2020-10-05 21:03] hmhealey commented on #15604
What if you try `curl https://www.youtube.com/watch?v=qj_NluriLs0`? Perhaps the redirect is just happening because of the http vs https? I don't think that should matter for link previews though since we've tested having them run through link shorteners and such in the past.

[2020-10-05 21:10] gittigger commented on #15604
Thanks, but no it's not that. If you look at where the document has moved to you will see the problem. It was happening on secure connections too. That was just one example

[2020-10-05 21:17] gittigger commented on #15604
I _think_ I know what it is...
The DNS resolver uses systemd which does a lookup on the localhost which is configured on Linodes to be multiple servers for both IPv4 and IPv6. When I checked yesterday it seemed to be resolving youtube.com and youtu.be links to IPv6 addresses. So, it seems that Google is temporarily blacklisting servers hitting YouTube URLs over IPv6. I have now removed the /etc/re

[2020-10-05 21:20] KuSh commented on #15460
Hello, I'll try to take care of this one :+1:

[2020-10-05 22:42] Willyfrog opened #15796 "Migrate string-refs to functional ones: this.refs.textbox"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15797 "Migrate string-refs to functional ones: this.refs.headerOverlay"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15798 "Migrate string-refs to functional ones: this.refs['pdfCanvas' + pageIndex]"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15799 "Migrate string-refs to functional ones: this.refs.video"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15800 "Migrate string-refs to functional ones: this.refs.rhspostlist"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15801 "Migrate string-refs to functional ones: this.refs.icon_url.value"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15802 "Migrate string-refs to functional ones: this.refs.textContainer"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15803 "Migrate string-refs to functional ones: this.refs.dotMenu"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15804 "Migrate string-refs to functional ones: this.refs.addReactionButton"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:42] Willyfrog opened #15805 "Migrate string-refs to functional ones: this.refs.newtokendescription"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-05 22:50] jufab commented on #15740
FYI, my PR is only for the webapp issue

[2020-10-05 23:10] mdabydeen commented on #15805
I can this one.

[2020-10-05 23:18] amyblais commented on #15687
Assigning to @prithvijit-dasgupta, but waiting for Miguel's response as well in the meantime.

[2020-10-05 23:43] spiritbro1 commented on #15804
hello i want to work on this could you assign me?

[2020-10-05 23:53] jufab commented on #15803
Could you assign it to me?

[2020-10-06 00:28] lieut-data commented on #15604
That's an incredible amount of investigation, @gittigger! Thanks for sharing your solution, in case we happen to run across this again -- I'll close this ticket for now, but feel free to re-open if you need more help :)

[2020-10-06 00:28] #15604 closed

[2020-10-06 00:39] sridhar02 commented on #15802
can I work on this?

[2020-10-06 00:43] sridhar02 commented on #15796
can I work on this?

[2020-10-06 01:28] Spotts9 commented on #15801
Would like to try and tackle this one

[2020-10-06 01:37] mathiasvr commented on #15800
I would like to take this one up.

[2020-10-06 02:09] spiritbro1 commented on #15804
hello i have create pull request please check https://github.com/mattermost/mattermost-webapp/pull/6647

[2020-10-06 02:48] anchepiece commented on #13687
Hi,

If this issue is available, I can help with the conversion.

[2020-10-06 02:50] sowmiyamuthuraman commented on #15797
I would like to work on this

[2020-10-06 03:53] agnivade commented on #15248
Please use benchstat and a quite machine (no browser, no editor) to run and compare benchmarks. See https://www.youtube.com/watch?v=oE_vm7KeV_E for more details.

Regarding `perf`, there are lots of resources online. Here are some I found googling "perf tutorial":
- https://perf.wiki.kernel.org/index.php/Tutorial
- http://www.brendangregg.com/perf.html

You'd need to compile the test to a binary.

[2020-10-06 03:57] agnivade commented on #15248
Also, I see that you are only comparing CPU times from the benchmarks. Have you also got a trace profiles and compared the two? According to my comment here (https://github.com/mattermost/mattermost-server/issues/15248#issuecomment-703263116), I thought we were planning to do that? That would be the first step IMO, to see exactly how much lock contention is reduced. And then move to check for fals

[2020-10-06 04:57] VishalS99 commented on #15799
Hey, I would like to take it up!

[2020-10-06 05:10] avinashdhinwa commented on #15771
@lieut-data Wanted to understand that would we want to say explicitly `--pre-release` or `--release`, I don't have any context here I mean what would release do but I believe having `--pre-release` by default will never hurt.

[2020-10-06 06:33] ArturBa commented on #15798
I'm interested in this. Could you sign me for this task?

[2020-10-06 06:49] ArturBa commented on #15798
I'm interested in this. Could you sign me for this task?

[2020-10-06 06:58] avinashdhinwa commented on #15771
Ofcourse this depends on if:
- we publish more of `pre-release`s of `release`s
- we want to have the same params as github api

[2020-10-06 08:00] mgdelacroix commented on #15687
Hi @prithvijit-dasgupta! Thanks for working on this issue! :slightly_smiling_face:

Yes, your assumption is correct. The idea of this change is to enable a user with the right permissions to list all the teams where `--user USERNAME` is a member.

[2020-10-06 08:01] mgdelacroix opened #15808 "Add end to end tests to the "makeChannelPrivateCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `makeChannelPrivateCmdF` command, in the `commands/channel.go` file. The

[2020-10-06 08:01] mgdelacroix opened #15809 "Add end to end tests to the "modifyChannelCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `modifyChannelCmdF` command, in the `commands/channel.go` file. The expec

[2020-10-06 08:01] mgdelacroix opened #15810 "Add end to end tests to the "renameChannelCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `renameChannelCmdF` command, in the `commands/channel.go` file. The expec

[2020-10-06 08:01] mgdelacroix opened #15811 "Add end to end tests to the "searchChannelCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `searchChannelCmdF` command, in the `commands/channel.go` file. The expec

[2020-10-06 08:01] mgdelacroix opened #15812 "Add end to end tests to the "moveChannelCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `moveChannelCmdF` command, in the `commands/channel.go` file. The expecte

[2020-10-06 08:03] mgdelacroix opened #15813 "Add end to end tests to the "deleteChannelsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `deleteChannelsCmdF` command, in the `commands/channel.go` file. The expe

[2020-10-06 08:03] mgdelacroix opened #15814 "Add end to end tests to the "channelUsersAddCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `channelUsersAddCmdF` command, in the `commands/channel_users.go` file. T

[2020-10-06 08:32] mgdelacroix commented on #15809
Blocking due pending ticket. Will reopen when the required local endpoint is merged

[2020-10-06 08:32] #15809 closed

[2020-10-06 08:33] mgdelacroix commented on #15808
Blocking due pending ticket. Will reopen when the required local endpoint is merged

[2020-10-06 08:33] #15808 closed

[2020-10-06 08:41] mgdelacroix opened #15815 "Add end to end tests to the "channelUsersRemoveCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `channelUsersRemoveCmdF` command, in the `commands/channel_users.go` file

[2020-10-06 08:41] mgdelacroix opened #15816 "Add end to end tests to the "createCommandCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `createCommandCmdF` command, in the `commands/command.go` file. The expec

[2020-10-06 08:53] Leryan commented on #15248
For sure. The only Linux machine i have currently is a small VPS but in a few days i’ll have a physical machine.

Fortunately i found those resources long ago :) `perf` is a big tool though, finding the right information(s) is more complicated than a google search haha :)

Yep, did that, got some expected results.

I generated some traces, yes, and nothing special came from. **But** that was **bef

[2020-10-06 09:06] #15451 closed

[2020-10-06 09:06] Willyfrog commented on #15798
of course! Thanks for taking this one

[2020-10-06 09:07] Willyfrog commented on #15797
Assigned! Thanks

[2020-10-06 09:08] Willyfrog commented on #15800
Assigned! thanks!

[2020-10-06 09:09] Willyfrog commented on #15801
Thank you!

[2020-10-06 09:10] Willyfrog commented on #15796
Sure! Assigned the issue to you, thanks!

[2020-10-06 09:11] Willyfrog commented on #15802
I assigned it to you! Thanks!

[2020-10-06 09:20] agnivade commented on #15248
I thought the noise sources you were referring to were other processes running on your system. My apologies for misunderstanding. If you have a separate Linux VPS, I am failing to understand what is noise in the benchmarks? The serialization/de-serialization should be a constant factor in both benchmarks.

Okay, so then all good?

Great, sounds good to me. Waiting for the results.

Yes absolutely.

[2020-10-06 09:32] Leryan commented on #15248
Well it’s making the benches run much much longer and i wanted to iterate rapidly to reach what i consider to be correct code for the benchmark ^^ But i do agree and plan to issue traces with serialization too.

Do you think it is completely irrelevant to make traces without serialization?

Fully agreed, and thanks for your understanding!

[2020-10-06 10:55] mquinson commented on #15561
Thanks for the pointer, @amyblais. I've posted this feature request as https://mattermost.uservoice.com/forums/306457-general/suggestions/41559319-newcommers-to-private-channels-should-not-have-acc

Shall I close this github issue or leave it open?

[2020-10-06 11:56] apoxa commented on #13716
I'm sorry, but I have to give up on this. Unfortunately I don't know enough about JS/TS and don't have enough time to work on it.

[2020-10-06 12:05] amyblais commented on #15561
Thank you! I can close this one for now,

[2020-10-06 12:05] #15561 closed

[2020-10-06 12:35] lieut-data commented on #15771
Good question, @avinashdhinwa! My original thought was to make `--pre-release` optional, so that the default behaviour is preserved. But your arguments resonate with me -- @hanzei, I'm curious on your thoughts here. Would it be valuable to assume `--pre-release` by default, and force a `--release` to do otherwise?

[2020-10-06 13:25] hmhealey commented on #15723
Thanks for the help on this, @93lykevin. Let us know if you have any questions!

[2020-10-06 13:25] hmhealey commented on #15722
Thanks for the help on this, @sahil9001! Let us know if you have any questions

[2020-10-06 13:26] hmhealey commented on #15721
Thanks for the help with this. Let us know if you have any questions

[2020-10-06 13:28] hmhealey commented on #15720
We generally use `fetch` wherever possible since it's a bit easier to work with. We only use axios in the E2E tests by the look of it, but that's probably something to do with that code running outside of the browser.

[2020-10-06 13:28] sridhar02 commented on #15802
@Willyfrog It is already fixed.

[2020-10-06 13:29] hmhealey commented on #15719
Yeah, if you can't find anywhere that it's being used, you can feel free to delete it. I wouldn't be surprised if it was added by mistake, or if it was part of some old piece of code that was since removed

[2020-10-06 13:30] sahil9001 commented on #15722
@hmhealey Is there a group chat or channel where I can ask some doubts regarding this?

[2020-10-06 13:48] amyblais commented on #15769
@DHaussermann Wondering if you can help test this?

[2020-10-06 13:56] amyblais commented on #15012
Hi all,
1. Do you have any specific tools on your end that we can use to measure the database performance of the instance? If yes, can you please share the results and the documentation for reference?
2. Are there any server log errors or console errors that you can help share?
3. Can you help test if you see same results in different browsers?
4. Can you help disable any plugins enabled on your s

[2020-10-06 14:31] #15724 closed

[2020-10-06 14:44] #15480 closed

[2020-10-06 14:45] jials commented on #14435
Hi there, I took a quick look at this issue but would like to clarify before proceeding with this. Is the expected behavior of this such that when this is used:
[code]
it is considered as no filter on the `Channel` parameter and returns all users that fits this condition?

It is also equivalent to:
[code]

[2020-10-06 15:10] avinashdhinwa commented on #15734
@amyblais looks like someone else has already raised a PR for this, please assign this issue to him.

[2020-10-06 15:59] abdusabri commented on #15456
Grabbing this one 🙂

[2020-10-06 16:00] simross commented on #15810
I would like to pick this up

[2020-10-06 16:43] Leryan commented on #15248
Trace results from the goroutine analysis. Both cases: 3 writing routines, 1 reader, displayed on a 2000ms span:

#### LRU

<img width="1252" alt="lru" src="https://user-images.githubusercontent.com/4390126/95228478-ae76ac80-07ff-11eb-9f0b-edecfda742b4.png">

#### Striped LRU

<img width="1252" alt="striped_lru" src="https://user-images.githubusercontent.com/4390126/95228700-f4337500-07ff-11eb-87f

[2020-10-06 16:45] mattermod opened #15822 "link and image link previews do not appear when using markdown link syntax"
Repro steps:
1) Turn on image link previews
2) Post [test image link](https://user-images.githubusercontent.com/586584/94845170-500b9180-03ed-11eb-868f-cd2adc917d1c.png)

Observed: No preview generated (see Jira ticket for screenshot)
Expected: Image link preview is generated (same as if the link was posted on it's own)

~~--~~

The change that needs to be made for this is on the server in `app/po

[2020-10-06 17:18] hanzei commented on #15771
I like the proposal in https://github.com/mattermost/matterbuild/pull/52 to have a `--pre-release` and don't tag as pre-release by default. Most of the the releases are "normal" ones.

[2020-10-06 17:18] Leryan commented on #15248
Actually it’s simpler to analyze with an actual program.

[program-traces.zip](https://github.com/mattermost/mattermost-server/files/5335493/program-traces.zip)

(left is LRU, right is Striped LRU)

<img width="1256" alt="image" src="https://user-images.githubusercontent.com/4390126/95237180-2b0d8900-0808-11eb-903a-805026b8e9a4.png">

This one is the "get" goroutine:

<img width="1259" alt="image"

[2020-10-06 17:29] amyblais commented on #14435
@ethervoid ^

[2020-10-06 18:16] hmhealey commented on #15722
You can post here about them or ask about them on our community server at https://community.mattermost.com as mentioned above. Either of those will work.

[2020-10-06 18:44] avinashdhinwa commented on #15773
@amyblais @cpoile Just had a question, what is the use case of getting all the channels which a user has incidents for? For showing notifcations for those channels?

[2020-10-06 19:55] jakubnovak998 commented on #15453
Hey, I can work on this.

[2020-10-06 20:10] DHaussermann commented on #15769
This seems quite possible but, I'm having a hard time confirming where I can see what's happening on the mail server.

Ideally what should happen when you create a bot (or convert a user to a bot), is that the email notification setting at the user level should be set to `never`. I'm not sure if this was ever implemented.

I'm trying to confirm this behavior on my local but I'm not sure where in t

[2020-10-06 20:14] apollo13 commented on #15769
@DHaussermann Try the `users` table and the `notifyprops` field there. I fixed this yesterday by updating the table like this:
[code]
The `email` key was true before my update.

[2020-10-06 20:16] DHaussermann commented on #15769
Thanks @apollo13  I saw that but it wasn't updating for me based on setting it in the UI (on a non-bot user). I'll take another look 👍

[2020-10-06 20:19] apollo13 commented on #15769
@DHaussermann I just tested. The `email` key switches between `true/false` if you select "immediatelly"/"never" in the account settings -> notifications tab. But it will stay `true` also for "every hour" & "every 15 minutes" -- so that might be saved somewhere else.

[2020-10-06 20:35] vanya829 commented on #13477
I'd like to get this one.

[2020-10-06 20:43] DHaussermann commented on #15769
@apollo13 thanks for the help. I see the value change as expected. Somehow the query results must not have been refreshing for me when I checked earlier.

You're correct about the email notification issue. It seems there is no exception made for bot accounts to prevent this. I have opened a Jira ticket here https://mattermost.atlassian.net/browse/MM-29374 to address this. Thank you for pointing th

[2020-10-06 20:43] haardikdharma10 commented on #15634
Hey @amyblais, I would like to take up this. Can you assign this to me and add the necessary labels as well, if possible :)

[2020-10-06 21:18] edtrist commented on #13892
Happy to take a look at this :)

[2020-10-06 21:45] mattermod opened #15823 "Automatically disable channel wide mentions when a user mutes a channel"
When a user mutes a channel, automatically enable the setting for "Ignore mentions for @ channel, here, all"

When a user unmutes a channel, automatically disable the setting for "Ignore mentions for @ channel, here, all"

Exception: If the user has ever adjusted the setting manually for "Ignore mentions for @ channel, here, all", then do not automatically modify it when the user mutes or unmutes

[2020-10-06 22:01] KuSh commented on #15460
Hello,

I'll need a little bit of help here.

I'm mostly done with that issue, unfortunately when converting to TS, tsc errors out on <PostAttachmentOpenGraph component use because of "missing" required properties

`components/post_view/post_body_additional_content/post_body_additional_content.tsx:113:18 - error TS2739: Type '{ link: string; isEmbedVisible: boolean | undefined; post: Post; toggleE

[2020-10-06 22:11] KuSh commented on #15447
Hello, I'll take care of this one .. it seems it is needed to be able to tackle https://github.com/mattermost/mattermost-server/issues/15460 ^^

[2020-10-06 22:26] camgraff commented on #15822
I can take this

[2020-10-06 22:56] justintucker commented on #15658
@esethna I was considering this issue or the notifications issue. I wanted to ensure I can get the local environment up and running before I do.

[2020-10-06 23:37] deanwhillier opened #15826 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln.504"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurrences of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fi

[2020-10-06 23:37] deanwhillier opened #15827 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln.505"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurrences of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fi

[2020-10-06 23:56] deanwhillier opened #15828 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 510"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15829 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 511"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15830 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 513"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15831 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 516"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15832 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 519"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15833 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 520"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15834 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 522"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15835 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 523"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-06 23:56] deanwhillier opened #15836 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 525"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-07 04:10] deanwhillier opened #15837 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 541"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-07 05:05] #15478 closed

[2020-10-07 05:17] esethna commented on #15658
@justintucker cool, let us know if you need any help. Would be psyched for you to pick up this issue!

[2020-10-07 05:27] agnivade commented on #15248
Looks really good. Thanks so much for the thorough analysis! Couple of points.

- The workload is primarily read-heavy. So I'd suggest to have 3 readers, 1 writer.
- I wasn't sure where we went with the false sharing bit. You mentioned

Does that mean you confirmed there is no false sharing happening or do you plan to do it later? Sorry if you clarified it somewhere else. Just keeping track of thi

[2020-10-07 05:40] Leryan commented on #15248
Will do!

No i still have to do that investigation, i surely meant something else with "expected results" but can't remember now 😅 may bad

Alright :)

I may send less update in the incoming days, personal reasons and digging into false sharing will take me some time, bear with me ^^

[2020-10-07 07:08] Leryan commented on #15248
Quick update in read-heavy configuration:

 * Read routines: MacOS: 187ms LRU vs 14ms Striped
 * Read routines: Linux (KVM): 284ms LRU vs 120ms Striped

The unique write routine, in striped mode, waits two times less than in simple LRU.

Here again, read routines finish work before the write routine.

Waiting on monday for other traces on a physical 4-core machine :)

In the mean time i’ll dig int

[2020-10-07 08:01] hanzei commented on #15460
@devinbinnie Could you please help with :point_up:?

[2020-10-07 09:05] #15782 closed

[2020-10-07 09:09] #15779 closed

[2020-10-07 09:13] #15776 closed

[2020-10-07 09:13] #15777 closed

[2020-10-07 09:22] sowmiyamuthuraman commented on #15823
I would like to work on this

[2020-10-07 09:28] sowmiyamuthuraman commented on #15823
In JIRA ticket https://mattermost.atlassian.net/browse/MM-29379, i could see the Notification preferences modal image being attached. so are we auto enabling/disabling the setting for "Ignore mentions for @ channel, here, all" only when channel is muted/unmuted via Notification preferences modal?

[2020-10-07 09:28] ethervoid commented on #14435
Hello @jials, first of all, thank you very much for showing interest in contributing to Mattermost :)

The idea is that if we use `options.ViewRestrictions = &model.ViewUsersRestrictions{Channels: []string{}}` then we're restricting the results for all the channels, which means that should return an empty result as you can see in the tests we have for [channels restrictions] (https://github.com/ma

[2020-10-07 09:54] agnivade commented on #15248
Fantastic. Yes, please take your time. Just to keep track of pending things here:
- Benchmarks to be done on Linux physical machine.
- False sharing to be investigated.

[2020-10-07 09:57] #15674 closed

[2020-10-07 09:59] #15745 closed

[2020-10-07 09:59] #15517 closed

[2020-10-07 10:13] hanzei commented on #15755
When a user types `/join` there should be an autocomplete poping up and requesting the input of a channel name.

[2020-10-07 10:16] hanzei commented on #15759
@marcelo-cardozo Just to double check: Is your screenshot taken from the RHS? Could you please post a full screen one?

[2020-10-07 10:19] Willyfrog commented on #15802
that's right! someone fixed it while working on a different issue. my apologies for that and thank you for making us aware of that :D

[2020-10-07 10:19] #15802 closed

[2020-10-07 10:40] Willyfrog opened #15842 "Migrate string-refs to functional ones: this.refs.textarea"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15843 "Migrate string-refs to functional ones: this.refs[this.state.theme]"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15844 "Migrate string-refs to functional ones: this.refs.customcheck.checked"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15845 "Migrate string-refs to functional ones: this.refs.dotMenu"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15846 "Migrate string-refs to functional ones: this.refs.editChannelHeaderTextbox"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15847 "Migrate string-refs to functional ones: this.refs.fileInput.files"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15848 "Migrate string-refs to functional ones: this.refs.lowercase.checked"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15849 "Migrate string-refs to functional ones: this.refs.errorMessage"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15850 "Migrate string-refs to functional ones: this.refs.email"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 10:40] Willyfrog opened #15851 "Migrate string-refs to functional ones: this.refs.image"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-07 11:04] nevyangelova commented on #14222
Hey @diode thank you for picking this issue! If you need any help I am available on the community chat - @nevyana.angelova

[2020-10-07 11:15] mattermod opened #15852 "Implement Search Bar and Search Results as Functional Components using hooks"
SearchBar and SearchResults are components that now are using SearchHint component as a clue for which search terms have been used. Ideally this ticket will go together with [https://mattermost.atlassian.net/browse/MM-29093](https://mattermost.atlassian.net/browse/MM-29093] and [https://mattermost.atlassian.net/browse/MM-29082|https://mattermost.atlassian.net/browse/MM-29082|smart-link)  and when

[2020-10-07 11:15] mattermod opened #15853 "Refactor emoji reaction animation"
Recently we implemented components/post_view/reaction/reaction.jsx. It handles adding an animation when users react or unreact to posts in the RHS and the center channel. The component was implemented using both redux state and component props to sync reaction updates, which resulted in several redux anti-patterns like double buffering. Having local state prevents the reacted/unreacted numbers fro

[2020-10-07 11:15] mattermod opened #15854 "Connect SearchHint component and use it to drive props"
SearchHint is a list component used in the SearchBar to assist selection of search terms. Previously it was a simple component that was used solely for additional guidance on how our search terms work. As of recently however it was implemented as an interactive clickable list, which then adds the selected search term into the input and triggers the render of the appropriate suggestion component. W

[2020-10-07 11:15] mattermod opened #15855 "Implement SuggestionBox as a functional component and remove redundant functionality"
SuggestionBox is our Autocomplete suggestions component used across multiple nodes in our application (ex. Search bar, Quick switch modal, channels list). It supports rendering of suggestions based on user input, which can be a list of channels, users and date input. The component has been frequently updated when new features were requested and resulted in several redux anti-patterns like two dire

[2020-10-07 11:15] kaksikanaa opened #15856 "Mattermost Windows client cannot hold its fixed size and position"
#### Summary
Mattermost Windows client cannot hold its fixed size and position.

#### Steps to reproduce
Start and use Mattermost Windows client for a while on external 4K monitor and monitor it's behaviour.

#### Expected behavior
Client should start in the pixel perfect position and size where it was last time used and keep it that way while using the client no matter what is done within the app

[2020-10-07 11:24] sowmiyamuthuraman commented on #15851
I would like to work on this

[2020-10-07 11:46] kaksikanaa commented on #15856
![Slide1](https://user-images.githubusercontent.com/15322015/95326800-cefc4080-08ab-11eb-8dfa-a153d8974984.JPG)
![Slide2](https://user-images.githubusercontent.com/15322015/95326809-d4f22180-08ab-11eb-8f70-4683c8d2376f.JPG)

[2020-10-07 11:50] kaksikanaa commented on #15856
By minimum widht I've mean the least widht before the left panels collabse and become unvisible (app. 1065pixels on my screen because I have mote than one team memberships.

[2020-10-07 12:03] amyblais commented on #15823
@esethna ^

[2020-10-07 12:07] amyblais commented on #15856
@kaksikanaa What Mattermost desktop app version and Mattermost server version are you on?

[2020-10-07 12:14] sridhar02 commented on #15847
can I work on this?

[2020-10-07 12:15] sridhar02 commented on #15848
I would like to work on this

[2020-10-07 12:24] KuSh commented on #15837
Hello, I'll try to tackle this one :+1:

[2020-10-07 13:05] filipghorbani commented on #15850
Hey, could i do this one?

[2020-10-07 13:25] sridhar02 commented on #15848
@Willyfrog I think this is already updated file.

[2020-10-07 13:27] sridhar02 commented on #15846
I would like to work on this.

[2020-10-07 13:34] filipghorbani commented on #15842
Could i get this one?

[2020-10-07 13:35] KuSh commented on #15837
Hi @deanwhillier

After a little bit of research it seems this code style is never used.

It applies only on "Account settings" and "Members settings" modals in mobile configuration (width <= 768px) where "active" buttons are never displayed since the "settings-links" element is hidden when a button is activated (i.e. clicked)

Actually the style never applies as there's a stronger one that takes

[2020-10-07 13:44] Raj-Datta-Manohar commented on #15849
Hi, I would like to work on this!

[2020-10-07 13:48] jials commented on #14435
Hi @ethervoid, thanks for the detailed steps for testing. Unfortunately when I followed this [instruction](https://developers.mattermost.com/contribute/server/developer-setup/) to configure my local machine, I am facing with problem after running `make run-server`:
[code]

As a result, I was not able to run the command you shared above successfully. Is there anything particular local environment I

[2020-10-07 14:20] ethervoid commented on #14435
Oh, I see.

That means the user `mmuser` was not created and should be done through the docker-compose action. Try `make clean-docker` and `make nuke`. Once that is done just run `make run-server`. If that doesn't work please ping me, `mario.de.frutos`, in the community mattermost server

[2020-10-07 14:58] deanwhillier commented on #15837
Thanks @KuSh, yes, removing a changeCSS() line that is no longer in use is a perfectly valid solution. Unfortunately we haven't been able to vet each line to determine if it is still valid so thanks! I'll add that possibility to the notes section of future tickets!

[2020-10-07 15:08] KuSh commented on #15837
Thanks @deanwhillier  ! So PR is ready to be merged then (I don't know why github didn't took it into account .. perhaps because PR is against `campaign/applytheme_sidebar-text` branch)

[2020-10-07 15:09] KuSh commented on #15836
I'll try to tackle this one :+1:

[2020-10-07 15:13] deanwhillier commented on #15837
Sorry, I'm not sure what you mean by this. Do you mean you haven't gotten Hacktoberfest credit? I was a little worried about that.

[2020-10-07 15:41] KuSh commented on #15837
No not at all (I have more than necessary credit ^^) just that the PR isn't linked to the issue .. (sorry english isn't my mother in tongue)

[2020-10-07 15:45] deanwhillier commented on #15837
Oh, good and no worries! Thanks for confirming about the credit part!

[2020-10-07 16:01] KuSh commented on #15835
I'll tackle this one :+1:

[2020-10-07 16:41] Willyfrog commented on #15848
seems like I got a duplicate, this one is the sample one.
thanks for pointing it out

[2020-10-07 16:41] #15848 closed

[2020-10-07 17:19] talentedunicorn commented on #15834
Keen to try this... :smiley_cat:

[2020-10-07 17:23] ahmaddanialmohd commented on #15767
Hi, @laur89

May I know which documentation / article did you refer to when you setup Mattermost with Docker? Just trying to understand the process you undergo when you ran into the issue so I can make sense of the `/entrypoint.sh: exec: line 7: mattermost: not found` that you are seeing.

I don't quite understand the possible fixes that you are proposing here. Would you mind elaborating it a litt

[2020-10-07 17:56] esethna commented on #15823
@sowmiyamuthuraman awesome, it's yours.

The behaviour for auto enabling/disabling the setting for "Ignore mentions for @ channel, here, all" should be the same regardless of if the channel is muted from the modal for the header dropdown

[2020-10-07 18:01] esethna commented on #14167
Work started here to reference but anyone can feel free to take on this ticket again now: https://github.com/mattermost/mattermost-webapp/pull/5222#issuecomment-705079131

[2020-10-07 18:10] cinlloc commented on #15459
Can I take this one?

[2020-10-07 18:13] parulc7 commented on #15843
@Willyfrog Can I take up this issue?

[2020-10-07 18:40] laur89 commented on #15767
Your example made me realize my fault! I was mounting local directory at `/mattermost` where the installed binary is at.
Removing the mount (or mounting elsewhere) solves the issue.
Thanks.

[2020-10-07 18:40] #15767 closed

[2020-10-07 20:35] #15469 closed

[2020-10-07 22:30] ng29 commented on #15826
Hey Dean,

I will like to give a shot to this one 👍
Cheers,

[2020-10-07 23:03] deanwhillier commented on #15826
All yours @ng29, thanks!

[2020-10-08 00:03] 93lykevin commented on #15723
Hi, I'm running into an error when I run "make run-server". I am trying to get mattermost-server running on my machine.
[code]
I've followed the Developer Setup instructions. Any tips on how I could fix this would be greatly appreciated (: Thank you!

[2020-10-08 00:14] anchepiece commented on #13503
Hi, I can attempt this part of the migration effort. Thanks!

[2020-10-08 02:07] KuSh commented on #15833
I'll handle this one :+1:

[2020-10-08 02:23] KuSh commented on #15832
I'll tackle this one :+1:

[2020-10-08 02:38] KuSh commented on #15831
Hello, I tackle this one :+1:

[2020-10-08 02:52] KuSh commented on #15830
I'll tackle this one :+1:

[2020-10-08 03:03] KuSh commented on #15829
I'll tackle this one :+1:

[2020-10-08 03:03] KuSh commented on #15828
I'll tackle this one :+1:

[2020-10-08 03:03] KuSh commented on #15827
I'll tackle this one :+1:

[2020-10-08 03:14] VolatianaYuliana commented on #15844
Hi, I would like to work on this :)

[2020-10-08 04:20] deanwhillier opened #15864 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 533"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:20] deanwhillier opened #15865 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 534"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:20] deanwhillier opened #15866 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 535"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:23] deanwhillier opened #15867 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 546"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:23] deanwhillier opened #15868 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 548"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:23] deanwhillier opened #15869 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 549"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:23] deanwhillier opened #15870 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 550"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:25] deanwhillier opened #15871 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 559"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:26] deanwhillier opened #15872 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 560"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:26] deanwhillier opened #15873 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 562"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:26] deanwhillier opened #15874 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 563"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:26] deanwhillier opened #15875 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 564"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 04:26] deanwhillier opened #15876 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 566"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 05:29] prazolpp commented on #15876
Hello @deanwhillier , I'd be happy to take this one on!

[2020-10-08 05:34] deanwhillier commented on #15876
It’s all yours @prazolpp, thanks!

[2020-10-08 05:55] prazolpp commented on #15876
It looks like the utils/utils.jsx file is in the mattermost/mattermost-webapp repo though

[2020-10-08 06:08] mathiasvr commented on #15864
Hi, I would like to work on this one!

[2020-10-08 08:55] SBagaria2710 commented on #15761
Should I pick this one? @lieut-data

[2020-10-08 09:07] sudheerDev commented on #7487
@hmhealey at this point I am inclined to closing this and later remove the redux version of socket code. Thoughts?

[2020-10-08 09:13] Leryan commented on #15248
About false sharing, i managed to demonstrate the effect with the following code:

[code]

Simply comment the padding line and suddenly the code runs slower, by a factor of 2 :)

I’m going to push a similar code for our LRU locks.

[2020-10-08 09:17] #15731 closed

[2020-10-08 10:27] hanzei commented on #15864
Thanks for taking a shot @mathiasvr :+1:

[2020-10-08 11:20] SondreWang commented on #15457
I'll take this!

[2020-10-08 11:38] SondreWang commented on #15457
I'll take this!

[2020-10-08 11:42] #14002 closed

[2020-10-08 11:46] aaronrothschild opened #15879 "Twitter Integration: Build a Simple Plugin to render twitter URLs posted in channels"
Create a Twitter Plugin that renders previews of Twitter URL links posted into Mattermost (***)

Problem:
- Twitter no longer provides Opengraph data on it’s pages, so rendering a preview of a tweet when someone posts a twitter URL into a channel - is no longer possible.
- Twitter requires vendors to use their APi to get the tweet data, then render it in the Channel.

Create a twitter plugin that

[2020-10-08 12:08] amyblais commented on #15844
Sorry, it seems there is already a PR for this https://github.com/mattermost/mattermost-webapp/pull/6685.

[2020-10-08 12:26] Leryan commented on #15248
@agnivade in fact, no need to use `perf` to demonstrate if there is false sharing or not: from the previous code, i simply [modified the program i used to collect traces](https://github.com/mattermost/mattermost-server/blob/690821f4e090756ab788a84ad78d546f50722938/services/cache/main/lru_main.go) to "assign" each read goroutine to a set of keys that belong to a single bucket.

With lock padding, t

[2020-10-08 12:36] #15775 closed

[2020-10-08 12:59] #15879 closed

[2020-10-08 13:06] KuSh commented on #15865
I'll take that one :+1:

[2020-10-08 13:06] KuSh commented on #15866
I'll take that one :+1:

[2020-10-08 13:08] SondreWang commented on #15457
I'll give this task away to someone else.

[2020-10-08 13:31] arc9693 commented on #15867
Would like to work on this.

[2020-10-08 13:32] nirmalhk7 commented on #15868
I'd love to take this up.

[2020-10-08 13:33] deanwhillier commented on #15867
Awesome, it all your @arc9693, thanks!

[2020-10-08 14:04] lieut-data commented on #15761
Thanks so much, @SBagaria2710!

[2020-10-08 14:27] hmhealey commented on #7487
I didn't realize this was still open actually. Thanks for pointing that out.

[2020-10-08 14:27] #7487 closed

[2020-10-08 14:29] hmhealey commented on #15876
Yeah, that's correct. We currently put web app Help Wanted tickets here since the server and web app are pretty tightly coupled and because many of them require changes to both repositories. This one just requires web app changes though

[2020-10-08 14:40] #15619 closed

[2020-10-08 14:46] hmhealey commented on #15723
That's strange. The `mmuser` database user should have been created automatically by one of the steps of `make run-server`.

Just to confirm that the database is actually running and that the error is accurate, could you run `docker ps`? If the database is running, you should see a line with the IMAGE "postgres:9.4" and the NAME "mattermost-postgres".

If it shows up, then there's something wrong

[2020-10-08 15:48] arc9693 commented on #15871
Interested.

[2020-10-08 16:03] deanwhillier commented on #15871
It's all yours, thanks @arc9693!

[2020-10-08 16:29] ashutosh97 commented on #15873
Interested

[2020-10-08 16:54] deanwhillier commented on #15873
It's all your @ashutosh97, thanks!

[2020-10-08 17:02] deanwhillier opened #15881 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 573"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:02] deanwhillier opened #15882 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 574"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:23] Leryan commented on #15248
Another thing: i had wrong benchmarks of xxhash vs maphash, because i forgot a rogue `fmt.Sprintf` in the code 😅 i removed it, maphash is still slower but only by a factor of 2. Would you still prefer to use maphash instead of introducing a new dependency?

[2020-10-08 17:28] deanwhillier opened #15883 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 578"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:28] deanwhillier opened #15884 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 579"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:39] deanwhillier opened #15885 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 613"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:39] deanwhillier opened #15886 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 614"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15887 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 620"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15888 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 621"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15889 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 622"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15890 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 627"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15891 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 629"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15892 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 631"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15893 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 633"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15894 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 635"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15895 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 636"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15896 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 640"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15897 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 641"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15898 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 668"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-08 17:46] deanwhillier opened #15899 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 669"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurrences of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fi

[2020-10-08 17:53] #10348 closed

[2020-10-08 18:11] 93lykevin commented on #15723
The mmuser was successfully created when I ran make run-server
[code]
[code]

I've ran `make nuke` and `make run-server` again and still run into this same problem.

[2020-10-08 18:25] haardikdharma10 commented on #15881
Hey @deanwhillier, can you assign me this? Thanks :)

[2020-10-08 18:26] haardikdharma10 commented on #15882
This one too:)

[2020-10-08 19:06] ilhan-mstf commented on #15869
Hello, I would like to work on this issue, can you assign it to me?

[2020-10-08 19:39] hmhealey commented on #15723
That looks like it's running properly at least, so I'm not sure why the account isn't being set up correctly. Perhaps you can connect to Postgres and manually create the user? If you run `docker exec -it mattermost-postgres psql -U postgres mattermost_test`, that should let you log in as the root user and then you should be able to create the `mmuser` user and give them the correct permissions. I

[2020-10-08 20:30] 93lykevin commented on #15723
Running `docker exec -it mattermost-postgres` didn't work but `docker exec -it mattermost-postgres /bin/bash` does.
Now, I'm logged in as the root user `root@fdc636927929`.
Then, I tried running `psql -U postgres mattermost_test` and it gives me `psql: FATAL:  role "postgres" does not exist`
However, I am able to connect with `psql -U mmuser mattermost_test` which makes it seem like mmuser does al

[2020-10-08 21:04] haardikdharma10 commented on #15870
@amyblais, Please assign this to me. Sorry for the trouble.

[2020-10-08 21:15] hanzei commented on #14148
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6578

[2020-10-08 21:15] #14148 closed

[2020-10-08 21:30] mattermod opened #15901 "Update Golangci Lint to v1.31.0"
Let's stay up to date and fix all issues that may come up

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" communit

[2020-10-08 21:39] Jonany commented on #15160
@hmhealey, could I be assigned to this, please?

[2020-10-08 21:47] shihanng commented on #15811
Happy to work on this :raising_hand: if that is okay.

[2020-10-08 21:48] mgdelacroix commented on #15811
Thanks @shihanng! Assigned!

[2020-10-08 22:00] mattermod opened #15902 "New category does not outline on hover & drop while NEW badge is present"
Steps:
1) Enable the experimental sidebar by going to System Console > Experimental > Features and setting Experimental Sidebar Features to Default On
2) Create new category. Note that the NEW badge will be visible on that category
3) Grab a channel and hover over the newly crated category name

Expected: Category header outlines on hover for the new category like it does for existing categories

[2020-10-08 22:00] mattermod opened #15903 "Category names not outlining in Safari on channel drop"
Environment: phase 2 server, Safari, macOS Mojave

Steps:
1) Enable the experimental sidebar by going to System Console > Experimental > Features and setting Experimental Sidebar Features to Default On
2) Create few new categories and channels
3) Refresh the page to get rid of new badges on custom categories
4) Drag channels and drop into custom categories or Channels & Favorites by hovering over

[2020-10-08 22:00] mattermod opened #15904 "WebApp: Provide the user feedback when creating a custom 'Category Name' that exceeds the character limit"
With the experimental sidebar enabled (System Console > Experimental > Features > Experimental Sidebar Features), the user has an option to create custom sidebar categories. There is a limit to the number of characters in the category name, and it would be nice to have better feedback that there's a character limit on the Category Name.

**Current**
We stop the user from adding more the 22 charact

[2020-10-08 22:35] arjunagl commented on #15249
@agnivade I assume this also has to apply to `hot structs` as well (https://github.com/mattermost/mattermost-server/blob/master/services/cache/lru.go#L150) ?

One more thing, going through the code I noticed the method signatures upto the  take a pointer reference to a variable to populate the read bytes to

[2020-10-08 22:45] mattermod opened #15906 "Improve the design and layout of email notifications"
Summary:
Update the styling for email notifications to make them more friendly looking, helpful and informative to users.

(Optional) this may a helpful tool to do this: https://mjml.io/

**The email template design was updated for the following email types:**

1. Receiving a Direct Message
2. Being Mentioned in a channel
3. Receiving a Batched email notification
4. Password Reset Email
5. Verific

[2020-10-08 23:51] camgraff commented on #15901
I can take this

[2020-10-09 03:54] agnivade commented on #15248
Great stuff. Thanks! Just a small note that I see you added padding in both the mutex and the LRU struct itself. Are both of them necessary?

Otherwise, yes, we can get started with the reviews. Let's clean up the code, write some godocs for the structs :)

Regarding the xxhash vs maphash, I'll take a look into it during the review. We use maphash in another part of the codebase, so if xxhash turn

[2020-10-09 05:48] Leryan commented on #15248
ah, i forgot about the one on LRU, i will conduct some other tests :)

🎉

maybe in another PR/issue then?

[2020-10-09 06:58] sudheerDev commented on #6276
@jasonblais Closing this as related PR is merged

[2020-10-09 06:58] #6276 closed

[2020-10-09 07:25] michelengelen commented on #15852
I'll take this one @deanwhillier

[2020-10-09 08:45] Leryan commented on #15248
I added some doc and removed the LRU padding, as nothing changes at all :) I also changes LRUOption to be passed as value as it doesn’t make sense to pass by ref, it makes the striped lru constructor simpler.

[2020-10-09 08:49] Leryan commented on #15248
Another question: should i add a lock in LRUStriped for Keys() and Len() calls? For Len i don’t think it’s critical, but the usage of Keys() makes me think that we need to be precise here.

[2020-10-09 09:01] simross commented on #15814
Could you assign it to me?

[2020-10-09 09:02] mgdelacroix commented on #15814
Sure @simross, thanks for taking a look!! :confetti_ball:

[2020-10-09 09:49] talentedunicorn commented on #15834
@deanwhillier I just want to verify with you the line that needs changes is indeed `522` as I am looking at the code [here](https://github.com/mattermost/mattermost-webapp/blob/master/utils/utils.jsx#L522) and there seems to be differences to the "**How to migrate**" instructions. Thanks

[2020-10-09 11:08] lantrungseo commented on #15855
Hello there, I would love to work on this issue. Really appreciate if I could be assigned. Thanks a lot.

[2020-10-09 12:05] nevyangelova commented on #15855
@lantrungseo thanks! Looking forward to your PR! Assigning you :)

[2020-10-09 13:57] deanwhillier commented on #15852
All yours @michelengelen, thanks!

[2020-10-09 14:04] deanwhillier commented on #15834
Thanks for double checking @talentedunicorn! I was worried the line numbers would get messed up as we've got a lot of activity happening in that file. Try work off the branch I created for this ticket instead of master, the [line number is still 522](https://github.com/mattermost/mattermost-webapp/blob/9248a751cdd4b6b63084f60be849bf9f44bf653a/utils/utils.jsx#L522) 🙂

[2020-10-09 14:21] Leryan commented on #15248
While adding assertions in the distribution testcase, i just noticed that we have "false eviction":

Since each bucket is of an equal portion of the total size, because some keys will land in a bucket that's already full, we can have between 5-10% of false evictions.

Should we take that in account and increase the size of each bucket of 10% of the requested size?

@agnivade @streamer45

[2020-10-09 14:34] prazolpp commented on #15904
I'd be happy to take this one on!

[2020-10-09 15:12] hmhealey commented on #15723
Oh, interesting. So the Docker container is running correctly since the postgres user has been renamed to mmuser successfully, but Mattermost still can't connect to it. The error message you saw earlier must be misleading then.

If you go to the server's `config/config.json`, what are the `SqlSettings.DriverName` and `SqlSettings.DataSource` set to? We recently changed the default development data

[2020-10-09 15:53] abdusabri commented on #15452
Grabbing this one :)

[2020-10-09 16:13] Prescise commented on #15446
Hi can I work on this ticket please ? I would like to learn about Typescript and it could be a good exercise to me.

[2020-10-09 17:03] sowmiyamuthuraman commented on #15823
@esethna I have made code changes to auto enable/disable  "Ignore mentions for @ channel, here, all" when user mutes or unmutes a channel

To handle this condition `Exception: If the user has ever adjusted the setting manually for "Ignore mentions for @ channel, here, all", then do not automatically modify it when the user mutes or unmutes a channel.`, a notify_prop should be introduced say is_ign

[2020-10-09 18:48] m3talsmith commented on #15816
/assign

[2020-10-09 19:18] rohanrk commented on #15883
Could I be assigned to this?

[2020-10-09 19:28] 93lykevin commented on #15723
I figured it out!!
I had another postgres listening on port :5432
[code]
I killed the other instance with `sudo kill -9 818` and it started working!

[2020-10-09 19:28] rohanrk commented on #15884
Could I be assigned to this one as well?

[2020-10-09 19:29] evilghostgirl commented on #15813
Hey, can I work on this?

[2020-10-09 20:32] haardikdharma10 commented on #15872
Please assign this to me:)

[2020-10-09 21:27] mgdelacroix commented on #15813
Sure @evilghostgirl! Assigned!

[2020-10-09 22:45] camgraff commented on #15902
I can take this

[2020-10-10 02:09] Jonany commented on #15160
@hmhealey

If I create a test using the Demo Plugin, won't the test fail on a regular installation?

[2020-10-10 13:37] anthonydurot commented on #15686
Hi @mgdelacroix I'm truly sorry but I'm busy right now and I couldn't investigate this issue. I unassigned myself so that someone else have the opportunity to work on this for Hacktoberfest :)

[2020-10-10 13:54] mgdelacroix commented on #15686
No problem @anthonydurot and thanks for the heads up!

[2020-10-10 15:49] dudupopkhadze commented on #15457
Can i get this assigned?

[2020-10-10 15:50] dudupopkhadze commented on #15450
Can i get this assigned?

[2020-10-10 19:43] xaylax commented on #15898
Hi! Would I be able to take this issue?

[2020-10-10 22:30] deanwhillier commented on #15898
Absolutely! It's all yours @xaylax, thanks!

[2020-10-11 01:35] chainvisions commented on #15903
I am interesting in working on this issue.

[2020-10-11 01:39] rvillablanca commented on #15568
I release this issue since I haven't had time to work on this.

[2020-10-11 02:30] Baibhab97 commented on #15897
Hi, I would like to take this issue up.

[2020-10-11 03:16] sudiptog81 commented on #15893
I am working on this issue.

[2020-10-11 03:25] sudiptog81 commented on #15892
Working on this!

[2020-10-11 03:25] sudiptog81 commented on #15891
Working on this!

[2020-10-11 09:38] pikami commented on #15449
I'm grabbing this one.

[2020-10-11 10:56] rahulsuresh-git opened #15917 "User details popup persists on scroll instead of closing"
## Summary
User details popup persists on scroll instead of closing.

#### Steps to reproduce
Click on any user's tag and start scrolling.

#### Expected behavior
The popup getting closed on scroll would be the ideal UX.

#### Observed behavior (that appears unintentional)
![recording](https://user-images.githubusercontent.com/22114682/95676357-23b8f780-0bdb-11eb-878a-2167630f8341.gif)

[2020-10-11 11:32] pikami commented on #15448
I'm grabbing this

[2020-10-11 12:35] michelengelen commented on #15854
@deanwhillier and @nevyangelova I will take this one as well! 👍

[2020-10-11 13:42] KrishnaSindhur commented on #15812
hi i have sent a PR request for this  [here](https://github.com/mattermost/mmctl/compare/master...KrishnaSindhur:MM-29334_adding_e2e_test_for_moveChannelCmdF?expand=1)

[2020-10-11 13:48] mgdelacroix commented on #15812
Hi @KrishnaSindhur, thanks for your contribution! 🚀

Don't worry about the assignment, but please try to ask before start working on a ticket just in case somebody else does and gets assigned to it 🙂

[2020-10-11 15:02] KrishnaSindhur commented on #15812
sure

[2020-10-11 15:15] SezalAgrawal commented on #15815
Could you assign it to me?

[2020-10-11 16:09] mgdelacroix commented on #15815
Sure @SezalAgrawal! Thanks for working on it! :rocket:

[2020-10-11 16:15] Leryan commented on #15247
@agnivade Ristretto == https://github.com/dgraph-io/ristretto right? :)

I guess you would compare with #15248 ?

I can take this issue, no matter what happen to the striped lru implementation 😄

However, if you tell me that you’d like to see the striped LRU merged, then i will wait for that to happen before starting that one.

[2020-10-11 16:20] Leryan commented on #15249
👋 since i recently worked on the cache system, i found this issue and i have a question:

"After moving to a serialized cache" i guess it wasn’t serialized before, so either references or copies of structs.

What were/are the motivations for serialization here?

As a general remark, it would be very interesting to get some context on a given issue to understand the current "state of things", if po

[2020-10-11 16:44] chainvisions commented on #15887
I am interested in working on this issue.

[2020-10-12 04:09] deanwhillier commented on #15897
@Baibhab97, it's all your, thanks!

[2020-10-12 04:10] deanwhillier commented on #15887
Awesome, it's all your @chainvisions, thanks!

[2020-10-12 04:13] deanwhillier commented on #15872
It's all yours @haardikdharma10, thanks!

[2020-10-12 05:27] agnivade commented on #15568
@kashifsoofi - Wondering if you are up for this and drive home a clean run finishing all the stores in mattermod? :)

[2020-10-12 06:23] olekwoj opened #15918 "Direct Message - Get users, pages"
When loading users in Direct Message in Web, the Desktop application, don't downloaded all users. The problem concerns download pages - "users? Page=0&per_page=100 ”, but the next occurrence is page 2, not page 1 - users? Page=2&per_page=100 ”, it is a mistake.

[2020-10-12 06:42] sbruckmann opened #15919 "redirect_to URL variable can redirect anywhere"
#### Summary
If you add the variable redirect_to to the URL opf your on premise installation, you get redirected to the URL you entered into the variable after logging into Mattermost, even if the URL is an external one.

#### Steps to reproduce
We are using Mattermost Version 5.25.3 bundled with Gitlab Omnibus. To reproduce log out of Mattermost. Then add the variable redirect_to with the content

[2020-10-12 07:48] TheDarkestDay commented on #15214
Greetings everyone. Would you be so kind to assign this one to me? Thanks.

[2020-10-12 07:53] hanzei commented on #15449
Thanks @pikami

[2020-10-12 08:10] hanzei commented on #15214
Hi @TheDarkestDay, sure it's all yours. Let me know if you have any questions.

[2020-10-12 08:11] olekwoj commented on #15918
In file 6.b01505bd244c62a4307d.js I changed ...e=>{**const t=e?e+1:0;**"any"===this.props.restrictDirectMessage?this.props.actions.getProfiles(t,100)...
to
...e=>{**const t=e?e:0**;"any"===this.props.restrictDirectMessage?this.props.actions.getProfiles(t,100)...
and now is ok.

[2020-10-12 09:28] kashifsoofi commented on #15568
Sounds good, i can take this.

[2020-10-12 09:35] #15467 closed

[2020-10-12 09:45] mattermod opened #15920 "The plugins on the LHS of the system console are sorted differently then the ones in the Plugin Management page"
The plugins on the <LHS>(https://handbook.mattermost.com/company/about-mattermost/list-of-terms#lhs) of the system console are sorted differently then the ones in the `Plugin Management` page.

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/private-core/pl/n8xre6wc8bfhmgwqu1q1315bde)*.

![Screenshot from 2020-09-25 19-08-15](https://user-images.githubuserconte

[2020-10-12 09:45] mattermod opened #15921 "Bot Accounts get created with email notification of `Immediately`"
When a bot account is created the email notifications are set to `immediately`. Depending on server config, this makes sense for other accounts but, bot accounts should have this set to never. Because bots have token email addresses, every time someone DMs a bot, it will cause a bounce-back on the corresponding mail server.

This was reported by a community member here [https://github.com/mattermo

[2020-10-12 10:00] hanzei commented on #15769
Create a HW ticket: https://github.com/mattermost/mattermost-server/issues/15921

[2020-10-12 11:00] #15758 closed

[2020-10-12 11:22] lurcio commented on #15921
May I have a go at this issue please?

[2020-10-12 12:45] ThakurKarthik commented on #15793
Hey @hanzei can i try this out ? I have worked with a bit of react native before.
Thanks

[2020-10-12 13:33] vaibhav-stpl commented on #14167
I want to take this up !

[2020-10-12 13:34] sudheerDev commented on #14167
@vaibhav-stpl 👍  Thank you!

[2020-10-12 13:38] vaibhav-stpl commented on #14167
Here I just observed a bug on mobile app, meanwhile I was trying to reproduce the user story. So in mobile the emoji reaction icon goes away after 40 reactions, but users are still able to add reaction manually using keyboard shortcut "+:emoji" ?
Let me know if this behaviour should persist in web app too or this is a bug ?

[2020-10-12 13:42] adarsh-qclw commented on #15874
hey @deanwhillier can i work on this one?

[2020-10-12 14:42] deanwhillier commented on #15874
It's all your @adarsh-qclw, thanks!

[2020-10-12 15:36] sridhar02 commented on #15445
@devinbinnie can I work on this issue?

[2020-10-12 15:56] vipul08 commented on #15440
Can I work on this issue?

[2020-10-12 15:58] vipul08 commented on #15440
Can i work on this issue?

[2020-10-12 16:14] cinlloc commented on #15439
I take it :hand:

[2020-10-12 16:16] hanzei commented on #15793
Sure, it's all yours @ThakurKarthik. :+1:

[2020-10-12 16:16] hanzei commented on #15440
Sure @vipul08 :+1:

[2020-10-12 16:19] cinlloc commented on #15714
Sorry I will not be able to do it, I turned myself to more Javascript oriented issues. You can add the `Up-For-Grabs` label again.

[2020-10-12 16:20] vipul08 commented on #15440
thanks @hanzei

[2020-10-12 16:27] navimathur commented on #4300
After updating mattermost version to latest, preview documents function which has implemented "https://github.com/ilgooz/mattermost-plugin-topdf" is no more working.
Can anyone please suggest, what's need to do in this case. Any tweak, please suggest.

[2020-10-12 16:39] xaylax commented on #15889
Hi! I can take this issue :)

[2020-10-12 16:40] xaylax commented on #15888
Hi! I can take this issue :)

[2020-10-12 17:02] vipul08 commented on #15440
I want to clarify the problem statement. I need to change only those files which are there in `components/post*view/post*body` directory.

For instance, we have only one **post_view** directory and under it there are two directories ** post_body** and **post_body_additonal_content**.

However i can see one more directory in the path `/components/post_view/post_message_view`. Should I need to modif

[2020-10-12 17:38] xaylax commented on #15875
Hi! I can take this issue!

[2020-10-12 17:50] #15769 closed

[2020-10-12 17:52] amyblais commented on #15918
Closing as a dup of https://forum.mattermost.org/t/direct-message-i-cant-see-all-users/10541

[2020-10-12 17:52] #15918 closed

[2020-10-12 17:52] hanzei commented on #15440
Thanks for reaching out. This ticket is only about the files in `components/post_view/post_body`.

[2020-10-12 18:00] mattermod opened #15924 "RN - Long display name hides Bot tag in several areas"
When a bot has a very long display name, the `BOT` tag is hidden is several places in the RN app.

In screen shots below the bot user has a display name of `dkh-bot-1 long display name for this bot here that keeps going f`

The bot name should wrap instead.

Steps:

  * Create a bot
  * Add the longest possible display name
  * Make a post using the bot
  * Pin a post using the bot
  * Start a GM

[2020-10-12 18:15] mattermod opened #15925 "No feedback when clicking copy link buttons on"
Repro steps:
1) From the main menu, go to Integrations
2) Select Incoming Webhook and click the Create Incoming Webhook button
3) Enter any required details and then click Save
4) Click the copy button to the right of the webhook link

Observed: There's no user feedback
Expected: There's something telling me I copied the link or at least that I clicked on the button

It should use the Copied contr

[2020-10-12 18:15] mattermod opened #15926 "Web: Loading indicator in direct messages modal is misaligned"
Not a regression and can be replicated on master

Click on `+` next to direct messages to initiate a new conversation, Observe the loading indicator before loading the results, Or type a few characters in the text field. This happens with  `Add members` to channel modal as well.

Observed: The loading indicator appears a bit below the center with a scroll from the text area. see attached gif
Expec

[2020-10-12 18:15] mattermod opened #15927 "Improve the grammar on Account Creation Screen if the email address you entered does not belong to the accepted domain"
Reproduced on mysql.test, 5.24 release branch. I don't think it's a regression and not urgent - just bad grammar as only one user is creating an account?

Steps:
1. Ensure the team you are inviting to is closed and has the domain in `Allow only users with a specific email domain to join this team` set to `mattermost.com` (both in Main Menu > Team Settings)
2. Copy the invite link to the team from

[2020-10-12 18:15] mattermod opened #15928 "Posts from OAuth 2.0 bots should not trigger mentions for the user"
1. Enable the setting to get mentioned for threads you start or participate in
2. Have OAuth Apps setup with your account trigger posts in Mattermost

Observed:
Mentions are triggered when other users post replies to the OAuth bots posts

Expected:
No mentions are triggered because I did not make the posts, they were made by a bot.

![image-2019-04-09-16-07-27-844](https://user-images.githubuserco

[2020-10-12 18:15] mattermod opened #15929 "Render custom emoji in custom branding text"
1. Create a custom emoji for "yay"
2. Go to System Console > Customization, enable custom branding and enter the following as the custom branding text

[code]

Observed: Custom emoji doesn't render

 ![](image-2018-09-27-08-45-36-203.png|thumbnail)

Expected: Custom emoji renders.

NOTE: Also applies for terms of service feature.

----
If you're interested please comment here and come [join our "C

[2020-10-12 18:15] mattermod opened #15930 "Support selecting different skin tones in the emoji picker"
Requirements:
1. Emoji picker skin tone modifier design details and functional notes:
https://docs.google.com/document/d/1aNJrcaDOSzklnqKUtnAQjfCrErV9BmwrGZuiSVFn6to/edit#heading=h.lbloh8pqx69

![image](https://user-images.githubusercontent.com/14333569/95884037-7e179c80-0d30-11eb-8fb9-7fd1c1ef3bd5.png)

2. Emoji autocomplete:

  * Autocomplete should show the skin tone version of the emojis that

[2020-10-12 18:15] mattermod opened #15931 "Accessibility issue - lack of alt text and unlabeled buttons"
GitHub issue: https://github.com/mattermost/mattermost-server/issues/8446

I'm logging some accessibility issues in Mattermost that are effecting the usability for a blind user.

Summary
Lack of alt text and unlabelled buttons

List of elements that require accessibility emphasis for default view(Excludes modals etc)

[code]

Steps to reproduce
(Mattermost 4.4.2 using JAWS screen reader software)

[2020-10-12 18:16] hanzei commented on #8455
Reorging as https://github.com/mattermost/mattermost-server/issues/15931

[2020-10-12 18:16] #8455 closed

[2020-10-12 18:21] Leryan commented on #15248
I ran finally ran the benchmark on my physical machine with linux, i get similar results as for macos :)

[2020-10-12 18:47] ThakurKarthik commented on #15793
![Screenshot_2020-10-13-00-14-55-03.jpg](https://user-images.githubusercontent.com/26309938/95780273-391c4780-0ce9-11eb-8175-3e6ca320a5e2.jpg)

Hi, I have setup the android app and clicked on the thread for me it's showing the expected "Fastlane" string. Is the issue resolved ?

[2020-10-12 18:55] y-martinez commented on #15927
This seems to be a simple change, I would like to work on this issue, however, it is the first time that I would contribute to the project so could you help me with which files I should review, please?

[2020-10-12 18:56] cinlloc commented on #15929
:hand: I would like to work on this one.

[2020-10-12 19:33] ZombiMigz commented on #15926
I can try fixing this

[2020-10-12 19:43] hanzei commented on #15793
@ThakurKarthik You are correct, that bug fas fixed already. Sorry for the confusion.

[2020-10-12 19:43] #15793 closed

[2020-10-12 22:12] saturninoabril commented on #15714
@cinlloc No worries and thanks!

[2020-10-12 22:28] SimoSultan commented on #15927
Also happy to do this.

[2020-10-12 23:33] camgraff commented on #15928
I can give this a shot

[2020-10-13 00:05] amyblais commented on #15927
@esethna ^

[2020-10-13 00:49] anchepiece commented on #13506
Hi :wave:, I can pickup this one as part of the migration effort. Thanks!

[2020-10-13 03:50] ridwankustanto commented on #15927
Hi, is this issue still available?

[2020-10-13 03:52] y-martinez commented on #15927
I already did the project configuration and I already saw where to make the change, I am waiting for the issue to be assigned to me to do the PR

[2020-10-13 04:28] ShajithaMohammed commented on #15799
@Willyfrog @amyblais I would like to work on this.

[2020-10-13 04:49] ridwankustanto commented on #15925
Hi, can I take this issue?

[2020-10-13 05:23] agnivade commented on #15249
@arjunagl

Yes, this will apply _only_ to hot structs. Because we need to apply this to specific structs. Each pool will be for each struct.

No, these signatures won't change. What we want is to get the user object from the pool and then do the unmarshaling into it.

That's a great idea actually.

Yes, wherever the objects are used last. It can be in the api layer or in the app layer.

But I am n

[2020-10-13 05:32] agnivade commented on #15247
Yes, this is just an experiment to see which cache policy tiny LFU vs LRU fits us better.

You are welcome to do some preliminary investigation. There is nothing blocking that. We will need the striped LRU for sure, since that's a direct performance improvement. But we might/might not choose to use ristretto depending on the results.

[2020-10-13 06:02] agnivade commented on #15248
Yes, we need to think about the `Keys`. Even in the original implementation, we would get the keys and then iterate and delete specific keys. That operation itself is not atomic, so that itself is not precise, which leads me to believe we should be fine without a lock. But I'll need to investigate carefully.

You have brought an excellent point about false eviction! It totally escaped me. I think

[2020-10-13 07:06] hanzei commented on #15925
Sure, all yours @ridwankustanto. Let me know if you have any questions.

[2020-10-13 07:07] hanzei commented on #13506
Thanks @anchepiece :+1:

[2020-10-13 07:08] #15890 closed

[2020-10-13 07:12] #15876 closed

[2020-10-13 07:13] #15781 closed

[2020-10-13 07:24] #15778 closed

[2020-10-13 07:24] #15461 closed

[2020-10-13 07:24] #15485 closed

[2020-10-13 07:34] Leryan commented on #15248
So to answer each point:

 * I will add the 10% increase
 * Also take the en/decoding code inside the methods
 * No worries for the reviews ^^

[2020-10-13 07:37] Leryan commented on #15249
I figured that out and deleted my initial post, sorry for the noise sincerely :)

Oh i understand, thanks for the update.

_flying away from the issue 😄_

[2020-10-13 07:39] Leryan commented on #15247
Alright, in this case i will comment when i'm ready to take care of this one, if nobody takes it first :) Seeya soon, and good luck with hacktoberfest :)

[2020-10-13 07:57] ani16rs commented on #15799
@Willyfrog Hey! I would like to work on this.

[2020-10-13 07:59] mgdelacroix opened #15939 "Add end to end tests to the "listCommandCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `listCommandCmdF` command, in the `commands/command.go` file. The expecte

[2020-10-13 07:59] mgdelacroix opened #15940 "Add end to end tests to the "archiveCommandCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `archiveCommandCmdF` command, in the `commands/command.go` file. The expe

[2020-10-13 07:59] mgdelacroix opened #15941 "Add end to end tests to the "modifyCommandCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `modifyCommandCmdF` command, in the `commands/command.go` file. The expec

[2020-10-13 07:59] mgdelacroix opened #15942 "Add end to end tests to the "moveCommandCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `moveCommandCmdF` command, in the `commands/command.go` file. The expecte

[2020-10-13 07:59] mgdelacroix opened #15943 "Add end to end tests to the "showCommandCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `showCommandCmdF` command, in the `commands/command.go` file. The expecte

[2020-10-13 07:59] mgdelacroix opened #15944 "Add end to end tests to the "pluginMarketplaceInstallCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginMarketplaceInstallCmdF` command, in the `commands/plugin_marketpla

[2020-10-13 07:59] mgdelacroix opened #15945 "Add end to end tests to the "pluginMarketplaceListCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginMarketplaceListCmdF` command, in the `commands/plugin_marketplace.

[2020-10-13 07:59] mgdelacroix opened #15946 "Add end to end tests to the "configGetCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configGetCmdF` command, in the `commands/config.go` file. The expected w

[2020-10-13 08:07] ani16rs commented on #15924
Hey! I would like to work on this.

[2020-10-13 08:25] hanzei commented on #15924
Awesome, thanks @ani16rs :tada:

[2020-10-13 09:32] Willyfrog commented on #15799
Thank @ShajithaMohammed and @ani16rs for offering, I'll assign @ShajithaMohammed for asking first

[2020-10-13 09:58] vipul08 commented on #15440
After changing to ts and tsx, I ran into bunch of errors.... there are few categories of the error. One of the categories

So, I changed the following code in post_body.tsx:

`constructor(props: any) {
    super(props);`

This applies for all these type of properties. Let me know if it is valid or not?

[2020-10-13 10:19] iBigQ commented on #14205
Bug tracker says its fixed in v5.27. Cannot confirm myself because I am running the latest LTS v5.25. Anyway, I believe in you guys!

[2020-10-13 10:19] #14205 closed

[2020-10-13 12:26] amyblais commented on #15917
Thanks, created a ticket https://mattermost.atlassian.net/browse/MM-29575.

[2020-10-13 13:29] #15693 closed

[2020-10-13 13:29] hmhealey commented on #15440
Sorry, that path being `components/post*view/post*body` is a bug in the code we use to generate these tickets. When translating from Jira to GitHub, it mangles the file paths if they contain multiple underscores. The actual path should be `components/post_view/post_body`

To fix that `any` issue, you'll want to define a proper type for `Props` like we've done [here](https://github.com/mattermost/m

[2020-10-13 14:01] TheDarkestDay commented on #15214
So, I think I have to speak up a little bit about the way how it should be done.

As far as I can see there are two physically possible options:

1. We can introduce some changes to `canDeletePost` (https://github.com/TheDarkestDay/mattermost-webapp/blob/dac58db403a6f99f78cdd2de6650bb1cb2902f95/utils/post_utils.jsx#L70) in order to let it return `true` for some specific case of direct messaging ch

[2020-10-13 14:10] norakrantz commented on #15931
Hi, I'd like to work on this if it's still open!

[2020-10-13 14:51] #13726 closed

[2020-10-13 15:08] #15901 closed

[2020-10-13 15:13] vipul08 commented on #15440
Yeah.. I saw that in one of the file `confirm_modal`. I was wondering how I will get to know what all variables needs to be defined in `Props` object.

One way can be scan the entire file and record all the this.props.* variables and define in `Props`. or Can you suggest more efficient way? 🤔

[2020-10-13 15:18] esethna commented on #15823
cc// @hmhealey on the above approach for thoughts or guidance ^

[2020-10-13 15:22] norakrantz commented on #15931
I'm going to look for a more beginner-level issue, thanks!

[2020-10-13 15:43] esethna commented on #15636
Anyone interested in this ticket: Note that there is an existing ticket that adds the emoji skin tone support that may conflict with this ticket: https://github.com/mattermost/mattermost-server/issues/15930

[2020-10-13 15:56] esethna commented on #15658
@justintucker let us know if you're taking on this ticket :)

[2020-10-13 16:04] mickmister commented on #15214
@TheDarkestDay When you say "message deletion works", do you mean it is persisted, and it is no longer showing in the UI after refreshing? I think this is a fine solution as it requires no backend/db changes. Note that this change would need to be done on the mobile app as well.

Would this be persisted in the database, or something just calculated at runtime? If it is the latter, it won't require

[2020-10-13 18:25] hmhealey commented on #15160
I'm not sure I understand. Are you trying to write an E2E test with the demo plugin?

[2020-10-13 18:35] hmhealey commented on #15440
The `Props` type will replace the `propTypes` field on the object, so you can translate from `propTypes` to `Props`. If the component doesn't have a `propTypes` field for whatever reason, you could also define `type Props = {};` then the type checker will complain about anything missing.

[2020-10-13 18:41] hmhealey commented on #15823
You should be able to tell if channel mentions have been toggled by the user by checking the notify_props field of the ChannelMember to see if they're `default` vs `off`/`on`. If the user hasn't changed that setting before, the value will be `default`, but if they have changed it, it will be `off` or `on`

[2020-10-13 18:45] #15889 closed

[2020-10-13 21:19] KuSh commented on #7520
Seems a little bit more difficult than "Easy" ^^

Since the creation of the ticket gitlab omnibus switched to using environment variables to autoconfigure services and unfortunately in mattermost ["environment variables override settings in config.json"](https://docs.mattermost.com/administration/config-settings.html#configuration-settings) so autoconfiguring mattermost means disabling configurati

[2020-10-13 21:30] KuSh commented on #15888
I'll take this one :+1:

[2020-10-13 21:46] arjunagl commented on #15249
@agnivade

I understand what you are saying and I had this concern as well.  I will have a think/search on this and get back to you.

[2020-10-13 21:49] deanwhillier commented on #15888
It's all your @KuSh, thanks!

[2020-10-13 22:25] esethna commented on #15823
@sowmiyamuthuraman ^

[2020-10-13 22:45] esethna commented on #7520
@hmhealey is this ticket still valid?

[2020-10-13 22:47] esethna commented on #15927
@y-martinez all yours ^

[2020-10-13 23:06] michelengelen commented on #15855
Hi @lantrungseo ... could we have a little chat about the refactor of `SuggestionBox`?
I am currently working on #15852 and #15854 and it kinda affects this ticket as well.

Would you be available for a little chat on the community server?
Thanks!

[2020-10-13 23:40] esethna commented on #14167
^ @vaibhav-stpl good catch, this is a bug

[2020-10-14 02:00] Jonany commented on #15160
Yes. The wording in the issue description seems to indicate that it is necessary.

The previous contributor had also installed the demo plugin.

However, based on your question, I presume that the plugin is not needed. If that's the case, I suggest the reference to the demo plugin be removed from the issue description.

[2020-10-14 04:48] sowmiyamuthuraman commented on #15823
@hmhealey when a user mutes/unmutes a channel, we automatically turn `on` and `off` the channel mention setting. so even if the channel mention is default initially, its value will be changed to `on/off`.

[2020-10-14 07:02] Ayanrocks commented on #15443
I will try this

[2020-10-14 07:10] darkLord19 commented on #15686
@mgdelacroix Hi Miguel, I'd like to work on this. I had one simple doubt, can you please clarify "This new --team flag should filter the listed users by a team" this by giving some example?

[2020-10-14 07:15] Ayanrocks commented on #13725
I will take this

[2020-10-14 08:05] #15452 closed

[2020-10-14 08:18] #14904 closed

[2020-10-14 08:54] TheDarkestDay commented on #15214
I wrongly assumed that it works, sorry. I managed to perform such deletion only while being as a `system_admin` of a team which is reasonable, since user with such privileges is in general capable of deleting any message within a team.

So, from that perspective it looks like almost solely a backend task.

[2020-10-14 10:44] hanzei commented on #13725
Thanks @Ayanrocks :+1:

[2020-10-14 10:45] #13687 closed

[2020-10-14 10:46] hanzei commented on #13475
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6574

[2020-10-14 10:46] #13475 closed

[2020-10-14 10:47] #15463 closed

[2020-10-14 10:54] hanzei commented on #14004
Fixed with https://github.com/mattermost/mattermost-server/pull/15762

[2020-10-14 10:54] #14004 closed

[2020-10-14 10:57] hanzei commented on #15894
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6724

[2020-10-14 10:57] #15894 closed

[2020-10-14 11:52] #15161 closed

[2020-10-14 12:11] vipul08 commented on #15440
There are few bunch of errors still coming for which I need clarification.

**Error 1:**
components/post_view/post_body/post_body.tsx:200:23 - error TS2339: Property 'filenames' does not exist on type 'Post'.

 (post && post.filenames && post.filenames.length > 0)) &&
**Note**: The reason for the above error is because I have declared post as `Post` type.
**Proposed Solution**: Define **filenames*

[2020-10-14 12:27] vipul08 commented on #15930
@esethna - I wanted to try this out

[2020-10-14 12:36] #15822 closed

[2020-10-14 13:47] Tak-Iwamoto commented on #13478
Hi, I'd like to try this issue.

[2020-10-14 14:16] mgdelacroix commented on #15686
Hi @darkLord19! Thanks for taking a look at the issue :slightly_smiling_face:

Exactly, the idea is to be able to list only the users that are members of a given team.

[2020-10-14 14:17] mgdelacroix commented on #15940
Thanks @simross, I'll assign the issue to you then!

[2020-10-14 14:45] mattermod opened #15957 "Implement a multiselect dropdown element for Interactive Dialogs"
Currently we support a single dropdown in the interactive dialogs. It would be beneficial to support a separate multiselect element that allows the user to select multiple options at once. The current elements can be found here: https://docs.mattermost.com/developer/interactive-dialogs.html#elements

This needs to be implemented for the webapp and mobile.

----
If you're interested please comment

[2020-10-14 15:30] pikami commented on #13494
I'm grabbing this.

[2020-10-14 16:15] #15568 closed

[2020-10-14 16:32] esethna commented on #15930
@vipul08 awesome, all yours! Did you see the related ticket for the UI updates to the picker? https://github.com/mattermost/mattermost-server/issues/15636

Let us know if you'd like to take that one as well given they are closely related?

[2020-10-14 17:25] vipul08 commented on #15930
@esethna Okay, I will also look into it. :)

[2020-10-14 18:35] cinlloc commented on #13686
I would like to work on this :hand:

[2020-10-14 19:20] amyblais commented on #15584
### v5.28 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.28.0-rc2/mattermost-team-5.28.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3906/files)

[2020-10-14 20:17] cinlloc commented on #15929
I found that `entities.emojis.customEmoji` map is empty in login screen state. It appears that markdown component needs this map to render custom emojis properly. I tried to initiate the map using `emoji.ts#getCustomEmojis` in `root.jsx` but unfortunately it doesn't work (authentication error in promise). Do you think I'm on the good way or should I change the approach?

[2020-10-14 20:20] cinlloc commented on #13686
Since `AtMentionProvider` extends `Provider`, should I migrate `provider.jsx`, and all inherited classes also?

[2020-10-14 20:37] jasimmons commented on #15946
👋 @mgdelacroix I'll grab this one!

[2020-10-14 20:40] amyblais commented on #13686
@devinbinnie ^

[2020-10-14 20:56] devinbinnie commented on #13686
@cinlloc We should usually have seperate tickets for these, but it appears we don't.
So if you'd like to migrate the whole module feel free, but don't feel pressured to.

[2020-10-14 21:02] #15654 closed

[2020-10-14 23:02] ng29 commented on #15826
Hey Dean,

Apology for the delay, got stuck in shifting. I Will try my best to resolve this before weekend.

[2020-10-14 23:04] deanwhillier commented on #15826
Hi Nitin, no problem at all and thanks again!

[2020-10-14 23:08] esethna commented on #15930
Sweet, I'll assign you that one as well, thanks!

[2020-10-14 23:09] esethna commented on #15636
@vipul08 is taking this one along with https://github.com/mattermost/mattermost-server/issues/15930

[2020-10-14 23:55] ng29 commented on #15826
Can you please help how to start with this, as per my understanding them.sidebarbg needs to be replaced with  --sidebar-bg, is there anything else that needs to be catered ??

[2020-10-15 02:51] djanda97 commented on #15943
I would like to give this issue a shot!

[2020-10-15 03:42] lestgabo commented on #14256
I would like to work on this on the web-app side.

**I just have to figure out how to run a dev environment.**

I already found the source code. How to edit it. What needs to be changed. But I need a dev environment to make sure the code would be right.

[2020-10-15 03:57] deanwhillier commented on #15826
That's pretty much it. Not difficult on the surface, however, you will need to track down where to put the CSS variable so that it applies the same styling as the JS line it is replacing. The ticket description includes some steps you can take with additional notes to consider.

Give it a go and if you are having trouble, message again and I can give you a hand!

[2020-10-15 04:36] deanwhillier opened #15961 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 673"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15962 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 674"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15963 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 675"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15964 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 678"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15965 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 679"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15966 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 680"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15967 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 681"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15968 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 687"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15969 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 689"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:36] deanwhillier opened #15970 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 690"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-15 04:43] arjunagl commented on #15249
@agnivade I have the following two options

Option 1:  We use the following (I haven't figured out the details) https://godoc.org/runtime#SetFinalizer, however I'm not convinced this is a good solution

Option 2: We modify the method signatures right from the api layer to get from the `sync.pool` and pass it all the way down.  This was the `get` and `put` will be in the api layer.  I personally pr

[2020-10-15 05:02] esethna commented on #14256
@lestgabo all yours. If you need help please ask in the Peer to Peer help channel: https://community.mattermost.com/core/channels/peer-to-peer-help

[2020-10-15 05:40] agnivade commented on #15249
Thanks for spending time on this @arjunagl.

A SetFinalizer will only be called during garbage collection. So that's not really a sync.Pool because until the GC kicks in, we won't be able to put it back to the pool.

Option 2 is better, but now every layer will be made aware of the fact that there is a sync.Pool being passed, but it will only be used for 2 structs, which would make it a bit strang

[2020-10-15 06:09] Pranav2612000 commented on #15970
I'll like to work on this issue.

[2020-10-15 07:20] afred-khan commented on #15968
@deanwhillier Please assign me this issue.

[2020-10-15 07:21] aliya-rahmani commented on #15969
@deanwhillier Please assign me this task.

[2020-10-15 07:23] aliya-rahmani commented on #14093
@justinegeffen Please assign me this issue.

[2020-10-15 07:41] mgdelacroix commented on #15943
Sure @djanda97, thanks for taking a look at the issue!!

[2020-10-15 09:18] #15671 closed

[2020-10-15 11:03] TheDarkestDay commented on #15214
I am afraid I have to hand this task over to someone else. I have never written a line in Go and initially I thought that this is going to be front-end related task. Sorry that I didn't manage to recognize it properly.

I've spent some time looking into server codebase to understand at least some big picture and here is what I've got (perhaps it will be useful for anyone who is going to tackle thi

[2020-10-15 11:38] michelengelen commented on #15855
Hi @amyblais I made a typo when referencing this issue. 😅
Could you please remove the `PR Exists` label?

It should be #15854 and not #15855.

I am sorry for the inconvenience 🙇‍♂️

[2020-10-15 12:20] vaibhav-stpl commented on #14167
@esethna here expected behaviour should be that the text field should clear out automatically or we should allow user to clear the `+: emoji` reaction from textfield manually ?

[2020-10-15 13:06] Nisutec opened #15971 "Picture Link Preview not working"
#### Summary
At the moment the picture link preview does not work with all links
The following screenshot shows that the link preview will not be displayed.
![The Problem](https://p52.p0.n0.cdn.getcloudapp.com/items/KouwZgZK/Image%202020-10-15%20at%202.40.20%20PM.png?v=02b2489e1434788f0fecf6e6d25fa387)

#### Steps to reproduce
- Send the following Link to a mattermost chat or private conversation

[2020-10-15 13:23] #15732 closed

[2020-10-15 13:42] amyblais commented on #15971
@Nisutec What Mattermost server version are you on? Does it work if you have Website Link Previews enabled in Account Settings?

[2020-10-15 13:50] Nisutec commented on #15971
The Server Version is Mattermost Enterprise Edition 5.21.0.
Where i can find the "Website Link Previews" Account Setting.
I only find the Picture Link Preview Setting.

![Settings](https://p52.p0.n0.cdn.getcloudapp.com/items/eDuPjQzo/Image%202020-10-15%20at%203.47.59%20PM.png?v=3c2db4b9de39e50c2ee6a101caa2f130)

[2020-10-15 13:53] amyblais commented on #15971
@Nisutec Your System Admin will probably enable Link Previews in the system console: https://docs.mattermost.com/administration/config-settings.html#enable-link-previews.

Also, please note that we support server versions v5.25.0 and above.

[2020-10-15 13:56] Nisutec commented on #15971
Ok thank you for the fast help i will check if this setting is enabled

[2020-10-15 13:56] #15971 closed

[2020-10-15 15:06] hmhealey commented on #7520
I think it's still valid, but I agree that it's not easy. It's also a bit different than the rest of these since it requires changes to GitLab Omnibus and nothing to do with our code base.

Having them disabled in the System Console is fine since that's how the other settings configured by GitLab act. The only potential problem I could see is that users might have their email settings configured d

[2020-10-15 15:46] #15888 closed

[2020-10-15 15:47] #15873 closed

[2020-10-15 15:48] hmhealey commented on #15160
If we can figure out how to load the plugin as part of a unit test, that'd be great, but I don't actually know if we have any way to do that currently. I'll ask around to see if anyone knows how to do that. If we can't find a way to do that, I think we can skip adding an automated test for that and just test it manually instead.

[2020-10-15 15:56] hmhealey commented on #15160
Looks like there's a few tests for it such as [`message_channel_draw_spec.js`](https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cypress/integration/messaging/message_channel_draw_spec.js) and [`upgrade_spec.js`](https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cypress/integration/plugins/upgrade_spec.js). The second one actually uses the demo plugin as well.

[2020-10-15 16:36] hmhealey commented on #15823
We might need to treat muted channels as if that setting is turned on without actually turning it on then which would require some server changes as well. If we make it so that the server treats muted channels as if channel mentions are disabled, we can leave leaving the channel mentions setting as-is when muting/unmuting a channel so we can tell if they've ever changed that setting manually.

[2020-10-15 16:43] hmhealey commented on #15440
`post.filenames` comes from a really old version of Mattermost which stored file attachments differently, but we never actually properly deprecated that field, so we still need to support it unfortunately. Could you submit a PR to https://github.com/mattermost/mattermost-redux to add that field to the type as optional?

Migrating PostBodyAdditionalContent to TypeScript as well would be great, alth

[2020-10-15 16:49] 93lykevin commented on #15968
Hello, can I take this one up please? Thanks!!

[2020-10-15 17:13] #15716 closed

[2020-10-15 17:36] Pranav2612000 commented on #15970
Under Migration TL;DR, You say,

Couldn't find the variable on the line above. Am I on the wrong track?

[2020-10-15 17:56] #15885 closed

[2020-10-15 18:06] Pranav2612000 commented on #15970
Also, I couldn't find the .app__body .mentions--top anywhere else, so I think just removing those lines should solve the issue. Is this right?

[2020-10-15 18:33] hmhealey commented on #15970
The line may have moved since we have other people editing that file. Here's a direct link to the line on a branch that shouldn't change: https://github.com/mattermost/mattermost-webapp/blob/release-5.28/utils/utils.jsx#L688

It's definitely possible that those CSS rules aren't being used any more though. We'd still appreciate a PR to remove those lines though if that's the case. Also, if you do t

[2020-10-15 18:36] Pranav2612000 commented on #15970
Yup. Already on it. Completing the housekeeping for submitting my first PR. Removed the preceding 2 lines too.

[2020-10-15 20:27] vipul08 commented on #15440
@hmhealey - I have submitted the PR for the field addition: https://github.com/mattermost/mattermost-redux/pull/1261

[2020-10-15 20:30] mattermod opened #15975 "Support dark mode and light mode syncing with OS theme setting"
**Summary**

  * Introduces a new setting "Sync with OS appearance settings"
    * If this setting is on, it will sync the user’s theme with the OS dark/light mode settings with the selected dark and light themes
    * If this setting is off, it will always use the one selected theme regardless of the OS settings
  * Existing themes will need to now be defined as light or dark in the theme definit

[2020-10-15 20:56] arjunagl commented on #15249
thanks @agnivade I guess this issue will be closed and will no longer be worked on.

[2020-10-15 21:15] mattermod opened #15976 "Allow users to access recent searches"
We should show a maximum of 5 results sorted by Recency.
The results appear below the search options.
And the max height for the popup should be 550px.
While hovering a specific recent search, you get an “x” icon to clear the search. On hover, it says “Clear”.

Here is how it should appear:

![image](https://user-images.githubusercontent.com/14333569/96194326-fa5fda80-0efe-11eb-9bdf-57278ceff758.p

[2020-10-15 21:15] mattermod opened #15977 "RN: Long press on emojis in the emoji picker to see names"
Note that this ticket is blocked on first updating the emoji picker UI for the mobile app before this ticket can be done: https://github.com/mattermost/mattermost-server/issues/15730

  * Add a long-press interaction to each of the emojis in the ‘Add Reaction’ screen (aka Emoji Picker).
  * A long press on any emoji will show a menu with the following:
    * The emoji name (e.g. smile)
    * Copy

[2020-10-15 21:34] esethna commented on #15023
@14Richa how's this going?

[2020-10-15 21:53] esethna commented on #14476
@jakubnovak998 we realized that this will also need to be applied when the setting for Experimental Sidebar Feature is enabled: https://docs.mattermost.com/administration/config-settings.html#experimental-sidebar-features-experimental

Would you be open to submitting a PR for making the same change for that case as well?

[2020-10-15 22:39] #15584 closed

[2020-10-15 23:51] Jonany commented on #15160
Thanks! :+1: I'll take a look at those tests.

[2020-10-16 00:13] szutt opened #15979 "[5.28.0] mmctl for am64 linked against libc.musl-x86_64.so.1"
#### Summary
Binary mmctl from https://releases.mattermost.com/5.28.0/mattermost-team-5.28.0-linux-amd64.tar.gz is linked against the
libc.musl-x86_64.so.1

#### Steps to reproduce
ldd mmctl
        linux-vdso.so.1 (0x00007ffcffd1c000)
        libc.musl-x86_64.so.1 => not found

#### Expected behavior
ldd mmctl
        linux-vdso.so.1 (0x00007ffe50cf7000)
        libpthread.so.0 => /lib/x86_64-lin

[2020-10-16 03:43] agnivade commented on #15249
Thank you @arjunagl and I apologize that it didn't come out as a success. This was an investigative issue anyways and we weren't sure if this was going to work or not. I do hope this does not discourage you from contributing to more issues :)

[2020-10-16 04:04] ridwankustanto commented on #15925
Hi @hanzei, sorry for late progress. Been a quite busy at work these days, but finally can find the time to continue the task. I put tooltip to give feedback to the user so they know it already copied. It looks like this:

![Screen Recording 2020-10-16 at 10 44 43](https://user-images.githubusercontent.com/19152005/96211375-604f6f00-0f9e-11eb-88d1-49db053c6e3d.gif)

lemme know what you think.

[2020-10-16 04:25] seongwon-kang commented on #15961
I'll like to work on this issue.

[2020-10-16 04:29] djanda97 commented on #15943
I am having some trouble building mmctl. When I cloned a fresh copy and ran `make build` inside the mmctl directory this is the output I receive in the terminal:
go mod vendor
go mod tidy
Running gofmt
Checking github.com/mattermost/mmctl
Checking github.com/mattermost/mmctl/client
Checking github.com/mattermost/mmctl/commands
Checking github.com/mattermost/mmctl/mocks
Checking github.com/mattermo

[2020-10-16 04:40] seongwon-kang commented on #15962
I'd like to work on this issue.

[2020-10-16 05:10] justintucker commented on #15658
@esethna I'm going to pass on this for now.

[2020-10-16 05:19] rohanrk commented on #15964
Could I grab this along with 679-681?

[2020-10-16 05:19] rohanrk commented on #15965
This one as well!

[2020-10-16 05:19] rohanrk commented on #15966
This one as well!

[2020-10-16 05:19] rohanrk commented on #15967
This one as well!

[2020-10-16 06:26] 14Richa commented on #15023
Hey @esethna,  I got pulled into other things and won't be able to take a look this month. You can feel free to re-assign to someone else.
Thanks! :)