[2019-01-08 09:30] hanzei commented on #9764
Great @dchukmasov! :tada:  Let me know, if you have questions.

[2019-01-08 10:30] esethna opened #10075 "Write an automated test using `cypress` for "Copy a permalink and paste into another channel""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-08 11:53] kaakaa commented on #10051
I can reproduce this.
With setting at least one language to **System Console** > **Localization** > **Available Languages**, **Default Client Language** will be displayed in **Language** section in Account Settings.

Mattermost v5.6.0
macOS / Chrome

[2019-01-08 13:10] saturninoabril commented on #10035
PR has been merged.  Thanks @pradeepmurugesan!

Closing this ticket now.

[2019-01-08 13:10] #10035 closed

[2019-01-08 13:16] 0xSheff opened #10076 "Managing members in the any team available any team member"
Hello!
We use Mattermost server (TEAM plan) and noticed that any member (not system admin or team admin, just member) can manage members (or remove them) in the any channel.
This is wrong and is contrary to the documentation: https://docs.mattermost.com/help/getting-started/managing-members.html
According to this doc only Team Admins and System Admins can manage members.

[2019-01-08 13:30] amyblais commented on #10074
Hi @Gloriashield,

Would you be open to reviewing this page and sending us the relevant details about your environment: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-01-08 13:34] amyblais commented on #10076
Closing this as a duplicate of https://forum.mattermost.org/t/managing-members-in-the-any-team-available-any-team-member/6463.

[2019-01-08 13:34] #10076 closed

[2019-01-08 15:14] sapnasivakumar commented on #10075
@saturninoabril I would like to work on this one

[2019-01-08 15:15] hanzei commented on #10075
Thanks @sapnasivakumar! :tada:

[2019-01-08 15:20] sapnasivakumar commented on #10040
@esethna i would like to work on this one

[2019-01-08 15:21] sapnasivakumar commented on #10038
@esethna I would like to work on this one

[2019-01-08 15:25] lieut-data commented on #10060
Given the delay occurs just after the message `stopping websocket hub connections`, it's possible this is an artifact of my changes in https://github.com/mattermost/mattermost-server/pull/9863, though nothing jumps out as a cause yet.

@towolf, can you verify the timestamps in your second log entry? They seem curiously out of order:
[code]

Does this problem reproduce when plugins are disabled? If

[2019-01-08 15:30] towolf commented on #10060
Right, not sure what I did there. I think I puzzled these together somehow.

The thing is, that every other time, the logs would not print before `mattermost` process was getting KILL (90s timeout).

And then on the next time it printed something about terminating plugins.

I added the mentioned systemmd config `KillMode=process` now, and shutdown is always immediate.

Don't want to disable the pl

[2019-01-08 15:38] towolf commented on #10060
@lieut-data see above ...

[2019-01-08 15:40] lieut-data commented on #10060
Thanks @towolf, that should definitely help us pin it down. @amyblais, can we put this into triage as a ticket, likely for ABC to investigate?

[2019-01-08 15:45] amyblais commented on #10060
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-13678.

[2019-01-08 15:50] towolf commented on #10060
BTW, we use Ubuntu 16.04...

[2019-01-08 15:51] towolf commented on #10060
systemd service file:
[code]

[2019-01-08 16:00] amyblais commented on #10051
Thanks all, I was able to reproduce it and opened a ticket here: https://mattermost.atlassian.net/browse/MM-13680.

[2019-01-08 16:09] saturninoabril commented on #10040
That's awesome, thanks @sapnasivakumar 🎉

[2019-01-08 16:16] saturninoabril commented on #10038
Sure, thanks @sapnasivakumar 🎉

[2019-01-08 16:18] sapnasivakumar commented on #10034
@saturninoabril I would like to work on this

[2019-01-08 16:46] esethna opened #10078 "[Help Wanted] [MM-13439] Change "X" to "Cancel" on Profile page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-08 17:01] saturninoabril commented on #10034
Sure, thanks @sapnasivakumar 🎉

[2019-01-08 17:20] scottleedavis commented on #9283
great question/point @abergs , thank you.  I brought this up with @coreyhulen and he had some great recommendations.

_solve it for US English_
* do it in an easily extensible way for others to add new languages/locales based on the server setting
* key off the server locale, but fallback to English when it's not a supported language.

[2019-01-08 17:21] abergs commented on #9283
Sounds great @scottleedavis

[2019-01-08 18:02] amyblais commented on #10008
Hi all, the Jira ticket was closed because we cannot reproduce this. Can you help share specific reproduction steps to help us diagnose this issue?

[2019-01-08 19:16] jjellinek commented on #10008
When you click on your own username in the Direct Message list the screen blanks out. This is latest versions both Linux and Windows and all users.
![mattermost-bug](https://user-images.githubusercontent.com/8393056/50853362-e0808380-1379-11e9-8348-b1a6f380bfc8.gif)

[2019-01-08 21:35] hanzei commented on #8092
I'm not familiar with this part of the codebase. @hmhealey could you please help?

[2019-01-08 21:42] hanzei commented on #9541
@hollabigj Could you please open a new issue for this with step to reproduce?

[2019-01-09 00:08] Gloriashield commented on #10074
Thank you for your interest.

What OS and version is the Mattermost server installed?
- Ubuntu 18.04 (AWS)

What is your Mattermost server version?
- 5.7 (current github mater branch)
- pull https://github.com/mattermost/mattermost-server (webapp) and make run it.

Are you experiencing the issues with the browser webapp, if so which one?
- Chrome 71.0.3578.98 64bit
-

Are you experiencing the issu

[2019-01-09 00:55] amyblais commented on #10008
Do you see any errors in the Server logs when this issue occurs?

[2019-01-09 02:23] jasonblais commented on #9233
Hey @hanzei, just a heads up that it looks like the JIRA ticket was queued for some UX discussion, so I'll close this help wanted ticket for now. We can re-open it once it's passed UX

[2019-01-09 02:24] #9233 closed, assigned to nobody

[2019-01-09 03:59] akhilanandbv003 commented on #9597
wouldn't this require an id and the creator so that we verify the creator is modifying the command?
Something like `command modify w16zb5tu3n1zkqo18goqry1je --creator actualuser`
Or just `command modify w16zb5tu3n1zkqo18goqry1je`  is sufficient as MarkFlagRequired ?

[2019-01-09 07:01] hanzei commented on #9597
Just passing the command ID is fine. There are no authentication checks for the CLI.

[2019-01-09 11:46] dchukmasov commented on #9764
@hanzei thanks! I actually come to the point where I have few.
I have implemented a functionality and unit tests pass. How do you suggest I continue testing the CLI?
Also I am completing a pull request summary.
1) Does CLI counts for "UI changes"?
2) I had to make changes to store.sqlstore.team_store.go -> is this considered a critical section?

Thank you!

[2019-01-09 12:20] #9946 closed

[2019-01-09 13:50] hanzei commented on #9764
Please add a test case to https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/commands/team_test.go. And you can do some smoke testing by yourself. But after your submitted your PR, we will test it again :wink:.

1. No, it doesn't.
2. Yes, it does. But I suppose there should be any changes to `team_store.go`. What exactly did you need to change? You can just summit your PR a

[2019-01-09 16:46] esethna opened #10084 "[Help Wanted] [MM-13697] UI Automation: Write an automated test using Cypress for "Edit post that has attachment, paste text in middle""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-09 17:41] esethna opened #10085 "[Help Wanted] [MM-13701] UI Automation: Write an automated test using Cypress for "Consecutive message does not repeat profile info""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-09 18:15] lieut-data commented on #10060
@towolf, we've found and fixed an issue that I suspect is behind your report: https://github.com/mattermost/mattermost-server/pull/10081.

I'm going to discuss getting this into v5.7 at a minimum, and perhaps you can help us verify in your environment?

[2019-01-09 18:56] lieut-data commented on #10060
Heads up that we're going to keep this in `master` only for now for release in v5.8 (February 2018).

[2019-01-09 18:59] hmhealey commented on #8092
Hi @ejachang. How are you uploading the file? Is it just using the web app? It seems like either the data that you're using is bad or there's something preventing all of the data from being loaded

[2019-01-09 20:42] #9862 closed

[2019-01-09 21:38] towolf commented on #10060
@lieut-data Sure, I'll follow the release notes and report back. In February then, yes?

[2019-01-10 00:45] amyblais commented on #9960
Closing this as there is a fix available for this issue,

[2019-01-10 00:45] #9960 closed

[2019-01-10 00:46] amyblais commented on #9874
Closing this as there hasn't been activity on here for a while,

[2019-01-10 00:46] #9874 closed

[2019-01-10 00:47] amyblais commented on #9842
Closing this as there hasn't been activity on this for a while,

[2019-01-10 00:47] #9842 closed

[2019-01-10 00:50] amyblais commented on #9469
Closing this Issue as the Jira ticket has been resolved and tested internally. The fix will be available in v5.8 release.

[2019-01-10 00:50] #9469 closed

[2019-01-10 09:08] ceving opened #10088 ""mattermost config show" does not exist"
#### Summary
The command `mattermost config show` does not show anything.

#### Steps to reproduce
Version:

    # ./bin/mattermost version
    {"level":"info","ts":1547110807.2463984,"caller":"utils/i18n.go:78","msg":"Loaded system translations for 'de' from '/opt/mattermost/i18n/de.json'"}
    {"level":"info","ts":1547110807.2465196,"caller":"app/app.go:204","msg":"Server is initializing..."}

[2019-01-10 11:39] hanzei commented on #10088
`config show` was added in Mattermost v5.6. (See https://docs.mattermost.com/administration/changelog.html#command-line-interface-cli) Could you please update your server?

[2019-01-10 16:20] hmhealey commented on #10063
Hi @ramnes, is mattermost-integration-giphy.domain running on the same network as the Mattermost server? If so, you may need to configure the `AllowedUntrustedInternalConnections` setting to allow access to the server. By default, Mattermost prevents accessing addresses on the local network so that users outside of the network cannot use it to get into the network. There's more information on that

[2019-01-10 16:22] ceving commented on #10088
Sorry my fault.

[2019-01-10 16:22] #10088 closed

[2019-01-10 16:22] hmhealey commented on #10074
Hi @Gloriashield, thanks for the report. That was a known issue on the master branch a few days ago, but it should be fixed if you pull the latest version of master.

[2019-01-10 17:21] ramnes commented on #10063
@hmhealey They aren't on the same network, and I don't want to allow *untrusted* connections anyway.

[2019-01-10 18:49] rajathedav123 commented on #2524
Unexpected end of JSON input while parsing near '...:"~0.6.0","q":"1.4.1"'

[2019-01-10 23:11] levb commented on #8641
@sindhugudivada I updated the PR, it still needs to be fully put together with final configuration details, and a few tests with plugins. Are you still interested in taking this on?

[2019-01-11 12:40] swood opened #10091 "HipChat export convertor"
Hello.

I'd like to say that I wrote a script for converting HipChat export to Mattermost format:
https://github.com/swood/varna

If you are interested, I could prepare my repo with the script to publish on your official site. Just because HopMost doesn't work right and has lots of limitations such as attachments.

[2019-01-11 13:50] amyblais commented on #10091
Hi @swood!

Yes, that would be great! When the repo is ready, please also fill out this form: https://spinpunch.wufoo.com/forms/mattermost-integrations-and-installers/.

[2019-01-11 16:03] adzimzf commented on #9491
Hi, I try to work with this one.

Here's the PR.
https://github.com/mattermost/mattermost-server/pull/10093

[2019-01-11 19:01] amyblais commented on #9996
### v5.7 RC-4 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.7.0-rc4/mattermost-team-5.7.0-rc4-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3ef07f32237f93a9a15f867fe351451bde167883/source/administration/changelog.md)

[2019-01-11 20:14] esethna opened #10096 "[Help Wanted] [MM-13746] Add ability to get team/channel members for a specific user to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-11 20:19] esethna opened #10097 "[Help Wanted] [MM-13747] Add ability to list users to plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-11 20:50] esethna opened #10098 "[Help Wanted] [MM-13748] Add ability to get team statistics to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-11 20:55] esethna opened #10099 "[Help Wanted] [MM-13749] Add ability to search posts in a team to plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-11 21:09] esethna opened #10100 "[Help Wanted] [MM-13750] Add ability to search teams to plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-11 21:46] hanzei commented on #10097
Thanks @dom3k! :tada:

[2019-01-12 16:02] Sheshagiri commented on #10098
I'm in for this.

[2019-01-12 20:47] tclain commented on #9762
I can take it if you want guys. Any specifics I need to know about this ?

[2019-01-12 22:57] b-lawrence commented on #9502
I've managed to set up MM server and webapp. Everything looks good. I'd like to start with this.

[2019-01-13 01:07] jasonblais commented on #9502
Thank you @b-lawrence! Let us know if you have any questions while working on it.

[2019-01-13 11:09] hanzei commented on #10098
Great, thanks @Sheshagiri! :+1:

[2019-01-13 21:36] awbraunstein commented on #10099
I'd like to take this Issue.

[2019-01-13 22:42] hanzei commented on #10099
Great @awbraunstein! Let me know, if you have any questions.

[2019-01-13 23:05] awbraunstein commented on #10099
I have a few questions.

1. Did you mean `model.SearchParameter` instead of `model.SearchParameters`?
2. Assuming the answer to 1 is yes, `model.SearchParameter` has "optional" fields that are pointers. Should these all be nil checked?
3. It looks like the function that I need to call also takes in a userId. Should I update the signature to require that as well?

Thanks

[2019-01-14 05:09] Gloriashield commented on #10074
Thanks!

[2019-01-14 05:09] #10074 closed

[2019-01-14 08:00] ejachang commented on #8092
Hi @hmhealey. Yes, I'm uploading just using the web app. I think I found the issue - I was using a tiff file with extension .tif, and that seems to have caused the problem. It worked fine when I used a file with the .tiff extension. Should I move forward with this for now?

[2019-01-14 12:21] gharms80 commented on #9960
Tested 5.5.2, same error.

[2019-01-14 13:35] amyblais commented on #10031
Closing this as there hasn't been activity here for a while,

[2019-01-14 13:35] #10031 closed

[2019-01-14 13:36] amyblais commented on #10026
Closing this as the above Jira ticket has been tested internally and the fix will be available in v5.7 release.

Note that there is one related ticket open that will be fixed in a future release: https://mattermost.atlassian.net/browse/MM-13722.

[2019-01-14 13:36] #10026 closed

[2019-01-14 13:57] lieut-data commented on #9960
@gharms80, heads up that the fix for this won’t land in a release until 5.8, scheduled for February.

[2019-01-14 14:06] gharms80 commented on #9960
This is 5.5!? Seems to me the patch is in. Maybe I'm wrong?
https://github.com/mattermost/mattermost-server/commit/0e31263320bd4c547de430e9291e91fe635c71d0
Otherwise I have to wait for February.

[2019-01-14 14:15] lieut-data commented on #9960
@gharms80, while we do select some patches to issue hot fixes against previous versions, this one is currently only in master.

We issue a release each month, but only cut from master every other month: so v5.6 and v5.7 are based on master from the end of November before this patch went in. Our v5.8 release in February will be cut from master near the end of this month, which should include this f

[2019-01-14 14:44] saturninoabril commented on #10036
PR merged 🎉 . Thanks @sapnasivakumar!

[2019-01-14 14:44] #10036 closed

[2019-01-14 14:46] hmhealey commented on #10063
Maybe you can try setting the `SSL_CERT_FILE` or `SSL_CERT_DIR` environment variable when running Mattermost then?

[2019-01-14 16:41] techniker opened #10107 "Custom Brand Text with standard emojis leads to complete login page failure"
#### Summary
Custom Brand Text with standard emojis embedded (<3 works) leads to complete login page failure.

#### Steps to reproduce
Using version 5.6.2 this behaviour is reproducible by adding or copying emojis into the custom brand text field.
The login page will not be shown, only a white blank page is observed.

#### Expected behavior
Login page should display as expected.

#### Observed beh

[2019-01-14 17:05] nlowe opened #10108 "Slack Incompatibility: JSON bool fields represented as strings cannot be deserialized"
#### Summary
Boolean values in JSON Payloads encoded as `"true"` and `"false"` are unsupported in Mattermost.

#### Steps to reproduce
Tested on 5.4.0 and 5.7.0-rc2

1. Create an incoming webhook
2. Send the following payload:

[code]

#### Expected behavior
The webhook is accepted and the message is posted

#### Observed behavior (that appears unintentional)
The following error response is return

[2019-01-14 18:04] stormhaul opened #10109 "Filter Race Condition"
#### Summary
A race condition in the ajax request of tickets using quick filters on a board results in the correct results being overwritten by a previous request.

#### Steps to reproduce
Have a board with a large amount of tickets, and a quick filter with a small amount of tickets.

1. Start from any filter state that isn't your large data set.
2. Request your large data set.
3. ASAP, before you

[2019-01-14 18:04] #10109 closed

[2019-01-14 18:04] stormhaul commented on #10109
accidentally posted this on the wrong repository, sorry.

[2019-01-14 19:41] amyblais commented on #10107
Hi @techniker,

Do you also have a Custom Brand image uploaded?

I wasn't able to reproduce this just now, but I'm on a v5.7 server as we're getting ready to release a new version, and I have a Custom Brand Image previously uploaded.

[2019-01-14 19:45] amyblais commented on #10108
Thank you @nlowe, would you be interested in opening a PR for this?

[2019-01-14 19:47] nlowe commented on #10108
Most definitely!

[2019-01-14 22:46] techniker commented on #10107
Hi amyblais,

yes, I do have a custom brand image uploaded.
Did not change any of the custom branding data and after the update to 5.6.2 this failure appeared.
When I remove the emojis (which are no custom emojis) from the custom brand text field, everything works as expected again.

[2019-01-15 00:03] techniker commented on #10107
Okay, fine. Thanks again!
Will reopen this ticket if the problem persists in v5.7.

[2019-01-15 09:06] saturninoabril commented on #9948
Thanks @kosgrz!  PR has been merged.

[2019-01-15 09:06] #9948 closed

[2019-01-15 09:22] #10098 closed

[2019-01-15 11:23] ramnes commented on #10063
Using `AllowedUntrustedInternalConnections` works, even if they aren't on the same network. I guess it's because the webservice Mattermost tries to call is in a private network (10.0.0.0). Frankly this option needs much more documentation, because it has a really weird name and behavior. I'm still unsure of what the `Untrusted` part means: is it about SSL or not?

[2019-01-15 11:23] #10063 closed

[2019-01-15 13:09] JtheBAB opened #10115 "CLI channel move syntax "wrong""
Hi all

#### Summary
The CLI channel move syntax is not common.

#### Issue
At the moment the channel move is using the syntax:
channel move [destination] [source] --username myusername

but every program that moves something has the syntax:
mv [source] [destination]

By switching the syntax it makes the cli more consistent with other move tools and also within the cli. For example channel rename

[2019-01-15 13:12] amyblais commented on #9996
### v5.7 RC-6 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.7.0-rc6/mattermost-team-5.7.0-rc6-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3ef07f32237f93a9a15f867fe351451bde167883/source/administration/changelog.md)

[2019-01-15 13:33] amyblais commented on #10115
Hi @JtheBAB,

I opened an improvement ticket for this here: https://mattermost.atlassian.net/browse/MM-13787.

[2019-01-15 14:56] adzimzf commented on #10100
Hi, I try pick this issue.

[2019-01-15 15:23] jasonblais commented on #10100
Thanks @adzimzf! Let us know if you have any questions

[2019-01-15 15:53] adzimzf commented on #10100
Hi @jasonblais. I think the story is clear.

[2019-01-16 08:23] ntwrkguru commented on #9353
I don't see how this is working as expected. I have noticed this as well and, as a user, I would expect that searching mysql would return the post with the message as indicated in the OP. As a user, I don't know what I don't know, including if the search term is uppercase, lowercase, mixed case, part of another word/term or by itself, and expect the search function to handle this for me. Arguably,

[2019-01-16 10:56] hanzei commented on #10100
Fixed with https://github.com/mattermost/mattermost-server/pull/10116. Thanks @adzimzf for your contribution! :tada:

[2019-01-16 10:56] #10100 closed

[2019-01-16 12:07] swood commented on #10052
Hey, @jasonblais, do you have any updates?

[2019-01-16 12:10] swood commented on #7721
Hey, @amyblais.
Do you know something about this problem? It's a real problem when lots of people receiving huge counts of emails when they were online. Just because status was wrong.

[2019-01-16 15:56] adesorme commented on #10026
How can I do this? I'm having the same issue, but no updates are available in the app store. Thanks!

[2019-01-16 19:17] pirtleshell opened #10119 "Deleting a message should not delete replies to deleted message"
#### Summary
Deleting a message that has comments also deletes all replies to the comment, without consent or permission form the other comment authors, regardless of permissions.

#### Steps to reproduce
1. Have one user post a message and another respond with a reply from the sidebar.
2. Have the original author delete their original message.
3. Note that all subsequent comments on their message

[2019-01-16 23:05] tclain commented on #9762
cool ! thanks this one pretty hard, I'll see what I can do.

[2019-01-17 00:03] jjellinek commented on #10008
OK I think the problem was something to do with a github plugin I had installed and tested, and then disabled. The plugin had root only permissions. I did a recursive permissions change on the plugins directory to the mattermost user, and didn't think much more of it. I tried the direct message to myself later and realised it was now working. I can't for sure say if this was related or not!

[2019-01-17 03:04] dv29 commented on #9562
I'd like to take this up, just started with setting up the env

[2019-01-17 07:43] hanzei commented on #9562
@dv2 Great!
Feel free to PM me on the [Mattermost Community Server](https://community.mattermost.com) if you needed help setting up the dev environment. Or if you have other questions. :wink:

[2019-01-17 12:43] Mehuge opened #10120 "Permalink to direct message also shows messages prior to the linked message"
#### Summary
Permalink to a direct message pasted into a channel allows any viewer to see not only the direct message linked but some prior messages in the direct channel.

#### Steps to reproduce
1. Start a direct message conversation with someone.
2. Pick one of the messages, and copy link.
3. Paste the link into another channel.
4. Have a third person click the link

#### Expected behavior
To s

[2019-01-17 12:49] Mehuge commented on #10120
Closing.  It seems it's only admins that can see this.  I had not realised the person reporting this was an admin.

[2019-01-17 12:49] #10120 closed

[2019-01-17 18:43] torlenor commented on #7721
Now that there is Electron 4.0 in master, I will take a look again

[2019-01-17 18:50] jasonblais commented on #10052
@swood I heard back - this is data that other clients don't really need to receive, so we don't send it back.

Is there a use case where you need this information to being sent?

[2019-01-17 20:22] swood commented on #10052
@jasonblais yes, exactly. I'd like to make a mere mention for a group of people, for example, "@duty". It's a person who is sometimes changing. So, I want to have a method to add or delete this mention or subscribe people on "mention words". Is it clear?

[2019-01-18 00:05] gupsho commented on #10096
@hanzei, @jwilander  just to confirm,
GetTeamMembersForUser would return all TeamMembers for a user across all the teams that user is on?
and
GetChannelMembersForUser would return all ChannelMembers for a user across all the channels user is on for a particular team?

[2019-01-18 00:43] b-lawrence commented on #9502
https://mattermost.atlassian.net/browse/MM-13643 indicates that updating the favicon when notifications are present was disabled for a reason. What's the verdict?

[2019-01-18 01:35] uhlhosting commented on #8636
@jasonblais I might had reached same issue, guess is a bug somewhere.

[2019-01-18 01:36] uhlhosting commented on #8636
The throlling of API locked and it never unlocked in my opinion.

[2019-01-18 12:36] jwilander commented on #10096
That's correct @gupsho 👍

[2019-01-18 14:11] jasonblais commented on #9502
Hey @b-lawrence, good question. Let me verify with our UX team but my understanding is that the design proposed here is still the one we want to use.

[2019-01-18 14:13] jasonblais commented on #9502
@b-lawrence I've posted the question to our UX team here : https://community.mattermost.com/core/pl/mayikusee78xubmk69bgn4bfpe

[2019-01-18 14:13] jasonblais commented on #8636
Is the issue reproducible?

[2019-01-18 14:39] uhlhosting commented on #8636
@jasonblais
This would require more local debugging at this point. I had to disable 2nd auth via GitLab, while there are some issues with it.

[2019-01-18 14:53] amyblais commented on #10119
Hi @pirtleshell,

This is currently expected behaviour, so I created an improvement/Story ticket: https://mattermost.atlassian.net/browse/MM-13792.

Please let us know if you're interested in helping implement this improvement.

[2019-01-18 20:15] amyblais commented on #10026
Hi @adesorme, v5.7 server version has been released and it is ready to be downloaded. The next mobile app release is currently a work in process and will be ready in the next few upcoming days.

[2019-01-18 21:08] amyblais commented on #10008
The issue sounds to be fixed so I'll close this for now. If the issue comes back, please re-open this Github Issue with detail repro steps and Mattermost log errors.

[2019-01-18 21:08] #10008 closed

[2019-01-18 23:00] swood commented on #10052
Yeah, thank you. But could you please open a release page:

https://github.com/mattermost/mattermost-plugin-autlink/releases

now it shows an error 404.

[2019-01-19 12:31] esethna opened #10121 "Remove dockerhost cruf"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-19 15:49] jasonblais commented on #10052
@swood That's correct, but contributions to add support for API is welcome and highly appreciated 👍

[2019-01-20 00:43] vineelya commented on #10121
Can I try this one?

[2019-01-20 02:02] cpanato commented on #10121
@vineelya go for it!! :tada:

[2019-01-20 02:04] dv29 commented on #9486
I'd like to take a stab at this

[2019-01-20 14:13] jwilander commented on #9486
Awesome @dv29! If you have questions or want to discuss anything feel free to ask in the [Developer Toolkit channel](https://community.mattermost.com/core/channels/developer-toolkit)

[2019-01-20 22:48] fosBHY opened #10125 "Not able to paste Custom Theme"
#### Summary
Can not paste theme into field.

#### Steps to reproduce
Like described in closed issue #6184 ( https://github.com/mattermost/mattermost-server/issues/6184 ) it is not possible for me write into the field. But it is also not possible to PASTE into the field, so I can not use the themes provided at https://docs.mattermost.com/help/settings/theme-colors.html#custom-theme-examples for ex

[2019-01-21 01:59] awbraunstein commented on #10099
What should the behavior of a search like `Mattermost in:@john.doe` aka direct message history? Would this just not be supported?

[2019-01-21 14:07] jwilander commented on #10099
I would much rather handle that through explicit options as part of the API input rather than including it like that as part of the search term/phrase

[2019-01-21 14:35] 7-plus-t commented on #9795
Hi @swood
Could you send me or attach the code snippet here please? I've tried to mark it as read using the  REST API, but couldn't get it to work.

Thanks!

[2019-01-21 15:00] swood commented on #9795
Hey, @7-plus-t, sure:

import (
    "log"
    "os"

    mattermost "github.com/mattermost/mattermost-server/model"
)

func getClient(url string, username string, password string) *mattermost.Client4 {
    client := mattermost.NewAPIv4Client(url)
    r, e := client.Login(username, password)
    if e != nil {
        log.Fatal("Couldn't login: ", e)
    }
    log.Printf("Client logged in. Auth Token

[2019-01-22 07:32] vineelya commented on #10121
I 'm trying to set up the dev environment and I get the following issue up on trying to run make run-server

[code]

[2019-01-22 12:17] 7-plus-t commented on #9795
Hi @swood,
Thanks for the code. I used it as an inspiration to retry the REST API.
In my previous approach I tried using the /view call according to the API doc, stating that using a whitespace for the channel_id should affect all the channels of the user -> fail.
Iterating over the channels found by `/api/v4/users/%s/teams/%s/channels/members` and using them as input for `/v4/channels/members/%s/

[2019-01-22 12:48] adzimzf commented on #10115
Hi, can I pick this ?

[2019-01-22 15:01] dv29 commented on #9486
This will take a little longe then I expected, just so everyone is aware of it, have started with creating the `.proto` files and working on the tool to auto generate them, will create a WIP asap.

[2019-01-22 15:47] amyblais commented on #10115
Hi @adzimzf, yes you can work on a fix for this, thank you!

[2019-01-22 19:42] amyblais commented on #10125
Hi @fosBHY,

Can you help upgrade to v5.7 server version? I tested this just now on the latest version and wasn't able to repro. If you want to, you can first do some testing on our community instance here: https//community.mattermost.com

[2019-01-22 21:58] amyblais commented on #10059
Closing this as we haven't received a response for a while,

[2019-01-22 21:58] #10059 closed

[2019-01-22 21:58] amyblais commented on #10057
Closing this as we haven't received a response for a while,

[2019-01-22 21:58] #10057 closed

[2019-01-23 13:57] sandlis commented on #7543
Is it okay if I give it a try?

[2019-01-23 14:06] hanzei commented on #7543
That would be highly appreciated @sandlis! :+1:

Let me know, if you have any questions.

[2019-01-23 14:40] hanzei commented on #10121
Hey @vineelya,
What OS are you using? Did you follow the setup steps on https://developers.mattermost.com/contribute/server/developer-setup/?

[2019-01-23 16:08] amyblais commented on #10107
Hi @techniker, have you had a chance to test this on v5.7?

[2019-01-23 19:01] waseem18 commented on #9958
@hanzei Pushed working code to [this repo](https://github.com/waseem18/mattermost-plugin-google-calendar)

As of now it lacks clear documentation, I'll update that too.

Here's how the reminder looks like
<img width="499" alt="screen shot 2019-01-24 at 12 25 09 am" src="https://user-images.githubusercontent.com/5843007/51630132-5e927c00-1f6f-11e9-84f5-95019ff047c8.png">

[2019-01-23 19:47] esethna commented on #7543
@hmhealey I know we have some changes coming up in this area with our [Scrolling Overhaul](https://mattermost.atlassian.net/browse/MM-11209) epic, would it make sense to hold off on this feature for now?

[2019-01-23 20:02] awbraunstein commented on #10099
I'm also wondering if searching for `in:@a,b` should still work without a "current user" and should search the direct messages between `@a` and `@b`. Or should we just return an error for any sort of search in a group or direct channel?

[2019-01-24 04:49] dmamills commented on #10078
I would like to take this as a first ticket!

[2019-01-24 05:09] sandlis commented on #7543
Please let me what you guys decide. I can check out other bugs if this
needs to be on hold.

On Thu 24 Jan, 2019, 1:17 AM Eric Sethna <notifications@github.com wrote:

[2019-01-24 09:40] lindalumitchell commented on #9755
Testing note: I ran through a QA review on https://github.com/mattermost/mattermost-webapp/pull/2012, and approved. 👍

[2019-01-24 10:12] sandlis commented on #9399
@waseem18 If in case you are not working on this, can I pick this up?

[2019-01-24 10:45] sandlis commented on #9399
Okay, no problem.
Thanks for the response!

Regards,
Sandeep Sukhani

On Thu 24 Jan, 2019, 4:04 PM Wasim Thabraze <notifications@github.com wrote:

[2019-01-24 14:19] bgibson710 opened #10130 "TLS 1.0 still shows up even though TLSMinVer set to 1.2"
#### Summary
After setting TLSMinVer to 1.2 ConnectionSecurity to TLS and setting my preferred TLSOverwriteCiphers list, TLS 1.0 still shows available without any ciphers when I scan it via ssllabs.com

#### Steps to reproduce
My Settings are as follows:
"ConnectionSecurity": "TLS,
"TLSMinVer": "1.2",
"TLSStrictTransport": true,
"TLSStrictTransportMaxAge": 63072000,
"TLSOverwriteCiphers": ["TLS_EC

[2019-01-24 15:11] esethna opened #10131 "[Help Wanted] [MM-13827] [Desktop] Expose Webview Developer Tools via View Menu"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-24 15:18] amyblais commented on #10130
Hi @bgibson710, can you help confirm what Mattermost server version you're currently on?

[2019-01-24 15:19] bgibson710 commented on #10130
Oops sorry I'm on 5.7.0.

[2019-01-24 15:19] hmhealey commented on #7543
Yeah, I think we should mark this as On Hold if possible. There's a lot going on in this area of the code right now, and I think we might have assigned this feature to someone on the team already

[2019-01-24 15:31] bgibson710 commented on #10130
Yes, I do have haproxy in front of it, but it's just doing a TCP pass through, not doing anything with SSL at all, and the mattermost binary is setting the TLS settings itself.

[2019-01-24 15:36] #10108 closed

[2019-01-24 15:51] esethna opened #10132 "[Help Wanted] [MM-13828] Initialize each unit test with a default config.json"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-24 15:57] icelander opened #10133 "mattermost-push-proxy recommends Ubuntu 14.04"
The requirements section for the [mattermost-push-proxy](https://github.com/mattermost/mattermost-push-proxy) recommends Ubuntu 14.04, which is ending support in April. This should be updated to a newer version of Ubuntu.

[2019-01-24 16:06] Fodoj opened #10134 "No way to turn off email rate limiting"
I could not find any way to disable email rate limiting. Is that so and there is no such feature? Searching around the internet and existing features as well as examining source code of mattermost didnt help much.

[2019-01-24 16:10] cpanato commented on #10133
We need to update the doc for the latest Ubuntu

[2019-01-24 17:11] hanzei commented on #7543
@hmhealey Are you fine with closing this for now and reopen it again, once we figured out, if we want this as a HW ticket?

[2019-01-24 18:01] amyblais commented on #10133
Sounds like the docs need updating, so I opened an Issue in the docs repo: https://github.com/mattermost/docs/issues/2481.

[2019-01-24 18:01] #10133 closed

[2019-01-24 18:32] amyblais commented on #10134
Hi @Fodoj,

Would you be open to describing what you are referring to with email rate limiting?

[2019-01-25 00:47] jasonblais commented on #9502
@b-lawrence Have confirmed that the design proposed here is still accurate. If you're interested helping with the implementation, that would be very much appreciated!

[2019-01-25 00:56] esethna opened #10137 "[Help Wanted] [MM-13833] Configure unit tests to log through t.Log"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 07:30] Fodoj commented on #10134
@amyblais this:

https://github.com/mattermost/mattermost-server/blob/ae76d27b7dbb8f20b35f17153fe77beb8c0d2297/app/server.go#L66
https://github.com/mattermost/mattermost-server/blob/c494f6f8981fb39ae07ac772ec8ec4fdca69d8ed/app/email.go#L25

There is a hard limit of 20 email invitations per hour. So when I try to send out 100 invites, API returns "OK", but in server logs there is an error "Invite e

[2019-01-25 09:10] sandlis commented on #10132
Is it okay if I give it a try?

[2019-01-25 11:39] hanzei commented on #10132
Surely @sandlis! :tada: Let us know, if you have any questions.
Feel free to join on the [Mattermost Community Server](https://community.mattermost.com) and ask questions or propose changes there.

[2019-01-25 14:09] hanzei commented on #9958
That looks amazing @waseem18! :tada: Looking forward to this plugin!

[2019-01-25 16:49] sandlis commented on #10132
@hanzei Posted my approach here: https://pre-release.mattermost.com/core/pl/6ahinrjgbfyubf43rq1i4a3yxw
Waiting for a response on this.

[2019-01-25 22:48] esethna opened #10145 "Add a count for pinned posts header icon"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:48] esethna opened #10146 "[MM-13651] RN: The view members screens should not have the selector circles"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10147 "[Help Wanted] [MM-12737] Migrate preference-related actions from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10148 "[Help Wanted] [MM-12746] Migrate user update actions from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10149 "[Help Wanted] [MM-12748] Migrate system console user list actions from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10150 "[Help Wanted] [MM-12747] Migrate terms of service actions from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10151 "[Help Wanted] [MM-12750] Migrate getMissingProfiles from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10152 "[Help Wanted] [MM-12749] Migrate loadMyTeamMembers from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10153 "[Help Wanted] [MM-12738] Migrate OAuth app actions from user_actions.jsx and admin_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10154 "[MM-12734] Migrate email-related actions from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10155 "Migrate DM/GM-related actions from `user_actions.jsx` to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 22:53] esethna opened #10156 "Migrate autocomplete and search actions from user_actions.jsx to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:08] esethna opened #10157 "[Help Wanted] [MM-9454] Update transition on send icon"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:08] esethna opened #10158 "[Help Wanted] [MM-13530] RN Tablet: Channel drawer should be open all the time at a fixed width on tablet devices"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:13] esethna opened #10159 "Add autocomplete to edit post screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:15] esethna commented on #9504
Closing and reopening a new ticket for this

[2019-01-25 23:15] #9504 closed

[2019-01-25 23:17] esethna opened #10160 "Add autocomplete to edit channel screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:18] esethna commented on #7721
@torlenor Hows this going? Anything we can help with? Let us know if you'd like to continue on it or if we should open this up to the community again.

[2019-01-25 23:21] esethna opened #10161 "[MM-9494] If the keyboard is open, swiping down past it should close it"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:31] esethna opened #10162 "[MM-13388] Tapping outside of post textbox should execute actions on other elements"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-25 23:47] esethna opened #10163 "Show rendered emojis in the text composition areas"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 00:21] #7543 closed

[2019-01-26 08:40] hanzei commented on #7543
Thanks @sandlis for you interest in this ticket. :+1:

[2019-01-26 17:09] esethna opened #10166 "Plugin framework: Show that a plugin requires a certain Mattermost config setting"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 17:09] esethna opened #10167 "[Help Wanted] [MM-8647] Plugin framework: markdown in plugin system console help text fields"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 17:09] esethna opened #10168 "Allow plugins to have a completely custom system console settings page"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 17:09] esethna opened #10169 "[MM-10017] Plugin framework: add support for plugins to override right-hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 19:06] esethna opened #10171 "Plugin framework: Add an npm watcher that redeploys the webapp side of plugins on changes"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 19:06] esethna opened #10172 "[Help Wanted] [MM-9622] Plugin framework: allow plugins to create link tooltips"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 19:16] esethna opened #10173 "[Help Wanted] [MM-13852] Migrate all documentation to use JSON for plugin configurations, and remove YAML"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 19:16] esethna opened #10174 "[Help Wanted] [MM-13851] Add a UserWasCreated(c *plugin.Context, user *model.User) hook for server-side plugins"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-26 19:35] hanzei commented on #10173
I will take care of this.

[2019-01-26 19:49] kosgrz commented on #10174
I could take this as my first `Go` issue.

[2019-01-26 23:47] techniker commented on #10107
Seems fixed in v.5.7.0 .

[2019-01-26 23:47] #10107 closed

[2019-01-27 05:38] waseem18 commented on #9399
Update : Started working on this.

[2019-01-27 06:13] MirlanMaksv commented on #10147
Hi, I have completed setting up server, webapp and redux, I'd like to take this issue

[2019-01-27 07:46] hanzei commented on #10147
Hey @MirlanMaksv,

Thanks for looking into this! Let me know, if you have questions.

[2019-01-27 11:17] waseem18 commented on #9399
I plan to do this in this way :

1. Use regex to find channel mentions in the message and check if the channel exists using `GetChannelByNameForTeamName`.
2. If the channel exists, wrap the channel mention in an anchor tag so that the HTML code can render this valid channel mention as a hyper link.

@hanzei Let me know if there's a better way to solve this.

PR on the way.

[2019-01-27 11:33] hanzei commented on #9399
This is a fine approach. Looking forward to your PR :tada:

[2019-01-27 13:50] enahum commented on #10147
@esethna can you fix the formatting on these tickets? thank you

[2019-01-27 13:55] gabrieljackson commented on #10163
I will grab this one!

[2019-01-27 14:07] hanzei commented on #10163
Great, thanks @gabrieljackson! :+1: :tada:

[2019-01-27 14:59] waseem18 commented on #9541
Resuming work on this. Will hopefully have a PR today.

[2019-01-28 03:52] 090max commented on #10174
I m ready for this

[2019-01-28 05:12] BK1603 commented on #10137
I'd like to work on this :smile:
I have some experience with go and servers, but I am a bit new to this repo and might need a little help :sweat_smile:

[2019-01-28 08:50] hanzei commented on #10137
Hey @BK1603,

Thanks for looking into this! :+1:  Feel free to join the [Mattermost Community Server](https://community.mattermost.com) and ask questions in ~developers. You can also DM @jesse.hallam as the created this ticket.

Looking forward to your PR! :tada:

[2019-01-28 08:53] hanzei commented on #10174
Hey @090max,

@kosgrz is allready working in this. Would you mind looking into [another go ticket](https://github.com/mattermost/mattermost-server/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Up+For+Grabs%22+label%3AGo) or a [ReactJS ticket](https://github.com/mattermost/mattermost-server/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Up+For+Grabs%22+label%3AReactJS)

[2019-01-28 11:14] hanzei commented on #10042
Hey @letsila,

Thanks for taking care of this ticket. Let me know, if you have any questions.

[2019-01-28 12:05] hanzei commented on #9508
Fixed with https://github.com/mattermost/mattermost-server/pull/9551

[2019-01-28 12:05] #9508 closed

[2019-01-28 12:26] #9755 closed, assigned to lindalumitchell

[2019-01-28 12:37] #7494 closed

[2019-01-28 13:18] #10051 closed

[2019-01-28 13:18] jasonblais commented on #10051
Thanks @kaakaa for the fix 🎉

[2019-01-28 14:36] hmhealey commented on #7543
Yeah, this is probably the best way to handle it until we know that this is safe to work on

[2019-01-28 15:07] #9761 closed

[2019-01-28 16:52] esethna opened #10185 "Add confirmation dialog when posting a message with `at-channel`"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-28 16:52] esethna opened #10186 "Support for Android split screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-28 16:53] 090max commented on #10174
Ok

On Mon, 28 Jan 2019, 14:23 Hanzei <notifications@github.com wrote:

[2019-01-28 17:39] dmamills commented on #10146
Hello! I'd like to take this ticket on next.

[2019-01-28 17:52] hanzei commented on #10146
Great @dmamills! Let me know, if you have questions.

[2019-01-28 19:29] tauu opened #10187 "UserHasLoggedIn / UserWillLogin are not called for Gitlab SSO"
#### Summary
API hooks UserHasLoggedIn / UserWillLogin are not called if Gitlab SSO is used

#### Steps to reproduce
Setup mattermost to use Gitlab SSO and add a plugin implementing the hook

#### Expected behavior
The hooks should be called for all available authentication providers.

#### Observed behavior (that appears unintentional)
UserHasLoggedIn / UserWillLogin are only called for "regular"

[2019-01-28 21:30] esethna opened #10189 "[Help Wanted] [MM-9478] 508 Compliance: Set focus to the first Edit button of a tab of Account Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-28 22:54] esethna opened #10191 "[Help Wanted] [MM-13381] RN: Add reply option to mobile long press context menu"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-29 04:54] esethna opened #10193 "Support safe area in landscape for iOS"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-29 04:54] esethna opened #10194 "[Help Wanted] [MM-10380] Modify RN react-native-notifications library to use FCM instead of GCM"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-29 06:10] esethna opened #10195 "iOS peek-pop in channel sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-29 11:51] manland commented on #10189
I'm work on this!

[2019-01-29 15:42] tauu commented on #10187
Mattermost Version: 5.7.0
Server OS: Ubuntu 18.04.1 LTS
Client: MacBook Pro (2016), OSX 10.14, Firefox 65

I just started developing a small plugin which implements the UserHasLoggedIn hook. The issue showed up during its development, not sure if there is another plugin using this hook. In case that's useful for I can also provide you with a sample plugin affected by this issue.

[2019-01-29 16:08] esethna opened #10199 "[Help Wanted] [MM-13872] UI Automation: Write an automated test using `cypress` for "Create a Team""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-29 16:13] esethna opened #10200 "Isolate unit tests for selectors and make them more thorough"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-29 17:14] lieut-data commented on #10137
Just for added clarity, once this ticket is implemented, the expected behaviour is that running something like:
[code]

will output something like:
[code]

instead of emitting logs

[2019-01-29 17:15] lieut-data commented on #10137
Sigh, wrong button...

[2019-01-29 17:39] tauu commented on #10187
oh crap, I just figured out this has already been fixed in #10061 - sorry did not come up during attempts to find something related to this issue

[2019-01-29 17:39] #10187 closed

[2019-01-29 17:40] #10174 closed

[2019-01-29 18:28] amyblais opened #10201 "Mattermost v5.8"
You can find key dates for v5.8 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### February 4th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### February 13th: Release Build Cut

[2019-01-29 21:56] fosBHY commented on #10125
I can not upgrade sadly as I am not the admin. Also I dont want to register to yet another service. I am sorry. I might come back to this issue once we got to version 5.7 though..

[2019-01-29 22:14] ftc2 opened #10203 "slack import: is message threading implemented?"
#### Summary
Threaded messages imported from slack do not appear as threads/replies.

#### Steps to reproduce
[code]

`sudo /opt/mattermost/bin/mattermost import slack TEAM_NAME /path/to/slack_export.zip`

This export contained ~130k messages and ~60 users, and it was done on a fresh mattermost installation.

#### Expected behavior
Some messages in the slack export were threaded. After importing i

[2019-01-29 22:33] ftc2 commented on #10203
https://github.com/mattermost/mattermost-server/blob/6325c5b569e00bd1e5af58190868994a503f84ec/app/slackimport.go#L51-L63

actually, i don't see `thread_ts` in there, so i'm guessing it's not implemented.

i think it would be really nice to have...

[2019-01-29 23:14] lfbrock commented on #10125
@fosBHY - would you also be able to share what browser and computer OS you were using, so we can try reproducing it with a similar environment?

[2019-01-29 23:37] fosBHY commented on #10125
firefox 64.0
ubuntu 18.04

[2019-01-29 23:40] amyblais commented on #10130
Hi @bgibson710,

One of our community members helped with this:

"Not sure why SSL Labs shows TLS 1.0 as enabled, but:

[Wikipedia on 'Cipher suite'](https://en.wikipedia.org/wiki/Cipher_suite#Full_handshake:_coordinating_cipher_suites):

If the client and server do not agree on a cipher suite, no connection will be made.

You mentioned that Mattermost returns an empty cipher list. That means, the

[2019-01-29 23:58] bgibson710 commented on #10130
That is the behavior I see as well however it shouldn't even advertise the protocol.  If a client initiates with tls 1.0 it should drop not respond with an empty cipher list.

[2019-01-30 00:05] amyblais commented on #10134
Hi @Fodoj,

This was introduced in this PR which was a security-related fix: https://github.com/mattermost/mattermost-server/pull/9063.

Would you be open to creating a Feature request Issue for this in Uservoice?

[2019-01-30 00:22] ftc2 opened #10204 "incomplete search results"
#### Summary
Message searching returns only a subset of expected results (possibly only the *n* most recent results).

#### Steps to reproduce
[code]

I imported ~130k messages and ~60 users from slack into a fresh mattermost installation for testing.

I then tried searching from the Mattermost macOS client.

#### Expected behavior
When searching 'foo', return *all* messages containing the term 'f

[2019-01-30 13:01] adzimzf commented on #10084
Hi, I'll pick this one

[2019-01-30 13:01] hanzei commented on #10084
Thanks @adzimzf! :+1:

[2019-01-30 13:16] manland commented on #10085
I'm work on this!

[2019-01-30 13:56] adzimzf commented on #10084
Hi @hanzei,
where user should post message ? in channel or direct message ?
and if it post on direct message should I create 2 users ?

[2019-01-30 15:05] #9759 closed

[2019-01-30 16:05] amyblais commented on #10203
Hi @ftc2,

Yes I believe that importing threads is not supported yet. Please [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html). If you submit a feature request, please include a link back to this GitHub issue. If you're i

[2019-01-30 16:14] amyblais commented on #10204
Hi @ftc2,

Here is more information on how Search currently works: https://docs.mattermost.com/help/getting-started/searching.html.

There are limitations and issues in the Search function in general, and we have several Jira tickets open to improve this feature (https://mattermost.atlassian.net/browse/MM-5466).

If you want to, you could maybe consider using Elasticsearch: https://docs.mattermost

[2019-01-30 16:31] esethna opened #10205 "[Help Wanted] [MM-13909] UI Automation: Write an automated test using `cypress` for "Escape should not close modal when an autocomplete drop down is in use""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-01-30 17:55] #10097 closed

[2019-01-30 18:53] amyblais commented on #10125
@crspeller / @grundleborg can you help test this on a Linux environment?

[2019-01-30 20:21] DSchalla commented on #10125
@fosBHY Can you try to paste the entire theme into the box at once?

1. Click in the custom theme text box
2. Paste the theme
3. Theme should be applied directly for testing

I think the way it's currently implemented doesn't allow you to manually write one in there, since it's instantly validated, so to say. Using the steps above I could change the theme successful on:

- Fedora 29
- Firefox 64.0

[2019-01-31 01:07] gabrieljackson commented on #9695
I will take this!

[2019-01-31 06:03] ftc2 commented on #10204
hi @amyblais,

thank you for your reply. i have read the docs about searching, but it doesn't help.

is the *number* of search results returned one of the limitations you're aware of? like, is it capped for some reason? search works great for the first however many results, but it's just not returning ones beyond that (chronologically).

elasticsearch support is an enterprise-only feature, correct

[2019-01-31 11:02] hanzei commented on #9695
Thanks @gabrieljackson! If you have questions, feel free to ask the here or in ~developers-toolkit on the [Mattermost Community Server](https://community.mattermost.com).

[2019-01-31 11:08] #9562 closed

[2019-01-31 12:10] hanzei commented on #10121
Hey @vineelya,

Do you still need help? Feel free to PM me on the [Mattermost Community Server](https://community.mattermost.com).

[2019-01-31 12:11] hanzei commented on #10096
Hey @gupsho,

just want to check if you have any questions?

[2019-01-31 12:11] hanzei commented on #10075
Hey @sapnasivakumar,

Is there anything I can help you with?

Looking forward to your PR!

[2019-01-31 12:15] #9957 closed

[2019-01-31 12:17] hanzei commented on #9765
Fixed with https://github.com/mattermost/mattermost-server/pull/10073

[2019-01-31 12:17] #9765 closed

[2019-01-31 12:18] hanzei commented on #9769
Making this one available for the public again.

[2019-01-31 12:21] hanzei commented on #9762
Hey @tclain,

How is the work on this ticket going? Do you have any questions?

[2019-01-31 12:21] hanzei commented on #9758
Making this available for the public again.

[2019-01-31 12:21] hanzei commented on #9680
Fixed with https://github.com/mattermost/mattermost-developer-documentation/pull/210

[2019-01-31 12:21] #9680 closed

[2019-01-31 12:22] hanzei commented on #9668
Fixed with https://github.com/mattermost/mattermost-server/pull/10028

[2019-01-31 12:22] #9668 closed

[2019-01-31 12:23] hanzei commented on #9597
Hey @akhilanandbv003,

Can we help with anything? Are you still working on this one?

[2019-01-31 12:23] hanzei commented on #9596
Hey @mukulrawat1986,

Just want to check out, if you are still working on this one.

[2019-01-31 12:36] sapnasivakumar commented on #10075
@hanzei I'll try and get the PR ready.
As of now I do not require any support and will ping you in case I need any.
Thank you

[2019-01-31 12:38] pradeepmurugesan commented on #6962
@hanzei Couldn't progress as I am bit held up.. I might not be able to work on this until next week

[2019-01-31 12:39] hanzei commented on #6962
No hurries, thanks for the heads up @pradeepmurugesan :+1:

Looking forward to your PR! :tada:

[2019-01-31 17:52] bradjcoughlin commented on #9805
@hanzei I'm planning to work on this in the next 1-2 weeks.

[2019-01-31 18:45] gupsho commented on #10096
Not right now. Still working on it. Will have PR out soon. Thanks for checking.

[2019-01-31 22:13] lalitha94 commented on #8566
Hello! Can I pick this one?

[2019-02-01 02:36] tejasbubane commented on #8566
Sorry this was way back and I missed it. I am not working on it and looks like no one else. So you can go ahead @lalitha94

[2019-02-01 02:43] joshuabezaleel commented on #9596
Hey @hanzei , if it is okay with you I would like to ask some questions just to wrap some understanding.
1. What is the default value or where can we get the value of the license [here](https://github.com/mattermost/mattermost-server/blob/ee9395f1b6a70cc9d34bf116de38da4b70153158/utils/config.go#L501)?

2. Since I can not find a config.json file at the config directory, do we create a new file name

[2019-02-01 03:37] kmandagie commented on #9758
Sorry for the really late response. just get back from my busy university project for the last 1 month.  so I have a question, I just confused is I need the beta logo or I can use the normal logo and pull request

[2019-02-01 06:36] kmandagie commented on #9758
I think, I not yet received the beta logo

[2019-02-01 08:01] hanzei commented on #8566
Thanks @lalitha94 for working on this! :+1:

[2019-02-01 09:16] manland commented on #10189
Hi @esethna How to have a reviewer for my [PR](https://github.com/mattermost/mattermost-webapp/pull/2300) ?

[2019-02-01 16:24] esethna commented on #10189
Thanks @manland, PR looks great! Moved to dev review

[2019-02-01 18:36] nitishm commented on #8942
@hanzei I apologize for the late response. I have been really caught up with work lately. I might have to pass this on.
Thanks.

[2019-02-01 19:11] fosBHY commented on #10125
I did paste the whole theme, I am aware of this.

[2019-02-02 15:58] hanzei commented on #8942
Hey @nitishm,

Thanks for your response. Let's see how the next days are going. If you want to pass on this one, just let me know.

[2019-02-02 16:51] cometkim commented on #10033
I just started to work on cypress campaign, from this :)

[2019-02-02 17:41] vineelya commented on #10121
I will get back to you.

On Thu, Jan 31, 2019 at 4:10 AM Hanzei <notifications@github.com> wrote:

[2019-02-02 18:17] kosgrz commented on #10172
It's a very interesting ticket. I could do it.

[2019-02-02 19:52] jasonblais commented on #10033
Yay :tada: Thanks @cometkim :)

[2019-02-02 19:55] b-lawrence commented on #9502
PR created

[2019-02-03 04:35] vineelya commented on #10121
I couldn't set up the dev environment and I still face the issues I mentioned.

[2019-02-03 04:38] vineelya commented on #10145
@esethna  this sounds like an interesting feature. My dev env setup is not working well. :-(

[2019-02-03 09:30] hanzei commented on #10145
Hey @vineelya,

Thanks for looking into this. :+1: See https://github.com/mattermost/mattermost-server/issues/10121#issuecomment-460036487 for my answer on the dev setup.

[2019-02-03 15:42] hanzei commented on #9769
Hey @jonathanwiesel,

Feel free to ask as many questions ask you want!

This ticket is about **moving** webhook around. I don't there we have considered a copy command. But this isn't so easy to do. Incoming Webhooks use a unique URL to receive the message. Coping this URL isn't a possibility.

[2019-02-03 16:18] MirlanMaksv commented on #10147
I have updated the PR

[2019-02-03 20:17] patniharshit commented on #9769
@hanzei apologies for not responding. I will be no longer be able to do it.

[2019-02-03 21:56] dv29 commented on #9486
Hi everyone, Just to let you know I am still working on this. Will take a little longer as somethings have come up, I'll try to finish it in couple of weeks

[2019-02-03 22:44] jasonblais commented on #9486
Sounds good, thanks for the follow-up @dv29!

[2019-02-03 23:55] alecisec opened #10219 "Different browsers show different menu items"
#### Summary
Mattermost (browser) will show different menus depending on browser, using the same login. i.e. Edge will show 'system console' and 'add members to team' whereas chrome will not.

#### Steps to reproduce
Version 5.5.0, browsers Chrome, IE, Edge, Firefox

#### Expected behavior
What I believe to be websocket errors prevent menu items from appearing, it's unclear why this is tied to web

[2019-02-04 06:21] tjhorner opened #10220 "Notifications with self-hosted push proxy not showing sender name/channel name"
#### Summary

When using a self-hosted push proxy (any version — I have tested with multiple 3.x, 4.x, and 5.x versions, including latest master), the notification title does not appear. This is the same for both DMs and channels within teams.

This doesn't seem to be related to #5416.

#### Steps to reproduce

1. Set up a push proxy server (v5.4.0)
2. Configure it to a custom Mattermost client's

[2019-02-04 10:44] Evils-Devils opened #10221 "C syntax highlighting"
#### Summary
The `C` keyword does not work for code block syntax highlighting.

#### Steps to reproduce
Tested on server version 5.7.0 with desktop client version 4.2.0.

#### Expected behavior
Correct syntax highlighting on code blocks when the `C` or `c` keyword is used.

#### Observed behavior (that appears unintentional)
While the `cpp` keyword does apply syntax highlighting,
it shows `C/C++`

[2019-02-04 13:16] hanzei commented on #10085
Thanks @manland! :+1:

[2019-02-04 13:33] hanzei commented on #9596
Hey @joshuabezaleel,

1. The default values can be found in [`model/config.go`](https://github.com/mattermost/mattermost-server/blob/master/model/config.go).

2. I'm not sure I understand your question. This CLI commands is used to changes values in `config.json`.

[2019-02-04 13:37] hanzei commented on #10221
Hey @Evils-Devils,

Thanks for the report! I can confirm that the highlighting doesn't work for `c`. Would you be open to submitting a fix for this?

[2019-02-04 13:37] amyblais commented on #10201
### v5.8 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.8.0-rc1/mattermost-team-5.8.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/c6846d00a8c6b6fd44197d9fdeb5fa9673c3ad85/source/administration/changelog.md)

[2019-02-04 14:05] hanzei commented on #9769
Hey @patniharshit,

No problem. I'v made this available for the public again, so someone else can pick it up.

[2019-02-04 15:05] amyblais commented on #10219
Hi @alecisec,

Can you help share your Mattermost server logs as well as Chrome console errors?

[2019-02-04 15:18] vildapavlicek commented on #9769
I will do it.

[2019-02-04 15:18] Evils-Devils commented on #10221
If i thought i'd be comfortable building the server and webapp from source i'd have done so but this stuff's a bit out of my league.
I'm hoping someone with a build/test environment set up wants to give this a try.

[2019-02-04 15:35] amyblais commented on #10221
Opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-13951.

[2019-02-04 15:36] vineelya commented on #10145
@hanzei What is HackFest tag ?  Why did you remove Up For Grabs tag?

[2019-02-04 15:51] nlowe opened #10222 "Links ending with an underscore are not properly auto-detected"
#### Summary
Links ending with an underscore are not properly auto-detected

#### Steps to reproduce
1. Post a message with a link ending with an underscore
  * For example: `https://app.sharebase.com/#/document/5163072/share/3-3fs0NF4kyFzTW7ikiH4--bc7RN8Y_`

#### Expected behavior
The link is detected and rendered correctly. When clicked, it opens the URL with an underscore at the end of the path

[2019-02-04 15:58] adzimzf commented on #10199
Hi, I'll take care of this

[2019-02-04 18:13] tjhorner commented on #10220
Some new developments. I tried running it locally from source on my MacBook. It worked just fine — name showed up and everything. I packaged it with `make dist` and ran it on our production server. It didn't work! I'm thinking it has something to do with either it being in a Docker container or it being accessed via HTTP. I have no idea why either of those could cause this weird issue, though.

[2019-02-04 18:36] esethna commented on #10145
@vineelya Mattermost is running a "Hackfest" where you can win awesome swag for pull requests, see details here: https://mattermost.com/hackfest2019/

We remove the "Up for Grabs" label when someone is working on the ticket. Let us know if you are not working on this one we can add the label back so someone else from the community can take it.

[2019-02-04 18:54] amyblais commented on #10052
There hasn't been activity here for a while, so closing this for now,

[2019-02-04 18:54] #10052 closed

[2019-02-04 19:44] hanzei commented on #10199
Awesome @adzimzf! :+1:

[2019-02-04 19:46] hanzei commented on #9769
Great @vildapavlicek! :+1: Let me know, if you have any questions.

[2019-02-04 21:20] kosgrz commented on #10172
Hey @hanzei . I have one question. Should plugins be able to customize the position, delay amount and the distance between the tooltip and the link? Or only content of the tooltip should be customizable?

[2019-02-05 08:22] hanzei commented on #9949
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2233.

Thanks @kosgrz! :+1:

[2019-02-05 09:23] hanzei commented on #10172
Hey @kosgrz, Thanks for the questions. I'm passing this one over to @jasonblais as the is the PM of this ticket.

[2019-02-05 09:50] balasankarc opened #10227 "[GitLab] `mattermost version` command broken"
#### Summary

Attempting to know the current version of mattermost by running `mattermost version` is not working. See logs below.

[code]

Not exactly sure why the last command failed, and why checking `version` of the binary needs to connect to the database. Confirmed that the config.json file contains correct values for SQL connection (GitLab packages use env variables to set this primarily, wh

[2019-02-05 14:51] joshuabezaleel commented on #9596
Hey @hanzei ,
Your previous answer is so helpful. Thank you.
I am really sorry if I will still ask more questions.

1.  Do you have any recommendation on how Mattermost team implement reading and writing to json file? Can I use the config set command?
2. Do you have any recommendation on how Mattermost team implement the part of asking confirmation to the user?
3. How many arguments that a user ca

[2019-02-05 15:38] hanzei commented on #9596
1. Take a look at the `ReadConfig()` method in [`utils/config.go`](https://github.com/mattermost/mattermost-server/blob/master/utils/config.go).

[2019-02-05 15:40] esethna opened #10229 "[Help Wanted] [MM-13951] Allow "C" to be used for code block syntax highlighting"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-05 16:11] manland commented on #10229
I'm work on this!

@hanzei It's possible to add `sh` as `bash` alias ? Every time I need to edit my previous post...

[2019-02-05 16:12] amyblais commented on #10221
Closing this as a Help Wanted Issue was opened here: https://github.com/mattermost/mattermost-server/issues/10229.

[2019-02-05 16:12] #10221 closed

[2019-02-05 16:13] crspeller commented on #10229
@manland Go for it. I think that's useful.

[2019-02-05 16:30] esethna opened #10231 "Share extension should search all DMs/GMs on the server"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-05 16:34] esethna opened #10232 "Improve timezone selector component and list of timezones"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-05 18:59] esethna opened #10234 "Write an automated test using `cypress` for "Tutorial - Navigation and Links""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-05 19:00] amyblais commented on #10222
Actually I was able to reproduce this, so I opened a ticket here: https://mattermost.atlassian.net/browse/MM-13990.

[2019-02-05 19:47] tjhorner commented on #10220
@amyblais Thanks. I think I've determined that it only happens within a Docker environment, which is really weird. It happens with both the official docker image for the push proxy as well as our own build.

[2019-02-05 20:39] hanzei commented on #9596
1. Take a look at the `ReadConfig()` method in [`utils/config.go`](https://github.com/mattermost/mattermost-server/blob/master/utils/config.go).
2. Are you talking about CLI? Then take at look at https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/commands/channel.go#L318-L326
2. I think that would make sense.

Feel free to ask more questions :wink:

[2019-02-05 20:44] shiitake commented on #9728
I'm not sure if this should be added to its own issue but I've also noticed that any additional window that is opened from the original help window will be automatically closed if you close the original window.

For example:
1. Click on help menu in Mattermost app which will open a new help window.
2. In this help window scroll down and click on the link for **Executing Commands**. The existing wi

[2019-02-05 20:45] manland commented on #10037
I'm work on this!

[2019-02-05 22:34] jasonblais commented on #10172
Hey @kosgrz - excellent question. And thanks for picking up this ticket!

Would you have use cases in mind where it would be good to customizing those aspects of the tooltip?

We could customize, say, the delay and the distance, but if we had a good default value for each, I'm wondering if plugin creators would need to customize it.

[2019-02-05 23:43] esethna opened #10242 "[Help Wanted] [MM-13975] Add Terms of Service and Privacy Policy links to About Mattermost modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-05 23:43] jasonblais commented on #9958
Hey @waseem18 - just touching base if you had any questions on the final pieces of the plugin?

Hanzei mentioned there isn't clear information on things like how to "submit" the plugin, testing and otherwise, so wanted to reach out about that.

I personally can't wait to try the plugin out :)

[2019-02-06 00:03] amyblais commented on #10220
@tjhorner,

A community member took a look at this and had some questions:

What does "it" refer to in your second message?
Where is the Dockerfile which builds https://hub.docker.com/r/mattermost/mattermost-push-proxy?
Any other examples for "existential questions"? (Might help to determine their origin.)

[2019-02-06 00:19] joshuabezaleel commented on #9596
Those two are what I am looking for, thank you @hanzei !
For the number of the arguments, do you think that there is a maximum number of it that can be passed by the user?

If it is okay, I would like to give a shot on this.

[2019-02-06 05:57] waseem18 commented on #9958
I missed this @jasonblais

I'll take some time today and tomorrow to wrap up the documentation work.

[2019-02-06 08:00] saturninoabril commented on #10037
Thanks @manland for your contribution!

[2019-02-06 08:00] #10037 closed

[2019-02-06 09:48] gfra54 commented on #9215
This was the solution for me too. I had the same kind of error after migrating to version 5 :

`{"level":"error","ts":1549445564.8085642,"caller":"migrations/worker.go:105","msg":"Worker: Failed to run migration","worker":"Migrations","job_id":"47qqpwwt7jbftp9ru65yfhf88r","error":"SqlChannelStore.MigrateChannelMembers: Failed to select the batch of channel members, sql: Scan error on column index

[2019-02-06 09:50] hanzei commented on #9596
I don't think there has to be a maximum @joshuabezaleel.

I think I didn't made clear that someone is working on this issue. Sorry.

[2019-02-06 10:40] ookull opened #10244 "Desktop client crash on goBack shortcut key in help window"
#### Summary
Mattermost desktop client crashes if _back_ shortcut key is pressed in help window

#### Steps to reproduce
Open help window, click some link and then press alt-leftarrow (common shortcut to navigate to previous page).

#### Expected behavior
No crash

#### Observed behavior (that appears unintentional)
[code]

[2019-02-06 15:55] amyblais commented on #9728
Thank you for the report @shiitake, I was able to reproduce this so I opened a ticket here: https://mattermost.atlassian.net/browse/MM-14010.

[2019-02-06 16:08] tjhorner commented on #10220
@amyblais

I edited my second comment for clarification.

The Dockerfile for the push proxy is here: https://github.com/mattermost/mattermost-kubernetes/blob/master/docker/push-proxy/Dockerfile

The existential questions part was sort of a joke — a team member sent me that message and the sender name didn't show, so it seemed as if the app was asking me directly

[2019-02-06 16:36] mojowill commented on #8856
Sorry to comment on an old issue but I am seeing the same thing with the OpsGenie setup. Webhook is setup and set to override username and image. When the message is posted the image is overridden as expected however the username is not. I have confirmed my config.json is set correctly?

[2019-02-06 16:58] esethna opened #10245 "[Help Wanted] [MM-14012] UI Automation: Write an automated test using `cypress` for "Focus move to main input box when a character key is selected""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-06 17:36] esethna opened #10246 "[MM-14014] UI Automation: Write an automated test using Cypress for "Recently used emojis are shown 1st""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-06 17:47] #10085 closed

[2019-02-06 19:09] amyblais commented on #10244
Hi @ookull, I don't have a Linux environment, so I'll ask our team to help test this,

[2019-02-06 19:57] shiitake commented on #9728
You are awesome @amyblais - I was not totally sure where to add it so I really appreciate your help.

[2019-02-06 20:11] amyblais commented on #10050
Closing this as the fix for this will be available in v5.8 release (to be released February 15th).

[2019-02-06 20:11] #10050 closed

[2019-02-06 20:12] amyblais commented on #10047
Closing this as the fix for this will be available in v5.8 release (to be released on February 15th).

[2019-02-06 20:12] #10047 closed

[2019-02-06 21:18] manland commented on #10131
I'm working on this!

[2019-02-06 21:26] hanzei commented on #10131
Thanks @manland!

[2019-02-06 21:32] manland commented on #10131
I propose to implement something like that

![selection_162](https://user-images.githubusercontent.com/1492516/52375047-02dfec80-2a5f-11e9-99ec-211fe45db08d.png)

[2019-02-06 21:58] amyblais commented on #10244
When you say "help window" are you referring to the window that opens when you click the "Help" link in the bottom right corner?

[2019-02-06 22:24] ookull commented on #10244
yes

[2019-02-06 22:52] manland commented on #10131
Discussion on https://community.mattermost.com/core/pl/5jdjfyyq7pdpfc3nyexcgnoiec

Correct implementation will be :
* Developer tools for "current" server (with no shortcut)
* Developer tools for application wrapper (with the Ctrl+Shift+I)

[2019-02-06 22:54] hanzei commented on #10244
Thanks for the report @ookull. I was able to reproduce the problem.

@amyblais Would you open a ticket for this please?

[2019-02-07 00:15] amyblais commented on #8856
Hi @mojowill, can you help with more details on your environment?

[2019-02-07 00:54] joshuabezaleel commented on #9596
@hanzei it's okay, you haven't put the "up for grabs" label yet but I asked questions since the gap is too long. Thank you very much for answering the questions! :)

[2019-02-07 03:36] maruTA-bis5 commented on #8483
Hi. I'd like to try working on this.

[2019-02-07 07:34] saturninoabril commented on #10033
Thanks @cometkim, PR recently merged.
Closing this now.

[2019-02-07 07:34] #10033 closed

[2019-02-07 08:05] kaakaa commented on #9156
If this issue is free, I would like to take this.

[2019-02-07 08:39] R-Wang97 commented on #10242
I can take a look at this!

[2019-02-07 10:02] hanzei commented on #10242
Great, thanks @R-Wang97! :tada:

[2019-02-07 10:04] hanzei commented on #9156
It is! It would be great, if you would take care of this! Please take note of https://github.com/mattermost/mattermost-webapp/pull/1885. It a PR from @santos22 that is a good starting point. If you want, you can branch of his branch and use his code.

[2019-02-07 10:06] hanzei commented on #8483
Hey @maruTA-bis5,

Thanks for looking into this. :+1:  Let me know, if you have any questions.

[2019-02-07 12:14] kaakaa commented on #9156
Thanks @hanzei!
And thanks @santos22, your discussion helps my understanding for this issue 👍

[2019-02-07 13:39] amyblais commented on #10244
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-14035.

[2019-02-07 14:52] MirlanMaksv commented on #10148
I am familiar with migration issues, let me take this one

[2019-02-07 15:54] esethna opened #10250 "[MM-8427] Gitlab Mattermost CLI not usable because i18n Directory is missing"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-07 17:25] hanzei commented on #10148
Thanks @MirlanMaksv! :+1:

[2019-02-07 17:26] hanzei commented on #10147
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2320.

Thanks @MirlanMaksv :tada:

[2019-02-08 06:52] R-Wang97 commented on #10151
I can take a look at this.

[2019-02-08 07:12] R-Wang97 commented on #10150
This seems to have already been completed.

[2019-02-08 07:28] hanzei commented on #10150
Thanks for the report. Closing this one for now.

[2019-02-08 07:28] #10150 closed

[2019-02-08 07:28] hanzei commented on #10151
Great @R-Wang97!

[2019-02-08 08:24] R-Wang97 commented on #10232
I can try this!

[2019-02-08 08:40] R-Wang97 commented on #10232
I can try taking a look at this!

[2019-02-08 10:59] kaakaa commented on #8661
This issue looks duplicated with #10145.
If there is no action, this should be closed.

[2019-02-08 11:01] hanzei commented on #8661
Thanks for the hint @kaakaa!

[2019-02-08 11:01] #8661 closed

[2019-02-08 16:17] #10151 closed

[2019-02-08 17:19] tjhorner commented on #10220
Another update: We started running this on top of our VM (instead of Docker) and sender name shows up in notifications. This works for now, but it would be nice to see why this happens only in Docker containers. Such a bizarre bug!

[2019-02-08 19:34] esethna opened #10255 "[Help Wanted] [MM-14071] Desktop: Mattermost app is in Windows tab list after hidden auto-start"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-08 19:34] esethna opened #10256 "[Help Wanted] [MM-14070] Desktop: Communicator starts with a blank window from the Windows start up"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-08 19:35] #10255 closed

[2019-02-08 19:35] #10256 closed

[2019-02-08 21:01] manland commented on #10205
I'm work on this!

[2019-02-08 21:08] kosgrz commented on #10172
Hey @jasonblais. I have two use cases in mind where the delay might be relevant.

For example, a plugin creator might want to create requests to external API's every time, when the custom tooltip is shown. In this situation, the delay to show the tooltip should be a little longer to avoid creating the tooltip every time when the mouse incidentally enters the link.

Another use case would be when a

[2019-02-08 22:06] ahmadalli commented on #5493
so we're not able to use an unsecured smtp server that requires authentication?

[2019-02-08 23:08] amyblais commented on #10220
Hi @tjhorner,

From a community member:

You should, if possible, try to look at Android device logs (e.g. with adb) to check if the clients receive different push notifications (e.g. missing a title) with different push proxies. Just to make sure that it's not the client doing different things for different proxies - even if the messages are the same.

[2019-02-08 23:11] amyblais commented on #10204
@grundleborg Do you know the answer to the above question - "search results appear to be capped at 100 results for some reason. i can never get more than 100 for any query, and scrolling to the end of the results doesn't load more. do you know where i might look to un-cap this?"

[2019-02-08 23:21] amyblais commented on #10201
### v5.8 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.8.0-rc2/mattermost-team-5.8.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/c6846d00a8c6b6fd44197d9fdeb5fa9673c3ad85/source/administration/changelog.md)

[2019-02-08 23:22] ftc2 commented on #10204
i opened a uservoice suggestion to add unlimited search results to team edition: https://mattermost.uservoice.com/forums/306457-general/suggestions/36721723-unlimited-search-results

Harrison Healey had this to say (paraphrased):

you can see that paging isn't supported:

https://github.com/mattermost/mattermost-server/blob/master/app/post.go#L821

and the sql uses `LIMIT 100`:

https://github.com

[2019-02-08 23:24] ftc2 commented on #10203
thank you. i made a uservoice suggestion for it:
https://mattermost.uservoice.com/forums/306457-general/suggestions/36721660-implement-threads-in-slack-import-tool

in slack, replies are standalone objects. it works via a `thread_ts` (thread timestamp) attribute. `thread_ts` refers to the `ts` (timestamp) of the parent post. if a post has `thread_ts` == `ts`, then it is the beginning of a thread.

[2019-02-08 23:26] amyblais commented on #10204
Hi @ftc2,

Thank you for opening the feature request!

[2019-02-08 23:26] #10204 closed

[2019-02-08 23:27] amyblais commented on #10203
Thank you for opening the feature request! If you're interested in implementing any of these features, please feel free to open a pull request and/or ask any questions.

[2019-02-08 23:27] #10203 closed

[2019-02-09 00:39] bbodenmiller commented on #9307
@amyblais there is still a bug here. Users who upgraded from 5.1 to 5.2 to 5.3 to 5.4 have this option (https://mattermost.atlassian.net/browse/MM-11707) set to True when before setting was added it was False. One of the installations set the flag to True and this should at least be noted in https://docs.mattermost.com/administration/important-upgrade-notes.html. Docs PR at https://github.com/matt

[2019-02-09 02:44] jasonblais commented on #5493
@ahmadalli In Mattermost 4.1 and later, we have two settings in System Console > Notifications > Email

1. Enable SMTP Authentication - choose whether authentication to SMTP required
2. Connection Security - choose between unsecured, TLS and STARTTLS options

https://docs.mattermost.com/administration/config-settings.html#enable-smtp-authentication
https://docs.mattermost.com/administration/config

[2019-02-09 11:53] MirlanMaksv commented on #10148
I see a pattern in all actions starting with `update`, they

1. dispatch an action
2. check the result for having `data` or `error` prop
3. call corresponding callback

There are 5 components (or more) that follow these steps, and updating these components require to do step 2 in all of them. For example, lets take `user_settings_general` component. It uses [updateUser](https://github.com/mattermo

[2019-02-09 13:54] Sheshagiri commented on #9807
I'm giving this a shot. :-)

[2019-02-09 14:11] ltenfield commented on #9807
I guess I am too late.... I believe I already have this solved

[2019-02-09 14:26] Sheshagiri commented on #9807
@ltenfield sure, from my understanding is that it's fixed in `webapp` while the server is still sending the notifications with `@`. I could be wrong though.

[2019-02-09 14:38] ltenfield commented on #9807
@Sheshagiri your PR is spot on.... I was about to make the same exact changes.... I can review the code in your PR if you like

[2019-02-09 19:10] hanzei commented on #9807
Thanks for working on this @Sheshagiri :+1:

[2019-02-09 19:10] hanzei commented on #10148
@saturninoabril Can you please take a look at the questions above?

[2019-02-09 23:34] saturninoabril commented on #10148
Thanks @hanzei.
@MirlanMaksv Moving it into new onSuccess and onError functions looks neat but since those will be used only once the Promise resolve, I'd prefer to have it inside the `.then`. With minimal change, it can be something like:
[code]

[2019-02-10 03:17] MirlanMaksv commented on #10148
Ok. Is it OK If I use promise chain moving `data` and `error` checks into first `then` block, and putting callbacks into second? In that way I would not have to touch callbacks

[2019-02-10 04:13] kosgrz commented on #9945
I would like to do this ticket. I have done a similar one, so that would be quite easy.

[2019-02-10 05:46] hanzei commented on #9945
Thanks @kosgrz! :+1:

[2019-02-10 08:37] R-Wang97 commented on #10152
I can take a look at this!

[2019-02-10 10:09] ajeethkannan commented on #10250
Hi, I will work on this. I am a new contributor. I would start with this introductory issue.

[2019-02-10 10:59] acataluddi commented on #5072
A quick fix to remove the gray background from your own messages (thanks to [Jānis Rozefelds](https://mattermost.uservoice.com/forums/306457-general/suggestions/16635304-disable-highlighting-of-own-messages)):

1. Open the file `/opt/mattermost/client/root.html` and add inside the `<style>...</style>` block, at the end:
[code]
2. Save and enjoy.

Keep note of this modification as you'll need to ap

[2019-02-10 16:48] joshuabezaleel commented on #9597
Can I have a shot on this?

[2019-02-10 18:48] lindy65 commented on #10034
@saturninoabril - It seems two issues exist for this same Cypress test.  The other issue already has a PR associated with it: https://github.com/mattermost/mattermost-server/issues/10205. Should we close this one?

[2019-02-10 20:16] akhilanandbv003 commented on #9597
@hanzei sorry for the delayed response. I had some personal stuff to take care of. I need write some tests. Hoping to put a PR by tomorrow. I will DM you for any doubts.

[2019-02-10 22:47] saturninoabril commented on #10034
Oh yes, good catch.  Thanks @lindy65, closing now.

[2019-02-10 22:47] #10034 closed

[2019-02-10 23:08] jasonblais commented on #10172
Thanks @kosgrz for the additional context, very helpful.

At the moment, when you hover icons in the channel header (e.g. pin icon, flag icon), there is a slight delay until the tooltip is shown.

Would that delay be sufficient for both use cases - when an external API is called and when a simple text tooltip is displayed, including when the mouse incidentally enters the link?

[2019-02-11 03:42] kaakaa commented on #8642
I can take this issue.

[2019-02-11 04:08] kaakaa commented on #8642
I suppose that my two PR is fixed this issue, but some problems about multibyte characters still be.

There are some characters that **doesn't trigger notification and highlight, but can be registered as trigger word**.

| Type of characters | Server (trigger notification) | Webapp (highlighed) |
|:----:|:----:|:----:|
| Ascii (except for symbols)       | YES | YES |
| Ascii symbols (e.g.: `(`, `[

[2019-02-11 07:38] ajeethkannan commented on #10154
Hi, I would like to work on this ticket.

[2019-02-11 08:05] ajeethkannan commented on #10156
Hi, I would like to work on this ticket.

[2019-02-11 08:12] ajeethkannan commented on #10154
I will start working on this ticket.

[2019-02-11 08:13] hanzei commented on #8642
Wow, thanks you very much for the analysis on this problem @kaakaa! :tada:

@jasonblais might have some insights on what would be good tickets to follow this up.

[2019-02-11 08:15] hanzei commented on #10154
Thanks @ajeethkannan. :+1: Let me know, if you have any question.

[2019-02-11 08:17] ajeethkannan commented on #10154
@hanzei I am a new contributor. I have set up the dev environment in my local machine. I will get back to for questions :)

[2019-02-11 12:39] julian-weinert opened #10263 "I don't have an issue with the server I have an issue with the Webapp"
Unfortunately matterost.com redirects me to here to report bugs.
The bug I found has nothing to do with the server.

Why can't people create issues for the WebApp?
Don't you want to improve it?

[2019-02-11 13:00] andreicristianpetcu opened #10264 "Firefox scroll"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-02-11 13:00] andreicristianpetcu opened #10265 "Firefox scrollbars look bad on dark themes"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-02-11 13:02] #10265 closed

[2019-02-11 13:11] andreicristianpetcu commented on #9406
I man aged to make the scrollbars pretty in Firefox with this CSS.

[code]
![before](https://user-images.githubusercontent.com/922368/52565327-2c0dcd80-2e0f-11e9-932c-c13d1d133aa3.png)
![after](https://user-images.githubusercontent.com/922368/52565335-2f08be00-2e0f-11e9-9390-f4606175e977.png)

GNU/Linux, Firefox Nightly v67 (should work in stable also)

[2019-02-11 13:36] amyblais commented on #10263
Hi @julian-weinert, you can report both server and webapp bugs here. You can also post troubleshooting issues on the Forum: https://forum.mattermost.org/.

[2019-02-11 13:36] #10263 closed

[2019-02-11 13:36] #10264 closed

[2019-02-11 13:41] andreicristianpetcu commented on #10264
Sorry for the spam. I wanted to report the issue then I saw that there was already something similar and accidentally hit Ctrl+Enter. Will investigate if my issue is tracked some place or not before re-issuing this. I guess I'm not the only Firefox user using a dark theme.

Sorry again.

[2019-02-11 14:00] jasonblais commented on #8642
Thanks @kaakaa! @hmhealey pinging you instead here as you have more expertise in this area. Happy to create tickets from here afterwards.

[2019-02-11 14:33] amyblais commented on #10134
Closing this Issue as there hasn't been activity on this for a while.

Please [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html).

Please include a link back to this GitHub issue. If you're interested in implementing, plea

[2019-02-11 14:33] #10134 closed

[2019-02-11 14:57] #10152 closed

[2019-02-11 16:20] creffett opened #10267 "Desktop client: Scroll wheel input isn't reliably captured with multiple monitors"
#### Summary
On the desktop app, using the scroll wheel to scroll within a window in a secondary monitor does not actually result in the window moving.

#### Steps to reproduce
Version: 4.2.0, Windows 10, 64-bit app
1. Use a multi-headed desktop setup (this may be related to DPI differences between monitors, I'm not certain - my main monitor is )
2. Use a scroll input (e.g. scroll wheel or scroll

[2019-02-11 16:21] creffett commented on #10267
Sorry, accidentally filed this in the wrong component! Closing.

[2019-02-11 16:21] #10267 closed

[2019-02-11 16:22] ltenfield commented on #10166
I would like to grab this one... if it's still up for grabs :smile:

[2019-02-11 17:28] esethna commented on #10194
Working on this internally

[2019-02-11 17:28] #10194 closed

[2019-02-11 18:25] ahmadalli commented on #5493
@jasonblais The problem is I'm getting `unsecured authentication` error

[2019-02-11 19:55] amyblais commented on #10130
Hi @bgibson710,

Letting you know that we've opened a Jira ticket to investigate this. Since this is a security related issue, I'm not able to link the ticket here, but we'll let you know any updates.

[2019-02-11 20:08] hmhealey commented on #10227
The reason that command needs the database connection is because it gets the schema version from the database. The reason you're seeing that error is because GitLab Omnibus configures the database to allow access to Mattermost based on the user that Mattermost runs as rather than using a username/password, so you need a `sudo -u mattermost` before your command like
[code]

[2019-02-11 22:07] kosgrz commented on #10172
@jasonblais you're right. The default delay is sufficient. There is no need to customise these params. I will create PR soon!

[2019-02-11 22:39] jasonblais commented on #10172
Sweet, thanks @kosgrz! :tada:

[2019-02-11 22:45] jasonblais commented on #5493
Ah, I see. @ahmadalli Would you be open to opening a new troubleshooting issue on our forums and our community or support team will help assist?

https://forum.mattermost.org/t/how-to-use-the-troubleshooting-forum/150

You can use your GitHub credentials to open the issue.

[2019-02-11 23:17] attzonko opened #10273 "Inline image fails to display if hover text has unmatched parenthesis"
#### Summary
Inline image fails to display if hover text has unmatched parenthesis in it.

#### Steps to reproduce
I am on version 5.7.1. Just try to inline an image with hover text which contains unmatched parenthesis. For example: `![Logo](https://docs.mattermost.com/_images/icon-76x76.png "Hover (Text")` thisshould display the logo image and the hover text should be "Hover (Text", however it do

[2019-02-12 01:32] #10205 closed

[2019-02-12 01:33] saturninoabril commented on #10205
Thanks @manland for your contribution!

[2019-02-12 04:42] balasankarc commented on #10227
Ah! Ok.

This I kinda guessed was the reason for the error, but wasn't sure why DB access was a must.

Thanks for the clarification.

[2019-02-12 04:42] #10227 closed

[2019-02-12 07:44] BK1603 commented on #8641
Is someone working on this? Can i help with this?

[2019-02-12 08:31] esethna opened #10274 "[MM-14126] UI Automation: Write an automated test using `cypress` for "Message Draft Pencil Icon - No text, only file attachment""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-12 10:28] MirlanMaksv commented on #10153
Let me help with this issue

[2019-02-12 12:07] hanzei commented on #10153
Great, thanks @MirlanMaksv!

[2019-02-12 12:30] jasonblais commented on #8641
Thanks @BK1603 for the offer! @sindhugudivada are you currently working on this improvement?

[2019-02-12 13:24] amyblais commented on #10273
Thank you, opened a ticket here: https://mattermost.atlassian.net/browse/MM-14127.

[2019-02-12 14:01] adzimzf commented on #10246
Hi,
I'll take care of this.

[2019-02-12 14:19] saturninoabril commented on #10246
Sure @adzimzf, thanks!

[2019-02-12 15:33] MirlanMaksv commented on #10153
If I understand correctly, above listed functions are just wrappers for making requests, the only problem I see is that they are used directly by components. So I a need clarification here, do we need to pass wrapper functions or bound `Client4` methods to components as props?

[2019-02-12 15:46] esethna opened #10275 "[MM-14105] Long-press menu cannot be dragged up when rotating device to landscape while menu is open"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-12 16:24] esethna opened #10276 "Emoji picker search should ignore leading colon"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-12 16:46] hanzei commented on #10153
@sudheerDev Can you help with the question please? ^

[2019-02-12 16:47] hanzei commented on #9807
https://github.com/mattermost/mattermost-server/pull/10259 got merged in a accident. Reopening.

[2019-02-12 16:50] hanzei commented on #8641
I think @levb is working on this.

[2019-02-12 16:58] attzonko commented on #10273
For what it is worth, here is another example:
`![859](https://imgs.xkcd.com/comics/(.png "Brains aside, I wonder how many poorly-written xkcd.com-parsing scripts will break on this title (or ;;"''{<<[' this mouseover text."")`

[2019-02-12 17:04] amassaro commented on #10234
I'd like to grab this one.

[2019-02-12 18:21] crspeller commented on #8641
Yes PR is here: https://github.com/mattermost/mattermost-server/pull/10056

[2019-02-12 19:08] jwilander commented on #10166
Go for it, thanks @ltenfield !

[2019-02-12 19:22] jasonblais commented on #8641
Thanks all! You're right, I forgot about the PR. I'll close this issue then, since it's in progress already.

@BK1603 Would you be interested taking another Go ticket? There are a few up for grabs here: https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3AGo+label%3A%22Up+For+Grabs%22

[2019-02-12 19:22] #8641 closed

[2019-02-12 19:30] amassaro commented on #10168
I'd like to grab this one.

[2019-02-12 20:03] BK1603 commented on #8641
@jasonblais  Sure :smile:

[2019-02-13 00:39] Tragen commented on #5072
You forgot to do it with image uploads also
`
.file-view--single
{
    background-color: transparent !important;
}
`

If you want to have a line separator between users like in Discord, you can add
`
.post.other--root
{
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-top-color: rgb( 77, 77, 77 ) !important;
}
`

and if the color of the scrollbar disturbs yo

[2019-02-13 05:41] bezumkin commented on #5485
Maybe it will help, but I just tried to change [this code](https://github.com/mattermost/mattermost-server/blob/release-5.8/app/file.go#L686-L690) and it works as I want:
[code]

I uploaded 2 images, almost the same size in megabytes but different dimension.
![screenshot 2019-02-13 at 12 33 49](https://user-images.githubusercontent.com/1257284/52689308-4caf6200-2f8c-11e9-9cba-e15fd09cc4bd.png)
As

[2019-02-13 06:42] hanzei commented on #10099
Fixed with https://github.com/mattermost/mattermost-server/pull/10106

[2019-02-13 06:42] #10099 closed

[2019-02-13 15:37] florck opened #10283 "Mattermost uses the key position on keyboard and not the letter typed for some shortcuts"
#### Summary
Mattermost uses the key position on keyboard and not the letter typed for some shortcuts

#### Steps to reproduce
Use a non standard keyboard layout in webapp (bépo for french).

Type cmd + v (which is on the touch that would write an «u» on a standard layout mapping)

This will open the upload window instead of pasting the clipboard content, like if I would have typed cmd + u

#### E

[2019-02-13 15:48] amyblais commented on #10201
### v5.8 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.8.0-rc3/mattermost-team-5.8.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/c6846d00a8c6b6fd44197d9fdeb5fa9673c3ad85/source/administration/changelog.md)

[2019-02-13 15:52] amyblais commented on #10283
Hi @florck,

Can you also help with more information on your environment from here: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-02-13 16:03] florck commented on #10283
Done :)

[2019-02-13 16:34] sudheerDev commented on #10153
@MirlanMaksv Hey, I updated the code formatting in the description above to make it more readable. Have another look at it to see if it helps.

You need to pass wrapper functions to the component through props. if you look at `getAuthorizedApps` function we have a `getState().entities.users.currentUserId` where we are using global `getState` and we want to remove these global instances

so it woul

[2019-02-13 16:40] BK1603 commented on #4554
I'd like to help with this! :smile:

[2019-02-13 18:14] MirlanMaksv commented on #10153
Thank you @sudheerDev, one more clarification do we pass them as action props, I mean like this
[code]
?
But for me they do not seem to be actions, as they are not dispatching anything

[2019-02-13 20:54] courtneypattison commented on #10245
I'll try to write this test :)

[2019-02-13 21:39] hanzei commented on #10245
Great @courtneypattison! :+1: Let me know, if you have any questions.

[2019-02-13 21:39] hanzei commented on #4554
Great @BK1603!

[2019-02-14 08:28] sudheerDev commented on #10153
@mikroskeem Yes, they should be like action props.

Thats true. We should be adding these actions to mattermost-redux similar to

https://github.com/mattermost/mattermost-redux/blob/a8d240b0d464d1e467a04bb9bacac710342e9c8a/src/actions/users.js#L57-L64 which uses https://github.com/mattermost/mattermost-redux/blob/a8d240b0d464d1e467a04bb9bacac710342e9c8a/src/actions/helpers.js#L66

so the dispatch

[2019-02-14 08:33] mikroskeem commented on #10153
Autocompletion is nice, but you still have to be careful ;)

---- On Thu, 14 Feb 2019 08:28:27 +0000 notifications@github.com wrote ----

@mikroskeem Yes, they should be like action props.

But for me they do not seem to be actions, as they are not dispatching anything.

Thats true. We should be adding these actions to mattermost-redux similar to

https://github.com/mattermost/mattermost-redux/blo

[2019-02-14 10:32] #10199 closed

[2019-02-14 10:33] saturninoabril commented on #10199
Thanks @adzimzf for your contribution 🎉
I'm closing this now.

[2019-02-14 10:50] saturninoabril commented on #10234
@amassaro As mentioned in the [Community UI Automation channel](https://community.mattermost.com/core/pl/6ndsga6ubbdmmqnkrh183z9reo), there's a mismatch between this GH issue and the referenced Jira ticket [MM-13989](https://mattermost.atlassian.net/browse/MM-13989).  I've corrected the content of this issue.

Really sorry about it.

[2019-02-14 12:30] hanzei commented on #9501
Reopened, as https://github.com/mattermost/mattermost-webapp/pull/1918 got reverted. @mickmister is still on a new PR.

[2019-02-14 13:11] esethna opened #10286 "[MM-14185] Demo plugin: illustrate interactive dialogs"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-14 14:15] hmhealey commented on #8642
This sounds awesome! Will this also require changes on the mobile app as well? It uses different code for highlighting, so it may need additional work

[2019-02-14 15:31] amyblais commented on #9747
Closing this as this has been fixed for v5.8 which will be released on February 16th

[2019-02-14 15:31] #9747 closed

[2019-02-14 18:37] #10229 closed

[2019-02-14 19:18] popey commented on #4554
@BK1603 awesome - do let me know if I can help! I'm popey in most places, #snapcraft on freenode included.

[2019-02-15 07:46] gupsho commented on #10286
Hi, Does this require any react changes as well? If not, I can try it.

[2019-02-15 08:34] saturninoabril commented on #10148
@MirlanMaksv Thank you for your contribution!

I'm closing this now.

[2019-02-15 08:34] #10148 closed

[2019-02-15 08:44] saturninoabril commented on #10075
@sapnasivakumar Let us know if you're working on this. We're happy to help in case you needed.

[2019-02-15 08:44] saturninoabril commented on #10038
@sapnasivakumar Let us know if you're working on this. We're happy to help in case you needed.

[2019-02-15 09:56] hanzei commented on #10286
This is a pure Go ticket. Do you want to take care of it @guphso?

[2019-02-15 11:51] BK1603 commented on #4554
@popey actually, i am kinda stuck with snapcraft, everytime i try and run it, it says it `can't connect to /run/multipass_socket`
`configure read/write access`

So i tried adding read write permissions to the file (chmod 766) but that ended up in wierd errors too

I tried building with lxc containers but then read that they need wired connections and i don't have one, so, a little help? :sweat_smi

[2019-02-15 13:49] esethna opened #10289 "Plugin framework: add ability to upload other plugins to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-15 13:58] esethna opened #10290 "[Help Wanted] [MM-14191] Render emojis in Interactive Message Buttons"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-15 13:58] esethna opened #10291 "[Help Wanted] [MM-14193] Render emojis in Message Attachment title"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-15 13:58] esethna opened #10292 "[Help Wanted] [MM-14192] Render hyperlinks in Message Attachment title"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-15 15:29] kaakaa commented on #8642
I didn't catch that. I'll take a look into it. Thanks!

[2019-02-15 15:30] jwilander commented on #9805
Opening this back up as not sure when we'll be able to get to this

[2019-02-15 17:43] #9945 closed

[2019-02-15 18:24] amyblais commented on #10060
Closing this as this has been fixed for 5.8 which will be available by tomorrow,

[2019-02-15 18:24] #10060 closed

[2019-02-15 18:36] #10242 closed

[2019-02-15 19:02] gupsho commented on #10286
Sure, will give it a try.

[2019-02-15 19:17] gupsho commented on #10289
In the argument for the api, is it reader to the .tar.gz bundle for plugin?

[2019-02-15 19:44] amyblais commented on #10283
Hi @florck,

We've done some fixes around keyboards in the past few releases - would you be able to do some testing on our test server here and let me know if you see any difference (it's currently on v5.8 RC version): https://community.mattermost.com?

If the issue looks the same there, I'll open a bug ticket for this.

[2019-02-15 19:56] courtneypattison commented on #10039
I'll attempt this one!

[2019-02-15 20:01] tomasmik commented on #10289
@gupsho Do you want to take this or can I?

[2019-02-15 21:23] gupsho commented on #10289
@tomasmik please go ahead and take it. I will take another one.

[2019-02-15 21:58] #10201 closed

[2019-02-16 06:07] tjhorner commented on #10220
Sorry for the delay, @amyblais. I can debug the notifications sometime next week. For the meantime, we discovered that [this Docker image](https://github.com/jostyee/docker-mattermost-push-proxy) works perfectly fine.

[2019-02-16 13:53] hanzei commented on #10289
Yes, it is.

[2019-02-16 13:55] hanzei commented on #10289
On thing still to discuss is, if this methods should overwrite an existing installation of the plugin. I'm [1/5](https://docs.mattermost.com/process/training.html#out-of-5) on just overwriting, but there might be better solutions like only overwriting, when this updates the plugin version.

[2019-02-16 13:56] hanzei commented on #10289
@tomasmik Do you want to pick this up?

[2019-02-16 14:02] tomasmik commented on #10289
If it's ok that I will take some time to do this, then sure.

I do not have mattermost-server set up on my new laptop.

[2019-02-16 17:49] courtneypattison commented on #10039
When the team member is added, System message posts to Town Square "[user2] added to the team by [user1]" and uses "channel" for Off-Topic. Should it be using "channel" instead of "team"?

[2019-02-17 00:26] kosgrz commented on #10291
I can do it!

[2019-02-17 03:43] joshuabezaleel commented on #9596
Hi @hanzei , since @mukulrawat1986 is not giving any update since Monday, I tried to take a shot on this.

I am sorry for any mistakes since this is my first PR here. Looking forward to your review.
Thank you very much.

[2019-02-17 07:05] hanzei commented on #10167
@frnkshin is working on this.

[2019-02-17 07:09] hanzei commented on #10291
Nice, thanks @kosgrz! :tada:

[2019-02-18 09:27] hanzei commented on #10289
@tomasmik Take the time you need. Let me know, if you have any questions or need help with the dev setup. Feel free to DM me on the [Mattermost Community Server](https://community.mattermost.com).

[2019-02-18 10:34] hanzei commented on #10039
Thanks for working on this @courtneypattison! :+1:

The current behaviour (`master`) is:
- `[user2] added to the team by you.` gets posted in ~town-square
- `[user2] added to the channel by [user1].` gets posted in ~off-topic.

@lindalumitchell Is this the correct behaviour?

[2019-02-18 10:55] gharms80 commented on #9960
Tested 5.8.0, same error.

[2019-02-18 12:53] kratan opened #10299 "Image Proxy 5.8.0 broken for Url pastes"
#### Summary
Im using docker-compose version of Mattermost. I updated today to latest MM 5.8.0 images. I guess the problem is not related especially for docker version. Problem currently:
For old and new Url pastes MM will display a broken image. If i copy the broken image url and put it directly in the browser, i'll get
`forbidden content-type: "application/json"`
instead of the the image.

See s

[2019-02-18 15:11] bars83 commented on #10299
I have the same issue

[2019-02-18 15:26] hanzei commented on #9544
This is open for the public again.

[2019-02-18 16:01] hanzei commented on #10299
@hmhealey might have insights.

[2019-02-18 16:39] lindalumitchell commented on #10039
Thanks @courtneypattison and @hanzei!

Yes, the stated behavior is correct. The reason is that Town Square is the one required default channel for the team; users cannot leave it. If a user is on the team, they will be in that channel.

Off-Topic is currently a default channel that users are also auto-added to when they join a team, but users can choose to leave Off-Topic.

So the idea is that bei

[2019-02-18 16:53] hanzei commented on #10039
Thanks @lindalumitchell. :+1:

Does this solve your questions @courtneypattison?

[2019-02-18 17:06] enahum commented on #10153
@sudheerDev why should this be added to mattermost-redux, it seems to me that they should be part of the webapp as is very client specific. Another thing is that it should use the reducers to store the data, the submitted PR is doing nothing with that data https://github.com/mattermost/mattermost-redux/pull/776

[2019-02-18 19:48] fcorrea opened #10303 "Welcome Bot message points to not found page on http://contributor-covenant.org"
#### Summary
The Welcome Bot in use on the nightly build server contains a broken link to http://contributor-covenant.org/version/1/3/0/code_of_conduct.txt

#### Steps to reproduce
Register with a new user on the nightly test build at https://community.mattermost.com
After successful logon, click on the "Welcome Bot" direct message and look for "Contributor Code of Conduct"
Click on it and it will

[2019-02-19 01:44] harshilsharma63 opened #10305 "Incorrect Button Colors In Modal"
#### Summary
Background color for buttons with class `btn btn-default`is incorrectly set to black and is independent of the selected theme.

This was not the case before v5.8.

#### Steps to reproduce
Deploy any webapp plugin with a `Modal` containing a `Button` element. Notice it's background color.

#### Expected behavior
The background color of `Button` should be dependent on the theme.

#### O

[2019-02-19 06:42] #9491 closed

[2019-02-19 09:37] esethna opened #10308 "[MM-14252] UI Automation: Write an automated test using Cypress for "After clearing search query, search options display""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-19 11:57] florck commented on #10283
Hi @amyblais , I confirm this sounds good in the web version on community.mattermost.com.

Thank you a lot, only to wait gitlab to integrate the new release.

[2019-02-19 13:45] #10283 closed

[2019-02-19 13:48] amyblais commented on #10299
Hi all, we have a ticket open for this here: https://mattermost.atlassian.net/browse/MM-14247.

[2019-02-19 13:50] joshuabezaleel commented on #10308
I never tried Cypress but can I take a shot on this? I will have a look at the [End-to-end-tests](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) page.

[2019-02-19 14:05] Hayyk opened #10310 "Mattermost plugin enable via "MM_" variable doesn't work"
Hello

#### Summary
Mattermost plugin enable via "MM_" variable doesn't work

#### Steps to reproduce
Same issue as https://forum.mattermost.org/t/automatically-activate-plugin/6289

#### Expected behavior
MM_PLUGINSETTINGS_ENABLEUPLOADS=true works fine but MM_PLUGINSETTINGS_PLUGINSTATES_COM.GITHUB.MATTERPOLL.MATTERPOLL_ENABLE=true doesn't work
Also tried MM_PLUGINSETTINGS_PLUGINSTATES_JIRA_ENABLE

[2019-02-19 15:08] amyblais commented on #10305
@sudheerDev Would you be able to help test if you can reproduce this?

[2019-02-19 15:35] mickmister commented on #9501
@hanzei I am unable to reproduce the issues laid out in the [Jira ticket](https://mattermost.atlassian.net/browse/MM-12396) comments. I've followed up on the ticket accordingly, asking for further explanation of how to reproduce.

[2019-02-19 16:25] amyblais commented on #10222
Hi @nlowe, letting you know that the ticket was closed for now as currently this follows GitHub markdown standard and a special case for this would add complexity for limited value.

[2019-02-19 16:25] #10222 closed

[2019-02-19 16:28] Hayyk commented on #10310
@amyblais @hanzei The issue isn't related to specific plugin itself, it doesn't work with any plugin even with jira which is coming with mattermost by default.

[2019-02-19 16:28] nlowe commented on #10222
@amyblais Yeah I saw the update on the Jira ticket. I'll talk to my application developers to see if we can change our link format to be supported by a wider variety of markdown implementations.

[2019-02-19 17:22] fcorrea commented on #10289
I'll take this one

[2019-02-19 17:22] fcorrea commented on #9544
I'll take this one

[2019-02-19 17:53] amyblais commented on #10219
Hi @alecisec, I'll close this Issue for now as there haven't been updates here. Please re-open this Issue with relevant additional details if the problem persists.

[2019-02-19 17:55] amyblais commented on #10125
Hi @fosBHY, I'll close this Issue for now as there haven't been updates on this for a while. If the issue persists, please re-open this with relevant additional details for additional troubleshooting.

[2019-02-19 17:55] #10125 closed

[2019-02-19 18:54] esethna opened #10313 "[Help Wanted] [MM-14263] Review, improve and split out push proxy helm chart"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-19 18:54] esethna opened #10314 "[Help Wanted] [MM-13091] Review, improve and test the push proxy docker image"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-19 19:14] esethna opened #10315 "[Help Wanted] [MM-11148] Convert mattermod to use structured logging"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-19 19:28] #10245 closed

[2019-02-19 20:18] esethna opened #10316 "[MM-13964] JIRA plugin: automatically convert JIRA-formatted messages to Mattermost Markdown"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-19 20:23] stevepartridge commented on #10316
I'd like to give this one a try.

[2019-02-19 22:50] courtneypattison commented on #10039
Yes, that's perfect! Thank you @hanzei and @lindalumitchell  :)

[2019-02-19 23:57] alecisec commented on #10219
There is no log events which are relevant as this is a client-side rendering issue. The URI for each of the menu items can be reached but aren't presented in the menu

[2019-02-20 00:37] amyblais commented on #10219
@alecisec

Are you using a Proxy server?
Is the Mattermost server internal or external?
Do you see any Console errors in Firefox or Chrome?

[2019-02-20 00:41] alecisec commented on #10219
The mattermost is hosted on EC2 behind a load balancer (ALB),
No proxy,
will check console for errors soon

[2019-02-20 01:16] courtneypattison opened #10317 "[MM-14281] Multiselect throws a warning when selecting an item"
#### Summary
Multiselect throws a warning when selecting an item because each item does not have a unique key.

#### Steps to reproduce
Login > Hamburger Menu > Add Members to Team > Select a User

#### Expected behavior
Warning should not show up in console when multiselecting.

#### Observed behavior (that appears unintentional)
The following warning occurs in the console when selecting a user t

[2019-02-20 06:41] scottleedavis commented on #9283
I believe a critical mass of people believe this bot would ideally be built as a plugin, so that is the new plan.  It will require a translation system built, as well as the webapp portion able to be dynamically loaded in mobile.

[2019-02-20 06:46] hanzei commented on #10310
I can confirm that this is a Matterpoll problem.

FYI: People have run into this problem before:
- https://forum.mattermost.org/t/automatically-activate-plugin/6289
- https://community-daily.mattermost.com/core/pl/eoateesy83rkbxwfz3q364c7ny

[2019-02-20 06:47] hanzei commented on #9544
Great, thanks @fcorrea! :tada:

[2019-02-20 06:55] hanzei commented on #10308
Sure @joshuabezaleel, thanks for looking into this. Let us know, if you have questions!

[2019-02-20 06:56] hanzei commented on #10289
Sorry @fcorrea, this ticket is already taken. Please take a look a the other open Help Wanted ticket: https://github.com/mattermost/mattermost-server/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+Help+Wanted+label%3A%22Up+For+Grabs%22

If you have further questions, feel free to DM me on the [Mattermost Community Server](https://community.mattermost.com).

[2019-02-20 06:56] hanzei commented on #10078
Fixed with https://github.com/mattermost/mattermost-mobile/pull/2520.

Thanks @dmamills for the contribution!

[2019-02-20 06:57] #10078 closed

[2019-02-20 07:08] sudheerDev commented on #10153
@enahum It is an API call at the end of the day and so, It is not client specific. We should have all API call actions in mattermost-redux as it can be used by any client or plugin.

To give an example of why we should have it reduxIf we do end up needing these for

I don't see a reason for that It just adds complexity to the state and logic in the component as the data can be stale(These events w

[2019-02-20 07:19] hanzei commented on #9501
Hey @mickmister, thanks for keeping track of this!

@lindy65 could you please share some details on what exactly the permission issue is and how to repo it?

[2019-02-20 07:28] lindy65 commented on #9501
Thanks @hanzei @mickmister

I am going to retest this feature on `master` and will comment in the Jira ticket in response to `@mickmister's` questions/comments.

[2019-02-20 07:49] Hayyk commented on #10310
This is plugin problem and not matterpoll plugin problem only. User that faced the same issue before also mentioned that it's not working with jira either.
https://community-daily.mattermost.com/core/pl/oyra3sbgwfftdmzzin4uhuz5ny

[2019-02-20 08:10] sudheerDev commented on #10305
@amyblais Yes i can replicate this issue we should be opening a ticket for this.

@harshavardhana i understand the reason of using `bnt-default` as we were depending on that even in webapp modals before.

Recently that change broke some webapp modal button styling to be black as well and we started using `btn-primary` instead for fixing this.

This would need discussion and eventually docs on the

[2019-02-20 08:45] harshilsharma63 commented on #10305
@sudheerDev just to point it out, the `btn btn-default` class is being produced by the use of `Button` react-bootstrap element.

[2019-02-20 09:26] sudheerDev commented on #10305
@harshilsharma63 Right. As a default button react bootstrap has has `btn-default` stying but you could use
`<Button variant="primary">Primary</Button>` to not have the default class and use primary or `<Button variant="link">Link</Button>` which we are use a lot in webapp

[2019-02-20 10:04] stylianosrigas commented on #10314
I will pick up this ticket.

[2019-02-20 12:23] enahum commented on #10153
@sudheerDev I agree that your logic makes sense and that we should have one source of truth and that all API call actions should be in redux. Now if you only need an API call that's why the Client exists, it does not require an action. YES the reality is that doing it this way it will work but it does not mean that it should be done this way, to me is definitely a misuse of redux.

The definition

[2019-02-20 12:42] harshilsharma63 commented on #10305
@sudheerDev neither of `primary` and `link` is alternatives of what we used to have before. `primary` makes the button blue (depending on the main color) and `link` makes it off-white.

[2019-02-20 12:44] fcorrea commented on #10315
I'll take this one

[2019-02-20 12:50] esethna opened #10319 "[Help Wanted] [MM-12667] Allow including deactivated users in bulk import"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 13:02] sandlis commented on #10319
Is it okay if I give it a try?

[2019-02-20 13:02] fcorrea commented on #10289
I'm sorry @hanzei and @tomasmik ! I've mistakenly assumed it was "Up for Grabs" and that it was fine to take a look.
I'm stepping way from this one for now.

[2019-02-20 13:34] jasonblais commented on #10319
Certainly, thank you @sandlis!

[2019-02-20 13:37] esethna opened #10320 "Plugin framework: Design & implement a method for including custom system console components"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 13:55] eStudyMedien opened #10321 "Android and iOS App resets E-Mail settings"
#### Summary
Andoid App V1.16.0 Build 175 (iOS-App on iPhone X too) on Mattermost-Server 5.8.0:
Profil -> Einstellungen -> Benachrichtigungen -> E-Mail
If you enter this menu in the app (also without saving), your E-Mail settings are set to default "15 Minutes"
This is online shown in the Desktop-App or browser; not in the Android App. The Android App still shows you "Nie"

[2019-02-20 14:17] amyblais commented on #10305
Opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-14280.

[2019-02-20 14:21] hmhealey commented on #8642
Let me know if you run into any issues with it. The main place you'll probably want to look at is the [`getFirstMention`](https://github.com/mattermost/mattermost-mobile/blob/master/app/components/markdown/transform.js#L308) function that looks for a single mention in a string of text.

[2019-02-20 14:33] hmhealey commented on #10299
@kratan Could you post the image URL here? I'm curious if the URL is being mangled on the Docker version since I'm not seeing that issue on any of our servers

[2019-02-20 14:36] amyblais commented on #10317
Hi @courtneypattison,

A PR will be appreciated!

I also opened a ticket for tracking: https://mattermost.atlassian.net/browse/MM-14281.

[2019-02-20 14:49] sandlis commented on #10319
@jasonblais Thanks!
Does legacy data here means data from previous mattermost versions or other chat softwares like slack?

[2019-02-20 14:55] amyblais commented on #10310
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-14282.

[2019-02-20 15:10] jasonblais commented on #9483
Re-opened here: https://github.com/mattermost/mattermost-server/issues/10320

[2019-02-20 15:10] #9483 closed

[2019-02-20 15:15] wiersgallak commented on #10319
@sandlis Legacy data means data from other chat softwares.  We want to support the use case where a user may have once be active, but is no longer so customers can to retain the conversation history (posts) of the inactive users.  Our bulk import currently does not allow you to import inactive users, so customers currently need to add the users as active and then deactivate them after the import.

[2019-02-20 15:19] hmhealey commented on #10153
While I agree that we might be abusing `thunk` since this has no effect on the store, I think it makes sense to keep these calls as actions because:
1. It makes it so that these calls can be connected to components the same way as other API-related actions, and if we make it affect the redux state in the future, it'll be trivial to just modify the action to use dispatch without having to change ev

[2019-02-20 15:21] kratan commented on #10299
@hmhealey: https://mm.mm.de/api/v4/image?url=https%3A%2F%2Fheise.cloudimg.io%2Fbound%2F1920x1920%2Fq90.png-lossy-90.webp-lossy-90.foil1%2F_www-heise-de_%2Fimgs%2F18%2F2%2F6%2F0%2F1%2F6%2F3%2F8%2Fds-d756aff8e9019aef.png

[2019-02-20 15:31] sudheerDev commented on #10153
@hmhealey I understand where this comes from but reason that we might not or won't be needing in mobile does not seem right to me given the direction we are headed with mm-redux as an API for plugins.
I am just trying to see if we can modify the thought of what goes into redux and what goes into specific repos.

I like the fact that we keep view stores and any actions related to UI in specific rep

[2019-02-20 15:41] enahum commented on #10153
Well it looks like everyone would like to be an action and I’m ok with that.

The mobile reason to me is not a reason at all but that is another topic.

This discussion at least was beneficial in terms of what are we using, how and why

[2019-02-20 16:08] sudheerDev commented on #10305
@harshilsharma63
I am looking at `btn-primary` in webapp which takes theme into effect.
<img width="1248" alt="screenshot 2019-02-20 at 9 33 49 pm" src="https://user-images.githubusercontent.com/4973621/53105566-6423b780-3557-11e9-9f05-53901689b8f0.png">

I could be wrong but this is the reason why iam saying it could work by changing the class as a quick fix this on plugin end.

Nevertheless we h

[2019-02-20 16:18] MirlanMaksv commented on #10153
So the conclusion is to leave that API calls as actions and in the webapp? Correct me please if I got it wrong

[2019-02-20 17:06] enahum commented on #10153
Yea @MirlanMaksv we are going to leave it as actions!

[2019-02-20 17:10] MirlanMaksv commented on #10153
and stays in the web app repo?

[2019-02-20 17:14] stylianosrigas commented on #10313
I will pick up this ticket.

[2019-02-20 17:32] esethna opened #10322 "[Help Wanted] [MM-14283] UI Automation: Write an automated test using `cypress` for "Compact view: Line breaks remain intact after editing""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 18:03] esethna opened #10323 "[Help Wanted] [MM-14270] UI Automation: Write an automated test using `cypress` for "Delete a parent message that has a reply: Reply RHS""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 18:15] sudheerDev commented on #10153
@MirlanMaksv Yup. You can close the redux PR. We can leave them in the webapp and use them as prop actions for components

Sorry for the trouble.

[2019-02-20 19:09] hmhealey commented on #10299
The raw link `https://heise.cloudimg.io/bound/1920x1920/q90.png-lossy-90.webp-lossy-90.foil1/_www-heise-de_/imgs/18/2/6/0/1/6/3/8/ds-d756aff8e9019aef.png` seems to work fine on my test instance.

Do you happen to see any errors in the browser's JavaScript console when trying to view that post? Is there perhaps something wrong with how your server's Site URL is configured? If you're getting `forbid

[2019-02-20 19:15] esethna opened #10324 "[Help Wanted] [MM-13721] Fix the etag function GetEtagForProfilesNotInTeam"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 19:22] jfrerich commented on #10324
I would like to take this ticket

[2019-02-20 19:30] esethna opened #10325 "[Help Wanted] [MM-11426] Use gzip for API responses"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 19:41] esethna opened #10326 "[Help Wanted] [MM-13700] Server layered stores are unusable in the upgrade code path"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 19:46] esethna opened #10327 "Ignore configured database timeout during migration"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 19:51] esethna opened #10328 "Consider modifying gorp to consistently create TEXT columns between MySQL and Postgres"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 20:00] esethna opened #10329 "[Help Wanted] [MM-13341] Add an upgrade test to verify schema"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 20:05] esethna opened #10330 "Investigate reselect memoization performance"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 20:10] esethna opened #10331 "[Help Wanted] [MM-13566] Throw an error accessing Set.length or Map.length in dev mode"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-20 20:28] Kemyke commented on #1880
@ScottHutchinson as mattermost support the same API as Slack you can easily do it with VSTS/Azure DevOps or on-premises TFS. Check this doc: https://docs.microsoft.com/en-us/azure/devops/service-hooks/services/slack?view=azure-devops

[2019-02-20 21:47] sapnasivakumar commented on #10038
I’m traveling this week and will work on it next week.
I’ll reach out if I’m blocked

[2019-02-20 21:47] sapnasivakumar commented on #10075
I’m traveling this week and will work on it next week.
I’ll reach out if I’m blocked

[2019-02-20 21:49] sapnasivakumar commented on #9986
I’m not be able to work on this further. Can someone please take this up

[2019-02-20 22:34] esethna commented on #9951
Closing with: https://github.com/mattermost/mattermost-mobile/pull/2468

Thanks Miguel!

[2019-02-20 22:34] #9951 closed

[2019-02-21 00:46] ScottHutchinson commented on #1880
@Kemyke Thanks. I've been trying that, but so far there is some mismatch with http vs. https that I am unable to resolve. I have both mattermost server and TFS using http, but I still get an error similar to this: https://github.com/mattermost/mattermost-server/issues/3869

[2019-02-21 00:48] amyblais commented on #10321
Hi @eStudyMedien,

Are these the reproduction steps?
1. Set email notifications to "immediately" on the desktop app and keep the Notification setting modal open on the desktop app.
2. Change the email notification setting on mobile app to "Never".

Is this the Observed?
The Notification Setting on Desktop changes to "After 15 minutes" instead of "Never". However, this seems to just be a temporary

[2019-02-21 07:42] hanzei commented on #10324
Thanks @jfrerich!

[2019-02-21 07:43] hanzei commented on #10315
Thanks @fcorrea for taking care of this one.

[2019-02-21 07:51] sandlis commented on #10319
Thanks @wiersgallak
I have posted my query on how to reproduce this [here](https://pre-release.mattermost.com/core/pl/wet4shc63f8nppanw6egiuxhjc)

[2019-02-21 07:52] #9695 closed

[2019-02-21 08:47] eStudyMedien commented on #10321
Hi,

this is what we do and how Mattermost acts:

Step 1 – Desktop App
[cid:image002.jpg@01D4C923.A48365A0]
Mattermost works how it should; no E-Mails.

Step 2 – Mobile App (Android and iOS)
If you only enter the Menu „E-Mail“ in the Mobile App and then leave the Menu ...
[cid:image002.jpg@01D4C9CA.622B7920]

Step 3 – Desktop App
... the settings are (re-)set to „15 Minutes“
[cid:image001.jpg@01D4

[2019-02-21 08:54] saturninoabril commented on #10044
I'm closing this now.  Forgot to close it when the PR was merged.

Thank you @patniharshit for your contribution!

[2019-02-21 08:54] #10044 closed

[2019-02-21 08:56] tejasbubane commented on #10189
This can be closed @esethna

[2019-02-21 09:10] hanzei commented on #10189
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2300

Thanks for pointing this out @tejasbubane :+1:

[2019-02-21 09:11] #10189 closed

[2019-02-21 09:19] hanzei commented on #9986
Thanks for head up @sapnasivakumar. :+1:

I will make this available for the public again.

[2019-02-21 09:59] kratan commented on #10299
hmm,
can it be a docker-compose related problem? maybe reverse proxy is wrong configurated?
im using mattermost docker-compose, see
https://github.com/mattermost/mattermost-docker

greets

[2019-02-21 11:36] kishan-1234 commented on #10325
Hi I would like to work on this

[2019-02-21 12:35] esethna opened #10333 "[Help Wanted] [MM-13877] Update System Console > Users > User Status Filter Name "None" to "All Users""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 12:35] esethna opened #10334 "mattermost-redux fail to build with npm ci and npm install"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 12:40] esethna opened #10335 "[Help Wanted] [MM-13824] Add a translation string to address an issue with a German translation"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 12:40] esethna opened #10336 "New plugin: Strip EXIF Data from Images when being uploaded"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 12:44] grundleborg commented on #10336
Note that it may be necessary to add additional hooks to the plugin API to make this plugin possible. The best place for advice and discussion on plugin development is the `Developer Toolkit` channel on community.mattermost.com

[2019-02-21 12:56] MirlanMaksv commented on #10153
Hey @sudheerDev that is not a trouble, couple of copy-pastes and everything is fine

[2019-02-21 13:00] esethna opened #10337 "[Help Wanted] [MM-13895] Implement config migration command"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 13:10] esethna opened #10338 "[Help Wanted] [MM-14145] Investigate changing the config store Set to automatically Save"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 13:31] esethna opened #10339 "[Help Wanted] [MM-14291] Improve mattermod test server setup"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 15:29] tejasbubane commented on #10333
I will take this one.

[2019-02-21 16:09] tmulholl opened #10340 "Channel does not refresh automatically on iPhone mobile app"
I searched for an existing bug and below is the closest I could find to it. It may or may not be related.
https://mattermost.atlassian.net/browse/MM-14021

#### Summary
Sometimes when going to a channel on the iPhone mobile app, the channel is missing the latest post. If you force a refresh, the post will display.

#### Steps to reproduce
I have yet to consistently reproduce it. I think it may hav

[2019-02-21 17:24] stylianosrigas commented on #10339
I will have a look at this.

[2019-02-21 18:04] nimrodshn commented on #10336
I would like to take this one! :1st_place_medal:

[2019-02-21 18:07] amyblais commented on #10305
@sudheerDev Do you know if this is an issue only on the webapp or also on mobile?

Also, do you know if this is a regression from v5.8 (if yes, this probably should be fixed for v5.9)?

[2019-02-21 19:39] steveperjesi commented on #10331
Looks good, I'll take this one.

[2019-02-21 20:02] hanzei commented on #10331
Thanks @steveperjesi for looking into this! :+1:

[2019-02-21 20:18] samueljohnston96 commented on #8342
Can this issue be removed since the Jira ticket says this is closed?

[2019-02-21 20:25] hanzei commented on #10339
Thanks @stylianosrigas for looking into this. This will be super helpful :rocket:

[2019-02-21 20:26] hanzei commented on #8342
Good catch @samueljohnston96, closing this one.

[2019-02-21 20:26] #8342 closed

[2019-02-21 21:58] esethna opened #10342 "[MM-11828] Plugin framework: Add the ability to have lists in the plugin system console settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-21 22:33] tmulholl opened #10343 "Emoji added to an existing post doesn't display for sender"
#### Summary
An emoji added to an existing post doesn't immediately display for the sender. It does display immediately for the receiver.

#### Steps to reproduce
Environment details:
Mattermost Version: 5.7.1
Database Schema Version: 5.7.0
Database: mysql
Operating system: Windows 10
Browser: Chrome Version 72.0.3626.109 (Official Build) (64-bit)

1. User A sends a message to User B (in a direct

[2019-02-21 23:43] amyblais commented on #10343
Hi @tmulholl, is this on webapp or the mobile app?

[2019-02-21 23:54] tmulholl commented on #10343
This is on the webapp. I shared the browser and operating system in the steps to reproduce.

[2019-02-22 00:11] icelander opened #13992 "Expand Jobs Server Documentation"
The [Jobs server section](https://docs.mattermost.com/administration/config-settings.html#jobs) should be expanded to include details like the following:

 - How to set up a Mattermost server as a worker
 - The circumstances where you'd need a worker server as opposed to using all servers as both application and workers

[2019-02-22 00:25] amyblais commented on #10343
Thank you, we have a ticket to fix this and it is currently scheduled for v5.9 release: https://mattermost.atlassian.net/browse/MM-14187.

There was also a similar issue on the mobile app but it has been fixed for v1.16.1 dot release which will be available in the app stores within the next few days.

[2019-02-22 00:46] dv29 commented on #9486
Hi everyone. Keeping everyone posted about the progress, last couple of weeks have been hectic and couldn't get much done however next will be a little relaxed and I'll try to get the WIP PR ready

[2019-02-22 01:10] amyblais commented on #10340
Hi @tmulholl, I've seen this sometimes too but as you said it's hard to reproduce consistently. I'll ask our team tomorrow if other's have seen it too and whether we already have a ticket open to address this.

[2019-02-22 02:02] asaadmahmood commented on #10305
@amyblais I think this was intentional as we wanted a darker color to be used as a tertiary button, especially in the system console.
For plugins etc, we need to use `btn-link` or the link variant in plugins, not `btn-default`.

[2019-02-22 05:26] joshuabezaleel commented on #9769
Hi @vildapavlicek , are you still on this issue? If not, may I take this one?

Also @hanzei , I noticed from the [Mattermost Command Line Tols docs page](https://docs.mattermost.com/administration/command-line-tools.html) that only the outgoing webhook that needs to be entitled to a team from the flag that needs to be supplied when creating it, and the incoming webhook doesn't have any flags to in

[2019-02-22 05:34] joshuabezaleel commented on #10335
Hey @esethna , I am new to this translation aspect of the Mattermost. If I may ask, which file/code should I take a look into to make a change on this?
And does this mean that I need to check the %v whether it's the signed in user or not?

Thank you very much. Have a nice day :slightly_smiling_face:

[2019-02-22 07:30] vildapavlicek commented on #9769
@joshuabezaleel
Hey, yes Im still on the issues, but it will be delayed because I got sick

[2019-02-22 07:51] joshuabezaleel commented on #9769
Got it. Get well really soon, @vildapavlicek ! 🙂

[2019-02-22 09:08] joshuabezaleel commented on #10337
I am interested in this issue but I still have not understood several parts:
1. Does migrating means that I have to delete/remove the previous store? Because from what I get, invoking `toConfig.Set(fromConfig.Get())` (and `toConfig.Save()`) only means that copying the config from oldstore to newstore while the config at the oldstore still persists?
2. I still do not understand the unit test part.

[2019-02-22 09:59] hanzei commented on #10335
@hmhealey could you please take a look at the questions above?

[2019-02-22 11:58] joshuabezaleel commented on #10327
May I take a shot on this?

[2019-02-22 12:26] hanzei commented on #10327
Sure @joshuabezaleel, thanks for taking a look. :+1:

[2019-02-22 13:27] tejasbubane commented on #4597
I was not able to reproduce this on `Firefox 65.0.1 (64-bit)` on `MacOS Mojave 10.14.3 (18D109)`. Pressing Cmd-U opened a file upload box. Is this OS specific?

[2019-02-22 13:55] esethna opened #10345 "[MM-12958] Support running two Mattermost instances on the same domain using subpaths"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-22 14:01] esethna opened #10346 "Improve emoji picker performance"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-22 14:01] esethna opened #10347 "[Help Wanted] [MM-12763] Investigate removing unnecessary indices"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-22 14:06] esethna opened #10348 "Investigate the client performance impact of being in a large number of private/GM/DM channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-22 14:17] esethna opened #10349 "[Help Wanted] [MM-11142] Console logging should be human readable during development"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-22 14:33] tejasbubane commented on #10274
I will give this a try.

[2019-02-22 15:07] jwilander commented on #10337
@lieut-data

[2019-02-22 15:10] cpoile commented on #10328
@jwilander Hi. When you say:

I'm a little unsure what the desired behaviour is. Do you want the driver to set MySQL to `text` when the maxsize is `0` (like how gorp sets Postgres)?

[2019-02-22 15:12] jwilander commented on #10328
Yes, I think that's exactly what we'd want to do. The main goal is we want to be consistent across MySQL and Postgres as much as possible

cc @jespino @lieut-data for any thoughts

[2019-02-22 15:23] esethna opened #10351 "[Help Wanted] [MM-10199] Investigate capture of stack traces into Mattermost logs"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-22 15:36] DHaussermann commented on #4597
I tested this on 2 different Windows 10 machines and can't repo an issue.

On FireFox 54 - I was prompted by the pop-up blocker and had to allow the pop-up (or trust the site) to get the file window open.

On Firefox 65 - The file window opened without issue.

It may be that some users are not seeing the prompt to allow the pop-up if the browser is configured to hide it.

[2019-02-22 15:36] cpoile commented on #10328
(You may know this, but just in case...) One issue to consider, is that (in MySQL) `text` acts like a BLOB (but a character string instead of binary). So there are some restrictions. Eg,
- if you want to index on it, you have to specify an index prefix length
- you cannot have a DEFAULT value
- you have to set a max_sort_length when sorting (or be fine with the default of 1024)
- (maybe most impor

[2019-02-22 15:50] jasonblais commented on #4597
Thanks @DHaussermann for verifying! Given it doesn't reproduce on Mac/Linux (from above testing, thanks all!), and we don't support Firefox 54, I'll close this issue.

[2019-02-22 15:50] #4597 closed

[2019-02-22 15:57] amyblais commented on #10321
Thank you, I was able to reproduce this and opened a ticket here: https://mattermost.atlassian.net/browse/MM-14301.

[2019-02-22 15:59] stylianosrigas commented on #10313
After discussion with @cpanato the push-proxy chart will temporarily sit under https://github.com/mattermost/mattermost-kubernetes/tree/master/charts/ and proper refactoring will enable independent use of the push-proxy Helm chart. In the future the push-proxy chart will be moved in a central location and will be added as dependency in mattermost-enterprise-edition.

[2019-02-22 16:12] amyblais commented on #10219
Hi @alecisec, would you be open to posting this on our Forum site for further troubleshooting: https://forum.mattermost.org/? Our community members are more active there and somebody will probably have additional thoughts on what the issue might be. Please include relevant console errors.

[2019-02-22 18:36] fcorrea commented on #10315
Ok, PR is up.
I've decided to leave the CLI out of the way for now since I think factoring out mlog and adding commands to it would be better.
Please, let me know what you guys think.

[2019-02-22 21:59] hmhealey commented on #10299
Yeah, that's definitely the image proxy. Was the link that you posted the plain `https://heise.cloudimg.io/...` one or the encoded `https://mm.mm.de/api/v4/image?url=https%3A%2F%2Fheise.cloudimg.io%2F/...` one? It seems like Mattermost is trying to make the image proxy request an image from itself, and that's failing because that would normally require the caller to log in.

[2019-02-22 22:42] d28park commented on #10349
Hello, new to Mattermost. Working on this to get a grasp of the logging process.

[2019-02-23 00:30] jasonblais commented on #10349
Thanks @d28park! Looks like this ticket has a PR here: https://github.com/mattermost/mattermost-server/pull/10352

Would you be interested picking another ticket that's up for grabs? Appreciate your interest!

https://github.com/mattermost/mattermost-server/labels/Up%20For%20Grabs

[2019-02-23 00:53] joshuabezaleel commented on #10337
May I have a shot on this? 🙂

[2019-02-23 01:26] d28park commented on #10349
Thanks, I'll look around!

[2019-02-23 04:17] kaakaa commented on #8642
Thanks for your supporting @hmhealey!
I've made PR for mobile. https://github.com/mattermost/mattermost-mobile/pull/2590

I think that this issue will be resolved by my existing PRs,  leaving [my comment](https://github.com/mattermost/mattermost-server/issues/8642#issuecomment-462214980).

[2019-02-23 06:36] hanzei commented on #10337
Sure, go ahead @joshuabezaleel :+1:

[2019-02-23 18:14] steveperjesi commented on #10331
PR submitted
https://github.com/mattermost/mattermost-webapp/pull/2404

[2019-02-23 18:33] MirlanMaksv commented on #10149
Let me take it

[2019-02-23 18:52] steveperjesi commented on #9507
I'll take this one.

[2019-02-23 18:58] hanzei commented on #10149
Thanks for taking care of this, @MirlanMaksv! :rocket:

[2019-02-23 19:01] hanzei commented on #9507
Thanks for looking into this @steveperjesi. Let us know, if you have any questions.

[2019-02-23 19:36] bkmgit commented on #10276
Hi, interested in this.

[2019-02-23 19:41] #10096 closed

[2019-02-24 09:41] M-Mueller opened #10355 "Markdown image size not working anymore"
#### Summary
Any image size set in markdown seems to be ignored since v5.7 (this feature was added with #4803)

#### Steps to reproduce
[code]

#### Expected behavior
Behaviour in v5.5:
![5 5](https://user-images.githubusercontent.com/584616/53297427-07f2b900-381f-11e9-80d8-7a0ab1ea6ec8.png)

#### Observed behavior (that appears unintentional)
Behaviour in v5.7:
![5 7](https://user-images.githubus

[2019-02-24 19:01] jasonblais commented on #10276
Than you @bkmgit!

[2019-02-25 09:28] Bibelo commented on #7721
Hello,

Any update on this matter as this is an issue for us. All my contact are marked away when they are at their computer. It's been an issue that has been escalated in our company.

Thank you

[2019-02-25 10:02] kratan commented on #10299
Hi,
right click on the broken image link in FF, "Copy image Location":
 https://mm.mm.de/api/v4/image?url=https%3A%2F%2Fheise.cloudimg.io%2Fbound%2F1920x1920%2Fq90.png-lossy-90.webp-lossy-90.foil1%2F_www-heise-de_%2Fimgs%2F18%2F2%2F6%2F0%2F1%2F6%2F3%2F8%2Fds-d756aff8e9019aef.png

So you think it has something to do with the reverse Proxy of docker:
see, https://github.com/mattermost/mattermost-doc

[2019-02-25 13:35] hmhealey commented on #10299
That error message is being logged by the image proxy code itself, so I'm not sure if it would be affected by the reverse proxy at some point. I could be wrong about that though since I'm not particularly familiar with setting up a reverse proxy.

Are you able to perhaps ssh into the docker container running Mattermost and try curling `https://heise.cloudimg.io/bound/1920x1920/q90.png-lossy-90.web

[2019-02-25 14:03] kratan commented on #10299
Hi,
i can say that following doesnt work(this is the link of the (broken)image copied directly from firefox:
https://mm.mm.de/api/v4/image?url=https%3A%2F%2Fmm.mm.de%3A443%2Fapi%2Fv4%2Fimage%3Furl%3Dhttps%253A%252F%252Fheise.cloudimg.io%252Fbound%252F1920x1920%252Fq90.png-lossy-90.webp-lossy-90.foil1%252F_www-heise-de_%252Fimgs%252F18%252F2%252F6%252F0%252F7%252F5%252F1%252F6%252FIMG_9742-65d5e58c

[2019-02-25 14:25] hmhealey commented on #10335
@joshuabezaleel You'll need to change this on the web app. If you take a look [here](https://github.com/mattermost/mattermost-webapp/blob/master/components/post_markdown/system_message_helpers.jsx#L89), this is where it uses the existing string. You'll need to add a new translation string to go along with `api.team.join_team.post_and_forget`, and then we'll need to figure out how to tell that func

[2019-02-25 14:29] hmhealey commented on #10299
Oh okay, so the Mattermost server itself is rewriting the URL incorrectly. If you go to the General > Configuration section of the system console, what is your Site URL set to? That might explain why it's trying to pass the image URL through the proxy twice.

If it's set to `https://mm.mm.de:443`, try removing the `:443`

[2019-02-25 14:34] kratan commented on #10299
removed` :443` but still same problem....do i need to reload mattermost?

greeets

[2019-02-25 15:33] petarov commented on #5079
Hi,

Sorry for bringing up an old issue, but I've got the same problem and I just wanted to ask if this is a known issue.

**Environment**

* CentOS 7.6
* MySQL 5.6.43
* Mattermost v5.8.0
* New installation

**Error**

Running `sudo -u mattermost ./bin/mattermost` produces the following:

[code]

**Database**

Database uses `utf8mb4` as charset, although I tried using `utf8` as well, but that did

[2019-02-25 15:45] #10039 closed

[2019-02-25 15:49] amyblais commented on #10355
Hi @M-Mueller,

I'm not able to reproduce this on a server that's on v5.9 branch, so it is probably fixed in the upcoming release - https://community.mattermost.com. Would you be able to test and let me know what you see?

[2019-02-25 16:00] #10291 closed

[2019-02-25 16:07] lieut-data commented on #10337
@joshuabezaleel,
1. No need to modify or remove the old store. Only the new store should be intact.
2. Ideally the unit tests prove that the new command actually works. It would probably be fine for the testing code to create new store instances after running the command to verify the changes.

My concern with the flags is that `--config` is a global for the `config` subcommand, so it's going to b

[2019-02-25 16:09] hmhealey commented on #10299
It might help to restart Mattermost and clear your browser cache. It's possible that it would still be using the old data

[2019-02-25 16:14] amyblais commented on #10027
Closing this as the Jira ticket has been resolved and tested for upcoming v5.9 release (to be released on March 16th).

[2019-02-25 16:14] #10027 closed

[2019-02-25 16:16] amyblais commented on #9821
Hi @swood, letting you know that our partner Herzum has released a new Hipchat import tool which has been working well - hopefully you'll have a more pleasant import experience if you choose to try this tool: https://github.com/herzum/HC2MM.

[2019-02-25 17:05] #10317 closed

[2019-02-25 17:11] swood commented on #9821
Hey, @amyblais.
I'm not sure that it is a suitable tool. I didn't find any technical detail about "how it works".
Anyway, I wrote my tool: https://github.com/swood/varna and It works. I checked.

[2019-02-25 17:38] jprusch commented on #5079
Same error on upgrade 5.6.0 -> 5.8.0
` error   sqlstore/supplier.go:807        Failed to create index Error 1071: Specified key was too long; max key length is 767 bytes`
Any ideas???

[2019-02-25 17:42] jprusch opened #10358 "v5.8.0 upgrade failed: "Error 1071: Specified key was too long; max key length is 767 bytes""
Upgrading by instruction manual.

Log show error:
`Error 1071: Specified key was too long; max key length is 767 bytes"`

Database is MySQL 5.7.

Connection URL:
`"mmuser:thepassword@tcp(theserver:3306)/mattermost?charset=utf8mb4,utf8\u0026readTimeout=30s\u0026writeTimeout=30s"`

[2019-02-25 17:48] amyblais commented on #10358
Confirming that you followed all the steps in the upgrade notes: https://docs.mattermost.com/administration/upgrade.html?

Also, confirming that you have taken a look at the Important upgrade notes for scenarios that may apply to you: https://docs.mattermost.com/administration/important-upgrade-notes.html?

If yes, can you help post here the Mattermost logs?

Also, this thread may help: https://fo

[2019-02-25 18:30] cpoile commented on #10345
@esethna I'd love to take a look at this

[2019-02-25 18:31] jprusch commented on #10358
Hm,
just did it the second time... Just to be sure.

Logs show:
`2019-02-25T18:25:20.546+0100    info    sqlstore/supplier.go:215        Pinging SQL master database
2019-02-25T18:25:21.739+0100    warn    sqlstore/upgrade.go:131 The database schema version of 5.6.0 appears to be out of date
2019-02-25T18:25:21.739+0100    warn    sqlstore/upgrade.go:132 Attempting to upgrade the database schema ve

[2019-02-25 18:33] amyblais commented on #10358
@cpanato Can you take a look at the log errors above and see if you know what the issue could be?

[2019-02-25 19:52] petarov commented on #10358
Hey! I'm the `another guy` @jprusch referred to. I wasn't sure if this deserves a new issue at first, so here's a copy of my post in the closed issue here, just for reference.

-----------

**Environment**

* CentOS 7.6
* MySQL 5.6.43
* Mattermost v5.8.0
* New installation

**Error**

Running `sudo -u mattermost ./bin/mattermost` produces the following:

[code]
**Database**

Database uses `utf8mb4

[2019-02-25 20:01] courtneypattison commented on #10191
I'll try this one :)

[2019-02-25 21:01] kosgrz commented on #10292
I could do it!

[2019-02-25 21:17] hanzei commented on #10292
Thanks again @kosgrz. You are doing a great job! :tada:

[2019-02-25 21:32] hanzei commented on #10191
Thanks @courtneypattison for taking care of this issue. :rocket:  Let us know if you have questions.

[2019-02-25 21:33] esethna opened #10362 "[Help Wanted] [MM-5994] [Redux] Split out constants even more"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-26 00:51] harshilsharma63 opened #10364 "Markdown - Unable To Display User's Avatar In Markdown"
#### Summary
When I try to display a user's avatar as a markdown image, it doesn't work. I'm able to access the image if I directly open the URL in the browser.

#### Steps to reproduce
1. Generate a user's avatar URL following this scheme - `/api/v4/users/<user_id>/image?_=1551141926912`.
1. Try sending this image URL as an inline markdown image - `![](<generated-user-avatar-url>)`.

#### Expecte

[2019-02-26 01:07] harshilsharma63 commented on #10299
I'm on `release-5.9` branch and I get this issue.

[2019-02-26 01:08] harshilsharma63 commented on #10364
This seems to be related to #10299 as I'm able to see images if I turn off image proxy.

[2019-02-26 06:18] esethna commented on #10163
Hi @gabrieljackson just checking how this is going?

[2019-02-26 06:42] ajeethkannan commented on #10154
Hi,

I am trying to write unit tests for **password_reset_form.jsx** to test if **resetUserPassword** (an action in redux) in **handlePasswordReset**. I am not able to assign or mock a value to `const password = ReactDOM.findDOMNode(this.refs.password).value;`

Here is the complete code of the function **handlePasswordReset**
`handlePasswordReset = (e) => {

        e.preventDefault();
        con

[2019-02-26 06:44] hanzei commented on #9769
Good catch @joshuabezaleel. There is definitely some inconsistently between the two commands.

@wiersgallak [`mattermost webhook create-incoming`](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-webhook-create-incoming) [`mattermost webhook create-outgoing`](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-webhook-create-outgoing) have ver

[2019-02-26 07:47] hanzei commented on #10154
@ajeethkannan Thanks for the question. I will defer it to one of our JS devs.

@saturninoabril Can you please take a look at the above question?

[2019-02-26 08:45] esethna opened #10366 "[Help Wanted] [MM-14319] UI Automation: Write an automated test using `cypress` for "Theme Colors - Code""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-26 08:45] esethna opened #10367 "Write an automated test using `cypress` for "Theme Colors - Color Picker""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-26 08:54] kratan commented on #10299
@hmhealey: restarting mattermost server doesnt help, using another browser doesnt help, links are still looking like

https://mm.mm.de/api/v4/image?url=https%3A%2F%2Fmm.mm.de%3A443%2Fapi%2Fv4%2Fimage%3Furl%3Dhttps%253A%252F%252Fheise.cloudimg.io%252Fbound%252F1920x1920%252Fq90.png-lossy-90.webp-lossy-90.foil1%252F_www-heise-de_%252Fimgs%252F18%252F2%252F6%252F0%252F7%252F5%252F1%252F6%252FIMG_9742

[2019-02-26 08:55] esethna opened #10368 "[Help Wanted] [MM-14320] UI Automation: Write an automated test using `cypress` for "at-here.", "at-all." and "at-channel." (ending in a period) still highlight""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-26 09:04] saturninoabril commented on #10154
@ajeethkannan Thank you for helping out.

You may assign value to password ref by:
[code]

Also on separate item, you may use a helper function `mountWithIntl` since it's using react-intl under the hood.

Test could be something like below (with comments on what is good to have):
[code]

[2019-02-26 09:15] esethna opened #10369 "[Help Wanted] [MM-14321] UI Automation: Write an automated test using `cypress` for "Show More / Show Less on long posts""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-26 09:20] esethna opened #10370 "Write an automated test using `cypress` for "Long post with multiple attachments""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-26 10:21] d28park commented on #10323
I can give this a shot to familiarize myself with Cypress and MM's E2E testing procedure!

[2019-02-26 10:47] kaizimmer1 opened #10371 "Slack import via CLI not importing any messages"
The CLI migration of Slack messages does not work as intended. I am using Mattermost Enterprise version 5.7.0. Users and channels are imported, but none of the messages (except for polls).

My command line used was:
/opt/mattermost-5.7/bin/mattermost import slack <teamname> <filename.zip>

The output (log) looks like this:
root@xyz:/opt/mattermost-5.7# bin/mattermost import slack dstar-teambbaw /h

[2019-02-26 13:04] amyblais commented on #10340
Hi @tmulholl, can you help upgrade to the latest server version and mobile version to see if you can still reproduce the issue?

[2019-02-26 13:22] tmulholl commented on #10340
Hi -

Looks like the latest mobile version isn’t available yet. When it is, we will give it a try and let you know what we find.

Thanks.

[2019-02-26 13:25] amyblais commented on #10340
Hi @tmulholl,

The latest server version is v5.8 and it is available to download: https://mattermost.com/download/.

The latest mobile version is v1.16.1 and available to download: http://about.mattermost.com/mattermost-ios-app/.

[2019-02-26 14:01] seitsu commented on #4300
This feature would be great. What is the current status?

[2019-02-26 14:30] amyblais opened #10372 "Mattermost v5.9"
You can find key dates for v5.9 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### March 4th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### March 13th: Release Build Cut
The fi

[2019-02-26 15:46] jasonblais commented on #9958
Hey @waseem18! Sorry about missing your reply in turn,

Is the repo linked below up-to-date? Our team could help out with testing and documentation as well. It's looking really promising.

https://github.com/waseem18/mattermost-plugin-google-calendar

[2019-02-26 15:48] amyblais commented on #10371
Hi @kaizimmer1, are those messages in public channels?

[2019-02-26 15:50] kaizimmer1 commented on #10371
Yes, all are in public channels.

[2019-02-26 16:26] waseem18 commented on #9958
@jasonblais

It's not updated as of now. I'll update it tonight and will ping back here.

[2019-02-26 16:47] emresaracoglu opened #10373 "Delete message from a specific day"
Hello,

How can I delete all messages from a specific day from the database?

Mattermost: 5.5.1
Datebase v: 5.5.0
Datebase: postgres

[2019-02-26 16:48] letsila commented on #10041
Hi guys, I'd like to work on this one.

[2019-02-26 17:17] amyblais commented on #10373
Hi @emresaracoglu,

I believe you can do that via Data Retention: https://docs.mattermost.com/administration/data-retention.html.

Other than that, I don't think there is a way to remove messages from database.

[2019-02-26 17:52] MirlanMaksv commented on #9718
I can not find `loadDMsAndGMsForUnreads` action in the project, could anyone elaborate more on this issue?

[2019-02-26 19:03] amyblais commented on #10371
@grundleborg Do the error messages above give an indication what might be wrong? If not, I'll continue to troubleshoot with the reporter.

[2019-02-26 19:36] letsila commented on #10368
Hi guys, I'd love to help on this one.

[2019-02-26 20:02] amyblais commented on #9821
Awesome, good to hear you were able to make it work.

[2019-02-26 20:02] #9821 closed

[2019-02-26 20:03] #9795 closed

[2019-02-26 20:31] cpoile commented on #10338
I'd love to take a stab at this!

[2019-02-26 21:02] hanzei commented on #10338
Thanks for looking into this @cpoile. :tada:
Let me know if you have any questions.

[2019-02-26 23:17] letsila commented on #9155
Hi, I'd love to work on this one.

[2019-02-27 00:47] harshilsharma63 commented on #9843
@amyblais any update on this?

[2019-02-27 00:49] saturninoabril commented on #10291
Thank you @kosgrz!

[2019-02-27 00:54] amyblais commented on #9843
Hi @harshilsharma63, not yet, one of our product managers added a comment on the ticket that we need to do competitor research, consider client vs server settings, etc. before this ticket can be worked on. I'll ask the PM whether this is something that his developer team can prioritize.

[2019-02-27 01:14] harshilsharma63 commented on #9843
@amyblais no worries!