[2020-03-31 08:49] Pafzedog opened #14194 "Reverse proxy : Public links in HTTP instead of HTTPS"
#### Summary
Public links are in HTTP instead of HTTPS

#### Steps to reproduce

* Install Mattermost Without TLS
* make the app secured with a dedicated linux box, reverse proxy with TLS
* configure the site url with HTTPS in system console
* In System console, enable public links
* Access your instance with secure URL: [https]://my.matter.most/my_team/channels/my_channel
* post a message with an

[2020-03-31 09:09] shibasisp commented on #13938
Apologies for the delay. Been stuck up in some personal work. Will try to wrap it up as soon as possible.

[2020-03-31 09:10] pradeepmurugesan commented on #14157
I can work on this. 👍

[2020-03-31 10:01] hajowieland commented on #14124
@icelander

Thanks for your help! The file contents in the database look fine (see **7.**)

### My steps taken:

1. Set  **Identity Provider Metadata URL** to the Metadata URL provided by the Auth0 application's _"SAML2 WebApp"_ Addon

2. Button "Get SAML Metadata From IdP"

3. Adapt Identity Provider Issuer URL: it gets filled from Step 2 with the prefix `urn:tenant.eu.auth0.com`. This is what Au

[2020-03-31 11:15] hanzei commented on #14157
Awesome, thank you very much @pradeepmurugesan :rocket:

[2020-03-31 11:23] hanzei commented on #12348
No problem @nadalfederer. I just wanted to touch bases. Take your time :+1:

[2020-03-31 11:23] hanzei commented on #14148
@allenlai18
- Clone Matterpoll Repo
- `git checkout 262_ensure-bot`
- `make dist`
- Upload the bundle under `dist/com.github.matterpoll.matterpoll-1.3.0.tar.gz` to Mattermost
- Enable the plugin

Does this help getting the plugin set up?

[2020-03-31 12:10] amyblais commented on #14194
@Pafzedog What Mattermost server version are you on?

[2020-03-31 12:26] RalfJung commented on #14186
@amyblais  You mean on my client? Firefox 75 beta on Linux (Debian testing).

[2020-03-31 12:43] Pafzedog commented on #14194
@amyblais Version: 5.21.0

[2020-03-31 13:58] #8518 closed

[2020-03-31 14:39] amyblais commented on #9036
Closing as this was opened as a Help Wanted issue here: https://github.com/mattermost/mattermost-server/issues/13983.

[2020-03-31 14:39] #9036 closed

[2020-03-31 14:46] #10679 closed

[2020-03-31 14:55] amyblais commented on #13815
Closing as this will be fixed in v5.22,

[2020-03-31 14:59] amyblais commented on #13982
I'll close this for now but I hope you will open a feature request issue for this,

[2020-03-31 14:59] #13982 closed

[2020-03-31 15:00] amyblais commented on #14046
I'll close this for now but I hope you will open a feature request issue for this,

[2020-03-31 15:00] #14046 closed

[2020-03-31 15:20] rakhi2104 commented on #14141
I'm working on this.

[2020-03-31 15:23] esethna commented on #14027
@fawick @Selion05 would either of you be open to submitting a fix for this? We're opening this as Help Wanted

[2020-03-31 15:26] brunoro commented on #13731
TBH i just saw that it was assigned to me! I'll start working on it today.

[2020-03-31 15:30] amyblais commented on #14192
How did you re-create the user?

[2020-03-31 15:57] dpanic commented on #14192
By using API. I can send you later screenshots

On Tue, 31 Mar 2020 at 17:30 Amy Blais <notifications@github.com> wrote:

--
__
dp

[2020-03-31 16:15] mattermod opened #14197 "Select Team list container should scale in width based on browser window width"
Implement the following UI updates to the select team screen

{panel:bgColor=#eae6ff}

**Functionality**

  1. The list container is set to a max-width of 800px.
  1. The list container should scale in width based on the users viewport and device. **This is the current functionality and should remain the same. We’re just increasing the default width.**
  1. The height of the list container will de

[2020-03-31 16:45] mattermod opened #14198 "Sort DM More.... modal by recent conversations first"
If someone drops of the DM section of your sidebar, it can be difficult to find them again. Propose we sort the More... menu by recency.

![image](https://user-images.githubusercontent.com/14333569/79475582-b2e2ab00-7fbc-11ea-9ead-58abcde7fe1b.png)

Expected:
1. When a user opens the More... menu, show up to 20 DMs that have recent activity (measured by the timestamp of the last message in the DM

[2020-03-31 17:04] fawick commented on #14027
I'd love to but I wouldn't even know where to start. I'd be glad to take some pointer, though.

[2020-03-31 17:11] hiendinhngoc commented on #13693
I will take this task

[2020-03-31 17:47] arjitc opened #14199 "When creating Incoming Webhooks don't allow Archived Channels to be selected as a channel for the webhook"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-31 19:15] mattermod opened #14200 "Mobile team sidebar should respect the ordering set on webapp"
Created as a follow up to https://mattermost.atlassian.net/browse/MM-18527 for mobile implementation.
See webapp ticket for more info.

- Mobile app should respect the team order set on the webapp and not allow re-ordering for now.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily

[2020-03-31 19:44] hanzei commented on #13731
Awesome, looking forward to your PR @brunoro :+1:

[2020-03-31 20:24] aaronrothschild commented on #14199
Question for a developer:
- When a channel is not yet archived and an incoming webhook is setup for that channel, is the "Incoming Webhook" deleted/removed/unconfigured - or does it remain as is...so that when/if the channel is unarchived, the incoming webhook will continue to work as before it was archived?
- If the chanel is archived and a webhook is posted to the "Incoming Webhook" ... does the

[2020-03-31 20:51] dpanic commented on #14192
I did investigate...user leftovers are in several tables:
- Users
- TeamMembers

I did created workaround bash script...
It will be good If I can force user delete, for example my business is outside of GDPR.

[code]

[2020-03-31 21:03] hmhealey commented on #7487
This ticket may no longer be valid since `mattermost-redux` will no longer be shared between the mobile and web apps. I'll try to keep this updated in case that happens.

[2020-03-31 23:20] saturninoabril commented on #12437
Thank you @haydenhw for your contribution! Closing this now.

[2020-03-31 23:20] #12437 closed

[2020-04-01 04:29] brunoro commented on #13731
Here it is! https://github.com/mattermost/mattermost-webapp/pull/5244

[2020-04-01 09:30] iBigQ opened #14205 "Wrong Date Ordering in Site Statistics"
#### Summary
The dates in the `system console` -> `site statistics` are in wrong order.

#### Steps to reproduce
Using mattermost 5.19.1, open the site statistics on the website.

#### Expected behavior
Number of posts/users is plotted on a continuous timeline

#### Observed behavior (that appears unintentional)
Some dates (concrete days) are missing in the timeline (x-axis). They are appended aft

[2020-04-01 09:42] iBigQ commented on #14205
btw using postgresql (not sure if relevant)

[2020-04-01 12:45] rakhi2104 commented on #14142
I'm working on this.

[2020-04-01 12:48] enahum commented on #14142
Go ahead @rakhi2104

Just as an FYI this PR is pending https://github.com/mattermost/mattermost-mobile/pull/4058 and it may have a direct impact on this issue

[2020-04-01 13:12] amyblais commented on #14063
This is fixed in upcoming v5.22,

[2020-04-01 13:12] #14063 closed

[2020-04-01 14:04] fedealconada commented on #13159
@lieut-data I've just submitted a PR. The linter is complaining and I'm not sure how to solve that... I know sometimes `golangci-cli` is not so clear with messaged xD but I'm still not sure how to fix that... Any ideas?

[2020-04-01 15:33] valdemarpavesi opened #14207 "matter most drop requests that bigger than 7900 characters"
We do have this problem that our Alert send to MatterMost Incoming Webhooks will be discarded.

`
level=error ts=2020-04-01T15:28:21.657Z caller=dispatch.go:266 component=dispatcher msg="Notify for alerts failed" num_alerts=109 err="cancelling notify retry for \"slack\" due to unrecoverable error: unexpected status code 400: {\"id\":\"web.incoming_webhook.attachment.app_error\",\"message\":\"Maxim

[2020-04-01 15:56] amyblais commented on #14207
@valdemarpavesi What Mattermost server version are you on?
Does the same issue happen on desktop app v4.4.0?

[2020-04-01 17:36] hickscorp opened #14208 "Bug: Email sending fail silently."
A bit of background is required to understand this bug. We had to restart our MM instance, and we lost all the files that were uploaded in the attached docker volume. The database remained intact, so we simply kept using it.

Now since this happened, we noticed that none of our users were receiving emails from MM anymore. I think it's because [this line of code](https://github.com/mattermost/matte

[2020-04-01 17:56] #13710 closed

[2020-04-01 18:16] agnivade commented on #14194
Hi @Pafzedog, as you have accurately pointed out, we construct the URL from the Host header as it is more robust in situations where Mattermost is deployed behind a proxy.

Are you sure your reverse proxy is setting the `X-Forwarded-Proto` to `https` correctly ?

[2020-04-01 19:14] lindy65 commented on #14205
Thanks for the report @iBigQ - I've reproduced your issue and have filed https://mattermost.atlassian.net/browse/MM-23782 to track.

[2020-04-01 19:34] ethervoid commented on #14186
@RalfJung Thank you for taking the time to report this issue.

Do you know how many flagged posts do you have?

I'm asking this because right now we're only showing the first 60 flagged posts but we have an [open issue](https://mattermost.atlassian.net/browse/MM-17005) to improve that

[2020-04-01 19:56] #14038 closed

[2020-04-01 20:20] haydenhw commented on #12475
Shoot, I just got tied up with a time sensitive project. Would you mind taking me off of this one for now?

[2020-04-01 20:49] amyblais commented on #14208
@hickscorp Were you able to gather logs for this as requested here https://community.mattermost.com/core/pl/fy1q6r6rp7bgpdyabr3f5b58rw?

[2020-04-01 23:15] hickscorp commented on #14208
@amyblais Thanks, yes I was. They look like so:

[code]

[2020-04-02 00:31] Qovaros commented on #13928
Hi, I would like to work on this issue. Who could I contact about details?

[2020-04-02 05:45] ebaker commented on #14152
hey, I'd like to work on this 🙂

[2020-04-02 07:26] hanzei commented on #13928
@ali-farooq0 Would be the right one to ask questions

[2020-04-02 07:39] RalfJung commented on #14186
Good point. When I reported the issue I had 4 flagged posts total (well, 4 that it would show after "jump"ing).

[2020-04-02 08:04] frankarinze commented on #14200
Hello @mattermod  i would love to fix this issue where do i start from

[2020-04-02 08:15] jimiolaniyan commented on #13159
So sorry I couldn't didn't get the chance to complete this.

[2020-04-02 09:46] egoldobin commented on #14168
Amy, with all respect, but you are compelling me to spend too much time
on this trivial issue. Windows should be movable even without saying
anything. Instead I spend already 15min of my valuable time on this
issue and do not want to spend any more (unless you pay 0.35EUR/minute)
It takes probably much less time to fix the issue than you are going to
spend for discussions.

Best Regards,
Edward --

[2020-04-02 10:36] Pafzedog commented on #14194
Hi @agnivade , you are propably right, I'm actually forced to use Apache in place of Nginx for the proxy thing and I think this directive is missing in the unofficial documentation [here](https://docs.mattermost.com/install/config-proxy-apache2.html)

something like :

`RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}`
 `RequestHeader set "X-Forwarded-SSL" expr=%{HTTPS}`

with mod_head

[2020-04-02 12:19] enahum commented on #14200
Perfect @frankarinze go for it

[2020-04-02 13:00] OneFreelance opened #14218 "Mattermost crash"
#### Summary
panic: runtime error: invalid memory address or nil pointer dereference

#### Steps to reproduce
Unknown

#### Expected behavior
Server works without crashing

#### Observed behavior (that appears unintentional)
[code]

We have added `GOTRACEBACK=crash` as environment variable to systemd service, but since then server is working without crashing. If this issue will repeat - we will tr

[2020-04-02 13:45] amyblais commented on #14218
@OneFreelance What Mattermost server version are you on?

[2020-04-02 13:49] devinbinnie commented on #12475
No problem, let us know if would like to pick it up again :)

[2020-04-02 14:10] ethervoid commented on #14186
Oh I see. Then we should start looking somewhere else. Thank you :)

[2020-04-02 14:18] agnivade commented on #14194
I believe that's right @Pafzedog. Would you be open to send a PR to rectify that ?

[2020-04-02 14:24] amyblais commented on #14192
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-23794.

[2020-04-02 14:47] dpanic commented on #14192
Great, thank you!

On Thu, 2 Apr 2020 at 16:24 Amy Blais <notifications@github.com> wrote:

--
__
dp

[2020-04-02 15:30] mattermod opened #14222 "Avoid passing global state into global_actions.tsx in Webapp"
This ticket is  regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps

[2020-04-02 15:33] gyp5y commented on #14218
Mattermost Version: 5.21.0
Database Schema Version: 5.21.0
Database: mysql
It's a two-node cluster

[2020-04-02 17:25] agnivade commented on #14218
Great catch. This is a shadowing bug. Fortunately this is now fixed in master with the search layer refactor.

[2020-04-02 18:06] amyblais commented on #14168
The Jira ticket was discussed and closed as this feature is a lot of work and should go through the feature request process.

Please help open a feature request issue for this and also let us know the use case for why you are looking for this feature.

[2020-04-02 20:00] mattermod opened #14225 "Desktop App: Add a download progress bar at the bottom of the screen"
There is currently no indication to the user that after they have clicked on a file to download, and picked the download location that the file is actually downloading.

Proposed design:
https://projects.invisionapp.com/share/YDMY3VHWKTA#/screens/308612367

The download bar can be reopened by going to “View > Downloads” if there are downloads to show.

----
If you're interested please comment here

[2020-04-02 20:15] mattermod opened #14226 "Improve the Main Menu popover position/placement"
Opening the **Main Menu** places the popover menu in what seems to be a random location. It's not under the menu icon or the LHS header. This creates confusion since the entire header is clickable in the LHS.

**Improvement**
  * Align the dropdown menu with the users avatar in the sidebar
  * Remove the **main menu** tooltip on hover, the hover state is enough of an affordance

 ![](image-2020-03

[2020-04-02 20:15] mattermod opened #14227 "Desktop MacOS: Allow native text handling when text is selected"
Repro:
1. Select text and right-click

Observed: "Copy Link"
Expected: "All native text handling options, ie lookup, search, all my text services, etc.

Some info if helpful: https://electronjs.org/docs/api/menu#notes-on-macos-application-menu

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets)

[2020-04-02 20:30] mattermod opened #14228 "Improve the Main Menu popover position/placement"
Opening the **Main Menu** places the popover menu in what seems to be a random location. It's not under the menu icon or the LHS header. This creates confusion since the entire header is clickable in the LHS.

**Improvement**
  * Align the dropdown menu with the users avatar in the sidebar
  * Remove the **main menu** tooltip on hover, the hover state is enough of an affordance

![image-2020-03-02

[2020-04-02 21:35] cmistrata commented on #14170
I've updated my Mattermost version to 4.4.0, and will use it for a bit and see if it happens to me again. I couldn't get this to occur reliably in 4.1.2, but will update in like a week if it does or doesn't happen.

[2020-04-02 21:42] #14141 closed

[2020-04-02 22:49] QamarFarooq commented on #13719
i will take this

[2020-04-03 02:00] eroller commented on #10119
I kind of like this policy. The repliers to the original comment are free to create a new thread addressing the issue if they are not happy. If you are going to allow comments to be deleted then it makes no sense to keep the replies to those comments alive as it would just be confusing to follow. Doesn't facebook keep the replies around and cause confusion/trolling?

[2020-04-03 03:47] syuo7 commented on #14076
I want to work on this issue :)

[2020-04-03 05:01] saturninoabril commented on #14076
Awesome, thanks @syuo7!

[2020-04-03 05:29] hanzei commented on #14226
@esethna Is this a duplicate of https://github.com/mattermost/mattermost-server/issues/14228?

[2020-04-03 07:21] Pafzedog commented on #14194
Hi @agnivade , for now I can't test it because server is in prod but I'll try to get it working this week-end.
depending on the result, I'll do a PR.

[2020-04-03 11:06] egoldobin commented on #14168
Amy, the answer is obvious: because I wanna see the content UNDER this
window when I am editing the reply.

On 02.04.2020 20:07, Amy Blais wrote:

[2020-04-03 17:02] #14226 closed

[2020-04-03 19:35] amyblais commented on #14052
This was discussed with devs and we feel that this is not a critical issue as this is related to dependencies and not the codebase.

Would you be open to updating to v5.22? We have just cut an RC-1 for v5.22 today.

[2020-04-03 19:40] matoro commented on #14052
Of course, when it gets released.  Not a huge deal, just letting you know that there are downstream distro packagers that build from source (I also run in production at work from my own packages, so double invested in making sure things build properly).

[2020-04-03 20:55] #12473 closed

[2020-04-04 15:10] agnivade commented on #14207
This is fixed from 4.4.0 onwards. I would also suggest to upgrade to a newer version like an ESR release. 4.3.0 is very old.

@amyblais - OP's server version itself is 4.3.0.

[2020-04-04 19:27] allenlai18 commented on #14148
<img width="592" alt="Screen Shot 2020-04-04 at 12 27 10 PM" src="https://user-images.githubusercontent.com/7275313/78459689-a0d54400-766f-11ea-9e13-b9f3e90a075a.png">

not sure why this keeps happening

[2020-04-04 19:38] allenlai18 commented on #14148
i see that i need a site URL to enable the plugin right?  what should i set my site url to?

[2020-04-05 05:14] hanzei commented on #14148
@allenlai18 Are you using a standard dev environment? The the site URL should be `http://localhost:8065`

[2020-04-05 14:43] #13253 closed

[2020-04-06 19:29] Qovaros commented on #14198
Hi, I was thinking about a solution for this issue, and came up with something like this:
https://github.com/mattermost/mattermost-webapp/compare/master...Qovaros:MM-22840_sort-dms-by-time?diff=unified
So just adding `last_post_at` to `options` in `more_direct_channels.tsx `

The problem I encountered is that even when you remove memoize from [here](https://github.com/mattermost/mattermost-webapp/

[2020-04-07 00:45] allenlai18 commented on #14148
i think theres something wrong with the build of the plugin

<img width="1440" alt="Screen Shot 2020-04-06 at 5 44 37 PM" src="https://user-images.githubusercontent.com/7275313/78618112-606ff480-782e-11ea-9092-afd66698035f.png">

[2020-04-07 00:48] allenlai18 commented on #13702
ill take this

[2020-04-07 03:49] jasonblais commented on #12696
@tharun208 Did you receive guidance on the Mattermost community server linked above? We'd be happy to help :)

[2020-04-07 13:39] fedealconada commented on #8942
@hanzei I could take this one. Since the @giorgosdi has previously worked on this (a year ago approx) and he has even submitted a PR which was reviewed and approved (but later on reverted), what I could do is to take what he's done + try to update that code (because `notification.go` has been changed since the moment of the PR + complete that with the WIP things that @giorgosdi mentions on his PR

[2020-04-07 14:04] hanzei commented on #8942
That would be awesome @fedealconada :tada:

[2020-04-07 14:05] fedealconada commented on #8942
Great! I'll work on it :)

[2020-04-07 15:45] mattermod opened #14255 "Use thread for User Satisfaction Surveybot messages"
NPS plugin repository: https://github.com/mattermost/mattermost-plugin-nps

Currently if you respond to the surveybot's post for feedback in the reply view on mobile you will not see the response from the bot since it responds in the main channel (not the thread).

Expected: After the user types feedback to surveybot, the bot should post the responses as a reply to the users feedback. The bot will

[2020-04-07 15:45] mattermod opened #14256 "Improve formatting of Channel header change message"
This message is so hard to read especially when there is a lot of text.

Propose inserting line breaks to make it more readable. See attached image:

![Image Pasted at 2020-3-28 14-24](https://user-images.githubusercontent.com/16541325/78706676-c1232e00-790f-11ea-88bc-400134990c96.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://commu

[2020-04-08 12:43] amyblais commented on #14145
@kelsiuss Would you be open to sharing more details about your environment?

[2020-04-08 14:57] Pafzedog commented on #14194
@agnivade I test with success and I made the PR

[2020-04-08 16:33] teadur opened #14265 "Please remove release 99.99"
#### Summary
I understand the problem isnt mattermost-server but rather check_mattermost script but as of many people could be using the script i'm kindly asking could release 99-99 be removed https://github.com/mattermost/mattermost-server/compare/release-99.99 because it brakes release parsing.

#### Steps to reproduce
Try to use check_mattermost script: https://github.com/shoreless-ltd/check_ma

[2020-04-08 16:58] kelsiuss commented on #14145
Yes, sorry about the late response. We're on MM 5.21.

Our application is using one team as our internal team (direct employees), while our other team is an external team (customers, guests, etc). We do not want those users to be able to communicate in Town Square on the external team, but we encourage the internal team to use it to openly communicate to the rest of their co-workers.

[2020-04-08 18:30] mattermod opened #14266 "Open the profile pop-over when clicking a user profile in the View/Manage members modals"
From the Main Menu > View/Manage Members or Channel Menu > View/Manage Members modals, allow users to click on the user name or profile picture to open the user pop-over, similar to how it opens in the post list.

Manage Members list example:
![image-2020-04-08-11-18-55-984](https://user-images.githubusercontent.com/16541325/78883040-3c442b80-7a59-11ea-814c-7dc0e1475f2c.png)

Post list profile pop

[2020-04-08 19:38] jdnorthrup commented on #11734
Hi, is this still an open issue? I am evaluating MM for a large group and it seems like loading channels with lots of messages is still slow. Thanks for any info!

[2020-04-08 19:44] jasonblais commented on #11734
@jdnorthrup Which Mattermost server are you running?

[2020-04-09 00:55] jdnorthrup commented on #11734
Team Edition 5.20.1
Db schema 5.20.0
mysql

Thx!

[2020-04-09 01:08] jasonblais commented on #11734
Thanks! There had been a fix applied but it was on an earlier version. It wasn't directly related to this report, though, so at this point the issue is indeed open.

How large of a group is it, if you don't mind me asking @jdnorthrup?

[2020-04-09 08:46] grundleborg commented on #11734
An update on this issue generally - we're gradually getting closer to having it resolved. The initial fix for *some* aspects of it is already present in 5.22, the next part of the story is here https://github.com/mattermost/mattermost-webapp/pull/5051 and then we will be quite close to completely eradicating the remaining unnecessary root post/thread loading.

[2020-04-09 10:05] #14187 closed

[2020-04-09 14:33] Pafzedog commented on #14194
@agnivade I made the PR at the good place ;)

[2020-04-09 15:05] amyblais commented on #14265
Not sure exactly who to ping, maybe @cpanato or @metanerd ^

[2020-04-09 15:25] ajellman commented on #11734
@jdnorthrup If you would like some assistance in configuring the server properly, please send me a direct message on the Mattermost community server (community.mattermost.com) at andy.ellman

[2020-04-09 15:32] cpanato commented on #14265
we can remove

[2020-04-09 15:39] cpanato commented on #14265
done

[2020-04-09 15:39] #14265 closed

[2020-04-09 17:36] cmistrata commented on #14170
I've been using version 4.4.0 for a week, and had this issue occur again for the first time today. I noticed by clicking away from the chat I'm in and coming back to it, I'm able to recover the "message" part of my message, but the "preformatted text" disappears, if that's clear. Also some more detail, trying to recover the message using ctrl+z does not work.

[2020-04-09 18:04] hanzei commented on #14148
@allenlai18 Good catch :+1: I fixed the build

[2020-04-09 19:46] swarnv02 commented on #14073
I am interested in this ticket, please assign

[2020-04-09 19:48] swarnv02 commented on #13335
I am interested in this ticket, please assign

[2020-04-09 20:17] amyblais commented on #14170
Do you have access to Jira to check if this ticket describes the issue you're seeing https://mattermost.atlassian.net/browse/MM-23933?

[2020-04-09 22:46] saturninoabril commented on #13335
Awesome, thanks @swarnv02!

[2020-04-09 22:47] saturninoabril commented on #14073
Sure and thanks @swarnv02!

[2020-04-10 02:50] haydenmc commented on #14256
Would love the ability to disable these posts as well - many bots in other services will use the channel header space to provide status of some other service(s), and the update notification posts make this spammy/cumbersome.

![image](https://user-images.githubusercontent.com/5422053/78957839-4d159100-7a9b-11ea-9da9-3c1482000075.png)

[2020-04-10 05:13] hanzei commented on #14256
@wiersgallak Thoughts on adding a setting :point_up: ?

[2020-04-10 07:11] sowmiyamuthuraman commented on #13514
@hanzei i am still working on this

[2020-04-10 07:29] VishalSwarnkar commented on #14073
Sorry for the confusion, by mistake I have requested you from my official account, do you mind unassigning swarnv02 and assign to vishalswarnkar. Both of them are my account it is just that swarnv02 is an official account and vishalswarnkar is personal.

[2020-04-10 07:30] VishalSwarnkar commented on #13335
@saturninoabril Sorry for the confusion, by mistake I have requested you from my official account, do you mind unassigning swarnv02 and assign to vishalswarnkar. Both of them are my account it is just that swarnv02 is an official account and vishalswarnkar is personal.

[2020-04-10 08:42] saturninoabril commented on #13335
No worries, and thanks @VishalSwarnkar!

[2020-04-10 08:42] saturninoabril commented on #14073
No worries, and thanks @VishalSwarnkar!

[2020-04-10 10:56] Gittenburg opened #14269 "/me formatting not displayed in thread view"
#### Summary

The `/me` built-in command produces a special formatting. In the webapp this formatting is not shown in the thread view making the message indistinguishable from regular text.

**Mattermost Version:**  5.21.0

#### Steps to reproduce
1. Type `/me example` and hit enter.
2. Open the message in thread view.
#### Expected behavior
The message is formatted the same way as in the channel

[2020-04-10 10:57] ysaakpr commented on #9080
@mrbkiter Why don't we create a mattermost fork with clustering as a default feature and keep it maintained up with the upstream.
I would be interested very much interested to contribute and to be a maintainer for the same fork.

[2020-04-10 11:12] Qovaros commented on #14228
Hi, could I work on this issue?

[2020-04-10 12:18] hanzei commented on #14228
Sure, that would be great @Qovaros :+1:

[2020-04-10 12:20] hanzei commented on #13514
@devinbinnie Could you please take a look after the long weekend? :point_up:

[2020-04-10 12:29] hanzei commented on #13336
@rodel-calasagsag Just wanted to check if you are still working on this issue and if you have any questions.

[2020-04-10 13:29] Qovaros commented on #14228
While solving this issue, I had two thoughts.

1.  Set status dropdown should probably also be moved to align with user icon. Right now it is not aligned the same as main menu should be as the output of this story.
Current:
![Screenshot from 2020-04-10 15-28-09](https://user-images.githubusercontent.com/22624476/78994281-eeeeb980-7b3f-11ea-997e-31863180cb86.png)
Expected:
![Screenshot from 2020-04

[2020-04-10 16:32] robinmetral opened #14270 "Using emoji triggers error "Custom emoji have been disabled by the system admin""
#### Summary

Using emoji on an instance with the custom emoji feature disabled triggers noisy errors.

#### Steps to reproduce

Mattermost server details:
[code]

I was able to reproduce the last time by using emoji (for reactions) on the Android app:

1. Disable the custom emoji option for a Mattermost instance
2. Log into the Mattermost instance on an Android app
3. Use emoji reactions on messa

[2020-04-10 18:06] cmistrata commented on #14170
Yes, that describes the issue I'm seeing

[2020-04-10 23:18] cmistrata commented on #14170
Also noticed it only occurs when pasting multiple lines of text, updated again

[2020-04-11 07:00] shred86 commented on #14266
Working this one. Slowly getting there. :)

[2020-04-11 14:55] Lumexralph commented on #14255
@mattermod @hanzei I am interested to work on this but I don't understand how it is a Go implementation.

[2020-04-12 01:24] hzeroo commented on #13711
I can take this one :)

[2020-04-12 05:54] hanzei commented on #14255
Good questions @Lumexralph. The NPS plugin sends the response to feedback in https://github.com/mattermost/mattermost-plugin-nps/blob/2a12bdf21b57232decfc4b2805b0f41c6918043e/server/hooks.go#L65-L69. Using the correct `RootId` would post the response as a thread. Does this answer your question?

[2020-04-12 13:46] junkai121 opened #14274 "dial tcp 127.0.0.1:3306: connect: connection refused"
#### Summary
Not working when running without database dump - I think there should be a test data dump for contributors to contribute.

#### Steps to reproduce
When try to run without database, it's showing "dial tcp 127.0.0.1:3306: connect: connection refused"

#### Expected behavior
No error should appear when running `make run-server`

#### Observed behavior (that appears unintentional)
[code]

[2020-04-12 14:01] junkai121 commented on #14274
Full log

[code]

[2020-04-12 17:24] calllib opened #14276 ""Invite people" incorrectly displayed"
#### Summary:
If "Enable Account Creation" is set to false, "Invite People" menu item should not be visible for team members.
Mattermost Version: 5.21.0

#### To reproduce:
1. As administrator in System Console -> Authentication / Signup set "Enable Account Creation" to false.
2. As team member open the main menu. "Invite People" is still shown.

#### Expected behaviour:
With that global setting n

[2020-04-12 19:00] pradeepmurugesan commented on #14157
I am still on it.. Haven't made much progress though. Will give it a try this week. 👍

[2020-04-13 06:27] shred86 commented on #13469
I’ll work on this with another PR I have that includes this module.

[2020-04-13 09:56] iwita commented on #14256
Hello, I am a total beginner in open source, and I would like to try this issue.
Should I register first?

[2020-04-13 10:24] pradeepmurugesan commented on #13715
I will pick this 👍

[2020-04-13 11:00] hanzei commented on #14256
Hey @iwita,

Welcome to the world of open source :tada:

Thanks for reaching out, I will assign the issue to you. If you have any questions, feel free to ask them here on on the [Mattermost Community Server](https://community.mattermost.com).

[2020-04-13 11:31] hanzei commented on #14228
@andrewbrown00 Do you have thoughts on this?

[2020-04-13 12:58] AkaZecik commented on #13687
Hi, I have a small problem with this issue. Who can I contact to discuss it with?

[2020-04-13 13:16] amyblais commented on #14276
@calllib Does the Invite People link still work?

[2020-04-13 13:17] amyblais commented on #14274
@junkai121 Would you be open to posting this on our troubleshooting forum: https://forum.mattermost.org/?

Our community and support are more active there.

[2020-04-13 13:46] calllib commented on #14276
Sorry, I forgot to mention: I am using a local docker container. Did you change anything, and if so: where?

[2020-04-13 16:38] amyblais commented on #14276
@calllib I checked with our team and the Invite People link is still there because you can still use Invite Members to add users that already exist in the system to another team.

[2020-04-13 18:03] amyblais commented on #14270
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-24115.

[2020-04-13 18:05] amyblais commented on #14269
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-24116.

[2020-04-13 19:05] calllib commented on #14276
OK, that is a reason but the effect is misleading. If you only want to be able to add memmbers of one team to another, why is this done using an acoount-creation-URL that obviously can be sent to anyone? I propose the following solution instead:
- If "Enable Account Creation" is set to **false**, and there are **two or more teams** configured on the server, then "Invite People" menu item should le

[2020-04-13 20:04] jacki-522 opened #14284 "Bulk export fails to export/import all data"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-04-13 20:09] jacki-522 opened #14285 "Custom emojis fail to import"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-04-13 20:56] amyblais commented on #14269
The above tickets is a duplicate of https://mattermost.atlassian.net/browse/MM-23213 which is already fixed for upcoming v5.23 quality release.

[2020-04-13 20:56] #14269 closed

[2020-04-14 00:22] junkai121 commented on #14274
Ok, I just try to post it on Mattermost Developers channel, got a person but he said he don’t know that part ;(

[2020-04-14 03:09] shred86 commented on #13476
Working this one.

[2020-04-14 10:15] mattermod opened #14288 "Add custom resource labels for Green and Blue deployments in the Mattermost Operator"
This ticket is about adding the support of custom resource labels for Green and Blue deployments in the [Mattermost Operator](https://github.com/mattermost/mattermost-operator).

At the moment the Mattermost operator supports custom resource labels as it can be seen [here](https://github.com/mattermost/mattermost-operator/blob/9ae0d05dd5c205deba911aa91e8d1aa9385b2204/pkg/apis/mattermost/v1alpha1/c

[2020-04-14 13:48] amyblais commented on #14284
@svelle Would you be familiar with this issue?

[2020-04-14 13:54] svelle commented on #14284
@jacki-522 thanks for pointing this out. I opened a PR to fix the docs. The /opt/mattermost/bin location is incorrect and outdated, so running the command from /opt/mattermost is actually the correct and preferred way.

@amyblais added you as reviewer for the PR to fix this.

[2020-04-14 15:13] esethna commented on #12619
Closing this ticket for now. We will re-queue this ticket for dev to create an implementation spec

[2020-04-14 15:13] #12619 closed

[2020-04-14 16:31] seanpianka opened #14289 "docker-compose builds fails due to 'wal-e < v1.0.0' floating version dependency on 'azure >= 0.7.0' (due to 'azure >= 5.0.0' meta package deprecation)"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-04-14 20:57] Francois-D commented on #11999
I would like to know if this is still an issue.  Mattermost documentation states that default size for attached files is 50 MB.
Source:
https://docs.mattermost.com/help/messaging/attaching-files.html

Where as the docker container is now set to MaxScanSize 300MB and MaxFileSize 100M.

docker run -d -p 3310:3310 mkodockx/docker-clamav

Source:
https://hub.docker.com/r/mkodockx/docker-clamav/

Defau

[2020-04-14 22:05] andrewbrown00 commented on #14228
Hi @Qovaros thanks for taking on this improvement 😄

1. I agree we should be consistent and align both the **main menu** and the **status menu** to open in the same position.
2. Because the `status dropdown` is generally interacted with quickly and a smaller control,I would avoid using the tooltip as an additional affordance. One thing we could improve, if it doesn't impact the scope of this ticke

[2020-04-15 00:07] Qovaros commented on #14228
Thanks for response @andrewbrown00. I feel like it could be included in the scope of this ticket.
During development I had some other thoughts. With other chevrons there also is a tooltip on hover.

For example in mobile view
![Screenshot from 2020-04-15 02-02-51](https://user-images.githubusercontent.com/22624476/79285344-9744ab00-7ebd-11ea-939f-374ef058ebce.png)

or in member modal
![Screenshot

[2020-04-15 06:56] prathik-kaliyambath opened #14293 "Custom OAuth provider support."
##### Summary:
  This is not an issue per se. But I was wondering if there's anyway to integrate a Custom OAuth provider
  with mattermost (For eg, FB Oauth, Auth0 or something hosted and managed by a third party like Ory
  hydra)
  I have seen that this has been discussed multiple times in various forums and partly is implemented for
  the enterprise edition, but is there any hope of having a sim

[2020-04-15 10:49] DSchalla commented on #14194
Closing this one after merging your PR, thanks again @Pafzedog!

[2020-04-15 10:49] #14194 closed

[2020-04-15 11:20] attilamolnar commented on #12609
Hey, I would like to take a look at this

[2020-04-15 11:28] jasonblais commented on #13461
Reopening as the server PR is open: https://github.com/mattermost/mattermost-server/pull/14178

[2020-04-15 13:14] amyblais commented on #13924
Closing as there hasn't been feedback on this for a while. I hope you will open a feature request for this,

[2020-04-15 13:14] #13924 closed

[2020-04-15 13:15] mthld commented on #13924
@amyblais there is one actually: https://mattermost.uservoice.com/forums/306457-general/suggestions/39446377-users-should-be-able-to-delete-their-datas-without

[2020-04-15 13:16] amyblais commented on #14168
Closing as there hasn't been feedback on this for a while. I hope you will open a feature request for this,

[2020-04-15 13:16] #14168 closed

[2020-04-15 13:19] amyblais commented on #14207
I'll close this for now as we haven't received feedback for a while. I hope you will be able to upgrade your server version and then let us know if you still experience the issue,

[2020-04-15 13:19] #14207 closed

[2020-04-15 13:20] #14284 closed

[2020-04-15 13:36] amyblais commented on #14293
@prathik-kaliyambath Are you referring to this https://docs.mattermost.com/developer/oauth-2-0-applications.html?

[2020-04-15 13:45] egoldobin commented on #14168
I am totally unsatisfied how you handle this trivial request -- just
lost time without any result. Very inefficient.
Therefore, we decided that mattemost (as a product and as a company with
all these extreme time consumption for trivial changes) is not suitable
for our dynamic team. We will use another system for communication. Have
a good time.
Edward

On 15.04.2020 15:16, Amy Blais wrote:

[2020-04-15 14:34] prathik-kaliyambath commented on #14293
@amyblais No, I was thinking of using a custom OAuth server hosted on a separate domain. The link you've mentioned is basically docs to use Mattermost as an OAuth server which we do not intend to do.

**Let me explain in detail** : We have a standard OAuth2.0 server hosted at auth.domain.com, which all our apps are using for authorisation. Now, we want to be able to create a Mattermost session and

[2020-04-15 15:14] Francois-D commented on #11999
I would like to be assigned this issue.
Thanks.

[2020-04-15 16:06] Francois-D commented on #11999
Mattermost supports a maximum of five (5) attached files per post. The default maximum file size is **50 MB, but this can be changed by the System Admin.**

During installation time the docker parameter to set the MaxFileSize should be set to 50 MB.

docker run -e CLAMD_CONF_MaxFileSize=50M  -d -p 3310:3310 mkodockx/docker-clamav

[2020-04-15 20:22] jasonblais commented on #14145
Hi @kelsiuss - the `ExperimentalTownSquareIsReadOnly` setting affects the Town Square for all teams on the system.

However, we are actually releasing read-only channels in E20, which allow you to create read-only announcement channels more freely. This is coming in v5.22, releasing on Apr 16th (tomorrow!)

[2020-04-15 21:30] andrewbrown00 commented on #14228
Welcome @Qovaros and no, those tooltips shouldn't display. They can be removed like you did for the `status` chevron.

[2020-04-15 23:11] #14149 closed

[2020-04-16 01:01] ahmaddanialmohd commented on #14289
Hello, @seanpianka

I believe that the issue that you facing here is related to https://github.com/mattermost/mattermost-docker/issues/463 Can you please confirm if the suggestions help you to fix the issue?
* [Suggestion #1](https://github.com/mattermost/mattermost-docker/issues/463#issuecomment-611688935)
* [Suggestion #2](https://github.com/mattermost/mattermost-docker/issues/463#issuecomment-6

[2020-04-16 08:31] lieut-data commented on #12609
Thanks, @attilamolnar!

[2020-04-16 08:36] Qovaros commented on #14228
Thanks @andrewbrown00 for review. I think it would be better to create a separate PR for other chevrons. I can take care of that.

[2020-04-16 10:51] FlaviaBastos commented on #14009
I created a pull request for this isse.

[2020-04-16 11:54] attilamolnar commented on #12609
I'll cook something up in an hour or so

[2020-04-16 13:20] attilamolnar commented on #12609
Diffs:
Fix a small oversight in api4/user_test, needed for an upcoming test
https://github.com/mattermost/mattermost-server/compare/master...attilamolnar:fix-assert-ws

First take at the feature itself
https://github.com/attilamolnar/mattermost-server/compare/fix-assert-ws...attilamolnar:MM-18756_typing-api

Let me know how you want to proceed. I would appreciate some feedback before updating the

[2020-04-16 14:30] #14079 closed

[2020-04-16 15:58] #14009 closed

[2020-04-16 17:11] jasonblais commented on #14198
Hey @Qovaros, thank you for your message on the community server, I just pinged our apps team to provide guidance

[2020-04-16 20:05] parnic-sks opened #14303 "Unable to re-open an old group message"
#### Summary
Unable to re-open an old group message after upgrading to Mattermost 5.22.0

#### Steps to reproduce
This is the first time we've noticed this problem, so unsure if these steps are exactly required.
* Mattermost self-hosted on Ubuntu, connected to a PostgreSQL 12 server.
* Create a group message in Mattermost 5.21.0 with several participants.
* Send some messages.
* Upgrade to Matterm

[2020-04-17 00:03] catalintomai commented on #14124
This looks similar to a Postgres-related issue that was likely fixed in 5.22 (part of the changes for https://github.com/mattermost/mattermost-server/pull/13678/files?file-filters%5B%5D=.conf&file-filters%5B%5D=.go - the config/database.go changes).

[2020-04-17 01:03] esethna commented on #14198
@hmhealey any thoughts on this?

[2020-04-17 07:29] ylluminate opened #14306 "More efficient full text search for Mattermost?"
Happened across an article that I thought I'd drop here for consideration just in case it might help to improve Mattermost if perhaps the concept from Ruby on Rails could be extended to Go + PGSQL:
[Full Text Search in Milliseconds with Rails and PostgreSQL](https://pganalyze.com/blog/full-text-search-ruby-rails-postgres)

Discussion here: https://www.reddit.com/r/ruby/comments/g2gnlb/full_text_se

[2020-04-17 10:15] calllib commented on #14276
I would really appreciate a response. Currently I refrain from opening my Mattermost server to the technically un-savvy audience I intended it for.

[2020-04-17 11:07] KadronG opened #14308 "License Agreement"
Hi I love your product however I am having issues understanding your conflicting license agreement which reminds me of a black widow spider seeking its prey.

I have seen issues opened on this very topic and frankly, opensource isn't a category you should advertised your product under. I want to advertise my clients to my company - not yours and your license agreement should be focus elsewhere on

[2020-04-17 13:34] amyblais commented on #14285
@svelle Would you be familiar with this issue?

[2020-04-17 13:40] amyblais commented on #14308
@it33 Would you be open to help take a look at this?

[2020-04-17 13:45] KadronG commented on #14308
I have also Mattermost Enterprise

[2020-04-17 14:19] wiersgallak commented on #14276
Hello @calllib ,

Thank you for your feedback on how you expect this setting to function in terms of the disabling invitations for existing team members.  As @amyblais mentioned, setting ``Authentication -> Signup -> Enable Account Creation`` to ``false`` does not change the Invitation modal, because it can still be used to invite existing team members to new teams.

If a team member uses the link

[2020-04-17 17:19] amyblais commented on #14303
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-24326.

[2020-04-17 17:47] lieut-data commented on #14303
@parnic-sks: do you recall the first Mattermost version you installed against this database? The index name in question isn't a match for what we currently have in code, but I know early versions were a little sloppier in their schema definitions. The code is supposed to handle this by detecting the existing group channel and just returning it, but it doesn't recognize `idx_19074_name`.

Though yo

[2020-04-17 19:35] parnic-sks commented on #14303
@lieut-data: Our original install was a Docker installation with a self-contained MySQL host on v5.20.0, I believe. We then used a script to convert the MySQL data to a separate PostgreSQL and switched to a regular Mattermost build hosted on Ubuntu. It's possible the conversion script from one db to another got something(s) wrong.

I can't say for certain that we've ever successfully reopened an o

[2020-04-17 20:24] Shivam010 commented on #14288
Hello, I'd like to help with this issue.

[2020-04-17 20:30] lieut-data commented on #14303
Ah, yes, this is almost certainly the cause. Our application makes some assumptions about the schema at play, but if you convert between databases, the resulting object names might be different than how we created them. Really, we shouldn't actually have to care about the names at all, but indexes can be a bit tricky in some cases.

If you're able to run a `pg_dump --schema-only` against your data

[2020-04-17 21:46] wiggin77 commented on #14270
When mobile receives notification of a reaction to a post, it calls `app/actions/websocket.ts:1067` which in turn calls `app/mm-redux/actions/posts.ts:591`, where a check for the emoji name is made in a map called `systemEmojis`.   That map is never populated (always empty) and thus the code passes through to the custom emoji call.  That triggers the error on the server.

This bug will be passed t

[2020-04-17 22:18] parnic-sks commented on #14303
@lieut-data Much appreciated! Here you go: https://pastebin.com/ZUgkzjfH

[2020-04-18 02:23] parnic-sks commented on #14303
I installed a fresh copy of Mattermost, compared the two schemas, and was mildly horrified at the results.
<details>
<summary>Here's the query I ran to fix up the constraints and indexes, which fixed my immediate issue:</summary>

[code]
</details>

Unsure if it's worth trying to change all the text fields into varchar(len) or not to fully match the intended setup.

Thanks for pointing me in the r

[2020-04-18 04:08] working-name commented on #10595
#9466, #8066

Given above history, I think MatterMost is more comfortable continuing to collect analytics behind admin's backs. Awkward.

[2020-04-18 10:36] tharun208 commented on #12696
i am almost there ! will raise a PR soon

[2020-04-18 11:42] avasconcelos114 commented on #14143
I'd like to work on this one :)

[2020-04-18 12:57] abdusabri commented on #13718
Grabbing this one 🙂

[2020-04-18 13:05] robinmetral commented on #14270
Thank you for investigating and finding the root cause @wiggin77! I'll follow this issue to see when the fix is out 🙂

[2020-04-18 13:45] lieut-data commented on #14303
@parnic-sks, glad you were able to get the immediate issue sorted! I was literally going to do the same diff :)

Generally speaking, the `varchar(len)` is just to impose a database-level constraint on the allowed values. The application /should/ already enforce this. But it would be hard to fully anticipate what could go wrong in the future.

If you're up to making the column type changes, I'd rec

[2020-04-19 02:18] jelmd opened #14316 "Expire and remove expired subscriptions"
There are a lot of users, which have an typo in their e-mail address when subscribing to a team. Since they never get the related "verify" e-mail, the related username is blocked forever without any reason. Note that this can therefore be used as an DoS vector as well!

Mattermost should record, when it sends out a verification e-mail. When the user verifies itself, the expiration date gets remove

[2020-04-19 08:10] tharun208 commented on #12696
But, I see already there is a `GetPosts` method in the `store`.But that won't fit in our case, so we need to create a new store function for the `GetPosts` method right ?. Am I correct?

[2020-04-19 11:02] tharun208 commented on #14100
I like to work on this

[2020-04-19 17:29] abdusabri commented on #13718
[Artur Zubilewicz, a student](https://github.com/AkaZecik) reached out to me and mentioned that he had started working on this issue a few days ago, but he had forgotten to comment on this issue to grab it. Since he needs this work for his university studies, I want to help him, and let him take credit for implementing it. So, I'm closing my PR to allow him to grab this issue and submit his own PR

[2020-04-19 17:43] #13463 closed

[2020-04-19 23:57] AkaZecik commented on #13718
Kudos to Abdusabri! I hoped for a chance to introduce my changes to his PR, but Abdusabri was so kind to give me a chance at my own PR :heart:

Thank you one more time! :slightly_smiling_face:

[2020-04-20 05:38] shred86 opened #14323 "Save button is not viewable in web app from Safari on mobile device"
#### Summary
“Save” button is not viewable in the web app from a mobile (e.g. Apple iPad using Safari) unless you search for “save”.

#### Steps to reproduce
Using an Apple iPad with Safari on the latest Mattermost version (5.22.0):
1) Access a system console setting and make a change to bring up the “Save” button.
2) Note that you can’t see the “Save” button.
3) Do a search for “save” in the brow

[2020-04-20 09:25] CPC954 opened #14325 "On Mobile APP after update to 4.3.0 all channel's are "This Channel is read-only""
After Google Play Store recently warned for update of Mattermost app, we did the update but then notice that all Channel's are "read-only".

Please check these because i do believe your mobile app should work in any version! This way we can't revert to previous version and we do have a problem unless we update server and for that we do have to spend a certain amount of time that we don't have now.

[2020-04-20 11:23] jasonblais commented on #12696
@iomodo would you be open to helping with the above? (cc @hanzei)

[2020-04-20 12:03] amyblais commented on #14325
@CPC954 Would you be open to upgrading your server version as v4.3.0 is not a supported version anymore? We support versions v5.19.0 and later.

[2020-04-20 12:39] amyblais commented on #14323
Opened a ticket: https://mattermost.atlassian.net/browse/MM-24361.

[2020-04-20 13:52] lieut-data commented on #12609
@attilamolnar, can you submit a draft PR linking this issue for review? That will be an easier mechanism to give early feedback on the approach.

[2020-04-20 18:16] UpriseNate commented on #10125
I am also seeing this on 5.20.1

Tested using edge on macos 81.0.416.53, chrome on macos 81.0.4044.113, and safari on macos 13.0.5 running on MacOS Catalina 10.15.3

[2020-04-20 19:11] esethna commented on #14157
Hi @pradeepmurugesan, feel free to reach out to us with any questions if you're still working on this ticket :)

[2020-04-21 05:25] avasconcelos114 commented on #14143
Got a question about this issue:
* Is Android going to be using the exact same modal to render these components or should I expect to implement anything differently for Android? (As the description talks about iOS 13 being the one introducing this style)

[2020-04-21 07:27] ysaakpr commented on #14293
Basically, we need to make Mattermost as a resource server in OAuth flow, Any other application who owns user session should able to call matter most apps. This needed for deep integration of Mattermost into our apps. We would like to contribute if there any feature request already for this.

[2020-04-21 07:52] enahum commented on #14143
@avasconcelos114 the modal presentation style only applies to iOS https://wix.github.io/react-native-navigation/api/options-root/#modalpresentationstyle

[2020-04-21 08:06] avasconcelos114 commented on #14143
Ah alrighty. Just to clarify, we still want the modal to look like this on Android right? (with each of those screens as the "child" being rendered)

<img width="388" alt="image" src="https://user-images.githubusercontent.com/29700158/79841380-49b2cb80-83f2-11ea-86f8-137174edcf65.png">

[2020-04-21 08:11] enahum commented on #14143
On Android there should ve no changes.

Also just to clarify the post options (the one in your screenshot) even though is a modal should have no changes on iOS either. Then you can think of it as only applies to those that have a visible title bar.

I think in the ticket it specifies the affected screens?

[2020-04-21 08:32] avasconcelos114 commented on #14143
Ah gotcha, so in essence:
- No changes should be made in how this works on Android
- On iOS, the modal's contents should look just about the same but we'll be using the `SlideUpPanel` to make the modal behaves similarly to what is seen on the video in the Jira ticket

[2020-04-21 08:35] KadronG commented on #14308
Should I consider that this will be shelf as unanswered. I really like this software but having another company's name on the front page is confusing.

[2020-04-21 09:08] enahum commented on #14143
Why would you be using slideUpPanel? I’m confused

[2020-04-21 09:09] enahum commented on #14143
There is an option for the navigation library to set the modal presentation as `pageSheet` on iOS that should give you the result you want

[2020-04-21 09:18] avasconcelos114 commented on #14143
Ah that's my bad, I only spent a few minutes trying to find what exactly was the component that introduced that modal style but I guess I just didn't understand the navigation library properly

Thanks for all the clarifications, I was totally overthinking this one

[2020-04-21 09:20] enahum commented on #14143
No worries, thanks for looking at this! If you have any more doubts just ask ;)

[2020-04-21 09:57] apoxa commented on #13716
Hi, I'd like to pick up this issue.

[2020-04-21 16:45] mattermod opened #14344 "[HW][Desktop] Have the same default protocols as the server in the autolink plugin"
Server already has several protocols automatically converted to links, we want to mark this as safe to be consistent.
Desktop already considers http, https, mailto and mattermost (defined on electron-builder.json as $protocol) as safe but the server uses http, https, ftp, mailto, tel

HW issue js/easy

Any questions can be asked either on [Desktop channel](https://community-release.mattermost.com/

[2020-04-21 18:15] mattermod opened #14346 "RN: at-mention autocomplete does not include nickname"
Results returned for at mention autocomplete does not include any results that include the nickname. Nickname results appear in the web app, an also in the RN "Jump To" search, so this bug is limited to the main "Send Message" box.

Platforms: Both iOS and Android

Steps To Reproduce:
1) In the Send Message text field, start an at-mention with the nickname of a user (@nickname).

Expected: Results

[2020-04-21 18:30] mattermod opened #14347 "Query string parameters are omitted from interactive dialog request url"
When the server is routing an interactive dialog url using a relative path ('i.e /plugins/{pluginId}/api/myEndpoint), it will unintentionally drop the query strings parameters when executing the request in https://github.com/mattermost/mattermost-server/blob/84859e71597a5f0f02a77e99f7a280efd0ed840d/app/integration_action.go#L328

The query string parameters should be relayed back to the plugin wit

[2020-04-21 20:35] hmhealey commented on #14198
Hi @Qovaros. Unfortunately, I don't think adding `last_post_at` will work since the web app may not have all of the users on the server loaded since there might simply be too many to load. The Tech/Go label was unfortunately missing from the ticket, but some of this will likely have to be done on the server so that it can return the users in order of the last DM in the first place. Otherwise, you'

[2020-04-21 21:20] amyblais commented on #14316
I'll ask our team to verify if this is a bug or an improvement request,

[2020-04-22 06:37] KlavsKlavsen opened #14474 "basic auth on gitlab - makes gitlab login not work"
- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [ ] I have read [contributing guidelines](https://

[2020-04-22 08:49] fawick commented on #14027
@esethna Would you be able to provide some info in which source files / functions I should start too look? As a absolute newbie to the Mattermost code base and with close to none Javascript / front-end experience the entry barrier is pretty large.

[2020-04-22 10:23] #14162 closed

[2020-04-22 10:37] torgeirl commented on #14162
@bradjcoughlin, @hmhealey: really appreciate you taking the time to fix this! :pray:

[2020-04-22 12:06] JakubOnderka opened #14354 "Mattermost PGP key expired"
Hi, I tried to verify Mattermost installation file by GPG, but your PGP key, that is available at https://keybase.io/mattermost, is expired (since 2020-04-02). Even version 5.22, released at  2020-02-16, is signed by this expired key.

It will be possible to publish new key and sign latest release again with new key?

Thank you

[2020-04-22 12:37] Koleon opened #14355 "Mattermost 5.19.2 SHA-256 Checksum"
#### Summary
Mattermost v5.19.2 SHA-256 checksum and checksum listed on official website does not match.

#### Steps to reproduce
Run `sha256sum mattermost-team-5.19.2-linux-amd64.tar.gz` and compare output with SHA-256 Checksum from https://docs.mattermost.com/administration/version-archive.html

#### Expected behavior
Checksums match!

#### Observed behavior (that appears unintentional)
Nothing

[2020-04-22 12:38] amyblais commented on #14325
We have a fix queued for this for v1.30.1,

[2020-04-22 12:42] Koleon commented on #14355
I am really sorry, I mistakenly compared `mattermost-team-5.19.2-linux-amd64.tar.gz` with Mattermost Enterprise Edition checksum.

[2020-04-22 12:42] #14355 closed

[2020-04-22 12:43] amyblais commented on #14316
@jelmd What Mattermost server version and OS are you on?

[2020-04-22 12:44] #14152 closed

[2020-04-22 13:27] jelmd commented on #14316
@amyblais version 5.3.0 and started testing 5.21.0 both on Ubuntu 18.04 (bionic).

[2020-04-22 13:57] petya-v commented on #13703
Hello! This is my first attempt with contributing and I would like to help with this one :)

[2020-04-22 15:06] metanerd commented on #14354
@JakubOnderka Thank you for reporting this! This should be fixed now. Sorry about any issues this caused.

[2020-04-22 17:12] Ashniu123 commented on #14347
I would like to have a "go" at it. Please assign it to me.

[2020-04-22 17:21] #14354 closed

[2020-04-22 20:37] esethna commented on #14027
@fawick feel free to ask for some guidance in our contributors channel: https://community-daily.mattermost.com/core/channels/tickets

[2020-04-22 23:15] rahimrahman commented on #12353
I'd like to take this on and continue on with what @smacgregor has already started.

[2020-04-23 01:48] #13870 closed

[2020-04-23 09:30] mattermod opened #14362 "Create patch endpoint for updating the config on Mattermost Server"
This ticket is about adding a new API endpoint to the [Mattermost Server](https://github.com/mattermost/mattermost-server).

Having a new PATCH endpoint will allow users to patch the config without having to use the PUT endpoint with a full copy of the current config. For more info on the difference PUT/PATCH check [here](https://devqa.io/api-testing/difference-put-patch-requests/)

This will help

[2020-04-23 12:46] esbeeb commented on #4554
Hello, I would like to distinguish between Mattermost Enterprise server (the paid version), and Mattermost Team server (the free version).

I, for one, would prefer if the snap was named accordingly, such that these two different versions don't get mistakenly chosen.

**Please make it clear whether the snap will install Enterprise, or Team version.**

[2020-04-23 14:43] jwilander commented on #14362
@nickmisasi13 is going to take this one on

[2020-04-23 18:19] Leopold702 opened #14364 "Post reactions are missing after Slack import"
#### Summary
Post reactions are missing after Slack import

#### Steps to reproduce
1. Download Slack export
2. Download attachments and user emails via Slack Advanced Exporter
3. Import resulting archive to Mattermost 5.22.0 using CLI tool
4. Relocate _data_ folder from the _/mattermost/bin_ folder

After performing the above steps I verified the newly imported team. All the items seems to be in

[2020-04-23 21:41] #14085 closed

[2020-04-23 22:42] amyblais commented on #14364
Would you be open to upvoting this feature request https://mattermost.uservoice.com/forums/306457-general/suggestions/39933091-add-support-for-emoji-reactions-in-slack-import?

[2020-04-23 23:00] Leopold702 commented on #14364
Do you mean that this feature isn't implemented yet? If so, then it doesn't seem that my vote will make implementation any closer since apparently nobody but me interested in it.

Maybe you know if there is some workaround for this? Is there is some way to import reactions separately?

[2020-04-24 06:21] jerlich commented on #10358
this didn't work for me.
MariaDB 10.4
Mattermost 5.22.1
Centos 7.5

[2020-04-24 12:29] lieut-data commented on #13274
Apologies for the loooong delay in replying here, @someone-somenet-org. I tried to reproduce locally:
[code]

and successfully got an ephemeral post sent my way:
![image](https://user-images.githubusercontent.com/1023171/80212145-59f2c280-860d-11ea-9c04-df6c68eefb9e.png)

I repeated this successfully in public channels, private channels, and DMs. I was also able to send ephemeral messages to users

[2020-04-24 12:59] amyblais opened #14367 "Mattermost v5.23"
You can find key dates for v5.23 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### April 30th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### May 13th: Release Build Cut
The fi

[2020-04-24 15:15] amyblais commented on #14364
@svelle Would you know if there is a workaround?

[2020-04-24 15:15] amyblais commented on #14316
Have you seen this issue also on v5.21?

[2020-04-24 15:24] svelle commented on #14364
I don't know of any workaround. Sorry.

[2020-04-24 16:12] amyblais commented on #13703
@petya-v Thank you!

[2020-04-24 18:18] BK1603 commented on #4554
@esbeeb Thanks a lot for the info, I actually got stuck with the snap sometime ago and am very guilty of not working a lot on this as a result. I have read the insights and your concerns regarding the package. I will get back to it again immediately.

[2020-04-24 20:34] hmhealey commented on #12353
Awesome! Thanks, @rahimrahman.

Let us know if you have any questions or run into any difficulties with this. We'd be glad to help out either here or in the Developers channel on https://community.mattermost.com

[2020-04-24 21:03] amyblais commented on #14325
Mobile v1.30.1 dot release has been released and will be available in the app stores soon,

[2020-04-24 21:03] #14325 closed

[2020-04-24 22:15] mattermod opened #14373 "Add flag icon to the post hover menu and update pinned and flagged post styling in the channel"
Insert the flag icon between the emoji reaction button and the reply arrow in the hover menu, then remove the flag icon from the post itself (currently appears next to the timestamps on hover)

 ![](screenshot-3.png|thumbnail)

When the flag is clicked in the hover menu, the icon should fill in, similarly if the post is flagged and the icon is clicked, unfill the flag.

Also updated the pinned and

[2020-04-24 23:38] abdusabri commented on #14373
@esethna would you please assign it to me? 🙂

[2020-04-24 23:59] esethna commented on #14373
Done, thanks! FYI @abdusabri you may notice the designs are a bit different than what's implemented in product in terms of icons and styling etc. The designs are outdated because we recently made some styling updates in product. Please note that these styling in the designs is not intended to be part of the changes for this ticket!

Current product and expected styling:
![image](https://user-image

[2020-04-25 02:19] bbodenmiller commented on #10412
Why not ask this plugin author to take it over? https://github.com/moussetc/mattermost-plugin-giphy cc @moussetc

[2020-04-25 12:46] cannalee90 commented on #13468
can I working on this issue?

[2020-04-26 14:57] someone-somenet-org commented on #13274
Nope, doesnt work for me.

``curl -i -d '{ "user_id": "$MY_USER_ID", "post":{ "channel_id": "$public_channel_i_am_in_id", "message": "asdf" }}' -H 'Content-Type: application/json' -H 'Authorization: Bearer $MY_TOKEN' http://localhost:8065/api/v4/posts/ephemeral``

[code]

How do I submit the config non-publically?

[2020-04-26 16:25] VishalSwarnkar commented on #13335
Ready for review : https://github.com/mattermost/mattermost-webapp/pull/5397

[2020-04-27 07:46] terafirmanz opened #14379 "SAML attribute blank/empty"
### Summary
When user logs in using SAML if one of the attributes passed back is blank login fails e.g. Title is set to title attribut but the Identity source has no title for that user

#### Steps to reproduce
set all SAML attributes to accept fields in the response then login with a user who does not have one of those files

#### Expected behavior
Some attributes should be optional anythign othe

[2020-04-27 11:35] E-Learning-FHDO commented on #11869
If anyone else stumbles over this problem, it helped me to delete the content under /var/cache/nginx/ and restart the nginx server.

[2020-04-27 12:01] amyblais commented on #14379
@terafirmanz Would you be open to sharing these additional details:

1. What Mattermost server version are you on?
2. What OS and version are you on?
3. Do you see any errors in logs?
4. What are your SAML related config settings set to?

[2020-04-27 12:03] jasonblais commented on #10412
cc @aaronrothschild @hanzei

[2020-04-27 15:43] danger89 commented on #2098
Happens still.. Firefox v75:

![image](https://user-images.githubusercontent.com/628926/80391841-96911900-88ae-11ea-8c12-9fdc8f257291.png)

[2020-04-27 15:48] danger89 commented on #2098
Related:

See: https://bugzilla.mozilla.org/show_bug.cgi?id=1185685#c3
And:
https://bugzilla.mozilla.org/show_bug.cgi?id=1211993#c2

This is due to Open Sans has a massive character set, and therefor kerning table. It's maybe up to Open Sans to fix it. Or could you reduce the Open Sans font, maybe by removing some features from the woff2 files (special chars or?).

[2020-04-27 15:59] applic8-sa opened #14382 "Direct Messages randomly disappearing in Mattermost"
#### Summary
Direct Messages are randomly disappearing from Mattermost chat window for some users and not others. Sometimes new incoming messages are visible in the OS notification (MacOS X) but not in Mattermost Direct Messages chat window.

Logout from Mattermost Client and login again make them reappear randomly depend on the session and/or the device used (MacOS X client or Mattermosft for iOS

[2020-04-27 16:17] applic8-sa commented on #14382
The direct message visible in MacOS X notification is not displayed in the current Direct Message between the two users
![chat](https://user-images.githubusercontent.com/14995404/80394885-c3dfc600-88b2-11ea-83fd-18e97be1e213.png)

Both messages should be part of the same channel to be displayed by both UserA and UserB
![hidden_message](https://user-images.githubusercontent.com/14995404/80394879-c2

[2020-04-27 16:33] stoffel1984 opened #14383 "Plugins can't be activated"
Hi,

i'm new to mattermost and running it on an Centos7-VM.
If i upload plugins, they can't be activated and i should read the log file.

Could Annone her?

here's the log:

Apr 27 16:13:51 localhost mattermost: {"level":"info","ts":1588004031.0244684,"caller":"scheduler/worker.go:78","msg":"Worker: Job is comp$
Apr 27 16:14:51 localhost mattermost: {"level":"info","ts":1588004091.097298,"caller":

[2020-04-27 16:41] amyblais commented on #14382
@applic8-sa Our supported server versions include v5.19.0 or higher. Would you be open to upgrading?
Also, are you on desktop app or webapp?

[2020-04-27 16:41] amyblais commented on #14383
@stoffel1984 What Mattermost server version are you on? What OS and version are you on?

[2020-04-27 17:25] stoffel1984 commented on #14383
@amyblais Mattermost Team 5.8.0-1 on Linux CentOS 7.

[2020-04-27 17:25] amyblais commented on #14383
Our supported versions include v5.19.0 and later. Would you be open to upgrading?

[2020-04-27 18:11] stoffel1984 commented on #14383
yes, it's nearly a naked system.
1 vcore
4GB RAM
40 GB

will that be enough for the newest version?

[2020-04-27 18:11] applic8-sa commented on #14382
We are already running the latest version as of today and the problem was not fixed by the upgrade
so I did the workaround above and it fixed our issue of duplicate Direct Messages "ghost" channels

Mattermost Version: 5.22.1
Database Schema Version: 5.22.0
Database: postgres

[2020-04-27 18:21] applic8-sa commented on #14382
I still have the backup of database before the above fix (5.22.1) but I don't have the backup of 2019-02-09 when the problem occured during the upgrade between 4.7.x and 5.13.x. It's about a year that we have this missing message missing in Direct Messages, we were about to change product before I found the above fix as a chat system with random direct messages not working is not very useful. Priv

[2020-04-27 18:30] amyblais commented on #14383
You can find more details on Hardware requirements here: https://docs.mattermost.com/install/requirements.html#hardware-requirements.

[2020-04-27 18:34] applic8-sa commented on #14382
If you run a Mattermost servers which has been upgraded through years (2016-2020) you can check if you have the same kind of issue without known it by executing the following SQL
`
SELECT c1.name FROM channels AS c1, channels AS c2 WHERE c1.id <> c2.id AND c1.name = c2.name ORDER BY c1.name;
`
If it returns some duplicate pairs... that mean you have hidden Direct Messages for some of your user bas

[2020-04-27 20:46] lieut-data commented on #13274
@someone-somenet-org, I've looked at the code again and can't see anything in the configuration that would matter in this case. If you take a look at your `Permissions` table in the database for the `system_admin` role, can you confirm that it has `create_post_ephemeral` among the many permissions?

[2020-04-27 20:55] someone-somenet-org commented on #13274
`select permissions from roles where name='system_admin'`
`` manage_team_roles revoke_user_access_token manage_private_channel_properties assign_system_admin_role read_public_channel create_emojis delete_public_channel create_bot read_others_bots read_bots remove_others_reactions manage_incoming_webhooks remove_user_from_team manage_system_wide_oauth create_private_channel manage_others_outgoing_w

[2020-04-27 21:05] someone-somenet-org commented on #13274
I cross-checked against another MM-instance, which was setup with mm 5.19.
`create_post_ephemeral` Is the only permission that is missing...

[2020-04-27 21:15] someone-somenet-org commented on #13274
Adding `create_post_ephemeral` to the corresponding field fixes it and it seems its not deleted again, when I edit and store the permissions via https://.../admin_console/user_management/permissions/system_scheme

So I guess its some old migration issue or something like that.

[2020-04-27 21:15] #13274 closed

[2020-04-27 23:45] chelobarreto opened #14390 "Mattermost Openshift Gitlab SSO"
HI!
I have a problem with my setup off mattermost behind an apache proxy and deployed on openshit.
In openshift the configuration of an apache with ProxyPreserveHost on doesn't work, because the router concept of openshift.
After configuring reverse proxy in apache, with subpath in mattermost and make it work, wy face the problem that the SSO integration with own Gitlab doesnt work.

Current Confi

[2020-04-28 00:13] terafirmanz commented on #14379
Hi,

1. we are on 5.22
2. We are on Ubuntu 18.04
3. Yes : "user_id": "", "method": "POST", "err_where": "SamlInterfaceImpl.DoLogin", "http_code": 302, "err_details": "Title attribute is missing"}
The user had no title in Active Directory so SAML passed a blank value.
4. how much do you need? I am using the old library and the new SAML library has too many issues for us to get it working just yet (

[2020-04-28 03:48] #14266 closed

[2020-04-28 10:48] RajatVaryani commented on #14362
We already have patch endpoint. I worked on it. https://github.com/mattermost/mattermost-server/issues/12958

[2020-04-28 10:54] RajatVaryani commented on #13910
@hanzei I will like to work on it. @BukkyOmo Are you still working?

[2020-04-28 13:12] jwilander commented on #14362
Hmmm looks like it's an old ticket then. Sorry for the churn @nickmisasi13

[2020-04-28 13:12] #14362 closed

[2020-04-28 16:45] mattermod opened #14401 "Update help text in Leave Team modal"
Users are accidentally hitting the "Leave Team" button when they intend to leave a channel.
User story: https://community-daily.mattermost.com/core/pl/kggi7pngxb8kf83o3mgk3ra7sy

Proposed fix: Update the help text in the "Leave Team" modal to:

[code]

Where
- the first sentence is bolded (marked by `**`),
- `{num_of_public_channels}` refers to the number of public channels that the user is a memb

[2020-04-28 18:11] agnivade commented on #14382
Thank you for the very detailed report !

I have filed https://mattermost.atlassian.net/browse/MM-24626 to track it.

[2020-04-28 18:15] mattermod opened #14402 "Empty search state for emoji picker"
Emoji picker does not have any empty search results state.

**Repro:** type `blah` in search box of emoji picker.
**Expected:** Shows an empty search results state (See design)
**Observed:** Just says `search results` with no results or message below

#### Proposed Solution

  * Same as the web app solution for [https://mattermost.atlassian.net/browse/MM-23735](https://mattermost.atlassian.net/bro

[2020-04-28 20:24] amyblais commented on #14379
Thank you, I have pinged our support team to take a look at this,

[2020-04-28 22:14] amyblais commented on #14170
This is fixed for upcoming v5.23 release,

[2020-04-28 22:14] #14170 closed

[2020-04-28 22:15] amyblais commented on #14035
This is fixed for upcoming v5.23 release,

[2020-04-28 22:15] #14035 closed

[2020-04-29 00:00] mattermod opened #14404 "Improve Announcement banner tooltip behavior"
Announcement banner display tooltips to show the content when it exceeds one line and is truncated. The current behavior is redundant and always show tooltips for Announcement banners even when the text isn't truncated.

**Observed**
Tooltips always display when a user hovers over an Announcement banner, even when the text isn't truncated.
![](Image Pasted at 2019-6-5 09-34.png|thumbnail)

**Expec

[2020-04-29 01:13] abdusabri commented on #14373
@esethna

In RHS, should the flag icon look like this 👇 in the hover menu ?

![image](https://user-images.githubusercontent.com/25670682/80552530-3a6de800-89c7-11ea-9c5c-68c93a59860d.png)

[2020-04-29 01:15] esethna commented on #14373
@abdusabri yes, looks great!

[2020-04-29 12:15] mattermod opened #14407 "Improve logs for Mattermost Push Proxy"
The purpose of Mattermost Push Proxy is to be the relay between Mattermost servers and the Apple/Google push notification services.

This ticket is about to add logging for push proxy and uses the structured logging similar we have for mattermost server. See:
https://github.com/mattermost/mattermost/tree/master/server/public/shared/mlog

see here the way we configure log: https://github.com/matter

[2020-04-29 12:36] amyblais commented on #14390
@chelobarreto What Mattermost server version, and OS and version are you on?

[2020-04-29 12:59] chelobarreto commented on #14390
OS: alpine
Mattermost Version: 5.22.1
Attach Dockerfile
[code]

[2020-04-29 16:12] fuerstberger opened #14411 "Change of tar.gz files with binary inside"
#### Summary
Uploading tar.gz files with binary files inside causes changes of file

#### Steps to reproduce
tar.gz a binary file and upload it via drag & drop. Download again and compare the file sizes. They differ.

#### Expected behavior
I would expect the uploaded files does not change at all

#### Observed behavior (that appears unintentional)
File size and content change.

#### Possible fixe

[2020-04-29 16:18] hzeroo commented on #13783
I can take this one

[2020-04-29 16:56] strtw commented on #13727
@hanzei Apologies for the late reply, I am still working on this.

[2020-04-29 17:01] fullstackguyhere commented on #13719
@amyblais can't see any commits related to this. If it is up for grabs again, I would like to have a quick go at it. I can push my changes incrementally for you to have a track on it.

[2020-04-29 17:03] fullstackguyhere commented on #13717
@devinbinnie would like to take this up.

[2020-04-29 17:04] devinbinnie commented on #13717
Sounds great, thank you @fullstackguyhere!

[2020-04-29 17:06] fullstackguyhere commented on #14404
@hanzei would like to take this up.

[2020-04-29 17:14] amyblais commented on #13719
@fullstackguyhere I believe it's fine if you take it. @QamarFarooq Let us know if you have any concerns or if there are other issues you'd like to work on.

[2020-04-29 17:15] EbsrVlee opened #14412 "Issue with plugins after Upgrading to Mattermost 5.22.1"
Hello,

#### Summary
After upgrading Mattermost from 5.19.1 to 5.22.1 I am unable to upload plugins. When I choose to upload plugins it says Plugins have been disabled. Please check your logs for details.
When I check the logs it says
{"level":"error","ts":1588180009.583582,"caller":"mlog/log.go:175","msg":"Plugins have been disabled. Please check your logs for details.","path":"/api/v4/plugins/we

[2020-04-29 17:25] amyblais commented on #14411
@fuerstberger What Mattermost server version, and OS and version are you on? Do you see any log errors?

[2020-04-29 17:34] amyblais commented on #14412
@EbsrVlee Would you be open to sharing your PluginSettings from config.json file? What OS and version are you on?

[2020-04-29 17:54] fullstackguyhere commented on #13717
@devinbinnie just to be clear. I have to convert the files at components/rhs_comment level.  am not to touch any files in the directories below components/rhs_comment right?

[2020-04-29 17:55] fullstackguyhere commented on #14404
@amyblais could you share the screenshot mentioned in the description. I am unable to see it.

[2020-04-29 17:57] amyblais commented on #14404
/cc @esethna ^

[2020-04-29 18:00] devinbinnie commented on #13717
@fullstackguyhere I don't think there's any directories or modules within `components/rhs_comment` so you're okay.

[2020-04-29 18:51] esethna commented on #14404
@amyblais @fullstackguyhere updated. Image is in the JIRA ticket linked. Thanks for taking the ticket :)

[2020-04-29 19:00] EbsrVlee commented on #14412
Hi Amy,

Sure, I have attached the PluginSettings. The OS is Ubuntu 18.04.4

- Victoria Lee

@EbsrVlee
( https://github.com/EbsrVlee)  Would you be open to sharing your PluginSettings from config.json file? What OS and version are you on?
*
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
( https://github.com/mattermost/mattermost-server/issues/144

[2020-04-29 19:18] amyblais commented on #14412
@EbsrVlee I believe you'll need to add the attachment directly in Github for it show here.

[2020-04-29 19:32] EbsrVlee commented on #14412
![PluginSettings](https://user-images.githubusercontent.com/14913403/80638538-9455c880-8a2e-11ea-831e-3ab8736b49ac.jpg)

[2020-04-29 19:34] EbsrVlee commented on #14412
![PluginSettings](https://user-images.githubusercontent.com/14913403/80638723-e4348f80-8a2e-11ea-9453-3b69eeb79535.jpg)

[2020-04-29 19:40] rvillablanca commented on #10327
Hi :hand:, I can take a look into this

[2020-04-29 21:02] mgdelacroix opened #14422 "Refactor SQL queries in store/sqlstore/license_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/license_store.go`.

The expected way to implement this is to search in the `store/sqlstore/license_store.go` file for all the strings containing a SQL query and rewrite them w

[2020-04-29 21:07] mgdelacroix opened #14423 "Refactor SQL queries in store/sqlstore/link_metadata_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/link*metadata*store.go`.

The expected way to implement this is to search in the `store/sqlstore/link*metadata*store.go` file for all the strings containing a SQL query and re

[2020-04-29 21:09] mgdelacroix opened #14424 "Refactor SQL queries in store/sqlstore/plugin_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/plugin_store.go`.

The expected way to implement this is to search in the `store/sqlstore/plugin_store.go` file for all the strings containing a SQL query and rewrite them wit

[2020-04-29 21:09] mgdelacroix opened #14425 "Refactor SQL queries in store/sqlstore/team_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/team_store.go`.

The expected way to implement this is to search in the `store/sqlstore/team_store.go` file for all the strings containing a SQL query and rewrite them with sq

[2020-04-30 06:57] saturninoabril commented on #13335
Thank you @VishalSwarnkar for your contribution! Closing this now.

[2020-04-30 06:57] #13335 closed

[2020-04-30 07:21] fuerstberger commented on #14411
@amyblais
I'm using Mattermost Version: 5.21.0 on Ubuntu 18.04 LTS 64bit; Database Schema Version: 5.21.0; Database: postgres.
I do not see any errors or warnings in server logs related to this.

[2020-04-30 08:11] hanzei commented on #13727
Thanks for the update @strtw :+1:

[2020-04-30 08:38] #13476 closed

[2020-04-30 08:59] riedel opened #14432 "Make invites UX more transparent (URL and UI)"
#### Summary
We had multiple "security incidents" due to people inviting other people into the wrong teams

#### Steps to reproduce
If you invite people only the title of the team is shown in text. This seems to be to few cues for many users (empirically).

#### Expected behavior
It would be great if
1. the Team Icon is displayed
2. the Team name is part of the invite URL (may be optional via sett

[2020-04-30 11:15] mattermod opened #14433 "Remove duplication in OR and IncludeDeletedChannels parameters for search"
Right now when we're assigning both `is*or_search` and `include_deleted_channels` parameters received from [the request](https://api.mattermost.com/#tag/posts/paths/<sub>1teams</sub>1\{team*id\}<sub>1posts</sub>1search/post] to the SearchParameters object as you can see [here|https://github.com/mattermost/mattermost-server/blob/v5.22.1/app/post.go#L993] but we are passing both objects to the Store

[2020-04-30 11:15] mattermod opened #14434 "Fix search for emails in Posts in databases"
When you try to search Posts using an email as a search term you get no results. The underlying problem is that the '@' character is a forbidden character in MySQL and [we're replacing it ](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/post_store.go#L1211)with an empty space in order to avoid that problem.

We have to find a way to fix this either for Postgres and MySQ

[2020-04-30 11:15] mattermod opened #14435 "Fix the team and channel filtering in search when filtering all the channels"
Right now the channel and team filtering options in search are working except when we are filtering all the channels/team using:

[code]

So we need to fix that problem which is located in [this part](https://github.com/mattermost/mattermost-server/blob/v5.22.0/store/sqlstore/user_store.go#L1546-L1577) of the code

Affects both MySQL and PostgreSQL

----
If you're interested please comment here an

[2020-04-30 11:45] mattermod opened #14436 "Search terms with underscore using PostgreSQL engine should work"
Right we’re using *to_tsquery* in the Postgresql search but when the word has underscore is returning more results than it should.

The problem is that `to_tsquery` for a word with an underscore is splitting that word into multiple parts:

[code]

Using for example something like:

[code]

could work but we are losing the dictionary option (the ‘English’ part in to_tsquery)

----
If you're interes

[2020-04-30 11:45] mattermod opened #14437 "Search terms with hyphen using DB engine should work"
Right now [we're removing](https://github.com/mattermost/mattermost-server/blob/v5.22.1/store/sqlstore/post_store.go#L1159) the hyphens in the search and replacing them with whitespace but if we enclose the search term, for example, `t-shirt` with quotes it works.

We should fix this and allow to search for words with hyphen like `t-shirt` for example

This problem affects both databases and the s

[2020-04-30 11:45] mattermod opened #14438 "Filter * characters from the search terms in DB"
We should remove * characters that are passed alone, and possibly other non-alphanumeric characters like &,@,”, etc, from the search parameters.

Right now if you have two posts with *qwerty_ and _qwertyjkl* message, if you search for `qwerty **` (notice the whitespace between qwerty and ** ) you will get empty results. In PostgreSQL you even get an error as you can see here:

[code]

The ideal wo

[2020-04-30 11:45] mattermod opened #14439 "Filter stop words in server code before executing search in MySQL"
Given that we're using AND search by default and our full-text search mode is BOOLEAN, we're blocking the stop-words filtering.

This is due to when we add the + prefix to our terms in the search query, this word must be present in each row that is returned.

One possible solution is to filter [stop words](https://dev.mysql.com/doc/refman/5.7/en/fulltext-stopwords.html) in the search terms passed

[2020-04-30 12:08] amyblais commented on #14432
@riedel What Mattermost server version are you on?

[2020-04-30 14:22] hanzei commented on #13783
Thanks @hzeroo :+1:

[2020-05-01 01:13] rvillablanca commented on #14439
I'll take this one :ok_hand:

[2020-05-01 03:48] rvillablanca commented on #14439
I have some concerns and I think it is important to clarify them before implementing this.

I have tested several querys searching with differents expressions and I found that it is not possible looking for phrases that contains any `stopword` inside, so this makes it impossible for us to search for hashtags like `#where` or `#the` (second point in description), although they are not common

Anoth

[2020-05-01 09:27] imrajkirpalsinh commented on #6492
Hi aj160 ,
Can you specify the sequence of steps to follows to run the mattermost on local windows machine ?

[2020-05-01 12:04] abdusabri commented on #14373
@esethna

In web mobile view, the flag icon should not be visible (like the add reactions icon), right?

![image](https://user-images.githubusercontent.com/25670682/80803924-f68c0600-8bb3-11ea-8ad8-12ce61a6bc11.png)

You may notice that the pin icon is not filled in the image ☝️, Asaad will share with me the filled pin icon svg that is gonna be used instead of the one that is shown above.

[2020-05-01 13:15] #13703 closed

[2020-05-01 14:46] pradeepmurugesan commented on #14157
Sorry for the delay.. Bit held up.. Yet to get familiarise with the mobile set up. Will try to spend sometime this week.

[2020-05-01 15:57] esethna commented on #14373
Correct!

[2020-05-01 16:52] #14293 closed

[2020-05-01 17:03] jfrerich commented on #14412
Hi @EbsrVlee.  This seems odd to me, as your config shows the correct and needed settings to upload plugins.  These are the `PluginSettings.Enable` and `PluginSettings.EnableUploads`.  Both of these are true.  Have you tried restarting your server?

[2020-05-01 17:28] amyblais commented on #14367
### v5.23 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.23.0-rc1/mattermost-team-5.23.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3538/files)

[2020-05-01 19:41] riedel commented on #14432
Mattermost Version: 5.20.1

[2020-05-02 01:33] rvillablanca commented on #14438
I could not reproduce the error, even I tried with with mysql and postgres and in both cases the `*` was removed (when it is alone).

What I notice is when we search with expression `querty*`, mysql returns the two results (qwerty and qwertyjkl), while postgres return only one (qwertyjkl).

[2020-05-02 12:52] hanzei commented on #14439
@ethervoid Could you please take a look a these thoughts? :point_up:

[2020-05-02 15:39] fullstackguyhere commented on #13717
@devinbinnie two questions:-
1. Why are we using PropTypes.object for post when we already have typing for a Post? Same for other types as well.

2. while fixing types for rhs_comment.tsx, there is dependency on other components which have yet not been converted and will need to be in order to fix typing for this.  So should I proceed with that?

[2020-05-03 02:34] dantepippi commented on #14422
I'm interested @mgdelacroix

[2020-05-03 09:08] mgdelacroix commented on #14422
Thanks @dantepippi! Assigned the issue to you

[2020-05-03 12:38] pradeepmurugesan commented on #14198
I can pick this one if its still open.. 👍

[2020-05-03 12:51] ghost opened #14452 "Unable to upload 500MB+ Files On Mattermost Latest Release"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-05-03 13:32] jasonblais commented on #14198
Certainly, thank you @pradeepmurugesan!

[2020-05-03 14:16] dantepippi commented on #14423
@mgdelacroix i'd like to take this one.

[2020-05-03 14:27] dantepippi commented on #14425
@mgdelacroix I'd like to take this one.

[2020-05-03 22:58] ilyakonovalenko opened #14453 "Read-only channels but with threads allowed"
Hello,

It would be nice to have an ability to restrict messages in the channel but allow messages in the threads for the channel.

So that channel looks like a forum. Only answers to the posts are allowed.

[2020-05-04 09:31] mgdelacroix commented on #14423
Thanks @dantepippi, assigned :)

[2020-05-04 10:21] hanzei commented on #10412
Hey @bbodenmiller,

Thanks for the suggestion. The main question is, if the gfycat integration should be shipped and enabled by default. If this feature get's moved to a community plugin, Mattermost won't ship it by default any longer.

@aaronrothschild What do you think about this?

[2020-05-04 10:33] hanzei commented on #13910
I think it's save to assume that @BukkyOmo is not longer working on this ticket. Assigning it to you @RajatVaryani

[2020-05-04 11:52] harf18 opened #14458 "Slash command doesn't print image_url on web app"
#### Summary
Slash command with attachement doesn't print image_url on webapp.

#### Steps to reproduce
Create a slash command with one attachement and one image_url. Example :
[code]

#### Expected behavior
Mattermost Version: 5.22.1
Database Schema Version: 5.22.0
Database: postgres
The rendering of slash command doesn't include the image_url on mattermsost webapp but an empty space. It's workin

[2020-05-04 12:04] lieut-data commented on #14452
@chinyasuhail, can you share the server logs that show the error in question?

[2020-05-04 12:38] amyblais commented on #14453
Thanks, appreciate your feedback @ilyakonovalenko,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say s

[2020-05-04 12:42] amyblais commented on #14458
@harf18 Do you see any Mattermost server log errors?

[2020-05-04 13:08] harf18 commented on #14458
Yes, no errors on logs. If i activate DEBUG level, I can see this :

{"level":"debug","ts":1588597633.2418153,"caller":"app/command.go:400","msg":"Executing command","command":"vac","user_id":"sgsd3xhkwtbtxdudq7zdnt9uqe"}

[2020-05-04 13:09] ilyakonovalenko commented on #14453
Yes, sure. I have already created a post here: https://mattermost.uservoice.com/forums/306457-general/suggestions/40335820-read-only-channels-but-with-threads-allowed

[2020-05-04 13:15] harf18 commented on #14458
On web app :
![Sélection_366](https://user-images.githubusercontent.com/320044/80969157-71098f80-8e19-11ea-82ad-8322dffa09b6.png)

On Android APP :
![Screenshot_20200504-134516_Mattermost](https://user-images.githubusercontent.com/320044/80969468-f12ff500-8e19-11ea-97e4-195b21adcb16.jpg)

[2020-05-04 13:33] chinyasuhail commented on #14452
@lieut-data
[error.log](https://github.com/mattermost/mattermost-server/files/4574782/error.log)

[2020-05-04 13:36] lieut-data commented on #14452
Thanks, @chinyasuhail! Are those logs from your load balancer? The line of interest definitely looks like:
[code]

I'm wondering if you can also share the Mattermost server logs around this time.

[2020-05-04 13:46] chinyasuhail commented on #14452
I'm using NGINX as a reverse proxy. I've followed this [guide ](https://www.cloudbooklet.com/install-mattermost-on-ubuntu-18-04-with-nginx-google-cloud/)

[mattermost.log](https://github.com/mattermost/mattermost-server/files/4574994/mattermost.log)

[2020-05-04 13:56] chinyasuhail commented on #14452
@lieut-data I believe it's the Nginx reverse proxy that's causing the issue.

[2020-05-04 13:57] chinyasuhail commented on #14452
@lieut-data  I tried uploading a 1gb file again and checking the logs both on Nginx and mattermost; However; Nginx has these errors in the file.

[code]

[2020-05-04 14:09] SemperRuminare opened #14460 "Dualing Automatic Direct Message Replies"
#### Summary
When 2 users have automatic replies they will continue to message each other forever. (Battle-bots DM style)

#### Steps to reproduce
Mattermost Version: 5.22.0
- User 1 enables Automatic Direct Message Replies
- User 2 enables Automatic Direct Message Replies
- User 1 or 2 messages the DM channel without going online and disabling Automatic Direct Message Replies

#### Expected behav

[2020-05-04 14:21] amyblais commented on #14460
This has been fixed for upcoming v5.23 release: https://github.com/mattermost/mattermost-server/pull/14410.

[2020-05-04 14:21] #14460 closed

[2020-05-04 14:23] lieut-data commented on #14452
Thanks, @chinyasuhail! Could it be your `*_timeout` settings in Nginx? (i.e. `proxy_send_timeout`, `proxy_read_timeout` and `send_timeout`)? If you increase those, does the problem go away.

To confirm, are there no error logs in Mattermost at all when this upload fails?

[2020-05-04 14:30] devinbinnie commented on #13717
Yes, as part of the migration you should be completely removing `PropTypes` from the component and using TS types. If you have a look at the sample migrations and the other components that have already been migrated, you'll see how we do it.

What are the dependencies? Most components shouldn't rely on others so heavily that we need to convert them in groups.

[2020-05-04 14:53] #13711 closed

[2020-05-04 15:15] ethervoid commented on #14439
@rvillablanca First of all thank you very much for taking care of this issue :)

We have a dedicated column in the Posts table for Hashtags. Also in the `SearchParams` struct, we have a field `IsHashtag` as you can see [here](https://github.com/mattermost/mattermost-server/blob/v5.22.1/model/search_params.go#L18). So doing something special for hashtags like:

[code]
could make it work for MySQL e

[2020-05-04 15:33] chinyasuhail commented on #14452
@lieut-data I've doubled my timeout and still there's the same error.
have a look at the nginx.conf

[code]

[2020-05-04 15:49] ethervoid commented on #14438
It only reproduces using the store method directly, for internal usage for example. If you do it from UI or API is cleaned [here](https://github.com/mattermost/mattermost-server/blob/v5.22.1/app/post.go#L995)

We have search engine tests where you can see how is it failing [here](https://github.com/mattermost/mattermost-server/blob/master/store/searchtest/post_layer.go#L122-L124). You have to chan

[2020-05-04 16:04] chinyasuhail commented on #14452
@lieut-data  in fact launch mattermost on any platform; heroku, bitnami and digital ocean; mattermost fails for large file sizes for some reason

[2020-05-04 16:17] harf18 commented on #14458
Sorry, it was my addblocker

[2020-05-04 16:17] #14458 closed

[2020-05-04 17:17] pradeepmurugesan commented on #14157
Hi.. I tried to take a look and found that it requires changes in the API. There is another ticket that also depend on the same api change.. https://github.com/mattermost/mattermost-server/issues/14198 . Will propose my changes in the community.mattermost.com for the api.

Once approved, will implement the same.

[2020-05-04 17:21] esethna commented on #14157
Thanks for the follow-up!

[2020-05-04 17:28] amyblais commented on #14453
Thank you!

[2020-05-04 17:28] #14453 closed

[2020-05-04 18:04] lieut-data commented on #14452
Thanks, @chinyasuhail! When you launch in these environments, do you see any Mattermost server logs that correlate with the error? i.e. out of memory written to `mattermost.log`?

[2020-05-04 18:42] chinyasuhail commented on #14452
@lieut-data  no errors written to mattermost.log; however; Nginx logs match with what I've shared above.

Out of curiosity, have you tried uploading 1GB+ file to mattermost on Nginx+s3?

[2020-05-04 18:48] lieut-data commented on #14452
Thanks again for confirming, @chinyasuhail. I haven't personally attempted to reproduce this issue yet, no. I'm hoping to route this to the right team who can help, though!

One more question comes to mind: did this stop working on the latest release, or is this just the first time it has been observed?

[2020-05-04 18:52] chinyasuhail commented on #14452
tbh, I've seen this issue in almost all the previous releases and was hoping it would be fixed in upcoming releases.

[2020-05-04 18:54] chinyasuhail commented on #14452
@lieut-data this may be out of the topic, but even Elastic Bean Deployments fail and I've not been able to deploy mattermost on AWS EBD to date.

[2020-05-04 22:26] abdusabri commented on #14373
@esethna

The scope also covers the search results and pinned posts lists like 👇, correct?

![flag-pin-pinned](https://user-images.githubusercontent.com/25670682/81019485-0b43f480-8e67-11ea-9653-c7e167a292ad.png)
![flag-pin-search](https://user-images.githubusercontent.com/25670682/81019491-0e3ee500-8e67-11ea-9a21-91a6fb58889d.png)

[2020-05-04 22:59] esethna commented on #14373
@abdusabri I'd propose that if the "pinned posts button is selected, we don't show the yesllow highlight and "pinned" blue text. Reason being is that if we do, then every post will be highlighted yellow in the pinned posts right hand side view. However, if the post if flagged, then I think we should show the "flagged" text and yellow highlight in this view.

Similarly, if the user is looking at th

[2020-05-05 03:24] esethna commented on #14142
Hey @rakhi2104, hope you're well, how's this going? Are you still working on this issue?

[2020-05-05 04:10] Roy-Orbison commented on #6276
Why close unresolved issues?

[2020-05-05 07:39] #14040 closed

[2020-05-05 10:18] fullstackguyhere commented on #13717
1. Sure, that was my plan.
2. There other components such as ReactionList, DotMenu which expect to get the post as proptypes.object rather than the actual post type.

[2020-05-05 10:51] #13715 closed

[2020-05-05 11:48] jasonblais commented on #6276
Hi @Roy-Orbison! Apologies, I should have included a note here as well.

We had not received any feature requests for it, so we closed it over other priorities at the time.

If you're interested in this feature, would you be open to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted

[2020-05-05 13:05] devinbinnie commented on #13717
@fullstackguyhere Those components shouldn't matter for this migration, we have the `Post` type in `mattermost-redux` that should suffice for migrating this component, but the others shouldn't need to be touched.

[2020-05-05 13:24] #13584 closed

[2020-05-05 14:12] nadalfederer commented on #14222
I'll take it

[2020-05-05 14:15] mattermod opened #14473 "Always show plugins in system console LHS"
As per discussion on https://mattermost.atlassian.net/browse/MM-24750, let's always show plugins in the LHS of the System Console, even if they don't have any "extra" configuration beyond the built-in enable boolean. This will be less surprising for plugins as such.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/

[2020-05-05 15:15] fullstackguyhere commented on #13717
@devinbinnie but they are giving error when I pass anything apart from proptyes.object as post props. [https://imgur.com/a/1Zh5vGI](url)

[2020-05-05 15:16] devinbinnie commented on #13717
@fullstackguyhere Can you put up a draft PR so I can have a look?

[2020-05-05 16:06] fullstackguyhere commented on #13717
@devinbinnie PR with adding types to other dependent components to resolve the type errors like above?

[2020-05-05 16:08] devinbinnie commented on #13717
@fullstackguyhere Just the current changes you have, no changes to other components.

[2020-05-05 16:15] mattermod opened #14476 "Webapp: update 'More unreads' banner in sidebar to match new mobile UI"
Update the UI of the 'More Unreads' banner in the Channel Sidebar to match the mobile styling (see linked ticket).

Figma design: https://www.figma.com/file/hUsPd4kQn3cSCwcw7eaJDL/MM-24518-More-Unreads-Banner-Update?node-id=1%3A646

  * Changed rounded corner style to better match existing UI and to be more inline with the new standard button style
  * Moved the arrow icon to the left to be more i

[2020-05-05 16:22] fullstackguyhere commented on #13717
@devinbinnie sure, but they won't compile because of other components giving error.

[2020-05-05 16:23] devinbinnie commented on #13717
@fullstackguyhere That's fine, I'd just like to see what you've done so far.

[2020-05-05 16:24] fullstackguyhere commented on #13717
@devinbinnie sure, then

[2020-05-05 17:27] fullstackguyhere commented on #13717
@devinbinnie https://github.com/mattermost/mattermost-webapp/pull/5445

[2020-05-05 18:30] mattermod opened #14478 "Quick access to camera roll for attaching photos on mobile"
**Goal**

With the recent [improvements to the post draft input](https://mattermost.atlassian.net/browse/MM-16263), there’s also an opportunity to more easily access user’s recent photos and reduce the number of taps to attach a recent photo to a message.

![image](https://user-images.githubusercontent.com/14333569/81106132-e5037080-8ec9-11ea-8e92-a3bb1bdb73a3.png)

**Requirements Summary**

  * U

[2020-05-05 18:34] moussetc commented on #10412
Hi,
Thanks for the mention. In addition to the points of the previous comment, as maintainer of the community plugin, I don't think I would be able to integrate the gfycat webapp integration in the foreseeable future by myself. Should it make sense to add it to this community plugin, and should someone want to become contributor to the plugin to add the integration, I'd welcome it.

[2020-05-05 18:39] chinyasuhail commented on #14452
@lieut-data I tried uploading a large file /posts of api endpoint.
I received an Nginx 502 error.

[2020-05-05 19:15] mattermod opened #14480 "Show toast when pressing back button on channel screen"
Based on user feedback, it can be frustrating that the app closes with the back button when they are trying to go back a level within the app and hit it one too many times.

Expected: When hitting the back button from the channel screen, show this standard toast requiring the user to hit the back button again to exit the app: https://youtu.be/1Nmy88n7CZ8

----
If you're interested please comment h

[2020-05-05 19:31] fedealconada commented on #14434
I'd like to give this a shot

[2020-05-05 19:55] abdusabri commented on #14373
@esethna I'd thought a bit about the approach your are proposing before I went with the one I shared with you, and what made me not so confident about it is:

Would the lack of consistency in styling between center channel and RHS confuse users? For example, if a post is pinned, and a user is viewing the list of pinned posts in RHS, the post would be highlighted (and with blue - depending on the t

[2020-05-05 20:42] esethna commented on #14373
Thanks for the feedback, @andrewbrown00 thoughts here?

IMO I'm not as concerned about consistency in the RHS as having a good user experience in the RHS. And I can imagine having a list with every post highlighted and repeated "pinned" or "flagged" text being unnecessarily distracting. Open to feedback though.

[2020-05-06 01:27] fedealconada commented on #14437
I can take this one!

[2020-05-06 01:27] fedealconada commented on #14436
I can take this one!

[2020-05-06 02:09] Roy-Orbison opened #14482 "Aliases for custom emojis"
#### Summary
Allow multiple names separated by space/comma to used internally as aliases.

#### Steps to reproduce
Hamburger menu > Custom Emoji > Add Custom Emoji

[2020-05-06 07:09] N-Schaef opened #14485 "Better error message for incoming webhooks without mime type"
Hello,
since updating the server, I noticed that my webhooks are not working anymore.
This seems to be the case, because the check against mime types was slightly changed:

https://github.com/mattermost/mattermost-server/blob/10538b481357f186949a082afef9999b01ab982e/web/webhook.go#L33

The error came from a library, which does not set the `Content-Type` header in it's request.
This is of course wr

[2020-05-06 13:55] protheusfr opened #14493 "Addd arm64 management for plugins"
Mattermost work well on arm / arm64 (thanks to Go), but they are artificially locked to adm64 arch for plugin management.

Is it possible to update the following code on `model/manifest.go:193 `:
[code]

By

[code]

 ?

[2020-05-06 14:19] lieut-data commented on #14452
@chinyasuhail, I haven't been able to reproduce this:
* Uploading a 1GB file directly to Mattermost (no reverse proxy) works out of the box
* Uploading a 1GB file through Nginx to Mattermost works once I configure `client_max_body_size` accordingly (in my case, I just set it to `0` to remove all limits).

[2020-05-06 14:30] #14052 closed

[2020-05-06 14:32] #14145 closed

[2020-05-06 16:13] devinbinnie commented on #13727
@strtw We have another contributor interested in working on this, as it is needed for another migration. How are things going?

[2020-05-06 16:26] strtw commented on #13727
@devinbinnie I have made some progress, but don't know TS that well so it's been slow. I wouldn't mind if someone else took over though. What's the best way for me to share my work in progress in case the new contributor would like to use it?

[2020-05-06 16:27] devinbinnie commented on #13727
@strtw You can create a draft PR for this issue, that will make your code public and easy for all to see.

[2020-05-06 16:39] tgstan opened #14495 "Switching channels often hangs and then places me 1-2 weeks in the past"
#### Summary
Switching channels often hangs and then places me 1-2 weeks in the past

#### Steps to reproduce
I'm running Mattermost 4.4.1 for macOS connecting to enterprise server 5.19.1. This problem has existed for some time. I've updated my client several times in hopes it would fix the problem, but it never does. Perhaps it's a server problem?

I'm in one channel, scrolled all the way to the

[2020-05-06 17:47] aaronrothschild commented on #10412
Hmmm, I worry about not shipping it by default.  Is this referring tothe emoji picker " gfycat tab" that shows up in Webapp?:
![image](https://user-images.githubusercontent.com/915956/81210442-be573f80-8f86-11ea-86fa-2dfc4afd4ddc.png)

This is related to the bigger conversation of "How do we ship features as Plugins more effectively" IMO.

[2020-05-06 17:56] amyblais commented on #14495
What Mattermost server version are you on? @tgstan

[2020-05-06 18:04] chinyasuhail commented on #14452
@lieut-data Thanks will try to see what I can do; also, what's the max upload limit on Mattermost Server without proxy?

[2020-05-06 18:05] agnivade commented on #14495
I believe there is already a ticket for this somewhere. Perhaps @sudheerDev or @hmhealey would know.

[2020-05-06 18:07] tgstan commented on #14495
I tried searching before opening this. If there is a ticket, apparently I didn't search for the right thing.

[2020-05-06 18:08] lieut-data commented on #14452
@chinyasuhail, it's [configurable](https://docs.mattermost.com/administration/config-settings.html#maximum-file-size), but defaults to 50mb. Beyond that, I don't think there is any hard-coded limit, other than what is imposed organically by the memory constraints.

[2020-05-06 18:08] jasonblais commented on #10412
@aaronrothschild yeah, that's the feature

Is that correct? I thought the plan was to ship community plugins in future, through the marketplace.

[2020-05-06 18:10] chinyasuhail commented on #14452
Thank you so much @lieut-data; before I go ahead and close this issue; would you let me know the ports to be open on the servers?

I've enabled `8065` on Mattermost Server and `443,80 ` in Proxy all in the same `vpc`

[2020-05-06 18:10] sudheerDev commented on #14495
@tgstan Hey, Here is a link to a forum thread https://forum.mattermost.org/t/switching-to-unread-channel-displays-arbitrarily-old-messages/9221/20. yes, there should be a ticket somewhere as well. Would you be interested in updating to 5.22v to check if this issue is resolved for you?

[2020-05-06 18:12] lieut-data commented on #14452
You're welcome, @chinyasuhail! In a single-server setup, only port `8065` is required by the Mattermost server, but I note this port is configurable if you require that flexibility. Depending on your security needs, only `443` may be required by Nginx, or additionally `80` if you want to expose a non-SSL connection.

[2020-05-06 18:13] aaronrothschild commented on #10412
@jasonblais Yes, BUT we always said that community plugins would not be BUNDLED with Mattermost server as "pre-downloaded".  I think that's the stopper here.  Currently, no one needs to install anything to get the Gfycat feature, but I'm not sure how often it is currently used.  Maybe when rudderstack lets us capture all user events again we can quantify it?

[2020-05-06 18:16] chinyasuhail commented on #14452
Awesome @lieut-data. Thank you so much for helping me out :)
Super grateful !!

[2020-05-06 18:18] jasonblais commented on #10412
@aaronrothschild we might have telemetry on it since there's a config setting admins have to toggle to enable the integration. And that's true regarding bundling of plugins.

[2020-05-06 18:52] tgstan commented on #14495
We're on ESR now. We're not so interested in going to the latest feature release to get a bug fix. Is there any chance that could be backported to 5.19.x?

[2020-05-06 18:58] esethna commented on #6276
Thanks for the PR!

[2020-05-06 19:22] andrewbrown00 commented on #14373
Thanks for the context here @abdusabri and @esethna 👍

I agree with Eric here that it will become very busy with the yellow highlighting in RHS. The RHS is move of a quick view for users to scan and see what's `flagged` or `pinned` or both and decide if they need/want to reply (if it's a thread) or jump to the message in the center channel. Using the yellow in the center channel provides users an

[2020-05-06 20:15] joshuabezaleel commented on #14424
Hi @mgdelacroix , I am interested in this issue but I want to clarify several things before taking on this if that's okay with you:
1. For query statement that's already using gorp's statement like [this one](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/plugin_store.go#L58), do we also have to rewrite it using the squirrel and pass it to the appropriate statement of t

[2020-05-06 20:16] amyblais commented on #14495
There have been fixes for this in v5.20 - v5.21 but I wasn't aware that it's also reproducing on v5.19. We can backport this to v5.19 @sudheerDev.

[2020-05-06 20:34] fedealconada commented on #14436
Would you please elaborate on "has underscore is returning more results than it should" @amyblais ?

[2020-05-06 20:35] amyblais commented on #14436
@ethervoid ^

[2020-05-06 20:38] fedealconada commented on #14437
@amyblais I'm trying to understand what's the expected outcome.
Say we have two posts:
1). t shirt
2). t-shirt

Right now, if I search for `t-shirt` it will return both posts.
The expected behaviour would be that if I search for `t-shirt` it should ONLY return post 1)?

[2020-05-06 20:39] amyblais commented on #14437
@ethervoid ^

[2020-05-06 20:40] amyblais commented on #14482
Thanks, appreciate your feedback @Roy-Orbison,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so an

[2020-05-06 20:54] ethervoid commented on #14437
@fedealconada yes, that's the expected outcome. If your search for t-shirt your should get just one result.

[2020-05-06 21:08] tgstan commented on #14495
After some internal discussion, we're willing to go to v5.21 since it's fixed there.

[2020-05-06 21:52] fedealconada commented on #14436
@ethervoid what do you think about doing something like this:
`searchClause := fmt.Sprintf("AND to_tsvector('english', replace(%s, '_', '/')) @@  to_tsquery('english', replace(:Terms, '_', '/'))", searchType)`

I've tested it out and it works, but not sure if I'm missing something...

[2020-05-06 21:54] amyblais commented on #14495
It seems from Sudheer's comment that there were additional fixes for this in v5.22, he might have more context into whether v5.21 fully fixes it.

[2020-05-06 22:15] abdusabri commented on #14373
Thanks @esethna and @andrewbrown00 for the feedback! 🙂

Here is a screenshot showing the 3 cases for search results (regular search, flagged posts, and pinned posts)

![search-pinned-flagged](https://user-images.githubusercontent.com/25670682/81233742-a2d84d00-8ff7-11ea-85e7-0e3455a20c29.png)

[2020-05-06 22:16] esethna commented on #14373
@abdusabri looks awesome! Can't wait for a PR ;)

[2020-05-06 22:19] abdusabri commented on #14373
Looks like I'm creating so much hype around this issue 😄.

I'm stretched very thin nowadays, but glad we are making progress 🙂, and I hope to have a PR before long

[2020-05-06 22:34] jelmd commented on #14316
Yes, i.e. at least I cannot find any setting for this. If there is a builtin setting, how long should I wait for checking?

[2020-05-06 22:40] andrewbrown00 commented on #14373
Thanks again @abdusabri can't wait to review the PR 🎉

[2020-05-07 03:42] bbodenmiller commented on #10412
At this point I personally think removing built-in Gfycat feature would be a bad idea. What is the driver for this? Some instances likely cannot install community plugins.

[2020-05-07 04:06] cmygray commented on #12475
I want to do

[2020-05-07 07:15] sudheerDev commented on #14495
@tgstan I suggest for 5.22v or 5.23v which will be released soon. There was a similar issue in 5.21v as well. This happens for users with specific screen resolution and with a chrome/desktop app.

I can suggest a couple of workarounds that help fix this problem for now.
1. Zoom out the app by a notch.
2. Use an alternate browser such as firefox.

[2020-05-07 07:57] dpanic opened #14498 "AWS S3 Prefix/Suffix"
#### Summary
At the moment, it is only possible to use root of the bucket. It will be nice to be able to use subfolder of the bucket. Some of us have more than 50 buckets...adding even single one more is chaos.

#### Expected behavior
Be able to set S3Prefix in order to use s3://bucket_name/s3_prefix/s3_object

#### Observed behavior (that appears unintentional)
{"level":"error","ts":1588836886.57

[2020-05-07 08:22] #13461 closed

[2020-05-07 09:12] #14422 closed

[2020-05-07 09:15] mattermod opened #14499 "If a plugin registered a custom tooltip, clicking hashtags to have no effect"
I can reproduce this with the demo plugin. Enabling the demo plugin causes hash tags not to work because of the registered LinkTooltip component. I don't know the exact cause, but it I believe it's related to this hook because it is having the same effect in my personal plugin I'm working on as well that uses the same hook. Disabling the demo plugin and refreshing the page makes it so hash tags wo

[2020-05-07 09:17] mgdelacroix opened #14500 "Refactor SQL queries in store/sqlstore/command_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/command_store.go`.

The expected way to implement this is to search in the `store/sqlstore/command_store.go` file for all the strings containing a SQL query and rewrite them w

[2020-05-07 09:18] mgdelacroix opened #14501 "Refactor SQL queries in store/sqlstore/job_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/job_store.go`.

The expected way to implement this is to search in the `store/sqlstore/job_store.go` file for all the strings containing a SQL query and rewrite them with squi

[2020-05-07 09:18] mgdelacroix opened #14502 "Refactor SQL queries in store/sqlstore/channel_member_history_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/channel*member_history*store.go`.

The expected way to implement this is to search in the `store/sqlstore/channel*member_history*store.go` file for all the strings containing

[2020-05-07 09:18] mgdelacroix opened #14503 "Refactor SQL queries in store/sqlstore/cluster_discovery_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/cluster*discovery*store.go`.

The expected way to implement this is to search in the `store/sqlstore/cluster*discovery*store.go` file for all the strings containing a SQL quer

[2020-05-07 09:18] mgdelacroix opened #14504 "Refactor SQL queries in store/sqlstore/command_webhook_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/command*webhook*store.go`.

The expected way to implement this is to search in the `store/sqlstore/command*webhook*store.go` file for all the strings containing a SQL query an

[2020-05-07 09:48] Chubik commented on #14499
I think its a wrong link
have got 404

[2020-05-07 10:00] mattermod opened #14505 "Bot username validation message is unclear as it does not mention which value is invalid"
When a bot username contains an invalid value the validation message reads "Must contain only letters, numbers, and the symbols '.', '-', and '_'."

It should read "Username must contain only letters, numbers, and the symbols '.', '-', and '_'. " to ensure it is clear to the user which field is invalid.

This is not a regression.

Steps:

  * Navigate to Bot creation page
  * Provide Invalid user

[2020-05-07 14:28] tgstan commented on #14495
OK, we'll wait for v5.23 if it'll be out soon.

Thanks!

[2020-05-07 14:37] devinbinnie commented on #12475
Sounds good, thanks @cmygray!

[2020-05-07 15:15] mgdelacroix commented on #14424
Hi @joshuabezaleel! Let me try and clarify your points:

 1. For those cases it won't be necessary. This tickets are focused on rewriting only those SQL queries that we have now in plan strings.
 2. For the cases where squirrel doesn't provide with specific functions, you can use a combination of `Prefix`, `Suffix` and `Expr`. For example, a possible solution for that query would be:

[code]

Hope

[2020-05-07 16:57] ethervoid commented on #14436
@fedealconada Could you please share here what kind of tests are you doing? I'm asking for this because what we want to achieve is to search for terms with underscores but the way we're creating [the index](https://github.com/mattermost/mattermost-server/blob/master/scripts/mattermost-postgresql-5.0.sql#L1548) is storing those terms splitted

[2020-05-07 17:11] ethervoid commented on #14437
In this case, to test the fix you're proposing you can also add a new test case [here](https://github.com/mattermost/mattermost-server/blob/ef5ac519d9ce0f2ee393d0a7f6a567788e1631f0/store/searchtest/post_layer.go#L1035-L1063) that searches for both terms, one with hyphens and another without it, and see if only one result is returned

[2020-05-07 17:27] #13938 closed

[2020-05-07 18:51] esethna commented on #10412
Gfycat feature is default off right now in the config as an FYI. I hope to turn it on by default though if we can solve some of the UX issues (ie collapsing and using in-line images instead of link previews)

[2020-05-07 23:24] amyblais commented on #14485
@N-Schaef Are you on server v5.22? What OS and version are you on?

[2020-05-07 23:27] amyblais commented on #14493
@protheusfr I can ask our team about this. What is the reason behind the request?

[2020-05-07 23:30] amyblais commented on #14498
What Mattermost server version and OS are you on?

[2020-05-07 23:31] #14495 closed

[2020-05-07 23:35] amyblais commented on #14367
### v5.23 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.23.0-rc3/mattermost-team-5.23.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3538/files)

[2020-05-08 04:55] agnivade commented on #13777
This is not needed now. See comment here: https://github.com/mattermost/mattermost-server/pull/13905#issuecomment-625629889.

[2020-05-08 04:55] #13777 closed

[2020-05-08 07:41] dpanic commented on #14498
5.22.1
Linux Ubuntu 18.04.4

On Fri, May 8, 2020 at 1:30 AM Amy Blais <notifications@github.com> wrote:

[2020-05-08 09:58] N-Schaef commented on #14485
Yes 5.22.1 on debian buster.

But as I said, I guess this is expected behaviour and is already being fixed in the library.
The slack API behaves in exactly the same way.

I just wanted to suggest to check against missing Content-Type headers and then writing a note in the `detailed_error` section of the response to give better feedback to the user

[2020-05-08 12:03] eni23 commented on #13922
We have the exact same issue, after an Upgrade from 5.9 LTS to 5.19 LTS LDAP sync is not working anymore. We cannot enable the group sync feature, what to do?

[2020-05-08 12:10] eni23 opened #14510 "LDAP Sync not working anymore after Upgrade from 5.9."
## Summary
After upgrading from 5.9 LTS to 5.19 LTS, LDAP sync is not working anymore.

#### Steps to reproduce
Upgrade from 5.9 to 5.19 with LDAP sync enabled, but whitout group sync.

#### Expected behavior
LDAP sync is still working.

#### Observed behavior (that appears unintentional)
LDAP sync is not working:
[code]
Looks like mattermost tries to do a group sync which we do not want.

LDAP co

[2020-05-08 12:11] eni23 commented on #14510
More additonal Infos: we can oly upgrade to LTS releases.

[2020-05-08 12:22] amyblais commented on #14510
@eni23 What are your LDAP related settings set to?

[2020-05-08 12:29] eni23 commented on #14510
OK, i found the issue:

The following settings create the issue:
[code]
if set the group stuff to something like (does not matter if search not returns any results):
[code]
Then the LDAP-sync works again. But this is definitely a bug.

[2020-05-08 12:43] lieut-data commented on #14411
@fuerstberger, to help verify the reproduction, can you share a before and after file that showcases the unexpected modifications?

[2020-05-08 12:45] agnivade commented on #14411
Hi @fuerstberger - would it be possible for you to share the tar.gz file for us to test it ?

I just tried with a sample file like https://github.com/mattermost/mattermost-push-proxy/releases/download/v5.21/mattermost-push-proxy.tar.gz which contains a binary inside. But both the binary size and md5sum was a match.

[2020-05-08 12:49] amyblais commented on #14485
Opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-24977.

[2020-05-08 12:55] amyblais commented on #14316
This is a feature request but I opened a ticket here: https://mattermost.atlassian.net/browse/MM-24978.

[2020-05-08 13:37] wiersgallak commented on #14432
Hello @riedel Thank you for providing this insight on the changes to the invite flow.  I have created a ticket for our UX team to review your input and see if there are some additional improvements we can make.  Feel free to follow https://mattermost.atlassian.net/browse/MM-24979 for updates on this.

Regarding the security concerns and a potential solution, wondering if adding a domain restrictio

[2020-05-09 00:41] #11999 closed

[2020-05-09 07:13] fuerstberger commented on #14411
@lieut-data and @agnivade Thank you for your support.
I used the binary from your push-proxy tar.gz and and used only this file to build a tar.gz. uploaded it to mattermost and downloaded it again. the binary itself seems to be unchanged, but the tar.gz file is.
If you use diff, it returns the files are different and the md5checksum differs as well for the tar.gz:

md5sum mattermost-push-proxy_mm.

[2020-05-09 08:33] agnivade commented on #14411
Thanks @fuerstberger. Unfortunately, I am still unable to reproduce your problem. I am wondering if this is somehow related to the environment where Mattermost is running. I am running locally on an Ubuntu box.

Can you share more details on the environment where you are running ?

Also, to be sure, you are using the local filestore, and not S3 or Minio right ?

It would be also great if you can a

[2020-05-09 09:40] riedel commented on #14432
thanks alot

Domain restrictions helps a bit, we ended up letting only admins invite and made them aware of implications. Actually the documentation of the domain restriction feature puzzled me a bit: it talked about whitelisting and I could not find documentation about the precedence of rules here (do all requirements need to apply, or is it then public to the people in the whitelist).

To allow

[2020-05-09 13:19] chinyasuhail commented on #14452
Hi @lieut-data,
After failing 70 times! yeah that's 70times I've destroyed and rebuilt a droplet and installed mattermost on it; I'm still unable to pass beyond 500MB on my installations.

I use this bash script to automate the installation
[code]

and the create a large file using `fallocate -l <size> <filename>` command and post it to the mattermost file upload endpoint

[code]

And every time b

[2020-05-09 15:06] joshuabezaleel commented on #14424
Hi @mgdelacroix , Thank you very much for a really helpful explanation! Sorry that I missed the `SuffixExpr` when reading the Godoc.

I've put up a PR for this issue. Looking forward to hearing from you! :slightly_smiling_face:

[2020-05-09 15:08] mgdelacroix commented on #14424
No worries @joshuabezaleel, thanks a lot for your PR!! :smile:

[2020-05-09 15:12] joshuabezaleel commented on #14504
May I have a shot on this? :slightly_smiling_face:

[2020-05-09 15:13] mgdelacroix commented on #14504
Sure! All yours :)

[2020-05-09 15:49] joshuabezaleel commented on #14504
Hi @mgdelacroix , I want to clarify something first if that would be okay with you.
Since I can't use `UseCount  +1` as a value for `.Set()` statement for [this](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/command_webhook_store.go#L73) particular query, should I retrieve the value of `UseCount` first to be used for the `queryBuilder` for this particular query?

Thank

[2020-05-09 16:28] DavidBM commented on #8886
Hey! Any update about that proposal? Mattermost is a good alternative as privacy conscious alternative to slack, but with that license is a blocker.

[2020-05-10 03:00] justledbetter opened #14525 "Users not matching on mixed-case SAML assertions (and possibly other places)"
#### Summary
Systems that use mixed-case in the attribute targeted for username may encounter errors logging users in.

#### Steps to reproduce
* Create a user account in SAML provider, ensure username attribute is all lowercase.
* Login and observe the user account is created in Mattermost with an all-lowercase username
* Logout from Mattermost and modify the user's profile in SAML provider to us

[2020-05-10 18:42] Qovaros commented on #14228
@andrewbrown00 while removing this tooltip from dropdown menu chevron I noticed, there are some other icons which also have this tooltip. Shouldn't those be removed too? If yes, maybe we should create an issue about taking care of all such things in webapp?
![Screenshot from 2020-05-10 20-30-33](https://user-images.githubusercontent.com/22624476/81507584-abce6480-92fe-11ea-80da-bcc1637e5b88.png)
!

[2020-05-10 19:37] larsnaesbye opened #14528 "Emojis from Emoji 5.0 and 11.0"
It would be real nice to have the newer emojis available from Emoji 5.0 and 11.0 available through the emoji picker.

If there is a way I can help to add them according to a prescribed procedure, I'd love to concoct a pull request.

[2020-05-10 23:01] justledbetter commented on #14525
Thinking about it further, I'm incorrect in thinking the SQL `xxx = lower(?)` would require an additional index.  It was late and I was being silly.

Would definitely recommend doing this in-database rather than in Golang, since databases are generally designed to be optimally efficient with stuff like this.

[2020-05-10 23:47] andrewbrown00 commented on #14228
Thanks @Qovaros for bringing this to our attention 👍

Would you be interested in creating a separate issue and removing all tooltips from the icons? Not sure of it's easier for you to find them in the code or you'd like us to take an inventory of where they are in the product first?

cc @esethna this would be a nice improvement to clean up unnecessary tooltips

[2020-05-10 23:47] dantepippi commented on #14500
I'm willing to take this one.

[2020-05-11 06:52] fuerstberger commented on #14411
@agnivade thank you for your reply.
I'm using Ubuntu 18.04.4 LTS and yes, storage is on local filesystem.
The md5sum on the server is the same as on original :
bc0d13ab5468c61d4f83dd6675006d92  mattermost-push-proxy.tar.gz, so file upload looks fine.

[2020-05-11 09:37] agnivade commented on #14411
Ok, so now let's try to eliminate the browser from the equation here.

Once you open the network tab in your browser, you should be `MMAUTHTOKEN` in the cookie. Note that token, and the file id that you are trying to download.

And then try this:

`curl -o curl.tar.gz -H "Authorization: Bearer token" http://localhost:8065/api/v4/files/file_id?download=1`

And let us know if you see any difference

[2020-05-11 09:43] hanzei commented on #14148
@allenlai18 Did my latest changes allowed you to build and deploy the plugin?

[2020-05-11 09:57] hanzei commented on #10412
@esethna Would you mind also sending me an invitation and I see if I can make it?

[2020-05-11 10:00] hanzei commented on #14499
@Chubik Eagle eyes, fixed it :+1:

[2020-05-11 10:38] Touchwoody opened #14531 "Custom Terms of Service and Privacy Policy links not displayed in about menu nor anywhere else after login"
#### Summary
When running an own mattermost (web) server one needs to display or link to their own privacy policy somewhere on the web pages. This is often by law: the user has to be able to find these information in an easy, visible and unblocked way.
In the past, these were at least displayed via the "about" link in the main menu.

Originally I wanted to file the same error as in https://matterm

[2020-05-11 12:15] amyblais commented on #14525
@justledbetter What Mattermost server version are you on? What OS and version are you on?

[2020-05-11 13:27] amyblais commented on #14498
Thanks, appreciate your feedback @dpanic,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2020-05-11 13:32] amyblais commented on #14528
I think there is a ticket open related to this https://mattermost.atlassian.net/browse/MM-22642. @hmhealey might know if this can be opened as a Help Wanted issue.

[2020-05-11 13:47] larsnaesbye commented on #14528
Ah okay, thank you @amyblais . That ticket says 13.1, that's of course much newer than my suggested 5.0 and 11.0.

If there's a way emojis have been added in the past, I might just follow it :-)

[2020-05-11 14:25] protheusfr commented on #14493
Hello @amyblais ,

We use Mattersmost in an ARM64 server and would like to use some existing plugins.
Most of them can be easily recompiled for ARM64 but the artificial limitation in `model/manifest.go` (see my initial message) avoid to achieve that.

[2020-05-11 14:45] Qovaros commented on #14228
I can find and remove them myself. I would just need some confirmation which should and which shouldn't be removed. If you want me to I can create an issue, link it here and list all unnecessary tooltips I found.

[2020-05-11 16:25] lieut-data commented on #14452
@chinyasuhail, thanks for the extra detail. I wonder if you might be open to raising this issue in our peer-to-peer help channel at https://community.mattermost.com/core/channels/peer-to-peer-help? I don't have the ability to spin up a Digital Ocean droplet to exactly reproduce your test case, but it's possible someone from our community is able to do so and can help debug further.

Feel free to t

[2020-05-11 17:17] esethna commented on #14228
Sure, thanks @Qovaros!

[2020-05-11 18:58] dpanic commented on #14498
Hey, done: https://mattermost.uservoice.com/forums/306457-general/suggestions/40397779-aws-s3-prefix-suffix

About implementing, I am too busy at the moment. If nobody votes up, probably I will implement it myself, but not now, maybe in 2-3 months.

Thanks!

[2020-05-11 19:01] justledbetter commented on #14525
5.22.0
RHEL 7

(All files referenced in my report are from the master branch.)

[2020-05-12 07:22] harshilsharma63 commented on #14493
@protheusfr just out of curiosity, are you able to run Mattermost fine on ARM64 machine?

[2020-05-12 07:24] protheusfr commented on #14493
Yes, without any issue, in version 5.22.0.

[2020-05-12 07:45] harshilsharma63 commented on #14493
@protheusfr very interesting! I didn't know go can compile for ARM.

[2020-05-12 07:55] fuerstberger commented on #14411
When I use the curl command, the md5sum is correct.
md5sum curl.tar.gz
bc0d13ab5468c61d4f83dd6675006d92  curl.tar.gz

[2020-05-12 08:13] protheusfr commented on #14493
Go is very versatile you can cross compile on any platform for any platform on this list :

[code]

[2020-05-12 09:58] agnivade commented on #14411
Thanks. I tried playing around with compression settings with curl and enabling/disabling the gzip mode in the server, but every time got the same response.

I am wondering if the browser is somehow modifying the archive (albeit in a harmless way since the actual binary file inside it is untouched) ? Is the change in the archive causing any issues or is it something you just noticed ?

There's yet

[2020-05-12 13:04] fedealconada commented on #14436
Oh! I didn't know there were tests :) I just took at look at `post_store_test.go` and thought there were no tests. They way I previously "tested" was just via the frontend and searching an email.
I've just pushed a change and run the tests you mentioned and they pass...

[2020-05-12 13:31] craph commented on #13059
@amyblais Sorry for being late but I've just create a PR about this subject.

Please could you have a look and tell me if I need to fix something.

Thank you very much.

Best regards,

[2020-05-12 14:52] farah commented on #14505
I would like to start working on this issue. thanks.

[2020-05-12 15:25] fuerstberger commented on #14411
Well, it looks like maybe mattermost adds another "compression"-layer to the file. This causes a problem, when uploading such tar.gz archives to servers to validate, if the files was build with only tar.gz compression for example (here it was a R package for cran). Not sure how this happens or how the archive modification can be eliminated, but this would be useful.
You are right, no harm done to

[2020-05-12 18:47] #14008 closed

[2020-05-12 21:27] jasonblais commented on #10115
This command is being migrated to and resolved in the new mmctl tool at https://github.com/mattermost/mmctl/pull/149.

Closing this issue as we won't resolve it in the current Mattermost CLI (instead, we're migrating the new mmctl command into the Mattermost server over time)

[2020-05-12 21:27] #10115 closed

[2020-05-12 21:41] jasonblais commented on #14505
Great, thanks @farah! Welcome to the community :) :tada:

[2020-05-12 21:50] jasonblais commented on #13656
This ticket is resolved

[2020-05-12 21:50] #13656 closed

[2020-05-12 22:47] rajnmithun commented on #14502
Can I work on this?

[2020-05-12 23:26] jasonblais commented on #13256
@DSchalla With #13258 closed and https://github.com/mattermost/mattermost-server/pull/13967 merged, should we close this issue? Do we have any follow up tickets?

[2020-05-12 23:27] DSchalla commented on #13256
I think that makes sense, thanks @jasonblais and as mentioned in the PR, appreciate your contribution @giuliocomi!

[2020-05-12 23:27] #13256 closed

[2020-05-12 23:43] amyblais commented on #14498
Sounds good, thank you!

[2020-05-12 23:43] #14498 closed

[2020-05-13 00:26] dantepippi commented on #14501
Please assign me this one.

[2020-05-13 02:46] SemperRuminare opened #14553 "Mobile Log in doesn't pull server"
#### Summary
Mobile Users experience a blank page with limited functionality that sometimes breaks Mattermost. Workaround required to restore functionality. Believe it is tied to pulling the server the user is on

#### Steps to reproduce
Current User Id: 381cipon6tdhfkghshqp7uey5r
Current Team Id: Server
Version: 5.22.0 (Build 5.22.0)
App Version: 1.30.1 (Build 287) App Platform: android

I believ

[2020-05-13 03:06] #13657 closed

[2020-05-13 08:08] giuliocomi commented on #13256
My pleasure, thank you @DSchalla for the interesting discussions!

[2020-05-13 09:33] kadir96 commented on #14503
I would like to work on this.

[2020-05-13 12:14] amyblais commented on #14510
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-25121.

[2020-05-13 13:04] farah commented on #14505
Just one thing @jasonblais , I think this issue should be in mattermost webapp repository not the server.

The string that needs to be changed is in the```isValidUsername``` method inside in ```mattermost-webapp/utils/utils.jsx```. I tested it and it works. Let me know if I should make a PR on that repo.

[2020-05-13 13:20] amyblais commented on #14553
@SemperRuminare What Android version are you on?

[2020-05-13 13:47] sbishel commented on #14379
This should be reviewed and probably fixed. I don't think we are distinguishing between a missing attribute and an existing attribute that is empty.

[2020-05-13 13:50] sbishel commented on #14525
Should definitely be investigated by Enterprise team.  Thanks @justledbetter

[2020-05-13 13:52] cpoile commented on #14493
@lieut-data or @levb should this go on one of our team's boards? Perhaps add it to server, the starter template, and the makefile?

[2020-05-13 13:56] lieut-data commented on #14493
I'm hesitant to do anything for plugins until we also ship and support an arm-compatible Mattermost server. It's awesome to hear that it works "out of the box", but I don't think we should add arm64 support piecemeal right now. cc @aaronrothschild for thoughts.

@protheusfr, while the `Executables` map has this restriction, the `Executable` string des not. If you define that instead, it will skip

[2020-05-13 14:10] protheusfr commented on #14493
Thanks for the tip @lieut-data , and yes, I use ARM64 version(in a Kubernetes cluster of Raspberry 4) in production since months without any issue, neither performance or suspect messages in logs.
It work like a charm.

[2020-05-13 14:19] SemperRuminare commented on #14553
Version 10 (Kernel 4.9.186)

[2020-05-13 14:20] harshilsharma63 commented on #14493
Maybe we can ARM-compatible Mattermost release in the future? Apple is also working on ARM CPUs in new MacBooks 😛

[2020-05-13 14:35] protheusfr commented on #14493
Not sure about the pertinence to host Mattermost on a laptop, but the entire server industry has begun a (long) switch to ARM architecture. AWS sale Cloud instances (EC2A1) on ARM (graviton), servers CPU makers announce new products (Ampere, Triton, ...) and hardware distributors are preparing or began to sell new servers class ARM-based.
Due to the capability of this kind of architecture to easil

[2020-05-13 14:47] lieut-data commented on #14411
@fuerstberger, is this just the Gzip compression that the server applies when emitting the HTTP response? Normally, the browser strips that off to recover the original file unmodified. curl does that automatically too. What browser are you using?

[2020-05-13 15:02] fuerstberger commented on #14411
@lieut-data We tried Safari and Firefox.

[2020-05-13 15:17] #13059 closed

[2020-05-13 15:37] hanzei commented on #14501
Sure @dantepippi :+1:

[2020-05-13 16:41] ali-farooq0 commented on #13928
Hey @Qovaros looks like we had to revert your change because it was breaking plugins. I figured out what the issue is, would you open to fixing the issue and putting up a new PR? Let me know.

[2020-05-13 16:46] Qovaros commented on #13928
Yeah, sure. I can do it.

[2020-05-13 16:53] ali-farooq0 commented on #13928
Great @Qovaros! The fix is tiny, following are the steps to reproduce:

1. Load multiple plugins (preferably with webapp component, so it's easier to see the issue). e.g. load [zoom](), [demo-plugin](https://github.com/mattermost/mattermost-plugin-demo/releases/download/v0.6.0/com.mattermost.demo-plugin-0.6.0.tar.gz)
2. Update [`SYNC_INTERVAL_MILLISECONDS`](https://github.com/mattermost/mattermost

[2020-05-13 17:23] wiggin77 commented on #14382
This appears to be an issue with the upgrade path.  A probable solution is provided here:  https://mattermost.atlassian.net/browse/MM-19203

[2020-05-13 17:28] amyblais commented on #14553
@SemperRuminare Would you be able to share more details on what you mean by "defaulted to Server"?

[2020-05-13 17:30] SemperRuminare commented on #14553
Yes, per "steps to reproduce" section, current team Id is "Server," not any particular Team Id.

Current User Id: 381cipon6tdhfkghshqp7uey5r
Current Team Id: Server
Version: 5.22.0 (Build 5.22.0)
App Version: 1.30.1 (Build 287) App Platform: android

[2020-05-13 17:46] agnivade commented on #14382
Hi @applic8-sa, as @wiggin77 correctly pointed out, this issue seems to be a corner-case bug in our DB schema upgrade path which can happen if someone upgrades from a very old version to a new version. From your initial comment

mattermost-team-4.7.2 to mattermost-team-5.13.0 and the above
issue started to appear.

that does indeed seem to be the case.

The solution is given in the JIRA ticket whi

[2020-05-13 18:56] daanvV opened #14564 "Direct group messages disappear from "direct messages" list after opening."
#### Summary
Direct group messages disappear from "direct messages" list after opening.

#### Steps to reproduce
Set direct messages sorted to "recent"
Someone sends you a direct group message.
Open the message (in my case I opened it on my OnePlus phone). Exit the app.
Try to find the message again on mattermost web app under direct messages --> not able to find.
If you open the "more" option bel

[2020-05-13 18:59] amyblais commented on #14564
@daanvV Would you be able to help share more information about your environment from here: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2020-05-13 19:08] daanvV commented on #14564
I don't know how to check logs.. hopefully this helps
Phone
![WhatsApp Image 2020-05-13 at 21 07 09](https://user-images.githubusercontent.com/23032482/81854172-d1a57480-955d-11ea-832e-05cb5b8461b8.jpeg)
Web
![image](https://user-images.githubusercontent.com/23032482/81853920-6e1b4700-955d-11ea-8681-1a63617763f1.png)

[2020-05-13 19:11] kadir96 commented on #14433
I would like to work on this.

[2020-05-13 19:12] ethervoid commented on #14433
@kadir96 Great. Thank you! All yours :)

[2020-05-13 20:38] aaronrothschild commented on #14493
@protheusfr Thank you for raising this I think it's a valid point in terms of getting ahead of the curve around upcoming hosting services that may become available.  I'm a fan of "low-cost" options that help our customers deploy on the "hardware" they like.

This seems like something that should simmer in dev/test environments for a long time so issues can bubble up.  As you've pointed out you've

[2020-05-13 22:03] amyblais commented on #14564
Thanks, opened a ticket here https://mattermost.atlassian.net/browse/MM-25146.

[2020-05-13 22:04] amyblais commented on #14553
@SemperRuminare I asked our team about this but they're unsure about where the "Server" team id comes from. Did you start seeing this after an upgrade or has this been like this before? Have you made any recent changes to your server?

[2020-05-13 22:06] Matterchen opened #14566 "Collapsing public channels via chevron makes the channel filter appear broken"
#### Summary
If you (inadvertently) collapse the public channel list, clicking on the channel filter button has no effect and appears to be broken.

#### Steps to reproduce
1. v5.22.3
2. Click on the collapse public channel chevron (see image)
3. Click on the larger channel filter button

<img width="248" alt="Collapse channels" src="https://user-images.githubusercontent.com/33878967/81870667-3398

[2020-05-13 22:17] FlaviaBastos commented on #14007
Added PR https://github.com/mattermost/mattermost-server/pull/14567 for this issue.

[2020-05-13 22:37] kadir96 commented on #12418
I would like to work on this.

[2020-05-13 23:06] amyblais commented on #14566
@Matterchen Would you like to submit this feedback via the channel sidebar feedback survey here: https://docs.google.com/forms/d/e/1FAIpQLSdfhLIbtfXR6507tSbufjKphoYdUDD7b7WE7AJHZyKB8oom2w/viewform?

If you prefer not to I can open a Jira bug ticket for this.

[2020-05-13 23:52] SemperRuminare commented on #14553
No changes recently - we're on 5.22.0 and have been since the middle of April. We're on the DoD server.

[2020-05-14 03:12] abdusabri commented on #14373
@esethna I'm finally done with coding and unit testing 😀

I had and initial look into E2E tests, and I can think of 2 options:

- I continue looking into E2E tests to update and create tests as needed. But this could take a while, because a) the scope of work involves many specs in E2E tests (some of which are already failing even on latest master and before introducing the new changes), b) the li

[2020-05-14 03:21] esethna commented on #14373
@abdusabri awesome! Feel free to submit the PR now So we can start UX and PM reviews, and you can continue work on the E2e tests as you have time :)

[2020-05-14 08:29] hajowieland commented on #14124
@catalintomai thx for helping me out.

Even with the most-recent Mattermost version **5.22.3**, I still get an "Invalid state" error when trying to log in via Auth0:

`{"level":"error","ts":1589444776.7644777,"caller":"mlog/log.go:175","msg":"Invalid state","path":"/login/sso/saml","request_id":"698h15z98jfcxmapcz3zs3hefe","ip_addr":"188.195.158.78","user_id":"","method":"POST","err_where":"comple

[2020-05-14 09:23] hanzei commented on #12418
That's great @kadir96. Please let me know if you have any questions.

[2020-05-14 09:24] jonepet opened #14569 "Text search (with MySQL) is too slow"
#### Summary
After importing about 600 000 messages from a Hipchat instance a simple word search is timing out, with database query running for 80+ seconds. This is way less than the expected 2,5M messages before migrating to Elasticsearch is recommended in the docs.

#### Steps to reproduce
Import a large number of chat history into a new instance using MySQL (5.7)
Try to run a simple word search

[2020-05-14 10:07] hanzei commented on #14493
1. One concerns with including support for more architectures into the Plugin Toolkit is, that it increases the bundle size of all plugins. E.g. the GitHub plugin is 30MB big, which is considerable once an admin starts to run > 10 plugins.
2. @protheusfr Did you build your release of Mattermost yourself?
3. At least `linux-arm64` and `darwin-amd64` seam to be discussed here. Are there other archit

[2020-05-14 15:21] lieut-data commented on #14493
@aaronrothschild, agreed that it might be worth spending time on, but I'd suggest we tackle this "top-down" and have @wiersgallak evaluate priorities on supporting arm at a platform level. Plugins would naturally follow.

[2020-05-14 16:47] esethna commented on #14157
Hey @pradeepmurugesan, how's this going? Any questions?

[2020-05-14 16:49] protheusfr commented on #14493
I only compiled the Team edition version without any modification.

[code]
That's all (almost, I add a few ldflags for `/model.BuildNumber` and some additional information, and I also have to compile config_generator to produce the default `config.json`).

All other files come from the official binary package (fonts, i18n, templates, client, ...).
In 1995, Sun Microsystem launched the slogan "Writ

[2020-05-14 16:53] #14367 closed

[2020-05-14 20:41] hmhealey commented on #14528
Updating the emoji sets is something we'd definitely like to do, but we've ran into some issues with that. We used to use https://github.com/github/gemoji to generate a list of emojis and emoji images, but they've since stopped supporting extracting emoji images. We've considered things going forward like relying on the browser to provide native emojis instead of supplying emoji images, but we hav

[2020-05-14 21:27] SemperRuminare commented on #14553
So I believe this issue started when I upgraded to 1.30.1

[2020-05-15 00:11] #14184 closed

[2020-05-15 05:58] agnivade commented on #14569
Thank you for filing the issue @jonepet. I have created https://mattermost.atlassian.net/browse/MM-25239 to track this. Feel free to subscribe to the ticket to be up to date with its progress.

[2020-05-15 07:47] catalintomai commented on #14124
From what  I can see, it is a different, later-stage error , don't think we've seen it before, for some reason we fail to decode the RelayState token received from the IdP (see step 5 in https://en.wikipedia.org/wiki/SAML_2.0). Might be helpful to share the value you observe being shared around, maybe it got lost/corrupted somewhere along the way.

[2020-05-15 13:05] #13723 closed

[2020-05-15 14:18] enahum commented on #14553
@SemperRuminare do you happen to have the config setting for `ExperimentalPrimaryTeam` set ?

[2020-05-15 14:57] kadir96 commented on #12418
@hanzei Should the struct in the issue description be implemented as-is or it is an example? Also, I see that previous PRs added `GetChannelsWithOptions()` to `channel store`. Is this how I should proceed? Would it be ok to extend the struct with `teamId`, `userId` and `includeDeleted` and update `GetChannels()` in the `channel store` instead of adding `GetChannelsWithOptions()`?

[2020-05-15 15:06] enahum commented on #14553
Also are you getting the current team id from the `Report a problem` option?

I'm trying to  identify where in the codebase the word `Server` might get set as the id, but I cannot find anything like that anywhere...

[2020-05-15 15:09] enahum commented on #14553
and another question, is it always the same word `Server` as the team Id ?

[2020-05-15 15:37] enahum commented on #14553
do you know if this happens right after opening a push notification or does it happen at login?

[2020-05-15 16:19] SemperRuminare opened #14582 "LaTeX Markdown"
#### Summary
LaTeX markdown does not work in 5.22.0 per instructions in markdown guide.
https://github.com/mattermost/mattermost-server/issues/11195
https://docs.mattermost.com/help/messaging/formatting-text.html

#### Steps to reproduce
Typed:
[code]

#### Expected behavior
Same as markdown guide
![image](https://user-images.githubusercontent.com/2375683/82072704-1cca9f00-96a6-11ea-94a2-80aae4942

[2020-05-15 16:35] SemperRuminare commented on #14553
Yes, this was autogenerated.

This happens on login. I am able to DM people but it only allows me to see that DM channel. If I am not logged in I don't get push notifications so I can't test that.

Yes. Tested again. Same word.

Will get back to you later today when I can pull the config.

[2020-05-15 16:53] #13507 closed

[2020-05-15 18:59] SemperRuminare commented on #14553
Yes, it is set to: "ExperimentalPrimaryTeam": "Welcome"

Should this be lowercase to be the same as our team url?

[2020-05-15 19:06] enahum commented on #14553
Its something that I’m going to test. Is everyone a member of that team?

Regardless Welcome != Server, but will try and figure it out

[2020-05-15 19:07] SemperRuminare commented on #14553
Changed to lowercase, didn't fix the issue.

![image](https://user-images.githubusercontent.com/2375683/82087280-c701f100-96bd-11ea-8fbb-5ad9f44cf819.png)

[2020-05-15 19:12] enahum commented on #14553
The thing is it seems you can reproduce this easily and I have yet to reproduce it once :/

[2020-05-15 19:44] enahum commented on #14553
@SemperRuminare that’ll be great, can we coordinate for monday? You can look me up in the community.mattermost.com server

[2020-05-15 22:11] amyblais commented on #14582
@SemperRuminare What OS and version are you seeing this on?

[2020-05-15 22:42] sbishel commented on #14525
Jira ticket - https://mattermost.atlassian.net/browse/MM-25282

[2020-05-15 22:56] sbishel commented on #14379
https://mattermost.atlassian.net/browse/MM-25283

[2020-05-16 01:15] ostapski opened #14585 "Built in tracking is not acceptable"
Why have you build a tracking system that cannot be disabled into your system ?

[2020-05-16 08:14] hanzei commented on #12418
@kadir96 Good suggestion with `GetChannels()`. Yes, it makes sense to change the signature to `GetChannels(teamId, userId string, includeDeleted bool, ChannelTypes []string) (*model.ChannelList, *model.AppError)`. The `app` layer would then take care of mapping the values of `GetChannelsOptions` the the correct call to `GetChannels`.

`IncludeDeleted` should also be part of `GetChannelsOptions`.

[2020-05-16 08:28] hanzei commented on #14499
@mickmister 9 days have passed no one grabbing this. Would you please take a look?

[2020-05-16 09:18] kadir96 commented on #12418
@hanzei `Page` and `PerPage` params are missing in the signature you mentioned and when they are added, it becomes `GetChannels(teamId, userId string, includeDeleted bool, ChannelTypes []string, page, perPage int) (*model.ChannelList, *model.AppError)` and I think it becomes very bloated. I was thinking changing the signature to `GetChannels(opts model.GetChannelOptions) (*model.ChannelList, *mode

[2020-05-16 10:14] mickmister commented on #14499
@hanzei I've found the issue and have a [branch](https://github.com/mattermost/mattermost-webapp/commit/87b23ea2c5da1a717036899ddc6d166ec5e21519) with a fix. Will create a PR within the next few days. There will likely need to be some discussion around the solution.

[2020-05-16 10:59] ikeohachidi commented on #13705
I can take this

[2020-05-16 11:01] SemperRuminare commented on #14582
Server: 5.22.0
OS: Windows 10

[2020-05-16 15:32] hanzei commented on #14499
Thanks for the quick fix @mickmister. :+1: Given that the github plugin makes use of the tooltip feature in https://github.com/mattermost/mattermost-plugin-github/pull/258, it would be great to get the fix into 5.24.

[2020-05-16 18:51] justledbetter commented on #14525
I'm working on writing a patch (and associated tests) for this, hope to have a PR for it shortly.

[2020-05-16 21:26] justledbetter commented on #14525
Fix submitted via PR-14587

[2020-05-17 02:30] ali-farooq0 commented on #13928
Hey @Qovaros, just checking in to make sure you're still able to wrap up this GH issue?

[2020-05-17 07:57] Qovaros commented on #13928
Yes, I just had no time to do it yet.

[2020-05-17 09:40] ali-farooq0 commented on #13928
No worries, whenever you get a chance. Let me know if you need any help. :)

[2020-05-18 11:25] MartB commented on #14585
Check https://docs.mattermost.com/administration/telemetry.html and please tell us if there's something still active that you cant disable.

[2020-05-18 12:57] sowmiyamuthuraman commented on #14480
I would like to work on this!

[2020-05-18 15:10] pradeepmurugesan commented on #14157
Nope.. cleared with Elias via the community chat. No api changes needed. Working on it. No questions. Just not finding the time. Will try to wrap it this week..

[2020-05-18 16:14] applic8-sa commented on #14382
Hi @agnivade,

Do you have a tool to check the consistency of the current postgresql schema for mattermost database against the spec of the version (Database Schema Version: 5.22.0)?
If not where can I find the schema for 5.22.0 version to compare it?

Where can I find the ALTER TABLE for the missing indexes?

The alternative might be to do a pg_dump of the current db, install mattermost from scra

[2020-05-18 16:38] agnivade commented on #14382
Yes, mostly what you said. You can create the 5.22 schema by starting the same mattermost instance and pointing to a dummy DB.

To get the diff of the schemas, please see this comment:
https://mattermost.atlassian.net/browse/MM-19203?focusedCommentId=69371

And then if you have any questions on what indexes are safe to add/remove, see:
https://mattermost.atlassian.net/browse/MM-19203?focusedCommen

[2020-05-18 17:11] applic8-sa commented on #14382
I did a schema dump of a docker instance to get the valid 5.22 schema and I did the same on our server (not docker based). diff does not help as they are not ordered the same way. I will check the comments on the ticket 19203.

# Docker instance
docker exec -it $(docker ps | awk '/mattermost_db/ { print $1 }') bash -c 'PGPASSWORD=${POSTGRES_PASSWORD} pg_dump -U ${POSTGRES_USER} -w -c -s ${POSTGRES

[2020-05-18 18:21] applic8-sa commented on #14382
So "This is the way" ... to compare it

[code]

The result is the following as you can see years of migration of Mattermost schema is not perfect
[code]

What do you recommend us to do?

[2020-05-18 18:25] applic8-sa commented on #14382
With a bigger context (-U30) you can also see the name of the tables

[code]

[mattermost-schema.zip](https://github.com/mattermost/mattermost-server/files/4645915/mattermost-schema.zip)

[2020-05-18 18:46] applic8-sa commented on #14382
Findings
- A lot of default value has been dropped in the new schema (still present in our schema)
- Some character varying has been converted to text
- Some character varying has been increased
- Some indexes had been dropped for reactions idx_reactions_emoji_name, idx_reactions_post_id, idx_reactions_user_id
- reactions_pkey constraint has been dropped

I don't know the impact of the above.

[co

[2020-05-18 19:11] SemperRuminare commented on #14553
During our call, Elias and I discovered that teamID is not "Server" but it is null
Current User Id: 381cipon6tdhfkghshqp7uey5r
Current Team Id:
Server Version: 5.22.0 (Build 5.22.0)
App Version: 1.30.1 (Build 287) App Platform: android

[2020-05-18 19:31] SemperRuminare commented on #14553
This error was worked around by disabling "ExperimentalPrimaryTeam" on config, it can't find primary team for some reason - not sure why, Elias is going to do some more testing on his end.

[2020-05-18 21:23] hanzei commented on #12418
@kadir96 Bloating the signature is a good point. But I like keeping `page` and `perPage` outside the options struct to ensure that people really think about it and pass it. What about:
`GetChannels(options *model.GetChannelsOptions, page, perPage int) ([]*model.Channel, *model.AppError)`?

[2020-05-18 21:47] shred86 commented on #14553
Having "ExperimentalPrimaryTeam" enabled appears to also hide the + icon/button on the left hand side below teams. I thought this was just a flaw in the current UI design where only users with the permission to add teams could see the + icon/button, but it seems to have been based on having "ExperimentalPrimaryTeam" enabled.

[2020-05-18 23:49] kadir96 commented on #12418
@hanzei after your last comment, I began implementing and I started to think having `page` and `perPage` outside of the struct is not a good idea if this feature is implemented by updating the `GetChannels()` in the store.

The callers ([1](https://github.com/mattermost/mattermost-server/blob/6dc8eccc130674dcf1876f8683bb576c74ef021a/app/channel.go#L1536) [2](https://github.com/mattermost/mattermos

[2020-05-19 00:08] kadir96 commented on #12418
Just discovered that we can use `TeamSettings.MaxChannelsPerTeam` config instead of a magical number like `1000`. Does that make sense?

[2020-05-19 03:27] agnivade commented on #14382
@lieut-data - do you have any recommendations here since you handled the last ticket.

[2020-05-19 05:43] agnivade opened #14596 "Migrate AppError to error from store/sqlstore/cluster_discovery_store.go"
Mattermost is migrating all usages of the AppError type to the idiomatic error type. AppError is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/cluster_discovery_store.go`

[2020-05-19 05:58] agnivade opened #14597 "Migrate AppError to error from store/sqlstore/emoji_store.go"
Mattermost is migrating all usages of the AppError type to the idiomatic error type. AppError is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/emoji_store.go` to return a

[2020-05-19 05:58] agnivade opened #14598 "Migrate AppError to error from store/sqlstore/channel_member_history_store.go"
Mattermost is migrating all usages of the AppError type to the idiomatic error type. AppError is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/channel_member_history_store

[2020-05-19 06:32] #13952 closed

[2020-05-19 07:30] #14423 closed

[2020-05-19 08:11] kadir96 commented on #14596
@agnivade I would like to work on this

[2020-05-19 08:12] agnivade commented on #14596
All yours !

[2020-05-19 09:26] aol-nnov opened #14602 "[feature request] render percent encoding to readable characters in links pasted into chat"
When pasted into chat, render percent-encoded URLs into readable characters

i.e. instead of displaying https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B5_%D0%BA%D0%BE%D0%BE%D1%80%D0%B4%D0%B8%D0%BD%D0%B0%D1%82%D1%8B

show https://ru.wikipedia.org/wiki/Географические_координаты

I propose changing text only, not the href of an `<a>` ta

[2020-05-19 11:42] AkaZecik commented on #14087
I would like to work on it

[2020-05-19 11:59] hanzei commented on #14480
Awesome, thanks @sowmiyamuthuraman :tada:

[2020-05-19 12:22] saturninoabril commented on #14087
@AkaZecik Sure and thanks!

[2020-05-19 14:29] dantepippi commented on #14598
I'm interested @agnivade .

[2020-05-19 14:30] agnivade commented on #14598
Awesome !

[2020-05-19 14:54] iqDF commented on #14597
Just to make sure, what does idiomatic error type mean @agnivade ?
I think I can do this one with simple switch statement

[2020-05-19 15:42] agnivade commented on #14597
Ah my bad @iqDF, it should have been idomatic `error` type. The objective is to migrate from `AppError` to `error`.

[2020-05-19 16:17] amyblais commented on #14582
@SemperRuminare I wasn't able to reproduce but happy to investigate further. Do you see any log errors or console errors when this issue happens? Is this on webapp or desktop app?

[2020-05-19 19:00] mattermod opened #14604 "Improve multi-select list screens on mobile"
During the UX Quick Wins Design Sprint, the mobile multi-select component was identified as an area of improvement. These designs aim to improve that experience both visually and experientially. In addition, this adds support for viewing a user profile from the channel members list. In all, there are three areas that this component is being used in the mobile app and the links below demonstrate al

[2020-05-19 19:16] jfrerich commented on #14412
@EbsrVlee, are you still seeing this issue after a server restart?

[2020-05-19 19:30] mattermod opened #14605 "Dropdown on the server URL field with servers recently connected to"
This feature provides an easier way for mobile users to switch servers and remember previously used servers from the "Enter a Server" screen.

**NOTE:** this is a temporary solution for multi-server availability until full multi-server functionality can be implemented.

Discussion: [https://community-release.mattermost.com/core/pl/47gisbwmktyb3cscjagu34ye7e](https://community-release.mattermost.co

[2020-05-19 22:54] #14553 closed

[2020-05-19 23:14] amyblais commented on #14602
Thanks, appreciate your feedback @aol-nnov,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2020-05-19 23:16] amyblais commented on #14531
I've asked our product manager to review this,

[2020-05-19 23:25] amyblais commented on #14270
A fix for this has been submitted to upcoming Mobile app v1.32 release which is scheduled to be released in June 16th,

[2020-05-19 23:25] #14270 closed

[2020-05-19 23:28] amyblais commented on #14303
Closing as the immediate issue is resolved. Please re-open this issue if I've closed this too soon,

[2020-05-19 23:28] #14303 closed

[2020-05-20 01:34] wiersgallak commented on #14585
@ostapski Diagnostic & Error telemetry data can be disabled via the System Console > Environment > Logging (or System Console > General > Logging > Enable Error and Diagnostics Reporting in versions prior to 5.12).

Telemetry data sent by the Security alert can be disabled as well in the System Console > Environment > SMTP (or System Console > Notifications > Email > Enable Security Alerts in vers

[2020-05-20 03:52] aol-nnov commented on #14602
@amyblais I tried to, but it seems, uservoice is banned in our country, as I mentioned in the original ticket. So, I've headed directly to issue tracker.

[2020-05-20 07:12] hajowieland commented on #14124
@catalintomai

Sure, what exact value should I share with you ?

[2020-05-20 11:58] jasonblais commented on #11006
Closed the associated PR as it needs investigation for implications in the rest of the codebase, mainly frontend code.

[2020-05-20 13:49] lieut-data commented on #14382
@applic8-sa, sorry for the trouble you've encountered. In the issue linked above ([MM-19203](https://mattermost.atlassian.net/browse/MM-19203)), the crux of the problem lay in the missing `channels_name_teamid_key` index: this index guarantees that two channels with the same `Name` and `TeamId` cannot exist in the `Channels` table.

Unexpectedly, your `mattermost-server.sql` dump already contains

[2020-05-20 14:08] applic8-sa commented on #14382
sure.

I did a restoration of the backup before my fix of the duplicate channels.

so teamid is sometimes empty ('') sometimes definied with something but never NULL

[code]

[2020-05-20 14:24] applic8-sa commented on #14382
Since I did the fix in the current production database, the problem is back for one user
so there is something strang with the way the teamid works in our mattermost

[code]

[2020-05-20 14:30] ashishbhate commented on #14192
I'm unable to reproduce this issue. I've tried on latest master as well as version `v5.21.0`

The user is deleted from all tables, including Users and TeamMembers. The code does the right thing:
https://github.com/mattermost/mattermost-server/blob/v5.21.0/app/user.go#L1451-L1564

Could you give us more details about your setup? And the logs around the time you try to permanently delete the user?

[2020-05-20 15:45] lieut-data commented on #14382
Ah, interesting. The cross join confused me at first: the unique index isn't actually being violated, it's just that one row has a `TeamID` assigned and another leaves it empty. Another way to see this might be:
[code]

This is definitely a distinct issue than an old schema migration -- the Mattermost server shouldn't write a `TeamID` when saving a direct channel. I took a quick glance through the

[2020-05-20 16:00] applic8-sa commented on #14382
Our Mattermost is behind a firewall with no outbound access and a NAT 1:1
Some users connects via the public IP of the mattermost server instance (Trusted source IP)
Some users connects via the private IP of the mattermost server instance (via VPN)

After we had this kind of issue, we asked all our users to stop using Mattermost
on their mobile phone (iOS / Android) as initially we had the feeling

[2020-05-20 16:06] lieut-data commented on #14382
@agnivade, see above for a different tangent, but this no longer appears to be the same issue as https://mattermost.atlassian.net/browse/MM-19203. We need to get to the bottom of why some direct message channels are being created (or updated?) with a `TeamID`. We could probably stand to make this part of the business logic more robust in other ways as well.

[2020-05-20 16:28] applic8-sa commented on #14382
Another info, one the two users in the above duplicate Direct Channel
is using Mattermost 4.4.1 client for Mac (not the latest 4.4.2)

We have almost the latest version of Mattermost server (5.22.2)
and database schema (5.22.0)

I will upgrade to 5.23.0.

[2020-05-20 16:34] SemperRuminare commented on #14582
Web-app, no log errors or console errors.

[2020-05-20 16:43] agnivade commented on #14382
@lieut-data - Thanks for giving a hand here. I must confess I have not followed the entire thread very closely and don't remember everything. But I am trying to understand if this TeamID appearing in direct channels is the cause or the symptom. And how does it relate to multiple direct channels with the same ID, having the same name ? Is one causing the other ? Or are they both related ?

In any c

[2020-05-20 16:46] WGH- opened #14612 "New message indicator is broken when a webhook owned by you posts to channel"
#### Summary
When there're unread messages that are posted by a webhook you own, the "Unread messages start here" indicator is not shown.

#### Steps to reproduce
1. Create a webhook.
2. Post some messages through it to a channel that's not currently open on your screen.
3. Open a channel.

#### Observed behavior (that appears unintentional)

The channel will show that there's some messages unread

[2020-05-20 16:47] lieut-data commented on #14382
@agnivade, I suspect the `TeamID` in the direct channels is a cause, in that the server assumes it can rely on the `channels_name_teamid_key` unique constraint. If we can create direct messages and assign them to teams, we allow a direct message per team, and the symptoms above would likely all manifest. Using the force here.

0/5 on repurposing the existing ticket or starting a new one, but I'll

[2020-05-20 16:50] agnivade commented on #14382
Sounds good. I think we can reopen the existing one then.

[2020-05-20 16:53] WGH- commented on #14612
Another fix would be to not attribute webhook message to its owner.  I think it might be even better.

[2020-05-20 17:06] applic8-sa commented on #14382
More about our setup and timeline:

Back in 2016, we created two Teams one per country but the limitation of Mattermost at that time was that could not communicate between user not member of the current team. So we switch to a single Team called "applic8". In 2018, a second Team has been created to discuss with an external partner and we removed it. In 2019 before upgrading the OS, we jumped from

[2020-05-20 18:00] mattermod opened #14613 "Update demo-plugin to add icons to RHS title bar"
Update demo plugin to add icons to the RHS title bar as an example to demo the new Webapp plugin API
[https://github.com/mattermost/mattermost-webapp/pull/5505/files#diff-99e11b3b61425aff9ef2e561dd706b2cR579](https://github.com/mattermost/mattermost-webapp/pull/5505/files#diff-99e11b3b61425aff9ef2e561dd706b2cR579)

Pick any arbitrary icons

Demo plugin repo: [https://github.com/mattermost/mattermo

[2020-05-20 18:11] coreyhulen commented on #14582
I think `Enable Latex Rendering` is default off now?  That prop use to be default on, I think it got switched to default off for security along the way somewhere.  We should add a note to the documentation to make it more obvious.  @amyblais can you help verify it's default off and add a note in the docs.

[2020-05-20 18:25] SemperRuminare commented on #14582
Yes, this was the issue. It works when I enable it in the system console. D'uh!

[2020-05-20 19:19] dpanic commented on #14192
I did retested myself. Looks like I made mistake when reporting the issue at the beggining.
Sorry for this.

[2020-05-20 19:24] rvillablanca commented on #14597
I'll work on this improvement

[2020-05-20 19:28] amyblais commented on #14582
Fixed via https://github.com/mattermost/docs/pull/3631

[2020-05-20 19:28] #14582 closed

[2020-05-20 20:45] mattermod opened #14616 "ADA: Screen reader does not read the labels in the popup forms like Create Channels"
Steps to reproduce:

  1. Start your screen reader, and open the Create Public Channel modal.
  1. Using the keyboard try to navigate between different input fields.

Observed: It does not reads out the labels for the input fields like Name, Purpose etc. Instead it just reads only the placeholders in it.

Expected: Along with the placeholders, the label of the input fields should also be read so u

[2020-05-20 22:33] amyblais commented on #14612
@WGH- What Mattermost server version did you see this on and do you know if this is a new issue?

[2020-05-20 22:44] WGH- commented on #14612
I don't think this is a new issue. I've seen it on 4.8.0, 5.12.0 and 5.23.0.

[2020-05-21 06:29] vivek32ta commented on #14401
@hanzei Hi, This is my first time and I would love to take this up.  :)

[2020-05-21 07:23] hanzei commented on #14401
Welcome to the Mattermost community @vivek32ta :tada: Thanks for taking a look at this issue. Please let me know if you have any questions.

[2020-05-21 08:06] ashishbhate commented on #14192
@dpanic thanks for the update! I'm closing this issue as invalid.

[2020-05-21 08:06] #14192 closed

[2020-05-21 12:15] someone-somenet-org opened #14620 "safe last user activity?"
I wanted to delete inactive accounts that were inactive for longer than 6 months.
``System Console -> Team-Stats`` displayed a few candidates and one really odd one: One that I remember posting yesterday showed up as last active on ``February 12, 2019, 06:43 AM``.

That made me investigate.
+ The ``status`` table shows that user as in fact being inactive since than. Or better: Setting themselves m

[2020-05-21 13:38] streamer45 commented on #14382
Hi @applic8-sa,
I am taking a look at this issue. I am wondering if you could provide a bit more data for the duplicated channels. I am mainly interested in time fields `CreateAt` and `UpdateAt` but a full select for those rows would be ideal.

[2020-05-21 14:34] applic8-sa commented on #14382
@streamer45

Before the fix (2020-04-27)
[code]

After the fix (now)
[code]

[2020-05-21 15:49] licaon-kter commented on #14412
@EbsrVlee This is not a fix: https://github.com/mattermost/mattermost-server/issues/13913#issuecomment-587882355 ?

[2020-05-21 16:02] JC-Boeing opened #14621 "Mattermost screen reader failure after recent upgrade"
#### Summary
Screen reader only reads dates, but not the messages, or who sent them.

#### Steps to reproduce
Currently using the following screen reader software: JAWS for Windows 2019 by Freedom Scientific. To reproduce the issue, into Mattermost Web App with Firefox 68.7 and try to read messages, with JAWS 2019, or the latest NVDA by NV Access.

#### Expected behavior
Expect to be able to read

[2020-05-21 16:16] amyblais commented on #14621
@JC-Boeing Thank you for the report,

Are you on Mattermost server v5.23?

[2020-05-21 16:18] licaon-kter opened #14622 "Plugins - those that modify the UI aren't working"
On CentOS 6 64bit, 5.22 was working fine and I upgraded to 5.23, all plugins were active too _(I tend to check them, eg, I also did this at some point https://github.com/mattermost/mattermost-server/issues/13913#issuecomment-587882355 else they're not used)_ but a couple of days later a sudden power issue restarted the server. Everything appeared to be working ok, but I don't remember checking plu

[2020-05-21 16:30] esethna commented on #14157
Awesome, thanks @pradeepmurugesan! Looking forward to it!

[2020-05-21 17:28] streamer45 commented on #14382
According to that data it appears the original channel `pozsig6ir7fzipdgd1abqr9jry` (created in 2016) is the one with the `TeamId` set. In which case it explains why a new channel between the same users could be made.

Did the fix you applied also include setting the `TeamId` to empty for all direct/group channels who had one set?

[2020-05-21 18:24] JC-Boeing commented on #14621
@amyblais 4.4.1

[2020-05-21 18:38] EbsrVlee commented on #14412
Hi yes,

It was a permissions issue. It is now fixed. The newer versions of mattermost seem to also have fixed this issue. Thank you for all the help.

[2020-05-21 18:38] #14412 closed

[2020-05-21 19:02] applic8-sa commented on #14382
The following fix did not include TeamId as I was not aware of it (the impact / constraint)

My idea was to reattach the new "ghost" messages to the oldest "Direct Messages" channel and delete the newest channel.

The Channel ID pozsig6ir7fzipdgd1abqr9jry is one of the original "Direct Messages" channel created by our users.

The Channel ID 8x4igmemkjghjk66ku1o7tyk5e is yet another "ghost" channel

[2020-05-21 19:15] streamer45 commented on #14382
Yes. Direct and Group channels should have an empty `TeamId` (as in empty string `''`). This will stop duplicates getting created since the `channels_name_teamid_key` will be able to enforce the rule once all values of `TeamId` columns for those channels are empty.

In your specific case I suggest to apply the fix you propose to get rid of the new duplicated channels and then set the `TeamId` for

[2020-05-21 20:08] applic8-sa commented on #14382
Thanks you very much for your help

So at the end, we had an unexpected modification in our mattermost database that combined with something in 5.x server or latest client for Mac create randomly new "Direct Messages" channel or switch between "Direct Messages" channels with empty TeamID and TeamID set. All this made the edge case.

I assume somewhere in the code, you check TeamID = '' and type 'D

[2020-05-22 08:06] streamer45 commented on #14382
In the code we don't do any explicit check. We rely on the `channels_name_teamid_key` constraint.
`TeamId` is set to empty before creating a new direct/group channel and the channel name between the same users will be the same since we compare the users ids lexicographically and always put the *smallest* one in font.

Hopefully this was last action needed to permanently fix the issue but let us kn

[2020-05-22 14:41] #14288 closed

[2020-05-22 17:30] mattermod opened #14633 "Show recently viewed channels when channel switcher opens"
Current:

![image-2020-04-17-12-50-46-910](https://user-images.githubusercontent.com/4973621/82694453-e8944700-9c80-11ea-94f6-0113ab2bdb1b.png)

**Proposed Solution**

  * Before anything is typed, show a list of channels you are a member of sorted by Recency (last viewed at time). Currently the switcher shows unread channels when opened but we want to change this to show recently viewed channels.

[2020-05-22 17:47] lieut-data commented on #14622
@licaon-kter, can you share your browser's console log on a fresh load? It should show what plugins are being loaded, and any corresponding errors.

[2020-05-22 17:49] mkraft commented on #14510
@eni23 Are you able to clear those fields again and see if your sync works? Those fields are not required and I was not able to reproduce the bug you experienced when upgrading from v5.9.0 to v5.19.0.

[2020-05-22 19:22] allenlai18 commented on #14148
@hanzei  yes. let me take a look at this

[2020-05-22 19:30] mattermod opened #14634 "Demo (Get|Update|Delete)PreferencesForUser in demo plugin"
Build on <MM-21307> to showcase the use of the new `(Get|Update|Delete)PreferencesForUser` API. Introduce a new slash command in the demo plugin to perform the following:

[code]

[2020-05-22 19:42] licaon-kter commented on #14622
Didn't have time to look in depth yet, but today the buttons were present (no restart or anything modified server side). I'll try to grep the logs and find out, if possible, when they started to work.

[2020-05-22 20:48] amyblais commented on #14621
Thank you for the report, I opened a bug ticket here https://mattermost.atlassian.net/browse/MM-25471.

[2020-05-22 20:53] amyblais commented on #14620
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-25472.

[2020-05-23 05:55] agnivade opened #14637 "Migrate AppError to error from store/sqlstore/command_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/command_store.go`

[2020-05-23 05:55] agnivade opened #14638 "Migrate AppError to error from store/sqlstore/command_webhook_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/command*webhook*s

[2020-05-23 05:55] agnivade opened #14639 "Migrate AppError to error from store/sqlstore/compliance_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/compliance_store.

[2020-05-23 08:01] CEOehis commented on #12337
@hanzei seems like it's taking forever for someone to complete this. I would like to work on this. I already have my dev environment set up. Can I go ahead?

[2020-05-23 11:57] jasonblais commented on #12337
@CEOehis Go for it! Thank you @CEOehis, let us know if you have any questions during the development :)

[2020-05-23 16:44] joshuabezaleel commented on #14504
Hi @mgdelacroix , so sorry for the ping, just a friendly reminder on the clarification question. Thank you! Sorry for the trouble. Thank you! :slightly_smiling_face:

[2020-05-23 18:09] joshuabezaleel commented on #14637
May I have a shot on this? :slightly_smiling_face:

[2020-05-23 18:58] agnivade commented on #14637
All yours !

[2020-05-23 21:01] #13597 closed

[2020-05-24 06:14] kaakaa opened #14641 "Post search returns empty results when specifying channel and exclusions"
#### Summary
At first, We can get all the posts in the channel if we do a search with only a query that specifies the channel (e.g.: `in:town-square`). However, if we add an exclusion word to that query, the search results will be empty. (e.g.: `in:town-square -test`)

(If we specify both an exclusion word and a search word, it will return a matching result. (e.g.: `in:town-square foo -test`)

In

[2020-05-24 09:11] someone-somenet-org opened #14642 ""bin/mattermost permissions reset": System admin can no longer manage emoji."
## Summary
I just recently discovered `bin/mattermost permissions reset`.

After running it, the the System Admin can no longer manage emoji and I cannot give myself said permissions either.

#### Steps to reproduce
+ Run: `bin/mattermost permissions reset`.
+ Restart mattermost.service

#### Expected behavior
`Full permissions granted to System Administrators.` Actually meaning having all permiss

[2020-05-24 09:19] someone-somenet-org commented on #14642
The config has `"RestrictCustomEmojiCreation": "all"`, but the config option to change that as described here: https://docs.mattermost.com/administration/config-settings.html is no longer present?

[2020-05-25 02:00] harshilsharma63 opened #14645 "Document theme CSS variables in plugin development guide"
Sometimes plugins just have to rely on injecting CSS into the page for styling, for example, when a 3rd party React component doesn't accept custom styling. This creates a problem when trying to match Mattermost's dynamic theme with the component.

However, one can very easily use CSS variables which Mattermost already has over at https://github.com/mattermost/mattermost-webapp/blob/master/sass/ba

[2020-05-25 05:16] mgdelacroix commented on #14504
Hi @joshuabezaleel, apologies for the delay. I think for this particular case you can try using `.Set("UseCount", sq.Expr("UseCount + 1"))` to evaluate the expression as part of the set clause. Please let me know if that works and we would look into another solution if it doesn't :)

[2020-05-25 07:40] taihen commented on #13843
Yes, to some degree, it exposed timeouts on db connection which I think as able to fix and get rid of delays.

[2020-05-25 13:05] amyblais commented on #14645
@harshilsharma Thanks for the report, would you like to re-open this issue in the developer docs repo https://github.com/mattermost/mattermost-developer-documentation/issues?

[2020-05-25 13:12] lieut-data commented on #13597
Thanks again, @vesari!

[2020-05-25 15:29] licaon-kter commented on #14622
Logs don't help, there's no entries that would suggest a "switch to working".

Also, unixtimestamps, really? What ingests your logs?

/closed for now

[2020-05-25 15:29] #14622 closed

[2020-05-25 15:45] yukiisbored commented on #14493
I'm also experiencing the same issue when running Mattermost on FreeBSD/amd64.

I think a better solution would to accept any supported combination of GOOS and GOARCH in https://github.com/mattermost/mattermost-server/blob/master/model/manifest.go#L277 instead of hardcoding "supported" platforms.

To keep compatibility with old plugin.json, I think we could just use map for `ManifestServer.Executa

[2020-05-25 16:38] amyblais commented on #14642
Opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-25507.

[2020-05-25 16:40] avolynet opened #14653 "Mattermost is not able to distribute messages after VPN tunnel creation and closing"
#### Summary
Message to all channel members is not sent after VPN tunnel creation and closing

#### Steps to reproduce
1. Start Mattermost (I can write messages)
2. Open a VPN tunnel via GPC
3. Upload files and close tunnel
4. Post a message in a channel in Mattermost

We are you using: Mattermost Version: 5.21.0 Database Schema Version: 5.21.0
We are experiencing the issues with the browser webap

[2020-05-25 16:45] amyblais commented on #14641
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-25508.

[2020-05-25 16:52] amyblais commented on #14653
@avolynet
1. Can you help with your environment details from here for all affected users https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?
2. What do you mean by "Message was sent in the channel to all members"? Does it mean some people see the message and others don't?

[2020-05-25 17:20] lieut-data commented on #14493
@yukiisbored, I can get behind that solution, since it doesn't make us explicitly support the server on different platforms, just decouples the plugin loading code as such. We'd likely not start releasing Mattermost-authored plugins for arm64 anytime soon, but such a chance would it make it a tad easier for those who do.

[2020-05-25 17:22] WGH- commented on #14612
There's another case where attributing webhook messages to its owner cause sweird behaviour. When your webhook mentions someone not in the channel, you see system message "XXX annd YYY were mentioned but they are not in the channel. Would you like to add them to the channel? They will have access to all message history.". This is very annoying when your webhook is doing bridging from another chat

[2020-05-25 17:50] #13088 closed

[2020-05-26 00:18] dantepippi commented on #14638
Please assign me this one.

[2020-05-26 09:10] joshuabezaleel commented on #14504
No worries @mgdelacroix , I think your recommendation do the trick since the test passed. Thank you very much, truly appreciate it! :slightly_smiling_face: . I've put a PR on this :slightly_smiling_face:

[2020-05-26 10:24] farah commented on #14639
/assign

[2020-05-26 10:26] agnivade commented on #14639
Done !

[2020-05-26 10:46] RohitKanojia commented on #9990
How was this issue have been fixed? can you pls help me.

[2020-05-26 11:07] jasonblais commented on #9990
Hi @RohitKanojia - we have an open feature proposal for it at https://mattermost.uservoice.com/forums/306457-general/suggestions/36299584-rename-flag-post-to-bookmarked-post

Would you be open to upvoting the feature and/or sharing your use case in the discussion section? We monitor the feature proposal forum regularly to help guide future roadmap and product direction.

[2020-05-26 12:16] amyblais opened #14660 "Mattermost v5.24"
You can find key dates for v5.24 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### June 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### June 12th: Release Build Cut
The fin

[2020-05-26 15:32] yukiisbored commented on #14493
Could I make a PR that adds that functionality? I'm interested in adding this functionality since I run Mattermost on unsupported platforms.

[2020-05-26 16:47] bbodenmiller commented on #14621
@amyblais it's not working on http://community.mattermost.com/. Sounds like it doesn't work in Firefox or latest Desktop app. I'm working with the same person @JC-Boeing reported about.

[2020-05-26 16:58] amyblais commented on #14621
@bbodenmiller Thanks, a bug ticket for this has been opened here: https://mattermost.atlassian.net/browse/MM-25471.

[2020-05-26 17:17] kadir96 commented on #12418
ping @hanzei. I would love to hear your thoughts on my last comment.

[2020-05-26 17:24] lieut-data commented on #14493
@yukiisbored, I'd be in favour! @levb / @aaronrothschild, any thoughts to preflight @yukiisbored's efforts?

[2020-05-26 18:30] mattermod opened #14662 "RN: Restyle mobile autocomplete"
In line with the work done on [https://mattermost.atlassian.net/browse/MM-22956](https://mattermost.atlassian.net/browse/MM-22956|smart-link), the following refinements are proposed:

  * Removing lines between items in the list to reduce noise (except when dividing sections)
  * Updated Category labels style
  * Increased size of avatars for @mention or user autocompletes
  * Inset the autocomple

[2020-05-27 02:03] harshilsharma63 commented on #14645
@amyblais done. The new issue is over here - https://github.com/mattermost/mattermost-developer-documentation/issues/630

[2020-05-27 06:51] checkaayush commented on #14438
Remove them if they're attached to a word or if they're not attached to a word? What should be the search param for `*qwerty **` => `*qwerty`or just `qwerty` or something else?

[2020-05-27 10:48] kadir96 commented on #12418
I think that `GetChannels()` method name in the store is somewhat ambitious(?) since its scope is very limited. All it does is returning all channels of a user in a team. Does it make sense to rename this method to something like `GetChannelsOfUserInTeam()` and implement `GetChannels()` for this feature? To prevent code duplication, both methods could use a method to build the base query. If you w

[2020-05-27 10:52] hryuk commented on #13783
Couln't get much time for this, but still working on it!

[2020-05-27 11:11] hanzei commented on #13783
Thanks for the heads up @hryuk Looking forward to your PR!

[2020-05-27 11:31] #14645 closed

[2020-05-27 12:38] Sheshagiri commented on #14634
I'd like to give this a try. This depends on https://github.com/mattermost/mattermost-server/pull/13962 but I see that pr is ready to be merged after the cla is signed.

[2020-05-27 12:48] #13934 closed

[2020-05-27 14:54] amyblais commented on #14564
This is fixed in upcoming Mobile app v1.32 release,