[2017-02-10 00:05] twalk6 opened #5352 "Slack migration not working"
#### Summary
The migration of posts from Slack is not working

#### Steps to reproduce
Mattermost 3.6.1
To Reproduce:
I created a new Slack team, just a single user. I added some text, file/image attachments, etc. I then did the Slack export. I then ran the Slack Advanced Exporter on the output. After that, I tried both the platform command and client webui command for import. I had to add an emai

[2017-02-10 00:59] activedecay commented on #5317
I just did docker-compose up, so I took the defaults. Thank you I'll provide more info when I get a chance

[2017-02-10 04:25] activedecay commented on #5317
actually, i ran into this issue when searching for longer words separated by dot characters, as in `john.smith`

    john.smitheleyer@companycompany.example.com

[2017-02-10 05:44] #5338 closed

[2017-02-10 07:27] olku commented on #5337
I got a similar Problem here.
If we go to Account settings:
Klick on General -> Is ok, Details part is updated
Klick on Security -> Its ok, Details part is updated
Klick in Notifications -> Its ok, Details part is updated
Klick on Display  or Advanced, the App is crashing.

No more updates on the details part or even could we close this window.
 We need to close the whole tab.

Behavior confirmed

[2017-02-10 11:26] cinqs commented on #5337
@olku occured the same problem. waiting for updates

[2017-02-10 15:48] jasonblais commented on #5183
Closed via #5206, thanks @andreistanciu24!

[2017-02-10 15:48] #5183 closed

[2017-02-10 16:55] jmayday commented on #5350
@jasonblais - confirmed! there's nothing more from my side.

[2017-02-10 16:55] #5350 closed

[2017-02-10 17:28] esethna opened #5354 "[Help Wanted] [PLT-5445] Mobile view: Set focus back to message box after uploading a file"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-10 17:28] esethna opened #5355 "[Help Wanted] [PLT-5440] Add several Team Site Main Menu options to the System Console Main Menu"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-10 17:33] esethna opened #5356 "[Help Wanted] [PLT-3744] Restrict user creation via OAuth (GitLab/Google/Office365) to accepted domains"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-10 17:33] esethna opened #5357 "[Help Wanted] [PLT-3193] Add channel notification preferences for push notifications"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-10 17:37] esethna opened #5358 "[Help Wanted] [PLT-5467] Add a CLI tool for validating the config.json file"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-10 17:40] jasonblais commented on #5190
help wanted: https://github.com/mattermost/platform/issues/5355

[2017-02-10 17:40] #5190 closed

[2017-02-10 18:55] lfbrock commented on #5317
Hmm interesting, that's a weird one.

I filed a ticket here on it, it seems to be something with the postgres full text search but I'm not sure what's causing it: https://mattermost.atlassian.net/browse/PLT-5471

For full text search tickets, I just started [an epic](https://mattermost.atlassian.net/browse/PLT-5472) and we'll add related tickets there to track them - I think we'll need to look at

[2017-02-10 19:52] lfbrock commented on #5339
Hi @donjuma, thanks for bringing this up - we have a ticket here to add restricting sign ups from SSO domains: https://mattermost.atlassian.net/browse/PLT-3744

I just made it into a help wanted ticket to see if we can find someone to work on it.

The Enable Account Creation sounds like a bug, @lindalu can you reproduce the issue and file a Jira ticket for it?

[2017-02-10 19:53] lfbrock commented on #5337
@cinqs - are you on a GitLab omnibus install as well? We're trying to track down the issue, having trouble reproducing on our set up

[2017-02-10 20:01] olku commented on #5337
Yes we are, running omnibus-gitlab 8.16.0.

Is recognized that the problem only exists when you click on the Display part. If you skip, and go to the advanced part its working for advanced as well. Then back to Display, it crashes.

/Olku

[2017-02-10 20:25] lindalu commented on #5339
Thanks, @lfbrock, I reproduced the issue and filed ticket https://mattermost.atlassian.net/browse/PLT-5473.

[2017-02-10 20:41] esethna commented on #5337
@olku @cinqs We are running an environment with 8.16.2 - which contains Mattermost 3.6.1 - and I was unable to reproduce your issue in Chrome (Mac Sierra & Win10) and IE11 (Win 10). Can you please try to upgrade your instance and let me know if that resolves the issue?

![image](https://cloud.githubusercontent.com/assets/14333569/22843323/4413448c-ef96-11e6-85df-0d541b28c10f.png)

[2017-02-10 23:49] saturninoabril commented on #5354
#5360

[2017-02-11 04:28] cinqs commented on #5337
Hi,
I am running on docker with appp of this version [app-prod](https://hub.docker.com/r/mattermost/mattermost-prod-app/)

and the mattermost is not a gitlab onimu...thing, it's version is:

    Version: 3.6.0  (3.6.2)
    Database: postgres

[2017-02-11 04:52] jasonblais commented on #5352
Thanks @twalk6 for providing the Slack output file on https://pre-releast.mattermost.com/core.

We'll investigate the issue further on Monday

[2017-02-11 05:19] jasonblais commented on #5337
@cinqs Are you also on omnibus-gitlab 3.6.0 install?

I tried with the following reproductions steps on a 3.6.0 Mattermost install, but didn't reproduce:
1) Open Account Settings from the Main Menu
2) Click the General tab
3) Click the Security tab
4) Click the Notifications tab
5) Click the Display tab

--> Observed: No errors given

@olku @cinqs did I miss a step anywhere? This has been reported

[2017-02-11 05:21] jasonblais commented on #5337
@olku @cinqs @christianAESD

if you'd like to try signing to our public Mattermost community instance and see if the issue reproduces there, that would also be a great help. Team invite link is here if you'd like to try: https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676

[2017-02-11 05:37] jasonblais commented on #5337
Sorry for the first two messages that I since deleted -- for some reason your most recent conversation here didn't show up for me :/

@cinqs @olku

1) what are your default languages in **System Console > Localization**? If you're using `config.json`, the settings are

[code]

2) What is your language set in **Account Settings > Display > Language**?
3) What is your default browser language?

[Loo

[2017-02-11 05:42] cinqs commented on #5337
@jasonblais Ah, exactly. I have Chinese language checked in the System Console as I am a Chinese.

I just deleted the language selection in the System Console -> localisation. And now everything seems working fine with me.

And something more, in the localization part, when I checked the languages, any language, the Save button will still be shown as disabled, which mean it gives no feedback and k

[2017-02-11 06:09] jasonblais commented on #5337
Ah, I suspect that's it!

@olku @christianAESD have you also set `AvailableLocales` to something else than English? I'll create a ticket for this, but it would be great if you were able to confirm it as well.

Yeah, that's a really good point @cinqs. I'll create a separate improvement ticket for it.

[2017-02-11 06:41] cinqs commented on #5337
@jasonblais Oh, I found something more.

Even I don't select any language from the console. From the team user end, I will still be able to choose another language, which means:

I am using a language from the team user end which the language is not *install* as it is designed as so.

[2017-02-11 06:46] jasonblais commented on #5350
Glad to hear! 👍

[2017-02-11 07:36] olku commented on #5337
OK. We have.:
1.system en
2. Client en
3. Browser german

Available languages
En,  Fr,  ger,

Greetings olku

[2017-02-11 09:42] olku commented on #5337
So i am going to upgrade vom

Version: 3.6.0  (3.6.1)
Database: postgres

to..
omnibus 8.16.4
 odd, same version of Mattermost
Version: 3.6.0  (3.6.1)
Database: postgres

But now the Bug is gone...

As well the config settings. I have to reconfigure the email and webhook and language stuff again.

Greetings Olku

[2017-02-11 13:02] christianAESD commented on #5337
Deactivating the other locales solved my problem.

[2017-02-11 14:34] ChALkeR commented on #5088
Upstream bugreport: https://github.com/electron/electron/issues/8455

[2017-02-11 16:39] tuxayo opened #5364 "i18n: french translation issue for the invitation email"
https://github.com/mattermost/platform/blob/e47918e8cabe0bd6a391b043f494633b6317e241/i18n/fr.json#L2084

The current phrasing is:

- saying "L'équipe membre" is incorrect.

- a linking word would be necessary between "rejoindre" and team_name which would depend on team_name...

A correct but still enhanceable phrasing is:

It's a bit redundant but it's correct and is correct regardless of the team

[2017-02-11 16:49] jasonblais commented on #5364
@wget any thoughts on this suggestion?

[2017-02-11 16:57] wget commented on #5364
@tuxayo Thanks for the hint. Actually the French translation has still a lot of issues when checked in context. This is sometimes related to variables in translation strings I don't know to what they are referring (actually the issue for this current bug).
But this is now corrected. :) Merci.
![screenshot_20170211_175543](https://cloud.githubusercontent.com/assets/2997662/22855599/7a0dcc7c-f083-11

[2017-02-11 16:58] wget commented on #5364
@jasonblais You can now close the issue :)

[2017-02-11 17:27] #5364 closed

[2017-02-11 17:27] jasonblais commented on #5364
Thanks @tuxayo and @wget!

[2017-02-11 18:44] jasonblais commented on #5282
Closing - we'll track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-5437

If anyone is interested helping with a fix, please let us know!

[2017-02-11 18:44] #5282 closed

[2017-02-11 18:49] jasonblais commented on #5336
@tejasbubane

1. Does it reproduce for other teams as well? If you don't want to delete another existing team, you can create a test team and try deleting that one.

2. What is the team URL for the team? What happens if you do `platform team delete {team_url}` where {team_url} is the URL for 2SPD.?

[2017-02-11 18:52] jasonblais commented on #3882
@lechuckcaptain we created a [new epic for Full-Text Search](https://mattermost.atlassian.net/browse/PLT-5472). I reopened [PLT-4060](https://mattermost.atlassian.net/browse/PLT-4060) and added it to that epic so we can track its progress.

We're investigating how we might be able to improve full-text search despite some of the limitations in MySQL and PostgreSQL.

[2017-02-11 19:02] jasonblais commented on #5173
@harshavardhana would you be interested in contributing that? Or was it a proposal for the Mattermost team?

[2017-02-11 19:31] harshavardhana commented on #5173
I would have loved to but won't be able to due to some time constraints on my end @jasonblais.  Would be happy to review the PR and provide feedback for S3 specific things.

[2017-02-11 19:36] jasonblais commented on #5173
No worries, totally understand @harshavardhana. Really appreciate your input and your willingness to help with reviewing the PR.

Would anyone else in the community be interested helping contribute this improvement?

[2017-02-11 21:56] klischka opened #5365 "use the languages defined in the browser preferences"
#### Summary
When I send the link for team registration for the Mattermost installation on https://framateam.org/ my users see the site in French. The speak German.

#### Steps to reproduce
Version: 3.6.0  (3.6.1)
Datenbank: postgres

#### Expected behavior
Users should see the German or English translation. This are the languages my future users in the group use. The majority of users on framatea

[2017-02-11 22:39] esethna opened #5366 "[Help Wanted] [PLT-5360] Clicking on email verification does not automatically fill in your email on mobile browser"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-11 22:39] esethna opened #5367 "[Help Wanted] [PLT-5342] Move "Start Video Call" option to the bottom of the profile popover"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-11 22:44] esethna opened #5368 "[Help Wanted] [PLT-5267] After posting a message containing an image link, only show the link and add the image preview once it has fully loaded, if one is available"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-11 22:44] esethna opened #5369 "[Help Wanted] [PLT-5083] Mobile web: Clicking on team sidebar chicklet switches channels, it should just switch teams"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-11 22:45] esethna opened #5370 "[Help Wanted] [PLT-5314] Can't use mouse to select from emoji auto-complete"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-11 22:49] esethna opened #5371 "[Help Wanted] [PLT-5235] Switching channels with CTRL+K not working properly when using the mouse"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-12 17:41] graphiclunarkid opened #5374 "Blank page displayed instead of error message if Mattermost can't set cookies"
#### Summary

Users who don't allow http://gitlab.mattermost.com to set a cookie see a blank page instead of the intended error message. The message that is supposed to appear refers to Private Browsing however users should see a message telling them to allow cookies for the domain instead.

- Mattermost version: 3.6.0  (3.6.2)
- Build Hash: 1a9891f0f5671551d28be54a99155b907480cc5c
- EE Build Hash

[2017-02-12 18:55] senk commented on #4386
iCloud Works in iOS Simulator. Cannot test it on hardware because i have no developer subscription.
![](http://i.imgur.com/rJkGJZP.png)

[2017-02-12 20:11] jasonblais commented on #4386
This works for me on the first generation iOS app as well.

Given the first generations apps are in maintenance mode and iCloud is supported at least on selected devices such as iPHone 5s, closing this issue.

[2017-02-12 20:11] #4386 closed

[2017-02-13 11:10] whyfrycek commented on #4127
Hey there, the workaround works and obviously it is not the end of the world to add people one by one otherwise, but I ran into this again today and was thinking "I would love this feature", maybe you'll find time for this? I unfortunately don't have the skills to do it. In any case, thanks for creating Mattermost, we really love it :)

[2017-02-13 16:15] jasonblais commented on #5352
@twalk6 Jira ticket created here to track: https://mattermost.atlassian.net/browse/PLT-5479

If anyone is interested submitting a fix, please let us know?

Issue details: We assume that all users in the Slack export will have an email address set, but in reality they don't always. We will need to find a way to work around this, since Mattermost currently enforces all users to have a valid (non-emp

[2017-02-13 16:15] #5352 closed

[2017-02-13 17:11] demedos opened #5386 "Failed to upgrade websocket connection"
#### Summary
After setting up a reverse proxy the log is full of those messages:

[2017/02/13 08:53:13 PST] [EROR] websocket connect err: websocket: could not find connection header with token 'upgrade'
[2017/02/13 08:53:13 PST] [EROR] /api/v3/users/websocket:connect code=500 rid=czz3h9kqtjfb9jz3jo1sqmujne uid=1erjogmb7jraucpy1e1wifcmfy ip=192.168.10.1:56489 Failed to upgrade websocket connection

[2017-02-13 17:16] esethna opened #5387 "[Help Wanted] [PLT-5478] Don't show the collapse/expand arrow for image links when no image is available"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-13 17:16] esethna opened #5388 "[Help Wanted] [PLT-4066] Account settings has blank space when switching settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-13 22:21] jasonblais commented on #5386
Thanks @demedos for the report,

Did you try these troubleshooting steps? https://docs.mattermost.com/install/troubleshooting.html?highlight=unreachable#please-check-connection-mattermost-unreachable-if-issue-persists-ask-administrator-to-check-websocket-port

Also, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum vi

[2017-02-13 22:28] jasonblais commented on #5261
Fixed via #5306, thanks @saturninoabril!

[2017-02-13 22:28] #5261 closed

[2017-02-14 08:41] chitter99 commented on #2147
I'm having the same problem.

[2017-02-14 09:05] realrolfje opened #5397 "Android App Performance Slow"
**Summary:**
The Android app has a longer load time and is more sluggish than opening Mattermost in a web browser on the same device. This is particularly painful when receiving a push notification, since this opens the app and not the web browser.

**Steps to reproduce:**
1. Install the Mattermost reference implementation App from the Google Play store on a Samsung Galaxy S3 or S7.
2. Configure t

[2017-02-14 15:16] jasonblais commented on #4553
Thanks @pan-feng! Closed via #5301

[2017-02-14 15:16] #4553 closed

[2017-02-14 15:51] jasonblais commented on #2147
What email client, browser and operating system are you using?

[2017-02-14 17:14] lfbrock commented on #5397
Hi @realrolfje - We're working on building a [new Android app](https://github.com/mattermost/mattermost-mobile) to improve performance.

It's a work in progress and only has basic features so far, but anyone who would like to help test is welcome to follow the instructions here: https://github.com/mattermost/mattermost-mobile#testing

[2017-02-14 19:25] mikaoelitiana opened #5402 "`make stop` doesn't stop docker containers"
#### Summary
Docker containers are not stop when running `make stop`

#### Steps to reproduce
Run `make run` to start mattermost. Then run `make stop` to stop it.

#### Expected behavior
Docker containers should be stoped.

#### Observed behavior
Docker containers are still running. One should execute `make stop-docker` manually to stop them.

#### Possible fixes
Add `stop-docker` in `stop-server`

[2017-02-14 19:29] mikaoelitiana commented on #5402
I will make a PR for this

[2017-02-14 22:36] #5251 closed

[2017-02-14 22:42] lfbrock commented on #5317
Closing this + will track in Jira

[2017-02-14 22:42] #5317 closed

[2017-02-14 22:46] jasonblais commented on #5215
Resolved by #5217, Jira ticket here: https://mattermost.atlassian.net/browse/PLT-5356

[2017-02-14 22:46] #5215 closed

[2017-02-14 22:47] jasonblais commented on #5216
We have a process to add new release tests for each PR merged to platform repo (when applicable) with markdown tests added to load_test.

Here's the spreadsheet for 3.7 PRs: https://docs.google.com/spreadsheets/d/1QIK50dHbBBOrAzQ6Bffb6YxXIcNLX9LzNW20spMapdY/edit#gid=0

[2017-02-14 22:47] #5216 closed

[2017-02-14 22:56] jasonblais commented on #5255
Added to channel switcher V2 spec: https://docs.google.com/document/d/1DLqgHuu14xxtLkZf3-6G0dpFm52--asaQC5puLcaOqs/edit#bookmark=id.9hbcha8xidw3

Will keep the issue open until spec finalized and queued for review

[2017-02-14 23:26] jasonblais opened #5408 "[Help Wanted] APIv4: GET /teams/{team_id}/stats"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-14 23:27] jasonblais opened #5409 "[Help Wanted] APIv4: GET /teams/{team_id}/members"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-14 23:29] jasonblais opened #5410 "[Help Wanted] APIv4: PUT /teams/{team_id}/members/{user_id}/roles"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-14 23:31] jasonblais opened #5411 "[Help Wanted] APIv4: GET /users/{user_id}/audits"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-14 23:34] jasonblais opened #5412 "[Help Wanted] APIv4: GET /users/{user_id}/posts/flagged"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-14 23:35] jasonblais opened #5413 "[Help Wanted] APIv4: DELETE /posts/{post_id}"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-14 23:35] jasonblais opened #5414 "[Help Wanted] APIv4: GET /teams/name/{name}"
If you're interested please comment here and come [join our "APIv4" community channel](https://pre-release.mattermost.com/core/channels/apiv4) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [APIv4 contribution process](https://docs.mattermost.com/developer/api4.html) to help get you started.

----

**

[2017-02-15 00:01] jasonblais commented on #5281
Hey @jtdaugherty , sorry for the delay in replying, much of our team was on the road last week.

This was a one-time change and we don't expect to change request parsers. Hence, you shouldn't expect to have the request missing a field in the future.

Really sorry for the inconvenience that it caused, and thank you for reporting it to us.

[2017-02-15 01:16] CometKim opened #5416 "Sender name is not appear in the push notification for all activities"
#### Summary
Sender name is not appear in the push notification for all activities, if the message does not contain mention.

#### Steps to reproduce
1. Set the push notification setting to receive for all activities.
2. Receive a push notification from messages with no mentions.

#### Expected behavior
`{sender} in {channel}: {message}` displayed on the push notification

#### Observed behavior
`

[2017-02-15 01:19] jasonblais commented on #5281
I also added the change to our 3.6 changelog here: https://github.com/mattermost/docs/commit/0e4edf408e120e4b56df90d93ba72db45f818b5c

I tried submitting a pull request that updates the error message to `Request missing required field "channel_id"`, but then realized the change is a little more involved. I think the current error message  `An error while saving the command response to the channel`

[2017-02-15 01:41] jtdaugherty commented on #5281
I have no doubt that changing the error-reporting to provide more granular messages would be somewhat involved. While the current error message may in fact capture a number of different conditions, it is really not very useful when trying to diagnose a problem because it provides no guidance on what should be changed to send a proper request. (And from glancing at the code, it appears that some er

[2017-02-15 03:01] mikaoelitiana commented on #5402
Closed after discussions in PR

[2017-02-15 03:01] #5402 closed

[2017-02-15 08:17] realrolfje commented on #5397
Thanks! I've forwarded your comment to our Android users, you may get some extra testers the coming week.

[2017-02-15 14:00] Laupe commented on #2420
Ahoj, tak co budeme to překládat? Já jsem dneska začal kdo se přidá a kolik nás už je?

Diskuze můžeme zde https://pre-release.mattermost.com/core/channels/i18n-czech

[2017-02-15 15:06] jasonblais commented on #5339
Thanks all! We'll track the issues here:
 - restricting sign ups from SSO domains: #5356
 - enable account creation bug: https://mattermost.atlassian.net/browse/PLT-5473.

[2017-02-15 15:06] #5339 closed

[2017-02-15 16:25] mikaoelitiana commented on #4997
This issue should be reopened after revert. Can someone do that please?

[2017-02-15 16:50] lfbrock commented on #5374
Hi @graphiclunarkid - thanks for the report!

It looks like disabling cookies also disables localStorage and sessionStorage, which the site needs to run (we originally noticed this with private browsing on Safari, which is why the error page text refers to private browsing).

We'll figure out some better text for that error page since the current text is inaccurate. I'll post back here with a tick

[2017-02-15 16:55] jasonblais commented on #4997
Reopened :)

[2017-02-15 17:15] esethna opened #5422 "[Help Wanted] [PLT-5322] Add more flag emojis"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-15 17:15] esethna opened #5423 "[Help Wanted] [PLT-5316] Use neutral skin tones for all system emoji"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-15 17:20] esethna opened #5424 "[Help Wanted] [PLT-5516] Add help text for "Words that trigger mentions""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-15 17:20] esethna opened #5425 "[Help Wanted] [PLT-5490] Add machine-readable timestamps for search results"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-15 17:30] esethna opened #5426 "[Help Wanted] [PLT-5482] Update CLI platform version command to include the build number"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-15 18:57] jasonblais commented on #5337
Thanks @Nevangalar @cinqs @christianAESD! I created two tickets:

1) [Cannot open Account Settings modal if available languages in config.json doesn't contain the default client language](https://mattermost.atlassian.net/browse/PLT-5548)
2) [Adding feedback when trying to save localization settings in System Console when Available Languages doesn't include the default client language](https://matt

[2017-02-15 18:57] #5337 closed

[2017-02-15 21:59] jdub80 opened #5432 "Create New Group: Able to change URL using 2 chars"
#### Summary
The user is able to change the URL to a value with only 2 characters.

#### Steps to reproduce
Browser: Safari (10.0.3)
Version: 3.6.0 (3.6.2)

1. Click the icon to create a new private group.
2. Select the Edit link to change the URL.
3. Enter 2 characters in the URL text field.
4. Click Change URL button.

#### Expected behavior
The following error message displays, "Must be longer

[2017-02-16 06:43] mikaoelitiana commented on #4997
thanks @jasonblais, I will re-work on this

[2017-02-16 15:55] demedos commented on #5386
It seems that the problem is about IIS 7.5 not supporting WebSockets, as stated here:

![ws](https://cloud.githubusercontent.com/assets/16702156/23028683/583bee42-f468-11e6-865f-111da3719536.PNG)
https://www.iis.net/learn/get-started/whats-new-in-iis-8/iis-80-websocket-protocol-support

Unluckly the only solutionn is to upgrade, so tomorrow I'll try out a reverse proxy with a newer version and wil

[2017-02-17 01:51] jasonblais commented on #5258
Thanks @joernhees for the report! I created a Jira ticket here, we'll track the issue there https://mattermost.atlassian.net/browse/PLT-5570

[2017-02-17 01:51] #5258 closed

[2017-02-17 02:54] kaakaa opened #5447 "Slash Commands can't send any request to server outside the proxy"
#### Summary
Hi all.
Our Mattermost is set up inside my company's proxy. And I made custom slash command that send request to server outside the proxy.
When executing that command, the request by command is failed.

#### Steps to reproduce
1. Set up Mattermost inside company's proxy.
2. Set up a custom slash command requesting to server outside the proxy
3. Execute that command

#### Expected beha

[2017-02-17 10:29] chitter99 commented on #2147
@jasonblais I managed to create an account. I first tried it on google chrome v56.0.2924.87, didn't work. Same error message like Beastie71. Then a tried firefox and every thing worked like it should.

[2017-02-17 13:13] jwilander commented on #5413
@ruzette is going to work on this

[2017-02-17 13:13] jwilander commented on #5412
@ruzette is going to work on this

[2017-02-17 14:29] jasonblais commented on #5264
Closed by #5322, thanks @pan-feng!

[2017-02-17 14:29] #5264 closed

[2017-02-17 16:03] jasonblais commented on #5235
@Rudloff wondering if you'd be interested helping investigate potential solutions for the issue?

Would love to get some help and suggestions from the community on this topic.

Ticket is here for reference: https://mattermost.atlassian.net/browse/PLT-5439

[2017-02-17 16:08] Rudloff commented on #5235
Most software I use have a `config.example.json` file that you copy during install.
The config file is not versioned but the example is versioned.
Then if an option is not defined in the `config.json` file, it takes the default value. This is to prevent any issue when an update adds new options.

[2017-02-17 16:35] jasonblais commented on #5235
@jwilander would you have thoughts on this proposal?

[2017-02-17 16:37] jwilander commented on #5235
I think that's a good solution 👍

[2017-02-17 16:42] jasonblais commented on #5235
@Rudloff would you be interested submitting a PR for your suggestion?

[2017-02-17 17:47] esethna commented on #5432
Thanks @jdub80! I've filed a ticket [here](https://mattermost.atlassian.net/browse/PLT-5571), this is actually just an incorrect error message as the URL should accept two characters. Would you be interested in working on the fix?

[2017-02-17 17:48] Rudloff commented on #5235
I will be pretty busy next week but I can submit a PR the week after.

[2017-02-17 17:53] jdub80 commented on #5432
Yes.

On Fri, Feb 17, 2017 at 7:47 AM, Eric Sethna <notifications@github.com>
wrote:

[2017-02-17 18:02] jasonblais commented on #5235
Next week works great, thanks @Rudloff!

[2017-02-17 18:02] jasonblais commented on #5235
I also reopened this issue for us to track

[2017-02-17 18:43] esethna opened #5456 "[Help Wanted] [PLT-5571] Update error messages when entering an invalid URL in channel creation window"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-17 18:44] esethna commented on #5432
Thanks @jdub80! I'm going to close this issue so it can be tracked as a help wanted issue: https://github.com/mattermost/platform/issues/5456. Please comment there if you start work on it.

[2017-02-17 18:44] #5432 closed

[2017-02-17 20:32] joannekoong commented on #5424
Should the second option "Your non-case sensitive username" be removed as an option as well since "@username" is now automatically included?

[2017-02-17 22:40] jasonblais commented on #5408
Closed via #5453, thanks @saturninoabril!

[2017-02-17 22:40] #5408 closed

[2017-02-18 00:21] vielmetti commented on #5456
https://github.com/mattermost/platform/blob/b3afe9fb16523415f3bceafde9bb80b4d229e2b2/webapp/components/change_url_modal.jsx#L53 is where the code is that matches this message.

[2017-02-18 02:04] lfbrock commented on #5336
I made an issue in docs repo to document this better, I think using the team name doesn't work and you need to use the team portion of the URL or the team ID.

[2017-02-18 16:19] jasonblais opened #5462 "[Help Wanted] Cannot open Account Settings modal if available languages in config.json doesn't contain the default client language"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:19] jasonblais opened #5463 "[Help Wanted] No feedback when trying to save localization settings in System Console when Available Languages doesn't include the default client language"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:19] jasonblais opened #5464 "[Help Wanted] Update System Console > Privacy help texts"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:26] esethna opened #5465 "[Help Wanted] [PLT-5270] Bold, italic and striked links should show link preview when available"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:26] esethna opened #5466 "[Help Wanted] [PLT-5269] Remove the extra blue bar from link previews"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:26] esethna opened #5467 "[Help Wanted] [PLT-5268] Always show link previews on comment threads in right-hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:31] esethna opened #5468 "[Help Wanted] [PLT-5281] Update error message text on team creation URL screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:31] esethna opened #5469 "[Help Wanted] [PLT-5140] Add a loading screen while switching teams via the teams sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-18 16:32] jasonblais commented on #5469
Duplicate of #4997

[2017-02-18 16:32] #5469 closed

[2017-02-19 16:15] jgoos commented on #5426
As far as I can see the build number is already included?
[code]

[2017-02-20 14:38] mikaoelitiana commented on #5414
I want to try this one. It would be my first one working on the Go side of the project.

[2017-02-20 14:42] mikaoelitiana commented on #5414
Oh I didn't see it was already PRed.

[2017-02-20 17:07] esethna opened #5479 "[Help Wanted] [PLT-5337] Can't change team sidebar colour"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-20 17:10] tejasbubane commented on #5336
![screen shot 2017-02-20 at 10 36 29 pm](https://cloud.githubusercontent.com/assets/980783/23135111/4c9619d4-f7bd-11e6-89c4-56242c9d1f1d.png)

This is what I saw in the system console, I am not sure which of these is ID since I did not create this team. Using `2spd` for delete command did not work but `s2pd` did work.

[2017-02-20 18:18] jasonblais commented on #5414
Thanks @mikaoelitiana! If you're interested in helping with other APIv4 endpoints, I encourage you to join our public [APIv4 channel](https://pre-release.mattermost.com/core/channels/apiv4).

We've prepared a [contribution process for APIv4](https://docs.mattermost.com/developer/api4.html) and a [progress tracker for new APIv4 enpoints](https://docs.google.com/spreadsheets/d/1nPoLgwh_9zRFECpqRUZAK

[2017-02-20 18:20] jasonblais commented on #5336
Ah yes, "2spd" is the team name but "s2pd" is the team URL. We'll update the docs + we're looking into updating the team pages in System Console to make them easier to use for System Admins.

I'll close this issue for now,

[2017-02-20 18:20] #5336 closed

[2017-02-20 19:05] jasonblais commented on #5464
Closed by #5470, thanks @joannekoong!

[2017-02-20 19:05] #5464 closed

[2017-02-20 19:05] jasonblais commented on #5414
Closed by #5473, thanks @saturninoabril!

[2017-02-20 19:05] #5414 closed

[2017-02-20 22:04] jasonblais commented on #2147
Thanks @chitter99 for reaching back, really helpful. I was able to reproduce it on Chrome as well.

We'll contact the vendor and get it sorted out. Glad you were able to sign up via firefox in the meantime.

[2017-02-21 00:21] jasonblais commented on #5424
Closed via #5459, thanks @joannekoong!

[2017-02-21 00:21] #5424 closed

[2017-02-21 05:27] jostyee opened #5484 "Encoding issue with link preview"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Team Version: 3.6.0  (3.6.2), link preview shows wrong characters
<img width="423"

[2017-02-21 05:54] jasonblais commented on #5484
Thanks @jostyee for the report - this will be improved in Mattermost 3.7 with updated website link previews.

Here's a snapshot of what the link preview will look like instead

![image](https://cloud.githubusercontent.com/assets/13119842/23152467/49ae1ede-f7d0-11e6-9d2d-ba52f7eaf1ce.png)

[2017-02-21 06:13] jostyee commented on #5484
thx @jasonblais

[2017-02-21 06:13] #5484 closed

[2017-02-21 06:55] pan-feng commented on #5479
I want do it ！

[2017-02-21 12:08] #5411 closed

[2017-02-21 12:13] #5410 closed

[2017-02-21 12:31] esethna opened #5485 "[MM-5838] Show a generic thumbnail when max image dimensions are exceeded"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-21 12:47] esethna opened #5486 "[Help Wanted] [PLT-1015] Make all Mattermost system emails Multi-Part, with both a HTML and Plain Text version."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-21 13:21] jasonblais commented on #5479
Awesome! Please go ahead @pan-feng!

[2017-02-21 13:57] jasonblais commented on #5281
Thanks @jtdaugherty for the feedback,

As you know, we're in the process of moving to APIv4 which will have updated status codes ([see spec for more details](https://docs.google.com/document/d/197JwEBMnK8okFilTfGSpbsrXPY5RZOJ4gG2DXwcbwYE/edit#heading=h.9wfmvlte5ycz)).

Quoting from the developer:

Although not the complete solution, it should help us move in the right direction.

Any thoughts / fe

[2017-02-21 14:21] jasonblais commented on #5456
Thanks @vielmetti,  that's a good point, I've updated the ticket accordingly

[2017-02-21 15:04] lllama opened #5488 "API docs not rendering in MS Edge"
Browsing to api.mattermost.com in Edge gives the following error:

![image](https://cloud.githubusercontent.com/assets/598411/23170410/f6739eca-f846-11e6-81b0-f03217e2f15e.png)

[2017-02-21 16:40] jtdaugherty commented on #5281
@jasonblais while I'm glad to hear that 500 responses will be used differently going forward, the problem I reported here was just that the response didn't contain enough information for me to diagnose the problem with my request. I only mentioned the 500 response to describe the observed behavior.

[2017-02-21 17:16] lindy65 commented on #5416
Hi @CometKim

Thanks for your report.  I tried reproducing the issue by setting "send mobile push notifications" to "all activity" but could not repro.  I also tried setting myself "away" and "offline" but still could not repro. I get the expected behaviour of "{sender} in {channel}: {message}".

Could you help by letting me know :
- Mattermost server version
- iOS device and iOS version
- was the

[2017-02-22 03:51] aisamanra commented on #5281
I should jump in here and remark that the lack of a relevant error in the response looks like it was associated with another bug which appears to have since been fixed: namely, the error-handling for invalid commands would swallow specific errors in favor of a generic "save" error: this can be observed in version 3.6.1 (and presumably in newer versions; I just looked for this in a random older ver

[2017-02-22 07:42] darkrasid opened #5493 "mattermost does not send email infomation when security level 'plain'"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Email what I send from mattermost, dose not include vaild infomation.

#### Steps

[2017-02-22 08:22] lindy65 commented on #5365
Hi @klischka

Thank you for the report :)

Agree that languages can be frustrating and we're working towards a solution.  Could I ask your help to take a look at this [feature suggestion](https://mattermost.uservoice.com/forums/306457-general/suggestions/16821181-add-option-to-set-multi-team-team-or-server-wide-d) where you can discuss and add your thoughts on default team languages?

Others can u

[2017-02-22 08:24] lindy65 commented on #5323
Hi @senk

Thank you for the report!

Please try upgrading to the latest version of the omnibus package as it contains the 3.6.2 update, and circle back to let us know whether that solved your issue?

Thanks :)

[2017-02-22 10:17] ulab commented on #5323
Updated the debian gitlab-ce package, still get the runtime error:

[code]

[2017-02-22 14:45] lafriks opened #5495 "CTRL+K and CTRL+U should not trigger on AltGr+K and AltGr+U"
#### Summary
CTRL+K and CTRL+U should not trigger on AltGr+K and AltGr+U

#### Steps to reproduce
Press AltGr+K or AltGr+U

#### Expected behavior
AltGr in some languages are used to input special characters with umlauts

#### Observed behavior
When keyboard layout is Latvian pressing AltGr+K or AltGr+U instead of getting "Ķ" or "Ū" in input box I get either upload or channel switch dialog and the

[2017-02-22 14:46] jasonblais commented on #5344
PR for it submitted here: https://github.com/mattermost/platform/pull/5489

[2017-02-22 14:46] #5344 closed

[2017-02-22 15:38] tuxayo commented on #5364
@wget great, it seems that you found a better wording! Thanks! :)

[2017-02-22 17:12] esethna opened #5501 "[Help Wanted] [PLT-5615] Update platform version command to output stdout instead of stderr"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-22 17:48] #5397 closed

[2017-02-22 19:33] MaverickAdams opened #5504 "Username defaults to lower case"
#### Summary
Issue in one concise sentence
Upon creating my profile the username defaults to lowercase without telling me

#### Steps to reproduce
Create an account and make the username start with a capital letter. Try to log in afterwards.

#### Expected behavior
Create account with username starting with a capital letter. Login with said username. Be logged in.

#### Observed behavior
Created a

[2017-02-22 20:58] cpanato commented on #5501
hello

you mean when you run the
[code]
if yes I ran that based on master and ran using this to check the stderr and stdout

`go run ./cmd/platform/*.go version > version.stdout  2> version.stderr`

and there was nothing on the stderr and the output was in the stdout

[code]

[2017-02-22 21:03] cpanato commented on #5426
yep its already there:

[code]

[2017-02-23 00:37] jasonblais commented on #5409
Closed via #5460, thanks @saturninoabril!

[2017-02-23 00:37] #5409 closed

[2017-02-23 00:41] jasonblais commented on #5501
@grundleborg any thoughts?

[2017-02-23 08:00] cpanato commented on #5486
possible library to use
* https://github.com/mohamedattahri/mail

[2017-02-23 08:57] #5354 closed

[2017-02-23 09:12] grundleborg commented on #5501
@jasonblais I agree with @cpanato - there doesn't currently appear to be anything getting printed to stderr - it's all going to stdout. Maybe this has already been fixed, or maybe we misunderstood the original bug report?

[2017-02-23 09:15] grundleborg commented on #5486
Hey @cpanato - are you taking on implementing this ticket? I'm wondering if we should check that the licensing on that library is OK, or if you are just posting an idea for someone else when they come to this ticket.

[2017-02-23 10:21] wget commented on #5364
@tuxayo If you do find other spelling or context translation mistakes, don't hesitate to ping us :)

[2017-02-23 11:37] cpanato commented on #5486
@grundleborg I can try to work on that.
Who can check the license? I'm not the best with licenses :/

Also, the changes will be around the mail.go right?

[2017-02-23 11:40] grundleborg commented on #5486
@cpanato for the license, I will ask Mattermost Inc people to review it and check it is OK for us to depend on it.

The changes, I think, will mostly be in https://github.com/mattermost/platform/blob/master/app/email.go .

At the moment, it is building emails from HTML templates. To complete this PR, it will need to build them both using HTML and Plain Text templates, and then combine both in a mu

[2017-02-23 11:47] cpanato commented on #5486
@grundleborg got it, I will wait to the license stuff and then will start the work on that :)

[2017-02-23 11:56] esethna opened #5510 "[Help Wanted] [PLT-4929] Confirmation Dialog when Deleting Entry on the Integrations pages."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-23 13:47] catbadger opened #5511 "PLEASE HELP."
#### Summary
I can't find the data in the docker image. I simply want to permanent the db it with a --volume flag and just can't figure it out. it doesnt seem to be documented anywhere. Can someone guide me here please?

[2017-02-24 00:04] catbadger commented on #1723
yes please

[2017-02-24 00:40] paav-o commented on #5416
I can confirm this observed behavior noticed by CometKim and I'm happy to try to help debug it.

- We are running Mattermost v3.6.2 installed from Docker image and postgres as database. Build date is Tue Jan 31 21:01:44 UTC 2017.
- Test device is iPhone 6 with newest iOS 10.2.1 and running newest Mattermost v3.5 app from App Store (updated 18 Nov 2016).
- Message was sent by user manually typing i

[2017-02-24 02:21] CometKim commented on #5416
Thanks, @lindy65 and @paav-o.

Once you change your push notification setting to `for all activities`, It could be reproduced on pre-release like below.

![screenshot_smartselect_2017-02-24-11-18-47](https://cloud.githubusercontent.com/assets/9696352/23287837/33eb3626-fa83-11e6-81c1-ae8c166dae61.png)

[2017-02-24 05:23] jasonblais commented on #5413
Closed by #5480, thanks @ruzette!

[2017-02-24 05:23] #5413 closed

[2017-02-24 08:28] jostyee opened #5520 "Cannot load channel messages, Uncaught TypeError: e.replace is not a function"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Cannot load channel messages due to `Uncaught TypeError: e.replace is not a functi

[2017-02-24 10:36] jostyee opened #5522 "Allow link preview requests through separate proxy"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Just found that Mattermost 3.7 has changed its link preview behavior from client r

[2017-02-24 16:40] clintfred opened #5523 "0 byte (empty) upload in direct message"
#### Summary
When uploading a file to someone via direct message, the file will appear as 0 bytes (and empty) if you are signed into a team that the other user is not a member of.

#### Steps to reproduce
Version: Mattermost Enterprise Edition - 3.4.0

1. Have a server with at least two teams. Have at least two users.
2. Put one user in both teams and the other user only in one.
3. Have the "both

[2017-02-24 16:52] clintfred commented on #5523
I should add that if both users switch to the same team the file uploads appear correctly for both users. If one switches teams again, the files will go back to showing as 0 bytes.

[2017-02-25 08:48] Catscrash opened #5528 "Slack Import not working"
#### Summary
The Slack import tool appears to do basically nothing

#### Steps to reproduce
Version 3.6.2, Export from Slack, Import into new Team.

#### Observed behavior
I did an export using slack and imported it into the new team useing Team Settings -> Import.
Only the user slackimportuser_.... gets imported to the team and the channels are being created. No users get imported, no posts get i

[2017-02-26 05:55] jasonblais commented on #5426
That's a good point @jgoos and @cpanato

We've queued to discuss in the dev meeting whether `Version` should contain the actual release number (e.g. 3.6.2)

[2017-02-26 09:52] jgoos commented on #5426
@jasonblais yes the current versioning is confusing.
Build number is more internal for the development team, and Version number for the actual release imo.

[2017-02-26 15:13] #4997 closed

[2017-02-26 18:28] jasonblais commented on #5462
Completed by https://github.com/mattermost/platform/pull/5532

Sorry @aautio for the duplication, appreciate your help looking into it

[2017-02-26 18:28] #5462 closed

[2017-02-26 19:18] aautio commented on #5462
@jasonblais I think you have another similar bug that can occur due to corrupt configuration of `DefaultClientLocale`. Described here: https://github.com/mattermost/platform/pull/5532#discussion_r103109056

[2017-02-26 19:45] jasonblais commented on #5462
That's a really nice catch @aautio, thanks for sharing this with us. Looks like a fix was incorporated to cover that case as well

[2017-02-27 08:12] hardysim opened #5538 "Reporting Uncaught TypeError: e.replace is not a function"
#### Summary
Mattermost channel does not open, fails with the following log:

Please report this to https://github.com/chjj/marked. row: 52 col: 30991 stack: TypeError: e.replace is not a function
Please report this to https://github.com/chjj/marked. url: https://...

#### Steps to reproduce
I'm using the bundled mattermost of a omnibus-gitlab-installation. It started failing after enabling slash-

[2017-02-27 08:14] hardysim commented on #5538
Maybe related: https://github.com/chjj/marked/issues/802

[2017-02-27 08:30] grundleborg commented on #5528
Hi @Catscrash . Thanks for reporting this bug. From the description of the problem and the data in `users.txt` you have attached, it looks like you are hitting this bug: https://mattermost.atlassian.net/browse/PLT-5479

I am working on a fix for this now, which will be part of the 3.7 release of Mattermost on 16th March. If you want a workaround in the meantime, you can add an `email` field within

[2017-02-27 08:37] Catscrash commented on #5528
I see,

thanks for the info!

[2017-02-27 13:14] jasonblais commented on #4753
Closed via #5272, big thanks @mpoornima!

[2017-02-27 13:14] jasonblais commented on #5288
Closed via #5324, big thanks @mpoornima!

[2017-02-27 13:14] #5288 closed

[2017-02-27 14:14] jostyee commented on #5522
hey Mattermost stuffs, can I send a PR to support proxy to this API?

[2017-02-27 15:06] jostyee commented on #5538
I had reported once before: https://github.com/mattermost/platform/issues/5520 w/o reponse.

[2017-02-27 23:59] jasonblais commented on #5522
Thanks @jostyee, let me check with our developers

[2017-02-28 01:39] CometKim opened #5557 "There is a misspelling for one message."
![image](https://cloud.githubusercontent.com/assets/9696352/23387760/efff7824-fda1-11e6-9579-ab12d21235fa.png)

Maybe this spelling is wrong. Right?

#### Expected
`api.templates.signin_change_email.subject`

#### Observed
`api.templates.singin_change_email.subject`

[2017-02-28 07:04] lindy65 commented on #5523
Hi @clintfred

Thanks for your issue report!

I believe the issue you describe was fixed when v3.5.0 was shipped.  Please try updating to the [latest version](https://about.mattermost.com/download) of Mattermost and let us know whether the issue still reproduces for you?

Thanks!

[2017-02-28 07:07] lindy65 commented on #5504
Hi @MaverickAdams

Thank you for your report!  We've reproduced the issue and have created a [ticket](https://mattermost.atlassian.net/browse/PLT-5667) to track it.

Your help is appreciated :)

[2017-02-28 07:11] lindy65 commented on #5495
Hi @lafriks

Thank you for your report!

You bring up a good point :)  Is this perhaps something you'd be interested in submitting a pull request for?

If you'd like to help, you can find our Code Contribution Guidelines  [here](https://docs.mattermost.com/developer/contribution-guide.html#code-contribution-guidelines).

Let us know if you have any questions!

[2017-02-28 07:13] lindy65 commented on #5488
Hi @lllama

Thank you for your report :)  We've reproduced the issue and have created a ticket to track it [here](https://mattermost.atlassian.net/browse/PLT-5665)

Thanks for helping improve our docs!

[2017-02-28 07:18] hardysim commented on #5538
Yep, exactly the same problem.

I've opened another bug on the gitlab-side (but made it private because the log-output contains sensible data). When they'll respond, I'll post it on #5520.

---

Closing here in favor of #5520.

[2017-02-28 07:18] #5538 closed

[2017-02-28 07:31] haikuoyao commented on #2017
I'm on the same boat with you. Did anyone have a solution for this ?

[2017-02-28 08:40] bjorges commented on #5323
I also see this problem. I use the tar-install, not omnibus.

# sudo -u mattermost /opt/mattermost/bin/platform version
Version: 3.6.0
Build Number: 3.6.2
Build Date: Tue Jan 31 21:02:59 UTC 2017
Build Hash: 1a9891f0f5671551d28be54a99155b907480cc5c
Build Enterprise Ready: true
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 a

[2017-02-28 09:42] grundleborg commented on #5486
@cpanato the license is OK for that library, so you can start hacking whenever you like :)

[2017-02-28 14:29] pf-curtis-mitchell commented on #4180
I experienced this issue too. Wondering if it has anything to do with load-balancing and a mismatch between the configured SiteURL and actual url?

[2017-02-28 14:49] jasonblais commented on #5281
Hey @jtdaugherty and @aisamanra

Have chatted with one of our developers and here's our plan.

Created a ticket for us to [improve error reporting of the execute endpoint (for APIv4)](https://mattermost.atlassian.net/browse/PLT-5673):

1) Make the error messages clearer to identify what's causing it
2) Return errors when there's an error instead of an ephemeral message
3) Have the client do the co

[2017-02-28 15:56] rascalcmos commented on #2769
4000 chars limit is definitely not enough when sending formatted charts with images and other items using markdowns. My table takes about half a page and is already at the limit.

[2017-02-28 17:36] lindy65 commented on #5557
Hi @cometkim

Thanks for the report!  I believe you are correct :)

We've created a [ticket](https://mattermost.atlassian.net/browse/PLT-5670) to fix the mistake.

Would you or someone in the community be interested helping with a fix? We'll likely turn this into a help wanted ticket.

[2017-02-28 17:43] lindy65 commented on #5235
Hi @Rudloff

Just wanted to say a big thank you from the Mattermost team.  Your contribution is much appreciated!  It's a real pleasure having contributors such as yourself working with us :)

[2017-02-28 20:06] aautio commented on #5370
Just writing here as a note: I can't reproduce this with Apple + Chrome. For me the mouse selection from the list of emojis is working as expected.

[2017-02-28 20:59] lafriks commented on #5495
I debbuged a little bit and found out that on Windows with keyboard that AltGr (right Alt key) is set for alternate letters in key press event object it has all properties same as for left Ctrl key so I don't know how to detect in JS when each of them is pressed

[2017-02-28 21:39] lafriks commented on #5495
Pull request submitted ;)

[2017-03-01 01:29] jasonblais commented on #5522
@jostyee please feel free to submit a PR and our devs will take a look at it

[2017-03-01 03:08] R-Wang97 commented on #5557
Hi @lindy65, I'd be interested in submitting a fix!

[2017-03-01 04:30] jostyee commented on #5522
@jasonblais I'll commit the PR asap.

another related issue, across the whole project we use stdlib default http client, which w/o any custom transport settings, this behavior is strongly anti-pattern. https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779

Have you ever considered maintain some global http clients, e.g.: switch on/off tlsverify; respect http_proxy env; config

[2017-03-01 07:20] lindy65 commented on #5557
Hi @R-Wang97

Thank you so much!  That was speedy :)

Your help is very much appreciated!

[2017-03-01 07:25] lindy65 commented on #5495
Hi @lafriks

Awesome!  Thanks so much :)  Really great having contributors such as yourself work with us!

[2017-03-01 07:55] cpanato commented on #5486
@grundleborg sounds good. I will read about sending email in two formats and play around in the code.

thanks!!

[2017-03-01 08:45] #5456 closed

[2017-03-01 10:03] hardysim commented on #5520
Can we somehow **change** the chat-message with the slash-command that the chat is loadable again?

Currently, I'm not able to use a 1:1 chat with a team-member as it includes a broken slash-command - I'm not able to communicate with this one :frowning_face:

I've read the doc and find some command-line stuff but there're only commands to add/delete channels etc. I think we would need to manipulat

[2017-03-01 10:13] stefanvangastel commented on #5520
Same issue here. Cannot load my town-square channel due to the 'stuck on loading'  issue. This is preventing me to use an entire 'Team'  due to the fact the first channel it loads is the town-square..

Major problem...

[2017-03-01 10:18] jostyee commented on #5520
GitLab released 8.17.1 today which fixes sth related to commands:
https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/9408

Haven't tried it.

[2017-03-01 10:33] hardysim commented on #5520
I've already updates GitLab today but it doesn't fix this.

The mentioned MR looks like a different problem. I'm waiting for a fix on their side like "fixed slash-commands in mattermost-integration".

[2017-03-01 10:34] stefanvangastel commented on #5520
This could be a fix though I cant find an exception in the Sources tab: https://gitlab.com/gitlab-org/gitlab-ce/issues/28640#note_24098466

[2017-03-01 10:39] jostyee commented on #5520
I installed a third party client to del the messed up message to make the
chan load again.
On Wed, 1 Mar 2017 at 6:35 PM Stefan van Gastel <notifications@github.com>
wrote:

--

Best regards,

-- yee

[2017-03-01 10:42] stefanvangastel commented on #5520
What client?

[2017-03-01 11:57] jostyee commented on #5520
I'd rather Mattermost codes be more robust other than hoping only GitLab do the fix work to bypass the issue.

[2017-03-01 13:04] stefanvangastel commented on #5520
Super nasty workaround I used was to spam a lot of messages to the corrupted channel using mattertee. So the bad messages are not loaded...

I feel dirty..

[2017-03-01 14:50] demedos commented on #5386
I would like to close the issue but I've had no luck so far.
I've upgraded my whole system to a Windows Server 2012 and IIS 8, with the WebSockets option installed and enabled, hoping that everything would be ok, but there's still some issue.

for testing purposes I've added only 1 rewrite rule to IIS, defined as below

![cattura](https://cloud.githubusercontent.com/assets/16702156/23464420/36686c

[2017-03-01 14:53] demedos commented on #5386
Could this be related to the fact that the log shows `ip=192.168.10.1:55120`, which I suppose is the router address, and not the caller?

[2017-03-01 17:29] esethna opened #5585 "[Help Wanted] [PLT-5667] Automatically convert usernames to lowercase letters on sign in"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-01 17:58] esethna opened #5586 "[Help Wanted] [PLT-5535] Timestamp links on desktop app should open in permalink view in the current window"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-01 18:50] cpanato commented on #5585
I can work on that

[2017-03-01 20:19] jasonblais commented on #4187
@Aka4Code we've reinstated the delete option for system messages https://github.com/mattermost/platform/pull/5113

It'll be available in Mattermost 3.7, with release on March 16th

[2017-03-01 20:51] lfbrock commented on #5374
Ended up making a Jira ticket to create a new error page there: https://mattermost.atlassian.net/browse/PLT-5702

Closing this + will track in Jira

[2017-03-01 20:51] #5374 closed

[2017-03-01 22:41] jasonblais commented on #4359
Fixed by @5507, thanks @cpanato, @nelfer!

[2017-03-01 22:41] #4359 closed

[2017-03-02 01:08] CometKim commented on #5511
You can figure out the volume path using this command,
`docker inspect {container} | grep volume`

[2017-03-02 01:25] CometKim commented on #5416
Hello @lindy65,

* Mattermost server version
  recent version (pre-release)

* iOS device and iOS version
  I use **Samsung Galaxy Note 5** and **Android Marshmallow**(6.0.1).
  I believe this is a server issue and not an app or device.

* was the message sent by a webhook or other integration?
  General message and Integration both.

* what is the name displayed in a desktop notification?
  I did

[2017-03-02 07:45] hardysim commented on #5520
Any progress on this? It's been a week with unusable in-production software without a comment from the makers :frowning:

[2017-03-02 08:35] BRH-Enrian commented on #5386
This is a problem with a recent change to web socket processing in Mattermost. Specifically, https://github.com/mattermost/platform/commit/1a9891f0f5671551d28be54a99155b907480cc5c

Try reverting the change to CheckOrigin. This really should mimic what is being done for HTTP connections in the server.go file (see ServeHTTP where there is the check for Origin header).

[2017-03-02 08:42] cpanato commented on #5585
@esethna I created a user with username Carlos, and after that, I was able to login using Carlos or carlos as a username in the login page. Both works.

I used master as base.

[2017-03-02 10:56] demedos commented on #5386
I'm sorry, would you please provide me the steps to revert the change and upload them to the ubuntu server? I expected to find a file to edit but I support everything is compiled into the bin/platform file.

[2017-03-02 11:52] demedos commented on #5386
I'm a windows user, any chance you branch and compile it?

[2017-03-02 13:48] urban-idler commented on #2381
You guys need to lock down the channel headers.  these are functionally the data model for community discussion.... and no organization lets their data model be edited by anyone -- especially when the intent is for the channel to be open to the public.

Please allow users to lock the public channel name and headers.  There is no function to everyone in a public channel to be able to change the nam

[2017-03-02 14:03] jasonblais commented on #5323
Thanks everyone! We've created a bug ticket here to investigate: https://mattermost.atlassian.net/browse/PLT-5682

[2017-03-02 14:45] jasonblais commented on #5528
This should be fixed with #5597, thanks @Catscrash and @grundleborg!

[2017-03-02 14:45] #5528 closed

[2017-03-02 15:12] jasonblais commented on #5585
@cpanato I tried on `master` and I get the following

![image](https://cloud.githubusercontent.com/assets/13119842/23512996/9af9f0da-ff30-11e6-8ecf-3a6aa3bdb3e8.png)

But signing in with `jason123456` works.

[2017-03-02 15:13] cpanato commented on #5585
@jasonblais let me try again

[2017-03-02 15:25] cpanato commented on #5585
@jasonblais
![lmvjpbrj1v](https://cloud.githubusercontent.com/assets/4115580/23513604/d915539e-ff64-11e6-8e20-cadc6d62b39b.gif)

[2017-03-02 16:28] jasonblais commented on #5585
Hmm, interesting. It looks like it only reproduces on a PostgreSQL server.

If I try on MySQL, it works fine. Is your local environment on MySQL?

[2017-03-02 16:30] cpanato commented on #5585
I have both docker postgres/mysql.
now the question :) : how can I use mysql instead of postgress ? @jasonblais
there are any docs about that?

[2017-03-02 17:07] cpanato commented on #5585
@jasonblais is it in the config.json?

[code]

what is the config for postgres ?

[2017-03-02 17:11] jasonblais commented on #5585
We don't currently have support for migrating between databases automatically, as far as I know.

But I would ask in the [developers channel on pre-release](https://pre-release.mattermost.com/core/channels/developers), as they might know.

[2017-03-02 17:35] #5510 closed

[2017-03-02 17:46] #4753 closed

[2017-03-02 17:57] lindy65 commented on #5416
Hi @CometKim and @paav-o

Thank you for the detailed repro steps!  We've been able to repro the issue and have created a [ticket](https://mattermost.atlassian.net/browse/PLT-5685) to track it.

[2017-03-02 18:13] lindy65 commented on #5493
Hi @darkrasid

Thank you for your report and apologies for the delay in responding.  We were working on trying to reproduce the issue but haven't had much luck yet.

Could you help by providing the following information?:
1) Did you follow our [SMTP Email Setup guide](https://docs.mattermost.com/install/smtp-email-setup.html)
2) Which SMTP server are you using (e.g. Amazon SES, Hotmail)
3) Do you

[2017-03-02 19:04] R-Wang97 commented on #5466
I can take a look at this issue.

[2017-03-02 19:19] aautio commented on #5466
@R-Wang97 👍  I'd suggest two edits to achieve this:

1: Add `&.attachment__container--opengraph { border-left-color: transparent; }` to `_webhooks.scss`, inside the `.post .attachment .attachment__container` ... as there are many similar rules over there.

2: Add `attachment__container--opengraph` as an additional class to the `div` with classes `clearfix attachment__container` post_attachment_ope

[2017-03-02 20:48] R-Wang97 commented on #5466
@aautio Thanks, will check it out 😄

[2017-03-03 03:31] jostyee opened #5609 "Group message doesn't support `cmd+shift+k` hotkey"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
glad to see https://github.com/mattermost/platform/pull/5489 has been merged, it's

[2017-03-03 05:16] jasonblais commented on #5609
Hey @jostyee, at the moment `CTRL/CMD+K` can be used to open existing channels, not create new ones. I think that's how Slack's quick channel switcher works at the moment too?

We're looking to improve that shortcut in the near term though, with potentially introducing `CTRL+SHIFT+K` for creating new DM/group messages

[2017-03-03 05:21] jasonblais commented on #5520
Sorry @jostyee @hardysim @stefanvangastel for the slow response here

@ZJvandeWeg would you have any thoughts on this error? It appears that after using [`/project issue show 1`](https://docs.gitlab.com/ee/user/project/integrations/mattermost_slash_commands.html), the channel cannot be loaded.

Looks like this is reported in a few places now
 - http://forum.mattermost.org/t/one-channel-unusable-af

[2017-03-03 05:30] jostyee commented on #5609
Slack shortcuts for reference.
<img width="631" alt="screen shot 2017-03-03 at 1 29 02 pm" src="https://cloud.githubusercontent.com/assets/88564/23539318/799c1c34-0015-11e7-8229-a62ad37006ae.png">

[2017-03-03 05:32] jasonblais opened #5610 "Mattermost v3.7.0 - RC2"
This is a meta issue for v3.7.0 release updates.

Release candidates will be posted here for testing on March 6th.

The final release will be available March 16th.

See the [changelog](https://github.com/mattermost/docs/blob/fbaeaa98ce63ace90d46971d9c7a3e2c62f9b939/source/administration/changelog.md#release-v370) for details about the release.

----

### RC2

The latest Mattermost release candidat

[2017-03-03 05:53] jostyee commented on #5520
@jasonblais put GitLab aside, at lease Mattermost should assure that unparsable message won't tear down the whole channel.

[2017-03-03 06:54] huksley opened #5611 "First name and Last name is not updated from OAuth provider (GitLab)"
#### Summary
Full name (First name and last name) is not updated on every login to OAuth provider.

#### Steps to reproduce
1.  Register using OAuth (for example GitLab).
2.  Update in GitLab first name and last name.
3.  Relogin to Mattermost
4.  First name and last name in Mattermost is not updated.

#### Expected behavior
First name and last name must be updated on every login.
Mattermost does

[2017-03-03 07:07] darkrasid commented on #5493
Thank you for answering @lindy65

  1. Did you follow our SMTP Email Setup guide => yes
  2. Which SMTP server are you using (e.g. Amazon SES, Hotmail) => I use my own smtp server made from [here](https://github.com/4commerce-technologies-AG/midi-smtp-server)
  3. Do you see anything in the server logs (from System Console > Logs)
[code]
And smtp server log is here (actually same as upper)
[code]

[2017-03-03 08:11] ZJvandeWeg commented on #5520
Ill take a look this week. It will probably miss the merge window, but if its this serious Ill push for a patch release.

[2017-03-03 08:32] cpanato commented on #5585
this issue happen when using Postgres.
I will fix that on the webapp to make lowercase the loginid

[2017-03-03 08:53] cpanato commented on #5585
PR - https://github.com/mattermost/platform/pull/5613

[2017-03-03 12:33] fishbike opened #5614 "Disappearing channel navigation panel scrollbar"
#### Summary
Scrollbar disappearing intermittently when switching away from/back to long channel list

#### Steps to reproduce
On 3.6.0 desktop / 3.6.2 server, Windows 10 on a laptop (1366x768 resolution)

#### Expected behavior
When starting the application, on the team navigation bar on the left, in a team with 20+ channels, I see the scrollbar in the navigation panel (so I can get to offscreen

[2017-03-03 13:08] jasonblais commented on #5609
Thanks @jostyee! Looks like the quick switcher is for switching channels? But for creating group messages, you'd need to use CTRL/CMD+SHIFT+K?

[2017-03-03 13:23] jasonblais commented on #5611
@huksley I think this PR will fix the issue: https://github.com/mattermost/platform/pull/5324 It updates user attributes for GitLab on login.

It will be available on Mattermost 3.7 on March 16th

[2017-03-03 16:08] esethna opened #5625 "[Help Wanted] [PLT-5669] In Account Settings > Security > Access History, in the Timestamp column add a new line after the date and remove "-""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-03 17:27] esethna opened #5627 "[Help Wanted] [PLT-5715] Add a CLI command to search for users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-03 18:13] jasonblais commented on #5520
We have created a ticket and are investigating the issue: https://mattermost.atlassian.net/browse/PLT-5722

@ZJvandeWeg where is the GitLab slash command plug-in stored? This would help us find the root cause

[2017-03-03 19:12] ZJvandeWeg commented on #5520
@jasonblais I linked a part of it, the rest can be found in `/lib/chat_commands`.

[2017-03-03 19:36] law opened #5634 "Image links not ending in .gif, .jpg, etc do not auto-expand"
#### Summary
Issue in one concise sentence
While Mattermost's image expansion works as expected when the URL ends in .gif, .jpg, etc, image-based links that Slack would expand automatically are not expanded by Mattermost.
#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Post links like the following to a Mattermost channel or DM:
http://media.riffsy.com/images/4

[2017-03-03 20:06] esethna opened #5636 "[Help Wanted] [PLT-5715] Add a CLI command to search for users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-03 20:06] #5636 closed

[2017-03-03 20:13] esethna opened #5637 "[Help Wanted] [PLT-5715] Add a CLI command to search for users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-03 20:13] #5637 closed

[2017-03-03 20:14] esethna opened #5638 "[Help Wanted] [PLT-5535] Timestamp permalinks on desktop app should open in a new browser tab"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-03 20:14] #5638 closed

[2017-03-03 20:24] jasonblais commented on #5386
@demedos @BRH-Enrian are you using multiple Mattermost URLs through proxy forwarding?

If so, what is your `SiteURL` field in config.json (or in System Console > General > Configuration)?

We have a ticket to investigate this: https://mattermost.atlassian.net/browse/PLT-5635

[2017-03-03 22:50] jasonblais commented on #5614
Thanks @fishbike for the report! Couple of questions to help investigate the issue

1) Are the repro steps as follows?

1 - Switch to team B
2 - Switch back to team A
Observed: No scrollbar on the channel sidebar

2) Does this reproduce on the browser, or only on the desktop app?
3) How long has the problem been occurring?
 - Did you recently install or begin using Mattermost for the first time?

[2017-03-03 23:28] fishbike commented on #5614
1, Yes
2. Not quite--on the browser (Firefox current, at least), it's a little worse/more random. Looks like (and I'm not spot diagnosing, just describing) there's some "smart" around scrollbar appearance that is too smart/doesn't cover all cases.
3. Can't say but to your a and b: a) no, we've been using it for ~6 months, and b) yes, or I wouldn't have waited to post because it's hard to use, but

[2017-03-04 02:14] ruzette commented on #4587
Hi! I'd like to try this one if this help wanted issue is still available. Thanks! :)

[2017-03-04 15:35] jasonblais commented on #4587
Thanks @ruzette! Please go ahead 👍

Let us know if you have any questions. For the full-screen page, this PR might helpful https://github.com/mattermost/platform/pull/4046

[2017-03-04 16:16] jostyee commented on #5609
@jasonblais yes, my bad to remember it wrongly.

[2017-03-04 16:28] jasonblais commented on #5609
No worries! I completely empathize with you on the quick switcher and being able to quickly create direct/group messages. This should be made easier.

We have a ticket to refactor CTRL/CMD+K and as part of that fix many of the issues it has: https://mattermost.atlassian.net/browse/PLT-5699

[2017-03-04 17:59] jasonblais commented on #5426
Thanks @jgoos and @cpanato, I've updated the description following our discussion:

Include the following in ./platform version command
 - Version: The real version number including the dot release, e.g 3.6.0 or 3.6.2
 - Build Number: The real build number, e.g. 1582 in the attached screenshots
 - DB: The schema version of the database, e.g. 3.5.0 or 3.6.0

[2017-03-05 04:09] VeraLyu commented on #5625
Hi,
    May I take this one? Thanks!

[2017-03-05 09:53] kentyeh commented on #643
+1

[2017-03-05 11:14] nmatelot commented on #643
+1

[2017-03-05 18:09] jasonblais commented on #5625
Absolutely @VeraLyu! Please let us know if you have any questions.

[2017-03-05 20:07] jasonblais commented on #5557
Closed via #5569, thanks @R-Wang97!

[2017-03-05 20:07] #5557 closed

[2017-03-05 20:09] jasonblais commented on #5266
Closed by #5284, thanks @saturninoabril!

[2017-03-05 20:09] #5266 closed

[2017-03-05 20:11] jasonblais commented on #4824
@bjoernr-de Wondering if this is something you'd be interested taking a look, given your previous work on emoji reactions?

[2017-03-05 20:11] jasonblais commented on #5425
Closed by #5564, thanks @aautio!

[2017-03-05 20:11] #5425 closed

[2017-03-05 20:12] #5412 closed

[2017-03-05 20:12] jasonblais commented on #5366
Resolved, thanks to @cpanato and @aautio!

[2017-03-05 20:13] jasonblais commented on #5357
This feature is now added and will be available in 3.7

[2017-03-05 20:13] #5357 closed

[2017-03-06 01:31] jasonblais commented on #5614
Thanks for the information, that's very useful. I'm able to reproduce it and have filed a ticket here. https://mattermost.atlassian.net/browse/PLT-5731

It looks like the mouse scrollwheel still works on the sidebar, even when the scrollbar is not visible. Hopefully that can help mitigate the impact without forcing you to alter the application zoom each time.

[2017-03-06 09:24] demedos commented on #5386
@jasonblais What do you mean by multiple Mattermost URLs? My current flow is
Externail IP -> IIS Server -> Linux Server.

My `SiteURL` property was set as `https://website.com`.
About the CORS, it's not working with the `*` nor with `https://website.com`.

It seems like this has something to do with the fact that Application Request Routing is stripping off the `Request-Origin` header from the req

[2017-03-06 11:28] BRH-Enrian commented on #5386
IMO, the issue is that the default behavior for web socket processing by Mattermost does not honor CORS setting in the Mattermost config. The code used to accept *any* connection request, but now it relies on default behavior as documented at http://www.gorillatoolkit.org/pkg/websocket <http://www.gorillatoolkit.org/pkg/websocket> under “Origin Considerations” which states that

If the CheckOrigin

[2017-03-06 11:46] demedos commented on #5386
@BRH-Enrian That makes sense now, it almost drove me crazy. That means that it doesn't matter the Web server, the cross-origin requests will be refused.
Could you or @jasonblais compile me a working version please? I've already spent a whole day just trying to set up a go envoironment to compile without the edit in this commit [1a9891f](https://github.com/mattermost/platform/commit/1a9891f0f567155

[2017-03-06 13:33] jasonblais commented on #5323
@senk @ulab @bjorges

Actually, one of our developers responded back, saying the platform command needs to be started from the mattermost directory. So the command should look like `./bin/platform`. Can you try running the command like that?

We have an on-going conversation here to clarify it in our CLI documentation [link to GitHub thread](https://github.com/mattermost/docs/pull/949/files/b14b9a

[2017-03-06 15:47] bradhowes commented on #5386
See if this works for you: https://github.com/bradhowes/platform/releases/tag/v3.6.1-websocket-cors

[2017-03-06 17:10] demedos commented on #5386
@bradhowes Thank you, but as soon I click the` Save` button everything in the `Enable cross-origin requests from:` field gets wiped out.
I just stopped the mattermost-service and replaced the content of the /opt/mattermost folder with the one you provided, supposing it's enough to make it work.

[2017-03-06 17:14] bradhowes commented on #5386
The build contains a stock config.json file which will overwrite anything you may already have there if you just blast it into /opt/mattermost. Sorry. Best bet is to untar in a tmp directory and then move the bin/platform executable into /opt/mattermost/bin. Alternatively, save the config.json file first, do what you did, and then restore the file.

[2017-03-06 17:23] demedos commented on #5386
That's exactly what I did. Saved the config.json, replaced all and then restored it. Anyway, changing the value manually works, the value is shown in the system console.

Now the error is changed:

`WebSocket connection to 'ws://website.com/api/v3/users/websocket' failed: Error during WebSocket handshake: Incorrect 'Sec-WebSocket-Accept' header value`

[2017-03-06 20:33] bjoernr-de commented on #4824
Thanks @jasonblais - Something I can take a look at but probably not before next month :(

[2017-03-06 22:01] jasonblais commented on #4824
No worries! Thanks @bjoernr-de!

[2017-03-06 22:22] morenoh149 opened #5668 "Error thrown when tab is returned to after some time and `option + downArrow` is pressed"
#### Summary
Error thrown when tab is returned to after some time and `option + downArrow` is pressed to switch teams.

#### Steps to reproduce
Open mattermost. open some channel. Leave computer for ~1 hours. Return to computer and press `option + downArrow`. An error banner will be shown if on the contributors mattermost.

#### Expected behavior
Expected next channel to go into focus.

#### Obser

[2017-03-06 22:28] jasonblais opened #5669 "[Help Wanted] [PLT-5628] Confirmation Dialog when Deleting Entry in the Custom Emoji List"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-06 22:38] hmhealey commented on #5520
Is anyone affected by this issue able to get the raw text of an offending post from their database to send to me? You can send it privately to me on https://pre-release.mattermost.com since this could be used for a denial-of-service attack. I have an idea of what's causing the issue, but I haven't been able to reproduce it myself

[2017-03-06 22:53] ulab commented on #5323
The thread mentioned that you need to add the path like we did above `... ./mattermost ...`. We also used sudo to switch to the mattermost user.

Ok, I did an update to gitlab-ce (8.17.2-ce.0) from (8.17.1-ce.2) today and tried again with `... ./bin/mattermost ...` and I got similar results:

[code]

[2017-03-07 01:49] VeraLyu commented on #5669
Hi, may I take this one?

[2017-03-07 01:55] jasonblais commented on #5669
Absolutely! Thanks @VeraLyu!

[2017-03-07 06:12] stefanvangastel commented on #5520
@hmhealey I have done the following using Mattermost shipped with Gitlab 8.17.1:

- Create new channel
- Use `/<trigger> issue show <number>`
- This works for most issues though I found one giving no visible response
- I'll send you the output, will have to redact some stuff though I'll keep all non [a-zA-Z0-9] chars in place.

Note: My channel doesn't break anymore. (Same version as far as I know

[2017-03-07 07:58] ZJvandeWeg commented on #5520
I've been unable to reproduce on the current omnibus nightly.

However, a fake JSON you might receive:

[code]

-- 
Zeger-Jan van de Weg

On 7 March 2017 at 07:13:39, Stefan van Gastel (notifications@github.com) wrote:

@hmhealey I have done the following using Mattermost shipped with Gitlab 8.17.1:

Create new channel
Use /<trigger> issue show <number>
This works for most issues though I found on

[2017-03-07 11:16] demedos commented on #5386
@bradhowes Any way to tell it this is the correct header?

![image](https://cloud.githubusercontent.com/assets/16702156/23654215/eac8aec8-032f-11e7-8bee-1cc534c08830.png)

[2017-03-07 11:46] bradhowes commented on #5386
That looks OK to me. This is what is giving you an error? I’m not an expert on WebSocket protocol, but that appears normal. Note that from https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers <https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API/Writing_WebSocket_servers> the Sec-WebSocket-Accept value should have been calculated from the Sec-WebSock

[2017-03-07 13:14] demedos commented on #5386
You are right, it doesn't match.

Given `en81vWzPOxZRZye6CzZeZA==` as the key, and concatenating it with the [magic string](https://en.wikipedia.org/wiki/Magic_string), the key is

`en81vWzPOxZRZye6CzZeZA==258EAFA5-E914-47DA-95CA-C5AB0DC85B11`
which [converted](http://hash.online-convert.com/sha1-generator) to sha1 hash, gives the resulting base64 string
`ePXOJuIT6J656wlvecIwVSJJFmQ=`

While my br

[2017-03-07 22:52] cpanato commented on #5486
@grundleborg hello, how are you doing?

I tried the above library. however, it not work as expected and the project looks like its abandoned.

I'm working using this one https://github.com/go-gomail/gomail/tree/v2 which is working :)

we just need to check if fit the license. The repo says it is under MIT. Can you confirm if we can use that?

thanks

[2017-03-07 22:58] jasonblais commented on #5486
License for https://github.com/go-gomail/gomail/tree/v2 looks good 👍

[2017-03-07 23:07] cpanato commented on #5486
Also what do you guys think to use this lib to convert the html to plain text? https://github.com/jaytaylor/html2text

or we get the templates and adjust that for plain text?

this one sample output using this two libraries

plain text

<img width="848" alt="screen shot 2017-03-08 at 00 06 26" src="https://cloud.githubusercontent.com/assets/4115580/23682270/2d99b6c6-0393-11e7-8e0d-32137ffd10c3.png

[2017-03-08 01:40] jasonblais commented on #5495
Closed, thanks @lafriks!

[2017-03-08 01:40] #5495 closed

[2017-03-08 02:00] UgoCloutier commented on #4127
I don't have the skills to help but I just wanted to +1 this feature.
It would be awesome to simply have a second "section" when inviting new members: being able to select existing users in the db so they simply get added to the newly created team.
Most of our users have installed the app on their computer and phones, therefore when they get the link, most of the time they are not logged in, there

[2017-03-08 09:33] grundleborg commented on #5486
I think we'd probably be better making custom templates for HTML & Plain Text, rather than relying on some library to convert them. @jasonblais can confirm though.

[2017-03-08 09:36] bebald opened #5684 "Unable to create LDAP user."
So we've started to use our mattermost server with LDAP setup recently.
63/250 users had no problems whatsoever, but some get the following error message:

LDAP synch via system console works fine, whereas the command ./plattform ldap sync ends up with the following errors:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 add

[2017-03-08 09:41] cpanato commented on #5486
ok, then I will need to work a little more on the templates.
ok, will wait for @jasonblais

[2017-03-08 10:36] demedos commented on #5386
@bradhowes
FWIW I'm using an Nginx web server right now and everything is just fine. This has totally to do with IIS and more specifically ARR 3, as stated [here](http://stackoverflow.com/questions/34316825/websockets-reverse-proxy-in-iis-8), which doesn't support the `Sec-WebSocket-Extensions` header.
Is there any way, or could it be implemented, to create the WebSocketServer without the perMessa

[2017-03-08 12:56] jasonblais commented on #5610
### RC3 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.7.0-rc3/mattermost-team-3.7.0-rc3-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied pr

[2017-03-08 13:12] jasonblais commented on #5684
The platform command actually needs to be started from the mattermost directory. So the command should look like `./bin/platform`. Can you try running the command like that?

[2017-03-08 13:37] bebald commented on #5684
![mattermost_errormsg](https://cloud.githubusercontent.com/assets/26271611/23705954/66b06d0a-040c-11e7-9c15-71a705cda912.PNG)

Same error message.

[2017-03-08 13:48] mschulzPED commented on #5684
working in the same company as @bebald . we also have this error in mattermost.log

[code]

which is defined in https://github.com/mattermost/platform/blob/master/model/user.go

[code]
but only on some usernames.

[2017-03-08 14:00] cpanato commented on #5684
and for those usernames what is the value for the Position ? is bigger than 35 chars ?

[2017-03-08 14:01] bebald commented on #5684
What Position do you mean?

[2017-03-08 14:02] mschulzPED commented on #5684
I know that you mean the const USER_POSITION_MAX_RUNES=35, but what position do you mean.

[2017-03-08 14:04] bebald commented on #5684
exactly, what does USER_POSITION_MAX_RUNES=35 refer to?

[2017-03-08 14:04] cpanato commented on #5684
the position means the Role/title of the user.

like: Software engineer, sales team....

[2017-03-08 14:08] bebald commented on #5684
will check that...

[2017-03-08 14:09] bebald commented on #5684
yeb, I guess that's our problem ;)

[2017-03-08 14:16] mschulzPED commented on #5684
looks better, but the ./bin/platform ldap sync command throws exactly the same error, so that might be another problem.

[2017-03-08 14:17] cpanato commented on #5684
i will take a quick look on the dump and try to check the code

[2017-03-08 15:59] jasonblais commented on #5486
Hey @cpanato, chatted with @grundleborg

Building our own custom templates will allow us to have more control on how the emails look like. It also doesn't force us to reply that the library always converts the HTML templates correctly.

Since we won't change the email templates very often, this option would be better in the long term.

Let me know what you think about this suggestion? For the work

[2017-03-08 16:05] cpanato commented on #5486
@jasonblais
my understanding is:
today all the templates are ready for HTML. We will need create new for text correct? or somehow (which I dont know now) adjust the current ones to support both html/text.

ps. this library just convert the html generated by mattermost templates to plain text.

[2017-03-08 16:28] jasonblais commented on #5486
Yes, that's correct. So creating a template for plain text version.

Even if the library generated the plain text version, we would rely on it forever (if something breaks, there isn't much we could do about it).

[2017-03-08 16:56] brunodegoyrans commented on #2308
Hi

I had the same issue. In my case, it was the SMTP password that was wrong. So this issue may happen if a parameter is false. Not only a question of misformated json.

[2017-03-08 16:59] brunodegoyrans commented on #2308
Also, In the desktop app, I had a "in progress" icon right after all my sent messages, although the messages were correctly sent and received by other users.
Since I gave the right smtp password in the json, the icon does not show anymore.

[2017-03-08 18:09] jasonblais commented on #5323
@ulab For those on GitLab omnibus, [this](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1015#note_22576761) is how you actually invoke the `platform` command. Example:

[code]

We really should make this more clear in our docs, I'll take care of that with https://github.com/mattermost/docs/pull/949

[2017-03-08 18:09] jasonblais commented on #5323
Let me know if that doesn't work?

[2017-03-08 22:18] jasonblais opened #5690 "[Help Wanted] Channel name can be only one character long but channel URL must be at least two characters"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-08 22:20] jasonblais commented on #5690
@ruzette would this be something you're interested taking a look? You fixed a potentially related issue here: https://github.com/mattermost/platform/pull/5570

[2017-03-08 22:20] jasonblais opened #5691 "[Help Wanted] Mobile iOS: Keyboard does not collapse after search is executed and keyboard focus is not removed from the search box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-08 22:21] jasonblais commented on #5691
@saturninoabril Would you be interested taking a look?

This is related to your PR here https://github.com/mattermost/platform/pull/5360, but which was partially reverted by https://github.com/mattermost/platform/pull/5601

[2017-03-09 00:03] rahulchandyok opened #5692 "VIDEO"
Hello All,

I 'm trying to setup "Enable Mattermost WebRTC", not understand much

Like couldn't found parameter "GatewayWebsocketUrl"
Gateway Admin URL can setup on same server

Can I found any step by step configuration to setup VIDEO in matter-most.

Regards,
Rahul Chandyok

**REFERENCES*
https://docs.mattermost.com/administration/config-settings.html#webrtc-beta

For feature requests, please se

[2017-03-09 00:19] ruzette commented on #5690
@jasonblais certainly! taking a look now. :)

[2017-03-09 03:54] ruzette commented on #5690
Hi @jasonblais,

How should the localization string for the `Channel name must be 2 or more characters` error be approached?

I can change the formatted string message from `This field is required` to  `Channel name must be 2 or more characters` but I'm not sure how to do it for all localization strings in the i18n folder.

Below the actual error message from the channel modal when the channel nam

[2017-03-09 04:17] ruzette opened #5694 "Incorrect error message when duplicated channel urls are created"
#### Steps to reproduce
1. Click "+" to the right of "CHANNELS" at the top of the LHS
2. Type "aaa" in the Name field and click "Create Channel"
3. Click "+" to the right of "CHANNELS" at the top of the LHS again
4. Type "bbb" in the Name field
5. Click on "(Edit)" beside the URL field.
6. Type "aaa" on the URL field and click "Change URL"
7. Click "Create New Channel"

#### Expected behavior
It s

[2017-03-09 08:33] iGEL opened #5696 "invalid memory address or nil pointer dereference when deactivating user"
#### Summary

invalid memory address or nil pointer dereference when deactivating user

#### Steps to reproduce

I'm using Mattermost 3.6.2 (same thing with 3.6.0, which I had yesterday) with docker (from your repo, [just tiny changes](https://github.com/mattermost/mattermost-docker/compare/3.6.2...BillFront:master)) and MySQL. With `docker run`, I execute this command
[code]

`lucio` is the name

[2017-03-09 08:39] iGEL commented on #5696
On a side note, it would be really nice to be able to see the status of the user. I imagine something like this:
[code]
Besides activation status, it could provide other info like team memberships, email address etc.

[2017-03-09 13:27] ambimanus commented on #643
+1

[2017-03-09 13:40] jasonblais commented on #5281
Thanks again @jtdaugherty and @aisamanra -- I'll close this ticket and we'll track it in Jira: https://mattermost.atlassian.net/browse/PLT-5673

[2017-03-09 13:40] #5281 closed

[2017-03-09 15:51] jasonblais commented on #5416
Thanks all! This should be fixed with Mattermost 3.7 on March 16th.

[2017-03-09 15:51] #5416 closed

[2017-03-09 15:52] jasonblais commented on #5488
Thanks @lllama ! We'll track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-5665

[2017-03-09 15:52] #5488 closed

[2017-03-09 15:52] #5611 closed

[2017-03-09 16:48] jasonblais commented on #5690
Thanks @ruzette, you only have to change the string in the `en.json` file, the other language files will be updated by our translators in https://translate.mattermost.com

[2017-03-09 17:28] rattasak opened #5707 "The :hamburger: emoji is clearly a cheeseburger."
#### Summary
The 🍔 icon clearly is a cheeseburger.

#### Steps to reproduce
Type : hamburger : (remove spaces)

#### Expected behavior
I think the summary contained enough detail to explain the issue.

#### Observed behavior
I typed : hamburger : in the mattermost app but I got a 🍔

[2017-03-09 17:34] #5707 closed

[2017-03-09 22:35] jedfonner opened #5715 "Send a different notification message for channel-wide mentions versus individual mention"
#### Summary
It's not possible to differentiate "@all" mentions from username mentions in a push notification

#### Steps to reproduce
1. Mention a user by typing @user.name in a room, notice the push notification message says "[username] mentioned you in [room name]"
1. Mention a user by typing @all in a room - notice the push notification message says "[username] mentioned you in [room name]" <-

[2017-03-09 22:51] jasonblais commented on #5715
Thanks, appreciate your feedback @jedfonner!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementi

[2017-03-09 22:52] jasonblais commented on #5715
Actually, looks like you might have already upvoted the feature: https://mattermost.uservoice.com/forums/306457-general/suggestions/13494636-change-wording-in-app-notifications-that-are-chan

[2017-03-10 06:01] huksley commented on #5611
Thanks! Mattermost is awesome!

[2017-03-10 09:08] lindy65 commented on #5493
Hello @darkrasid

Thank you for the additional information.  We've created a [ticket](https://mattermost.atlassian.net/browse/PLT-5835) to investigate your issue.

[2017-03-10 20:00] jasonblais opened #5722 "[Help Wanted] Team Name setting should let you save the same team name without throwing an error"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-10 21:34] ruzette commented on #5690
thanks @jasonblais! WIP has been removed from PR and is ready for review. https://github.com/mattermost/platform/issues/5693

[2017-03-10 22:03] sokoow opened #5724 "Messages about contacts coming online/offline/idle ?"
#### Summary
Is there an option to see messages about contacts coming online/offline/idle?

#### Steps to reproduce
Just use mattermost

#### Expected behavior
It'd be nice upon people leaving/joining the system, to be able to see a message on the channel about that. It's quite hard to keep track of who's currently online in mattermost.

#### Observed behavior
It's quite hard to keep track of who'

[2017-03-10 22:11] saturninoabril commented on #5691
@jasonblais sure, I'll take a look on this. thanks

[2017-03-10 22:17] jasonblais opened #5725 "[Help Wanted] Add CTRL+SHIFT+L as a shortcut to set focus to center channel text box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-10 22:18] jasonblais opened #5726 "[Help Wanted] Link Previews: /expand and /collapse do not collapse the images"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-10 22:19] jasonblais commented on #5726
@debanshuk Is this something you'd be interested to take a look?

I'm pretty sure this used to work in the first PR you submitted with #4890, but the functionality must have been removed at some point.

[2017-03-10 22:20] jasonblais opened #5727 "[Help Wanted] A single collapsed preview re-opens after refresh"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-10 22:24] jasonblais opened #5728 "Make `/collapse` and `/expand` only apply to previous posts in the channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-10 22:28] jasonblais commented on #5610
### RC4 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.7.0-rc4/mattermost-team-3.7.0-rc4-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied pr

[2017-03-10 22:29] jasonblais commented on #5691
Awesome, thanks @saturninoabril!

[2017-03-10 22:53] jasonblais commented on #5493
Hey @darkrasid, have you tried to run the Mattermost server over an encrypted connection?

If you use NGINX, here's instructions on how to do that: https://docs.mattermost.com/install/config-ssl-http2-nginx.html?highlight=encrypt#configuring-nginx-with-ssl-and-http-2

[2017-03-10 22:58] jasonblais opened #5729 "[Help Wanted] "@username" is shown as an "Other non-case sensitive words" for new users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-10 23:06] jasonblais commented on #5504
Thanks @MaverickAdams! We have a community member who has submitted a pull request to fix it here https://github.com/mattermost/platform/pull/5613

We'll track the issue through the corresponding help wanted issue: https://github.com/mattermost/platform/issues/5585

[2017-03-10 23:06] #5504 closed

[2017-03-10 23:07] jasonblais commented on #5511
@catbadger was the above command provided by @CometKim  helpful?

[2017-03-10 23:08] jasonblais commented on #5614
Thanks again! We'll track the issue in Jira https://mattermost.atlassian.net/browse/PLT-5731

If someone is interested helping with a fix, please let us know!

[2017-03-10 23:08] #5614 closed

[2017-03-11 00:37] lfbrock opened #5730 "[Help Wanted] Update push notification text when a message contains only attachments"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-11 03:14] catbadger commented on #5511
no, but it was due to my own misunderstanding of the problem. I've since solved this and moved on to other stuff. :)

[2017-03-11 03:47] #5511 closed

[2017-03-11 04:09] R-Wang97 commented on #5722
@jasonblais I can take a look at this!

[2017-03-11 19:57] jasonblais opened #5735 "[Help Wanted] Get an empty channel in IE11 when opening a permalink from a private channel that I have left"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-11 19:57] jasonblais opened #5736 "[Help Wanted] from: followed by a space hides the autocomplete IE11"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-11 19:57] jasonblais opened #5737 "[Help Wanted] Favorite channels should be sorted alphabetically regardless of channel type"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-11 21:57] R-Wang97 commented on #5737
@jasonblais I can take a look at this 😄

[2017-03-11 22:02] jasonblais commented on #5737
Awesome! 👍

[2017-03-12 00:07] fishbike commented on #5614
Hi, sorry for a slow response, and thank you for follow-through. The mousewheel workaround is confirmed (and would seem, under better resolution/different machine, to bring back the scrollbar?), but leaving this here for future searches: if you're on a laptop with no mousewheel, you won't be finding that fix. Which is how I got to the bug in the first place.

[2017-03-12 15:47] sedrubal opened #5741 "Style breaks sometimes"
#### Summary
Sometimes the stylle of mattermost breaks: highlights are totally yellow and unreadable, block code in markdown is rendered wrongly and colors are different to what they should be.

#### Steps to reproduce
- Use Firefox (version 51, 52)
- Use Mattermost (version 3.6.0 (?) bundled with GitLab 8.17.2)
- Wait until it breaks

#### Expected behavior
Style should look like this:
![not brok

[2017-03-12 17:51] sokoow opened #5744 "Bunch of sigsegvs when adding users to teams"
#### Summary
[code]
#### Steps to reproduce
Not entirely sure, but getting this when adding a user to the team:

[code]
and now also:

[code]

#### Expected behavior
No sigsegvs

[2017-03-13 07:57] lindy65 commented on #5694
Hi @ruzette

Thank you for your report!  We have reproduced the issue and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-5863) to fix it.

[2017-03-13 13:15] jasonblais commented on #5386
@bradhowes would your PR resolve the issues described here? https://github.com/mattermost/platform/pull/5667

[2017-03-13 13:16] ulab commented on #5323
That's better :)

[code]

Unless you forget the "version" command at the end, which results in (a different issue) :):
[code]

[2017-03-13 13:37] BRH-Enrian commented on #5386
@jasonblais Not sure. @demedos reported that *something* worked under Nginx, but not clear if that was with my patch or not.

[2017-03-13 14:36] jasonblais commented on #5323
Ah sorry -- yes, if you want to invoke the `platform version` command, you'll need the `version` at the end.. That'll be the same for the other CLI commands

Glad that worked @ulab

[2017-03-13 15:21] demedos commented on #5386
@jasonblais The patch @bradhowes provided [here](https://github.com/bradhowes/platform/releases/tag/v3.6.1-websocket-cors) worked for me, but I have to edit the config file manually because the web system console is not persisting my changes after I hit the save button, not sure if it is a normal behaviour using that patch.

More specifically, it is working using Nginx, because (at least) IIS 8.5

[2017-03-13 17:04] lindy65 commented on #5692
Hi @rahulchandyok

Thank you for your question!

There is [this post](http://forum.mattermost.org/t/how-to-enable-video/3007) on our forum which might be the information you're looking for?

Let us know if you need any further assistance!

[2017-03-13 17:21] jasonblais commented on #5520
FYI - this issue should be resolved through this PR: https://github.com/mattermost/platform/pull/5670

It'll be available in GitLab 8.18 as part of the Mattermost 3.7 release

[2017-03-13 17:55] lindy65 commented on #5634
Hi @law

Thank you for your report!

Please see the [documentation](https://docs.mattermost.com/help/messaging/attaching-files.html?#supported-media-types) for media types that are currently supported in Mattermost.

Perhaps we could have your help adding a [feature suggestion](https://mattermost.uservoice.com/forums/306457-general) for media types you'd like supported that are not yet on the list

[2017-03-13 17:57] lindy65 commented on #5668
Hi @morenoh149

Thank you for your report!

We experienced the same issue you've reported and have fixed it with [this ticket](https://mattermost.atlassian.net/browse/PLT-5732).

The fix will be in v3.7.0 release on March 16th.  Let us know if it's fixed for you once you have the new version installed!

Thanks!

[2017-03-13 18:10] ZJvandeWeg commented on #5520
That will be 9.0. To avoid confusion, there will be no 8.18 release, after 8.17 it will be 9.0

-- 
Zeger-Jan van de Weg

On 13 March 2017 at 18:21:34, Jason Blais (notifications@github.com) wrote:

FYI - this issue should be resolved through this PR: #5670

It'll be available in GitLab 8.18 as part of the Mattermost 3.7 release

—
You are receiving this because you were mentioned.
Reply to this e

[2017-03-13 20:56] attzonko commented on #5386
I am seeing the exact same error/behavior with my installation. I am using Apache for the reverse proxy. One other difference is I have TLS enabled so my error is with wss://

I tried the patch provided above but the issue did not go away.

Please, let me know if I should file a new issue, where I can attach configuration and screen-captures.

[2017-03-13 21:26] morenoh149 commented on #5668
ah if it's fixed I'll just close for now

[2017-03-13 21:26] #5668 closed

[2017-03-14 08:01] hsali commented on #1721
This doesn't work. I am try to use it through javascript. CORS error happen.

[2017-03-14 08:05] lindy65 commented on #5724
Thanks, appreciate your feedback @sokoow.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2017-03-14 08:10] demedos commented on #5386
Have you edited the config file manually? Do you see the correct value in the System Console after editing the `config.json` file?

[2017-03-14 11:51] jasonblais commented on #4790
Closed via #5653, thanks @tudorgergely!

[2017-03-14 11:51] #4790 closed

[2017-03-14 11:57] jasonblais opened #5757 "[Help Wanted] Change channel join/leave messages to use at mentions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-14 11:57] jasonblais opened #5758 "[Help Wanted] Desktop notification is fired when viewing channel in Safari"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-14 11:58] jasonblais opened #5759 "[Help Wanted] Copyright year should be 2015-2017"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-14 12:08] VeraLyu commented on #5727
Hi, may I take this one?

[2017-03-14 12:10] jasonblais commented on #5520
@ZJvandeWeg That's fantastic news! Looking forward to GitLab 9.0!!

(Also updated in my post above)

[2017-03-14 12:13] jasonblais commented on #5727
Certainly @VeraLyu , please go ahead! 👍

[2017-03-14 12:27] VeraLyu commented on #5118
Hi, Can I help on this one?

[2017-03-14 12:31] jasonblais commented on #5118
That would be awesome! You can take this one @VeraLyu

[2017-03-14 13:31] jasonblais commented on #5610
### RC5 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.7.0-rc5/mattermost-team-3.7.0-rc5-linux-amd64.tar.gz`

Potential patches to be applied prior to final release will be added to this thread.

[2017-03-14 13:32] demedos opened #5760 "External emojis prevents messages from being sent"
#### Summary
Sending a message with an external emoji results in the message not being sent

#### Steps to reproduce
Open a mobile app and insert an emoji from the keyboard (like in whatsapp, not with the colons) or just copy and paste this one:
`😀`

#### Expected behavior
Message being sent

#### Observed behavior
The log reports this error:
`[2017/03/14 06:18:22 PDT] [EROR] /api/v3/teams/ma35r3i

[2017-03-14 15:28] attzonko commented on #5386
@demedos I assume you mean when I tried the patch above. Yes I did edit the `config.json` file manually to match my setup.

Since my post I ended up installing Nginx alongside Apache, and have nginx doing the reverse proxy with SSL and the upgrade for websocket and it is indeed working. Nginx passes through all my legacy apps traffic on to Apache.

[2017-03-14 15:39] demedos commented on #5386
@attzonko Yes, I meant that. What was the exact error you had though? I'd still like to know if ARR is being buggy.

[2017-03-14 15:41] #5291 closed

[2017-03-14 15:43] #5722 closed

[2017-03-14 15:48] attzonko commented on #5386
That was exactly the error I had. Here is a quick cut/paste from my logs:

`[2017/03/13 13:33:51 PDT] [EROR] /api/v3/users/websocket:connect code=500 rid=1raacdn1dbnmbqcuf36p6ghf6o uid=jtpx4pgkw7ny7ekeojuf8ut65r ip=10.19.142.6 Failed to upgrade websocket connection [details: ]
[2017/03/13 13:33:57 PDT] [EROR] websocket connect err: websocket: origin not allowed
[2017/03/13 13:33:57 PDT] [EROR] /ap

[2017-03-14 15:54] attzonko commented on #5386
Here is what my apache config looked like:
![apache](https://cloud.githubusercontent.com/assets/4975715/23909364/c382e2de-0893-11e7-875c-6b8744f3e2f8.png)

[2017-03-14 22:01] jasonblais commented on #5610
Final release is now cut!

[Download links available here](https://pre-release.mattermost.com/core/pl/yj4bdg9kobyhtgywuknqarhhfw) and posted to [our downloads page before March 16th release](https://about.mattermost.com/download/)

[Changelog for 3.7 is here](https://docs.mattermost.com/administration/changelog.html#release-v3-7-0)

[2017-03-14 22:01] #5610 closed

[2017-03-14 23:18] jasonblais commented on #5690
Closed by #5693, thanks @ruzette! :)

[2017-03-14 23:18] #5690 closed

[2017-03-15 09:34] jkopriva opened #5769 "iOS white strip with dark theme"
#### Summary
On iPhone 6S plus with iOS 10.2.1 is a white strip in notifications area when using Mattermost Dark Theme - its ok, when you use default theme, but not with dark theme.

Mattermost Team Edition
Version 3.6.0 (3.6.2)
Database: postgres

#### Steps to reproduce
Just set Matterhost dark scheme - you will see it right away.
![img_2097](https://cloud.githubusercontent.com/assets/17871936/2

[2017-03-15 12:13] VeraLyu commented on #5368
Hi, may I take this one?

[2017-03-15 16:34] jasonblais commented on #5118
Resolved -- huge thanks @VeraLyu!

[2017-03-15 16:34] #5118 closed

[2017-03-15 21:22] lfbrock opened #5776 "[Help Wanted] Posts in search results should show thumbnails of attached files and images"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-16 03:12] VeraLyu commented on #5727
This collapse behavior is controlled by component state "embedVisible". We need to store this state of every single img post in persistent browser_store (localstorage) if we want to make toggle survive refresh. Wandering if this fine grained control is what we want? Cause I didn't see such fine grained control in our "browser_store" object.

[2017-03-16 04:21] VeraLyu commented on #5776
Hi, may I take this one?

[2017-03-16 10:28] demedos commented on #5386
I've upgraded to 3.7.1 and nothing broke, even if the [websocket.go](https://github.com/mattermost/platform/blob/master/api/websocket.go) has the `CheckOrigin:     nil` row. I suppose only Nginx is supported then. I suppose this has something to do with the headers in the image below

![immagine](https://cloud.githubusercontent.com/assets/16702156/23992031/bc85db9a-0a3b-11e7-8ce7-f27734e87a00.png)

[2017-03-16 10:31] demedos commented on #5760
What database encoding could resolve the issue?

[2017-03-16 13:02] jasonblais commented on #5368
Absolutely! That would be awesome 👍

[2017-03-16 13:03] jasonblais commented on #5323
Thanks all! We've updated our docs to be more specific on how to run the platform commands: https://docs.mattermost.com/administration/command-line-tools.html#mattermost-3-6-and-later

This includes a note on how to run them on GitLab omnibus

![image](https://cloud.githubusercontent.com/assets/13119842/23997370/7926e182-0a27-11e7-9d67-608f34f92f5f.png)

[2017-03-16 13:03] #5323 closed

[2017-03-16 13:04] jasonblais commented on #5520
I'll close the issue, if any of you hit further issues please respond here

[2017-03-16 13:04] #5520 closed

[2017-03-16 13:16] jasonblais commented on #5776
Absolutely 👍 Thanks for being so active across our project!

[2017-03-16 15:13] jasonblais opened #5785 "[Help Wanted] "Pinned" badge sometimes overlaps the message's content in Mac/Safari"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-16 15:33] zeronickname opened #5786 "Search does not find words in URL's"
#### Summary
Searching for word patterns (with or without wildcards) does not find matches from URL's

#### Steps to reproduce
Send a message in a channel with any text that mattermost converts into a URL. eg: `www.google.co.uk/qwerty4`
Now type in `qwerty4` (or `*qwerty4*`) in the search box and hit enter
![search_fail](https://cloud.githubusercontent.com/assets/538117/24004269/c3014e1a-0a5d-11e7

[2017-03-16 17:52] S6066 opened #5787 "When an emoji reaction is removed, it leaves a blank space in the message area"
Mattermost 3.7 Enterprise edition.
Mattermost client 3.5
http://i.imgur.com/nuXcQlj.gif

[2017-03-16 20:46] jasonblais opened #5790 "Change direct message list to be infinite scroll"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-16 21:42] jasonblais commented on #5737
Closed via #5379, thanks @R-Wang97!

[2017-03-16 21:42] #5737 closed

[2017-03-16 21:49] jasonblais commented on #5501
I've closed the issue as `cannot reproduce`

[2017-03-16 21:49] #5501 closed

[2017-03-17 04:05] jostyee opened #5792 "[Proposal]Add a pinned_posts table, remove corresponding IsPinned column in Posts"
#### Summary
Glad to find that https://github.com/mattermost/platform/pull/4217 has been merged, but IMHO alter current `Posts` table is not a best choice for the implementation. It affects all existed posts data in all teams, creates a index with much higher costs if the table is relatively huge(e.g. gophers.slack.com has more than 2 million messages by now).

#### Possible fixes
Create a pinned_

[2017-03-17 08:32] Zhouzi commented on #5792
Makes sense! I don't see any drawbacks so we could work on that. Depends on the calendar though. Don't know if it could delay something the core team had scheduled?

[2017-03-17 09:45] lindy65 commented on #5787
Hi @S6066,

Thanks for your report!

We've repro'd your issue (on the browser version too) and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-5941) to track it.

[2017-03-17 09:55] lindy65 commented on #5786
Hi @zeronickname

Thanks for your report!  I haven't managed to reproduce your issue and searching for "qwerty4" in the string "http://www.google.co.uk/qwerty4" is working for me.

You don't say whether your deployment is using a Postgres database?  If it is, searching for websites and emails does not work properly.  You can view the known issues that references this [here](https://docs.mattermost

[2017-03-17 10:48] zeronickname commented on #5786
Ah, yes, we are using postgres. I missed that issue with the postgres database. Sorry about that!

Thanks!

[2017-03-17 10:48] #5786 closed

[2017-03-17 10:53] asalmela opened #5794 "Username minimum length in 3.7 is too restricting"
We have several accounts in LDAP with two letter usernames, and 3.7 introduced minimum length of 3 letters. These accounts are now represented as long alphanumeric strings which cannot be modified.

Is there any possibility to relax this limit a little?

[2017-03-17 12:23] jasonblais commented on #5729
Thanks @R-Wang97!

[2017-03-17 12:23] #5729 closed

[2017-03-17 13:32] jacob-lee opened #5795 "File Preview in Upload File Dialogue on Mac OS Cannot Close"
#### Summary
On Mac OS 10.11.6, Mattermost 3.5.0, when using the file upload dialog, opting to preview a file causes the preview window to appear, but once loaded, it cannot be closed cancelling upload entirely. Subsequently, Mattermost tends to quit unexpectedly.

#### Steps to reproduce
Open the file upload dialogue, select a file, right-click Quick Look.

#### Expected behavior
Expected behavio

[2017-03-17 14:58] jasonblais commented on #5794
Hey @asalmela, thanks for the report

We're now considering a patch fix for Mattermost 3.7.2, which reduces the minimum username length requirement to 2 characters.

You can see more details on our [public Mattermost instance](https://pre-release.mattermost.com/core/pl/akbfk78n9jnt7m3e91e6ag34nh).

[2017-03-17 15:33] jasonblais opened #5799 "Mattermost v3.7.2"
This is a meta issue for v3.7.2 release updates.

We're aware of a regression where the minimum username length on the server side was changed from 1 to 3, affecting accounts on LDAP, SAML and OAuth (GitLab, Google, Office365).

[A patch fix has been submitted](https://github.com/mattermost/platform/pull/5798). Please see the [public Release Discussion channel](https://pre-release.mattermost.com/c

[2017-03-17 16:14] jtdaugherty opened #5800 "3.7.1 behavior does not match changelog"
The release notes for 3.7.1 at https://docs.mattermost.com/administration/changelog.html state:

[code]
But in testing against an installation of 3.7.1, it appears that this is not the case. The old endpoint of `/api/v3/teams/(teamid)/channels/more` is still responsive, and attempts to use `/api/v3/teams/(teamid)/channels/more/(limit)/(offset)` result in a `404 Not Found` response.

CC @aisamanra

[2017-03-17 16:34] jasonblais commented on #1721
@hsali what are your **System Console > Connections** settings set to?

Here's a link to the related documentation: https://docs.mattermost.com/administration/config-settings.html#connections

Please feel free to obfuscate the values so not to share confidential information, or you may also contact me on our demo instance at https://pre-release.mattermost.com/core (my username is `@jason`)

[2017-03-17 17:02] blazer2x opened #5801 "display bug when using Exo 2 font"
#### Summary
When using Exo 2 font it doesn't show ``` (consecutive tilders correctly) instead it shows a single ` character where each consecutive ` stacks on top of.

#### Steps to reproduce
Simply set the font to Exo 2, use either the web version, windows or android app and type ``` into the message input box

#### Expected behavior
Each ` character is suppose to show up next to each other like

[2017-03-17 17:18] EloD10 opened #5802 "Focus on last message"
Hey, i have request that i think it will be very very very well !

Can we have a focus wich redirecting to the new unread messages ?

[2017-03-17 17:20] jasonblais commented on #5800
Looks like we didn't remove it in v3.7, I have updated this entry in the changelog. We'll remove it in v3.8 instead, ticket here: https://mattermost.atlassian.net/browse/PLT-5948

For the new endpoint, we tried and it seems to be working. Would the [documentation here help](https://api.mattermost.com/master/#tag/channels%2Fpaths%2F~1teams~1%7Bteam_id%7D~1channels~1more%2Fget)?

![image](https://cl

[2017-03-17 17:25] pcinat commented on #2467
@kramer65 - I'm hold the same views as you.  Mattermost licensing is very obscure and unclear at best.  I cannot confidently answer if something as simple as White labeling is permitted.  And those links referred to in this thread claiming to discuss this issue at length are not available anymore.

Curious what you ended up doing and if you moved over to another comparable product as I'm contempla

[2017-03-17 18:21] ci5er commented on #2467
In an ideal world, I would be able to make commercial enhancements, using closed-source libraries, to the open source Mattermost code, and offer this "upgrade" commercially. I'd be happy to pay something substantially similar to the Enterprise licensing rates for the ability to do so, but I haven't been able to get anything except "Go talk to the Forum" whenever I ask about negotiating commercial

[2017-03-17 18:27] lindy65 commented on #5786
No worries @zeronickname :)

[2017-03-18 00:34] it33 commented on #2467
@pcinat if things aren't clear, that's our fault. We should fix it. Can you share specifically what you're trying to do when you say "white label"? Would you be altering or removing Mattermost copyright notices? Is this for internal use only, or would you be offering an altered version to a 3rd party? We should get a clear answer and post it officially.

@ci5er also, sorry you didn't hear back. Pl

[2017-03-18 17:34] pcinat commented on #2467
@it33 - White labeling provides the option of removing or replacing the branding of Mattermost in the front-end UI that users get exposed to.  I would not be altering or removing Mattermost copyright notices embedded in the source code.  What I'm interested in is the ability to provide a slightly altered version of mattermost source code that can integrate within an existing web application by pot

[2017-03-18 21:47] R-Wang97 commented on #5725
I can take a look at this!

[2017-03-18 23:31] jtdaugherty commented on #5281
@jasonblais that sounds good to me; thank you!

[2017-03-19 01:39] it33 commented on #2467
Thanks @pcinat, appreciate the feedback,

First, thank you for your specific questions. They help a lot. I think after we get to your answers we'll write-up a specific FAQ on what you're trying to do.

1) Here are our licenses and philosophy around open source licensing: https://www.mattermost.org/licensing/. If you're looking to modify the source code, instead of using the compiled Mattermost Tea

[2017-03-19 03:44] fjarlq opened #5805 "Outgoing Webhooks management stuck loading"
#### Summary
After creating an outgoing webhook, the Outgoing Webhooks management pane becomes forever stuck loading.

#### Steps to reproduce
1. Be running Mattermost 3.1.0 (July 2016) with Postgres
2. Upgrade to Mattermost 3.3.0-rc2 (August 2016)
3. Upgrade to Mattermost 3.7.1
4. Create an outgoing webhook
5. Reload the Outgoing Webhooks management pane and notice it becomes stuck loading

####

[2017-03-19 05:50] fjarlq commented on #5805
Here's a dump of the `outgoingwebhooks` row (with possibly-private info obscured):

`id,token,createat,updateat,deleteat,creatorid,channelid,teamid,triggerwords,callbackurls,displayname,description,contenttype,triggerwhen`
`kkd69qxxxxxxxxxxxxxxxxxxxx,g34cyxxxxxxxxxxxxxxxxxxxxxx,1489889015360,1489889015360,0,3hftgnxxxxxxxxxxxxxxxxxxxx,"",za3ybt1fxxxxxxxxxxxxxxxxxx,"[""foobar""]","[""http://127.0.0.

[2017-03-19 05:55] fjarlq commented on #5805
The only column in `outgoingwebhooks` that is type bool is `triggerwhen`.

[2017-03-19 06:07] fjarlq commented on #5805
Hmm, but according to `UpgradeDatabaseToVersion33()`, `triggerwhen` should be type integer:

https://github.com/mattermost/platform/blob/3ada7a41a7fb13abef19dd63dc56b720900dbaa9/store/sql_upgrade.go#L182

So did my server not perform that database upgrade? According to `mattermost.log` it *did* perform that upgrade:

[code]

As well as the upgrades for 3.4.0, 3.5.0, 3.6.0, and 3.7.0.

[2017-03-19 06:09] fjarlq commented on #5805
Immediately after creating the outgoing webhook, the management pane did show display the information about the webhook. I'm sure about that because I remember looking it over and copying the token. It was only when I later tried to load the outgoing webhooks management pane that it became stuck loading.

[2017-03-19 06:23] fjarlq commented on #5805
Looks like this problem is due to the fact that on August 8, 2016 I upgraded from Mattermost 3.1.0 to Mattermost 3.2.0-rc2.

On August 2 `triggerwhen` had been changed to type boolean: https://github.com/mattermost/platform/pull/3716/files

Then on August 9 it was changed back to type integer: https://github.com/mattermost/platform/pull/3770/files

Looks like I wasn't the only person to get trippe

[2017-03-19 06:29] fjarlq commented on #5805
So, one potential cause of the "stuck loading" problem was fixed months ago. I will manually fix my database and move on.

But I wonder if the Outgoing Webhooks management pane could be strengthened so that it doesn't get stuck loading when something goes wrong internally. I realize that might be too much to ask for. I'll leave this issue open so that the right people might consider that possibili

[2017-03-19 06:47] it33 commented on #2467
@pcinat have a new draft FAQ, let me know what you think? https://github.com/mattermost/docs/issues/1006

[2017-03-19 12:11] Fonata opened #5807 "mattermost-push-proxy: which Apple program to enroll into?"
Question for Apple experts: We use the free Mattermost version and it works wonderfully. I am tasked to implement the [mattermost-push-proxy](https://github.com/mattermost/mattermost-push-proxy) for our company's iPhones. I need to obtain a push certificate from Apple.

My question: for generating an APNS push certificate, do I need to enroll
- ``Apple Developer Program`` or
- ``Apple Developer En

[2017-03-19 12:46] jostyee opened #5808 "Can't fetch external images"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
After merging https://github.com/mattermost/platform/pull/5774 , external images c

[2017-03-19 14:35] Fonata commented on #5807
For my own reference: I just learned that the page I need to generate the certificate is [Certificates, Identifiers & Profiles](https://developer.apple.com/account/ios/certificate)

[2017-03-19 17:22] jasonblais commented on #5799
v3.7.2 is now out and available on our [download page](https://about.mattermost.com/download/).

See [changelog for details of the bug fix](https://docs.mattermost.com/administration/changelog.html#release-v3-7-2).

[2017-03-19 17:22] #5799 closed

[2017-03-19 17:23] jasonblais commented on #5794
@asalmela v3.7.2 is now out and available on our [download page](https://about.mattermost.com/download/).

It reduces the server-side minimum length from 3 to 1, matching what we had in Mattermost v3.6 and earlier

[2017-03-19 17:23] #5794 closed

[2017-03-19 17:24] jasonblais commented on #4355
Will be fixed in the new [mobile apps](https://github.com/mattermost/mattermost-mobile)

[2017-03-19 17:24] #4355 closed

[2017-03-19 17:25] jasonblais commented on #4357
[Associated Jira ticket was closed as won't fix](https://mattermost.atlassian.net/browse/PLT-96). See the ticket for details.

[2017-03-19 17:25] #4357 closed

[2017-03-19 17:29] jasonblais commented on #5370
This should be fixed now

[2017-03-19 17:29] #5370 closed

[2017-03-19 17:31] jasonblais commented on #5479
Jira ticket was closed as "won't fix"

Reasons:
 - Haven't heard any users or customers asking for this yet
 - Most themes look okay with the current sidebar
 - People with new accounts can pick colors that look good together when they first set up a custom theme

[2017-03-19 17:31] #5479 closed

[2017-03-19 17:31] jasonblais commented on #5479
@pan-feng if you're interested helping with another help wanted issue, please let us know! Would love to work with you

[2017-03-19 17:33] jasonblais commented on #5426
We'll be doing release process updates for 3.8, and at the same time resolve the issue described here.

[2017-03-19 17:33] #5426 closed

[2017-03-19 17:33] jasonblais commented on #4035
Closed by #4217, thanks @Zhouzi!!

[2017-03-19 17:33] #4035 closed

[2017-03-19 17:34] jasonblais commented on #5669
Closed via #5740, thanks @VeraLyu!

[2017-03-19 17:34] #5669 closed

[2017-03-20 05:07] jasonblais commented on #5792
@jostyee thanks for the suggestion! Would this be something you'd like to help submit a pull request for?

[2017-03-20 06:55] jostyee commented on #5792
@jasonblais Unfortunately I won't be available until late next month, but if there's no one else willing to implement, I can work on it then.

[2017-03-20 07:58] napcae commented on #5794
Unfortunately this issue is not resolved for me yet. Although usernames are displayed correctly in the header, the userlist still shows the user ids instead of the usernames.
I attached two screenshots.

![screen shot 2017-03-20 at 08 57 09](https://cloud.githubusercontent.com/assets/1226732/24091893/4476903c-0d4b-11e7-94f4-423597d67e06.png)
(Note, usernames with two characters are also displayed

[2017-03-20 11:12] ovizii commented on #5493
Having the exact same problem although I run mattermost from the docker isntallation and am trying to talk to an Exchange 2013 server. I can successfully send emails if I set security to NONE.

When using plain I get:
`[2017/03/20 12:06:28 CET] [EROR] /api/v3/admin/test_email:SendMail code=500 rid=rqnny1fq7if4zenf8i8gwr4uhw uid=zxkr6prtsfb8jmqu5f7mqi4wde ip=192.168.200.111, 192.168.200.1 Fehler be

[2017-03-20 12:13] jasonblais commented on #5794
Hm - that seems like a separate issue @napcae - or is it only restricted to usernames with one or two characters.

Which authentication method are you using? If you have LDAP, can you try run the LDAP synchronization manually, from **System Console > AD/LDAP > AD/LDAP Synchronize Now**

[2017-03-20 12:50] napcae commented on #5794
It is restricted to usernames with two characters(maybe also one character, but we only have usernames with two or more characters).

I did what you said, but the issue is still not resolved. We are using AD btw.

[2017-03-20 12:58] jasonblais commented on #5794
Can you help take a screenshot of the About Mattermost dialog (it can be found from Mattermost three-dotted Main Menu next to your username in the header > About Mattermost), just to confirm the upgrade to 3.7.2 was successful.

[2017-03-20 12:59] napcae commented on #5794
![screen shot 2017-03-20 at 13 58 59](https://cloud.githubusercontent.com/assets/1226732/24100657/6a112c56-0d75-11e7-8813-07c4135bce5e.png)

[2017-03-20 13:20] #5522 closed

[2017-03-20 13:27] jwilander commented on #5727
Yes, you'll need to make use of localStorage on the browser to do this. If browser store doesn't have the functionality you need, then feel free to add it.

Don't worry about this working across platforms, if you collapse an item on one browser and open another one (or the mobile app) it does not need to persist.

[2017-03-20 13:36] jasonblais commented on #5794
Thanks @napcae, appreciate it.

To summarize:
 - upgraded to 3.7.2 (postgres server)
 - performed manual LDAP sync

Observed:
 - user accounts are displayed correctly in the top left header (e.g. `ja`)
 - user accounts are however displayed with a user_id in the direct message list

May I ask few more questions:
1) What is their username shown in the message panel?
2) What is their username shown

[2017-03-20 13:45] jasonblais commented on #5792
Thanks @jostyee! No worries, completely understand :)

I actually talked to one of our developers and he mentioned that you would still need a field on the object that tells you to do the join query. For pinned posts, the only thing we need is a YES or NO. So it makes sense to just have it on the object for now.

We might be doing an attribute table in the future for users and teams, and it might

[2017-03-20 14:05] napcae commented on #5794
So apparently the usernames(with two characters) are back now. The issue is resolved. Maybe the AD/LDAP Sync did work indeed and names were just cached(?).
Anyway, thanks for your help @jasonblais !

[2017-03-20 14:08] jasonblais commented on #5794
Awesome! Glad to hear the issue is fixed @napcae 👍

[2017-03-20 14:09] napcae commented on #5794
Appreciate your assistance :)

[2017-03-20 14:13] jasonblais commented on #5466
Closed via #5673, thanks @R-Wang97!

[2017-03-20 14:13] #5466 closed

[2017-03-20 15:08] coreyhulen commented on #5807
Most enroll in Apple Developer Enterprise Program to push the app into their own enterprise app store.

If you have a small number of users you might be able to use Apple Developer Program and never release the apps into the public app store and just sign everyone up as a beta user.  You would need todo your own investigation to see if this would work for you.

[2017-03-20 15:42] jostyee commented on #5792
@jasonblais Thank you for explanation, close this issue for now.

[2017-03-20 15:42] #5792 closed

[2017-03-20 16:46] hmhealey commented on #5808
Hi @jostyee, thanks for the report. I'm going to be reverting that change since we're also having the same problem on our instance as well

[2017-03-20 17:19] grundleborg commented on #4755
Hi @debanshuk . I was wondering if you are still working on this ticket?

[2017-03-20 17:58] debanshuk commented on #4755
@grundleborg, I didn't had time to work on the issue for some time. But I have resumed work on it. Though it looks like there need to be a lot of rework due to changes done in this PR https://github.com/mattermost/platform/pull/5209

[2017-03-20 20:31] Fonata commented on #5807
Thanks, coreyhulen. This issue is not about getting apps installed but rather notifications about new messages to reach devices.

Here is what Apple wrote a few hours ago:

So appearently Company = Organization = $ 99 per year.

I'll close this issue once I've got APNS working.

[2017-03-20 21:18] jtdaugherty opened #5818 "Publish versioned docker images for MatterMost releases"
As far as I know, the `mattermost-preview` Docker image is the only published image that I can get without building my own production images from scratch. Since `mattermost-preview` is a moving target, it's not very useful for automated testing purposes since changes in the upstream image will break my test suite. As a result I'd *really* love it if I could get access to versioned Docker images fo

[2017-03-21 06:55] kongyc opened #5820 "Mattermost failed to import some of the users from Slack"
Good day. I'm currently doing some imports from Slack to Mattermost, I've created a new channel in Mattermost and start the import from Slack. Unfortunately, not all the users are able to be imported. The log is something like this:
"[2017/03/21 14:51:28 +08] [EROR] Invalid session err=GetSession: api.context.invalid_token.error,
[2017/03/21 14:51:37 +08] [EROR] Invalid session err=GetSession: api

[2017-03-21 07:52] #5820 closed

[2017-03-21 18:07] lindy65 commented on #5801
Hi @blazer2x

Thanks for the report!  We've reproduced the error and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-6029) to fix the issue.

[2017-03-21 19:28] dkpeall commented on #2769
Man this is so annoying! how hard could it possibly be...

[2017-03-22 08:47] #5365 closed

[2017-03-22 08:52] #5523 closed

[2017-03-22 08:59] #5634 closed

[2017-03-22 09:04] #5692 closed

[2017-03-22 09:07] #5715 closed

[2017-03-22 09:07] #5724 closed

[2017-03-22 13:07] jasonblais opened #5832 "[Help Wanted] When an emoji reaction is removed, it leaves a blank space in the message area"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-22 13:07] jasonblais opened #5833 "[Help Wanted] Don't spike CPU usage when holding ESC key in webapp"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-22 13:07] jasonblais opened #5834 "[Help Wanted] Renaming a Channel: System Message is posted immediately, but channel name is not updated until refresh"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-22 14:58] jasonblais commented on #5255
Early spec here, which incorporates the suggested changes: https://docs.google.com/presentation/d/15T3xH2kqHXN5kHrVWVJjR_vjfawRviaT5DPfr9tlaKc/edit#slide=id.g1f1004cd07_0_32

A new ticket will be created after the design is finalized

[2017-03-22 14:58] #5255 closed

[2017-03-22 17:02] f0o commented on #1925
Same here, I'd say it's a product defect.

[code]

[2017-03-22 22:23] robert843 opened #5847 "Missing translation in invitation link on Off-topic"
![bug1](https://cloud.githubusercontent.com/assets/7444209/24223390/3a261492-0f56-11e7-974a-6eb332297011.png)

#### Possible fixes
Patch:
[patch.zip](https://github.com/mattermost/platform/files/863079/patch.zip)

[2017-03-22 23:34] csprocket777 commented on #3944
I'm still struggling with this with a fresh installation of Gitlab 9.0 and don't know how to resolve it. HELP!

[2017-03-23 05:07] tejassawai opened #5848 "Newbie: Which IDE to be used for developing Mattermost"
I am new to golang, my simple question is : Which IDE to be used for developing Mattermost?
Thanks

[2017-03-23 08:50] VeraLyu commented on #5292
Since there hasn't been any update on related PR, I would like to take this one if no one else is working on it.

[2017-03-23 10:39] #5625 closed

[2017-03-23 10:40] #5585 closed

[2017-03-23 15:26] BRH-Enrian opened #5855 "User 'props' attributes should be visible"
#### Summary
According to v3 REST API, fetching a User should reveal any 'props' it has.

#### Steps to reproduce
v3.7.3

#### Expected behavior
If I have added one or more custom 'props' key/values to a user, I would expect to be able to see those keys/values when I receive the JSON representing the user.

#### Observed behavior
The JSON has no 'props' attributes for any users after a GET request

[2017-03-23 15:31] jasonblais commented on #5292
Thanks @VeraLyu! 👍

[2017-03-23 16:48] demedos commented on #5760
I figured it out. Make sure that in the `config.json` file under the `"SqlSettings"` node, the `"DataSource"` key have the `charset` set to `utf8mb4,utf8`; mine was set only as `utf8`, correcting it solved the problem.
Example config:

[code]

[2017-03-23 16:48] #5760 closed

[2017-03-23 16:52] #5609 closed

[2017-03-23 18:03] mrjester888 commented on #5684
I have the same issue.  How do you override the max length?

[2017-03-23 18:53] Aka4Code commented on #4665
When do you plan to publish this with release?

[2017-03-24 09:05] #5691 closed

[2017-03-24 09:14] #5776 closed

[2017-03-24 09:17] #5259 closed

[2017-03-24 15:14] RubenDZ commented on #5523
I am running v3.6.0 and receiving files from people outside my teams at both v3.4.0 and v3.5.0 show up as 0B files.  Files from members of the same team do show up.

@lindy65 , can you confirm it has been fixed as part of v3.5.0?

[2017-03-24 15:24] hmhealey commented on #5523
@RubenDZ Yes, it was fixed in the 3.5.0 version of the server. The client version would have no effect on this issue.

[2017-03-24 15:49] jasonblais commented on #4665
@Aka4Code The picker is now merged to `master` and scheduled for Mattermost 3.8 release!

You can try it out on our daily build server at https://pre-release.mattermost.com (it needs to be enabled from Account Settings > Advanced > Preview pre-release features first)

Thanks everyone involved for making this feature happen!

[2017-03-24 15:49] #4665 closed

[2017-03-24 15:53] clintfred commented on #5523
I can confirm that with
[code]

the issue seems to be resolved. Thanks!

[2017-03-24 18:28] lindy65 commented on #5523
Thanks @clintfred and @RubenDZ !

Glad the issue is resolved by installing the latest server version of Mattermost!

[2017-03-24 22:54] jasonblais commented on #5468
Resolved by #5530, thanks @aautio!

[2017-03-24 22:54] #5468 closed

[2017-03-25 18:43] it33 commented on #5257
Hi @joernhees, sorry for the late reply here, we were going back and forth internally on how to answer, then ended up not replying, which is a fail on me personally as I had the ball. It's not that your question isn't important, it's that it's caused so much discussion we haven't replied.

Here's my personal thoughts, mixed in with other discussions:

1. A listing of Private Groups isn't available

[2017-03-25 21:42] realrolfje opened #5875 "Total Posts for System and Team are not the same for single Team setup"
#### Summary
In a Mattermost 3.7.3 system with one Team, the Total Posts counter on the System Statistics page is not equal to the Total Posts on the Team Statistics page.

#### Steps to reproduce
Installed Mattermost 3.6.0, create team, generate public posts, private channel posts, and direct messages between users. Upgrade to 3.7.2. Open the "System Console" menu and add the team in the new TEAM

[2017-03-26 00:00] bradhowes opened #5876 "Nicer output from make check-server-style"
#### Summary
The output from make check-server-style is not easy to read when there are formatting issues.

#### Steps to reproduce
v3.7.3
Edit a *.go file, move to a non-empty line and insert a space at the beginning of it. Save and run make check-server-style.

#### Expected behavior
If there are differences between format of a source file and what gofmt command generates, then make check-server

[2017-03-26 08:10] VeraLyu commented on #5292
Hi, @jasonblais,
1. do we want to change previous animated scroll icon to string?
2. Despite "Load more messages" link on top, we still have "Load more messages" link at bottom, I suppose we want that one also get fixed in this issue, right?

[2017-03-26 17:06] jasonblais commented on #5292
Hey @VeraLyu!

1 - That's correct -- the PR #5303 had a loading animation but propose we have a text `Loading more messages...` appears for now. It might be difficult to get the loading animation working smoothly on slow connections.
2 - Do you mean the "Load more messages" link that appears in permalink/archived view? If it's not too much work, then yes it would be good to fix it at the same time

[2017-03-27 08:43] lindy65 commented on #5769
Hello @jkopriva

Thank you for your issue report!

We think this might be fixed in the [latest version (v3.7.3)](https://about.mattermost.com/download/) release March 16th.

Could you check whether this issue is fixed for you once you've upgraded and let us know?

Thanks!

[2017-03-27 09:17] f0o commented on #1925
Turns out having authnetication to ident for local connections is wrong, however documentation said it should be fine.

Anyways, trashed the ident and replaced it with md5 for localhost and it works fine

[2017-03-27 10:16] jkopriva commented on #5769
Hi @lindy65 ,

Thanks for reply, I will let you know if it is fixed, when updated version will be available on App Store.

Cheers

[2017-03-27 10:54] lindy65 commented on #5769
Perfect!  Thanks @jkopriva :)

[2017-03-27 11:56] namedrisk commented on #5741
I've noticed this happens when using the the triple grave accent on the same line of the code, if the code is put on a new line it works as intended...

For example:

[code]
var i = 'test';
test = new Test();
[code]

[2017-03-27 12:53] demedos opened #5885 "No push notifications and log without user information with Android store app"
#### Summary
Push notifications are not working at all in Android and not always working on iOS

#### Steps to reproduce
Install mattermost 3.7.0 and store apps, configure as below

**Enable Push Notifications:** Use iOS and Android apps on iTunes and Google Play with TPNS
**Push Notification Server:** http://push-test.mattermost.com
**Push Notification Contents:** Send full message snippet

####

[2017-03-27 14:02] fibbs commented on #2769
I am also getting a lot of complaints of my users. Our developers use Mattermost to discuss problems, and they frequently tell me they are not able to post stacktraces due to the message size limit.

[2017-03-27 14:33] it33 commented on #2769
@rascalcmos @dkpeall, @fibbs appreciate your feedback,

We have a ticket here discussing the options: https://mattermost.atlassian.net/browse/PLT-5929

Does the ability to automatically split text over 4K into multiple messages in 3.7.1 help, or do you need other options mentioned in the ticket?

PS: GitHub issues is for bug reports, this is more a feature proposal and typically would go into [the

[2017-03-27 14:35] it33 commented on #2769
Also, @rascalcmos @dkpeall, @fibbs, if what's there doesn't meet yet meet all your needs, would any of you, or people on your team, be interested in helping implement any of the solutions mentioned?

Would be a great help for the community, and you'd influence its design.

[2017-03-27 15:05] fibbs commented on #2769
The link mentioned above says the automatic splitting of longer messages into several posts is included in 3.7.1. I am on 3.7.2 but it's not splitting messages. Am I missing something or has it been pushed forward? How can I get access to the pre-release link also mentioned in the above mentioned link of the ticket?

[2017-03-27 16:02] hmhealey commented on #5684
I've created a ticket to have someone go increase the length of that field to 64 characters to match the other fields that come from LDAP (username, first/last name, etc). You can track that ticket here: https://mattermost.atlassian.net/browse/PLT-6102

In the mean time, you could work around this by disabling syncing of the position field from by setting `LdapSettings.PositionAttribute` to be emp

[2017-03-27 18:07] nikhils09ece commented on #5692
Hi
i have configured this thing as per  your instructions
after checking the logs i found out this.
[2017/03/27 17:42:37 UTC] [EROR] /api/v3/webrtc/token:WebRTC.Token code=500 rid=7ekk778trif5tnk8sbtamse9uo uid=w47fa6ug5jnh9njnjzgb6xq1ro ip=112.196.181.162, 162.158.46.47 We encountered an error while connecting to the server [details: Post https://52.221.123.14:7089/admin: dial tcp 52.221.123.14:7

[2017-03-27 18:08] lindy65 commented on #5447
Hi @kaakaa

Thank you for your issue report.

For a general fix, we have [this ticket](https://mattermost.atlassian.net/browse/PLT-5705) to track the issue.

Would you be interested in submitting a fix for slash commands?

[2017-03-27 18:56] esethna commented on #5684
Thanks for the responses. Closing this ticket to [track in JIRA](https://mattermost.atlassian.net/browse/PLT-6102).

[2017-03-27 18:56] #5684 closed

[2017-03-27 22:46] jasonblais commented on #5386
Hi all,

PR to add websocket CORS support got merged last Thursday: https://github.com/mattermost/platform/pull/5667

This should help resolve most of the issues described here.

We've also created a PR to add the following troubleshooting steps to our install guide:

[code]

Please let me know if there's anything else to address, otherwise we'll close the issue in a couple of days.

[2017-03-27 22:50] jasonblais commented on #5787
A PR has been merged here and should be resolved in Mattermost v3.8: https://github.com/mattermost/platform/pull/5879

Thanks @S6066 for the report :)

[2017-03-27 22:50] #5787 closed

[2017-03-27 22:51] jasonblais commented on #5795
Thanks @jacob-lee -- which browser is this reproducing?

[2017-03-27 22:52] jasonblais commented on #5800
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, let us know and we'd be happy to help @jtdaugherty

[2017-03-27 22:52] #5800 closed

[2017-03-27 22:52] mattermod commented on #5802
Thanks @EloD10, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2017-03-27 22:59] jasonblais commented on #5805
Really sorry about the slow response @fjarlq,

Yes, unfortunately there was an issue that was subsequently fixed -- glad to hear you got it resolved.

We're considering redesigning some of our integrations screens, so we'll consider revisiting the loading issue at that time. But given it'll be a rare case, it's probably not a priority for now.

Thanks again for the initial report!

[2017-03-27 22:59] #5805 closed

[2017-03-27 22:59] jasonblais commented on #5808
Closing since #5774 was reverted and the issue is now resolved,

[2017-03-27 22:59] #5808 closed

[2017-03-27 23:12] jtdaugherty commented on #5800
Since this has been confirmed as moved to 3.8, that works for me. Thank you!

[2017-03-27 23:17] jacob-lee commented on #5795
Was using the desktop client on mac.

On Mon, Mar 27, 2017 at 6:51 PM, Jason Blais <notifications@github.com>
wrote:

[2017-03-27 23:56] jasonblais commented on #5795
Ah, got it -- which Mattermost desktop version are you using (you can find it from Help > Version on the client menu bar).

If it's not the latest (Desktop App v3.6), I recommend downloading the latest as the issue may have been fixed.

[2017-03-28 00:12] jasonblais commented on #5847
Thanks @robert843! And sorry for the delayed response,

Your patch looks good! Would you open to submitting a pull request for it? Make sure to include it in the relevant `en.json` file, either at
 - https://github.com/mattermost/platform/blob/master/webapp/i18n/en.json
or
 - https://github.com/mattermost/platform/blob/master/i18n/en.json

PS: Huge thanks for your help with Polish translations 👍

[2017-03-28 00:14] jasonblais commented on #5848
Hey @tejassawai, sorry, can you help describe what you're trying to accomplish?

Are you setting up a development environment? If so, we have some developer machine setup guides here: https://docs.mattermost.com/developer/developer-setup.html

Does that help?

[2017-03-28 00:18] jasonblais commented on #5875
That's a good question.

It's likely direct messages between users -- since direct message conversations aren't tied to a team, they wouldn't be included in the post count in your team statistics page.

[2017-03-28 00:29] jasonblais commented on #5696
Hey @iGEL, terribly sorry for the late response.

Were  you able to resolve the issue? I think the CLI command might be missing something but I'm not too familiar with Docker setups.

Does invoking `platform help` work?

[2017-03-28 00:33] jasonblais commented on #5741
@sedrubal @namedrisk Can you go to **Account Settings > Display > Theme > Custom Theme, and copy the vector that appears in the attached screenshot?

![image](https://cloud.githubusercontent.com/assets/13119842/24383711/a39f7b0a-132c-11e7-8806-c4b9f8bcdfbf.png)

I think it might be related to a theme issue

[2017-03-28 00:43] jasonblais commented on #5885
What are your mobile push notification preferences set in Account Settings > Notifications so we can try troubleshoot the issues?

When you say you sometimes receive them on iOS, do you get them for @-mentions or for direct message conversations (or for either one)?

[2017-03-28 07:29] demedos commented on #5386
In IIS WebSockets must be enabled, since the option is not on by default. Maybe it could help in the documentation. Right now I'm using NGINX so afaik that's all

[2017-03-28 07:43] demedos commented on #5885
I'm sorry but since the alerts my colleagues gave me with iOS were just few and pretty vague I can assume that those were configuration issues, so I'd prefer to stick to the Android issue, which I know is concrete.

I got my coworker's phone and noticed that the notifications are working when the app is running in the background, but when is completely closed the push messages are not arriving any

[2017-03-28 07:51] CometKim commented on #4598
I'd like to do this one. I have a same request from my business

@pan-feng Can I do this if you have not started yet?

[2017-03-28 12:06] jasonblais commented on #5386
Ah okay, I'll add that note as well, doesn't hurt. Thanks @demedos!

[2017-03-28 12:09] jasonblais commented on #4598
@CometKim Thanks! I'm wondering how it should work with group message channels, which currently generate a random id (`.../[TEAM NAME]/messages/[ID]`)

[2017-03-28 13:38] sedrubal commented on #5741
@namedrisk Yes, I can reproduce this behaviour, but it is not that issue I wanted to report 😉 My problem is that sometimes the style for all messages and the entire mattermost is strange. And sometimes it is ok again, when you reload the page. The screenshots I posted are exactly the same post (I didn't edit it). But the first one was after I waited for some hours and reloaded the page.

@jasonbla

[2017-03-28 13:43] namedrisk commented on #5741
@sedrubal I think, I thought you were referring your self to code tag mainly as it was what your images illustrated with the issue.

[2017-03-28 14:42] jacob-lee commented on #5795
The app version I was using was 3.5 (as indicated in my ticket). I have since downloaded the latest release of the Mac desktop app. The problem persists: I cannot close the file preview window by clicking the x button. I can only close it by cancelling the upload. Shortly thereafter, Mattermost crashes.

Thanks!

[2017-03-28 16:34] jasonblais commented on #5388
We're planning to redesign the Account Settings modal so not worth fixing this issue at the moment

[2017-03-28 16:34] #5388 closed

[2017-03-28 17:31] zinic commented on #5257
I think it's a little silly to say that this is an enterprise feature. It feels like the MM team is trying hard to monetize the platform, great, but don't ruin the experience for those of us looking for an OSS solution.

You'll only encourage people to write their own tools that talk directly to the DB. Don't make my life as sysadmin harder.

[2017-03-28 18:32] jasonblais opened #5905 "[Help Wanted] Do Not Disturb mode"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-28 18:32] jasonblais commented on #4241
re-created here https://github.com/mattermost/platform/issues/5905

[2017-03-28 18:32] #4241 closed

[2017-03-29 01:08] CometKim commented on #4598
Hello @jasonblais,

If the group messaging is for temporary use that is enough. but we need to change the ID format to distinguish it from any username.

ID seems to sha1 hash of members id, not a random value. And username can be same.

[2017-03-29 02:45] araujojohnny commented on #643
+1 I'm under apache2 proxy and getting 404 for /static/main.598ce99103ba6aaf3db4.js.

[2017-03-29 04:38] jostyee opened #5910 "Paste snapshot from clipboard disfunctioning"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Can't paste a snap from clipboard if enabling emoji picker on macOS

#### Steps to

[2017-03-29 04:38] jasonblais commented on #4598
I think the plan is that you can close the group message channel but find it in the "More Direct Messages" list. So it would become a permanent channel in that case

To confirm - you're planning to change it to sha1 hash of the member usernames?

[2017-03-29 04:44] jasonblais commented on #5795
Thanks!

And sorry, I thought 3.5 was referring to the server version.

I've opened a ticket in the desktop repo to track: https://github.com/mattermost/desktop/issues/498

[2017-03-29 04:44] #5795 closed

[2017-03-29 05:00] jasonblais commented on #5910
Yeah -- enabling the emoji picker changes the text box to a different one that has some issues: https://mattermost.atlassian.net/browse/PLT-5985

If anyone in the community was interested taking a look, that would be awesome! :)

[2017-03-29 05:29] CometKim commented on #4598
No. currently id of group messaging channel is sha1 hash that always 40 character. I was wrong because username cannot be 40 chars.

[2017-03-29 07:04] CometKim commented on #4598
@jasonblais, It seems the GM route has moved to under `/channels`.
DM route still need to move to under `/messages`?

[2017-03-29 10:08] lindy65 commented on #5744
Hi @sokoow

Thanks for your issue report!

Do you still have the same issue if you update to [Mattermost v3.7.3](https://about.mattermost.com/download/)  (released March 16th)?

[2017-03-29 13:01] jasonblais commented on #5744
@sokoow Can you also try running the command inside the folder `/var/opt/gitlab/mattermost/bin`, if you haven't yet?

[2017-03-29 15:00] jasonblais commented on #5832
Resolved by #5879 , thanks @R-Wang97!

[2017-03-29 15:00] #5832 closed

[2017-03-29 15:01] jasonblais commented on #5910
Fix included in this PR: https://github.com/mattermost/platform/pull/5904

Thanks again for the report!

[2017-03-29 15:01] #5910 closed

[2017-03-29 15:08] jasonblais commented on #5741
Thanks @sedrubal, that's odd..

1) Does the issue reproduce consistently?
2) Does the issue reproduce after long period of inactivity (either from computer or Mattermost)?
3) Does the issue reproduce after waking the computer from sleep?
4) Have other members on your team reproduced it?

Just trying to think if we can find a pattern, helping us troubleshoot the issue.

@namedrisk I believe this st

[2017-03-29 15:15] sedrubal commented on #5741
Yes it is odd.

1. I found no way to reproduce it, but it happened more than 2 times in the last weeks.
2. & 3. It may be caused by a long period of inactivity or by waking the computer from sleep, but it does not happen every time.
4. No other member experienced this (but I'm the only active member in our team using Firefox imho)

[2017-03-29 16:56] esethna commented on #5905
Closing this ticket for now to discuss some design options.

[2017-03-29 16:56] #5905 closed

[2017-03-29 17:51] simon0191 commented on #5627
I would like to work on this issue

[2017-03-29 18:38] mattiasb commented on #5744
I have the exact same issue (with `gitlab-ce-9.0.1-ce.0.el6.x86_64` omnibus on CentOS 6.5).
Running the command inside the `/var/opt/gitlab/mattermost/bin` folder makes no difference, I get the same SIGSEGV as @sokoow above.

One issue though is that it seems like GitLab needs to issue another update for us to be able to upgrade.

[2017-03-29 19:19] jasonblais opened #5912 "[Help Wanted] Add ability to link to channels based on unchanging channel_id instead of channel_url (which users can change)"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-29 19:20] jasonblais opened #5913 "[Help Wanted] Increase max length of User.Position field to 64 characters to match other fields"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-29 22:30] jasonblais opened #5915 "[Help Wanted] Clicking on @mention of a user in a post should show the profile popover."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-03-29 22:31] jasonblais commented on #4498
Re-posted here to get community's attention: https://github.com/mattermost/platform/issues/5915

[2017-03-29 22:31] #4498 closed

[2017-03-30 04:45] tejassawai commented on #5848
No, I don't want full development environment. I just want to open mattermost project in some IDE. So that I can modify,build and run on it.

[2017-03-30 06:42] #5386 closed

[2017-03-30 09:34] lindy65 commented on #5801
Hi @blazer2x

We've discovered the issue is with the font itself, not with our code so we've closed the ticket off for now. There are some plans to consider removing custom fonts for issues like this and to improve performance.

[2017-03-30 09:34] #5801 closed

[2017-03-30 14:00] jasonblais commented on #4598
Sorry, my mistake. DM route is `/channels/id1_id2`, GM route is `/channels/id`

[2017-03-30 14:09] jasonblais commented on #4598
@CometKim Couple of other notes:

 1 - We've received requests to be able to link to channels based on channel_id, not just the channel_url. The channel_id is static and never changes, so you can permanently link to it. We created a help wanted ticket for it here: https://github.com/mattermost/platform/issues/5912

So when we're implementing this feature, we should continue supporting `/channels/i

[2017-03-30 16:52] namedrisk commented on #5848
well if you're building on Linux but want to edit on windows, I would suggest you vs code which comes with git with it so you can simple commit your changes to a branch and then make build or make run on your Linux machine to test it.

But to give you a better answer we would need to know more about what is your case... do you want to edit on windows and compile on windows or how it is?

[2017-03-31 02:47] simon0191 commented on #5358
@grundleborg @esethna what do you think about using JSON schema to validate the config file?
This library can be used: https://github.com/xeipuuv/gojsonschema. The upside is that JSON schema is perfectly suited for this problem, the downside is that including this library may increase considerably the size of the binary.

[2017-03-31 10:34] omikron-admin opened #5927 "Mattermost crashes often"
#### Summary
Mattermost crashes very often (in this month 4 times: 9. + 15. + 23. + 31. March). Also it doesn't auto-start automatically after an reboot (only every 5th time, using crontab).

#### Steps to reproduce
Using version 3.7.2 on Ubuntu 14.04 and postgresql since 20th March,  before 3.4.0. Don't know how to reproduce.

#### Expected behavior
It shouldn't crash this often.

#### Observed b

[2017-03-31 16:04] VertigoRay commented on #2503
I'm not actually sure why this is closed. A progress bar is one thing. The App appears to just be a web connection and **isn't useful as a chat client** from the phone with such a slow recovery time.

[2017-03-31 16:10] lfbrock commented on #2503
@VertigoRay we're building new native mobile apps - they're currently a work in progress and only support a subset of features, but they're available to beta test if you're interested. You can check out our repo here for more info: https://github.com/mattermost/mattermost-mobile

[2017-03-31 16:12] VertigoRay opened #5929 "Mattermost Password Error incorrect"
#### Summary

[Mattermost registration](https://pre-release.mattermost.com/signup_email) gives me an incorrect password criteria error.

#### Steps to reproduce

Password was generated by LastPass. Here's the 100 character string that was generated:

[code]

#### Expected behavior

- **Expect it to not restrict me to a maximum length.**
- Expect it to give me a valid error message with the maximum

[2017-03-31 16:13] VertigoRay commented on #2503
Thanks, I will definitely test it.  I actually just stumbled across it in #5397 ... glad the link is here as well; for posterity.

[2017-03-31 17:01] VertigoRay commented on #5929
FYI, changed to 50 characters and it worked fine.

[2017-03-31 17:52] jasonblais commented on #5929
We currently have a maximum password length of 64 -- here's a few reasons why password length is restricted: https://www.malwaretech.com/2014/05/the-reason-for-maximum-password-lengths.html

[2017-03-31 17:57] jasonblais commented on #5929
@VertigoRay ticket here: https://mattermost.atlassian.net/browse/PLT-6159

Would you be interested submitting a fix for it?

[2017-03-31 18:19] jasonblais commented on #5358
Thanks @simon0191 for the suggestion -- when you say `may increase considerably`, how much might it increase?

[2017-03-31 20:49] lindalumitchell commented on #5885
@jasonblais @demedos I spent some testing on my Android today, and am seeing mixed results.

Tested by changing the state of the app, with settings the same as described above each time (push notifications for all activity, trigger when away or offline), then observing push notification behavior:

1. App is open, then lock screen: Received notification immediately, tapping notification brought me

[2017-04-01 03:18] mateusmedeiros commented on #4127
This is very essential IMO, and should be reopened.
The workaround may work, but it is only that, a workaround. As @UgoCloutier said, it's not perfect.

[2017-04-01 05:32] VertigoRay commented on #5929
From what I can tell (from just a quick search) it's a matter of changing this one line:

https://github.com/mattermost/platform/blob/d39947f53933ee4beb4ed8ab614324edc36fba2d/webapp/i18n/en.json#L2313

[code]

However, the class doesn't look like it's built to supply `max` to that string. I'm not familiar enough with `.jsx` to make the change.

[2017-04-01 10:33] realrolfje commented on #5875
I probably can compere the SQL used to build the two numbers to see if this is indeed the case, but maybe it is better to split the number on the System Statistics page into posts tied to teams and posts not related to teams so the numbers add up. Making that change would require the dev to check that code anyway.

[2017-04-01 10:42] realrolfje opened #5934 "Deactivating user missing feedback"
#### Summary
When marking a User "inactive" in the System Console -> Teams -> Users menu, the system does not give expected feedback.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

#### Expected behavior
1) Deactivating a user is a destructive action.  But the same menu also enables you to make the user admin. Mis-clicks can have big consequences in this scr

[2017-04-01 12:53] sedrubal commented on #5741
Now it happened again: I replied to a message and after that I clicked on the <kbd>➡️</kbd> button to hide the reply side bar. The messages moved out but the grey panel persists at the right side. So I reloaded the tab (F5). After reloading the same issues as described above appeared until now. Reloading again doesn't fix it.

[2017-04-01 12:57] sedrubal commented on #5741
There is an error message in Firefox developer console. I'm not sure if it is related...:

[code]

[2017-04-01 14:02] realrolfje opened #5935 "Password limit on Open Source version is too low"
In the config.json file, the minimum user password length is 5, and the system does not require upper/lower case letters, numbers or special characters. There is no way in the UI to change this, so I changed the config.js file. To my surprise, the system did not enforce my new password requirement settings.

I understand that there must be an incentive to upgrade to Enterprise for companies. But t

[2017-04-01 16:44] sanfords opened #5936 ""Write a message box" blocked by URL while hovering over channel name"
Web App Version: 3.6.0  (3.6.2)
Mac App: Version 3.6.0 (3.6.0.3.6.0)

#### Summary
"Write a message box" blocked by URL while hovering over channel name.

#### Steps to reproduce
This issue can be reproduced in the Mac Mattermost app and a Mattermost Web site.  When the message area is narrow, the "Help" link in the lower right disappears.  This removes the gutter from the bottom of the window whe

[2017-04-01 16:49] sanfords commented on #5936
Whoops, this is an issue with the web app too.  When the window is narrow.  Moving this ticket to the proper project.

[2017-04-01 16:49] sanfords commented on #5936
Wait, this is the platform area.  Reopening.

[2017-04-01 17:02] jasonblais commented on #4127
Thanks @whyfrycek @UgoCloutier @mateusmedeiros for the additional feedback!

We're in fact planning to make it easier to add users to a team with Mattermost 3.8 (released April 16th). You can take a look at the specification here, if you're interested: https://docs.google.com/document/d/16loc5SoOe0xWxpAS9XIKckOsoCWFyjFoXPjjpmPjVF4/edit

[2017-04-01 17:05] jasonblais commented on #5929
Thanks, I've included that line in the ticket.

And no worries if you're not able to fix it - we'll prioritize it next week. Thanks again for the report 👍

Closing to track in Jira https://mattermost.atlassian.net/browse/PLT-6159

[2017-04-01 17:05] #5929 closed

[2017-04-02 02:25] mateusmedeiros commented on #4127
@jasonblais That looks promising! I'll be patiently waiting for 3.8, then. :grin:

[2017-04-02 03:25] R-Wang97 commented on #5355
I can take a look at this!

[2017-04-02 10:54] jostyee commented on #5910
@jasonblais I'm sorry but no, #5904 doesn't fix this problem.

[2017-04-02 11:08] grundleborg commented on #5358
@simon0191this sounds like it could be a good idea. I think it's worth getting some feedback from others on the core team before we commit to this approach though, so I've queued it to discuss at the next public developer meeting (Wednesday at 10am San Francisco time). If you'd like to join us at the meeting, you can see the agenda and the link to the Hangout on our Mattermost instance [here](http

[2017-04-02 15:34] jasonblais commented on #5910
Sorry @jostyee  you're correct -- I had misunderstood the original PR

We'll continue tracking it here, aiming to fix prior to the next release: https://mattermost.atlassian.net/browse/PLT-5985

[2017-04-02 16:03] realrolfje commented on #5585
This problem seems re-introduced in 3.7.2 running on PostgreSQL.

[2017-04-02 16:12] jasonblais commented on #5585
Thanks @realrolfje for the report! The PR will actually be included in Mattermost 3.8 to be released on April 16th, so it's coming soon :)

https://github.com/mattermost/platform/pull/5613

[2017-04-03 07:47] lindy65 commented on #5744
Thanks for your note @mattiasb,

Could we have your help [opening an issue](https://gitlab.com/gitlab-org/omnibus-gitlab/issues) with GitLab requesting an update?

[2017-04-03 08:15] demedos commented on #5885
@lindalumitchell Thank you very much for your testings.
As you said, the problem occurs when the app is completely closed from the active apps window.
I did not noticed delay of the notifications, the problem is the state of the app when it's not Active.

[2017-04-03 13:27] mattiasb commented on #5744
Sure. However, do you have experience telling that 3.7.3 will solve the issue?

[2017-04-03 13:50] mattiasb commented on #5744
Posted [issue 2169](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/2169) on the GitLab issue tracker.

[2017-04-03 13:54] jasonblais commented on #5885
Thanks all! Ticket created here https://mattermost.atlassian.net/browse/PLT-6171

[2017-04-03 17:35] xcompass commented on #5818
@jtdaugherty we have production ready image: https://hub.docker.com/r/mattermost/mattermost-prod-app/. This is the source: https://github.com/mattermost/mattermost-docker

Let me know if you have any question.

[2017-04-03 18:11] lindy65 commented on #5744
Hi @mattiasb,

Thanks for opening an issue with GitLab.

Difficult to say whether upgrading to Mattermost v3.7.3 will solve your issue as you're using GitLab omnibus whereas Sokoow isn't.  Perhaps you can let us know?

[2017-04-03 18:25] filbo opened #5955 "about.mattermost.com/default-report-a-problem wants me to know absurd things about my install"
#### Summary
"Report a Problem" UI leads to [https://about.mattermost.com/default-report-a-problem/](https://about.mattermost.com/default-report-a-problem/) which wants me to know Team Edition vs. Enterprise Edition E10, Enterprise Edition E20, Enterprise Edition with Premier support, or Core Access.

#### Steps to reproduce
1. Click on "Report a Problem"
2. Boggle

#### Expected behavior
At the v

[2017-04-03 18:31] mattiasb commented on #5744
Hm, let me rephrase. Did you make an attempt at a fix for an issue that is similar to what me and Sokoow is experiencing?

[2017-04-03 18:45] filbo opened #5957 ""Commands have been disabled" eats my input buffer"
#### Summary
"Commands have been disabled" eats my input buffer

#### Steps to reproduce

0. (Outside my ken: )  Contrive for your mattermost server to be configured to reject '/' commands

1. Write a long message to your colleagues about how /usr/foo/bar has wrong contents; start the message with that leading slash, i.e. "/usr/foo/bar has the following problems ... [3-4 paragraphs]"

2. Send

3.

[2017-04-03 19:10] lindy65 commented on #5744
Apologies @mattiasb ! I misunderstood your question...

No, we did not make a specific fix for the issue you are experiencing.  The suggestion to Sokoow to upgrade to the latest version was because he was experiencing the problem in an old version of Mattermost which might not reproduce on the latest version.

[2017-04-03 19:12] sokoow commented on #5744
Sorry, I didn't get a chance to upgrade my install yet - is it a drop in install ? is there any risk of upgrading in place ?

[2017-04-03 20:06] simon0191 commented on #5358
@jasonblais @grundleborg I did a quick implementation to see how much would increase the binary size. Here's the implementation with a sample `config.schema.json`: https://github.com/simon0191/platform/commit/c9405496ab67b94d5a0e79826aef01af20eec14c

I built the project before and after adding the gojsonschema dependency and the size increased almost 1M:

- platform_before: 21882572B or 21M
- plat

[2017-04-03 20:39] mattiasb commented on #5744
@lindy65 ok gotcha!

[2017-04-03 20:40] jtdaugherty commented on #2668
For what it's worth, there is a terminal client for MatterMost now in case that will satisfy some of the stakeholders for this request: https://github.com/matterhorn-chat/matterhorn

[2017-04-03 20:43] jasonblais commented on #5741
@sedrubal Talked to one of our developers and this issue should be fixed in Mattermost 3.8

We'll release Mattermost 3.8-RC1 later tomorrow (April 4th). Would you be interested downloading the release candidate and seeing if you're able to reproduce the issue on that build?

Download links will be here https://pre-release.mattermost.com/core/channels/release-discussion

If you'd rather wait until

[2017-04-03 20:57] grundleborg commented on #5358
@simon0191 thanks very much for investigating that so thoroughly. I'll add that to the item we're going to discuss at Wednesday's dev meeting, but I doubt the extra megabyte will be a big deal.

[2017-04-03 21:16] sedrubal commented on #5741
Wow thanks a lot.

I fear I've to wait until it will be bundled with GitLab. But as I found no way to reproduce it it's hard to say if it is fixed anyway.

[2017-04-03 21:41] esethna opened #5962 "Mattermost v3.8.0 - RC5"
This is a meta issue for v3.8.0 release updates.

You can find key dates for v3.8.0 release below, with links to testing servers, release candidate and changelog added retrospectively.

### April 4 (T-8): Code Complete

Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated after release candidate is cut:
- Download l

[2017-04-03 22:41] josephGuo commented on #5848
liteide/vscode/idea... Whatever you choose is ok

[2017-04-04 00:12] jasonblais commented on #4824
Resolved by #5887

[2017-04-04 00:12] #4824 closed

[2017-04-04 06:51] lindy65 commented on #5744
Thanks @mattiasb!

@sokoow, upgrading from v3.6.0 to v3.7.3 should be smooth and you can follow the upgrade guide [here](https://docs.mattermost.com/administration/upgrade.html#upgrade-guide)

Does this help?

[2017-04-04 07:49] demedos commented on #5885
Should I open a new issue for the log lacking the user IDs? Honestly I don't know if it's related to this Android issue

[2017-04-04 11:43] zwiglm commented on #5386
Erm. Read it all... since I got the same error.
Have I missed something? There is no final solution for IIS atm, right?

[2017-04-04 14:26] zwiglm commented on #5386
In regard to:

Can it be fixed to this in a close future version?

[2017-04-04 17:26] joernhees commented on #5257
I agree... basic debugging considerations shouldn't be enterprise features. One of these is "what is this folder causing problems". I'm not asking for an easy way for admins to drop in on private conversations.

Also, unless you have end-to-end encryption, users will have to absolutely trust their server admin. If you're in doubt about your admin's code of honor, you have bigger issues.

I think t

[2017-04-04 17:30] joernhees opened #5975 "disk space considerations"
Running an internal mattermost server, i'm worried about the ever-growing amounts of disk space it's using.

I'd like to suggest two things:
- admin view of disk space by user (to notify them)
- when a user deletes a file in the chat, it should also be removed from the server's file system (currently doesn't seem to happen)

related #5257

[2017-04-04 18:34] jasonblais opened #5977 "[Help Wanted] Last viewed team isn't saved after logout"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-04 18:34] jasonblais opened #5978 "[Help Wanted] Adding a member doesn't update member count until refresh"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-04 18:34] jasonblais opened #5979 "[Help Wanted] Setting a password longer than 64 characters gives incorrect error message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de