[2022-04-13 21:00] #18572 closed

[2022-04-13 21:00] amyblais commented on #15295
Closing out some older issues, this can be re-opened as needed,

[2022-04-13 21:00] #15295 closed

[2022-04-13 21:08] #19790 closed

[2022-04-13 21:15] mattermod opened #19982 "@thread option for the autocomplete on a thread"
When Collapsed Reply Threads are enabled, @thread would cause a mention and auto-follow the thread for every participant, including the root post author.

This should only appear in the autocomplete of the RHS or Thread Viewer. If @thread is typed out in the center channel it should render as plain text and not appear in the autocomplete

Also add "thread" to the list of restricted usernames

Note

[2022-04-13 21:19] kenyon commented on #19589
Commented too soon. I still see this happening with the nightly desktop application. New messages could be received in another team, and I won't see an indicator dot on the team until I switch teams. Doesn't always happen, seems like it happens more after a long period (like overnight) where there hasn't been activity in teams I'm not currently viewing.

[2022-04-13 21:37] esethna commented on #19911
@sinansonmez hows this going?

[2022-04-13 21:40] sinansonmez commented on #19911
@esethna I couldnt start this because I was busy with other PRs. However it is on my to-do list and I will tackle this.

[2022-04-13 21:45] mattermod opened #19983 "CRT: Focus stays in RHS after channel switcher navigates out of the Threads view"
Repro: Enable Collapsed Reply Threads
1) Open the RHS in a channel
2) Switch to the Threads view
3) Use the channel switcher to switch to a different channel on the same team

Observed: After the channel switch the focus is in the RHS

Expected: After the channel switch, the focus is put in the main channel input box (not the RHS)

Repro vid:

![](mmbug.mp4|width=1920,height=1080)

----
If you're

[2022-04-14 07:16] broneq opened #19986 "Mentioning @all couse out of memory with server crash"
#### Summary
When mentioning with @all keyword on channel with 150 (or 209) users server runs out of memory and is crashing.
Eairlier on mattermost/mattermost-docker version 5.31 everything was ok. After upgrade to to new version mattermost/docker v6.3.1 problems started. Yesterday I have upgraded it to 6.3.6, but issue still exists.

Setups is on 8 cores VM with 12GB RAM on SSD disk (own hypervis

[2022-04-14 12:25] amyblais commented on #19986
@agnivade Is this related to https://mattermost.atlassian.net/browse/MM-41752 and should this be backported?

[2022-04-14 13:38] ashishbhate commented on #19948
@rajeshwarpatiolla

Since I can't reproduce this issue, we're going to need more information about your changes and setup to debug this issue. Could you please post the following.

1. The changes you've made for the redirection
2. Server logs that correspond to the POST request
3. An outline of your production server environment and deployment process, especially the services you're using in produ

[2022-04-14 14:21] agnivade commented on #19986
Yes it's that issue. It's not a regression from what I can see. So I'll leave it to you if you want to backport, and to which versions.

[2022-04-14 14:23] amyblais commented on #19986
@broneq For now this has been fixed in v6.6. Do you normally stay on ESRs?

[2022-04-14 14:46] sinansonmez commented on #17242
@amyblais if @iOSGeekster is not working on this I can

[2022-04-14 15:00] mattermod opened #19991 "Improve spacing and alignment for archived threads warning text"
Environment: master, rc.test

Steps:
1. Participate or follow a thread in channel1
2. Archive channel1
3. Open global threads and view the thread from step 1.

Expected: Text "You are viewing.." with proper spacing on the left and update the text text as per the design. Please ensure the fix applied to the Thread Viewer and the RHS

Observed: No spacing/margin, text butts against the divider. It d

[2022-04-14 15:31] jbattistispiria commented on #19163
While investigating this issue, i found that with screen reader the members button in the channel header does not seem to be read correctly.
![image](https://user-images.githubusercontent.com/103535117/163422943-6d2d602e-c42d-43b5-830c-15b2f58f46db.png)
What NVDA say: "2 button, Members".
I think it should say only the tooltips text like the "Add to favorites" button does.
Should i create a new is

[2022-04-14 15:34] sinansonmez commented on #17242
As I am migrating the files, I wanted to test However, as mentioned [here](https://docs.mattermost.com/onboard/ad-ldap-groups-synchronization.html), groups are enterprise feature so I assume I can not test it. Is there any way for me to test it?

[2022-04-14 16:00] amyblais commented on #17242
@devinbinnie Would you know?

[2022-04-14 16:00] hmhealey commented on #19719
MM-40450 is a different issue. That one's about what happens when someone makes a post containing Markdown that looks like `![an svg](https://example.com/image.svg)` since that's not handled properly by the image proxy, but this issue is about an error that happens when uploading an SVG as a file attachment

[2022-04-14 17:30] mattermod opened #19994 "Update client/playbook_run.go"
Note: Please see the Jira Epic for more info: [https://mattermost.atlassian.net/browse/MM-40883](https://mattermost.atlassian.net/browse/MM-40883)

The `client/playbook_run.go` file is out of date and we would love if it could be updated. For this task, you would need to:

  1. Look carefully at the structs in the

`app/playbook*run.go` file (`PlaybookRun`, `StatusPost`, `Metadata`, `TimelineEvent

[2022-04-14 17:30] mattermod opened #19995 "Update client/playbook.go"
Note: Please see the Jira Epic for more info: [https://mattermost.atlassian.net/browse/MM-40883](https://mattermost.atlassian.net/browse/MM-40883)

The `client/playbook.go` file is out of date and we would love if it could be updated. For this task, you would need to:

1. Look carefully at the structs in the `app/playbook.go` file (`Playbook`, `Checklist`, `ChecklistItem`, `GetPlaybookResults`, `P

[2022-04-14 18:03] sinansonmez commented on #13488
@amyblais could you please assign this to me

[2022-04-14 18:30] devinbinnie commented on #17242
@amyblais I don't know for sure, but yeah I would assume that you wouldn't have access to that without having an enterprise license. I think we can still have @sinansonmez migrate this, we'll just have to test on a SpinWick.

[2022-04-14 18:46] tyrandus opened #19996 "Profile image persists after user account deletion"
#### Summary
When deleting a user account via `mmctl`, the profile image is not being removed. Similar behavior has been found for accounts imported from LDAP (see https://mattermost.atlassian.net/browse/MM-41157), but I assume that it applies to all accounts.

#### Steps to reproduce
The following steps have been performed in a local `mattermost-server` setup with the latest version (v6.6.0). The

[2022-04-14 19:07] amyblais commented on #19967
Opened a ticket: https://mattermost.atlassian.net/browse/MM-43443.

[2022-04-14 19:08] amyblais commented on #19996
Opened a ticket: https://mattermost.atlassian.net/browse/MM-43444.

[2022-04-14 19:36] Tyrandus opened #19997 "Team email persists after deletion of creator account"
#### Summary
When deleting a user account via `mmctl`, the email property of teams this user created is not being changed, thus leaking the user's email address (at least in the database). A similar account removal issue has been reported here: https://github.com/mattermost/mattermost-server/issues/19996

#### Steps to reproduce
The following steps have been performed in a local `mattermost-server

[2022-04-14 20:22] #16243 closed

[2022-04-14 20:30] mattermod opened #19998 "Show mention badge for all new messages in group message channels and update the default notification settings"
{panel:bgColor=#deebff}
**Implementation Notes**

Group message notifications will change and be treated like Direct Messages. This means every message in a GM will show a mention badge in the sidebar.

**Changes:**

  1. Every new message received in a group message increments the mention badge
  1. Add an intro message and text link that opens the notification preferences modal, see **Figma Desi

[2022-04-14 20:38] enahum commented on #14157
To be done internally

[2022-04-14 20:38] #14157 closed

[2022-04-14 22:29] amyblais commented on #19997
Opened a ticket: https://mattermost.atlassian.net/browse/MM-43447.

[2022-04-15 00:21] Vovcharaa commented on #19412
This issue was mitigated in version [minio-go v7.0.24](https://github.com/minio/minio-go/releases/tag/v7.0.24) by pr https://github.com/minio/minio-go/pull/1626

[2022-04-15 00:45] wuyinhrong opened #19999 "There is a problem integrating Zapier"
#### Summary
There is a problem integrating Zapier

#### Steps to reproduce
Mattermost Server 5.33.3

#### Expected behavior
There is a problem integrating Zapier：
The Content Security Policy (CSP) prevents the evaluation of arbitrary strings as JavaScript to make it more difficult for an attacker to inject unathorized code on your site.
To solve this issue, avoid using eval(), new Function(), set

[2022-04-15 01:46] wuyinhrong commented on #19999
Supplementary explanation：
When logging into Mattermost in the Zapier interface, an error message (Invalid client id.).

![image](https://user-images.githubusercontent.com/48433729/163504532-7829fdc3-268a-4fa5-83d2-48410c2594ee.png)
![image](https://user-images.githubusercontent.com/48433729/163504564-111e21ae-343b-4c13-be9f-a7196f6eb98a.png)

[2022-04-15 03:38] agnivade commented on #19412
That sounds great @Vovcharaa !  Thank you for digging into this. Would you be open to sending a PR to upgrade the minio dependency?

[2022-04-15 05:18] dev-vinny commented on #19991
can I work on this?

[2022-04-15 06:15] mattermod opened #20001 "Error logged when SendEmailNotifications is not true"
See: [https://github.com/mattermost/mattermost-server/issues/19967](https://github.com/mattermost/mattermost-server/issues/19967|smart-link)

##### Summary

Our deployment of Mattermost has [disabled email notifications](https://docs.mattermost.com/configure/configuration-settings.html#enable-email-notifications]. This leads to an error on the server startup. Note that this bug report is different

[2022-04-15 06:17] KevinSJ commented on #19912
Hello, after looking through the code a bit, I believe the description for this issue is not quite right. That part of the code **is** checking if the password is correct, **not** whether the password satisfy the set requiremnt -- it is calling https://github.com/mattermost/mattermost-server/blob/b66fd1f89efa698fba5fc5e1c5dad350fa4f44f2/app/users/password.go#L14-L15 which is calling ComparePasswor

[2022-04-15 07:44] broneq commented on #19986
Normally Yes, we are doing updates twice in the year. For me it isn't problem to upgrade 6.6 But I think that update should go to ESR

[2022-04-15 12:58] DummyThatMatters opened #20003 "Mattermost GetUsers Plugin.API Method not working properly"
#### Summary
When using `Plugin.API.GetUsers` method (writing a Mattermost plugin), method ignores most of its parameters (provided via `model.UserGetOptions` struct like `InTeamId`, `TeamRoles`, etc) and returns unfiltered results. Only page/per-page params working correctly.

#### Steps to reproduce
You can take mattermost server v5 or v6 (checked on both) to write a plugin. Use Plugin.API.GetUs

[2022-04-15 15:23] Vovcharaa commented on #19412
@agnivade https://github.com/mattermost/mattermost-server/pull/20006

[2022-04-15 16:36] lkyuchukov commented on #20001
Hi, can I try this ?

[2022-04-15 17:50] agnivade commented on #20001
Go ahead @lkyuchukov !

[2022-04-16 05:08] #19412 closed

[2022-04-16 17:49] poonesh commented on #19980
I can look into this.

[2022-04-17 15:11] uusijani opened #20008 "Signing (public) key missing from Keybase"
#### Summary
Keybase key for [verifying the tar archive's signature](https://docs.mattermost.com/upgrade/version-archive.html) is missing.

#### Steps to reproduce
1. try to download https://keybase.io/mattermost/key.asc

#### Expected behavior
Get a public key to verify the tar archive's signature.

#### Observed behavior (that appears unintentional)
404 not found

[2022-04-18 00:33] paddy-hack commented on #20008
I have been using a slightly different URL (for more than a year) without trouble.  My CI/CD job at 2022-04-16 19:03 now gets
[code]

[2022-04-18 00:39] paddy-hack commented on #20008
The link in the [version archive documentation](https://docs.mattermost.com/upgrade/version-archive.html) to https://keybase.io/mattermost gives

![Screenshot_2022-04-18_09-38-35](https://user-images.githubusercontent.com/6804372/163738311-49477756-bd6a-436e-ac8c-b02e568a2946.png)

[2022-04-18 09:46] grin31 opened #20012 "display group members after click on group name in chat"
In Slack messenger after click on group name (@group_name) desktop app show members list.
It's a good feature to keep users time.
Now is only one way to see members list Channels -> UserGroups -> search group - > click.
Please develop new functions for desktop application.

[2022-04-18 13:02] userbradley opened #20013 "Display time of person being messaged above text box"
Similar to slack, it would be nice show the time of the person that is being messaged, above the text box - or even next to their name at the top od the Private message window

https://mattermost.uservoice.com/forums/306457-general/suggestions/45045922-display-local-time-of-person-you-re-messaging-abov

[2022-04-18 13:18] amyblais commented on #19967
Closing this as a dup of the Help Wanted issue that was opened.

[2022-04-18 13:18] #19967 closed

[2022-04-18 13:40] amyblais commented on #19999
We have a ticket open here: https://mattermost.atlassian.net/browse/MM-41519.

[2022-04-18 13:43] amyblais commented on #20013
Thanks, appreciate your feedback @userbradley.

Thank you for [contributing this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/). We track feature requests on Uservoice, so I'll close this Github issue for now.

If you're interested in implementing, please say so and we'll prioritize the review.

[2022-04-18 13:43] #20013 closed

[2022-04-18 13:46] amyblais commented on #20012
We have a ticket open for this here: https://mattermost.atlassian.net/browse/MM-42356.

[2022-04-18 13:51] amyblais commented on #20003
Opened a ticket: https://mattermost.atlassian.net/browse/MM-43461.

[2022-04-18 13:52] amyblais commented on #20008
I've opened a ticket for our DevOps team to take a look: https://mattermost.atlassian.net/browse/DOPS-945.

[2022-04-18 18:17] EricZimmerman opened #20018 "MM 6.6, channel info removed Channel Id"
#### Summary
Add Channel Id back to Channel info

#### Steps to reproduce
in 6.6, view channel info sidebar. Id is now gone =(

#### Expected behavior
Add it back

#### Observed behavior (that appears unintentional)
Not sure why it was removed, but we used it for all kinds of other integrations without needing to make API calls.

[2022-04-18 18:50] amyblais commented on #19986
We found that the PR that fixes this was built on top of some refactoring work that went in for Collapsed Reply Threads feature work, and backporting the fix to a previous version is difficult. This bug has been present for a long time (including 5.37 ESR). The fix is available in v6.6 and will be available in the next upcoming ESR as well.

[2022-04-18 18:50] #19986 closed

[2022-04-18 18:52] amyblais commented on #20018
This is fixed as part of this PR https://github.com/mattermost/mattermost-webapp/pull/10071, which is scheduled for v6.7.

[2022-04-18 18:52] #20018 closed

[2022-04-18 19:52] lieut-data commented on #19908
Thanks, @jeffreyssmith2nd!!

[2022-04-18 19:54] lieut-data commented on #18509
Bringing this one internally.

[2022-04-18 19:54] #18509 closed

[2022-04-18 19:55] DummyThatMatters commented on #20003
Hello,@mickmister ! I doubt I really have knowledge to fix it. Have you reproduced it? Is it real or I've done something wrong?

[2022-04-18 20:30] mattermod opened #20019 "Support autocompleting @user and ~channel in RHS Markdown fields"
When editing the RHS summary, a task name, or a task description, let’s add support for autocompleting `@user` and `~channel`, just like we do when composing a message:

![image](https://user-images.githubusercontent.com/1023171/163875123-c55d75b4-b01d-4364-bbe2-7eb76d0787f1.png)

![image](https://user-images.githubusercontent.com/1023171/163875137-26bcdcfd-4fad-450a-926a-0de80c8e4dfc.png)

*Issue

[2022-04-18 20:30] mattermod opened #20020 "Idea: use natural language input for date metric"
When configuring a key metric that is a duration, we currently require an explicit `dd:hh:mm` input string:

![image](https://user-images.githubusercontent.com/1023171/163875200-ca82c043-3723-477b-b1a6-c61a2a7eae36.png)

Let’s investigate changing the `Target per run` field to instead use a  `DateTimeInput` / `DateTimeSelector`  component in duration mode which supports localized custom inputs lik

[2022-04-18 20:45] mattermod opened #20021 "Use newer modal for RHS 'Create playbook' button"
When creating a playbook from a template in the RHS:

![image](https://user-images.githubusercontent.com/1023171/164061366-4f0bfd36-8523-48f3-aff4-364e7491a960.png)

We immediately launch into the edit screen, but we should instead prompt with the modal used when creating a playbook from the Playbooks product, pre-selected with the template in question:

![image](https://user-images.githubusercont

[2022-04-18 21:51] thevibhu commented on #19995
can i take up this issue?

[2022-04-18 22:03] haivala opened #20022 "Oauth 2.0 applications vanish after upgrade"
#### Summary
After upgrade to 6.6 (team edition) Oauth 2.0 Applications have vanished and even if they are created again they vanish. (Haven't had time to debug this further)

#### Steps to reproduce
* Upgrade from 6.5 to 6.6
* Oauth application list is empty and they don't work.
* create new
* it works for a while and then it vanishes. (Haven't tested further yet)

#### Expected behavior
Oauth ap

[2022-04-18 22:14] twnk commented on #20022
To Fix if using MySQL:

[code]

[2022-04-18 22:15] twnk commented on #20022
The issue is that the database migration which introduces a new column to the OAuthApps table as part of the Apps 1.0 General Availability release will cause a Null value to be entered into the database for rows that already exist. But Go doesn't play nicely with this unexpected Null https://github.com/mattermost/mattermost-server/commit/7710a2fe3741d42b6eba7f4904a9e653e789f7c3

[2022-04-18 22:19] twnk commented on #20022
This migration needs to set a non-null value for existing rows; https://github.com/mattermost/mattermost-server/blob/master/db/migrations/mysql/000078_create_oauth_mattermost_app_id.up.sql

alternatively the Go code needs to handle Null but I'm not sure where to point on that

[2022-04-18 22:33] amyblais commented on #20022
Opened a ticket: https://mattermost.atlassian.net/browse/MM-43500.

[2022-04-19 06:12] haivala commented on #20022
Thank you! I tried to run console command `db migrate` but that did not help.

We use Postgres. Can I have quick fix for that as this prevents our users to login easily to our other services?

[2022-04-19 06:15] twnk commented on #20022
@haivala my suggested quick fix should work on Postgres too, but because I don't use Postgres, I cannot test it for you.

You will need to log into the database and execute it as an SQL command, `db migrate` won't work as this isn't an existing migration.

[2022-04-19 06:38] haivala commented on #20022
Just telling what I did after I created the issue.

I can run (and test) the SQL command but I would need it in postgres format.

[2022-04-19 09:06] twnk commented on #20022
I understand, thanks for clarifying. I believe the statement above:
`UPDATE OAuthApps SET MattermostAppID = '' WHERE MattermostAppID IS NULL;`

[2022-04-19 09:10] twnk commented on #20022
I understand, thanks for clarifying. I believe the statement above is valid SQL and relies on no special features of MySQL. So it's also valid PostgreSQL. It will execute, and will replace the NULL values in your Postgres table with empty strings.

My only caveat is that I have not tested it myself on a Postgres instance, and I couldn't tell you whether this alone is sufficient to completely fix t

[2022-04-19 10:23] haivala commented on #20022
[code]

[2022-04-19 10:24] haivala commented on #20022
And the list and the apps work now. I'm I going to face problems from next db migration?

[2022-04-19 10:30] Willyfrog commented on #19163
yes, please! And thanks for reporting

[2022-04-19 10:30] twnk commented on #20022
I don't expect us to have issues next migration as the database table is in a valid state, `''` (the empty string) is what Mattermost itself sets that column to when you create a new OAuth App on the latest version.

[2022-04-19 10:41] haivala commented on #20022
ok! thank you for your help!

[2022-04-19 10:44] haivala commented on #17370
I'm experiencing almost the same thing. (MM 6.6)
Our instance asks the confirmation always no matter what you do.

[2022-04-19 11:00] mattermod opened #20024 "CRT: Deleted root posts destroy the entire thread"
It would appear that deleting a root post also deletes the entire thread if there are replies. We should keep the thread intact and display the root post as deleted, but maintain the replies.

**In-Channel**

![](image-20210608-160133.png|width=275,height=92)

[Figma Design](https://www.figma.com/file/JmNM3WmTKHTKU5Cf7uNwOj/MM-18107-Threads-Overhaul-v3?node-id=8435%3A99260)

**Thread List Item**

[2022-04-19 12:30] mattermod opened #20025 "Click on quick reactions (button edge) opens RHS"
Environment: daily, found during PR testing [https://github.com/mattermost/mattermost-webapp/pull/10016](https://github.com/mattermost/mattermost-webapp/pull/10016|smart-link)
Not a recent regression. Reproduces on last four released versions

Steps:

  1. Enable “click to open threads” setting, if not already enabled
  1. Post a message
  1. Hover over post to trigger post menu
  1. Click on oute

[2022-04-19 13:59] mickmister commented on #20003
@DummyThatMatters I haven't had a chance to set up a case to test this. From your analysis it does seem like there's a bug here that needs to be fixed.

It looks like the plugin API method just proxies to the `App`'s method for this, so the plugin API itself wouldn't be the underlying issue:

https://github.com/mattermost/mattermost-server/blob/c1f3827801fdff82fa31a213c6724f3d66af1ec8/app/plugin_a

[2022-04-19 13:59] jbattistispiria opened #20026 "ADA Accessibility: NVDA does not read members button correctly in CHR"
#### Summary
The members button in the channel header does is not read correctly with screen reader.
![image](https://user-images.githubusercontent.com/103535117/164010363-c1aa7824-179a-4d1d-a87c-037ba019e084.png)

#### Steps to reproduce
1. Run a screen reader program like NVDA.
2. Press CTRL+F6 (Windows) to navigate to the channel header region
3. Press TAB to navigate through the options till m

[2022-04-19 14:01] jbattistispiria commented on #20026
I can take it, i found it while working on another accessibility issue.

[2022-04-19 14:36] Paul0908 commented on #17268
I would really like to do this as my first issue.

[2022-04-19 14:38] DummyThatMatters commented on #20003
@mickmister I have a code snippet that demonstrates the issue. Or do you need the whole plug-in? I'm afraid I cant provide it.

[2022-04-19 23:23] mickmister commented on #20003
@DummyThatMatters Ideally you can provide a small plugin as a [minimal reproducible example](https://en.wikipedia.org/wiki/Minimal_reproducible_example) for us to install and modify to see what behavior is occurring and what we should be expecting. Does this sound practical? That would certainly expedite the process of testing this with other developers involved with the server code.

[2022-04-20 09:08] 3c7 opened #20032 "Permalinks to private messages can add system administrators to other teams without further confirmation"
#### Summary
Permalinks in private chats always include the current team used to access the private (1:1) chat. When sharing a permalink to a specific message while viewing the chat from another team, which does not include the other participant and if the participant is a system administrator, the other participant joints the team without further confirmation. This was tested with version `6.4.2`

[2022-04-20 09:13] 3c7 commented on #20032
Actually, I don't know if this is related to the server or https://github.com/mattermost/mattermost-webapp.

[2022-04-20 13:26] lucasscheepers opened #20036 "The possibility to add securityContext in the manifest file while using the Helm Mattermost Operator"
The possibility to add `securityContext` in the manifest file while using the Helm Mattermost Operator, like below:

[code]

Related issue: https://github.com/mattermost/mattermost-helm/issues/315#issue-1167316397.
This is already possible in the team and enterprise editions Helm charts, but this is not the case for the manifest file. Or is it :sweat_smile: ?

[2022-04-20 14:56] amyblais commented on #20032
I tested this and I was given a prompt to confirm if I want to join the private channel (see screenshot).

@BenCookie95 @ashishbhate  Is there a setting that admins can configure to get these prompts?

<img width="596" alt="Screenshot at Apr 20 10-52-50" src="https://user-images.githubusercontent.com/29708087/164259540-dcc09c83-2aa4-4c24-9f61-4b5e9010e267.png">

[2022-04-20 14:57] amyblais commented on #20036
I created a ticket for our devops team to take a look https://mattermost.atlassian.net/browse/DOPS-961.

[2022-04-20 15:05] #20022 closed

[2022-04-20 15:31] 3c7 commented on #20032
I don't know if this makes a difference, but this was not about joining a private channel, but "silently" (for the user clicking the link) joining a team through clicking on a link that contains the ID to a message of a channel I'm already part of (in my case it was a direct conversation with another user), if I'm using an administrative account.

[2022-04-20 16:04] amyblais commented on #20032
Got it, opened a ticket: https://mattermost.atlassian.net/browse/MM-43591.

[2022-04-20 16:39] sanju2010 commented on #19948
Hi,

Sorry to get back a little late. In fact, our application is running on IIS and MM deployed on nginx on another server. We have written a rewrite rule in IIS to proxy to the nginx server (where mattermost server is running).
Sometime back our post calls were working in dev environment and we believe after we upgraded to 6.3.1 version, the POST calls are failing in dev environment. When we con

[2022-04-20 18:56] jbattistispiria commented on #19029
@mattermod @Willyfrog I would like to take this.

[2022-04-21 04:22] ashishbhate commented on #20032
I'm not sure if this is a bug, I think this is how its intended to work (i.e. automatic team join). Maybe @esethna could clarify.

[2022-04-21 08:20] vovsemenv opened #20042 "When threre is a lot of matches page starts freezing on search. Cmd+K"
#### Summary
Problem when search channels or users in big communities.
If search give 1000+ results then page start freezing
<img width="619" alt="изображение" src="https://user-images.githubusercontent.com/20096510/164411166-ad959048-5a71-4125-bbf3-f231a6271aa3.png">

#### Steps to reproduce
version 6.5.0

1. hit `cmd+k`
2. hit first letter and get a lot of mathches
3. cahnge term
4. PAGE FREEZED

[2022-04-21 08:20] vovsemenv commented on #20042
I can take it

[2022-04-21 09:26] 3c7 commented on #20032
Well, if the permalink points to a chat room in the specific team, this is an expected behaviour. However, this is about a permalink to a message within a private conversation between two participants in different teams, not a private room within a team. So permalinks created by both participants of the conversation use different "team parts" in the URLs.

[2022-04-21 11:15] titansmc commented on #18985
we are hit by the same bug, is it a bug in the server side or the client?

[2022-04-21 15:42] process0 commented on #15606
Locking security features away as "enterprise" features, i.e.the [SSO tax](https://sso.tax/), is pretty shameful.

[2022-04-21 17:39] jbattistispiria commented on #19161
@mattermod @Willyfrog I would like to take this one.

[2022-04-21 18:00] Willyfrog commented on #19161
Thanks @jbattistispiria !! Assigned to you, let us know if you have any questions :)

[2022-04-21 18:15] esethna commented on #20032
Makes sense, agree with what's been mentioned and the ticket has been opened. Thanks for the report @3c7

[2022-04-21 18:16] esethna commented on #20032
Closing to follow progress in the jira tix

[2022-04-21 18:16] #20032 closed

[2022-04-22 05:56] ashishbhate commented on #19948
@sanju2010 Please see my previous post for information I'd need to begin debugging this.

Which version did you upgrade from?

[2022-04-22 06:16] kyeongsoosoo commented on #19991
@esethna  Can I take this issue?

[2022-04-22 07:52] dodgex opened #20048 "SqlSystemStore attempts to UPDATE without WHERE"
#### Summary
It seems that the SqlSystemStore attempts to do an `UPDATE` without a `WHERE` clause.

#### Steps to reproduce
I think install any current version of MM and let it do an update in `systems` table. (in our case the security update check caused the update)

We currently have v6.5 in use, but the problematic code is still found in master.

#### Expected behavior
Update the value with a w

[2022-04-22 07:57] dodgex commented on #20048
Looks like [this commit](https://github.com/mattermost/mattermost-server/commit/e1eb0a0cf3a93714d347630b740835d2c037426f) by @YairFernando67 introduced the bug

[2022-04-22 08:12] doranych opened #20049 "Set plugin setting value by environment variables"
#### Summary
You can't set plugin essential setting via environment

#### Steps to reproduce
- Create a plugin with setting
- Set plugin fail to start if setting is not set
- Install plugin
- Failed to start, also failed to configure via GUI
- Try to set setting value via env variable `MM_PLUGINSETTINGS_PLUGINS_TESTPLUGIN_SETTING=value`

#### Expected behavior
It sets

#### Observed behavior (that

[2022-04-22 08:37] dodgex commented on #20048
Also tagging @agnivade and @isacikgoz who have done the review of the related PR https://github.com/mattermost/mattermost-server/pull/18893

[2022-04-22 10:38] agnivade commented on #20048
Oops great catch @dodgex !

[2022-04-22 12:59] amyblais commented on #20048
Opened a ticket https://mattermost.atlassian.net/browse/MM-43653.

[2022-04-22 13:00] amyblais commented on #20049
@doranych What Mattermost server version are you on?
If you're interested to take this issue, I could assign it to you.

[2022-04-22 13:10] doranych commented on #20049
Mattermost-server v6.6. I would like to make PR fixing this

[2022-04-22 14:31] #18731 closed

[2022-04-22 14:32] #18699 closed

[2022-04-22 14:40] #17499 closed

[2022-04-22 14:42] #19762 closed

[2022-04-22 14:52] #20048 closed

[2022-04-22 15:16] sunilkolluru commented on #19948
@ashishbhate , I have provided all the information you requested in community.mattermost.com

Appreciate all your help and pls let know if you need any further information.

Thanks

[2022-04-22 21:30] esethna commented on #19991
@kyeongsoosoo absolutely!

[2022-04-23 07:52] samuraii78 opened #20058 "Notify users when assigned a card"
When creating a new card in boards and assigning it to a user other than the creator of the card, shouldn't that user be automatically notified of the assignment? Is there an option to be set to have that?

[2022-04-23 13:51] #20058 closed

[2022-04-24 21:05] vivek-ng commented on #19867
I'll take this!

[2022-04-24 22:59] paddy-hack commented on #20008
Thanks.  FYI, it happened again 2022-04-23 19:05 UTC.

[2022-04-25 05:18] AshishDhama commented on #20042
cc // @esethna

[2022-04-25 05:45] plant99 commented on #19996
https://forum.mattermost.com/t/solved-how-do-i-delete-a-user/7208/2 from this, it looks like no changes in web-app is needed? Please correct me if I'm wrong.

[2022-04-25 06:23] agnivade commented on #19142
@AshishDhama - This is what I was talking about.

[2022-04-25 06:30] sunilkolluru commented on #19948
@ashishbhate @amyblais
I submitted all the information and logs requested in the https://community.mattermost.com/ last week. When i tried to check for updates I don't see any of my msgs in the DIRECT MESSAGES section. Could you pls let me know if I need to submit the information again or do you have access to that information.

We are stuck at this issue for quite sometime now and greatly appreci

[2022-04-25 12:58] ulliholtgrave opened #20061 "Enumerations are displayed incorrectly"
#### Summary
When creating non-contiguous enumerations, a different view seems to be displayed automatically. Thus, the numbers themselves are overwritten and an ascending enumeration is automatically displayed.

#### Steps to reproduce
Using:
Mattermost Version: 6.3.6
Database Schema Version: 6.3.6
Database: mysql

1. Create an unrelated list of numbers in a message (see first screenshot) and cli

[2022-04-25 17:41] esethna commented on #19977
All yours @kyeongsoosoo!

[2022-04-25 17:48] esethna commented on #20042
@AshishDhama are we okay accepting HW contribution for this?

[2022-04-25 20:04] vovsemenv opened #20065 "Webapp die if you leave chanel in "show only unread" mode"
#### Steps to reproduce
1. Select "Filter by unread"
2. Leave any chanel

Page become white and app die.

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant error messages and/or screenshots.
<img width="1280" alt="изображение" src="https://user-images.githubusercontent.com/20096510/165165917-073a76be-3bf7-4cd8-befe-3ac163989c1d.png">

<img width="

[2022-04-25 20:05] vovsemenv commented on #20065
I can take ticket

[2022-04-25 23:23] bbodenmiller opened #20066 "Unnecessary S3 multipart upload"
#### Summary
Don't use S3 multipart upload for small files

#### Steps to reproduce
1. Setup to use S3
2. Upload a small file

#### Expected behavior
File should be uploaded to S3 without using MPU

#### Observed behavior (that appears unintentional)
File is uploaded using MPU

#### Possible fixes
Don't use MPU for files <5MB

S3 even recommends not using it for files smaller than 100 MB: https://

[2022-04-25 23:51] bbodenmiller opened #20067 "Duplicate default profile photos created if S3 has intermittent failure"
#### Summary
Duplicate default profile photos created if S3 has intermittent failure

#### Steps to reproduce
1. Enable S3 integration
2. Turn on S3 versioning
3. Remove profile picture
4. Force S3 issue with `GET`
5. Refresh Mattermost
6. Notice that a new default profile picture has been uploaded for user

#### Expected behavior
New versions of default profile picture should not be created

####

[2022-04-26 08:45] mattermod opened #20069 "Scan "slack attachments" for keywords"
This is a ticket for the [mattermost-plugin-playbooks](https://github.com/mattermost/mattermost-plugin-playbooks) repository.

---

Every channel has now a set of triggers and actions that can be configured by clicking on Channel Actions in the channel header menu.

![image](https://user-images.githubusercontent.com/3924815/165267787-ee07af1d-b983-47ba-a9a9-bcab26c209c7.png)

The action to prompt

[2022-04-26 12:15] amyblais commented on #20066
@bbodenmiller What Mattermost server version are you on? Do you see any errors in Mattermost logs?

[2022-04-26 12:28] arnalyse commented on #19999
hi @amyblais, we've also encountered the problem described in https://mattermost.atlassian.net/browse/MM-41519

In the Jira there is mention of a Zapier integration version 1.9.1 … do you happen to know where to get this version of the zapier integration?

any help is much appreciated.

[2022-04-26 12:44] amyblais commented on #19999
I believe @catalintomai and @aaronrothschild can share access with you to that version.

[2022-04-26 12:57] #19163 closed

[2022-04-26 13:00] mattermod opened #20070 "Channel menu drop down TAB skip the option "Move to...""
**QA steps**

  1. Create any Channel
  1. Go to Channel drop down menu
  1. Press TAB 2 times

Expected Result: `Move to...` should be highlighted

Actual Result: TAB focus goes to `Notification Preferences` instead of `Move to...`

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our dail

[2022-04-26 13:16] aaronrothschild commented on #19999
@arnalyse can you send me your email so we can invite you to the new Zapier connector beta?

[2022-04-26 14:38] amyblais commented on #19912
cc @isacikgoz

[2022-04-26 15:08] #17256 closed

[2022-04-26 15:34] #15903 closed

[2022-04-26 16:02] #11440 closed

[2022-04-26 16:04] hmhealey commented on #15722
Thanks for any work you've done on this, @djanda97.

Feel free to let us know if you'd still like to work on this, but otherwise, we're going to open it back up for others to work on.

[2022-04-26 16:15] mattermod opened #20071 "Introduce new run playbook dialog"
Introduce a new custom dialog for running a playbook:

![image](https://user-images.githubusercontent.com/1023171/165351597-f934adf1-19d5-456d-ae69-5968c106e4fc.png)

When the modal opens, the `Run name` field should be in-focus to allow the user to immediately start typing. Pressing `return` or `enter` after adding the `Run name` should behave as if the user clicked `Start run`.

For this ticket,

[2022-04-26 16:30] mattermod opened #20072 "Remove channel actions from DMs and GMs"
The recently added Channel Actions are right now available in every channel: even direct messages (DMs) and group messages (GMs).
The actions we have as of today don’t make sense in these types of channels. Furthermore, a user does not have channel admin permissions in DMs and GMs they’re a member of. This creates confusion for the user.

We need to remove the Channel Actions entry in the channel

[2022-04-26 16:58] #18431 closed

[2022-04-26 17:04] hmhealey commented on #18469
Thanks for the report, @slonm. This seems like it's an issue with Chromium on Windows since I'm able to reproduce it using both Chrome and Edge on Windows 11, but not using Chrome on Mac. It also reproduces on Google and on Slack, so I don't think it's something that we can change ourselves.

[2022-04-26 17:04] #18469 closed

[2022-04-26 17:07] hmhealey commented on #18047
Thanks for any work you've done on this, @vineelyalamarthy.

Feel free to let us know if you'd still like to work on this, but otherwise, we're going to open it back up for others to work on.

[2022-04-26 18:35] #17951 closed

[2022-04-26 18:35] #17958 closed

[2022-04-26 19:16] jbattistispiria commented on #19824
@mattermod @AshishDhama I would like to take this.

[2022-04-26 20:02] lieut-data commented on #19784
@97amarnathk, anything we can do to help with this issue?

[2022-04-27 00:52] #18686 closed

[2022-04-27 00:53] #18592 closed

[2022-04-27 00:53] #18588 closed

[2022-04-27 00:53] #18562 closed

[2022-04-27 00:56] salmanmanekia commented on #20071
I'll take this one

[2022-04-27 00:59] lieut-data commented on #18790
Oops, looks like I missed the linked issue: https://github.com/mattermost/mattermost-plugin-playbooks/pull/855. Thanks again, @Zeezee1210!

[2022-04-27 00:59] #18790 closed

[2022-04-27 01:35] han911976 commented on #19750
![image](https://user-images.githubusercontent.com/24373139/165419948-aa86ea0e-8ef5-447e-9cff-221691173765.png)

Happened again when I upgraded the servers.

gitlab 14.8 -> 14.10
mattermost 6.4 -> 6.6

not yet figure out how to solve,
established session did not drop as before,

manually change the redirect_uri to https in the url could allow user to login mattermost by sso.
![image](https://user-

[2022-04-27 05:04] bbodenmiller commented on #20066
@amyblais 6.2.1. There are not errors in the logs but our object storage provider is complaining that we are using MPU when not necessary.

[2022-04-27 05:45] agnivade commented on #20066
Our minPartSize is set to 5MB. Are you seeing MPU for files smaller than 5MB?

https://github.com/mattermost/mattermost-server/blob/52ac449012a0ac48b0c0c58b42de2abe31f31279/shared/filestore/s3store.go#L460

[2022-04-27 07:32] agnivade commented on #20066
That's interesting. This may be a bug in the [minio](https://github.com/minio/minio-go) library that we use.

[2022-04-27 07:42] han911976 commented on #19750
Turn out that the site url was changed to http when upgrading the mattermost server.

I was able to fix the above problem by re-config the site url to https again.

---
### What I did:

modify the variable
`nano /etc/mattermost/mmomni.mattermost.env`
[code]

 reload config
[code]

check that the site url was modified.
[code]

The SSO run smooth again.

---
### One thing to note:
`mmomni reconfigur

[2022-04-27 10:39] vincentvignali commented on #8020
I have the exact same issue as @z906522
Desktop app.
Macbook air intel 2018.
Mattermost Version 5.0.4 (5.0.4.17220).

<img width="986" alt="Screenshot 2022-04-27 at 12 37 48" src="https://user-images.githubusercontent.com/51534315/165500265-a23ec291-4e6c-451e-80ff-472500e67539.png">
.

Check time system display up right and the time display of the message sent on mattermost.

[2022-04-27 11:13] ashishbhate commented on #19948
@sunilkolluru I've responded to your DM. We're still missing a lot of the information that I requested in my previous post.

[2022-04-27 15:05] curiousercreative commented on #17705
The linked ticket appears to have been closed and in the Mattermost chat, I see that the search UI has moved away from the sidebar search pane, obsoleting this UX.

[2022-04-27 16:21] amyblais commented on #20066
Do we create a ticket or report to Minio?

[2022-04-27 16:49] #19863 closed

[2022-04-27 17:19] rajeshwarpatlolla opened #20083 "Websockets: not connecting in local machine while developing"
#### Summary
Websockets are not connecting in the local machine(localhost:< port >) while developing. The same code once deployed to the server, it's showing all the events-related messages.

In localhost:
<img width="784" alt="Screenshot 2022-04-27 at 10 45 56 PM" src="https://user-images.githubusercontent.com/9896335/165583013-5038e861-6db0-4906-bfbd-63e23ebdb03b.png">

On server:
<img width="10

[2022-04-27 17:53] #19029 closed

[2022-04-27 18:23] agnivade commented on #20066
I can take care of it @amyblais.

[2022-04-27 18:35] vivek-ng commented on #19913
I'll take this!

[2022-04-27 20:12] Tyrandus opened #20084 "Incomplete post deletion upon user deletion"
#### Summary
When deleting a user account via `mmctl`, only their first 10,000 posts are deleted. The rest of the posts remain as orphan items in the database, similar to those mentioned in [this conversation](https://mattermost.atlassian.net/browse/MM-41318).

#### Steps to reproduce
The following steps have been performed in a local `mattermost-server` setup with the latest version (v6.6.0).

1.

[2022-04-27 20:45] amyblais commented on #20084
Opened: https://mattermost.atlassian.net/browse/MM-43813.

[2022-04-27 20:46] amyblais commented on #20067
Opened: https://mattermost.atlassian.net/browse/MM-43814.

[2022-04-27 21:53] hmhealey commented on #16858
I'm going to open this up as Help Wanted. We haven't been able to prioritize this at any point, but perhaps someone from the community will be able to fix this.

If I had to guess, the paste handler in the FileUpload component sees a file of some sort in the paste event, and it handles it while preventing the text from being pasted. I'm not sure if there's anything in that event that tells us what

[2022-04-27 22:00] mattermod opened #20085 "RHS does not scroll down to show "Command not found" error message"
Reproduces on community-release and daily

**Repro steps:**
1. Open the RHS in a long thread that requires scrolling to view
2. Scroll so that the comment box is visible but you're not at the bottom of the RHS
3. Attempt to post `/fakecommand`

**Observed:**
The "Command with a trigger of '/fakecommand' not found. Click here to send as a message." error message is not visible unless you scroll dow

[2022-04-28 04:17] agnivade commented on #20067
This is more of a PM decision, I'll route it to Suite Users to be handled properly.

[2022-04-28 08:29] Gaibhne commented on #8474
This issue shouldn't be closed, you still can't enter unicode code points in Mattermost :(

[2022-04-28 08:50] kittykat commented on #8474
Just saw this issue again because of the comment above.

I'm not a developer so won't submit a PR; I also don't feel that that's a valid reason to close the issue? I don't use Mattermost any more, but not being able to enter unicode code points in a chat app would be a deal breaker for me if I had a choice about which app to use.

[2022-04-28 09:01] agnivade commented on #8474
@Gaibhne / @kittykat - What version of Mattermost are you using? I just tested on latest master, and I can indeed press Ctrl+Shift+U and enter unicode code points.

[2022-04-28 09:14] DVTrast commented on #18670
We have the same log entries during updating from Mattermost 6.2.1 to 6.3.3
`{"timestamp":"2022-04-27 07:06:04.192 +02:00","level":"warn","msg":"Could not create foreign key: Error 1005: Can't create table `mattermost`.`RetentionPoliciesChannels` (errno: 121 \"Duplicate key on write or u
pdate\")","caller":"sqlstore/store.go:1153"}
{"timestamp":"2022-04-27 07:06:04.225 +02:00","level":"warn","msg"

[2022-04-28 09:26] kittykat commented on #8474
@agnivade I don't use Mattermost any more, it would have been the version that was latest stable at the time :+1:

[2022-04-28 09:36] Gaibhne commented on #8474
My client is 5.0.4 which I would expect to be the responsible part (despite this being the -server repo, but I came across this via Google). Not sure how to tell what version our server is.

[2022-04-28 09:52] agnivade commented on #8474
The desktop app just loads the Mattermost webapp. So we need to know the server version. You can find out the server version, by clicking "About Mattermost" -> Mattermost version.

[2022-04-28 10:06] Willyfrog commented on #20085
closing as this will be handled as part of https://mattermost.atlassian.net/browse/MM-40885

[2022-04-28 10:06] #20085 closed

[2022-04-28 14:18] vivek-ng commented on #20069
I'll take this

[2022-04-28 20:50] #17242 closed

[2022-04-29 05:59] #20025 closed

[2022-04-29 07:15] Gaibhne commented on #8474
It seems our server is still on 5.x due to the upgrade being nontrivial, so that would explain why the hotkey doesn't work if it was fixed in server. I assumed something like hotkey handling would be a client aspect, which I was certain was up to date. Thank you for the explanation, and sorry for bumping this issue back up.

[2022-04-29 07:32] agnivade commented on #8474
No worries. It is indeed a client aspect, but the server and client are bundled together into one. The desktop client is nothing but an electron wrapper. The actual contents of the webapp are loaded from the server URL.

[2022-04-29 09:15] #20001 closed

[2022-04-29 09:26] isacikgoz commented on #19912
Thanks for taking care of this @KevinSJ, the issue doesn't tell the logic is incorrect, we just want the error message to be accurate. And you have a good point on changing the error id in:
https://github.com/mattermost/mattermost-server/blob/5bd223c836a71c1148a3b5990fde6f22f2fdc1ed/app/user.go#L240

[2022-04-29 09:58] BeastBreacher opened #20100 "Bug with Date Picker CSS"
#### Summary
In deckstop app see a bug with date picker in notification wrapper. Picker icon moves a side when you hover it by mouse cursor. But in webapp all works normally.

![Безымянный](https://user-images.githubusercontent.com/104623979/165923852-b6f9acad-0e43-4486-94cc-61602d376f60.png)

#### Steps to reproduce
 - MM version 6.4.1
 - Go to profile
 - "Do not disturbed" status and choose "cus

[2022-04-29 10:23] dparv commented on #15012
We experience this as well on version: 5.39.0. By any change a regression?

[2022-04-29 15:32] #18448 closed

[2022-04-29 15:45] mattermod opened #20108 "Allow one-character playbook names"
As part of [https://github.com/mattermost/mattermost-webapp/pull/10074](https://github.com/mattermost/mattermost-webapp/pull/10074)), Channels now allows single-character channel names.

Let’s relax the corresponding requirement in Playbooks when running a playbook:

![image](https://user-images.githubusercontent.com/1023171/167162689-c916f32e-42f6-4a33-8a11-afd0de8dda15.png)

----
If you're inter

[2022-04-29 16:18] jbattistispiria opened #20109 "Sass deprecated warning in webapp"
#### Summary
Run `make run` show sass deprecated warning on cli when compiling.

#### Steps to reproduce
Lauch `make run`.

#### Expected behavior
No error show in cli.

#### Observed behavior (that appears unintentional)
![image](https://user-images.githubusercontent.com/103535117/165983467-664b1f32-4d6a-49a1-adc4-a7c9fe22f90f.png)

#### Possible fixes
[code]

[2022-04-29 16:20] amyblais opened #20110 "Mattermost v6.7"
You can find key dates for v6.7 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### April 29th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### May 12th: Release Build Cut
The fina

[2022-04-29 18:55] amyblais commented on #20110
### v6.7 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.7.0-rc1/mattermost-team-6.7.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5605/files

[2022-04-29 19:37] jbattistispiria commented on #19978
@mattermod @esethna I would like to take this one.

[2022-04-29 19:53] esethna commented on #19978
Go for it @jbattistispiria!

[2022-05-01 15:03] sunilkolluru commented on #19948
@ashishbhate

sent an update in community site. Please review and help us resolve the issue.

Thanks
Sunil

[2022-05-01 19:37] vineelyalamarthy opened #20112 "Code / Architecture walk through for new contributors."
Can some one help code walkthrough. Are there any such recorded videos?

[2022-05-02 09:20] dipak-demansol opened #20115 "by mouse hover on the link, preview model blink."
#### Summary
by mouse hover on the link, preview model blink.

#### Steps to reproduce
1) Click on any link From Mattermost and User will redirect on new tab.
2) Come back on the same page.
issue :- 3) now mouse hover on the same link that you clicked on step 1 and the issue will regenerate.

#### Expected behavior
The preview model Should not blink.

#### Observed behavior (that appears unintenti

[2022-05-02 11:48] Szymon-Rysztof opened #20116 "WebP emojis not loading after upgrading to 6.6.1"
#### Summary
After upgrading to 6.6.1 from 6.1, all webp emojis became unavaliable.
[code]
Mattermost installed from official docker repository, with Postgres as db.

#### Steps to reproduce
1. Install Mattermost 6.1
2. Upload emoji in webp format
3. Upgrade Mattermost to 6.6

#### Expected behavior
Emojis displays correctly, or they get converted by mattermost. Also, some note in changelog would

[2022-05-02 12:17] lkyuchukov commented on #19994
I'd like to take this

[2022-05-02 12:18] amyblais commented on #20112
Hi @vineelyalamarthy!

For new contributors, please see our [Developer's Guide here](https://developers.mattermost.com/contribute/getting-started/).

We also have [videos on Youtube here](https://www.youtube.com/results?search_query=mattermost+code+walkthrough) that may help you.

Please also come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) o

[2022-05-02 12:18] #20112 closed

[2022-05-02 12:18] amyblais commented on #20116
@hmhealey @M-ZubairAhmed Is this a known issue / bug?

[2022-05-02 12:26] amyblais commented on #20115
Opened https://mattermost.atlassian.net/browse/MM-43906.

[2022-05-02 13:55] gbochora commented on #19994
Yay, thank you @lkyuchukov : )

[2022-05-02 14:05] sunilkolluru commented on #19948
@ashishbhate

did you get a chance to review our update.

[2022-05-02 14:59] hmhealey commented on #16310
Those curly brackets don't actually need to be percent-encoded. They're wrapping a placeholder, so they shouldn't be included in a real request

[2022-05-02 14:59] #16310 closed

[2022-05-02 15:00] mattermod opened #20118 "Scroll to keyboard caret when returning to post draft"
Repro steps:

  1. Type a long draft into the post textbox, long enough that you have to scroll to see the bottom
  1. Switch channels away and then back again

Observed: The keyboard caret moves to the end of the draft, but the textbox is scrolled to the top

Expected: The keyboard caret moves to the end of the draft, and the textbox is scrolled to the bottom so that it’s visible

----
If you're

[2022-05-02 15:02] amyblais opened #20119 "Test"
Test

[2022-05-02 15:02] amyblais commented on #20119
/cloud-ff

[2022-05-02 15:03] hmhealey commented on #16647
Closing this since we now have a good workaround for this with the Copy Code Block button that was added

[2022-05-02 15:03] #16647 closed

[2022-05-02 15:45] mattermod opened #20120 "Loading indicator displayed when you delete a post from permalink view"
When you delete a post from permlink view all posts in the thread disappear and you see a loading indicator until you leave permalink view.

Repro steps:

  1. Note that the following steps must be done quickly since we exit permalink view after 5-10 seconds
  1. Click on a post’s timestamp or on a permalink to a post
  1. Click on the dot menu for the permalinked post and select Delete
  1. Confi

[2022-05-02 16:00] mattermod opened #20121 "Desktop App: When changing a server's settings only refresh if the url changes"
In the desktop app, when editing a server, if I only change the name but NOT the server's URL, we should just prevent the reload of the whole window and just update the tab name.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with c

[2022-05-02 16:28] hmhealey commented on #18212
I'm closing this ticket since it's been a while since it was reported, and it's hopefully been addressed by some of the other performance fixes we've made since then

[2022-05-02 18:30] mattermod opened #20122 "HTML title should be set to the server's Site Name on initial page load"
At the moment, during runtime the webapp dynamically the page’s `title` to be the server’s configured Site Name at `ServiceSettings.SiteName`. The initial value on page load is hardcoded to “Mattermost” here [https://github.com/mattermost/mattermost-webapp/blob/master/root.html#L10](https://github.com/mattermost/mattermost-webapp/blob/master/root.html#L10|smart-link)

The task here is to have the

[2022-05-02 19:15] mattermod opened #20123 "Posts property bag doesn't render cards correctly with no post heading"
#### Description

When you use the card feature of the JSON property bag it seems to render properly if a user gets the post heading, but if a user is sending posts multiple times quickly they don’t get that heading so the card doesn’t render properly.

#### Environment

Tested in both 6.3 and 6.6

#### Steps to Reproduce

Post a message to a channel with the card prop:

[code]

If the message has

[2022-05-02 19:29] jbattistispiria commented on #20118
@mattermod  @hmhealey I would like to take this.

[2022-05-02 19:41] #19161 closed

[2022-05-02 19:52] #19664 closed

[2022-05-02 20:34] sinansonmez commented on #19907
@amyblais I can work on this one

[2022-05-02 20:34] sinansonmez commented on #20120
@amyblais I can work on this one

[2022-05-02 21:03] ahmedDevs commented on #20122
Hey, I'm interested in taking this on.

[2022-05-03 00:35] #19911 closed

[2022-05-03 09:07] dipak-demansol opened #20124 "when user edit the search then auto-suggestion is hide behind the model"
#### Summary
when user edit the search then auto-suggestion is hide behind the model

#### Steps to reproduce
1) Search like this ex "from:dipak-demansol-qa in:qa-contributors " .
2) now remove the current user name and add different name.
issue :- 3) when you add new user name then you can see that user name auto-suggestion is hide behind the model.

#### Expected behavior
User Should able to see

[2022-05-03 10:29] henshin commented on #16241
Restarting the server also worked for me

[2022-05-03 12:17] arnalyse commented on #19999
@aaronrothschild Thanks so much for reaching out. I've just sent you an email with my contact details.

[2022-05-03 12:29] cyberflaneuse opened #20126 "Remove metadata from photos, shared files"
It would be a great privacy feature to have the possibility to remove EXIF metadata from photos, videos and other types of files one shares on Mattermost.

[2022-05-03 12:32] amyblais commented on #20124
Opened https://mattermost.atlassian.net/browse/MM-43933.

[2022-05-03 13:13] amyblais commented on #20119
/cloud-ff

[2022-05-03 13:14] mattermod commented on #20119
## Summary for the fast forward process

[2022-05-03 13:30] mattermod opened #20127 "When user edits the search, the auto-suggestion is hidden behind the search options modal"
[https://github.com/mattermost/mattermost-server/issues/20124](https://github.com/mattermost/mattermost-server/issues/20124|smart-link)

##### Steps to reproduce

  1. Search e.g. "from:dipak-demansol-qa in:qa-contributors".
  1. Now remove the current user name and add a different name.
  1. When you add a new user name then you can see that the user name auto-suggestion is hidden behind the sear

[2022-05-03 13:30] #20124 closed

[2022-05-03 13:59] amyblais commented on #20126
Thanks, appreciate your feedback @cyberflaneuse.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so

[2022-05-03 14:15] mattermod opened #20128 "As sysadmin, can promote other playbook members but not myself"
System admins are expected to have superuser privileges. The user ‘jesse.hallam’ below has such privileges, including being able to promote playbook members to admins, but can’t promote himself.

![image](https://user-images.githubusercontent.com/1023171/167162549-a4ff5a07-c56c-412c-8d9b-ec25c6a52145.png)

----
If you're interested please comment here and come [join our "Contributors" community ch

[2022-05-03 14:42] amyblais commented on #20119
/cloud-ff--dry-run

[2022-05-03 14:42] mattermod commented on #20119
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-05-03-backup (SHA: `02cbb3b`)
    - mattermost-webapp:refs/heads/cloud-2022-05-03-backup (SHA: `4fcfc09`)
    - enterprise:refs/heads/cloud-2022-05-03-backup (SHA: `b6dc069`)
    - mattermost-api-reference:refs/heads/cloud-2022-05-03-backup (SHA: `1bca462`)

### Fast-Forwarded branches
    - m

[2022-05-03 14:50] #20119 closed

[2022-05-03 17:18] #19405 closed

[2022-05-03 17:34] hmhealey commented on #20116
No, I don't believe it's a known issue. This issue is on the server side, not the client though.

I'm surprised that we allowed webp emojis to be uploaded to begin with though since the screen for that says we only support gifs, jpegs, and pngs.

[2022-05-03 17:51] amyblais commented on #20116
Created a ticket: https://mattermost.atlassian.net/browse/MM-43949.

[2022-05-03 20:37] hmhealey commented on #20118
Thanks! Let us know if you have any questions or need any help with it

[2022-05-04 13:48] rajeshwarpatlolla commented on #20083
@amyblais any update on this?

[2022-05-04 14:46] tyrandus opened #20135 "User mentions in posts remain after user is deleted"
#### Summary
When deleting a user account, posts directly mentioning this user (e.g., `hey, @user!`) stay the same. Thus, the username is still visible (and the mention may be falsely referring to another user signing up later with the same username).

#### Steps to reproduce
The following steps have been performed in a local `mattermost-server` setup with the latest version (v6.6.0).

1. Create t

[2022-05-04 19:56] jbattistispiria commented on #18548
@mattermod I would like to work on this one.

[2022-05-04 20:33] BenCookie95 commented on #20083
@rajeshwarpatlolla Do you have anything in your server logs? Also, are you running your local on windows, linux or mac?

[2022-05-04 21:26] sinansonmez commented on #20120
While I was working on this, I uncovered one more case. Steps to reproduce
1. Click on a post’s timestamp
2. Wait until permalink view is gone
3. Click on the dot menu for the permalinked post and select Delete
4. Confirm deletion

Observed: The post is deleted and the post list is **stuck** on a loading indicator.

Expected: The post is deleted, and you’re immediately sent back to the regular cha

[2022-05-04 22:25] amyblais commented on #20120
Are you thinking of fixing this too, or would you like me to open a separate ticket?

[2022-05-04 22:27] sinansonmez commented on #20120
@amyblais My expectation is that both issues are related to each other. Therefore with a single PR I will try to fix both of them

[2022-05-04 22:29] amyblais commented on #20120
Thank you!

[2022-05-05 11:04] Willyfrog commented on #20083
apart from what @BenCookie95 asked:

is the siteURL the same for both? or are these different instances?

do you have a firewall in your local machine, does it work if you **temporarily** disable it?

[2022-05-05 12:41] isacikgoz commented on #20119
/cloud-ff --dry-run

[2022-05-05 15:08] hmhealey commented on #20120
Yeah, that's likely related. Even though the highlight on the post has gone away, it must still have that post "focused" in the code, so it hits the same issue.

That's interesting though since I thought the highlight going away meant that it removed the focused post which is why the loading indicator goes away after a few seconds like I thought while filing this ticket.

[2022-05-05 18:24] kkennethlee commented on #20020
I'd be down to take a crack at it. @lieut-data Can you describe how to set up Playbooks to get to the point shown in screenshot?

[2022-05-05 18:29] RKRohk commented on #19358
I would like to work on this

[2022-05-05 18:30] esethna commented on #19358
All yours @RKRohk!

[2022-05-05 19:09] amyblais commented on #19986
@broneq As mentioned in my previous comment, backporting it was difficult so the fix wasn't backported. The fix is available in v6.6 and later versions This bug has been present for a long time (including 5.37 ESR).

[2022-05-05 19:26] broneq commented on #19986
Sorry I misunderstood "next upcoming ESR as well". Ok, I need to read about changes in 6.6. Thanks for reply.

[2022-05-05 19:54] lieut-data commented on #20020
Hi @kkennethlee -- thanks for volunteering! After installing playbooks, browse to `/playbooks/`, select the `Playbooks` tab and click `+ Create Playbook`:
<img width="1135" alt="CleanShot 2022-05-05 at 16 50 49@2x" src="https://user-images.githubusercontent.com/1023171/167014495-022b575a-e53c-4099-80cf-4fb927a9cb31.png">

You can create a private test playbook:
<img width="673" alt="CleanShot 2022

[2022-05-05 22:15] sinansonmez commented on #20120
Highlighting going away meant to change of `lastReturnTo` state in `ChannelCenter` which makes update of component and eventually clear loading screen.

However if you wait until highlighting is gone, as `lastReturnTo` already updated, there is no other state changes. This makes the screen stuck in loading screen. I am still trying to find the root cause of it 😕

[2022-05-05 22:57] #19823 closed

[2022-05-06 00:18] #20026 closed

[2022-05-06 11:38] razilein opened #20149 "Editing comment with preformatted text is not possible"
#### Summary
We updated Mattermost from 6.5.0 to 6.6.1.

After the update, comments with preformatted text can not be edited, because after pressing ENTER to send the comment, only a linebreak is inserted. Even with CTRL + ENTER a linebreak would appear.
It is impossible to edit such comments. The editing can only be canceled with ESC.

#### Steps to reproduce
- create a comment with preformatted

[2022-05-06 13:19] amyblais commented on #20149
We have a ticket open: https://mattermost.atlassian.net/browse/MM-43349. It seems to happen at least when **Send messages on cmd+enter** setting is set to **On only for code blocks**.

[2022-05-06 15:00] mattermod opened #20151 "Support assigning an incoming webhook to a bot account"
At the moment, the incoming webhook's `username` field is used to support impersonating a user, to act as a bot, though the post is still made using the webhook creator's account.

The task here is to be able to assign the incoming webhook to a bot account through its user id, so the webhook posts will be created using the bot account. Regular user accounts should not be supported for this. Only b

[2022-05-06 15:34] mickmister commented on #20151
We can use the existing `OwnerId` field to store the bot account user id

[2022-05-06 18:59] sinansonmez opened #20154 "Mobile app crashes and web throws an error, when you unfollow a thread in a channel that you are no longer member"
#### Summary
Unfollowing a thread from a channel that user is no longer member crashes mobile app

#### Steps to reproduce
Mobile app version: 1.51.2 (build 397)
Server version: 6.7.0 (build master)

1. Follow a thread in channel X
2. Leave channel X
3. Go to `All Your Threads` tab
4. Select the thread you just followed
5. Click `Following` button to unfollow
6. Go back to `All Your Threads` tab

[2022-05-06 19:37] jbattistispiria commented on #15722
@mattermod I would like to grab this one.

[2022-05-07 01:06] vivek-ng commented on #20069
Hi @agarciamontoro , code reviews here take too much time. I'd already raised 2 PRs couple of weeks back which are yet to be reviewed. I'm no longer interested in contributing to mattermost project. Could you please add the `Up For Grabs` tag again? Thanks for understanding!

[2022-05-09 00:59] paddy-hack commented on #20008
And on 2022-04-03 19:03 UTC as well as 2022-05-07 19:03 UTC.
FWIW, I run a weekly CI/CD job that checks for newer versions and builds a slightly customized image if there is one.  This will keep failing until you fix this, one way or another.

BTW, that DOPS-495 issue requires one to log in.  Any reason why this info is not publicly accessible?

[2022-05-09 08:54] Sharuru commented on #15233
Any updates?

https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/post_store.go#L1895

[2022-05-09 17:02] BenCookie95 commented on #20083
@sanju2010 Are you using mattermost-webapp to connect to the server or do you have your own custom frontend solution? What are the request headers that are sent when trying to create a websocket connection?

Can you try make a websocket connection in postman using the following:
ws://localhost:3000/api/v4/websocket?connection_id=&sequence_number=0

Headers:
[code]

Just make sure to update your co

[2022-05-09 22:26] #20115 closed

[2022-05-09 22:58] #20149 closed

[2022-05-10 11:43] agarciamontoro commented on #20069
Thanks for your honesty, @vivek-ng. Could you link those 2 PRs so I can help to move them forward?

[2022-05-10 11:44] reftel opened #20167 "Saving playbook with semicolon in task description fails"
#### Summary
Pressing the "Save" button on a playbook having a task with a description that contains a semicolon does nothing, both in Desktop on Mac and Webapp with Firefox.

#### Steps to reproduce
Create a playbook. Add a task. Write a description that contains a semicolon. Press the Save button.

#### Expected behavior
The playbook is saved, and the starting page of the playbook (the one with

[2022-05-10 11:51] reftel commented on #20167
We´re running:
[code]

[2022-05-10 12:52] amyblais commented on #20167
@reftel Would you be open to re-opening this issue at the Playbooks repo https://github.com/mattermost/mattermost-plugin-playbooks/issues?

[2022-05-10 13:02] reftel commented on #20167
Re-opened as https://github.com/mattermost/mattermost-plugin-playbooks/issues/1175

[2022-05-10 13:02] #20167 closed

[2022-05-10 14:04] pfltdv commented on #20008
For a quick fix, you may use our public key located at https://deb.packages.mattermost.com/pubkey.gpg.

[2022-05-10 14:52] #19994 closed

[2022-05-10 17:37] jbattistispiria commented on #18047
@mattermod I would like to work on this.

[2022-05-10 18:19] gbochora commented on #19995
@thevibhu anything we can do to help with this issue?

[2022-05-10 18:59] amyblais commented on #20110
### v6.7 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.7.0-rc2/mattermost-team-6.7.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5605/files

[2022-05-10 23:09] davidboto commented on #20108
Hi. I think this issue was already addressed on this PR: https://github.com/mattermost/mattermost-server/pull/19845

[2022-05-10 23:53] leonheess commented on #14734
Link rot 🙃 What's the solution?

[2022-05-11 06:54] kyeongsoosoo commented on #19278
@Willyfrog  I would like to work on this!

[2022-05-11 10:07] miltalex commented on #20069
I can take this

[2022-05-11 10:18] pfltdv commented on #20008
Created a PR to update our documentation to use public keys hosted at our infrastructure. https://github.com/mattermost/docs/pull/5651

[2022-05-11 13:13] thierrymarianne opened #20182 "Minimum go version expressed in Makefile seems outdated."
#### Summary

Not a bug per se, only a suggested fix for consistency sake
(to prevent some confusion maybe):

The `Makefile` `validate-go-version` target  suggests that [`1.15.x`](https://github.com/mattermost/mattermost-server/blob/231db2df1e6bf52a1125d634ea8043654a765a01/Makefile#L93)
would be the minimum supported go version,
whereas I believe `1.16.x` would be the minimum supported go version

[2022-05-11 16:23] amyblais commented on #16931
Hi @jelmd, are you still experiencing this issue on one of our latest server versions (e.g. v6.3)?

[2022-05-11 17:03] devtud opened #20187 "The popup on hovered message blocks selecting certain part of that message"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. If you have having issues, please send us a message in the [Peer-to-peer Help](https://community-daily.mattermost.com/core/channels/peer-to-peer-help) or the [Developers: Desktop App](https://community-daily.mattermost.com/core/channels/desktop-app) channels on the Mattermost Community server
- [x] I h

[2022-05-11 17:13] amyblais commented on #20187
Opened: https://mattermost.atlassian.net/browse/MM-44128.

[2022-05-11 17:30] mattermod opened #20189 "Include event metadata with playbook run webhooks"
Let’s extend the `PlaybookRunWebhookPayload` struct to include event specific metadata. This struct is emitted to any configured webhooks, allowing third-party clients to respond to changes to a playbook run. While we transmit the entirety of the playbook run metadata, we don’t include anything to identify specifically what happened.

Here’s a proposed new struct definition:

[code]

Event types w

[2022-05-11 22:00] mattermod opened #20190 "Plugins: radio button reverts from false to true after saving the setting"
There is an issue where if an admin disables a plugin in the individual plugin’s settings page, the plugin is successfully disabled, but the UI says that it is configured as enabled. The task here is to make it so the UI reflects the disabled status.

![](image-20220511-215735.png|width=693,height=278)

Repro:

  1. Go to Calls or other plugin settings page and disable the plugin by selecting fals

[2022-05-11 23:17] paddy-hack commented on #20008
Just run the CI/CD job manually.  Fetching the key worked fine.

[2022-05-12 12:29] imskr commented on #19791
@amyblais can you update this issue? I think the images are missing

[2022-05-12 13:07] imskr commented on #19791
Thanks @amyblais

[2022-05-12 17:05] agnivade commented on #20135
@laneycs @esethna - Any thoughts on this?

[2022-05-12 20:13] #19824 closed

[2022-05-12 20:21] lapaz17 commented on #20070
I would like to work on this, could you assign me?

[2022-05-12 21:32] jpudell commented on #19750
I solved today the problem by changing following lines of the apache2 configuration (with Mattermost version 6.6.1) from

`RequestHeader add 'X-Forwarded-SSL' expr=%{HTTPS}
RequestHeader set 'X-Forwarded-Proto' expr=%{REQUEST_SCHEME}
`
to

`RequestHeader set X-Forwarded-Proto 'https'
RequestHeader set X-Forwarded-Ssl 'on'`

[2022-05-12 21:59] esethna commented on #20135
Thanks for bringing this up @tyrandus. I will let @laneycs answer here since this is her area of ownership.

My gut reaction from the Channels perspective it that it could still be useful to know who was mentioned in past messages, even if the user in question was deleted. Another alternative would be to convert the `@aaa` to plain text (not clickable). Will defer to @laneycs

[2022-05-13 05:56] agnivade commented on #12202
Old bug. The shadowing problem was fixed. Closing this.

[2022-05-13 05:56] #12202 closed

[2022-05-13 06:01] Roy-Orbison commented on #19947
No idea why but that issue's comment thread has this problem described as "rather low-impact". It's literally impossible to share a PNG file, even when using the attachment icon, because Mattermost thinks it knows better. It will blindly recode even a tiny, optimised PNG into a larger JPEG file, and destroy any transparency in the process. It's just bad UX to mess with people's files.

[2022-05-13 06:49] imskr commented on #19791
@amyblais The menu component link in the issue description is invalid url

[2022-05-13 12:05] miltalex commented on #19981
I can take it

[2022-05-13 12:56] Willyfrog commented on #19791
ok, took me a while to figure out what was missing. The figma link needs to be logged in to view. @matthewbirtch can you help making that link available for @imskr or publicly?

[2022-05-13 13:26] matthewbirtch commented on #19791
Apologies. Figma files aren't publicly visible by default so we have to remember to switch them to public explicitly each time. I've switched it now. It should be viewable, but let me know if you still have trouble.

[2022-05-13 13:39] sinansonmez commented on #20120
You hit the nail on the head @hmhealey PR is ready

[2022-05-13 16:12] lieut-data commented on #19784
Thanks again for your interest, @97amarnathk! We ended up tackling this one internally :)

[2022-05-13 16:12] #19784 closed

[2022-05-13 20:30] mattermod opened #20207 "CRT: Stay on Threads view when switching teams"
Repro:

1. Open the Threads view on Team A
2. Switch to Team B

Observed: The last channel you viewed on Team B is opened (note there is another related issue if the last viewed channel on Team B was the Threads view [https://mattermost.atlassian.net/browse/MM-40908](https://mattermost.atlassian.net/browse/MM-40908|smart-link) )
Expected: You stay in the Threads view for Team B

Note that if the u

[2022-05-13 20:32] esethna commented on #20207
@kyeongsoosoo is going to take this

[2022-05-13 22:11] projectsSD opened #20208 "Link to Cards Does Not Load Card on Firefox"
#### Summary
Link to board card does not load the card on Firefox

#### Steps to reproduce
Using Mattermost 6.3.8 & latest Firefox browser
- Copy link to a card
- Post link to the card in a channel
- Click on the link
- The link will bring you to the board, but the card itself will not load
- After this, going to other boards or trying to open other cards will not work
- Refresh the page and cards

[2022-05-14 01:02] Asgoret opened #20209 "Slack import failed via object size limits"
#### Summary & Description
I'm trying to migrate from Slack via this [documentation](https://docs.mattermost.com/onboard/migrating-to-mattermost.html#migrating-from-slack) and catch confused error `"MoveFile: Unable to move file., unable to copy the file to import/e984j1pw9pnw7pedu8yezsjukh_mattermost-bulk-import.zip to the new destionation: Your proposed upload exceeds the maximum allowed object

[2022-05-14 01:04] Asgoret commented on #20209
Hi! You helped in issue https://github.com/mattermost/mattermost-server/issues/19042, so can you help me too please?)
Thanks a lot!

cc @mgdelacroix @streamer45 @amyblais

[2022-05-14 04:05] kyeongsoosoo commented on #20207
Assign me please😊

[2022-05-14 06:44] bbodenmiller commented on #19832
I believe this is due to timeout as discussed at https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/6599#note_842229990

[2022-05-15 05:38] enahum commented on #20207
Why would this be the case? I would expect to land in the last channel visited in team B and returning to team A I would expect to land in the threads view

[2022-05-15 07:50] TorbenCapiau commented on #20116
I'm experiencing the same issue. A couple notes:

1. Uploading WebP images via the API is no longer working either
2. Converting images with ImageMagick (your proposed solution) doesn't always work in my case
3. Converting images is not ideal as this seems to increase filesize quite a bit in some cases.

Is there a reason that support for WebP was dropped, or is this accidental?

[2022-05-15 12:42] uusijani opened #20210 ""Unlock increased productivity" spam"
#### Summary
I'm getting these unrequested emails from my self-hosted instance, with no apparent way to disable them. This is bad, bad behavior.

#### Steps to reproduce
Host an instance running Mattermost 6.6.1. Leave it "collecting a bit of dust".

#### Expected behavior
Not to get spammed with unwanted emails.

#### Observed behavior (that appears unintentional)
![Screenshot from 2022-05-15 15-

[2022-05-15 19:59] miltalex commented on #20108
@amyblais I am sorry I forgot to mention that I am up to take this, before the merge request.

[2022-05-16 06:54] pfltdv commented on #20008
Public keys are updated in keybase.

[code]

[2022-05-16 06:54] #20008 closed

[2022-05-16 11:43] tawalaya opened #20211 "Server Stuck at Processing Image"
Hi,
We recently had an issue with the S3 backend. After addressing the issue, we noticed that all uploads worked except images. If a user uploaded an image, the client (any) would be stuck at the processing image step. Both client and server logs showed no issue.

Looking into the issue a bit further, I noticed that the server uploaded the image files correctly to S3, but the server is stuck proce

[2022-05-16 12:16] amyblais opened #20212 "Test"

[2022-05-16 12:16] mattermod commented on #20212
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-05-16-backup (SHA: `ea2290e`)
    - mattermost-webapp:refs/heads/cloud-2022-05-16-backup (SHA: `a015ff3`)
    - enterprise:refs/heads/cloud-2022-05-16-backup (SHA: `b217f89`)
    - mattermost-api-reference:refs/heads/cloud-2022-05-16-backup (SHA: `ca503e9`)

### Fast-Forwarded branches
    - m

[2022-05-16 12:23] #20110 closed

[2022-05-16 15:14] amyblais commented on #20108
No worries!

[2022-05-16 16:11] enahum commented on #20207
Well, I would say open a ticket for gekidou as the way it was done to meet what I described above won't work with this change and should be addressed ASAP

[2022-05-16 16:15] mattermod opened #20213 "channel ordering is different between desktop and mobile"
Is the channel list expected to be ordered differently from desktop to mobile? I noticed on my DMs list that the sorting is slightly different

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/core/pl/wkirznqzh7r4tbcwss84jr5iqh)*.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/

[2022-05-16 16:24] Asgoret commented on #20209
@streamer45 Yeah. You right it was S3 limits. Working further I found another "error". If some user will be removed from team while you making import...import stucks) There will be permission error, but job won't exit with error Create another issue on that?

[2022-05-16 16:24] #20209 closed

[2022-05-16 16:27] amyblais commented on #20210
With the latest 6.7.0 release (released today), these emails can now be disabled via a config setting https://docs.mattermost.com/configure/configuration-settings.html?highlight=config#disable-inactive-server-email-notifications.

[2022-05-16 16:27] #20210 closed

[2022-05-16 16:40] laneycs commented on #20135
Yeah, good call @esethna @agnivade. Let's go with the plain text (not clickable) option.

[2022-05-16 16:45] projectsSD commented on #20208
@amyblais -- done: https://github.com/mattermost/focalboard/issues/3078

[2022-05-16 16:45] #20208 closed

[2022-05-16 17:05] tyrandus commented on #20135
Thank you for the feedback. First, I assume that the plaintext solution is what is already in place (user accounts are deleted, so their mentions become unclickable). The problem of another user signing up with the same name, thereby reviving old mentions, is still there, though.

And second, according to GDPR, service providers in Europe have to delete personally identifiable information once “th

[2022-05-16 17:43] #20108 closed

[2022-05-16 20:43] esethna commented on #20116
@Willyfrog can we open a HW ticket for adding webp support?

[2022-05-16 22:19] keremkurtulus commented on #20213
I can look into that 👋🏼

[2022-05-17 03:34] agnivade commented on #20116
Also, the text in all image pickers in the webapp needs to be updated to mention that webp images are accepted as well.

[2022-05-17 05:00] mattermod opened #20216 "mmctl: add ability to get posts since time"
Since we already have a GetPostsSince method for the client, we can add a flag as `--since` to query posts starting from a certain date.

Original request: https://github.com/mattermost/mmctl/issues/505

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can

[2022-05-17 07:05] ansgarwiechers opened #20218 "When using compact display mode the actions popup overlaps the message"
#### Summary
When using compact display mode the actions popup (where you can select "reply", "edit", etc.) overlaps the message.

#### Steps to reproduce
In _Settings > Display_ change "Message Display" from "Standard" to "Compact", then hover the mouse cursor over a message.

Versions tested: v6.4.2, v6.6.1

#### Expected behavior
The message should always be accessible via mouse, so that for ex

[2022-05-17 11:02] greatdragon6cloki opened #20221 "mmctl errors fails to find local socket"
There are some problems and the mattermost system is not working

The reason is that I execute the **mmctl command** with **local mode** before the **mattermost_local.socket** file is created.

As you can see, the socket file is generated at "/var/tmp/mattermost_local.socket" by default!

![image](https://user-images.githubusercontent.com/105716752/168794227-34a39bd8-6a9f-4396-b25a-18f0e42fc820.pn

[2022-05-17 11:20] greatdragon6cloki opened #20222 "Database query errors on startup"
When I built the most important database after upgrading the Mattermost version to 6.3

I have a problem like this, I don't know why it happens

![image](https://user-images.githubusercontent.com/105716752/168797480-ee744e93-8f4a-4ed8-b960-f2ccf235c836.png)

Do you have any solutions for this issue

Thank you and Best regards !

[2022-05-17 11:28] Willyfrog commented on #20116
https://mattermost.atlassian.net/browse/MM-43949 is now HW

[2022-05-17 11:30] mattermod opened #20223 "Add support for WebP Emojis"
See: https://github.com/mattermost/mattermost-server/issues/20116

##### Summary

We previously added unintentional support for uploading WebP images as custom emojis, but this was broken when some dependencies on the server changed. We should add proper support for this including whatever changes are required on the server to support webp and updating the help text for custom emojis to note that

[2022-05-17 12:19] amyblais commented on #20116
Closing as a Help Wanted issue was opened for this.

[2022-05-17 12:19] #20116 closed

[2022-05-17 13:15] mattermod opened #20226 "UX: Improve post edit limit handling"
Currently we are not handling post editing time limit in the UX ideally.

**Prerequisits**
1. Make sure the server has a license (there is another bug where the setting does not have any effect when no license is added)
2. Go to `System Console` / `Permissions` and edit the system wide permission under `Manage Posts` / `Edit Posts` / `Edit Own Posts` to something small (e.g. 10 seconds)

The way i

[2022-05-17 13:21] amyblais commented on #20218
Closing as duplicate of https://github.com/mattermost/mattermost-server/issues/20187.

[2022-05-17 13:21] #20218 closed

[2022-05-17 13:21] amyblais commented on #20222
@greatdragon6cloki Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our devs or other community members will likely be able to help with this.

[2022-05-17 13:30] mattermod opened #20227 "RNv2: Allow keyboard arrow keys and selection in channel switcher and autocompletes"
Repro: On an iPad or tablet with an external keyboard

**Channel Switcher**
- Use CMD+K to open the channel switcher and type a channel name

Expected: Be able to use the arrow keys and ENTER key to select from the search results

**Message autocomplete**
- In the message draft area, type @, ~, or / and some characters

Expected: Be able to use the arrow keys and ENTER key to select from the autoc

[2022-05-17 13:30] mattermod opened #20228 "Add a default focus on notification warning"
Would it make sense to add a default focus on this dialog? I note I can't just hit "enter" after getting this confirmation dialog (but can, for example, when deleting a post).

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/core/pl/a4gys1y6ii899p84ynoztzygdy)*.

----
If you're interested please comment here and come [join our "Contributors" community channel](

[2022-05-17 13:30] mattermod opened #20229 "The popup on hovered message blocks selecting certain part of that message"
[https://github.com/mattermost/mattermost-server/issues/20187](https://github.com/mattermost/mattermost-server/issues/20187|smart-link)

**Summary**

The floating action bar displayed when a message is hovered blocks word/words selection - making the copying of the text annoying and time consuming.

**Steps to reproduce**

Send or receive a message having at least 1 full row. Try to select/copy a

[2022-05-17 13:30] mattermod opened #20230 "Prioritize from: autocomplete results based on recent DM activity"
Repro: Type from: in the search input field

Observed: server returns all users on the team ordered alphabetically

Expected: Show a **maximum of 25 results** that match the search criteria in the following order:

A) First, show users with DM channels that have a last*viewed*at time (with sorting by most recent first)
B) Next, show all other users in the team (sorting alphabetical)

Note: Can thi

[2022-05-17 13:33] #20187 closed

[2022-05-17 14:30] mattermod opened #20231 "Get file information from a deleted post"
**Endpoint**: {{<http://your-mattermost-url.com/api/v4/posts/{post_id}/files/info}}>
**Docs**: `<https://api.mattermost.com/#operation/GetFileInfosForPost`>

By adding a query parameter `includeDeleted=true` an admin could retrieve the contents of the post whether they are deleted or not

If the query parameter is not present, it should keep the current behavior

The query parameter requires syste

[2022-05-17 14:30] mattermod opened #20232 "API: Return deleted posts via the API"
## Summary

Right now if you query {{channels/{channel_id}/posts}} you will only receive posts that are not deleted (flagged with `deleteAt` in the database). Ideally, we’d return all the posts within that channel, regardless of deleted status, and show in the post info the `deleteAt` timestamp.

Additionally, improving the `/posts/{post_id` to return deleted posts so file data can be discovered v

[2022-05-17 20:07] lieut-data commented on #20071
@salmanmanekia, how's it going on this ticket? Anything we can do to help?

[2022-05-17 21:42] salmanmanekia commented on #20071
Thanks for asking @lieut-data. I have been busy lately but can invest some time on this again.
The run playbooks dialog currently creates a dialogRequest in 'mattermost-plugin-playbooks' and that is passed to a call to 'InteractiveDialog' in the 'mattermost-webapp'.
However, for creating the playbook I found that the UI render happens in the 'mattermost-plugin-playbooks' in the 'create_playbook_mo

[2022-05-17 22:40] amyblais commented on #20221
@greatdragon6cloki What Mattermost server version are you on?

[2022-05-18 00:53] greatdragon6cloki commented on #20221
@amyblais my Mattermost server version is 6.3.8 ( I just upgraded from 5.37.9 )

[2022-05-18 03:25] greatdragon6cloki opened #20236 "don't have any credentials to log in with mmctl"
I don't have any credentials to log in

![image](https://user-images.githubusercontent.com/105716752/168950684-69d2561d-8488-4fbb-a0fd-70c986cb752d.png)

How can I fix this issue?

Thank you and Best regards !

[2022-05-18 06:07] doranych commented on #20049
I'm sorry, it took that much time.
Work hits hard sometimes

[2022-05-18 11:06] zsichina commented on #20189
Hi,
Can I take this task?
Thanks,

[2022-05-18 11:26] ihqtzup commented on #18988
It seems that guest accounts get disabled every time when the server restarts.

[2022-05-18 11:28] ihqtzup commented on #18988
@amyblais @lindy65

[2022-05-18 12:25] amyblais commented on #20221
@isacikgoz Would you be able to help take a look at this issue?

[2022-05-18 12:29] amyblais commented on #18988
@ihqtzup Me and Lindy haven't been able to reproduce this so far. What are your thoughts on contacting our Support team to help troubleshoot this further https://github.com/mattermost/mattermost-server/issues/18988#issuecomment-1069619462?

[2022-05-18 12:32] isacikgoz commented on #20221
@greatdragon6cloki There are two settings in `ServiceSettings` as:
[code]
Can you check if local mode is enabled and the socket location is a valid path on **server** settings? If so, it should be able to run commands in local mode. Keep in mind that if you change the socket path from settings, you need to specify the socket path from mmctl side as well (via env var or flags).

Another things is t

[2022-05-18 12:59] lieut-data commented on #20071
Yes, that's correct. Take a look at the flow that we use for triggering a status update. We show the new modal entirely client-side instead of invoking the existing interactive dialog flow through the server.

Thanks @salmanmanekia!

[2022-05-18 13:39] #19991 closed

[2022-05-18 16:30] amyblais commented on #17237
Closing out some older issues. Feel free to share this improvement idea on Uservoice here https://mattermost.uservoice.com/forums/306457-general.

[2022-05-18 16:30] #17237 closed

[2022-05-18 16:30] #17236 closed

[2022-05-18 16:31] amyblais commented on #19909
Closing out some older issues. Feel free to post about this on our [community server's Peer-to-peer Help channel here](https://community.mattermost.com/core/channels/peer-to-peer-help) or the [troubleshooting forum here](https://forum.mattermost.com/).

[2022-05-18 16:31] #19909 closed

[2022-05-18 18:42] esethna commented on #19991
Thanks @kyeongsoosoo great work!

[2022-05-18 21:06] petersamokhin opened #20248 "Unicode hardcoded characters in config.json"
Hello! The default `config.json` file coming with the mattermost (including the docker container) contains the below:
[code]

Is there a reason why `\u0026` is not `&` here?
Our scripts do some manipulation with the config before the deployment, and it becomes `&` anyway, and it doesn't look possible to keep the Unicode notation hardcoded. If some tools do not support `&`, must it be a bug for the

[2022-05-19 09:00] Keskejefaislamoi opened #20249 "Incoming hooks, print only "text" in payload over PHP"
Mattermost version : 6.5.0
License : Entreprise

 My Example :

[code]

When i run the script, i got only "test" in the chat, but my name dont change, et icon_url dont change
Any idea what is my problem ?

[2022-05-19 12:28] sunilkolluru commented on #19948
@ashishbhate @amyblais

We have noticed the below change in the request headers for cookie for the same api call from our mattermost integration in our react application to the admin mattermost site -

cookie value for ids API call from our react application -
![image](https://user-images.githubusercontent.com/75263980/169292304-ea27dfee-2e6b-4d85-9d23-e52150b6e866.png)

cookie value for ids API c

[2022-05-19 12:52] amyblais commented on #20248
@petersamokhin Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our devs or other community members will likely be able to help with this.

[2022-05-19 14:47] #19978 closed

[2022-05-19 14:59] amyblais commented on #20249
@Keskejefaislamoi Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our devs or other community members will likely be able to help with this.

[2022-05-19 15:07] lieut-data commented on #20189
Hi @zsichina! Thanks for reminding me about the other invocations that also trigger webhooks. If convenient, can we expand the scope to cover those other two event types as well?

[2022-05-19 15:18] amyblais commented on #20211
@tawalaya
1. What device, OS and OS version do you see this on?
2. Would you be open to sharing your config settings related to files as well as this setting: https://docs.mattermost.com/configure/configuration-settings.html#allow-untrusted-internal-connections-to?
3. Are you on a supported architecture https://docs.mattermost.com/install/software-hardware-requirements.html?

[2022-05-19 17:02] chenilim opened #20251 "Desktop App (Mac App Store): Boards shows error on initial launch"
#### Summary
Opening the Boards tab after install shows a "Not a valid workspace" error

#### Steps to reproduce
1. Download the desktop app [from the Mac App Store](https://apps.apple.com/us/app/mattermost-desktop/id1614666244?mt=12)
2. Log into your server (I logged into https://community-daily.mattermost.com, using OneLogin)
3. Click on the Boards tab
4. See an error:
<img width="1577" alt="Scr

[2022-05-19 17:07] chenilim commented on #20251
Also tracked by this issue in the Boards repo: https://github.com/mattermost/focalboard/issues/3068

[2022-05-19 17:08] amyblais commented on #20251
If this ends up not being a Focalboard specific issue, feel free to re-open this at https://github.com/mattermost/desktop/issues.

[2022-05-19 17:08] #20251 closed

[2022-05-19 18:15] mattermod opened #20252 "Allow searching for channel IDs in the system console"
Repro: Paste a channel ID in the search input field in the System Console > User Management > Channels page

![](image-20220519-180114.png|width=956,height=326)

Observed: no results

Expected: allow returning results based on the channel ID (currently it only matches on the channel name)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://co

[2022-05-20 06:29] #19162 closed

[2022-05-20 06:51] zsichina commented on #20189
Hi @lieut-data,
Yes, sure

[2022-05-20 08:31] infacto opened #20255 "Prevent dragging images (e.g. close button)"
You can drag things like images from the UI. Like the minimize, maximize and close button. But also the profile avatar on the left side, etc.

![demo](https://user-images.githubusercontent.com/60390085/169485471-9d1b26ac-2bf0-42e3-960f-dfc68f95a34f.gif)

Some possible solutions:

- Set `pointer-events: none` to img. Not on the button. Be sure that you have no images with interactions. You could us

[2022-05-20 12:57] #20249 closed

[2022-05-20 13:46] JtheBAB commented on #20255
@devinbinnie

I don't think it is just server. You can drag the close button which is the Desktop App itself and not the webapp.

[2022-05-20 13:47] devinbinnie commented on #20255
@JtheBAB I see my comment didn't make it over :P

I created a ticket seperately for the Desktop issues: https://mattermost.atlassian.net/browse/MM-44466
But you can do this with static webapp images as well.

[2022-05-20 13:47] JtheBAB commented on #20255
Ah i see :D

[2022-05-20 15:09] #20109 closed

[2022-05-20 17:29] #18548 closed

[2022-05-21 01:39] dimoiko100 commented on #20232
Hello! I'm interested :)

[2022-05-21 13:06] lapaz17 commented on #20223
Can you assign me?

[2022-05-22 02:40] santoniriccardo commented on #20252
Hi, looking to take a crack at fixing this.

[2022-05-22 20:27] Kirill opened #20261 "Add support for 1C:Enterprise syntax highlight"
#### Summary
Please add support 1C:Enterprise syntax highlight

#### Steps to reproduce
Code with tags 1c bsl language-1c does not work

#### Expected behavior
For example in GitHub syntax
[code]

#### Possible fixes
Highlight.JS support 1C:Enterprise

[2022-05-22 20:31] p4ulb commented on #20221
i have the same issue and i have created the file and still cannot fix it.
i am trying to add users to the server.

" Error: invalid file mode for file "/var/tmp/mattermost_local.socket", it must be a socket with 0600 permissions "

[2022-05-23 00:01] santoniriccardo commented on #20252
See the above two PR's. First on server side to introduce new channel search option for search by ID, and second half on webapp side to actually send over options in order to search for channel IDs in the system console.

[2022-05-23 00:02] santoniriccardo commented on #20230
I would love to work on this.

[2022-05-23 00:10] santoniriccardo commented on #20072
I can work on this.

[2022-05-23 00:12] santoniriccardo commented on #20231
I would like to work on this.

[2022-05-23 05:11] AshishDhama commented on #20072
@santoniriccardo All yours.

[2022-05-23 07:55] ihqtzup commented on #18988
Will do. Thanks.

[2022-05-23 13:29] ReagentX opened #20264 "Non-square custom emoji overflow div when set as status"
#### Summary
Non-square custom emoji overflow the `statusSuggestion__icon` div when set as the current status symbol.

#### Steps to reproduce
1: Add a non-square emoji
![pig_boss](https://user-images.githubusercontent.com/1920666/169829876-179b7edd-98f7-4a10-a340-c7d0a99a7624.png)
2: Set that emoji as your status

#### Expected behavior
The image displays with padding, like it does for messages a

[2022-05-23 13:57] #18797 closed

[2022-05-23 13:57] Willyfrog commented on #18797
closing the issue as it is no longer part of the roadmap

[2022-05-23 14:02] rajeshwarpatlolla opened #20265 "Unable to get/access CSRF Token in login api response headers"
#### Summary
We are using matter most APIs in our frontend application. For login, we are hitting our own server, which is again hitting the matter most server.
In general, when I check the matter most deployed applications, they are sending a few headers in the login API response, which are used to set for subsequent requests.
<img width="1044" alt="Screenshot 2022-05-23 at 7 29 15 PM" src="https

[2022-05-23 14:35] amyblais commented on #20264
@ReagentX What Mattermost server version are you on?

[2022-05-23 16:47] amyblais commented on #20264
Opened https://mattermost.atlassian.net/browse/MM-44513.

[2022-05-23 22:25] dimoiko100 commented on #20232
Thank you @amyblais

[2022-05-24 01:02] santoniriccardo commented on #20072
I have a working version of the suggested fix implemented here - https://github.com/santoniriccardo/mattermost-plugin-playbooks/commit/65d02bad6a6c882a523011f7c5f9153286cffe99.

That being said, there are some issues with the suggested approach. Namely, the fact that simply returning null when the channel is identified as being a DM or GM channel, does not work, and rather simply displays an empty

[2022-05-24 04:41] greatdragon6cloki opened #20269 "Credential issue when using mmctl cli Mattermost 6.3.8"
**Summary**
Credential issues with Mattermost 6.3.8:

Because in Mattermost 5.37.9 we use Mattermost cli and it does not require authentication so when we update to Mattermost 6.3.8 we change Mattermost cli to mmctl cli so we need to login! But the main point is we don't have any account to login my mattermost server (For Example: http://10.116.144.52:83/mattermost/ (We use this Url before)) and I

[2022-05-24 09:15] Tragen opened #20270 "recognized URLs should default to https"
When I write www.google.com and send the message, MM automatically converts it to a URL but with http instead of https.
So I get a link to http://www.google.com.
Now that most sites have https and more and more don't have http anymore and browsers default to https, the default should
be changed to https in MM as well.
So when I enter www.google.com I want to get a link to https://www.google.com.

[2022-05-24 10:32] agarciamontoro commented on #20072
Hey @santoniriccardo, thank you very much for the investigation. If you're willing to do option number 1., I'm always in favour of improving our infrastructure, the only constraint is that it needs to be backwards compatible. If that seems like too much work, or too risky, we can always go with option 3 and render the button as disabled, I'm perfectly ok with that solution.

[2022-05-24 12:30] amyblais commented on #20265
@rajeshwarpatlolla Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our devs or other community members will likely be able to help with this.

[2022-05-24 12:33] amyblais commented on #20269
@greatdragon6cloki Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our devs or other community members will likely be able to help with this.

[2022-05-24 12:34] Tragen commented on #20270
Mattermost Version: 6.7.0
Using a desktop browser, but the same happens with the android client.

[2022-05-24 12:39] rajeshwarpatlolla commented on #20265
Ok, I posted on GitHub in here, in the forum and also in the peer to peer channel in community

[2022-05-24 12:45] amyblais commented on #20270
Opened: https://mattermost.atlassian.net/browse/MM-44540.

[2022-05-24 13:07] tawalaya commented on #20211
Dear @amyblais ,
sorry for the delay.

1. We are running Version: 6.4.1 on bare-metal Ubuntu LTS 22.04. I checked and the latest release of mattermost also does not have timeouts for the thumbnail functions.
2. It worked before and after rebooting everything it works again now so it's not a configuration issue. I think what happened is that during the downtime of our S3 backend, the workers used t

[2022-05-24 13:13] hmhealey commented on #20265
Here's a link to the existing thread: https://community.mattermost.com/core/pl/ps8k6ibb9tnbige5sm6qgq5x4a

[2022-05-24 13:28] santoniriccardo commented on #20072
@agarciamontoro  let me first do a deeper dive into the requirements for option 1. I agree that this would be the most robust solution.

We can fall back on option 3 if this might be too much of a change for the time being, and then open an issue to track.

[2022-05-24 14:00] mattermod opened #20271 "MM-44470 - Chrome won't display SVG files in img tags, if they don't have width and height defined"
Upload any svg file that doesn’t have width and height defined in the `<svg>` tag

**Observed:**

the image is not showing on Chrome/Safari browsers. neither in channel (shows on Firefox) nor in file preview modal

**Expected:**

The image should show both in channel and in file preview modal

----
If you're interested please comment here and come [join our "Contributors" community channel](https:

[2022-05-24 15:30] mattermod opened #20273 "Archived icon is not displaying correctly in dark themes"
Environment: cloud May 25th, not a recent regression reproduces on v6.7

Steps:

  1. Set theme to dar k and have few archived channels on the server
  1. Click on Browse channels and select option to view archived from the dropdown
  1. Open archived channel thread

Expected: Archived icon to be visible in dark theme on both browse modal and rhs thread

Observed: Icon is hard to see in dark theme

[2022-05-24 16:50] coltonfreeman26 opened #20278 "mmctl plugin handling. CVE-2022-1384"
Good day all,
I am new to this realm so please let me know if this is not clear and you need more information.
I am working with the mattermost-enterprise and team-edition images on [hub.docker](https://hub.docker.com/r/mattermost/mattermost-team-edition/tags)
After pulling and running an Anchore vulnerability scan against that image there is a finding regarding the /bin/mmctl version CVE-2022-138

[2022-05-24 18:48] darias416 commented on #19278
Hi @kyeongsoosoo how are things coming along? Is there anything we can do to help on the Mattermost side? Please let us know.

[2022-05-24 20:11] gdevenyi opened #20285 "Autocomplete for usernames should ignore/normalize UTF-8 characters"
#### Summary
If I have a user such as `Jérémie F` I am unable to use `@` autocomplete with `@Jer` because `e` doesn't map to `é`

#### Steps to reproduce
Mattermost Version: 6.5.0

Have a username with UTF-8 characters with ASCII "equivalents", try autocomplete with an ASCII character.

#### Expected behavior
UTF-8 characters with ASCII maps (such as those with accents in French) should be normali

[2022-05-24 20:12] lapaz17 commented on #20021
Could you assign me sir? Thanks.

[2022-05-24 20:18] Ballista01 commented on #20264
I can work on this.

[2022-05-24 21:11] santoniriccardo commented on #19867
@vivek-ng Are you still working on this? If not I would like to work on this.

[2022-05-24 21:12] vivek-ng commented on #19867
@santoniriccardo yeah you can work on this 👍

[2022-05-24 21:55] kyeongsoosoo commented on #19278
Hi, @darias416 . I'm planning to submit a PR today. It took me a time to find a simple solution. Sorry for the delay!

[2022-05-24 22:49] sinansonmez commented on #19907
Update on this. I was busy with other PRs. As I am waiting for review for others I will start working on this

[2022-05-24 23:04] amyblais commented on #20285
@gdevenyi Would you be open to upvoting this feature request https://mattermost.uservoice.com/forums/306457-general/suggestions/11723076-support-utf-8-characters-in-username?

I get an error when attempting to create a username with UTF-8 characters and expected characters are documented here https://docs.mattermost.com/welcome/manage-your-profile.html#username.

<img width="421" alt="Screenshot a

[2022-05-24 23:05] gdevenyi commented on #20285
I'm referring here to a user's display name.

[2022-05-24 23:06] darias416 commented on #19278
Awesome. Thank you for the update, @kyeongsoosoo

Please let us know if you have any questions or if there's anything we can do to help :)

[2022-05-25 04:51] srkgupta commented on #20278
Hi @coltonfreeman26

Please be noted that the vulnerability [CVE-2022-1384](https://github.com/advisories/GHSA-32rp-q37p-jg6w) only affects the Mattermost Server and not the mmctl. Hence if you have upgraded your Mattermost to version 6.7.0, that should be sufficient to ensure that the vulnerability is patched.

[2022-05-25 12:59] amyblais commented on #20278
@isacikgoz Can you help take a look at this?

[2022-05-25 12:59] amyblais commented on #20269
@isacikgoz Can you help take a look at this?

[2022-05-25 13:16] santoniriccardo commented on #19867
See above. Similar to vivek's, with some of the changes requested on his PR added in.

[2022-05-25 19:39] Tragen commented on #20270
So you say you want to be always behind GitHub instead of moving on?
Waiting what others are doing like Mozilla with FIrefox, waiting what Chrome is doing.

[2022-05-25 20:45] hmhealey commented on #20270
Sorry for not responding directly sooner. We tend to match GitHub for how most of our Markdown stuff works because it's one of the places most people in our community will be using proper Markdown. Similarly, I just checked Slack, and they also default to plain http when autolinking. Even if we weren't trying to match them, I think most https sites would have a redirect from http set up, so contin

[2022-05-26 04:24] santoniriccardo commented on #19307
This is similar to what I mentioned here https://github.com/mattermost/mattermost-server/issues/20072#issuecomment-1135288091. I am looking into this for the registerChannelHeaderMenuAction, but I could be interested in looking into these API changes as a whole, as I believe this would be a great addition.

[2022-05-26 05:34] agnivade commented on #20211
@tawalaya - To confirm, you are referring to timeouts of the s3 image upload operation correct?

Also, could you clarify how did you detect that the workers were stuck at the image upload step to S3?

[2022-05-26 09:38] isacikgoz commented on #20278
Hey @coltonfreeman26 are you still experiencing the issue after upgrading mmctl?

[2022-05-26 13:17] ciakval opened #20298 "Clicking on notification window crashes Mattermost when owned by root"
#### Summary
Clicking on the notification window crashes the Mattermost desktop app when its directory is not user-writable

#### Steps to reproduce

* Fedora Workstation 36
* mattermost-desktop-5.1.0-linux-x64.tar
* extract to */opt/mattermost-desktop-5.1.0-linux-x64/*
* generate the Desktop Launcher and moved to *$HOME/.local/share/applications/Mattermost.desktop*
* run `chown -R root:root /opt/

[2022-05-26 17:30] cmeisel commented on #19999
How can I get access to the beta? I tried the integration yesterday and encountered this showstopper error and I would like to try the beta too so I can move forward.

[2022-05-26 17:54] amyblais commented on #19999
I believe @catalintomai / @mickmister can share access with you to the latest Zapier version.

[2022-05-26 18:05] agarciamontoro commented on #19307
It'd be awesome if you can fix this as a whole, @santoniriccardo. What do you think about creating a first PR for the groundwork here and then using this to fix #20072 properly? Would you be willing to do that?

[2022-05-26 18:07] agarciamontoro commented on #19307
(I'm preemptively assigning you here :) )

[2022-05-26 18:14] santoniriccardo commented on #19307
@agarciamontoro Sure thing. Working on another issue right now, but will get to this soon after.

[2022-05-26 18:22] catalintomai commented on #19999
@cmeisel - actually @aaronrothschild can give you access. We are also planning to release the beta publicly soon (like in a week or so) if you can wait.

[2022-05-26 18:35] cmeisel commented on #19999
I emailed @aaronrothschild yesterday so hopefully, he sees it. If I have to wait, I of course can but I would rather try this earlier than later.

[2022-05-26 18:44] amyblais opened #20307 "Mattermost v7.0"
You can find key dates for v7.0 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### May 27th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### June 13th: Release Build Cut
The final

[2022-05-26 18:48] sinansonmez commented on #19035
I can work on this

[2022-05-26 18:56] coltonfreeman26 commented on #20278
Hello @isacikgoz I noticed two new commits to the docker registry 6.7.1 and 7.0.0 and both are still showing mmctl as 6.4.1
Master
[code]
and release 6.7.1-rc1
[code]
@srkgupta Mentioned that this should be a false positive if our server edition is 6.7.0 which is currently what we are using. We are wondering if there is anything that can be done to upgrade the `/bin/mmctl version` to help resolve

[2022-05-26 21:56] wuwinson opened #23066 "Feature Idea: Text property auto wrapping/expanding"
## Summary
The text property currently doesn't support text wrapping or multi-line text, so longer text becomes difficult to read. Full text is only visible as a tooltip on hover. To improve the text property, we can consider some of the following options:

1. Text wrapping with an auto-expanding field, so users don't have to keep scrolling to the right and the entire text value is always visible

[2022-05-27 02:35] santoniriccardo commented on #20072
Tracking this issue in https://github.com/mattermost/mattermost-server/issues/19307.

[2022-05-27 02:42] santoniriccardo commented on #19307
Simply returning ```null``` will not work here. Some of these plugin components are wrapped in other components and then rendered, ([example](https://github.com/mattermost/mattermost-webapp/blob/1e08e058341acc492b1bb40619b54dcea7ff3f57/components/channel_header_dropdown/channel_header_dropdown_items.js#L86-L99)). As a result, the encompassing component will not know that the plugin component is co

[2022-05-27 03:07] santoniriccardo commented on #19307
See **draft** PR for rough outline of new plugin register interface (https://github.com/mattermost/mattermost-webapp/pull/10400), with actual consuming of said api (https://github.com/mattermost/mattermost-plugin-playbooks/pull/1216).

Will most likely proceed in this direction, cleaning things up and implementing across other plugin interface functions. Will maintain default function for ```shoul

[2022-05-27 07:40] tawalaya commented on #20211
Yes, the issue presented itself on the client (desktop) side with a never-ending spinning loading animation when uploading any image.

Looking into the S3 bucket for a specific image that I tried to post (following the log information from the server) I noticed that the originally uploaded image made it into the bucket but the images "<name>_preview" and "<name>_thumb" did not show up.

Looking in

[2022-05-27 07:55] agnivade commented on #20211
Understood, thanks @tawalaya.

[2022-05-27 12:28] sinansonmez commented on #19907
I was able to pinpoint the root cause of this issue to [here](https://github.com/mattermost/mattermost-webapp/blob/8c676ac6d650e9ce505330f361b3d4fd15cc8797/utils/paste.tsx#L84) (related [PR](https://github.com/mattermost/mattermost-webapp/pull/5333))

**Background Info:**
- This PR introduces "Message area should consider existing text and append any codeblock based on the cursor position". From t

[2022-05-27 14:30] agarciamontoro commented on #19307
Thank you, @santoniriccardo, that looks awesome! I'm out on vacation now, and Monday is a Mattermost-wide day off, but I'll take a look on Tuesday if nobody else has done so by then. Sorry for the delay and thanks again for your work :pray:

[2022-05-27 14:37] BenLloydPearson commented on #19948
@sunilkolluru Can you share a direct link to the messages you shared in community.mattermost.com? I'm having a hard time finding them.

[2022-05-27 14:37] sinansonmez commented on #19035
@amyblais I couldnt reproduce this issue. When I check JIRA, I see that status as Closed. I think it should be closed here as well.

[2022-05-27 14:39] #19035 closed

[2022-05-27 14:41] sinansonmez commented on #17289
@amyblais could you please assign this to me?

[2022-05-27 14:43] sinansonmez commented on #17286
@amyblais please assign this to me

[2022-05-27 14:50] amyblais commented on #20307
### v7.0 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.0.0-rc1/mattermost-team-7.0.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5677/files

[2022-05-27 15:58] sinansonmez commented on #17286
Any suggestion how to test the changes?

[2022-05-27 16:01] amyblais commented on #17286
@devinbinnie can likely help here.

[2022-05-27 20:48] braunsonm opened #20313 "Mattermost still tries to verify certificate SAN for outgoing connections"
#### Summary
Mattermost will still try to verify the certificate SAN for outgoing connections with "Enable Insecure Outgoing Connections".

#### Steps to reproduce
1. Create a self signed cert for your S3 storage without a SAN
2. Set "Enable Insecure Outgoing Connections" to true
3. Try to use that S3 storage as your file store (ex: upload a profile picture)

#### Expected behavior
The S3 storage

[2022-05-27 21:02] chenilim opened #20314 "Desktop App (App Store) hides OneLogin option with small window size"
#### Summary
The default window size hides the SSO (OneLogin) login option on the login screen

#### Steps to reproduce
1. Download Mattermost from the Mac App Store
2. Register a new server, and login
3. Have to scroll down to see OneLogin option, which is not obvious
4. (The first time I encountered this, I tried logging in several times with the non-SSO option)

#### Expected behavior
Default w

[2022-05-27 21:38] mickmister commented on #19999
@cmeisel We have released the new version of the Zapier connector today (2 hours ago as of writing). Let us know if you experience any issues. Thank you for using Mattermost!

[2022-05-27 21:57] stackkrocket commented on #20255
Correct me if I am wrong. But from what I can see there, isn't that the close button of your browser tab being draggable there?

[2022-05-27 22:09] amyblais commented on #20313
@braunsonm
1. What Mattermost server version are you on?
2. What OS are you using?
3. Are there any additional Mattermost server logs?

[2022-05-27 22:15] braunsonm commented on #20313
@amyblais good questions. Sorry for not including them.

- Mattermost 6.7.0
- OS is Ubuntu but deployed in Kubernetes using the Mattermost Operator
- No additional relevant logs.

[2022-05-27 22:25] amyblais commented on #20313
Thanks, opened: https://mattermost.atlassian.net/browse/MM-44667.

[2022-05-28 06:00] imskr commented on #16077
Can I work on this?

[2022-05-28 06:19] akshaychhajed commented on #16077
@imskr sure.
You can review my PR and make the necessary changes suggested by @isacikgoz
I have not been able return to this PR.
Let me know if I can help.

[2022-05-28 12:57] lapaz17 commented on #19742
I'd like to take this ticket sir. Thanks.

[2022-05-30 14:35] kyeongsoosoo commented on #20207
@esethna
I finished the work on this issue based on my previous [PR for MM-40908](https://github.com/mattermost/mattermost-webapp/pull/10255).
Previous PR is waiting for QA Review.
Would it better to open a new PR after previous PR is merged?

[2022-05-30 15:57] hairmare opened #20318 "no gender neutral doctor emoji"
#### Summary
For :man_health_worker: we have `:male-doctor:` and `:man_health_worker:` and for :woman_health_worker: we can use `:female-doctor:` and `:woman_health_worker:`. For :health_worker: there is no `:doctor:`, only `:health_worker:`.

#### Steps to reproduce
Search for "doctor" in emojis and see these:

![image](https://user-images.githubusercontent.com/116588/171026989-83a860c3-fe06-40ac

[2022-05-30 20:13] metehankaraca opened #20321 "Mattermost MacOS Desktop"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-05-30 20:47] brynwhyman opened #20322 "Cannot set status on mobile (android)"
#### Summary
Unable to set a profile status in the Android mobile app.

App version: 1.52.0
Server version: 6.7.0

#### Steps to reproduce
1. Open mobile app, choose option to 'Set a status'
2. Choose a status from the 'Recent' list
3. Confirm with the 'Done' action

#### Expected behavior
Your status should reflect the changes made

#### Observed behavior (that appears unintentional)
Your status

[2022-05-30 20:48] brynwhyman commented on #20322
I wasn't sure if Mobile tickets are welcome here too. Happy to have it moved as need be.

[2022-05-30 22:11] amyblais commented on #20321
@metehankaraca Translations are done by volunteers via the translations server https://translate.mattermost.com/languages/. Would you be open to signing up and suggesting a translation edit via the server?

[2022-05-30 22:18] amyblais opened #20323 "Test"

[2022-05-30 22:18] amyblais commented on #20323
/cloud-ff

[2022-05-30 22:18] mattermod commented on #20323
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-05-30-backup (SHA: `d6a152a`)
    - mattermost-webapp:refs/heads/cloud-2022-05-30-backup (SHA: `bda580e`)
    - enterprise:refs/heads/cloud-2022-05-30-backup (SHA: `1452e74`)
    - mattermost-api-reference:refs/heads/cloud-2022-05-30-backup (SHA: `ca503e9`)

### Fast-Forwarded branches
    - m

[2022-05-30 22:19] #20323 closed

[2022-05-31 05:25] gc-ss opened #20324 "mmctl version v6.4.1 packaged with mattermost 7.0.0"
#### Summary
mmctl version v6.4.1 packaged with mattermost 7.0.0 causing inability to use `mmctl`

#### Steps to reproduce
`mmctl config set EmailSettings.FeedbackEmail "email@dom.com"`

#### Expected behavior
`mmctl config set` is successful

#### Observed behavior (that appears unintentional)
`Error: could not check version mismatch: Cannot parse version range 7.0.0.master.88fa7b74a829f62672a1cc

[2022-05-31 13:33] gc-ss commented on #20278
This is causing errors documented at https://github.com/mattermost/mattermost-server/issues/20324

[2022-05-31 14:34] amyblais commented on #20324
Opened: https://mattermost.atlassian.net/browse/MM-44688.

[2022-05-31 14:34] amyblais commented on #20278
Opened: https://mattermost.atlassian.net/browse/MM-44688.

[2022-05-31 14:45] amyblais commented on #20318
Opened: https://mattermost.atlassian.net/browse/MM-44691.

[2022-05-31 15:02] amyblais commented on #20321
@metehankaraca Please see discussion at https://community.mattermost.com/core/pl/6g6xbandtjr1jejk7ur46s3j5w. If you suggest an edit, our translations team can help approve it.

[2022-05-31 15:15] mattermod opened #20327 "Autocomplete for usernames should ignore/normalize UTF-8 characters"
[https://github.com/mattermost/mattermost-server/issues/20285](https://github.com/mattermost/mattermost-server/issues/20285|smart-link)

##### Summary

If I have a user such as `Jérémie F` I am unable to use `@` autocomplete with `@Jer` because `e` doesn't map to `é`

##### Steps to reproduce

Have a username with UTF-8 characters with ASCII "equivalents", try autocomplete with an ASCII character.

[2022-05-31 15:25] metehankaraca commented on #20321
https://translate.mattermost.com/languages/  .
I looked in the translation section but couldn't find the wrong translation. How can I access the wrong section in the app?

[2022-05-31 15:29] amyblais commented on #20321
@metehankaraca Do you see the same issue on Desktop App v5.1?

[2022-05-31 15:31] metehankaraca commented on #20321
@amyblais yes still available. button to send a private message to members in the server.

[2022-05-31 15:32] hmhealey commented on #20318
Thanks for the report!

Interestingly, it looks like `male-doctor` and `female-doctor` are non-standard names for those emojis supported currently only by Slack according to Emojipedia. `health_worker` and its variants are the standard names. We have some non-standard emoji aliases, but most of those are from GitHub since we were using their emoji list previously, so I'm not sure how we ended up w

[2022-05-31 16:42] sinansonmez commented on #19907
@amyblais is there anyone to comment on this?

[2022-05-31 16:48] amyblais commented on #19907
@hmhealey may be able to help here.

[2022-05-31 17:42] ctlaltdieliet commented on #20321
Can be closed.
String has changed in [Weblate](https://translate.mattermost.com/translate/mattermost/mattermost-webapp_master/tr/?checksum=74986f9f214acb4)

[2022-05-31 17:49] metehankaraca commented on #20321
Thanks

[2022-05-31 18:16] footsim opened #20329 "self-hosted push proxy returns "mismatched sender id""
I installed self-hosted push proxy service for MM using this guide https://developers.mattermost.com/contribute/mobile/push-notifications/service
But tests fails with following error:
`Android response failure: &{7289498074377076443 0 1 0 [{  mismatched sender id}] [] 0 <nil>} type=android_rn`
I suppose that I should insert my FCM Sender ID in the push proxy's config. But I didn't find such refere

[2022-05-31 18:17] gc-ss commented on #20324
This is an issue with `mattermost/mattermost-team-edition:7.0.0-rc1` too (previous tag was `master`)

[code]

[2022-05-31 18:18] gc-ss commented on #20324
How's the `master` tag image built?

- Off the `master` branch?
- So anytime code is merged into the `master` branch, a new `master` image will be built?

[2022-05-31 18:20] sinansonmez commented on #19522
If @VishakhaPoonia is not working on this, I can continue @esethna

[2022-05-31 19:28] gc-ss commented on #20269
@greatdragon6cloki The file pointed to by `--config` is meant to override the default mmctl's config at `mmctl/config` - it SHOULD NOT be mattermost's own config at `/mattermost/config/config.json` - this could render your mattermost server unusable (especially after a restart)

Here's what you need to do:

- locate an admin user for your mattermost server. let's say it's `mmadmin`
- run `mmctl au

[2022-05-31 19:32] dimoiko100 commented on #20327
I can work on this. Could you assign me?

[2022-05-31 20:14] amyblais commented on #20329
@footsim Would you be open to posting this troubleshooting question either on our [Peer-to-peer Help channel here](https://community.mattermost.com/core/channels/peer-to-peer-help) or on our [troubleshooting forum here](https://forum.mattermost.com/)? Someone on our community or one of our devs will likely be able to help with this.

[2022-05-31 22:18] santoniriccardo commented on #20232
Note duplication - I already implemented GetPosts deletion here https://github.com/mattermost/mattermost-server/issues/19867. Similarly, there is an open issue for GetPostsForChannel here https://github.com/mattermost/mattermost-server/issues/19868.

[2022-06-01 04:48] footsim commented on #20329
@amyblais Hi, I've found similar questions on forum:
https://forum.mattermost.com/t/notification-server-fails/9779
https://forum.mattermost.com/t/mattermost-push-proxy-is-not-working/10350
But they're still not resolved. Maybe this issue will be more productive on the way of finding solution?

[2022-06-01 05:31] footsim commented on #20329
@amyblais Sorry, I've found my mistake, I haven't yet my own app with my FCM Sender ID. https://developers.mattermost.com/contribute/mobile/build-your-own/

[2022-06-01 05:31] #20329 closed

[2022-06-01 06:52] #19829 closed

[2022-06-01 09:21] agnivade commented on #20313
Hey @braunsonm - The insecure check was only being applied for other requests made by our HTTP client and wasn't applied for the s3 client. Are you interested in submitting a fix? Let me know and I can guide you.

[2022-06-01 09:50] #20213 closed

[2022-06-01 10:36] ArnaudC opened #20332 "Formatting not working with Both Chrome and Firefox (Local fonts ?)"
#### Summary
Message formatting is broken in both Chrome 102.0.5005.61 (Official Build) (64-bit) and Firefox 100.0.2 (64-bit).
Mattermost server version : Mattermost Version: 6.4.0 Database Schema Version: 6.4.0 Database: postgres
There is no error in the console, 1 network request blocked (analytics 403).
This may be linked to local computer browser fonts (ubuntu 20.04).
[https://drive.google.com

[2022-06-01 13:06] imskr commented on #19654
Can I work on this?

[2022-06-01 14:32] amyblais commented on #20248
@petersamokhin Did you have a chance to post to the troubleshooting channel or do you still need help with this?

[2022-06-01 14:32] amyblais commented on #20222
@greatdragon6cloki Did you have a chance to post to the troubleshooting channel or do you still need help with this?

[2022-06-01 15:20] agarciamontoro commented on #19307
Thank you, @santoniriccardo, looking into them as soon as possible :pray:

[2022-06-01 15:28] tomash commented on #19093
It seems I have stumbled upon the same thing.
mmctl versio 6.4.0, installed today with `go install github.com/mattermost/mmctl@latest`.

Doing the docker preview locally. Entire container goes down when trying to process an import from uploaded file. `docker logs` show:

[code]

I can provide the zip file with `mattermost.jsonl` that caused it but since it's a complete import of my company's Slack

[2022-06-01 20:55] #20070 closed, assigned to barisunsalhn

[2022-06-01 22:25] hmhealey commented on #19907
I like that idea, but I think we should change it so that we replace the text if `selectionStart !== selectionEnd` instead of all of the text being selected.

Also, I don't actually think we need to store that in the state. Could we perhaps get `e.target.selectionStart` and `e.target.selectionEnd` in response to the paste event instead of having to store that in state? That'd avoid any potentially

[2022-06-02 04:15] mattermod opened #20342 "Handle all JSON marshal errors in model/client4.go"
There are many instances of the blank identifier used to for JSON marshal errors in model/client4.go and the pattern is simple for handling them.

Here’s an example change:

[code]

The error is handled, and the `NewAppError` is invoked with the name of the containing method.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.matte

[2022-06-02 04:47] lapaz17 commented on #19529
Seems like @src-r-r is inactive, could you assign me instead of him?

[2022-06-02 09:13] #19977 closed

[2022-06-02 09:15] mattermod opened #20343 "Update Compliance Export UI configuration text for Cloud instances"
The Compliance Exports feature has configuration text that is not cloud friendly.  It currently reads for Actiance and CSV to download reports from local storage which is not available.  Actiance and CSV files can be downloaded from the UI per [https://mattermost.atlassian.net/browse/MM-29223](https://mattermost.atlassian.net/browse/MM-29223).

Expected results:

\<Note: The italics grey text belo

[2022-06-02 11:43] ArnaudC commented on #20332
Problem found : the option called 'Enable Post Formatting' was set to Off in advanced settings.

[2022-06-02 11:43] #20332 closed

[2022-06-02 14:01] rajeshwarpatlolla opened #20347 "Typing event is not generating in mattermost websockets"
#### Summary
Typing event is not showing in WebSocket messages. We are broadcasting an event when there is a typing event, but the incoming typing events are still not showing. We are able to see other events, like posted, status changes, etc.

<img width="1344" alt="Screenshot 2022-06-02 at 7 29 17 PM" src="https://user-images.githubusercontent.com/9896335/171646469-f2240866-b3b9-49d5-8dd3-1cedca

[2022-06-02 15:00] mattermod opened #20348 "Fully typed emoji that contains a capital letter fails to render as an emoji"
1. Type out an existing emoji and include a capital letter anywhere in it (e.g., `:Smile:` )
  1. Post message

**Expected**: The emoji appears as expected
**Observed**: It displays as typed text

**Notes**: As you type the picker will locate the emoji and if you select it from the list (or press enter to insert it) it removes the capitalization and displays the emoji as expected when posted. This

[2022-06-02 15:15] mattermod opened #20350 "Web App: Add search shortcut to the 'Keyboard Shortcuts' modal"
As a user, I would like to see the keyboard shortcuts for search in the **Keyboard Shortcuts** modal.

**Observed**
The keyboard shortcuts for search are not available in the **Keyboard Shortcuts** modal

**Expected**
The search shortcuts are available in the **Keyboard Shortcuts* modal under the *Messages** section
**Desktop App**
  * CMD<ins> </ins>F (Windows)
**Web App (Browser)**
  * CMD<ins> 

[2022-06-02 17:36] esethna commented on #20207
@kyeongsoosoo yes please feel free to open a new PR for this one

[2022-06-02 17:38] esethna commented on #19522
@sinansonmez sorry we should close this ticket. It's actually already done with a different solution:

![image](https://user-images.githubusercontent.com/14333569/171691497-5bd19c08-2b61-4d3b-8330-2f0cb486a378.png)

[2022-06-02 17:38] #19522 closed

[2022-06-02 19:28] sinansonmez commented on #19522
Thanks for the information @esethna

[2022-06-02 21:47] sinansonmez commented on #19907
Thanks for the guidance on not to use state @hmhealey. I was able to fix the issue with `e.target.selectionStart` and `e.target.selectionEnd` within [pasteHandler](https://github.com/mattermost/mattermost-webapp/blob/7cb3bf02bd59b5fc83a871c665ea91f62961e7c9/components/create_post/create_post.tsx#L886) because they are accessible in the same event used by pasteHandler.

The PR is draft for two main

[2022-06-03 00:58] Ballista01 commented on #20342
I can take this.

[2022-06-03 04:50] #20120 closed

[2022-06-03 05:10] agnivade commented on #20313
Sure, I'll create a help wanted issue.

[2022-06-03 05:15] mattermod opened #20356 "Set InsecureSkipVerify for the S3 transport if Enable Insecure Outgoing Connections is true"
[https://github.com/mattermost/mattermost-server/issues/20313](https://github.com/mattermost/mattermost-server/issues/20313|smart-link)

In `(b *S3FileBackend) s3New()`, we need to check the value of EnableInsecureOutgoingConnections, and if that’s true we need to override the InsecureSkipVerify field of the transport before creating the HTTP client.

----
If you're interested please comment here

[2022-06-03 05:24] agnivade commented on #20313
I created https://github.com/mattermost/mattermost-server/issues/20356, so I'll close this one out. That has more details on what needs to be done.

[2022-06-03 05:24] #20313 closed

[2022-06-03 07:45] #20069 closed

[2022-06-03 08:04] agnivade commented on #20066
Hey @bbodenmiller - I looked into this. It is indeed doing a multi-part upload, but the min part size is still respected. So for files smaller than 5MB, it does not make multiple PUT requests. The `partNumber=1` is just added only once.

But the upload session creation does indeed take extra overhead.

We discussed this further internally, and we traced it back to this [PR](https://github.com/matt

[2022-06-03 08:58] agnivade commented on #20342
Sounds great @Ballista01. Let me know if you have any questions!

[2022-06-03 10:10] Blackclaws commented on #16099
This bug has recently started happening to me. I'm going to try and reinstall mattermost desktop as this is extremely annoying.

[2022-06-03 10:11] Willyfrog commented on #18602
It's been decided this is no longer needed. Will reopen if this changes.

[2022-06-03 11:00] mattermod opened #20361 "Remove unused code around unimplemented ExperimentalSettings.EnableClickToReply setting"
As part of a hackathon PR to implement a Click-to-Reply feature submitted a couple years ago, the `ExperimentalSettings.EnableClickToReply` setting was added on the server, but the code to support it was never added on the client-side.

Since this has been independently added as part of the Collapsed Reply Threads feature, we don't need this setting any more, so any lingering references to `Experi

[2022-06-03 11:24] carlspring commented on #16099
This has been happening to me in a regular basis via the webapp. Surely more people must be encountering this! It is so frustrating! Could somebody finally look into it?!

[2022-06-03 11:30] MichelGeorgy commented on #16099
Happens to me and a colleague as well.
Mac Desktop v5.1.0

[2022-06-03 11:44] #17707 closed

[2022-06-03 11:45] Willyfrog commented on #17707
closing as the original ticket needs to be revisited at least

[2022-06-03 12:04] #16282 closed

[2022-06-03 12:32] Willyfrog commented on #16242
@SBagaria2710 are you still working on this one?

[2022-06-03 12:36] Willyfrog commented on #14100
no longer valid

[2022-06-03 12:40] Willyfrog commented on #14099
not valid anymore

[2022-06-03 12:41] Willyfrog commented on #14478
not valid anymore

[2022-06-03 12:41] #14478 closed

[2022-06-03 13:43] #18047 closed

[2022-06-03 17:39] hmhealey commented on #19907
I think it should just replace the selected text when you paste. That's what I'd expect if I were pasting a snippet. If that ends up being difficult while also making a code block, I suppose we could make it so that having text selected just bypasses any special behaviour.

Awesome, we appreciate the thoroughness. More testing is always a good thing 😄

[2022-06-04 07:16] SBagaria2710 commented on #16242
No, I am not. Please, assign it to someone else - @Willyfrog

[2022-06-06 06:57] lapaz17 commented on #19742
You can deassign me. Thanks.

[2022-06-06 06:58] lapaz17 commented on #19529
@src-r-r  Ok, you can continue your work(I will take another.). I just noticed https://community.mattermost.com/core/channels/feature-hashtag-autocomplete channel.

[2022-06-06 07:52] lapaz17 commented on #20350
Could you assign me?

[2022-06-06 07:59] #19867 closed

[2022-06-06 09:14] mmgfrcs commented on #8886
And this is still unresolved a year later?
So what license apply? AGPL, Apache, or Commercial?
Is the whole repo under this license, or part of it?
And why, in a single repo, there's 3 separate licenses applied? This is a confusing mess

[2022-06-06 13:47] hmhealey commented on #16099
To provide some visibility into this, we've been looking to this a bit again since it seems to have crept up again to be more frequent. We still don't have any good leads on what, in particular, is causing this, but it's on our radar since it seems to have started more frequently.

If anyone has any even anecdotal details about when it might be happening, please let us know. For example, it almost

[2022-06-06 14:38] mickmister commented on #20122
Hi @ahmedDevs, do you have any questions on this task?

[2022-06-06 14:50] tmuka commented on #16099
possibly related, when pasting an image into mattermost, the chat frequently won't scroll down to reveal that the image has been successfully pasted, which can result in me pasting it multiple times since I didn't scroll down manually to see it was uploaded/pasted. this happens frequently both in channels, and in DMs, by myself and my co-workers.

Mattermost Version: 6.5.0
Database Schema Version:

[2022-06-06 17:43] lapaz17 commented on #19979
Could you assign me?

[2022-06-06 20:14] amyblais opened #20375 "Test"

[2022-06-06 20:14] amyblais commented on #20375
/cloud-ff

[2022-06-06 20:14] mattermod commented on #20375
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-06-06-backup (SHA: `5ee25f5`)
    - mattermost-webapp:refs/heads/cloud-2022-06-06-backup (SHA: `6bf9a91`)
    - enterprise:refs/heads/cloud-2022-06-06-backup (SHA: `5f6d951`)
    - mattermost-api-reference:refs/heads/cloud-2022-06-06-backup (SHA: `2e0d098`)

### Fast-Forwarded branches
    - m

[2022-06-06 20:14] #20375 closed

[2022-06-07 19:35] gc-ss commented on #20307
Very nice! Really excited to check it out

I am unable to manage these releases using `mmctl` (that's how we manage MatterMost servers via our IaC) right now due to https://github.com/mattermost/mmctl/issues/523

[2022-06-07 20:24] amyblais commented on #20307
We have an open ticket https://mattermost.atlassian.net/browse/DOPS-1049, which is currently assigned to @phoinixgrr.

[2022-06-08 02:45] yewkay commented on #11326
Just to update. I'm on version 6.4.1 and I realised that emails have not been sending out recently when I'm trying to invite new member to my team. Changing the settings in UI didn't solve the connection errors, acme to this page when googling for answers.

 I went into config.json and found that it was set to STARTTLS strangely. Manually editing config.json and SMTP came back to live again.

[2022-06-08 06:35] RomanChernyshev opened #20396 "Failed to attach file to post"
#### Summary
Error when trying to attach an existing file

#### Steps to reproduce
1. Upload a file
2. Post a message attaching the file id(it works once)
3. Post the same message again

#### Expected behavior
The message contains the file regardless of the number of uses.

#### Observed behavior (that appears unintentional)
The second+ message doesn't have any attachments in the chat.
Message in

[2022-06-08 08:18] Blackclaws commented on #16099
For me clearing cache has solved the issue for now

[2022-06-08 12:44] #20231 closed

[2022-06-08 15:40] #18603 closed

[2022-06-08 16:41] amyblais commented on #20396
@RomanChernyshev
1. Can you reproduce this on our community server here https://community.mattermost.com/?
2. What browser and OS are you using?

[2022-06-08 17:05] thinkGeist commented on #20348
I'd like to take a stab at this

[2022-06-08 17:10] ismaaylSpiria commented on #20348
Hi, I forgot to leave a comment here, I already finished working on it. I'll commit soon

[2022-06-08 18:27] thinkGeist commented on #20273
I'll look into this, but I think this is a mattermost-webapp issue, not mattermost-server

[2022-06-08 19:23] #20350 closed

[2022-06-08 19:40] #20361 closed

[2022-06-08 21:18] #15722 closed

[2022-06-08 22:27] thinkGeist commented on #18046
I'd like to pick this up if nobody else has!

[2022-06-09 04:25] ikjnv opened #20411 "Assign multiple users for a single task in playbooks"
It would be great to be able to assign one or multiple users for a single task simultaneously in playbooks since it is very common to assign several people to assign for one task at the same time. Currently, only a single user can be assigned for one task.

[2022-06-09 04:43] RomanChernyshev commented on #20396
Hi. I use API directly

[2022-06-09 10:49] antonbuks opened #20417 "Default avatar doesn't get regenerated with new initials after username change"
#### Summary
Default avatar picture doesn't get regenerated with new initials when username is changed through webapp settings

#### Steps to reproduce
On mattermost community create a user, then change the username in the settings, the avatar will contain initials for the old username.

#### Expected behavior
The image gets regenerated with new initials or that the frontend uses html instead of i

[2022-06-09 12:41] #20324 closed

[2022-06-09 12:43] amyblais commented on #20278
A fix for the mmctl issue has been merged to v7.0.

[2022-06-09 12:43] #20278 closed

[2022-06-09 12:47] amyblais commented on #20411
@ikjnv Would you be open to re-opening this in the Playbooks repo https://github.com/mattermost/mattermost-plugin-playbooks/issues?

[2022-06-09 12:57] amyblais commented on #20417
Opened: https://mattermost.atlassian.net/browse/MM-44954.

[2022-06-09 13:11] RomanChernyshev commented on #20396
CURLs in order of usage:
[code]
[code]
Here it works expectably and attaches a file

[code]
Here I get an error, the message is received but it's empty

[2022-06-09 13:15] #20411 closed

[2022-06-09 13:50] biva commented on #18351
Hello, the "unofficial" support for MariaDB is dropped by Mattermost (I understand the reasons behind it), as explained in https://community.mattermost.com/core/pl/5m9mnur4ejn9z8c7c9dipaw7jc

It would be really helpful to know how to migrate easily to PostgreSQL. There was some work done a few years ago here: https://forum.mattermost.com/t/converting-db-from-mysql-mattermost-standalone-install-to-

[2022-06-09 14:38] jakegut commented on #20356
I'd like to look into this

[2022-06-09 14:42] ylluminate commented on #18351
Dropping MariaDB is pretty incredible and ridiculous since I don't know anyone that uses MySQL now and only use MariaDB. WOW.

Yeah, PostgreSQL migration is the other option since that is usually the other (main) DBMS that we and others run in conjunction with MariaDB.

[2022-06-09 14:47] esethna commented on #18985
Hi @titansmc, this would likely be a bug with the webapp

@JToholic @francislavoie @titansmc, while we continue to look into this, can you all help confirm your Mattermost server version? Our latest version available is v6.7.0 (with v7.0 coming June 16th), and we recommend updating and re-testing to ensure this is still an issue on the latest. Thanks!

[2022-06-09 14:52] agnivade commented on #20396
Thanks @RomanChernyshev. @amyblais - we can file a ticket for the Channels team to triage.

[2022-06-09 14:54] esethna commented on #18603
Yay! Excited to have this in @darkLord19!

Are you keen to also implement the mobile changes to support getting recent emoji from preferences? If so, please let me know and I can provide some guidance.

Thanks again!

[2022-06-09 14:57] darkLord19 commented on #18603
@esethna yeah. let me know if there is ticket to track mobile changes.

[2022-06-09 15:19] JToholic commented on #18985
In my case for both webapp and windows app:
[code]
which I'm not sure is what you need...

As of now (9th June), when more messages are being loaded (indicated by the change in size and location of the side bar), if I'm scrolling up with a mouse or touchpad, the screen will jump up.

[2022-06-09 15:39] francislavoie commented on #18985
Welp, looks like I have egg on my face. I can't seem to make it happen anymore.

My coworker who was still having it happen today was still on Linux desktop v4.6.1 (because we need to install from the `.deb` by hand, and he's less-technical and didn't think to do it because he thought the notification that the server updated also meant the desktop client updated). I got him updated to client versi

[2022-06-09 16:24] esethna commented on #18603
@darkLord19 awesome, appreciate your effort here! Here's the mobile ticket: https://mattermost.atlassian.net/browse/MM-44974

Also are you keen to implement the account setting as speced in the original ticket for quick reactions? https://mattermost.atlassian.net/browse/MM-39150
![image](https://user-images.githubusercontent.com/14333569/172896129-07c57876-5ed8-4410-963b-aa166e38e783.png)

[2022-06-09 16:40] amyblais commented on #20307
### v7.0 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.0.0-rc3/mattermost-team-7.0.0-rc3-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5677/files

[2022-06-09 17:45] mattermod opened #20422 "Paging through playbooks should reset search"
Reset the selected page when searching playbooks, otherwise the user is left on “page 2” of a set of search results that may only have a first page.

To reproduce, navigating to `/playbooks/playbooks` with more than 30 playbooks. Click “Next” ont he pagination controls:

![image](https://user-images.githubusercontent.com/1023171/172913102-c8a9cd61-bdd2-4b54-a9e0-c4acfe5d2d05.png)

Then search for

[2022-06-09 18:52] chenilim opened #23065 "Bug: Pasting in a long URL does not wrap in the card description"
## Steps to reproduce the behavior

1. Create a card and edit its description (card content)
2. Paste in a long url, e.g. `### This is a [long url](https://mytestserver.test.mattermost.cloud/boards/workspace/g74xmh17m3n53ytarmro9d84cc/byfmcu5381fn3fp15ucbcfybs5w/vpitxu48zmjn59mnqttpeg3ndwh/cyds4jf6bsf8axg4u61hdpkxfco)`
3. It does not wrap

## Expected behavior

Text should wrap in the content edit

[2022-06-09 18:53] kamre opened #23064 "Bug: calendar view "show more" cards doesn't limit the card width"
## Steps to reproduce the behavior

1. Add new board with `Content Calendar` template
2. Change `Due Date` of any card to today (so that it is easily visible in `Due Date Calendar` view)
3. Switch to `Due Date Calendar` view
4. Add _5 more cards_ with today due date
5. Click on `+2 more` button to show all the cards for today

## Expected behavior
Cards in the popup should have some limit for the

[2022-06-09 23:06] esethna commented on #18985
@titansmc @francislavoie no worries at all, we appreciate engaged users, so thank you for keeping us on our toes!

@JToholic are you able to reach a System Administrator of the Cern instance to find out what Mattermost server version is installed, and if not on latest recommend the Admin upgrades? Since other users have mentioned it seems to be non-reproducible with newer server versions, I think

[2022-06-10 00:36] ikjnv commented on #20411
@amyblais sure.

[2022-06-10 01:23] bbodenmiller opened #20427 "Image uploads fail randomly - large number of S3 access errors"
#### Summary
At random image uploads start to fail in our Mattermost setup. Sometimes the issue resolves itself whereas other times Mattermost must be restarted for the issue to be resolved.

This issue has been going on for months requiring Mattermost restarts every few days. Initially thought it was S3 issue then network issue then other server issues but cannot find anything in particular that

[2022-06-10 04:57] #19840 closed

[2022-06-10 05:00] agnivade commented on #19584
@bbodenmiller - Are you not observing the S3 debug logs at all, or sometimes they log and sometimes not?  Can you show me the logs around this line:
[code]
?

Would this point to an infrastructure issue?

[2022-06-10 05:22] agnivade commented on #20427
Hi @bbodenmiller - From the logs that you showed, it looks like a server issue to me. Even if we consider the multi-part upload issue, it shouldn't apply while reading images. But from the above, it looks like even reading images fail with `connection reset by peer`.

Answering some of your observations inline:

Emojis are cached on the client. Each response sets a `w.Header().Set("Cache-Control",

[2022-06-10 06:29] alolis commented on #16099
My team and I are experiencing the same issue with Version 5.1.0 (19937).

Please fix. This is very annoying.

[2022-06-10 06:30] alolis commented on #16099
Can you please provide steps for this so I can give it a try?

[2022-06-10 07:32] bbodenmiller commented on #20427
@agnivade thanks.

I agree. I was more just observing that when failure occurs it then uploads a new image which may be making the issue worse by sending unnecessary traffic.

Worth noting, I've tried to reproduce the issue in a development environment unsuccessfully as well.

Given I am not a paying customer (outside of my control unfortunately) would they be able to help at all?

If it is a serv

[2022-06-10 07:40] bbodenmiller commented on #19584
@agnivade

I get S3 SDK logs but only for successful connections to S3 like `200` and `404`. Let me see if I can pull some examples tomorrow.

You would think but the infrastructure people tell me everything is working as expected at network and S3 level. Probably best to discuss further in https://github.com/mattermost/mattermost-server/issues/20427 since that's the issue I was working when deter

[2022-06-10 07:40] agnivade commented on #20427
In that case, unfortunately not.

It feels like a S3 storage issue to me. We haven't seen any similar complaints from other customers. The `connection reset` error possibly points to a keepalive/idle-timeout issue. The `dial tcp z.z.z.z:9159: i/o timeout` seems like a connectivity issue. I don't have much (any) experience with the Dell storage that you use, but I suspect you'd have sysadmins maint

[2022-06-10 08:32] hasanfalizada opened #20432 ""Copy invite link" seems to be not working."
#### Summary
After "Copy invite link" button click in the "Invite members" dialog invite link is not being copied to the clipboard. Fresh Docker deployment.

#### Steps to reproduce
Click on the "Invite members" button on the side panel, then click the appropriate button in the opened dialog.

Mattermost Enterprise Edition
Modern communication from behind your firewall.

Mattermost Version: 6.3.8

[2022-06-10 11:08] hasanfalizada commented on #20432
This behavior is observed on deployment without NGINX (HTTP).
HTTPS is ok.

[2022-06-10 13:03] amyblais commented on #20432
@hasanfalizada I wasn't able to reproduce this on 6.3.9. Is this setting set to "true" https://docs.mattermost.com/configure/configuration-settings.html#enable-account-creation?

[2022-06-11 00:24] bbodenmiller commented on #19584
@agnivade an example of my S3 debug log is shown at https://github.com/mattermost/mattermost-server/issues/19579. Since the S3 debug log overlaps it is hard to follow but the short story is entries in Mattermost log with `connection reset by peer` are not showing at all in S3 debug log. I would have thought that S3 debug log would show requests that were attempted but failed due to connection fail

[2022-06-11 06:37] hasanfalizada commented on #20432
Yes.
![image](https://user-images.githubusercontent.com/18369497/173176407-a0724cb3-3285-4a63-bc9d-8e47d7597fb6.png)

Firstly, I thought that there was a problem with my deployment, so I run a preview container without NGINX and the result was the same.
I've checked this behavior in different browsers, also.
But if run with NGINX - everything works.

[2022-06-11 09:14] nidak7 commented on #18177
Hi @saturninoabril ,
I'll be taking this up

[2022-06-11 09:14] yasserfaraazkhan commented on #18177
Hi @saturninoabril ,
I'll be taking this up.

[2022-06-12 05:51] yasserfaraazkhan commented on #18161
@saturninoabril I'll be taking this up.

Just to confirm, will checking if clipboard doesn't have the code (quotes) after clicking on 'copy code block' icon suffice ?

[2022-06-12 07:55] yasserfaraazkhan commented on #18164
@saturninoabril @poflankov
I'll be taking this up.  @poflankov Please let me know if this is in progress.

[2022-06-12 10:31] yasserfaraazkhan commented on #18168
Hi @saturninoabril @poflankov
I'll be taking this up.

I think best way to achieve this would be to navigate aware from main chat/channel screen eg: /integrations , and then navigate back to verify the channels are still unread.
Please let me know your thoughts.

[2022-06-12 13:03] Yzzzi commented on #19776
So i was trying to set up my mattermost with GCS s3 compatible storage, but no luck. Bumped into the fact, that minio proxy is deprecated too.

Actually, when i insert credentials for my bucket into file storage settings tab - it shows, that `Connection was successful`, but actually continues to use local storage driver it seems, because bucket stays empty. Couldn't find any errors about it in log

[2022-06-12 15:54] agnivade commented on #15631
Hey @Roy-Orbison - I looked into this in some more details. I am unable to find any references to why using `CHAR` would be more efficient than `VARCHAR`.

In fact, in the Postgres documentation, it's explicitly mentioned:

https://www.postgresql.org/docs/current/datatype-character.html

If a column has always `n` characters, for Postgres it doesn't seem to make a difference whether you store in c

[2022-06-12 16:30] mattermod opened #20441 "mmctl: local mode uploads should ignore FileSettings.MaxFileSize"
In local mode, we should be able to bypass `FileSettings.MaxFileSize` limit for file uploads.

Solution: instead of going via the upload process, let mmctl perform a file copy to the appropriate directory where the file will be placed. Do this ONLY for import files.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/

[2022-06-12 16:39] agnivade commented on #18351
Hi all, just to reiterate - Mattermost never officially supported MariaDB. So we aren't really "dropping" support for anything. I have mentioned in the thread linked [here](https://github.com/mattermost/mattermost-server/issues/18351#issuecomment-1151147211) on the reasoning behind it.

We can definitely look into providing clear guidelines for how to migrate from MySQL to Postgres.

[2022-06-12 16:49] ylluminate commented on #18351
@agnivade the link you provided circles back to this post - could you please provide a link to your remarks specifically?

Also, MariaDB is pretty much a drop in (and superior in many regards) replacement to MySQL. We've used it now for several years for various apps that we develop and maintain as well as a simple replacement for MySQL in other apps we don't maintain. We've really never had any p

[2022-06-12 16:53] agnivade commented on #18351
The link that I provided points to this https://github.com/mattermost/mattermost-server/issues/18351#issuecomment-1151147211 which points to https://community.mattermost.com/core/pl/5m9mnur4ejn9z8c7c9dipaw7jc

Feel free to read the full thread here: https://community.mattermost.com/core/pl/iuntzu3as7gwiqf133n3rc4hqa

[2022-06-12 18:09] ylluminate commented on #18351
Thanks for clarifying @agnivade. So moving forward:

1. What versions of Mattermost are we safe to upgrade to for MariaDB to still function reliably? We, for example, are still within the early 6.x series and were holding off further updates until we got some PGSQL instructions / details.
2. When might we be able to expect some MariaDB/MySQL → PGSQL migration instructions?

[2022-06-13 03:09] yasserfaraazkhan commented on #18168
@saturninoabril I'll be taking this up

[2022-06-13 03:11] yasserfaraazkhan commented on #15697
@saturninoabril I'll be taking this up,

I'll be adding some more e2e steps of creating custom slash commands for GM and DM, and then verify if the commands are working.

[2022-06-13 04:50] agnivade commented on #19584
This seems to be an issue with the minio library. If there's an error while making the request, the request does not get logged: https://github.com/minio/minio-go/blob/ff482a18933aa30769bfaeb7d34fa680fa51bcee/api.go#L491

I have raised an issue here: https://github.com/minio/minio-go/issues/1664

[2022-06-13 11:27] steve-todorov commented on #16099
@hmhealey I was wondering if mattermost is storing the "scroll position" in the database? Maybe this happens due to sync issues between devices ? (i.e. you have 100 new messages, your mobile has read up to id 50, your web is at 80, but since your mobile is behind it overwrites the current position?) I've seen this issue on mobile as well, so this leads me to think it might be related to the state

[2022-06-13 14:16] Debilski opened #20448 "mmctl bulk export returns direct_post entries with empty channel_members list"
#### Summary

Inspecting the `import.jsonl` file that the `mmctl` bulk export produced, shows lots of direct posts with an empty channel_members list. As per the spec (https://docs.mattermost.com/onboard/bulk-loading-data.html#example-directpost-object) these must have a minumum of two members.

#### Steps to reproduce

    mmctl --local export create

... then download and unzip the created file.

[2022-06-13 17:17] darkLord19 commented on #19998
@darkLord19 haven't had enough time yet to get started on this 😅. I won't get to work on this for next week or two so maybe you can open this ticket again and if no-one else has started to work on this then I will take it up again.

[2022-06-13 18:26] MrC2D opened #20452 "Adding GIS function to Mattermost"
Hello! So I'm not the greatest programmer or software developer, however I thought it would be cool to add a GIS function to Mattermost. I grabbed the Earth enterprise from GitHub and setup the fusion and earth server on a separate VM and I have communications between my host machine and the VM, however when I try to upload the plugin the only error I get is failed to fetch on Mattermost? Any idea

[2022-06-13 18:34] hmhealey commented on #16099
There's some state that's saved, but it's not storing it in the database exactly. The web app tries to load the app at the last message you've read, and it's storing where that's at, but that's just when you first view a channel. The mobile app always loads the channel at the bottom, and it has a toast that you can click to scroll up to the last message you'd previously read.

There's specific log

[2022-06-13 20:07] esethna commented on #19998
Okay sounds good, thanks for circling back. I will re-open but please check back when you have some time!

[2022-06-13 22:04] lieut-data commented on #16099
@hmhealey, could we instrument some console debug messages in the relevant code, to the effect of "auto-scrolled X" or "not at bottom, skipping auto scroll", and somehow hidden behind a user-level feature flag (ala `window.LogAutoScrollEvents` or some such?

I wonder if we could recruit community help to fine tune this further based on the outcome of that logic?

[2022-06-14 01:57] Roy-Orbison commented on #15631
How odd that storing a fixed length would be less performant. I only knew about MySQL/MariaDB as that's what I've used in the past.

I just read this https://wiki.postgresql.org/wiki/Don't_Do_This#Don.27t_use_char.28n.29_even_for_fixed-length_identifiers so now I wonder why it's even possible to use a `CHAR(N)` type in Postgres at all.

[2022-06-14 03:28] agnivade commented on #15631
I believe there was an implementation gap in the older versions. However, newer versions closed the gap making the `char(n)` type moot. But for compatibility reasons, they can't remove it obviously.

[2022-06-14 09:00] 2019-05-10 opened #20468 "Animated GIF: cannot be paused/run only once"
**Summary**
GIFs once inserted run infinitely, thus distrcting/annoying users.

**Environment**
- Operating System:
- Mattermost Desktop App version: 5.1.0
- Mattermost Server version: X.X.X

**Steps to reproduce**
have a coworker insert an animted GIF into an ongoing chat
GIF wriggles and blinks continuously

**Expected behavior**
run only once or allow to pause/stop

**Observed behavior**
runs a

[2022-06-14 13:56] #20307 closed

[2022-06-14 14:30] mattermod opened #20470 "Webapp: file attachment cards are not following actual mimetype file"
When attaching files, the icon for the file follows the file extension rather than the actual file’s mime type. This means I can upload a file and change it’s extension to ‘spoof’ another file type. This may be as designed, but it seems like it could have security consequences.

To reproduce:

  1. Create a blank text file and save it as a `.txt` file
  1. Upload the file - notice the icon shows a

[2022-06-14 14:45] mattermod opened #20471 "Default avatar doesn't get regenerated with new initials after username change"
[https://github.com/mattermost/mattermost-server/issues/20417](https://github.com/mattermost/mattermost-server/issues/20417|smart-link)

##### Summary

Default avatar picture doesn't get regenerated with new initials when username is changed through webapp settings

##### Steps to reproduce

On mattermost community create a user, then change the username in the settings, the avatar will contain in

[2022-06-14 14:45] amyblais commented on #20417
Closing as a Help Wanted issue was created for this.

[2022-06-14 14:45] #20417 closed

[2022-06-14 15:26] yasserfaraazkhan commented on #18174
@saturninoabril , I'll be taking this up. and pushed in this [PR](https://github.com/mattermost/mattermost-webapp/pull/10578)

[2022-06-14 17:48] amyblais commented on #20468
Opened https://mattermost.atlassian.net/browse/MM-45095.

[2022-06-14 20:51] hmhealey commented on #16099
I'll take a look at doing that if I can track down exactly what logic is responsible for that. Unfortunately, I think it's part of the forked infinite scrolling library that we have which hasn't been touched in a while, so I'll need to do some digging for it.

[2022-06-15 05:56] agnivade commented on #15233
Hi all, I've raised a PR here: https://github.com/mattermost/mattermost-server/pull/20472. Thank you for your patience.

[2022-06-15 09:11] esguti opened #20475 "sign-in verification email sent without port"
#### Summary
Send sign-in email address without port

#### Steps to reproduce
Mattermost Version: 6.3.9 self-hosted in a non HTTPS standard port (ex: 3455 instead of 443).
1. Create a channel
2. Invite members using email
3. The invitation email contains a URL without the port:
       https://myserver.com/signup_user_complete/....
       Instead of
       https://myserver.com:3455/signup_user_comp

[2022-06-15 12:53] amyblais commented on #20475
Opened https://mattermost.atlassian.net/browse/MM-45112.

[2022-06-15 19:34] #17289 closed

[2022-06-15 19:44] #20118 closed

[2022-06-15 20:28] #20264 closed

[2022-06-15 20:50] Willyfrog commented on #20396
Files are only expected to be attached once. Closing the issue as it is working as intended.

[2022-06-15 20:50] #20396 closed

[2022-06-15 22:36] thinkGeist commented on #20190
I'd like to pick this one up!

[2022-06-16 05:35] biva commented on #18351
Hello, for the point 2 above, and only for the database migration (everything specific to Mattermost is missing), I found this page with a lot of details and options: https://www.digitalocean.com/community/tutorials/how-to-migrate-mysql-database-to-postgres-using-pgloader

And according to the documentation of pgloader (https://github.com/dimitri/pgloader), it looks quite easy:

I'm afraid to upda

[2022-06-16 06:04] agnivade commented on #18351
1. I would say Mattermost was never safe to be used with MariaDB. It probably worked, but we never tested against it, and cannot give any specific version after which it would become "unreliable".
2. It should be like any standard migration process. pgloader is probably the most commonly used and there are instructions available on the internet. If somebody can try it out and record the steps, tha

[2022-06-16 09:05] nethew opened #20486 "Mattermost web client doesn't work in Seamonkey"
#### Summary
Mattermost web client doesn't work in Seamonkey

#### Steps to reproduce
- Have Mattermost Version: 6.7.1
- Have Seamonkey 2.53.12
- View the web client in Seamonkey

#### Expected behavior
Mattermost working

#### Observed behavior (that appears unintentional)
Three dots animation is shown and the browser console says
SyntaxError: invalid identity escape in regular expression
main.ce

[2022-06-16 10:51] biva commented on #18351
Let me try something then, based on the information found on:
- https://docs.mattermost.com/onboard/migrating-to-mattermost.html#migrating-mattermost-server
- https://github.com/dimitri/pgloader

I created a PR in https://github.com/mattermost/docs/pull/5729
Would somebody be able to review / comment / improve it?

[2022-06-16 12:13] amyblais opened #20487 "Test"

[2022-06-16 12:17] #20487 closed

[2022-06-16 12:51] amyblais commented on #20452
Troubleshooting thread: https://community.mattermost.com/core/pl/qboumdbiipgo8kmm3r371qh5or.

[2022-06-16 12:51] #20452 closed

[2022-06-16 12:54] amyblais commented on #20486
@nethew Here is our list of supported OS versions https://docs.mattermost.com/install/software-hardware-requirements.html#software-requirements.

Feel free to post about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help). Our community members may have some ideas on this!

[2022-06-16 15:16] agnivade commented on #18351
@biva - Just to confirm, have you ran those steps and verified that it works?

[2022-06-16 15:32] #20252 closed

[2022-06-16 16:19] Debilski commented on #18351
Running into an error with pgloader pretty early (`ERROR mysql: 76 fell through ECASE expression.`).

[2022-06-16 16:27] biva commented on #18351
I didn't test it yet: I only have 1 server in production, so I would like to have more feedback and advice and corrections before testing it

[2022-06-16 16:58] agnivade commented on #18351
Ok, I'd suggest someone to test out the steps with a local/dummy mattermost installation and report back. I'd be happy to add it to our docs.

[2022-06-16 17:00] RomanChernyshev commented on #20396
@hmhealey Hi, I've seen this [comment](https://mattermost.atlassian.net/browse/MM-44961?focusedCommentId=129557). Answering : our task is weekly bulk mailing of 20k users. Reusing is critical for space limits.

[2022-06-16 20:13] esethna commented on #18602
@CMooney-01 go for it!

[2022-06-16 20:47] gstlouisgit opened #20493 "Unable to start Collabora on Mattermost 5.37"
I wasn't sure where to put this so I have put this here and https://github.com/CollaboraOnline/collabora-mattermost/issues/55

Summary

When I attempt to start the plugin on Mattermost V5.37 it crashes.

note This did not occur for me on V6.0
This issue seems very similar to https://github.com/CollaboraOnline/collabora-mattermost/issues/40 but my error is different in a way that may be meaningful

[2022-06-16 20:47] #20493 closed

[2022-06-17 05:14] rajeshwarpatlolla commented on #20347
Thanks @amyblais

[2022-06-17 05:14] rajeshwarpatlolla commented on #20347
Any update on this issue? Anyone has some information about why it's not generating the event?

[2022-06-17 11:03] a3957273 opened #20495 "Tutorial video does not work in environments without internet access"
#### Summary
The initial introductory video does not appear to work in environments without internet access

#### Steps to reproduce
1. Disable public internet access on a machine.
2. Host Mattermost
3. Observe tutorial does not load

#### Expected behavior
The video should play

#### Observed behavior (that appears unintentional)
The video does not load

#### Possible fixes
Allow a configurable l

[2022-06-17 11:11] Willyfrog commented on #20396
does it need to be attached to the post? I'd expect in your use case to be linked and hosted elsewhere.

cc/ @esethna for awareness

[2022-06-17 12:48] amyblais commented on #20495
@a3957273 What Mattermost server version are you on? What browser do you use?

[2022-06-17 13:00] gabrielctn opened #20497 "Upload file button fails"
#### Summary
When click on button "Upload file" in the message box, a small white box with shadow appears but is empty.

#### Steps to reproduce
1. Use Mattermost Server 7.0.0 and Mattermost Desktop 5.1.0 with on any OS, or even on the web.
2. In the message box, click on the paperclip icon for file upload.
3. A small white box with shadow appears empty

Only the button fails. Dropping a file or d

[2022-06-17 13:48] gabrielctn commented on #20497
Indeed I have the Draw plugin enabled, and the problem is solved when disabled !

[2022-06-17 14:22] #15233 closed

[2022-06-17 14:59] mkraft commented on #20135
Opened https://mattermost.atlassian.net/browse/MM-45185.

[2022-06-17 14:59] #20135 closed

[2022-06-17 15:42] RomanChernyshev commented on #20396
It's an image. We have a bot-informer and it used to send kind of postcard using slack. After migration to MM we faced with problem of supporting this feature

[2022-06-17 18:35] leitmori opened #20499 "GitLab Single Sign-On broken"
#### Summary
GitLab Single Sign-On is broken (at least in Mattermost Team Edition v7.0.0).

#### Steps to reproduce
1. Configure SSO as described in [docs](https://docs.mattermost.com/onboard/sso-gitlab.html)
2. Verify settings in `config.json` (and restart mattermost afterwards):
[code]
3. Authenticate via GitLab

#### Expected behavior
User is logged in

#### Observed behavior
Error: "Could not

[2022-06-17 18:44] davemarong commented on #20228
I would like to try to help on this issue.

[2022-06-17 18:56] amyblais commented on #20499
@furqanmlk @lindalumitchell Are you able to reproduce this on Team Edition?

[2022-06-17 18:57] #20222 closed

[2022-06-17 19:06] #19999 closed

[2022-06-17 19:53] thinkGeist commented on #20471
I'd like to pick this up if it's still available!

[2022-06-17 20:19] mikeattey opened #20500 "Cannot connect to mattermost server using mobile apps"
After putting in my server url, I get the following message "Cannot connect to the server. Please check your server URL and internet connection." I know I have internet connection on my phone and if I go to the url using the phone web browser I get the login page.
This also happens on the IOS.

I'm using mattermost-ee-7.0 dockerized behind nginx reverse proxy with ssl ,I've tried it with ssl off b

[2022-06-17 20:45] amyblais commented on #20500
Here are the troubleshooting docs that might help: https://docs.mattermost.com/deploy/mobile-troubleshoot.html#i-keep-getting-a-message-cannot-connect-to-the-server-please-check-your-server-url-and-internet-connection.

[2022-06-17 21:49] leitmori commented on #20499
Update: When setting the `Scope` to `openid read_user` you get the following error: `{"timestamp":"2022-06-17 23:21:16.936 +02:00","level":"info","msg":"Gitlab SSO through OAuth 2.0 not available on this server.","caller":"web/context.go:103","path":"/oauth/gitlab/login","request_id":"dacfys18u7ntxcjije1okh4w6c","ip_addr":"127.0.0.1","user_id":"","method":"GET","err_where":"getSSOProvider","http_c

[2022-06-17 21:59] leitmori commented on #20499
Got it working now with scope `read_user` (see #17499). The documentation should definitely be updated, as the following statement is misleading:  **At a minimum, openid is a required scope for the connector to work.**

[2022-06-17 21:59] #20499 closed

[2022-06-17 23:28] tjdownes opened #20502 "New channel button not displayed in desktop or web"
#### Summary
New channel button not displayed in desktop or web

#### Steps to reproduce
On Windows 11, using self-hosted server and desktop 5.1.0 or web Chrome 102.0.5005.115, no + icon is displayed in the UI next to Channels, even when logged in as user with System admin role.
![image](https://user-images.githubusercontent.com/273720/174412297-0c5a5834-6c96-4245-8540-c20414748d5f.png)

![image](

[2022-06-17 23:43] tjdownes commented on #20502
Disregard. I guess I am an idiot. I seem to remember this being a feature, but I guess it's the + icon at the top of the sidebar. It's been a while since we created new channels!

[2022-06-17 23:43] #20502 closed

[2022-06-18 03:38] agnivade commented on #20396
You can upload the image once. Get a link to that image, and use that link that in your message contents.

[2022-06-18 10:52] samia64saleem commented on #18182
I'll take it @marianunez

[2022-06-18 15:35] RomanChernyshev commented on #20396
It's pretty simple but sounds like a solution. Thanks I will try. I even didn't think about it.

[2022-06-19 15:25] #20182 closed

[2022-06-20 00:56] Podesta commented on #20497
Issue also happening if the Voice plugin is enabled.
`Voice (com.mattermost.voice - 0.2.2)`

[2022-06-20 07:18] marsaud opened #20504 "Lingering unexisting thread new reply"
#### Summary
I am notified of a new thread answer that does not exist.

#### Steps to reproduce
I don't know, just happened after upgrading to 7.0.0

#### Expected behavior
I should see all my thread replies are read.

#### Observed behavior (that appears unintentional)
In mattermost browser version: An unread new thread reply is constantly displayed, but the thread reply view shows no thread, and

[2022-06-20 15:24] jgilliam17 commented on #20261
Jira ticket added for QA release testing: https://mattermost.atlassian.net/browse/MM-45210

[2022-06-20 15:38] neallred commented on #17287
Re-opening. Commented in wrong ticket which autoclosed this on accident.

[2022-06-20 15:44] neallred commented on #15450
Grabbing as part of another effort.

[2022-06-20 16:50] sinansonmez commented on #17287
@neallred this should be closed as it is addressed my [PR](https://github.com/mattermost/mattermost-webapp/pull/9902)

[2022-06-20 16:51] #17287 closed

[2022-06-20 21:08] stillya opened #20510 "display who read the message in the channel"
In Telegram you can see who read the message in channel.
I think it's good feature, because right now I gotta set reaction on message to let know user who mentioned me that I read it and he doesn't need to repeat it me in DM.
![Screenshot 2022-06-21 at 03 05 37](https://user-images.githubusercontent.com/39978392/174677716-9bb6b3f0-d270-4be1-a641-eb8988df4831.png)

[2022-06-21 03:05] MattSilvaa commented on #20470
Has someone started to work on this already?

[2022-06-21 04:39] claudio-salvio commented on #20135
Hello

I do not agree in the least with this proposal.
Please allow this to be configurable.
We are not all caught by the excesses of GDPR.

Those of us who have experienced this type of situation on other communication platforms know how bizarre it is to read historical conversations full of @deletedusers interacting with other @deletedusers in absolutely confusing ways.
It is useful to remember

[2022-06-21 06:48] amyblais commented on #20510
Thanks, appreciate your feedback @stillya!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please let us know.

[2022-06-21 06:48] #20510 closed

[2022-06-21 07:59] BrianSalestrekker opened #20514 "Chat |Code and Quote buttons"
﻿Code and Quote buttons are not working as they should in chat. Their functions are switched. When you click on Code button you are getting Quote, and when you click on Quotes button you are getting Code.

Attachments:

﻿Code:
![image (6)](https://user-images.githubusercontent.com/107915796/174747557-3b2ee137-36f8-48e0-a709-4cb461d496b2.png)

﻿Quote:﻿
![image (7)](https://user-images.githubusercon

[2022-06-21 08:51] amyblais commented on #20514
I believe this is working as expected per documentation, but let me know if I missed anything.

The first screenshot shows code https://docs.mattermost.com/channels/format-messages.html#code-blocks.
The second screenshot shows quotes https://docs.mattermost.com/channels/format-messages.html#block-quotes.

[2022-06-21 08:51] #20514 closed

[2022-06-21 09:26] agnivade commented on #14957
@mthaddon - We looked into this. Our search always does a prefix match for first name and last name. So if your first name entry is "Hello World", then you need to search with "Hello" and not "World". My last name is "De Sarker". But while searching for it, I'd search with "De", not "Sarker".

I'd suggest to either search by username or nickname to disambiguate, or otherwise adjust the login provi

[2022-06-21 09:26] #14957 closed

[2022-06-21 12:00] mkraft commented on #20135
@claudio-salvio Thank you for your feedback about wanting this to be configurable or at minimum differentiated via a unique identifier per deleted user. I'll ensure that our product team is aware of your thoughts.

[2022-06-21 13:53] #20021 closed

[2022-06-21 14:43] a3957273 commented on #20495
Hey, we're on 7.0.1-rc1 and I'm viewing it in Chrome.  The issue seems to be that you're hardcoding a link to a `fast.wistia.net` link which doesn't work in segregated environments!

[2022-06-21 14:51] hmhealey commented on #20396
Good idea, Agniva. You might need to turn on public links for files for that, but that sounds like it'd probably work

[2022-06-21 15:30] mattermod opened #20519 "CRT: Channel preference to auto-follow all threads in the channel"
Currently the only way to auto-follow threads is to participate in them, start them or be mentioned.

This ticket is to add a **channel notification preference** to auto-follow all threads in a specific channel. With this setting enabled, every thread in the specific channel will be auto-followed and appear in users Threads view. **The default is off.**

### Figma design (with notes)

[https://www

[2022-06-21 18:38] simonv3 commented on #10059
We're getting this on our local server running 6.7

After selecting "Invite People" and then clicking on "Copy invite link"

![image](https://user-images.githubusercontent.com/485583/174873611-0c3be447-3f2c-40cc-9b5a-ae67d14f6dfb.png)

Unfortunately at the moment (though I'm working on it) I don't have server access to the Mattermost, so can't debug it that way, just curious if there's a setting o

[2022-06-21 18:56] esethna commented on #19555
Hi @codedsun, are you still working on this? If we're unsure about the "group constrained" case we can just skip it and address in a follow-up PR, I'd hate to block this great work so far.

[2022-06-21 22:11] brynwhyman opened #28073 "Messages not showing until quit+reopen app"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [x] (Maybe - hard to recreate) This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server re

[2022-06-21 22:55] wezm opened #20520 "Large pop-up advertising Mattermost Cloud shown to my users (self-hosted)"
#### Summary
Large pop-up advertising Mattermost Cloud shown to my users (self-hosted instance).

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

I don't have precise steps however this morning one of the users on my self-hosted Mattermost instance commented on seeing a pop-up advertising Mattermost Cloud. When I switched to my laptop (from my phone) I was als

[2022-06-22 06:17] ramilehti commented on #20520
Advertisements IMHO do NOT qualify as "End User Notices", which I had enabled. If I disable them can someone please assure me that my users will not get ads.

[2022-06-22 06:33] amyblais commented on #20495
Opened a ticket: https://mattermost.atlassian.net/browse/MM-45249.

[2022-06-22 07:01] amyblais commented on #20520
This is used to share visibility of the new free forever plan for Cloud. It's only sent once.

It's part of our in-product notices feature for new releases or versions - they can be disabled via the System Console: https://docs.mattermost.com/configure/configuration-settings.html#notices.

This is the GitHub repository https://github.com/mattermost/notices.

[2022-06-22 07:05] wezm commented on #20520
That's not entirely unreasonable but I think it only makes sense to show it to admins. I don't think it's worth disrupting all the users on an instance with this information that doesn't necessarily make any sense to them.

[2022-06-22 07:27] amyblais commented on #20520
I'll ping the product team to confirm on that decision cc @jasonblais @esethna

[2022-06-22 08:23] endgame commented on #20520
I for one am glad to hear this, thanks for confirming.

As an end user, I think new client features are very relevant to my interests.

[2022-06-22 09:03] itsupportcmsukorg commented on #20520
Today's example is in my view an ad for an _alternative_ service and not a notice about 'relevant end user features' of our internal Mattermost. Notices like this appear to end users as if our Mattermost Admin is endorsing/encouraging them to go and set-up additional Mattermost instances in the cloud away from our internal organisational app.

We like your animated notices introducing new features

[2022-06-22 09:14] Gaibhne opened #20533 "Let us configure, change or disable hotkeys"

[2022-06-22 14:47] jbattistispiria commented on #20123
@mattermod I like to take this one.
How should the icon be rendered? Like this:
![image](https://user-images.githubusercontent.com/103535117/175058858-8ba74c38-4a7d-4364-ad51-af548874e581.png)

The extra icon is generated in the post header.

[2022-06-22 15:41] jasonblais commented on #20520
Thanks both for the feedback! Very helpful for future notices to ensure they remain relevant for the audience.

cc @esethna on the above thread as well

[2022-06-22 16:48] amyblais commented on #20123
@catalintomai Perhaps you may know?

[2022-06-22 16:52] catalintomai commented on #20123
@amyblais, sorry, not familiar with this feature. @DHaussermann , can someone from QA redirect this to the right team/owner?

[2022-06-23 01:03] CMooney-01 commented on #18602
@esethna @amyblais

Just wanted to give an update - working through some issues getting my dev environment set up with the wonderful people in the Ask Anything channel. Have not yet started on issue but will do so asap :)

[2022-06-23 01:11] esethna commented on #18602
Thanks for the update @CMooney-01!

[2022-06-23 07:22] LukasFiniarel opened #20528 "Installing Plugin fails (Marketplace and upload via SystemConsole)"
Hello,

I just wanted to install a plugin (Playbook) from the Marketplace.
After I clicked on install I get the error message `Internal Server Error`.
The server log gives the following message in this case
`{"timestamp": "2022-06-23 09:13:44.542 +02:00", "level": "error", "msg": "Could not find the requested marketplace plugin.", "caller": "web/context. go:105","path":"/api/v4/plugins/marketplace

[2022-06-23 07:23] amyblais opened #20529 "Test"

[2022-06-23 07:23] amyblais commented on #20529
/cloud-ff

[2022-06-23 07:23] mattermod commented on #20529
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-06-23-backup (SHA: `4c890a2`)
    - mattermost-webapp:refs/heads/cloud-2022-06-23-backup (SHA: `62c108e`)
    - enterprise:refs/heads/cloud-2022-06-23-backup (SHA: `cbcde43`)
    - mattermost-api-reference:refs/heads/cloud-2022-06-23-backup (SHA: `26e10f0`)

### Fast-Forwarded branches
    - m

[2022-06-23 07:24] #20529 closed

[2022-06-23 08:23] amyblais commented on #20528
@LukasFiniarel What Mattermost server version are you on?

[2022-06-23 08:24] LukasFiniarel commented on #20528
Mattermost-Version: 7.0.0
Database schema version: 85
Database: mysql

[2022-06-23 08:34] kyeongsoosoo commented on #18781
@esethna Can I work on this issue?

[2022-06-23 08:41] amyblais commented on #20528
This sounds to be related to an issue tracking the ability to install pre-packaged plugins that aren't in the marketplace (https://community.mattermost.com/core/pl/8noz8k9ktpbpfdyhnfmby7xr4e). Pinging @lieut-data to comment if I'm wrong.

[2022-06-23 08:52] LukasFiniarel commented on #20528
Other plugins can actually be installed via the Marketplace.
Unfortunately, the upload via the system console still does not work.
Tested with [Icebreaker Plugin](https://github.com/monsdar/mattermost-icebreaker-plugin)

[2022-06-23 09:26] Gaibhne opened #20530 "Hotkeys steal/override more global hotkeys, and are not configurable, changable or deactivatable (in the client)"
#### Summary
When the Mattermost web client is focused, it hijacks already assigned hotkeys, with no way to opt out other than to close the client.

#### Steps to reproduce
1. Assign a hotkey to something else (Ferdium Team switching in my case)
2. Open Mattermost web client
3. Hotkeys assigned in 1. no longer work if Mattermost assigned the same ones

#### Expected behavior
Mattermost to either a

[2022-06-23 09:54] Afsoon commented on #16723
May I take this issues? I see it's up for grabs.

[2022-06-23 10:19] isacikgoz commented on #20448
Hey @Debilski I couldn't reproduce this issue, is there any integrity errors on your database? Or are there any log errors while trying to create an export file?

[2022-06-23 10:21] amyblais commented on #20530
Opened: https://mattermost.atlassian.net/browse/MM-45292.

[2022-06-23 10:32] juliavav opened #20531 "Mattermost search doesn't work with text attachments"
#### Summary
Search engine doesn't work with text in message attachments text and text fields.

#### Steps to reproduce
Mattermost Enterprise Edition
Mattermost Version: 6.7.0
Search some text from a message text attachment.

#### Expected behavior
I can find messages by the text from message text attachments and text fields. Now it works only with message text.

#### Observed behavior (that appea

[2022-06-23 10:52] amyblais commented on #20531
Opened: https://mattermost.atlassian.net/browse/MM-45293.

[2022-06-23 10:53] #20497 closed

[2022-06-23 13:22] amyblais commented on #20533
Duplicate of https://github.com/mattermost/mattermost-server/issues/20530.

[2022-06-23 13:25] lieut-data commented on #20528
I've filed https://mattermost.atlassian.net/browse/MM-45296 to track the underlying breakage with the marketplace, and am listing Playbooks via https://github.com/mattermost/mattermost-marketplace/pull/300 to work around this limitation.

@LukasFiniarel, this should hopefully be resolved in the next few hours. Sorry for the churn!

[2022-06-23 15:54] simonv3 commented on #10059
Okay we upgraded to 7.0.0 and this now looks like it should work. I'll create a ticket if it doesn't!

[2022-06-23 17:20] jbattistispiria commented on #18429
@mattermod I'll take this one.

[2022-06-23 17:57] lindy65 commented on #18429
Thanks @jbattistispiria :)  Feel free to reach out to @hmhealey if you have any questions or need any help...

[2022-06-23 20:21] mkraft commented on #20135
@claudio-salvio Please see https://mattermost.atlassian.net/browse/MM-45185?focusedCommentId=129804 from our product manager.

[2022-06-24 01:52] dillfrescott opened #20536 "Cannot access the create account button on safari for iOS."
#### Summary
Cannot access the create account button on safari for iOS.

#### Steps to reproduce
Invite someone to your team who has an iPhone, the create account button is blocked by the search bar and you cannot scroll down.

#### Expected behavior
You should be able to scroll the page down to reach the button.

#### Observed behavior (that appears unintentional)
It is blocked by the safari sear

[2022-06-24 06:01] LukasFiniarel commented on #20528
Thanks @lieut-data
The installation of the Playbook Plugion via the Marketplace just worked.

Unfortunately, uploading plugins via SystemConsole still does not work.
Any suggestions here on how to solve this problem?

[2022-06-24 06:31] kaakaa opened #20537 "Attached unnecessary ellipsis to context menu text with Japanese translation"
#### Summary
With Japanese translations, ellipsis dots is added to context menu text even though any characters are not omitted.

<img width="445" alt="スクリーンショット 2022-06-24 15 17 39" src="https://user-images.githubusercontent.com/1453749/175475236-4aa7da0a-a8c4-4ded-8201-aa09c71533b3.png">

#### Steps to reproduce

1. Set language to 日本語 (Japanese) from **Settings > Display > Language**.
2. Open c

[2022-06-24 07:00] amyblais commented on #20536
Opened https://mattermost.atlassian.net/browse/MM-45313.

[2022-06-24 07:01] amyblais commented on #20537
Opened https://mattermost.atlassian.net/browse/MM-45314.

[2022-06-24 09:29] zamazan4ik opened #20539 "Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know).

This kind of information is important for the end-users.

Thanks in advance!

[2022-06-24 09:52] amyblais commented on #20539
Opened https://mattermost.atlassian.net/browse/MM-45316.

I'm guessing the information could be added at https://docs.mattermost.com/getting-started/architecture-overview.html or at https://docs.mattermost.com/install/software-hardware-requirements.html.

[2022-06-24 15:51] JqckB opened #20543 "Can't render link because emoji interpretation"
#### Summary

I have some URL that contain sometimes some :( in it, so when I'm trying to generate a link with it, it render the emoji instead of rendering the URL. I have this issue in message and in incoming webhooks.

#### Steps to reproduce

Exemple URL :

[code]

#### Expected behavior

Test

#### Observed behavior (that appears unintentional)

<img width="851" alt="Screenshot 2022-06-24 at 1

[2022-06-24 16:53] #17286 closed

[2022-06-24 17:06] #19907 closed

[2022-06-24 18:13] esethna commented on #15399
@g-ravity let us know if you're still working on this?

[2022-06-24 19:50] #20207 closed

[2022-06-26 15:16] achalagarwal commented on #17130
@amyblais I can see a similar regression in `Mattermost Version: 6.7.0`

I am not sure how to reproduce it (its not the same way as listed in the OP) but the after effects are the same i.e.:
1. Everything after text cursor is deleted
2. Undo History isn't there (more specifically Ctrl-Z doesn't work)

[2022-06-26 22:34] kkreine commented on #16173
Hi @deanwhillier, is this issues resolved, or is there further work needed to be done?

[2022-06-27 02:38] NgoHuy opened #20547 "[Feature Request] Automatically reindex bleve after upgrade new version"
Hi MatterMost team,

#### Summary
Every time I upgraded new mattermost version, I must reindex bleve manually. Should we have api or feature to reindex automatically?

#### Steps to reproduce
Upgrade mattermost-server to new version. Search on search bar, nothing returned.

#### Expected behavior
After upgrading new version, We can use old index or auto reindex.

Best regards,
Severus

[2022-06-27 04:59] LukasFiniarel commented on #20528
No, as already written in my original post I get an error label with "Received invalid response from the server.".
In the server log I get no message at all.
Uploading plugins has already worked in previous versions of Mattermost. Since then, no configurations have been changed on the server.
I have also tested this with several plugins. None of them worked.

[2022-06-27 07:07] ZS-Andisch opened #20549 "Unable to activate plugin: Caller"
My Mattermost is self hosted in Version 7.0.1

The new Caller Plugin doesn't work.

In my mattermost.log i find this line:
{"timestamp":"2022-06-27 07:00:11.363 Z","level":"error","msg":"Unable to activate plugin","caller":"app/plugin.go:139","plugin_id":"com.mattermost.calls","error":"unable to generate webapp bundle: com.mattermost.calls: unable to read webapp bundle:  com.mattermost.calls: open

[2022-06-27 07:20] nicolas-goudry commented on #19776
Thanks @Yzzzi for reporting that the GCS S3-compliant storage is not working with Mattermost so I don’t have to test it. @amyblais IMO this is not a feature, it’s a bug on Mattermost side with its S3 implementation… Other providers are compliants with the S3 API so it _should_ work with GCS.

In the meantime, I’m also using an old version of MinIO GCS gateway because I don’t want to setup a full M

[2022-06-27 07:38] amyblais commented on #20549
@ZS-Andisch Would you be open to moving this issue to the Calls repo https://github.com/mattermost/mattermost-plugin-calls/issues? When you do so, please also help include the following details if possible:

**JS Console Logs**

1. Dots menu -> View -> Developer Tools for Current Tab.
2. Right Click -> Save as…

[2022-06-27 07:40] #20520 closed

[2022-06-27 09:27] #20342 closed

[2022-06-27 11:28] ZS-Andisch commented on #20549
Moved this request to https://github.com/mattermost/mattermost-plugin-calls/issues/133

[2022-06-27 11:28] #20549 closed

[2022-06-27 11:42] Yinameah opened #20552 "Inserting an image tag breaks code block new lines"
#### Summary
Inserting an image tag (`![title](url)`) breaks code block new line (`<br>` displayed instead)

#### Steps to reproduce
Type the following in a message :

[code]
    a code block
    on multiple lines
[code]

#### Expected behavior
The code block and the image should appear normally

#### Observed behavior (that appears unintentional)
The newlines inside the code block are transformed

[2022-06-27 11:50] antonbuks opened #20553 "Insights thread opening"
#### Summary
In insights you can open threads from the top threads section, if you open a thread from a channel you are not in from team insights, it opens a blank RHS sidebar

#### Steps to reproduce
From the insights tab, go to team insights and from top threads open a thread in a channel you are not in.

#### Broken thread example
<img width="1485" alt="Screenshot 2022-06-27 at 13 50 04" src="h

[2022-06-27 12:41] amyblais commented on #20552
Opened https://mattermost.atlassian.net/browse/MM-45349.

[2022-06-27 12:41] amyblais commented on #20553
Opened https://mattermost.atlassian.net/browse/MM-45350.

[2022-06-27 14:05] sinansonmez commented on #17250
@amyblais there are still some documents to be migrated. I can work on them. Please assign this to me

[2022-06-27 14:06] sinansonmez commented on #17247
@amyblais if @pachkovska is not working on this I can work on this

[2022-06-27 14:09] sinansonmez commented on #19979
@amyblais could you please assign this to me?

[2022-06-27 14:33] lieut-data commented on #20528
In the server log I get no message at all.

Hmm, this is definitely hard to debug without a corresponding server log error. Do you have Nginx or some other proxy in between you and the server? If you SSH onto the box, can you install a plugin via `mmctl` successfully?

[2022-06-28 00:47] nidak7 commented on #15697
@amyblais I guess, this can be closed

[2022-06-28 00:48] yasserfaraazkhan commented on #15697
@amyblais I guess, this can be closed

[2022-06-28 00:49] yasserfaraazkhan commented on #18161
@amyblais I guess, this can be closed

[2022-06-28 00:49] yasserfaraazkhan commented on #18164
@amyblais I guess, this can be closed

[2022-06-28 04:58] LukasFiniarel commented on #20528
No NGINX or similar is used as a proxy.
I tried to install a plugin with mmtcl.
`bin/mmctl plugin add /home/lukas/com.nilsbrinkmann.icebreaker-2.2.2.tar.gz`
Unfortunately without success.
I also tried sudo and changing the ownership of the plugin file.
I always get this error message:
`Error: cannot read user credentials, maybe you need to use login first: stat /root/.config/mmctl/config: no such

[2022-06-28 07:04] #15697 closed

[2022-06-28 07:04] #18161 closed

[2022-06-28 07:04] #18164 closed

[2022-06-28 07:57] Debilski commented on #20448
Hmm, so apparently this could have been related to our old mariadb instance. (Which got the job done, so it was only until recently that we learned that it is not supported.)
We have done a db export to mysql in the meantime (now still in test mode) and here everything seems to be working fine with the bulk export, indeed.

[2022-06-28 08:50] agnivade commented on #20448
Thanks for the confirmation @Debilski !

[2022-06-28 08:50] #20448 closed, assigned to nobody

[2022-06-28 10:27] biva commented on #18351
Hello @agnivade and community members: I have tried to provide some documentation and steps in https://github.com/mattermost/docs/pull/5729, but I'm not skilled enough and I can't do it alone :( Nobody is able to share some feedback or corrections? 😿 I need you! 🤗

[2022-06-28 10:49] Willyfrog commented on #20223
Reopening the issue.
system console doesn't allow file type, but once you do that (which is a simple change) server replies with:

[code]

[2022-06-28 10:50] Willyfrog commented on #20223
@lapaz17 do you want to take the issue again?

[2022-06-28 11:07] Willyfrog commented on #20504
there was a ticket already for that https://mattermost.atlassian.net/browse/MM-43939

[2022-06-28 15:32] lieut-data commented on #20528
Thanks, @LukasFiniarel! This error suggests that `mmctl` is just failing to interact with the server at all, vs. helping us reproduce the inability to install plugins. One way you can avoid these login issues is to enable [Local mode](https://docs.mattermost.com/manage/mmctl-command-line-tool.html#local-mode) -- perhaps try that and reproduce the plugin installation attempt?

[2022-06-28 15:57] hmhealey commented on #20530
Thanks for the report! It's intended that we override certain hotkeys (like ctrl+u overriding show source in the browser), but I can definitely see situations you'd want to turn those off.

Normally, we'd direct you to file a feature request, but I see you've already done that, so thanks for that. Hopefully, we can get some more community support on that which'd let us prioritize it. I'd personall