[2021-07-07 15:07] biva commented on #17873
I'm not sure if this issue should be in desktop or server? I put it here because it should be valid for the web app as well.

For information, I think this feature is also asked here: https://mattermost.uservoice.com/forums/306457-general/suggestions/38108740-have-the-option-to-configure-special-specific-noti

[2021-07-07 15:18] amyblais commented on #17872
### v5.37 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.37.0-rc1/mattermost-team-5.37.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4702/files)

[2021-07-07 17:42] esethna commented on #15024
For anyone interested in taking this on, please see the dev review comments on this PR to understand the feedback and proposed changes based on this work: https://github.com/mattermost/mattermost-webapp/pull/8161

[2021-07-07 19:47] aigyptios opened #17878 "Deleted thread message displays timestamp on top of "(message deleted)""
#### Summary
Deleted thread message displays timestamp on top of "(message deleted)"

#### Steps to reproduce
Version 4.5.0.6629
User 1 creates a post (Message A)
User 2 replies to Message A with Message B
User 2 replies to Message A with Message C
User 2 deletes Message C

#### Expected behavior
The timestamp should display to the left of the "(message deleted)".

#### Observed behavior (that app

[2021-07-07 20:29] amyblais commented on #17878
@aigyptios Would you be open to upgrading to a more recent version (our most recent version is 5.36.1)?

[2021-07-07 20:36] aigyptios commented on #17878
I think it's an enterprise account, and I'm not the system administrator 😅  so I can't exactly do that. But honestly I only opened the issue so as to make it known; if it's already been fixed or tracked or determined not to be an issue in later versions, feel free to close this out.

[2021-07-07 20:39] amyblais commented on #17878
Looks like there is a ticket actually https://mattermost.atlassian.net/browse/MM-32187 :)

[2021-07-07 20:42] aigyptios commented on #17878
Ah, my apologies for duplicating this! I didn't find that issue earlier--feel free to close this if necessary.

[2021-07-08 02:24] AkromDev commented on #17707
Hello @esethna.

I noticed that this task is not assigned to anyone yet.
If @neallred is not working on it, I would be happy to take on this task.

I looked into the code & design and I think I know how to do this.

[2021-07-08 05:23] agnivade commented on #17858
@hammenm - It seems like you are not setting the `create_at` field in the user json body. Can you show me the full curl request that you are making? The behavior hasn't changed from 5.31 to 5.32. I can see the failure in both versions.

However, our API documentation is [incorrect](https://api.mattermost.com/#operation/UpdateUser) as it does not say that `create_at` is a required field for updatin

[2021-07-08 07:15] alexander-potemkin commented on #17638
It seems to start happening more and more often now; even my attempt to scroll things up doesn’t work - it returns back, cutting the last message - to read it I have to scroll things up with my finger and keep it there to read

[2021-07-08 09:20] hammenm commented on #17858
Hello @agnivade

Thank you for this answer!

I should have send you the curl request before. My mistake was that I actually added the `create_at` field, but it was a string parameter and not an integer... I now did the request with this correction and it worked!

It was definitly my mistake, and it was not coming from Mattermost.

Thank you for your help! 🙂

[2021-07-08 09:21] agnivade commented on #17858
No worries :) I will create a separate HW ticket to fix our documentation.

[2021-07-08 09:21] #17858 closed

[2021-07-08 11:24] mightyBroccoli commented on #17862
@mkraft thank you 😄

[2021-07-08 12:31] byron-hawkins opened #17885 "Constantly requesting to update my status"
Every time my name appears in the chat sequence, it says "update your status". No, I will not update my status. Remove this text.

[2021-07-08 13:16] amyblais commented on #17885
@esethna FYI for feedback on custom statuses ^

[2021-07-08 14:27] sivabalan2694 commented on #11532
@tuxity Your method worked. Thanks 🙏

[2021-07-08 16:54] esethna commented on #17885
Hi @byron-hawkins, you simply need to open the modal to clear that text:
![image](https://user-images.githubusercontent.com/14333569/124961494-6aa11580-dfd2-11eb-82e5-536f98059993.png)

[2021-07-08 17:09] esethna commented on #17707
I think @neallred is still working on this, but I'll let him comment on that

[2021-07-08 19:10] ocrete commented on #15012
Here is another profiling log from Firefox. In this case, I had a "thread" open on the right side and typing in there is painfully slow.
[mattermost-typing.json.gz](https://github.com/mattermost/mattermost-server/files/6786748/mattermost-typing.json.gz)

[2021-07-08 20:47] hmhealey commented on #17865
@amyblais Perhaps we can forward this onto whichever team handles Cloud issues? Perhaps they'd be able to look further back to see whether or not this instance had any errors occur at the time.

[2021-07-08 21:56] jasonblais commented on #17865
@hmhealey Amy actually escalated this to the Cloud team yesterday, but I thought it was messaging related. Sorry about that.

Is it that you're suggesting the Cloud team to check the logs for this particular workspace, to see what errors (if any) took place?

[2021-07-08 23:22] amyblais commented on #17638
Opened a new ticket: https://mattermost.atlassian.net/browse/MM-36921

[2021-07-09 09:10] alexander-potemkin commented on #17638
Thanks. Any ETA? It's quite annoying..

[2021-07-09 14:55] jwilander commented on #15012
Thanks @ocrete, that's helpful! Was it a long thread (eg. 50+ replies)? One of the things we're adding right now to the RHS threads is virtualization which will only render the replies in the thread on screen (we already do this in the center channel). This should help a lot with performance in longer threads. @koox00 is working on that right now https://mattermost.atlassian.net/browse/MM-36698.

[2021-07-09 16:02] hmhealey commented on #17865
No worries. This is one of those things that's kind of difficult to have a single owner for since it's hard to tell who owns it until someone actually investigates it.

Yeah, that's correct. Given we haven't had this reported anywhere else, I'd assume it's a possibly rare error occurring here that the web app isn't handling well.

[2021-07-09 17:27] ocrete commented on #15012
@jwilander No, the thread was rather short (<10 messages), but I'm in may channels and most of them have large backlogs, but I'm not sure if it matters. I have low performance even in threads with 3 messages, but another thread with 8 messages is even sloewr I think. Actually, in that channel, even typing in the main window is slow for some reason. this is actually slow typing

[2021-07-09 17:30] jwilander commented on #15012
Hmm interesting. What version are you on? And does your server have a lot of traffic? Eg. lots of people constantly posting in channels you're a member of even if you're not looking at them right now. That's another hotspot that we've identified and have made fixes for recently that will be in the upcoming 5.37 release.

[2021-07-09 17:43] #16933 closed

[2021-07-09 17:45] ocrete commented on #15012
We're on 5.35.4, it doesn't have so much traffic, maybe 150 users, but I think I can see it even when most people are not active.

[2021-07-09 18:19] jwilander commented on #15012
Thanks, that's helpful. One more question, do you only see the issues on Firefox? Or do they persist on Chrome, other browsers or the desktop app too?

https://github.com/mattermost/mattermost-webapp/pull/8302 should result in some improvement and is currently slated for 5.38. We're continuing to dig into the issues further.

[2021-07-09 18:30] amyblais commented on #17859
It looks like a valid bug, so I opened a ticket just in case https://mattermost.atlassian.net/browse/MM-36943

[2021-07-09 19:46] ocrete commented on #15012
In Firefox, every letter is slow, but in Chrome, many are fast, but then it blocks for some letters.

[2021-07-09 21:31] #15142 closed

[2021-07-10 13:30] elandorr opened #17900 "any user can kick anyone else on the open source edition - very important issue to fix as there is no log of who did it"
#### Summary
Any user can kick anyone else on the open source edition - very important issue to fix as there is no log of who did it.

#### Steps to reproduce
Try kicking someone as a regular user. Even the admins!

#### Expected behavior
minimal, primitive permission management

#### Observed behavior (that appears unintentional)
See title. **There is no log of who did it**, so you cannot even ki

[2021-07-11 09:48] ThiefMaster commented on #17730
This doesn't seem to follow the CommonMark spec (see this [demo](https://spec.commonmark.org/dingus/?text=Testing%20code%20blocks%20in-line%20%60%60%60code%20block%60%60%60%20testing%0A%0A%60%60%60code%20block%60%60%60%0A%0A%60%60%60%0Acode%20block%0A%60%60%60)), and it doesn't match the way e.g. GitHub renders markdown either:

Testing code blocks in-line ```code block``` testing

```code block``

[2021-07-11 10:50] ahmadkarlam commented on #17730
Not only three backtick place on new line, but it's different UI though

[2021-07-11 19:20] btxtiger commented on #16241
@osresearch I hat restart mattermost server, then it worked for me

[2021-07-12 06:28] softmastx commented on #11500
Anybody know to to fix this issue?

[2021-07-12 12:45] mattermod opened #17904 "Make plugins servers aware of whether the Mattermost instance is enterprise-ready"
Right now, the server side of plugins has no way of knowing whether the Mattermost instance is enterprise-ready or not. This state is stored in a global variable in mattermost-server, but never shared with the plugins.

Expose a new Plugin API:

[code]

That simply returns the value of `model.BuildEnterpriseReady` from the running server. Note that a plugin can’t import this package and access the

[2021-07-12 16:33] neallred commented on #17707
I did some prior work to see what it would take to make the experiences consistent (chat here: https://community.mattermost.com/core/pl/tr1epqd9big7zr3xh3dsmqdwxw ). @AkromDev go ahead and work on it! I took another ticket so it might be a while before I can get to this one.

[2021-07-12 19:59] jayaddison-collabora opened #17906 "Short-mode unit tests: UserService.TestNew may fail"
#### Summary
The [`UserService.TestNew`](https://github.com/mattermost/mattermost-server/blob/347af1c61220b4ccc052979db26c061862936220/services/users/service_test.go#L13-L30) test fails during [short-mode unit testing](https://github.com/mattermost/mattermost-server/blob/347af1c61220b4ccc052979db26c061862936220/Makefile#L398).

#### Steps to reproduce
Run the short-mode unit tests.

#### Expected

[2021-07-12 20:58] nishit-prasad commented on #17904
Hello I'm new and beginner in Go and would like to work on this. Is that okay for me to take this up?

[2021-07-12 21:17] esethna commented on #17707
@AkromDev I assigned it to you!

[2021-07-13 00:51] AkromDev commented on #17707
Thanks @esethna, I will start working on it tomorrow after work.
Thanks @neallred for the link, I will go through the discussion before doing any changes.

[2021-07-13 08:40] jayaddison-collabora opened #17911 "mattermost-webapp tests: FetchError: Nock: No match for request on GET api/v4/brand/image"
#### Summary
When `mattermost-webapp` tests run within a GitLab runner container, a `FetchError` occurs with a reason of `Nock: No match for request ...`.

#### Steps to reproduce
A GitLab continuous integration environment configured with the `.gitlab-ci.yml` from mattermost/mattermost-webapp#8316.

#### Expected behavior
Tests should pass.

#### Observed behavior (that appears unintentional)
The

[2021-07-13 13:09] jayaddison-collabora commented on #17911
A fix might be as straightforward as adding a promise rejection handler (`catch` clause) to the relevant [`fetch` action](https://github.com/mattermost/mattermost-webapp/blob/4f94e80ea5809871d06e0c4610eb6f3b7c4f93fe/components/admin_console/brand_image_setting/brand_image_setting.jsx#L64-L72) - I'm testing that out as a possible approach.

Handling fetch failures by setting `brandImageExists` to `

[2021-07-13 14:10] hmhealey commented on #17781
Thanks for the suggestion, @Michael-E-Rose!

Unfortunately, this isn't something we're planning on doing. We usually try to match the Markdown/CommonMark specs for things like this since it makes it easier to ensure everything is working correctly. While it's sometimes inconvenient or a bit ugly like this case, it makes it easier for people familiar with Markdown from other places to use it here.

[2021-07-13 14:10] #17781 closed

[2021-07-13 14:36] matthewbirtch commented on #14604
Closing this as it's been sitting stale for a long time and UX needs to re-prioritize and make some more updates

[2021-07-13 14:36] #14604 closed

[2021-07-13 16:35] #17747 closed

[2021-07-13 18:13] hanzei commented on #17904
Awesome, thank you @nishit-prasad :+1: Please let me know if you have any questions.

[2021-07-13 20:12] jwilander commented on #15012
I've submitted a PR here https://github.com/mattermost/mattermost-webapp/pull/8396 that should hopefully help. @ocrete (or anyone else) would you mind creating an account on the test server for that PR [by going here](https://mattermost-webapp-pr-8396.test.mattermost.cloud/signup_user_complete/?id=yfsamjtey3gr9kamjyaxh8bf1c) and seeing if the typing performance is better? I loaded a bunch of test

[2021-07-13 20:21] kongr45gpen commented on #15012
From a very quick test in Firefox, it seems that the performance is order of magnitudes better in the new PR! Compared to a server with an older version, the letters appear to be written instantly, even though the profiler still shows a large number of DOM events.

Note: I typed `@sysadmin` in the search bar to populate the RHS with a number of DOM elements.

[2021-07-13 20:48] ocrete commented on #15012
I can confirm the same observations here, it's a huge improvement.

[2021-07-13 21:05] #17244 closed

[2021-07-14 02:52] renchili opened #17918 "[API] wrong permission"
#### Summary
Bot account cannot call create_bot
 "error": "Failed to Create Bot: : You do not have the appropriate permissions., "

#### Steps to reproduce
using a bot token with system_admin right to call this
[code]

#### Expected behavior
system_admin should able to call API to create a bot

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant err

[2021-07-14 07:34] renchili commented on #17820
any update
it takes too long time

[2021-07-14 12:17] amyblais commented on #17820
A dev left a note in the Jira ticket saying that this will be addressed in the future as part of a larger effort around multiple paste issues.

[2021-07-14 12:30] Michael-E-Rose commented on #17781
Strange choice indeed. I will propose a change to the definition of ordered lists to the CommonMark guys. In my mind it's not an ordered list if it doesn't start with "1.".

[2021-07-14 12:58] amyblais commented on #17872
### v5.37 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.37.0-rc2/mattermost-team-5.37.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4702/files)

[2021-07-14 13:08] amyblais commented on #17918
@catalintomai @isacikgoz Are you able to reproduce this and is this a regression?

[2021-07-14 14:00] mattermod opened #17924 "Unify playbook_run_list components"
We currently have:
- `webapp/src/components/backstage/playbook_runs/playbook_run_list/...` a component displayed when you click on the main "Runs" tab in the backstage.
- `webapp/src/components/backstage/playbooks/playbook_run_list/...` a component displayed on the playbook page when you select a specific playbook.

These separate components are very similar and should be shared. `webapp/src/compo

[2021-07-14 15:20] jwilander commented on #15012
That's great to hear! Thanks for the help with the profiles and testing. That really let us narrow down the issue a bunch. After it gets tested for regressions and dev reviewed we'll get that merged. We'll consider backporting it to older versions too.

[2021-07-14 18:39] amyblais commented on #17918
cc @DHaussermann @furqanmlk if you're able to reproduce ^

[2021-07-14 19:45] DHaussermann commented on #17918
@amyblais and @renchili It is the expected behavior that a bot token is not permitted to create a bot.

This is the existing behavior and I believe has been the case since bot accounts were introduced. I don't recall the reason for this exception. We could follow-up with a PM if we feel there is value in changing this.

[2021-07-15 06:36] mmodrow opened #17929 "Custom Status not properly synced across multiple clients"
In my company we use custom status icons to mark our physical location (in office vs home office). This results in users usually logging in to one system as 🏠 or 🏡 and to another as 🏢.
For some reason this is not synced in any way. When I leave the office pc and start the laptop I see my status as 🏡, but my colleagues still see 🏢. When I rdp into my pc I see 🏢 there and 🏡 on my laptop.
Today a col

[2021-07-15 08:22] nishit-prasad commented on #17904
Thank you! Let me review the docs and will post my concerns, as applicable!

Appreciate it!

[2021-07-15 14:47] amyblais commented on #17929
We've done some bug fixes related to custom statuses after the 5.33 release. Maybe you'd like to consider upgrading to a more recent version to see if that helps (v5.37.0 is releasing tomorrow)? We also have a [community server here](https://community.mattermost.com/) (on the latest version), where you could do some testing as well.

[2021-07-15 14:50] #17872 closed

[2021-07-15 16:39] #17797 closed

[2021-07-15 20:54] lieut-data commented on #17861
Thanks again, @nika-begiashvili! This will be shipping in the v1.15.0 we cut today and hope to release on Tuesday :)

[2021-07-15 20:54] #17861 closed

[2021-07-16 03:11] KallanX opened #17935 "Mattermost server fails to start on Ubuntu 18.04"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-07-16 04:27] agnivade commented on #17935
It looks like the inotify syscall is somehow failing, which is a bit strange given you are installing on Ubuntu 18.04. Just to confirm, you have downloaded the linux_amd64 release tarball correct?

Can you also show me the output of `sysctl fs.inotify` and `grep INOTIFY_USER /boot/config-$(uname -r)`?

[2021-07-16 08:14] mmodrow commented on #17929
Our admin plans to update the gitlab instance soon. Let's see which MM version will be included. I will respond with an update regarding this issue afterwards.

[2021-07-16 10:08] KuestenKeks opened #17937 "Misleading error message when a link preview target uses a bad SSL certificate"
#### Summary
When a link preview is generated for a website with a bad SSL certificate the user is presented with an error message stating that "There is a configuration issue with this Mattermost Server...". But this is not the case.

#### Steps to reproduce

- On Mattermost 5.35.4 post a link to a domain that uses an untrusted SSL certificate
- e.g.: http://besserhier.de/2021/06/09/der-wirtschaf

[2021-07-16 14:25] KallanX commented on #17935
Interesting. So, I guess I have to be more specific to the environment I'm deploying this in. I'm actually running a FreeBSD server with a jailed Ubuntu 18.04. Do we have any options to deploying Mattermost with a compatibility layer between inotify and kqueue?

[2021-07-16 14:35] agnivade commented on #17935
Ah ok so that's the issue.

Underneath, we are just using [fsnotify](https://github.com/fsnotify/fsnotify/#file-system-notifications-for-go) which has support for both inotify and kqueue. I am guessing it depends on how exactly the translation layer is implemented. From what's happening, it seems like the syscall is failing with an `ENOSYS`, so the "jailing" is somehow blocking this syscall from f

[2021-07-16 14:54] #17834 closed

[2021-07-16 15:18] amyblais commented on #17937
Opened a ticket: https://mattermost.atlassian.net/browse/MM-37162

[2021-07-16 15:33] #17318 closed

[2021-07-16 15:57] #17911 closed

[2021-07-16 18:40] KallanX commented on #17935
**Update:** I started a new FreeBSD jail - 13.0-RELEASE-p3. Still running into the same issue:

{"level":"info","ts":1626460445.8579957,"caller":"app/server.go:247","msg":"Server is initializing...","go_version":"go1.15.5"}
{"level":"info","ts":1626460445.858042,"caller":"app/web_hub.go:93","msg":"Starting websocket hubs","number_of_hubs":16}
{"level":"info","ts":1626460445.8595695,"caller":"i18n/

[2021-07-16 22:11] KallanX commented on #17935
**Update:** Tried this on the bare metal FreeBSD 13 server. Same error.

{"level":"info","ts":1626473425.2693584,"caller":"app/server.go:269","msg":"Server is initializing...","go_version":"go1.15.5"}
{"level":"info","ts":1626473425.2698097,"caller":"app/web_hub.go:93","msg":"Starting websocket hubs","number_of_hubs":16}
{"level":"info","ts":1626473425.2705338,"caller":"i18n/i18n.go:93","msg":"Loa

[2021-07-17 04:26] agnivade commented on #17935
A linux/amd64 build won't work on freebsd. You have to compile the server yourself.

[2021-07-17 14:35] Michael-E-Rose commented on #17781
I inquired with the CommonMark folks. My proposal to only trigger ordered list not just on any digit but on "1. " only (similar to Slack's definition of an ordered list, or GitHub Flavored Markdown) isn't popular, but there is a solution: One can simply escape the dot if the sentence starts with "\d. ". Example: `5\. Klasse`.

[2021-07-19 12:26] amyblais commented on #17866
@BenCookie95 @mkraft Wondering if you'd have any further thoughts on this issue? ^

The support team did some troubleshooting in the [forum issue](https://forum.mattermost.org/t/elasticsearch-is-not-used/11894), but they couldn't figure out the cause.

[2021-07-19 14:48] agarciamontoro commented on #17319
Hi @grvv, is there anything we can do to help with this and the other tickets (https://github.com/mattermost/mattermost-server/issues/17352 and https://github.com/mattermost/mattermost-server/issues/17353) you wanted to tackle? Please don't hesitate to ask anything you need!

[2021-07-19 15:45] mattermod opened #17951 "Migrate `webapp/src/components/backstage/playbook.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/backstage/playbook.scss` to styled-components.

The goal of

[2021-07-19 16:00] mattermod opened #17952 "Migrate `webapp/src/components/rhs/playbook_run_details.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/rhs/playbook*run*details.scss` to styled-components.

The g

[2021-07-19 16:00] mattermod opened #17953 "Migrate `webapp/src/components/profile/profile_selector.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/profile/profile_selector.scss` to styled-components.

The g

[2021-07-19 16:00] mattermod opened #17954 "Migrate `webapp/src/components/profile/profile_button.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/profile/profile_button.scss` to styled-components.

The goa

[2021-07-19 16:00] mattermod opened #17955 "Migrate `webapp/src/components/profile/profile.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/profile/profile.scss` to styled-components.

The goal of th

[2021-07-19 16:00] mattermod opened #17956 "Migrate `webapp/src/components/backstage/playbook_runs/playbook_run_list/status_filter.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/backstage/playbook*runs/playbook_run_list/status*filter.scs

[2021-07-19 16:00] mattermod opened #17957 "Migrate `webapp/src/components/backstage/playbook_runs/playbook_run_list/seach_input.scss` to styled-components"
A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/backstage/playbook*runs/playbook_run_list/seach*input.scss` to styled-components.

The goal of this ticket is to delete the migrated file without causing any styling regressions. To do this you will have to

[2021-07-19 16:00] mattermod opened #17958 "Migrate `webapp/src/components/backstage/playbook_runs/playbook_run_list/playbook_run_list.scss` to styled-components"
This issue is for the Incident Collaboration (soon to be Playbooks) plugin: https://github.com/mattermost/mattermost-plugin-incident-collaboration

A migration is underway towards styled-components to increase code quality and isolate and modularize our css. This `Help Wanted` issue is to migrate all the styles from `webapp/src/components/backstage/playbook*runs/playbook_run_list/playbook_run*list

[2021-07-19 16:07] mkraft commented on #17866
Thanks @amyblais We'll take a look, maybe conscripting @streamer45's help as—I'm guessing—our team's SME on Elasticsearch.

[2021-07-19 18:03] kongr45gpen commented on #15012
I've cherry-picked this commit in a used server, with collapsible reply threads enabled, and can confirm the massive improvement in performance as well

[2021-07-20 05:23] ewwollesen commented on #17281
Running unit tests tonight, so should have an official  PR soon hopefully.

[2021-07-20 09:30] streamer45 commented on #17866
@Zsyh2619
Can you provide the contents of the `ElasticsearchSettings` section from `config.json`? You can skip/blank any sensitive setting like ConnectionUrl, Username and Password.

Also it would be helpful if you could enable debug logs, reproduce the issue (try a few searches) and then share the produced server logs.

[2021-07-20 11:18] jasonblais commented on #17281
Great! Thanks for the update :tada:

[2021-07-20 13:48] #17835 closed

[2021-07-20 18:38] baek-sang opened #17970 "Ignore config.json "ExperimentalDefaultChannels" & "Town Square" channel"
#### Summary
Restart mattermost after set config.json file
[code]
but create new team, "Town Square" channel created

#### Steps to reproduce
Server 5.37.0 self-host E0

#### Expected behavior
- Delete or change default channel.
- Don't create "Town Square" channel.

#### Observed behavior (that appears unintentional)
![ccccc](https://user-images.githubusercontent.com/69100154/126377470-27b49e20-c

[2021-07-20 19:09] amyblais commented on #17970
As per [the documentation](https://docs.mattermost.com/configure/configuration-settings.html#default-channels-experimental), "Note that even if town-square is not listed, every user is added to that channel after joining a new team."

However, with the other default channels being created as empty, @hmhealey @lindalumitchell are you able to reproduce that and is it a regression?

[2021-07-20 20:03] baek-sang commented on #17970
@amyblais How to leave(delete) Town Square channel? or change url.

[2021-07-21 03:01] Zsyh2619 commented on #17866
@streamer45
The ElasticsearchSettings section from config.json：
"ElasticsearchSettings": {
    "ConnectionUrl": "http://elasticsearch:9200",
    "Username": "",
    "Password": "",
    "EnableIndexing": true,
    "EnableSearching": true,
    "EnableAutocomplete": true,
    "Sniff": true,
    "PostIndexReplicas": 1,
    "PostIndexShards": 1,
    "ChannelIndexReplicas": 1,
    "ChannelIndexShards":

[2021-07-21 08:29] Bobo357 opened #17974 "MFA login stopped working for Android app"
We've been running Mattermost server for a long time but recently we noticed that when MFA is enabled for a user then app stops after entering MFA token. It concerns multiple users and only Android app. One user that has both Android and iPhone confirmed that he is able to login using iPhone but not with Android.

Server version:
Version: 5.36.0
Build Number: 5.36.0
Build Date: Thu Jun 10 13:14:06

[2021-07-21 08:36] streamer45 commented on #17866
Looking at the logs the search seems to be working fine but that only returns ids. The problem appears to be the final fetching from the database which is timing out. That could be a sign of a performance issue with the database. Assuming you are running MySQL, could you share results of the following:

[code]

[2021-07-21 12:04] alexander-potemkin commented on #17638
@enahum , it seems to happen more often, after I take iPad out of the keyboard, change it orientation vertical (to work around the bug with missing smiles), and then place it back horizontal to the keyboard stand.

[2021-07-21 12:05] alexander-potemkin commented on #17638
@amyblais , sorry to bother you, but the bugs with smiles and messages seems to be reported like 2 months ago and still with no bug fix on that. Do you have any time estimate or an idea when it could be worked out?

[2021-07-21 13:15] neallred commented on #17728
Fixed in https://github.com/mattermost/mattermost-webapp/pull/8224

[2021-07-21 13:15] #17728 closed

[2021-07-21 13:55] jwilander commented on #15012
Awesome, thanks @kongr45gpen !

For your knowledge and everyone else's on the thread:

There were a couple issues with drafts not persisting correctly after the changes. Fixes for those have been merged now:

* https://github.com/mattermost/mattermost-webapp/pull/8411
* https://github.com/mattermost/mattermost-webapp/pull/8428

We're testing them on community-daily.mattermost.com right now to make

[2021-07-21 14:14] hmhealey commented on #17970
@baek-sang Unfortunately, it's not possible to leave/delete the Town Square. There are parts of Mattermost that rely on it existing, so even if you were to find a way to leave/delete it, it would cause parts of the app to stop working.

[2021-07-21 16:32] ccoenen commented on #15012
Thank you for the analysis, patch and testing to everyone involved!

[2021-07-21 16:45] mattermod opened #17979 "Create API endpoint for deleting bot accounts"
This endpoint should be limited to system admins

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel

[2021-07-21 17:30] mattermod opened #17980 "MM Apps - When an app is uninstalled, the corresponding OAuth app remains visible in the webapp session until you refresh"
When I uninstall an app (Zendesk or Service Now for example), the corresponding OAuth app remains visible in the backstage UI until I refresh the webapp.
**note* This issue may be minor as the app will only show in the same browser session where the list was viewed. I have confirmed locally that the app *does** get deleted from the DB.

This may not be MM Apps specific.

When this happens, the OAt

[2021-07-21 18:58] amyblais commented on #17974
@Bobo357 We haven't been able to reproduce this, does MFA work on browser?

[2021-07-22 02:01] Zsyh2619 commented on #17866
This is the result:
mysql> SHOW FULL COLUMNS FROM Posts;
+--------------+--------------+--------------------+------+-----+---------+-------+---------------------------------+---------+
| Field        | Type         | Collation          | Null | Key | Default | Extra | Privileges                      | Comment |
+--------------+--------------+--------------------+------+-----+---------+-------+----

[2021-07-22 02:13] renchili commented on #15012
@jwilander  thanks for the news, but 5.31.x still in life cycle means it will no longer be maintained?

[2021-07-22 03:49] psvnlsaikumar commented on #17979
I am interested in picking this ticket. Let me know if this is an immediate requirement, because I am quite new to golang, but looking to contirbute.

[2021-07-22 05:02] Bobo357 commented on #17974
1. Yes, MFA works in Chrome on same device that has app MFA problems.
2. 11.0.7.7
3. no

[2021-07-22 06:18] streamer45 commented on #17866
Thanks, everything looks good schema wise.

Yes, the search is happening on ES but that does return post ids. The application needs to fetch the full posts (from DB) before returning them to the client. This last bit seems to be taking a long time, most probably due to poor DB performance.

- What's the value of `SqlSettings.QueryTimeout`? It may help to increase that a bit but otherwise everythin

[2021-07-22 06:45] Zsyh2619 commented on #17866
SqlSettings.QueryTimeout is 30.
MySQL running in docker without resource limitation.
I notice that elasticsearch stores the complete content of the message. Why return the ID instead of the message content. Our data volume is 5 million, so MySQL performance will definitely decline.

[2021-07-22 07:08] streamer45 commented on #17866
Well, ES may store the message content but all the metadata is only in the DB and needs fetching in order for the client to properly display it. Also, the query that's timing out is rather trivial and shouldn't be taking that long even on large datasets because it means anything else post related (e.g. loading channels) could eventually suffer the same way. My recommendation would be to look into

[2021-07-22 07:32] Bobo357 commented on #17974
The other user who has problem has Android 10 and Xiaomi Mi Mix 2S.
So completely different Android versions and phone manufacturers (I have Oneplus 8 Pro).

[2021-07-22 10:23] alexander-potemkin commented on #17639
@amyblais , any ETA on this?

[2021-07-22 11:57] jasonblais commented on #6320
Hi everyone,

We are excited to announce that we will be moving the [System Permissions Scheme](https://docs.mattermost.com/onboard/advanced-permissions.html#system-scheme-e10) from our Advanced Permissions feature into our open source Team Edition with the 6.0 release on September 15.

We welcome feedback and questions in our forum post ahead of the September 15 release: https://forum.mattermost.

[2021-07-22 11:58] jasonblais commented on #17900
@elandorr Thank you for your feedback!

Hi everyone,

We are excited to announce that we will be moving the [System Permissions Scheme](https://docs.mattermost.com/onboard/advanced-permissions.html#system-scheme-e10) from our Advanced Permissions feature into our open source Team Edition with the 6.0 release on September 15.

We welcome feedback and questions in our forum post ahead of the Septemb

[2021-07-22 12:53] amyblais commented on #17639
I don't have a specific update at this moment, the ticket is in one of our dev teams' queue.

[2021-07-22 14:47] amyblais commented on #17970
@hmhealey Thanks, is it a bug that the other default channels are created as empty as shown in the screenshot https://github.com/mattermost/mattermost-server/issues/17970#issue-948936877?

[2021-07-22 17:27] lindalumitchell commented on #17970
We don't have a regular test case for this experimental setting that I could find. I'll do some more investigation to see if I can find more info / reproduce the empty channels.

[2021-07-22 20:59] thinklikeadesigner commented on #17957
I've been working with styled components a lot lately, can I take this?

[2021-07-22 21:56] komik966 commented on #15975
Is it good that the theme's settings view (TableView / sections) has exactly the same look on Android as on iOS?

<img width="918" alt="Screen Shot 2021-07-22 at 23 44 47" src="https://user-images.githubusercontent.com/8155563/126713596-e5bdf2a2-4877-41c6-879e-c0023c640d5b.png">

I'm asking because I'm not sure if I should implement a separate theme's settings view for Android as it's been done fo

[2021-07-22 22:32] esethna commented on #15975
Thanks @komik966. My thought is that it's fine as is to start and we can improve that separate from this scope of work.

Excited that you've picked this back up, let us know if we can help. This is such a high impact change!

[2021-07-23 00:03] lindalumitchell commented on #17970
I found some [original test steps from when this was added](https://mattermost.atlassian.net/browse/MM-11180). It does appear that there is a bug here, but not exactly as originally described. How it should work:
1. Create new public channels PublicA and PublicB on TeamOne
2. Set Team Settings.ExperimentalDefaultChannels to ["publica", "publicb"]
3. Add new user to TeamOne
Expected: New user is me

[2021-07-23 01:02] idaL commented on #17735
Sorry couldnt work on this ticket. Unassigned myself

[2021-07-23 11:51] J0WI opened #17991 "[Docker] Upgrade to Alpine 3.14"
From https://github.com/mattermost/mattermost-docker/issues/484

#### Summary
Upgrade Docker base image to Alpine 3.14

#### Possible fixes
Similar to 10af90fa2749da89d065cd7e04991a3aca18ee4a or https://github.com/mattermost/mattermost-docker/commit/c1dea8605b8464d03a8150be24392c2983c424d7

[code]

[2021-07-23 14:39] jwilander commented on #15012
@renchili 5.31.x is still in support until October and we'll be releasing a new version of it with the above fix.

[2021-07-24 22:54] elandorr commented on #17900
@jasonblais That sounds useful, thank you! You know what else would be really useful: retention policies/ways to clean up storage and the database. Right now a MM server is not really maintainable.

[2021-07-25 12:48] TheDarkestDay commented on #15652
@esethna
I took a look at this Mattermost design guideline for [banners](https://zeroheight.com/29be2c109/p/0034fb-banners--notices). This document mentions two possible variants of the banner's apperance - general and info.

The thing is that "general" banner features exactly the same color we have on mockups for enable notifications banner. So, should we simply treat this banner as "general" one

[2021-07-25 21:51] compiledsound commented on #17259
I can pick this up

[2021-07-26 08:37] nishit-prasad commented on #17904
Question, I am new in Go and wanted to know where exactly do I have to expose this API in? Any specific file or directory where this can be globally used?

[2021-07-26 15:26] nikkinagar commented on #17270
I'd like to pick this up

[2021-07-26 16:06] esethna commented on #15652
@TheDarkestDay ya I think using general is fine! Thanks!

[2021-07-26 20:58] bitsapien commented on #16226
I'd like to pick this up !

[2021-07-27 04:18] agnivade opened #18004 "Fix staticcheck errors from _test.go files"
#### Summary

Remove the exclude section from .golangci.yml file for staticcheck

[code]

Run `make golangci-lint`

Fix all the issues.

Please feel free to ping here for any questions.

[2021-07-27 08:19] tsabi opened #18006 "Password reset link expired too soon (or other problem)"
#### Summary
Password reset link expired too soon

#### Steps to reproduce
* I registered a user on community.mattermost.com weeks ago
* Than i wanted to join to community-daily.mattermost.com, but it said that my account is already registered
* So i clicked on the password reset link (that happened yesterday at 18:07)
* Today at 10:00 i clicked on the link i got on email, and it jumped me to the

[2021-07-27 13:46] anshabhi commented on #17733
Hello, I am just getting started with both Go and React, and I would like to pick up this issue both as a way to enhance my knowledge and contribute to Open Source.
I am pretty good with Node, JS, and Python and I can learn Go and React pretty quickly.
My portfolio website: http://anshabhi.github.io

[2021-07-27 13:57] lieut-data commented on #17904
@nishit-prasad, take a look at these two PRs that hopefully illustrate the kinds of changes required:
* Adding the api to the RPC API: https://github.com/mattermost/mattermost-server/pull/17832
* Adding the api to the wrapper API: https://github.com/mattermost/mattermost-plugin-api/pull/95

[2021-07-27 14:30] mattermod opened #18010 "Create config setting to always have the team sidebar visible"
Some plugins render their components in the team sidebar, but the sidebar is only visible when the user is a member of more than one team. It would be useful to be able to configure the system to always show the team sidebar, so that users with only one team membership can use the plugin properly.

----
If you're interested please comment here and come [join our "Contributors" community channel](h

[2021-07-27 15:25] liehart commented on #18010
Hello, I'm interested to this issue. May i take this up?

[2021-07-27 15:38] haardikdharma10 commented on #18010
Hi @liehart, sure, please go ahead. As this is `Up For Grabs`, you can start working on it and someone will assign it to you shortly.

[2021-07-27 15:47] anshabhi commented on #17733
From my initial research, it seems I would need to work primarily with this file: [messages_notification.html](https://github.com/mattermost/mattermost-server/blob/d97daaa1ded834b9c9c339ebfbf12078a54b4810/templates/messages_notification.html). Is this correct?

[2021-07-27 16:30] amyblais commented on #17733
cc @esethna

[2021-07-27 16:59] amyblais commented on #18006
@DSchalla @furqanmlk Is it expected that password reset link expires in less than 24 hours, who would know?

[2021-07-27 18:35] esethna commented on #17733
@jespino or @hmhealey is that correct? ^

[2021-07-28 09:18] bujinin opened #18017 "Runtime Error after upgrading from 5.33 to 5.37"
#### Summary
Upgraded from 5.33.0 to 5.37.0 yesterday, basically everything is working but the logs show a runtime error (pasted below).

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Upgrade to 5.37.0 using a nginx reverse proxy (and using a corporate proxy for the server if that matters)

#### Expected behavior
No errors in the logs

#### Observed behavior

[2021-07-28 10:46] VijayKumarKTG commented on #17958
Hi @mattermod, I would love to contribute to this issue. :)

[2021-07-28 11:54] BlackManson opened #18018 "Webhook losing some of content from Katalon TestOps"
#### Summary
Katalon TestOps offer intergration with Slack webhook
I configure it to use webhook but mattermost don't recognize all of content

In mattermost I've got only second part of webhook message
![slck2](https://user-images.githubusercontent.com/12750176/127316986-2f9c8f8f-3e47-458a-ae6a-45513efc8098.PNG)

On slack I've got
![slack2](https://user-images.githubusercontent.com/12750176/12731

[2021-07-28 11:56] jasonblais commented on #17900
Thanks @elandorr for the feedback, appreciate it.

Wondering if you were open to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/help-wanted)?

We do have [data retention policy](https://docs.matt

[2021-07-28 13:08] bujinin commented on #18017
Could figure it out myself - it's a known issue:
https://docs.mattermost.com/install/self-managed-changelog.html#known-issues

[2021-07-28 13:08] #18017 closed

[2021-07-28 13:23] amyblais commented on #18018
@DHaussermann @catalintomai Is this webhook supported?

[2021-07-28 14:24] amyblais opened #18019 "Join us for our Mobile-only Week from August 2nd to August 6th, 2021!"
Mobile-only Week is a week when we use the mobile app like we would use webapp or desktop app on a regular work day to find what features and functionalities are missing from our mobile apps. Mobile-only Week is a great opportunity to share feedback on the mobile apps so that we can better understand where to prioritize our future efforts. Anyone with a mobile and/or tablet device can participate.

[2021-07-28 17:21] liehart commented on #18010
Does this issue have to be implemented at mattermost-webapp too? For server side I have open a PR https://github.com/mattermost/mattermost-server/pull/18013. Please let me know if i did correctly.

[2021-07-28 18:37] eunicode commented on #17954
Hi, I'd like to take up this issue!

[2021-07-28 21:43] hmhealey commented on #17733
Yeah, that looks correct. It's possible that changing some of the other templates in that folder might be required since emails used to at least be made up of a few templates combined, but that seems to be the right place to start.

[2021-07-29 01:57] paddy-hack opened #18021 "Incompatible table collation settings for new tables"
#### Summary
Newly created tables do not use a collation setting that is compatible with existing tables.

#### Steps to reproduce
- set up an instance of Mattermost 5.34 with MySQL 8.0.25
- login and create a few posts (or restore from a sample dump)
- change the collation setting on all tables (except `schema_migrations`) to `utf8mb4_general_ci`.  Leave `schema_migrations` at `utf8mb4_unicode_ci

[2021-07-29 04:22] yedamao commented on #18004
I'd like to work on this issue.

[2021-07-29 06:53] alexander-potemkin commented on #17638
@enahum , @amyblais , @anyone?

[2021-07-29 08:27] komik966 commented on #15975
I think changes for the mobile app are ready (I need to fix & write some tests)
![demo](https://user-images.githubusercontent.com/8155563/127458074-d5701af0-e10a-4541-82ca-b8ee03ccebdf.gif)
Now I'm working on webapp.

[2021-07-29 12:20] amyblais commented on #17638
I don't have a specific update, the ticket is in the Mobile team's queue. Maybe @enahum has more.

[2021-07-29 12:26] ladifire opened #18025 "Mail send to SPAM folder with Gsuite"
Hi,
I’ve deploy Mattermost on Ubuntu server, everything is ok but Email is not send to Inbox folder. It’s always marked as SPAM (Gmail). But when run on my local server with self-sign certificate, it’s OK (all mails is sent to INBOX folder). These are difference between them:

This is message was SUCCESS sent to INBOX:
![INBOX](https://user-images.githubusercontent.com/51266596/127491444-f6df5d07-

[2021-07-29 15:30] mattermod opened #18030 "Disable autofill on interactive dialogs"
Similar to https://mattermost.atlassian.net/browse/MM-35138, the browser autofill should be disabled for Interactive Dialogs. See https://github.com/mattermost/mattermost-webapp/pull/7982 for an example fix that disables autofill.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily

[2021-07-29 17:11] amyblais commented on #18021
@streamer45 / @agnivade Let me know if you're familiar with this issue.

[2021-07-29 17:39] streamer45 commented on #18021
@paddy-hack

I believe the solution is to set the collation to `utf8mb4_0900_ai_ci` for every table as explained in https://docs.mattermost.com/install/software-hardware-requirements.html under "MySQL 8 Support".
Let me know if you still have troubles after doing that.

[2021-07-29 17:51] alexander-potemkin commented on #17638
Thank you, @amyblais ! @enahum ?
Is there anyone checking on the queue? I understanding, there are always a lot of things on the roadmap, but I’m quite depressed to see how the product is moving, in comparison to Slack - nor that I like cloud products, but Slack seems to be so much more polished (using both Mattermost & Slack, and compare it every day).

[2021-07-29 17:57] enahum commented on #17638
@alexander-potemkin I'm afraid the issue is not reproducing for me.. I've been using the app on an iPad Pro 11 for a few days now with and without an external keyboard.

Regardless of this, there are a few changes already in the next version (the one I'm using) so perhaps you could give the beta app a try and see if it is fixed for you with that one

[2021-07-29 19:16] amyblais opened #18032 "Mattermost v5.38"
You can find key dates for v5.38 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### July 30th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Aug 12th: Release Build Cut
The fina

[2021-07-29 19:39] haardikdharma10 commented on #18030
Hey @mickmister, is [this](https://github.com/mattermost/mattermost-webapp/blob/master/components/interactive_dialog/interactive_dialog.jsx#L204) the right line to replace?

[2021-07-29 19:44] haardikdharma10 commented on #18004
@yedamao, sure, please go ahead. Let us know if you have any questions 🙂

[2021-07-29 23:01] paddy-hack commented on #18021
Thanks for the quick follow-up but I mentioned *why* I haven't changed to `utf8mb4_0900_ai_ci`.

Just to be clear, I cannot take my instance off-line for what looks to be more than a day (and who knows how much longer).  So far, things have been working fine for me using `utf8mb4_general_ci` and I'd appreciate it if things stay that way.

I'll have another look at the time required to change the c

[2021-07-29 23:13] paddy-hack commented on #18021
I see that I forgot to mention in the original description that my MySQL server (official Docker image, `mysql:8.0.25`) is running with the following configuration snippet
[code]
where the `ngram_token_size` has been modified for better search results with Japanese.

[2021-07-29 23:30] mickmister commented on #18030
@haardikdharma10 Yep that's what's needs updating :+1:

[2021-07-30 05:24] alexander-potemkin commented on #17638
@enahum , thank you, but the issue happens on iPad Pro 12.9, not on iPad Pro 11 is there any chance you can test on it?
On iPad Pro 11 - do you have predictive & shortcuts enabled in the keyboard settings?

[2021-07-30 06:18] enahum commented on #17638
No predictive enabled, will give it a try.

For the iPad 12 it will be on a Simulator that is not very accurate in my opinion, but I can give it a quick pass

[2021-07-30 07:32] alexander-potemkin commented on #17638
If you have both predictive & shortcuts enabled, you get this little bar at the very bottom - if you don’t have it, it might be the thing that screw things.

iPad 12.9 on Simulator (with physical keyboard?) - I don’t believe it could work, but if there are no other options…

[2021-07-30 07:33] streamer45 commented on #18021
@paddy-hack

Thanks for the additional context. The main reason the `Posts` table causes such long migrations is due to the presence of multiple full-text indexes that need rebuilding. To avoid downtime but still go ahead with the changes I'd suggest using an online schema change tool like https://www.percona.com/doc/percona-toolkit/3.0/pt-online-schema-change.html . Let us know if that could be a

[2021-07-30 07:40] enahum commented on #17638
I'll have to try with a Sim for 12.9"

With shortcuts and predictive enabled works fine on my iPad Pro 11 with soft and hard keyboards

[2021-07-30 09:21] agarciamontoro commented on #17319
Opening this and the other tickets (#17352 and #17353) up for grab again due to inactivity. @grvv, feel free to re-grab them (maybe just one at a time?) if you're still interested :)

[2021-07-30 09:22] agarciamontoro commented on #17353
Up for grabs again, as explained [here](https://github.com/mattermost/mattermost-server/issues/17319#issuecomment-889762089).

[2021-07-30 09:22] agarciamontoro commented on #17352
Up for grabs again, as explained [here](https://github.com/mattermost/mattermost-server/issues/17319#issuecomment-889762089).

[2021-07-30 09:27] alexander-potemkin commented on #17638
Thank you. I only have issue with hardware keyboard and physical iPad Pro 12.9 - I hope you will be able to localize that issue.

[2021-07-30 10:28] alexander-potemkin commented on #17638
@enahum - I tried to work without this keyboard bar at the bottom, but Mattermost still ‘hides’ latests messages - so it’s not a matter of the keyboard bar; as a fool guess - probably the algorithms to calculate a proper position doesn’t work right on the bigger screen?

[2021-07-30 15:05] amyblais commented on #18032
### v5.38 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.38.0-rc1/mattermost-team-5.38.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4810/files)

[2021-07-30 18:30] mattermod opened #18036 "Omit "Run" prompt for deleted playbooks"
Playbooks can be deleted, hiding them from the playbookst list in the backstage, but they remain accessible and linked through any past runs and a permalink to that playbooks overview page.

From the overview page, one can still click "Run", except nothing happens. Let’s detect this case and remove the “Run” button when the playbook is deleted.

----
If you're interested please comment here and co

[2021-07-30 18:40] alexander-potemkin commented on #17638
one more observation - it happens after mattermost comes from the foreground and only on new messages - not sure if it’s a cold start or just return from the background; doesn’t seem to happen when switching between the channels (at least, in my last days of observation; will double check that particular statement).

[2021-08-01 07:21] ahmadkarlam commented on #17730
Hi, sorry I've been busy lately, maybe you can unassign me in this issue.

[2021-08-02 06:36] karoolpl opened #18038 "Failed to alter column type","error":"pq: default for column \"timezone\" cannot be cast automatically to type jsonb"
#### Summary
Hi, error upgrading mm version, postgresql version 13.2

#### Steps to reproduce
docker image, using community ediiton, tag master

#### Expected behavior
Automaticcly upgrade, don't work

#### Observed behavior (that appears unintentional)

ALTER TABLE users ALTER COLUMN timezone TYPE jsonb USING timezone::jsonb

reuot:
ERROR:  default for column "timezone" cannot be cast automatical

[2021-08-02 09:36] agnivade commented on #18038
It seems like you have non JSON data in that column. That's why the migration is failing.

I'm afraid you will need to look into the column for which row is bad and manually fix that.

@streamer45 - perhaps something to add in the release notes for cases like these.

[2021-08-02 09:56] karoolpl commented on #18038
ye i know it's error with conversion, but it's auto, so I think that a lot of people will have this problem, trying to update to latest version. My postgresql db was made with mattermost 5.X version, to this point, new version went automaticly, cuz i set policy for my kubernetes cluster, to download always never image, and now i needed to fallback to 5.38 which works fine

[2021-08-02 15:18] compiledsound commented on #17259
have user and teamMember been flattened into UserWithGroup or should we use TeamMembership for teamMember?

[2021-08-02 15:47] ConallI commented on #17955
Hi, I would like to contribute if this isn't already being worked on.

[2021-08-03 00:08] paddy-hack commented on #18021
Thanks for the feedback.  Looks like I can use that Percona Toolkit utility remotely so there's no need to install it in my MySQL container image.  Of course, (temporarily) installing it is not a problem either.  I may give this a spin.

The link to the `collation` parameter indicates that this only affect client-server communication so I'd expect no change in terms of table collation order.

Stil

[2021-08-03 05:46] paddy-hack commented on #18021
I tried the `pt-online-schema-change` utilitiy against a test setup, like so
[code]
So that seems to work fine and complete in a reasonable time.

Just out of curiosity I also ran
[code]
on the same MySQL database.

Load on the machine running the database was more or less constant, so the online conversion is somewhat faster.

My earlier attempts taking 20+ hours were on an old, resource constrai

[2021-08-03 07:06] streamer45 commented on #18021
That's great to hear, please let us know how that goes.

That makes sense given the bottleneck on these schema changes is almost always i/o throughput.

Tables are explicitly created with `charset=UTF8MB4` so the collation defaults to whatever is mapped to that in `SHOW CHARACTER SET`.

[2021-08-03 07:15] streamer45 commented on #18038
We were hoping this wouldn't affect many users given the application should always insert valid JSON. If the db data has been manipulated by external processes (e.g. plugins) then I can see this being an issue. There are also cases (especially in MySQL) where improper input data could get silently truncated due to varchar limits.

Unfortunately there isn't a good way to fix this automatically with

[2021-08-03 08:44] Zeezee1210 commented on #17613
Hi,
I'd like to take a shot at this.
I've drafted a PR as a starter and would appreciate any help/feedback.

[2021-08-03 12:47] #16743 closed

[2021-08-03 13:08] amyblais commented on #18019
Here are additional instruction on how to join the Mattermost Mobile app beta program: https://mattermost.com/blog/mattermost-mobile-app-beta-program/.

[2021-08-03 13:45] mattermod opened #18046 "Add accessibility to emoji picker skin tone selector"
Currently the emoji picker’s default skin tone selector is missing the Aria attributes to be picked up by screen readers. This means we need to add a label, role, description and maybe alter the order on which the tabs goes through so it can be actioned.

while originally the report was concerning JAWS, it requires a license, so having it being read by another screen reader such as the MacOS or Wi

[2021-08-03 13:45] mattermod opened #18047 "emoji search should be restricted to the selected emoji"
Steps to reproduce:

1- open emoji picker

2- start typing the name of an emoji that has skin tone variants (like 👋  `:wave:`)

Expected:

emoji appears with the current skin tone

3- select a different skin tone while the search results are still there

Expected:

old emoji disappears and the one with the new skin tone appears

Observed:

Both appear.

In order to fix this, we need to clear the i

[2021-08-03 14:00] mattermod opened #18048 "Unable to select categories when tabbing through emoji picker"
On Firefox and Safari, when opening the emoji picker, we should be able to use the `tab` key to navigate from the search input box to the default skin selector and then the categories. Currently it jumps to the emoji displayed and navigating through these also present problems as the list doesn't scroll with the selection.

if the problem is related to accesibility, you might consider taking assig

[2021-08-03 16:33] LauSam09 opened #18049 "Sidebar channel group headers visible through sidebar menu during opening animation"
#### Summary
Sidebar channel group headers visible through sidebar menu whilst it is animating.

#### Steps to reproduce
Tested on version 5.36.0 in Chrome 92.0.4515.107 (Linux) and Firefox 90.0.2 (Linux):
1. Open the menu with sidebar channel group headers positioned behind it.
2. Observe that they are visible with full opacity throughout the duration of the menu opening animation.

#### Expected

[2021-08-03 16:45] mattermod opened #18050 "Add query parameter to translate in-product help pages"
The in-product help pages are opened in a new browser tab when the user clicks on the Help link below the post textbox. If the user is using the desktop app, the help pages will open in the browser. If the user hasn't into the web app in their browser, those pages will be in English instead of their selected language.

Since those help pages are visible without logging in, we'll have to add a `loc

[2021-08-03 21:57] esethna commented on #15975
@komik966 nice!!!

[2021-08-03 22:46] paddy-hack commented on #18021
Thanks for the explanation.  However, this does not explain why the `IR_System` table ends up with `utf8mb4_general_ci`, in agreement with the `collation-server` in my setup.

[2021-08-03 23:04] amyblais commented on #18049
Thanks, opened a ticket https://mattermost.atlassian.net/browse/MM-37615.

[2021-08-04 03:15] icelander opened #26879 "[Feature Request] Incorporate `slack-advanced-exporter` and `mmetl`"
The current process to import data from Slack involves two separate binaries to first download file attachments and emails and then convert to the Mattermost Bulk Export format: [slack-advanced-exporter](https://github.com/icelander/slack-advanced-exporter) and [mmetl](https://github.com/mattermost/mmetl).

It would be a much better user experience if `mmctl` could handle importing from Slack dire

[2021-08-04 12:36] amyblais commented on #18025
I'll close this one as there is discussion on our troubleshooting forum https://forum.mattermost.org/t/mail-send-to-spam-folder-with-gsuite/11988.

[2021-08-04 12:36] #18025 closed

[2021-08-04 16:30] mattermod opened #18062 "Customizable auto-categorization of playbook runs"
**Note**: This is a ticket for the [Playbooks](https://github.com/mattermost/mattermost-plugin-playbooks) project.

The pull request [https://github.com/mattermost/mattermost-plugin-playbooks/pull/598](https://github.com/mattermost/mattermost-plugin-playbooks/pull/598) added a feature to auto-categorize playbook runs for every user that joins any of them. This first implementation used a hard-code

[2021-08-04 16:46] agarciamontoro commented on #18062
cc/ @madhavhugar, in case you are still interested in contributing :)

[2021-08-04 21:41] Caboose700 opened #18063 "MFA Ignored on Password Reset Request"
#### Summary
When using "I forgot my password", the user is not prompted for their MFA OTP when trying to reset the password.

#### Steps to reproduce
Select "I forgot my password", follow the directions in the Email, reset the user password.

#### Expected behavior
It is expected that when a user has setup MFA for their account, the user is required to use their MFA OTP to authorize the password

[2021-08-05 06:17] madhavhugar commented on #18062
@agarciamontoro I'll pass on this opportunity at the moment. Thank you very much for your consideration :)

[2021-08-05 08:04] agarciamontoro commented on #18062
No problem! Thanks for the quick reply, I hope to see you around again in the future :)

[2021-08-05 08:26] mzch opened #18065 "5.37.x server can't show System Console"
#### Summary
Mattermost 5.37.x can't show System Console.

#### Steps to reproduce
1. Start Mattermost Server.
2. Login
3. Select `System Console` from menu.

#### Expected behavior
System Console will be shown.

#### Observed behavior (that appears unintentional)
<img width="1494" alt="ScreenShot" src="https://user-images.githubusercontent.com/621178/128317830-a72b89ac-6fcd-4188-91d2-1b847817f4dd

[2021-08-05 13:22] amyblais commented on #18065
@mzch Would you be open to sharing more details about your environment from here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues? Specifically your OS and version, Mattermost server version, and any Mattermost logs.

[2021-08-05 13:23] choav opened #18348 "High contrast settings on Windows lead to poor color choices in app"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-08-05 13:35] mzch commented on #18065
Sorry,

OS: `Debian 10.10`
Mattermost Server: 5.37.0, 5.37.1
Browser: Chrome 92.0.4515.107
Mattermost Desktop: 4.7.0 on Mac
mattermost.log:
[mattermost.log](https://github.com/mattermost/mattermost-server/files/6939013/mattermost.log)

[2021-08-05 13:48] amyblais commented on #18063
@Caboose700 Can you help confirm what Mattermost server version you're using?
I wasn't able to reproduce this on the latest version just now.

[2021-08-05 14:33] amyblais commented on #18065
Would you be open to posting about this either on our [Peer-to-peer Help channel on our community server here](https://community.mattermost.com/core/channels/peer-to-peer-help) or on our [troubleshooting forum here](https://forum.mattermost.org/)? This issue is likely something that would need some troubleshooting and our community and/or support team may be able to help with this!

[2021-08-05 18:26] Caboose700 commented on #18063
Hello, the bug report was initially run using Mattermost Version: 5.37.0, but we upgraded yesterday to Mattermost Version: 5.37.1, and I was just able to duplicate this on another account on our Mattermost server.

[2021-08-05 23:26] amyblais commented on #18063
@Caboose700 Do you see any log errors? Can you help share your config settings (with any confidential details removed)?

[2021-08-05 23:47] Caboose700 commented on #18063
I was unable to find any log errors that would pertain to resetting the password.

Here's a scrubbed config. https://pastebin.com/udbD7Sr2

[2021-08-06 02:49] Roy-Orbison opened #18074 "Impossible to drag and drop text into inputs/textareas"
I think this applies to mattermost-webapp, but I can't file bugs there, nor on Atlassian.

#### Summary
Cannot drag'n'drop text from other programs into any input or textarea within the Mattermost web app.

#### Steps to reproduce
1. Select text in any other program
2. Drag that selection into the Mattermost chat window, e.g. the message compose textarea, the Switch Channels search input, an Accou

[2021-08-06 05:34] mzch commented on #18065
I have posted the same issue in mattermost forum. Thanks.

[2021-08-06 14:20] amyblais commented on #18074
@hmhealey / @devinbinnie Do we know if this is expected or a bug?

[2021-08-06 14:43] amyblais commented on #18063
@furqanmlk / @BenCookie95 I wasn't able to repro this. Are you able to repro or do you have any thoughts on this?

[2021-08-06 15:01] jayaddison-collabora opened #18080 "mmctl: provide an option to allow existing plugins to be replaced during 'mmctl plugin add'"
#### Summary
The `mmctl plugin add` command does not currently support replacement of existing plugins, something that is possible when uploading plugins using the Mattermost System Console.

As a workaround, it's possible to use `mmctl plugin delete` to remove an existing plugin prior to the `add` operation.

It could be convenient to have an (opt-in) ability to replace existing plugins.

#### St

[2021-08-06 15:14] furqanmlk commented on #18063
I performed following steps using https://prev.test.mattermost.com/ (Mattermost Version: 5.37.1-rc1)

1. Setup MFA for a account

![image](https://user-images.githubusercontent.com/6909890/128532557-ddcef209-9492-45cd-be5f-d6f3e1cd81f0.png)

![image](https://user-images.githubusercontent.com/6909890/128531828-8b99f5ec-cc86-44a8-8011-cda4295fc60a.png)

2. Logged out and Click `I forgot my password`

[2021-08-06 17:19] hmhealey commented on #18074
That does sound like a bug to me. I remember that there was a bug reported a long time ago about being able to drag and drop channel names into the textbox for whatever reason, so maybe this is because of that.

[2021-08-06 17:28] amyblais commented on #18074
Opened a ticket: https://mattermost.atlassian.net/browse/MM-37712

[2021-08-06 19:08] Caboose700 commented on #18063
@furqanmlk Those are the correct steps. I reproduced it again on a brand new account and provided pictures and steps.

During no point in this process is the MFA token ever prompted for changing the password.

The MFA token **_is_** required to login after the password reset, but I would expect the MFA token to be required to change the password in the first place.

1. Setup MFA for the account.
!

[2021-08-06 19:19] #17878 closed

[2021-08-06 20:37] amyblais commented on #18063
I believe requiring an MFA token after the password is reset is the current expected behaviour. If you'd like, please feel free to open a [uservoice feature request](https://mattermost.uservoice.com/forums/306457-general) for the improvement idea of requiring an MFA token to change the password in the first place. @wiersgallak let me know if I'm incorrect here.

[2021-08-06 22:11] ewwollesen commented on #17281
Still working on this and trying to get past an issue but I'm about to be out of town for a week so (and I was distracted by the docathon). Just wanted to give an update.

[2021-08-06 23:03] Roy-Orbison commented on #18074
I figured it's because those events are intercepted for uploading files, but no exception was made to allow text through. It's definitely the typical behaviour, see for yourself on a [control lacking any enhancement](https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_textarea).

[2021-08-07 18:06] bitsapien commented on #16226
I've identified 2 events when this state (new pinned post) would be shown or needs updation:
1. When the channel is "made visible" for the first time after loading the app.
2. When the channel has already been opened once, and someone pins a post.

I'm currently trying to implement the event `2` here.
I noticed that the webapp receives an event called `POST_EDITED` when the above event occurs, I b

[2021-08-07 19:52] bitsapien commented on #16226
I figured what the RHS thing is, the right hand panel that opens up on clicking the "pinned post" button. Please ignore the above question.

Any feedback on the direction I'm taking, would be useful though.

[2021-08-07 21:35] prapti commented on #17555
Hackfest completed.

[2021-08-07 21:35] #17555 closed

[2021-08-08 15:40] ivanaairenee commented on #18050
Hi, I'd like to pick this up 😊

[2021-08-09 13:41] hmhealey commented on #16226
Yep, those both sound correct for when the badge would need to be updated. I'm a bit surprised that action causes a POST_EDITED event since I thought that was only for when the user edits the text of a post or the message attachment on a post, but that shouldn't cause any problems regardless.

[2021-08-09 15:20] Duaard commented on #18062
Hi, I would like to take a look. Since I'm fairly new I can update in a week if I'll be able to handle this issue, if that's alright?

[2021-08-09 15:56] natewiebe13 opened #18094 "CRT: Inconsistent Message Spacing"
#### Summary
With Collapsed Reply Threads enabled, the spacing between the first and second consecutive message from the same user has extra spacing.

#### Steps to reproduce
- Enable Collapsed Reply Threads
- Ensure Message Display is set to Standard
- Send 3 messages in a row
- Note the spacing between the messages

#### Expected behavior
The spacing between all messages should be the same.

###

[2021-08-09 16:22] amyblais commented on #18094
We have a ticket for this and it is queued to be fixed in an upcoming v6.0 release (September release) - https://mattermost.atlassian.net/browse/MM-36646 (PR for it was recently merged).

[2021-08-09 16:22] #18094 closed

[2021-08-09 16:25] agarciamontoro commented on #18062
@Duaard, that sounds great! Feel free to ask any questions you have, here or in our team's channel: https://community.mattermost.com/core/channels/developers-playbooks

[2021-08-09 16:33] #18019 closed

[2021-08-09 20:22] bitsapien commented on #16226
The solution for this:

#### Track unread pinned posts on the server
Add a property `lastViewedPinnedPosts` to the `ChannelMember` model.
Add a property `lastPinnedPostAt` to the `Channel` model.

Use these properties on the client to determine if there are unread pinned posts :
`Channel.lastPinnedPostAt >  ChannelMember.lastViewedPinnedPosts ? 'show badge' : 'hide badge'`

#### On first load of t

[2021-08-10 02:11] WGH- commented on #15012
I can confirm that 5.37.1 fixed it for me  👍🏻  (I'm using Firefox).

[2021-08-10 05:15] #18004 closed

[2021-08-10 11:36] jasonblais commented on #17281
@ewwollesen thanks for the update and your continued work on this issue! If any questions, don't hesitate to reach out with any questions.

[2021-08-10 13:10] david1170 commented on #16858
I'm also having this problem, pasting from Word, Excel using a Mac.  It doesn't seem like it's been resolved and I'm wondering what is the status?

[2021-08-10 13:17] ansash opened #18105 "rsync backup failing due to file access issue"
#### Summary
rsync backup as backup user != mattermost does not have access rights to copy picture files.
running v5.36.1 on debian with postgres

here my ls -la output from a long running (multiple upgrades) instance (2y+):
me@server:/opt/mattermost/data/20210730/teams/noteam/channels/7ru8s8aiujfq5jjh7h866xoacr/users/9bnnf39wcpyctqbzboq5ekmqpe/j45c9kchbbfw
ubq1s1w537p58r$ ls -la
total 2116
drwxr-

[2021-08-10 13:29] kcpearce opened #18106 "Incorrect Notification Bubble"
#### Summary
The red notification bubble appears in the windows taskbar if I am in a channel whose name starts with a "*" character

#### Steps to reproduce
1. Create a channel that starts with a "*" character, e.g. "*Urgent Issues*"
2. Click on that channel
3. Red notification bubble appears regardless of whether there are new messages or not

#### Expected behavior
My team has a few specific cha

[2021-08-10 13:31] amyblais commented on #16858
I don't have specific status updates, the Jira ticket is in one of our dev team's queue.

[2021-08-10 14:51] david1170 commented on #16858
Is there a way to find out the status?  The original request appears to
have been made in Feb of this year.
Thanks,
David

On Tue, Aug 10, 2021 at 9:32 AM Amy Blais ***@***.***> wrote:

[2021-08-10 16:46] amyblais commented on #18106
@kcpearce What Mattermost server version and Desktop app version are you using?

[2021-08-10 16:56] kcpearce commented on #18106
server version: 5.34.2
app version: 4.7.1 (commit `20836c5`)

@amyblais This issue only started after I upgraded the desktop app to v4.7.1

[2021-08-10 17:01] agarciamontoro commented on #18062
(Forgot to assign this to you yesterday, sorry!)

[2021-08-10 17:38] ylluminate opened #18109 "Please implement underline tagging as per explanation"
The following would be very helpful and I think evident as to why with the accompanying explanation:
https://forum.mattermost.org/t/important-underline-tagging-markup-necessary/12054

[2021-08-10 19:15] mattermod opened #18112 "Fix type definition for state.entities.users.profilesInChannel"
`state.entities.users.profilesInChannel` and `state.entities.users.profilesNotInChannel` should both be typed `Record<string, Set<string>>`, but their type definitions in `GlobalState` and their reducers are equivalent to `Record<string, string[]>`. The code that’s actually using those fields correctly uses a Set of strings, but the type definitions and unit tests are written as if it uses arrays.

[2021-08-10 19:28] esethna commented on #16226
@hmhealey if you have thoughts on this implementation? ^

[2021-08-10 19:33] alexander-potemkin commented on #17638
@enahum , it keeps happening on a daily basis and it’s quite frustrating; it is in place even after I send my own message - I still need to scroll to the top to see it, and when I release it - it’s hidden from me.

This issue was reported like 4 months ago and still nothing on it =(

[2021-08-10 23:23] amyblais commented on #18032
### v5.38 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.38.0-rc2/mattermost-team-5.38.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4810/files)

[2021-08-10 23:27] amyblais commented on #18105
Have you also had a chance to take a look at our documentation related to backup https://docs.mattermost.com/deploy/backup-disaster-recovery.html?

[2021-08-11 08:30] Zeezee1210 commented on #17613
Hi @amyblais,
Do you know when this will be assigned to somebody for review? Or have I missed something I need to do?

[2021-08-11 09:09] BaaaZen opened #18115 "Setting users authentication method to email via API fails"
#### Summary
Almost all our users use the LDAP service to log in. Now we have a single user that should be switched back to email authentication. I was using the API call https://api.mattermost.com/#operation/UpdateUserAuth to switch the authentication method. From the documentation and the attributes of other users having email authentication active I was sure to set the parameters `auth_service`

[2021-08-11 11:13] maliur commented on #17956
Hi,

I would like to work on this 😃

[2021-08-11 12:42] amyblais commented on #17613
@Zeezee1210 It looks like the PR is still marked as a draft, I believe you'll need to click the "Ready for review" near the bottom of the PR. If it's ready for review, let me know I can help assign reviewers.

<img width="932" alt="Screenshot at Aug 11 08-34-57" src="https://user-images.githubusercontent.com/29708087/129030434-ae136eba-7296-4b63-a1f2-d40438827bc6.png">

[2021-08-11 13:38] Zeezee1210 commented on #17613
@amyblais done thanks :)

[2021-08-11 13:41] amyblais commented on #17613
Assigned initial reviewers.

[2021-08-11 14:15] amyblais commented on #18115
@isacikgoz @mkraft Let me know if you'd have thoughts on this issue.

[2021-08-11 14:42] hmhealey commented on #16226
Yep, we've been chatting 1-on-1 about it as well

[2021-08-11 18:55] hmhealey commented on #18074
I started a thread in the UX Design channel on https://community.mattermost.com to discuss this behaviour and confirm that it's what we want to do.

Is there a particular use case that you'd want this for? I know it's more convenient than copy and pasting text that's visible on the current screen, but I'm curious if there's another use case I'm missing.

[2021-08-12 03:09] Roy-Orbison commented on #18074
A quick search gave me [this article](https://www.ctrl.blog/entry/clipboard-security.html) that I think sums up the issues nicely. It reduces the chances of exposed data. One doesn't necessarily have to be compromised for the clipboard to be a problem, e.g. Windows now offers cloud-backed, cross-device clipboard sharing. Other, legitimate programs may monitor or interact with clipboard contents. D

[2021-08-12 08:18] komik966 commented on #15975
https://user-images.githubusercontent.com/8155563/129155793-8ac4c003-01f6-4c0d-9fb4-6d9988fe5d7f.mp4

Webapp is implemented. Now, I'm testing edge cases and need to make minor fixes. Above screen recording shows how it works: theme switching, form synchronization across devices, modal window closing confirmation when we have unsaved changes.

Things worth noticing:
- "Custom theme" tile has a penc

[2021-08-12 08:30] mattermod opened #18124 "Use high level methods in api4 tests"
In https://github.com/mattermost/mattermost-server/pull/18102 all `Get*Route` methods from `Client4`. Because of that the tests that rely on that methods needed to be changed to build the request URL's by hand. A better way to do that is to use the high level methods that `Client4` exposes.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://

[2021-08-12 08:50] yedamao commented on #18124
I'd like to working for this.

[2021-08-12 09:22] ansash commented on #18105
Hi Amy, thats the issue - step 3 of the Backup is copying files. Without access right for other "backup" users - this fails.
The question for the developers - or other users running mattermost:
a) is this a upgrade error - which can be fixed using chmod 660 for all files
b) is this a bug of the server creating all files 600 only
Thanks in advance for feedback !

[2021-08-12 09:32] isacikgoz commented on #18115
It seems like this issue introduced in `v5.33`. Created the [ticket](https://mattermost.atlassian.net/browse/MM-37830).

[2021-08-12 12:34] ansash commented on #18105
Issue solved. I assume implicitly that the rights were messed up during an update of the server.
Why ? In the installation doc https://docs.mattermost.com/install/install-debian.html - installing Mattermost Step 6 c the rights are to be set in the way needed (660).

[2021-08-12 12:34] #18105 closed

[2021-08-12 13:29] wpyoga opened #18129 "Legality of repackaging Mattermost server binary"
#### Summary

The license of the Mattermost server binary is stated as MIT on the GitHub project: https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt

It also says that

However, when I installed the Mattermost server binary from https://mattermost.com/download,
- I don't see the file MIT-COMPILED-LICENSE.md
- I see another license file ENTERPRISE-EDITION-LICENSE.txt

The ENTER

[2021-08-12 19:34] esethna commented on #15975
@komik966 this is phenomenal work, SO stoked for this!

[2021-08-12 21:01] hmhealey commented on #18074
That's a very good point. I feel like I've used it for that exact reason myself. Also I think like I've used it to copy something when I've had something else in my clipboard.

At the same time, no one on our end can remember why we would've blocked it, so we're all on the side of fixing it.

[2021-08-13 11:44] maliur commented on #17278
Hi,

I'm interested to work on this but I have one question is this for all files  and subfolders in ```components/suggestion```?

[2021-08-13 13:46] amyblais commented on #17278
@devinbinnie ^

[2021-08-13 19:19] #17736 closed

[2021-08-13 21:11] vineelyalamarthy commented on #17979
Is this still there

[2021-08-13 21:12] vineelyalamarthy commented on #17868
Is this up for grabs

[2021-08-13 21:28] vineelyalamarthy commented on #6962
is this up for grabs? Would like to give this a shot.

[2021-08-13 21:30] vineelyalamarthy commented on #6962
@cpanato

[2021-08-13 21:40] vineelyalamarthy commented on #6962
@coreyhulen @cpanato would like to work on this, can you assign this to me?

[2021-08-13 21:57] vineelyalamarthy commented on #14434
@ethervoid  @jespino  is this available, would love to get started based on the earlier research done by others, let me know thanks.

[2021-08-13 23:01] jasonblais commented on #16876
@vineelyalamarthy I have assigned the issue to you

[2021-08-13 23:16] jasonblais commented on #14434
@vineelyalamarthy thanks! Assigned to you

[2021-08-14 06:32] Duaard commented on #18036
Hi, I am currently looking at this and came up with these different solutions:
1) Add in the field `deleteAt` in `PlaybookWithChecklist`
2) Extend `PlaybookWithChecklist` to include `deleteAt`
3) Create an API endpoint that will check if `playbookId` is deleted, and use that to decide if run should be rendered.

I think option 1 makes the most sense although it will suddenly add an unintended file

[2021-08-14 08:25] rakhi2104 commented on #17615
Hi, I have made some progress on this.
Except for handling the pagination part when Admin members are filtered.
Here's a preview:

https://user-images.githubusercontent.com/17671710/129439942-78cf434e-c2b9-449b-ba38-9bee157a08df.mp4

[2021-08-14 08:46] mrbc42 opened #18141 "docker-compose failure with provided script"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-08-14 10:05] yedamao commented on #18124
The #18102 has merged, this issue should be close.

[2021-08-15 18:07] darkLord19 commented on #18112
@hmhealey I am checking in mattermost-redux/src/types/users.ts and they are not having Record<string, string[]> currently,
[code]

[2021-08-16 04:56] agnivade commented on #16206
Hey @agusl88, just checking in with this. Are you still experiencing this issue?

[2021-08-16 09:18] mrbc42 commented on #18141
ok, so this can be closed, got mixed up between dockerfile and docker-compose.yml .  Dont do things while your really tired I guess.  :-(

[2021-08-16 09:18] #18141 closed

[2021-08-16 09:56] Willyfrog commented on #17868
there is no ticket for it as far as I know, is there one @esethna ? or is it fully covered in v6.0?

[2021-08-16 12:43] #18032 closed

[2021-08-16 13:16] devinbinnie commented on #17278
@maliur Thanks for your interest! This ticket is to migrate all the files directly under `components/suggestion`, but not its subfolders. Let me know if you have further questions.

[2021-08-16 14:06] jwilander commented on #15012
Thanks @WGH-, that's something we can take a look at. Would you be willing to open a new issue for that with extra details about environment and exactly what you're seeing?

[2021-08-16 14:16] #15012 closed

[2021-08-16 16:57] esethna commented on #17868
@Willyfrog @vineelyalamarthy @jasperroloff I'm going to close this ticket based on my comment above. We are integrating a lot of commonly used PDF tools into the Mattermost previewer in the coming months. Follow progress here: https://mattermost.atlassian.net/browse/MM-27310

[2021-08-16 16:57] #17868 closed

[2021-08-16 19:01] hanzei commented on #18124
Good catch @yedamao :+1:

[2021-08-16 19:01] #18124 closed

[2021-08-16 19:17] hmhealey commented on #18112
I used a somewhat simplified version of the type definiton there since `RelationOneToMany<Channel, UserProfile>` is equivalent to `Record<string, string[]>` when you strip away all the utility types we added. The real change that needs to be made is that the type definition uses an array of strings for the User IDs instead of a Set of strings which the actual code uses.

[2021-08-17 06:58] vineelyalamarthy commented on #6962
when you say mm, is it for entire mattermost sever or some specific component. How is logging working today.  What is the end-goal? Do we just want to make logs available for developer debugging purpose?  @cpanato

[2021-08-17 07:18] vineelyalamarthy commented on #16876
@jasonblais  is there a grooming or vetting process that happens before a posted issue becomes a story that we work on.
Also do we want to support  Cloud SQL for Mattermost as asked by @Philmod.

[2021-08-17 09:19] KobeBergmans opened #18149 "WebApp crash when opening admin_console/site_config/posts"
#### Summary
WebApp crashes and does not display anything when opening admin_console/site_config/posts.

#### Steps to reproduce
I am using a developer setup. I cloned the webapp and server repository and i am using the master branch of both (Current latest webapp commit: dce2093d1a9a88ad3690f47a8a87f8b01c0e8295).

#### Expected behavior
The page must be loaded normally.

#### Observed behavior (t

[2021-08-17 09:29] poflankov commented on #15704
Can I work on this?

[2021-08-17 10:30] KobeBergmans commented on #18149
I tracked down the issue and the server code broke this page. This issue appears first on commit: 757dc96461ffb27b0c8a5a1e30cd5fbabc871eef

[2021-08-17 10:52] saturninoabril commented on #15704
Thanks for your interest @poflankov! Unfortunately, we missed to close this as it was already completed by https://github.com/mattermost/mattermost-webapp/pull/7016. If you're interested in E2E tests, then please have a look at https://github.com/mattermost/mattermost-server/labels/Area%2FE2E%20Tests. I'll be creating more help-wanted tickets in E2E tests later, and I'll ping you for more options.

[2021-08-17 10:52] #15704 closed

[2021-08-17 12:13] amyblais commented on #18149
@hanzei @streamer45 FYI on this ^

[2021-08-17 12:22] Duaard commented on #18036
Hi anyone? Would like to contirbute to this but not quite sure who to discuss it with?

[2021-08-17 13:51] #17956 closed

[2021-08-17 13:56] lieut-data commented on #18036
Hey @Duaard! I'd recommend adding `delete_at` to the `Playbook` type (from which `PlaybookWithChecklist`) extends. I wonder too if our API endpoints will need to be updated to make sure we still return these deleted playbooks when queried by id?

[2021-08-17 14:17] maliur commented on #17278
@devinbinnie Okey then I know, I started the past weekend with ```suggestion.js``` and it escalated pretty quickly and I had to change and migrate a lot of the files under ```components/suggestion```. I'm unsure of some of the interfaces/types that I tried to extract in the Js files since I haven't contributed before but I'll have a PR draft as soon as possible so that you can have a look if I'm d

[2021-08-17 16:27] amyblais commented on #18149
Opened a ticket: https://mattermost.atlassian.net/browse/MM-37985

[2021-08-17 20:00] #18062 closed

[2021-08-17 20:16] saturninoabril opened #18158 "Write Webapp E2E with Cypress: "MM-T165 Windows: Custom emoji don't overlap""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T165 Windows: Custom emoji don't overlap</h1>
<div>
<div>
<h3>Steps </h3>Windows: Jumbo emoji don't overlap<br>--------------------<br>1. Copy the emoji in the Test Data field --&gt; and post in a message<h3>Test Data</h3>😈🤣👘😘😋😋😛

[2021-08-17 20:16] saturninoabril opened #18159 "Write Webapp E2E with Cypress: "MM-T3293 Entire thread appears and scrollable in the RHS""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T3293 Entire thread appears and scrollable in the RHS</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Create a thread with several replies to make it scrollable in RHS</li><li>Create enough posts from another user (not related to the thr

[2021-08-17 20:16] saturninoabril opened #18160 "Write Webapp E2E with Cypress: "MM-T1321 WebApp: Truncated Numbered List on Chat History Panel""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1321 WebApp: Truncated Numbered List on Chat History Panel</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Post the three different lists in the test data text to the right in 3 separate messages:</li></ol><h3>Test Data</h3>9. a<br />10

[2021-08-17 20:16] saturninoabril opened #18161 "Write Webapp E2E with Cypress: "MM-T1615 Pasting code block text into external apps does not include line numbers""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1615 Pasting code block text into external apps does not include line numbers</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Copy the text in the test data field to the right (and shown posted below)<img src="https://smartbear-tm4j-pro

[2021-08-17 20:16] saturninoabril opened #18162 "Write Webapp E2E with Cypress: "MM-T3014 Skin tone emoji""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T3014 Skin tone emoji</h1>
<div>
<div>
<h3>Steps  #1</h3><ul><li>Post some emoji with the skin tone suffixes<br>for example:</li></ul><code>:wave_light_skin_tone:</code><br><code><code>:wave</code>_medium_light_skin_tone:</code><

[2021-08-17 20:16] saturninoabril opened #18163 "Write Webapp E2E with Cypress: "MM-T1539 Gendered emojis are rendered with the correct gender""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1539 Gendered emojis are rendered with the correct gender</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Post the following emoji by copying and pasting it or by using the emoji keyboard on Mac (CMD+CTRL+spacebar)</li></ol><br>🙆‍♂️<h3>

[2021-08-17 20:18] lieut-data commented on #18062
Yes! Thanks, @Duaard -- @itao will be very happy to see this land in v1.18 / Mattermost v6.0 :D

[2021-08-17 20:22] #18160 closed

[2021-08-17 20:24] saturninoabril opened #18164 "Write Webapp E2E with Cypress: "MM-T244 Webapp: Post menu item `Mark as Unread` appearance""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T244 Webapp: Post menu item `Mark as Unread` appearance</h1>
<div>
<div>
<h3>Steps  #1</h3>Webapp: Post menu item `Mark as Unread<br>–––––––––––––––––––––––––<ol><li>Click on a 3 dot menu</li><li>Verify `Mark as Unread` as the 2n

[2021-08-17 20:24] saturninoabril opened #18165 "Write Webapp E2E with Cypress: "MM-T2924 Channel is marked as read as soon as user leaves""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2924 Channel is marked as read as soon as user leaves</h1>
<div>
<div>
<h3>Steps  #1</h3><ul><li>Users A and B are in channel X.</li><li>User B sends a message and as soon as they sent it, user A clicks on channel Y to switch to

[2021-08-17 20:24] saturninoabril opened #18166 "Write Webapp E2E with Cypress: "MM-T248 Mark DM post as Unread""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T248 Mark DM post as Unread</h1>
<div>
<div>
<h3>Test Preparation</h3>Left Chrome off for manual testing until&nbsp;<a href="https://mattermost.atlassian.net/browse/MM-23915">https://mattermost.atlassian.net/browse/MM-23915</a> i

[2021-08-17 20:24] saturninoabril opened #18167 "Write Webapp E2E with Cypress: "MM-T253 Mark as Unread reflects on other sessions and devices""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T253 Mark as Unread reflects on other sessions and devices</h1>
<div>
<div>
<h3>Steps  #1</h3>Mark as Unread reflects on other sessions and devices<br>–––––––––––––––––––––––––<ol><li>Log in to the same account on webapp, mobile

[2021-08-17 20:24] saturninoabril opened #18168 "Write Webapp E2E with Cypress: "MM-T257 Mark as Unread when bringing window into focus""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T257 Mark as Unread when bringing window into focus</h1>
<div>
<div>
<h3>Steps </h3>Mark as Unread when bringing window into focus<br>–––––––––––––––––––––––––<ol><li>Mark a channel as unread</li><li> Click off of the browser/app

[2021-08-17 20:27] #18167 closed

[2021-08-17 20:35] saturninoabril opened #18169 "Write Webapp E2E with Cypress: "MM-T2924 Channel is marked as read as soon as user leaves""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2924 Channel is marked as read as soon as user leaves</h1>
<div>
<div>
<h3>Steps  #1</h3><ul><li>Users A and B are in channel X.</li><li>User B sends a message and as soon as they sent it, user A clicks on channel Y to switch to

[2021-08-17 20:35] saturninoabril opened #18170 "Write Webapp E2E with Cypress: "MM-T248 Mark DM post as Unread""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T248 Mark DM post as Unread</h1>
<div>
<div>
<h3>Test Preparation</h3>Left Chrome off for manual testing until&nbsp;<a href="https://mattermost.atlassian.net/browse/MM-23915">https://mattermost.atlassian.net/browse/MM-23915</a> i

[2021-08-17 20:35] saturninoabril opened #18171 "Write Webapp E2E with Cypress: "MM-T253 Mark as Unread reflects on other sessions and devices""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T253 Mark as Unread reflects on other sessions and devices</h1>
<div>
<div>
<h3>Steps  #1</h3>Mark as Unread reflects on other sessions and devices<br>–––––––––––––––––––––––––<ol><li>Log in to the same account on webapp, mobile

[2021-08-17 20:35] saturninoabril opened #18172 "Write Webapp E2E with Cypress: "MM-T244 Webapp: Post menu item `Mark as Unread` appearance""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T244 Webapp: Post menu item `Mark as Unread` appearance</h1>
<div>
<div>
<h3>Steps  #1</h3>Webapp: Post menu item `Mark as Unread<br>–––––––––––––––––––––––––<ol><li>Click on a 3 dot menu</li><li>Verify `Mark as Unread` as the 2n

[2021-08-17 20:35] saturninoabril opened #18173 "Write Webapp E2E with Cypress: "MM-T257 Mark as Unread when bringing window into focus""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T257 Mark as Unread when bringing window into focus</h1>
<div>
<div>
<h3>Steps </h3>Mark as Unread when bringing window into focus<br>–––––––––––––––––––––––––<ol><li>Mark a channel as unread</li><li> Click off of the browser/app

[2021-08-17 20:36] #18173 closed

[2021-08-17 20:36] #18172 closed

[2021-08-17 20:36] #18171 closed

[2021-08-17 20:36] #18170 closed

[2021-08-17 20:36] #18169 closed

[2021-08-17 20:37] saturninoabril opened #18174 "Write Webapp E2E with Cypress: "MM-T2367 Compact view""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2367 Compact view</h1>
<div>
<div>
<h3>Steps </h3>Compact view<br>————————————————————————————<ol><li>Switch the Profile settings for the test user to enable Compact view</li><li>Browse the channel again</li></ol><h3>Expected</h

[2021-08-17 20:37] saturninoabril opened #18175 "Write Webapp E2E with Cypress: "MM-T2373 Removing a file attachment""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2373 Removing a file attachment</h1>
<div>
<div>
<h3>Steps </h3>Removing a file attachment<br>————————————————————————————<ol><li>As Another user delete posts that contain image attachment</li><li>As the test user watch the vert

[2021-08-17 20:39] saturninoabril opened #18176 "Write Webapp E2E with Cypress: "MM-T2503 Boolean value check""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2503 Boolean value check</h1>
<div>
<div>
<h3>Steps </h3>Boolean value check<br>–––––––––––––––––––––––––<ol><li>Load demo plugin</li><li>Using webapp, launch interactive dialog with `/dialog` command</li><li>Set boolean values

[2021-08-17 20:42] saturninoabril opened #18177 "Write Webapp E2E with Cypress: "MM-T423 Online Status - Statuses update in center, in member icon drop-down, and in DM LHS sidebar""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T423 Online Status - Statuses update in center, in member icon drop-down, and in DM LHS sidebar</h1>
<div>
<div>
<h3>Test Preparation</h3><strong>Desktop App</strong>: Use compact view for this one<br>(Chrome still in standard vi

[2021-08-17 20:42] saturninoabril opened #18178 "Write Webapp E2E with Cypress: "MM-T1805 No infinite loading spinner on Select Team page""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1805 No infinite loading spinner on Select Team page</h1>
<div>
<div>
<h3>Steps </h3>1. Create an account on a server with very few teams, like https://rc.test.mattermost.com<br>2. Join all available teams teams<br>3. Go to {ser

[2021-08-17 20:42] saturninoabril opened #18179 "Write Webapp E2E with Cypress: "MM-T341 Download link on preview - Image file (non-SVG)""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T341 Download link on preview - Image file (non-SVG)</h1>
<div>
<div>
<h3>Steps </h3>Download link on preview - Image file (non-SVG; that's tested separately with Chrome and mobile browser)<br>–––––––––––––––––––––––––<ol><li>Cli

[2021-08-17 20:45] saturninoabril opened #18180 "Write Webapp E2E with Cypress: "MM-T603 Place a string when a date is expected""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T603 Place a string when a date is expected</h1>
<div>
<div>
<h3>Steps </h3>Place a string when a date is expected<br>–––––––––––––––––––––––––<ol><li>Add any search term you know will return results to the search box</li><li>Add

[2021-08-17 20:47] saturninoabril opened #18181 "Write Webapp E2E with Cypress: "MM-T624 Viewing attachments with invalid URL does not cause the application to crash""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T624 Viewing attachments with invalid URL does not cause the application to crash</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Incoming Webhooks — Viewing attachments with invalid URL does not cause the application to crash<br>–––––––

[2021-08-17 20:47] saturninoabril opened #18182 "Write Webapp E2E with Cypress: "MM-T641 🚀 Edit incoming webhook, webhook posts attachment""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T641 🚀 Edit incoming webhook, webhook posts attachment</h1>
<div>
<div>
<h3>Steps </h3>Edit webhook, webhook posts attachment<br>–––––––––––––––––––––––––<ol><li>Go to Main Menu ➜ Integrations ➜ Incoming Webhook and click Edit on

[2021-08-17 20:47] saturninoabril opened #18183 "Write Webapp E2E with Cypress: "MM-T639 🚀 incoming Webhook creates DM""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T639 🚀 incoming Webhook creates DM</h1>
<div>
<div>
<h3>Steps </h3>Webhook creates DM<br>–––––––––––––––––––––––––<ol><li>Ensure that System Console ➜ Integrations ➜ Integration Management ➜ Enable integrations to override userna

[2021-08-17 20:47] saturninoabril opened #18184 "Write Webapp E2E with Cypress: "MM-T642 Attachment does not collapse""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T642 Attachment does not collapse</h1>
<div>
<div>
<h3>Steps </h3>Attachment does not collapse<br>–––––––––––––––––––––––––<ol><li>Create an incoming webhook ad send POST with attachment</li><li>View the webhook post that has the

[2021-08-17 20:59] saturninoabril opened #18185 "Write Webapp E2E with Cypress: "MM-T963 Configuration - Purge caches""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T963 Configuration - Purge caches</h1>
<div>
<div>
<h3>Steps </h3>Configuration - Purge caches<br>–––––––––––––––––––––––––<ol><li>Click "Purge all Caches"</li></ol><h3>Expected</h3><ul><li>Nothing crashes. If the performance met

[2021-08-17 20:59] saturninoabril opened #18186 "Write Webapp E2E with Cypress: "MM-T962 Configuration - Enable Insecure Outgoing Connections""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T962 Configuration - Enable Insecure Outgoing Connections</h1>
<div>
<div>
<h3>Steps </h3>Configuration - Enable Insecure Outgoing Connections<br>–––––––––––––––––––––––––<h3>Expected</h3><ul><li>Enable Insecure Outgoing Connecti

[2021-08-17 21:01] saturninoabril commented on #15704
@ponflankov New help-wanted issues for E2E - https://github.com/mattermost/mattermost-server/labels/Area%2FE2E%20Tests

[2021-08-17 22:00] davesingh1 opened #18187 "Mattermost won't allow file uploads or binary pasting like screenshots upon upgrading to version 5.37.1"
#### Summary
Upon upgrading to the latest version of team edition 5.37.1, mattermost won't allow any file uploads or binary pasting like screenshots or short clips. Logs show the following error message:

**_error mlog/log.go:251 Unable to write the file. {"path": "/api/v4/files", "request_id": "", "ip_addr": "", "user_id": "", "method": "POST", "err_where": "WriteFile", "http_code": 500, "err_det

[2021-08-18 06:29] agnivade opened #18190 "Remove all instances of "zz" + model.NewId() in storetest/channel_store.go"
#### Summary
We have typically used "zz" to avoid clashes with random strings while searching for names. The new function to use is `NewTestId`

1. Search for `"zz" + model.NewId()` in storetest/channel_store.go
2. Replace them with `NewTestId()`

[2021-08-18 06:29] agnivade opened #18191 "Remove all instances of "zz" + model.NewId() in storetest/compliance_store.go"
#### Summary
We have typically used "zz" to avoid clashes with random strings while searching for names. The new function to use is `NewTestId`

1. Search for `"zz" + model.NewId()` in storetest/compliance_store.go
2. Replace them with `NewTestId()`

[2021-08-18 06:30] agnivade opened #18192 "Remove all instances of "zz" + model.NewId() in storetest/group_store.go"
#### Summary
We have typically used "zz" to avoid clashes with random strings while searching for names. The new function to use is `NewTestId`

1. Search for `"zz" + model.NewId()` in storetest/group_store.go
2. Replace them with `NewTestId()`

[2021-08-18 06:30] agnivade opened #18193 "Remove all instances of "zz" + model.NewId() in storetest/post_store.go"
#### Summary
We have typically used "zz" to avoid clashes with random strings while searching for names. The new function to use is `NewTestId`

1. Search for `"zz" + model.NewId()` in storetest/post_store.go
2. Replace them with `NewTestId()`

[2021-08-18 06:31] agnivade opened #18194 "Remove all instances of "zz" + model.NewId() in storetest/thread_store.go"
#### Summary
We have typically used "zz" to avoid clashes with random strings while searching for names. The new function to use is `NewTestId`

1. Search for `"zz" + model.NewId()` in storetest/thread_store.go
2. Replace them with `NewTestId()`

[2021-08-18 06:31] agnivade opened #18195 "Remove all instances of "zz" + model.NewId() in storetest/user_store.go"
#### Summary
We have typically used "zz" to avoid clashes with random strings while searching for names. The new function to use is `NewTestId`

1. Search for `"zz" + model.NewId()` in storetest/user_store.go
2. Replace them with `NewTestId()`

[2021-08-18 06:36] chitramdasgupta commented on #18194
I am new to open source contributions. I would like to tackle this issue. Can I be assigned this one?

[2021-08-18 06:37] haardikdharma10 commented on #18194
@chitramdasgupta go ahead 👍

[2021-08-18 06:39] chitramdasgupta commented on #18194
Thank you. I am on it.

[2021-08-18 06:56] agnivade commented on #18194
Hey @chitramdasgupta - welcome to Mattermost! Looking forward to your PR!

[2021-08-18 07:06] yedamao commented on #18190
What's the meaning of suffix "b" in some cases?

e.g `c4.Name = "zz" + model.NewId() + "b"`  does the suffix "b" should be remove or keep it

[2021-08-18 07:10] agnivade commented on #18190
It should be removed, unless some test fails. In that case, keep it.

[2021-08-18 07:22] chitramdasgupta commented on #18194
I have made a pull request. Could you please take a look at it?

[2021-08-18 08:15] redrru commented on #18192
Hi, can I take this?

[2021-08-18 08:16] agnivade commented on #18192
Go for it @redrru !

[2021-08-18 09:45] #18194 closed

[2021-08-18 10:15] #18192 closed

[2021-08-18 12:24] gozeloglu commented on #18195
Hi @agnivade . I'd like to resolve this issue. But, it can take a little bit time. I'll fix it as soon as possible. Can you assign me?

[2021-08-18 13:14] Duaard commented on #18036
Great, I'm interested in this. I'll take a look at it now. 😄

And also the API endpoints are handling querying by ID fine, even for deleted playbooks.

[2021-08-18 14:32] amyblais commented on #18187
@ahmaddanialmohd @streamer45 Let me know who would be able to help take a look at this 🙏

[2021-08-18 14:38] streamer45 commented on #18187
Hi @davesingh1,

can you help provide more information about your instance? A couple of questions:

- What operating system (and version) does your MM server run on?
- Does the issue happen with any file type?
- Have you tried uploading to a different channel or as a different user?

[2021-08-18 16:22] amyblais commented on #18187
From Forum: "The issue is resolved. It was nginx user permissions which were causing problem. Nginx tmp directory was using wrong permissions. Exactly /var/lib/nginx user was reset upon nginx update."

[2021-08-18 16:22] #18187 closed

[2021-08-18 18:07] WGH- opened #18212 "Slow text entry in search fields"
This is a follow-up issue to #15012.

#### Summary
Entering text into search fields in Mattermost is slow. New characters appear after delay, and CPU usage spikes. This problem is especially prominent in Firefox.

There was similar problem with message entry, but it was fixed in 5.37.1 and 5.31.9. See #15012 and mattermost/mattermost-webapp#8396

#### Steps to reproduce
* Start typing something in

[2021-08-19 11:10] hanzei commented on #10250
Given that most of the CLI command have been removed with https://github.com/mattermost/mattermost-server/pull/17995 can this ticket be closed?

[2021-08-19 11:30] jasonblais commented on #10250
Yea, this is no longer applicable with the new mmctl command. Team is working on updating the docs for GitLab users in the coming weeks.

[2021-08-19 11:30] #10250 closed

[2021-08-19 15:15] #18195 closed

[2021-08-19 16:48] gigawhitlocks commented on #16617
I just noticed that this issue is closed. This should be resolved, now, with the merging of #17659 . Mind if I close it?

[2021-08-19 16:49] streamer45 commented on #16617
Go ahead and thanks for the great effort there :+1:

[2021-08-19 16:50] #16617 closed

[2021-08-20 02:30] Roy-Orbison commented on #15636
The **Custom Emoji** button now significantly occludes the emoji names + aliases display, [added here](https://github.com/mattermost/mattermost-webapp/pull/5446). It would be less intrusive as an icon button and/or if it were possible to select the text:
[code]

[2021-08-20 08:07] cpanato commented on #6962
@vineelyalamarthy the idea here is to add a sub chart (dependency) as we do for the DB for both EE and TE Helm charts, to make that optional to users to deploy along with the mattermost deployment, this is to collect the server logs and show in kibana.

This should be disabled by default and if the user wants to deploy they enable that.

said that, this is an old issue, and this is what I remember

[2021-08-20 11:53] jasonblais commented on #16876
Yes, we have a process to review tickets before turning them to help wanted: https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/help-wanted

@Szymongib I would defer to you regarding the Cloud SQL question?

[2021-08-20 11:57] Szymongib commented on #16876
I think we would like to have a more generic mechanism that allows adding sidecars to pods running Mattermost and Cloud SQL would be just one option.

[2021-08-20 15:44] #17859 closed

[2021-08-20 16:26] #18050 closed

[2021-08-21 08:00] NgoHuy opened #18245 "Bleve index key file too large"
Hi team,

after upgrading to 5.38.1, bleve cannot complete indexing. It only showed error `error":"BleveIndexerWorker.BulkIndexPosts: Failed to in dex file batch., key too large"`

I can search some keyword, but not sure abouth the bug. Another issue, when I upgraded version, I must index it manually, I wonder if any way I can make it automate.

Environment: Debian Buster.

Best regards,
Severus

[2021-08-21 21:38] mateioprea commented on #13223
Hi @amyblais, hope you're doing good.
I've tried to tackle this issue on the opened PR. :)

Thaaanks!

[2021-08-23 01:17] WGH- commented on #18212
https://profiler.firefox.com/public/mx2z3btmdxf6hy00q6gahkqwhhsmfbxpj89p2fg

It's difficult for me to interpret this profile. Maybe you'll have a better luck. Something going on in React, I guess (well, as if that wasn't obvious)? Thanks to the profiler for not picking up the source maps, argh (https://github.com/firefox-devtools/profiler/issues/605)

[2021-08-23 07:27] muirdok opened #18241 ""runtime error: invalid memory address or nil pointer dereference" happened for version 5.38.1"
#### Summary
Mattermost crashed with error "panic: runtime error: invalid memory address or nil pointer dereference".
Mattermost:
- Version Mattermost: 5.38.1
- Database schema: 5.38.1
- Database: postgres
host:
Linux chat.test.test 3.10.0-1160.25.1.el7.x86_64 #1 SMP Wed Apr 28 21:49:45 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
CentOS Linux release 7.9.2009 (Core)

part of huge stacktrace log:
`авг

[2021-08-23 07:32] muirdok commented on #18241
I disabled all webhooks and integrations to check behaviour.

[2021-08-23 07:46] gabriel-vasile opened #18242 "Verify address email misses the verify button for mail.com"
#### Summary
Account verify email is missing the "Verify email address" button in the web client of mail.com

#### Steps to reproduce
1. [Register](https://community.mattermost.com/signup_user_complete/?id=codoy5s743rq5mk18i7u5ksz7e) using a [mail.com](https://www.mail.com/int/) email address.
2. Try to confirm your email address.

#### Observed behavior (that appears unintentional)
The button is

[2021-08-23 08:55] yedamao commented on #18241
[archive/zip: can panic when calling Reader.Open [Go 1.16]](https://github.com/golang/go/issues/44917) The panic has been fixed since go 1.16.1

[2021-08-23 09:22] muirdok commented on #18241
Thank you @yedamao! It explains the panic.
But in case it has been fixed since go 1.16.1 why it panicked 5.38.1 mattermost?
I updated whole service from https://releases.mattermost.com/5.38.1/mattermost-team-5.38.1-linux-amd64.tar.gz
Do we have any workaround  here?

[2021-08-23 09:54] jayaddison-collabora commented on #18080
Could this issue be moved to the `mmctl` repository?  (sorry, that's where I should have opened this issue; I thought that `mmctl` was built from the `mattermost-server` repo when writing this)

I'll aim to open an equivalent pull request to #18081 there after taking a look at some of the (mostly small, I think) differences between the `plugin` CLI implementation between the two repos.

[2021-08-23 10:46] conalli commented on #17955
Hi, sorry after multiple attempts to get this done, I just can't get my dev environment set up correctly. I'm going to have to pass this on to someone else, apologies.

[2021-08-23 12:37] streamer45 commented on #18241
Hi @muirdok, Looks like Mattermost 5.38.1 Team Edition has been built with Go version `1.15.5`. Since you are using team edition you could build it from source using a more recent Go version. In the meantime I'll see if we can update the build.

[2021-08-23 13:14] agusl88 commented on #16206
I cleaned up the stuck notifications we had on the server with the following query, and i run this query every a few days latter after creating new teams on the server.

[code]

As i explained [here](https://github.com/mattermost/mattermost-server/issues/16206#issuecomment-733157360), `general`is the name i use to rename the TownSquare default channel. I havent created new teams lately, but given

[2021-08-23 13:43] DVTrast opened #18249 "Command "mmctl config reload" not working"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-08-23 14:16] streamer45 commented on #18249
Hi @DVTrast,

Thanks for the report.

I can confirm the `config reload` command is missing in local mode. It should work normally through a standard HTTP connection though. I'll file a ticket to get this fixed.

[2021-08-23 14:21] amyblais commented on #18212
cc @hmhealey @jwilander

[2021-08-23 14:29] jwilander commented on #18212
Thanks for submitting this @WGH- !

@amyblais could you create a JIRA ticket and assign to Web Platform team?

[2021-08-23 14:32] amyblais commented on #18212
https://mattermost.atlassian.net/browse/MM-38083

[2021-08-23 14:37] amyblais commented on #18242
@gabriel-vasile This sounds similar to https://github.com/mattermost/mattermost-server/issues/17605. For example, are you using ProtonMail, Tutanota or Rainloop?

[2021-08-23 14:42] amyblais commented on #18245
@mgdelacroix Would this be a bug?

[2021-08-23 14:59] esethna commented on #15636
@Roy-Orbison bug for this here: https://mattermost.atlassian.net/browse/MM-37746 :)

[2021-08-23 15:00] #15636 closed

[2021-08-23 15:19] agnivade commented on #16206
Thank you for the update @agusl88 ! I will take a deeper look at this.

[2021-08-23 18:26] bensiauu commented on #18158
hi, i would like to work on this

[2021-08-23 18:57] saturninoabril commented on #18158
Sure and thanks @bensiauu!

[2021-08-23 19:21] amyblais commented on #18109
Thanks, appreciate your feedback @ylluminate,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and

[2021-08-23 19:21] #18109 closed

[2021-08-23 19:23] amyblais commented on #18038
Closing as release notes was updated and a PR was merged,

[2021-08-23 19:23] #18038 closed

[2021-08-23 20:57] gozeloglu commented on #18193
If this issue still open to pull request, I can fix that issue?

[2021-08-24 03:07] agnivade commented on #18193
Hi @gozeloglu - unfortunately a PR has already been sent for this. You are of course most welcome to pick up another issue.

[2021-08-24 04:45] #18191 closed

[2021-08-24 04:45] #18193 closed

[2021-08-24 06:17] agnivade commented on #16206
@agusl88 - Can you confirm something: the problem here is that you get a notification, then visit the channel, but then the team unread icon never goes below 1, correct? And then whatever you do, since there is no unread for a channel, the team unread always persists. Is that accurate?

I am trying to isolate whether the bug is that somehow we are creating a new unread or somehow we are generating

[2021-08-24 08:36] #18190 closed

[2021-08-24 12:13] amyblais commented on #18245
cc @lindy65 Are you able to reproduce this (or do you know which team owns bleve)?

[2021-08-24 12:19] gabriel-vasile commented on #18242
Hi, I'm using the web client of mail.com to view emails, but it seems the problem is the same. I will close this in favor of the existing issue.

[2021-08-24 12:19] #18242 closed

[2021-08-24 12:58] lindy65 commented on #18245
Hey @amyblais - old Server team (Miguel) owned Bleve (I think MdlC still owns)

[2021-08-24 16:04] mgdelacroix commented on #18245
This would be a bug. It seems that it is a known problem of the type of indexes that we're using, and the recommendation is to migrate to the new index type, that will (amongst other improvements) fix this. We're tracking that migration [in this ticket](https://mattermost.atlassian.net/browse/MM-29916)

[2021-08-24 16:53] gabriel-vasile commented on #17605
Hi, I encountered [this issue](https://github.com/mattermost/mattermost-server/issues/18242) too and I can confirm the fix from @narduin works.

I can start a PR with his change. I think it's also good to add a footnote in the email, something along the lines of:
_If you experience any issues with the button above, copy and paste the URL below into your web browser._

But before I do any of that,

[2021-08-24 18:21] #17748 closed

[2021-08-25 00:54] #18030 closed

[2021-08-25 04:20] mickmister commented on #17336
Closing as duplicate of https://github.com/mattermost/mattermost-server/issues/18010

[2021-08-25 04:20] #17336 closed

[2021-08-25 12:07] mgdelacroix commented on #16051
Apologies for the late response @dpanic. I'm currently working on a PR to change the indexing method and update Bleve to v2. You can track the progress in the above ticket

[2021-08-25 14:15] mattermod opened #18268 "App Framework binding elements should have unique HTML ids"
Currently when a channel header button created by the App Framework is rendered, the id is rendered without the specific App in mind. If two Apps name the `location` of their binding the same name, the HTML ids of these elements will be identical. The task here is to include the binding’s `app_id` in the HTML id, so that they are unique across different Apps.

These components can be found in:
- h

[2021-08-25 15:59] mgdelacroix commented on #18245
I've sent a PR to update the bleve version and index mechanism that should solve this bug

https://github.com/mattermost/mattermost-server/pull/18266

[2021-08-26 09:48] zefhemel opened #18272 "[Proposal] GraphQL in Mattermost"
This is an early-stage proposal. It does not yet go very much into detail on specifics yet. Its purpose is to gather initial feedback on the approach before investing into it more deeply.

## Problem
Loading a channel on Mattermost (page load), e.g. [the bugs channel](https://community-daily.mattermost.com/core/channels/bugs) in the webapp results in:

* ~**152** RESTful API calls
* ~**390KB** of

[2021-08-27 08:50] jayaddison-collabora opened #18284 "Bug: JS TypeError raised when attempting to join a private/missing channel"
#### Summary
When a privileged user account (re)connects to Mattermost and attempts to join a missing or private channel during the join process, the following error message is logged to the console:

[code]

#### Steps to reproduce
This could be a tricky issue to replicate; it seems to occur during local testing when the Mattermost Desktop app attempts to handle what should be an externally-opene

[2021-08-27 13:45] mattermod opened #18288 "Allow configuring unsafe-eval and unsafe-inline"
Today we allow the `unsafe-eval` and `unsafe-inline` CSP directives only when the server was compiled as a developer build:

https://github.com/mattermost/mattermost-server/blob/ddfa6e2436d62ad022206859729d943a66f4427f/web/handlers.go#L177-L187

I'm in a situation where I'd love to be able to debug a plugin on a non-dev-built server (specifically, [https://subpath.test.mattermost.com/](https://sub

[2021-08-27 15:30] amyblais opened #18293 "Mattermost v5.39"
You can find key dates for v5.39 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Sept 1st: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Sept 14th: Release Build Cut
The fina

[2021-08-27 16:02] glunardi opened #18294 "Improve the new channel switcher sort by listing channels with unread messages with a mention"
The contributing Feature Proposal was created back in January 2017:
https://mattermost.uservoice.com/forums/306457-general/suggestions/17828368-sort-channel-when-switching-with-ctrl-cmd-k-by-unr

This is related to:
https://github.com/mattermost/mattermost-server/issues/14633

#### Summary

The old sort with unread channels with mention listed first, then unread channels, then the rest of the chan

[2021-08-27 23:15] mattermod opened #18295 "Messaging for key combination of "ctrl+enter" is not macOS consistent"
Screenshot attached. The message would either say "⌘ <ins> </ins>enter and ctrl+enter are accepted

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions

[2021-08-30 09:36] ShunnMatsumura commented on #129
The issue still exists.

[2021-08-30 16:38] amyblais commented on #17600
Thank you for upvoting the feature request,

[2021-08-30 16:38] #17600 closed

[2021-08-30 16:39] #17599 closed

[2021-08-30 16:52] #18129 closed

[2021-08-30 16:55] #17885 closed

[2021-08-30 16:56] amyblais commented on #17873
Thank you for upvoting the feature request,

[2021-08-30 16:56] #17873 closed

[2021-08-30 16:57] #17780 closed

[2021-08-30 16:58] amyblais commented on #17704
Thanks, appreciate your feedback @tchv71,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing,

[2021-08-30 16:58] #17704 closed

[2021-08-30 17:00] amyblais commented on #17575
Thank you for upvoting the feature request,

[2021-08-30 17:00] #17575 closed

[2021-08-30 17:15] mattermod opened #18306 "Make getPrepackaged resilient to missing plugin icons."
[getPrepackagedPlugin](https://github.com/mattermost/mattermost-server/blob/fd853e74a6e81ae3ea642ec24dd2994dd3498727/app/plugin.go#L1032-L1038) throws an unrecoverable error when a plugin manifest specifies an icon path that doesn’t exist. But installing that plugin via the marketplace doesn’t throw the same error, instead just logging a warning. Let’s change this to have warn semantics instead.

[2021-08-30 17:15] mattermod opened #18307 "Support multiple URLs for outgoing webhooks"
The outgoing webhook feature of Mattermost lets the user add multiple callback URLs, one per line.

Let’s do the same for all Playbook webhooks.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermos

[2021-08-31 02:39] #18149 closed

[2021-08-31 08:25] raoulbhatia commented on #18294
I also enjoyed the old functionality where I was able use the "quick channel switcher dialog" to clearly identify all unread conversations and was able to specifically pick the ones I care about most first.

[2021-08-31 14:54] Zeezee1210 commented on #17613
Hi @amyblais,
Looks to have all the reviewers ticked. Not sure what needs to happen with this next?

[2021-08-31 14:56] amyblais commented on #17613
@Zeezee1210 Thanks, I've assigned it to a few devs to get it merged.

[2021-08-31 15:49] ReagentX opened #18319 "Long threads (> 119 messages) crash the Mattermost websocket"
#### Summary
Replying to a thread longer than 119 messages crashes Mattermost.

#### Steps to reproduce
Reply to any thread with 119 messages already in it.

#### Expected behavior
Message replies work.

#### Observed behavior (that appears unintentional)
Mattermost crashes to a blank screen.

#### Possible fixes

[code]

This happens because the websocket dies, and `id` becomes undefined [here](h

[2021-08-31 16:55] amyblais commented on #18319
@ReagentX
1. What Mattermost server version are you on?
2. What OS and version are you on?
3. Do you see any errors in Mattermost logs?

[2021-08-31 17:21] #17319 closed

[2021-08-31 17:25] aguinet opened #18320 "[webapp plugin] Unable to get a callback when a message is updated"
Disclamer: I'm not sure whether I should file this as a bug or feature request, but a discussion on the Mattermost toolkit channel suggested posting this here.

#### Summary
For a webapp plugin, it seems to be impossible to get a hook called when a message will be **updated**.

#### Steps to reproduce
Create a plugin that registers on `registry.registerMessageWillBePostedHook`. It works when a mes

[2021-08-31 17:40] amyblais commented on #18320
Opened a ticket: https://mattermost.atlassian.net/browse/MM-38274.

[2021-08-31 18:45] ReagentX commented on #18319
1. Server 5.38.2
2. MacOS 10.14.6 (18G9323) , Mattermost Desktop Version Version 4.7.1 (4.7.1.11707) (replicates in Chrome as well)
3. No

[2021-08-31 19:18] amyblais commented on #18319
Opened a ticket: https://mattermost.atlassian.net/browse/MM-38278

[2021-09-01 07:23] streamer45 commented on #17730
Closing, will take a look at this as part of the upcoming Productivity Sprint.

[2021-09-01 07:23] #17730 closed

[2021-09-01 07:23] streamer45 commented on #17729
Closing, will take a look at this as part of the upcoming Productivity Sprint.

[2021-09-01 07:23] #17729 closed

[2021-09-01 10:10] #17613 closed

[2021-09-01 11:10] ukahlert opened #18323 "Cannot create user with mmctl"
I am new to mattermost but as nearly anything else is working I have no clue on this.

Using mmctl I can list users, activate/deactivate users, change user's email, change username but when creating a new user I get
Error: Unable to create user. Error: : Login failed because of invalid password.

mattermost version is 5.38.1
mmctl that came with the archive is 5.35.0

mmctl auth list
gives reasona

[2021-09-01 12:01] streamer45 commented on #18323
Hi @ukahlert ,

looks like the password may not be valid. Could you confirm that it respects the requirements in the`PasswordSettings` section from `config.json`?

[2021-09-01 13:51] Duaard commented on #18307
Hi, I would like to look into this. 😄

[2021-09-01 14:26] #18021 closed

[2021-09-01 14:43] amyblais commented on #18293
### v5.39 RC-1 is cut
Download link: https://releases.mattermost.com/5.39.0-rc1/mattermost-team-5.39.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5016/files)

[2021-09-01 18:06] BenCookie95 commented on #17614
Hey @vsaraph, how is this ticket going?

[2021-09-02 10:04] jonespaulr opened #18331 "Not collapsing in-line images over 100px where image resized to be below 100px"
#### Summary
Image collapsing not working as expected for resized images

#### Steps to reproduce
For an in-line image over over 100px, add =(number less than 100) to the end of the image link. Image is now resized, but 'counts as' over 100px so triggers the image collapse (or if not collapsed/hidden, doesn't now display the image in-line and has the drop-down collapse arrow included).

#### Expec

[2021-09-02 12:34] thevibhu commented on #18306
I am interested in this, can I take up this issue?

[2021-09-02 13:04] #17293 closed

[2021-09-02 13:28] amyblais commented on #18331
Opened https://mattermost.atlassian.net/browse/MM-38323.

[2021-09-02 14:07] thevibhu commented on #18306
@amyblais Could you help me regarding that how can I run the project locally and reproduce the issue to test my code?

[2021-09-02 14:30] amyblais commented on #18306
@cpoile @lieut-data ^

[2021-09-02 17:35] esethna commented on #15975
@komik966 will you be submitting a webapp PR for this as well? Let us know so we can consolidate our testing efforts cc// @jgilliam17 on the server and mobile PRs already submitted ^

[2021-09-02 17:46] komik966 commented on #15975
@esethna Yes, I'll. But first I need to make requested changes to server because it results in changes to the webapp.

[2021-09-02 17:51] esethna commented on #15975
Cool. @komik966 as long as the branch names are the same on the webapp and server PRs our test servers will pick up the changes. We usually test the server and webapp changes together for features, so let us know if that works for you?

[2021-09-02 21:37] esethna commented on #15300
This is already done

[2021-09-02 21:37] #15300 closed

[2021-09-02 21:44] sonbyj01 opened #18336 "Gitlab Authentication Fail - Bad response from token request"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-09-03 08:05] arpit1912 commented on #15538
@hanzei I would like to give this issue a try.
I have a few questions related to matter most in general:
1. Is there a doc from where I can understand the code flow of the server or looking into the codebase is the only option?
2. (Specific to this issue) If you can explain how exactly are we doing the code parsing at this time or the relevant code files to visit, It will be of great help!

[2021-09-03 08:29] #13908 closed

[2021-09-03 12:48] ukahlert commented on #18323
The password respects the settings

"PasswordSettings": {
        "MinimumLength": 10,
        "Lowercase": true,
        "Number": true,
        "Uppercase": true,
        "Symbol": true
    },

Otherwise I should not be able to login at all?

mmctl auth login
works and a token is stored in ~/.config/mmctl

I login with a mattermost "System admin" account

As I can do
mmctl user (de)activate
mmct

[2021-09-03 12:57] streamer45 commented on #18323
@ukahlert

I am referring to the password for the user you are trying to create. Also, validation is only checked on password setting/user creation. Logging in should work normally. That said, if you have verified the password you are trying to use is valid then we can exclude that as a potential cause.

[2021-09-03 13:09] ukahlert commented on #18323
Thanks!!
I would have never looked at this. In fact one requirement was missing.

[2021-09-03 13:09] #18323 closed

[2021-09-03 13:27] amyblais commented on #17991
Closing as a duplicate,

[2021-09-03 13:39] #17221 closed

[2021-09-03 13:39] #16989 closed

[2021-09-03 13:40] #16981 closed

[2021-09-03 13:40] #16978 closed

[2021-09-03 13:41] #16941 closed

[2021-09-03 13:43] #16807 closed

[2021-09-03 13:45] amyblais commented on #16424
Closing as duplicate of https://github.com/mattermost/mattermost-server/issues/17740.

[2021-09-03 13:45] #16424 closed

[2021-09-03 14:19] #11067 closed

[2021-09-03 14:20] #13193 closed

[2021-09-03 14:22] #12876 closed

[2021-09-03 14:23] #12252 closed

[2021-09-03 14:24] #13265 closed

[2021-09-03 14:28] amyblais commented on #13801
Please feel free to open a feature request for this here https://mattermost.uservoice.com/forums/306457-general!

[2021-09-03 14:28] #13801 closed

[2021-09-03 14:28] amyblais commented on #13787
Please feel free to open a feature request for the second suggestion here https://mattermost.uservoice.com/forums/306457-general!

[2021-09-03 14:28] #13787 closed

[2021-09-03 14:30] #14155 closed

[2021-09-03 14:30] #14135 closed

[2021-09-03 14:31] amyblais commented on #14115
Please feel free to open a feature request for this here https://mattermost.uservoice.com/forums/306457-general!

[2021-09-03 14:31] #14115 closed

[2021-09-03 14:33] #14528 closed

[2021-09-03 14:33] #14482 closed

[2021-09-03 14:39] #14364 closed

[2021-09-03 14:40] amyblais commented on #14306
Please feel free to open a feature request for this here https://mattermost.uservoice.com/forums/306457-general!

[2021-09-03 14:40] #14306 closed

[2021-09-03 14:40] #14274 closed

[2021-09-03 14:42] #14873 closed

[2021-09-03 14:43] #14839 closed

[2021-09-03 14:43] #14829 closed

[2021-09-03 14:43] #14790 closed

[2021-09-03 14:44] #14763 closed

[2021-09-03 14:46] #15103 closed

[2021-09-03 14:47] #15008 closed

[2021-09-03 14:47] #14964 closed

[2021-09-03 14:48] #14920 closed

[2021-09-03 14:49] ylluminate commented on #13787
@amyblais you'll have to forgive me, I really don't like UserVoice at all and haven't for years.

[2021-09-03 14:50] #14977 closed

[2021-09-03 14:51] #15296 closed

[2021-09-03 14:52] #15176 closed

[2021-09-03 14:52] #15175 closed

[2021-09-03 14:53] #15150 closed

[2021-09-03 14:53] #15141 closed

[2021-09-03 14:54] #15430 closed

[2021-09-03 14:58] #16275 closed

[2021-09-03 14:59] #16229 closed

[2021-09-03 15:09] #17502 closed

[2021-09-03 15:18] Michael-E-Rose commented on #17502
Some other rather ugly behavior is when I start my message with a quote. In this case the indent equals the length of my name. Aesthetically, this is just weird; Slack automatically starts the quote on the next line.

Must I report another issue for this?

[2021-09-03 15:21] #14383 closed

[2021-09-03 15:22] #14566 closed

[2021-09-03 16:11] amyblais commented on #18336
@sonbyj01 Have you had a chance to search the troubleshooting forum (https://forum.mattermost.org/) for tips? E.g.
 - https://forum.mattermost.org/t/mattermost-auth-failure-with-gitlab-omnibus/7216
 - https://forum.mattermost.org/t/bad-response-from-token-request/2165
 - https://forum.mattermost.org/t/solved-mattermost-gitlab-token-request-failed/2628/3

If yes and they weren't helpful, I can ping

[2021-09-03 16:18] amyblais commented on #9843
The Jira ticket was closed as "won't fix" - if you're still interested in this, please help open a feature request here https://mattermost.uservoice.com/forums/306457-general!

[2021-09-03 16:18] #9843 closed

[2021-09-03 16:24] #13455 closed

[2021-09-03 16:29] amyblais commented on #14186
Closing as this is an old issue, feel free to re-open if this still reproduces,

[2021-09-03 16:29] #14186 closed

[2021-09-03 16:36] amyblais commented on #14124
Closing as this is an old issue, but feel free to re-open if it still reproduces,

[2021-09-03 16:36] #14124 closed

[2021-09-03 16:36] amyblais commented on #14116
Closing as this is an old issue, but feel free to re-open if it still reproduces,

[2021-09-03 16:36] #14116 closed

[2021-09-03 16:37] amyblais commented on #13973
Closing as this is an old issue, but feel free to re-open if it still reproduces,

[2021-09-03 16:37] #13973 closed

[2021-09-03 16:41] amyblais commented on #14452
Closing as this is an old issue. If it still reproduces, please help raise this issue in our peer-to-peer help channel at https://community.mattermost.com/core/channels/peer-to-peer-help,

[2021-09-03 16:41] #14452 closed

[2021-09-03 16:45] amyblais commented on #14958
If the above suggestions didn't help, please help open a feature request at https://mattermost.uservoice.com/forums/306457-general! Closing as this is an old Issue,

[2021-09-03 16:45] #14958 closed

[2021-09-03 16:45] #14950 closed

[2021-09-03 16:46] #14926 closed

[2021-09-03 16:49] #15337 closed

[2021-09-03 16:50] amyblais commented on #15272
Closing as this is an old Issue, but feel free to re-open it if it still reproduces,

[2021-09-03 16:50] #15272 closed

[2021-09-03 17:40] #15394 closed

[2021-09-03 17:41] #15058 closed

[2021-09-03 17:42] #14980 closed

[2021-09-03 17:45] amyblais commented on #14653
Closing as this is an old issue, feel free to re-open if the issue is back,

[2021-09-03 17:45] #14653 closed

[2021-09-03 17:46] amyblais commented on #14697
Closing as this is an old issue, feel free to re-open if the issue still reproduces on the latest version,

[2021-09-03 17:46] #14697 closed

[2021-09-03 17:46] amyblais commented on #14755
Closing as this is an old issue, feel free to re-open if the issue still reproduces on the latest version,

[2021-09-03 17:46] #14755 closed

[2021-09-03 17:47] amyblais commented on #14855
Closing as this is an old issue, feel free to re-open if the issue still reproduces on the latest version,

[2021-09-03 17:47] #14855 closed

[2021-09-03 17:54] #15521 closed

[2021-09-03 17:59] #16317 closed

[2021-09-03 18:03] #16762 closed

[2021-09-03 18:04] #16902 closed

[2021-09-03 18:34] amyblais commented on #17583
I'm unsure if this is what you're referring to, but our API docs are here: https://api.mattermost.com/.

[2021-09-03 18:34] #17583 closed

[2021-09-03 18:35] amyblais commented on #17532
I'll close this for now as it's an older issue, but feel free to re-open it if the issue persists on the latest version,

[2021-09-03 18:35] #17532 closed

[2021-09-03 18:39] amyblais commented on #16817
I'll close this for now as it's an older issue, but feel free to re-open it if the issue persists on the latest version,

[2021-09-03 18:39] #16817 closed

[2021-09-03 18:41] #16830 closed

[2021-09-03 18:43] amyblais commented on #16879
I'll close this for now as it's an older issue, but I recommend posting at https://forum.mattermost.org/ or at our [community server's Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) if the issue persists,

[2021-09-03 18:43] #16879 closed

[2021-09-03 18:44] amyblais commented on #16884
I'll close this for now as it's an older issue, but I recommend posting at https://forum.mattermost.org/ or at our [community server's Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) if the issue persists,

[2021-09-03 18:44] #16884 closed

[2021-09-03 18:44] #16919 closed

[2021-09-03 18:44] #17106 closed

[2021-09-03 18:47] amyblais commented on #16662
I'll close this for now as it's an older issue, but feel free to re-open it as needed,

[2021-09-03 18:47] #16662 closed

[2021-09-03 18:53] #16114 closed

[2021-09-03 19:15] #13131 closed

[2021-09-03 19:24] amyblais commented on #15333
I'll close this for now as it's an older issue, but feel free to re-open it if the issue persists on the latest version,

[2021-09-03 19:24] #15333 closed

[2021-09-03 19:41] amyblais commented on #17866
Closing for now, but feel free to re-open if you need further assistance here,

[2021-09-03 19:41] #17866 closed

[2021-09-03 19:42] amyblais commented on #17935
Closing for now, but feel free to re-open if you need further assistance here,

[2021-09-03 19:42] #17935 closed

[2021-09-03 19:44] amyblais commented on #17918
Closing for now, please open a feature request here https://mattermost.uservoice.com/forums/306457-general!

[2021-09-03 19:44] #17918 closed

[2021-09-03 19:46] amyblais commented on #17497
I'll close this for now, but feel free to re-open this as needed,

[2021-09-03 19:46] #17497 closed

[2021-09-03 19:47] amyblais commented on #17455
I'll close this for now, but feel free to re-open this as needed,

[2021-09-03 19:47] #17455 closed

[2021-09-03 19:49] amyblais commented on #17077
I'll close this for now, but feel free to re-open this if the issue persists on the latest version,

[2021-09-03 19:49] #17077 closed

[2021-09-03 19:52] amyblais commented on #16553
I believe this was handled by our support team,

[2021-09-03 19:52] #16553 closed

[2021-09-03 20:40] amyblais commented on #17929
I'll close this for now, but feel free to re-open this if the problem persists after upgrading,

[2021-09-03 20:40] #17929 closed

[2021-09-03 20:43] amyblais commented on #17584
I'll close this for now, but feel free to re-open this if the problem persists on the latest server version (5.38.2) and latest desktop app version (4.7.1),

[2021-09-03 20:43] #17584 closed

[2021-09-03 20:46] #16533 closed

[2021-09-03 22:53] J0WI commented on #17991
Where can I find the duplicate?

[2021-09-03 22:58] amyblais commented on #17991
Sorry about that, it looked the same as https://github.com/mattermost/mattermost-docker/issues/484. Since it's docker related I thought it makes sense to keep it in the docker repo, but feel free to re-open this issue if you'd like.

[2021-09-04 00:22] agusl88 commented on #16206
yes, exactly as you described.

[2021-09-04 05:46] arpit1912 commented on #15538
@streamer45 please have a look.

[2021-09-04 19:50] WuglyakBolgoink commented on #17584
@amyblais now I can confirm, that on a new version all work fine! thank you!

[2021-09-04 21:56] ylluminate opened #18342 "Server hangs for 2-5 minutes on channels with a lot of links and larger images and history is loaded"
#### Summary
When loading a channel with many links or larger images linked therein the server hangs for all users for several minutes and clients show the top alert error message:
[code]

The further back a user scrolls the longer the hang endures.

#### Steps to reproduce
Put a bunch of image links and URLs into a channel and then load it up. Scroll back through the previous messages.

#### Expe

[2021-09-06 11:05] hanzei commented on #15538
@arpit1912 Thanks for taking a look at this ticket. The `/code` command in handled in https://github.com/mattermost/mattermost-server/blob/c4b4e1bc38eb7ff9fcc77af93873c1386392089e/app/slashcommands/command_code.go#L40-L47. But I suspect the issues lies in the general command handling done in https://github.com/mattermost/mattermost-server/blob/d181ae9262d2ed97836334775fc58e7987ddea47/app/command.g

[2021-09-06 11:58] streamer45 commented on #15538
Actually I think the real issue happens on the client-side, before even sending the command:

https://github.com/mattermost/mattermost-webapp/blob/3c29a7ff9edfbe82619aa50106d26019ab8a5342/actions/command.ts#L50

This ticket should probably be relabeled as front-end. There's no Golang needed to address this.

@arpit1912 I understand you wanted to focus on the back-end so feel free to leave this, ju

[2021-09-06 12:06] streamer45 commented on #18342
Hi @ylluminate,

would you be able to answer a couple of questions:

- What Mattermost server version are you running?
- What are the specifications of the instance running Mattermost? (Operating system version, CPUs and RAM)
- How many concurrent users do you usually have connected when this happens?

[2021-09-06 18:27] arpit1912 commented on #15538
@streamer45 @hanzei  thanks for such a thorough explaination. I guess the given issue can be fixed by replacing the `trim` with `trimEnd`. Do let me know if this is a good way or not.

Also, @streamer45 if possible please also assign me a backend issue that you think a beginner should work on. I don't have a preference as such and I'm willing to learn new stuff along the time.

[2021-09-06 18:43] streamer45 commented on #15538
I think it would be best to add a special case for  the`/code` command and only there avoid any sort of alteration.

Sounds good :+1: I'll have a look and let you know.

[2021-09-07 15:00] hmhealey commented on #18331
Thanks for the report! I think this should be fixed in 5.39 with https://github.com/mattermost/mattermost-webapp/pull/8622.

Do you have an example of the raw Markdown you used for this so we can double check that?

[2021-09-07 19:45] mattermod opened #18351 "Provide an official upgrade path from MySQL to PostgreSQL"
Original report: https://github.com/mattermost/mattermost-server/issues/15531

**Summary**
PostgreSQL is the preferred database for Mattermost, and there should be a supported upgrade path to it.

**Possible fixes**
As per related issue [#4911](https://github.com/mattermost/mattermost-server/issues/4911], pgloader seems to be the tool of choice for migrating to PostgreSQL. It would be great if the

[2021-09-07 22:30] amyblais commented on #15531
I'll close this one as a Help Wanted Issue was opened for this (linked above ^).

[2021-09-07 22:30] #15531 closed

[2021-09-08 10:19] J0WI commented on #17991
From my understanding [the old Dockerfile](https://github.com/mattermost/mattermost-docker/blob/master/app/Dockerfile) has been deprecated in favor of [this one](https://github.com/mattermost/mattermost-server/blob/master/build/Dockerfile).

[2021-09-08 13:44] amyblais commented on #17991
@J0WI Thank you for clarifying that, and apologies for missing this earlier!

I have created an internal ticket to fix this: https://mattermost.atlassian.net/browse/DOPS-605

[2021-09-08 14:00] mattermod opened #18353 "Desktop setting to auto-launch app minimized or maximized"
This ticket is to add a feature to allow the user to have the application start minimized when the application is launched on startup.

When "Start app on login" is selected in the Desktop preferences, offer a checkmark to: "Launch app minimized" with the sub-text: “On startup, the app will appear in the system tray.”

By default, "Launch app minimized" should ***not*** be selected.

When the chec

[2021-09-08 17:42] #18036 closed

[2021-09-09 12:19] rhardtke opened #18359 "Wrong Mattermost version displayed in "About... ""
#### Summary
Wrong Mattermost version displayed in "About...

#### Steps to reproduce
Upgrade to 5.38.2, the version in "About..." is 5.**39**.2

#### Observed behavior (that appears unintentional)
![grafik](https://user-images.githubusercontent.com/20564118/132684149-7628336f-d96d-41f5-b428-1797da0153a3.png)

[2021-09-09 12:22] amyblais commented on #18359
This is noted as a known issue in v5.38.2 changelog https://docs.mattermost.com/install/self-managed-changelog.html#known-issues, and is fixed for subsequent releases,

[2021-09-09 12:22] #18359 closed

[2021-09-09 13:40] steffen74 commented on #16050
I have a similar issue on the German keyboard when using the App (version 4.2.1) on Windows 10.
On the German keyboard you must press the combination AltGr+8 to get the left bracket "[".
However, when I press "AltGr" in the App, the shortcut to switch to a specific team opens. That is, if I press "AltGr+8", I switch to the team listed on the 8th position in the team list shown on the left, instead

[2021-09-09 13:45] mattermod opened #18360 "Remove the bodyOnly prop from MoreChannels modal"
The MoreChannels modal (https://github.com/mattermost/mattermost-webapp/tree/master/components/more_channels) has an unused `bodyOnly` prop that was part of an old experimental feature that has since been removed.

We should remove that prop and all remaining logic tied to it.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.matt

[2021-09-09 20:04] mpounsett opened #18362 "Images in desktop client help pages are mislinked"
#### Summary
Many images linked to in the desktop client's help text are incorrect.

#### Steps to reproduce
Tested with v4.6.1 on MacOS.  Go to the Help link below and to the right of the chat window.  View the help text and note that many images are broken.  For example the images next to the Reply Arrow or Markdown headings in the main page at /help/messaging, or the syntax highlighting renderi

[2021-09-09 22:24] amyblais commented on #18362
@mpounsett Do you see the same issue on desktop app v4.7.1? What Mattermost server version are you on?

[2021-09-09 22:42] amyblais commented on #18293
### v5.39 RC-2 is cut
Download link: https://releases.mattermost.com/5.39.0-rc2/mattermost-team-5.39.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5016/files)

[2021-09-10 09:26] kiroswu opened #18364 "win10 desktop notifications displaying sender's profile picture"
Currently the win10 desktop notifications' displaying image is all same and default as app icon.  Can we configure it? e.g. the sender's profile picture.
![Snipaste_2021-09-10_09-02-43](https://user-images.githubusercontent.com/19584792/132832363-7fe9eb4b-4e7f-4a41-a3cb-de0fe81edfd8.jpg)

[2021-09-10 12:01] jayaddison-collabora opened #18365 "Incoming Webhooks UI: Configured channel displays as '--- Select a channel ---' if the user is not joined to that channel"
- [x] Confirm you’re filing a new issue. [Search existing tickets in Jira](https://mattermost.atlassian.net/jira/software/c/projects/MM/issues/) to ensure that the ticket does not already exist.
- [x] Confirm your issue does not involve security. Otherwise, please see our [Responsible Disclosure Policy](https://about.mattermost.com/report-security-issue/).
- [x] [File a new issue](https://github.c

[2021-09-10 12:18] mpounsett commented on #18362
The server is 5.31.3 ... 4.6.1 is what we get offered, so I don't know about 4.7.1.  This seems to have been a problem for a while though, so unless it was recently fixed it's probably still an issue in 4.7.1

A quick survey unbroken images suggests they are all linking to the local chat server hostname, and the broken images are linking to docs.mattermost.com URLs.

[2021-09-10 13:52] amyblais commented on #18364
@kiroswu What desktop app version and Mattermost server version are you on?

[2021-09-10 14:16] amyblais commented on #18365
Opened a ticket: https://mattermost.atlassian.net/browse/MM-38482

[2021-09-10 14:26] amyblais commented on #18362
@mpounsett Would you be open to testing this at https://community.mattermost.com/, and then sharing a screenshot of the images that are broken?

I wasn't able to reproduce this just now, but I may have misunderstood the reproduction steps, and a screenshot will help.

[2021-09-10 16:34] mpounsett commented on #18362
I can't reproduce it there, so perhaps this is fixed in more recent versions.
Help links there have slightly different file names.  My example above where our server is trying to load https://docs.mattermost.com/_images/syntax-highlighting-github.PNG, the community MM server tries to load https://docs.mattermost.com/_images/syntax-highlighting-github.png

[2021-09-10 17:04] amyblais commented on #18362
It seems this is getting fixed via https://github.com/mattermost/mattermost-webapp/pull/8431 for upcoming v5.39 release,

[2021-09-10 17:04] #18362 closed

[2021-09-11 01:48] kiroswu commented on #18364
Mattermost server Version: 5.38.2
Database Schema Version: 5.38.2
Database: mysql
Mattermost server is self-hosted in internal ubuntu18.04 server.

Win10 mattermost app version: 4.7.1  commit 20836c5
win10 version 20h2

[2021-09-13 04:59] agnivade commented on #16206
Thanks for the confirmation @agusl88. This is really strange because unreads are always tied to a channel, and the team unread badge number comes from a SQL query that counts the unreads for all channels.

I was working on this ticket couple weeks back, but failed to reproduce after trying lots of possible things. I will add this comment to the ticket for the next person to work on it.

[2021-09-13 08:08] jonespaulr commented on #18331
Apologies for the slow reply on this:

The markdown used as above is

`some ![serena](https://photoresources.wtatennis.com/photo-resources/2019/10/08/8a6e1bdf-580c-4d4d-b2f1-6b64eaa5038b/ZyEFAiep.jpg?width=40&height=40) text`

`some ![serena2](https://ausopen.com/sites/default/files/styles/220x/public/serena_williams_v1.png =40) text`

So the first photo is 'natively' set at the URL, while the sec

[2021-09-13 13:39] hmhealey commented on #18342
@ylluminate Is that behaviour repeatable after loading a channel once? There will be some work done to determine what you're linking to, but that should just be done once when the post is created (assuming these posts weren't created a couple years ago before that code was added) and then it should be quick.

---

@elandorr How big of an image are you talking about, and do you have an example link

[2021-09-13 14:14] elandorr commented on #18342
@hmhealey

He is talking about image links, not images uploaded to MM, which would be a one-off CPU cost as they're stored locally. (Forever, with no maintenance possible in the 'open source' edition..)

There is no meaning in specifying an image, it of course depends on the server. If you have a Jeff Bezos level server you may try some astrophotography with hundreds of MBs. Resize cost explodes w

[2021-09-13 14:24] elandorr commented on #18342
Have a random 'medium' sized image that is big enough to not show instantly in nomacs even on our i7: https://www48.zippyshare.com/v/lP0YSFaD/file.html

[2021-09-13 15:32] hmhealey commented on #18331
No worries at all. That is a similar issue to the one that prompted that PR then since it's fixed on our daily build server.
![Screen Shot 2021-09-13 at 11 28 43 AM](https://user-images.githubusercontent.com/3277310/133112359-efa84309-b802-41b8-9b65-88e739257295.png)

Thanks again for the report!

[2021-09-13 15:32] #18331 closed

[2021-09-13 15:53] lieut-data commented on #18306
Hi @thevibhu -- sorry for the delay, was on PTO. Start by getting the Mattermost Server up and running -- see https://developers.mattermost.com/contribute/server/developer-setup/ for more details.

Then, to reproduce, clone https://github.com/mattermost/mattermost-plugin-playbooks, checkout bc37b7b9bc00ddbad9585b7fe684c562f678791d, and run `make` to build the plugin at that version (with the broke

[2021-09-13 16:52] amyblais commented on #18364
@kiroswu I believe this is currently not configurable, so would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

If you're interested in implementing, please say so and we'll prioritize the review. You get

[2021-09-13 17:44] lieut-data commented on #17955
@conalli, apologies that you had trouble -- if there's anything we can do to help you succeed with other tickets (or if you just want to share your challenges), feel free to join the conversation at https://community.mattermost.com/core/channels/developers-playbooks

[2021-09-13 17:45] lieut-data commented on #17954
@eunicode, how's your effort going? Anything we can do to help?

[2021-09-13 17:49] lieut-data commented on #17904
@nishit-prasad, how's your effort going? Anything we can do to help?

[2021-09-13 17:50] lieut-data commented on #17957
@thinklikeadesigner, how's your effort going? Anything we can do to help?

[2021-09-13 19:15] mattermod opened #18376 "Consistently use at-mentions when describing <actor>"
Ensure all status change (and related) messages posted to a channel by the playbooks plugin adhere to the following structure: `<actor> <actioned> <object>`.

ie.
* `@christopher.poile` started a run of `This playbook`
* `@tao` checked off `Do this thing`
* `@caleb.roseland` finished the run

See https://community.mattermost.com/core/pl/rsb949ye57fj3r5u4cutdtqaty for more discussion.

----
If you'

[2021-09-13 19:59] #16848 closed

[2021-09-13 20:00] mattermod opened #18377 "Unify pill design in Actions settings"
Broadcast channels are pill-shaped:
![image](https://user-images.githubusercontent.com/1023171/133151234-3d5ec59a-e8dd-49da-8761-912e194705cd.png)

While keywords are more squared:
![image](https://user-images.githubusercontent.com/1023171/133151248-6154631e-8571-4a9c-9b8d-04a940d0d290.png)

We need to unify the styling of those to the rounded variety.

----
If you're interested please comment her

[2021-09-14 18:46] lieut-data commented on #17353
We're reworking the way this page works soon to present an all-in-one view. Let's revisit issues around accessibility at that time.

[2021-09-14 18:46] #17353 closed

[2021-09-14 18:48] lieut-data commented on #16401
We're changing the semantics of when a playbook run should be considered immutable, and will revisit this in a separate issue.

[2021-09-14 18:48] #16401 closed

[2021-09-14 19:00] mattermod opened #18381 "Support playbook search"
Extend [Mattermost Playbooks](https://github.com/mattermost/mattermost-plugin-playbooks) to add support for searching playbooks by name, just like do we for playbooks runs. Here's a mockup showing the placement of the search functionality:

![image](https://user-images.githubusercontent.com/1023171/133317992-2a991f72-c4e1-4de7-8451-c4a071333e4e.png)

This change will require backend changes to fac

[2021-09-14 22:40] #18284 closed

[2021-09-15 07:13] thevibhu commented on #18306
@lieut-data Thank you for your response, I have gone through the steps but I am stuck at this error:
![image](https://user-images.githubusercontent.com/24825429/133387781-b4e25bbe-a770-46d4-95a3-0aa63b636b42.png)

[2021-09-15 08:17] joachim-n opened #18384 "Mac app always opens on earlier server created on launch, rather than first in tab order or last used"
#### Summary

Whenever I open the app on MacOS, the same server tab is open. It is not the tab I had active when I closed the app, nor is it the tab I set to be first in the order. The only reason I can think why it's this one is that it's the first of the servers I set up on the app.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

#### Expected behavior

Eit

[2021-09-15 12:21] amyblais commented on #18384
@joachim-n What Mattermost desktop app version are you on? What Mattermost server version are you on?

[2021-09-15 12:30] lieut-data commented on #18306
Hmm, that's pretty obscure -- @jespino, any advice for what to do when the `docker-compose-generator` is failing like this?

[2021-09-15 13:15] joachim-n commented on #18384
Mattermost 4.6.2
I've no idea what version the servers I connect to are. How do I find that out?

[2021-09-15 13:18] joachim-n opened #18386 "Version string in about dialog is not copyable"
#### Summary

Users reporting a bug need the version number. This can be selected in the About dialog, but copy doesn't work.

#### Steps to reproduce

Version 4.6.2 on MacOS.

1. Do Mattermost > About Mattermost in the menu
2. Select the version string
3. Do either CMD-C or Edit > Copy
4. Do paste somewhere else

#### Expected behavior

The selected version string pastes

#### Observed behavior (

[2021-09-15 14:30] amyblais commented on #18384
Are you able to reproduce it with desktop app v4.7.2?

[2021-09-15 14:41] joachim-n commented on #18386
Version 4.7.2 (4.7.2.13103)

^ yup, works on latest version.

(I had assumed the app would auto-update, I had no idea I was on an outdated version.)

[2021-09-15 14:41] #18386 closed

[2021-09-15 14:42] joachim-n commented on #18384
It's fixed on the latest issue. Thanks for your help!

[2021-09-15 14:42] #18384 closed

[2021-09-15 14:43] amyblais commented on #18386
We are working on an auto-updater feature for the desktop app for a future release.

[2021-09-15 16:00] vblz opened #18389 "Plugin API for Custom Statuses"
There is a feature called "Custom status". There is API to set, get and delete user's custom status: `/api/v4/users/me/status/custom`.  In web client, desktop client, mobile client users can set a custom status. But in plugin API there are no methods to manage users' statuses: https://github.com/mattermost/mattermost-server/blob/f9bd7cce8e31f5baa2809a6a752f7d5b2d74c035/plugin/api.go

[2021-09-15 17:26] amyblais commented on #18389
Opened a ticket https://mattermost.atlassian.net/browse/MM-38576

[2021-09-15 19:00] mattermod opened #18393 "Simplify status filtering widget for playbook runs"
Instead of a multi-checkbox dropdown option for filtering playbook runs by status:

![image](https://user-images.githubusercontent.com/1023171/133497796-0797b4b3-2eb6-48e8-ae45-a3a37d0e8ff5.png)

Simplify to just a single checkbox. When unchecked, only in progress runs are listed. When checked, both in progress and finished runs are included. (For clarity, it therefore becomes impossible from the

[2021-09-15 19:00] mattermod opened #18394 "Filter runs by playbooks dropdown"
Filtering the list of playbook runs currently allows searching by name, by runs in which the active user is a participant, and by a given owner, status, or team:

![image](https://user-images.githubusercontent.com/1023171/133497640-1aa0cc6d-69eb-44f7-925e-ce2156f912e6.png)

Let’s extend this to include a dropdown for filtering by a given playbook. The list of playbooks shown in this dropdown shoul

[2021-09-15 20:30] hmhealey commented on #18342
Do you perhaps have the local image proxy enabled? That's the only thing I could think that of on the server that would be impacted by this every time a post is loaded. As far as I know, that doesn't resize images at all, but it's possible that it's streaming all of the image data to the client each time and that might not be caching correctly for whatever reason.

Without that enabled though, the

[2021-09-16 06:41] vblz commented on #17496
Hello. Is there any estimates regarding this issue? I'm asking because it's quite annoying when you try to read server logs. Checked that at our server logs now, there are 337 `Notifications already requested but not granted` messages in 1060 lines of logs, a third part.

[2021-09-16 09:52] elandorr commented on #18342
Yes, of course, otherwise we expose user data to anyone posting a link. I'd rather turn off previews before allowing that.

If it's not resizing server side, then I don't know where the CPU usage stems from.
Not resizing at all makes little sense as well, why would you send the full file only to have the client resize it down to a small preview anyway? Just needs a way to limit filesize and a cust

[2021-09-16 11:12] streamer45 commented on #18342
@elandorr Are you able to record and share a CPU profile when this happens? That should hopefully point us to the underlying issue you are experiencing. You can do that by enabling performance monitoring on your instance (`admin_console/environment/performance_monitoring`). Then you can generate a profile with:

[code]

[2021-09-16 12:12] #18293 closed

[2021-09-16 13:00] Psalm27-4 opened #18398 "Lack of Move Option When Window is Stuck Off Screen"
Hi,

This is for the Windows 10 Mattermost Desktop App, Version 5.36.0. I am observing that Mattermost can become "stuck" off screen when changing setups with multiple monitors. A couple days a week I transition into the office from home, this involves bringing my dock and laptop in. I have two monitors plugged into my dock in both settings, which are both different manufacturer than those I have

[2021-09-16 13:14] Psalm27-4 commented on #18398
Closing this issue as it is posted in the wrong area.

[2021-09-16 13:14] #18398 closed

[2021-09-16 20:20] poflankov commented on #18180
Can I work on this?

[2021-09-16 20:21] haardikdharma10 commented on #18180
Hey @poflankov, sure please go ahead 👍

[2021-09-16 23:50] wezm opened #18406 "Deprecation of ExperimentalTimezone"
The [release notes for v5.39](https://docs.mattermost.com/install/self-managed-changelog.html#release-v5-39-quality-release) includes a section on upcoming deprecations in 6.0. It includes:

I've done some more searching here and in Jira and couldn't find more information on what this means exactly. If it means that this feature will be removed I'd like to voice my opposition to that. I've enabled

[2021-09-17 06:33] agnivade opened #18407 "Migrate from gorp to sqlx in store/sqlstore/audit_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/audit_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-09-17 06:37] agnivade opened #18408 "Migrate from gorp to sqlx in store/sqlstore/channel_member_history_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/channel*member_history*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`Ge

[2021-09-17 07:19] #15538 closed

[2021-09-17 08:26] yedamao commented on #18407
I'd like to work on this.

[2021-09-17 08:30] haardikdharma10 commented on #18407
@yedamao sure please go ahead 👍🏻

[2021-09-17 11:37] elandorr commented on #18342
I don't have time for that right now, maybe the initial reporter will do it. Easy to reproduce on a fresh setup as well.

[2021-09-17 11:45] streamer45 commented on #18342
Fair enough. I've created https://mattermost.atlassian.net/browse/MM-38634 to track this and will let teams prioritize accordingly.

[2021-09-17 11:47] elandorr opened #18410 "bulk export does not include profile_image"
#### Summary
Bug report in one concise sentence

bulk export does not include profile_image

#### Steps to reproduce
5.39
export
custom emojis are exported to folder next to the jsonl, but not profile pictures

#### Expected behavior
keep all profile data, including profile pictures

Options to configure what exactly is exported would be helpful too - I'm experimenting with this and jq to 'reset'

[2021-09-17 13:00] elandorr commented on #18410
Wait a second - there is no password field either. How are you supposed to make use of this tool then?

[2021-09-17 13:16] amyblais commented on #18406
The new channel sidebar covers a lot of the use cases for needing these experimental features. @esethna can share more details.

[2021-09-17 13:20] amyblais commented on #18410
Here is a doc on what attributes are supported: https://docs.mattermost.com/manage/bulk-export-data.html.

[2021-09-17 13:30] elandorr commented on #18410
That's where I got that info from. The docs say the tool is intended to be used to migrate, but that is apparently not possible at all.

[2021-09-17 16:01] esethna commented on #18406
@wezm sorry we should be more clear on what that means. We are removing that config setting and promoting the feature to general availability (ie that is now the default behaviour). @amyblais can you help update the release notes and I'll update the blog?

[2021-09-17 16:56] amyblais commented on #18410
@streamer45 @mgdelacroix Is there a ticket to add profile_image or is this a feature request?

[2021-09-17 17:32] streamer45 commented on #18410
I am not aware of one but since we supposedly accept user profile images during the import process it makes sense to export them in the first place.

[2021-09-17 18:03] amyblais commented on #18410
Opened https://mattermost.atlassian.net/browse/MM-38647.

[2021-09-17 18:06] elandorr commented on #18410
What happens when you import via this tool anyway? Since there's no password field I don't see how it would even migrate users at all. What am I missing?

[2021-09-17 18:34] streamer45 commented on #18410
Users are exported/imported fine but if they authenticate with a password (that's not always the case) the field is left empty and users need to force a reset. Were you expecting the hashed password to be exported?

[2021-09-17 19:11] elandorr commented on #18410
Yes, exactly. I saw the auth service options, but this setup is self-contained. I'm playing with the thought of touching the DB again myself, but I'd rather use your 'official, clean' way before I make yet another tool on top of what has already been made by other MM admins. I just need a clean way of resetting the instance and keeping users/settings/channels/teams. Especially all the uploaded fil

[2021-09-17 21:52] wezm commented on #18406
Ahh that's good to hear. Feel free to close this issue then.

[2021-09-17 23:29] #18406 closed

[2021-09-20 06:28] streamer45 commented on #18410
I've created https://mattermost.atlassian.net/browse/MM-38656 to consider this addition.

[2021-09-20 13:25] #18407 closed

[2021-09-20 14:40] amyblais opened #18423 "Mattermost v6.0"
You can find key dates for v6.0 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Sept 20: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Oct 12th: Release Build Cut
The final r

[2021-09-20 15:29] elandorr commented on #18410
@streamer45 Thank you. Is there any reason not to simply export the respective tables in the DB and import? teams,channels,channelmembers,users? That seems like a rather clean way to reset and be able to maintain a 'team edition' MM instance.

I tried deleting messages and finding the corresponding files myself, and that works, but I don't know of the consequences. Would my suggestion be a safe wa

[2021-09-21 06:49] Etienne-Carriere opened #18427 "Double references in Jaeger span"
#### Summary

When activating Jaeger tracing, in an opentracing span, there reference to the parent (`child of` reference) is present twice in the span.

#### Steps to reproduce

1. Activate Mattermost Jaeger tracing
2. Do an action
3. See in Jaeger UI the trace : the reference for parent (`child of` is duplicated)

#### Expected behavior

In the Jaeger span, the reference `child of` is not duplic

[2021-09-21 07:04] streamer45 commented on #18410
I haven't designed the current import/export tool but a strong reason to make it database agnostic is that it should support multiple versions of MM that could alter the underlying schema. Using the same application logic gives us the advantage of not having to keep it in sync every time we make a change at the lower levels.

That should work just fine. To keep things clean you may also want to de

[2021-09-21 10:49] larkox opened #18428 "Migrate `buildSearchPostFilterClause` to use Squirrel"
On several parts of our database related code we are using the `squirrel` package to create the queries. But some legacy code still relays on string substitution. This is the case of `buildSearchPostFilterClause` function on `store/sqlstore/post_store.go`.

The objective of this ticket is remove the string substitution and use `squirrel` to form the query.

As a pattern, you can check the work don

[2021-09-21 14:00] mattermod opened #18429 "Animate emoji skin tone selector"
When the user opens or closes the skin tone selector in the emoji picker, it should have a smooth animation to display and hide it.

![](Screen Recording 2021-09-09 at 14.32.47.gif|width=730,height=284)

Some more info can be found in the following links:

[https://github.com/mattermost/mattermost-webapp/pull/8282#pullrequestreview-687615567](https://github.com/mattermost/mattermost-webapp/pull/82

[2021-09-21 14:15] mattermod opened #18430 "Emoji names are being truncated too soon in the picker"
Daily

Repro:
1. hover over a long emoji name in the picker

Observed: Custom Emoji button is causing the emoji name to truncate way earlier than it has to

 ![](image-2021-08-09-11-46-39-550.png|thumbnail)

Expected: Allow the emoji text to run closer to the custom emoji button

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.ma

[2021-09-21 14:26] hmhealey commented on #18074
Opening this up for Help Wanted since I don't have time to finish up the PR for this.

For anyone who wants to take this on, feel free to work off my PR or start from scratch.

[2021-09-21 14:30] mattermod opened #18431 "Category name shows an additional outline on drag and drop"
Environment: Cloud August 25th 4876*9163f9dd_4046403c*5e5653bd
Does not reproduce on daily. Originally implemented in https://mattermost.atlassian.net/browse/MM-31004

Steps:
1. Create a category and add few channels
2. Pick up one channel and hover over category name

Expected: Whole category outline while hovering.

Observed: Category is outlined as expected, but category name is also showing an

[2021-09-21 14:55] amyblais commented on #18427
Opened a ticket: https://mattermost.atlassian.net/browse/MM-38707

[2021-09-21 16:10] amyblais commented on #18423
### v6.0 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.0.0-rc1/mattermost-team-6.0.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5053/files)

[2021-09-21 20:45] mattermod opened #18436 "Pre-populate email address in signup page when redirected from "Ask the Community" feature"
Feature: Ask the Community - https://mattermost.atlassian.net/browse/MM-26607

Repro steps:
1. Find "Help" icon in top right edge of the channel header
2. Click it, then choose "Ask the community".
3. You should be redirected to https://mattermost.com/pl/default-ask-mattermost-community/. Click on "Join Community" action button

Observed: Redirected to community.mattermost.com sign up page with a

[2021-09-22 06:39] vlfesko opened #18439 "Wrong user avatar images - multiple users receive the same avatar image set by other user"
#### Summary
Wrong user avatar images - multiple users receive the same avatar image set by other user.

#### Steps to reproduce
Hard to say, we just noticed that multiple users received new wrong avatar which was set and belongs to other user.

#### Expected behavior
Avatar set by a user displayed only for his account and not applied to other's accounts.

#### Observed behavior (that appears unin

[2021-09-22 07:58] lindy65 commented on #18436
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:00] lindy65 commented on #16843
Closing this issue as testing is complete.

[2021-09-22 08:00] #16843 closed

[2021-09-22 08:02] emilyacook commented on #18436
QA issue created: https://github.com/mattermost/quality-assurance/issues/7

[2021-09-22 08:05] lindy65 commented on #18431
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:07] emilyacook commented on #18431
QA issue created: https://github.com/mattermost/quality-assurance/issues/8

[2021-09-22 08:10] lindy65 commented on #18430
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:12] lindy65 commented on #18429
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:13] emilyacook commented on #18429
QA issue created: https://github.com/mattermost/quality-assurance/issues/9

[2021-09-22 08:13] emilyacook commented on #18430
QA issue created: https://github.com/mattermost/quality-assurance/issues/10

[2021-09-22 08:17] lindy65 commented on #18048
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:18] lindy65 commented on #18047
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:19] lindy65 commented on #18046
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:19] emilyacook commented on #18047
QA issue created: https://github.com/mattermost/quality-assurance/issues/11

[2021-09-22 08:19] emilyacook commented on #18048
QA issue created: https://github.com/mattermost/quality-assurance/issues/12

[2021-09-22 08:22] lindy65 commented on #17787
https://github.com/mattermost/desktop/pull/1691

[2021-09-22 08:23] emilyacook commented on #18046
QA issue created: https://github.com/mattermost/quality-assurance/issues/13

[2021-09-22 08:23] lindy65 commented on #17786
https://github.com/mattermost/desktop/pull/1743

[2021-09-22 08:27] lindy65 commented on #17735
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:28] emilyacook commented on #17735
QA issue created: https://github.com/mattermost/quality-assurance/issues/14

[2021-09-22 08:29] lindy65 commented on #17734
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:32] emilyacook commented on #17734
QA issue created: https://github.com/mattermost/quality-assurance/issues/15

[2021-09-22 08:49] lindy65 commented on #17732
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:50] lindy65 commented on #17707
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:51] lindy65 commented on #17640
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 08:51] emilyacook commented on #17640
QA issue created: https://github.com/mattermost/quality-assurance/issues/16

[2021-09-22 08:51] emilyacook commented on #17707
QA issue created: https://github.com/mattermost/quality-assurance/issues/17

[2021-09-22 08:52] emilyacook commented on #17732
QA issue created: https://github.com/mattermost/quality-assurance/issues/18

[2021-09-22 09:07] lindy65 commented on #17572
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 09:10] emilyacook commented on #17572
QA issue created: https://github.com/mattermost/quality-assurance/issues/19

[2021-09-22 09:10] lindy65 commented on #16918
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 09:14] emilyacook commented on #16918
QA issue created: https://github.com/mattermost/quality-assurance/issues/20

[2021-09-22 09:20] lindy65 commented on #16515
@emilyacook please tag this for QA hacktoberfest

[2021-09-22 09:23] emilyacook commented on #16515
QA issue created: https://github.com/mattermost/quality-assurance/issues/21

[2021-09-22 11:55] agarciamontoro commented on #16206
Hi @agusl88, it's me now trying to investigate this issue!One question: how do you change the name of the Town Square channel? I see that in your queries you're selecting `Name` instead of `DisplayName`. The URL

[2021-09-22 16:22] agarciamontoro commented on #16206
An additional question: what's the last version you were able to reproduce this in?

[2021-09-22 18:01] esethna commented on #17707
@AkromDev let us know if you're still working on this?

[2021-09-22 18:05] esethna commented on #17732
@darkLord19 let us know of you're still going to take this, otherwise we'll open it up for grabs

[2021-09-22 18:22] darkLord19 commented on #17732
@esethna yes please make it up for grabs for now. If no one picks it till I get time to do this then I will do it

[2021-09-22 20:15] mattermod opened #18448 "Expose an endpoint to un-finish a playbook run"
While we don't expose in the UI any ability to "un-finish" a run, let's give a means to do this via an API call to `/runs/<id>/restore`.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core t

[2021-09-23 09:44] #15024 closed

[2021-09-23 13:29] amyblais commented on #18439
@vlfesko Would you be able to help post this troubleshooting question on [our troubleshooting forum here](https://forum.mattermost.org/) or on our [community server's Peer-to-peer Help channel here](https://community.mattermost.com/core/channels/peer-to-peer-help), and our community or devs will likely be able to help with this?

[2021-09-23 16:19] amyblais commented on #17991
A PR for this has been merged https://github.com/mattermost/mattermost-server/pull/18450.

[2021-09-23 16:19] #17991 closed

[2021-09-23 18:23] SBagaria2710 commented on #16242
I don't think this feature was completed 😅
If it is still pending, I'd like to take a look 😄

[2021-09-23 20:07] esethna commented on #16242
@SBagaria2710 it's all yours

[2021-09-24 04:20] sahmed007 commented on #18428
Hi, may I work on this?

[2021-09-24 04:55] agnivade commented on #18428
Go for it @sahmed007 !

[2021-09-24 12:40] slonm opened #18461 "Bug: Paste from clipboard to message editor by Ctrl+v when focus on chat box is not working"
#### Summary
We could start input from keyboard anytime and if last clicked control have no input ability like chat box or contacts box then message editor got focus and take input instantly.
That's not true if we paste text from clipboard by Ctrl+v. That's often case for me then i copy-past message parts from chat box.

#### Steps to reproduce
Select couple words in chat box then copy it to clipb

[2021-09-24 13:21] amyblais commented on #18461
@slonm

1. What OS and version are you on?
2. What is your Mattermost server version?
3. Are you experiencing the issues with the browser webapp, if so which one?
4. Are you experiencing the issues with the Mattermost Desktop App, if so what version and OS?

[2021-09-24 13:34] slonm commented on #18461
Q: What OS and version are you on?
A: Desktop client v 4.6.2 on Windows 10

Q: What is your Mattermost server version?
A: 5.35.2

Q: Are you experiencing the issues with the browser webapp, if so which one?
A: I lost my login password and unable to check for a while

[2021-09-24 13:40] amyblais commented on #18461
@slonm When you have a chance, would you be able to upgrade and test if you can still reproduce the issue with these versions:

1. Desktop app v4.7..2.
2. Mattermost server version v5.37.2 or later. You can also test on our [community server here](https://community.mattermost.com), which is on the latest server version.

[2021-09-24 13:55] slonm commented on #18461
Confirmed fix in v4.7.2 and work as expected on community server in the Google Chrome.
Sorry for bother you.

I'm surprized desktop client don't check for upgrades

[2021-09-24 13:56] amyblais commented on #18461
Glad to hear! We're working on a desktop auto-updater for a future release,

[2021-09-24 13:56] #18461 closed

[2021-09-24 19:20] poflankov commented on #18180
Could anyone please review my PR

[2021-09-24 20:19] saturninoabril commented on #18180
Oopss, sorry for the delay. I totally missed your PR. Thanks for pinging. Now reviewing.

[2021-09-25 06:47] majidit opened #18465 "Problem of Formatting Text with Persian language"
Hello friends

Look at the pictures to see the problem

![image](https://user-images.githubusercontent.com/29058805/134761769-96396615-a865-49a8-bfb4-458f21da6516.png)

![image](https://user-images.githubusercontent.com/29058805/134761781-2ff05804-9adb-4eec-8be3-945881430d16.png)

The subset is not done in Persian language mode

@tbalthazar @lurcio @mauricio @cored

[2021-09-25 16:15] darkLord19 opened #18466 "Not able to start up local dev environment"
Getting below error on running `make run-server`
[code]
OS: MacOS 11.6

Docker version: 20.10.8, build 3967b7d

[2021-09-25 21:11] alankan886 commented on #18376
Hello, I would like to work on this!

[2021-09-26 03:56] saurabhraj042 commented on #17953
@mattermod  I want to work on this issue !

[2021-09-26 06:35] codedsun commented on #18466
Hi @darkLord19 I also got the error a few days back.

You can follow the steps that made me resolve the issue

https://community.mattermost.com/core/pl/j1dgeap8qp83xr8ym1e7tkgptc

Also for my case it was a postgres installed in mac which was causing the issue

[2021-09-26 08:23] Sampriti-Mitra commented on #18376
@mattermod can I take this? is this still open?

[2021-09-26 10:27] darkLord19 commented on #18466
Thanks @codedsun for the help but I don't have any other instance of postgres running on my device.

[2021-09-26 11:17] codedsun commented on #18466
Have you read the conversation and followed the steps? @darkLord19 If not, then please do

Also paste docker ps result here.

[2021-09-26 19:43] matheusmosca commented on #18408
Hi @agnivade! Can I work on this issue?

[2021-09-27 07:40] slonm opened #18469 "Alt pressing set focus to menu and second pressing does not rewert focus to message editor"
#### Summary
Alt pressing set focus to menu and second pressing does not rewert focus to message editor

#### Steps to reproduce
1. Set focus to message editor and start write something.
2. Press Alt.
3. Press Alt again.
4. Continue writing.

#### Expected behavior
Focus revert to message editor and i can continue input.

#### Observed behavior (that appears unintentional)
After press Alt focus st

[2021-09-27 11:26] darkLord19 commented on #18466
@codedsun yes i did go through conversation but wasn't able to solve my issue.

[code]

[2021-09-27 13:23] amyblais commented on #16775
Opened a ticket for UX to take a look: https://mattermost.atlassian.net/browse/MM-38856.

[2021-09-27 14:11] lieut-data commented on #17352
Closing this ticket to pull back into our team.

[2021-09-27 14:11] #17352 closed

[2021-09-27 14:12] lieut-data commented on #18306
@thevibhu, did you have any luck resolving the build environment issues? Feel free to join https://community.mattermost.com/core/channels/developers-server if you're still stuck :)

[2021-09-27 14:19] lieut-data commented on #17953
Thanks, @saurabhraj042! Let us know if you have any trouble getting started :)

[2021-09-27 14:20] lieut-data commented on #18376
Hi @alankan886 & @Sampriti-Mitra -- we'd love your help! I've tentatively assigned @alankan886 given the first ask, but I'd be happy to help point you at other issues, @Sampriti-Mitra, if you're interested ;)

@alankan886, let me know if you need any help getting started :)

[2021-09-27 14:36] amyblais commented on #18466
@darkLord19 Feel free to also optionally post about this either in the ~Developers or ~Peer-to-peer Help channel on the community server and our devs can help as well.

[2021-09-27 14:41] amyblais commented on #18469
@slonm Would you be open to testing if you can also reproduce this on desktop app v5.0-rc1 https://github.com/mattermost/desktop/releases/tag/v5.0.0-rc1?

If you'd prefer not to download the RC, I can ask QA to help test this as I don't have Windows.

[2021-09-27 14:43] amyblais commented on #18465
@majidit Did you use a plugin to enable the Persian language?

[2021-09-27 16:56] #18180 closed

[2021-09-27 18:06] slonm commented on #18469
Reproduced on desktop app v5.0-rc1

[2021-09-27 18:45] mattermod opened #18475 "MM Apps - Searching modals in multi selects will always show "No results" before any search results are displayed"
When using the searches, the first character entered will always show "No Results` for a brief moment then start to list them. A loading feedback here would have a nicer feel.

This is occurring for the new multi-select functionality implemented here https://github.com/mattermost/mattermost-mobile/pull/5400

This affects selecting Static Options, Users and Channels from a modal.

----
If you're in

[2021-09-27 18:45] mattermod opened #18476 "MM Apps - Improve mobile oAuth UX to increase text size when confirming your account was connected"
After a user has connected an oAuth app on mobile the confirmation text is very small
 ![](image-2021-09-27-12-06-23-863.png|thumbnail)

We should investigate if there is a way to improve this.

This may need app specific work.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily bui

[2021-09-27 20:06] poflankov commented on #18178
Can I work it?

[2021-09-27 20:40] saturninoabril commented on #18178
@poflankov Sure and thanks! I've updated the test not to mention other server name. Test could be made against the local server.

[2021-09-28 03:36] kiroswu opened #18481 "IOS15 mattermost app cannot receice msg notifications"
After upgraded to IOS15, the mattermost app cannot receice msg notifications. It's all fine in ios14 before ios upgrading. What should i do or how to fix it? Thx

Mattermost server version: 5.38.2 linux x64
Push Notification Server: https://push-test.mattermost.com
ios mattermost app version: 1.46.0(build 368)

Mobile notification is configurated for all activity and triggered when online away or

[2021-09-28 05:51] majidit commented on #18465
Yes ...

Mattermost RTL (ir.quera.mattermost-rtl - 0.2.0)
This plugin adds RTL support to Mattermost.

[2021-09-28 12:54] mjnaderi commented on #18465
This issue can be closed according to https://github.com/QueraTeam/mattermost-rtl/commit/7d0224fa42aff64419af0873f9e078c097187e1a.

[2021-09-28 12:55] #18465 closed

[2021-09-28 13:00] mattermod opened #18482 "Picking two emojis from the emoji picker puts the caret in the middle of both"
When selecting more than one emoji, the caret gets moved into the middle of both emojis, it should be right after the second emoji. Picking a third emoji will write it between the other two, instead of at the end. Fixing the caret positioning should take care of the problem.

Steps to reproduce:

  * with the input box empty, click emoji picker
  * select one emoji (emoji A) from the list it shoul

[2021-09-28 13:37] poflankov commented on #18178
How can I simulate the situation of appearing the spinner here?

[2021-09-28 13:45] mattermod opened #18483 "E2E: Add Cypress test for emoji skin tone selector"
With the new changes allowing for skin selection, we need a way to ensure it works properly via e2e tests.

So we need to create some cypress tests to ensure the functionality is properly tested. You can find the steps in the following test case:

Cypress Automation:
Test case for Emoji skin tone selector has been created in Zephyr, also linked here
[MM-T4110](https://mattermost.atlassian.net/proj

[2021-09-28 14:06] Szymon-Rysztof opened #18484 "Session is expiring on each site refresh"
#### Summary
On each page refresh or desktop app re-run (Right-click > exit from tray and then run), logged user is losing his session.

#### Steps to reproduce
1. Login to mattermost server
2. Refresh page
Or
1. Login in Desktop Client
2. Close it from tray
3. Re-Open it

#### Expected behavior
User is still loged, session should not expire that fast.

#### Observed behavior (that appears uninten

[2021-09-28 14:15] mattermod opened #18485 "Extract loadProfilesMissingStatus from MoreDirectChannels modal"
The Open a Direct Message modal (https://github.com/mattermost/mattermost-webapp/tree/master/components/more*direct*channels) currently takes a `statuses` prop which contains every user's status. This causes it to re-render whenever any user's status changes.

To reduce re-rendering, we can extract the loadProfilesMissingStatus method from MoreDirectChannels into a redux-thunk action so that we ca

[2021-09-28 14:15] mattermod opened #18486 "Remove duplicate isAdmin/isGuest and related functions from utils.jsx"
The following functions are duplicated between `utils/utils.jsx` and `packages/mattermost-redux/src/utils/user_utils.ts` in the web app repository:
- isAdmin
- isSystemAdmin
- isGuest
- isChannelAdmin (only exists in `utils.jsx` but should be in mattermost-redux)

Since `utils.jsx` is bloated, let's remove that copy of those functions and update the rest of the code base to use the mattermost-redu

[2021-09-28 14:21] poflankov commented on #18179
Is this issue already done here?
https://github.com/mattermost/mattermost-webapp/blob/c779ce34530fcfb353910e1714301aed2dad0eda/e2e/cypress/integration/files_and_attachments/upload_files_spec.js#L156-L188

[2021-09-28 17:58] amyblais commented on #18484
@Szymon-Rysztof
1. Can you send a snippet of the Mattermost server logs around the time of the incident?
2. What is your session length set to? https://docs.mattermost.com/configure/configuration-settings.html#session-idle-timeout-minutes

[2021-09-28 19:29] saturninoabril commented on #18179
Oh, right. You're correct. Thanks for checking @poflankov!

[2021-09-28 19:29] #18179 closed

[2021-09-29 04:29] saturninoabril commented on #18178
The spinner will appear during fetching of the next page of teams available for joining. To simulate it manually, create more than 30 teams (that allows open invite), visit `/select_team` page, then scroll down the list of teams. Observe that the spinner shows up until the newly fetched data is rendered in the list. So, it's a combination of UI action (scrolling), scroll position (near the bottom

[2021-09-29 07:04] Szymon-Rysztof commented on #18484
@amyblais

1. Do i need to look for something specific? I tried to capture `app` container's logs, but i can't really see any new logs. This are the web container access logs while refreshing page
[code]
2. I believe that at this moment they are default
`        "ExtendSessionLengthWithActivity": false,`
`        "SessionIdleTimeoutInMinutes": 43200,`
But i tried with tweaking them, and setting `E

[2021-09-29 09:24] poflankov commented on #18178
Thanks for clarifying. But I've got a question: step 1 says "very few teams". Are you sure it's a case for long list of teams? Maybe it's different test case?

[2021-09-29 09:41] saturninoabril commented on #18178
I only responded to your question and I thought you'd like to see what kind of spinner is to be observed there.

The test is not intended for a long list of teams but exactly on the stated steps and expectation above. When no more team to join, no spinner should be visible on `/select_team` page. See screenshot of the past bug and [the ticket](https://mattermost.atlassian.net/browse/MM-23042) wher

[2021-09-29 11:59] poflankov commented on #18178
Ah, thanks, got it now.
I've already made the test in fact, which exactly checks the absence of the spinner.
And I wanted to test my test so it breaks when something makes the spinner appear.
[code]
I mean if the spinner should appear - will this test do the task?
E.g. if the spinner somehow appears after the `cy.get('#loadingSpinner').should('not.exist')` assertion.

[2021-09-29 12:17] saturninoabril commented on #18178
Yeah, something like that, except it's using other loading indicator ([LoadingScreen](https://github.com/mattermost/mattermost-webapp/blob/master/components/loading_screen.tsx)). So, it could be:
[code]

[2021-09-29 13:20] amyblais commented on #18484
@Szymon-Rysztof Does this troubleshooting guide help for the desktop app case  https://docs.mattermost.com/install/desktop-app-install.html#desktop-app-constantly-asks-to-log-in-to-mattermost-server?

[2021-09-29 14:13] Szymon-Rysztof commented on #18484
@amyblais
Sadly no.
But anyway, my organization wants to move from Slack, so we set up this mattermost server for us, to check it out, and sadly i'm not the only one who is experiencing this issue, so i don't think, that this kind of local fix would be helpful.

[2021-09-29 14:14] amyblais commented on #18484
@wiggin77 @ahmaddanialmohd Would you have thoughts on how we could further troubleshoot this report?