[2021-11-12 11:02] ihqtzup commented on #18988
Mattermost Enterprise E20.

[2021-11-12 14:53] amyblais commented on #18988
@ihqtzup Do you see any errors in Mattermost logs when the issue occurs?

[2021-11-12 15:57] lucasscheepers opened #18990 "GitLab SSO: The redirect URI included is not valid"
**Summary**
The error “The redirect URI included is not valid.” when logging in to Mattermost with GitLab

**Steps to reproduce**
I'm using the latest version of Mattermost [Free version] and the official www.gitlab.com. So no self hosted gitlab or something.

**Expected behavior**
Logging in to Mattermost with GitLab

**Observed behavior**
I'm getting the error `The redirect URI included is not v

[2021-11-12 16:11] amyblais commented on #18990
Would any of these troubleshooting threads help?
 - https://forum.mattermost.org/t/solved-the-redirect-uri-included-is-not-valid-after-mmost-url-change/931
 - https://forum.mattermost.org/t/the-redirect-uri-is-not-valid-during-oauth-on-on-new-gitlab-v8-2-2-omnibus-installation/633/2
 - https://forum.mattermost.org/t/cannot-log-in-with-gitlab/5027
 - https://stackoverflow.com/questions/56476104/the

[2021-11-12 16:56] lieut-data commented on #18288
Thanks again @SharathHuddar (and @jayaddison-collabora :))

[2021-11-12 17:01] jayaddison-collabora commented on #18288
Nice!  Thanks @SharathHuddar @lieut-data!

[2021-11-12 17:11] lieut-data commented on #18972
Thanks again, @JulienTant :)

[2021-11-13 05:38] kaakaa commented on #18640
@streamer45 I've created #18992

[2021-11-13 10:49] karoolpl opened #18993 "Error pulling team-edition Master from github.com"
Hello,

I use microk8s/1.22-stable, today i found error when my k8s tried to download newver verison of master image. Error:

[code]

  When i changed image from master to relase-6.1 everything works fine, i got same error on 1.20-stable. I think thats some error with master image, plz check it out :)

[2021-11-13 18:58] thomas-mc-work commented on #17357
What about [the default HTTP proxy mechanism used by all browsers](https://en.wikipedia.org/wiki/Proxy_server#Web_proxy_servers)? That would make choosing an implementation as easy as possible.

[2021-11-14 14:32] wget commented on #18723
For those witnessing this issue and finding this error via a search engine:
[code]

If you do not want to wait for Mattermost 6.1 or be urged to migrate to a more recent version because you're following the ESR branch for instance, just remove the faulty index with:
[code]

Go in the `System Console` > `Plugin Management`, disable the plugin  `Playbooks` and reenable it. You should be all right af

[2021-11-14 15:52] lucasscheepers commented on #18990
Hi @amyblais,
Thanks for answering. I'm struggling with this issue quite some time now..

First of all is GitLab SSO on http://localhost:8065 possible or does it has to be publicly accessible?

Some of these threads I already saw. In the first thread they're referring to `/etc/gitlab/gitlab.rb` and a mattermost_external_url. In the second thread they're also referring to a mattermost_external_url.

[2021-11-14 18:21] Nils-Goldmann commented on #16127
I would like to work on this issue.

[2021-11-15 08:58] PommereningMartin commented on #18983
@streamer45 I figured out that our production system runs with MySQL version 8.0.22 instead of 8.0.25 like our test system

* I will update the version in the ticket description
* on the test system with Mysql version 8.0.25 the delete of posts works fine

[2021-11-15 09:06] agnivade commented on #18983
Thanks @PommereningMartin, that's interesting to know. I happened to test this while doing something else, and I observed that with 8.0.21, post deletion is working fine. I am guessing there happened to be some regression with 8.0.22 which got fixed in a later version.

[2021-11-15 13:52] lieut-data commented on #18723
Thank you, @wget! To anyone else arriving here, I'd love to more about your reliance on MariaDB so we can surface usage to the right channels. We still don't officially support MariaDB, and it seems the gap with MySQL is only growing wider. Getting ahead of these issues would be great :)

[2021-11-15 14:10] #18880 closed

[2021-11-15 14:10] #18882 closed

[2021-11-15 14:56] #18919 closed

[2021-11-15 15:33] #18881 closed

[2021-11-15 15:42] #18876 closed

[2021-11-15 15:43] #18879 closed

[2021-11-15 16:11] amyblais commented on #18993
Would you be open to asking about this on [our community server here](https://community.mattermost.com/core/channels/developers)? Our devs will likely be able to help.

[2021-11-15 16:40] #18866 closed, assigned to shadowshot-x

[2021-11-16 04:40] #18875 closed

[2021-11-16 05:01] agnivade commented on #18631
@gyanesh-m - I am opening this for the public. Feel free to comment here anytime if you want to work on this again. :)

[2021-11-16 05:36] agnivade commented on #18878
Hey @shadowshot-x - how is it going with this?

[2021-11-16 05:47] agnivade commented on #18871
@atb00ker - were you able to resolve your setup issues?

[2021-11-16 05:47] agnivade commented on #18867
@penthaapatel - Wondering if you would be interested in taking this one too? :)

[2021-11-16 09:25] penthaapatel commented on #18867
@agnivade Absolutely yes!

[2021-11-16 11:23] lucasscheepers commented on #18990
Editing the `/mattermost/config/config.json` file doesn't help either :( @amyblais

[2021-11-16 14:08] atb00ker commented on #18871
@agnivade
No,

But I plan to format my machine soon, I'll try again after the format! (The culprit might be my machine)

[2021-11-16 15:00] lieut-data commented on #18983
Thank you for the extra notes, @PommereningMartin, and for the early investigation @agnivade & @streamer45. Looking at the release notes for 8.0.23 and 8.0.24, there are a handful of JSON-specific changes, including one specifically addressing work done in 8.0.22.

I'll consider this closed for now, and encourage anyone else arriving at this issue to upgrade to at least MySQL 8.0.25.

[2021-11-16 15:00] #18983 closed

[2021-11-16 15:31] tcottier-enalean opened #19006 "Failed upgrade to v6.1.0 from v5.37"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-11-16 15:46] shadowshot-x commented on #18878
Hi @agnivade. Sorry, I was busy with some issues in the Playbooks. I will work on this ASAP and push the changes.

[2021-11-16 15:48] Trolldemorted opened #19007 "The official docker images on dockerhub are completely undocumented"
The official docker images on dockerhub ([team](https://hub.docker.com/r/mattermost/mattermost-team-edition), [ee](https://hub.docker.com/r/mattermost/mattermost-enterprise-edition)) don't link to any documentation that'd tell us how to configure them.

Could you document:
- which environment variables can be used for configuration
- which volumes are required to ensure no data is lost when a cont

[2021-11-16 16:09] amyblais commented on #18990
@hmhealey Are you familiar with this issue?

[2021-11-16 16:18] teutat3s commented on #19007
You can check out this repo: https://github.com/mattermost/docker
I agree there could be a link to that repo on the docker hub page.

[2021-11-16 17:41] amyblais commented on #19007
Thank you for sharing. I've created an internal ticket to consider adding a link to the docs,

[2021-11-16 17:41] #19007 closed

[2021-11-16 19:55] YairFernando67 commented on #18631
I'd like to work on this one!

[2021-11-16 22:30] lucasscheepers commented on #18990
I got some help on community.mattermost.com in the `Developers` and `Enterprise` channels. It's working now!

[2021-11-16 23:13] #18990 closed

[2021-11-17 01:18] s-tkt commented on #18484
I have the same problem.
I suspect this is caused because of lack of a request header.
Requests of POST http://mydomain/api/v4/users/ids includes a request header 'X-CSRF-Token', but requests to mattermost server via a reverse proxy does not that request header.

Mattermost: 6.1.0
nginx(reverse proxy): 1.12.2

[2021-11-17 04:27] shadowshot-x commented on #18596
I think we can close this issue now.

[2021-11-17 13:46] lieut-data commented on #18596
Indeed! Thanks so much again , @shadowshot-x :)

[2021-11-17 13:46] #18596 closed

[2021-11-17 17:32] cocoonkid commented on #18990
@lucasscheepers   I am stuck with this as well. It would be great if you could share your solution.

I only get ```The requested scope is invalid, unknown, or malformed.```

[2021-11-17 17:50] lucasscheepers commented on #18990
@cocoonkid I see you already posted something in the `Enterprise` channel. I also had some contact in the `Developers` channel with someone. It turned out my serverURL didn't match with the redirect URI's in GitLab. Also needed to use `ngrok` to expose my localhost temporarily

[2021-11-17 17:51] cocoonkid commented on #18990
Thanks for taking the time to comment.  It seems my issue is something else. Thanks anyway. I will post my solution here. Currently trying it in the dev channel.

[2021-11-17 22:50] esethna commented on #18857
Thanks for the info! Wonder if it has to do with the renaming of town square. @furqanmlk are you able to test based the above and file a ticket if needed? ^

[2021-11-17 23:16] esethna commented on #18797
@mr-aboutin did you get the answers you were looking for? Let us know if you need any guidance. cc// @mkraft

[2021-11-17 23:43] furqanmlk commented on #18857
Hi @esethna
Yes I already filed the bug.
I will add more details to the ticket as described by @shieldsjared

[2021-11-18 08:22] 2019-05-10 opened #19021 "Nagging tip of the day cannot be disabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-18 14:36] penthaapatel commented on #18867
@agnivade Can this be written as a single exported function `Update()` instead of having `Update()` calling the `update()` function? Am I missing out something here? Same question for other functions like `Get()`,`SaveMembership()` in `thread_store.go`
https://github.com/mattermost/mattermost-server/blob/0da249c6517f24946f5bc7b6062b98fd3628c712/store/sqlstore/thread_store.go#L92-L94

[2021-11-18 15:40] adsche opened #19017 "Log files are not rotated"
#### Summary
Log files are not rotated as they grow beyond 10k lines.

#### Steps to reproduce
Enable file logging and wait until the log file grows beyond 10k lines.

#### Expected behavior
The setting documentation (**edit:** in the admin console) for file logging states:

Therefore, I expect multiple log files with <= 10k lines in the log file directory.

#### Observed behavior (that appears un

[2021-11-18 15:48] adsche commented on #19017
Side note: I, personally, would be totally happy to use `logrotate` for rotation, if you would implement or document a safe way to rotate the log files externally (e.g. sending a signal).

[2021-11-18 16:14] amyblais commented on #19017
@wiggin77 @furqanmlk Are we able to test / reproduce this? The reporter is on server v6.0.2.

[2021-11-18 16:25] adsche commented on #19017
Maybe this is a doc bug or fixed in a newer version (true, I'm on 6.0.2): In the [online documentation](https://docs.mattermost.com/configure/configuration-settings.html#output-logs-to-console) (weirdly, in the section about console logging!) a rotation threshold of 100MB is mentioned.

But that limit has been in there also for the [6.0.0 docs](https://github.com/mattermost/docs/blob/5b648593fab09

[2021-11-18 17:16] AizatHawari commented on #14792
Would love to hear about this too. Any documentation about this?

[2021-11-18 17:23] wiggin77 commented on #19017
@amyblais, @adsche.  Thanks for reporting this.  Reviewing the code I can see this was unintentionally changed for V6.  The rotation size is supposed to be specified in megabytes but I think the default was mistakenly changed thinking it was KB.  It's currently set to 10,000 meaning 10GB.

1. I will create a PR with a simple fix today. This will revert the default to 100MB.
2. A work-around is to

[2021-11-18 17:48] adsche commented on #19017
Sounds good, but just to make sure: Note that the values I gave were **lines**, not KB or MB, so I can't confirm if that is actually the bug.

I additionally see two documentation bugs (at least for the self-hosted version), still present in 6.1.0 (I updated meanwhile).
1) In the system console, the description for the setting still says "10,000 lines" in v6.1.0
2) In the docs, the 100MB limit is

[2021-11-18 18:30] mattermod opened #19019 "Improve timeline timezone rendering"
When viewing the timeline on a playbook run, render all times in UTC, clearly appending `UTC` to avoid ambiguity:

![image](https://user-images.githubusercontent.com/1023171/142475979-a56854ab-3f48-4d61-bcea-3c186e590878.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build

[2021-11-18 18:36] lieut-data commented on #18565
Hey @tacoelho! I've marked this one as `Up For Grabs` again -- if you're still interested, let me know!

[2021-11-18 18:37] lieut-data commented on #18506
Hey @kyteinsky! I'm going to mark this one `Up For Grabs` again. Please do let me know if you're still interested :)

[2021-11-18 18:38] lieut-data commented on #18563
Hey @beheradibas! I'm going to mark this one `Up For Grabs` again. Please do let me know if you're interested :)

[2021-11-18 18:38] lieut-data commented on #18376
Hey @roshanjrajan! I'm going to mark this one `Up For Grabs` again. Please do let me know if you're interested :)

[2021-11-18 18:39] lieut-data commented on #18509
Hey @wweverma1! Sorry about the troubles with the dev environment. I'm going to mark this one `Up For Grabs` again. Please do let me know if you're still interested :)

[2021-11-18 18:40] lieut-data commented on #18495
Hey @SezalAgrawal! I'm going to mark this one `Up For Grabs` again. Please do let me know if you're still interested :)

[2021-11-18 18:40] lieut-data commented on #18507
Hey @MagnaibayarMN! I'm going to mark this one `Up For Grabs` again. Please do let me know if you're still interested :)

[2021-11-18 18:41] lieut-data commented on #17953
Hey @saurabhraj042  I'm going to mark this one `Up For Grabs` again. Please do let me know if you're still interested :)

[2021-11-18 18:41] lieut-data commented on #18585
Hey @marlonemmerich! I'm going to mark this one `Up For Grabs` again. Please do let me know if you're still interested :)

[2021-11-18 18:41] lieut-data commented on #18585
Actually, closing this one to pull into the team.

[2021-11-18 18:41] #18585 closed

[2021-11-18 18:42] lieut-data commented on #18563
Actually, closing this one to pull into the team.

[2021-11-18 18:42] #18563 closed

[2021-11-18 18:44] lieut-data commented on #18763
Hi @raphaeljlps! I'm thinking of marking this one as `Up For Grabs` again -- please let me know if you're still interested?

[2021-11-18 18:53] kyteinsky commented on #18506
I am extremely sorry for holding back this issue. Lately, I got caught up with some other tasks. I'll definitely look it up if I have some free time and if this would be still open.

[2021-11-18 18:55] lieut-data commented on #18506
No worries at all, @kyteinsky! Thanks for taking a stab at it :)

[2021-11-18 23:30] mr-aboutin commented on #18797
Hi @esethna  Yes, I think its all I need, I might be able to work on it this weekend.

[2021-11-19 13:30] GuiGuiSoft commented on #18701
I understand, but disappointed.

It was a good and simple idea to encourage users to update their clients, especially when security issues are fixed on the desktop app (which does not contain any auto-update feature) :/

[2021-11-19 14:33] devinbinnie commented on #18701
@GuiGuiSoft I apologize. We are working on an auto-update feature that will be released in v5.1

[2021-11-19 14:35] zetaab commented on #17357
![image](https://user-images.githubusercontent.com/22482503/142639909-1e32f715-e5ad-4fd8-9362-88bcba148679.png)

should we start doing something?

[2021-11-19 14:35] amyblais commented on #19021
I'm not sure if there is a way to disable it permanently. @esethna

[2021-11-19 16:57] GuiGuiSoft commented on #18701
# \o/

[2021-11-19 18:31] esethna commented on #18797
Great, thanks @mr-aboutin!

[2021-11-19 18:43] esethna commented on #19021
@2019-05-10 that screen should only appear once. After you've seen it you shouldn't be seeing it again. Can you confirm?

As an Admin you can disable In-product Notices in the system console: https://docs.mattermost.com/configure/configuration-settings.html#enable-admin-notices

cc// @amyblais

[2021-11-19 19:20] JulienTant commented on #19019
Hi,
I've been looking at this but can't commit to grabbing it as I might be busy next week until later next week, but here's what I found so far if somebody wants to take a look before I'm more available:

In timeline_event_item.tsx (around line 230) you'll find this
[code]

By changing it to the following, you'll fix the time part and show the timezone UTC

[code]

There's still one issue left th

[2021-11-19 23:19] calebroseland commented on #19019
Hey @JulienTant, thanks for taking this up!

It should be that easy—the prop `timeZone='UTC'` should work, but it looks like the redux connector is [controlling those props](https://github.com/mattermost/mattermost-webapp/blob/master/components/timestamp/index.ts#L43).  We should probably open it to override via ownProps there. I'll open a ticket for that.) ...thanks for surfacing this!

Given the

[2021-11-20 08:47] prapti commented on #18819
Sorry for the delay on this one. I'll work on it soon!

[2021-11-20 12:46] ukahlert opened #19023 "Mattermost server and mmctl not same version"
The binaries for mattermost server 6.1.0 (starter) come with mmctl version 6.0.0 .
So mmctl refuses to operate on the 6.1.0 server.

Recompiling the sources for mmctl 6.1.0 results in mmctl with version 6.0.0. So maybe the wrong version is "somewhere" hidden in the source files?

[2021-11-20 20:32] saturninoabril commented on #18819
No worries and thanks for the update Prapti!

[2021-11-22 07:43] agnivade commented on #18867
@penthaapatel - Yes that sounds good. `s.update` and `s.get` were actually being called from other methods, but now they are removed following some refactoring work. It's good to be moved back to the main method now. :+1:

[2021-11-22 10:35] tmonz commented on #17572
seems to have been implemented/finalized, according to mattermost v6.1 release notes. to be closed?
https://docs.mattermost.com/install/self-managed-changelog.html#release-v6.1-feature-release

[2021-11-22 10:36] tmonz commented on #15640
seems to have been implemented/finalized, according to mattermost v6.1 release notes. issue to be closed?
https://docs.mattermost.com/install/self-managed-changelog.html#release-v6.1-feature-release

[2021-11-22 13:35] amyblais commented on #19023
@cpanato @puerco Would you be able to help take a look at this?

[2021-11-22 13:52] cpanato commented on #19023
will work on that this week, but looks like the mmctl that is included is from a previous version

[2021-11-22 14:16] wiggin77 commented on #19017
@cwarnermm, as reported above, the documentation for when file logs get rotated should be moved from the console logging section to file logging section.  https://docs.mattermost.com/configure/configuration-settings.html#output-logs-to-console

[2021-11-22 14:18] wiggin77 commented on #19017
Thanks.  I am creating a separate ticket for this.

[2021-11-22 14:30] mattermod opened #19027 "ADA Accessibility : NVDA does not read out the "Expand" or "Close" buttons at the top of the RHS thread"
Steps:
1. Open NVDA software
2. Reply to any post to open the RHS
3. Mouse over the "Expand" and "X" buttons at the top of the RHS

Observed:
NVDA does not read out these buttons when moused over (it does read them out if navigated to via TAB or SHIFT<ins> </ins>TAB)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com

[2021-11-22 14:30] mattermod opened #19028 "ADA Accessibility: NVDA does not read out the "Add Comment" button in the RHS reply thread"
Steps:
1. Open NVDA software
2. Click on reply icon to reply to any message
3. Type a few characters to activate the "Add Comment" button

Observed:
NVDA does not read out the Add Comment button when mousing over it but does read it out when TABBING to it. (It does read out all other options in the message area - except for recently used emoji - reported in a separate ticket in the epic)

Expected

[2021-11-22 14:30] mattermod opened #19029 "ADA Accessibility: NVDA does not read out recently used emoji in the post actions menu (same behavior for RHS post actions menu)"
Steps:
1. Run NVDA software
2. With your cursor focused in the Write to_ message input box, press SHIFT<ins> </ins>TAB which will cycle backwards through the post actions menu

Observed:
NVDA reads out all the options correctly in the post actions menu, except for recently used emoji for which it just reads out "BUTTON" (same behavior for RHS post actions menu)

Expected:
NVDA also reads out recen

[2021-11-22 15:05] lieut-data commented on #18763
Pulling this one internally for now. Thanks again @raphaeljlps!

[2021-11-22 15:05] #18763 closed

[2021-11-22 15:28] #18872 closed

[2021-11-22 15:57] mickmister opened #19030 "Add NotificationWillBeSent plugin hook"
#### Summary

The task here is allow plugins to be able to intercept when a push notification will be sent to a user. There is a PR in progress here https://mattermost.atlassian.net/browse/MM-40244

[2021-11-22 15:59] mickmister commented on #19030
Assigned to Demansol team via selected project

[2021-11-22 16:05] #18870 closed

[2021-11-22 16:08] cwarnermm commented on #19017
Thanks, @wiggin77 and @adsche for raising this documentation issue. This issue is being corrected via https://github.com/mattermost/docs/pull/5273

[2021-11-22 16:22] aarowman opened #19031 "Mention notifications triggered for System messages for other user with similar name (join channel/team)"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

#### Summary
Mention notifications are triggered for System messages for other user with similar name (join channel/team).

#### Version Info
Client Version 5.0.1
~~Server Version 5.39.2~~
Server Version 5.38.2 (Team Edition)

#### Steps to reproduce
1. Set up global mentions (`Other non case

[2021-11-22 17:06] amyblais commented on #19031
@aarowman Can you help confirm your Mattermost server version? You can find it from Main Menu > About Mattermost.

[2021-11-22 17:14] aarowman commented on #19031
@amyblais Updated issue with better info.
Server: 5.39.2 (Mattermost Team Edition)
Client: 5.0.1

[2021-11-22 17:26] amyblais commented on #19031
Thank you, I wasn't able to reproduce this just now. Are you able to reproduce this on our [community server here](https://community.mattermost.com/)? (It is on the latest version)

[2021-11-22 17:35] rseffner opened #19033 "magic calls to 10000000 with mattermost and android auto using BT"
#### Summary

Bug report in one concise sentence
There are mysterious calls with my USB and BT connected android phone which only stops with mattermost interaction.

#### Steps to reproduce
#### Observed behavior (that appears unintentional)
I tried, but I cant reproduce the calls to # 10000000. When such a call is running and I tried to cancel it, it restarts immediately. But when I close an open

[2021-11-22 17:52] esethna commented on #15640
Yes this is complete, thanks to @darkLord19!

[2021-11-22 17:52] #15640 closed

[2021-11-22 17:53] esethna commented on #17572
@tmonz this is an extension of the feature to allow reoccuring schedules of DND, it is in progress by @Dinoryong and team.

[2021-11-22 18:34] aarowman commented on #19031
We are actually 5.38.2 (There's a UI bug that displays as 5.39.2).

I'd have to create an account there and have someone else with the same display name join a channel. We're on an enterprise install for my company.

Was this bug fixed in a recent version? I don't see where to check

[2021-11-22 18:45] mattermod opened #19035 "Channel keyboard navigation breaks when in the Threads view"
Repro:

1. Use alt + up/down to navigate to the Threads view in the sidebar
2. Once in the Threads view, use alt + up/down again to try to navigate to any channel

Observed: Can't get out of the threads view using keyboard shortcuts https://gyazo.com/764635b375a8acedd53708976a0ff7a1Expected: Alt + up/down should switch channels from the Threads view, same as navigating to any other channel

----
I

[2021-11-22 19:03] amyblais commented on #19031
@aarowman
1. What are the usernames of the sample users?
2. What are the other preferences set to in Notifications > Words That Trigger Mentions?

[2021-11-22 19:11] aarowman commented on #19031
@amyblais The description should give that info. I'll elaborate:

Let's say we have user 1:
* john.c.doe
* display name "John C Doe"
* and his Words That Trigger Mentions has "John"

Then user 2:
* john.z.smith
* display name "John Z Smith"

User 2 joins a channel that user 1 was already in. User 1 gets a mention notification because the system message says "`John` Z Smith joined the channel"

[2021-11-22 19:17] hmhealey commented on #17357
I've raised this to our security team to see if we can get more attention on this. This does seem like something we should be looking into, but unfortunately, even though I've worked on that code before, I'm not able to look at it right now due to other responsibilities.

[2021-11-22 19:42] amyblais commented on #19031
@lindy65 Would you be able to help test if you can reproduce this?

[2021-11-22 19:52] #19006 closed

[2021-11-22 19:57] amyblais commented on #18988
@ihqtzup Is there any other information that you'd be able to help share? Another option would be to contact our Support team via https://support.mattermost.com/hc/en-us/requests/new to further troubleshoot this.

[2021-11-22 20:01] esethna commented on #19035
@cleferman ^

[2021-11-22 20:07] #15719 closed

[2021-11-22 20:08] #15720 closed

[2021-11-22 20:08] #15163 closed

[2021-11-22 20:09] #15162 closed

[2021-11-22 20:48] JulienTant commented on #19019
Hi @calebroseland, thanks for your reply, I don't mind using Luxon directly if having a fixed format is okay. @lieut-data any opinion or request about the date format?

[2021-11-22 21:23] lieut-data commented on #19019
Thanks @JulienTant & @calebroseland -- agree that the fixed format here seems like it makes the most sense for now.

[2021-11-22 22:21] alevashov opened #19036 "Can't create new boards"
#### Summary
No way to create a new board in the interface.
Mattermost version 6.1.0
Tried both in the last updated Windows client and web interface - the result is the same

#### Steps to reproduce
First time tried to create new boards
Created 3 of them
Understood that don't need that many
Tried to delete some, probably deleted all
Now don't see a possibility to create new boards at all. There is

[2021-11-22 23:36] amyblais commented on #19036
@alevashov Would you be open to creating this issue at https://github.com/mattermost/focalboard/issues?

[2021-11-23 00:05] calebroseland commented on #19019
Hey @JulienTant, just wanted to sync up here. Some related changes in https://github.com/mattermost/mattermost-plugin-playbooks/pull/898 ended up growing/overlapping in scope a bit, so I think this may be covered for the time being. Sorry about the timing mixup, but thanks again for looking into this.

[2021-11-23 00:15] mattermod opened #19037 "Connected Timestamp component should allow manual override of timeZone, hourCycle, etc."
When manually specified, allow `ownProps` to override these props https://github.com/mattermost/mattermost-webapp/blob/master/components/timestamp/index.ts#L43

Context https://github.com/mattermost/mattermost-server/issues/19019#issuecomment-974534821

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/

[2021-11-23 01:25] alevashov commented on #19036
Done, https://github.com/mattermost/focalboard/issues/1860

[2021-11-23 06:05] #18873 closed

[2021-11-23 08:31] lindy65 commented on #19031
@amyblais - I created a test environment as per the reporter's usernames and trigger words but could not reproduce the issue

[2021-11-23 09:01] rseffner commented on #19033
Yesterday I got such an call with deinstalled mattermost - so this can be closed and I have to dig deeper into it. Sorry.

[2021-11-23 09:01] #19033 closed

[2021-11-23 09:05] poflankov commented on #18166
I found some (maybe) inconsistency:

I did check this sequence
- have user A post few messages
- mark some user A message as unread
- main user leaves DM channel **clicking** on another channel or **by visiting URL** of another channel
- the DM channel **remains in "unread" status** in LHS

If I add posting a message from main user before leaving the DM channel
- have user A post few messages
- ma

[2021-11-23 10:12] 2019-05-10 commented on #19021
After upgrade to 5.0.2 the prompt is gone.
Once again: MM needs a working update mechanism, ideally a deb/rpm repository, or at the very least a notification when a new relase is available.

[2021-11-23 10:23] saturninoabril commented on #18166
@poflankov Thank you for reporting! Looks like a bug to me. Ticket filed - https://mattermost.atlassian.net/browse/MM-40289

[2021-11-23 11:19] jupenur commented on #17357
@zetaab the scan results in the screenshot seem to be from `trivy image` -- which means the vulnerabilities are not specific to `atmos/camo` but to the Docker image, which is based on `node:8.4`.

**You should not be using the Docker image without updating it first!**

In fact, you should probably not be using the Docker image at all. The `README.md` file clearly says: **You should run this on her

[2021-11-23 13:29] #19036 closed

[2021-11-23 13:31] amyblais commented on #19021
We are working on an auto-updater feature for desktop app for a future release,

[2021-11-23 13:31] #19021 closed

[2021-11-23 15:43] lieut-data commented on #18376
Pulling this one internally.

[2021-11-23 15:43] #18376 closed

[2021-11-23 15:44] lieut-data commented on #18495
Pulling this one internally.

[2021-11-23 15:44] #18495 closed

[2021-11-23 17:29] aarowman commented on #19031
@lindy65 did user 1 have the channel already open? The mention wouldn't trigger a notification if the channel was open. If you move to a new channel, then it may come up (also consider delays).

I just tested it again by adding a new name that triggers notification (case insensitive option) and asking a friend with that name to join a channel. After a minute, it showed the (1) badge for me, even t

[2021-11-23 17:41] lindy65 commented on #19031
Hi @aarowman - no, user 1 did not have the channel in view/open.  Can you join this server [here](https://notif.test.mattermost.cloud/signup_user_complete/?id=yzp334x6k7b7byo1jo7859wrbc) and try to reproduce your issue?  I've tried another few scenarios and still can't reproduce your issue.

Can you tell me whether you have any other words in `Other non case-sensitive words, separated by commas:`

[2021-11-23 17:47] lindy65 commented on #19031
@aarowman - if you have the word `john` in `Other non case-sensitive words, separated by commas: ` then you will receive notifications whenever the word `john` is mentioned - whether it is for your user or not because it is simply notifying you of the instance of the word `john` - could this be what you're seeing?

![image](https://user-images.githubusercontent.com/13020833/143076929-6f87ef66-542e

[2021-11-23 18:04] aarowman commented on #19031
Yes! That is exactly what I'm seeing.. I would expect the System notifications for a different person should NOT trigger notifications, even the case insensitive "other" words. That is the exact scenario.

[2021-11-23 18:05] aarowman commented on #19031
I updated the description to clarify that `Other non case-sensitive words, separated by commas` is the key step to reproduce

[2021-11-23 18:15] shadowshot-x commented on #18568
I am working on this issue. Update - set of status posts and description are being updated right now. I am now working towards state of run, timeline and retrospective.

[2021-11-23 18:23] lindy65 commented on #19031
Aaah, thanks for clarifying @aarowman.  I don't believe the purpose of `Other non case-sensitive words, separated by commas` is to list your own username or first name...  I believe the feature is working as intended and what you're seeing is not a bug. Hope the below helps?

![image](https://user-images.githubusercontent.com/13020833/143082307-0f2df3d2-8478-47a5-b9d2-8652afbe9caa.png)

[2021-11-23 18:26] aarowman commented on #19031
Hmm, that's not very clear from the way it's phrased... In my case, I kept missing notifications when someone talked to me because they didn't capitalize my name.

Other people may have a nick name that they want (e.g. user name katherine.a.plankton, wants to be notified for "Kate"). Then if someone else has "Kate" as their display name or first name, then it still triggers)

[2021-11-23 18:27] #19017 closed

[2021-11-23 18:27] aarowman commented on #19031
Either way, I think a system notification still shouldn't trigger this mention. What if someone's name is "Bill Meeting" - then you get an alert for 'meeting' ? The intent behind a system notification is different and I think it shouldn't trigger direct mentions at all.

[2021-11-23 18:28] aarowman commented on #19031
Is there any situation where we WANT the system notification to do a direct mention to a user?

[2021-11-23 18:34] lindy65 commented on #19031
Thanks @aarowman - @amyblais perhaps a product manager can weigh in here to address the above scenarios/questions?

[2021-11-23 18:38] amyblais commented on #19031
cc @esethna The observed behaviour is that System Messages trigger a notification when another user with a similar name loins/leaves a channel. We're not sure if this is expected.

[2021-11-23 19:03] aarowman commented on #19031
I tested this out with system notifications hidden, and it still triggers the alert badge. At a minimum, that should NOT happen. I think all system messages shouldn't do it though, whether hidden or not.
It may be just join. A quick test didn't show the alert for leaving a channel (at least with system notifications hidden).

Don't forget email notifications that get triggered too

[2021-11-23 20:30] esethna commented on #19031
I agree that system messages for join/leave/added/removed messages should only trigger notifications for the user that's joining/leaving. Let's file a big for that.

Separately let's file a bug for being notified when the system messages are off, that should be an easier fix I imagine.

cc// @amyblais @lindy65

[2021-11-23 23:37] amyblais commented on #19031
Created tickets https://mattermost.atlassian.net/browse/MM-40319 & https://mattermost.atlassian.net/browse/MM-40318

[2021-11-23 23:47] JulienTant commented on #19019
Ok I'll take that! :)

[2021-11-23 23:48] JulienTant commented on #19037
I'm on it

[2021-11-24 09:11] ihqtzup commented on #18988
I was not able to find anything odd from the logs. It is a bit difficult as we do not know the exact date when these guest accounts were inactivated.

This happened three times. First, we thought it was because of server restart, but it also happened even without any modifications or restarts of the cluster. From now on, we have decided to not use guest accounts until this is resolved.

[2021-11-24 09:59] SaQQ opened #19041 "Boards misbehaving after upgrade to 6.1.0"
#### Summary
After upgrading to version 6.x the Boards plugin is misbehaving.
The mattermost.log contains the following error:

[code]

#### Steps to reproduce
I've upgraded mattermost from 5.39.0 to 6.1.0 to installed on Ubuntu:
`Linux mattermost 5.4.0-88-generic #99-Ubuntu SMP Thu Sep 23 17:29:00 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
After staring the service boards plugin is visible but it d

[2021-11-24 13:03] geverl opened #19042 "mmctl import upload fails with "Error: failed to create upload session: : Unable to upload file. File is too large.""
Mattermost Version: 6.0.2
Database Schema Version: 6.0.2
Database: mysql

After completing steps 1-3 of https://docs.mattermost.com/onboard/migrating-to-mattermost.html#migrating-from-slack-using-the-mattermost-mmetl-tool-and-bulk-import, mmctl fails to import a Slack export with the message "Error: failed to create upload session: : Unable to upload file. File is too large."
The zip file to be im

[2021-11-24 13:34] amyblais commented on #19041
@SaQQ Would you be open to creating this issue at https://github.com/mattermost/focalboard/issues?

[2021-11-24 15:42] amyblais commented on #19042
@geverl Do you see any other errors in Mattermost logs?

[2021-11-24 15:59] geverl commented on #19042
No

[2021-11-24 16:22] amyblais commented on #19042
cc @mgdelacroix @streamer45 If you have thoughts on this issue.

[2021-11-24 16:24] amyblais commented on #18988
@lindy65 Would this be something that QA would be able to help test?

[2021-11-24 17:29] lindy65 commented on #18988
Sure @amyblais - I can set up some test guest accounts to try to reproduce this - obviously will have to wait a week (or 2?) to see if the users become deactivated but I'll report back here on results.

In the meantime, I'm not sure whether @ogi-m might have any idea why this could be happening. He QA'd the feature while it was in development so might have some insight.

[2021-11-24 17:32] lindy65 commented on #18988
@ihqtzup - in order to more closely try to reproduce your issue, can you tell me what the guest accounts have access to - e.g. private or public channels, open team (Allow any user with an account on this server to join this team) or not?  Thanks!

[2021-11-24 17:35] ogi-m commented on #18988
Only one scenarios where this is expected comes to mind:
If the guest accounts feature is deactivated at any point, then so are the guest users. After enabling the feature again, all those guest users need to be reactivated manually again.
@ihqtzup Was the guest accounts feature disabled (and re-enabled) at any point maybe?

[2021-11-24 19:02] esethna commented on #19031
Thanks, closing to track in the tix

[2021-11-24 19:19] streamer45 commented on #19042
@geverl As you have probably noticed the config setting `FileSettings.MaxFileSize` still applies. You could temporarily bump it to allow for the import upload to succeed.

[2021-11-24 19:44] geverl commented on #19042
Thank you, that helped to get the mmctl import upload succeed. But now the mmctl import process job fails.

bin/mmctl import process rxrtabsmo3ncpy3y1pa4pk6ape_mattermost-bulk-import.zip
Import process job successfully created, ID: mm8hpqirmbb7m89rbg5y8qs66e

bin/mmctl import job list
ID: mm8hpqirmbb7m89rbg5y8qs66e
Status: error
Created: 2021-11-24 17:47:02 +0000 UTC
Started: 2021-11-24 17:47:10 +

[2021-11-24 22:09] SaQQ commented on #19041
Done: https://github.com/mattermost/focalboard/issues/1866

[2021-11-24 22:09] #19041 closed

[2021-11-24 22:39] JulienTant commented on #19019
Hey @amyblais; I guess this should be assigned to @lieut-data and/or @calebroseland who are working on it in this PR: https://github.com/mattermost/mattermost-plugin-playbooks/pull/898

[2021-11-24 23:06] djbusby opened #19047 "mmctl errors, version mis-match, fails to find local socket"
We are using Mattermost 6.1.0; recently installed; upgraded from 5.37

We run the mmctl tool to remove a team.
The first issue, is that this was a newly extracted package and we get this warning:
[code]

The second issue is that MMCTL cannot find it's local file:
[code]

Our server is configured for local mode:
[code]

And the file exists, and is owned by the user that has started mattermost serve

[2021-11-24 23:49] amyblais commented on #19047
The first issue looks the same as https://github.com/mattermost/mattermost-server/issues/19023.
cc @mgdelacroix if you have thoughts on the second issue.

[2021-11-25 04:12] almereyda commented on #17499
Since this is usable with some workarounds, I suggest to also change the documentation at https://docs.mattermost.com/onboard/sso-gitlab.html#step-1-add-an-openid-connect-application-to-your-gitlab-account where it says:

Surfacing the Scopes parameter from `config.json` to the System Console page of the GitLab Authentication scheme can also help finding and setting this parameter. Changing in the

[2021-11-25 07:25] krotovkk commented on #18871
@agnivade I would like to work on this issue!

[2021-11-25 07:26] agnivade commented on #18871
Go ahead @krotovkk !

[2021-11-25 08:47] ihqtzup commented on #18988
No, the feature was not deactivated at any point. The first time guest users were active about 2-4 weeks. (not sure exactly how long). Then it was something like 1-2 weeks.

Guest users had access to one team and public channels of that team.

Also, the channel says that there is still guest users, even though we do not have any guest users. See attachments.
![screenshot](https://user-images.githu

[2021-11-25 10:22] shadowshot-x commented on #18590
I would like to work on this issue. :D

[2021-11-25 10:37] ogi-m commented on #18988
@ihqtzup Are the users shown as inactive the system console, or are they completely gone? Looking at the screenshot, it seems the guest users don't exist in the system at all anymore, is that correct?

[2021-11-25 10:54] DummyThatMatters opened #19051 "Unable to make changes via Channel Configuration. Endless "Saving Config" state."
#### Summary
Unable to make changes via Channel Configuration window in `System Console` -> `User Management` -> `Channels`: Infinite "Saving Config" state on saving changes with no result.

#### Steps to reproduce
Using Mattermost server 6.1.0 Team Edition (postgres (PostgreSQL) 12.1 as a DB) go to the `System Console` -> `User Management` -> `Channels` menu, pick random channel, try change some

[2021-11-25 11:11] ihqtzup commented on #18988
When guest users got inactivated, they were shown as "inactive" in the system console, so not completely gone. The screenshot is our current situation because we have now stopped using guest users until this is resolved.

We "promoted" those guest users as members until this is resolved so we do not have any guest users at the moment (even though the channel header claims otherwise).

[2021-11-25 12:08] penthaapatel commented on #18867
@agnivade I was wondering if it is a good idea to have an interface in `store/sqlstore/sqlx_wrapper.go` similar to the `SqlExecutor` interface in `gorp` so that it is easier to enable some internal store methods to that accept both transactions `*sqlxTxWrapper` and common db handlers `*sqlxDbWrapper`? Because there are a few methods in `thread_store.go` like `s.saveMembership`, `s.updateMembership

[2021-11-25 13:41] amyblais commented on #19051
I wasn't able to reproduce this at mysql.test, do we have a Team Edition server to test this at? @lindy65 @saturninoabril

[2021-11-25 14:02] agnivade commented on #18867
Yep, sounds fine to me @penthaapatel.

[2021-11-25 14:41] DummyThatMatters commented on #19051
@amyblais What is mysql.test? Forgot to mention (if it is important)  - we use postgres (PostgreSQL) 12.1 as a db on a separate pod,

[2021-11-25 14:56] amyblais commented on #19051
My apologies and no worries, my note was for our QA team, I've pinged them above to help with testing this.

[2021-11-25 16:15] lindy65 commented on #19051
Hi @amyblais @DummyThatMatters

I tested on our Team Edition server (team.test.mattermost.com) which is on v6.1 rc2 and I can easily reproduce your issue with the steps you provided.

I'm seeing these errors in the js.console

![image](https://user-images.githubusercontent.com/13020833/143474421-43f415c2-62e8-409c-8de1-ad7951e2aade.png)

![image](https://user-images.githubusercontent.com/13020833/

[2021-11-25 16:20] amyblais commented on #19051
Yep, I'll create a ticket today and I'll link it here.

[2021-11-25 17:00] #13482 closed

[2021-11-25 17:37] amyblais commented on #19051
Ticket here: https://mattermost.atlassian.net/browse/MM-40360

[2021-11-25 17:47] amyblais opened #19054 "Mattermost v6.2"
You can find key dates for v6.2 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Nov 29th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Dec 14th: Release Build Cut
The final

[2021-11-25 18:48] YairFernando67 commented on #18629
I'd like to work on this one!

[2021-11-25 19:35] amyblais commented on #17499
@cwarnermm Please see this above latest comment for a suggested documentation update ^

[2021-11-25 20:00] mattermod opened #19058 "Desktop E2E Test: MM-T4385 Select Tab from Menu"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19059 "Desktop E2E Test: MM-T4050 Long server name"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19060 "Desktop E2E Test: MM-T2827 Copy and Paste when connecting Jira plugin"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19061 "Desktop E2E Test: MM-T2637 Double-Clicking on the header should minimize/maximize the app"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19062 "Desktop E2E Test: MM-T2634/MM-T2635 Drag and Drop"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19063 "Desktop E2E Test: MM-T2633 Use back button to return to the desktop app login"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19064 "Desktop E2E Test: MM-T2465 Linux Dark Mode Toggle"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19065 "Desktop E2E Test: MM-T1659 Prevent browser back/forward from firing in OAuth windows"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19066 "Desktop E2E Test: MM-T1430 Clicking links to another configured server"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19067 "Desktop E2E Test: MM-T1315/MM-T1316/MM-T1317 Ensure focus is returned to Mattermost view"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19068 "Desktop E2E Test: MM-T1313 Open Settings modal using keyboard shortcuts"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19069 "Desktop E2E Test: MM-T1308 Check that external links don't open in the app"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19070 "Desktop E2E Test: MM-T1288 Keyboard Shortcuts in Settings Page"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19071 "Desktop E2E Test: MM-T827 Select Next/Previous Tab"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19072 "Desktop E2E Test: MM-T824/MM-T825 Minimize/Close in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19073 "Desktop E2E Test: MM-T820/MM-T821 Toggle Developer Tools in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19074 "Desktop E2E Test: MM-T817/MM-T818/MM-T819 Zooming in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19075 "Desktop E2E Test: MM-T816 Toggle Full Screen in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19076 "Desktop E2E Test: MM-T812 Select All in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:00] mattermod opened #19077 "Desktop E2E Test: MM-T809/MM-T810/MM-T811 Cut/Copy/Paste in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:09] cwarnermm commented on #17499
Thanks, @amyblais! And thanks @almereyda for your documentation correction! I've logged https://community-daily.mattermost.com/boards/workspace/g4k9s1f953n4bytz5f9sz9orer/bm1j7wcrrspoymkjermbydid97h/vcwyy7xnhh4qits4thrb3pte53e/7tjsmdaww59mmxq4nfu9kzigera for this documentation correction.

[2021-11-25 20:15] mattermod opened #19078 "Desktop E2E Test: MM-T808 Redo in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #19079 "Desktop E2E Test: MM-T807 Undo in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #19080 "Desktop E2E Test: MM-T806 Exit in the Menu Bar"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #19081 "Desktop E2E Test: MM-T805 Sign in to Another Server (or Mattermost)"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #19082 "Desktop E2E Test: MM-T804 Preferences in the Menu Bar opens the Settings page"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #19083 "Desktop E2E Test: MM-T822/MM-T823 History ➜ Back/Forward"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-25 20:15] mattermod opened #19084 "Desktop E2E Test: MM-T125 "Copy Link" can be used from channel LHS"
This ticket is to create a test script to automate some testing for the Desktop App.

The testing framework makes use of a few frameworks to successfully automate Desktop App tasks:

  * Playwright: An E2E testing framework provided by Microsoft that currently has “experimental” support for Electron. Using Playwright, you can access individual `BrowserWindows` or `BrowserViews` and automate most f

[2021-11-26 06:34] lindy65 commented on #18988
Hi @amyblais - do you think it would be helpful to involve the dev team who own guest accounts to help troubleshoot?  I'm wondering whether other features like LDAP Groups or permissions might also be affecting the guest accounts?

@ihqtzup - can you share more information about your config (e.g. login method, whether you make use of LDAP groups and any specific permissions you have set up)?

I ha

[2021-11-26 08:13] ihqtzup commented on #18988
We have normal user accounts. Most of them are members and of course few admins.

We do not use LDAP groups. Users log in with email and password. Users are forced to use MFA. It is a very basic configuration in that sense.

[2021-11-26 11:56] DummyThatMatters commented on #19051
So this functionality should not be supported in Team Edition at all? Or just a bug?

[2021-11-26 13:57] amyblais commented on #19051
I'm not sure yet, but our dev team will triage / look at it.

[2021-11-26 14:52] slavonicsniper commented on #18663
There is another column name that requires the same fix.

[code]

`\d channelmembers`

[code]

 `ALTER TABLE channelmembers ALTER COLUMN notifyprops DROP DEFAULT;` fixed the migration but it would be nice if it was included in `store/sqlstore/upgrade.go`

[2021-11-26 15:06] streamer45 commented on #18663
@slavonicsniper Thanks for letting us know. Unlike `Users.Timezone` I don't recall defaults getting set for that column. Do you know what was the first MM version you installed?

[2021-11-26 15:37] slavonicsniper commented on #18663
@streamer45 I don't know exactly but probably 5.6.4.

[2021-11-26 19:37] amyblais commented on #19023
Fixes have been merged in the mmctl repo and we've added a process for the monthly releases to check that mmctl version is updated. If there is a v6.1.1 planned, the fix for this will be included.

[2021-11-26 19:37] #19023 closed

[2021-11-26 19:40] amyblais commented on #18993
@karoolpl Were you able to get help for this? If not, I can help ping a dev to take a look

[2021-11-27 02:15] Ak74-577 opened #19091 "I want to know how to configure 401 authentication for mattermost"
I access mattermost through nginx reverse proxy, I want to know how to configure 401 authentication for access, how should I configure it, thank you

[2021-11-27 09:44] poflankov commented on #18168
I guess this one is not for Cypress too: Cypress works inside the browser and can not move the focus away from browser window.

[2021-11-27 11:32] #19042 closed

[2021-11-27 11:42] geverl opened #19093 "MM 6.0.2: Import from slack crashes due to invalid memory access or nil pointer dereference"
Mattermost Version: 6.0.2
Database Schema Version: 6.0.2
Database: mysql

Following https://docs.mattermost.com/onboard/bulk-loading-data.html with 5 MB file size:
Running mattermost import bulk <filename> --validate works and confirms validity.
Running mattermaost import bulk <filename> --apply fails with the following error:
panic: runtime error: invalid memory address or nil pointer dereference

[2021-11-27 14:18] poflankov commented on #18164
Hello! Any cue how to verify the "divider line is not doubled"?
I'm trying to model the situation in DOM, and can't reproduce it.

It's a list of `<li>` with the `<button>` inside, and the `<button>` has the border which is shown as this divider.
So if I just, say, delete the button - everything looks nice.

The most resembling picture is probably when I delete the button content `<span>`:
![image

[2021-11-27 14:26] poflankov commented on #18164
BTW I've probably found the bug. If you try to reach top menu items (including "Mark as Unread") for the first post in a channel - there is no way to do that, they are simply unreachable by the scrolling.
![image](https://user-images.githubusercontent.com/87149297/143685294-e6ab0e47-ce5d-4865-a71c-0b91f7753286.png)

And even decreasing browser zoom does not heal the situation
![image](https://user

[2021-11-27 14:59] poflankov commented on #18174
What is "scroll pop"?

[2021-11-27 15:29] poflankov commented on #18815
Hi, can I try it?

[2021-11-28 20:37] saturninoabril commented on #18815
Sure and thanks @poflankov!

[2021-11-28 20:46] saturninoabril commented on #18174
Sorry for this "internal" terminology that we're used to calling a scenario where a layout or scroll position suddenly changed visibly due to some background process/rendering happening in the page. Maybe a good setup is to have some posts with image attachments and link previews that would be rendered outside the view. Rendering of such attachment/previews should not make a sudden change in scrol

[2021-11-29 03:26] jackytsa opened #19095 "Error When Deleted Custom Emoji Reaction Kept in Recently Used Emoji"
#### Summary
Deleted custom emoji kept in recently used emoji in emoji picker will break mattermost into blank page once page loaded.
Once the deleted emoji was added back, the issue will gone, and,
once the deleted emoji no longer within the recently used list, the issue will gone.

#### Steps to reproduce
Mattermost Server: 6.1
Mattermost Mac Client: 5.0.2
1. Added a custom emoji
2. Use that cus

[2021-11-29 08:03] streamer45 commented on #19093
Thansk @geverl , this looks like an issue triggered by unexpected data, created [MM-40377](https://mattermost.atlassian.net/browse/MM-40377).
@isacikgoz Maybe something your team could look into?

[2021-11-29 11:38] matthbad opened #19101 "Crashes when `Quick reactions on messages` feature is enabled"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-11-29 13:20] #18901 closed

[2021-11-29 13:51] amyblais commented on #19091
@ak74-911 Would you be open to asking about this at our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)?

[2021-11-29 14:18] amyblais commented on #19095
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40381

[2021-11-29 14:57] amyblais commented on #19101
May be related to https://github.com/mattermost/mattermost-server/issues/19095.

[2021-11-29 15:34] amyblais commented on #19054
### v6.2 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.2.0-rc1/mattermost-team-6.2.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5280/files)

[2021-11-29 18:17] #18306 closed

[2021-11-30 02:43] #18782 closed

[2021-11-30 06:25] agnivade opened #19105 "Create helper function to handle columns on reserved names"
#### Summary
Due to the way Postgres and MySQL handles column names, for reserved names, we have to capitalize the first letter in MySQL's case.

See below:
https://github.com/mattermost/mattermost-server/blob/f0756901950ad9793913c938b14df9ad3df7ece0/store/sqlstore/command_store.go#L69-L73

#### Task
The objective of this ticket is to refactor this functionality into a common function so that it c

[2021-11-30 06:39] olaysco commented on #19105
Hi @agnivade, can this be assigned to me? I would love to work on this.

[2021-11-30 06:40] agnivade commented on #19105
Go for it!

[2021-11-30 10:00] mattermod opened #19108 "Plugin is incorrectly displayed as enabled after re-install"
When a user uninstall an existing plugin and install same plugin from market then by click on the config user can see that its enable but in real time its disable. its showing wrong setting.

Steps to reproduce:

1) Remove e.g.the GitHub plugin.
2) From the Marketplace, install the GitHub plugin. (sometime i have to click 2 times on install button from the market)
3) Click on the Config and user w

[2021-11-30 12:39] ukahlert commented on #19023
Thanks

[2021-11-30 14:02] jangrewe commented on #15350
@metanerd Sooo... as i just got notified that the new version v5.37.5 got released, even though i'm already running v6.1.0, i'm guessing that the new release process was either not yet revised, or the revision did not address this issue? 😉

[2021-11-30 14:20] metanerd commented on #15350
@jangrewe Thank you for coming back to this! The redesign did not address this issue. This is an issue with GitHub promoting the release with the latest git commit time as the latest release. This happens when release branches are patched (cherry-picked) with bug fixes / security fixes. Other projects, namely kubernetes is running into the same behavior (https://github.com/kubernetes/kubernetes/re

[2021-11-30 16:30] mattermod opened #19110 "Update Retrospective notifications format"
The current retrospective notification messages in-channel and in-DM (for those following the run) are displayed with the retrospective contents directly inside the message.

![image](https://user-images.githubusercontent.com/1023171/145049101-f0c28b30-60d3-47d9-82c6-54fd863eeefd.png)

This should be changed to reflect the status update messages with a box containing the retrospective contents.

F

[2021-12-01 08:43] poflankov commented on #18814
Can I take this?

[2021-12-01 12:56] saturninoabril commented on #18814
Sure and thanks @poflankov!

[2021-12-01 16:38] discostur commented on #15012
Hi,

just upgraded from v5.36.1 (all was good) to v6.1.0 and typing is sometimes really slow. Does anyone else have problems with v6.1.0?

Thanks

[2021-12-01 16:45] jasonsmith425 commented on #15012
Yes, 6.1 feels slower to me as well.

On Wed, Dec 1, 2021, 8:38 AM Kilian Ries ***@***.***> wrote:

[2021-12-01 17:30] mattermod opened #19115 "Keyboard shortcut to open the expanded RHS"
Currently there is no keyboard shortcut to expand the RHS, this ticket is to add one: `CTRL/CMD <ins></ins> .`

Expected:
1. This shortcut should expand the RHS similar to clicking the button in the RHS header. This shortcut should only work if the RHS is already open, otherwise it should open the RHS in the normal width first (similar to pressing CTRL/CMD + .).
2. Add the keyboard shortcut to the

[2021-12-01 20:02] joshgay commented on #15634
We were having this same issue on the IEEE SA Open [mattermost instance](https://opensource-connect.ieee.org opensource.ieee.org) which authenticates to [our gitlab instance](https://opensource.ieee.org).

My perspective was that it would be nice if gitlab returned in its error message with the correct URL so that mattermost (or any other service using gitlab for authentication) could just pass th

[2021-12-02 05:18] M-ZubairAhmed commented on #19115
This is awesome, I worked something similar when I was a community member. I can walk through the code base on zoom call to implement this if anyone is interested. I am available at mattermost community on “zubair.ahmed”

[2021-12-02 10:04] dipak-demansol opened #19117 "Log page Buttons are not visible Properly (UI)"
#### Summary
:- Log page Buttons are not visible Properly (UI Issue)

#### Steps to reproduce
 1) Go in the admin_console page.
 2) search the Log and open The "Server Logs".
 3) you will find that buttons are not visible Properly in the page. (when you click on the next button then both buttons will visible)

#### Expected behavior
  :- Both Buttons Should be Visible Properly.
  :- Buttons name s

[2021-12-02 10:29] dipak-demansol opened #19118 "There should be a page number on the Server Log page (Improvement)"
why it required.
==============
1) as per The Current Functionality of the Server log page there is No pagination, if The user see the old logs and he want to Find the same page Again then hes not able to Find that page and Time to time the logs added in the page so it will more difficult to find the same page because when new logs added then its possible that the Page Number will change so if the

[2021-12-02 10:30] dipak-demansol commented on #19118
Related point #19117

[2021-12-02 11:38] lindy65 commented on #18988
@amyblais @ihqtzup FYI, the guest accounts I set up are still active (since 24 November)

[2021-12-02 13:48] amyblais commented on #19117
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40454.

[2021-12-02 13:49] amyblais commented on #19118
Would you be open to submitting this as a feature request on our uservoice forum here https://mattermost.uservoice.com/forums/306457-general?

[2021-12-02 14:57] dipak-demansol commented on #19118
Done

[2021-12-02 14:58] #19118 closed

[2021-12-02 20:40] poflankov commented on #18814
Can I gather the code for this ticket with the code for #18815 into [9457](https://github.com/mattermost/mattermost-webapp/pull/9457)?
The tasks are pretty close.

[2021-12-03 06:55] saturninoabril commented on #18814
I agree, thanks for checking @poflankov!

[2021-12-03 16:55] tuxity opened #19123 "Server crash"
#### Summary
From time to time the server crash in my Docker container, I have to restart it to get it running.

#### Steps to reproduce
No idea, it appears to be random

MM Server 6.1.0 team edition (Docker container running on Linux Debian 10.11)
Postgres 13

#### Expected behavior
Running without crash

#### Observed behavior (that appears unintentional)
Crash logs https://gist.github.com/tuxit

[2021-12-03 18:22] esethna commented on #19035
Hey @cleferman, how's this going?

[2021-12-03 19:08] cleferman commented on #19035
Hi @esethna, didn't have a chance to look at this yet. Still dealing with a different PR and busy at work. Might get a chance next week. If it's pressing please assign it to someone else.

[2021-12-03 19:10] esethna commented on #19035
Thanks! We'll circulate internally to see if it can be picked up before next release. cc// @Willyfrog

[2021-12-03 20:25] poflankov commented on #18814
It's already merged, so i will make another PR

[2021-12-03 20:28] poflankov commented on #18814
Should I first add a profile picture (aka "old profile picture") as in #18815 first step?
Or should  I verify that "Profile picture does not update" against "no picture"?.

[2021-12-03 21:07] sm4rtk1dz opened #19125 "SMTP Connection unsuccessful: Sender Rejected - MAILFROM must be a valid domain (Empty Variable?)"
Hi! And thank you for this review,

I'm trying to configure the SMTP server on Mattermost v6.1, I upload the credentials and the smpt domain as usual and the following error is displayed:

[code]

I know the credentials are good, I was using the same credentials in another Mattermost installation (Mattermost v.5.31) and it worked seamlessly.

I already tried every possible combination of configura

[2021-12-03 21:31] saturninoabril commented on #18814
I'd suggest to have them both. First is doing cancel when no profile picture yet, then last when there's a profile picture already.

[2021-12-04 17:35] someone-somenet-org opened #19127 "regression: props no longer fully copied/retained when editing posts."
#### Summary
When editing posts **``props``** are not fully retained.

We have a bot that basically creates spoiler posts, not showing spoiler content before clicking a button. On button click it will send the user a ephemeral message containing the spoiler text.

When the poster edits the post, the button stops working.

**This worked before. Current server version: MM 6.1.0**

#### Steps to repr

[2021-12-06 04:35] codedsun commented on #19115
I am taking this issue up.

[2021-12-06 08:01] agnivade commented on #19123
The error message is `runtime/cgo: pthread_create failed: Resource temporarily unavailable` - which means it is not related to Mattermost but likely caused due to resource constraints imposed by your docker container.

Have a look at: https://unix.stackexchange.com/questions/253903/creating-threads-fails-with-resource-temporarily-unavailable-with-4-3-kernel for possible solutions.

[2021-12-06 08:05] agnivade commented on #19127
Thanks @someone-somenet-org. Would you know which version it worked previously? That would help us track down the regression.

[2021-12-06 08:55] tuxity commented on #19123
I will check that today, thanks for the info. I will post update on docker-mattermost too if needed

[2021-12-06 11:13] tuxity commented on #19123
I was at 169 PIDs (with `docker stats`) right now and in `docker-compose.yml` there is [line](https://github.com/mattermost/docker/blob/main/docker-compose.yml#L36) to set PIDs limit to 200 and I increased it.

It was the reason surely. Thanks for the tip!

[2021-12-06 11:13] #19123 closed

[2021-12-06 13:50] amyblais commented on #19125
@sm4rtk1dz
1. Can you help share more about your SMTP settings? (https://docs.mattermost.com/configure/smtp-email.html)
2. Would you be open to checking if this troubleshooting thread might help https://forum.mattermost.org/t/smtp-not-working/8119?

[2021-12-06 19:11] someone-somenet-org commented on #19127
It works on MM ``6.0.3``

https://user-images.githubusercontent.com/5354356/144906734-34bd19b7-2140-46d1-9363-e3962eacd8fe.mp4

and stops working on ``6.1.0``

https://user-images.githubusercontent.com/5354356/144907208-84e80d79-f00c-45f8-b6e4-ec9d5a7d16bf.mp4

[2021-12-06 19:28] amyblais commented on #19127
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40509

[2021-12-06 20:55] Andrew-Cole2 opened #19133 "Text followed immediately by a table causes the table not to be rendered"
#### Summary
Mentioning a user at the beginning of a message causes some formatting rules to not be applied.

#### Steps to reproduce
Mattermost v5.26.0/v4.6.2

#### Expected behavior
Mentioning a user at the start of a message followed with text formatted to be a heading or table will cause the formatting to not be applied.

If user is mentioned elsewhere in message formatting does not break.

Is

[2021-12-06 21:30] mattermod opened #19134 "DND: Add a 'Don't Clear' option for Do Not Disturb"
### Stated Problem

When setting status to Do Not Disturb, I don't always want to set an expiry time. With the new menu, I don't really have the choice to stay in DND indefinitely. We should look at adding an option in the menu to do this without having to set an expiry time.

### Proposed Solution

  * Change submenu’s title to read ‘Clear after’ (to align with the language used for the custom st

[2021-12-06 23:41] #18166 closed

[2021-12-06 23:50] amyblais commented on #19133
@Andrew-Cole2 Are you able to reproduce this on more recent versions? We support server version 5.37.0 and later, and the latest desktop app version is v5.0.

You can also optionally do some testing on our [community server here](https://community.mattermost.com/), which is on the latest version.

[2021-12-07 01:20] sm4rtk1dz commented on #19125
It worked! The troubleshooting page had the solution. Thank you very much!

[2021-12-07 01:20] #19125 closed

[2021-12-07 12:37] #18814 closed

[2021-12-07 13:06] Wildhorn commented on #7601
To write this emoji: ¯\_(ツ)_/¯

[2021-12-07 14:37] lieut-data commented on #18506
Pulling this one internally.

[2021-12-07 14:37] #18506 closed

[2021-12-07 14:37] lieut-data commented on #18565
Pulling this one internally.

[2021-12-07 14:37] #18565 closed

[2021-12-07 14:40] lieut-data commented on #17953
Pulling this one internally.

[2021-12-07 14:40] #17953 closed

[2021-12-07 18:01] Karinadr commented on #19125
Hello good Morning. I have the same error that sm4rtk1dz, I hope you can help me please

[2021-12-07 18:29] #19019 closed

[2021-12-07 19:48] sm4rtk1dz commented on #19125
Have you already checked the links?
https://docs.mattermost.com/configure/smtp-email.html
https://forum.mattermost.org/t/smtp-not-working/8119

[2021-12-07 23:40] svelle commented on #18614
need to hand this off, sorry

[2021-12-08 01:13] frnkshin commented on #19108
I can pick up this issue if noone's taken it yet.

[2021-12-08 09:59] skitsanos opened #19140 ""Failed to reset read timeout from datasource""
Hi,

Can't start the server with MySQL config, always getting `Failed to reset read timeout from datasource`. Followed instructions from https://docs.mattermost.com/install/install-rhel-8.html?src=dl

Any idea what can be an issue here?

[2021-12-08 14:40] #18513 closed

[2021-12-08 14:52] agnivade commented on #19140
Can you show us the full error message? It contains the error and the original datasource. Feel free to redact any sensitive info.

[2021-12-08 14:56] mkraft commented on #18904
@cheluskin I've created https://mattermost.atlassian.net/browse/MM-40543 to track this as a feature request.

[2021-12-08 14:56] #18904 closed

[2021-12-08 20:20] shadowshot-x commented on #19110
I would like to take this up. :D

[2021-12-08 20:58] jpptinsley commented on #18663
This caught me, upgrading from 5.35 to 6.1. https://github.com/mattermost/mattermost-server/issues/18663#issuecomment-942854495 worked for me.  Don't know what our first version was, but we first installed mattermost 2016-10-03

[2021-12-09 07:44] AvineshTripathi commented on #18523
hey @saturninoabril  I am not able to setup the repo locally maybe due to OS version differnece so taking down my name for now till I do setup so that this issue gets done P.S if you have a solution for Linus setup for deb 20.4 let me know

[2021-12-09 08:19] saturninoabril commented on #18523
Thanks @AvineshTripathi for the update and no worries. I wonder if you've tried the Ubuntu "server" setup here - https://developers.mattermost.com/contribute/server/developer-setup/ . It's not updated for 20.04 but I assume it will be the same. For the "webapp" part, it's here -- https://developers.mattermost.com/contribute/webapp/developer-setup/.

[2021-12-09 10:03] SharathHuddar commented on #19134
@esethna looks like the figma file is not public

[2021-12-09 10:06] SharathHuddar commented on #19134
Also, I'd like to take this up. But I don't have much experience with readtJS. Would this be too complicated for someone with minimal frontend experience ?

[2021-12-09 10:33] isacikgoz commented on #19133
I can confirm this is also reproduces on community server. Created the ticket: https://mattermost.atlassian.net/browse/MM-40557

[2021-12-09 12:28] skitsanos commented on #19140
Found it, it wass a misstype... my appologies. Can confirm it works smoothly with Postgre and MySQL both. No issues.
[code]

[2021-12-09 12:28] #19140 closed

[2021-12-09 18:41] esethna commented on #19134
@SharathHuddar try the design again! I think this shouldn't be too complicated on the front end

[2021-12-09 18:42] esethna commented on #19134
Feel free to give it a shot, I've assigned you

[2021-12-09 19:05] #19101 closed

[2021-12-09 19:05] #19095 closed

[2021-12-09 19:29] amyblais commented on #18988
@ihqtzup Let me know if you'd be open to contacting our Support team via https://support.mattermost.com/hc/en-us/requests/new to further troubleshoot this.

[2021-12-10 08:45] agnivade opened #19142 "Add DM Channel pattern validation to integrity check"
#### Background

We have an integrity check tool via mmctl (`mmctl integrity`) which runs some foreign key validation checks on our database. We want to add some additional validations in the tool so that we can cover some more scenarios.

This ticket is about adding the DM channel pattern validation check to it.

Following are the validations to be added:
1. Verify that all channels of type 'D' s

[2021-12-10 09:02] agnivade commented on #18629
Hey @YairFernando67 - how is it going with this one? Let me know if I can help.

[2021-12-10 09:18] #18631 closed

[2021-12-10 09:19] agnivade commented on #18869
How is it going with this @bretanac93 ? Let me know if I can help with anything.

[2021-12-10 09:22] agnivade commented on #18871
@krotovkk - How is it going with this one? Let me know if I can help.

[2021-12-10 09:27] #18874 closed

[2021-12-10 10:27] frnkshin commented on #19142
I'd like to take it, but I'm not super familiar with go (have minimal experience with it). Would this be too hard to tackle for a go beginner?

[2021-12-10 14:17] agnivade commented on #19142
Hey @frnkshin - this requires a bit of knowledge of our codebase and writing SQL queries, but it's certainly not super hard.

If you don't have experience reading and understanding Go code, this might certainly appear difficult at the start. But we are always there to guide you if you get stuck. So please feel free to take this up, and we will see where that leads. :)

[2021-12-10 14:19] YairFernando67 commented on #18629
Hi @agnivade - sorry for the delay. But I'll be making the PR later today! Thanks!

[2021-12-10 14:21] frnkshin commented on #19142
@agnivade
Yeah I took a look at the code and I think I have an idea of implementing it. You can assign me!

[2021-12-10 14:30] SharathHuddar commented on #19134
@esethna I see that the designs have an option called `Notifications Schedule…`. I don't currently see it in the mattermost server I'm using (https://community-daily.mattermost.com/core/channels/developers-server).

Is this also a new feature or is this feature just disabled for my account ?

[2021-12-10 15:09] SharathHuddar commented on #19134
For the new `Don't Clear` option, I was planning on setting the `dnd_end_time` as 0. However I'm not able to figure out what triggers the reset of status after the `dnd_end_time`. Can you help me out with his ? @esethna

[2021-12-10 15:15] julmondragon commented on #18796
I'll take this one

[2021-12-10 17:54] amyblais commented on #16500
I believe a fix for this was released some time ago, but please re-open this if the issue still persists,

[2021-12-10 17:54] #16500 closed

[2021-12-10 17:57] #16214 closed

[2021-12-10 18:00] #16185 closed

[2021-12-10 18:02] #16051 closed

[2021-12-10 18:10] #9714 closed

[2021-12-10 18:15] #11857 closed

[2021-12-10 18:41] amyblais commented on #19091
I'll close this for now, but please post in our Peer-to-Peer Help channel for best assistance!

[2021-12-10 18:41] #19091 closed

[2021-12-10 18:43] #18696 closed

[2021-12-10 19:06] #18671 closed

[2021-12-10 19:07] #18624 closed

[2021-12-11 10:49] jurelou commented on #15413
This would be really nice !

[2021-12-11 14:14] Mayeu commented on #14929
Sorry for the delay here, but I did not have time previously to focus on this issue.

Anyway, it was a similar case that  the one describes in #15357.

After having checked the messages manually (I had only 62 in my case) and taking a backup of my database, I did run the following:

[code]

(Don't run that blindly! Be sure to understand what's going on)

Indexing has been running for the past 2h n

[2021-12-11 14:14] #14929 closed

[2021-12-11 14:57] krotovkk commented on #18871
I'am working on it. Need some time.

[2021-12-12 06:10] #18629 closed

[2021-12-13 02:20] 3ach commented on #18614
I can take this one.

[2021-12-13 08:30] mattermod opened #19148 "postgresql: lower case column names in the application level"
Using native DB `lower` function works with the charset set on the DB which may be different that utf-8. Therefore, it does not match with the original column names that are meant to be matched.

A better way around this is to lower case the strings from the application level itself which should always use utf-8.

This ticket is about updating the `(ss *SqlStore) GetColumnInfo` method in sqlstore/

[2021-12-13 09:30] mattermod opened #19149 "MariaDB failing with syntax error on newly introduced JSON native queries"
Following is the error we see while running Mattermost with Maria DB 10.5

[code]

The API gets called when loading any channel.

This ticket is about investigating the error and using the right syntax for MariaDB. There is most probably some discrepancy in the JSON path syntax.

Useful resource: [https://mariadb.com/kb/en/jsonpath-expressions/](https://mariadb.com/kb/en/jsonpath-expressions/|smar

[2021-12-13 09:45] mattermod opened #19150 "Remove "O", "P" etc. in Channel types for constants"
There are still lots of places using the string values for channel types rather than refering the constants directly. We should replace all of those.

All the constants are listed in model/channel.go

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can dis

[2021-12-13 11:56] lindy65 commented on #18988
Following up that I am not able to reproduce your issue @ihqtzup - the guest accounts I created on 24 Nov are still active.

[2021-12-13 13:27] ihqtzup commented on #18988
Thanks for reporting. Let's wait until 1 month has passed.

[2021-12-13 19:35] esethna commented on #19134
@SharathHuddar "Notification Schedule" is a separate feature that is being worked on by another contributor, don't worry about that menu item for this ticket :)

Regarding your second question, maybe best to ask in the Peer to Peer help channel: https://community-daily.mattermost.com/core/channels/peer-to-peer-help

[2021-12-13 19:38] hanzei commented on #19127
@someone-somenet-org Do you see any related error messages in the sever logs? Something along the lines of `Action integration error.`?

[2021-12-13 19:51] esethna commented on #18797
@mr-aboutin how's this going? Can we help at all? Please reach out to @mkraft if you have any questions or need guidance on the backend spec

[2021-12-13 19:52] someone-somenet-org commented on #19127
Nope.

All errors we have (from the last 24 hours) are a few (imho unrelated) `Failed to upgrade websocket connection.` errors. No warnings. Some Infos about completed Jobs and (not) sent Notifications. Obviously i reproduced my report before looking in the logs.

[2021-12-13 23:37] amyblais commented on #19054
### v6.2 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.2.0-rc2/mattermost-team-6.2.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5280/files)

[2021-12-14 06:18] codedsun commented on #15641
I am taking this issue!

[2021-12-14 06:19] M-ZubairAhmed commented on #15641
Thank you @codedsun

[2021-12-14 10:45] mattermod opened #19159 "ADA Accessibility: NVDA does not read out 3-dots or + to the right of Team Name, category (e.g. Favorites), channel name, DMs"
Steps:
1. Hover over the 3-dots to the right of the team name
2. Hover over the <ins> </ins> to the right

Observed:
Nothing is read out

Expected:
All of the above are read out on hover

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss question

[2021-12-14 10:45] mattermod opened #19160 "ADA Accessibility: NVDA does not read out plugins you have linked in the left-sidebar on hover"
Steps:
1. Ensure you have some plugins linked to your account (e.g. GitHub, GitLab)
2. Hover over the icons

Observed:
- Nothing is read out (apart from the numbers to the right of the icons e.g. number for how many PRs are awaiting your review)

Expected:
- Icons are read out when you hover over them

----
If you're interested please comment here and come [join our "Contributors" community channe

[2021-12-14 10:45] mattermod opened #19161 "ADA Accessibility: NVDA does not read out buttons in team sidebar on hover or click"
Steps:
1. Hover over teams in team sidebar
2. Click on a team icon in the team sidebar
3. Hover over + in the team sidebar (for other teams you can join)

Observed (1):
- If the team has an image in the block, nothing is read on hover
- If the team has letters (e.g. LI for Lindy) NVDA reads out "Lee" but does not add that it's a team or read out the full name (e.g. Lindy's team)
Observed (2):
- No

[2021-12-14 10:45] mattermod opened #19162 "Remove the channel file attachment button if file storage is disabled on the server"
Repro: Disable file storage in the system console so users cannot post attachments (Set "EnableFileAttachments" to false in the System Console)

Observed: The file button still appears in the channel header:

![image](https://user-images.githubusercontent.com/14333569/146247395-7370e908-8edb-4418-b805-3559f63d0061.png)

Expected: Hide this button ^

----
If you're interested please comment here an

[2021-12-14 10:45] mattermod opened #19163 "ADA Accessibility : Jaws does not TAB to or read "This channel has guests" in the channel header bar"
Reproduces on Cloud and self-managed release servers.  Not a bug - an oversight in original implementation?

Steps:
1. Ensure Guest accounts are enabled on the server
2. Invite a guest to a channel
3. Go to the channel that you've added the guest to
4. Press CTRL+F6 (Windows) to navigate to the channel header region
5. Press TAB to navigate through the options (i.e. channel name, members button, c

[2021-12-14 14:15] mattermod opened #19165 ""You are viewing ..." text spacing is off on archived channel threads view"
Environment: master, rc.test

Steps:
1. Participate or follow a thread in channel1
2. Archive channel1
3. Open global threads and view the thread from step 1.

Expected: Text "You are viewing.." with proper spacing on the left

Observed: No spacing/margin, text butts against the divider. It does not reproduce on channel rhs, only on global threads view

----
If you're interested please comment her

[2021-12-14 15:00] mattermod opened #19168 "List auto-followers as an action in the playbook preview"
While not an “action”, per se, let’s expand the playbook preview for “When a run starts” to detail how many users will be made followers of the run:

![image](https://user-images.githubusercontent.com/1023171/146082161-deccbdf1-7d8a-4226-886a-d5434c9793b0.png)

Immediately after “Invite XX members..”, an entry should be added to read: “Begin following for XX users”.

Note that while all auto-invit

[2021-12-14 15:00] mattermod opened #19169 "Prefer simply hrefs to allow for "open in new tab""
Whenever possible, let’s prefer simply anchors and hrefs for linking between products, allowing the user to choose to open in a new tab using the appropriate keyboard shortcut. Review all instances of `navigateToUrl` to find cases where this can be simplified.

Known (but not exhaustive) examples to evaluate include:

* the link to the playbook to which a run belongs:

![image](https://user-images

[2021-12-14 15:00] mattermod opened #19170 "List auto-following on playbooks?"
We currently list the users following a playbook run:

![image](https://user-images.githubusercontent.com/1023171/146082254-db9468e8-2f60-45fb-adbe-ed9c268f2c57.png)

Let’s do the same for users auto-following a playbook:

![image](https://user-images.githubusercontent.com/1023171/146082266-94a33435-a51c-41bc-9a27-ae15a1ebb8cd.png)

*Issue created from a_ [_message in Mattermost*](https://communit

[2021-12-14 15:00] mattermod opened #19171 "Change /playbook todo to respond with an ephemeral message"
Running `/playbook todo` currently posts from the playbooks bot, but likely not in the channel I'm currently viewing. Let’s change this to be an ephemeral response so I can see it in the channel where I typed the slash command (and without it being visible to anyone else).

*Issue created from a_ [_message in Mattermost*](https://community-daily.mattermost.com/core/pl/ncwh3sz47ffajebz8b4a6cn6xr).

[2021-12-14 15:00] mattermod opened #19172 "Confirm playbook description edit modal when cancelling"
When editing the playbook name description, it’s possible to click Cancel and remove all the changes without any confirmation. This is especially painful when simply clicking outside the dialog which cancels in the same fashion.

If the text has changed since the modal was opened, let’s confirm with a standard confirmation modal before dismissing the changes made.

*Issue created from a_ [_message

[2021-12-14 21:57] lieut-data commented on #18905
Resolved in https://github.com/mattermost/mattermost-plugin-playbooks/pull/875.

[2021-12-14 21:57] #18905 closed

[2021-12-15 05:01] wezm opened #19175 "Non-emoji text that matches emoji shortcode adds that emoji to the quick reactions bar"
#### Summary

Typing text like this (including the backticks):

    `:chair:`

in a message adds the 🪑 emoji to the quick reactions bar even though the emoji wasn't actually used in the message.

#### Steps to reproduce

1. Write a message like that show above

**Mattermost Version:** 6.1.0 accessed in Firefox on Linux.

#### Expected behavior

I expect that only when my message text renders an em

[2021-12-15 06:44] wuyinhrong opened #19176 "There is the private channel in the channel list, but I cannot open the private channel ."
#### Summary
There is the private channel in the channel list, but I cannot open the private channel .
MM Server：5.33.3
Client：4.6.2

#### Steps to reproduce
There is the private channel in the channel list, but I cannot open the private channel .I also make sure that the user has joined the private channel.

[2021-12-15 09:08] wuyinhrong commented on #19176
Supplement ：
The user who created the channel at the time suddenly couldn't click to enter the channel.

[2021-12-15 13:01] SharathHuddar opened #19180 "make run-server command is broken"
#### Summary
I'm trying to get the server running in my local machine but unable to do so due to an error

#### Steps to reproduce
Follow the step found here - https://developers.mattermost.com/contribute/server/developer-setup/ > Server > Developer Setup

#### Expected behavior
The server should be serving traffic on port 8065

#### Observed behavior (that appears unintentional)
Logs :
[code]

##

[2021-12-15 13:51] mr-aboutin commented on #18797
@esethna Hey, the feature hasn't moved on yet, mostly because of a lack of time unfortunately. I should be able to focus on this next week .

[2021-12-15 13:54] sendaimono opened #19181 "Performance issue when upgrading to 5.31.1"
I've upgraded MM server from version 5.25.7 to 5.31.9. After migration was run, fetching the posts(`api/v4/channels/7dioj8ywcbrg9nmeu558dfqhnw/posts?per_page=15&before=6xj13fgznirguqgd6cfrxb7i1e`) time outs. This is because in config I've set DB timeout to be 30 sec, whereas this SQL runs >50 seconds

[code]
In `Posts` table there are 12885411 records.
example Count query
[code]
MM db runs on AWS

[2021-12-15 14:05] #19054 closed

[2021-12-15 15:13] amyblais commented on #19176
@wuyinhrong Are you able to reproduce this on a more recent version? We support versions 5.37+.

[2021-12-15 15:17] amyblais commented on #19175
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40662.

[2021-12-15 15:18] amyblais commented on #19180
@SharathHuddar Would you be open to posting about this on our [Peer-to-peer Help channel here](https://community.mattermost.com/core/channels/peer-to-peer-help)? Our devs and community members will likely be able to help take a look at this.

[2021-12-15 15:20] wuyinhrong commented on #19176
Thank you very much for your reply!
 I will try to update the console to this version.

[2021-12-15 15:40] #18878 closed, assigned to shadowshot-x

[2021-12-15 16:08] amyblais commented on #19175
By the way, nice find!

[2021-12-15 17:58] TwizzyDizzy opened #19189 "SIGSEGV after upgrade from 6.1.0 to 6.2.0"
#### Summary

After upgrading from `6.1.0` to `6.2.0`, the server doesn't start anymore, logging SIGSEGV errors pointing into the direction of a null pointer exception.

#### Steps to reproduce

Not clear at this point.

#### Expected behavior

Server should start without dying.

#### Observed behavior (that appears unintentional)

**From a `systemd` perspective:**
[code]

**From a `mattermost.log

[2021-12-15 19:00] #13223 closed

[2021-12-15 19:04] dipak-demansol opened #19190 "2nd time the "Leave Channel" button is not working but the same Functionality is working from the Channel header section, pls see the video"
#### Summary
2nd time the "Leave Channel" button is not working

#### Steps to reproduce
1) from the side panel click on the 3 dot menu of the private channle
2) click on the leave channel button and user will see the popup for the confirmation, Click on the cancel button.
3) again do the same thing as click on the leave channel button.
**issue** :- the leave channel button will not work.

#### Ex

[2021-12-15 19:06] amyblais commented on #19189
@agnivade @isacikgoz @streamer45 FYI on this ^

[2021-12-15 19:11] amyblais commented on #19189
cc @Willyfrog @jfrerich

[2021-12-15 19:22] esethna commented on #18797
GReat, thanks @mr-aboutin! Please keep us in the loop :)

[2021-12-15 19:32] amyblais commented on #19190
Thank you, opened a ticket here: https://mattermost.atlassian.net/browse/MM-40681

[2021-12-15 19:39] streamer45 commented on #19189
Problem is that due to this check:

https://github.com/mattermost/mattermost-server/blob/666021e5c87fe4634b54f4b536c45805e0863e8e/app/plugin.go#L177-L181

[`TogglePluginHealthCheckJob()`](https://github.com/mattermost/mattermost-server/blob/666021e5c87fe4634b54f4b536c45805e0863e8e/plugin/environment.go#L509) can indeed receive a `nil` environment and crash.

@amyblais We should open a ticket and a

[2021-12-15 19:42] bc032569e22e7 commented on #19189
Same here (SIGABRT) on a FreeBSD 13/STABLE /  mariadb 10.4.22, mattermost built with go1.17.5

[2021-12-15 19:44] amyblais commented on #19189
I opened a ticket for SET: https://mattermost.atlassian.net/browse/MM-40682.

Sounds like this is urgent @jfrerich @Willyfrog @AGMETEOR

[2021-12-15 19:52] streamer45 commented on #19189
By the way, this should only trigger if plugins are disabled in config.

[2021-12-15 19:54] bc032569e22e7 commented on #19189
You are right, enabled and running.

[2021-12-15 20:11] TwizzyDizzy commented on #19189
Also confirmed on my end.

Cheers
Thomas

[2021-12-15 20:26] esethna commented on #18603
@darkLord19 how's this one going? Really looking forward to getting this in the product!

[2021-12-15 21:33] Willyfrog commented on #19189
@amyblais I'll get SET to work on it, thanks for bringing it to my attention :)

[2021-12-15 21:45] sendaimono commented on #19181
yup, exactly same result. Same query is executed.
[code]

[2021-12-15 21:48] amyblais commented on #19181
@sendaimono We're currently working on some performance fixes which will be backported. If you have a test server, we'd have a release candidate of upcoming v5.37.6 available here for testing: https://community.mattermost.com/core/pl/6bjzw4iazfrpf8ayhtkthtfw7r.

[2021-12-15 22:31] endgame commented on #19175
Yeah @wezm , how on earth did you find this?

[2021-12-15 23:45] wezm commented on #19175
I actually did as described in the issue (but with a different emoji). I deliberately put it in backticks to make it come out verbatim in the message but then noticed the emoji was now in my quick reactions bar.

[2021-12-16 03:22] agnivade commented on #19189
Welp, that's on me. The commit responsible is: https://github.com/mattermost/mattermost-server/commit/83b3090eb967da1076de360ab2330e5e9655b810.

The fix would be to add a `pluginsEnvironment != nil` check inside the if condition again. And also add a test to do an initPlugins  with nil `pluginsEnvironment` and ensure there is no panic.

[2021-12-16 04:46] SharathHuddar commented on #19180
Makes sense @amyblais
closing this

[2021-12-16 04:46] #19180 closed

[2021-12-16 06:36] agnivade commented on #19181
@sendaimono - Could you give us the output of `\dS+ posts` on your 5.37.5 server? And also please show us an `EXPLAIN ANALYZE <query>` output. I think your original post was on the 5.31 server. We would like to see the plan for 5.37.

[2021-12-16 09:42] #18590 closed

[2021-12-16 11:07] sendaimono commented on #19181
QUERY
[code]
RESULT
[code]

about `\dS+ posts`
[code]

[2021-12-16 12:19] sendaimono commented on #19181
I've upgraded the server to `5.37.6-rc2` (both from 5.25.9 & from 5.35.5) but the executed queries are the same. I don't see any difference.
QUERY
[code]
RESULT
[code]

about `\dS+ posts`
[code]

[2021-12-16 14:23] AGMETEOR commented on #19189
@agnivade should we maintain the `return` inside that if statement

[2021-12-16 15:08] agnivade commented on #19189
@AGMETEOR - My suggestion was something like this:

[code]

[2021-12-16 15:21] agnivade commented on #19181
Interesting, it's using the `createAt` index rather than the `channel_id_create_at_delete_at` index - which is making it do a seq scan. This is what I see in my local setup:

[code]

@streamer45 - Any suggestions here? Schema looks okay, but the query plan selected is sub-optimal. DB version is 10.17, but I don't believe that should play that major of a factor here.

At the moment, I am leaning to

[2021-12-16 15:43] AGMETEOR commented on #19189
@agnivade Thanks for clarification

[2021-12-16 15:49] AGMETEOR commented on #19189
Fixed here https://github.com/mattermost/mattermost-server/pull/19192

[2021-12-16 19:34] myasonik opened #19193 "No way to add alt text to images"
#### Summary
When uploading an image, there is no way for me to add alt text to that image

#### Steps to reproduce
Mattermost Version: 5.38.0

#### Expected behavior
A user should be able to upload an image with alt text

#### Observed behavior (that appears unintentional)
No way to associate alt text with an image

#### Possible fixes
Need a bit more user flow while uploading an image. Allowing

[2021-12-16 19:44] amyblais commented on #19193
@myasonik What do you see when following the instructions here https://docs.mattermost.com/messaging/formatting-text.html#in-line-images?

[2021-12-16 19:59] myasonik commented on #19193
Oh, that does work! Great!

The docs for that were difficult enough to find that my team couldn't. Some more accessibility-related keywords in there might help? Not sure really, discoverability is a harder problem.

Is there a way to add alt text when uploading an image?

[2021-12-16 20:04] amyblais commented on #19193
Thanks for the feedback, feel free to send this as feedback either via the feedback form at the bottom of the doc (see attached screenshot) or by opening a Github issue at https://github.com/mattermost/docs/issues.

@hmhealey Would you know?

[2021-12-16 21:07] Phrynobatrachus commented on #18960
fixed in the PR above, thanks!

[2021-12-16 21:07] #18960 closed

[2021-12-17 06:39] #19189 closed

[2021-12-17 09:29] streamer45 commented on #19181
This is suspect indeed. Either there's something very peculiar about the data being fetched or some underlying db issue. I've tested using the same Postgres version (10.17) on a comparable instance (`r5.xlarge`) and data size (11M posts):

[code]

[code]
As a first attempt I'd probably suggest to run [REINDEX](https://www.postgresql.org/docs/10/sql-reindex.html) on `idx_posts_channel_id_delete_at_

[2021-12-17 10:31] sendaimono commented on #19181
ok, thanks. will try and go back to you

[2021-12-17 11:34] uniuuu opened #19197 "Upgrading from 5.36.0 to 5.37.0 resulted channels to stop displaying."
#### Summary
Bug report in one concise sentence
Upgrading from 5.36.0 to 5.37.0 resulted channels to stop displaying.

#### Steps to reproduce
Upgrade from 5.36.0 to 5.37.0 by recreating docker container from new image.

#### Expected behavior
The channels in team should be available.

#### Observed behavior (that appears unintentional)

After upgrading from 5.36.0 to 5.37.0 the current team stopp

[2021-12-17 11:38] Skogsuggla commented on #16858
I'm also highly interested that the problem will be solved fast. Working a lot with Mattermost and OneNote...

[2021-12-17 12:37] setpill opened #19198 "Bot message previews break original messages on chromium-based applications."
#### Summary

Bot message previews break original messages on chromium-based applications. NB: this includes the electron desktop app.

#### Steps to reproduce

Mattermost Version: 6.1.0

1. Copy a link to a bot message
2. Send the link in a different channel
3. See the (empty) preview
4. Open the channel with the original message
5. The message is broken
6. Full refresh (ctrl-shift-r in the deskt

[2021-12-17 13:32] amyblais commented on #19197
@hmhealey @streamer45 Does the information above help with investigating this?

[2021-12-17 13:33] amyblais commented on #19198
We have a ticket for this here: https://mattermost.atlassian.net/browse/MM-39404.

[2021-12-17 13:55] setpill commented on #19198
Ah, thanks :) I tried searching in Atlassian but didn't use the same terms. Interesting additional information for your ticket is that (at least in the case I ran into) the issue is browser-specific.

[2021-12-17 15:40] #19105 closed

[2021-12-17 16:00] hmhealey commented on #19193
No, I don't think there's currently a way to do that for file attachments.

A fairly unintrusive thing that we could do would be to use the file name as alt text, but that's only helpful sometimes since a lot of the time it'd just be "screenshot at 1:15pm.jpg" or complete gibberish. We could add an extra popup to attaching a file that would prompt the user for a text description, but that could be

[2021-12-17 16:34] hmhealey commented on #19197
I could see the issue either:

1. The `msgcountroot` or `totalmsgcountroot` fields have a NULL value in them because a default wasn't set for some reason or wasn't migrated right. If that's the case, you should be able to do a select on the column to see if that happened at any point.
2. There's some orphaned data in the database that causes a query to return a NULL value as part of a left join. T

[2021-12-17 20:26] amyblais commented on #18975
Closing this as a Help Wanted Issue was opened for this.

[2021-12-17 20:26] #18975 closed

[2021-12-17 21:17] streamer45 commented on #19197
Sounds similar to https://mattermost.atlassian.net/browse/MM-39351 , possibly due to a migration gone wrong.

Would suggest to run the following queries to see how many _bad_ rows there are:

[code]

[2021-12-17 21:36] amyblais commented on #17329
Closing as the ticket was addressed some time ago,

[2021-12-17 21:36] #17329 closed

[2021-12-18 01:49] bbodenmiller commented on #18753
Looks fixed in 5.39.2.

[2021-12-18 01:49] #18753 closed

[2021-12-18 08:48] uniuuu commented on #19197
Hi @streamer45

[code]

 @streamer45 Thank you for the idea. After setting these found to some int value I have got back all the channels displayed and no more errors in the log.

[2021-12-18 08:48] #19197 closed

[2021-12-18 17:05] fengwang opened #19206 "How can a bot send an image to a channel?"
With telegram, the corresponding command is something like `/usr/bin/curl -s -X POST https://api.telegram.org/{private_key}/sendPhoto -F chat_id={private_id} -F photo="@{photo_path}"`
But I cannot find a similar one for mattermost, the one I tried but failed:
`curl -i -X POST -H 'Content-Type: application/json' -d '{"channel_id":"xxxxxxxxxxxxxxxxxx", "message":"This is a message from a bot", "prop

[2021-12-19 19:00] ansavin commented on #19150
Hello, I would like to fix this issue, can i take a try?

[2021-12-20 05:14] agnivade commented on #19150
Sure!

[2021-12-20 10:45] mattermod opened #19209 "The "Leave Channel" button doesn't work from the 3-dot menu when clicking on it second time"
See https://github.com/mattermost/mattermost-server/issues/19190

**Summary**
2nd time the "Leave Channel" button is not working

**Steps to reproduce**
1. From the side panel click on the 3-dot menu of a private channel
2. Click on the Leave channel button
3. Click on the Cancel button.
4. Again do the same thing as steps 1 &2.

**Expected behavior**
Every time when user clicks on the leave chann

[2021-12-20 13:14] amyblais commented on #19190
Closing as a Help Wanted Issue was opened for this,

[2021-12-20 13:14] #19190 closed

[2021-12-20 13:42] amyblais commented on #19206
@fengwang Would one of these documents help?
 - https://developers.mattermost.com/integrate/admin-guide/admin-message-attachments/
 - https://docs.mattermost.com/developer/webhooks-incoming.html

[2021-12-20 14:22] fengwang commented on #19206
@amyblais
Thanks for looking at this issue.

I walked through these two links before filing this issue.

I intended to do some automation job with a python application. This application will generate some messages/pictures/videos in the real-time, and I would like to push these files to a channel.
With the first link, I will have to upload the pictures/videos to a new place, and send the URL to th

[2021-12-20 14:50] amyblais commented on #19206
Based on this FAQ, we currently don’t support the ability to attach files to a post made by an integration: https://docs.mattermost.com/developer/integration-faq.html#what-are-attachments. Would you be open to creating a feature request via uservoice https://mattermost.uservoice.com/forums/306457-general?

[2021-12-20 15:10] fengwang commented on #19206
@amyblais

Thanks for the suggestion.

But as I limit my files to videos and pictures, I found a solution from [StackOverflow](https://github.com/Vaelor/python-mattermost-driver/issues/45) using the Python interface.

This fulfills my requirements, and I will close this issue.

I list the code in case someone runs into the same problem :

[code]

[2021-12-20 15:12] #19206 closed

[2021-12-20 17:10] Petaris opened #19211 "Incorrect content-type header used during login"
#### Summary
Incorrect content-type header "content-type: text/plain;charset=UTF-8" used during login ( /api/v4/users/login ) when the POST body is actually JSON.

#### Steps to reproduce
Happens every time with Mattermost 6.2.1-rc1

#### Expected behavior
Content-type header should match the body type, in this case the content-type should be "application/json".

#### Observed behavior (that appea

[2021-12-20 17:29] amyblais commented on #19211
@streamer45 @agnivade Would this be a bug?

[2021-12-20 17:47] dipak-demansol opened #19212 "when i click on the search box of TODO then i'm getting the blank screen"
#### Summary
when i click on the search box of TODO then i'm getting the blank screen

#### Steps to reproduce
Steps :- 1) Click on the TODO icon.
             2) click on "add new TODO btn/label"
             3) Click on the search input box to invite the user.

#### Expected behavior
   :- The user should not Get the blank screen, he should able to invite/ search the user.

https://user-images.g

[2021-12-20 19:26] dipak-demansol opened #19213 "Channel header elements pushed out of the way by code block"
#### Summary
**#Channel heade UI issue (same for the direct message header section)**
1) User Should not able to Save the Channel header by adding only space.
2) when user add the random text + same then UI is not good and its effecting to the Header other element, pls see the video.
3) in the channel header comment box, i select all the text then from the keyboard i press the delete button then c

[2021-12-20 20:04] dipak-demansol opened #19215 "Category name should not be only space"
#### Summary
issue :- 1) User is able to save category name as only space.
            2) if user add 5 space and then add channel name and save then in the web the save will be trim and category name will look good but in the android mobile app the the space is not trim and user can see the space there, pls see the Screenshot.
Mattermost Version: cloud-2021-12-08-1
Database Schema Version: 6.3.0

[2021-12-20 20:06] amyblais commented on #19213
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-40736.

[2021-12-20 20:12] amyblais commented on #19215
Thanks, opened: https://mattermost.atlassian.net/browse/MM-40736.

[2021-12-20 20:24] streamer45 commented on #19211
Hi @Petaris ,

I am not able to reproduce this. Could you give use more info on how you are building the request? Also, did you try in any other version and it worked as expected?

[code]

[2021-12-20 20:33] Petaris commented on #19211
Hello, I am just using the web interface that Mattermost provides, this occurs when submitting the login information.  I do have 2fa enabled though, I'm not sure if that would change the results or not.  I have not tired it in any other version.

[2021-12-21 04:26] agnivade commented on #19211
I tried with the webapp using 2fa, and I still see content-type as `application/json`. Are you sure there isn't any 3rd party middleware (like WAF) sitting between your browser and Mattermost that is not modifying the header in any way?

If there is no evidence of any external software changing the header, would you be able to open your browser network tab, and do a "copy as curl" for the login re

[2021-12-21 08:43] codedsun commented on #19209
I looked upon this issue and saw that isLeaving is causing the issue, first it becomes false, and then on dismiss of the dialog the isLeaving remains true but it should be false.

https://github.com/mattermost/mattermost-webapp/blob/a73d4bb7c3ea30f0efee8b0e8b7618aed2dfd221/components/sidebar/sidebar_channel/sidebar_channel_menu/sidebar_channel_menu.tsx#L93

[2021-12-21 16:10] AGMETEOR commented on #19209
Thanks @codedsun for looking into this. Assigned it to you.

[2021-12-21 16:14] Petaris commented on #19211
Hello,
I have confirmed that ModSecurity is not changing the content-type header and have captured the info you asked for.  Here is the curl with some parts sanitized.  The sanitized parts are in-cased with < >:

curl 'https://mattermost.<company>.com/api/v4/users/login' -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0' -H 'Accept: */*' -H 'Accept-Language: en'

[2021-12-21 16:30] mattermod opened #19238 "Add channel member button text is cut off in Safari"
Environment: master.test, macOS, Safari browser

Steps:
1. Create a new channel
2. Click on Members icon under the channel name

Expected: Add member icon and link text to be fully visible on the add member modal

Observed: Link text is cut off. See image.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/chann

[2021-12-21 17:01] streamer45 commented on #19211
Okay that's important cause we were looking at this from a server-side perspective. The client does indeed set `Content-Type: text/plain;charset=UTF-8`. @amyblais I think we can file a ticket for web platform maybe?

[2021-12-21 17:41] amyblais commented on #19211
Opened: https://mattermost.atlassian.net/browse/MM-40751

[2021-12-21 17:44] Petaris commented on #19211
Thank you for your attention to this issue!

[2021-12-21 18:02] amyblais opened #19240 "Mattermost v6.3"
You can find key dates for v6.3 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Jan 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Jan 12th: Release Build Cut
The final r

[2021-12-22 09:27] #18965 closed

[2021-12-23 15:38] drudgede commented on #19051
Is there any update to this? I suffer from the same problem and unfortunately, I have a private channel where everyone is a member only and I cannot make any user a designated channel administrator. Hence, due to the rights in the system schema, no one in the channel is able to manage its members. I could mitigate this by allowing everyone to manage the channel members but this is not wanted in th

[2021-12-23 16:09] void-hr commented on #18589
@lieut-data no problem Sir.

[2021-12-23 19:36] amyblais commented on #19051
There is a PR submitted to fix this: https://github.com/mattermost/mattermost-webapp/pull/9538.

[2021-12-24 08:11] khurshid-alam opened #19248 "Database schema version 6.1.0 is not supported [Gitlab-ce]"
#### Summary
After upgrading gitlab to 14.6 which upgrades mattermost to 6.1 from 5.39.2, when it completes database upgrade it throws error

#### Steps to reproduce
Upgrade gitlab-ce to 14.6.

It hangs during updating database and takes long time (we can see that from log)

Then it throws this error

[code]

except it is upgrading to 6.1 instead of 6.0

/opt/gitlab/embedded/service/mattermost/VER

[2021-12-24 12:36] SharathHuddar commented on #19148
@agnivade I'd like to pick this up

[2021-12-24 13:30] agnivade commented on #19148
Go for it @SharathHuddar !

[2021-12-24 14:34] SharathHuddar commented on #19170
@lieut-data I'd like to pick this up

[2021-12-26 01:17] akhmerov opened #19252 ""Edited" indicator icon overlaps text on certain browsers"
#### Summary
The unicode right-to-left character moves the sign of string being edited to the beginning of the line and breaks its formatting.

#### Steps to reproduce
- type "abc" in a new message
- Edit this message and insert a unicode character U+200F (right-to-left text) in the beginning of the line

#### Expected behavior
- The string renders as "abc"
- The "edited" sign appears on the right

[2021-12-26 18:07] emichaelg opened #19253 "Spelling issue"
Third paragraph on [this page](https://mattermost.gitbook.io/plugin-zoom/usage/help-and-support), “pubic” should be “public.”

[2021-12-27 05:50] bhimeshchauhan commented on #19238
@mattermod can I take a look at this?

[2021-12-27 13:30] isacikgoz commented on #19248
Hey @khurshid-alam if the database version is saved it means that migrations are either completed or there is no need for a database update. Either way if you run mattermost-server v6.1 it is going to save DB version to `6.1`. Somehow your service file may have incorrect information. Could you check version with the mattermost-cli? See https://docs.gitlab.com/ee/integration/mattermost/#mattermost-

[2021-12-27 13:37] isacikgoz commented on #19252
Thanks for the feedback @akhmerov I could reproduce this as well. Created the ticket here: https://mattermost.atlassian.net/browse/MM-40770

[2021-12-27 13:43] isacikgoz commented on #19253
Thanks for the feedback @emichaelg 🚀 Created the fix: https://github.com/mattermost/mattermost-plugin-zoom/pull/247

[2021-12-28 13:07] Redor opened #19257 "Incorrect string value by using focalboard"
#### Summary
It is not possible to create a new card on the focalboard.

#### Steps to reproduce
After creating a new board in focalboard, hit the "New" button to create a new card (error occurs)

#### Expected behavior
I should be able to create a new card.

#### Observed behavior (that appears unintentional)
The client tries to POST to https://xx.xx.de/plugins/focalboard/api/v1/workspaces/ip4oip

[2021-12-28 15:00] kamarado opened #19272 "Add the Default Clock Display option in System Console"
## Issue
This is a feature request for adding a new server-wide setting to self-hosted Mattermost servers aimed to set the default clock display format for new users (12h or 24h).

### Does it reproduce in a web browser?
Yes. Mattermost lacks such a setting regardless of desktop or web app.

### Try "Clear Cache and Reload"
Irrelevant.

### Write detailed information
 + How to reproduce:
   * Add

[2021-12-28 17:18] amyblais commented on #19257
@Redor Would you be open to re-opening this issue at https://github.com/mattermost/focalboard/issues?

[2021-12-29 04:15] harshilsharma63 opened #19258 "Mattermost webapp - quick emoji reaction - show most used instead of most recently used emojis"
#### Summary
Show the most used emojis instead of the most recently used emojis in the quick reaction menu
<img width="306" alt="Screenshot 2021-12-29 at 9 39 10 AM" src="https://user-images.githubusercontent.com/18575143/147626639-4964aafe-5349-4241-bced-69a88b1eb995.png">

If you've been posting a few emojis, say, 👍 and 🎉  on most posts for the most of your time, and now you post anyone emoji, j

[2021-12-29 07:27] Sharuru commented on #2033
Up vote for this, I think CJK text search issue should be considered for those PostgreSQL users while Mattermost is being used by more and more people nowadays. 😃

[2021-12-29 08:53] #19257 closed

[2021-12-29 09:21] smallaxe opened #19259 "Lots of warnings after upgrade to 6.2.1"
After upgrade to 6.2.1 (from 6.1.0) I see in logs many warnings with this message:

`
Unable to parse developer flag
`

looks like it could be related to this line

https://github.com/mattermost/mattermost-server/blob/aa0b717af7e1325d178537d16fa4b50d3f21edae/web/handlers.go#L107

and latest changes:

https://github.com/mattermost/mattermost-server/commit/9fde5aa5e279ca53fc23adb1b74a14c0d7b041ea#di

[2021-12-29 13:45] isacikgoz commented on #19258
I think this can be more convenient if we use the most used reactions or allow users to lock quick reactions (ie. pick 3 reactions to stay there regardless of recent/most used reactions). I think the expansion of this feature is already planned for another productivity sprint 😅

[2021-12-29 13:58] isacikgoz commented on #19259
Thanks for the report @smallaxe It seems like the fix you mentioned is not merged into release branch for `v6.2`, however it's included in `v6.3`. I cherry-picked the commit anyway https://github.com/mattermost/mattermost-server/pull/19260

[2021-12-29 19:15] tnitzanvirtu opened #19261 "NPE when using SAML across an HA cluster"
#### Summary
Using SAML (to ADFS) to login, if my initial session is to instance #2 of our HA cluster, I end up with an exception in the logs

#### Steps to reproduce
Version 6.1.0. Create HA cluster. Use a load-balanced A record to point to both instances, or just go directly to instance #2. Log in via SAML. Provide valid credentials.

#### Expected behavior
Successful login should redirect back

[2021-12-30 23:14] amyblais commented on #19261
@tnitzanvirtu What Mattermost server version did you upgrade from? Would you be able to share more details on your config settings (with any confidential details removed)?

[2022-01-02 04:54] rolance opened #19265 "Can not "Enable Team Creation" in System Console (Team Edition 6.2.1-0 on Debian 10)"
#### Summary
System Console is not showing the "enable team creation" flag.

#### Steps to reproduce
New install of Team Edition 6.2.1-0 on Debian 10
Go to /admin_console/site_config/users_and_teams
"Enable Team Creation" option is not displayed.

#### Expected behavior
Should be able to create new Teams. Desired:
![image](https://user-images.githubusercontent.com/6423347/147866607-bf898d4d-ef12-4

[2022-01-02 12:26] Sharuru commented on #15233
Have tried migrate from PostgreSQL to MySQL during new year holiday but seems failed.
No idea about how to convert the user credential in the database.
Can accept reset all user password after migrate, but I can not login in the admin account :(

I think CJK text search issue should be considered for those PostgreSQL users while Mattermost is being used by more and more people nowadays.

[2022-01-02 17:21] bobychaudhary opened #19266 "BUG"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2022-01-03 03:29] mickmister commented on #15214
Closing due to insufficient requirements

[2022-01-03 03:29] #15214 closed

[2022-01-03 07:32] jsoref opened #19267 "Spelling errors in master branch"
#### Summary
There are typos in mattermost-server

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
https://github.com/jsoref/mattermost-server/commit/4ff548f1235d2410473542bac8dd6262488c3561#commitcomment-62819286

#### Expected behavior

No typos and a ✅

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant error

[2022-01-03 09:36] depoulo commented on #15930
Why raised hand emoji? Don't repeat other people's mistakes… https://www.huffingtonpost.co.uk/entry/why-do-cosmetics-companies-keep-blacking-up-womens-hands-in-ads_uk_5b7143f9e4b0ae32af997c4c

[2022-01-03 13:31] CoderYellow commented on #15606
rocket chat wouldn't charge for this basic feature

[2022-01-03 14:49] amyblais commented on #19265
@rolance Is team creation enabled under Permissions > System Scheme https://docs.mattermost.com/onboard/advanced-permissions.html#system-scheme?

[2022-01-03 15:22] akhmerov opened #19269 "Unable to create a new direct message channel"
#### Summary
After an upgrade to 6.1.0 we're unable to create new direct message channels due to a server error.

#### Steps to reproduce
- Get a mattermost 5.39 via gitlab-omnibus + docker (v14.4.0)
- Upgrade to mattermost 6.1 via gitlab-omnibus v14.6.0
- Attempt to create a direct message channel with the user one didn't message with previously

#### Expected behavior
- New DM channel is created

[2022-01-03 17:14] amyblais commented on #19266
@bobychaudhary Is [this file](https://github.com/mattermost/mattermost-developer-documentation/edit/master/site/content/contribute/getting-started/_index.md) what you're looking for?

[2022-01-03 18:21] bobychaudhary commented on #19266
yaa, this is the file i was looking for thanks @amyblais, I'm going to open a PR on that bug

[2022-01-03 19:31] #19266 closed

[2022-01-03 19:37] tnitzanvirtu commented on #19261
There was no upgrade involved in this, we’re running 6.1.0.. but I was able to fix the issue by breaking the cluster, re-doing the SAML config on server #2 (including re-uploading the certs), and then re-joining the cluster.
I’m not exactly sure, but perhaps when originally configuring the SAML setup for the cluster, the certs might have only uploaded to 1 of the 2 instances, and were therefore mi

[2022-01-03 20:09] #19253 closed

[2022-01-03 20:09] #19261 closed

[2022-01-03 20:47] mxschumacher commented on #19269
not a solution yet, but a part of the code we could investigate to pin down this issue: https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/channel_store.go#L1631

[2022-01-04 03:11] devinbinnie commented on #19272
Moved to server repo as this requires server work.

[2022-01-04 13:48] amyblais commented on #19269
@agnivade @streamer45 Do the log errors indicate a bug?

[2022-01-04 13:51] amyblais commented on #19265
@marianunez @mkraft Wondering if you know if this a bug or expected - I was able to reproduce this on an Enterprise Edition test server. (I wasn't sure which team owns this)

[2022-01-04 14:16] agnivade commented on #19269
The error says "context deadline exceeded" which means the query timed out. The query is simple, so I don't think there's anything bad with the query itself. I think this might be a symptom of some other issue.

- Is everything else working perfectly, and only DM channels are not being created?
- Are group channels working fine?
- Is adding a user to channel working fine?

I'd also suggest to look

[2022-01-04 14:31] akhmerov commented on #19269
I examined the logs once again. In addition to this error, I see `"msg":"Access to route for non-existent plugin"`, which seems bening. I also see seemingly related errors

[code]

Manually opening the endpoints seems to work for me though.

There's also this error:

[code]

That DB error looks bad, but also largely unrelated. Group channels are working fine, so does creation of new channels, and

[2022-01-04 15:05] lieut-data commented on #19170
Thanks, @SharathHuddar!

[2022-01-04 15:11] agnivade commented on #19269
It seems like multiple queries are timing out, which indicates that the DB is becoming slow to respond in general.

Check your DB load, CPU, memory and query times. Check slow query logs and see if there's any specific query which is slow, or all queries are slow. If all queries are slow, maybe do a full vacuum analyze to recompute the statistics.

If you have Grafana setup, also take a look at th

[2022-01-04 15:42] amyblais commented on #19240
### v6.3 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.3.0-rc1/mattermost-team-6.3.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link to be added]

[2022-01-04 16:20] Petaris commented on #19211
@amyblais I noticed that the ticket has been moved back to the Server Platform and the target release has been removed.  Is there any information on when this will be looked into and fixed?

[2022-01-04 16:25] amyblais commented on #19211
The Server team will triage it and assign a dev to look at it. I'm guessing that devs didn't have a chance to take a closer look at it yet because most of our staff were off for the holidays in the past 2 weeks.

[2022-01-04 18:22] akhmerov commented on #19269
This runs on a 24 cpu / 128 GB instance; CPU and memory usage show no noticeable problems or spikes at any time. Vast majority of queries also goes without delay.

On the other hand `docker restart mattermost` has seemingly resolved the problem :rofl:

Thanks for the advice; I'll close this and reopen if the issue reappears.

[2022-01-04 18:45] mattermod opened #19278 "Account setting to always land users at the newest messages in a channel"
Add a setting to the top of Account settings > Advanced:

***Scroll position when viewing an unread channel***

[ x ] Start me where I left off
[   ] Start me at the newest message

Help Text: "Choose your scroll position when you view an unread channel. Channels will always be marked as read when viewed."

*________*

Note: If there are many unreads, the unread messages banner should still appear

[2022-01-04 19:01] agnivade commented on #19259
Closing as it's merged now.

[2022-01-04 19:01] #19259 closed

[2022-01-04 19:03] amyblais commented on #19272
Thanks, appreciate your feedback @kamarado,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2022-01-04 19:39] hmhealey commented on #19211
I misunderstood the issue when I moved it back to the server team. I didn't realize it was the Content-Type on the request that was set incorrectly, not the response. It looks like we actually don't set the Content-Type correctly for any POST or PUT requests, and we haven't actually done that for years at this point. We did it correctly a long time ago, but it changed at some point.

As for the ta

[2022-01-04 19:45] amyblais commented on #19211
v6.3 as a target is fine.

[2022-01-05 07:08] agnivade commented on #18869
@bretanac93 - I am going to open this one up for others to take. If you still want to work on this, just reply here and I will assign it back to you.

[2022-01-05 07:28] agnivade commented on #19150
Hi @ansavin - How is it going with this? Let me know if I can help.

[2022-01-05 13:27] amyblais commented on #19265
I've created a ticket while waiting for a response from dev: https://mattermost.atlassian.net/browse/MM-40834.

[2022-01-05 14:08] mr-aboutin commented on #18797
Hi there, The migration and models have been changed in my branch, I just have a quick question to make sure I do the right things:

How does the client indicate to the Backend that the channel or thread has been read?

[2022-01-05 15:00] hmhealey commented on #19211
Alright, this fix is merged into 6.3 which'll be released in a couple weeks.

@Petaris If you'd like to double check this sooner, we could let you know when the next release candidate for 6.3 is cut

[2022-01-05 15:00] #19211 closed, assigned to nobody

[2022-01-05 15:05] Petaris commented on #19211
@hmhealey Thanks for the work on this.  I would like to test it but I use the docker image so I'm not sure when they will release the RC for 6.3.

[2022-01-05 15:43] codedsun commented on #19150
Hi @ansavin are you working on it? If not, can I take it @agnivade ?

[2022-01-05 15:44] agnivade commented on #19150
Sure, go ahead @codedsun. There's also https://github.com/mattermost/mattermost-server/issues/18869 which opened up, if you are up for something slightly more challenging :)

[2022-01-05 18:44] jonathanspw commented on #14792
+1

[2022-01-05 18:50] esethna commented on #18797
@mkraft can you help here? ^

[2022-01-05 19:16] #15930 closed

[2022-01-05 19:19] esethna commented on #18857
Thanks, closing this and the ticket

[2022-01-05 19:19] #18857 closed

[2022-01-05 19:46] mkraft commented on #19093
@geverl Did you happen to have minimal (redacted if necessary) example json file that causes the issue for us to replicate this bug?

[2022-01-05 19:54] mkraft commented on #19265
@rolance The intent was that the permissions would drive the behavior instead of the configuration which was deprecated. Are you able to get your desired behaviour working with the permissions via System Console > User Management > Permissions > All Members > Create Teams?

[2022-01-05 20:46] cbutler-affirm opened #19281 "Zoom Integration Results in Accidental Zoom Calls"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2022-01-05 21:06] amyblais commented on #19281
@cbutler-affirm What Mattermost server version are you on? We fixed a bug related to this in v6.2.

[2022-01-05 22:35] cbutler-affirm commented on #19281
Thanks @amyblais. I didn't see anything in the release notes that looked like an obvious fix for this. Which one are you referring to?

[2022-01-05 23:13] amyblais commented on #19281
@cbutler-affirm Here is a link to the ticket: https://mattermost.atlassian.net/browse/MM-39745
And link to pull request: https://github.com/mattermost/mattermost-webapp/pull/9424

[2022-01-06 00:22] cbutler-affirm commented on #19281
Thank you!

[2022-01-06 00:22] #19281 closed

[2022-01-06 05:09] jsoref opened #19284 "go get: installing executables with 'go get' in module mode is deprecated."
#### Summary
Bug report in one concise sentence

#### Steps to reproduce
1. Visit https://app.circleci.com/pipelines/github/mattermost/mattermost-server/30193/workflows/54e7f1bd-35f3-415e-af31-e9c951950ba6/jobs/223480
2. See:

3. Run `go get -modfile=go.tools.mod github.com/go-bindata/go-bindata/...`

#### Expected behavior
Instructions shouldn't suggest things that are deprecated/don't work

####

[2022-01-06 05:42] 97amarnathk commented on #19171
@lieut-data I am interested in working on this.

[2022-01-06 08:32] ansavin commented on #19150
sorry for long answering, was a bit busy for a couple of days, issue still in progress :)

[2022-01-06 13:45] amyblais commented on #19284
cc @agnivade

[2022-01-06 13:50] lieut-data commented on #19171
Thanks, @97amarnathk!

[2022-01-06 14:03] agnivade commented on #19284
We recommend using Go 1.16 for now. We haven't yet made the necessary changes to properly support higher versions of the toolchain.

[2022-01-07 05:45] mattermod opened #19293 "Double references in Jaeger span"
Original report: https://github.com/mattermost/mattermost-server/issues/18427

**Summary**
When activating Jaeger tracing, in an opentracing span, there reference to the parent (child of reference) is present twice in the span.

**Steps to reproduce**
Activate Mattermost Jaeger tracing
Do an action
See in Jaeger UI the trace : the reference for parent (child of is duplicated)

**Expected behavior*

[2022-01-07 05:45] agnivade commented on #18940
Hey @sz2000 - This is failing because your "notify_props" map is not a purely string -> string map. This was like this in 5.32 as well, so there's no change.

[2022-01-07 07:47] codedsun commented on #19150
@ansavin Hey, I have opened a PR related to this issue.

[2022-01-07 10:56] dipak-demansol opened #19294 "When User Mouse Hover On The Channel Then Notification count should note be hide"
#### Summary
When User Mouse Hover On The Channel Then Notification count should note be hide

#### Steps to reproduce
Mouse hover on the channel who have 1 notification then Notification will hide, pls see the video.

#### Expected behavior
Notification Count **Should NOT be Hide.**

vidoe :- https://user-images.githubusercontent.com/89907719/148534026-edad1092-d515-4612-8cd7-3df90262b25f.mp4

[2022-01-07 13:40] amyblais commented on #19294
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40878.

[2022-01-07 14:16] #19108 closed

[2022-01-07 17:15] mattermod opened #19296 "Omit confirmation dialogs when cancelling/restoring a task."
Cancelling and restoring a task in a playbook run are reversible actions, so let's omit the confirmation dialogs currently in play here.

Remove these dialogs:

![image](https://user-images.githubusercontent.com/1023171/148581720-3aa83a84-7f3a-4abf-a63e-63ddcfa7a873.png)

![image](https://user-images.githubusercontent.com/1023171/148581728-5950d817-bd18-4eff-845d-53fd4a191a60.png)

When attempting

[2022-01-07 18:10] sz2000 commented on #18940
If I try to reduce everything to only the required parameters (username and email) the problem persists.
https://api.mattermost.com/#operation/CreateUser

[2022-01-07 19:32] TwizzyDizzy opened #19300 "Mattermost vs. systemd "MemoryDenyWriteExecute=true""
#### Summary
The preview of links (external content) in Mattermost seems to somehow try to map memory as both writeable AND executable.

#### Steps to reproduce
When running a binary via `systemd`, it allows for locking down services by different means. For details, see [1]. That being said, when you configure systemd to run Mattermost with `MemoryDenyWriteExecute=true`, the preview feature for ex

[2022-01-07 20:18] TwizzyDizzy commented on #19300
I thought I had this issue pinned down, but after some irritiation just now, I still have to retry a few things. Please bear with me.

[2022-01-07 22:42] TwizzyDizzy commented on #19300
Please excuse my premature bug-reporting. It turns out that my tests were skewed by the browser cache.

So to clear this up:
* Mattermost **does work** with `MemoryDenyWriteExecute=true`
* the actual issue was, that I used `RestrictAddressFamilies=AF_INET`
  * as it seems, fetching remote content also requires the `AF_NETLINK` family
  * so restricting address families like `RestrictAddressFamilie

[2022-01-07 22:42] #19300 closed

[2022-01-08 04:05] agnivade commented on #18940
I am not able to reproduce that. @furqanmlk - could you check this with just username and email params and see if you see the same error again? Thanks.

[2022-01-08 04:07] #18640 closed

[2022-01-08 05:10] voyager163 commented on #15606
I am looking to get my team to work on a openID connector for the team version but I have 2 questions.

1) If i commit the codes, will i violate any license agreement in mattermost server
2) If anyone can point me to any existing active projects or any location, where my team can start.

[2022-01-08 16:32] ansavin commented on #19150
@agnivade hello, seems that @codedsun was a bit faster then me, so please assign him to this issue :)
@codedsun may I test & review your changes please?

[2022-01-08 16:58] codedsun commented on #19150
@ansavin There are some changes on which I m stuck I might need help from @agnivade

[2022-01-09 20:29] chriswachira commented on #16662
Experienced the same issue after upgrading from `5.39.0` to `6.0.0` about a month ago. After going through this thread, I hoped that upgrading to `6.2.0` would probably fix the issue but same thing. A bunch of these from the logs:

[code]

Bumping the `QueryTimeout` setting to more than 60 seconds doesn't help, channels/DMs are still slow while opening, message replies take forever.

Any help?

[2022-01-09 21:21] Svetlana-T opened #19303 "does not respond to smaller screens"
#### Summary
Does not show boards properly in 1024 x 768 screen res - boards that have a far in the future completion date are not visible on screen. Changing page zoom to 67% "helps".

#### Steps to reproduce
Open any mattermost board with more than five deadlines in a 1024 pixels wide Firefox window. There will be more than five columns.

#### Expected behavior
Very prominently indicate that the

[2022-01-09 21:22] Svetlana-T commented on #19303
Note that this is not a server issue, this is issue with frontend. If there is another github project for the front-end please let me know. (Came to here from https://mattermost.org/filing-issues/ page). Thank you for your time.

[2022-01-10 12:38] dipak-demansol opened #19305 "When mattermost is loading at that time there should be a skeleton loader. (User Experience improvement point)"
#### Summary
When Mattermost Page load then for few sec (depend on internet Connection) i can see the blank page. **pls see the video.**

#### Steps to reproduce
:- refresh your mattermost site and when the page will load then you can see the blank page for few sec. (May be you will not able to see it in the local mattermost)

#### Expected behavior
:- when page is loading then there should be a s

[2022-01-10 17:47] amyblais commented on #19305
Opened a ticket: https://mattermost.atlassian.net/browse/MM-40913

[2022-01-10 17:48] amyblais commented on #19303
@Svetlana-T Would you be open to re-opening this issue at https://github.com/mattermost/focalboard/issues?

[2022-01-10 19:45] mattermod opened #19307 "Webapp plugin components should be able to render `null` as an option to hide its pluggable component"
This currently works for `registerPostDropdownMenuComponent`, but for `registerPostDropdownMenuAction` and `registerChannelHeaderButtonAction`, the components take up space in the DOM as empty components, even though they aren't rendering anything.

It would be beneficial if all pluggable locations functioned in the way of allowing for `null` rendering as a mechanism to hide the component.

*Issue

[2022-01-10 19:56] Svetlana-T commented on #19303
Hi @amyblais The issue is at example.org/boards/workplace/, and as far as I know it has nothing to do with example.org/plugins/focalboard/workspace/ which I don't use. Are you sure that the link you gave is the correct place to report this bug? Please confirm, then I will follow your instructions.

[2022-01-10 20:04] amyblais commented on #19303
Yes, they are the same. Focalboard was recently re-named to Boards. The GitHub repository wasn't renamed, but it's referring to Boards.

[2022-01-10 21:09] mickmister commented on #19307
The functions mentioned in the description can be found here
https://developers.mattermost.com/integrate/plugins/webapp/reference/#registry
https://github.com/mattermost/mattermost-webapp/blob/master/plugins/registry.js

[2022-01-10 21:21] #19303 closed

[2022-01-10 23:39] amyblais commented on #15606
A response from our product managers:

"We would not accept a pull request in Team Edition for this type of change since it does not meet our guidelines for packaging at this time. Community members do have the ability to fork our Team Edition repository for their own needs as long as they meet the conditions of the Server License agreement.  We recommend that they seek their own counsel on furthe

[2022-01-11 01:23] voyager163 commented on #15606
No worries. I understand. I will just fork the Team Edition into a private repo.

[2022-01-11 07:59] krotovkk commented on #18869
I would like to work on this issue. Can i take it?

[2022-01-11 08:00] agnivade commented on #18869
Go ahead @krotovkk !

[2022-01-11 11:23] harshilsharma63 opened #19309 "Bug: suite products - support for team sidebar with single team"
#### Summary
Products using team sidebar show an empty space on the left when user has access to only a single team.

#### Steps to reproduce
1. Open Mattermost webapp and ensure you have access to only a single team. This should hide the team sidebar in channels.
2. Install [this](https://community-daily.mattermost.com/files/hededopdrjgyumsh4ozqycahma/public?h=Fl8zUXet-lvxBH4ZXLZ6_7gV6cGHyaZCWQkZ

[2022-01-11 14:45] mattermod opened #19313 "Update text to Snooze "for" X days..."
Our reminder posts currently use "in 60 minutes", "in 24 hours", but it's more grammatically correct to say "for 60 minutes", "for 24 hours", given that we mean "Snooze for 60 minutes".

Let's update the text here to reflect the above proposal.

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/private-core/pl/u6d6rwitjtrp7p48ecrc6974uc)*.

----
If you're interes

[2022-01-11 14:46] hmhealey commented on #19133
To add a bit more detail here, this is happening because due to Markdown's weird paragraph continuation rules, the first 4 lines of that message are being treated as a paragraph even though there's a line break. A header followed by a table renders the table correctly, but the text at the start of that line is causing the first part of the message to be a regular paragraph instead which is prevent

[2022-01-11 16:05] hmhealey commented on #19213
This behaviour is a bit odd, but what's happening here is that the first four spaces as the start of the line are triggering a code block in Markdown similar to if you wrapped the text in backquotes. Since we support all Markdown in the header, we're unfortunately stuck with code blocks looking weird when placed in there.

I'll open this up to the community to see if anyone has any ideas for how t

[2022-01-11 16:15] mattermod opened #19314 "Channel header elements pushed out of the way by code block"
See: https://github.com/mattermost/mattermost-server/issues/19213

**Summary**
Channel header UI issue (same for DM channel headers).

**Repro steps:**
1. Click Edit Channel Header.
2. Add spaces.
3. Click Save.

**Observed:**
The Header element is affected, please see the screenshot and please see the video in the Github issue.

----
If you're interested please comment here and come [join our "Co

[2022-01-11 16:18] #19213 closed

[2022-01-11 16:48] rajeshwarpatlolla opened #19315 "Error while creating direct conversation"
#### Summary
I am calling 3 apis one after the other while trying to create direct chat.
The apis are as mentioned below.

**Request URL: /v4/channels/direct
Request Method: POST
Status Code: 201 Created
Payload: ["omjiw51g93fpxcefmnixq9sibw","ikm54hoaj7ytmj7u9xjtipixcw"]**
Response:
[code]

**Request URL: /v4/teams/ompypkc5pt87pk6r4y1r31yy9w/channels/name/ikm54hoaj7ytmj7u9xjtipixcw__omjiw51g93fpx

[2022-01-11 17:11] furqanmlk commented on #18940
@agnivade @sz2000  I am not able to reproduce the error when using just ```username``` and ```email``` in 5.32 and Master

![image](https://user-images.githubusercontent.com/6909890/148984919-c87b25e2-f1c1-4012-ab61-d8338fa764ef.png)

![image](https://user-images.githubusercontent.com/6909890/148986735-8c5191b7-2ba4-43ee-bd09-2121ec791cc1.png)

I have found following results: (**None string proper

[2022-01-11 17:13] amyblais commented on #19315
@rajeshwarpatlolla What Mattermost server version are you on?

[2022-01-11 18:23] hmhealey commented on #19294
Thanks for the report, @dipak-demansol. This is actually working as intended. We have limited space in the sidebar, and we want to show as much of the channel's name as possible, so we swap the notification badge with the menu on hover to avoid covering up any of the channel's name.

[2022-01-11 18:23] #19294 closed

[2022-01-12 00:51] lathiat opened #19317 "Apple Silicon (M1/Arm64) downloads not listed on downloads page"
#### Summary

Apple Silicon M1/ARM64 builds are not offered on the download page, only the AMD64 build:
https://mattermost.com/download/

However if you manually change the URL to include 'm1' as per https://github.com/mattermost/desktop/issues/1365 the download works. For example https://releases.mattermost.com/desktop/5.0.2/mattermost-desktop-5.0.2-mac-m1.dmg?src=dl

Ideally it would be a univer

[2022-01-12 01:00] lathiat commented on #19317
I have just realised only now they are listed on the GitHub Desktop downlaods page as "beta" and there is in fact a Universal build. So I guess it's just not linked yet because it's still "Beta".

https://github.com/mattermost/desktop/releases

I guess instead I could request:
- Perhaps even the "Beta" download could be added to the downloads page with that note. I'd probably just list the Univers

[2022-01-12 03:43] rajeshwarpatlolla commented on #19315
This is what it's showing.

<img width="579" alt="Screenshot 2022-01-12 at 9 12 46 AM" src="https://user-images.githubusercontent.com/9896335/149060041-4c51fe40-3231-4d4c-aad7-74b1786412c6.png">

[2022-01-12 08:40] codedsun opened #19318 "https://community.mattermost.com is not working"
#### Summary
Bug report in one concise sentence
https://community.mattermost.com is not working

#### Steps to reproduce
Open the link https://community.mattermost.com
#### Expected behavior
It should open

<img width="757" alt="image" src="https://user-images.githubusercontent.com/20026440/149092898-d0ba8420-832b-48cd-ba4d-3427cc6e4365.png">

[2022-01-12 12:25] Willyfrog commented on #19318
Hello and thanks for reporting!
Community is again online. Sorry if this caused any inconvenience.

[2022-01-12 12:25] #19318 closed

[2022-01-12 13:36] amyblais commented on #19315
@rajeshwarpatlolla Thank you, we currently support versions 5.37+, would you be open to upgrading your server?

[2022-01-12 15:12] #18940 closed

[2022-01-12 16:19] jesespi opened #19321 "[Marketplace] Option to upload new plugin not available"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2022-01-12 18:56] amyblais commented on #19321
@marianunez @stevemudie Just double-checking, is this expected? (The reporter is on a Cloud server)

[2022-01-12 19:00] mattermod opened #19325 "Webapp: Update empty states to align with new branding"
The current empty states need to be updated to align with the new branding. Below are the proposed visuals. Minor copy updates to be made as well - [see the Figma file for details](https://www.figma.com/file/2YwSsBAEYbmKmhPjWflxBo/?node-id=0%3A1)

Messaging for these empty states have also been updated.

### RHS Empty States

![image](https://user-images.githubusercontent.com/14333569/149389665-6f

[2022-01-12 19:34] stevemudie commented on #19321
@amyblais That is expected. Cloud users cannot upload plugins. Only the Marketplace is available to them for plugins.

[2022-01-12 19:37] amyblais commented on #19321
@jesespi Does this help?

[2022-01-13 01:33] #19209 closed

[2022-01-13 07:18] shrzkhn commented on #18741
@amyblais Hi, I am looking to fix this. Could you please assign this issue to me.

[2022-01-13 10:27] jesespi commented on #19321
Thank you @amyblais ! I did not found documentation on that.
I would like to install Bitbucket plugin, but it is not available for me in the Marketplace. Is there a reason?

[2022-01-13 14:37] cwarnermm commented on #19321
@amyblais - Yes: We'll update the documentation to include this information. Thanks!

[2022-01-13 15:51] Petaris commented on #19211
Thanks @cpanato, I'll grab it today and give it a try!

[2022-01-13 16:25] Petaris commented on #19211
Hello, I have started an instance with 6.3.0-rc1 and I am still seeing the incorrect content-type header for the login request.

Firefox 78.15.0 ESR
Mattermost 6.3.0-rc1

This is for the login request and is a mismatch of the request header content-type specified and the actual body content type.

curl 'https://mattermost.?company?.com/api/v4/users/login' -H 'User-Agent: Mozilla/5.0 (X11; Linux x8

[2022-01-13 16:57] amyblais commented on #19211
@Petaris My apologies, this is included in RC-2.

[2022-01-13 16:59] Petaris commented on #19211
@amyblais Ok, no problem.

@cpanato is 6.3.0-rc2 available for MM Team Edition Docker image?

Thanks!

[2022-01-13 17:00] cpanato commented on #19211
it is
[code]

[2022-01-13 17:04] Petaris commented on #19211
@cpanato Thanks!  I'll grab that and test.

[2022-01-13 17:07] amyblais commented on #19240
### v6.3 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.3.0-rc2/mattermost-team-6.3.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/c4f974579b7fa4c116ea9ad1d38887844849f216/source/install/self-managed-changelog.md)

[2022-01-13 17:30] Petaris commented on #19211
@amyblais, @hmhealey, and @cpanato  I can happily say  that the issue is fixed based on my testing!  :D

Thank you!

[2022-01-14 05:30] agnivade opened #19332 "Migrate SqlChannelStore.UpdateLastViewedAt to use squirrel"
#### Summary

The `SqlChannelStore.UpdateLastViewedAt` query is written by hand with lots of complicated logic around creating the parameters for the query.

We would like to convert the query to be generated using [squirrel](https://github.com/Masterminds/squirrel) and then use sqlx to make the DB call.

This requires in-depth knowledge of the squirrel API as the query is not very straightforward

[2022-01-14 05:35] agnivade opened #19333 "Migrate SqlChannelStore.performGlobalSearch/performSearch to use squirrel"
#### Summary

The `SqlChannelStore.performGlobalSearch/performSearch` query is written by hand with lots of complicated logic around creating the parameters for the query.

We would like to convert the query to be generated using [squirrel](https://github.com/Masterminds/squirrel) and then use sqlx to make the DB call.

This requires in-depth knowledge of the squirrel API as the query is not very

[2022-01-14 05:41] agnivade opened #19334 "Migrate SqlChannelStore.autocompleteInTeamForSearchDirectMessages to use squirrel"
#### Summary

The `SqlChannelStore.autocompleteInTeamForSearchDirectMessages` query is written by hand with some parts manually modified with `fmt.Sprintf`

We would like to convert the query to be generated using [squirrel](https://github.com/Masterminds/squirrel) and then use sqlx to make the DB call.

This would also mean migrating `AutocompleteInTeamForSearch` as well.

If you are interested t

[2022-01-14 05:43] agnivade opened #19335 "Migrate SqlChannelStore.SearchGroupChannels to squirrel"
#### Summary

The `SqlChannelStore.SearchGroupChannels` query is written by hand with lots of complicated logic around creating the parameters for the query.

We would like to convert the query to be generated using [squirrel](https://github.com/Masterminds/squirrel) and then use sqlx to make the DB call.

This requires in-depth knowledge of the squirrel API as the query is not very straightforwar

[2022-01-14 05:44] agnivade opened #19336 "Migrate SqlChannelStore.GetMembersByIds/GetMembersByChannelIds to squirrel"
#### Summary

The `SqlChannelStore.GetMembersByIds/GetMembersByChannelIds` query is written by hand using a static string `channelMembersForTeamWithSchemeSelectQuery`.

We would like to convert the query to be generated using [squirrel](https://github.com/Masterminds/squirrel) and then use sqlx to make the DB call.

If you are interested to work on this issue and need some guidance, please feel fr

[2022-01-14 12:54] m477r1x commented on #129
The issue still exists

[2022-01-14 13:51] #19240 closed

[2022-01-15 07:04] aliraad79 commented on #19336
Hi. It's my first time contributing.
Can i work on this?

[2022-01-15 07:21] agnivade commented on #19336
Go for it @aliraad79 !

[2022-01-15 07:25] aliraad79 commented on #19336
I have trouble running test it's usually took a long time.
Is test-server-quick enough for this subject because test-server took long time and i think it's not responding

[2022-01-15 08:10] aliraad79 commented on #19336
Is there a faster way to test exactly that test?
test-server took ages to run

[2022-01-15 16:52] sig5 commented on #19325
I would like to work on this.

[2022-01-17 03:10] agnivade commented on #19336
Hey @aliraad79, yes you can run an exact test by passing the test name. You can see our documentation here: https://developers.mattermost.com/contribute/server/developer-workflow/#running-only-specific-server-unit-tests, or you can look up the Go testing documentation using `go help test`

[2022-01-17 11:13] terehov opened #19342 "Boards missing since 6.3.0 Update (Teams)"
#### Summary
After upgrading to version 6.3.0 the Boards plugin is missing in the menu bar.

#### Version

Mattermost Team Edition
Mattermost Version: 6.3.0
Database Schema Version: 6.3.0
Database: mysql

<img width="316" alt="Screenshot 2022-01-17 at 12 12 48" src="https://user-images.githubusercontent.com/490885/149759803-398fcc73-50db-493d-a9c6-c19885d2b0ff.png">

[2022-01-17 12:19] harshilsharma63 opened #19343 "Bug: team sidebar always shows up in products in subpaths"
#### Summary
Team sidebar always shows up in products in subpaths, even when a product doesn't use it.

#### Steps to reproduce
1. Run mattermost 6.3.1 RC
2. Install and open Focalboard 0.11

#### Expected behavior
Team sidebar should not be displayed

#### Observed behavior (that appears unintentional)
Team sidebar is displayed

[2022-01-17 12:19] harshilsharma63 commented on #19343
cc @ogi-m

[2022-01-17 13:19] amyblais commented on #19342
@terehov Would you be open to re-opening this issue at https://github.com/mattermost/focalboard/issues?

[2022-01-17 13:35] adsche commented on #18900
Hi there, is there any progress on this?
The linked issue is "unassigned".

To clarify, there is currently no way on a closed server to prevent people from sending email invites? The setting in systems console does nothing, and there is no warning about it!

We can only completely deactivate user account creation (so that the email invites just appear to not work at the last step) and temporarily

[2022-01-17 14:30] mattermod opened #19348 "CRT, webapp: Clicking an Avatar in ThreadItem/Footer should open its Profile Popover"
both in the center channel and the global threads page, when the user clicks on an avatar image nothing happens but should open the profile popover the same as it is if the user clicked on the avatar from the user that created the root post

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on

[2022-01-17 15:06] terehov commented on #19342
sure

[2022-01-17 15:20] #19342 closed

[2022-01-17 18:23] vinod-designer1 commented on #19348
Hi @mattermod , I want to work on this issue. Can you give me some context on what the center channel means and how can I go to the global threads page?

In the issue,  Is this the profile popover that you're referring to?
![Screenshot from 2022-01-17 23-47-41](https://user-images.githubusercontent.com/2035522/149820697-068a7052-b43d-49be-81dc-631247780929.png)

Thanks

[2022-01-17 18:31] vinod-designer1 commented on #19335
Hi @agnivade, i can work on this issue.

[2022-01-17 18:45] mattermod opened #19353 "Use normal link for playbook from run overview"
When viewing a run overview, we display a link to the playbook to which this run belongs:

![image](https://user-images.githubusercontent.com/1023171/149953117-214fc23c-09fa-4e5a-91ec-588a0b20ab21.png)

Unfortunately, this isn’t a “normal link”, and so users can’t CMD+Click to open in a new tab. Let’s change the code here to use a normal anchor that doesn’t require javascript handling and so respo

[2022-01-17 20:03] amyblais commented on #19348
cc @Willyfrog

[2022-01-17 20:05] gstlouisgit opened #19355 "mattermost Boards not showing in the webpage version of the app?"
after upgrading mattermost I have started using Boards. I recall I could not use boards because I had to upgrade my app, once I did I could see the bullseye.

However now, a user just told me that they cannot see the bullseye in the webpage app. Why is that? I tried a refresh and clear cache and still can’t see it. I tried login into as my user using chrome and still can’t see it myself !?

I’ve t

[2022-01-17 20:06] amyblais commented on #18900
Adding @laneycs and @mkraft to help with details.

[2022-01-17 20:15] mattermod opened #19356 "Task description length limit different on create vs. edit"
When creating a task, the length limit on the description:

![image](https://user-images.githubusercontent.com/1023171/157745918-7a1d0aeb-0f20-41f2-b0f3-980bc34b04a3.png)

is different from when editing:

![image](https://user-images.githubusercontent.com/1023171/157745935-5849fc52-8eef-4e39-95a5-9085e41e98c8.png)

as a result, when adding a task and pasting a description, it often gets truncated,

[2022-01-17 20:15] mattermod opened #19357 "Tooltip on DM Category ••• menu is wrong"
![](image-2021-09-02-11-58-47-989.png|thumbnail)

On the `Direct Messages` category, the tooltip on the ••• menu is "Channel options". It should say "Category options" like the rest of the categories.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can di

[2022-01-17 20:15] mattermod opened #19358 "Custom Status Expiry: Date Format"
Update visual date formatting for custom status expiry to 2021-06-28 (ensure month and day are always double digits by adding 0 in front when needed)

![image](https://user-images.githubusercontent.com/14333569/149832894-86a81584-a785-49f8-90bf-01d6e7cf053f.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core

[2022-01-17 23:31] amyblais commented on #19355
Responded in Forum,

[2022-01-17 23:31] #19355 closed

[2022-01-18 00:37] mhblatch commented on #19358
Hi, can I try to fix this?

[2022-01-18 00:55] mhblatch commented on #19358
In what section, would I find the code to start fixing the problem? This is my first time contributing.

[2022-01-18 03:08] AshishDhama commented on #19358
@mhblatch Yeah please go ahead. Have assigned the issue to you. Please go through Contributors guidelines here https://developers.mattermost.com/contribute/getting-started. If you need help please let us know.

[2022-01-18 05:00] mattermod opened #19361 "[Websocket Improvement] Send unsanitized user on user_updated"
When we receive the user_updated event, we always receive the sanitized user. That implies that if we receive our own user, we have to make another call to the server to fetch the unsanitized user to store it.

The objective of this ticket is to check if the user to whom the event is sent to is the source user themselves, then send the full unsanitized user.

As part of this ticket, it is also exp

[2022-01-18 05:00] mattermod opened #19362 "[Websocket Improvement] Add whole user to user_added event"
When we receive the user_added event (a user has been added to a channel), we may want to add the user to our store (redux on webapp, watermelondb on mobile). If we have the whole user in the event, we wouldn't need to fetch the user from the database when it arrives.

The objective of this ticket is to send the whole user as part of the user_added event (unsanitized for the source user, and sanit

[2022-01-18 05:00] mattermod opened #19363 "[Websocket improvement] Send channel membership when creating a channel"
Whenever we create a channel, the entity creating the channel will probably need the membership information. Therefore, we have to follow the following pattern:
[code]
We would like to improve the API so we can get the both at the same time, and reduce the number of calls (and therefore improve the speed of the action).

This is specially important for DM creation (it happens way more often, and a

[2022-01-18 05:14] agnivade commented on #18869
Hi @krotovkk - how is it going with this?

[2022-01-18 05:15] agnivade commented on #19142
Hi @frnkshin - how is it going with this? Let me know if I can help with anything

[2022-01-18 05:17] agnivade commented on #19363
If you have any questions, please feel free to reach out to @agnivade or @larkox.

[2022-01-18 05:17] agnivade commented on #19361
If you have any questions, please feel free to reach out to @agnivade or @larkox.

[2022-01-18 05:17] agnivade commented on #19362
If you have any questions, please feel free to reach out to @agnivade or @larkox.

[2022-01-18 05:18] agnivade commented on #19284
This is fixed now via https://github.com/mattermost/mattermost-server/commit/b6f3f580bc282357ff3b6c26474890c8149ce788

[2022-01-18 05:18] #19284 closed

[2022-01-18 06:02] arpit-maurya commented on #19357
hi @mattermod @esethna , I like to contribute in your project

[2022-01-18 06:12] Pinjasaur commented on #19169
Curious, does this overlap with #19353 or are these separate?

[2022-01-18 06:24] krotovkk commented on #18869
Hi! It's in progress.Will be done on this week.

[2022-01-18 08:46] akiross commented on #6299
I am not sure if this issue is still open and if #19164 solved this issue, but in mattermost cloud the problem is still present when adding a custom emoji.

When adding a custom emoji:
![Screenshot from 2022-01-18 09-45-08](https://user-images.githubusercontent.com/884092/149902035-579daed0-93ac-42d2-afeb-d618c5d02981.png)

After adding it (and in subsequent uses):
![Screenshot from 2022-01-18 09-

[2022-01-18 13:36] amyblais commented on #19169
cc @lieut-data

[2022-01-18 14:11] lieut-data commented on #19169
Ooh, thanks for reminding me of this issue, @Pinjasaur! In principle, this issue also encompasses https://github.com/mattermost/mattermost-server/issues/19353. I'll collapse the two to simplify things.

[2022-01-18 14:13] lieut-data commented on #19353
Oops, this is effectively a duplicate of https://github.com/mattermost/mattermost-server/issues/19169.

[2022-01-18 14:13] #19353 closed

[2022-01-18 15:45] mattermod opened #19365 "FullScreenModal - when two or more opened, Esc keypress closes all"
When using a fullScreenModal window on top of another fullScreenModal window and the esc key is pressed, both modal windows are closed. The event listener for the keypress don't differentiate which modal the user is intended to close.
The "upgrade now" link in the error section of the invite users email input in the invite members modal for admins, raised the issue.

Possible solutions:

  * Have

[2022-01-18 16:25] Willyfrog commented on #19348
yes, that one

the center channel is the central area (marked in red in the picture)

you can use the button marked in blue in the picture to access it. If you don't see it in your instance, you'll have to enable [Collapsed Reply Threads](https://docs.mattermost.com/messaging/manage-channels-settings.html#collapsed-reply-threads-beta)  both in the server and your user account.

<img width="1907" a

[2022-01-18 18:56] esethna commented on #19357
@arpit-maurya all yours! Thanks!

[2022-01-18 20:45] mattermod opened #19367 "Compact view: always show usernames of poster for consecutive messages"
Based on user feedback, compact view can be improved by always showing the username of the poster

Observed:

![](image-20220118-202932.png|width=342,height=151)

Expected:

![](image-20220118-202943.png|width=478,height=176)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build

[2022-01-18 21:30] mattermod opened #19368 "Compact view: User preference to colorize usernames"
Add a user preference when compact view is enabled to colorize usernames:

In Account Settings > Display > Message Display, when “Compact” is selected, show a new setting for **Colorize usernames**. Note that if “Standard” is selected, this setting should be hidden. See image for UI mock-up.

”Colorize usernames” should be defaulted to checked (ON).

Note that colors should be unique and persisten

[2022-01-18 22:00] mattermod opened #19369 "Hover buttons on image preview thumbnails"
### The problem

Currently a user has to click to open an image in the preview window to access the download or copy public link functions:

### Proposed Solution

Add icon buttons when hovering over images to do the following:

  * Download
    * tooltip: "Download"
  * Copy link
    * tooltip: "Copy link"
    * When clicked transition tooltip to ‘Copied’ and change the icon to a green checkmark

[2022-01-18 22:25] esethna commented on #14909
Closed and reopened https://github.com/mattermost/mattermost-server/issues/19369

[2022-01-18 22:25] #14909 closed

[2022-01-19 18:53] Pinjasaur commented on #19169
I'd be interested in picking this up. 😄

[2022-01-19 19:09] ogi-m commented on #19343
Verified this is fixed on v6.3.1-rc1

[2022-01-19 19:15] esethna commented on #17615
Hey @rakhi2104 how's this going, are you still working on it?

[2022-01-19 19:58] lieut-data commented on #19169
Thanks, @Pinjasaur!

[2022-01-20 04:37] #19267 closed

[2022-01-20 09:56] trollepierre opened #19380 "When activating uBlock Origin, analytics keep sending failing requests."
#### Summary
Bug report in one concise sentence
When activating uBlock Origin, analytics keep sending failing requests.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
v6.2.1
1. Use Firefox,
2. install https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/
3. open console, look at errors

#### Expected behavior
Describe your issue in detail
uBlock Origi

[2022-01-20 12:22] scsynergy opened #19381 "Mattermost-Desktop 5.0.2 on Debian Linux - Network service crashed, restarting service."
#### Summary
Mattermost-Desktop 5.0.2 will not start as root with flag "--no-sandbox"

#### Steps to reproduce
1. Download and extract mattermost-desktop-5.0.2-linux-x64.tar.gz file
2. cd mattermost-desktop-5.0.2-linux-x64
3. ./mattermost-desktop --no-sandbox

#### Expected behavior
Mattermost-Desktop should open a window and display the chat as Mattermost-Desktop version 4.6.1 still does.

#### O

[2022-01-20 13:41] amyblais commented on #19380
Opened a ticket: https://mattermost.atlassian.net/browse/MM-41176.

[2022-01-20 15:11] bhimeshchauhan commented on #19363
@agnivade @larkox can I take a gander at this?

[2022-01-20 22:53] rmereddy commented on #19278
@mattermod  @Willyfrog   I'll take this one!

[2022-01-21 07:54] plant99 commented on #19369
I wish to work on this.

Will go through the code, make a summary of the changes I've to make, and get an affirmation comment from someone in "Developers" channel.

[2022-01-21 09:19] pankajhirway commented on #19334
I would like to take this up please.

[2022-01-21 09:45] abhipranay opened #19385 "Dev machine setup failing ( Docker image not found )"
#### Summary
Unable to setup dev machine. `make run-server` fails due to non-existing docker image `jhillyerd/inbucket`

#### Steps to reproduce
1. git clone https://github.com/$USERNAME/mattermost-server.git
2. cd mattermost-server
3. Run `make run-server`
4. getting error
[code]

#### Expected behavior
mattermose-server should setup and start running

#### Observed behavior (that appears uninten

[2022-01-21 13:12] loleg commented on #15906
I'm not sure this deserves a separate issue, but I believe the buttons in Mattermost's emails do not render in GMail until loading images is permitted by the user. This does not seem to be an issue with Thunderbird.

[2022-01-21 14:30] agnivade commented on #19334
Go for it @pankajhirway !

[2022-01-21 14:54] amyblais commented on #19385
@abhipranay Would you be open to posting this either at https://forum.mattermost.org/ or at [our community server's Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? Our devs or other community members can likely help with this.

[2022-01-21 16:34] DummyThatMatters opened #19395 "Some plug-ins GUI icons stopped working after 6.3.0 update"
#### Summary
Some plugins that previously were called via button click on right upper panel are no longer callable using that way (the button click causes no action whatsoever, although slash-command which trigger the very same action works well)

#### Steps to reproduce

Mattermost 6.3.0 or 6.3.1 Team Edition
Using DB postgres (PostgreSQL) 12.1

1. Install some random plug-in, that uses button in

[2022-01-21 17:33] amyblais commented on #19395
@levb @hanzei @mickmister Do the console errors indicate a bug?

[2022-01-21 17:35] mickmister commented on #19395
@amyblais Yes this seems like an issue that should be solved asap. I'll look into this cc @DHaussermann

[2022-01-21 17:37] amyblais commented on #19395
Opened: https://mattermost.atlassian.net/browse/MM-41210.

[2022-01-21 18:17] mickmister commented on #19395
Hi @DummyThatMatters, thanks for reporting this!

Based on your screenshot, it looks like the `com.mattermost.iva.c...` plugin running is using jquery. In 6.3.0, jquery was removed as a dependency from the web application. Any plugins relying on jquery that do not import the library themselves will experience issues like you reported.

Is it possible for me to view the `com.mattermost.iva.c...` pl

[2022-01-21 22:07] cxrider opened #19397 "After upgrade to gitlab 14.6.3 bundle New Features notification in browser renders system unusable"
#### Summary
Bug report in one concise sentence

After upgrading gitlab bundle to version 14.6.3, the "New Features" feature of Mattermost consumes enough CPU resources to render a machine unusable.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Upgrade to gitlab-14.6.3; I do not know from whence we came.
Login to desktop, start shell, start top in shell
Star

[2022-01-21 23:09] #19115 closed

[2022-01-22 00:09] #19176 closed

[2022-01-22 00:09] #18993 closed

[2022-01-22 00:10] amyblais commented on #19193
Feel free to share any improvement ideas via https://mattermost.uservoice.com/forums/306457-general.

[2022-01-22 00:10] #18684 closed

[2022-01-22 17:00] plant99 commented on #19369
https://github.com/plant99/mattermost-webapp/tree/MM-22841_attachment_copy_url_download

Need some pointers on how to move ahead next.

1. The positioning of download and copy link buttons need some knowledge of the final rendered dimensions of the image. To make the container a box, the width of the box has to be defined.
2. To achieve this, either of the following can be done
    - move these bu

[2022-01-23 04:17] plant99 commented on #19361
Wish to work on this, will go through the code and take a 👍🏽 for the proposed code changes from the '@'s mentioned above in 'Developers',

[2022-01-23 08:42] k4awon commented on #15983
Hello!

It has been a while since issue was updated on. Would it be okay for me to take this on?

[2022-01-23 10:53] plant99 commented on #19361
For the server-side changes to this code,

https://github.com/plant99/mattermost-server/blob/master/app/user.go#L1037

Every occurrence in user.go which publishes `model.WebsocketEventUserUpdated` can be checked for

[code]

In my local system with only one active user, `message.broadcast` has all fields set to null. Will check with two users and understand this better. If someone can link to a do

[2022-01-23 13:47] darkLord19 commented on #18603
@esethna have raised PRs for initial support for frequently used emojis in reaction overlay

[2022-01-24 03:39] agnivade commented on #19361
You have correctly identified the right method to modify. What we need to do is split the user event into 2: one directly to the user sending the profile without sanitization, the other sending to everyone but the user with sanitization. We can achieve the later by setting the `OmitUsers` map in `model.NewWebSocketEvent`.

So now you'll have 3 events instead of 2.

[2022-01-24 05:29] pankajhirway commented on #19334
@agnivade Thanks !!, One question, Will the existing Tests cover this logic ? What is the best way to test my changes locally.

[2022-01-24 05:32] agnivade commented on #19334
Yes, the tests should cover the logic. The best way would be to run the ChannelStore tests manually and see if they pass. You can refer to https://developers.mattermost.com/contribute/server/developer-workflow/#running-only-specific-server-unit-tests for more info on that.

[2022-01-24 06:52] RikuXan commented on #14379
@sbishel Is it possible that this issue has reappeared due to a regression or something similar?
My newly installed, on-premises 6.3.0 Mattermost Enterprise (installed on K8s via the official Helm Chart) shows the same behaviour after having configured the SAML 2.0 field *Preferred Language Attribute*.

The configuration field is set to *locale*, which is also the name of the Keycloak user attribu

[2022-01-24 11:12] Szymon-Rysztof opened #19401 "Threads tab is not displaying because of "Null" participants"
#### Summary
User is unable to view "Threads" because he deleted only message in a conversation.

#### Steps to reproduce
Can't reproduce this issue.

#### Expected behavior
After deleting only message in conversation, conversation should be removed

#### Observed behavior (that appears unintentional)
After deleting only message in conversation, participants array was "Null" which leaded to fronte

[2022-01-24 11:24] pankajhirway commented on #19334
@agnivade Hi, The mattermost cli doesnt support "mattermost sampledata" command from the link you shared above.

Is there any other way I can generate sample data ?

Also Can you point me to the UI screen where this query will display data ?

[2022-01-24 11:48] DVTrast commented on #14382
Hello.
We´ve the same Problem - randomly some direct messages not visible in Mattermost but the post is in the database "Posts".
Server Version: 6.2.1
Desktop-App Version: 5.0.2
App Version: 1.48.2

[2022-01-24 14:07] amyblais commented on #19401
@koox00 @ashishbhate Could this be related to https://mattermost.atlassian.net/browse/MM-40636, or do you know other known issues related to the above report?

[2022-01-24 14:45] agnivade commented on #19334
The sampledata command should be working AFAIR. Please ask in the Contributors or Peer to Peer help channel in the community server if you are facing issues.

I don't know off the top of my head. You'll have to back trace the query and find out from which API method it gets called.

I think solving this doesn't strictly need verification from UI. You can just run the unit tests and verify that the

[2022-01-24 14:50] amyblais commented on #19401
The reporter mentioned version v6.1.0. @Szymon-Rysztof Are you also able to reproduce this on the latest v6.3.1?

[2022-01-24 14:50] plant99 commented on #19361
Thanks for clearing that up! I’ll start working on this information asap.

[2022-01-24 17:21] esethna commented on #19369
Hey @plant99! Thanks for taking the ticket. I'd recommend asking for technical help or guidance in the developers channel on our community server: https://community.mattermost.com/core/channels/developers

[2022-01-24 19:30] mattermod opened #19405 "When clicking a link in a plugin config settings header, the browser opens the link in current tab"
When click the link "documentation for configuration steps" in the Zoom plugin settings page in the system console:

Expected: The Zoom plugin docs open in a new tab

Observed: The docs open in the same tab, so the user is forced to leave Mattermost

Note: Please make sure that MM links are opened inside MM (do not open a new browser tab).

----
If you're interested please comment here and come [j

[2022-01-24 19:47] mickmister commented on #19307
If you'd like to work on this ticket, please mention me on this ticket, or DM me `@michael.kochell` on https://community.mattermost.com

[2022-01-24 20:00] mattermod opened #19406 "Email notifications should not be send to bot accounts"
Bot Accounts automatically get an an email address assigned ([https://github.com/mattermost/mattermost-server/blob/f2c955b3d3bdec2aa443811b005ec8c0c317c0b7/model/bot.go#L159](https://github.com/mattermost/mattermost-server/blob/f2c955b3d3bdec2aa443811b005ec8c0c317c0b7/model/bot.go#L159|smart-link) ) But they should never get an email notification send to that address. This ticket is about catching

[2022-01-24 20:15] mattermod opened #19407 "Clicking on a image in a slack attachment should open it in a modal"
Currently clicking on a image in a slack attachment ([https://developers.mattermost.com/integrate/admin-guide/admin-message-attachments/#images](https://developers.mattermost.com/integrate/admin-guide/admin-message-attachments/#images|smart-link) ) causes an JS error.

[code]

Instead, an model should open showing the image similar to the image model used when clicking on an markdown image.

----

[2022-01-24 21:29] k4awon commented on #19406
I can take a try here!

[2022-01-25 00:45] esethna commented on #15906
@loleg can you share screenshots and more detailed repro steps for our QA team to dig into? cc// @jgilliam17

[2022-01-25 04:37] AshishDhama commented on #19369
@plant99 I think we should wrap ``img`` inside ``div`` here https://github.com/mattermost/mattermost-webapp/blob/0599ad3c50ef0da0d9b29f9a07e71c59975fe485/components/size_aware_image.jsx#L156
and pass copy link and download function as a prop. Then place buttons with position over the image.
Breaking this into the smaller components as you suggested in 2.1 above is a good idea but I think the compo

[2022-01-25 06:27] hanzei commented on #19406
Awesome @k4awon, thanks for taking a look! Please let me know if you have any questions!

[2022-01-25 08:36] k4awon commented on #19406
Sure thing! Thank you!

[2022-01-25 09:44] loleg commented on #15906
Sure, here is what the e-mail content looks like in GMail when the sender is unknown. I would need to click somewhere in the white space below to go to the password reset page:

![Screenshot from 2022-01-25 10-39-02](https://user-images.githubusercontent.com/31819/150951490-8078230e-62d2-4ea1-ac72-c1a880901ef5.png)

To reproduce, just create a user account with an address that you have not already

[2022-01-25 10:48] Szymon-Rysztof commented on #19401
@amyblais
I'm not sure - because it's our production environment and we were not planning upgrading server at this moment,
Qlso i had no luck in reproducing it myself BUT the same user, that had this problem in first place, told me today, that it occured again.
I can try to collect some additional logs, if you tell me which one you want.

[2022-01-25 13:36] amyblais commented on #19401
cc @koox00 if additional logs would be helpful.

[2022-01-25 15:00] plant99 commented on #19369
Thanks @AshishDhama , understood this part. I'll get a draft PR ready by tomorrow for this, excluding the small image case.

[2022-01-25 17:08] #19127 closed

[2022-01-25 17:18] Vovcharaa opened #19412 "Significant performance regression while using AWS S3 file storage"
#### Summary
Downloading, uploading of files and server startup time significantly increased after updating mattermost server to 6.1+ from 6.0.4.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Currently using 6.0.4 with no issues.
Any attemt of upgrade to 6.1+ (tried 6.1.0 and 6.3.1) leads to completly unusable state of the server.
Same behavior with fresh in

[2022-01-25 17:33] #18871 closed

[2022-01-25 18:02] koox00 commented on #19401
hey @Szymon-Rysztof, app debug logs around the time of the issue would help, thank you.

[2022-01-25 23:50] #18741 closed

[2022-01-25 23:51] #19238 closed

[2022-01-26 00:04] amyblais commented on #19397
Does this still reproduce when the "New Features" banner is dismissed?

[2022-01-26 00:21] amyblais commented on #19412
@Willyfrog Do you know which team could take a look at this?

(Doesn't have to be SET, I'm just looking for guidance on who would have best knowledge on this. Also, I'm wondering if this is related to our ongoing internal performance investigations, or if this is a different issue).

[2022-01-26 00:35] cxrider commented on #19397
I wouldn't say that there is a banner to dismiss, at least not at first.   When I launched mattermost after the upgrade it looked like it always does, taking me to my various chat areas.   Had I not been paying attention I would have never noticed the pulsing orb; a banner never appeared anywhere.   I had to power cycle my machine (I guess I could have considered a remote ssh to potentially kill t

[2022-01-26 00:59] amyblais commented on #19397
@hmhealey @streamer45 Let me know if you have thoughts on which team may be the best to take a look at this.

[2022-01-26 02:02] esethna commented on #19278
Hey @rmereddy, how's this going? Anything I can help with?

[2022-01-26 03:24] wezm opened #19415 "Custom status emoji of user is shown on bot message triggered by slash command"
#### Summary

A bot message triggered by a user using a slash command inherits the emoji of that user's custom status.

#### Steps to reproduce

1. Enable collapsed-thread beta
2. Set a custom status emoji
2. Visit Threads in side-bar, click on a thread you are following
3. Use a slash command to trigger a message from a bot account in that thread
4. Observe that the message from the bot has your

[2022-01-26 03:40] agnivade commented on #18342
@ylluminate , @elandorr - Just for us to debug this issue better, could you let us know what Mattermost version are you using? I realize you have mentioned that it has been like this for a year, but having a specific version allows us to pin point this to a specific release and work from there. Any help on that would be much appreciated. Thanks!

[2022-01-26 06:49] dcshzj commented on #19405
Hello! Can I try to fix this issue?

[2022-01-26 06:57] agnivade commented on #19335
Hi @vinod-designer1 - how is it going with this? Let me know if you need any help.

[2022-01-26 06:57] agnivade commented on #19336
Hey @aliraad79 - how is it going with this? Let me know if you need any help.

[2022-01-26 07:59] hanzei commented on #19405
Sure, that would be awesome. Thanks @dcshzj :+1: Please let me know if you have any questions.

[2022-01-26 09:00] DareDareHub commented on #7139
@nashbrydges

SO TRUE...
In a time when space is going to be the next challenge, a feature to be able to delete files on the server side seems to be a must have.

[2022-01-26 09:12] Antol opened #19420 "Replies stopped working"
#### Summary
Replies stopped working

#### Steps to reproduce
We found it on the existing cloud workspace, but to reproduce you can use simple steps
1) Create a new cloud workspace
2) Write any message
3) Try to reply to that message

The latest cloud version at the moment (Mattermost Version: cloud-2022-01-25-1)

#### Expected behavior
Actually, if you try to reply to any message MM will fail to

[2022-01-26 09:36] #19420 closed

[2022-01-26 10:32] Willyfrog commented on #19412
@Vovcharaa can you share the specs of what you are using? and any special config you might have?

[2022-01-26 11:44] mgdelacroix commented on #15983
Hi @k4awon! sure thing, thanks!! I'm transferring the ownership to you

[2022-01-26 13:45] amyblais commented on #19415
Opened a ticket: https://mattermost.atlassian.net/browse/MM-41291.

[2022-01-26 13:48] Vovcharaa commented on #19412
Server deployed on AWS EC2
OS: `Ubuntu 20.04.3 LTS (GNU/Linux 5.11.0-1027-aws x86_64)`
Docker:
[code]
docker-compose:
[code]
docker-compose.yml
(For update only image tag is changed)
[code]
Database: AWS RDS PostgreSQL 12.7
Config: [config.zip](https://github.com/mattermost/mattermost-server/files/7942154/config.zip)

[2022-01-26 16:28] #18568 closed

[2022-01-27 01:08] k4awon commented on #15983
Awesome! Thank you!

[2022-01-27 10:41] pandrum commented on #129
Issue still exists omegalul

[2022-01-27 14:29] matthewbirtch commented on #19369
That's a really good point @AshishDhama. I neglected to include that case. I'll put something together and will comment on the PR rather than here

[2022-01-27 14:45] mattermod opened #19434 "Move "SERVER_DIR" env var to cli args for emoji_gen file"
**Background introduction**

`emoji_gen` file is used by mattermost-webapp and mattermost-server to generate relevant files such as `emoji.json` etc to work with emojis. These files are then read by webapp to correctly identify and render system emojis. This build is only run once, as system inbuilt emojis are something which doesn't change often.  To know more about the usage run it via npm in th

[2022-01-27 19:44] zaengerlein opened #19438 "Password reset message says the link is good for 24 hours when it expires after two"
#### Summary
Same issue which was reported some time back. For some reason the password reset link expires faster than in 24h
The issue was closed before, because it could not be reproduced.
https://github.com/mattermost/mattermost-server/issues/7195

#### Steps to reproduce
v 6.3.0
- Request password reset
- Wait for a few hours but less than 24h
- Try to reset password with link provided in e-ma

[2022-01-27 20:04] poflankov commented on #18523
Hi! Can I take this?

The requirements say that the user we are looking for must not belong to the current team.
This may be in conflict with the note, which says that the "team" setting must also be covered.
But in this case, a user not belonging to the current team will not be found.
From the documentation, I understood that if that user belonged to the current and another team at the same time,

[2022-01-27 22:19] esethna commented on #15906
cc// @jgilliam17 if you can repro and open a ticket ^

[2022-01-27 23:11] amyblais commented on #19438
Opened a ticket: https://mattermost.atlassian.net/browse/MM-41343.

[2022-01-27 23:27] sinansonmez commented on #19407
Hello,  I would like to work on this as my first PR.

[2022-01-27 23:49] arjitc commented on #19438
Just to confirm -- Is this where the 1 hour PasswordRecoverExpiryTime is inherited from?

https://github.com/mattermost/mattermost-server/blob/master/app/user.go#L38

I see it's used during the checks here,

https://github.com/mattermost/mattermost-server/blob/master/app/user.go#L1258-L1260

[2022-01-28 09:04] Szymon-Rysztof commented on #19401
@koox00 @amyblais
Do i need to redact anything from debug log? I doesn't seem like confidential info, but i'lll ask anyway.

[2022-01-28 12:20] Willyfrog commented on #19412
@amyblais sorry, I forgot to answer your question. I'd say cloud as they probably are more used to work with AWS, second option would be SRE or Server Platform

[2022-01-28 17:17] sinansonmez commented on #19407
Since this bug is related to Slack message attachments. I assume my development environment needs Slack integration to reproduce this bug.
- Is there anyway to reproduce this bug without slack integration?
- If not, how can I create Slack integration in my local development environment

Thanks

[2022-01-28 18:16] amyblais commented on #19401
You can redact any confidential data, such as passwords.

[2022-01-28 19:27] tjfayaz120 commented on #19051
same problem here on team edition 6.3.0, any updates?

[2022-01-28 22:42] sinansonmez commented on #19348
hey @Willyfrog thanks for your reply.

It seems like this issue is still up for grabs, so I had a look in this issue. However, I checked both threads and center channel, it seems like clicking an avatar opens the profile popover. Please see screen recording below

https://user-images.githubusercontent.com/37421564/151630887-fd6d583a-e89c-4683-8c37-ce664a942952.mov

Maybe, in the thread section, ar

[2022-01-29 20:47] scottaudet commented on #19365
Hello, I'm interested in exploring this fix. I'm unable to replicate the 'upgrade' button trigger in my dev env. Is there any advice you could provide?

[2022-01-29 23:07] Emeka-Ugbanu-hub commented on #19438
I would love to help with this. Can you assign it to me?

[2022-01-30 05:43] rajeshwarpatlolla commented on #19315
@amyblais We have upgraded the server, but still getting the same error as mentioned above.

<img width="653" alt="Screenshot 2022-01-30 at 11 12 33 AM" src="https://user-images.githubusercontent.com/9896335/151688178-2c87a329-3477-43d8-bfc7-f1f6c5f22cce.png">

[2022-01-30 14:02] saturninoabril commented on #18523
@poflankov Sure and thanks for your interest! Good catch and question!

True. Please cover this case in test too.

Yes.

[2022-01-30 19:40] hanzei commented on #19407
Thanks for working on this @sinansonmez and reaching out.

1. No, it can only be reproduced with slack attachments.
2. One way to reproduce it would be run a plugin that makes use of slack attachments like Matterpoll. If you add `ImageURL:   "https://mattermost.org/wp-content/uploads/2016/03/logoHorizontal_WS.png",` after https://github.com/matterpoll/matterpoll/blob/57851f9afb7d110483b0a2ffaaeb28

[2022-01-31 15:12] amyblais commented on #19412
@agnivade @streamer45 Let me know if you have thoughts on this report.

[2022-01-31 16:21] streamer45 commented on #19315
@rajeshwarpatlolla How are these requests generated? Are they coming from a custom client? Looking at the failed one (updating user's preferences) the value field should always be a JSON string, even if it identifies a numeric timestamp. Fixing that should make the request go through.

[2022-01-31 16:42] rajeshwarpatlolla commented on #19315
@streamer45  which API u r referring to. I mentioned 3 APIs which I am calling one after the other. So i want to know which API you are referring to.

[2022-01-31 16:43] streamer45 commented on #19315
That would be the third one, the only one returning an error.

[2022-01-31 17:08] rajeshwarpatlolla commented on #19315
Oh, yes, after making it a string instead of a number it worked. Thanks

[2022-01-31 19:47] hmhealey commented on #19397
That's odd. I'm not aware of anything in the web app that could bring down the browser, let alone the whole computer. We used to have issues with regexes going out of control in the message formatting code, but that was triggered by users sending messages with specific text, and its been a while since we've had any issues like that.

---

@cxrider What version of Mattermost/GitLab were you on befo

[2022-01-31 22:40] Emeka-Ugbanu-hub commented on #19438
I would love to help with this but I don't know the GO programming language

[2022-01-31 23:17] amyblais commented on #19438
No problem! I've unassigned you from this.

[2022-02-01 05:54] aliraad79 commented on #19336
hi. i tried to fix it but can't help it. sorry for that. if anyone want to try move on.

[2022-02-01 07:21] agnivade commented on #19412
@Vovcharaa - I see that you posted some logs in your root post. Could you post the complete logs that you see from a 6.3.1 server till the `"Server is listening on [::]:8065` line?

[2022-02-01 08:31] Vovcharaa commented on #19412
@agnivade
[startup.log](https://github.com/mattermost/mattermost-server/files/7976912/startup.log)

[2022-02-01 08:43] agnivade commented on #19412
@isacikgoz - Since you are on SET, would you be able to take a look?

[2022-02-01 08:49] mreymann opened #19463 "/code command prefixes code with whitespace"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-01 13:52] #19315 closed

[2022-02-01 14:25] amyblais commented on #19463
Opened a ticket: https://mattermost.atlassian.net/browse/MM-41507