[2022-09-21 14:15] mattermod opened #21065 "Migrate "components/channel_notifications_modal/components/notification_section.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21066 "Migrate "components/channel_notifications_modal/components/collapse_view.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21067 "Migrate "components/channel_notifications_modal/components/section_title.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21068 "Migrate "components/channel_notifications_modal/components/describe.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21069 "Migrate "components/channel_notifications_modal/components/extra_info.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21070 "Migrate "components/channel_notifications_modal/components/expand_view.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21071 "Migrate "components/channel_notifications_modal/channel_notifications_modal.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21072 "Migrate "components/message_with_additional_content.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21073 "Migrate "components/integrations/installed_incoming_webhook.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:16] mattermod opened #21074 "Migrate "components/integrations/abstract_incoming_webhook.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21075 "Migrate "components/integrations/abstract_oauth_app.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21076 "Migrate "components/integrations/installed_command.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21077 "Migrate "components/integrations/abstract_incoming_hook.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21078 "Migrate "components/integrations/abstract_outgoing_webhook.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21079 "Migrate "components/integrations/abstract_command.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21080 "Migrate "components/integrations/integration_option.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21081 "Migrate "components/integrations/installed_outgoing_webhook.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21082 "Migrate "components/integrations/integrations.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21083 "Migrate "components/size_aware_image.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21084 "Migrate "components/code_block/code_block.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21085 "Migrate "components/code_preview.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21086 "Migrate "components/pdf_preview.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21087 "Migrate "components/user_list.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21088 "Migrate "components/searchable_channel_list.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21089 "Migrate "components/suggestion/at_mention_provider/at_mention_suggestion.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:30] mattermod opened #21090 "Migrate "components/suggestion/search_user_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:31] VishakhaPoonia commented on #21069
I would like to work on this

[2022-09-21 14:32] VishakhaPoonia commented on #21068
I would like to work on this

[2022-09-21 14:32] VishakhaPoonia commented on #21067
I would like to work on this

[2022-09-21 14:32] VishakhaPoonia commented on #21066
I would like to work on this

[2022-09-21 14:32] VishakhaPoonia commented on #21065
I would like to work on this

[2022-09-21 14:42] babinderrathi commented on #21051
I would like to work on this .

[2022-09-21 14:43] VishakhaPoonia commented on #21070
I would like to work on this

[2022-09-21 14:44] VishakhaPoonia commented on #21075
I would like to work on this

[2022-09-21 14:45] mattermod opened #21091 "Migrate "components/suggestion/modal_suggestion_list.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21092 "Migrate "components/suggestion/search_channel_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21093 "Migrate "components/suggestion/suggestion_box" and its tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21094 "Migrate "components/suggestion/suggestion_list.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21095 "Migrate "components/suggestion/generic_channel_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21096 "Migrate "components/suggestion/search_channel_with_permissions_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21097 "Migrate "components/suggestion/suggestion_date.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21098 "Migrate "components/suggestion/search_date_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21099 "Migrate "components/suggestion/suggestion.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21100 "Migrate "components/file_preview_modal/image_preview.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21101 "Migrate "components/file_upload_overlay.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] mattermod opened #21102 "Migrate "components/search_bar/search_bar.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:45] VishakhaPoonia commented on #21076
I would like to work on this

[2022-09-21 14:47] babinderrathi commented on #21057
I would like to work on this .

[2022-09-21 14:49] babinderrathi commented on #21062
I would like to work on this .

[2022-09-21 14:53] babinderrathi commented on #21087
I would like to work on this .

[2022-09-21 15:01] babinderrathi commented on #21088
I would like to work on this .

[2022-09-21 15:02] babinderrathi commented on #21100
I would like to work on this .

[2022-09-21 16:11] AbhinavVihan commented on #21102
I would like to work on this.

[2022-09-21 16:25] AbhinavVihan commented on #21101
I would like to work on this please

[2022-09-21 16:41] AbhinavVihan commented on #21099
I would like to work on this please.

[2022-09-21 17:01] BediNimret commented on #21100
I would like to work on this .

[2022-09-21 17:07] BediNimret commented on #21101
I would like to work on this

[2022-09-21 17:07] BediNimret commented on #21099
I would like to work on this

[2022-09-21 17:07] BediNimret commented on #21098
I would like to work on this

[2022-09-21 17:09] BediNimret commented on #21097
I would like to work on this

[2022-09-21 17:17] AbhinavVihan commented on #21094
I would like to work on this

[2022-09-21 17:17] AbhinavVihan commented on #21093
I would like to work on this

[2022-09-21 17:18] AbhinavVihan commented on #21085
i would like to work on this

[2022-09-21 18:52] VishakhaPoonia commented on #21052
I will take this.

[2022-09-21 19:25] VishakhaPoonia commented on #21053
Pr is up please assign this to me

[2022-09-21 19:44] VishakhaPoonia commented on #21077
I will take this

[2022-09-21 19:44] VishakhaPoonia commented on #21064
I will take this

[2022-09-21 19:48] VishakhaPoonia commented on #21054
would Take this.

[2022-09-21 19:56] VishakhaPoonia commented on #21058
I will take this

[2022-09-21 20:10] VishakhaPoonia commented on #21056
I would Like to work on this

[2022-09-21 20:33] VishakhaPoonia commented on #21072
Assign this to me

[2022-09-21 20:58] safakkizkin commented on #20822
Hey @lieut-data, I'm up for this!

[2022-09-22 04:09] anx-ag commented on #20948
This could be a client cache or an outdated client version - are you using the desktop app and if so, what version? Can you confirm this problem exists for more than just one user and also in the web client?

[2022-09-22 04:33] AbhinavVihan commented on #21096
I would like to work on this please.

[2022-09-22 04:34] AbhinavVihan commented on #21095
I would like to work on this.

[2022-09-22 04:34] AbhinavVihan commented on #21092
I would like to work on these.

[2022-09-22 04:35] AbhinavVihan commented on #21091
I would like to work on this.

[2022-09-22 05:33] babinderrathi commented on #21090
i would like to work on this.

[2022-09-22 05:33] babinderrathi commented on #21086
i would like to work on this.

[2022-09-22 05:33] babinderrathi commented on #21083
i would like to work on this.

[2022-09-22 05:34] babinderrathi commented on #21082
i would like to work on this.

[2022-09-22 06:26] BediNimret commented on #21078
I would like to work on this

[2022-09-22 06:26] BediNimret commented on #21079
I would like to work on this

[2022-09-22 06:27] BediNimret commented on #21080
I would like to work on this

[2022-09-22 08:28] lonesomewalker commented on #20948
I cleared the cache.
Desktop app: latest
Issue with non-visible channels might be related to this?
https://forum.mattermost.com/t/failed-to-insert-record-to-database/13084/5

The non-visible channels are in webview, the left sidebar is just empty, but not everywhere...

So, i might guess something went wrong with migration.
But since i have done that now more than three times and everytime no erro

[2022-09-22 11:51] pixalquarks commented on #21096
I would like to work on this.

[2022-09-22 11:51] AbhinavVihan commented on #21081
I would like to work on this.

[2022-09-22 11:52] AbhinavVihan commented on #21084
I would like to work on this.

[2022-09-22 11:52] pixalquarks commented on #21095
I would like to work on this.

[2022-09-22 11:53] AbhinavVihan commented on #21089
I would like to work on this.

[2022-09-22 11:53] pixalquarks commented on #21078
I would like to work on this.

[2022-09-22 11:54] AbhinavVihan commented on #21074
I would like to work on this.

[2022-09-22 11:54] pixalquarks commented on #21079
I would like to work on this.

[2022-09-22 11:54] pixalquarks commented on #21080
I would like to work on this

[2022-09-22 11:55] AbhinavVihan commented on #21073
I would like to work on this.

[2022-09-22 11:56] AbhinavVihan commented on #21071
I would like to work on this.

[2022-09-22 11:57] AbhinavVihan commented on #21063
I would like to work on this.

[2022-09-22 11:57] AbhinavVihan commented on #21061
I would like to work on this.

[2022-09-22 11:58] AbhinavVihan commented on #21059
I would like to work on this.

[2022-09-22 11:59] AbhinavVihan commented on #21060
I would like to work on this.

[2022-09-22 12:35] #20347 closed

[2022-09-22 15:19] serjsv87 opened #21111 "mattermost-push-proxy not send push"
installed mattermost-push-proxy on the server, as well as on the docker. But push notifications do not come. Although there are no errors and I get a positive answer.
in log all good

[code]

when test sending to firebase

[code]

I get push.
I tried to parse the code. I saw that a similar request is going

[code]

I get an answer

[code]

But the push does not come to the device

**I will be glad

[2022-09-22 17:23] amyblais commented on #21111
@serjsv87  Would you be open to raising this issue at https://community.mattermost.com/core/channels/peer-to-peer-help or at https://forum.mattermost.com/? One of our community or staff members will be able to help troubleshoot this.

[2022-09-22 17:40] serjsv87 commented on #21111
yes, sure
for those who find this message, I will leave links where I left messages

https://community.mattermost.com/core/pl/abusw7w9c7ywdcjzaxapa5si6c
and

[2022-09-22 18:23] cinlloc commented on #13480
I can give another try to this one! :hand:

[2022-09-22 18:56] amyblais commented on #21111
Thank you, specifically the "Peer-to-peer Help" channel is a good one for posting troubleshooting questions https://community.mattermost.com/core/channels/peer-to-peer-help,

[2022-09-22 19:06] serjsv87 commented on #21111
Thank you

чт, 22 вер. 2022, 21:56 користувач Amy Blais ***@***.***>
пише:

[2022-09-22 19:56] lonesomewalker commented on #20948
Is there anything like this:
https://gist.github.com/streamer45/997b726a86b5d2a624ac2af435a66086
documented somewhere so i can compare a valid schema with my current one?

[2022-09-23 02:50] agnivade commented on #20828
Thank you @anx-ag for jumping in! And thank you @Azanul for offering to help on this! Let me know how it goes.

[2022-09-23 03:35] anx-ag commented on #20948
Hi again,

in a fresh installation, this is what the `SidebarCategories` table looks like:

[code]

To fix them for your specific user, you would just have to create the three categories in the DB with these special names suffixed with your user and teamid, this can easily be automated. Let me know if that helps.

[2022-09-23 11:03] lonesomewalker commented on #20948
Looking promising 👍
So, two questions:
- is there a simple query to do this for all users?
- why is this not done in this installation by upgrading from 5 to 6?

[2022-09-23 11:43] anx-ag commented on #20948
So creating those channels manually fixed the problem for you?
I can only answer the first question with regards to the query, I'm sure I can compile something quickly which does that, but in order to know how failsafe it needs to be I need to know if there are currently any entries in this table for other users and if I should just try to create new ones or merge them with the existing entries.
T

[2022-09-23 17:38] lonesomewalker commented on #20948
I tried to rename one in the database, voila, worked.

So, i think this is something which should have happened by update, right?
Where can i find the particular migration script which does this automatically?

I have some users, so i would be glad not doing this by hand for all :-|

[2022-09-23 19:06] rolwin100 commented on #20841
@gbochora can you pls have a look at this feature

[2022-09-23 19:18] anx-ag commented on #20948
OK, great - while looking at your table in more detail, the query is pretty easy and should work. Please give it a try (and make a backup first).
I did populate my demo table with some of the values from your table earlier (3 entries to be converted, one that is already good):

[code]

I did not find the particular migration script for that in the database, but I think this is probably one of the

[2022-09-23 19:30] FaizanNehal opened #21124 "`Team Admin` should not be allowed to post in private channels of `Users`"
#### Summary
There are 3 main roles the `system admin`, `team admin` and `user`. System admins have access to all the information and private data of every users but the access of team admin is limited as they are only there for managing the public channels. Now channels that are private are not visible to the team admin and they are not authorized to view them but through this vulnerability they

[2022-09-23 20:58] amyblais commented on #21124
@FaizanNehal What Mattermost server version are you on? What OS and version are you using?

[2022-09-24 01:51] sk409 commented on #16136
I would like to work on this issue.

[2022-09-24 10:54] sk409 commented on #18074
I would like to work on this issue.

[2022-09-24 12:57] FaizanNehal commented on #21124
I am using the latest version and the OS is MacOS 12.4 Monterey

[2022-09-24 13:42] lonesomewalker commented on #20948
Okay... i hope this was the only missing query :-)
Looks good now, issue closed.
Hopefully there are not other migration scripts missing :-|

Thank you

[2022-09-24 13:42] #20948 closed

[2022-09-24 16:33] mickmister commented on #18010
@safakkizkin Yes that solution makes perfect sense to me :+1:

The GitHub plugin uses this feature. Note that it conditionally renders content in two places depending on if the team sidebar is showing. Just mentioning this for context.
https://github.com/mattermost/mattermost-plugin-github

Thanks for looking into this!!

[2022-09-24 19:49] EskarinaH commented on #20952
Hey, I'm interested in working on this issue.

[2022-09-25 14:23] bbodenmiller opened #21125 "Visiting Mattermost on ChromeOS/Chromebook suggests I use desktop app"
#### Summary
Visiting Mattermost on ChromeOS/Chromebook suggests I use desktop app which doesn't exist

#### Steps to reproduce
1. Visit https://community-daily.mattermost.com/ from ChromeOS
2. Notice it prompts user to use non-existent Desktop app

#### Expected behavior
No prompt to use Desktop app

#### Observed behavior (that appears unintentional)
Prompts to use Desktop app

![image](https://

[2022-09-26 11:35] carkod commented on #20820
Hi, you mention a design, is there a Figma file or URL?

[2022-09-26 12:37] amyblais commented on #21111
Awesome, we can continue the discussion at https://community.mattermost.com/core/channels/peer-to-peer-help or at https://forum.mattermost.com/ if the issue comes back,

[2022-09-26 12:37] #21111 closed

[2022-09-26 12:40] amyblais commented on #21125
@bbodenmiller This was implemented via https://mattermost.atlassian.net/browse/MM-36439 / https://github.com/mattermost/mattermost-webapp/pull/10573. What do you mean by "non-existent desktop app"?

[2022-09-26 12:42] amyblais commented on #21124
Opened: https://mattermost.atlassian.net/browse/MM-47165.

[2022-09-26 16:31] amyblais commented on #21125
What screen do you get when you click on "View in Desktop App"?

[2022-09-26 16:35] amyblais commented on #20820
cc @lieut-data

[2022-09-26 17:23] kyeongsoosoo commented on #19803
I've been busy.. and I'm working on it now!

[2022-09-26 20:38] cinlloc commented on #13481
I can take this one :hand:

[2022-09-27 02:15] bbodenmiller commented on #21125
@amyblais since ChromeOS is generally just a browser there isn't any Mattermost desktop app for it.

[2022-09-27 04:16] movy commented on #15012
Just began to experience extreme lag when typing on MacOS client Version 5.1.1 (20700) and server Mattermost Version: 7.2.0,
Never experienced anything like this prior server v7, or even v6, as we skipped several upgrade cycles exactly for similar regression experiences, but eventually had to upgrade due to accumulating security fixes.

[2022-09-27 04:35] AshishDhama commented on #19803
@kyeongsoosoo Sorry, I forgot to mention this ticket in pr, could you please find some other ticket

[2022-09-27 10:30] mattermod opened #21127 "Migrate "components/suggestion/emoticon_provider.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:30] mattermod opened #21128 "Migrate "components/suggestion/search_suggestion_list.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:30] mattermod opened #21129 "Migrate "components/suggestion/menu_action_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:30] mattermod opened #21130 "Migrate "components/suggestion/generic_user_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:30] mattermod opened #21131 "Migrate "components/suggestion/provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21132 "Migrate "components/more_direct_channels/list_item/list_item.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21133 "Migrate "components/suggestion/channel_mention_provider.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21134 "Migrate "components/channel_header_dropdown/channel_header_dropdown_items.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21135 "Migrate "components/channel_header_dropdown/mobile_channel_header_dropdown.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21136 "Migrate "components/channel_header_dropdown/channel_header_dropdown.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21137 "Migrate "components/channel_header_dropdown/mobile_channel_header_dropdown_animation.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21138 "Migrate "components/setting_item_max.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21139 "Migrate "components/advanced_create_post/advanced_create_post.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 10:45] mattermod opened #21140 "Migrate "components/setting_item_max.jsx" and its associated tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * Update any components usi

[2022-09-27 10:45] mattermod opened #21141 "Migrate "components/advanced_create_post/advanced_create_post.test.jsx" and its associated tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-27 11:55] kyeongsoosoo commented on #19803
@AshishDhama Sorry, I'm too late. I'll find other tickets.

[2022-09-27 12:23] #21102 closed

[2022-09-27 12:39] goulinkh commented on #18841
Hey @esethna, I'd like to work on this feature, can you please let me know if this issue is still relevant.

[2022-09-27 13:28] #21101 closed

[2022-09-27 13:31] amyblais commented on #21125
Got it, opened a ticket: https://mattermost.atlassian.net/browse/MM-47169.

[2022-09-27 13:54] esethna commented on #18841
All yours @goulinkh!

[2022-09-27 14:15] mattermod opened #21142 "Add a confirmation to the mark all as read button in Threads"
Because this action is fairly destructive, a confirmation modal is needed when users click the ‘Mark all as read’ button in the main Threads view.

![](image-20220927-140217.png|width=954,height=585)

A few other related notes:

  * We should fix the alignment of the icon within the mark all as read button - it’s currently misaligned - most noticeable in the hover state
  * We should disable this

[2022-09-27 15:21] AbhinavVihan commented on #21139
I would like to work on this.

[2022-09-27 15:22] AbhinavVihan commented on #21134
I would like to work on this.

[2022-09-27 15:22] AbhinavVihan commented on #21133
I would like to work on this.

[2022-09-27 15:23] AbhinavVihan commented on #21131
I would like to work on this.

[2022-09-27 15:23] AbhinavVihan commented on #21127
I would like to work on this.

[2022-09-27 15:24] AbhinavVihan commented on #21128
I would like to work on this.

[2022-09-27 15:44] cannalee90 commented on #21140
May I try this one?

[2022-09-27 16:13] sk409 commented on #18163
@saturninoabril
I would like to work on this issue.

[2022-09-27 16:39] AbhinavVihan commented on #21130
I would like to work on this.

[2022-09-27 17:12] amyblais opened #21144 "Mattermost v7.4"
You can find key dates for v7.4 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### September 30th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### September 12th: Release Build Cu

[2022-09-27 19:04] safakkizkin commented on #21124
It's too early to say, but I'd like to take it!

[2022-09-28 00:15] vikasbhalla05 commented on #19357
Heyy @esethna is anyone working on this issue
can this issue be tagged hacktoberfest...
I would like to contribute

[2022-09-28 02:20] babinderrathi commented on #21129
I would like to work on this .

[2022-09-28 02:20] babinderrathi commented on #21135
I would like to work on this .

[2022-09-28 02:21] babinderrathi commented on #21136
I would like to work on this .

[2022-09-28 02:21] babinderrathi commented on #21137
I would like to work on this .

[2022-09-28 02:21] babinderrathi commented on #21138
I would like to work on this .

[2022-09-28 03:49] kyeongsoosoo commented on #21142
Can I take this?

[2022-09-28 04:43] joshalling commented on #21141
I can take this one.

[2022-09-28 06:56] josip-matic commented on #14863
My colleague has similar problem. She using like me 5.1.1 Desktop version on Windows 10.
![Uploading mattermost-issue.png…]()

[2022-09-28 07:10] gregoryR opened #21146 "Failed to apply database migrations when migrating from 7.1 to 7.2"
#### Summary
Migration from Mattermost 7.1 to 7.2 fail with ` Failed to apply database migrations.`

#### Steps to reproduce
I'm using Mattermost server 7.1.2 bundled in the gitlab-ee 15.3.3-ee.0

Wen upgrading gitlab-ee to 15.4.0-ee.0 the Mattermost server fail to start after upgrade ; via `aptitude safe-ugrade`. I get 502 Bad Gateway accessing the web interface.

#### Expected behavior
The Matte

[2022-09-28 07:25] anx-ag commented on #21146
Hi,

can you please post the output of the following SQL query:

[code]

With regards to the local mode: Can you confirm that after you restart Mattermost, the `LocalMode` Setting is still active in your `config.json`?
Did you maybe move the configuration to the database (which could explain why the setting doesn't work)?

You can try to set up `mmctl` with authentication via HTTPs in order to at

[2022-09-28 07:43] codewithshariq commented on #21135
Interested.

[2022-09-28 07:46] babinderrathi commented on #21135
Yes sir

On Wed, Sep 28, 2022, 1:13 PM Shariq Ahmed Khan ***@***.***>
wrote:

[2022-09-28 07:59] codewithshariq commented on #21135
@babinderrathi I was not asking you, I think you got me wrong. I added my comment because I am also interested to work on this issue.

[2022-09-28 08:48] gregoryR commented on #21146
Thanks for your quick reply

The complete dump may not be necessary now that I know the table

I can find two teams with stage-ia in the `name`. The `displayname` is different
I have exluded columns `email` and `inviteid`

[code]
Note : I'm no pro with postgresql but if I use `=` instead of `LIKE` to perform the search, it only retrieve 1 row. Maybe a problem with character encoding or a trailing

[2022-09-28 10:07] esethna commented on #19357
@vikasbhalla05 go for it!

[2022-09-28 10:27] anx-ag commented on #21146
Thanks, that's interesting. So you're saying when you run `SELECT * from teams where name='stage-ia`;` that you only receive one row instead of two?
There's no "space" for a trailing space, otherwise the column would be broader.

Is there a specific reason why you have two teams with almost the same name? One being open and one being invite-only?

It would be interesting to see if you have users i

[2022-09-28 11:10] gregoryR commented on #21146
Yes, no pure psclient on this server but I think I can use the gitlab equivalent

[code]

When you create a group in gitlab, the creation of a corresponding Mattermost team is proposed

![gitlab-mattermost](https://user-images.githubusercontent.com/1171861/192762889-8d6ba9d4-e8fb-4722-97a4-1439bc2cab54.png)

It's now disabled by default but it was not always the case. gitlab's users didn't bother

[2022-09-28 12:02] cannalee90 commented on #21132
I would try this one

[2022-09-28 12:48] amyblais commented on #21141
cc @M-ZubairAhmed

[2022-09-28 13:51] gleke commented on #19682
When integrating a Mattermost instance with a website, access tokens are used for authentication is Mattermost. We have done this integration and this works well.
We also have this plan :integrating a Mattermost instance with a website, access tokens are used for authentication is Mattermostintegrating a Mattermost instance with a website, access tokens are used for authentication is Mattermost, c

[2022-09-28 14:32] gleke opened #21150 "Our customers want to use their mobile phone number and 6-digit SMS random code to authenticate their login, just like email and password login. What should we do?"
Our customers want to use their mobile phone number and 6-digit SMS random code to authenticate their login, just like email and password login. What should we do?

[2022-09-28 15:04] kyeongsoosoo commented on #21142
@amyblais Would you give me permission to view figma file?

[2022-09-28 15:17] matthewbirtch commented on #21142
Apologies! Figma permissions have been updated for [this file](https://www.figma.com/file/SrGPhnMYPknLIUaX0v89p6/MM-45853-Confirmation-for-Mark-all-Threads-as-Read?node-id=0%3A1).

[2022-09-28 15:34] kyeongsoosoo commented on #21142
@matthewbirtch Thanks😀

[2022-09-28 16:06] 26tanishabanik commented on #18745
@mattermod , I would like to work on this issue, can you guide about where should I start for this issue?

[2022-09-28 16:47] amyblais commented on #18745
cc @devinbinnie

[2022-09-28 18:00] mattermod opened #21152 "Write E2Es for copy content button on code and text file preview modal"
Write Cypress test for [MM-T5179](https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T5179) for copy content button on code and text file preview modal

If you need any guidance or need more information please post a message in [quality-assurance ](https://community.mattermost.com/core/ch

[2022-09-28 18:17] #20887 closed

[2022-09-28 18:26] suselunarwolf commented on #21152
Hi all,i'm willing to  work on it.

[2022-09-28 18:47] saturninoabril commented on #18163
Thanks @sk409 for your interest and let me know if you have questions.

[2022-09-28 18:48] safakkizkin commented on #18010
@mickmister I took a lot to this issue but I come no solution. At some point I could not figure out more.

Let me explain what I looked up and what I really end up with.

1. We use Pluggable to render all the plugins where it should be.
2. There are multiple places for plugins to stay still, eg. `team-sidebar-bottom-plugin` and `sidebar--left__icons`...
3. And those are ends up [here](https://gith

[2022-09-28 23:28] #20917 closed

[2022-09-28 23:49] #20939 closed

[2022-09-29 03:08] #20923 closed

[2022-09-29 04:17] vikasbhalla05 commented on #19357
Hey @esethna It's my first time working with a docker containerized app
The issue I'm facing is I can't run docker on my machine
Is there another way like code sandbox, etc?

[2022-09-29 05:39] M-ZubairAhmed commented on #21141
Yes its duplicate. its the same file. closing this one.

[2022-09-29 05:39] #21141 closed

[2022-09-29 05:48] #21053 closed

[2022-09-29 07:27] #20884 closed

[2022-09-29 10:30] mattermod opened #21154 "Migrate "upgrade_badge" to Compass-icons"
mattermost-playbooks upgrade_badge component is an SVG component (file webapp/src/components/backstage/upgrade_badge.tsx) that is currently used in several places:

[code]

The same icon is distributed with the mattermost/compass-icons package, which is a more appropriate way of using icons.

Migrate all 4 uses of upgrade_badge to the icon distributed. Positioning and color should be the same as b

[2022-09-29 11:19] M-ZubairAhmed commented on #13686
closing this one the made into two separate tickets for focused scope

[2022-09-29 11:19] #13686 closed

[2022-09-29 11:24] M-ZubairAhmed commented on #13721
closing to open scoped issue

[2022-09-29 11:24] #13721 closed

[2022-09-29 11:30] mattermod opened #21155 "Migrate 'components/emoji_picker/emoji_picker_overlay.jsx' module to TypeScript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 11:31] M-ZubairAhmed commented on #17278
reopening with new description

[2022-09-29 11:31] #17278 closed

[2022-09-29 11:43] M-ZubairAhmed commented on #16120
closed this for another one with reduced scope

[2022-09-29 11:43] #16120 closed

[2022-09-29 11:45] mattermod opened #21156 "Migrate 'components/suggestion/switch_channel_provider' and associated tests to TypeScript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 11:45] mattermod opened #21157 "Migrate 'components/integrations/installed_outgoing_webhook.jsx' and associated tests to TypeScript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 11:58] M-ZubairAhmed commented on #13481
@cinlloc this ticket was broken apart into multiple issue
https://github.com/mattermost/mattermost-server/issues/13482 - merged
https://github.com/mattermost/mattermost-server/issues/21057 - pr exist
https://github.com/mattermost/mattermost-server/issues/21058 - pr exist

I am closing this off. feel free to take a look at other open issue related to ts https://github.com/mattermost/mattermost-serv

[2022-09-29 11:59] amyblais opened #21158 "Fast-forward"

[2022-09-29 11:59] amyblais commented on #21158
/cloud-ff

[2022-09-29 11:59] mattermod commented on #21158
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-09-29-backup (SHA: `1a5ecfa`)
    - mattermost-webapp:refs/heads/cloud-2022-09-29-backup (SHA: `2a4872b`)
    - enterprise:refs/heads/cloud-2022-09-29-backup (SHA: `024be34`)
    - mattermost-api-reference:refs/heads/cloud-2022-09-29-backup (SHA: `3825fad`)

### Fast-Forwarded branches
    - m

[2022-09-29 12:00] #21158 closed

[2022-09-29 12:01] M-ZubairAhmed commented on #16150
@sinansonmez assigning this one

[2022-09-29 12:30] mattermod opened #21159 "P1 - Screen reader (JAWS) incorrectly announces Settings > Display > Language > Change interface language field"
Environment: Tested on Win 10. v6.3.7 esr server, desktop app v5.1-rc4

Steps:

1.Start the JAWS reader and open desktop app with esr server setup
2. Tab through to global header and select Settings gear icon
3. Tab to Display option in the left panel
4. Press Enter
5. Keep tabbing until you reach Language at the bottom of the RHS panel (focus will be on the Edit link)
6. Press Enter

Expected: JA

[2022-09-29 12:30] mattermod opened #21160 "P1 - Screen reader (JAWS) skips edit links on Profile>Security tab"
Environment: Tested on Win 10. v6.3.7 esr server, desktop app v5.1-rc4

Steps:

  1. Start the JAWS reader and open desktop app with esr server setup
  1. Tab through to global header and select user profile image
  1. Tab to Profile button and Enter
  1. Tab to Security tab and Enter

Expected: User can tab through edit link on security options

Observed: Tabbing on Profile>Security skips edit li

[2022-09-29 13:10] codewithshariq commented on #21157
I would like to work on this.

[2022-09-29 18:18] #20878 closed

[2022-09-29 18:56] #21041 closed

[2022-09-29 20:25] pandel commented on #18351
@phreaker0
Many thanks for your migration description! It was a decent way to get started with my own migration. Docker Mattermost 7.1.2 on MariaDB 10.5 to current PostgreSQL 13).

I made up a script which auto-generated pgloader load files for every single table (from a MySQL `SHOW TABLES`), as I thought it would be easier to track down errors if I convert a single table at a time than everything

[2022-09-29 22:05] M-ZubairAhmed commented on #21071
duplicated by https://github.com/mattermost/mattermost-server/issues/16150

[2022-09-29 22:05] #21071 closed

[2022-09-29 22:42] M-ZubairAhmed commented on #21136
duplicate of https://github.com/mattermost/mattermost-server/issues/16136

[2022-09-29 22:42] #21136 closed

[2022-09-29 23:06] #21054 closed

[2022-09-29 23:06] #21064 closed

[2022-09-29 23:06] #21077 closed

[2022-09-29 23:15] mattermod opened #21161 "Migrate "utils/browser_history.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:15] mattermod opened #21162 "Migrate "utils/timezone.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:15] mattermod opened #21163 "Migrate "utils/message_html_to_component.jsx" to Typscript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:30] mattermod opened #21164 "Migrate "utils/a11y_controller.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:30] mattermod opened #21165 "Migrate "utils/storage_utils.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:30] mattermod opened #21166 "Migrate "utils/youtube.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:30] mattermod opened #21167 "Migrate "utils/policy_roles_adapter.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-29 23:30] mattermod opened #21168 "Migrate "utils/emoji.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-30 04:13] agnivade commented on #21146
It seems like your DB schema had incorrect constraints from the start. The `teams` table should have a `ADD CONSTRAINT teams_name_key UNIQUE (name);` which was added very early in Mattermost. The fact that it wasn't present caused this to be added in the first place.

To fix this, we either need to delete the team using mmctl (`mmctl delete <teamID>`), or rename the team with display name `STAGE_I

[2022-09-30 04:38] agnivade commented on #18351
Should be fine to leave them.

yes, shouldn't be a problem.

yes

[2022-09-30 04:59] gregoryR commented on #21146
The unique key seems to be there. Yes I know, that's weird `:(`

Every day I backup via pgdump the mattermost_production database. I can see the constraint. Relevant parts of the dump

[code]

That was my plan, but I can't. I hit another pb no `mmctl` console for me. `mmctl` is available

[code]

But I can't use the `--local` option because even if LocalMode seems enabled in config.json there's no

[2022-09-30 05:48] joshalling commented on #21168
I can take this one.

[2022-09-30 06:31] scriptdealer opened #21169 "link_metadata.go: undefined: opengraph.Image"
#### Summary
While writing a plugin, I have troubles compiling it.

#### Steps to reproduce
Make `github.com/mattermost/mattermost-server/v6/model` import in .go file
then `go build` it

#### Expected behavior
Plugin should compile

#### Observed behavior (that appears unintentional)
Build fails with:
`../../pkg/mod/github.com/mattermost/mattermost-server/v6@v6.7.2/model/link_metadata.go:53:39: un

[2022-09-30 06:49] scriptdealer commented on #21169
I can see that present model/link_metadata.go has `"github.com/dyatlov/go-opengraph/opengraph/types/image"` import, but what I get in my ~\go\pkg has no such line. This is true for 6.7.2, 6.3.0, 6.2.1. And this is strangely enough, as my previous plugin compiled successfully with 6.3.0

[2022-09-30 07:15] agnivade commented on #21146
Can you run a `\dS+ teams` on your database and paste the output? If the constraint is there, it can only mean that the name has some empty characters around it.

Re: mmctl, can you check the file location of `/var/tmp/mattermost_local.socket` and ensure a file exists there?

Sure, you can change the team's name via psql. But deletion is only recommended via mmctl, as there are dependent rows whic

[2022-09-30 07:49] gregoryR commented on #21146
Yes here is the output, I think I can see the constraint

[code]

This one is my bad, sorry `:-[` We just found the pb

In my `/etc/gitlab.gitlab.rb` I changed long time ago, I can't store mattermost data locally on the server (vm without a lot of space) There's an nfs mount on a filer for that

[code]

So the config.json used by Mattermost isn't `/var/opt/gitlab/mattermost/config.json` but `/home

[2022-09-30 08:11] mickmister commented on #18010
@safakkizkin The plugin is choosing to render in the sidebar (and not `team_sidebar`) because it is explicitly checking if the user is a member of multiple teams before making this choice of where to render. It is not actually checking "is the team sidebar visible".

I think this behavior is acceptable, as the requirement of showing the sidebar has been accomplished. It's the individual plugin log

[2022-09-30 08:41] gregoryR commented on #21146
I could, many thanks but only with the name not with ID

[code]

but... it seems the one deleted by name is not the one returned by `search' `:)`

[code]

[2022-09-30 10:04] AbhinavVihan commented on #21167
i'll take this please

[2022-09-30 10:05] babinderrathi commented on #21159
I already completed this.

[2022-09-30 10:06] AbhinavVihan commented on #21165
I would like to work on this.

[2022-09-30 10:06] AbhinavVihan commented on #21166
I would like to work on this.

[2022-09-30 10:07] AbhinavVihan commented on #21164
I would like to work on this.

[2022-09-30 10:07] AbhinavVihan commented on #21161
I would like to work on this.

[2022-09-30 10:08] babinderrathi commented on #21160
I would like to work on this.

[2022-09-30 10:08] AbhinavVihan commented on #21162
I would like to work on this.

[2022-09-30 10:10] AbhinavVihan commented on #21163
I'll take this one.

[2022-09-30 10:11] AbhinavVihan commented on #21156
I would like to work on this.

[2022-09-30 10:13] AbhinavVihan commented on #21157
isn't this duplicate for **https://github.com/mattermost/mattermost-server/issues/21081**

[2022-09-30 11:00] agnivade commented on #21146
Interesting, I'd be curious to see the server logs when deleting the team by id. In any case, glad to see everything has worked well. If there's nothing else pending, please feel free to close the issue.

[2022-09-30 11:05] gregoryR commented on #21146
It's possible, everything is possible `:)` Seems related to the constraint again

[code]

[2022-09-30 13:29] amyblais commented on #21144
### v7.4 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.4.0-rc1/mattermost-team-7.4.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5902/files

[2022-09-30 13:54] amyblais commented on #21169
@scriptdealer Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-09-30 14:23] ITCDEK commented on #21169
Thanks Amy, I'll try p2p and report back then

[2022-09-30 15:06] sbishel opened #23061 "Code Debt: Share common code between Person and MultiPerson properties"
## Summary

The [Person Property](https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/person/person.tsx) and [MultiPerson Property](https://github.com/mattermost/focalboard/blob/main/webapp/src/properties/multiperson/multiperson.tsx ) share most of the same code.

Especially after this [PR](https://github.com/mattermost/focalboard/pull/3888) made them work in an equivalent man

[2022-09-30 15:15] mattermod opened #21172 "Browse Channels modal: Add channel filtering and sorting mechanisms"
This ticket relates to the planned redesign of the Browse Channels modal, including the addition of a mechanism for filtering Channels in order to make discovery and navigation easier. For full specs and sizing, please see the [**Design Files**](https://www.figma.com/file/KfzKLsROKCZ7zm4S5Sdi7X/MM-42267-%22Browse-Channels%22-Modal?node-id=239%3A94807). Scope of this ticket:

  1. Update the modal

[2022-09-30 15:15] mattermod opened #21173 "Browse Channels modal: add member count and membership status to the channel list"
This ticket is part of the work to revamp the Browse Channels modal on Desktop:

![](image-20220602-135444.png|width=41.66666666666667%)

![](image-20220602-135510.png|width=628,height=460)

For full specs and sizing, please see the [**Design Files**](https://www.figma.com/file/KfzKLsROKCZ7zm4S5Sdi7X/MM-42267-%22Browse-Channels%22-Modal?node-id=239%3A94807). Scope of this ticket:

  1. Update the

[2022-09-30 15:15] mattermod opened #21174 "Prioritize results in the "Add members" to channel modal based on recent DM activity"
Repro: Open the “Add members” modal for a channel and type some characters

Observed: results are ordered alphabetically

Expected: Show a **maximum of 25 results** that match the search criteria in the following order:

A) First, show people that the user has previously direct messaged (ie "last viewed at" time exists with sorting by most recent first)
B) Next, show all other users in the team (s

[2022-09-30 15:18] sinansonmez commented on #21172
Please assign this to me.

[2022-09-30 15:18] sinansonmez commented on #21173
Please assign this to me.

[2022-09-30 16:42] sksDonni commented on #21152
would like to take this up!

[2022-09-30 17:12] simcard0000 commented on #18184
Hello! Just jumping on this ticket so that I can produce a video about E2E testing for Hacktoberfest 2022.

[2022-09-30 17:25] M-ZubairAhmed commented on #21135
this is being done at https://github.com/mattermost/mattermost-webapp/pull/11195

[2022-09-30 17:27] M-ZubairAhmed commented on #21137
this is being done at https://github.com/mattermost/mattermost-webapp/pull/11195

[2022-09-30 17:28] M-ZubairAhmed commented on #21134
this is being done at https://github.com/mattermost/mattermost-webapp/pull/11195

[2022-09-30 17:37] #21039 closed

[2022-09-30 17:39] #20589 closed

[2022-09-30 17:41] #17614 closed

[2022-09-30 18:07] #18429 closed

[2022-09-30 18:07] #21084 closed

[2022-09-30 20:15] #19802 closed

[2022-09-30 20:22] #21051 closed

[2022-09-30 21:42] pikami commented on #16724
I'm grabbing this one

[2022-10-01 04:19] rdanielwetan commented on #15942
can this issue be assigned to me please? thanks

[2022-10-01 04:31] rdanielwetan commented on #15943
I would like to work on this please.

[2022-10-01 04:40] ksankeerth commented on #21174
I'll take this issue

[2022-10-01 07:39] sk409 commented on #17785
I would like to work on this issue.

[2022-10-01 11:44] Azanul commented on #20828
@agnivade, I've done the task and raised the PR, do check it out and let me know how I may improve.

[2022-10-01 12:41] sudiptog81 commented on #19886
working on this!

[2022-10-01 14:27] #21157 closed

[2022-10-01 16:51] AshishDhama commented on #21152
@sksDonni please go ahead

[2022-10-01 16:52] AshishDhama commented on #21174
@ksankeerth all yours

[2022-10-02 15:07] jatinmark commented on #16883
I would like to work on this. Can you please assign this to me?

[2022-10-02 15:14] jatinmark commented on #18621
I would like to work on this. Can you please assign this to me?

[2022-10-02 19:10] cinlloc commented on #12316
Hi, I would like to work on this :hand:

[2022-10-02 19:37] mayo7e commented on #21174
i would llke to work on this , i have a bit of trouble understanding however,

[2022-10-02 21:27] sinansonmez commented on #16150
@amyblais this PR should be closed

[2022-10-03 04:53] gregoryR commented on #21146
Upgrade done today, went smoothly

Thanks for all the help

[code]

[2022-10-03 04:53] #21146 closed

[2022-10-03 09:31] andrewwutw opened #21178 "mattermost-webapp build error, maybe related to React version 16 -> 17."
#### Summary

mattermost-webapp build failure on commit 8ca0eeefc . But build successfully on previous commit 83627c386 .

#### Steps to reproduce

Ubuntu 20.04.5 LTS (Focal Fossa)
node : v16.17.1
npm : 8.15.0

Run :

[code]

Failed. output is :

[code]

But if we checkout to the parent commit (83627c386) .

[code]

It build successfully.

Show what did 8ca0eeefc do :

[code]

Output is :

[code]

[2022-10-03 10:20] M-ZubairAhmed commented on #16150
@sinansonmez pr from your side is still open https://github.com/mattermost/mattermost-webapp/pull/11150

[2022-10-03 10:22] sinansonmez commented on #16150
@M-ZubairAhmed Ohh sorry, I am confused with other PRs

[2022-10-03 10:38] #21052 closed

[2022-10-03 13:01] sk409 commented on #10627
I would like to work on this issue.

[2022-10-03 13:55] amyblais commented on #21178
cc @hmhealey @nevyangelova

[2022-10-03 14:00] sk409 commented on #10627
Autocomplete lists seem to be rendered below by default now.
Is this issue already fixed?
![スクリーンショット 2022-10-03 22 59 23](https://user-images.githubusercontent.com/25968819/193596511-87cd9138-777c-41df-9bbf-d7fb037e084b.png)

[2022-10-03 15:17] AnirudhDaya opened #21179 "Developer environment (Online IDE)"
### 🔖 Feature description

Hello maintainers.
I would like to add gitpod to your repo to help beginners contribute.

- Gitpod is an online IDE which can be launched from any GitHub page. Within seconds, Gitpod provides a fully working development environment, including a VS Code-powered IDE and a cloud-based Linux container explicitly configured for the project
- It's hassle-free. You don't need t

[2022-10-03 15:18] AnirudhDaya commented on #21179
If this issue is a valid one, please assign this issue to me.

[2022-10-03 15:33] nevyangelova commented on #21178
@amyblais @andrewwutw there is a revert PR here https://github.com/mattermost/mattermost-webapp/pull/11232

[2022-10-03 15:40] hmhealey commented on #21178
I just merged the revert PR. There's a chance this won't help the issue though since I believe it's also related to NPM 8. We currently focus on supporting NPM 7.24. If you're using `nvm`, you can switch to our supported version by running `nvm use` in the web app repo

[2022-10-03 16:47] sinansonmez commented on #21179
Gitpod config is already included in mattermost server and webapp. There is repo called mattermost-gitpod-config. Therefore you can start using Gitpod for Mattermost development.

Is there anything else you would like to add on top of mattermost-gitpod-config?

cc: @mickmister

[2022-10-03 17:30] mickmister commented on #21179
cc @cwarnermm @azigler @BenLloydPearson @jordanafung on advertising Gitpod in our projects. I'm wondering what the risk is of adding links to use Gitpod in our docs/READMEs, without having the tutorial we discussed previously for using it with our projects. I'm thinking the benefit of having the option advertised beats the cons of not having a full-fledged tutorial available.

[2022-10-03 19:00] mattermod opened #21181 "Allow admin to set default pre-built and custom theme as part of the core product"
Move the "Default theme" setting from System console > Experimental > Features to the bottom of the System Console > Site Configuration > Customization section,

**Default Theme**  \< Mattermost  v]
Help text: Set a default theme that applies to all new users on the system.

Options: "Mattermost" (default option) "Organization" "Mattermost Dark" "Windows Dark" "Custom"

When "Custom" is selected,

[2022-10-03 19:04] aloks98 commented on #20820
Hi, can I take this?

[2022-10-03 19:11] aloks98 commented on #21181
Hi, can I take this?

[2022-10-03 19:20] jatinmark commented on #18621
provide me the site/app form link where i see the issue in real time.

[2022-10-03 19:23] jatinmark commented on #18621
provide me the site/app form link where i see the issue in real time and the fix it accurately

[2022-10-03 19:25] lieut-data commented on #20820
Thanks, @aloks98!

[2022-10-03 20:00] mattermod opened #21182 "Scroll within long dialog"
Instead of scrolling the whole page to view a long Playbook membership dialog, let’s correct the styling to just scroll the inner contents instead.

![](image-20221003-195652.png|width=792,height=800)

To access this dialog, switch to the Playbooks product, open a playbook, and select “Manage access”:

![](image-20221003-195812.png|width=407,height=427)

----
If you're interested please comment he

[2022-10-03 20:15] mattermod opened #21184 "Make convert to private playbook more prominent"
Currently, making a playbook private is only discoverable from within the manage members modal:

![image](https://user-images.githubusercontent.com/1023171/193709683-01b71527-e9ad-4754-ac9a-6b99337aff09.png)

For public playbooks, add a “Convert to Private Playbook” option in the dropdown menu to trigger this functionality directly, just like we do for a channel:

![image](https://user-images.gith

[2022-10-03 20:15] mattermod opened #21185 "Support status updates without a reminder"
Allow a playbook to be configured with no default reminder for status updates, adding a “Never” option:

![image](https://user-images.githubusercontent.com/1023171/193709774-35cbd578-f7f2-43ce-8cf2-20f513ffbf6b.png)

with the textual description changing to:

Clicking “never” opens the same dropdown, allowing this to be reconfigured.

When running a playbook, support this same “Never” option in th

[2022-10-03 20:30] mattermod opened #21186 "Add "Threads" to the unread filter view even if there aren't unread threads"
With Collapsed Reply Threads enabled:

Repro: When the unread filter is enabled, we should show “Threads” pinned at the top of the sidebar (same as when the unread filter is off), even if there’s no unread threads.

![image](https://user-images.githubusercontent.com/1515906/193836826-a6de8f2a-df6a-4330-a086-6faf0425d62b.png)

Note this only applies when the “group unreads separately” setting is no

[2022-10-03 20:30] mattermod opened #21187 "RNv2: Allow channel link ~autocomplete to show results across teams"
This is the mobile ticket for [https://mattermost.atlassian.net/browse/MM-6482](https://mattermost.atlassian.net/browse/MM-6482|smart-link)

It should be implemented on the Mobile v2 branch: [https://github.com/mattermost/mattermost-mobile/tree/gekidou](https://github.com/mattermost/mattermost-mobile/tree/gekidou|smart-link)

*__________________*

#### UI/UX

**Problem:** We currently don’t suppor

[2022-10-03 20:38] #16515 closed

[2022-10-03 20:39] esethna commented on #16515
Closing to refresh this issue

[2022-10-03 20:45] mattermod opened #21188 "Webapp: Update UI for Profile Settings"
### User Story

As a user, I want profile settings to be consistent with other settings so that my experience is more cohesive and I can update my settings more easily.

### Problem to Solve

With the changes done for the [Main Settings modal](https://mattermost.atlassian.net/browse/MM-12122) for the Channels product, the profile settings modal needs to be updated for a more cohesive, consistent e

[2022-10-03 20:45] mattermod opened #21189 "Improve file name search to match partial words"
File search should be more forgiving with what is matched. ie if a file name was `strawberryimage.jpeg` but I search for `strawberry`, I would expect to get the result. Right now that result wouldn't be returned

Expected: When searching for files, always execute a wildcard search on the backend, even if the user does not enter a `*` in the search term

----
If you're interested please comment her

[2022-10-03 20:45] mattermod opened #21190 "Webapp/Desktop: Update loading indicator spinners"
The Initial Desktop loading animation was done as part of the MM-22810, but the small spinners were not completed. This ticket is to queue up that work.

**Figma**

[https://www.figma.com/file/uSyFbf9UrSEfWWW3dLbajL/?node-id=0%3A1](https://www.figma.com/file/uSyFbf9UrSEfWWW3dLbajL/?node-id=0%3A1)

Update it to a spinning circle similar to material design:

![](animation*200*kgiaygah.gif|width=8.33

[2022-10-03 20:45] mattermod opened #21191 "Allow users to specify different desktop notification sounds per channel"
When a user selects "Notification Preferences > Send Desktop Notifications", for a specific channel, we should add an option to this menu for "Notification Sound"

**Mock-up:**

![image](https://user-images.githubusercontent.com/1515906/193834963-18ed206e-853d-4216-bce8-e84be104c456.png)

**Functionality:**

  * The channel notification preference should initially follow the global account setting

[2022-10-03 20:45] mattermod opened #21192 "Profile Popover: General UI improvements"
#### UI improvements:

  * better typographic hierarchy and emphasis
  * rounded corners
  * reduce noise and clutter
  * remove extraneous lines
  * add status icon

#### Proposed Solution:

**Other user's profile popover**

![image](https://user-images.githubusercontent.com/1515906/193834131-8d138a29-0a24-4d81-9b84-433aa4dd82b6.png)

**Current user’s profile popover**

![image](https://user-imag

[2022-10-03 20:45] mattermod opened #21193 "Ability to edit file attachments from the UI on existing posts"
## The Problem

As a user I want to edit an attachment from a message I previously sent so that I can correct a mistakenly uploaded attachment.

Right now, users cannot edit or remove an attachment once a post has been sent. Only the message content of the post can be edited. However, users expect to be able to edit any part of their message **including** attachments.

## Proposed Solution

With t

[2022-10-03 20:50] esethna commented on #19555
@codedsun I'm reopening this for hacktoberfest but feel free to reclaim it if you want to finish this!

[2022-10-03 20:53] sinansonmez commented on #21188
@amyblais please assign this to me

[2022-10-03 20:57] adithyaakrishna commented on #16723
@M-ZubairAhmed Can I take this one?

[2022-10-03 21:00] mattermod opened #21194 "Allow words that trigger mentions to be configured per channel"
User story: [https://community.mattermost.com/core/pl/m5xdotnuntfyb8ibh9mpss9bww](https://community.mattermost.com/core/pl/m5xdotnuntfyb8ibh9mpss9bww)

This ticket is to allow “Words that trigger mentions” to be configured on a per channel basis, mock-up design:

![](image-20221003-205200.png|width=1267,height=781)

![](image-20221003-205217.png|width=901,height=582)

Notice the “reset to default”

[2022-10-03 21:07] Pooja444 commented on #21185
I would like to pick up this issue, can someone please assign it to me? I have joined the Developer's community channel and have read the Developer's guide

[2022-10-03 21:35] esethna commented on #21188
@sinansonmez you may want to reach out to @AshishDhama as he's been doing similar work on the settings modal and you guys might be able to share some work.

[2022-10-03 21:51] sinansonmez commented on #21188
Thanks @esethna I was also thinking to make the code efficient and reusable as there are some similarities (e.g. button styles, text styles etc.).

Hey @AshishDhama lets are you doing some kind to create generic and reusable classes for new UI style? If that is the case, please let me know. If not, lets discuss how we can do it in the best possible way.

[2022-10-03 23:05] azigler commented on #21179
@mickmister @cwarnermm @BenLloydPearson @jordanafung I'm all for the idea. That said, @simcard0000 is very close to having a GitPod setup video ready for us that we can link alongside these things.

How would you want to add the links to the repo? Providing some context would be handy, but I don't want it to be an unwieldy paragraph.

[2022-10-04 00:45] mattermod opened #21196 "Write E2Es for Muted channel mentions should not be counted on the Team icon badge"
Write Cypress test for [MM-T5188](https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T5188) - Muted channel mentions should not be counted on the Team icon badge

If you need any guidance or need more information please post a message in [quality-assurance ](https://community.mattermost.c

[2022-10-04 01:09] codewithshariq commented on #21186
I would like to work on this.

[2022-10-04 01:55] Clash-ion commented on #20584
Hey, I am willing to take this just tell me what will be a good place to document this part...

[2022-10-04 01:57] Clash-ion commented on #20636
Hey, I am willing to take this issue, can you point me to the file where I can document these changes?

[2022-10-04 02:45] ngl4 commented on #21192
Hi @mattermod, there are no screenshots or images provided for both the **Solutions** and **Anatomy** sections. No file or prototype is found in the **Figma design work** section. It would be great to have some mocked images or designs to have a better understanding of the ticket request.

Thank you!

[2022-10-04 03:07] VoidCupboard commented on #21190
Hi!
Can I work on this issue?

[2022-10-04 03:12] VoidCupboard commented on #21182
Hi! Can I work on this issue?

[2022-10-04 03:41] agnivade commented on #20636
@cwarnermm - could you help point to the right place here?

[2022-10-04 04:02] AshishDhama commented on #21188
@sinansonmez Thanks but I think I will have to take this as profile settings and channels settings(the one I am working on) are the same component, so it’s kind of more effort to retain old code for profile settings than moving it to new UI along with channels settings. cc// @esethna

[2022-10-04 04:23] kyeongsoosoo commented on #21189
I'd like to work on this issue.

[2022-10-04 05:01] esethna commented on #21190
@VoidCupboard the figma link should be working now! Check out the JIRA ticket for the images and attachments: https://mattermost.atlassian.net/browse/MM-32256

[2022-10-04 05:02] nictitate commented on #21193
@mattermod Like to work on this.

[2022-10-04 05:04] KMuthusamyms commented on #21193
@mattermod @esethna Like to work on this.

[2022-10-04 05:20] VoidCupboard commented on #21190
Thanks for the updated figma link @esethna !

[2022-10-04 06:23] kat-kan commented on #21196
Hi, I'd like to try working on this issue :)

[2022-10-04 07:52] codewithshariq commented on #21194
I would like to work on this issue, but the user story is not provided. Can someone attach the correct link for the user story?

[2022-10-04 08:56] #21165 closed

[2022-10-04 09:08] #21068 closed

[2022-10-04 09:52] #20828 closed

[2022-10-04 10:12] SanjayStuff commented on #20470
I would like to try on this.

[2022-10-04 10:21] SanjayStuff commented on #20229
I would like to try on this issue

[2022-10-04 12:18] mkraft opened #21197 "mmctl: add role flag to users list"
https://github.com/mattermost/mmctl/issues/558

[2022-10-04 12:42] jgilliam17 commented on #21196
Thanks @kat-kan - I'll assign to you

[2022-10-04 12:54] amyblais commented on #20584
@agnivade Do you have an idea?

[2022-10-04 13:15] cwarnermm commented on #20636
Hello, @kullrich, and thank you for helping update the Mattermost product documentation!

The [Prepare to upgrade Mattermost](https://docs.mattermost.com/upgrade/prepare-to-upgrade-mattermost.html) page feels like a natural fit for the information you're looking to add. I'm happy to help with any questions you have about working in ReStructured Text (RST) format.

[2022-10-04 13:33] Willyfrog commented on #21194
The user story is in a private channel, so it is hard to share. But it links to a user basically asking for the feature, so there is not a lot of info.

I've updated the images, as they failed to upload and are much more needed for the task.

[2022-10-04 13:33] Willyfrog commented on #21194
@codewithshariq let me know if you have any more questions or if you would like me to assign the issue to you

[2022-10-04 13:40] Willyfrog commented on #21192
@ngl4 thanks for the feedback, seems our export script is having some troubles. I've updated the missing images, although if you find anything else missing, please look into the linked Jira ticket as it should contain the original version of the ticket.

[2022-10-04 13:43] Willyfrog commented on #21190
added the image into the issue, let us know if there is any other thing missing or if you have any questions!

[2022-10-04 13:48] Willyfrog commented on #21187
Please, if you plan to work on this, make sure you work from the `gekidou` branch, as this is expected on mobile v2 only.

[2022-10-04 13:50] devinbinnie commented on #18745
@amyblais @26tanishabanik This is a bit of an older ticket (despite the posting date of last year) that we've had kicking around. Since then, a few things have changed and I think this ticket will be more complicated. To try and summarize, we will be making major changes to the architecture of the application that will affect how we get the information needed for the title bar. So I'm thinking rig

[2022-10-04 13:50] #18745 closed

[2022-10-04 13:54] VoidCupboard commented on #21190
Thanks a bunch, @Willyfrog :D. I don't think there is anything else that is missing

[2022-10-04 13:58] sinansonmez commented on #21188
@AshishDhama If they are both part of same component, it makes sense to handle in a one shot by the same person

[2022-10-04 14:11] agnivade commented on #20584
You need to send a PR to this repo. Please check the API endpoint in the yaml file and update the description.

[2022-10-04 14:30] mattermod opened #21199 "replace old icons with compass-icons at playbook usage page"
Replace old local SVG icons used in the “Playbook usage” page with compass-icons alternatives.

The affected file is [stats*view.tsx](https://github.com/mattermost/mattermost-plugin-playbooks/blob/a26d119f8912767164b7fe64853536b79ea11b6f/webapp/src/components/backstage/stats*view.tsx)

Here you can see an [example](https://github.com/mattermost/mattermost-plugin-playbooks/blob/663313ab6337b1e4bb0d

[2022-10-04 14:30] mattermod opened #21200 "mmctl: add ability to delete import files"
It would be a nice utility to have the option of deleting import files from the server. We already have a such functionality for export files. But there is no option for the import files. To be able to delete import files from the server; A new endpoint should be added to REST API. Then, it a new method should be added to the `model.Client4` and finally a new command should be added to the `mmctl`

[2022-10-04 15:00] mattermod opened #21201 "Webapp: Embedded Youtube preview images need cursor change"
For youtube links that render an inline embedded preview, the image does not look clickable to play it because the cursor does not change to the pointer - it remains the standard arrow.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions

[2022-10-04 15:15] mattermod opened #21202 "Tighten up spaces between categories in the LHS"
* Reduce the space between categories in the LHS
  * In addition, the space below the `Direct Messages` category is smaller than the rest. Need to ensure space is consistent
  * The spacing below the Insights/Threads group of items should be the same visual spacing as the category spacing as well.

### Figma design

[https://www.figma.com/file/JUQkQfpcK5xgNkffD2uApW/MM-46944-Tighter-Category-Spaci

[2022-10-04 15:15] mattermod opened #21203 "PDF preview doesn't render some Japanese characters"
The PDF preview sometimes ignores Japanese text (seems like a font issue). To reproduce this, add the attached file to a post and open the PDF preview. Some of the text on the first page will be missing.

![](image.png|width=1465,height=811)

![](image-20220912-075639.png|width=973,height=643)

----
If you're interested please comment here and come [join our "Contributors" community channel](https

[2022-10-04 15:16] AbhinavVihan commented on #21201
i'll take this.

[2022-10-04 15:24] mkraft commented on #21124
We're going to be having a discussion about whether membership in channels will be a requirement to read and post in private channels. I'll circle back with our decisions.

[2022-10-04 16:27] esethna commented on #21192
@matthewbirtch can you help open permissions on figma?

[2022-10-04 16:29] matthewbirtch commented on #21192
@esethna done!

[2022-10-04 17:00] mattermod opened #21204 "Channels LHS: The icon sizes for Insights and Threads LHS items are too small"
The icon sizes used for the ‘Insights’ and ‘Threads’ LHS items are not consistent with the icon sizes used for all other Channels. We should update these to be consistent.

It seems the threads and insights LHS items are using SVGs instead of **compass icons.** This should also be updated to match what is being used in channel LHS items

Threads icon: `icon-message-text-outline`.

Insights icon: `

[2022-10-04 17:13] inomag commented on #21204
Hi @mattermod, Can I work on this issue?

[2022-10-04 18:08] esethna commented on #21188
Okay thanks all, I will close this ticket in that case. cc// @AshishDhama @sinansonmez

[2022-10-04 18:08] #21188 closed

[2022-10-04 18:12] div-devs commented on #21202
can you assign this to me please. Also, are the changes needed only in figma or we need to implement the proposed changes?

[2022-10-04 18:15] div-devs commented on #21204
can you assign this to me please.

[2022-10-04 18:28] esethna opened #21205 "Improve channel intro message and illustration"
## The Problem

When a channel is empty or has very few messages, we don’t have a very good empty state. We should look to improve visual impact and the usefulness of the channel’s empty state. This will help orient the user and make it more obvious that the channel is empty and it will hopefully encourage users to engage.

#### Current Empty State of a Channel

![image](https://user-images.github

[2022-10-04 18:28] esethna commented on #21205
Work started here for anyone how wants to take this on! https://github.com/mattermost/mattermost-webapp/pull/9892#issuecomment-1266023058

[2022-10-04 18:28] esethna commented on #19555
Closing as I refreshed this here: https://github.com/mattermost/mattermost-server/issues/21205

[2022-10-04 18:28] #19555 closed

[2022-10-04 18:32] amyblais commented on #21202
You can implement the proposed changes based on the ticket description and Figma designs.

[2022-10-04 18:43] esethna commented on #10627
Most likely already fixed, thanks though!

[2022-10-04 18:43] #10627 closed

[2022-10-04 19:10] esethna commented on #19357
Hey @vikasbhalla05, @azigler might be able to help here! ^

[2022-10-04 19:16] VishakhaPoonia commented on #21205
Will take this

[2022-10-04 19:57] H4xorPL commented on #19982
I'd like to help with that feature :)

[2022-10-04 22:37] azigler commented on #19357
Thanks @esethna!

@vikasbhalla05 Thanks for letting us know you're having some trouble. Can you let us know what operating system you're using? I also didn't have much experience with Docker either before I started trying it out with Mattermost, so I know it can be difficult to get started.

You can use [this link](https://docs.docker.com/get-docker/) to navigate to Docker Desktop's install page,

[2022-10-04 23:39] #13714 closed

[2022-10-05 05:32] scriptdealer commented on #21169
Deleting go.mod and initing again did not help, but when I deleted again and added /m/v2 to the plugin's module path, it miraculously starts compiling.  What da hell was that ?

[2022-10-05 05:32] #21169 closed

[2022-10-05 06:38] batebobo commented on #20825
Hi! I'm wondering whether users should have the option to opt-out of weekly digests, as they have this opportunity for the daily digest messages. What do you think?

[2022-10-05 08:48] fir1 commented on #21200
Hi,

I would like to work on this feature, would you be able to assign me please ?

[2022-10-05 10:06] lakshya8066 commented on #21200
Hi @mattermod, I would like to work on this issue. Could you assign me? :)

[2022-10-05 10:43] #21186 closed

[2022-10-05 11:26] BabbarRaghav commented on #21197
Hi, is this issue still open and without any assignees?

I would like to solve it

[2022-10-05 11:36] hasnain003 commented on #21197
I would like to take this issue

[2022-10-05 12:05] sinansonmez commented on #20065
hey @vovsemenv how is this going? If you are not working on this I can try my chance

[2022-10-05 12:08] sinansonmez commented on #19860
@amyblais I think this issue should be closed as Jira ticket is marked as resolved

[2022-10-05 12:09] #19860 closed

[2022-10-05 12:14] vovsemenv commented on #20065
@sinansonmez Totally forgot about this. We have mostly completed PR for this, i'l check it again today

[2022-10-05 12:16] sinansonmez commented on #20065
Thanks for the update. However in the linked PR, it seems like your fixing another issue and not this one

[2022-10-05 12:18] vovsemenv commented on #20065
@sinansonmez ughh, sorry 😬 You can take it if you want.

[2022-10-05 12:19] sinansonmez commented on #20065
@amyblais could you please assign this to me

[2022-10-05 12:38] andrewwutw commented on #21178
@nevyangelova Thanks, this PR works for me. 😄

[2022-10-05 12:41] andrewwutw commented on #21178
@hmhealey Ok, I tried to use ```nvm``` to switch to node.js ```v16.10.0``` and npm ```7.24.0```, then I can build commit ```8ca0eeefc ``` successfully (This commit updates to React 17).

So, what is the preferred version of Node.js and NPM for webapp?

The [Developer setup](https://developers.mattermost.com/contribute/more-info/webapp/developer-setup/) only says ```Then, use NVM to install the cor

[2022-10-05 12:45] mattermod opened #21208 "mmctl: Review assignUsersCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `assignUsersCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-05 12:45] mattermod opened #21209 "mmctl: Review integrityCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `integrityCmdF` function and tailor a way to return a non-zero return code if the function fails. To be

[2022-10-05 12:45] mattermod opened #21210 "mmctl: Review listCommandCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `listCommandCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-05 12:45] mattermod opened #21211 "mmctl: Review deleteChannelsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `deleteChannelsCmdF` function and tailor a way to return a non-zero return code if the function fails.

[2022-10-05 12:45] mattermod opened #21212 "mmctl: Review unarchiveChannelsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `unarchiveChannelsCmdF` function and tailor a way to return a non-zero return code if the function fail

[2022-10-05 12:45] mattermod opened #21213 "mmctl: Review archiveChannelsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `archiveChannelsCmdF` function and tailor a way to return a non-zero return code if the function fails.

[2022-10-05 12:45] mattermod opened #21214 "mmctl: Review moveChannelCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `moveChannelCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-05 12:45] mattermod opened #21215 "mmctl: Review listChannelsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `listChannelsCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-05 12:45] mattermod opened #21216 "mmctl: Review removeUserFromChannel function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `removeUserFromChannel` function and tailor a way to return a non-zero return code if the function fail

[2022-10-05 12:45] mattermod opened #21217 "mmctl: Review addUserToChannel function to return an error in case of a failure."
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `addUserToChannel` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-05 12:45] mattermod opened #21218 "mmctl: Review removeAllUsersFromChannel function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `removeAllUsersFromChannel` function and tailor a way to return a non-zero return code if the function

[2022-10-05 12:45] mattermod opened #21219 "mmctl: Review botDisableCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `botDisableCmdF` function and tailor a way to return a non-zero return code if the function fails. To b

[2022-10-05 12:45] mattermod opened #21220 "mmctl: Review botEnableCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `botEnableCmdF` function and tailor a way to return a non-zero return code if the function fails. To be

[2022-10-05 13:00] mattermod opened #21222 "mmctl: Review postListCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `postListCmdF` function and tailor a way to return a non-zero return code if the function fails. To be

[2022-10-05 13:00] mattermod opened #21223 "mmctl: Review pluginInstallURLCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `pluginInstallURLCmdF` function and tailor a way to return a non-zero return code if the function fails

[2022-10-05 13:00] mattermod opened #21224 "mmctl: Review pluginAddCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `pluginAddCmdF` function and tailor a way to return a non-zero return code if the function fails. To be

[2022-10-05 13:49] #21132 closed

[2022-10-05 14:15] ngl4 commented on #21192
Feel free to take it @sinansonmez and noticed it is already assigned to you! 👍

[2022-10-05 14:24] NexWeb commented on #21224
Could I handle all of the function error returns in the file: https://github.com/mattermost/mmctl/blob/master/commands/plugin.go ?

[2022-10-05 14:51] #21080 closed

[2022-10-05 15:55] arshad-k7 commented on #21218
Can i pick this?

[2022-10-05 17:21] #15468 closed

[2022-10-05 17:31] atlekbai commented on #21223
Hello, I have joined the community channel. I would like to be assigned on this issue

[2022-10-05 17:45] rafaelrubbioli commented on #21208
hey @mattermod ! Can i help with this one?

[2022-10-05 17:47] mustafaazad03 opened #21226 "Text Is Hidden Backside Of Video"
There Is Issue In Your Website
![image](https://user-images.githubusercontent.com/97380192/194127133-3f50bb0a-db12-4cd1-bbf6-d444cea30d30.png)

[2022-10-05 17:48] Mustafa-Azad025 commented on #21226
Will You Assign This Task To Me ??

[2022-10-05 17:49] Mustafa-Azad025 commented on #21226
Please Give A Path To That Particular Folder

[2022-10-05 18:59] RobBie1221 opened #21228 "Minipreview data is not generated and/or stored for images imported from Slack"
#### Summary
On a clean mattermost install, I imported data exported from Slack. What I experience is very slow loading of channels, especially channels with a lot of images. In a web browser, I can open these channels but it takes a long time (~30-60 seconds). On a mobile app, I'm not even able to open some channels. The CPU usage goes server side to abnormal high levels. The result is unusable f

[2022-10-05 19:01] #21067 closed

[2022-10-05 19:03] #21082 closed

[2022-10-05 19:04] #21162 closed

[2022-10-05 19:20] M-ZubairAhmed commented on #16707
@kkennedy-gh do you still plan on working on this. or should we open it back to community?

[2022-10-05 19:31] M-ZubairAhmed commented on #21100
@babinderrathi since this isssue is already taken can you please find another from the list :)

[2022-10-05 19:36] witjem commented on #21222
I would like to take this task on myself :)

[2022-10-05 19:58] #21018 closed

[2022-10-05 20:17] RobBie1221 commented on #21228
I think this may have broken it (specifically splitting the declaration and assignment of miniPreview):
https://github.com/mattermost/mattermost-server/pull/18445

`var miniPreview []byte`

Versions from before this pull request seem to work.

[2022-10-05 20:25] #20637 closed

[2022-10-05 20:38] amyblais commented on #21226
@Mustafa-Azad025 This will likely need to be fixed by our Marketing team.

1. Are you on webapp or mobile app?
2. What screen size are you on?
3. What OS and version are you on?

[2022-10-05 20:39] amyblais commented on #21228
Opened: https://mattermost.atlassian.net/browse/MM-47367.

[2022-10-05 22:40] aaron-seo commented on #21217
hi! i would like to work on this ticket :)

[2022-10-05 22:45] aaron-seo commented on #21217
hi! i would like to work on this ticket :)

[2022-10-05 23:19] #16724 closed

[2022-10-05 23:34] vikasbhalla05 commented on #19357
Hey, @esethna & @azigler Thank you for understanding 🙌
I am using Windows

Actually, I have tried out docker desktop before
but my processor is not able to handle the tasks, let me try installing it again & come back
with any issue I face

[2022-10-05 23:45] mattermod opened #21229 "Don't show/count mentions from muted channels on the browser and desktop tabs"
Environment: master

Steps:

  1. Mute a channel
  1. Receive a message with mention in the muted channel

Expected: Browser tab and desktop Channels tab should not count mentions from muted channels. Muted channel should still display at reduced opacity and show a mention badge on the channel sidebar.

Observed: Currently we count/show muted channel mentions on the browser tab and desktop Channel

[2022-10-05 23:56] #16150 closed

[2022-10-06 02:36] Mustafa-Azad025 commented on #21226
Large Screen Size 1440px width device on windows

[2022-10-06 02:37] Mustafa-Azad025 commented on #21226
But this is work of developer

[2022-10-06 05:59] JohnnyGagnier commented on #7921
Our yearly Game Off is a month-long game jam where participants use their preferred game engines, libraries, and programming languages to develop games. All levels of game developers are welcome to join[,](https://mybankinginformation.com/does-winco-accept-ebt/) from amateurs to professionals. It's a wonderful justification for picking up a new skill, working on a project over the weekend with fri

[2022-10-06 06:05] ariyonaty commented on #21220
Can I pick this up? Looking to gain some exposure to Go and this looks like a good starting point.

[2022-10-06 06:06] ariyonaty commented on #21219
Can I pick this up? Looking to gain some exposure to Go and this looks like a good starting point.
(Also would like to pick up `botEnableCmdF` function and work on the two simultaneously)

[2022-10-06 07:44] DVTrast opened #21232 "Spelling error in Mattermost E-Mail caused by absence"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-10-06 08:56] jprusch commented on #21232
Fixed the German translation.

[2022-10-06 09:45] mattermod opened #21234 "[RN v2] Draft is lost when following a notification"
* Open a channel (or thread)
  * Start typing (never lose the focus, since the draft is saved when the focus is lost)
  * Receive a notification (send a DM from a different account)
  * Click on the notification that is seen on the top of the screen. This will navigate to the channel where this notification was created
  * Go back to the original channel.
  * There is no draft

Drafts are stored w

[2022-10-06 09:45] mattermod opened #21235 "RNv2: Prioritize @ autocomplete results based on recency and thread activity"
**Please note that this work is expected on the gekidou branch for mobile app**

Repro: Type @ in the message input area

Observed: server returns all users ordered alphabetically below the "Channel Members" heading

Expected: Remove the section headings for “Not in channel” and “Channel members”, and replace with a single heading called “Users”. Cap the maximum number of users shown to 20, and th

[2022-10-06 09:45] mattermod opened #21236 "RNv2: Screen to handle CRT toggle (including failure cases)"
**Please note that this work is expected on the gekidou branch for mobile app**

Need to provide a screen for when users have toggled CRT On or Off from the webapp. This will need to be a new home screen - [similar to the team selection view](https://www.figma.com/file/VliPnOPtbHidsMUlqmSOkE/MM-39936-Team-Selection-Screen?node-id=0%3A1) (when no teams are available).

  * Provide a spinner to indi

[2022-10-06 09:45] mattermod opened #21237 "RNv2: Make channel names tappable to the channel"
**Please note that this work is expected on the gekidou branch for mobile app**

Make channel names clickable in the following locations:

  * Recent mentions
  * Threads
  * Search
  * Saved

To consider:

  * Ensure tap height of channel names is at least 40
  * How is the user’s flow affected when jump to a channel from these locations
  * Can they easily get back to the screen they were on?

-

[2022-10-06 09:45] mattermod opened #21238 "RNv2 CRT: Switching teams should maintain threads view"
**Please note that this work is expected on the gekidou branch for mobile app**

Only applicable to tablet (since the sidebar is on a separate screen that the channel for mobile):

1. If the user is on the threads view when switching teams, they should stay on the threads view in the new team
2. When switching to different team, open the threads view if that was the last viewed “channel” on that t

[2022-10-06 09:45] mattermod opened #21239 "Save thread participants in order"
Currently, we are saving thread participants only if they are not already inserted. We have to replace all the thread records as the order of participants is based on their `last*replied*at`.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss que

[2022-10-06 09:45] mattermod opened #21240 "RNv2: "More Unreads" button in sidebar - top/bottom depending on scroll position"
----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/d

[2022-10-06 09:45] mattermod opened #21241 "CRT - Toast - Follow/Unfollow thread - Undo functionality"
**Please note that this work is expected on the gekidou branch for mobile app**

With the inclusion of Toasts, we will be showing it whenever the user follow/unfollows a thread.  On top of that, the user will be able to undo that action ( from within the snackbar).

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/c

[2022-10-06 10:00] mattermod opened #21244 "RN: Support markdown checklists"
Checklists currently don’t render on the mobile app and need to be added to the mobile markdown parser.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or ques

[2022-10-06 10:00] mattermod opened #21245 "CRT RN: Swipe in the “Threads” view to unfollow or mark read/unread"
## Problem to Solve

We have added a long-press menu to thread list items (soon to be in the product). With these types of lists, there is a user expectation to use gestures to perform quick, common actions on items. [Users have requested this feature](https://community-daily.mattermost.com/core/pl/61d77ppqp7r3prgrqpd6araash) as well, so this validates the assumed expectation.

Access to marking t

[2022-10-06 10:11] Willyfrog opened #21246 "Mobile v2 Help Wanted issues"
We are currently developing the new version of mobile in which we make a few architectural changes

In order to work on any of these issues, please make sure you checkout the `gekidou` branch and that you base your PR against it. Gekidou is the code name for our v2 mobile app.

If you want to have a glimpse on how is the new architecture, take a look at [this slides](https://docs.google.com/presen

[2022-10-06 10:14] Willyfrog commented on #21246
unable to pin more than 3, so I'll recreate this one [on the mobile repo](https://github.com/mattermost/mattermost-mobile/issues/6665)

[2022-10-06 10:14] #21246 closed

[2022-10-06 10:45] mattermod opened #21247 "Avoid passing global state into browser_store.jsx in webapp"
This ticket is  regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps

[2022-10-06 10:45] mattermod opened #21248 "Avoid passing global state into logged_in.jsx in webbapp"
This ticket is  regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps

[2022-10-06 10:45] mattermod opened #21249 "Avoid passing global state into websocket_actions.jsx in webapp"
This ticket is  regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps

[2022-10-06 10:45] mattermod opened #21250 "Avoid passing global state into user_actions.jsx in Webapp"
This ticket is  regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps

[2022-10-06 13:02] nokhaiz-iz opened #21252 "Plugin Button on Channel Header"
I have added an App built in Node Server and it is added successfully. Now its button is not showing on app's channel header.

[2022-10-06 13:23] amyblais commented on #21226
@Mustafa-Azad025 The https://mattermost.com/ website is currently hosted in WordPress and is not open source as far as I know. I'll forward this bug to our Marketing team to fix this. Thank you for reporting this!

[2022-10-06 13:27] #21232 closed

[2022-10-06 13:28] DVTrast commented on #21232
@jprusch Thank you :-)

[2022-10-06 13:41] amyblais commented on #21252
Hi @nokhaiz-iz,
1. What Mattermost server version are you on?
2. What OS and version are you on?
3. Do you see any errors in Mattermost logs?
4. Can you help add more specific reproduction steps?

[2022-10-06 14:13] hanzei commented on #21252
@nokhaiz-iz Can you confirm your apps is installed? Does it show up in `/apps list`?

[2022-10-06 14:45] mattermod opened #21253 ""More" menu for Pinned Posts on the RHS is cut-off"
Reproduces on Community.

**Repro steps:**

  1. In a channel with pinned posts, open the Pinned Posts RHS.

2. Open “More” menu.

**Observed:**

Menu is cut-off.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members

[2022-10-06 15:45] mattermod opened #21255 "P1 // Reader is not focusing desktop app main menu button"
Environment:

Desktop app only: Menu bar accessibility
Steps:
1. Open the desktop app
2. Press (don't hold down) the ALT key

EXPECTED RESULT
Focus should move to the first item in desktop menu bar (File).

Observed: Vertical 3dot  icon flashes when selected (on first ALT click) but it does not open menu with first item focused

----
If you're interested please comment here and come [join our "Con

[2022-10-06 15:45] mattermod opened #21256 "P1 // Team name on channel sidebar header is not accessible"
Environment: desktop v5.0.4 esr server v6.3.9, win 10 using JAWS screen reader

Steps:
1. Navigate to Team name on channel sidebar header

Expected: User can navigate to team name and open team settings dropdown

Observed: Team name region (above channel sidebar) can't be reached using F6 or tabbing through sidebar options
+ is accessible, including unread filter and Find channels button

----
If

[2022-10-06 15:45] mattermod opened #21257 "P1 // Screen reader: Can't navigate to Global Header using F6"
NOTE: For this issue the contributor must have a Windows 10 machine and prepared to test with JAWS on our Desktop app.

Environment: desktop v5.0.4 esr server v6.3.9, win 10 using JAWS screen reader.

Steps:
1. Use F6 to navigate through app regions

Expected: User can navigate to Global Header region

Observed: Global Header region can't be reached using F6

----
If you're interested please comme

[2022-10-06 15:45] mattermod opened #21258 "P1 // Screen reader skips Team sidebar region"
Environment: desktop v5.0.4 esr server v6.3.9, win 10 using JAWS screen reader

Steps:
1. Use F6 to navigate through app regions

Expected: user can navigate to team region

Observed: Team region can't be reached using F6

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build ser

[2022-10-06 15:45] mattermod opened #21259 "P1 // Screen reader is not announcing search results on "Invite members to channel" modal"
Environment: desktop v5.0.4 esr server v6.3.9, win 10 using JAWS screen reader

Steps:
1. Start JAWS reader
2. Switch off the "PC virtual cursor" within JAWS by pressing INSERT+Z
3. Open Invite members modal
4. Type a term you know will return some results
5. Use arrows to navigate through results

Expected: Results are read out

Observed: Reader announces "Option undefined focused" without readin

[2022-10-06 15:45] mattermod opened #21260 "P1 // Screen reader fails to announce no results found on DM modal"
Environment: desktop v5.0.4 esr server v6.3.9, win 10 using JAWS screen reader

Direct Messages modal screen reader
–––––––––––––––––––––––––
1. Open the Direct Messages modal (+ next to Direct Messages)
2. Press the down arrow.
3. Click on the text box and type in a random string (something like 'nonsense')

EXPECTED RESULT
After step 1, the reader should read the modal name and a prompt that mat

[2022-10-06 16:24] sinansonmez commented on #17276
@M-ZubairAhmed please assign this to me and I will close it

[2022-10-06 16:32] #20636 closed

[2022-10-06 17:03] amyblais opened #21261 "Fast-forward"

[2022-10-06 17:03] amyblais commented on #21261
/cloud-ff

[2022-10-06 17:03] mattermod commented on #21261
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-10-06-backup (SHA: `9da1f1c`)
    - mattermost-webapp:refs/heads/cloud-2022-10-06-backup (SHA: `be87560`)
    - enterprise:refs/heads/cloud-2022-10-06-backup (SHA: `024be34`)
    - mattermost-api-reference:refs/heads/cloud-2022-10-06-backup (SHA: `0b24132`)

### Fast-Forwarded branches
    - m

[2022-10-06 17:04] #21261 closed

[2022-10-06 17:15] mattermod opened #21263 "P2 // Home Landing Page // Interactive element must be keyboard operable with Tab Key."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** When the user navigates to the home landing page with Tab Key, the selected element "Core" is not keyboard-operable.

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device.
  1

[2022-10-06 17:30] mattermod opened #21264 "Queue sending message after file upload finishes"
### The Problem to Solve

Observed: When a user pastes an image and hits ENTER immediately, then ENTER is ignored because the file has to upload and process first.

User story: [https://community-daily.mattermost.com/core/pl/4xswkr8zbpdabesft54c3i7m5h](https://community-daily.mattermost.com/core/pl/4xswkr8zbpdabesft54c3i7m5h)

Below is an example of trying to hit enter before a file is uploaded: H

[2022-10-06 17:45] mattermod opened #21265 "Checkbox to show/hide skipped tasks"
Let’s introduce a `Show skipped tasks`, defaulting on, that allows the user to optionally hide those tasks when filtering the checklists. It should have the same persistence semantics as `Show checked tasks`, meaning no need to remember after a page reload. Show the new option just below the existing `Show checked tasks` option below.

![image](https://user-images.githubusercontent.com/1023171/194

[2022-10-06 18:30] mattermod opened #21266 "P2 // Status // Disable notifications pop up window is not accessible."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:* When the user navigates to the "Disable notifications until" pop-up window, the user cannot access the "*Calendar**" with the keyboard.

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed

[2022-10-06 19:06] hmhealey commented on #21178
The preferred version is whatever's in `.nvmrc` at the moment (so Node 16.10.0). Before we added that file, we used to list it in the dev docs as well, but we removed it afterwards since we didn't want to worry about it getting out of sync.

That'll be used whenever you run `nvm install` or `nvm use`, but it's possible that you need to re-run one of those every time a new terminal is opened if it

[2022-10-06 19:45] mattermod opened #21269 "RNv2: Scroll to bottom element"
**Please implement this on the `gekidou` branch in the mobile repo.**

### The problem:

  * There is no easy way to get to the bottom of the channel when you are scrolled up in the channel's history
  * Users are forced to scroll manually, which can be frustrating if you have scrolled up far
  * Users that have established mental models using other similar products are used to seeing a 'scroll to

[2022-10-06 20:00] cinlloc commented on #15842
Hi, I can give another try to this issue that seems simple, but still there! :hand:

[2022-10-06 20:10] cinlloc commented on #15842
OK, in fact I think you can close this issue, since it has been fixed with TypeScript migration of the component : https://github.com/mattermost/mattermost-webapp/pull/10822 ;-)

[2022-10-06 20:38] RobBie1221 commented on #21228
Ok, forget about my previous comment, it has nothing to do with that pull request.

The problem is in writing to the database. In `file.go`, function `Upsert is called`
https://github.com/mattermost/mattermost-server/blob/8edb8157f108b3c89b48e528e30f17780f00acb2/app/file.go#L1051

In upsert, the update query string doesn't include the mini preview:
https://github.com/mattermost/mattermost-server/b

[2022-10-06 21:27] leonardonatali commented on #21216
Hello! i would like to work on this

[2022-10-06 21:34] KuSh commented on #15842
Confirming. No more `this.refs` occurrences in code

[2022-10-06 21:40] KuSh commented on #8302
Is that still relevant ? Imgur seems to use mp4 nowadays

[2022-10-06 21:48] KuSh commented on #10786
Hello,

Is this issue still relevent?
It seems the option is not available if `configIsFalse('ServiceSettings', 'SiteURL')` or `it.configIsTrue('ClusterSettings', 'Enable')`

[2022-10-06 22:21] VictorAssunc commented on #21210
hi @mattermod! I would like to work with this! Can you assign it to me please?

[2022-10-06 22:54] #15842 closed

[2022-10-06 23:53] KuSh commented on #13786
Hi,

Is that still relevant ? I can't reproduce with current HEAD:

[code]

Did `nuke` and `test-data` before testing

[2022-10-07 00:50] KuSh commented on #15639
Hi, does this still relevant ? I see a merged PR and no updates since.
Is there anything missing for the issue to be fixed ?

[2022-10-07 02:23] VoidCupboard commented on #21190
I just wanted to confirm, I need to replace the loading icon (Shown in the image) with the new Figma link across all the pages where it is mentioned.
![mattermost](https://user-images.githubusercontent.com/82395440/194453213-f5fd7303-fd05-4d60-aa3a-963796e1d603.png)

[2022-10-07 02:32] s4kh commented on #21211
will work on this.

[2022-10-07 05:22] call-me-matt opened #21278 "Improve readability of email notifications on mobile phones with dark theme"
#### Summary

Email templates include html formatting and background colors that are not readable on my phone with dark theme.

#### Steps to reproduce

Open a notification about new posts on K9mail on your phone with dark theme active.

#### Expected behavior

E-Mail should be readable.

#### Observed behavior (that appears unintentional)

Text is not readable on my phone.

<img src="https://user

[2022-10-07 06:25] agnivade commented on #21228
Nice catch @RobBie1221 ! Would you be willing to send a PR for this?

[2022-10-07 06:26] RobBie1221 commented on #21228
Yes, I can do that

[2022-10-07 07:53] babinderrathi commented on #21256
I already raised PR for this issue .

[2022-10-07 07:56] babinderrathi commented on #21260
I already raised PR for this issue .

[2022-10-07 11:15] tanmaythole commented on #21269
Hi, I would to pick up this issue. can you assign me to this task?

[2022-10-07 12:21] akhil-ghatiki commented on #21265
I can take this up

[2022-10-07 12:23] andrewwutw commented on #21178
@hmhealey Ok, thank you for your reply. I close this issue. 😄

[2022-10-07 12:23] #21178 closed

[2022-10-07 12:47] #20584 closed

[2022-10-07 12:50] LukasFiniarel opened #21283 "PDF-Preview: Not all pages are rendered"
#### Summary
When opening a received PDF file in Preview, not all pages are rendered.
Pages at the end are not displayed.
If you download the file and then open it with another reader, the file is complete.

#### Steps to reproduce
 - Send or get sent PDF file.
 - Open file in preview

Server version: 7.3.0
Windows Desktop Client: 5.1.1
Error also occurs in the web app.
I cannot reproduce the erro

[2022-10-07 13:06] sk409 commented on #14029
I would like to work on this issue.

[2022-10-07 14:21] amyblais commented on #21278
Hi @call-me-matt,
1. What Mattermost server version are you on?
2. What OS and version are you on?

[2022-10-07 14:53] #21155 closed

[2022-10-07 15:10] #21058 closed

[2022-10-07 15:52] jatinmark commented on #18621
The second page link is not found

[2022-10-07 15:53] jatinmark commented on #18621
and i changed the resize property of the first link code

[2022-10-07 16:15] mattermod opened #21287 "Migrate /account_settings/profile/ e2e tests to TypeScript"
Converting following spec files under /integration/account_settings/profile/ to Typescript

  1. account*settings_position*spec.ts
  1. email_spec.ts
  1. fullname*edit*spec.ts
  1. ullname*truncate*spec.ts
  1. help*text_link*spec.ts
  1. nickname_spec.ts
  1. profile*picture_change*spec.ts
  1. username_spec.ts

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the f

[2022-10-07 16:30] mattermod opened #21289 "Migrate /account_settings/ e2e tests to TypeScript"
Converting following spec files under /integration/account_settings to Typescript

  1. account*settings*spec.js
  2. main*menu_stays_open*spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  2. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, an

[2022-10-07 16:30] mattermod opened #21290 "Migrate /account_settings/security/ e2e tests to TypeScript"
Converting following spec files under /integration/account_settings/security/ to Typescript

  1. access*history*spec.js
  1. active*sessions*spec.js
  1. password_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the mat

[2022-10-07 16:33] Prakhar9450 commented on #21290
Please assign me this issue

[2022-10-07 16:33] Prakhar9450 commented on #21289
Please assign me this issue

[2022-10-07 16:45] mattermod opened #21291 "Migrate /autocomplete/ support files to TypeScript"
Converting following spec files under /integration/autocomplete to Typescript

  1. helpers.js
  2. common_test.js

**Below is a checklist of items you should be doing to migrate:**

1. Rename the files to their associated TypeScript extensions (ie. js to ts)

2. Move over all the types from the declaration (d.ts) files into the matching typescript file, and delete the declaration file (see Suppor

[2022-10-07 16:45] mattermod opened #21292 "Migrate /auth_sso/ e2e tests to TypeScript"
Converting following spec files under /integration/auth_sso to Typescript

  1. authentication_1_spec.js
  2. authentication_3_spec.js
  3. authentication_not_cloud_spec.js
  4. authentication_2_spec.js
  5. authentication_4_spec.js
  6. hide_create_account_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (i

[2022-10-07 16:45] mattermod opened #21293 "Migrate /archived_channel/ e2e tests to TypeScript"
Converting following spec files under /integration/archived_channel to Typescript

  1. archive_channel_add_reaction_spec.js
  2. archive_channel_reaction_spec.js
  3. join_archived_channel_spec.js
  4. archive_channel_header_spec.js
  5. archive_channel_search_spec.js
  6. leave_archived_channel_spec.js
  7. archive_channel_member_spec.js
  8. archived_channel_spec.js
  9. post_menu_spec.js
  10.

[2022-10-07 16:51] sinansonmez commented on #21291
please assign this to me

[2022-10-07 16:54] sinansonmez commented on #21287
please assign this to me

[2022-10-07 16:55] cinlloc commented on #21293
I can do it :hand:

[2022-10-07 16:55] witjem commented on #21215
I can do it :)

[2022-10-07 17:00] mattermod opened #21296 "Migrate /collapsed_reply_threads e2e tests to TypeScript"
Converting following spec files under /integration/collapsed*reply*threads to Typescript

1. category_collapsing_spec.js
2. dm_gm_behaviour_spec.js
3. hotkeys_spec.js
4. category_muting_spec.js
5. dm_gm_filtering_sorting_spec.js
6. new_category_badge_spec.js
7. category_sorting_1_spec.js
8. dm_sidebar_not_remove_spec.js
9. new_channel_dropdown_spec.js
10. category_sorting_spec.js
11. drag_and_drop

[2022-10-07 17:00] mattermod opened #21297 "Migrate /channel_sidebar e2e tests to TypeScript"
Converting following spec files under /integration/channel_sidebar to Typescript

1. category_collapsing_spec.js
2. dm_gm_behaviour_spec.js
3. hotkeys_spec.js
4. category_muting_spec.js
5. dm_gm_filtering_sorting_spec.js
6. new_category_badge_spec.js
7. category_sorting_1_spec.js
8. dm_sidebar_not_remove_spec.js
9. new_channel_dropdown_spec.js
10. category_sorting_spec.js
11. drag_and_drop_spec.js

[2022-10-07 17:00] mattermod opened #21298 "Migrate /channel_settings e2e tests to TypeScript"
Converting following spec files under /integration/channel_settings to Typescript

  1. add_users_to_channel_spec.js
  1. channel_name_validations_spec.js
  1. channel_header_spec.js
  1. more_unreads_position_with_scroll_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  2. Move over all

[2022-10-07 17:00] mattermod opened #21299 "Migrate /channel e2e tests to TypeScript"
Converting following spec files under /integration/channel to Typescript

1.   archived_channels_1_spec.js
2.   archived_channels_2_spec.js
3.   channel_info_rhs_spec.js
4.   channel_members_rhs_spec.js
5.   channel_mention_autocomplete_spec.js
6.   channel_name_tooltips_spec.js
7.   channel_routing_spec.js
8.   channel_settings_spec.js
9.   channel_switcher_spec.js
10.  close_direct_group_spec.js

[2022-10-07 17:00] mattermod opened #21300 "Migrate /benchmark e2e tests to TypeScript"
Converting following spec files under /integration/benchmark to Typescript

  1. message_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  4. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declaration file (see Support Migrati

[2022-10-07 17:00] mattermod opened #21301 "CLONE - Migrate /autocomplete/database tests to TypeScript"
Converting following spec files under /integration/autocomplete/database to Typescript

  1. users*in_channel_switcher*spec.js
  1. users*in_message_input_box*spec.js
  1. users_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) file

[2022-10-07 17:01] sinansonmez commented on #21300
please assign this to me @amyblais

[2022-10-07 17:01] sinansonmez commented on #21298
please assign this to me @amyblais

[2022-10-07 17:02] esethna commented on #21283
@LukasFiniarel feel free to submit a PR for the fix if you have ideas!

[2022-10-07 17:13] AravindShounik commented on #21297
Please assign this to me @mattermod

[2022-10-07 17:15] mattermod opened #21302 "Migrate /ad_ldap/ e2e tests to TypeScript"
Converting following spec files under /integration/ad_ldap to Typescript

  1. saml_ldap_sync_id_attrib_spec.js
  2. saml_ldap_sync_remove_spec.js
  3. saml_ldap_sync_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  2. Move over all the types from the declaration (`d.ts`) files into the

[2022-10-07 17:30] mattermod opened #21303 "Migrate /bot_accounts e2e tests to TypeScript"
Converting following spec files under /integration/bot_accounts to Typescript

  1. bot_api_not_cloud_spec.js
  2. edit_bot_spec.js
  3. managing_bot_accounts_spec.js
  4. bot_api_spec.js
  5. edit_bot_username_spec.js
  6. post_message_spec.js
  7. bot_channel_intro_spec.js
  8. promote_demote_spec.js
  9. create_bot_spec.js
  10. in_lists_1_spec.js
  11. sidebar_display_spec.js
  12. crud_not_cl

[2022-10-07 17:37] esethna commented on #8302
@KuSh thanks this is no longer valid

[2022-10-07 17:37] #8302 closed

[2022-10-07 17:44] PiotrLewandowski323 commented on #21301
Hi, I'd like to work on this issue, can you assign it to me?

[2022-10-07 18:09] call-me-matt commented on #21278
Hi and thank you for your response.

I am running a mattermost server
[code]
on ubuntu linux.

If I see it correctly, [templates](https://github.com/mattermost/mattermost-server/blob/master/templates/messages_notification.html) still come with a background color and [dark text](https://github.com/mattermost/mattermost-server/blob/a28183b07871d00527475951b9b6368814436f78/templates/messages_notifica

[2022-10-07 18:55] #10786 closed

[2022-10-07 18:55] #15639 closed

[2022-10-07 18:56] esethna commented on #21190
Correct @VoidCupboard!

[2022-10-07 18:59] sk409 commented on #20020
I would like to work on this issue.

[2022-10-07 19:02] RobBie1221 commented on #21228
https://github.com/mattermost/mattermost-server/pull/21304

[2022-10-07 19:02] amyblais commented on #21278
Would you be open to testing this on our [community server here](https://community.mattermost.com/) just to double-check that the issue is still present on the latest Mattermost version?

[2022-10-07 19:15] mattermod opened #21305 "Migrate /commands e2e tests to TypeScript"
Converting following spec files under /integration/commands to Typescript

  1. leave_channel_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  2. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declaration file (see Support Mi

[2022-10-07 19:20] codewithshariq commented on #21299
I would like to work on this.

[2022-10-07 19:45] mattermod opened #21306 "Migrate /enterprise/extend_session/not_extended_when_disabled e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/extend*session/not_extended_when*disabled to Typescript

1. with_email_login_spec.js
2. with_ldap_login_spec.js
3. with_saml_login_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaratio

[2022-10-07 19:45] mattermod opened #21307 "Migrate /enterprise/extend_session e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/extend_session to Typescript

  1. email_login_activity_spec.js
  1. session_length_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript f

[2022-10-07 19:45] mattermod opened #21308 "Migrate /enterprise/elasticsearch_autocomplete tests to TypeScript"
Converting following spec files under /integration/enterprise/elasticsearch_autocomplete to Typescript

  1. channels_spec.js
  1. renaming_spec.js
  1. users*in_channel_switcher*spec.js
  1. channels*with_special_characters*spec.js
  1. renaming*team*spec.js
  1. users*in_message_input_box*spec.js
  1. system*console*spec.js
  1. users_spec.js

**Below is a checklist of items you should be doing

[2022-10-07 19:45] mattermod opened #21309 "Migrate /enterprise/channel e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/channel to Typescript

  1. channel_groups_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declaration file (see

[2022-10-07 19:45] mattermod opened #21310 "Migrate /enterprise/bot_accounts e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/bot_accounts to Typescript

  1. managing_bot_accounts_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declarati

[2022-10-07 19:45] mattermod opened #21311 "Migrate /enterprise/auth_sso e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/auth_sso to Typescript

  1. authentication_spec.js
  1. mfa*authentication_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and

[2022-10-07 19:45] mattermod opened #21312 "Migrate /enterprise/accessibility e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/accessibility to Typescript

1. accessibility_input_fields_spec.js
2. accessibility_modals_dialogs_1_spec.js
3. accessibility_modals_dialogs_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the

[2022-10-07 19:45] mattermod opened #21313 "Migrate /emoji e2e tests to TypeScript"
Converting following spec files under /integration/emoji to Typescript

1. custom_emoji_1_1_spec.js
2. custom_emoji_2_spec.js
3. ecently_used_emoji_1_spec.js
4. custom_emoji_1_spec.js
5. custom_emoji_3_spec.js
6. recently_used_emoji_2_spec.js
7. custom_emoji_2_1_spec.js
8. sorted_emojis_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their assoc

[2022-10-07 19:45] mattermod opened #21314 "Migrate /custom_status_expiry e2e tests to TypeScript"
Converting following spec files under /integration/custom*status*expiry to Typescript

1. custom_status_expiry_1_spec.js
2.  custom_status_expiry_2_spec.js
3. custom_status_expiry_3_spec.js
4. custom_status_expiry_4_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  2. Move over all the ty

[2022-10-07 19:45] mattermod opened #21315 "Migrate /custom_status e2e tests to TypeScript"
Converting following spec files under /integration/custom_status to Typescript

1. custom_status_1_spec.js
2. custom_status_3_spec.js
3. custom_status_5_spec.js
4. custom_status_2_spec.js
5. custom_status_4_spec.js
6. custom_status_6_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  2. Mo

[2022-10-07 19:58] alannatodd commented on #21305
Hi, I would like to do this

[2022-10-07 20:00] mattermod opened #21316 "Migrate /enterprise/saml e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/saml to Typescript

1. okta_login_spec.js
2. saml_automated_spec.js
3. saml_guest_member_spec.js
4. saml_metadata_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files

[2022-10-07 20:00] mattermod opened #21317 "Migrate /enterprise/permissions e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/permissions to Typescript

  1. team_permissions_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declaration fil

[2022-10-07 20:00] mattermod opened #21318 "Migrate /enterprise/oauth e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/oauth to Typescript

  1. oauth_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declaration file (see Support Mi

[2022-10-07 20:00] mattermod opened #21319 "Migrate /enterprise/ldap_group e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/ldap_group to Typescript

  1. channel*modes*spec.js
  1. groups*assign_roles*spec.js
  1. search*channels*spec.js
  1. group*mentions*spec.js
  1. invite*bot*spec.js
  1. team*and_channel_assign_roles*spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensi

[2022-10-07 20:00] mattermod opened #21320 "Migrate /enterprise/ldap e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/ldap to Typescript

1. ldap_group_sync_spec.js
2. ldap_guest_spec.js
3. ldap_login_spec.js
4. ldap_setting_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into th

[2022-10-07 20:00] mattermod opened #21321 "Migrate /enterprise/integrations e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/integrations to Typescript

  1. incoming_webhook_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching typescript file, and delete the declaration fi

[2022-10-07 20:00] mattermod opened #21322 "Migrate /enterprise/guest_accounts tests to TypeScript"
Converting following spec files under /integration/enterprise/guest_accounts to Typescript

  1. guest*add*spec.js
  1. guest*popover_ui*spec.js
  1. guest*experience_ui*spec.js
  1. guest*removal_ui*spec.js
  1. guest*feature*spec.js
  1. helpers.js
  1. guest*identification*spec.js
  1. member*invitation_ui*spec.js
  1. guest*identification_ui_not_cloud*spec.js
  1. system*console_guest_access_u

[2022-10-07 20:00] mattermod opened #21323 "Migrate /enterprise/group_mentions e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/group_mentions to Typescript

1. group_mentions_permissions_spec.js
2. group_mentions_system_messages_spec.js
3. group_mentions_posts_spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declara

[2022-10-07 20:09] kkennedy-gh commented on #16707
@M-ZubairAhmed Hi Zubair, after reviewing my current school schedule and knowing my current competency in TS, I do not think it is appropriate to try to continue solving this issue until my skills advance in TS, React and advanced JS. So to confirm, I will not be continuing to work on this issue, but I hope to contribute in the future.

[2022-10-07 20:47] ludovicobesana commented on #21264
I think there are some problem with the Figma file. I can't see anything inside it.

[2022-10-07 20:48] ludovicobesana commented on #21152
@sksDonni If you need some help, i'm here ;)

[2022-10-07 22:58] amyblais commented on #21264
cc @esethna

[2022-10-08 00:40] VoidCupboard commented on #21190
Thanks for the confirmation :)

[2022-10-08 02:08] s4kh commented on #21214
will do this. Similar to https://github.com/mattermost/mmctl/pull/566

[2022-10-08 02:50] SwapnilKumbhar commented on #21320
I can take this up. But just to confirm, these files are located in the `mattermost-webapp` repository, right?

https://github.com/mattermost/mattermost-webapp/tree/master/e2e/cypress/tests/integration/enterprise/ldap

[2022-10-08 04:53] esethna commented on #21264
Sorry, can you try again here: https://www.figma.com/file/38xVvr0g1FU9jbbSuBAsdX/MM-37606-Queue-Send-Message-While-Uploading?node-id=0%3A1

[2022-10-08 05:20] call-me-matt commented on #21278
sure!
<img src="https://user-images.githubusercontent.com/34400929/194690003-d0f47726-aa99-4cf2-8ad6-804baac386c5.png" width="300" />

[2022-10-08 05:22] arcbjorn commented on #21323
Hi!
I'd love to work on this issue! 🙂

[2022-10-08 05:25] arcbjorn commented on #21199
Hi!
I'd love to work on this issue! 🙂

[2022-10-08 05:27] arcbjorn commented on #21212
Hi! I'd like to work on it 🙂

[2022-10-08 06:27] aniketh-varma commented on #21321
Hi @mattermod, I would like to work on this issue.

[2022-10-08 06:50] sk409 commented on #20020
I can't see `Add Metric` button.
Can I use this feature in local environment?
![スクリーンショット 2022-10-08 15 49 07](https://user-images.githubusercontent.com/25968819/194694137-28c62861-44d0-4823-a344-92ddb403ada6.png)

[2022-10-08 07:03] AshishDhama commented on #21199
@arcbjorn Could you please find something else I am already midway

[2022-10-08 07:06] cyberbuff commented on #21318
Hey @mattermod.  I can take this up

[2022-10-08 07:16] michelengelen commented on #21323
Hi @arcbjorn I just assigned this to you. If you need any help feel free to ping me.

[2022-10-08 07:33] cyberbuff commented on #21317
Hello @mattermod.  I can take up this issue

[2022-10-08 08:26] Tert0 commented on #21311
I would like to do this

[2022-10-08 08:41] cyberbuff commented on #21319
Hello @mattermod . I can take this up

[2022-10-08 11:04] tanmaythole commented on #21269
Hello, I raised the PR against gekidou branch of mobile repo.
PR Link: https://github.com/mattermost/mattermost-mobile/pull/6672

[2022-10-08 11:43] ludovicobesana commented on #21264
Now it's showed correctly:
<img width="747" alt="Schermata 2022-10-08 alle 13 41 58" src="https://user-images.githubusercontent.com/35035423/194705694-203b7cc7-86ce-46c2-81a2-8a8ce94530de.png">

[2022-10-08 12:24] lakshya8066 commented on #21200
Hi, @isacikgoz is there documentation around testing/debugging the server?

[2022-10-08 13:59] furqanmlk commented on #21291
@sinansonmez
Thanks for picking up the tickets.
Just wondering there is no spec file in **/integration/autocomplete** ?

[2022-10-08 14:02] sinansonmez commented on #21291
Yeah. I also realized that. These are just helper files for tests under /autocomplete/database. For these tests there is a seperate ticket. @furqanmlk

[2022-10-08 14:17] furqanmlk commented on #21291
Oh ok, Thanks
Those tests might get failed let's wait for e2e results.

[2022-10-08 14:45] Yordaniss commented on #21310
Hello @mattermod I would like to work on this, can you please assign this to me?

[2022-10-08 16:15] peterklingelhofer opened #21326 "Priorities are sorted out of order"
#### Summary
Priorities are sorted out of order.

#### Steps to reproduce
Version 5.1.1 (20700)
Create a project board with various priorities, go to the Task Overview section on the left, and sort the Priorities category.

#### Expected behavior
`High`
`Medium`
`Low`

#### Observed behavior (that appears unintentional)
`High`
`Low`
`Medium`
<img width="132" alt="Screen Shot 2022-10-08 at 11 11 17

[2022-10-08 16:18] joremysh commented on #21292
I would like to work on this

[2022-10-08 16:19] joremysh commented on #21302
I would like to work on this.

[2022-10-08 22:05] M-ZubairAhmed commented on #16707
@kkennedy-gh thank you for informing. All the best with the school

[2022-10-09 00:22] pcjain-309 commented on #21214
Can I pick this up? Looking to gain some exposure to Go and this looks like a good starting point.

[2022-10-09 02:52] sk409 commented on #20020
I couldn't find any solution.
I unassigned me  so that others can take this issue.

[2022-10-09 03:15] sk409 commented on #21264
I would like to work on this issue.

[2022-10-09 03:56] AbhinavVihan commented on #21234
I would like to work on this.

[2022-10-09 04:02] AbhinavVihan commented on #21239
I would like to work on this.

[2022-10-09 04:12] AbhinavVihan commented on #21313
Hi!
I'd love to work on this issue! slightly_smiling_face

[2022-10-09 04:13] AbhinavVihan commented on #21313
Hi!
I'd love to work on this issue!

[2022-10-09 04:15] AbhinavVihan commented on #21303
Hi!
I'd love to work on this please

[2022-10-09 09:42] AshishDhama commented on #18621
@jatinmark have updated the second link

[2022-10-09 10:44] tanmaythole commented on #21237
I want to take this. Can you assign me this issue?

[2022-10-09 11:45] pikami commented on #21307
I'm grabbing this one.

[2022-10-09 14:50] davidtaing commented on #21322
Hey, how's it going? Can I please work on this issue?

Thank you!

[2022-10-09 17:38] satya-vinay commented on #21314
I would like to work on this.

[2022-10-10 01:57] KuSh commented on #10334
Hi, is that still relevant now that mattermost-redux is a package of mattermost-webapp ?

[2022-10-10 05:44] PiotrLewandowski323 commented on #21301
Hi @amyblais unfortunately I was unable to do this migration, so I unassigned myself, sorry for the inconvenience.

[2022-10-10 07:08] michelengelen commented on #21314
Hi @satya-vinay ... I just assigned this to you. If you have any questions feel free to ping me. Thanks for taking this up! 👍🏼

[2022-10-10 07:23] hanzei commented on #10334
Good catch @KuSh , this ticket can indeed be closed.

[2022-10-10 07:23] #10334 closed

[2022-10-10 08:37] lfvjimisola opened #21328 "Add schedule for later for when messages are sent"
Missing the Schedule for later for when messages are sent that Slack has. Find it very useful.

[2022-10-10 16:45] mattermod opened #21330 "Migrate /enterprise/system_console/about tests to TypeScript"
Converting following spec files under /integration/enterprise/elasticsearch_autocomplete/helpers to Typescript

  1. edition*and_license*spec.js.
  1. starter*edition*spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the

[2022-10-10 16:52] chiragbaid7 commented on #19363
hi, @agnivade is this issue still up for grabs. I am interested to work on this.

[2022-10-10 16:58] akhil-ghatiki commented on #21265
I need some help with the context. The fix should go in mattermost-webapp repo ?

[2022-10-10 17:00] mattermod opened #21331 "Migrate /enterprise/profile_popover e2e tests to TypeScript"
Converting following spec files under /integration/enterprise/profile_popover to Typescript

  1. profile*popover_spec_user_a_b*spec.js
  1. profile*popover*spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching t

[2022-10-10 17:15] mattermod opened #21332 "Migrate /enterprise/system_console/channel_moderation e2e tests to TypeScript"
Converting following spec files under /integration/auth_sso to Typescript

  1. channel*mentions*spec.js
  1. create*posts*spec.js
  1. higher*scoped_scheme*spec.js
  1. post*reactions*spec.js
  1. manage*members*spec.js
  1. system*config*spec.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the files to their associated TypeScript extensions (ie. `js` to `ts`)

[2022-10-10 18:44] prateek-1606 commented on #21331
Hey @mattermod , I will like to work on this issue. can you assign in to me ?.

[2022-10-10 18:55] adithyaakrishna commented on #21330
Can I take this up?

[2022-10-10 18:56] adithyaakrishna commented on #21332
Can I take this up?

[2022-10-10 20:36] TomerPacific commented on #21316
Hey @mattermod , I'd like to help out with this.

[2022-10-10 21:01] KuSh commented on #4300
Hi,

There were discussion to integrate onlyoffice as plugin.
It seems it exists https://api.onlyoffice.com/editors/mattermost and is Apache-2.0 licensed

Is that still relevant ?

[2022-10-10 21:07] KuSh commented on #8874
Mattermost actually uses latest 3.x version of bootstrap (3.4.1)
Linked JIRA ticket is closed.

[Another one](https://mattermost.atlassian.net/browse/MM-10786) talks about migrating to Bootstrap 4 (or should that be 5.2 now ?) bur I think the purpose of this ticket is solved.

[2022-10-10 22:26] amyblais commented on #21320
@SwapnilKumbhar That's correct.

[2022-10-10 22:34] amyblais commented on #21326
@peterklingelhofer Would you be open to re-opening this in the Focalboard repo here https://github.com/mattermost/focalboard/issues?

[2022-10-10 22:34] #21326 closed

[2022-10-10 22:35] amyblais commented on #21328
Thanks, appreciate your feedback @lfvjimisola.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so an

[2022-10-10 22:38] SwapnilKumbhar commented on #21320
Awesome, thanks!

[2022-10-10 22:45] gaston-flores commented on #21309
@mattermod I can pick this up.

[2022-10-11 01:30] KuSh commented on #9196
Hi, I did convert the sample Chrome plugin to become a sample cross-browser plugin that also work in Firefox.
This should fix the issue

[2022-10-11 01:44] KuSh commented on #14091
Hi, this seems to have been fixed

[2022-10-11 02:44] davidtaing commented on #21322
Hi @amyblais
The helpers.js file was not mentioned in the list. Would you like me to convert this to TS as well?

I'll let you know if I have any more questions. Thanks.

https://github.com/mattermost/mattermost-webapp/blob/f3f4942debdf4db1ddb54605ccf103b3af320f47/e2e/cypress/tests/integration/enterprise/guest_accounts/helpers.js

[2022-10-11 03:18] davidtaing commented on #21322
Just wanted to flag that `@types/cypress@latest` is not installed on the master branch. I was getting error messages like the one below.

![Code_eAj1XusNvT](https://user-images.githubusercontent.com/8443215/194988815-672bcb20-0720-4f20-bdb2-aab4f787e838.png)

## Link to the package.json

https://github.com/mattermost/mattermost-webapp/blob/f3f4942debdf4db1ddb54605ccf103b3af320f47/package.json#L110

[2022-10-11 03:20] agnivade commented on #19363
Go ahead @chiragbaid7 !

[2022-10-11 09:21] kkennedy-gh commented on #16707
I still plan on working on this. Thank you

On Wed, Oct 5, 2022 at 12:20 PM Zubair Ahmed ***@***.***>
wrote:

[2022-10-11 10:00] mattermod opened #21334 "Avoid passing global state into post_actions.ts in Mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21335 "Avoid passing global state into notification_actions.jsx in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21336 "Avoid passing global state into actions/new_post.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21337 "Avoid passing global state in actions/marketplace.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21338 "Avoid passing global state into actions/local_storage.jsx in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21339 "Avoid passing global state into invite_actions.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21340 "Avoid passing global state into integration_actions.jsx in Mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21341 "Avoid passing global state into actions/hooks.js in Mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21342 "Avoid passing global state into emoji_actions.js in Mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21343 "Avoid passing global state into actions/command.ts in Mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21344 "Avoid passing global state into channel_actions.ts in Mttermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:00] mattermod opened #21345 "Avoid passing global state in admin_actions.jsx in Mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21346 "Avoid passing global state into actions/views/mfa.js in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21347 "Avoid passing global state into actions/views/group.js in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21348 "Avoid passing global state into actions/views/create_comment.tsx in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21349 "Avoid passing global state into actions/views/channel.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21350 "Avoid passing global state into actions/views/channel_sidebar.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21351 "Avoid passing global state into telemetry_actions.jsx in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21352 "Avoid passing global state into team_actions.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21353 "Avoid passing global state into actions/storage.js in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:15] mattermod opened #21354 "Avoid passing global state into status_actions.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 10:30] mattermod opened #21355 "Avoid passing global state into actions/views/onboarding_tasks.ts in mattermost webapp"
### Description

This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to map

[2022-10-11 11:39] AbhishekTiwari23 commented on #21342
Can I work on this?

[2022-10-11 11:45] mattermod opened #21356 "Channel members should be able to remove themselves from channel from the RHS members list"
A member should ideally see the ‘Leave channel’ option against their name in the RHS members list. Right now, they can remove other people from that list but not themselves.

<img width="524" alt="remove-image" src="https://user-images.githubusercontent.com/1779129/195093103-07637538-1133-41be-ba93-bee9b136dd78.png">

----
If you're interested please comment here and come [join our "Contributors"

[2022-10-11 11:57] unboxcoms opened #21357 "mattermost 7.3.0 upgrade failure"
**Summary**
DB migration fails with Error 1064

**Steps to reproduce**
upgrade version 6.4.2 to 7.3.0 on k8 cluster using external HA MySQL 8 cluster

**Expected behavior**
db migration should work and server start.

**Observed behavior (that appears unintentional)**

[code]

[2022-10-11 12:21] sinansonmez commented on #21356
@amyblais please assign this issue to me

[2022-10-11 12:30] amyblais commented on #21144
### v7.4 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.4.0-rc2/mattermost-team-7.4.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5902/files

[2022-10-11 12:38] amyblais commented on #21265
cc @lieut-data

[2022-10-11 12:39] #8874 closed

[2022-10-11 12:40] amyblais commented on #21278
Thank you, opened https://mattermost.atlassian.net/browse/MM-47455.

[2022-10-11 12:45] mattermod opened #21358 "Suggestion.undefined in slash command & emoji autocomplete"
**Slash Command**:

![ss-1](https://user-images.githubusercontent.com/1779129/195094794-3ae13334-6b9a-479b-8502-eb3e394791fe.png)

**Emoji auto complete**:
![ss-2](https://user-images.githubusercontent.com/1779129/195094809-63c083b6-2411-412f-8b8a-f92f727ec095.png)

Env: Community-daily
Browser: Google Chrome 99

Possibly related PR: https://github.com/mattermost/mattermost-webapp/pull/8806

----

[2022-10-11 12:54] lieut-data commented on #21265
Hi @akhil-ghatiki! These changes are to be made in Mattermost Playbooks -- see the source over at https://github.com/mattermost/mattermost-plugin-playbooks. Let me know if I can help get you setup :)

[2022-10-11 13:00] mattermod opened #21359 "Avoid passing global state into actions/views/posts.js in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 13:15] mattermod opened #21360 "Avoid passing global state into actions/views/root.ts in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 13:15] mattermod opened #21361 "Avoid passing global state into actions/views/rhs.ts in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 13:21] adithyaakrishna commented on #21312
Can I take this up?

[2022-10-11 13:39] #14091 closed

[2022-10-11 13:41] amyblais commented on #21357
@unboxcoms Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-10-11 13:43] #20579 closed

[2022-10-11 14:15] mattermod opened #21363 "Avoid passing global state into actions/views/threads.ts in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 14:30] mattermod opened #21366 "Avoid passing global state into components/channel_layout/channel_identifier_router/actions.ts in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 14:30] mattermod opened #21367 "Avoid passing global state into billing_subscriptions/index.tsx in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 14:42] codewithshariq commented on #21363
Please assign this issue to me.

[2022-10-11 14:43] codewithshariq commented on #21360
Please assign this issue to me.

[2022-10-11 14:45] mattermod opened #21368 "Avoid passing global state into msg_typing/actions.ts"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 14:45] mattermod opened #21369 "Avoid passing global state into data_prefetch/actions.ts in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 14:45] mattermod opened #21370 "Avoid passing global state into utils/utils.tsx"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 15:10] AbhinavVihan commented on #21259
I'd like to work on this please.

[2022-10-11 15:11] uusijani opened #21371 "No way to escape a word-starting hash character (\#) in plaintext"
#### Summary
There is no way to escape a word-starting hash character (\#) in plaintext.

#### Steps to reproduce
In MM 7.3.0, post this, verbatim: \\\#anything

#### Expected behavior
\#anything

#### Observed behavior (that appears unintentional)
[\#anything](#anything)

#### Possible fixes
Workaround: instead of "\\\#anything", post this: &amp;\#​35;anything

Using backticks (\`\\\#anything\`)

[2022-10-11 15:11] AbhinavVihan commented on #21253
I'd like to work on this please.

[2022-10-11 15:15] AbhinavVihan commented on #21250
I'd like to work on this please.

[2022-10-11 15:17] AbhinavVihan commented on #21249
I'd like to work on this please.

[2022-10-11 15:24] amyblais commented on #21371
Opened: https://mattermost.atlassian.net/browse/MM-47476.

[2022-10-11 15:40] AbhinavVihan commented on #21257
I'd like to work on this please.

[2022-10-11 15:46] #21069 closed

[2022-10-11 16:20] hmhealey commented on #21371
Hi @uusijani. What's the reason that you're not wanting that text to become a hashtag? Is it just something you expected to work, or is the text appearing as a hashtag causing something you don't want?

Funnily enough, our mobile app actually renders the text the way you'd expect, but it still shows up as a hashtag when searched

[2022-10-11 16:49] mickmister commented on #21358
The task here is to make sure every `item` provided in the suggestion providers defined in the [components/suggestion](https://github.com/mattermost/mattermost-webapp/tree/master/components/suggestion) folder have a `type` property defined on the object. Here's an example where the `items` are provided https://github.com/mattermost/mattermost-webapp/blob/87a49021973c5962f5b2940e663a6640035f556a/co

[2022-10-11 16:56] sinansonmez commented on #21358
Thanks for the explanation @mickmister please assign this to me

[2022-10-11 17:00] mattermod opened #21372 "Avoid passing global state into permalink_view/actions.ts in mattermost webapp"
This ticket is regarding the way we handle state actions in webapp. Similar to the util functions, we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle action creators and make sure they are always passed to mapDispatchToProps i

[2022-10-11 17:11] akhil-ghatiki commented on #21265
Thanks @lieut-data I can take this up. I will reach out to you if I need any help

[2022-10-11 17:15] mickmister commented on #21358
Thanks @sinansonmez!!

[2022-10-11 17:46] amyblais commented on #21184
Hello I have few questions

cc @lieut-data

[2022-10-11 17:50] lieut-data commented on #21184
Hi @cannalee90! This looks to be a great start!

@trilopin, thoughts on whether we should emit telemetry for dropdown menu interactions, or just omit?

@abhijit-singh, is there an appropriate icon we could use here?

@abhijit-singh, thoughts on the order above?

[2022-10-11 18:03] amyblais commented on #21357
Looks like this was resolved on Forum,

[2022-10-11 18:03] #21357 closed

[2022-10-11 20:52] cyberbuff commented on #21308
I can take this up.

[2022-10-11 21:40] pradeepmurugesan commented on #21334
@nevyangelova  I can give a shot at this

[2022-10-11 21:41] nevyangelova commented on #21334
Thanks @pradeepmurugesan let me know if I can assist with this!

[2022-10-11 22:25] #21154 closed

[2022-10-12 00:28] esethna commented on #21194
@codewithshariq how's this goin?

[2022-10-12 04:54] codewithshariq commented on #21194
It's in progress. Will let you know if I need any help.

[2022-10-12 08:47] mukul-kr commented on #19321
Hey, can you assign this to me, it would be very helpful if you can point me to any good place where I can update this info...

[2022-10-12 08:52] mukul-kr commented on #15007
Hey, can you help me with what I have to document, this looks like a feature request to me.

[2022-10-12 08:53] mukul-kr commented on #14093
Can I work on this issue?

[2022-10-12 11:20] trilopin commented on #21184
Yes, we should send a telemetry event `playbook_makeprivate` with playbookId as extra data.
You can use [this function](https://github.com/mattermost/mattermost-plugin-playbooks/blob/c979285669d30aa0b0433620994e6b7751477a85/webapp/src/client.ts#L518) to do it

[2022-10-12 12:34] ashishbhate commented on #21358
Thanks @mickmister for elaborating, in detail, on what needs to be done for this ticket. It was really helpful!

[2022-10-12 12:46] #21260 closed

[2022-10-12 12:52] steve-lgtm commented on #21372
can you assigned me please?

[2022-10-12 12:54] #21315 closed

[2022-10-12 12:55] amyblais commented on #15007
Thanks for noticing, I've adjusted the label.

[2022-10-12 12:56] amyblais commented on #19321
cc @justinegeffen

[2022-10-12 13:41] lakshya8066 commented on #21200
@isacikgoz Where is this file located? Does mmctl talks to a database server?
I am assuming we have a file in a database that should be deleted once someone runs `mmctl import delete <FileName>`
Can you point me to the database?

[2022-10-12 14:07] isacikgoz commented on #21200
Hey @lakshya8066 this feature includes both mattermost-server and mmctl changes. We store the file in the filesystem which mattermost-server uses. The mmctl tool should use the `model.Client4` to request deletion of the file from the server. Just like any other commands in the mmctl.

[2022-10-12 14:45] #21228 closed

[2022-10-12 14:53] codewithshariq commented on #21363
@nevyangelova I checked the file and the global state is not directly imported into it.

[2022-10-12 14:55] #21092 closed

[2022-10-12 15:45] mattermod opened #21379 "Change color of hovering over custom status calendar's selected date"
* Go to do no disturb menu
  * Select “Custom” sub menu
  * Modal with “Disable notifications until” open
  * Click on “Date” field
  * Hover over the selected date

Observed

  * On hover the background of date changes to lighter version
  * ![image](https://user-images.githubusercontent.com/17708702/195390662-b3d63da9-195a-4d7d-9ac0-95fbd199a20c.png)

Expected

  * We need to update the styles f

[2022-10-12 15:57] akhil-ghatiki commented on #21265
@lieut-data can you review this PR ?

[2022-10-12 16:31] akhil-ghatiki commented on #21379
I can take this up

[2022-10-12 16:38] lieut-data commented on #21265
Thanks for the ping, @akhil-ghatiki! I've invited two of the Playbooks developers to review this PR.

[2022-10-12 18:24] hmhealey commented on #21249
Let us know if you run into any issues with this. It might be a bit harder to remove the global state from this file in particular since the websocket code runs outside of the usual Redux flow, but hopefully, we can remove most of it at least.

[2022-10-12 18:35] hmhealey commented on #21371
Thanks for the context. This might end up having to wait until we update the Markdown library in the web app to use the same version as the mobile app, but we'll keep tracking it to make sure that this does get addressed then.

[2022-10-12 19:00] mattermod opened #21386 "Task Permalinks for Playbook Runs"
Just like posts and cards have permalinks, let’s introduce task permalinks for runs (but not playbooks, at least not yet). Add a “Copy Link” option to the task dropdown menu:

![image](https://user-images.githubusercontent.com/1023171/196214342-27acd389-5f37-43af-8c6a-e86ab818d1c8.png)

copying the style of the post menu:

![image](https://user-images.githubusercontent.com/1023171/196214366-d60d71

[2022-10-12 19:33] tanishk-23 commented on #21386
@mattermod can you assign this to me?

[2022-10-12 19:35] tanishk-23 commented on #21370
@mattermod can you assign this to me?

[2022-10-12 20:08] #20065 closed

[2022-10-12 20:26] miukumac commented on #18351
Since I'm not hot on registering to a million services, would someone be so kind as to bullet point why this decision is made?

So both of them are a no-no for us and I'm sure we're not the only ones who see things this way.

[2022-10-12 20:52] pradeepmurugesan commented on #21348
can you assign this to me

[2022-10-12 21:25] ylluminate commented on #18351
Yes, @miukumac really is right here. We really should have @agnivade @amyblais @jasonblais help out in this situation since I also believe it's a very, very poor decision to not outright support MariaDB. It definitely shows a lack of insight and forward looking/planning to not support it outright.

[2022-10-12 22:29] amyblais commented on #21144
### v7.4 RC-4 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.4.0-rc4/mattermost-team-7.4.0-rc4-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5902/files

[2022-10-12 22:30] mattermod opened #21387 "Write E2Es for MM-T5208 - Continue to show global Threads item when unread filter is enabled"
Write Cypress test for [MM-T5208](https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T5208) - Continue to show global Threads item when unread filter is enabled

If you need any guidance or need more information please post a message in [quality-assurance ](https://community.mattermost.co

[2022-10-13 01:15] mattermod opened #21388 "P1 // Header Navigation // Activated windows open, but the screenreader does not notify the user that the windows are open."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:* When the user navigates the *Header Navigation** in the upper right side of the screen and opens its relevant modal windows, the screen reader does not announce that the modal windows are open.

**Steps

[2022-10-13 01:15] mattermod opened #21389 "P1 // Search // The highlighted calendar under "Search" is not accessible."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:* When the user navigates to *Search* and chooses *On:** a date, the highlighted calendar is not accessible.

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device.
  1. Login to

[2022-10-13 01:30] mattermod opened #21390 "P1 // Header Navigation // Recent Mentions // When the user closes the Recent Mentions window by activating 'X' button, next Tab focus goes to the '+' sign next to 'Contributors' on the left side panel."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:* When the user closes the *Recent Mentions* window by activating '*X*' button, next Tab focus goes to the '*+*' sign next to '*Contributors**' on the left side panel.

**Steps to reproduce:**

  1. Matte

[2022-10-13 04:55] agnivade commented on #16305
Go for it!

[2022-10-13 05:59] tanishk-23 commented on #21388
@mattermod can you assign this issue to me?

[2022-10-13 06:00] tanishk-23 commented on #21390
@mattermod can you assign this issue to me?

[2022-10-13 08:31] akarsh-jain-790 commented on #21389
@mattermod can you assign this issue to me?

[2022-10-13 10:39] lucassabreu commented on #21299
hi i would like to do this one

[2022-10-13 12:29] amyblais opened #21394 "F-F"

[2022-10-13 12:29] amyblais commented on #21394
/cloud-ff

[2022-10-13 12:29] mattermod commented on #21394
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-10-13-backup (SHA: `dbf5b0b`)
    - mattermost-webapp:refs/heads/cloud-2022-10-13-backup (SHA: `8b7ae9e`)
    - enterprise:refs/heads/cloud-2022-10-13-backup (SHA: `a9794f5`)
    - mattermost-api-reference:refs/heads/cloud-2022-10-13-backup (SHA: `0b24132`)

### Fast-Forwarded branches
    - m

[2022-10-13 12:29] #21394 closed

[2022-10-13 13:15] mattermod opened #21395 "Webapp: Drop zone UI alignment is off-center"
When dragging an attachment in to the center channel main input, the drop zone UI shows misaligned to the right.

**Misaligned:**

<img width="1920" alt="HF-center-align" src="https://user-images.githubusercontent.com/1779129/195609593-66c01345-c387-4ccc-82e3-04266e62b6fc.png">

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mat

[2022-10-13 13:45] lucassabreu commented on #21299
one question, the PR will probably be big with the changes on the support files and tests themselves, you prefer to break it into one PR for support and other for tests, or is ok to send just one?

[2022-10-13 14:00] mattermod opened #21398 "Webapp: Polish "Out of office" entry in user menu"
When I’ve enabled ‘Automatic Replies’, the ‘Out of office’ indicator in the user menu has a subtitle that is misaligned.

**Misaligned**
<img width="297" alt="MM-misaligned" src="https://user-images.githubusercontent.com/1779129/195618343-ca9fa8b9-a34c-4811-8878-6af425a671b3.png">

## Proposed solution

  * Add an icon to the menu item
  * Ensure this menu item has the checkmark on the right - jus

[2022-10-13 14:12] jasonmacer opened #21399 "Clearing Deleted Messages from UI"
#### Summary
When messages are deleted from database using web-hooks the messages will not clear from channels unless application restart is performed.

#### Steps to reproduce
Mattermost Version: 7.0.0
Database Schema Version: 85
Database: mysql

#### Expected behavior
When using a API call to delete a message from bot interaction the messages are deleted but place holders showing "deleted messag

[2022-10-13 14:30] amyblais commented on #21399
@jasonmacer Does refreshing the app also clear out the "message deleted" placeholders?
What do you think is the expected behaviour? Why do you prefer that the "message deleted" placeholders wouldn't be visible?

[2022-10-13 14:35] jasonmacer commented on #21399
@amyblais while I do not know how to "refresh" the app, I believe the expected behavior is for there to be an easy way to clear the "(message deleted)" messages, either through a call or automatically. If you did not clear them out you would get a constant string of these deleted messages and the "common" user could become confused.  I know there are ways to perform this action in similar applicat

[2022-10-13 14:47] amyblais commented on #21399
Are you on webapp or desktop app?
Do you have examples of clearing the messages through a call or automatically that some other apps use?

[2022-10-13 15:34] jgillich commented on #8886
It would be much easier if everything was relicensed to AGPL. The current license makes no sense, you should be licensing the code, not the binaries

[2022-10-13 17:46] cinlloc commented on #21368
I will take it :hand:

[2022-10-13 18:39] amyblais commented on #21368
cc @nevyangelova

[2022-10-13 19:35] aabhas-sao commented on #21395
hey @ashishbhate  please assign me this issue, I would like to work on it.

[2022-10-13 22:00] mattermod opened #21402 "Fix icon alignment on hover and default state opacity, Threads related"
Environment: daily. Recent regression, not reproducing on cloud Oct 13 and v7.4-rc4

Steps:

  1. Ensure logged in user has participated or has followed few threads
  1. Open global threads
  1. Hover over “mark all as read” button
  1. Hover over thread Actions button (vertical 3 dot on thread list)
  1. Open any thread on the right and hover over More Actions icon (vertical 3 dot icon, next to F

[2022-10-13 22:39] SwapnilKumbhar commented on #21320
Hello @amyblais!

Can you point me to some documentation that allows me to setup the application to test? I think the tests assume an E20 license. Is there any way I can mock this?

The tests mention a file (`mattermost/platform-private/config/ldap-test-setup.txt`) that describes the setup, but I can't seem to find it anywhere.

[2022-10-13 22:40] amyblais commented on #21320
cc @furqanmlk

[2022-10-13 22:46] sinansonmez opened #21404 "Text inside Cancel Button is not aligned"
#### Summary
Cancel button text within `ChannelInviteModal` is not aligned

#### Steps to reproduce
1. Click channel members button <img width="77" alt="Screen Shot 2022-10-14 at 00 39 43" src="https://user-images.githubusercontent.com/37421564/195723690-e807eff9-6834-4bf0-ad3d-250753bdfcf0.png">
2. Click `Add` button
3. Check `Cancel` button

#### Expected behavior
Text should be aligned

#### Ob

[2022-10-13 22:47] sinansonmez commented on #21291
@furqanmlk is there any specific reason why you reopened this issue? The related PR is already merged

[2022-10-13 23:09] amyblais commented on #21404
Opened https://mattermost.atlassian.net/browse/MM-47563.

[2022-10-14 00:05] #21300 closed

[2022-10-14 00:34] #13865 closed

[2022-10-14 00:54] #21291 closed

[2022-10-14 00:55] furqanmlk commented on #21291
Sorry by mistake :)

[2022-10-14 01:04] #21305 closed

[2022-10-14 02:45] ashishbhate commented on #21395
Yep! The code for the webapp, which needs fixing, is in the mattermost-webapp repo.

[2022-10-14 02:58] ritvikmathur1999 commented on #21402
Hey @mattermod

I would like to work on this. Kindly assign this issue to me.

Thanks!

[2022-10-14 02:59] #21066 closed

[2022-10-14 03:25] ashishbhate commented on #21402
Yep, this is related to the webapp https://github.com/mattermost/mattermost-webapp/

[2022-10-14 03:26] #21201 closed

[2022-10-14 03:34] #21167 closed

[2022-10-14 03:44] #12517 closed

[2022-10-14 03:50] #21131 closed

[2022-10-14 04:00] #21309 closed

[2022-10-14 04:27] #18184 closed

[2022-10-14 04:59] dwarukira commented on #21361
I can work on this..

[2022-10-14 06:17] cannalee90 commented on #21184
@trilopin  thank you! I'm on it.

[2022-10-14 09:43] huydq189 commented on #19148
Hi, is this issue still open ? Why has the pull request not been merged?

I would like to solve it

[2022-10-14 10:15] SharathHuddar commented on #19148
@huydq189 all yours !

[2022-10-14 10:55] #21130 closed

[2022-10-14 13:50] tavarescarolina commented on #20823
Hello, can i help on this task?

[2022-10-14 13:54] #21144 closed

[2022-10-14 15:52] amyblais commented on #20475
@esguti The ‘Copy invite link’ gets the site URL from browser’s window object hence the URL is with port and is correct.
Our suggestion would be to specify the URL with port in ServiceSettings.SiteURL in config.json file located in mattermost.server.

[2022-10-14 15:59] #13480 closed

[2022-10-14 17:00] mattermod opened #21411 "P1 // Screen reader announces the words “User profile image graphic” instead of the member’s name"
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** When searching for a member, adding a member to a channel, or opening a DM - the screen reader announces the words “User profile image graphic” instead of the member’s name. 

**Steps to reproduce:**

[2022-10-14 17:00] mattermod opened #21412 "P1 // Navigation // Arrows not working when navigation through menu items"
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** The screen reader announces, "To move through items, use arrow keys,” but the arrow keys are not working. The issue exists in all the menus.

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be inst