[2018-09-27 22:13] jwilander commented on #9458
Awesome, thanks for this @SmartHoneybee!!

What do you think about re-purposing this issue into a giant "help wanted" issue? I'm thinking make the bullet points into checkboxes and then people can just comment here with which API they're going to add

Maybe we start with the "Yes" and "Maybe" categories first

[2018-09-27 22:42] amyblais commented on #9480
Hi @fincha, I encourage you to take a look at our documentation on how to build Mattermost: https://developers.mattermost.com/contribute/server/developer-setup/.

https://github.com/mattermost/mattermost-server is Team Edition only, so you won't see any Enterprise related features when you build Mattermost from the source.

[2018-09-27 22:48] esethna opened #9485 "[Help Wanted] [MM-12239] Remove "System Console > Plugins > Configuration" page, move enabling plugins setting to the Management page, and update help text for plugin uploads"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-27 23:12] jwilander opened #9486 "Plugin framework: add gRPC support"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-27 23:19] SmartHoneybee commented on #9458
Hi,

feel free to edit, retitle, or reuse this issue however you see fit. :slightly_smiling_face:
"*Help wanted*" sound great, then people can pick what they need for their plugins.
(Just want to stress: function selection and categories are IMHO. Feedback welcome.)

Regards,
Bee

[2018-09-28 01:49] jasonblais commented on #9358
Thank you @mojicaj!

[2018-09-28 07:32] fincha commented on #9480
@amyblais hm, so I can't activate auth 2 with office365? But the code is present?!

Is there a way to intercept the complete action via plugin after login? Our usecase is, I want user to redirect to out app not to chat in one single special case.

[2018-09-28 08:35] esethna opened #9489 "[Help Wanted] [MM-12355] Create CLI command "command create""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 08:40] esethna opened #9490 "[Help Wanted] [MM-12357] Create CLI command "command list""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 08:40] esethna opened #9491 "[Help Wanted] [MM-12304] Create CLI command "channel search""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 08:40] esethna opened #9492 "[Help Wanted] [MM-12356] Create CLI command "command delete""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 09:27] maruTA-bis5 opened #9493 "Japanese word `#疑問` does not appeared as hashtag"
#### Summary
`#疑問` does not appeared as hashtag.
Note: `疑問` is Japanese meaning `question`.

#### Steps to reproduce
enter `#疑問` and post them.

#### Expected behavior
`#疑問` display as the hashtag.

#### Observed behavior (that appears unintentional)
`#疑問` does not hashtag.

![image](https://user-images.githubusercontent.com/1310661/38847473-c107566e-423c-11e8-8e50-05a57261136c.png)
https://pre-re

[2018-09-28 11:45] plorenz-etes commented on #7721
Same for me - this feature is important to our team.
We've been using Jabber previously. We could see that someone isn't on his/her working place if the user was away - but with Mattermost, we can't rely on this information anymore.

[2018-09-28 12:39] hmhealey commented on #9469
Ah, I see. There's no feature like that, but that sounds like something that would be great to add. We've certainly had a lot of problems in the past that resulted from people modifying the database directly, and having a CLI command that can be run to verify the database and check for that would be really helpful. I'll bring that up for discussion with the team since it'd be useful for everyone.

[2018-09-28 12:58] jwilander commented on #9458
Thanks! Done

[2018-09-28 14:30] hmhealey commented on #9469
Ah, I see. Well it's queued for our developer meeting on Wednesday, although I assume the discussion will basically be "yeah, let's create some tickets and do it".

That meeting is also public if you'd like to join in that discussion. We have it every Wednesday at 8:30 San Fransisco time, and the link is in the ~developers-meeting channel on https://pre-release.mattermost.com

[2018-09-28 14:41] mojicaj commented on #9489
I'd like to work on this.

[2018-09-28 14:52] ssbarnea commented on #9220
Firefox bug was not fixed yet and is tracked at https://bugzilla.mozilla.org/show_bug.cgi?id=1489785 feel free to add comments there. I hope this link helps.

[2018-09-28 15:23] swood opened #9496 "Got SIGSEGV: segmentation violation when I tried to add the user"
#### Summary
I got SIGSEGV when I tried to add the new user via command line.

#### Steps to reproduce
I have this problem with mattermost-preview version:
Mattermost Version: 5.3.0-rc2
Database Schema Version: 5.3.0
Generate jsonl by the documentation and execute command /mm/mattermost/bin# ./mattermost import bulk test.json --apply

#### Expected behavior
I have a simple jsonl file with users da

[2018-09-28 15:30] amyblais commented on #9493
Thank you @maruTA-bis5, I opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-12384.

[2018-09-28 15:49] amyblais commented on #9470
Thanks @peterlloydcc! I created a ticket for this here: https://mattermost.atlassian.net/browse/MM-12385.

[2018-09-28 15:58] esethna opened #9497 "[Help Wanted] [MM-11560] Allow plugins to add channel header tooltips"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 18:14] fincha commented on #9480
@amyblais yes, I even uploaded the licence via cli, and it worked fine, but no frontend changes.

[2018-09-28 20:47] dos1701 commented on #8498
Hey @jasonblais how about adding an optional field into the import jsonl with the email interval? to preserve backward compatibility of the original email field

[2018-09-28 21:04] jasonblais commented on #8498
@grundleborg or @jespino would you have thoughts on the above proposal?

[2018-09-28 21:05] jasonblais commented on #9489
Grea, thank you @mojicaj 🎉

[2018-09-28 21:37] esethna commented on #9399
Hey @claytonlemons , let us know if you have any questions, happy to help!

[2018-09-28 21:40] esethna opened #9500 "[Help Wanted] [MM-12198] React Native: Add "View Members" option in the channel menu for group messages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 21:45] esethna opened #9501 "[Help Wanted] [MM-12396] Option to add user to a channel from the profile pop-over"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 21:55] esethna opened #9502 "[MM-9563] Add a red dot to browser favicon when there are unread mentions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 21:55] esethna opened #9503 "[Help Wanted] [MM-11675] All system messages which have usernames should match join/leave styling and popover functionality"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 21:59] esethna opened #9504 "[Help Wanted] [MM-9494] React Native: If the keyboard is open, swiping down past it should close it"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 21:59] esethna opened #9505 "[Help Wanted] [MM-8404] Channel notification setting for disabling channel mentions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 22:10] esethna opened #9506 "Keyboard shortcut for adding reactions to last message in channel or thread"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 22:10] esethna opened #9507 "Add ability to remove custom branding image"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-28 22:15] amyblais commented on #9496
Hi @swood, thank you for reaching out.

Are you referring to the Docker Preview (https://github.com/mattermost/mattermost-docker-preview)?

[2018-09-28 22:27] amyblais commented on #9480
Hi @fincha, please take a look if these docs help:

- https://docs.mattermost.com/install/ee-install.html#checking-your-mattermost-edition-and-version
- https://docs.mattermost.com/install/ee-install.html#upgrading-to-enterprise-edition-from-mattermost-team-edition
- https://docs.mattermost.com/administration/upgrade.html#upgrading-team-edition-to-enterprise-edition

[2018-09-28 22:45] swood commented on #9496
Yes, exactly.

[2018-09-29 03:11] gupsho commented on #9492
Hi, I would like to work on this.

[2018-09-29 04:33] jasonblais commented on #9492
That would be great, thank you @gupsho :tada:

[2018-09-29 09:37] esethna opened #9508 "[Help Wanted] [MM-12366] Create CLI command "team restore""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-29 09:37] esethna opened #9509 "[Help Wanted] [MM-12363] Create CLI command "team archive""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-29 09:37] esethna opened #9510 "[Help Wanted] [MM-12367] Create CLI command "team search""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-29 10:19] fincha commented on #9480
well, as described in FAQs I need a separate binary. But the point is, I have made a modifications in the "signup/.../complete' action and we need them. So the sourcecode here in github is not the suiteable for enterprice?

[2018-09-30 13:44] waseem18 commented on #9510
Quick update :

I was able to run the API server and the Web app running but I'm facing issues with the CLI.

I ran `go install` in `mattermost-server/cmd/mattermost` to generate the executable but mostly all commands seems to throw an error. Here's the error log - https://pastebin.com/t77Mrraj

Could someone please help me with this?

Thanks

[2018-09-30 15:34] waseem18 commented on #9510
Thanks for the response @jasonblais

I didn't install the CLI actually, I'm trying to build it from source.

And yes, I ran the command right from the directory where the executable is - the `bin` folder inside `GOPATH` i.e `/Users/wasimthabraze/go`

[2018-09-30 15:45] esethna opened #9511 "[Help Wanted] [MM-12312] Server plugin: add missing API functions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-30 15:46] jasonblais commented on #9511
Closing, duplicate of https://github.com/mattermost/mattermost-server/issues/9458

[2018-09-30 15:46] #9511 closed

[2018-09-30 15:47] jasonblais commented on #9510
I see - what is the output you get from `./mattermost version`?

[2018-09-30 15:51] waseem18 commented on #9510
The same error - https://pastebin.com/t77Mrraj

[2018-09-30 17:37] jasonblais commented on #9510
Thank you - I'll need to get a developer's help review the errr next. I linked some of the conversation from here to your post in the Developers channel https://pre-release.mattermost.com/core/pl/a5gdbgbzebfeiri6paabf6ca5o

[2018-09-30 17:50] waseem18 commented on #9510
Thanks for that @jasonblais

[2018-09-30 18:15] waseem18 commented on #9510
So I got it running finally by another way.

Instead of generating an executable and running it, I tried running  the `main.go` file present in the `cmd` directory with the with arguments as commands and it seems to work.

Example : `go run main.go team create --name mynewteam --display_name "My New Team"`

[2018-09-30 18:56] jasonblais commented on #9510
Glad you got it working :)

[2018-09-30 19:56] waseem18 commented on #9509
Got a good understanding of the `team` command code, so would like to work on this.

[2018-09-30 23:19] sonasingh46 commented on #9508
@esethna
I would like to work on this issue.

[2018-09-30 23:32] jasonblais commented on #9508
@sonasingh46 Great! Thank you 👍

[2018-09-30 23:37] MathieuTougas commented on #9502
I have a good experience with your  codebase. I'd like to work on this.

[2018-09-30 23:47] jasonblais commented on #9502
Thank you @MathieuTougas! Please let us know if you have any questions

[2018-10-01 06:02] sonasingh46 commented on #9490
@esethna
I would like to work on this issue.
Will raise a PR in some time

[2018-10-01 06:05] satyamz commented on #9491
Hi @esethna , I'd like to work on this.

[2018-10-01 07:28] avasconcelos114 commented on #7676
I'd like to take on this one (tbh I already started), got a couple of questions to make sure I get things right:
1. This component doesn't seem to be using the modal from `react-bootstrap`, is this intentional? would you like me to also change the components to use `react-bootstrap` instead?
2. This component is using `BrowserStore` to receive a `channel-removed-state` event with information regar

[2018-10-01 08:13] jespino commented on #9491
Awesome @satyamz! let me know if you need any help, here or in https://pre-release.mattermost.com.

[2018-10-01 08:14] jespino commented on #9490
Awesome @sonasingh46! let me know if you need any help, here or in https://pre-release.mattermost.com.

[2018-10-01 10:16] fincha commented on #9480
@amyblais is it possible to get a enterprice build containing this lines:

https://github.com/fincha/mattermost-server/pull/1/files

?

[2018-10-01 11:00] Akash4927 commented on #9458
I'd like to work on this.

[2018-10-01 11:08] jasonblais commented on #7676
Thanks! @jwilander Would you be able to help with the questions above?

[2018-10-01 11:46] amyblais commented on #9173
The Jira ticket has been resolved and tested internally. The fix will be available in v5.4 release.

[2018-10-01 11:46] #9173 closed

[2018-10-01 12:14] jwilander commented on #9458
Hi @Akash4927, which methods are you going to work on?

[2018-10-01 12:17] jwilander commented on #7676
1. Yes, if you could change that to match the other modals to use `react-bootstrap` that would be great 👍
2. I'd say if it's easy to re-implement using a more Redux-like pattern then it's fine in the same PR but if it starts to look more complex, then yeah it would probably be better in a separate PR

[2018-10-01 12:56] jlevesy commented on #9507
Hi folks, I'm interested in working on this !
I'll reach for more informations soon !

[2018-10-01 13:01] amyblais commented on #9507
Thank you @jlevesy! Feel free to ask any questions.

[2018-10-01 13:15] amyblais opened #9514 "Mattermost v5.4"
You can find key dates for v5.4 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### October 3rd: Release candidate cut
After this date, only bugs can be committed to the release branch.

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 -

[2018-10-01 14:47] Akash4927 commented on #9458
Hi @jwilander, I'd like to work on the methods present in `Yes` section

[2018-10-01 16:36] anchepiece commented on #9300
Hi :wave: thanks mattermost team for open sourcing such a great project.

These changes migrate the preferences actions to flow
All tests pass locally.

Suggestions on improvement welcome.

[2018-10-01 18:45] amyblais commented on #9307
The Jira ticket linked above has been resolved and tested internally. The fix will be available in v5.4 release.

[2018-10-01 18:45] #9307 closed

[2018-10-01 20:10] amyblais commented on #9353
Hi @LeDOC666,

Letting you know that the Jira ticket I opened was closed.

The devs added a comment in it that we don't support preceding wildcards and that we treat "_" and "-" as part of words, so the "no results" cases that I listed are actually behaving as expected.

You can open a feature request ticket here for any changes that we can make for the search function: https://mattermost.uservoic

[2018-10-01 20:10] #9353 closed

[2018-10-01 23:00] falcon78921 commented on #8031
Hi @jasonblais,

I think this should do it: https://github.com/mattermost/docs/pull/2310

[2018-10-02 00:07] jasonblais commented on #8031
Thank you @falcon78921 !

[2018-10-02 00:07] #8031 closed

[2018-10-02 02:54] amorriscode commented on #9503
Hi there! 👋

I'm interested in completing this ticket.

[2018-10-02 05:05] avasconcelos114 commented on #7676
Ah got it, but sadly as it turns out, it seems like there was a reason behind leaving the modal as pure `div`s with bootstrap classes on them, as having the modal pre-rendered (but hidden), made it possible to trigger an action to display it from `websocket_actions.jsx` using jquery.

Using normal bootstrap components seem to require a change in how the `USER_REMOVED` websocket event is processed

[2018-10-02 06:34] esethna opened #9522 "[Help Wanted] [MM-12371] Create CLI command "webhook list""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-02 06:38] esethna opened #9523 "[Help Wanted] [MM-12359] Create CLI command "command show""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-02 07:47] fincha commented on #9480
@amyblais how long will this take to implement such thing? We are running out of time, and I was hoping to do a quick fix.

[2018-10-02 08:20] klebervirgilio commented on #9522
Can I help on this one?

[2018-10-02 08:28] lologarithm commented on #9522
where do you get webhooks for slash commands?

[2018-10-02 08:28] lologarithm commented on #9522
"CommandWebhookStore" ?

[2018-10-02 08:36] klebervirgilio commented on #9522
so... @lologarithm are you taking over?

[2018-10-02 08:37] klebervirgilio commented on #9523
Can I take this one?

[2018-10-02 08:38] lologarithm commented on #9522
I have most the code done I just wasn't clear on some details. but I can drop it if you really want it :)

[2018-10-02 08:49] lologarithm commented on #9522
However, I am not setup with the contributor license agreement (https://developers.mattermost.com/contribute/getting-started/contribution-checklist/)

Perhaps I should let @klebervirgilio take over if he is more prepared.

[2018-10-02 08:52] klebervirgilio commented on #9522
No worries... no problem at all. Really @lologarithm, all good! I will follow you PR to learn how I can get mine done! :) thanks!

[2018-10-02 08:55] Lomey opened #9524 "Cannot connect to Mattermost"
![image](https://user-images.githubusercontent.com/16382694/46338678-7d27dc80-c639-11e8-8364-6789c30bd136.png)

I have inputted incorrect server, and I can not do anything else. There is no buttons.
I just install mattermost with this command:
`brew cask install mattermost`
And I just want to have mattermost desctop app, why I should input some servers?

[2018-10-02 09:00] #9524 closed

[2018-10-02 11:18] jasonblais commented on #9522
Thank you @lologarithm and @klebervirgilio!

@jespino Can you help with the question above regarding `Did you want to list outgoing hooks, incoming hooks, or both?`. It would make sense to list incoming webhooks, outgoing webhooks and slash commands, but in separate commands (and potentially separate tickets)?

@klebervirgilio I see you're tackling https://github.com/mattermost/mattermost-server/i

[2018-10-02 11:19] jasonblais commented on #9523
@klebervirgilio Certainly! Let us know if you have any questions.

[2018-10-02 11:29] MattMattV commented on #9299
Hello ! I would like to contribute by grabbing this issue ! (:

[2018-10-02 11:40] jasonblais commented on #9299
Thank you @MattMattV! :)

[2018-10-02 11:42] jasonblais commented on #8906
@jespino Can this ticket be closed?

[2018-10-02 11:42] #8906 closed

[2018-10-02 11:44] #8783 closed

[2018-10-02 11:44] #8718 closed

[2018-10-02 11:45] #8647 closed

[2018-10-02 11:48] jasonblais commented on #7494
Hey @jkurian - just checking how things are going and if you have any questions?

[2018-10-02 11:48] jasonblais commented on #6174
@kaakaa Is this issue now completed?

[2018-10-02 11:50] jespino commented on #8906
Yes :)

[2018-10-02 11:56] jespino commented on #9522
@klebervirgilio @lologarithm @jasonblais The idea is to list both, and split the "creation/modification" commands, but the show, list and delete will be the same. Slash commands are handled by other CLI command, so Is not needed here.

But this is a good time to split it if we want. What do you think @jasonblais @klebervirgilio and @lologarithm ? Do you prefer separated commands for incomming and

[2018-10-02 12:15] jwilander commented on #7676
Actually @avasconcelos114 you should be able to do that without any changes to mattermost-redux. Many of our modals are triggered using webap-specific actions, e.g.:

https://github.com/mattermost/mattermost-webapp/blob/master/components/channel_header/channel_header.jsx#L322

[2018-10-02 12:48] amyblais commented on #9480
@fincha The integration might take some time to do - can you help with more details on the step-by-step sign-up process that you are looking to implement? I can then check with our team if we already have a current solution as a workaround / alternative that you can use.

[2018-10-02 13:30] swood commented on #9496
I have some investigation about this problem. It reproduces only if there are a lot of users in current installation. If I try it with an empty container all works fine.
I checked it with latest container version with binary from 19.09.2018 and md5sum e035c6b203951b3fd2923bb83480281c.

Maybe someone could help with it?

[2018-10-02 14:29] Akash4927 commented on #9458
Hi @jwilander, I raised a PR for adding `GetChannelMembers`. I changed the desired definition from `GetChannelMembers(channelId string, page, perPage int, etag string) (*ChannelMembers, *Response)` to
`GetChannelMembers(channelID string, page, perPage int) (*ChannelMembers, *APIError)`. Is it correct or I have to implement new functionality for the above definition?

[2018-10-02 14:45] amorriscode commented on #9301
Howdy! 👋

I'd love to help out with this one. 😀

[2018-10-02 15:09] djakubiec opened #9526 "App header on iPhone X/XS very difficult to click -- touch-targets seem off"
#### Summary
App header on iPhone X very difficult to click -- touch-targets seem off

#### Steps to reproduce
Load the new Mattermost app onto an iPhone X or Xs.  Try tapping one of the header button (like Main/hamburger menu, or settings dots).

#### Expected behavior
Direct click over menu icons should open their corresponding windows.

#### Observed behavior (that appears unintentional)
Tappin

[2018-10-02 15:10] amyblais commented on #9496
I apologize for the delay - to confirm, you're using this command to create a new user: https://docs.mattermost.com/administration/command-line-tools.html#mattermost-user-create?

I'll ask our team to help test this out.

[2018-10-02 15:14] amyblais commented on #9526
Hi @djakubiec, thank you for reaching out.

Does this report describe the issue you are seeing: https://github.com/mattermost/mattermost-mobile/issues/2152?

[2018-10-02 15:32] swood commented on #9496
Hello.

Yes, that's right:

github.com/mattermost/mattermost-server/cmd/mattermost/commands.InitDBCommandContextCobra(0x1c3c760, 0x32, 0x1c8a880, 0x145a000)

github.com/mattermost/mattermost-server/cmd/mattermost/commands.userCreateCmdF(0x1c3c760, 0xc42056e120, 0x0, 0x9, 0x0, 0x0)

github.com/mattermost/mattermost-server/vendor/github.com/spf13/cobra.(*Command).execute(0x1c3c760, 0xc42056e090, 0x9

[2018-10-02 15:41] Ouroboros1977 opened #9527 "AD users no longer showing as verified"
I'm not sure when it started, I'm assuming after our upgrade to 5.2.1 .  Our users are no longer receiving notifications and the logs show:

{"level":"error","ts":1538491555.589711,"caller":"app/notification.go:211","msg":"Skipped sending notification email to user@domain.com, address not verified. [details: user_id=7j4ckbm8kbyfdmnt76i7om8uie]"}

All of our users are AD authenticated.

Mattermost

[2018-10-02 16:36] jwilander commented on #9458
@Akash4927 you're not actually calling the Client4 methods from the plugin. You're adding equivalent methods to the plugin API.

For example, here's a PR adding some methods to the plugin API: https://github.com/mattermost/mattermost-server/pull/9022

[2018-10-02 17:05] Akash4927 commented on #9458
Thanks, @jwilander, Can you please take a look at the PR https://github.com/mattermost/mattermost-server/pull/9525/files

Am I on the right path?

[2018-10-02 17:13] jwilander commented on #9458
That's the exact right path :+1:

[2018-10-02 17:17] Akash4927 commented on #9458
Thanks, @jwilander, I'll open that PR and will raise PR for other methods soon. :smiley:

[2018-10-02 17:55] amyblais commented on #9434
The Jira ticket has been resolved and tested internally, and the fix will be available in v5.4 release,

[2018-10-02 17:55] #9434 closed

[2018-10-02 18:16] djakubiec commented on #9526
iOS 12.0
Mattermost 1.12.0 (build 142)
Mattermost server 5.2.0

[2018-10-02 18:47] jlevesy commented on #9507
Just to keep you posted, I started to work on this on [that](https://github.com/jlevesy/mattermost-webapp/tree/MM-12068) branch.

I'll open a pull as soon as I get something interesting :)

[2018-10-02 19:43] lieut-data commented on #7801
Hey @levb -- looping @crspeller into the conversation given the plugin connection. I'm less concerned by the loss of image processing for larger files, but one of the "real-world" cases for plugins intercepting file uploads is to perform virus scanning.

For files larger than the limit, might we stream directly to the file store and then circle back and process them through the plugin API but wiri

[2018-10-02 19:51] crspeller commented on #7801
That's probably not acceptable for some plugin use cases around compliance. We wouldn't want to write the file to the backing store if the plugin was going to reject it.

Any solution here should include the ability for plugins to process files.

[2018-10-02 20:06] lieut-data commented on #7801
@crspeller, don't most of the compliance cases fall over once the bits are transferred through the network to the server anyway? If we're not allowed to write to the backing store, we're going to be permanently memory gated for all file uploads. Is there a compromise where we allow the larger file uploads unless a plugin has registered one of the hooks in question?

[2018-10-02 20:09] crspeller commented on #7801
It depends on how people want to nitpick. But there have been some cases where in memory is OK but writing it to a backing store is not.

We could have it switched on if a plugin has registered those hooks.

Why?

[2018-10-02 20:16] lieut-data commented on #7801
If I'm understanding it correctly, the crux of this (and related) tickets is to enable larger file uploads. The primary reason we don't support larger uploads today is because we effectively copy them around in memory a few times and risk running out of memory. There's probably some performance gains to be had too, but I don't think the product is gated by file uploads at present, so I'm assuming

[2018-10-02 21:06] lologarithm commented on #9522
Its about consumer use case I think. If it was me I would probably just be generally auditing or looking for a specific hook.

If its a general audit you want everything. If you are looking for a specific hook then you can just find the hook from all the output I think.

I would lean towards a combined command

[2018-10-02 21:12] dos1701 commented on #8498
Hi guys,

please forgive any mistake since I'm a novice and if I'm missing something obvious, my proposal would be the following:
Add an optional field to the user json object called like email_interval.
The field will support the immediately, fifteen and hour strings, the import_types and import functions will be modified accordingly, so that we'll store the user preference as number of seconds.

[2018-10-02 21:35] thejacer87 opened #9529 "Cursor leaves search dialogue when clicking the "gifs" tabs in the emoji popup"
#### Summary
Cursor leaves search dialogue when clicking the "gifs" tabs in the emoji popup

#### Steps to reproduce
Click the emoji popup icon. you will notice the cursor go to the search. click the gif tab. and the cursor leaves. requiring an (agonising :) ) extra click before typing to search gfycat

#### Expected behavior
cursor should stay in the search test box

#### Observed behavior (that

[2018-10-02 22:44] amyblais commented on #9529
Hi @thejacer87, thank you for reporting this.

I tested this on our [Community server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and wasn't able to reproduce.

Can you help with more details on your device, OS and Mattermost server version?

[2018-10-03 00:17] amyblais commented on #9527
Hi @Ouroboros1977, thank you for reaching out.

Can you help check what this setting is set to on your server: System Console > Security > Require Email Verification?

[2018-10-03 00:37] jasonblais commented on #9526
@djakubiec @amyblais Support for iPhone XR, XS and XS Max is in fact coming with the next release on Oct 16th:

https://github.com/mattermost/mattermost-mobile/pull/2153

[2018-10-03 00:52] djakubiec commented on #9526
Oh, that fix sounds very promising thank you!

[2018-10-03 03:58] Roy-Orbison commented on #8595
Why is this closed in both Atlassian and GitHub without any resolution? There isn't even a prompt to also delete files when deleting a post. Why would you assume that no user will ever want to delete a file they've uploaded? Some files shouldn't have been sent in the first place, or the wrong people can access them, or they're wasting space, were only needed temporarily, etc. Plenty of reasons for

[2018-10-03 04:00] Roy-Orbison commented on #8561
@lindy65 where's the delete command? https://api.mattermost.com/#tag/files

[2018-10-03 05:52] sonasingh46 commented on #9490
@jespino
I have raise a PR... Please tell if I am going write or if any modification needs to be done etc.

[2018-10-03 07:19] xcompass opened #9532 "Inconsistent AD/LDAP wording usage on account creation page from invite link"
#### Summary
Inconsistent AD/LDAP wording usage

#### Steps to reproduce
* Enable LDAP integration and set ldap->Login Field Name to something else other than default
* Create a team with invite link and copy the link
* logout and use the link to access account creation page

#### Expected behavior
Show customized LDAP name instead of default "AD/LDAP Credentials"

#### Observed behavior (that app

[2018-10-03 08:27] jespino commented on #8498
@dos1701 The current "export" feature is under development yet. This ticket is for the "import" part, for test it you can use a "hand-made" export or for example, generate a `bulk.json` file with the `mattermost sampledata` command with the `-b` flag. And then modify the content of the `bulk.json`.

About the new email_interval, looks a good solution. Two small considerations:

1. When you disable

[2018-10-03 08:50] esethna opened #9533 "[Help Wanted] [MM-12365] Create CLI command "team rename""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 08:59] NGTmeaty commented on #9533
I'm working on this!

[2018-10-03 09:06] jespino commented on #9533
Awesome! Thanks @NGTmeaty

[2018-10-03 09:41] esethna opened #9534 "[Help Wanted] [MM-12360] Create CLI command "config get""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 09:41] esethna opened #9535 "[Help Wanted] [MM-12361] Create CLI command "config set""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 09:41] esethna opened #9536 "[Help Wanted] [MM-12362] Create CLI command "config show""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 09:48] mukulrawat1986 commented on #9534
Hi, can I work on this issue?

[2018-10-03 09:51] jespino commented on #9534
@mukulrawat1986 Sure! If you have any doubt or you need any advice let me know. You can find me over here, or in https://pre-release.mattermost.com.

[2018-10-03 09:55] mukulrawat1986 commented on #9534
Thanks. I am going through the developer workflow and will let you know if I have any doubts.

[2018-10-03 10:08] mukulrawat1986 commented on #9535
@jespino I have started working on the "config get" command, so can I work on the set and show command too?

[2018-10-03 10:10] jespino commented on #9535
@mukulrawat1986 sure! makes a lot of sense to pick them together, it's not a requirement, but makes sense :)

[2018-10-03 10:20] mukulrawat1986 commented on #9536
Just commenting here cause I am working on this issue too. Thanks.

[2018-10-03 10:30] swood commented on #9496
Hello, @amyblais. As I said before I have the same problem with latest version.

[2018-10-03 11:14] #9510 closed

[2018-10-03 11:16] fraziern commented on #9500
I can take a look at this.

[2018-10-03 12:16] fbartels commented on #9496
I would still recommend to retest this when setting `"Enable": false,` within the `PluginSettings` block in your config.json. Maybe you stumbled upon the same issue I have.

[2018-10-03 12:33] esethna opened #9537 "[Help Wanted] [MM-12459] [Bulk Export] Include User Notify Props in the Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:33] esethna opened #9538 "[Help Wanted] [MM-12458] [Bulk Export] Include User Preference Fields in the Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:38] esethna opened #9539 "[Help Wanted] [MM-12462] [Bulk Export] Include favourite channels in Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:38] esethna opened #9540 "[Help Wanted] [MM-12461] [Bulk Export] Include the per-channel NotifyProps for Users in Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:38] esethna opened #9541 "Include the Theme property on UserTeamMemberships in Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:39] amyblais commented on #9526
Closing this as the fix has been resolved and tested internally,

[2018-10-03 12:39] #9526 closed

[2018-10-03 12:43] esethna opened #9542 "[Help Wanted] [MM-12463] [Bulk Export] Include Custom Emoji in the Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:49] DSchalla commented on #9496
https://github.com/mattermost/mattermost-server/blob/v5.3.0-rc2/cmd/mattermost/commands/init.go#L19 If Line 19 returns an error and a is nil for whatever reason, a.Config() would trigger the runtime panic, no?

Line 20 should be moved to line 26 I guess so that if there is an issue with the DB connection e.g. the actual error is printed, some of the error cases:
* translation Files cannot be loade

[2018-10-03 12:52] jwilander commented on #9496
Yes we shouldn't definitely fix that. @amyblais can you file a bug ticket with @DSchalla's comment and linking to this thread?

[2018-10-03 12:54] esethna opened #9544 "[Help Wanted] [MM-12464] [Bulk Export] Include DM/GM Channels and Their Posts in the Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 12:54] DSchalla commented on #9496
@amyblais I will send a PR later today to fix that, feel free to file the bug ticket never the less of course.

[2018-10-03 12:58] swood commented on #9496
@fbartels yes, I tried, but it didn't help. Unfortunately.
@jwilander @amyblais when I could try a build with fix from @DSchalla?

[2018-10-03 12:59] jwilander commented on #9496
When a PR gets submitted a build is automatically created based off master, so you could test with that

[2018-10-03 13:00] esethna opened #9545 "[Help Wanted] [MM-12465] [Bulk Export] Include reactions to posts in the Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 13:03] lannonbr commented on #9541
I'm interested in tackling this issue.

[2018-10-03 13:05] esethna opened #9546 "[Help Wanted] [MM-12466] Campaign to fill out the Command Line Interface"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-03 13:06] #9546 closed

[2018-10-03 13:07] DSchalla commented on #9496
PR got submitted, please be aware that this fix will not solve the problem itself, but instead will point out the actual root-cause why the App Runtime could not be started @swood

**Jenkins Build**: https://build.mattermost.com/job/mp/job/mattermost-platform-pr-split/4129/

[2018-10-03 13:08] grundleborg commented on #9541
Hi @lannonbr , that's great. If you need any help at all with getting started, or want to discuss ideas about the implementation, do feel free to ask here or on the Mattermost server linked at the start of this ticket. You can find me there with the name `@george`.

[2018-10-03 13:10] VPashkov commented on #9537
Hi!
I would like to work on this issue.
Can I grab it?

[2018-10-03 13:30] swood commented on #9496
I can see that the build was successful. Could anyone review and merge it?

[2018-10-03 13:47] amyblais commented on #9496
Link to associated Jira ticket: https://mattermost.atlassian.net/browse/MM-12468.

[2018-10-03 14:05] jespino commented on #9537
@VPashkov Sure! Let me (or @grundleborg) know if you have any question. You can find us here or in https://pre-release.mattermost.com.

[2018-10-03 14:31] levb commented on #7801
@lieut-data @crspeller Thanks for the comments. The requirement to run plugins on all files regardless of the size makes sense and is understood. I do not believe this to be easily accomplishable, without a material change to the plugin implementation and maybe even the API. Going there seems like opening another can of worms, so I'd like to see what improvements I can make without such changes.

[2018-10-03 14:39] amyblais commented on #9222
The Jira ticket has been resolved and tested internally - the fix will be available in v5.4 release,

[2018-10-03 15:30] ralgozino commented on #7665
Hello!
Mattermost Version: 5.2.2 seems to have reintroduced this bug 🐛 Anyone else can confirm?

[2018-10-03 15:43] Ouroboros1977 commented on #9527
Require email verification is turned on.  Users can't join unless they've been sent an invitation.

[2018-10-03 15:59] consideRatio opened #9548 "Creating user through GitLab sign on fails - password length ?"
The [mattermost documentation](https://docs.mattermost.com/administration/config-settings.html#password) describes that the team edition now ships with a minimum password length.

Now, when I try to create an account on my deployment through GitLab as authentication mechanism, I fail like this:

![create-account-gitlab-auth](https://user-images.githubusercontent.com/3837114/46422511-d6286b00-c734-

[2018-10-03 16:11] fmp777 commented on #8595
Yea thats pretty bad reasoning there

The data is LOST and FLOATING with no REFERENCE because the message with it was deleted. It makes no sense to leave it there cluttering server especially without even an admin "clean" function to get rid of it.  Bloat-ware is what this creates.

I think we all use mattermost because we don't like what "other apps" do - so open mind and break mold please!

[2018-10-03 16:15] amyblais commented on #9529
Hi @thejacer87, would you be able to upgrade to the latest server version (v5.3) and see if it fixes the issue for you? You can test it out first on our [Community server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) if you'd like.

[2018-10-03 16:44] dannykorpan opened #9549 "Wrong German translation in password reset dialog"
#### Summary
Wrong german translation within the password reset dialog.

#### Steps to reproduce
Reset your password, receive the password reset email, click on the link in the email, enter a less secure password and you will receive the attached error text, instead a correct translation of mode.user.is_valid.pwd_lowercase_uppercase_number_symbol.app_error

![2018-10-03 18_35_23-mattermost](https:

[2018-10-03 16:47] amyblais commented on #9549
Hi @dannykorpan, thank you for reporting this.

What Mattermost server version are you using?

[2018-10-03 16:50] dannykorpan commented on #9549
5.3.1

[2018-10-03 16:57] thejacer87 commented on #9529
looks like you are correct. sorry for the false alarm

thanks

[2018-10-03 16:57] #9529 closed

[2018-10-03 17:20] jasonblais commented on #7665
Thank you @ralgozino for the report. We'll look into it. Which version did you upgrade from?

[2018-10-03 17:29] amyblais commented on #9532
Hi @xcompass, thank you for reaching out.

The "Login Field Name" refers to the login page username field, e.g. on our test server we have it set as "Mattermost Corp Username" and it shows on the username field:

<img width="505" alt="screenshot at oct 03 13-15-46" src="https://user-images.githubusercontent.com/29708087/46427746-2c36e780-c710-11e8-902a-1e0c6e8093b8.png">

When you said "We are abl

[2018-10-03 17:29] jespino commented on #7665
I can write backticks in my spanish keyboard in https://pre-release.mattermost.com

[2018-10-03 17:30] ralgozino commented on #7665
I Don't remember exactly, but we use GitLab Omnibus, so the one that was
included with GitLab 11.3

El mié., 3 de oct. de 2018 14:21, Jason Blais <notifications@github.com>
escribió:

[2018-10-03 17:31] amyblais commented on #9549
Thank you, I'll forward this feedback to our translators.

[2018-10-03 17:37] jasonblais commented on #7665
Thank you @ralgozino ,

would you be open to creating an account on our community server (running Mattermost v5.4, coming on Oct 16th) and try if you can reproduce the issue there?

https://pre-release.mattermost.com

[2018-10-03 17:38] ralgozino commented on #7665
Sorry, I should had added that the problem is while using the Mattermost
Desktop app on Windows.

This happened before and got fixed in Matternost 4.9.

El mié., 3 de oct. de 2018 14:30, Jesús Espino <notifications@github.com>
escribió:

[2018-10-03 17:49] ralgozino commented on #7665
Sure thing. I have created an account on pre-release.mattermost.com and
logged in from Mattermost Desktop, the behavior (that backtick opens
keyboard shortcuts).

Using Firefox the backtick works as expected.

I'm online right now if you want to ping me

El mié., 3 de oct. de 2018 14:37, Jason Blais <notifications@github.com>
escribió:

[2018-10-03 17:59] jespino commented on #7665
I use DesktopApp in linux and works properly, I think we can assume that is a problem with Windows+DesktopApp, related to how it handles the shortcuts.

[2018-10-03 18:05] ralgozino commented on #7665
Just for the sake of clarity, I'm having the issue that I reported before:
https://github.com/mattermost/desktop/issues/721
This got fixed some time and now is happening again

[2018-10-03 18:11] jasonblais commented on #7665
Thanks all! Have created a ticket here https://mattermost.atlassian.net/browse/MM-12471

[2018-10-03 18:50] jwilander commented on #9378
@drgsutu did you get a chance to look at submitting an example to the demo plugin?

[2018-10-03 20:55] amyblais commented on #9548
Hi @consideRatio, thank you for reaching out.

What is your "Minimum Password Length" setting currently set to?

[2018-10-03 21:27] consideRatio commented on #9548
mattermost -> gitlab - > azure ad

[2018-10-03 21:57] amyblais commented on #9514
### v5.4 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.4.0-rc1/mattermost-team-5.4.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/8fd22bfd56100d4a9280cbdc58cba0f59897aa78/source/administration/changelog.md)

[2018-10-03 22:17] dos1701 commented on #8498
@jespino thanks for your reply!
The method you proposed to do the manual testing is actually the one I used while working on this issue, I'm sorry I thought I had to work also on the export part, so is it safe to leave it at that for now since it's in active development?

About your considerations, sorry, I'm starting for the second one:
I'm actually using: ```model.PREFERENCE_EMAIL_INTERVAL_NO_BA

[2018-10-03 22:31] amyblais commented on #9538
Thank you! Yes, this is available, let us know if you have any questions.

[2018-10-03 22:48] kaakaa commented on #6174
@jasonblais
I checked [`en.json` in mattermost-mobile](https://github.com/mattermost/mattermost-mobile/blob/master/assets/base/i18n/en.json) and confirmed that it has no HTML tag.

And I re-checked mattermost-server and mattermost-webapp, I found some messages to fix.
[Fix messages to markdown style by kaakaa · Pull Request \#1824 · mattermost/mattermost\-webapp](https://github.com/mattermost/matt

[2018-10-03 23:04] amyblais commented on #9527
@Ouroboros1977 Can you help with details on your LDAP config settings: https://docs.mattermost.com/administration/config-settings.html#ad-ldap.

[2018-10-04 03:51] satyamz commented on #9491
Hi @jespino I implemented this for `mattermost channel search teamID:dev`.
Is it ok or Do I need to implement it for other scenarios?

[2018-10-04 05:43] jespino commented on #8498
You don't need to implement the export here, actually, I saw that you found the other Help Wanted ticket to do that and assign it to you :)

Yes that would be enough, but I would like to preserve the consistency with the current interface behavior, to avoid future subtle bugs.

[2018-10-04 05:44] jespino commented on #9539
@gupsho Awesome! Let me (or @grundleborg) know if you need any kind of help. You can find us here or in https://pre-release.mattermost.com

[2018-10-04 05:47] jespino commented on #9549
Is a problem with the translation extraction tool and dynamically generated string. I going to fix that in the extraction tool.

[2018-10-04 08:11] jespino commented on #9491
@satyamz I added a comment in the PR

[2018-10-04 09:27] #9480 closed

[2018-10-04 11:13] jkurian commented on #7494
Hi @jasonblais, sorry I have been swamped with work and I don't see it clearing up anytime soon. Maybe a good idea to open this back up to the public?

[2018-10-04 11:19] waseem18 commented on #9509
@esethna
So `team archive` simply archives all the channels of the given team. Am I right?

[2018-10-04 12:47] pradeepmurugesan commented on #9357
I can work on this.

[2018-10-04 12:53] amyblais commented on #9357
Thank you! Let us know any questions.

[2018-10-04 13:51] Ouroboros1977 commented on #9527
@amyblais Below is our AD/LDAP settings:
    "LdapSettings": {
        "Enable": true,
        "EnableSync": true,
        "LdapServer": "corp.domain.com",
        "LdapPort": 389,
        "ConnectionSecurity": "",
        "BaseDN": "DC=corp,DC=domain,DC=com",
        "BindUsername": "ldaplookupaccount",
        "BindPassword": "ldaplookupaccountpassword",
        "UserFilter": "(\u0026(objectCate

[2018-10-04 15:10] jasonblais commented on #7494
Thanks @jkurian! Sounds good, we've added the "Up For Grabs" label back.

[2018-10-04 16:17] gamersalpha commented on #918
Hello there,

i m looking how make a cross compiling for arm raspberry ?

[2018-10-04 16:47] drgsutu commented on #9378
Hi @jwilander, I have made the server-side changes when we had the initial discussion, I still have to add some front-end code.
I will do my best to create a pull request this week, if it's not too late.

[2018-10-04 17:01] jwilander commented on #9378
Sounds good and no rush :+1:

[2018-10-04 17:42] pradeepmurugesan commented on #9357
@amyblais @esethna I could see that, the component already calls the PUT /api/v4/users/patch endpoint.

Kindly let me know , if I am looking in the wrong place.

<img width="1433" alt="screen shot 2018-10-04 at 23 10 49" src="https://user-images.githubusercontent.com/528317/46492304-c7bc7b00-c82a-11e8-8ebc-c1e72bde6c09.png">

[2018-10-04 17:44] amyblais commented on #9357
@hmhealey Can you help with this ^

[2018-10-04 17:49] jespino commented on #9509
I would expect to simply archive the team, but not the channels inside it.

[2018-10-04 18:19] esethna opened #9559 "[Help Wanted] [MM-12369] Create CLI command "webhook create-outgoing""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-04 18:19] esethna opened #9560 "[Help Wanted] [MM-12368] Create CLI command "webhook create-incomming""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-04 18:19] esethna opened #9561 "[Help Wanted] [MM-12374] Create CLI command "webhook move""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-04 18:19] esethna opened #9562 "[Help Wanted] [MM-12375] Create CLI command "webhook show""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-04 18:19] esethna opened #9563 "[Help Wanted] [MM-12370] Create CLI command "webhook delete""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-04 18:55] morris-jason commented on #9559
I'd like to work on this but can't get to it until tomorrow. Would that be ok?

[2018-10-04 18:56] jespino commented on #9559
Sure, no problem, take your time :)

[2018-10-04 18:57] jespino commented on #9559
If you have any question, ask me. You can find me here, or in https://pre-release.mattermost.com.

[2018-10-04 18:58] jlevesy commented on #9507
Okay so status update :) :

- Server side implementation is done here #9552 (with documentation update here https://github.com/mattermost/mattermost-api-reference/pull/401)
- Redux and javascript client binding is here https://github.com/mattermost/mattermost-redux/pull/664
- I have a WIP branch [here](https://github.com/jlevesy/mattermost-webapp/tree/MM-12068) which does implement-ish the new UX.

[2018-10-04 19:34] dos1701 commented on #8498
Yep! :)

Fair enough, very well I'll submit the PR shortly for review.

Thank you!

[2018-10-04 20:03] lucchmielowski commented on #9562
Hi ! I'd like to help on this issue ! :smiley:

[2018-10-04 20:06] jespino commented on #9562
Awesome!, Let me know if you need any help. You can find me here and in https://pre-release.mattermost.com

[2018-10-04 20:47] waseem18 commented on #9509
I've put up a PR for this issue - https://github.com/mattermost/mattermost-server/pull/9565

Please let me know if I'm on the right track.

Also I'll take a look at the build failure.

[2018-10-04 20:57] amyblais commented on #9507
@esethna Can you help with the questions on `deleteBrandImag` or ping a dev ^

[2018-10-04 21:27] xcompass commented on #9532
Thanks. @amyblais. We are able to customize the Login Field Name as in your screenshot. But I think on the invite page, instead of showing "AD/LDAP Credentials", it should show "Mattermost Corp Account" in your case (so something similar). Otherwise, user won't know "AD/LDAP Credentials" is the "Mattermost Corp Account", right?

[2018-10-04 21:28] dos1701 commented on #8498
@jespino quick question:

I'd like to use the import validator, where should I put it? into the user.go file or preference.go? (or somewhere else)

[2018-10-04 22:05] consideRatio commented on #9548
It worked, as long as I removed the openid part.

[2018-10-04 22:05] #9548 closed

[2018-10-04 23:58] amogozov commented on #9560
Hey @esethna @jespino ! I would like to brush up my go skills and try this issue

[2018-10-05 00:03] #6174 closed

[2018-10-05 00:14] amyblais commented on #9560
Awesome! Let us know if you have any questions.

[2018-10-05 00:16] june-xu commented on #9283
@scottleedavis Thanks so much for creating this (much needed) bot, and helping integrate it into MM. I was wondering when MM users can expect to start using it?

[2018-10-05 03:59] scottleedavis commented on #9283
Thank you @june-xu !

Here is the state of things:
Core algorithm is complete.  (I18n translation took longer than expected).  Unit tests complete (app, store and model)

Todo:
Add interactive buttons to reminders
Strikethrough completed reminders
Listed reminders with link/flatbuttons
UI reminders CRUD

After dev complete, the UX team has feedback that likely iterates a few times.

After that, a

[2018-10-05 04:12] shovanmaity commented on #9563
Hi ! I'd like to help on this issue !

[2018-10-05 04:12] shovanmaity commented on #9561
Hi ! I'd like to help on this issue !

[2018-10-05 04:52] shovanmaity commented on #9540
Hi ! I'd like to help on this issue !

[2018-10-05 06:01] jespino commented on #9561
Awesome @shovanmaity! Let me know if you need anything, you can find me here or in https://pre-release.mattermost.com

[2018-10-05 06:02] jespino commented on #9563
Awesome @shovanmaity! Let me know if you need anything, you can find me here or in https://pre-release.mattermost.com

[2018-10-05 06:11] jespino commented on #8498
If you want to write your own import validator, you simply add it to the `app/import_validators.go` if you want to validate during the import are normally used in the `app/import_functions.go`.

[2018-10-05 06:42] esethna commented on #9540
Thanks @shovanmaity!

[2018-10-05 09:48] jespino commented on #9490
closed by #9531

[2018-10-05 09:48] #9490 closed

[2018-10-05 09:52] klebervirgilio commented on #9523
@jasonblais are we talking something like this?

[code]

[2018-10-05 12:42] amyblais commented on #8942
Thank you @pchch! Let us know if you have any questions.

[2018-10-05 13:30] amyblais commented on #9527
Hi @Ouroboros1977, I'm continuing to research more information on this, but one thing I noticed is that "FirstNameAttribute" has a typo - "giveName" should be "givenName".

[2018-10-05 13:31] waseem18 commented on #9509
I've been looking into the cause of build failure, I see the `test-te` command from `Makefile` failed for some reason. I'm not sure why it failed.

Do you have any idea why the tests fail in `team edition` i.e `test-te` from Makefile. I haven't yet added any tests of the archive command though.

[2018-10-05 13:34] jespino commented on #9302
@cometkim sorry, @amorriscode already submitted a PR :(

[2018-10-05 13:36] jespino commented on #9509
Yes, probably pre-release is the better way, because there you can stablish a proper conversation.

[2018-10-05 13:38] jespino commented on #9509
Anyway, sometimes we have some problems with the tests. We are working on improve the isolation between test runs in Jenkins to improve that. Sometimes you only need to close and reopen the PR to re-launch the tests in Jenkins, and they pass.

[2018-10-05 13:46] dos1701 commented on #8498
Yep that’s what I did, but I saw that you have sone kind of generic validators like isvalidtrueorfalsestring ecc ecc

I want to create something like isvalidbulkemailinterval but I was thinking about the moat suitable location to put that function.

On Fri, Oct 5, 2018 at 08:11, Jesús Espino <notifications@github.com> wrote:

[2018-10-05 14:04] amorriscode commented on #9302
@jespino Whoops! That's actually a typo. Mine is for [GitHub issue #9301](https://github.com/mattermost/mattermost-server/issues/9301). 😳

[2018-10-05 14:06] jespino commented on #9302
Whoops, sorry for the confusion @cometkim You can keep going with this one.

[2018-10-05 14:19] esethna opened #9570 "[Help Wanted] [MM-11046] Migrate to Flow file src/actions/posts.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-05 14:19] esethna opened #9571 "[Help Wanted] [MM-11047] Migrate to Flow file src/actions/errors.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-05 14:19] esethna opened #9572 "[Help Wanted] [MM-11048] Migrate to Flow file src/actions/channels.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-05 14:40] amyblais commented on #9532
@xcompass Thank you for the feedback, I've asked our team about whether it's possible to customize the "AD/LDAP Credentials" button and I'll let you know what they say.

[2018-10-05 15:16] esethna opened #9573 "[Help Wanted] [MM-12538] Migrate to idiomatic error handling the file `app/session.go` in the mattermost-server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-05 15:16] esethna opened #9574 "[Help Wanted] [MM-12537] Migrate to idiomatic error handling the file `app/status.go` in the mattermost-server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-05 15:16] esethna opened #9575 "[Help Wanted] [MM-12536] Migrate to idiomatic error handling the file `app/user_agent.go` in the mattermost-server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-05 15:16] mukulrawat1986 commented on #9573
I would love to work on this.

[2018-10-05 15:17] mukulrawat1986 commented on #9574
I would like to work on this.

[2018-10-05 15:17] mukulrawat1986 commented on #9575
I would like to work on this.

[2018-10-05 15:17] Ouroboros1977 commented on #9527
Hi @amyblais
I fixed the typo and restarted the service but I'm still seeing the same error.

[2018-10-05 15:52] xcompass commented on #9532
Great. Thanks.

On Fri, Oct 5, 2018 at 8:26 AM amyblais <notifications@github.com> wrote:

--
Cheers,
Pan

[2018-10-05 17:49] waseem18 commented on #9509
I have a question @jespino

After archiving a team, should it appear in `team list` and `team search` commands?

I'm now using the `SoftDelete` method to archive a team and after archiving I see that the `team` disappears from the Web app but still appears via `team list` and `team search` commands.

I'm writing test case for `archive` and wanted to know how to verify if a team is actually archive

[2018-10-05 17:55] waseem18 commented on #9509
I see `channels` add `archived` command to the team names in the results of `channel list` and `channel search`.

Would be better if we follow the same approach. Will have to tweak the `team list` command then.

[2018-10-05 17:57] jespino commented on #9509
Yes, would be great to add that to the other commands, and makes sense to do it in the same PR :)

[2018-10-05 19:16] waseem18 commented on #9545
I would like to take up this issue.

[2018-10-05 19:18] esethna commented on #9507
@jespino any guidance you can provide on the first to do item above?

Regarding styling the button, we can have our team help with that after the PR is submitted if you'd prefer?

[2018-10-05 19:19] esethna commented on #9545
Thanks @waseem18!

[2018-10-05 19:28] jlevesy commented on #9507
Thanks. I'll give it a try first :)

[2018-10-05 20:05] amyblais commented on #9527
Email notifications are also enabled in the System Console?

[2018-10-05 22:35] JonathonReinhart opened #9579 "Mattermost allows users to be removed from a DM (via the API) which breaks things"
**TL;DR** My Mattermost system is broken because I tried to work-around a Mattermost bug.

It looks like Mattermost allows, via the API, the ability to "leave" a DM. If you do, you can never DM with that group again.

I'm running Mattermost as bundled with GitLab Omnibus.

## Story
I have a user ("W", `192.168.1.120` and later `192.168.1.58`) who used to use some Mattermost-IRC bridge. (I can get

[2018-10-05 22:47] JonathonReinhart commented on #9579
Here's the full log of my actions today, with user ID's changed for privacy, and a few huge `select *` queries removed: [full_log.txt](https://github.com/mattermost/mattermost-server/files/2452473/full_log.txt)

[2018-10-05 23:35] amyblais commented on #9579
Hi @JonathonReinhart, thank you for reaching out.

We fixed a bug for this in v5.3, so I recommend upgrading to that version - ticket here for reference: https://mattermost.atlassian.net/browse/MM-11593.

[2018-10-06 03:41] JonathonReinhart commented on #9579
Thanks @amyblais. I'm running Mattermost as part of GitLab so I'll have to wait for that update.

As far as the database goes, is there any way to recover this? It appears that there may be some other underlying DB issue that's I've inadvertently triggered.

[2018-10-06 05:01] santos22 commented on #9156
Hey @jasonblais! Would love to work on this issue if it hasn't been done yet 👍

[2018-10-06 06:16] phillip055 commented on #9572
I am on it!

[2018-10-06 10:58] ArjonBu commented on #6320
Is there a fix for the latest version? I can't believe a very critical feature like this is not included in the open source version....

[2018-10-06 13:45] jasonblais commented on #9156
Awesome! @santos22 it's available. Let us know if you have any questions.

Glad to see you around :)

[2018-10-06 21:46] cometkim commented on #9302
:+1: @jespino It's done, ready to review!

[2018-10-06 21:49] jespino commented on #9302
Awesome :)

[2018-10-07 00:36] jasonblais commented on #9523
@klebervirgilio In this case`command` is referring to slash commands, and the random string is referring to one of the slash command IDs.

You can retrieve a list of commands (and their IDs) via `command list` https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/commands/command.go#L28

Let me know if I can help clarify? Appreciate your help with this :)

/cc @jespino

[2018-10-07 02:01] jasonblais commented on #6174
Huge thanks @kaakaa for your help throughout :)

[2018-10-07 04:44] jasonblais commented on #7721
@MathieuTougas wondering if your work at https://github.com/MathieuTougas/electron-node-desktop-idle would be helpful for this issue?

[2018-10-07 05:58] wejick commented on #9544
I'll try to pick up this

one question for now
Is GM considered the same thing as DM? Quick check on import.go, couldn't find any reference to group.

[2018-10-07 12:57] ashishranjan738 commented on #9571
i would like to work on this

[2018-10-07 13:00] ashishranjan738 commented on #9572
I would like to work on this.

[2018-10-07 13:01] ashishranjan738 commented on #9570
I would like to work on this.

[2018-10-07 14:47] mukulrawat1986 opened #9580 "Panic when modifying the config file and persisting change by using app.PersistConfig()"
So I am working on the issue MM-12361 which involves creating the cli command `config set` which will update the value of a config setting. I have been able to build this command by using a custom function in `app.UpdateConfig()`. To persist the changes made to the config file I use the function `app.PersistConfig`.

The writes made to the file do persist but it always panics. By doing some debugg

[2018-10-07 17:02] mszostok commented on #9233
Hi, @esethna I would like to take care of it, but could you clarify what do you mean by saying

?
I've checked the source code and introduced changes from **MM-7197** task.

there is a `GetExplicitMentions` method where we can pass the `keywords`which are gathered from `GetMentionKeywordsInChannel` func.

By saying *custom* you mean the values from the keywords arg? Because there is a functionalit

[2018-10-07 19:03] dos1701 commented on #9538
Hey @amyblais would it be ok if I transform function ImportLineFromUser as a method of the struct App?
So i can call GetPreferencesForUser easily

[2018-10-07 21:56] levb commented on #7801
@lieut-data @crspeller @coreyhulen I filed the above PR as a sort of progress report. See the notes there for what's accomplished and what's still to be done. I have _not_ yet implemented large upload passthrough via temp files, and in general haven't really done much with plugins yet. I have accomplished a material memory footprint reduction while processing uploads.

Please note that the PR is i

[2018-10-08 04:28] jasonblais commented on #9570
Thanks @ashishranjan738! Let us know if you have any questions :)

[2018-10-08 04:31] jasonblais commented on #7801
Thank you @levb! It is a Canadian holiday on Monday (for crspeller and lieut-data) - just wanted to mention in case you don't hear back until Tuesday :)

[2018-10-08 04:35] jasonblais commented on #9233
@mszostok Good question.

By "custom", we mean the "Other non-case sensitive words, separated by commas" in **Account Settings > Notifications > Words that trigger mentions**.

![image](https://user-images.githubusercontent.com/13119842/46592547-d8baf580-ca91-11e8-976d-53aa49b0512d.png)

So it does sound like what you're referring to above - though I'm not able to confirm as a non-developer :)

/c

[2018-10-08 05:46] avasconcelos114 commented on #9485
I could help out with this one if that's okay.

Just got a couple of questions about the `Upload Plugins` part:
1. Which link are you looking to add to the `See documentation to learn more`  part? [This one](https://docs.mattermost.com/administration/config-settings.html#plugins-beta) makes sense to me but I was wondering if anything else fits better
2. Should the `Upload` button be disabled when

[2018-10-08 14:51] JonathonReinhart commented on #9579
With the help of a SQL wizard colleague, we fixed it.

**The problem was that my `INSERT INTO channelmembers` did not include the `roles` column.**

When I first issued the `SELECT`, I saw that `roles` was "empty", so I omitted it from the `INSERT`.
[code]

Recall the schema of the `channelmembers` table:
[code]

**The problem is that `roles` should be marked `not null` because Go does not support

[2018-10-08 14:51] #9579 closed

[2018-10-08 15:00] JayaKrishnaNamburu commented on #8455
I will give my contribution for this

[2018-10-08 15:02] sudheerDev commented on #8455
Thanks, @JayaKrishnaNamburu. Let us know if you have any questions.

[2018-10-08 15:29] mickmister commented on #9501
I'd like to work on this. I couldn't find a modal that already does this action, so I've taken some time looking at how modals are spawned and how their state is maintained, as well as how some modals may be re-used for slightly different purposes. I'll be asking questions on some of these details on the dev chat as I continue to work on the feature.

As far as the feature is concerned, is this so

[2018-10-08 16:40] mickmister commented on #9501
In the Invision design included above, the channel picker is a drop down select box. All channel pickers I've seen in the app have been standard text boxes that show results below in a drop down fashion as the user types. I think that same functionality would be re-used in this case, but I wanted to clarify since the design shows a different component being used for the selection.

[2018-10-08 16:43] wejick commented on #9544
I stumbled upon this import validation.
https://github.com/mattermost/mattermost-server/blob/fe9a81208e4d8290df7b8d89bac2d880c045b84b/app/import_validators.go#L447

Here you can see that direct channel with less than 2 members will be rejected. But I found that we can have single member channel (the you channel)

How do we want it to be handled?
1. Don't export single member Direct channel
2. Chan

[2018-10-08 16:57] wejick commented on #9544
After that I want to discuss about post export, the current code is to only export and import post from channel with team id.
I'd like to know how we prefer to handle this before I proceed to the implementation :
Export
1. Change the current query to export all post
2. Create new query to handle this

I prefer to use current query and change the INNER JOIN to LEFT JOIN for `Teams` table.

Import
I

[2018-10-08 16:58] esethna opened #9583 "[Help Wanted] [MM-12605] Migrate to idiomatic error handling in the file `app/preference.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-08 16:58] esethna opened #9584 "[Help Wanted] [MM-12608] Migrate to idiomatic error handling in the file `app/scheme.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-08 16:58] esethna opened #9585 "[Help Wanted] [MM-12607] Migrate to idiomatic error handling in the file `app/saml.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-08 16:58] esethna opened #9586 "[Help Wanted] [MM-12606] Migrate to idiomatic error handling in the file `app/role.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-08 16:59] grundleborg commented on #9544
@wejick That's an excellent question! When this was implemented, you could not DM with yourself, but now you can. I'm not sure immediately what the correct thing to do here is. Maybe it needs to be addressed in a separate ticket.

And as for you latest question, let me think for a minute then I will reply :)

[2018-10-08 17:00] mukulrawat1986 commented on #9585
Can I have this?

[2018-10-08 17:15] mukulrawat1986 commented on #9586
Can I have this? I am done with MM-12607.

[2018-10-08 17:40] Pomazan-Bogdan opened #9588 "Users can kick other users off a channel"
The default settings in the configuration file for limiting the ability to delete a user from the channel by another normal user do not work.
         "RestrictPublicChannelDeletion": "system_admin",
         "RestrictPrivateChannelDeletion": "system_admin",
         "RestrictPublicChannelManagement": "system_admin",
         "RestrictPrivateChannelManagement": "system_admin",

[2018-10-08 17:42] Pomazan-Bogdan commented on #9588
https://forum.mattermost.org/t/users-can-kick-other-users-off-a-channel/4773

[2018-10-08 17:57] waseem18 commented on #9583
I'd like to take up this.

[2018-10-08 18:06] hanzei commented on #9586
I would like to work on this.

[2018-10-08 18:06] hanzei commented on #9583
I would like to work on this.

[2018-10-08 18:40] grundleborg commented on #9583
That's great @hanzei . You can ping me on pre-release if you have any questions :)

[2018-10-08 19:20] SmartHoneybee opened #9591 "Mattermost panics when enabling a plugin"
#### Summary
Mattermost panics if a directory in `./plugins` is (e.g.) not traversable (any error returned by `os.Open` that is not `os.ErrNotExist` should trigger this).

#### Steps to reproduce
* Happens in `v5.3.1`. (Should also happen on `v5.4.0-rc1`.)
* Create a directory called `a_test` in `./plugins`. (Exact name doesn't matter, but has to be lexicographically smaller than other plugins ins

[2018-10-08 20:08] cored commented on #9584
@esethna Can I work on this?

[2018-10-08 20:19] hanzei commented on #9586
@mukulrawat1986 sure, go ahead

[2018-10-08 20:22] mukulrawat1986 commented on #9586
thanks

[2018-10-08 20:28] cored commented on #9584
@esethna couldn't resist when ahead and did it.

[2018-10-09 08:38] esethna opened #9596 "Create CLI command "config reset""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-09 08:40] mukulrawat1986 commented on #9596
I would like to work on this.

[2018-10-09 08:40] jespino commented on #9596
Awesome :)

[2018-10-09 08:58] esethna opened #9597 "[Help Wanted] [MM-12358] Create CLI command "command modify""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-09 11:38] JayaKrishnaNamburu commented on #5790
Hi @sudheerDev, I would like to contribute to this.

[2018-10-09 11:40] jasonblais commented on #9485
Great questions!
1. You can use this link: https://about.mattermost.com/default-plugin-uploads
2. The `Upload` button should be disabled if plugins aren't enabled, or if plugin uploads aren't enabled.

[2018-10-09 11:43] jasonblais commented on #5790
Thanks @JayaKrishnaNamburu!

[2018-10-09 11:50] jasonblais commented on #9501
Thanks @mickmister! Good questions. @esethna / @asaadmahmood would you be able to help with the above?

[2018-10-09 11:58] amyblais commented on #9538
@grundleborg Can you help with this question ^

[2018-10-09 13:32] crazcalm commented on #9597
Do you mind if I try my hand at this?

[2018-10-09 13:36] amyblais commented on #9597
Thank you @crazcalm! Let us know any questions.

[2018-10-09 13:39] fraziern commented on #8497
I can take a look.

[2018-10-09 13:40] amyblais commented on #9464
Hi @ylluminate, we haven't received an update so I'll close this Issue for now.

Thank you for upvoting the feature request!

[2018-10-09 13:40] #9464 closed

[2018-10-09 13:40] amyblais commented on #9452
Hi @bbodenmiller, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-10-09 13:41] amyblais commented on #9404
Hi @jsha , we haven't received an update so I'll close this Issue for now,

[2018-10-09 13:41] #9404 closed

[2018-10-09 14:00] amyblais commented on #9588
Hi @Pomazan-Bogdan, thank you for reaching out.

Can you help confirm if you're on Enterprise Edition version?

[2018-10-09 14:05] Pomazan-Bogdan commented on #9588
No

[2018-10-09 14:19] amyblais commented on #9588
Thanks, these settings are available in Enterprise Edition, so this is why they are not working on your server. Closing this Issue as this is not a bug,

[2018-10-09 14:19] #9588 closed

[2018-10-09 14:32] amyblais commented on #9588
@Pomazan-Bogdan The settings are only available in Enterprise Edition both via config and System Console.

[2018-10-09 14:37] amyblais commented on #9580
Hi @mukulrawat1986, sorry for the delay, I was off yesterday for Thanksgiving.

@cpanato / @jespino can you help take a look at this? ^ (Pinging Dev on rotation for technical support and Dev who owns the Jira ticket that the reporter mentioned https://mattermost.atlassian.net/browse/MM-12361).

[2018-10-09 14:45] amyblais commented on #9591
Thank you for reporting this @SmartHoneybee.

@cpanato Can you help take a look at this one ^

[2018-10-09 14:48] crazcalm commented on #9597
Few Questions:
- What is this modifying (Note: I have never used mattermost)
- Once I have the command line input, which function should I be evoking? Is there a "modify" function that I pass this stuff into?
- In the command example, "w16zb5tu3n1zkqo18goqry1je" looks like the ID for whatever I am modifying. When writing the test, how do I obtain the ID of whatever I just created so that I can pas

[2018-10-09 14:50] amyblais commented on #9597
@jespino Can you help take a look at these questions ^

[2018-10-09 15:25] esethna opened #9598 "Improve autocomplete highlighting when using mouse and keyboard together"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-09 16:27] grundleborg commented on #9538
@dos1701 we're trying to avoid those functions becoming part of the app "monster class" so maybe there is a way it could be avoided? For example, could you get the preferences at the same place in the code as "ImportLineFromUser" is called, and then pass them in as a parameter?

[2018-10-09 16:27] esethna opened #9599 "Paste images on input text box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-09 16:52] santos22 commented on #9156
Glad to be around! @sudheerDev do you know if this will require any Redux work? Also, I think the Go label can be removed if there will be no server changes 😄

[2018-10-09 17:07] hmhealey commented on #9156
The only thing that might be changed in redux would be if you added a helper function to get that setting from the config since it'd be used in both the web and mobile apps. The server changes required for this will just be to add the setting to `model/config.go` and ensure that it's sent to the apps.

[2018-10-09 17:50] waseem18 commented on #9597
I think I can help you with answering your questions so that you're not blocked.

1.  The `command` deals with slash commands of teams. `command modify` modifies an existing slash command.
2. As of now there's no `modify` method and as a part of this issue we would need to write one. You can take a look at similar methods in the file `command.go`.
3. While testing we would need to create a mock co

[2018-10-09 17:53] esethna commented on #9501
Yes thanks @mickmister, makes sense, we can use a similar component as used in the channel switcher. However the difference being the user doing the adding should have to click "Add" in the modal. Where as the channel switcher disappears as soon as you select a channel from the list.

[2018-10-09 19:02] cpanato commented on #9591
its bug we can fix it.

@SmartHoneybee the `a_test`is a plugin or just an empty folder? do you want to submit the Pr to fix that? otherwise, I can to that

thanks for finding this bug

[2018-10-09 19:34] waseem18 commented on #9542
@Hyaxia Are you still working on this issue?

[2018-10-09 19:45] santos22 commented on #9156
Can the setting be retrieved from the config using the following import?
[code]

[2018-10-09 21:17] crazcalm commented on #9597
@waseem18 Thanks for the info!

I have written the boilerplate for the command, and I know the answer to my previously asked 4th question (Extra args, not behind flags, will get passed into my Run function callback as args), but I am still really fuzzy on writing the function that does the actual modifying.

1. Given that an ID is being passed in, I need to be able to query for this ID and, if it

[2018-10-09 21:32] jespino commented on #9580
@mukulrawat1986 can you confirm if this was a problem with the usage of the App layer API, or it is something to fix in the application?

[2018-10-09 21:38] jespino commented on #9597
1. For update the command, you will need to use the `UpdateCommand` function in the `app/command.go`, but for that, you need to get the current existing command, for that use the `GetCommand` in the same file.

2. You don't need to deal with Elastic Search at all in this task, the elastic search is used for the indexation of Posts mainly, so it's not related with this concrete task.

[2018-10-09 22:06] amyblais commented on #9591
Opened a Jira ticket here: https://mattermost.atlassian.net/browse/MM-12641.

[2018-10-09 22:09] SmartHoneybee commented on #9591
Hi @cpanato,

`a_test` is just an empty folder. (But it's content shouldn't matter. More context: https://pre-release.mattermost.com/core/pl/k3fmzaknatyh7xu1wdrye7ofto )

I cannot submit PRs here (CLA).
You submitting a PR would be awesome! Thank you! :slightly_smiling_face:

Regards,
Bee

[2018-10-09 22:44] amyblais commented on #9374
Closing this Issue as there haven't been updates for a while.

You can follow the progress of the auto-updater feature on the above links and we can revisit this when the feature is ready to be implemented.

[2018-10-09 22:44] #9374 closed

[2018-10-10 02:33] crazcalm commented on #9597
@jespino Something seems off. I believe I found the UpdateCommand and GetCommand methods that you were talking about, but the flags used in the example posted in this ticket and the properties of model.Command are not matching up (response-username & post are left out, and I am not sure if the other items are matched up properly).

Can you check my last commit to make sure I am on the right track?

[2018-10-10 05:29] jespino commented on #9545
@waseem18 good question, I would expect to have the same `reactions` field inside each entry of `replies` (when it has replies).

[2018-10-10 05:35] jespino commented on #9597
Sorry, the response username is the `Username` field in the model, and is used to override the username who post the response. The `--post` flag, modifies the `Method` field. If you pass `--post` the Method field must be `P` or even better `model.COMMAND_METHOD_POST` if not it must be `G` or `model.COMMAND_METHOD_GET`.

[2018-10-10 06:21] mukulrawat1986 commented on #9580
I am not very sure about it, its probably to do with reloading the config file while the watcher is enabled. I looked up the file `app/admin.go`, and in the file inside the function `SaveConfig` I can see them first disabling the watchers, then reloading the config and then enabling the watchers. I have followed the same patter in my code and it works perfectly now.

[2018-10-10 08:21] letsila commented on #9505
Hi @esethna, I'd like to work on this issue.

[2018-10-10 08:53] Hyaxia commented on #9542
@waseem18 Sorry didnt find the time for it. You can take it.

[2018-10-10 09:03] waseem18 commented on #9542
Thanks for the prompt reply. Will work on this.

[2018-10-10 11:13] jasonblais commented on #9505
Thanks @letsila! Let us know if you have any questions.

[2018-10-10 12:07] amyblais commented on #8661
Pinging @esethna / @sudheerDev on the above questions ^

[2018-10-10 12:15] sudheerDev commented on #8661
Hey @mase00001, Thanks for the interest.

This ticket stirred up an internal conversation about the changes it needs for the behaviour described.

This most possibly requires server changes including socket emits and DB changes for the pin count to sync in real-time across browser tabs and devices.

We will update you soon with more information about this. Meanwhile please feel free to grab any ot

[2018-10-10 12:32] amyblais commented on #9514
### v5.4 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.4.0-rc2/mattermost-team-5.4.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/8fd22bfd56100d4a9280cbdc58cba0f59897aa78/source/administration/changelog.md)

[2018-10-10 14:05] crazcalm commented on #9597
@jespino Thanks! I think I have the mappings from input to model correct now.

In terms of testing this, how should I go about it? Currently, there is no command_test.go file. Should I create one, or place the test in another location?

Also, the test should look something like the following (let me know if I am wrong and please advise on the 'Help please' lines):

    th := api4.Setup().InitSyste

[2018-10-10 15:11] cpanato commented on #9591
@amyblais can you please make a jira ticket? thanks

[2018-10-10 15:11] cpanato commented on #9591
@SmartHoneybee thanks for this

[2018-10-10 15:17] jasonblais commented on #9233
Hi @mszostok,

How far have you gone in developing this improvement?

I just discussed with our engineering team and it sounds like there is some discussion on what can or can't be a custom mention.

It appears emojis are part of that discussion, so I wanted to hop in and see how far along you are.

[2018-10-10 18:43] amyblais commented on #9580
Sounds that this issue was resolved? Let me know if I understood wrong.

[2018-10-10 19:37] mukulrawat1986 commented on #9580
@amyblais Well, the command I was working on works after making the changes, so you can mark this issue as resolved, though it would be great if someone could explain why it keeps on panicking if we reload the config while the watcher is enabled.

[2018-10-10 21:33] jasonblais commented on #8498
Thank you @dos1701!

[2018-10-10 21:33] #8498 closed

[2018-10-10 21:53] amyblais commented on #9437
This issue has been resolved and tested internally. The fix will be available in v5.4 release,

[2018-10-10 21:53] #9437 closed

[2018-10-10 21:54] amyblais commented on #9457
This issue has been resolved and tested internally. The fix will be available in v5.4 release,

[2018-10-10 21:54] #9457 closed

[2018-10-10 21:56] amyblais commented on #9445
This issue has been resolved and tested internally (https://mattermost.atlassian.net/browse/MM-12264). The fix will be available in v5.4 release. Please re-open this ticket if I'm wrong / misunderstood the issue here,

[2018-10-10 21:56] #9445 closed

[2018-10-10 21:59] amyblais commented on #9460
There hasn't been updates on this for a while, so I'll close this Issue for now. Also, this will probably be addressed in the ticket created for https://github.com/mattermost/mattermost-server/issues/9459.

[2018-10-10 21:59] #9460 closed

[2018-10-10 22:59] jasonblais commented on #8661
Hi @mase00001, completely our fault for opening the help wanted issue but only realizing some of the server changes that may be required, and which we are still thinking through.

Are there any other help wanted tickets you'd be interested tackling for Hacktoberfest?

[2018-10-11 01:52] #9376 closed

[2018-10-11 01:52] #9375 closed

[2018-10-11 06:01] S4KH commented on #9598
Will work on this. Is the component `suggestion_list.jsx`?

[2018-10-11 08:02] waseem18 commented on #9545
I see that the method `GetRepliesForExport` from `post_store` returns replies of a given `Post Id` without reactions.

To be able to export reactions of replies, I think we would need to write a new method or make some changes to the existing one. I'm on it.

[2018-10-11 09:35] waseem18 commented on #9545
Update - Here's how the JSON is going to be

[code]

[2018-10-11 11:31] jasonblais commented on #9484
@sandlis It would be great to have your help with this improvement! I've pinged one our engineers to help review your proposal.

[2018-10-11 12:06] amyblais commented on #9598
Thank you @S4KH! @esethna can you help with the question or ping a dev ^

[2018-10-11 14:21] jasonblais opened #9606 "Add plugin API for GetChannelsForTeamForUser method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:29] jasonblais opened #9607 "Add plugin API for GetTeamsForUser method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:30] jasonblais opened #9608 "Add plugin API for GetUsersInChannel method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:30] jasonblais opened #9609 "Add plugin API for GetUsersInTeam method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:34] jasonblais opened #9610 "[Help Wanted] Add plugin API for UpdateUserActive method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:35] jasonblais opened #9611 "Add plugin API for GetChannelMembersByIds method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:35] jasonblais opened #9612 "Add plugin API for GetChannelStats method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-11 14:38] jasonblais commented on #9458
@Akash4927 We started adding individual help wanted tickets on the API methods so it's easier for community members to claim them.

If you're working on any of them, you can add a comment so others in the community know it's in progress :)

[2018-10-11 14:54] mase00001 commented on #8661
No problem at all, I'll have a look at some of the other mattermost react issues and see how I go :)

[2018-10-11 15:11] mojicaj commented on #9612
I would like to work on this

[2018-10-11 15:52] amyblais commented on #9612
Thank you!

[2018-10-11 18:55] jelmd opened #9613 "RFC: URLs are awfully long"
#### Summary
Invite Mails (and possibly others) contain awfully long URLs, which makes them unusable in text a.k.a. terminal based mail readers (yes, power users still use them a lot).

#### Steps to reproduce
Invite yourself and read the mail within an e.g. 80x25 terminal [with mutt].

#### Expected behavior
All URLs sent via e-mail should be short (i.e. not longer than 80 characters) and human-r

[2018-10-11 19:33] waseem18 commented on #9542
@esethna I tried bulk export and found custom emojis in the JSON file, both as posts and reactions.

[2018-10-11 19:36] jelmd opened #9614 "Bug: The signup link does not appear to be valid"
#### Summary
Link checking is probably buggy, so that certain users are not able to finish account creation.

#### Steps to reproduce
Invite a user with a [plussed e-mail address](https://www.cs.rutgers.edu/~watrous/plus-signs-in-email-addresses.html) .

#### Expected behavior
Creating an account should work.

#### Observed behavior (that appears unintentional)
Creating an account fails for plusse

[2018-10-11 19:53] esethna commented on #9542
Thanks @waseem18, adding @grundleborg to help check on that ^

[2018-10-11 19:54] waseem18 commented on #9541
@lannonbr Are you still working on this issue? If not I would love to take up this.

[2018-10-11 19:56] chclaus commented on #9606
Hej hej, I will handle this.

[2018-10-11 19:58] lannonbr commented on #9541
@waseem18 I've been working on some other stuff and I haven't gotten around to doing this, so feel free to work on it.

[2018-10-11 19:58] chclaus commented on #9607
Hej hej, I will take care of it

[2018-10-11 19:59] dos1701 opened #9615 "CLI command sampledata stopped working with invalid user ID"
#### Summary
CLI command sampledata stopped working with invalid user ID

#### Steps to reproduce
On mattermost: commit e87965f39d2ce6dbd0e7883c387956413c663f6a
execute a make clean to cleanup the dev environment
execute a make ARGS="sampledata" run-cli

#### Expected behavior
The sampledata command completes normally and populates the db.

#### Observed behavior (that appears unintentional)
{"lev

[2018-10-11 20:00] waseem18 commented on #9541
Thanks for the prompt reply @lannonbr
I'll start looking into this.

[2018-10-11 20:45] jelmd commented on #9613
![mm](https://user-images.githubusercontent.com/4813414/46832822-5ab76100-cda7-11e8-92cb-c07b162af89a.gif)

[2018-10-11 21:47] akhilanandbv003 commented on #9610
I would like to work on this.

[2018-10-11 22:14] amyblais commented on #9610
Thank you @akhilanandbv003!

[2018-10-11 22:43] amyblais commented on #9615
Hi @dos1701!

Is this on server v5.3? I will ask one of our developers tomorrow to take a look at this and help test this out.

[2018-10-11 22:46] amyblais commented on #9613
Hi @jelmd! Thank you for reporting this.

I'll ask our developers tomorrow if we currently support this and I'll file a bug ticket if there is a bug here.

[2018-10-11 22:57] amyblais commented on #9614
Thanks, appreciate your feedback @jelmd!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'l

[2018-10-12 03:51] amorriscode commented on #9609
I'll admit I'm a Go newb but I would love to take a stab at this!

[2018-10-12 03:55] amorriscode commented on #8526
👋 Howdy!

I'd like to take a stab at this issue.

Thanks!

[2018-10-12 04:45] jasonblais commented on #9609
@amorriscode Great, thank you! If you have any questions, let us know!

[2018-10-12 05:19] sandlis commented on #9484
Thanks @jasonblais!
Will be waiting for a response. You want me to ask this in Contributors group as well?

[2018-10-12 09:37] Ppjet6 commented on #8619
I'd be interested in this as well.

[2018-10-12 10:09] drgsutu commented on #9378
@jwilander, please have a look at https://github.com/mattermost/mattermost-plugin-demo/pull/11 when possible.

[2018-10-12 10:52] knrt10 commented on #9611
@jasonblais  I would like to work on this.

[2018-10-12 11:09] S4KH commented on #9598
The problem here is that the mouse hover background is done by CSS and keyboard selection is handled by the React. I think we need to remove CSS class and do it with onMouseOver like emojiPicker.

[2018-10-12 11:14] jasonblais commented on #9484
Sure! I also posted it here if you want to add any more details https://pre-release.mattermost.com/core/pl/7a7rswu8mjnzm8dmwqdzzd67pa

I'll nudge our community as my message might have gotten missed (there was lots of chatter in that channel yesterday)

[2018-10-12 11:51] jasonblais commented on #9506
Awesome, thank you @JayaKrishnaNamburu!

[2018-10-12 11:52] jasonblais commented on #9611
Thank you @knrt10!

[2018-10-12 11:53] jasonblais opened #9617 "Add plugin API for GetEmoji method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:54] jasonblais opened #9618 "Add plugin API for GetEmojiByName method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:54] jasonblais opened #9619 "Add plugin API for GetEmojiImage method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:55] jasonblais opened #9620 "Add plugin API for GetEmojiList method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:56] jasonblais opened #9621 "[Help Wanted] Add plugin API for GetFile method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:56] jasonblais opened #9622 "Add plugin API for GetFileLink method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:57] jasonblais opened #9623 "Add plugin API for GetFilePreview method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 11:57] jasonblais opened #9624 "Add plugin API for GetFileThumbnail method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 12:06] jasonblais commented on #9598
Thanks for the follow-up! Have asked @asaadmahmood who might be able to best help with this one.

[2018-10-12 12:07] pratik97 commented on #9624
I would like to take this issue.

[2018-10-12 12:15] jasonblais commented on #9624
Thank you! Go for it 🎉

[2018-10-12 12:36] amyblais commented on #8526
Thank you @amorriscode!

[2018-10-12 12:42] vaithak commented on #9621
I would like to work on this.

[2018-10-12 12:43] vaithak commented on #9620
I would like to work on this.

[2018-10-12 12:44] S4KH commented on #9598
The class `--selected` is already there, wondering if we remove the hover class would there be any functionality missing issues?

[2018-10-12 12:48] amyblais commented on #9620
Thank you @vaithak!

[2018-10-12 12:51] vaithak commented on #9608
I would like to work on this

[2018-10-12 13:38] S4KH commented on #9623
will work on this too.

[2018-10-12 14:09] asaadmahmood commented on #9598
We can remove the hover, and apply the `--selected` class on the item that is being hovered. Once you make this change, we can test and see if that creates any issues.

[2018-10-12 14:36] mojicaj commented on #9612
I've completed the necessary changes, however https://github.com/mattermost/mattermost-server/blob/master/app/channel.go does not have a `GetChannelStats` function.

[2018-10-12 14:48] crspeller commented on #9484
@sandlis We would want to preserve the GetConfig and SaveConfig functions for plugins to modify the server config. New `GetPluginConfig` and `SavePluginConfig` functions would be preferable. Remember that this needs to be implemented in a race-free way.

[2018-10-12 14:51] Charliekenney23 commented on #9622
I'll work on this!

[2018-10-12 14:52] Charliekenney23 commented on #9618
I'll work on this one, too!

[2018-10-12 14:59] amyblais commented on #9622
Thank you @Charliekenney23!

[2018-10-12 15:15] mojicaj commented on #9617
I can take this

[2018-10-12 15:17] sandlis commented on #9484
@crspeller Thanks for the response!
By race-free way do you mean having an exclusive lock while updating config in SavePluginConfig?

[2018-10-12 15:23] levb commented on #7801
@lieut-data @crspeller ping. I haven't had a lot of time to work on it this week, have been adding tests and almost done fixing up several issues I mentioned and found since, including making the API backward compatible wrt `channel_id`. Was planning to commit all that to my branch and work on benchmarking streaming vs files for plugins, and maybe switching to temp files as discussed over the week

[2018-10-12 15:32] #9496 closed

[2018-10-12 15:51] S4KH commented on #9623
Following errors happened:
[code]

Should not there be an implementation inside `file.go`?

[2018-10-12 15:52] S4KH commented on #9619
Did this too

[2018-10-12 16:06] jwilander commented on #9484
Discussion is being continued here https://pre-release.mattermost.com/core/pl/ufm8ex9hq7nkfdxxaut88cwq4r

[2018-10-12 17:19] jasonblais opened #9629 "Add plugin API for GetPostThread method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:19] jasonblais opened #9630 "Add plugin API for GetPostsAfter method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:20] jasonblais opened #9631 "Add plugin API for GetPostsBefore method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:20] jasonblais opened #9632 "Add plugin API for GetPostsSince method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:21] jasonblais opened #9633 "Add plugin API for GetProfileImage method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:21] jasonblais opened #9634 "Add plugin API for GetTeamsUnreadForUser method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:22] jasonblais opened #9635 "Add plugin API for GetUsersByUsernames method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:22] jasonblais opened #9636 "Add plugin API for GetUsersInChannelByStatus method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:23] jasonblais opened #9637 "Add plugin API for SearchChannels method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:24] jasonblais opened #9638 "Add plugin API for SearchPosts method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:24] jasonblais opened #9639 "[Help Wanted] Add plugin API for SearchUsers method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:24] jasonblais opened #9640 "Add plugin API for UploadFile method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-12 17:29] amyblais commented on #9613
Hi @jelmd,

A developer responded with this feedback: URL-shortening isn't something we currently support, and it might also not be beneficial. The resulting URL may be shorter, but it's not human-readable: in fact, hiding the real URL obscures any potential security issue (e.g. redirect to malicious-website.com).

Does this help?

You are also welcome to [contribute this in the feature idea forum

[2018-10-12 17:34] charly3pins commented on #9635
Hi, I'm interested on this one!

[2018-10-12 17:38] jasimmons commented on #9636
I'd like to give this one a shot.

[2018-10-12 17:38] amyblais commented on #9635
Thank you @charly3pins!

[2018-10-12 17:42] amyblais commented on #9636
Awesome @jasimmons!

[2018-10-12 18:41] lieut-data commented on #9613
@jelmd, not sure about your setup (and I don't use `mutt` personally), but at least in terminals like iTerm for OSX, even urls that wrap can be clicked on and copied. Maybe you could investigate if such an option exists for your terminal?

[2018-10-12 19:02] eunicode commented on #9406
I'd like to take on this issue.

[2018-10-12 19:09] amyblais commented on #9406
Thank you @eunicode!

[2018-10-12 20:46] alexander-akhmetov commented on #9633
I would like to work on this :)

[2018-10-12 20:52] jasonblais commented on #9633
Thanks @alexander-akhmetov!

[2018-10-12 20:58] amyblais commented on #9514
### v5.4 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.4.0-rc3/mattermost-team-5.4.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/8fd22bfd56100d4a9280cbdc58cba0f59897aa78/source/administration/changelog.md)

[2018-10-12 21:01] jelmd commented on #9613
@amyblais The developer probably didn't get it right. This is not at all about URL shorteners - I hate them. This is about using URLs, which make sense and are readable by the user. E.g. I consider the following neither readable nor short: `+http://mm.your.doom.ain/signup_user_complete/?d=%7B%22display_name%22%3A%22Test+Te+am%22%2C%22email%22%3A%22testus%2Bmm%40another.doom.ain%22%2C%22name%22%3A%

[2018-10-12 21:14] jelmd commented on #9613
@lieut-data The problem is not the terminal per se, but the application - here mail client - running in a terminal. On Linux/Solaris/*x a.k.a gnome-terminals you can copy and paste URLs into it as well, when you just have a shell running or an editor, or anything else, where the terminal has the control, and click on it - xdg-open will be called with the URL - would work as well. But start mutt in

[2018-10-12 21:40] fincha opened #9648 "Get a channel by name API Call not working as expected"
#### Summary
I am not able to retreive the deleted channel info. Server Version 5.1

#### Steps to reproduce
I have created a a channel via api, its a private channel. I have "deleted" channel via api. Channel was deleted, and I also not able to create a channel with the same name, so the channel is still in DB and is only marked as deleted.

I am trying to restore the channel, for this I first ne

[2018-10-12 22:22] amyblais commented on #9648
Hi @fincha,

What Mattermost server version are you on?

[2018-10-12 22:46] #9549 closed

[2018-10-13 02:50] btotharye commented on #9639
Gonna try my hand at this one in the morning will let you know if I get stuck.

Thanks

[2018-10-13 02:50] jasonblais commented on #9639
Thanks @btotharye!

[2018-10-13 05:55] hanzei commented on #9632
I would like to work on this.

[2018-10-13 05:59] hanzei commented on #9631
I would like to work on this.

[2018-10-13 05:59] hanzei commented on #9630
I would like to work on this.

[2018-10-13 06:10] hanzei commented on #9631
I would like to work on this.

[2018-10-13 06:14] hanzei commented on #9629
I would like to work on this.

[2018-10-13 06:33] hanzei commented on #9640
I would like to work on this.

[2018-10-13 10:01] tomasmik commented on #9638
I would like to work on this

[2018-10-13 12:35] #9489 closed

[2018-10-13 12:39] #9585 closed

[2018-10-13 12:50] #9586 closed

[2018-10-13 18:40] chclaus commented on #9606
Hm okay.

Wanted to start right now but I think @czertbytes did it already ;)

[2018-10-13 18:42] chclaus commented on #9607
Hm okay.

Wanted to start right now but I think @czertbytes did it already.

[2018-10-13 22:40] jasonblais commented on #9607
@chclaus Sorry about that, I asked the contributor help add a note in the help wanted ticket as well so others know if it's been worked on.

If you're still interested on the plugin API methods, there are two more tickets open
 - https://github.com/mattermost/mattermost-server/issues/9634
 - https://github.com/mattermost/mattermost-server/issues/9640

If neither of them are of interest, let me kno

[2018-10-13 22:40] jasonblais commented on #9606
@chclaus Sorry about that, I asked the contributor help add a note in the help wanted ticket as well so others know if it's been worked on.

If you're still interested on the plugin API methods, there are two more tickets open
 - https://github.com/mattermost/mattermost-server/issues/9634
 - https://github.com/mattermost/mattermost-server/issues/9640

If neither of them are of interest, let me kno

[2018-10-14 03:27] deanwhillier commented on #9045
Hey, if there are no objections, I'll give this one a go.

[2018-10-14 06:04] hanzei commented on #9607
Hey @jasonblais, I would like to work on the API methods related to plugins like `EnablePlugins()` or `GetPlugins()`. Would you create some tickets for them?

[2018-10-14 06:46] chclaus commented on #9634
I‘ll work on this

[2018-10-14 06:46] chclaus commented on #9640
I will give it a try

[2018-10-14 06:48] chclaus commented on #9606
It‘s ok @jsonblais. And thank a lot for the alternatives. 😊

[2018-10-14 16:00] uusijani opened #9660 "MPNS typos: notifications called "notificaitons""
#### Summary
The push proxy codebase refers to notifications as "notificaitons" once in the README and once in a `LogInfo()` call.

#### Steps to reproduce
    $ git clone https://github.com/mattermost/mattermost-push-proxy.git
    $ cd mattermost-push-proxy/
    $ git rev-parse HEAD
    41affc6595fc927a75de1184292cec89278b40a8
    nothing to commit, working tree clean
    $ git rev-parse HEAD

[2018-10-14 16:59] dnz3d4c opened #9661 "Screen reader users can not automatically hear messages posted to your channel"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2018-10-14 17:58] crazcalm commented on #9597
@esethna @waseem18 Any thoughts about the questions mentioned in my last comment?

[2018-10-14 22:08] scuq commented on #7721
Hi, @torlenor and me would love to have this feature and we would be willing to take a look at it. We have a few questions first:
1) first things first, is someone now actively working on it? (@rbiggers, @h2oloopan)
2) It would only be implemented in mattermost-desktop. This would mean the behavior is different between web, desktop and mobile, is this ok with your guidelines?
3) On the server we w

[2018-10-15 06:46] udayathreya opened #9662 "Unable to migrate users to SAML login"
#### Summary
Unable to migrate users with login method as email to SAML

#### Steps to reproduce
1. Run the user file generator ruby script
2. Migrate the users to SAML login.
3. Users whose login method was set to email auth previously fail to login
4. Users whose login method was set to AD/LDAP previously can login successfully with SAML

#### Expected behavior
Users whose login method was set t

[2018-10-15 08:56] avasconcelos114 commented on #9485
Couple more things I want to make sure I get right before submitting a PR:
1. Some of these changes to strings require updates on the `i18n/en.json` file, can I just edit it directly or is there a separate process for this?
2. Given that we now went from 2 to 4 possibilities on `Upload` button's disabled state (combinations of `Enable` and `EnableUploads`), what exactly should the help text say wh

[2018-10-15 12:14] amyblais commented on #9045
Thank you @deanwhillier!

[2018-10-15 13:17] amyblais commented on #9660
Hi @uusijani! Thank you for reporting this.

If you're still interested, do feel free to open a pull request to fix the errors!

[2018-10-15 13:19] #9629 closed

[2018-10-15 13:20] amyblais commented on #9662
Hi @udayathreya, I see that you also submitted a customer ticket for this, I'll close this Issue here as this is easier to troubleshoot via the ticket,

[2018-10-15 14:04] #9632 closed

[2018-10-15 14:14] amyblais commented on #9661
Hi @dnz3d4c!

Can you help with more details on your environment, e.g. Mattermost server version and OS/browser version?

[2018-10-15 14:47] grundleborg commented on #9507
I've merged the server changes into master (for 5.6).

[2018-10-15 15:02] #9534 closed

[2018-10-15 15:14] hmhealey commented on #9156
@santos22 Sorry about the delay. Since that's in `actions`, it's for actually loading the config from the server which is already done by that point.

The other changes still needed for this are:
1. As mentioned above, you'll need to add the new field to the config in `config/default.json` and `model/config.go` on the server. You'll also need to add it to `GenerateClientConfig` in `utils/config.go

[2018-10-15 15:17] jasonblais commented on #8455
@sudheerDev Should I keep this one open for now?

[2018-10-15 15:22] sudheerDev commented on #8455
@jasonblais Yes, we need to update ticket with a list of elements that needs labels for accessibility.
I can update with the list in a day or two.

Contributor says he can work on the elements in another PR. Lets wait for the other PR and then close this.

[2018-10-15 16:18] walidsebai commented on #7811
can i work on this?

[2018-10-15 17:18] #9631 closed

[2018-10-15 17:33] #9609 closed

[2018-10-15 17:45] crazcalm commented on #9597
@waseem18 You answered the question of whether or not I should create a command_test.go file, but you missed the other questions I posted.

Two comments ago, I wrote out a skeleton of the test function I would write. I wrote that comment after looking at `team_test.go` and a couple of other test files. If you can, please review that post again.

In summary, some of the questions were:
- Which init

[2018-10-15 17:48] rickbatka commented on #7811
Fine with me, I haven't been active on this project in a while.

On Mon, Oct 15, 2018 at 12:19 PM walidsebai <notifications@github.com>
wrote:

[2018-10-15 18:50] #9509 closed

[2018-10-15 19:01] #9575 closed

[2018-10-15 19:03] #9573 closed

[2018-10-15 19:06] walidsebai commented on #7811
it seem that @cpanato  has taken care of it.

[2018-10-15 19:32] jasonblais commented on #7811
@walidsebai Actually it's up for grabs, so you're welcome to work on it if you have time :)

[2018-10-15 19:59] walidsebai commented on #7811
@jasonblais  can i work on it with somebody(i may have a friend willing to do so)? my react skill are null

[2018-10-15 21:11] jasonblais commented on #7811
@walidsebai Of course! Group work is encouraged 👍

If your friend doesn't have time, you're welcome to ask in the [Contributors channel](https://pre-release.mattermost.com/core/channels/tickets) to see if someone is interested working with you on it :)

[2018-10-15 21:12] jasonblais commented on #7811
@walidsebai If you're worried about how to best attribute who worked on which changes, happy to discuss :)

[2018-10-16 07:31] cpanato commented on #7811
@walidsebai you can take it, I might forget that one since it was from last year. but feel free to work on that.

[2018-10-16 08:57] #9536 closed

[2018-10-16 09:39] esethna opened #9668 "[Help Wanted] [MM-12373] Create CLI command "webhook modify-outgoing""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:39] esethna opened #9669 "[Help Wanted] [MM-12372] Create CLI command "webhook modify-incoming""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:39] esethna opened #9670 "Create CLI command "team modify""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:41] walidsebai commented on #7811
i'm gonna look into it

[2018-10-16 09:44] amogozov commented on #9669
Hey @esethna . I would be happy to continue working on this

[2018-10-16 09:48] grundleborg commented on #9537
Hi @VPashkov , just wondering how you are getting on with this ticket? Do let me know if you have any questions at all about it, or if you need any help.

[2018-10-16 09:49] grundleborg commented on #9539
Hi @gupsho  , just wondering how you are getting on with this ticket? Do let me know if you have any questions at all about it, or if you need any help.

[2018-10-16 09:49] esethna opened #9671 "[Help Wanted] [MM-12603] Migrate to idiomatic error handling in the file `app/plugin.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:49] esethna opened #9672 "[Help Wanted] [MM-12602] Migrate to idiomatic error handling in the file `app/oauth.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:49] esethna opened #9673 "[Help Wanted] [MM-12601] Migrate to idiomatic error handling in the file 'app/notification_email.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:49] esethna opened #9674 "[Help Wanted] [MM-12600] Migrate to idiomatic error handling in the file 'app/command.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 09:49] grundleborg commented on #9540
Hi @shovanmaity  , just wondering how you are getting on with this ticket? Do let me know if you have any questions at all about it, or if you need any help.

[2018-10-16 09:49] hanzei commented on #9674
I would like to work on this.

[2018-10-16 09:50] hanzei commented on #9671
I would like to work on this.

[2018-10-16 09:52] grundleborg commented on #9542
Hi @waseem18 sorry for the slow reply on this. This ticket is about exporting the emoji themselves, rather than the reactions made with them, so populating `ImportEmojiData` structs with the contents of the `Emoji` table from the database, rather than the reactions on Posts/Replies. Does that make sense?

[2018-10-16 09:53] grundleborg commented on #9671
All yours @hanzei :)

[2018-10-16 09:59] hanzei commented on #9671
Looking through the code I don't see any non idiomatic error handling. Sure, you can rewrite some methods to make them more DRY but I don't this this is the goal of this ticket, is it?

[2018-10-16 10:08] grundleborg commented on #9671
Yup I think you are right @hanzei . Must have been mistaken when I was flicking through the source to see which files needed doing still.

[2018-10-16 10:08] #9671 closed

[2018-10-16 10:08] waseem18 commented on #9542
Hi @grundleborg ,

I see I made a mistake, I'm working on issue related to exporting reactions of posts and the above comment containing JSON is supposed to go on that issue and I mistakenly put it up here.

[2018-10-16 10:17] VPashkov commented on #9537
Hi, @grundleborg.
I have a working solution, but I have a couple of questions.
I contact you in https://pre-release.mattermost.com tomorrow if you don't mind.

[2018-10-16 10:19] grundleborg commented on #9537
Yup, that's fine. my username there is `@george`.

[2018-10-16 10:32] waseem18 commented on #9670
I worked on building a couple of `team` commands, so can I please take this up?

[2018-10-16 10:40] hanzei commented on #9673
I would like to work on this.

[2018-10-16 10:57] S4KH commented on #9672
Will work on this, it is just the error handling, right?

[2018-10-16 11:13] #9560 closed

[2018-10-16 11:59] amyblais commented on #9670
Thank you @waseem18!

[2018-10-16 14:47] amyblais commented on #9580
Pinging @jespino to take a look at the question above ^

I'll close this Issue for now as the main problem is resolved,

[2018-10-16 14:47] #9580 closed

[2018-10-16 14:51] amyblais commented on #9661
Hi @dnz3d4c,

Would you be able to do a quick test on our [Community testing server](https://oss.mattermost.com/login) to see if this reproduces there? The testing server is on 5.4, Team Edition.

Also, have you used ARIA live region before 5.3?

[2018-10-16 14:54] #9514 closed

[2018-10-16 17:46] esethna opened #9679 "[Help Wanted] [MM-12678] Order plugins in System Console sidebar in alphabetical order"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 18:11] gupsho commented on #9539
@grundleborg I wasnt able to work on it yet. Apologies for the delay. Will create PR in next couple days.

[2018-10-16 18:28] amyblais commented on #9668
Thank you @wgfm! Please let us know any questions.

[2018-10-16 18:39] esethna opened #9680 "[Help Wanted] [MM-12244] Add documentation to developers.mattermost.com on how to build and deploy a custom server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-16 18:46] esethna commented on #9669
FYI looks like there was a typo "incomming" > "incoming"

[2018-10-16 19:45] lieut-data commented on #9613
Thanks for the clarification -- I stumbled across a lot of similar reports online about mutt's limitations here.

The extra parameters being passed are currently required by the webapp to preflight information about the team to which the user is being invited. I agree we could change things here to query this information on demand given the token instead.

This probably won't make it onto our near

[2018-10-16 20:35] Ouroboros1977 commented on #9527
Yes they are

[2018-10-16 22:53] dnz3d4c commented on #9661
After testing version 5.4, it seems that the aria live region is not applied. In my opinion, testing version 5.3 or lower seems meaningless.

[2018-10-17 00:14] cored commented on #9486
@jwilander Can I try to tackle this one?

[2018-10-17 08:43] S4KH commented on #9679
I'll try this one.

[2018-10-17 08:59] sudheerDev commented on #8455
@jasonblais Added few elements to the ticket above. We can close this once we have those elements are fixed as well.

Hey, @JayaKrishnaNamburu Let us know if you are interested in working on it.

[2018-10-17 09:01] JayaKrishnaNamburu commented on #8455
I will check the updates and start working on that as well and will give a PR shortly. 👍

[2018-10-17 09:20] S4KH commented on #9679
Can someone tell me how install plugins in the development environment?

[2018-10-17 09:49] esethna opened #9685 "[Help Wanted] [MM-12611] Migrate to idiomatic error handling in the file `app/team.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-17 09:49] esethna opened #9686 "[Help Wanted] [MM-12610] Migrate to idiomatic error handling in the file `app/slackimport.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-17 09:49] esethna opened #9687 "[Help Wanted] [MM-12609] Migrate to idiomatic error handling in the file `app/security_update_check.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-17 09:49] esethna opened #9688 "[Help Wanted] [MM-12604] Migrate to idiomatic error handling in the file `app/post.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-17 09:54] hanzei commented on #9679
There should be no difference to a normal server. Did you follow the steps on https://docs.mattermost.com/administration/plugins.html#set-up-guide?

[2018-10-17 10:12] hanzei commented on #9688
I would like to work on this one.

[2018-10-17 10:29] hanzei commented on #9687
Missed that one. :+1:

I will work on it.

[2018-10-17 12:10] jasonblais commented on #9486
@cored Certainly! Let us know if you have any questions 👍

[2018-10-17 12:39] amyblais commented on #9470
Hi @peterlloydcc, developers determined that the API behaviour is actually correct, but we added information in our docs to document the DeleteAt field via this PR: https://github.com/mattermost/mattermost-api-reference/pull/404.

[2018-10-17 12:39] #9470 closed

[2018-10-17 12:43] amyblais commented on #9615
Hi @dos1701, following up on this - can you help with more information on the environment where you saw this issue?

[2018-10-17 13:10] #9673 closed

[2018-10-17 13:25] #9545 closed, assigned to nobody

[2018-10-17 13:50] amyblais commented on #9527
Hi @Ouroboros1977, do you have any restrictions on email domains: https://docs.mattermost.com/administration/config-settings.html#restrict-account-creation-to-specified-email-domains?

[2018-10-17 13:50] hmhealey commented on #7721
@scuq
1. As far as I'm aware, they're no longer working on it. At the very least, I don't think we've heard from them in some time
2. That's correct. The web and mobile apps can't detect activity outside of the browser due to sandboxing, and there's no way around that
3. @jwilander Can you answer this?
4. I agree that that's probably the hardest part. I spent some time a few months ago trying to a

[2018-10-17 13:56] jwilander commented on #7721
3 - I'm not sure the automatic idle detection needs to be disabled necessarily. You could just have the API call to set the status reset the timer for the idle detection, as long as the API call occurs often enough. If that doesn't work then you should be able to detect the desktop app on the server and disable the automatic idle detection but I think that might get complicated if you the user has

[2018-10-17 14:37] Ouroboros1977 commented on #9527
Yes we do, we have it restricted to the same domain as the users primary smtp address.

[2018-10-17 14:44] #9660 closed

[2018-10-17 15:29] SergeyShpak commented on #9686
I would like to work on this one.

[2018-10-17 15:35] amyblais commented on #9686
Thank you @SergeyShpak!

[2018-10-17 15:37] amyblais commented on #9661
Hi @dnz3d4c, I've created a ticket here for us to add support for ARIA live region: https://mattermost.atlassian.net/browse/MM-12764.

[2018-10-17 17:41] waseem18 commented on #9670
I've got a question, How should the UI respond when the privacy of a team is modified? Should it respond at all?

 For channels I see movement in UI whenever the privacy of channel is modified.

[2018-10-17 17:54] amyblais commented on #9670
Pinging @jespino ^

[2018-10-17 20:17] esethna opened #9695 "[Help Wanted] [MM-12765] Illustrate demo plugin settings schema"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-17 22:19] dnz3d4c commented on #9661
Thanks @amyblais

[2018-10-17 22:49] amyblais commented on #9527
Hi @Ouroboros1977,

I asked our developers about this but haven't received feedback yet. Can you help with more details on:

1. Any other log errors you're seeing?
2. Any specific reproduction steps?

[2018-10-18 00:58] walidsebai commented on #7811
when we revoke all session, that's admin included right ?

[2018-10-18 08:15] fincha commented on #9648
@amyblais I have installed the 5.4.1 now

`{
    "timestamp": "2018-10-18T08:13:47.054+0000",
    "status": 500,
    "error": "Internal Server Error",
    "message": "java.lang.NumberFormatException: Expected an int but was 1539850468788 at line 1 column 113 path $.delete_at",
    "path": "/project/12345/restore"
}`

[2018-10-18 09:43] SmartHoneybee commented on #9648
Hi,

that's not Mattermost complaining, right?

[`MAX_VALUE` for Integer is `2^(31)-1 = 2 147 483 647`](https://docs.oracle.com/javase/9/docs/api/java/lang/Integer.html#MAX_VALUE) and 1539850468788 is larger than that. (I'd guess it's represents a [timestamp](https://en.wikipedia.org/wiki/Unix_time).)

Regards,
Bee

[2018-10-18 09:50] fincha commented on #9648
More or less, its autoamtic generated client

	at com.google.gson.stream.JsonReader.nextInt(JsonReader.java:1172) ~[gson-2.8.2.jar!/:na]
	at com.google.gson.internal.bind.TypeAdapters$7.read(TypeAdapters.java:225) ~[gson-2.8.2.jar!/:na]
	at com.google.gson.internal.bind.TypeAdapters$7.read(TypeAdapters.java:217) ~[gson-2.8.2.jar!/:na]
	at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$

[2018-10-18 10:14] marcimat commented on #9222
Does someone know when Mattermost Desktop Application 5.4+ will be available in download for macOS ? I use Mattermost Version 4.1.2 (4.1.2.46) and I have this embarrasing behavior in fact (Cmd+V opens file upload box in Bépo keyboard) !
The https://mattermost.com/download/ page does not propose it yet.

(and thanks for the fix by the way !)

[2018-10-18 11:11] waseem18 commented on #9542
@grundleborg Should I add this feature under the same command i.e `export bulk --all-teams` or create a new flag for exporting emojis? Something like `export bulk --custom-emojis`.

I think adding a new flag would be better.

[2018-10-18 11:41] esethna opened #9703 "[Help Wanted] [MM-12616] Migrate to idiomatic error handling in the file `app/websocket_router.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-18 11:41] esethna opened #9704 "[Help Wanted] [MM-12615] Migrate to idiomatic error handling in the file `app/webrtc.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-18 11:41] esethna opened #9705 "[Help Wanted] [MM-12614] Migrate to idiomatic error handling in the file `app/web_conn.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-18 11:41] esethna opened #9706 "[Help Wanted] [MM-12612] Migrate to idiomatic error handling in the file `app/user.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-18 11:50] #9704 closed

[2018-10-18 11:59] hanzei commented on #9706
I would like to work on this one.

[2018-10-18 12:00] hanzei commented on #9706
This will be a big PR :smile:

[2018-10-18 12:04] amyblais commented on #9398
Thank you @ejachang!

[2018-10-18 12:32] hanzei commented on #9703
I would like to work on this one.

[2018-10-18 12:32] hanzei commented on #9705
I would like to work on this one.

[2018-10-18 12:41] amyblais commented on #9222
Hi @marcimat, v5.4 is the current Server version and v4.1.2 is the current Desktop app version. Can you help confirm what Server version you're currently on? You can find this information at Main Menu > About Mattermost.

You can download the current Server version (v5.4) near the top of the download page https://mattermost.com/download/.

[2018-10-18 13:01] SmartHoneybee commented on #9648
Hi,

This one: https://api.mattermost.com/static/mattermost-openapi-v4.yaml ?
No match for `long` - which in [swagger](https://docs.swagger.io/spec.html) is the common name for type `integer` with format `int64`. Looking for `delete_at` above file yield:
[code]

So, not sure what you're talking about.
Care to provide steps to generate that client / reproduce your issue?

Regards,
Bee

[2018-10-18 13:08] fincha commented on #9648
Hi @SmartHoneybee

this is my yaml https://pastebin.com/b1uXWKHr

        description: The time at which the emoji was deleted.
        type: long

before that, I hat 2 deleted_at as integer, all others where "long"

[2018-10-18 13:11] marcimat commented on #9222
Oh! Sorry, I think I misunderstand (I saw that there is a 5.4 version in mattermost/webapp, but the last mattermost/desktop is 4.1.2 indeed). So. I use the last Desktop (4.1.2.46) on my computer.

The Server version we use (embedded with Gitlab) is "Mattermost Team Edition Version: 5.2.2" ; we need to upgrade the Server version so ? I thought it was a problem with the Desktop App.

Thanks for your

[2018-10-18 15:44] #9687 closed

[2018-10-18 16:04] #9703 closed

[2018-10-18 16:11] #9630 closed

[2018-10-18 16:15] #9583 closed

[2018-10-18 17:16] jasonblais commented on #7811
@walidsebai That's correct 👍

[2018-10-18 19:29] Ouroboros1977 commented on #9527
That is the only prevalent log that I see.
Unfortunately I don't know when it started so I'm not really sure how to reproduce it.  Best I can tell is it happened after we upgraded and it just stopped working.

[2018-10-18 21:33] wgfm commented on #9668
Just wanted to let you know that I didn't disappear, and I'm working on this.

[2018-10-18 22:12] amyblais commented on #9527
Hi @Ouroboros1977, would it sound good if you submit a ticket via our customer support system for further troubleshooting: https://mattermost.zendesk.com/hc/en-us/requests/new?

My colleague is more familiar with LDAP and he will most likely be able to resolve this issue quickly.

I apologize for any inconvenience!

[2018-10-18 23:04] amyblais commented on #9670
Pinging @grundleborg ^

[2018-10-18 23:34] amyblais commented on #9597
Pinging @grundleborg / @mkraft for the questions above ^

[2018-10-19 03:54] JayaKrishnaNamburu opened #9714 "Page no 1 is missing in pagination when a user is trying to surf pages in Direct Messages Modal."
#### Summary
When a user is trying to surf through the available pages in Direct Messages Modal, when clicked on next button the API call is directly happening from page no 2 which is resulting in missing of users which are available in page 1. Please check the screenshot for reference. It's happening in prerelease version of [mattermost](https://pre-release.mattermost.com)

#### Steps to reproduc

[2018-10-19 05:55] ejachang commented on #9398
Hi @amyblais I'm so sorry, but I realized I misread the ticket and I actually can't work/test this because I don't have access to a Windows system. Would I actually be able to take #8092 if it is still up for grabs per the label?

[2018-10-19 11:04] #9669 closed

[2018-10-19 12:29] amyblais commented on #9398
Hi @ejachang, no worries! Yes, https://github.com/mattermost/mattermost-server/issues/8092 seems to be up for grabs, I'll remove the label on that one.

[2018-10-19 12:31] #9705 closed

[2018-10-19 13:42] jasonblais commented on #9485
@avasconcelos114 Sorry for the delay on my part.

1 - Yes, you can edit the `i18n/en.json` file directly.
2a - If plugins are enabled, then we can keep the existing texts.
2b - If plugins are disabled, then the help text can read `To enable plugins, set **Enable Plugins** to true.`. It might also make sense to hide the `Installed Plugins` section when plugins are disabled, like we do toda.

[2018-10-19 13:48] Ouroboros1977 commented on #9527
Will do thanks for your help

[2018-10-19 14:17] amyblais commented on #9527
Thank you!

[2018-10-19 14:17] #9527 closed

[2018-10-19 15:29] #9688 closed

[2018-10-19 16:29] esethna opened #9717 "[Help Wanted] [MM-12700] Migrate open direct/group message channel actions to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-19 16:29] esethna opened #9718 "[Help Wanted] [MM-12703] Migrate loadDMsAndGMsForUnreads action to redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-19 17:17] B3zo0 commented on #9718
Hi, I would like to work on this.

[2018-10-19 17:19] amyblais commented on #9718
Thank you @B3zo0!

[2018-10-19 17:23] akomakom opened #9719 "Webhook payload should indicate if posts come from webhooks"
Is this already possible?  If not, I can make a feature proposal.
I'm trying to avoid webhook loops (my bot handles all messages and replies to some)

I've compared message content sent via outgoing webhook when the message is:
*  posted by user
*  produced by an outgoing webhook response (or slash command response)
*  (an incoming webhook doesn't seem to trigger an outgoing hook so that's a non-i

[2018-10-19 17:38] akomakom commented on #9719
Alternatively, maybe the right solution is not to reply to webhooks (and use the create post API command that accepts extra metadata)?

[2018-10-19 18:56] amyblais commented on #9714
Hi @JayaKrishnaNamburu, I see that there is discussion on this in the PR, so I'll create a Jira ticket if a decision is made that this issue will be fixed in a separate PR.

[2018-10-19 19:35] akomakom commented on #9719
In the meantime, I worked around it by saving the past few messages the bot posts to a list and checking all incoming posts against it. I used collections.deque(maxlen=5) to save the last 5 strings.   This works if you have a single bot...

[2018-10-19 22:14] amyblais commented on #9719
Hi @akomakom,

I believe the main ways to distinguish webhook messages is via usernames (which you mentioned) and profile picture icons. I'm not sure about other options so I'll need to ask our developers about this.

[2018-10-19 22:21] wgfm commented on #9668
What fields of the OutgoingWebhook are the `trigger-in`, `url` and `title` mapped to?

[2018-10-19 23:44] akomakom commented on #9719
@amyblais, does that mean that I need to have a dedicated login user for the bot/webhooks, and I should set up all the integrations under that login?  That makes sense, maybe that's all I was missing.

[2018-10-20 16:04] MrSorcus opened #9720 "Failed to ping DB"
#### Summary
Can't connect to PostgreSQL.

#### Steps to reproduce
Mattermost version: 5.4.0
PostgreSQL version: 10.5

1. Set sql driver in config

[code]

2. Run ./bin/mattermost

#### Expected behavior
Connected successful.

#### Observed behavior (that appears unintentional)
[code]

But from another remote machine i can connect to PostgreSQL.

[code]

[2018-10-20 17:09] JayaKrishnaNamburu commented on #9714
Hi @amyblais while working in that PR I fixed this issue as well, just created one thinking it might help for reference

[2018-10-20 19:13] MrSorcus commented on #9720
I think that a problem with unsupported authentication method `scram-sha-256`.
See https://github.com/lib/pq/pull/608

[2018-10-21 09:20] sabinobus opened #9721 "Impossible to connect to mattermost server from android app - web and windows ok"
Summary
When trying to access Mattermost from Android app it doesn’t connect.

Steps to reproduce
Mattermost Enterprise 5.4.1 Ubuntu 16.04  TLS on.
Works ok from Chrome in Windows.

Expected behavior
Working ok in Android app too

#### Observed behavior (that appears unintentional)

i can connect with a PC to mattermost server but android app doesn’t work.

I’m using mattermost 5.4.0 and mattermos

[2018-10-21 12:07] fraziern commented on #9717
This is similar to another I'm working on, so I can take a look.

[2018-10-21 12:29] stachoj opened #9722 "Outgoing webhooks not triggered by system-posts"
#### Summary
Outgoing webhooks are not triggered by posts made by “System” user (e.g., _Bob joined the channel._)

#### Steps to reproduce
1. Set up simple HTTP service which will log POST requests made by webhook.
2. Set up outgoing webhook (no trigger words, calling URL from step 1).
3. Post some message to that channel. Webhook should be triggered and appear in log.
4. Leave/join that channel.

[2018-10-22 12:42] amyblais commented on #9721
Hi @sabinobus, I see that you also posted this in the Forum, so I'll close this Issue here as a duplicate,

[2018-10-22 12:42] #9721 closed

[2018-10-22 12:57] akomakom commented on #9719
@amyblais this doesn't seem to be the case after all.  It makes no difference which user creates the webhooks.  A response to a webhook/slash command is always posted as if the message came from the user that typed the first message. In other words, I don't see a way of using usernames to tell a bot message from a user message.  Example:

1. User **joe** types /makeajoke (a slash command sent to m

[2018-10-22 13:06] #9636 closed

[2018-10-22 13:07] #9606 closed

[2018-10-22 13:07] #9607 closed

[2018-10-22 13:07] #9608 closed

[2018-10-22 13:08] jasonblais commented on #9610
@akhilanandbv003 Do you have any questions on this ticket? Anything we can help with?

[2018-10-22 13:08] #9618 closed

[2018-10-22 13:08] #9619 closed

[2018-10-22 13:09] jasonblais commented on #9620
@vaithak Any questions on this ticket? Let us know if we can help with anything :)

[2018-10-22 13:09] jasonblais commented on #9621
@vaithak Any questions on this ticket? Let us know if we can help with anything :)

[2018-10-22 13:09] #9637 closed

[2018-10-22 13:09] #9638 closed

[2018-10-22 13:15] jasonblais commented on #9398
Sure thing, thanks @dnguneratne!

[2018-10-22 14:28] amyblais commented on #9720
Hi @MrSorcus,

What server version did you upgrade from?

Also, can you help take a look at these related Forum posts/topics for any troubleshooting tips: https://forum.mattermost.org/search?q=failed%20to%20ping%20db?

[2018-10-22 14:51] sandlis commented on #9486
Hi,

I am trying to understand requirements for this, might take this up.

Can someone please explain this from [MM-11597](https://mattermost.atlassian.net/browse/MM-11597):
`Must maintain backwards compatibility, possibly by reading the current .proto files`
Does this mean backwards compatible by preserving old versions of APIs/Hooks with latest modified version or preserving old APIs/Hooks with

[2018-10-22 14:51] hanzei commented on #9607
@jasonblais ping ^

[2018-10-22 15:00] amyblais commented on #9719
Hi @akomakom,

A "BOT" indicator appears for both incoming and outgoing webhooks to avoid phishing attacks (note is on both docs https://docs.mattermost.com/developer/webhooks-incoming.html#simple-incoming-webhook and https://docs.mattermost.com/developer/webhooks-outgoing.html).

You can enable/disabled integrations to override usernames and profile pictures: https://docs.mattermost.com/administr

[2018-10-22 15:19] jwilander commented on #9486
Yes, so essentially it needs to preserve old APIs/Hooks with newly added APIs. If I add a new API for `GetSomeThing()` the tool should generate all the existing APIs/Hooks in a non-breaking way so that if a plugin is using an older version of the protocol buffer the old APIs still work with a newer MM version (they just don't get the new `GetSomeThing()` until they upgrade their plugin)

If we mod

[2018-10-22 15:37] MrSorcus commented on #9720
@amyblais version 5.4.0 builded from AUR (https://aur.archlinux.org/packages/mattermost).
And 5.4.0 precompiled (https://releases.mattermost.com/5.4.0/mattermost-team-5.4.0-linux-amd64.tar.gz)
Both binary doesn't work with `scram-sha-256`. But works with `md5`.
And i think this can be fixed when https://github.com/lib/pq will be has `scram-sha-256`.
See PRs https://github.com/lib/pq/pull/608 & htt

[2018-10-22 17:01] akhilanandbv003 commented on #9610
I would appreciate your help if you could point me to some documentation on running tests locally. This is my first open source contribution. Sorry about the delay in putting the PR.

[2018-10-22 18:08] amyblais commented on #9722
Hi @stachoj, letting you know that I'm asking our team if this should be possible, or if this is a potential feature request.

[2018-10-22 18:30] #9706 closed

[2018-10-22 18:50] ArchangeGabriel commented on #9222
I can confirm that this is indeed fixed with 5.4 release! Congrats on that. :)

[2018-10-22 20:39] jasonblais commented on #9610
Thanks @akhilanandbv003 for the follow up! Good question, I've asked our engineering team to help with this.

[2018-10-22 20:45] wiersgallak commented on #8820
Closing issue as there have been no recent conversations or comments on Jason's last comment.

[2018-10-22 20:45] #8820 closed

[2018-10-23 00:29] Tragen opened #9726 "Please allow SVGs for team icons, user icons and logo"
I can only use JPG, GIF, PNG today and SVGs are rejected.
I would be happy if I could use SVGs also everywhere as it's the superior format if you have only graphics.

[2018-10-23 01:42] waseem18 commented on #9670
Ping?

[2018-10-23 02:42] avasconcelos114 commented on #9680
Oh this sounds like something I've had some experience doing!

Would be glad to contribute to this one :)

[2018-10-23 05:37] akhilanandbv003 commented on #9610
Hey @jasonblais, thanks for the follow up. I have kind of figured out my way around running tests locally. Regarding the UpdateUserActive method. It should just update the user status to active(STATUS_ONLINE) right.

[2018-10-23 07:34] vpecinka opened #9727 "MySQL error on non-existent channelId"
#### Summary

When trying to view members of non-existent channelId the server report MySQL error due to malformed query.

#### Steps to reproduce
Usig Mattermost 5.4.0, the step are easy (id obfuscated)

[code]
The API call returns
[code]

#### Expected behavior
Should return something like 404 Not found

#### Observed behavior (that appears unintentional)

The server logs

[code]

#### Possible

[2018-10-23 10:35] grundleborg commented on #9597
@crazcalm since you started working on this ticket, a separate PR has created a `command_test.go` file to test a *different* CLI command. If you are unsure of the boilerplate of creating a test case, I would suggest taking a look at that.

For the `init` I would suggest you just use `th := api4.Setup().InitBasic().InitSystemAdmin()` as that will make both the `Basic*` and `SystemAdmin*` components

[2018-10-23 10:36] #9686 closed

[2018-10-23 10:45] waseem18 commented on #9670
Thanks for the response @grundleborg
Will put a PR today.

[2018-10-23 10:46] waseem18 commented on #9542
@grundleborg Could you also please help with the above question?

Thanks

[2018-10-23 11:19] jasonblais commented on #9620
Certainly! Thanks @vaithak, let us know if you have any questions.

[2018-10-23 11:19] #9492 closed

[2018-10-23 11:50] jelmd commented on #9613
Ok, thanx. Unfortunately I haven't had time to get some `go` foo =8-( So probably can't provide a PR in the near future =8-( ...

[2018-10-23 11:53] jelmd commented on #9614
IIRC, I saw somewhere a test, which includes plussed e-mail addresses. So I think, this is really a bug and not a new feature.

[2018-10-23 15:39] ylluminate opened #9728 "Help Functionality Refinement"
Currently when one clicks "Help" in the lower right corner:
![Help](https://cl.ly/b1bef860ad64/Image%202018-10-23%20at%2011.29.38%20AM.png)

It opens a new window with instructions in it.

There are two refinements that would help here:

1. when this opens a new window, it should have "Help" in the name of the page instead of "Mattermost."  This is confusing to users since they don't know what thi

[2018-10-23 16:54] Charliekenney23 commented on #9727
I can take this issue on.

[2018-10-23 17:10] esethna opened #9729 "Add support for ARIA Live Region screen reader"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-23 18:19] gupsho commented on #3841
Hi, I can try helping out on this.

[2018-10-23 18:33] gupsho commented on #6798
Hi, I would like to try this.

[2018-10-23 18:45] amyblais commented on #9726
Thanks, appreciate your feedback @Tragen!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2018-10-23 21:31] jasonblais commented on #9607
@hanzei Sorry for missing the ping earlier.

Certainly! There are 7 plugin API methods total - are you interested working on the two specifically (`EnablePlugins()` and `GetPlugins()`) or others as well?

[2018-10-23 22:46] amyblais commented on #9727
Hi @vpecinka, thank you for reporting this!

@Charliekenney23 This is not marked as a Help Wanted Issue, but of course if you want to you can take a look at it and the contribution will count towards Hacktoberfest. Thank you!

[2018-10-23 22:48] amyblais commented on #9728
Hi @ylluminate, thank you for reporting this 👍

Let us know if you're interested in submitting a PR for these changes?

[2018-10-23 23:50] amyblais commented on #9614
Hi @jelmd, what server version are you currently on?

[2018-10-24 04:56] jelmd commented on #9614
5.3.1-linux-amd64

[2018-10-24 05:47] yansern commented on #5386
In a nutshell, make sure you have: IIS 8 + ARR 3 + WebSockets IIS extension.

Then here's a sample `web.config` settings (modify as necessary as this config is for `somedomain.com/mattermost`):

[code]

[2018-10-24 07:14] vpecinka opened #9732 "Slack import crashes on Users with AuthData set to NULL"
#### Summary
Importing slack history into mattermost crashes on importing a user when the respective user in `Users` table has `AuthData` column set to `NULL`.

#### Steps to reproduce
Tried on Mattermost 5.4.0. Just have an Slack export ready with users' emails matching your Users in the database. Be sure, you have few of them with NULL values in AuthData column (in my case as se result of a manu

[2018-10-24 08:13] zetaab opened #9733 "RangeError: Invalid language tag: de8z6nfkuid5mktznkxiwui95h"
#### Summary
Webapp is returning RangeError: Invalid language tag: de8z6nfkuid5mktznkxiwui95h if we have more than one images in same post

#### Steps to reproduce
latest 5.4, it is difficult to reproduce because it does not happen often. No idea how to reproduce, anyways the key thing is to upload more than one image in same post. And Locale in user should be `''`

#### Expected behavior
Expected

[2018-10-24 08:17] zetaab commented on #9733
![screen shot 2018-10-24 at 11 17 20](https://user-images.githubusercontent.com/22482503/47416449-69761e80-d77e-11e8-8f36-91db4cdfa835.png)

if I go backwards in callstack it seems that locale variable is same than post id?

[2018-10-24 09:06] zetaab commented on #9733
it seems that the problem is in this function https://github.com/mattermost/mattermost-redux/blob/master/src/selectors/entities/i18n.js if the user locale is `''` it will fail because default locale is not loaded correctly (in my debugger it says undefined). If I setup my locale from mattermost to spanish, everything works fine.

[2018-10-24 09:08] zetaab commented on #9733
![screen shot 2018-10-24 at 12 08 24](https://user-images.githubusercontent.com/22482503/47419762-89f5a700-d785-11e8-8747-d42a3278f4c2.png)

like we can see locale is not correct 'es'

[2018-10-24 09:22] zetaab commented on #9733
now it looks like https://github.com/mattermost/mattermost-redux/blob/master/src/selectors/entities/i18n.js#L6 this row is imported incorrectly.

it should be
`import DEFAULT_LOCALE from 'constants/general';`
instead of
`import {DEFAULT_LOCALE} from 'constants/general';`

[2018-10-24 09:46] avasconcelos114 commented on #9680
Just got a couple of questions so that I know I'm writing the right things:
1. Did you need information on how to build and deploy each client? (Webapp / Desktop / Mobile)
2. For the server, should I only mention custom `templates` and `i18n` files? (Which is about as much as I've ever done)
3. If you also want information on cases where some customization goes to the `mattermost-server` project's

[2018-10-24 12:34] amyblais commented on #9614
Thanks @jelmd, would you be able to do a quick test on our [Community server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) - if you see the same issue there I can open a bug ticket and we'll discuss it as a team. Let me know any questions.

[2018-10-24 12:40] jwilander commented on #9610
Hi @akhilanandbv003 this actually isn't related to statuses. This is for setting a user to active or inactive, which is essentially soft deleting a user. An inactive user cannot login or access the system. Here is the REST API handler for this https://github.com/mattermost/mattermost-server/blob/master/api4/user.go#L806

[2018-10-24 13:16] jelmd commented on #9614
@amyblais seems to work - account created :)

[2018-10-24 14:37] amyblais commented on #9728
I also opened a ticket here for tracking: https://mattermost.atlassian.net/browse/MM-12793.

[2018-10-24 14:40] amyblais commented on #9720
Thank you @MrSorcus, I'll close this Issue for now as it can be tracked with the PRs that you linked above.

[2018-10-24 14:40] #9720 closed

[2018-10-24 14:43] ylluminate commented on #9728
Thanks @amyblais! I truly wish I had the time to do PRs right now, but I'm just overwhelmed presently and it's not looking good for at least several more months. I'm trying to capture things I'm seeing with our users and I experience myself that would refine the UX as we go since we're relatively new with Mattermost from our migration from HipChat.

[2018-10-24 14:47] #9537 closed

[2018-10-24 15:41] amyblais commented on #9728
No worries!

I haven't heard from ``ylluminarious`` yet, but looking forward to hearing what updates have been made!

[2018-10-24 16:33] amyblais commented on #9732
Thank you @vpecinka!

@grundleborg / @mkraft wondering if one of you can confirm if I should open a bug ticket ^

[2018-10-24 16:37] amyblais commented on #9733
Thank you @zetaab! Let us know if you're able to open a PR for this?

[2018-10-24 16:55] grundleborg commented on #9732
@amyblais This is a valid issue, although I don't believe it would occur without manual alterations to the database, so please do open a JIRA ticket.

[2018-10-24 17:02] amyblais commented on #9732
Thanks all, opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-12798.

[2018-10-24 19:11] esethna opened #9737 "[Help Wanted] [MM-12802] Plugin: Add "min_server_version" in plugin.json manifest to enable built-in control for preventing load/enable of plugin if server version is not met"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-24 19:17] hanzei commented on #9737
I would like to work on this.

[2018-10-24 22:40] cored commented on #9486
@jwilander wouldn't that imply that who needs to regenerate the protobuf stub would be the client?

[2018-10-25 02:57] santos22 commented on #9156
No worries @hmhealey! I tested out the changes on the server and was able to see the value in the web app.

Does the second change replace `Constants.MIN_HASHTAG_LINK_LENGTH` in the [web app](https://github.com/mattermost/mattermost-webapp/blob/master/utils/text_formatting.jsx) as mentioned in the issue?

[2018-10-25 08:30] grundleborg commented on #9542
Hi @waseem18. Sorry for being slow. I think the new flag `--custom-emojis` makes sense. I would expect to be able to pass both `--all-teams` *and* `--custom-emojis` and get an export with both in too.

On the other question, looking at the source of the Bulk Import feature, the `image` field expects a path to an image file, so you'll need to export the file into a folder (e.g. `exported_emoji`) an

[2018-10-25 08:32] grundleborg commented on #9533
Hi @NGTmeaty  . Just wondering how you are getting on with this ticket? If you have any questions please do let us know here or on the pre-release server mentioned at the start of the ticket description - we'll be very happy to help out.

[2018-10-25 08:33] grundleborg commented on #9523
Hi @klebervirgilio  . Just wondering how you are getting on with this ticket? If you have any questions please do let us know here or on the daily-build server mentioned at the start of the ticket description - we'll be very happy to help out.

[2018-10-25 08:34] #9522 closed

[2018-10-25 08:36] #9302 closed

[2018-10-25 08:38] #9301 closed

[2018-10-25 08:40] #9300 closed

[2018-10-25 08:41] #9299 closed

[2018-10-25 08:50] waseem18 commented on #9542
Thanks for the reply @grundleborg
Will look into this today

[2018-10-25 09:54] Tragen opened #9739 "Different result for thumbup emoji for reactions"
I don't know if the bug is in the mobile client or the webapp.

Since 5.4.0 we have different results when I search for the thumbup emoji.

In the normal text field I get the thumbup emoji, the emoji picker shows
me +1 instead.

![image](https://user-images.githubusercontent.com/1700241/47491841-f63ade00-d84b-11e8-8646-a3b51cb31b4b.png)

![image](https://user-images.githubusercontent.com/1700241/4

[2018-10-25 11:40] jam40jeff commented on #7721
I agree that simply sending an "active signal" periodically from the desktop app would make the most sense.

[2018-10-25 12:41] Tragen commented on #9739
I haven't tested it on iOS but it happens at least on Android.

[2018-10-25 12:54] amyblais commented on #9739
I'm able to repro this also on iOS, I opened a ticket here: https://mattermost.atlassian.net/browse/MM-12814.

[2018-10-25 13:22] MathieuTougas commented on #7721
Yes it could. I'm currently working on an implementation using this library

[2018-10-25 13:54] #9617 closed

[2018-10-25 14:04] hmhealey commented on #9156
Yes, that's the value you'll have to replace on the web app. The mobile app doesn't have a constant like that, but [our fork of commonmark.js](https://github.com/mattermost/commonmark.js) still has an option that you can pass to set that length

[2018-10-25 16:20] hanzei commented on #9607
I would like to work on:

- GetPlugins()
- RemovePlugin()
- GetPluginStatuses()
- EnablePlugin()
- DisablePlugin()

[2018-10-25 17:08] jasonblais opened #9740 "Add new plugin API methods for plugin method"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-25 17:10] jasonblais commented on #9607
@hanzei Awesome! Just created a help wanted ticket for it https://github.com/mattermost/mattermost-server/issues/9740

[2018-10-25 17:16] sokoow opened #9741 "[security] insecure config.json credential storage"
Mattermost's **config.json** file currently contains following insecure fields:

[code]

in case if a box or container running mattermost is owned by an attacker, it's very easy to further escalate privileges into these systems that are mentioned above.

SOLUTION:

Ideally, incorporate https://github.com/hashicorp/vault/blob/master/api/client.go and allow using vault or similar tech to read creds

[2018-10-25 18:09] hanzei commented on #9740
I would like to work on this.

[2018-10-25 19:12] hanzei commented on #9740
`DisablePlugin()`, `EnablePlugin()` and `RemovePlugin()` all return a boolean which is as far as i understand true if the operation was successful. Is this return value really needed? Is it save to assume that the operation was successful, when no error is returned?

[2018-10-25 20:53] morris-jason commented on #9559
Hi @grundleborg - I haven't had as much time to do this as I thought I would. You can mark it as up for grabs if someone is waiting on it.

[2018-10-25 21:19] matoro opened #9745 "Upgrade to 5.4.0 breaks compatibility with postgresql 11"
#### Summary
Database migration to 5.4.0 breaks compatibility with postgresql 11.

#### Steps to reproduce
- Be running postgresql 11.
- Upgrade to mattermost-server 5.4.0.  I upgraded from 5.3.1, so the issue may be present in larger version jumps.
- Restart the platform binary
- Attempt to send a message.  I did not try anything other than the Town Square, so DMs may or may not be affected.

###

[2018-10-25 21:31] swood opened #9746 "Bulk import direct_post with attach"
Hello.

I couldn't find an ability to adding attach via a DirectPost object. Does it possible?
Or maybe you could suggest how to import direct message with attaching which sent via direct channel?

[2018-10-25 22:49] amyblais commented on #9746
Hi @swood,

Is this what you are looking for: https://docs.mattermost.com/deployment/bulk-loading.html?highlight=bulk%20import#fields-of-the-attachment-object?

[2018-10-25 22:55] swood commented on #9746
No, this isn't the same, exactly.
You sent a description of Post object, but I asked about the DirectPost object.
That are different objects.

[2018-10-25 23:06] amyblais commented on #9746
Apologies, I read it as "This object is a member of the Post / DirectPost object", so I thought it also applies to the DirectPost object - I'll ask a developer tomorrow to take a look at this.

[2018-10-26 06:52] JayaKrishnaNamburu commented on #8455
Hi @sudheerDev, @anushreesubramani started working on this and will refer her PR here.

[2018-10-26 07:57] sudheerDev commented on #8455
Sure sounds good! @JayaKrishnaNamburu.
@anushreesubramani Thanks. Don't hesitate to reach out to us if you need any help!

[2018-10-26 08:09] staabm commented on #1516
for anyone finding this issue via google:

looks like https://github.com/42wim/matterbridge would fix this problem

[2018-10-26 10:19] MrSorcus opened #9747 "Invalid or missing channel_id."
#### Summary
[code]

#### Steps to reproduce
Mattermost version: 5.4.0
Firefox version: 62.0.3 (64-bit)
Chromium version: 69.0.3497.100 (Developer Build) (64-bit)
Safari version: 12.0

Just open mattermost chat in Firefox, Safari and Chromium.
In the Firefox and Safari request url is set to `https://chat.example.com/api/v4/channels/undefined/posts?page=0&per_page=30` where channel is `undefined`.

[2018-10-26 12:35] jwilander commented on #7237
Yes, I think we can close this ticket. There is some other final redux migration going on but this ticket is close enough and the last usages you mention should be covered shortly

[2018-10-26 12:35] #7237 closed

[2018-10-26 12:48] jwilander commented on #9486
Not sure if I follow, both the plugin and the MM server will need the protocol buffer definitions. The plugin for whatever language it's using will need to generate the code using the protocol buffer files but I'm assuming that's deterministic, so as long as the protocol buffers our tool generates maintain backwards compatibility.

And I hesitate away from using "client" and "server" here since th

[2018-10-26 14:30] JayaKrishnaNamburu commented on #9072
Hi @jasonblais I would like to pick this up 👍

[2018-10-26 15:25] #9089 closed, assigned to nobody

[2018-10-26 15:29] JayaKrishnaNamburu commented on #9072
Sure, checking out 👍

[2018-10-26 16:59] amyblais commented on #9746
@grundleborg / @mkraft ``swood`` is looking to add attachments via a DirectPost object - can you help with this?

[2018-10-26 17:50] amyblais commented on #9745
Thank you @matoro!

@cpanato Is this something you are familiar with to take a look at ^

[2018-10-26 18:33] amyblais commented on #9747
Thank you @MrSorcus,

What do you see happen when you get the log error (Observed behaviour)?

[2018-10-26 18:52] MrSorcus commented on #9747
`Oct 26 09:59:23 mattermost mattermost[10970]: {"level":"error","ts":1540547963.542068,"caller":"web/context.go:60","msg":"Invalid or missing channel_id parameter in request URL","path":"/api/v4/channels/undefined/posts","request_id":"A0","ip_addr":"2a01:7e01:e001::abcd","user_id":"A1","method":"GET","err_where":"Context","http_code":400,"err_details":""}`

This. I can reproduce it in Firefox.
Cle

[2018-10-26 19:02] MrSorcus commented on #9747
Hmm. No. Error in chromium too.
Before i changed db from mariadb to postgresql.
Maybe something went wrong...?

[2018-10-26 19:14] amyblais commented on #9747
What version of postgresql are you using?

[2018-10-26 19:15] MrSorcus commented on #9747
Version: 10.5-2
From Archlinux repo.

[2018-10-26 19:18] amyblais commented on #9747
There is an issue with Postgresql that our developers will start to investigate, so I'm wondering if the issue you're seeing is also related to it: https://github.com/mattermost/mattermost-server/issues/9745.

[2018-10-26 19:32] MrSorcus commented on #9747
Are you sure? Because it depends on browser where i run mattermost client.
No error in chromium (rarely). No error in Mattermost Desktop.
But often i see error in Firefox.

[2018-10-26 19:38] MrSorcus commented on #9747
Later i will try to reproduce error with clean installation.
Maybe tomorrow.

[2018-10-27 07:33] MrSorcus commented on #9747
Ok. I can reproduce it with clean installation.

#### Steps to reproduce (i used LXC container)

1. Install all updates and postgresql

`# pacman -Syu postgresql`

2. Configure postgresql, create user and database

[code]

3. Download mattermost and extract

[code]

4. Edit `config/config.json`

[code]

5. Run mattermost

`# ./bin/mattermost`

6. Create two users `test0` & `test1`

7. Create one t

[2018-10-27 11:49] B3zo0 commented on #9718
It is a shame really but I can't get my head around this. This is a difficult task for me and I don't want to waste your time. So please add up for grabs back. 😞

[2018-10-27 16:46] crazcalm commented on #9597
I am having trouble running the tests for this. It says I am missing the docker file executable that is suppose to be in my path.

@grundleborg Do you know where I can find this docker file? Also, I just noticed that I did not use `InitSystemAdmin()`. Sorry about that, I will change it now.

    {"level":"info","ts":1540589651.5986907,"caller":"sqlstore/supplier.go:209","msg":"Pinging SQL master d

[2018-10-27 17:06] waseem18 commented on #9597
@crazcalm Wanted to make sure if you ran the first step from this documentation - https://developers.mattermost.com/contribute/server/developer-setup/ I presume that's what is causing issues.

[2018-10-28 07:10] harshilsharma63 commented on #9746
@amyblais  @swood it seems like `DirectPopst` object does support attachments, however, it's not documented.

`DirectPost` object documentation - https://docs.mattermost.com/deployment/bulk-loading.html#fields-of-the-directpost-object
`DirectPost` object source code - https://github.com/mattermost/mattermost-server/blob/fe9a81208e4d8290df7b8d89bac2d880c045b84b/app/import_types.go#L159

[2018-10-28 18:42] esethna commented on #9718
No worries @B3zo0, feel free to browse our other up for grabs tickets! https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+is%3Aissue+label%3A%22Up+For+Grabs%22

[2018-10-29 00:47] mickmister commented on #8338
I'd like to work on this

[2018-10-29 06:41] JayaKrishnaNamburu commented on #9718
Hi @esethna I would like to pick this up.

[2018-10-29 06:43] sudheerDev commented on #9718
Thanks @JayaKrishnaNamburu. Don't hesitate to reach out to us if you have any questions.

[2018-10-29 09:30] #9535 closed

[2018-10-29 10:05] lucchmielowski commented on #9562
Hi @grundleborg ! Sorry i did not give a sign of life earlier :disappointed: ... I lacked time in the last weeks but I'll create the PR this week to complete this task ! :smiley:

[2018-10-29 13:45] santiagomoneta commented on #129
I'm still seeing this issue today (Oct 2018)... I was asked to create a channel. Slack says that the name is taken but there is no channel (not even archived) group or username with that name. I'm also a Workspace Owner.

[2018-10-29 14:09] jasonblais commented on #129
Thanks @santiagomoneta - this particular project is for Mattermost, an open-source messaging and collaboration platform (https://mattermost.com).

For Slack questions, you can visit their help forums :)

[2018-10-29 15:49] icelander opened #13991 "Google+ API is being deprecated"
[Our Google SSO Docs](https://docs.mattermost.com/deployment/sso-google.html) include instructions to use the Google+ API, which has been deprecated.

Possible Solutions:
 - Use [Google SAML SSO](https://support.google.com/a/answer/6262818?hl=en)
 - Use [Google Identity Platform](https://developers.google.com/identity/)

[2018-10-29 17:00] amyblais commented on #9746
I opened a PR to update our docs, and it will go through a Dev review.

[2018-10-29 17:16] amyblais commented on #9309
The Jira ticket has been resolved and tested internally, and the improvement will be available in v5.6 release (which will be released in December 16th). I'll close this Issue for now as the work for this has been completed.

[2018-10-29 17:16] #9309 closed

[2018-10-29 17:46] amyblais commented on #9745
Hi @matoro, a community member took a look at this and said that this is most likely not an issue in Mattermost.

It sounds like this would be an issue with your PostgreSQL setup (please take a look at [this Q&A](https://dba.stackexchange.com/questions/118297/cant-install-citext-extension-could-not-access-file-libdir-citext-no-such)). Also, PostgreSQL 11 [documentation on snowball dictionary](http

[2018-10-29 18:35] santos22 commented on #9156
I don't think I'll be able to get to the other two changes in the coming days. Happy to open this issue to other contributors and help out if needed.

[2018-10-29 19:37] matoro commented on #9745
Okay, thank you.  I'll close this preemptively then and reopen it if it does turn out to not be a mistake I made.

[2018-10-29 19:37] #9745 closed

[2018-10-29 23:11] amyblais commented on #9722
Hi @stachoj,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prioritize the review.

Yo

[2018-10-30 01:22] zeroimpl opened #9755 "Searches for users don't work when @ symbol is included"
#### Summary
Typing an "@" symbol in the dialog for starting a new direct message conversation always returns no results.

#### Steps to reproduce
Try to start a new direct message, and type the account name starting with an @ symbol, such as "@user", or type in a full email address such as "username@domain.com".

#### Expected behavior
Typing "@user" behaves identically to typing "user" (this is

[2018-10-30 05:10] mickmister commented on #8338
I some questions regarding this feature.

If the user changes the text after encountering the error:
- should the error continue displaying?
- should clicking the "send as message" link clear the edited text?

Currently the invalid error occurs when the beginning word is just '/'  I want to verify that this is expected behavior since we're looking at invalid commands.

[2018-10-30 06:57] kaakaa commented on #9497
I would like to work on this.

[2018-10-30 11:56] #9685 closed

[2018-10-30 13:14] grundleborg commented on #9562
No worries @lucchmielowski . Looking forward to it :)

[2018-10-30 13:49] amyblais opened #9757 "Mattermost v5.5"
You can find key dates for v5.5 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### November 5th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### November 14th: Release Build Cut

[2018-10-30 14:27] esethna opened #9758 "[Help Wanted] [MM-12599] Implement assets for Adaptive icons"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 14:32] esethna opened #9759 "[Help Wanted] [MM-12649] Convert Excel cells to markdown table when pasting in Mattermost"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 14:56] amyblais commented on #9755
Hi @zeroimpl!

Not 100% sure if there's any specific reason why we don't support this yet - thank you for helping with a fix for this and let me know any questions.

[2018-10-30 15:14] esethna opened #9760 "Implement autocomplete feature to match webapp when editing posts, channel headers and channel purpose"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de