[2018-05-15 16:56] esethna opened #8797 "Enter key on hardware android/iOS keyboard does not post message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-16 01:50] #8703 closed

[2018-05-16 02:10] alecisec commented on #8741
Not the images but I can put the build files here -

`FROM ubuntu:16.04

# Some ENV variables
ENV PATH="/mattermost/bin:${PATH}"
ENV MM_VERSION=4.9.2

# Build argument to set Mattermost edition
ARG edition=enterprise

# Install some needed packages
RUN apt-get update \
    && apt-get -y install \
      curl \
      jq \
	    git \
      awscli \
      netcat \
    && rm -rf /var/lib/apt/lists/* /v

[2018-05-16 05:51] ninanung opened #8802 "In Mac + Chrome(and desktop) + Korean language, "ctrl + enter" function make message post twice."
#### Summary
In Mac + Chrome(and desktop) + Korean language, "ctrl + enter" function make message post twice.

#### Steps to reproduce
I tested in v4.10.0 and v4.5.0, this issue occured in 4.10.0 but not in 4.5.0.
And with same version and device, Windows 10 didn't show this issue.
I also tested with simple project that alert input field value(Korean word) when 'enter' key pressed, and it make ale

[2018-05-16 09:35] gerbsen commented on #954
Why is this issue closed? This is still not working for 4.8.1 bundled with GitLab. What can I do?

[2018-05-16 11:06] chillinger opened #8803 "Github release method"
#### Summary
releases are not listed on the Github release API

#### Steps to reproduce

`curl -s https://api.github.com/repos/mattermost/mattermost-server/releases
`
returns no valid data

#### Expected behavior
curl -s https://api.github.com/repos/mattermost/mattermost-server/releases
should return the list of all releases on github

#### Observed behavior (that appears unintentional)

If one ex

[2018-05-16 16:10] ryantm opened #8806 "Cannot build mattermost-webapp from v4.10.0 tag"
#### Summary
`make build` in mattermost-webapp v4.10.0 tag has error with mattermost-redux

#### Steps to reproduce

[code]

#### Expected behavior
`make build` succeeds

#### Observed behavior (that appears unintentional)

[code]

#### Possible fixes

* I noticed there is a newer version of mattermost-redux released on GitHub.

#### System details
[code]

[2018-05-16 17:40] amyblais commented on #8761
@matshch @fmantek We released 4.10 today, would you like to upgrade and see if the issue reproduces after upgrading?

[2018-05-16 17:42] fmantek commented on #8761
Should I still disable email notifications after the upgrade to 4.10 if I use the CLI?

Frank

On 16 May 2018, 19:40 +0200, amyblais <notifications@github.com>, wrote:

[2018-05-16 18:05] amyblais commented on #8761
It might be the best option, as the issue with Slack import failing through the CLI if email notifications are enabled was not fixed in 4.10 (it remains as a known issue for now).

[2018-05-16 18:17] fmantek commented on #8761
Ok, just tried this with my output.zip file.  Here is the output from the platform command:

sudo ./platform import slack TestForImport /opt/bitnami/output.zip
{"level":"info","ts":1526494324.2533443,"caller":"utils/i18n.go:83","msg":"Loaded system translations for 'en' from '/opt/bitnami/apps/mattermost/server/i18n/en.json'"}
{"level":"info","ts":1526494324.2539353,"caller":"app/app.go:181","msg"

[2018-05-16 18:45] amyblais commented on #8802
Hi @ninanung! I tested on Mac v4.1.0, server version 4.10, and could not reproduce this - can you help share which Desktop app version you are using? We just released v4.1.0 today and it is possible that it includes a fix related to this.

[2018-05-16 18:59] andyseubert opened #8808 "extreme lag in typing and scrolling with only 6 users simultaneously chatting"
This is a continuation or re-opening of issue
extreme lag in typing and scrolling with only 6 users simultaneously chatting #8617

We are now using server version 4.9.1 and are still experiencing the issue.
We still saw a lot of lagging and some folks had the app totally freeze up. Refreshing the app helped but then the issues would come back a couple of minutes later. There were 8 of us testing a

[2018-05-16 21:53] amyblais commented on #8803
Hi @chillinger, thank you for reporting this!

I checked with our engineers and it was suggested that this is something we could do, so I created an improvement ticket here: https://mattermost.atlassian.net/browse/MM-10637.

[2018-05-17 03:41] ninanung commented on #8802
We upgraded our app today, so it is latest version. But still issue comes out. I also tested in my local Mattermost(not customed) webapp and it was same. This is not a big trouble to check fast. So if you have some question, please feel free to ask.

[2018-05-17 05:24] harshilsharma63 opened #8810 "Plugin - Allow Serving Static Files"
I see no existing way for a webapp plugin to have its own set of static assets (images, css files) used on webapp. As a result, I'm currently hosting my images on imgur, which is usually slower than serving them directly from MM instance.

[2018-05-17 06:46] lindy65 commented on #8617
Thanks for the update and new issue opened.  We'll troubleshoot from the new issue linked above :)

[2018-05-17 09:11] anton-johansson commented on #8808
We're still on 4.8.1, after upgrading a few days ago to the latest GitLab Omnibus package. I also experience lagging, sometimes it takes a couple of seconds just to send something, or change chat window. Checking the network tab in Chrome, it appears that it's not due to slow requests, so I would assume that it's frontend/javascript-related and not backend-related.

I don't use any client, I open

[2018-05-17 11:13] babolivier commented on #8390
FWIW, and as a the closing point for this issue, there's been a couple release for this extension, and the issue is now definitely fixed.

[2018-05-17 11:33] balasankarc opened #8813 "EnableUserCreation doesn't default to true if not found in config.json"
Observed during testing of https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests/2522. Then I tested it out with regular Mattermost installation (not the one bundled with GitLab) and was able to reproduce it.

#### Summary

If `EnableUserCreation` configuration is not specified in `config.json`, it defaults to `false`. According to [docs, the default value of that configuration is `true`](ht

[2018-05-17 11:33] balasankarc commented on #8813
@jasonblais Could you take a look, please. :)

[2018-05-17 11:39] jasonblais commented on #8813
Thanks @balasankarc - I think environment variables aren't fully supported yet, we had @hmhealey working on this. I'll ping him

[2018-05-17 11:42] jasonblais commented on #8813
@balasankarc To clarify, Mattermost v4.10 has changes that supports environment variables on GitLab Omnibus. We just released it yesterday and will be submitting to GitLab's `master` branch soon.

[2018-05-17 11:45] balasankarc commented on #8813
@jasonblais This isn't related to environment variables. If I don't have any environment variable set, if `EnableUserCreation` is not found in config.json, it should default to `true`, right? Because the docs say `true` is the default value for that setting.

[2018-05-17 11:50] balasankarc commented on #8813
BTW, this was reported in https://github.com/mattermost/mattermost-server/issues/7276 which was fixed by https://github.com/mattermost/mattermost-server/pull/7320. However, I see this comment there by @saturninoabril
[code]
It says default to false while docs say default to true. Also the [config.json file shipped with Mattermost](https://github.com/mattermost/mattermost-server/blob/master/config/

[2018-05-17 12:05] jasonblais commented on #8813
Ah gotcha, I read your merge request and thought it was related.

I've created a bug ticket, that indeed appears to be incorrect: https://mattermost.atlassian.net/browse/MM-10640

[2018-05-17 12:11] balasankarc commented on #8813
Thanks @jasonblais . I have a PR open at https://github.com/mattermost/mattermost-server/pull/8815 . My understanding of Go is quite limited, so I wouldn't bet too much on that. Please discard it if doesn't make sense.

[2018-05-17 12:13] jasonblais commented on #8813
Awesome, thank you! I'll close this issue and we can track this via your PR.

Appreciate it!

[2018-05-17 12:13] #8813 closed

[2018-05-17 15:43] amyblais commented on #8761
Hi all! Just wanted to let you know that I have asked our engineers to take a look at this!

[2018-05-17 15:48] anton-johansson commented on #8808
@amyblais: We can give that a go as soon as a GitLab Omnibus package comes with it. :) I'm not sure how their versioning work, so I'm not sure when that would happen.

[2018-05-17 15:52] andyseubert commented on #8808
@amyblais : we tested with desktops only - but on those we had a mixture of web client (in browser) and the desktop app on both mac OS and windows OS. Thanks

[2018-05-17 16:31] matshch commented on #8761
@amyblais we have tried to deploy 4.10 via docker, and have successfully imported our data from Slack in this instance. However, threads information was lost during import, and this unfortunately doesn't fit our needs.

[2018-05-17 16:41] amyblais commented on #8808
@anton-johansson Ah, that's true, sorry about that, I believe Gitlab has Mattermost version 4.8.1 now and when they release their next version they will upgrade to Mattermost v4.9.

@anton-johansson @andyseubert Would either/both of you have a quick video to share about what you are seeing? And would you be able to check Mattermost logs to see if you see any errors?

[2018-05-17 18:50] amyblais commented on #8741
Hi @alecisec! Just wanted to give an update and let you know that I have let our engineers know about this and they will get back on this in the next few days.

[2018-05-17 19:07] amyblais commented on #8802
Hi @ninanung, thank you for the additional information! Just wanted to let you know that I've asked our team to take a further look at testing this.

[2018-05-17 19:34] andyseubert commented on #8808
there is a screen capture in the previous issue https://github.com/mattermost/mattermost-server/issues/8617#issue-313844124

let me know if you need more video or if that's not clear enough to describe the issue.

[2018-05-17 22:49] amyblais commented on #8398
Hi @petahbred , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-17 22:49] #8398 closed

[2018-05-17 22:52] amyblais commented on #8619
Hi @numericillustration Following up on this - did Saturnino's suggestions help?

[2018-05-17 22:53] amyblais commented on #8636
Hi @bdkakdb and @vidister , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-17 22:53] #8636 closed

[2018-05-17 22:54] amyblais commented on #8687
Hi @nirina-apiqa , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-17 22:55] amyblais commented on #8714
Hi @alecisec Following up on this - did Carlos' suggestion above help?

[2018-05-17 22:56] amyblais commented on #8736
Hi @bkmgit Following up on this - did Lindy's suggestions above help? Are you still experiencing the issue?

[2018-05-17 22:58] amyblais commented on #8749
Hi @avasconcelos114! Just wanted to give you an update that this has been fixed in v4.10 which was released yesterday. Would you like to upgrade and see if the issue still reproduces for you?

[2018-05-18 00:53] avasconcelos114 commented on #8749
Ah yes, Just tested it and it's working great! :)

[2018-05-18 03:13] lindalumitchell commented on #8802
Hi @ninanung, I was able to reproduce this on MacOS, desktop app and browser, server version 4.9.3 and 4.10 (latest master). I've filed https://mattermost.atlassian.net/browse/MM-10647; we can track the issue there. Thank you!

[2018-05-18 05:53] chclaus commented on #8717
Hej @jasonblais I'll take care of it

[2018-05-18 09:00] rzr opened #8820 "Status on GDPR compliance ?"
I am wondering if mattermost complies to current EU regulation regarding privacy, it yes this it would be nice to know how did you manage to, if not then it could make sense to align implementation with other FLOSS projects and converge into a common architecture/interface.

For reference:
https://www.eugdpr.org/eugdpr.org.html

[2018-05-18 10:34] madvik opened #8821 "Webp format"
#### Summary
I woiuld like used the webp format for the avatar image.

[2018-05-18 10:36] minaevmike opened #8822 "Login can cause panic"
login command can panic if it reaches `Ldap.GetUser`
https://github.com/mattermost/mattermost-server/blob/master/app/login.go#L71
Possible before accessing ldap it must be checked is it nil or not(like here https://github.com/mattermost/mattermost-server/blob/master/app/ldap.go#L19)

[2018-05-18 11:06] jasonblais commented on #8820
Hi @rzr - great question. Mattermost is compliant with EU GDRP and we're working through the following:
 - ensure our documentation and privacy policy are up to date with GDPR
 - publish a guide for Mattermost admins and/or the Data Protection Officer (DPO) reviewing the capabilities of Mattermost to support compliance with the EU GDPR
 - announce compliance with the community

[2018-05-18 11:06] jasonblais commented on #8821
Thanks, appreciate your feedback @madvik!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing,

[2018-05-18 11:31] jasonblais commented on #8717
Thanks @chclaus :tada:

Glad to see you here :)

[2018-05-18 11:33] rzr commented on #8820
Excellent keep us posted

[2018-05-18 12:28] amyblais commented on #8749
Awesome, glad to hear that @avasconcelos114! :) Let us know if you encounter any other bugs!

[2018-05-18 12:28] #8749 closed

[2018-05-18 13:07] chclaus commented on #8717
Hej,

PR is submitted: https://github.com/mattermost/mattermost-api-reference/pull/370 :grin:

[2018-05-18 13:14] hmhealey commented on #8390
@babolivier Great to hear! Thanks for the followup

[2018-05-18 13:51] amyblais commented on #8808
@andyseubert Thank you!

Would there be any logs that you could share from around the time the lag starts to happen in case there is anything that we could investigate?

Would you also consider upgrading to the latest server version (4.10)?

You can also check out our important upgrade notes here: https://docs.mattermost.com/administration/important-upgrade-notes.html?highlight=important%20upgrade

[2018-05-18 14:59] Rudloff opened #8825 "Empty page on Android 4.2 browser"
#### Summary
When I load Mattermost 4.10 on the Android 4.2.2 browser, I get an empty page.

#### Steps to reproduce
1. Open the browser app.
2. Browse to a Mattermost server.

#### Expected behavior
The app loads or an error is displayed.

#### Observed behavior (that appears unintentional)
The page stays empty.

#### Possible fixes
I see these errors in the console:
[code]

It is probably not wo

[2018-05-18 16:01] andyseubert commented on #8808
@amyblais, I will get with our MM admin and see what logs we can post here.
In the meantime, do you have a suggestion on how to test and adjust latency between clients and the server? I presume that there are minimum server suggested CPU speed, memory , local disk space, etc., and I also presume that our server vastly exceeds the minimums, however I wonder if there is any performance optimization

[2018-05-18 16:02] andyseubert commented on #8808
P.S. we have upgraded to 4.10 and will test again to see if that helped, although I doubt very much that it will - unless you have done specific work towards this performance issue.
Thanks again

[2018-05-18 17:55] andyseubert commented on #8808
We did our testing on 05/08 so here are the log entries from that date.
root@mattermost-web:~# grep "2018/05/03" /opt/mattermost/logs/mattermost.log
[2018/05/03 02:53:51 PDT] [EROR] Failed to get security update information from Mattermost.
[2018/05/03 09:43:56 PDT] [EROR] /api/v4/users/login:SqlUserStore.GetForLogin code=400 rid=qa7zx375rtrgix9k91eahf689r uid= ip=10.2.4.29 We couldn't find an exi

[2018-05-18 18:37] lieut-data commented on #8741
I've finally been able to reproduce this -- thanks, @alecisec for all the help in getting here!

The root cause appears to be our use of the minio-go library, and this related issue: https://github.com/minio/minio-go/issues/848. Since we aren't giving the size to library up front, it ends up allocating a `576` MiB buffer for each file.

I've filed https://mattermost.atlassian.net/browse/MM-10677 t

[2018-05-18 20:07] #8822 closed

[2018-05-18 22:00] amyblais commented on #7769
Hi @Ppjet6, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-18 22:50] amyblais commented on #8761
Just wanted to give you an update that our engineers are working on testing this to see if they can reproduce the issue.

One thing to note is that we don't currently support importing threads - if this is something you would like us to add, please [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for

[2018-05-19 17:17] amyblais commented on #8649
Hi @discostur and @razorness Have you still experienced issues related to this?

[2018-05-19 18:29] lieut-data commented on #8761
@fmantek, there's definitely a bug in the Slack importer that is incorrectly suppressing logs when using the command line importer. I've filed https://mattermost.atlassian.net/browse/MM-10684 to get that resolved.

Working around that, I see the same behaviour when importing your Slack export -- basically nothing seems to happen. The slack importer is expecting files in very particular places, but

[2018-05-19 19:06] lieut-data commented on #8810
Hi @harshilsharma63! Any files you bundle into your plugin will be unpacked along with your executable. If you extract the path to your executable via `os.Executable`, you can serve up these assets from your server's executable using something like this:

[code]

If your plugin id is `test`, then you can access the files on your Mattermost server from `/plugin/test/<filename>`.

Of course there's

[2018-05-19 20:45] fmantek commented on #8761
Done with the advanced slackexporter from git hub, that I had to modify as well as the slack export format seem to have changed.

If you tell me what the importer expects I can probably fix that.

Gruss

Frank Mantek

On 19 May 2018, 20:29 +0200, Jesse Hallam <notifications@github.com>, wrote:

[2018-05-20 23:41] alecisec commented on #8741
This makes perfect sense! Well done, do you know when this bug was introduced? I don't remember it ever being an issue prior to around version ~4.6

[2018-05-21 06:35] mmalina opened #8831 "Desktop app on macOS logs out every few weeks"
#### Summary
Desktop app on macOS logs out every few weeks

#### Steps to reproduce
Log in with your desktop app on macOS. Keep logged in. Eventually the app will log you out.

#### Expected behavior
Once I log in in the desktop app, I stay logged in indefinitely.

#### Observed behavior (that appears unintentional)
Every once in a while the desktop app logs me out. This is especially annoying sin

[2018-05-21 16:48] amyblais commented on #8831
Hi @mmalina! Thank you for reporting this!

We have a repo specific to desktop app, could I ask your help to resubmit this issue there: https://github.com/mattermost/desktop/issues?

While you do so, can you also help share what Mattermost desktop app version and server version you use?

Thanks! :)

[2018-05-21 17:00] amyblais commented on #8825
Hi @Rudloff,

Thank you for reporting this!

I don't have an Android to test on, so I will ask someone from our team to take the repro steps and see what they experience.

[2018-05-21 17:44] andyseubert commented on #8808
I put the mattermost server log entries from the time the lag occurred in my previous comment.
What mattermost performance monitoring metrics would you suggest? I don't currently have any that I am aware of.
Unfortunately no one here will use mattermost until this is resolved so I don't have much more hard data to submit.

Thanks

[2018-05-22 07:43] mmalina commented on #8831
@amyblais thanks for the pointer, I resubmitted the issue here:
https://github.com/mattermost/desktop/issues/811

I included the info you requested as well. BTW, it might be a good idea to include something like **Environment** to your issues templates - if it was there, I would definitely have included such info.

[2018-05-22 10:44] jasonblais commented on #7543
That's awesome, thank you @lisakycho! :tada:

[2018-05-22 12:40] amyblais commented on #8831
Thank you @mmalina!

[2018-05-22 12:40] #8831 closed

[2018-05-22 13:30] amyblais commented on #8808
Hi @andyseubert, I checked with our engineers and they gave feedback that lagging while typing and scrolling is most likely a client-side issue, which is likely to be unaffected by the server.

Would you like to test on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and see if you experience the same issue there?

[2018-05-22 16:26] esethna opened #8838 "[Help Wanted] [MM-10677] Optimize S3 file uploads"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-22 16:36] Rudloff commented on #8825
Sorry, I just noticed my steps to reproduce where incomplete. The login form works correctly but once logged in I'm stuck on a blank page. (And then it goes straight to the blank page, which is why I forgot I was logged in.)

This is the first time I'm testing with this device so I don't know if it worked before 4.10.

Here is the user agent string of the browser: `Mozilla/5.0 (Linux; U; Android 4

[2018-05-22 16:36] esethna opened #8839 "[Help Wanted] [MM-10664] Grammarly affects Centre Channel scroll."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-22 17:12] andyseubert commented on #8808
Is there a different place to enter client side bugs like this?

[2018-05-22 17:37] esethna opened #8841 "[Help Wanted] [MM-10658] Ensure a blank config file has all defaults set correctly"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-22 22:41] amyblais commented on #8806
Hi @ryantm,

Apologies for the delay - just giving you a quick update here that I have let our engineers know about the questions you posted above, hoping to get feedback from our engineers soon.

[2018-05-22 22:45] amyblais commented on #8714
Hi @alecisec, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-22 22:45] #8714 closed

[2018-05-22 22:46] amyblais commented on #8649
Hi @discostur, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-22 22:46] #8649 closed

[2018-05-22 22:47] amyblais commented on #8619
Hi @numericillustration, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-22 22:47] #8619 closed

[2018-05-22 22:48] amyblais commented on #8736
Hi @bkmgit, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-05-22 22:48] #8736 closed

[2018-05-22 22:50] amyblais commented on #8754
Hi @navc-0001!

Just checking in - did you by chance open a feature request for this? If yes, can you help with a link for reference?

[2018-05-22 22:57] amyblais commented on #8825
Hi @Rudloff!

I checked with a teammate and they weren't able to reproduce the issue even though they were logged in. I believe they tested on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676).

You provided the url for the instance that you use, would you be able to share access to a test account for an empty team so we can al

[2018-05-23 08:19] agalisteo opened #8844 "Broken page Custom Emoji"
#### Summary
Accesing to Custom Emoji show blank page getting the error:
[code]

#### Steps to reproduce
Main Menu -> Custom Emoji

#### Expected behavior
Custom Emoji page work, we can see the information and add new emojis

Mattermost Info
-----------------------
* Mattermost Version: **4.10.0**
* Database Schema Version: **4.10.0**
* Database: **mysql**

[2018-05-23 08:50] Rudloff commented on #8825
@amyblais Is there an e-mail address where I can send you credentials for a test account?

[2018-05-23 09:23] dlahlou opened #8845 "Wrong error message in team creation"
On mattermost Api, when I try to create a team with a name containing a capital letter, I get the following error message (in French) : "Le nom doit être composé d'au moins 2 caractères alphanumériques minuscules".
For example, the name "team01" is OK, but "Team01" is KO.
If your API does not allow creating a team with a name containing a capital letter, the error message should be changed to ment

[2018-05-23 12:38] amyblais commented on #8741
Hi @alecisec!

We have created a [Help Wanted issue here](https://github.com/mattermost/mattermost-server/issues/8838) and are looking for community's help. If you are interested in helping with a pull request, please let us know. I'll close this issue for now as we can track this through the help wanted ticket.

[2018-05-23 12:38] #8741 closed

[2018-05-23 12:42] amyblais commented on #8808
Hi @andyseubert!

Great question - there isn't a separate place for client side bugs, we would just like to invite you to try out our nightly build server to see if it is an issue on the client side or not (this is not confirmed yet).

Please let us know if you would like to join the [build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) to see

[2018-05-23 12:45] amyblais commented on #8825
@Rudloff Good point, yes, please join our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and you can message me there (username: @amyblais).

[2018-05-23 13:01] amyblais commented on #8844
Hi @agalisteo!

Thank you for reaching out.

I'm not able to repro this, can you help with the following additional information:

1. Is this a new issue after upgrading to 4.10?
2. Does this repro consistently and has there been anything that resolves the issue, e.g. refreshing the page or logging out and back in?
3. Are you seeing the issue on webapp or desktop app?

[2018-05-23 13:07] amyblais commented on #8845
Hi @dlahlou!

Thank you for reporting this.

Does this issue repro only on Api? I did a simple test on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and I wasn't able to repro.

Can you also let me know what server version you are using?

[2018-05-23 13:18] dlahlou commented on #8845
Hi @amyblais
Yes, the error occurs only on the api.
I'm using Mattermost Version: 4.9.0.

[2018-05-23 13:41] lieut-data commented on #8761
@fmantek, the importer is essentially expecting everything in the root of the zip:
* channels.json
* users.json
* <channel_name>/*.json
* __uploads/

I suspect when you modified it, your zip program repackaged things to add the extra `TheManteks Slack export May 4 2018` folder within, as well as relocated the `__uploads` folder.

Let me know if that helps you make progress!

[2018-05-23 14:23] AndersonWebStudio commented on #8806
Hi @ryantm , My test was using NPM version 5.6.0, are you able to upgrade?

[2018-05-23 16:45] andyseubert commented on #8808
ok I've joined the build server. Is it OK if I get my group to join there to test ? They are the folks that I have to satisfy before they'll leave slack.

Thanks

[2018-05-23 16:54] amyblais commented on #8808
@andyseubert Of course, everyone is welcome!

[2018-05-23 18:00] ryantm commented on #8806
It looks like that worked, thank you!

[2018-05-23 18:00] #8806 closed

[2018-05-23 20:47] amyblais commented on #8845
Hi @dlahlou,

Apologies for my bad French skills, but I just want to confirm I understand the expected - in the error message you provided, if I understand correctly, the "caractères alphanumériques minuscules" means "lowercase characters". Can you help with a simple example text of what the error message could say instead?

I can also take a look at editing our API documentation to mention that t

[2018-05-23 23:14] dlahlou commented on #8845
It depends. From the API, are you willing to allow creating a team with a name containing an uppercase letter? for example "Team01".

[2018-05-24 06:34] agalisteo commented on #8844
1. New issue upgrading from 4.9 to 4.10.0
2. We have tried restart the server, refresh page, clean cache, nothing works
3. Web self-hosted

[2018-05-24 12:09] amyblais commented on #8845
@dlahlou, Good question, I will check with the team about that!

[2018-05-24 16:18] amyblais commented on #8845
Hey @dlahlou, I got feedback from the team:

The Team's "name" field must be lowercase at this time, but the "display_name" can be either case.
The "name" refers to the snippet in the URL, not the one shown in the UI, so we've decided that we want that to be lowercase. Here are docs for reference: https://api.mattermost.com/#tag/teams%2Fpaths%2F~1teams%2Fpost.

Does this describe what you are seei

[2018-05-24 20:32] chclaus commented on #8841
Hej hej,

I'll take this one.

[2018-05-24 21:33] sokoow commented on #8820
This is totally not true, Mattermost currently lacks following technical capabilities to fully support GDPR (unless I missed something):

- offloading users and their historical chats - need to do it manually at the DB level currently - this can be fixed by posting a guideline on how to do it properly at the DB level first (for example by replacing all user's chats with <deleted> as a simple solut

[2018-05-24 21:40] lfbrock commented on #8820
@sokoow - when you say dropping records off the DB for offloaded users causes problems, was that using the [platform user delete CLI tool](https://docs.mattermost.com/administration/command-line-tools.html#platform-user-delete) or doing it manually?

[2018-05-24 21:47] sokoow commented on #8820
Ah, I totally missed that CLI option! :D We were doing it manually, and yes, managed to snooker things this way. Is the CLI way safe to use ? Are you planning to extend that option to GUI as well, like you did with disabling users (fair play) ?

[2018-05-24 23:41] amyblais commented on #8754
Hi @navc-0001, we haven't received an update so I'll close this issue for now.

If you want to open a feature request, please let us know!

[2018-05-24 23:41] #8754 closed

[2018-05-25 07:32] sokoow commented on #8820
One more thing - upon closer system inspection, we noticed that there's another place where user generated data is being stored, it's the data directory, which holds pictures, avatars and attachments that users added to the system. Do you have any selective way to offload that content too - does platform delete command take care about this ?

[2018-05-25 09:07] dlahlou commented on #8845
I understand. In this case the error message should be something like "The 'name' field must be lowercase". In french "Le champ 'nom' doit être en minuscule".

[2018-05-25 12:28] jasonblais commented on #8820
@sokoow I don't think that command would affect your file storage / data directory. I have touched base with our engineers to confirm.

By the way @sokoow @rzr we have an overview of GDPR [here](https://docs.mattermost.com/overview/compliance.html) and a summary of all our license agreements, terms and privacy policy [here](https://docs.mattermost.com/overview/faq.html#what-are-mattermost-s-polici

[2018-05-25 13:27] jasonblais commented on #8820
The command doesn't delete content from the data directory.

However, all file uploads include a `CreatorId`, which can be used to delete all uploads for a given user. Avatars are stored in `data/users/<userid>/profile.png`

[2018-05-25 13:28] sokoow commented on #8820
Cool, that's useful information thank you.

[2018-05-25 13:41] eloi29 opened #8852 "Disconnection when tagging someone"
#### Summary
We are using mattermost server 4.8.1 with 80+ users.
When tagging someone, we encounter random disconnection on the web browser.

#### Steps to reproduce
Add @user in your message. Randomly you get disconnected

Have you ever see this issue.

Thanks

[2018-05-25 18:09] amyblais commented on #8845
One last thing: can you help with an example API and payload that you are using?

[2018-05-25 19:59] awsom82 opened #8856 "Webhook use real username for integration bot name"
#### Summary
Webhook creator username used instead of declared in payload.

#### Steps to reproduce
1) Create webhook
2) create integration on GitLab or Redmine
3) Yours username becomes in integration messages as a bot

#### Expected behavior
If somebody creates a webhook and use it, his user account displayed as bot name. For example, in GitLab or Redmine integration incoming Webhook message wro

[2018-05-25 22:36] amyblais commented on #8852
Hi @eloi29! Thank you for reaching out.

Can you help with the following additional information:

1. Which web browser does this issue reproduce on?
2. Does this also reproduce on mobile (if you have used / are using it)?
3. Do you see any errors in logs when the disconnection occurs?

I have been personally unable to reproduce the issue on the latest server (v4.10) so I also recommend upgrading.

[2018-05-25 22:47] amyblais commented on #8856
Hi @awsom82! Thank you for reaching out.

This document might help: https://docs.mattermost.com/developer/webhooks-incoming.html.

Especially if you take a look at the third note in the middle of the page (if you scroll up right above the ["Tips and best practices" section](https://docs.mattermost.com/developer/webhooks-incoming.html#tips-and-best-practices)) which says: "Enable integrations to ov

[2018-05-26 00:03] amyblais commented on #8803
Closing this for now, as this can be tracked with the ticket linked above.

[2018-05-26 00:03] #8803 closed

[2018-05-26 00:05] amyblais commented on #8810
Hi @harshilsharma63, did Jesse's information above help?

[2018-05-26 00:05] amyblais commented on #8821
Hi @madvik! Checking in - did you open a feature request for this?

[2018-05-26 00:26] lisakycho commented on #8497
I'll take this one!

[2018-05-26 00:28] harshilsharma63 commented on #8810
@amyblais hi, apologies for not replying. The above demonstrated method works perfectly.

[2018-05-26 03:41] harshilsharma63 commented on #8810
You may close this issue now. Thanks!

[2018-05-26 07:11] cometkim commented on #8839
It seems to be able to fix easily by adding `overflow: hidden;` into `<body>` tag.
Let me file a PR.

[2018-05-26 07:44] bbodenmiller opened #8857 "empty MM_NATIVEAPPSETTINGS_ANDROIDAPPDOWNLOADLINK environment variable does not set setting to blank"
#### Summary
Empty `MM_NATIVEAPPSETTINGS_ANDROIDAPPDOWNLOADLINK` environment variable does not set setting to blank

#### Steps to reproduce
1. Set  `MM_NATIVEAPPSETTINGS_ANDROIDAPPDOWNLOADLINK` to be empty/blank

#### Expected behavior
Setting should be blank in system console

#### Observed behavior (that appears unintentional)
Is not blank

![image](https://user-images.githubusercontent.com/119

[2018-05-26 08:43] awsom82 commented on #8856
@amyblais big thanks, I triple try to find some information, but fail with it. Sorry, for misreporting.
PS Maybe its better to enable this opts by default?

[2018-05-26 08:43] #8856 closed

[2018-05-26 12:47] mamhoff opened #8858 "Frontend breaks after hard-deleting team via API"
#### Summary

Frontend breaks after permanently deleting team via API

#### Steps to reproduce

0. Create two teams with yourself as member.
1. Create a new team via the API using a token
2. Delete the new team via the API, adding the `permanent=true` query parameter
3. While logged in in the web app, change teams. I get a white screen and console errors:
[code]

There's a few of these, not just o

[2018-05-26 14:39] HarvsG opened #13993 "Documentation needed: Errors in production docker install"
1. https://github.com/mattermost/docs/blob/master/source/install/prod-docker.rst#L73-L77
This turorial point is inccorect  [docker-compose.yml](https://github.com/mattermost/mattermost-docker/blob/master/docker-compose.yml) no longer contains `dockerfile: Dockerfile-enterprise`
2.  The tutorial contains no advise to edit the <code>[MM_PASSWORD=mmuser_password](https://github.com/mattermost/matterm

[2018-05-27 12:31] kaakaa commented on #6174
Hi @jasonblais.
Sorry for my late reply. I'm back.

I looked into server messages including html tags. Since most of that messages are used to be embedded in email templates, I'm going to modify messages and email template files.

At first, I make one exmple and I'm going to modify other messages on this way.
[Modifying message and templates about mfa\_change · kaakaa/mattermost\-server@84f7790](h

[2018-05-27 19:36] chclaus commented on #8841
Hi @esethna,

I hope you're all right. Before I get started, I wanted to make sure:
- Should **all** types of normal variables really change to pointers?
- Is it correct that the default value of a `nil bool` pointer should be `false`?
- Is it correct that the default value of a `nil string` pointer should be an empty string?

Just changing the variables to pointers will not change the behavior of

[2018-05-28 07:49] moussetc opened #8859 "French description of "Do Not Disturb" is cut"
#### Summary
In French, the description of "Ne pas déranger" (Do not disturb) mode is cut off.

#### Steps to reproduce
Using Mattermost version 4.10.0 (the issue is also present on a 4.6.0 version), set the language to French, then click on the status icon to open the status menu.

#### Expected behavior
All texts should be entirely displayed.

#### Observed behavior (that appears unintentional)

[2018-05-28 11:31] jasonblais commented on #6174
That looks great! You can also consider posting your proposal in the localization channel for early feedback. https://pre-release.mattermost.com/core/channels/localization

Big thanks @kaakaa :)

[2018-05-28 11:37] jasonblais commented on #8859
Hey @wget - is this something you'd be able to take a look at translate.mattermost.com?

[2018-05-28 11:42] jasonblais commented on #8841
@hmhealey Would you be able to help on this one?

[2018-05-28 11:50] wget commented on #8859
@jasonblais This is something I have already reported, but this hasn't been fixed.
I can remove the end `for mobile`, but this considers the user knows what is a push notification and that the latter only concerns mobile devices using the mobile application.

So instead of "Disable desktop notifications and push on mobile", I can translate as it: "Disable desktop notifications and push" is that en

[2018-05-28 11:54] jasonblais commented on #8859
How about translating it as `Disables desktop and push notifications`?

That's correct and I believe there's a ticket for it.

[2018-05-28 12:01] amyblais commented on #8856
No worries at all, glad to hear the issue is resolved! Let us know if you encounter any other issues / bugs.

[2018-05-28 12:26] #8810 closed

[2018-05-28 12:31] wget commented on #8859
Yes, but unfortunately, this sentence cannot be built like this in French as `desktop` and `push` need to come afterwards.

Or maybe: "Disables notifications for desktop and for mobile". That way, we do not need to specify the term push (and somewhat explain that term with additional items). What do you think?

[2018-05-28 12:40] jasonblais commented on #8859
In English, that sounds good for me (except we would say `Disables notifications for desktop and mobile`, but the "for" for mobile may be relevant in Frenc)

[2018-05-28 12:48] amyblais commented on #8857
Hi @bbodenmiller! Thank you for reaching out.

Can you help with the following additional details:
1. Mattermost server version and Mattermost Android app version.
2. Are you following a specific Mattermost documentation and would you have a link?

[2018-05-28 12:50] wget commented on #8859
@jasonblais D***. Even when shortening as much as I can the final result doesn't look good: the text isn't centered. You see the white padding at the right is not the same as the one at the left. So I definitely think the size of the menu needs to be computed depending of the size of the items.
![screenshot_20180528_144811](https://user-images.githubusercontent.com/2997662/40615257-56008006-6286-1

[2018-05-28 12:51] wget commented on #8859
I definitely think the bug which has been filled to recompute on the fly the size of the drop down menu needs to be fixed in order for this issue to be properly resolved.

[2018-05-28 12:56] moussetc commented on #8859
For information, this minor issue is also here for the German translation:
![image](https://user-images.githubusercontent.com/8834237/40615429-fe73e8a4-6286-11e8-968e-e2e2bccee88c.png)
And also Turkish...
![image](https://user-images.githubusercontent.com/8834237/40615485-42ce0a7a-6287-11e8-8161-c51465136238.png)
Shortening the French translation might be a temporary fix only ;)

[2018-05-28 13:21] hmhealey commented on #8859
What about just using "Disables notifications"? Or can you still get emails when in Do Not Disturb mode?

[2018-05-28 13:35] amyblais commented on #8858
Hi @mamhoff! Thank you for reaching out and apologies for the delay.

I will ask one of our engineers to take a look at this.

[2018-05-28 18:03] bbodenmiller commented on #8857
4.9.1

Android app is not being used

Using environment variable section of https://docs.mattermost.com/administration/config-settings.html

[2018-05-28 18:14] tooolbox commented on #8320
@lindy65

Thanks for keeping this open as long as you did :)

My server admin upgraded to 4.10, and while I'm not seeing the issue I was previously having, I *am* seeing what @avasconcelos114 was running into.

[code]

This strikes me as odd because you said the PR that fixes this was merged, and the ticket you linked to says version 4.10, and our MM server is now on 4.10.0...

Any thoughts?

[2018-05-28 18:27] tooolbox commented on #8320
Aha, I see that in [4.10](https://docs.mattermost.com/administration/changelog.html) we have:

Seems like the underlying bug was fixed, but I still have the symptoms since my particular team was deleted under an old version.  I guess I would have expected the `roles` truthiness check to have been included in the PR to handle existing, affected users.

Ah, well!  Is there a way to handle this?

[2018-05-28 19:01] tooolbox commented on #8320
I got my admin to root around in the DB and he found that while I did not have some sort of stuck record as belonging to another team, I was in a Channel that belonged to another team and therefore was getting a `mention` count for that Channel that was then causing this problem.

Anyway, he just removed my membership of that Channel straight in the DB and it works fine now.

[2018-05-28 23:41] onlyjob opened #8865 "html2text: needless fork"
html2text is a needless fork:

  * https://github.com/mattermost/html2text
  * https://github.com/mattermost/mattermost-server/tree/master/vendor/github.com/mattermost/html2text

Reason for forking is no longer valid: https://github.com/ssor/bom/issues/1

Needless forking is harmful. Please switch back to original project:

  https://github.com/jaytaylor/html2text

Fork is used only in one place:

[2018-05-28 23:47] onlyjob opened #8866 "github.com/tylerb/graceful --> gopkg.in/tylerb/graceful.v1"
Canonical import path for [tylerb/graceful](https://github.com/tylerb/graceful) is
"`gopkg.in/tylerb/graceful.v1`". Please update incorrect import in

https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/main.go#L25

[2018-05-29 00:12] onlyjob opened #8867 "log4go: unmaintained library"
Mattermost currently depends on [alecthomas/log4go](https://github.com/alecthomas/log4go) which is stated to be "_an unmaintained fork_". Indeed project had little activity in the last three years and, more importantly, have no bug tracker...

As I was searching for alternatives I've found https://github.com/ccpaging/log4go which appears to be actively maintained. Its issue management is also disa

[2018-05-29 01:58] zfstest opened #8868 "Slack Import fails to add users"
#### Summary
Mattermost 4.2 only imports the first user from Slack-Import (users.json),and can't set the users' email address correct.

#### Steps to reproduce
Version: Mattermost 4.2
1. I exported my slack settings  like it is descriped in the documentation.
   I don 't have installed any addons.
2. I imported the zip file into mattermost.

#### Expected behavior
In the ImportSummary, only the fi

[2018-05-29 05:44] cpanato commented on #8865
Hello @onlyjob thanks for this update. I will make some tests and talk with @jasonblais to we move forward

[2018-05-29 07:18] lindy65 commented on #8320
Hey @tooolbox :)

Thanks for coming back to report on your issue and how you resolved it!  Glad it's working for you now :)

[2018-05-29 11:47] wget commented on #8859
Ok. I translated as this: "Disable notifications (except e-mails)" and this suits the space.

Corrected. Closing.

[2018-05-29 11:51] onlyjob opened #8870 "github.com/go-ldap/ldap --> gopkg.in/ldap.v2"
Please use canonical import path for [gopkg.in/ldap.v2](https://github.com/go-ldap/ldap):

https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/main.go#L19

[2018-05-29 12:19] amyblais commented on #8867
Hi @onlyjob! Thank you for reaching out.

Is this issue related to the other issues that you have opened (#8865, #8866, #8870)?

[2018-05-29 12:37] onlyjob commented on #8867
I don't see how this issue is related to any other issues that I've opened. Do they look related? What would have been different if they were related?

[2018-05-29 13:18] onlyjob opened #8872 "please update github.com/throttled/throttled"
Newer release of [github.com/throttled/throttled](https://github.com/throttled/throttled) is available and it [can not be imported](https://github.com/throttled/throttled/pull/32) as `gopkg.in/throttled/throttled.v2` any more so [imports](https://github.com/mattermost/mattermost-server/blob/master/app/ratelimit.go#L17-L18) would have to be updated to `github.com/throttled/throttled`.

[2018-05-29 13:30] hmhealey commented on #8867
Hi @onlyjob,

We recently stopped using log4go in Mattermost 4.10 in favour of a combination of https://github.com/uber-go/zap and https://github.com/natefinch/lumberjack because of the same reasons you mentioned and because we wanted some additional features that log4go didn't have. The latest released version of Mattermost uses the new logging system

[2018-05-29 13:45] amyblais commented on #8866
Hi @onlyjob! Thank you for reporting this.

I opened a PR here to fix this and it's currently under review: https://github.com/mattermost/mattermost-server/pull/8873.

[2018-05-29 13:49] amyblais commented on #8870
Included fixes in the same PR: https://github.com/mattermost/mattermost-server/pull/8873

[2018-05-29 13:51] amyblais commented on #8872
@crspeller Is this something you can help with?

[2018-05-29 13:55] onlyjob commented on #8867
That's great. Thanks, @hmhealey. I would have noticed if I were checking latest release... :)

[2018-05-29 14:11] crspeller commented on #8872
Nice catch @onlyjob. I will change the import paths next time I upgrade the server dependencies.

[2018-05-29 14:18] crspeller commented on #8866
Considering that library is not even maintained anymore. I think our current import paths are fine.

[2018-05-29 14:18] #8866 closed

[2018-05-29 14:21] crspeller commented on #8870
I don't really see a reason to change this, gopkg.in was solving an old problem that go had with versioning that has since been mostly resolved. (we are using dep)
In the future golang is going to support versioning the import path without a service like gopkg.in. (see the vgo proposal) I don't think it wise to switch import paths to be using it.

If there is a good reason I am missing, let me kno

[2018-05-29 14:21] onlyjob commented on #8867
Already fixed in latest version 4.10.0; closing...

[2018-05-29 14:21] #8867 closed

[2018-05-29 14:31] fbartels commented on #8857
@bbodenmiller seems we have run into the same issue (just with different configuration options): https://forum.mattermost.org/t/how-to-properly-set-connection-security-through-env-variable/5029

[2018-05-29 14:50] onlyjob commented on #8866
:(  I suppose we'll just have to carry patch downstream in Debian...

[2018-05-29 14:51] hmhealey commented on #8841
@chclaus All fields of the Settings structs in [`model/config.go`](https://github.com/mattermost/mattermost-server/blob/master/model/config.go) should be changed to pointers. Most of them already are, so we just need to go change the ones that aren't. For example, if you look at [the ServiceSettings struct](https://github.com/mattermost/mattermost-server/blob/master/model/config.go#L164), most of

[2018-05-29 14:57] onlyjob commented on #8870
Of course this is not a big issue but library documentation suggests to import using a particular path.
I had to patch the import path to fix FTBFS I've got when I was trying to build Mattermost from source - that's how I became aware of the problem...

[2018-05-29 15:12] hmhealey commented on #8857
I've filed a Jira ticket to look into this further with some additional information on the cause of the problem

https://mattermost.atlassian.net/browse/MM-10730

[2018-05-29 16:24] icelander commented on #8858
Hi @mamhoff - I've reproduced the error and created a [JIRA ticket to track it](https://mattermost.atlassian.net/browse/MM-10737) Thanks for finding this!

[2018-05-29 16:26] crspeller commented on #8870
@onlyjob How does a different import path cause a build failure? We are certainly able to build MM.

[2018-05-29 17:33] sokoow opened #8874 "Upgrade bootstrap version to mitigate Bootstrap@3.3.7 vulnerability"
#### Summary
Bootstrap@3.3.7 that you use in up to version 4.10.0 has a known vulnerability: https://snyk.io/vuln/npm:bootstrap?lh@3.3.7

#### Steps to reproduce

Upon testing Mattermost with lighthouse extension: (https://www.youtube.com/watch?v=8w9YBEyfJSQ&feature=youtu.be and https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk?hl=en ), this comes up in vulnerab

[2018-05-29 17:45] amyblais commented on #8858
Hi @mamhoff - As an afterthought, can you help check if this ticket that has been previously opened  closely describes the issue you are seeing: https://mattermost.atlassian.net/browse/MM-10432?

We are including a fix for that ticket in an upcoming dot release (4.10.1), so it is possible that you'll see improvements when that is released.

[2018-05-29 22:35] amyblais commented on #8857
I'll close this issue for now as this can be tracked with the ticket linked above.

[2018-05-29 22:35] #8857 closed

[2018-05-29 22:36] #8859 closed

[2018-05-30 00:18] zfstest commented on #8868
Hi @amyblais
Thanks for your replay.
But I only can use the 4.2 version.

If this is a bug in 4.2 version ,I'll report to my colleague.
Do you think this is a bug?

[2018-05-30 06:43] tejasbubane commented on #8783
The URL https://ci-linux-mysql.mattermost.com/ is giving `502 Bad Gateway`.

[2018-05-30 06:46] tejasbubane commented on #8720
@jasonblais I think this issue can be closed.

[2018-05-30 06:54] tejasbubane commented on #8670
Can be closed.

[2018-05-30 06:55] tejasbubane commented on #8717
Can be closed.

[2018-05-30 07:04] tejasbubane commented on #8664
Hi, I looked into this issue a bit. I see only one getState in the i18n.jsx file: https://github.com/mattermost/mattermost-webapp/blob/master/i18n/i18n.jsx#L142.

Do you intend to move the getState part in the components that call this function? I see two usages of that `getlanguages` function which calls `getState` - [[1]](https://github.com/mattermost/mattermost-webapp/blob/master/components/use

[2018-05-30 07:16] tejasbubane commented on #8566
I will take this one.

[2018-05-30 07:29] tejasbubane commented on #8566
I can generate the `emoji_data.go` file from that Ruby script `make-emojis`, but how do I add it to this repository?

[2018-05-30 08:09] mamhoff commented on #8858
@icelander excellent, thank you!
@amyblais Yeah, it appears the ticket you're mentioning is closely related. However, there's no mention of the `permanent` flag. If I my (cursory) read of the source is correct, that's two different code paths. As well, the ticket you're linking mentions:

...which seems to be the proper fix.

Kudos, great work! :)

[2018-05-30 09:10] hannu78 opened #8878 "LDAP sync breaks if user's ldap id changed"
#### Summary
One user's LDAP username was changed and it caused Mattermost server LDAP configuration change and MM server restart during manual LDAP sync.

Mattermost server version: 4.9.3
Platform Debian Jessie 8.10 linux 64-bit
openldap-2.4.40
License: Enterprise edition

#### Steps to reproduce
1. Connect Mattermost to OpenLDAP
2. Change one user's username in LDAP (such user that has already b

[2018-05-30 10:25] esethna opened #8879 "[Help Wanted] [MM-10270] Number format in yaml specifies integer type for create_at, update_at, delete_at but returns int64"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-30 10:41] slechta commented on #4242
Is there any progress? Thanks.

[2018-05-30 10:53] #8717 closed

[2018-05-30 10:54] jasonblais commented on #8720
https://github.com/mattermost/mattermost-webapp/pull/1175

[2018-05-30 10:54] #8720 closed

[2018-05-30 10:55] jasonblais commented on #8781
Thanks all for the feedback! Closing.

[2018-05-30 10:55] #8781 closed

[2018-05-30 11:12] jasonblais commented on #4242
Hey @slechta - channel mute was released in Mattermost v4.9! :)

[2018-05-30 11:14] jasonblais commented on #8783
@tejasbubane should be back up now 👍

[2018-05-30 11:14] #8670 closed

[2018-05-30 12:19] Ag3m opened #8880 "In French, hovering the "Flag" icon on the top right makes the display buggy"
#### Summary
In French, hovering the "Flag" icon on the top right makes the display buggy. (see screenshot)

#### Steps to reproduce
It seems that the hover label for the "Flag" icon is longer in French. Thus, on hover, the label needs more space to be displayed. So, on hover, the label is cropped on the right, and a drag bar appears at the bottom of the screen that allows to go to the right of th

[2018-05-30 14:23] icelander commented on #8874
Hi there,

Thanks for contacting us about this. While we shouldn't be using `data-target`, the places we use it are hard coded and therefore not susceptible to this vulnerability. However, we are going to upgrade to Bootsrap 4 as soon as possible.

[2018-05-30 15:29] amyblais commented on #8880
Hi @Ag3m! Thank you for reaching out.

I'm able to repro on Mac, latest server version (4.10).

@wget - is this something you'd be able to take a look at through translate.mattermost.com?
Jason pinged you on [this issue](https://github.com/mattermost/mattermost-server/issues/8859) and I thought this issue sounds similar, but please let me know if this is more than a translation issue.

[2018-05-30 15:44] wget commented on #8880
@amyblais Yes, I think this is something it needs a proper fix, because this time, the string will be hard to reduce, otherwise the sentence won't mean anything understandable for the end user. :-/

[2018-05-30 15:45] wget commented on #8880
There is definitely an issue with dynamic UI size wrt. the mattermost webapp.

Since the issue happens with other translation as well, I definitely think this should be escalated to the dev team rather to translators.

[2018-05-30 16:04] amyblais commented on #8880
Thank you! I will create a ticket for this today.

[2018-05-30 16:26] amyblais commented on #8878
Hi @hannu78! Thank you for reaching out.

Can you help provide the following additional information as the first step:

1. Your LDAP settings from config.json (with sensitive info such username/password removed).
2. Your AD/LDAP server and version (e.g. Active Directory on Windows Server 2016).
3. Enabling debug logging and then running the sync from the admin console and attaching all of the Matt

[2018-05-30 16:37] amyblais commented on #8868
Hi @zfstest!

Yes, this sounds like a bug since you should be able to import all users and there shouldn't be errors in users' emails.

We have fixed different kinds of bugs related to Slack Import in past releases, and it is very well possible that this issue has been fixed in one of our recent releases.

If a user is hitting issues on an older version, we usually recommend upgrading. Is this som

[2018-05-30 18:21] hmhealey commented on #8566
@tejasbubane It's fine if the script just generates the emoji_data.go and leaves it somewhere in the webapp repo that's easy to find. Alternatively, we usually expect that the webapp and server are installed next to each other, so you could have the script check to see if `../mattermost-server/model/emoji_data.go` exists and replace it if it does

[2018-05-30 18:53] amyblais commented on #8880
Hi @Ag3m! Opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-10750.

[2018-05-30 20:57] chclaus commented on #8841
hej @hmhealey thanks. I think I got it :)

[2018-05-30 21:49] amyblais commented on #8761
Hi @fmantek! Did Jesse's instructions above help?

Optionally we can also track this issue through the ticket that was opened.

[2018-05-30 21:50] amyblais commented on #8858
Sounds good! I'll close this issue for now as it can be tracked with the ticket that was opened - https://mattermost.atlassian.net/browse/MM-10737.

[2018-05-30 21:50] #8858 closed

[2018-05-30 21:51] amyblais commented on #8880
I'll close this issue for now as it can be tracked with the ticket that was opened above.

[2018-05-30 21:51] #8880 closed

[2018-05-31 06:13] fmantek commented on #8761
Sorry, was on a business trip. Will try this weekend.

Frank

On 30. May 2018, 23:49 +0200, amyblais <notifications@github.com>, wrote:

[2018-05-31 07:55] wget commented on #8880
@amyblais Ok no issue. Btw, if you could specify the problem appears with other language as well in order to make it sound less French specific, that will be nice of you :)

[2018-05-31 10:19] phuihock commented on #8642
Given the keyword "番茄" (tomato) and the message is "番茄", mention works. But if the keyword is part of a sentence such as "我爱吃番茄炒饭" (I like tomato fried rice), mention is not sent. The reason is "我爱吃番茄炒饭" being treated as a single word, which obviously wouldn't match the keyword "番茄".

A possible fix is to allow substring match with keyword prefix `~`.

So in this example, we write `~番茄`.

https://

[2018-05-31 11:44] onlyjob opened #8883 "4.10.0: fork of spf13/viper imported from original library path"
I run into another dependency problem in 4.10 - [fork](https://github.com/mattermost/viper) of [github.com/spf13/viper](https://github.com/spf13/viper) that is [imported from original library path](https://github.com/mattermost/mattermost-server/blob/master/Gopkg.toml#L49-L50). Downstream it creates practical problem of building Mattermost with reusable _spf13/viper_ library let alone abomination

[2018-05-31 11:57] onlyjob commented on #8883
FYI @hmhealey.

[2018-05-31 12:08] amyblais commented on #8880
@wget No problem! I edited the ticket to make it less French specific.

[2018-05-31 12:54] onlyjob opened #8884 "convoluted license"
Quoting [LICENSE.txt](https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt#L17-L20)

Text is obviously _very difficult_ to understand. Wording is very ambiguous.
Would it be possible to re-phrase that paragraph please?
Perhaps mention that certain AGPL-3 paragraph do not apply?

[2018-05-31 12:55] onlyjob opened #8885 "LICENSE refers to non-existent directories"
https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt#L15

[2018-05-31 12:58] onlyjob opened #8886 "LICENSE: _may be_ licensed to use source code."
https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt#L9

"May be licensed"?? Under what conditions?

This is not compliant with open source definition.

[2018-05-31 13:00] onlyjob commented on #8885
Scope of _Apache-2.0_ could be better defined. Perhaps it would be better just to put `LICENSE` file into corresponding directories.

[2018-05-31 13:06] onlyjob commented on #8884
I read [(b)](https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt#L19-L20) section as "no derivatives". :(
Modifications _must be allowed_ or it is not an "open source"...

[2018-05-31 13:31] esethna opened #8888 "[Help Wanted] [MM-9602] Move getFlaggedPosts action from webapp to mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-31 13:36] esethna opened #8889 "[Help Wanted] [MM-8860] Bulk loading: Support every 15 minutes and every 1 hour intervals for email notification preferences"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-31 17:21] SmartHoneybee commented on #8866
@onlyjob, looks like you're trying to package [Mattermost for Debian](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823556) (awesome!) and this issue as well as the others you opened are related to this plan. (Which should fix #4176.)
(I'm not sure whether this is obvious to others. Hence, this message. :slightly_smiling_face:)

So, why modify the import path? (Guessing a bit. Feedback welcome

[2018-05-31 20:17] gravufo commented on #8844
I also have the same issue and it only started happening as soon as I updated Google Chrome and Firefox to the latest version (67.0.3396.62 64-bit and 60.0.1 64-bit respectively). I can't remember what version I had before updating though.

[2018-05-31 22:23] amyblais commented on #8884
@crspeller Are you familiar with this, or do you know who to ask about this?

[2018-05-31 23:05] onlyjob commented on #4176
Serious blockers are #8884, #8885, #8886.

[2018-05-31 23:31] amyblais opened #8891 "Mattermost v5.0"
This is a meta issue for v5.0 release updates.

You can find key dates for v5.0 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### June 5th: Code Complete
Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated after rele

[2018-06-01 01:53] onlyjob opened #8892 "luximbi.ttf: non-free?"
`fonts/luximbi.ttf` is `Copyright (c) 2001 by Bigelow & Holmes Inc. Instructions copyright (c) 2001 by URW++` and __no license__ which makes it "non-free" due to implicit "All Rights Reserved".

Please either remove this font or document its license and origin.

[2018-06-01 02:02] onlyjob opened #8893 "pre-built binaries in source: app/plugin/jira/plugin_*"
`app/plugin/jira/plugin_*` are pre-built binaries. It is a bad practice to commit pre-built files. Those files should be (re-)generated on build time.

[2018-06-01 02:03] onlyjob commented on #8893
Same applies for `app/plugin/zoom/plugin_*`.

[2018-06-01 13:03] eloi29 commented on #8852
Hi @amyblais,

Thanks for your answer:

1. We reproduce the issue with firefox and chrome
2. We do not reproduce the issue on mobile
3. Please see the logs when the issue occurs:

[2018/05/31 08:57:55 EDT] [INFO] /api/v4/users/a5kach11rjy93pbgbi3oo57aza/image:ServeHTTP code=401 rid=oh7utythstggbn1ufqgk33zh5y uid= ip=1.2.3.4 Invalid or expired session, please login again. [details: token=xxxxxxxxxx

[2018-06-01 13:05] jkurian commented on #8663
I would like to look into this!

[2018-06-01 13:18] amyblais commented on #8808
Hi @andyseubert - just checking in, curious if your team has had a chance to test the build server?

[2018-06-01 13:21] amyblais commented on #8821
Hi @madvik, we haven't received an update so we'll assume that the problem is no longer valid.

If you would still like to open a feature request, please let us know and include a link back to this GitHub Issue.

[2018-06-01 13:21] #8821 closed

[2018-06-01 14:27] jasonblais commented on #8642
Thanks @phuihock for the suggestion! Would a "wildcard" search work in this case, like `*番茄`?

[2018-06-01 14:28] jasonblais commented on #8888
Duplicate of https://github.com/mattermost/mattermost-server/issues/8497

[2018-06-01 14:28] #8888 closed

[2018-06-01 14:28] jasonblais commented on #8889
Duplicate of https://github.com/mattermost/mattermost-server/issues/8498

[2018-06-01 14:28] #8889 closed

[2018-06-01 14:33] amyblais commented on #8844
Hi @agalisteo Checking in - have you still been experiencing issues with this?

Hi @gravufo! Thank you for reporting this. Can you help with more information, e.g. your Mattermost server version, OS, device, and any logs and error messages?

[2018-06-01 14:35] amyblais commented on #8825
Hi @Rudloff, sorry for the delay, I've been asking our engineers / support to take a look at the console errors but they haven't had a chance yet. Thanks for your patience.

[2018-06-01 14:39] phuihock commented on #8642
Yes it does. "Fix" is pushed to my repo here https://github.com/phuihock/mattermost-server/commit/95069324cb51e3f716d6550cb8aff41ad5788ba6

[2018-06-01 14:43] amyblais commented on #8852
Hi @eloi29! Thank you for the additional information.

I can ask a colleague to take a look at the logs that you posted - in the meanwhile, can you help test if you see the same behaviour on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) (which is on v4.10). We also usually recommend upgrading to the latest server version as

[2018-06-01 17:36] #8845 closed, assigned to nobody

[2018-06-01 18:09] agalisteo commented on #8844
Hi @amyblais , I still have the same problem.

[2018-06-01 18:35] fmantek commented on #8761
Ok, so just tried it, carefully making sure the zip file is correct.

Using the GUI it does not work at all, but, heck, it is a 2.4GB zip file, I am not too surprised.

Command line: I am getting output, but a lot of errors:

"level":"info","ts":1527877656.501212,"caller":"utils/i18n.go:83","msg":"Loaded system translations for 'en' from '/opt/bitnami/apps/mattermost/ser
ver/i18n/en.json'"}
{"leve

[2018-06-01 20:43] agalisteo commented on #8844
- Emoji settings are enabled in my self-host mattermost

- In the [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) works as expected

[2018-06-01 23:06] andyseubert commented on #8808
Well we tested on 4.10 and the team seems satisfied! Thanks for your help and you can close this one as resolved.
Thanks

[2018-06-01 23:06] #8808 closed

[2018-06-02 07:14] fmantek commented on #8761
So, going into the server, I see that, e.g., I have something like this in the data directory:

directory:
20170601/teams/8fhbm1xnppg3z8ia99j67b5xdh/chan
nels/rm87kexcdbrxjj47ytiamqkpyc/users/asoc4ygq4pgs7yk8f9bp6ejj7y/qi63fcw74pnr5mbzn4ra8okuze

-rw-r--r-- 1 root root 1758699 Jun  1 18:29 Image uploaded from iOS.jpg
-rw-r--r-- 1 root root  254882 Jun  1 18:29 Image uploaded from iOS_preview.jpg
-

[2018-06-02 07:21] fmantek commented on #8761
A little more. Using the web, this is the DIV that of one of the posts. What I find curious is that the profile image loads fine (and is a fully fleshed URL), where the content image is just a file name.

<div><div id="post_738eth8sdi8budnhc15p6un5th" class="post  other--root  current--user"><div class="post__content "><div class="post__img"><span class="status-wrapper"><img class="more-modal__ima

[2018-06-02 13:01] chclaus commented on #8841
Hej hej,

I solved this issue in #8898.

Best,
Christian

[2018-06-02 15:03] jaythespacehound opened #8899 "channel references (~ tilde) don't become links until 'more' button is clicked"
#### Summary
A channel referenced by using the ~ syntax (e.g. ~test) does not become a clickable link in the web client for other users until they press the 'more' button under 'public channels'

#### Steps to reproduce
v 4.10.1 and prior:
Requires two users to reproduce, here U1 and U2:
U1: make new channel (e.g. test)
U1: link/reference channel in 'town-square' using tilde: (e.g. join channel ~t

[2018-06-02 22:00] amyblais commented on #8808
Glad to hear that! Let us know if you encounter any other bugs/issues!

[2018-06-04 05:31] onlyjob commented on #8884
Any progress here? This is how bad it really is:

I tried to remove double negation which unfortunately didn't make it much easier to understand yet made it feels like threat to users for something that AGPL guarantees you should be able to do...

Perhaps the whole AGPL exceptions paragraph should be removed as unnecessary and harmful.

I can't even figure out what they were trying to achieve by t

[2018-06-04 05:42] onlyjob commented on #8886
Practically speaking, "is it licensed to me or not"? How would I know?

Wording should unambiguously license Mattermost to everybody under AGPL-3+ terms.

The text of the AGPL-3 license contains [instructions how to apply the license](https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt#L857-L892) with specific [standard text of the license grant](https://github.com/mattermost/m

[2018-06-04 09:48] Rudloff commented on #8825
I opened a feature request here: https://mattermost.uservoice.com/forums/306457-general/suggestions/34442647-handle-old-browsers-more-gracefully

[2018-06-04 12:09] amyblais commented on #8892
Hi @onlyjob! Thank you for finding this!

We discussed this as a team and decided to open a bug ticket to fix this: https://mattermost.atlassian.net/browse/MM-10766.

[2018-06-04 12:14] amyblais commented on #8884
Hi @onlyjob!

This was just discussed with the team and we thought that this is more of a feature request - would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)? If you do so, please include a link back to

[2018-06-04 12:40] onlyjob commented on #8884
There is not much for me to contribute... I can't possibly deduce the intention of problematic AGPL exceptions paragraph and IMHO it would be best to remove it entirely. Don't you think Mattermost should consult a lawyer? Is my report is not clear enough?

This is a serious licensing issue just like #8886. Even with stretch of imagination I don't understand how this problem can be considered to be

[2018-06-04 12:58] amyblais commented on #8761
Hi @fmantek! The engineer who was helping with this earlier is currently off, and I'll ping him to take a look at the errors you are getting when he comes back later this week.

Thanks for your patience.

[2018-06-04 12:59] amyblais commented on #8825
Thank you @Rudloff!

I'll close this issue for now as it can be tracked with the feature request linked above.

[2018-06-04 12:59] #8825 closed

[2018-06-04 12:59] fmantek commented on #8761
No problem. I like mattermost so far, and I am sure we get this solved.

Frank
On 4 Jun 2018, 14:58 +0200, amyblais <notifications@github.com>, wrote:

[2018-06-04 13:29] amyblais commented on #8892
Good question - our engineers follow Jira tickets for bugs that need to be fixed - I'll be closing this Issue soon.

[2018-06-04 13:29] amyblais commented on #8892
@onlyjob - We would like to recognize your contribution in finding this bug by awarding you a [Bug Hunter coin](https://forum.mattermost.org/t/mattermost-bug-hunter-awards/4979)!

Wondering if you would like to help with your address and phone number? You can give me the information at our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=kzpxpmpgjpr7dja477sf6t948e

[2018-06-04 14:56] amyblais commented on #8899
Hi @jaythespacehound! Thank you for reaching out.

We can try to test this out, but just wanted to clarify a few more details:

Does this happen in webapp / desktop app / mobile app or across devices?

In the scenario that you described above, is either U1 or U2 a System Admin (or both or neither)?

[2018-06-04 15:03] hmhealey commented on #8883
Hi @onlyjob,

I didn't realize that I forgot to change those references. We still need our fork since we added some functionality that hasn't been accepted back into the main repository yet.

I've filed a Jira ticket to track this better which I'll hopefully get to later this week.
https://mattermost.atlassian.net/browse/MM-10769

[2018-06-04 15:11] phuihock commented on #8642
This fix uses regex https://github.com/phuihock/mattermost-server/tree/MM-10193-use_regex. Works with English, Chinese or mix of both. Should work with other language too.

[2018-06-04 15:15] jaythespacehound commented on #8899
I have tested only webapp, android app, and windows 10.
Same behaviour in all three.
I have tried with either U1 or U2 being sys admin and with neither. Same behaviour.

[2018-06-04 15:28] jasonblais commented on #8642
Thanks @phuihock! Would you like to open a pull request and we can review the code changes by PM and devs?

Really appreciate your help here!

[2018-06-04 16:04] phuihock commented on #8642
Sure, I'm glad to.

[2018-06-04 16:15] esethna opened #8905 "[Help Wanted] [MM-10744] Clean up unused translation strings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-04 16:15] esethna opened #8906 "[Help Wanted] [MM-10745] Add checks for missing translation strings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-04 22:31] brocoli opened #8910 "Issue joining default channels when the Off-Topic channel is renamed"
#### Summary
When a new user joins a team, if the Off-Topic channel is renamed, Mattermost is unable to make them join the channel.

#### Steps to reproduce
Rename the default Off-Topic channel to something different, and have a new user create an account via email.

Version information:
Mattermost Version: 4.10.0
Database Schema Version: 4.10.0
Database: postgres

#### Expected behavior
The user

[2018-06-04 23:02] amyblais commented on #8899
Strange indeed. I'm able to repro but it doesn't happen every time, plus it seems to happen only after I log out and back in again and some of the tilde links are suddenly not links anymore.

Can you confirm if you see this after you log out and back in again, or does it happen straight away when someone posts the tilde link and you attempt to click it? Does it happen with all tilde links or just

[2018-06-04 23:28] amyblais commented on #8844
Hi @agalisteo Apologies for the delay - I will ask a colleague to take a look at the error message you posted earlier and to find out whether there is any additional information that we can help gather to troubleshoot this.

[2018-06-05 00:26] jaythespacehound commented on #8899
Happens independent of fresh log in or not for all channels.
But only applies for new channels. If you've ever joined the channel in the past tilde links will always work in future (even if you've left it).

For channels you have (for lack of a better word) 'initialised' the link for by pressing 'more' all tilde links will work until log out and back in, at which point they stop working (for that

[2018-06-05 12:41] agalisteo commented on #8844
Same issue with Mattermost Version: **4.10.1**

[2018-06-05 15:36] amyblais commented on #8910
Hi @brocoli! Thank you for reaching out.

Looks like I'm not able to reproduce this.

What happens when a new user creates an account and tries to join Mattermost? Do they get an error message or a blank screen or something else?

[2018-06-05 18:13] amyblais commented on #8899
Hi @jaythespacehound! Thank you for the additional info - seems that I'm also seeing this now even if I don't log out and it does seem to happen only in new channels.

Since I'm able to repro this I created a ticket: https://mattermost.atlassian.net/browse/MM-10789.

I will close this Issue for now as it can be tracked with the ticket linked above.

[2018-06-05 18:13] #8899 closed

[2018-06-05 19:37] lieut-data commented on #8761
@fmantek, thanks for the detailed observations above. I've filed https://mattermost.atlassian.net/browse/MM-10790 to get to the bottom of the broken logging messages, and https://mattermost.atlassian.net/browse/MM-10791 to stop logging warnings re: non-image files.

Some of the image uploads are failing due to the attachments exceeding a maximum size of `6048 * 4032 // 24 megapixels, roughly 36MB

[2018-06-05 20:15] fmantek commented on #8761
No problem, i work as a Team Manager for Google, so broken code is nothing i can not deal with :)

More than happy to help here. I have set the binary max. Upload size to 500MB, so i am surprised a bit that this is not taking into account when uploading/importing. We like to move to a self controlled environment, and if this takes a bit of time, that is ok,.

Do you mind pointing me to the source

[2018-06-05 22:00] andyseubert opened #8919 "when user joins channel, channel window goes blank until manually refreshed"
#### Summary
Bug report in one concise sentence
when a user joins channel, channel window goes blank (the chat messages disappear) for existing members, until the window is manually refreshed, each user must refresh her own window to see the chat.

#### Steps to reproduce
version 4.10.0
Whenever someone is added to the channel it blanks for people using the Mac app, Windows app, and Windows browse

[2018-06-05 22:59] amyblais commented on #8891
### v5.0 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.0.0-rc1/mattermost-team-5.0.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cd8c53f73505aee637ab81f1f65dbf260e3e0ea/source/administration/changelog.md)

#### Approved fixes for RC-2
[WebRTC call ends after

[2018-06-05 23:33] amyblais commented on #8883
Closing this issue for now as it can be tracked with the Jira ticket linked above.

[2018-06-05 23:48] icelander commented on #8844
Unfortunately I'm still not able to replicate this on Mattermost Server version 4.10.1 and the latest version of Google Chrome. [Here's a screencast of how I tested it](https://www.screencast.com/t/so8CZtgE1aET) If that's not how to replicate your problem please let me know. (A screencast would be very helpful!)

Also, can you verify that you didn't delete or alter the `/opt/mattermost/data/emoji`

[2018-06-06 00:29] phuihock commented on #8879
I take this one.

[2018-06-06 02:30] onlyjob commented on #8883
I would prefer you to close this ticket when issue is actually fixed.

[2018-06-06 02:33] onlyjob commented on #8883
Here is upstream merge request which seems to be a reason for forking: https://github.com/spf13/viper/pull/479

[2018-06-06 13:34] trash-anger opened #8922 "Preview for ".yaml" but not for ".yml""
#### Summary
There's no preview for yaml files with yml extension.

#### Steps to reproduce
Uploading a .yml file.

#### Expected behavior
It could be great to add the preview for files with extension .yml, there's more current than the .yaml and both are relevant. I saw in the code that yml is an alias of yaml, line 1174 :
https://github.com/mattermost/mattermost-webapp/blob/402808622c42b91011422

[2018-06-06 14:36] amyblais commented on #8919
Hi @andyseubert! Thank you for the report.

Here are some initial suggestions:

1. Would you have a short video to share from around the time the issue occurs?
2. Do you see any errors in logs, or can you help send us logs from around the time the issue occurs?

[2018-06-06 14:43] kaakaa opened #8923 "Missing help image"
#### Summary
Missing image in help page
(`https://docs.mattermost.com/_images/slashCommandsTable1.PNG` is missing)

<img width="871" alt="2018-06-06 23 37 58" src="https://user-images.githubusercontent.com/1453749/41045305-1bb440f4-69e3-11e8-8925-7a27e83bdaf6.png">

#### Steps to reproduce
Open help page: https://pre-release.mattermost.com/help/commands

#### Expected behavior
Render image

#### O

[2018-06-06 19:47] pradeepmurugesan commented on #6278
@jasonblais Is this ticket still valid.. Shall I start working on it ?

[2018-06-06 19:48] pradeepmurugesan commented on #8905
I would like to give it a shot.. any code pointers will be helpful..

[2018-06-06 21:36] jasonblais commented on #8905
@hmhealey Any tips you can offer @pradeepmurugesan?

[2018-06-06 21:37] jasonblais commented on #6278
Yes it's still valid, would love to have your help with it @pradeepmurugesan!

[2018-06-06 21:56] amyblais commented on #8892
Hi @onlyjob!

Just following up on this - do you have any questions or concerns regarding the above note (Bug Hunter coin)?

In the meanwhile, we have started to discuss the other Issues that you have recently opened, including next steps for each.

We appreciate all the time you have taken to find these issues!

[2018-06-06 21:59] amyblais commented on #8922
Hi @trash-anger! Thank you for reporting this.

To give you the best help we can, would you be able to provide the following additional information:
1. Your Mattermost server version
2. If you are using webapp / desktop app / mobile app

[2018-06-06 23:10] amyblais commented on #8923
Hi @kaakaa! Thank you for reporting this.

It appears that the place to edit it is here: https://github.com/mattermost/mattermost-webapp/edit/master/components/help/components/commands.jsx

Instead of a png file, the slash command table is in a different format as seen here: https://github.com/mattermost/docs/edit/master/source/help/messaging/executing-commands.rst

I'll open a PR to fix this with

[2018-06-07 03:02] lieut-data commented on #8664
Hi @tejasbubane!

The original thrust of these investigation tickets was to remove this kind of "global" use of `store.getState()` where a state change might not be detected and trigger a necessary update. In this case, for example, if the configured set of `AvailableLocales` changes in the store, but the component using this helper method hasn't captured it as part of its `mapStateToProps`, the p

[2018-06-07 06:56] onlyjob commented on #8892
Thanks, @amyblais. Perhaps I'm too old to feel properly excited about the coin so I'll pass. However donations in AUD, LTC or BTC are always welcome. ;)

[2018-06-07 10:11] trash-anger commented on #8922
### Server :
- Version: 4.7.1 (4.7.3)
- Database: postgres
- Build Hash: 659ce8c60012a7d5fd597997b1794ac512b3b155
- Build Date: Thu Mar 8 19:42:47 UTC 2018

### Front :
- I'm using the webapp, the desktop app and both android and android beta app.
- Desktop app version: 4.0.1
- I think webapp version depend on the server version ...
- I think the preview is not implemented yet in the mobile app

[2018-06-07 13:10] amyblais commented on #8922
Hi @trash-anger! Thank you for the additional information.

Would you like to do a quick test at our [testing server](https://rctesting.reddogsofwar.com/signup_user_complete/?id=boxf78odd7dh9pow6wtr8pg9qh), on both mobile and webapp/or desktop app? It's on the latest version (v5.0 postgres).

My apologies, I don't mean to take too much of your time, but I'm not familiar with .yml files and I was w

[2018-06-07 14:48] amyblais commented on #8892
No worries - I would like to let you know again that we appreciate you taking the time to find these different bugs/issues.

We will continue discussion as a team on the other Issues you have recently opened.

[2018-06-07 15:14] trash-anger commented on #8922
The issue is still occuring :
![image](https://user-images.githubusercontent.com/7171011/41108972-2a75bad0-6a76-11e8-82c1-9a81c7b24d45.png)

[2018-06-07 15:36] DeviantEng opened #8929 "Video Player doesn't work with 4.x when server is installed on CentOS 7"
#### Summary
Video player, when trying to watch an uploaded video, does not appear to work when mattermost-server is installed on CentOS 7.

#### Steps to reproduce
Install CentOS 7, install MariaDB, install Mattermost 4.10.1.

#### Expected behavior
I expect videos to play within the OSX or Android apps, or within a browser.

#### Observed behavior (that appears unintentional)
Videos won't play,

[2018-06-07 19:04] amyblais commented on #8893
Hi @onlyjob - I apologize as I missed this Issue somehow - I will have an engineer take a look at this soon.

[2018-06-07 19:16] hmhealey commented on #8905
@pradeepmurugesan Some work has been done on writing an automated tool to remove unused translations on the server ([PR link](https://github.com/mattermost/mattermost-server/pull/8925)), so we could use something like that for the web and mobile clients if you're interested in working on that. For each entry in [`i18n/en.json`](https://github.com/mattermost/mattermost-webapp/blob/master/i18n/en.js

[2018-06-07 20:33] jwilander commented on #8893
Committing them hasn't caused any problems for us and it removes a build step that needs to be worried about as they are required for the Go code to compile. If it's causing issues for you or you have a good reason why we should remove them and add it as a build step instead, I'd love to hear it.

[2018-06-07 21:06] jespino commented on #8905
Actually I'm trying to solve this problem using acorn to parse the javascript. I'll have something usable during the weekend, then I can share a gist and we you can continue from there if you want @pradeepmurugesan

[2018-06-07 21:07] onlyjob commented on #8893
The problem is that your source distribution (tarball) is not pure source distribution.

This is not DFSG compliant. We have to throw away pre-built binaries and build everything from source in controlled environment. Since there is no straightforward way to build those plugins I just had to disable them...

[2018-06-07 21:26] jwilander commented on #8893
You should be able to easily build them yourself using the source:

* https://github.com/mattermost/mattermost-plugin-zoom
* https://github.com/mattermost/mattermost-plugin-jira

And packaging them like we do in our Makefile

https://github.com/mattermost/mattermost-server/blob/master/Makefile#L303

[2018-06-07 21:37] esethna opened #8930 "[Help Wanted] [MM-10836] Server: Do not trigger a push notification if the session has expired"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-07 21:38] DSchalla commented on #8930
I'll work on this issue in the next days.

[2018-06-07 21:41] onlyjob commented on #8893
That describes current situation accurately yet the problem is two large binary blobs committed to repository here (not about how you make them). :)

[2018-06-07 21:56] jwilander commented on #8893
I'm not sure I see how it's a problem, just throw away the included plugin bits and re-build them yourself as part of your build process. Is it just that you need the source for the plugins included in the distributions?

[2018-06-08 02:31] onlyjob commented on #8893
That's exactly what I will have to do if committing binaries to Vcs does not bother you...

[2018-06-08 08:18] SimJoSt opened #8931 "referencing channel in macOS is broken for channels beginning with `n` and `a`"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2018-06-08 09:32] M1dgard commented on #8844
Okay no, it's not fixed. It happens when I Ctrl+click the Custom Emoji link to load the page in a new tab. Also when I manually go to the URL. I cannot reproduce it on the nightly build server, it works fine there.

[2018-06-08 10:11] florianproxi opened #8932 "Version number issue displayed (4.10.0 displayed while 4.10.1 installed)"
Hello, I updated mattermost 4.10.0 in 4.10.1 everything seems to work as it should. But going on About since Mattermost it always tells me 4.10.0, is this normal?

[2018-06-08 10:39] SmartHoneybee commented on #8884
IANAL.

@onlyjob, I read the paragraph containing `(b)` as an AGPL relaxation.
Mattermost, Inc. states that, if `(a)` and `(b)` are fulfilled, they refrain from using some of their rights.
(`not ((not A) and (not B))` is equivalent to `A or B`. Hence, `[only enforce copyleft if] not ((not linked) and (not modified))` is equal to `[only enforce copyleft if] (linked or modified)`.)

Regards,
Bee

[2018-06-08 13:19] amyblais commented on #8891
### v5.0 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.0.0-rc2/mattermost-team-5.0.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cd8c53f73505aee637ab81f1f65dbf260e3e0ea/source/administration/changelog.md)

#### Approved fixes for RC-3
[WebRTC call ends after

[2018-06-08 13:31] jasonblais commented on #8930
Thanks @DSchalla!

[2018-06-08 13:35] amyblais commented on #8922
Thank you @trash-anger!

Just to confirm, when you click on the .yaml file it will show a preview, but not for the .yml file?

[2018-06-08 13:54] amyblais commented on #8931
Hi @SimJoSt! Thank you for reporting this.

To give you the best help I can, could you also help with the following additional details:

1. What is your Mattermost server version?
2. Are you seeing this on webapp or desktop app or both?

I was just testing with ``alt+n`` and it appears that it doesn't work with any letters so I'll need to find out what is the expected on that as well.

[2018-06-08 14:03] amyblais commented on #8932
Hi @florianproxi!

To give you the best help I can, could you help with the following additional details:

1. What OS and version is the Mattermost server installed?
2. Can you confirm if you followed the upgrade documentation (https://docs.mattermost.com/administration/upgrade.html or https://docs.mattermost.com/install/ee-install.html)?

Let me know any questions!

[2018-06-08 14:08] #8932 closed

[2018-06-08 14:30] amyblais commented on #8929
Hi @DeviantEng!

In addition to the information you have sent over here and previously, would you be able to send any Mattermost logs or check the Console for any errors while attempting to watch an uploaded video?

Let me know any questions!

[2018-06-08 14:33] onlyjob commented on #8884
This should be unambiguous and not subject to interpretration. Even if your interpretation is correct (how can you be sure?) it appears to be non-free anyway and who will vouch that users would trust an _interpretation_, yours, mine or enyone elses?

I'm pretty sure in its current state it won't pass DFSG check and if that's not enough then here is #8886 for you, which is another blocker... :-(

[2018-06-08 14:49] DeviantEng commented on #8929
@amyblais, in testing this yesterday, I did run Mattermost via console to watch for logging and never saw any logs when trying to watch an uploaded video.  May need to increase logging level (mind sharing how this is done, else I'll look in the docs to see if I can find it), but was really hoping someone else could spin up a CentOS 7 instance and test themselves to see if they have the same issue.

[2018-06-08 19:59] SmartHoneybee commented on #8884
Hi @onlyjob,

I agree.

By asking Mattermost, Inc. whether they agree with that interpretation. :slightly_smiling_face:
(Herewith, I'm officially asking. :wink: )

Why is that? (What does "*non-free*" mean in this context? As defined by [Debian Policy 2.2.3.][3]?)

[3]: https://www.debian.org/doc/debian-policy/#the-non-free-archive-area

Pretty please (with sugar on top!), explain what you are tal

[2018-06-08 22:34] #8930 closed

[2018-06-09 09:17] tejasbubane commented on #8839
This can be closed.

[2018-06-09 21:11] razorness commented on #8649
@amyblais Sorry for the delay. I just deactivated jira plugins, so I had no further problems. I made no deep analysis.

[2018-06-11 02:35] tony1432 commented on #7769
@Ppjet6 I've seen this issue as well. Do you per chance have Data Retention enabled?
I'm yet to reproduce it, but I think it might occur when the direct message channel has been made empty by Data Retention and a new message is added.

[2018-06-11 02:43] jasonblais commented on #8839
Thanks @tejasbubane! And @cometkim for fixing it :)

[2018-06-11 02:43] #8839 closed

[2018-06-11 08:16] onlyjob commented on #8884
Thanks for providing so many links to Debian resources, @SmartHoneybee. :)

I doubt that would be enough... Ideally license grant should be changed and text of license improved to have no contradictions.

I think current license is _non-free_ i.e. imcompatible with free software definition.

Besides how can one comply with the license if it is nearly impossible to understand it? ;)

It is not wort

[2018-06-11 09:51] Ppjet6 commented on #7769
@tony1432, we are not using EE, we don't have that feature!

[2018-06-11 12:11] amyblais commented on #8844
Hi @M1dgard! Thank you for letting us know.

Can you help post the environment information mentioned [on this page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) so we can better diagnose the issue you are seeing?

[2018-06-11 12:12] amyblais commented on #8852
Hi @eloi29! Following up here - please let me know if the above suggestion sounds good ^

[2018-06-11 12:13] amyblais commented on #8868
Hi @zfstest! Following up here - please let me know if the above suggestion helped ^

[2018-06-11 12:14] amyblais commented on #8874
Hi @sokoow! Following up here - did `icelander`'s note above help?

[2018-06-11 12:15] amyblais commented on #8878
Hi @hannu78! Following up here - have you still experienced issues with LDAP sync?

[2018-06-11 12:24] sokoow commented on #8874
yeah but nothing happened yet in terms of upgrading it on your side right ?

[2018-06-11 12:29] amyblais commented on #8874
Correct, not yet - here is a link to a ticket where you can follow the progress of upgrading: https://mattermost.atlassian.net/browse/MM-10741.

I do not have a timeline yet regarding when the upgrade is planned to take place.

[2018-06-11 13:36] M1dgard commented on #8844
Hi @amyblais, I gathered this information:

**Server OS:** Devuan ascii/ceres
**Mattermost version:** 4.10.1-team
**Browser:** Firefox 60.0.1
**Desktop App:** not tested
**Mobile App:** N/A
**Deployment:** the binary supervised with Runit (no Docker or stuff)
**DB:** PostgreSQL 9.6.7
**Disk:** 803GB available

**[Mattermost log excerpts; Mattermost websocket config; Nginx configuration; Nginx log

[2018-06-11 14:36] M1dgard commented on #8844
Here's a screen recording of the issue (zipped because GitHub doesn't allow mkv attachments):
[github-8844-custom-emoji-blank-page.mkv.zip](https://github.com/mattermost/mattermost-server/files/2090409/github-8844-custom-emoji-blank-page.mkv.zip)

[2018-06-11 14:47] M1dgard commented on #8844
And here's the JavaScript stack trace that's visible in the video:
[github-8844-custom-emoji-blank-page.js.log](https://github.com/mattermost/mattermost-server/files/2090483/github-8844-custom-emoji-blank-page.js.log)

[2018-06-11 15:30] amyblais commented on #8891
### v5.0 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.0.0-rc3/mattermost-team-5.0.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cd8c53f73505aee637ab81f1f65dbf260e3e0ea/source/administration/changelog.md)

#### Approved fixes for RC-4
[Test for permission_tea

[2018-06-11 16:22] amyblais commented on #8929
Hi @DeviantEng! I just now realized that you are using MariaDB, which we currently do not support, so I'm wondering if this issue could be related to that?

[2018-06-11 17:44] DeviantEng commented on #8929
@amyblais Yes, I am using MariaDB which is a 100% drop-in DEFAULT replacement on EL (Red Hat, CentOS, Scientific Linux, Fedora).  I highly doubt that that would be causing any issues since message history and everything else is working just fine, but I can definitely test.

Just FYI:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/selinux_users_and_administrators_guid

[2018-06-11 18:10] amyblais commented on #8885
Hi @onlyjob, giving you an update that this Issue will be discussed by our managers in a few days. Also the other two License.txt Issues that you opened are under discussion currently.

[2018-06-11 18:15] amyblais commented on #8929
@DeviantEng

No worries, it was an observation I made as I remembered that we don't support MariaDB, but definitely not necessarily related to the issue.

Certainly I will test this, or ask a colleague to help test!

[2018-06-11 22:29] amyblais commented on #8923
Apologies for the delay - I opened a PR here: https://github.com/mattermost/mattermost-webapp/pull/1318.

I'm not 100% sure of the formatting yet, but it'll be figured out.

[2018-06-12 00:27] onlyjob commented on #8886
Ideally a standard unmodified license grant from the the text of the license should be used.

Grant of license should be unconditional. Something like "the software is licensed uder  AGPL-3+ or commercial license". No "may be licensed" please.

[2018-06-12 08:20] harshilsharma63 opened #8941 "GetTeamByName and GetChannelByName - these search by internal name, not display name"
#### Summary
`GetTeamByName` and `GetChannelByName` functions search by `name` column in database, not `displayName`. This leads to confusion as to why a team or channel is not getting found. A `name` is (as far as I can see) hyphenated-lowercase version of `displayName`.

#### Steps to reproduce
From a plugin use either of `GetTeamByName` or `GetChannelByName` function to search for a team or cha

[2018-06-12 12:38] amyblais commented on #8929
Hi @DeviantEng! There was a team discussion on this and we are thinking that this might be a server configuration issue.

You can see more details on [this old ticket](https://mattermost.atlassian.net/browse/MM-5101) - basically a recommendation would be to install a media player or other browsers on the server which would add the missing mime types and make it work.

We had also earlier added som

[2018-06-12 13:11] amyblais commented on #8941
Hi @harshilsharma63! Thank you for reporting this.

I will ask our team's opinion on what would be the best next step regarding this.

[2018-06-12 13:51] harshilsharma63 commented on #8941
Another point, the fact that `name` is lowercase hyphenated version of `displayName` is only true for channel/team name which was used at the time of creation.

For example if I create a team named "Team 1" its `name` would become `team-1` and `displayName` `Team 1`. Now, if I update the team's name to "Team 1 - Developers" its `name` will remain the same `team-1` while only `displayName` is updat

[2018-06-12 15:07] amyblais commented on #8844
Hi @M1dgard! Thank you for the additional information. Letting you know that I have asked a colleague to help take a look at the files that you have sent over.

[2018-06-12 15:22] cometkim commented on #8718
I will take this issue. I wanna look into Golang's stream APIs

[2018-06-12 15:51] esethna opened #8942 "Clean up and add thorough tests to app/notification.go"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-12 16:50] jasonblais commented on #8718
Great, thank you @cometkim!

[2018-06-12 18:59] lindy65 commented on #7769
Hi @Ppjet6 @tony1432 @amyblais

I've done some testing in collaboration with one of our engineers to try and reproduce

I tried reproducing by having the person already listed in direct messages, listed in direct messages and closing the direct message with them, as well as not having received a direct message from the person ever before.

Because `tony1432` mentioned this might have something to

[2018-06-12 20:23] fmp777 opened #8945 "Upgrade 4.6.3 => 4.10 broke postgres connection"
#### Summary
Postgres does not connect after upgrade when password contained certain characters.  Don't worry this password is trashed now so is safe to share.

#### Steps to reproduce
The password that didn't work: r2Ti8nHna{b+irhnW(jr
This was the connection url: postgres://mmuser:r2Ti8nHna{b+irhnW(jr@localhost:5432/mattermost?sslmode=disable&connect_timeout=10  (in config it has \u0026 in place

[2018-06-12 22:14] amyblais commented on #8945
Hi @fmp777! Thank you for reaching out.

To get started, can you help review these ["Important upgrade notes"](https://docs.mattermost.com/administration/important-upgrade-notes.html) and take a look if you catch anything that might apply to you?

[2018-06-12 22:19] fmp777 commented on #8945
Hmm no, nothing applicable to my case

[2018-06-12 23:30] #8767 closed

[2018-06-13 08:21] satoshicano commented on #8273
Hi, there. I have a question.
This bug seems fixed?
I try to reproduce this bug on pre-release, but it's not show any link preview.

[2018-06-13 10:31] Ppjet6 commented on #7769
Still on 4.8, sorry, we're planning to upgrade soon.

I've asked a user with whom I've got the issue to send me a message, they don't see anything in the console when they do this (using chromium. I was physically besides them), they do see POST requests to `/api/v4/posts`.
On my end, I see literally no activity in the console or network tabs, apart from the regular pings to `/api/v4/users/status/

[2018-06-13 11:05] jasonblais commented on #8273
@satoshicano You're correct. This appears to be resolved, closing the issue.

Any help wanted ticket you're interested investigating? :)

[2018-06-13 11:05] #8273 closed

[2018-06-13 12:04] jasonblais commented on #8664
Hey @tejasbubane! Would you be interested helping on this ticket?

[2018-06-13 13:31] maarsej commented on #8567
I apologize but I attempted to wait it out and thought I'd get some time to get back to working on this issue but it seems things are just going to continue to build up on my end. So I'd like to reopen this issue to the community as I can not commit to completing the fix.

Thanks for giving me the opportunity and I will not hesitate to get involved with Mattermost in the future when I am looking t

[2018-06-13 13:37] jasonblais commented on #8567
Thank you @maarsej for the heads up! And completely understand, we're very thankful for your interest contributing to this project.

All the best! Hope to see you around later some time. :)

[2018-06-13 13:58] amyblais commented on #8891
### v5.0 RC-4 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.0.0-rc4/mattermost-team-5.0.0-rc4-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cd8c53f73505aee637ab81f1f65dbf260e3e0ea/source/administration/changelog.md)

#### Approved fixes for RC-5
[Lots of white area with

[2018-06-13 15:23] tejasbubane commented on #8664
Yes I will send PR within a day or two.

[2018-06-13 15:27] jasonblais commented on #8664
Awesome, thank you @tejasbubane!

[2018-06-13 17:23] lindy65 commented on #7769
Thanks for the feedback @Ppjet6,

Do you have `CloseUnusedDirectMessages` setting enabled in your config.json?  This was introduced in v4.5 and just wondered whether it could be causing issues for you?

The screen for the user looks like this, accessible from Main Menu > Account Settings > Sidebar > Sidebar Settings >Automatically close direct messages

![image](https://user-images.githubuserconte

[2018-06-13 17:30] amyblais commented on #8945
Hi @fmp777,

Checked with an engineer about this and it seems that you need to escape special characters in your password, ie, in the ``xxx[]xxx`` will be ``xxx%5B%5Dxxx``.

You can see a brief thread/discussion about this on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) in the [Bugs channel](https://pre-release.mattermost.

[2018-06-13 20:11] Ppjet6 commented on #7769
I changed to `Never`, will keep you updated.

[2018-06-14 12:35] amyblais commented on #8891
### v5.0 RC-5 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.0.0-rc5/mattermost-team-5.0.0-rc5-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cd8c53f73505aee637ab81f1f65dbf260e3e0ea/source/administration/changelog.md)

#### Approved fixes for RC-6
[Lots of white area with

[2018-06-14 14:53] hmhealey commented on #8844
It looks like [this](https://github.com/mattermost/mattermost-redux/blob/5408311258ba18fccf886759ef878c458471417c/src/utils/user_utils.js#L36) is the problem line in the code, so it appears that some user has a null username or full name somehow, but the user object itself exists. Has anyone affected by this modified their database directly? That's the only thing I could think of that would cause

[2018-06-14 15:15] crspeller commented on #8883
Resolved in: https://github.com/mattermost/mattermost-server/pull/8948

[2018-06-14 15:15] #8883 closed

[2018-06-14 15:42] agalisteo commented on #8844
Hi @hmhealey, in our case, we don't modify the database directly.

[2018-06-14 15:50] gravufo commented on #8844
We don't modify our DB either. In my case it wasn't happening even with the latest MM update. I only heard about it from one of our users that had the latest version of Chrome and it only started happening to me when I updated Firefox to the latest version. So maybe something on the client side is breaking the data being sent to the server?

[2018-06-14 15:57] M1dgard commented on #8844
I have, but
[code]
and my display is set to "show username".

[2018-06-14 17:07] onlyjob commented on #8883
Thanks. :)

[2018-06-14 17:27] cpanato commented on #8865
resolved in https://github.com/mattermost/mattermost-server/pull/8900

[2018-06-14 17:27] #8865 closed

[2018-06-15 02:06] #8891 closed

[2018-06-15 13:11] amyblais commented on #8852
Hi @eloi29, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-15 13:11] #8852 closed

[2018-06-15 13:12] amyblais commented on #8868
Hi @zfstest, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-15 13:12] #8868 closed

[2018-06-15 13:12] amyblais commented on #8878
Hi @hannu78, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-15 13:12] #8878 closed

[2018-06-15 14:18] hmhealey commented on #8844
Okay, that's what I expected from everyone since I imagine that would break much more than just that page.

I've actually been looking into this a bit more, and I've found the cause. If you don't already have the user who created an emoji loaded, then the EmojiListItem component [creates an empty user object](https://github.com/mattermost/mattermost-webapp/blob/master/components/emoji/emoji_list_i

[2018-06-16 22:45] Ppjet6 commented on #7769
No visible improvement with the change.

I did in fact gain back old direct message tabs, that I manually cleaned, but none of these were from contacts with whom I have these issues.

[2018-06-17 16:22] lindy65 commented on #7769
Thanks @Ppjet6,

Can you share what the users you have this issue with have the above setting set to?

[2018-06-18 06:10] agalisteo commented on #8844
Solved with Mattermost 5.0!

[2018-06-18 11:30] #8747 closed

[2018-06-18 11:30] jasonblais commented on #8747
Thanks @R-Wang97! :)

[2018-06-18 12:14] amyblais commented on #8910
Hi @brocoli, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-18 12:14] #8910 closed

[2018-06-18 16:02] hmhealey commented on #8844
Awesome, glad to hear that. I'll close this issue now, but feel free to reopen it if the problem resurfaces.

[2018-06-18 16:02] #8844 closed

[2018-06-18 16:14] esethna opened #8960 "[Help Wanted] [MM-7920] 508 Compliance: Improve how UI elements in the message view indicate focus"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-18 17:07] hmhealey commented on #8941
Hi @harshilsharma63,

We're consistent that methods that are "ByName" refer to the Name field and not the DisplayName field for whatever the object, so we wouldn't be changing those, but I could see adding additional methods.

May I ask what you're wanting those for? We only consider the web and plugin APIs as public for things like backwards compatibility, so I'd be interested if you're using the

[2018-06-18 17:09] jasonblais commented on #8960
Duplicate of https://github.com/mattermost/mattermost-server/issues/8034

[2018-06-18 17:09] #8960 closed

[2018-06-18 18:48] gpaddis opened #8961 "Unable to add emoticons or click on channel list after expanding the message details sidebar"
#### Summary
After I expand the "message details" on the right sidebar, I cannot add emoticons or select a channel from the list on the left sidebar. I think that was possible up until the latest update.

#### Steps to reproduce
Mattermost 5.0.0:
- Click on the reply button on a conversation to open the sidebar "Message Details"
- Click on the double arrow icon on the top right to expand the sideb

[2018-06-18 22:39] amyblais commented on #8961
Hi @gpaddis! Thank you for reporting these!

I'm able to repro the issues so I created tickets for both: https://mattermost.atlassian.net/browse/MM-10959 and https://mattermost.atlassian.net/browse/MM-10960.

Not 100% sure if these are already known issues, but nevertheless I'll let you know the progress on these tickets.

[2018-06-18 23:52] WGH- opened #8962 "Channel name autocomplete API endpoint returns errors when name contains pipe characters"
#### Summary
Channel name autocomplete API endpoint returns errors when name contains pipe characters.

#### Steps to reproduce
Occurs on Mattermost 5.0 and earlier versions (at least since 4.7.0, likely much earlier, too).

In almost any input field (e.g. message entry, channel header entry), enter `~` followed by `|`.
This will result in request to the URL like this `/api/v4/teams/xxxxxxxx/chann

[2018-06-19 01:22] harshilsharma63 commented on #8941
@hmhealey that makes sense.

In my case, I'm building a mattermost server plugin that would post some notifications to a specified channel, which is to be provided by the user. I was thinking that for the user, providing the display name for channel and team would be more user-friendly compared to finding their slugs.

I'm fine with using slugs right now though as I've already completed the plugin

[2018-06-19 08:41] grundleborg commented on #8893
Hi @onlyjob . Thanks for reporting this and the other packaging/licensing related issues you have raised in other tickets. I'm a core developer at Mattermost and I'll be taking care of making sure these tickets get dealt with. I can't promise a quick resolution, particularly with the license issues as any changes will have to go through a bunch of people including lawyers, but I am hopeful that we

[2018-06-19 09:13] onlyjob commented on #8893
Thanks @grundleborg.

FYI download on build is ever worse because it is a privacy breach and a potential security issue... It should be possible to reproducibly build in the secure/offline environment.

If external repository should be available on build time then perhaps using git submodules might be an answer. The only minor problem with submodules is that you'll have to (manually) generate comp

[2018-06-19 14:46] grundleborg commented on #8893
I think the plan is that building this repo will no longer include the plugins unless you also build them separately. However, we need to update our build server to build the plugins separately from source for the official release binaries.

[2018-06-19 15:38] esethna opened #8964 "[Help Wanted] [MM-10957] Allow webhook message attachments to trigger mentions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-19 15:54] Ppjet6 opened #8965 "babel: command not found"
#### Summary

npm install call fails with `sh: babel: command not found` when building for production.

tag: v5.0.0

#### Steps to reproduce

[code]

#### Expected behavior

JS files get generated in `dist/`

#### Observed behavior (that appears unintentional)

[code]

#### Possible fixes

Doing `make build` before `NODE_ENV=production make build` seems to pull the correct dependencies first. What

[2018-06-19 16:55] amyblais commented on #8961
Update:

https://mattermost.atlassian.net/browse/MM-10959 has been assigned to an engineer to work on, but I don't yet have an exact release date yet.

https://mattermost.atlassian.net/browse/MM-10960 was closed as invalid as this never used to work before / is expected.

[2018-06-19 17:17] amyblais commented on #8962
Thanks @WGH-! I created a Jira ticket for this for our engineers to look at: https://mattermost.atlassian.net/browse/MM-10972.

[2018-06-19 19:52] gpaddis commented on #8961
Thank you for the update, @amyblais!
I think 10960 would be a nice improvement anyway - to me, it feels intuitive to click on the grayed list of channels and expect the expanded conversation to shrink and leave space for the channel; I had in memory that this was how it used to be, but surely I was mixing it with something somewhere else.

[2018-06-19 22:15] amyblais commented on #8961
Hi @gpaddis!

For MM-10960, if you want to, you can [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/)! You get 10 votes and each one influences the future of the project. If you decide to open a feature request, please include a link back to this GitHub issue. If you're interested in implementing the improvement, please say so and we'll prioritize

[2018-06-20 07:37] Manawyrm opened #8969 "SIGSEGV: segmentation violation - crash after startup"
#### Summary
After a reboot of the linux machine, mattermost doesn't start (either manually or via systemd), it instantly crashes with a segmentation fault.
It has worked fine before, even after a reboot.

#### Steps to reproduce
I'm using:
Version: 4.9.0
Build Number: 4.9.0
Build Date: Sat Apr 14 03:08:33 UTC 2018
Build Hash: 3176e13b1f9b14192bef2337ff3fb9346f26ef66
Build Enterprise Ready: true
D

[2018-06-20 13:15] amyblais commented on #8919
Hi @andyseubert, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-20 13:15] #8919 closed

[2018-06-20 14:38] amyblais commented on #8965
Hi @Ppjet6! Thank you for reporting this. I will ask our engineers about this.

[2018-06-20 14:47] amyblais commented on #8969
Hi @Manawyrm! Thank you for reaching out.

As a first step, can you help review the ["Mattermost is not working"](https://docs.mattermost.com/process/support.html#mattermost-is-not-working-the-server-keeps-dying) section of our troubleshooting docs to see if that helps? If not, I'll ask our engineers for help.

[2018-06-20 15:01] Manawyrm commented on #8969
Hi @amyblais ,

I've already used that list to check for a source of the error.
The same error listed in the first post is also given via the recommended "journalctl" commands.
The server is only hosting Mattermost and has enough RAM.

I'd appriciate any help from the engineering team :)

[2018-06-20 16:00] SmartHoneybee commented on #8969
Not a "real" solution, but you could try to upgrade to a version `>= 4.10.0`.
Looks like #8692 added some checks, in particular a `!= nil` check in [`app/plugin.go#L264`][1], which might help you with your problem ([same line in `4.10.0`][2]).

[1]: https://github.com/mattermost/mattermost-server/blob/v4.9.0/app/plugin.go#L264
[2]: https://github.com/mattermost/mattermost-server/blob/v4.10.0/app/p

[2018-06-20 16:32] amyblais commented on #8965
@AndersonWebStudio / @cpanato does this sound familiar to you to take a look at?

[2018-06-20 16:59] cpanato commented on #8965
hello @Ppjet6
In the package.json the script that runs the build already set the `NODE_ENV=production` you dont need to set that.

however, I will check why in the first time if you hard set that it fails.

[2018-06-20 17:01] cpanato commented on #8965
I guess why because babel is a dev dependency and if you hard set that it will bypass the installation and it is needed to build.

[2018-06-20 17:33] Ppjet6 commented on #8965
On 2018/06/20, Carlos Tadeu Panato Junior wrote:

Ok, I am confused. A few days ago I was hitting firefox being
cautious[0] when my mattermost deployment tried to reach socketcluster
on plain websocket, from an https page.

I had a look and apparently mattermost-redux only includes it in the
development build. So I added `NODE_ENV=production` when building
`-webapp` and it worked, or I thought. I

[2018-06-20 20:47] hmhealey commented on #8941
Ah, I knew I forgot one of the APIs. I'll forward the idea on to the people in charge of the plugin APIs since I believe there's some changes coming to them in the upcoming release

[2018-06-20 20:55] hmhealey commented on #8941
Also, if you're wanting to chat more about this, show off your plugin (assuming it's not private), or just say hi, feel free to join us on https://pre-release.mattermost.com, our public Mattermost server that we use every day. For more general discussion, we have the ~Developers and ~Contributors channels, and there's also the ~Developer-Toolkit channel where we discuss the plugin framework and th

[2018-06-21 06:28] Manawyrm commented on #8969
@SmartHoneybee it fixes my problem, so this definitely counts as a solution :-)
Thank you very much, after updating to the new major release 5.0 my issues are gone and Mattermost works fine again :)

[2018-06-21 06:28] #8969 closed

[2018-06-21 16:11] cessor commented on #643
+1 Am I missing something or is this feature still not available?

[2018-06-21 16:33] lieut-data commented on #643
@cessor, we just demoed it internally and anticipate shipping the feature in the next release. Keep your eye on the release notes! :)

[2018-06-21 17:08] esethna opened #8979 "[Help Wanted] [MM-10995] Add support for underscores in team names"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-21 18:06] crspeller commented on #8872
Fixed by https://github.com/mattermost/mattermost-server/pull/8981

[2018-06-21 18:06] #8872 closed

[2018-06-21 23:35] amyblais commented on #8922
Hi @trash-anger!

We haven't received an update for a while, so I'll close this Issue for now.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-21 23:35] #8922 closed

[2018-06-21 23:37] amyblais commented on #8931
Hi @SimJoSt, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-06-21 23:37] #8931 closed

[2018-06-21 23:39] amyblais commented on #8965
Sounds like the issue is resolved - if I'm wrong, or you encounter any other issues, feel free to reopen this ticket or open a new one!

[2018-06-21 23:39] #8965 closed

[2018-06-21 23:50] onlyjob commented on #8872
Thanks.

[2018-06-22 11:11] jasonblais commented on #7490
This is now completed and scheduled for Mattermost v5.1

[2018-06-22 11:11] #7490 closed

[2018-06-22 11:17] jasonblais commented on #8979
We may not actually support this for now because FQDN's (fully qualified domain names) cannot have underscores. This might be problematic if we want to bring back sub-domains later.

Closing and keeping the ticket in the backlog for now.

[2018-06-22 11:17] #8979 closed

[2018-06-22 15:58] rbdevr commented on #7490
Awesome job Jason. Please create a document explaining how to setup MM server to work eith subdirectories.
Great job!

[2018-06-22 22:44] realrolfje commented on #8820
Currntly, Mattermost provides tools to delete users and posts, and make sure proper passwords and encryption are in place. This is all great, and needed for GDPR, but some things are missing, also from your GDPR compliance statement.

As far as I understand, GDPR requires a website or service to:
1. Clearly specify what data is asked for and what it is used for (at time of registration), in a read

[2018-06-23 16:53] tgly307 opened #8985 "List incoming webhooks API return "You do not have the appropriate permissions" error"
#### Summary
when I call the list incoming webhooks API (/hooks/incoming) with correct token, I got 403 error.

#### Steps to reproduce
1, I used postman to call login API (users/login), then I got the token
2, I used the token to call user info API (users/me), I got the correct response.
3, I also used same token to call list incoming webhooks API (/hooks/incoming), I got 403 error.

#### Expecte

[2018-06-23 20:17] amir-khalili commented on #3903
Unfortunately, the new mobile client will messed up the RTL languages like Persian!

[2018-06-24 03:35] tgly307 commented on #8985
I deploy mattermost v5.0.0-rc1 by docker with command `docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview`

[2018-06-24 08:33] tgly307 commented on #8985
Mattermost-server deployed by docker images with tag 5.0.0 has no problem with this API.
` docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview:5.0.0`
I think the tag latest should be changed to this version image to avoid this problem.

[2018-06-24 08:33] #8985 closed

[2018-06-24 21:45] #8929 closed

[2018-06-25 09:23] sbulka opened #8986 "rejoining left channel unwillingily"
#### Summary
I left a public channel on May 28, and since joined the channel twice unwillingly (without user action).

#### Steps to reproduce
Join a channel with User A.
Leave the channel with User A.
Add User A by User B.
Remove User A by User B.
Write many messages in the channel (frequent daily usage).

Mattermost Version: 4.10.1
Database Schema Version: 4.10.0
Database: mysql
Client: Firefox

[2018-06-25 13:09] amyblais commented on #8945
Hi @fmp777 - Following up - let me know if the above helps or if you have any questions? ^

[2018-06-25 14:27] madchap commented on #8619
If there was a solution to that, I am actually interested... :) Thanks for reaching out if you have it! Cheers.

[2018-06-25 14:40] amyblais commented on #8986
Hi @sbulka! Thank you for reporting this.

I'll be testing this throughout the week and I'll let you know if I'm able to repro!

[2018-06-25 17:42] fmp777 commented on #8945
yes escaping works, just wanted to be sure you guys knew of the bug, took awhile to figure out what went wrong after update, good one to nip quick

[2018-06-25 20:12] jwilander commented on #6959
Completed.

[2018-06-25 20:12] #6959 closed

[2018-06-25 20:13] jwilander commented on #8075
Minikube dev documentation doesn't make sense anymore as the chart requires a large number of containers.

[2018-06-25 20:13] #8075 closed

[2018-06-25 20:47] ashlz90 opened #8990 "Unable to Add new email invite"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2018-06-25 21:22] icelander opened #8991 "System Console allows Invalid Listen Address values"
#### Summary
Per [this forum post](https://forum.mattermost.org/t/solved-tcp-error-at-start/4025) the ListenAddress must contain a colon for it to be valid. However, the UI doesn't check for this, and the server will fail to start with a cryptic error message.

#### Steps to reproduce
1. Go to the system console of a Mattermost server
2. Set the value to `8065` and save the values
3. Restart the s

[2018-06-25 21:23] esethna opened #8992 "[Help Wanted] [MM-11039] Migrate to Flow file src/actions/websocket.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-25 21:23] esethna opened #8993 "[Help Wanted] [MM-11038] Migrate to Flow file src/actions/files.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-25 21:24] esethna opened #8994 "[Help Wanted] [MM-11037] Migrate to Flow file src/actions/roles.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-25 21:24] esethna opened #8995 "[Help Wanted] [MM-11032] Migrate to Flow file src/actions/timezone.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-25 21:28] esethna opened #8996 "[Help Wanted] [MM-11040] Migrate to Flow file src/actions/general.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-25 21:38] esethna opened #8997 "[Help Wanted] [MM-11041] Migrate to Flow file src/actions/helpers.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-26 05:00] harshilsharma63 commented on #8941
@hmhealey sure. Closing the issue now.

[2018-06-26 05:00] #8941 closed

[2018-06-26 11:28] andrewm41 opened #9001 "Can't restore deleted direct channel"
**registered user at oss.mattermost.com:**

curl -X POST -s -i -H 'Authorization: Bearer '"$TOKEN" -d '["USERNAME"]' https://oss.mattermost.com/api/v4/users/usernames

HTTP/1.1 200 OK
Server: nginx/1.4.6 (Ubuntu)
Date: Tue, 26 Jun 2018 11:20:02 GMT
Content-Type: application/json
Content-Length: 352
Connection: keep-alive
X-Request-Id: c544kaz6btnt5b74xo7duckw1y
X-Version-Id: 5.0.0.5.0.0.e98e0bd9f0

[2018-06-26 13:10] jkurian commented on #8663
I will be looking into this!

[2018-06-26 14:10] jasonblais commented on #8663
Thanks @jkurian! :tada

[2018-06-26 14:42] amyblais commented on #8991
@icelander Were you able to repro this?

[2018-06-26 14:50] esethna opened #9006 "[Help Wanted] [MM-9747] Support file attachments in bulk import"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-26 14:57] amyblais commented on #8990
Hi @ashlz90! Thank you for reporting this.

The error message means that your System Admin has restricted that domain (yahoo.com) from creating an account in your server. The new member should either use another email domain or you can contact your System Admin about changing the restriction on that domain. Let me know if that helps?

[2018-06-26 15:01] icelander commented on #8991
@amyblais Yes, I'm able to reproduce this on version 5.0

[2018-06-26 15:08] amyblais commented on #8991
If we can repro it internally you can create a Jira ticket.

[2018-06-26 15:24] esethna opened #9007 "[Help Wanted] [MM-10699] Add channel renaming to CLI"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-26 15:29] esethna opened #9008 "[Help Wanted] [MM-10603] Workaround for links to access-restricted resources"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-26 23:02] amyblais commented on #9001
Hi @andrewm41! Thank you for reporting this.

Would you happen to know if this issue occurs only at oss? Would you like to test on our [test server](https://rctesting.reddogsofwar.com/signup_user_complete/?id=7hwh373at38uunnzirao77psnh) to see if you see the same issue?

[2018-06-26 23:32] amyblais commented on #8945
Glad to hear the issue was resolved!

I opened a PR to add a note about this to our upgrade docs: https://github.com/mattermost/docs/pull/2120.

Devs will review it and let me know if other action is needed.

[2018-06-27 03:16] falcon78921 commented on #8031
I'll take a crack at this! :)

Any guidance is greatly appreciated!

[2018-06-27 04:00] garobles commented on #9007
I would like to take a shot at this

[2018-06-27 04:42] dschaper opened #9014 "Image Proxy configuration does not save to config.json."
#### Summary
Unable to save image proxy configuration.

#### Steps to reproduce
Mattermost Server version 5.0. Using S3 Storage back end.

Open System Console, under Files select Atmos/Camo for proxy. Configure URL and secret HMAC key. Click save. Configuration immediately reverts back to unselected. Checking config.json shows 3 empty lines added to ServiceSettings. No changes made to  FileSetting

[2018-06-27 06:41] andrewm41 commented on #9001
**== rctesting.reddogsofwar.com ==**
it is buggy but in different way

**Created user:**

curl -X POST -s -i -H 'Authorization: Bearer '"$TOKEN" -d '["USERNAME"]' https://rctesting.reddogsofwar.com/api/v4/users/usernames
HTTP/1.1 200 OK
Content-Type: application/json
X-Request-Id: ap3qqrw87ffqpk7ubntkqbps6c
X-Version-Id: 5.0.0.5.0.0.9318b5672b25b62162fe34ade6ad3fa0.true
Date: Wed, 27 Jun 2018 06:2

[2018-06-27 11:06] Ppjet6 commented on #7769
We updated to 5.0 last week, and I still observe the issue with the same set of people. Actually a new person entered that set yesterday.. this is getting annoying.

@lindy65, that last person has the setting set to `Never` apparently.

Also an observation, messages don't seem to arrive to me straight away, there is a delay between when they send the messages and when I receive them. I can see tha

[2018-06-27 11:54] ashlz90 commented on #8990
Hi Amy,

I also tried a gmail account she has. Mattermost didn’t utilize any of these restrictions when adding in other new members.
Who would my system administrator be?

Best Regards,

Ashley Pifer
Resort Manager

  [logo]

8678 North High Street
Columbus, Ohio 43235

Phone: 614-846-7100
Fax: 614-846-7101
Website: www.petsuitesofamerica.com<https://mail.nvanet.com/owa/redir.aspx?SURL=yQoa4MvLVmW

[2018-06-27 12:05] jasonblais commented on #9007
Thanks @garobles!

[2018-06-27 12:07] jasonblais commented on #8031
Thanks @falcon78921! :tada:

Here's a guide on how to set up the Docker preview image: https://docs.mattermost.com/install/docker-local-machine.html#one-line-docker-install

Let us know if you have any questions :)

The docs change would be done in this file https://github.com/mattermost/docs/blob/master/source/administration/command-line-tools.rst

[2018-06-27 15:12] feikesteenbergen opened #9016 "GIN index not used for searching"
While analyzing our mattermost database, it struck me that the GIN indexes on the `posts` table were never used:

[code]
[code]
To me it seems then when issuing queries, we do not match the index condition:
[code]
[code]
The queries that are issued however do not seem to match the function that is indexed, that's why the index is not used. I'm looking at the following part in the code:

[code]

If

[2018-06-27 15:31] amyblais commented on #9014
Hi @dschaper! Thank you for reporting this!

As a first step, can you help confirm if you have followed all steps and links in our image proxy docs: https://docs.mattermost.com/administration/image-proxy.html?

Can you also help check logs and Console if you see any errors while you reproduce the issue?

[2018-06-27 15:37] amyblais commented on #8990
Hi @ashlz90! I'm not sure who the System Admin of your server is. The System Admin would have access to the System Console to check settings and to help add new members to the system. Would you be able to ask the person who invited you to the server if they know who has a System Admin role?

[2018-06-27 16:02] dschaper commented on #9014
Yes, I've followed the steps in the linked guide on two installations, one with S3 backing, and one without. I've tail'd the logfiles while making the changes and nothing has come up. I've also tried to manually populate the key/value pairs in the empty 'ImageProxy' config lines and that does not solve the problem either.

[2018-06-27 17:30] amyblais commented on #9014
Hi @dschaper! I tested this and was able to repro. I opened a ticket here for our engineers to address: https://mattermost.atlassian.net/browse/MM-11081.

I don't know if there are known issues around this or known reasons why it doesn't work, but I'll know more details tomorrow.

[2018-06-27 18:11] amyblais commented on #8990
@ashlz90 - Also forgot to mention that another way to add new members to a team is by going to Main Menu > Get Team Invite Link > Copy Link, and then giving that link manually to the person (via email or other way).

[2018-06-27 21:11] ThiefMaster commented on #9014
I fixed this in mattermost/mattermost-webapp#1349 a few days ago

[2018-06-27 21:44] amyblais commented on #9014
Awesome @ThiefMaster! 👍

@dschaper Looks like this will be fixed in v5.1!

[2018-06-27 22:26] amyblais opened #9021 "Mattermost v5.1"
This is a meta issue for v5.1 release updates.

You can find key dates for v5.1 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### July 3rd: Release candidate cut
After this date, only bugs can be committed to the release branch.

The following information will be updated after release candidate is c

[2018-06-28 05:58] feikesteenbergen commented on #9016
The referred ticket (https://mattermost.atlassian.net/browse/MM-2957) was closed with a documentation fix, but as far as I can tell, this requires a code fix:

1. A function based (gin) index is defined on some columns (notable `message`)
2. For PostgreSQL to use a function based index, the `WHERE` parameter needs to match the function
3. None of these queries have a matching `WHERE` parameter wit

[2018-06-28 08:53] creshal commented on #1838
You're supposed to not remove them, but replace them with `env` settings. Unfortunately the documentation is garbage, what's needed is:

[code]

[2018-06-28 08:59] AlexanderWillner opened #9023 "Session expires without renewal after successful authentication via gitlab (ldap)"
#### Summary
Session expires without renewal after successful authentication via gitlab (ldap)

#### Steps to reproduce
1. Login into mattermost.example.org > signing with gitlab
2. Redirect to mattermost.example.org/oauth/gitlab/login > gitlab.example.org/users/sign_in
3. Enter LDAP credentials

#### Expected behavior
User should always be authenticated while using the application (in the browser

[2018-06-28 11:19] jasonblais commented on #9008
Awesome, thank you @pietroglyph! 👍

[2018-06-28 13:27] amyblais commented on #8820
Hi @realrolfje - letting you know that I've reached out to our Product Managers regarding your questions and we'll get back to you soon.

[2018-06-28 13:32] mcnesium commented on #1838
After GitLab 11 Upgrade, this is not an issue for me anymore.

[2018-06-28 13:58] dbrgn opened #9024 "Notification E-Mails: Links and Channels not linked"
#### Summary

Links and Channels (`~channelname`) are not linked in notification e-mails.

#### Steps to reproduce

- Join a channel
- Subscribe to all notifications
- Write a message containing URLs and channel links, and mention `@all`
- You'll be getting a notification e-mail

#### Expected behavior

- In the HTML-Email, URLs should be linked
- Similarly, channel links should be resolved and li

[2018-06-28 13:58] dbrgn commented on #9024
Might be related to https://mattermost.atlassian.net/browse/MM-10581

[2018-06-28 14:01] amyblais commented on #9023
Hi @AlexanderWillner!

Thank you for reaching out. 👍

To give you the best help we can, could you review [this web page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and send us any additional relevant information you see that could help us diagnose the issue, e.g. your Mattermost server version, config settings, any log errors, etc.

[2018-06-28 14:08] amyblais commented on #9024
Hi @dbrgn!

Thank you for reaching out 👍

To give you the best help we can, could you review [this web page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and send us any additional relevant information you see that will help us diagnose the issue, especially your server version, OS, device, etc?

[2018-06-28 14:08] jkurian commented on #8567
I will be looking into this!

[2018-06-28 14:10] amyblais commented on #9016
Hi @feikesteenbergen!

Thanks for reaching out 👍

What Mattermost server version are you using? Could you also review [this web page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and send us any additional information you see that could help us diagnose the issue?

[2018-06-28 14:53] realrolfje commented on #8820
Thanks! I noticed that my former post was not entirely clear about people who registered before the GDPR invocation date: Our existing, pre-registered users all need to receive an email with a link which explains the new terms, and contains a way to explicitly re-affirm their consent. If they do not approve, or explicitly decline, we need to remove their data. It would really help if Mattermost pr

[2018-06-28 15:01] amyblais commented on #9001
Hi @andrewm41! Thanks for testing that out!

I have limited experience with API, so just wanted to confirm whether you are following our docs on [restoring a channel](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D~1restore%2Fpost) and [deleting a channel](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D%2Fdelete)

If yes, or my questi

[2018-06-28 23:06] amyblais commented on #9024
Hi @dbrgn! I tested this on v4.10 and v5.0 and this is what I see (see below screenshot).

Would you have a screenshot to share so I can compare with what you are seeing? Visualizing the issue in this case is helpful.

<img width="677" alt="test" src="https://user-images.githubusercontent.com/29708087/42064913-2750a6f8-7b06-11e8-8594-6b65dea44d5a.png">

[2018-06-28 23:14] amyblais commented on #9024
Hi @dbrgn! I'm able to repro the issue with channel links so I created a ticket: https://mattermost.atlassian.net/browse/MM-11102.

I'm not able to repro the issue with URLs, so possibly that's an issue in an earlier version (I tested this on v5.0).

[2018-06-29 05:19] andrewm41 commented on #9001
Hello!
Yes, I used this api reference you mentioned above (https://api.mattermost.com/).

[2018-06-29 07:08] dbrgn commented on #9024
@amyblais sure, here's a screenshot!

![screenshot](https://user-images.githubusercontent.com/105168/42078172-cf7c4286-7b7b-11e8-86ff-567a0548e403.png)

I just noticed that the emoji isn't converted either. The same message in the Mattermost webclient and in the app was properly processed.

[2018-06-29 09:16] eglyn opened #9026 "Snippet like Slack"
Hi :)

We have a problem with code integration, we need to use the `` but, this symbol is not on our keyboard, we have to use alt +... 3 times, it's not pratical :/

Is there a solution to have the same button like Slack, the left of the input box, witch open a windows like that :
![slack](https://user-images.githubusercontent.com/24936778/42084278-7f881630-7b8d-11e8-89c3-884df3281133.JPG)

Thx :)

[2018-06-29 10:17] feikesteenbergen commented on #9016
# Summary
* our query on the mattermost database taking most time takes around 1.3 seconds per execution
* if it would however be able to use the GIN index, it takes around 0.030 seconds

# Details
* CentOS 7.4
* PostgreSQL 9.6.5
* Mattermost 4.1.2

Does anyone anywhere have seen the GIN indexes on the PostgreSQL database being used by mattermost? Simplest way to find out is by doing the following

[2018-06-29 13:13] amyblais commented on #9026
Hi @eglyn! Thank you for reaching out.

Can you help with more details on what Mattermost server version you are using, as well what OS and device you're on?

[2018-06-29 16:53] amyblais commented on #8986
Hi @sbulka! Giving you an update that I haven't been able to repro this so far, so I will test it for another week or two as this seems to be a longer-term issue.

[2018-06-29 17:21] esethna opened #9031 "Cannot type backtick on some non-English keyboards in Windows Desktop App"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-06-29 18:00] amyblais commented on #9016
@grundleborg Would you be able to give me directions on who is familiar with these issues or are these questions for Ian?

[2018-06-29 18:32] amyblais commented on #9001
Hi @andrewm41 - I checked with our engineers about this and they said it looks like your session token is invalid or expired (and that these are not bugs).

Let us know any questions!

[2018-06-29 18:44] jwilander commented on #9001
@andrewm41 maybe it's not your token but some of your headers look wrong:

[code]

That header should be `'Authorization: Bearer '"$TOKEN"`

[2018-06-29 18:45] amyblais commented on #9016
@feikesteenbergen Thanks for all the information you have shared! I opened a ticket for our performance team to investigate a fix for this - you can follow its progress here https://mattermost.atlassian.net/browse/MM-11117.

[2018-06-29 18:48] lieut-data commented on #9001
I think I can reproduce this:
[code]

[2018-06-29 18:52] amyblais commented on #7769
@Ppjet6 - giving you an update that I will gather all your information and think about the next step in troubleshooting this issue! Thank you for your patience.

[2018-06-29 20:52] amyblais commented on #9001
Hi @andrewm41! I opened a ticket here for our engineers to investigate this: https://mattermost.atlassian.net/browse/MM-11118.

Thanks for finding this bug!

[2018-07-01 19:18] samholst commented on #5072
This feature is really distracting and destroy the UX look of the app. There should be a option to turn it off because the grey is quite ugly and unneeded.

[2018-07-02 05:40] andrewm41 commented on #9001
yes, you are right, it was my typo from original post, I was bad in copy/paste from my terminal, and this typo didn't allow me to reproduce this bug on rctesting.reddogsofwar.com

thank you for noticing it

and with correct authentication token header I can reproduce it on rctesting.reddogsofwar.com:

**I deleted it successfully:**
curl -X DELETE -s -i -H 'Authorization: Bearer '"$TOKEN" https://r

[2018-07-02 06:32] eglyn commented on #9026
Mattermost v5.0
OS server: debian 9
OS webapp: Windows 10

[2018-07-02 10:22] vringar commented on #8498
@jasonblais for numerical values how about 0 for "Immediately" and -1 for "Never"

[2018-07-02 11:38] iampeter commented on #8687
@lieut-data @amyblais The official 5.0.0 version seems to have the same problem, where following the instructions for setting CORS to accept "*" doesn't seem to work.

[2018-07-02 15:18] amyblais commented on #9026
Hi @eglyn! Thank you for the additional information 👍

Looks like we don't support this feature yet and it would be a great feature request.

It looks like some people have already [contributed this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/), would you like to help upvote the feature requests?

If you're interested in implementing, please say so and we'll p

[2018-07-02 16:40] icelander opened #9036 "Header UI elements not accessible for screen readers on Android 7.1 using Talkback 6.2.0"
*Summary*

The header UI elements for the RHB, Channel Name, Search, and application menus are not labeled correctly for a screen reader.

*Steps to Reproduce*

1. Use Version 1.9.2 of the Mattermost application on Android 7.1 and Talkback 6.2.0

*Expected Behavior*

Top menu items are labeled properly

*Observed Behavior*

They're not labeled properly and do not show up as buttons.

*Possible Fix

[2018-07-02 19:55] stephanfriedrich opened #9037 "Log Style and Timestamp broken"
Hi i updated from Mattermost-server from "4.6.1" to "4.10.0" and since my Log within System-console (Webview) is broken  so i cant see the correct Timestamp see Example Log below

My server is an Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-128-generic x86_64).

[code]

How can i Fix these.

[2018-07-03 03:20] lieut-data commented on #8687
Hi @iampeter! Here's something that works for me (in Chrome), when I load this file directly into the browser:
[code]

With `AllowCorsFrom` set to the default `""`, it fails with the expected CORS error, but with it set to `"*"`, I get the expected response logged to the system console.

Can you describe what you're seeing?

[2018-07-03 07:18] SmartHoneybee commented on #9037
Hi,

as far as I know, those are Unix timestamps. The change is documented [here][0]:

You can try: `jq '.ts |= strftime("%Y-%m-%d %H:%M")' your_mattermost.log`. (Details [here][1].)

Regards,
Bee

[0]: https://docs.mattermost.com/administration/important-upgrade-notes.html
[1]: https://stedolan.github.io/jq/manual/

[2018-07-03 07:49] pradeepmurugesan commented on #6278
@jasonblais Looking at the comments and task description I got the problem as follows.

The post edited web socket event has the field ```hasReactions``` set to true even if its the last reaction that is getting removed ? So we need to send ```hasReactions``` as false when the last reaction is removed.

Kindly let me know If I am getting the task here.

Pradeep.

[2018-07-03 08:10] sbulka commented on #8986
Hi @amyblais, thank you for looking into this.
Happened again today.

I wanted to check a channel which had new messages, clicked on it, and afterwards joined the unwanted channel.
side note: my computer had a noticeable delay (1-2s, mouse stuttering), so may be a kind of "misclick" originating from the system.

[2018-07-03 11:53] jasonblais commented on #8718
Hey @cometkim - just checking in if you have any questions thus far?

[2018-07-03 12:38] jasonblais commented on #8663
Thanks @jkurian! This will be available in v5.1. Closing

[2018-07-03 12:38] #8663 closed

[2018-07-03 12:46] jkurian commented on #8663
@jasonblais My pleasure :)

[2018-07-03 13:11] amyblais commented on #9036
@icelander Please let me know if you were able to repro this or if you need QA's help to test it out (I don't have Android to test it)?

[2018-07-03 13:28] noidic opened #9042 "New messages only visible after changing channel"
#### Summary
I use the current version of the windows desktop app.
If new messages arrive in currently active channel, the messages are not displayed or after some time (observed delays of about 30 minutes). If I change the active channel and then change back, the new messages are displayed.

#### Steps to reproduce
Use current version of desktop app (windows), let someone else post a message into

[2018-07-03 14:58] hmhealey commented on #6278
@pradeepmurugesan That's correct. We used to have that functionality, but there was a bug that happened in some database setups, so we had to remove it. There's some more details in the Jira ticket linked above that go into some more detail about it.

[2018-07-03 15:59] esethna opened #9045 "[Help Wanted] [MM-10682] Emoji picker for mobile web view"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-03 16:43] pradeepmurugesan commented on #6278
@hmhealey Cool.. I understand that reading the DB after writing will take some time due to the 2 different Dbs for read and write...

I am trying to check if the post has the only one reaction at the time it comes to ```DeleteReactionForPost```. If so set the flag ```hasReactions``` to false else we leave it to default (true).
Do you think this will work or see any other side effects?

Sorry I am

[2018-07-03 17:57] amyblais commented on #8986
Hi @sbulka, would you be able to gather any errors in logs / Console errors that you might see around the time the issue occurs again? Also, do you have "Group unread channels" setting at "None" or "At the top of the channel sidebar"?

This did once happen to me a while ago on one of my test accounts, but I haven't seen it since and didn't investigate it further since I wasn't able to repro at the

[2018-07-03 18:12] iampeter commented on #8687
@lieut-data maybe this should go to the `mattermost-redux` repo then, because your example indeed works for me, but what does not work is `Client4.getMe()` from `mattermost-redux`:

[code]

[2018-07-03 18:19] iampeter commented on #8687
Reported my problem as https://github.com/mattermost/mattermost-redux/issues/557

[2018-07-03 18:37] amyblais commented on #9021
### v5.1 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.1.0-rc1/mattermost-team-5.1.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/50d972d57ae7319c794e79736da3b5de267e027e/source/administration/changelog.md)

#### Approved fixes for RC-2
[/invite_people command

[2018-07-03 18:38] Jessica-c53 opened #9046 "Sign in page cut off"
#### Summary
Sign in page cut off/ no scroll bar on testing server

#### Steps to reproduce
Testing Server Link
https://rctesting.reddogsofwar.com/login

#### Expected behavior
The page shows that there are other quick sign in options but they are cut off and there is no way to scroll down and get them.

#### Observed behavior (that appears unintentional)
![testing link bug](https://user-images.gi

[2018-07-03 22:42] amyblais commented on #9046
Hi @Jessica-c53! Thank you for reporting this 👍

Would you be able to test if this reproduced on a different browser?
Are you able to see the whole page if you try to change the zoom level in the page?

I'm not able to repro this on Mac, Chrome, so I just want to get a sense of if this is device / browser specific issue.

[2018-07-03 23:38] amyblais commented on #7769
@Ppjet6 Do you know if the users you are seeing this issue with are system admins / members / a mix of both?

I'll also ask an engineer to help take a look at the 404 error message you posted earlier to see if they have ideas.

[2018-07-04 06:10] sbulka commented on #8986
I will watch out for Browser Console errors.
Don't know about other helpful logs (which/where to find them).

For the setting "Group unread channels", I can't find it (Account settings/display).
I assume "None", because my channels are not grouped when new messages appear.

[2018-07-04 08:01] stephanfriedrich commented on #9037
@SmartHoneybee thx for your response.
i know these are unix-timestamps.

**but i was wonderin** why mattermost-server change its default log-style to json and wont style the weblog correctly. seems to an style-issue for me

[2018-07-04 13:00] jkurian commented on #9046
Just for more information here, I also noticed this issue. I am on a Mac book using Firefox and the login window does not resize. The window does resize however when in Safari.

Firefox
<img width="1003" alt="screen shot 2018-07-04 at 8 57 39 am" src="https://user-images.githubusercontent.com/13214873/42278330-73ca2106-7f68-11e8-85b1-c0b28c99c5c5.png">

Safari
<img width="872" alt="screen shot 201

[2018-07-04 13:30] amyblais commented on #8961
Hi @gpaddis! Letting you know that https://mattermost.atlassian.net/browse/MM-10959 has been submitted and the fix is available in 5.1.

5.1 will be released in July 16th.

I'll close this Issue for now since the fix is available soon. If you encounter the bug after upgrading to 5.1, please reopen this Issue.

[2018-07-04 13:30] #8961 closed

[2018-07-04 13:30] amyblais commented on #8962
Hi @WGH-! Letting you know that https://mattermost.atlassian.net/browse/MM-10972 has been submitted and the fix is available in 5.1.

5.1 will be released in July 16th.

I'll close this Issue for now since the fix is available soon. If you encounter the bug after upgrading to 5.1, please reopen this Issue.

[2018-07-04 13:30] #8962 closed

[2018-07-04 13:34] amyblais commented on #9014
Hi @dschaper! Since the PR to fix this issue has been merged and it will be available in 5.1, I'll close this Issue for now.

5.1 will be released in July 16.

If you encounter the bug after upgrading to 5.1, please reopen this Issue.

[2018-07-04 13:34] #9014 closed

[2018-07-04 13:45] jasonblais commented on #8718
Thanks @cometkim! Sounds good

[2018-07-04 14:02] hmhealey commented on #6278
No worries about the questions. I'm glad to help.

I think that should work. There's a small chance that you could have two people delete their reactions at nearly the same time so that the websocket passes back `HasReactions = true` for both of them, but that seems extremely unlikely.

The only other thing I could think to do would be to have the SQL statement in the store return whether or not i

[2018-07-04 14:10] pradeepmurugesan commented on #6278
@hmhealey True.. I thought about the complicated case, I too felt it will be hard to implement with the setup ( read and write from different DBs).

I have made the changes and created a PR. Kindly review.

I couldn't find any Automated tests for this piece of code.. I have tested it manually and it works.

The only thing I found odd is if the hasReactions is set to false it never reaches the clie

[2018-07-04 14:19] hmhealey commented on #6278
It's left out by the serializer because Go uses something that it calls struct tags to define some things including how the json serializer should handle fields. If you look at `model/post.go` where the `HasReactions` field of the `Post` struct is defined ([link](https://github.com/mattermost/mattermost-server/blob/master/model/post.go#L81)), it has
[code]
after the type which means that the json

[2018-07-04 14:23] pradeepmurugesan commented on #6278
Thanks..  That explains.. :-) 👍

[2018-07-04 14:37] amyblais commented on #9046
Interestingly I'm not able to reproduce this on Mac or Windows on different browsers - @Jessica-c53 what zoom level do you have on the page just so that I can effectively test it out?

[2018-07-04 16:58] Jessica-c53 commented on #9046
I was using 100% zoom level on Google Chrome on my PC. I can see the bottom
of the page if I decrease that percent. I tested this firefox and internet
explorer (on my PC) both were initially cutoff at 100% zoom but could be
adjusted to see everything with that lessened.

I have attached screenshots of Internet Explorer and Firefox at 100% zoom.

On Wed, Jul 4, 2018 at 7:37 AM amyblais <notificatio

[2018-07-04 19:44] pradeepmurugesan commented on #8964
I can start to look into this..

Any code pointers would be helpful.  Thanks.

[2018-07-04 22:06] jasonblais commented on #8964
Thanks for your interest @pradeepmurugesan!

For technical advice or questions, I recommend [joining our "Developers" community channel](https://pre-release.mattermost.com/core/channels/developers). You'll get faster responses there, as the channel is quite active by community and core committers.

[2018-07-04 22:52] amyblais commented on #8986
Thank you!

Regarding the "Group unread channels" setting, it might be disabled in the System Console and it would be found in "Sidebar" section in the Account Settings. No need to worry about it, I just tried to think about all possible situations for testing this case.

[2018-07-05 02:52] lieut-data commented on #9001
The underlying problem here was that we incorrectly allowed direct messages and group messages to be marked as deleted. This doesn't really make sense within our current data model, so the fix will be to prevent same.

Any incorrectly deleted direct or group messages will need to be manually patched via a database call:
{noformat}
UPDATE Channels SET DeleteAt = 0 WHERE Type IN ( 'D', 'G' );
{nofor

[2018-07-05 06:37] noidic commented on #9042
We are using Mattermost server 5.0, team edition. The issue applies to the webapp to (tested in Firefox). As a sidenode, desktop notifications aren't working either, push notifications do.

[2018-07-05 06:55] SmartHoneybee commented on #9046
Reproducible for me with Firefox (52.9.0) and its [Responsive Design Mode][1] after toggling orientation on the selected device (e.g. Google Nexus 4).

While disabling `overflow: hidden` for `.body` fixed the issue for me, I'm not sure if that's the right way to handle this. (Search for `overflow` in the [CSS Pane][2], move your mouse towards the highlighted entry, unselect the checkbox that appea

[2018-07-05 07:19] SmartHoneybee commented on #9037
According to the [documentation](https://docs.mattermost.com/administration/config-settings.html#output-console-logs-as-json) you should be able to switch to plain text output.

As for *why*, AFAICS, they wanted structured logging (https://github.com/mattermost/mattermost-server/pull/8673) and that logger is faster if you use JSON output.

[2018-07-05 11:19] char543 opened #9055 "Restoring Database With Ansible issues..."
#### Summary
Unable to restore Postgres database inside container using ansible. Ansible modules, shell commands and shell scripts via ansible can not restore db inside docker container. When executed manually from same backup it works. When commands have been run from ansible that were successful on any container, the container/s consistently restarts.

#### Steps to reproduce
backup and restore

[2018-07-05 14:29] #9008 closed

[2018-07-05 15:20] amyblais commented on #9042
Thank you for the additional details @noidic!

I will test it out on Windows today - would you also be able to share more details on the following:

1. Your Notification settings (in Account Settings).
2. Specific Channel Notification Preferences for one of the channels where you see this issue.
3. Whether you have "Group unread channels" setting on or off (if this is enabled on your server).

[2018-07-05 18:58] amyblais commented on #9055
Hi @char543! Thank you for reporting this.

Can you help confirm if this is the project you are using or other: https://github.com/ansible/ansible?

[2018-07-05 19:11] hmhealey commented on #9023
Hi @AlexanderWillner. It sounds like you're running into the regular session length limits. I believe they're set to 30 days by default, but you can make them longer in the Security > Sessions section of the System Console. In particular, you'll want to change the "Session Length SSO" if you're using GitLab login. More information on those settings is [here](https://docs.mattermost.com/administrat

[2018-07-05 22:33] amyblais commented on #8945
Hi @fmp777! A note about this has been added to the documentation: https://docs.mattermost.com/administration/important-upgrade-notes.html.

Thank you for reporting this!

[2018-07-05 22:33] #8945 closed

[2018-07-05 23:51] amyblais commented on #9042
@noidic I'm not able to reproduce this, but it might be if our settings are different. In addition to the above information I requested ^ can you also help with more details on whether this happens on DMs, public channels or any type of channels?

[2018-07-06 05:19] AlexanderWillner commented on #9023
Hi @hmhealey, yes I assume the session expires. However, it seems (my current assumption) that the session is not automatically renewed when a user is using Mattermost. I.e., it doesn't matter how long the session is - at a given point in time it will expire and active users have to re-authenticate.

[2018-07-06 07:43] jespino commented on #9007
Hi @garobles, how it is going? Do you need any help?

[2018-07-06 09:50] char543 commented on #9055
Hey Amy :)

Yes that is the project in question.

Anything else, please don't hesitate to ask !

Many Thanks

Charlie

On Thu, Jul 5, 2018 at 7:59 PM, amyblais <notifications@github.com> wrote:

--
*Charlie Stuart*.
IT Support

*email. *charlie@pillarproject.io

<https://pillarproject.io/unconference2018?utm_source=signaturesatori&utm_medium=email&utm_campaign=general_signature>
*Vilnius, Lithuani

[2018-07-06 14:03] noidic commented on #9042
Notifcation settings are Desktop for all activities, silent, show for 5 seconds, e-mail notifcations are off, push notifications when offline or away. No specific channel notification settings. Issue happens on DM and public channels, we do not use private channels. Group unread channels is not activated.
As a sidenote, the issue did not happen until we updated from 4.10 to 5.0.

[2018-07-06 14:40] esethna opened #9058 "[Help Wanted] [MM-11180] Add experimental default channels feature"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-06 17:51] amyblais commented on #7769
@Ppjet6 Update: as a next step, I posted about this for engineers and community members on our [build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) in [Peer-to-peer Help channel](https://pre-release.mattermost.com/core/channels/peer-to-peer-help) to see if anyone has ideas on the 404 error message you saw earlier.

[2018-07-06 18:01] amyblais commented on #9023
@AlexanderWillner I remembered another report related to this recently and one of our product managers gave this reply: https://github.com/mattermost/desktop/issues/811#issuecomment-390983284.

Let me know if it helps?

[2018-07-06 22:35] amyblais commented on #9024
Hi @dbrgn! Apologies for late reply - giving you an update that the ticket to address the issue with channel links is under review by our product managers as it looks like this "feature" hasn't been implemented yet: https://mattermost.atlassian.net/browse/MM-11102.

I haven't been able to repro the issue with links, so I'm guessing that is an issue on an older version.

[2018-07-06 22:40] amyblais commented on #9055
Hi @char543! I could be wrong but I believe this is an issue on the third-party side and it might be best if you get in touch with the makers of the Ansible project.

You might find more information in their documentation and website: https://docs.ansible.com/ansible/latest/index.html and https://www.ansible.com/.

[2018-07-07 12:56] kaakaa commented on #6174
Hi, I started work on webapp.
I think that in many cases the fixing will be done by converting `FormattedHTMLMessage` to `FormattedMarkdownMessage` and modifying messages in markdown style.

At first, I listed all messages with html tags by using [my script](https://gist.github.com/kaakaa/025f29a427f6ae33d68c646353ba87b3#file-mm-message-html-tags-go).
https://docs.google.com/spreadsheets/d/1e4RdAA

[2018-07-07 14:48] jasonblais commented on #6174
This is awesome! Thank you @kaakaa 👍

[2018-07-08 11:20] pradeepmurugesan commented on #8995
I am starting on this one..

[2018-07-08 14:40] pradeepmurugesan commented on #8994
I am working on this..

[2018-07-08 18:42] cometkim commented on #8718
I need to resolve a few build errors to before the PR. :cry:

@jasonblais
Question: Is this change request includes preview and thumbnail?

It would be easy to change the download API for the original, but not if it includes thumbnails and previews.

Because these APIs have to provide byte size. Currently, It's provided via reading all bytes from the server. In the case of the original file, the b

[2018-07-08 19:00] AlexanderWillner commented on #9023
@amyblais Thanks. Actually, ```It is similar to your session on your bank account expiring after a fixed period of time``` - this is a good example. Using my online banking system, the session is renewed every time I click on something (i.e., after there is some activity from my side). Now image, the session would always time out after e.g. 10 minutes, regardless of whether a user is active or not

[2018-07-09 07:54] jespino commented on #8719
It will be done automatically by the new translations extraction mechanism.

[2018-07-09 07:55] jespino commented on #8905
It will be done automatically by the new translations extraction mechanism.

[2018-07-09 07:56] jespino commented on #8647
I'm working on this embeding the static files in the binary.

[2018-07-09 07:58] jespino commented on #8906
It will be done automatically by the new translations extraction mechanism.

[2018-07-09 08:46] #8994 closed

[2018-07-09 10:54] jasonblais commented on #8719
@jespino Can we then just close the help wanted ticket?

[2018-07-09 10:57] jespino commented on #8719
Yes, but not yet the Jira ticket.

[2018-07-09 11:03] #8719 closed

[2018-07-09 12:58] amyblais commented on #7769
@Ppjet6 Another suggestion would be that you could test out with the affected users if you see the same issue on our build server that I linked in my previous comment ^ Everyone is welcome to join and test it out!

[2018-07-09 13:15] amyblais commented on #9042
Hi @noidic! Would you also be able to provide these additional details:

1. What Win version are you using?
2. Does this happen when you are online or when coming back from being idle?
3. Would you be able to test if the same happens on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676)?

[2018-07-09 13:38] esethna opened #9072 "[Help Wanted] [MM-11233] Migrate components/code_preview.jsx to Redux and PureComponent"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-09 14:11] crspeller commented on #8718
@cometkim I don't think that is currently stored anywhere. You might be able to get it out of the file backends. But it also might be easier to just add the needed into to the FileInfo struct. You would have to have some logic for existing files to handle a 0 value.

[2018-07-09 14:47] kaakaa commented on #6174
I'm working on webpp. And now I have some concerns about messages and `FormattedMarkdownMessage` component.
Would you please answer my questions?

### 1. Custom classes
Some messages has custom classes (e.g.: `<h4 class=banner__heading">Note:</h4>`) in html tag. How can I add these classes with markdown style? or can I remove these custom classes?
* admin.compliance.noLicense
* admin.ldap.noLicens

[2018-07-09 15:41] mcallaghan-sandvine opened #9077 "Implement "client banner" conditional on client software version"
#### Summary
For back-end Mattermost server upgrades, sometimes client versions are required to be upgraded. Further, there is no auto-update notification feature in the mattermost client. So administrators often employ a banner/notification to clients indicating that the server was upgraded, and they may need to upgrade their client.

It would be awesome if the admin could ONLY display the banner

[2018-07-09 15:53] mkraft commented on #6174
1) At this point `FormattedMarkdownMessage` doesn't support custom classes so I would look into wrapping the whole thing in a custom class and then targetting the contained markup. So instead of using `.banner__heading {}` directly you could do `banner__heading h4 {}`, for example. That should work in most of the cases.

2) I wonder if backslashes work to render `<` and `>` like this: `\<` and `\>

[2018-07-09 17:35] pradeepmurugesan commented on #8993
I will pick this one

[2018-07-09 19:00] thieraufc opened #9078 "Using Amazon S3 consistently leads to server crash"
#### Summary
Using Amazon S3 Buckets, authenticated using the "Access Key ID" and "Secret Access Key", consistently crashes the server whenever files are uploaded.

#### Steps to reproduce
Running Mattermost version 5.0 on Red Hat Enterprise Linux. The Amazon S3 Access Key ID and Secret Access Key were filled out using the appropriate keys for the bucket. When accessing the server from the web cli

[2018-07-09 19:20] ziyadparekh opened #9080 "Scaling mattermost to multiple servers"
How does Mattermost resolve scaling websocket connections to multiple instances of mattermost installed on different servers? If I have a cluster of servers running mattermost instances and user A has an open connection on server A while user B has an open connection on server B but they are both part of the same channel, how does mattermost resolve broadcasting a message from user A to all the us

[2018-07-09 19:37] esethna opened #9081 "[Help Wanted] [MM-11144] Introduce mlog/human package to consume and reformat structured logging"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-09 21:03] nktech1135 commented on #9036
Hi.
I'm the one who origionally reported this through the email link on the play store. is there anything i can do to help with this?

Thanks.

[2018-07-09 22:43] mgdelacroix commented on #9072
I'd like to take care of this one :)

[2018-07-09 23:45] amyblais commented on #9078
Hi @thieraufc! Thank you for reporting this 👍

Can you help check if this Jira ticket describes the issue you are seeing: https://mattermost.atlassian.net/browse/MM-10677?

[2018-07-09 23:51] santos22 commented on #8646
Hi @jasonblais  👋,

Can you confirm if these 4 commands can support multiple plugins or is the following the desired behavior:
* install/enable **multiple** plugins at a time
* delete/disable **one** plugin at a time

[2018-07-10 00:09] amyblais commented on #9077
Hi @mcallaghan-sandvine! Thank you for reporting this 👍

Can you help with more details on what Mattermost server version and mobile version you currently use?

There has been discussion about this, so I will ask our team about where this is in the roadmap / if there is an open Jira ticket, as I could not find specific information after doing some searching. I'll let you know the feedback.

[2018-07-10 03:48] falcon78921 commented on #8031
Hi @jasonblais,

I've been experimenting with the Mattermost docker preview for a couple weeks now. While using the docker preview, I found some potential improvements that might help users experience Mattermost better. First, when I ran the initial ``docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview``, the container was successfully deployed. However, unlik

[2018-07-10 11:24] acpower7 commented on #9080
good question

[2018-07-10 12:16] jasonblais commented on #8646
@santos22 For the other delete/disable commands such as `platform user deactivate` and `platform user delete`, can multiple items be deleted/disabled at once?

I assume it was only one at a time, so I proposed the same for plugins. But reading the documentation, I'm not sure if that's true.

[2018-07-10 12:34] amyblais commented on #8761
Hi @fmantek, we haven't received an update so I'll close this Issue for now. The two tickets referenced above (https://mattermost.atlassian.net/browse/MM-10790 and https://mattermost.atlassian.net/browse/MM-10791) have been marked complete and the fixes will be available in v5.1.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/

[2018-07-10 12:34] #8761 closed

[2018-07-10 12:35] amyblais commented on #8990
Hi @ashlz90, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-10 12:35] #8990 closed

[2018-07-10 12:56] mcallaghan-sandvine commented on #9077
@amyblais , MM server is `5.0.0` in this case.  Mobile version is N/A (it varies across all users). MOST users are on latest `4.1.2`.

[2018-07-10 14:16] adzimzf commented on #9058
is this issue suitable for beginner ?

[2018-07-10 14:21] jasonblais commented on #9058
Hey @adzimzf! Thanks for your interest in contributing to Mattermost!

There is actually a PR opened for this feature https://github.com/mattermost/mattermost-server/pull/9068

We have some open introductory tickets here: https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22Difficulty%3A+Introductory%22++label%3A%22Up+For+Grabs%22

Let me know if

[2018-07-10 14:31] thieraufc commented on #9078
Happy to help out!

Looking into that link, I'm not sure it's the same error. I have enough memory that I think a 512MiB buffer should be fine (1GB available, it's idling at about a percent usage with mattermost running) and I didn't notice a memory spike in `top`. The linked error also aims for an optimization, while I'm experiencing total server failure.

That said, it could be the same error if

[2018-07-10 14:37] lieut-data commented on #8031
Good catch, @falcon78921! I'm wondering if the recently fixed https://mattermost.atlassian.net/browse/MM-6839 would assist with the issue locating the i18n assets above. Previously, the binary was very sensitive to the working directory, but will now search both there and relative to the binary itself.

Can you give this a shot either once we release Mattermost 5.1? Or feel free to test a custom i

[2018-07-10 14:44] amyblais commented on #9077
Hi @mcallaghan-sandvine!

There is actually a PR open here to implement auto-upgrader: https://github.com/mattermost/desktop/pull/582.

Here is a link to the original ticket: https://github.com/mattermost/desktop/issues/15.

If you are interested in helping out, let us know! All help is welcome.

[2018-07-10 14:57] adzimzf commented on #9058
Hey @jasonblais,
actually I'm go programmer,  can you suggest me some issues related to go ?

[2018-07-10 15:01] amyblais commented on #9080
Hi @ziyadparekh and @acpower7! Thank you for your questions 👍

Here is some documentation that might help:
- https://docs.mattermost.com/deployment/scaling.html
- https://docs.mattermost.com/deployment/cluster.html

Let me know if this doesn't help and I'll ask the team for more details.

[2018-07-10 17:29] amyblais commented on #9023
@AlexanderWillner There have been a few similar reports so I'll ask the team about this - can you help with details on what server version you use, and the versions of any apps that you use?

[2018-07-10 17:44] pradeepmurugesan commented on #9006
I can give this a try.. I get an initial Idea of what we need to achieve..

I think some question might come up when starting to implement.

[2018-07-10 17:49] aranjan7 commented on #9080
@amyblais Thanks for the response. But most of the question by @acpower7 is not answered in above links. Is there a brownbag on this topic. Specifically I want to know:
  a) how does 'inter-node' messaging works wrt web sockets / proxy connections of channel members being distributed. Any code pointers for the same.
  b) With members joining/leaving how do you invalidate in memory cache.
  c) Any

[2018-07-10 18:45] amyblais commented on #9080
Answers from our engineers:

@ziyadparekh:
For "How does Mattermost resolve scaling websocket connections to multiple instances of mattermost installed on different servers?":
We don't handle dynamically balancing websocket connections.

@acpower7:
1. The LB load balances requests between the app servers. It also provides a caching layer.
2. No, the DB is shared.
3. No strategy, the client can mak

[2018-07-10 18:52] santos22 commented on #8646
@jasonblais looks like multiple users can be deleted and deactivated when running the command so I can change my implementation to be consistent 👍

[2018-07-10 19:27] esethna opened #9089 "[Help Wanted] [MM-11279] Migrate components/access_history_modal/access_history_modal.jsx to Redux and PureComponent"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-10 19:31] esethna opened #9090 "[Help Wanted] [MM-11282] Migrate components/audit_table.jsx to Redux and PureComponent"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-10 19:31] esethna opened #9091 "[Help Wanted] [MM-11281] Migrate components/leave_team_modal.jsx to Redux and PureComponent"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-10 19:31] esethna opened #9092 "[Help Wanted] [MM-11280] Migrate components/activity_log_modal/activity_log_modal.jsx to Redux and PureComponent"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-10 19:37] esethna opened #9093 "[Help Wanted] [MM-11283] Migrate components/navbar/navbar.jsx to Redux and PureComponent"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-10 20:48] falcon78921 commented on #8031
Thanks @jasonblais & @lieut-data! :)

@lieut-data - Yeah, I'll try with the 5.1.0 release candidate.

[2018-07-10 21:21] jasonblais commented on #8646
Thanks @santos22! Let's do that

[2018-07-10 22:35] falcon78921 commented on #8031
Good news @lieut-data :)

I'm able to run mattermost commands directly from ``docker exec`` with 5.1.0-rc2:

[code]
Only problem is that one of the checks calls for DNS resolution of dockerhost. This can be easily solved by adding ``--add-host dockerhost:127.0.0.1``  to ``docker run``, like so:

``docker run -it --add-host dockerhost:127.0.0.1 5c41e2d919c0``

I opened a pull request for this in th

[2018-07-10 22:54] lieut-data commented on #8031
Excellent!

The `dockerhost` anomaly /should/ only be an artifact of our development environment. Any idea why the database configuration is pointing at `dockerhost` in the first place? I don't see anywhere in https://github.com/mattermost/mattermost-docker-preview where the `dockerhost` is used instead of just `localhost`.

[2018-07-10 23:10] jasonblais commented on #9058
Hey @adzimzf! Some of those introductory tickets are for Go: https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3AGo+label%3A%22Up+For+Grabs%22

If none of them strike your interest, let me know as there are a few other areas we're working on at the moment.

[2018-07-10 23:55] theblueskies commented on #9007
https://github.com/mattermost/mattermost-server/pull/9094

[2018-07-11 06:49] AlexanderWillner commented on #9023
Thanks. So if this is a absolute timer, there is nothing to fix here (i.e., works as expected) and I would close this issue. Maybe the documentation could be enhanced to reflect this security measure.

[2018-07-11 09:01] sbulka commented on #8986
Happened again.

Browser console gave these two warnings, but I'm not sure if everything was logged before i opened it.
Had no timestamps activated unfortunately (activated afterwards, but message was gone after going back to console. next time there should be time stamps).
The warning is about possible issues with Panning and ScrollLinkedEffects (its in german).
"mittagessen" is the name of the c

[2018-07-11 11:17] jespino commented on #8995
Fixed, Thanks @pradeepmurugesan :sparkles:

[2018-07-11 11:17] #8995 closed

[2018-07-11 11:18] jespino commented on #8993
Fixed! Thanks :sparkles:

[2018-07-11 11:18] #8993 closed

[2018-07-11 11:19] jasonblais commented on #9006
Sweet, thanks @pradeepmurugesan!

[2018-07-11 12:14] jasonblais commented on #8820
Thanks @realrolfje for your excellent question. And sorry for the extended delay.

1. With email/password login, we link to the terms of service and privacy policy on the account creation page, which can both be customized as a System Admin via System Console > Customization > Legal and Support. By proceeding, the user agrees to the terms and privacy policy. The user is also asked to enter their e

[2018-07-11 13:48] gmccance opened #9097 "Users can delete themselves from Direct channels"
#### Summary
Users can delete themselves from direct channels via the Mattermost API - which they cannot then add themselves back onto.

#### Steps to reproduce

With server version 5.0.0:

[code]

A User is subscribed to two channels, one of which is a Direct channel. Everything is fine in the Mattermost web app - the two users on the direct channel can happily communicate.

[code]

Channel membe

[2018-07-11 16:30] esethna opened #9100 "[Help Wanted] [MM-11293] Add server Makefile target to run Go static checker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-11 16:56] amyblais commented on #9097
Hi @gmccance! Thank you for reaching out 👍

I remember a similar report just recently, and I was wondering if you can take a look if it describes the issue you are seeing: https://github.com/mattermost/mattermost-server/issues/9001.

Here is a ticket that was opened for it: https://mattermost.atlassian.net/browse/MM-11118.

If these do not describe the issue you are seeing, then of course let me k

[2018-07-11 17:12] DSchalla commented on #9100
I'll take it.

[2018-07-11 18:10] realrolfje commented on #8820
Dear Jason, thanks for the answer but this does not answer my question and to my knowledge does not cover GDPR.

1. As I said in my former most, **our existing, pre-registered users all need to receive an email with a link which explains the new terms, and contains a way to explicitly re-affirm their consent**. Any installation of Mattermost needs to do this.
2. The current Mattermost privacy poli

[2018-07-11 18:32] DSchalla commented on #8820
Hi @realrolfje,

1. Understood, cannot disagree with that one. You could write something yourself to do this, but I understand that's won't work for everyone. Also, from my understanding, only MM instances that are operated by a company need to do this, this is not applicable from my understanding to hobbist communities e.g. - What solutions you'd have in mind? Lock out all users, send them an ema

[2018-07-11 19:11] amyblais commented on #8991
Ticket: https://mattermost.atlassian.net/browse/MM-11301.

[2018-07-11 19:11] #8991 closed

[2018-07-11 19:17] amyblais commented on #9036
Hi @nktech1135! I created a Jira ticket here for our engineers to take a look: https://mattermost.atlassian.net/browse/MM-11302.

We'll let you know if we need further information!

[2018-07-11 22:47] theblueskies commented on #5485
@jasonblais Is this ticket still open/valid?

[2018-07-11 23:00] amyblais commented on #9078
Hi @thieraufc! I'll ask our engineers about this. Would you also be able to share any debug logs from around the time the issue occurs?

[2018-07-11 23:03] johncoleman83 commented on #5485
Sorry I stoped working on this because there were mixed opinions from Mattermost Devs and it seemed like there was not yet a consensus about theoretically how this would be achieved.  In my spare time, I'm working on another integration for PagerDuty / Mattermost now, that I hope to have completed in next month, and so I will not be looking at this until the other is completed.

[2018-07-11 23:12] jasonblais commented on #9058
@adzimzf  Are there any areas (apart from Go) that you'd be interested tackling? Not sure if any of the open Go help wanted tickets were of interest.

[2018-07-11 23:13] amyblais commented on #9023
Hi @AlexanderWillner - I've added to my to-do list to update our docs.

Our product managers also opened a ticket to improve user experience on this as we've seen other similar reports: https://mattermost.atlassian.net/browse/MM-11306

[2018-07-11 23:17] AlexanderWillner commented on #9023
Splendid. At https://github.com/mattermost/desktop/issues/811#issuecomment-404149609 it is also suggested to store credentials in the client to automatically login again.

[2018-07-11 23:43] amyblais commented on #8986
Thank you @sbulka!

Just to confirm, do you only see this issue in one channel (mittagessen)?

I will ask our team about whether anyone has experienced something similar in the past and if there is any other specific information we could help gather to investigate this.

I could not find information on ScrollLinkedEffects (related to Mattermost) so I have a feeling that it might not be the cause o

[2018-07-11 23:53] jasonblais commented on #8820
Thank you for the open feedback! I'll do some more research on this and get back to you. We want to get it right as well.

The privacy policy with full disclosure on account creation page was also there prior to GDPR being launched.

Also, another point is that the software doesn't collect, share or otherwise use personal information - except for the email address I suppose.

With that said, we ar

[2018-07-12 00:19] adzimzf commented on #8511
I interested to this one.

[2018-07-12 02:53] jasonblais commented on #8511
Awesome, thank you @adzimzf!! Let us know if you have any questions along the way :)

[2018-07-12 07:58] gmccance commented on #9097
Hi @amyblais!

Indeed when trying to fix this I also noticed the issue #9001 - that you can delete a Direct channel entirely and then not be able to get it back.

This issue is slightly different - I'm not deleting the channel itself, I'm just deleting one of the channel members (myself), which results in a situation that can't then be rescued from the API. i.e. the Direct channel only has one mem

[2018-07-12 13:02] grundleborg commented on #8892
This has now been fixed in master and so will be fixed in the next releaes - 5.1. Thanks for bringing it to our attention @onlyjob

[2018-07-12 13:02] #8892 closed

[2018-07-12 13:41] pepf commented on #8661
1. Is @lisakycho  still working on this one?
2. If not, I have some questions:

- To get the number of pinned posts in a channel an api call has to be done, correct?
- If yes, what to show next to the pinned icon when doing that call? A spinner, or "0", or "-", or something else?