[2017-07-14 18:36] lfbrock commented on #6943
Hi @Ppjet6 - I think we used to have this on the teams and some of the old code is still there.

We moved it to be a server wide setting, so if we want to add it back for teams as well I think the things to think about would be the things you already mentioned:
1. How this works with the server wide setting
2. Improving the setting for restricting DMs across teams (right now it only restricts it i

[2017-07-16 04:18] jasonblais commented on #6815
### Release 4.0.0 Download Links

**Enterprise Edition**
Link: https://releases.mattermost.com/4.0.0/mattermost-4.0.0-linux-amd64.tar.gz
MD5 Hash: `f718b91797197d2c13d9ac0e86e4cd4d`
SHA-1 Hash: `bb5062f028e695bc5c603aea128fd6c6cd1ee4a5`
SHA-256 Hash: `ff81595ac82679f208709cd0a4367396f0f49fbb4bb2c439a3fced8ab020731e`

**Team Edition**
Link: https://releases.mattermost.com/4.0.0/mattermost-team-4.0.

[2017-07-16 04:20] abzfarah opened #6949 "Why not have HMR in webpack?"
Is there any reason why this project doesn't use hot module replacement? Do you have to manually refresh after every edit?

I'm trying to set up  a project with a go sever to use hmr, I wasn't able to do it so I came here hoping to see how it could be done. The webpack-hot-middleware plugin docs says it could be used for any sever to use receive live updates but I haven't seen any examples of it.

[2017-07-16 04:22] jasonblais commented on #6815
#### Mattermost 4.0.1

We are expecting a 4.0.1 release on July 18th with the following fixes:

 - If `AllowTimeLimit` config setting is set to `Never`, pinning and un-pinning messages fails
 - If you upload or remove the **Service Provider Public Certificate** file in **System Console > SAML**, the page refreshes and clears changed settings.
 - Deactivated users are listed in channel member lists

[2017-07-16 10:04] Twilek-de opened #6950 "Minor cosmetic problem in System Statistics when system language is German"
#### Summary
Lower Row of numbers not properly aligned (Mattermost 4.0.0)

#### Steps to reproduce
Turn mattermost to german.

![2017-07-16 11_59_43-systemkonsole - iron](https://user-images.githubusercontent.com/8283684/28246620-c2009d92-6a1e-11e7-967e-7f5d460da47e.png)

[2017-07-16 12:49] baby-gnu opened #6951 "Markdown: bad rendering of table with empty cells"
#### Summary
On Mattermost 3.10.0, the tables with empty cells are not rendered properly.

#### Steps to reproduce

Write a message with the following table:

[code]

#### Expected behavior
We should have a 4x3 table perfectly aligned like with `multimarkdown`.

#### Observed behavior (that appears unintentional)

The table is badly rendered like on the following screenshot.

![Rendered table](htt

[2017-07-16 14:02] S6066 opened #6952 "Link preview shouldn't appear"
["Links"](https://user-images.githubusercontent.com/14875962/28248142-c1d16b28-6a3f-11e7-8caa-bb8141712cc7.png) should not appear when hovering:
- Channels, including buttons to add or join new channels
- Time of messages
- Messages's flag button
- User's infos/settings
- Channel infos/settings

It would be good too to add a setting to disable links, it's really annoying to see them appear, disapp

[2017-07-16 16:46] jasonblais commented on #6952
@S6066 Thanks for the feedback, and I agree

We do in fact have a ticket for it here, https://mattermost.atlassian.net/browse/PLT-6828.

[2017-07-17 07:09] lindy65 commented on #6950
Thanks @Twilek-de,

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7144) to fix the issue.

[2017-07-17 08:04] jmallach commented on #6943
Is it reasonable to make it so if the global configuration exist, it is enforced and it works as it works now, but if the per-team alloweddomains setting exists, it overrides the team setting?

[2017-07-17 08:33] grundleborg commented on #6925
Thanks for the bug report @funkyfuture . I've verified the issue and opened a ticket on our JIRA instance to get it fixed: https://mattermost.atlassian.net/browse/PLT-7145

[2017-07-17 13:55] hmhealey commented on #6951
Hi @baby-gnu,

Thanks for the report. I must've broken it a few months ago when I was adding the ability to escape pipes inside a table. I've filed [a ticket](https://mattermost.atlassian.net/browse/PLT-7155) to go fix it for our next release in August.

One other thing, does that table render correctly in `multimarkdown`? I tried pasting it in Github, and it didn't render because you didn't inclu

[2017-07-17 14:51] #6555 closed

[2017-07-17 14:51] #6556 closed

[2017-07-17 16:14] freswa opened #6956 "Mattermost not available after Upgrade to 4.0.0"
#### Summary
Mattermost not available after Upgrade to 4.0.0 via Browser and Mattermost Desktop

#### Steps to reproduce
Upgrade to 4.0.0 and access the main page

#### Expected behavior
Show Mattermost welcome page

#### Observed behavior (that appears unintentional)
The browser loads the welcome page partly and then produces alot of errors in the console:

[code]

Android and iOS native Apps are

[2017-07-17 16:36] baby-gnu commented on #6951
Hello @hmhealey,

Yes, it renders correctly with `multimarkdown`, no pipes on the headers separator line:

[code]

is rendered as:

[code]

With pipes to separate cells of the header separator line:

[code]

is rendered as:

[code]

I don't know what's the purpose of the `<col />` (1 time versus 4 times), but that's the only difference between both outputs.

Regards.

[2017-07-17 17:00] hmhealey commented on #6951
Cool, thanks. We'll have to consider if we can still support that when we redo the table rendering for our mobile app, but I think it should be possible

[2017-07-17 20:32] gravufo opened #6958 "[UI Improvement] Mattermost 4.0.0 sidebar sections in white are distracting"
The sidebar in Mattermost 4.0.0 now has its sections highlighted in popping white as opposed to whatever was there before. This has the unfortunate effect of making people think that they have an unread message since channels with unread messages get highlighted the same way.

See here:
![mattermost sections](https://user-images.githubusercontent.com/475807/28288988-1667ccac-6b0f-11e7-8b06-93b2c61

[2017-07-17 21:10] jasonblais commented on #6956
Which Mattermost version did you upgrade from?

Which OS and DB version do you have? Any errors in the logs?

[2017-07-17 21:13] freswa commented on #6956
Upgraded from 3.10.0.
OS: (Arch) Linux with kernel 4.12.2
DB: postgres 9.6.3

No error on the console, even when running with debug output.

[2017-07-17 21:13] esethna opened #6959 "[Help Wanted] [PLT-7169] Kubernetes: Add read replicas to mattermost-db"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-17 21:23] esethna opened #6960 "[Help Wanted] [PLT-7171] Kubernetes: Writeup documentation for using kubes/helm for developers running minikube"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-17 21:28] esethna opened #6961 "[Help Wanted] [PLT-7173] Kubernetes: Add mattermost-push-proxy"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-17 21:28] esethna opened #6962 "[Help Wanted] [PLT-7172] Kubernetes: Add ELK stack to parse and centralize all the mm logs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-17 21:39] hmhealey commented on #6956
Hi @freswa,

I just downloaded a fresh copy of 4.0 and it seems fine to me. Are you running Mattermost behind a proxy? It sounds like something is partially caching the old code. Alternatively, you could try clearing the browser cache in either the desktop app or browser to see if that helps

[2017-07-17 21:43] esethna opened #6963 "[Help Wanted] [PLT-7176] Kubernetes: Support Minio for file storage"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-17 21:50] freswa commented on #6956
Yes, I am running Mattermost behind a (not caching) proxy – nginx.
This is the config:
[code]

I already tried deleting my browser cache - that did not fix it.
This installation has been upgraded at least since 3.6.2. Never had this issue before.
The served jsx file I can see in my browser is the same as the one available in the repository. So that seems correct to me.

[2017-07-17 22:05] freswa commented on #6956
This is my current config:
[code]

[2017-07-17 22:22] jasonblais commented on #6956
@freswa Can you help post your NGINX configuration file? Or is that the entire file you posted above?

[2017-07-17 22:35] jasonblais commented on #6956
Note that 4.0 requires a change to proxy configuration (https://docs.mattermost.com/administration/upgrade.html#important-notices), so make sure you have reflected those changes.

[Recommended NGINX config settings can be found here](https://docs.mattermost.com/install/install-ubuntu-1404.html#configuring-nginx-as-a-proxy-for-mattermost-server)

[2017-07-17 22:36] freswa commented on #6956
@jasonblais
nginx.conf:
[code]
http config:
[code]
https config:
[code]
compression.conf
[code]
security.conf
[code]
security_header.conf
[code]

[2017-07-17 22:38] freswa commented on #6956
@jasonblais thx, will try that

[2017-07-17 22:38] jasonblais commented on #6956
Cool, let me know if that doesn't fix it

[2017-07-17 22:47] freswa commented on #6956
@jasonblais Nope, copied the config from here: https://docs.mattermost.com/install/install-ubuntu-1604.html#configuring-nginx-as-a-proxy-for-mattermost-server

I am getting still the same js error. I don't think it's about the nginx config since the native (iOS/Android) apps work pretty well (and they also use websockets).

[2017-07-17 23:00] jasonblais commented on #6956
Yeah that's true. You'd get the same error message on the apps..hmm.

@prixone wondering if you'd have any thoughts on this?

[2017-07-18 06:34] baby-gnu commented on #6951
There is no problem if Mattermost does not support the version without the pipes in the separator line, my old tables have them but are not rendered correctly anymore because of the empty cells :-/

Regards.

[2017-07-18 07:36] giabao opened #6967 "strange behavior of the "time link" on each message"
#### Summary
Clicking to the "time link" on the message open new desktop app instance (on desktop) / new tab (on browser) instead of just jump to the message.

![image](https://user-images.githubusercontent.com/1702709/28305496-0ad01c66-6bc6-11e7-9153-4451b148369b.png)

#### Possible fixes
Remove the link, or set the href to `#hash`

[2017-07-18 07:53] ccbrown commented on #6293
We don't have Slack-compatible apps on the roadmap, so this can't be Slack compatible to the extent of being able to use existing Slack integrations with the feature, but I can make it as close as possible for now.

In Slack, interactive messages are configured in the Slack app settings:

![screen shot 2017-07-17 at 8 54 59 pm](https://user-images.githubusercontent.com/1731074/28304419-5dfd3ff6-6b

[2017-07-18 08:15] pichouk commented on #6293
For example, we would like to get this for the [Giphy integration](https://github.com/numberly/mattermost-integration-giphy). Currently, the Slash command return a GIF and post to channel. It could be great to have the same behavior as the Slack integration for Giphy :
- user use the `/giphy` command
- the server return a set of 10 possible GIF. The message is hidden and the user can choose (with

[2017-07-18 11:22] muirdok opened #6968 "PDF preview doesn't work for 4.0.0"
#### Summary
it doesn't work. You could see progress but it's never shown. tested on two instances (upgraded from 3.7 -> 4.0.0)

#### Steps to reproduce
Open any sent pdf file

#### Expected behavior
Preview is shown

#### Observed behavior (that appears unintentional)
it shows only progress (opening)

#### Possible fixes
not defined

[2017-07-18 12:28] jasonblais commented on #6968
Thanks @muirdok! I've filed a ticket for this https://mattermost.atlassian.net/browse/PLT-7179

[2017-07-18 12:30] muirdok commented on #6968
Thanks!

[2017-07-18 12:30] #6968 closed

[2017-07-18 13:19] hmhealey commented on #6956
@freswa There's something else you could check that might be helpful. Can you open Mattermost in Chrome, open the Chrome Developer Tools (probably ctrl+shift+I, although I'm not sure the exact hotkey on Arch Linux), and then enter `mm_config.BuildHash` and `mm_config.BuildHashEnterprise` into the console? That way we can pinpoint exactly what version of the code you're on in case you got a bad bui

[2017-07-18 15:55] lfbrock commented on #6958
Hi @gravufo thanks for pointing this out, I think it makes sense to change that - created a ticket here for it: https://mattermost.atlassian.net/browse/PLT-7181

[2017-07-18 15:57] epatpol commented on #6958
Thanks @lfbrock! Otherwise nice update :)

[2017-07-18 15:58] gravufo commented on #6958
Thanks a lot! Should we close this issue or leave it open?

[2017-07-18 16:11] lfbrock commented on #6958
We can close it and track in Jira, thanks everyone!

[2017-07-18 16:11] #6958 closed

[2017-07-18 16:22] esethna opened #6975 "[Help Wanted] [PLT-7182] /kick [username] slash command: Remove a member from the channel."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-18 20:10] freswa commented on #6956
[code]

[2017-07-18 20:13] hmhealey commented on #6956
Oh, of course it's not getting far enough to actually get that data on the client. What if you use the CLI and run `bin/platform version`?

[2017-07-18 20:15] freswa commented on #6956
[code]

[2017-07-18 21:34] esethna commented on #6937
Thanks @apriori, a few questions to help narrow down the issue:

1. I'm not sure what you mean by `Use "suspend"`, can you please help explain with a bit more detail?
1. Just to make sure I understand correctly, you are using the windows desktop app?
2. If yes, what version of the desktop app are you running?
3. Does the same behavior reproduce using a browser?

[2017-07-18 21:39] esethna commented on #6967
Thanks @giabao, just to verify, the expected behavior would be that it jumps to the post in permalink view in the current window, rather than opening a new desktop window? I think this makes sense.

Are you interested in working on a PR for this?

[2017-07-18 22:16] prixone commented on #6956
@hmhealey what I don't understand is why its loading the emoji store at the login/welcome page rather than after its logged in.

@freswa When you upgraded, the guide asks u to keep a copy of the config, and then restore it.

But mattermost tends to change (increment/decrement configs), even though I doubt this may be the issue, could you grab the original config file from 4.0 replace it and change

[2017-07-18 22:30] JeffSchering commented on #6956
This doesn't look like an official release version of Mattermost:

Build Number: 4.0.0-1
Build Date: Mon Jul 17 15:12:06 UTC 2017
Build Hash: none
Build Enterprise Ready: false
DB Version: 4.0.0

The 4.0.0 team edition from the Mattermost download page looks like this:

[code]

[2017-07-18 23:18] hmhealey commented on #6956
@JeffSchering freswa is on Arch Linux, so they're using [this version from the Arch User Repository](https://aur.archlinux.org/packages/mattermost/). Looking through their code, that also matches up with the Build Hash being set to "none". It's possible their package doesn't have the updated JS code or has incorrect JS code downloaded. Do you know if we've contacted the maintainer of that package

[2017-07-19 04:35] jasonblais commented on #6815
### Release 4.0.1 Download Links

**Enterprise Edition**
Link: https://releases.mattermost.com/4.0.1/mattermost-4.0.1-linux-amd64.tar.gz
MD5 Hash: `3482362efe9a690c90ac353c8b6939e1`
SHA-1 Hash: `77fe81e5230840c27b5ef6e33d508075dddc726c`
SHA-256 Hash: `dc675eae9bcc0dd465e6e8286c4b513a7117616591ed978bb251ae6d25fc3087`

**Team Edition**
Link: https://releases.mattermost.com/4.0.1/mattermost-team-4.0.

[2017-07-19 04:36] #6815 closed

[2017-07-19 09:12] PAX523 commented on #1545
There's an "emoji panel" in form of a list in the help system. But I'd like to access this list within the message text field, directly?

[2017-07-19 09:49] eburghar commented on #6956
I have the same error here. Built from source on linux alpine and migrated from 3.10.1 to 4.0.0 or 4.0.1 with the same error.

I have first in the webconsole
[code]

then

[code]

Could it be a pb during webpack ?

[code]

[2017-07-19 10:02] eburghar commented on #6956
for those interested this is the APKBUILD file. Perhaps I'm missing something during the packaging process

[code]

[2017-07-19 12:19] jasonblais commented on #6956
@wget Do you know how to reach out to the maintainer of https://aur.archlinux.org/packages/mattermost/?

Thought to ask since you're maintaining some of the other ArchLinux packages

[2017-07-19 12:21] freswa commented on #6956
@jasonblais
[code]

[2017-07-19 12:23] freswa commented on #6956
@prixone I always have the following "workflow":
1. shutdown mattermost
2. upgrade (there is a config.pacnew created in arch if there are config changes)
3. merge the new and the old config
4. start mattermost

I also tried a vanilla config - no luck

[2017-07-19 12:46] hmhealey commented on #6956
I'm not too familiar with either the Arch or Alpine Linux pipelines, but is it possible for you to manually edit the PKGBUILD/APKBUILD files? It's not grabbing the updated version of [mattermost/mattermost-redux](https://github.com/mattermost/mattermost-redux) for some reason.

@freswa If it's possible to change your PKGBUILD, could you try adding
[code]

@eburghar Same thing with your APKBUILD,
[

[2017-07-19 13:07] freswa commented on #6956
@hmhealey Works

[2017-07-19 13:11] hmhealey commented on #6956
Excellent. We should submit that back to the owner of the repo then, or find if there's a better way to force it to update the JS dependencies on upgrade since it's not currently doing that

[2017-07-19 13:15] freswa commented on #6956
May I propose a binary, gpg signed release?
The larger the project the troublesome the build process. So a binary release might be helpful to avoid mistakes there and also to avoid issues like this one.

[2017-07-19 13:19] hmhealey commented on #6956
We do have a linux binary available on https://about.mattermost.com/download/, but I don't know if it's compatible with Arch. We don't officially support Arch (although one of our core developers uses it, so it should always run fine 😛), so I don't know if we'd ship one ourselves

[2017-07-19 13:46] eburghar commented on #6956
The fix also works for me.

@hmhealey Just to understand the issue, is it a problem with `yarn` cache ? The package is built by a`gitlab-runner` and actually `/tmp` is not cleaned between builds. By cleaning the cache in the build script we lost the cache functionality of yarn, but at least it's the guarantee of a fully reproducible build.

`yarn` on alpine 3.6 is 0.23 perhaps an upgrade to 0.27 w

[2017-07-19 16:22] jwilander commented on #6797
I think there is a "direct_added" that should get sent to both users when the DM is created. That might be of use to you

[2017-07-19 16:32] mtorromeo commented on #6956
@jasonblais I'll integrate the fix in the PKGBUILD, thanks

[2017-07-19 16:55] jtdaugherty commented on #6797
Oh, indeed, we don't have a handler for that event and didn't know what it was for. Thanks! In that case, I'll close this assuming that's what we need and will investigate. Thanks!

[2017-07-19 16:55] #6797 closed

[2017-07-19 17:52] jasonblais commented on #6956
Thanks @mtorromeo! 🎉

[2017-07-19 23:14] sousapro commented on #6590
hey dansto,

I've been looking into this issue as well and been unable to reproduce it in several VMs. I'm leaning towards the shared database being an issue. Is there any chance that permissions have been changed on the mattermost database by the other applications/users on the postgres database server?

[2017-07-19 23:59] devarshi112 opened #6988 ""Jump" from search results, not working on Mac desktop app"
Clicking on "Load more messages" doesn't do anything on Mac app when viewing previous messages.

Reproduced this on multiple environments/machines.

Version 3.7.0 (3.7.0.3.7.0)

[2017-07-20 00:26] jasonblais commented on #6988
@devarshi112

Which Mattermost server version is this on? You can find it from the Main Menu > About Mattermost.

![image](https://user-images.githubusercontent.com/13119842/28395227-79e3597e-6cc0-11e7-8138-57cd3e50285b.png)

Also, can you try if
 - it works on Chrome (or another browser)
 - View > Clear Cache and Reload fixes the issue
 - quitting, then re-opening the app fixes the issue

[2017-07-20 00:32] devarshi112 commented on #6988
My responses:
* Version: Version 3.7.0 (3.7.0.3.7.0)
* it works on Chrome (or another browser): No
* View > Clear Cache and Reload fixes the issue: No
* quitting, then re-opening the app fixes the issue: No

[2017-07-20 00:37] jasonblais commented on #6988
Got it, I thought the version number was for the desktop app.

Can you try upgrading to the latest Mattermost version to see if the issue is resolved? You can download it here https://about.mattermost.com/download/

[2017-07-20 07:39] sho-suzuki opened #6990 "Deleting a message does not delete files in storage"
#### Summary
Bug report in one concise sentence

#### Steps to reproduce
we use 4.0.1 enterprise edition (but License file is not applied.)
`config.json` setting is as follows.

[code]
1. drag and drop the file.
1. write a message to textarea and press the enter button.
1. mouse over the message and click delete.
1. confirm -> yes to succeed to delete message and related file.

#### Expected behav

[2017-07-20 08:23] dansto commented on #6590
dont't think so.

Maybe I can create a VM and send it to you ?

[2017-07-20 08:46] wget commented on #6956
@mtorromeo Hi there. I actually fixed this issue ages ago in the mattermost-git package. I asked you an access to the AUR mattermost package a few months ago, but you never answered to me :-( Could you please add me as additional maintainer? Since I'm packaging the git version, I'm always in contact with core Mattermost devs when I have issues building Mattermost.

[2017-07-20 10:10] wget commented on #6956
@mtorromeo I see you have just defined me as a co maintainer. Thanks.

I think we can close this issue now.

[2017-07-20 11:19] prixone commented on #6990
I don't think that is unintentional because all the said "delete" feature of Mattermost is a soft delete, that means it doesn't completely delete anything it just hides it.

So if you go to your database directly and search for the message you deleted you will find it there along with the DeleteAt which indicates when it was deleted.

So the same goes for the file, access to the file from Mattermo

[2017-07-20 11:22] freswa commented on #6956
Thx to everyone who contributed :)

[2017-07-20 11:22] #6956 closed

[2017-07-20 12:13] fraziern commented on #6960
Willing to give this a shot (full disclosure, I'm a total beginner with Kubernetes, but definitely interested).

[2017-07-20 16:07] esethna opened #6995 "[Help Wanted] [PLT-7186] "No teams available to join" appears while joining another team"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-20 16:17] esethna opened #6996 "[Help Wanted] [PLT-6024] Ability to add multiple users to a channel from the "Add Members" Modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-20 21:17] Ilya-Kuchaev opened #6999 "Mattermost does not read the AWS S3 region setting"
After upgrade to Version: 4.0.0  (4.0.1)
[code]
`"AmazonS3Region": "eu-west-1"` in config file.
I had to move the bucket to another region which is not a very good idea as for me.

[2017-07-20 22:07] jasonblais commented on #6999
@Ilya-Kuchaev Which version did you upgrade from? And it sounds like it used to be working fine?

[2017-07-20 23:49] csduarte commented on #4190
The apps have been released.

Contribute to their growth at https://github.com/mattermost/mattermost-mobile
Download at [Android Play Store](https://play.google.com/store/apps/details?id=com.mattermost.rn) or [Apple store](https://itunes.apple.com/us/app/mattermost/id1257222717?mt=8)

[2017-07-20 23:49] #4190 closed

[2017-07-21 02:07] sho-suzuki commented on #6990
Thank you for your reply.
I have understood the design policy to delete messages and files without permanently deleting them.

[2017-07-21 02:07] #6990 closed

[2017-07-21 06:00] Ilya-Kuchaev commented on #6999
From 3.10.0. Yes. Everything worked fine. As for now I do not see the Region field to setup it from UI. Config or ENV variable editing only.

[2017-07-21 07:46] grundleborg commented on #6999
Hi @Ilya-Kuchaev . Thanks for the bug report. I've had a look through the code, and it does appear that the AWS region setting is no longer actually used. I've filed a JIRA ticket for the development team to investigate here https://mattermost.atlassian.net/browse/PLT-7208

[2017-07-21 15:37] james1293 commented on #6489
Based on [faradaytrs's comment](https://github.com/mattermost/platform/issues/6489#issuecomment-304589996) ...

... Does this mean it's not currently possible to use mattermost like so, with a port as part of the external url?

    mattermost_external_url 'http://my.company.com:1234'

I had Mattermost set up like this (with a port as part of the URL) from April 21 to mid-May, and it was working. I

[2017-07-21 16:02] 94117nl commented on #6455
I would like to start working on this

[2017-07-21 16:10] bios-ben opened #7003 "4.0 Nicknames Gone?"
#### Summary
4.0 removed the ability to display nickname as default for users, so everyone is back to their lowercase regular login name. Can we get that back, nickname can make the names display much nicer.

#### Steps to reproduce
4.0, set nickname in account settings, send a message and it'll be login showning not nickname

#### Expected behavior
I'd expect if I set nickname to "TEST" and my lo

[2017-07-21 16:10] jasonblais commented on #6455
Thank you @94117nl! Please go ahead

[2017-07-21 16:20] bios-ben opened #7004 "4.0 choose font option gone?"
#### Summary
This may be a new feature request as well, but before 4.0 we could select one of a few fonts, now that option is gone.

#### Steps to reproduce
Upgrade to 4.0 there's no font setting under the account settings.

#### Possible fixes
Add back the original font selector?
(feature) With theme customization, why can we only change colours and not fonts? I'd think font should be a part of t

[2017-07-21 19:05] devarshi112 commented on #6988
How to know the version number of the desktop app? Also, do I need to upgrade the Mattermost server? I am using Mattermost inside an organization and don't have permissions listed in https://docs.mattermost.com/administration/upgrade.html#before-you-begin

[2017-07-21 19:37] emptyarray commented on #6230
@hmhealey Mostly done. Going to hold off on refactoring `AdminSettings` as a higher order component, because this PR is already going to be big enough.

Question: When the user confirms discarding changes, I need to use `browserHistory.push` to send them wherever they were trying to go. Any guidelines for where I should be calling that from? From a component, or an action? Action creators aren't s

[2017-07-21 20:49] coreyhulen commented on #6960
@fraziern I think someone already started working on this.  I'll find out and circle back next week.

[2017-07-21 22:36] augustnmonteiro opened #7005 "Suggestion box select channels using tab"
Improving the UX on select channels modal, today it's only possible change using arrows

[2017-07-22 03:18] jasonblais commented on #6988
You can find the version of the Desktop App from the "Help" menu.

Yes, you're administrator would need to upgrade the Mattermost version. We'd recommend it as the post area had a lot of improvements and might fix the issue you're experiencing. There are also some security updates so upgrading is recommended.

[2017-07-23 14:09] escardin commented on #6962
I'm going to work on this.

[2017-07-23 14:10] escardin commented on #6960
I'm working on this. Sorry for the delay in marking it.

[2017-07-23 14:10] escardin commented on #6959
I'm working on this.

[2017-07-23 19:29] jostyee opened #7009 "Can't render incoming webhook's attachments anymore"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
After rebuilding the master branch, the Desktop can't ren

[2017-07-23 19:51] fraziern commented on #6960
no worries

[2017-07-23 21:33] jasonblais commented on #7009
Thanks @jostyee! Reproduced and filed a ticket here https://mattermost.atlassian.net/browse/PLT-7212

Looks like it's not an issue on the 4.0 release, only on `master`.

Thanks again for the report!

[2017-07-24 07:54] lindy65 commented on #7004
Hi @bios-ben,

Thanks for your feedback,

We posted [this issue](https://forum.mattermost.org/t/removing-font-setting/3367) on our forum at the beginning of June giving a heads up about the font setting removal along with the reasons why.

Could we have your help leaving your feedback there for our design team?

[2017-07-24 07:58] lindy65 commented on #7003
Hello @bios-ben,

Thanks for your feedback,

You're still able to change these settings in the System Console - you can read about it in the [changelog](https://docs.mattermost.com/administration/changelog.html#removed-and-deprecated-features).

[2017-07-24 13:09] XANi opened #7013 "4.x flicker when loading animated gif images"
When image load in history there is a weird flickering (was looking a bit better in 3.x)

Here is how it looks:

https://www.youtube.com/watch?v=JXHU5EIjxQI

[2017-07-24 14:55] firaxis commented on #6828
Hi @crspeller,
Here's what I've collected
[slowquery.zip](https://github.com/mattermost/platform/files/1170175/slowquery.zip)
And `grep "FROM Status" /var/log/mysql/mariadb-slow.log|wc -l`
Shows zero records.
Maybe I can help with something else ?

[2017-07-24 15:14] hmhealey commented on #6949
Hi @abzfarah,

Yes, we have to refresh after every edit. I don't think there was any particular reason for us not to support hot reloading, but it may have had to do with the fact that it requires webpack-dev-server and we use our own web server which used to be much more involved than just serving up precompiled HTML like it mostly does now.

[2017-07-24 15:59] bios-ben commented on #7004
I've commented there, thanks.

----- Original Message -----

From: "lindy65" <notifications@github.com>
To: "mattermost/platform" <platform@noreply.github.com>
Cc: "Ben" <ben@binarysolutions.io>, "Mention" <mention@noreply.github.com>
Sent: Monday, 24 July, 2017 12:54:27 AM
Subject: Re: [mattermost/platform] 4.0 choose font option gone? (#7004)

Hi @bios-ben ,
Thanks for your feedback,
We posted t

[2017-07-24 16:01] bios-ben commented on #7003
Ah I found the new setting, this is a great place for it, the problem is it doesn't work. When I toggle it to Nickname and click Save it just toggles back to username selected. What information would be useful to debug this or is it a known issue?

----- Original Message -----

From: "lindy65" <notifications@github.com>
To: "mattermost/platform" <platform@noreply.github.com>
Cc: "Ben" <ben@binarys

[2017-07-24 16:52] lindy65 commented on #7004
Thanks @bios-ben!

I'll close this issue off then and we can track feedback in the forum issue.

[2017-07-24 16:52] #7004 closed

[2017-07-24 17:13] lindy65 commented on #7003
Hey @bios-ben,

I have tried to repro this issue on our server running v4.0 but am not able to.  Are there any errors in your console?

Could I have your help sharing a screenshot of your "About Mattermost" modal?  You can access this via the 3-bar main menu > About Mattermost.

Also, do any other System Console settings save?

[2017-07-24 22:04] #6949 closed

[2017-07-25 04:01] bios-ben commented on #7003
You can close the ticket, apparently during the upgrade the config was incorrectly migrated so nothing saves. Working to correct it now which will likely fix this issue.

----- Original Message -----
From: "lindy65" <notifications@github.com>
To: "mattermost/platform" <platform@noreply.github.com>
Cc: "Ben" <ben@binarysolutions.io>, "Mention" <mention@noreply.github.com>
Sent: Monday, 24 July, 201

[2017-07-25 06:45] lindy65 commented on #7003
Ah, glad to hear you've found the problem!  Let us know if you still experience problems.

[2017-07-25 06:45] #7003 closed

[2017-07-25 09:47] lindy65 commented on #7013
Thanks for your feedback @XANi,

I see you are using compact display mode but I could not reproduce your issue loading images from back in January in compact mode.

Could you share a little about what kind of images you're loading?  For instance, I tried loading .jpg and .png images and they load fine without flickering.

Which browser are you using?  Or are you using the Desktop App?

[2017-07-25 12:11] XANi commented on #7013
Animated cat gifs (that is our test instance we use before we push new version for production). Basically anything else in history is just a bunch of gifs, that sum up to few hundred megabytes.

Here is test: https://gist.github.com/XANi/78bb46fee6e425dfd3097dd98feb4969 ( [raw](https://gist.githubusercontent.com/XANi/78bb46fee6e425dfd3097dd98feb4969/raw/786e23b47042ea686442f4493a761b2b076538ea/gis

[2017-07-25 14:54] mikaoelitiana commented on #6895
I am willing to work on this one but I se there is some discussion yet on the jira ticket. What should I do?

[2017-07-25 17:01] jake-griffin opened #7026 "On macOS, Notifications dismiss themselves even when they are configured to the Alert type"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
I have configured Mattermost notifications to be the Aler

[2017-07-25 22:14] jasonblais commented on #6895
Good question! I've queued the ticket back to triage, I'll let you know on Thursday!

Thanks for your interest! :)

[2017-07-26 02:56] ccbrown commented on #6217
This was taken care of by https://github.com/mattermost/platform/pull/7001.

[2017-07-26 03:18] #6217 closed

[2017-07-26 07:09] Hanzei commented on #6282
Fixed with #7001?

[2017-07-26 07:10] Hanzei commented on #5422
Fixed with #7001?

[2017-07-26 07:21] clark42 commented on #7003
Hello !
I see this issue is closed now
I've just made the upgrade this morning, and lot of my users are frustrated to have no choice anymore.
can we know why this setting can not be overload user side ?

[2017-07-26 07:52] lindy65 commented on #7026
Hi @jake-griffin,

Thanks for your feedback,

To clarify your step 1. above, have you set the `Notification duration` in `Account Settings > Notifications > Desktop Notifications > Notification duration`?

If so, this could be a bug.  Could you tell me which version of Mattermost you have installed?

[2017-07-26 08:01] lindy65 commented on #7013
Thank you @XANi,

I've reproduced the issue using your test.  You could be correct about why it's happening.  I'll pass the issue on to the team and ask for their feedback.

[2017-07-26 08:31] bios-ben commented on #7003
I force my users to all see the same thing and agree with the global change because it'd be annoying to have someone talk about "Joe" and another "xman57" because two people have different display modes set and can't agree on what's displayed. Just my thought, I won't tell your users to not be frustrated ;)

----- Original Message -----

From: "clark" <notifications@github.com>
To: "mattermost/pla

[2017-07-26 08:38] lindy65 commented on #6590
Hi @dansto,

v4.0.1 was recently released.  Could you try upgrading to see whether this helps?  You can download the latest version [here](https://about.mattermost.com/download/).

[2017-07-26 08:42] lindy65 commented on #6644
Hi @jkae, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-07-26 08:42] #6644 closed

[2017-07-26 08:45] #6715 closed

[2017-07-26 08:47] dansto commented on #6590
ok we will try...

[2017-07-26 08:51] lindy65 commented on #6865
A PR to fix this issue has been submitted for release with v4.1 so I'll close this issue off.

[2017-07-26 08:51] #6865 closed

[2017-07-26 08:54] lindy65 commented on #6894
This has been fixed and was released with v4.0 on July 16th.

[2017-07-26 08:54] #6894 closed

[2017-07-26 08:55] lindy65 commented on #6925
A PR has been submitted to fix the issue with v4.1 release.

[2017-07-26 08:55] #6925 closed

[2017-07-26 09:00] lindy65 commented on #6950
A PR has been submitted which will fix the issue in the next release, 4.1, on August 16th.

[2017-07-26 09:00] #6950 closed

[2017-07-26 09:01] lindy65 commented on #6951
A PR has been submitted which will fix the issue in the v4.1 release on August 16th.

[2017-07-26 09:01] #6951 closed

[2017-07-26 09:03] lindy65 commented on #6952
I'll close this issue off as we have a ticket to track the issue for the v4.1 release in August.

[2017-07-26 09:03] #6952 closed

[2017-07-26 09:06] lindy65 commented on #7009
A PR has been submitted to fix this issue with the v4.1 release in August.

[2017-07-26 09:06] #7009 closed

[2017-07-26 11:24] alallier commented on #6865
Link to the PR?

[2017-07-26 13:07] jasonblais commented on #5422
Thanks! You're correct 👍

[2017-07-26 13:07] #5422 closed

[2017-07-26 13:07] jasonblais commented on #6282
Thanks again @Hanzei!

[2017-07-26 13:07] #6282 closed

[2017-07-26 13:09] hmhealey commented on #6888
We've filed a ticket to update this and point it at the Javascript client's new location in the https://github.com/mattermost/mattermost-redux repository. If you'd like to track it, the ticket is https://mattermost.atlassian.net/browse/PLT-5432

[2017-07-26 13:17] hmhealey commented on #6940
Thanks for the report. I've filed a ticket on Jira to get those fixed.
https://mattermost.atlassian.net/browse/PLT-7235

[2017-07-26 15:51] funkyfuture commented on #6658
[code]

is still get no useful output (as above) when i define a nonsense imap host with release 4.0.1 and hit the "Resend Email" button in the application's frontend:

[code]

also, i get the same reply as noted initially when using the cli.

i would appreciate if the communication would be more transparent, eg. by referencing the solving coomit when closing an issue.

at the moment i feel somewh

[2017-07-26 17:02] lindy65 commented on #6590
Thanks @dantso!  Let us know how it goes :)

[2017-07-26 17:04] lindy65 commented on #6865
Sorry @alallier!  Very remiss of me...  Here is the PR: https://github.com/mattermost/platform/pull/7015

[2017-07-26 17:09] jake-griffin commented on #7026
Yes, I am using the Desktop App. I don't see an option for Notification Duration. Under `Account Settings > Notifications`, all I see is `Send desktop notifications (For all activity/Only for mentions and direct messages/Never)`, `Desktop notification sounds (On/Off)`, `Email notifications (On/Off)`, `Mobile push notifications (disabled by my system administrator)` and `Words that trigger mentions

[2017-07-26 17:19] lindy65 commented on #7026
Thanks @jake-griffin,

Ah, ok - hence my confusion...  You're on the Desktop App ;)

I'm not sure that this functionality has been added yet.  Could we have your help opening this issue in the [Desktop App repo](https://github.com/mattermost/desktop/issues) please?

Thanks!

[2017-07-26 17:55] mikeerickson commented on #6894
@lindy65 I am assuming this is not yet in the App Store as my version is 3.10.1

[2017-07-26 17:58] lfbrock commented on #6894
@mikeerickson I think this should be fixed in v3.10.1 - can you check if you have permissions for accessing files turned on for the app? Maybe delete + reinstall the app as well

[2017-07-26 17:59] alallier commented on #6865
No worries @lindy65, thanks for the link.

[2017-07-26 18:28] mikeerickson commented on #6894
@lfbrock I switch to Mattermost Team Edition and this interface works (using the + icon to add assets)

[2017-07-26 18:44] jake-griffin commented on #7026
Will do, thanks!

[2017-07-26 18:44] #7026 closed

[2017-07-27 09:02] dansto commented on #6590
still same error:

[2017/07/27 11:01:36 CEST] [EROR] /api/v4/channels/group:SqlChannelStore.Save code=500 rid=3r1a1kohefdzbbt6ekt5neiaxr uid=9t9happfcbbazehsutosaxeedy ip=87.191.51.26 We couldn't save the channel [details: id=4fr8fmwjnp8e9jrkg6twwopaey, pq: doppelter SchlÃŒsselwert verletzt Unique-Constraint Â»channels_name_teamid_keyÂ«]

should we create a VM and send it to you ?

[2017-07-27 10:22] ccbrown commented on #6803
I don't really have anything new to add, but I do want to keep this issue moving forward since there definitely seems to be a legit bug here. I also want to avoid falling into the trap of an [XY problem](https://meta.stackexchange.com/questions/66377/what-is-the-xy-problem), so I'm gonna sum this up again:

**The Problem:**

In other words: The client sends a POST request upon opening a channel to

[2017-07-27 10:58] XANi opened #7032 "Disabling WebRTC in Chrome causes Mattermost 4.x to white screen"
#### Summary
Whole page is just white after logging in.

#### Steps to reproduce
Install WebRTC Block in Chrome. Refresh page.

#### Expected behavior
Mattermost working but without video/audio calling. WebRTC have serious privacy problems ( [example](https://www.perfect-privacy.com/webrtc-leaktest/) ) and (at least until big heads at google decide it would be nice to opt-in instead of opt-out) it

[2017-07-27 12:55] jasonblais commented on #7032
@XANi Thanks for the report.

1) If you uninstall the browser extension (is this the one you're referring to: https://chrome.google.com/webstore/detail/easy-webrtc-block/cmjcmogcdofcljpojplgmfpheblcaehh?hl=en), does it still cause Mattermost to freeze?
2) When you say `Disabling WebRTC in Chrome`, do you mean disabling it from Account Settings?

[2017-07-27 15:05] XANi commented on #7032
Disabling extension fixes it. Apparently using different WebRTC blocker also does.

No, I typed the name of plugin exactly. It seems it got de-listed from store for whatever reason.
I did test with [diferent one](https://chrome.google.com/webstore/detail/webrtc-leak-prevent/eiadekoaikejlgdbkbdfeijglgfdalml?hl=en) and it works fine with that one.

I've used https://browserleaks.com/webrtc to test a

[2017-07-27 15:42] jasonblais commented on #7032
You mean you disabled WebRTC via config.json (or System Console)?

The feature is still beta/preview mode so there might be some bugs with that feature.

[2017-07-27 15:57] iUkka opened #7038 "No image preview in compiled version."
#### Summary
No image preview in compliled version of MM.
On downloaded precompiled version on same DB and same config all perfect.

#### Steps to reproduce
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial

cd ~/go/src/github.com/mattermost
git clone https://github.com/mattermost/platform.git
cd platform
make build
make packages

unpack to opt,

[2017-07-27 16:30] iUkka commented on #7038
ouch, corry, my fault.
in my config file was no section

        "PreviewWidth": 1024,
        "PreviewHeight": 1024,
        "ProfileWidth": 128,
        "ProfileHeight": 128,

After compile and install 3.10 version platform give me panic:
panic: Invalid preview width for file settings.  Must be a positive number.

[2017-07-27 16:30] #7038 closed

[2017-07-27 16:37] jasonblais commented on #7038
No worries @iUkka! Glad you were able to resolve it!

[2017-07-27 19:00] lindy65 commented on #6590
Yes, thanks @dansto, I believe @sousapro was going to take a look at the VM once we heard back how it had gone after you upgraded.

[2017-07-27 20:04] jaapvermeulen opened #7043 "Dots after HTTP link are included in the link on Mac client..."
#### Summary
Dots after an HTTP link are included in the link on Mac client...

#### Steps to reproduce
Type the following message into the Mattermost Mac client and hit enter (or control-enter):

`@all Yay!  Got xxx to run over SSL.  https://xxx-yyy.aaa.bbb...
`
#### Expected behavior

The link that becomes "live" is:

`https://xxx-yyy.aaa.bbb
`
#### Observed behavior (that appears unintentional)

[2017-07-27 22:50] esethna opened #7046 "[Help Wanted] [PLT-7228] Running Mattermost in Franz causes errors in the logs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-28 00:12] XANi commented on #7032
Yes, WebRTC in mattermost itself was disabled

[2017-07-28 00:22] jasonblais commented on #7046
hey @adlk,

We noticed that running Mattermost in Franz causes errors in the logs as noted above.

Wondering if you're aware of what might be causing them?

[2017-07-28 00:51] sousapro commented on #6590
How would you like to share your VM? Also, is there any way to get your database on its own postgresql instance

[2017-07-28 06:40] lindy65 commented on #7013
Hi @XANi

We've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7246) to fix the issue.

Thanks again for the report :)

[2017-07-28 07:20] dansto commented on #6590
hi....maybe via dockerhub ?

[2017-07-28 13:32] dansto commented on #6590
When trying to build the VM I found out that it has something to do with locale.
With english locale it's working.

With locale de_DE.UTF-8 it's not working.
We have set linux locale and postgres locale to de_DE.UTF-8.

Can you reproduce/fix that?

[2017-07-28 13:45] hmhealey commented on #7043
Thanks, that's kind of interesting. I guess we only trim off the last period since it's not followed by anything else. I've filed a couple tickets for both our web and mobile apps to fix this. Here's the links if you want to follow them:
https://mattermost.atlassian.net/browse/PLT-7250
https://mattermost.atlassian.net/browse/RN-300

[2017-07-28 16:57] lindy65 commented on #7032
Hi @XANi,

Thanks for your feedback,

We've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7253) to investigate the issue.

[2017-07-28 17:00] sousapro commented on #6590
@dansto, would you mind installing this into your test VM? https://releases.mattermost.com/4.0.2-rc1/mattermost-4.0.2-rc1-linux-amd64.tar.gz (or if you are using team edition https://releases.mattermost.com/4.0.2-rc1/mattermost-team-4.0.2-rc1-linux-amd64.tar.gz). This has a fix in it for some locale issues and I believe it might resolve your issue. Thank you for you patience in getting this fixed

[2017-07-29 14:04] ionas commented on #1185
## Raspberrian / Raspberry Pi 3 Model B

I was able to install MySQL 5.7 and even a recent docker version on my Pi but I could not get mattermost installed. Coming from php-world I assumed it was a webserver software and could easily run on my Pi. Now the Pi is sitting there waiting for Mattermost to run on arm(v7 as far as I know).

Any chance this will happen anytime soon? Else there is little r

[2017-07-29 14:06] ionas commented on #918
Where you able to compile it on arm at all?

[2017-07-29 14:11] ionas opened #7054 "Raspberry Pi 3 Model B / 64-Bit-ARMv8-CPU"
#### Summary
Tried to get mattermost run on a recent Raspberry (Jessie based, 64 Bit I believe)

#### Steps to reproduce
Could install all required software such as MySQL 5.7, Docker, gcc-6/g++6 but not Mattermost

#### Expected behavior
Expected Mattermost to run easily on Raspberry making it a nice choice for a collaboration server.

#### Observed behavior (that appears unintentional)
Precompile

[2017-07-29 14:21] Rudloff commented on #7054
@ionas While there is no official ARM build, Mattermost seems to build correctly on ARM (I have not tested on a Raspberry Pi though).
You can start by reading this: https://docs.mattermost.com/developer/dev-setup-compiling.html

[2017-07-29 15:00] Rudloff opened #7055 "Crash on 32 bit ARM"
#### Summary
I'm trying to run Mattermost on an Android ARMv7 host but it crashes at launch.

#### Steps to reproduce
Clone the latest master on a 32 bit ARM host and run `go run cmd/platform/*.go`.

#### Expected behavior
It should run without crashing.

#### Observed behavior (that appears unintentional)
[code]

#### Possible fixes
This seems to be related to https://github.com/golang/go/issues/

[2017-07-29 18:43] wesviewzr opened #7056 "Text input box and some messages not visible. Borderline unusable."
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Text input and some messages not visible.
#### Steps to r

[2017-07-29 18:52] jasonblais commented on #7056
Yes, there's an upstream issue that's causing this. https://github.com/electron/electron/issues/7375

As a workaround @wesviewzr , can you click somewhere inside the message area, then hit CMD+0?

That should resize the view properly so that the entire UI is visible on the screen. Let me know if not

[2017-07-30 05:01] vrenjith opened #7057 "[Question]/[Issue] SMTP Mail Cache"
If the SMTP server is not reachable, is there a mechanism in Mattermost to cache the outgoing mails and flush them when the server is available again?

[2017-07-30 08:14] letsila commented on #6487
Hi all, I'd love to work on this issue!

[2017-07-30 22:00] jasonblais commented on #6487
Awesome, go for it @letsila! Thanks for your interest!

If you have any questions, don't hesitate to let us know.

[2017-07-31 09:03] dansto commented on #6590
it also doesnt work with this version

but if I change in postgresql.conf  lc_messages = 'de_DE.UTF-8'   to lc_messages = 'en_US.UTF-8'  then it works. Also in Production Environment.

Seems like you are matching against postgresl error messages?

[2017-07-31 15:47] 94117nl commented on #6451
I would like to start working on this

[2017-07-31 16:22] #6999 closed

[2017-07-31 17:45] inoas commented on #7054
Do I need docker if I compile it myself?

[2017-07-31 17:51] Rudloff commented on #7054
It think the `make` commands from the documentation use Docker.

But you can totally build it and run it manually with something like this:
[code]

[2017-07-31 17:55] inoas commented on #7054
Not sure how big the RAM/CPU penalty for the pseudo-vm docker is, is... but the rasp is a bit weak especially in terms of RAM (1GB). But I can start with docker too.

[2017-07-31 21:03] #6457 closed

[2017-07-31 21:04] jasonblais commented on #6451
Go for it! Thanks @94117nl for your help on the migration!!

[2017-07-31 21:05] #6448 closed

[2017-07-31 21:05] #6447 closed

[2017-07-31 21:05] #6446 closed

[2017-07-31 21:05] #6445 closed

[2017-07-31 21:05] #6442 closed

[2017-07-31 21:45] augustnmonteiro opened #7070 "Add feature to add badge to the user"
#### Summary
Our case is a bit different than the most ones, we have an open mattermost and would be good have a badge saying that the user it's a member.
Like github does on the prs or issues.

[code]

[2017-07-31 21:46] augustnmonteiro commented on #7070
It would be also good in the case of pre-release.mattermost

[2017-08-01 08:40] lindy65 commented on #7070
Hi @augustnmonteiro,

### Please help us share your proposal in the feature proposal forum?

Thank you for making an effort to contribute to the Mattermost open source project. Your time is valuable, and we highly appreciate your investment.

Hundreds of engineers from around the world have contributed to this project through [community processes](https://about.mattermost.com/help/) that are openl

[2017-08-01 08:44] eburghar opened #7075 "blank page on webclient 4.0.2 after changing language ang logout"
#### Summary

We hit a bug today which impacted one of our user on mattermost 4.0.2 (4.0.0 and 4.0.1 have the same behavior). After login (through gitlab), the user receives a grey page with a never ending 3 cycling dots. The mobile application is working normally. Apparently this is related to changing the language.

#### Steps to reproduce

Change user language settings to `fr`, then logout and

[2017-08-01 12:57] ssstrat11s opened #7076 "Don't send Notifications for @-channel @-here @-all in certain cases"
#### Summary
Special tags of @-channel, @-here @-all (without hyphens) are used with code blocks and other features, notifications should not be sent in the UI or email.

#### Steps to reproduce
Discovered on our organization's 3.9.0 build, although I don't believe this has changed since.
Using @-all (etc.) always applies in the content of messages. It's unlikely that it is desired for these tags

[2017-08-01 17:23] esethna opened #7081 "[Help Wanted] [PLT-7256] Turning off email batching results in no email notification selected"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-01 21:52] lambertjosh opened #7089 "GitLab integration fails after upgrading to 9.3.8"
We are trying to troubleshoot an issue that began with Omnibus GitLab 9.3.8. Essentially after this release, when you try to create a Mattermost group from within GitLab, it fails.

This GitLab issue has more details, but was hoping folks from Mattermost could assist in investigating as well.

https://gitlab.com/gitlab-org/gitlab-ce/issues/31835

Note that 9.3.8 included a Mattermost version bump

[2017-08-01 22:45] jasonblais commented on #7089
Thanks @lambertjosh for the report! I've nudged one of our developers to help take a look.

We'll keep you updated.

[2017-08-01 22:50] jasonblais commented on #7089
Actually @lambertjosh, just to clarify, when you say `Mattermost group creation fails`, what do you mean by "group"?

Do you mean a "Mattermost team" or a "Mattermost channel"?

Or is this in some way related GitLab groups https://docs.gitlab.com/ce/user/group/index.html

[2017-08-01 23:43] lindalumitchell commented on #6495
Tested on master, Android old app, attachment and profile image; working as described. Closing.

[2017-08-01 23:43] #6495 closed

[2017-08-02 01:21] lambertjosh commented on #7089
Hi @jasonblais, sorry for the confusion. Within GitLab we have the feature to automatically create a Mattermost Team when you create a GitLab group.

When you do this, both the Group and Team creation fail.

<img width="712" alt="screen shot 2017-08-01 at 9 19 52 pm" src="https://user-images.githubusercontent.com/25085430/28853557-57e36a0a-76ff-11e7-9a15-6c7ab17c2ada.png">

[2017-08-02 01:51] #6645 closed

[2017-08-02 02:16] it33 commented on #7089
Hi @lambertjosh is there anything in the Mattermost log files when this error happens?

[2017-08-02 02:50] lambertjosh commented on #7089
@it33 thanks for taking a look. Unfortunately the only real entry in the Mattermost log files is:

AuthorizeOAuthUser: Invalid state,

One of our engineers has done some deeper traces, and it looks like we are getting a 307 back when trying to exchange the `code` for an `access_token`.

https://gitlab.com/gitlab-org/gitlab-ce/issues/31835#note_36471243

[2017-08-02 08:03] lindy65 commented on #7076
Hello @ssstrat11s,

Thank you for your detailed feedback,

At mentioning no longer sends notifications if used in code blocks and code backticks. I believe this was fixed in v3.10.  Also new in v3.10 was the warning displayed if you use at-all and at-channel in a channel with many channel members.

![image](https://user-images.githubusercontent.com/13020833/28863089-dd718eaa-7767-11e7-951f-0bf1a87

[2017-08-02 08:07] lindy65 commented on #7075
Thanks for your feedback @eburghar,

We have a [ticket](https://mattermost.atlassian.net/browse/PLT-7231) for fixing this issue in progress at the moment.

[2017-08-02 08:33] lindy65 commented on #7013
We can track this issue via the Jira ticket so I'll close it off for now...

[2017-08-02 08:33] #7013 closed

[2017-08-02 08:36] lindy65 commented on #7005
Closing this issue.  Conversation can be followed on above PR.

[2017-08-02 08:36] #7005 closed

[2017-08-02 08:38] lindy65 commented on #6988
Hi @devarshi112,

Circling back to find out whether your issue was resolved by your administrator upgrading to the latest Mattermost version?

[2017-08-02 08:43] lindy65 commented on #6937
Hi @apriori,

Just circling back on this issue and your feedback to `esethna's` questions?

[2017-08-02 08:47] lindy65 commented on #6888
As we can track this issue via the Jira ticket, I'll close it off here...

[2017-08-02 11:03] scadu commented on #5786
Is there any chance to investigate this issue that occurs on Postgres?
For example, trying to search `https://github.com/mattermost/platform/issues/5786` does not work with `5786`, nor `*5786*`. We use 4.0.0 (4.0.1).

[2017-08-02 14:20] prixone commented on #7057
Hi @vrenjith I've looked around the code and I don't see any sort of method storing or caching those, I will assume it was initially done to rely on the mail server for queue and deliver-ability. I've further asked to Mattermost to confirm my answer, but I will assume in this case you would have to open a feature request at https://mattermost.uservoice.com/ for that. Once it reach 10 or more votes

[2017-08-02 17:34] AmadeusSG commented on #7055
Thank you for finding the error, have been searching for the cause for quite some time.
There is also another place to set that quick and dirty fix:
[code]

This is for the site and team statistics to work normally, otherwise it'll just show `Loading` instead.

[2017-08-02 19:17] jtdaugherty commented on #6803
@ccbrown - I have an alternative proposal. My objective with this one is to *get us out of the business of having to deal with server time at all* and the issues that arise from doing so. The proposal is this:

Rather than relying on server time *at the time the POST is received*, which suffers from network transit delays and clock skew and is thus inaccurate, make the API call take *the ID of the

[2017-08-02 19:54] esethna opened #7103 "Mattermost v4.1.0"
This is a meta issue for v4.1 release updates.

You can find key dates for v4.1 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.
### July 31 (T-12): Major Feature Cut-Off

No pull requests for major features are submitted to the current release after this date (except if release manager decides to add "

[2017-08-02 20:36] jasonblais commented on #7089
Hey @lambertjosh, I replied to the GitLab thread https://gitlab.com/gitlab-org/gitlab-ce/issues/31835#note_36598866

[2017-08-03 04:35] qqshfox commented on #7038
@iUkka exactly same issue here, however adding these to `FileSettings` seems not fix the problem for me. Do you fix the problem?

[2017-08-03 04:43] qqshfox commented on #7038
The problem exists in both v4.0.1 and v4.0.2. Upgrading to master branch (345bb2236) fixed the issue.

[2017-08-03 06:34] ccbrown commented on #6803
@jtdaugherty I would definitely want to send the id if posts had an absolute ordering that clients were guaranteed to receive them in (e.g. via a monotonic sequence number). But we don't have that, so figuring out which posts come after a particular id would come down to looking at timestamps, which aren't actually guaranteed to be monotonic in a multi-node cluster. So I think as a result of those

[2017-08-03 06:34] apriori commented on #6937
@lindy65 @esethna
Oh sorry, I completely forgot to respond.

With suspending I mean the process of putting (in this case) your windows pc into standby mode, therefore the system is not fully shut down, but remains in a standby state. In this case I assume the mattermost native app does not detect this behavior to trigger a client disconnect. One would assume that normal timeouts on the server side

[2017-08-03 14:50] iUkka commented on #7038
Just take a deafult config.json and make configuration again.

[2017-08-03 15:07] mmclau14 opened #7111 "mobile layout showing names between each message"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
when only the chat roll is visible (mobile / tablet) name

[2017-08-03 15:32] andrewleith commented on #5072
I also see no value in having my own messages highlighted.  If I need to find my own messages, I will look for my username/profile pic.  My team and I find this quite distracting.

+1 on removing the shading entirely.

[2017-08-03 15:50] jtdaugherty commented on #6803
@ccbrown - that makes sense, thanks! In that case I favor proposal (B).

[2017-08-03 16:25] esethna opened #7112 "[Help Wanted] [PLT-7307] Use symbols in keyboard shortcuts dialog on Mac, instead of "ALT", "CMD""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-03 16:30] esethna opened #7113 "[Help Wanted] [PLT-7298] Add "Edit Account Settings" link to bottom of your own profile popover"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-03 16:30] esethna opened #7114 "[Help Wanted] [PLT-7285] Change "Cancel" to "Close" in Account Settings > Security > OAuth App page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-03 16:36] esethna opened #7115 "[Help Wanted] [PLT-6303] Mouse cursor should change to a "hand selector" when hovering over paperclip icon to upload a file"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-03 21:31] 94117nl commented on #7114
I would like to start working on this

[2017-08-03 21:35] jasonblais commented on #6455
Thanks @94117nl! 🎉

[2017-08-03 21:35] #6455 closed

[2017-08-03 21:42] jasonblais commented on #7114
Go for it @94117nl! 👍

[2017-08-04 06:19] lindy65 commented on #7111
Hi @mmclau14,

Thank you for your feedback,

Can you tell me which version of the mobile app you are seeing this on?  The "Mattermost Beta" or "Mattermost Classic" app?  And on which platform - Android or iOS?

Currently, tablets are not supported but we plan to include them on the roadmap soon.

Thanks!

[2017-08-04 17:13] cpanato commented on #6594
I think this can be closed

[2017-08-04 17:13] cpanato commented on #6559
this can be closed PR #6569 is closed

[2017-08-04 17:13] #6559 closed

[2017-08-04 17:14] cpanato commented on #6558
this can be closed due #6570 is already merged

[2017-08-04 17:14] #6558 closed

[2017-08-04 17:19] mmclau14 commented on #7111
so i am actually just seeing this on my desktop app. I'm on a mac osx sierra 10.12.6 (16G29) and all i had to do was resize it to 640px wide

[2017-08-04 17:24] #6594 closed

[2017-08-04 18:25] cpanato commented on #6975
PR: https://github.com/mattermost/platform/pull/7124

[2017-08-04 18:26] cpanato commented on #6557
PR: https://github.com/mattermost/platform/issues/6557

[2017-08-04 18:27] cpanato commented on #6975
will take care this one

[2017-08-04 18:41] cpanato commented on #6975
PR: https://github.com/mattermost/platform/pull/7124

[2017-08-04 20:28] jaapvermeulen opened #7126 "Mentions badge missing on Mac"
#### Summary
Using the Mac native client, it is missing the "mentions" badge and you cannot see how many messages you haven't seen yet.

#### Steps to reproduce
Select a channel that will not receive new messages.
Generate new messages in other channels.
Open the application and observe whether there are badges showing for channels with unread messages.

#### Expected behavior
Expect to see a badg

[2017-08-04 21:13] jasonblais commented on #7126
Thanks @jaapvermeulen for the report. Does this reproduce on Chrome (or another browser on Mac)?

[2017-08-04 22:08] #6967 closed

[2017-08-04 23:15] devarshi112 commented on #6988
We upgraded to version 4.0 and I am not sure if it resolves the issue. In the previous version there were two links to "Load more messages" - one on the top and the other at the bottom and both didn't work.

In the new version though, there is only one link to "Load more messages" at the top, and it works. The bottom one is not present and on scrolling down, the messages stop appearing after a poi

[2017-08-04 23:17] devarshi112 commented on #6988
To be precise, we upgraded to version 4.0.1

[2017-08-05 07:35] Akito13 opened #7129 "Mattermost Server Installation for 32-bit needed"
Tried to install Mattermost Server on my Raspbian according to [this guide](https://docs.mattermost.com/install/install-debian-88.html). Sadly it shows only the instructions for 64-bit machines, so this way didn't work for mine. Are there any updated instructions or way to change the mode? Thanks.

[2017-08-07 05:35] Whiteaj36 commented on #7115
I can take this one!

[2017-08-07 07:29] lindy65 commented on #7111
Hi @mmclau14,

Sorry, it seems I misunderstood.  Are you using the desktop app on Mac but shrinking it to mobile view?

And I'm not clear whether you mean resizing to 640px wide has fixed the issue for you or whether shrinking to that size causes the issue?

[2017-08-07 14:42] santos22 commented on #7113
I can take this one 😄

[2017-08-07 14:51] jasonblais commented on #7113
Yay, awesome! Thanks @santos22!

[2017-08-07 16:32] nashbrydges opened #7139 "Deleted Message Does Not Delete Attachment from the Server"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
I created a Mattermost installation and created test chan

[2017-08-07 17:22] jaapvermeulen commented on #7126
Jason, I have been checking it with both chrome and firefox this morning.  Unfortunately, the amount of traffic is not that high right now, but I observed the following:

- This morning the badge *did* show up for the *team* icon in the native client (as I mentioned it sometimes shows up; it almost seems related to whether the screen is locked or not)
- When I generate messages myself in the nativ

[2017-08-07 17:27] jaapvermeulen commented on #7126
One last tidbit.  The reverse for the 2nd bullet in the previous comment is true as well.  Submitting a message in the browser will produce the same behavior in the native client.  All this seems to be pointing back to the server I assume.

[2017-08-07 17:36] jaapvermeulen commented on #7126
Sorry for the many comments.  Come to think about it a little more, sending yourself messages is not the best test case anyway.  The message is most likely immediately marked 'read' (because it's showing in the client that you used for sending the message) but for some reason the team is still marked as having new messages (if that 's not the currently selected team).  When you select that team, i

[2017-08-07 19:02] jasonblais commented on #7126
@jaapvermeulen Thanks for the additional information here. Very useful.

So I think I understand what's going on,

1) The "badge" that shows a count, actually counts how many mentions you've received.  Mentions trigger when someone sends a message that includes your username or any of the options selected in **Account Settings > Notifications > Words that trigger mentions**.

![image](https://user

[2017-08-07 21:27] samtuke commented on #5905
We'd also love to see this released. Use case: different sysadmins on duty, many automated monitoring notifications arrive 24/7, and they need to sleep (as in human sleep)!

[2017-08-07 21:48] giladgd opened #7143 "Trying to change other user's profile image doesn't work (the api docs says it should when you have permission)"
#### Summary
When trying to change other user's profile image as documented in api.mattermost.com ([link](https://api.mattermost.com/#tag/users%2Fpaths%2F~1users~1%7Buser_id%7D~1image%2Fpost)) via POST `/users/{user_id}/image` from a user with the `system_admin` role/permission or the `edit_other_users` permission it doesn't work.

#### Steps to reproduce
1. Authenticate using the api into a `syst

[2017-08-07 22:15] jaapvermeulen commented on #7126
So, that doesn't completely make sense.  I set my 'Desktop Notifications' to 'For all activity'...  Are you saying that I still ONLY get badges for messages that I'm mentioned in and not for all unread messages?  If that's the case, it is *completely* non-intuitive and I strongly suggest to change this behavior...

[2017-08-07 22:26] jaapvermeulen commented on #7126
Well, the documentation explains it: https://docs.mattermost.com/help/getting-started/configuring-notifications.html, so I guess I'm in the wrong and my expectations are not not in line with what your documentation says.  Still think this is an odd way of showing badges that I haven't really run into before (as you can tell from my confusion, and I've been around 30 years and worked with many UIs)

[2017-08-07 22:26] #7126 closed

[2017-08-08 03:57] santos22 commented on #7113
Hi Jason, I'm really excited to be working on this issue! I've made some progress and it can be found [here](https://github.com/santos22/platform/commit/312ac4bef260d0602252b2eaa5be09e0c18e9d52).

I've noticed that after I edit and save account information either by clicking on the profile popover link or by doing it through the sidebar, the **Edit Account Settings** link disappears. I've attached

[2017-08-08 04:29] jasonblais commented on #7113
Thanks @santos22! Much appreciated, glad you're finding it interesting.

Good place to ask questions is actually in a channel called ["Contributors"](https://pre-release.mattermost.com/core/channels/tickets)

I realize that's not necessarily the most obvious, since we have a team called "Contributors" and a channel called "Contributors"..but if you find you way there, don't hesitate to pop up a qu

[2017-08-08 06:56] HarDToBelieve opened #7146 "Information disclosure"
#### Summary
There is no authentication checks in endpoint `/api/v3/teams/name`

#### Steps to reproduce
- Open in browser and make a GET requests to the following url : `/api/v3/teams/name/<team_name>` and we can get some sensitive information without logging in

#### Expected behavior
- I think this endpoint should be authenticated like others

#### Observed behavior (that appears unintentional)

[2017-08-08 06:57] #7146 closed

[2017-08-08 10:59] th-joerger opened #7150 "URLs in Markdown not parsed correctly for character ' (%27)"
#### Summary
URLs in Markdown not parsed correctly for character ' (%27)

#### Steps to reproduce
Post e. g.
[code]
to a chat in the Mattermost Windows Desktop Client 3.7.0

#### Expected behavior
It should be become:
[Poe's law in action](https://en.wikipedia.org/wiki/Poe's_law)

#### Observed behavior (that appears unintentional)
It becomes
<div>[Poe's law in action](<a href="https://en.wikipedi

[2017-08-08 11:46] prixone commented on #7139
I don't think that is unintentional because all the said "delete" feature of Mattermost is a soft delete, that means it doesn't completely delete anything it just hides it.

So if you go to your database directly and search for the message you deleted you will find it there along with the DeleteAt which indicates when it was deleted.

So the same goes for the file, access to the file from Mattermo

[2017-08-08 13:13] smoebody opened #7152 "oauth redirect_uri mismatch"
#### Summary
Login with Gitlab-Oauth fails, presumably due to differing `redirect_uri`s

#### Observed behavior (that appears unintentional)
When logging in via gitlab-oauth i can see the following log messages from gitlab:

1. This request happens after clicking the *gitlab* button
[code]
_as you can see the redirect_uri is `https://chat.metaccount.de:443/signup/gitlab/complete`. be aware of the

[2017-08-08 15:24] jasonblais commented on #7126
Thanks @jaapvermeulen for the feedback! That's really valuable, I'll share it with our design team as well.

Really appreciate you taking the time here.

[2017-08-08 19:09] jhertz opened #7156 "UI Incorrect When Encountering Duplicate Servers"
#### Summary
Cannot remove duplicate servers.

#### Steps to reproduce
Using Version 3.7.0, OSX Client, OSX 10.12.6
Join two teams on two of the same servers (they may need to have slightly different domain names). This for instance, can happen when attempting to join another team on what is apparently a separate server, but is really just an alias for the primary server.

#### Expected behavior
O

[2017-08-08 21:15] esethna commented on #7103
#### RC1 is cut
See the [changelog](https://github.com/mattermost/docs/blob/8161b362bc49a9a71a15e6e797f5895a4b30d8ef/source/administration/changelog.md) for details of the release.

Enterprise edition: https://releases.mattermost.com/4.1.0-rc1/mattermost-4.1.0-rc1-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.1.0-rc1/mattermost-team-4.1.0-rc1-linux-amd64.tar.gz

Testing server

[2017-08-09 00:11] jhertz commented on #7156
well, i figured you can delete duplicate servers by gettingn into settings, which on OSX is (cmd + ,)

hopefully this helps someone else.

this issue can be closed i guess.

[2017-08-09 00:11] #7156 closed

[2017-08-09 06:31] Twilek-de opened #7160 "Need to delete letsencrypt cache after update to 4.1.0 RC1"
After I updated to 4.1.0 RC 1 I could not connect to the server. The log showed

[code]

Deleting the letsencrypt cache and restarting mattermost solved the issue.

[2017-08-09 13:20] hmhealey commented on #7150
Hi @th-joerger,

Thanks for the report. Looks like our current markdown library doesn't like single quotes or double quotes in those links because it's confusing them with the syntax for adding a title to links. I've filed [a Jira ticket](https://mattermost.atlassian.net/browse/PLT-7353) for this if you'd like to follow it. However, we're working on overhauling our markdown library right now, so i

[2017-08-09 14:16] nomorebugs opened #7163 "Token auth broken"
#### Summary
MM version: 4.0.0
Gitlab-ce version: Version: 9.4.3-ce.0 (Omnibus Package Debian)

Using token auth is not working any more (only session auth).

#### Steps to reproduce

Follow auth like in docs:
(account not created by gitlab sso)

[code]

[code]

#### Expected behavior

- api calls with token auth working

#### Observed behavior (that appears unintentional)

- see above

[2017-08-09 16:06] lfbrock commented on #7152
Hi @smoebody - are you using Mattermost behind nginx?

If so, can you check the `X-Forwarded-Proto` is set to https? (Looks like others have had similar issues [here](https://github.com/mattermost/platform/issues/6489#issuecomment-305917377) so wondering if it's the same thing.)

[2017-08-09 17:51] smoebody commented on #7152
It is a bit more complicated. Yes, mattermost is used behind an nginx reverse-proxy and the `X-Forwarded-Proto` is set to `https`.
But the network between gitlab and mattermost is dedicated to this two services and they communicate in plain http and without any nginx reverse-proxy.

i'm almost certain that the differing `redirect_uri` is responsible for this issue. why are they different afterall?

[2017-08-09 20:02] jasonblais commented on #7163
Thanks @nomorebugs for the report. Which version did it used to work (either Mattermost or GitLab Omnibus version)

[2017-08-10 01:19] cybershambles opened #7166 "Support Google Auth as 2FA on Team Edition"
#### Summary
2FA is basic security

#### Steps to reproduce
2FA is just missing from the account settings

#### Expected behavior
Google auth second factor enabled in accounts settings

#### Observed behavior (that appears unintentional)
Google auth second factor not available to users.

[2017-08-10 08:50] lindy65 commented on #7166
Hello @cybershambles,

Thank you for your feedback.

2FA is available in Enterprise Edition.  If you'd like to request a trial licence for your corporation, you can do so here: https://about.mattermost.com/trial/

[2017-08-10 09:10] th-joerger commented on #7150
@hmhealey Thanks for the fast response and confirming this :)

[2017-08-10 13:39] sudheerDev commented on #6591
Is this issue up for grabs?.

[2017-08-10 13:47] jasonblais commented on #6591
It is! Would love your help @sudheerDev, let us know if there are any questions.

[2017-08-10 13:55] sudheerDev commented on #6591
@jasonblais Sounds Great!. will get on it right away.

[2017-08-10 14:47] fraziern commented on #7112
I can tackle.

[2017-08-10 15:21] jasonblais commented on #7112
ah sorry @fraziern -- this change was actually incorporated into https://github.com/mattermost/platform/pull/7064

I forgot to close this issue. Would there be another one you're interested taking a look?

[2017-08-10 15:21] #7112 closed

[2017-08-10 15:23] nashbrydges commented on #7139
Thanks @prixone . I'll instead add my vote for this option in the recommended features/improvements.

[2017-08-10 15:23] #7139 closed

[2017-08-10 16:24] esethna opened #7172 "[Help Wanted] [PLT-539] Update incoming webhooks to accept multipart/form-data content type such as that supplied by curl -F"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-10 16:47] tejasbubane commented on #7114
I think this one can be closed.

[2017-08-10 16:53] lfbrock commented on #7114
thanks @tejasbubane! Closed.

[2017-08-10 16:53] #7114 closed

[2017-08-10 23:07] esethna commented on #4242
Reviewing design, will reopen a new ticket for this after design is approved

[2017-08-10 23:07] #4242 closed

[2017-08-10 23:14] esethna commented on #6125
No longer repros

[2017-08-10 23:14] #6125 closed

[2017-08-10 23:27] esethna commented on #5262
Closed as done.

[2017-08-10 23:27] #5262 closed

[2017-08-10 23:33] esethna commented on #6491
Closing as done.

[2017-08-10 23:33] #6491 closed

[2017-08-11 09:23] sudheerDev commented on #6449
@jasonblais I will give this a shot

[2017-08-11 10:07] andreacappelli opened #7176 "Mattermost continuously reloads on Chrome after upgrade"
#### Summary
After upgrading to Mattermost 4.0.2 every Chrome client already logged in start to reload the page until cookies are cleared and a new session is started

#### Steps to reproduce
1) Setup a 4.0.0 instance
2) login with Chrome
3) stop mattermost
4) upgrade to 4.0.2
5) start mattermost
6) refresh chrome

#### Expected behavior
After upgrading already connected client should reload the p

[2017-08-11 13:09] j-p-k opened #7178 "Mattermost 4.0.x crashes with "panic: assignment to entry in nil map""
#### Summary

Mattermost application crash

[code]

This was first observed with Mattermost 4.0.2 Enterprise Edition. Upgrade to 4.0.3 and downgrade to 4.0.0 did not solve the issue.

We had previously run Mattermost 4.0.0 without issues. This behaviour was first observed after upgrade to 4.0.2

#### Steps to reproduce

On our system the crash occurs 20 minutes after starting the Mattermost applic

[2017-08-11 13:36] j-p-k opened #7180 "Mattermost unusably slow if a team has a channel with 1 million posts"
#### Summary

Mattermost uses queries on the Post table, which require loading all Post of a given channel.

### Details:

Mattermost 4.0.3 EE
MySQL 5.7.16 on Amazon RDS

Mattermost frequently performs queries of the form

1. SELECT Id, UpdateAt FROM Posts WHERE ChannelId = ? ORDER BY UpdateAt DESC LIMIT 1
2. SELECT * FROM Posts WHERE ChannelId = ? AND DeleteAt = 0 ORDER BY CreateAt DESC LIMIT ? O

[2017-08-11 14:39] 2075 opened #7183 "macOS Safari doesnt show preview thumbnails due to promise rejection"
#### Summary
Browsing a channel with thumbnails does not show thumbnails on Safari but on all other browsers.

#### Steps to reproduce
In macOS Safari, paste or upload an image via drag and drop.

#### Expected behavior
Image should show up in chat stream

#### Observed behavior (that appears unintentional)
Empty box for the image (compared to other browsers) and image meta info are shown.
Further

[2017-08-11 15:00] hmhealey commented on #7183
Hi @2075,

What versions of Safari and macOS are you using? I'm not seeing that error myself, but I don't know if I have the same version as you

[2017-08-11 15:06] 2075 commented on #7183
The issue was confirmed on various machines, and a promise related error does not really point to a system config related issue (at least not on recent systems), though here it is:

mattermost 4.0.0  (4.0.3)
macos 10.12.6
safari 10.1.2

[2017-08-11 15:37] hmhealey commented on #7183
Okay, I'm on the same version, but I can't reproduce it. I know what code is responsible for this though, and I know why it may be causing the problem. I've filed a Jira ticket if you'd like to track the progress on this: https://mattermost.atlassian.net/browse/PLT-7397

[2017-08-11 16:59] #6960 closed

[2017-08-11 17:56] jasonblais commented on #5423
This is done in Mattermost 4.1

[2017-08-11 17:56] #5423 closed

[2017-08-11 17:59] jasonblais commented on #5726
Fixed in Mattermost v4.0

[2017-08-11 17:59] #5726 closed

[2017-08-11 18:01] jasonblais commented on #5730
Fixed in Mattermost v4.0

[2017-08-11 18:01] #5730 closed

[2017-08-11 18:09] jasonblais commented on #5915
Added in Mattermost v4.1

[2017-08-11 18:09] #5915 closed

[2017-08-11 18:11] jasonblais commented on #6071
Added in Mattermost 4.0, thanks @VeraLyu!

[2017-08-11 18:11] #6071 closed

[2017-08-11 18:12] jasonblais commented on #6073
Closing to review the design. We'll reopen afterwards

[2017-08-11 18:12] #6073 closed

[2017-08-11 18:20] #6280 closed

[2017-08-11 18:21] jasonblais commented on #6293
Closing the help wanted issue as we're working on this ticket internally.

[2017-08-11 18:21] #6293 closed

[2017-08-11 18:25] jasonblais commented on #6478
Closing as PR has been submitted, scheduled for Mattermost v4.2

[2017-08-11 18:25] #6478 closed

[2017-08-11 18:28] jasonblais commented on #6603
Beign worked on by Mattermost staff, closing this help wanted ticket https://mattermost.atlassian.net/browse/PLT-3893

[2017-08-11 18:28] #6603 closed

[2017-08-11 19:12] jasonblais commented on #1185
We have new install guides available here: https://docs.mattermost.com/install/install-debian-88.html

If there is any feedback, let us know in the forums here: https://forum.mattermost.org/t/help-testing-debian-jessie-deployment-instructions/3674

Thanks all for the wonderful comments, it made help write up the docs. Also a big thanks to @acgustafson for the effort.

[2017-08-11 19:12] #1185 closed

[2017-08-11 19:25] jasonblais opened #7186 "[Help Wanted] Change URLs of Direct Messages to usernames"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-11 19:25] hmhealey commented on #7183
@2075 I've submitted a fix for this. If you get a chance, can you able to see if it still happens on [this test server](http://i-04ab90e039ce1797b.spinmint.com:8065/)? You can log in with the username `test` and the password `passwd`

[2017-08-11 19:44] 2075 commented on #7183
@hmhealey excellent, that works like a charm!
what did you change?

[2017-08-11 20:31] jasonblais opened #7187 "[Help Wanted] [PLT-5478] Don't show the collapse/expand arrow for image links when no image is available"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-11 20:31] jasonblais commented on #5387
Reopened: https://github.com/mattermost/platform/issues/7187

[2017-08-11 20:31] #5387 closed

[2017-08-11 20:37] jasonblais opened #7188 "[Help Wanted] [PLT-5268] Always show link previews on comment threads in right-hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-11 20:37] jasonblais commented on #5467
Re-opened here: https://github.com/mattermost/platform/issues/7188

[2017-08-11 20:37] #5467 closed

[2017-08-11 20:38] jasonblais opened #7189 "[Help Wanted] A single collapsed preview re-opens after refresh"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-11 20:38] jasonblais commented on #5727
Re-opened: https://github.com/mattermost/platform/issues/7189

//cc @VeraLyu if you're still interested taking a look

[2017-08-11 20:42] jasonblais commented on #5833
Cannot repro, closing

[2017-08-11 20:48] jasonblais commented on #5912
Posted as a feature proposal: https://mattermost.uservoice.com/forums/306457-general/suggestions/20508709-add-support-for-using-channel-id-in-the-url-instea

[2017-08-11 20:48] #5912 closed

[2017-08-11 20:52] jasonblais commented on #6146
Can no longer reproduce

[2017-08-11 20:52] #6146 closed

[2017-08-11 20:55] #6452 closed

[2017-08-11 20:55] jasonblais commented on #6449
Thanks @sudheerDev!! 👍

[2017-08-11 20:55] andremillet commented on #1994
I can help too !

[2017-08-11 20:56] jasonblais commented on #6546
Closing for now. This scenario is specific to HipChat where editing a message is not easily supported.

If anyone wants to see this feature supported, please consider opening a feature proposal for it: https://mattermost.uservoice.com/forums/306457-general/filters/top

[2017-08-11 20:56] #6546 closed

[2017-08-11 20:58] jasonblais commented on #6895
Hey @mikaoelitiana, let us know if you have any questions?

[2017-08-11 21:00] jasonblais commented on #7089
The corresponding GitLab issue has now been resolved: https://gitlab.com/gitlab-org/gitlab-ce/issues/31835

[2017-08-11 21:00] #7089 closed

[2017-08-11 21:03] jasonblais commented on #4598
Re-opened: https://github.com/mattermost/platform/issues/7186

[2017-08-11 21:03] #4598 closed

[2017-08-11 21:07] #5727 closed

[2017-08-11 21:11] MishkinBerteig commented on #7163
Yikes!!! Just installed this, and spent the last 2 hours struggling with this.  Trying to use Postman to test the APIs on our new installation (4.0.3, AWS Elastic Beanstalk with Docker).  Same problem exactly.  Token authentication does not work.  The initial login call works, and calls that do not require authentication work (e.g. creating a new user), but everything else fails.

[2017-08-11 21:11] jasonblais commented on #6963
In progress by Mattermost staff.

[2017-08-11 21:11] #6963 closed

[2017-08-11 21:13] jasonblais commented on #7115
Thanks @Whiteaj36! If you have any questions, don't hesitate to let us know!

[2017-08-11 21:15] jasonblais commented on #7163
Hmm, thanks for letting us know @MishkinBerteig.

Was Mattermost v4.0.3 the first version you installed?

[2017-08-11 21:23] MishkinBerteig commented on #7163
Yes - it was the first version we installed.  We just started working on it all today, late this morning Eastern Time.

[2017-08-11 21:43] 94117nl commented on #6443
I would like to start working on this

[2017-08-11 21:51] jasonblais commented on #6443
Thank you!!

[2017-08-11 21:53] jasonblais commented on #7163
@pichouk @prixone @sousapro Wondering if you guys would have any thoughts on the above errors?

[2017-08-12 02:25] MishkinBerteig commented on #7163
Hypothesis: in Postman, when doing a /users/login POST, the headers returned include two cookies that have immediate expire dates... perhaps this is a reflection of a calculation problem on the back end in which the Token returned is set to expire immediately instead of after some reasonable amount of time.  Here are the headers from an example login attempt that seems to work properly:

[code]

[2017-08-12 03:14] MishkinBerteig commented on #7163
Oh Lord.  I inserted a colon where there shouldn't have been one.  My mistake.  :-(

However, along the way, I discovered the new EnableUserAccessTokens config setting defaults to false, I changed it to true through an environment variable (MM_SESSIONSETTINGS_ENABLEUSERACCESSTOKENS) and that may help the other person who opened this ticket.  Based on looking at the code, this was also a problem th

[2017-08-12 08:02] sudheerDev commented on #6302
@jasonblais I can take this up but can someone tell me how to enable preview mode in text area?

[2017-08-12 09:08] kevin3274 commented on #6454
I would like to start working on this.

[2017-08-12 10:24] sudheerDev commented on #6450
@jasonblais I will take this one. Looks like it's similar to https://github.com/mattermost/platform/issues/6449 anyway

[2017-08-12 13:33] pruthvip commented on #7081
Wanted to work on this. Wanted some clarifications.

Hence while digging through , i saw that we take the value `this.state.emailInterval` from PreferenceStore, which keeps a map(preferences) which is synced with the redux store. But why are we calling PreferenceStore.getInt() , with separate flags

`if (global.mm_config.EnableEmailBatching === 'true') {
            // when email batching is enabl

[2017-08-12 14:02] ThiefMaster opened #7193 "Why no foreign keys?"
I just looked at the database structure of a Mattermost instance and noticed that it does not use any Foreign Keys to enforce consistency in the database. Is there any reason for this?

[2017-08-12 17:36] jasonblais commented on #6454
Thanks @kevin3274! Go for it 👍

[2017-08-12 17:37] jasonblais commented on #6302
Hey @sudheerDev! Thanks for your interest :)

You can enable the preview mode from Account Settings > Advanced > Preview pre-release features, and selecting `Show markdown preview option in message input box`

[2017-08-12 17:45] nomorebugs commented on #7163
@MishkinBerteig Thx for mentioning the new configuration option. I will have a look. For now I am calling the API with session auth. But it breaks mattermail service.

@jasonblais I don't know the previous version I updated from, but it can be only like one to two months old.

[2017-08-12 19:24] sudheerDev commented on #6302
@jasonblais yes selecting it enabled it!

In edit mode, if the text is long enough to have a scrollbar then even in preview scrollbar exists.
But if its just say like three sentences then no scrollbar in edit mode and causes an issue in preview mode.
![screen shot 2017-08-13 at 12 22 15 am](https://user-images.githubusercontent.com/4973621/29243502-14bdf7dc-7fbe-11e7-8f75-7473bfe7a0c8.png)
![scree

[2017-08-12 20:50] mlncn opened #7195 "Password reset message says the link is good for 24 hours when it expires after just one or two"
#### Summary

As updated in https://mattermost.atlassian.net/browse/PLT-1592 the password reset message says the link is good for 24 hours.  However, the link seems to expire after just one or two hours.

#### Steps to reproduce

Send password reset and wait more than two hours before clicking it.

#### Expected behavior

Password should be accepted for 24 hours, or at least using the link should

[2017-08-13 17:56] jasonblais commented on #6302
Thanks @sudheerDev! We'll test the PR you submitted (https://github.com/mattermost/platform/pull/7194) but in the screenshot it looks okay.

[2017-08-13 22:23] baby-gnu commented on #6951
Thanks, I see it it #7015.

Regards.

[2017-08-13 22:55] wget commented on #7186
:+1: this is really needed, because for now, if we want to search something in a direct message channel (a direct message with someone in particular), the GUI doesn't directly allow it.

We have to copy the ID from the URL e.g.: from `https://pre-release.mattermost.com/core/channels/5mqo3tzqntfh88pnazertyuiop__beqkgo4wzbn98kjz12345578`
we need to take `5mqo3tzqntfh88pnazertyuiop__beqkgo4wzbn98kjz1

[2017-08-14 07:10] #7183 closed

[2017-08-14 07:15] #7166 closed

[2017-08-14 07:22] lindy65 commented on #7160
Thanks for posting back your solution @Twilek-de :)

[2017-08-14 07:22] #7160 closed

[2017-08-14 08:31] ccbrown commented on #7193
Posted in our developer channel about this since I've also been curious: https://pre-release.mattermost.com/core/pl/tneqwhaocbgsppc8uyg4bjzzgw

As it stands, my best guess is "no", there's no particular reason for it.

[2017-08-14 12:22] MusikPolice commented on #7081
Hi @pruthvip, I believe that the API is returning 900 in this case because it returns the selected email interval in seconds, and 900 seconds is 15 minutes, which is what you selected in the Account Settings dialog.

The server stores the selected email interval in a single preference, regardless of whether email batching is active or not. As such, I see a couple of ways of fixing the issue:

1. C

[2017-08-14 12:28] hmhealey commented on #7043
A fix for this has been merged and will be in the web/desktop apps for Mattermost 4.1 (coming out in a few days) and the mobile app version 1.2 (coming out in a few weeks). Feel free to reopen this ticket if you're seeing this happen again after you've upgraded

[2017-08-14 12:28] #7043 closed

[2017-08-14 13:16] cpanato commented on #7172
@esethna there is any test case to be able to test that? how can I check if the fix are correct?

[2017-08-14 16:44] lindy65 commented on #7195
Hello @mlncn,

Thank you for your report,

I have tried to reproduce your issue and kept the password reset email for 7 hours before clicking on the 'reset password' link.  The link was still active and I could reset my password.

I will try again in a couple of hours to see whether it's still active until the 24-hour cut-off time.

Could you tell me which version of Mattermost you are using and w

[2017-08-14 17:14] lfbrock commented on #7143
Hi @giladgd - this seems like it might be a bug, would you be interested in making a pull request to fix it?

[2017-08-14 18:35] #6888 closed

[2017-08-14 18:43] lindy65 commented on #6937
Thanks for your feedback @apriori

Could you tell me what server version is running on the desktop app?  You can find this by clicking on the main menu in Mattermost then selecting "About Mattermost".  Perhaps upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost will resolve this issue.

[2017-08-14 18:48] lindy65 commented on #6803
Thanks @ccbrown @jtdaugherty @kquick

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7404) to track the issue so will close it off here.

[2017-08-14 18:48] #6803 closed

[2017-08-14 18:50] lindy65 commented on #6940
The PR has been merged and ticket closed so I'll close off this issue.

[2017-08-14 18:50] #6940 closed

[2017-08-14 18:52] lindy65 commented on #6941
We can track this issue via the PR above so I'll close it off for now.

[2017-08-14 18:52] #6941 closed

[2017-08-14 18:54] lindy65 commented on #6943
Thanks, we can track via the PR so I'll close this off here for now.

[2017-08-14 18:54] #6943 closed

[2017-08-14 19:08] lindy65 commented on #6988
Hi @devarshi112

Thanks for your feedback,

Are you referring to the two areas I've highlighted in red on the screenshot below?

![image](https://user-images.githubusercontent.com/13020833/29286749-5af29f48-8133-11e7-9d94-2801517e4a3c.png)

I believe the only time "jump to recent messages" is displayed is when you've "jumped" to a message from a search result.

![image](https://user-images.githubu

[2017-08-14 19:09] lindy65 commented on #7032
Closing this off here as we can track via the Jira ticket above.

[2017-08-14 19:09] #7032 closed

[2017-08-14 19:11] lindy65 commented on #7054
Hi @ionas @Rudloff

Circling back on whether your issue has been resolved and whether it's ok to close off this issue?

[2017-08-14 22:24] inoas commented on #7054
I will soon try again; again from scratch; sadly I read the build instructions above only after I killed the whole rasp-box cause I then had no use and wanted to gift it away (only bought it for mattermost + mumble server). I would love to have semi-official build instructions.

[2017-08-15 06:31] lindy65 commented on #7195
Hello again @mlncn

I've retried the password reset link from within the email again 20 hours after it was sent and I am still able to reset my password.

Perhaps you can try upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost to see if this will resolve your issue?

[2017-08-15 06:49] lindy65 commented on #7054
Hi @ionas

You mentioned that Raspberry is Jessie-based... I'm not sure whether [this document](https://docs.mattermost.com/install/install-debian-88.html) will help?

[2017-08-15 08:37] lindy65 commented on #7150
The PR has been submitted so I'll close the issue off here and we can track via the ticket.

[2017-08-15 08:37] #7150 closed

[2017-08-15 08:43] lindy65 commented on #7075
I'll close this issue off here as we can track via the Jira ticket above.

[2017-08-15 08:43] #7075 closed

[2017-08-15 08:45] lindy65 commented on #7070
I'll close this off here for now and @augustnmonteiro can open a feature request for it.

[2017-08-15 08:45] #7070 closed

[2017-08-15 08:47] lindy65 commented on #7057
Hi @vrenjith

I'll close this issue off here.  Feel free to open a feature request as per `prixone's` suggestion above :)

[2017-08-15 08:47] #7057 closed

[2017-08-15 08:48] lindy65 commented on #7056
Hi @wesviewzr

We haven't received an update so we'll assume that the problem is fixed or is no longer valid.  If you still experience the same problem, try upgrading to the latest version.  If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-08-15 08:48] #7056 closed

[2017-08-15 09:39] pruthvip commented on #7187
I would give it a try.

[2017-08-15 10:00] inoas commented on #7054
Yes I followed that one to install the dependencies and then looked for 3rd party resources because not everything was "copy-paste"-easy, after I had all the dependencies Installed I stuck at that Mattermost is distributed as an x86 package.

[2017-08-15 10:12] enahum commented on #7152
Have you checked that the SiteURL setting in your config.json matches?

[2017-08-15 10:18] enahum commented on #7178
Do you have an existant i18n folder in your Mattermost installation? Looks like the folder might be missing?

[2017-08-15 13:36] pruthvip commented on #7189
Thought of working on this. But ran into an issue. Browser store is throwing an error.

`BrowserStore tried to operate without user present`.  Code is checking for `global.window.mm_current_user_id`. Hence it is throwing the error. Couldn't  figure where this variable is being set. Can you please guide me here.

[2017-08-15 16:02] smoebody commented on #7152
Thanks. That was it! It had the port number in it. After removing and restarting it worked flawlessly.

closing

[2017-08-15 16:02] #7152 closed

[2017-08-15 16:15] pruthvip commented on #6283
Will give it a try

[2017-08-15 19:08] esethna commented on #7103
#### RC2 is cut

See the [changelog](https://github.com/mattermost/docs/blob/8161b362bc49a9a71a15e6e797f5895a4b30d8ef/source/administration/changelog.md) for details of the release.

Enterprise edition: https://releases.mattermost.com/4.1.0-rc2/mattermost-4.1.0-rc2-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.1.0-rc2/mattermost-team-4.1.0-rc2-linux-amd64.tar.gz

------
Approv

[2017-08-15 19:10] esethna commented on #7103
#### RC3 is cut

See the [changelog](https://github.com/mattermost/docs/blob/8161b362bc49a9a71a15e6e797f5895a4b30d8ef/source/administration/changelog.md) for details of the release.

Enterprise edition: https://releases.mattermost.com/4.1.0-rc3/mattermost-4.1.0-rc3-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.1.0-rc3/mattermost-team-4.1.0-rc3-linux-amd64.tar.gz

Testing serve

[2017-08-15 22:34] esethna commented on #7103
#### RC4 is cut

See the [changelog](https://github.com/mattermost/docs/blob/8161b362bc49a9a71a15e6e797f5895a4b30d8ef/source/administration/changelog.md) for details of the release.

Enterprise edition: https://releases.mattermost.com/4.1.0-rc4/mattermost-4.1.0-rc4-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.1.0-rc4/mattermost-team-4.1.0-rc4-linux-amd64.tar.gz

[2017-08-15 22:36] esethna commented on #7103
Final was cut from RC4. Download links will be available at: https://about.mattermost.com/download/ on August 16th

[2017-08-15 22:36] #7103 closed

[2017-08-16 11:16] amocrenco commented on #2322
![image](https://user-images.githubusercontent.com/28516476/29360839-73bf237e-828d-11e7-8233-4f8b06c48e3f.png)

[2017-08-16 11:31] theriverman opened #7223 "Ubuntu systemd daily apt download activities stop the Mattermost service"
#### Summary
Ubuntu systemd daily apt download activities stop the Mattermost service.

#### Steps to reproduce
It is not reproducible manually except that you manually issue the scripts I guess.
The problem occurs in my production environment, so I cannot do trial and error right now.

`root@my-company:/home/# lsb_release -a`
`No LSB modules are available.`
`Distributor ID: Ubuntu`
`Description:

[2017-08-16 13:44] lfbrock commented on #7129
Hi @Akito13 - I don't think we have any 32-bit instructions, you could try asking on the forums to see if anyone there has tips as well: https://forum.mattermost.org/

[2017-08-16 17:19] jasonblais commented on #5833
This is actually still an issue.

[2017-08-16 19:25] sudheerDev commented on #6453
@jasonblais i will give this a try

[2017-08-16 19:26] d3k4z commented on #643
+1

[2017-08-16 21:13] jasonblais commented on #6453
Sweet, thanks @sudheerDev!

[2017-08-16 23:04] jasonblais opened #7227 "[Help Wanted] Migrate profile_picture.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-16 23:06] jasonblais opened #7228 "[Help Wanted] Migrate components/about_build_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-16 23:07] jasonblais opened #7229 "[Help Wanted] Migrate change_url_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-16 23:07] jasonblais opened #7230 "[Help Wanted] Migrate channel_notifications_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-16 23:08] jasonblais opened #7231 "[Help Wanted] Migrate delete_channel_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 00:05] jasonblais opened #7233 "[Help Wanted] Migrate delete_post_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 00:06] jasonblais opened #7234 "[Help Wanted] Migrate edit_channel_header_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 00:06] jasonblais opened #7235 "[Help Wanted] Migrate edit_channel_purpose_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 00:07] jasonblais opened #7236 "[Help Wanted] Migrate edit_post_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 00:09] jasonblais opened #7237 "[Help Wanted] Migrate sidebar_right to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 00:09] jasonblais opened #7238 "[Help Wanted] Migrate create_post.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-08-17 02:13] prixone commented on #7223
Well, this is definitively not a mattermost issue or bug, but rather a Ubuntu issue and you might get a quicker help/response from the ubuntu commuty for example https://askubuntu.com/ or https://ubuntuforums.org/index.php.

A quick question which may be your case, when you reboot your server does mattermost auto start by default? If not I suspect you need to do:

[code]

So those services will st

[2017-08-17 07:23] lloeki opened #7241 "JS errors when switching channels on Safari"
#### Summary

On Safari, switching channels produces a warning, prompting to check on the browser's console, which indeed shows various, changing errors.

#### Steps to reproduce

- not reproducible on Firefox 55.0.2
- not reproducible on Chrome 60.0.3112.101
- with Safari 11.0 (13604.1.38.1.3), login on either of:
  - pre-release.mattermost.com/core
  - platform 4.0.3 / omnibus-gitlab 9.4.5 (minu

[2017-08-17 13:08] S6066 opened #7242 "Reloading page makes it blank after some secs"
Sometimes I have a DNS error, or a Network Changed one, and I have to reload (Ctrl + R) the page.
When doing that, after some seconds the page becomes blank one second and reload again
I'm using Mattermost Desktop version 3.7.0, server is using 4.1.0
Video: https://youtu.be/pyeaz3hp5b4

[2017-08-17 15:49] jasonblais opened #7244 "Mattermost separating /platform into two repositories on September 6th"
Mattermost will be separating the `/platform` repo into two repositories on September 6th:
 - a new repository for webapp client code, hosted at github.com/mattermost/mattermost-webapp
 - existing repository (`/platform`) renamed to `/mattermost-server`, containing the server code.

#### Why the change?

Separates PRs for client and server with better naming conventions. This is similar to [React

[2017-08-17 18:21] dbwelch commented on #643
+1

[2017-08-17 18:46] lfbrock commented on #7241
Hi @lloeki - is this still reproducing on pre-release for you?

We haven't been able to on Safari 11 (12604.1.38.1.3) which was the only version we could find to download, so wondering if you're still seeing it and if it's specific to the version you're using.

[2017-08-17 21:23] lloeki commented on #7241
Yep, reproduced on another machine.

Since you're mentioning a download, I reckon you're on 10.12 Sierra while I'm on 10.13 High Sierra 17A344b a.k.a public beta 5 (also guessing from the version number coincidentally starting with 12 and otherwise identical to mine which starts with 13).

[2017-08-17 22:32] n1aba commented on #4752
I would like to start working on this

[2017-08-17 23:13] jasonblais commented on #4752
That would be fantastic @n1aba. Let me know if you have any questions

[2017-08-18 09:42] j-p-k commented on #7178
@enahum Yes, the folder exists.

We observed the reported behaviour on a machine that was overloaded with webhook requests at the time. We had requests and database queries timing out.

The behaviour could not be reproduced after the load went back to normal.

I'm leaving this issue open in case someone wants to investigate.

[2017-08-18 13:48] yuya-oc commented on #7242
Basically, Mattermost webapp reload itself to refreshing caches when version mismatch is detected. If you have recently updated the server, possibly the mechanism might make something wrong.
As a known workaround, would you try using Ctrl+Shift+R (Clear Cache and Reload)?

[2017-08-18 14:36] lfbrock commented on #7241
That's probably it, I don't think we have anyone on our team on the beta builds - @lloeki would you be interested in submitting a fix for this?

[2017-08-18 14:41] lfbrock commented on #7176
Hi @andreacappelli - are you still seeing this issue? Is it happening for everyone on the server using Chrome?

[2017-08-18 14:47] andreacappelli commented on #7176
Hi @lfbrock I upgraded to 4.1.0 as soon as it was released and after the upgrade the issue seems gone

Every user had to logout and then clean cookies, but after that nobody reported problems

[2017-08-18 15:05] lfbrock commented on #7176
Okay great, well I'm glad it's sorted out - going to close the GitHub issue, and will re-open if other people hit similar problems

[2017-08-18 15:05] #7176 closed

[2017-08-18 15:30] #6443 closed

[2017-08-18 16:02] S6066 commented on #7242
When reloading without having the "network changed" or an error like that, the bug doesn't occur.
I tried deactivating and reactivating my wifi, and the bug still occurs with Ctrl+Shift+R.
(Had to press it twice because of a mistake, the webapp reloaded twice)

[2017-08-18 19:19] #6451 closed

[2017-08-18 19:52] esethna commented on #4760
No longer repros, closing as resolved.

[2017-08-18 19:52] #4760 closed

[2017-08-18 19:59] esethna opened #7256 "[Help Wanted] [PLT-4420] Mark channels unread using ALT-click (resets "New Messages" indicator)"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-18 19:59] esethna commented on #4992
Reposted

[2017-08-18 19:59] #4992 closed

[2017-08-18 20:00] esethna opened #7257 "[Help Wanted] [PLT-5436] Render channel links in the channel header"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-18 20:01] esethna commented on #5289
Reposted as a new help wanted issue (7257)

[2017-08-18 20:01] #5289 closed

[2017-08-18 20:03] esethna opened #7258 "[Help Wanted] [PLT-6577] Clicking on "Unread posts above/below" should scroll the sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-18 20:03] esethna commented on #6403
Reposted as a new help wanted issue (7258)

[2017-08-18 20:03] #6403 closed

[2017-08-18 20:43] esethna opened #7260 "[Help Wanted] Do not send notification emails to addresses that have not been verified"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-19 09:39] meilon commented on #6090
I started with a script and I added it to the cmd/platform as a hidden command. Currently it only checks *.jsx under /webapp/components for FormattedMessage and searches for the id in the en.json. In this implementation alone I found 21 missing strings. The script ignores message ids via variables, because finding all of them by parsing is close to impossible. If you want 100% failsafe coverage, y

[2017-08-20 01:36] ccbrown commented on #6090
@meilon I don't think it should be part of our distribution. And keep in mind we'll be separating this repo into two in a few weeks. The front-end linting should live with the front-end code. The back-end linting should live with the back-end code.

I would probably just make a scripts directory inside of webapp and put it there. There might be other things you could move there too like the emoji

[2017-08-20 01:39] hanselke opened #7261 "make failed macos sierra"
#### Summary
make fails after following developer setup instructuctions

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
20aug2017 pulled from master.

#### Observed behavior (that appears unintentional)
make ℹ info Invoking all target
make ℹ info Invoking run target
make ℹ info Invoking run-server target
make ℹ info Invoking prepare-enterprise target
sh: @echo

[2017-08-20 13:11] S6066 opened #7262 "Change emoji's color"
With Mattermost 4.1, emojis changed. Some users (like me) don't like that
For example, all "hand" emojis turned yellow, instead of usual white
A way to change the color (in user's settings) of this kind of emojis like Slack does would be cool

[2017-08-20 15:37] meilon commented on #6090
Okay, then I'll wait for the split and refine my code a little before making the first PR

[2017-08-20 18:05] lindy65 commented on #7261
Hi @hanselke

Thank you for your feedback,

Could you tell me what version of OS Sierra you're using?  We've also had [this report](https://forum.mattermost.org/t/make-package-fails-on-mac/3684) which seems to be an issue similar to yours and we're just wondering whether it might have something to do with the Sierra version.

[2017-08-21 01:54] hanselke commented on #7261
10.12.6

error looks different tho. mine looks like its trying to run @echo on shell and can't find the command.

not familiar with go syntax and not sure what the @ means.

On 21 Aug 2017, 2:05 AM +0800, lindy65 <notifications@github.com>, wrote:

[2017-08-21 09:26] kaksikanaa opened #7265 "Nicknames wont show up on the direct messages list"
#### Summary
Nicknames that are added to users profile wont show up on the direct messages list

#### Steps to reproduce
Add nickname to your profile and try confirm the change in your displayed name using another account in the same team.

#### Expected behavior
The added nickname should appear to the other users in the direct messages list as the documentation and the help text says.

#### Obser

[2017-08-21 10:04] kaksikanaa commented on #7265
Sorry, display settings was still incorrect in this -> Closed

[2017-08-21 10:04] #7265 closed

[2017-08-21 13:14] hmhealey commented on #7189
@pruthvip I answered your question on pre-release, but I thought I'd mirror it here in case you miss it. That's just a warning being thrown so I wouldn't worry too much about it. If you want to fix it though, you can change that part to
[code]

[2017-08-21 13:29] hmhealey commented on #7262
Hi @S6066,

We changed it to yellow since it's a neutral skin tone. I don't believe we're planning on supporting alternate skin tones yet, but feel free to make a suggestion [on our Feature Ideas forum](https://mattermost.uservoice.com/forums/306457-general) so we can gauge community interest when prioritizing changes

[2017-08-21 18:21] #7081 closed

[2017-08-21 18:21] #6591 closed

[2017-08-21 18:37] esethna commented on #7076
Thanks @ssstrat11s. I was able to reproduce the issue on our instance of 4.1 where code blocks and back ticks would trigger mentions. Our ticketing system is down at the moment but I will circle back with a ticket link once we are back up.

For the other forms of markdown I would think it is intended behaviour that they fire mentions. Given that all other forms of formatting work, I would also exp

[2017-08-22 07:53] lindy65 commented on #7261
Thanks @hanselke

I've asked our devs for feedback and will post back here when I've heard from them...

[2017-08-22 08:37] #7262 closed

[2017-08-22 09:38] lalmeras commented on #4376
Hi, if anyone follows this issue or visit this ticket, the issue is fixed with mattermost android client 1.1.0.

[2017-08-22 11:35] FaldeenOozeer commented on #1899
Am having a similar issue but not wiht Mattermost but with Drone.
Drone is running behind a reserve proxy (Apache) no load balancer and gitlab is running on Omnibus with SSL (nginx).

I constantly get the same error.

[2017-08-22 12:39] jasonblais commented on #6283
Thanks @pruthvip, let us know if you have any questions!

[2017-08-22 13:15] MusikPolice commented on #7261
@hanselke are you sure that you've run through all of the developer setup steps, checked everything out, and that you're running `make` from the correct directory? It looks to me like your dev machine is missing some prerequisite that the makefile depends on

[2017-08-22 13:23] hmhealey commented on #7261
Also, the `@echo` command is part of the Makefile. An @ can be added to any line in a Makefile to stop it from printing the line itself. For example, having the Makefile run `echo test` outputs
[code]
while running `@echo test` just outputs
[code]

That's very odd that it's trying to run `@echo` in the shell though

[2017-08-22 13:54] yuya-oc commented on #7242
@S6066 I think this issue should be tracked in the mattermost/desktop repository. So I created mattermost/desktop#573. Please use it for more feedback.

@jasonblais Would you close this one?

[2017-08-22 14:11] #7242 closed

[2017-08-22 17:58] moonmeister commented on #7261
I've done quite a lot of development on Sierra (10.12.6) without issue. Make sure you've followed the instructions at https://docs.mattermost.com/developer/dev-setup-osx.html. My only question would be, are you doing anything"non-standard" on your mac? Are you using a non-standard shell terminal, or anything else? If you are try using the normal shell, etc...

[2017-08-22 21:21] alexthemitchell commented on #5016
+1: I wouldn't have commented, but I cannot see your progress in JIRA so I wanted to make clear that this is a desired feature.

[2017-08-22 21:36] #6302 closed

[2017-08-22 21:51] moonmeister commented on #4300
You guys open to using a tool like this and embedding it into Mattermost? I guess the draw back is it requires these docs to be publicly accessible, which I'm guessing they're not by default.

https://blogs.office.com/en-us/2013/04/10/office-web-viewer-view-office-documents-in-a-browser/
https://products.office.com/en-us/office-online/view-office-documents-online

[2017-08-22 22:09] #5486 closed

[2017-08-22 22:10] jasonblais commented on #5016
Thanks @alexthemitchell! Unfortunately our JIRA project is down, but this PR was actually merged a few days ago and available in Mattermost v4.2 (release date Sept 16th): https://github.com/mattermost/platform/pull/5698

[2017-08-23 04:42] moonmeister commented on #7260
@esethna I can take this. I do have question. IF a server changes from being unverified to verified, what's the status of all current users? Are their emails set to verified already or not verified? If they aren't already considered verified what's the process for getting those emails verified?

[2017-08-23 05:16] moonmeister commented on #7260
@esethna I've tested the current master branch and this is already true. A couple scenarios:

**Scenario 1:**  If the server is "closed" and thus is invite only the email verification is automatic/impplicit. The user receiving the invite is never explicitly asked to verify. They are implicitly verifying by accepting the invite.

**Scenario 2:** If the server is "open" and thus anyone can create an

[2017-08-23 05:23] devarshi112 commented on #6988
I was talking about the second screenshot where we jump to a message from a search result.

[2017-08-23 05:31] moonmeister commented on #7260
My initial assumption is that it's cause the new user who has never verified their email and never used MM is not part of any team (confirmed in Admin console) but further testing showed that mentioning an active user in a channel they have not joined is still different then mentioning the new user who has never verified.

<img width="745" alt="screen shot 2017-08-22 at 10 27 56 pm" src="https://u

[2017-08-23 05:37] moonmeister commented on #7260
Ah I just realized my mistake, teams and channels are different things. No team means no email it seems. Well then I guess that's not a viable option for existing users. I'll get back to the code.

[2017-08-23 07:26] lindy65 commented on #6988
Thanks for the feedback @devarshi112,

I'll ask one of my team mates with a Mac to test your issue and see if they can reproduce it.

[2017-08-23 13:07] balasankarc opened #7276 "Mattermost doesn't fall back to default values for missing configuration settings, but raises panic"
Regarding: https://gitlab.com/gitlab-org/omnibus-gitlab/issues/2377#note_38157608

### Problem
As per https://docs.mattermost.com/administration/config-settings.html, where it says

if a setting isn't provided either in config.json or as environment variable, a default value will be used. However, upon testing I found out that that is not the case. For example, I deleted the "ListenAddress" key fr

[2017-08-23 13:13] balasankarc opened #7277 "Docs mention wrong default value for EnableSignInWithUser"
As per https://docs.mattermost.com/administration/config-settings.html#enable-sign-in-with-username , the default value for `EnableSignInWithUser` is `false`. However, in the [shipped config.json file](https://github.com/mattermost/platform/blob/master/config/default.json#L128), it is `true`.

Is that actually a typo or doesn't that file list the default values? If it is a typo, I can open up a PR

[2017-08-23 13:30] jasonblais commented on #7277
@balasankarc You are correct, looks like that's a typo. The [config.json file](https://github.com/mattermost/platform/blob/master/config/default.json) contains the default values.

If you'd like to submit a pull request to fix it, that would be very helpful!

[2017-08-23 13:32] jasonblais commented on #7276
Great question! I think that sounds like a bug, but have reached out to our developers to confirm,

[2017-08-23 13:43] jasonblais commented on #7276
Thanks again @balasankarc for the report. Have filed a ticket here: https://mattermost.atlassian.net/browse/PLT-7472

Would this be something you'd be interested helping fix, given you've already looked at this issue.

[2017-08-23 14:22] balasankarc commented on #7277
@jasonblais Opened https://github.com/mattermost/docs/pull/1452 for fixing.

[2017-08-23 15:19] #7277 closed

[2017-08-23 15:19] jasonblais commented on #7277
Thank you!!

Also, I discussed this with a developer and https://github.com/mattermost/platform/blob/master/config/default.json actually doesn't contain the default values in release builds. A few of the settings are changed in release builds [here](https://github.com/mattermost/platform/blob/master/Makefile#L396). The first part surrounded by pipe characters in the sed command is the line in the

[2017-08-23 17:19] lindy65 commented on #6937
Hi @apriori,

Is this issue resolved for you?  If so, please let me know so I can close it off.  Thanks!

[2017-08-23 17:24] lindy65 commented on #6988
Hi @devarshi112,

I found [this Jira ticket](https://mattermost.atlassian.net/browse/PLT-7416) that could be what's causing your issue.

Can you test to see if `jump` works when clicking on the first search result and breaks thereafter - or - does `jump` from search results not work for you at all?

[2017-08-23 17:35] lindy65 commented on #7054
Hi @inoas,

I'm sorry, I've just heard that we don't actually support Raspberry PI (unless a community member has built a version for it)...

There is [this recent issue](https://github.com/mattermost/platform/issues/7129) which I believe is similar to yours.

[2017-08-23 17:35] #7054 closed

[2017-08-23 17:38] lindy65 commented on #7055
@AmadeusSG @Rudloff

Would either of you be interested in submitting a PR to fix this?

[2017-08-23 17:41] lindy65 commented on #7111
Hi @mmclau14, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-08-23 17:43] lindy65 commented on #7143
Hi @giladgd,

I'll close this issue off now as we can track via the Jira ticket link above.

[2017-08-23 17:43] #7143 closed

[2017-08-23 17:45] lindy65 commented on #7163
Hi @nomorebugs, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-08-23 17:45] #7163 closed

[2017-08-23 17:52] lindy65 commented on #7195
Hi @mlncn, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-08-23 17:52] #7195 closed

[2017-08-23 17:54] lindy65 commented on #7223
Hi @theriverman, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-08-23 17:54] #7223 closed

[2017-08-23 17:55] mmclau14 commented on #7111
yeah. so i'm resizing to half of my screen so i can do something else in the other half.

[2017-08-23 18:05] lindy65 commented on #7111
Thanks for the feedback @mmclau14,

Please could you post a screenshot here so I can chat to one of the product managers about the issue?

[2017-08-23 18:45] AmadeusSG commented on #7055
I'll submit a PR within 24 hours. New to open source contributing, just submitted CLA, and recloned the latest `master` branch to push to `PLT-7055` branch.

[2017-08-23 18:52] lindy65 commented on #7055
That sounds great @AmadeusSG!  Thank you so much :)

Please let us know if there's anything we can help with

[2017-08-23 18:56] AmadeusSG commented on #7055
May I know how long I need to wait for push access?

[2017-08-23 19:08] lindy65 commented on #7055
Hi @AmadeusSG,

As you've already signed the CLA (I've confirmed it's received) you can submit a PR.  It will go through a review process by our devs.

[2017-08-23 19:16] AmadeusSG commented on #7055
The problem is that I can't push to `PLT-7055` due to 403 Forbidden error code, so can't submit a PR, unless I'm missing a step or two.

[2017-08-23 19:21] lindy65 commented on #7055
Ah, I see... I'll ask one of the secs to help you on this,
On Wed, 23 Aug 2017 at 21:17 Syakyr Surani <notifications@github.com> wrote:

[2017-08-23 19:28] AmadeusSG commented on #7055
I've resolved it - I forgot to fork it to my account. I've just submitted a PR, please check.

[2017-08-23 20:00] lindy65 commented on #7055
Pleased you resolved the problem...
Yes, I see your PR and our devs will review and give you feedback.
Thank you for your pull request 😀

[2017-08-23 23:52] inoas commented on #7129
But the Raspberry Pi 3 Model B is 64 bit... I suppose however that the OS must be, too, right? https://www.raspberrypi.org/products/raspberry-pi-3-model-b/

[2017-08-24 06:50] lindy65 commented on #7129
Hi @inoas,

Thank you for your feedback,

I'm going to feed your question back to the team and will come back with their response.

[2017-08-24 10:37] inoas commented on #7129
Thanks, if you worry about official support being hard, I'd limit it to Latest Stable Debian 64-Bit; the amount of hardware devices will be very very small and always the same.
https://www.linux.com/news/learn/intro-to-linux/first-64-bit-and-enterprise-os-comes-raspberry-pi-3

[2017-08-24 11:12] enahum commented on #7178
@j-p-k  #7282 will fix this and It should be available in 4.2

[2017-08-24 11:12] #7178 closed

[2017-08-24 11:33] Akito13 commented on #7129
So no change? What about 32 bit? I think it is very weird that a supposed server has only 64-bit support... Especially nowadays, where there are more and more servers completely based on x86, partially hard float. 64-bit is not as universal as it is obviously assumed here..

[2017-08-24 11:50] inoas commented on #7129
Well, assuming the architecture can easily be changed to, say 32bit integers, it is probably less painful to just support that, and then take standard Raspberrian as the only official supported platform. However aside small single-board computers and some phones 32bit is dead, isn't it?

[2017-08-24 11:56] Akito13 commented on #7129
.... It's growing and becoming a huge market. Basically the opposite of dead. Which is understandable due to the Raspberry Pi waves, etc.

[2017-08-24 17:08] tyronx commented on #5905
This is indeed quite the showstoper being unable to temporarily disable notifications

[2017-08-24 18:31] inoas commented on #7129
Related: https://mattermost.uservoice.com/forums/306457-general/suggestions/12238122-create-an-arm-build-pathway

[2017-08-24 18:36] esethna commented on #7076
Ticket here: https://mattermost.atlassian.net/browse/PLT-7473. Closing to track in JIRA, thanks!

[2017-08-24 18:36] #7076 closed

[2017-08-24 19:55] jasonblais commented on #7046
https://github.com/mattermost/platform/pull/7273 has cleared the errors.

[2017-08-25 07:09] apriori commented on #6937
Hello @lindy65, no, at least for server version 3.10.0 the issue is not resolved. I recheck after an update.

[2017-08-25 07:30] lindy65 commented on #6937
Hi @apriori,

Thanks for your feedback,

You can download [v4.1 here](https://about.mattermost.com/download/).  If you'd like to wait until September, 16th - v4.2 will be released.

[2017-08-25 07:39] lindy65 commented on #7193
Hi @ThiefMaster,

Feedback from our devs after discussing this issue is that there is "insufficient motivation". No one seems to have strong enough opinions that we should add foreign keys at this point.

Perhaps you'd like to open a suggestion on our [Feature Ideas Forum](https://mattermost.uservoice.com/forums/306457-general) which you and others can up-vote?  The more votes a suggestion gets, t

[2017-08-25 07:39] #7193 closed

[2017-08-25 13:55] tcutts commented on #5528
I just tried importing a slack export into Mattermost 4.1 and hit exactly the same problem, although I don't think it's the same bug.  Only the slack importer user is created and added to the team, and the report just says:

`Mattermost Slack Import Log

Users created:
===============

The Integration/Slack Bot user with email slackimportuser_nwjzkrkazpf8prhsf1s7t1mwcc@localhost and password nkjkp

[2017-08-25 14:02] grundleborg commented on #5528
@tcutts please could you open a new ticket with your report in it? Also, if possible, (and removing any sensitive private data), could you attach either a copy of a Slack export zip file with which you can reproduce the issue, or if you can't do that, the contents of the `channels.json` and `users.json` files from within a Slack export zip file, with any private data redacted? That will allow me t

[2017-08-25 15:46] tcutts commented on #5528
Sure – sorry.  I think I know what the cause of the problem is and the bug, if any, is just that the import tool doesn’t log that it’s experiencing problems.

Tim

From: George Goldberg <notifications@github.com>
Reply-To: mattermost/platform <reply@reply.github.com>
Date: Friday, 25 August 2017 at 15:03
To: mattermost/platform <platform@noreply.github.com>
Cc: Tim Cutts <tim@thecutts.org>, Mentio

[2017-08-25 17:09] #7187 closed

[2017-08-25 17:09] jasonblais commented on #7187
Thanks @pruthvip!!

[2017-08-26 00:13] hanselke commented on #7261
Not that i can tell. only thing i'm unsure about is i have multiple versions of node, using nvm to switch versions.

not really sure how global packages work when you switch node versions.

you can close this ticket for now as i'm putting off using mattermost until you guys finish with migrating the code base to server/client as i was reading in some other thread.

On 23 Aug 2017, 1:58 AM +0800, A

[2017-08-26 06:38] cybershambles opened #7300 "Bug: Mixed content alerted on pasted images using http://"
![image](https://user-images.githubusercontent.com/7995198/29739257-9e2b90d8-8a7c-11e7-94ed-8ede0ff40926.png)

#### Summary
Firefox is alerting that mixed content is used on my https:// mattermost when somebody posts an image that is http://

#### Steps to reproduce
![image](https://user-images.githubusercontent.com/7995198/29739268-d8038946-8a7c-11e7-8cdb-1927d8a0f457.png)
paste link to image hos

[2017-08-26 15:06] lindy65 commented on #7261
Thanks @hanselke,

I'll close the issue off for now then. Please feel free to reopen it, if required,  in future.

[2017-08-26 15:06] #7261 closed

[2017-08-27 17:30] lindy65 commented on #6590
Hi @dansto,

Apologies for the delay in getting back to you.  There has been some discussion about your issue and we've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7493) to fix.

Thanks again for the report!  I'll close this off here for now and we can track via Jira.

[2017-08-27 17:30] #6590 closed

[2017-08-27 21:54] uriklagnes commented on #6798
Interested

[2017-08-28 02:35] jasonblais commented on #6798
Awesome, thanks @uriklagnes! Let us know if there are any questions

[2017-08-28 06:28] mmarif4u opened #7302 "Only Admin/Owner should be able to delete channel"
I know it is discussed somewhere in other thread, but i cant find it.

Mattermost Team Edition as of now(4.1.0) have still delete channel for all users to click and wipe the whole channel out. I know it is/was stated that the channel will be archived instead of delete.

But to me it should not be available to other users except Owner/Admin etc, it is literally a security flaw and should have bette

[2017-08-28 07:14] lindy65 commented on #7302
Hi @mmarif4u

Thank you for your feedback,

I think the thread you're looking for is [this one](https://forum.mattermost.org/t/how-to-add-a-policy-enabling-only-certain-people-to-delete-public-channels-and-private-groups/2838)?

[2017-08-28 07:20] mmarif4u commented on #7302
Hi @lindy65

Thanks for the link, yup thats the one and i totally agree with @it33 .

[2017-08-28 07:33] lindy65 commented on #7302
Awesome, thanks for letting me know :) I'll close this issue off here for now then.

[2017-08-28 07:33] #7302 closed

[2017-08-28 07:37] mmarif4u commented on #7302
Hi @lindy65

I don't understand, why close the issue here?. Is it not the right place for issues?, if so it is confusing to have many places for logging issues.

[2017-08-28 07:50] lindy65 commented on #7302
Hi @mmarif4u,

Apologies, yes - this is the correct place for issues.  As your issue is the same as the issue I linked above, I closed this one and we can track via the original issue.  It just makes it easier to track similar issues in one place.

[2017-08-28 12:56] MusikPolice commented on #7300
Is `puu.sh` your domain? Or is it the domain where the image was originally hosted? If the latter, it looks like when an image is pasted in to Mattermost, it isn't uploaded to the system, and instead, your browser just tries to expand the link by fetching it from the source. If that's the case, then there's not much we can do to fix it, unless we want to make pasting a URL to an image cause that i

[2017-08-28 13:21] hmhealey commented on #7300
Hi @cybershambles. It's a known issue that posting plain http images causes that warning to be printed. We have [a ticket to proxy external images with Mattermost](https://mattermost.atlassian.net/browse/PLT-3383), but it hasn't seen much activity lately

@MusikPolice `puu.sh` is just an image hosting site.  Nothing special about it, but it is definitely 3rd party

[2017-08-29 00:09] devarshi112 commented on #6988
You are not understanding the issue correctly.

I want the "Load more messages" to be present at the bottom as well. The "Click here to jump to recent messages" breaks the continuity of messages and takes us to the most recent message. Use case:
1. Search for a message and "jump" to that message.
2. After a few messages in that sequence, the link to "Click here to jump to recent messages" appears

[2017-08-29 05:13] cybershambles commented on #7300
1) Yes, third party
2) That's understandable.. thanks

[2017-08-29 06:59] lindy65 commented on #6988
Hi @devarshi112,

Thank you for your feedback and for explaining exactly what it is you're requesting.  You're correct - I was not understanding your issue!  Apologies.

It was by design that "Click here to jump to recent messages" takes you to new messages in the channel and doesn't just continue to scroll through all the messages below the message you "jumped" to from search results.

This is be

[2017-08-29 15:17] #7189 closed

[2017-08-29 15:17] jasonblais commented on #7189
Thanks @pruthvip! Great to have this improvement, appreciate it!

[2017-08-29 16:23] esethna opened #7316 "[Help Wanted] [PLT-7459] Users restricted from inviting other users to private channel should not see invite link in-channel"
@If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/d

[2017-08-29 21:19] tcutts commented on #5528
I will open a new ticket, but it's not closely related to this one, and I know what the issue is.

[2017-08-29 23:37] jasonblais commented on #7180
Hey @j-p-k, terrible sorry for the delay on this. Have reached out to our developers and we'll get back to you shortly.

Really appreciate you bringing this to our attention!

[2017-08-30 03:00] mlncn commented on #7195
It was Mattermost 4.1.0 through Cloudron.  Thanks very much for the quick response and apologies for not responding.  It seems it may have been a one-time hiccup, correlated to others also being logged out unexpectedly.  Not sure what could have caused that though.

[2017-08-30 04:33] jboxman commented on #7316
I'd like to try tackling this.

[2017-08-30 08:09] lindy65 commented on #7111
Hi @mmclau14,

Circling back on this...  Having chatted to the product team, it seems that changing the way names are currently displayed in mobile view is a feature suggestion and not a bug.

Could we have your help opening a feature suggestion on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you and others can vote to increase the popularity of the suggestion.  The mo

[2017-08-30 08:09] #7111 closed

[2017-08-30 08:10] lindy65 commented on #6937
Hi @apriori,

Circling back on this to see whether your issue is resolved with upgrade to v4.1?

[2017-08-30 08:11] #6988 closed

[2017-08-30 08:11] #7055 closed

[2017-08-30 12:36] jasonblais commented on #7276
@balasankarc we have a PR for fixing this here: https://github.com/mattermost/platform/pull/7320

[2017-08-30 12:36] #7276 closed

[2017-08-30 12:38] balasankarc commented on #7276
Thanks @jasonblais .

[2017-08-30 12:48] jasonblais commented on #7316
Thank you @jboxman! Please let us know if you have any questions.

[2017-08-30 19:29] gtcode opened #7322 "Display Mode: Compact introduces layout issue"
#### Summary
Under certain circumstances, Display Mode: Compact introduces a layout issue.

#### Steps to reproduce
* Use Mattermost 4.1.0 on U14.04, installed per: https://docs.mattermost.com/install/install-ubuntu-1404.html
* Integrate the bitbucket-mattermost-bridge here: https://github.com/danielkappelle/bitbucket-mattermost-bridge into a Mattermost channel.
* Trigger a commit hook or other ev

[2017-08-31 11:22] esethna opened #7330 "[Help Wanted] [PLT-7388] Mattermost-Kubernetes: Add persistent volume claims to Elasticsearch"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-31 11:22] esethna opened #7331 "[Help Wanted] [PLT-7387] Mattermost-Kubernetes: Add jobserver instances to cluster"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-31 11:28] esethna opened #7332 "[Help Wanted] [PLT-7389] Mattermost-Kubernetes: Make vm.max_map_count more robust for Elasticsearch"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-31 12:13] jasonblais commented on #7322
@gtcode

1) Can you help post a screenshot of what the message looks like in Standard mode?
2) Also, do you know what is the JSON payload sent from the Bitbucket integration to Mattermost [if not, no worries]

[2017-08-31 16:17] esethna opened #7335 "[Help Wanted] [PLT-7508] System Console: Setting to disable the channel wide mention confirmation modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-31 16:17] esethna opened #7336 "[Help Wanted] [PLT-7507] Add a hint to CTRL+K channel switcher about creating group message channels via CTRL+SHIFT+K"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-31 16:32] esethna opened #7337 "[Help Wanted] [PLT-7500] Include emojis with alternate skin tones"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-08-31 16:45] #7336 closed

[2017-08-31 17:41] gtcode commented on #7322
Okay, no worries.

Also relevant to reproducing the issue: Please note that if I stretch the window while in `Message Display -> Compact` to be wider or narrower, this hides/shows the problem.

1. `Message Display -> Standard`:
<img width="1007" alt="screen shot 2017-08-31 at 7 24 46 am" src="https://user-images.githubusercontent.com/1420822/29936679-c23d912e-8e1e-11e7-915c-938eda52ec57.png">

2.

[2017-08-31 19:30] giladgd commented on #7143
I'll try to fix it, although I'm new to golang

[2017-08-31 20:11] giladgd commented on #7143
I just saw it was already fixed.
Thank you :)

[2017-09-01 04:02] karlding opened #7340 "More Channels modal should not remember the page number when displaying search results"
#### Summary
The **More Channels** modal should not remember the page number when displaying search results.

#### Steps to reproduce
1. Click the **More...** button under **Public Channels**
2. Ensure that there are enough channels to cause the **Next** button to appear (create additional channels if necessary). Find a channel that isn't on the first page of channels (say **Channel A**)
3. Click

[2017-09-01 06:57] lindy65 commented on #7340
Hello @karlding

Thank you for your feedback,

Could you tell me what version of Mattermost you're using?  I'm not able to reproduce this on our nightly build server which builds off master so I believe this has already been fixed.

If you'd like to download the latest version, you can do so [here](https://about.mattermost.com/download/).  V4.2 will be released on September 16th.

[2017-09-01 07:01] karlding commented on #7340
I was using the demo server listed in the README. I'm not near a computer to test right now, but I'll take a look later in the week.

[2017-09-01 07:16] lindy65 commented on #7340
Sounds good, thanks @karlding

Let us know how it goes

[2017-09-01 07:18] karlding commented on #7340
I just took a quick look at the Contributors Mattermost listed in the README (which is supposedly running the nightly?), and I'm seeing the same issue using my phone.

To reiterate my steps with a concrete example:

The only channel listed under **Public Channels** that I've joined is **Reception**

1. Click **More...** under **Public Channels**
2. Click **Next** in the modal to move to the next p

[2017-09-01 07:29] lindy65 commented on #7340
Hi @karlding

Apologies, you're quite correct, although I was testing on the nightly build server, I belong to many more channels and was searching different names.  With your example above on the same server, I see the bug and have filed [this ticket](https://mattermost.atlassian.net/browse/PLT-7526) to track.

Thanks!

[2017-09-01 10:24] Kastenfrosch2 opened #7341 "Channel crashes when pasting certain text"
#### Summary
When I post a certain text into a channel, the channel crashes

#### Steps to reproduce
post the following text into any channel
*[edited]*

#### Expected behavior
The text is displayed

[2017-09-01 12:30] hmhealey commented on #7322
Hi @gtcode,

Thanks for the report. Looks like it always happens when the attachment doesn't include any pretext so something as simple as this will cause it
[code]

I've filed a ticket for this [here](https://mattermost.atlassian.net/browse/PLT-7528) if you'd like to track it further.

[2017-09-01 16:05] esethna opened #7344 "[Help Wanted] [PLT-7526] "More Channels" modal should not remember the page number when displaying search results"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-01 17:29] jasonblais opened #7346 "Mattermost 4.2"
This is a meta issue for v4.2 release updates.

You can find key dates for v4.2 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### September 5th (T-8): Code Complete

Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be update

[2017-09-01 21:07] hmhealey commented on #7180
Hi @j-p-k,

Do you have any benchmarks that would demonstrate a speedup by doing this? We're interested in any performance improvements we could make, but we'd prefer to know what effects a change like this would have before implementing it

[2017-09-01 23:14] bbenoist opened #7354 "New user cannot connect with GitLab SSO after Slack import"
#### Steps to reproduce
Using server version 4.1, use GitLab SSO.
1. Import a Slack room with messages from a user which has never logged in to Mattermost yet.
2. Invite the user to your Mattermost instance.
3. User can't sign-in to Mattermost using GitLab SSO since the same username is already registered with email sign-in method.

#### Expected behavior
Let the user use GitLab SSO if he never lo

[2017-09-01 23:22] bbenoist opened #7355 "Don't play Gif automatically; trigger animation when mouse is over instead"
#### Steps to reproduce
Include a Gif file with markdown in a conversation.

#### Expected behavior
Gif shows the first frame but doesn't plays.
A semi-transparent white `GIF` watermark and play icon are hovering the image to indicates users that its an animated picture.

#### Observed behavior (that appears unintentional)
Gif is played in loop. Giving our users nausea when reading some text surro

[2017-09-02 00:16] jespino commented on #7258
I'm working on it :)

[2017-09-04 08:05] lindy65 commented on #7355
Hi @bbenoist,

### Please help us share your proposal in the feature proposal forum?

Thank you for making an effort to contribute to the Mattermost open source project. Your time is valuable, and we highly appreciate your investment.

Hundreds of engineers from around the world have contributed to this project through [community processes](https://about.mattermost.com/help/) that are openly docum

[2017-09-04 08:08] lindy65 commented on #7341
Hi @Kastenfrosch2,

Thank you for your feedback,

Could you share which version of Mattermost you are using and whether you are experiencing this on the Desktop App or in a browser?  If browser, which browser are you using?

[2017-09-04 08:20] jairbubbles commented on #7341
@lindy65 We're using version 4.1.

Regarding the browser, I'll let @Kastenfrosch2 answer. I didn't test myself I was too afraid to corrupt my channels :smile:

[2017-09-04 13:58] Kastenfrosch2 commented on #7341
I pasted the text with Firefox 54.0.1 (32-bit),
The channels are freezed also in other browsers (tested with chromium)

[2017-09-04 13:58] bbenoist commented on #7355
@lindy65 Since it provokes [motion sickness](https://en.wikipedia.org/wiki/Motion_sickness), I would consider it as a bug rather than a feature request.

I mean, this is an actual accessibility *issue*, not a minor visual change request.

A [feature request with the solution I proposed](https://mattermost.uservoice.com/forums/306457-general/suggestions/19057645-loop-gifs-on-mouseover) have already

[2017-09-04 17:35] jasonblais commented on #7340
@karlding We have a help wanted ticket here (https://github.com/mattermost/platform/issues/7344) to see if someone from the community would like to help as well.

Thanks for bringing this to our attention! 👍

[2017-09-04 17:35] jasonblais commented on #7340
Closing for now, we can track via https://github.com/mattermost/platform/issues/7344

[2017-09-04 17:35] #7340 closed

[2017-09-04 19:12] R-Wang97 commented on #5485
I can try taking a look at this!

[2017-09-04 22:33] kyonifer opened #7372 "E-mail notifications dropped when messages received during status timeout window"
#### Steps to reproduce
Close the mm client and then have someone message you within the next few minutes, while your status is still "online".

#### Expected behavior
Notification of messages to be delivered according to the users preferences (instant, delay batch, etc.)

#### Observed behavior (that appears unintentional)
No notifications are ever delivered for those messages. A user can therefo

[2017-09-05 02:45] R-Wang97 commented on #7344
I can take a look at this!

[2017-09-05 08:23] lindy65 commented on #7372
Hi @kyonifer,

Thanks for your feedback,

It's by design that email notifications aren't sent while a user is online.  They are sent for mentions and direct messages when you are offline or away from Mattermost for more than 5 minutes.

Push notifications to your phone would cover this short period as you can set them to trigger while you are online (as well as away and offline).

I'll post your i

[2017-09-05 08:25] lindy65 commented on #7355
Hi @bbenoist

Thank you for your feedback,

I'll post your suggestion to the team and ask them for feedback.

[2017-09-05 11:06] bbenoist commented on #7355
Hi @lindy65 !

Thank you very much for having reconsidered the seriousness of this issue 👍

FYI, we had to forbid usage of GIFs on a team of 250+ people because of this problem: every time a gif appeared, it provoked complaints from our teammates...

Let's hope that the Mattermost team will find a quick-win solution which would make everyone enjoy Gif again.

[2017-09-05 11:17] Snehal1112 opened #7374 "Signin/login request shows my password in debugging tool like firebug."
#### Summary
while login in mattermost login request show password in debugging tool like firebug.
#### Steps to reproduce
- install firebug or any other debugging tool
- try to login in mattermost
- check that request in debugging tool you can see the password in text.
#### Expected behavior
password should be encrypted before sending login request to server.

[2017-09-05 13:11] saturninoabril commented on #7372
@kyonifer, if MM client is closed, the user's `offline` status propagation into its server will take some time; in effect, the user is still `online` for quite sometime. During that period, no notification will be delivered as it is blocked by `online` status.
It's different when the user logged out or set status (`away` / `offline`) manually, where the user immediately update it's status. Hence,

[2017-09-05 14:00] kyonifer commented on #7372
I see. In my case, that means I have to continuously open mattermost to see if I've missed a message, because every time I close the client I might have missed a notification in the 5 minute window right after the client closed, with no way to discover a message is waiting for me.

This doesn't work for me, since I'm not using mobile and I do not have a device that works with either of the support

[2017-09-05 15:09] edannenberg commented on #6849
We are still having issues with this in 4.1. Having the ability to only send notifications when in a certain status (i.e. offline only) would be nice.

[2017-09-05 23:46] esethna commented on #7355
Hi @bbenoist, has your team considered using the `/collapse` command? If the GIFs become too heavy in a channel you can simply type `/collapse` which causes all GIFs and image previews to collapse by default. You can then use `/expand` to reverse the effect.

[2017-09-06 03:46] prixone commented on #7374
AFAIK that will be the same for pretty much ANY website, even Hotmail and Google, you will be able to view your password using debugging tools.

If you are worried about some one intercepting the request, AKA MITM attack, even with SSL you would still suffer from it, you would need a combination of SSL with HPKP.

If you are worried about malicious code reading the password, then well that is even

[2017-09-06 03:54] prixone commented on #7355
@esethna while I love the collapse / expand feature, it needs to filter formatting as using GIFs with:

[code]

Will bypass the collapse/expand altogether.

[2017-09-06 08:13] lindy65 commented on #6937
Hi @apriori, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-09-06 08:13] #6937 closed

[2017-09-06 08:16] lindy65 commented on #7241
Hi @lloeki, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you'd like to submit a fix for this, we'd be happy to review the PR.

[2017-09-06 08:16] #7241 closed

[2017-09-06 08:18] lindy65 commented on #7300
Hi @cybershambles,

I'll close this issue off for now and we can track via https://mattermost.atlassian.net/browse/PLT-3383

[2017-09-06 08:18] #7300 closed

[2017-09-06 08:21] lloeki commented on #7241
@lindy65 @lfbrock Thanks for the heads up. 'm now on macOS 10.13 Beta (17A360a) with Safari Version 11.0 (13604.1.38.1.6) and the issue is still present. Sadly I am not in a position to be able to work on a fix for this :/

[2017-09-06 08:27] lindy65 commented on #7322
Hi @gtcode

I'll close this issue off for now and we can track via the ticket: https://mattermost.atlassian.net/browse/PLT-7528

[2017-09-06 08:27] #7322 closed

[2017-09-06 08:29] lindy65 commented on #7341
Thanks @jairbubbles and @Kastenfrosch2

I'm a little hesitant to test this on our servers so I'll ask one of our devs to test it locally in case it breaks something ;)

I'll post back here once I have feedback from them.

[2017-09-06 13:58] lfbrock commented on #7341
Thanks @Kastenfrosch2 & @jairbubbles, we're looking into this issue. Just a note - for anyone encountering this issue, try going into Account Settings > Advanced > Post Formatting and turn off the post formatting to see if you can access the channel.

You should then be able to delete the post causing the issues, and access the channel normally again.

<img width="823" alt="screenshot 2017-09-06 0

[2017-09-06 14:17] jasonblais commented on #7341
@Kastenfrosch2 @jairbubbles We have created a ticket and plan to fix the issue for Mattermost v4.2.

Let us know if the above workaround from @lfbrock helps resolve the issue in the meantime.

[2017-09-06 16:44] esethna commented on #7355
Thanks @bbenoist @prixone, I have [posted in the UX Design](https://pre-release.mattermost.com/core/pl/1gmip19ko3nfmrqo17e8war9fa) channel to discuss this. I think this would be a nice improvement.

[2017-09-06 17:08] esethna commented on #7372
@kyonifer do you have batching enabled on the server? Which email preferences are you using to reproduce this?

I just tested on a server with batching disabled, and the email preference set to immediate, and I was able to receive an email within a few seconds of closing my browser window.

[2017-09-06 17:20] jasonblais commented on #7346
### v4.2.0 RC1 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.0.2-rc1/mattermost-4.0.2-rc1-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: https://github.com/mattermost/docs/blob/8b41b093006983f168cc781f97575dd303d009c5/source/administration/changelog.md#release-v420

### Approved fixes for RC2

[2017-09-06 18:44] kyonifer commented on #7372
Batching is enabled, user preferences set to "Immediately". Running Mattermost 4.1.0, Firefox 55.0.3.

I did testing on a new user and I am also able to get it to immediately show offline (and deliver e-mails) by closing the browser. Upon further digging, it appears this issue only occurs when there is an idling client running on a second computer. The second session didn't have any activity at al

[2017-09-06 19:40] bbenoist commented on #7355
Cool! Thank you guys /°

[2017-09-07 05:28] Snehal1112 commented on #7374
@prixone i am totally agree with you about SSL, hashed password etc. stuffed but here problem is someone can get my password easily if debugger tool is already opened while login.

why login in google you can't able to see your password in plain text. also they are doing something very interesting, they clear the request history from debugging tools after getting login success response.

i think w

[2017-09-07 07:19] Twilek-de commented on #7346
Download link is wrong!! Points to an old version.

[2017-09-07 07:46] Twilek-de opened #7395 "4.2.0 RC 1 completely breaks my mattermost"
After upgrading I see the login screen. When I enter credentials it goes to "logging in" and after that nothing. There are no errors in the log except for a succesful start of mattermost. I will try to revert to a backup now.

[2017-09-07 07:47] Twilek-de commented on #7395
After some time the logs show "http2: server: error reading preface from client 176.199.x.x:60744: timeout waiting for client preface

[2017-09-07 07:48] prixone commented on #7374
Yes, you can, you are probably just not looking at the right request, but I can clearly see my password using firebug for both google and hotmail.

For someone to get your password using a debugger tool your machine needs at the very least to be infected or that person would required physical access to it,

[2017-09-07 08:36] lindy65 commented on #7395
Hi @Twilek-de

Thanks for your feedback,

Could you tell me whether you're using the desktop app or browser?  If browser, which one?

I'll ask the devs for some troubleshooting help and get back to you...

[2017-09-07 08:40] Kastenfrosch2 commented on #7341
@lfbrock @jasonblais Thanks for the workaround - it helped to recover the frozen channels 👍

[2017-09-07 08:59] Hanzei commented on #7346
The correct link is  https://releases.mattermost.com/4.2.0-rc1/mattermost-4.2.0-rc1-linux-amd64.tar.gz

[2017-09-07 09:44] Twilek-de commented on #7395
I tried the latest Windows Desktop App, latest Chrome, latest Firefox and Edge. They all hung on the login screen. After going back to 4.1.0 things work again.

[2017-09-07 09:53] Twilek-de opened #7397 "Not overwrite config.json when upgrading"
I don´t know wether it would be a good idea to not put a config.json in the distribution archives but something like config.json-dist instead. It has happened to me twice now that I accidently overwrote my config when upgrading because I forgot to copy the original first and move the directory. Secondly it would make it easier to compare your own config with the distribution on to spot changes.

[2017-09-07 10:06] lindy65 commented on #7395
Hmmm... that's weird.  I'm currently testing 4.2 RC1 in the desktop app, Chrome as well as in browser, Win 7 Chrome and both are working fine for me.  It might have something to do with your set-up so perhaps one of the devs can help...  I'll post their feedback.

[2017-09-07 11:38] maruTA-bis5 commented on #7395
pre-release.mattermost.com seems to be broken as well.

I'm using latest Chrome and Desktop app(v3.7.0) on Windows 10.
Attach the Chrome console log. Many JavaScript errors occurred.
[pre-release.mattermost.com-1504783185671.txt](https://github.com/mattermost/mattermost-server/files/1284502/pre-release.mattermost.com-1504783185671.txt)

[2017-09-07 12:32] jasonblais commented on #7346
@Twilek-de Sorry, fat fingers, thanks @Hanzei for the link

[2017-09-07 12:32] jasonblais commented on #7244
The webapp has been split from the main repository. There are now two new repositories:
 - https://github.com/mattermost/mattermost-server
 - https://github.com/mattermost/mattermost-webapp

For developers and those running private forks of Mattermost should make the following changes:
1. You will need to clone the new mattermost-webapp repository. This should be done in the appropriate location i

[2017-09-07 12:32] #7244 closed

[2017-09-07 13:08] lindy65 commented on #7395
@maruTA-bis5

Pre-release is fine for me using Desktop App (v3.7.1) on Win 7.  Could you try downloading the [latest version](https://about.mattermost.com/download/) of the Desktop to see if your issue still exists?

[2017-09-07 13:20] hmhealey commented on #7395
What language are you both using Mattermost in? The issue appears to be a translated string not matching what's expected by the code

[2017-09-07 13:31] jtama opened #7399 "Markdown preview in message attachments"
#### Summary
Markdown is sometimes displayed as plain text for long attachments preview using chrome ( server version 3.8.2).

#### Steps to reproduce
Post a message with long attachment :

`curl -i -X POST -d 'payload={"attachments":[{
    "color": "#009edc",
    "text": "## Starting release JOB 1074 \nBuild started by j.tama.\n\n| Module | version  | target env |\n| -------- | -------- | -------

[2017-09-07 13:39] hmhealey commented on #7395
Thanks for the stack trace @maruTA-bis5. We had some other users report it happening in French, so we tracked down the issue

[2017-09-07 14:04] Twilek-de commented on #7395
I´m using the german translation.

[2017-09-07 14:15] maruTA-bis5 commented on #7395
You're welcome, @hmhealey. I'm using in Japanese.

[2017-09-07 15:47] shadowcodex opened #7402 "Failed to create index pq"
After a recent update of Gitlab I got an error "502 bad gateway" on mattermost. I have not updated mattermost since the first release of it with Gitlab.

I am now on the most current release of gitlab. I found that I had to incrementally update mattermost. So following instructions I found in other issues and forums I manually upgraded all the way from 0.5.0 to 4.1.0.

I still get the error of "Fa

[2017-09-07 16:39] jkae commented on #6644
Sorry, I was unable to test this until now. I will get back to you soon and report whether or not the issue still exists.

[2017-09-07 16:39] jkae opened #7403 "Mattermost v4 HTTP 400 does not return useful response"
#### Summary
`/api/v4/users` POST (alongside most other routes) results in 400 error when using JSON format outlined in API documentation, with message simply being `Bad Request`.

#### Steps to reproduce
1. Mattermost 4.1.0
2. User exists: test@test.com / testadmin / password
3. Create JSON `{"email":"test@test.com", "username":"testadmin", "password":"password"}`
4. POST JSON to `/api/v4/users`

[2017-09-07 17:17] #7374 closed

[2017-09-07 17:46] lindy65 commented on #6644
Glad to hear it @jkae :)  Thanks for letting us know!

[2017-09-07 18:11] ryantm opened #7405 "mattermost markdown prepends http:// to URI schemes with digits"
#### Summary
mattermost markdown prepends http: to valid URIs. For example:

[code]
renders a link with "http://myproto1:blah" for the href attribute.

Since the markdown implementation is targeting gitlab compatibility, I checked and it does not prepend this markdown with "http://".

The mattermost markdown renderer handles URI schemes without digits correctly. I did not check ones with the other

[2017-09-07 18:44] shadowcodex commented on #7402
I'm just going to disable mattermost and set it up on a separate server.

[2017-09-07 18:44] #7402 closed

[2017-09-07 19:21] gtcode opened #7406 "After opening a mattermost client which loads existing unread messages, the timestamps are inaccurate"
If I am not using a client and log in to view new messages that were created by another user in my absence, the timestamp for their message does *not* reflect when they sent the message, but when I finally opened and viewed the message.  The default behavior should be to show the time for when the user sent the message.

[2017-09-07 19:31] lindy65 commented on #6828
Hi @firaxis,

Thank you for your feedback and your offer to help.  Once our devs start work on the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6979) tracking this issue, I'm sure they'll reach out to you if there's any additional information they need.

Thanks again for your help and input thus far!  I'll close this issue off here for now and we can track via the ticket.

[2017-09-07 19:31] #6828 closed

[2017-09-07 20:54] ryantm opened #7407 "mattermost markdown autolinking inconsistencies"
#### Summary
A complete message of `company-uri:invoice/5` auto links correctly. A complete message of `company-uri:invoice/5 blah` auto links correctly. However, a complete message of `blah company-uri:invoice/5` does not auto-link the uri.

#### Steps to reproduce

1. Use Markdown
2. Type in "blah company-uri:invoice/5"
3. click Preview or send the message and look at how it renders

#### Expect

[2017-09-07 22:09] jasonblais commented on #7395
@Twilek-de @maruTA-bis5 RC2 is cut, can you see if the issue is fixed for you?

https://releases.mattermost.com/4.2.0-rc2/mattermost-4.2.0-rc2-linux-amd64.tar.gz

[2017-09-07 22:11] jasonblais commented on #7346
### v4.2.0 RC2 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.2.0-rc2/mattermost-4.2.0-rc2-linux-amd64.tar.gz`

**Open tickets queued for 4.2**
1. [Email template sanitization printing warnings](https://mattermost.atlassian.net/browse/PLT-7563)
2. [Custom profile pictures not always displayed](https://mattermost.atlassian.net/browse/PLT-75

[2017-09-08 00:35] maruTA-bis5 commented on #7395
@jasonblais It works fine for me 👍

[2017-09-08 06:11] jespino commented on #7335
I'm working on it

[2017-09-08 06:28] Twilek-de commented on #7395
@jasonblais Just updated, seems to work. Thanks

[2017-09-08 06:46] lindy65 commented on #7395
Fantastic @Twilek-de and @maruTA-bis5

Pleased the issue is resolved :)

Thanks to @hmhealey and @jasonblais for looking in to this so quickly!

I'll close this issue off for now then...

[2017-09-08 06:46] #7395 closed

[2017-09-08 07:02] prixone commented on #7405
https://github.com/mattermost/mattermost-webapp/pull/16

Should fix the above for both cases:

``myproto1:blah`` and ``[link text](myproto1:blah)``

[2017-09-08 07:38] lindy65 commented on #7399
Hi @jtama

Thank you for your feedback,

There have been numerous improvements to markdown in recent releases.  Could you try upgrading to the [latest version](https://about.mattermost.com/download/) to see if the issue is resolved?

[2017-09-08 07:41] lindy65 commented on #7406
Hi @gtcode

Thank you for your feedback,

Could you share which server version you are using and whether you're on the Desktop App or browser?  If browser, which one?

We had a bug with timestamps that was fixed in a previous release so perhaps upgrading to the [latest version](https://about.mattermost.com/download/) will fix the issue for you.

[2017-09-08 08:00] lindy65 commented on #7407
Hi @ryantm

Thank you for your feedback,

Could you share which server version of Mattermost you are using?

There have been some recent improvements to markdown so perhaps upgrading to the [latest version](https://about.mattermost.com/download/) will solve the issue for you.

[2017-09-08 08:17] jtama commented on #7399
Hi,
The bug can be reproduced using the mattermost/mattermost-preview:latest docker image.

[2017-09-08 09:26] dfsp-spirit commented on #991
Animated GIFs work when posted as a link, but not when uploaded using the attachment function.

[2017-09-08 12:00] jasonblais commented on #7335
Awesome, thanks @jespino!

[2017-09-08 12:57] jespino commented on #7335
I have added the 2 PR needed (one in webapp and one in server)

[2017-09-08 13:15] jasonblais commented on #7335
Sweet, great work!

[2017-09-08 14:43] ryantm commented on #7407
@lindy65 Sure, I am using version 4.1.0, which appears to be the latest version at this time.

[2017-09-08 16:13] prixone commented on #7407
That is reproducible on pre-release as well, it seems to be related to a 3rd party library used for autolinker.

[2017-09-08 16:38] hmhealey commented on #7407
It's reproing on pre-release for me as well, but it doesn't happen on the mobile app, so I'll add it to the list of things the new markdown renderer does that the old one fails at. I'm very much looking forward to replacing it.

I've filed a ticket for the issue [here](https://mattermost.atlassian.net/browse/PLT-7592) if you'd like to track it further. In the mean time, you'll have to use `[this s

[2017-09-08 16:41] prixone commented on #7407
@hmhealey that fails if you have numbers in the first part, I've covered it here https://github.com/mattermost/mattermost-webapp/pull/16 but its not related to the rest of this issue.

[2017-09-08 17:01] jespino commented on #6932
I'm working on it :)

[2017-09-08 17:06] jasonblais commented on #6932
Sweet, thanks @jespino! 👍

[2017-09-08 18:58] gtcode commented on #7406
Hello @lindy65,

Sorry for the hasty bug report.

Upgrading worked!  My mistake, it's a non-issue.

[2017-09-08 18:58] #7406 closed

[2017-09-08 19:06] jasonblais commented on #6590
@dansto @sousapro @prixone Just a heads up that this issue will be fixed in Mattermost v4.3, released in October 16th.

I realize it's an inconvenience @dansto but the fix was too close to the v4.2 release date for us to take it, given the database changes involved.

[2017-09-08 19:10] esethna commented on #7372
Got it. That sounds like a bug, appreciate the repro steps. Thanks @kyonifer! I've filed a [ticket to track this issue in JIRA](https://mattermost.atlassian.net/browse/PLT-7603).

[2017-09-08 19:10] #7372 closed

[2017-09-08 19:45] lindy65 commented on #7406
No worries @gtcode,

Pleased your issue is resolved!

[2017-09-10 02:55] R-Wang97 commented on #7228
I can take a look at this!

[2017-09-10 05:44] prixone commented on #7403
Are you properly authenticating to the API and passing the token on the create request? perhaps the bad request comes from the token missing?

Also did u check the log file of mattermost? It usually contains additional useful information.

[2017-09-10 10:29] jespino commented on #7228
I'm working on it.

[2017-09-10 10:34] jespino commented on #7228
Ups, @R-Wang97 I didn't see your comment. I did some work, you can see it here (https://github.com/jespino/mattermost-webapp/commit/c95b1afbbcc2bd150c66d8f5b574f7a60414dc28) if you want to use it as base.

[2017-09-10 10:49] jespino commented on #7227
I'll try it :)

[2017-09-10 11:37] towolf commented on #7397
I've worked around this by changed the path to my own config file in the `mattermost.service` systemd unit:

`ExecStart=/opt/mattermost/bin/platform --disableconfigwatch --config foo-config.json`

Now `foo-config.json` won't be overwritten, and I can merge with upstream changes to `config.json`.

[2017-09-10 14:34] Twilek-de commented on #7397
Awesome, that´s a really good idea!

[2017-09-10 20:02] jespino commented on #7188
I don't understand what is the "link previews". Could you include a screenshot or something to clarify it?

[2017-09-10 22:25] R-Wang97 commented on #7228
@jespino Thanks, I'll take a look.

[2017-09-10 23:10] R-Wang97 commented on #6441
I can take this!

[2017-09-11 12:11] jasonblais commented on #7188
Thanks @jespino! I've updated the ticket description, let me know if you have any further questions?

[2017-09-11 16:01] lfbrock commented on #7354
Just to summarize the discussion that happened at https://pre-release.mattermost.com - the options for a work around are:

1. Temporarily turn on email sign in, and people can manually reclaim their accounts through password reset and then convert to GitLab login.
2. Use the bulk importer to update the auth method for those accounts: https://docs.mattermost.com/deployment/bulk-loading.html

In the

[2017-09-11 16:31] jespino commented on #7258
This is solved and already merged here mattermost/mattermost-webapp#2

[2017-09-11 16:50] jasonblais commented on #7258
Excellent, thanks @jespino!

[2017-09-11 16:50] #7258 closed

[2017-09-11 16:54] jespino commented on #7188
I'll take a look to it :)

[2017-09-11 17:15] jasonblais commented on #7188
Thanks @jespino!

[2017-09-11 22:43] jasonblais commented on #7346
### v4.2.0 RC3 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.2.0-rc3/mattermost-4.2.0-rc3-linux-amd64.tar.gz`

#### Approved fixes for RC4
1. Final translations PR

[2017-09-12 08:59] prixone commented on #7399
@jtama have you tried sending it without being as an attachment? it will lose the color bar, but I just wanted to know if the behavior would be the same.

[2017-09-12 09:00] lindy65 commented on #7403
Hi @jkae

Please let us know whether your issue is resolved with `prixone's` help above...  If not, feel free to re-open the issue and we'll try to troubleshoot further :)

[2017-09-12 09:00] #7403 closed

[2017-09-12 09:01] lindy65 commented on #7405
Hi @ryantm

Please let us know whether you still experience the issue since the fix from `prixone` has been merged.

Thanks!

[2017-09-12 09:01] #7405 closed

[2017-09-12 09:05] prixone commented on #7405
After it's merged ;)

[2017-09-12 15:46] jkae commented on #7403
@prixone No, I did not get that with my response for some reason.

My suggestion is simply that some of the more helpful status codes be implemented. I know *why* a 400 would be returned in this case, but if I'm creating accounts programmatically I don't want to have to match strings to figure out how I should handle the same error that could occur for different reasons.

[2017-09-12 16:40] prixone commented on #7403
@jkae you don''t need to match strings in the JSON response you also have a status code with is an int.

[2017-09-12 18:41] jasonblais commented on #4333
@jack-song Sorry for the delay in responding!

We've been discussing it in length and feel we should first propose a more complete design to help with the implementation. As a result, despite your interest @jack-song which is very much appreciated, we'll be closing this help wanted issue for now.

[2017-09-12 18:41] #4333 closed

[2017-09-12 19:26] drmoose opened #7437 "Old messages are inaccessible by permalink"
#### Summary
Clicking a link to jump to an old message in a popular channel hangs the client at "Loading..."

#### Steps to reproduce
Using MM server 4.1.0 backed by postgres (the "gitlab omnibus" version), on any client (tested on Electron and Firefox):
- Click a permalink (a url the form of `https://{domain}/{team}/pl/{post id}`) to a post written 6 months ago in a channel with >27k messages.

#

[2017-09-12 22:23] R-Wang97 commented on #6277
@jasonblais I totally forgot about this ticket, if it's still open I can take a stab at it!

[2017-09-12 22:54] jasonblais commented on #6277
Looks like it's still open, feel free to take it! Thanks @R-Wang97!

[2017-09-13 07:22] lindy65 commented on #7437
Hi @drmoose,

Thank you for your feedback,

We have fixed this bug (ticket [here](https://mattermost.atlassian.net/browse/PLT-7416)) in v4.2 which will release on September 16th.

You can download the latest version [here](https://about.mattermost.com/download/).

[2017-09-13 07:22] #7437 closed

[2017-09-13 07:57] lindy65 commented on #7180
Hi @j-p-k,

Circling back to see whether your issue is resolved?

[2017-09-13 08:01] lindy65 commented on #7341
Thanks, I'll close this issue off for now as it's fixed with v4.2 releasing on September, 16th.  You can download the latest version [here](.mattermost.com/download/) after the 16th.

[2017-09-13 08:01] #7341 closed

[2017-09-13 08:24] MufflerEU opened #7439 "ctrl + enter in mobile view does not send message"
#### Summary
ctrl + enter in mobile view does not send message

#### Steps to reproduce
Enter mobile view (i.e by web panel in vivaldi) and write a message. Ctrl + enter does not send the message but double tab and enter does.

#### Expected behavior
ctrl + enter should work as in web view.

[2017-09-13 13:04] phantomofrussia opened #7440 "Android Mattermost App not connecting to Server"
After putting in my server url, I get the following message "Cannot connect to the server. Please check your server URL and internet connection."

Uninstalled App reinstalled and happens every time. On coworkers iPhones, this does not happen and they can connect just fine. Using latest version of the App.

I know I have internet connection on my phone and if I go to the url using the phone web bro

[2017-09-13 18:51] kostich opened #7441 "URLs containing IDN TLD and non-latin characters not clickable in the chat"
#### Summary
URLs containing IDN TLD and non-latin characters not clickable in the chat.

#### Steps to reproduce
Input in any channel/private message some URL containing IDN TLD and send it. The URL won't become "clickable". For example, send `https://гном.срб/Изашао-је-Гном-3-26/` or `https://гном.срб/%D0%98%D0%B7%D0%B0%D1%88%D0%B0%D0%BE-%D1%98%D0%B5-%D0%93%D0%BD%D0%BE%D0%BC-3-26/` to someone. T

[2017-09-13 19:25] jespino commented on #7236
I'm working on it.

[2017-09-14 08:25] lindy65 commented on #7397
Hi @Twilek-de and @towolf

Thank you for your feedback,

From our devs, the solution seems to be to make sure to follow the upgrade steps and copy your config.json out and back in when upgrading.

[2017-09-14 08:25] #7397 closed

[2017-09-14 08:39] lindy65 commented on #7440
Hello @phantomofrussia,

Thanks for your feedback,

Could you share which server version of Mattermost you're using as well as an example of the URL you're trying to connect to?

Sometimes using `https://` vs `http://` can make a difference and the url shouldn't include the team name - just the server.  e.g. `https://servername.domainname.com`

Also are you using the Mattermost Classic app or the

[2017-09-14 08:51] lindy65 commented on #7439
Hi @MufflerEU,

Thank you for your feedback,

Could you share which version of Mattermost server you are using?

I've tried to reproduce your issue on Win, Chrome from mobile view but CTRL+enter works for me.  I'm also not sure whether Vivaldi browser is supported.  You can check the software requirements [here](https://docs.mattermost.com/install/requirements.html#software-requirements).

[2017-09-14 09:00] #7439 closed

[2017-09-14 09:01] MufflerEU commented on #7439
You are correct. I was way to fast on the trigger. Can't reproduce this in any other browser, just Vivaldis Web Panel. Sorry.

[2017-09-14 09:18] lindy65 commented on #7439
No worries at all @MufflerEU :)

[2017-09-14 10:26] jostyee opened #7443 "Please add proxy support for link previews, again"
As https://github.com/mattermost/mattermost-server/issues/5522 issued, we need to fetch previews via proxy most of the time, current code has a regression set proxy use to false https://github.com/mattermost/mattermost-server/blob/master/app/post.go#L658 , please change it back to true, thanks.

[2017-09-14 15:35] hmhealey commented on #7441
Hi @kostich, thanks for the report. It looks like the URL gets cut off when any period in the URL is followed by a non-latin letter since it thinks that is supposed to be the end of a sentence. I've filed a Jira ticket if you'd like to track the issue [here](https://mattermost.atlassian.net/browse/PLT-7640).

[2017-09-14 16:07] hmhealey commented on #7441
Also, you can work around this issue in the meantime by posting your link using the `[link title](link)` format so in this case, yours would be `[link title](https://гном.срб/Изашао-је-Гном-3-26/)` which will render as [link title](https://гном.срб/Изашао-је-Гном-3-26/)

[2017-09-14 16:16] kostich commented on #7441
Great. Thanks for the tip and Jira ticket @hmhealey!

[2017-09-15 03:23] jasonblais commented on #7346
v4.2.0 is now cut and available here: https://releases.mattermost.com/4.2.0/mattermost-4.2.0-linux-amd64.tar.gz

[2017-09-15 03:23] #7346 closed

[2017-09-15 03:46] jostyee commented on #7443
I rechecked 4.2 changelog and set `"AllowedUntrustedInternalConnections": "$my_proxy_addr"` then it works again.

[2017-09-15 03:46] #7443 closed

[2017-09-15 08:07] itaibaruch opened #7448 "Failed to render webapp when starting packaged build"
#### Summary
Build and Packaging of the project goes well with no error, but the executing the distributing package results 404.

#### Steps to reproduce
MacOS Sierra v 10.12.6
[code]
copy and extract 'dist/mattermost-team-osx-amd64.tar.gz' to /opt
config and start mysql

[code]

#### Expected behavior
open browser 'http://localhost:8065/' produce Mattermost homepage

#### Observed behavior (that

[2017-09-15 08:58] lindy65 commented on #7441
Thanks @kostich

I'll close this issue off for now and we can track via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7640).

[2017-09-15 08:58] #7441 closed

[2017-09-15 11:14] jespino commented on #7236
As part of this, I'm working on migrate to mattermost-redux the HistoryStore and the BrowserStore (the second one using the approach to convert it to a normal actions+reducer, and then use redux-offline to store the data in the localStorage/sessionStorage).

[2017-09-15 23:22] moonmeister commented on #7260
This can be closed

[2017-09-15 23:43] jasonblais commented on #7260
Thanks @moonmeister!

[2017-09-15 23:43] #7260 closed

[2017-09-16 07:54] guatedude2 opened #7453 "Slash integration "ephemeral" type attachments not showing up"
#### Summary
When adding a slash integration hook, and replying with an "ephemeral" response with an attachment and no "text" or blank "text" the attachment doesn't show up, but adding text does.

#### Steps to reproduce
Here's an example response of an integration attachment that won't show up:
[code]

but adding a blank text makes the attachment appear:

[code]

#### Expected behavior
when the s

[2017-09-16 08:00] guatedude2 opened #7454 "Slash integration "ephemeral" type attachment actions not showing up"
#### Summary
When adding an attachment to an ephemeral message response, the action's doesn't show up, preventing the user from interacting with the message.

#### Steps to reproduce
Have an integration server respond back with:
_Note: attachment won't show up unless you add "text" (related to https://github.com/mattermost/mattermost-server/issues/7453)_

[code]

#### Expected behavior
The attachm

[2017-09-17 07:33] kemenaran opened #7456 "Log `FileLocation` config behavior changed"
#### Summary
In the 4.2.0 release the behavior of the `FileLocation` config key for log files changed: it is now treated as a path (rather than a file).

#### Steps to reproduce
1. Install Mattermost 4.1.0
2. Open `config/config.json`
2. Configure the log file `FileLocation` configuration parameter to be `"/var/log/mattermost.log"`
3. Upgrade to Mattermost 4.2.0

#### Expected behavior
The upgrade

[2017-09-17 23:35] 001101 opened #7457 "[Enhancement] New Line should go with STRG + ENTER"
Write messages using the text input box at the bottom of Mattermost. Press ENTER to send a message. Use SHIFT+ENTER to create a new line without sending a message.

-----------

It just should be STRG + ENTER as usual

greets

[2017-09-18 08:02] lindy65 commented on #7457
Hi @001101,

Thank you for your feedback,

If I'm understanding your request properly, the feature available from Main Menu > Account Settings > Advanced > Send messages on CTRL+ENTER (on/off) is what you're looking for?

[2017-09-18 08:48] jtama commented on #7399
Hello,
The bug doesn't happen with plain message.

I think it's related to the "Show more\Show less" feature.

[2017-09-18 10:08] 001101 commented on #7457
@lindy65 Are you a bot?? Please lern reading, i don't write chinese.

[2017-09-18 10:20] lindy65 commented on #7457
Hello @001101

Must say, I'm a little offended by your message.  No, I'm not a bot, just someone trying to help.  Perhaps you should have mentioned you are using a German keyboard and that STRG = CTRL.

Obviously I totally misunderstood your message so I'll pass this on to our product team to see whether they can help you.

[2017-09-18 10:21] maxtar opened #7458 "Link not opened from e-mail notification."
When user received notification about new message and click on link he can see loading message. And message not showing.
When user click to "Click here for going last message" opening all topic.

![default](https://user-images.githubusercontent.com/10290098/30537855-11428bfe-9c74-11e7-9013-5da932558a5f.png)

[2017-09-18 12:46] jasonblais commented on #7453
@guatedude2 thanks for the report!

1) Just to confirm, if the following payload is sent by the slash command, the bot just sends a blank post?

[code]

2) Is the slash command posted in the center pane, or as a reply to an existing message?
3) What is your preferences set to in **Account Settings > Display > Message Display**? (Standard/Compact)

[2017-09-18 12:47] jasonblais commented on #7454
@guatedude2 thanks for the report!

1) Just to confirm, if the `response_type` is not `ephemeral`, then the buttons show up fine?
2) Is the slash command posted in the center pane, or as a reply to an existing message?
3) What is your preferences set to in **Account Settings > Display > Message Display**? (Standard/Compact)

[2017-09-18 14:41] limenleap opened #7465 "Mattermost does not load after upgrade to 4.7.2"
#### Summary
Mattermost 4.2 does not load in Windows browsers (Chrome and Firefox and Opera and Microsoft Edge) Works fine on the Android  and iPhone app.
#### Steps to reproduce
Upgrade to 4.2 following the instructions given on the Mattermost site.  Then start Chrome or Firefox and give the url as that of the mattermost server http://chat.tad.in.net

#### Expected behavior
Expected to get the lo

[2017-09-18 14:44] MusikPolice commented on #7456
This behaviour was intentionally changed as a part of https://github.com/mattermost/mattermost-server/commit/0b5c0794fdcbb551c1233dcdfbdf5c7deb585fd6

See the following tickets for context:
- https://github.com/mattermost/mattermost-server/pull/5949
- https://mattermost.atlassian.net/browse/PLT-5906

[2017-09-18 14:48] MusikPolice commented on #7456
Closing this issue, as the reported behaviour is intended.

[2017-09-18 15:23] jasonblais commented on #7456
Hey @kemenaran, thanks again for the report!

Just a couple of quick questions:
1) We had an upgrade note for v3.8 related to the filepath, not sure if you were aware? https://docs.mattermost.com/administration/important-upgrade-notes.html
2) Do you know if the log files were working properly in Mattermost v4.1 or not ?

[2017-09-18 16:17] kemenaran commented on #7456
@jasonblais thanks for the link to the documentation. I missed the upgrade notes for the 3.8 version, indeed. Anyway if this change was intentional I'll definitely fix the `mattermost_ynh` upgrade script to perform the relevant migration, and use the new behavior.

I looked at the log, and it seems in Mattermost 4.1 the messages were logged, but to an erroneous file. For instance with `FileLocatio

[2017-09-18 16:38] jasonblais commented on #7456
Thanks @kemenaran, sounds like it was most likely caused by the v3.8 breaking change.

Anything we could do better to announce/inform developers like yourself about such breaking changes?

[2017-09-18 17:21] ccbrown commented on #7465
Looks like there's something going on at the TCP level, which would explain why it's OS-specific and not browser-specific. The connection used by the first API request always breaks:

![image 1](https://user-images.githubusercontent.com/1731074/30554913-a3403316-9c6b-11e7-972c-6df22cccb40a.png)

Can you try connecting to the server directly, without going through NGINX?