[2017-11-09 06:28] lantran commented on #5465
@jasonblais : I looked the ticket and here is my approach. The idea is that I have to clean the url before I send the request to get OpenGraphData. Details:

* Removing markdown in `url` in `getOpenGraphMetadataForUrl` of `posts.js`
* Using similar logic from `removeCode` in `post_utils.jsx` to clean url

That is my plan. (I just looked at the code and how we implemented the feature) Let me know i

[2017-11-09 07:34] kolis commented on #7803
Our MM is tied to GitLab so I don't know when we are getting 4.3. I'll get back to you then if neccessary.

[2017-11-09 08:35] cpanato commented on #7800
PR: https://github.com/mattermost/mattermost-server/pull/7807

[2017-11-09 09:20] polskikh opened #7808 "OAuth state parameter invalid if its length > 128"
Hi there!

Why is valid **state** parameter length less or equal 128 symbols ([this code](https://github.com/mattermost/mattermost-server/blob/master/model/authorize.go#L65))? I can't find **state** parameter limitation by a length in RFC.

We use mattermost as OAuth authorization server for Concourse CI. Concourse CI can send a request with **state** parameter length greater 128 symbols. Because

[2017-11-09 09:30] KishoreFartiyal commented on #7560
@jasonblais I would like to work on it

[2017-11-09 09:31] KishoreFartiyal commented on #7582
@jasonblais no problem, I would pick another issue to work on

[2017-11-09 12:39] lindy65 commented on #7803
Ah ok, thanks @kolis, appreciate it.

[2017-11-09 12:53] #7751 closed

[2017-11-09 12:56] #7236 closed

[2017-11-09 12:57] #7674 closed

[2017-11-09 12:57] #7675 closed

[2017-11-09 12:57] #7677 closed

[2017-11-09 12:57] #7679 closed

[2017-11-09 12:58] #7680 closed

[2017-11-09 12:58] #7681 closed

[2017-11-09 12:58] #7684 closed

[2017-11-09 12:59] #7792 closed

[2017-11-09 13:05] avasconcelos114 commented on #7788
I'd like to take on this one

[2017-11-09 14:31] hmhealey commented on #5465
That general idea should work, but I'd caution you that the logic may have to be more complicated than the stuff in removeCode since code blocks are simpler than other formatted text since code can't be nested and doesn't depend on how the text around it looks (like these_words dont_italicize, but `_these words do_`). I haven't looked too much into this, but it may have been mislabeled as being ea

[2017-11-09 14:34] jasonblais commented on #5465
@lantran thanks for following up! I've posted your question in our community instance - to me it looks good but better to get someone with a stronger technical background to confirm,

https://pre-release.mattermost.com/core/pl/5keg13ugyiy8ic5ftjci49j54a

[2017-11-09 15:08] jespino commented on #7791
I'll do it :smile:

[2017-11-09 16:37] #7804 closed

[2017-11-09 18:42] jespino commented on #7791
Ready! (mattermost/mattermost-webapp#269) :smile:

[2017-11-09 22:47] jasonblais commented on #7771
### v4.4.0 RC2 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.4.0-rc2/mattermost-4.4.0-rc2-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/cce1b249fc75989dabf67e35a0a48533aaa49974/source/administration/changelog.md)

### Approved fixes for RC3
1. [JS error when removing

[2017-11-10 00:32] lantran commented on #5465
Thanks @hmhealey . I will try my best.

[2017-11-10 08:54] VictorLamoine commented on #7054
@SmartHoneybee Thanks a lot for the binaries you saved me a lot of time.
I have tested on Ubuntu 16.04 with an Odroid XU4 and it seems to works fine.

[2017-11-10 10:59] deveshjadon98 commented on #7790
I would like to work on it.

[2017-11-10 13:07] jasonblais commented on #7790
Go for it @deveshjadon98! 👍

[2017-11-10 13:22] jwilander commented on #7808
It's currently limited to that because that's what the database has as the max column size for the state. It is completely arbitrary and I can understand it causing issues with other services so I've created a ticket here to increase the limit https://mattermost.atlassian.net/browse/PLT-8114

[2017-11-10 15:29] jasonblais opened #7811 "Add the ability to revoke all user sessions of the system in System Console > Users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-10 15:30] jasonblais commented on #7493
Re-opened the second part (revoking all user sessions) here: https://github.com/mattermost/mattermost-server/issues/7493

Thanks again @rickbatka for this :) Very excited to add it in the next release

[2017-11-10 15:30] #7493 closed

[2017-11-10 17:39] esethna opened #7813 "[Help Wanted] [PLT-8102] Pinning a post causes one additional post to be loaded in the channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-10 18:54] TwizzyDizzy opened #7814 "Different behaviour when downloading releases from different IP ranges"
#### Summary
Download not possible from one IP range, but from another

#### Steps to reproduce
URL: https://releases.mattermost.com/4.3.2/mattermost-4.3.2-linux-amd64.tar.gz
Download mattermost from Server4You/HostEurope network (range: 62.75.168.0 - 62.75.171.255): success
Download mattermost from Hetzner network (range: 136.243.0.0 - 136.243.255.255): 401, Forbidden

#### Expected behavior
Make

[2017-11-10 18:57] TwizzyDizzy commented on #7814
Erm... well... nevermind. Release has been out <1h hour, maybe this was a CDN distribution lag.

[2017-11-10 18:57] #7814 closed

[2017-11-11 11:46] cpanato commented on #7811
I will work on that

[2017-11-12 07:36] tkbky commented on #7789
I will work on this.

[2017-11-12 08:34] avasconcelos114 commented on #7784
I'd like to work on this one

[2017-11-12 18:21] QuantumKing commented on #7487
I'll start working on this one

[2017-11-12 20:58] QuantumKing commented on #7487
I'll start working on this one

[2017-11-13 00:24] johncoleman83 commented on #5485
I just made a WIP - PR because I have not yet added tests. I wanted to open up the current solution that I am working on and approach for consultation from the maintainers/ developers.  One comment is that the generic thumbnail is never added to the app store, and I was not sure if is a change that should be added.

[2017-11-13 02:15] QuantumKing commented on #7489
I'm working on this one

[2017-11-13 06:27] deveshjadon98 commented on #7813
Working on it.

[2017-11-13 06:54] lindy65 commented on #5485
Hi @johncoleman83,

Thank you!  I'll ask our devs to chime in here or on the PR :)

[2017-11-13 07:27] tkbky opened #7821 "File upload is not working in development on master"
#### Summary

Branch: master
Environment: development

File upload is not working.

#### Steps to reproduce

1. Check out the latest master for mattermost-server (as of this [commit](https://github.com/mattermost/mattermost-server/commit/ae8fd37332ad9f01b762ab37f5662cdd33f1e232)) & mattermost-webapp (as of this [commit](https://github.com/mattermost/mattermost-webapp/commit/2b090e3205bb2c7f2387aac

[2017-11-13 11:14] saturninoabril commented on #7821
Thanks for your report!
I am able to repo the same and have created a ticket at [Jira](https://mattermost.atlassian.net/browse/PLT-8121).
I am closing this issue as it will be tracked there.

Again, thanks!

[2017-11-13 11:15] #7821 closed

[2017-11-13 11:52] KishoreFartiyal commented on #5736
@jasonblais It's working in IE11 on my system. Autocomplete remains open after hitting space

[2017-11-13 11:55] KishoreFartiyal commented on #4852
@jasonblais I am on it

[2017-11-13 11:58] saturninoabril commented on #5485
Thanks @johncoleman83!
I've made comments on your WIP PR.

[2017-11-13 12:24] tareko opened #7822 "Thumbnails are too small and not configurable"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Image thumbnails are too small and not configurable. This

[2017-11-13 12:36] tareko opened #7823 "List of pinned posts does not refresh when changing channel"
#### Summary
When a list of pinned posts is loaded, it does not refresh when a channel is changed to the pinned posts of that channel.

#### Steps to reproduce
* Click on "pinned posts" to load list of pinned posts for list.
* Change channel

#### Expected behavior
The pinned posts of the new channel should appear in the list of pinned posts

#### Observed behavior (that appears unintentional)
The

[2017-11-13 13:13] jasonblais commented on #4852
Sweet, thanks @KishoreFartiyal!

[2017-11-13 14:00] #7583 closed

[2017-11-13 14:42] saturninoabril commented on #7821
Got an info from @jwilander that this was recently fix by this latest commit - https://github.com/mattermost/mattermost-webapp/pull/265

[2017-11-13 15:01] giladgd opened #7824 "[bug][major] Message aren't sent in Direct message channel created via ctrl+k"
#### Summary
Creating a new direct message channel via ctrl+k creates a channel in which sending a message result in being shown as sent without being sent

#### Steps to reproduce
1. create a new user userA in Mattermost
2. ‎create a new user userB in Mattermost
3. ‎log in to userA
4. ‎hit ctrl+K
5. ‎type the name of userB
6. ‎press enter - you'll see that the direct message channel is created in

[2017-11-13 15:05] jasonblais commented on #7824
Thanks @giladgd! This was actually fixed in 4.3.2, released on Friday and available for download: https://about.mattermost.com/download

[2017-11-13 16:13] GiancarloJSantos commented on #6320
Another "fix" . Hope this help

http://www.akitaonrails.com/2016/08/12/hacking-mattermost-team-edition

[2017-11-13 18:30] esetera commented on #7822
Just an extra piece of detail.. images appear too small when:

-  the image is **uploaded** to mattermost from any device

- the image is added by **including as an img url** from the mattermost app

When an image is added as an image url using a desktop browser, then it appears in the larger (desired) format.  Which is to say, the behaviour currently is inconsistent.

We would prefer the larger f

[2017-11-13 20:55] lindalumitchell commented on #5736
@jasonblais @KishoreFartiyal I verified this does not reproduce for me either, on IE11. Closing issue.

[2017-11-13 20:55] #5736 closed

[2017-11-14 03:08] mogul opened #7829 "AmazonS3Region defaults to us-east-1 no matter what AmazonS3Endpoint is set"
#### Summary
AmazonS3Region default doesn't match docs, which prevents S3 buckets in regions other than `us-east-1` from working.

#### Steps to reproduce

Given I set an `AmazonS3Endpoint` value of `s3-us-gov-west-1.amazonaws.com`
When I try to attach a file to a post
Then I see the message:
  `Encountered an error writing to S3`
And in the logs I see:
  `2017-11-13T19:00:13.64-0800 [APP/PROC/WEB

[2017-11-14 04:22] karlvlam commented on #1837
+1

[2017-11-14 08:44] lindy65 commented on #7829
Hi @mogul,

Thanks for the report and pull request!  I see you have signed the CLA - appreciated :)

Our devs will take a look at your PR as soon as they're able.

[2017-11-14 13:03] jasonblais commented on #7813
@deveshjadon98 Looks like this issue is fixed on `master`. I'll close this ticket.

Would there be another ticket you'd be interested helping with?

[2017-11-14 13:03] #7813 closed

[2017-11-14 13:06] deveshjadon98 commented on #7813
great, you can assign me any if you want. otherwise I'll browse through the issues.

[2017-11-14 14:39] jasonblais commented on #7813
@deveshjadon98 Here's a few good ones you can pick from, based on your interest:
 - https://github.com/mattermost/mattermost-server/issues/7774
 - https://github.com/mattermost/mattermost-server/issues/7316
 - https://github.com/mattermost/mattermost-server/issues/7257
 - https://github.com/mattermost/mattermost-server/issues/6283
 - https://github.com/mattermost/mattermost-server/issues/5790

Big

[2017-11-14 14:46] robinj opened #7831 ""No such file or directory .../mattermost-server/package.json" when trying to run tests"
#### Summary
When running `make test` or `make test-client` the tests fail to run for the webapp

#### Steps to reproduce
1. Follow the developer [setup](https://docs.mattermost.com/developer/dev-setup-ubuntu-1604.html)
2. Compile Mattermost using the [instructions](https://docs.mattermost.com/developer/dev-setup-compiling.html)
3. Run the tests as per the [developer flow](https://docs.mattermost.

[2017-11-14 17:06] esethna opened #7832 "[Help Wanted] [PLT-6309] Integrations: Use overwritten username in email and push notifications"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-14 18:40] lindy65 commented on #7823
Hi @tareko,

Thanks for your feedback!

This is something our UX team has been discussing and feel that having some types of right-hand-side content follow the current channel is desired.

At other times, you wouldn't want the content in the right-hand-side to follow the current channel - e.g. for the selected thread or search.

We're also discussing whether to move the channel info or member list

[2017-11-14 19:11] jasonblais commented on #7771
### v4.4.0 RC3 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.4.0-rc3/mattermost-4.4.0-rc3-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/cce1b249fc75989dabf67e35a0a48533aaa49974/source/administration/changelog.md)

### Approved fixes for RC3
1. [Compact view: Edited me

[2017-11-14 19:19] jasonblais commented on #7771
### v4.4.0 RC3 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.4.0-rc3/mattermost-4.4.0-rc3-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/cce1b249fc75989dabf67e35a0a48533aaa49974/source/administration/changelog.md)

[2017-11-14 21:41] esethna commented on #7822
Thanks @tareko @esetera for the feedback. We are definitely aware of the visual issues with image thumbnails and we are actually planning on implementing improvements over the next few releases. You can track the progress here of the first phase of implementation here: https://mattermost.atlassian.net/browse/PLT-7939

[2017-11-14 23:09] 6a7070 opened #7834 "hostname search failed in Mattermost"
#### Summary
When searching historical messages in Mattermost, the search engine does not return results for messages that involve only an FQDNs (ex. hostname.test.com) IF a part of the hostname is used as the search query.

#### Steps to reproduce
Setup 2 users. Have user1 message user2 with the message `hostname.test.com`. Have user2 search for `hostna` or `hostname`.

#### Expected behavior
Ide

[2017-11-14 23:35] johncoleman83 commented on #5485
@saturninoabril or @lindy65... did you see my responses to you?  I have a few questions about your comments.

[2017-11-15 06:30] lindy65 commented on #5485
Hi @johncoleman83,

I see `saturninoabril` has commented on one of your PRs and dev review has been requested on the other so you should hear back soon!

[2017-11-15 08:33] lindy65 commented on #7769
Hi @Ppjet6

Have you had a chance to update to the latest version of Mattermost yet?  You might like to wait until tomorrow (11/16) when the latest version (4.4) is released.

Please let us know if your issue is resolved after updating :)

[2017-11-15 08:37] lindy65 commented on #7739
Hi @larsl

I'll close this issue off here for now and we can track via the ticket on the [desktop app repo](https://github.com/mattermost/desktop/issues/538)

[2017-11-15 08:37] #7739 closed

[2017-11-15 08:40] lindy65 commented on #7738
Hi @sokoow

We haven't received an update so we'll assume that the problem is fixed and help from `ccbrown` above was what you were looking for.

If not, please reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-11-15 08:40] #7738 closed

[2017-11-15 09:17] chumbalum opened #7836 "Mattermost behind Basic Auth"
#### Summary
We would like to use Mattermost behind Basic Auth, which unfortunately doesn't work without problems. Also, the behaviour differs between browsers. Especially Chrome and therefore the Mattermost Desktop Clients won't work well together with this scenario.

The issue seems to come from the websocket connection which is initiated after the root page is loaded. It seems that previously e

[2017-11-15 10:16] saturninoabril commented on #7831
This will be solved after this PR https://github.com/mattermost/mattermost-webapp/pull/303 gets merged.

I'm closing this ticket. Thanks!

[2017-11-15 10:16] #7831 closed

[2017-11-15 12:08] KishoreFartiyal commented on #5728
@jasonblais I would like to work on this issue.

[2017-11-15 13:02] jasonblais commented on #5728
Sweet, go for it @KishoreFartiyal!

[2017-11-15 13:35] deveshjadon98 commented on #7257
working on it

[2017-11-15 13:35] saturninoabril commented on #5485
@johncoleman83 Sorry for the delay. I've responded to your comments to server PR. Also. let's wait for @hmhealey's review for his better approach in handling thumbnail path.
Thanks for your contribution!

[2017-11-15 13:38] deveshjadon98 commented on #5790
i would like to work on it.

[2017-11-15 13:40] deveshjadon98 commented on #7813
thanks @jasonblais

[2017-11-15 14:00] cpanato commented on #7832
i will work on this

[2017-11-15 18:17] lindy65 commented on #7834
Hi @6a7070,

Thanks for your feedback!

Currently, search defaults to full-word matching.  For your example above, try using `hostna*` or `hostname*` which should return results.

[2017-11-15 21:45] jasonblais commented on #7771
### v4.4.0 RC5 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.4.0-rc5/mattermost-4.4.0-rc5-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/cce1b249fc75989dabf67e35a0a48533aaa49974/source/administration/changelog.md)

[2017-11-16 01:25] h2oloopan commented on #7721
Hi,

I have done some research but I think I may need some help clarifying whether my understanding is correct.

1. When we are communicating with the server from the webapp, we are doing RESTful API calls but when going backward (from server to the webapp) we are doing websocket messaging.
2. We don't have any specific action that updates the user's status on the server. We only call the method t

[2017-11-16 02:19] xcompass opened #7838 "Failed to load config.json in an alternative location in 4.4.0"
#### Summary
Failed to load config.json in an alternative location

#### Steps to reproduce
[code]
#### Expected behavior
Start server without any problem.

#### Observed behavior (that appears unintentional)
Please see the steps to reproduce

#### Notes
- The above steps are running inside a docker container from https://hub.docker.com/r/mattermost/mattermost-prod-app/ with latest 4.4.0 version.

[2017-11-16 05:55] jasonblais commented on #7771
The final build for v4.4 is now cut and available for download on the 16th: https://about.mattermost.com/download/

[2017-11-16 05:55] #7771 closed

[2017-11-16 06:40] tkbky opened #7849 "Failed to upload multiple files in development on master"
#### Summary

Branch: master
Environment: development

When uploading more than 1 file in a channel for a single post, it fails and the page turns blank.

#### Steps to reproduce

1. Click on the upload file button.
2. Select multiple files.
3. Click open.

OR

1. Click on the upload file button.
2. Select 1 file.
3. Click open.
4. Repeat step 1 to 3.

#### Expected behavior

Multiple files can be

[2017-11-16 07:48] towolf commented on #7838
Confirming. Mattermost server failed to start with 4.4.0.

[code]

And then it apparently loads the default `config.json` and fails to connect to MySQL on `dockerhost`, i.e., a non-existing default hostname.

[2017-11-16 08:21] lindy65 commented on #7740
Thanks for the PR @cpfeiffer !

I'll close this issue off now that the PR has been merged :)

[2017-11-16 08:21] #7740 closed

[2017-11-16 10:49] grundleborg commented on #7838
I've verified that this bug exists in 4.4.0 and filed a JIRA ticket with the results of my investigation here https://mattermost.atlassian.net/browse/PLT-8149

[2017-11-16 12:16] KishoreFartiyal commented on #5728
@jasonblais
What if user types /collapse in channel ABC , moves to the other channel and comes back to channel ABC?
In that case, previous image links in channel ABC will be collapsed or expanded?

[2017-11-16 13:06] jasonblais commented on #5728
@KishoreFartiyal They should stay collapsed if they switch back to the channel.

[2017-11-16 13:47] jasonblais commented on #7849
Are you building from the latest `master`? I just tried and it seems to work.

[2017-11-16 14:40] #7838 closed

[2017-11-16 14:56] tkbky commented on #7849
Yes, I'm building from the latest `master` for both server & webapp.

[2017-11-17 08:29] saturninoabril commented on #7849
Got the same error as @tkbky reported. I filed a ticket here - https://github.com/mattermost/mattermost-server/issues/7849. I'm closing this issue since it will be tracked at Jira.
Thanks @tkbky!

[2017-11-17 08:29] #7849 closed

[2017-11-17 09:47] alesswin opened #7858 "Message notification sound during phone calls"
#### Summary
When receiving a message while taking a phone call the message notification sound is played.
Since the focus usually is to be able to talk and understand the other person, hearing that sound is quite surprising.

#### Environment
iOS 11.1.2
Mattermost Classic - Team Edition Version 4.2.0

#### Steps to reproduce
* talk on the phone
* receive a message
=> message notification sound dur

[2017-11-17 12:44] mariusk commented on #603
So did this stop working with later versions, a regression perhaps?

[2017-11-17 16:28] #7615 closed

[2017-11-17 16:45] cpanato commented on #7513
still waiting for more information

[2017-11-17 16:57] jespino commented on #7787
I'll do it.

[2017-11-17 17:34] jasonblais commented on #7513
Who have you asked @cpanato?

[2017-11-17 17:36] esethna commented on #7836
Thanks for the suggestion @chumbalum. Can I please ask your help in opening a [feature idea on our forum](https://mattermost.uservoice.com/forums/306457-general) and moving the discussion there? This isn't something we currently support but I can understand how this would be a requirement for certain companies.

[2017-11-17 18:12] cpanato commented on #7513
@jasonblais yes, in the pre-release and also in the JIRA

[2017-11-17 18:47] stephenkiers commented on #6283
Currently a emoji is not automatically selected. For this feature, you would need to always have a emoji selected (first one by default, I assume) and the arrows would move the selection around.
The selection would reset to default (0) on search term change.
Hitting enter would select the currently selected emoji.
Mouseover would change selection and would leave emoji selected when they leave the

[2017-11-17 19:09] jasonblais commented on #6283
@stephenkiers Are we forced to have an emoji selected when opening the picker? Instead of having the focus on the search bar by default?

Slack has the focus on the search bar, and clicking on the down-arrow brings you to the first emoji on the list.

----

Other notes:

Both sound good.

I can touch base with our UX team on that.

[2017-11-17 20:11] stephenkiers commented on #6283
Actual 'Focus' would still be in the search bar. The emoji would simply be highlighted

[2017-11-17 20:30] jasonblais commented on #6283
Thanks @stephenkiers, that makes sense.

Just curious: is this a requirement for this feature, or does it make implementation easier?

[2017-11-17 20:39] stephenkiers commented on #6283
It isn't a requirement, but in order to use keyboard short cuts (up, left,
right, down) I assume you need a visual way to see where the cursor is.
highlighting the emoji seems the most straight-forward to me, as it
piggybacks off current UI.

I guess you could only show selection once up down right or left is
clicked; but I don't think that is as intuitive for the end user. Having
one preselected

[2017-11-17 20:39] stephenkiers commented on #6283
I am open to other UX suggestions though.

On Fri, Nov 17, 2017 at 1:39 PM, Stephen Kiers <stephen@stephenkiers.com>
wrote:

[2017-11-18 16:02] jwilander commented on #7721
Hi @h2oloopan,

Number 1 is correct, the server determines online status based on RESTful API calls the web app makes and the server alerts all a user's clients to status changes using the WebSocket.

For number 2 [we actually do have an endpoint dedicated to updating the user's status](https://api.mattermost.com/#tag/status%2Fpaths%2F~1users~1%7Buser_id%7D~1status%2Fput) but it acts as the user "

[2017-11-18 19:30] jasonblais commented on #5173
Closing, given support for private S3 VPC endpoints and S3 encryption has been added.

A separate ticket for IAM roles created [here](https://mattermost.atlassian.net/browse/PLT-8186), which we'll likely make help wanted next week.

[2017-11-18 19:30] #5173 closed

[2017-11-18 20:43] tejaycar commented on #5173
I've already got a PR out there for the IAM roles.  It just needs to get
updated to point against the new split repos and incorporate a little bit
of feedback from your design team

On Nov 18, 2017 12:31 PM, "Jason Blais" <notifications@github.com> wrote:

[2017-11-18 23:00] jespino commented on #7780
I'll do it 😃

[2017-11-19 14:10] jespino commented on #7779
Done! 😃

[2017-11-19 14:10] jespino commented on #7778
I going to do it too.

[2017-11-19 16:01] jespino commented on #7781
I going to do it

[2017-11-19 16:58] h2oloopan commented on #7721
Sounds good, I will start working on it now (option 1).

[2017-11-19 19:12] #7678 closed

[2017-11-19 19:15] #7791 closed

[2017-11-19 19:15] #7788 closed

[2017-11-19 19:30] jasonblais commented on #5173
@tejaycar Excellent point - I added a link to your PR in the ticket description.

We have a lot of community members working on help wanted tickets so I thought someone might pick this one up, since I know you're busy at the moment. If no one has when you get back to your PR, we'd be more than happy to work with you on it :)

[2017-11-19 19:37] chumbalum commented on #7836
Yeah, I can take that idea to the forums

[2017-11-20 06:37] lindy65 commented on #7858
Hi @alesswin,

Thanks for your feedback,

Could you share whether you're using the Android or iOS app and whether it's the "classic" or "native" app?

I use the native app on Android and I can disable (in my phone's settings) playing sounds while I'm on a phonecall.  Just wondered whether you're also able to change this setting on your phone?

[2017-11-20 06:38] lindy65 commented on #7836
Thanks @chumbalum!

Please post a link to your feature request back here for continuity?

[2017-11-20 06:40] lindy65 commented on #7829
I'll close this issue off here for now and we can track via the PR linked above.

[2017-11-20 06:40] #7829 closed

[2017-11-20 06:41] lindy65 commented on #7824
I'll close this issue off for now. Please feel free to reopen if you are still experiencing issues after downloading the latest version.  Thanks!

[2017-11-20 06:41] #7824 closed

[2017-11-20 06:42] lindy65 commented on #7822
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-11-20 06:42] #7822 closed

[2017-11-20 06:43] lindy65 commented on #7808
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-11-20 06:43] #7808 closed

[2017-11-20 09:10] chumbalum commented on #7836
Hi @lindy65

I created a feature suggestion: https://mattermost.uservoice.com/forums/306457-general/suggestions/32320387-support-mattermost-behind-basic-auth

greetings,
chumbalum

[2017-11-20 10:05] Merlin2001 opened #7861 "Channel Header Formatting: Code Blocks Aren't Readable"
#### Summary
When using emojis in the channel header text, their bottom part is truncated. When formatting the text as code block, it is not readable at all because it is truncated.

#### Version/Client Info
**Mattermost Team Edition** Version 4.2.0 on postgres DB - build hash a5ce36d0882ae1b4b409a7b68233bf89591a5f95
**Windows Client** v3.7.1 as well as
**Chrome** (Version 62.0.3202.94 (official b

[2017-11-20 10:25] alesswin commented on #7858
@lindy65
I encountered the problem on the iOS classic app.

Thanks in advance!

[2017-11-20 12:58] jasonblais commented on #6284
Thanks @R-Wang97! :tada:

[2017-11-20 15:08] redtux commented on #78
As I was just looking for the same: https://github.com/Crivaledaz/Mattermost-LDAP

[2017-11-20 16:30] jwilander commented on #7172
@cpanato this is essentially adding support to incoming webhooks to accept the Content-Type [multipart/form-data](https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.2)

[2017-11-20 16:47] cpanato commented on #7172
thanks @jwilander
should I look into here? `HandleIncomingWebhook` in the `webhook.go` ?

[2017-11-20 17:04] jwilander commented on #7172
Probably in `incomingWebhook` in `api4/webhook.go` (see how we're handling "application/x-www-form-urlencoded" already)

[2017-11-20 18:18] lindy65 commented on #7836
Thanks so much @chumbalum :)

I'll close this issue off here for now and we can track progress via the suggestion linked above...

[2017-11-20 18:18] #7836 closed

[2017-11-20 21:20] stephenkiers commented on #6283
Perhaps Up for Grabs should be removed while this PR is pending.

[2017-11-20 21:22] esethna commented on #6283
Removed, thanks!

[2017-11-20 22:42] philippe-granet commented on #4640
**Mattermost announce "Plugin Support in Beta" :**
_New plugins allow IT admins to deeply customize your experience by overriding key parts of the Mattermost user interface and server functions._
https://about.mattermost.com/blog/mattermost-4-4/

**If someone can make a plugin and replace this line :**
https://github.com/mattermost/mattermost-webapp/blob/master/components/at_mention/at_mention.jsx

[2017-11-20 23:57] kaakaa commented on #6724
Thanks @jwilander! and sorry for my late replying.
Got it! I'll do that and send PR later. I try to update API reference!

woops...since it's my mistakes, I'll fix the constant names. Thank you!

[2017-11-21 01:05] jasonblais commented on #4640
@philippe-granet We also have a help wanted ticket for doing the change directly in the code, if you're interested helping with it :)

https://github.com/mattermost/mattermost-server/issues/7562

[2017-11-21 02:07] #7800 closed

[2017-11-21 07:18] darkzcythe opened #7868 "Able to sign up with an email address WITHOUT domain extension"
#### Summary
User is able to sign up with an email address without the domain extension (e.g. '.com').

#### Steps to reproduce
1) Access https://oss.mattermost.com/
2) On the login page, click the **Create one now** link
3) On the **What's your email address?** text box, enter an email address WITHOUT a domain name extension. e.g. invalid@email
4) Enter a VALID username on the **Choose your usern

[2017-11-21 08:25] lindy65 commented on #7868
Thanks for the report @darkzcythe,

I've reproduced your issue on oss.mattermost.com as well as our nightly build server and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8205) for our team to investigate.

[2017-11-21 08:37] lindy65 commented on #7861
Hi @Merlin2001,

Thanks for your report!

I've reproduced the code block issue on our nightly build server that builds off master but am not able to reproduce the emoji issue.

Could we have your help updating to the [latest version](https://about.mattermost.com/download/) of Mattermost to see whether the emoji issue still reproduces for you?

In the meantime, I've created [this ticket](https://ma

[2017-11-21 08:38] lindy65 commented on #7858
Thanks @alesswin,

Are you able to change your actual phone's settings to not play sounds while on phonecalls?  Or have you already done this and sounds from the iOS classic app still play?  Just want to understand your issue better as I do not have an iOS phone.

[2017-11-21 08:56] alesswin commented on #7858
@lindy65
I could turn off the notfications for mattermost classic, but there is no condition to limit the notification beeing suppressed only during a phone call.

[2017-11-21 09:06] Merlin2001 commented on #7861
Hi @lindy65,

thank you very much for your lightning-fast response and creating the ticket!

Unfortunately, I'm not in control of the server version here, since it's a deployment in a rather large corporation. Maybe somebody else can('t) reproduce this and chime in here. I'll report back, of course, should we update anytime soon :)

Thanks again!

[2017-11-21 09:19] lindy65 commented on #7861
Thanks @Merlin2001 :)

We'll wait to see whether someone else can reproduce the emoji issue and work on the ticket in the meantime.  Let us know how it goes once your company has updated the server!

[2017-11-21 09:21] lindy65 commented on #7858
Thank for the feedback @alesswin,

Yes, agree, that is not a good solution...

What I was wondering is that, without being in any app on your phone, is there a general setting in your phone's settings where you can disable sounds while on phonecalls?  I can do this on my Android phone but do not have an iOS phone to test with.

[2017-11-21 09:50] alesswin commented on #7858
@lindy65
On iOS there is no such option.

[2017-11-21 10:27] treba123 opened #7869 "Email format problems: "name <email@address.do>" vs "email@address.do""
#### Summary
The email invitation field accepts emails in the format `name <email@address.do>` and sets the email of the corresponding user to that value.

When these users try to log in via email (instead of user name), they can't just use `email@address.do`, but have to use `name <email@address.do>`.

#### Steps to reproduce
4.2, upgraded to 4.4

Invite a user using the email invitation. Write t

[2017-11-21 10:34] philippe-granet commented on #7562
@mikaoelitiana Do you work on this issue?

[2017-11-21 11:10] mikaoelitiana commented on #7562
@philippe-granet Yes I was but I got a computer issue for a few weeks now and I can't work on it yet. Are you willing to complete the PR?

[2017-11-21 13:52] cpanato commented on #7172
on it 😄

[2017-11-21 14:48] #6284 closed

[2017-11-21 14:48] #6326 closed

[2017-11-21 14:51] #7627 closed

[2017-11-21 14:51] #7618 closed

[2017-11-21 16:50] cpanato commented on #7172
PR: https://github.com/mattermost/mattermost-server/pull/7873

[2017-11-21 17:14] esethna opened #7874 "[Help Wanted] [PLT-8212] Team name can be edited to be only one character long"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:36] esethna opened #7875 "[Help Wanted] [PLT-8186] Add support for AWS Identity and Access Management (IAM) role, and add a button to test AWS connection"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:36] esethna opened #7876 "[Help Wanted] [PLT-7537] Post a system message when a channel is moved between teams"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:36] esethna opened #7877 "[Help Wanted] [PLT-7536] Post a system message when a team is changed from public private."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:42] esethna opened #7878 "[Help Wanted] [PLT-8185] User should be notified consistently when deleting parent post from RHS"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:42] esethna opened #7879 "[Help Wanted] [PLT-8181] Add account creation redirect to channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:42] esethna opened #7880 "[Help Wanted] [PLT-8173] Add username and profile picture to webhook set up pages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:47] esethna opened #7881 "[Help Wanted] [PLT-8024] Support LOGIN authentication method for SMTP"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 17:50] jwilander commented on #7880
There's no server support for this yet so the server will need changes first (mainly new DB columns).

[2017-11-21 20:13] esethna opened #7882 "[Help Wanted] [PLT-7972] Ability to reset your own password via System Console Users List"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-21 20:24] Matterchen opened #7883 "Update readme images"
#### Summary
Using this issue to [upload images](http://solutionoptimist.com/2013/12/28/awesome-github-tricks/). Please ignore.

#### Images
![mattermost screenshot](https://user-images.githubusercontent.com/33878967/33094860-66e984ee-ceb6-11e7-8955-ec6b23deaf09.png)

![mattermost logo](https://user-images.githubusercontent.com/33878967/33094917-a8d6158e-ceb6-11e7-8b24-2f42c98de634.png)

![linux](

[2017-11-21 20:24] #7883 closed

[2017-11-21 20:38] Matterchen commented on #7883
#### Smaller images
![mattermost logo](https://user-images.githubusercontent.com/33878967/33095422-7c8aa7a4-ceb8-11e7-810a-4b261fdff6d6.png)

![playstore](https://user-images.githubusercontent.com/33878967/33095356-39b6fbf8-ceb8-11e7-8a61-c3a18fa5e658.png)
![appstore](https://user-images.githubusercontent.com/33878967/33095353-397e69b4-ceb8-11e7-8175-f95a97d5274f.png)
![windowspc](https://user-ima

[2017-11-21 22:50] andersaamodt commented on #4233
Can we add an option to increase the size of emoji reactions please? My team has been uploading memes and pictures of our faces to use as emojis, so if they were a tiny bit bigger they would be much more legible. Could be a personal setting or a serverwide setting.

[2017-11-21 22:59] esethna opened #7890 "[Help Wanted] [PLT-8214] Add "Add reaction" tooltip when hovering over the plus-icon for reactions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-22 01:02] jasonblais commented on #7890
@R-Wang97 Curious if you'd interested taking a look, given you added the "+" icon for emoji reactions.

I really like the feature by the way, nice work 👍

[2017-11-22 03:35] R-Wang97 commented on #7890
@jasonblais I'd love to take a look!

[2017-11-22 06:39] lindy65 commented on #7858
Thanks @alesswin,

I'll post this issue to the product team and ask for their input.

[2017-11-22 06:43] lindy65 commented on #7868
I'll close this issue off for now as it's intended behavior.

[2017-11-22 06:43] #7868 closed

[2017-11-22 06:44] lindy65 commented on #7834
I'll close this issue off for now, please feel free to re-open if you have further questions or issues.

[2017-11-22 06:44] #7834 closed

[2017-11-22 06:45] lindy65 commented on #7823
I'll close this issue off here for now.  Please feel free to open a feature suggestion via the link above.

[2017-11-22 06:45] #7823 closed

[2017-11-22 07:54] lindy65 commented on #7769
Hi @Ppjet6, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-11-22 07:56] lindy65 commented on #7803
I'll close this issue off for now @kolis

If you still experience the issue after upgrading to the latest version, please feel free to reopen and we can help troubleshoot further.

[2017-11-22 07:56] #7803 closed

[2017-11-22 08:32] alesswin commented on #7858
@lindy65
Thank you as well

[2017-11-22 08:55] cpanato commented on #7882
I will work on that

[2017-11-22 09:01] cpanato commented on #7832
any update on this @jasonblais  ?

[2017-11-22 13:00] jasonblais commented on #7832
@cpanato It hasn't been tested yet, but once it is, the JIRA ticket will be closed if it's fixed (and I'll close this ticket)

[2017-11-22 13:05] cpanato commented on #7832
asking that, because I'm doing my trello planning 😄

[2017-11-22 14:55] arjitc commented on #5072
+1 an option to change the colour under the themes option would be very good.

[2017-11-22 17:18] arjitc opened #7894 "Ability to change own message background color"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Ability to change own message background color

#### Step

[2017-11-22 17:56] lfbrock commented on #7869
Hi @treba123 - sorry to clarify, is this adding something like <name>name@email.com in the invite field?

Or would you be able to send screenshots of an example of what exactly is entered on the invite and then sign in screen?

[2017-11-22 18:08] pruthvip commented on #7874
Will give it a try

[2017-11-22 18:13] gutosurrex commented on #643
+1 our ngo is giving up on mattermost in favor of rocket.chat because of this issue... I will keep tracking the ticket, though.

[2017-11-22 18:45] lindy65 commented on #7858
Hi @alesswin,

Could you share the OS version on your phone as well as the Mattermost server version you're running?  (You can check this by clicking on the "hamburger" menu to the right of your team name then selecting "About Mattermost")

It would just help us trying to reproduce your issue...

[2017-11-22 18:50] cpanato commented on #7882
PR: https://github.com/mattermost/mattermost-server/pull/7895

[2017-11-22 20:01] esethna commented on #7616
Hey @santos22, hope all is well! Just letting you know that we have the cut off date for merging major features for the 4.5 release coming up on November 29th. Anything we can help with on this ticket?

[2017-11-23 05:36] deletedaccount2902031 opened #7896 "How to Remove About Tab for MatterMost"
How do you remove the about tab on Mattermost server?

![image](https://user-images.githubusercontent.com/23587022/33159953-66b02dbc-cfe6-11e7-9b73-08cb9235f497.png)

[2017-11-23 09:12] treba123 commented on #7869
I entered "Alexej <alexej@gmail.com>" in the invite field (this is common when copying from an email client).

He gets the invitation delivered correctly to alexej@gmail.com.

On the login screen, he can now login with "Alexej <alexej@gmail.com>", but not with "alexej@gmail.com".

[2017-11-23 09:38] lindy65 commented on #7894
Hi @arjitc

Thanks for your feedback,

This feature is not yet available,

Could we have your help opening a feature suggestion on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you and others can up-vote it up to 10 times to increase its popularity?

Thanks!

[2017-11-23 09:44] alesswin commented on #7858
@lindy65
I extended the first post.
Unfortunately I have no clue which server version is running.
Thanks in advance,
Alessandro.

[2017-11-23 10:05] lindy65 commented on #7858
Thanks @alesswin

I think you've listed the server version where you added it to your first post?

I'm not sure whether you'd be open to using the native beta app?  You can sign up for testing [here](https://github.com/mattermost/mattermost-mobile/blob/master/README.md#testing)

In the meantime, one of the product managers tested Mattermost Classic while receiving a phonecall on Facetime and heard

[2017-11-23 13:10] xtimon opened #7897 "It's possible to determine the existence of user in the system by HTTP response code"
#### Summary
It's possible to determine the existence of user in the system by HTTP response code:
if response code is 400 - user doesn't exist
if response code is 401 - user exist.

#### Steps to reproduce
Mattermost version 4.3.1 with LDAP Authorization.
Login with wrong password and login of existing user.
Login with wrong password and login which not exist.

#### Expected behavior
Response cod

[2017-11-23 14:01] MusikPolice commented on #7896
The About Tab is implemented by `mattermost-webapp`, not by `mattermost-server`. There is no way to remove it, short of forking and modifying the code. What are you trying to accomplish? There may be a different solution to your problem that we can help with.

[2017-11-23 14:45] GlobalVPS commented on #7896
@MusikPolice My question would be how would you change the webapp files from downloading the server, to change the about tab.

[2017-11-23 14:50] MusikPolice commented on #7896
If you want to change the information presented on the About Modal, you'd have to fork the `mattermost-webapp` project and make your changes in [about_build_modal.jsx](https://github.com/mattermost/mattermost-webapp/blob/master/components/about_build_modal/about_build_modal.jsx#L17-L16)

[2017-11-23 14:51] GlobalVPS commented on #7896
How would you put it with the server?

[2017-11-23 14:57] GlobalVPS commented on #7896
and how would I make licenses?

[2017-11-23 15:02] MusikPolice commented on #7896
If you're interesting in forking and modifying Mattermost, I'd suggest that you take a read through our [developer documentation](https://docs.mattermost.com/guides/developer.html). It will answer a lot of your questions. You can also consider joining our [pre-release chat](http://pre-release.mattermost.com/) if you need to ask questions.

If you want to license Mattermost to get access to our E10

[2017-11-23 16:14] bjjccl opened #7898 "MM_*SETTING_* environment variable settings only apply if there is an entry in config.json to override"
#### Summary
Environment variable configuration options don't apply unless there is an entry for the same configuration option on config.json.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Using GitLab Mattermost Version 4.2.0 (4.2.1), Build Hash: c0aafbcdc221970054869b6c03db77c1dcc63289

#### Expected behavior
I would like to set the Android App Download Li

[2017-11-23 19:54] lfbrock commented on #7896
Just to summarize the conversation on pre-release for anyone else reading, you can modify the webapp with the following steps:

1. Install the Mattermost server by following one of our installation guides
2. Fork the [mattermost-webapp](https://github.com/mattermost/mattermost-webapp) repository
3. Make your changes
4. Run ``make package`` to create ``mattermost-webapp.tar.gz``
5. Copy ``mattermos

[2017-11-24 09:34] giladgd commented on #7824
I have checked and it seems that the issue has been fixed in the latest version.
Thank you! :)

[2017-11-24 14:10] rohithb opened #7901 "Import from slack (using Slack Advanced Exporter), files not migrated"
For migrating my slack team to Mattermost I exported the chats from slack. Then I used Slack advanced Exporter to fetch the attachments. Then I used the command line tool to import data (`./platform import slack team file.zip`).
Migration finished successfully (Got a message 'Finished Slack Import').
 But when I logged in to Mattermost team, image thumbnails are not present and when I tried to dow

[2017-11-24 14:13] #7901 closed

[2017-11-24 14:14] rohithb commented on #7901
I was running the script from `./bin`, so somehow a new data folder was created there. When I moved the contents to actual data folder, all the files began to work.

[2017-11-24 19:42] #7332 closed

[2017-11-25 18:00] lindy65 commented on #7897
Hi @xtimon,

Thanks for your feedback,

This is by design and we have a pull request [here](https://github.com/mattermost/docs/issues/885) to document the reasoning behind the decision.

[2017-11-25 18:08] it33 commented on #7897
@xtimon thanks again for the feedback, here's a draft response: https://github.com/mattermost/docs/pull/1657

This is work-in-progress, would highly appreciate your feedback.

[2017-11-25 18:43] bbodenmiller commented on #7898
Having the same problem here

[2017-11-26 10:04] ThiefMaster opened #7904 "Favicon almost invisible on dark browser themes"
#### Summary
When using e.g. Firefox 57's built-in "dark" theme, the favicon is almost invisible if the tab is not focused.

![image](https://user-images.githubusercontent.com/179599/33239020-90bcbdb8-d299-11e7-8159-7ef8a57736c6.png)

#### Steps to reproduce
Enable the "dark" theme in Firefox 57+ and open Mattermost.

#### Expected behavior
A favicon is visible.

#### Observed behavior (that appea

[2017-11-26 19:56] dimsuz opened #7906 "Emoji suggestions popup has thumbs up/down icons in an inconvenient order"
#### Summary
Emoji suggestions popup has thumbs up/down icons in an inconvenient order

#### Steps to reproduce
Open any channel
Type ":thumb" to cause emoji suggestions to show up

#### Expected behavior
👍 emoji should come first and is preselected because this is obviously a most often used one compared to 👎 .

#### Observed behavior (that appears unintentional)
👎 comes first and preselected in

[2017-11-27 06:45] lindy65 commented on #7904
Hi @ThiefMaster,

Thanks for your feedback!

I've created a ticket [here](https://mattermost.atlassian.net/browse/PLT-8232) for our UI/UX team to look into.

[2017-11-27 08:21] Merlin2001 commented on #7861
Hi @lindy65,

our admins just installed **v4.4.2** today and emojis are now **displaying correctly** in channel headers! :tada:

Should I update the issue in some way to reflect this?

[2017-11-27 09:10] lindy65 commented on #7861
Good to hear @Merlin2001 :)

No need to make any update to this issue.  The [ticket](https://mattermost.atlassian.net/browse/PLT-8206) I created is for the code block issue only and I've edited the title of this issue to reflect only the code block issue...

[2017-11-27 10:09] kajkocar opened #7907 "How to upload a file using the V4 API ?"
Could you provide a simple example about how to do it ?
Documentation over at: [https://api.mattermost.com/v4/#tag/files](https://api.mattermost.com/v4/#tag/files) did not explain it at all.

Regards,
Sasa Kajic

[2017-11-27 17:23] esethna commented on #7906
Thanks @dimsuz, totally makes sense, would you be interested in contributing this change? I've created a proposed help wanted ticket here: https://mattermost.atlassian.net/browse/PLT-8234

[2017-11-27 19:07] jscongdon opened #7908 "onaddstream is deprecated! Use peerConnection.ontrack instead"
#### Summary
I'm trying to get WebRTC working.

#### Steps to reproduce
Firefox 57 Try to start video chat.

#### Expected behavior
That I would be able to carry on a video chat

#### Observed behavior (that appears unintentional)
`onaddstream is deprecated! Use peerConnection.ontrack instead` error received in console

#### Possible fixes
Use `peerConnection.ontrack` instead ?

I've given up on t

[2017-11-27 22:09] dimsuz commented on #7906
I don't think I could do that soon enough as I'm not a frontend dev, know only a little about how React works. Currently involved in Android apps development mostly...

[2017-11-28 09:14] panditsavitags commented on #5728
@jasonblais
By image links, do you mean the image attachments which have previews or the Youtube Embed?
Please confirm.

[2017-11-28 12:20] lindy65 commented on #7908
Hi @jscongdon,

Could you share whether you've followed [these deployment instructions](https://docs.mattermost.com/deployment/webrtc.html)?  There is also [this doc for configuration settings](https://docs.mattermost.com/administration/config-settings.html#webrtc-beta).

Does this help?

[2017-11-28 12:42] jscongdon commented on #7908
Yes, I've followed those instructions.
As I stated, the call will connect... then the error is received.

It does not help.

[2017-11-28 12:47] xtimon commented on #7897
In my opinion shouldn't matter where my service will be deployed. It's not 'Mattermost Inc' decision. What I want is to know from http logs, who tried to login using wrong credentials. But with status code 400 I can't. Because here a lot of other requests with such status, even the desktop application can create bad request and get response with code 400.

[2017-11-28 13:13] jasonblais commented on #5728
@KishoreFartiyal @panditsavitags

That's correct. Image link previews include:
 1. https://www.mattermost.org/wp-content/uploads/2016/03/logoHorizontal.png
 2. https://www.youtube.com/watch?v=A2GbEFFyzGw

![image](https://user-images.githubusercontent.com/13119842/33321507-f524c266-d413-11e7-8d0d-f7ffa5d68b34.png)

and image preview from website links, e.g.
 3. https://about.mattermost.com

![imag

[2017-11-28 13:47] jwilander commented on #7907
Hi @kajkocar,

It's a standard `multipart/form-data` POST request using the fields mentioned in the reference. Here's an example of what it might look like:

[code]

[2017-11-28 16:20] walquis commented on #3502
I am also seeing exactly this.

[2017-11-28 17:07] sudheerDev commented on #7878
@esethna I can take this up.

[2017-11-28 17:14] walquis commented on #3502
MM seems to have the same issue with ampersand.   If I URL-encode them (e.g. %26 for ampersand and %3B for semicolon), they go through.  Any others...?

[2017-11-28 17:16] esethna commented on #7878
Thanks @sudheerDev!

[2017-11-28 17:24] esethna opened #7912 "[Help Wanted] [PLT-8215] Group Message search in the Channel Switcher should filter on usernames, full names and nicknames"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-28 17:49] panditsavitags commented on #7257
@jasonblais ,
Please elaborate what needs to be fixed.

My understanding: onClick of header should redirect to that particular channel.

[2017-11-28 18:19] lindy65 commented on #7908
Thanks for the feedback @jscongdon,

I'll ask the team to help troubleshoot this and post feedback here

[2017-11-28 20:04] jasonblais commented on #7257
@panditsavitags Attached two screenshots, let me know if that helps? Clicking `~Town Square` in the expected case should redirect the user to the particular channel.

[2017-11-28 20:04] jasonblais commented on #7257
Big thanks for your interest helping with this ticket by the way :)

[2017-11-29 08:20] lindy65 commented on #7906
Thanks @dimsuz,

I'll close this issue off here and we can track via the ticket linked above.

[2017-11-29 09:30] lindy65 commented on #7858
Hi @alesswin,

Did upgrading to the latest serversion of Mattermost resolve the issue for you?

[2017-11-29 09:32] lindy65 commented on #7861
Hi @Merlin2001,

Just an update that the [bug](https://mattermost.atlassian.net/browse/PLT-8170) with editing channel headers has been fixed :)

I'll close this issue off for now and we can track the code block issue via the ticket linked above.

[2017-11-29 09:32] #7861 closed

[2017-11-29 09:35] lindy65 commented on #7894
Hi @arjitc,

For continuity and tracking, could you help share back the link to the feature suggestion once you've opened it on our forum please?

[2017-11-29 09:37] lindy65 commented on #7896
Hi @GlobalVPS,

Have `MusikPolice` and `lfbrock` addressed your questions?  Can I close this issue off?

[2017-11-29 09:47] alesswin commented on #7858
Hello @lindy65,

unfortunately I cannot update since the application distribution is handled via a limited corporate app store.
So it looks like I have to wait until the update is approved.
I will come back to you to post my results as soon as the update is available.

Thank you for your efford,
Alessandro.

[2017-11-29 10:25] lindy65 commented on #7858
Thanks @alesswin

Hoping the upgrade is approved soon!

[2017-11-29 13:31] arjitc commented on #7894
I gave a +1 to https://github.com/mattermost/mattermost-server/issues/5072 :)

[2017-11-29 13:51] MusikPolice commented on #7869
I suspect that there isn't much that we can do about this. Verifying that email addresses are valid [is notoriously difficult to do correctly](https://stackoverflow.com/questions/201323/using-a-regular-expression-to-validate-an-email-address/201378#201378), so most applications, [including Mattermost](https://github.com/mattermost/mattermost-webapp/blob/master/utils/utils.jsx#L31) just check to se

[2017-11-29 14:06] treba123 commented on #7869
Well yeah, whitespace in invalid aswell as a special characters in the domain, right? I mean `gmail.com>`
I use sendmail/postfix as the underlying mail system, will check what it reports

[2017-11-29 14:14] treba123 commented on #7869
Oh well, I actually don't use postfix but smtp login. And I guess most smtp-server understand the mentioned format quite well.

[2017-11-29 14:28] MusikPolice commented on #7869
Yes, technically, we could check that everything after the `@` symbol is a valid domain name. The regex to do this [is complicated](https://stackoverflow.com/questions/10306690/domain-name-validation-with-regex), but pretty well understood.

[2017-11-29 18:40] MusikPolice commented on #7869
We've decided to fix this problem, and are tracking the issue [in JIRA](https://mattermost.atlassian.net/browse/PLT-8248). I'm going to close this ticket in the meantime.

[2017-11-29 18:40] #7869 closed

[2017-11-29 18:41] lindy65 commented on #7894
Awesome, thanks so much @arjitc :)

I'll close this issue off here then and we can track via the UserVoice issues linked above.

[2017-11-29 18:41] #7894 closed

[2017-11-29 18:49] esethna opened #7918 "[Help Wanted] [PLT-8221] setState warnings when switching to Display tab in Account Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-29 21:49] jasonblais commented on #7908
This most likely requires an update to the Janus driver. We've created a ticket for it @jscongdon https://mattermost.atlassian.net/browse/PLT-8250

[2017-11-30 06:43] it33 commented on #7897
If you're looking to monitor login errors, the system is designed to support this via logs: https://docs.mattermost.com/administration/config-settings.html#logging

[2017-11-30 06:44] lindy65 commented on #7908
I'll close this issue off here for now @jscongdon and we can track via the Jira ticket linked above.

[2017-11-30 06:44] #7908 closed

[2017-11-30 08:38] lindy65 commented on #7907
Hi @kajkocar,

Does the example above from `jwilander` help solve your issue?

[2017-11-30 08:39] lindy65 commented on #7904
I'll close this issue off here for now @ThiefMaster and we can track via the ticket linked above.

[2017-11-30 08:39] #7904 closed

[2017-11-30 08:59] xtimon commented on #7897
Unfortunately this logs are useless in my case because Mattermost server works behind a load balancer, which provides HTTPS and TLS. And I'll see only load balancer IP address in the logs.
Also instead of response code 404 Mattermost returns 200, is also by design?
Perhaps international standards was not created for Mattermost:
https://www.w3.org/Protocols/rfc2616/rfc2616-sec6.html#sec6.1

[2017-11-30 10:14] lindy65 commented on #7756
FYI @digitalextremist - this is fixed now and should ship with v4.5 on Dec 16th.

[2017-11-30 10:31] panditsavitags commented on #7257
@jasonblais , What if there are multiple channel names in channel description ? Or only one channel name is allowed ?

[2017-11-30 10:50] kajkocar commented on #7907
Hi @lindy65 and @jwilander
I am sorry for late reply, and Yes, this has solved my problem.
For anyone else interested in how to do it in c#, here is snippet from my project:
Function returns ID of uploaded file.
Error handling omitted.
`
 public string UploadFile(string fileName, string channelID)
        {
            HttpRequestMessage pst = makeRequestMessage(HttpMethod.Post, Constants.MM_FILES

[2017-11-30 10:51] #7907 closed

[2017-11-30 12:01] zhienzhien opened #7921 "Username accepts upper case characters when creating an account"
#### Summary
Username accepts upper case characters when creating an account in Mattermost.

#### Steps to reproduce
1. Open "http://demo.mattermost.com" in the browser.
2.  Click 'Create one now' link to create an account
3. Enter data in the following fields:
- What's your email address?: **jhorellnerizon@gmail.com**
- Choose your username: **ZHIEN**
- Choose your password: ***********
4. Click

[2017-11-30 13:10] jasonblais commented on #7257
@panditsavitags They would render similarly to a post, such as:

![image](https://user-images.githubusercontent.com/13119842/33432441-ec868d86-d5a5-11e7-9eb2-0b2fd9ad8ce9.png)

[2017-11-30 13:42] jespino commented on #7787
Already fixed and merged :)

[2017-11-30 14:02] jasonblais commented on #7787
Thanks! 👍

[2017-11-30 14:02] #7787 closed

[2017-11-30 14:02] jespino commented on #7781
Already fixed and merged :)

[2017-11-30 14:02] jespino commented on #7780
Already fixed and merged :)

[2017-11-30 14:03] jespino commented on #7779
Already fixed and merged :)

[2017-11-30 14:03] jespino commented on #7778
Already fixed and merged :)

[2017-11-30 14:05] #7778 closed

[2017-11-30 14:05] #7780 closed

[2017-11-30 14:05] #7781 closed

[2017-11-30 14:06] #7779 closed

[2017-11-30 15:22] jwilander commented on #3502
This one is an incorrect request
`curl -i -X POST -d 'payload={"text": "; :tada:"}' -H 'Content-Type: application/json' <webhook-url>`

You're supplying a body of `payload={"text": "; :tada:"}` which is the `application/x-www-form-urlencoded` content type but you're specifying the content type of `application/json`

The correct request would be this (like posted above)
`curl -i -X POST -d 'payload

[2017-11-30 17:15] esethna opened #7923 "[Help Wanted] [PLT-8203] Code block created using four spaces triggers mention"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-30 17:46] sudheerDev commented on #7718
@esethna I will work on this.

[2017-11-30 17:48] sudheerDev commented on #7918
@esethna i submitted a PR for this :)

[2017-11-30 17:53] jasonblais commented on #7718
Yay!! Thanks @sudheerDev

[2017-11-30 18:09] esethna commented on #7918
Thanks @sudheerDev!

[2017-11-30 19:44] santos22 commented on #7616
Hi @esethna,

Thanks for checking in. Still working on the Redux portion to this issue - shooting for next month's release 😄

[2017-11-30 21:15] bastbnl commented on #3502
You're absolutely right when it comes to the `payload` key in the - well, ehm - payload. I'd prefer mattermost ignoring the message instead of partially accepting it.

[2017-11-30 22:28] philippe-granet commented on #7738
@sokoow @lindy65 @ccbrown

I also have lots of problems to setup a developer machine on Win10 for push my PR https://github.com/mattermost/mattermost-webapp/pull/353

I try to build Mattermost with the current tutorial but I have had lots of errors.
Finally, I write a simple Dockerfile based on the tutorial, and all works fine, without having to install lots of tools on my computer, expect Docker.

[2017-12-01 09:56] lindy65 commented on #7898
Hi @bjjccl and @bbodenmiller,

Thanks for your feedback,

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-8264) for our devs to investigate.

[2017-12-01 10:30] lindy65 commented on #7921
Hi @zhienzhien,

Thanks for your feedback,

The username field is not case-sensitive.  This is by design.

Is there a specific reason you'd want the username to be created using only lower-case letters?

[2017-12-01 13:06] #7337 closed

[2017-12-01 13:07] #6932 closed

[2017-12-01 13:08] #7489 closed

[2017-12-01 13:08] zhienzhien commented on #7921
Hi,

I just based my testing on the caption indicated under the Username field.
There's a caption indicated stating "Username must begin with a letter, and
contain between 3 to 22 *lowercase* characters made up of numbers, letters,
and the symbols '.', '-' and '_'.

It would be better if the lowercase word will be removed or indicate that
it's not case-sensitive.

Regards,
Jhorell

On 1 Dec 2017 6

[2017-12-01 13:10] #7672 closed

[2017-12-01 14:49] cpanato commented on #7882
this is the new pr based on the comments in the old PR : https://github.com/mattermost/mattermost-webapp/pull/389

[2017-12-01 16:57] esethna commented on #7514
Closing, thanks @cpanato!

[2017-12-01 16:57] #7514 closed

[2017-12-02 19:07] starlightknight opened #7932 "Messages w/ Quick Responses Can Appear Out of Order"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Bug report in one concise sentence

When messages are exc

[2017-12-02 19:14] lindy65 commented on #7738
Thank you for posting back your solution @philippe-granet !

[2017-12-03 22:40] gig177 commented on #7877
Should [command](https://docs.mattermost.com/administration/command-line-tools.html#platform-channel-modify) options be extended to receive `--username` value? The `UserId` [is required](/mattermost/mattermost-server/blob/v4.4.2/model/post.go#L137) for post message.

[2017-12-04 06:09] panditsavitags commented on #7786
@jasonblais , i would like take this up.

[2017-12-04 06:50] lindy65 commented on #7932
Hi @starlightknight

Thanks for your feedback,

This was an issue in an earlier version but has since been fixed.  Try upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost to see if the issue still reproduces.

[2017-12-04 07:09] lindy65 commented on #7921
Ah, you're quite correct @zhienzhien !

The help text is misleading.  I've created a [ticket](https://mattermost.atlassian.net/browse/PLT-8280) to fix the issue.

Just an FYI, even if you create a username with upper case letters, once you have logged in, the system converts your username to lower case letters in the UI

![image](https://user-images.githubusercontent.com/13020833/33540025-c87187f0

[2017-12-04 09:52] ccbrown commented on #7897
This is actually pretty easy to fix. All you have to do is make sure your load balancer is forwarding the client's IP address with either the "X-Forwarded-For" or "X-Real-IP" HTTP header. If you're using NGINX, it's as simple as adding a "proxy_set_header" line to your configuration. Then your logs will always show the user's actual IP address instead of the load balancers'. You should be sure to

[2017-12-04 12:59] swestmeier commented on #7897
In our case it's that easy, as mattermost is running behind an AWS Application Load Balancer, which does not yet support those headers.

[2017-12-04 13:47] T-rav opened #7935 "Message Self"
#### Summary
I would be nice to message myself like I can in Slack

#### Steps to reproduce
Click plus symbol next to Direct Messages
Try and search for yourself in the popup.
Notice you cannot find yourself to message.

#### Expected behavior
I can find myself when searching int he Direct Messages popup.

#### Observed behavior (that appears unintentional)
When searching for myself there are 'no

[2017-12-04 13:54] MusikPolice commented on #7897
@swestmeier are you sure that the `X-Forwarded-For` header is not supported by ALBs? I can't find any official documentation to support this, but there exist [forum](https://forums.aws.amazon.com/message.jspa?messageID=738145#738145) and [blog posts](https://blog.kloud.com.au/2016/11/29/experiences-with-the-new-aws-application-load-balancer/) that claim that it still works, and the feature is ment

[2017-12-04 14:32] RalfJung opened #7936 "Using Tab in Autocomplete posts as e.g. `@n@aanick` then breaks and is fixed only after refresh"
#### Summary
Mattermost's tab completion for @something frequently breaks and is only fixed by hitting F5.

#### Steps to reproduce

We are using the mattermost integrated with GitLab; the version information says `Version: 4.2.0  (4.2.1)` which I cannot interpret (4.2.0 or 4.2.1, what now?).

Steps to trigger:
* Say you want to type @nickname, so start by typing `@` `n` and then quickly hit Tab w

[2017-12-04 14:37] swestmeier commented on #7897
@MusikPolice Thx for the hint! Will check on the X-Forwarded-For header content for our ALB!

[2017-12-04 16:02] esethna commented on #7721
Hi @h2oloopan, hope all is going well, any questions or concerns on this ticket we can help with?

[2017-12-04 20:35] arjitc commented on #7936
We're having a lot of this as well, especially when trying to quickly @ mention/tag a user and the auto-complete just breaks until a reload of the application/F5 in browser.

[2017-12-05 06:21] xtimon commented on #7897
For example: https://demo.mattermost.com/myabe_such_url_exist

[2017-12-05 06:36] xtimon commented on #7897
I was wrong. If found, it will be reported.

Thank you for the hint!

[2017-12-05 09:50] wolfnidh commented on #2506
You need to group the request. It solved my issue.

request.AddBody(new { UserName = "username", Password = "pass" });

Please see: https://groups.google.com/forum/#!topic/restsharp/3NVVMridDJ0

[2017-12-05 10:47] lindy65 commented on #7936
Hi @RalfJung @arjitc

Thanks for your feedback,

There have been many improvements and fixes with autocomplete since v4.2 and we suggest upgrading to the [latest version](https://about.mattermost.com/download/)

Let us know if this resolves the issue for you.

[2017-12-05 10:49] lindy65 commented on #7935
Hi @T-rav,

Thanks for your feedback,

This feature should be shipping with v4.5 on December 16th!

[2017-12-05 10:56] arjitc commented on #7936
@lindy65 I'm running Version: 4.4.0 (4.4.1) here and still have this issue :(

![image](https://user-images.githubusercontent.com/363587/33603603-1049bea0-d9d9-11e7-891e-0c9cc68846ee.png)

[2017-12-05 11:31] RalfJung commented on #7936
Unfortunately we have to wait until GitLab ships that update. :/

[2017-12-05 12:35] lalmeras commented on #7936
Same here with a post 4.2 (Version: 4.3.0  (4.3.2) shipped with gitlab).

If I use Firefox developer tool, I can see that requests are done (/api/v4/users/autocomplete?in_team=pedkjhdi8pyajb41r6u1sws6ky&in_channel=hm1x5855kidtt8q37tdqrpzrzw&name=jben) and seem correct.
Response code is 200, and there is a correct JSON content: a field users, with a list with expected results.

[code]
Private data

[2017-12-05 16:50] TobiX opened #7944 "Mentioning @toString breaks channel"
#### Summary
Typing a mention of `@toString` breaks the current channel (Mattermost 4.3.2)

#### Steps to reproduce
1. Type `@toString` into the private chat with somebody
2. Be really sad you cannot communicate with them anymore

#### Expected behavior
Mentioning JavaScript method names should not break a channel

#### Observed behavior (that appears unintentional)
The console throws many JS erro

[2017-12-05 17:12] esethna opened #7945 "[Help Wanted] [PLT-8273] In System Console > Team Statistics, add a banner to note that team stats don't include DMs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-05 17:17] esethna opened #7946 "[Help Wanted] [PLT-8278] Add a custom example to API reference for how to upload a file via the API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-05 17:39] cpanato commented on #7946
i can do that

[2017-12-05 20:59] TobiX commented on #7944
Updated after another test.

[2017-12-06 02:37] lindalumitchell commented on #7832
@cpanato I tested and verified the JIRA ticket; email and push notifications now display the webhook's overriding username. No issues found!

[2017-12-06 02:37] #7832 closed

[2017-12-06 05:33] lindalumitchell commented on #7918
Tested and verified on master. Looks great!

PR: https://github.com/mattermost/mattermost-webapp/pull/384

[2017-12-06 05:33] #7918 closed

[2017-12-06 06:06] lindy65 commented on #7936
Hi @RalfJung @arjitc @lalmeras

Testing this on our nightly build server, I see the autocomplete appears only after typing the second character e.g. `@na`.  I'm not sure whether this is by design but I'll ask our team and post their feedback here.

[2017-12-06 09:14] lindy65 commented on #7898
I'll close this issue off here for now and we can track via the ticket linked above.

[2017-12-06 09:14] #7898 closed

[2017-12-06 09:15] lindy65 commented on #7921
I'll close this issue off for now and we can track via the ticket linked above.

[2017-12-06 09:15] #7921 closed

[2017-12-06 09:38] panditsavitags commented on #7782
@jasonblais , I would like to take this up.

[2017-12-06 09:56] panditsavitags commented on #7786
@jasonblais , Please can you help me with the functionality of this component?

[2017-12-06 11:51] panditsavitags commented on #7786
@jasonblais , I am not able to find and delete option for custom emojis, please can you let me know where on the UI can it be found?

[2017-12-06 13:05] jasonblais commented on #7786
@panditsavitags The steps are:

1) Go to System Console > Customization > Emoji
2) Enable custom emoji
3) Go back to a team
4) Click the hamburger menu next to your profile in top left corner, then click Custom Emoji
5) Add a custom emoji if one isn't added
6) You can then delete the emoji

![image](https://user-images.githubusercontent.com/13119842/33663005-33216fd0-da5c-11e7-8e3a-5162d1fc5de9.pn

[2017-12-06 17:30] T-rav commented on #7935
Awesome stuff. Thanks

[2017-12-06 17:30] #7935 closed

[2017-12-06 21:08] esethna opened #7953 "Mattermost v4.5"
This is a meta issue for v4.5 release updates.

You can find key dates for v4.5 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### December 6th (T-8): Code Complete

Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated

[2017-12-06 21:46] gig177 commented on #7877
I'm working on it.

[2017-12-06 21:53] jasonblais commented on #7877
@gig177 Big thanks for your interest!

Sorry I missed your original question. The command shouldn't expect a username value, given it converts a channel.

I think a system message gets posted when using the `platform channel add` and `platform channel create` commands, so maybe you can compare against them.

[2017-12-07 07:28] lindy65 commented on #7944
Hi @TobiX,

Thanks for your feedback,

A fix for this issue has been submitted and will be available in the next version on December, 15th.

[2017-12-07 07:28] #7944 closed

[2017-12-07 10:04] francisgg opened #7954 "I can delete directly other people's message on channel"
#### Summary
While chatting with our team, I found out that we could sometimes delete other people's messages on channel.

#### Steps to reproduce
I'm using Mattermost Enterprise Edition version 4.2.0

#### Expected behavior
- I hover to my team's message, a cross icon appears on top right hand side
- I click on this cross, it deletes the message directly
- Which will appear on public as ==> (mess

[2017-12-07 13:58] hmhealey commented on #7944
Hey @TobiX,

Since this can be used to take down a channel for other users as well, we're treating this as a security issue, and we're going to be backporting it to earlier releases. I've edited your post as best as possible to remove the repro steps while we fix this.

Also, another workaround for any users that find this would be to go into User Settings > Advanced, disable post formatting, and

[2017-12-07 16:04] divanikus opened #7955 "Database integrity check"
Please consider adding a database integrity check tool. Eventhough it's mentioned that you shouldn't do any direct manipulations with database, sometimes you just doesn't have any other option. So it would be nice to have a cli tool for integrity check. Most mature projects involving SQL have them.

Personal example: Team Statistics tab shows nothing, but endless "Loading...". No exceptions in the

[2017-12-07 16:10] divanikus opened #7956 "Full CRUD for CLI tool"
Current Mattermost CLI lacks of full CRUD for manipulations. If you want to delete a team, for example, you should be able to list them at least, which is not possible. You can't script stuff without it, you can't see contents without using browser or quering database directly. No good for a CLI app.

CRUD stands for Create, Read, Update, Delete. Read action is not implemented at all. Update actio

[2017-12-07 16:15] MusikPolice commented on #7955
Are you sure that the problem is with the database? Awhile back, people who had an ad blocker enabled were seeing that behaviour on the Team Statistics tab. One of the ad block lists added the URL that is called by that tab to their block list. We petitioned to have it removed, but if you haven't updated your block lists lately, you may still be affected.

[2017-12-07 16:16] MusikPolice commented on #7956
This ticket might be a better fit for our [Uservoice forum](https://mattermost.uservoice.com/forums/306457-general/). If you make a feature suggestion there, and it is upvoted by other users that want to see that feature implemented, we're more likely to get it done. GitHub tickets are used more for actual bugs in the software.

[2017-12-07 16:17] divanikus commented on #7955
Ah, yes, the Team Statistics is because of AdBlock. But sometimes we have to edit database directly so anyways integrity check should present imho.

[2017-12-07 16:18] MusikPolice commented on #7955
This ticket might be a better fit for our Uservoice forum. If you make a feature suggestion there, and it is upvoted by other users that want to see that feature implemented, we're more likely to get it done. GitHub tickets are used more for actual bugs in the software.

[2017-12-07 17:11] divanikus commented on #7955
It should be in core functionality, not a on-vote-request option.

[2017-12-07 17:11] divanikus commented on #7956
It should be in core functionality, not a on-vote-request option.

[2017-12-07 18:46] MusikPolice commented on #7955
Maybe so, but requests are the process by which features like this get accepted into the core product. Like any team, we have limited resources and have to make hard decisions about what we choose to spend our time on.

[2017-12-07 18:46] #7955 closed

[2017-12-07 18:46] MusikPolice commented on #7956
Maybe so, but requests are the process by which features like this get accepted into the core product. Like any team, we have limited resources and have to make hard decisions about what we choose to spend our time on.

[2017-12-07 18:46] #7956 closed

[2017-12-07 19:12] divanikus commented on #7956
So you end up with poorly implemented admin interface which is unable to do most things, because most of user voted feature are about chat UI.

Your admin interface is really bad, both system console and CLI and mostlikely won't be improved anytime soon.

[2017-12-07 19:26] MusikPolice commented on #7956
I'm sorry you feel that way. For what it's worth, I think that your idea is fantastic, and would love to personally spend more time working on the CLI, but the project has procedures for accepting suggestions like this, and we have to abide by those procedures so that every member of our community gets a say in what features we choose to implement.

[2017-12-07 22:01] jsha commented on #6082
Hi! I have a similar issue on my instance; one channel is very small, and they use @channel a lot, and don't want to get a pop-up. However, the "everyone" channel is very big, and using @channel there is more disruptive.

Here's a proposed refinement: Rather than an instance-wide enable/disable, there could be an instance-wide "always / first time each day / once / never" option.

[2017-12-07 23:09] divanikus commented on #7956
How many voices do we need to raise your attention?

I don't want to be rude, but MM's administration abilities are currenlty mostly non-existant. What can I do with System Console? Let's check.

- Someone made a lot of Teams, by mistake or whatever. Can I delete them? No. Can I edit their name? No. I have to join it first. Every single team. Same goes with channels.
- Can I edit a user to simply

[2017-12-08 07:07] lindy65 commented on #7954
Hi @francisgg,

Thanks for your feedback,

Could we have your help updating to the [latest version](https://about.mattermost.com/download/) of Mattermost?

I am not able to reproduce your issue on our nightly build server building off master.  Could you include a screenshot of the cross you're seeing when you hover on a teammate's message?

Thanks!

[2017-12-08 09:59] gig177 commented on #7877
The command `$ platform channel create` just create channel without any user [membership](https://github.com/mattermost/mattermost-server/blob/5358b9c42cc99f72e7844062f28b2ddc3642a339/cmd/platform/channel.go#L169).

The command `$ platform channel add {channel} {users}` gets username from `{users}` arguments. Example from the doc: `$ platform channel add myteam:mychannel username1`. The `username1

[2017-12-08 17:25] danedavid opened #7960 "How can I contribute to the client app ?"
sorry for posting this as an issue, but how can I contribute to the React client app of this site ?

[2017-12-08 18:53] R-Wang97 commented on #7945
I can take a look at this.

[2017-12-08 23:42] santos22 commented on #7960
Hey @danedavid!

You can contribute to the webapp by working on an issue that includes a **ReactJ**S label. Once you're done, you can submit a pull request here: https://github.com/mattermost/mattermost-webapp

And if your work also include changes to the server, I think you would also create a pull request to the mattermost-server repo. Good luck 😄

[2017-12-09 08:59] danedavid commented on #7960
@santos22 Thanks

[2017-12-09 08:59] #7960 closed

[2017-12-10 15:27] bbodenmiller commented on #1723
Currently our organization's process to get applications VPN access inside the firewall is extremely complex and slow. We're attempting to get the app inside our firewall but it's not looking promising. Even if we get the app in we won't be able to use external notification services from Apple or Google so it looks like https://github.com/mattermost/mattermost-push-proxy won't work for us. Is ther

[2017-12-11 06:17] lindy65 commented on #7936
Hi @RalfJung @arjitc @lalmeras

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-8306) to track the issue.

[2017-12-11 06:19] lindy65 commented on #7896
Hi @deletedaccount2902031,

I'll close off this issue for now.  Feel free to reopen if you still have questions.

[2017-12-11 06:19] #7896 closed

[2017-12-11 09:41] torgeirl opened #7962 "Send Email Invite form should check the syntax of email addresses"
#### Summary
The Send Email Invite form seems to lack an email syntax check.

#### Steps to reproduce
Open the Send Email Invite form, type in multiple addresses in the same field and click Send Invitation.

#### Expected behavior
If the content of an address field doesn't validate to the syntax of an email address clicking Send Invitation should as a minimum give an error, and fields that doesn't

[2017-12-11 10:36] xtimon commented on #7897
But it works only for curl. For any other client it doesn't work properly:

curl:
[code]

httpie (https://github.com/jakubroztocil/httpie):
[code]
postman:
![screenshot from 2017-12-11 13-35-42](https://user-images.githubusercontent.com/12657794/33827125-45be39fa-de78-11e7-8e84-005b4947132b.png)

[2017-12-11 11:02] ccbrown commented on #7897
Yeah, that is weird.

It looks like we're responding with a status of 404 and "Location" header, which I don't believe is valid at all. But these clients seem to respect it and redirect anyways. If you omit the "-I" flag from curl you'll see it follows the redirect as well and appears to get a 200 status:

`curl -v https://oss.mattermost.com/non-existent-page`

This does looks to me like something

[2017-12-11 12:31] xtimon commented on #7897
My log settings:
[code]

And I have such log:
[code]

How can I configure log format to see here client ip address?

[2017-12-11 13:08] Phorkyas opened #7963 "Message parsing hangs"
#### Summary
A certain message consistently hangs the client (Linux client Version as well as the browser version on Chrome and Firefox)

Server Version: 4.1.0
Linux Client version: 3.5.0

#### Steps to reproduce
Send the enclosed [message](https://github.com/mattermost/mattermost-server/files/1547838/mattermost_bug.txt) to a chat and "Loading" will be displayed infinitely.

#### Expected behavior

[2017-12-11 13:47] MusikPolice commented on #7962
@torgeirl this is a known issue that we're tracking internally in [PLT-8248|https://mattermost.atlassian.net/browse/PLT-8248]. I'm hoping to get a fix in for this in the next couple of releases.

[2017-12-11 13:47] #7962 closed

[2017-12-11 13:51] jasonblais commented on #6082
@tiagodj There is now a [config.json setting](https://docs.mattermost.com/administration/config-settings.html#show-channel-and-all-confirmation-dialog) to disable the at-all and at-channel confirmation dialog.

@jsha How would the proposed refinement cover the case for the large channel?

[2017-12-11 13:55] MusikPolice commented on #7897
@xtimon to the best of my knowledge, we don't log the IP address and HTTP response code. We're working on improving logging to include this kind of context in future releases. For the time being, if you're explicitly looking for what's logged if a user fails to authenticate, you can read through [this code](https://github.com/mattermost/mattermost-server/blob/master/app/authentication.go#L141) to

[2017-12-11 16:14] jasonblais commented on #7877
Hey @gig177 - this has been queued for Wednesday's developers meeting to discuss: https://pre-release.mattermost.com/core/pl/93bwqew3n7yr3m73yqfs9hysgc

[2017-12-11 17:08] esethna opened #7964 "[Help Wanted] [PLT-8333] Members count on manage members model briefly displays n-1 members instead of n members for the to value"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-11 19:43] jsha commented on #6082
The goal is: For the majority of novice users in the large channel, provide a warning, while also allowing the users of the small channel, who are more experienced, to use @-channel without constant warnings. We would choose either the "first time each day" or the "once" option to achieve that.

[2017-12-11 22:12] jasonblais commented on #6082
Thanks, really appreciate your feedback @jsha.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](http://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing, please say so and

[2017-12-12 05:03] danedavid opened #7967 "Error while developer machine setup"
I'm doing developer set up on my Ubuntu 16.04 according to https://docs.mattermost.com/developer/dev-setup-ubuntu-1604.html

Then, when I run `make` I get the following error:

![image](https://user-images.githubusercontent.com/19928280/33868239-d227742e-df27-11e7-8593-355714991c6b.png)

[2017-12-12 08:35] lindy65 commented on #7963
Hi @Phorkyas,

Thanks for your feedback,

Could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost to see whether this resolves the issue for you?

[2017-12-12 10:50] grundleborg commented on #7967
@danedavid the Mattermost Makefile spins up docker containers for all of Mattermost's dependencies, including PostgreSQL, to conveniently provide a fully functional development environment. The issue here is that you already have PostgreSQL running on your computer, so the port it requires - 5432 - is already in use. You will need to shut down PostgreSQL on your computer before working on Mattermo

[2017-12-12 11:39] Phorkyas commented on #7963
Unfortunately I don't control the server, only observed it as client - but also in the browser that's why I filed it here.

With your docker image I could however verify that the current version seems to grok the message as it should (see ![screenshot](https://user-images.githubusercontent.com/24679825/33882679-2ca4713e-df39-11e7-81b8-29dc0fd948bf.png)). - So I can only ask our admins to upgrade?

[2017-12-12 13:01] sudheerDev commented on #7718
@jasonblais i forgot about this. Will check this over weekend. Into some performance PR's

[2017-12-12 16:45] watadarkstar commented on #7964
I'll take this one! 😄

[2017-12-12 17:07] lindy65 commented on #7963
Hi @Phorkyas,

We recommend upgrading to the latest version as there have been numerous fixes since v4.1 (v4.5 releases on Friday, December 15th).

If this doesn't resolve your issue, please feel free to come back with further information and we can troubleshoot further.

Thanks!

[2017-12-12 17:25] esethna opened #7969 "[Help Wanted] [PLT-8350] Mention should fire when number of users equals Max Notifications Per Channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-12 20:53] theblueskies commented on #6798
I'd like to pick this up. Is that cool @jasonblais ?

[2017-12-12 21:12] watadarkstar commented on #7964
@esethna

Found this related bug when investigating this issue. With exactly 50 users on a team the members count on the manage members model displays **51 - 50 members of 50 total** (see attached image below).

**Notes:**

1. On a team with **exactly** 50 users, log in to an account as a Team Admin (can log in as bot@mattermost.com w password on Assignments tab and promote your account to Team Ad

[2017-12-12 21:29] jasonblais commented on #6798
That would be great, thank you @theblueskies!

[2017-12-13 02:00] watadarkstar commented on #7964
PR submitted https://github.com/mattermost/mattermost-webapp/pull/456

[2017-12-13 03:09] watadarkstar commented on #7658
I'll take this one! 😄

[2017-12-13 03:27] watadarkstar opened #7971 "[Help Wanted] [PLT-8369] Pagination for team members modal shows a next button when there are no more users to show"
#### Summary
Found this related bug when investigating #7964. With exactly 50 users on a team the members count on the manage members modal displays **51 - 50 members of 50 total** (see attached image below) when you press "Next".

#### Steps to reproduce

1. On a team with **exactly** 50 users or any multiple of 50, log in to an account as a Team Admin (can log in as bot@mattermost.com w password

[2017-12-13 03:47] jasonblais commented on #7658
Great, thank you @watadarkstar!

[2017-12-13 06:38] danedavid commented on #7967
@grundleborg Thanks for reaching out! When I run `sudo systemctl stop postgres` I get the following output:
`Failed to stop postgres.service: Unit postgres.service not loaded.`

What should I do ?

[2017-12-13 07:51] lindy65 commented on #7971
Thanks @watadarkstar :)

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-8369) to fix the issue.

[2017-12-13 08:15] lindy65 commented on #7932
Hi @starlightknight,

Did upgrading to the latest version of Mattermost resolve the issue for you?

[2017-12-13 08:16] lindy65 commented on #7936
I'll close this issue off here and we can track via the Jira ticket linked above.

[2017-12-13 08:16] #7936 closed

[2017-12-13 08:17] lindy65 commented on #7954
Hi @francisgg,

Is your issue resolved?

Please send a screenshot of the cross you're seeing when you hover on a teammate's message so we can try to troubleshoot further?

[2017-12-13 08:18] lindy65 commented on #7967
Hi @danedavid,

Did `grundleborg's` post help resolve your issue?

[2017-12-13 08:27] petrich opened #7972 "embed <iframe> in Messages <-- possible in any way?"
Dear All

we are using Mattermost in a 100% trusted Environment... (small team, only-technical members)

and we need to send messages with `<iframe>` support .
(like `<img>` which mattermost allready supports via markups)

In other words: We want embed `<iframe>`'s in our messages.

Is there any way to configure (or by plugin)  Mattermost to allow this?

Thank you for any tips/help.
Greetings

[2017-12-13 10:11] danedavid commented on #7967
@grundleborg thanks! though the service was `postgresql` and not `postgres`. I set up the server, and to view the application, do you have to signup, or is there any default login ?

[2017-12-13 10:45] grundleborg commented on #7967
When you first go to the application in a web browser, you get a sign up page. Create an account there and it will be the system admin account.

[2017-12-13 10:50] danedavid commented on #7967
@grundleborg Thanks a lot! I'm closing this issue!

[2017-12-13 10:50] #7967 closed

[2017-12-13 13:12] Ajita24 opened #7973 "Channel rename,edit purpose etc not working."
Hello,

I have configured mattermost 4.4.0 successfully.
But I have found that some functionalities related to Channel Update like rename,edit channel purpose etc are not working and related API is not being called.
Screenshot of error being encountered in Console- https://www.screencast.com/t/p0sWuNny07

Please guide if something is being missed.

[2017-12-13 13:17] jasonblais commented on #4852
Hey @KishoreFartiyal, anything we can help with?

[2017-12-13 13:18] jasonblais commented on #5465
Hey @lantran , let us know if we can help with anything?

[2017-12-13 13:18] jasonblais commented on #5790
Hey @deveshjadon98, let us know if there's anything we can help with?

[2017-12-13 13:19] jasonblais commented on #6386
Cannot reproduce anymore, closing

[2017-12-13 13:19] #6386 closed

[2017-12-13 13:19] #6784 closed

[2017-12-13 14:01] MusikPolice commented on #7973
Hi @Ajita24, how did you install Mattermost? Are you running it in a development environment, or did you install binaries/docker/packages? Based on the error that you're seeing, I would guess that one or more Mattermost dependencies were not properly installed.

[2017-12-13 16:05] watadarkstar commented on #7971
@lindy65 Thanks added PLT-8369 to the title 😃

[2017-12-13 17:04] esethna opened #7974 "[Help Wanted] [PLT-8369] Pagination for team members modal shows a next button when there are no more users to show"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-13 17:15] esethna opened #7975 "[Help Wanted] [PLT-8365] At-channel in /header should not trigger confirmation modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-13 17:17] cpanato commented on #7946
PR: https://github.com/mattermost/mattermost-api-reference/pull/312

[2017-12-13 17:22] watadarkstar commented on #7974
Duplicate of #7971

[2017-12-13 18:43] cpanato commented on #7975
same happens to the `/purpose ` command

[2017-12-13 20:05] tborg commented on #7912
Hey there, I'd like to work on this.

[2017-12-13 20:05] enahum commented on #7912
Great @tborg go ahead

[2017-12-14 01:51] tborg commented on #6123
I'd be happy to tackle this.

[2017-12-14 07:43] yassersheikh commented on #7973
I have installed from git repository.I have install packages and running in production. But i am not getting any error of dependencies.

[2017-12-14 07:46] himaniruwali commented on #7973
I have installed from git repository.I have install packages and running in production. But i am not getting any error of dependencies.

[2017-12-14 08:51] lindy65 commented on #7973
Hi @Ajita24 @himaniruwali

We [had a bug](https://mattermost.atlassian.net/browse/PLT-8170) which will be fixed when v4.5 ships on December 15th.

[2017-12-14 10:17] dlahn commented on #7518
I can work on this if it's available.

[2017-12-14 14:24] hmhealey commented on #7972
Hi @petrich,

The only way to do that would be to use a [post type plugin](https://developers.mattermost.com/extend/plugins/webapp/reference/#posttypeplugin) to override the entire contents of a given post to add an iframe. That would however require you to make some sort of integration that would make posts of that type since you can't do that from the app on its own.

If that's what you're wanti

[2017-12-14 14:47] jasonblais commented on #7974
Thanks @watadarkstar! I've closed yours. Looks like https://github.com/mattermost/mattermost-webapp/pull/468 already fixes the issue

[2017-12-14 14:47] #7971 closed

[2017-12-14 16:35] cpanato commented on #7881
I guess i can take this one

[2017-12-15 04:37] Ajita24 commented on #7973
ok.
Thank you.

[2017-12-15 05:55] lindy65 commented on #7973
I'll close this issue off for now and we can track via the ticket linked above.

[2017-12-15 05:55] #7973 closed

[2017-12-15 09:50] petrich commented on #7972
Thank you for your help.
I will try it via the "post type plugin" as you suggested.

Thank you again
Greetings

[2017-12-15 15:42] watadarkstar commented on #7964
@esethna @jasonblais This can be closed per https://github.com/mattermost/mattermost-webapp/pull/456 was merged.

[2017-12-15 17:09] esethna commented on #7964
Thanks @watadarkstar!

[2017-12-15 17:09] #7964 closed

[2017-12-15 20:12] Milack27 opened #7979 "Multiple emoji's"
Sometimes I want to insert more than one emoji in a sequence. In order to do that today, I need to open the Emoji Picker twice. Instead, I would like the Emoji Picker to keep open if I click while holding the Shift key, so that I can just choose the next emoji.

[2017-12-16 00:07] esethna commented on #7953
#### Release v4.5 has been cut!

Download available from https://about.mattermost.com/download/

[2017-12-16 00:07] #7953 closed

[2017-12-16 00:14] #7969 closed

[2017-12-17 22:33] jsha commented on #6082
@jasonblais Thanks! Posted at https://mattermost.uservoice.com/forums/306457-general/suggestions/32656438-improve-channel-notification-warning.

[2017-12-18 02:56] marisabell05 opened #7980 "Main Menu - "Report a Problem" Option displays a page that does not exist"
#### Summary
The Menu Option " Report a Problem" is displaying a page that reads " Oops that Page doesn't exist"

Steps to reproduce:
1) Login to Mattermost demo site for any team
2) Click on main Menu located in upper left hand corner represented by three horizontal lines
3) Click on " report a problem" menu option
4) View and observe a page displays with " That page doesn't exist or is private"

[2017-12-18 08:46] zj8487 opened #7981 "[Feature Request] close the websocket connection when revoke the user access token"
Hi all,

I noticed that when I revoke the access token of a user. and the websocket connection of this access token is not closed or disconnected.

is it posssible to close the websocket connection when revoke the access token or session?

mattermost server version: 4.2

thanks a lot

[2017-12-18 08:59] lindy65 commented on #7980
Hi @marisabell05,

Thank you for your feedback, nice catch!

The link should be pointing to: https://forum.mattermost.org/c/trouble-shoot

I've created [this ticket](https://mattermost.atlassian.net/browse/PLT-8422) to fix.

[2017-12-18 09:32] lindy65 commented on #7981
Hi @zj8487,

Thanks for your feedback,

There have been a number of improvements and updates since Mattermost 4.2 so perhaps [updating to the latest version](https://about.mattermost.com/download/) will fix the issue for you.

If not, could we have your help adding a feature request to our [forum](https://mattermost.uservoice.com/forums/306457-general) where it can be upvoted by you, and others, u

[2017-12-18 09:37] lindy65 commented on #7979
Hi @Milack27,

Which server version of Mattermost do you have running?

If you upgrade to the [latest version](https://about.mattermost.com/download/) which shipped on the 16th, you will see that there is now a "plus sign" next to the emoji you add first where you can click and add another.

![image](https://user-images.githubusercontent.com/13020833/34099254-ab0dcd2e-e3e7-11e7-9feb-3839ab370cae.p

[2017-12-18 09:38] lindy65 commented on #7972
Thanks @petrich,

I'll close this issue off here for now but feel free to come back if it doesn't work as expected for you!

[2017-12-18 09:38] #7972 closed

[2017-12-18 11:49] Milack27 commented on #7979
Hi @lindy65, thank you for your response!

You're right, the version I'm using is 4.4.0 (4.4.5), from December 7th, so I don't see any plus sign. However, my suggestion was not about emoji's posted as a reaction, but rather about emoji's posted as part of a message in the conversation. If I want to insert multiple emoji's in a sequence, I could type them manually, but I prefer using the Emoji Pick

[2017-12-18 17:45] lindy65 commented on #7979
Ah, gotcha @Milack27 :)  Thank you for expanding on what you require...

That would be a feature request / improvement and it would be great if we could get your help adding it to our [forum](https://mattermost.uservoice.com/forums/306457-general) where you, and others, can upvote it up to 10 times.

Thanks!

[2017-12-18 17:48] Milack27 commented on #7979
Nice! I'll do it as soon as possible. Thank you!

[2017-12-18 18:09] lindy65 commented on #7979
Perfect, thank you @Milack27!

Please post the link to your feature request back to this thread for continuity?

Thanks!

[2017-12-18 18:10] Milack27 commented on #7979
Sure! Here it is:

https://mattermost.uservoice.com/forums/306457-general/suggestions/32664409-allow-consecutive-emoji-s-in-the-emoji-picker

[2017-12-18 18:51] lindy65 commented on #7979
Awesome!  Thanks so much @Milack27 :)

I'll close this issue off here then and we can track via the forum suggestion you've linked above...

[2017-12-18 18:51] #7979 closed

[2017-12-18 20:27] watadarkstar commented on #7658
@jasonblais This can be closed as it has been merged.

[2017-12-18 23:07] dlahn commented on #7518
PRs:
https://github.com/mattermost/mattermost-build/pull/2
https://github.com/mattermost/mattermost-push-proxy/pull/26

One question, where should the builds be pushed to? S3?

[2017-12-19 02:33] zj8487 commented on #7981
@lindy65 thanks a lot!

 i tested it on 4.5.0 version, and it appears to be same question.
also i have create [vote](https://mattermost.uservoice.com/forums/306457-general/suggestions/32668549--feature-request-close-the-websocket-connection-w) here

[2017-12-19 03:10] watadarkstar commented on #7584
I'll take this one! :)

[2017-12-19 04:42] R-Wang97 commented on #7560
I'll take this on if no one is working on it anymore.

[2017-12-19 06:34] ccbrown commented on #7923
Taking this one. I've been working on something that'll take care of it along with a lot of other similar cases.

[2017-12-19 07:54] lindy65 commented on #7981
Perfect, thanks @zj8487 :)

I'll close this issue off here and we can track via the forum post linked above...

[2017-12-19 07:54] #7981 closed

[2017-12-19 14:16] jasonblais commented on #7584
Great! Thanks @watadarkstar!

[2017-12-19 16:19] watadarkstar commented on #7584
@jasonblais Hi Jason, I have a question - it says in the description of this ticket:

If I follow the UI/UX of the other subsections, when I add “Personal Access Tokens” under "Users", I would need to create a new subsection called "USERS" and under that we will need two links. As the current UI/UX subsections titles are not clickable. I attached an image to explain what I mean:

![screen shot 201

[2017-12-19 17:42] #7980 closed

[2017-12-19 17:49] esethna opened #7985 "[Help Wanted] [PLT-1260] Refactor TeamSettingsModal to React-Bootstrap"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-19 19:42] esethna commented on #7584
Hi @watadarkstar, sorry for the confusion. The "Personal Access Tokens" page is **not supposed to be nested** under "Users", it's just supposed to appear between "Users" and "Logs" (at the same hierarchy level as those sections):

![image](https://user-images.githubusercontent.com/14333569/34175535-f4ad07f6-e4b9-11e7-9fe2-5b494dd1dab0.png)

Does that help clarify?

[2017-12-19 19:48] watadarkstar commented on #7584
@esethna Thanks Eric that makes sense! 😄

[2017-12-20 01:48] liusy182 commented on #7876
A similar function for posting system message is [PostRemoveFromChannelMessage](https://github.com/mattermost/mattermost-server/blob/master/app/channel.go#L1081). When this is invoked by system command `platform`.  `model.Post` struct field `UserId` is empty string which result to posting erroring out early.

My question is, is the behavior acceptable if "moving channel" posts system message when

[2017-12-20 07:56] lindy65 commented on #7963
Hi @Phorkyas,

I'll close this issue off here for now.  Please feel free to come back and reopen once your admin has upgraded to the latest version if your issue is still not resolved :)

[2017-12-20 07:56] #7963 closed

[2017-12-20 07:57] lindy65 commented on #7954
Hi @francisgg,

As we haven't heard from you, I'll assume your issue is fixed or is no longer valid.

I'll close this off for now but please feel free to reopen if you are still having issues after you have upgraded to the latest version.

Thanks!

[2017-12-20 07:57] #7954 closed

[2017-12-20 07:58] lindy65 commented on #7932
Hi @starlightknight,

As we haven't heard from you, I'll assume your issue is fixed or is no longer valid.

I'll close this off for now but please feel free to come back after upgrading if you are still experiencing issues.

Thanks!

[2017-12-20 07:58] #7932 closed

[2017-12-20 08:00] lindy65 commented on #7897
Hi @xtimon,

I'll close this issue off for now but please feel free to come back with questions at any time :)

[2017-12-20 08:00] #7897 closed

[2017-12-20 08:02] lindy65 commented on #7858
Hi @alesswin,

I'll close this issue off for now. Please feel free to come back with further detail if your issue is not resolved once you've upgraded to the latest version.

Thanks!

[2017-12-20 08:02] #7858 closed

[2017-12-20 08:06] stephenkiers commented on #7906
So, I can't comment on the atlassian ticket, but this seems to be fixed in the latest version

[2017-12-20 08:07] stephenkiers commented on #7906
![screen shot 2017-12-20 at 1 06 16 am](https://user-images.githubusercontent.com/1245512/34197065-16d2414e-e522-11e7-94f0-7e0d36382c8e.png)

[2017-12-20 08:33] lindy65 commented on #7906
Hi @stephenkiers,

Yes, it is indeed fixed in the latest version.  I'll alert the product manager so he can resolve the Jira ticket.

Thanks!

[2017-12-20 08:42] dimsuz commented on #7906
Wait, the screenshot above shows a different popup, the one on the smiley button. This issue is about the popup which is shown when **typing** emoji by hand. Did you try exact reproduction steps described above?

[2017-12-20 09:05] lindy65 commented on #7906
Ah, you are quite correct @dimsuz !

I've reopened this issue and un-commented on the Jira ticket :)  Thanks for the nudge on repro steps!

[2017-12-20 09:17] stephenkiers commented on #7906
Ahh, I misread the problem here. Thanks for confirming. I was wondering when the UI had changed to the list view from just thumbnails. My mistake. Thanks

[2017-12-20 10:02] lindy65 commented on #7906
No worries @stephenkiers :)

Not sure why I reopened this issue though as previously I'd closed it saying we'd track via the Jira ticket - so I'll close it off again! ;)

[2017-12-20 10:02] #7906 closed

[2017-12-20 10:05] dimsuz commented on #7906
Thanks everyone for quick reaction! :)

[2017-12-20 14:29] 212blackjack212 commented on #426
Hi there. Is there a way to limit the privileges each role type has. We are trying to limit the ability to add and remove members from channels (public and private) to only Channel admins, Team admins, or System Admins.

Members should have only the cability to read and write in channels.

Any help is appreaciated.

[2017-12-20 16:06] tcutts opened #7988 "SIGSEGV in platform import"
#### Summary
platform import crashes with a SIGSEGV

#### Steps to reproduce
I'm running 4.5.0 under docker

1.  Dump a team from slack.
2.  Pre-create some of the users in mattermost, authenticated to an LDAP server (I suspect this may be part of the problem)
3.  Import the dump using platform import slack (I do this specifically with: docker-compose exec app ./platform import slack teamname /mat

[2017-12-20 19:07] esethna opened #7989 "[Help Wanted] [PLT-8430] Auto lowercase team and channel names in API requests"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-21 03:37] R-Wang97 commented on #7985
I can try taking a look at this.

[2017-12-21 08:37] cpanato commented on #7989
on it

[2017-12-21 08:37] cpanato commented on #7989
should we fix the update channel as well?

[2017-12-21 09:10] tcutts commented on #7988
I've done some further testing.  Importing the dump through the web interface works (in practice - it claims to fail, but the records have been imported, as far as I can tell), so this is a difference in behaviour between the web import interface and the CLI

[2017-12-21 13:24] tcutts commented on #7988
I set up a new build environment, following the developer instructions.  The import works fine on that, although it's not a clean test, because I can't configure LDAP authentication in the developer environment.  Is there a way to get the developer build to enable enterprise features?

[2017-12-21 14:40] tcutts commented on #7988
Worked out how to do that - created a ../enterprise directory.  So I now have an enterprise test environment working.  Tried loading my licence into it, which it accepts, but it doesn't like it when I try to run the AD/LDAP test it says:

`[2017/12/21 14:36:30 UTC] [EROR] /api/v4/logs:client code=0 rid=jqsp1jtzap8ezgsei8bcgnj6py uid=djekyys7e3gj3euteqxgm66pqc ip=127.0.0.1 {"message":"AD/LDAP disab

[2017-12-21 14:41] cpanato commented on #7989
PR: https://github.com/mattermost/mattermost-server/pull/7992

[2017-12-21 16:51] tcutts commented on #7988
Workaround:  Disabling email notifications allows the import to proceed (noticed the nil pointer for EmailBatch in the stack trace above)

[2017-12-21 17:19] esethna opened #7993 "[Help Wanted] [PLT-8438] Include incoming webhook display name in post props"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-12-21 17:25] cpanato commented on #7993
I can take it

[2017-12-22 07:55] Phorkyas commented on #7963
Thanks! I wanted to close it myself. Our admin upgraded and the issue is solved. I was just curious what put the parser into limbo,.. but probably makes no sense to debug or bisect an issue already solved.

[2017-12-22 09:00] panditsavitags commented on #7257
@jasonblais , as of now the overlay after the click on the channel link shows the list of links again. So the should overlay text be channel links again?

[2017-12-22 09:01] faljse opened #7996 "Web client doesnt work in firefox/private mode"
#### Summary
Current (4.5) Mattermost web client doesnt work in a firefox private mode session.
#### Steps to reproduce
FF 57.0.2 private mode / Mattermost 4.5

#### Observed behavior (that appears unintentional)
There are some Dom errors in the console
`Unhandled promise rejection
DOMError
message: "A mutation operation was attempted on a database that did not allow mutations."
name: "InvalidStat

[2017-12-22 09:02] cpanato commented on #7993
PR: https://github.com/mattermost/mattermost-server/pull/7997

[2017-12-22 14:08] lieut-data commented on #7880
Heads up that I'm tackling this issue at the moment.

[2017-12-23 05:59] antdude opened #8000 "Tab and alt-tab keyboard navigations go the wrong way (reversed) for the login web page's bottom links."
#### Summary
Tab and alt-tab keyboard navigations go the wrong way (reversed)

#### Steps to reproduce
1. Assuming never logged into MatterMost.com, go to https://oss.mattermost.com/login web page (last modified on (Wednesday, November 22, 2017 2:45:39 PM) in Internet Explorer v11/SeaMonkey v2.49.1 (User agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:52.0) Gecko/20100101 Firefox/52.0 SeaMonkey/2.49

[2017-12-23 12:47] kaakaa opened #8001 "Cannot create japanese name channel in v4.5"
#### Summary
In Mattermost v4.5, I cannot create japanese name channel (e.g. `日本語`) .
**However, By [PR-464](https://github.com/mattermost/mattermost-webapp/pull/464) this issues looks to be fixed in my local environment.**

Do I have to wait for v4.6 for this fix to be applied?
If **yes**, please close this issue. I'll wait Mattermost v4.6.

---

For more details.

In mattermost 4.4, specifying J

[2017-12-23 15:50] SmartHoneybee commented on #8000
#### Possible fixes

* introduce wrapper around Terms, Privacy, About, ... content with class `pull-right`
* remove class `pull-right` from wrapper content
* reverse order of wrapper content (to maintain current ordering)
* should probably happen somewhere in `mattermost-webapp` ([`NotLoggedIn` class][1], maybe)

(Somewhat related example: https://www.bootply.com/fUltcZAv78 - `div` is wrapper; con

[2017-12-23 20:55] kouratoras opened #8003 "Clicking on own username, an undefined chat window is opened."
#### Summary
Clicking on your own username in the members list, a chat window is opened with `undefined` title.

#### Steps to reproduce
1. Visit [Mattermost demo page](http://demo.mattermost.com/)
2. Go to a channel (i.e. `town-square`)
3. Click on the members icon to open the members list
4. Find your own username
5. Click on it

#### Expected behavior
Given that there is no chat icon next to yo

[2017-12-24 16:10] sunrez commented on #7996
I am experiencing the same issue ; Mattermost 4.5 / Debian 9.3 host

Clients, Firefox 56 Linux, and 54 OSX in Private Browsing; have disabled all plug-ins, still get the error

![mattermost_linux_ff_56](https://user-images.githubusercontent.com/17105174/34327745-b4bd62b4-e89a-11e7-883f-324cde40b58b.png)

mattermost@mattermost:/opt/mattermost$ ./bin/platform
[2017/12/24 09:28:44 UTC] [INFO] Loaded

[2017-12-24 18:55] martincontuci opened #8004 "demo site - create new account allows empty space on email label"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Email field to create a new account allows empty spaces

[2017-12-25 17:09] lindy65 commented on #7963
Great news @Phorkyas :)

Glad to hear your issue is resolved!

[2017-12-25 18:39] arjitc opened #8005 "Reducing size of YouTube preview ?"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Currently 2 YouTube video previews fill up the whole page

[2017-12-26 04:16] it33 commented on #1723
Hi everyone, I believe technically the push proxy server could be extended to do this. The questions are:

# 1) How many people does this benefit?

We moved this from a GitHub issue (not the right place, since GitHub issues are now only for bugs), to a Jira ticket (which typically means a design has been matured to the point where the ticket is ready to be implemented) however, after further analy

[2017-12-26 04:25] it33 commented on #643
@coreyhulen sorry to bug you over the holidays, just wondering what the result was of the Dec 5, 2017 triage meeting where this ticket came up?
 https://mattermost.atlassian.net/browse/PLT-200

Looks like there was work in progress and someone got stuck? https://github.com/mattermost/mattermost-server/issues/7490#issuecomment-338641064

[2017-12-26 08:02] Bloodoff commented on #8001
Same error with cyrillic channel name, mattermost version 4.5.0

[2017-12-26 14:47] jgonzalezalbisu opened #8007 "The modal from "Account Settings" changes size when navigating through the different options"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
The modal from **_Account Settings_** changes size when n

[2017-12-26 15:51] coreyhulen commented on #643
@it33 we were waiting to queue this item until after the performance push.  We'll get it assigned to one of the feature teams in the new year.

[2017-12-27 21:10] mattrampolla opened #8010 "Jump to Flagged Post cannot be consecutively used for the same Flagged Post"
#### Summary
Once the ‘Jump’ to Flagged Post function is used, a user cannot jump back to the same post until they navigate out of the current channel or select a different flagged post to ‘Jump’ to.

This becomes an issue when a user jumps to a post, scrolls away, and then needs to quickly get back to the Flagged Post.

#### Steps to reproduce
1. Log in to Mattermost (Version: 4.4.0  (4.4.2))
2.

[2017-12-28 08:28] lindy65 commented on #8010
Hi @mattrampolla,

Thanks for your feedback,

I've reproduced your issue on our nightly build server running v4.5 and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8451) for one of our product managers to take a look at to verify the intended behavior.

They're out for the holidays but should respond after Jan 2nd.

[2017-12-28 08:35] lindy65 commented on #8007
Hi @jgonzalezalbisu,

Thanks for your feedback,

Although I have reproduced your issue on our nightly build server running v4.5, I believe this is by design and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8452) for one of our product managers to take a look at and verify the expected.

They're out for the holidays but will respond after January 2nd.

[2017-12-28 08:43] lindy65 commented on #8005
Hi @arjitc,

Thanks for your feedback,

Although I have reproduced your issue on our nightly build server, I believe this is by design and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8453) for one of our product managers to take a look at and verify the expected.

They're out for the holidays but will respond after January 2nd.

[2017-12-28 08:45] lindy65 commented on #8004
Hi @martincontuci,

Thanks for your feedback,

I believe [this ticket](https://mattermost.atlassian.net/browse/PLT-8248) will address your issue and will be fixed when v4.6 releases on January 16th.

[2017-12-28 08:55] lindy65 commented on #8003
Hi @kouratoras,

Thanks for your feedback,

I am not able to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running off the latest master.  oss.mattermost.com is on v4.4 but will be updated soon.

We recently included a feature where you are able to message yourself by clicking on your own username an

[2017-12-28 09:11] lindy65 commented on #8001
Hi @kaakaa @Bloodoff

Thanks for your feedback,

I have reproduced your issue on our nightly build server running off latest master so I believe there is an issue even although [this PR](https://github.com/mattermost/mattermost-webapp/pull/464) has been merged.  I get the error `Name must be 2 or more lowercase alphanumeric characters`.

I have created [this ticket](https://mattermost.atlassian.ne

[2017-12-28 09:22] lindy65 commented on #8000
Hi @antdude @SmartHoneybee

Thanks for your feedback,

I've reproduced your issue and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8455) to track.

[2017-12-28 09:37] lindy65 commented on #7996
Hi @faljse @sunrez

Thanks for your feedback,

I'm not sure whether private browsing in Firefox is supported so I've created [this ticket](https://mattermost.atlassian.net/browse/PLT-8456) for one of our product managers to take a look at.

They're out for the holidays so should respond after January 2nd.

[2017-12-28 09:42] lindy65 commented on #7988
Hi @tcutts,

Thanks for your feedback,

I've created [this ticket](https://mattermost.atlassian.net/browse/PLT-8457) to track the issue.

[2017-12-28 12:49] ronid opened #8011 "Regular text is displayed as link"
Hey,
Regular text such as `aa:bb` displayed in channel as link, the problem seems to be when using text in format `\w*:\w*`.

Screenshot is attached.
<img width="218" alt="mattermost" src="https://user-images.githubusercontent.com/9270263/34411252-44cc7f16-ebde-11e7-9ffd-8d6a114f6d05.PNG">

[2017-12-28 14:11] kaakaa commented on #6174
It looks that this translation unit cannot be found.

[2017-12-28 16:40] antdude commented on #8000
Thanks Lindy65. Wow, two bug trackers?

[2017-12-28 18:51] alasalle42 opened #8012 "Default mention triggers not appearing in mention sidebar"
#### Summary
Default mention triggers - @channel, @all, @here - do not bring up a mention in the sidebar.

#### Steps to reproduce
Version: 4.4.0  (4.4.2)
Build Hash: ba9237628e0e4d02f20ec87449ec003ba7287fb2
Build Date: Wed Nov 22 22:43:49 UTC 2017
Accesses in Chrome, macOS 10.12.6 Sierra

#### Expected behavior
All mentions in the list of triggers should appear in sidebar.

#### Observed behavior

[2017-12-28 19:49] lindy65 commented on #8012
Hi @alasalle42,

Thanks for your feedback,

I'll check with one of our product managers because I'm actually not sure why `@channel` and `@all` are not shown in the search results in the right-hand-side if you click on the recent mentions `@` icon. I can see why people would want to search for these because, for example, you could have email and/or push notifications turned off so you would not re

[2017-12-28 20:49] vordimous commented on #7876
my PR addresses CLI message. but also implements a test. I will add a message posted into the actual channel.

[2017-12-28 23:17] arjitc commented on #8005
Thank you @lindy65

[2017-12-29 02:01] vordimous commented on #7876
I updated the PR. I don't think it is possible to post a message to the channel from a command line argument since there is no current logged in user when executing commands form the CLI. I implemented an update to the header instead. So when moving a channel the header will have the desired message appended to it and a user can adjust it from there.

[2017-12-29 02:59] lindalumitchell commented on #7945
Thanks @R-Wang97! Closing as https://github.com/mattermost/mattermost-webapp/pull/436 has been merged.

[2017-12-29 02:59] #7945 closed

[2017-12-29 03:30] lindalumitchell commented on #7878
Thanks @sudheerDev! Closing, as https://github.com/mattermost/mattermost-webapp/pull/372 has been merged.

[2017-12-29 03:49] #7878 closed

[2017-12-29 04:19] lindalumitchell commented on #7890
Thanks @R-Wang97! Closing, as https://github.com/mattermost/mattermost-webapp/pull/354 has been merged. Looks great!

[2017-12-29 04:19] #7890 closed

[2017-12-29 04:31] lindalumitchell commented on #7874
Thanks @pruthvip, looks great! Closing this issue, as https://github.com/mattermost/mattermost-webapp/pull/351 has been merged.

[2017-12-29 05:35] lindalumitchell commented on #7658
Thanks @watadarkstar!

[2017-12-29 05:35] #7658 closed

[2017-12-29 06:08] pruthvip commented on #7874
@lindalumitchell merging [#351](https://github.com/mattermost/mattermost-webapp/pull/351) had created a bug. Fix for the bug was pushed in [#478](https://github.com/mattermost/mattermost-webapp/pull/478). The fix is not merged yet.

[2017-12-29 06:34] lindalumitchell commented on #7874
Ah, thanks @pruthvip, I missed that. I'll reopen this one then, until that fix is merged. Thanks for letting me know!

[2017-12-29 12:13] lindy65 commented on #8011
Hi @ronid,

Thanks for your feedback,

@hmhealey was working on this recently so perhaps he can chime in on this to clarify...

[2017-12-29 17:42] boeboe commented on #1596
FYI,

the trick with sym-linking and reconfiguring gitlab did not work for me. When I append my custom CA cert chain at **/etc/ssl/certs/ca-certificates.crt** however, it did work.

[2017-12-31 01:24] bobashforth commented on #7520
Jason, I'd like to take this one... let me know if/when it's approved.

[2017-12-31 21:04] bobashforth commented on #7520
@esethna, it looks like this path is obsolete:

https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-cookbooks/gitlab/recipes/mattermost.rb.

The closest I can come to the referenced file is this, I think:

https://gitlab.com/bobashforth/omnibus-gitlab/blob/master/files/gitlab-cookbooks/mattermost/recipes/enable.rb

Can you confirm/correct as appropriate?

Thanks-

     Bob

[2018-01-02 01:57] avasconcelos114 opened #8016 "Message attachment buttons styling on mobile native app"
#### Summary
Layout of attachment buttons does not break into new line at the end of component.

#### Steps to reproduce
App Version: Mattermost Mobile 1.5.1
Server Version: 4.2.0
The exact steps taken were:
1. Create slash command that displays 4 buttons using the message attachment feature
2. Utilize slash command and view response on Mobile Application

#### Expected behavior
Have complete view

[2018-01-02 01:59] avasconcelos114 commented on #8016
Did not realize the mattermost-mobile project had its own issues section to register, will close issue and register it in the correct project. My apologies.

[2018-01-02 01:59] #8016 closed

[2018-01-02 09:08] giladgd opened #8017 "[bug] Blank white screen appears when clicking on the edit button of the channel url in channel creation modal"
#### Summary
A blank white screen appears when clicking on the edit button of the url in channel creation modal.

#### Steps to reproduce
Have Mattermost 4.5.0
1. Click on the '+' button to create a new public channel
2. Fill the title with "test test"
3. Click on the edit button of the url
4. A blank white screen will appear

#### Expected behavior
Being able to edit the url of the new channel (a

[2018-01-02 13:44] #7912 closed

[2018-01-02 14:10] hmhealey commented on #8011
Hi @ronid,

The reason we do that is so that people can use links to arbitrary software like `phone:555-1234` or `steam://friends`, but that feature has been a bit too permissive so we're going to add a setting to better control that behaviour. I'll post back here once a ticket has been drafted.

[2018-01-02 15:21] jasonblais commented on #7257
Hey @panditsavitags! Do you mean the autocomplete that shows up after typing `~`?

![image](https://user-images.githubusercontent.com/13119842/34488456-98a3a6ac-efa6-11e7-92f1-911f2ae112ff.png)

If so, that should be the same for the channel header.

PS: Sorry for the delay, was out of office

[2018-01-02 15:27] jasonblais commented on #7257
@panditsavitags Nevermind, looks like this was already covered in the PR. Nice work!

[2018-01-02 15:56] #7993 closed

[2018-01-02 16:01] #7882 closed

[2018-01-02 16:06] #7784 closed

[2018-01-02 19:00] skvale commented on #7782
[mattermost-webapp #521](https://github.com/mattermost/mattermost-webapp/pull/521) resolved this

[2018-01-02 20:02] jasonblais commented on #7782
Thanks @skvale!

[2018-01-02 20:02] #7782 closed

[2018-01-02 23:24] #6283 closed

[2018-01-02 23:24] jasonblais commented on #6283
Thanks @stephenkiers 👍

[2018-01-02 23:25] jasonblais commented on #6798
@theblueskies Let us know if you have any questions?

[2018-01-02 23:30] #7786 closed

[2018-01-02 23:31] #7874 closed

[2018-01-02 23:34] #7946 closed

[2018-01-02 23:46] jasonblais commented on #5485
Hey @johncoleman83

Looks like there was a change in the proposal made here https://github.com/mattermost/mattermost-server/pull/7820#issuecomment-346085395

Wondering if there was anything we could help with? Please let us know if any.

[2018-01-03 08:23] panditsavitags commented on #7785
@jasonblais , I would like to take this up

[2018-01-03 10:02] avasconcelos114 commented on #7783
I'd like to take care of this one if it's okay with everyone :)

[2018-01-03 10:25] lindy65 commented on #8012
Hi @alasalle42,

If you'd like to follow, we have a conversation open in the [UX Design channel](https://pre-release.mattermost.com/core/pl/75qyj8f77tgrzr5wyynpj4m8no) on our nightly build server.

[2018-01-03 10:38] lindy65 commented on #8017
Hi @giladgd,

Thank you for your feedback,

I am not able to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running off the latest master so it seems the issue has been fixed and will ship with the next release on January 16th.

[2018-01-03 10:51] z906522 opened #8020 "Wrong System Time"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Bug report in one concise sentence

#### Steps to reprodu

[2018-01-03 10:55] z906522 commented on #8020
![mattermost_demo_bug](https://user-images.githubusercontent.com/35064079/34517833-a4bf1ace-f074-11e7-9cf8-43a8fe02cade.png)
Summary: System time appears to be ahead 11min.
Expected behavior: Time should be accurate.
Possible fixes: Adjust system clock.

[2018-01-03 11:03] lindy65 commented on #8020
Hi @z906522,

Thank you for your feedback,

I'm not able to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running off the latest master so I believe the issue has been fixed and will ship with the next release on January 16th.

![image](https://user-images.githubusercontent.com/13020833/34518094-64b3

[2018-01-03 11:22] grundleborg commented on #7988
@tcutts thanks for the bug report. I'm trying to reproduce the crash so I can make sure I fix it correctly, but I can't at the moment. Would you be able to share your `config.json`, with any sensitive values redacted, that you are using when the crash occurs?

[2018-01-03 12:09] tcutts commented on #7988
I think the following is what was running at the time.  The principal change which allowed me to work around it was to set "EnableEmailBatching": false.

{
    "ServiceSettings": {
        "SiteURL": "https://mattermost.sanger.ac.uk",
        "LicenseFileLocation": "",
        "ListenAddress": ":80",
        "ConnectionSecurity": "",
        "TLSCertFile": "",
        "TLSKeyFile": "",
        "Us

[2018-01-03 13:05] jasonblais commented on #7785
Thanks @panditsavitags!

[2018-01-03 13:14] jasonblais commented on #7783
Certainly! Thanks @avasconcelos114 :)

[2018-01-03 14:35] jasonblais opened #8022 "Mattermost v4.6"
This is a meta issue for v4.6 release updates.

You can find key dates for v4.6 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### January 4th: Code Complete

Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated after

[2018-01-03 15:16] alasalle42 commented on #8012
Thanks, @lindy65!

[2018-01-03 15:24] jasonblais commented on #7257
Thanks @panditsavitags :)

[2018-01-03 15:24] #7257 closed

[2018-01-03 17:40] esethna opened #8024 "[Help Wanted] [PLT-8383] Numbered list item with 3+ digits extends left and overlaps other elements"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-03 18:02] devnied opened #8025 "API used to delete a team break Mattermost UI"
#### Summary
When we used the API to delete a Team /api/v4/teams/{team_id} the mattermost UI display a blank screen for all pages (admin also)

#### Steps to reproduce
1. Create a new team with the UI
1. Delete this team with the API
1. Refresh the UI
1. The UI display a blank screen with some javascript error.

Tested with Mattermost 4.4.5

#### Expected behavior
The Matermost UI must display all

[2018-01-03 18:43] alerque opened #8026 "Tab in Firefox constantly signals notifications when there is none"
Any Mattermost tab left open in Firefox perpetually signals that it has notifications or activity even when there are none.

This is 100% reproducable for me across several computers with different Firefox configurations. Open Mattermost (at least the last 2 releases have shown this, not sure when it started) in Firefox (56, & 57 have both show this, not sure before that) into some team chat (any

[2018-01-03 19:27] theblueskies commented on #6798
@jasonblais Yes, i'll ask on the api v4 channel on the mattermost developer channel.

[2018-01-03 21:58] santos22 commented on #7616
Hi @esethna,

I'm afraid I won't be able to complete this issue. Don't want to hold up this feature because it seems pretty important so someone else can take a look at it! I will make sure to provide more frequent updates on any other issues I work on 👍

[2018-01-04 08:59] lindy65 commented on #8026
Hi @alerque,

Thanks for your feedback,

I tried to reproduce your issue in Firefox 55 but couldn't.

I then upgraded to the latest Firefox version, 57, where I have no messages in any channels and no activity and could not reproduce.  Sending a message from another account correctly triggers activity and at-mentions also trigger correctly.

Which server version of Mattermost are you running?

[2018-01-04 09:33] alerque commented on #8026
I'm currently running Mattermost 4.4.5, but this has been a problem for several release cycles. I keep hoping the latest release will fix this but have been too lazy to file a bug report.

I suppose one thing to look into is the way I have Mattermost deployed behind a proxy server. The actual chat server runs on it's own (non public) port and the host that people access is serving it up via Apache

[2018-01-04 11:31] alerque commented on #8026
I guess I should also note that the icon change that lights up the favicon when I get pinged does work properly as expected, this activity indicator is independent of that.

[2018-01-04 11:47] lindy65 commented on #8026
Thanks @alerque,

Mattermost 4.5 released on December 16th and 4.6 goes out on January 16th...  I'm wondering whether you should try upgrading to the [latest version](https://about.mattermost.com/download/) because I am not able to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running off the latest

[2018-01-04 11:54] alerque commented on #8026
Thanks. I was unaware that I wasn't on the latest release. It looks like my distro might be held up over problems with the `mozjpeg` dependency. I will retest this and confirm or close as soon as I can get upgraded. It will be apparent if something changed in just under 60 seconds after upgrade.

[2018-01-04 17:27] esethna opened #8031 "[Help Wanted] [PLT-8347] Docs needed for CLI commands in Docker preview image"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-04 17:43] esethna opened #8032 "[Help Wanted] [PLT-7693] 508 Compliance: After saving an account setting, set focus to the next setting on the list"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-04 17:43] esethna opened #8033 "[Help Wanted] [PLT-7690] 508 Compliance: Add alt to profile pictures (for image previews use the image name)"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-04 17:43] esethna opened #8034 "Improve how UI elements in the message view indicate focus"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-04 17:43] esethna opened #8035 "[Help Wanted] [PLT-7682] 508 Compliance: Create channel screen - Set focus to "X" after hitting Tab with "Create New Channel" button in focus"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-04 18:44] jeshuawoon opened #8036 "Quote in Channel Header Semi-hidden"
#### Summary
When using a quote as the channel header in the browser version, bottom part of the quote is hidden/blocked from view by the bar restraining it.

#### Steps to reproduce
1. Use quotation as a channel header

Mattermost Version: 4.4.0  (4.4.2)
Database: mysql

Browser: Chrome
B. Version: 63+

#### Expected behavior
If, for any reason, a user were to set a quote as a channel header, it

[2018-01-04 19:10] jeshuawoon opened #8037 "Audio recording is unreadable/unplayable"
#### Summary
Tapping on attachments using the mobile web browser version gives me the option to upload a new audio recording, but is uploaded as a file that cannot be played or read when I download it.

#### Steps to reproduce
1. Tap the "attachment" button on mobile web browser version of Mattermost.
2. Select "Recorder" option

![904b5854-6467-4100-8680-d828dfb4c0dd](https://user-images.githubus

[2018-01-04 20:06] jasonblais commented on #7616
Thanks @santos22 for the heads up! I'll add the `Up for Grabs` label back

[2018-01-04 20:28] #8035 closed

[2018-01-05 07:32] sudheerDev commented on #8024
@esethna @jasonblais I have a one line css fix for this. If the below UI change is acceptable i can create a PR for this.
On master
![screen shot 2018-01-05 at 12 56 19 pm](https://user-images.githubusercontent.com/4973621/34599414-286be1dc-f218-11e7-8597-f71c8e1c2f8d.png)

With fix
![screen shot 2018-01-05 at 12 56 59 pm](https://user-images.githubusercontent.com/4973621/34599423-35a9c120-f218-11

[2018-01-05 08:55] lindy65 commented on #8025
Hi @devnied,

Thanks for your report,

We have reproduced your issue and have filed [this ticket](https://mattermost.atlassian.net/browse/PLT-8494) to address it.

[2018-01-05 09:04] lindy65 commented on #8037
Hi @jeshuawoon,

Thanks for your feedback,

I tried to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running off the latest master and it seems there have been some changes since v4.4.

The only options I see to upload are "camera", "video camera" and "files".  There is no audio available to me.  I t

[2018-01-05 09:11] lindy65 commented on #8036
Hello @jeshuawoon,

Thanks for your feedback,

I believe this is by design...  Only 1 line is displayed in the UI.  To view the full channel header, click on the line of text in the header and the other lines will be displayed.

![image](https://user-images.githubusercontent.com/13020833/34602548-dc27f752-f208-11e7-8255-7b54c0c747e7.png)

![image](https://user-images.githubusercontent.com/13020833

[2018-01-05 09:12] lindy65 commented on #8026
Perfect, thanks @alerque!

Please do let us know how it goes after upgrade...

[2018-01-05 13:05] jasonblais commented on #8024
Is the added indentation expected?
![image](https://user-images.githubusercontent.com/13119842/34610442-1e628016-f1ef-11e7-93f1-6de2ce59da99.png)

[2018-01-05 13:09] sudheerDev commented on #8024
@jasonblais That's the default behaviour. I was gonna use this property to fix this https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position

I can add some negative margin to pull them back to position but not sure of the consequences.

[2018-01-05 13:16] alerque commented on #8026
@lindy65 I just got upgraded to 4.5.0 and this errant behavior is still happening for me like clockwork.

[2018-01-05 13:36] jasonblais commented on #8024
@sudheerDev You can submit a PR and we can get it reviewed and tested, that sounds good 👍

[2018-01-05 14:02] sudheerDev commented on #8024
@jasonblais I adjusted the alignment as well.

[2018-01-05 14:42] Ojavedan opened #8043 "Password Reset Feature- No Account existence verified"
#### Summary
Password Reset feature does not check for Account Existence.

#### Steps to reproduce
1-Navigate to Login Page (https://oss.mattermost.com/login)
2-Click the Forgot My Password link
3- Specify any Email Address and click the Reset My Password button.
#### Expected behavior
The Application should in the first place verify that the email provided by the user does not exist in the system

[2018-01-05 17:27] lindy65 commented on #8026
Hi @alerque,

Thanks for letting us know...  I'll ask one of my team-mates to weigh in on your issue as it is not reproducing for me but I am testing on Windows so it could be something in your Apache set-up...

[2018-01-05 18:12] lindy65 commented on #8001
Hi @kaakaa @Bloodoff

This has now been fixed on master and will ship with v4.6 on January 16th.  I'll close the issue off for now.

[2018-01-05 18:12] #8001 closed

[2018-01-05 18:31] esethna opened #8046 "[Help Wanted] [PLT-8455] Tab and alt-tab keyboard navigations go the wrong way (reversed) for the login web page's bottom links"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-05 18:45] pmayeur opened #8047 "Channel search uses "starts with" instead of "contains""
#### Summary
When searching all channels the search is a "starts with" search and not a "contains search"

#### Steps to reproduce
Create the following channels

AAAA
BAAB
CAAC

Search for "AA"

#### Expected behavior
 All 3 should be returned.

#### Observed behavior (that appears unintentional)
Notice only the first is returned.

#### Code
https://github.com/mattermost/mattermost-server/blob/91b

[2018-01-05 20:08] jasonblais commented on #8022
### v4.6.0 RC1 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.6.0-rc1/mattermost-4.6.0-rc1-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/d8fd89d06b07e9c848c16060995c96835e722cec/source/administration/changelog.md#release-v46)

### Approved fixes for RC2
1. [Fix system

[2018-01-06 10:04] useitfortest opened #8049 "Login page cannot be opened after logout from the 'Account Settings' modal (incorrect userId value)"
#### Summary
The user cannot be redirected to login page after logout

#### Steps to reproduce
1. Go to https://oss.mattermost.com/login
2. Login
3. Go to Account Settings > Security > View and Logout of Active Sessions
4. Click Logout

#### Expected behavior
Login page is displayed (https://oss.mattermost.com/login)

#### Observed behavior (that appears unintentional)
Blank page is displayed, the

[2018-01-06 10:36] useitfortest opened #8050 "Team cannot be changed in the left sidebar"
#### Summary
The user cannot change available teams

#### Steps to reproduce
1. Login to https://oss.mattermost.com/ (the user has some available teams)
2. Try to change active team in the left sidebar

#### Expected behavior
Team cannot be change

#### Observed behavior (that appears unintentional)
After clicking another team icon nothing happens
![2018-01-06 13 29 42](https://user-images.githubu

[2018-01-06 12:04] newhinton opened #8051 "Blank Screen on Firefox"
#### Summary
Firefox has problems loading mattermost, it seems to falsely detect javascript beeing disabled and tries to show the appropriate error message, which also fails.

#### Steps to reproduce
Use Firefox to open the Mattermost web client, and reload
You need to be logged in

#### Expected behavior
Mattermost UI opens

#### Observed behavior (that appears unintentional)
Blank screen, Error

[2018-01-06 12:52] newhinton commented on #8051
It seems that this problem is fixed after an upgrade to Version: 4.6.0  (4.6.0-rc1).
I'll close this ticket in a few hours, when the issue does not reappear.

[2018-01-06 15:03] useitfortest opened #8052 "New channel cannot be created without js error (blank page is displayed)"
#### Summary
After creating a new channel blank page is displayed

#### Steps to reproduce
1. Login to https://oss.mattermost.com
2. Add a new public/private channel (fill out all fields in the 'New Channel' modal)
3. Click 'Create New Channel' in the modal

#### Expected behavior
New channel will be created & opened

#### Observed behavior (that appears unintentional)
Blank page is displayed, aft

[2018-01-06 15:43] useitfortest opened #8053 "Leaving a channel causes js error & blank page as a result"
#### Summary
The user can leave a channel, but with the blank page after that

#### Steps to reproduce
1. Login as user A & create a new private channel then add user B there, logout
2. Login as user B & select created private channel
3. Expand context menu for the channel, then click 'Leave Channel'

#### Expected behavior
Default channel is opened, the private channel is not available for the us

[2018-01-06 21:06] catiwumpus opened #8054 "Layout - Quote cut off when in header"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
When a quote is entered into a room header, the text is c

[2018-01-06 21:32] SmartHoneybee commented on #8054
This looks similar to #8036.

[2018-01-07 00:25] santos22 commented on #8046
I can take this!

[2018-01-07 11:29] ChavdarEmilov opened #8055 "intermittent tool tips in message details"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
In the message detail panel when selecting an icon a tool

[2018-01-07 11:43] ChavdarEmilov opened #8056 "Several history access log issues"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Two bugs have been observed in user configuration, securi

[2018-01-07 14:02] alapanme opened #8057 "Grammarly icon overlaps the Smiley button"
#### Summary
Grammarly icon overlaps the Smiley button in default mode.

#### Steps to reproduce
1. Launch the Website.
2. Go to any channel.
3. Observe the Smiley button, next to the textbox post text box.

#### Expected behavior
Both Smiley icon and Grammarly icon should be distinctly visible.

#### Observed behavior (that appears unintentional)
Grammarly icon is overlapping the Smiley icon.

![

[2018-01-07 14:11] alapanme opened #8058 "Reply icon is not in one line with other icons in Firefox 57.0.3 (64-bit)"
#### Summary
Reply icon is not in one line with other icons in Firefox

#### Steps to reproduce
1. Hover the mouse to any post and observe.

#### Expected behavior
The [..], smiley icon and the reply icon should be on one line.

#### Observed behavior (that appears unintentional)
The [..], Smiley icon is on one line but the reply icon is on next line.

![firefox_replyicon](https://user-images.gith

[2018-01-07 14:51] alapanme opened #8059 "No Preview for .tiff Images"
#### Summary
No Preview for '.tiff' images

#### Steps to reproduce
1. Upload a .tiff image
2. Upon successful upload, observe the preview.

#### Expected behavior
A preview should be displayed.

#### Observed behavior (that appears unintentional)
No image preview is displayed. An attachment icon is displayed.

![tiffimage](https://user-images.githubusercontent.com/25705483/34650505-47add8ee-f3e8-

[2018-01-07 15:10] Misfit1982 opened #8060 "Cursor change shows selectable link where link is un-selectable"
Summary:
On the "Edit Channel Header" menu, hovering over the font format options the cursor changes to denote that the link can be clicked, however clicking this option does nothing.

Steps to Reproduce:
Go to achannel
Select the channel options drop down in upper left corner
Select to edit the channel header
hover over the text formatting options

Expected Result:
The cursor should not change to

[2018-01-07 15:58] alapanme opened #8061 "Loading Indicator flickers, when multiple large size images are previewed simultaneously"
#### Summary
Loading Indicator flickers, when multiple large size images are previewed simultaneously

#### Steps to reproduce
1. Upload 5 images. Make sure images are of large size like 15MB+.
2. Upon successful upload, click Enter to post them.
3. Click on any one of the images and simultaneously click the Right arrow button, so that loading indicator appears for each image.
4. Keep on clicking

[2018-01-07 16:13] alapanme opened #8062 "Mobile Classic App (browser) - the text box is hidden by the keyboard when replying to a post"
#### Summary
The Textbox hides when clicked when replying to a Post on Mobile

#### Steps to reproduce
1. Click on the reply button.
2. Click on Post Text box.

#### Expected behavior
The keyboard shouldn't overlap the textbox and the textbox should be visible at all times.

#### Observed behavior (that appears unintentional)
The Keyboard comes up, hiding the Post text box. Device: Galaxy S8, Andr

[2018-01-07 18:43] limenleap opened #8064 "Mattermost Personal Token (Admin) NOT shown AT ALL in 4.5"
#### Summary
Mattermost Personal Token (Admin) NOT shown AT ALL in 4.5 This is serious issue for me as I have an external application that uses the API and the personal token for admin to do some work
#### Steps to reproduce
Login as admin. Go to the "Account Settings" Click on Security. Create a personal token. It will pop up the warning saying it is for the admin . .. you still proceed. Then not

[2018-01-07 20:32] StephaneColson opened #8065 "Wrong public channel displayed after closing a chat with a channel member"
#### Summary
Wrong public channel displayed after closing a chat with a channel member

#### Steps to reproduce
- Using https://oss.mattermost.com
- Go see the public channel **"Buggy"**
- Say hi!
- Open the list member at the top and click on one of them to chat with him/her
- This new private conversation is now in the list of "Direct messages"
- Click on the cross of this new private conversati

[2018-01-08 02:23] santos22 commented on #4360
Hi,

Is there anyway to turn on email verification locally? I modified the values in **config.json** (see screenshot below) but am not receiving any verification emails.

<img width="1552" alt="screen shot 2018-01-07 at 6 19 59 pm" src="https://user-images.githubusercontent.com/7004949/34657093-b20d6c10-f3d7-11e7-8218-14b7f91f9043.png">

[2018-01-08 02:30] CometKim commented on #4360
Hello @santos22 ! There is a [command line tool](https://docs.mattermost.com/administration/command-line-tools.html#platform-user-verify) for that.

[2018-01-08 02:59] santos22 commented on #4360
Hi @CometKim,

Thanks for the prompt response! I used the command line tool and it worked 👍

I was hoping to actually receive the emails in order to click on the Verify Email and test my changes.

<img width="667" alt="screen shot 2018-01-07 at 6 55 57 pm" src="https://user-images.githubusercontent.com/7004949/34657617-cbbb7ca6-f3dc-11e7-9fea-e59ca200fbba.png">

[2018-01-08 03:18] santos22 commented on #4360
Nvm! I am running a test SMTP server using Python thanks to this [link](https://docs.mattermost.com/developer/running-mattermost.html) 😄

[2018-01-08 09:25] lindy65 commented on #8065
Hi @StephaneColson,

Thanks for your feedback,

It is expected behavior to be returned to Town Square when closing direct messages, or when leaving public and/or private channels.

[2018-01-08 09:42] lindy65 commented on #8064
Hi @limenleap,

Thanks for your feedback,

I have tried to reproduce your issue on v4.6 but am not able to.

For expected behavior, please see [this documentation](https://docs.mattermost.com/developer/personal-access-tokens.html).

Version 4.6 ships on January 16th.  If you'd like to test on a server running this version you can use [this server](http://rctesting.reddogsofwar.com/)

[2018-01-08 09:52] lindy65 commented on #8062
Hi @alapanme,

Thanks for your feedback,

Are you using the Classic App in the browser?  Or do you have the classic app installed on your phone?

I tried to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running v4.6 and wasn't able to.  However, I tested on Sony Xperia, Android 7.  I believe the beha

[2018-01-08 09:56] alapanme commented on #8062
Hi @lindy65

I am using the classic App in browser. I am able to reproduce it every time as demonstrated in the attached GIF.

[2018-01-08 10:04] lindy65 commented on #8060
Hi @Misfit1982,

Thanks for your feedback,

I've reproduced your issue and see that it also occurs anywhere these text formatting options occur (e.g. message text input box).  I've filed [this ticket](https://mattermost.atlassian.net/browse/PLT-8506) to track the issue.

[2018-01-08 10:08] lindy65 commented on #8061
Hi @alapanme,

Thanks for the report,

I'm not able to reproduce your issue but have asked the team to see if anyone can reproduce.  Are you on Windows or Mac?  (I saw from a previous issue you reported that you're testing on oss.mattermost.com?)

[2018-01-08 10:11] alapanme commented on #8061
Hi @lindy65

I have tested this on Windows 10, Google Chrome. Yes I am testing on oss.mattermost.com. Make sure you take images of large sizes.

[2018-01-08 10:14] lindy65 commented on #8059
Hi @alapanme,

Thanks for your feedback,

I'm not sure what the expected is for .tiff files but will check with one of the product managers.

[2018-01-08 10:17] moussetc commented on #7996
Hello, some of our users have reported this issue. Has there been any advance on this bug, is it planned for the 4.6 release ? I guess not considering the date but one can hope. This bug is a troubling one and wasn't listed in the release notes for version 4.5.
Thank you for your work.

[2018-01-08 10:20] lindy65 commented on #8058
Thanks @alapanme,

I've reproduced your issue and have filed [this ticket](https://mattermost.atlassian.net/browse/PLT-8507) to track.

[2018-01-08 10:22] lindy65 commented on #8057
Hi @alapanme,

Thanks for your feedback,

Grammarly is an add-on, correct?  I'm not sure about the expected here so have asked one of the product managers to give feedback.

[2018-01-08 10:24] alapanme commented on #8057
Hi @lindy65,

Yes, Grammarly is an add-on. Saw this behavior for both Chrome and Firefox.

[2018-01-08 10:28] lindy65 commented on #8054
Thanks @catiwumpus @SmartHoneybee

Yes, this issue is similar to #8036 except if a "quote" is used in the first line of the channel header it is definitely cut off.

I'll post to the product manager as they'll need to discuss this to see how / if they can make changes to the UI.

[2018-01-08 10:36] lindy65 commented on #8053
Thanks @useitfortest

I've reproduced your bug report and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8508) to track.

[2018-01-08 10:39] lindy65 commented on #8052
Hi @useitfortest,

Thanks for your feedback,

I'm not able to reproduce your issue on Windows but will check with someone on the team who has a Mac with Safari.

[2018-01-08 10:40] lindy65 commented on #8051
Thanks @newhinton,

Let us know how it goes!

[2018-01-08 10:43] lindy65 commented on #8050
Hi @useitfortest,

I'm not able to reproduce this on Windows so have asked for someone on the team to test on Mac.

[2018-01-08 10:47] lindy65 commented on #8049
Thanks @useitfortest,

I've reproduced your issue and have filed [this ticket](https://mattermost.atlassian.net/browse/PLT-8509) to track.

[2018-01-08 10:50] lindy65 commented on #8047
Hi @pmayeur,

Thanks for your feedback,

I'm not able to reproduce your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running the v4.6 RC1 version.

Which server version are you running?

[2018-01-08 13:25] pmayeur commented on #8047
@lindy65 looks to be reported/fixed -- https://mattermost.atlassian.net/browse/PLT-8312

[2018-01-08 14:12] luisfellipe7 opened #8066 "https://api.segment.io/v1/t Failed"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
https://api.segment.io/v1/t Failed to response data

####

[2018-01-08 15:05] #8024 closed

[2018-01-08 15:35] jasonblais commented on #8066
@luisfellipe7 Do you have a link of the JavaScript console when the error occured (same developer tools window from your screenshot, but on the "Console" tab)?

[2018-01-08 17:10] luisfellipe7 commented on #8066
Sure, it also happens when I first enter the site
![image](https://user-images.githubusercontent.com/4549904/34682397-f868fc3e-f485-11e7-86c2-30cbe3678ebb.png)

[2018-01-08 17:21] hmhealey commented on #8066
Hi @luisfellipe7,

Those errors are because your ad blocker is blocking some analytics that we have running to track things like feature usage. More information about the analytics, as well as how to disable them on your own server, is available [here](https://docs.mattermost.com/administration/telemetry.html#error-and-diagnostics-reporting-feature)

[2018-01-08 17:21] lfbrock commented on #8043
Hi @Ojavedan - I think the behaviour here matches what's typical on other sites - generally, if the account exists a password reset email is sent and if not there is no notice given on the password reset page.

However, if the account doesn't exist it might make sense to send an email saying something like "A password reset was requested for this email, but no account with that email exists." That

[2018-01-08 17:29] lfbrock commented on #8050
Hi @useitfortest - thanks for the report, we reproduced and filed a ticket here to fix the issue: https://mattermost.atlassian.net/browse/PLT-8510

[2018-01-08 17:30] lfbrock commented on #8052
Thanks @useitfortest, we reproduced the issue and have a ticket filed here to fix it: https://mattermost.atlassian.net/browse/PLT-8510

[2018-01-08 17:32] luisfellipe7 commented on #8066
Yeah, disabled adblocker and it not gave me an error anymore :)

[2018-01-08 17:32] #8066 closed

[2018-01-08 19:16] lindy65 commented on #8047
Ah, thanks @pmayeur - I'll close this issue off for now then :)

[2018-01-08 19:16] #8047 closed

[2018-01-08 19:43] lindy65 commented on #7996
Hi @faljse @sunrez @moussetc

Can you try accessing our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) via private mode in Firefox?

A bug fix related to Firefox not loading the web client has been implemented on the above server.

[2018-01-08 19:56] lindy65 commented on #8062
Thanks @alapanme,

I tested in the Android App of Mattermost Classic so this must be browser-related behavior as it does not reproduce in the app.

I've created [this ticket](https://mattermost.atlassian.net/browse/PLT-8517) to track.

[2018-01-08 20:45] lfbrock commented on #8057
Hi @alapanme,

Can you clarify more on the expected behaviour? Would you expect the text box to have a different design if the Grammarly add-on is there?

I'm not sure if this is something we would support ourselves since it's a special use case, but you might be able to look into making the change yourself by modifying the webapp (instructions [here](https://docs.mattermost.com/deployment/customi

[2018-01-09 06:43] limenleap commented on #8064
Hi. I rechecked umpteen times but the issue is surely there. My server has only 1GB RAM... can that be one reason? Not sure. The hosting is on Amazon Lightsail on Ubuntu 16.04 -- can that be having some peculiarities? Again, not sure

I will try and make a video/gif of what I see when I get time for this

[2018-01-09 06:54] limenleap commented on #8064
@lindy65 I tried the server link you gave but unfortunately the Personal Access Token feature is not switched on for me. I tried creating a team called "abcdefg" there but sorry, this feature was not available on that server (it must be switched off in the system console/config file) so I can't test

[2018-01-09 09:27] lindy65 commented on #8059
Hi @alapanme,

I've checked what's expected in the product at the moment and .tiff file previews are not yet supported in the webapp but are in the mobile apps.

Perhaps we could have your help opening a [feature request](https://mattermost.uservoice.com/forums/306457-general) for this feature in the webapp and post the link to the request back to this issue for continuity?

[2018-01-09 09:28] moussetc commented on #7996
Hi @lindy65 ! Thank you for your fast answer, we tested the nightly build server and it does work in private mode FF.

[2018-01-09 09:30] lindy65 commented on #8055
Hi @ChavdarEmilov,

Thanks for your feedback,

Vivaldi is not a supported browser.  You can find a list of supported browsers [here](https://docs.mattermost.com/install/requirements.html#pc-web-experience).

[2018-01-09 09:33] lindy65 commented on #8054
Hi @catiwumpus @SmartHoneybee

We've opened a [ticket](https://mattermost.atlassian.net/browse/PLT-8514) to improve the layout of the header so quotes can be accommodated.

[2018-01-09 09:39] lindy65 commented on #8059
Update:  It seems the fix for adding .tiff file previews is not a big code change so we've created [this ticket](https://mattermost.atlassian.net/browse/PLT-8516) to track.

[2018-01-09 09:49] lindy65 commented on #8061
Hi @alapanme

Could you try testing this again on oss.mattermost.com please?  The server was updated so this issue might well be fixed now.

[2018-01-09 09:54] lindy65 commented on #8036
Hi @jeshuawoon

We've created [this ticket](https://mattermost.atlassian.net/browse/PLT-8514) to improve the layout.

[2018-01-09 10:02] lindy65 commented on #7996
Thank you @moussetc,

I've asked the devs for feedback on this issue.  I'll post back as soon as I hear from them.

[2018-01-09 12:29] newhinton commented on #8051
This error did not show up under 4.6.0-rc1, so i will mark this as successfully closed. Thank you for your time!

[2018-01-09 15:28] JaneCoder commented on #2410
I created a team no realizing someone else had done it for us first. And now I'm stuck with both in my view. Would love to be able to get rid of it.

[2018-01-09 15:35] jasonblais commented on #2410
@JaneCoder You should have an option to leave a team from the Mattermost main menu

![image](https://user-images.githubusercontent.com/13119842/34728785-d2b8dd58-f528-11e7-9fd5-36a405dd0289.png)

[2018-01-09 15:36] esethna opened #8070 "[Help Wanted] [ABC-32] Mattermost-Kubernetes: Add jobserver instances to cluster"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-09 15:36] esethna opened #8071 "[Help Wanted] [ABC-31] Mattermost-Kubernetes: Add persistent volume claims to Elasticsearch"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-09 15:38] limenleap commented on #8064
@lindy65 I think I got a clue: The SMTP settings in my installation is possibly not working (Will debug that separately) So I think I am getting this issue because Mattermost is unable to send a notification mail to me saying that a personal token has been created

If that be the case; I think Mattermost developers should change the flow of the logic. I think the personal token should be shown the

[2018-01-09 15:40] esethna opened #8072 "[Help Wanted] [ABC-34] Kubernetes: Add mattermost-push-proxy"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-09 15:42] JaneCoder commented on #2410
Thank you!

On Tue, Jan 9, 2018 at 10:35 AM, Jason Blais <notifications@github.com>
wrote:

[2018-01-09 15:50] esethna opened #8073 "[Help Wanted] [ABC-35] Kubernetes: Add ELK stack to parse and centralize all the mm logs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-09 15:54] esethna opened #8074 "[Help Wanted] [ABC-37] Kubernetes: Add read-replicas to MySQL"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-09 15:54] esethna opened #8075 "[Help Wanted] [MM-8688] Kubernetes: Writeup documentation for using kubes/helm for developers running minikube"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-09 16:19] destayag opened #8076 "Mac Desktop App is not updating display after successfully changing the account email address"
#### Summary
Mac Desktop App is not updating display after successfully changing the account email address and user has verified the email.

#### Steps to reproduce
Version: 4.6.0  (4.6.0-rc1)
Device: Macbook

1. Log in to your account
2. Go to main hamburger icon > Account Settings > Email
3. Click Edit link
4. Change the email by providing a valid New Email and Confirm Email
5. Click Save
6. The

[2018-01-09 19:43] lindy65 commented on #8056
Hi @ChavdarEmilov,

Thank you for your feedback,

Could you help share which server version of Mattermost you're running as well as the exact steps we can follow to reproduce your issue?

[2018-01-09 19:46] lindy65 commented on #8062
I'll close this issue off for now and we can track via the Jira ticket linked above.

[2018-01-09 19:46] #8062 closed

[2018-01-09 19:47] lindy65 commented on #8060
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:47] #8060 closed

[2018-01-09 19:47] lindy65 commented on #8059
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:47] #8059 closed

[2018-01-09 19:48] lindy65 commented on #8058
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:48] #8058 closed

[2018-01-09 19:48] #8055 closed

[2018-01-09 19:49] lindy65 commented on #8054
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:49] #8054 closed

[2018-01-09 19:49] lindy65 commented on #8053
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:49] #8053 closed

[2018-01-09 19:50] lindy65 commented on #8052
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:50] #8052 closed

[2018-01-09 19:50] lindy65 commented on #8050
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:50] #8050 closed

[2018-01-09 19:51] lindy65 commented on #8049
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:51] #8049 closed

[2018-01-09 19:52] lindy65 commented on #8036
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:52] #8036 closed

[2018-01-09 19:54] lindy65 commented on #8025
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 19:54] #8025 closed

[2018-01-09 19:54] #8020 closed

[2018-01-09 19:56] #8017 closed

[2018-01-09 19:59] lindy65 commented on #8012
We've created [this ticket](https://mattermost.atlassian.net/browse/UX-89) to improve the behavior / design of mention triggers so I'll close this issue off for now and we can track via the ticket.

[2018-01-09 19:59] #8012 closed

[2018-01-09 20:01] lindy65 commented on #8010
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-09 20:01] #8010 closed

[2018-01-09 20:02] lindy65 commented on #8007
I'll close this off for now and we can track via the ticket linked above.

[2018-01-09 20:02] #8007 closed

[2018-01-09 20:02] lindy65 commented on #8005
I'll close this off for now and we can track via the ticket linked above.

[2018-01-09 20:02] #8005 closed

[2018-01-09 20:04] lindy65 commented on #7988
I'll close this issue off here and we can track via the ticket linked [above](https://github.com/mattermost/mattermost-server/issues/7988#issuecomment-354260130)

[2018-01-09 20:04] #7988 closed

[2018-01-09 22:59] jasonblais commented on #8022
### v4.6.0 RC2 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.6.0-rc2/mattermost-4.6.0-rc2-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/d8fd89d06b07e9c848c16060995c96835e722cec/source/administration/changelog.md#release-v46)

### Approved fixes for RC3

1. [Regression

[2018-01-10 01:43] ronaldreagan4prez opened #8081 "Slack Import Missing Emails"
Slack exports don't include email addresses anymore, but you are able to export a full list of users including emails via the manage members page.  Can we include this CSV as a way to import users?

[2018-01-10 02:47] gstormont opened #8083 ""Commands have been disabled by the system admin" text appears if command has extra characters"
OS: Windows 10
Browser: Google Chrome (ver 63.0.3239.84)

#### Summary
If a command has an extra character at the end (ex. "/away," or "/away;") red text "Commands have been disabled by the system admin." appears below the text entry field. If the user deletes the extra character they have to tap enter twice to actually submit the corrected command.

#### Steps to reproduce
1. In a conversation ty

[2018-01-10 07:21] lindy65 commented on #8064
Hi @limenleap,

Apologies for the delay in responding, our team was testing / investigating your issue...

Could you share a screenshot of what you see after you hit "Yes, Create" in the popup that warns about creating a System Admin access token?

[2018-01-10 08:43] lindy65 commented on #8083
Hi @gstormont,

Thanks for your feedback,

Could you share which version of Mattermost server you're running?

I tested on Win 10, Chrome on our nightly build server running v4.6 RC2 and could not reproduce your issue.

If I type in an incorrect slash command, I get the correct error message below:

![image](https://user-images.githubusercontent.com/13020833/34763185-e764adac-f5f2-11e7-95e7-123535

[2018-01-10 09:01] lindy65 commented on #8065
I'll close this issue off for now.

[2018-01-10 09:01] #8065 closed

[2018-01-10 09:15] lindy65 commented on #8004
I'll close this issue off for now and we can reopen if you still see issues after v4.6 ships.

[2018-01-10 09:15] #8004 closed

[2018-01-10 09:18] lindy65 commented on #8003
I'll close this issue off for now

[2018-01-10 09:18] #8003 closed

[2018-01-10 09:18] lindy65 commented on #8000
I'll close this issue off for now and we can track via the ticket linked above.

[2018-01-10 09:18] #8000 closed

[2018-01-10 09:27] dlahn-test commented on #8071
@esethna It looks like there is an open PR for this one at https://github.com/mattermost/mattermost-server/issues/7330

[2018-01-10 09:28] dlahn commented on #8071
@esethna It looks like there is an open PR for this one at https://github.com/mattermost/mattermost-server/issues/7330

[2018-01-10 11:03] limenleap commented on #8064
Hi it comes back to the earlier dialog as if I had not even pressed the "Save" button. More I think about this more it looks that it is due to the fact that my SMTP server config has gone wrong somewhere

(I am travelling and so may not be able to respond till Monday 12, Jan)

Image of the third step:
![step3-admintoken](https://user-images.githubusercontent.com/20351066/34769378-a3180014-f623-11e

[2018-01-10 11:07] limenleap commented on #8064
Also, when I close the entire Account Settings dialog, then come back again I find that the security token indeed has been created! But I can't copy the token now anyway. I get only the token ID and not the token itself

![securitytokencreated](https://user-images.githubusercontent.com/20351066/34769673-7051b44e-f624-11e7-8d96-cd9c2a51ab56.jpg)

[2018-01-10 14:20] jasonblais commented on #8064
Thanks @limenleap!

If you hit "Save" again on the third screen, does it do the same?

I've tried to reproduce but I'm unable to. One other thing that would be useful is getting a snapshot of your JavaScript console while you're creating the token. Here is how for various browsers: https://webmasters.stackexchange.com/questions/8525/how-do-i-open-the-javascript-console-in-different-browsers

[2018-01-10 14:26] limenleap commented on #8064
Yes it does create yet another one. And again the same problem happens.. then again I hit save and one more and on and on iteratively.

Also, I am not getting any email saying that the token is created. Though it has. Because when I close the account settings and start up the security link etc I do see the list of tokens created in the aforesaid fashion

I suspect something is going wrong when the

[2018-01-10 15:10] lfbrock commented on #8076
Hi @destayag - can you clarify if you mean the iOS mobile app, or the Mac desktop app? (It looks like the screenshots are of desktop app only, but not sure if the wrong one was attached).

[2018-01-10 15:24] destayag commented on #8076
@lfbrock my bad. I have updated the issue details and correct the mistake(from IOS app to Mac Desktop App).

[2018-01-10 15:58] esethna commented on #8071
Looks like this is a dupe, thanks!

[2018-01-10 15:58] #8071 closed

[2018-01-10 16:13] #8070 closed

[2018-01-10 16:13] #8074 closed

[2018-01-10 16:13] #8073 closed

[2018-01-10 16:14] #8072 closed

[2018-01-10 17:09] antdude commented on #8000
OK, lindy65. :)

[2018-01-10 17:14] antdude commented on #8046
FYI. https://github.com/mattermost/mattermost-server/issues/8000 for my 18 days old bug report. :)

[2018-01-10 18:23] jasonblais commented on #8064
@limenleap Yeah, I tried with different email settings, including one where the configuration was incorrect.

Maybe when you're back later this week you can help share your email settings from config.json? You can hide any confidential information of course.

[2018-01-10 18:33] esethna opened #8084 "[Help Wanted] [ABC-70] Allow hosting of MM at any route like http://www.example.com/chat"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-10 18:46] jasonblais commented on #8084
Duplicate

[2018-01-10 18:46] #8084 closed

[2018-01-10 18:54] swain-ritu opened #8085 "Search and then click on a User in "Open Discussion Forum Members" modal does not select the User"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Bug report in one concise sentence

#### Steps to reprodu

[2018-01-10 19:05] swain-ritu commented on #8085
Summary- Search and Click on a User in "Open Discussion Forum Members" modal does not select the User
Steps-
1> Login to your account >  go to https://oss.mattermost.com/joomla/channels/town-square
2> click on Member popover > select to View Members
// opens modal titled "Open Discussion Forum Members modal"
3> click on any member on the list

Expected- Member gets selected and  next it should ope

[2018-01-10 21:45] kylegoch opened #8087 "Picture Thumbnails Are Not Resizable"
We started experimenting with a montioring service that sends graphs to MatterMost. However the images are crazy small by default. And have a huge white box with info next to them thats the same size as the image.

I would rather just see a large preview of the picutre a la Slack with the option to make it bigger by clicking on it. Right now, any image sent to MatterMost requires you actually clic

[2018-01-10 22:07] lfbrock commented on #8087
Hi @kylegoch - the old config settings were just removed because they didn't actually change the size of the thumbnail, they just changed how much of the image was rendered within the thumbnail so it was a little strange.

We have an in progress pull request here to improve the file thumbnails - feel free to log into the test server to try it out, open to any feedback you have on the new design an

[2018-01-10 22:29] kylegoch commented on #8087
Awesome thanks @lfbrock ! took the test server for a spin and left some feedback.

Will close this issue.

[2018-01-10 22:29] #8087 closed

[2018-01-10 23:19] cluisquijada opened #8090 "Profile picture uploader accepts images with a size less than 128px x 128 px not according as the instruction"
#### Summary
Profile picture uploader accepts images with a size less than 128px x 128px not according to the instructions

#### Steps to reproduce
1. Go to **Account Settings**
2. In the **General** tab, click on **Edit** link on **Profile Picture**
3. When the **File Explorer** opens, select an image with a size less than 128 x 128.
4. Click on **Save**

#### Expected behavior
Application should

[2018-01-11 05:11] jasonblais commented on #8022
### v4.6.0 RC3 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.6.0-rc3/mattermost-4.6.0-rc3-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/d8fd89d06b07e9c848c16060995c96835e722cec/source/administration/changelog.md#release-v46)

### Approved fixes for RC4

1. [OAuth acco

[2018-01-11 09:21] lindy65 commented on #8081
Hi @ronaldreagan4prez,

Thanks for your feedback,

Can we have your help adding your request to our [feature suggestions forum](https://mattermost.uservoice.com/forums/306457-general) where it can be upvoted by you and others to increase it's popularity?

Please link the request back to this issue for continuity?  Thanks!

[2018-01-11 09:37] lindy65 commented on #8090
Hi @cluisquijada,

Thank you for your feedback,

We've reproduced your issue and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-8551) to track.

[2018-01-11 09:45] lindy65 commented on #8085
Hi @swain-ritu,

Thanks for your feedback,

Please include a screenshot of which modal you're trying to open a direct message with a user from?

You should be able to click on the "message icon" from within the "members popover"

![image](https://user-images.githubusercontent.com/13020833/34818816-9c9ebbdc-f6c4-11e7-8c19-3cd62a1da830.png)

The "message icon" becomes visible only when hovering over

[2018-01-11 18:13] esethna opened #8092 "Show TIF image thumbnail previews"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-11 21:12] dlahn commented on #7331
I'll take this one.

[2018-01-11 21:13] dlahn commented on #7519
I'll take this one.

[2018-01-11 21:19] herooftimeandspace opened #8093 "Notification preference settings don't respect case sensitivity."
#### Summary
Notification preference settings don't respect case sensitivity.

#### Steps to reproduce
Platform / Webapp Version: 4.6.0  (4.6.0-rc3)

**NOTE: Username and First Name of the user match.**
Go to Account Settings → Notifications → Words that trigger mentions
Uncheck "Your non-case sensitive username "[username]""
Type your name with multiple case sensitive variants
The name highlights

[2018-01-11 21:55] cjohannsen81 opened #8094 "Replica setting prevents Mattermost from starting"
I try to start a Mattermost cluster using an Enterprise license for testing. As soon as I add a replica (postgres) the service isn't longer supporting HA.

I started the cluster with replicas it failed, when started without the replicas setting the cluster comes up perfectly.

Here is what the failure in the logs describe:

`[2018/01/11 21:13:46 UTC] [INFO] License key has not been uploaded.  Load

[2018-01-11 23:35] esethna opened #8096 "[Help Wanted] [ABC-77] Remove mm_config and mm_license global state from webapp"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-11 23:35] esethna opened #8097 "[Help Wanted] [ABC-76] Move webapp to use websocket event handling from mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-01-12 01:15] jasonblais commented on #8022
### v4.6.0 RC4 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.6.0-rc4/mattermost-4.6.0-rc4-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/d8fd89d06b07e9c848c16060995c96835e722cec/source/administration/changelog.md#release-v46)

### Approved fixes for RC5

1. [Regression

[2018-01-12 01:30] jasonblais commented on #7331
Great, thanks @dlahn !

[2018-01-12 01:55] jasonblais commented on #8093
Thanks @herooftimeandspace for the report!

We've created a ticket here: https://mattermost.atlassian.net/browse/PLT-8556

It appears to only affect the highlighting based on my testing. No mention notification is triggered if someone else posts a message containing "link" in your above example.

[2018-01-12 02:07] jasonblais commented on #8097
Dup of https://github.com/mattermost/mattermost-server/issues/7487

[2018-01-12 02:07] #8097 closed

[2018-01-12 02:07] jasonblais commented on #8096
Dup of https://github.com/mattermost/mattermost-server/issues/7486

[2018-01-12 02:07] #8096 closed

[2018-01-12 05:28] pruthvip commented on #8092
@jasonblais vl give it a try!!

[2018-01-12 08:17] lindy65 commented on #8093
Thanks @herooftimeandspace, I'll close the issue off here and we can track via the Jira ticket linked above.

[2018-01-12 08:17] #8093 closed

[2018-01-12 08:18] lindy65 commented on #8090
I'll close this issue off here and we can track via the Jira ticket linked above.

[2018-01-12 08:18] #8090 closed

[2018-01-12 08:31] lindy65 commented on #8026
Hi @alerque,

Apologies for the delay in responding...  We have been trying to reproduce your issue and are still investigating.

@sousapro feels it might be a proxy issue of some kind and is investigating further.

[2018-01-12 13:09] herrsebi commented on #2514
Hi, I think I could look into this one, could you point me towards docs to get started with importers?

[2018-01-12 13:09] jasonblais commented on #8092
Great, thank you @pruthvip!

[2018-01-12 13:28] gyrodave commented on #7996
I also encounter this annoying problem with Firefox V 52.4.2 in normal mode.

How is the bug fix going to be implemented for self hosted installation. I scanned quickly the PR and found nothing related to this issue.

Thank you !

[2018-01-12 13:31] hmhealey commented on #8011
The ticket to add a whitelist is [here](https://mattermost.atlassian.net/browse/PLT-8462). We're still reviewing a couple things with it, but once that's done, it'll be opened up as a Help Wanted ticket for anyone who wanted to work on it

[2018-01-12 14:47] jasonblais commented on #7996
@faljse @sunrez @gyrodave @moussetc

We are preparing a dot release, v4.5.1. It should be released within the next couple of days. PR here: https://github.com/mattermost/mattermost-webapp/pull/603

The issue is also fixed on our v4.6.0 release, which is scheduled for January 16th.

[2018-01-12 15:48] Kelloggs opened #8101 "Channel "Notifications Preferences" are applied to all channels in team."
#### Summary
Channel specific settings for notifications are applied to all channels.

#### Steps to reproduce
- Select one channel (e.g. Town Square)
- Click channel name and select "Notification Preferences"
- Change settings (e.g. set "Send desktop notifications" to "Never")

#### Expected behavior
I expect, that the setting is only applied to the selected channel and that the Notifications Pre

[2018-01-12 16:28] jasonblais commented on #8101
Thanks @Kelloggs! This is fixed in v4.6.0, which ships on January 16th.

[2018-01-12 17:07] Kelloggs commented on #8101
@jasonblais Great - thanks. I did see, that there were fixes regarding notification preferences but couldn‘t determine whether they are related.

[2018-01-12 17:22] jwilander commented on #8094
Hi @cjohannsen81,

It looks like your trial license is failing to load because of this PostgreSQL error: `pq: relation "users" does not exist`. On server start-up when the license is loaded, the DB will be queried to check the license user count vs the actual user count on the server. This check is failing because it looks like your replica doesn't have the `users` table.

I'd check to make sure t

[2018-01-12 17:22] jasonblais commented on #8101
@Kelloggs Certainly! Thanks for confirming 👍

I'll close this issue then

[2018-01-12 17:22] #8101 closed

[2018-01-12 17:52] lindy65 commented on #8085
Hi @swain-ritu,

Thank you for clarifying,

Before you click on "View members", hover over a name and you will see the "message bubble" - Click on that to direct message the person

![image](https://user-images.githubusercontent.com/13020833/34888149-bac39a2a-f7d1-11e7-9c4c-0b8fe1bcfe89.png)

I do see your point though that having to scroll through lots of users to find the one you're looking for

[2018-01-12 21:08] cjohannsen81 commented on #8094
@jwilander Since the replica server is 100% like the master server I was wondering at what point the tables are setup on the replicas?

[2018-01-13 03:27] Brunzer commented on #7517
I'll grab this is if it still available

[2018-01-13 03:47] jasonblais commented on #7517
Thanks @Brunzer! @MusikPolice Is this relevant to what you've been working on past week, or is this different?

[2018-01-13 03:47] jasonblais commented on #7517
Just don't want to have you and @Brunzer working on the same thing in parallel.

[2018-01-13 04:39] yeoji commented on #7774
Hi, I have opened a PR for this issue.

[2018-01-13 08:45] alerque commented on #8026
If there is anything I can provide to debug this further please let me know.

[2018-01-13 10:34] santos22 commented on #8032
Are **[refs](https://reactjs.org/docs/refs-and-the-dom.html)** the way to go regarding this issue? 🤔

[2018-01-13 18:46] lindy65 commented on #8026
Thanks @alerque,

@sousapro is going to do a local deploy on his home server, set up apache as a proxy and see if he can reproduce.

Hope to have some feedback for you soon...

[2018-01-14 02:42] Brunzer commented on #7517
It looks like there's already a Jenkinsfile in [desktop](https://github.com/mattermost/desktop) but I didn't see a job created yet on [mattermost-build](https://github.com/mattermost/mattermost-build). Seems like this might already be mostly completed :smiley: