[2019-09-19 20:13] saturninoabril opened #12297 "UI Automation: Write an automated test using Cypress for "Edit post with "strikethrough" and ensure channel auto-complete closes after second tilde (~~)""
**Test Key:** M18710
**Test folder:** ``/cypress/integration/messaging``
**Title:** Edit post with "strikethrough" and ensure channel auto-complete closes after second tilde (~~)

**Steps:**
1. Type a post into the input box and hit "enter" key
2. Hit the "up" arrow to open the edit modal
3. Position cursor at the beginning of the post and type two tildes (~~), observe channel autocomplete open th

[2019-09-19 20:13] saturninoabril opened #12298 "UI Automation: Write an automated test using Cypress for "Leave a long draft in the main input box""
**Test Key:** M18699
**Test folder:** ``/cypress/integration/messaging``
**Title:** Leave a long draft in the main input box

**Steps:**
1. Type a post that is several lines long but do not post it (can be done with whitespace)
2. As the post becomes longer note the input box becomes taller to accomodate the text
3. Switch to a different channel and then return

**Expected:**
at step 1. Verify the

[2019-09-19 20:13] saturninoabril opened #12299 "UI Automation: Write an automated test using Cypress for "Visual verification of tooltips on post hover menu""
**Test Key:** M18697
**Test folder:** ``/cypress/integration/messaging``
**Title:** Visual verification of tooltips on post hover menu

**Steps:**
In a test channel,
1. Make a post in the center panel
2. To the right of the message you've just posted, hover your mouse over each option in the "post menu" (the ..., emoji reaction, reply arrow)

**Expected:**
After 2) you should see while hovering le

[2019-09-19 20:13] saturninoabril opened #12300 "UI Automation: Write an automated test using Cypress for "Remove last post in channel""
**Test Key:** M18716
**Test folder:** ``/cypress/integration/messaging``
**Title:** Remove last post in channel

**Steps:**
1) View an empty channel (such as a DM channel with a user you've never messaged)
2) Make a post
3) Delete that post

**Expected:**
The channel is still displayed

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/

[2019-09-19 20:13] saturninoabril opened #12301 "UI Automation: Write an automated test using Cypress for "Mobile view: View profile popover from profile pic""
**Test Key:** M18715
**Test folder:** ``/cypress/integration/messaging``
**Title:** Mobile view: View profile popover from profile pic

**Steps:**
In browser or desktop app narrowed to mobile view:
1. Click a user profile pic on a message

**Expected:**
User's profile popover opens

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) fo

[2019-09-19 20:13] saturninoabril opened #12302 "Write an automated test using Cypress for "Recent mentions search doesn't fully expand in tablet view until results are fully loaded""
**Test Key:** M18696
**Test folder:** ``/cypress/integration/messaging``
**Title:** Recent mentions search doesn't fully expand in tablet view until results are fully loaded

**Steps:**
1. Sign in to Mattermost on Chrome and shrink the window to about halfway horizontally so that it displays in tablet view
2. Click the "@"-icon to open recent mentions search

**Expected:**
Search expands fully jus

[2019-09-19 20:13] saturninoabril opened #12303 "UI Automation: Write an automated test using Cypress for "Input box on main thread can expand with RHS open""
**Test Key:** M18709
**Test folder:** ``/cypress/integration/messaging``
**Title:** Input box on main thread can expand with RHS open

**Steps:**
1. Open the reply thread for a post and return the focus to main input box
2. In center channel (with RHS open), type a post that is several lines long (can be done with SHIFT+ENTER blank newlines)
3. As the post becomes longer note the input box becomes

[2019-09-19 20:13] saturninoabril opened #12304 "UI Automation: Write an automated test using Cypress for "Compact view: Markdown quotation""
**Test Key:** M18704
**Test folder:** ``/cypress/integration/messaging``
**Title:** Compact view: Markdown quotation

**Steps:**
1. Use `> ` to post text formatted as a quotation
2. View in compact view (Account Settings > Display > Message Display > Compact)

**Expected:**
No extra space before quotation, quotes image does not overlap with username

See our [end-to-end testing documentation](http

[2019-09-19 20:13] saturninoabril opened #12305 "UI Automation: Write an automated test using Cypress for "Edit a message in permalink view""
**Test Key:** M18717

**Title:** Edit a message in permalink view

**Steps:**
1. Post a message containing a usefully searchable string such as "searchtest"
2. Type that string into the search box and press Enter
3. Click Jump in search results to jump to the permalink view of the message you had posted
4. Observe permalink view in center, click the three-dot menu and select Edit
5. Add some new t

[2019-09-19 20:13] saturninoabril opened #12306 "UI Automation: Write an automated test using Cypress for "Channel is removed from Unreads section if user navigates out of it via permalink""
**Test Key:** M18713
**Test folder:** ``/cypress/integration/messaging``
**Title:** Channel is removed from Unreads section if user navigates out of it via permalink

**Steps:**
1. As UserA copy the permalink of a post in any channel and paste it into another test channel mentioning UserB in the post
2. As UserB, open the unread channel that has a permalink to a post in another channel
2. As UserB

[2019-09-19 22:33] #12102 closed

[2019-09-20 03:47] kdenz commented on #12017
Hey @hanzei , sorry I was occupied previously, will aim to finish it within next few days, thanks!
Will let you know when I encounter any questions

[2019-09-20 04:04] pbitty commented on #12043
@cpanato I have not yet had time to add the E2E tests in `mattermost-webapp`.  I should be able to get to it late next week.  If you don't mind keeping this issue open, it will serve as a reminder for me.

[2019-09-20 10:25] alxsah commented on #12012
Hi, I'd like to pick this up if possible.

[2019-09-20 12:50] reftel opened #12311 "Cannot send messages containing Unicode char U+2025 Two Dot Leader"
#### Summary
Sending a message containing Unicode char U+2025 (Two Dot Leader, ‥) fails.

#### Steps to reproduce
Send a message containing U+2025, from the web UI, either to a channel or in a private chat.

#### Expected behavior
Expected the message to be sent.

#### Observed behavior (that appears unintentional)
Message gets a "Retry - Cancel" button bar on the right, and does not get sent.

##

[2019-09-20 12:57] Sheshagiri commented on #11816
I will give this a try.

[2019-09-20 13:26] cpanato commented on #12043
@pbitty sure no problem. thanks for working on this 😄

[2019-09-20 13:27] amyblais commented on #12076
@natc66 I've asked our team about this and waiting for their feedback. Perhaps as a next step you could try these troubleshooting steps related to websockets:
 - https://docs.mattermost.com/install/troubleshooting.html#failed-to-upgrade-websocket-connection
 - https://docs.mattermost.com/install/troubleshooting.html#websocket-closed-or-websocket-re-established-connection

[2019-09-20 13:40] cpanato commented on #12012
@alxsah go for it!! thanks!

[2019-09-20 14:28] amyblais commented on #12311
Hi @reftel, Would you be open to reviewing this page and sending us any relevant additional information about your environment: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

Are you able to reproduce this on our [community server](https://community.mattermost.com/core/)?

[2019-09-20 14:29] hanzei commented on #12265
@lieut-data Would you please add the appropriate labels to this ticket?

[2019-09-20 14:29] hanzei commented on #12264
@lieut-data Would you please add the appropriate labels to this ticket?

[2019-09-20 14:34] Sheshagiri commented on #12010
looks like this is a duplicate of https://github.com/mattermost/mattermost-server/issues/11817 was addressed in https://github.com/mattermost/mattermost-operator/pull/64

[2019-09-20 14:36] Sheshagiri commented on #12011
this looks like a duplicate of https://github.com/mattermost/mattermost-server/issues/11816

[2019-09-20 14:53] #12213 closed

[2019-09-20 15:04] #12211 closed

[2019-09-20 15:25] mattermod opened #12313 "Autocomplete should display self user"
I cannot autocomplete my own username on community-daily. For example, if I'm listing myself in the channel header menu of the SET team, my own username won't autocomplete and I'm forced to type it to completion.

Expected: Show your own username in the autocomplete. Autocomplete should show (you) after the Full Name (nickname), ie

"@eric.sethna - Eric Sethna (esethna) (you)"

**IMPORTANT**: This

[2019-09-20 15:35] mattermod opened #12315 "Mac Desktop App reopens window on Cmd+Tab"
**Environment**
- Mattermost Desktop: Mac version 4.2.1.62
- macOS Mojave 10.14.6

**Steps To Reproduce**

1. With the Mattermost application in focus, press `Cmd`<ins> </ins>`Tab` to another application
3. `Cmd`+`Tab` back to Mattermost

**Expected Behavior**

Mattermost window reopens when returning to the app

**Observed Behavior**

Mattermost window stays closed until a selection is made from

[2019-09-20 15:55] mattermod opened #12316 "Refine behavior for adding new lines in messages"
This applies applies to both Mac & Windows

When Advanced > send messages on CTRL-ENTER is set to "Off", allow the following keys to insert new lines:

  1. Shift-ENTER (Already implemented)
  1. CTRL-ENTER
  1. ALT-ENTER (Already implemented)

*______*

When Advanced > send messages on CTRL-ENTER is set to "On for all messages", allow the following keys to insert new lines:

  1. ENTER (Already i

[2019-09-20 16:05] mickmister commented on #11998
@niklabh Have you claimed this ticket or may I set it back to `Up For Grabs`?

[2019-09-20 16:06] niklabh commented on #11998
i am working on go code. You can assign me

[2019-09-20 16:35] #11442 closed

[2019-09-20 17:53] niklabh commented on #11998
You can set it for up for grabs

[2019-09-20 18:06] natc66 commented on #12076
Hi @amyblais I was just able to talk to our system admin about these issues and apparently those two errors were related to something else. He has said that he receives a 403 when trying to leave a channel. Sorry for the false lead, and I will let you know if he figures anything else out.

[2019-09-20 18:45] #12196 closed

[2019-09-20 21:24] arjitc opened #12318 "User Management only allows filtering of inactive and admin users"
#### Summary
The User Management feature under System Console only allows for filtering of
1. Admin users
2. Inactive users

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

1. Click on System Console
2. User Management
3. Try to filter under "User Status"

#### Expected behavior

The User Management feature under System Console should allow filtering of,
1. Ad

[2019-09-20 21:26] arjitc opened #12319 "Hide Inactive Users by default under user management"
#### Summary
Bug report in one concise sentence

Hide Inactive Users by default under user management

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

System Console --> User Management

#### Expected behavior
Describe your issue in detail

When a server has quite a few users, the Inactive Users, Active Users (Members) and System Admins get all mixed up, while

[2019-09-21 00:00] chuttam commented on #9432
I thought I'd replace `–` emdash occurrences back to `--` in the `onChangeText` handler.

The trouble is that iOS Smart Punctuation converts both `--` **and** `---` to an emdash. So when entering a third dash now, iOS sends over a single, converted emdash, which the replace logic now converts to a double dash, instead of the desired triple dash!

User types `--`
iOS converts to `–`
onChangeText co

[2019-09-21 00:07] jordeguevara commented on #12241
I can work on this

[2019-09-21 01:17] esethna commented on #9432
Thanks @chuttam, @hmhealey any thoughts on the implementation here? Seems like the onChangeText fix mentioned above is better than what we have now but still not ideal.

[2019-09-21 04:57] jordeguevara commented on #9760
is this still up for grabs?

[2019-09-21 05:16] #11956 closed

[2019-09-21 05:17] hanzei commented on #9760
Sure. Do you want to work on this @jordeguevara?

[2019-09-21 12:07] kiu opened #12320 "Typo: "Thisis a test push notification""
#### Summary
When triggering a test push notification using the android app, the notification has the text "Thisis a test push notification" missing a space character between "This" and "is".

#### Steps to reproduce
In the android app:
1. Go to: Settings/Notifications/Mobile
2. Click on "Send me a test notification"
3. Wait for notification to appear

#### Expected behavior
"This is a test push n

[2019-09-21 12:10] kiu commented on #12320
Probably already fixed: https://github.com/mattermost/mattermost-mobile/blob/master/assets/base/i18n/en.json#L319

[2019-09-21 12:10] #12320 closed

[2019-09-21 17:42] wwalker commented on #12150
I've tested on the community.mattermost server and it works fine there.  Thank you for your help.

I'll get us upgraded.

[2019-09-21 17:42] #12150 closed

[2019-09-21 18:36] jordeguevara commented on #9760
yes, please @hanzei. I'll see what I can do this following week but then I am going out of state for a week again and if needed I'll resume from there. Thanks!

[2019-09-21 20:49] chuttam commented on #10159
Mind if I take this one?

[2019-09-23 05:32] hanzei commented on #10159
Sure, thanks for working on this @chuttam :+1:

[2019-09-23 07:03] mstaalesen commented on #12311
Not able to reproduce on the community-server. The message was posted to the channel / direct message when tested.

[2019-09-23 09:37] #12002 closed

[2019-09-23 14:25] amyblais commented on #12319
Thanks, appreciate your feedback @arjitc,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2019-09-23 14:28] amyblais commented on #12318
Hi @arjitc, this feature is currently planned but not yet scheduled for a release.

Would you also like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

[2019-09-23 15:00] atkasa commented on #12192
I'm a new developer (not very experienced in Git) and hoping to jump onto a project, would this be something I might be able to help with? I think the issue is pretty straightforward.

[2019-09-23 15:17] hanzei commented on #12192
Hey @atkasa,

Thanks for you interest in this project! We mark available ticket with the `Up For Grabs` label. Given that this issue doesn't have this label, someone is working on it. You can see the list of available go tickets [here](https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Up+For+Grabs%22+label%3A%22Help+Wanted%2

[2019-09-23 15:49] atkasa commented on #12192
@hanzei Thanks for the info, I'll take a look!

[2019-09-23 16:54] saturninoabril opened #12324 "UI Automation: Write an automated test using Cypress for "Floating timestamp in mobile view""
**Test Key:** M18759
**Test folder:** ``/cypress/integration/messaging``
**Title:** Floating timestamp in mobile view

**Steps:**
1. Narrow your browser or desktop app so it goes into mobile view
2. View a channel that has at least several days of messages
3. Scroll up in the channel, observe the floating timestamp / date indicator

**Expected:**
Floating date indicator should change the date to r

[2019-09-23 17:10] ali-farooq0 commented on #12006
Looks like @hmhealey was the one who created the jira. I'm kinda curious as to why we have to do this? Is the idea here is to move all single line redux actions out from `actions/admin_actions.jsx`? I would argue that it's better to keep the current structure, and we should extend https://github.com/mattermost/mattermost-webapp/blob/master/components/admin_console/admin_definition.jsx#L818 to acce

[2019-09-23 17:19] sowmiyamuthuraman commented on #12243
can i work on this?

[2019-09-23 18:55] mattermod opened #12325 "Disable email notifications in Do Not Disturb mode"
Currently Do Not Disturb mode stops desktop and push notifications but still sends email notifications.

Proposal is that Do Not Disturb disables all notification types (Email, Desktop and Push).

Help text in the status dropdown should be updated to "Disables desktop, email and push notifications"

 ![](image-2019-08-01-11-01-16-450.png|thumbnail)

----
If you're interested please comment here an

[2019-09-23 19:01] amyblais commented on #11963
Closing as this will get fixed for v4.3 desktop app release with this PR: https://github.com/mattermost/desktop/pull/1040. v4.3 is currently scheduled to be released on October 16th (together with server v5.16 release), but any delays may be possible.

[2019-09-23 19:01] #11963 closed

[2019-09-23 19:44] hanzei commented on #12243
Sure, thanks @sowmiyamuthuraman :+1:

[2019-09-24 00:56] prof-foster opened #12327 "command line broken in Docker since the 5.11.1 -> 5.12.0 transition"
#### Summary
Running using docker-compose and trying to run the `mattermost` command line results in "Failed to ping DB retrying in 10 seconds"

#### Steps to reproduce

[code]

#### Expected behavior
The team test will be listed.

#### Observed behavior (that appears unintentional)
As per https://forum.mattermost.org/t/cannot-connect-to-the-postgresql-database-using-mattermost-cli/7809 "Failed to

[2019-09-24 06:06] ahmaddanialmohd commented on #11907
Hello, @joriki

I have tried to reproduce this issue on Mattermost version **5.14.1** and can confirm that a page reload removes the user and the user's posts from the channel. No server restart was required.

Can you please confirm if you are still seeing the issue after an upgrade to the latest version?

[2019-09-24 09:05] hanzei commented on #9406
Hey @jkl5616,

How is your work on this ticket going? Do you have further questions?

[2019-09-24 09:06] hanzei commented on #10347
Hey @BenKnigge,

Did all your questions got resolved?

[2019-09-24 09:06] hanzei commented on #12068
@abadojack Do you have any questions?

[2019-09-24 09:07] hanzei commented on #12030
Hi @metanerd, How is your work on this issue going? Can we help with anything?

[2019-09-24 09:07] hanzei commented on #12097
Hi @QamarFarooq,
Do you have questions about this issue?

[2019-09-24 09:10] hanzei commented on #11438
Making this one available for the public again due to inactivity.

[2019-09-24 09:11] hanzei commented on #10786
Making this one available for the public again due to inactivity.

[2019-09-24 09:12] hanzei commented on #10232
Making this one available for the public again due to inactivity.

[2019-09-24 09:13] hanzei commented on #10327
Making this one available for the public again due to inactivity.

[2019-09-24 09:17] hanzei commented on #11264
Making this one available for the public again due to inactivity. @Siddharth-Ashri let me know, if you still want to work on this.

[2019-09-24 09:18] hanzei commented on #11053
@bolariin Do you still encounter this problem?

[2019-09-24 09:19] hanzei commented on #12103
Hi @chahat-arora,

how is your work on this issue going? Do you have questions?

[2019-09-24 09:21] amoury commented on #11264
@hanzei I am still interested to give this a shot

[2019-09-24 09:22] hanzei commented on #11264
Awesome, thanks @amoury :tada:

[2019-09-24 09:50] amoury commented on #11264
@hanzei Thanks for assigning it to me. I am trying to setup the server part and ran into this error

[code]

I ran docker ps to check if there was any container running on port `5432`, but there is none. Can you please give me some direction on how I can get around this?
Thanks

[2019-09-24 10:41] #9805 closed

[2019-09-24 12:10] amyblais opened #12329 "Mattermost v5.16"
You can find key dates for v5.16 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### October 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### October 11th: Release Build Cut
T

[2019-09-24 12:41] amyblais commented on #12327
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-18794.

[2019-09-24 13:10] #12098 closed

[2019-09-24 13:22] #12100 closed

[2019-09-24 13:23] #12104 closed

[2019-09-24 13:25] #12216 closed

[2019-09-24 13:32] #12099 closed

[2019-09-24 13:33] #12066 closed

[2019-09-24 13:35] #12192 closed

[2019-09-24 14:02] hmhealey commented on #9432
I don't think that would work since a user could type an emdash on purpose.

If disabling both autocorrect and autocomplete doesn't stop that behaviour, I don't think there's anything we can do here. It seems like this is built into the iOS keyboard like how double tapping space puts a period followed by a space, so we might be stuck here. I'd suggest we look to see if any other app prevents this

[2019-09-24 14:07] chuttam commented on #9432
Thanks for looking into this @hmhealey . I kinda hit this wall too.

[2019-09-24 14:09] hmhealey commented on #12006
The problem with `admin_actions.jsx` and similar files is that they directly access the global store which makes them difficult to test. They also use callbacks which is an old pattern from before we supported ES6 and promises, so they're harder to use when multiple async calls are required.

The redux actions are easier to test in components because they're injected into the component by `connect

[2019-09-24 14:44] #12214 closed

[2019-09-24 14:49] #12209 closed

[2019-09-24 15:19] #12186 closed

[2019-09-24 15:20] mattermod opened #12332 "Refactor "app/server_app_adapters.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/server*app*adapters.go`.

The expected way to implement it is to open the file `app/server*app*adapters.go`, look for all calls to `mlog.Info`, `mlog.De

[2019-09-24 15:20] mattermod opened #12333 "Refactor "app/email.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/email.go`.

The expected way to implement it is to open the file `app/email.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases where

[2019-09-24 15:20] mattermod opened #12334 "Refactor "app/server.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/server.go`.

The expected way to implement it is to open the file `app/server.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases whe

[2019-09-24 15:20] mattermod opened #12335 "Refactor "app/session.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/session.go`.

The expected way to implement it is to open the file `app/session.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases w

[2019-09-24 15:20] mattermod opened #12336 "Refactor "manualtesting/manual_testing.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `manualtesting/manual_testing.go`.

The expected way to implement it is to open the file `manualtesting/manual_testing.go`, look for all calls to `mlog.Info`

[2019-09-24 16:05] mattermod opened #12337 "Remove deprecated lifecycle methods from file attachment previews"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:10] mattermod opened #12338 "Remove deprecated lifecycle methods from team settings"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:10] mattermod opened #12339 "Remove deprecated lifecycle methods from settings components"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:10] mattermod opened #12340 "Remove deprecated lifecycle methods from user settings"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12341 "Remove deprecated lifecycle methods from channel view"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12342 "Remove deprecated lifecycle methods from channel list"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12343 "Remove deprecated lifecycle methods from root components"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12344 "Remove deprecated lifecycle methods from channel settings"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12345 "Remove deprecated lifecycle methods from System Console"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12346 "Remove deprecated lifecycle methods from post textbox"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12347 "Remove deprecated lifecycle methods from post components"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12348 "Remove deprecated lifecycle methods from autocomplete"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12349 "Remove deprecated lifecycle methods from misc components"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12350 "Remove deprecated lifecycle methods from login screens"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12351 "Remove deprecated lifecycle methods from channel info"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12352 "Remove deprecated lifecycle methods from post textbox"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12353 "Remove deprecated lifecycle methods from post components"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12354 "Remove deprecated lifecycle methods from settings screens"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12355 "Remove deprecated lifecycle methods from channel list"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:15] mattermod opened #12356 "Remove deprecated lifecycle methods from badge component and thread screen"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2019-09-24 16:30] #12049 closed

[2019-09-24 16:30] #12191 closed

[2019-09-24 17:16] metanerd commented on #12030
Progress at 1%. Need time to look at it properly. Next week I definitely have time. Sorry for the long wait. If it is pressing, just remove me from the ticket.

[2019-09-24 17:36] amyblais commented on #12166
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18827.

[2019-09-24 17:51] lieut-data commented on #12145
@chahat-arora, sorry about this pain point. Right now, our CLI is able to modify the state in the database, but it has no way of notifying the individual server instances of this change, and so the server holds on to this state longer than is desirable due to internal caching.

You can restart the server to immediately rectify this problem. We are steadily moving our CLI to a model that works larg

[2019-09-24 18:05] mattermod opened #12359 "Update "..." plugin icon in channel header"
When multiple plugins register a channel header button, a confusing “…” button appears. Instead, let’s replace this with:

  * a number count representing # of plugins active in the channel (and displayed in the dropdown)
  * "plug" icon to indicate plugins (see SVG attached to [https://mattermost.atlassian.net/browse/MM-17506](https://mattermost.atlassian.net/browse/MM-17506))

![image](https://u

[2019-09-24 18:49] esethna commented on #11955
This is client side, it would be on the mobile repo: https://github.com/mattermost/mattermost-mobile

[2019-09-24 19:09] hanzei commented on #12030
There is no time pressure on this. I was just wondering what the status is.

[2019-09-24 19:49] pbitty commented on #11912
Hi @hanzei , I am happy to work on this one.  It would be a good continuation from #11910, which I worked on.

[2019-09-24 20:23] lieut-data commented on #11912
🎉- I was hoping you would end up continuing your efforts here, @pbitty :)

[2019-09-24 21:13] mjthomp95 commented on #12336
I can work on this.

[2019-09-24 21:58] hanzei commented on #12336
Thanks @mjthomp95 :+1:

[2019-09-24 22:08] abdusabri commented on #12187
Hi, I would like to work on this issue.

@esethna, I've a few questions about the expected behavior:
1. Should the container have a white or a transparent background color?
2. The container should have a cursor pointer and a hover effect, correct?
3. The hover effect of the enclosed image will be disabled, correct?
4. Should this behavior apply to in-line markdown images as well?

Would you please

[2019-09-24 22:19] hanzei commented on #11264
@amoury Would you please check what ` sudo lsof -i -P -n | grep LISTEN | grep 5432` reports?

[2019-09-25 01:57] lieut-data commented on #10336
@scottleedavis, I've created an epic for @levb to track getting this through the rest of the gauntlet: https://mattermost.atlassian.net/browse/MM-18844.

I've also uploaded it to https://ci-extensions.azure.k8s.mattermost.com for immediate use and testing there.

[2019-09-25 06:13] amoury commented on #11264
@hanzei Running that command gives me this. To me it looks like postgres is running and listening to the connection. But still running the `curl ping` command does not return me the JSON.

<img width="1002" alt="Screen Shot 2019-09-25 at 10 11 05 AM" src="https://user-images.githubusercontent.com/16633104/65573841-d68cc800-df7c-11e9-96ad-3496cf15c987.png">

[2019-09-25 09:59] grundleborg commented on #12145
There is an Epic https://mattermost.atlassian.net/browse/MM-18663 but it is not yet fully populated - we're **tentatively** planning to make `mmctl` the default during Q4-2019 (so in the next 3 months).

[2019-09-25 11:02] lurcio commented on #12335
I'll take this one please! :wave:

[2019-09-25 11:29] hanzei commented on #11264
@amoury Would you mind sending me a DM on the [Mattermost Community Server](https://community.mattermost.com)? This conversation is driving away from the original topic.

[2019-09-25 11:30] hanzei commented on #12335
Thanks @lurcio :+1:

[2019-09-25 12:47] Aninstance opened #12368 ""Thumbs up" emoji does not get added to "Recently Used""
#### Summary

The "thumbs up" emoji - `:+1:` - does not get added to the 'Recently Used' field, on the web app.

Issue presents on Firefox and Google Chrome browsers (others not tested), on an Kubuntu 18.04 system (other OS's not tested).

[2019-09-25 12:57] amyblais commented on #12368
Hi @Aninstance, what Mattermost server version and desktop app version are you on?

[2019-09-25 13:06] Aninstance commented on #12368
@amyblais Sorry, I meant to write web app, not desktop app. The server is version 5.12.1 (docker).

[2019-09-25 13:59] Lumexralph commented on #12334
@mattermod I would love to work on this.

[2019-09-25 14:00] Lumexralph commented on #12332
@mattermod I would love to work on this.

[2019-09-25 14:03] scottleedavis commented on #10336
Thank you @lieut-data .

[2019-09-25 14:07] scottleedavis commented on #9196
Thank you @aaronrothschild .  Were you able to get this running with QA/Dylan?   I am happy to hop on zoom again to try getting this working.  :)

[2019-09-25 14:41] AGMETEOR commented on #12347
@hmhealey I want to try this one...

[2019-09-25 15:15] hanzei commented on #12334
Thanks @Lumexralph :+1:

[2019-09-25 15:16] hanzei commented on #12332
Thanks for working on this @Lumexralph :tada:

[2019-09-25 15:54] Lumexralph commented on #12333
@mattermod would also love to work on this.

[2019-09-25 15:55] freerider7777 opened #12369 "Set SessionId correctly for use with UserHasLoggedIn plugin hook"
Just a simple plugin like this:

[code]

SessionId is always logged empty so we don't know the device inside the plugin.

[2019-09-25 16:12] amyblais commented on #12369
@freerider7777 Can you help fill in reproduction steps, expected behaviour, and your environment details?

[2019-09-25 16:45] freerider7777 commented on #12369
I just make a simple plugin with UserHasLoggedIn hook and I see c.SessionId is empty.
Plugin is like this:
https://github.com/mattermost/mattermost-plugin-demo/blob/9bf345f96788ce93976b4fa16b5113e3cdf6c85b/server/login_hooks.go

In any anvironment (I'm running on Windows but it does not matter)

I would expect that it is filled so that I can get details of the session.

[2019-09-25 18:39] amyblais commented on #12369
What Mattermost server version are you on? Do you see any errors?

[2019-09-25 18:44] sowmiyamuthuraman commented on #12355
can I work on this?

[2019-09-25 18:48] amyblais commented on #12368
@Aninstance I'm not able to reproduce this, would you be open to testing this on our [community server](https://community.mattermost.com/private-core/channels/alerts) to see if you experience the same issue there.

Does this only happen with the thumbs up emoji? Are all users on your server seeing this issue?

Upgrading your server to the latest might help fix the issue.

[2019-09-25 18:51] amyblais commented on #12080
Closing as this is fixed for v4.3 desktop app version. v4.3 release is scheduled for October 16th, but any slight delays may be possible.

[2019-09-25 18:51] #12080 closed

[2019-09-25 18:52] amyblais commented on #11940
I'll close this for now as there hasn't been updates on this for a while. Please re-open this issue with relevant additional information if the issue persists,

[2019-09-25 18:52] #11940 closed

[2019-09-25 19:10] freerider7777 commented on #12369
Latest from github :) I build it from source. In code it's obviously not filled. But the question is - is it by design or is it a bug?

[2019-09-25 19:20] lieut-data commented on #12369
@freerider7777, yes, this is a bug -- the `session` object isn't set on the `App` instance until after this hook returns.

Thanks for the report!

[2019-09-25 19:30] pradeepmurugesan commented on #12340
I can work on this one.. 👍

[2019-09-25 19:31] pradeepmurugesan commented on #12325
I can pick this one.. 👍

[2019-09-25 19:38] pradeepmurugesan commented on #12005
I can work on this 👍

[2019-09-25 19:47] hanzei commented on #12333
Thanks @Lumexralph

[2019-09-25 20:33] Aninstance commented on #12368
@amyblais Hi, yes, no problem; I've just tested on your community server and indeed the same issue does occur there. I've only noticed the issue with the 'thumbs up' emoji. I've tested with a range of others - including 'thumbs down' - and they're all added to the 'Recently Used' list as expected.

[2019-09-25 20:34] amyblais commented on #12369
Ticket: https://mattermost.atlassian.net/browse/MM-18871.

[2019-09-26 00:42] pbitty commented on #11912
Great!  I should be able to get started this weekend.

[2019-09-26 01:45] CSBatchelor commented on #12339
I'll start working on this one.

[2019-09-26 05:19] #12336 closed

[2019-09-26 05:21] hanzei commented on #12325
Sure, thanks @pradeepmurugesan :+1:

[2019-09-26 07:29] cbtsao47 commented on #12338
I'll work on this one

[2019-09-26 09:34] josephk96 commented on #12300
I submitted a PR :)

[2019-09-26 09:45] Bacto commented on #11503
Hi,

I have seen a similar problem.

Some people use the Gitlab SSO implementation to use Keycloak.
This is the case in this post: https://medium.com/@mrtcve/mattermost-teams-edition-replacing-gitlab-sso-with-keycloak-dabf13ebb99e

Doing that, `GitLabSettings.AuthEndpoint`, `GitLabSettings.TokenEndpoint` and `GitLabSettings.UserApiEndpoint` have to be set to different values than the default one.

[2019-09-26 11:24] #11920 closed

[2019-09-26 11:28] hanzei commented on #12300
Thanks @josephk96

[2019-09-26 11:43] pradeepmurugesan commented on #12359
I can give it a shot.. 👍

[2019-09-26 12:20] mattermod opened #12375 "Create a NOP Plugin for future benchmarking"
Create a plugin that implements every supported hook currently available but does nothing.

In the future, we can use this plugin as part of loadtesting to measure RPC overhead.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with co

[2019-09-26 12:30] mattermod opened #12376 "Display an error message if not required fields are provided"
When a user tries to submit a interactive dialog, but some fields are still missing, display an error message to the user indicating they haven’t filled in a ll the required fields. The error message should be “Check the entries on this form for errors”. The error message should also be shown, if there is validation error caused by the integration.

Error message can use the errorColor styling we

[2019-09-26 12:35] mattermod opened #12377 "Include extra metadata when clicking an interactive button"
To improve compatibility with Slack, include the following metadata directly in the POST body when clicking an interactive button:

  * username of the user that clicked an interactive button
  * team name in which the interactive button was clicked
  * channel name in which the interactive button was clicked

This extra metadata avoids common extra API calls. It also makes it easy, for example, t

[2019-09-26 12:47] hanzei commented on #12359
Thanks @pradeepmurugesan :+1:

[2019-09-26 13:16] amyblais commented on #12368
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18885.

[2019-09-26 13:58] Aninstance commented on #12368
Thank you.

[2019-09-26 17:35] shanetrush commented on #12080
Awesome. Thanks Amy! We appreciate it. We use MM as our primary communication tool for our infrastructure team.

Thanks again!

Shane Trush
SC, Denver Region

From: Amy Blais <notifications@github.com>
Sent: Wednesday, September 25, 2019 12:51 PM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Trush, Shane <Shane.Trush@ssa.gov>; Mention <mention@noreply.github.com>
Subj

[2019-09-26 17:52] hmhealey commented on #12347
Sounds good. Let me know if you need any help with it

[2019-09-27 01:40] mattermod opened #12381 "Stringify plugin.Log* parameters to avoid gob errors for unregistered types"
The `Log*` methods of the plugin API accept `interface{}` arguments to allow for structured logging:
[code]

Unfortunately, not all pointer types can be sent across the RPC layer: they must be registered by the server: https://github.com/mattermost/mattermost-server/blob/d82584a7839f3190e842da9e9e939c17942f6cb5/plugin/client_rpc.go#L92-L100

However, since we end up stringifying all these paramete

[2019-09-27 09:27] chahat-arora opened #12383 "Missing GetScheme(schemeid string) method in the Plugin APIs"
I am trying to find a user role using a plugin and i am using a team override scheme.

[2019-09-27 12:32] typeoh commented on #12376
I'm up for having a go at this (this would be my first time contributing to Mattermost). Just want to clarify the AC around this since the comments on the ticket conflict with the final requirements. Is there someone I can ping about this?

[2019-09-27 12:35] SlavaBobik commented on #12375
Hi, I'm interested in this issue

[2019-09-27 12:51] amyblais commented on #12383
@chahat-arora Is this something you're working on or is this a request to add this improvement?

[2019-09-27 14:42] amyblais commented on #12355
Thank you @sowmiyamuthuraman!

[2019-09-27 14:49] #11952 closed

[2019-09-27 15:20] mattermod opened #12389 "Set SessionId correctly for use with UserHasLoggedIn plugin hook"
Original report: [https://github.com/mattermost/mattermost-server/issues/12369](https://github.com/mattermost/mattermost-server/issues/12369)

**Repro steps:**
1. Use a simple plugin like this: [https://github.com/mattermost/mattermost-plugin-demo/blob/9bf345f96788ce93976b4fa16b5113e3cdf6c85b/server/login*hooks.go](https://github.com/mattermost/mattermost-plugin-demo/blob/9bf345f96788ce93976b4fa16

[2019-09-27 16:00] mattermod opened #12391 "Apply defaults when a plugin fetches the config"
Plugins may specify a schema for their configuration in `plugin.json`, e.g. [https://github.com/mattermost/mattermost-plugin-demo/blob/4e6fa3aa03bc58d62d1ceb3207c293d6641ea12a/plugin.json#L17](https://github.com/mattermost/mattermost-plugin-demo/blob/4e6fa3aa03bc58d62d1ceb3207c293d6641ea12a/plugin.json#L17|smart-link). This schema optionally specifies `default` values, but currently don’t get retu

[2019-09-27 16:15] mattermod opened #12392 "MessageHasBeenPosted filtering"
Plugins using the `MessageHasBeenPosted` hook (or related), must take care to avoid entering a loop:

  * filter out messages from the plugin itself
  * filter out messages from another bot also using MessageHasBeenPosted

They may also want to filter out system messages, or filter down to messages only from a specific channel/user.

Let's factor out this filtering into the plugin helper library.

[2019-09-27 16:20] mattermod opened #12393 "Create Plugin helper method for installing a plugin through a URL"
Plugins should be able to install new plugins by providing a url for the server to download from a remote source. To accomplish this add an `InstallPluginFromUrl(url string, replace bool) (*model.Manifest, *model.AppError)` method to the plugin helpers API that internally uses `InstallPlugin` from the pending work being done in [https://mattermost.atlassian.net/browse/MM-14190](https://mattermost.

[2019-09-27 16:24] devinbinnie commented on #12257
Closing, I'm taking this one.

[2019-09-27 16:24] #12257 closed

[2019-09-27 16:30] RajatVaryani commented on #12392
@lieut-data Can I own this up? I also need some more understanding to get the issue done.

[2019-09-27 16:34] lieut-data commented on #12392
@RajatVaryani, be my guest! Feel free to ping us on https://community.mattermost.com/core/channels/developer-toolkit if you'd like to discuss further in real time, or just ask here.

[2019-09-28 09:38] Aninstance commented on #12368
@amyblais Further to this, I note the 'thumbs up' emoji is not added to the `recent_emojis` array in the browser's Local Storage, so it's an issue with the _adding_ rather than subsequent read. Being that the thumbs up emoji is denoted in the array by `+1`, I wonder if this could be some kind of code type issue (i.e. the 1 is typed as an integer rather than a string at the point at which it's supp

[2019-09-28 10:31] Th3Whit3Wolf opened #12395 "postgress sslmode"
#### Summary
I am using mattermost on a Digital Ocean Droplet with a Digital Ocean managed postgresql database. I am unable to ping that database.

this is the sql settings for my config.json
[code]

#### Expected behavior
To connect sucessfully.

#### Observed behavior (that appears unintentional)
[code]

[2019-09-28 17:46] bolariin commented on #11053
@hanzei Yes, I'm still experiencing the issue

[2019-09-28 21:40] mattermod opened #12396 "GitHub Plugin: Improved refresh of RHS"
The \<GitHub plugin>([mattermost/mattermost-plugin-github](https://github.com/mattermost/mattermost-plugin-github)) RHS lists notifications, pull requests, assigned issues and review requests. It currently refreshes on demand, or whenever the GitHub plugin happens to receive an update that forces the client to fetch the latest results.

At this time, not every update is proxied to the GitHub plugi

[2019-09-28 21:40] mattermod opened #12397 "Github Plugin: Show code block preview of Github code line permalink"
When a user post contains a Github code line permalink, it should attach a markdown code block that will contain the preview of that section of the code with possibly 3 lines before and after (much like the display shown in code compares in Github:

![](Screen Shot 2019-09-28 at 5.03.43 PM.png|width=860,height=210)

The [Github plugin](] should subscribe to the \<`MessageWillBePosted`>([https://gi

[2019-09-28 21:40] mattermod opened #12398 "Github Plugin: Add Refresh ability to RHS"
The [GitHub plugin|] RHS lists notifications, pull requests, assigned issues and review requests. It currently displays the data that is available from the current state of the store but does not have the ability to refresh the data in case is outdated. Add support to Refresh the data  by:

  1. Calling Refresh whenever the RHS bar is opened to guarantee latest data is available.
  1. Add an actio

[2019-09-28 21:40] mattermod opened #12399 "Github Plugin: Add PR Title in Notifications DMs"
The [Github plugin|] sends DMs for Github notifications related to PRs, i.e. when your PR is approved or when you are requested a review on a PR. The current format of the DM is:

![](Screen Shot 2019-09-27 at 11.16.24 AM.png|width=676,height=173)

These type of DMs should be improve to show the PR title as the text of the link to the PR. You can check out the text templates defined for the plugin

[2019-09-28 21:40] mattermod opened #12400 "Github Plugin: Add comment message in DM Notifications"
The \<Github plugin>([https://github.com/mattermost/mattermost-plugin-github](https://github.com/mattermost/mattermost-plugin-github|smart-link)) sends DMs for Github notifications when someone has commented on your PR that currently looks like:

![](Screen Shot 2019-09-27 at 2.57.28 PM.png|width=661,height=64)

This DM should be improved to include the comment message like it currently does for m

[2019-09-29 04:46] aparnaadesai commented on #12337
@mattermod  @hmhealey Can I pick this one to try and update the deprecated lifecycle methods?

[2019-09-29 05:01] andresoro commented on #12400
I can work on this one! One question: should the comments have a character cutoff? This if for the purpose of retaining brevity and clean messages.

[2019-09-29 05:54] ChrisDobby commented on #12341
I'll pick this one up if that's OK

[2019-09-29 06:06] hanzei commented on #12400
Thanks @andresoro. I think we can use the same behaviours as for "normal" mentions, which doesn't cut off the message, AFAIK,

[2019-09-29 10:43] hanzei commented on #12375
Thanks @SlavaBobik :+1:

[2019-09-29 12:15] hanzei commented on #12376
Hey @typeoh,

Thanks for your interest in this ticket. I will investigate what the expected behaviours exactly is.

[2019-09-29 15:20] iwataka commented on #12399
Hi, I'm interested in Mattermost development.
Can I work on this issue ? (this would be the first time to contribute to Mattermost)

I have two questions for this issue.

1. I guess the message should be like the below, is it right ?

[code]

1. Should I add not only PR title but also **issue** title ?

[2019-09-29 15:22] RajatVaryani commented on #10702
Not able to contribute to it. Please release the issue.

[2019-09-29 15:29] RajatVaryani commented on #12393
@lieut-data I would like to contribute to it.

[2019-09-29 17:19] andresoro commented on #12400
So I updated the template logic and test cases in the server side code for the plugin. Is there a way I can test the plugin on a test server without having to handle all of the configuration?

[2019-09-30 00:28] levb commented on #12381
1/5, if a fully dereferenced "value" argument is a struct, or a map, and does not implement `String()` nor `Error()`, we should use `fmt.Sprintf(“%+v”,value)` to get all fields, even if somewhat verbose.

[2019-09-30 01:03] lieut-data commented on #12393
Thanks, @RajatVaryani!

[2019-09-30 08:49] hanzei commented on #10702
Thanks for the update @RajatVaryani. Making this available to the public again.

[2019-09-30 08:52] hanzei commented on #12400
I don't think so. But running your server locally and connecting it to github should not take too much time. See also this answer https://github.com/mattermost/mattermost-plugin-github/pull/123#issuecomment-536360927 on a different PR.

[2019-09-30 09:43] saturninoabril commented on #12301
Thanks [Andre](https://github.com/avasconcelos114)!

[2019-09-30 10:50] tpaschalis commented on #12068
I could take a stab at it if @abadojack has some other work to do.

[2019-09-30 11:00] mattermod opened #12408 "Migrate tests from "cmd/mattermost/commands/config_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/config_test.go` file.

The expected way to migr

[2019-09-30 11:00] mattermod opened #12409 "Migrate tests from "cmd/mattermost/commands/user_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/user_test.go` file.

The expected way to migrat

[2019-09-30 11:00] mattermod opened #12410 "Migrate tests from "cmd/mattermost/commands/team_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/team_test.go` file.

The expected way to migrat

[2019-09-30 11:00] mattermod opened #12411 "Migrate tests from "cmd/mattermost/commands/channel_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/channel_test.go` file.

The expected way to mig

[2019-09-30 11:00] mattermod opened #12412 "Migrate tests from "cmd/mattermost/commands/webhook_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/webhook_test.go` file.

The expected way to mig

[2019-09-30 11:00] mattermod opened #12413 "Migrate tests from "cmd/mattermost/commands/command_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/command_test.go` file.

The expected way to mig

[2019-09-30 11:05] mattermod opened #12414 "Migrate tests from "cmd/mattermost/commands/roles_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `cmd/mattermost/commands/roles_test.go` file.

The expected way to migra

[2019-09-30 11:05] mattermod opened #12415 "Migrate tests from "mlog/human/logrus_writer.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `mlog/human/logrus_writer.go` file.

The expected way to migrate this is

[2019-09-30 11:05] mattermod opened #12416 "Migrate tests from "app/job_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/job_test.go` file.

The expected way to migrate this is to go to th

[2019-09-30 11:05] mattermod opened #12417 "Migrate tests from "app/status_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/status_test.go` file.

The expected way to migrate this is to go to

[2019-09-30 11:22] hanzei commented on #12068
Yes please, go ahead @tpaschalis :+1:

[2019-09-30 11:24] tpaschalis commented on #12068
Okay, I hope I can prepare something you can review by the end of the week. I'll make sure to comment and ask if anything is unclear. Thanks.

[2019-09-30 11:53] hector2 commented on #12417
Hello! Can i try this? 💃

[2019-09-30 12:31] cinlloc commented on #12416
Hello, I would be happy to help on this!

[2019-09-30 12:48] cpanato commented on #12008
this is already fixed, closing

[2019-09-30 12:48] #12008 closed

[2019-09-30 13:25] amyblais commented on #12395
Hi @Th3Whit3Wolf, would you be open to opening this issue on our [troubleshooting forum](http://forum.mattermost.org/) as there may be other community member who have hit this issue and may be able to assist?

Would you also be open to sharing more details about your environment, such as your OS and Mattermost server version? Did you use this page for installing https://marketplace.digitalocean.co

[2019-09-30 13:28] amyblais commented on #12369
Closing this as a duplicate of the Help Wanted issue that was opened here: https://github.com/mattermost/mattermost-server/issues/12389.

[2019-09-30 13:28] #12369 closed

[2019-09-30 13:47] lieut-data commented on #12368
Thanks, @Aninstance! I've got a PR up to address this on webapp: https://github.com/mattermost/mattermost-webapp/pull/3798.

[2019-09-30 14:20] mattermod opened #12418 "Plugin API: GetChannels method"
Introduce a `GetChannels` method to the base plugin API. This should serve as the basis for all bulk queries of channels.

[code]

We may later build plugin helpers upon this RPC method to streamline certain kinds of queries, e.g. get all public channels for a single user, or get all direct messages for a single user.

----
If you're interested please comment here and come [join our "Contributors"

[2019-09-30 14:21] hmhealey commented on #12337
@aparnaadesai Yep, feel free to. Let me know if you run into any issues or have any questions

[2019-09-30 14:25] mattermod opened #12419 "Plugin API: RunOnSingleNode helper method"
Add RunOnSingleNode helper method to the Plugin API. Method should run passed function on a single node in a HA environment.

[code]

Assume that method RunOnSingleNode will run on many nodes. `f()` function should run on a single node only. To clarify, whenever we run `RunOnSingleNode(id, f)`, `f()` function should run only on a single node and only once. If we run `RunOnSingleNode(id, f)` with t

[2019-09-30 14:37] Lumexralph commented on #12408
@mgdelacroix I would love to work on this.

[2019-09-30 14:39] mgdelacroix commented on #12408
@Lumexralph great, thanks!! :sparkles:

[2019-09-30 14:40] mattermod opened #12420 "GitHub Plugin: Compute label foreground colour using WCAG rules"
The pending update to the GitHub plugin supports a RHS that renders labels on PRs:
 ![](image-2019-09-30-11-38-09-140.png|thumbnail)

Unfortunately, sometimes GitHub renders different foreground colours for the given label colour:
 ![](image-2019-09-30-11-38-39-956.png|thumbnail)

Investigate https://github.com/rtsao/gh-label-svg/issues/2 and following the WCAG algorithm proposed there to converge

[2019-09-30 14:40] mgdelacroix commented on #12417
Sure thing @hector2, thanks! :tada:

[2019-09-30 14:41] mgdelacroix commented on #12416
Great, thanks @cinlloc! :confetti_ball:

[2019-09-30 14:42] Lumexralph commented on #12409
@mgdelacroix I would love to work on this.

[2019-09-30 14:43] mgdelacroix commented on #12409
Thanks @Lumexralph!

[2019-09-30 14:48] phillipahereza commented on #12414
I'll work on this one

[2019-09-30 14:48] phillipahereza commented on #12413
I'll work on this too

[2019-09-30 14:53] goku321 commented on #12351
Can I take this one?

[2019-09-30 15:01] Lumexralph commented on #12419
@iomodo Who can I reach out to concerning this issue to get more clarity in the contributor's channel?

[2019-09-30 15:02] mgdelacroix commented on #12414
Thanks @phillipahereza! :confetti_ball:

[2019-09-30 15:02] mgdelacroix commented on #12413
Great, thanks @phillipahereza!

[2019-09-30 15:15] mattermod opened #12422 "Migrate tests from "model/mfa_secret_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/mfa_secret_test.go` file.

The expected way to migrate this is to

[2019-09-30 15:15] mattermod opened #12423 "Migrate tests from "model/emoji_search_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/emoji_search_test.go` file.

The expected way to migrate this is

[2019-09-30 15:15] mattermod opened #12424 "Migrate tests from "model/compliance_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/compliance_test.go` file.

The expected way to migrate this is to

[2019-09-30 15:15] mattermod opened #12425 "Migrate tests from "model/websocket_request_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/websocket_request_test.go` file.

The expected way to migrate thi

[2019-09-30 15:15] mattermod opened #12426 "Migrate tests from "config/unmarshal_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `config/unmarshal_test.go` file.

The expected way to migrate this is to

[2019-09-30 15:15] mattermod opened #12427 "Migrate tests from "config/memory_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `config/memory_test.go` file.

The expected way to migrate this is to go

[2019-09-30 15:15] mattermod opened #12428 "Migrate tests from "config/database_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `config/database_test.go` file.

The expected way to migrate this is to

[2019-09-30 15:15] mattermod opened #12429 "Migrate tests from "config/file_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `config/file_test.go` file.

The expected way to migrate this is to go t

[2019-09-30 15:15] mattermod opened #12430 "Migrate tests from "config/watcher_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `config/watcher_test.go` file.

The expected way to migrate this is to g

[2019-09-30 15:15] mattermod opened #12431 "Migrate tests from "config/main_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `config/main_test.go` file.

The expected way to migrate this is to go t

[2019-09-30 15:20] iomodo commented on #12419
@Lumexralph it's great that you are interested, dm me.

[2019-09-30 15:31] amyblais commented on #12351
Thank you @goku321!

[2019-09-30 16:16] Lumexralph commented on #12333
@hanzei line 430 of `app/email.go` file, `bodyPage.Props["Link"]` returns an interface, is there any situation its doesn't hold a string?

[2019-09-30 16:26] amyblais commented on #12225
Closing as this will be fixed via upcoming changes made as part of https://mattermost.atlassian.net/browse/MM-13145 in the upcoming desktop app 4.3 release.

4.3 is currently scheduled to be released on October 16th,

[2019-09-30 16:26] #12225 closed

[2019-09-30 17:50] mattermod opened #12435 "Migrate 'components/unread_channel_indicator.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/unread*channel*indicator.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any com

[2019-09-30 17:50] mattermod opened #12436 "Migrate 'components/toggle.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/toggle.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using thos

[2019-09-30 17:50] mattermod opened #12437 "Migrate 'components/status_icon.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/status_icon.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2019-09-30 17:50] mattermod opened #12438 "Migrate 'components/spinner_button.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/spinner_button.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components us

[2019-09-30 17:50] mattermod opened #12439 "Migrate 'components/settings_sidebar.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/settings_sidebar.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2019-09-30 17:50] mattermod opened #12440 "Migrate 'components/save_button.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/save_button.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2019-09-30 17:50] mattermod opened #12441 "Migrate 'components/recent_date.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/recent_date.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2019-09-30 17:50] mattermod opened #12442 "Migrate 'components/profile_picture.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/profile_picture.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components u

[2019-09-30 17:50] mattermod opened #12443 "Migrate 'components/post_deleted_modal.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/post*deleted*modal.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any component

[2019-09-30 17:50] mattermod opened #12444 "Migrate 'components/message_submit_error.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/message*submit*error.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compone

[2019-09-30 17:50] mattermod opened #12445 "Migrate 'components/loading_screen.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/loading_screen.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components us

[2019-09-30 17:50] mattermod opened #12446 "Migrate 'components/loading_image_preview.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/loading*image*preview.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compon

[2019-09-30 17:50] mattermod opened #12447 "Migrate 'components/get_link_modal.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/get*link*modal.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components us

[2019-09-30 17:50] mattermod opened #12448 "Migrate 'components/form_error.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/form_error.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2019-09-30 17:50] mattermod opened #12449 "Migrate 'components/file_upload_overlay.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/file*upload*overlay.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any componen

[2019-09-30 17:50] mattermod opened #12450 "Migrate 'components/discard_changes_modal.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/discard*changes*modal.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compon

[2019-09-30 17:50] mattermod opened #12451 "Migrate 'components/delete_modal_trigger.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/delete*modal*trigger.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compone

[2019-09-30 17:50] mattermod opened #12452 "Migrate 'components/copy_text.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/copy_test.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using t

[2019-09-30 17:50] mattermod opened #12453 "Migrate 'components/confirm_modal.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/confirm_modal.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2019-09-30 17:50] mattermod opened #12454 "Migrate 'components/autosize_textarea.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/autosize_textarea.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2019-09-30 17:50] mattermod opened #12455 "Migrate 'components/widgets/users' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/widgets/users` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie.

[2019-09-30 17:50] mattermod opened #12456 "Migrate 'components/widgets/settings' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/widgets/settings` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (

[2019-09-30 17:50] mattermod opened #12457 "Migrate 'components/widgets/menu' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/widgets/menu` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie.

[2019-09-30 17:50] mattermod opened #12458 "Migrate 'components/widgets/icons' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/widgets/icons` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie.

[2019-09-30 17:50] mattermod opened #12459 "Migrate 'components/search_hint' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/search_hint` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `

[2019-09-30 17:50] mattermod opened #12460 "Migrate 'components/post_emoji' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post_emoji` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `j

[2019-09-30 17:50] mattermod opened #12461 "Migrate 'components/multiselect' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/multiselect` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `

[2019-09-30 17:50] mattermod opened #12462 "Migrate 'components/msg_typing' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/msg_typing` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `j

[2019-09-30 17:50] mattermod opened #12463 "Migrate 'components/localized_input' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/localized_input` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \[ ] Rename the files to their associated TypeScript extensions (i

[2019-09-30 17:50] mattermod opened #12464 "Migrate 'components/local_date_time' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/local*date*time` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (i

[2019-09-30 17:50] mattermod opened #12465 "Migrate 'components/link_tooltip' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/link_tooltip` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie.

[2019-09-30 17:50] mattermod opened #12466 "Migrate 'components/help' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/help` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-09-30 17:50] mattermod opened #12467 "Migrate 'components/get_post_link_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/get*post_link*modal` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extension

[2019-09-30 17:50] mattermod opened #12468 "Migrate 'components/get_ios_app' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/get*ios*app` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `

[2019-09-30 17:50] mattermod opened #12469 "Migrate 'components/get_android_app' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/get*android*app` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (i

[2019-09-30 17:50] mattermod opened #12470 "Migrate 'components/file_info_preview' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/file*info*preview` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any c

[2019-09-30 17:50] mattermod opened #12471 "Migrate 'components/error_page' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/error_page` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `j

[2019-09-30 17:50] mattermod opened #12472 "Migrate 'components/common' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/common` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components u

[2019-09-30 17:50] mattermod opened #12473 "Migrate 'components/change_url_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/change*url*modal` and associated test files. You do not need to convert any `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (

[2019-09-30 17:50] mattermod opened #12474 "Migrate 'components/activity_log_modal/components/more_info.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/activity*log_modal/components/more*info.jsx` and associated test files. You do not need to convert `index.js` at this time.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript ex

[2019-09-30 17:50] mattermod opened #12475 "Migrate 'components/about_build_modal/about_build_modal.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/about*build_modal/` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components us

[2019-09-30 17:50] mattermod opened #12476 "Migrate 'components/analytics/table_chart.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/analytics/table_chart.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compon

[2019-09-30 17:50] mattermod opened #12477 "Migrate 'components/analytics/statistic_count.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/analytics/statistic_count.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any co

[2019-09-30 17:50] mattermod opened #12478 "Migrate 'components/analytics/line_chart.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/analytics/line_chart.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compone

[2019-09-30 17:51] mattermod opened #12479 "Migrate 'components/analytics/format.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/analytics/format.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \[ ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2019-09-30 17:51] mattermod opened #12480 "Migrate 'components/analytics/doughnut_chart.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/analytics/doughnut_chart.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any com

[2019-09-30 17:51] mattermod opened #12481 "Migrate 'utils/markdown' module and tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the `utils/markdown` module and test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to th

[2019-09-30 17:51] mattermod opened #12482 "Migrate 'utils/user_agent.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/user_agent.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those

[2019-09-30 17:51] mattermod opened #12483 "Migrate 'utils/url.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/url.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to the

[2019-09-30 17:51] mattermod opened #12484 "Migrate 'utils/syntax_highlighting.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/syntax_highlighting.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components usi

[2019-09-30 17:51] mattermod opened #12485 "Migrate 'utils/server_version.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/server_version.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using th

[2019-09-30 17:51] mattermod opened #12486 "Migrate 'utils/route.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/route.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to th

[2019-09-30 17:51] mattermod opened #12487 "Migrate 'utils/position_utils.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/position_utils.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using th

[2019-09-30 17:51] mattermod opened #12488 "Migrate 'utils/paste.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/paste.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to th

[2019-09-30 17:51] mattermod opened #12489 "Migrate 'utils/notifications.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/notifications.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using tho

[2019-09-30 17:51] mattermod opened #12490 "Migrate 'utils/latinise.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/latinise.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to

[2019-09-30 17:51] mattermod opened #12491 "Migrate 'utils/filter_users.js' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/filter_users.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using thos

[2019-09-30 17:51] mattermod opened #12492 "Migrate 'utils/emoticons.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/emoticons.jsx` and associate test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those t

[2019-09-30 17:51] mattermod opened #12493 "Migrate 'utils/dragster.js' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `utils/dragster.js` and associate test files.

Below is a checklist of items you should be doing to migrate:
- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
- [ ] Update any components using those to the cor

[2019-09-30 18:08] amyblais commented on #12368
Closing as this is fixed for v5.16 release which will be released on October 16th,

[2019-09-30 18:08] #12368 closed

[2019-09-30 18:46] devinbinnie commented on #12475
Needs the Redux conversion first, will update once that's been merged.

[2019-09-30 18:48] devinbinnie commented on #12474
Needs the Redux conversion first, will update once that's been merged.

[2019-09-30 18:53] devinbinnie commented on #12470
Needs the Redux conversion first, will update once that's been merged.

[2019-09-30 19:09] pikami commented on #12488
I'm grabbing this

[2019-09-30 19:10] guigui64 commented on #12487
I'm grabbing this one !

[2019-09-30 19:13] devinbinnie commented on #12486
Needs the Redux conversion first, will update once that's been merged.

[2019-09-30 19:35] devinbinnie commented on #12488
Thanks @pikami!

[2019-09-30 19:36] devinbinnie commented on #12487
Thanks @guigui64!

[2019-09-30 19:41] abadojack commented on #12068
I just created a pull request for this. Sorry, I was held up.

[2019-09-30 20:26] tpaschalis commented on #12425
Just created a PR for this issue, hope it's okay.

[2019-09-30 20:28] zirmax commented on #12491
Iam grabbing this one

[2019-09-30 20:34] ali-farooq0 commented on #12006
@hmhealey we should probably run a campaign to streamline the `admin_actions.jsx` then 👍

[2019-09-30 20:47] mbluemer commented on #12493
Taking a stab at this.

[2019-09-30 20:50] levb commented on #10336
@scottleedavis how would you like me to provide the code review feedback? Maybe make a PR from master into an empty branch, so I can comment on lines there?

[2019-09-30 21:30] guigui64 commented on #12492
I'm grabbing this one !

[2019-09-30 21:33] NathanPickard commented on #12482
I'll grab this one

[2019-09-30 23:17] mbluemer commented on #12493
PR open: https://github.com/mattermost/mattermost-webapp/pull/3818

[2019-09-30 23:19] scottleedavis commented on #10336
@levb I tried [this approach](https://stackoverflow.com/questions/34100048/github-create-empty-branch) in creating an empty branch, and when looking at it via a compare/PR, no issues show up https://github.com/scottleedavis/mattermost-plugin-noexif/compare/empty-branch?expand=1

I am happy to do this approach (though haven't done it before) if you'd prefer.  Do you have a process for it you can sh

[2019-10-01 00:41] mhartenbower commented on #12431
I'd like to help out with this one.

[2019-10-01 02:03] mjthomp95 commented on #12485
I can take this

[2019-10-01 02:16] Lumexralph commented on #12332
@hanzei A [PR](https://github.com/mattermost/mattermost-server/pull/12503) is up for this.

[2019-10-01 02:30] Lumexralph commented on #12333
@hanzei A [PR](https://github.com/mattermost/mattermost-server/pull/12504) is up for this, please kindly review and any feedback will be appreciated.

[2019-10-01 02:42] Lumexralph commented on #12334
@hanzei A [PR](https://github.com/mattermost/mattermost-server/pull/12505) is up for this, feedback will be appreciated.

[2019-10-01 03:12] RajatVaryani commented on #12389
Can I take a stab at this?

[2019-10-01 03:59] Lumexralph commented on #12409
@mgdelacroix A [PR](https://github.com/mattermost/mattermost-server/pull/12506) is up for this, feedback will be appreciated.

[2019-10-01 04:14] Lumexralph commented on #12411
@mgdelacroix A [PR](https://github.com/mattermost/mattermost-server/pull/12507) is up for this. Feedback will be appreciated.

[2019-10-01 05:10] akantsevoi commented on #12415
As I see https://github.com/mattermost/mattermost-server/blob/master/mlog/human/logrus_writer.go doesn't have tests yet. My suggestion is just close this issue.

[2019-10-01 05:54] agnivade commented on #12430
I'll take this one.

[2019-10-01 05:54] agnivade commented on #12397
I'll take this one.

[2019-10-01 05:58] njkevlani commented on #12422
@mgdelacroix
I'd be happy to take this up as my first issue! Can I go for it?

[2019-10-01 05:58] hanzei commented on #12422
Surely, thanks @njkevlani :tada:

[2019-10-01 05:59] cedrickring commented on #12490
I'll grab this one 👍

[2019-10-01 07:37] mgdelacroix commented on #12431
Great, thanks @mhartenbower!! :confetti_ball:

[2019-10-01 07:38] mgdelacroix commented on #12430
Amazing, thanks @agnivade!! :sparkles:

[2019-10-01 07:40] mgdelacroix commented on #12425
Sure thing @tpaschalis, thanks for the contribution!!! :confetti_ball:

To ensure noone else is working on the same thing, you can leave a message before making the contribution saying that you plan to work on a ticket and we will assign it to you :)

[2019-10-01 07:41] mgdelacroix commented on #12424
Great, thanks @tpaschalis!! :sparkles:

[2019-10-01 07:42] mgdelacroix commented on #12415
You are right @akantsevoi, thanks for the heads up!!

[2019-10-01 07:42] #12415 closed

[2019-10-01 07:49] #12300 closed

[2019-10-01 07:50] saturninoabril commented on #12300
Thanks [Joseph](https://github.com/josephk96) for your contribution1

[2019-10-01 07:56] tpaschalis commented on #12425
Sorry, I'll make sure to talk to someone before!

Thanks for the streamlined process, it was a breeze, even though it was a very small change. I'll make sure to keep an eye out for more complex issues I could assist with!

[2019-10-01 08:14] mgdelacroix commented on #12425
No worries!! :smile:

If you want to tackle something a little more challenging, you can take a look at the issues labeled with [Difficulty/2:Medium](https://github.com/mattermost/mattermost-server/issues?q=is%3Aissue+is%3Aopen+label%3ADifficulty%2F2%3AMedium), maybe you'll find some of them interesting. Thanks again for your contributions!! :tada:

[2019-10-01 09:34] agnivade commented on #12430
So I had a look into this one. There are just 2 calls to `t.Fatal` in the file and both of them are used in select cases.

[code]

I don't see a simple way to convert these to `require` calls.

It seems like this file was introduced in commit https://github.com/mattermost/mattermost-server/commit/285b646d67db90cc2f2fc441045acc22191863dd when `testify` libraries were already being used, because `re

[2019-10-01 09:49] tpaschalis commented on #12068
No worries, thanks for letting me know.

[2019-10-01 10:10] agnivade commented on #12430
It is the same for config/file_test.go (https://github.com/mattermost/mattermost-server/issues/12429) and config/database_test.go (https://github.com/mattermost/mattermost-server/issues/12428) too. Only these select case styled errors are not converted.

If we are to do this, I can perhaps wrap these in a helper function which returns a true/false depending on whether the listener callback was cal

[2019-10-01 10:11] karlmarxlopez commented on #12489
Can I take this?

[2019-10-01 10:53] PauloRAndrade commented on #12427
Hey, I would like to work on this, would it be ok?

[2019-10-01 10:58] mkesper opened #12513 "Curl API example not working at all!"
#### Summary
The curl request to test bot accounts reproducibly creates 403 responses https://docs.mattermost.com/developer/bot-accounts.html?highlight=bot#how-can-i-quickly-test-if-my-bot-account-is-working

#### Steps to reproduce
Version: 5.13
1. Create bot user
2. Set bot user to Role "System Admin" to ensure it can post everywhere
3. Note the created Token secret
4. Use the curl request from

[2019-10-01 11:07] sowmiyamuthuraman commented on #12479
Can I work on this?

[2019-10-01 11:11] hanzei commented on #12333
@jespino Do you know what `Props["Link"]` can contain?

[2019-10-01 11:12] dibyaaaaax commented on #12491
Can I work on this?

[2019-10-01 11:13] cpanato commented on #12479
@sowmiyamuthuraman definitely! it is yours! thanks!!

[2019-10-01 11:16] jespino commented on #12333
@hanzei yes, it always contains the the string for the link.

[2019-10-01 11:49] DropNib commented on #12483
I'd like to grab this one.

[2019-10-01 11:51] karlmarxlopez commented on #12481
Can I take this? And #12489?

[2019-10-01 11:53] sudheerDev commented on #12489
Thanks @karlmarxlopez. Go ahead!. Let us know fi you run into any issues

[2019-10-01 12:03] mgdelacroix commented on #12430
@agnivade for those cases, we can directly replace the calls to `t.Fatal` with calls to `require.Fail`.

The goal of using testify helpers is to improve code readability, and although in this case there is no specific helper to check that a function has been called, one option would be to use `require.Fail` for consistency with the existing checking mechanism.

The helper function sounds good as w

[2019-10-01 12:15] agnivade commented on #12430
Gotcha, thanks !

[2019-10-01 12:27] amyblais commented on #12481
Sure, thank you!

[2019-10-01 12:30] marianacapelo commented on #10464
Hi @hanzei,
Can you confirm if the issue is Up For Grabs? I noticed a merged PR to address it -https://github.com/mattermost/mattermost-mobile/pull/3239.

[2019-10-01 12:33] amyblais commented on #12399
@marianunez ^

[2019-10-01 12:41] marianunez commented on #12399
Welcome @iwataka! Thanks for taking this one on.

1. That looks about right, I think we just won't to include the repo name at the beginning of the message. So, in your example it would look something like:

 [panda](https://github.com/panda) commented on your pull request [#42 Leverage git-get-head](https://github.com/mattermost/mattermost-plugin-github/pull/42)

2. Yes! That makes sense to be co

[2019-10-01 12:44] karlmarxlopez commented on #12489
Thank you! @sudheerDev

[2019-10-01 13:30] mattermod opened #12515 "Refactor actions/views/root.js::loadTranslations to have a single point of return"
Update `loadTranslations` function to a single single point of return by removing line [https://github.com/mattermost/mattermost-webapp/blob/master/actions/views/root.js#L60](https://github.com/mattermost/mattermost-webapp/blob/master/actions/views/root.js#L60)
and invoking `copyAndDispatchTranslations(dispatch, translations, en, locale);` at the end of the function.

More discussion: [https://git

[2019-10-01 13:32] amoury commented on #11264
@hanzei Here is my PR for this issue -  https://github.com/mattermost/mattermost-webapp/pull/3825
Thanks

[2019-10-01 13:57] FlaviaBastos commented on #12484
I will start working on this one. :)

[2019-10-01 15:24] #11919 closed

[2019-10-01 15:36] LukaszKokot commented on #12455
I'm interested in doing this :-)

[2019-10-01 15:45] mattermod opened #12517 "Removal of unused status flags in Jobs request state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/jobs.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or in

[2019-10-01 15:45] mattermod opened #12518 "Removal of unused status flags in Admin requests state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/admin.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or i

[2019-10-01 15:45] mattermod opened #12519 "Removal of unused status flags in Integrations requests state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/integrations.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in weba

[2019-10-01 15:45] mattermod opened #12520 "MM-18902 Removal of unused status flags in Roles requests state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/roles.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or i

[2019-10-01 15:45] mattermod opened #12521 "Removal of unused status flags in Preferences requests state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/preferences.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webap

[2019-10-01 15:45] mattermod opened #12522 "Removal of unused status flags in Search request state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/search.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or

[2019-10-01 15:45] mattermod opened #12523 "Removal of unused status flags in General request state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/general.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or

[2019-10-01 15:48] typeoh commented on #12376
Thanks @hanzei let me know when you've confirmed it!
I was thinking something along the lines of this:
![Mattermost_scroll_to_error](https://user-images.githubusercontent.com/28733727/65978046-49151080-e473-11e9-9d14-43117190408a.gif)
I wasn't quite sure how to replicate the issue on the web app, so I just reduced the screen size - it would also be great to get some steps on how to reproduce that

[2019-10-01 16:05] jwilander commented on #12009
This is a dupe of #11822

[2019-10-01 16:05] #12009 closed

[2019-10-01 16:06] jwilander commented on #11822
Cloud team is working on this in-house

[2019-10-01 16:14] codevbus commented on #12426
I'll grab this

[2019-10-01 16:38] jasminexie commented on #12438
I'll take this one!

[2019-10-01 17:12] pikami commented on #12480
I'm grabbing this

[2019-10-01 17:38] wmcbain commented on #12467
@mattermod I can pick this up

[2019-10-01 17:39] wmcbain commented on #12465
@mattermod I can pick this up

[2019-10-01 18:04] akantsevoi commented on #12427
As I see https://github.com/mattermost/mattermost-server/blob/master/config/memory_test.go doesn't need to be migrated to the testify. There are few t.Fatal in that file such as:
[code]
But I think it's okay.

My suggestion is just close this issue.

[2019-10-01 18:21] saturninoabril commented on #11749
PR has been merged - https://github.com/mattermost/mattermost-server/issues/11749
Thanks @jordeguevara for your contribution!

[2019-10-01 18:21] #11749 closed

[2019-10-01 18:37] achannn commented on #12429
Hello, I'm interested in picking up this ticket.

[2019-10-01 18:42] achannn commented on #12429
Actually, it looks like this may have been done already.

[2019-10-01 18:43] achannn commented on #12428
I think this is already done as well.

[2019-10-01 18:48] codevbus commented on #12426
@mgdelacroix @amyblais  -

For https://github.com/mattermost/mattermost-server/blob/master/config/unmarshal_test.go#L165

Do you prefer a `require` assertion on the boolean value for `ok`:

```require.Truef(t, ok, "TeamSettings is missing from envConfig")```

or would a direct call to `Fail` be cleaner, since we've already evaluated the bool:

```require.Fail(t, "TeamSettings is missing from envCo

[2019-10-01 19:41] jespino commented on #12465
@wmcbain Sure, go for it :)

[2019-10-01 19:41] jespino commented on #12467
@wmcbain Sure! Thanks! :tada:

[2019-10-01 19:43] jespino commented on #12429
@achannn actually, I think is not picked yet, so if you still want to pick it, is ok :)

[2019-10-01 19:45] jespino commented on #12428
Actually is not, so if you want to pick it, let us know.

[2019-10-01 19:48] jespino commented on #12427
We are migrating that to `require.Fail`, actually in this case we can migrate it to something like `require.Eventually`.

[2019-10-01 19:49] manland commented on #12455
I start with this ;)

[2019-10-01 19:49] iwataka commented on #12399
Thanks for your help, @amyblais and @marianunez !

I will create PR to [mattermost-plugin-github](https://github.com/mattermost/mattermost-plugin-github) in a few days.

[2019-10-01 19:50] jespino commented on #12187
@asaadmahmood can you give some information here?

@abdusabri sorry the delay in the reply.

[2019-10-01 20:04] jespino commented on #12455
Awesome, thanks @manland! :tada:

[2019-10-01 20:14] SezalAgrawal commented on #12429
Can I pick this up?

[2019-10-01 20:14] SezalAgrawal commented on #12428
Can I pick this up?

[2019-10-01 20:15] manland commented on #12455
@jespino I have storybook story inside it. We need to add config for storybook https://storybook.js.org/docs/configurations/typescript-config/ maybe another PR dedicated to storybook will be better? What do you think?

[2019-10-01 20:44] manland commented on #12455
@jespino NVM I have added it directly in PR because it was more simple than I think (most of the conf was here, just a bad regexp ;))

[2019-10-01 20:46] mbluemer commented on #12518
Taking a stab at this.

[2019-10-01 20:53] pikami commented on #12477
I'm grabbing this

[2019-10-01 21:54] codevbus commented on #12426
Went with `require.Fail`

[2019-10-01 21:57] manland commented on #12264
I work on this, it had save lot of time if it was existing when i was developing gitlab-plugin :D

[2019-10-01 23:06] dnguy078 commented on #12427
looks like that `require.Eventually` is introduced in v1.4.0 testify. you want to upgrade to v1.4.0 ?

[2019-10-01 23:20] dnguy078 commented on #12428
https://github.com/mattermost/mattermost-server/pull/12532

[2019-10-01 23:25] jamesa commented on #12478
I'd like to try this one!

[2019-10-01 23:28] dnguy078 commented on #12429
https://github.com/mattermost/mattermost-server/pull/12534

[2019-10-02 00:18] dnguy078 commented on #12418
i'd like to take look at this

[2019-10-02 00:52] jordeguevara commented on #9760
@hanzei I had a question.
<img width="496" alt="header_" src="https://user-images.githubusercontent.com/34716202/66010323-5cc07700-e473-11e9-8dc7-aacdb98c0399.png">
<img width="558" alt="header" src="https://user-images.githubusercontent.com/34716202/66010325-5cc07700-e473-11e9-906a-24a9652f01ef.png">
<img width="530" alt="purpose_" src="https://user-images.githubusercontent.com/34716202/66010328-

[2019-10-02 01:22] mhartenbower commented on #12431
Think I messed up the linking...so here's the PR: https://github.com/mattermost/mattermost-server/pull/12533

[2019-10-02 02:56] kgeorgiou commented on #12464
Picking this up.

[2019-10-02 03:14] pbitty commented on #11912
I have started making progress on this.  Not quite ready for a PR yet, but I have been able to:
* extract the minimum version declared in each `API` and `Helpers` methods
* enumerate receiver methods of `HelpersImpl`
* walk through the AST Nodes of each `HelpersImpl` methods

Now I am working on finding all the method calls to `API` inside the `HelpersImpl` methods.

[2019-10-02 03:52] kgeorgiou commented on #12459
Picking this up.

[2019-10-02 04:27] hanzei commented on #9760
That seams reasonable :+1:

[2019-10-02 04:49] kgeorgiou commented on #12448
Picking this up.

[2019-10-02 05:32] asaadmahmood commented on #12187
@andrewbrown00 The floor is yours.

[2019-10-02 05:41] hanzei commented on #12418
Thanks @dnguy078 :+1:

[2019-10-02 05:43] hanzei commented on #12429
Sorry @SezalAgrawal, @dnguy078 created the PR first. Feel free to work on a differnt ticket.

[2019-10-02 05:45] hanzei commented on #12427
That seams like a nice addition to make the code more clean :+1:

[2019-10-02 05:46] hanzei commented on #12264
Thanks @manland for taking a shot :+

[2019-10-02 05:52] hanzei commented on #12426
Good decision, this is much cleaner :+1:

[2019-10-02 06:22] #12488 closed

[2019-10-02 07:43] sidletsky opened #12535 "Update docs at webapp/build-component"
#### Summary
Docs under [this](https://developers.mattermost.com/contribute/webapp/build-component/) address are outdated. Old React API, migration to TypeScript is not mentioned

#### Possible fixes
There could be pure functional components in new React style (hooks) in TypeScript.

[2019-10-02 07:46] Sheshagiri commented on #12391
I would like to give this a try.

[2019-10-02 08:47] isacikgoz commented on #12410
I can take this one.

[2019-10-02 08:53] hanzei commented on #12391
Thanks for working on this @Sheshagiri :tada:

[2019-10-02 09:00] hanzei commented on #12410
Sorry @isacikgoz, it seams like @akantsevoi is already working on this.

[2019-10-02 09:03] #12412 closed

[2019-10-02 09:04] hanzei commented on #12412
Thanks @akantsevoi for fixing this issue and congratulations to your first contribution to Mattermost!

[2019-10-02 09:14] hanzei commented on #10464
Good catch @marianacapelo :+1:. This was competed with https://github.com/mattermost/mattermost-mobile/pull/3239. Closing

[2019-10-02 09:14] #10464 closed

[2019-10-02 09:37] cinlloc commented on #12265
I'm interested to work on it.

[2019-10-02 09:55] hanzei commented on #12265
Thanks for taking a shot @cinlloc :+1:

[2019-10-02 12:51] #12428 closed

[2019-10-02 12:54] #12490 closed

[2019-10-02 14:13] #12479 closed

[2019-10-02 14:28] sij507 commented on #11741
@saturninoabril I would like to work on this ticket

[2019-10-02 14:36] amyblais commented on #12311
@reftel Do you have an update on this?

[2019-10-02 14:38] saturninoabril commented on #11741
@sij507 Awesome, thank you for you interest!  Let me know if you need anything about this ticket.

[2019-10-02 14:45] mattermod opened #12541 "Github Plugin: Improve RHS UI and content"
The \<GitHub plugin>([mattermost/mattermost-plugin-github](https://github.com/mattermost/mattermost-plugin-github)) RHS lists notifications, pull requests, assigned issues and review requests. We would like to improve the content and UI layout to include:

  * PR number
  * Milestone version - if available
  * Time the PR has been open - in the case of PR lists

The UI should look like:

**PR List

[2019-10-02 14:48] hanzei commented on #12043
Thank you very much for this awesome and great contribution @pbitty :tada:

[2019-10-02 15:29] #12477 closed

[2019-10-02 15:30] mattermod opened #12544 "Migrate tests from "model/push_notification_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/push_notification_test.go` file.

The expected way to migrate thi

[2019-10-02 15:30] mattermod opened #12545 "Migrate tests from "model/user_access_token_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/user_access_token_test.go` file.

The expected way to migrate thi

[2019-10-02 15:30] mattermod opened #12546 "Migrate tests from "model/suggest_command_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/suggest_command_test.go` file.

The expected way to migrate this

[2019-10-02 15:30] mattermod opened #12547 "Migrate tests from "model/security_bulletin_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/security_bulletin_test.go` file.

The expected way to migrate thi

[2019-10-02 15:30] mattermod opened #12548 "Migrate tests from "model/access_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/access_test.go` file.

The expected way to migrate this is to go

[2019-10-02 15:30] mattermod opened #12549 "Migrate tests from "model/websocket_message_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/websocket_message_test.go` file.

The expected way to migrate thi

[2019-10-02 15:30] mattermod opened #12550 "Migrate tests from "model/system_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/system_test.go` file.

The expected way to migrate this is to go

[2019-10-02 15:30] mattermod opened #12551 "Migrate tests from "model/saml_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/saml_test.go` file.

The expected way to migrate this is to go to

[2019-10-02 15:30] mattermod opened #12552 "Migrate tests from "model/switch_request_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/switch_request_test.go` file.

The expected way to migrate this i

[2019-10-02 15:30] mattermod opened #12553 "Migrate tests from "model/command_webhook_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/command_webhook_test.go` file.

The expected way to migrate this

[2019-10-02 15:40] italolelis commented on #12553
Hey,
I can work on this 😄

[2019-10-02 15:41] SezalAgrawal commented on #12544
I want to pick this up.

[2019-10-02 15:47] goku321 commented on #12548
@mgdelacroix Can I grab this one?

[2019-10-02 15:48] akantsevoi commented on #12552
I take it.

[2019-10-02 15:54] hanzei commented on #12548
Sure, thanks for working on this @goku321

[2019-10-02 15:55] hanzei commented on #12544
Thanks for working on this @SezalAgrawal :+1:

[2019-10-02 15:55] hanzei commented on #12553
Thanks for working on this @italolelis :+1:

[2019-10-02 16:01] akantsevoi commented on #12551
I take it

[2019-10-02 16:33] sascha-andres commented on #12550
I would like to go for it

[2019-10-02 16:36] mgdelacroix commented on #12550
Great @sascha-andres, thanks for working on this! :confetti_ball:

[2019-10-02 16:36] jespino commented on #12427
@dnguy078 Yes, I think would be great to add v1.4.0 for that.

[2019-10-02 16:37] SezalAgrawal commented on #12549
I want to take this up.

[2019-10-02 16:38] cinlloc commented on #12547
I would like to do it

[2019-10-02 16:42] hanzei commented on #12547
Thanks @cinlloc :+1:

[2019-10-02 16:43] #12427 closed

[2019-10-02 16:45] #12438 closed

[2019-10-02 16:57] #12430 closed

[2019-10-02 17:00] #12208 closed

[2019-10-02 17:01] nicnicknicky commented on #12546
like to give this a shot

[2019-10-02 17:04] SamWolfs commented on #12478
I'll take a swing at this issue :)

[2019-10-02 17:06] hanzei commented on #12478
Thanks @SamWolfs

[2019-10-02 17:06] hanzei commented on #12546
Thanks for working on this @nicnicknicky :+1:

[2019-10-02 17:24] #12429 closed

[2019-10-02 17:28] karlmarxlopez commented on #12481
Hi @amyblais, I have some minor issues with my (PR)[https://github.com/mattermost/mattermost-webapp/pull/3845]. If you have time, please take a look at my comments. Thank you.

[2019-10-02 17:29] amyblais commented on #12481
@devinbinnie ^

[2019-10-02 17:29] karanrn commented on #12545
@mgdelacroix I want to take this one.

[2019-10-02 17:40] mgdelacroix commented on #12545
Great @karanrn, thanks for working on this!! :tada:

[2019-10-02 17:45] mattermod opened #12563 "Migrate tests from "model/audits_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/audits_test.go` file.

The expected way to migrate this is to go

[2019-10-02 17:45] mattermod opened #12564 "Migrate tests from "model/terms_of_service_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/terms_of_service_test.go` file.

The expected way to migrate this

[2019-10-02 17:45] mattermod opened #12565 "Migrate tests from "model/channel_view_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/channel_view_test.go` file.

The expected way to migrate this is

[2019-10-02 17:45] mattermod opened #12566 "Migrate tests from "model/cluster_stats_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/cluster_stats_test.go` file.

The expected way to migrate this is

[2019-10-02 17:49] ananichev commented on #12563
Let me take this one

[2019-10-02 17:50] ananichev commented on #12564
I'll take this one too

[2019-10-02 17:50] mattermod opened #12568 "Migrate tests from "model/command_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/command_test.go` file.

The expected way to migrate this is to go

[2019-10-02 17:50] mattermod opened #12569 "Migrate tests from "model/initial_load_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/initial_load_test.go` file.

The expected way to migrate this is

[2019-10-02 17:50] mattermod opened #12570 "Migrate tests from "model/cluster_discovery_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/cluster_discovery_test.go` file.

The expected way to migrate thi

[2019-10-02 17:50] mattermod opened #12571 "Migrate tests from "model/post_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/post_test.go` file.

The expected way to migrate this is to go to

[2019-10-02 17:50] mattermod opened #12572 "Migrate tests from "model/search_params_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/search_params_test.go` file.

The expected way to migrate this is

[2019-10-02 17:50] mattermod opened #12573 "Migrate tests from "model/channel_member_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/channel_member_test.go` file.

The expected way to migrate this i

[2019-10-02 17:50] ananichev commented on #12565
I'll take this one too

[2019-10-02 17:50] ananichev commented on #12566
I'll take this one too

[2019-10-02 17:50] karlmarxlopez commented on #12476
Can I also take this?

[2019-10-02 17:53] esethna commented on #12187
@abdusabri, thanks for your interest here:

1. Container should have the same background color as the center channel theme color
2. Yes it should have the hand cursor, same as single image attachments now
3. The container itself should have the hover effect, same as single image attachments now, but the image within should not have it's own hover effect
4. Yes, same behavior should apply to in-lin

[2019-10-02 18:03] sascha-andres commented on #12573
I would like to go for it

[2019-10-02 18:04] sascha-andres commented on #12550
@mgdelacroix Created a PR

[2019-10-02 18:55] #12359 closed

[2019-10-02 18:57] bharaththiruveedula commented on #12571
Can I work on this?

[2019-10-02 19:04] sahilsharma011 commented on #12572
I'd like to start contributing on mattermost by fixing this issue.

[2019-10-02 19:05] #12485 closed

[2019-10-02 19:08] Muscaw commented on #12570
Hello @mgdelacroix , I'd like to work on it for my first issue, is it possible?

[2019-10-02 19:11] brewsterbhg commented on #12463
Hey! If it's okay, I'd like to pick this one up.

[2019-10-02 19:20] sahilsharma011 commented on #12569
I would like to work on this issue

[2019-10-02 19:29] adam-pog commented on #12568
I can pick up this one

[2019-10-02 19:30] ChrisDobby commented on #12342
I'll pick this one up if that's OK?

[2019-10-02 19:43] lurcio commented on #12572
I'll grab this one!

[2019-10-02 20:45] amyblais commented on #12329
### v5.16 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.16.0-rc1/mattermost-team-5.16.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2992/files)

[2019-10-02 21:25] #12422 closed

[2019-10-02 21:34] manland commented on #12265
And now I start on it (btw : really fun issue, you are better than my Product Owner to surprise me on crazy feature :D )

[2019-10-02 21:47] mjthomp95 commented on #12458
I can work on this.

[2019-10-02 22:22] andrewbrown00 commented on #12187
Thanks @abdusabri for taking this ticket 😄. Answers to your questions are below:

1. Should the container have a white or a transparent background color? **White, when it's smaller than 48. Everything above that 48 threshold will be transparent with no border.**
2. The container should have a cursor pointer and a hover effect, correct? **Yes**
3. The hover effect of the enclosed image will be disa

[2019-10-03 00:07] JosephSamela commented on #12523
I'll tackle this one!

[2019-10-03 02:41] JosephSamela commented on #12523
I searched webapp and mobile repos for `_REQUEST` `_SUCCESS` and `_FAILURE` actions with the following shell script.

[code]
Here's the output. It would seem the only `WEBSOCKET_SUCCESS` and `WEBSOCKET_FAILURE` are used by webapp.
[code]

[2019-10-03 03:47] hanzei commented on #12342
Surely, thanks @ChrisDobby :+1:

[2019-10-03 03:48] hanzei commented on #12463
Awesome @brewsterbhg :+1:

[2019-10-03 03:49] hanzei commented on #12458
Thanks @mjthomp95

[2019-10-03 03:51] hanzei commented on #12523
Thanks for working on this @JosephSamela :+1:

cc @sudheerDev for feedback on the approach

[2019-10-03 04:49] kgeorgiou commented on #12469
Picking this up.

[2019-10-03 05:28] hanzei commented on #12469
Thanks @kgeorgiou

[2019-10-03 08:09] #12409 closed

[2019-10-03 08:10] #12448 closed

[2019-10-03 08:11] saturninoabril commented on #12448
PR has been merged.  Thank you @kgeorgiou!

[2019-10-03 08:35] mattermod opened #12589 "Migrate tests from "model/oauth_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/oauth_test.go` file.

The expected way to migrate this is to go t

[2019-10-03 08:35] mattermod opened #12590 "Migrate tests from "model/authorize_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/authorize_test.go` file.

The expected way to migrate this is to

[2019-10-03 08:38] #12410 closed

[2019-10-03 08:39] saturninoabril commented on #12410
PR has been merged.  Thanks @akantsevoi!

[2019-10-03 08:40] mattermod opened #12591 "Migrate tests from "model/utils_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/utils_test.go` file.

The expected way to migrate this is to go t

[2019-10-03 08:40] mattermod opened #12592 "Migrate tests from "model/audit_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/audit_test.go` file.

The expected way to migrate this is to go t

[2019-10-03 08:40] mattermod opened #12593 "Migrate tests from "model/team_search_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/team_search_test.go` file.

The expected way to migrate this is t

[2019-10-03 08:40] mattermod opened #12594 "Migrate tests from "model/channel_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/channel_test.go` file.

The expected way to migrate this is to go

[2019-10-03 08:40] mattermod opened #12595 "Migrate tests from "model/reaction_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/reaction_test.go` file.

The expected way to migrate this is to g

[2019-10-03 08:40] mattermod opened #12596 "Migrate tests from "model/analytics_row_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/analytics*row*test.go` file.

The expected way to migrate this is

[2019-10-03 08:40] mattermod opened #12597 "Migrate tests from "model/incoming_webhook_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/incoming_webhook_test.go` file.

The expected way to migrate this

[2019-10-03 08:40] mattermod opened #12598 "Migrate tests from "model/cluster_message_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/cluster_message_test.go` file.

The expected way to migrate this

[2019-10-03 08:48] #12549 closed

[2019-10-03 09:01] hanzei commented on #11999
@crspeller Should this be in the antivirus plugin repo because it requires changes there?

[2019-10-03 09:03] boonwj commented on #12598
I would like to look into this :smile:

[2019-10-03 09:04] hanzei commented on #12598
Thanks @boonwj

[2019-10-03 09:31] sudheerDev commented on #12523
@JosephSamela Yup, Thats sounds about right we can remove actions dispatched for state objects   other than WEBSOCKET_SUCCESS and WEBSOCKET_FAILURE

[2019-10-03 10:02] gfelixc commented on #12597
would like to look into this 🎃

[2019-10-03 10:41] saturninoabril opened #12599 "UI Automation: Write an automated test using Cypress for "/ autocomplete list can scroll""
**Test Key:** I19168

**Test folder:** `/cypress/integration/integrations`

**Title:** / autocomplete list can scroll

**Steps:**
1. In a test channel, type "/"
2. Scroll through the slash command autocomplete list

**Expected:**
Autocomplete scrolls as expected.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Jir

[2019-10-03 10:41] saturninoabril opened #12600 "Write an automated test using Cypress for "/shrug test""
**Test Key:** I19167

**Test folder:** `/cypress/integration/integrations`

**Title:** /shrug test

**Steps:**
1. With User1 and User2 on same server and User2 has desktop notifications turned on
2. In a test channel User1 types "/shrug test" and post

**Expected:**
User1 and User2 see message "test ¯\_(ツ)_/¯"
User2's desktop notification shows that the message is from User1 (not "webhook")

See o

[2019-10-03 11:03] guigui64 commented on #12492
I need help on this issue. See PR for more details. Thanks

[2019-10-03 11:08] VictorAvelar commented on #12593
Hi I will like to take this one 😄

[2019-10-03 11:34] gfelixc commented on #12596
would like to look into this 🎃

[2019-10-03 11:34] rajiv-k commented on #12595
@mgdelacroix I can take care of this.

[2019-10-03 11:36] gfelixc commented on #12594
would like to look into this 🎃

[2019-10-03 11:46] Pensu commented on #12589
I will take this one.

[2019-10-03 11:51] JosephSamela commented on #12591
I got this one!

[2019-10-03 12:01] Sheshagiri commented on #12590
I'll pick this one :)

[2019-10-03 12:17] Jondyr commented on #12600
I'm interested in taking this one

[2019-10-03 12:30] amyblais commented on #12596
Looks like there is a PR already open here https://github.com/mattermost/mattermost-server/pull/12601.

[2019-10-03 12:45] amyblais commented on #12595
@rajiv-k Looks like there is a PR already open here https://github.com/mattermost/mattermost-server/pull/12603. Let us know if you need help finding another interesting issue to work on,

[2019-10-03 13:08] karanrn commented on #12055
I would like to work on this.

[2019-10-03 13:42] #10075 closed

[2019-10-03 13:45] #12301 closed

[2019-10-03 14:29] crspeller commented on #11999
Yes but we have not setup easy paths to find them yet, so I think this is OK here for now.

[2019-10-03 14:52] amyblais commented on #11959
I'll close this for now as there hasn't been updates on this for a while. I hope you'll open a feature request issue for this or take a look if Jesse's suggestion above helps,

[2019-10-03 14:52] #11959 closed

[2019-10-03 14:54] amyblais commented on #12319
I'll close this for now as there hasn't been updates on this, but I hope you will open a feature request for this and the other issue https://github.com/mattermost/mattermost-server/issues/12318 for further discussion,

[2019-10-03 14:54] #12319 closed

[2019-10-03 14:54] #12318 closed

[2019-10-03 15:03] amyblais commented on #12513
@mkesper Are bot accounts not working on your server in general or is it that the documentation example doesn't work?

[2019-10-03 15:03] cinlloc commented on #12265
A first PR proposal here: https://github.com/mattermost/mattermost-developer-documentation/pull/383

[2019-10-03 15:10] mattermod opened #12609 "Expand Plugin API to trigger user typing event"
Other systems such as MS Teams, it provides context to the user on longer running operations that the bot is “thinking”.  See example below of the MS Teams Github Bot “typing”

![msteams](https://user-images.githubusercontent.com/1023171/66346385-7278e500-e928-11e9-8b25-f7771a1906a6.gif)

  1. Expose a REST API for `/users/` https://github.com/mattermost/mattermost-server/blob/master/api4/user.go#

[2019-10-03 15:45] KerryAlsace commented on #12473
I'll take this one!

[2019-10-03 17:33] mkesper commented on #12513
Am 3. Oktober 2019 17:03:45 MESZ schrieb Amy Blais <notifications@github.com>:

Bots are working fine.
A login api call is mandatory before creating a post, though.

[2019-10-03 18:00] mattermod opened #12614 "Show single image thumbnails in compact view"
By default in compact view, show single image uploads as they appear in standard view (preview thumbnail that is collapsible). This ticket updates the sizing, positioning and styling of single image thumbnails in compact view. Note: Show all other uploads or multiple image uploads as they are now in compact view (no change).

**Implementation Notes**

Styling: Remove the bolding on the image name

[2019-10-03 21:17] abdusabri commented on #12187
Here are a couple of screenshots showing a whole range of cases to demonstrate the expected behavior

![image](https://user-images.githubusercontent.com/25670682/66164770-b1125500-e633-11e9-9302-8dd2b0a77e8c.png)

![image](https://user-images.githubusercontent.com/25670682/66164832-d010e700-e633-11e9-8567-fe0bacc7c1cd.png)

[2019-10-03 22:00] mattermod opened #12617 "RN: UI/UX Improvements to the mobile post draft area"
This ticket is done on the mattermost-mobile repository

See design: https://projects.invisionapp.com/share/UCTBUSUK5BH#/screens/377642040

![](screenshot-1.png|thumbnail)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with communit

[2019-10-03 22:20] mattermod opened #12618 "RN: Improve display of file, image and video thumbnails on mobile"
See Design: https://projects.invisionapp.com/share/9XRRHMSBV6D#/screens/360642221

Note: If interested in taking on this project please see the supplementary notes on each design slide that detail the functional behaviour

![image](https://user-images.githubusercontent.com/14333569/66168976-ab951a80-e5f3-11e9-8d19-8eb1bd370245.png)

![image](https://user-images.githubusercontent.com/14333569/66168

[2019-10-03 22:40] mattermod opened #12619 "Improve copy/paste behavior of posts within and outside Mattermost"
Use cases:
1. Copying posts from one channel to another within Mattermost
2. Copying posts from Mattermost to an external app (ie Notes or Word)

Observed: Markdown is not retained

Expected:

**Within Mattermost**

Copying posts within Mattermost should retain the markdown formatting when pasting into the tet composition area of another channel.

**Outside Mattermost**

If copying posts from Matt

[2019-10-03 23:05] mattermod opened #12621 "Drag and Drop to reorder team sidebar"
*_________*
**Behavior**
– Constrain drag to the vertical axis only
– Draggable objects should not be allowed to pan
– Cursor should use the [**grabbing** cursor](https://www.w3schools.com/cssref/pr*class*cursor.asp) when drag event starts
[code]
– Secondary objects shouldn’t move until the cursor crosses the midpoint of the object above or below

![teams](https://user-images.githubusercontent.com

[2019-10-04 00:48] JosephSamela commented on #12523
@sudheerDev should I remove *just* the unused actions...
[code]
...and leave `state` and `action` like this?
[code]
Right now [`handleRequest() from reducers/requests/helpers.js`](https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/helpers.js#L17-L22) expects `REQUEST`, `SUCCESS` and `FAILURE` arguments (in that order). Maybe make those args optional?

[2019-10-04 01:55] brewsterbhg commented on #12463
Opened a PR [here](https://github.com/mattermost/mattermost-webapp/pull/3869). Please let me know what you think!

[2019-10-04 02:11] brewsterbhg commented on #12446
Hi! If it's okay, I'd like to pick this one up.

[2019-10-04 03:31] joshalling commented on #12343
I'll try this one.

[2019-10-04 03:56] #12618 closed

[2019-10-04 04:23] rajiv-k commented on #12595
@amyblais There was no comment on this issue prior to mine. Saw the PR right after I commented here. No worries :smile:

[2019-10-04 06:19] hanzei commented on #12592
@Sheshagiri Please post a short message in this issue next time that you are working on this. Still, thanks for your PR!

[2019-10-04 07:17] avasconcelos114 commented on #12617
This seems like an awesome improvement, I'd like to give it a shot at implementing this UI/UX change if possible :)

[2019-10-04 07:25] ChrisDobby commented on #12346
I'll pick this one up if that's OK?

[2019-10-04 09:07] #12546 closed

[2019-10-04 10:09] Saamiyah commented on #12520
Working on this issue.

[2019-10-04 11:17] sudheerDev commented on #12523
You can remove the entire function we don't need the action for `PING_` as we are not using them anywhere.

so delete the entire

[code]
then delete the key in https://github.com/mattermost/mattermost-redux/blob/master/src/store/initial_state.js and any instance where we are dispatching this action

Makes sense but i would say if we do that then it will be in an another ticket and make them as opt

[2019-10-04 12:05] DSchalla commented on #10130
@bgibson710 Sorry for the ... very late response to this ticket. I just tried to reproduce this, and for me the SSL Labs results came back as expected. Did you restart the server after adapting the configuration?

[2019-10-04 12:08] bgibson710 commented on #10130
Yeah we’ve patched the server several times as well.  It’s still showing up on my server.

https://ssllabs.com/ssltest/analyze.html?d=mattermost.imsweb.com&latest

We’re running 5.15.0.

From: Daniel Schalla [mailto:notifications@github.com]
Sent: Friday, October 4, 2019 8:06 AM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Gibson, Brian (IMS) <GibsonB@imsweb.com>; Me

[2019-10-04 12:16] DSchalla commented on #10130
What surprises me is that TLS1.1 is listed as not active, but TLS1.0 and TLS1.2 is - I've set up a test instance here with the following setup:

**Software:**
- Ubuntu 18.04
- Mattermost 5.15
- MySQL
- No NGINX, proxy or Cloudflare configured

**SSL Labs:**
https://www.ssllabs.com/ssltest/analyze.html?d=tlstest.dev.spinmint.com&hideResults=on

**URL:**
https://tlstest.dev.spinmint.com/login

**Con

[2019-10-04 12:18] #12550 closed

[2019-10-04 12:28] bgibson710 commented on #10130
Attached our config file.  I did redact secrets and keys.

From: Daniel Schalla [mailto:notifications@github.com]
Sent: Friday, October 4, 2019 8:17 AM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Gibson, Brian (IMS) <GibsonB@imsweb.com>; Mention <mention@noreply.github.com>
Subject: Re: [mattermost/mattermost-server] TLS 1.0 still shows up even though TLSMinVer set

[2019-10-04 12:51] #12264 closed

[2019-10-04 13:04] #11954 closed

[2019-10-04 13:33] #12480 closed

[2019-10-04 14:30] #12544 closed

[2019-10-04 14:38] #12006 closed

[2019-10-04 14:42] amyblais commented on #12383
@chahat-arora Do you have an update on this?

[2019-10-04 14:43] #12411 closed

[2019-10-04 14:50] mattermod opened #12624 ""Watch/Unwatch thread" command in the post context menu"
This is a large project that would be great for anyone wanting to try a self-contained, rather important, user-facing feature for Mattermost. It will involve a small amount of front end work, but mostly back end work. It should be implemented as a plugin. You may need to add a plugin api endpoint, but try to avoid that if possible.

Description:

Currently in the user account settings drop-down (t

[2019-10-04 15:03] lieut-data commented on #12513
@mkesper, this appears to be a specific requirement of the [python-mattermost-driver](https://github.com/Vaelor/python-mattermost-driver#usage):

In general, the Mattermost API does not require an explicit login as such -- for example, if you use the Go driver, simply setting the token suffices.

[2019-10-04 15:06] lieut-data commented on #12513
And, just to add, I confirmed that this also works with the vanilla `curl` command without taking any extra login step as required by the python driver.

[2019-10-04 15:11] lieut-data commented on #11983
@lexusag, we are improving the performance of exactly this query in the upcoming v5.18 (cc @reflog).

While we don't generally advocate for manual edits to the database, it should in general be safe to remove posts by matching on the appropriate `ChannelId`. cc @grundleborg / @jespino for feedback on this.

[2019-10-04 15:18] amyblais commented on #12168
Ticket here: https://mattermost.atlassian.net/browse/MM-19203

[2019-10-04 15:36] #12597 closed

[2019-10-04 15:44] mdabydeen commented on #12609
I would like to take a look at this one

[2019-10-04 16:14] cadavre commented on #12327
I can confirm this behavior. FYI

[code]

`DB_HOST` exists and is resolved to database container IP.

The problem looks like Mattermost CLI is not respecting `$DB_HOST` and is stubbornly using `localhost` instead.

[2019-10-04 16:26] proishan11 commented on #12419
@iomodo Has anyone started working on this?

[2019-10-04 16:32] mkesper commented on #12513
On 04.10.19 17:07, Jesse Hallam wrote:

Hi all,

thanks for testing.
This is odd. It did repeatedly not work for me.
I'll investigate again.

[2019-10-04 16:42] iomodo commented on #12419
Sorry @proishan11, @Lumexralph is on it already

[2019-10-04 16:43] #12595 closed

[2019-10-04 17:03] #12564 closed

[2019-10-04 17:11] hanzei commented on #12589
Hey @Pensu, I'm sorry, it seams like @karanrn didn't noticed that you where working on this and opened a PR him/herself.

[2019-10-04 17:17] Pomyk commented on #12462
I will try to do this one.

[2019-10-04 17:43] Pensu commented on #12589
@hanzei Ah, ok, np. Hopefully people would be more careful sending PRs next time. :)

[2019-10-04 18:08] abdusabri commented on #12187
@esethna, while testing, i discovered an existing issue where images with a big height don't respect max height constraints

**Existing issue**
![image](https://user-images.githubusercontent.com/25670682/66229355-eecdb700-e6e1-11e9-89c4-b5f90f1b2742.png)

**Fix before container is added**
![image](https://user-images.githubusercontent.com/25670682/66229512-41a76e80-e6e2-11e9-95c3-368f3107f812.png)

[2019-10-04 19:02] lexusag commented on #11983
@amyblais @lieut-data Thanks

[2019-10-04 19:02] #11983 closed

[2019-10-04 19:09] esethna commented on #12187
Thanks for the catch @abdusabri, feel free to fix in this PR (with container added)

[2019-10-04 19:15] esethna commented on #12187
@abdusabri thanks for the excellent PRs recently, feel free to direct message me on our Community server if you are looking for new tickets, I'm sure we have many more that may be of interest!

https://community-daily.mattermost.com/core/channels/tickets

[2019-10-04 19:20] abdusabri commented on #12187
Thanks @esethna, my pleasure! 🙂

[2019-10-04 20:48] jespino commented on #11983
It depends, other related table would be the compliance one, if they are using compliance exports, they can find problems there, if not looks safe. Still certain data is going to end orphan, I can think in reactions or file attachments

[2019-10-04 21:33] M-ZubairAhmed commented on #12614
Hi, can i look into this ?

[2019-10-04 21:44] M-ZubairAhmed commented on #12456
Can i look into this one ?

[2019-10-04 21:57] asbillings07 commented on #12599
I'd like to try my hand at this one if it's still available.

[2019-10-04 23:06] JosephSamela commented on #12523
@sudheerDev Can you review this commit? [e72d15c](https://github.com/JosephSamela/mattermost-redux/commit/e72d15cdbe963f4bee354053cec270c6677c4667) it has the requested changes.

Also, there are tests in [`src/actions/general.test.js`](https://github.com/mattermost/mattermost-redux/blob/master/src/actions/general.test.js) that look for `.status` but since the functions are removed the associated t

[2019-10-05 03:46] roseline124 commented on #12466
I'm getting this!

[2019-10-05 04:10] heowc commented on #12452
I'll work on it!

[2019-10-05 04:54] RajatVaryani commented on #12393
Hi. Just want to clarify. So I have to add a plugin_api similar to work being done in https://mattermost.atlassian.net/browse/MM-14190%7Csmart-link. Just the difference is the source  from which the plugin is downloaded from, right?

[2019-10-05 06:01] #12591 closed

[2019-10-05 06:37] hanzei commented on #12462
Thanks @Pomyk :+1:

[2019-10-05 06:39] hanzei commented on #12520
Thanks @Saamiyah :+1:

[2019-10-05 06:40] hanzei commented on #12346
Sure, thanks @ChrisDobby :+1:

[2019-10-05 06:40] hanzei commented on #12343
Thanks for working on this @joshalling :+1:

[2019-10-05 06:41] hanzei commented on #12446
Sure, thanks @brewsterbhg

[2019-10-05 06:41] hanzei commented on #12473
Thanks you @KerryAlsace :tada:

[2019-10-05 06:42] hanzei commented on #12011
Good catch @Sheshagiri. Closing as duplicate of https://github.com/mattermost/mattermost-server/issues/11816

[2019-10-05 06:42] #12011 closed

[2019-10-05 06:43] hanzei commented on #12456
Sure, thanks @M-ZubairAhmed :+1:

[2019-10-05 07:22] Lumexralph commented on #12408
@mgdelacroix A [PR](https://github.com/mattermost/mattermost-server/pull/12627) is for this, any feedback will be appreciated.

[2019-10-05 08:02] AGMETEOR commented on #12468
I'll give this a try...

[2019-10-05 08:20] niklabh commented on #12055
Sorry previous PR got closed. Here is a new one with all the review comments fixes.

https://github.com/mattermost/mattermost-server/pull/12628

[2019-10-05 08:48] jozuenoon commented on #12013
Hm, seems like this was merged? PR: https://github.com/mattermost/mattermost-operator/pull/67 and issue https://github.com/mattermost/mattermost-server/issues/11814.

[2019-10-05 10:19] avasconcelos114 commented on #12617
I got a couple of questions regarding the icons that are going to be used at the bottom.

I initially started trying to fill up the icons at the bottom using `AwesomeIcon` (as I noticed other components around the mobile app using it) and it's looking a little like this:

<img width="397" alt="image" src="https://user-images.githubusercontent.com/29700158/66253468-b2628f80-e7a3-11e9-840e-efa564053

[2019-10-05 10:50] mattermod opened #12629 "Migrate tests from "model/user_access_token_search_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/user_access_token_search_test.go` file.

The expected way to migr

[2019-10-05 10:50] mattermod opened #12630 "Migrate tests from "model/file_info_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/file_info_test.go` file.

The expected way to migrate this is to

[2019-10-05 10:50] mattermod opened #12631 "Migrate tests from "model/session_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/session_test.go` file.

The expected way to migrate this is to go

[2019-10-05 10:50] mattermod opened #12632 "Migrate tests from "model/team_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/team_test.go` file.

The expected way to migrate this is to go to

[2019-10-05 10:50] mattermod opened #12633 "Migrate tests from "model/emoji_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/emoji_test.go` file.

The expected way to migrate this is to go t

[2019-10-05 10:50] mattermod opened #12634 "Migrate tests from "model/user_terms_of_Service_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/user_terms_of_Service_test.go` file.

The expected way to migrate

[2019-10-05 10:50] mattermod opened #12635 "Migrate tests from "model/cluster_info_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/cluster_info_test.go` file.

The expected way to migrate this is

[2019-10-05 10:50] mattermod opened #12636 "Migrate tests from "model/team_member_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/team_member_test.go` file.

The expected way to migrate this is t

[2019-10-05 10:50] mattermod opened #12637 "Migrate tests from "model/user_search_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/user_search_test.go` file.

The expected way to migrate this is t

[2019-10-05 10:50] mattermod opened #12638 "Migrate tests from "model/preference_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/preference_test.go` file.

The expected way to migrate this is to

[2019-10-05 11:02] MayMeow commented on #12638
can i take it?

[2019-10-05 11:40] kashifsoofi commented on #12637
Can I please take this

[2019-10-05 11:45] manland commented on #12634
I go for it!

[2019-10-05 12:12] jesperhansen17 commented on #12633
Can I take this one?

[2019-10-05 12:20] Pensu commented on #12636
I will like to work on this one, if it's still available.

[2019-10-05 12:22] heowc commented on #12635
I'll work on it!

[2019-10-05 12:44] pikami commented on #12632
I'm grabbing this.

[2019-10-05 12:57] steevsachs commented on #12442
Mind if I grab this one?

[2019-10-05 13:01] #12469 closed

[2019-10-05 13:22] dedifferentiator commented on #12630
I'll take this

[2019-10-05 13:43] simonfrey commented on #12629
Will work on this one

[2019-10-05 15:06] niklabh commented on #12624
Can i work on this?

[2019-10-05 18:19] steevsachs commented on #12461
Mind if I grab this?

[2019-10-05 19:07] hanzei commented on #12635
Thanks @heowc

[2019-10-05 19:08] hanzei commented on #12637
Sure, thanks @kashifsoofi

[2019-10-05 19:13] hanzei commented on #12638
Sure, thanks @MayMeow

[2019-10-05 19:14] hanzei commented on #12624
Sure, that would be awesome @niklabh :+1:

[2019-10-05 19:16] hanzei commented on #12461
Sure, thanks @steevsachs

[2019-10-05 19:17] hanzei commented on #12633
Surely @jesperhansen17

[2019-10-05 19:18] hanzei commented on #12468
Nice, thanks @AGMETEOR

[2019-10-05 19:43] rahulverma283 commented on #12573
Hi @sascha-andres . Are you still working on this one. If not, can I take this??

[2019-10-05 19:47] rv404674 commented on #12573
Hi @sascha-andres . Can I take it, if you are still not working on it.

[2019-10-05 21:03] dnguy078 commented on #12418
@hanzei could i get some 👀 on this before i continue further. had some questions around the channels_store.go test

[2019-10-05 22:39] Wicked7000 commented on #12619
Have started to have a look into this if that's all good

[2019-10-06 00:05] chuttam commented on #9986
I'd like this one, please.

[2019-10-06 06:18] hanzei commented on #12619
Sure, thanks for working on this @Wicked7000 :+1:

[2019-10-06 06:20] hanzei commented on #9986
Great! Thanks for working on this issue @chuttam :tada:

[2019-10-06 10:08] A-Hilaly commented on #12631
Hello, can i take this ?

[2019-10-06 11:52] AGMETEOR commented on #12460
@devinbinnie I'll be picking this one up.

[2019-10-06 12:08] Jondyr commented on #12600
Freeing this one up because of lack of time to look into it.

[2019-10-06 12:13] jasminexie commented on #12445
I'll do this

[2019-10-06 12:24] JeewhanR commented on #12440
Can I take it?

[2019-10-06 12:43] Pomyk commented on #12441
picking this up

[2019-10-06 13:01] #12335 closed

[2019-10-06 14:55] sascha-andres commented on #12573
Started on it

[2019-10-06 15:57] devinbinnie commented on #12460
Excellent! Thanks @AGMETEOR

[2019-10-06 16:05] AGMETEOR commented on #12444
@devinbinnie I will pick up this one...

[2019-10-06 16:08] devinbinnie commented on #12444
Thanks @AGMETEOR!

[2019-10-06 17:13] Wicked7000 commented on #12619
I've got basic functionality working (For inside mattermost atleast) however I had a few questions:
- What should happen if the user's copy selection goes over multiple posts?
   - Currently I do have a solution around this but it involves using a third party library called rangy that allows you to be able to get the currently selected nodes that a users selection spans over, that way I can get th

[2019-10-06 17:42] Djyp commented on #5072
The last comment from a member of the mattermost team is more than a year old.
Today I installed a fresh Mattermost server and almost decided to swtich to Rocket Chat because of this feature (and a few tiny others, like read-only channels, and the ordering in the sidebar).
Saying that other services do it is not an argument, it is as silly as any argument saying others are doing something. When yo

[2019-10-06 17:59] hanzei commented on #12441
Thanks for working on this @Pomyk :+1:

[2019-10-06 19:22] #12548 closed

[2019-10-06 19:35] hanzei commented on #12440
Sure :+1:

[2019-10-06 19:36] hanzei commented on #12631
Sorry @A-Hilaly this is already taken. Please look for a different ticket.

[2019-10-07 03:18] YannHulot commented on #12517
Can I take this one?

[2019-10-07 03:46] YannHulot commented on #12517
MR for this issue: https://github.com/mattermost/mattermost-redux/pull/939

[2019-10-07 05:20] josephk96 commented on #12299
I'm working on this PR :)

[2019-10-07 05:27] hanzei commented on #12517
Thanks @YannHulot :+1:

[2019-10-07 05:54] #12547 closed

[2019-10-07 07:40] cinlloc commented on #12381
I would like to give a try to this one.

[2019-10-07 07:55] hanzei commented on #12381
Thanks for working on this @cinlloc :+1:

[2019-10-07 10:18] lukeb2e commented on #11052
Can the related issue https://mattermost.atlassian.net/browse/MM-13050 also be made available to the public?

Seems that there is related information to the issue. See first comment.

[2019-10-07 10:24] hanzei commented on #11052
Unfortunately that is a security issue and can't be published. The given that it's resolved, I've removed the link to it.

[2019-10-07 10:36] hanzei commented on #12591
Hey @karanrn,

Please don't open PR for issue, that other people are working on. We indicate available tickets with the `Up for Grabs` label. If you want to work on a ticket, please open a short commend in the issue. This avoids multiple people working on the same issue. You can find available issues [here](https://github.com/mattermost/mattermost-server/labels/Up%20For%20Grabs).

[2019-10-07 10:52] chahat-arora commented on #12383
@amyblais Is there any other way to do this?

[2019-10-07 11:26] karanrn commented on #12591
Sure @hanzei, sorry for th inconvenience

[2019-10-07 11:53] hanzei opened #12656 "Help Wanted issues in plugin repositories"
The Mattermost GitHub organisation hosting a couple of Mattermost plugins. Some of them also offer Help Wanted issues. You can find a list of the repositories here:

- **Autolink Plugin** | [README](https://github.com/mattermost/mattermost-plugin-autolink/blob/master/README.md) | [HW issues](https://github.com/mattermost/mattermost-plugin-autolink/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22up+fo

[2019-10-07 11:55] hanzei commented on #11985
Replaced by https://github.com/mattermost/mattermost-server/issues/12656

[2019-10-07 11:56] #11985 closed

[2019-10-07 11:56] hanzei commented on #11984
Replaced by https://github.com/mattermost/mattermost-server/issues/12656

[2019-10-07 11:56] #11984 closed

[2019-10-07 11:57] hanzei commented on #12117
Replaced by https://github.com/mattermost/mattermost-server/issues/12656

[2019-10-07 11:57] #12117 closed

[2019-10-07 12:33] amyblais commented on #12383
Hi @chahat-arora, if you have a request to add functionality, you can share it on our feature request forum here: http://www.mattermost.org/feature-requests/. If you're interested in working on this, feel free to open a PR and link to it here.

[2019-10-07 13:15] mattermod opened #12657 "Change plugin helpers files to be golint complied"
Plugin helpers allow developers to use commonly used code pieces for there development. Because it’s basically a public library it should follow `golint` as the standard go convention.

Every file in the `plugin` package that starts with `helpers` should be `gotlint` formatted. This can be done without introducing breaking changes. There should also be a check added to the `check-style` makefile t

[2019-10-07 13:27] #12593 closed

[2019-10-07 13:31] RajatVaryani commented on #12393
Hi. Just want to clarify. So I have to add a plugin_api similar to work being done in https://mattermost.atlassian.net/browse/MM-14190. Just the difference is the source from which the plugin is downloaded from, right?

[2019-10-07 13:34] hanzei commented on #11910
Fixed with https://github.com/mattermost/mattermost-server/pull/11941

[2019-10-07 13:34] #11910 closed

[2019-10-07 13:45] mattermod opened #12658 "Validate server version in Helper methods"
Plugin helpers allow developers to use commonly used code pieces for there development. They are build on top of the plugin RPC API. Because of this they require the same minimum Mattermost server version as the used plugin API methods. E.g. `EnsureBot` uses `API.CreateBot` which was added in 5.10.

This ticket is about programmatically validating that these requirements are met. This can e.g. don

[2019-10-07 14:04] RajatVaryani commented on #12658
@hanzei Can I work on this?

[2019-10-07 14:05] wyze commented on #12439
I can tackle this one.

[2019-10-07 16:39] #12493 closed

[2019-10-07 17:10] ali-farooq0 commented on #10166
Opening it up to the community again due to inactivity on the PRs as it requires a little bit of more work to finish it off.

cc @hanzei

[2019-10-07 17:23] RajatVaryani commented on #12658
I have a doubt. I am not able to understand why this check is required. I will be adding the check in the server version greater than the minimum version for the helper method. Even if it's possible to upload a plugin in older version of the server then this code won't be available to ensure the server version. Please correct me if there is some gap in my understanding.

[2019-10-07 17:59] chahat-arora commented on #12103
Hey, sorry for the delay.
https://github.com/mattermost/mattermost-server/pull/12659/

[2019-10-07 18:28] devinbinnie commented on #12439
Great! Thanks @wyze!

[2019-10-07 18:39] rakhi2104 commented on #12621
I'm working on

[2019-10-07 18:54] hanzei commented on #12658
Keep in mind that the code in the helpers will be complied into the plugin, not the server. If your plugins uses a newer version of the helpers the checks will be there inside the plugin even tough the server might run an older version.

I hope this helps.

[2019-10-07 18:56] andresoro commented on #12657
I can work on this one 👍

[2019-10-07 20:38] hanzei commented on #12657
Thanks @andresoro

[2019-10-07 21:55] andresoro commented on #12657
So when adding the new makefile target, we should only lint the plugin/helper files correct?

[2019-10-07 22:15] hwang381 commented on #12522
May I take a look at this :)

[2019-10-07 22:57] JosephSamela commented on #12519
I'll take this one!

[2019-10-07 23:10] JosephSamela commented on #12519
|                                            | webapp | server | mobile |
|-------------------------------------|------------|----------|----------|
| createIncomingHook          |               |            |            |
| getIncomingHooks             |               |            |            |
| deleteIncomingHook          |               |            |            |
| updateIncomingHook

[2019-10-07 23:18] esethna commented on #11052
Closing this issue as there may be some UX issues with automatically sending messages, especially if there is a large queue of them. Will revisit this with the UX team and reopen when an appropriate solution is determined, perhaps auto-retrying within a specified time period only, then displaying the pending state if still unsuccessful.

[2019-10-07 23:18] #11052 closed

[2019-10-07 23:24] #8034 closed

[2019-10-07 23:29] #6299 closed

[2019-10-07 23:34] JosephSamela commented on #12519
I searched the `-mobile` and `-webapp` repositories with [this shell script](https://gist.github.com/JosephSamela/6f2f2efe62c10b897af115c466005843). Good news - many of these actions are in use! Here are the results:

| Action                  | webapp | mobile |
|-------------------------|--------|--------|
| createIncomingHook      |   ✔️   |   ❌   |
| getIncomingHooks        |   ✔️   |   ❌   |

[2019-10-07 23:45] mattermod opened #12662 "Show a tooltip on public or private channel names that get truncated"
If a public or private channel name is long enough to get truncated with ..., show a tooltip on hover with the full channel name, similar to Group Messages that get truncated. See example:

![image](https://user-images.githubusercontent.com/14333569/66356991-fb405280-e921-11e9-8dfa-3d18f6bc1aab.png)

Note: Channels that do not get truncated with ... should not show a tooltip on hover.

----
If you

[2019-10-08 00:24] abdusabri commented on #12662
I would like to take this one

[2019-10-08 00:30] JosephSamela commented on #12519
I searched the `-mobile` and `-webapp` repos for actions with [this shell script](https://gist.github.com/JosephSamela/6f2f2efe62c10b897af115c466005843). Most of this functions appear to be used. As for the `_REQUEST` `_SUCCESS` `_FAILURE` flags - none appear in either repo.

| Action                  | webapp | mobile |
|-------------------------|--------|--------|
| createIncomingHook      |   ✔

[2019-10-08 00:39] brewsterbhg commented on #12443
Hi, I'd like to pick this up if that's okay!

[2019-10-08 01:34] hanzei commented on #12662
Thanks @abdusabri

[2019-10-08 01:45] hanzei commented on #12657
That is correct

[2019-10-08 02:01] JosephSamela commented on #12471
I will take this one!

[2019-10-08 05:08] RajatVaryani commented on #12658
@hanzei So In `ensureServerVersion(version string)` there is going to be an rpc call to check the server version and if the server version is less than the minimum required version I should throw an error, right?

[2019-10-08 06:24] hanzei commented on #12658
Almost. You can use [`GetServerVersion()`](https://developers.mattermost.com/extend/plugins/server/reference/#API.GetServerVersion) to fetch the version.

[2019-10-08 06:27] hanzei commented on #12471
Thanks @JosephSamela :+1:

[2019-10-08 06:27] #12552 closed

[2019-10-08 06:56] hanzei commented on #12435
@xrav3nz Would you please leave a short comment in the issue before you start working on it? Thanks :+1:

[2019-10-08 06:59] xrav3nz commented on #12435
Sorry, will keep that in mind!

[2019-10-08 07:02] #12445 closed

[2019-10-08 07:02] #12598 closed

[2019-10-08 07:06] hanzei commented on #12375
Hey @SlavaBobik,

Do you have any questions?

[2019-10-08 07:06] hanzei commented on #12355
Hey @sowmiyamuthuraman,

How is your work going? Can we help with anything?

[2019-10-08 07:07] hanzei commented on #12491
Hey @dibyaaaaax,

Do you have any outstanding questions?

[2019-10-08 07:15] mattermod opened #12664 "Migrate tests from "services/filesstore/s3store_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `services/filesstore/s3store_test.go` file.

The expected way to migrate

[2019-10-08 07:15] mattermod opened #12665 "Migrate tests from "services/mailservice/mail_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `services/mailservice/mail_test.go` file.

The expected way to migrate t

[2019-10-08 07:15] mattermod opened #12666 "Migrate tests from "model/status_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/status_test.go` file.

The expected way to migrate this is to go

[2019-10-08 07:15] mattermod opened #12667 "Migrate tests from "model/config_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/config_test.go` file.

The expected way to migrate this is to go

[2019-10-08 07:15] mattermod opened #12668 "Migrate tests from "model/outgoing_webhook_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/outgoing_webhook_test.go` file.

The expected way to migrate this

[2019-10-08 07:15] mattermod opened #12669 "Migrate tests from "model/modeltestlib_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/modeltestlib_test.go` file.

The expected way to migrate this is

[2019-10-08 07:15] mattermod opened #12670 "Migrate tests from "model/post_list_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/post_list_test.go` file.

The expected way to migrate this is to

[2019-10-08 07:15] mattermod opened #12671 "Migrate tests from "model/channel_search_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/channel_search_test.go` file.

The expected way to migrate this i

[2019-10-08 07:15] mattermod opened #12672 "Migrate tests from "model/license_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/license_test.go` file.

The expected way to migrate this is to go

[2019-10-08 07:15] mattermod opened #12673 "Migrate tests from "model/user_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `model/user_test.go` file.

The expected way to migrate this is to go to

[2019-10-08 07:21] hanzei commented on #12097
Making this one available for the public again due to inactivity.

[2019-10-08 07:27] hanzei commented on #12617
@esethna Can you help with theses questions?

[2019-10-08 07:30] hanzei commented on #12010
@cpanato Could you please check?

[2019-10-08 07:34] HelioStrike commented on #12673
@mgdelacroix I'd like to take up this issue. After modifying the file, how do I compile the project?

[2019-10-08 07:36] hanzei commented on #12519
@sudheerDev Can you please take a look?

[2019-10-08 07:36] hanzei commented on #12522
Surely, thanks @hwang381 :+1:

[2019-10-08 07:38] mgdelacroix commented on #12673
Hi @HelioStrike. Sure thing, I'll assign you the issue, thanks for working on this! :tada:

To learn how to work with the codebase, check out the [Developer's Guide](https://developers.mattermost.com/contribute/getting-started/), specifically in this case the [Server Workflow section](https://developers.mattermost.com/contribute/server/developer-workflow/). There you'll be able to find how to run

[2019-10-08 07:39] aladhims commented on #12672
Hi can i work on this @mgdelacroix ?

[2019-10-08 07:39] iDevoid commented on #12666
Can I try to work on this? @mgdelacroix

[2019-10-08 07:39] aladhims commented on #12671
Hi can i work on this as well @mgdelacroix ?

[2019-10-08 07:40] mgdelacroix commented on #12672
Sure thing @aladhims! :sparkles:

[2019-10-08 07:40] mgdelacroix commented on #12666
Hi @iDevoid! Sure, I'll assign you the issue, thanks for working on this! :confetti_ball:

[2019-10-08 07:40] iDevoid commented on #12670
Can I try to work on this? @mgdelacroix

[2019-10-08 07:41] mgdelacroix commented on #12670
Sure thing @iDevoid!

[2019-10-08 07:42] aladhims commented on #12669
Hi can i also try to work on this one as well?

[2019-10-08 07:42] mgdelacroix commented on #12671
Sure @aladhims!

[2019-10-08 07:42] sowmiyamuthuraman commented on #12355
yeah! I am working on it. I need some help regarding when to use ```getDerivedStateFromProps``` and ```componentDidMount``` lifecycle methods.

[2019-10-08 07:43] RajatVaryani commented on #12658
Thanks. Out of curiosity what happens when the server version is less than 5.4 which is the version when `GetServerVersion()` was introduced.

[2019-10-08 07:43] mgdelacroix commented on #12669
Great, thanks!

[2019-10-08 07:44] iDevoid commented on #12668
Can I try to work on this too? It seems the same as before :thinking:

[2019-10-08 07:45] hanzei commented on #12315
@deanwhillier Are you fine with moving this to the desktop repo?

[2019-10-08 07:48] iDevoid commented on #12668
Can I try to work on this too, sir @mgdelacroix ?

[2019-10-08 07:49] hanzei commented on #12658
The plugin system was introduced in 5.2. Hence the minimum non trivial requirement for a plugin can be 5.4. We should not check the requirement if it's less then 5.4

[2019-10-08 07:49] hanzei commented on #12355
Would you mind posing your question here so we can help?

[2019-10-08 07:50] YannHulot commented on #12667
Can I take this one?

[2019-10-08 07:54] hanzei commented on #10069
Replaces by https://github.com/mattermost/mattermost-server/issues/12656

[2019-10-08 07:54] #10069 closed

[2019-10-08 07:57] #12325 closed

[2019-10-08 08:05] RajatVaryani commented on #12658
@hanzei I have raised a draft PR. I need to discuss few things as well. So it would be great if you can review it.

[2019-10-08 08:51] isacikgoz commented on #12664
I can take this one.

[2019-10-08 08:57] cpanato commented on #12664
thanks @isacikgoz 🎉

[2019-10-08 09:13] MexHigh commented on #4729
Is there any progress with this issue? I've been running Mattermost as a simple chat- and filetransfer server for quite a while now but nobody is using it because they don't have to reconfigure default notification settings in Telegram to not get spammed, so we're stuck with it, because people are lazy.

[2019-10-08 09:45] cpanato commented on #12010
thanks @Sheshagiri it is duplicated

[2019-10-08 09:45] #12010 closed

[2019-10-08 10:14] imavroukakis commented on #12665
👋 would love to pick this up

[2019-10-08 10:17] hanzei commented on #12665
Thanks @imavroukakis :+1:

[2019-10-08 10:44] devinbinnie commented on #12443
Absolutely!

[2019-10-08 11:53] kuchcakova commented on #10786
Hi, I'd like to take up this issue.

[2019-10-08 11:57] SlavaBobik commented on #12375
@hanzei Hi, sorry for late response, I have a couple of questions:
- Could you please show me example of plugin with all available hooks, which I should implement in NOP plugin?

[2019-10-08 12:11] kuchcakova commented on #12097
Hi, can I take this issue ?

[2019-10-08 12:13] cpanato commented on #12097
@kuchcakova yes! thanks

[2019-10-08 12:32] rfoyard commented on #10702
I'd like to take up this issue.

[2019-10-08 12:35] jasonblais commented on #10702
Great, thanks @rfoyard! :tada:

[2019-10-08 13:54] proishan11 commented on #11627
@lieut-data Can I work on this?

[2019-10-08 14:22] #12565 closed

[2019-10-08 14:23] rfoyard commented on #10702
The `IsValidUsername` function is called in multiple places where an `App` object is available so we could add a configuration parameter to the function.

But It's also called by `CleanUsername`, used in `GitLabProvider.GetUserFromJson`. In order to pass the new parameter we would need to change the `OauthProvider` interface. Wouldn't this introduce a breaking change (is it used by external plugin

[2019-10-08 14:49] #12478 closed

[2019-10-08 15:00] valentijnnieman commented on #12313
I'd love to pick this up if that's OK!

[2019-10-08 15:01] anchepiece commented on #12436
Hi :wave: thanks mattermost team for open sourcing such a great project.
I'd like to attempt this one.

[2019-10-08 16:19] jasonblais commented on #10702
@hmhealey You might be the best person to help with the above questions?

[2019-10-08 18:04] sudheerDev commented on #12523
@JosephSamela Sorry for the delay on this but overall looks good to me.

Couple of things are i noticed are
1. You can remove these request state dispatches from the actions itself as we dont need them
2. After 1. you wouldn't need the constant as well so you can remove that too.

Ya probably went a little too far there. The initial tests revolved around status flags only but it should have been a

[2019-10-08 18:46] atulya-pandey commented on #12521
Can I work on this?

[2019-10-08 18:55] letsila commented on #10788
I'd love to work on this one.

[2019-10-08 19:46] jespino commented on #12436
Great :tada:

[2019-10-08 20:09] andrewbrown00 commented on #12617
@avasconcelos114 stoked about this feature!

For now, will you add the **[Material Design Icon](http://materialdesignicons.com/)** font to the resources.

**Screen shots for reference**
![image](https://user-images.githubusercontent.com/48559658/66428935-001a0a80-e9e5-11e9-9b96-d53a5b4506a9.png)
![image](https://user-images.githubusercontent.com/48559658/66428042-466e6a00-e9e3-11e9-8a2a-be860d2403

[2019-10-08 20:55] YannHulot commented on #12667
MR for this issue: https://github.com/mattermost/mattermost-server/pull/12688

[2019-10-08 20:59] devinbinnie commented on #12472
@Mrigank11 is working on this one.

[2019-10-08 22:09] #12013 closed

[2019-10-09 00:59] brewsterbhg commented on #12449
Hi! If you don't mind, I'd like to pick this up!

[2019-10-09 01:45] QamarFarooq commented on #12451
I will take this

[2019-10-09 01:55] #11948 closed

[2019-10-09 04:41] iDevoid commented on #12668
Hi team,
I have a question about this,
let's say the `DisplayName` is "" / empty string, is it valid or not? because it doesn't have test case about it.. which means the system is checking the minimum length from front-end?
and I only know that the logic only checks the max length
[code]

[2019-10-09 05:40] Saamiyah commented on #12453
Hello, I'm taking this.

[2019-10-09 06:29] avasconcelos114 commented on #12617
Ah my mistake, I hadn't realized the project also used material icons

Thank you for the helpful links and icon names! :)

[2019-10-09 07:02] bk138 opened #12694 "Firefox 60.9.0esr does not display who else reacted with an emoji"
#### Summary
Firefox 60.9.0esr on Debian Buster does not display who else reacted with an emoji.

It _does_ work with Firefox 69.0.2 on MacOS.

#### Steps to reproduce
Use Firefox 60.9.0esr to connect to Mattermost 5.14.2, let someone else react to a message with an emoji, hover over the shown emoji.

#### Expected behavior
Popover appears, showing which team member(s) reacted.

#### Observed beha

[2019-10-09 08:25] rfoyard commented on #12377
Hi @hanzei, I'd like to work on this.

[2019-10-09 10:04] giser-tech opened #12695 "Error 1044, when server started (using make run-server)"
[code]

[2019-10-09 10:27] YannHulot commented on #12457
Can I take this one?

[2019-10-09 12:48] karlmarxlopez commented on #12454
Can I also take this? @devinbinnie

[2019-10-09 13:20] mattermod opened #12696 "Plugin API: getPosts method"
Introduce a GetPosts method to the base plugin API. This should serve as the basis for all bulk queries of Posts.
[code]
We may later build plugin helpers upon this RPC method to streamline certain kinds of queries, e.g. get all posts by a user, get all posts in a channel and so on.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://communit

[2019-10-09 13:37] devinbinnie commented on #12451
Great, thanks @QamarFarooq!

[2019-10-09 13:39] devinbinnie commented on #12457
You definitely can! Thanks @YannHulot!

[2019-10-09 13:39] devinbinnie commented on #12453
Great, thanks @Saamiyah!

[2019-10-09 13:45] mattermod opened #12699 "Allow searching for files through plugin API"
Doesn't look like we expose an api to allow searching for files programmatically.  As per discussion
[https://community.mattermost.com/core/pl/7rxgk5rajtb67p161uw38xmw6o](https://community.mattermost.com/core/pl/7rxgk5rajtb67p161uw38xmw6o) and
[https://community.mattermost.com/core/pl/qoxcxnmurff9mkfx98gct4ct5e.](https://community.mattermost.com/core/pl/qoxcxnmurff9mkfx98gct4ct5e.) It makes sense