[2018-10-30 15:15] btotharye commented on #9639
work has been a bit crazy again so going to remove myself for now so someone else can take it if they don't I'll do it in a week or so.

Sorry.

[2018-10-30 15:23] jasonblais commented on #9639
No worries @btotharye! Thanks for the heads up.

[2018-10-30 17:31] esethna opened #9761 "[Help Wanted] [MM-12861] Improve sorting of emoji in emoji autocomplete and emoji picker search results"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 17:49] waseem18 commented on #9542
So I'm gonna do this in this way,

Will get the absolute path of the file (assuming `demo.json`) to which the data will be exported to. At this file location will create a folder named `exported_emoji` to where I'll copy the images from `data/emoji<ImageID>`. And the emoji content in `demo.json` will reference images from the newly created folder `exported_emoji`.

Made some progress with this app

[2018-10-30 18:01] grundleborg commented on #9542
I think this makes sense.

[2018-10-30 18:27] #8992 closed, assigned to nobody

[2018-10-30 18:30] esethna opened #9762 "Migrate to Flow file src/actions/websocket.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:34] #9523 closed

[2018-10-30 18:35] #9533 closed

[2018-10-30 18:36] grundleborg commented on #9538
Hi @dos1701 , just wondering how you are getting on with this ticket? Do let me know here (or on pre-release) if you have any questions I can help with.

[2018-10-30 18:37] #9540 closed

[2018-10-30 18:39] esethna opened #9763 "[Help Wanted] [MM-12461] [Bulk Export] Include the per-channel NotifyProps for Users in Bulk Export"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:39] esethna opened #9764 "[Help Wanted] [MM-12365] Create CLI command "team rename""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:39] esethna opened #9765 "[Help Wanted] [MM-12359] Create CLI command "command show""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:39] #9561 closed

[2018-10-30 18:39] #9559 closed

[2018-10-30 18:40] #9563 closed

[2018-10-30 18:41] #9572 closed

[2018-10-30 18:44] #9571 closed

[2018-10-30 18:44] esethna opened #9766 "[Help Wanted] [MM-11048] Migrate to Flow file src/actions/channels.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:44] esethna opened #9767 "[Help Wanted] [MM-12370] Create CLI command "webhook delete""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:44] esethna opened #9768 "[Help Wanted] [MM-12369] Create CLI command "webhook create-outgoing""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:44] esethna opened #9769 "Create CLI command `webhook webhook move-outgoing`"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:46] #9570 closed

[2018-10-30 18:49] esethna opened #9770 "[Help Wanted] [MM-11047] Migrate to Flow file src/actions/errors.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 18:54] esethna opened #9771 "[Help Wanted] [MM-11046] Migrate to Flow file src/actions/posts.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-10-30 19:29] dos1701 commented on #9538
Hi @grundleborg so sorry about the delay, I'm finishing writing the tests.
Maybe I'll push the pull request anyway for review because I honestly thing I overcomplicated things.
Or should I write my proposal somewhere else?

[2018-10-30 20:22] gupsho commented on #9763
I can take this.

[2018-10-30 20:59] chrux commented on #9771
I'm taking this! Please if some else already did it let me know

[2018-10-30 22:02] amyblais commented on #9771
Thank you @chrux! Let us know if you have any questions about how to get started.

[2018-10-31 00:40] vincealdrin commented on #9764
I'd like to take a shot on this!

[2018-10-31 02:18] joshuabezaleel commented on #9765
This is going to be my first time but can I have a try on this?

[2018-10-31 03:08] amorriscode commented on #9770
Hey @esethna! I'll take this one on. 👍

[2018-10-31 07:09] patniharshit commented on #9767
Hi, a first-time contributor here. I would like to take a go at this.

[2018-10-31 07:57] cpanato commented on #9765
@joshuabezaleel sure thing go for it!! Any question please dont hesitate to let is know. Thanks!!

[2018-10-31 08:47] grundleborg commented on #9764
That's great @vincealdrin . If you have an questions at all, you can post them here, or contact us on the pre-release server mentioned in the ticket description.

[2018-10-31 08:49] grundleborg commented on #9767
That's great @patniharshit . Let us know here (or on the community Mattermost server linked in the ticket description) if you have any questions at all. Good luck :)

[2018-10-31 08:50] grundleborg commented on #9770
Awesome, thanks @amorriscode . If you have any questions at all, let us know here, or on the community Mattermost server linked in the ticket description.

[2018-10-31 12:29] falcon78921 commented on #9769
I'm new to Go, but I'd love to take this on.

[2018-10-31 12:47] amyblais commented on #9769
Thank you @falcon78921!

[2018-10-31 13:29] #9611 closed

[2018-10-31 13:38] amyblais commented on #9727
Hi @Charliekenney23, checking in on if you had a chance to take a look at this Issue? Feel free to also let me know if you didn't have a chance to look at it and I can also open a ticket for us to look at it internally.

[2018-10-31 14:58] chrux commented on #9771
@amyblais done! pls check it out https://github.com/mattermost/mattermost-redux/pull/694

[2018-10-31 15:01] chrux commented on #9766
I'm taking this!

[2018-10-31 15:45] Charliekenney23 commented on #9727
@amyblais Sorry, I got caught up with something. I can definitely look into this tonight.

[2018-10-31 16:13] amyblais commented on #9727
@Charliekenney23 No worries!

[2018-10-31 16:26] chrux commented on #9766
Here it is the PR https://github.com/mattermost/mattermost-redux/pull/695

[2018-10-31 16:29] torlenor commented on #7721
So basically we would not have to change the API at all for the moment and can use the existing call as it is.

@scuq and me played a bit with the idle detection and it seems without a native module it is not possible, yet, but the module provided in the git repo above would work in general (at least in our small test project with a little bit of fiddling).

Another option seems to be available wi

[2018-10-31 16:38] chrux commented on #9762
I'm taking this!

[2018-10-31 17:44] grundleborg commented on #9538
No worries @dos1701 . You can push a "WIP" pull request if you just want to get feedback on something incomplete, or otherwise you can post questions here or in the pre-release mattermost server.

[2018-10-31 20:24] hmhealey commented on #7721
@torlenor Using something built into Electron like that would actually be ideal since we wouldn't need to bother with a native module at all. We're going to upgrade to Electron 3 at some point, but if that makes this feature much easier to implement, we could prioritize upgrading Electron higher

[2018-10-31 22:42] KerryAlsace commented on #9768
I can take a shot at this

[2018-10-31 23:00] amyblais commented on #9768
Thank you @KerryAlsace!

[2018-11-01 02:43] lieut-data commented on #8526
https://mattermost.atlassian.net/browse/MM-9828 was resolved back in April, but it looks like we didn't close this issue. Sorry for the churn, @amorriscode, and thanks for your help in verifying that there's nothing else to do here :)

[2018-11-01 02:43] #8526 closed

[2018-11-01 04:55] zeroimpl opened #9781 "Searches using LIKE queries are not optimized properly for Postgres"
#### Summary
Some database queries use the LIKE clause to perform a prefix match, but the database indexes were not setup properly and so do not get used, resulting in poor performance.

#### Details
Database queries in Postgres which use the LIKE clause for prefix matching are able to use a B-Tree index, but only if the index is sorted correctly. The normal way to accomplish this is to add the "t

[2018-11-01 09:01] MrSorcus opened #9783 "Content decoding failed."
#### Summary
Desktop Mattermost doesn't work if all responses compressed with brotli.

#### Steps to reproduce
Mattermost-Desktop Version: 4.1.2

Enable brotli in the nginx config.
[code]

Try connect to server from mattermost-desktop.

#### Expected behavior
Mattermost-Desktop must works correctly with brotli compressed responses.

#### Observed behavior (that appears unintentional)
[code]

[2018-11-01 11:29] jasonblais commented on #9639
Thanks @knrt10!

[2018-11-01 11:40] sudheerDev commented on #9500
@esethna FYI: There is a merged PR for this ticket.

[2018-11-01 12:12] amyblais commented on #9761
@jasonblais ^

[2018-11-01 12:29] jasonblais commented on #9761
@amorriscode Good question. We won't be adding a new section for recently used emoji - we'll simply change the order of emojis so that recently used ones appear first.

Let me know if I can help clarify that? Big thanks for helping with this help wanted ticket :)

[2018-11-01 13:18] amyblais commented on #9783
Thank you @MrSorcus,

We used to have a ticket to add support for brotli, but the ticket was closed since we now have webpack (see the comments at the bottom of the ticket): https://mattermost.atlassian.net/browse/MM-3880.

Would you be able to try with webpack? Or if you want to brotli, can you help submit a feature request here: https://mattermost.uservoice.com/forums/306457-general.

[2018-11-01 18:31] amyblais commented on #9781
@zeroimpl Thanks for the PR!

[2018-11-01 18:34] amyblais commented on #9648
Hi @fincha , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-11-01 18:34] #9648 closed

[2018-11-01 21:01] hmhealey commented on #9747
Hi @MrSorcus,

Are you seeing any other side effects from this that may help us diagnose the problem? Does the rest of the UI still load correctly even if it fails to load the posts? Are there any errors in the the JavaScript console on the browser?

[2018-11-01 23:04] amyblais commented on #9532
@xcompass Letting you know that the Jira ticket (https://mattermost.atlassian.net/browse/MM-12541) was resolved and tested internally, and the fix will be available in v5.5 release (to be released on November 16th).

[2018-11-01 23:04] #9532 closed

[2018-11-02 06:45] vpecinka opened #9788 "SQL error when moving channel without users"
#### Summary
When moving channel without members from one team to another I got an SQL error:

#### Steps to reproduce
Have and channel with no member and try it move e.g. like this
[code]

#### Expected behavior
It should pass as it is valid having no-member channels (system admin still can add members later).

#### Observed behavior (that appears unintentional)
I got this error:
[code]

[2018-11-02 10:56] grundleborg commented on #9596
Hey @mukulrawat1986 - just wondering if you are still working on this ticket?

[2018-11-02 10:59] mukulrawat1986 commented on #9596
@grundleborg I am. Just a bit under weather, I will make a PR by the weekend. Or do you want me to hurry it up?

[2018-11-02 11:01] swood commented on #9746
Thank you for this advice. It was helpful.

[2018-11-02 11:04] grundleborg commented on #9596
No need to hurry! Take your time. I was just checking up on this ticket, that's all. Hope you feel better soon :)

[2018-11-02 11:12] swood opened #9789 "Mattermost and Let's encrypt"
Hello.

I'm trying to setup let's encrypt in mattermost with docker.
I have the next configuration:

`        "SiteURL": "https://my-domain.com",  `
`        "WebsocketURL": "", `
`        "LicenseFileLocation": "", `
`        "ListenAddress": ":443", `
`        "ConnectionSecurity": "TLS", `
`        "TLSCertFile": "", `
`        "TLSKeyFile": "", `
`        "UseLetsEncrypt": true, `
`       "Let

[2018-11-02 11:34] #9624 closed

[2018-11-02 11:34] #9623 closed

[2018-11-02 12:15] #8497 closed

[2018-11-02 13:30] #9485 closed

[2018-11-02 14:36] amyblais commented on #9789
Hi @swood, can you re-open this Issue in the Docker repo [here](https://github.com/mattermost/mattermost-docker/issues) and the community member who runs it will be able to help with any docker related problems. Thank you!

[2018-11-02 14:55] swood commented on #9789
I've solved my problem. Sorry, it was my mistake.

[2018-11-02 14:55] #9789 closed

[2018-11-02 17:39] #9768 closed

[2018-11-03 11:32] pradeepmurugesan commented on #7494
I would take this one, if its still valid

[2018-11-03 13:09] waseem18 commented on #9541
Update : I'm looking into this issue and got stuck at a point and have posted a question on pre-release. Here's the perma-link : https://pre-release.mattermost.com/core/pl/ww98dcat838qucq4bioaudwfor

[2018-11-03 13:50] sokoow opened #9791 "x-version-id headers containing version of the running product - is this really neccessary ?"
https://github.com/mattermost/mattermost-server/blob/1ee872578c734956acc7f5e4168638de244c3ce2/model/client4.go#L21

So seems like mattermost discloses its version in headers - not a very good practice. Let's assume that you had a critical flaw, some users fail to upgrade, and you're disclosing the version, and you know who/what to attack. Can this be removed or made optional please ?

[2018-11-03 16:17] SmartHoneybee commented on #9791
Hi,

if you don't like it, just hide it, e.g., with `nginx`'s [`proxy_hide_header`](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_hide_header)

Regards,
Bee

[2018-11-03 18:04] jasonblais commented on #9621
@vaithak Good question - I've posted it to our public Developer Toolkit channel to our plugin developers here https://pre-release.mattermost.com/core/pl/r74goy6kciykbjh8kio3nznkpa

[2018-11-03 18:30] jasonblais commented on #7494
That would be great! It is still open.

Thank you @pradeepmurugesan 🎉

[2018-11-03 19:29] zeroimpl commented on #8879
This appears to have already been resolved via duplicate issue MM-10605. See https://github.com/mattermost/mattermost-api-reference/pull/368.

[2018-11-04 00:56] jasonblais commented on #8879
Good catch @zeroimpl - closing.

[2018-11-04 00:56] #8879 closed

[2018-11-04 00:58] jasonblais commented on #9621
Hey @vaithak - it should be similiar to the API call here: https://github.com/mattermost/mattermost-server/blob/master/api4/file.go#L146

[2018-11-04 11:04] swood opened #9794 "uploadFile: File above maximum dimensions could not be uploaded"
Hello.

The mattermost is:

Version: 5.4.0
Build Number: 5.4.0
Build Date: Tue Oct 16 16:48:28 UTC 2018
Build Hash: d5b613cb1bbdaa856fa126e7102d94783b9e80b6
Build Enterprise Ready: false
DB Version: 5.4.0

I have a question with bulk inserting history. The image  is:
`PNG image data, 4320 x 8880, 8-bit/color RGBA, non-interlaced`

And I have the maximum size of images in config:
`"MaxFileSize": 26

[2018-11-04 20:11] palash25 commented on #9767
Hi there, I don't see any progress on this issue if the original assignee is not working on this anymore I would like to take it up :smile:

[2018-11-05 00:46] jasonblais commented on #9763
Thanks @gupsho for the contribution 🎉

[2018-11-05 00:46] #9763 closed

[2018-11-05 05:11] zeroimpl commented on #9081
I'll take a look at this.

Note it seems that logrus always escapes newlines as \n (eg see https://github.com/sirupsen/logrus/issues/608). In this case, is it still worth integrating with logrus?

[2018-11-05 09:20] cpanato commented on #9621
you can refactor the code into the app and reuse in both api/plugin calls

[2018-11-05 10:02] grundleborg commented on #9767
Hi @palash25 - this issue hasn't been assigned very long, so I think it would be best to give @patniharshit some time to work on it. Perhaps you would like to take a look at a different issue? We have many that are still available - you can see a list here: https://github.com/mattermost/mattermost-server/issues?q=is%3Aissue+is%3Aopen+label%3A%22Up+For+Grabs%22

[2018-11-05 10:04] grundleborg commented on #9541
This is for the *per-team* theme setting, where users can have a different theme for each team. The other ticket should just be exporting the user's default (system-wide) theme preference.

[2018-11-05 13:10] amyblais commented on #9081
Pinging @lieut-data on the question above ^

[2018-11-05 13:18] #9539 closed

[2018-11-05 13:29] swood opened #9795 "Mark all messages read after bulk import"
Hello.

I have done massive import to Mattermost, and each client should download all imported messages and after that have to mark the all old messages as read.
I'm wondering, maybe there is a way to mark all imported messages as read? Before clients has been connected to server.

[2018-11-05 13:29] #9737 closed

[2018-11-05 13:54] #9620 closed

[2018-11-05 13:55] #9612 closed

[2018-11-05 14:39] lieut-data commented on #9081
@zeroimpl, I think it would depend on the design, but it might still be useful to leverage logrus after exploding the incoming lines if only to get formatting and colorization. The proposal here is 100% meant for human consumption, so lots of flexibility.

[2018-11-05 14:50] hanzei commented on #9791
There are many ways to determinate the server version e.g. changes in the API. Hiding the header does not enchant the security. See also https://en.wikipedia.org/wiki/Kerckhoffs%27s_principle.

[2018-11-05 15:13] vpecinka opened #9796 "Sometimes creating channel ends up with an error"
#### Summary
Sometimes creating private channel or multiparty direct message ends up with no associated members in the database.

#### Steps to reproduce
Using MM 5.4.0 It cannot be reproduced easily, as it happens sometimes. However, there are 2 repeated scenarios:

1. Channel already exists error: when creating new private channel (of no such name in the database), enter the name and display nam

[2018-11-05 15:21] mbuchner commented on #7721
Did something similar but with angular6 and electron3x - powermonitor seems to work pretty good:

`
import { ipcRenderer, webFrame, remote } from 'electron';
...

@Injectable()
export class ElectronService implements OnInit, OnDestroy {
...
  private _idleTime = new Subject<number>();
  idleTime$ = this._idleTime.asObservable();
...
constructor(settingsService: SettingsService) {
      const elect

[2018-11-05 15:40] amyblais commented on #9796
Hi @vpecinka,

For Issue 1, is there another existing channel that has the same name as the channel you're trying to create (including archived channels)? Also, just to confirm, are you using Advanced Permissions: https://docs.mattermost.com/deployment/advanced-permissions.html (perhaps you're seeing the error if there's permissions restrictions)?

For Issue 2, this seems expected - the other user

[2018-11-05 15:50] amyblais commented on #8874
Hi @sokoow, I'll check with our product managers on this.

[2018-11-05 16:01] vpecinka commented on #9796
Ad 1 - no, there is no such a channel... would it be, the new one (with no members) could not be created as it would violate uniq key/index in table `Channels`. It really seems like the channels is (sometimes) created when I submit  the form for new channel, some race condition is met, the creation process fails (but database record is created), it tries again and got error that such a channel exi

[2018-11-05 16:08] #9497 closed

[2018-11-05 16:13] amyblais commented on #9746
The doc PR has been merged,

[2018-11-05 16:13] #9746 closed

[2018-11-05 16:16] amyblais commented on #9719
Hi @akomakom , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-11-05 16:18] amyblais commented on #9726
Hi @Tragen, thank you for opening a feature request ticket for this - I'll close this Issue for now as it can be followed via Uservoice.

[2018-11-05 16:18] #9726 closed

[2018-11-05 16:22] akomakom commented on #9719
@amyblais the issue is neither fixed nor invalid, but as you said, there isn't a solution.

Neither of the items you mentioned in your previous reply are relevant to the context of this question, since they are not honored in webhook or slash command requests.

[2018-11-05 17:37] amyblais commented on #9794
Hi @swood, do you see any errors in logs? Also, do you see this on a specific device and browser?

[2018-11-05 17:40] amyblais commented on #9791
Hi all, we just opened a ticket to fix this - we'll give you an update when a fix is in.

[2018-11-05 17:41] MrSorcus commented on #9783
How can i do that? And how that help to resolve issue?
Because chromium and derivatives supports `brotli` from 50 version.
Mattermost desktop uses electron that based on chromium engine.
And i thought that him must work with brotli from box.

[2018-11-05 18:32] amyblais commented on #9783
Hi @MrSorcus,

Thank you for the details - would you be able to reopen this Issue on our desktop app repo here: https://github.com/mattermost/desktop/issues.

Our developer who runs the desktop app might have more details on whether we support brotli or if this would be a feature request.

[2018-11-05 18:37] amyblais commented on #9788
@hmhealey Would you be able to help test this out? (pinging you as the dev on support rotation for this week)

[2018-11-05 18:39] MrSorcus commented on #9783
Must i close this issue?

[2018-11-05 18:40] amyblais commented on #9795
Hi @swood, would the "mark_unread" field in the "ChannelNotifyProps object" be what you're looking for: https://docs.mattermost.com/deployment/bulk-loading.html#fields-of-the-channelnotifyprops-object?

[2018-11-05 18:49] swood commented on #9795
I'll try "mention" and come back if it doesn't help.

[2018-11-05 18:50] swood commented on #9794
Unfortunately, I can see only this error message when I bulk import users history to mattermost via:
`./mattermost import bulk history.jsonl --apply`

[2018-11-06 06:06] gupsho commented on #6798
Still working on this. Should have a PR out sometime this week.

[2018-11-06 09:57] waseem18 commented on #9399
@claytonlemons Are you still working on this? If not I would like to take this up.

[2018-11-06 12:57] it33 opened #9803 "Selecting text in channel and selecting "Print" doesn't work in web app"
#### Summary
Selecting text in channel and selecting "Print" doesn't work in web app

#### Steps to reproduce
1. In Chrome on Windows 10 select text in channel, then right click and select "Print".

![image](https://user-images.githubusercontent.com/177788/48065674-366d5b00-e180-11e8-962e-c9a95657b9c8.png)

#### Expected behavior
Text selected can be printed

#### Observed behavior (that appears u

[2018-11-06 13:17] amyblais commented on #9757
### v5.5 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.5.0-rc1/mattermost-team-5.5.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4def555e36df61d7e3fec894c9f3ef4356e46768/source/administration/changelog.md)

[2018-11-06 15:13] patniharshit commented on #9767
@esethna and @grundleborg pull request is up for review.

[2018-11-06 15:42] esethna opened #9805 "Allow in-line markdown images to open preview window"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-06 15:58] esethna opened #9807 "[Help Wanted] [MM-12795] Remove "@" for full name display in push notifications"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-06 16:03] esethna opened #9808 "[Help Wanted] [MM-12354] React Native: Add ability to remove profile picture"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-06 16:30] amyblais commented on #8874
Hi @sokoow, I was told that we'll investigate the possibility of removing bootstrap altogether. The investigation is queued for later this month.

[2018-11-06 16:52] amyblais commented on #9023
A fix for this issue was submitted for v5.4 release to notify users when their desktop/browser sessions expire: https://mattermost.atlassian.net/browse/MM-12205.

[2018-11-06 16:52] #9023 closed

[2018-11-06 16:55] amyblais commented on #9493
Closing this as this can be tracked via the Help Wanted Issue that is open here: https://github.com/mattermost/mattermost-server/issues/9156.

[2018-11-06 16:55] #9493 closed

[2018-11-06 18:13] amyblais commented on #9614
Hi @jelmd, following up on whether it looks like upgrading to v5.4 might fix the problem?

[2018-11-06 18:14] amyblais commented on #9803
Thank you @it33,

I wasn't able to reproduce this just now, but I'll continue to test this out today.

[2018-11-06 19:31] amyblais commented on #9747
Hi @MrSorcus,

I found a similar Issue that was reported earlier: https://github.com/mattermost/mattermost-server/issues/7403 - can you help check if the tips from `prixone` are useful throughout the thread?

[2018-11-06 19:53] amyblais commented on #9794
Hi @swood, can you help post the JSON formatting you used to import the image?

[2018-11-06 20:06] amyblais commented on #9613
Hi @jelmd, let me know if you've had a chance to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) for further discussion and voting!

[2018-11-06 20:48] lieut-data commented on #9781
Hey @zeroimpl! I've asked @crspeller and @jespino to take a look here :)

[2018-11-07 03:44] vaithak commented on #9621
@jasonblais @cpanato  Should the signature of API call be that in api4/file.go or the one mentioned in the issue description above ?

[2018-11-07 06:11] vpecinka opened #9810 "Server crash on inaccessible zoom.us server"
#### Summary
When mattermost server cannot access internet directly, an attempt to connect to the zoom.us server (from the zoom plugin) crashes the server.

#### Steps to reproduce

Having Mattermost 5.4.0 with Zoom plugin enabled and running. Use default endpoints, setup key, secret and token.

1. Deploy mattermost on a server without direct access to the internet, no http/https proxy usage
2. Cl

[2018-11-07 08:51] sizvix opened #9811 "html class for new alone post"
New alone post has the same class "other--root" than response for an other thread.
I would like to make a ( little ) different style for alone messages which no-one has respond , but there isn't special class for those posts ...

[2018-11-07 09:51] sokoow commented on #9791
@hanzei I don't disagree, but your approach will require effort and won't just return a product version in first response to login page - that will filter out 90% of attackers out there. I'm a believer of doing something like in nginx - want to disclose a product version - here's a clear flag for that, otherwise you need to use a tool that checks timing and correlations of this and that to figure

[2018-11-07 12:17] dmitrysdm opened #9812 "Several options of message functional is gone"
On several PC faced with limited functional:
![photo_2018-11-07_15-06-39](https://user-images.githubusercontent.com/15671363/48130774-cb667600-e29e-11e8-82ea-1242e6a3f153.jpg)
but it should be like this:
![photo_2018-11-07_15-06-15](https://user-images.githubusercontent.com/15671363/48130777-cef9fd00-e29e-11e8-991a-67a529866aed.jpg)

No matter what user logged. It occurs only on desktop and web ve

[2018-11-07 13:48] #9812 closed

[2018-11-07 14:08] cpanato commented on #9621
@vaithak you define the new api for the plugin here: https://github.com/mattermost/mattermost-server/blob/master/plugin/api.go and implement here https://github.com/mattermost/mattermost-server/blob/master/app/plugin_api.go

you can read more in this doc https://developers.mattermost.com/contribute/server/plugins/

[2018-11-07 15:06] swood commented on #9794
Sure:

`{"type": "direct_post", "direct_post": {"channel_members": ["user1", "user2"], "create_at": 1507305803192, "message": "", "attachments": [{"path": "/export/users/files/BgrmZeUiGORTwNq/Layer3-01.png"}], "user": "user1"}}`

[2018-11-07 18:32] waseem18 commented on #9541
Update : I've started working on this issue and will have a PR in a day or two.

[2018-11-07 19:38] #9634 closed

[2018-11-07 19:39] amyblais commented on #9811
Hi @sizvix,

What is the use case for having a different style for alone messages?

[2018-11-07 19:49] #9622 closed

[2018-11-07 19:49] hanzei commented on #9622
Fixed with #9665

[2018-11-07 19:50] vaithak commented on #9621
@cpanato I am asking that the api that I have to define in plugin/api.go, should that API's signature be similar to that written in api4/file.go or the one mentioned in issue description above ?

[2018-11-07 19:57] patniharshit commented on #9807
I would like to claim this one :smiley:

[2018-11-07 19:59] hanzei commented on #9610
@akhilanandbv003 Do you have any more questions? Let me know if I can help with anything.

[2018-11-07 19:59] amyblais commented on #9807
Thank you @patniharshit! Let us know any questions.

[2018-11-07 20:04] hanzei commented on #9377
Fixes with #9467

[2018-11-07 20:04] #9377 closed

[2018-11-07 22:25] esethna opened #9813 "[Help Wanted] [MM-12452] Stop hashing plugin keys on write"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-07 22:25] esethna opened #9814 "[Help Wanted] [MM-12476] Consistent paging arguments limit/offset vs page/perPage for plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-07 23:41] amyblais commented on #9810
Hi @vpecinka,

What happens (in the UI) when the server crashes on step 3?

[2018-11-08 04:48] bbodenmiller commented on #9452
It doesn't look like I have permission to reopen but the issues back. I thought it had fixed itself but apparently not as a user just asked me to join their team and I couldn't find it. Tried accessing via direct link and it didn't work. Upon review from CLI the team exists and I could add myself via `team add`. Did a bit of verification and team is set to public. I then left the team via web UI a

[2018-11-08 04:55] bbodenmiller commented on #9452
Tried `sudo gitlab-ctl restart`, no luck.

[2018-11-08 09:44] vpecinka commented on #9810
Hi @amyblais , just simple message
[code]
 I gues this message is from the frontend, as server crashes and cannot produce anything more :-)

[2018-11-08 10:07] hanzei commented on #9810
Hey @vpecinka,

I think I found and fixed the bug. Can you please try to reproduce the error with
[com.mattermost.zoom-1.0.2.tar.gz](https://github.com/mattermost/mattermost-server/files/2561237/com.mattermost.zoom-1.0.2.tar.gz)?

[2018-11-08 12:14] Dundee opened #9815 "Desktop notifications disappear"
#### Summary
Mattermost is intended to be team collaboration and messaging tool.
It functions fine when working with channels which are similar to forums or IRC channels.

But when sending direct messages, the UX is quite bad because desktop notifications disappear after 5 seconds and when user is concentrating to something else or is AFK he will miss the notification and doesnt know that someone

[2018-11-08 13:39] amyblais commented on #9808
Thank you @bradjcoughlin!

[2018-11-08 13:49] amyblais commented on #9815
Hi @Dundee,

We used to have a setting for this but it was removed in v5.0: https://docs.mattermost.com/help/settings/account-settings.html#notification-duration. This is expected behaviour in this case (if you're on server v5.0 or later).

[2018-11-08 13:58] #9766 closed

[2018-11-08 14:09] bbodenmiller commented on #9452
Is there a way I can run the query that generates the data for the join team page to see if that shows it or not?

[2018-11-08 14:35] cpanato commented on #9621
@vaithak can be
`GetFile(fileId string) ([]byte, *model.AppError)`

[2018-11-08 15:05] hmhealey commented on #9788
I'll take a look. I assume it's panicking because it's trying to make sure everyone in the channel is on the new team, but since there's no one in the channel, it breaks some logic around that

[2018-11-08 15:13] hmhealey commented on #9788
Yeah, I can reproduce it. I'll file a ticket in Jira to track it further.

A workaround for this in the mean time would be to add a user that's on both teams to the channel since that should fix the error

[2018-11-08 15:23] #9783 closed

[2018-11-08 15:35] hmhealey commented on #9747
I'm not sure if that's related since that's someone hitting the API directly. It sounds like we're hitting a race condition of some sort here. Like it's requesting posts for the channel before it actually knows what the channel is for some reason.

I'm looking at the code for that, and I can't actually find anywhere that it waits for the channel to be loaded before trying to get posts for it, so t

[2018-11-08 15:36] amyblais commented on #9815
Hi @Dundee,

Thank you for the feedback! I agree that 5 seconds is a short time and can lead to missed messages. The pull request that you opened will go through reviews from our product managers and developers - thank you for opening the pull request!

[2018-11-08 15:41] Dundee commented on #9815
This feature was already voted for and implemented - https://mattermost.uservoice.com/forums/306457-general/suggestions/15179742-make-notification-about-new-message-persistent
but it's not present any more.

[2018-11-08 16:37] vpecinka commented on #9810
Hi @hanzei

I confirm, that this release you provided doesn't crash the server! Thank you.

[2018-11-08 16:40] Dundee commented on #9815
I now see that `requireInteraction` is not supported by some browsers, so this is not the way ho to solve it. I should probably open better PR with configurable duration option.

[2018-11-08 16:40] #9815 closed

[2018-11-08 18:17] #9740 closed

[2018-11-08 18:25] #9640 closed, assigned to nobody

[2018-11-08 18:29] jasonblais commented on #9081
Thank you @zeroimpl!

[2018-11-08 18:29] #9081 closed

[2018-11-09 15:00] MrSorcus commented on #9747
[2018-11-09-145319_swaygrab](https://user-images.githubusercontent.com/23472035/48269519-a9e8c400-e42f-11e8-827b-05f5d03f0cb7.png)
[2018-11-09-145352_swaygrab](https://user-images.githubusercontent.com/23472035/48269520-a9e8c400-e42f-11e8-9a24-4245ae40e40e.png)
[2018-11-09-145448_swaygrab](https://user-images.githubusercontent.com/23472035/48269521-a9e8c400-e42f-11e8-9321-9908f98f7814.png)
[2018-1

[2018-11-09 20:34] lieut-data commented on #9781
Thanks, @zeroimpl :)

[2018-11-09 20:34] #9781 closed

[2018-11-10 22:57] swood opened #9821 "Import strange things"
Hello.

It's me again.
I had been imported a lot of messages to Mattermost, and I have found a strange thing. Some user was in a private room. After some time he goes out from this room (I mean HipChat). There isn't this user in the HipChat export as a member of the private room, and there isn't this user in private channel after import to Mattermost.
But, this user could observe this group after

[2018-11-12 01:10] SkipperEl commented on #9504
I'll take this.

[2018-11-12 09:16] MrSorcus opened #9822 "Improve email headers."
#### Summary
Rspamd assign some spam points based on few email headers.

#### Steps to reproduce
Version 5.4.0.
Just get notification and look at source of email.

#### Expected behavior
`MIME-version` and `Message-ID` must be correct.

#### Observed behavior (that appears unintentional)
![screen shot 2018-11-12 at 09 00 41](https://user-images.githubusercontent.com/23472035/48337114-f57eb600-e659

[2018-11-12 10:31] swood commented on #9794
@amyblais do you have any news?

[2018-11-12 11:30] Dundee opened #9823 "Configurable desktop notifications duration"
#### Summary
Mattermost is intended to be team collaboration and messaging tool.
It functions fine when working with channels which are similar to forums or IRC channels.

But when sending direct messages, the UX is quite bad because desktop notifications disappear after 5 seconds and when user is concentrating to something else or is AFK he will miss the notification and doesn't know that someone

[2018-11-12 12:36] plef commented on #6778
Fresh install does not work for me (I even installed for the very first time). After tapping "Sign in with GitLab", I am left with empty screen with blue top bar (entitled "Single Sign-On") and hourglass icon swirling in the middle of the screen.

[2018-11-12 13:59] #9770 closed

[2018-11-12 14:32] amyblais commented on #9823
Hi @Dundee,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prioritize the review.

You

[2018-11-12 14:50] enahum commented on #9717
Closing as I'll be working on this

[2018-11-12 14:50] #9717 closed

[2018-11-12 15:03] amyblais commented on #9821
Hi @swood,

To confirm, after the import was done, the user got automatically added back to the private channel (in Mattermost)?

[2018-11-12 15:06] amyblais commented on #9794
@swood Sorry, I was off for the past few days - I asked our team last week to take a look at this, and I will ping them again today as I haven't gotten any feedback yet.

[2018-11-12 15:09] swood commented on #9821
Hello, @amyblais.
Yes, after the user has been login to Mattermost after import. Not before that moment.

[2018-11-12 15:15] Dundee commented on #9823
@amyblais Sure, added: https://mattermost.uservoice.com/forums/306457-general/suggestions/35998885-configurable-desktop-notifications-duration

[2018-11-12 15:39] amyblais commented on #9823
Thank you @Dundee! I'll close this Issue here for now as it can be tracked via the feature request ticket,

[2018-11-12 15:39] #9823 closed

[2018-11-12 15:45] amyblais commented on #9796
Hi @vpecinka, apologies for the delay, I've asked our team to take a look at this but I haven't received any feedback yet, so I'll ping our team again today for this.

[2018-11-12 15:45] amyblais commented on #9719
Hi @akomakom, apologies for the delay, I've asked our team to take a look at this but I haven't received any feedback yet, so I'll ping our team again today for this.

[2018-11-12 15:50] amyblais commented on #9821
@swood Is that user an admin or just a regular non-admin user? If they are an admin, there is a chance that they have clicked a URL / link that redirected them to that private channel (admins can access private channels if they click a permalink).

[2018-11-12 16:19] Dundee commented on #9823
Ok, thanks!

[2018-11-12 16:21] swood commented on #9821
@amyblais no, this is non-admin user.

[2018-11-12 16:23] amyblais commented on #9452
This is Gitlab related so pinging @hmhealey

Issue:
User cannot find/join open teams that he has previously left (either via team selection page or via a permalink).

Environment:
- Server 5.3.1 as part of latest GitLab Omnibus release: 11.4.4
- RHEL 7.3
- Chrome and desktop app 4.1.1 on Windows

Logs:
See https://github.com/mattermost/mattermost-server/issues/9452#issuecomment-436872398

Question

[2018-11-12 16:36] amyblais commented on #9722
I'm asking our team again if there's any known workaround, but it looks like this hasn't been implement yet.

[2018-11-12 17:19] lieut-data commented on #9794
Hey @swood! There is currently a hard-coded internal limit as to how big the image can be:
https://github.com/mattermost/mattermost-server/blob/7a758eae72b3938950111ed8faecbb03ee856cf8/app/file.go#L56

I suspect this limit came from memory issues around image transforms. If you're inclined to make this configurable (in units of megapixels), I suspect we'd welcome a PR as such :)

[2018-11-12 17:31] amyblais commented on #9796
Hi @vpecinka, I created a Jira ticket for our devs to look into this further: https://mattermost.atlassian.net/browse/MM-12986.

[2018-11-12 17:48] amyblais commented on #9757
### v5.5 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.5.0-rc2/mattermost-team-5.5.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4def555e36df61d7e3fec894c9f3ef4356e46768/source/administration/changelog.md)

[2018-11-12 19:05] vpecinka commented on #9796
thank you!

[2018-11-12 19:47] amyblais commented on #9821
Hi @swood, can you help confirm what command or JSON formatting was used for importing the private channel? Also, please let us know if there were any log errors or Console errors?

[2018-11-12 20:03] TSachs19 commented on #8856
@amyblais I noticed if you enable the integrations for the username and the profile picture. There is still an issue that the account info attached to the webhook will pop up if you click on the image next to the webhook post. Is there an open issue for this or will a bug have to be posted?

[2018-11-12 21:39] swood commented on #9794
Hey, @lieut-data, I can't agree with it. My image is only:

`# du -sh Layer3-01.png`
`200K	Layer3-01.png`

it's quite smaller then 36MB.

[2018-11-12 21:45] lieut-data commented on #9794
Hey @swood, this isn't about the file size on disk as . PNG, but about the amount of memory the image would require to unpack into memory as a raw image.

If the dimensions are indeed `4320 x 8880` as you indicated, then although the image can be compressed down to `36MB` as a PNG (I'm assuming lots of solid colours?), the memory requirements of unpacking it for transformation are much higher.

Th

[2018-11-12 21:51] swood commented on #9821
Hey, @amyblais!
The command was very usual:

`./mattermost import bulk /path/to/file.jsonl -config /path/to/config.json --apply`

And the format as usual, I think.

`{"post": {"message": "text", "create_at": timestamp, "user": "user", "channel": "channel_name", "team": "team_name"}, "type": "post"}`

Should I add something to?

[2018-11-12 22:00] swood commented on #9794
@lieut-data probably you are right.
But I think there is another problem.
The import of room history has stop when the code faced with the same image and If it at the end of the file - okay. But if at the beginning and the history file is about 25k strings - it's quite sad.

I suggest to leave that limit at the current place, but when I have been importing the chat history, I don't want to think a

[2018-11-12 22:01] lieut-data commented on #9794
I'd agree with that: the import process shouldn't necessarily abort due to a failed image import. (Maybe a flag to suppress warnings along the way?)

[2018-11-13 00:13] amyblais commented on #9822
Hi @MrSorcus,

Giving you an update that I'm working on investigating this,

[2018-11-13 12:21] jasonblais commented on #8511
@mickmister

Yes, that would be great, thank you. Help is much appreciated on this one :)

If you have any questions, don't hesitate to let us know!

[2018-11-13 15:56] jwilander commented on #9483
There may be a small amount of Go work required for this as well.

[2018-11-13 16:01] amyblais commented on #9719
Hi @akomakom, it looks like this is not supported yet, so opening a feature request in this case would make sense. There is also this [feature request](https://mattermost.uservoice.com/forums/306457-general/suggestions/19376305-allow-webhooks-to-trigger-other-webhooks-posts) open related to this.

[2018-11-13 16:32] hmhealey commented on #8540
Closing this since that code may be changing soon

[2018-11-13 16:32] #8540 closed

[2018-11-13 18:23] amyblais commented on #8856
Hi @TSachs19,

I believe if you're an admin you'll see the account details, but non-admins don't. Also, I just tested and wasn't able to repro the issue where the image override doesn't seem to disable the popover contact info. What Mattermost version are you on?

[2018-11-13 18:40] amyblais commented on #9821
Hi @swood, some final questions:

Have you seen this with one user or multiple users?
Was there any system message in the private channel when the user 'joined' it, e.g. "[User] joined the channel".

I'll ask our team if there is a way for us to test this out and see if this is a bug.

[2018-11-13 18:45] amyblais commented on #9822
I created a ticket for this here: https://mattermost.atlassian.net/browse/MM-13012.

[2018-11-13 21:53] hmhealey commented on #9747
I was comparing those against mine, and I was actually able to reproduce the issue. I also noticed you're opening the app in a DM channel in those screenshots and that's also when I had it happen, so I think that might be related to why it's just happening now.

I've filed a Jira ticket [here](https://mattermost.atlassian.net/browse/MM-13014) to track it in more detail if you interested in followi

[2018-11-13 23:35] TSachs19 commented on #8856
@amyblais 5.5.0-rc1

[2018-11-13 23:49] amyblais commented on #9591
I close this Issue since the PR for this has been merged. I believe the fix will be included in v5.6 release.

[2018-11-13 23:49] #9591 closed

[2018-11-13 23:52] amyblais commented on #9613
Hi @jelmd, we haven't received an update for a while so I'll close this Issue for now. Thank you for considering adding this to the feature request forum,

[2018-11-13 23:52] #9613 closed

[2018-11-13 23:52] amyblais commented on #9614
Hi @jelmd, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-11-13 23:52] #9614 closed

[2018-11-13 23:56] amyblais commented on #9722
Hi @stachoj, we haven't received an update for a while so I'll close this Issue for now.

Thank you for considering adding this as a plugin, and let me know if there is anything else I can help clarify!

[2018-11-13 23:56] #9722 closed

[2018-11-14 00:00] amyblais commented on #9739
Hi @Tragen,

Letting you know that the Jira ticket for this was closed as the developers determined that unless specifically searching for the thumbsup emoji, you should always get the :+1: emoji when reacting to a post on either app.

Also, they're technically two separate emojis when it comes to reactions (ie `+:1:` and `:thumbsup:` will produce this behaviour and that won't change by fixing the

[2018-11-14 00:03] Tragen commented on #9739
For me it's the wrong decision. You want do to it correctly and both reactions don't match.
I even cannot force the mobile client to use the correct emoji.

[2018-11-14 00:04] amyblais commented on #9795
Hi @swood, let me know if you were able to resolve this.

[2018-11-14 00:07] amyblais commented on #9796
Hi @vpecinka, letting you know that the Jira ticket was closed as our developers determined that Galera seems to be a multi-master DB cluster which we don't actively support and haven't tested with. If we get reports of this for non-multi master clusters we can fix it or in the future we could potentially add support for multi-master DB clusters. I'll close this Issue for now as it seems that this

[2018-11-14 00:07] #9796 closed

[2018-11-14 00:08] amyblais commented on #9811
Hi @sizvix, just following up, let me know if there is anything I can help clarify?

[2018-11-14 00:10] hmhealey commented on #9452
I'm not able to reproduce the issue with the given steps on https://community.mattermost.com running an RC for 5.5. I feel like there may have been a bug fixed around this recently relating to confusion around setting the team's type to open vs looking at the `Team.AllowOpenInvite` field, but I'm not able to find the ticket for it

[2018-11-14 01:08] bbodenmiller commented on #9452
Is there some database queries I can run to see if I'm getting unexpected
results? How is the list of teams to join constructed?

On Tue, Nov 13, 2018, 4:10 PM Harrison Healey <notifications@github.com>
wrote:

[2018-11-14 01:12] amyblais commented on #8856
Are you seeing this issue as an admin or non-admin (or both)?

[2018-11-14 07:57] harshilsharma63 opened #9829 "Bulk Import Not Setting Specified Profile Image"
#### Summary
With bulk import, profile Image specified in `profile_image` field is not imported or set.

#### Steps to reproduce
Bulk import a user in Mattermost with a profile picture specified. You can use this template user -

[code]

#### Expected behavior
The image specified in `profile_image` should be used and set as that user's profile image.

#### Observed behavior (that appears unintenti

[2018-11-14 14:07] #9811 closed

[2018-11-14 14:40] cpanato commented on #9458
SetProfileImage PR: https://github.com/mattermost/mattermost-server/pull/9831

[2018-11-14 14:52] TSachs19 commented on #8856
I tested it out with admin and non-admin and the popover happens with both users.

[2018-11-14 15:46] amyblais commented on #9822
Hi @MrSorcus it looks like a PR was already opened in the gomail library for the MIME issue: https://github.com/go-gomail/gomail/pull/127.

For any further issues, it seems it would make sense to open an Issue in the gomail repo: https://github.com/go-gomail/gomail/issues. Would you be able to help with that?

[2018-11-14 17:17] MrSorcus commented on #9822
Looks that here issue exists - https://github.com/go-gomail/gomail/issues/36
But it closed.

[2018-11-14 17:23] MrSorcus commented on #9822
If i understand correctly, there is only one way to implement it. In mattermost-server.

[2018-11-14 19:32] amyblais commented on #9829
Thank you @harshilsharma63!

@jespino Would there be a simple way to test this out, or should I create a Jira ticket for further investigation?

[2018-11-14 19:52] amyblais commented on #9757
### v5.5 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.5.0-rc3/mattermost-team-5.5.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4def555e36df61d7e3fec894c9f3ef4356e46768/source/administration/changelog.md)

[2018-11-14 21:18] hmhealey commented on #9452
This will return all teams that should show up on that page
[code]

[2018-11-14 23:17] amyblais commented on #9739
Hi @Tragen,

I just retested this and I'm not able to reproduce this anymore.

Would you like to test if you see this issue on v1.14 (which will be released this Friday). You can upgrade to v1.14 by signing up for [beta testing here](https://play.google.com/apps/testing/com.mattermost.rnbeta) and then downloading the latest app version from Google Playstore. If you prefer not to upgrade at this po

[2018-11-15 04:16] dupont-kedama opened #9833 "[IE11] meta tag `http-equiv="X-UA-Compatible" content="IE=edge"` does not work"
#### Summary
meta tag `http-equiv="X-UA-Compatible" content="IE=edge"` does not work
when `Display intranet sites in Compatiblity View` is enable in 'Compatiblity View Settings'.

#### Steps to reproduce
In 'Compatiblity View Settings',
`Display intranet sites in Compatiblity View`  > enable .
![displayintranetsitesincompatiblityview](https://user-images.githubusercontent.com/5292063/48529291-b65c

[2018-11-15 07:58] harshilsharma63 commented on #9829
@amyblais @jespino I think I've resolved the issue. There are two things here -

first, the [documentation for bulk import tool](https://docs.mattermost.com/deployment/bulk-loading.html#running-the-bulk-loading-command) specifies to run the tool while being in the `/mattermost/bin`. What this does is creates two new dirs `data` and `plugins` in the `/mattermost/bin` dir, and uploads all post attac

[2018-11-15 08:02] harshilsharma63 commented on #9829
second, once the import tool has run, all files created in `data` dir are owned by `root` as the tool was run as `sudo`. When Mattermost tries to fetch these files it cannot due to permission issue. Owner for data dir has to change again to Mattermost user for it to work correctly. This step should also be documented.

[2018-11-15 13:51] ternes3 commented on #9369
How can I change these settings for all members of a team.
(Change the global standard?)

[2018-11-15 14:05] jasonblais commented on #9369
Hi @ternes3! You can use our bulk loading tool to update settings for existing members of a team.

https://docs.mattermost.com/deployment/bulk-loading.html

You can [create a user object](https://docs.mattermost.com/deployment/bulk-loading.html#user-object) containing the notification preferences and [run it via the command line](https://docs.mattermost.com/deployment/bulk-loading.html#running-the

[2018-11-15 14:08] ternes3 commented on #9369
okay got it. I have to change in the database for every user the preferences on this or better i can use the bulk loading tool.

But I cant change the default for this? So every new user would be directly fine.

[2018-11-15 14:10] jasonblais commented on #9369
Not currently, but we have an open feature proposal for it here: https://mattermost.uservoice.com/forums/306457-general/suggestions/33015193-allow-administrators-to-set-default-notification-s

Would you be open to contributing to the proposal? You get **10** votes in the feature idea forum, and each one influences the future of the project.

[2018-11-15 15:57] swood commented on #9821
I found only one, but this installation has about 500 users and a lot of channels. I can't check all of them.

Unfortunately no. This user suddenly sends a message to a private channel. Without any special messages like you wrote.

[2018-11-15 16:04] swood commented on #9794
@amyblais  ?

[2018-11-15 16:48] jespino commented on #9829
@harshilsharma63 Thanks, yes, actually we want to solve the first problem forcing data dir as a absolute path, instead of a relative path, that way it doesn't matter where you run the binary (for the data directory). About the `sudo` problem, would be nice to document that in the import tool documentation.

Thanks a lot for investigate it.

[2018-11-15 16:54] amyblais commented on #9821
Hi @swood, thank you for that, I've asked our team to help verify if there is a bug here.

[2018-11-15 17:07] amyblais commented on #9794
Hi @swood, thank you following up, I just opened a ticket to address this issue: https://mattermost.atlassian.net/browse/MM-13033.

[2018-11-15 18:36] amyblais commented on #9833
Hi @dupont-kedama,

I'm not 100% sure if Mattermost currently support this, but a workaround would be to go to Mattermost > Account Settings > Display > Message Display > Compact. Would this work?

[2018-11-15 18:39] bbodenmiller commented on #885
@amyblais I can't update https://mattermost.atlassian.net/browse/MM-1555 but it looked like folks think it's not useful for self-hosted instances but that's inaccurate, lots of self hosted instances run local gravatar services and want to integrate them with Mattermost so users can update their photo in one place and show up in Mattermost, GitLab, and other integrated services they might run.

[2018-11-15 18:40] amyblais commented on #9829
@jespino Do you know if there is a Jira ticket open for the first issue?

For the `sudo` problem I can help with documentation for it.

[2018-11-15 18:44] amyblais commented on #885
Hi @bbodenmiller It is an old ticket so it's possible it wasn't considered useful at the time - I've reopened the ticket and sent it to triage for our team to re-consider.

[2018-11-15 19:34] #9757 closed

[2018-11-15 20:45] jespino commented on #9829
@amyblais not yet, I have to create it. About the `sudo` problem, would be great to document it. If you need any help with the details to document it, let me know and I can help.

[2018-11-15 21:31] fincha opened #9834 "delete channel can be done only once"
I am using the enterprice version of server 5.4

I can delete a challen via api
I can restore the channel, but I can`t delete the channel again

{"id":"api.channel.delete_channel.deleted.app_error","message":"The channel has been archived or deleted","detailed_error":"","request_id":"dbji6fuzy38z3xggrgf93qxukw","status_code":400}

Steps:

1. create public channel via api
2. delete channel via api

[2018-11-15 23:41] amyblais commented on #9829
No worries, I opened a ticket here: https://mattermost.atlassian.net/browse/MM-13040.

I'll work on documentation tomorrow or early next week.

[2018-11-16 02:29] dupont-kedama commented on #9833
Thanks for the suggestion @amyblais .
Unfortunately that method did not solve it.

0. `Display intranet sites in Compatiblity View` > disable
0. Login and set Account Settings > Display > Message Display > Compact
0. `Display intranet sites in Compatiblity View` > enable
0. not support browser error.

[2018-11-16 09:07] jespino commented on #9829
@amyblais Thanks, I updated the issue to be more explicit and complete :)

[2018-11-16 11:17] hanzei commented on #6278
https://github.com/mattermost/mattermost-server/pull/9053 has been merged. Can this issue be closed?

[2018-11-16 12:32] hanzei commented on #9769
Hey @falcon78921

Is there anything we can help you with? if you have any questions, let me know!

[2018-11-16 12:32] hanzei commented on #9765
Hey @joshuabezaleel

Is there anything we can help you with? if you have any questions, let me know!

[2018-11-16 12:41] hanzei commented on #8942
Hey @ghost

How are doing with this ticket? Do you have any questions about this ticket? Feel free ask them here or on https://community.mattermost.com.

[2018-11-16 12:48] hanzei commented on #9458
`GetTeamIcon` PR: https://github.com/mattermost/mattermost-server/pull/9837

[2018-11-16 13:15] jwilander commented on #9486
@sandlis have you had a chance to work on this at all? Let me know if I should open it up for others to work on

[2018-11-16 13:59] cored commented on #9486
@jwilander Sorry haven't started on this just yet. I was planning to outline an strategy today to divide what I need to work on and start on that for the weekend.

[2018-11-16 14:02] amyblais commented on #9834
Hi @fincha!

I'll ask our team to help test this out.

[2018-11-16 14:07] jwilander commented on #9486
Awesome, sounds good. Let us know if you have any questions

[2018-11-16 14:10] cored commented on #9486
@jwilander Sure thing. Probably will join the channel to discuss further.

[2018-11-16 14:12] amyblais commented on #9833
Hi @dupont-kedama,

Where do you see the error (e.g. in Mattermost logs, or Mattermost UI, etc.)?

Also, we have some information here on supported browsers: https://docs.mattermost.com/install/requirements.html#software-requirements.

[2018-11-16 14:16] hanzei commented on #9458
`SetTeamIcon` PR: https://github.com/mattermost/mattermost-server/pull/9840

[2018-11-16 16:44] swood opened #9842 "Version object"
Hello.

It's me, again and again :)

Could you explain the function of this object? I thought that it needs for import of delta history: I imported the first version, have checked and after that could import second version export from the previous system. But version number has to be 1. Why?

[2018-11-16 17:45] amyblais commented on #9842
Hi @swood!

I've asked our team to take a look at this as I'm not sure what the answer is.

[2018-11-16 21:59] amyblais commented on #9821
@swood From our developer:

Presumably the issue here is that the bulk import file adds the user to the channel. If you don't want them to be added to he channel, you could fix your bulk import data to not add the user to the channel.

Does this help?

[2018-11-16 21:59] amyblais commented on #9842
@swood From our developer:

Version object is the version number of the import data format. We are currently at version 1 still, so it will always be 1.

Does this help?

[2018-11-16 22:29] swood commented on #9821
@amyblais I suppose no and this is a bug. No, the user don't in channel after bulk import. I checked it.
Although, the user could read the channel after login to the system. That the bug!

I can't edit my bulk data because I have a vast archive and I don't know about all situations. It's doesn't possible at all.

[2018-11-16 22:40] swood commented on #9842
So, you assume to release the next generation of data format, and this object is a purpose to that aim? Right?

Okay. I have a question about my situation.
I have a HipChat, and I created a tool to convert HipChat export to Mattermost Jsonl (if you'd like I could publish it in future.).
I have been imported vast archive of HipChat to Mattermost and a lot of users started to examine software.
Durin

[2018-11-17 00:10] jasonblais commented on #9733
Thanks @zetaab for the PR that resolves this issue.

[2018-11-17 00:10] #9733 closed

[2018-11-17 11:45] harshilsharma2 opened #9843 "Prevent certain long post from collapsing"
Currently in Mattermost a post collapses if it's longer than a certain height. Is there any `prop` in `Post.Props` that can be set to prevent this?

#### Context

I'm creating some sort of summarized reports from a plugin and they gets collapsed all the time. Due to the nature of this post, it offers a much better UX if it's not collapsed, preventing the user from expanding all the posts in the ch

[2018-11-17 13:30] SimJoSt commented on #8931
Sorry, didn't see the notification.

1. Mattermost server version 4.9.2
2. The problem exists on both the web as well as the desktop app.

It is dependend on anything Mattermost does or doesn't do. It's macOS thing.
If you enter `~` and directly after enter a button that can be extended with the tilde, it will merge them.

[2018-11-19 00:13] dupont-kedama commented on #9833
Sorry for delay @amyblais,
The error appears on Mattermost UI(browser).

(In Japanese)
![screenshot 293](https://user-images.githubusercontent.com/5292063/48680024-3e92b500-ebda-11e8-9be2-0dd4e9c66e64.png)

Yes, I knew it.
But,
I thought that 'meta tag http-equiv="X-UA-Compatible" content="IE=edge"' (in root.html) is describing it expecting incompatible display to be forced.
If not, this case shou

[2018-11-19 08:51] tyurderi opened #9845 ""Participiant is writing" timeout"
#### Summary
When the user in a opened chat writes and sends their message the text "userX is writing..." is not gone immediately - the text is there for like 1-2 seconds afterwards.

#### Steps to reproduce
Version 5.4.0
Open a chat with a user, let him write some text to you and see a the text below the textbox.

#### Expected behavior
The text should immediate hide after text submission.

####

[2018-11-19 10:21] jespino opened #9846 "[Help Wanted] [MM-13070] Migrate to idiomatic error handling in the file `model/client4.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-19 10:22] jespino commented on #9846
@hanzei I created it here for you :)

[2018-11-19 10:29] hanzei commented on #9846
Thanks!

[2018-11-19 13:16] amyblais commented on #8931
Hi @SimJoSt would you be able to test if you see this issue on the [latest version](https://about.mattermost.com/download/). You can test on our [community server](https://community.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) if you prefer not to upgrade at this point.

[2018-11-19 13:43] #9814 closed

[2018-11-19 14:43] #9542 closed

[2018-11-19 14:53] lieut-data commented on #9834
Hey @fincha -- I can't reproduce this against the latest code:
[code]

[code]

[code]

[code]

Can you provide more detailed reproduction steps?

[2018-11-19 14:54] lieut-data commented on #9727
I can reproduce this one! Thanks for spotting it, @vpecinka :)

[2018-11-19 15:42] bmd-kelvin commented on #9758
Can I try to take this? but I'm new for react native. I just have basic knowledge react js

[2018-11-19 15:45] kmandagie commented on #9758
Can I take this issues? But maybe take long time because it's my first time for react native. i just have knowloedge in react js

[2018-11-19 15:47] esethna opened #9850 "[Help Wanted] [MM-13070] Migrate to idiomatic error handling in the file `model/client4.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-19 15:50] hanzei commented on #9850
Duplicate of #9846

[2018-11-19 15:50] #9850 closed

[2018-11-19 16:12] amyblais commented on #9727
Created a ticket here for tracking: https://mattermost.atlassian.net/browse/MM-13073.

[2018-11-19 17:56] amyblais commented on #9843
Hi @harshilsharma63,

Currently there is no way to disable the "Show More" button feature, but an option would be to add a setting for that.

If you have forked Mattermost, you would just need to change these two values to something very high to stop it from collapsing
https://github.com/mattermost/mattermost-webapp/blob/master/components/post_view/post_message_view/post_message_view.jsx#L15
https

[2018-11-19 18:00] amyblais commented on #9845
Thank you @tyurderi,

I opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-13077.

[2018-11-19 23:11] bbodenmiller commented on #9452
But doesn't that show all teams, even the ones already part of so wouldn't but exact equivalent of join page?

[2018-11-19 23:12] bbodenmiller commented on #9452
Plot twist: I removed myself from being a system admin and now I'm seeing tons of new teams to join that weren't showing before, some which I had previously joined and left and others that I've never joined.

[2018-11-20 00:12] harshilsharma63 commented on #9843
@amyblais I'd love to submit a PR for this. I was thinking of adding a prop in `Post.Props` to prevent from collapsing the post. Does it sound right?

[2018-11-20 01:08] amyblais commented on #9842
Hi @swood, I've forwarded this feedback to our developer and I'll give you an update within the next few days.

[2018-11-20 01:08] amyblais commented on #9821
Hi @swood, I've forwarded this feedback to our developer and I'll give you an update within the next few days.

[2018-11-20 09:52] sblaisot opened #9853 "`mattermost` cli scramble plugins files ownership"
#### Summary

When using the `mattermost` cli for some purposes unrelated to plugins, the end result is that pluging files ownership are changed to the user running the cli, breaking the plugins.

#### Steps to reproduce

1. Install mattermost and configure it to run as user `mattermost`
2. Ensure zoom or jira plugin files under the `plugins` directory are owned by user `mattermost`
3. run `bin/ma

[2018-11-20 12:59] amyblais commented on #9842
Hi @swood, you should already be able to repeatedly run a bulk import file through the importer if it fails part way. It is idempotent.

What issues are you seeing when attempting to re-import data?

[2018-11-20 13:03] amyblais commented on #9821
Hi @swood, feedback from a developer:

The issue here seems to be that you are importing channel memberships for user-channel combinations where you don't want the user to be a member of a channel. If you don't want that, then you don't have to it. In other words, it seems that your data might be wrong. From one of your other Issues, we understand that you have written a script to translate a Hipc

[2018-11-20 13:10] amyblais commented on #9803
Hi @it33, there haven't been updates on this for a while so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, please reopen this Issue with the relevant information and I'd be glad to help you where we can.

[2018-11-20 13:10] #9803 closed

[2018-11-20 13:46] swood commented on #9842
For example, if the import tool faced the image with max dimensions or with the Deadlock error.
In that case, I have to re-import data, but I have a chance to get duplicates.
I saw that and could reproduce. Also if the Jsonl contains attachments I 100% will have duplicates and the errors about this.

[2018-11-20 13:59] swood commented on #9821
@amyblais In other words, if I have a history from 4 years of HipChat room with a member who isn't members of this room yet, but is active in general, I have to filter the past and drop current users history? It's nonsense!

My software based on the export of HipChat. I have a json-file, and in that file, there is an array with members of this room. So, only that users will be added to that privat

[2018-11-21 15:31] hmhealey commented on #9452
Hmm, that's very interesting. When you're a system admin, you *should* see all of the teams on the server that you aren't a member of, not just ones with `AllowOpenInvite` set. What's the total number of teams on the server, including deleted ones? It looks like there might be some discrepancy between the server and client handling on this since the server just does basically `SELECT * FROM Teams

[2018-11-21 16:01] hmhealey commented on #9833
Hi @dupont-kedama, we don't support IE11 when it's running in compatibility mode. The full list of browsers that we support is available [here](https://docs.mattermost.com/install/requirements.html#pc-web)

[2018-11-21 17:16] amyblais commented on #9833
Hey @dupont-kedama,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prioritize the revi

[2018-11-21 18:07] amyblais commented on #9842
@swood What error messages are you seeing when the duplicates get created?

[2018-11-21 21:04] esethna opened #9862 "[Help Wanted] [MM-13061] Improve error handling of slash commands"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-11-22 00:11] scottleedavis commented on #9283
I haven't been able to hit my personal target for next release (it has been a couple)!   Life and things.
Update on where things are at.

https://github.com/scottleedavis/mattermost-server/projects/2#column-3266355

* interactive buttons on reminder fully functional.  select button 'snooze' is working great.
* todo:  /remind list interactive functionality via mattermost-webapp + mattermost-server

[2018-11-22 00:40] amyblais commented on #9843
Hi @harshilsharma63, letting you know that we're discussing this as a team and we're thinking that maybe an actual setting to disable collapsing long posts might be even a better option. We've gotten some feedback from other people as well that it might be better to just have long posts un-collapsed

[2018-11-22 00:44] harshilsharma63 commented on #9843
@amyblais I think it makes sense. Are we looking at a system-wide setting or a user preference?

[2018-11-22 10:03] #9846 closed

[2018-11-22 12:20] swood commented on #9795
Hello, @amyblais. Yes, it's helped for Public and Private Channels. But what could you suggest for Direct Channels?

[2018-11-22 12:22] swood commented on #9842
@amyblais something like:

[2018-11-22 16:18] TheMercyless1 opened #9870 "instagram-py error "fatal error:: configuration file not found at /root/instapy-config.json""
After lots of trial and error, I have finally made it to the very last step...but now I can't get passed this error message:

user123@computer123:/usr/share/wordlists$ sudo instagram-py -u username123 -pl rockyou.txt.gz
Instagram-Py 2.0.7 ,  Slick Instagram brute force command line tool.
Copyright (C) 2018 The Future Shell , Antony Jr.

[+] Started @ 2018-11-22 07:45:28.707465
fatal error:: config

[2018-11-22 18:05] jasonblais commented on #9093
Closed by https://github.com/mattermost/mattermost-server/issues/9093

[2018-11-22 18:05] #9093 closed

[2018-11-22 18:05] jasonblais commented on #7683
Closed by https://github.com/mattermost/mattermost-server/issues/9093, huge huge thanks @cometkim!

[2018-11-22 18:05] #7683 closed

[2018-11-22 18:17] amyblais commented on #9870
Hi @TheMercyless1,

What were the reproduction steps that led to this error? Can you help with more details on what you are working on here?

[2018-11-22 18:31] amyblais commented on #9870
Hi @TheMercyless1, letting you know that this Github repo is for Mattermost, not Instagram. Would you be open to creating an Issue on their repo: https://github.com/deathsec/instagram-py?

[2018-11-22 18:38] TheMercyless1 commented on #9870
Oops. I'll do that right now. Happy turkey day!

[2018-11-22 18:39] amyblais commented on #9870
No worries! I'll close this Issue here for now,

[2018-11-22 18:39] #9870 closed

[2018-11-22 19:08] amyblais commented on #9843
Hi @harshilsharma63, I opened a ticket here for our UX team to first consider internally what type of setting it would be: https://mattermost.atlassian.net/browse/MM-13149. So far there was discussion that it might be a user-specific setting.

I made a note in the ticket that you are interested in helping implement this improvement, so we can then assign this ticket to you if you're still interest

[2018-11-23 02:53] harshilsharma63 commented on #9843
@amyblais awesome!

[2018-11-23 05:41] ninanung opened #9873 "Post header elements overlap or hide in the mobile."
Note: I think this is similar issue with [this](https://github.com/mattermost/mattermost-server/issues/8749).

#### Summary
When a username is too long, the elements in post header(reply and time) overlap with one another, or it goes behind the display.

#### Steps to reproduce
1. Set username to be a long string with API(in the account setting, i can't set username that long enough)
2. Post some

[2018-11-23 12:51] swood opened #9874 "Can't read direct_channel with inactive user"
Hello.

I faced with the problem from the header after upgrade version from 5.4 to 5.5.
Yes, I enabled the option about "Allow users to view archived channels".
So, why the inactive users can't be searched?

[2018-11-23 13:42] Ppjet6 opened #9875 "Don't highlight room if thread panel opened"
#### Summary

Channel in channel list gets displayed as if there were unread messages even though these messages get into a thread I currently have opened.

#### Steps to reproduce
- Join channelA, start a thread threadA (right panel opens)
- Change to channelB but keep threadA opened
- Wait that somebody sends a message in threadA

#### Expected behavior
Message is displayed in the thread, that's

[2018-11-23 14:12] amyblais commented on #9873
Hi @ninanung,

What Mattermost app version and server version are you using?

[2018-11-23 14:19] amyblais commented on #9874
Hi @swood,

For bug reports, can you help use the Github template and include all relevant information:

#### Summary
Bug report in one concise sentence

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

#### Expected behavior
Describe your issue in detail

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant error

[2018-11-23 14:30] amyblais commented on #9875
Hi @Ppjet6,

I opened a ticket for our UX team to determine whether this behaviour should be changed: https://mattermost.atlassian.net/browse/MM-13156.

[2018-11-23 15:21] swood commented on #9874
#### Summary

Can't find a user if inactive.

#### Steps to reproduce

After upgrade Mattermost server to version 5.5, I haven't a possibility to read direct_channels with inactive users. In 5.4 I still can do it (I have both versions with the same data).

#### Expected behavior

I need to read that channels.

#### Observed behavior (that appears unintentional)

The inactive users can't be founded

[2018-11-23 15:21] swood commented on #9874
@amyblais better?

[2018-11-23 16:21] amyblais commented on #9874
Hi @swood,

It appears I'm not currently able to reproduce this. Is this happening with all inactive users? We did have a ticket open for an issue related to this, but it was closed because we couldn't consistently reproduce it. Feel free to read the comments in the ticket: https://mattermost.atlassian.net/browse/MM-12139.

[2018-11-23 16:55] hmhealey commented on #9452
Okay, so there's a few things causing this:
1. You're a system admin, so it's looking at [all teams](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/team_store.go#L363) instead of [just open ones](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/team_store.go#L423). This is intended.
2. It's only requesting [the first page of teams](https://gith

[2018-11-23 17:08] swood commented on #9874
Hello, @amyblais.

I understand that you can't. But I can right now. What do you need to investigate this case with the new power?

[2018-11-23 17:12] mickmister commented on #8512
I'd like to work on this

[2018-11-23 17:50] mickmister commented on #9862
I'd like to work on this!

[2018-11-23 18:38] jasonblais commented on #8511
awesome, thank you very much @mickmister for the improvement 🎉

[2018-11-23 18:38] #8511 closed

[2018-11-23 18:44] amyblais commented on #9874
Hi @swood, just to confirm, are these users that you previously discussed with on a Direct Message? You are only able to search for Direct Messages for those inactive users that you previously had a conversation with on Direct Message channel.

[2018-11-25 00:49] ninanung commented on #9873
Thank you for your comment @amyblais,
I'm using server v5.4 and android app 1.14.0

[2018-11-26 08:16] ninanung commented on #9873
Hi, @amyblais ,
I think i need to explain more about this.
This issue came from Mchat(Samsung's customed mattermost). When user start Mchat, app request SAML login data to BAS(another Samsung's system) and use it. App use BAS's username and it can be pretty long. This is the reason why issue comes out.

[2018-11-26 14:01] jasonblais commented on #5485
Thanks @bullsseye! Agree, have added `ReactJS` label as well.

[2018-11-26 23:00] nerboda opened #9885 "@babel/plugin-syntax-dynamic-import doesn't perform necessary transform for using dynamic imports in node"
#### Environment
- node 9.8.0
- npm 6.4.0

#### Summary
The .babelrc file currently uses @babel/plugin-syntax-dynamic-import to parse dynamic imports. Because that plugin doesn't perform the necessary transform for a node environment, dynamic imports like the one in [latex_block.jsx](https://github.com/mattermost/mattermost-webapp/blob/master/components/latex_block.jsx#L22) throw an `Unexpected to

[2018-11-27 05:04] harshilsharma63 opened #9887 "Bulk Importer Transaction Errors"
#### Summary
When running the bulk importer tool multiple times with different files, it throws a transaction error. This generally occurs after a large data file was imported.

The errors occurring are -

1. `SqlPreferenceStore.save: We encountered an error while updating preferences, pq: current transaction is aborted, commands ignored until end of transaction block`
1. `SqlPreferenceStore.Save:

[2018-11-27 13:57] grundleborg commented on #9732
Having looked into this some more, I can't reproduce it. I have a Mattermost database populated with some users whose emails match the emails of the users in my Slack import data file. If I set their `AuthData` fields to be null, then run the Slack import, it completes just fine.

[2018-11-27 13:58] grundleborg commented on #9732
@vpecinka what value is in the `AuthService` column for the users you are seeing this issue with?

[2018-11-27 16:44] amyblais commented on #9885
Hi @nerboda, thank you for the report, I will ask our developers about this.

[2018-11-27 18:18] amyblais opened #9892 "Mattermost v5.6"
You can find key dates for v5.6 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### December 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### December 12th: Release Build Cut

[2018-11-27 19:56] nerboda commented on #9885
@amyblais thanks. That code made it into master so the tests must be passing for others. I'm trying to figure out what would be different about my environment that might be causing the issue.

[2018-11-27 19:59] amyblais commented on #9874
Hi @swood, some additional questions:

1. Are you seeing this issue with all inactive users?
2. Are other users on your server seeing this issue?
3. Can you help with more details on your environment from here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2018-11-27 20:49] amyblais commented on #9887
Thanks @harshilsharma63, I'll ask about this from our developers.

[2018-11-27 21:32] sebalis opened #9895 "tables ‘Channels’ and ‘PublicChannels’: redundant structure?"
#### Summary
The Mattermost database holds two tables that appear to duplicate some information. I’m wondering if this is a design bug.

#### Steps to reproduce
Observed by looking at the database behind an installation of Mattermost 5.5.0.

#### Expected behavior
I would expect the database structure to be normalized.

#### Observed behavior (that appears unintentional)
It seems that the structur

[2018-11-27 21:53] mickmister commented on #9862
Open PR for this issue: https://github.com/mattermost/mattermost-server/pull/9888

[2018-11-27 21:54] mickmister commented on #8512
Open PR for this issue: https://github.com/mattermost/mattermost-server/pull/9878

[2018-11-27 22:56] swood commented on #9874
Hello, @amyblais.
1. Yes.
2. Yes.
3. :
Mattermost Version: 5.5.0
Database Schema Version: 5.5.0
Database: mysql
Operation system: ubuntu 16.04;
All applications includes mobile clients;
There isn't any logs of event "I can't find a deactivated user";
Yes, Mattermost run in container;
......
I don't understand how the logical error between previous and current version should be faced with a technic

[2018-11-27 23:47] amyblais commented on #9874
Thank you for those details - I have been trying to reproduce this but haven't seen this issue so far, so I thought maybe it helps to know the specific environment details. I asked our team and community members last week to take a look at this but haven't received any feedback yet, so I will ask for more help again tomorrow.

[2018-11-28 02:53] falcon78921 commented on #9769
My apologies @hanzei for the delayed response.

Being very new to Go, I think I'll have to pass on this. I still have much to learn!

[2018-11-28 07:18] chetanyakan opened #9897 "Cannot update the post type using PluginAPI"
#### Summary
The `UpdatePost` method in `PluginAPI` cannot update the post type.

#### Steps to reproduce
In a server plugin,
1. Get a post using `GetPost`.
2. Update the `Message` and `Type` fields.
3. Update the post by calling `UpdatePost`.

#### Expected behavior
Expected both post type and message fields to be updated.

#### Observed behavior (that appears unintentional)
Only post message is

[2018-11-28 07:49] hanzei commented on #9769
No problem @falcon78921.
Feel free to grab a react related ticket if you feel more comfortable with react.

[2018-11-28 17:32] amyblais commented on #9873
Thank you @ninanung, I'll ask our team to help test this out as I don't have an Android device. We will open a bug ticket if we can reproduce the issue.

[2018-11-28 18:02] falcon78921 commented on #9769
Actually @hanzei, I have some questions about this...

In Go, what modules do you need to import for the database manipulations? I understand Mattermost runs on MySQL or PostgreSQL. To create a ``webhook move`` command, you would need Go to authenticate into the database backend, modify the row containing the old webhook, and insert the new webhook into that row, right?

[2018-11-28 18:07] hanzei commented on #9769
Mattermost uses a `App` struct defined [here](https://github.com/mattermost/mattermost-server/blob/master/app/app.go), which offers a loot of methods to interact with the database. These a used e.g. [here](https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/commands/webhook.go#L140). Sometimes its needed to interactive the the DB via the `Store` layer, e.g. [here](https://gi

[2018-11-28 18:11] hanzei commented on #9769
With [`(a *App) CreateOutgoingWebhook`](https://github.com/mattermost/mattermost-server/blob/master/app/webhook.go#L397) you can create a new outgoing webhook.

[2018-11-28 21:48] amyblais commented on #9873
Hi @ninanung, Our developers responded to me and said that a fix for this issue has been submitted for the next mobile app release (v1.15). v1.15 is scheduled to be released in December 16th.

[2018-11-28 22:48] logand22 opened #9907 "failed to save license due to mattermost.Users not existing yet."
#### Summary
License does not get saved in the database when specified in config.json due to mattermost.Users not existing .

#### Steps to reproduce
Start a new mattermost server with fresh mysql DB configured per the installation guide with a license key file location specified in config.json.

I am using Mattermost 5.5 but have also experience this issue with version 5.4.

#### Expected behavio

[2018-11-28 22:48] logand22 commented on #9907
![screen shot 2018-11-28 at 4 42 22 pm](https://user-images.githubusercontent.com/38335829/49187540-6ea22c80-f32d-11e8-99d3-f8e0e92cec04.png)

[2018-11-28 23:49] amyblais commented on #9897
Hi @chetanyakan, I've asked our team to help test this out.

[2018-11-29 01:57] ninanung commented on #9873
Thank you @amyblais!
I will check this issue after the v1.15 release.

[2018-11-29 12:57] amyblais commented on #9897
Hi @chetanyakan Looks like one of our developers replied to your question in the Developers channel - "Is made that way by design, at the App layer (not only for plugins) you can't modify the post Type after the creation." I'll close this Issue for now as this seems to be expected.

[2018-11-29 12:57] #9897 closed

[2018-11-29 13:56] cpanato commented on #8512
thanks so much @mickmister

[2018-11-29 16:59] #8347 closed

[2018-11-29 22:11] cored commented on #9486
@jwilander Hi, I'm so sorry, I didn't make any progress in all this time about this ticket. I've been too busy, I mean I can take a tackle at it again but at least in two more weeks. Don't know if you want to reassign it. Sorry for the delay on giving an update I thought I could've make it.

[2018-11-30 00:12] jwilander commented on #9486
No worries @cored ! I can throw the "Up for Grabs" label back on it but feel free to take another stab at it if you get some time

[2018-11-30 00:23] cored commented on #9486
Thanks, will do that.

On Thu, 29 Nov 2018 at 19:12, Joram Wilander <notifications@github.com>
wrote:

--
Rafael George

[2018-11-30 00:57] amyblais commented on #9907
Thank you @logand22, would you be open to helping submitting a fix for this issue?

[2018-11-30 01:01] amyblais commented on #9873
Great, I'll close this Issue for now since a fix for this has already been submitted. Please re-open this ticket if the issue persists after upgrading to v1.15.

[2018-11-30 01:01] #9873 closed

[2018-11-30 15:47] #9639 closed

[2018-11-30 17:05] swood opened #9918 "How to transition a user to GitLab authentication?"
We have a number of users signed up via email, but now we want to move them all to a gitlab authentication (and obviously preserve their history).

I tried to switch the authentication method from email to gitlab, by sending a PUT request to the above endpoint with the following payload:

`data = {`
 `   'auth_data': '',`
 `   'auth_service': 'gitlab',`
`    'password': '12345678'`
`}`
But it didn

[2018-11-30 18:20] lieut-data commented on #9895
Hi @sebalis -- good eye! This duplication is by design -- `PublicChannels` is a materialized subset of the (typically much larger) `Channels` table. Take a look at https://pre-release.mattermost.com/core/pl/ix4a3ogyftrtpgqm9my5iu7bkc for the initial design, though we moved away from triggers to maintain the materialization towards doing it manually instead.

[2018-11-30 19:42] amyblais commented on #9853
Hi @sblaisot,

I asked our team about this and one of our community members noticed that this only happens for prepacked plugins. Please see this PR: https://github.com/mattermost/mattermost-server/pull/9149. On each start prepacked plugins are removed and then reinstalled (with permissions of current user).

[2018-11-30 20:15] amyblais commented on #9918
Hi @swood,

Letting you know that I've asked our team about this I'll let you know once I get their feedback.

I have started to do research on this as well if I can find details on what the specific values should be.

[2018-11-30 21:11] swood commented on #9874
Hi, @amyblais.
Do you have an updates?

[2018-11-30 21:11] swood commented on #9821
Hi, @amyblais.
Do you have an updates?

[2018-11-30 21:18] swood commented on #9795
I've found a workaround way. Actually, I knew it when I wrote this question.
Right after you finished import you have to login as user and open all his direct channels via API-method: [view channel](https://bit.ly/2zxLRmi) (only Go-method, I tried to do it via Python and didn't rich an achievement).
After you have been "read" it, you can "close" it by mysql or pgsql request:
`update Preferences se

[2018-11-30 23:43] amyblais commented on #9918
Hi @swood,

While I'm waiting for replies from our team, here is a workaround:

You can enable Gitlab authentication here: https://docs.mattermost.com/administration/config-settings.html#gitlab. After this, users can switch the sign in method themselves from Account Settings > Security > Sign-in Method. (This requires both email and GitLab sign on to be enabled). Once all users have switched over

[2018-12-01 08:00] hanzei commented on #9769
@patniharshit Great! If you have any questions, let us know.

[2018-12-01 17:17] bullsseye opened #9925 "Unable to create Test account for mattermost"
I am not able to create an account for my mattermost developer setup on my machine. I am successful in setting up everything else.

When I run this command:go build -o mattermost && ./mattermost user create --email <email> --username <username> --password <password>

I get the following error:
can't load package: package github.com/mattermost: no Go files in /Users/Raman/go/src/github.com/mattermo

[2018-12-02 04:18] sebalis commented on #9895
Thanks for taking the time to explain, @lieut-data, and for providing me with a term to read up on. I had more or less guessed what the idea behind PublicChannels was but now I can appreciate it more – I hadn’t really processed the fact that every direct message relationship creates an entry in the Channels table. I will now close the issue.

[2018-12-02 04:18] #9895 closed

[2018-12-02 17:58] vpecinka commented on #9732
Not easy to say now when all is fixed. However, looking to the mysql dump before I reported this, there are mostly NULL  AuthData with `AuthService="gitlab"` and few with `AuthService=""`.

[2018-12-02 19:30] pradeepmurugesan commented on #7494
Waiting for clarification - https://pre-release.mattermost.com/core/pl/y765b8tdaffbucqtxg7mw6tm7h

[2018-12-03 07:43] hanzei commented on #9925
Hey @bullsseye
The main file for Mattermost in located in `cmd/mattermost`. Hence you should run `go run cmd/mattermost/main.go user create --email --username --password`.

Hope this helps.

[2018-12-03 13:34] swood commented on #9918
Wow... Probably you could to fix documentation as well?

[2018-12-03 16:30] amyblais commented on #9834
@fincha Closing this Issue as we haven't heard updates for a while. Please re-open this Issue if the problem persists.

[2018-12-03 16:30] #9834 closed

[2018-12-04 13:43] esethna opened #9940 "[Help Wanted] [MM-13292] Migrate api4/post.go to idiomatic error handling"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 13:46] jespino commented on #9940
@mukulrawat1986 Is going to do this one :)

[2018-12-04 13:48] esethna opened #9941 "[Help Wanted] [MM-13293] Migrate api4/user.go to idiomatic error handling"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 13:50] jespino commented on #9941
@hanzei Do you want to take care of this?

[2018-12-04 14:03] hanzei commented on #9941
@jespino Sure :+1:

[2018-12-04 16:22] esethna opened #9945 "[Help Wanted] [MM-13302] Web: Remove usage of localizeMessage in input box placeholders by creating a reusable component that does the localization"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 16:22] esethna opened #9946 "[Help Wanted] [MM-13301] Web: Remove usage of localizeMessage from Team Settings modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 16:22] esethna opened #9947 "[Help Wanted] [MM-13300] Web: Remove usage of localizeMessage from StatusDropdown component"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 16:22] esethna opened #9948 "[Help Wanted] [MM-13298] Web: Remove usage of localizeMessage for aria-label and title attribues"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 16:22] esethna opened #9949 "[Help Wanted] [MM-13297] Web: Remove usage of localizeMessage and dangerouslySetInnerHTML from components in `components/help`"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 16:22] esethna opened #9950 "[Help Wanted] [MM-13299] Web: Remove usage of localizeMessage when editing a post from the DotMenu component"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 16:32] esethna opened #9951 "[Help Wanted] [MM-13161] Mobile: Add paging to Select Teams screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 21:00] esethna opened #9954 "[Help Wanted] [MM-13318] Migrate to idiomatic error handling in the file `services/filesstore/localstore.go` in the mattermost-server repo."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-04 21:01] jespino commented on #9954
@mukulrawat1986 I created it for you :)

[2018-12-04 21:03] mukulrawat1986 commented on #9954
Thank you :)

[2018-12-04 22:34] kosgrz commented on #9946
I can take this.

[2018-12-04 23:18] amyblais commented on #9946
Thank you @kosgrz!

[2018-12-04 23:21] amyblais commented on #9892
### v5.6 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.6.0-rc1/mattermost-team-5.6.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/a7b88514790e463d58483256f8530866b5ea16c4/source/administration/changelog.md)

[2018-12-04 23:57] somenet opened #9956 "Performance issues with many posts in a thread"
#### Summary
There are in-browser performance issues with many posts in a thread.

We are having a heated debate in a few paralell threads at once.

Once the post-count in the thread reaches above 350 posts, it becomes a major pain-point to load the channel and open the threadview.

It currently takes about 10 sec to load the thread view on a t480 lennovo thinkpad, debian, kde, chromium.

The MM-s

[2018-12-05 00:39] esethna opened #9957 "[Help Wanted] [MM-13325] Design a sample email plugin for Mattermost"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-05 00:39] esethna opened #9958 "[MM-11379] New plugin: Google Calendar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-05 08:55] waseem18 commented on #9958
@esethna I'd love to take this up.

[2018-12-05 10:12] jespino commented on #9940
Closed by #9942

[2018-12-05 10:12] #9940 closed

[2018-12-05 10:13] jespino commented on #9954
closed by #9959

[2018-12-05 10:13] #9954 closed

[2018-12-05 10:23] hanzei commented on #9958
Great @waseem18! Let me know, if you have any questions!

[2018-12-05 10:51] swood opened #9960 "invalid memory address or nil pointer dereference"
#### Summary

Failed api request with invalid memory address or nil pointer dereference.

Mattermost Version: 5.6.0-rc1
Database Schema Version: 5.6.0
Database: mysql

#### Steps to reproduce

I wrote a simple script on Python:

    url = "/api/v4/users/email/%s" % email
    req = requests.get("%s%s" % (mattermost_base_url, url), headers=headers)
    res = req.json()
    return str(res['id'])

[2018-12-05 11:17] chetanyakan opened #9961 "Boolean setting in plugins cannot be updated if their default value is true"
#### Summary
In Admin Console page for plugin settings, boolean setting in plugins cannot be updated if their default value is `true`.

#### Steps to reproduce
1. Create a new plugin.
2. In the settings_schema, create a `bool` setting and set its default value to `true`.
3. Enable the plugin and from the plugin settings page, try to update its value to `false`.

Version: 5.4.0

#### Expected behav

[2018-12-05 14:48] amyblais commented on #9956
Hi @somenet,

I'm able to reproduce this so I'll ask our performance team on if there is a known workaround for this or if I should create a ticket for further investigation.

[2018-12-05 14:56] amyblais commented on #9961
Thank you for the report @chetanyakan, would you be interested in submitting a fix for this?

[2018-12-05 23:34] amyblais commented on #9960
Thanks @swood, I'll ask our developers about this.

[2018-12-06 07:17] jasonblais commented on #9958
Thank you @waseem18!!

[2018-12-06 13:45] amyblais commented on #9853
Hi @sblaisot, we haven't received updates for a while so I'll close this Issue for now. Please re-open this Issue if the problem persists.

[2018-12-06 13:45] #9853 closed

[2018-12-06 13:52] palash25 commented on #9562
Hi there, I would like to take this up if the original assignee is not working on this anymore.

[2018-12-06 15:12] lucchmielowski commented on #9562
Hi there @palash25 / admins ! Yeah i'm lacking time to work on this task right now :disappointed: so feel free to reassign it please :smiley:  !

[2018-12-06 15:14] amyblais commented on #9918
Hi @swood, documentation for this is here: https://api.mattermost.com/#tag/users%2Fpaths%2F~1users~1%7Buser_id%7D~1auth%2Fput.

[2018-12-06 16:14] amyblais commented on #9960
Hi @swood, one of our community members responded and said that this could either be a user error or a bug.

Possible user error: Reasons for App.UpdateUserAuth to fail include an invalid user password and missing required parameter. Can you help check that these are filled in correctly?

Possible bug:  If [App.UpdateUserAuth](https://github.com/mattermost/mattermost-server/blob/v5.6.0-rc1/app/use

[2018-12-06 16:18] amyblais commented on #9842
Hi @swood, one of our community members responded and said what you're seeing could possibly be a warning, not an error. It's caused by the way channels are created: [code](https://github.com/mattermost/mattermost-server/blob/v5.5.0/app/channel.go#L230) always tries to create a channel and takes care of errors if that failed because the channel existed. (Instead of testing if the channel exists an

[2018-12-06 16:20] amyblais commented on #9874
Hi @swood, one of our community members responded and said that we'll need detailed, step-by-step reproduction steps to diagnose this issue. Also, we'll need any log errors from around the time this issue occurs. Thanks!

[2018-12-06 16:39] logand22 commented on #9907
( As a note the below comments are what I believe to be true and might not actually be the case. It's only based on my own experiences debugging this issue. )

As an update to this issue. I found the issue to be with the MySQL replication and not the mattermost order of events.

In my particular case I was orchestrating the deployment of the entire HA cluster. This had the unfortunate impact of st

[2018-12-06 17:16] hanzei commented on #9562
Thanks @palash25! If you have any questions, lets us know.

[2018-12-06 18:17] amyblais commented on #9956
Hi @somenet, would you also be open to sharing any log errors or Console errors from the time this issue occurs?

[2018-12-06 23:40] amyblais commented on #9956
Hi @somenet, I opened a ticket for our performance team to investigate this: https://mattermost.atlassian.net/browse/MM-13390.

[2018-12-07 09:07] #9941 closed

[2018-12-07 12:42] lkraav opened #9972 "5.5.1: password max length (esp. hardcoded, unchangable) is too short"
#### Summary
Devices like Yubikey, in static key configuration mode, output 67 characters at once.

If you want 2FA "short prefix pin + key", it overflows Mattermost Server password limit.

#### Steps to reproduce
Try to set user password 80 characters long. Example:

`X6kyAwdLeCkgb70c00KgK9oqORbQNgRNupt9UDQBEUtwqpZ9IzWOlEFB2cZxJjwPFL8QsbkBXh25wHxw`

#### Expected behavior
I should be able to set

[2018-12-07 13:10] palash25 commented on #9562
Just one questions @hanzei  the `webhook show` command will use these two functions `GetIncomingWebhook` and `GetOutgoingWebhook` in `app/webhook.go` right ?

[2018-12-07 15:16] hanzei commented on #9562
That is correct

[2018-12-07 15:34] amyblais commented on #9972
Hi @lkraav, after some research, I haven't been able to find information on whether there is a specific reason why there is a password length limit. I'll ask our team about this and get back to you.

[2018-12-07 20:09] amyblais commented on #9972
From one of our developers:

"Digging through the history, it seems to have been a bcrypt limitation: https://stackoverflow.com/questions/16594613/how-to-hash-long-passwords-72-characters-with-blowfish/16597402#16597402. We opted to stop the user at 72 characters vs. trying to mess with the hashing algorithm here."

[2018-12-07 20:20] kosgrz commented on #9950
@esethna I'd like to take this.

[2018-12-08 06:39] bullsseye commented on #9957
Hi. I want to pick this up.

[2018-12-08 07:55] hanzei commented on #9957
Thanks @bullsseye! Feel free to join the Developer Toolkit channel on https://community.mattermost.com for further dicussion about this and plugins in general. If you have any question or need an early review, let uns know.

[2018-12-08 07:57] hanzei commented on #9950
Great, thanks @kosgrz :tada:

[2018-12-08 08:12] bullsseye commented on #9957
In my understanding, every channel will be associated to an email id, when this email id will receive a message, I will post this message to the channel.
In the reply case,
1. What will be the email ids I will reply to ?. If there are certain email addresses I will take from the user who is replying, should this be done at the channel level ?
2. When somebody will be sending a reply, the "from" em

[2018-12-08 09:59] lkraav commented on #9972
Thanks.

So why not allow longer entry and perhaps just inform the user? It'd solve this issue's use case.

[2018-12-09 22:40] crazcalm commented on #9597
@hanzei I'm sorry. I can't. I no longer have enough free time to work on this.

[2018-12-09 23:17] nerboda commented on #9885
@amyblais No not yet, I'll let you know as soon as I do.

[2018-12-10 12:46] chetanyakan opened #9979 "Plugin API method to get posts for a specific date range"
#### Summary
I am trying to get posts of a channel for a specific time interval. Currently, there is no Plugin API method for the same. The most similar would be:

[code]

But this will only get posts after a specified time. There is no option to specify an end date.

#### Possible Fixes
Add another API `GetPostsBetween` to get posts in a channel lying in a specific date range.

[2018-12-10 13:50] amyblais commented on #9979
Hi @chetanyakan,

The API documentation also has options for "Before" and "After", would these help: https://api.mattermost.com/#tag/posts%2Fpaths%2F~1channels~1%7Bchannel_id%7D~1posts%2Fget?

Also, here are some Forum threads that might help:
 - https://forum.mattermost.org/t/shouldnt-i-use-since-parameter-for-recursive-fetch/6150
 - https://forum.mattermost.org/t/getting-posts-for-a-channel-on-a

[2018-12-10 15:20] hmhealey commented on #9505
Closing this as all 4 PRs have now been merged. Thanks @letsila!

[2018-12-10 15:20] #9505 closed

[2018-12-10 15:49] hmhealey commented on #9950
Thanks for your work on this, @kosgrz! There's a few other tickets similar to this if you'd be interested in helping with those as well.

Also, feel free to join us on our community server at https://community.mattermost.com where you can join in discussions and ask questions about Mattermost. You can also use https://community-daily.mattermost.com for that if you feel adventurous and want to try

[2018-12-10 15:49] #9950 closed

[2018-12-10 17:12] fincha commented on #9215
havings similar issue here

[code]

[2018-12-10 23:02] amyblais commented on #9892
### v5.6 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.6.0-rc2/mattermost-team-5.6.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/a7b88514790e463d58483256f8530866b5ea16c4/source/administration/changelog.md)

[2018-12-11 07:07] mrbkiter commented on #9080
@ziyadparekh I have implemented a free version of Mattermost supporting clustering. You can check it out here: https://github.com/mrbkiter/mattermost-server

The tech behind is, I used Redis Pubsub to broadcast the messages, and then check to see if the receivers have web connections to send back to users.

[2018-12-11 15:53] esethna opened #9986 "Usernames in system messages should open the profile info screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-11 16:56] hanzei commented on #9597
Still, thank you very much for the time and effort you put into this @crazcalm!

[2018-12-11 17:02] hanzei commented on #9957
1. I don't know if I get your question right. Could you rephrase it?
2. I would say, the e-mail adress a channel is subscripted to should be taken.

[2018-12-11 19:54] kosgrz commented on #9949
I'd take this.

[2018-12-12 01:56] crazcalm commented on #9597
@hanzei Thanks!

[2018-12-12 06:44] hanzei commented on #8512
Fixed with https://github.com/mattermost/mattermost-server/pull/9878. Thanks you very much @mickmister! :tada:

[2018-12-12 06:44] #8512 closed

[2018-12-12 08:14] chetanyakan commented on #9979
@amyblais Sorry for the delayed response.

- The API I mentioned, [`GetPostsSince`](https://developers.mattermost.com/extend/plugins/server/reference/#API.GetPostsSince) is a Plugin API. But it only offers specifying start time and no pagination, nor an ability to specify the end time.

- The API you mentioned in the [API documentation](https://api.mattermost.com/#tag/posts%2Fpaths%2F~1channels~1%

[2018-12-12 09:32] somenet commented on #9956
We have logging enabled at INFO-level. There seems to be nothing of interest in the stderr/systemd log.

There is also nothing of interest in the Chromium-Dev-console.

It just loads like 10 seconds and ``/usr/lib/chromium/chromium --type=renderer --field-trial-handle=12127118630963290989,13623375363994731109,131072 --service-pipe-token=17646642656924818212 --lang=en-US --extension-process --disab

[2018-12-12 09:41] somenet opened #9990 "Rename "flag post" to "bookmark post""
#### Summary
Users seem to expect that "Flag post" means "Report post" and do not think of it as a way to bookmark posts.

Especially as in the web-app "flag post" is not displayed along the other post-actions, but instead by the side of the posting username.

#### Possible fixes
Rename the "flag posts" feature to "bookmark posts".

In the webapp, move bookmark posts to the other post-actions to t

[2018-12-12 09:55] mschaaf commented on #9215
The field LastViewedAt hat a null value for one of the entries in the table ChannelMembers. Setting this to 0 prevented the error. We did the same for LastUpdateAt and MsgCount. The error here leads to an ever-growing number of DB connections. Replacing the null values and avoiding the errors fixes this for us.

[2018-12-12 14:08] amyblais commented on #9979
Hi @chetanyakan,

Sounds good, would this be something you are interested in adding?

Let me know if you don't currently have time and I will add your suggestion to our current Help Wanted ticket for plugin APIs: https://github.com/mattermost/mattermost-server/issues/9458.

[2018-12-12 14:12] amyblais commented on #9961
Thanks @chetanyakan! Opened a ticket for reference: https://mattermost.atlassian.net/browse/MM-13475.

[2018-12-12 14:14] amyblais commented on #9956
Hi @somenet,

Letting you know that the Jira ticket was closed as Won't Fix. Our developers said that we've already made a number of performance improvements to threads over the last while. If it becomes a sore spot in the future and many users are mentioning it then we can take a look at it closer. For now this is a won't fix.

[2018-12-12 14:14] #9956 closed

[2018-12-12 14:18] amyblais commented on #9990
Thanks, appreciate your feedback @somenet!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2018-12-12 15:18] #9610 closed

[2018-12-12 19:36] akhilanandbv003 commented on #9597
Can I work on this?

[2018-12-12 19:59] mkraft commented on #9597
@akhilanandbv003 Yes please! Let me know if you have any questions.

[2018-12-12 20:00] lieut-data commented on #9972
Hey @lkraav! I don't have a great explanation for the difference between the advertise limit of 64 characters (on the system console) and the internal limitation of 72 characters, other than the latter is perhaps an oddity of the implementation vs. a business decision as such.

Truncating the password is definitely an option, though we'd have to give some thought as to how we might upgrade the has

[2018-12-12 20:30] crspeller commented on #9972
I don't have any more context into why the client side limitation is [64 characters](https://github.com/mattermost/mattermost-webapp/blob/master/utils/constants.jsx#L1160) while the server side is 72.

Removing the client side limit would be fine by me. But I don't like the idea of truncating the password even with a user warning.

As for the Yubikey use case mentioned above, they can be configure

[2018-12-12 20:56] lkraav commented on #9972
Any details available on the liking part? Shouldn't good security hygiene dictate the tempo?

Reducing key length to accommodate any app's random-looking password implementations - how would I (or anyone) explain this to project stakeholders?

Aside from the above, it so happens that the static key actually outputs 67 characters, which fits in MM server's current model boundaries. So maybe initial

[2018-12-12 21:57] wikiblue commented on #9365
Is this still being worked on?

[2018-12-12 22:14] kosgrz commented on #9949
@esethna  I have a problem. Let's say I have this message:
[code]
It is currently being rendered to this HTML:
[code]
Of course if I want to remove usage of the localizeMessage method, I cannot just use FormattedMessage component for the whole message, like this:
[code]
because result will be:
[code]
Also I can't use FormattedMarkdownMessage component because there will be no "markdown__heading" c

[2018-12-12 22:59] amyblais commented on #9907
Hi @logand22,

Thank you for sharing your findings, I'll close this Issue for now as the immediate problem is resolved.

[2018-12-12 22:59] #9907 closed

[2018-12-12 23:00] amyblais commented on #9885
Hi @nerboda, The current recommended node version is 10.14.2. Did you already try it with a more recent version?

[2018-12-12 23:59] amyblais commented on #9892
### v5.6 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.6.0-rc3/mattermost-team-5.6.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/a7b88514790e463d58483256f8530866b5ea16c4/source/administration/changelog.md)

[2018-12-13 09:47] hanzei commented on #9621
Fixed with https://github.com/mattermost/mattermost-server/pull/9820.

Thanks you very much @vaithak for the contribution! :tada:

[2018-12-13 09:47] #9621 closed

[2018-12-13 10:40] sapnasivakumar commented on #9986
I would like to work on this

[2018-12-13 12:32] mickmister commented on #8338
Hi @lindalumitchell, this does still need to be implemented on the RHS chat.

I have the feature complete, but I don't have tests finished at the moment. Would you like me to create a new issue for this?

[2018-12-13 15:16] amyblais opened #9996 "Mattermost v5.7"
You can find key dates for v5.7 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### December 17th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### January 14th: Release Build Cut

[2018-12-13 15:41] swood commented on #9960
Hey, @amyblais.
I've found a problem.
The field AppData in the database is unique. So this is the main problem: the Mattermost server can't handle a situation of duplicate that data.

[2018-12-13 20:48] kosgrz commented on #9947
I'd like to this one.

[2018-12-14 00:43] amyblais commented on #9961
I'll close this Issue for now as the PR has been merged.

[2018-12-14 00:43] #9961 closed

[2018-12-14 00:43] amyblais commented on #9925
Hi @bullsseye, did Hanzei's suggestion help?

[2018-12-14 03:10] cedarice opened #9999 "how to dismiss a group messaging"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2018-12-14 13:47] amyblais commented on #9999
Thanks, appreciate your feedback @cedarice.

There is currently no way to do that unless you click the "x" button on the left hand side.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please includ

[2018-12-14 18:30] crspeller commented on #9972
Yup. We agree there. I am just unsure of what solution is the best one for security.

Yup. Let's start with that. @amyblais Can you make a JIRA ticket for that?

[2018-12-14 19:53] amyblais commented on #9972
Ticket here: https://mattermost.atlassian.net/browse/MM-13513

[2018-12-14 20:14] hanzei commented on #9668
Great @migbot, thanks! You might want to look into the closed PR from @wgfm. Let us know if you have any questions.

[2018-12-14 20:16] #9892 closed

[2018-12-14 23:34] kosgrz commented on #9948
@esethna I can take this one.

[2018-12-15 12:41] nephaste opened #10007 "fresh install 5.6 remain no initial configuration and setup (but login screen) while ok in 5.5.1"
Hi Mattermost Team

I built a qpkg on Qnap NAS... based on generic linux x64 pacakge you propose

while in 5.5.1 with fresh install there was no issue... port 8065 drop me to the initial config setup

i did a 5.6.0 this morning, and a new fresh install port 8065 drop me on Login screen directly (not working because no init done previously), it drops on http://192.168.0.8:8065/login

do you have an

[2018-12-16 07:35] cedarice commented on #9999
Thanks for you kindly reply.

[2018-12-16 21:50] hanzei commented on #9948
Thanks @kosgrz! :tada:

[2018-12-16 21:50] hanzei commented on #9951
:+1: Thanks @migbot!

[2018-12-16 21:52] hanzei commented on #9947
Thank you very much @kosgrz!

[2018-12-16 21:56] hanzei commented on #9949
@kosgrz Thanks for your interest in this ticket!

@saturninoabril Could help with the question above?

[2018-12-16 22:01] hanzei commented on #9813
Fixed with https://github.com/mattermost/mattermost-server/pull/9817

[2018-12-16 22:01] #9813 closed

[2018-12-16 22:03] hanzei commented on #9758
Sorry for the late reply. Surly you can work in this. Thanks @kmandagie! :+1: Let us know if you have any questions.

[2018-12-16 22:08] hanzei commented on #9764
@vincealdrin Do you have any questions about this ticket? Can we help you with something?

[2018-12-16 22:09] hanzei commented on #9762
Hey @chrux,

Do you have any questions about this ticket?

[2018-12-16 22:12] hanzei commented on #9761
@amorriscode Did @jasonblais answer help you? Do you have any other questions?

[2018-12-16 22:13] amorriscode commented on #9761
@hanzei Yes, that makes sense! Sorry for the delay. I'm going to do this ticket today.

[2018-12-16 22:14] str255 opened #10008 "direct message myself"
#### Summary
Yes, got a white screen of death when I direct message myself. So there is a self-referential bug there.

#### Steps to reproduce
I am running version 4.2.0
And linux gcc (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

I've just tested

[2018-12-16 23:30] bradjcoughlin commented on #9805
How can I determine if this is for the web app or mobile?

[2018-12-17 03:30] jasonblais commented on #10008
Thanks @str255! Can you help go to the Main Menu shown below, then select About Mattermost, and help take a screenshot of the modal?

![image](https://user-images.githubusercontent.com/13119842/50064995-2afb4f80-0182-11e9-9bc9-90d5fa012621.png)

That will display the Mattermost server version and help us try reproduce the issue.

[2018-12-17 03:31] jasonblais commented on #9805
Good question @bradjcoughlin - this ticket is for the webapp as the mobile app already does the expected behaviour today.

[2018-12-17 03:31] jasonblais commented on #9805
Would you be open to helping with this improvement?

[2018-12-17 07:39] hanzei commented on #9502
Hey @MathieuTougas

Do you have any questions? Looking forward to this feature!

[2018-12-17 07:39] hanzei commented on #9501
Fixed with https://github.com/mattermost/mattermost-webapp/pull/1918

[2018-12-17 07:42] hanzei commented on #9406
Hey @eunicode,

Can we help you with any questions?

[2018-12-17 07:44] hanzei commented on #9233
@mszostok Did @jasonblais answer helped you out? Do you have any other questions?

[2018-12-17 07:45] hanzei commented on #9140
With https://github.com/mattermost/mattermost-webapp/pull/1489#issuecomment-444560116 is mind: Can this issue be closed for now?

[2018-12-17 07:47] hanzei commented on #8092
Making this available for the public again as there hasn't been updates for some month.

[2018-12-17 07:51] hanzei commented on #8782
Fixed with https://github.com/mattermost/mattermost-webapp/pull/1919

[2018-12-17 07:51] #8782 closed

[2018-12-17 07:53] hanzei commented on #8841
Done for TE wth https://github.com/mattermost/mattermost-server/pull/8898
EE PR is https://github.com/mattermost/mattermost-server/pull/9033

Closing this one for now. Thanks you very much @chclaus!

[2018-12-17 07:53] #8841 closed

[2018-12-17 07:56] hanzei commented on #7811
Hey @walidsebai,

Do you have any questions? How is your implementations going?

[2018-12-17 07:57] hanzei commented on #7676
Fixed with https://github.com/mattermost/mattermost-webapp/pull/1839

[2018-12-17 07:57] #7676 closed

[2018-12-17 08:02] hanzei commented on #6090
@jespino Is this something which could or should be done with https://github.com/mattermost/mattermost-utilities?

[2018-12-17 08:08] hanzei commented on #9399
@waseem18 As there hasn't been any update on this one from @claytonlemons: Go ahead and work on this, please :+1:

[2018-12-17 08:10] hanzei commented on #8874
Bootstrap 3.4.0 go released with fixes for this XSS issues. https://blog.getbootstrap.com/2018/12/13/bootstrap-3-4-0/ I think its worth to look into this more, since removing bootstrap will take some time.

[2018-12-17 08:10] hanzei commented on #9767
Fixed with https://github.com/mattermost/mattermost-server/pull/9804

[2018-12-17 08:10] #9767 closed

[2018-12-17 08:12] hanzei commented on #9541
@waseem18 How is your implementation doing? Can we help with something?

[2018-12-17 08:12] hanzei commented on #9484
Fixed with https://github.com/mattermost/mattermost-server/pull/9712

[2018-12-17 08:12] #9484 closed

[2018-12-17 08:13] hanzei commented on #9808
Fixed with https://github.com/mattermost/mattermost-mobile/pull/2428

[2018-12-17 08:13] #9808 closed

[2018-12-17 08:16] hanzei commented on #7801
@levb Can this be closed as https://github.com/mattermost/mattermost-server/pull/9835 got merged?

[2018-12-17 08:46] hanzei commented on #9507
@jlevesy How is your implementation going? Do you have any questions?

[2018-12-17 08:48] hanzei commented on #9680
@avasconcelos114 Did @hmhealey help you? Do you have any other questions?

[2018-12-17 08:49] hanzei commented on #9358
Fixed with https://github.com/mattermost/mattermost-webapp/pull/1853 and https://github.com/mattermost/mattermost-redux/pull/651

[2018-12-17 08:49] #9358 closed

[2018-12-17 08:52] hanzei commented on #9504
@SkipperEl Great that you are working on this! :+1: Do you have any questions?

[2018-12-17 08:52] hanzei commented on #9398
@dnguneratne How is your work on this ticket going? Do you have any questions?

[2018-12-17 08:55] hanzei commented on #9718
@JayaKrishnaNamburu How is your working on this ticket going? Can we help with something?

[2018-12-17 08:58] hanzei commented on #9596
Hey @mukulrawat1986, How is your work on this ticket doing? Can we help with something?

[2018-12-17 09:06] avasconcelos114 commented on #9680
Ah yes, I'm sorry I haven't been following up on this.

I had run into one thing that needed clearing up since I've only done the customizing of templates/i18n files and individual clients without recompiling a whole new server.

When downloading installation tarballs from the Mattermost website, the `mattermost` directory usually comes with its many components built-in (client, config, templates,

[2018-12-17 09:08] mukulrawat1986 commented on #9596
@hanzei  Hey, I am just busy with some personal things, I have done half of this already. I will try and push it soon.

[2018-12-17 09:21] walidsebai commented on #7811
well i finished the go part but stuck in the testing  phase

[2018-12-17 09:56] hanzei commented on #7811
I not sure how to test the sqlstore. @lieut-data could you help with this?

[2018-12-17 09:58] hanzei commented on #9596
Thanks for the heads up @mukulrawat1986. No need to hurry, I just wanted to check if you are still working on this and if you need help. Looking forward to your PR!

[2018-12-17 10:04] hanzei commented on #9680
You can just use `make package` to bundle up all needed files. But you need to run `make build`, or `make build-linux` if you are building for a specific OS, first.

[2018-12-17 11:07] cpanato commented on #9679
fixed via https://github.com/mattermost/mattermost-webapp/pull/1905

[2018-12-17 11:07] #9679 closed

[2018-12-17 11:52] jespino commented on #6090
Yes, is already done through  https://github.com/mattermost/mattermost-utilities

[2018-12-17 12:07] jasonblais commented on #9140
yes, good catch @hanzei. Closing as per this comment

[2018-12-17 12:07] #9140 closed

[2018-12-17 12:11] jasonblais commented on #6090
Thanks Hanzei and Jesús! Closing given this ticket is covered by https://github.com/mattermost/mattermost-utilities

[2018-12-17 12:11] #6090 closed

[2018-12-17 13:20] jasonblais commented on #10007
@nephaste Thank you for the report! We've created a ticket to investigate, but it appears to be a bug. You should be redirected to user account creation page if no users exist on the system.

https://mattermost.atlassian.net/browse/MM-13520

[2018-12-17 15:13] levb commented on #7801
Yes I was just filing related tickets last night.
- Updated https://mattermost.atlassian.net/browse/MM-10188 to be the ticket for XL file upload, as there's still an issue with plugins to work out.
- Logged https://mattermost.atlassian.net/browse/MM-13519 to improve the handling of excessive http payloads

[2018-12-17 15:13] #7801 closed

[2018-12-17 15:32] somenet opened #10011 "[MM 5.6.0] White page after using file upload dialog"
#### Summary
When users use the website's image upload, it uploads the file and then the page goes white.

After reloading the page (F5) the file is attached and the thumbnail generated, ready to be posted.

#### Steps to reproduce
1: click on attach file (file selection dialog opens)
![mm-screen-1](https://user-images.githubusercontent.com/5354356/50096989-2afa5e80-0219-11e9-86d7-f8e618ff6697.png

[2018-12-17 16:00] havedill opened #10012 "Resizable Sidebar / Hideable"
It would be nice to be able to click/drag the sidebar (where channels are) and resize it/ hide it if desired.

Resizing it and having a channel name abbreviated with ... could make sense;

ex: Town Square once it starts getting cut off would become Tow... (depending on how small you make the sidebar

[2018-12-17 16:15] somenet commented on #10011
Found some chromium logs
[code]

[2018-12-17 17:01] lieut-data commented on #7811
@hanzei, thanks for the handoff! @walidsebai, if there's any specific questions you have, I'd be happy to help out. You might take a look at one of my active [PRs](https://github.com/mattermost/mattermost-server/blob/942645ac943e1837e59a590848f30c253f6d6edc/store/storetest/bot_store.go) that exposes a new suite of unit tests for a new store, though I suspect your case will be simpler since you're

[2018-12-17 17:03] bradjcoughlin commented on #9805
@jasonblais In fact, I am!

[2018-12-17 17:35] jasonblais commented on #9805
Awesome, thank you! Let us know if you have any questions :)

[2018-12-17 17:38] hanzei commented on #7801
mattermost.atlassian.net/browse/MM-13519 isn't public. Is this intended?

[2018-12-17 17:40] MagnificentPako commented on #10007
Not sure if my problem is linked to this but after manually creating an account (I never got to the register page so I tried to do it from the CLI) I couldn't access the system console from that account even after making it a system admin.

[2018-12-17 17:43] jasonblais commented on #10007
@MagnificentPako Thanks for the note, have added that detail to the ticket as well. https://mattermost.atlassian.net/browse/MM-13520

We have a triage in the next hour where we'll discuss these issues.

[2018-12-17 18:17] gabrieljackson commented on #9765
I would like to take a shot at this!

[2018-12-17 18:40] jasonblais commented on #10007
@nephaste @MagnificentPako Heads up that we're now investigating both issues reported above separately and planning a 5.6.1 for them.

https://mattermost.atlassian.net/browse/MM-13520
https://mattermost.atlassian.net/browse/MM-13536

We'll announce the release date, but expect it to be this week before the holidays.

[2018-12-17 18:48] nephaste commented on #10007
thanks Jason

[2018-12-17 19:38] MagnificentPako commented on #10007
@jasonblais looks like the ticket for my (separate) issue was flagged "not reproducable". I hope  you don't mind if I provide some info here:

I set mattermost up with `docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview`. After that I went to https://instance.url/signup_email/ and created an account. After that I assumed I should be able to create a team but

[2018-12-17 20:15] levb commented on #7801
@hanzei let's discuss in the JIRA ticket, more appropriate there?

[2018-12-17 20:34] jasonblais commented on #10007
@MagnificentPako Would you know if you have other users and/or System Admins on the system?

The console is only accessible to System Admins - if you create a team, you'll become the team owner but would not have System Admin privileges.

[2018-12-17 21:54] jasonblais commented on #10012
Thanks, appreciate your feedback!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing, please

[2018-12-17 22:00] jasonblais commented on #9990
Thanks @somenet for opening a feature proposal for it: https://mattermost.uservoice.com/forums/306457-general/suggestions/36299584-rename-flag-post-to-bookmarked-post

I'll close this ticket for now and we can track in the feature proposal forum. We also have a ticket here to add the flag option to the post menu, but we'd likely keep the flag icon as well: https://mattermost.atlassian.net/browse/M

[2018-12-17 22:00] #9990 closed

[2018-12-17 22:38] havedill commented on #10012
Will do! Thanks. Couldn't find a requests page when i was looking earlier

[2018-12-17 22:46] kosgrz commented on #9949
@saturninoabril thanks for the answer!
Unfortunately `FormattedMarkdownMessage` doesn't support markdowns like `\n\n` and doesn't add a `markdown_heading` class to `h` tags. So the result of the following code:
[code]
will be:
[code]
As you can see, the `h2` tag doesn't have a `markdown__heading` class. Also, text "Attach a file..." isn't inside a `p` tag.

Maybe I could create a new component, wh

[2018-12-17 22:47] lindalumitchell commented on #8338
Thanks @mickmister ! @esethna what's the best way to do this; new issue?

[2018-12-17 22:55] eunicode commented on #9406
Hi @hanzei, thanks for checking in. I deeply apologize for not updating on my status sooner. I have been having problems setting up my development environment. However, I would love to try tackling this again, and would really appreciate one more week to work on this. If more time cannot be spared, I completely understand.

[2018-12-18 02:17] jasonblais commented on #10011
Thanks @somenet for the report. Just a few questions to help narrow down the issue.

1. Are you using the Desktop App, or Chrome browser?
2. Which operating system do you have, Windows, Mac, or Linux?
3. How many users does this reproduce on your system, do you know?

[2018-12-18 07:47] hanzei commented on #9406
Hey @eunicode,
Did you follow the steps on https://developers.mattermost.com/contribute/webapp/developer-setup/ already? You can also join [our Community Server](http://community.mattermost.com/) and ask for help there. It easier to solve setup problem in a chat room.

We are not in a hurry. I wanted to check if you are still working on this. Take the time you need! And let us know (here or on the

[2018-12-18 08:04] lindy65 commented on #10012
Thanks @havedill,

Please post a link to the feature idea forum here so we can track :)

[2018-12-18 08:04] bars83 opened #10018 "Mobile app (on Android) crashed after server upgrade to 5.6"
#### Summary
After upgrading to 5.6 mobile app do not work. On lastest mobile app version and on previous version.

#### Steps to reproduce
upgrade 5.5 to 5.6, than run mobile app (android)

#### Expected behavior
Expected mobile app will work normally

#### Observed behavior (that appears unintentional)
Mobile app crashes with message (in "show details") "java.lang.RuntimeException: Could not inv

[2018-12-18 08:18] lindy65 commented on #10018
Hi @bars83

Thanks for the report,

Can you share which device and Android version you are experiencing this?

[2018-12-18 08:51] saturninoabril commented on #9949
@kosgrz Sorry for  I misunderstood and missed to read from the top.  The goal is to remove the markdown as much as possible.  So your initial proposal above (screenshot below) is what we wanted to achieve.  It's also expected to change/break the translation files, so no worry.  Please go ahead with your plan.

![screen shot 2018-12-18 at 4 49 07 pm](https://user-images.githubusercontent.com/533450

[2018-12-18 10:32] lindy65 commented on #10018
Hi @bars83

I believe you will need to upgrade your Android version as the minimum version required to run Mattermost v1.15 app is Android 7.0

Let us know how it goes after you've upgraded your Android version :+1:

[2018-12-18 10:54] bars83 commented on #10018
Thanks!

[2018-12-18 10:54] #10018 closed

[2018-12-18 14:57] waseem18 commented on #9541
@hanzei I completely missed this issue. I have some code for this in a branch.

I'll look into it.

[2018-12-18 17:27] Cyrille37 opened #10020 "Notification Email missing Team name"
#### Summary
The Notification Email does not containt the "Team" name.

#### Steps to reproduce

1. Do something that throw a notification email.
2. The received notification email contains the "Channel" name and the "User" name, but not mention of the "Team" name.

#### Expected behavior

That there is a "Team" name reference somewhere in the email body or in the email subject.

#### Possible fix

[2018-12-18 17:54] sraupach commented on #9278
Hey. I have the same issue on a 5.6 cluster and i can not enable it in cluster mode for both nodes over the System Console.

The configuration is fine (jira->true)

[2018-12-18 19:08] jasonblais commented on #9278
@sraupach Do you see any errors in the server logs (System Console > Logs)?

[2018-12-18 22:46] eunicode commented on #9406
@hanzei Yes, I've done both, but I will try again and experiment with new configurations (I think my problems might stem from using MinTTY), and then ask for help in the community server. Thank you so much for being so understanding.

[2018-12-19 02:44] jasonblais commented on #10012
Thanks @havedill for creating it! I just noticed the feature proposal here: https://mattermost.uservoice.com/forums/306457-general/suggestions/36303472-allow-resizing-and-hiding-of-sidebar

I'll close this issue and we can track the proposal in Uservoice. Thanks for contributing! 🎉

[2018-12-19 02:44] #10012 closed

[2018-12-19 05:45] jasonblais commented on #10020
Hey @Cyrille37, do you know if email batching is enabled on your system? If you're a System Admin, you can find this in **System Console > Email > Enable Email Batching**.

Also, which Mattermost server version do you have? You can find this via the Mattermost main menu next to your user profile (in top left corner), then About Mattermost, then Mattermost Version.

[2018-12-19 06:46] sraupach commented on #9278
@jasonblais there has been one error.

![grafik](https://user-images.githubusercontent.com/8362597/50203524-15448080-0362-11e9-972d-618d21fd2cb5.png)

In our config.json we have enabled jira but it does not start by application start which it did before upgrading to 5.6.

[2018-12-19 09:41] Cyrille37 commented on #10020
Hello @jasonblais
The server is a "Mattermost 5.4.0" at https://framateam.org.
Do you mean that email batching have email template that can be customized to add the "Team" name ?

[2018-12-19 10:33] DenKoren opened #10023 "createPost: post creation fails when number of file IDs in list is more than 5"
#### Summary
When creating post (HTTP POST request to '/posts' URI) API responses with error model.post.is_valid.file_ids.app_error (Invalid file ids) when number of file IDs provided in request is more than five.

#### Steps to reproduce
Mattermost Version: 5.5.1

* Auth in mattermost API to be able to interact with it.
* Upload 6 or more test files to any channel (including direct channels) or g

[2018-12-19 10:51] swood commented on #9874
Hi, @amyblais. Sorry for the long answer.

I can write about all my process.
1. I had HipChat, the old message system. I made an export from HipChat and converted it to a lot of Jsonl files: Mattermost import.
2. I imported all data to the Mattermost with version 5.4. I can search an inactive man via cmd+k, and I can read chat with him as well.
3. I upgraded a version Mattermost server to 5.5. Aft

[2018-12-19 10:53] swood commented on #9918
Hey, @kyxap1. Your repo isn't available for me.

[2018-12-19 11:32] kyxap1 commented on #9918
try now

[2018-12-19 12:22] jasonblais commented on #9278
@sraupach Thank you for the report, we've reached out to our engineers for thoughts.

[2018-12-19 12:53] jasonblais commented on #9278
@sraupach We've identified the cause and fixed it. We'll release 5.6.1 this week along with a couple of other fixes. You can track progress of your JIRA ticket here: https://mattermost.atlassian.net/browse/MM-13558

Changelog for 5.6.1 is drafted here https://docs.mattermost.com/administration/changelog.html#release-v5-6

[2018-12-19 12:57] jasonblais commented on #10023
Thanks @DenKoren! We limit file uploads to 5 per post, but agree we should clearly state it in our documentation and provide a better error message for it.

Have created a ticket for us to track: https://mattermost.atlassian.net/browse/MM-13559

Would you be open to helping improve the experience? Sounds like you already have a good idea on how and where to fix. We'd be happy to guide you if you h

[2018-12-19 13:04] jasonblais commented on #9278
@sraupach To follow up - you can also take these steps to fix the issue on your JIRA plugin without waiting for our 5.6.1 release:

1. Remove the JIRA plugin archive in `prepackaged_plugins/` folder.
2. Upload an updated version of the JIRA plugin containing the fix in System Console > Plugins > Management. Here is the updated version of the plugin: https://github.com/mattermost/mattermost-plugin-

[2018-12-19 13:35] jasonblais commented on #10020
Thanks @Cyrille37 for following up!

Email batching refers to grouping notifications together and sending them (for instance) every 15 minutes, rather than sending a separate email notification for every message.

You can find out if email batching is enabled in **System Console > Email > Enable Email Batching**, or ask your System Administrator to help check that for you.

[2018-12-19 13:38] Cyrille37 commented on #10020
Thanks a lot for explanations.
Cheers.

[2018-12-19 13:38] #10020 closed

[2018-12-19 15:37] DenKoren commented on #10023
I see the following fixes:

#### Server side
I have no idea about how to fix it on server side correctly.
If the limitation was intended, the server should say it in a message. Error 'incorrect file IDs' is not good for situation when client provided full list of correct IDs obtained from server just a moment ago. It confuses.

#### Documentation
https://api.mattermost.com/#tag/posts says nothing

[2018-12-19 16:03] jasonblais commented on #10023
Thanks @DenKoren! Agree, propose we

1. Change the error message server side to be `Uploads limited to 5 files maximum. Please use additional posts for more files.`.

2. Add a note in the `file_ids` parameter description for 'create a post' call and the files section of the API doc to mention the same. [which is what you proposed as well]

[2018-12-19 21:16] felibb opened #10026 "Notification badge does not clear on iOS app icon in v 1.15"
#### Summary
Notification badge does not clear on iOS app icon

#### Steps to reproduce
* Receive message; open app, read all unread messages
* Return to home screen

#### Expected behavior
Badge disappears.

#### Observed behavior (that appears unintentional)
Badge displays obsolete count of unread messages.

#### Environment
iOS app v 1.15, server v 5.1.0, iOS v 11.4.1

#### Comment
Force-quit d

[2018-12-20 02:07] gupsho commented on #6798
Hi @hanzei I was not able to work on it for last few weeks and probably wont be able to during the holiday season. Can pick it up again in the new year but feel free to assign to somebody if they can work on it sooner. Apologies for the delay.

[2018-12-20 06:33] amorriscode commented on #9759
Looks like this needs doing! I'd be willing to take a stab at it. I also found [this resource](https://github.com/jonmagic/copy-excel-paste-markdown) which may be useful.

[2018-12-20 07:21] felibb commented on #10026
No, I mean there is a red dot with the number representing the count of unreads prior to opening the app. Bad wording, sorry.

Cannot test anymore, no access to older versions, but cannot remember seeing this issue ever before.

It looks like the badge might clear after another 1-1 chat receives new messages. Temporary glitch? I'll observe more today, and update this issue.

[2018-12-20 07:38] lindy65 commented on #10026
Thanks @felibb

Please let us know how your observations go and we can investigate further if you are still seeing the issue. To note - we did have an issue of the notification badge not clearing on a previous server version of Mattermost so perhaps upgrading to the latest server version will help resolve the issue if you're still seeing it.

[2018-12-20 08:12] sraupach commented on #9278
@jasonblais i did exchange the Plugin v1.0.2 with v1.0.3 on Mattermost 5.6.0.

The behaviour looks good to me but the plugin itself does not work.
<img width="458" alt="grafik" src="https://user-images.githubusercontent.com/8362597/50272180-388d2f80-0437-11e9-8bcb-4f4c44888739.png">

[2018-12-20 08:51] hanzei commented on #6798
Hey @gupsho,

Thanks for the reply. I will make this ticket available to the public again. If no one pick its put, it would be great if you work on this once you got the time!

[2018-12-20 08:52] hanzei commented on #9759
Great @amorriscode! :+1:  Let us know, if you have questions.

[2018-12-20 12:21] gaspode opened #10027 "Failed post delete blocks subsequent posts"
#### Summary
Failed post delete blocks subsequent posts

#### Steps to reproduce
MM Enterprise 5.4.0 on CentOS 7.5
Bug is with web client and also desktop apps (Linux 4.1.2 and Windows 4.2.0-develop)
Post editing is allowed for 60s. Deletions are not allowed.

* User posts in channel
* Hits up-arrow to edit post
* Removes all text, clicks save
* Clicks Delete on "Are you sure you want to delete...

[2018-12-20 12:32] jasonblais commented on #9278
@sraupach Do you see errors in the **System Console > Logs** related to the JIRA plugin? Or any errors in **System Console > Plugins > Management**?

As a note, we're releasing 5.6.1 in a few hours that contains a fix for the JIRA plugin - the download links will be available at https://mattermost.com/download/ soon.

Appreciate your patience.

[2018-12-20 12:35] jasonblais commented on #9278
@sraupach Do you see errors in the **System Console > Logs** related to the JIRA plugin? Or any errors in **System Console > Plugins > Management**?

As a note, we're releasing 5.6.1 in a few hours that contains a fix for the JIRA plugin - the download links will be available at https://mattermost.com/download/ soon.

Appreciate your patience.

[2018-12-20 15:50] sraupach commented on #9278
@jasonblais we are logging on level ERROR and the logs are "clean". The Management Page looks fine aswell.

![grafik](https://user-images.githubusercontent.com/8362597/50294946-4bbfef80-0477-11e9-9fe2-7bda8a463bcc.png)

Do you guess that an update to 6.5.1 will solve the issue?

[2018-12-20 16:08] lindy65 commented on #9278
Hi @sraupach,

Jason is out for a little while so I thought I'd let you know that the download links for 5.6.1 are now available at https://mattermost.com/download/

I'm guessing that the Jira plugin fix that went into this patch will help resolve your issue.  If you're still having problems after upgrading, please let us know and we can ask one of our devs to help troubleshoot further.

[2018-12-20 18:47] hanzei commented on #9668
Just to clarify: This ticket is about a `webhook modify-outgoing` command. It should be implemented similar to `webhook modify-incoming`. You might want to take a look at https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/commands/webhook.go#L157-L205

1. No. There is no need to touch this method.
2. Similar to `webhook modify-incoming` the argument should be in the format

[2018-12-21 13:42] irLinja opened #10029 "Any way to change default notification sound"
I can't find any way to change mattermost notification sound to a custom one from my company.
We are using hosted team edition and didn't find anything in docs.

[2018-12-21 15:56] jasonblais commented on #10011
@somenet We weren't able to reproduce the issue, but have added a fix which we expect to resolve it.

The fix is included in 5.6.1 released yesterday. It is available to download at https://mattermost.com/download/

Closing the issue, but please feel welcome to reopen if you continue to see the issue after the upgrade.

[2018-12-21 15:56] #10011 closed

[2018-12-21 15:57] jasonblais commented on #10007
@nephaste Fix for your issue is resolved in 5.6.1 and is available for download at https://mattermost.com/download/. Thank you for letting us know about it!

@MagnificentPako I'll close the issue, but feel free welcome to open a new one for the issue you're experiencing. As a note, if there are other users or System Admins already in the system, creating a team won't give you System Admin privileg

[2018-12-21 15:57] #10007 closed

[2018-12-21 18:44] jasonblais commented on #9278
@sraupach There are still some reports of the JIRA plugin not working in 5.6.1 and we've been able to reproduce it.

The plan is to fix this with 5.6.2, which we expect to release shortly after the holidays. Here is the ticket to track: https://mattermost.atlassian.net/browse/MM-13581

[2018-12-21 19:59] jasonblais commented on #10023
Nice catch @efisuby

Would you or @DenKoren be open to helping with the following changes?

1. Change the error message server side to be `Uploads limited to 5 files maximum. Please use additional posts for more files.`.

2. Add a note in the `file_ids` parameter description for 'create a post' call and the files section of the API doc to mention the same.

3. Fix description of `filename` paramet

[2018-12-21 20:48] jasonblais commented on #10027
Thanks @gaspode for the report! I've created a ticket for us to investigate and fix https://mattermost.atlassian.net/browse/MM-13583

[2018-12-22 00:34] jasonblais commented on #10029
Hey @irLinja - appreciate your feedback. We have a feature proposal for it - would you be open to upvoting it and participating in the discussion? You get 10 votes in the feature idea forum, and each one influences the future of the project.

https://mattermost.uservoice.com/forums/306457-general/suggestions/8686084-change-notification-sound

[2018-12-22 12:35] irLinja opened #10031 "rotate logs with logrotate"
Hi,
I have setup logrotate to rotate old logs of mattermost which is running from a systemd service with below configuration:
[code]
and logrotate config as following:
[code]
seems like the problem is SIGHUP kills the mattermost process.
is there any signals to tell mattermost process to recreate its log file?
or do I need to add `restart=always` to systemd service to restart the process every tim

[2018-12-22 12:35] irLinja opened #10032 "rotate logs with logrotate"
Hi,
I have setup logrotate to rotate old logs of mattermost which is running from a systemd service with below configuration:
[code]
and logrotate config as following:
[code]
seems like the problem is SIGHUP kills the mattermost process.
is there any signals to tell mattermost process to recreate its log file?
or do I need to add `restart=always` to systemd service to restart the process every tim

[2018-12-22 15:01] walidsebai commented on #7811
i will have a look at it tonight

[2018-12-22 15:42] jasonblais commented on #10032
I'll close this one as a duplicate of https://github.com/mattermost/mattermost-server/issues/10031

[2018-12-22 15:42] #10032 closed

[2018-12-22 15:44] irLinja commented on #10032
thanks.

[2018-12-22 17:41] esethna opened #10033 "[Help Wanted] [MM-13225] UI Automation: Write an automated test using Cypress for "Display - Fixed width""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:42] esethna opened #10034 "[Help Wanted] [MM-12998] UI Automation: Write an automated test using Cypress for "Escape should not close modal while autocomplete is in use""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:42] esethna opened #10035 "[Help Wanted] [MM-12995] UI Automation: Write an automated test using `cypress` for "Cancel out of leaving a team""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:42] esethna opened #10036 "[Help Wanted] [MM-13473] UI Automation: Write an automated test using `cypress` for "Message Draft - Pencil Icon""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:42] esethna opened #10037 "[Help Wanted] [MM-13564] UI Automation: Write an automated test using Cypress for "Ellipsis indicates the channel header is too long""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:42] esethna opened #10038 "[MM-13483] UI Automation: Write an automated test using Cypress for "Cleared search term should not reappear as RHS is opened and closed""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:46] esethna opened #10039 "[Help Wanted] [MM-13548] UI Automation: Write an automated test using `cypress` for "Team or System Admin searches and adds new team member""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:46] esethna opened #10040 "[Help Wanted] [MM-13542] UI Automation: Write an automated test using `cypress` for "Open edit modal immediately after making a post""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:46] esethna opened #10041 "[Help Wanted] [MM-13482] UI Automation: Write an automated test using `cypress` for "Timestamp on edited post shows original post time""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:46] esethna opened #10042 "[Help Wanted] [MM-13336] UI Automation: Write an automated test using Cypress for "Delete a parent message that has a reply while RHS is open""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:46] esethna opened #10043 "[Help Wanted] [MM-13326] UI Automation: Write an automated test using `cypress` for "Text in bullet points is the same size as text above and below it""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-22 17:46] esethna opened #10044 "[Help Wanted] [MM-13279] UI Automation: Write an automated test using `cypress` for "Account Settings" > Add Nickname"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-12-23 12:50] jjellinek commented on #10008
Upgraded server and tested again. Problem still exists on this version:-

Mattermost Enterprise Edition

Mattermost Version: 5.6.1
Database Schema Version: 5.6.0
Database: mysql

[2018-12-23 17:27] emresaracoglu opened #10045 "In which version WebRTC has been removed?"
Hi,

I am currently using version 5.2. In which version WebRTC has been removed?
Since WebRTC is very important to me, I will upgrade to the latest version in which it is available.

Thank you.

[2018-12-23 18:04] jasonblais commented on #10008
Thanks @jjellinek for sharing!

@str255 @jjellinek Would you be open to sharing the contents of your JavaScript Developer Console at the time this error occurs? [Here is how to do so](https://webmasters.stackexchange.com/questions/8525/how-do-i-open-the-javascript-console-in-different-browsers).

I was unable to reproduce, so errors in the console can help pinpoint the cause.

[2018-12-23 18:34] jjellinek commented on #10008
This happens in the clients, not in the web browser.

[2018-12-23 18:38] jasonblais commented on #10008
Thanks @jjellinek, got it. Here is how you can share contents on the Desktop App https://docs.mattermost.com/install/desktop.html#reporting-issues

[2018-12-23 18:47] jasonblais commented on #10045
Hi @emresaracoglu, WebRTC was removed in Mattermost 5.6. All changes are documented here https://docs.mattermost.com/administration/changelog.html

We have several video and audio calling options available in place of WebRTC https://docs.mattermost.com/deployment/video-and-audio-calling.html

Which features and functionality does WebRTC have that made it very important to you and your team? We wil

[2018-12-23 18:49] jjellinek commented on #10008
[-1545590798860.log](https://github.com/mattermost/mattermost-server/files/2706213/-1545590798860.log)

[2018-12-23 18:50] jasonblais commented on #10031
@irLinja Thank you for the report. I did some investigation but I'm not sure. I have shared your question in our public community server as well: https://community.mattermost.com/core/pl/me1bpy7yhbyrj8on7wprg88f6e

Note that it might take a little longer for a response given the holiday season. :)

[2018-12-23 19:09] nephaste commented on #10007
confirmed it is fixed .. thanks to everyones

[2018-12-23 19:38] emresaracoglu commented on #10045
Upgraded to Version 5.5.1.
**Thank you for the information.**

I hope that will be published as soon as plugin.

[2018-12-23 19:38] #10045 closed

[2018-12-23 23:00] jasonblais commented on #9278
@sraupach We have released 5.6.2 which should fix any remaining issues with the JIRA plugin. It is available to download here https://mattermost.com/download/

If you notice any further issues, please let us know.

[2018-12-24 00:32] krisfremen commented on #10031
@irLinja currently, mattermost doesn't handle any signals. Long-term might be a nice addition to have signal handling for things like this though.

Short term, two optiosn:

1) Use logrotate with copytruncate.

2) Pipe to syslog and use syslog's rotation.

[2018-12-24 12:17] casparjones opened #10047 "manifest.json Url"
#### Summary
Problem with App URL in Chrome OS (manifest.json URL?)

#### Steps to reproduce
Use the Button "add to Homescreen" in Chrome. The App will Open in the subfolder "/static"

#### Expected behavior
I suspect, because in the manifest.json which is under static the URL points to "." the URL is also interpreted wrong by Chrome.

#### Possible fixes
Maybe it helps to set the URL to "/" or to

[2018-12-24 13:18] patniharshit commented on #10044
I would like to claim this one :)

[2018-12-25 06:46] tankerkiller125 commented on #9680
I'm not 100% certain if this should be a separate issue of if this is related to this question however I feel that it fits here if it does not please let me know and I'll make a separate issue for it.

Is there any documentation/possibility for developers to compile an "enterprise-ready" edition of the source code. So far I've tried setting the environment variables listed in the makefile with no

[2018-12-25 08:32] hanzei commented on #9599
Great! Thanks @migbot :+1:

[2018-12-25 08:33] hanzei commented on #10044
Wow, that was a quick PR. Thanks @patniharshit :+1:

[2018-12-25 11:38] pradeepmurugesan commented on #10035
I can pick this one

[2018-12-25 12:43] sapnasivakumar commented on #10036
I would like to work on this one

[2018-12-25 14:48] pradeepmurugesan commented on #6798
I can pick this one

[2018-12-25 14:52] hanzei commented on #6798
Nice. Thanks @pradeepmurugesan!

[2018-12-26 15:12] hanzei commented on #10035
That's a fast PR. Thanks @pradeepmurugesan!

[2018-12-26 17:42] kosgrz commented on #9948
When I was testing my changes, I found an issue on the right sidebar. When you hover the mouse over the expand icon, two tooltips appear:
![issue](https://user-images.githubusercontent.com/45372453/50452983-d1dbaa80-093d-11e9-9ac8-9294760cbce3.png)

The upper tooltip is created by the `OverlayTrigger` component. The lower is just a text from the `title` attribute of the icon element. I don't think

[2018-12-26 23:35] hanzei commented on #9948
Nice catch @kosgrz!
I think only `OverlayTrigger` should be shown. @saturninoabril Can you confirm this?

[2018-12-26 23:36] hanzei commented on #8464
Nice, thanks @harenlewis! Let us know if you have any question.

[2018-12-26 23:47] hanzei commented on #8092
Hi @ejachang,

sorry for misleadingly removing the `go` label. It would be great, if you continue your work on this ticket!
Do you need help to set up your dev environment? Do you still have questions about this ticket?

[2018-12-27 03:07] dupont-kedama opened #10050 "Inappropriate icon in "Team Statistics"."
#### Summary
Inappropriate icon in "System Console" > "Team Statistics".

#### Observed behavior
Open "System Console" > "Team Statistics".

+ "Public Channels" -> Team?Members? icon.
+ "Private Channels" -> World?Earth? icon. (Probably the old version icon)

![screenshot 388](https://user-images.githubusercontent.com/5292063/50463489-7a861a80-09cf-11e9-84ce-5b4a25cb5b87.png)

#### Expected behavi

[2018-12-27 07:39] ejachang commented on #8092
Hi Hanzei,

I'm good for now on my dev environment! I was experiencing problems with running make commands related to[ this](https://stackoverflow.com/questions/14219092/bash-my-script-bin-bashm-bad-interpreter-no-such-file-or-directory), but it was solved. The other error was fixed with an update.

I don't have any questions right now on this ticket, but will definitely let you know! Thank you so

[2018-12-27 17:37] harenlewis commented on #8464
Great @hanzei, will definitely need some help, especially in machine setup since I'm a new contributor.
Okay, to start off I have a few doubts and just to check if I have figured things out correctly:

1) Fork the main repo mattermost-server
2) I need to fork the mattermost-redux repo for working on reducers,
3) For working on actions I need to fork the  mattermost-webapp repo

Is this correct?

[2018-12-27 18:54] nitishm commented on #8942
@henzai Is this something a beginner to mattermost could tackle ? I haven't spent too much time in the codebase but am pretty well versed in Go.

If so I would like to take this on, as a way to get familiar with the server code.

[2018-12-27 19:00] harenlewis commented on #8464
Thanks, @hanzei, definitely will need some help, especially in machine setup, since I'm a new contributor. Will let you'll know if I face any hurdle.

[2018-12-27 20:38] hanzei commented on #8464
Sure. Feel free to DM me on the [Mattermost Community Server](https://community.mattermost.com) or ask your question in the `Developers` channel.

[2018-12-27 23:18] saturninoabril commented on #9948
@hanzei is right. Use overlay attribute of `OverlayTrigger` for tooltip and delete `title` attribute causing duplicate tooltip.

Thanks @kosgrz!

[2018-12-28 00:32] dupont-kedama opened #10051 "Language not set is selected in "Account Settings"."
#### Summary
Language not set is selected in "Account Settings".
(There is no problem with normal use.)

#### Steps to reproduce
Set as follows.

+ System Console > Localization
  + Default Server Language: Japanese
  + Default Client Language: Japanese
  + Available Languages: English,Japanese
+ The User Account Settings > Display
  + Language: English

#### Expected behavior
When see Account Set

[2018-12-28 14:03] swood opened #10052 "Api method get_user didn't show notify_props"
Hello.

I checked the method:
https://your-mattermost-url.com/api/v4/users/{user_id}

And I received a result below:

  "id": "user_Id",
  "create_at": 1542640356185,
  "update_at": 1546005374503,
  "delete_at": 0,
  "username": "username",
  "auth_data": "",
  "auth_service": "",
  "email": "username@domain.com",
  "nickname": "nickname",
  "first_name": "FirstName",
  "last_name": "LastName",

[2018-12-28 19:36] jasonblais commented on #10036
Thanks @sapnasivakumar!

[2018-12-28 21:48] gabrieljackson commented on #9765
Sorry for the delay on this; I've been busy with the holidays.

I have the `command show` command mostly flushed out, but I wanted to verify how much information we want to display when it is invoked. Right now I have this:

[code]

Do we want to display every value that can be set for a slash command? I wasn't sure if I should ask this here or in the Developers community channel, so let me know i

[2018-12-28 22:32] pradeepmurugesan commented on #6962
@amyblais I would like to give this a try if its still open.

[2018-12-28 23:55] jasonblais commented on #10050
@dupont-kedama Nice catch, created a ticket here for our team triage https://mattermost.atlassian.net/browse/MM-13601

Would you be open to helping with a pull request?

[2018-12-29 00:53] jasonblais commented on #6962
That would be great, thank you @pradeepmurugesan!!

I'd recommend touching base with @cpanato as well, given he's worked most closely on our Kubernetes stack and may have recommendations on how to approach this.

[2018-12-29 09:50] cpanato commented on #6962
hum, I think we should close this ticket for now and review the necessary steps we need here and have a more clear vision for this. @jasonblais @pradeepmurugesan

and when we decide that, I can get back to @pradeepmurugesan to check if have interest in help one that.

Can we discuss this in the next team meeting @jasonblais?

[2018-12-29 10:30] enahum commented on #9758
@kmandagie how are you doing? I’m just wondering how is this going, are you going to submit a PR soon? Do you need any help with this?

[2018-12-29 13:13] pradeepmurugesan commented on #6962
@cpanato Sure.. I can also join the meeting if that is possible to get more insights..
Not sure if that is an internal meeting..

[2018-12-29 17:30] kosgrz commented on #9948
@saturninoabril thanks for the answer!

I have one more question. For instance, there is a `PermalinkView` component which uses `localizeMessage` method. There is the code fragment of the usage:
[code]
If I want to remove the `localizeMessage` method, I can use the `FormattedMessage` instead. The code would look like this:
[code]
This will be working perfectly fine. Only issue will be with tests u

[2018-12-29 19:38] sunnythaper commented on #8929
I am running into this same issue and according to the official Dockerfile, mailcap is installed already:

https://github.com/mattermost/mattermost-docker/blob/master/app/Dockerfile

All I can do is download the video no matter where I click.

[2018-12-30 04:33] jasonblais commented on #8929
@sunnythaper I'm not too familiar with the Docker set up, but are you able to check if mime types were installed successfully in `/etc/mime.types`?

[2018-12-30 05:37] jasonblais commented on #10031
@irLinja Thank you for the additional context you shared.

If signal handling is a better long-term solution, would you be open to [contributing this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](http://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this Gi

[2018-12-30 05:38] jasonblais commented on #10029
@irLinja I'll close this issue for now and we can monitor it in the feature proposal forum for now https://mattermost.uservoice.com/forums/306457-general/suggestions/8686084-change-notification-sound

Many thanks for the suggestion!

[2018-12-30 05:38] #10029 closed

[2018-12-30 05:44] jasonblais commented on #6962
I've queued it initially to a team meeting - it's internal as it's the first one after holidays, but we'll transition the discussion to an open medium (here or at community.mattermost.com) soon after it :)

[2018-12-30 05:58] jasonblais commented on #10047
Thanks @casparjones for the report! I've filed a JIRA ticket for our team to investigate it further https://mattermost.atlassian.net/browse/MM-13603

[2018-12-30 10:56] pradeepmurugesan commented on #5977
@jasonblais  Looks like this feature has been implemented already.

I can see this behavior in the current setup..

[2018-12-30 19:45] jasonblais commented on #5977
@pradeepmurugesan Good catch, this was indeed implemented in Mattermost 5.4. Closing

[2018-12-30 19:45] #5977 closed

[2018-12-30 21:16] saturninoabril commented on #9948
In that case, I'm incline to use `formatMessage`, but instead of wrapping with `injectIntl`, pass `intlShape` as context (like [here](https://github.com/mattermost/mattermost-webapp/blob/master/components/user_settings/display/user_settings_theme/custom_theme_chooser.jsx#L121))

For unit testing,
[code]

[2018-12-31 19:49] amyblais commented on #9925
Hi @bullsseye , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-12-31 19:49] #9925 closed

[2018-12-31 19:51] amyblais commented on #9918
Closing this Issue as the problem is solved,

[2018-12-31 19:51] #9918 closed

[2018-12-31 19:52] amyblais commented on #9885
Hi @nerboda , we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-12-31 19:52] #9885 closed

[2018-12-31 19:57] sindhugudivada commented on #8641
Is this still available?

[2018-12-31 20:10] amyblais commented on #10051
Hi @dupont-kedama, can you help check the database and see if you have the 'en' locale there? You might then need to manually modify the locale to the desired language in the database and restart the server. Let me know if this helps.

[2018-12-31 20:14] amyblais commented on #9727
Closing this as the Jira ticket has been resolved. The fix will be available in v5.8 release.

[2018-12-31 20:14] #9727 closed

[2019-01-01 01:10] hollabigj commented on #9541
Trying to import bulk data with user's theme code. Got error: BulkImport: JSON decode of line failed., json: cannot unmarshal array into Go struct field UserTeamImportData.theme of type string. It looks like array is not added to Golang script.

[2019-01-01 19:00] jasonblais commented on #9541
FYI @grundleborg & @hanzei on above note from @hollabigj

[2019-01-02 03:12] jasonblais commented on #10052
Thanks @swood for the report! I've reproduced this.

[In the documentation](https://api.mattermost.com/#tag/users%2Fpaths%2F~1users~1%7Buser_id%7D%2Fget) we say that "Sensitive information will be sanitized out." from the response.

It might be that the `mention_keys` field in notify_props is considered sensitive and hence not returned. I've asked our team to confirm whether this is the case.

[co

[2019-01-02 13:22] jasonblais commented on #10023
@DenKoren  @efisuby Thanks again for the reports! I've submitted PRs that should address the above

https://github.com/mattermost/mattermost-server/pull/10055
https://github.com/mattermost/mattermost-api-reference/pull/415

[2019-01-02 13:22] #10023 closed

[2019-01-02 14:43] lieut-data commented on #8641
@jasonblais, this has been partially addressed by @levb's work in this area, and he may have greater insight into what work remains and if this specific ticket is still available. @levb, can you comment as such?

[2019-01-02 14:59] levb commented on #8641
@jasimmons @lieut-data I actually started to prototype this myself over the holidays as I got blocked on other work. (Didn't grab the GH issue because I was just prototyping).

@sindhugudivada - I just posted what I've done so far as a WIP PR ^^. Please feel free to either take it from there or propose alternatives. There is more context in the JIRA ticket https://mattermost.atlassian.net/browse/M

[2019-01-02 15:37] lannonbr opened #10057 "Opening a Direct Message on mobile first hides it from desktop client"
#### Summary
When you open a brand new direct message on mobile, it does not appear on the desktop / web app.

#### Steps to reproduce
Mattermost Server 5.6.0 (Database Schema 5.6.0 & Postgres DB)
Mattermost iOS Client (App version 1.15.1, Build 166)
Mattermost Desktop Client (MacOS) 4.2.0 (4.2.0.61)

1) Have someone open a brand new DM thread that includes yourself
2) Make sure your desktop / web

[2019-01-02 15:53] amyblais commented on #10057
Hi @lannonbr, just to confirm, does the Direct Message channel have messages in it?

[2019-01-02 16:01] casparjones commented on #10047
Thanks :)

[2019-01-02 16:16] lannonbr commented on #10057
Yes it does.

[2019-01-02 17:07] lieut-data commented on #7811
@walidsebai, I'm back from holidays -- feel free to ping me on community.mattermost.com (@jesse.hallam) if there's anything I can do to help :)

[2019-01-02 17:40] amyblais commented on #9979
Hi @chetanyakan, following up on this ^

[2019-01-02 19:06] amyblais commented on #10026
A Jira ticket for this was opened a few days ago: https://mattermost.atlassian.net/browse/MM-13600.

[2019-01-02 19:11] waseem18 commented on #9958
Update on this - I will hopefully try to wrap this up over this weekend.

Few more work and documentation is remaining.

[2019-01-02 21:41] levb commented on #9765
@hanzei and @grundleborg (since Jesus is out) - do you know who can help @gabrieljackson here, please?

[2019-01-02 22:03] wiersgallak commented on #9765
Hello @gabrieljackson I would recommend following suite with the config show method, which returns all the information that can be set in an easy to read format.  [Here](https://github.com/mattermost/mattermost-server/pull/9564/commits/a02b05ffb27c69291394dbc50294774089a96d7c) is a link to that commit for reference.  Please let us know if you have any issues or questions.

[2019-01-03 01:56] jasonblais commented on #9958
Thank you @waseem18 - exciting! Looking forward to it :)

[2019-01-03 05:55] vickyfdk commented on #5528
Hi @tcutts I have been facing same issue like:
- Some messages may not have been imported because they were not supported by this importer.
- Slack bot messages are currently not supported.
- Additional errors may be found in the server logs.

If you have found the issue please explain a little what is the exact cause of this mess.
Thanks in advance.
Gursharan.!!

[2019-01-03 06:55] chetanyakan commented on #9979
@amyblais It will be helpful to add it in the Help Wanted APIs for now. I might look into it if I have time to spare.

[2019-01-03 09:17] kpyorala opened #10059 "Invitation link doesn't work for open team"
#### Summary
Invitation link doesn't work for open team

#### Steps to reproduce
Version 5.5.0 in Docker via Gitlab
1. Team settings-> "Allow any user with an account on this server to join this team": yes
2. Regenerate Invite code
3. Click link "Invite others to this team"

#### Expected behavior
New user can join team with given link

#### Observed behavior (that appears unintentional)
Opening t

[2019-01-03 10:31] swood commented on #9795
Hey, @shrugalic.
I can send you a source code to read all direct channels. After you have to hide it via SQL-request.

[2019-01-03 13:16] towolf opened #10060 "Slow shutdown due to plugin termination problems?"
#### Summary

Shutdown of Mattermost 5.6.2 is slow. Takes 90 seconds to terminate.

#### Steps to reproduce

Enable some plugins, then run `systemctl restart mattermost`

Observe logs:
[code]
Next time there are weird messages related to terminating plugins in the logs
[code]

#### Expected behavior
Quick shutdown and restart

#### Observed behavior (that appears unintentional)
See above

#### Pos

[2019-01-03 13:25] #9979 closed, assigned to nobody

[2019-01-03 13:35] #6798 closed

[2019-01-03 14:58] amyblais commented on #10059
Hey @pichouk, the reporter mentioned that they are on Docker, does this issue seem Docker specific?

[2019-01-03 15:03] kpyorala commented on #10059
Actually I just noticed that the problem exists only for teams which are created by Gitlab - when you create new group in Gitlab, it asks if you want to it create automatically Mattermost team for your group. So problem is probably more on Gitlab's side or in the API it uses to create the group.

[2019-01-03 15:17] amyblais commented on #10059
Hi @kpyorala, thank you for clarifying that - @hmhealey this seems to be Gitlab related, would you be able to help test this out?

[2019-01-03 17:21] lieut-data commented on #9960
@swood, the uniqueness of that column is intentional, but you're right, the server should definitely not be crashing. Good news is that @crspeller has already fixed this in `master`: https://github.com/mattermost/mattermost-server/pull/10013.

[2019-01-03 20:40] pichouk commented on #10059
As said above, if it is Gitlab related I think that Docker is not the issue here :)

[2019-01-03 20:59] kosgrz commented on #9948
@saturninoabril should I use formatMessage only in files with shallow tests or everywhere? I think it's better to use formatMessage everywhere because it would be easier to write new tests in the future. What do you think?

[2019-01-03 23:06] towolf commented on #9505
@hmhealey I can't seem to find this setting in the released version 5.6.2?

[2019-01-03 23:06] towolf commented on #9505
![image](https://user-images.githubusercontent.com/345210/50666322-916ed300-0fb4-11e9-8312-b6f79ec8ee36.png)

[2019-01-03 23:11] jasonblais commented on #9505
@towolf This was actually not merged to 5.6 release, it'll be available in 5.8 which comes out on Feb 16, 2019.

[2019-01-03 23:14] towolf commented on #9505
@jasonblais thanks for the info. People have been inquiring about this ...

[2019-01-03 23:24] amyblais commented on #10057
Hi @lannonbr, I wasn't able to reproduce this just now - the only difference with my environment was that I'm on a v5.7 server version as we're getting prepared to release the new version. Would you be open to doing some testing on our [Community server here](https://community.mattermost.com) to see if you can reproduce the issue on the latest version?

If you can reproduce the issue there, can yo

[2019-01-03 23:37] amyblais commented on #10060
Hi @towolf, letting you know that I've asked our team about this and I'll let you know once I hear their feedback.

[2019-01-04 04:46] sindhugudivada commented on #8641
Let me look at it.

Regards
Sindhu

On Wed, Jan 2, 2019 at 7:00 AM Lev <notifications@github.com> wrote:

[2019-01-04 07:38] saturninoabril commented on #9948
I agree with you but I'd say use `formatMessage` as necessary only like in above case.  The reason being is that `FormattedMessage` component is straight forward and easy to implement/read than `formatMessage` API under context.

[2019-01-04 07:48] ejachang commented on #8092
Hi @hanzei,
I'm having a little trouble decoding the tiff, but not sure if I am accessing the tiff data correctly? I understand the file data stream is `Input io.Reader`, but I get the following message when I try to decode using the tiff package from Input and find the decoded tiff image is nil.
`{"level":"error","ts":1546586445.681277,"caller":"app/file.go:735","msg":"Unable to decode image err=

[2019-01-04 12:03] ramnes opened #10063 ""Address forbidden" error for a slash command calling a HTTPS URL using a local certificate"
#### Summary

Mattermost doesn't seem to consider locally trusted certificates.

#### Steps to reproduce

* Run `mattermost-integration-giphy` behind a `nginx` that uses a self-signed certificate
* Try calling `https://mattermost-integration-giphy.domain` with `curl`, and then with Mattermost's slash command
* Later, add the public certificate in `/etc/ssl/certs/` and run `sudo update-ca-certifica

[2019-01-04 12:26] somenet opened #10064 "[5.6.2] drag&drop upload: dragging in a folder results in: "There appears to be a problem with your internet connection.""
#### Summary
When using drag and drop in the web frontend and dragging a folder into a MM-Channel it will display the unexpected error message ``There appears to be a problem with your internet connection.`` on a recent Debian/KDE. (Not sure/Cannot test, if this is a windows issue too)

#### Steps to reproduce
Drag a folder from the desktop into a channel.
+ with single files, the file will get up

[2019-01-04 12:53] amyblais commented on #9845
Hi @tyurderi, letting you know that the Jira ticket is resolved and the fix will be available in upcoming v5.7 release.

[2019-01-04 12:53] #9845 closed

[2019-01-04 14:02] amyblais commented on #10063
Hi @ramnes,

Our latest server version is v5.6, would you be open to upgrading to the latest version to see if you experience anything different?

[2019-01-04 14:14] amyblais commented on #10064
Thank you @somenet, I'm able to reproduce this and opened a ticket here: https://mattermost.atlassian.net/browse/MM-13634.

[2019-01-04 14:59] hmhealey commented on #10059
@kpyorala To clarify, exactly which of these menu options are you selecting to invite users? They all work slightly differently, so they're a bit confusing
![image](https://user-images.githubusercontent.com/3277310/50693782-fc94c580-1005-11e9-84de-456e464de17f.png)

And I agree that the problem is probably to do with GitLab since I'm pretty sure it's creating a "private" team which is a poorly doc

[2019-01-04 15:49] ramnes commented on #10063
I will check on 5.6.0 as soon as possible. Meanwhile, I can already confirm that there is the same issue on 5.4.0.

[2019-01-04 16:16] ramnes commented on #10063
Same with 5.5.0.

[2019-01-04 18:41] levb commented on #8641
@sindhugudivada Thank you for taking on this hairy issue. I'd be very happy to help, feel free to ping me on https://community.mattermost.com/

[2019-01-05 00:52] amyblais commented on #9996
### v5.7 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.7.0-rc3/mattermost-team-5.7.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3ef07f32237f93a9a15f867fe351451bde167883/source/administration/changelog.md)

[2019-01-06 15:55] jwilander opened #10069 "GitHub plugin: improvements"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2019-01-06 23:35] hanzei commented on #8942
Hey @nitishm,

Thanks for your intensest in this issue and sorry for the late reply. I was on vacation.

This issue is a good introduction into the mattermost code base. Would you like to work on this?

[2019-01-06 23:49] nitishm commented on #8942
@hanzei Sure would !

[2019-01-06 23:50] hanzei commented on #8942
Great! Let me know if you have any question.

[2019-01-07 06:14] dupont-kedama commented on #10050
@jasonblais
I'm sorry. I can not help it.
I am not good at programming, so I can not read the source code.

[2019-01-07 06:50] dupont-kedama commented on #10051
Hi @amyblais, thank you for advice.

Specifically, where should I check?
This environment is Windows10(Japanese) + MySQL 5.7.22.

[2019-01-07 11:41] hanzei commented on #9503
Fixed with https://github.com/mattermost/mattermost-webapp/pull/1808

[2019-01-07 11:41] #9503 closed

[2019-01-07 11:43] hanzei commented on #9769
Hey @patniharshit, Did you had time to work on this? Do you have any questions?

[2019-01-07 11:43] hanzei commented on #9957
@bullsseye Just want to check if my feedback was clear enough. Do you have any other questions?

[2019-01-07 11:44] hanzei commented on #9986
@sapnasivakumar How is your work on this issue going? Can we help with anything? Looking forward to your PR!

[2019-01-07 11:46] hanzei commented on #9764
Making this available for the public since we didn't got an update from @vincealdrin for some time.

[2019-01-07 11:46] hanzei commented on #9762
Making this available to the public because there wasn't an update from @chrux for some time.

[2019-01-07 11:47] hanzei commented on #9502
Making this available to the public because there wasn't an update from @MathieuTougas for some time.

[2019-01-07 11:48] hanzei commented on #9597
Hey @akhilanandbv003,

Can we help with anything? As allays, you can DM on the Community Server.

[2019-01-07 11:48] hanzei commented on #9507
Making this available to the public because there wasn't an update from @jlevesy  for some time.

[2019-01-07 11:48] hanzei commented on #9233
Making this available to the public because there wasn't an update from @mszostok  for some time.

[2019-01-07 11:49] sapnasivakumar commented on #9986
@hanzei I'm trying to understand the environment and am working on the ticket. I would like to ask for some more time and will reach out in the meantime if I need some guidance on anything. I hope it is fine

[2019-01-07 11:50] hanzei commented on #9399
@waseem18 Did you already start an this issue? Do you have any questions?

[2019-01-07 11:51] hanzei commented on #8661
@sudheerDev Is there an update about this ticket? If not, would you mind closing this issue, until the discussion is resolved.

[2019-01-07 11:54] hanzei commented on #9805
@bradjcoughlin How is your work on this one going? Do you have any questions?

[2019-01-07 11:55] hanzei commented on #9718
Making this available for the public again. @JayaKrishnaNamburu Feel free to pick it up when you have the time!

[2019-01-07 11:56] hanzei commented on #9986
Sure. :+1:  If you need help, feel free to DM me on the [Mattermost Community Server](https://community.mattermost.com).

[2019-01-07 11:56] hanzei commented on #9398
Making this available for the public again. @dnguneratne feel free to pick it up again, if you have the time.

[2019-01-07 11:57] hanzei commented on #9504
Making this available for the public again. @SkipperEl feel free to pick it up again, if you have the time.

[2019-01-07 12:05] jasonblais commented on #10050
@dupont-kedama No worries! Thanks for the initial report, it's currently been triaged for one of our team members.

[2019-01-07 12:48] waseem18 commented on #9399
Not yet @HanzeiOn Jan 7, 2019 17:20, Hanzei <notifications@github.com> wrote:@waseem18 Did you already start an this issue? Do you have any questions?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-01-07 13:42] hanzei commented on #9399
Thanks for the reply. Looking forward to your PR!

[2019-01-07 15:01] hanzei commented on #9672
Fixed with https://github.com/mattermost/mattermost-server/pull/9678

[2019-01-07 15:01] #9672 closed

[2019-01-07 15:34] amyblais commented on #9887
Hi @harshilsharma, I've been asking our team and different community members about this in the past few months, but haven't received feedback yet. Have you had trouble with this lately and/or have you been able to figure out a workaround?

[2019-01-07 15:35] chrux commented on #9762
Sorry, I haven't been able to go through the PR and apply the changes

[2019-01-07 16:11] amyblais commented on #10063
Thank you @ramnes, I'll ask our team to take a look at this.

[2019-01-07 18:30] hanzei commented on #9762
Do you still want to work on this @chrux?

[2019-01-07 18:57] sapnasivakumar commented on #10036
@jasonblais I've the following PR for this ticket
https://github.com/mattermost/mattermost-webapp/pull/2251
Can you please let me know if I should be asking for reviews in any specific channel

[2019-01-07 18:59] jasonblais commented on #10036
@sapnasivakumar Fantastic, thank you! I've queued it for dev review.

[2019-01-07 19:20] akhilanandbv003 commented on #9597
@hanzei Hey! Sorry I was on vacation all these days. Will get back to working on this .

[2019-01-07 19:21] dchukmasov commented on #9764
Hi! I am looking for the project to make my first Go contribution and I feel that this is exactly the place ^_^

[2019-01-07 20:41] chrux commented on #9762
I don't have time, so let's leave as `Up for grabs` and if I am able to dedicate some time I will come back, thanks

[2019-01-07 21:33] #9947 closed

[2019-01-08 07:41] Gloriashield opened #10074 "Problem with the background color."
#### Summary
If I change the theme to Dark, the background color of the modal will not change.

#### Steps to reproduce
Clone the current mattermost-webapp / matermost-server and run make run to check the problem. Click the Account Settings menu.

#### Expected behavior
Describe your issue in detail

#### Observed behavior (that appears unintentional)
I can not see words.
![image](https://user-ima

[2019-01-08 08:39] dupont-kedama commented on #10051
Thank you @amyblais.
In the "users" table, the target user's locale value was "en".
After changing the language setting, "System Console > Purge All Caches" or "Ctrl+R" did not change the situation.

Attach a movie when changing the setting for reference.
In this operation, the setting is changed from Japanese to English.

![change_language](https://user-images.githubusercontent.com/5292063/508189