[2022-06-28 15:57] #20530 closed

[2022-06-28 16:01] agnivade commented on #18351
@biva - Are you able to setup an installation of Mattermost locally (https://developers.mattermost.com/contribute/server/developer-setup/) ? Once you do that, you can easily switch databases and test out the steps.

[2022-06-28 16:05] #20553 closed

[2022-06-28 16:12] hmhealey commented on #20543
Thanks for the report!

The issue with this link is actually due to the nested brackets in the URL. Unfortunately, it's very hard to identify which brackets are part of the URL and which are closing the Markdown link. The code currently looks for matching pairs of brackets in the URL, but it only does that two levels deep of nesting, and that link is doing much more than that. You'll see a similar

[2022-06-28 16:16] hmhealey commented on #20543
Let us know if either of those workarounds work for you. I'm going to close this since it's not something we're going to be able to change in the near term, but I'll still be tracking it with my long list of improvements I'd like to make to our Markdown support

[2022-06-28 16:20] rdivia opened #20561 "Cannot exit from editing preformatted block"
#### Summary
Impossible to exit from edit of preformatted block

#### Steps to reproduce
Web browser. Create a post with a preformatted block. Then edit it, placing the cursor inside the preformatted block. Once edited, try to confirm the edit (CR).

#### Expected behavior
Exit from editing a preformatted block should be possible via a CR with the cursor outside the block.

#### Observed behavior

[2022-06-28 16:29] amyblais commented on #20561
@rdivia What Mattermost server version are you on? What OS are you using?

[2022-06-28 16:52] rdivia commented on #20561
Web. Chromium/Linux (but I also saw it on Chrome/W10).

[2022-06-28 16:53] rdivia commented on #20561
I did not try CTRL+Enter (saw it just now).

[2022-06-28 16:54] #16173 closed

[2022-06-28 16:56] hmhealey commented on #16182
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16182 closed

[2022-06-28 16:56] hmhealey commented on #16180
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16180 closed

[2022-06-28 16:56] hmhealey commented on #16179
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16179 closed

[2022-06-28 16:56] hmhealey commented on #16178
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16178 closed

[2022-06-28 16:56] hmhealey commented on #16177
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16177 closed

[2022-06-28 16:56] hmhealey commented on #16176
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16176 closed

[2022-06-28 16:56] hmhealey commented on #16175
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16175 closed

[2022-06-28 16:56] hmhealey commented on #16174
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16174 closed

[2022-06-28 16:56] hmhealey commented on #16029
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16029 closed

[2022-06-28 16:56] hmhealey commented on #16027
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:56] #16027 closed

[2022-06-28 16:57] hmhealey commented on #16024
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:57] #16024 closed

[2022-06-28 16:57] hmhealey commented on #16023
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:57] #16023 closed

[2022-06-28 16:57] hmhealey commented on #15970
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:57] #15970 closed

[2022-06-28 16:57] hmhealey commented on #15969
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:57] #15969 closed

[2022-06-28 16:58] rdivia commented on #20561
For me CR works if the edit has no preformatted block, so I guess it is a different issue.

[2022-06-28 16:58] hmhealey commented on #15967
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:58] #15967 closed

[2022-06-28 16:58] hmhealey commented on #15966
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:58] #15966 closed

[2022-06-28 16:58] hmhealey commented on #15965
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:58] #15965 closed

[2022-06-28 16:58] hmhealey commented on #15964
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:58] #15964 closed

[2022-06-28 16:58] hmhealey commented on #15963
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:58] hmhealey commented on #15962
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:58] #15962 closed

[2022-06-28 16:58] hmhealey commented on #15961
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:59] hmhealey commented on #15899
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 16:59] #15899 closed

[2022-06-28 17:00] hmhealey commented on #15826
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:00] #15826 closed

[2022-06-28 17:00] hmhealey commented on #15867
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:00] #15867 closed

[2022-06-28 17:00] #15868 closed

[2022-06-28 17:00] hmhealey commented on #15869
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:00] #15869 closed

[2022-06-28 17:01] hmhealey commented on #15872
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] hmhealey commented on #15874
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15874 closed

[2022-06-28 17:01] hmhealey commented on #15875
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15875 closed

[2022-06-28 17:01] hmhealey commented on #15883
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15883 closed

[2022-06-28 17:01] hmhealey commented on #15884
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15884 closed

[2022-06-28 17:01] hmhealey commented on #15887
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15887 closed

[2022-06-28 17:01] #15891 closed

[2022-06-28 17:01] hmhealey commented on #15892
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15892 closed

[2022-06-28 17:01] hmhealey commented on #15893
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15893 closed

[2022-06-28 17:01] hmhealey commented on #15895
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15895 closed

[2022-06-28 17:01] hmhealey commented on #15896
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] hmhealey commented on #15897
Closing this as this ticket is out of date due to other changes in that file

[2022-06-28 17:01] #15898 closed

[2022-06-28 19:48] #20356 closed

[2022-06-29 03:52] agnivade commented on #20547
Unless the release notes mention it specifically, you should not need to reindex bleve. You mention "Every time", can you give an example source -> destination version? In recent times, except the 6.2 [upgrade](https://docs.mattermost.com/install/self-managed-changelog.html#id73), I don't think we changed the index structure.

[2022-06-29 04:00] agnivade commented on #19776
@nicolas-goudry - As you have correctly identified, we use the minio library and minio doesn't support GCS properly. To add support, we need to add a separate GCS implementation of the filestorage API.

[2022-06-29 06:29] amyblais commented on #20561
@rdivia

1. What Mattermost server version are you on? (**Main Menu > About Mattermost**)
2. What are your settings set to at **Settings > Advanced > Send Messages on ⌘+ENTER**?

[2022-06-29 06:38] rdivia commented on #20561
Mattermost Version: cern-ci
Database Schema Version: 82
Database: postgres

Build Hash: 503ead4fbb82924ca060bd62095b7abe41c88631
EE Build Hash: none
Webapp Build Hash: fce4b8e02a548e6aab52597a41287ef2ce7118e7
Build Date: Mon May 9 11:05:54 UTC 2022

The CTRL+ENTER (I am on Linux, not on a Mac) settings is "On only for code blocks starting with ```".

I think next time something like this will happ

[2022-06-29 07:36] biva commented on #18351
No, sorry, not possible for me :/

[2022-06-29 08:12] amyblais opened #20564 "Mattermost v7.1"
You can find key dates for v7.1 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### June 30th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### July 13th: Release Build Cut
The fina

[2022-06-29 13:34] #20273 closed

[2022-06-29 14:23] ru2mm opened #20566 "Mattermost 7 build failed"
#### Summary
I try to make a port for FreeBSD for mattermost server v.7.0.1. The build process failed with errors.

#### Steps to reproduce
Build process failes because of missing "vendor" folder in v.7.0.0 and v.7.0.1 repositories.
You can open the list of files for version 6.7.2 an older and see the folder "vendor" https://github.com/mattermost/mattermost-server/tree/v6.7.2/vendor.
If I add "ven

[2022-06-29 15:06] amyblais commented on #20566
Opened: https://mattermost.atlassian.net/browse/MM-45452.

[2022-06-29 17:55] MatthewDorner commented on #20531
I see that attachments are being stored in a separate `props` field in the database as a JSON string, and that field is not being included in the search (with DB search engine at least).

How could you enable search of attachment text but only the rendered text, and not other props, JSON keys, markdown, etc? Index the rendered attachment text separately? Or attempt to parse it in the search functi

[2022-06-29 19:30] mkraft commented on #17862
This change has been merged with https://github.com/mattermost/mattermost-server/pull/18232.

[2022-06-29 19:30] #17862 closed

[2022-06-29 21:12] skraus-dev opened #20570 "Performance monitoring: Metrics endpoint /metrics returns 404 page not found"
#### Summary

/metrics endpoint is advertised in root-url path `/` but `/metrics` returns `404 page not found`

#### Steps to reproduce

1. Enable perfomance monitoring in Mattermost System Console (see: https://docs.mattermost.com/scale/performance-monitoring.html)
2. Restart mattermost
3. Test the root endpoint via curl: `curl -v http://<ip>:<port>/`
4. Test the advertised metrics endpoint `curl

[2022-06-30 06:44] amyblais commented on #20570
Opened https://mattermost.atlassian.net/browse/MM-45467.

[2022-06-30 07:03] LukasFiniarel commented on #20528
Ok.
I have activated the local mode in config.json and restarted Mattermost.
Now when I try to install the plugin
`bin/mmctl plugin add /home/lukas/com.nilsbrinkmann.icebreaker-2.2.2.tar.gz --local`
 I get the following error message:
`Error: owner of the file "/var/tmp/mattermost_local.socket" must be the same user running mmctl`
When I run the command with `sudo` I get the following error messag

[2022-06-30 07:53] agnivade commented on #20570
HI @skraus-dev - Do you have an enterprise license? Metrics are only available on licensed versions.

[2022-06-30 08:03] NgoHuy commented on #20547
[code]
I use latest version.

[2022-06-30 08:07] sinansonmez commented on #20519
@esethna I would like to work on this but do I need to wait for [the implementation of New Notifications Preferences Modal](https://mattermost.atlassian.net/browse/MM-40384) before starting to work on this. Because preference to auto-follow has different UI in new notifications preferences modal

[2022-06-30 09:53] agnivade commented on #20570
Self-hosted and enterprise are not a disjoint set. You can self-host Mattermost using an enterprise license.

Performance monitoring in team edition will just return your CPU/Mem profile endpoints. In enterprise, it will return the metrics endpoints as well.

Initially, this was _entirely_ an enterprise feature, but then we included the profile endpoints in the team edition because they are someth

[2022-06-30 09:53] #20570 closed

[2022-06-30 09:56] agnivade commented on #20547
I understand that now you are on the latest version. I'd like to know what were your previous versions and what versions you upgraded to, that caused you to reindex bleve, since you mentioned "Every time".

[2022-06-30 10:39] Afsoon commented on #20422
May I take this issue? I see it's up for grabs.

[2022-06-30 11:29] sinansonmez commented on #19979
@amyblais I think I was able to find the root cause of this issue on the server side. Could you please guide me to someone to help?

[This query](https://github.com/mattermost/mattermost-server/blob/1d9fa3c333085b29b7c22548f2432d0a8fa058a2/store/sqlstore/post_store.go#L467) is always returning empty array `[]` for participants. Point I wanted clarify is that are `Threads` stored in a separate data

[2022-06-30 11:32] amyblais commented on #19979
@Willyfrog @koox00 Can you help?

[2022-06-30 11:34] sinansonmez commented on #19979
One thing I just realized and need to investigate is that this is only happening on a post that you are not following. I will debug a case the post that user is following. Maybe from this case I can find a quick way to solve this

[2022-06-30 11:59] lieut-data commented on #20528
Ah, brilliant! That's the issue we seem to be running into: plugin uploads are constrained by https://docs.mattermost.com/configure/configuration-settings.html#maximum-file-size, and will need to be tuned upwards to allow larger plugin installations. Can you give that a try @LukasFiniarel? What's odd is that this error should have been present in the server logs when uploading plugins through the

[2022-06-30 12:14] LukasFiniarel commented on #20528
Perfect, thank you.
This allowed me to install the plugin.
I tried again and there is indeed no error message in the server log.
Uploading via the system console also works after adjusting the file size.
Thank you very much for the help :)

[2022-06-30 12:14] #20528 closed

[2022-06-30 12:52] Willyfrog commented on #19979
I think we have a ticket for that https://mattermost.atlassian.net/browse/MM-44796 and @vish9812 will be working on it to fix it.

[2022-06-30 13:29] Willyfrog commented on #19979
Done, thanks for the suggestion :)

[2022-06-30 14:05] lieut-data commented on #20528
Terrific, @LukasFiniarel! I've filed https://mattermost.atlassian.net/browse/MM-45484 to see if we can improve the error handling in this case -- thanks for your patience in tracking it down in the end :)

[2022-06-30 14:07] sinansonmez commented on #19981
@amyblais if @miltalex will not be able to work on this I can give it a try

[2022-06-30 19:53] Haliax commented on #20318
I am pretty sure that additional pull request for the Mobile and Gekidou are needed as well.

But someone with more experience in mobile development needs to check that.

[2022-06-30 21:28] dllu opened #20579 "Mattermost incorrectly converts PNG to JPEG even though JPEG has a larger file size"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-06-30 21:29] hmhealey commented on #20318
Maybe @avinashlng1080 can confirm since it looks like he's the last one that worked in this area, but I think they just need to have their copies of `emoji.json` updated. I hope it's just as simple as copying that over, but there's a chance that it might need some more work since neither mobile branch seems to have been updated to use the most recent version of emoji.json before this

[2022-07-01 04:49] LukasFiniarel commented on #20528
@catalintomai  Yes, the plugins I tried to install were all larger than the file size set in the configuration.
After I changed this option (larger than the file size of the plugins) an installation of the plugins worked smoothly via the system console as well as via mmctl.

[2022-07-01 08:40] rdivia commented on #20561
Good news, I tried the CTRL-Enter combination and it worked nicely. Problem solved :-)

[2022-07-01 11:50] claudio-salvio commented on #20135
Hello @mkraft

Thanks for your reply and for the link to the corresponding [PR](https://mattermost.atlassian.net/browse/MM-45185?focusedCommentId=129804).
I am glad to hear that you are aware of these inconveniences.

Best regards,
Claudio Salvio

[2022-07-02 08:46] sinansonmez commented on #19983
@amyblais should this is be closed based on [a comment](https://mattermost.atlassian.net/browse/MM-44705?focusedCommentId=130236) in JIRA

[2022-07-02 08:56] sinansonmez commented on #19864
I can give it a try on this @amyblais @hmhealey

[2022-07-02 09:06] sinansonmez commented on #17276
@amyblais could you please assign it to me?

[2022-07-02 09:06] sinansonmez commented on #16727
@amyblais could you please assign it to me?

[2022-07-02 09:07] sinansonmez commented on #16739
@amyblais I think this issue should be closed

[2022-07-02 09:08] sinansonmez commented on #16726
@amyblais could you please assign it to me?

[2022-07-02 09:09] sinansonmez commented on #17290
@amyblais I think this issue should be closed as there is no file under `components/gif_picker/components`. There are separate tickets for each folder under `components/gif_picker/components` such as https://github.com/mattermost/mattermost-server/issues/16724

[2022-07-02 21:09] lieut-data commented on #20189
Hi @zsichina! Can I help with this ticket at all?

[2022-07-02 21:10] lieut-data commented on #20020
Hi @kkennethlee! Are you still interested in this ticket?

[2022-07-02 21:16] lieut-data commented on #20189
Whoops, I realized this was resolved by https://github.com/mattermost/mattermost-plugin-playbooks/pull/1205 -- thanks again :)

[2022-07-02 21:16] #20189 closed

[2022-07-03 02:50] zsichina commented on #20189
Hi @lieut-data,
yes, ticket is resilved:)
You're welcome!

[2022-07-03 04:02] tareko opened #20580 "Upgrade fails from 6.6.0 to 6.6.2+"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-07-03 04:15] tareko commented on #20580
## Possible fix:

The commands that are executed seem to be run with `""`. However, `''` seems to solve this, albeit with updating zero rows in my installation.

[2022-07-03 20:45] laimison commented on #13575
Client: Latest Mattermost beta client on Android v2.0.0, 25 Jun 2022
Server: 6.1.4-rc1

I've got same `unexpected EOF` for `uploadFileMultipartLegacy`

I was resizing video resolution to reduce file size of same video to see how uploader behaves.
Few tests showed that upload that is taking longer than 60 seconds fails.

Can it be the case, that some timeout value just aborts upload after 60 second

[2022-07-04 08:05] streamer45 commented on #20580
@isacikgoz Would you be able to help with this?

[2022-07-04 08:21] streamer45 commented on #20579
@dllu Just to confirm, this should only affect preview/thumbnail files that are always generated as JPGs. If you download the image it's the original PNG file.

I remember planning some work to address this (https://mattermost.atlassian.net/browse/MM-36111) but since it was a potentially breaking change it was deferred. @agnivade Something for you team to consider maybe?

[2022-07-04 10:44] #19948 closed

[2022-07-04 10:46] rajeshwarpatlolla commented on #20265
@hmhealey There is no update in the community about it. Is there any update on this issue?

[2022-07-04 10:56] rajeshwarpatlolla commented on #20083
Thanks for the response @BenCookie95. We are getting Cookie:MMAUTHTOKEN  and MMUSERID cookies, but we are not getting MMCSRF cookie. How do we get MMCSRF cookie?

[2022-07-04 11:21] PvUtrix commented on #14792
+1

[2022-07-04 12:29] sinansonmez commented on #16721
@amyblais I think this issue should be closed or updated as there is no `view_image` folder

[2022-07-04 12:31] sinansonmez commented on #16717
@amyblais I think this issue should be closed or updated as there is no `signup/signup_controller` folder

[2022-07-04 12:32] sinansonmez commented on #16719
@amyblais could you please assign this to me

[2022-07-04 12:35] sinansonmez commented on #16708
@amyblais I think this issue should be closed as I see the files are already migrated to Typescript

[2022-07-04 12:36] sinansonmez commented on #16159
@amyblais could you please assign this to me

[2022-07-04 12:36] sinansonmez commented on #16156
@amyblais I think this issue should be closed as I see the files are already migrated to Typescript

[2022-07-04 12:43] sinansonmez commented on #13725
@amyblais I think this issue should be closed as all files under `components/login` are already migrated to Typescript

[2022-07-04 12:56] baek-sang opened #20582 "S3 upload fail"
#### Summary
s3 ( [Cloudflare R2](https://developers.cloudflare.com/r2/) ) upload fail.

#### Steps to reproduce
![mattermost-s3-setup](https://user-images.githubusercontent.com/69100154/177157865-dc9e32b2-88cc-4a8f-8a61-6a3d9bbfd24d.png)
1. Setting s3 & Test Connection confirm
2. Try file upload

#### Expected behavior
File upload success.

#### Observed behavior (that appears unintentional)
Serv

[2022-07-04 18:59] mback2k commented on #14792
+1

[2022-07-04 19:53] stillya commented on #20510
I started exploring project to implement this feature, am I right that functionality to mark message as readed implemented on front, and backend just update last activity? If it's true this feature is gonna be hard to implement.

[2022-07-04 20:44] remyj38 opened #20584 "Patching plugin configuration replace all plugins configs"
#### Summary
The API Patch configuration endpoint (PUT on config/patch) doesn't patch the PluginSettings.Plugin object but replace it.

#### Steps to reproduce
1. Add a configuration for a plugin :
[code]
2. Add a configuration for another plugin:
[code]
3. Get the configuration and see that the configuration for plugin1 is missing:
[code]
#### Expected behavior
The endpoint should patch the confi

[2022-07-05 03:28] agnivade commented on #20579
We can take a look. :+1:

[2022-07-05 03:57] agnivade commented on #20579
This would work but would waste redundant CPU cycles converting the image to jpeg. We will look into it.

[2022-07-05 05:33] agnivade commented on #20566
Hi @ru2mm - are you open to logging in to our community server at https://community.mattermost.com/ and asking for help in ask-r&d or the developers channel? Someone should be able to help you out.

[2022-07-05 05:44] agnivade commented on #20539
We use Go to build our software. You can take a look at this page: https://github.com/golang/go/wiki/MinimumRequirements#architectures.

We don't use any `GOAMD64` version, so that means all 64-bit x86 processors are supported.

[2022-07-05 05:44] #20539 closed

[2022-07-05 08:14] isacikgoz commented on #20580
Hey @tareko the reason that we used double quotes that we define prepared statements in single quotes. It didn't raised any problem on my setup though (both 5.7 and 8). Maybe we can change those to escaped single quotes ie `\'`. WDYT @agnivade?

[2022-07-05 09:00] agnivade commented on #20539
@zamazan4ik - Officially, we don't support ARM. You are welcome to build Mattermost for ARM, but you would need to maintain it yourself.

Sure.

[2022-07-05 09:04] streamer45 commented on #20582
Hi @baek-sang , this looks to be a [known issue](https://community.cloudflare.com/t/r2-multipart-uploads-not-working-with-minio-client/396536/13 ) with R2 not accepting the minio upload due to a mismatch in the request format.

/cc @agnivade

[2022-07-05 09:08] streamer45 commented on #20584
@agarciamontoro Could you help to verify this and open a ticket if necessary?

[2022-07-05 10:31] agnivade commented on #20580
Hmm, I think we need to first understand why this is failing. If you cannot reproduce it in MySQL 8, maybe the problem is elsewhere? Is your version 8.0.28 specifically? We've had some JSON bugs in dot releases before, so sometimes the dot release version matters as well.

[2022-07-05 10:37] agarciamontoro commented on #20584
Thanks for the report, @remyj38. I can indeed reproduce this, and created a ticket to track it: https://mattermost.atlassian.net/browse/MM-45515 We need to investigate this well, because this behaviour does not technically go against the PUT semantics (it may be actually too flexible when preserving the other fields of that plugin configuration).

[2022-07-05 10:45] mattermod opened #20586 "Channel Switcher: Threads item shouldn't show channel slug name"
In the channel switcher, the ‘Threads’ item should not show a slug name

![](image-20220630-144855.png|width=1234,height=940)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For te

[2022-07-05 10:48] #19278 closed

[2022-07-05 10:52] isacikgoz commented on #20580
Yes, it I tested with the exact same mysql 8 version (`v8.0.28` docker image). I am not so familiar with DO managed mysql though, if they have different configuration.

[2022-07-05 11:03] sinansonmez commented on #20586
@amyblais could you please assign this to me?

[2022-07-05 13:57] devinbinnie commented on #13725
@sinansonmez You are correct, thanks for letting us know :)

[2022-07-05 13:57] #13725 closed

[2022-07-05 14:10] agnivade commented on #20580
That sounds good and would make sense. Is there a config option somewhere that controls single quotes vs double quotes? :thinking:

[2022-07-05 14:45] jasonmacer opened #20588 "Removing Members from Channel"
Summary
Unable to remove a user as a members from a single channel.

Steps to reproduce
Mattermost Enterprise Edition
Modern communication from behind your firewall.

Mattermost Version: 7.0.0
Database Schema Version: 85
Database: mysql

Web Based, Mobile, AND Desktop based connection
Expected behavior
I am attempting remove users from a channel; however it only gives me ( an admin ) permission to

[2022-07-05 16:26] esethna commented on #18603
@darkLord19 how is the mobile implementation of this going? Let me know if you have any questions!

[2022-07-05 17:24] thinkGeist commented on #20271
This looks interesting, I'd like to take a stab at fixing this if nobody else has picked it up.

[2022-07-05 18:14] cgraf-spiria opened #20589 "Images (build badges) break channel header"
#### Summary
Images (like build badges) in channel header are not shown anymore and hide text after them.
They produce a line break before and after therefore hiding themselves and the rest of the header text.

Tested on Windows Client & Web page client.
Android App doesn't show images in channel header at all, maybe separate bug ?

#### Steps to reproduce
Add an image to a channel header with tex

[2022-07-05 18:57] jbattistispiria commented on #20271
@thinkGeist I almost finish to fix this issue. Sorry, i forgot to say i'm on it.

[2022-07-05 19:42] esethna commented on #20586
@sinansonmez yes correct, but this ticket is just for removing it from the "Threads" item, not from all channels

[2022-07-05 21:22] #20422 closed

[2022-07-05 21:42] sinansonmez commented on #20519
@esethna thanks for the clarification. Currently I have bunch of tickets assigned to me.
I will try to tackle them first. Then I will try to work on this if no one takes this issue by that time

[2022-07-06 00:11] Ballista01 commented on #20128
I'd like to try this

[2022-07-06 02:26] kyeongsoosoo commented on #19815
Can I work on this issue?

[2022-07-06 04:52] tareko commented on #20580
I'm very happy to create an account or make a separate installation for you to experiment with. If yes, let me know and I'll dm

[2022-07-06 08:34] streamer45 commented on #20588
Hi @jasonmacer , that's correct, Town Square being the default channel with everyone in the team present so users cannot be removed from it unless they get removed from the team.

[2022-07-06 08:40] streamer45 commented on #20589
@cgraf-spiria Thanks for the report. Could provide the following information?

- Current Mattermost server version.
- A screenshot of the issue would be helpful since it's UX related.

Also, do you know if this behaviour changed after upgrading perhaps? I assume it worked as expected before.

[2022-07-06 13:12] marianunez opened #20596 "Fast-Forward Cloud"
Fast-Foward for Cloud release July 13th

[2022-07-06 13:12] mattermod commented on #20596
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-07-06-backup (SHA: `db46aff`)
    - mattermost-webapp:refs/heads/cloud-2022-07-06-backup (SHA: `b0770f1`)
    - enterprise:refs/heads/cloud-2022-07-06-backup (SHA: `324e889`)
    - mattermost-api-reference:refs/heads/cloud-2022-07-06-backup (SHA: `b711fcd`)

### Fast-Forwarded branches
    - m

[2022-07-06 13:14] #20596 closed

[2022-07-06 17:33] agnivade commented on #19362
Hey @k4awon - are you still interested in this? Let me know if we can help

[2022-07-06 17:33] agnivade commented on #19363
Hey @bhimeshchauhan - Just checking if you are still interested in working on this?

[2022-07-06 18:23] diegovega49 commented on #17276
Hello @amyblais may I be assigned to this issue?

[2022-07-06 19:28] sinansonmez commented on #17276
Hi  @diegovega49 I have started to do some changes on this ticket but feel free to start working on the issue. I am sure @amyblais will assign it to you soon.

You can also join https://community.mattermost.com in case of any questions or leave a comment here

It is always good to see new members in the community :)

[2022-07-06 19:30] sinansonmez commented on #17247
Update in this. I am waiting my other PRs related to files to be converted in this issue

[2022-07-06 20:09] sinansonmez commented on #20586
@esethna I was able to track down the source but I can not see slug in my local. Do I need to enable some settings from System Console

https://user-images.githubusercontent.com/37421564/177634241-7061486c-8305-4484-9251-72897319d470.mov

[2022-07-06 20:30] esethna commented on #20586
@sinansonmez looks like this ticket might be invalid. Sorry about that. closing.

[2022-07-06 21:51] thinkGeist commented on #20226
I'd like to look into this if it's still up for grabs.

[2022-07-06 23:15] mattermod opened #20600 "Ability to mark a channel as unread"
User feedback: [https://community.mattermost.com/core/pl/51bkwmqap3r9uxhzpoet86k9ue](https://community.mattermost.com/core/pl/51bkwmqap3r9uxhzpoet86k9ue)

We should offer the mark as unread ability on channels:

1. Alt <ins> </ins> click should open the channel and the menu item should be hidden

![](image-20220706-230301.png|width=413,height=364)

We can use the same icon as the … menu on posts:

[2022-07-07 11:56] dragonpil opened #20604 "MTA for Email notifications to Gmail accounts"
#### Summary
MTA, from Google for sent Email Notifications because of missing a valid messageId header.
#### Steps to reproduce
Server Version 7.0.1
Writing a message which triggers an email notification to a user with an Gmail account.

#### Expected behavior
once the Email is sent via SMTP we receive the an MTA from google.
for example:

#### Observed behavior (that appears unintentional)
using

[2022-07-07 12:54] cwarnermm opened #20605 "Text string inconsistency"
#### Summary
Text string references inconsistent UI button label.

#### Steps to reproduce
When starting a new 30-day trial, the user is prompted to agree to the Mattermost Software Evaluation Agreement and privacy policy. This agreement text references a button labeled **Start 30-day trial**, but the button is labeled as **Start free 30-day trial**. The reference to the button and the button labe

[2022-07-07 13:42] sinansonmez commented on #16127
Please assign this to me

[2022-07-07 19:23] esethna commented on #19791
@imskr just checking if youre still working on this?

[2022-07-07 19:45] mattermod opened #20606 "Allow channel link ~autocomplete to show results across teams"
#### UI/UX

**Problem:** We currently don’t support <sub>channel linking to across teams. As a user, it would be nice to see channels across multiple team in different areas of the UI, ie in the Channel Switcher, in the autocomplete, etc.

**Solution:**

When the user types </sub>autocomplete:

  * If the user has more than 1 team:
    * The team name would be on the right
    * channel name slug

[2022-07-07 19:56] esethna commented on #20600
Nice, thanks @Ballista01!

[2022-07-07 19:59] esethna commented on #20586
@sinansonmez looks like this ticket is still valid, but only if you have one team

[2022-07-07 22:01] sinansonmez commented on #20586
I will gove it a try to reproduce

[2022-07-07 23:00] sinansonmez commented on #20586
@esethna PR is ready for review

[2022-07-08 04:56] kkennethlee commented on #20020
Hi Jesse, I am but I won't be able to get to it for a while. Please feel
free to pass it off if someone else is interested.

- KL

On Sat, Jul 2, 2022 at 2:10 PM Jesse Hallam ***@***.***>
wrote:

[2022-07-08 05:39] agnivade commented on #20584
Hi @remyj38 - we discussed this internally. The issue is that since the Plugins are stored as a map, individual fields of a map aren't patched, because you can recursively go down to any depth of a map. Trying to support patch on a map will incur additional complexity which we would like to avoid. As a workaround, I'd suggest using the update config (PUT api/v4/config) endpoint rather than patch c

[2022-07-08 07:42] streamer45 commented on #20604
Hi @dragonpil,

a couple of questions:

- Could you confirm whether the message-id is actually missing from your emails or if it's not valid? In that case could you share it?
- Does this happen on any notification email from Mattermost or just some?

[2022-07-08 08:44] dragonpil commented on #20604
Hi @streamer45,
so since around 2-3 weeks all emails gooing to google have this issue. So I see single messages & grouped notifications. As we don't allow active registering I can't confirm if it is also for this mails.

When I have a look to the message in deed there is no Message-ID header field. A Message-ID header field could look like this: Message-ID: <cmu-lmtpd-2176282-1657021482-3@mb07.mai

[2022-07-08 09:00] streamer45 commented on #20604
Thanks @dragonpil , looks like this was a [known issue](https://mattermost.atlassian.net/browse/MM-36872) which has been recently addressed in https://github.com/mattermost/mattermost-server/pull/18232

[2022-07-08 09:26] dragonpil commented on #20604
@streamer45  that will solve the issue. Sorry didn't saw that there is already an  merged PR for that. then I'm looking forward to the next release with the fix. Many, many thanks for you really good work.

[2022-07-08 10:58] sinansonmez commented on #16132
PR is ready, please assign this to me @amyblais @devinbinnie

[2022-07-08 11:09] lieut-data commented on #20020
Thanks for the attempt @kkennethlee!

[2022-07-08 17:45] chenilim opened #20616 "Deleted post didn't get removed from channel UI and is marked unread"
#### Summary
I replied to a post that was subsequently deleted. It is marked (message deleted) in my channel UI (Chrome), but selecting it does not clear the unread marker. The post doesn't appear when I refresh (open in a new tab).

#### Steps to reproduce
1. Reply to a post
2. Have the author delete the post
3. The post isn't removed from my channel view

#### Expected behavior
Not exactly sure

[2022-07-08 17:49] gamersalpha opened #20617 "Updating from 6.3.9 to 6.4.3 : "Failed to apply database migrations.""
Mysql Version : Server version: 8.0.29-0ubuntu0.20.04.3 (Ubuntu)

Steps to reproduce
Update from version 6.3.9 to version 6.4.3 (use mysql database).

Expected behavior
Upgrade package from version 6.3.9 to 6.4.3 then restart the mattermost server.
The server failed to start cause of a migration error.

[code]

I tried to the delete the procedure MigrateCRTThreadCountsAndUnreads then restart and t

[2022-07-08 18:17] agnivade commented on #20617
@gamersalpha - It looks like you might be running into an issue during executing the stored procedure and therefore it exits without dropping the procedure.

Can you show us the logs when you performed the upgrade for the first time?

[2022-07-08 19:05] gamersalpha commented on #20617
ok i found the problem

my collection don't be good, i change all collection table and the update WORK !!

I m now my mattermost test in v7 !!

get one problém i lost all pictures of my all channel

thanks

[2022-07-08 20:30] agnivade commented on #20617
Yeah, DB collations have been an issue in the past. Closing this.

[2022-07-08 20:30] #20617 closed

[2022-07-09 19:13] sinansonmez commented on #16123
PR is ready, please assign this to me

[2022-07-11 00:21] Apahadi73 commented on #19791
@esethna Can I work on this issue?

[2022-07-11 00:36] Apahadi73 commented on #16724
Is this issue still for the grab? If yes, I would love to work on this.

[2022-07-11 00:49] ylluminate commented on #18351
Has anyone progressed past these final testing steps yet @agnivade? Would very much like to move to 7.x, but I'm stuck at 6.4.1 since you have me terrified of upgrading our system any further at this point without shifting to PGSQL...

[2022-07-11 03:57] tangvis opened #20622 "Function clearDeadQueue will not reset the deadQueuePointer if the deadQueue didn't roll over."
#### Summary
clearDeadQueue will return without reset the deadQueuePointer to 0 when deadQueue didn't roll over.

#### Steps to reproduce
[code link](https://github.com/mattermost/mattermost-server/blob/c3d2602dfefa3d91588d9a0aa5a24aa050ae20e0/app/web_conn.go#L580-L588)
[code]
In the above code, when deadQueue didn't roll over and we call the function.

#### Expected behavior
Set every element of

[2022-07-11 05:31] agnivade commented on #20622
Nice catch. Thanks @tangvis :)

[2022-07-11 07:47] #16739 closed

[2022-07-11 08:10] #20561 closed

[2022-07-11 08:10] #16717 closed

[2022-07-11 08:11] #16721 closed

[2022-07-11 08:11] #17268 closed

[2022-07-11 08:11] #17290 closed

[2022-07-11 08:12] #16156 closed

[2022-07-11 08:38] DummyThatMatters opened #20625 "Mattermost suddenly goes out of memory (OOM) and reboots"
#### Summary
Mattermost goes for an unexpected reboot periodically (every 1-2 working days appox.) due to sudden increase in memory consumption.

#### Steps to reproduce
Mattermost 7.0.1 Team Edition, deployed on a pod in openshift (tryed to allocate from 2.6GB to 5.5GM RAM with the same result). Postgres 14.2 as a DB.
Around ~4000 users, ~1200 of them are active
~ 26000 messages per day load.

##

[2022-07-11 08:46] #20582 closed

[2022-07-11 08:49] #20588 closed

[2022-07-11 08:52] DummyThatMatters commented on #20625
@agnivade , sure. Here is example of heap profile
[heap.zip](https://github.com/mattermost/mattermost-server/files/9082355/heap.zip)
.

[2022-07-11 09:45] amyblais commented on #20564
### v7.1 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.1.0-rc2/mattermost-team-7.1.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5746/files

[2022-07-11 11:46] tareko commented on #20580
Thank you. I think this helped me track the problem down.

Here is the output:

[code]

I was curious about `ANSI_QUOTES`, and when I looked it up, this is what the [MySQL dev page](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_ansi_quotes) had to say:

[code]

I solved this by going to the database settings and deleting this mode:

![Screenshot from 2022-07-11 07-32-23](https://us

[2022-07-11 13:33] #20318 closed

[2022-07-11 17:21] esethna commented on #19791
All yours @Apahadi73!

[2022-07-11 17:55] agnivade commented on #20580
Thanks @tareko. I agree, we can do that. Are you interested in submitting a fix? I can give you some pointers as to how to do this.

[2022-07-11 17:56] #20622 closed

[2022-07-11 20:35] esethna commented on #19864
@sinansonmez correct. If navigating with the keyboard we would expect to see the focus effect on the first message in the pane.

![image](https://user-images.githubusercontent.com/14333569/178353368-c4f13b51-4b8b-493a-8825-37fb9c2a1ed8.png)

When using the mouse we do not expect to see this effect

[2022-07-11 21:02] hmhealey commented on #20265
Do personal access tokens not work for your use case? That's the last thing I remember discussing on this.

Looking back at your issue above though since I think I only responded in the thread before, it looks like we only attach those headers if the request was made with the `X-Requested-With` header set to `XMLHttpRequest` like in the browser. That logic is located [here](https://github.com/matt

[2022-07-11 21:45] mattermod opened #20632 "Plugin management page markdown links are not rendering as links"
The portion of the screenshot `<documentation>(!https://developers.mattermost.com/integrate/admin-guide/admin-plugins-beta/) `

should be rendered as a link with the visible text being `documentation` like so: [documentation](https://developers.mattermost.com/integrate/admin-guide/admin-plugins-beta/). Instead, the markdown is currently not rendering properly. This may be affecting other pages in

[2022-07-12 06:54] stillya opened #20637 "Not showing fullname in adding people to channel modal dialog"
**Problem**

When I'm trying to add people in channel I can't see their fullname, only **nickname**.
<img width="617" alt="image" src="https://user-images.githubusercontent.com/39978392/178426628-dd18d60b-5ab3-4193-8c73-6a09f69bc39c.png">
But search working with all attributes of users(**including fullname**) and from server we getting all information about user.

**Summary**

I think it's wrong b

[2022-07-12 08:37] TwizzyDizzy commented on #15295
I totally concur with the original sentiment of this issue. By now, PostgreSQL `14.x` is the most recent version.

Yet we can only infer from the documentation combined with the [ticket mentioned above](https://mattermost.atlassian.net/browse/MM-28550), that the most recent supported PostgreSQL version is 12. And that was for Mattermost `5.30` (according to JIRA), which means, effectively, that if

[2022-07-12 11:39] amyblais commented on #20564
### v7.1 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.1.0-rc3/mattermost-team-7.1.0-rc3-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5746/files

[2022-07-12 12:15] kullrich opened #20636 "sql - collation"
Dear Mattermost,

after upgrading from Ubuntu16 to Ubuntu20 and after the OS upgrade from Mattermost v5.37 to 7.0.1 we still have some problems with the sql.

The first problem was:

[code]

Than we changed the sql database accordingly into `utf8mb4_general_ci`

and now still have the following errors:

[code]

Could you please in the next upgrade round of Mattermost include a small sql check and

[2022-07-12 13:23] amyblais commented on #20637
Opened: https://mattermost.atlassian.net/browse/MM-45686.

[2022-07-12 14:14] hmhealey commented on #20468
Thanks for the report! We have another ticket to add this [here](https://github.com/mattermost/mattermost-server/issues/15399).

[2022-07-12 14:14] #20468 closed

[2022-07-13 00:58] Ballista01 commented on #20128
@lieut-data Hi, could you check if it does the intended behavior?

[2022-07-13 01:02] lieut-data commented on #20128
Sweet, thanks @Ballista01! I've invited two of our staff to review your PR :)

[2022-07-13 01:04] Ballista01 commented on #20606
It seems that the Figma file is not accessible
![figma_inaccessible](https://user-images.githubusercontent.com/87925547/178626352-de0bc8cb-76a7-4c9d-8d91-da94373ccc06.jpg)

[2022-07-13 03:50] agnivade commented on #20636
HI @kullrich - which small check and automatic upgrade are you referring to?

[2022-07-13 05:29] kullrich commented on #20636
I guess, you should check this problem for any sql scheme upgrade.

[2022-07-13 05:57] amyblais commented on #20616
Thank you!

[2022-07-13 07:17] agnivade commented on #20636
@kullrich - This issue can happen if your connection collation and table collations are different. We already detect that for some tables (as you can see from the log above), but we have avoided doing that for all tables to prevent any false positives.

The solution is to set the same collation for both connection and the table. There are different collations at different levels - connection, data

[2022-07-13 07:31] amyblais commented on #20606
@andrewbrown00 Would you be able to help make the Figma file public?

[2022-07-13 11:36] #19719 closed

[2022-07-13 15:39] amyblais commented on #20564
### v7.1 RC-4 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.1.0-rc4/mattermost-team-7.1.0-rc4-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5746/files

[2022-07-13 16:04] sunilkolluru commented on #20083
@BenCookie95 @amyblais

guys, would greatly appreciate any help on this issue. We are completely stuck with this issue and don't know how to resolve it. Please let us know if you need any further information to help resolve the issue.

[2022-07-13 16:40] BenCookie95 commented on #20083
@rajeshwarpatlolla @sunilkolluru It's hard to diagnose the exact issue without seeing your code but I can try give some suggestions.

Are you able to hit API endpoints from postman on your local environment?

Can you provide the exact headers you're sending for a GET request after you have completed your login?

What are you using for your frontend local development environment? It could be a webp

[2022-07-13 16:47] rajeshwarpatlolla commented on #20083
Thanks for the response @BenCookie95 for your response.

Please check the below headers for GET request after login.
<img width="1413" alt="Screenshot 2022-07-13 at 10 15 32 PM" src="https://user-images.githubusercontent.com/9896335/178787358-805df3c4-c0a5-4540-a407-a6af8555b10c.png">

We are not using any separate config for webpack, as it's a react app that was created with React CLI itself.

[2022-07-13 17:04] BenCookie95 commented on #20083
Well we have some exceptions in our config when working on a local environment, if you're missing those it could be the cause of your websocket connection issues.

Also it might be a good idea to bring your issue to our community server, this channel could be of help https://community.mattermost.com/core/channels/peer-to-peer-help

[2022-07-13 17:09] rajeshwarpatlolla commented on #20083
@BenCookie95 the headers I sent above are from the hosted application, it is not in the local development. We have also tried to find some solutions in mattemost peer-to-peer help,  but we didn't get an answer which can fix our issue.

[2022-07-13 17:31] BenCookie95 commented on #20083
@rajeshwarpatlolla I just need to clarify a few things from earlier replies

1. Earlier you said `We are using our own server APIs for login. Our API is getting two cookies, but it’s not getting the MMCSRF token.`. I'm not really sure what you mean here? Do you mean to say you're connecting your local frontend to your hosted server backend?

[2022-07-13 17:36] rajeshwarpatlolla commented on #20083
@BenCookie95 we have issues both on the local environment (localhost:3000) and also after deploying the frontend code to a secure domain(dev.xxxx.com) as well.
The server is always hosted on our domain(dev.xxxx.com/api) itself, even when we are testing the frontend local.

Now we have fixed the CSRF cookie issue, but still, the POST, PUT, and PATCH APIs are not working and also WebSockets are not

[2022-07-13 17:58] andrewbrown00 commented on #20606
@amyblais @Ballista01 I updated the share permissions, you should be good now. Let me know either way 🙂

https://www.figma.com/file/6QbScyRg3Poc095cLVBtG6/MM-6482-Channel-~autocomplete-across-teams?node-id=0%3A1

[2022-07-13 18:06] Ballista01 commented on #20606
It's accessible now, thanks!

[2022-07-13 18:15] BenCookie95 commented on #20083
@rajeshwarpatlolla Thanks for that information

Websockets are working for your frontend code on dev.xxxx.com right?

POST, PUT, and PATCH APIs might be broken because you are missing this header: `X-CSRF-Token`. It uses the same value as `MMCSRF`

[2022-07-13 22:47] #19358 closed

[2022-07-13 22:49] robert-scheck commented on #15295
@amyblais, could you re-open this pleae, because the documentation part seems still not to be covered…

[2022-07-14 05:08] tareko commented on #20580
I'm happy to, but not sure how / where. Do you mean documentation? Or something more substantial?

[2022-07-14 05:14] rajeshwarpatlolla commented on #20083
@BenCookie95 WebSockets are not working on both local and also on dev.xxxx.com, same with POST, PUT, and PATCH APIs.

I added **x-csrf-token** token now, POST, PUT, and PATCH APIs are working fine. Thanks for the info about the header.
Websockets are still not connecting. Please check below screenshot for the headers. Let me know if we are missing anything.

<img width="1400" alt="Screenshot 2022-

[2022-07-14 06:45] #20564 closed

[2022-07-14 07:05] agnivade commented on #20580
I meant in the code, when we initialize our sql store. The code is here: https://github.com/mattermost/mattermost-server/blob/5f4da3f3082e6aa5323cc31e3cbf99a58281239c/store/sqlstore/store.go#L153. We do several checks to ensure minimum DB version, collation etc. We just need to add another similar check and ensure that `ANSI_QUOTES` isn't there.

[2022-07-14 07:18] amyblais opened #20651 "Fast-Forward"

[2022-07-14 07:18] amyblais commented on #20651
/cloud-ff

[2022-07-14 07:18] mattermod commented on #20651
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-07-14-backup (SHA: `06bec8b`)
    - mattermost-webapp:refs/heads/cloud-2022-07-14-backup (SHA: `12ea3bb`)
    - enterprise:refs/heads/cloud-2022-07-14-backup (SHA: `324e889`)
    - mattermost-api-reference:refs/heads/cloud-2022-07-14-backup (SHA: `7d5e3f8`)

### Fast-Forwarded branches
    - m

[2022-07-14 07:19] #20651 closed

[2022-07-14 07:53] plant99 commented on #19361
Closing because mobile doesn't need an update for this as it's already being handled in mobile v2.

[2022-07-14 07:53] #19361 closed

[2022-07-14 07:55] movy commented on #16099
Just upgraded my DESKTOP client (MacOS) and this drives me nuts -- I can see a notification, but if i'm in the same chat/channel, it MM scroll to the new messages, so it takes me some time to realize where exactly did the new message appear until I realize I need to scroll down to see it.

[2022-07-14 09:19] TwizzyDizzy commented on #15295
@amyblais there you go: https://github.com/mattermost/docs/issues/5778

Cheers
Thomas

[2022-07-14 13:31] lieut-data commented on #16099
@movy, @hmhealey added some debug logging in https://github.com/mattermost/mattermost-webapp/pull/10603 that ships in the upcoming Mattermost v7.1. If you have a chance to upgrade, set the `window.logPostEvents = true` in your console, and then share some of resulting the `console.log` output, we might be able to learn some more about why this happens.

[2022-07-14 14:08] rajeshwarpatlolla commented on #20083
Thanks @BenCookie95 for all your help. We are able to fix the issue with web sockets too.

[2022-07-14 17:00] steve-todorov commented on #16099
@levb thats great! Is there any timeline for the new release?

[2022-07-14 17:10] #16726 closed

[2022-07-14 17:25] #13705 closed

[2022-07-14 17:39] lieut-data commented on #16099
@steve-todorov, v7.1 releases tomorrow 🎉.

[2022-07-14 18:00] BenCookie95 commented on #20083
@rajeshwarpatlolla No problem, would you be able to share what the fix was for people looking at this in the future?

[2022-07-14 18:02] #16121 closed

[2022-07-14 18:19] #16135 closed

[2022-07-14 18:20] altyne opened #20656 "Mismatched sender id when doing test push message"
#### Summary
Error when testing push message notification to android device

#### Steps to reproduce
1. I followed diligently this guide (android) - https://developers.mattermost.com/contribute/mobile/push-notifications/service/

2. When testing the push. I used this command - in linux box:
curl http://19X.168.X.XXX:5066/api/v1/send_push -X POST -H "Content-Type: application/json" -d '{"type": "me

[2022-07-14 20:12] lexbritvin commented on #14792
Hi all!
I implemented the migration with the Mattermost ETL framework.
Check it here https://github.com/lexbritvin/mattermost-etl-rocketchat

We successfully migrated our company RocketChat, but use it at your own risk!

[2022-07-14 22:23] #16127 closed

[2022-07-14 22:50] #16719 closed

[2022-07-14 23:42] #16159 closed

[2022-07-15 05:40] #19791 closed

[2022-07-15 08:19] amyblais commented on #20656
@altyne What Mattermost server version and mobile app version are you on?

[2022-07-15 08:40] cmprmsd opened #20658 "[Feature] views for most active and last active threads"
#### Summary
This is not a bug but a usability feature request.
When you use threads excessively you'll notice that older threads might "run away" in the history. Topics get lost and lose track.
There is of course the "conversations" view. But this does not include unsubscribed threads and currently is very basic in type of filtering etc.

#### Possible fixes
In another chat product `Zulip` there

[2022-07-15 09:21] amyblais commented on #20658
Thanks, appreciate your feedback @cmprmsd,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2022-07-15 09:31] #20083 closed

[2022-07-15 10:02] timotheencl opened #24685 "Desktop App: HiDPI and fractionnal scaling support on Linux under Wayland"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: https://docs.mattermost.com/install/troubleshooting.html](https://docs.mattermost.com/install/troubleshooting.html).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.co

[2022-07-15 11:00] amyblais commented on #20656
@altyne I also recommend posting about this at https://community.mattermost.com/core/channels/peer-to-peer-help, where you can get troubleshooting help from community and staff.

[2022-07-15 13:19] pat-s opened #20660 "Enabling/disabling plugins via env vars"
#### Summary

The [MM helm chart](https://github.com/mattermost/mattermost-helm) requires the use of env vars for configuration.
While there is only very spare information about how to construct the env var logic (and yes I am aware of instructions at https://docs.mattermost.com/configure/configuration-settings.html#environment-variables), there seems to be no way to enable/disable plugins via env

[2022-07-15 13:37] amyblais commented on #20660
@pat-s Do you see any Mattermost log errors?

[2022-07-15 13:39] lieut-data commented on #18393
Indeed, resolved in https://github.com/mattermost/mattermost-plugin-playbooks/pull/753. Thank you, @marianunez!

[2022-07-15 13:39] #18393 closed

[2022-07-15 13:39] #20265 closed, assigned to nobody

[2022-07-15 13:40] amyblais commented on #20265
I believe this was resolved in the Peer-to-peer Help channel, but let me know if I'm wrong.

[2022-07-15 19:22] #16132 closed

[2022-07-15 19:57] altyne commented on #20656
Mattermost serve 7.1 (https://hub.docker.com/r/mattermost/mattermost-team-edition - master)
Mobile App - 1.54.0

[2022-07-15 20:08] altyne commented on #20656
@amyblais raise question on (https://community.mattermost.com/core/channels/peer-to-peer-help) channel this issue

[2022-07-15 20:35] jbattistispiria commented on #18429
@mattermod I won't work on this one further.

[2022-07-15 20:36] jbattistispiria commented on #20123
@mattermod I won't on this one further.

[2022-07-15 21:51] #16727 closed

[2022-07-16 03:16] NgoHuy commented on #20547
Sorry, my fault, I set the custom index directory,  then when the upgrade is running, I forgot to exclude this directory and then it was removed after.
Close issue here.

[2022-07-16 03:16] #20547 closed

[2022-07-16 15:44] gohrner opened #20665 "Deactivated User Gets Notification Mail If User Name or Mail Address is Changed Through CLI"
#### Summary
For EU GDPR reasons, I need to anonymize accounts of former users.

I don't want to fully delete the users and their messages, as the information contained therein may still be relevant in the future.

So I tried to use a script with `mmctl` which changes the user's name and mail address to some pseudonymized values.

Mattermost 5.37.x (I think) / 6.3.x

#### Steps to reproduce
[code]

[2022-07-16 22:22] sinansonmez commented on #16712
@amyblais this issue should be closed as I see files are already migrated to typescript

[2022-07-16 22:24] sinansonmez commented on #15476
@amyblais I believe this issue can be closed as I see files (except test file) are already migrated to typescript

[2022-07-17 09:49] gohrner commented on #20579
Currently, MM always seems to convert to JPEG, so it's spending the cycles anyway. So just throwing the result away if it's not "good enough" would not make matters worse, just better.

Still I agree that it would be an even bigger improvement if MM could avoid unneccessary image conversions in the first place.

[2022-07-17 15:35] sinansonmez commented on #16129
@amyblais PR is ready please assign it to me

[2022-07-17 20:42] tiagodll commented on #17734
I would like to work on this issue

[2022-07-18 05:12] #15476 closed

[2022-07-18 05:12] #16712 closed

[2022-07-18 06:29] amyblais commented on #20665
Opened: https://mattermost.atlassian.net/browse/MM-45793.

[2022-07-18 07:35] amyblais commented on #20660
@pat-s Would you be open to raising this issue at https://community.mattermost.com/core/channels/peer-to-peer-help or at https://forum.mattermost.com/. One of our community or staff members will be able to help troubleshoot this.

[2022-07-18 08:36] DummyThatMatters commented on #20625
Hello! We found out that issue caused by calling api method api/v4/channels/{channel_id}/posts?since={timestamp}&skipFetchThreads=false&collapsedThreads=true&collapsedThreadsExtended=false

Most likely at api4/posts.go/getPostsForChannel (str. 249):
[code]
We have rewritten mattermost server a bit and deployed modified version in order to find out whats going wrong.

I assume that func being calle

[2022-07-18 09:14] agnivade commented on #20625
Thank you @DummyThatMatters. Yes your profile matches with what you are seeing. We are looking into it.

[2022-07-18 13:19] #16123 closed

[2022-07-18 14:34] hmhealey commented on #18429
I'll open it back up for others. Thanks for the work you've done on it!

[2022-07-18 15:32] Philmod commented on #16876
Any update here?

[2022-07-18 16:58] #20605 closed

[2022-07-18 21:07] #18182 closed

[2022-07-18 23:22] bbodenmiller commented on #20427
Is there any way to get some traction on providing providing [S3 no proxy option to reduce egress traffic](https://mattermost.uservoice.com/forums/306457-general/suggestions/45284524-provide-s3-no-proxy-option-to-reduce-egress-traffi)?

[2022-07-19 05:42] agnivade commented on #20625
@DummyThatMatters - As an update, we have triaged it and we are tracking this internally. I'll give you an update when this is fixed. Thank you for reporting it!

[2022-07-19 06:24] #20211 closed

[2022-07-19 10:17] #17250 closed

[2022-07-19 11:47] Soj447 commented on #20632
@mattermod Is it still an issue? I could not reproduce this bug on the latest revision of the master branch.
<img width="671" alt="image" src="https://user-images.githubusercontent.com/30663195/179742242-62b23b52-b772-4a86-9bdf-f27b89c92b9e.png">

[2022-07-19 12:27] neflyte commented on #20566
I seem to have this working on FreeBSD 12.3-RELEASE-p5. I'm having some issues with packaging, but the build is successful.

[2022-07-19 12:55] amyblais commented on #20632
@DHaussermann Can you help test if this is fixed on ``master``?

[2022-07-19 13:21] amyblais commented on #19750
Closing as docs have been updated via https://github.com/mattermost/docs/pull/5579.

[2022-07-19 13:21] #19750 closed

[2022-07-19 14:23] #19825 closed

[2022-07-19 16:27] esethna commented on #19742
Some backend work for this started here: https://github.com/src-r-r/mattermost-server/tree/MM-19529_server-hashtag-autocomplete-with-hashtag-recording

Please join and introduce yourself in this channel if you're interested in taking this on: https://community.mattermost.com/core/channels/feature-hashtag-autocomplete

[2022-07-19 19:22] mailo84 commented on #20324
same problem with 7.1.1

[2022-07-19 20:55] DHaussermann commented on #20632
@Soj447 Thanks for raising this to our attention. Yes, I also see this issue as resolved on recent `master` builds.

This was reported as https://mattermost.atlassian.net/browse/MM-45671 but unfortunately, I don't know the PR that solved it as the issue may be related to something outside the integrations team. I'll ping the assigned dev to ensure the status get's updated on the JIra ticket.
cc @a

[2022-07-20 06:06] #20632 closed

[2022-07-20 06:07] amyblais commented on #20324
We are working on a 7.1.2 to fix it.

[2022-07-20 13:55] ru2mm commented on #20566
Thank you @agnivade for advice. I found the information I needed in community server https://community.mattermost.com/core/pl/5jyuapkcofrqxdnt5huaif8eso.

I use FreeBSD 13.1. Thanks to Raul for making the port for FreeBSD https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=264232.

[2022-07-20 15:35] chrish42 opened #20685 "No way to know if a particular user ever logged in to Mattermost"
When doing a gradual migration from another enterprise communication solution to Mattermost, for example, users will come onboard to Mattermost at different dates. Some will be early adopters, and others will take a bit more time to create their login and move over. Currently, there's no way to know if a particular user has ever logged in to Mattermost, or is just offline at the moment. Both show

[2022-07-20 16:05] amyblais commented on #20685
Thanks @chrish42,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)? Please include a link back to this GitHub issue. If you're interested in implementing, please let us know.

Feel free to also post ab

[2022-07-21 02:05] kyeongsoosoo commented on #19803
@amyblais I would like to take this issue if @VishakhaPoonia will not be able to work on this

[2022-07-21 05:36] #20566 closed

[2022-07-21 05:48] amyblais opened #20688 "Fast-Forward"

[2022-07-21 05:48] amyblais commented on #20688
/cloud-ff

[2022-07-21 05:48] mattermod commented on #20688
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-07-21-backup (SHA: `5f4da3f`)
    - mattermost-webapp:refs/heads/cloud-2022-07-21-backup (SHA: `562928e`)
    - enterprise:refs/heads/cloud-2022-07-21-backup (SHA: `bcda99b`)
    - mattermost-api-reference:refs/heads/cloud-2022-07-21-backup (SHA: `7d5e3f8`)

### Fast-Forwarded branches
    - m

[2022-07-21 05:50] #20688 closed

[2022-07-21 07:09] axel-loewe commented on #15606
Any news regarding this issue?

The solution described [https://medium.com/@mrtcve/mattermost-teams-edition-replacing-gitlab-sso-with-keycloak-dabf13ebb99e](here) worked well for us but breaks with upgrading to >v6.3

[2022-07-21 12:11] allebone commented on #15606
Well I guess that answers whether we are going to update higher than we are…and start looking for alternatives.

[2022-07-21 12:57] samuk commented on #15606
I went with Rocketchat because of SSO support. SSO works but I kinda hate the Rocketchat UI. Mattermost looks/works much nicer IMHO.

[2022-07-21 13:10] Breee commented on #15606
I still think this is a very basic feature that every modern Web
application with usermanagement should support.

samuk ***@***.***> schrieb am Do., 21. Juli 2022, 14:57:

[2022-07-21 19:34] #16129 closed

[2022-07-21 19:39] #13700 closed

[2022-07-22 17:02] aawdev commented on #129
Yeah, many years later, pretty frustrating. Doesn't look like there is a solution either. Time to find another communication app for small dev groups.

[2022-07-24 16:09] sinansonmez commented on #13699
PR is ready, please assign this to me @amyblais

[2022-07-24 16:11] sinansonmez commented on #15450
@amyblais This should be closed by @neallred 's [PR](https://github.com/mattermost/mattermost-webapp/pull/10624)

[2022-07-24 18:03] jpmastermind commented on #19561
Hello, can I work on this?
I see that the Jira ticket is marked as resolved, with comment saying it should be fixed in v2, but I see it's still there in both master and v2 branches...
(p.s: I'm new here, I might be missing something ^^)

[2022-07-24 20:18] sinansonmez commented on #13701
@amyblais PR is ready, please assign it to me

[2022-07-25 13:00] mattermod opened #20704 "Pasting hyperlinks should retain the link with markdown formatting"
Currently hyperlinks pasted to Mattermost only retain the text but the link is lost.

**Current Behaviour:**

Mattermost will render a “Paste” operation essentially as plain unformatted text (dropping any underlying URL-related formatting that is present in the source of the content, i.e., the data that was copied).

See video: [https://gyazo.com/8342e1bb91810d0d98093f892f83be53](https://gyazo.com

[2022-07-25 13:17] neallred commented on #15450
Implemented in https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:22] neallred commented on #15464
Implemented in https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:22] #15464 closed

[2022-07-25 13:22] neallred commented on #15462
Implemented in https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:22] #15462 closed

[2022-07-25 13:22] #15450 closed

[2022-07-25 13:24] neallred commented on #15453
Implemented in https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:24] #15453 closed

[2022-07-25 13:39] #17247 closed

[2022-07-25 13:40] neallred commented on #15446
Implemented as part of https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:40] #15446 closed

[2022-07-25 13:40] neallred commented on #15445
Implemented as part of https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:40] #15445 closed

[2022-07-25 13:41] neallred commented on #15440
Implemented as part of https://github.com/mattermost/mattermost-webapp/pull/10624

[2022-07-25 13:41] #15440 closed

[2022-07-25 17:12] sinansonmez commented on #19864
@esethna thanks for the clarification.

I spent some time on this to figure out the implementation. Unfortunately I couldnt find an easy solutions (at least not visible to me). I could see that accessibility is mainly managed by [this file](https://github.com/mattermost/mattermost-webapp/blob/master/utils/a11y_controller.js)

The question: Is there any similar implementation in the codebase so I c

[2022-07-26 04:44] gryter commented on #20024
Is this being looked at?

[2022-07-26 07:44] Chr1st14n-LL opened #20712 "Option to enable AFT or CRT in Systemconsole is missing"
Maybe i am too dumb, but i cant get CRT running.

I´ve upgraded selfhosted Mattermost Server 6.7 to 7.1.2. - Schema Migrations were obviously applied, cause i have new Tables "ThreadMemberships","Threads" and an additional Column "ChannelID" in Reactions Table. I also updated my Client to 5.1.1 (Windows).

Unfortunately i dont have any options for AFT or CRT in Systemconsole->Systemconfiguration->

[2022-07-26 12:50] joho1968 opened #20716 "Issues with GET parameters in OAuth2 redirect URI"
#### Summary
Issues with GET parameters in OAuth2 redirect URI

#### Steps to reproduce
Supply a redirect_uri containing a GET parameter when MM is called (using MM 7.1.2)

#### Expected behavior
I would expect the callback by MM to be correctly issued

#### Observed behavior (that appears unintentional)
I see the GET parameters passed by MM to the client in the callback to be "bungled" (see below

[2022-07-26 14:24] hmhealey commented on #20255
This looks like it was fixed by the Desktop App change. I can't repro this within the web app. Feel free to reopen if it's still happening

[2022-07-26 14:24] #20255 closed

[2022-07-26 14:40] Hu1buerger opened #20719 "Export of chats "impossible""
#### Summary
Trying to print a chat from the mattermost web chat results in only one page, with multiple messages stacked ontop of each other.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Version unknown.

1. Write a chat with a user on mm.
2. Load the chat in Chrome on MacOS (but most likely an other OS)
3. Try to print the chat. (Hit Cmd+P)
4. Select as P

[2022-07-26 15:14] Hu1buerger opened #20720 "Suspected violation of the GDPR"
Dont be alarmed but i do find it important to point out this issue.

#### Summary
The personal data handled by mattermost are not exportable, violating the GDPR for all systems deployed in or with the eu / eu citizens.

#### Expected behavior
As per art. 25 in conjunction with 15 and 12ff GDPR the controller shall make the subjects data available. Art 25 enforces the controller to design his* tech

[2022-07-26 19:49] gamesguru commented on #20656
I am also facing this issue with both legacy and new firebase server token / key IDs

[2022-07-26 22:30] #17734 closed

[2022-07-27 02:08] alexpitsikoulis commented on #18010
Hey is this still an open issue/unassigned ?

[2022-07-27 06:12] gohrner opened #20721 "(Documentation?) Bug: `RestrictDirectMessage` Does Seem to Affect Messaging Permissions on Server (Contrary to Documented Behaviour)"
#### Summary
The help text for the `RestrictDirectMessage` setting is wrong, it actually DOES influence permission checking on the server.

#### Steps to reproduce
1. Enable WelcomeBot and make sure it works, e.g. sending a message to new users or auto-adding new users to Channels.
2. Set `"RestrictDirectMessage": "team"`

#### Expected behavior
WelcomeBot still works.

#### Observed behavior (tha

[2022-07-27 11:32] Chr1st14n-LL commented on #20712
It turned out that i was too dumb. Made a mistake by updating client folder. Fixed it.

thanks anyway. C

[2022-07-27 11:32] #20712 closed

[2022-07-27 12:56] tobeornottoer opened #20725 "open migrations\\postgres: file does not exist"
#### Summary
open migrations\\postgres: file does not exist

mattermost version 7.1.2

when i run the code "go run ./cmd/mattermost/main.go"  and then fatal error : open migrations\\postgres: file does not exist

what can i do? help please!

[2022-07-27 16:03] jackielii commented on #9080
I reckon there should be an websocket "coordinator" which uses a Redis store that saves all the live the machines' status. Then use a consistent hashing to distributing the userid to the live hosts. So when a connection comes, you'll know where to send to right?

[2022-07-27 18:49] bbodenmiller commented on #20066
@agnivade it sounds like https://github.com/mattermost/mattermost-server/pull/20711 only partially fixes this?

[2022-07-27 19:01] agnivade commented on #20066
Correct. We can never fix this fully due to reasons mentioned above. #20711 was the safest set of optimizations we can do without drastic code changes. If, even after this optimization, your server runs into heavy load, I'd suggest to perhaps increase the server capacity to handle more requests.

[2022-07-27 19:01] hmhealey commented on #19864
I'm not sure if we have any other good examples of doing something like this, but what if we just always focused that element when one of those views is opened? I'd hope that the A11yController would recognize that the focus changed and apply the correct effect since, even though the focus was changed programatically, I don't think that would stop it from adding the extra highlighting. When clicki

[2022-07-28 00:33] gamesguru commented on #16864
I have this issue on Android too.

Other links load a preview, but not youtube or youtube music.

[2022-07-28 01:59] #20725 closed

[2022-07-28 05:05] Rixant commented on #20704
Could you please assign me this issue?

[2022-07-28 14:54] marianunez opened #20734 "Fast-Foward Cloud"
Fast Forward `cloud` branch for August 3rd Cloud Release

[2022-07-28 14:55] marianunez commented on #20734
/cloud-ff

[2022-07-28 14:55] mattermod commented on #20734
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-07-28-backup (SHA: `e988d76`)
    - mattermost-webapp:refs/heads/cloud-2022-07-28-backup (SHA: `38ccaf5`)
    - enterprise:refs/heads/cloud-2022-07-28-backup (SHA: `e468443`)
    - mattermost-api-reference:refs/heads/cloud-2022-07-28-backup (SHA: `7d5e3f8`)

### Fast-Forwarded branches
    - m

[2022-07-28 14:56] #20734 closed

[2022-07-28 15:46] akhmerov commented on #19269
It seems that the problem reappeared. This time I've upgraded mattermost to 7.0, and `docker restart` doesn't help anymore.

[2022-07-28 22:15] kkennedy-gh commented on #16707
First issue to work on.

[2022-07-29 09:53] dmke opened #20739 "Overflowing images on large screens"
#### Summary

On large screens (the breakpoint seems to be at 1550px window width), the "Show more" button is not shown, and embedded images flow out of the post message container.

These messages are created through the Gitlab integration, so I believe these are not "normal" messages, but message "attachments" (?).

https://user-images.githubusercontent.com/327411/181731249-c2586923-5308-48c5-b48

[2022-07-29 12:56] MKDan commented on #7195
There are no issues i the latest version!

[2022-07-29 13:42] mpounsett commented on #10119
This is STILL a problem.  It really needs to be fixed.

[2022-07-29 13:47] jelu commented on #10119
This is very unexpected behavior, at least this should be configurable!

[2022-07-29 21:43] bbodenmiller commented on #20427
We're hearing from our S3 provider that we are hitting connection limit. Is Mattermost not releasing the S3 connections in a timely manner?

[2022-07-29 22:48] sinansonmez opened #20741 "Emoji selector is going below other components when replying to thread which make it hard to see"
#### Summary
Emoji selector is not completely visible when you are replying to thread with few replies

#### Steps to reproduce
1. Click threads
2. Find a thread with only 1-2 replies
3. Type `:as` to see suggestions

#### Expected behavior
Emoji selector should be completely visible
<img width="1440" alt="Screen Shot 2022-07-30 at 00 47 48" src="https://user-images.githubusercontent.com/37421564/

[2022-07-30 04:14] agnivade commented on #20066
Reopening because the fix was reverted, due to an unrelated failure.

[2022-07-30 08:35] ylluminate commented on #18351
Would really appreciate some help and an update here so we don't misstep in our efforts to update. We're at a point where we would really like to update, but we're stuck more than several months behind right now for fear of doing something that could create some appreciable downtime trying to sort out and then reverse an update.

Hoping someone can test the migration over to PGSQL pronto.

[2022-07-30 08:46] bbodenmiller commented on #20427
Using https://superuser.com/a/1086937/143551 and scrolling through emoji picker with large number of custom emojis we can get the system to spike to 1000 connections. Perhaps the server could cache the custom emojis and/or reuse existing connections (connection pool?)?

[2022-07-30 12:36] agnivade commented on #18351
If you are not able to test the DB migration, an alternative is to export your existing Mattermost installation, and import it into a postgres one.

[2022-08-01 07:27] alexanderadam commented on #15606
Does anyone here know a similar tutorial to make Mattermost working with [Authelia](https://www.authelia.com/)?

[2022-08-01 07:53] biva commented on #18351
Hello @agnivade , what you're suggesting is what is described in https://docs.mattermost.com/onboard/bulk-loading-data.html and/or https://docs.mattermost.com/manage/bulk-export-tool.html, right?

In your opinion, which way would you recommend? Would the DB migration have an advantage over the bulk export tool? (the bulk export looks easier for me, am I wrong?)

[2022-08-01 07:55] agnivade commented on #18351
There's no advantage in either option. The bulk export is a safer option if you don't want to mess around with DB schemas.

[2022-08-01 08:15] phpfs commented on #18351
But wouldn't that break a lot of stuff beyond user faced content? (e.g. plugins, integrations, webhooks, custom message formats, system settings) In case this is true, in my opinion, a full DB migration would be the preferred option for me. If not to Postgres, maybe at least to a normal (supported) MySQL? :)

[2022-08-01 11:27] #13701 closed

[2022-08-01 14:16] agnivade commented on #18351
That's true actually. Sorry about that. Those will need to be manually installed/added.

[2022-08-01 19:11] amyblais commented on #10119
Closing as a dup of https://github.com/mattermost/mattermost-server/issues/20024.

[2022-08-01 19:11] #10119 closed

[2022-08-01 20:06] mpounsett commented on #20024
We were directed to comment on #10119 which is now closed.

This is extremely surprising behaviour, which remains a problem, and it seems to have been under consideration for some years now (#10119 was opened 3.5 years ago).  It looks like MM-35887 was being actively worked on in April, but not much activity since then.   Is it still a priority?

[2022-08-02 11:47] akhmerov commented on #19269
The entire integrity check runs in 30 seconds, and therefore this doesn't seem to be related to database load. The integrity finds the following orphans:

[code]

[2022-08-02 12:53] akhmerov commented on #19269
Turning playbooks and boards plugins off and back on for some reason resolved the issue.

[2022-08-02 16:48] amyblais commented on #18010
@alexpitsikoulis Yes, would you like me to assign this to you?

[2022-08-02 17:50] amyblais opened #20756 "Mattermost v7.2"
You can find key dates for v7.2 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### July 29th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### August 12th: Release Build Cut
The fi

[2022-08-02 17:50] amyblais commented on #20756
### v7.1 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.1.0-rc2/mattermost-team-7.1.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: Link to be added

[2022-08-02 17:56] #19269 closed

[2022-08-02 17:58] alexpitsikoulis commented on #18010
@amyblais yes please

[2022-08-02 18:23] amyblais commented on #20741
https://mattermost.atlassian.net/browse/MM-46137

[2022-08-02 18:25] amyblais commented on #20721
https://mattermost.atlassian.net/browse/MM-46139

[2022-08-02 18:26] amyblais commented on #20719
https://mattermost.atlassian.net/browse/MM-46140

[2022-08-02 18:28] amyblais commented on #20656
@gamesguru I recommend posting about this at https://community.mattermost.com/core/channels/peer-to-peer-help, where you can get troubleshooting help from community and staff.

[2022-08-02 22:23] gamesguru commented on #20656
The issue was that you can't use your own custom firebase keys (to do that, you must recompile the react native app with configuration changes).

I ended up switching back to the provided test server, and it worked.

[2022-08-03 12:40] #20656 closed

[2022-08-03 13:54] #20216 closed

[2022-08-03 16:56] #18177 closed

[2022-08-03 16:56] #18168 closed

[2022-08-03 16:56] #18174 closed

[2022-08-03 17:01] amyblais opened #20764 "FF"

[2022-08-03 17:02] amyblais commented on #20764
/cloud-ff

[2022-08-03 17:02] mattermod commented on #20764
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-08-03-backup (SHA: `03c3f54`)
    - mattermost-webapp:refs/heads/cloud-2022-08-03-backup (SHA: `b2a1edd`)
    - enterprise:refs/heads/cloud-2022-08-03-backup (SHA: `701a4a4`)
    - mattermost-api-reference:refs/heads/cloud-2022-08-03-backup (SHA: `5413c61`)

### Fast-Forwarded branches
    - m

[2022-08-03 17:02] #20764 closed

[2022-08-03 17:47] #19981 closed

[2022-08-03 17:59] amyblais commented on #20716
@joho1968 Would you be open to raising this issue at https://community.mattermost.com/core/channels/peer-to-peer-help or at https://forum.mattermost.com/? One of our community or staff members will be able to help troubleshoot this.

[2022-08-03 23:07] hairmare opened #20766 "gender neutral emoji search"
#### Summary

Hi it's me again. Gender neutral emoji guy :pleading_face:

We have support for the full range of emojis from #17328 and :health_worker: was added as `:doctor:` in #20318. This was an override to the rule being only to allow standard names going forward.

As much as this is about exclusivity, it is also about i18n. Most users that don't use an EN locale will still search for emojis i

[2022-08-04 05:52] #20066 closed

[2022-08-04 06:00] joho1968 commented on #20716
I've done that now:
https://community.mattermost.com/core/pl/ba6nykiuuidkxpf9ixbrg8z4jr

[2022-08-04 06:02] joho1968 commented on #20716
(By the way, the WordPress plugin now does this as suggested in a reply to my original post:
https://community.mattermost.com/core/pl/ixwmzj1533g9fxqextsrsisx5c)

The plugin is at https://wordpress.org/plugins/cloudbridge-mattermost

[2022-08-04 10:32] Danielnex7 opened #20770 "auto-follow the thread when someone is using @here / @all / @channel in the original post for other members"
#### Summary
auto-follow the thread when someone is using @here / @all / @channel in the original post

#### Steps to reproduce
1. In any channel, create a message using the @here tag

#### Expected behavior
If you are a member of a channel and one of the participants used the @here tag, then with each new message in the thread of this message, each channel participant will receive a notification,

[2022-08-04 13:14] amyblais commented on #20770
We have a ticket open to improve the behaviour for ``@here``: https://mattermost.atlassian.net/browse/MM-37813.
Another ticket is open to add a ``@thread`` option so that ``@all / @channel`` don't need to be used: https://mattermost.atlassian.net/browse/MM-37170.

[2022-08-04 13:24] amyblais commented on #20716
Opened: https://mattermost.atlassian.net/browse/MM-46216.

[2022-08-04 13:25] amyblais commented on #20766
Opened: https://mattermost.atlassian.net/browse/MM-46215.

[2022-08-04 13:30] #19561 closed

[2022-08-04 14:42] amyblais commented on #20756
### v7.2 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.2.0-rc2/mattermost-team-7.2.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5818/files

[2022-08-04 20:55] #19815 closed

[2022-08-04 20:56] #20190 closed

[2022-08-05 02:37] shawn111 opened #20773 "hang on add-channelid-to-reaction: migrating 7.0.1 -> 7.1.x"
#### Summary
Try to upgrade mattermost but hangup.
As begin I try to upgrade from 5.37 -> 7.1 but failed.
I separate migrate step to multi steps.
 -  5.37 -> 5.39 (pass)
 - 5.39 -> 6.0 (pass)
 - 6.0 -> 6.3 (pass)
 - 6.3 -> 6.7 (pass)
 - 6.3 -> 6.7 (pass)
 - 6.7 -> 7.0 (schema version:85)  (pass)
 - 7.0 -> 7.1 (schema version:89)  (hangup)

[code]

#### Steps to reproduce
[code]

#### Expected beha

[2022-08-05 04:14] shawn111 commented on #20773
https://github.com/mattermost/morph/
try use morph to handle migrations

[2022-08-05 04:59] shawn111 commented on #20773
https://stackoverflow.com/questions/48479616/alter-table-too-slow-in-postgres

ALTER TABLE reactions ADD COLUMN IF NOT EXISTS channelid varchar(26) NOT NULL DEFAULT '';
<< It seems this sql command made query hang.

[2022-08-05 05:13] shawn111 commented on #20773
UPDATE reactions SET channelid = COALESCE((select channelid from posts where posts.id = reactions.postid), '') WHERE channelid=''; << seems this query block

[2022-08-05 05:28] agnivade commented on #20773
How long has it remained hung? It looks like your posts table has around 3M rows, and from our upgrade notes https://docs.mattermost.com/install/self-managed-changelog.html#important-upgrade-notes, it can take around 1-2 minutes.

[2022-08-05 05:36] shawn111 commented on #20773
mm=# select COALESCE((select channelid from posts where posts.id = reactions.postid), '') from reactions WHERE channelid='' limit 10;
          coalesce
----------------------------
 nnqyhooqeifddk5914uqfia75c
 n3qnrdg7qtno7qrzcbd6o97odr
 nnqyhooqeifddk5914uqfia75c
 n3qnrdg7qtno7qrzcbd6o97odr
 nnqyhooqeifddk5914uqfia75c
 nnqyhooqeifddk5914uqfia75c
 nnqyhooqeifddk5914uqfia75c
 nnqyhooqeifddk5914uqf

[2022-08-05 05:39] shawn111 commented on #20773
I'm not really know how long, more than 1hr.
I cancelled it.

[2022-08-05 05:46] shawn111 commented on #20773
mm=# EXPLAIN ANALYSE select posts.channelid from posts, reactions WHERe posts.id = reactions.postid  and reactions.channelid='';
                                                               QUERY PLAN
----------------------------------------------------------------------------------------------------------------------------------------
 Gather  (cost=2963.18..257260.87 rows=377 width=27) (actual

[2022-08-05 06:21] agnivade commented on #20773
1 hour is definitely not expected. @agarciamontoro - wondering if you could take a look here? I would guess the schema of either the reactions or posts table is somehow missing some indexes.

[2022-08-05 08:19] shawn111 commented on #20773
It seem create an index help the performance a lot.

[code]

[2022-08-05 08:39] shawn111 commented on #20773
[code]

[code]

[2022-08-05 08:43] shawn111 commented on #20773
It seems to create an index help the performance a lot.
[code]

After create index, update 3M posts  cause 2~3 sec to update channelid.

[code]

[2022-08-05 21:06] phpfs commented on #18351
Apparently, GitLab was in a similar situation when they dropped support for MySQL (not MariaDB as we discuss here) and has a guide on how to migrate from to Postgres: https://docs.gitlab.com/ee/update/mysql_to_postgresql.html

[2022-08-06 06:20] jelmd opened #20779 "Upgrade from 6.3.9 to 7.1.2 fails"
#### Summary
DB migration fails with **Error 1267: Illegal mix of collations** `(utf8mb4_general_ci,IMPLICIT) and (utf8mb4_unicode_ci,IMPLICIT) for operation '='`

#### Steps to reproduce
Upgrade version 6.3.9 to 7.2.1 - install and start the new instance.

#### Expected behavior
db migration should work and server start.

#### Observed behavior (that appears unintentional)
[code]

#### Possible f

[2022-08-06 20:23] jelmd opened #20780 "channel files does not work anymore after upgrade to 7.1.2"
#### Summary
After upgrade from 6.3.9 to 7.1.2 `channel files` in the web client (FF) does not show any files anymore.

#### Steps to reproduce
Upgrade from 6.3.9 to 7.1.2, go to a channel which has any attachments and click on `channel files`.

#### Expected behavior
Right sidebar should show all attachments of the channel.

#### Observed behavior (that appears unintentional)
The sidebar shows th

[2022-08-07 10:43] sozojunaid commented on #12755
how to link plz give me idea !!

[2022-08-08 04:53] agnivade commented on #20779
Hi @jelmd - Ideally the collation is a user specific setting and something the admin should set depending on their language preferences. That's why we avoid setting the values by ourselves. We do have some checks that check for differences between connection collation and database collation, but it is up to the admins to fix it for themselves.

We do have the scenario documented here: https://docs

[2022-08-08 08:58] tpo opened #20782 "6.3.3 -> 6.4.3 (Gitlab integrated, postgres): "Failed to apply database migrations" "column "description" of relation "incomingwebhooks" does not exist""
#### Summary

The upgrade of mattermost 6.3.3 to 6.4.3 with a postgres DB fails with "Failed to apply database migrations" ... "column "description" of relation "incomingwebhooks" does not exist

#### Steps to reproduce

    apt-get install gitlab-ce

#### Expected behavior

The upgrade should just work

#### Observed behavior (that appears unintentional)

Here's the log entry from /var/log/gitlab

[2022-08-08 09:02] tpo commented on #20782
In case you Mattermost devs want to close this bug as "won't fix because old, unsupported version" then that's fine with me. I just wanted to report the bug and the workaround here, so that others hopefully will not need to go rummaging around in their logs but instead ask their preferred web engine and get pointed directly to this post.

Thanks a lot for the fine Mattermost SW!

[2022-08-08 11:38] chrishanthmathew91 commented on #20519
I would like to take a stab at this

[2022-08-08 12:48] isacikgoz commented on #20441
@haardikdharma10

[2022-08-08 13:09] #13690 closed

[2022-08-08 15:06] amyblais commented on #20782
Let us know if this reproduces in a newer Mattermost version as well,

[2022-08-08 15:06] #20782 closed

[2022-08-08 15:22] tpo commented on #20782
@amyblais

No this was a one-off. I did more upgrades after and landed at Mattermost 7.x,

[2022-08-08 16:15] mattermod opened #20787 "Web app - Leave channel sidebar menu option should display as destructive"
Destructive actions in LHS channel menu should be red.

![](Screen Shot 2022-07-26 at 2.26.41 PM.png|width=389,height=354)

{panel:bgColor=#eae6ff}
**Design Notes**

  * Apply the **destructive action color** to the following menu items:
    * Archive channel (channel header menu)
    * Leave channel (LHS and channel header menu)
  * Use the [Menu Component](https://www.figma.com/file/wk34Cxyi0lvG

[2022-08-08 17:07] amyblais commented on #20780
@jelmd What browser do you use? Do you see this issue on our community server https://community.mattermost.com/?

[2022-08-08 17:52] tpo commented on #20782
There was one additional thing that broke, however: incoming web hooks were not working any more. I'm not sure which update broke it. It's certain though that it was either 6.3 -> 6.4 or one of the latter updates. We additionaly had to do this to fix our incoming web hooks:

[code]

[2022-08-08 18:06] jelmd commented on #20780
@amyblais FF 100.0 (64-bit) on Ubuntu 20.4 (focal)

[2022-08-08 18:47] amyblais commented on #20780
I wasn't able to reproduce this. Would you be open to raising this issue at https://community.mattermost.com/core/channels/peer-to-peer-help or at https://forum.mattermost.com/? One of our community or staff members may be able to help troubleshoot this.

[2022-08-08 20:56] matthewbirtch commented on #17572
Closing this as the team will be taking this in-house

[2022-08-09 00:23] jelmd commented on #20779
Ooops, isn't this an application specific database? Shouldn't the application dictate, what it needs/expects? If anyone may choose charset and collation on desire, and the app does not correct it, the app is unreliable/inconsistent and may break any time (e.g. if it gets xfered to another db, where the global defaults are different)?

BTW: The problem happens with 6.3.9 - the docs you refer to say

[2022-08-09 04:13] agnivade commented on #20779
Ideally, an application should be agnostic of user language preferences. The application cannot know which language the user will use, and hence cannot dictate what it needs. If the admin transfers the data to another database, they are responsible to maintain the same global defaults.

The error message that you are showing only exists from 6.4.0 onwards. It seemed like you were already on 6.3.9

[2022-08-09 05:00] mattermod opened #20789 "Support plugin hook: UserProfileHasBeenUpdated"
In order for plugins to be aware of changes to a user profile (such as profile picture, name, and email), we can support a hook that runs when a user object is updated.

Join the Toolkit channel for more discussion [https://community.mattermost.com/core/channels/developer-toolkit](https://community.mattermost.com/core/channels/developer-toolkit)

----
If you're interested please comment here and c

[2022-08-09 05:15] mattermod opened #20790 "Mobile: slash command autocomplete options open in the middle of the list"
The slash command autocomplete pop up sometimes shows the list from the middle instead of from the top.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or ques

[2022-08-09 05:15] mattermod opened #20791 "Mobile slash command autocomplete doesn't show "Execute" as an option"
Mobile apps don't show the "Execute" option for slash command autocomplete.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "De

[2022-08-09 06:17] AbhinavVihan commented on #19802
i would love to work on this

[2022-08-09 08:38] agarciamontoro commented on #20773
Hey, @shawn111, thanks for the report!
The upgrade notes show that the migration takes around 1-2 minutes in a DB with 12M posts and 2.5M reactions. You have less load than that, so I'd expect the migration to take less time in similar conditions. A couple of questions:
1. What are the specs of the machine you're running Mattermost and the DB on?
2. Could you provide a schema dump to know if there

[2022-08-09 13:55] mickmister commented on #20790
Deferring to v2 of mobile app

[2022-08-09 13:55] #20790 closed

[2022-08-09 14:00] hmhealey commented on #20347
Hi @rajeshwarpatlolla. If this is only happening with OpenVidu enabled, it's possible that that's interfering with the websocket handling somehow. Is that coming from a plugin of some sort, or is it a browser addon that's adding that to Mattermost?

Seeing a null channel_id like in the second screenshot is very odd since we default it to the empty string when we're outside of a channel

[2022-08-09 15:19] mkraft commented on #20719
We don't plan to add this feature. Please refer to the various export features in the product.

[2022-08-09 15:19] #20719 closed

[2022-08-09 19:51] jelmd commented on #20779
Hi @agnivade,

Hmmm, if this means, that it should always work and produce consistent results no matter, what the current settings are, then yes.

Well, app channel settings, app user profile, app defaults, browser settings - it seems that there are a lot of ways to determine/know/set, what should be used.

Sure it can. And IMHO it actually should, otherwise it is more or less a lottery game and a

[2022-08-09 20:11] jelmd commented on #20780
Hi Amy,

I checked the FileInfo tables from the old and new instance. The old one had ~12K, and the new one ~2.5K entries. So dropped the FileInfo table, pulled in the dump of it from the old instance and applied the FileInfo related migration steps manually. This solved the problem.

[2022-08-09 20:35] #20780 closed

[2022-08-10 08:48] hegerdes opened #20801 "In proper parsing from slack slash command response"
#### Summary
Wenn using a slash commands designed for Slack from GitLab the response is improperly parsed and formatted

#### Steps to reproduce
 1. Set up a GitLab integration with Slack Slash commands.
 2. Connect your new slash command with GitLab
 3. Test the connection with running `/my-trigger issue show <id>`
 4. Run `/my-trigger run <job_name>`
 5. Get the following response:
![Screnshot](

[2022-08-10 13:33] amyblais commented on #20801
Opened: https://mattermost.atlassian.net/browse/MM-46296.

[2022-08-10 14:13] Hu1buerger commented on #20720
As #20719 was closed as unplaned, and i do suspect a violation of the gdpr, i am asking for a second review.

[2022-08-10 14:24] Hu1buerger commented on #20719
@mkraft the jira ticket mentions the export of chats via printing, i do believe this issue is far greater than anticipated, as the core rights of the user is at stake. As mattermost seems to be a tool that values openness and transparency i fell that the gdpr and the right to data access of the subject should fall into that.

[2022-08-10 14:25] Hu1buerger commented on #20719
is that a tool run remote or locally by the user?

[2022-08-10 16:37] amyblais opened #20805 "Fast forward"

[2022-08-10 16:37] amyblais commented on #20805
/cloud-ff

[2022-08-10 16:37] mattermod commented on #20805
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-08-10-backup (SHA: `334b199`)
    - mattermost-webapp:refs/heads/cloud-2022-08-10-backup (SHA: `056547e`)
    - enterprise:refs/heads/cloud-2022-08-10-backup (SHA: `f6f4256`)
    - mattermost-api-reference:refs/heads/cloud-2022-08-10-backup (SHA: `86e4dd5`)

### Fast-Forwarded branches
    - m

[2022-08-10 16:37] gustavosbarreto commented on #20432
The same here

[2022-08-10 16:38] #20805 closed

[2022-08-11 08:43] mgdelacroix opened #23063 "Bug: error when rendering a board with a bad group by property"
## Steps to reproduce the behavior

1. Create a new board without using a template. You should get a kanban view grouped by status
2. Create a new card and change the type of the status property to be a non-groupable one (for example, URL)
3. The board should cause an error when trying to be visited

## Expected behavior

We should define a way to render the kanban when no groupable property exist

[2022-08-11 09:37] glocore commented on #11811
I'd like to take a stab at this!

[2022-08-11 11:42] davidus05 opened #26872 "mmctl stuck on import from Slack"
Worked through the whole documentation as shown here (https://docs.mattermost.com/onboard/migrating-to-mattermost.html) for importing Slack.

Uploading and starting the job does work. After that it gets stuck, only two users are imported, all channels are imported but without any messages. Is there any way to debug this?

No activity after the start:
[code]

[2022-08-11 12:26] ThiefMaster commented on #19747
And update on this? I have a user who wants to import from slack while keeping  his attachments. But right now the import fails...

[2022-08-11 16:09] davidus05 commented on #20221
Fixed it by setting `EnableLocalMode` to true in `config.json`. Sadly it is mentioned nowhere that this error messages relates to that.
https://docs.mattermost.com/configure/configuration-settings.html#enable-local-mode

[2022-08-11 16:41] amyblais commented on #20221
@davidus05 Would you like to edit the documentation, or open a docs Issue at https://github.com/mattermost/docs/issues for our team to update the documentation?

[2022-08-11 19:06] mkraft commented on #20719
I just want to ensure I understand what you're advocating. You're saying end users have a right to export data from the system and printing to PDF is an accessible way to do so?

It can be run remotely or on the local server.

[2022-08-11 22:01] rluong003 commented on #20789
May I work on this?

[2022-08-12 07:32] thepra opened #20810 "API v4 get /users pagination does not work"
#### Summary
The `per_page` query parameter is not respected and returns always a max. of 200 records.

#### Steps to reproduce
/api/v4/users?page=0&per_page=2000

#### Expected behavior
Get 2000 records

#### Observed behavior (that appears unintentional)
Got 200 max. records

#### Possible fixes
Make `page` & `per_page` apply to the query correctly

[2022-08-12 07:55] thepra commented on #20810
Just a guess but `OrderBy`, `Offset` and `Limit` shouldn't be applied at the end of the `query` instead of at the beginning?
![immagine](https://user-images.githubusercontent.com/7032509/184310449-8d265765-ac88-49c2-91b0-5a14f213af40.png)

[2022-08-12 11:08] mayqueeen commented on #16662
I expierence the same issue as above. A lot of cancelled requests in the log, very slow loading in the app. We are on 7.1.0.

[2022-08-12 14:51] amyblais commented on #20810
@thepra Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-08-12 15:01] amyblais commented on #20221
Opened a docs issue at: https://github.com/mattermost/docs/issues/5833.

[2022-08-12 15:01] #20221 closed

[2022-08-12 16:35] amyblais commented on #20720
I asked our team about this and they mentioned that we do have APIs that should enable people to get their user data from our platform. Does this help, or do you have additional questions?

[2022-08-12 18:15] mattermod opened #20813 "Write E2Es for colorized usernames in compact view"
Create Cypress test for testing colorized usernames in compact view

  * Use `MM-T4984` as test case id
  * See suggested steps here: [https://automation-test-cases.vercel.app/test/MM-T4984](https://automation-test-cases.vercel.app/test/MM-T4984)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/ticket

[2022-08-12 18:45] Hu1buerger commented on #20720
Jep this kinda helps but as I already mentioned, any user shall have the ability to export their data easily. And as most of the data subjects do not hold the ability to export with an API, and mostly because of other reasons, the gdpr mandates a export functionality that is accessible by any user (and in this case by the web and app ui).

Therefore I strongly believe this feature is required.

[2022-08-12 18:54] amyblais commented on #20720
Thank you @Hu1buerger, would you like to [share this in our feature idea forum here](https://mattermost.uservoice.com/forums/306457-general/)? Please include a link back to this GitHub issue. If you're interested in implementing the feature and submitting a pull request, please let us know.

[2022-08-12 19:21] #12518 closed

[2022-08-12 21:28] sinansonmez commented on #19864
Thanks @hmhealey for the suggestion. I tried to implement your proposal but unfortunately no luck. Here is [my branch](https://github.com/sinansonmez/mattermost-webapp/tree/MM-25148-focus-first-message). Anything else comes to your mind that can fix the issue?

[2022-08-13 07:50] sinansonmez commented on #20813
@amyblais i can work on this

[2022-08-13 13:28] sinansonmez commented on #18523
@saturninoabril should this issue be closed?

[2022-08-13 13:30] sinansonmez commented on #18819
If @prapti is not working on this I can try @saturninoabril

[2022-08-13 13:31] sinansonmez commented on #18824
If @EANimesha is not working on this I can try @saturninoabril

[2022-08-13 13:34] saturninoabril commented on #18824
@sinansonmez Sure and thanks!

[2022-08-13 13:34] saturninoabril commented on #18819
@sinansonmez Sure and thanks!

[2022-08-13 13:35] saturninoabril commented on #18523
@sinansonmez Thanks for checking! Closing now.

[2022-08-13 13:35] #18523 closed

[2022-08-13 22:00] sinansonmez commented on #20813
Thanks for assigning. I already started to work on this. I have one doubt.

Should I separate the tests based on numbering on [suggested steps](https://automation-test-cases.vercel.app/test/MM-T4984) like `MM-T4984_1` and `MM-T4984_2` like on [my branch](https://github.com/mattermost/mattermost-webapp/compare/master...sinansonmez:mattermost-webapp:MM-46343-e2e-test-for-colorized-names)?

[2022-08-14 15:42] sinansonmez commented on #20154
@amyblais I believe this issue should be closed as [Jira ticket](https://mattermost.atlassian.net/browse/MM-44030) is closed

[2022-08-14 22:13] #20154 closed

[2022-08-15 06:53] pspacek commented on #17572
@matthewbirtch Is there is place we can watch for progress instead of this issue? Thank you!

[2022-08-15 12:20] amyblais commented on #20813
@jgilliam17 Would you have thoughts on this?

[2022-08-15 12:34] jgilliam17 commented on #20813
Hi @sinansonmez - Thanks for your contribution! 🙂
Yes, that works.
- Please separate the tests whenever necessary using `MM-T4984_1` and `MM-T4984_2` etc  and I will update actual Zephyr test during PR testing
- We can create new test ids for any additional tests, when it makes more sense to separate them from the one I linked. This can also be updated during PR testing.

[2022-08-15 12:51] sinansonmez commented on #20813
Thanks @amyblais and @jgilliam17, for the support. I am almost finished with the work. I hope to finish the PR asap.

[2022-08-15 13:33] parnic-sks opened #20817 "Go path causes errors in dependent libraries"
#### Summary
Mattermost's go.mod path is defined as /v6, but the version number is actually 7.x, which causes complaints when other applications try to depend on Mattermost

#### Steps to reproduce
In another Go application, run `go get github.com/mattermost/mattermost-server/v6@v7.2.0`

#### Expected behavior
Import is successfully added

#### Observed behavior (that appears unintentional)
Receiv

[2022-08-15 15:47] chrishanthmathew91 commented on #20519
@esethna I have a couple of doubts.

1. I have a bunch of text that needs translation. How do I go about it?
2. Is there any way to simulate multiple users in my local instance? I would like to test out threads created by different users to see if my implementation is correct

[2022-08-15 16:31] amyblais commented on #20817
Opened a ticket for our team https://mattermost.atlassian.net/browse/CLD-3953.

[2022-08-15 17:00] jasonblais commented on #20704
Thanks so much @Rixant for working on this ticket! Let us know if you have any questions :)

[2022-08-15 20:15] mattermod opened #20818 "Support "Restart run""
Let’s expose a “Restart run” option for participants to use if the run was finished prematurely:

![image](https://user-images.githubusercontent.com/1023171/184901961-755ff547-e3ff-47b6-9323-7cdd49d3fcab.png)

Restarting a run should add an event to the timeline, as well as post a message to the associated channel:

![image](https://user-images.githubusercontent.com/1023171/184901985-7fca9565-2880

[2022-08-15 20:15] mattermod opened #20819 "Enable/Disable run retrospective"
A playbook can be configured with retrospective enabled or disabled, but once a run is created, this property is currently immutable. Instead, let’s allow changing this for runs in progress.

Add a function to the `PlaybookRun` interface that will enable/disable retrospective and implement it.
`app/playbook*run.go` and `app/playbook_run*service.go` files.

Then, add an API endpoint to enable/disab

[2022-08-15 20:15] mattermod opened #20820 "Introduce a feedback button"
The old navigation offered a “Give Feedback” option that needs a new home with the updated design:

![image](https://user-images.githubusercontent.com/1023171/184902328-777c7c61-bfb4-44d5-922c-7ea857e57e1f.png)

Introduce a `?` icon button in the global header, with help options that align with Channels:

  * Ask the community: [https://mattermost.com/community/](https://mattermost.com/community/)

[2022-08-15 20:15] mattermod opened #20821 "Keep task filter open while checking/unchecking"
When interacting with the task filter, don’t close it immediately after making a selection, in case the user wants to select or unselect multiple items:

![image](https://user-images.githubusercontent.com/1023171/184902496-53524492-90b7-4166-8f2e-45155c625f2f.png)

Clicking the icon again or outside the dropdown should close the menu.

*Issue created from a_ [_message in Mattermost*](https://commu

[2022-08-15 20:15] mattermod opened #20822 "Collapsed all checklists when dragging a whole checklist"
When re-arranging checklists, we should collapse all the tasks to make it easier to drag around, instead of having to drag so far as is currently required:

![](CleanShot 2022-08-15 at 17.05.48.gif|width=726,height=800)

*Issue created from a_ [_message in Mattermost*](https://community.mattermost.com/core/pl/8xq9nkj7ktrkxbrt764tycue8o).

----
If you're interested please comment here and come [joi

[2022-08-15 20:15] mattermod opened #20823 "Allow absolute task due date in playbook editor"
At times, it can be useful to run a playbook with a fixed task due date, not a relative one. For example, if a playbook is created for an upcoming hackathon, all runs should aim to complete their objectives by a previously agreed-upon-date.

Allow for this case when modelling a playbook by supporting an absolute task due date when editing a playbook, just like we do when editing the task due date

[2022-08-15 20:15] mattermod opened #20824 "Duplicate task as next task instead of end of list"
When duplicating a task in a checklist, place it immediately after the item being duplicated instead of at the end of the checklist as we currently do:

![image](https://user-images.githubusercontent.com/1023171/184903025-92b8c19b-71b2-4317-8471-15c784065b5e.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/cor

[2022-08-15 20:30] mattermod opened #20825 "Weekly Digest"
Playbooks currently sports a daily digest message, triggered when the user first logs on to the webapp for the day. The message summarizes active runs, overdue status updates, and assigned tasks. And with the upcoming [https://mattermost.atlassian.net/browse/MM-42144](https://mattermost.atlassian.net/browse/MM-42144) feature, tasks assigned due dates will only be included in the message if they ar

[2022-08-15 21:01] sinansonmez commented on #20813
@jgilliam17 PR is up and ready for review

[2022-08-15 22:25] blueapple128 opened #20826 "Highlighting part of a code block and choosing "Copy" copies the entire code block, instead of the portion highlighted"
#### Summary
Highlighting part of a code block and choosing "Copy" copies the entire code block, instead of the portion highlighted

#### Steps to reproduce
- Type a multiline code block (the kind surrounded by three backticks)
- Highlight a portion of the code block
- Right click -> Copy (instead of "Copy code block")
- Paste somewhere else

Reproduces on Version 5.1.1 of Ubuntu 20 desktop client

[2022-08-16 07:59] dragonpil commented on #20604
So the regular notification error is gone with 7.2.0 here I don't get the MTA any more.
I still get the MTA for google addresses

- invitation to a team by email-address
- Welcome Email  after invitation
- Password reset mails

Can we reopen this one or should I create a new one?
Robert

[2022-08-16 07:59] isacikgoz commented on #20817
Thanks for the feedback @parnic-sks! We haven't updated our module version yet as you mentioned. But as a workaround you can point the commit hash as `87cbeafd36` for `v7.2.0` for instance. You should be able to update your dependency with following command:

[code]

Meanwhile, we will discuss the timing about upgrading the version of the module.

[2022-08-16 08:02] dragonpil opened #20828 "Still having MTA for Googlemail with 7.2.0"
So the regular notification error is gone with 7.2.0 here I don't get the MTA any more.
I still get the MTA for google addresses  for:

- invitation to a team by email-address
- Welcome Email  after invitation
- Password reset mails

Can we reopen this one or should I create a new one?
Robert

_Originally posted by @dragonpil in https://github.com/mattermost/mattermost-server/issues/20604#issuecom

[2022-08-16 12:20] #20756 closed

[2022-08-16 13:17] parnic-sks commented on #20817
Thanks! Unfortunately this doesn't allow Dependabot to easily find newer versions, but we'll keep doing manual updates until the module version is incremented. 🙂

[2022-08-16 14:00] mattermod opened #20829 "Muted channels should not appear in the channel switcher unreads section"
Customer has reported that muted channels are appearing in the Find Channels modal: [https://community.mattermost.com/core/pl/bxs1cyeqaj8d3rncy9hrrzgghh](https://community.mattermost.com/core/pl/bxs1cyeqaj8d3rncy9hrrzgghh)

Conditions to repro: muted channel must have a mention, and there must be < 5 unread channels on the team

Expected: Muted channels should not appear in the Find Channels modal

[2022-08-16 14:13] sinansonmez commented on #20829
I can work on this

[2022-08-16 14:20] #19995 closed

[2022-08-16 14:22] lieut-data commented on #20128
Thanks again, @ballista01!

[2022-08-16 14:22] #20128 closed

[2022-08-16 15:36] vmuoio23 opened #20832 "New users are not receiving mattermost activation email"
<img width="1195" alt="Console log" src="https://user-images.githubusercontent.com/104649227/184920280-476b112e-ca9e-4667-8a70-29a8e8260289.png">

New users are not receiving mattermost activation email (not in junk or inbox yet).

[2022-08-16 16:29] amyblais commented on #20826
Thanks, opened https://mattermost.atlassian.net/browse/MM-46415.

[2022-08-16 16:33] amyblais commented on #20828
Thanks, opened: https://mattermost.atlassian.net/browse/MM-46416.

[2022-08-16 16:36] amyblais commented on #20832
@vmuoio23 Would you be able to help share more details on:

1. Your Mattermost server version.
2. OS and version.
3. Reproduction steps.
4. Any server log errors.

[2022-08-16 17:11] vmuoio23 commented on #20832
We were able to resolve the issue, thank you

[2022-08-16 17:11] #20832 closed

[2022-08-16 19:13] agnivade commented on #20817
Hello @parnic-sks - sorry to hear about this. Unfortunately, Mattermost release versions are now separate that Mattermost module versions. The release versions are controlled by our product team, and they are free to bump up to new major versions depending on if there are brand new features to publicize.

Unfortunately, this decision is out of our hands, and will break a lot of idiomatic module up

[2022-08-16 19:13] #20817 closed

[2022-08-16 19:34] esethna commented on #20519
@chrishanthmathew91 excited to see this!

1. As long as you've added the strings to the en.json then they will get translated by our community as part of the release process (so no need to worry about that)
2. you can do a /test users 10 to add users. Although the easiest way is probably just to create a few users in your test instance and have them logged in via different browsers or incognito wi

[2022-08-16 19:37] braunsonm opened #20835 "Hide Upgrade Button added in 7.2.0"
#### Summary
The upgrade button is always visible on the top navigation bar since the upgrade to 7.2.0 even after viewing the modal once. There should be a way to hide it or remove it when the page has been read.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
1. Install 7.2.0 Free
2. View the Upgrade button

#### Expected behavior
A way to hide the upgrade bu

[2022-08-16 20:27] amyblais commented on #20835
Opened https://mattermost.atlassian.net/browse/MM-46428.

[2022-08-16 20:45] #13717 closed

[2022-08-17 02:34] kaakaa opened #20838 "Unable to add Japanese comments correctly in Message Forwarding Dialog"
#### Summary
When typing Japanese comments in message forwarding dialog, forwarding is done unexpectedly.

#### Steps to reproduce
1. Select `Forward` for a post
2. Select a channel to forward
3. Type a Japanese word and then push `Enter`

Pushing `Enter` key in step 3 is intended to type Japanese, but is not intended to execute forwarding.
When typing Japanese text, after typing some characters,

[2022-08-17 06:38] agnivade commented on #16662
@mayqueeen - Let's keep the discussion in this thread: https://forum.mattermost.com/t/unable-to-get-the-file-count-for-the-channel/13859/5

[2022-08-17 12:55] amyblais commented on #20838
Thanks, opened https://mattermost.atlassian.net/browse/MM-46437.

[2022-08-17 15:38] #16715 closed

[2022-08-17 17:20] esethna commented on #20829
Correct @sinansonmez, it only happens when there are < 5 muted channels (due to sorting logic) and when the muted channel has a mention

![image](https://user-images.githubusercontent.com/14333569/185202328-545d2d60-7839-450d-bdc2-30487f753c09.png)

[2022-08-17 18:00] mattermod opened #20841 "Enable/Disable run status updates"
A playbook can be configured with status updates enabled or disabled, but once a run is created, this property is currently immutable. Instead, let’s allow changing this for runs in progress.

Add a function to the `PlaybookRun` interface that will enable/disable status updates and implement it.
`app/playbook_run.go` and `app/playbook_run_service.go` files.

Then, add an API endpoint to enable/dis

[2022-08-18 08:35] dmke commented on #20739
FYI, v7.2 still show the same issue:

https://user-images.githubusercontent.com/327411/185349066-01309d64-1543-4f46-a61f-8f50b0ee2f92.mp4

I've also noticed that the standard message display (i.e. not "compact") seems to not be affected:

https://user-images.githubusercontent.com/327411/185349808-c017560f-d31e-4d2c-b938-130859437898.mp4

[2022-08-18 12:19] ilusharulkov opened #20847 "Channel admin can't post messages if "Create Posts" option disabled"
#### Summary
Channel admin can't post messages if "Create Posts" option disabled

#### Steps to reproduce
1) Create channel1
2) Make user1 channel admin
3) Disable permission "Create Posts" for members (Admin console -> Channels -> Channel Moderation)
4) Leave admin zone
5) Enter channel1
6) It is impossible to make a post

#### Expected behavior
User1 can post in channel1 because he is a channel

[2022-08-18 12:28] amyblais opened #20848 "Fast-forward"

[2022-08-18 12:28] amyblais commented on #20848
/cloud-ff

[2022-08-18 12:29] mattermod commented on #20848
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-08-18-backup (SHA: `e78070d`)
    - mattermost-webapp:refs/heads/cloud-2022-08-18-backup (SHA: `d6b9405`)
    - enterprise:refs/heads/cloud-2022-08-18-backup (SHA: `3710f36`)
    - mattermost-api-reference:refs/heads/cloud-2022-08-18-backup (SHA: `581c834`)

### Fast-Forwarded branches
    - m

[2022-08-18 12:29] #20848 closed

[2022-08-18 13:11] amyblais commented on #20847
@ilusharulkov What Mattermost server version are you on?

[2022-08-18 21:42] #18824 closed

[2022-08-19 07:11] plant99 commented on #20716
Hi @joho1968 , thanks for pointing this out. There could sure be an issue here, which I'll report if I find something.

But the issue isn't parameter mixing up, but why is `xregister` query param showing up in callback when it isn't in registered redirected URI in the first case.

According some references [here](https://www.oauth.com/oauth2-servers/redirect-uris/redirect-uri-registration/) and [h

[2022-08-19 07:59] joho1968 commented on #20716
Well, I guess this could be looked at both ways. But I'm guessing I was doing it wrong. I am now (as noted above) doing it with the state parameter instead and all is well.

[2022-08-19 09:42] plant99 commented on #20716
Hey, apologies if my above message is irrelevant. But it's a valid bug, here's a redirect URL I get when mine has query parameters.

[code]

[2022-08-19 09:45] joho1968 commented on #20716
No, I don't think your message is irrelevant, it is, IMHO, a bug. What I meant was that if I had followed the "official guide" and used the state parameter, this would not have been an issue. OTOH, then we wouldn't have seen the bug either 😊

[2022-08-19 13:21] amyblais commented on #20847
Opened https://mattermost.atlassian.net/browse/MM-46477.

[2022-08-19 23:41] Gedulis12 opened #20856 "entrypoint.sh not returnig the value of {$DOMAIN}"
#### Summary
Docker container is restarting after being deployed

#### Steps to reproduce
Following the exact steps in https://mattermost.com/deploy/

#### Expected behavior
Expecting docker container to spin up into "Up" state

#### Observed behavior (that appears unintentional)
Docker container stays in "Restarting" state after `sudo docker-compose -f docker-compose.yml -f docker-compose.without

[2022-08-20 02:31] Rixant commented on #20704
Thank you @jasonblais, I will start working on this soon.

[2022-08-20 18:03] chrishanthmathew91 commented on #20519
@esethna I have another doubt with regards to the behaviour:

Currently, threads can be auto-followed by being mentioned, starting or participating in the thread. In addition, we can also manually follow threads. Consider the following scenario. When we toggle on the auto-follow switch, it will cause all unfollowed threads in the channel to be followed. Now when we toggle off auto-follow, what is

[2022-08-21 08:32] 97amarnathk commented on #20841
@gbochora can I pick this up ?

[2022-08-21 12:20] sinansonmez commented on #20829
Thanks for the guidance @esethna, PR is up and ready for the review

[2022-08-21 14:22] davidus05 commented on #1105
This is still an issue in 2022. Same situation as @joho1968 mentioned with server restart.

[2022-08-22 05:23] varundey commented on #20824
I can take this up.

[2022-08-22 12:35] #20813 closed

[2022-08-22 13:43] amyblais commented on #20856
@Gedulis12 Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-08-22 14:45] mattermod opened #20859 "Channel member list occasionally fails to update when user leaves the channel, needs refresh"
Environment: community

Steps:

  1. As user1 open Members RHS on any test channel
  1. In a different browser, as user2 member of the same test channel, leave channel
  1. As user1 observe the member list

Expected: User2 is no longer on the list

Observed: User that leaves the channel is still present on the list, needs refresh. Not reproducing consistently.

![](Screen Shot 2022-08-16 at 3.46.3

[2022-08-22 15:11] sinansonmez commented on #17270
If @nikkinagar is not working on this, I can give it a try @amyblais

[2022-08-22 16:18] agarciamontoro commented on #20773
Hey, @shawn111, can we help further with this? I understand you added the index to your deployment to fix the migration, but I'm concerned that that solution simply masked the real issue.

[2022-08-22 18:34] esethna commented on #15399
Hi @g-ravity @ghost, circling back on this if either of you are keen to contribute the improvement. Let us know, this one is currently still up for grabs :)

[2022-08-22 18:35] #16939 closed

[2022-08-22 18:45] mattermod opened #20860 "Provide setting to pause animated emoji and GIF"
This ticket is to add a new account setting in Advanced called:

**Automatically play GIFs and animated emoji**

[ x ] On
[    ] Off

Help text: When disabled, GIFs and animated emoji will not play automatically.

*_____*

Functionality: When the above setting is “Off”:

- custom emoji that are animated should be static based on the first frame
- GIFs should also be static based on the first frame

[2022-08-22 20:54] esethna commented on #20519
@chrishanthmathew91 excellent questions we hadn't considered. Here's my thoughts, and I'll also tag @matthewbirtch for his comments.

1. Toggling on should only auto-follow new threads that get created in the channel. We want to avoid doing a heavy migration or computation when the feature is turned on. @matthewbirtch perhaps we want to update the help text to make that more clear?

2. Toggling of

[2022-08-22 21:14] matthewbirtch commented on #20519
@esethna I agree with your comments here - and I believe I had the first item noted in the design file:

<img width="376" alt="image" src="https://user-images.githubusercontent.com/2040554/186020312-5ade3b02-1464-4dd6-8fb1-9c8ad15b1a39.png">

[2022-08-23 00:52] luvwinnie commented on #20828
same problem happening here, is this already been solved?

[2022-08-23 02:02] shawn111 commented on #20773
[code]

[2022-08-23 02:32] shawn111 commented on #20773
@agarciamontoro We already use this service around 3 years, it on a x86 vm, I'm not sure the real machine spec.
Maybe the schema is a little different, I dumped from my current server, version 5.37.

mattermost on vm.
postgres on k8s (vm) / HD (not SSD).

[code]

We plan to use SSD to fix some performance issue of postgres.
But other upgrades, the upgrade times  are quite acceptable except  [00008

[2022-08-23 08:35] ilusharulkov commented on #20847
Hi @amyblais
Sorry, I missed your question. Mattermost version is **7.1**

[2022-08-23 09:10] agnivade commented on #20327
Closing as the PRs are merged.

[2022-08-23 09:15] agarciamontoro commented on #20773
Thanks for the info, @shawn111! I ran `apgdiff` between your schema and a schema created with a fresh installation of v5.37.9. Skipping expected differences (tables from Focalboard and Playbooks, and differences in owners), this is what I got:

[code]

I see two outstanding problems there:
[code]

Your schema does not seem to have primary keys in the `FileInfo` nor in the `Posts` table, so your da

[2022-08-23 09:30] mattermod opened #20864 "Ability to view message edit history and restore previous versions"
**User Story**

As a Channels user, I want a way to revert back to my last message state if while editing a message I accidentally hit “enter” or save and lose my progress. Further, I want a way to view my message history in detail.

**Implementation:**

See [linked designs](https://www.figma.com/file/bP6bGPN9MuF13swtwAxd3I/MM-45494-Undo-edit-message?node-id=260%3A121617) for detailed proposed cha

[2022-08-23 09:41] agnivade commented on #20779
Thinking some more, it would be somewhat possible to map the `DefaultServerLocale` config value to a DB collation value, but it's not exactly clear what the mapping should be. Alternatively, the collation value can be a config option and the application can directly set the collation from the config.

I was referring to your statement: `BTW: The problem happens with 6.3.9 - the docs you refer to s

[2022-08-23 09:41] #20779 closed

[2022-08-23 15:00] mattermod opened #20868 "Apps - Support autogenerated help text for App commands"
The Mattermost [Apps Framework](https://developers.mattermost.com/integrate/apps) supports autocomplete for its commands, but there’s currently no way to see a high-level snapshot of what commands are available. The task here is to modify the [command parser](https://github.com/mattermost/mattermost-webapp/blob/master/components/suggestion/command_provider/app_command_parser/app_command_parser.ts)

[2022-08-24 08:58] AbhinavVihan commented on #17740
i would like to work on this.

[2022-08-24 15:42] esethna commented on #15637
Closed as it was completed internally

[2022-08-24 15:42] #15637 closed

[2022-08-24 16:11] #16731 closed

[2022-08-24 16:33] MusabShakeel576 commented on #20821
grabbed

[2022-08-24 22:16] johndavidlugtu commented on #20835
@braunsonm thanks for opening up an issue. I'm the PM responsible for this button.

Can you share more insights about your concern/worries with the upgrade button being always visible?

[2022-08-24 22:20] braunsonm commented on #20835
@johndavidlugtu it's annoying.

I will not be upgrading and the buttons do not work on my corporate network. Why prompt me to upgrade every second I'm using the app? I'd understand once, or when you try to use a paid feature, but a constant stain on the UI does nothing to sell the product to me.

[2022-08-25 01:17] NicolasCARPi opened #20878 "404 errors with APIv4 has incorrect content-type header"
Version used: 6.6.2 in Docker.

#### Summary
The 404 response sent by apiv4 have a content-type header of `text/plain; charset=utf-8` instead of `application/json`. But the documentation states that all responses are `application/json`.

#### Steps to reproduce
Access an invalid api endpoint or none at all:

* https://example.com/api/v4/notjson
* https://example.com/api/v4/

#### Expected behavior

[2022-08-25 04:08] agnivade commented on #20878
Great catch @NicolasCARPi !

This is happening because the 404 handler is not wrapped in web.Handler which adds the `application/json` header. The line is here: https://github.com/mattermost/mattermost-server/blob/6adbcc5d05b9296135f685a08075e278a377603e/api4/api.go#L410.

If you are feeling up to it, please do send a PR, and we'll be happy to take a look.

[2022-08-25 06:18] #19996 closed

[2022-08-25 06:38] ITCDEK opened #20880 "*WebConn.Session.Props seems to be vulnerable to concurrent reads/writes"
#### Summary
*WebConn.Session.Props seems to be vulnerable to concurrent reads/writes

#### Steps to reproduce
Version is 7.1.2 Team Ed.
Cause is [here](https://github.com/mattermost/mattermost-server/blob/master/app/web_conn.go#L792), as of current appearance.
To reproduce, make concurrent read\write to *WebConn.Session.Props or just wait one month or so.

#### Expected behavior
Push notification

[2022-08-25 08:15] nerthazrim opened #20882 "MariaDB 10.8.4 - Connection refused"
#### Summary
Mattermost server will spawn a "connection refused" error to mariadb after updating mariadb to 10.8.4 on Debian 11.

#### Steps to reproduce
Run Mattermost with mariadb with these Debian 11 packages coming from mariadb repos:
mysql-common all 1:10.8.3+maria-bullseye
mariadb-server-10.8 amd64 1:10.8.3+maria-bullseye
mariadb-server all 1:10.8.3+maria-bullseye
mariadb-client-core-10.8 am

[2022-08-25 09:04] reduckted commented on #20835
I use the desktop app, and when I first saw the button I thought it was a notification that the app had an update! How disappointed I was when I clicked it. 😢

[2022-08-25 09:32] marsaud opened #20883 "Reopening #20504"
I'm sorry, I have to ask for https://github.com/mattermost/mattermost-server/issues/20504 to be reopened.

I am under v7.2.0 and the reported bug still remains.

Best Regards.

[2022-08-25 10:15] mattermod opened #20884 "Load-test: Check whether gnuplot is installed if it will be used"
When running a comparison with `go run ./cmd/ltctl comparison run`, I found out that gnuplot was not installed after the whole comparison was done. We should check whether gnuplot is installed before even starting the loadtests, stopping and warning the users before doing anything.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community

[2022-08-25 10:59] NicolasCARPi commented on #20878
Sorry I am not familiar enough with the codebase to try and fix that by myself :/

[2022-08-25 12:32] amyblais opened #20885 "Fast-forward"

[2022-08-25 12:32] amyblais commented on #20885
/cloud-ff

[2022-08-25 12:32] mattermod commented on #20885
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-08-25-backup (SHA: `57286d9`)
    - mattermost-webapp:refs/heads/cloud-2022-08-25-backup (SHA: `c6c33eb`)
    - enterprise:refs/heads/cloud-2022-08-25-backup (SHA: `972ca44`)
    - mattermost-api-reference:refs/heads/cloud-2022-08-25-backup (SHA: `5139bf9`)

### Fast-Forwarded branches
    - m

[2022-08-25 12:32] #20885 closed

[2022-08-25 13:06] #20883 closed

[2022-08-25 13:06] amyblais commented on #20504
Latest ticket: https://mattermost.atlassian.net/browse/MM-46474.

[2022-08-25 13:13] amyblais commented on #20882
@nerthazrim Mattermost currently doesn't support MariaDB. What Mattermost server version are you on?

[2022-08-25 13:14] amyblais commented on #20880
Opened https://mattermost.atlassian.net/browse/MM-46604.

[2022-08-25 13:15] amyblais commented on #20878
Opened https://mattermost.atlassian.net/browse/MM-46605.

[2022-08-25 13:17] #20269 closed

[2022-08-25 13:25] nerthazrim commented on #20882
Oh... Right...
Well, it's been working flawlessly so far... 😬

I'm currently running on Mattermost Server 7.2.0.
If my memory doesn't fail me, the error also occurs with Mattermost Server 7.1.2 and 7.1.3.

[2022-08-25 13:41] amyblais commented on #20882
@agnivade @isacikgoz Is there a workaround for this or would the best solution be to move to Mysql?

[2022-08-25 14:10] agnivade commented on #20882
This is not specific to MariaDB (although it will be good to move away from it). This issue seems like a connectivity issue from the server. Are you able to connect to your DB instance from the console? I also see from instances of IPV6 and IPV4. I wonder if there's a mix of IP protocols possibly causing an issue.

[2022-08-25 14:13] nerthazrim commented on #20882
Hi, thanks for the support.

I seriously doubt it's a connectivity issue, as reverting mariadb version and doing nothing else fixes the issue.
Also, all my other services that are using this specific mariadb instance are working fine (postfix, Nextcloud, game servers, etc...). There's only Mattermost Server impacted.
Hence me opening the ticket here :)

The mysql connection string specifies mariad

[2022-08-25 14:18] seansackowitz commented on #20835
@johndavidlugtu I do not use Mattermost in a corporate setting, but rather as a self-hosted chat and call platform for friends. We do not have a budget to pay for Mattermost, and likely never will, and I feel like I am not alone in this. Having an obnoxious button constantly begging me to pay for a product is not going to encourage me to purchase a license, and only seeks to detract from my experi

[2022-08-25 15:14] amyblais commented on #20835
Are you on Enterprise Edition and Starter Plan? If you use the Team Edition instead https://releases.mattermost.com/7.2.0/mattermost-team-7.2.0-linux-amd64.tar.gz, you shouldn't see the upgrade button. Please see this thread here https://community.mattermost.com/core/pl/9en9jmggnin4inonryfuqy9gfw.

[2022-08-25 16:57] #13718 closed

[2022-08-25 17:34] agnivade commented on #20882
Can you show me your Mattermost startup logs?

[2022-08-25 17:36] agnivade commented on #20878
@amyblais - Let's create this issue itself as an HW ticket. I will close the JIRA issue.

[2022-08-25 18:00] mattermod opened #20887 "Add "copy to clipboard" button when viewing a text file preview"
Suggestion: Add a “copy to clipboard” button in the text file preview modal

When you click on an uploaded file such as a json file, a preview modal appears and shows the file’s contents. There’s no simple way to copy the contents to your clipboard.

Triple clicking the text doesn’t work. Pressing cmd+a results in highlighting all text in the Mattermost UI, so you can’t just highlight the file’s c

[2022-08-25 18:07] nerthazrim commented on #20882
With the working mariadb version, 10.8.3?

Or the problematic one, 10.8.4?

[2022-08-25 18:57] agnivade commented on #20882
The problematic one.

[2022-08-25 19:52] nerthazrim commented on #20882
I'll do that as soon as I can
Probably on Sunday, I'll keep you posted here when I have the logs.

What I can already tell you is that nothing wrong seems to happen at startup.
The error messages only appear when someone tries to write a new message. Reading existing messages work just fine.

[2022-08-25 21:57] reduckted commented on #20835
@amyblais Is there any way to view that thread without creating an account?

[2022-08-25 22:24] sinansonmez commented on #20887
What kind of extensions should be supported in this feature? Some which came to my mind immediately
- txt
- json
- doc or docx

What about other code files? Such as html, css, js, jsx, ts, tsx, go etc.

[2022-08-26 03:42] AbhinavVihan commented on #20787
i would like to work on this.

[2022-08-26 11:04] sinansonmez commented on #20887
I was able to answer my questions. I implemented the solution basically to cover all code files currently supported by file preview. PR is up and ready for review.

Please assign this issue to me @amyblais

[2022-08-26 13:35] #20824 closed

[2022-08-26 14:01] johndavidlugtu commented on #20835
Hi all -- thanks for the feedback! Will share this with my team.

In the meantime, as @amyblais has mentioned, the Team Edition doesn't have the upgrade button and you can switch over from Enterprise.

[2022-08-26 16:35] rolwin100 commented on #20818
@marianunez can I take this ticket

[2022-08-26 17:40] #16713 closed

[2022-08-27 00:12] Jakatut commented on #20819
I'll pick this one up :)

cc: @marianunez

[2022-08-27 04:19] anx-ag commented on #20856
Hi @Gedulis12 ,

the problem most likely is that your `docker-compose` version is too old. Please see [this forum post](https://forum.mattermost.com/t/setting-up-using-docker/13891/10?u=agriesser) which talks about this issue. tl;dr: you need to update your docker-compose version.

[2022-08-27 04:22] anx-ag commented on #20828
I have no idea what I'm doing, but [this PR](https://github.com/mattermost/mattermost-server/pull/20891) should fix it.

[2022-08-27 04:32] anx-ag commented on #20685
You could use the [GetSessions API call](https://api.mattermost.com/#tag/users/operation/GetSessions) to get a list of the user's sessions. It's not a perfect solution, but will at least get you going.

Additionally, you could also run a simple DB query to print out all users that do not have a valid session at the moment:

`
mm720=# select username from users where id NOT IN (SELECT userid FROM s

[2022-08-27 04:36] anx-ag commented on #20658
I think [Insights](https://docs.mattermost.com/welcome/insights.html) is trying to do what you're requesting here. It's getting more and more insights every release, it already has a list of `Top threads` per user and per team and with the next version (already available on the community server), you will also be able to see the `Least active channels`.

Would that help you?

[2022-08-27 08:08] ashikjm commented on #15921
@complexanomaly  Could I pick this up if you are not actively working on this? Thanks.

[2022-08-27 09:24] clementbowe14 commented on #20878
Can I take on this issue?

[2022-08-27 09:56] sinansonmez commented on #20864
One question related to database and back-end implementation of this feature for me to understand the effort needed?
Are the edited messages history currently stored in the database and related back-end APIs ready to consume? Or back-end needs to be implemented as well as part of the implementation of this feature?

[2022-08-27 15:13] agnivade commented on #20878
Go ahead @clementbowe14 !

[2022-08-28 08:13] agnivade commented on #20828
https://github.com/mattermost/mattermost-server/pull/18232 did the initial work on this by passing the Message-ID for only thread reply mails but not others.

For anyone looking to fix this, please take a look at the comment [here](https://github.com/mattermost/mattermost-server/pull/20891#discussion_r956675479).

The domain for the message-id should be the hostname of the SiteURL. We should chang

[2022-08-28 09:13] Willyfrog commented on #20864
Message history is maintained in the db, we just need to surface it to the front-end

[2022-08-28 09:22] sinansonmez commented on #20864
Thanks @Willyfrog

I started work on the front-end. Once finished I will take a look at the back end.

Please assign this issue to me.

[2022-08-28 18:44] rolwin100 commented on #20819
@Jakatut are you still working on this ticket? If not can I please take this up?

[2022-08-28 18:53] Jakatut commented on #20819
Hey @rolwin100 I just got to this today. I've posted a draft MR for my interview process.
If you'd like to pick up where I left off, feel free to 😊

[2022-08-29 07:51] nerthazrim commented on #20882
Hi,

As requested, here are the startup logs, not much to see I'm afraid, maybe I should increase verbosity?

[code]

I upgraded MariaDB, started the MM server, waited a bit that everything was up & running then I tried to send a message on a channel, the API POST errors popped up instantly.
After 1-2 min, the "GetPluginKey" errors popped up.

[2022-08-29 08:29] agnivade commented on #20882
Yes please, could you set the verbosity to debug and start again?

The "invalid connection" error points to an issue on the DB side. But the debug startup logs should shed some more light.

[2022-08-29 09:44] nerthazrim commented on #20882
Here's the full output with DEBUG log level:

I can't see anything specific to my issue. There's only the same errors as above.

[code]

[2022-08-29 16:23] agnivade commented on #20882
Thanks for the details!

I wanted to look at the `{"timestamp":"2022-08-29 11:37:57.414 +02:00","level":"info","msg":"Pinging SQL","caller":"sqlstore/store.go:228","database":"master"}` message.

This means the application is able to ping the database just fine. But when it tries to run any sql queries, it starts to run into issues. It's not clear to me why this is happening. And it's also not cle

[2022-08-29 16:27] nerthazrim commented on #20882
I agree with this.
But I can't manage to understand why this is happening only with a specific version of MariaDB (and not even a major upgrade!) **and only with Mattermost Server**
All my other mysql-depend services are running fine... 🤔

[2022-08-29 16:32] anx-ag commented on #20882
Sorry for chiming in here, but could you maybe provide the output of `systemctl status mariadb` and `journalctl -u mariadb | tail -100`?

[2022-08-29 16:37] nerthazrim commented on #20882
Ouh nice, good fatch! I didn't see anything wrong when I checked the mariadb logs the first time but it looks like I missed something important!

[code]

Well, it looks like I'm going to have to open a case with MariaDB then, unless you know where this is coming from? 😛

[2022-08-29 16:45] anx-ag commented on #20882
No need to open a ticket with them, it's just that your fulltext index went to big with the setting you have, here.
The default value of 8MB is not enough anymore for your Posts table. Make sure to increase the value in your MariaDB configuration (probably in `/etc/mysql/mariadb.conf.d/50-server.cnf`), the syntax should be:

[code]

(this will double the value).
Restart your mariadb server for the

[2022-08-29 16:59] nerthazrim commented on #20882
Clear, concise, precise... Awesome! Thanks a lot @anx-ag!
Looks like it's working like a charm again now :)

For my own curiosity, even though I understand the issue I had, do you understand why the problem occured only after the mariadb upgrade?
I checked the release notes but it doesn't seem like they changed the innodb_ft_cache_size default value (it wasn't explicity configured in my conf befor

[2022-08-29 17:02] agnivade commented on #20882
Wow nice debugging there @anx-ag ! Honestly, checking MariaDB logs escaped me so nice catch there.

[2022-08-29 17:05] anx-ag commented on #20882
I gave up trying to understand why something happens with MySQL and MariaDB years ago and believe me, I'm sleeping better now.

It's hard to tell what the root cause for this issue was, it could be many things, it could even be the restart of the MariaDB process. What was your MariaDB uptime before you installed the upgrade? We had issues with MySQL/MariaDB installations that only surfaced after a

[2022-08-29 17:09] nerthazrim commented on #20882
haha, roger that 😉

Well, the process got restarted each time I upgraded and downgraded the mariadb packages... So I doubt it's coming from here. I guess the best hypothesis is the one you mention below.

I always do indeed.
mariadb is running in a Debian 11 VM on Proxmox, I run a mysqldump on all my databases before the VM snapshot is run so I'm pretty sure to have my DBs in a good state if I nee

[2022-08-29 17:09] #20882 closed

[2022-08-29 21:29] kkennedy-gh commented on #16707
I noticed that the DotMenu component requires a handleCommentClick  prop, however nothing like that currently appears to be implemented in RhsRootPost  - how would you recommend to solve this problem?

[2022-08-29 21:29] kkennedy-gh commented on #16707
I noticed that the DotMenu component requires a handleCommentClick  prop, however nothing like that currently appears to be implemented in RhsRootPost  - how would you recommend to solve this problem?

[2022-08-29 22:12] #20552 closed

[2022-08-30 04:24] #13699 closed

[2022-08-30 14:00] mattermod opened #20917 "Webapp: markdown style for horiztonal rules is too thick"
When using a horizontal rule in markdown ( type `---` on its own line), it renders at 4px in height. This is way too thick. Recommend we make it 1px or 2px (at most) in height.

![](image-20220826-165740.png|width=1014,height=383)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily

[2022-08-30 14:00] mattermod opened #20918 "Typing indicator turns red when you paste in textbox"
You’ll need 2 different mattermost accounts on the same server, open in 2 windows (or, find a friend\!)

Person 1 (P1)

Person 2 (P2)

Open a DM conversation in both windows between P1 and P2
Have P1 start typing, until P2 can see the typing indicator

When P2 can see the typing indicator, paste something (text, file, etc) into the text box while P1 continues to type

Expected behaviour: `P1 is ty

[2022-08-30 16:25] rolwin100 commented on #19785
@nickmisasi can you assign this ticket to me

[2022-08-30 18:32] esethna commented on #17740
@AbhinavVihan I'm seeing an issue where gifs aren't playing (even with the setting on)

Please also see the original issue for the help text and setting name that should be used

[2022-08-30 19:01] hmhealey commented on #20766
Thanks for the report, @hairmane!

Similar to the `:doctor:` emoji, I think this is an issue with us mixing GitHub's shortnames for older emojis with the ones from [emoji-datasource](https://www.npmjs.com/package/emoji-datasource) for newer ones, so that we end up with odd cases like `:woman_biking:` vs `:bicyclist:` or the similar case with `:man_doctor:` vs `:healthcare_worker:`. Detecting all o

[2022-08-30 22:21] sinansonmez commented on #20917
This was quick. PR is up and ready for review. Please assign the issue to me @amyblais

[2022-08-31 05:47] mickmister commented on #18010
Hi @alexpitsikoulis, just checking in. Do you have any questions about this issue?

[2022-08-31 08:21] Ashitaka57 opened #20921 "Migrating 7.1.3 to 7.2.0 - Postgres migration failed : column "type""
#### Summary
While migrating to 7.2.0 from 7.1.3
ERROR:  default for column "type" cannot be cast automatically to type channel_type

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Use docker , .env file to 7.1.3 , then upgrade to 7.2.0

#### Expected behavior
When the postgres migration is happening, it should work.

#### Observed behavior (that appears unint

[2022-08-31 14:19] Jay2k1 opened #20923 "(Web)client: reaction emoji overlay is blocking part of the message it belongs to"
#### Summary
When hovering over a chat message, the reaction emoji overlay appears and (potentially) blocks part of the message if it's long enough (or the window/viewport small enough), making it impossible to select part of the message to copy

#### Steps to reproduce
Using macOS mattermost from App Store (5.1.1) and the web client of mattermost server 7.0.1. Write a message long enough to get c

[2022-08-31 14:25] #20829 closed

[2022-08-31 14:34] isacikgoz commented on #20921
I am unable to reproduce this but wondering if there are any constraints for the column `type`? @Ashitaka57 can you please share the schema of your `channels` table?

ps. You can do that by running `\d+ channels` in your `psql` console.

[2022-08-31 14:48] #13719 closed

[2022-08-31 16:16] amyblais commented on #20923
Opened https://mattermost.atlassian.net/browse/MM-46819.

[2022-08-31 17:04] agnivade commented on #20921
Could you please show the output of ` select distinct(type) from channels;`? Thanks.

[2022-08-31 17:35] #20787 closed

[2022-08-31 17:45] esethna commented on #20829
Thanks @sinansonmez!!

[2022-08-31 18:05] Ashitaka57 commented on #20921
Hello everyone,

here what you requested:

[code]

[code]

[2022-08-31 18:31] Ashitaka57 commented on #20921
I found this on  [stackexchange](https://dba.stackexchange.com/questions/30184/in-postgres-how-do-i-cast-character-varying-to-an-enum-type)
Should I try this ? @agnivade @isacikgoz

[2022-09-01 04:11] agnivade commented on #20921
Yes, your issue is that you have a default value in your channel_type `NULL::character varying `, which is not part of the original schema. It also looks like you have duplicate indexes for the same columns. This is perhaps coming from an automatic conversion from another DB. You might want to remove those.

For this issue, if you drop the column default `ALTER TABLE channels ALTER COLUMN type DRO

[2022-09-01 05:14] babinderrathi commented on #20923
I would like to work on this .

[2022-09-01 05:19] AshishDhama commented on #20860
@esethna Should we close this its a duplicate of https://github.com/mattermost/mattermost-server/issues/17740

[2022-09-01 05:33] AbhinavVihan commented on #20918
I would like to work on this.

[2022-09-01 07:27] aayush123 commented on #129
Wow, this still exists. Just ran into this problem

[2022-09-01 08:01] Madjew commented on #20625
As a temporary solution, you can enable Bleve Indexing in the system settings, after turning on the server will stop crashing on oom, but turns off the search for bot messages.

[2022-09-01 08:05] Ashitaka57 commented on #20921
Thanks, I did that for 3 tables and everything worked so far. (channels, teams, upload_session). Thanks for the fast support. Regards.

[2022-09-01 08:05] #20921 closed

[2022-09-01 13:04] amyblais opened #20928 "Fast-forward"

[2022-09-01 13:04] amyblais commented on #20928
/cloud-ff

[2022-09-01 13:05] #20928 closed

[2022-09-01 14:23] xaionaro commented on #129
@coreyhulen : May be worth re-opening the issue? :)

[2022-09-01 14:44] amyblais opened #20930 "Mattermost v7.3"
You can find key dates for v7.3 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### September 1st: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### September 14th: Release Build Cut

[2022-09-01 14:45] amyblais commented on #20930
### v7.3 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.3.0-rc1/mattermost-team-7.3.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5871/files

[2022-09-01 18:32] #20860 closed

[2022-09-02 04:48] rolwin100 commented on #20818
The ticket can be closed the PR is merged @marianunez @amyblais @nickmisasi

[2022-09-02 07:03] vegarnilsen commented on #20835
How about those of us using the Omnibus package so that we get updates through apt instead of having to do a manual upgrade every time there is a new release? Since the Omnibus package only offers the free tier of the Enterprise edition, are we now stuck having an Upgrade button visible forever? As others here have pointed out, this button makes it look like we need to upgrade the software, even w

[2022-09-02 10:17] bfontaine opened #20936 "Preview images that are a lot higher than larger overflow their container"
#### Summary
If you paste a link to a website with an `og:image` that’s a lot higher than larger, the image overflows on the top and the bottom.

#### Steps to reproduce
* Mattermost Version: 7.1.3
* Database Schema Version: 89
* Database: postgres

1. Paste this URL into a chat message: https://files.bxapp.eu/m.html

This is a test HTML file that contains `<meta property="og:image" content="https

[2022-09-02 12:18] #20818 closed

[2022-09-02 12:39] adj2908 commented on #18812
Hi @saturninoabril ,

I would like to work on this if @ZeeshanAmjad0495 is not working on it. Please let me know.

Thanks.

[2022-09-02 12:42] adj2908 commented on #18819
Hi @saturninoabril ,

If @sinansonmez is not working on this then can I please try this?

Thanks.

[2022-09-02 12:44] sinansonmez commented on #18819
I was busy with other tickets so i couldnt work on this. Please go ahead @adj2908

[2022-09-02 12:45] adj2908 commented on #18823
Hi @saturninoabril ,

I would like to work on this if @ZeeshanAmjad0495 is not working on this.

Thanks.

[2022-09-02 12:56] amyblais commented on #20936
@bfontaine I wasn't able to reproduce this on the latest version (v7.2) and I believe this is fixed with https://mattermost.atlassian.net/browse/MM-45505. Feel free to do some testing at https://community.mattermost.com/ and let me know if you still can reproduce it.

[2022-09-02 12:56] #20936 closed

[2022-09-02 13:16] adj2908 commented on #18819
Thanks @sinansonmez. @saturninoabril Please assign me this issue.

[2022-09-02 14:02] saturninoabril commented on #18812
Thanks for your interest @adj2908!

[2022-09-02 14:02] saturninoabril commented on #18819
Thanks for your interest @adj2908!

[2022-09-02 14:03] saturninoabril commented on #18823
Thanks for your interest @adj2908!

[2022-09-02 15:18] bfontaine commented on #20936
Yes @amyblais I can confirm it has been fixed. Thank you; sorry I didn’t find that issue when I searched in Jira.

[2022-09-03 03:30] mattermod opened #20939 "Hide team unread icons from muted channels"
For muted channels, we should hide any unreads/mentions in the team sidebar icon as well to keep it consistent

@eric.sethna - Some feedback regarding <pr-mattermost-webapp-10971>(https://github.com/mattermost/mattermost-webapp/pull/10971), and this comment: https://github.com/mattermost/mattermost-webapp/pull/10971#issuecomment-1227535919. I think we should mute mentions in the team sidebar icon

[2022-09-03 03:30] agnivade commented on #20939
@sinansonmez

[2022-09-03 06:34] sinansonmez commented on #20939
Thanks @agnivade. Please assign it to me

[2022-09-03 12:57] ramdash1985 commented on #20510
Awesome Feature It is.

[2022-09-05 18:50] phreaker0 commented on #18351
I migrated a mattermost v6.7.0 MySQL (MariaDB to be more exact) installation to PostgreSQL (Debian 11) in a cloned staging environment. There were some troubles which needed fixing/workarounds for the migration to run through but as far as I tested everything works so far. I also did an v7.2.0 upgrade after and it worked too without issues. In the following the exact steps I did are documented:

[

[2022-09-05 18:56] phreaker0 commented on #18351
@agnivade if a want to add the migrations steps to the 'source/onboard/migrating-to-mattermost.rst' page, is it okay to leave the debian commands or should I do it more generic?

can you also clarify two other things:
* removing rows in the "linkmeta" table is not an issue, as far I guess those are recreated if needed
* 'schema_migrations' is an old table which was used before and is not needed an

[2022-09-06 04:48] AbhinavVihan commented on #20918
I can't reproduce this bug.
i.e. i cannot see the color change in the typing indicator when other person pastes something or attaches a file while the first person continues to type.
i mean it stays the same color

[2022-09-06 09:15] shawn111 commented on #20773
@agarciamontoro Thanks for support, after add back the primary key. It works.

[2022-09-06 09:17] agarciamontoro commented on #20773
Happy to help! Thanks for the confirmation, @shawn111, closing now :)

[2022-09-06 09:17] #20773 closed

[2022-09-06 09:35] agnivade commented on #20773
Nice work @agarciamontoro !

[2022-09-06 11:00] lonesomewalker opened #20948 "Migration post-issues"
#### Summary
Upgrade path from 5.something to 7.latest is not working reliably as described in documentation

#### Steps to reproduce
Upgraded everything as described in documents.
First to the latest 5.x
Then 6.0
Then 6.latest
And finally to 7.2.
All SQL statements executed.
Config modified.

#### Expected behavior
Mattermost should behave like before.

#### Observed behavior (that appears uninte

[2022-09-06 13:46] amyblais commented on #20948
@agnivade @isacikgoz Is this something you're able to assist with?

[2022-09-06 16:22] hmhealey opened #23062 "Bug: Unable to drag to select text in table view"
## Steps to reproduce the behaviour

1. Create or go to a board in table view
2. Ensure that the view has an editable text column
3. Attempt to drag to select text from within that column

## Expected behaviour

The text is selected. Instead, the whole row is picked up and dragged, and if you drop it, it often gets moved even if you drop it in the same place you started.

At a higher level, I'd ex

[2022-09-06 17:45] mattermod opened #20950 "Write E2E for MM-T5129 Muted channel should not be listed in the Unread section of the Find Channel modal"
Write Cypress test for [MM-T5129](https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T5129) Muted channel should not be listed in the Unread section of the Find Channel modal.

If you need any guidance or need more information please post a message in [quality-assurance ](https://communit

[2022-09-06 18:15] mattermod opened #20951 "Write E2Es for Leave and Archive channel actions display as destructive"
Write Cypress test for [MM-T4943](https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T4943) Leave and Archive channel actions display as destructive.

If you need any guidance or need more information please post a message in [quality-assurance ](https://community.mattermost.com/core/chan

[2022-09-06 18:46] #20721 closed

[2022-09-06 19:42] roderickgreen commented on #20589
just want to note that this affects us as well. we have the same use case: build badges in the channel header.  thx!

[2022-09-06 20:02] cgraf-spiria commented on #20589
Link to bug in Mattermost's issue tracker: https://mattermost.atlassian.net/browse/MM-45540

[2022-09-06 21:15] mattermod opened #20952 "Shortcut to mark all channels as read"
### Problem to Solve

As a user, I want an easier way to clear all my unread messages to get to inbox 0

### Proposed Solution

  * Add the shortcut `Shift` <ins> </ins> Esc again unless the user clears their cache.
  * For now, we won’t surface a UI element in the LHS for this control. There is concerns about giving it too much prominence and adding more complexity to the LHS which is already com

[2022-09-07 00:24] Jio007 commented on #18429
@mattermod I would like to work on this one.

[2022-09-07 06:06] anx-ag commented on #20948
Hi @lonesomewalker ,

this problem usually occurs when you're not upgrading to the latest 5.x version before going further, but since you said you did that, I'm a bit puzzled on about why this happened.

You should be able to fix that by running the following queries:

[code]

Can you try that and let us know if that worked?

[2022-09-07 10:17] lonesomewalker commented on #20948
All of them:
`Query OK, 0 rows affected (0.02 sec)` or `Records: 0  Duplicates: 0  Warnings: 0`

I really did upgrade step by step as in documentation.
Also i tried to avoid this by minor upgrades.

Okay, so i will redo every upgrade again and hopefully find out at which version the first issues arise :-/

[2022-09-07 18:56] #20821 closed

[2022-09-07 19:24] #17270 closed

[2022-09-08 03:40] fionafoong opened #20961 "AR DL Portal for Festival Skin Configuration (PC/App - iOD+Android) not working"
#### Summary
Festival Skin setup in BE DL Portal has ended, but still live on FE.

#### Steps to reproduce
1. Go to DL Portal > Module Header > Festival Skin
2. 'Add New'
3. Input new setup with valid time (eg till next day)
4. Save
5. Edit entry to set end time to force expiry
*Configure for PC, Mobile, and Nav Bar

#### Expected behavior
Festival Skin not shown on live FE anymore

#### Observed

[2022-09-08 03:43] #20961 closed

[2022-09-08 06:10] anx-ag commented on #20948
Most likely, the upgrade and db migration did encounter errors when on 5.39.3 or the source format was different than expected.
So did you reset your system now to 5.39.3 and is the database in the state with the NULLs in the columns? Not sure where we are at now and if this is an isolated demo environment or your production system.
The error messages you posted earlier definitely indicate that th

[2022-09-08 07:01] steanne commented on #15649
is there a way to disable this?

[2022-09-08 07:12] timowevel1 opened #20964 "Jitsi not working - channel not found"
#### Summary
Once a user tries to start a meeting using the standard jitsi server, after clicking on "Join Meeting" the error
`
Channel Not Found
The channel you're requesting is private or does not exist. Please contact an Administrator to be added to the channel.`
appears.

#### Steps to reproduce
Start a Jitsi Meeting

#### Expected behavior
Not sure, I guess a meeting gets started/you get redi

[2022-09-08 12:09] VincentSC commented on #17572
Sorry, got a company to run. I can do small things only

[2022-09-08 12:29] amyblais opened #20967 "Fast-forward"

[2022-09-08 12:29] amyblais commented on #20967
/cloud-ff

[2022-09-08 12:29] mattermod commented on #20967
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-09-08-backup (SHA: `aef5165`)
    - mattermost-webapp:refs/heads/cloud-2022-09-08-backup (SHA: `9166f4a`)
    - enterprise:refs/heads/cloud-2022-09-08-backup (SHA: `3ec002e`)
    - mattermost-api-reference:refs/heads/cloud-2022-09-08-backup (SHA: `60eddc5`)

### Fast-Forwarded branches
    - m

[2022-09-08 12:29] #20967 closed

[2022-09-08 12:49] #15634 closed

[2022-09-08 14:04] rolwin100 commented on #19785
https://github.com/mattermost/mattermost-plugin-playbooks/pull/1464 I have raised the PR for this.

[2022-09-08 14:07] rolwin100 commented on #20841
@97amarnathk are you still working on this? If not @amyblais can you assign this to me.

[2022-09-08 15:33] hmhealey opened #23060 "Bug: Empty cards are created when no changes are made"
## Steps to reproduce the behavior

1. Click on the "+ New" button to make a new card
2. Immediately close the modal without making any changes

## Expected behavior

A card isn't created automatically unless the user enters some text or makes some changes. It feels too easy to accidentally create cards that you didn't mean to.

## Screenshots (optional)

![Screen Shot 2022-09-08 at 11 32 24 AM](h

[2022-09-08 16:38] amyblais commented on #20964
I'll close this here as you opened an issue at the Jitsi repo - thank you!

[2022-09-08 16:38] #20964 closed

[2022-09-08 21:57] sinansonmez commented on #16707
Thanks for your support @kkennedy-gh

When I check `DotMenu`, I see that `handleCommentClick` is optional (as you can see below, it is marked with `?` at the end). This means that you don't need to pass anything in `RhsRootPost` for `DotMenu`'s `handleCommentClick` prop.

https://github.com/mattermost/mattermost-webapp/blob/2719a868113c3db10f2beb7b701552f7e7043a8d/components/dot_menu/dot_menu.tsx#

[2022-09-09 00:43] Jio007 commented on #18429
Thanks @amyblais. I will start working on this :)

[2022-09-09 00:48] kkennedy-gh commented on #16707
Thank you Sinan.

[2022-09-09 09:05] isacikgoz commented on #20948
@lonesomewalker can you share your schema of your `ChannelMembers` table? And also your `db_migrations` table contents if possible.

[2022-09-09 13:58] m1lt0n commented on #20823
I have prepared a PR for this: https://github.com/mattermost/mattermost-plugin-playbooks/pull/1472

[2022-09-10 06:10] adj2908 commented on #18819
@saturninoabril Just to clarify, these tests should be written just for the first name or for all the fields. Thanks.

[2022-09-10 06:31] saturninoabril commented on #18819
Hello @adj2908, good question. Only for full name. You may find updated test case at https://github.com/mattermost/mattermost-test-management/blob/main/data/test-cases/channels/profile-settings/MM-T2044.md. With that, please add spec to this folder: `/cypress/channels/profile_settings` (new folder to be created). I've updated the description as well.

[2022-09-10 06:34] adj2908 commented on #18819
Thanks. Any reason why we are not writing tests for other fields in the profile modal?

[2022-09-10 06:34] saturninoabril commented on #18819
It should be covered by other test case.

[2022-09-10 06:36] adj2908 commented on #18819
So will you create a separate ticket for that? If yes I will be interested in working on that.

[2022-09-10 06:36] saturninoabril commented on #18819
Cool, let me check and will let you know. Thanks @adj2908!

[2022-09-10 07:15] saturninoabril commented on #18819
There are still some tests that are yet to be automated for Profile Settings. You may look directly at [mattermost-test-management --> test-cases/channels/profile-settings](https://github.com/mattermost/mattermost-test-management/tree/main/data/test-cases/channels/profile-settings) (or in any other folder for other test area), pick a test case then search in [mattermost-webapp/e2e/cypress](https:/

[2022-09-10 14:44] adj2908 commented on #18819
Hey @saturninoabril, Are you sure that the test needs to be added to  `/cypress/channels/profile_settings`?  I don't think that this is related to channels at all. I think this should be inside `e2e/cypress/tests/integration/profile_settings`. Can you confirm? Thanks.

[2022-09-10 15:04] adj2908 commented on #18812
Hey @saturninoabril, Based on the conversation on https://github.com/mattermost/mattermost-server/issues/18819. Please update the ticket. Thanks.

[2022-09-10 21:38] saturninoabril commented on #18819
Yes, it should be at `/cypress/tests/integration/channels/profile_settings` (updated the description). As we transition to multi-product architecture, the folder structure follows the same with the "channels" in the context of products (such as Channels, Playbooks, Boards, Calls), and it will eventually follow the folder structure at the previously linked test cases in https://github.com/mattermos

[2022-09-11 05:55] ylluminate commented on #18351
Thanks @phreaker0. Has anyone reproduced this successful experience and/or reviewed it carefully for any potential refinements / revisions? I'm considering giving this a shot, but I'd like to know if anyone from MatterMost has endeavored to verify the procedure. cc @agnivade.

[2022-09-11 16:03] estan opened #20993 "Markdown table inside list item is not rendered"
Input:

[code]

Expected output:

- See table below
  | First Header  | Second Header |
  | ------------- | ------------- |
  | Content Cell  | Content Cell |
  | Content Cell  | Content Cell |
- Second item

Actual output:

![image](https://user-images.githubusercontent.com/86675/189537399-54b313b4-42bf-4c2f-ba99-e0963f971ae5.png)

Since you support GFM style tables, I'd expect this aspect of GFM

[2022-09-12 02:55] jsimpso opened #20995 "DB Migration to 6.x may not drop ParentId from posts table"
#### Summary
When upgrading from 5.39 to 6.x, if the [medium/high effort](https://docs.mattermost.com/install/self-managed-changelog.html#id134) approach is taken, the `parentid` column will not be dropped from the `posts` table. This will prevent the server from loading any posts.

#### Steps to reproduce
1. Launch a 5.39 instance, make some posts
2. Run through the "medium effort, medium downtim

[2022-09-12 04:09] agnivade commented on #20995
You are right @jsimpso. Seems like the `parentid_exist` should have been checked separately. Unfortunately, once these migrations are added, we cannot go back and change them again. We can only add new migrations.

I think we could add a `parentid_exist` check again in our current version as a failsafe, if a user decides to upgrade from 5.39 to 7.4 eventually. Otherwise, they'll have to run manual

[2022-09-12 05:50] wgrant commented on #20995
The problematic conditional was actually added after the fact, in 56c7da5.

[2022-09-12 09:09] isacikgoz commented on #20995
Actually we can still add new migration to dot releases with migration number `94` (for now), this wouldn't conflict with future migrations. Or, alternatively, we can add `ALTER TABLE Posts DROP COLUMN ParentId;` to the gist.

[2022-09-12 09:22] agnivade commented on #20995
`ALTER TABLE Posts DROP COLUMN ParentId;` is already in the gist. But it's suggested to skip that because it's a backwards incompatible change. Adding the new migration to dot releases sounds good to me!

[2022-09-12 12:44] amyblais commented on #20993
Opened https://mattermost.atlassian.net/browse/MM-46943.

[2022-09-12 12:46] amyblais commented on #20930
### v7.3 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.3.0-rc2/mattermost-team-7.3.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5871/files

[2022-09-12 12:53] estan commented on #20993
@amyblais Thanks :+1:

The "Expected output" I gave above didn't come across very well when pasted into JIRA though (only looks as expected when rendered here on GitHub), so if you could update the ticket and insert this image there instead, that would be great:

<img width="210" alt="expected_output" src="https://user-images.githubusercontent.com/86675/189658590-d4d2c496-9c71-4479-8526-0a71d7c573

[2022-09-12 13:07] amyblais commented on #20993
For sure, I've added a screenshot to the ticket now.

[2022-09-12 14:29] vveckaln opened #21000 "error: cannot communicate with server: Post http://localhost/v2/snaps/mattermost-desktop"
https://docs.mattermost.com/install/desktop-app-install.html
![mmsnapcraft](https://user-images.githubusercontent.com/7974113/189680307-bd7bdebf-dac0-47e2-ab20-8888a71f13a4.png)

[code]

[2022-09-12 15:40] JonathanDotCel opened #21002 "[Desktop] Ctrl+F doesn't search chat history, and prioritises channel names in the left-hand column."
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-09-12 16:52] amyblais commented on #21002
@JonathanDotCel
1. What Mattermost server version are you on?
2. What Mattermost Desktop app version are you on?
3. What OS and version are you using?
4. Do you reproduce the same issue on our [community server here](https://community.mattermost.com/)?

[2022-09-12 19:13] amyblais commented on #16931
The Jira ticket was closed as we're no longer able to reproduce this. Please let us know if the issue still happens on the latest version.

[2022-09-12 19:13] #16931 closed

[2022-09-12 23:47] bbodenmiller opened #21012 "CPU spike following 7.1 upgrade"
#### Summary
Following 6.8 to 7.1 upgrade CPU usage is 20% higher

NOTE:
- I do not have video calling, screen sharing, or collapsed reply threads enabled
- Using Mattermost free via GitLab Omnibus 15.3 with PostgreSQL 12.10

#### Steps to reproduce
See above

#### Expected behavior
CPU usage should not have changed

#### Observed behavior (that appears unintentional)
CPU usage is 20% higher

####

[2022-09-13 05:15] mattermod opened #21013 "mmctl: could not set config for newly installed plugin"
It seems like the config should somehow not getting updated when a plugin is being installed. Details are here: https://github.com/mattermost/mmctl/issues/427

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and

[2022-09-13 06:14] anx-ag commented on #21012
Hi,

since you already linked some forum posts: Did you also try the suggestions in there and if so, which of them have you tried with what results?

[2022-09-13 06:34] agnivade commented on #21012
Hello @bbodenmiller - to clarify it is the CPU of the Mattermost instance which is 20% higher? Is it consistently high, or has spikes? Would you be able to capture a CPU profile for the period and post it here?

cc @agarciamontoro

[2022-09-13 06:55] anishakumar commented on #16514
looks like this has been implemented. can anyone confirm?

[2022-09-13 06:55] anishakumar commented on #16514
I did check and it is working as expected

[2022-09-13 09:38] M-ZubairAhmed commented on #16514
cc @amyblais

[2022-09-13 12:18] #16514 closed

[2022-09-13 13:00] mattermod opened #21018 "Change default # of DMs shown in sidebar from 20 to 40 for new users"
This ticket comes from a trend in customer feedback that we’ve been noticing, where users seem to be unaware of the ability to toggle the number of DMs that are shown in the LHS.

We propose as a stop-gap editing the default # of DM/GM conversations shown in the LHS from 20 to 40 for **new users only** (i.e. accounts created after implementation of this ticket - we do not want to affect existing u

[2022-09-13 13:25] lieut-data commented on #20824
Thanks again, @varundey!

[2022-09-13 15:00] mattermod opened #21022 "LHS navigation tour points"
Let’s add 3 tour points that’ll be shown when a user sees the LHS navigation for the first time.
Designs are attached below and the styling matches the new proposed style for tour points across the product.

[Figma Prototype](https://www.figma.com/proto/f02HsYE1ftPoB44iWYoyIH/%E2%AC%85%EF%B8%8F-LHS-Navigation?page-id=1929%3A236697&node-id=1933%3A248086&viewport=554%2C446%2C0.15&scaling=min-zoom&st

[2022-09-13 18:15] sdaudishvili commented on #21022
I'll take it

[2022-09-13 23:13] #20537 closed

[2022-09-14 12:17] #20880 closed

[2022-09-14 16:09] Willyfrog commented on #20704
Channels will work on this item. Assigning @EricssonLiu as he'll be fixing this from Jira

[2022-09-14 19:18] amyblais commented on #20930
### v7.3 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.3.0-rc3/mattermost-team-7.3.0-rc3-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5871/files

[2022-09-14 21:24] crrdean opened #21028 "Incoming Webhooks do not handle Attachment Actions properly"
#### Summary
Incoming Webhooks do not handle attachment actions properly

#### Steps to reproduce
1. Create an incoming webhook.
2. Send webhook data containing an input attachment (button, dropdown)
3. `{
    "username": "Bot",
    "channel":"@username",
    "attachments":[
    {
      "Actions": [
        {
          "id": "test",
          "name": "Click Me",
          "Integration": {

[2022-09-14 21:24] crrdean opened #21036 "Incoming Webhooks do not handle Attachment Actions properly"
#### Summary
Incoming Webhooks do not handle attachment actions properly

#### Steps to reproduce
1. Create an incoming webhook.
2. Send webhook data containing an input attachment (button, dropdown)
3.
[code]
4. Click on the button/dropdown

#### Expected behavior
I would expect the buttons to work the same was as if they were implemented through a Plugin.

#### Observed behavior (that appears un

[2022-09-14 23:15] amyblais commented on #21028
@crrdean What Mattermost server version are you on?

[2022-09-15 01:04] bbodenmiller commented on #21012
@agnivade yes the Mattermost instance. It is consistently high during the workday. How do I capture a CPU profile?

[2022-09-15 02:31] bbodenmiller commented on #21012
@anx-ag

- https://forum.mattermost.com/t/unable-to-get-the-file-count-for-the-channel/13859 just calls for a bigger server. This is already running on a big server and getting more resources is not trivial.
- https://forum.mattermost.com/t/database-performace-has-degraded-considerable-after-upgrading-to-7-1/14014 says to disable insights but this is a Mattermost free version so that shouldn't be

[2022-09-15 02:46] agnivade commented on #21012
@bbodenmiller - If you set MetricsSettings.Enable to `true`, you can run `curl http://localhost:8067/debug/pprof/profile?seconds=10 -o cpu.pprof` to get a CPU profile.

More information here: https://docs.mattermost.com/scale/performance-monitoring.html#standard-go-metrics. These are available in the free edition.

[2022-09-15 11:23] agarciamontoro commented on #21012
Another question just to understand the impact: you mention that the CPU usage is 20% higher, but how high is it in absolute terms? And how was it before?

[2022-09-15 12:46] sinansonmez commented on #21018
@amyblais PR is ready, please assign this issue to me.

[2022-09-15 12:46] sinansonmez commented on #13714
@amyblais PR is ready, please assign this issue to me.

[2022-09-15 13:06] crrdean commented on #21028
@amyblais I am on a private server, but it is on the newest stable version.

[2022-09-15 13:14] amyblais commented on #21028
Opened a ticket https://mattermost.atlassian.net/browse/MM-47010.

[2022-09-15 14:46] mickmister commented on #21028
@crrdean Since this is JSON and not a Go struct, some keys in your example that are uppercase need to be made lowercase. Namely:

- `Actions` -> `actions`
- `Integration` -> `integration`
- `Context` -> `context`

Please let us know if this fixes your issue. Thanks for reporting this @crrdean

[2022-09-15 15:15] crrdean commented on #21028
@mickmister I have tried full uppercase, camel case, lower case, etc.  This just happened to be the last one I tried before copy/pasting into here.  I will update the OP to match that.

[2022-09-15 15:16] mickmister commented on #21028
@crrdean I see you updated the example, except `Actions` is still uppercase. Just want to make sure you're using the correct payload

[2022-09-15 15:20] mickmister commented on #21028
Also if this is raw JSON you're sending, there's trailing commas in a few spots that will make this invalid JSON. Like after

`"do_something",`

and after

` "url": "https://test.test/action" },`

If this is raw JSON you'll need to remove the commas above

[2022-09-15 15:21] crrdean commented on #21028
@mickmister Oops, I missed that one.  It is updated.

The payload goes through properly and shows up in chat as a clickable button with the correct label and everything.  The problem is that clicking the button always results in a POST API call to:
`https://<server>/api/v4/posts/<postid>/actions/<data.attachments.actions.id>`

The `data.attachments.actions.URL` does not seem to be used.

[2022-09-15 15:23] mickmister commented on #21028
The server receives the request, and proxies it to provided URL. It would be a security risk if the browser would communicate directly to the external server. Do you have control over the server hosting the other URL?

[2022-09-15 15:26] crrdean commented on #21028
Yes.

It seems to be the same functionality that Plugins are able to do.  I would think that either the IncomingWebhooks should also be able to do this or the Interactions should be removed.  In the current state, the Interactions exist but are not functional.

[2022-09-15 15:31] mickmister commented on #21028
Are there any errors in the server log when you try to do this? External integrations (not just plugins) are able to use this feature. I'm thinking there's still something misconfigured here on some end of the system

[2022-09-15 15:35] crrdean commented on #21028
1. Create Incoming Webhook (No screenshot necessary, I hope)
2. Send webhook data containing an input attachment (button, dropdown)
![image](https://user-images.githubusercontent.com/56645870/190444891-1cd9e413-5c75-4c33-9e82-6d03e477fc25.png)
3. Click on the button/dropdown
![image](https://user-images.githubusercontent.com/56645870/190445037-ed0f11d8-0d6e-4110-80c1-ed1cc9dcd2e1.png)

Results in

[2022-09-15 15:38] mickmister commented on #21028
You don't have access to `https://www.test.com` though. How can you assert that it is or is not sending this request to the external server?

[2022-09-15 15:45] amyblais opened #21035 "Fast-forward"

[2022-09-15 15:45] mattermod commented on #21035
## Summary for the fast forward process
### Backup branches
    - mattermost-webapp:refs/heads/cloud-2022-09-15-backup (SHA: `101deb5`)
    - enterprise:refs/heads/cloud-2022-09-15-backup (SHA: `3910db9`)
    - mattermost-api-reference:refs/heads/cloud-2022-09-15-backup (SHA: `3825fad`)

### Skipped repositories
Could not create the backup branch for following (a backup may already exist):
    - m

[2022-09-15 15:46] #21035 closed

[2022-09-15 15:47] mickmister commented on #21028
I tested with a local HTTP server and it seems to work properly with incoming webhooks. I ran this in some directory to spin up an http server listening on port 8000:

[code]

Then I use this payload:

[code]

resulting in this output from the python server:

[code]

This proves that the server received the request. The error message it gave is due to only accepting GET requests, which is not rela

[2022-09-15 16:01] crrdean commented on #21028
Oh, I see what you mean now. This makes much more sense now and appears to be working as intended.  Thank you for your assistance on this matter.

For future folks running into this, it may be worth adding this detail into the documentation.

Thanks again!

[2022-09-15 16:03] mickmister commented on #21028
@crrdean What are you thinking should be documented here? I just want to make sure it gets documented properly

[2022-09-15 16:05] sinansonmez commented on #15468
@amyblais PR is ready, could you please assign this to me

[2022-09-15 16:15] crrdean commented on #21028
@mickmister I have a few thoughts here.

1. https://developers.mattermost.com/integrate/webhooks/incoming/
This page mentions that it accepts Attachments and links to the [Message attachments](https://docs.mattermost.com/developer/message-attachments.html) page in the Parameter Description.  That page shows all of the neat Card-style attachments, but doesn't mention the Interactions.  I would prob

[2022-09-15 16:43] mickmister commented on #21036
I made an issue for documentation here https://github.com/mattermost/mattermost-developer-documentation/issues/1115

[2022-09-15 19:57] crrdean commented on #21036
Thank you.  Would you like me to close this?

[2022-09-15 20:57] mickmister commented on #21036
@crrdean Sounds good to me 🙂

[2022-09-15 20:58] #21036 closed

[2022-09-15 22:39] naggie commented on #13274
I just had the same issue on my mattermost 7.2 server, migrated many times since 2016.

@someone-somenet-org -- thank you for pushing me in the right direction. I've found a command that fixes this, should anyone else have this problem:

[code]

[2022-09-15 22:40] naggie commented on #10641
I had this issue too -- please see https://github.com/mattermost/mattermost-server/issues/13274#issuecomment-1248713506 for the command I used to fix it. Hope this helps anyone coming from google.

[2022-09-16 08:04] Alwaysin commented on #18348
I second this issue although I think it is not as bad as it was.
The main problem I'm facing is with the "minimize/maximize/close" buttons that are not visible anymore in high contrast mode, and the first letter of menu words either.

<img width="960" alt="Mattermost_2022-09-16_10-03-51" src="https://user-images.githubusercontent.com/7189936/190588684-f6502a61-7e39-40f5-ba03-f81d679e5785.png">

<i

[2022-09-16 08:24] Alwaysin commented on #18348
ALso, the smiley don't display

[2022-09-16 08:32] bbodenmiller commented on #21012
It is maxing out the system. See below, upgrade was completed 9/9.

![image](https://user-images.githubusercontent.com/1192780/190594033-279dd1f8-7bbb-4092-b502-83eb54bc9c8b.png)

[2022-09-16 08:43] bbodenmiller commented on #21012
@agnivade how can I view the content of `cpu.pprof`?

[2022-09-16 12:51] #20930 closed

[2022-09-16 18:29] vanzibar commented on #20227
I'm thinking of taking a look at this

[2022-09-16 19:47] M-ZubairAhmed commented on #16120
scope for this ticket is now reduced, check title

[2022-09-16 20:00] mattermod opened #21039 "Migrate 'components/more_direct_channels.test.jsx' to TypeScript"
TS migration

Description
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:
* Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
* Add

[2022-09-16 20:45] mattermod opened #21041 "Migrate "components/create_team/index.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-17 03:55] ksankeerth commented on #21041
Hi Team,
I'm interested on this issue.  Can I send a PR for this?

[2022-09-17 04:00] agnivade commented on #21012
Here is the official blog on that: https://go.dev/blog/pprof, but there are hundreds of articles on the web that explains it as well. The profile does not contain any sensitive info if that's what you are thinking.

[2022-09-17 08:11] anx-ag commented on #21012
Can you install [pg_activity](https://github.com/dalibo/pg_activity), run it and see if there are any specific queries that cause the high CPU usage?

[2022-09-17 13:47] sinansonmez commented on #21041
Thanks for the interest @ksankeerth please go ahead with submitting the PR. Someone from Mattermost will assign the issue to you soon.

[2022-09-17 20:06] sinansonmez commented on #20470
@MattSilvaa it seems no one is working on this. Feel free to give it a try.

[2022-09-17 20:14] sinansonmez commented on #19864
I am unassigning myself as I couldn't have more progress on this. Maybe someone else could tackle it.

[2022-09-18 16:17] adamhindman commented on #20835
Regardless of whether you're using Teams or Enterprise, this button isn't providing value to the user. People who want to upgrade do not need a button on screen at all times to initiate that process, and people who don't want to upgrade certainly don't need it. It's a visual nuisance without usability benefit.

[2022-09-18 16:55] cobengualon commented on #20531
same issues please fix :(,is good to see it can be search with text attachment 😄

[2022-09-18 17:07] gosudvt commented on #20531
@amyblais Same bug with my Maltermost Server. Hope Maltermost Team can fix it soon. Many thanks to team if it can be fix 👯

[2022-09-18 17:20] ErikHorus1249 commented on #20531
@amyblais
We have the same problem, please fix it soon :<

[2022-09-18 17:21] manhdinh798 commented on #20531
Got the same problem on my server :/, plz fix it T.T

[2022-09-19 03:18] Cijin commented on #20801
@amyblais Can I take up this issue?

[2022-09-19 07:04] AbhinavVihan commented on #21039
I would like to work on this.

[2022-09-19 07:14] AbhinavVihan commented on #20951
I would like to work on this.

[2022-09-19 08:28] arifulislamat commented on #1012
Sharing my solution in case others have face same problem. However my error it little bit different.

Error: **Connection unsuccessful: failed to set the to address: 553 5.7.1 <test@example.com>: Sender address rejected: not owned by user**

**Solution:**
- vim config.json
- replace "test@example.com" with valid mail or leave it empty
- if you are on docker, then restart the container

[2022-09-19 11:08] VishakhaPoonia commented on #20950
I would like to work on this one.

[2022-09-19 12:19] Gedulis12 commented on #20856
@anx-ag , Thank you, updating docker-compose has fixed the issue.

[2022-09-19 12:19] #20856 closed

[2022-09-19 18:19] ariephim opened #21046 "Show/Hide Formatting pointless"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. If you have having issues, please send us a message in the [Peer-to-peer Help](https://community-daily.mattermost.com/core/channels/peer-to-peer-help) or the [Developers: Desktop App](https://community-daily.mattermost.com/core/channels/desktop-app) channels on the Mattermost Community server
- [x] I h

[2022-09-19 18:27] devinbinnie commented on #21046
Moved to server repo since this is a webapp issue not a desktop app issue.

[2022-09-19 18:30] amyblais commented on #21046
There is an existing ticket open: https://mattermost.atlassian.net/browse/MM-45008.

[2022-09-19 19:12] safakkizkin commented on #20878
It's been a long time no activity here, if it's ok I can do it!

[2022-09-19 21:09] safakkizkin commented on #18010
Hi @mickmister, I think we don't need to show always Team Sidebar visible, unless we have plugins that needs to `showTeamSidebar` or the user is member of multiple teams. I believe that will solve our issues here, without any config file update.

So, if this solution makes sense for you. I'll create a PR for it only on web app side.

It helps so much if you gave me an example for plugin (I couldn'

[2022-09-20 02:42] Cijin commented on #20801
Thank you :)

[2022-09-20 15:44] rolwin100 commented on #20841
I'm working on this ticket almost done

[2022-09-20 19:12] anx-ag commented on #20828
Basically the message id needs to generated and can be unique - what agnivade was trying to say here is that you could create a random string in the local part of the message ID + the current timestamp. So let's say `model.newRandomString` returns `alskdjflasjdfasf` and `time.Now()` returns `1223492898234` and the hostname of your mattermostserver is `mattermost.mycompany.com`, then the resulting

[2022-09-20 21:05] safakkizkin commented on #20122
If there is no action, I would take it

[2022-09-21 05:56] Azanul commented on #20828
@anx-ag Do we have any specifications for the ```newRandomString``` ? also, does it need to be added in model ?

[2022-09-21 06:22] anx-ag commented on #20828
I'm not sure I understand this question, sorry. This is a function available in `model/utils.go`:

[code]

[2022-09-21 07:33] Azanul commented on #20828
@anx-ag You gave me the correct answer without understanding the question.

[2022-09-21 10:52] lonesomewalker commented on #20948
Hi @isacikgoz, sure:

[code]

and
[code]

Strange is, after my last try to migrate i can now login flawlessly, see all the teams but not the channels anymore...?

Sorry, but this is an internal system, and i don't have time to bug around all the time with this :-|

Thank you for your effort!

[2022-09-21 14:00] mattermod opened #21051 "Migrate "components/sidebar_right_menu/index.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:00] mattermod opened #21052 "Migrate "components/post_markdown/index.test.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:00] mattermod opened #21053 "Migrate "components/analytics/table_chart.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:00] mattermod opened #21054 "Migrate "components/autosize_textarea.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21055 "Migrate "components/autocomplete_selector.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21056 "Migrate "components/setting_picture.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21057 "Migrate "components/interactive_dialog/interactive_dialog.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21058 "Migrate "components/interactive_dialog/dialog_introduction_text.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21059 "Migrate "components/emoji_picker/emoji_picker_tabs.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21060 "Migrate "components/advanced_create_comment/advanced_create_comment.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21061 "Migrate "components/list_modal.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21062 "Migrate "components/markdown_image/markdown_image.jsx" and tests to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21063 "Migrate "components/formatted_markdown_message.test.jsx" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th

[2022-09-21 14:15] mattermod opened #21064 "Migrate "components/more_direct_channels/list/index.test.js" to Typescript"
We are plan to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify the above mentioned file and associate test files (if the file exists).

Below is a checklist of items you should be doing to migrate:

  * Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`).
  * Add relevant types in th