[2019-10-09 13:55] #12460 closed

[2019-10-09 14:19] andrewbrown00 commented on #12617
Not your mistake at all and you're welcome! Let me know if you need anything else 😄

[2019-10-09 14:34] tekminewe commented on #12356
hi @hanzei I can help on this issue :)

[2019-10-09 15:58] amyblais commented on #12694
@bk138 I'm not 100% sure if this is something we can fix if this is an issue on a specific browser version and works on the latest browser release. Do you know if Firefox has known issues around emojis?

[2019-10-09 16:14] rv404674 commented on #12699
I will take it up. Can you please assign this to me.

[2019-10-09 17:05] #12436 closed

[2019-10-09 17:11] #12666 closed

[2019-10-09 17:43] chuttam commented on #9760
Fyi, there was already another open ticket for adding `<Autocomplete>` to the Edit Post screen with a PR in review at the moment.

* Issue: https://github.com/mattermost/mattermost-server/issues/10159
* PR: https://github.com/mattermost/mattermost-mobile/pull/3295

Hopefully the context in the PR conversation helps a bit with some of the finer details of adding autocomplete to the Channel Header t

[2019-10-09 17:46] abdusabri commented on #12662
Screenshots from a working draft implementation

![image](https://user-images.githubusercontent.com/25670682/66506223-37fc7d00-eacd-11e9-8d81-c3b789a39b06.png)

![image](https://user-images.githubusercontent.com/25670682/66506279-55c9e200-eacd-11e9-8d67-0c225e5f76fa.png)

![image](https://user-images.githubusercontent.com/25670682/66506328-6a0ddf00-eacd-11e9-921e-5126fb06ad0b.png)

[2019-10-09 17:57] Phizzard commented on #12491
Hey, does @dibyaaaaax still have this claimed?

If this is up for grabs again, I would like to take it :)

[2019-10-09 18:02] lieut-data commented on #11910
Thanks again, @pbitty!

[2019-10-09 18:03] lieut-data commented on #12393
@RajatVaryani, right: the idea with the RPC API is to expose the low-level `io.Reader` interface, and the helper to build on that to pipe an HTTP request through it. One could imagine other helpers in the future enabling loading from other `io.Reader`s.

[2019-10-09 18:04] Phizzard commented on #12450
Can I claim this issue? :)

[2019-10-09 18:06] #12632 closed

[2019-10-09 18:09] amyblais commented on #12329
### v5.16 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.16.0-rc2/mattermost-team-5.16.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2992/files)

[2019-10-09 18:28] deanwhillier commented on #12315
Yes, thanks @hanzei!

[2019-10-09 18:36] valentijnnieman commented on #12313
I cannot seem to reproduce this - running Mattermost in dev mode it seems to work for me (see screenshot). I did notice that on community.mattermost.com in the "Add members to team" modal I wasn't able to autocomplete my username, but I cannot seem to reproduce this when running locally. Could you clarify? Could it be that community.mattermost.com is running enterprise and dev mode isn't? I'm also

[2019-10-09 19:02] valentijnnieman commented on #12313
I'm looking in to this but I'm not sure I understand the issue exactly! I seem to be able to autocomplete my username in just about any modal searchbar, except perhaps in the "Add member to channel" modal - but that makes sense, since I'm already in the channel. Could you clarify what you mean exactly? Here's a screenshot of Mattermost in dev mode on my machine:

<img width="1224" alt="Screen Shot

[2019-10-09 19:03] amyblais commented on #12695
Hi @giser-tech, would you be open to opening this issue on our [troubleshooting forum](http://forum.mattermost.org/) as there may be other community member who have hit this issue and may be able to assist?
Can you help share any additional relevant details?

[2019-10-09 19:31] Mycobee commented on #12305
I'd like to take a stab at this one please @saturninoabril

[2019-10-09 19:32] somenet opened #12702 "slack-compatibility-layer seems to break results of MM-only integration"
Our haskell-bot produces weird output, as it would change the order of the input lines and stuff like that.

We strongly suspect the weird behaviour is introduced by the slack-compatability-layer which mattermost uses by default and which we cannot find a way to disable.

#### Summary
Slack-compatibility seems to break results of /command-integrations. (not tested with webhooks)

#### Steps to rep

[2019-10-09 19:43] #12417 closed

[2019-10-09 19:47] bk138 commented on #12694
@amyblais I don't know if Firefox has known issues around emoji.

I posted this issue since it affects all Debian-stable Firefox users, which might be quite an amount of people. I can also perfectly well understand the MM team not wanting to support an older Firefox ESR release, but I don't know your policy in this regard. If it is "supported on the latest browser release", then I am fine to close

[2019-10-09 19:49] ylluminate commented on #2203
How do you reference TEAM+CHANNEL? `~TEAM_NAME#CHANNEL_NAME` would work nicely...

[2019-10-09 20:15] Phizzard commented on #12447
Can I take this issue?

[2019-10-09 20:15] #12459 closed

[2019-10-09 21:00] amyblais commented on #12694
@bk138 I tested this on Firefox 68.1.0 which seems to be the latest ESR. This bug seems to be fixed there too. Would you be open to upgrading to the latest ESR? https://www.mozilla.org/en-US/firefox/organizations/all/

[2019-10-09 21:07] hwang381 commented on #12522
@hanzei could you give a bit more guidance on this issue? I find this a little bit confusing

[2019-10-09 21:31] mthld opened #12704 "Email notification still sent while disabled in UI"
Hi,

#### Summary
When using plugins and/or webhooks with bots on Mattermost server, email notification preferences aren't respected.

#### Steps to reproduce
1. Setup a Mattermost server (confirmed with last version 5.15.0)
2. Install some plugins (eg. [standup-raven](https://github.com/standup-raven/standup-raven)) and/or an incoming webhook (eg. from a Gitea server) with a bot posting in channe

[2019-10-09 23:44] pbitty commented on #11910
No prob!

[2019-10-10 01:11] lieut-data commented on #12695
@giser-tech, looks like your database instance isn't setup correctly. If you don't have any data/config in your testing database, you might consider `make nuke config-reset` and trying again.

[2019-10-10 01:13] lieut-data commented on #12395
@Th3Whit3Wolf, can you successfully connect to your PostgreSQL instance from the droplet running your Mattermost server? There might be a networking issue here.

[2019-10-10 01:20] lieut-data commented on #12702
@somenet, I'm having trouble reproducing this. If I create an incoming webhook, for example:
[code]

I appear to get the desired behaviour:
![image](https://user-images.githubusercontent.com/1023171/66531692-02628e80-eae3-11e9-8d0a-84e16503d656.png)

Can you help provide more details on how we can reproduce?

[2019-10-10 04:56] Saamiyah commented on #12447
Hi, I'm taking this.

[2019-10-10 05:03] Saamiyah commented on #12437
Hi I'm taking this.

[2019-10-10 08:52] saturninoabril commented on #12305
@Mycobee Sure and thanks for your interest!

[2019-10-10 09:11] letsila commented on #12696
hey guys, I'd love to work on this one.

[2019-10-10 11:54] #12068 closed

[2019-10-10 13:23] fendor commented on #12702
Indeed, with webhooks this behaviour is not reproducible.
So maybe this only happens with slash commands?

[2019-10-10 13:27] #12570 closed

[2019-10-10 13:30] #12468 closed

[2019-10-10 13:38] reflog opened #12708 "Additional bugs with reply-count/thread fetching"
Jira ticket: https://mattermost.atlassian.net/browse/MM-19371

Thanks @reflog! Seems the issue we reproduced where the count was incorrect when clicking on a timestamp is fixed!

I tested the following on both webapp and mobile apps:
1. Clicking on the post's timestamp (webapp) / copying & pasting post's permalink then viewing in permalink mode (mobile apps) - reply count is correct
2. Making a po

[2019-10-10 13:47] Pomyk commented on #12344
I will try to do it.

[2019-10-10 13:47] #12462 closed

[2019-10-10 13:48] #12442 closed

[2019-10-10 13:53] devinbinnie commented on #12450
Sure can! Thanks @Phizzard!

[2019-10-10 13:53] devinbinnie commented on #12447
Sure! Thanks @Phizzard!

[2019-10-10 13:54] devinbinnie commented on #12437
Sounds good! Thanks @Saamiyah!

[2019-10-10 13:59] #12455 closed

[2019-10-10 13:59] #12487 closed

[2019-10-10 14:20] mattermod opened #12709 "Migrate tests from "store/storetest/system_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/system_store.go` file.

The expected way to migrate thi

[2019-10-10 14:20] mattermod opened #12710 "Migrate tests from "store/storetest/user_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/user_store.go` file.

The expected way to migrate this

[2019-10-10 14:20] mattermod opened #12711 "Migrate tests from "store/storetest/reaction_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/reaction_store.go` file.

The expected way to migrate t

[2019-10-10 14:20] mattermod opened #12712 "Migrate tests from "store/storetest/emoji_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/emoji_store.go` file.

The expected way to migrate this

[2019-10-10 14:20] mattermod opened #12713 "Migrate tests from "store/storetest/audit_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/audit_store.go` file.

The expected way to migrate this

[2019-10-10 14:20] mattermod opened #12714 "Migrate tests from "store/storetest/webhook_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/webhook_store.go` file.

The expected way to migrate th

[2019-10-10 14:20] mattermod opened #12715 "Migrate tests from "store/storetest/cluster_discovery_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/cluster_discovery_store.go` file.

The expected way to

[2019-10-10 14:20] mattermod opened #12716 "Migrate tests from "store/storetest/command_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/command_store.go` file.

The expected way to migrate th

[2019-10-10 14:20] mattermod opened #12717 "Migrate tests from "services/httpservice/client_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `services/httpservice/client_test.go` file.

The expected way to migrate

[2019-10-10 14:20] mattermod opened #12718 "Migrate tests from "services/mfa/mfa_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `services/mfa/mfa_test.go` file.

The expected way to migrate this is to

[2019-10-10 14:21] phillipahereza commented on #12718
I'll work on this

[2019-10-10 14:22] phillipahereza commented on #12717
I'll also work on this

[2019-10-10 14:38] joshuabezaleel commented on #12716
May I have a shot on this?

[2019-10-10 14:43] jozuenoon commented on #12709
Up for this one :)

[2019-10-10 14:43] jozuenoon commented on #12710
Up for this one :)

[2019-10-10 15:36] A-Hilaly commented on #12715
Hello, can i work this ?

[2019-10-10 15:59] valentijnnieman commented on #8464
I'd like to take a look at this!

[2019-10-10 16:03] anchepiece opened #12721 "Readme should point Contributing Code link to developers.mattermost.com"
#### Summary
Readme should use updated Contributing Code link in section [Get Involved](https://github.com/anchepiece/mattermost-server#get-involved)

#### Steps to reproduce
Clicking "Contributing Code" leads to https://docs.mattermost.com/developer/contribution-guide.html

#### Expected behavior
Clicking "Contributing Code" should point directly to the https://developers.mattermost.com/contribut

[2019-10-10 16:08] anchepiece commented on #11437
@enahum It looks like an additional rule could adjust sort in special cases. It may be useful to use the defined emoji index.

Are there more reported cases beyond thumbsup/down?

[2019-10-10 16:20] mattermod opened #12722 "Refactor "app/channel.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/channel.go`.

The expected way to implement it is to open the file `app/channel.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases w

[2019-10-10 16:20] mattermod opened #12723 "Refactor "app/status.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/status.go`.

The expected way to implement it is to open the file `app/status.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases whe

[2019-10-10 16:20] mattermod opened #12724 "Refactor "app/import.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/import.go`.

The expected way to implement it is to open the file `app/import.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases whe

[2019-10-10 16:20] mattermod opened #12725 "Refactor "plugin/health_check.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `plugin/health_check.go`.

The expected way to implement it is to open the file `plugin/health_check.go`, look for all calls to `mlog.Info`, `mlog.Debug`, et

[2019-10-10 16:20] mattermod opened #12726 "Refactor "app/notification_email.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/notification_email.go`.

The expected way to implement it is to open the file `app/notification_email.go`, look for all calls to `mlog.Info`, `mlog.Debu

[2019-10-10 16:20] mattermod opened #12727 "Refactor "app/export.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/export.go`.

The expected way to implement it is to open the file `app/export.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases whe

[2019-10-10 16:20] mattermod opened #12728 "Refactor "app/ldap.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/ldap.go`.

The expected way to implement it is to open the file `app/ldap.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases where `

[2019-10-10 16:29] sdesani commented on #12725
Signed up and joined Contributors community channel. If this is still open, would like to contribute on this one.

[2019-10-10 16:36] vdepatla commented on #12728
I can work on this one

[2019-10-10 16:45] jasonblais commented on #11437
cc @esethna @hmhealey as Elias may be out

[2019-10-10 16:48] r4zorgeek commented on #12723
@mattermod Hey I would like to work on this issue.

[2019-10-10 17:12] arjitc commented on #12727
PR created Refactor "app/export.go" to use structured logging #12727 #12729

[2019-10-10 17:12] Menelion commented on #12726
May I take this one, please?

[2019-10-10 17:21] sdesani commented on #12725
Created https://github.com/mattermost/mattermost-server/pull/12734

[2019-10-10 17:40] amyblais commented on #12721
@anchepiece Would you be interested in submitting a fix for this?

[2019-10-10 17:43] bensooraj commented on #12724
I can contribute to this one!

[2019-10-10 17:48] bensooraj commented on #12722
I can work on this one as well, please assign this to me!

[2019-10-10 17:57] anchepiece commented on #12721
@amyblais Sure. Fix incoming.

[2019-10-10 18:21] jasonblais commented on #12722
Thanks @bensooraj!

[2019-10-10 18:21] jasonblais commented on #12724
Thanks @bensooraj! 🚀

[2019-10-10 18:22] jasonblais commented on #12344
Excellent, thanks @Pomyk!

[2019-10-10 18:22] jasonblais commented on #10788
Thanks @letsila! Great to see you around :)

[2019-10-10 18:27] jasonblais commented on #8464
Thanks @valentijnnieman! 🚀

[2019-10-10 18:35] malaDev commented on #12713
I would like to take this one

[2019-10-10 19:44] keskinbu commented on #12712
Hi, can i get this issue? It will be my first.

[2019-10-10 19:48] esethna commented on #11437
@anchepiece as far as we know this is the only custom sorting we need at the moment

[2019-10-10 19:55] #12671 closed

[2019-10-10 19:59] bensooraj commented on #12711
I would like to contribute to this! Please assign this to me.

[2019-10-10 20:03] bensooraj commented on #12722
I have submitted a PR for this issue: #12738

[2019-10-10 20:05] cpurta commented on #12714
I would like to take this one on if nobody has taken it.

[2019-10-10 20:32] bensooraj commented on #12724
Submitted a PR for this issue: #12741

[2019-10-10 20:43] Mycobee commented on #12305
@saturninoabril, I submitted a PR.  This is my first time ever working with Mattermost repos or using the tool Cypress.

I had one small area of difficulty documented in my pull request.  I would love constructive feedback on how to implement separate browser testing.

Hopefully other than that my work looks okay, please let me know where I can improve :)

Thank you for your time!

[2019-10-10 21:23] valentijnnieman commented on #8464
Is this issue still relevant? I'm looking through the code and find there are already reducers in place for `flagged` and `pinned`, see [here](https://github.com/mattermost/mattermost-redux/blob/3bb89a5450b94da564d3a286fefb5945a1c3fca8/src/reducers/entities/search.js#L60). I also found a test that confirms it works [here](https://github.com/mattermost/mattermost-redux/blob/3bb89a5450b94da564d3a286

[2019-10-10 21:33] Mycobee commented on #12345
Hi @hanzei,

I'd love go give this one a go 🙂

[2019-10-10 22:08] amyblais commented on #12714
@cpurta It looks like there is a PR open https://github.com/mattermost/mattermost-server/pull/12736.

[2019-10-11 00:27] jasonblais commented on #8464
Good question.

@jwilander wondering if you'd know whether this ticket still applies? (pinging you as the original ticket creator, feel free to nudge someone else)

[2019-10-11 05:27] akpark commented on #12348
I can work on this.

[2019-10-11 09:57] #12672 closed

[2019-10-11 09:58] #12669 closed

[2019-10-11 12:08] #12423 closed

[2019-10-11 12:08] #12551 closed

[2019-10-11 12:09] #12553 closed

[2019-10-11 12:24] tekminewe commented on #12356
no problem :)

[2019-10-11 12:59] #12424 closed

[2019-10-11 12:59] #12431 closed

[2019-10-11 13:00] #12563 closed

[2019-10-11 13:00] #12569 closed

[2019-10-11 13:03] #12568 closed

[2019-10-11 13:04] #12592 closed

[2019-10-11 13:05] #12590 closed

[2019-10-11 13:05] #12589 closed

[2019-10-11 13:06] #12634 closed

[2019-10-11 13:06] #12638 closed

[2019-10-11 13:07] #12629 closed

[2019-10-11 13:07] #12637 closed

[2019-10-11 13:08] #12673 closed

[2019-10-11 13:30] tpaschalis commented on #12424
Thanks a lot! It was an easy process, and I hope I will have some time to pick up a Medium task!

[2019-10-11 13:35] jespino commented on #12424
@tpaschalis I love to hear that! :heart:

[2019-10-11 14:24] #12332 closed

[2019-10-11 14:25] #12635 closed

[2019-10-11 14:49] GunnlaugurCalvi commented on #12354
I have a PR for this issue

[2019-10-11 16:15] mattermod opened #12748 "Scroll channel into view in LHS when switching to channel"
When you use ctrl+K/cmd+K to switch to a channel when you're a member of a lot of channels, you can lose the currently selected channel in the LHS if it's off-screen when the channel is switched.

When switching to a new channel, we should have the channel list in the LHS scroll so that the channel is visible. We might be able to use the browser's `scrollIntoView` for this, but we may have to writ

[2019-10-11 16:15] mattermod opened #12749 "Do not let users type account input fields longer than the max length for that field"
On webapp or mobile app,

**Steps**:
1 - Edit profile first or last name to be longer than 64 characters, or enter an email that is longer than 128 characters
2 - Tap/Click Save

**Observed**: Error message appears
**Expected**: Don't let the user type more than 64 characters for first and last name, or 128 characters for emails.

Note: this pattern was applied to editing the channel name

![](IMG

[2019-10-11 16:15] mattermod opened #12750 "Typing an emoji in a post doesn't add it to recently used"
On the webapp, any emojis found in a created post are added to the recently used list. This functionality is missing on mobile.

Expected: When emojis are typed into a post or added with the mobile emoji keyboard, the emoji is added to the recently used section of the emoji picker (assuming the emoji exists in Mattermost)

----
If you're interested please comment here and come [join our "Contribut

[2019-10-11 17:54] #12572 closed

[2019-10-11 18:13] pawansingh972 commented on #12749
Hi @hmhealey , I would like to work on it, Please assign it to me.

[2019-10-11 21:00] #12425 closed

[2019-10-11 21:12] bensooraj commented on #12711
PR filed at #12752

[2019-10-12 02:33] icancode007 commented on #12350
I can take a shot at this if its ok with you

[2019-10-12 06:52] ChrisDobby commented on #12349
I'll pick this one up if that's OK?

[2019-10-12 09:09] #12545 closed

[2019-10-12 09:53] MCRayRay commented on #12600
I know a bit about Cypress and Go, so I should be able to take a look at this. :-)

[2019-10-12 14:44] ChrisDobby commented on #12349
I'll pick this one up if that's OK?

[2019-10-12 16:41] reflog commented on #12708
Closing in favor of https://mattermost.atlassian.net/browse/MM-19371

[2019-10-12 16:41] #12708 closed

[2019-10-12 16:56] mkvaghani opened #12755 "Failed to load resource: the server responded with a status of 404 (Not Found)"
Mattermost Server Running success, Mattermost webapp was tested success.
But it shows blank when open the URL http://localhost:8065/

When I inspect the elements in google chrome, it shows me following errors
[code]

The link http://localhost:8065/static/manifest.json
Shows 404 page not found.

Using Docker 18.09 on MacOS.
Go Lang : go version go1.13.1 darwin/amd64
Mattermost Apps, server and weba

[2019-10-12 17:25] akpark commented on #12001
is this just removing the method? it doesn't _appear_ to be used anywhere

[2019-10-12 17:56] asbillings07 commented on #12599
submitted PR for it.

[2019-10-12 17:58] imisshtml commented on #9432
I'm going to release this one back into the wild! In researching though I ran into the same issues and in further discussing with @enahum, it looks like we will need to address this by overriding the Native Module for the text input.

From @enahum:

[2019-10-12 23:46] YannHulot commented on #12457
@devinbinnie actually something has come up and I won't be able to continue to work on this issue. Sorry about that.

[2019-10-13 00:02] J0WI opened #12756 "[Docker] fix latest tag"
#### Summary
https://github.com/mattermost/mattermost-docker/issues/397#issuecomment-525881880:
the latest tag of `mattermost/mattermost-team-edition` is outdated and only tags with minor releases (like `5.15.1`) are available. `5` or `5.15` are not available, which makes it hard to maintain.

#### Steps to reproduce
`docker run mattermost/mattermost-team-edition`

#### Expected behavior
getting l

[2019-10-13 00:24] shonore commented on #12750
Is this task still available? If so, I would love to work on it

[2019-10-13 15:28] valentijnnieman commented on #12748
I'd like to work on this!

[2019-10-13 18:29] Th3Whit3Wolf commented on #12395
I think it may be related to [issue 12327](https://github.com/mattermost/mattermost-server/issues/12327)

[2019-10-13 18:29] Th3Whit3Wolf commented on #12395
Yes I can and I have multiple other projects hitting the same database

[2019-10-13 18:43] Th3Whit3Wolf commented on #12395
I will ask in the forum as well and yes I am using the mattermost droplet.
OS Ubuntu 18.04
Mattermost Server Version 5.12.0

[2019-10-13 19:37] #12566 closed

[2019-10-13 19:38] #12426 closed

[2019-10-13 19:38] #12210 closed

[2019-10-13 19:38] #12594 closed

[2019-10-13 19:44] #12668 closed

[2019-10-13 20:06] jespino commented on #12750
@shonore Yes it is, go for it :)

[2019-10-13 20:06] jespino commented on #12748
Awesome, Thanks @valentijnnieman!

[2019-10-13 20:07] jespino commented on #12600
Awesome, Thanks @MCRayRay!

[2019-10-13 20:08] jespino commented on #12354
Awesome, Thanks @GunnlaugurCalvi!

[2019-10-13 20:09] jespino commented on #12350
Great, thanks @icancode007!

[2019-10-13 20:09] jespino commented on #12348
Great, thanks @akpark!

[2019-10-14 00:11] rv404674 commented on #12665
Hi @imavroukakis . Can I take this, if you are not working on it??

[2019-10-14 08:13] cinlloc commented on #12282
I would like to work on it.

[2019-10-14 08:14] saturninoabril commented on #12282
@cinlloc Sure and thanks!

[2019-10-14 10:05] mattermod opened #12758 "Migrate tests from "store/storetest/plugin_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/plugin_store.go` file.

The expected way to migrate thi

[2019-10-14 10:05] mattermod opened #12759 "Migrate tests from "store/storetest/preference_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/preference_store.go` file.

The expected way to migrate

[2019-10-14 10:05] mattermod opened #12760 "Migrate tests from "store/storetest/team_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/team_store.go` file.

The expected way to migrate this

[2019-10-14 10:05] mattermod opened #12761 "Migrate tests from "store/storetest/session_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/session_store.go` file.

The expected way to migrate th

[2019-10-14 10:05] mattermod opened #12762 "Migrate tests from "store/storetest/oauth_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/oauth_store.go` file.

The expected way to migrate this

[2019-10-14 10:05] mattermod opened #12763 "Migrate tests from "store/storetest/terms_of_service_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/terms_of_service_store.go` file.

The expected way to m

[2019-10-14 10:05] mattermod opened #12764 "Migrate tests from "store/storetest/status_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/status_store.go` file.

The expected way to migrate thi

[2019-10-14 10:05] mattermod opened #12765 "Migrate tests from "store/storetest/user_access_token_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/user_access_token_store.go` file.

The expected way to

[2019-10-14 10:05] mattermod opened #12766 "Migrate tests from "store/storetest/command_webhook_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/command_webhook_store.go` file.

The expected way to mi

[2019-10-14 10:05] mattermod opened #12767 "Migrate tests from "store/storetest/license_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/license_store.go` file.

The expected way to migrate th

[2019-10-14 10:54] willdot commented on #12758
Hey. I'd like to grab this one :)

[2019-10-14 10:55] #12055 closed

[2019-10-14 10:57] jespino commented on #12758
Awesome! go for it @willdot! :tada:

[2019-10-14 11:04] saturninoabril commented on #12599
Sorry @asbillings07 and thank you for your time and effort but I'm closing this as duplicate (my fault).  Also I [commented on your PR](https://github.com/mattermost/mattermost-webapp/pull/3949#issuecomment-541613031).

[2019-10-14 11:04] #12599 closed

[2019-10-14 12:39] heowc commented on #12767
I'll work on it!

[2019-10-14 12:40] cpanato commented on #12767
thanks @heowc

[2019-10-14 13:54] imavroukakis commented on #12665
@rv404674 I am working on it, sorry

[2019-10-14 14:02] pqzx commented on #12761
I'd like to work on this

[2019-10-14 15:12] iwataka commented on #12287
I'd like to take this issue @saturninoabril

[2019-10-14 15:12] saturninoabril commented on #12287
@iwataka Sure and thanks!

[2019-10-14 16:07] gupsho commented on #12766
I can take this

[2019-10-14 16:11] niklabh commented on #12764
Can i take this up

[2019-10-14 16:16] niklabh commented on #12765
Can i work on this

[2019-10-14 16:16] niklabh commented on #12763
Can i work on this

[2019-10-14 16:16] niklabh commented on #12762
Can i work on this

[2019-10-14 16:17] niklabh commented on #12760
Can i work on this

[2019-10-14 16:17] niklabh commented on #12759
Can i work on this

[2019-10-14 18:00] #12725 closed

[2019-10-14 19:02] mgdelacroix commented on #12766
Thanks @gupsho!

[2019-10-14 19:03] mgdelacroix commented on #12765
Thanks @niklabh!

[2019-10-14 19:03] mgdelacroix commented on #12761
Thanks @pqzx!

[2019-10-14 19:25] #12664 closed

[2019-10-14 22:53] champialex commented on #12614
That would be nice indeed!

[2019-10-15 08:13] jespino commented on #12764
Awesome

[2019-10-15 08:14] tanmayrajani opened #23314 "Link opened by clicking notification is truncated"
I confirm:

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [x] I have read [contributing guidelines

[2019-10-15 08:15] jespino commented on #12759
Great, thanks @niklabh! :tada:

[2019-10-15 08:15] jespino commented on #12760
Sure! :tada:

[2019-10-15 08:16] jespino commented on #12762
Sure

[2019-10-15 08:17] jespino commented on #12763
sure

[2019-10-15 08:20] mattermod opened #12777 "Migrate tests from "vendor/github.com/hashicorp/go-plugin/testing.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `vendor/github.com/hashicorp/go-plugin/testing.go` file.

The expected w

[2019-10-15 08:20] mattermod opened #12778 "Migrate tests from "vendor/github.com/gorilla/websocket/conn.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `vendor/github.com/gorilla/websocket/conn.go` file.

The expected way to

[2019-10-15 08:20] mattermod opened #12779 "Migrate tests from "vendor/github.com/gorilla/mux/README.md" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `vendor/github.com/gorilla/mux/README.md` file.

The expected way to mig

[2019-10-15 08:20] mattermod opened #12780 "Migrate tests from "store/sqlstore/utils_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/sqlstore/utils_test.go` file.

The expected way to migrate this i

[2019-10-15 08:20] mattermod opened #12781 "Migrate tests from "store/sqlstore/preference_store_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/sqlstore/preference_store_test.go` file.

The expected way to mig

[2019-10-15 08:20] mattermod opened #12782 "Migrate tests from "store/storetest/bot_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/bot_store.go` file.

The expected way to migrate this i

[2019-10-15 08:20] mattermod opened #12783 "Migrate tests from "store/storetest/channel_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/channel_store.go` file.

The expected way to migrate th

[2019-10-15 08:20] mattermod opened #12784 "Migrate tests from "store/storetest/compliance_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/compliance_store.go` file.

The expected way to migrate

[2019-10-15 08:20] mattermod opened #12785 "Migrate tests from "store/storetest/post_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/post_store.go` file.

The expected way to migrate this

[2019-10-15 08:20] mattermod opened #12786 "Migrate tests from "store/storetest/job_store.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `store/storetest/job_store.go` file.

The expected way to migrate this i

[2019-10-15 08:23] mgdelacroix commented on #12779
Not a source code file. Closing

[2019-10-15 08:23] #12779 closed

[2019-10-15 08:24] mgdelacroix commented on #12777
Invalid vendor file. Closing

[2019-10-15 08:24] #12777 closed

[2019-10-15 08:24] mgdelacroix commented on #12778
Invalid vendor file. Closing

[2019-10-15 08:24] #12778 closed

[2019-10-15 08:27] rahulverma283 commented on #12759
Hi @jespino . @niklabh has commented on 6 different issues #12760 #12762 #12763 #12764 and #12759 all at same time, thus blocking all other issues to be worked by someone else. I don't think, he will be working on all the issues simultaneously. Just wanted to know, isn't it the standard practice across all oss that unless someone is working on one issue, he won't be assigned another, thus ensuring

[2019-10-15 08:29] rv404674 commented on #12759
Hi @jespino . @niklabh has commented on 6 different issues #12760 #12762 #12763 #12764 and #12759 all at same time, thus blocking all other issues to be worked by someone else. I don't think, he will be working on all the issues simultaneously. Just wanted to know, isn't it the standard practice across all oss that unless someone is working on one issue, he won't be assigned another, thus ensuring

[2019-10-15 08:30] rv404674 commented on #12786
Can I take it up.?? Thanks.

[2019-10-15 08:30] rv404674 commented on #12785
Can I take it up.?? Thanks.

[2019-10-15 08:30] rv404674 commented on #12784
Can I take up this one as well.

[2019-10-15 08:31] rv404674 commented on #12783
Can I take up this one as well.

[2019-10-15 08:33] jespino commented on #12759
@rv404674 yes, you are totally right, we prefer people that work in 1 single help wanted ticket at a time. But this kind of tickets are quite small and mechanical, so it is possible that he is working in all at the same time.

Anyway we have more of this tickets coming soon so is not a huge deal, we try to have enough introductory go and javascript tickets for everyone opened all the time.

[2019-10-15 08:34] jespino commented on #12783
Sure! go for it @rv404674! :tada:

[2019-10-15 08:35] mattermod opened #12787 "Migrate tests from "api4/command_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/command_test.go` file.

The expected way to migrate this is to go

[2019-10-15 08:35] mattermod opened #12788 "Migrate tests from "api4/file_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/file_test.go` file.

The expected way to migrate this is to go to

[2019-10-15 08:35] mattermod opened #12789 "Migrate tests from "api4/terms_of_service_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/terms_of_service_test.go` file.

The expected way to migrate this

[2019-10-15 08:35] mattermod opened #12790 "Migrate tests from "api4/plugin_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/plugin_test.go` file.

The expected way to migrate this is to go t

[2019-10-15 08:35] mattermod opened #12791 "Migrate tests from "api4/system_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/system_test.go` file.

The expected way to migrate this is to go t

[2019-10-15 08:35] mattermod opened #12792 "Migrate tests from "web/webhook_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `web/webhook_test.go` file.

The expected way to migrate this is to go t

[2019-10-15 08:35] mattermod opened #12793 "Migrate tests from "web/oauth_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `web/oauth_test.go` file.

The expected way to migrate this is to go to

[2019-10-15 08:35] mattermod opened #12794 "Migrate tests from "web/web_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `web/web_test.go` file.

The expected way to migrate this is to go to th

[2019-10-15 08:35] mattermod opened #12795 "Migrate tests from "web/context_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `web/context_test.go` file.

The expected way to migrate this is to go t

[2019-10-15 08:35] jespino commented on #12784
Sure, thanks!

[2019-10-15 08:36] jespino commented on #12785
Yes, thank **you** :)

[2019-10-15 08:36] jespino commented on #12786
Go for it :smiley:

[2019-10-15 08:39] rv404674 commented on #12782
This is the last one. Can i take it up as well. Thanks a lot.

[2019-10-15 08:40] mattermod opened #12796 "Migrate tests from "api4/apitestlib.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/apitestlib.go` file.

The expected way to migrate this is to go to

[2019-10-15 08:42] hanzei commented on #12782
Sure, thanks @rv404674

[2019-10-15 08:42] rv404674 commented on #12759
@jespino Awesome. :)

[2019-10-15 08:48] #12573 closed

[2019-10-15 09:48] mistikel commented on #12796
I would like to take this

[2019-10-15 10:06] roseline124 commented on #12781
I'll work on it :)

[2019-10-15 10:16] abelharisov commented on #12795
Can I take up this one?

[2019-10-15 10:27] #12333 closed

[2019-10-15 10:33] sascha-andres commented on #12794
I would like to go for it

[2019-10-15 10:38] jespino commented on #12794
Awesome, go for it @sascha-andres!

[2019-10-15 10:39] jespino commented on #12795
Sure! Thanks @abelharisov!

[2019-10-15 10:39] jespino commented on #12796
Great!

[2019-10-15 10:40] jespino commented on #12781
Great! Thanks @roseline124!

[2019-10-15 11:39] sascha-andres commented on #12792
I would like to go for it

[2019-10-15 12:16] amyblais commented on #12756
@cpanato Would you be able to take a look at this?

[2019-10-15 12:17] amyblais commented on #12755
@mkvaghani What Mattermost server version are you on?

[2019-10-15 12:54] simross commented on #12787
I would like to work on this issue

[2019-10-15 13:06] hanzei commented on #12375
Hey @SlavaBobik, you can find a list of all hooks at https://developers.mattermost.com/extend/plugins/server/reference/#Hooks

[2019-10-15 13:10] #12713 closed

[2019-10-15 13:12] hanzei commented on #12522
@sudheerDev Can you help @hwang381 with this issue?

[2019-10-15 13:13] devinbinnie commented on #12457
No problem.

[2019-10-15 13:24] cpanato commented on #12756
we dont push latest and `5` or `5.15` but sounds a nice to have. will implement that when I have some time

[2019-10-15 13:25] #12722 closed

[2019-10-15 13:27] mgdelacroix commented on #12792
Great, thanks @sascha-andres!!

[2019-10-15 13:28] bensooraj commented on #12793
I can take this up!

[2019-10-15 13:33] #12721 closed

[2019-10-15 13:47] devinbinnie commented on #12491
You can take it @Phizzard. Thanks! :)

[2019-10-15 14:15] rohanjulka19 commented on #12791
Hi , I want to work on this issue

[2019-10-15 14:22] #12715 closed

[2019-10-15 14:25] aqche commented on #12780
Hi, I'd like to take this.

[2019-10-15 16:15] mattermod opened #12807 "Render emojis in desktop notifications"
**Steps**:
1 - Send message to trigger desktop notification containing one or more emojis

**Expected**: Emojis display in notification. Map the emojis to unicode, and if it does not exist render the text as it does now.
**Actual**: Emojis sent appears as plain text (e.g., :shamrock:, :smile: )

![](Missing emojis.png|width=200,height=183)

**Notes**:
1 - Emojis are in plain text for desktop app a

[2019-10-15 16:22] gupsho commented on #12789
I can take this.

[2019-10-15 16:35] lieut-data commented on #12395
@Th3Whit3Wolf, to confirm, are you running a containerized environment like in https://github.com/mattermost/mattermost-server/issues/12327, or just running Mattermost directly on the machine in question?

[2019-10-15 16:55] mattermod opened #12810 "Desktop: Update add new server icon on the settings page"
**Steps**:
1 - Navigate to Desktop settings screen
2 - Observe icon next to 'Add new server' link

**Expected**: "+ Add New Server"
**Observed**: Squared Plus ➜ "⊞ Add new server"

Environment: MacBook Air - macOS Mojave - 10.14.6
Platform: Mattermost Desktop Version 4.3.0-rc5 (4.3.0-rc5.3228)

----
If you're interested please comment here and come [join our "Contributors" community channel](https

[2019-10-15 17:11] bolariin commented on #11053
Is there an alternative way to create a dialog? For some reason, I'm having issues with the demo plugin and can't use the plugin to test out creating an interactive dialog.

[2019-10-15 18:03] gupsho commented on #12788
I can take this.

[2019-10-15 18:29] lieut-data commented on #12702
Ah, good catch @fendor -- I can indeed reproduce this with a slash command. I didn't read the original post carefully enough.

The offending line seems to be https://github.com/mattermost/mattermost-server/blob/eae1acef5f5886566455282cff85119c8451d911/app/command.go#L43 -- without it, the message posts as expected. Let me look into this a bit more.

[2019-10-15 18:41] mauricio commented on #12790
I'd like to take this one.

[2019-10-15 19:50] hanzei commented on #12790
Thanks @mauricio :+1:

[2019-10-15 19:51] hanzei commented on #12788
Thanks @gupsho

[2019-10-15 19:52] hanzei commented on #11053
Yes, you can use [Matterpoll](https://github.com/matterpoll/matterpoll). You can modify the "Add option button" in https://github.com/matterpoll/matterpoll/blob/master/server/plugin/api.go#L265-L289.

[2019-10-15 19:54] bolariin commented on #11053
Thanks @hanzei

[2019-10-15 20:16] sudheerDev commented on #12519
@JosephSamela I am really sorry. I missed getting back to you on this.

Yes, The table you posted seems right to me 👍

There is one thing though most of these flags are used only in one react component like
https://github.com/mattermost/mattermost-webapp/blob/master/components/integrations/edit_incoming_webhook/edit_incoming_webhook.jsx#L100-L110

        const {data} = await this.props.actions.up

[2019-10-15 20:17] sudheerDev commented on #12519
@JosephSamela This would require a PR on mattermost-redux for removing and a PR on mattermost-webapp for making the above react state changes.

[2019-10-15 20:20] sudheerDev commented on #12521
@atulya-pandey Hey, How is this going? Is there anything i can help you with? Fell free to mention me if you need any help with the issue.

[2019-10-15 20:30] sudheerDev commented on #12518
@mbluemer Hey, How is this going? Is there anything i can help you with? Fell free to mention me if you need any help with the issue.

[2019-10-15 21:04] #12633 closed

[2019-10-15 21:05] #12670 closed

[2019-10-15 21:10] mauricio commented on #12790
@hanzei that one was already done it seems, did #12788 instead.

[2019-10-15 21:11] imavroukakis commented on #12665
@hanzei what's the procedure to run the tests locally?

[2019-10-15 21:18] hanzei commented on #12790
Hey @mauricio,

Please don't work on issues that other people are working on. In this case, @gupsho works on #12788. You can identify free issue by the `Up for Grabs` label.

[2019-10-15 21:19] hanzei commented on #12788
I'm sorry @gupsho, someone else submitted a PR for this. See https://github.com/mattermost/mattermost-server/issues/12790#issuecomment-542409253. Still, thanks for spending time on this.

[2019-10-15 21:20] hanzei commented on #12790
Closing as invalid

[2019-10-15 21:20] #12790 closed

[2019-10-15 21:23] hanzei commented on #12665
Does https://developers.mattermost.com/contribute/server/developer-workflow/#running-only-specific-server-unit-tests help?

[2019-10-15 21:31] #12727 closed

[2019-10-15 21:33] hanzei commented on #12313
Hey @valentijnnieman,

This issue is about the autocomplete if you start tying a `@`. I hope this resolves your confusion.

[2019-10-15 22:27] lelandhwu commented on #10327
Seeing as this hasn't been picked up for a while, I was wondering if I might be able to pick this up.
I'm extremely new to this project, and have limited knowledge of Go. I am willing to work on this ticket, but would like some references to point me in the right direction

[2019-10-16 01:20] icancode007 commented on #12350
Permission to mattermost/mattermost-mobile.git denied to icancode007.
getting this when I attempt to push my branch up any ideas

[2019-10-16 02:15] bensooraj commented on #12793
I have raised a PR for #12816.

[2019-10-16 02:30] avasconcelos114 commented on #12617
Welp I seem to have run into another bit of a hiccup with regards to the icons

The library Mattermost currently uses to get its icons from, [react-native-vector-icons](https://github.com/oblador/react-native-vector-icons), doesn't seem to be up to date with the version of `@mdi/font` that includes the `mdi-slash-forward-box` icon. Their `master` branch has already caught up with the correct versi

[2019-10-16 03:09] #12718 closed

[2019-10-16 05:36] Th3Whit3Wolf commented on #12395
Apologies I guess I didn't read it all. My problems are currently  running it on baremetal.

[2019-10-16 05:53] imavroukakis commented on #12665
Thanks @hanzei I didn't realise I needed to run a docker instance, as per https://developers.mattermost.com/contribute/server/developer-workflow/#testing-email-notifications

[2019-10-16 06:29] pqzx commented on #12457
Can I take this one?

[2019-10-16 06:51] #11431 closed

[2019-10-16 07:16] rfoyard commented on #12349
Hi, I'd like to work on this one !

[2019-10-16 09:01] hanzei commented on #12350
Hey @icancode007, you need to [fork](https://help.github.com/en/articles/fork-a-repo) the mattermost-mobile repo and then push the changes to your fork.

[2019-10-16 09:04] hanzei commented on #12457
Sure, thanks @pqzx :+1:

[2019-10-16 09:10] #12483 closed

[2019-10-16 09:11] saturninoabril commented on #12483
Thank you @DropNib for your contribution!

[2019-10-16 09:14] DropNib commented on #12483
Thank you too, @saturninoabril 😄

[2019-10-16 09:52] #12463 closed

[2019-10-16 09:52] saturninoabril commented on #12463
@brewsterbhg Thank you for your contribution!

[2019-10-16 09:56] #12446 closed

[2019-10-16 09:56] saturninoabril commented on #12446
Thanks @brewsterbhg for your contribution!

[2019-10-16 10:36] #12444 closed

[2019-10-16 10:36] saturninoabril commented on #12444
@AGMETEOR Thank you for your contribution!

[2019-10-16 11:44] mbluemer commented on #12518
Hey @sudheerDev and @amyblais , sorry about the delay but it seems that life right now has gotten ahead of ambition to contribute, I haven't had the spare time to get to this. Opening it up for someone else to pick up.

[2019-10-16 12:00] 00Spider47 opened #12818 "Error with manifest.json"
#### Summary
Server is failing to load the resource.

#### Steps to reproduce
Setup the developer and server app using developer setup guidelines.
Issue exists in latest version.

#### Expected behavior
The Server should load resources.

#### Observed behavior (that appears unintentional)
![image](https://user-images.githubusercontent.com/45037094/66917211-962fdf80-f03a-11e9-86da-cad717b75d35.png)

[2019-10-16 13:40] amyblais commented on #12311
I'll close this for now as we haven't received updates on this,

[2019-10-16 13:40] #12311 closed

[2019-10-16 15:59] Mycobee commented on #12518
I'll give it a whirl @hanzei

[2019-10-16 16:04] cpoile commented on #12624
@niklabh Let me know if you have any questions or concerns about this, I can help out!

[2019-10-16 16:30] hanzei commented on #12353
Sure, go ahead @ThakurKarthik :+1:

[2019-10-16 16:31] hanzei commented on #12518
Awesome, thanks @Mycobee :+1:

[2019-10-16 16:46] lieut-data commented on #12395
Thanks for clarifying, @Th3Whit3Wolf -- can you invoke `psql` from the same box running Mattermost and successfully connect to your database instance? The pinging operation here is just an internal detail of the database driver proving that it can't connect to the database. This is very close to the edge of the application -- if there's a connectivity issue, it's usually at the host or networking

[2019-10-16 16:48] lieut-data commented on #10327
@lelandhwu, you're very welcome to give this a stab! The basic idea is to ensure none of the migration steps in https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/upgrade.go can ever timeout.

The way to do this is to start by writing a fake migration step that /does/ timeout (e.g. `SELECT SLEEP(300)`), and then figure out the right way to tell the database not to timeout,

[2019-10-16 17:19] atulya-pandey commented on #12521
Hi @sudheerDev , Thanks for asking. I am working on this issue. If I have any questions, I will reach out to you.

[2019-10-16 18:30] #12443 closed

[2019-10-16 18:49] lieut-data commented on #12755
@mkvaghani, did you run step 5 in the [developer setup](https://developers.mattermost.com/contribute/webapp/developer-setup/)?

[code]

[2019-10-16 18:55] lieut-data commented on #12818
@00Spider47, this file should be generated as part of the webpack build process. Can you check your `dist/` directory to see if the file is present?

I just ran a `make clean` and freshly installed `node_modules` and can confirm the file is created successfully.

[2019-10-16 19:04] amyblais commented on #12694
I checked with developers and they said we'd probably not fix this in this case. Thank you for reporting this! I'll close this issue for now,

[2019-10-16 19:04] #12694 closed

[2019-10-16 19:22] SamWolfs commented on #12352
I'll try to solve this one. Is it just the post textbox or all files listed?

[2019-10-16 20:42] amyblais commented on #12704
@mthld Do you see any Mattermost log errors when the issue occurs?

[2019-10-16 22:00] amyblais commented on #12206
I'll close this for now as there haven't been updates for a while. If the issue persists, please re-open this with additional relevant information to help us troubleshoot this,

[2019-10-16 22:00] #12206 closed

[2019-10-16 22:01] amyblais commented on #12076
@natc66 Do you have updates from your system admin?

[2019-10-16 22:03] amyblais commented on #11907
I'll close this for now as there hasn't been updates on this for a while. Please re-open this if the suggestion above doesn't help,

[2019-10-16 22:03] #11907 closed

[2019-10-16 22:05] amyblais commented on #11532
I'll close this for now as there hasn't been updates for a while, but please re-open this issue if the problem persists,

[2019-10-16 22:05] #11532 closed

[2019-10-16 23:44] #12329 closed

[2019-10-17 01:14] CSBatchelor commented on #12316
I can do this one.

[2019-10-17 02:46] jaydeland commented on #9596
I would like to look into this issue

[2019-10-17 03:37] #12435 closed

[2019-10-17 04:27] 00Spider47 commented on #12818
Yeah.It is Present.Still i'm receiving the error.Would it be fine if i just run the command make-clear again or do i have to remove and install node_modules for attaining this.

![image](https://user-images.githubusercontent.com/45037094/66977691-8957ce00-f0c4-11e9-904f-20c125baf977.png)

[2019-10-17 08:12] saturninoabril commented on #12450
@Phizzard Thank you for your contribution!

[2019-10-17 08:37] #11524 closed

[2019-10-17 09:12] #12282 closed

[2019-10-17 09:29] #12001 closed

[2019-10-17 09:30] saturninoabril commented on #12001
@akpark Thank you for your contribution1

[2019-10-17 10:18] #12724 closed

[2019-10-17 10:33] mthld commented on #12704
Hi @amyblais,

Thank you for reaching.
Here they are:
[code]

[2019-10-17 11:10] #12299 closed

[2019-10-17 11:19] hanzei commented on #9596
Hey @jaydeland,

Thanks for you interest in the project. We mark available ticket with the "Up for Grabs" label. In this case @joshuabezaleel is already working on this. You can find a list of the available tickets at https://github.com/mattermost/mattermost-server/labels/Up%20For%20Grabs

[2019-10-17 11:20] hanzei commented on #12316
Thanks for working on this @CSBatchelor :+1:

[2019-10-17 11:58] jaydeland commented on #9596
@hanzei - thank you for the details

[2019-10-17 12:02] pqzx commented on #6699
Hi, can I work on this one?

[2019-10-17 12:07] jasonblais commented on #6699
@pqzx certainly, thank you for your interest!

[2019-10-17 12:36] #12761 closed

[2019-10-17 12:53] mkvaghani commented on #12755
Hi,

Yes It works after  Link this client directory.  :)

`ln -nfs $(go env GOPATH)/src/github.com/mattermost/mattermost-webapp/dist $(go env GOPATH)/src/github.com/mattermost/mattermost-server/client`

this works !

[2019-10-17 13:15] niklabh commented on #12624
Hey sorry @cpoile i started working on this https://github.com/niklabh/mattermost-plugin-thread-watch. But recently i lost my job due to contributing to mattermost at work. Couldn't find time to work on it due to job search and stress.

[2019-10-17 13:22] #12636 closed

[2019-10-17 13:53] #12755 closed

[2019-10-17 14:24] #12780 closed

[2019-10-17 15:04] #12334 closed

[2019-10-17 15:25] #12791 closed

[2019-10-17 15:34] andrewbrown00 commented on #12617
That's a bummer.

@enahum do you have a recommendation for the best path forward based on @avasconcelos114's last comment?

[2019-10-17 15:42] enahum commented on #12617
@andrewbrown00 Mattermost font as we talked in the past

[2019-10-17 15:44] andrewbrown00 commented on #12617
@enahum agreed, and it's in progress as part of the UX Redesign but not complete. What about an interim solution so we don't block this feature?

[2019-10-17 15:45] enahum commented on #12617
@andrewbrown00 png images that we could set a tintColor

[2019-10-17 17:41] #12789 closed

[2019-10-17 17:45] #12716 closed

[2019-10-17 18:57] #10289 closed

[2019-10-18 00:39] avasconcelos114 commented on #12617
Ah that should be a nice workaround, downloaded a png icon and will be coloring it with `tintColor` for the time being

Thank you again for your help!

[2019-10-18 01:48] somenet opened #12832 "WebApp: ``get team invite link`` button gone."
I just upgraded one of our MM-instances - the one that doesnt come with gitlab - in the anticipation of guest accounts.

It seems that all the team-invite methods (by mail and by link) were merged into the new button ``invite people``.

The problem is: I cannot find the ``get team invite link`` button anymore at all.

The old link still works, but both instances I manage - one E10-academic and one

[2019-10-18 05:42] Th3Whit3Wolf commented on #12395
I found the error. I forgot to set my ip address in trusted sources in digital managed databases. Sorry for bothering you and thank you for your patience.

[2019-10-18 05:42] #12395 closed

[2019-10-18 07:26] #12341 closed

[2019-10-18 08:08] #12243 closed

[2019-10-18 13:03] amyblais commented on #12832
@somenet Would you be able to share a screenshot of what you're seeing?

[2019-10-18 13:25] lieut-data commented on #12702
I've filed a Jira ticket to mirror this one: https://mattermost.atlassian.net/browse/MM-19540, and will have our Toolkit team investigate. I agree we should make the Slack compatibility customizable in some fashion as you suggest.

[2019-10-18 15:11] somenet commented on #12832
If guests are disabled, I get automatically this
![image](https://user-images.githubusercontent.com/5354356/67105952-133d8f00-f1ca-11e9-9ab7-ea5689f6122f.png)

If guests are enabled, I get these.
![image](https://user-images.githubusercontent.com/5354356/67106045-2fd9c700-f1ca-11e9-93d8-4ba4a78787d3.png)

![image](https://user-images.githubusercontent.com/5354356/67106072-3bc58900-f1ca-11e9-9522-9

[2019-10-18 15:13] somenet commented on #12832
Browser is Chromium
[code]

[2019-10-18 15:21] amyblais commented on #12832
@somenet Would you be open to sharing more details about your config settings, such as:
 - https://docs.mattermost.com/deployment/advanced-permissions.html
 - https://docs.mattermost.com/administration/config-settings.html#signup

[2019-10-18 16:14] lieut-data commented on #12818
Curious. Can you try opening your developer tools network tab and disabling caching to see if that makes any difference?

![image](https://user-images.githubusercontent.com/1023171/67110465-33108b00-f1a9-11e9-859e-1018a828b2c6.png)

[2019-10-18 16:31] enahum commented on #9599
already done

[2019-10-18 16:31] #9599 closed

[2019-10-18 16:40] mattermod opened #12839 "Channel drawer button is missing accessibility label"
This ticket is for the React Native app:

Observed: Channel drawer button (top left of the react-native mobile app) does not have an accessibility label when using VoiceOver on iOS, or an Adroid equivalent screen reader. Button is selectable but does not read out.
Expected: When selecting the channel drawer icon, accessibility label reads "Channels and teams"

**Conversation**
https://community.ma

[2019-10-18 22:24] esethna opened #12841 "Improve display of file and image thumbnails on mobile"
See Design and assets: https://projects.invisionapp.com/share/9XRRHMSBV6D#/screens/360642221

Note: If interested in taking on this project please see the supplementary notes on each design slide that detail the functional behaviour. Please also join our Native Mobile Apps channel https://community.mattermost.com/core/channels/native-mobile-apps to ask any questions and receive guidance from our c

[2019-10-18 22:26] esethna commented on #12618
Replaced with https://github.com/mattermost/mattermost-server/issues/12841

[2019-10-19 00:17] esethna commented on #12621
Hey @rakhi2104! Any updates on this? Happy to provide some guidance if you're hitting issues

[2019-10-19 04:58] rakhi2104 commented on #12621
Hey @esethna, I have been a little busy at work. But could make some progress on this.
:white_check_mark: added custom user preferences for order of Teams.

I am not clear on how to handle cases like these:
- :grey_question: when the user is added to a new Team, should we group the previous with the preferences and push the new ones to a secondary group?
- :grey_question: handle the default case w

[2019-10-19 17:47] Th3Whit3Wolf opened #12843 "Feature Requests: Set Default Theme from system console"
Title says it all. It would be nice if you could set a default theme(with your company or project colors) and let your site's users change it if they want.

[2019-10-20 00:08] amyblais commented on #12843
@Th3Whit3Wolf Feel free to open feature requests here: http://www.mattermost.org/feature-requests/. Let us know if you're interested in implementing this.

[2019-10-20 06:31] RajatVaryani commented on #12389
@hanzei Is there anything else I can help with?

[2019-10-20 09:37] thirupathi-chintu commented on #8856
their is any webhook option with same features to github personal like github organisation. If possible give any solution to common webhook for entire personal account to auto trigger any pulls or pushs like...

[2019-10-20 21:08] towolf opened #12845 "Cannot create LDAP user via /api/v4/users, error about a password that is not needed"
#### Summary
We have been using a script to create LDAP users ahead of time before they log in the first time, so that we can join them to the appropriate teams and channels already.

This is using the Mattermost API.

This stopped working apparently in 5.15.0 and is still present in 5.16.0.

Instead of creating the user successfully, where no password should be provided since LDAP handles this, t

[2019-10-21 04:54] bryanculver commented on #12839
✋ I raised a PR addressing this.

[2019-10-21 05:44] suryaatevellore opened #12847 "Uploading a file to mattermost"
I am trying to upload a file to a locally hosted mattermost server, and I am totally lost in the example provided here https://api.mattermost.com/#tag/files. I am using node.js on my end , and here is my code.
[code]

[2019-10-21 09:11] hanzei commented on #12839
Awesome, thanks @bryanculver

[2019-10-21 09:12] #12795 closed

[2019-10-21 10:33] ilgooz commented on #4300
I'll take this one.

Some initial thoughts,

**1-**
I think, mobile client can launch native apps to view the file. This is much mature in the mobile environment and PDF's are already treated that way.

**2-**
For the web client, previewing the file without leaving Mattermost is a valid need. It seems that PDF is the luckiest file format on web, there are multiple packages already that prints PDF

[2019-10-21 11:19] jasonblais commented on #4300
Thanks @ilgooz, great insights! Regarding the conversion, wondering if the previous post about using the Gothenberg library may be an option? https://github.com/mattermost/mattermost-server/issues/4300#issuecomment-504996461

Adding @aaronrothschild as well who has been exploring integrations with Microsoft, as well as new options for shipping plugins without it being a pre-packaged binary/depende

[2019-10-21 11:34] ilgooz commented on #4300
@jasonblais Absolutely, Gothenberg seems very promising.

My question is the same, how we would ship this server (in this case Gothenberg in a Docker container) with Mattermost's production build?

As I'm aware of, our only chance is shipping plugins as executables and it's not possible to **a-** ship servers that does not satisfy Plugin Client API and  **b-** ship servers runs inside containers.

[2019-10-21 12:55] #12005 closed

[2019-10-21 13:07] jasonblais commented on #4300
@ilgooz

Instead of shipping the Gothenberg server with Mattermost, we could have instructions on how to set the server up separately. We did something similar for Elasticsearch https://docs.mattermost.com/deployment/elasticsearch.html#setting-up-an-elasticsearch-server

[2019-10-21 13:07] marianunez opened #12849 "Complete tests for executeCommand action"
`executeCommand` in `actions/command.js` in the web app needs unit tests to ensure that it handles the following commands properly:

- `leave`
- `settings`
- `collapse/leave`

Feel free to refactor the function if necessary to make it easier to test.

Example PR: https://github.com/mattermost/mattermost-webapp/pull/3815

----
If you're interested please comment here and come [join our "Contributor

[2019-10-21 14:19] #12711 closed

[2019-10-21 14:23] anchepiece commented on #12007
@jespino Looks like the JIRA ticket suggests closing as this seems to be an OS level issue.

[2019-10-21 14:27] #12758 closed

[2019-10-21 15:00] mattermod opened #12852 "UX improvements after archiving a channel"
Related to https://mattermost.atlassian.net/browse/MM-19337, which supports the ability to view archived channels. Propose we turn this to a help wanted ticket.

Original UX design ticket: https://mattermost.atlassian.net/browse/MM-18523

Difficulty: Medium

---
NEW CHANGES TO BEHAVIOUR <this requires changes in mattermost-redux, mattermost-webapp, and mattermost-mobile>:

Suppose a user is viewin

[2019-10-21 15:00] mattermod opened #12853 "Add the ability to view archived channels"
Related to https://mattermost.atlassian.net/browse/MM-19338. Proposing we make this a help wanted ticket.

Designs: https://projects.invisionapp.com/share/63TQ4G492PC#/screens/383111602

Difficulty: Hard

~~--~~

CURRENT CONDITION:

If the ViewArchivedChannels config setting is enabled, users are able to search for text within the archived channels.

This ticket is to enable users to also view arc

[2019-10-21 15:00] #12794 closed

[2019-10-21 15:03] jasonblais opened #12854 "Enable users to view archived channels"
#### CURRENT CONDITION:

If the [ViewArchivedChannels](https://docs.mattermost.com/administration/config-settings.html#sidebar-organization-experimental) config setting is enabled, users are able to search for text within the archived channels.

This ticket is to enable users to also view archived channels in the center pane, similar to being able to view a direct message conversation with a deact

[2019-10-21 15:05] lieut-data commented on #4300
The configurable Gotenburg endpoint seems like a pretty neat solution. It's obviously a bit more involved that a typical plugin deployment, but seems like a good combination of tools.

My specific interest is in the area of how to use/extend the API to facilitate interactions:

I'm hesitant to go down the hooks approach. This will preclude installing the plugin and previewing files created before

[2019-10-21 15:06] jasonblais opened #12855 "Redirect user archived channel view if a channel is archived while viewing it"
#### NEW CHANGES TO BEHAVIOUR

This requires changes in mattermost-redux, mattermost-webapp, and mattermost-mobile

Suppose a user is viewing a channel, and someone else archives it.
 - observed: User redirected to Town Square
 - new expected: The user stays in the channel. Channel changes to read-only mode as shown on the screenshot below. Additional specification notes:
    - "Archived" channel

[2019-10-21 15:07] jasonblais commented on #12852
Closing as a dup of https://github.com/mattermost/mattermost-server/issues/12855

[2019-10-21 15:07] #12852 closed

[2019-10-21 15:07] #12853 closed

[2019-10-21 15:35] jespino commented on #12007
@anchepiece You are right, thanks!

[2019-10-21 15:35] #12007 closed

[2019-10-21 16:17] levb commented on #4300
We should get @aaronrothschild involved here. In our discussions, the preview was relevant in 2 use-cases - one is an attachment/link in a post, but the other use case was "Search/browse". If we develop a new component for the previews, it should be designed to support both use cases.

👍 to a configurable URL to an external file->PDF service.

[2019-10-21 16:31] ilgooz commented on #4300
@lieut-data

Yes, this approach feels neat as well. I'm in favor of splitting logic into smaller parts, plugins seems a way to do that. Also, Office to PDF thing is a workaround at the end, having this thing isolated into a plugin seems like to a cleaner approach.

I just need to check how to store persistent data (PDFs) within plugins, also trying to  figure out how do you manage some "core" plug

[2019-10-21 17:13] lieut-data commented on #4300
@ilgooz, agree that it would be nice to have it all bundled together into a single binary. No idea if that's tractable.

I wouldn't worry about the distinction between "core" plugins and other plugins. We're actively trying to minimize the differences right now, and this plugin wouldn't likely be to be enabled by default in the near term.

Storing persistent files might not be "neat" right now. Id

[2019-10-21 20:01] #12839 closed

[2019-10-21 20:01] SamWolfs commented on #12482
If this one's up for grabs again, I'd like to grab it :)

[2019-10-21 21:00] #12766 closed

[2019-10-21 21:00] saturninoabril commented on #12766
@gupsho Thank you for your contribution!

[2019-10-21 21:50] somenet commented on #12832
Cannot reproduce this anymore.

Maybe this was some kind of browser caching issue?

[2019-10-21 21:50] #12832 closed

[2019-10-22 00:20] #12349 closed

[2019-10-22 02:50] JeewhanR commented on #12440
@hanzei

Hi, I'm sorry I'm late.

Recently, I had a lot of personal work, and I couldn't start because I was sick.

Can you give me one more chance?

[2019-10-22 06:08] hanzei commented on #12440
Surely. It's awesome that you still want to contribute to Mattermost. Let me know, if I can help with anything.

[2019-10-22 06:20] toojazzy opened #12859 "Custom emojis that are scaled down look awful"
#### Summary
Emojis are not scaled down properly resulting in severe quality drop as compared with other solutions

#### Steps to reproduce
Add this custom emoji https://i.imgur.com/j4RuUHv.png and use it, it will look awful, try the same in Slack, it will look great, here are the screenshots how it looks:
in mattermost: https://i.imgur.com/OSnsJ4z.png
in slack: https://i.imgur.com/Swj6ScS.png
It

[2019-10-22 06:32] BK1603 commented on #4554
The current snap is at https://github.com/BK1603/Mattermost-Snap

Status of the snap:
It installs but the binary doesn't run, shows a few folders missing, I guess snapcraft does away with the source after building an executable, so the folders `i18n` and `config` aren't present in the snap.

I am still working on it, will post further progress here.

[2019-10-22 07:46] rahulverma283 commented on #12783
Hi @jespino. Due to some other commitments, I won't be able to work on this one. So can you please unassign me, so that some else can work on it.

[2019-10-22 07:48] rv404674 commented on #12783
Hi @jespino . I won't be able to work on it, due to some other time commitments. Can you please unassign me, so that someone else can work on it.

[2019-10-22 07:56] jespino commented on #12783
@rv404674 Sure, thanks for your time anyway :)

[2019-10-22 08:08] #12342 closed

[2019-10-22 08:36] #12458 closed

[2019-10-22 08:37] saturninoabril commented on #12458
@mjthomp95 Thank you for your contribution!

[2019-10-22 08:57] aaronrothschild commented on #4300
Yes, I think this is an appropriate path to take.  There are non-open options available via MS such as : https://docs.microsoft.com/en-us/officeonlineserver/office-online-server-overview but that is fairly heavy and very closed option.  Many companies do not use this server it seems.

Yes, they can be difficult to work with, but there are JS libraries out there to help: https://stackoverflow.com/q

[2019-10-22 09:25] mattermod opened #12860 "Migrate tests from "api4/license_test.go" and "api4/openGraph_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/license_test.go` and `api4/openGraph_test.go` files.

The expected

[2019-10-22 09:25] mattermod opened #12861 "Migrate tests from "api4/emoji_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/emoji_test.go` file.

The expected way to migrate this is to go to

[2019-10-22 09:25] mattermod opened #12862 "Migrate tests from "api4/preference_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/preference_test.go` file.

The expected way to migrate this is to

[2019-10-22 09:25] mattermod opened #12863 "Migrate tests from "api4/channel_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/channel_test.go` file.

The expected way to migrate this is to go

[2019-10-22 09:25] mattermod opened #12864 "Migrate tests from "api4/command_help_test.go" and "api4/cors_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/command_help_test.go` and `api4/cors_test.go` files.

The expected

[2019-10-22 09:25] mattermod opened #12865 "Migrate tests from "api4/webhook_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/webhook_test.go` file.

The expected way to migrate this is to go

[2019-10-22 09:25] mattermod opened #12866 "Migrate tests from "api4/post_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/post_test.go` file.

The expected way to migrate this is to go to

[2019-10-22 09:25] mattermod opened #12867 "Migrate tests from "api4/oauth_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/oauth_test.go` file.

The expected way to migrate this is to go to

[2019-10-22 09:25] mattermod opened #12868 "Migrate tests from "api4/commands_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/commands_test.go` file.

The expected way to migrate this is to go

[2019-10-22 09:25] mattermod opened #12869 "Migrate tests from "api4/reaction_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/reaction_test.go` file.

The expected way to migrate this is to go

[2019-10-22 09:37] #12489 closed

[2019-10-22 09:38] saturninoabril commented on #12489
@karlmarxlopez Thank you for your contribution! ❤️ 🇵🇭

[2019-10-22 09:43] pradeepmurugesan commented on #12849
@marianunez I can pick up this follow up issue 👍

[2019-10-22 10:29] marianunez commented on #12849
Thanks @pradeepmurugesan 👍

[2019-10-22 11:40] drekar commented on #12869
I'll take this one.

[2019-10-22 11:41] drekar commented on #12868
I'll take this one.

[2019-10-22 11:41] drekar commented on #12867
I'll take this one.

[2019-10-22 11:41] drekar commented on #12866
I'll take this one.

[2019-10-22 11:41] drekar commented on #12864
I'll take this one.

[2019-10-22 11:47] drekar commented on #12863
I'll take this one.

[2019-10-22 11:47] drekar commented on #12862
I'll take this one.

[2019-10-22 11:47] drekar commented on #12861
I'll take this one.

[2019-10-22 11:49] drekar commented on #12860
I'll take this one.

[2019-10-22 12:40] #12717 closed

[2019-10-22 12:42] lucianomagrao commented on #12865
i got this

[2019-10-22 13:07] jespino commented on #12869
Awesome, thanks @drekar! :tada:

[2019-10-22 13:07] jespino commented on #12868
Great!

[2019-10-22 13:22] #12782 closed

[2019-10-22 13:25] amyblais commented on #12847
@suryaatevellore Are you seeing errors?

[2019-10-22 13:26] 00Spider47 commented on #12818
@lieut-data : I got it working buddy.Thanks
@amyblais : You can marked it as closed

[2019-10-22 13:26] #12818 closed

[2019-10-22 13:31] amyblais commented on #12859
Hi @toojazzy, did you follow these steps to add the custom emoji: https://docs.mattermost.com/help/settings/custom-emoji.html? What Mattermost server version are you on?

[2019-10-22 13:36] amyblais commented on #12695
I'll close this for now as there hasn't been updates on this for a while. Please re-open this issue if the problem persists,

[2019-10-22 13:36] #12695 closed

[2019-10-22 13:37] toojazzy commented on #12859
I followed this method that you posted, the server version is 5.16.0 and client version is 4.3.0, its self hosted, same behavior is happening in the browser as well, I also upload the exact same image I used to make the emote
![monkas](https://user-images.githubusercontent.com/53616039/67291333-ad127e00-f4e1-11e9-8851-617dae1240e6.png)

[2019-10-22 13:37] amyblais commented on #12513
I'll close this issue for now as we haven't received updates for a while. Please re-open this issue with additional relevant information if the problem persists and we will take a further look,

[2019-10-22 13:37] #12513 closed

[2019-10-22 13:37] amyblais commented on #12383
I'll close this issue for now as we haven't received updates for a while. I hope you will open a feature request issue for this,

[2019-10-22 13:37] #12383 closed

[2019-10-22 13:38] #12339 closed

[2019-10-22 13:39] saturninoabril commented on #12339
Thank you @CSBatchelor for your contribution!

[2019-10-22 13:47] #12765 closed

[2019-10-22 13:47] saturninoabril commented on #12765
@niklabh Thank you for your contribution!

[2019-10-22 13:58] akshaychhajed commented on #12783
I would like to work on this

[2019-10-22 14:20] hanzei commented on #12783
Thanks @akshaychhajed :+1:

[2019-10-22 14:35] niklabh commented on #12764
Here's a PR: https://github.com/mattermost/mattermost-server/pull/12873

[2019-10-22 14:42] niklabh commented on #12763
Here's a PR: https://github.com/mattermost/mattermost-server/pull/12874

[2019-10-22 14:49] #12464 closed

[2019-10-22 14:50] niklabh commented on #12762
Here's a PR https://github.com/mattermost/mattermost-server/pull/12875

[2019-10-22 15:52] mkvaghani opened #12876 "Gitlab oauth - Could not parse auth data out of gitlab user object"
<code>Error :
Could not parse auth data out of gitlab user object

http://localhost:8065/error?message=Could+not+parse+auth+data+out+of+gitlab+user+object&s=MEYCIQDIvRT5qfCg0uGumz3hB2DXQBgBGYYfXLh9dTiH7LzBbAIhANeKq4KKrBuLrukEDKIhlseC8ZNtqXV-_0yFxKohXR7A

</code>

When we use gitlab oauth login with wordpress oauth server then we received "Could not parse auth data out of gitlab user object."
I've

[2019-10-22 15:56] niklabh commented on #12760
Here's a PR: https://github.com/mattermost/mattermost-server/pull/12877

[2019-10-22 16:06] esethna commented on #12621
Thanks @rakhi2104, really looking forward to this feature!

1. New teams joined should get added to the bottom of the team sidebar list (above the +)
2. The default case when users upgrade to the new webapp version with this feature is that their teams are still sorted the same as whatever order they were in before the upgrade (ie alphabetical). Once drag and drop is used the custom order is respe

[2019-10-22 16:10] esethna commented on #12621
@rakhi2104 feel free to reach out to me directly on the community server @eric.sethna if you have any UX questions I can help with. https://community-release.mattermost.com/core/channels/tickets

[2019-10-22 16:24] amyblais commented on #12876
What Mattermost and Gitlab versions are you using? What browser and device? Would you be open to sharing your Gitlab config settings? https://docs.mattermost.com/administration/config-settings.html#gitlab

[2019-10-22 17:57] rakhi2104 commented on #12621
Thanks @esethna for clarifying things. Most of your thoughts aligned with my implementation till now. Will keep you posted

[2019-10-22 18:30] amyblais commented on #12859
@toojazzy Do you see this on Linux only or also other devices?

[2019-10-23 06:21] toojazzy commented on #12859
@amyblais It happens on Linux desktop client and on Chrome which is platform independent. My resolution is 1920x1080, on macs retina it looks ok because of the higher DPI.

[2019-10-23 08:08] cadavre commented on #5072
Mattermost, maybe just add it to custom theme params, so simple to do.

[2019-10-23 09:00] mkvaghani commented on #12876
Thank you for quick reply.

Mattermost v5.16.0 -> Clone from github https://github.com/mattermost/mattermost-server.git

I am using following code at http://localhost/wordpress/api/v4/user/index.php

[code]
Gitlab Configuration settings from system console as follow.

[code]

At Wordpress oauth server, I've added following client

[code]

I've used following settings in config.json of mattermost

[2019-10-23 09:26] mkvaghani commented on #12876
Hey @amyblais
I have solved the issue.  It was conflict in config.js and Gitlab Console
I forgot to change **UserApiEndpoint** in config.js

Now I'm getting another problem.  In redirect_url, I am getting /wordpress/wordperss 2 times
while in Admin Console and config.js I've added GitLab Site URL: http://localhost/wordpress

[code]

Thank you

[2019-10-23 09:58] hanzei commented on #10850
Closing this as https://mattermost.atlassian.net/browse/MM-16822 is a better approach to tackle this.

[2019-10-23 09:58] #10850 closed

[2019-10-23 12:03] hanzei commented on #12781
Hey @roseline124,

How is your work on this going? Do you have any questions?

[2019-10-23 12:06] hanzei commented on #11950
Hey @niklabh,

Gentle reminder about this ticket. Do you still want to work on this?

[2019-10-23 12:06] hanzei commented on #11439
Making this one available for the public again due to inactivity.

[2019-10-23 12:07] hanzei commented on #11323
@wiersgallak Can you provide some next steps please?

[2019-10-23 12:07] hanzei commented on #10347
Are you still working on this @BenKnigge ?

[2019-10-23 12:08] hanzei commented on #9729
@rexredinger Was the provided feedback help full?

[2019-10-23 12:08] hanzei commented on #9406
Making this one available for the public again due to inactivity.

[2019-10-23 12:09] hanzei commented on #12467
How is your work on this going @wmcbain? Do you have questions?

[2019-10-23 12:09] hanzei commented on #12465
@wmcbain Same question here

[2019-10-23 12:09] hanzei commented on #11741
@sij507 Do you have any questions?

[2019-10-23 12:10] hanzei commented on #12571
@bharaththiruveedula Do you have any blocking questions?

[2019-10-23 12:10] hanzei commented on #12473
Hey @KerryAlsace,

How are you doing with this ticket?

[2019-10-23 12:12] hanzei commented on #12471
@JosephSamela Do you have any questions?

[2019-10-23 12:12] hanzei commented on #12456
@M-ZubairAhmed How is your work on this issue going?

[2019-10-23 12:13] hanzei commented on #12338
@cbtsao47 Do you have any questions about this ticket?

[2019-10-23 12:13] hanzei commented on #12340
@pradeepmurugesan gentle reminder about this ticket

[2019-10-23 12:14] hanzei commented on #12343
@joshalling How is your work on this going?

[2019-10-23 12:14] hanzei commented on #12337
@aparnaadesai Did you got the time to work on this?

[2019-10-23 12:15] hanzei commented on #12097
@kuchcakova How is you work on this going?

[2019-10-23 12:16] hanzei commented on #12012
@alxsah Did you run into any problems while working on this issue?

[2019-10-23 12:17] hanzei commented on #12391
Hey @Sheshagiri,

Are you still working on this issue? Can we help with anything?

[2019-10-23 12:17] #11822 closed

[2019-10-23 12:18] hanzei commented on #12344
How is you work on this going @Pomyk?

[2019-10-23 12:19] hanzei commented on #12728
@vdepatla Do you have any questions about this ticket?

[2019-10-23 12:20] hanzei commented on #12375
@SlavaBobik Did this solve your question?

[2019-10-23 12:21] kuchcakova commented on #12097
hi, im working on it, this is my first contribution sorry for taking so long

[2019-10-23 12:21] hanzei commented on #12712
@keskinbu How is your work on this going?

[2019-10-23 12:22] hanzei commented on #12097
Awesome! Let me know, if you have any questions.

[2019-10-23 12:24] Pomyk commented on #12344
I'm somewhere in the middle. I didn't have any time in the last few days to work on it. I will try to make a PR tomorrow hopefully.

[2019-10-23 12:26] hanzei commented on #12344
Thanks for the update :+1: Looking forward to your PR.

[2019-10-23 12:45] #12788 closed

[2019-10-23 13:25] amyblais commented on #12076
I'll close this for now as there hasn't been updates for a while, but I hope you will re-open this issue if the problem persists and share any additional relevant information that might help us troubleshoot this issue further. Thanks,

[2019-10-23 13:25] #12076 closed

[2019-10-23 13:27] amyblais commented on #11927
Documentation has been updated with this PR: https://github.com/mattermost/docs/pull/2968.

[2019-10-23 13:55] #12476 closed

[2019-10-23 13:56] saturninoabril commented on #12476
@karlmarxlopez Thank you for your contribution!

[2019-10-23 15:41] RajatVaryani commented on #10347
@hanzei If @BenKnigge is not able to contribute I would like to this one.

[2019-10-23 16:10] gupsho commented on #12781
I can pick this one if it is available.

[2019-10-23 16:11] gupsho commented on #12728
I can pick this one if available.

[2019-10-23 16:11] gupsho commented on #12712
I can pick this one if available.

[2019-10-23 16:12] gupsho commented on #12571
I can take this one if available.

[2019-10-23 16:15] mattermod opened #12881 "Migrate tests from "api4/websocket_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/websocket_test.go` file.

The expected way to migrate this is to g

[2019-10-23 16:15] mattermod opened #12882 "Migrate tests from "api4/team_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/team_test.go` file.

The expected way to migrate this is to go to

[2019-10-23 16:20] mattermod opened #12883 "Migrate tests from "utils/time_test.go" and "utils/utils_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `utils/time_test.go` and `utils/utils_test.go` files.

The expected way

[2019-10-23 16:20] mattermod opened #12884 "Migrate tests from "utils/emoji.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `utils/emoji.go` file.

The expected way to migrate this is to go to the

[2019-10-23 16:20] mattermod opened #12885 "Migrate tests from "utils/lru_test.go" and "utils/test_files_compiler.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `utils/lru_test.go` and `utils/test_files_compiler.go` files.

The expec

[2019-10-23 16:20] mattermod opened #12886 "Migrate tests from "api4/user_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/user_test.go` file.

The expected way to migrate this is to go to

[2019-10-23 16:20] mattermod opened #12887 "Migrate tests from "api4/job_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/job_test.go` file.

The expected way to migrate this is to go to t

[2019-10-23 16:20] mattermod opened #12888 "Migrate tests from "api4/config_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/config_test.go` file.

The expected way to migrate this is to go t

[2019-10-23 16:20] mattermod opened #12889 "Migrate tests from "api4/status_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/status_test.go` file.

The expected way to migrate this is to go t

[2019-10-23 16:20] mattermod opened #12890 "Migrate tests from "api4/cluster_test.go" and "api4/brand_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `api4/cluster_test.go` and `api4/brand_test.go` files.

The expected way

[2019-10-23 16:20] laurapareja commented on #12889
can I work on this one?

[2019-10-23 16:22] jespino commented on #12889
Sure, go ahead! :)

[2019-10-23 16:25] mattermod opened #12891 "Migrate tests from "utils/urlencode_test.go" and "utils/license_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `utils/urlencode_test.go` and `utils/license_test.go` files.

The expect

[2019-10-23 16:28] gupsho commented on #12881
I can take this.

[2019-10-23 16:28] gupsho commented on #12882
I can take this.

[2019-10-23 16:36] jespino commented on #12881
Awesome, Thanks @gupsho! :tada:

[2019-10-23 16:36] jespino commented on #12882
Great! thanks!

[2019-10-23 16:44] akshaychhajed commented on #12891
may I try this?

[2019-10-23 16:50] sij507 commented on #11741
@hanzei No, I have committed the ticket, anything else I need to do?

[2019-10-23 18:04] ptisserand commented on #12883
Can I take this one ?

[2019-10-23 18:06] djalfirevic commented on #11438
@migbot I will try to work on this one.

[2019-10-23 18:08] #12662 closed

[2019-10-23 18:24] m4ver1k commented on #12890
I would like to pick this up

[2019-10-23 18:56] akshaychhajed commented on #12888
May I work on this?

[2019-10-23 19:17] chuttam commented on #12841
Mind if I have a go at this one?

[2019-10-23 19:23] M-ZubairAhmed commented on #12456
@hanzei sorry was caught up with work, will try to get it done this weekend

[2019-10-23 19:27] enahum commented on #12841
@chuttam all yours ;)

[2019-10-23 19:43] vdepatla commented on #12728
@hanzei  I have created PR https://github.com/mattermost/mattermost-server/pull/12776#pullrequestreview-302795192 and updated per review .. is there anything pending ?

[2019-10-23 20:12] a8uhnf commented on #12887
I want to help with this issue

[2019-10-23 20:17] shanetrush commented on #12080
Afternoon Amy,

So a couple of us upgraded to 4.3.1. We still get the dot on the MM system tray icon, we get the temp window flash, but still the tile won’t flash.

Win10 1709 (build 16299.1451).

All notification settings are turned on inside MM and Win. Tested with several users on multiple machines. Thanks in advance.

Shane Trush
SC, Denver Region

From: Trush, Shane
Sent: Thursday, September

[2019-10-23 20:36] Mycobee commented on #12518
Just a heads up...I am busy through the end of the week, and plan to have this PR open by the end of the weekend.

Thanks for your patience!

[2019-10-23 20:37] ilgooz commented on #4300
@aaronrothschild thank you.

I drafted some code, everything works nicely so far, webapp is able to preview Office docs and I'm using PDFs under the hood as discussed. I went with Gotenberg to do the conversions which is running in a container fine.

All works on my local machine but one glitch I'm facing right now is on the `mattermost-webapp` side. The thing is, I want to use existing `PDFPrevie

[2019-10-23 20:41] amyblais commented on #12080
@shanetrush What Mattermost server version are you on?

[2019-10-23 20:48] amyblais commented on #12887
Sorry @a8uhnf, it looks like someone opened a PR for this just recently. Let us know if you need any help with finding another issue to work on.

[2019-10-23 20:55] vinicio commented on #12886
I will take this one. :)

[2019-10-23 21:06] a8uhnf commented on #12885
I'll take this one

[2019-10-23 21:16] #11438 closed

[2019-10-23 21:17] shanetrush commented on #12080
Enterprise Edition Mattermost Version: 5.11.0

Shane Trush
SC, Denver Region

From: Amy Blais <notifications@github.com>
Sent: Wednesday, October 23, 2019 2:42 PM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Trush, Shane <Shane.Trush@ssa.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [mattermost/mattermost-server] Latest version uprade 4.2.3 no lo

[2019-10-23 21:47] amyblais commented on #12080
@shanetrush I'm not able to reproduce this but I'm on v5.16 server version. I'm wondering if you're open to consider updating your server version to see if the issue gets fixed?

[2019-10-23 21:49] shanetrush commented on #12080
I’ll send a request up to see if they will upgrade. Thanks!

Shane Trush
SC, Denver Region

From: Amy Blais <notifications@github.com>
Sent: Wednesday, October 23, 2019 3:48 PM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Trush, Shane <Shane.Trush@ssa.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [mattermost/mattermost-server] Latest version upra

[2019-10-23 21:55] a8uhnf commented on #12884
I'll take this one

[2019-10-23 22:12] esethna commented on #12841
@chuttam sweet! Please let us know in the ~Native Mobile Apps channel if you have any questions on implementation or design and we'll be happy to help right away. https://community-release.mattermost.com/core/channels/native-mobile-apps

[2019-10-23 22:28] esethna commented on #9729
@rexredinger thanks for your valuable insight here! Apologies for the delayed response, this ticket is relatively outdated as we made some major accessibility improvements (as Devin mentioned) in v5.14.

Would you be interested in syncing up with me and our devs so we can work more closely on how to make Mattermost even more accessible? Our goal is WCAG Level AA, and we'd love to work with individ

[2019-10-23 22:48] esethna opened #12901 "Channel sidebar should push content over, rather than slide on top to follow native iOS design"
Expected (See Mail and Slack sidebars): Post list content is pushed right when the sidebar opens. The sidebar is underneath (lower vertical height) the post list - see Mail or Slack apps for examples of this native behaviour. In addition, tapping, holding and sliding your finger to the right anywhere on the post list content should start opening the sidebar.

![sidebar](https://user-images.githubu

[2019-10-23 22:49] esethna commented on #12245
Closing in favor of https://github.com/mattermost/mattermost-server/issues/12901 to resurface this issue

[2019-10-23 22:49] #12245 closed

[2019-10-24 00:17] lieut-data commented on #4300
@ilgooz, that's very impressive!

@grundleborg, I'm wondering if you or your team could comment on some ideas for how to surface a "common component" such as `PDFPreview` above. I realize this isn't exactly the scope of your current efforts, but I'm wondering if you have any thoughts to help guide the implementation here. I agree with @ilgooz that it doesn't seem to make a ton of sense to replicat

[2019-10-24 00:24] JosephSamela commented on #12471
Apologies for the slow progress! I have a WIP here https://github.com/JosephSamela/mattermost-webapp/commit/1ee4ad8dcad5c21e49ba891df789c4a00c9fa820 but I've been too busy to work on this :disappointed: Can you put this ticket back up grabs?

[2019-10-24 00:28] lieut-data commented on #11863
It turns out to be impossible to add such a top-level recover given the translation across `net/rpc`.

[2019-10-24 00:28] #11863 closed

[2019-10-24 02:02] Jonany commented on #12324
I'll take this one :)

[2019-10-24 02:03] saturninoabril commented on #12324
Sure and thanks @Jonany!

[2019-10-24 03:51] ali-farooq0 commented on #12847
@suryaatevellore There are a bunch of options that you have to set before sending out the request in JS.

You can use [mattermost-redux Client4](https://github.com/mattermost/mattermost-redux/blob/28384d6c5605bc73895bd10f3e726a9911fc4dd6/src/client/client4.js#L27) to upload files. Here is an example in the webapp where Client4 is used to upload a file.

https://github.com/mattermost/mattermost-web

[2019-10-24 05:44] #12726 closed

[2019-10-24 06:00] hanzei commented on #10347
Let's give @BenKnigge a few days to respond and see then.

[2019-10-24 06:09] santiago-espinosa commented on #12327
Has this been fixed in the new release?
I'm very hesitant of deploying 5.11.1 considering the large number of bug fixes since then.

[2019-10-24 06:15] hanzei commented on #12891
Sorry @akshaychhajed, it seams like @TonPC64 already submitted a PR for this.

[2019-10-24 06:16] hanzei commented on #12891
@TonPC64 Next time please don't submit PR's for HW tickets that other people are working on. You can see if a ticket is free, if it has the `Up For Grabs` label.

[2019-10-24 06:31] TonPC64 commented on #12891
Ok I'm apologize.

[2019-10-24 06:38] hanzei commented on #11741
@sij507 Did you submit a PR to the webapp repo (https://github.com/mattermost/mattermost-webapp) with your changes yet? If not, this is the next step.

[2019-10-24 06:48] hanzei commented on #12728
No there isn't. You forgot to link this issue in your PR, but I took care of this,

[2019-10-24 06:49] hanzei commented on #12456
Thanks for the update @M-ZubairAhmed :+1:

[2019-10-24 06:55] hanzei commented on #12712
Let's see if @keskinbu answers and see then

[2019-10-24 06:57] hanzei commented on #12571
Let's wait a few days and see thn

[2019-10-24 06:57] hanzei commented on #12571
Let's wait a few days and see then

[2019-10-24 06:57] hanzei commented on #12518
Thanks for the update @Mycobee

[2019-10-24 06:59] hanzei commented on #12471
Sure. Still, thanks for the work you put into this!

[2019-10-24 07:01] #12665 closed

[2019-10-24 09:48] alxsah commented on #12012
@hanzei I'm still investigating it, but it may make sense for someone with more Kubernetes experience to pick this one up.

[2019-10-24 12:09] #12168 closed

[2019-10-24 12:58] aaronrothschild commented on #4300
@ilgooz  https://media.giphy.com/media/O3GqAYR9jFxLi/giphy.gif

I would like to point out that I know of a customer who implemented a similar solution (but cannot release it) that took over a month or two of work for them to do what you've seemingly done.  Great work, can't wait to try it out.

Of course, as a PM - I'm always going to ask for "one more thing" ;) but I suspect this is best filed as

[2019-10-24 13:04] #12881 closed

[2019-10-24 13:32] #12787 closed

[2019-10-24 13:47] asaadmahmood commented on #4300
@aaronrothschild I think we have the fullscreen modal planned for file previews, so I instead of doing this only for specific files, we should wait for the official improvement to avoid inconsistencies between different file previews.

[2019-10-24 13:54] #10482 closed

[2019-10-24 13:55] saturninoabril commented on #10482
@a-arias Thank you for your contribution!

[2019-10-24 15:08] #12889 closed

[2019-10-24 15:21] valentijnnieman commented on #12313
Hi @hanzei, thanks for your response (sorry for my late reply, I've been under the weather). I'm afraid I am still confused - even when I start typing `@` I can still get my username in most modals. See screenshot:
![with_@](https://user-images.githubusercontent.com/6509622/67500147-48c1fc80-f650-11e9-8448-7e345326309e.png)

What am I missing here? Thanks in advance!

[2019-10-24 16:03] JeewhanR commented on #12440
@hanzei

The current test case fails, but I don't know how to solve it.

Can you help me?

Error message when 'make check-types' is as follows.

`Argument of type '{ defaultMessage: string; }' is not acceptable to parameter of type 'Pick< { intl: InjectedIntl; }, "intl''.
  Object literal may only know properties, and 'defaultMessage' does not exist in type 'Pick< {intl: InjectedIntl; }, "intl">'`

[2019-10-24 16:59] valentijnnieman commented on #12471
I can pick this up!

[2019-10-24 17:39] hanzei commented on #12440
@devinbinnie Can you help with this?

[2019-10-24 17:51] ThakurKarthik commented on #12353
@hanzei i was not able to setup the environment in my Ubuntu version.I am unassigning this issue so to allow others to work on :)

[2019-10-24 17:57] devinbinnie commented on #12440
@JeewhanR can you try declaring the arguments to `wrapper.setProps()` as `any`? It might allow it to pass through that way.

[2019-10-24 20:01] SamWolfs commented on #12451
Is @QamarFarooq  still working on this or can I have a go at the issue?

[2019-10-24 20:02] QamarFarooq commented on #12451
im working on it as we speak

[2019-10-24 22:55] esethna commented on #12617
Hey @avasconcelos114 how is this ticket going? Let us know if we can help!

[2019-10-25 00:28] sij507 commented on #11741
@hanzei Thanks, done!

[2019-10-25 00:31] avasconcelos114 commented on #12617
For now, I transferred all the functionality for the image and file upload buttons

I'm hoping to add the camera functionality but that'll take a few extra changes to how the previous attachment methods worked (having video and photos as two separate buttons)

After I'm done with all that I'll add unit tests and submit a PR (hopefully before the end of the month)

[2019-10-25 00:45] Jonany commented on #12324
@saturninoabril Any suggestion on how to generate several days worth of data? `make test-data` only generates data from yesterday.

[2019-10-25 00:53] saturninoabril commented on #12324
You may use `cy.postMessageAs` and set `createAt` to desired previous date.  One example is [here](https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cypress/integration/channel/message_reply_spec.js#L29-L32).

[2019-10-25 01:05] Jonany commented on #12324
Thanks!

[2019-10-25 02:55] #12883 closed

[2019-10-25 03:26] #12728 closed

[2019-10-25 06:38] keskinbu commented on #12712
Sorry for this, you can pick @gupsho, I need more practice.

[2019-10-25 06:55] gupsho commented on #12712
Sure. Will take this one.

[2019-10-25 07:04] SamWolfs commented on #12465
If there's no progress on this issue, would it be okay for me to pick it up?

[2019-10-25 08:50] #12482 closed

[2019-10-25 08:51] saturninoabril commented on #12482
@SamWolfs Thank you for your contribution!

[2019-10-25 09:17] hanzei commented on #12353
Thanks for the update @ThakurKarthik. Would you be open on sharing the issue you encountered, so others can learn from it?

[2019-10-25 13:20] amyblais opened #12916 "Mattermost v5.17"
You can find key dates for v5.17 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### November 4th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### November 13th: Release Build Cut

[2019-10-25 14:55] JeewhanR commented on #12440
@devinbinnie

Thank you. I didn't know I could use `any` to solve the problem.

[2019-10-25 15:51] hanzei commented on #12313
E.g. my username is `@hanzei`. When I type `@hanz` into a channel, my username should show up. Please also see this picture:

![Screenshot from 2019-10-25 17-50-05](https://user-images.githubusercontent.com/16541325/67585501-efd98d80-f74f-11e9-8745-db41e8535d00.png)

[2019-10-25 15:56] hanzei commented on #12012
If you still want to work on this you should definitely continue. It seams like a great opportunity to dig into Kubernetes.

[2019-10-25 16:34] dantepippi opened #12920 "Wrong time in posts for Brazilian timezones"
Brazil cancelled Daylight Saving Time (DST) for 2019 (that is uncertain for next years), so I can't get my server to display the correct time on posts and e-mails.

Steps to reproduce:
- Set server with correct date/time
- Send post and check the wrong time (+1hour)
or
- Set server with correct date/time
- Set  "ExperimentalTimezone": true
- Set timezone in Mattermost to America/Sao_Paulo (or othe

[2019-10-25 17:43] amyblais commented on #12920
@dantepippi What Mattermost server version, device and OS & version are you using?

[2019-10-25 17:49] #12884 closed

[2019-10-25 17:53] #12523 closed

[2019-10-25 18:27] dantepippi commented on #12920
Hello @amyblais !
I've verified this behavior on server version 5.16.1 and windows desktop clients version 4.2.3.
Thanks for your time!

[2019-10-25 18:31] #12347 closed

[2019-10-25 18:43] ThakurKarthik commented on #12353
I was not able to setup the repo mattermost-mobile repo in my ubuntu os,i tried asking for help in community channel but didn't get that much positive response.There was some error related to react-native-push-notifications

[2019-10-25 18:54] #12346 closed

[2019-10-25 19:12] amyblais commented on #12920
@dantepippi We fixed a bug in v4.3.0 desktop app version related to timezone issues
 - Bug ticket: https://mattermost.atlassian.net/browse/MM-14168
 - Issue report: https://github.com/mattermost/desktop/issues/679

I'm wondering if you'd be open to updating to v4.3.1 to see if that fixes the issue? Note that there are some known issues in v4.3.1 that we are working on fixing: https://docs.mattermo

[2019-10-25 19:19] dantepippi commented on #12920
I'm sorry, @amyblais . I didn't realize there was a new version of the desktop client (would be nice to have a version check option).
Updating to 4.3.1 fixed the issue.

[2019-10-25 19:20] amyblais commented on #12920
No worries, awesome to hear that the issue got resolved!

[2019-10-25 19:20] #12920 closed

[2019-10-25 19:37] pistachiology commented on #12419
@iomodo Seem likes the issue is up for grab. May I working on this?

[2019-10-25 19:50] hanzei commented on #12465
I think you can pick this up @SamWolfs :+1:

[2019-10-25 19:53] iomodo commented on #12419
@pistachiology Sure! Thanks for having an interest!

[2019-10-25 21:00] esethna commented on #12617
Great, thanks for the update! Looking forward to it!

[2019-10-25 21:16] hanzei commented on #12353
I'm sorry for this. Thanks for sharing this.

[2019-10-25 22:11] #12441 closed

[2019-10-25 23:17] M-ZubairAhmed commented on #12467
@wmcbain do you plan to work on this, if not can i please take over ?

[2019-10-25 23:17] M-ZubairAhmed commented on #12473
@KerryAlsace Hi do you plan to work on this, if not can i please take over ?

[2019-10-26 00:12] amyblais commented on #12352
@SamWolfs Were you able to get an answer to this yet on our community server or are you still looking for help? I can ping one of our devs to help if needed.

[2019-10-26 00:29] tuxity commented on #11532
I have the same problem, is the slack import an entreprise feature ? I'm using the team edition

JSON files and directories are NOT in the root directory but in a subfolder called `XXXXX Slack export Mar 4 2014 - Oct 22 2019/` as mention here https://github.com/mattermost/mattermost-server/issues/11532#issuecomment-510591379

[code]

[2019-10-26 00:42] mthld commented on #12704
Hello,

It still happens on a daily basis, can someone reproduce this? Apart being annoying to users it seems to be a major problem regarding GDPR compliance...

[2019-10-26 07:25] #9986 closed

[2019-10-26 10:53] #10159 closed

[2019-10-26 12:00] mattermod opened #12936 "Add KVListWithOptions to p.Helpers"
Often, plugins need to find all keys of a type.

Suggest implementing

`func (h *Helpers) KVListAll(options ...Options) ([]string, error) ([]string,
 error)`

For now there should be two options:
- `Prefix(prefix string)`
- `WithChecker(f func (key string) (continue bool, err error))`

----
If you're interested please comment here and come [join our "Contributors" community channel](https://commun

[2019-10-26 12:19] ashishmahi commented on #12890
can i pick this up ?

[2019-10-26 13:10] ashishmahi commented on #12292
can i pick this one ?

[2019-10-26 13:18] mikeygbd commented on #11439
I would like to give this a shot.

[2019-10-26 13:22] m4ver1k commented on #12890
Hi @ashishmahi I had raised a PR for this earlier today.

[2019-10-26 13:28] veera83372 commented on #10470
@hanzei  @cpanato  Could one of you please assign this to me?

[2019-10-26 14:05] ashishmahi commented on #12292
@saturninoabril  :
When you say text box should grow upto 50% , 50% of what ?
50 % what component  ?

[2019-10-26 14:17] ilgooz opened #12939 "webapp: plugin proxy is not working"
#### Summary
Webapp is not able to proxy requests to plugins' HTTP API.

#### Steps to reproduce
* Webapp: a10ed2c9c77e260407205453dae811cc19ce63b3 (master) /w: `make dev`
* Server: 20ff7032a66f2b61ffe1204bfa9e2b52615c9abe (master) /w: `make restart-server`

Install any plugin where webapp makes a call to a plugin's backend. For ex. use `mattermost-plugin-custom-attributes`

#### Expected behavior

[2019-10-26 14:33] sphr opened #12940 "Posting using emojis from OS-keyboard gives error"
#### Summary
Users can not send a message if it contains a emoji selected from the operating systems built in emoji keyboard.

#### Steps to reproduce
Install 5.16.0 and use mysql (mariadb 10.3) and log in to the chat.
Then bring up the operating systems built in smiley keyboard instead of mattermosts emojipicker, whatever emoji you pick will render an error upon submitting.

Mobile app users will

[2019-10-26 14:38] #12862 closed

[2019-10-26 18:32] a8uhnf commented on #12936
I want to help with this.

[2019-10-26 18:39] hanzei commented on #12936
Thanks @a8uhnf :+1:

[2019-10-26 18:42] hanzei commented on #12936
@levb What do you think about changing the signature to `KVListPrefix(prefix string, page, perPage int)` to be consistent with our other API methods?

[2019-10-26 18:59] levb commented on #12936
@hanzei the whole point of this helper is to enumerate the entire set of keys of a type, without having to bother with the paging. 1/5 paging should be internal to the implementation. An overall limit of items to return should be enough. Maybe `KVListAllWithPrefix`?

I also contemplated a KVPrefixDo that would take a function, but decided against it for simplicity.

[2019-10-26 19:08] hanzei commented on #11439
Thanks @mikeygbd

[2019-10-26 19:08] hanzei commented on #10470
Thanks for the quick PR @veera83372 :tada:

[2019-10-26 20:36] M-ZubairAhmed commented on #12456
This issue is completed please take a look https://github.com/mattermost/mattermost-webapp/pull/4061

[2019-10-26 20:38] jasonblais commented on #11532
Thanks for letting us know. Which Mattermost server version are you running (e.g. v5.16.0), and on what operating system (e.g. Ubuntu 16.04)

cc @amyblais @svelle

[2019-10-27 03:05] lieut-data opened #12944 "Plugin: Auto-update plugins from marketplace"
The Plugin Marketplace launched in v5.16, initially featuring only Mattermost plugins, but with plans to eventually include support for community plugins. While on-demand updating of plugins is scheduled for v5.18, there are no immediate plans to add support for auto-upgrading plugins in the marketplace directly into the product.

Of course, auto-updating plugins would still be a useful feature! I

[2019-10-27 06:41] hanzei commented on #11754
Hey @ashishmahi,

Thanks for the PR! Next time please leave a short message in the issue before you start working on it. Thanks :+1:

[2019-10-27 06:42] hanzei commented on #10195
@migbot Can you give an update now that https://mattermost.atlassian.net/browse/MM-11879 is resolved?

[2019-10-27 06:44] hanzei commented on #12393
Hey @RajatVaryani,

Just wanted to check if you questions got answered. Do you have any outstanding ones?

[2019-10-27 06:45] hanzei commented on #10786
Hi @kuchcakova,

How is your work on this going? Can help help with anything?

[2019-10-27 06:45] hanzei commented on #8464
@jwilander Gentle reminder about this topic

[2019-10-27 06:51] hanzei commented on #10788
Hey @letsila,

Do have any questions about this ticket? How is your work on it going?

[2019-10-27 07:04] ilgooz commented on #12944
I'm very excited to take this one but probably won't be able to start immediately, I might get very busy next week to handle non-Mattermost related stuff. I should be able to start by the 2nd week of November. If it's OK can you assign it to me?

[2019-10-27 07:24] ChrisDobby commented on #12015
I'll pick this one up if that's OK?

[2019-10-27 07:25] RajatVaryani commented on #12393
@hanzei There are no blockers as of now. I will start working on it shortly.

[2019-10-27 07:31] RajatVaryani commented on #12936
@levb Can you please point me to an example plugin where this is required?

[2019-10-27 07:43] hanzei commented on #12015
Sure. Thanks for working on it @ChrisDobby :+1:

[2019-10-27 08:03] tsilavinarazf commented on #10788
Hey @hanzei, no question so far. Will send my PR soon.

[2019-10-27 08:05] letsila commented on #10788
Hey @hanzei, everything's fine, will send my PR soon.

[2019-10-27 08:28] niklabh commented on #11950
sorry wasn’t able to work on this. you can reassign

[2019-10-27 10:42] #12103 closed

[2019-10-27 10:47] #12887 closed

[2019-10-27 11:54] #12796 closed

[2019-10-27 13:38] levb commented on #12936
@RajatVaryani Here's a pending PR, this request came out of it. It has 2 examples, grep for KVList, https://github.com/mattermost/mattermost-plugin-jira/pull/351/files#diff-3b02caad0024138fae666f1168b4d0cdR487

[2019-10-27 18:43] KerryAlsace commented on #12473
Hey, sorry I got tied up with other stuff, I'll finish this up tonight, still on it!

[2019-10-27 19:45] jganobsik commented on #12289
Working on this test

[2019-10-27 20:21] jaydeland commented on #9459
I am looking at this under:
https://mattermost.atlassian.net/browse/MM-19710

[2019-10-27 22:11] jaydeland commented on #9459
I don’t yet have access to the main repo so I have completed number 1 and 2 on a fork.
It appears that number 3 is no longer an issue.
https://hub.docker.com/r/jaydeland/mattermost-push-proxy/tags

I have also migrated Docker to alpine:3.10.1 (since this is the latest version).
https://github.com/jaydeland/mattermost-push-proxy

CircleCI:
https://circleci.com/gh/jaydeland/mattermost-push-proxy

[2019-10-28 08:00] RajatVaryani commented on #12393
@hanzei I have few questions:
- What is plugin signing to the API?
- Which of the checks should be done in the helper method?

Following checks are done in https://github.com/mattermost/mattermost-server/blob/3701a393e57f48208cbdf81d61735df800637e1a/api4/plugin.go#L95.

1. Checking if plugins are enabled via config.
2. Sanity check for http url. (**I think this needs to be done**)
3. Checking if d

[2019-10-28 08:05] saturninoabril commented on #12289
@jganobsik Thanks!

[2019-10-28 08:21] hanzei commented on #12473
Thanks for the update @KerryAlsace. Looking forward to your PR!

[2019-10-28 10:39] SamWolfs commented on #12352
@amyblais Thanks for the follow-up. I haven't asked about this in the community server yet, I'll do so later today when I find time to continue working on the issue :)

[2019-10-28 13:09] RajatVaryani commented on #12944
Even I am interested in this ticket. I presume the work here is big enough to be done by 2 people. If @ilgooz is assigned and if he's comfortable working with me then I would love to work in it as well.

[2019-10-28 14:07] lieut-data commented on #12944
@ilgooz & @RajatVaryani, you're both very welcome to spearhead a group effort. I'm happy to schedule half an hour to chat with you both about the vision here and help answer any questions. I'll tentatively assign you both? Let me know what you think :)

[2019-10-28 15:12] amyblais commented on #12859
@toojazzy Would you be open to testing if you see the same issue on our [community server](https://community.mattermost.com/core/). I wasn't able to reproduce this on Mac, Chrome so far.

[2019-10-28 15:37] hmhealey commented on #12015
Let me know if you need any help on this one, @ChrisDobby. It might be a bit tricky due to how that part of the mattermost-redux state is set up for this since it maps each URL to a single OpenGraph object

[2019-10-28 15:44] #12630 closed

[2019-10-28 15:52] #12864 closed

[2019-10-28 15:57] toojazzy commented on #12859
As I wrote it will not be happening on Macs because it has higher resolution, try it on full HD display, 1920x1080

[2019-10-28 15:58] sphr commented on #12940
I have managed to replicate this on all webbrowsers I've gotten hand on; ios+safari, android+chrome, ipados+chrome, win10+chrome/firefox/edge. macos+chrome/firefox/safari.

[2019-10-28 16:03] sphr commented on #12940
I get this error in the logs:
`
{"level":"error","ts":1572278383.0301757,"caller":"mlog/log.go:174","msg":"Unable to save the Post","path":"/api/v4/posts","request_id":"<removed>","ip_addr":"<removed>","user_id":"<removed>","method":"POST","err_where":"SqlPostStore.Save","http_code":500,"err_details":"id=<remoed>, Error 1366: Incorrect string value: '\\xF0\\x9F\\x99\\x8C' for column `mattermost`.`

[2019-10-28 16:07] sphr commented on #12940
The windows 10 emoji picker pops up when pressing [windows]+[.(dot)].

[2019-10-28 16:31] #12440 closed

[2019-10-28 16:37] amyblais commented on #12859
@toojazzy I don't have a HD display available, that is why I asked if you'd be open to do a quick test on our [community server](https://community.mattermost.com/core/). I'll ask our team if somebody can help test this.

[2019-10-28 16:43] RajatVaryani commented on #12393
@lieut-data Can you please answer the above questions?

[2019-10-28 17:50] jespino opened #12953 "Migrate 'components/admin_console/boolean_setting.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/boolean*setting.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * [ ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2019-10-28 17:50] jespino opened #12954 "Migrate 'components/admin_console/color_setting.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/color*setting.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * [ ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any c

[2019-10-28 17:50] jespino opened #12955 "Migrate 'components/admin_console/highlight.jsx' to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin_console/highlight.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any comp

[2019-10-28 17:50] jespino opened #12956 "Migrate 'components/admin_console/banner.jsx' to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin_console/banner.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compone

[2019-10-28 17:51] larkox commented on #12956
May I take this one?

[2019-10-28 17:51] larkox commented on #12955
May I take this one?

[2019-10-28 17:52] larkox commented on #12954
May I take this one?

[2019-10-28 17:52] jespino commented on #12955
@larkox Sure, go for it :)

[2019-10-28 17:52] larkox commented on #12953
May I take this one?

[2019-10-28 17:52] jespino commented on #12953
Sure

[2019-10-28 17:52] jespino commented on #12956
sure

[2019-10-28 17:53] valentijnnieman commented on #12854
I'd like to work on this!

[2019-10-28 17:53] jespino commented on #12954
Sure

[2019-10-28 19:14] lieut-data commented on #12393
@RajatVaryani, I think only the last one should be checked. Installing a plugin from a plugin doesn't need to be gated on whether plugins are enabled, since the plugin wouldn't be running anyway. The `net/http` URI ought to enforce an invalid URL, and I'd be more worried about rejecting a perfectly good URL by accident.

For plugin signing, I'd suggest coordinating with @ali-farooq0 and @iomodo.

[2019-10-28 21:23] #12759 closed

[2019-10-28 21:28] esethna commented on #11950
No worries @niklabh, re-adding the up for grabs label

[2019-10-28 22:14] amyblais commented on #12845
@towolf One of our devs reproduced this and is looking into this. I will find out if a bug ticket was opened for this and will link it here.

[2019-10-28 23:47] Mycobee commented on #12518
This is still in progress, I started moving forward with it today, and plan to work on it more tomorrow.  Hopefully I will have a PR by the evening.  I planned to have one earlier, but I ended up getting caught up with problems on another ticket I am working on.

[2019-10-28 23:51] jasonblais commented on #12854
Great thanks @valentijnnieman! Let me know if you have any questions as you start working on it

[2019-10-28 23:53] amyblais commented on #12843
I'll close this for now as there hasn't been updates on this, but I hope that you will consider opening a feature request issue for this,

[2019-10-28 23:53] #12843 closed

[2019-10-29 00:02] #12763 closed

[2019-10-29 06:10] mattermod opened #12958 "Add `PUT /config/patch` REST API endpoint"
Right now the REST API currently only has an endpoint `PUT /config` that receives a full configuration for the server and applies it. This makes it difficult to make incremental changes to the server's configuration and can also be an issue for any older libraries or drivers that are missing newer config fields.

For this ticket, create a new REST API endpoint `PUT /config/patch` that uses patch s

[2019-10-29 06:15] RajatVaryani commented on #12958
I am working on this issue.

[2019-10-29 08:48] #12956 closed

[2019-10-29 10:00] mattermod opened #12959 "Port the "webhook" command from Mattermost CLI to mmctl"
This ticket includes the creation of a “webhook” command in mmctl with the following subcommands:

  * create-incoming: create an incoming webhook
  * create-outgoing: create an outgoing webhook
  * delete: delete webhooks
  * list: list webhooks
  * modify-incoming: modify incoming webhook
  * modify-outgoing: modify outgoing webhook
  * show: show a webhook

To achieve this, the subcommands shou

[2019-10-29 10:00] mattermod opened #12960 "Port the "roles" command from Mattermost CLI to mmctl"
This ticket includes the creation of a “roles” command in mmctl with the following two subcommands:

  * member: removes system admin privileges from a user.
  * system_admin: sets a user as a system admin.

To achieve this, the commands should use the [Update User Roles endpoint](https://mattermost.atlassian.net/browse/MM-19062) of the API. Both subcommands should mimic the structure, inputs and

[2019-10-29 10:00] jespino commented on #12955
Fixed! :)

[2019-10-29 10:00] #12955 closed

[2019-10-29 10:56] akshaychhajed commented on #12960
May I have a go at this?

[2019-10-29 10:57] ChrisDobby commented on #12015
Thanks @hmhealey I've made a change to store the opengraph data against the post id and url. Looks to be working fine in the web app, once I've tested it in the mobile app I'll create a PR.

[2019-10-29 11:46] hanzei commented on #12960
Sure. Thanks @akshaychhajed :+1:

[2019-10-29 12:16] amyblais commented on #12704
@mthld Our QAs have been trying to test this but haven't been able to so far. Following your report, they have embedded a mention in an incoming webhook, and triggered it under different notifications settings (including Never, with email batched, as appears to be the scenario in the report), but they receive or don't receive emails as expected.

We are wondering about a couple other aspects of th

[2019-10-29 12:19] amyblais commented on #12845
Bug ticket here: https://mattermost.atlassian.net/browse/MM-19766.

[2019-10-29 13:16] akshaychhajed commented on #12960
@hanzei @mgdelacroix
`make build` fails for mattermost/mmctl with following error

[code]

In go.mod,
[code]

Should github.com/golang/lint v0.0.0-20190227174305-8f45f776aaf1 be updated ?

[2019-10-29 13:17] hanzei commented on #12960
I think you can just remove the two replace statements. There where there for legacy reasons.

[2019-10-29 13:19] akshaychhajed commented on #12960
Ok. let me try that.

[2019-10-29 13:21] hanzei commented on #12936
I agree. What is the use case for a limit?

[2019-10-29 13:41] akshaychhajed commented on #12960
[code]

this repeats for lot of packages

[2019-10-29 13:45] levb commented on #12936
@hanzei Made me think, I agree, let's simplify to `func (h *Helpers) KVListAllWithPrefix(prefix string) (keys []string, err error)`. Opinion on a supplemental/underlying `func (h *Helpers) KVDoWithPrefix(prefix string, func (key string) (continue bool, err error)) error`?

[2019-10-29 14:10] hanzei commented on #12960
What go version are you using?

[2019-10-29 14:11] akshaychhajed commented on #12960
looks like existing issue.
https://github.com/golang/go/issues/34053
I see you have commented here too.

[2019-10-29 14:16] hanzei commented on #12936
:+1: `func (h *Helpers) KVListAllWithPrefix(prefix string) (keys []string, err error)`

The name `KVDoWithPrefix` confuses me. What does the `Do` mean? Is it a `KVListAllWithChecker`?

Maybe we want a `KVListAll(options ...Options) ([]string, error)` and support various options like `Prefix(prefix string)` or `WithChecker(f func (key string) (continue bool, err error))`. What do you think?

[2019-10-29 14:19] akshaychhajed commented on #12960
build succeded with go1.13.3
thanks @hanzei

[2019-10-29 14:21] hanzei commented on #12960
Yes, I stumbled across this issue before.

[2019-10-29 14:43] #12783 closed

[2019-10-29 15:33] gwillen opened #12962 "Default Mattermost image on "Digital Ocean marketplace" is severely insecure"
Hi Mattermost -- I don't know if this is the right repo to report this on, but the Digital Ocean Marketplace (containing images for configuring VPSes) has a Mattermost image that is insecure, and which says it is supported by Mattermost (not by Digital Ocean), and links to https://github.com/mattermost as the support URL.

It appears to be running Redis on a port exposed to the public Internet, wh

[2019-10-29 16:15] mattermod opened #12963 "Create a team archive command in mmctl"
This ticket includes the creation of a "mmctl team archive" command.

It should accept the same arguments as the ["mmctl team delete" command](https://github.com/mattermost/mmctl/blob/master/commands/team.go#L45), and instead of using the PermanentDeleteTeam client method, it should use [the SoftDeleteTeam method](https://github.com/mattermost/mmctl/blob/master/commands/team.go#L45).

Link to [mmc

[2019-10-29 16:15] mattermod opened #12964 "Allow swiping from anywhere on the screen to pull open the ... sidebar"
Expected: Tapping, holding and sliding your finger to the left anywhere on the post list screens should pull open the right hand ... sidebar.

Observed: The sidebar pulls out only when swiping in from the right edge of the screen.

Note: This change should only affect iOS, Android should remain as is.
Note 2: This gesture change is covered for the channel sidebar in MM-18530 along with other chang

[2019-10-29 16:30] mattermod opened #12965 "Add "user list" subcommand to mmctl"
This ticket includes the addition of a “mmctl user list” command. This command should list the users of the server, and it should leverage [the Get Users API endpoint](https://api.mattermost.com/#tag/users%2Fpaths%2F~1users%2Fget).

The endpoint accepts multiple filters, so the command should implement at least the “in team” and “in channel” ones.

Link to [mmctl repository](https://github.com/mat

[2019-10-29 16:35] amyblais commented on #12962
@gwillen Please submit vulnerability reports via responsibledisclosure@mattermost.com.

Please read our responsible disclosure policy here: https://mattermost.com/security-vulnerability-report/.

Thank you,

[2019-10-29 16:35] #12962 closed

[2019-10-29 17:15] amyblais commented on #12166
Closing as this has been fixed for upcoming v5.17 release,

[2019-10-29 17:15] #12166 closed

[2019-10-29 18:09] #12471 closed

[2019-10-29 19:53] njkevlani commented on #12965
@mgdelacroix

I'd like to take this issue.

Shouldn't this issue be opened in [mmctl repository](https://github.com/mattermost/mmctl)?
Some code pointers would be nice :)

[2019-10-29 20:29] gupsho commented on #12963
I can take this.

[2019-10-29 22:32] mgdelacroix commented on #12965
Sure @njkevlani, thanks for working on this! 🎉

We use the mattermost-server repository to centralise all issues and contributions.

The user commands live in the [commands/user.go](https://github.com/mattermost/mmctl/blob/master/commands/user.go) file, you can take inspiration on the user search command as the dynamics will be similar. You have to use the [client driver](https://github.com/matter

[2019-10-30 00:19] pqzx commented on #12457
I won't be able to work on this one for a while. Please open it up for others. Sorry for blocking it.

[2019-10-30 02:25] #12241 closed

[2019-10-30 02:26] saturninoabril commented on #12241
@jordeguevara Thank you for your contribution!

[2019-10-30 03:21] hanzei commented on #12381
Fixed with https://github.com/mattermost/mattermost-server/pull/12700

Thanks for the awesome contribution @cinlloc :tada:

[2019-10-30 03:21] #12381 closed

[2019-10-30 03:27] hanzei commented on #12457
No problem. Thanks for the head up :+1:

[2019-10-30 06:12] njkevlani commented on #12965
While running `mmctl user list`, what is expected output? What information should be printed?

Some options:
1. Just print email IDs. Other things like Format of output, Filters can be implemented on later stage.
2. Print output similar of `mmctl user search njkevlani`

[2019-10-30 06:25] njkevlani commented on #12965
`getUsers` method in `client4` fetches users in chunks (using `page` and `perPage`)
How should this new command `mmctl user list` fetch user list?

Some options:
1. Using this existing `getUsers` function in `client4` and fetch in chunk?
2. Using a new method that fetches all users in one go?

[2019-10-30 07:34] #11912 closed

[2019-10-30 09:40] #12447 closed

[2019-10-30 09:40] saturninoabril commented on #12447
@Phizzard Thank you for your contribution!

[2019-10-30 09:42] #12492 closed

[2019-10-30 09:43] saturninoabril commented on #12492
@guigui64 PR has been merged.  Thank you for your contribution!

[2019-10-30 10:18] #12954 closed

[2019-10-30 11:15] drekar commented on #12865
Looks like we got our wires crossed @lucianomagrao.  I had accepted issues #12860-12869, but for some reason the update didn't take on this one, and I did it anyway.  I'm deleting my PR because yours is already approved.

[2019-10-30 12:20] #12287 closed

[2019-10-30 13:08] #12865 closed

[2019-10-30 13:09] saturninoabril commented on #12865
@lucianomagrao PR has been merged.  Thank you for your contribution!

[2019-10-30 13:25] levb commented on #12936
👍 to options in this use-case! `KVListWithOptions` FTW.

[2019-10-30 14:59] dmarkdvt opened #12970 "RN: in-line image via markdown is not scaling well"
#### Summary
In the mobile app the inline image via markdown is not scaling well; px declaration is broken and svg can not be displayed. It is related to https://mattermost.atlassian.net/browse/MM-14628, which IMHO was closed wrongly.

#### Steps to reproduce
Mattermost Version: 5.16.1
Android Version: 1.24.0

Enter the following commands.
1: `![status](https://talk.vtirol.gv.at/DVTImages/jira-sta

[2019-10-30 16:50] onlyjob commented on #8884
A _year_ passed...

[2019-10-30 18:24] akshaychhajed commented on #12959
@mgdelacroix may I attempt this one ?

[2019-10-30 18:26] mgdelacroix commented on #12959
Great @akshaychhajed!

[2019-10-30 18:37] #12762 closed

[2019-10-30 20:01] lieut-data commented on #11912
Thanks again, @pbitty!

[2019-10-30 20:16] amyblais commented on #12970
@dmarkdvt We're unable to load the inprogress_s.png images that you linked. Would you be open to providing public images so we can try to reproduce?

[2019-10-30 20:21] pbitty commented on #11912
No prob!

[2019-10-30 20:45] hmhealey commented on #12015
Awesome! One thing to be aware of with the mobile app is that you might need to tweak how it loads that data into the store. The mobile app has to be backwards compatible with servers that didn't provide that metadata as part of the post, so it loads it differently than the web app on those servers. That may not affect your changes, but it's just something to be aware of if you see different logic

[2019-10-30 21:21] sebastienD commented on #12571
If you want the PR is [here](https://github.com/mattermost/mattermost-server/pull/12972) 👍

[2019-10-31 06:06] dmarkdvt commented on #12970
@amyblais I just tested them via mobile connection and there shouldn't be any limitation.

https://talk.vtirol.gv.at/DVTImages/jira-status/inprogress_s.png
https://talk.vtirol.gv.at/DVTImages/jira-status/inprogress.png
https://talk.vtirol.gv.at/DVTImages/jira-status/inprogress_b.png

[2019-10-31 08:32] rfoyard commented on #12624
I'd like to work on this !

[2019-10-31 08:44] #12861 closed

[2019-10-31 09:47] #12867 closed

[2019-10-31 11:18] hanzei commented on #12624
Awesome, thanks @rfoyard. If you have any questions please reach out!

[2019-10-31 11:19] #12860 closed

[2019-10-31 13:45] mattermod opened #12976 "Migrate 'components/admin_console/admin_settings.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/admin*settings.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2019-10-31 13:48] larkox commented on #12976
May I take this one?

[2019-10-31 13:48] jespino commented on #12976
Sure

[2019-10-31 14:00] mattermod opened #12977 "Migrate 'components/admin_console/generated_settings.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/generated*settings.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update

[2019-10-31 14:00] M-ZubairAhmed commented on #12467
@hanzei can i take this over ?

[2019-10-31 14:05] larkox commented on #12977
May I take this one?

[2019-10-31 14:09] jespino commented on #12977
Sure

[2019-10-31 14:29] jespino commented on #12467
@M-ZubairAhmed Yes, I think so, go ahead

[2019-10-31 16:34] vladislavhirko opened #12981 "Incorrect import of package"
Hello, i use mattermost sdk and when i add go.mod to my project i can't start it, because one of package which you use has incorrent import address:

[2019-10-31 17:23] Mycobee commented on #12518
So after grepping for 120 _REQUEST, _SUCCESS, and _FAILURE commands, I had no hits on any of them.  Does that sound correct?  I was ignoring node_modules/ and dist/ directories because I didn't think that should have any impact.

If this is correct, I may be able to pull out everything??

Below is my grep shell script.

[code]

[2019-10-31 17:58] amyblais commented on #12981
@vladislavhirko Would you be open to asking about this on our [Developers channel here](https://community.mattermost.com/core/channels/developers)? One of our devs will probably know how to help with this.

[2019-10-31 18:04] cpoile commented on #12624
Thanks @rfoyard , let us know if you have any questions!

[2019-10-31 20:39] isacikgoz commented on #10166
I am interested to work on this one, if it is still available :)

[2019-11-01 06:21] #11953 closed

[2019-11-01 09:16] hanzei commented on #12413
Fixed with https://github.com/mattermost/mattermost-server/pull/12421. Thanks @phillipahereza for the contribution.

[2019-11-01 09:16] #12413 closed

[2019-11-01 11:08] hanzei commented on #12571
@sebastienD Next time please don't work on an issue that someone else is already working on. Still, thanks for the PR :+1:

[2019-11-01 11:52] #12764 closed

[2019-11-01 13:01] amyblais commented on #12970
An update on this is that we don’t support rendering svg’s on the mobile app. One of our devs was looking into this at some point and shared that ``react-native-svg`` now has a way to accomplish it.

In the case of setting custom dimensions, we also don't seem to support that on the mobile app but we're confirming this with our devs.

[2019-11-01 14:25] jwilander commented on #10166
All yours @isacikgoz :)

[2019-11-01 15:17] rfoyard commented on #12624
Hi @cpoile,

After looking at the code, I see two possible directions for this.
 - Use the plugin's KV store to save the watch/unwatch postIds and create a new hook to be called in the `app.SendNotification` function.
 - Or, save the watch/unwatch postId's in `user.Model` and implement the logic in the `app.SendNotification` function.

In my opinion the first option is the best because the logic w

[2019-11-01 16:24] hackdefendr opened #12990 "Remote Error TLS: Bad Certificate"
#### Summary
Remote Error TLS: Bad Certificate

#### Steps to reproduce
1. Generate certificate using Windows Certificate Manager (mmc)
2. Import CA certificate into Ubuntu per normal procedure
3. Restart services
4. Client using Personal Access Token is denied stating certificate signed by unknown authority.

#### Expected behavior
Logging in normally via the web interface works without issue. On

[2019-11-01 17:45] amyblais commented on #12990
@hackdefendr What Mattermost server version are you on?

[2019-11-01 17:49] ilgooz commented on #4300
Adding the link to the initial version of PDF plugin: https://github.com/ilgooz/mattermost-plugin-topdf

I'd like to move the plugin under @mattermost if you guys would like to accept!

@lieut-data

I made the association with `KV store`. What do you think about it?

#### some thoughts about distributed lock:

One small thing to think about is there is no any locking mechanism used between [upload

[2019-11-01 18:26] lieut-data commented on #4300
The KV store has a maximum `Value` length of `8192` bytes, so it wouldn't be general purpose enough to store files. Our file store is generally agnostic to the files contained therein, but it's just our API that currently only associates files with posts. A bit hacky, but perhaps the bot could post a message to itself with the attached "file" and use that as a backing store?

Can we just make the

[2019-11-01 18:29] #9596 closed

[2019-11-01 19:04] ilgooz commented on #4300
@lieut-data

I think, I misunderstood your point about _association_ at the first place. -reading your prev post again and yes files might need to reference to posts but _UploadFile()_ API only requires references to channels-.

What I meant now is, I store the information about relationship between a fileID and it's PDF version's id in KV store, like this: `pdf:fileID(original) = fileID(pdf)`.

A

[2019-11-01 19:12] hackdefendr commented on #12990
I am running latest version 5.16.1.

FYI this is an integration with a SOAR application called Demisto (Palo Alto). The bot user account has an option to ignore certificate errors, but that isn't working apparently. The bad certificate error comes from mattermost.

[2019-11-01 19:20] hackdefendr commented on #12990
Is there some place I could put the CA certificate so that Mattermost server will see it?

[2019-11-01 22:13] JosephSamela commented on #12519
@hanzei I won't be able to finish this ticket. Can you put it back `Up For Grabs`? Thanks!

[2019-11-02 05:04] M-ZubairAhmed commented on #12467
This is fixed here https://github.com/mattermost/mattermost-webapp/pull/4110

[2019-11-02 07:59] #11897 closed

[2019-11-02 08:25] hanzei commented on #12519
Sure @JosephSamela. Thanks for the afford you put into this :+1:

[2019-11-02 08:28] larkox commented on #12457
May I take this one?

[2019-11-02 08:30] mattermod opened #12993 "Migrate 'components/admin_console/setting.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin_console/setting.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compon

[2019-11-02 08:33] larkox commented on #12993
May I take this one?

[2019-11-02 08:34] jespino commented on #12993
Sure

[2019-11-02 09:23] jespino commented on #12457
Sure, go ahead @larkox!

[2019-11-02 10:53] #12461 closed

[2019-11-02 12:30] ilgooz commented on #12944
@lieut-data lets schedule a call for this Monday? Any other day also can work with me.

[2019-11-02 17:18] enahum commented on #9760
Thanks @chuttam closing issue

[2019-11-02 17:18] #9760 closed

[2019-11-02 18:03] enahum commented on #12313
@valentijnnieman let me know if you are going to be able to add this to the mobile app as well, if not I need to open a different ticket

[2019-11-02 18:19] valentijnnieman commented on #12313
@enahum That shouldn't be too much of a problem! I'm working on some other issues now, will return to this as soon as possible - just a heads up in case anyone else wants to pick this up instead.

[2019-11-03 05:36] RajatVaryani commented on #12393
Can somebody please review this PR to give early feedback?

[2019-11-03 06:06] hanzei commented on #12393
Sure, will comment on this PR :+1:

[2019-11-03 07:57] RajatVaryani commented on #12958
I have few questions. I am referring the update config here: https://github.com/mattermost/mattermost-server/blob/a2adf7b3f5ee106ea81a8996c10e026d87e07e34/api4/config.go#L52-L116

- What is the significance of `c.App.Config().ExperimentalSettings.RestrictSystemAdmin`? If only system admin can update the config why this config was added?
- Do we want to keep the same behaviour for patch as in `Upda

[2019-11-03 14:54] RajatVaryani commented on #12944
Sure. I am available from 7am PST to 10am PST and 7pm to 9pm PST.

[2019-11-03 15:13] #12890 closed

[2019-11-03 17:10] RajatVaryani commented on #11323
@wiersgallak A gentle reminder.

[2019-11-03 18:17] ilgooz commented on #12944
@lieut-data we had a quick chat with @RajatVaryani about how to collaborate. We split the work in two parts. I'll be taking the part about checking versions and updating the plugins and Rajat will handle the notification part.

We're thinking about creating two packages as `updater` and `notifier` -think them like DAO layer- and gluing them together in the main package with the `MattermostPlugin`

[2019-11-03 19:47] lieut-data commented on #12944
@ilgooz & @RajatVaryani, your description of the proposed code layout makes a lot of sense to me: nicely written up! A few things that might be good to pin down:
* what configuration options does the plugin provide? (thinking something to enable/disable auto-update, a frequency for which to check for updates, and perhaps notification options, including posting changes to an arbitrary channel)
* ho

[2019-11-03 19:57] lieut-data commented on #11897
Thanks so much, @pradeepmurugesan!

[2019-11-04 04:36] anindha commented on #11441
@jespino I'd consider putting my hand up for this. Would it be possible to get a little help?

[2019-11-04 06:46] anindha commented on #7487
@jwilander @hanzei I can take this ticket.

[2019-11-04 08:29] jespino commented on #11441
@anindha sure, feel free to contact me directly in https://community.mattermost.com, my username there is `jesus.espino`.

[2019-11-04 09:51] hanzei commented on #7487
Awesome, thanks @anindha :+1:

[2019-11-04 10:21] hanzei commented on #12958
@jwilander Could you please take a look at the question above?

[2019-11-04 13:11] isacikgoz commented on #10166
I think this could be handled in the plugin side only. Wrt @lieut-data's ideas, a simple method can be added:

[code]

and this function can be called in  plugins`OnActivate()` method  as:

[code]

This solution conforms to :
- [x] In the server logs (System Console > Logs)
- [x] In the Plugins > Management page when activating the plugin

The remaining work is to decide where to define the requir

[2019-11-04 13:42] jwilander commented on #12958
@RajatVaryani good questions

* The `RestrictSystemAdmin` is helpful when running a bunch of Mattermost severs in a SaaS style where we don't want system admins to be able to change certain settings, instead of anything
* Yes, same behaviour
* `ExportFromTimestamp` is used for a compliance export feature, I'm not super familiar with the feature but I believe that general idea is when the feature i

[2019-11-04 13:42] #12465 closed

[2019-11-04 13:50] #12710 closed

[2019-11-04 14:26] jespino commented on #12993
Closed by #4114

[2019-11-04 14:26] #12993 closed

[2019-11-04 14:49] #12351 closed

[2019-11-04 14:51] uusijani opened #13000 ""A new version of Mattermost is available" notification remains after selecting to "Refresh the app now""
#### Summary
Selecting the "Refresh the app now" link from update notification doesn't make the notification go away.

#### Steps to reproduce
Have MM server updated to latest release. Open an existing session of the web app in Firefox. See the refresh prompt, select "Refresh the app now".

#### Expected behavior
Web page is refreshed, the notification goes away.

#### Observed behavior (that appe

[2019-11-04 14:58] amyblais commented on #12970
@hmhealey Do you know if we support setting custom dimensions on the mobile app?

https://community-release.mattermost.com/core/pl/ag1a7u8gwbf78bhwd3esgazmbw

[2019-11-04 15:13] amyblais commented on #12876
@hmhealey Do you know if the above errors is related to Gitlab?

[2019-11-04 16:01] #12016 closed

[2019-11-04 16:06] thephilz commented on #11291
I'm not sure how to understand the ticket, as it too is now closed, with a linked google doc that explains the situation. None of the proposed solutions in it actually solves the problem (as we're all saying here, many environments can't have their MM server connected to the internet–including by proxy.

The only working options for these environments are the first two alternative solutions (Re-ad

[2019-11-04 16:52] nickolasdeluca commented on #12920
Updating the app to v4.3.0 fixed the issue, until today, it is now displaying 1 hour forward again.
I even tried to update to v4.3.1 and it still doesnt properly show the timestamp.
Any ideas? I'm also from Brasil by the way.

[2019-11-04 18:13] AGMETEOR commented on #7487
@hanzei I might be wrong on this, but I think the webapp doesn't use a lot of the functions in the `mattermost-webapp/actions/websocket_actions.jsx`.

[2019-11-04 18:14] hanzei commented on #7487
@jwilander Might know more about this

[2019-11-04 18:25] #12344 closed

[2019-11-04 19:11] amyblais commented on #13000
@uusijani Can you help with more details on your announcement banner settings https://docs.mattermost.com/administration/config-settings.html#announcement-banner?

I haven't seen this issue on Chrome, so it is possible that this is an issue on Firefox. I can try to reproduce this on Firefox next time we have an update on our internal server.

Also, next time you see this issue it might be helpful

[2019-11-04 20:25] Mycobee commented on #12518
Hi @hanzei ,  I don't mean to bother, but can you confirm that this looks correct?  If so I am wondering if it is possible to remove the `admin.ts` file.

Thank you

[2019-11-04 20:27] hanzei commented on #12518
@sudheerDev Can you help with this question?

[2019-11-04 20:31] hanzei commented on #11627
Hey @proishan11, how are you doing with this ticket?

[2019-11-04 20:34] larkox commented on #12306
May I take this one?

[2019-11-04 21:08] Pomyk commented on #10347
I would also be interested in taking this issue.

[2019-11-04 21:31] hanzei commented on #10347
@RajatVaryani Would you be open on passing this ticket to @Pomyk or do you want to work on this yourself?

[2019-11-04 23:17] rvillablanca commented on #11627
Hi guys. If @proishan11 is not available I would like to grab this issue. I have an old PR that change the http status code to 409 so I would have to change that to 404 and maybe update the docs.

[2019-11-04 23:56] BenKnigge commented on #10347
I've started a new role and haven't done anything with this since my
initial research into it.

Finding a duplicate index is fairly simple.

Finding unnecessary indexes is more complicated.

Ideally whomever works on this would have access to usage stats for one or
more live databases that are under active participation.

On Mon, Nov 4, 2019 at 2:31 PM Ben Schumacher <notifications@github.com>
wro

[2019-11-05 00:57] kosgrz commented on #12288
I can do it :)

[2019-11-05 01:11] amyblais commented on #12916
### v5.17 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.17.0-rc1/mattermost-team-5.17.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3078/files)

[2019-11-05 03:08] RajatVaryani commented on #10347
@hanzei I don't mind passing this ticket.

[2019-11-05 06:19] ilgooz commented on #12944
### configuration options
I really like your suggestions of these 3 config/feature. we should have them:

* enable/disable auto-update
* frequency to check for updates
* notification options, including posting changes to an arbitrary channel

--

We may add more to above but seems enough to me right now but I have one more feature idea about having an interactive bot to take credentials.

Some plu

[2019-11-05 06:51] saturninoabril commented on #12306
@larkox Sure and thanks!

[2019-11-05 06:53] saturninoabril commented on #12288
Thanks @kosgrz!

[2019-11-05 07:50] Zoddo commented on #12327
@amyblais Hi, any news about this issue (it still exists in 5.16.0)? We are currently blocked from doing some tasks which can only be run from the cli.

Maybe there is a temporarily work-around? I tried to manually provide the config file path (`-c` option) or the `DB_HOST` env without success.

[2019-11-05 08:37] hanzei commented on #10347
Then it's all yours @Pomyk

[2019-11-05 08:37] hanzei commented on #11440
Sure, thanks @AGMETEOR

[2019-11-05 08:38] hanzei commented on #11627
Go for it @rvillablanca

@proishan11 I hope you are fine with this

[2019-11-05 08:42] metanerd commented on #12030
I cannot find the time right now and would put it back for being grabbed again, if someone would like to do it.

[2019-11-05 08:45] #12057 closed

[2019-11-05 09:08] Pomyk commented on #10347
Thanks @RajatVaryani

[2019-11-05 10:50] sudheerDev commented on #12518
@Mycobee Unfortunately that does not work all that well. I cross checked for all values to be sure and i think in this case we do use `createCompliance` in webapp at https://github.com/mattermost/mattermost-webapp/blob/dc33cec5eeb04cf721efd498a5a1ce998b3cc179/components/admin_console/compliance_reports/index.js#L40. For this entity we can get the error value in the component from the action https:

[2019-11-05 11:07] uusijani commented on #13000
Hi @amyblais, thanks for taking a look!

Here are the banner settings:

    # grep -i banner config.json
            "EnablePreviewModeBanner": true,
            "EnableBanner": false,
            "BannerText": "",
            "BannerColor": "#f2a93b",
            "BannerTextColor": "#333333",
            "AllowBannerDismissal": true

I should also mention that I've previously enabled Developer Mo

[2019-11-05 11:17] thnat1234 commented on #11950
Hi, I am a first time contributor and would like to work on this feature. Can I take it?

[2019-11-05 12:12] hanzei commented on #11950
Surely @thnat1234. Let me know if you have any questions or face issues.

[2019-11-05 13:22] amyblais commented on #12327
Hey all, you can follow the progress of the fix here: https://github.com/mattermost/mattermost-docker/pull/421.

[2019-11-05 14:30] RajatVaryani commented on #12944
@ilgooz You can please go through for plugin signing https://docs.google.com/document/d/1qABE7VEx4k_ZAeh6Ydn4pGbu6BQfZt65x68i2s65MOQ/edit#

[2019-11-05 15:32] jwilander commented on #7487
That's definitely possible, we should remove dead code if found

[2019-11-05 15:33] #12977 closed

[2019-11-05 15:34] amyblais commented on #11291
A doc PR has been submitted here to document how to configure Mattermost to connect through an outgoing proxy for organizations with strict security requirements https://github.com/mattermost/docs/pull/3096.

[2019-11-05 16:15] thephilz commented on #11291
As I stated in my message and others have in this thread–**_a server-side proxy is not an option in many high secure environments._** The doc PR doesn't address that, and the ticket was to look at getting it back as an option (even if it had the side-effect of springy chats scrolling).

[2019-11-05 16:31] larkox commented on #12304
May I take this one?

[2019-11-05 16:35] mkvaghani commented on #12876
@amyblais  @hmhealey  I think it is not related to Gitlab, it is something in mattermost file where it parse gitlab url.
When we run gitlab instance in directory, then it re-write gitlab url with double. While run gitlab instance direct on domain, it does not gives any wrong url.

[2019-11-05 17:00] mattermod opened #13009 "Web: Post timestamps have role="presentation""
axe reports that the post timestamp component has an incorrect role since it's visible and clickable, but role="presentation" indicates that the component isn't interactive
![image](https://user-images.githubusercontent.com/3277310/68245648-59c22480-ffe5-11e9-9e16-b7245a46caa3.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community

[2019-11-05 17:00] mattermod opened #13010 "Mobile web: Add aria-labels to navbar buttons"
In the web app's mobile view (which is displayed when the browser window is not wide enough to show both the channel sidebar and post list side-by-side), the search and info buttons in the nav bar do not have an aria-label set which causes accessibility issues. A translatable aria-label tag should be added to them matching the desktop versions of those components.

----
If you're interested please

[2019-11-05 17:00] mattermod opened #13011 "Mobile web: Remove duplicate "navbar" IDs"
There are two divs in the web app with the ID "navbar" which can cause some navigation and accessibility issues. We should clean up the CenterChannel and MobileNavBar component to remove the duplicate ID while ensuring that the navbar and its children still appear correctly in the mobile web view (which appears when the window isn't wide enough to show both the post list and channel sidebar at the

[2019-11-05 17:15] mattermod opened #13012 "WCAG: new channel modal's close button has text but it is not rendered"
The X button to close the modal, have a close text that is not visible. We need to figure out to prevent it or have some UX to have the text on it without breaking UX

Deque link: https://dequeuniversity.com/rules/axe/3.3/button-name?application=AxeChrome

Report from axe:

Issue description Ensures buttons have discernible text

Impact: critical

Element location
.close
Element source
<button typ

[2019-11-05 22:45] hmhealey commented on #12876
While we don't specifically prevent it, we don't officially support using GitLab login with other login providers. That being said, this error seems to indicate that either your OAuth is configured incorrectly or Wordpress is responding to requests differently than GitLab, so it runs into a case that Mattermost doesn't know how to handle. Wordpress may be responding with an error or something that

[2019-11-06 01:22] rvillablanca opened #13014 "Go minor version should be 13"
#### Summary
Go minor version should be 13

Currently the go minor version is set to 12. If I try to compile with go version `1.12.13` (the latest of release 1.12) then I get:

`app/response_transfer.go:52:25: rt.headers.Clone undefined (type http.Header has no field or method Clone)`

It seems the `Clone()` method was added in go `1.13`

#### Steps to reproduce

Use any version of golang `1.12` r

[2019-11-06 05:59] vintik commented on #10232
@hanzei I'd like to work on this please.

[2019-11-06 06:25] avasconcelos114 commented on #12617
I finally got some free time to make more progress on this feature (apologies for the constant delay!)

I ended up hitting a bit of a technical limitation regarding how the design docs originally wanted the camera button to behave like.

In the designs, the camera button would bring up the camera, which then allowed users to select if they would like to take a video of a photo in there. But as it

[2019-11-06 06:49] #12265 closed

[2019-11-06 07:12] hanzei commented on #10232
Alle yours, @vintik :+1:

[2019-11-06 07:36] #12242 closed

[2019-11-06 07:36] saturninoabril commented on #12242
Thank you @niklabh for your contribution!

[2019-11-06 08:31] avasconcelos114 commented on #12617
I have an additional question regarding how should the app behave when the user is in landscape mode, and they have attached a few images to their message.

Reason being that according to the new design specs, the attachments are going to be positioned under the textbox (like below)

<img width="395" alt="image" src="https://user-images.githubusercontent.com/29700158/68281220-8431e180-00ba-11ea-83

[2019-11-06 09:18] #12976 closed

[2019-11-06 10:40] #11964 closed

[2019-11-06 11:37] #12712 closed

[2019-11-06 11:44] lieut-data commented on #12944
Agree that it's not something we should support out of the gate. I'm also not sure it would belong in the "plugin-marketplace-addons", per se, since accessing a private repository to initiate a download would have to be a core feature of the marketplace itself (otherwise the "Download" button wouldn't work in the product), and at that point, the server would have to manage the credentials.

I actu

[2019-11-06 11:56] ilgooz commented on #12944
Moving the discussion related to locks to a chat thread: https://community.mattermost.com/core/pl/bb376sjsdbym8kj7nz7zrcos7r

[2019-11-06 12:00] ilgooz commented on #4300
Moving the discussion related to locks to a chat thread: https://community.mattermost.com/core/pl/bb376sjsdbym8kj7nz7zrcos7r

[2019-11-06 12:10] lieut-data commented on #10166
@isacikgoz, I think your analysis makes sense! One note:

I think this belongs in the plugin manifest (i.e. `plugin.json`). The primary benefit will be the ability to introspect these requirements programmatically without having to parse the source code. This is especially relevant to the plugin marketplace in v5.16, where, for example, we detect the minimum server version defined in `plugin.json`

[2019-11-06 12:13] lieut-data commented on #4300
Thanks @ilgooz! I'll take a look at ilgooz/mattermost-plugin-topdf#1 -- I do seem to be able to provide comments there, and will aim to get you feedback soon.

[2019-11-06 12:42] AGMETEOR commented on #11440
Just a question for @jespino , do I have to first make some changes in the mattermost-redux codebase? For example, I might need to add a `actions/diagnostics.ts` in mattermost-redux then as an example for migrating `trackEvent` in the webapp's `diagnostics_actions.js` file, I add something like this to mattermost-redux
[code]

[2019-11-06 13:12] #12939 closed

[2019-11-06 14:10] hanzei commented on #13014
Good catch @rvillablanca :+1:

[2019-11-06 14:21] amyblais commented on #12847
I'll close this issue for now as there hasn't been updates for a while. If the issue persists, please re-open this for further troubleshooting,

[2019-11-06 14:21] #12847 closed

[2019-11-06 15:05] crspeller commented on #13014
@rvillablanca Good catch. Thanks!

[2019-11-06 15:05] #13014 closed

[2019-11-06 15:17] isacikgoz commented on #10166
@lieut-data, I agree that it would be better to define required configuration in `plugin.json`. Somehow I ended up forgetting that these values (i.e required configuration) may be accessible from outside (e.g. marketplace).

I will add this into my PR, thank you very much!

[2019-11-06 16:42] #12658 closed

[2019-11-06 16:56] MathewtheCoder commented on #13012
@mattermod Can i take up this issue ?

[2019-11-06 16:58] MathewtheCoder commented on #13010
@mattermod I am interested in solving this issue. Can i go ahead with this ?

[2019-11-06 17:59] ilgooz commented on #12944
Thanks Jesse. If the direction is to keep plugin related logic at the core, it makes sense to have credentials related logic there too. I thought, you may want to remove more logic out from core in future as possible and recreate them as plugins. Including the actions that happens when clicking to the "Download" button.

But this is certainly something that can be done in the long term and require

[2019-11-06 19:47] amyblais commented on #12981
There is a thread about this in Developers channel. Latest post: https://community-release.mattermost.com/core/pl/khou5uh6ytrc9f3n6fpwjg7coo.

[2019-11-06 19:49] amyblais commented on #12940
@sphr Would you be able to check if you're able to post OS emojis on our community server and if you experience developer console errors: https://community.mattermost.com/core?

[2019-11-06 19:51] #12888 closed

[2019-11-06 20:02] lieut-data commented on #12944
@ilgooz, sounds good!

With regards to plugin signing, my expectation is that the server is still doing the checking -- i.e. using the built-in logic being added for v5.18 -- but we just need to coordinate on how to provide the server with both the plugin bundle and the plugin signature. I /think/ the APIs right now aren't setup for that, but I stand to be corrected. @ali-farooq0 / @iomodo, can yo

[2019-11-06 20:37] sphr commented on #12940
I am not able to reproduce it on the community server.

I have two different docker instanes running 5.16.1 and 5.16.2 conneting to two different mariadb galera sql-clusters both running version: 5.5.5-10.3.18-MariaDB-log MariaDB Server. Both dockerinstances show the same problem. My setup is on team edition, not enterprise as your community server is.

mysql> SELECT default_character_set_name FRO

[2019-11-06 20:40] #12714 closed

[2019-11-06 21:42] Pomyk commented on #10347
I have analyzed code in channel_store.go, ran some explains and checked used indices stats in percona server after some basic app usage.
I have found that the following indices are unnecessary on PublicChannels:
 - idx_publicchannels_name - it's covered by the unique index on (Name, TeamId)
 - idx_publicchannels_name_lower, idx_publicchannels_displayname_lower - not used by postgres when searching

[2019-11-06 22:02] hmhealey commented on #12970
No, we don't support custom dimensions on the mobile app. It's much more restrictive with what we can support for images.

[2019-11-06 22:15] Pomyk commented on #10347
Duplicate indices found by pt-duplicate-key-checker: https://gist.github.com/Pomyk/b374964f059f694234981d7d49227ec6

[2019-11-06 23:18] sphr commented on #12940
Found and fixed my problem! The documentation is at one place incorrect, here: https://docs.mattermost.com/install/trouble_mysql.html?highlight=utf8

There is a equal sign incorrectly replaced with a hyphen on this line, which I of course copied.
"mmuser:*mmuser-password*@tcp(*host-name-or-IP*:3306)/mattermost?charset-utf8mb4,utf8&readTimeout-30s&writeTimeout-30s"

[2019-11-06 23:25] amyblais commented on #12940
@sphr Interesting, let me know if you're open to opening a pull request to update it, or let me know if you would like me to.

[2019-11-07 00:11] sphr commented on #12940
@amyblais I went ahead and attempted to open a pull request on my own, This is a first for me, hope I followed the guidelines correctly.

[2019-11-07 01:07] amyblais commented on #12940
Awesome! Approved and merged the PR.

[2019-11-07 01:07] #12940 closed

[2019-11-07 08:46] larkox commented on #13011
This issue seems fixed since commit 1497e04209. This is issue is still visible on "community.mattermost.com" since this change has not been applied to version 5.16.

[2019-11-07 09:28] bimonestle commented on #13012
@mattermod I want to participate on this issue

[2019-11-07 09:32] saturninoabril commented on #10232
Hello @vintik, sorry but I'm currently working on this and finalizing the changes already.  I forgot to make comment on this issue. Would you mind if you look for another help-wanted ticket?

[2019-11-07 10:07] hanzei commented on #13012
Hi @bimonestle and @MathewtheCoder,

Thanks for your interest in contribution to Mattermost. Given @MathewtheCoder was the first one to comment on this issue, I will assign him.

@bimonestle If you need help finding a different ticket or have any questions, feel free to reach out to me!

[2019-11-07 11:48] larkox commented on #12297
May I take this one?

[2019-11-07 12:01] hanzei commented on #10347
cc @lieut-data

[2019-11-07 12:01] #12885 closed

[2019-11-07 12:02] #12723 closed

[2019-11-07 12:04] hanzei commented on #13011
@hmhealey Can you please confirm?

[2019-11-07 12:04] hanzei commented on #13010
Sure, thanks @MathewtheCoder :+1:

[2019-11-07 13:01] jespino commented on #12297
sure, go ahead :)

[2019-11-07 13:10] larkox commented on #12296
May I take this one?

[2019-11-07 13:12] saturninoabril commented on #12296
@larkox Sure and thanks!

[2019-11-07 14:31] #12760 closed

[2019-11-07 14:48] larkox commented on #12293
May I take this one?

[2019-11-07 14:51] jakeolenick opened #13022 "The word "every" is missing from the English (UK) dictionary"
#### Summary
![Annotation 2019-11-07 122622](https://user-images.githubusercontent.com/5423072/68389009-d4ac4c00-0159-11ea-8c52-5c7084c9225e.png)

The word "every" is missing from the English (UK) dictionary

#### Steps to reproduce
Version 4.2.3, the word "every" is missing from the English (UK) dictionary.

#### Expected behavior
The word "every" should not have a red underline. It is a word in

[2019-11-07 15:03] GCHQ77703 commented on #13022
Spelling seems to be handled by the browser, not Mattermost itself.  You can add it to your local dictionary normally by right clicking --> add to dictionary.

[2019-11-07 15:04] saturninoabril commented on #12293
@larkox Sure and thanks!

[2019-11-07 16:12] larkox commented on #12293
I have been taking a look to this, and there is a problem. Apparently, there is no way to access the clipboard through Cypress. Here are the different solutions I tried and was not able to make them work:
- Typing Ctrl + V or Cmd + V (printed a V)
- Calling 'document.execCommand("paste");' (did nothing)
- Accessing 'window.clipboardData' or 'navigator.clipboard' (undefined)

I also Googled possibl

[2019-11-07 16:26] saturninoabril commented on #12293
Thanks for checking. You're right, it's redundant with that specs.  Will close this issue now.

[2019-11-07 16:27] #12293 closed

[2019-11-07 16:41] larkox commented on #12291
May I take this one?

[2019-11-07 16:42] saturninoabril commented on #12291
@larkox Sure and thanks!

[2019-11-07 18:31] larkox commented on #12285
May I take this one?

[2019-11-07 18:31] saturninoabril commented on #12285
@larkox Sure and thanks!

[2019-11-07 19:25] amyblais commented on #12845
This is fixed for upcoming v5.18 release which will release on December 16th,

[2019-11-07 19:25] #12845 closed

[2019-11-07 19:36] a-arias commented on #12304
I'm going to take this one @saturninoabril  :D

[2019-11-07 22:41] a-arias commented on #12302
I'm going to take this one @saturninoabril

[2019-11-08 03:08] sirmspencer commented on #10771
The change logs only mention the channel rename modal. Can anyone confirm that the edit post model is also fixed?

[2019-11-08 06:13] AGMETEOR opened #13025 "Get rid of the console warning thrown by React about the EmojiPickerOverlay"
#### Summary
React warning in the console about the use of `static getDerivedStateFromProps`

#### Steps to reproduce
- In dev mode, check out to master branch
- Open the browser console

#### Expected behavior
React should not be issuing a warning when `getDerivedStateFromProps` is used correctly

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant

[2019-11-08 11:33] chahat-arora commented on #12383
I need to fetch current admins (system/team/channel) with the help of a plugin where a `Team Override Schemes` is defined.

[2019-11-08 12:09] jespino opened #13026 "Migrate mattermost-utilities/github_jira_tools from python to go"
Migrate the scripts in the directory github*jira*tools from the https://github.com/mattermost/mattermost-utilities repository, from python to go.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermo

[2019-11-08 12:09] jespino opened #13027 "Add example usage of EnsureBot to the Demo Plugin"
The existing implementation would be replaced to use EnsureBot with options. This is a follow up on [https://github.com/mattermost/mattermost-server/pull/12153](https://github.com/mattermost/mattermost-server/pull/12153|smart-link) .

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our dai

[2019-11-08 12:09] jespino opened #13028 "Modal pops down when attempting to scroll down to see if there are more emoji"
iPhone 6s, iOS 12

1. In a test channel, make a post
2. Long press on the post and select ""Add Reaction""
3. Repeat step 2) until you have about 12 reactions on the post
4. Long press on ONE of the emoji reactions on the post"
5. Swipe up to fully open the drawer and scroll to bottom of reaction list in one motion
6. Swipe up again as if to try to scroll further

Observed: List jumps down a littl

[2019-11-08 12:09] jespino opened #13029 "Removal of unused status flags in Schemes requests state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/schemes.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or

[2019-11-08 12:09] jespino opened #13030 "Removal of unused status flags in Groups requests state object"
Remove unused status flags from https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/groups.js

We have a pattern to track API requests success, failure and progress states by making respective redux actions like

[code]

which modify the redux state of requests object

[code]

Most of these state objects are not needed because we don't consume them either in webapp or

[2019-11-08 12:10] rvillablanca commented on #13026
Hi, I will take this one

[2019-11-08 12:57] jespino opened #13031 "Split tests into subtests or table testing for the file "https://github.com/mattermost/mattermost-server/blob/master/model/file_info_test.go""
Split tests into subtests or table testing for the file "https://github.com/mattermost/mattermost-server/blob/master/model/file_info_test.go"

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost c

[2019-11-08 12:57] larkox commented on #13031
May I take this one?

[2019-11-08 14:46] hmhealey commented on #13011
@larkox Good catch! My testing was right before that went in, so it's no longer needed

[2019-11-08 14:46] #13011 closed

[2019-11-08 14:47] #6699 closed

[2019-11-08 14:55] lelandhwu commented on #10327
Hey guys - it looks like I won't be able to contribute to this for the time being. Sorry for the delay. It would be best to unassign me.

[2019-11-08 15:56] hahmadia opened #13034 "URGENT: WebApp does not allow logging in and displays "please enter your password""
#### Summary
I suspect that https://github.com/mattermost/mattermost-webapp/commit/5e89abcbfafadb3c0b070121d8884a84c3a68e12 introduces a bug which breaks the WebApp and does not allow a user to sign in.

#### Steps to reproduce
1. Check out the latest master branch on WebApp repo
2. Try to login into any account

#### Expected behavior
Able to login without error

#### Observed behavior (that appe

[2019-11-08 16:34] RajatVaryani opened #13035 "Issue while searching user"
#### Summary
Something wrong while tagging a person in thread.

#### Steps to reproduce
1. Go to any thread
2. Search for `@chris`

**The issue is only for `@chris.jeanty `**

#### Expected behavior
Search should be displaying result in a proper way

#### Observed behavior (that appears unintentional)
![image](https://user-images.githubusercontent.com/37879062/68493874-52b04600-0273-11ea-9e7c-0217

[2019-11-08 17:25] amyblais commented on #13034
@hahmadia Are you not able to log in to the community servers?

[2019-11-08 17:30] larkox commented on #12272
May I take this one?

[2019-11-08 17:43] rvillablanca commented on #13026
Assigned PR https://github.com/mattermost/mattermost-utilities/pull/18

[2019-11-08 17:49] amyblais commented on #13034
Ticket open to fix: https://mattermost.atlassian.net/browse/MM-19995.

[2019-11-08 17:55] amyblais commented on #13035
@RajatVaryani What version of Mattermost did you see this issue on?

[2019-11-08 17:55] RajatVaryani commented on #13035
@amyblais This is happening on the community server.

[2019-11-08 19:18] #13031 closed

[2019-11-08 19:24] flakjacket95 opened #13038 "Disabling email notifications disable verification emails and test emails"
#### Summary
When email notifications are disabled, all other server emails are disabled as well (this includes email verification emails, and even the test SMTP settings email). Mattermost server version: 5.15.0

#### Steps to reproduce
Not Sending Test Email
1. Log into the server System Console.
2. Setup SMTP settings and send a test email, confirm it arrived and settings are properly setup
3.

[2019-11-08 19:26] #13038 closed

[2019-11-08 19:27] flakjacket95 commented on #13038
Resolved in version 5.16,

[2019-11-08 19:36] amyblais commented on #13035
What OS and version are you on?

[2019-11-08 20:01] ChrisDobby commented on #12855
I'll pick this one up if that's OK?

[2019-11-08 20:15] jasonblais commented on #12855
@ChrisDobby That would be great, thank you!!

There is some work in progress for archived channels via https://github.com/mattermost/mattermost-server/issues/12854, so I'm going to ask @crspeller to share if you should take any of that work into account while working on this ticket.

[2019-11-08 21:16] crspeller commented on #12855
@ChrisDobby I think all this work should be in the webapp. So if you want to avoid conflicts you can check out https://github.com/mattermost/mattermost-webapp/pull/4116 and base your PR off of that branch. When it gets merged you can rebase off master.

[2019-11-09 02:42] hahmadia commented on #13034
Fixed in https://github.com/mattermost/mattermost-webapp/pull/4170

[2019-11-09 02:42] #13034 closed

[2019-11-09 04:32] jespino commented on #12302
Great @a-arias

[2019-11-09 04:32] jespino commented on #12272
Sure!

[2019-11-09 04:34] RajatVaryani commented on #13035
@amyblais I am on macOS Mojave Version `10.14.6`.

[2019-11-09 12:21] larkox commented on #12272
At least on the current version, I am not able to get Cypress to do this. Whenever I ask Cypress to click anywhere in the element, it just activate the focus and get to the end of the line. This behaves different if I am the one manually making the click.

Therefore, I think this is not possible to automatise under the restrains of Cypress.

[2019-11-09 16:00] MathewtheCoder commented on #13009
@mattermod I would like to take this up ?

[2019-11-09 18:26] MathewtheCoder commented on #13010
@mattermod What should be the labels for both buttons. Can I give **Info** and **Search** as labels ?

[2019-11-09 20:59] ilgooz opened #13040 "plugin API: InstallPlugin() does not work"
#### Summary
Plugin API is using `net/rpc` to communicate with Mattermost server.

`net/rpc` is using `encoding/gob` to decode/encode Go types.

`plugin.API.InstallPlugin(r io.Reader, replace bool)` accepts a reader `r` to upload plugin context to Mattermost server through `net/rpc`. But `encoding/gob` seems to not support reader implementations.

`encoding/gob` tries to resolve any interface type

[2019-11-09 21:09] ilgooz commented on #12944
This bug https://github.com/mattermost/mattermost-server/issues/13040 is blocking us. We're not able to implement this plugin without workarounds before this bug is getting solved.

[2019-11-10 13:12] ilgooz commented on #13040
Can you assign this one to me please? I already have a working fix where I adopt the same solution with https://github.com/mattermost/mattermost-server/pull/9169.

The PR should be coming soon.

Thanks!

[2019-11-10 17:35] Vitao18 commented on #10627
Hey, Can I take this one?

[2019-11-10 17:37] jasonblais commented on #10627
@Vitao18 Certainly! If you have any questions as you work on it, don't hesitate to let us know!

[2019-11-10 18:50] letsila commented on #10788
hey @hanzei, I am sorry I lost a little bit track of this issue but I am still on it. I have a question though. The steps to reproduce the issue are not pretty clear. What kind of link should so I could open the channel on the mobile app? Actually I tried to use the `mattermost://` uri scheme but it seems to not working as expected.

[2019-11-10 21:35] larkox commented on #12298
May I take this one?

[2019-11-10 21:37] larkox commented on #12292
Hello Saturnino. Before taking on this one, would you mind explaining what you mean with RHS? I am not sure what you are referring to, so before getting into this issue I would like to know what it is so I can see if I can take on it.

[2019-11-10 21:41] larkox commented on #12004
May I take this one? Also, while taking care of it, does it make sense to port it to typescript?

[2019-11-11 04:47] allenlai18 commented on #12267
I am working on this.

https://github.com/mattermost/mattermost-webapp/pull/4173

[2019-11-11 06:29] #12449 closed

[2019-11-11 08:52] jmairboeck opened #13044 "System message when a mentioned user is not in the channel is grammatically wrong in German"
#### Steps to reproduce
Have Mattermost in German and write a message mentioning a user who is not in the current channel.

#### Expected behavior
The system message that follows this should be grammatically correct.

#### Observed behavior (that appears unintentional)
The following message appears:

This appears to be a literal translation of the English "singular they" to avoid pronoun issues. H

[2019-11-11 09:02] hanzei commented on #13009
Thanks for working on this @MathewtheCoder :+1:

[2019-11-11 09:15] jespino commented on #12004
@larkox I guess so, now the `mattermost-redux` repo is migrated to typescript we can start to migrate this kind of things to typescript too. But I would do that in another PR and probably with another issue.

[2019-11-11 09:21] hanzei commented on #10327
Hey @lelandhwu,

Thanks for the heads up and thanks for looking into this issue.

[2019-11-11 13:11] amyblais commented on #13035
@RajatVaryani Are you seeing this issue consistently? Is this on webapp or desktop app?

[2019-11-11 13:15] #12456 closed

[2019-11-11 15:28] jasonblais commented on #12855
@crspeller Does it need any changes in the mattermost-mobile repo for mobile changes?

[2019-11-11 15:28] saturninoabril commented on #12285
PR has been merged.  Thank you @larkox for your contribution!

[2019-11-11 16:35] mgdelacroix opened #13046 "Add unit tests to "LogsCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `LogsCmd` command, in the `commands/

[2019-11-11 16:51] ilgooz commented on #12944
We have a working prototype of _marketplace-addon_ now at: https://github.com/ilgooz/mattermost-plugin-marketplace-addon/pull/3

I’ve created the structure, implemented the main, updater and other dependency packages and made necessary connections between the logic. Also, initialized the `notifier` package with its public facing APIs for @RajatVaryani you to do the actual implementation.

Plugin i

[2019-11-11 17:02] crspeller commented on #12855
@jasonblais @ChrisDobby Yes. This will need mobile changes as well.

[2019-11-11 17:17] lieut-data commented on #10347
@Pomyk, wow this is a terrific analysis -- thank you!

Would you be open to sharing your setup and testing strategy? We'd likely want to replicate your setup both with a loadtest (https://github.com/mattermost/mattermost-load-test) and possibly even on our community Mattermost instance, given the potential presence of enterprise-only queries and such.

@reflog and @streamer45, would it make sense

[2019-11-11 18:00] zujko commented on #13046
I can pick this up

[2019-11-11 18:01] mgdelacroix commented on #13046
Great, thanks for working on this @zujko! :tada:

[2019-11-11 18:08] #12484 closed

[2019-11-11 18:11] RajatVaryani commented on #13035
Yes I am facing it consistently. It's desktop app.

[2019-11-11 18:26] mgdelacroix opened #13047 "Add unit tests to "UserDeactivateCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `UserDeactivateCmd` command, in the

[2019-11-11 18:26] mgdelacroix opened #13048 "Add unit tests to "UserCreateCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `UserCreateCmd` command, in the `com

[2019-11-11 18:26] mgdelacroix opened #13049 "Add unit tests to "UserInviteCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `UserInviteCmd` command, in the `com

[2019-11-11 18:26] mgdelacroix opened #13050 "Add unit tests to "SendPasswordResetEmailCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `SendPasswordResetEmailCmd` command,

[2019-11-11 18:57] larkox commented on #13049
May I take this one?

[2019-11-11 18:57] mgdelacroix commented on #13049
Sure! All yours @larkox!!

[2019-11-11 19:33] #12285 closed

[2019-11-11 19:36] #12953 closed

[2019-11-11 20:04] jespino opened #13051 "Update manifest.go to include entire plugin manifest."
Update `build/manifest.main.go` to dump the entire manifest from `plugin.json` into `server/manifest.go` instead of just the two fields listed there now. The declared type can just be `model.Manifest` from the `github.com/mattermost/mattermost-server/model` package.

This will enable plugins to reference their own manifests programmatically without having to parse the `plugin.json` manually.

----

[2019-11-11 20:08] ilgooz commented on #13051
I'll take this one, thanks!

[2019-11-11 20:08] lieut-data commented on #13051
Thanks, @ilgooz!

[2019-11-11 20:55] andrewbrown00 commented on #12617
@avasconcelos114 thanks for bringing these issues up, sorry for the delayed response.

**Here's my feedback for the following items:**

I noticed what appears to be a `mixed` mediaType on the native messages app on my Pixel 3a, but that's after I tap the expand icon button. Has the mediaType been updated recently or is Android doing something else here?

After tapping the camera icon | After tappi

[2019-11-11 21:42] Pomyk commented on #10347
Most of the work was reading code and extracting example queries. Usually you can guess which indexes would be used just by looking at the query, but I have also used explain on the more complicated ones in mysql and postgres.
I have also used https://www.percona.com/doc/percona-server/LATEST/diagnostics/user_stats.html from Percona as it's easier to find used indexes than with performance_schema.