[2021-09-29 14:24] wiggin77 commented on #18484
This may be a nginx or haproxy config issue. It would be helpful to review the configuration of these, sanitized if needed.

[2021-09-29 14:32] Szymon-Rysztof commented on #18484
Ok, so haproxy is:
[code]
Frontend listening on *:80 is just simple http2https redirect, so i don't think that this is important. Other settings from Global and defaults, does not interfere with Headers/cookies, they contain simple L4 settings, so again, i don't think that they are important (But in case, i can attach them if you want).
Nginx is basically default from old mattermost-docker reposit

[2021-09-29 15:05] streamer45 commented on #18320
@aguinet Just letting you know this has been merged today (in https://github.com/mattermost/mattermost-webapp/pull/8849) so expect to have this available in future MM versions. I am going to close this now.

[2021-09-29 15:05] #18320 closed

[2021-09-29 16:54] aguinet commented on #18320
@streamer45 This is very nice & cool, thanks a lot! I am looking forward to see this in the next mattermost release :)

[2021-09-29 23:28] drobiu commented on #18482
Hey, can I try tackling that issue?

[2021-09-30 02:57] maknop commented on #17272
Hey @devinbinnie. This is my first time working on an open source project but I would love to try this issue out if that is alright?

[2021-09-30 03:12] anoopmsivadas commented on #18486
Hi, Can I would like to work on this

[2021-09-30 03:59] maknop commented on #17272
I am looking through the code and it just looks like this task has already been completed? I could be wrong but these files are .tsx files already.

[2021-09-30 04:08] maknop commented on #17271
Hey @devinbinnie. I can take this one. This is my first time contributing to an opensource project.

[2021-09-30 04:22] AshishDhama commented on #18486
@anoopmsivadas All yours 👍

[2021-09-30 14:24] jpetazzo opened #18493 "Custom emoji UI gives 404 when MM is on a subdirectory"
#### Summary

When Mattermost is using a subdirectory (e.g. SiteURL is https://mysite.com/mattermost), the "Custom Emoji" link (in the emoji picker in the web client) gives a 404 error.

It links to https://mysite.com/myteam/emoji instead of https://mysite.com/mattermost/myteam/emoji.

If I access https://mysite.com/mattermost/myteam/emoji manually, I get the custom emoji page, and I can add custo

[2021-09-30 14:31] jpetazzo commented on #18493
This might be the place that needs to be fixed:

https://sourcegraph.com/github.com/mattermost/mattermost-webapp/-/blob/components/emoji_picker/components/emoji_picker_preview.jsx?L30

...Unsure how to get SiteURL from there, though 🤔

[2021-09-30 15:02] amyblais commented on #18493
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-38951

[2021-09-30 16:45] mattermod opened #18494 "Scroll the playbook run details to the top when finishing"
The “Finish run” prompt for a playbook is rendered below all the checklists:

![image](https://user-images.githubusercontent.com/1023171/135499643-a55651f9-0ee8-4dc8-8092-c105f49e1f4f.png)

After finishing the run, let’s scroll the RHS to the top to emphasize the state change visible at the top:

![image](https://user-images.githubusercontent.com/1023171/135499656-aa7f5a79-e1b4-4558-839b-05fdf1aa3

[2021-09-30 17:45] mattermod opened #18495 "Remember original author of status post"
Now that the playbooks bot actually posts the status updates, the playbook overview details on the author is not terribly interesting:

![image](https://user-images.githubusercontent.com/1023171/135626589-61ec3a68-bf85-45ea-ba7f-037430a20d62.png)

Let’s improve this by remembering the original author of the status post. Add an `OriginalUserID` field to our `IR_StatusPosts` table, and update the ov

[2021-09-30 18:03] devinbinnie commented on #17272
Hey @maknop, looks like you're correct! I'll close this issue, thanks for letting us know :)

[2021-09-30 18:03] #17272 closed

[2021-09-30 18:12] maknop commented on #17271
Thank you 😄

[2021-09-30 18:58] nimitarora commented on #18494
I'm interested in contributing.

[2021-09-30 20:31] pikami commented on #18408
I'm grabbing this one.

[2021-10-01 05:43] MohammedBajuaifer commented on #18377
Hi @mattermod @lieut-data, would like to work on this one

[2021-10-01 07:24] gtanczyk commented on #18448
I will take this one.

[2021-10-01 08:26] gagandeepp commented on #12486
@devinbinnie I would like to work on this?

[2021-10-01 08:35] hanzei commented on #16199
https://github.com/mattermost/mattermost-server/pull/16358 can be used as a starting point.

[2021-10-01 11:34] Szymon-Rysztof commented on #18484
@wiggin77 @amyblais
Any news in this case?

[2021-10-01 13:18] lieut-data commented on #18448
Thanks, @gtanczyk!

[2021-10-01 13:21] lieut-data commented on #18306
@thevibhu, I've marked this back for "Up For Grabs" for now -- please let me know if you're still interested :)

[2021-10-01 13:25] lieut-data commented on #18494
Thanks, @nimitarora! Let me know if I can help in any way :)

[2021-10-01 13:41] #17788 closed

[2021-10-01 13:58] wiggin77 commented on #18484
Thanks for the config info @Szymon-Rysztof.  Can you try adding `proxy_http_version 1.1;` to both sections of your nginx config?  e.g.
[code]

[2021-10-01 14:15] Szymon-Rysztof commented on #18484
@wiggin77
Sadly, it didn't help.
It's only web container, so perhaps i can try to remove it and use one from new docker repository?

[2021-10-01 14:27] joshalling commented on #18377
I can take this one

[2021-10-01 14:30] wiggin77 commented on #18484
Thanks @Szymon-Rysztof.  I'll get help from the rest of the team.

[2021-10-01 14:40] wiggin77 commented on #18484
@Szymon-Rysztof, this thread seems to match your issue.  https://community.mattermost.com/core/pl/az6sg4toxfdeireuzs5z4t6hjr.  In short it may be [HTTP Strict Transport Security](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) causing this.

[2021-10-01 14:51] lieut-data commented on #18377
Thanks, @joshalling!

[2021-10-01 15:30] #17787 closed

[2021-10-01 15:31] #17786 closed

[2021-10-01 16:15] namreg commented on #18306
I would like to work on this if possible.

[2021-10-01 17:17] agnivade opened #18498 "Migrate from gorp to sqlx in store/sqlstore/cluster_discovery_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/cluster*discovery*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetRepl

[2021-10-01 17:17] agnivade opened #18499 "Migrate from gorp to sqlx in store/sqlstore/command_webhook_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/command*webhook*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplic

[2021-10-01 17:17] agnivade opened #18500 "Migrate from gorp to sqlx in store/sqlstore/compliance_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/compliance_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` w

[2021-10-01 17:17] agnivade opened #18501 "Migrate from gorp to sqlx in store/sqlstore/job_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/job_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which re

[2021-10-01 17:18] agnivade opened #18502 "Migrate from gorp to sqlx in store/sqlstore/group_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/group_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-01 17:18] agnivade opened #18503 "Migrate from gorp to sqlx in store/sqlstore/command_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/command_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` whic

[2021-10-01 17:18] agnivade opened #18504 "Migrate from gorp to sqlx in store/sqlstore/file_info_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/file*info*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` wh

[2021-10-01 17:24] #18245 closed

[2021-10-01 17:52] lieut-data commented on #18306
Thanks, @namreg! Let me know if I can help in any way :)

[2021-10-01 18:09] namreg commented on #18306
@lieut-data I've created PR. I hope that I've understood the issue correctly :)

[2021-10-01 18:18] namreg commented on #18504
I would like to work on this.

[2021-10-01 18:27] lieut-data commented on #18306
Thanks, @namreg! I've invited two of our staff to review your changes :)

[2021-10-01 18:45] mattermod opened #18506 "Support emoji/user/channel autocomplete in playbook description"
When editing the description of an active playbook run, add support for the usual emoji/user/channel autocomplete prompts. These values correctly resolve after being typed, but the usual prompts and aids are missing:

![image](https://user-images.githubusercontent.com/1023171/135854170-5e0916a3-5333-4357-b7f1-7491fcf52f74.png)

Compared to the post input:

![image](https://user-images.githubuserco

[2021-10-01 18:45] mattermod opened #18507 "Focus checklist name when creating new checklist"
When editing a playbook and adding a new checklist, focus the checklist name instead of the first task’s name:

![](CleanShot 2021-10-01 at 15.34.36@2x-20211001-183442.png|width=1235,height=314)

Clicking “New checklist” above should focus the “New stage” instead of “Task name”:

![](CleanShot 2021-10-01 at 15.34.53@2x-20211001-183456.png|width=289,height=51)

----
If you're interested please comm

[2021-10-01 18:45] mattermod opened #18508 "Disallow status update reminders in the past"
When filling out the status update dialog for an active playbook run, the reminder timer can be set in the past:

![](image-20210921-181230.png|width=582,height=167)

This doesn’t make any sense, so let’s find a way to disallow that.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our dai

[2021-10-01 18:45] mattermod opened #18509 "Hide navigation header when editing a playbook"
It is confusing having a top-level navigation header (Runs, Playbooks, Settings, Give Feedback) along with a header for editing the playbook:

![image](https://user-images.githubusercontent.com/1023171/135853467-5cd7f792-5ca7-461c-904b-20465eb7fd4b.png)

It’s too easy to click “Settings”, mistakenly thinking about the settings of the playbook in question. As a short-term workaround until we have a

[2021-10-01 18:45] mattermod opened #18510 "Focus retrospective textbox on clicking edit"
When clicking edit on the retrospective tab for a playbook run, it would be helpful for the window to focus the corresponding input box:

![](CleanShot 2021-10-01 at 15.30.29@2x-20211001-183042.png|width=1192,height=658)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build serv

[2021-10-01 18:45] mattermod opened #18511 "Disallow selecting archived channels as broadcast channels"
When editing a playbook, and configuring a broadcast channel, it should not be possible to select an archived channel.

Effect the following changes:

  * Disallow picking an archived channel when configuring a playbook. If a playbook already has an archived channel configured, show `Unknown channel` like we do for channels the user doesn’t have access to.
  * If an incident is started with a play

[2021-10-01 20:11] lex111 commented on #17954
@lieut-data I tried tackle it, please take a look at my PR https://github.com/mattermost/mattermost-plugin-playbooks/pull/781

[2021-10-01 20:12] a-sambhab commented on #17951
Hey, @mattermod can i work on this?

[2021-10-01 20:15] mattermod opened #18512 "Convert: Playbooks -> Runs-List"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

![image](https://user-images.githubusercontent.com/11724372/135681434-df8517ab-1c43-4706-bcba-32bacd97db7e.png)

For more details and instructions, see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151).

----
If you're interested pl

[2021-10-01 20:52] lieut-data commented on #17954
Awesome! I've asked @crspeller to take a look :)

[2021-10-01 22:18] gupsho commented on #18501
I can take this.

[2021-10-01 22:18] gupsho commented on #18503
I can take this.

[2021-10-02 03:21] kaitrin commented on #17957
I'd like to take this! I've gotten my environment up and running, and have been able to confirm that I've found the right component for the scss file.

[2021-10-02 03:39] agnivade commented on #18501
Thank you @gupsho !

[2021-10-02 03:40] agnivade commented on #18504
Thank you @namreg ! Let me know if you have any questions.

[2021-10-02 04:12] kaitrin commented on #17955
I'd like to take this! I just put one of the other style migrations into PR and would love to knock out another. 🙂

[2021-10-02 04:17] ankitakash2007 commented on #18512
Hi Caleb👋🏻 , can I take this one ?

[2021-10-02 04:56] kaitrin commented on #17958
I think this was moved to `webapp/src/components/backstage/runs_list/runs_list.scss`. If so, I'd love to take it!

[2021-10-02 05:10] dazzlerkumar commented on #17958
I'm up for contributing to this.

[2021-10-02 05:13] dazzlerkumar commented on #17952
I can do this. Please consider me as an assignee.

[2021-10-02 07:06] maknop commented on #17271
So I was looking through the code and it appears the files have already been changed on this one as well. Issue #17272 also was completed when I was trying to look at it. Am I wrong? Sorry, still new to this, haha.

[2021-10-02 11:42] wweverma1 commented on #18509
@mattermod I'm interested in contributing to this issue and would like to know more about it.
Also I can't access this image.

[2021-10-02 13:40] penthaapatel commented on #18500
Hi! I would like to work on this.

[2021-10-02 13:40] agnivade commented on #18500
All yours @penthaapatel !

[2021-10-02 22:01] spinales commented on #18499
@agnivade I'll try, please can you assign it to me

[2021-10-02 23:14] ac83943 opened #18513 "Joining a channel without permission to leads to inconsistent errors"
#### Summary
Depending on how you attempt to join a channel the UI is inconsistent in breaking / showing a misaligned error message.

#### Steps to reproduce
Give yourself invalid permissions to join a channel (e.g. group restrictions).  An easy way of doing this is to add the following lines onto the start of /api4/channel.go:addChannelMember:

[code]

Then try to join the channel that you have g

[2021-10-02 23:47] shinnlok commented on #18165
I can take this!

[2021-10-03 03:14] agnivade commented on #18499
All yours!

[2021-10-03 03:45] mattermod opened #18514 "Convert: Playbooks -> Run-Overview"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151|smart-link).

![image](https://user-images.githubusercontent.com/11724372/135738779-d82834a7-497e-42ce-9e42-0188d4d510e6.png)

----
If yo

[2021-10-03 03:47] joshalling commented on #17924
It looks like this was already completed in this PR: https://github.com/mattermost/mattermost-plugin-playbooks/pull/703

[2021-10-03 04:00] mattermod opened #18515 "Convert: Playbooks -> Run-Retrospective"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151|smart-link).

![](CleanShot 2021-10-02 at 22.55.24@2x-20211003-035734.png|width=100%)

----
If you're interested please comment here and

[2021-10-03 04:15] mattermod opened #18516 "Convert: Playbooks -> Playbooks-List"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151).

![CleanShot 2021-10-02 at 23 05 39@2x](https://user-images.githubusercontent.com/11724372/135739555-5045b332-abfc-480b-99e2-fbcf7420ae

[2021-10-03 04:31] joshalling commented on #18485
I'll try this one if that's alright.

[2021-10-03 04:43] gupsho commented on #18501
@agnivade I am trying to complete the dev setup on my mac but getting error. Any idea on how to fix this?

[code]

[2021-10-03 06:40] agnivade commented on #18501
The docker repo `jhillyerd/inbucket` was replaced with `inbucket/inbucket`. Can you check if you are on the latest master?

[2021-10-03 07:51] Zeezee1210 commented on #17904
Hi @lieut-data,
I'd like to take this please.

[2021-10-03 08:09] himanshu007-creator commented on #18516
Hi, i would like to work on this issue, can you guide me further ^_^?

[2021-10-03 09:37] shankernaik commented on #18514
@calebroseland  @mattermod Please assign this to me.

[2021-10-03 09:38] shankernaik commented on #18515
@calebroseland @mattermod please assign this to me

[2021-10-03 10:16] lieut-data commented on #17904
Thanks, @Zeezee1210!

[2021-10-03 10:58] Pretty-19 commented on #18515
Hi @mattermod  is this issue available to be taken up?

[2021-10-03 11:15] achie27 commented on #18498
I would like to work on this.

[2021-10-03 12:01] shadowshot-x commented on #18514
I am interested in contributing to this issue. Can you assign me or provide me with the next steps?

[2021-10-03 12:03] gagandeepp commented on #12486
https://github.com/mattermost/mattermost-webapp/pull/9022

[2021-10-03 12:03] gagandeepp commented on #12486
@devinbinnie  how to remove release note label removed?

[2021-10-03 12:22] a-sambhab commented on #17951
Hey, @amyblais should i delete the playbook.scss file after completing migration??

[2021-10-03 12:53] iOSGeekster commented on #17267
I would like to take a go on this issue :-)

[2021-10-03 13:04] MagnaibayarMN commented on #18507
Hello @mattermod ! Can I take this one?

[2021-10-03 14:21] nathanaelhoun commented on #17763
Hi! Heads up that this issue has been resolved, the issue does not appear in 5.38. Thanks a lot @aileenpalafox!
![image](https://user-images.githubusercontent.com/45119518/135757920-b6e48412-8f10-45a1-a13a-a4aad146fa27.png)

[2021-10-03 15:12] pikami commented on #18502
I'm grabbing this one.

[2021-10-03 15:30] cinlloc commented on #17269
I would like to work on this one :hand:

[2021-10-03 15:53] alejandrovelez7 commented on #18185
I'd like to give this a shot if it's available :) I've filled out the contributor agreement but lmk if I need to do anything else!

[2021-10-03 16:22] penthaapatel commented on #18500
I have a few questions on handling the named params in SQL query strings.
In the file `store/sqlstore/compliance_store.go`, the `channelsQuery` string contains nested queries like `emailQuery` and `keywordQuery` ref - https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/compliance_store.go#L125-L167

The args for the SQL query are read from the `props` map which is populated

[2021-10-03 16:36] spinales commented on #18499
#18517

[2021-10-03 16:44] spinales commented on #18502
@agnivade  I'll try, please can you assign it to me

[2021-10-03 19:10] LSantos06 commented on #16706
Hi! I can work on this issue

[2021-10-03 19:27] cinlloc commented on #17264
I would like to take this one :hand:

[2021-10-03 19:38] SezalAgrawal commented on #18495
Can I pick this issue?

[2021-10-03 19:39] SezalAgrawal commented on #18495
Can I pick this issue?

[2021-10-03 21:27] neszt commented on #18294
In the new mattermost version, I was surprised to find that the previous function (ctrl + k) has changed and there is no shortcut to quickly find my unread messages. It was a great feature and I say this as a non power user. The new recent list has negligible benefits for me, so +1 point for the old functionality.

[2021-10-03 21:59] saturninoabril commented on #18185
Thanks @alejandrovelez7! Will assign reviewers to your PR.

[2021-10-03 22:02] saturninoabril commented on #18165
Sure and thank for your interest @shinnlok!

[2021-10-04 04:06] kaitrin commented on #17735
I'd like to take a stab at this! 🙂

[2021-10-04 06:15] kirkaDev opened #18519 "Emoji list does not scroll correctly (gets stuck)"
I confirm (by marking "x" in the [ ] below: [x]):

- [ ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-10-04 08:22] Szymon-Rysztof commented on #18484
@wiggin77
Not really looking like my issue.
I don't have any problem on Native iOS/Android apps, and my SSL is just fine, haproxy doesn't allow http connections (it redirects everything to https).
So even if there are some similarities, the issue is not the same.

[2021-10-04 09:43] saturninoabril opened #18520 "Write Webapp E2E with Cypress: "MM-T566 New message bar - Displays in permalink view""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T566 New message bar - Displays in permalink view</h1>
<div>
<div>
<h3>Steps </h3>New message bar - &nbsp;Displays in permalink view<br>–––––––––––––––––––––––––<ol><li>User A: Enter "in:town-square" in the search bar and hit ENT

[2021-10-04 09:45] saturninoabril opened #18521 "Write Webapp E2E with Cypress: "MM-T575 /invite-people""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T575 /invite-people</h1>
<div>
<div>
<h3>Steps </h3>/invite_people<br>–––––––––––––––––––––––––<ol><li>Type /invite_people followed by two email addresses</li><li>Press Enter</li></ol><h3>Expected</h3><ul><li>Both email addresses

[2021-10-04 09:51] saturninoabril opened #18522 "Write Webapp E2E with Cypress: "MM-T1233 UP - Other user posts reply to first user's post: Parent post opens for editing for first user""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1233 UP - Other user posts reply to first user's post: Parent post opens for editing for first user</h1>
<div>
<div>
<h3>Steps </h3>1. As UserA make a post
<br>2. As UserB, reply to UserA's post
<br>3. As UserA, click on Reply i

[2021-10-04 09:51] saturninoabril opened #18523 "Write Webapp E2E with Cypress: "MM-T1228 CTRL/CMD+K - Open DM with user not on the current team""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1228 CTRL/CMD+K - Open DM with user not on the current team</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+K - Open DM with user not on the current team<br>–––––––––––––––––––––––––<ol><li>Identify a user who doesn't belong to the sam

[2021-10-04 09:57] AvineshTripathi commented on #18523
can I give this issue a try ? also can you share some resources for the same

[2021-10-04 10:08] saturninoabril commented on #18523
Sure and thanks for your interest @AvineshTripathi!

Please see issue description and let me know if you have questions or would like to know specific resources. For quick info,
- If you're new to Mattermost, then see https://developers.mattermost.com/contribute/getting-started/.
- For docs specific to our end-to-end testing, see https://developers.mattermost.com/contribute/webapp/end-to-end-tests

[2021-10-04 12:13] lieut-data commented on #18495
That would be awesome, @SezalAgrawal! Join us in https://community.mattermost.com/core/channels/developers-playbooks if you'd like to discuss further :)

[2021-10-04 12:14] lieut-data commented on #17951
@a-sambhab, yes, if the rules are no longer applicable, please do delete. We can spot check in review :)

[2021-10-04 12:14] lieut-data commented on #17952
Thank you, @dazzlerkumar! Join us in https://community.mattermost.com/core/channels/developers-playbooks if you'd like to discuss further :)

[2021-10-04 12:15] lieut-data commented on #17958
Thank you @kaitrin and @dazzlerkumar -- I'll assign @kaitrin for now. Feel free to join us in https://community.mattermost.com/core/channels/developers-playbooks if you'd like to discuss further :)

[2021-10-04 12:16] lieut-data commented on #17955
Thanks, @kaitrin!

[2021-10-04 12:16] lieut-data commented on #17957
Appreciate that, @kaitrin!

[2021-10-04 12:32] lieut-data commented on #18516
Hey @himanshu007-creator! Allow me to connect you with @calebroseland as the architect behind this ticket. Caleb, can you help point @himanshu007-creator in the right direction? Also, feel free to join us in https://community.mattermost.com/core/channels/developers-playbooks to discuss further :)

[2021-10-04 12:41] lieut-data commented on #18507
Thanks so much, @MagnaibayarMN! Feel free to join the discussion at https://community.mattermost.com/core/channels/developers-playbooks. I've also fixed the screenshots :)

[2021-10-04 12:44] lieut-data commented on #18509
Thanks, @wweverma1! I've fixed the image -- the header in question is the "Runs" / "Playbooks" / "Settings" / "Give Feedback" that users have reported as being distracting when editing a playbook. Feel free to join https://community.mattermost.com/core/channels/developers-playbooks to discuss further :)

[2021-10-04 12:56] lieut-data commented on #18514
Thanks @shadowshot-x! @calebroseland, can you connect with @shadowshot-x on any next steps? And feel free to join https://community.mattermost.com/core/channels/developers-playbooks to discuss with the team :)

[2021-10-04 12:59] amyblais commented on #18519
@kirkaDev
1. Are you able to reproduce it with Desktop app v4.7.2?
2. What Mattermost server version are you on (Main Menu > About Mattermost)?
3. Are there any errors in Mattermost logs?

[2021-10-04 13:01] amyblais commented on #18513
@ac83943
1. What Mattermost server version are you on?
2. What OS and version are you on?

[2021-10-04 13:13] idiglove commented on #18510
Hi, can I take on this one?

[2021-10-04 13:24] devinbinnie commented on #12486
You have to add the NONE in the release-note block. I've done it for you on your PR.

[2021-10-04 13:26] devinbinnie commented on #17271
@maknop Looks like we still need to migrate `channel_controller.jsx` and its test so we can do that as part of this ticket.

[2021-10-04 13:47] kirkaDev commented on #18519
1. Yes, in version v.4.7.2 everything is ok.
2. Server version is v.5.34.2

Sorry to bother you in vain.

[2021-10-04 13:50] #18519 closed

[2021-10-04 13:56] calebroseland commented on #18516
Hey @himanshu007-creator! Thanks for taking this up. For the technical steps, the feature epic https://mattermost.atlassian.net/browse/MM-38151 has a good set of examples, there's also an [example PR](https://github.com/mattermost/mattermost-plugin-playbooks/pull/779/files) where you can see a more holistic picture of what may be involved.

Most of these should be in https://github.com/mattermost/

[2021-10-04 14:07] calebroseland commented on #18514
Hi @shadowshot-x, thanks for your interest in this! For the technical steps, the feature epic https://mattermost.atlassian.net/browse/MM-38151 has a good set of examples, there's also an [example PR](https://github.com/mattermost/mattermost-plugin-playbooks/pull/779/files) where you can see a more holistic picture of what may be involved.

This one's going to start with [playbook_run_backstage.tsx

[2021-10-04 14:50] lieut-data opened #18527 "📋 Playbooks: Help-wanted Tickets"
![Playbooks screenshot](https://user-images.githubusercontent.com/1023171/135873214-5681e513-00c9-48ea-a47d-7f20b21cad7d.png)

Mattermost Playbooks enable reliable and repeatable processes for your teams using checklists, automation, and retrospectives. It ships as part of Mattermost, and we need your help to make it awesome!

Check out the [Playbooks repo](https://github.com/mattermost/mattermost

[2021-10-04 14:58] crspeller commented on #17924
Thanks for pointing that out! I didn't realize this was help wanted when I closed it as a duplicate.

[2021-10-04 14:58] #17924 closed

[2021-10-04 15:10] shadowshot-x commented on #18514
Thank you @calebroseland. I will go through the required files and components to get a better understanding. I will reach out to you if I feel stuck anywhere. :bow:

[2021-10-04 15:21] radiantly commented on #18521
Hi, could I take a go at this?

[2021-10-04 15:52] #17954 closed

[2021-10-04 17:10] lieut-data commented on #17954
Thanks, @lex111!

[2021-10-04 17:13] lieut-data commented on #17957
Thanks, @kaitrin!!

[2021-10-04 17:15] amyblais commented on #18423
### v6.0 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.0.0-rc2/mattermost-team-6.0.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5053/files)

[2021-10-04 17:50] gupsho commented on #18501
@agnivade I am having trouble fixing test for this. One of the fields in Job model is a map. How do I correctly deserialize it while fetching via sqlx?

[2021-10-04 18:48] lieut-data commented on #18510
Thanks, @idiglove! Feel free to join the conversation at https://community.mattermost.com/core/channels/developers-playbooks if we can help in any way :)

[2021-10-04 19:43] cinlloc commented on #17291
I would like to take this one :hand:

[2021-10-04 20:00] mattermod opened #18532 "Remove the cursor pointer when hovering at "Disable notifications until:""
Related to timed DND feature.
GIthub comment - [https://github.com/mattermost/mattermost-webapp/pull/8824#pullrequestreview-756941773](https://github.com/mattermost/mattermost-webapp/pull/8824#pullrequestreview-756941773)

Observed:
1. Hovering over the submenu "Disable notifications until:" title of "Do Not Disturb" shows cursor pointer. It's confusing as it made it look like can be clicked.

Exp

[2021-10-04 20:02] esethna commented on #18294
Thanks for the feedback all, we have some improvement tickets open to bring back some unread functionality to the switcher and still offer recent channels

[2021-10-04 22:30] mattermod opened #18535 "Playbooks -> Playbook-Edit-Templates"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link](https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link|smart-link) .

![](CleanShot 2021-10-04 at 17.22.01@2x.png|width=83.33333333333334%)

Note: the above numbered

[2021-10-04 22:30] mattermod opened #18536 "Convert: Playbooks -> Playbook-Edit-Checklists"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link](https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link|smart-link) .

![](CleanShot 2021-10-04 at 17.13.08@2x.png|width=100%)

Note: the above numbered call-outs may

[2021-10-04 22:45] mattermod opened #18537 "Convert: Playbooks -> Playbook-Edit-Permissions"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link](https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link|smart-link) .

![](CleanShot 2021-10-04 at 17.40.07@2x (5a5a2dd1-ce6f-4af8-a9df-890d7164def8).png|width=100%)

[2021-10-04 22:45] mattermod opened #18538 "Convert: Playbooks -> Playbook-Edit-Actions"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151) .

![image](https://user-images.githubusercontent.com/11724372/135935314-38496a06-3bd7-47c8-b4ef-6e5ac728217c.png)

Note: the above numb

[2021-10-04 23:36] #16921 closed

[2021-10-04 23:36] esethna commented on #16921
This was completed internally

[2021-10-04 23:36] #16918 closed

[2021-10-04 23:36] esethna commented on #16918
Completed internally

[2021-10-04 23:39] esethna commented on #16226
@bitsapien let us know if you'd like to take this for hacktoberfest? :)

[2021-10-04 23:41] esethna commented on #16100
@hmhealey @BenCookie95 just checking if the linked PR is still blocked?

[2021-10-04 23:41] esethna commented on #15658
Completed internally

[2021-10-04 23:41] #15658 closed

[2021-10-04 23:42] esethna commented on #15652
@TheDarkestDay just checking if you're still working on this?

[2021-10-05 01:40] rkaranam commented on #18532
I would like to work on this issue. Can someone please assign it to me?

[2021-10-05 04:02] kaitrin commented on #18508
I'd love to pick this up!

[2021-10-05 06:12] agnivade commented on #18500
Excellent question @penthaapatel !

You can take a look here: https://github.com/mattermost/mattermost-server/pull/18300/files#diff-dd10adea091a6ea3cb5b9239d16743fb877678371485f290557f51cce92ee935L107 for a similar use-case.

Essentially, have a slice `var args []interface{}` and you would want to append to the slice every time you set the `props` map. And then pass `args...` in the `Select` metho

[2021-10-05 06:44] aloks98 commented on #18532
Taking up this issue.

[2021-10-05 06:56] TheDarkestDay commented on #15652
@esethna thanks for checking in.

I am terribly sorry for this slow pace of mine this time, but I am still on track to finish it. I have finished everything feature-wise, only quality things are left - unit tests and bugfixes.

[2021-10-05 07:10] agnivade commented on #18501
You might need to define a `.Value` method for the type. See here: https://github.com/mattermost/mattermost-server/pull/18302/files#diff-119bd49e31c4422d964f568de80629100dd00e364a6f97b685c50f94b313a1c4R78-R80 as an example.

Or otherwise what you are doing is also fine.

[2021-10-05 07:50] #15744 closed

[2021-10-05 09:43] joremysh commented on #18520
I would like to work on this.

[2021-10-05 09:48] saturninoabril commented on #18520
Sure and thanks for your interest @joremysh!

[2021-10-05 10:39] ac83943 commented on #18513
1. This is running Mattermost Server v5.39.
2. My OS is MacOS 11.6.

Operating system is Firefox, latest version.

[2021-10-05 11:48] shadowshot-x commented on #18515
I am interested in this issue. I am already working on [Convert: Playbooks -> Run-Overview](https://github.com/mattermost/mattermost-server/issues/18514). I have a good understanding of the issue and I am willing to contribute

[2021-10-05 12:24] amyblais commented on #18532
@aloks98 FYI, I assigned it to @rkaranam as he commented first. :)

[2021-10-05 12:35] amyblais commented on #18513
@ac83943 Does this seem similar to this earlier report https://github.com/mattermost/mattermost-server/issues/18284?

A PR to fix it is here: https://github.com/mattermost/mattermost-webapp/pull/8739.

[2021-10-05 13:31] spinales commented on #18502
#18543

[2021-10-05 14:00] mattermod opened #18547 "Rename description to "run summary""
Some of our own teams incorrectly use the `description` template to capture a generic playbook description that never changes as opposed to summary of the specific run.

Propose we rename this field to `Run summary` and be more explicit in the playbook editing screen about the purpose of this box:

  * On `/playbooks/runs/<playbook*run*id>/overview`, change the word `description` to `run summary`,

[2021-10-05 14:00] mattermod opened #18548 "getUserTimezone is poorly memoized"
The `getUserTimezone` selector in `mattermost-redux/selectors/entities/timezones` returns a new object every time it's called, so it'll cause unnecessary rerenders for any component using it.

We should remove `getUserTimezone` and replace it with a selector generated by `makeGetUserTimezone` so that each components' instance of that is memoized separately.

----
If you're interested please commen

[2021-10-05 14:01] a-sambhab commented on #17951
https://github.com/mattermost/mattermost-plugin-playbooks/pull/790 Please review the linked PR for the above issue @amyblais @lieut-data

[2021-10-05 14:04] lieut-data commented on #17951
Thanks @a-sambhab! I've invited @crspeller to take a look at your pull request.

[2021-10-05 14:27] 14ritika commented on #18548
I want to work on this issue.

[2021-10-05 14:38] #18185 closed

[2021-10-05 15:03] penthaapatel commented on #18500
@agnivade The order in which the elements are appended to the slice `args []interface{}` should be same as the order of `?` (for the named parameters) that appear in the SQL query, so that in the resultant SQL query, the correct `args` are correctly substituted in place of all `?` symbols that should hold the named values. Is that correct?

[2021-10-05 15:11] agnivade commented on #18500
That is correct.

[2021-10-05 15:47] penthaapatel commented on #18500
@agnivade The func `ComplianceExport` contains 2 `SELECT` SQL queries - `channelsQuery` and `directMessagesQuery`.
After`channelsQuery` is executed using the slice `args`, for the next SELECT query, that is the `directMessagesQuery`, the `args` may change for the parameters `LastPostCreateAt`, `LastPostId` and `Limit` ref - https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore

[2021-10-05 15:52] #18499 closed

[2021-10-05 15:55] agnivade commented on #18500
Having 2 separate slices sounds like a clean solution to me. It's also easy to modify one without interfering with the other query in the future.

[2021-10-05 16:17] viny1ic commented on #18547
hello i would like to fix this issue

[2021-10-05 16:17] maknop commented on #17271
Sounds good. I'll work on that as well 🙂

[2021-10-05 17:45] dazzlerkumar commented on #17952
Hi @lieut-data , Can you help me to find the `.scss` file. I can't locate it. Thank You

[2021-10-05 17:47] hmhealey commented on #16100
I think it could probably be unblocked now as long as we're careful when implementing it to not re-introduce any performance issues by accessing drafts wrong.

That said, do we still want this if we're adding the global drafts view? 0/5 on that though since I still like the idea of doing this anyway.

[2021-10-05 17:47] chrysillala commented on #18535
hi @calebroseland , I would like to fix this issue. Could you please assign me? Thanks!

[2021-10-05 17:48] chrysillala commented on #18537
hi @calebroseland , I would like to fix this issue. Could you please assign me? Thanks!

[2021-10-05 17:48] chrysillala commented on #18536
hi @calebroseland , I would like to fix this issue. Could you please assign me? Thanks!

[2021-10-05 17:53] calebroseland commented on #18535
All yours, @chrysillala! Let us know if we can be of any help or if you have any questions!

[2021-10-05 17:54] calebroseland commented on #18537
All yours, @chrysillala! Let us know if we can be of any help or if you have any questions!

[2021-10-05 17:54] calebroseland commented on #18536
All yours, @chrysillala! Let us know if we can be of any help or if you have any questions!

[2021-10-05 18:13] BenCookie95 commented on #16100
I can look into doing this on open source Friday!

[2021-10-05 18:18] chrysillala commented on #18535
Thanks @calebroseland ! Could you please provide more details or guidance on where should I make the changes? That would be really helpful for me :) Thank you.

[2021-10-05 18:20] lieut-data commented on #17952
@crspeller, can you help point @dazzlerkumar in the right direction?

[2021-10-05 19:09] hmhealey commented on #18548
Sounds good! Let me know if you have any questions about what needs to change with it.

[2021-10-05 19:26] #17955 closed

[2021-10-05 19:28] esethna commented on #15652
@TheDarkestDay no worries, just checking if you needed any help or guidance. Please let us know!

[2021-10-05 19:38] calebroseland commented on #18535
Sure thing, @chrysillala. This is mostly in `webapp/src/components/backstage/playbook_edit.tsx` where you'll find `<TabContainer/>`s for each of those tabs. For technical steps, this feature/epic has a lot of good info/links that can help get you started https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link%7Csmart-link.

[2021-10-05 19:58] #16100 closed

[2021-10-05 20:02] deepto98 commented on #18538
@calebroseland  Hi, I would like to work on this issue, can you assign this to me?

[2021-10-05 20:07] deepto98 commented on #18522
@saturninoabril I'd like to work on this, can you assign this issue to me?

[2021-10-05 20:24] cinlloc commented on #17252
I take this one :hand:

[2021-10-05 20:42] crspeller commented on #17952
@dazzlerkumar Looks like this one got done without this ticket being closed. Sorry about that!

[2021-10-05 20:42] #17952 closed

[2021-10-05 21:00] mattermod opened #18557 "Convert: (Playbooks) Channels -> RHS-Home"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151) .

![image](https://user-images.githubusercontent.com/11724372/136102940-306b3161-c579-41c2-8359-f5977fb2fc68.png)

Note: the above numb

[2021-10-05 21:00] mattermod opened #18558 "Convert: Playbooks -> Settings"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link](https://mattermost.atlassian.net/browse/MM-38151%7Csmart-link|smart-link) .

![](CleanShot 2021-10-05 at 15.46.04@2x.png|width=66.66666666666666%)

Note: the above numbered

[2021-10-05 21:15] mattermod opened #18559 "Convert: (Playbooks) Channels -> RHS-RunDetails"
These messages are currently hard-coded. Let’s convert them to use `formatMessage` calls so they can be translated.

For more details and instructions, please see [https://mattermost.atlassian.net/browse/MM-38151](https://mattermost.atlassian.net/browse/MM-38151) .

![image](https://user-images.githubusercontent.com/11724372/136103798-6c255bd8-9cde-4603-a1ef-d5f78f8d58e5.png)

Note: the above numb

[2021-10-05 21:32] saturninoabril commented on #18522
Sure @deepto98 and thanks for your interest!

[2021-10-05 23:30] mattermod opened #18561 "Improve channel intro message and illustration"
## The Problem

When a channel is empty or has very few messages, we don’t have a very good empty state. We should look to improve visual impact and the usefulness of the channel’s empty state. This will help orient the user and make it more obvious that the channel is empty and it will hopefully encourage users to engage.

~~--~~

## Proposed Solution

  * Utilize illustrations for channel intros

[2021-10-06 01:15] mattermod opened #18562 "Auto-complete existing sidebar categories"
When configuring the optional sidebar category into which to categorize a new playbook run channel, it would be helpful to auto-complete the current user’s categories:

![image](https://user-images.githubusercontent.com/1023171/136128228-d5e50a65-ed21-49ca-8c00-d08d0c779262.png)

Use the `GetChannelSidebarCategories` Plugin API to enumerate the sidebar categories, and expose them back to the curre

[2021-10-06 01:30] mattermod opened #18563 "Participants list shifts with long title"
When a participant in a run has a long title, hovering over their name reveals a `Message` button and causes the whole column to shift. Let’s avoid the shifting here:

![run-overview](https://user-images.githubusercontent.com/1023171/136128127-3d91e04f-9d1c-4736-b120-6176150e84fa.gif)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://commun

[2021-10-06 01:45] mattermod opened #18564 "Clarify timestamp on recent status updates"
When posting a status update, the timestamp may leave the reader with uncertainty as to the day when this event actually occurred:

![image](https://user-images.githubusercontent.com/1023171/136128034-259fd9d3-051d-4388-8a3d-d2ad77117a92.png)

As compared to a status update that did indeed originate on another day:

![image](https://user-images.githubusercontent.com/1023171/136128045-2605c09e-f81a

[2021-10-06 01:45] mattermod opened #18565 "Update RHS overview to showcase finished state"
Even when a playbook run is finished, the RHS overview page lists it as "currently running":

![image](https://user-images.githubusercontent.com/1023171/136128265-2e3ee055-36a3-42be-b092-e4a4de09b4b1.png)

Let’s update this with an appropriate finished state instead:

![image](https://user-images.githubusercontent.com/1023171/136128317-727b6a06-db93-4587-b168-f72ba64acbdc.png)

----
If you're inte

[2021-10-06 02:00] mattermod opened #18566 "Use natural language when specifying default update timer for playbook"
Instead of a manual input for specifying a custom duration when configuring a playbook’s default update timer:

![image](https://user-images.githubusercontent.com/1023171/136129486-b61f3434-3a23-4706-a457-b7c179b90ff6.png)

Let’s use the natural language parsing introduced with status updates instead:

![image](https://user-images.githubusercontent.com/1023171/136129495-126b21e3-96cc-434a-adef-083

[2021-10-06 02:00] mattermod opened #18567 "Load custom emoji on run overview"
Custom emoji will render fine on the run overview if they have already loaded while in Channels:

![image](https://user-images.githubusercontent.com/1023171/136129528-bd72aa22-e1e4-4037-a980-1f7c2dc9de7b.png)

but won’t reload on a refresh:

![image](https://user-images.githubusercontent.com/1023171/136129539-b0133013-ed91-4c07-b701-48554dcc3290.png)

Let’s add code to the run overview page to mak

[2021-10-06 02:00] shreyavi commented on #18564
I would like to give it a shot, please assign it to me

[2021-10-06 02:15] mattermod opened #18568 "Update Run overview automatically"
Let’s listen for websocket events from the Playbooks plugin and update the run overview page in real-time as changes occur:

<img width="1148" alt="CleanShot 2021-10-06 at 09 53 34@2x" src="https://user-images.githubusercontent.com/1023171/136206099-44de278f-8ee9-4d3f-9130-5ba967dd458f.png">

Specifically, when the user has browsed to `playbooks/runs/{run_id}/`, the state of the run, set of status

[2021-10-06 02:15] mattermod opened #18569 "Make subheaders in RHS sticky"
When scrolling the checklists in the RHS, let’s make the corresponding headers sticky so that it’s always obvious to which checklist any given task belongs:

![](CleanShot 2021-10-05 at 23.02.40@2x-20211006-020244.png|width=395,height=493)

When making this sticky, include the overall `Checklists` header too, since this contains some controls that may be useful when scrolling.

----
If you're inte

[2021-10-06 02:43] alankan886 commented on #18376
Hello, I have unassigned myself since I got a lot busier than I expected. If it's still available later I will loop back for it.

[2021-10-06 03:05] beheradibas commented on #18563
I would like to work on this.

[2021-10-06 07:23] wweverma1 commented on #18509
@lieut-data I was trying to set up mattermost on my local environment.
the mattermost server is working fine i.e. curl returns a json object
While setting up mattermost web app it passes all the tests on running make test,
but when I open it on browser after running it using "make run" nothing appears on  the window just a white screen.
![Screenshot from 2021-10-06 12-46-14](https://user-images.gi

[2021-10-06 10:02] bioinfornatics commented on #1741
Hi @cmsimike I have exactly the same issue but I do not see wich opation I have to update into my gitlab.rb file as I put everywhere convert http to https to true and external url for each services used the https protocol

Thanks for your help

[2021-10-06 10:58] tacoelho commented on #18565
I want to work on this

[2021-10-06 11:00] mattermod opened #18572 "Console error when marking single root post as unread on RHS"
Environment: daily with CRT enabled, (originally found on the PR server, reproduces on daily)

Steps:
1. Create a post by user1
3. Open the post on the RHS as user2
4. As user2, Mark the post as unread using the post menu option or alt+click

Expected: Post is marked as unread

Observed: There is an error on the console.
Not sure if it's related, but there is a test with similar steps that is also

[2021-10-06 11:00] mattermod opened #18573 "CRT permalink is not highlighting a post on a thread that is already open on the rhs"
Environment: split from the PR for follow up https://github.com/mattermost/mattermost-webapp/pull/8418

Steps:
1. Create a long thread with 50+ posts
2. Copy link to one of the first replies and post in channel
3. Leave the thread open on the RHS
4. Click on the link

Expected: Correct post is highlighted on the RHS

Observed: Post is not highlighted. Closing the rhs and clicking on the link works

[2021-10-06 11:00] mattermod opened #18574 "RN: Tapping on a custom status in the message list should open the users profile card"
Currently in the mobile app tapping exactly on a custom status does nothing

Expected: Open the profile card the same way tapping on a username does.

 ![](3F9348F7-A515-41A0-9692-D5CB6D5267A2.jpg|thumbnail)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you

[2021-10-06 11:00] mattermod opened #18575 "CRT: Prevent 'opening thread on post click' when dismissing a popover"
This is split from [https://mattermost.atlassian.net/browse/MM-35722](https://mattermost.atlassian.net/browse/MM-35722)
[https://github.com/mattermost/mattermost-webapp/pull/8342](https://github.com/mattermost/mattermost-webapp/pull/8342)

Steps:
1) (after "post click open thread" is merged) Open profile popover
2) Click outside of the modal, over main channel view, to dismiss it

Expected: Modal

[2021-10-06 11:00] mattermod opened #18576 "Status expiry time resets if you change date after setting it initially"
Just noticed that when I set an expiry date and time for a status the time gets reset when you change the date again.

Steps to repro:

1. set custom status time and date
2. change the date

Expected: time you previously selected is remembered

*Issue created from a_ [_message in Mattermost*](https://community-daily.mattermost.com/core/pl/ch4fyqecyt863g9o97691ia4ga).

----
If you're interested ple

[2021-10-06 11:15] ac83943 commented on #18513
The `loading...` hanging seems to stem from when the API responds to a request to join a channel with:

[code]

<img width="831" alt="Screenshot 2021-10-06 at 12 13 48" src="https://user-images.githubusercontent.com/89583054/136192464-40501e36-e431-4bf5-a2b2-cb3282b081cb.png">

This is not properly handled in the UI, which continues to try to get messages, etc.  These fail, due to not being a part

[2021-10-06 11:17] ac83943 commented on #18513
This should likely be two issues.  One for not handling errors when joining channels.  Another for the weird UI issue when trying to join a channel using the channel browser when you don't have permission.

[2021-10-06 11:30] mattermod opened #18577 "CRT: add removed unit tests on scrolling behavior from thread viewer to virtualized thread viewer"
When we refactored the `ThreadViewer` to a virtualized list ([https://github.com/mattermost/mattermost-webapp/pull/8418/files?authenticity*token=dMe5aQkAE3kXaUBn00i5rSQEzvFLok83uT6kwzGhAerQcvLtKEbTpqUYC4CmnZ9BivfAh12B4PjimWFZgP2YIg%3D%3D&file-filters%5B%5D=.js&file-filters%5B%5D=.jsx&file-filters%5B%5D=.scss&file-filters%5B%5D=.ts&file-filters%5B%5D=.tsx](https://github.com/mattermost/mattermost-w

[2021-10-06 11:30] mattermod opened #18578 "Refactor all tracking events into groups of constants"
We use telemetry by calling in the client `trackEvent('category name', 'event name')` .

Category name, and event name are arbitrary strings, and it would be super nice to have them as constants.

There is already a `TELEMETRY_CATEGORIES` constant (with only a couple defined) in `utils/constants' so we should add there all other telemetry categories we have throughout the app.

We should also crea

[2021-10-06 12:15] mattermod opened #18579 "RHS Search Results: View Thread link button"
The actions menu in search results for threads should change (see image attached).

View thread button should open the thread and highlight the specific post.

![](CleanShot 2021-04-27 at 22.36.05@2x.png|width=83.33333333333334%)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily b

[2021-10-06 12:37] lieut-data commented on #18564
Thanks, @shreyavi!

[2021-10-06 12:37] lieut-data commented on #18563
Appreciate that @beheradibas :)

[2021-10-06 12:38] lieut-data commented on #18562
Thanks, @dunak-debug! If you'd like any extra context, feel free to reach out to @iomodo who has some context into this feature and may be able to provide guidance.

[2021-10-06 12:39] lieut-data commented on #18565
Yay, thank you @tacoelho :D

[2021-10-06 12:42] lieut-data commented on #18509
@cpoile, would you be able to assist @wweverma1 in debugging his development environment?

[2021-10-06 13:04] dazzlerkumar commented on #17952
@crspeller okay 😥

[2021-10-06 13:21] Duaard commented on #18394
I would like to give this one a try 😄

[2021-10-06 13:40] lieut-data commented on #18394
Excellent! Would love your help, @Duaard :)

[2021-10-06 15:45] mattermod opened #18581 "Prompt before discarding unsaved retrospective"
When editing a retrospective, let’s prompt the user before allowing them to navigate away from this page without saving the retrospective:

![image](https://user-images.githubusercontent.com/1023171/136243449-876625b1-3798-4e06-beed-20045491b982.png)

Use a dialog similar to trying to leave a playbook edit without saving:

![image](https://user-images.githubusercontent.com/1023171/136243485-06aab6

[2021-10-06 15:45] mattermod opened #18582 "Allow disabling status update functionality"
Not all playbooks require status updates. Let's introduce a per-playbook configuration that allows disabling the status update functionality for subsequent runs created using that playbook.

When disabled, the `Default update timer` and `Status updates` configurations for a playbook are disabled. (Let’s group these together under the setting that enables/disables status updates for clarity.) Addit

[2021-10-06 15:45] mattermod opened #18583 "Allow disabling retrospective functionality"
Not all playbooks require a retrospective. Let's introduce a per-playbook configuration that allows disabling the retrospective functionality for subsequent runs created using that playbook.

When disabled, the “Retrospective reminder interval” and “Retrospective template” settings are disabled. (Let’s also group these together under the setting that enables/disables retrospectives for clarity.)

[2021-10-06 16:00] mattermod opened #18584 "Expose an endpoint to un-archive a playbook"
While we don't expose in the UI any ability to unarchive a playbook, let's give a means to do this via an API call to `/playbooks/<id>/restore`.

Playbooks are "deleted" or "archived" by setting their `DeleteAt` timestamp to a non-zero value. To restore, simply set this back to `0`.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://communit

[2021-10-06 16:00] mattermod opened #18585 "Owner component should not be squared"
Playbooks' RHS renders a component to show the current owner of the playbook run. This component used to look like this:

![image](https://user-images.githubusercontent.com/3924815/136241554-2fd020e2-3d9d-49a1-97ce-bf9860322cae.png)

 However, it looks now like the following:

![image](https://user-images.githubusercontent.com/3924815/136241574-b2066a71-c907-4cb6-99ff-2044e28a8e48.png)

We need to

[2021-10-06 16:00] mattermod opened #18586 "Handle long status updates"
Typing a status update long enough to exceed the maximum post length results in the status dialog closing, but nothing being posted.

Furthermore, when broadcasting, we add a few more characters, so it’s possible to get a long status update post to the current channel but not to the broadcasted channel, since it fails on the longer length.

Let’s detect these cases (including the slightly longer b

[2021-10-06 16:00] mattermod opened #18587 "Improve semantics for archived playbooks"
Instead of talking about "deleting" playbooks, let's change the language in the user experience to "archive." They never actually get “deleted” anyway:

![image](https://user-images.githubusercontent.com/1023171/136243700-024df32c-3223-4969-ae8d-232111dbe343.png)

When viewing the details of an archived playbook, it should not be possible to edit it, and the user interface should state clearly tha

[2021-10-06 16:00] mattermod opened #18588 "In playbooks, define/import luxon as external dependency provided from mattermost-webapp"
See [https://github.com/mattermost/mattermost-plugin-playbooks/blob/98cc8d17907eccd8b9d4115481661a12c22d6fe6/webapp/webpack.config.js#L86-L94](https://github.com/mattermost/mattermost-plugin-playbooks/blob/98cc8d17907eccd8b9d4115481661a12c22d6fe6/webapp/webpack.config.js#L86-L94)  for how we depend on external dependencies.

Note that this issue is blocked on [https://mattermost.atlassian.net/brow

[2021-10-06 16:00] mattermod opened #18589 "Add luxon to mattermost-webapp"
Add the [luxon](https://moment.github.io/luxon/#/) library to mattermost-webapp so that plugins can depend on it as an external dependency instead of having to include it themselves all the time.

See [https://github.com/mattermost/mattermost-webapp/blob/master/plugins/export.js](https://github.com/mattermost/mattermost-webapp/blob/master/plugins/export.js)  for how we export such libraries onto t

[2021-10-06 16:00] mattermod opened #18590 "Include non-members and auto-invite users to owner/assignee dropdowns."
Change the owner dropdown and task assignee dropdowns:

![image](https://user-images.githubusercontent.com/1023171/136242787-991467ad-5c40-4b62-9fbb-bd2a089aff70.png)

to be styled more like the `@mention` dialog

![image](https://user-images.githubusercontent.com/1023171/136242811-ab1a09e8-6290-4e98-842c-3aee9085fb1b.png)

with the ability to change the owner / assign a task to a user not in that

[2021-10-06 16:15] mattermod opened #18591 "Migrate hooks/general.ts from Moment to Luxon"
Change code in [https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/hooks/general.ts](https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/hooks/general.ts|smart-link]  to use the [Luxon|https://moment.github.io/luxon/#/) library, deprecating use of the Moment library.

----
If you're interested please comment here and come [join our "Contri

[2021-10-06 16:15] mattermod opened #18592 "Migrate components/backstage/ from Moment to Luxon"
Change code in [https://github.com/mattermost/mattermost-plugin-playbooks/tree/master/webapp/src/components/backstage](https://github.com/mattermost/mattermost-plugin-playbooks/tree/master/webapp/src/components/backstage)  to use the [Luxon](https://moment.github.io/luxon/#/) library, deprecating use of the Moment library.

----
If you're interested please comment here and come [join our "Contribu

[2021-10-06 16:15] mattermod opened #18593 "Migrate components/retrospective_reminder_posts.tsx from Moment to Luxon"
Change code in [retrospective_reminder_posts.tsx](https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/components/retrospective_reminder_posts.tsx)   to use the [Luxon](https://moment.github.io/luxon/#/) library, deprecating use of the Moment library.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.ma

[2021-10-06 16:15] mattermod opened #18594 "Migrate components/rhs/ from Moment to Luxon"
Change code in [https://github.com/mattermost/mattermost-plugin-playbooks/tree/master/webapp/src/components/rhs](https://github.com/mattermost/mattermost-plugin-playbooks/tree/master/webapp/src/components/rhs) to use the [Luxon](https://moment.github.io/luxon/#/) library, deprecating use of the Moment library.

----
If you're interested please comment here and come [join our "Contributors" communi

[2021-10-06 16:15] mattermod opened #18595 "Migrate FormattedDuration from Moment to Luxon"
Change the [FormattedDuration](https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/components/formatted_duration.tsx] code to use the [Luxon](https://moment.github.io/luxon/#/) library, deprecating use of the Moment library.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels

[2021-10-06 16:47] wiggin77 commented on #18484
@Szymon-Rysztof here is some feedback from the customer support channel:
[code]

[2021-10-06 17:30] mattermod opened #18596 "Skip instead of delete playbook run tasks"
Instead of deleting a playbook task, let's introduce a new default semantic of skipping the task instead. We can keep the existing user interface:

![image](https://user-images.githubusercontent.com/1023171/136262105-d49fa9e3-a77c-4897-aacd-663af588f34b.png)

but show the word “Skip” on hovering over the trashcan. Skipped tasks should not disappear, but be struck out (line through the center). It

[2021-10-06 17:50] #18408 closed

[2021-10-06 18:45] mattermod opened #18597 "Don't collapse long status update in run overview"
The post component we use in the run overview for status updates supports automatically collapsing long content, but this is undesirable on a page dedicated to viewing those status updates. Let's disable this functionality in this context:

![image](https://user-images.githubusercontent.com/1023171/136389575-ff6812bb-6a96-4c53-84b2-03c536b4b27b.png)

----
If you're interested please comment here a

[2021-10-06 20:01] #12486 closed, assigned to gagandeepp

[2021-10-06 20:54] LSantos06 commented on #16706
https://github.com/mattermost/mattermost-webapp/pull/9028

[2021-10-06 21:30] mattermod opened #18602 "Show more recently used reactions in the RHS hover menu"
**Problem:** The hover menu with recently used reactions doesn't need to be shortened to one emoji on wide screens where the RHS or Thread viewer have enough width.

**Solution:** Based on the device and screen size, display:

  * one emoji reaction -> when  RHS is at minimum width based on the screen size
  * three emoji reactions -> in all other cases, including in the Threads viewer

![image](h

[2021-10-06 22:00] mattermod opened #18603 "Quick reactions in the hover menu and emoji picker should be based on most frequently used emoji instead of recently used"
Currently quick reactions on mobile (long press menu) and webapp (hover menu) are based on recently used emoji.

![image](https://user-images.githubusercontent.com/14333569/136290656-c0581b69-ff6b-49e7-8370-231f842f103b.png)

We could improve this by basing the logic for which emoji appear based on "most frequently used" instead of "recently used". ~~The logic could be based on # reactions in the

[2021-10-06 23:19] marlonemmerich commented on #18585
Hello! Can I help with this?
Thank you

[2021-10-07 04:16] #18514 closed

[2021-10-07 05:54] achie27 commented on #18584
I would like to work on this.

[2021-10-07 09:00] mattermod opened #18607 "CRT: Convert removing participant from thread participants to use DB JSON functions"
Upon message deletion, we remove the participant from the participants list in a thread if that post was the only post that participant has made.

Currently (https://github.com/mattermost/mattermost-server/pull/18451) we double query to get the list of participants and set them again after removal or not.

Participants column is of native JSON type, we could utilize JSON functions the DB supports

[2021-10-07 09:43] MichaelAnckaert commented on #18578
FYI: this issue was confusing at first as the webapp code is located in the `mattermost-webapp` repository and this issue is created in the `mattermost-server` repository.

[2021-10-07 15:30] mattermod opened #18608 "CRT: Modify Channel label for DMs since name shows twice"
In the threads list, for any thread in a DM, the name of the person you're messaging with shows twice if they started the thread.

![](image-2021-09-28-08-52-18-284.png|width=200,height=183)

{panel:bgColor=#eae6ff}
**Design notes**

To reduce the confusion for now, **hide** the channel name tag in the thread list item when:

  * root post author = channel name
{panel}

----
If you're interested p

[2021-10-07 16:30] mattermod opened #18609 "CRT: Allow arrow keys to navigate threads in the inbox view"
With Collapsed Reply Threads enabled, once the user clicks on “Threads” in the sidebar:

  * Up or down arrow key will open the first thread in the inbox (without the need to press ENTER). Subsequent arrowing will open other threads. Opening the thread should NOT focus the text input box.
  * Any characters typed will auto-focus the text input for the open thread (similar to how we do it in a chan

[2021-10-07 19:29] #18521 closed

[2021-10-08 04:17] roshanjrajan commented on #16973
Left a note on the PR but I can pick this up if this is still open.

[2021-10-08 10:00] mattermod opened #18614 "Webapp: "CMD+/" does not close shortcuts modal"
Happened on master and v6

Repro steps:
1. Open the shortcuts modal by "CMD+/" and observe it actually opened up
2. Close the shortcuts using the same command

Observed:
1. Shortcuts modal didn't close

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can d

[2021-10-08 10:57] iamvishal345 commented on #18575
@Willyfrog Hi I would like to work on this.

[2021-10-08 10:57] Willyfrog commented on #18575
thanks for working on it :)

[2021-10-08 12:18] amyblais commented on #18376
Assigned to @roshanjrajan as he commented first.

[2021-10-08 13:22] maxtrem271991 opened #18615 "I'd like to give this one a try :)"
I'd like to give this one a try :)

_Originally posted by @svelle in https://github.com/mattermost/mattermost-server/issues/18614#issuecomment-938574178_

[2021-10-08 16:31] LSantos06 commented on #16165
Hello! I can work on this issue

[2021-10-08 18:53] #17264 closed

[2021-10-08 20:30] mattermod opened #18621 "Add capability in plugin/apps forms to resize textarea via draggable corner"
The task here is to modify the textareas in these following two components to allow for resizing:
- https://github.com/mattermost/mattermost-webapp/blob/master/components/apps_form/apps_form_field/apps_form_field.tsx
- https://github.com/mattermost/mattermost-webapp/blob/master/components/interactive_dialog/dialog_element/dialog_element.tsx

This stackoverflow post describes how to disable this fu

[2021-10-08 20:45] mattermod opened #18622 "Add at-mention and channel autocompletion to textareas in plugin/apps forms"
At the moment, textareas in the following components do not provide any autocompletion while the user is typing:
- https://github.com/mattermost/mattermost-webapp/blob/master/components/apps*form/apps_form_field/apps_form*field.tsx
- https://github.com/mattermost/mattermost-webapp/blob/master/components/interactive*dialog/dialog_element/dialog*element.jsx

The task here is support:
- at-mention au

[2021-10-09 07:47] iOSGeekster commented on #17255
I would like to give this a go 👍

[2021-10-09 15:33] diolwe opened #18624 "Not possible: ALTER TABLE mattermost.RetentionPolicies CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci"
This could be a duplicate of / related to: https://github.com/mattermost/mattermost-server/issues/18021

#### Summary

I upgraded to mysql 8.0.26 (now: Debian Bullseye) and had to alter all the mattermost tables. Most of them didn't throw up any problems - but three of them did: those containing RetentionPolicies.

[code]

produces

[code]
and the same is true for:

[code]

When Mattermost is used

[2021-10-09 15:52] poflankov commented on #18175
Can I take this?

[2021-10-09 16:33] LSantos06 commented on #13468
Hi! I'd like to work on this issue

[2021-10-09 18:12] ylluminate commented on #14306
Does the Bleve implementation now facilitate this @amyblais @jasonblais? I will add something more generic to UserVoice if not.

[2021-10-09 18:49] ylluminate commented on #14115
@amyblais I have done as you've requested:

* https://mattermost.uservoice.com/forums/306457-general/suggestions/44264310-text-message-entry-field-monospace-fixed-width
* https://forum.mattermost.org/t/feature-request-text-message-entry-field-monospace-fixed-width-non-proportional-font-option/12285

PLEASE make it possible to have more votes. Unfortunately UserVoice consumes a vote for each featur

[2021-10-10 09:57] kyteinsky commented on #18506
I want to take this issue.
Would you please point out the files that need to be checked it worked upon for this?
It would make my work a little bit easier :)

Thanks.

[2021-10-10 10:12] karanb86 commented on #18532
Can I be assigned this one if it is still not resolved?

[2021-10-10 10:34] Germano0 opened #18625 "Cannot leave group conversation"
#### Summary
I have been added in a group conversation (not a channel), and even if I left this conversation, as soon someone writes a new message in such conversation, this conversation appears again in my conversations list that means that I am still inside the conversation

#### Expected behavior
No longer being added again into a foo group conversation once I had left it

#### Observed behavio

[2021-10-10 10:39] jasonblais commented on #14306
@ylluminate Thanks for your question! Bleve is intended to be a more efficient search engine, but I'm not familiar how it performs with respect to Ruby on Rails & Postgres search you're referencing https://docs.mattermost.com/deploy/bleve-search.html

Have you tried a Bleve search engine, or is this something you noticed Mattermost now supports (as experimental)?

[2021-10-10 14:11] pikami commented on #17251
I'm grabbing this one.

[2021-10-10 14:22] Hanaffi commented on #18572
@mattermod @Willyfrog Can you assign this to me?

[2021-10-10 14:23] Hanaffi commented on #18483
@cpanato Can you assign this to me please?

[2021-10-10 14:50] amyblais commented on #18506
cc @lieut-data

[2021-10-10 16:25] Hanaffi commented on #18572
@amyblais Sorry but where do I find the web app (react) ?

[2021-10-10 17:30] ylluminate commented on #14306
@jasonblais I'm not actually asking about this in relation to RoR and PGSQL, but rather offering the core desired request of a speedy full text search. I believe it does, so I'll just ignore this at this point.  I've been having trouble searching in more refined fashions insomuch that we have 33 teams that are used for organizational purposes. I was looking at options to expand searching between t

[2021-10-10 19:36] jasonblais commented on #14306
@ylluminate Got it, that makes sense. Bleve may help solve some of the challenges you're seeing. However, cross-team search is something we don't yet support, but have desire to do so. There is an open feature proposal for that specific use case: https://mattermost.uservoice.com/forums/306457-general/suggestions/20081047-search-through-all-teams

[2021-10-11 03:45] roshanjrajan commented on #15025
Just writing down my thoughts.

Webapp/Redux change that allows a switch to the previous channel that was last open including Direct Channels. This has been merged.

Server Side there is a change that currently for when the Updating the User's state (UpdateActive), the PR currently attempts to Delete each channel instead of purely setting the Delete TimeStamp. Side-effect is that DMs are deleted o

[2021-10-11 05:44] agnivade opened #18626 "Migrate from gorp to sqlx in store/sqlstore/plugin_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/plugin_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-11 05:44] agnivade opened #18627 "Migrate from gorp to sqlx in store/sqlstore/link_metadata_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/link*metadata*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX

[2021-10-11 05:44] agnivade opened #18628 "Migrate from gorp to sqlx in store/sqlstore/preference_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/preference_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` w

[2021-10-11 05:44] agnivade opened #18629 "Migrate from gorp to sqlx in store/sqlstore/license_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/license_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` whic

[2021-10-11 05:44] agnivade opened #18630 "Migrate from gorp to sqlx in store/sqlstore/reaction_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/reaction_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` whi

[2021-10-11 05:44] agnivade opened #18631 "Migrate from gorp to sqlx in store/sqlstore/product_notices_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/product*notices*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplic

[2021-10-11 06:46] systems-levigo opened #18632 "[ERR] plugin: plugin acceptAndServe error: timeout waiting for accept"
#### Summary
After updating from 5.38.1 to 5.39.0 we see the following ERR in the Mattermost logs.
``{"level":"error","ts":1633705580.6383216,"caller":"log/log.go:184","msg":"[ERR] plugin: plugin acceptAndServe error: timeout waiting for accept","source":"stdlog"}``
This error only occurs at Mattermost start.
We think that the problem must come from a plugin. But there are no specific error messag

[2021-10-11 16:12] gyanesh-m commented on #18631
I would like to work on this.

[2021-10-11 17:00] amyblais commented on #18625
@Germano0 Do you have steps for how you leave the group message? If you're using the "Close" option, it just removes it from the left-hand side, but it is expected to re-appear if there are new messages. However, you can use the "Mute Conversation" option to mute it.

[2021-10-11 18:17] mathiasvr commented on #18591
I would like to grab this 😉

[2021-10-11 18:17] mathiasvr commented on #18594
I would like to grab this 😉

[2021-10-11 18:18] mathiasvr commented on #18592
I would like to grab this 😉

[2021-10-11 19:00] drobiu commented on #18576
Hi, can I be assigned to this?

[2021-10-11 22:50] Germano0 commented on #18625
Done, thank you

[2021-10-12 01:06] kaakaa opened #18640 "Bulk import makes the system message the user message"
#### Summary
System messages are changed to user messages when bulk export/import is processed.

**Before**
<img width="836" alt="スクリーンショット 2021-10-11 22 19 11" src="https://user-images.githubusercontent.com/1453749/136873367-1d323d4f-d30e-4536-af26-99c6976349bc.png">

**After**
(`kaakaa`'s message was system message in before instance. Its message body was translated into server default language

[2021-10-12 01:20] kaakaa opened #18641 "Doing bulk export/import drops saved post data"
#### Summary
Since `Post.FlaggedBy` is not the target of bulk export, saved posts will be dropped while migration process via bulk export/import. [This condition](https://github.com/mattermost/mattermost-server/blob/561bc968c8737bd44ee0c6e0f08314f7ea0f5897/app/import_functions.go#L1329-L1330) never been true.

#### Steps to reproduce
1. Doing bulk export by `bin/mattermost export bulk data.json`
2

[2021-10-12 01:51] #18625 closed

[2021-10-12 06:58] saturninoabril opened #18642 "Write Webapp E2E with Cypress: "MM-T1236 Arrow up key - Edit modal open up for own message of a user""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1236 Arrow up key - Edit modal open up for own message of a user</h1>
<div>
<div>
<h3>Steps </h3>UP - Other user posts, first user presses UP, edit modal opens for first user's message (not other user's message)<br />-----------

[2021-10-12 06:58] saturninoabril opened #18643 "Write Webapp E2E with Cypress: "MM-T1234 CTRL/CMD+K Setup for following tests Display order of search results""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1234 CTRL/CMD+K Setup for following tests Display order of search results</h1>
<div>
<div>
<h3>Steps </h3>On a team with enough channels to observe alphabetical order (with some channels that have the first letter in common):<br

[2021-10-12 06:58] saturninoabril opened #18644 "Write Webapp E2E with Cypress: "MM-T1235 Arrow up key - no Edit modal open up if user has not posted any message yet""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1235 Arrow up key - no Edit modal open up if user has not posted any message yet</h1>
<div>
<div>
<h3>Steps </h3>1. Open a channel where test user has not posted any message yet.<br />2. Have another user post in the same channe

[2021-10-12 07:44] saturninoabril opened #18647 "Write Webapp E2E with Cypress: "MM-T1242 CTRL/CMD+K: Typed characters are not lost after switching channels""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1242 CTRL/CMD+K:
Typed characters are not lost after switching channels</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+K:<br />Typed characters are not lost after switching channels<br />--------------------<br />1. Press CTRL+K (Wind

[2021-10-12 07:44] saturninoabril opened #18648 "Write Webapp E2E with Cypress: "MM-T1243 CTRL/CMD+K - Open public channel using arrow keys and Enter, click out of current channel message box first""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1243 CTRL/CMD+K - Open public channel using arrow keys and Enter, click out of current channel message box first</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+K - Open public channel using arrow keys and Enter, click out of current c

[2021-10-12 07:44] saturninoabril opened #18649 "Write Webapp E2E with Cypress: "MM-T1249 CTRL/CMD+SHIFT+L - Set focus to center channel message box (with REPLY RHS open)""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1249 CTRL/CMD+SHIFT+L - Set focus to center channel message box (with REPLY RHS open)</h1>
<div>
<div>
<h3>Steps </h3>1. Post a message<br />2. Click [...] of the message you posted and choose "Reply"<br />3. Click somewhere in

[2021-10-12 07:44] saturninoabril opened #18650 "Write Webapp E2E with Cypress: "MM-T1240 CTRL/CMD+K: Open and close""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1240 CTRL/CMD+K: Open and close</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+K: Open and close<br />--------------------<br />1. Press CTRL+K (Windows) or CMD+K (Mac)<br />2. Press CTRL+K (Windows) or CMD+K (Mac)<h3>Expected</h3>The

[2021-10-12 07:44] saturninoabril opened #18651 "Write Webapp E2E with Cypress: "MM-T1245 CTRL/CMD+K - Open GM using mouse""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1245 CTRL/CMD+K - Open GM using mouse</h1>
<div>
<div>
<h3>Steps </h3>1. Create a GM with other users<br />2. Press CTRL+K (Windows) or CMD+K (Mac)<br />3. Type a first letter of GM in the "Switch Channels" modal<br />3. Select

[2021-10-12 07:44] saturninoabril opened #18652 "Write Webapp E2E with Cypress: "MM-T1247 CTRL/CMD+K - Only highlights one match if multiple channels with same name""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1247 CTRL/CMD+K - Only highlights one match if multiple channels with same name</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Create a channel with the same name as a username</li><li>Use CMD/CTRL+K to open the quick switcher</li><li>

[2021-10-12 07:44] saturninoabril opened #18653 "Write Webapp E2E with Cypress: "MM-T1246 CTRL/CMD+K - @ at beginning of username""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1246 CTRL/CMD+K - @ at beginning of username</h1>
<div>
<div>
<h3>Steps </h3><ol><li>Press CTRL+K (Windows) or CMD+K (Mac)</li><li>Type `@` followed by the first couple characters of a username, and select the username</li></ol>

[2021-10-12 07:44] saturninoabril opened #18654 "Write Webapp E2E with Cypress: "MM-T1244 CTRL/CMD+K - Esc closes modal""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1244 CTRL/CMD+K - Esc closes modal</h1>
<div>
<div>
<h3>Steps </h3>1. Click "Find channel" button at LHS<br />2. Type "test" in the "Switch Channels" message box<br />3. Press ESC<h3>Expected</h3>The "Switch Channels" modal clos

[2021-10-12 07:53] A9u commented on #18630
I would like to give this a try.

[2021-10-12 07:53] agnivade commented on #18630
Go for it @A9u !

[2021-10-12 12:17] amyblais commented on #18640
cc @streamer45 on this and https://github.com/mattermost/mattermost-server/issues/18641

[2021-10-12 12:20] streamer45 commented on #18640
Make sense to open tickets. @isacikgoz would your team be able to own these or at least triage them accordingly?

[2021-10-12 12:22] amyblais commented on #18641
Ticket: https://mattermost.atlassian.net/browse/MM-39271

[2021-10-12 12:23] streamer45 commented on #18624
@diolwe

The warning log you shared is totally harmless and expected and also not related to the collation issues. Is there any other error you are seeing or some other malfunction?

[2021-10-12 15:43] ironiemix commented on #18624
No, there is no other malfunction, we are just unable to convert the db-tables . The site is up and productive, just thinking that there may be problems later on, when further upgrading will occur without having converted the tables?

[2021-10-12 16:11] streamer45 commented on #18624
@ironiemix

If that's the case I'd suggest to temporarily dropping the foreign keys, do the conversion on the affected tables and finally adding the constraints back. E.g.:

[code]

[2021-10-12 17:15] lieut-data commented on #18593
Sorry for the delay in responding to you, @kaitrin! Just got back from a few days off. You are absolutely correct in your interpretation of my messed up issue description, which I've also now corrected.

[2021-10-12 18:06] cleferman commented on #18573
I can take this one

[2021-10-12 19:55] #18589 closed, assigned to void-hr

[2021-10-12 21:25] esethna commented on #18602
@nimit05 this is a feature that was just recently merged and will ship in Mattermost v6.1. You can try it out on our community dailt build server: https://community-daily.mattermost.com/core/channels/public-test-channel

[2021-10-13 03:57] agnivade commented on #18503
Hey @gupsho - how is it going with this? Let me know I can help in any way.

[2021-10-13 05:05] joremysh commented on #18644
I would like to take this

[2021-10-13 05:20] saturninoabril commented on #15706
Sure @joremysh! Thanks!

[2021-10-13 05:21] saturninoabril commented on #18644
Sure @joremysh, thanks!

[2021-10-13 05:27] saturninoabril commented on #18642
Sure @gpt14, thanks!

[2021-10-13 06:19] olivierlambert opened #18663 "Failed upgrade to 6.0"
#### Summary
Upgrading from Matermost 5.38 to 6.0 leads to mattermost failing to start

#### Steps to reproduce
Upgrading from 5.38 to 6.0 on Debian

#### Expected behavior
Upgrade and database migration should work

#### Observed behavior (that appears unintentional)
Process output is relevant:
[code]

The interesting thing is this sentence I translated (from French to English):
[code]

#### Poss

[2021-10-13 06:26] agnivade commented on #18663
It seems that the "timezone" column in your "users" table has invalid JSON values. You would need to manually inspect that column and fix the incorrect values.

cc @streamer45

[2021-10-13 06:32] olivierlambert commented on #18663
That's weird, I never tinkered the database manually :thinking: The current version seems to be working without any issue. But yes, it seems to be related to a malformed JSON

[2021-10-13 06:34] masterbender commented on #18663
i got the same error:
[code]

[2021-10-13 06:39] gupsho commented on #18503
@agnivade got busy for a few days. will create a PR in next couple days.

[2021-10-13 07:09] masterbender commented on #18663
@availchet , @streamer45  postgres version is 13 , upgrading from 5.3X

[2021-10-13 07:19] streamer45 commented on #18663
Okay the problem seems to be that you have a default value for the column which is causing this. I suggest to drop it and try again:

[code]

[2021-10-13 07:46] masterbender commented on #18663
1.) stop mattermost service / container
2.) using psql ( or a tool of choise) log into the postgres db
3.) ALTER TABLE users ALTER COLUMN timezone DROP DEFAULT;
4.) restart the service
5.) db migrations passed , mm is running again
6.) fill the timezone colums ( now jsonb format ) with json string :  ``` {"manualTimezone": "", "automaticTimezone": "", "useAutomaticTimezone": "true"} ```

u can use

[2021-10-13 07:49] streamer45 commented on #18663
@olivierlambert We just need to make sure to update the timezone only where empty otherwise we risk resetting non-default data.

[2021-10-13 08:12] LukasFiniarel opened #18666 "Playbook Plugin failed to start. "failed to run migrations[...]""
#### Summary
After upgrading from Mattermost 5.39.0 to 6.0.0 the newly added Playbook plugin is unable to start.
The system-log gives the following error:

`
{"timestamp":"2021-10-13 09:58:19.029 +02:00","level":"error","msg":"Unable to activate plugin","caller":"app/plugin.go:146","plugin_id":"playbooks","error":"failed to run migrations: failed to complete migrations: error executing migration f

[2021-10-13 08:26] streamer45 commented on #18663
@masterbender
That's very unusual, was the timezone field empty? If so the upgrade would have failed anyway. Dropping the default doesn't change the data in the existing users so I am not sure how you could get that error unless something was manually modified.

[2021-10-13 08:53] masterbender commented on #18663
it was not empty , it contains a correct json string before: ```{"automaticTimezone":"","manualTimezone":"","useAutomaticTimezone":"true"} ```

after performing ALTER TABLE users ALTER COLUMN timezone DROP DEFAULT the field was null ( i used datagrip, maybe the reason )

[2021-10-13 08:59] streamer45 commented on #18663
Okay that makes sense. Any idea how it got to be `NULL` though? It seems very strange that dropping the default could be causing for previously inserted data. Also I assume the server was not running when doing all this.

[2021-10-13 09:36] zetaab opened #18670 "Migration warnings in logs 6.0"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-10-13 11:17] MikeN123 commented on #18663
FYI, just running `ALTER TABLE users ALTER COLUMN timezone DROP DEFAULT;` worked for me.

[2021-10-13 11:43] beanhacker opened #18671 "can you support for windows version?"
hi,
  as i only have windows for dayly debug, so the release can not run on my work pc. would you consider to support windows version when release new version?
thanks.

[2021-10-13 11:56] streamer45 commented on #18670
@zetaab Those warnings are harmless. They just mean the foreign keys exists already. We may want to drop the logging level to info but there's no concern on the app functioning.

[2021-10-13 12:48] lieut-data commented on #18564
Hi @shreyavi! Once you've gotten setup with the basic development environment (see http://mattermost.dev), set up the plugin as described on https://github.com/mattermost/mattermost-plugin-playbooks. The changes required this ticket will be made in that repository.

[2021-10-13 13:51] lieut-data commented on #18666
Thanks for the heads up @jasonblais! @LukasFiniarel, can you help with a few extra details?
* May I assume you are running against MySQL? Can you share the version in question?
* Did you have Playbooks (previously called Incident Response) enabled at some point in the past, but disabled prior to upgrading? The migration version in question is very old (from March of this year), so I'm assuming the

[2021-10-13 15:38] #18653 closed

[2021-10-13 16:26] khanhibus commented on #18663
Hello,

I am getting a different error but similar to the OP's:

`{"timestamp":"2021-10-13 03:07:19.894 -07:00","level":"fatal","msg":"Failed to alter column type. It is likely you have invalid JSON values in the column. Please fix the values manually and run the migration again.","caller":"sqlstore/store.go:854","error":"pq: unsupported Unicode escape sequence"}`

Any ideas on how to fix this?

[2021-10-13 16:34] iomodo commented on #18562
Hey @dunak-debug! Great question.
There is no component for the category list yet. So either will work - creating a new one, or generalizing the `Broadcast` to use in both cases

[2021-10-13 17:59] cleferman commented on #17254
I can take this one.

[2021-10-13 18:04] streamer45 commented on #18663
@khanhibus

That is a separate (although related) issue. Some DB column has an invalid character that is causing the conversion to fail. To better identify the issue, could you share the output of the following query:

[code]

[2021-10-13 18:23] jasonblais commented on #17900
@elandorr good to hear from you, and glad to hear the system permissions are working well with 6.0. :)

Looks like we haven't added a granular permission for pinning posts. Would you consider to be part of one of the existing permission settings, or an additional one?

[2021-10-13 18:55] khanhibus commented on #18663
@streamer45

Please see the output below:

`
table_name   |    column_name     |     data_type
----------------+--------------------+-------------------
 threads        | postid             | character varying
 threads        | channelid          | character varying
 threads        | replycount         | bigint
 threads        | lastreplyat        | bigint
 threads        | participants       | te

[2021-10-13 20:52] phreaker0 commented on #18670
I get the same errors, mattermost works fine after the DB migrations, but if I restart mattermost it reruns all of the DB migrations and this takes very long (~25 min in my case). @streamer45 could this be related to the errors? I upgraded from v5.39.0 (MariaDB 10.5/Debian bullseye).

[2021-10-14 01:11] jondale commented on #18663
Mine seems a little different.

[code]

[2021-10-14 03:33] kaitrin commented on #18593
No worries -- hope it was a good vacation! 🙂

Will take a look at `retrospective_reminder_posts.tsx`

[2021-10-14 05:36] streamer45 commented on #18663
@khanhibus Thanks, looks like nothing has been converted which suggests there may be a problem with the `Posts.Props` column, unless you somehow downgraded (or restored the db).

To find out what's going could you run (and share the output for) the following set of queries?

[code]

@jondale  That looks like a different problem. Would you mind opening a separate issue so we track it better?

@rhet

[2021-10-14 05:57] dipak-demansol opened #18678 "Scrollbar is not visible Clearly in the Denim & Sapphire Theme As Compare to Quartz, Indigo & Onyx Theme"
#### Summary
issue :- Scrollbar is not visible Clearly in the denim & Sapphire Theme as Compare to the Other Theme

Browser :- Chrome Version 94.0.4606.71 (Official Build) (64-bit)
OS         :- Ubuntu 18.04.6 LTS
Mattermost Version :- cloud-2021-10-12-1
                                   Database Schema Version: 6.0.0

#### Steps to reproduce
1) you have to join multiple Channels so you can scrol

[2021-10-14 07:47] tuxity opened #18679 "Always trying to apply migration queries at restart"
#### Summary
It seems MM is always trying to apply (a?) SQL migration queries at restart

#### Steps to reproduce
- Start MM 6.0 instance, upgrading from 5.39
- You should see in logs:
[code]
- Check version in DB, should be 6.0.0
- Restart MM instance
- You will see errors in logs

#### Expected behavior
No error logs should appear.

#### Observed behavior (that appears unintentional)
At each res

[2021-10-14 07:58] phreaker0 commented on #18670
@streamer45
After the first start/migration of mattermost:
[code]
The log for the first start of v6.0.0:

[code]
The log for the second start of v6.0.0:

[code]
The scheme migration log messages are gone, but there are still migrations going on, look at the timestamps after the "Pinging SQL" messages. In this time I can see long running migrations queries on the MariaDB server like:

`ALTER TABLE

[2021-10-14 08:24] phreaker0 commented on #18670
@streamer45

it seems to went through (longtext is the type MariaDB uses for JSON, MariaDB just adds the 'json_valid' check), so I guess mattermost checks for JSON type but sees longtext and reruns the query?:

[code]

[2021-10-14 08:34] kiroswu opened #18681 "MM6.0 version playbooks missing"
After installed mattermost6.0 version and some plugins from marketplace, cannot get playbooks selection as below:
![image](https://user-images.githubusercontent.com/19584792/137280933-89d2dca7-23f4-4a2a-8c66-66c8ea5572cc.png)
some error logs:
![image](https://user-images.githubusercontent.com/19584792/137281017-30780291-7f84-4c34-8345-8bc3674ccd1b.png)

MM server env: Ubuntu 18.04 gz.tar , mysql d

[2021-10-14 08:37] streamer45 commented on #18670
Thanks. We should be able to fix this issue although given MariaDB is not officially supported there may be other issues down the line when dealing with these JSON fields. Please let us know if you encounter any problem running the application.

[2021-10-14 08:45] dipak-demansol opened #18682 "From The Invite Screen by Click on The Back Button From The browser, Then User is Not Redirecting On The Back Page."
#### Summary
From The Invite Screen by Click on The Back Button From The browser, Then User is Not Redirecting On The Back Page.

Mattermost Version: cloud-2021-10-12-1
Database Schema Version: 6.0.0
OS :- Ubuntu 18.04.6 LTS
Browser :- Chrome Version 94.0.4606.71 (Official Build) (64-bit)

#### Steps to reproduce
1) Go to the invite page and Click on the back button from the browser.

#### Expecte

[2021-10-14 10:55] Willyfrog commented on #18579
@matthewbirtch can you help clarify? I believe it is only needing to change the arrow into the thread button (and jump to thread view) but leaving the rest as is, but it might have changed since the original ticket, so if you could clarify that would be wonderful!

[2021-10-14 11:55] rroseselavy42 opened #18684 "DB upgrade failure "unsupported Unicode escape sequence" from 5.37-5.39 to 6.0 on postgresql"
#### Summary
Running upgrade to 6.0 from 5.37 causes fatal db scheme update for Postgresql
[code]

#### Steps to reproduce
be running a 5.37 db (upgraded since the 4.x days I think)
try to start 6.0

#### Expected behavior
a full upgrade and working mattermost server

#### Observed behavior (that appears unintentional)
db upgrade failure with invalid json that appears to not be related to timezone

[2021-10-14 12:01] chechsp opened #18685 "Image rendered inside code tags"
#### Summary
Mattermost renders image inside code tags under certain circumstances

#### Steps to reproduce
Type the following in mattermost:

\```
\` * url : https://globaleduca.es/wp-content/uploads/2019/05/logo_titulobase-min.png
\```

#### Expected behavior
Image should not be rendered inside code tags

#### Observed behavior (that appears unintentional)
Errors are rendered via webhook to matt

[2021-10-14 12:17] rroseselavy42 commented on #18684
can confirm still happening on 5.38 and 5.39

[2021-10-14 12:50] streamer45 commented on #18684
@rroseselavy42

I'd suggest looking into those failing `Posts.Props` and either manually fix them or run something like:

[code]

[2021-10-14 12:51] cleferman commented on #17253
I'll take this

[2021-10-14 12:54] amyblais commented on #18678
Opened a ticket: https://mattermost.atlassian.net/browse/MM-39346.

[2021-10-14 13:33] streamer45 commented on #18679
Yes of course. The errors themselves are not an issue as they are merely existence checks needed to figure out the state of the schema. Reapplying migrations would be a problem instead.

[2021-10-14 13:35] streamer45 commented on #18679
Everything looks normal from the application logs. The actual migration is only happening in the first log.

[2021-10-14 13:40] summer-espresso commented on #18663
So I revert back to 5.39.0 and now the log is spammed with:
[code]

[2021-10-14 13:47] #18679 closed, assigned to nobody

[2021-10-14 13:51] streamer45 commented on #18663
Reverting needs a db schema downgrade as well to make things work. Please refer to [this document](https://gist.github.com/streamer45/59b3582118913d4fc5e8ff81ea78b055#downgrading-600----538x539x).

[2021-10-14 14:00] mattermod opened #18686 "Suppress run playbook button when no playbooks"
If there are no playbooks, change the call to action on the `/playbooks/runs` page to `+ Create playbook`:
![image](https://user-images.githubusercontent.com/3924815/137337581-214914a2-0195-460b-8314-3afdd1516df5.png)

As part of this change, let’s also make `/playbooks` the default landing page when there are no playbook runs.

----
If you're interested please comment here and come [join our "Con

[2021-10-14 15:04] #18593 closed, assigned to kaitrin

[2021-10-14 15:08] lieut-data commented on #17904
Thanks, @Zeezee1210!

[2021-10-14 15:18] #18663 closed, assigned to streamer45

[2021-10-14 15:46] #18162 closed

[2021-10-14 16:09] #18648 closed

[2021-10-14 21:48] khanhibus commented on #18684
@streamer45

I ran the command you posted prior to updating and am still getting errors upon upgrade:
[code]

The values from the 3 queries you previously asked for after the latest upgrade attempt are here:

[code]

[code]

[code]

[2021-10-14 22:13] komodin opened #18696 "Existing indexes on PostgreSQL after upgrade from 5.31.4 to 5.37.2"
#### Summary
After upgrading to 5.37.2 (from 5.31.4) I see two errors in the PostgreSQL log about existing indexes.

#### Steps to reproduce
At least in my case it happened after upgrading to 5.37.2 from 5.31.4

#### Observed behavior (that appears unintentional)

[code]

[2021-10-15 01:20] jelmd commented on #9614
Just tested latest LTS (5.37.2) and it is still not fixed.
![mm-email-settings](https://user-images.githubusercontent.com/4813414/137417014-4ff13555-e61c-4f2f-ac2f-22ba394847f1.gif)
![mm-email-signin](https://user-images.githubusercontent.com/4813414/137417021-bdf2cebe-a193-425f-bf19-17cd81376967.gif)

[2021-10-15 01:49] kiroswu commented on #18681
@lieut-data Thank you and FYI
1. I followed the installation steps as https://docs.mattermost.com/install/installing-ubuntu-2004-LTS.html. with Ubuntu18.04,Mysql5.7 and MM6 https://releases.mattermost.com/6.0.0/mattermost-6.0.0-linux-amd64.tar.gz

2. The full logs from start&stop MM as log file here : [log.txt](https://github.com/mattermost/mattermost-server/files/7350211/log.txt)

3. I configurat

[2021-10-15 04:14] agnivade commented on #18696
Hey @komodin - This is a harmless logging error caused when trying to add a foreign key which already exists. There is no issue from the application side on this.

[2021-10-15 04:19] srijit2002 commented on #18686
@lieut-data I would like to give this a try. Can you please assign it to me?

[2021-10-15 06:52] streamer45 commented on #18684
@khanhibus Apologies, the query above had a typo which essentially made it do nothing. I've updated the comment with the right one.

[2021-10-15 09:06] kaakaa opened #18699 "Bulk export writes 0byte data to existing files"
#### Summary
Running bulk export with `--attachments` option on mattermost home directory (such as `/opt/mattermost) write 0byte data to existing attachment files. So existing attachment files are broken.

#### Steps to reproduce
1. Run `./bin/mattermost export bulk data.json --attachments` on `/opt/mattermost`

#### Expected behavior
Nothing will happen to `data` directory

#### Observed behavior

[2021-10-15 09:34] kiroswu commented on #18681
I also tried to download playbooks tar.gz from https://github.com/mattermost/mattermost-plugin-playbooks/releases/tag/v1.20.1 and upload to MM in plugin management, but failed for:
![image](https://user-images.githubusercontent.com/19584792/137466276-2cdf7464-2e3c-4832-91b3-a433ca9cd204.png)

[2021-10-15 11:34] chechsp commented on #18685
We are using version 5.11. We have cloned the VM and upgraded to version 6.0 to test this issue, and it indeed does not occur on the 6.0 version.

Thanks for the hint.

[2021-10-15 11:34] #18685 closed

[2021-10-15 14:36] #18500 closed

[2021-10-15 15:21] GuiGuiSoft opened #18701 "DesktopMinVersion setting not used by Desktop Application"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-->

[2021-10-15 18:21] lieut-data commented on #18666
@LukasFiniarel, I don't /think/ the default collation change is required there, but I admit I'm not 100% confident. I believe the reason the `utf8mb4_0900_ai_ci` was effectively the default was because of the `SqlSettings.DataSource` connection string we recommend making the character set of `utf8mb4` explicit (and thus the corresponding default collation). MySQL sure is complicated :D

[2021-10-15 18:26] godindustry opened #18704 "master"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-10-15 18:28] amyblais commented on #18670
Claudio/Ibrahim Is https://github.com/mattermost/mattermost-server/issues/18670#issuecomment-943133834 something we need to include in 6.0.1?

[2021-10-15 18:43] streamer45 commented on #18670
@amyblais - I'd prefer if we did but will let @isacikgoz answer on required effort.

[2021-10-15 22:13] saturninoabril opened #18707 "Write Webapp E2E with Cypress: "MM-T1251 CTRL/CMD+SHIFT+L - When not to set focus to center channel message box""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1251 CTRL/CMD+SHIFT+L - When not to set focus to center channel message box</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+SHIFT+L - When not to set focus to center channel message box<br />--------------------<br />With the following

[2021-10-15 22:13] saturninoabril opened #18708 "Write Webapp E2E with Cypress: "MM-T1253 CTRL/CMD+SHIFT+M""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1253 CTRL/CMD+SHIFT+M</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+SHIFT+M<br />--------------------<br />1. Press CTRL+SHIFT+M (Windows) or CMD+SHIFT+M (Mac)<h3>Expected</h3>Any post that includes `@username` or `username` or any w

[2021-10-15 22:13] saturninoabril opened #18709 "Write Webapp E2E with Cypress: "MM-T1255 CTRL/CMD+UP or DOWN no action on draft post""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1255 CTRL/CMD+UP or DOWN no action on draft post</h1>
<div>
<div>
<h3>Steps </h3>1. Type 'hello' in the input box but do not post it<br />2. Press CTRL+UP (Windows) or CMD+UP (Mac)<br />3. Press CTRL+DOWN (Windows) or CMD+DOWN (

[2021-10-15 22:13] saturninoabril opened #18710 "Write Webapp E2E with Cypress: "MM-T1254 CTRL/CMD+UP or DOWN at center channel""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1254 CTRL/CMD+UP or DOWN at center channel</h1>
<div>
<div>
<h3>Steps </h3>1. Refresh the page<br />2. Post five messages in the center channel<br />3. Press CTRL+UP (Windows) or CMD+UP (Mac) repeatedly in the empty input box<br

[2021-10-15 22:13] saturninoabril opened #18711 "Write Webapp E2E with Cypress: "MM-T1257 CTRL/CMD+UP or DOWN in RHS""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1257 CTRL/CMD+UP or DOWN in RHS</h1>
<div>
<div>
<h3>Steps  #1</h3><ol><li>Refresh the page</li><li>Open the right hand sidebar</li><li>Post five messages in the right hand sidebar, with the last message being '/shrug'</li><li>P

[2021-10-15 22:13] saturninoabril opened #18712 "Write Webapp E2E with Cypress: "MM-T1250 CTRL/CMD+SHIFT+L - Set focus to center channel message box (with SEARCH RHS open)""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1250 CTRL/CMD+SHIFT+L - Set focus to center channel message box (with SEARCH RHS open)</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+SHIFT+L - Set focus to center channel message box (with search RHS open)<br>––––––––––––––––––––––––

[2021-10-15 22:32] #18710 closed, assigned to nobody

[2021-10-15 22:33] #18708 closed, assigned to nobody

[2021-10-15 22:51] saturninoabril opened #18713 "Write Webapp E2E with Cypress: "MM-T1261 UP arrow""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1261 UP arrow</h1>
<div>
<div>
<h3>Steps </h3>1. Post a message in the right hand side of a test channel<br />2. Press UP<h3>Expected</h3>The user is able to edit their message posted in step 1<hr>
</div>
</div>
</article>

**Te

[2021-10-15 22:51] saturninoabril opened #18714 "Write Webapp E2E with Cypress: "MM-T1271 UP - Removing all text in edit deletes post""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1271 UP - Removing all text in edit deletes post</h1>
<div>
<h3>Updated (Oct 19):</h3>
<p>The following steps and expectations were updated as observed in the <a href="https://github.com/mattermost/mattermost-server/issues/18714

[2021-10-15 22:51] saturninoabril opened #18715 "Write Webapp E2E with Cypress: "MM-T1265 UP - System message does not open for edit; opens previous regular message""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1265 UP - System message does not open for edit; opens previous regular message</h1>
<div>
<div>
<h3>Steps </h3>System message does not open for edit; opens previous regular message<hr>
</div>
</div>
</article>

**Test Folder:**

[2021-10-15 22:51] saturninoabril opened #18716 "Write Webapp E2E with Cypress: "MM-T1267 UP - Center post opens for edit with reply thread RHS open""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1267 UP - Center post opens for edit with reply thread RHS open</h1>
<div>
<div>
<h3>Steps </h3>1. With reply thread RHS open, post in center<br />2. Press UP<h3>Expected</h3>Center post opens for edit and should be able to edit

[2021-10-15 22:51] saturninoabril opened #18717 "Write Webapp E2E with Cypress: "MM-T1268 UP - Edit reply on expanded RHS""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1268 UP - Edit reply on expanded RHS</h1>
<div>
<div>
<h3>Steps </h3>1. Post a message and a reply<br />. Open RHS the expand<br />3. Press UP<h3>Expected</h3>Should open the edit modal for the reply message and be able to edit<

[2021-10-15 22:51] saturninoabril opened #18718 "Write Webapp E2E with Cypress: "MM-T1264 UP - Ephemeral message does not open for edit; opens previous regular message""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1264 UP - Ephemeral message does not open for edit; opens previous regular message</h1>
<div>
<div>
<h3>Steps </h3>Ephemeral message does not open for edit; opens previous regular message<hr>
</div>
</div>
</article>

**Test Fol

[2021-10-15 22:51] saturninoabril opened #18719 "Write Webapp E2E with Cypress: "MM-T1269 UP - Edit code block""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1269 UP - Edit code block</h1>
<div>
<div>
<h3>Steps </h3>1. Post code block<br />2. Press UP<br />3. Edit text in edit modal<br />--------------------<h3>Expected</h3>Code block should have edited.<hr>
</div>
</div>
</article>

[2021-10-15 22:51] saturninoabril opened #18720 "Write Webapp E2E with Cypress: "MM-T1272 UP - RHS: Removing all text in edit deletes reply""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1272 UP - RHS: Removing all text in edit deletes reply</h1>
<div>
<div>
<h3>Steps </h3>1. Post a message<br />2. Click reply arrow to open reply RHS, post a reply<br />3. Observe focus is still in RHS reply box<br />4. Press UP<

[2021-10-15 22:51] saturninoabril opened #18721 "Write Webapp E2E with Cypress: "MM-T1270 UP - Edit message with attachment but no text""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1270 UP - Edit message with attachment but no text</h1>
<div>
<div>
<h3>Steps </h3>1. Post an attached image with no message<br />2. Press UP<br />3. Edit box opens, add text and save<h3>Expected</h3>Text is added to the post<br

[2021-10-16 09:22] ShajithaMohammed commented on #16026
Hi, I'm interested to work on this.

[2021-10-16 10:50] isacikgoz commented on #18670
I think we can include this to the dot release: https://github.com/mattermost/mattermost-server/pull/18722

[2021-10-16 11:59] haardikdharma10 commented on #18670
@streamer45 should we change the log level to from `warn` to `info` as that might be the best thing to do here. What do you think?

[2021-10-16 12:16] jelmd commented on #9614
Yes, this works as expected, but this is not an option for several reasons.

[2021-10-16 12:56] nt7 opened #18723 "Playbooks missing in MM6.0"
A second report about this here: https://forum.mattermost.org/t/playbooks-plugin-not-visible-after-upgrade-to-6-0/12319.

_Originally posted by @amyblais in https://github.com/mattermost/mattermost-server/issues/18681#issuecomment-944508171_

Hi, this is in reference to the above post, I opened a new thread to keep these 2 issues separated, even though they seem to be related.

I initially posted

[2021-10-16 14:54] #17970 closed

[2021-10-16 15:47] joremysh commented on #18626
I would like to work on this

[2021-10-16 17:53] poflankov commented on #18175
@saturninoabril I've added the test for deleting the message below - it works OK.
The failing test is still there. Should I delete it for now?

[2021-10-16 18:11] poflankov commented on #18159
Can I work on this one?

[2021-10-16 20:09] pikami commented on #16124
I'm grabbing this one.

[2021-10-16 23:07] saturninoabril commented on #18159
Sure and thanks @poflankov!

[2021-10-16 23:10] saturninoabril commented on #18713
Sure and thanks @iOSGeekster!

[2021-10-16 23:20] saturninoabril commented on #15697
Opening help-wanted issue for grab again. Feel free to pick it up again if you'd like @Mishrasubha.

[2021-10-16 23:22] shinnlok commented on #18720
Please assign :smiley:

[2021-10-16 23:22] shinnlok commented on #18719
Please assign :smiley:

[2021-10-16 23:24] saturninoabril commented on #15260
Closing as not currently possible to automate with Cypress.

[2021-10-16 23:24] #15260 closed

[2021-10-16 23:36] saturninoabril commented on #18719
Thanks @shinnlok!

[2021-10-17 06:29] gupsho commented on #18503
@agnivade I am getting error while running test.
"Error 1064: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Trigger,Method,Username,IconURL,AutoComplete,AutoCompleteDesc,AutoCompleteHint,D' at line 1".
I cannot figure out what is the issue. Any help is appreciated. Could it be that Trigger is a keyword?

[2021-10-17 14:29] agnivade commented on #18503
Yep, that's right. Trigger is a keyword. Have a look at https://github.com/mattermost/mattermost-server/pull/18633 to see how we solved it :)

[2021-10-17 15:35] gupsho commented on #18503
Thank you. That fixed it.

[2021-10-18 00:54] saturninoabril commented on #18709
@ZeeshanAmjad0495 Sure and thanks!

[2021-10-18 02:27] saturninoabril commented on #18654
Closing. Thanks @gpt14!

[2021-10-18 02:27] #18654 closed

[2021-10-18 02:27] saturninoabril commented on #18642
Closing. Thanks @gpt14!

[2021-10-18 02:27] #18642 closed

[2021-10-18 02:54] gupsho commented on #18428
I can take it if this is available.

[2021-10-18 07:29] isAAAc opened #18731 "No more preview in posts"
Hello,
i opened an issue about preview in mosts in [mattermost_ynh](https://github.com/YunoHost-Apps/mattermost_ynh/issues/295) but the maintainer think it could be an issue in the generic mattermost , so i post it here too.

[2021-10-18 07:31] dipak-demansol opened #18732 "after Creating a new Channel i click on the 3-dot menu of the System generated message then i'm getting the blank screen"
#### Summary
after Creating a new Channel i click on the 3-dot menu of the System generated message then i'm getting the blank screen and by press the back button From the browser still the user is not getting the valid screen.

#### Steps to reproduce
1) Create a new Group and automatically user will redirect in that Group.
2) in the Channel there will be a System generated message as "You joined

[2021-10-18 09:42] #18666 closed, assigned to nobody

[2021-10-18 10:51] bbodenmiller opened #18735 "File content extraction resulting in "invalid byte sequence for encoding" error"
#### Summary
Log reports

#### Steps to reproduce
Unknown

Mattermost 5.38.2 installed via GitLab Omnibus 14.3.3

#### Expected behavior
No error in logs

#### Observed behavior (that appears unintentional)
Error above

#### Possible fixes
Unknown

[2021-10-18 11:30] mattermod opened #18737 "Add IsEnterpriseReady to mattermost-plugin-api"
https://github.com/mattermost/mattermost-server/pull/18676 added the new plugin API `IsEnterpriseReady`.

We now need to add this to [mattermost-plugin-api](https://github.com/mattermost/mattermost-plugin-api), probably to [the system.go file](https://github.com/mattermost/mattermost-plugin-api/blob/master/system.go).

----
If you're interested please comment here and come [join our "Contributors"

[2021-10-18 12:03] Netpilgrim opened #18739 "Empty emoji picker with 6.0.0 and cleared cache"
#### Summary
After a server update to 6.0.0 the emoji picker is empty except for custom emoji. Not all web browsers seem to be affected.

#### Steps to reproduce
- Update Mattermost server to 6.0.0.
- Open an affected client (tested: Desktop App 4.7.0 for Windows, Desktop App 5.0.0 for Linux and Windows, Firefox 93.0 for Linux).
- Clear cache and reload.
- Open the emoji picker (either next to the

[2021-10-18 12:33] hgs81 opened #18741 "Custom Emoji page: next button disappears after clicking previous button on next page"
#### Summary
`Next` button disappears after clicking `Previous` button on next page in Custom Emoji page.

#### Steps to reproduce
- Go to Custom Emoji page
- Click `Next` to navigate to next page (2/2)
- Click `Previous` to navigate to previous page (1/2)
- Now, `Next` button disappears

#### Expected behavior
`Next` button should appear on first page.

#### Observed behavior (that appears uninte

[2021-10-18 13:58] #18681 closed, assigned to nobody

[2021-10-18 13:59] #18377 closed

[2021-10-18 14:12] #18732 closed, assigned to nobody

[2021-10-18 14:26] #18594 closed, assigned to mathiasvr

[2021-10-18 14:58] #18577 closed, assigned to jlram

[2021-10-18 15:00] mattermod opened #18745 "Desktop: Update window title when app switching on desktop"
Switch apps using Alt+Tab, observe the title over the desktop app tile in the app switcher
Observed:

```(#*mentions) * Channel_name - Team*name Mattermost```

Expected: ON DESKTOP ONLY (No changes to browser tab titles)

```Mattermost | Channel*name | Team_name (#*mentions) *```

(#_mentions) should only appear if there are mentions
"*" should only appear if there are unread messages

For backwar

[2021-10-18 15:06] #18573 closed, assigned to cleferman

[2021-10-18 16:05] amyblais commented on #18739
@hmhealey @jgilliam17 Do you recall seeing/hearing about reports like this in the past?

[2021-10-18 16:10] sokoow opened #18747 "schema upgrade failure 5.37.0->6.0.0"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

#### Summary
Got schema upgrade error while upgrading 5.37.0 to 6.0.0

#### Steps to reproduce
Upgrade a mattermost database full of data to 6.0.0

#### Expected behavior
Here's what I got when upgrading:

[code]
it doesn't say any more than that

#### Observed behavior (that appears unintent

[2021-10-18 16:12] sokoow opened #18748 "Is there any special setup needed to make playbooks working?"
Hi All,

I've clicked through couple of useful patterns in playbooks sections, but can't save them. Every time I click on a Save button, I get this:

[code]
is there anything to be done on mattermost server first before using playbooks? I'm on 5.39.0.

[2021-10-18 16:57] #18597 closed

[2021-10-18 16:57] calebroseland commented on #18597
Thanks, @srijit2002!

[2021-10-18 16:59] #18747 closed, assigned to nobody

[2021-10-18 17:25] jgilliam17 commented on #18739
@amyblais I don't recall seeing this in the past. I am not able to repro on my end using Win10 Desktop 5.0 or Firefox and Edge browsers on Win10

[2021-10-18 17:28] #18720 closed, assigned to shinnlok

[2021-10-18 18:33] lieut-data commented on #18748
Hi @sokoow! Sorry about the trouble you're experiencing -- that error comes from the client-side, while the really interesting stuff will be in the server logs. Do you have access to those logs that we might be able to use to debug further?

[2021-10-18 19:48] disco-panda opened #18752 "Width on `.sidebar--right .sidebar--right__bg` is set to `1000%` instead of `100%`"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-10-18 20:52] bbodenmiller commented on #18735
@jespino I'm not sure how to figure out what file triggered the error as that doesn't seem to be in the log message.

[2021-10-18 20:56] bbodenmiller opened #18753 "mattermost extract-documents-content - panic: runtime error: invalid memory address or nil pointer dereference"
#### Summary
Received `panic: runtime error: invalid memory address or nil pointer dereference` during `mattermost extract-documents-content` run which exited extraction process mid-run

#### Steps to reproduce
Running 5.38.2. Unclear how to reproduce.

#### Expected behavior
No error or at minimum graceful skipping of this file rather than crashing `extract-documents-content` process

#### Observ

[2021-10-18 21:32] shinnlok commented on #18561
Can I give this a shot?

[2021-10-18 22:18] #18670 closed, assigned to nobody

[2021-10-19 01:21] #18158 closed

[2021-10-19 03:17] saturninoabril commented on #18714
@iOSGeekster Thanks for pointing out and you're totally correct! For your question, other user will be shown with ephemeral post of "(message deleted)" if the client initially received the post. Otherwise, nothing will be shown to other user.
I've updated the description above linking to the updated test case from our test management system - https://automation-test-cases.vercel.app/test/MM-T1271.

[2021-10-19 06:04] ZeeshanAmjad0495 commented on #18715
@saturninoabril I would like to like the cypress test for this issue.

[2021-10-19 06:09] saturninoabril commented on #18715
Sure and thanks @ZeeshanAmjad0495!

[2021-10-19 06:28] iOSGeekster commented on #18714
Cool, thanks. I'll try that out later today.

[2021-10-19 07:43] #18748 closed, assigned to nobody

[2021-10-19 08:25] ZeeshanAmjad0495 commented on #18707
@saturninoabril I would like to write cypress e2e test for this issue.

[2021-10-19 08:27] saturninoabril commented on #18707
@ZeeshanAmjad0495 Sure and thanks!

[2021-10-19 11:39] fujexo opened #18758 "Ctrl+K Channel Switcher doesn't switch to next unread channel anymore"
#### Summary
Channel Switcher doesn't open unread channels anymore.

#### Steps to reproduce

The steps for 5.x release were:

1. Open the Channel Switcher using Ctrl+K
2. Press Enter, you land in the next unread channel (if any)

Now with the latest update to 6.0.0, we have the following behavior

1. Open the channel switcher using Ctrl+K
2. Press enter, you switch to the channel you were previou

[2021-10-19 12:45] #18758 closed, assigned to nobody

[2021-10-19 14:19] #18627 closed, assigned to penthaapatel

[2021-10-19 14:30] mattermod opened #18760 ""Include finished""
Change `Finished runs` to `Include finished` to clarify the meaning of this filter option:

![](CleanShot 2021-10-19 at 11.23.41@2x-20211019-142352.png|width=531,height=126)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with commun

[2021-10-19 14:30] mattermod opened #18761 "Improve RHS collapse/expand experience"
The collapse/expand icon for the playbook run summary looks the same as the icon for the RHS. Let’s clarify it to use the following icon instead when expanded:

![image](https://user-images.githubusercontent.com/1023171/137954618-1319af1a-6f8a-4a55-b3ab-d311b026d35f.png)

and when collapsed:

![image](https://user-images.githubusercontent.com/1023171/137954635-3ce1b91d-e6eb-495e-85cc-8a40d8f215c9.

[2021-10-19 14:30] mattermod opened #18762 "Consistent buttons in Playbooks navigation"
Some of the click targets in the Playbooks navigation are a bit small and potentially difficult to hit. Let’s address this  as illustrated below. (For clarity, make the “Give Feedback” prompt a button just like these.)

![image](https://user-images.githubusercontent.com/1023171/137954914-7ef3532a-fab6-4244-b7fe-c9f7cd74b332.png)

Also, on a playbook’s retrospective tab, make the whole filter butto

[2021-10-19 14:45] mattermod opened #18763 "Avoid repetitive notifications on completing tasks"
Omit all in-channel checklist item notifications. That is, checking, unchecking, assigning or unassigning an item should no longer post a message in the playbook run channel at all.

Instead, let’s notify users directly via DM from the @playbooks bot. In particular:

  * Notify new run owners via DM instead of in-channel, unless the run creator is also the run owner.
  * Notify new task assignees

[2021-10-19 16:59] pachkovska commented on #17247
I would like to take this.

[2021-10-19 17:48] lieut-data commented on #18288
I've updated the description of this issue to match the proposed recommendation after security review -- cc @roshanjrajan and @jayaddison-collabora, if anyone is interested in taking a look :)

[2021-10-19 18:07] #18607 closed, assigned to achie27

[2021-10-19 18:54] dllu opened #18764 "Cannot add emoji containing plus sign in name even though it is explicitly allowed"
#### Summary
Cannot add emoji containing plus sign in name even though it says "It can contain lowercase letters, numbers, and the symbols '-', '+' and '_'."

#### Steps to reproduce
1. add emoji named "c++" on either desktop or web edition

#### Expected behavior
It should work since the plus sign is explicitly allowed.

#### Observed behavior (that appears unintentional)
An error message appears

[2021-10-20 00:44] #13468 closed

[2021-10-20 02:17] gpt14 commented on #18717
I can pick this up

[2021-10-20 02:25] #18721 closed, assigned to gpt14

[2021-10-20 02:48] #18175 closed

[2021-10-20 02:56] rkaranam commented on #18532
@karanb86 I got occupied with some other work. Yes, you can work on it now.

[2021-10-20 03:33] #18709 closed, assigned to ZeeshanAmjad0495

[2021-10-20 05:15] Sarak1976 opened #18766 "New Mattermost desktop application results in account continually flashing on the screen"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-10-20 05:41] saturninoabril commented on #18711
@ZeeshanAmjad0495 Sure and thanks!

[2021-10-20 10:27] raphaeljlps commented on #18763
I'd like to work on this issue.

[2021-10-20 13:23] haardikdharma10 commented on #18763
@raphaeljlps as this is `Up For Grabs`, please go ahead. All yours 🎉

[2021-10-20 13:53] disco-panda commented on #18752
Thank you for checking into this, after seeing the related PR, I have noticed a bit of CSS in a plugin we are developing that caused this issue. My mistake!

Thank you all for your wonderful work! <3

[2021-10-20 13:53] #18752 closed, assigned to nobody

[2021-10-20 17:20] #13467 closed

[2021-10-20 17:55] #18723 closed, assigned to nobody

[2021-10-20 18:05] #18712 closed, assigned to nobody

[2021-10-20 18:26] #18707 closed

[2021-10-20 18:30] mattermod opened #18781 "Maintain scroll position in channel when opening reply message permalinks"
With Collapsed Reply Threads enabled,

**Observed:** Clicking a permalink to a reply message reloads the screen and then redirects depending on the post linked. User scroll position in the channel is lost as the user lands at the bottom of the channel

**Expected:** The thread should open in the RHS without screen reload. User scroll position in the originating channel should not be affected

----

[2021-10-20 18:30] mattermod opened #18782 "Update the display of search results when using Collapsed Reply Threads"
When Collapsed Reply Threads are enabled, and a thread root post or reply message is displayed in search results in the RHS, the title ‘Thread in \{Channel Name}’ displays above the result. Note: There should be no changes to how parent posts without replies display in search results.

We should also display the `ThreadFooter` component **for thread root posts** appearing in the search results. Ch

[2021-10-20 21:10] #16165 closed

[2021-10-21 04:25] #18630 closed

[2021-10-21 04:27] #18503 closed

[2021-10-21 04:29] agnivade commented on #18631
Hey @gyanesh-m - how is it going with this? Let me know if I can help in any way.

[2021-10-21 04:56] ZeeshanAmjad0495 commented on #18711
@saturninoabril I cannot find the rhs sidebar can you please guide, thanks.

[2021-10-21 06:49] saturninoabril commented on #18711
If you click Reply to one of the posts, then it will open the RHS sidebar.
<img width="234" alt="Screen Shot 2021-10-21 at 2 48 10 PM" src="https://user-images.githubusercontent.com/5334504/138225923-8215b8a5-030f-441a-a958-d1cd425272fb.png">

[2021-10-21 09:17] Netpilgrim commented on #18739
Keeping the emoji picker open for a long time (up to 30 minutes) did not result in more emoji being loaded (tested in Firefox). On the other hand, in my desktop app, which is the one I have running continuously, all emoji have suddenly reappeared after not opening the dialog for some time.
Most colleagues are still reporting the problem, although there is some indication that it is more prevalent

[2021-10-21 09:30] mattermod opened #18790 "Use the new IsEnterpriseReady API from mattermost-plugin-api"
Leverage [the new `IsEnterpriseReady` API](https://github.com/mattermost/mattermost-plugin-api/pull/104) recently added to mattermost-plugin-api in Playbooks.

Right now, the frontend sends a boolean back to the server informing of whether the server is enterprise ready or not (https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/client.ts#L439-L447). This was done simp

[2021-10-21 09:56] Hoover391github opened #18791 "Fix acsess to gmail.com jeremyhoover683@gmail.com"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-10-21 10:38] thomas-mc-work commented on #17357
Is it required to have a certain proxy implementation here? Why isn't it possible to have a generic interface to use any solution?

[2021-10-21 12:46] #18791 closed

[2021-10-21 15:03] darkLord19 commented on #18603
@esethna have discussed with Harrison and we have thought of 2-3 approaches. Have started initial work but not enough to raise PR yet

[2021-10-21 15:10] #18647 closed

[2021-10-21 15:30] mattermod opened #18796 "CRT: threads list loading indicator and search guidance at end of the list"
* add a loading indicator each time more posts are being fetched on infinite scroll
  * when no more posts can be loaded (due to the historical limit of threads) provide search guidance at the bottom of the list

**Webapp**

![](image-20211012-205520.png|width=66.66666666666667%)

**Sample animated GIF**

![](2021-10-12 16.37.14.gif|width=796,height=1248)

Figma design link: [https://www.figma.com

[2021-10-21 17:05] agarciamontoro commented on #18737
Thank you, @Zeezee1210, closing now.

[2021-10-21 17:05] #18737 closed

[2021-10-21 17:15] mattermod opened #18797 "Read Receipts: Implement backend functionality to store read receipts for DMs and GMs"
As part of [https://mattermost.atlassian.net/browse/MM-36529](https://mattermost.atlassian.net/browse/MM-36529) we need to add the backend functionality to store the read receipts from each user. The front end PRs are in-progress internally.

Things to consider:

  * Read receipts are tracked in a new LastReadAt column in each of the ChannelMembers and ThreadMemberships tables.
  * As the client i

[2021-10-21 18:34] #17266 closed

[2021-10-21 22:08] #18715 closed

[2021-10-21 23:59] #18651 closed, assigned to TheLaw1337

[2021-10-22 08:13] #17605 closed, assigned to nobody

[2021-10-22 08:48] saturninoabril opened #18803 "Write Webapp E2E with Cypress: "MM-T1279 Keyboard shortcuts menu item""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1279 Keyboard shortcuts menu item</h1>
<div>
<div>
<h3>Steps </h3>Keyboard shortcuts menu item<br />--------------------<br />1. Click help menu<br />2. Select `Keyboard Shortcuts`<h3>Expected</h3>Keyboard shortcuts modal opens<

[2021-10-22 08:48] saturninoabril opened #18804 "Write Webapp E2E with Cypress: "MM-T1278 CTRL/CMD+SHIFT+K""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1278 CTRL/CMD+SHIFT+K</h1>
<div>
<div>
<h3>Steps </h3>CTRL/CMD+SHIFT+K<br />--------------------<br />1. Press CTRL+SHIFT+K (Win) or CMD+SHIFT+K (Mac)<h3>Expected</h3>DM More... list modal opens<br />Pressing again closes modal<

[2021-10-22 08:48] saturninoabril opened #18805 "Write Webapp E2E with Cypress: "MM-T1274 :[character]+TAB""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1274 :[character]+TAB</h1>
<div>
<div>
<h3>Steps </h3>:[character]+TAB<br />--------------------<br />1. In a test channel, begin typing :[emoji] so that the autocomplete list appears.<br />2. Use down arrow to move down the lis

[2021-10-22 08:48] saturninoabril opened #18806 "Write Webapp E2E with Cypress: "MM-T1275 SHIFT+UP""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1275 SHIFT+UP</h1>
<div>
<div>
<h3>Steps </h3>SHIFT+UP<br>--------------------<br>1. Click in the Write to_ message input box in the center channel<br>2. Ensure the latest message in the channel is a non-system, non-ephemeral me

[2021-10-22 08:48] saturninoabril opened #18807 "Write Webapp E2E with Cypress: "MM-T1273 @[username]+TAB""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1273 @[username]+TAB</h1>
<div>
<div>
<h3>Steps </h3>@[character]+TAB<br />--------------------<br />1. In a test channel, begin typing @[username] so that the autocomplete list for mentions appears.<br />2. Scroll to a username

[2021-10-22 08:48] saturninoabril opened #18808 "Write Webapp E2E with Cypress: "MM-T1277 SHIFT+UP""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1277 SHIFT+UP</h1>
<div>
<div>
<h3>Steps </h3>SHIFT+UP<br />--------------------<br />1. Press shift+up to open the latest thread in the channel in the RHS<br />2. Click into the post textbox in the center channel<br />3. Press

[2021-10-22 08:48] saturninoabril opened #18809 "Write Webapp E2E with Cypress: "MM-T1276 SHIFT+UP""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T1276 SHIFT+UP</h1>
<div>
<div>
<h3>Steps </h3>SHIFT+UP<br />--------------------<br />1. In a channel with a system message as its most recent (can create one by joining a channel):<br />2. Press SHIFT+UP<h3>Expected</h3>Reply t

[2021-10-22 08:51] #18803 closed, assigned to nobody

[2021-10-22 08:52] #18805 closed, assigned to nobody

[2021-10-22 08:52] #18806 closed, assigned to nobody

[2021-10-22 08:53] #18807 closed, assigned to nobody

[2021-10-22 08:54] #18804 closed, assigned to nobody

[2021-10-22 08:57] bbodenmiller opened #18810 "Mattermost server throwing 50x errors - Too many open files"
#### Summary
A few times now on various versions (at least 5.38.2 & 5.33) of Mattermost we've started getting 500 errors and logs showing `too many open files`. Restarting server fixed issue (didn't try just restarting Mattermost first).

#### Steps to reproduce
Unknown

#### Expected behavior
Properly close file handlers

#### Observed behavior (that appears unintentional)
50x errors for users

T

[2021-10-22 09:09] saturninoabril opened #18811 "Write Webapp E2E with Cypress: "MM-T2049 Account Settings link in own popover""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2049 Account Settings link in own popover</h1>
<div>
<div>
<h3>Steps </h3>Account Settings link in own popover<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;

[2021-10-22 09:09] saturninoabril opened #18812 "Write Webapp E2E with Cypress: "MM-T2078 Profile picture: file types accepted""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2078 Profile picture: file types accepted</h1>
<div>
<div>
<h3>Steps </h3>Profile picture: file types accepted<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;

[2021-10-22 09:09] saturninoabril opened #18813 "Write Webapp E2E with Cypress: "MM-T2082 Password: New password confirmation mismatch produces error""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2082 Password: New password confirmation mismatch produces error</h1>
<div>
<div>
<h3>Steps </h3>Password<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdas

[2021-10-22 09:09] saturninoabril opened #18814 "Write Webapp E2E with Cypress: "MM-T2075 Profile Picture: Cancel out of adding profile picture""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2075 Profile Picture: Cancel out of adding profile picture</h1>
<div>
<div>
<h3>Steps </h3>Profile Picture<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mda

[2021-10-22 09:09] saturninoabril opened #18815 "Write Webapp E2E with Cypress: "MM-T2079 Can remove profile pic then choose different pic without saving in between""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2079 Can remove profile pic then choose different pic without saving in between</h1>
<div>
<div>
<h3>Steps </h3>Can remove profile pic then choose different pic without saving in between<br />&mdash;&mdash;&mdash;&mdash;&mdash;&

[2021-10-22 09:09] saturninoabril opened #18816 "Write Webapp E2E with Cypress: "MM-T2045 Full Name - Link in help text""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2045 Full Name - Link in help text</h1>
<div>
<div>
(UPDATED)
<h3>Steps </h3>Full Name - Link in help text<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mda

[2021-10-22 09:09] saturninoabril opened #18817 "Write Webapp E2E with Cypress: "MM-T2083 Password: Too few characters in new password produces error""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2083 Password: Too few characters in new password produces error</h1>
<div>
<div>
<h3>Steps </h3>Password<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdas

[2021-10-22 09:09] saturninoabril opened #18818 "Write Webapp E2E with Cypress: "MM-T2086 Password - Timestamp and email""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2086 Password - Timestamp and email</h1>
<div>
<div>
<h3>Steps </h3>Password - Timestamp and email<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdas

[2021-10-22 09:09] saturninoabril opened #18819 "Write Webapp E2E with Cypress: "MM-T2044 Clear fields, values revert""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

## MM-T2044: Clear fields, values revert

---

**Step 1**

Clear fields, values revert\
————————————\
1\. Go to User menu > Profile > Profile Settings > Full Name > Edit\
2\. Change fields to blank\
3\. Cancel

**Expected**

Full name field rever

[2021-10-22 09:09] saturninoabril opened #18820 "Write Webapp E2E with Cypress: "MM-T2077 Profile Picture: Non-image file shows error""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2077 Profile Picture: Non-image file shows error</h1>
<div>
<div>
<h3>Steps </h3>Profile Picture<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;

[2021-10-22 09:09] saturninoabril opened #18821 "Write Webapp E2E with Cypress: "MM-T2074 New email not visible to other users until it has been confirmed""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2074 New email not visible to other users until it has been confirmed</h1>
<div>
<div>
<h3>Steps </h3>New email not visible to oher users until it has been confirmed <br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;

[2021-10-22 09:09] saturninoabril opened #18822 "Write Webapp E2E with Cypress: "MM-T2084 Password: Cancel out of password changes causes no changes to be made""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2084 Password: Cancel out of password changes causes no changes to be made</h1>
<div>
<div>
<h3>Steps </h3>Password<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&m

[2021-10-22 09:09] saturninoabril opened #18823 "Write Webapp E2E with Cypress: "MM-T2076 Profile Picture: Non-square image is cropped and centered""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2076 Profile Picture: Non-square image is cropped and centered</h1>
<div>
<div>
<h3>Steps </h3>Profile Picture<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;

[2021-10-22 09:09] saturninoabril opened #18824 "Write Webapp E2E with Cypress: "MM-T2042 Full Name starting blank stays blank""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2042 Full Name starting blank stays blank</h1>
<div>
<div>
<h3>Steps </h3>Full Name starting blank stays blank<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;

[2021-10-22 09:09] saturninoabril opened #18825 "Write Webapp E2E with Cypress: "MM-T2081 Password: Error on blank""
See our [documentation for Webapp end-to-end testing with Cypress](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article>
<h1>MM-T2081 Password: Error on blank</h1>
<div>
<div>
<h3>Steps </h3>Password<br />&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdas

[2021-10-22 12:58] #18761 closed, assigned to nobody

[2021-10-22 15:51] rtuechsen opened #18827 "Closing Application starts random other application"
#### Summary
Closing Application starts random other application.

#### Steps to reproduce
I have set Mattermost to start with windows. The described behavior only happens the first time closing the window after windows startup. Closing Mattermost is configured to minimize the application to system try. The OS is Windows, build 19043.1288.

#### Observed behavior (that appears unintentional)
When

[2021-10-22 16:20] #18827 closed, assigned to nobody

[2021-10-22 17:57] #18678 closed, assigned to nobody

[2021-10-22 21:00] #18764 closed, assigned to nobody

[2021-10-24 00:02] saturninoabril commented on #18824
Sure and thanks @EANimesha!

[2021-10-25 00:19] prapti commented on #18813
Thanks @saturninoabril!!

Submitted all 3 password test (T2082, T2083 & T2084) in https://github.com/mattermost/mattermost-webapp/pull/9250. Looking forward to the review :)

[2021-10-25 16:15] mattermod opened #18841 "Show recent searches in Search popover"
While working on the improvements for File Search, we added a ‘Recent Searches’ section to the search popover. It would be a nice addition to this experience.

![](image-20210608-141418.png|width=1366,height=768)

[https://www.figma.com/file/SwCd4uBAt0gAWnGpgjfO92/MM-29044-File-Search-Enhancements?node-id=87%3A27473](https://www.figma.com/file/SwCd4uBAt0gAWnGpgjfO92/MM-29044-File-Search-Enhancemen

[2021-10-25 17:09] #18584 closed, assigned to achie27

[2021-10-25 19:38] etwasanderes2 opened #18926 "Non-descript error when uploading files with names with umlauts / weird unicode"
#### Summary
Uploading a file with umlauts in it's name causes a red message `There was a problem uploading your files.` to appear. This also happened with other weird unicode symbols.

#### Steps to reproduce
##### Version
[code]
In the web application, running on `Chromium 94.0.4606.81 Arch Linux`, and
in the Desktop App, version 4.7.2

##### Reproduction
Attach a file named `ä` for example. I a

[2021-10-25 22:09] #18762 closed, assigned to nobody

[2021-10-26 00:42] #18822 closed, assigned to prapti

[2021-10-26 00:42] #18813 closed, assigned to prapti

[2021-10-26 00:42] #18817 closed, assigned to prapti

[2021-10-26 01:08] #18609 closed, assigned to cleferman

[2021-10-26 13:45] mattermod opened #18847 "Recent emojis don't update to default skin tone when changed"
Repro: Have some emoji in the recent section of the picker, change the default skin tone

Observed: Recent emojis don't update to default skin tone color

![](image-2021-08-17-11-17-45-232.png|width=200,height=183)

Expected: All recent emojis that support skin tones will update to the default skin tone color. There should only be one skin tone variant of each emoji in the recently used section an

[2021-10-26 14:55] #18628 closed, assigned to s4kh

[2021-10-26 17:18] RobinFrcd opened #18848 "Add copy markdown cell button"
Hi,
The markdown formatting is really cool, but it would be even better if a `copy` button was available to copy the cell content to the clipboard.
Would it be possible to add like link ? Somewhere next to the `bash` title in the top right corner for example.

![image](https://user-images.githubusercontent.com/29704178/138928461-60f6cfdc-b70a-4f88-be5e-ae5c3d7915fb.png)

Thanks to the whole Matter

[2021-10-26 20:30] mattermod opened #18851 "Show a copy button when hovering over code blocks"
When hovering over code blocks show a copy button that copies the contents of the code block to clipboard. This button should not appear on in-line code, only on code blocks that are created using the triple backtick syntax (```)

Please see the figma design for button details, hover and click effects, etc: [https://www.figma.com/file/RV2tE26UUvoUlpx1mI4C32/MM-38770---Copy-Code-Blocks?node-id=1%3A

[2021-10-27 06:51] majidit opened #18857 "It is not added to the reaction"
Hello friends

Someone put a reaction on a post and I want to put the same reaction,

but when I click on that reaction, **_it is not added to it_**!

@mgielda @jnugh @dmeza @alerque @it33

[2021-10-27 15:31] someone-somenet-org opened #18863 "Deletes are not propagated when android/web-app is offline. [Reopen: #16339]"
The closed issue #16339 is still or again an issue: Deletes are not propagated when android/web-app is offline.

Versions:
+ MM 6.0.1
+ Android app 1.47.2

Calling
https://xxx/api/v4/channels/CHANNEL_ID/posts?since=1635282122676&skipFetchThreads=false
returns the correct posts, including the deleted posts (without content).

But for some reason the android app doesn't seem to care and neither does

[2021-10-27 15:58] joseant opened #18864 "Error upgrading from 5.32 to 6.0.2"
Hello.

I have mattermost server on debian 9 and mariadb 10.1.48

When I try to upgrade from 5.32 to 6.0.2 I get this error in the logs.

[code]
O

[2021-10-27 22:33] #18711 closed, assigned to ZeeshanAmjad0495

[2021-10-28 05:52] agnivade opened #18866 "Migrate from gorp to sqlx in store/sqlstore/scheme_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/scheme_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-28 05:52] agnivade opened #18867 "Migrate from gorp to sqlx in store/sqlstore/thread_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/thread_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-28 05:52] agnivade opened #18868 "Migrate from gorp to sqlx in store/sqlstore/tokens_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/tokens_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-28 05:52] agnivade opened #18869 "Migrate from gorp to sqlx in store/sqlstore/user_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/user_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which r

[2021-10-28 05:53] agnivade opened #18870 "Migrate from gorp to sqlx in store/sqlstore/user_terms_of_service.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/user*terms_of*service.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplic

[2021-10-28 05:53] agnivade opened #18871 "Migrate from gorp to sqlx in store/sqlstore/team_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/team_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which r

[2021-10-28 05:53] agnivade opened #18872 "Migrate from gorp to sqlx in store/sqlstore/terms_of_service_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/terms*of_service*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetRepli

[2021-10-28 05:53] agnivade opened #18873 "Migrate from gorp to sqlx in store/sqlstore/remote_cluster_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/remote*cluster*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplica

[2021-10-28 05:53] agnivade opened #18874 "Migrate from gorp to sqlx in store/sqlstore/retention_policy_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/retention*policy*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetRepli

[2021-10-28 05:53] agnivade opened #18875 "Migrate from gorp to sqlx in store/sqlstore/shared_channel_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/shared*channel*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplica

[2021-10-28 05:53] agnivade opened #18876 "Migrate from gorp to sqlx in store/sqlstore/status_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/status_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-28 05:53] agnivade opened #18877 "Migrate from gorp to sqlx in store/sqlstore/user_access_token_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/user*access_token*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetRepl

[2021-10-28 05:53] agnivade opened #18878 "Migrate from gorp to sqlx in store/sqlstore/role_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/role_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which r

[2021-10-28 05:53] agnivade opened #18879 "Migrate from gorp to sqlx in store/sqlstore/webhook_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/webhook_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` whic

[2021-10-28 05:53] agnivade opened #18880 "Migrate from gorp to sqlx in store/sqlstore/session_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/session_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` whic

[2021-10-28 05:53] agnivade opened #18881 "Migrate from gorp to sqlx in store/sqlstore/system_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/system_store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplicaX` which

[2021-10-28 05:53] agnivade opened #18882 "Migrate from gorp to sqlx in store/sqlstore/upload_session_store.go"
Mattermost is migrating from using `gorp` as a sql library to using `sqlx`.

This ticket is about migrating all usages of gorp in `store/sqlstore/upload*session*store.go` to sqlx.

The way to proceed would be as follows:

All SQL queries are usually executed from `GetMaster()` or `GetReplica()` calls which return the gorp instance for the DB. We have a corresponding method `GetMasterX`/`GetReplica

[2021-10-28 06:28] KlavsKlavsen opened #18883 "Allow disabling/Removing default channels"
When you create a new Team in Mattermost - they ALL have their own off-topic/Town Square channels - which cannot be disabled :(

I would very  much like to be able to f.ex. ONLY have private channels in primary/common Team - and thus removing or atleast disabling the 2 default channels, would be a very nice feature.

[2021-10-28 15:09] #18864 closed, assigned to nobody

[2021-10-28 21:46] #18816 closed, assigned to prapti

[2021-10-29 10:07] KlavsKlavsen opened #18890 "Threads view shows deleted messages -and they never disappear"
#### Summary
Threads view shows deleted messages -and they never disappear

#### Steps to reproduce
write in a channel.. have someone else reply to it - so it shows up in Threads unreads
Then delete both the message on the thread and the thread starting message

#### Expected behavior
When message is deleted, it should be removed from Threads view too :)

#### Observed behavior (that appears unint

[2021-10-29 18:07] shadowshot-x commented on #18596
Thank You so much @lieut-data. I will reach out for help if needed! 🤩

[2021-10-29 18:28] penthaapatel commented on #18882
Oops, I think you self-assigned the issue by mistake.

[2021-10-29 18:31] anchepiece commented on #18268
Thanks @hanzei

[2021-10-29 18:59] alexander-potemkin commented on #17638
@amyblais , @enahum , any updates on that? it’s a really annoying thing on iPad and it’s like 5 months old now…

[2021-10-29 20:00] esethna commented on #18857
@furqanmlk thanks, can you help open a bug ticket and route to Ursa team triage?

[2021-10-29 20:16] furqanmlk commented on #18857
Done ✅
https://mattermost.atlassian.net/browse/MM-39749

[2021-10-29 20:39] JulienTant commented on #18448
I'm on it

[2021-10-29 23:07] jgallucci32 commented on #15606
With E10 going away and E20 getting a price hike, I see this feature as being essential to keeping the community active with the Starter (previously Team) edition.

Has anyone in the community actually submitted a PR for this feature? Or are we just asking Mattermost devs to port an enterprise feature for free?

[2021-10-30 10:33] #18112 closed

[2021-10-30 12:13] berkeka commented on #18809
I can handle this one 👋

[2021-10-30 12:14] berkeka commented on #18808
I can give this one a shot too since its pretty similar with #18809

[2021-10-30 16:02] bretanac93 commented on #18879
I would like to take care of this one :)

[2021-10-30 18:59] agnivade commented on #18879
Thank you @bretanac93 !

[2021-10-30 20:38] clovis1122 commented on #18564
Hello, @shreyavi are you still interested in this? I'd like to give it a shot as well.

[2021-10-31 01:24] shreyavi commented on #18564
@clovis1122 go for it!

[2021-10-31 11:39] bretanac93 commented on #18879
Ready to be reviewed on #18896, I had fun while doing it, thanks for allowing contributions 😃

[2021-10-31 16:31] allebone commented on #15606
I haven't seen one, but id be happy to collaborate on the writing of. I am seeing a large swatch of people who are fracturing MM usage/deployment by using Gitlab, to sneak through. In the meantime, they are shortcutting all of the good thing about MM.

[2021-10-31 17:02] cheluskin commented on #18883
Any solution? no way to do it via plugins? I am trying to do this now, but I see no methos to intercept the team create.

[2021-11-01 06:24] #16245 closed

[2021-11-01 08:50] majidit opened #18900 "Anyone can access the Invite Members Link !!"
Hello friends

## It is not good at all that anyone can access the invitation link
Because this link may be provided to someone outside the organization and can easily become a member and access information from the organization, however insignificant.
We had to block registration by email!
And if necessary, we will activate it to register!
And after registering, we will deactivate it again!
:neut

[2021-11-01 09:55] bodynar opened #18901 "Cannot view file from messages history"
#### Summary
Not loaded image from "Recent files" crashing page

#### Steps to reproduce
1. Open "**Recent files**" tab
2. Select "**Image**" filter
3. Open image which is not presented in chat _(to see this image in chat you need to scroll up and load previous messages)_

#### Expected behavior
After selecting image in Recent files I expect to observe image in modal

#### Observed behavior (that

[2021-11-01 10:36] yamaken1343 commented on #18336
I was worried about the same error, but I've solved it so I'll share it.

**Setting the `ServiceSettings.SiteURL` in the config worked.**

This happens since v5.32.
The cause was that the correct redirect URL was not passed to GitLab's TokenEndPoint.
You can see that the `redirect_uri` is different.

v5.31 GitLab logs
[code]

v5.32 GitLab logs
[code]

The main reason is that the method of determin

[2021-11-01 12:52] cheluskin opened #18904 "Permission view_members not working"
#### Summary
view_members not working

#### Steps to reproduce
Remove view_members from role system_user in database record and restart docker compose

#### Expected behavior
User must not see members

#### Observed behavior (that appears unintentional)
User can see members

[2021-11-01 13:07] lieut-data commented on #18564
Thanks @clovis1122 & @shreyavi!

[2021-11-01 13:15] mattermod opened #18905 "Use relative urls in hard-coded channel header message"
When a playbook run creates a channel, it automatically populates the channel header with links to the playbook and run overview:

![image](https://user-images.githubusercontent.com/1023171/139682092-b1baa9fd-ffd2-43ec-8ded-6bad296db856.png)

The URLs in play here embed the full SiteURL, but a relative URL would work just fine, and in fact behaves better in clusters with multiple effective SiteURL

[2021-11-01 13:54] lieut-data commented on #18494
Moving this internal.

[2021-11-01 13:54] #18494 closed

[2021-11-01 13:54] lieut-data commented on #18569
Moving this internal.

[2021-11-01 13:54] lieut-data commented on #18582
Moving this internal.

[2021-11-01 13:54] #18582 closed

[2021-11-01 13:55] lieut-data commented on #18583
Moving this internal.

[2021-11-01 13:55] #18583 closed

[2021-11-01 13:56] lieut-data commented on #18587
Moving this internal.

[2021-11-01 13:56] #18587 closed

[2021-11-01 13:56] lieut-data commented on #18381
Moving this internal.

[2021-11-01 13:56] #18381 closed

[2021-11-01 14:05] #17243 closed

[2021-11-01 14:15] Duaard commented on #18394
Hey @lieut-data looks like I won't be able to tackle this, there's lot of stuff going on and I just can seem to find the time to work on this atm. Sorry for taking too long as I really wanted to work on this. 😅

Hoping to contribute again once I got more free time. 😄

[2021-11-01 14:20] lieut-data commented on #18394
Not a problem in the least, @Duaard! Happy to have had your help, and we look forward to another opportunity to work together again :)

[2021-11-01 16:42] amyblais commented on #18848
I'll close as a dup of https://github.com/mattermost/mattermost-server/issues/18851

[2021-11-01 16:42] #18848 closed

[2021-11-01 16:44] amyblais commented on #18904
@cheluskin
1. What Mattermost server version are you on?
2. Do you see any errors in Mattermost logs?

[2021-11-01 16:44] amyblais commented on #18900
We've opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-39780

[2021-11-01 16:47] amyblais commented on #18883
Thank you for upvoting the feature request!

Some comments from a dev at https://community.mattermost.com/core/pl/comjw5m8upgemjyiubid7buqmc:
Off-Topic could probably be made optional. It has a workaround as people have made integrations to automatically delete the Off-Topic channel when a team is created so that people aren't added to it. Town Square is harder unfortunately. A lot of the app uses

[2021-11-01 16:47] #18883 closed

[2021-11-01 16:55] amyblais commented on #18901
Opened a ticket: https://mattermost.atlassian.net/browse/MM-39788

[2021-11-01 17:19] lieut-data commented on #18547
@viny1ic, how's your efforts? Anything we can do to help?

[2021-11-01 19:26] cheluskin commented on #18904
I'm not sure what this is related to, it seems the functionality just doesn't work.

[code]

[2021-11-01 20:16] #18559 closed

[2021-11-01 20:17] #18557 closed

[2021-11-01 20:27] calebroseland commented on #18512
Hi @ankitakash2007, thanks for your interest in taking this up! We're now in the process of wrapping this feature up, and will be closing this ticket, unfortunately.

If you're still interested in any trailing Hacktoberfest efforts or any other dev tickets, be sure to checkout [Help Wanted](https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+label%3A%22Help+Wanted%22+label%3A%22Up+F

[2021-11-01 20:27] #18512 closed

[2021-11-01 20:29] calebroseland commented on #18538
Hi @deepto98, thanks for your interest in taking this up! We're now in the process of wrapping this feature up, and will be closing this ticket, unfortunately.

If you're still interested in any trailing Hacktoberfest efforts or any other dev tickets, be sure to checkout [Help Wanted](https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+label%3A%22Help+Wanted%22+label%3A%22Up+For+Gra

[2021-11-01 20:29] #18538 closed

[2021-11-01 20:31] calebroseland commented on #18516
Hi @himanshu007-creator, thank you for your interest in taking this on! We're now in the process of wrapping this feature up, and will be closing this ticket, unfortunately.

If you're still interested in any trailing Hacktoberfest efforts or any other dev tickets, be sure to checkout [Help Wanted](https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+label%3A%22Help+Wanted%22+label%3

[2021-11-01 20:31] #18516 closed

[2021-11-01 20:40] jasonblais commented on #18900
@majidit Thanks for your report.

In the future, to help the community troubleshoot the issues faster, are you open to following the issue report template which appears when [opening a new GitHub issue](https://github.com/mattermost/mattermost-server/issues/new), specifically
 - Summary
 - Steps to reproduce
 - Expected behaviour
 - Observed behaviour

Please also refrain from at-mentioning indivi

[2021-11-01 22:02] fleXible commented on #17499
Thank you so much guys! I too can confirm that setting the scope to `read_user` both in Gitlab and Mattermost finally got it working. I really didn't want to enable `api` scope in Gitlab just for the Mattermost auth to work.

[2021-11-01 22:06] #18595 closed

[2021-11-01 23:16] amyblais commented on #18890
@koox00 @anurag6713 Would you know if we have any known issues / an open ticket for this?

[2021-11-01 23:21] amyblais commented on #18904
@streamer45 @agnivade Would you have knowledge on this issue?

[2021-11-01 23:43] YairFernando67 commented on #18874
I would like to take care of this one!

[2021-11-02 00:19] amyblais opened #18919 "Mattermost v6.1"
You can find key dates for v6.1 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Nov 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Nov 12th: Release Build Cut
The final r

[2021-11-02 09:34] SharathHuddar commented on #18905
@lieut-data I'd like to pick this up

[2021-11-02 12:31] sosek108 commented on #13575
Hello,

I have similar problem but it occurs always - no matter if you have good or bad connection.

[2021-11-02 12:44] streamer45 commented on #18904
Given that directly modifying roles from the database is not something I'd recommend, if there's an actual issue maybe someone more closely involved with the permissions system could be of help. @mkraft do you know who could have a look at this?

[2021-11-02 13:31] ezhilkumaran commented on #18823
Hi! I'd like to work on this.

[2021-11-02 13:35] cheluskin commented on #18904
Thanks. The point is that I have not found a way to limit the visibility of the participants. Therefore, I tried to do it through this field in the database. I can see the value is being used in the code, but changing it doesn't seem to do what the name says

[2021-11-02 13:52] viny1ic commented on #18547
Hello. Actually I was not able to find the paths and files specified in the issue in any of the repositories of the project. Can you help me out here. As soon as I can locate it I will make the changes

[2021-11-02 13:54] amyblais commented on #18890
cc @jgilliam17 Would you know if we have any known issues / an open ticket for this?

[2021-11-02 13:55] amyblais commented on #18863
I wasn't able to reproduce this on iOS. @josephbaylon Can you help test this on Android?

[2021-11-02 13:56] jgilliam17 commented on #18890
@amyblais I created a ticket for follow up last week https://mattermost.atlassian.net/browse/MM-39750

[2021-11-02 14:06] lieut-data commented on #18547
Happy to help, @viny1ic! The repository in question is at https://github.com/mattermost/mattermost-plugin-playbooks. Here's one of the files where the word `description` is used as described in the ticket: https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/components/backstage/playbook_runs/playbook_run_backstage/overview/description.tsx.

Does this help you get start

[2021-11-02 14:38] lieut-data commented on #18547
Actually, @agarciamontoro, is there a chance you're already doing this work as part of the playbook preview description changes?

[2021-11-02 15:15] someone-somenet-org commented on #18863
https://user-images.githubusercontent.com/5354356/139875246-c721edf2-68e1-4ff8-abfd-6a232e7c2eff.mp4

After writing the messages, i switched to the laptop/chromium.
+ deleted Delme 1
+ edited Editme 1
+ Turned off data on the phone
+ deleted Delme 2
+ edited Edit Delme1
+ edited Editme 2
+ Turned off data on the phone, only not-deleted edit got propagated.

[2021-11-02 16:29] lieut-data commented on #18547
Thank you @agarciamontoro & @viny1ic!

[2021-11-02 16:29] #18547 closed

[2021-11-02 17:52] cpoile commented on #18763
Hi @raphaeljlps! Just checking in to see if you're still working on this? Let me know if you have any questions or concerns.

[2021-11-02 20:35] raphaeljlps commented on #18763
sorry @cpoile, I do have an implementation which I need to add tests and do QA.

[2021-11-02 21:14] cpoile commented on #18763
@raphaeljlps No worries at all! Just checking in to see if you needed any help. Let me know if you do.

[2021-11-02 22:14] erni27 commented on #18870
Hi @agnivade. May I try to help with this one?

[2021-11-02 22:51] #18714 closed

[2021-11-02 23:11] someone-somenet-org commented on #18863
Imho it is very important to show the same content to everyone who has internet right now. Deletes are propagated when the apps are online and consistency should not depend on whether somebody had flakey internet in the past.

As in: being on a train can totally change the topic of a discussion when deleted or worse: edited, and later delete posts keep showing up for some people in some previous v

[2021-11-03 03:38] agnivade commented on #18870
Go for it!

[2021-11-03 03:46] mickmister commented on #18268
Closing due to https://github.com/mattermost/mattermost-webapp/pull/9272 being merged

[2021-11-03 03:46] #18268 closed

[2021-11-03 04:19] kaakaa commented on #18640
Can I take this ticket?

[2021-11-03 07:35] streamer45 commented on #18640
That would be great @kaakaa . I've assigned it to you :+1:

[2021-11-03 13:10] #16143 closed

[2021-11-03 13:22] amyblais commented on #18863
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-39853.

[2021-11-03 18:05] amyblais commented on #18919
### v6.1 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.1.0-rc1/mattermost-team-6.1.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/5234/files)

[2021-11-03 20:00] cleferman commented on #18851
@amyblais any chance I can get access to the Figma mock?

[2021-11-03 20:23] amyblais commented on #18851
@andrewbrown00 Are you able to help with this?

[2021-11-04 04:49] agnivade commented on #18631
@gyanesh-m - Checking in again on this :) How are things going?

[2021-11-04 06:47] iOSGeekster commented on #17242
I you don't mind, I would like at take care of this 😁

[2021-11-04 09:16] sz2000 opened #18940 "Error API Rest: POST Create User"
#### Summary
Lately I have updated mattermost from version 5.32 to 6.0, from that moment it has stopped considering the string "username" valid for when I create a user using the API. Other GETs or POSTs that I usually use do not give problems.

#### Steps to reproduce
`curl -s --location --request POST "$urlMattermost/api/v4/users" --header 'Content-Type: application/json' --header "Authorization

[2021-11-04 10:53] biva opened #24686 "Freeze / unreactive app on Windows"
**Summary**
Sometimes, the desktop application is not reactive anymore: I click or write something, but nothing happens.

**Environment**
- Operating System: Windows 10
- Mattermost Desktop App version: 5.0.1
- Mattermost Server version: 6.0.2

**Steps to reproduce**
I'm not sure exactly when it happens, but I have the feeling that it happens when the app is reduced in the tray (see picture below)

[2021-11-04 12:03] Willyfrog commented on #18603
Hi @darkLord19 are you still working on this issue?

[2021-11-04 12:34] etwasanderes2 commented on #18926
I tested it again on a manjaro live system and chromium and it worked fine.
This means that I most likely configured _something_ on my system weirdly, if I find out what I'll add it to this issue.
I also managed to get a log file of the error when running it in chromium [community.mattermost.com-1636026412174.log](https://github.com/mattermost/mattermost-server/files/7474757/community.mattermost.c

[2021-11-04 12:34] #18926 closed

[2021-11-04 15:11] amyblais commented on #18940
@furqanmlk Would you or anyone from QA be able to help test if this reproduces?

[2021-11-04 17:11] #18532 closed

[2021-11-04 17:13] furqanmlk commented on #18940
@amyblais
I am able to reproduce this issue on `Master` branch and `Cloud`

![image](https://user-images.githubusercontent.com/6909890/140386538-e2519097-4639-4011-8f61-42fdbdefd037.png)

[2021-11-04 17:52] shanben7 commented on #129
This issue still exists. I cannot name my channel `Cypress` even tho i have renamed the Cypress integration bot.

[2021-11-04 18:02] frapps opened #18950 "invalid config for logging, error creating log target _defFile: error decoding file target options: invalid character 'm' in string escape code"
#### Summary
When starting MM server I get the following error. "invalid config for logging, error creating log target _defFile: error decoding file target options: invalid character 'm' in string escape code" MM does not log an other errors after.

#### Steps to reproduce
This is after installing version 6.0.2. Installed on Windows.

#### Expected behavior
When starting MM server I get the follow

[2021-11-04 22:02] etwasanderes2 commented on #18926
# Solution
It appears that there was _something_ wrong with my locale settings (as indicated by the `Cannot Set LC_ALL to default locale: No such file or directory` message of the `locale` command whose exact meaning I wasn't able to figure out).
Telling kde to not modify the locale (`Regional Setting -> Formats -> Region: No change`), somehow fixed this.
I also went through the [arch wiki's local

[2021-11-05 00:29] mr-aboutin commented on #18797
Hey @yedamao , are you still working on this? If not I'm looking at this at the moment and would be happy to give it a Go

[2021-11-05 04:30] #18868 closed

[2021-11-05 06:25] yedamao commented on #18797
@mr-aboutin ok. Yout can go for it, I have not started yet. I'm still working to fully understanding the mattermost-server code.

[2021-11-05 09:02] agnivade commented on #18869
Awesome!

[2021-11-05 20:02] clovis1122 commented on #18564
@lieut-data this should be merged now! https://github.com/mattermost/mattermost-plugin-playbooks/pull/850.

[2021-11-05 20:28] collegenetjacob opened #18957 "Unannounced change in behavior of HTTP_PROXY environment variable"
#### Summary
Recent MM server versions have an unannounced change in the behavior of the HTTP_PROXY environment variable.

#### Steps to reproduce
Upgrade MM server to 5.37.3 (or maybe 5.37.2 and we just didn't notice) or other recent versions compiled with Go lang 1.16.  Attempt to use an HTTP proxy for external traffic by setting the HTTP_PROXY environment variable without also setting HTTPS_PRO

[2021-11-06 15:43] erni27 commented on #18841
Hi, I'd love to work on this feature. Where can I get some advice about the expected technical approach? I assume that the last searches should be persistent across the sessions and associated with a specific account? Which means storing the search history in db?

[2021-11-07 07:05] shadowshot-x commented on #18568
This seems like an interesting issue. I would like to work on this issue. Can someone assign me?

[2021-11-07 09:27] cleferman commented on #18851
@andrewbrown00 any news on this?

[2021-11-08 04:19] ezhilkumaran commented on #18823
@saturninoabril @amyblais I'm not able to reproduce the issue. Has it been fixed already? Can someone confirm?

[2021-11-08 04:31] saturninoabril commented on #18823
Hello @ezhilkumaran, this issue or help-wanted ticket is for writing automated test with Cypress and not about any specific bug in product. I wonder what's you're trying to do.

[2021-11-08 05:55] ezhilkumaran commented on #18823
@saturninoabril  I'm so sorry. I mistook this to be a bug in the profile picture display. My bad!

[2021-11-08 07:39] saturninoabril commented on #18823
No worries @ezhilkumaran :)

[2021-11-08 09:28] astraldawn commented on #16939
reproducible in 5.38.0

[2021-11-08 13:44] lieut-data commented on #18564
Ooh, good catch @clovis1122 -- thank you :)

[2021-11-08 13:44] #18564 closed

[2021-11-08 13:59] mr-aboutin commented on #18797
@mkraft  Hey I would have some questions about the migration and adding a new field. I tried using `make new-migration` and then altering the table, but these are executed before the tables are created. Should I add a `create table` script too or is there another way to alter the table?

[2021-11-08 15:15] mattermod opened #18960 "Sorting numeric playbook columns descending on first click"
Change the checklists, tasks and runs columns on the /playbooks/playbooks to sort descending on first click, bringing to the top the playbooks with the most checklists, tasks or runs respectively. Subsequent clicks on the same column should continue to toggle the direction.

![image](https://user-images.githubusercontent.com/1023171/140778843-d2cf3897-ee63-4cc2-8f60-4c2a62ff7114.png)

----
If you'

[2021-11-08 15:57] agnivade commented on #18797
@mr-aboutin - Feel free to have a look at https://developers.mattermost.com/contribute/server/schema-migration-guide/ to understand how to add a migration.

[2021-11-08 16:40] #17732 closed

[2021-11-08 16:43] lieut-data commented on #18394
Moving this internal to the team.

[2021-11-08 16:43] #18394 closed

[2021-11-08 16:44] lieut-data commented on #18581
Moving this internal to the team.

[2021-11-08 16:44] #18581 closed

[2021-11-08 16:45] lieut-data commented on #18586
Moving this internal to the team.

[2021-11-08 16:45] #18586 closed

[2021-11-08 16:45] lieut-data commented on #18511
Moving this internal to the team.

[2021-11-08 16:45] #18511 closed

[2021-11-08 16:45] lieut-data commented on #18567
Moving this internal to the team.

[2021-11-08 16:45] #18567 closed

[2021-11-08 18:11] andrewbrown00 commented on #18851
Hey, @cleferman, sorry for the delay, wasn't getting notifications for some reason? The file permission is now open so you should be good. Let me know if you have any issues 🙂

[2021-11-08 20:41] lieut-data commented on #17953
@saurabhraj042! How's effort on this going? Anything we can do to help?

[2021-11-08 20:49] #18566 closed

[2021-11-08 20:51] calebroseland commented on #18566
Thanks, @pascalhein!

[2021-11-09 05:39] agnivade opened #18965 "Pass expiry time from outside in `*SqlTokenStore.Cleanup`"
#### Summary
The `Cleanup` method calculates the expiry time from inside the method.

https://github.com/mattermost/mattermost-server/blob/ba5f1f3f5c5ccb4fef269969a7771617665220ab/store/sqlstore/tokens_store.go#L77-L83

This does not give control to caller, and makes the method hard to test. Apparent from the fact that this store does not have any tests at all.

The objective of this ticket is to

[2021-11-09 05:40] agnivade commented on #18965
cc @isacikgoz

[2021-11-09 08:38] krotovkk commented on #18965
Hello! I'd like to pick this up.

[2021-11-09 08:41] agnivade commented on #18965
Go for it!

[2021-11-09 13:12] SharathHuddar commented on #18905
@lieut-data @amyblais I'm on vacation for the next couple weeks and would only be able to start working on this from 22nd Nov onwards. If this needs to be shipped any sooner, please feel free to re-assign this

[2021-11-09 13:30] mattermod opened #18969 "Don't close DND submenu on header click"
Environment: daily, discussed during PR testing https://github.com/mattermost/mattermost-webapp/pull/9260

Steps:
1. Click on the user avatar to open Profile menu
2. Open Do Not Disturb submenu and click on the header with "Disable notifications until:"

Expected: Nothing happens, menu stays open

Observed: Menu closes.

----
If you're interested please comment here and come [join our "Contributor

[2021-11-09 14:22] lieut-data commented on #18905
Thanks for the heads up, @SharathHuddar! I'll un-assign you /for now/, but feel free to pick it up if unclaimed or pursue something else that interests you :)

[2021-11-09 16:28] devinbinnie commented on #18701
Since the feature is incomplete and isn't actually being used by any of the apps, we're electing to close this issue and remove the existing code.

[2021-11-09 16:28] #18701 closed

[2021-11-09 17:45] mattermod opened #18972 "Add explicit option to edit run description"
Recent user feedback suggested the click-to-edit functionality of the run description wasn’t discoverable. Let’s add an explicit Edit option to the hamburger menu to avoid this:

![image](https://user-images.githubusercontent.com/1023171/141507893-c5bcf4e5-1ed6-470d-aacd-f0c301950814.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://co

[2021-11-09 17:48] srijit2002 commented on #18960
@lieut-data I would like to give this a try. Can you please assign it to me?

[2021-11-09 17:57] lieut-data commented on #18960
Sweet, thanks @srijit2002!

[2021-11-09 17:58] lieut-data commented on #18960
I /just/ fixed the description as I realized I meant `descending` -- they already do ascending, but it's useless as noted in the body of the text.

[2021-11-09 17:59] amyblais commented on #18950
@frapps Would you be open to posting about this either on our troubleshooting forum https://forum.mattermost.org/ or on our [community server's Peer-to-Peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? Our engineers or community members may be able to help with this.

[2021-11-09 17:59] shieldsjared commented on #18857
@esethna - Apologies on the delayed response. No, we've not enabled any of the experimental town-square features. Only thing unique about our town-square is that we renamed it.

Our issue is slightly different than what has been described by @furqanmlk.  Our issue isnt removing a reaction, but adding a reaction (by clicking on an already-existing reaction on the post).  The workaround is to add a

[2021-11-09 18:18] shieldsjared commented on #18857
Also, when a user clicks on an already-existing reaction on a post, No POST is being made to the `/reactions` endpoint, so this appears to be a client-side issue. Nothing seems to standout in the dev-tools console. I also enabled developer mode, and no errors appear there either. /shrug

[2021-11-09 19:10] cpoile commented on #18763
Hey @raphaeljlps! I was thinking, if you have an implementation that works, we can handle the e2e tests for you if that helps you get the PR finished up?

[2021-11-09 19:49] #17496 closed

[2021-11-09 20:48] hmhealey commented on #16099
Unfortunately, we still haven't been able to reproduce this issue on our end, so we haven't been able to work on this. As such, we're going to open it up as Help Wanted since we'd definitely appreciate help fixing this. Hopefully someone who is able to reproduce it will be able to take a shot at fixing it?

The only other advice I could think to give is that instead of being related to screen size

[2021-11-10 00:28] JulienTant commented on #18905
Hi, I'm gonna grab this one!

[2021-11-10 04:01] #18159 closed

[2021-11-10 05:01] iOSGeekster commented on #18969
I would like to give this a go.

[2021-11-10 09:04] darkLord19 commented on #18603
@Willyfrog Hey I was on a vacation so haven't had a chance to continue working on it in past few days. Will continue it this weekend

[2021-11-10 10:11] srijit2002 commented on #18960
@lieut-data Can you please tell me how can I create multiple textbooks. It is saying you need a commercial edition.

[2021-11-10 12:20] necipakca opened #18975 "Error getting column info for migration check,"caller":"sqlstore/upgrade.go:966","table":"SidebarCategories","column":"Id","error":"sql: no rows in result set"}"
MatterMost version is : 5.39.1
Try to upgrade Versiyon is : 6.0.2

We are getting this error because ;

In Turkish  we have a latter  I that
uppercase --> I
lowercase --> ı

GetColumnInfo func in upgrade.go you are using

WHERE lower(table_name) = lower($1)
AND lower(column_name) = lower($2)

the problem is when you use lower() function in PostgreSQL the out put is

 lower('Id') output is :  ıd

s

[2021-11-10 13:26] amyblais commented on #18975
@necipakca
1. What Mattermost server version are you on?
2. What Mattermost server version are you upgrading from?

[2021-11-10 13:26] iOSGeekster commented on #18969
I was looking to add a test to confirm this. I can't decide on wether it should be an e2e- or a Unit-test?

[2021-11-10 15:09] necipakca commented on #18975
Sorry for that. I have update the issue @amyblais .

[2021-11-10 15:13] amyblais commented on #18975
cc @isacikgoz @streamer45 If you have thoughts on this.

[2021-11-10 15:21] isacikgoz commented on #18975
Thanks for the feedback @necipakca! I think we should handle the lower case issue in the application level. WDYT @streamer45?

[2021-11-10 15:31] streamer45 commented on #18975
Agreed.

[2021-11-10 15:51] lieut-data commented on #18905
Thanks, @JulienTant!!

[2021-11-10 16:30] isacikgoz commented on #18975
Created the ticket here: https://mattermost.atlassian.net/browse/MM-40028 cc @amyblais @necipakca

[2021-11-10 17:48] srijit2002 commented on #18960
@lieut-data please take a look

[2021-11-10 19:06] poflankov commented on #15706
Is it doable at all with Cypress?
Cypress does not seem to support browser tabs: https://docs.cypress.io/guides/references/trade-offs#Permanent-trade-offs

[2021-11-11 01:33] saturninoabril commented on #15706
Thanks for checking @poflankov! You're right as this is not possible with Cypress. Closing now.

[2021-11-11 01:33] #15706 closed

[2021-11-11 02:22] #17735 closed

[2021-11-11 03:00] #15843 closed

[2021-11-11 04:03] #18847 closed

[2021-11-11 04:40] #18877 closed

[2021-11-11 07:19] PommereningMartin opened #18983 "invalid json text while deleting a post"
#### Summary
- writing a post and deleting the same post raise an error and the post is still existing

#### Steps to reproduce
- write a post and delete

#### Expected behavior
- the post should get deleted without an error

#### Observed behavior (that appears unintentional)
`{"timestamp":"2021-11-11 08:05:34.332 +01:00","level":"error","msg":"Unable to delete the post.","caller":"web/context.go

[2021-11-11 14:10] amyblais commented on #18983
@agnivade @isacikgoz Is this a bug?

[2021-11-11 14:29] elandorr commented on #18410
I'm sorry for my usual delay. The covid terror is making things difficult.

- messages
- files
- automatically generated previews/images/anything associated with the messages that is not applicable anymore

Pretty much a 'purge' feature. For privacy reasons but also simply to clean up. The more granular the better, like specific channels/teams and specific timeframes would be helpful. I've done th

[2021-11-11 14:32] JToholic opened #18985 "Loading messages while scrolling causes skipping multiple lines"
#### Summary
When scrolling up through messages, the view will jump up when more messages are loaded, causing it to skip many lines.

#### Steps to reproduce
OS: Windows 10, 20H2
Application: both mattermost windows app 4.7.0 and web build (https://mattermost.web.cern.ch/, opened via windows edge or firefox)
To reproduce: Go to any direct message or channel with plenty of messages, the screen star

[2021-11-11 14:33] agnivade commented on #18983
Sounds like it.

@PommereningMartin - When did this issue start? Was it after upgrading to 6.0.2? Does it happen for all posts? Or only for particular posts? If it's only for particular posts, would you be able to share the text?

[2021-11-11 14:47] PommereningMartin commented on #18983
@agnivade the issue comes up yesterday.
We upgraded on Monday to version 6.0.2.
This happens to all posts also for simple ones like `test` and for each channel and for each user.

[2021-11-11 14:48] agnivade commented on #18983
Thanks, it looks like a problem with MySQL 8.

@amyblais - would you mind creating a SET ticket for this?

[2021-11-11 15:19] tschlue opened #18986 "Mattermost Board - Team Not Found"
#### Summary
If I create a Board or try to enter one I always geht the error site

#### Steps to reproduce
* Goto an channel
* Push the board button once
* Push the button '+Board hinzufügen' (+Add board?)
* Choose 'Leeres board' (Empty board)
-> Error screen

#### Expected behavior
The board should load without error

Maybe it have something to do that I tried to run focalboard on the same server

[2021-11-11 15:25] elandorr commented on #17900
Thank you Jason, I hope you're fine!

I'd personally have individual settings for all possible actions. Could even be in yaml or something for easy copy paste.
An indication of who did what would also be useful, because for some reason since the 2010s if there is a way to troll online it will be used. If it's entirely invisible and unbannable some funny guy always wrecks it. A more laissez-faire a

[2021-11-11 15:44] amyblais commented on #18983
Opened https://mattermost.atlassian.net/browse/MM-40041.

[2021-11-11 15:57] amyblais commented on #18986
@tschlue Would you be open to re-opening this issue at https://github.com/mattermost/focalboard/issues?

[2021-11-11 16:05] amyblais commented on #18985
Opened: https://mattermost.atlassian.net/browse/MM-40043.

[2021-11-11 16:20] streamer45 commented on #18983
@PommereningMartin Would you be able to run the following query to confirm if the issue may be triggered by possibly NULL Props values?

[code]

[2021-11-11 17:49] #18986 closed

[2021-11-11 18:30] JulienTant commented on #18972
I would like to take this one!

[2021-11-11 21:41] #18288 closed

[2021-11-12 06:38] PommereningMartin commented on #18983
i ran the quey and this is the result

[code]

[2021-11-12 07:30] #18808 closed

[2021-11-12 08:41] poflankov commented on #15706
I think this ticket has the same problem:
https://github.com/mattermost/mattermost-server/issues/15702

[2021-11-12 08:47] saturninoabril commented on #15702
Thanks @poflankov for checking. Closing as Cypress limitation.

[2021-11-12 08:47] #15702 closed

[2021-11-12 08:49] saturninoabril commented on #18825
Thank you @shzmr! Closing - https://github.com/mattermost/mattermost-webapp/pull/9287/files#diff-b3c361e2a036319d07833855a6580e00964028d1a7f3810d20c9b8a274afca6cR33-R52

[2021-11-12 08:49] #18825 closed

[2021-11-12 08:53] #18821 closed

[2021-11-12 08:57] #18811 closed

[2021-11-12 08:57] #18809 closed

[2021-11-12 09:16] poflankov commented on #18166
Hi!
Can I take this?

[2021-11-12 09:16] saturninoabril commented on #18166
@poflankov Sure and thank you!

[2021-11-12 09:36] tschlue commented on #18986
Sorry and thanks for open the issue in the other repo.

[2021-11-12 11:02] ihqtzup opened #18988 "Guest accounts inactive after certain amount of time"
#### System
Mattermost Enterprise E20 v.6.0.2

#### Summary
We have created guest users and just noticed after a week or so that they have been suddenly deactivated for no reason.

#### Steps to reproduce
Invite guest accounts. Wait a certain amount of time, maybe a week or two. See if guest accounts are inactive (users can not log in any longer).

#### Expected behaviour
Guest accounts are active