[2017-09-18 21:20] Aschen opened #7469 "Unable to start WebRTC Video call"
#### Summary
I'm unable to start video call in Mattermost.

#### Steps to reproduce
I'm using **Mattermost 4.2.0** (build hash: a5ce36d0882ae1b4b409a7b68233bf89591a5f95 ) with docker-compose. I use Nginx (reverse proxy mode) to redirect request on my Mattermost url to the container port.
I'm redirecting HTTP request to HTTPS in Nginx to ensure SSL.
I'm using [mattermost-webrtc](https://github.com/

[2017-09-19 00:09] seansackowitz opened #7471 "Interactive posts do not render if response_type is ephemeral"
#### Summary
Interactive posts do not render if response_type is ephemeral.

#### Steps to reproduce
Mattermost 4.2.0. Try to send a response to a slash command as an ephemeral message that contains actions.

#### Expected behavior
I expect to see an ephemeral post appear in the channel with interactive buttons.

#### Observed behavior (that appears unintentional)
No message is posted to the chann

[2017-09-19 01:16] seansackowitz commented on #7471
Same as #7454

[2017-09-19 01:16] #7471 closed

[2017-09-19 01:18] seansackowitz commented on #7454
I also have this issue, and I can confirm:

1. That the buttons show up just fine if the `response_type` is marked as `in_channel`, but not if ephemeral.
2. The command is posted in the center pane
3. My settings are on Standard

[2017-09-19 01:43] seansackowitz opened #7472 "Updating interactive messages loses data and action buttons"
#### Summary
When updating an interactive message, you cannot update the post, and maintain the action buttons, and other data is lost as well

#### Steps to reproduce
Have an integration server respond with an in_channel post that has interactive buttons, and then as a response to a user clicking the button, update the post.

[code]
As a response to `/next`, the server should update the message w

[2017-09-19 01:47] seansackowitz commented on #7453
1. I do not even get a blank message from the bot. The server acknowledges the slash command was successful, and had a full response (not blank), however nothing appears.
2. Center pane
3. Standard message display

[2017-09-19 02:15] guatedude2 commented on #7454
I have Standard as my setting. The post is blank. Just the username and the icon appear.
When the text is set thought, the attachment shows up but no action buttons appear

[2017-09-19 02:31] guatedude2 commented on #7453
Likewise for me

[2017-09-19 02:42] guatedude2 opened #7474 "Direct Messages from one teams appear in all my teams"
#### Summary
When having a user in the direct message list from a specific team, switching to other teams that the user doesn't belong the user keeps appearing in the other teams even though they aren't part of the team.

#### Steps to reproduce
- Set the setting "Enable users to open Direct Message channels with:" to "Any member of the team"
- Create two teams (Team A, Team B)
- Open a direct mes

[2017-09-19 05:06] limenleap commented on #7465
Thank you for your efforts. I think the Mattermost server which is proxied by Nginx is tied only to the localhost. I don't know how to configure Mattermost so that I can directly access it from my browser. I would really appreciate your advise. I need to get to the bottom of this as lot of users are waiting

[2017-09-19 06:02] limenleap commented on #7465
I just checked this on Ubuntu 16.04  on the same machine as the Windows one.  It works fine on Ubuntu! So evidently there is something going on in Windows. Initially I thought it could be an issue of some virus attack on my specific machine. But it looks like @ccbrown also has experienced the same issue. This is most perplexing. I am supporting a free software with this Mattermost, and all my user

[2017-09-19 06:04] limenleap commented on #7465
One more clue: A few days before this, there was a massive update from Microsoft for Windows 10. It took a few hours to finish that update. Could that have a bearing on this issue?

[2017-09-19 07:59] lindy65 commented on #7448
Hi @itaibaruch

Thanks for your feedback,

I see in [this post](https://pre-release.mattermost.com/core/pl/w11uh99z6pgj3pxdhoiepyc9my) on our nightly build server, the workaround for this is:
- cd mattermost-server
- make run

After the split of mattermost/platform into mattermost-server and mattermost-webapp repositories, it seems that "make run" was properly updated but that other scripts might

[2017-09-19 08:04] lindy65 commented on #7474
Hi @guatedude2

Thank you for your feedback,

This is by design.  Direct messages are common per server, not per team so all users on the server will appear in direct messages no matter what team you are in on the server.

[2017-09-19 08:09] lindy65 commented on #7469
Hi @Aschen

Thank you for your feedback,

Could you tell me whether you have `Enable the ability to make and receive one-on-one WebRTC calls` ticked in Main Menu > Account Settings > Advanced > Preview pre-release features?

[2017-09-19 08:12] lindy65 commented on #7458
Hello @maxtar

Thank you for your feedback,

Could you tell me which version of Mattermost you are running?

v4.2 released on September 16th so perhaps try upgrading to the [latest version](https://about.mattermost.com/download/) to see if this fixes the issue for you.

[2017-09-19 08:33] Aschen commented on #7469
Hi @lindy65,
Thank you for your quick answer ;)

Yes I have enabled the pre-release feature in both account.

[2017-09-19 08:43] lindy65 commented on #7469
Pleasure @Aschen

I'll post your issue to our team and see if someone can help :)

[2017-09-19 08:56] enahum commented on #7469
By the look of the response that you are getting it looks like your mattermost instance cannot reach dockerhost

[2017-09-19 09:14] Aschen commented on #7469
@enahum
I have change the configuration, I removed `dockerhost` and I replace it with the corresponding ip.
<img width="814" alt="screen shot 2017-09-19 at 11 12 36" src="https://user-images.githubusercontent.com/4447392/30584924-8cbb9d68-9d2b-11e7-8599-bcfad323089e.png">

On the `mattermost_app` container : `docker exec -it mattermost_app_1 bash`
[code]

I ended with exactly the same error.

[2017-09-19 10:37] enahum commented on #7469
@Aschen are you using docker-compose? is the webrtc container inside your docker-compose or are you using a separate image for that?

If you are running a separate image for the webrtc container you'll need to do some adjustments to your docker-compose.yaml file cause it may be that the containers are not in the same network nor they can reach each other.

for each service is your docker-compose.y

[2017-09-19 11:57] guatedude2 commented on #7474
Its an odd behavior since the direct messages list that appears in the + sign doesn't show the same users.

[2017-09-19 12:27] Aschen commented on #7469
Yes I'm using docker-compose for Mattermost and my WebRTC container is in a separate container.
I tried to add `network_mode`and `external_links` but it result with a failure (the app container can't reach the database container).
Here is my `docker-compose.yml` with your advises :
[code]

Are you sure that the problem is caused by a network failure ?
Because when I am inside the `mattermost_app_1

[2017-09-19 12:36] Aschen commented on #7469
Re,

I edited `docker-compose.yml` to include the webrtc container :
[code]

[2017-09-19 12:45] lindy65 commented on #7474
Hi @guatedude2

Thanks for your feedback,

The `+` to the right of `DIRECT MESSAGES` should show the same users as clicking on `More...` at the foot of `DIRECT MESSAGES`.

These are users you can still open a direct message or group message with (so users who are already in your direct message list should not appear).

Does this help or am I misunderstanding your issue?

[2017-09-19 12:46] Aschen commented on #7469
Re,

I edited `docker-compose.yml` to include the webrtc container :
[code]
I edited the mattermost configuration accordingly and now it works !

<img width="839" alt="screen shot 2017-09-19 at 14 37 47" src="https://user-images.githubusercontent.com/4447392/30592724-39ed5758-9d48-11e7-9d72-532e4286551e.png">

I mean I don't have an error 500 anymore but I still have the message `There was a probl

[2017-09-19 13:13] enahum commented on #7469
If you are able to get the token and now you get an error making the video call it might be cause one of the peers took to long to create a session in the gateway, if you retry it should connect succesfully

[2017-09-19 13:59] maxtar commented on #7458
@lindy65 Thanx for answer. We have 4.1.0 version. Will trying upgrade.

[2017-09-19 17:07] ccbrown commented on #7453
Looks like this has always been the behavior: https://github.com/mattermost/mattermost-server/pull/4999

As far as I can tell it wasn't intentional though. We can probably just remove that `if response.Text == "" { return ... }` block.

[2017-09-19 17:08] Aschen commented on #7469
I tested with a colleague and he respond almost instantly to the call.
I searched for something strange in the network and I found an error in the websocket connection :
<img width="635" alt="screen shot 2017-09-19 at 18 56 12" src="https://user-images.githubusercontent.com/4447392/30605005-e5d0572c-9d6c-11e7-84ef-ec9434651270.png">
<img width="634" alt="screen shot 2017-09-19 at 18 56 25" src="ht

[2017-09-19 17:17] tohn opened #7476 "Converting a channel to private/public doesn't work"
#### Summary
Contrary to the changelog of version 4.2.0 one cannot change a channel to private/public.

#### Steps to reproduce
Execute:
`./bin/platform channel modify [team]:[channel] --[public|private]`

#### Expected behavior
The channel should now be public/private.

#### Observed behavior (that appears unintentional)
`Error: Feature requires an enterprise license. Please contact your system a

[2017-09-19 17:24] Aschen commented on #7469
I have set the log level to 7 for Janus by using this interface : https://janus.conf.meetecho.com/admin.html

Here you can see the log for a webrtc call initiated in mattermost :
[code]

I can also see that the token is correctly created :
<img width="1111" alt="screen shot 2017-09-19 at 19 23 38" src="https://user-images.githubusercontent.com/4447392/30605894-24a3c4fe-9d70-11e7-9dd4-d76fb554801f.

[2017-09-19 17:54] ccbrown commented on #7472
Thanks. I've put in a PR for the fix.

[2017-09-19 18:09] ccbrown commented on #7453
Yeah, removing that block seems to work fine. No adverse side-effects that I can see or think of. Put in a PR.

[2017-09-19 18:13] ccbrown commented on #7454
This is expected for now as there's a technical limitation here: Ephemeral messages by nature don't have any state, so there's nowhere to store the action on the back-end. If it's a big enough priority, we could probably make something work, but it would be non-trivial.

[2017-09-19 18:18] ccbrown commented on #7472
Btw there's a separate ticket to improve icon behavior: https://mattermost.atlassian.net/browse/PLT-7631

[2017-09-19 18:25] guatedude2 commented on #7474
That's not happening on my end. Note that I have "Enable users to open Direct Message channels with" set to true
Here's a screen shot of the two teams:
![screen shot 2017-09-19 at 2 14 43 pm](https://user-images.githubusercontent.com/918429/30608453-6b234d2a-9d46-11e7-91c2-c11462683531.png)
![screen shot 2017-09-19 at 2 14 52 pm](https://user-images.githubusercontent.com/918429/30608454-6b275f32-9

[2017-09-19 18:31] jasonblais commented on #7454
@guatedude2 @seansackowitz I submitted a pull request to update our docs: https://github.com/mattermost/docs/pull/1510

If this is something you'd like to see, would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed and upvoted? Please include a link back to this GitHub Issue. If you're interested in implementing

[2017-09-19 19:07] lindy65 commented on #7474
Thanks for your feedback @guatedude2

Could you share which version of Mattermost you are using?

Also, I was not correct when I said users who are already in your direct message list below `DIRECT MESSAGES` should not appear in the `Direct Messages` modal when you click on `+` or `More...`.  Users will still appear in this modal because they can still be added to group messages.  Sorry about that

[2017-09-19 19:20] lfbrock commented on #7474
Hi @guatedude2,

To clarify - the setting in the System Console only hides the users from other teams in the Direct Messages modal UI (it's not blocked on the back end).

This setting was added at Mattermost v3.0 so people who previously used the site (where accounts were per team) could continue to use it in a similar way even though accounts are now per server.

We will likely replace the settin

[2017-09-19 19:49] seansackowitz commented on #7454
I have created this in the feature forum at the link below.
https://mattermost.uservoice.com/forums/306457-general/suggestions/31501228-allow-interactive-posts-to-be-ephemeral

[2017-09-19 20:01] 001101 commented on #7457
Ah okey I am sorry :-/

There are many other applications (Outlook, Skype, wire.com, zendesk) which used CTRL + ENTER to make a new line and it is good coding to keep such standards, so users does not need to remember any small keyboard shortcut change for any application, this just does not make sense, hope the team will change it soon, thank you very much :)

best wishes

[2017-09-19 20:52] bjoernr-de commented on #7476
+1
Same here.

[2017-09-19 21:21] jasonblais commented on #7454
Thanks @seansackowitz! We'll monitor the feature proposal!

Closing this issue for now,

[2017-09-19 21:21] #7454 closed

[2017-09-19 21:26] guatedude2 commented on #7474
That makes sense.

[2017-09-20 06:31] limenleap commented on #7465
How I wish this problem would get solved.

This seems to be like a major deal breaker.  We are currently a small set of users of around 160 people and I am getting frantic calls from them as I cannot provide support for now almost 4 days.

Most likely it is something to do specifically with Windows and possibly Mattermost developers may not have nothing to do with it.  Nevertheless, I would have t

[2017-09-20 06:38] ccbrown commented on #7465
For what it’s worth, we aren’t ignoring the issue. I’ve been asking around in the dev channels to see if anyone knows what might be up. I’ve got nothing though.

If you want to try exposing Mattermost directly, without NGINX, see the `ListenAddress` configuration: https://docs.mattermost.com/administration/config-settings.html#configuration

You probably just need to stop NGINX, change that to “:8

[2017-09-20 07:11] limenleap commented on #7465
Thank you for your efforts. I am obliged and grateful

I have changed the configuration so that the Go server of Mattermost is exposed to the outside world too. However I retained the port (4444) just so that the behaviour with the Nginx proxy can also be checked

Yes, it is now working! http://chat.tad.in.net:4444 is now working on Windows too. That is good news. And the Nginx proxy is still beha

[2017-09-20 08:09] lindy65 commented on #7457
Hi @001101,

No worries, apology accepted ;)

It seems that what you're requesting is more a feature suggestion (requires code change).  Could we have your help opening a [feature suggestion](https://mattermost.uservoice.com/forums/306457-general) on our forum?

Here, you and others can up-vote the suggestion up to 10 times.  The more popular a feature is, the more chance it has of making it into

[2017-09-20 09:26] grundleborg commented on #7476
Thanks very much for the report. This was a bug and has been fixed for Mattermost Server 4.3, which will be released on 16th October.

[2017-09-20 09:26] #7476 closed

[2017-09-20 10:22] lindy65 commented on #7474
Thanks @lfbrock @guatedude2

I'll close this issue off for now...

[2017-09-20 10:22] #7474 closed

[2017-09-20 10:23] lindy65 commented on #7472
Thanks @ccbrown @seansackowitz

I'll close this issue off for now and we can track icon behaviour via the above ticket.

[2017-09-20 10:23] #7472 closed

[2017-09-20 10:26] lindy65 commented on #7458
Thanks @maxtar

Let us know if the issue still persists after you've upgraded.

[2017-09-20 10:28] lindy65 commented on #7453
Thanks @guatedude2 @seansackowitz @ccbrown

I'll close this issue off for now then.

[2017-09-20 10:28] #7453 closed

[2017-09-20 10:42] maxtar commented on #7458
Yeap. problem has fixed in new version. Thanx!

[2017-09-20 10:47] lindy65 commented on #7180
Hi @j-p-k, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-09-20 10:47] #7180 closed

[2017-09-20 10:50] lindy65 commented on #7354
Hi @bbenoist, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-09-20 10:50] #7354 closed

[2017-09-20 10:52] lindy65 commented on #7355
Thanks @bbenoist, we can track the discussion in the UX Design channel linked above.  I'll close this issue off here for now.

[2017-09-20 10:52] #7355 closed

[2017-09-20 10:57] lindy65 commented on #7440
Hi @phantomofrussia

Circling back on this - is your issue resolved?

[2017-09-20 11:13] lindy65 commented on #7458
That's good to hear @maxtar !  I'll close this issue off then...

[2017-09-20 11:13] #7458 closed

[2017-09-20 13:49] Aschen commented on #7469
Some new here, I use Janus with a certificate provided by letsencrypt and now I have this message in the Chrome console :
<img width="941" alt="screen shot 2017-09-20 at 15 39 04" src="https://user-images.githubusercontent.com/4447392/30646663-06578ea4-9e1a-11e7-85d3-4fc5db34095d.png">

I use a certificate from Let's Encrypt for both HTTPS and WSS transport as you can see in my configuration files

[2017-09-20 14:19] enahum commented on #7469
Probably best to ask in the janus repo?

[2017-09-20 14:27] dipuhasan opened #7483 "Wordpress Pingback"
**Edited**

[2017-09-20 14:27] dipuhasan commented on #7483
<?xml version="1.0"?>
<methodCall>
<methodName>wp.getUsersBlogs</methodName>
<params>
<param>
<value>
<string>admin</string>
</value>
</param>
<param>
<value>
<string>password</string>
</value>
</param>
</params>
</methodCall>

And no rate limit at checking username,password.

[2017-09-20 14:31] dipuhasan opened #7484 "Information **edited**"
**Edited**

[2017-09-20 14:36] jasonblais commented on #7483
@dipuhasan: Please help report potential vulnerabilities via our Responsible Disclosure Policy process outlined herE: https://www.mattermost.org/responsible-disclosure-policy/

[2017-09-20 14:36] #7483 closed

[2017-09-20 14:37] jasonblais commented on #7484
@dipuhasan: Please help report potential vulnerabilities via our Responsible Disclosure Policy process outlined herE: https://www.mattermost.org/responsible-disclosure-policy/

[2017-09-20 14:37] #7484 closed

[2017-09-20 14:43] Aschen commented on #7469
Yes, I will do that.

[2017-09-20 14:56] limenleap commented on #7465
I have stopped the Nginx server on http://chat.tad.in.net Now it is only the Go server there.  Kindly let me know if anything progresses on this issue

Thank you !

[2017-09-20 15:54] esethna opened #7485 "[Help Wanted] [PLT-7704] Remove mm_config and mm_license global state from webapp"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-20 15:54] #7485 closed

[2017-09-20 15:55] esethna opened #7486 "[Help Wanted] [PLT-7704] Remove mm_config and mm_license global state from webapp"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-20 15:55] esethna opened #7487 "Move webapp to use websocket event handling from mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-20 15:55] esethna opened #7488 "[Help Wanted] [PLT-7566] Ephemeral System Message counts as a "reply""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-20 15:55] esethna opened #7489 "[Help Wanted] [PLT-7676] Refactor webapp search store and right hand sidebar view state"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-20 16:52] phantomofrussia commented on #7440
Hi @lindy65,

Sorry for not responding back to you sooner. This is not resolved unfortunately.

Server version is 4.1 and the url is chat.infostructures.com

I have tried both https and http in the url on the app but it is not working. Getting the same error as before. I am using the new Mattermost App, have not tried the older one.

[2017-09-20 17:31] lindy65 commented on #7407
Thanks @ryantm @hmhealey

I'll close this issue off for now and we can track via the ticket linked above.

[2017-09-20 17:31] #7407 closed

[2017-09-20 20:52] esethna opened #7490 "[Help Wanted] [PLT-200] Allow hosting of MM at any route like http://www.example.com/chat"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-20 21:11] moonmeister commented on #7490
I can probably take this. I'll take a look later see if it looks like something I can tackle.

[2017-09-20 21:13] jasonblais commented on #7490
Awesome!! 👍

[2017-09-20 21:13] jasonblais commented on #7490
A discussion related to the ticket spurred up in the last 30 minutes, so it might be worth reviewing that before starting on this: https://pre-release.mattermost.com/core/pl/ry91wiu7r7rs8qwdkh68bstqty

[2017-09-20 23:50] prateeksriv opened #7491 "Slash character (/) not treated as a word separator during search"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
If two words are separated by slash character (/) then th

[2017-09-21 08:20] lindy65 commented on #7440
Hi @phantomofrussia

Thanks for your feedback,

You could try upgrading to the [latest server version](https://about.mattermost.com/download/) which released on September 16th.

Perhaps also check in the system console what your `Site URL` is set to?  System Console > Settings > General > Configuration > Site URL

Let me know if this helps?

[2017-09-21 08:57] lindy65 commented on #7491
Hi @prateeksriv

Thank you for your feedback,

Elasticsearch, available with an enterprise licence, doesn't have this issue. However, it does seem to be present for SQL full-text search. I'm really not sure what, if anything, we can do about it in that case though, since I think the fulltext implementation of the SQL server dictates what the word boundaries are.

[2017-09-21 13:40] jasonblais commented on #7465
@limenleap Are there any errors in your NGINX logs?

Also, this page may or may not be helpful: https://blog.serverdensity.com/troubleshoot-nginx/

[2017-09-21 15:49] phantomofrussia commented on #7440
Hi @lindy65,

I can try upgrading to the latest version.
I want to point out that I am only having this issue with the Android App. The iOS app and desktop app work just fine so I do not think there is a configuration issue on the server end....

[2017-09-21 16:18] esethna opened #7493 "[Help Wanted] [PLT-7396] Add the ability to revoke user sessions in System Console > Users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-21 16:18] esethna opened #7494 "[Help Wanted] [PLT-7395] Add the ability to search users by role in System Console > Users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-21 16:21] mathias-b opened #7495 "Users can't deactivate their own account"
Hello,

#### Summary
Users aren't enabled to deactivate their own account. It's a major privacy issue.

#### Expected behaviour
Users should be able to deactivate their own account, for exemple browsing "Account Settings" > "Advanced" > "Deactivate my account".

Thanks in advance,

🙇🏻

[2017-09-21 17:09] lindy65 commented on #7440
Thanks @phantomofrussia,

I'll post your issue to the mobile app team and ask for their help...

[2017-09-21 17:47] lindy65 commented on #7495
Hi @mathias-b

Thank you for your feedback,

We have a "Help Wanted" ticket for this: https://mattermost.atlassian.net/browse/PLT-1798

Would you be interested in working on this?

[2017-09-21 19:02] sudheerDev commented on #7115
@jasonblais I cannot replicate this. Mouse cursor does change to hand selector. I can take this up. Let me know if I am missing something

[2017-09-21 20:18] jasonblais commented on #7115
@sudheerDev Looks like it's fixed now. The textbox was redesigned in v4.2 and I suspect this got fixed at the same time.

Will close. Thanks @sudheerDev :)

[2017-09-21 20:18] #7115 closed

[2017-09-22 09:06] maxtar opened #7499 "Increase or remove limit for message size"
Hi.
Now mattermost has limit for one message in 4000 chars. This is not useful fore stacktraces and other things from log. Could you increase this limit or maybe do feature in this case automatically create file and attach them to message.

[2017-09-22 12:18] MusikPolice commented on #7440
@phantomofrussia is it possible for you to post some more details about your configuration? I'd like to know the version information of the android app that is giving you trouble, the exact version of your server, and see a screenshot of the System Console > Settings > General > Configuration screen from your server, as well as the relevant configuration screen from your mobile app.

[2017-09-22 14:05] enahum commented on #7440
Looks to me that this can be an issue cause by SSL, maybe an unsupported CA or unsupported Cipher, @phantomofrussia have you tried connecting to `https://pre-release.mattermost.com` if so do you get the same error or can you reach the login screen?

[2017-09-22 22:22] moonmeister commented on #7490
@jasonblais I'll definitely take this.

[2017-09-22 22:28] moonmeister commented on #7490
This is a massive change that will touch a lot of things. If anyone wants to see the progress: https://github.com/moonmeister/platform/tree/PLT-200

[2017-09-24 21:56] jespino commented on #7491
Looks like with MySQL works well, but with PostgreSQL fails. I will try to take a deeper look.

[2017-09-25 00:24] Beachwhale13 commented on #7440
I am having the same problems as @phantomofrussia. Works on my desktop, not on my samsung phone. I can connect to the pre-release.mattermost.com url listed above, but I get a "Mattermost server unreachable, incompatible or SSL is not properly configured" message when going to the url I need to be at.

[2017-09-25 00:32] enahum commented on #7440
Then it might be related to the SSL certificate, @beachwhale13 what happens if you try and open the url with the mobile browser?

Are you using nginx in front as reverse proxy? If yes can you share the config file?

[2017-09-25 00:34] Beachwhale13 commented on #7440
I can open the link on my mobile browser. I'm new to the whole github mattermost thing I don't think I"m using nginx. Just downloaded the app to my android phone and tried to start up mattermost.

[2017-09-25 12:24] phantomofrussia commented on #7440
@enahum, I am able to get to the login page for pre-release.mattermost.com but not my server URL. I am not getting the error that beachwhale13 is getting though.

I did a ssl check on ssllabs.com and it is saying my certificate chain is incomplete. I can work on fixing that, just really surprised how an iOS device is not complaining about it but an Android device is. I have seen this the other way

[2017-09-25 13:01] jlegen opened #7506 "Cannot send any message on iPad (2017) when in landscape mode"
#### Summary
On iPad in landscape mode, <return>-key always creates a new line, and there is **no** send icon aside the input field. Instead, there is an Emoji selector.
Turning the iPad into portrait mode, the Emjoi selector icon changes into a send icon... o_O

#### Steps to reproduce
just use a fresh mattermost install (4.2) and latest iPad "classic" app. This is on IOS10...

#### Expected beha

[2017-09-25 13:40] esethna opened #7508 "Change "View/Manage Members" dialog to use the same UI component as "Add Members to Team""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-25 14:23] phantomofrussia commented on #7440
Also my error is: "Cannot connect to the server. Please check your server URL and internet connection"

[2017-09-25 15:19] tejaycar commented on #7491
You might need to setup a custom collation for that column in order to get the desired word separators.

[2017-09-25 15:51] sudheerDev commented on #7231
@jasonblais I can take this one.

[2017-09-25 16:07] jasonblais commented on #7231
Awesome, thanks!

[2017-09-25 23:39] 001101 commented on #7457
Unfortunately the Shift + Enter is really the standard for new line in most applications, so it should be :)

[2017-09-26 04:46] bios-ben opened #7510 "Allow spaces in file names"
#### Summary
Currently downloading a file with spaces will display like it has spaces "File Name.doc" but when it's downloaded will send "File+Name.doc" which is annoying to clean up after the fact.

#### Steps to reproduce
As of version 4.2, upload a file with spaces then download it.

#### Expected behavior & fixes
As per normal web headers, you can specify the content disposition "with quotes"

[2017-09-26 07:26] maniankara commented on #4587
@jasonblais any timeline on that cli ?

[2017-09-26 08:19] lindy65 commented on #7506
Hi @jlegen

Thank you for your feedback,

At present, iPads are not supported.  Could we have your help adding your vote to [this feature suggestion](https://mattermost.uservoice.com/forums/306457-general/suggestions/20082079-add-a-tablet-ipad-version-of-second-generation-m) on our forum?

You and others can up-vote the suggestion up to 10 times.

Thanks!

[2017-09-26 08:22] lindy65 commented on #7499
Hi @maxtar

Thank you for your feedback,

Could we have your help creating a feature suggestion on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you and others can up-vote it up to 10 times?

The more votes a suggestion has, the more chance it has of making it into the product.

Thanks!

[2017-09-26 09:00] jespino commented on #7491
I'm not sure, but I think it can't be done through the collation. The proposals that I've seen are more oriented to preprocess the text before making the index, something like to_tsvector('english', translate(column, '/', ' ')) and we can do something similar in the to_tsquery.

I'm not sure is the cleaner and nicer approach, but I'll keep investigating it.

Other problem with this approach is tha

[2017-09-26 09:45] zawadaa opened #7511 "Search: When you click on the result, only "Loading" appears."
Like in subject.
But... When the result is visible in the channel, the click "Jump" is working properly.

Version 4.1

[2017-09-26 10:52] sokratisg commented on #5905
Any progress on this one?

[2017-09-26 12:00] maxtar commented on #7499
Forum contains the both suggestions :) I've voted.

[2017-09-26 12:00] jasonblais commented on #4587
@syamgk @maniankara The CLI command should be available in v4.3 (released October 16th)

[2017-09-26 12:16] lindy65 commented on #7499
Awesome, thanks @maxtar :)

[2017-09-26 12:17] MusikPolice commented on #7457
Can we start over here? The waters have been a bit muddied, and I'm having a hard time following what's been requested. As I understand it, we all agree that SHIFT+ENTER currently adds a newline in the Mattermost text box, as opposed to ENTER, which sends the message. @001101 appears to be requesting that CTRL+ENTER

[2017-09-26 15:44] esethna opened #7512 "[Help Wanted] [PLT-2568] Create Jenkins job to move out model to separate repository."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 15:50] esethna opened #7513 "[Help Wanted] [PLT-7727] Update matterbuild to remove loadtest deployments after they have been run."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 15:50] esethna opened #7514 "[Help Wanted] [PLT-7726] Create a working Jenkinsfile for the mattermost-server reporitory"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 15:50] esethna opened #7515 "[Help Wanted] [PLT-7725] Hook up corp.mattermost.com AD server to new build server."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 15:55] esethna opened #7516 "[Help Wanted] [PLT-7729] Create Jenkinsfile for mattermost-mobile and create build on new build server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 15:55] esethna opened #7517 "[Help Wanted] [PLT-7728] Create Jenkinsfile for mattermost-desktop and create build on new build server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 15:55] rorymbyrne commented on #954
Hi,

Am having the same problem with Office 365 integration with Mattermost. Has anyone any suggested work around?

[2017-09-26 16:05] esethna opened #7518 "Create Jenkinsfile for mattermost-push-proxy and create build on new build server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 16:05] esethna opened #7519 "[Help Wanted] [PLT-7731] Create Jenkinsfile for mattermost-redux and create build on new build server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 16:10] cpanato commented on #7514
I will take care this

[2017-09-26 16:10] cpanato commented on #7513
I will take care this

[2017-09-26 16:15] esethna opened #7520 "Have GitLab Omnibus set default email settings for Mattermost install"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-26 18:32] lindy65 commented on #7510
Hi @bios-ben

Thanks for your feedback,

I've filed a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7740) to track the issue.

[2017-09-27 05:18] karlding opened #7522 "Server accepts reactions to System Messages on React Native Client"
#### Summary

Server accepts reactions to System Messages

#### Steps to reproduce

1. Download the React Native client (I used the version in the Play Store, 1.2.0)
2. In the React Native client, tap and hold on a System Message (like `___ has joined the channel`)
3. Select an Emoji reaction

I tested this using the pre-release Mattermost server today.

#### Expected behavior

One would expect th

[2017-09-27 06:36] lindy65 commented on #7510
I'll close this issue off for now and we can track via the Jira ticket...

[2017-09-27 06:36] #7510 closed

[2017-09-27 06:53] lindy65 commented on #7522
Hi @karlding,

Thank you for the report!

This seems like a bug on the React Native app and I've created a [Jira ticket](https://mattermost.atlassian.net/browse/RN-370) to track the issue.

[2017-09-27 06:54] lindy65 commented on #7511
Hi @zawadaa

Thanks for your feedback,

This was a bug that was fixed with v4.2.  You can download the latest version [here](https://about.mattermost.com/download/) which should fix your issue.

[2017-09-27 06:56] #7499 closed

[2017-09-27 08:17] lindy65 commented on #7456
I'll close this issue off for now but feel free to re-open in need.

[2017-09-27 08:17] #7456 closed

[2017-09-27 08:34] lindy65 commented on #7495
I'll close this off for now and we can track via the Jira ticket.

[2017-09-27 08:34] #7495 closed

[2017-09-27 08:35] #7506 closed

[2017-09-27 08:35] #7511 closed

[2017-09-27 12:34] enahum commented on #7440
@phantomofrussia what you describe is basically an SSL issue, please try and correct your SSL configuration and see if that solves the problem

[2017-09-27 15:08] chumbalum opened #7525 "Command Line Tools, user still partially exist after platform user delete"
#### Summary
I deleted a (inactive) testuser with the command line tools **platform user delete {email}**. The script was executed without errors. I verified with **platform user search {email}** and the user wasn't found anymore. Despite of that, the user still shows up in the system console user list.

![mattermost users](https://user-images.githubusercontent.com/486034/30920829-3b331a5e-a3a5-11

[2017-09-27 15:51] chumbalum commented on #7525
I found some time to restart the server and the problem is solved. So I guess this issue can be closed.

[2017-09-27 17:20] esethna opened #7526 "[Help Wanted] [PLT-7714] Have the Add User To Channel api route return a 400 error when trying to add users to a DM or GM channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-27 20:13] mathias-b commented on #7495
Thanks for answering.

I'll see what I can do in your Jira.

[2017-09-28 08:10] lindy65 commented on #7525
Thanks for your feedback @chumbalum - I'll close the issue.

[2017-09-28 08:10] #7525 closed

[2017-09-28 08:12] SmartHoneybee commented on #7054
`make package` worked for me, on a Raspberry Pi 2 running Debian stretch with the mattermost 4.2.0 release.

Grab your sledgehammer and:
* Follow the developer part to setup a build environment.
 (I did not bother installing docker and used go from stretch-backports.)
* `grep -r amd64 | cut -d: -f1 | grep -v Binary | xargs sed -i '' -e 's amd64 arm g'`
* Modify the `build` target to exclude `build

[2017-09-28 09:16] runIT123 opened #7529 "Outgoing Webhook - [EROR] Event POST failed, err=Post http:192.168.3.207: address forbidden"
#### Summary
After mattermost upgrade to v4.2.0, the outgoing webhook: http://192.168.3.207 fails with: **[EROR] Event POST failed, err=Post http://192.168.3.207: address forbidden**.
As mentioned in the docs, I have adapted my config.json (webhooks are enabled):

"EnableInsecureOutgoingConnections": true,
"AllowedUntrustedInternalConnections": " gitlab.mydomain.com, 192.168.3.207 " ,

Also tried

[2017-09-28 11:57] 001101 commented on #7457
As I researched it appeared that in any other applications the SHIFT + ENTER is the accepted standard. But I have used several years also Steam to chat and there is the default STRG + ENTER, so I was thinking this is the standard, but i wasn't!

So please blame Valve for not stick to the standards!!

[2017-09-28 13:44] andreasoc commented on #7440
i have the same problem
i'm locally with the bitnami ova with the last mattermost version
go in android in wifi in my lan
insert the local site http://172.16.X.X and dont' work.
in the System Console > Settings > General > Configuration > Site URL there is the same link

thanks guys!

[2017-09-28 13:47] cpanato commented on #7516
will take this one as well :)

[2017-09-28 14:00] rickbatka commented on #7493
I'd like to take a swing at this, unless it's very urgent. It'll be my first contribution so I'm sure I'll have some friction, but I've already completed some of the work locally.

I'd hope to submit a PR some time early next week.

[2017-09-28 14:05] MusikPolice commented on #7457
Since we've come to an agreement, I'm going to close this issue for the time being.

If you still feel strongly that this shortcut ought to be supported in Mattermost, consider submitting [a feature request](https://mattermost.uservoice.com/forums/306457-general). If others feel the same way, your request will be upvoted, and will have a better chance of being accepted into the project.

[2017-09-28 14:05] #7457 closed

[2017-09-28 14:31] jasonblais commented on #7493
That would be great @rickbatka! Let us know if you have any questions. Looking forward to the PR :)

[2017-09-28 23:39] AndrzejKomarnicki commented on #7514
I'll take this one

[2017-09-29 12:30] MusikPolice commented on #7529
As far as I can tell, [this error message is thrown](https://github.com/mattermost/mattermost-server/blob/master/utils/httpclient.go#L156) when the IP address that you've provided is not allowed for some reason or another.

The code that dictates whether or not an IP address is allowed [is here](https://github.com/mattermost/mattermost-server/blob/master/utils/httpclient.go#L93). If I'm reading it

[2017-09-29 13:25] mcarpenterjr opened #7537 "no send button on larger format devices when in landscape."
#### Summary
Users who default to `CTRL + Enter` for sending messages have no send button on large format mobile devices when they are in use in landscape mode.

#### Steps to reproduce
Find a large format device (Samsung Tab A 10", SM-T580) rotate into landscape and pull up an instance of mattermost, look for send button. Try sending a message using `CTRL + ENTER` with missing send button. Or add

[2017-09-29 15:39] mcarpenterjr commented on #7537
Similar to #4368

[2017-09-29 15:55] AndrzejKomarnicki commented on #6961
I'll take this one...

[2017-09-29 17:10] lindalumitchell commented on #7537
Filed in Jira to track: https://mattermost.atlassian.net/browse/PLT-7760

[2017-09-29 18:01] jasonblais opened #7541 "[Help Wanted] [PLT-4951] Don't send notifications or mark channel unread if a post is made to a comment thread that's open in right hand sidebar, and Mattermost is in focus"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-29 18:01] jasonblais commented on #6126
Reopened here: https://github.com/mattermost/mattermost-server/issues/7541

[2017-09-29 18:01] #6126 closed

[2017-09-29 18:02] jasonblais commented on #6178
Resolved

[2017-09-29 18:02] #6178 closed

[2017-09-29 18:02] jasonblais commented on #6230
Submitted and scheduled for v4.3 release: https://github.com/mattermost/mattermost-webapp/pull/62

[2017-09-29 18:02] #6230 closed

[2017-09-29 18:04] #6441 closed

[2017-09-29 18:08] jasonblais commented on #6611
In progress by GitLab: https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests/1877

[2017-09-29 18:08] #6611 closed

[2017-09-29 18:09] jasonblais commented on #6995
Resolved: https://mattermost.atlassian.net/browse/PLT-7186

[2017-09-29 18:09] #6995 closed

[2017-09-29 18:10] #7046 closed

[2017-09-29 18:12] jasonblais opened #7542 "[Help Wanted] [PLT-5268] Always show link previews on comment threads in right-hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-29 18:12] jasonblais commented on #7188
Re-opened here: https://github.com/mattermost/mattermost-server/issues/7542

[2017-09-29 18:12] #7188 closed

[2017-09-29 18:13] #7227 closed

[2017-09-29 18:20] jasonblais commented on #7236
Thanks @jespino!!

[2017-09-29 18:21] jasonblais opened #7543 "[Help Wanted] [PLT-4420] Mark channels unread using ALT-click (resets "New Messages" indicator)"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-09-29 18:21] jasonblais commented on #7256
Resubmitted here: https://github.com/mattermost/mattermost-server/issues/7543

[2017-09-29 18:21] #7256 closed

[2017-09-29 18:22] jespino commented on #7236
Yes, is not complete yet. I have to migrate the BrowserStore and finally migrate the component. I've been a little busy this wee so I couldn't advance too much this week.

[2017-09-29 18:25] jasonblais commented on #7488
Resolved: https://github.com/mattermost/mattermost-redux/pull/259

[2017-09-29 18:25] #7488 closed

[2017-09-29 18:32] jasonblais commented on #7236
No worries! We're participating in [Hacktoberfest](https://hacktoberfest.digitalocean.com), so your contribution will count towards the event if you submit in October ;)

[2017-09-29 18:33] jespino commented on #7236
I hope so :)

[2017-09-29 23:45] esethna opened #7544 "[Help Wanted] [UX-65] In desktop web app, remove unnecessary steps for copying permalink"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-01 05:40] santos22 commented on #7526
I can take this!

[2017-10-01 11:47] letsila commented on #7544
Hi guys! I'd love to work on this issue.

[2017-10-01 17:40] jasonblais commented on #7544
@letsila Aah sorry. We were meaning to add an updated mock up for this design but accidentally created a help wanted ticket for it.

I'll close this for now until we have the new mockup..would there be another ticket you'd be interested to work on?

Thanks for your interest!! :)

[2017-10-01 17:40] #7544 closed

[2017-10-01 17:41] letsila commented on #7544
No worries I am gonna find another ticket :)

[2017-10-01 21:56] rickbatka commented on #7493
I have some UX follow up questions:

1. In System Console > Users > User Actions Dropdown, should the "Revoke Sessions" option be available for the currently logged-in user? If so, we could:
    1. Immediately force the logout upon success (I think using forceLogoutIfNecessary)
    1. Display a modal and force logout either after they close it or after a short delay ("We are returning you to the l

[2017-10-01 23:53] R-Wang97 commented on #6996
I can try taking a look at this!

[2017-10-02 05:54] letsila commented on #6483
Hi guys! I'd like to work on this issue :)

[2017-10-02 06:56] lindy65 commented on #7491
Thanks @prateeksriv @tejaycar @jespino

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7752) to investigate the issue.

[2017-10-02 07:54] tochi-y opened #7547 "What is the meaning of the version which is described in the parentheses?"
#### Summary
The version is displayed `4.1.0 (4.1.1)` after Mattermost installation.
I think the version 4.1.0 is installed, is my understanding correct?
And what is the meaning of the version which is described in the parentheses, 4.1.1?

#### Steps to reproduce
1. Install the latest mattermost by [One-line Docker Install](https://docs.mattermost.com/install/docker-local-machine.html#one-line-doc

[2017-10-02 11:15] runIT123 commented on #7529
Thanks for the quick reply.

It seems a most strange decision for somebody not involved.

Concerning your 'work-around' using an external address or a name, using an external address works in principle, sadly not in our setup as the entire network only has limited internet connectivity. Using a name does not work and also returns with forbidden address.

I am looking forward to receiving some more

[2017-10-02 11:37] xjlim commented on #7508
I will work on this

[2017-10-02 12:20] jasonblais commented on #7448
@itaibaruch Did the above workaround work for you, or are you still seeing issues?

[2017-10-02 12:43] jasonblais commented on #7493
Hey @rickbatka

1 - Propose we immediately force the logout. Otherwise I worry it will look as though the session weren't properly revoked.

(Also, if the admin wants to revoke his sessions, he'll likely go to the Account Settings rather than System Console)

2 - No feedback/messaging needed (for now at least). Similar to the note above, the user is logged out without messaging when their session

[2017-10-02 12:49] rickbatka commented on #7493
I was thinking of UI messaging, but if there's no precedent for it then I'm
perfectly happy to leave it out. Getting logged out (if you do it to
yourself) will be a form of UX feedback, anyway.

I'll look into the server logging. Thanks for the input!
On Mon, Oct 2, 2017 at 8:43 AM Jason Blais <notifications@github.com> wrote:

[2017-10-02 12:51] jasonblais commented on #7493
@rickbatka, yeah I think no messaging is okay for now. We can always add it later if needed.

Huge thanks for your help working on this! It'll be a great improvement to have

[2017-10-02 16:32] ccbrown commented on #7529
I think you're misreading things. The configuration take's precedence.

This configuration shouldn't contain commas. It is a space-separated configuration.

The IP address whitelist is based on URL-matching. So with your configuration, "http://192.168.3.207" would be allowed. But a domain that resolves to 192.168.3.207 would not.

CIDR ranges are matched after resolution though.

Wildcards are not

[2017-10-02 20:22] cpanato commented on #7330
PR: https://github.com/mattermost/mattermost-kubernetes/pull/8

[2017-10-02 20:43] cpanato commented on #7332
PR: https://github.com/mattermost/mattermost-kubernetes/pull/9

[2017-10-02 21:09] jasonblais commented on #6449
Resolved by @sudheerDev!

[2017-10-02 21:09] #6449 closed

[2017-10-02 21:09] #6453 closed

[2017-10-02 21:22] bbodenmiller commented on #1723
What can we do to get this reopened? Some of us are unable to install native app but mobile web notifications would even help.

[2017-10-03 05:12] santos22 commented on #7526
I am creating a direct/group message channel using the API and correctly receive a 201 response. When I attempt to add a user to the channel using the API, I also correctly receive a 404 response.

However, isn't this status code determined by the HTTP request being created in [client4.go](https://github.com/mattermost/mattermost-server/blob/76bd1bb212177824379c485c553e54530a854009/model/client4.g

[2017-10-03 05:57] itaibaruch commented on #7448
Hi @jasonblais,
Sorry for the late reply, No it didn't help... I use version 4.1 so far.

The suggested solution will work on development mode but not when I extract the build file ('dist/mattermost-team-osx-amd64.tar.gz'), no 'mattermost-server' folder exist inside.

And I want to run the app with 'bin/platform' and not the docker with 'make run'.

Thanks :)

[2017-10-03 07:21] Zapix commented on #6595
Hi. I'm interesting to work under current issue. Will read your Developer's Guide and then will be ready to discuss current task.

[2017-10-03 10:18] lindy65 commented on #7547
Hi @tochi-y

Thanks for your question.  Version numbering is explained [here](https://docs.mattermost.com/process/release-process.html#release-numbering).

Does this help?

[2017-10-03 10:19] lindy65 commented on #7537
Thanks @mcarpenterjr and @lindalumitchell

I'll close off this issue here and we can track via the Jira ticket linked above.

[2017-10-03 10:19] #7537 closed

[2017-10-03 10:21] lindy65 commented on #7522
I'll close this issue off here and we can track it via the Jira ticket linked above.

[2017-10-03 10:21] #7522 closed

[2017-10-03 10:22] lindy65 commented on #7491
I'll close this issue off here and we can track it via the Jira ticket linked above.

[2017-10-03 10:22] #7491 closed

[2017-10-03 12:06] Andrew197 commented on #1723
Have to second this, web notifications would be very valuable in my organization

[2017-10-03 13:13] jasonblais commented on #7526
Awesome, thanks @santos22!

[2017-10-03 13:14] jasonblais commented on #6595
Awesome, thanks @Zapix!

[2017-10-03 14:30] karlding commented on #7522
Shouldn't there be an associated change on the server side to not accept requests that attempt to react to a system message? Otherwise someone could still hit the API directly, even if changes to the React Native client are made.

[2017-10-03 14:58] esethna opened #7558 "[Help Wanted] [PLT-7778] Pre-populate the ends of token/API endpoints for GitLab System console settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-03 14:58] esethna opened #7559 "[Help Wanted] [PLT-7777] Pre-populate SAML > Service Provider Login URL page with [Site URL]/login/sso/saml"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-03 14:58] esethna opened #7560 "[Help Wanted] [PLT-7774] Add the Teammate Name Display setting back to Account Settings > Display, below "Clock Display" option."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-03 15:11] esethna opened #7561 "Mattermost 4.3"
This is a meta issue for v4.3 release updates.

You can find key dates for v4.3 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### October 3 (T-8): Code Complete

Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated af

[2017-10-03 15:55] jasonblais commented on #7448
@itaibaruch Can you try to call the `make package` target of the webapp repository separately?

I think the `make build` target no longer calls out to the target for the webapp.

[2017-10-03 16:35] santos22 commented on #7526
I am creating a direct/group message channel using the API and correctly receive a 201 response. When I attempt to add a user to the channel using the API, I also correctly receive a 404 error. [I  created a Gist of the Go request I run while running Mattermost locally](https://gist.github.com/santos22/1cf0eb996d00b0b76dd307f7f3d33645).

However, isn't the response status code determined by `c.Htt

[2017-10-03 17:16] jasonblais commented on #7526
Thanks @santos22!

If you can't find what you're looking for inside mattermost-server/store/sqlstore/, [APIv4 channel](https://pre-release.mattermost.com/core/channels/apiv4) is an excellent place to ask questions from the community and Mattermost developers :)

[2017-10-03 18:23] esethna opened #7562 "[Help Wanted] [PLT-7776] Render at-mentions by the teammate name display"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-03 20:38] difarem commented on #6278
I'd like to have a go at this. Just to be absolutely clear: the objective is to have the internal reaction adding and removing methods return the updated Post instead of the Reaction, correct?

[2017-10-03 21:14] difarem commented on #6278
WIP: https://github.com/difarem/mattermost-server/tree/PLT-6074

[2017-10-03 22:02] hmhealey commented on #6278
@difarem To clarify, whenever a reaction is saved or deleted right now, it sends the client two websocket events ([link](https://github.com/mattermost/mattermost-server/blob/master/app/reaction.go#L50)): a reaction_added/reaction_removed event depending on what happened and a post_edited event to tell the client that the post may now have reactions.

The problem with with the post_edited event. Re

[2017-10-04 03:39] moonmeister commented on #7490
I want to take a second to confirm the scope of this ticket and what I'm targeting given the discussion @jasonblais mentioned above.

1. The go `platform` executable will continue bind to the port and address configured in `ServiceSettings.ListenAddress`.
1. We want to support reverse proxies that host MM in a subdirectory.

1. For things that require a static url reference (see below), `siteURL`

[2017-10-04 04:41] santos22 commented on #7526
Before submitting a PR, are the following applicable to this issue?

- Added API documentation (required for all new APIs)
- All new/modified APIs include changes to the drivers

[2017-10-04 06:25] mikaoelitiana commented on #7562
I want to work on this on.

[2017-10-04 06:59] Zapix commented on #6595
@jasonblais, should I write unit tests for components?

[2017-10-04 08:36] lindy65 commented on #7465
Hi @limenleap, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-10-04 10:28] kincsespeti commented on #7054
Hi @ionas !

Have you tried @SmartHoneybee 's steps, did you succeed?

Asking because me being inexperienced in this stuff, I'm struggling with it.

[2017-10-04 11:21] Zapix commented on #6595
HI. I've added ColorInput component and use it in `component/user_settings/custom_thme_chooser.jsx` Also I think we could use ColorInput `components/admin_console/color_settings.jsx`.
Updated package dev dependencies to run enzyme 3 with react 15.

[2017-10-04 12:09] inoas commented on #7054
I am probably in the same camp. I could get the dependencies running with jessie but did not try debian stretch and did not try building mattermost against a different arch manually, yet. I spend one day to realize that mattermost ships for arch x86 64 bit only and then gave up and reset my PI.

I will report back when I try again using @SmartHoneybee 's notes

[2017-10-04 12:23] jasonblais commented on #6595
Sweet! And yes, unit tests for components would be good but looks like you added them @Zapix :)

[2017-10-04 12:25] jasonblais commented on #7562
Awesome!!

[2017-10-04 12:27] jasonblais commented on #7526
@santos22 It would be good to add API documentation at https://github.com/mattermost/mattermost-api-reference and make the corresponding changes to the drivers.

If you have questions about either one, let me know and we can point you in the right direction.

[2017-10-04 12:31] jwilander commented on #7490
Sounds about right to me

[2017-10-04 12:55] mcarpenterjr commented on #7537
Thanks, Guys!

[2017-10-04 13:34] hmhealey commented on #7399
Hi @jtama,

Thanks for the report. We talked about it a bit, and we decided that we should change the collapsed version of the attachment text to be cut off using CSS instead of by cutting off the text after 300 characters. There's a Jira ticket for this issue [here](https://mattermost.atlassian.net/browse/PLT-7805) if you'd like to help fix the issue or just track its progress.

[2017-10-04 14:23] Zapix commented on #7494
Hi. I've looked through api v4 for users and search. There isn't query param for filtering by role or another way to implement this. Should be api updated for this ticket?

[2017-10-04 14:38] Zapix commented on #7234
Hi. I think I can work on this issue.

[2017-10-04 14:46] cedeon commented on #7440
I have the same problem too.  I'm trialing this for potential to go to enterprise but its imperative I have a mobile working solution.  I'm using the standard docker deployment and a proper SSL cert.  Web works fine but on android the error is same as @phantomofrussia

[2017-10-04 14:51] jasonblais commented on #7234
Yay, thanks @Zapix!

[2017-10-04 14:55] jasonblais commented on #7494
@Zapix Excellent question. Looks like you're already signed up to https://pre-release.mattermost.com, would you like to post your question in the [APIv4 channel](https://pre-release.mattermost.com/core/channels/apiv4)?

(I would say yes, but a developer will be able to confirm it in the channel)

[2017-10-04 16:43] lindy65 commented on #7440
Thanks @andreasoc @cedeon

Do you have any ideas @enahum ?

[2017-10-04 17:27] jwilander commented on #7494
Added Go label as this will require updates to the API for querying based on role

[2017-10-04 18:23] emergie commented on #4300
libreoffice has headless mode and is capable of generating more or less accurate pdf exports and even bitmap previews of MSOffice files:
[code]
Setup for doing it this way would be not trivial - probably you would need to build a separate system just to handle document conversion.

[2017-10-04 22:02] jasonblais commented on #7494
@Zapix If you're interested to learn Go or to add a new APIv4 endpoint, we have documentation here that guides you through the process (plus you're welcome to ask questions): https://docs.mattermost.com/developer/api4.html

However, feel free to pick another Hacktoberfest issue too if you'd prefer :)

[2017-10-04 22:20] jwilander commented on #7494
For more information, it will likely require a new database query or two, coresponding app layer functions and would be an addition to the `POST /api/v4/users/search` and `GET /api/v4/users` endpoints

[2017-10-05 00:48] santos22 commented on #7526
For sure! When adding API documentation to the [Add a user](https://api.mattermost.com/#tag/channels%2Fpaths%2F%7E1channels%7E1%7Bchannel_id%7D%7E1members%2Fpost) route, what exactly would change? I see there is already a 400 in the list of response.

And I'm not sure what the drivers are for or where to find them.

[2017-10-05 03:12] moonmeister commented on #7490
As an aside this is theoretically already possible using a finely tuned Reverse Proxy for any one who doesn't want to wait. See [here](http://www.apachetutor.org/admin/reverseproxies)

[2017-10-05 05:39] Zapix commented on #7494
@jasonblais Thank you. I'll try to work on this issue on weekends I think.

[2017-10-05 07:20] itaibaruch commented on #7448
Hi @jasonblais,

This morning I try to run and build the packaged build, of the latest version in master (4.3) and everything work fine :)

Thanks.

[2017-10-05 09:52] andyinno opened #7578 "Sending email to an OWA enabled account"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Unable to send email notification with an OWA enabled acc

[2017-10-05 10:22] maruTA-bis5 commented on #6279
I'd like to try working on this

[2017-10-05 12:02] jasonblais commented on #6279
Awesome, thank you @maruTA-bis5!

[2017-10-05 14:45] jasonblais commented on #7526
Thanks @santos22!

1) If you're not modifying an existing API call (or adding a new one), then no documentation is needed. Sounds like that might be the case.

2) We have two official drivers, one for [Javascript](https://github.com/mattermost/mattermost-redux/blob/master/src/client/client4.js) and another for [Go](https://github.com/mattermost/mattermost-server/blob/master/model/client4.go). They

[2017-10-05 16:05] esethna opened #7580 "[Help Wanted] [PLT-7803] Have shift+up switch keyboard focus to RHS if it's already open to the current thread"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-05 16:06] SmartHoneybee commented on #7054
@kincsespeti, based on the information provided I am unable to help you. Please consider describing your problem as detailed as possible. (If you feel like reading, have a look at [the five Ws][1] and [smart questions][2].) Doing so will allow those willing to help to determine if they are able to help.

I am aware that my previous post is ~~incomprehensible~~ no detailed step-by-step guide. Feel

[2017-10-05 16:11] esethna opened #7582 "[Help Wanted] [PLT-7805] Hide integration message attachment text behind "Show More..." after it exceeds three lines of text on screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-05 16:11] esethna opened #7583 "[Help Wanted] [PLT-7794] Deactivate personal access tokens via Account Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-05 16:11] esethna opened #7584 "[PLT-7793] Manage Tokens page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-05 16:33] cherealnice commented on #6895
@jasonblais I can take a look at this if no one's claimed it yet

[2017-10-05 16:35] santos22 commented on #7526
Hi @jasonblais,

Thanks for the clarification on that. It does not look like I modified the call but I would appreciate a second look at the changes I've made. They can be found here: https://github.com/santos22/mattermost-server/tree/PLT-7714

Thanks!

[2017-10-05 16:37] jasonblais commented on #6895
That would be great, thank you @cherealnice!

[2017-10-05 18:03] kincsespeti commented on #7054
@SmartHoneybee

Yeah, I know, it was intentional :P
By now I managed to finish compiling based on your guide.

It seems to work, aside from the fact that I get 404 error on the default 8065 port. Debug level logging in Mattermost shows the request for '/' and for '/index.html' if I manually add it to the URL. Even installed nginx but didn't help.

[2017-10-05 19:19] d1ndra commented on #7580
I would like to work on this, any help would be appreciated.

[2017-10-05 19:47] narendravardi commented on #7582
@esethna can i work on this?

[2017-10-05 20:43] esethna commented on #7582
@narendravardi go for it, thanks!

[2017-10-05 21:05] jasonblais commented on #7580
Thanks @d1ndra! A good place to start is to review our [Developer's Guide](https://docs.mattermost.com/guides/developer.html), specifically for [machine setup](https://docs.mattermost.com/developer/developer-setup.html) and for [developer workflow](https://docs.mattermost.com/developer/developer-flow.html).

[2017-10-05 21:06] jasonblais commented on #7580
Let us know if you have any questions :)

By the way, this pull request originally added the shortcut, which might be helpful: https://github.com/mattermost/mattermost-server/pull/6549

[2017-10-05 21:25] jasonblais commented on #7526
Thanks @santos22! Yeah that looks good, shouldn't need any docs or driver changes. Once submitted, I'll queue this straight to dev review.

Big thanks for your help :)

[2017-10-06 04:06] R-Wang97 commented on #7558
I can take this.

[2017-10-06 06:47] lindy65 commented on #7578
Hi @andyinno,

Thanks for your feedback,

Does this documentation for [SMTP settings](https://docs.mattermost.com/install/smtp-email-setup.html) help?

[2017-10-06 07:34] tochi-y commented on #7547
Hi @lindy65

Thanks for your reply.

 I read the linked documentation, and I could understand Version numbering.
But I still need to help.

What is the difference between '4.1.0' and'(4.1.1)' in '4.1.0 (4.1.1)'?

[2017-10-06 07:44] kaksikanaa opened #7589 "User and status icons and the status dropdown menu dissappears in narrow screen"
#### Summary
User icon and status changing icon and dropdown menu dissappears if the Mattermost screen is too narrow like in mobile screen (happens in desktop 3.7.1 also).

#### Steps to reproduce
Change the Mattermost client or browser window narrower than 785px and open the left sidebar.

#### Expected behavior
User icon and status icon should appear on the top of the left sidebar.

#### Observe

[2017-10-06 09:37] lindy65 commented on #7547
Hi @tochi-y,

Ah, ok, thanks for clarifying!

`4.1.0` would be the version released and `4.1.1` would be a dot release where there was a bug fix or security fix.

[2017-10-06 12:57] cherealnice commented on #6895
https://github.com/mattermost/mattermost-webapp/pull/122

Change was to the web app, unless I missed something.  Couldn't get tests to run on the web app, let me know if I should add a test here.

[2017-10-06 13:41] Zapix commented on #7235
I think I can work under this issue too

[2017-10-06 14:09] jasonblais commented on #7235
Sweet, go for it @Zapix!

[2017-10-06 16:36] jasonblais commented on #7558
Thanks @R-Wang97!

[2017-10-06 17:00] EyesBear commented on #4766
I am interested in picking this up.

[2017-10-06 18:37] SmartHoneybee opened #7593 "NoScript ABE settings"
#### Summary
* Your web server/Mattermost instance informs you that it: "*Cannot connect to Mattermost*"
* NoScript is installed and ABE protection enabled.

#### Steps to reproduce
* Install NoScript.
* Try to access your multi-homed (here: at least one [local IP address][1] and one non-local IP address) Mattermost instance from a machine in the same local network, while NoScript detects your non

[2017-10-06 18:37] SmartHoneybee commented on #7593
Reported for documentary purpose.
Not an issue with Mattermost (I guess).

[2017-10-06 18:37] #7593 closed

[2017-10-06 18:48] d1ndra commented on #7580
Thanks @jasonblais

[2017-10-07 09:31] letsila commented on #5758
I am ready to help on this :)

[2017-10-07 10:38] yeoji commented on #7559
I have created a PR in mattermost-webapp for this issue.

[2017-10-07 11:04] yeoji commented on #6122
Hey @jasonblais, this issue seems to be fixed. The linked JIRA ticket is closed.

[2017-10-07 11:37] yeoji commented on #6172
I have created a PR in mattermost-webapp for this issue

[2017-10-07 14:57] rickbatka commented on #7493
I need some advice on the back end side of this.

Looking at the existing RevokeAllSessions() method in session.go, it will loop through a user's sessions and either delete the session or remove the access tokens, depending on whether or not it's an OAuth session. Additionally, it calls RevokeWebRtcToken() for every session, and ClearSessionCacheForUser() for every user - which removes the session

[2017-10-07 22:08] mkraft commented on #5265
I'll take this one.

[2017-10-08 03:48] santos22 commented on #6326
I can take this! I'm running Mattermost locally and am still seeing this issue so I'm assuming it's still open 😄

[2017-10-08 12:27] fraziern commented on #7583
I can give this a go.

[2017-10-09 11:57] fraziern opened #7597 "Error during developer machine setup"
#### Summary
When setting up local repos for development, an incomplete version of mattermost-redux is installed, resulting in webapp crashes.

#### Steps to reproduce
Cloned mattermost-webapp and mattermost-server. In mattermost-server, ran `make run`. Navigated to localhost:8065. Webapp goes through user account creation, and channel creation, then hangs.

#### Observed behavior (that appears un

[2017-10-09 16:38] lindy65 commented on #7589
Hi @kaksikanaa,

Thank you for your feedback,

What you're describing above is currently by design.  Perhaps you'd like to open a feature suggestion on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you and others can upvote it to increase it's popularity.

[2017-10-09 16:44] jasonblais commented on #5758
Yay, thanks @letsila!

[2017-10-09 16:45] jasonblais commented on #6122
@yeoji Good find, it's indeed resolved. Closing this issue

[2017-10-09 16:45] #6122 closed

[2017-10-09 21:35] jasonblais commented on #6326
It is! Thanks @santos22 :)

[2017-10-09 21:36] jasonblais commented on #7583
Thanks @fraziern!

[2017-10-09 22:31] jasonblais commented on #5265
@mkraft As you found out, Slack no longer supports "implied attachments" and instead throws a 500 error.

Did you start working on code changes for this yet?

[2017-10-09 23:52] mkraft commented on #5265
@jasonblais I do have a branch that makes the change. It was in determining how to change/update tests that I ended up creating a Slack app and re-testing the original case. I think we not use the code I wrote though and rather close this issue so that we don't have to hassle with supporting undocumented payloads.

[2017-10-10 07:49] MMetze opened #7599 "File extentions are omitted in MatterMost Windows Client"
#### Summary
Downloading a posted file within the Mattermost Windows x64 3.7.1 omits the file extention.

#### Steps to reproduce
Mattermost Windows x64 Client 3.7.1 on Windows 10

#### Expected behavior
I posted a file to a channel. If I login via the webfrontend, using Chrome, and klick on the file,
it get's downloading and filename and extention are correct. I assume this should be the same
for

[2017-10-10 08:19] kincsespeti commented on #7054
I'm back.

Managed to get it done.

Here are my 2 cents:

My main issue was, that the pi did not have enough ram (nor swap for that matter) and the webapp build failed without emitting a clear error message.
solution: `add more swap`

The webapp build did have missing dependencies, the `gifsicle`  and the `cjpeg` ones.

Also got the `targa` error, which indeed can be solved by modifying a line in

[2017-10-10 08:33] gokceneraslan commented on #3650
That's not working in my mmost instance (v4.2) and there is no experimental option about it either. Any comments?

[2017-10-10 08:33] inoas commented on #7054
Did you add more swap size like this? https://www.raspberrypi.org/forums/viewtopic.php?p=365913#p365913

[2017-10-10 08:37] gokceneraslan commented on #3650
Ah ok it needs to be enabled in System console as well.

[2017-10-10 09:06] kincsespeti commented on #7054
I used a pendrive instead of the sdcard, but other than yes, edited `/etc/dphys-swapfile `, ran `dphys-swapfile setup` and then ran `dphys-swapfile swapon` (I added 1GB, and measured around 350MB swap usage)

[2017-10-10 09:11] torgeirl opened #7600 "Add direct messages with user to search results"
#### Summary
Direct Messages (DMs) with an user, unless the user's real name or username is explicitly mentioned, isn't listed in search results for a search query on that user's real name or username.

#### Example
A search for 'bob' will currently not include a direct message conversation you had with the users 'bob' and 'paul', unless one of you mentioned bob explicitly in the conversation.

##

[2017-10-10 09:21] sharcslife opened #7601 "Backslash before underscore not shown in message"
#### Summary
Backslash directly before underscore not shown in message

#### Steps to reproduce
Input text containing  \_

#### Expected behavior
Should be displayed as typed

#### Observed behavior (that appears unintentional)
Backslash is not shown in message. It is still there though when editing the message.

#### Possible fixes
Display it correctly :-p

[2017-10-10 09:32] torgeirl opened #7602 "Closed direct messages should be suggested under DMs > More"
#### Summary
Closed direct messages with multiple users should be listed in the direct messages menu.

#### Example
If you closed a direct message conversation with users 'bob' and 'paul' that conversation isn't listed along with the usernames you can chose from when making a new conversation.

#### Expected behavior
You can reconstruct a closed direct message conversation by making a "new" conver

[2017-10-10 11:54] enahum commented on #7597
Very strange as the dependencies you mention are listed in the `package.json` under dev-dependencies, probably you had an issue while installing the dependencies? `mattermost-redux` should build when running the post install script.

A few questions:
* What version of node do you have running?
* What version of yarn?
* Have you tried running `make nuke` or `make clean` in the server folder or `mak

[2017-10-10 11:57] jasonblais commented on #5265
Thanks @mkraft, I agree. Sorry for the additional work on your part, I hope it wasn't too much..

Really appreciate your thoughtfulness.

[2017-10-10 11:57] #5265 closed

[2017-10-10 11:58] jasonblais commented on #5265
Let me know if there is another issue you'd like to work on for Hacktoberfest?

[2017-10-10 12:50] mkraft commented on #5265
@jasonblais No worries. It helped me start to get familiar with the code. I'll choose something else. Thanks.

[2017-10-10 13:00] jasonblais commented on #7493
Thanks @rickbatka!

Would you like to post your question in our [public Developers channel](https://pre-release.mattermost.com/core/channels/developers)?

Looks like you've already joined the channel and you'll more likely get a response there.

[2017-10-10 14:14] jasonblais commented on #7583
@fraziern You can check the Integrations page -- we use that pattern when listing webhooks and slash commands

![image](https://user-images.githubusercontent.com/13119842/31391173-cc9d360c-ada3-11e7-9364-0a57d421e3be.png)

[2017-10-10 16:34] santos22 commented on #5463
❓ 🤔   Should this issue be closed? I see there was a PR submitted for it -
 https://github.com/mattermost/mattermost-webapp/pull/97

[2017-10-10 17:16] esethna commented on #5463
Thanks for the catch @santos22, it should be closed.

[2017-10-10 17:16] #5463 closed

[2017-10-10 18:39] lindy65 commented on #7599
Hi @MMetze,

Thanks for your feedback,

We're not able to reproduce your issue.  Could you share which version of Mattermost server is running?   You can see this by clicking "Main Menu' > "About Mattermost" (from within your team).

v4.2 is the latest released version and you can download it [here](https://about.mattermost.com/download/).  v4.3 will be released on October 16th if you'd prefer to

[2017-10-10 20:34] Zapix commented on #7237
I think I've got enough skills to work on current issue.

[2017-10-10 20:53] jasonblais commented on #7237
Sweet, thanks @Zapix!

[2017-10-10 21:36] #6487 closed

[2017-10-11 00:20] esethna commented on #7561
#### RC1 is cut!

**Download Links**
Enterprise Edition: https://releases.mattermost.com/4.3.0-rc1/mattermost-4.3.0-rc1-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.3.0-rc1/mattermost-team-4.3.0-rc1-linux-amd64.tar.gz

**Test Server**
http://rctesting.reddogsofwar.com/

____

#### [Approved Bug Fixes for RC2](https://mattermost.atlassian.net/issues/?filter=14800)

1. [Style b

[2017-10-11 04:38] rickbatka commented on #7493
@jasonblais you can put this one back up for grabs. The back end touches more than web sessions.  This being the first MM task I grabbed, I haven't got a good enough grip on the project to test web hubs, clusters, websockets, oauth, user access tokens, etc. The guys over in the Developers channel are still hashing out how they want it to work.

If there's any value in it I can push my branch with

[2017-10-11 07:17] lindy65 commented on #7602
Hi @torgeirl,

Thank you for your feedback!

Could we have your help opening a feature request on our [forum](https://mattermost.uservoice.com/forums/306457-general) where it can be upvoted by yourself and others to gain popularity?

[2017-10-11 07:25] lindy65 commented on #7600
Hi @torgeirl,

Thank you for your feedback,

At the moment, this is not possible in Team Edition while in Enterprise Edition there is Elasticsearch which does bring back results for direct messages.

If you'd like to see the same feature in Team Edition, please consider opening a feature request on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you and others can upvote

[2017-10-11 07:46] lindy65 commented on #7399
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-10-11 07:46] #7399 closed

[2017-10-11 07:48] lindy65 commented on #7448
Thanks for your feedback @itaibaruch

I'll close this issue off then.

[2017-10-11 07:48] #7448 closed

[2017-10-11 07:50] lindy65 commented on #7529
Hi @runIT123,

Circling back to see whether `ccbrown's` post above helped solve the issue?

[2017-10-11 07:51] lindy65 commented on #7547
I'll close this issue off for now.  Please feel free to post back if you need further clarification @tochi-y

[2017-10-11 07:51] #7547 closed

[2017-10-11 07:52] lindy65 commented on #7578
Hi @andyinno,

Is your issue resolved?

[2017-10-11 08:09] torgeirl commented on #7600
Hi @lindy65,

I'm having trouble seeing why a distributed, RESTful search engine server like Elasticsearch would be needed to _append direct message conversation with a user that has a real name or username matching the search query to the search result_ – that can't be a time-costly operation (doesn't the search already goes through the same DMs looking for the explicitly mentions it currently fi

[2017-10-11 09:07] lindy65 commented on #7600
Hi @torgeirl,

Thank you for your feedback,

I'll ask one of our product managers to weigh in on this conversation to address your concerns.

[2017-10-11 11:04] runIT123 commented on #7529
Hello,

sorry for the late post but illness and some more important projects had me hung up a bit.

ccbrown's hint that the list is space-separated did the trick, would be nice if this could be added to the documentation (or a bit more prominent should it be included).

[code]
Works and this issue can be now closed.

[2017-10-11 11:04] #7529 closed

[2017-10-11 11:43] enahum commented on #7440
Well what I would do is:
1. Configure the server to accept HTTP requests, if the connection is successful then try with SSL enabled.
2. Check that the SSL is properly installed and configured meaning not just the certificate but any intermediary certificate that might be needed, ensure that is not a self-sign certificate, also review the ciphers that are being used and see if they are actually sup

[2017-10-11 12:06] jasonblais commented on #7493
@rickbatka Were you able to finish the first part (revoking an individual user session)? Seems like revoking all user sessions was posing difficulties, but I could split that part into a separate issue.

[2017-10-11 12:35] MusikPolice commented on #7601
Huh. That is odd. Confirmed the bug in [our Public Test Channel|https://pre-release.mattermost.com/core/pl/f3tkbm9wabna5g934ptduujgee]. Thanks for the report!

[2017-10-11 12:50] rickbatka commented on #7493
Oh, yes! I almost forgot - that part was easy. I’ll look at your
contribution docs and see about putting together a PR for just that piece.

On Wed, Oct 11, 2017 at 8:07 AM Jason Blais <notifications@github.com>
wrote:

[2017-10-11 12:53] sharcslife commented on #7601
Thanks for you confirmation, @MusikPolice
The issue does not occur in Slack, that's all I know :-)
I hope someone gets to the bottom of this.

[2017-10-11 13:04] MusikPolice commented on #7601
Looks like [the backslash is intended to escape the underscore](https://github.com/google/WebFundamentals/issues/3161), because markdown treats an underscore as _the start of a section of text that should be formatted_. By putting a backslash in front of the underscore, you disarm it, so that it doesn't start formatting the following text, and consequentially, the backslash is removed for display.

[2017-10-11 13:24] hmhealey commented on #7601
That's correct that the backslash is used for escaping, so it is intended behaviour. We tend to match GitHub's markdown rendering, so I'd suggest we probably leave it as is, but what's the case that you're using `\_` in? We've added some more intelligent escaping so common use cases like the double backslashes on `\\127.0.0.1\folder` URLs render correctly, so we could consider doing something simi

[2017-10-11 13:25] mkraft commented on #7337
In my tests this works correctly in macOS 10.13 in the following browsers...

Chrome 61.0.3163.100:
<img width="1440" alt="mac_chrome_61 0 3163 100" src="https://user-images.githubusercontent.com/1149597/31442881-cb2aabd4-ae65-11e7-9027-89c7a97c1587.png">

Safari 11.0:
<img width="1440" alt="mac_safari_11 0" src="https://user-images.githubusercontent.com/1149597/31442883-cb8627f2-ae65-11e7-8081-b5

[2017-10-11 13:40] jasonblais commented on #7337
It reproduced on Mac desktop app a couple of months ago, and I believe on Mac Chrome as well.

I'll ask @lindy65 to see if it still reproduces and maybe share a link to the post on pre-release.mattermost.com

[2017-10-11 13:42] hmhealey commented on #7337
I think it may still affect Mac, but it isn't as obvious since we use the Apple emoji set in the app and the emojis provided by the OS/browser match ours. If you post a yellow version of one of those emojis next to the ones you have, they'll likely appear with slightly different positioning and size.

[2017-10-11 13:59] licaon-kter opened #7607 "Uploaded files are stored on a per day folder"
#### Summary
Uploaded files are grouped per day starting with 4.2.0

#### Steps to reproduce
Upload a file in a chat/channel

#### Expected behavior
File is stored in `/data/teams/<teamname>/...` or `/data/teams/noteam/...`

#### Observed behavior (that appears unintentional)
File is stored in `/data/<date-of-upload-as-YYYYMMDD>/teams/noteam/...`

[2017-10-11 14:06] lfbrock commented on #7600
Hi @torgeirl - are you looking for Group Direct Messages with more than one user to show up in the Direct Message search?

Would you be able to take a screenshot of where you're wanting them to show up, and then I can look at making a Jira ticket for it?

[2017-10-11 14:12] mkraft commented on #7337
@hmhealey Yes you're right.

Input:
![simulator screen shot - iphone 6 - 2017-10-11 at 10 10 25](https://user-images.githubusercontent.com/1149597/31445655-768713c2-ae6c-11e7-8fdc-9b7b4805d6b5.png)

Ouput macOS Chrome 61.0.3163.100:
<img width="231" alt="screen shot 2017-10-11 at 10 10 10 am 1" src="https://user-images.githubusercontent.com/1149597/31445715-9f0496da-ae6c-11e7-9f62-00a7aa1ed4fc.png

[2017-10-11 14:49] torgeirl commented on #7600
Hi @lfbrock,

No, more generally; I'm looking for direct messages, either group DMs containing that user or a DM between you and that user, to show up in a regular search, along with any other hit.

I'll see if I can get you a good screenshot of what I'm missing, but in a browser that would be the search results listings you get up on the right hand side.

[2017-10-11 14:51] mkraft commented on #7337
If we're going to keep using emoji images (rather than native support) maybe we should switch to a CDN for this purpose, a quick Google search services like this:

https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f443-1f3fb.svg
https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/svg/1f443-1f3ff.svg

Thoughts?

[2017-10-11 16:30] vance commented on #603
aaaaand they show as an attachment. that's ridiculous.

[2017-10-11 18:52] Zapix commented on #7237
I've looked through sidebar_right component. Am I right that before this issue would be solved, SearchStore should be moved to redux? Issue: #7489

[2017-10-11 19:27] jwilander commented on #7237
Yes, you could probably get through this with some hacks without migrating the search store but it'll be much cleaner and simpler if you migrate/refactor the search store first

[2017-10-11 19:44] Zapix commented on #7237
@jwilander ok. thank you

[2017-10-11 19:45] Zapix commented on #7489
I'll make this issue before #7237

[2017-10-12 06:35] MMetze commented on #7599
Hi lindy,

sure. I'm running 4.2.0 with mysql backend. Let me know if you need anything else.
We can put this issue on hold and check again when I upgraded to 4.3.

[2017-10-12 07:11] lindy65 commented on #7599
Thanks @MMetze

Let us know how it goes once you've upgraded to v4.3

[2017-10-12 12:33] MusikPolice commented on #7607
This change was made on purpose to support enhanced data retention options for our enterprise customers. You can see [the diff of the changes here](https://github.com/mattermost/mattermost-server/commit/50fc6e1e9e8d286fd6a406cef75e48a28f9427ad).

[2017-10-12 13:36] licaon-kter commented on #7607
A warning would have been nice, given that I'm not on Enterprise, hence I was not expecting this to happen.

[2017-10-12 13:57] MusikPolice commented on #7607
@licaon-kter Agreed. We typically report changes like this in our release notes, but this change was overlooked. Our apologies for any inconvenience that this might have caused. Our PM is aware of the issue, and will make sure that the release notes are updated so that other users are not impacted.

[2017-10-12 14:27] n1aba commented on #4752
I believe this issue can be closed, all PRs were merged

[2017-10-12 14:55] jasonblais commented on #4752
Ah yes, you're correct. Big thanks @n1aba!

[2017-10-12 14:55] #4752 closed

[2017-10-12 16:10] esethna opened #7613 "[Help Wanted] [PLT-7886] Move Link previews to Account Settings > Display"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-12 16:15] esethna opened #7615 "[Help Wanted] [PLT-7824] Slack-compatible webhooks: Support mentions with <@userid> and <!here>"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-12 16:15] esethna opened #7616 "[Help Wanted] [PLT-7567] Team Icons"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-12 16:15] esethna opened #7617 "[Help Wanted] [PLT-4340] Channel Mute and "/mute" command"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-12 16:20] esethna opened #7618 "[Help Wanted] [PLT-7364] Ability to Direct Message yourself"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-12 18:33] chclaus commented on #7617
Hey guys,

I think this could be my first contribution for this project. Tomorrow I'll be on a hackathon and will try to implement this very nice feature. :)

[2017-10-12 19:15] esethna commented on #7617
Sweet, thanks @chclaus!

[2017-10-13 03:01] R-Wang97 commented on #7613
Would I be able to give this a try?

[2017-10-13 03:45] jasonblais commented on #7613
Go for it! :)

[2017-10-13 05:20] rickbatka commented on #7493
Ok, 4 PRs should cover it. I made sure to add and run tests, i18n strings, and api documentation - let me know if there are any problems.

Thanks for your help! This was my first open source contribution. I learned a lot :)

https://github.com/mattermost/mattermost-server/pull/7623
https://github.com/mattermost/mattermost-redux/pull/267
https://github.com/mattermost/mattermost-webapp/pull/152
http

[2017-10-13 15:05] jasonblais commented on #7607
Thanks all, I've submitted a PR to update our changelog and upgrade notice for v4.2: https://github.com/mattermost/docs/pull/1554

Sorry for the inconvenience, and thank you for bringing this to our attention.

[2017-10-13 15:27] jasonblais commented on #7493
Excellent, thanks @rickbatka!

[2017-10-13 16:20] lfbrock commented on #7600
Okay thanks @torgeirl a screenshot would be good to make sure I'm following.

I think searching users to see their profiles there could make sense, but I'm just trying to envision how searching for a group DM or user DM would work and what info would be shown in the search result.

[2017-10-13 16:41] jasonblais commented on #7613
@R-Wang97 Actually, just found out a core committer had this in progress and is about to submit a pull request. Sorry about that, would there be another Hacktoberfest ticket you'd like to work on?

Closing this ticket,

[2017-10-13 16:41] #7613 closed

[2017-10-13 16:54] tgaither commented on #6299
Ran into this problem, the problem occurs when Mattermost has to resample your image. I took my 240x240 gif and resampled it to the expected size of 128x128 and the problem went away. Not sure if resolution is the only contributing factor, but it was for me :)

[2017-10-13 17:10] R-Wang97 commented on #7613
I'll find something, no worries! I haven't started it yet anyways :)

[2017-10-13 19:01] vgvenkat commented on #7560
I am still setting up my dev environment with docker. I would like to work on this. Is there a channel I can ping back for help?

[2017-10-13 19:05] jasonblais commented on #7560
Thanks @vgvenkat!

The best channels would be [our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, or [our "Developers" community channel](https://pre-release.mattermost.com/core/channels/developers) for technical questions and advice.

[2017-10-13 19:05] jasonblais commented on #7560
I take it that you're planning to tackle this improvement?

[2017-10-13 19:06] jasonblais commented on #7560
I take it you're interested tackling this issue?

[2017-10-13 19:56] #7607 closed

[2017-10-13 19:56] vgvenkat commented on #6127
Hi @jasonblais I want to take this on.

(I had posted on [PLT-7774], but for starters, would start with a lesser difficulty issue)

[2017-10-13 20:15] esethna commented on #7561
#### RC2 is cut!

**Download Links**
Enterprise Edition: https://releases.mattermost.com/4.3.0-rc2/mattermost-4.3.0-rc2-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.3.0-rc2/mattermost-team-4.3.0-rc2-linux-amd64.tar.gz

**Test Server**
http://rctesting.reddogsofwar.com/

____

#### [Approved Bug Fixes for RC3](https://mattermost.atlassian.net/issues/?filter=14800)

1. ["(edite

[2017-10-13 20:16] jasonblais commented on #6127
Awesome, go for it @vgvenkat! Let us know if you have any questions, look forward to the pull request :)

[2017-10-13 20:16] esethna commented on #7561
#### RC3 is cut!

**Download Links**
Enterprise Edition: https://releases.mattermost.com/4.3.0-rc3/mattermost-4.3.0-rc3-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.3.0-rc3/mattermost-team-4.3.0-rc3-linux-amd64.tar.gz

**Test Server**
http://rctesting.reddogsofwar.com/

____

#### [Approved Bug Fixes for RC4](https://mattermost.atlassian.net/issues/?filter=14800)

1. [In comp

[2017-10-13 21:00] jasonblais opened #7627 "[Help Wanted] Add CTRL+SHIFT+L as a shortcut to set focus to center channel text box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-13 21:00] jasonblais commented on #5725
Reopened here: https://github.com/mattermost/mattermost-server/issues/7627

[2017-10-13 21:00] #5725 closed

[2017-10-13 22:41] charle692 commented on #7584
I'll start working on this.

[2017-10-13 22:50] jasonblais commented on #7584
Sweet, thanks @charle692!

[2017-10-13 23:32] esethna commented on #7561
#### RC4 is cut!

**Download Links**
Enterprise Edition: https://releases.mattermost.com/4.3.0-rc4/mattermost-4.3.0-rc4-linux-amd64.tar.gz
Team Edition: https://releases.mattermost.com/4.3.0-rc4/mattermost-team-4.3.0-rc4-linux-amd64.tar.gz

**Test Server**
http://rctesting.reddogsofwar.com/

____

[2017-10-13 23:33] esethna commented on #7561
Final has been cut from RC4 and will be available at https://about.mattermost.com/download/ on October 16.

[2017-10-13 23:33] #7561 closed

[2017-10-14 03:34] R-Wang97 commented on #6284
I can give this a try!

[2017-10-14 10:45] letsila commented on #5758
I could not reproduce the bug. I receive notification only when the safari window is not in focus. Have it been fixed in some way ?

[2017-10-14 13:03] cpanato commented on #5978
I have a fix for that @jasonblais
Will submit this on Monday. :) forgot my yubico key at work, whitout that I cant commit lol

but the same issue happen when you remove a user from team, it not update the count. My fix also fix this. There is another ticket for this? if yes I will submit two prs then :)

[2017-10-14 13:07] cpanato commented on #5978
ok both add and remove is working :)

[2017-10-14 13:18] herrbischoff opened #7628 "Settings are not saved, stuck in Preview Mode"
#### Summary
The email settings are not saved.

#### Steps to reproduce
Trying to set up the email settings on version 4.3.0.

#### Expected behavior
Installed Mattermost according to https://docs.mattermost.com/install/install-debian-88.html behind a Nginx web server, accessed the system console, set up email settings. Those were saved one time and were incorrect. Now I can change them, save them

[2017-10-14 19:16] jasonblais commented on #5978
@cpanato I couldn't find a separate ticket for removing a user, so feel free to submit the fixes in a single PR

[2017-10-15 01:29] d1ndra commented on #7580
@jasonblais from my understanding, to shift the focus back to the already open RHS one would have to invoke the `componentDidUpdate` in `create_comment.jsx`, however since the state is the same there is no updating. Performing a `this.forcedUpdate()` also only invokes the method in `create_post.jsx`. Any advice on how to proceed? Thanks

[2017-10-15 07:44] cpanato commented on #5978
sounds good @jasonblais thanks!

[2017-10-15 21:14] siddhanathan commented on #5072
FWIW, I hate this feature. Would be nice if I had the option to disable this.

[2017-10-16 07:44] lindy65 commented on #7628
Hi @herrbischoff,

Thanks for your feedback,

It seems that your ``config.json`` file may have a permissions issue.

Check that the ``config.json`` file is owned by the same user as the process that runs the Mattermost server. If not, change the owner to be the mattermost user and restart the server.

[2017-10-16 07:52] herrbischoff commented on #7628
The permissions are and always were correct. I could trace the problem back to the Nginx reverse proxy cache settings. Once I removed all of the below and restarted Nginx it worked without a problem:

[code]

[2017-10-16 07:52] #7628 closed

[2017-10-16 09:05] cpanato commented on #5978
PR https://github.com/mattermost/mattermost-webapp/pull/160

[2017-10-16 12:02] cpanato commented on #5586
PR: https://github.com/mattermost/mattermost-webapp/pull/161

[2017-10-16 12:55] jasonblais commented on #7580
Thanks @d1ndra, you got a response in the Developers channel: https://pre-release.mattermost.com/core/pl/6e18z4b9m7g4zxy8oztnwd9uce

Thanks for working on this issue!

[2017-10-16 12:56] jasonblais commented on #5758
Ah yes, thanks @letsila. Looks like this was resolved in a recent release.

Sorry about that..would there be another Hacktoberfest ticket you're interested helping with?

[2017-10-16 12:56] #5758 closed

[2017-10-16 12:57] hanyihong0324 commented on #7578
I'm working on installation of version 4.3.0 on a Ubuntu 16.04 VPS with the official doc. I met the same problem when I tried to set up a SMTP server with my hotmail.
Here is the log:

I think Microsoft Outlook uses OWA, too(Look the browser's address bar when log in to outlook)

[2017-10-16 13:51] narendravardi commented on #7582
@esethna, I was looking out for Java Repo and by mistake looked into this repo. I am not aware of Go and hence it would good if you could assign this to someone else.
Sorry! :)

[2017-10-16 14:14] jasonblais commented on #7582
@narendravardi Actually, this ticket won't involve any Go, and the code changes would be done in the https://github.com/mattermost/mattermost-webapp repository.

Let me know if you'd still be interested to give it a try?

[2017-10-16 14:22] narendravardi commented on #7582
Don't know ReactJS too :|

[2017-10-16 14:29] jasonblais commented on #7582
@narendravardi No worries! Thanks for your interest regardless! :)

If you know Javascript, we have a few help wanted tickets on our desktop repository: https://github.com/mattermost/desktop/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22

Otherwise, there are open Hacktoberfest issues from other projects that involve Java, which can be found here: https://github.com/search?l=Java&q=label%

[2017-10-16 14:51] #7559 closed

[2017-10-16 15:49] esethna commented on #7617
Hey @chclaus, just checking in, any questions on this one?

[2017-10-16 17:06] andyinno commented on #7578
Hi. Sorry! I completely forgot to reply. In my opinion in the documentation
is missing a way for change the authentication type.
The same setting is present in other programs. Without it it is impossible
to connect. For example in gitlab
https://docs.gitlab.com/omnibus/settings/smtp.html it is present

Il lun 16 ott 2017, 19:00 lindy65 <notifications@github.com> ha scritto:

[2017-10-16 17:26] letsila commented on #5758
Hi @jasonblais it's ok. There's actually this issue #6483 that I claimed but haven't yet received reply from.

[2017-10-16 17:28] sergiofbsilva opened #7632 "Inactive user can still login when sign-in method is gitlab"
#### Summary
Inactive user can still login when sign-in method is gitlab.
The user is active and valid in gitlab but was deactivated in mattermost.

#### Steps to reproduce
Mattermost Server 4.1.0
1. Desactivate a user with Sign-in Method: Gitlab
2. The user can still login and chat in channels and with people

#### Observed behavior (that appears unintentional)
An inactive user can login using gi

[2017-10-16 17:37] jasonblais commented on #6483
@letsila Sorry about missing your post! This is up for grabs, feel free to start working on it :)

[2017-10-16 17:49] chclaus commented on #7617
Hej @esethna it‘s in progress. I‘ve used the developers chan for info gathering ;)

But I think you have to wait a few more days until the feature is done.

[2017-10-16 19:31] esethna opened #7633 "[Help Wanted] [PLT-4341] Do Not Disturb and "/dnd" command"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-16 19:40] esethna commented on #5905
Hi all, FYI we've reopened this ticket with a modified design if anyone is interested in working on it: https://github.com/mattermost/mattermost-server/issues/7633

Thanks for your interest! @theCroh @samtuke @tyronx @sokratisg

[2017-10-16 20:35] tyronx commented on #5905
Yay! :-)

[2017-10-16 23:00] schmidt-fu commented on #5905
Most appreciated. Keep up the good work :-)

[2017-10-17 03:41] hanyihong0324 commented on #7578
@lindy65 Thank you for your reply. In fact the doc I read is exactly [that document](https://docs.mattermost.com/install/smtp-email-setup.html) you mentioned and I tried two of my hotmail account with the same error received.

[2017-10-17 06:58] lindy65 commented on #7578
Thanks @andyinno @hanyihong0324

I'll ask the team whether they can help troubleshoot further and post back here...

[2017-10-17 08:29] lindy65 commented on #7632
Hi @sergiofbsilva,

Thank you for your feedback!

Could you try upgrading to Mattermost [v4.3](https://about.mattermost.com/download/) which shipped yesterday to see whether the issue still reproduces for you?

I believe this was fixed in v4.2...

[2017-10-17 12:57] WBTMagnum opened #7638 "/invite_people: add support for username"
**Status quo**
As defined in [PLT-3131](https://mattermost.atlassian.net/browse/PLT-3131) the slash command `/invite_people` supports e-mail invites only.

**The problem**
If you use the `/invite_people` slash command with a user name, e.g. `/invite_people @username`, the following errors are reported:
* to the user: "Encountered an error sending email invite(s)"
* in the logs: "[2017/10/17 11:33:

[2017-10-17 14:22] towolf opened #7639 "Do not convert PNG to JPEG when generating preview"
#### Summary
Do not convert uploaded PNG to JPEG.

Screenshots and other files look really bad after conversion. Since we are running our own server we have plenty of space for all the PNGs our team can generate in a lifetime.

Seemingly Mattermost is using this site to convert the files:

![image](https://user-images.githubusercontent.com/345210/31670125-3ad11400-b357-11e7-9e5b-769a52a43a28.png)

[2017-10-17 14:24] hloeffler commented on #7639
or make it an option if we don’t want to change the current behaviour

[2017-10-17 18:06] jasonsmith425 commented on #7560
Glad to see this is potentially going to be picked up! My users were disappointed when this setting was removed from their menus. Some want to use nicknames and some want to use usernames, but I have to force them all to use display name because that's what most people prefer. I don't know why this is necessary/why it hurts to allow the user to configure this on their end.

[2017-10-17 22:38] moonmeister commented on #7490
I'm struggling on this one in a addition to not having a ton of time. My understanding of JS and React is limiting. I think I have most of the Go/Server side done and some of the webapp side done. If anyone wants to/can help let me know.

[2017-10-17 22:51] jasonblais commented on #7490
@moonmeister Are there particular areas you're looking for help?

[2017-10-18 03:50] etlweather opened #7648 "Export channel feature"
I use Mattermost for Network Operations chat room. After an incident, I would like to archive the Mattermost chat with the Postmortem in my Git repository.

It would be nice to be able to export the text. Right now I scroll and scroll and then copy/paste. The text is hard to read because the threaded replies mess up the output. It is also tedious.

My preference would be a nice Markdown table with

[2017-10-18 06:50] karlding opened #7649 "Pinned Posts button should not change positions when showing the sidebar element"
#### Summary

Clicking the Pinned Posts button and showing the sidebar elements results in icons in the top bar moving positions.

#### Steps to reproduce

I tried this on the latest nightly URL in the `README.md`.

1. Log into any channel with pinned posts (I used **Reception**)
2. Hover your mouse over the Pinned Posts icon
3. Click the icon and show the right sidebar
4. Move your mouse, and the

[2017-10-18 07:30] ThiefMaster opened #7651 "Emoji autocompletion should not shadow smileys"
#### Summary
If you type a "classic" smiley such as `:-D` you get autocompletions for anything matching `:*-d*:`

#### Steps to reproduce
Add a custom emoji named e.g. `:cern-dipole:`, then type `:-D` - if you now press ENTER you get autocompletion for the custom emoji instead of the grinning smiley.

#### Expected behavior
The autocomplete should either not show up at all or include both the smil

[2017-10-18 08:11] lindy65 commented on #7649
Hi @karlding,

Thanks for your feedback,

What seems to be happening is that the size of the `Search` box changes when the right-hand-side is open which affects the buttons to the left of the search box (viz, channel members and pinned posts)

I've created a ticket [here](https://mattermost.atlassian.net/browse/PLT-7928) to track.

[2017-10-18 08:16] lindy65 commented on #7648
Hi @etlweather,

Thanks for your feedback,

You can track the progress of this feature via this [ticket](https://mattermost.atlassian.net/browse/PLT-49).

We also have a [feature suggestion](https://mattermost.uservoice.com/forums/306457-general/suggestions/10907157-exporting-data) on our forum that you're welcome to add your vote to :)

[2017-10-18 08:21] lindy65 commented on #7639
Hi @towolf and @hloeffler

Thanks for your feedback!

Perhaps I'm not understanding your issue correctly but if I upload a .png file on our nightly build server running v4.3 it posts as a .png.  Even if I download it, it still remains a .png.

Can you share which version of Mattermost you're running as well as whether you're using the browser or desktop app?  If browser, which one?

[2017-10-18 08:26] towolf commented on #7639
When I download it I get the  PNG back too.

But the preview popup is a overly compressed JPG. And for clean screenshots this looks not so good.

![image](https://user-images.githubusercontent.com/345210/31708230-b40bb4e6-b3ee-11e7-873d-35c3accee76d.png)

Note that here, for example, GitHub does not do that. They keep PNG as PNG even when downsizing.

[2017-10-18 08:27] towolf commented on #7639
Amended title.

[2017-10-18 08:31] lindy65 commented on #7638
Hi @WBTMagnum,

Thank you for your feedback,

The `/invite_people` slash command is intended for inviting people to a team to which they do not belong, hence the use of an email address.

For adding people to a channel, you can use the `members` list at the top of each channel and then click on `manage members` > `add new members` or by using the `v` to the right of the channel name and selecting

[2017-10-18 09:09] lindy65 commented on #7440
Hi @cedeon @andreasoc @phantomofrussia

Just circling back to find out whether you have resolved your issue?

[2017-10-18 09:11] lindy65 commented on #7589
I'll close this issue off for now and perhaps @kaksikanaa can link back the feature suggestion once he's created it.

[2017-10-18 09:11] #7589 closed

[2017-10-18 09:11] lindy65 commented on #7597
Hi @fraziern,

Circling back on this to see whether your issue is resolved?

[2017-10-18 09:12] lindy65 commented on #7599
Hi @MMetze,

How did the upgrade to v4.3 go?  Is your issue resolved?

[2017-10-18 09:14] lindy65 commented on #7600
Hi @torgeirl,

Have you had a chance to get a screenshot to add to this issue for `lfbrock`?

[2017-10-18 09:16] lindy65 commented on #7602
I'll close this issue off for now and perhaps @torgeirl can post a link to the feature suggestion once it's created.

[2017-10-18 09:16] #7602 closed

[2017-10-18 09:37] lindy65 commented on #7639
Thanks for the additional feedback @towolf

I'll ask our UI designer to take a look at your issue and leave feedback here for you :)

[2017-10-18 11:28] sergiofbsilva commented on #7632
Yes it is still reproducible on the latest release.

[2017-10-18 11:45] fraziern commented on #7597
* node 8.0.0
* yarn 0.27.5
* Tried `make clean` in the webapp folder and all the errors are back

Now when I try to manually install I'm getting new errors...

[code]

[2017-10-18 12:26] sudheerDev commented on #6454
@jasonblais I can do this. Please remove the `up for grabs` label

[2017-10-18 12:28] sudheerDev commented on #6450
@jasonblais Yes I pushed the commit changes to the new repository will be adding test cases soon. You can remove `up for grabs` label for now.

[2017-10-18 12:34] MMetze commented on #7599
The Update worked like a charm.
And now the file extentions are properly forwarded to the mattermost windows client.
This case is resolved :)

Thank you very much!

[2017-10-18 13:21] hmhealey commented on #7651
Interesting. We fixed this for shorter smileys such as :p by not triggering the autocomplete until you've typed a colon plus 2 more letters, but that doesn't work in this case. I don't think we want to just increase that number since that'll make it harder to use the autocomplete when you actually want it.

I've filed a Jira ticket ([link](https://mattermost.atlassian.net/browse/PLT-7930)) to look

[2017-10-18 13:30] mkraft commented on #7337
I'll take this one.

[2017-10-18 13:35] jasonblais commented on #7337
Awesome, thanks @mkraft!

[2017-10-18 13:52] etlweather commented on #7648
Thank you. I added my votes.

[2017-10-18 14:30] mcarpenterjr opened #7652 "Slash command fails... On Immediate Retry Succeeds!"
#### Summary
Slash command fails then succeeds on retry.

#### Steps to reproduce
Using mattermost 4.3

1. Create a slash command.
2. Run said slash command.

#### Expected behavior
Slash command should run on first execution and complete as expected. In this particular case should return some inventory data or at the very least some error from the server. Initially running the slash command never

[2017-10-18 14:37] jasonblais commented on #7652
@mcarpenterjr Is there anything in the server logs (System Console > Logs) or in the [JavaScript console](https://webmasters.stackexchange.com/questions/8525/how-do-i-open-the-javascript-console-in-different-browsers)?

Also, are you executing the command in a public channel, private channel or in a direct message?

[2017-10-18 14:46] mcarpenterjr commented on #7652
From the log -
[code]

- Haven't checked the console.

- From inside a public channel.

[2017-10-18 14:47] mcarpenterjr commented on #7652
Looks like it times out...?

[2017-10-18 16:08] rcny opened #7654 "4.3.0 always attempts to upgrade the schema"
#### Summary
Upon each start, Mattermost 4.3.0 always tries upgrade the database schema version to 4.4.0.

#### Steps to reproduce
Start Mattermost on version 4.3.0.

#### Expected behavior
Mattermost makes required changes to database or performs necessary checks about schema's version.

#### Observed behavior (that appears unintentional)
While loading, Mattermost logs an attempt to upgrade the d

[2017-10-18 16:22] iwm911 commented on #7654
Same here, only when trying to do "platform ldap sync" i get this
[code]

[2017-10-18 17:14] asaadmahmood commented on #7639
@towolf I understand, and this seems like a valid concern, I'll queue this for discussion. We can also think about adding a conditional to check and convert only if the file is quite large instead of providing an option. As with the current behaviour, I suppose even quite small images get pixelated.

[2017-10-18 17:51] lindy65 commented on #7648
Thanks @etlweather,

I'll close this issue off here then and we can track via the feature suggestion and ticket linked above.

[2017-10-18 17:51] #7648 closed

[2017-10-18 17:52] lindy65 commented on #7599
Good to hear @MMetze :)

I'll close this issue off then.

[2017-10-18 17:52] #7599 closed

[2017-10-18 17:55] lindy65 commented on #7597
Thanks @fraziern,

I'll ask one of our devs if they can help you troubleshoot further.

[2017-10-18 18:00] lindy65 commented on #7632
Thanks @sergiofbsilva,

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7932) to track the issue.

[2017-10-18 18:51] WBTMagnum commented on #7638
Thank's for the clarification. We totally missed that. Sorry for the noise.

[2017-10-18 18:51] #7638 closed

[2017-10-18 21:02] chclaus commented on #7617
Hi @esethna here is a short status report: I've finished the slash command. I think I'll challenge the unit test tomorrow.

The UI extensions could take... hm... let's say a week. If you're fine with it, I will try to solve it. Otherwise I could send the PR after I've finished the unit test so that another guy can finish the rest.

[2017-10-18 21:14] esethna commented on #7617
@chclaus, awesome! That timeline is totally fine, but just so you're aware, cut-off for submitting new features for the November release is October 26, so if you'd like this in the next release the PRs have to be submitted by that date. Really looking forward to this feature!

[2017-10-18 21:21] chclaus commented on #7617
Ah. Important Info. Thanks 😃

[2017-10-19 08:27] lindy65 commented on #7601
@sharcslife,

Any feedback for `hmhealey` so we can discuss your use case?

[2017-10-19 09:05] grundleborg commented on #7654
You can safely ignore the warning about the schema update - it is a misleading message that has no effect.

[2017-10-19 09:05] #7654 closed

[2017-10-19 09:30] ThiefMaster opened #7657 "Don't linkify any `foo:bar` strings"
#### Summary
Any `foo:bar` string is linkified

#### Steps to reproduce
Write `foo:bar` in a message

#### Expected behavior
Only common protocols (http, https, possibly other well-known ones such as ftp, ed2k, etc. too) should be linkified.

#### Observed behavior (that appears unintentional)
`foo:bar` is converted to a link.

#### Possible fixes
Use a protocol whitelist - ideally configurable by

[2017-10-19 11:21] fraziern commented on #7597
OK well I tried a `make nuke` and then a reinstall and now it seems to be working. 😳

[2017-10-19 12:09] #7234 closed

[2017-10-19 12:09] #7235 closed

[2017-10-19 12:12] jasonblais opened #7658 "[Help Wanted] Migrate change_url_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-19 12:12] jasonblais opened #7659 "[Help Wanted] Migrate channel_notifications_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-19 12:13] jasonblais opened #7660 "[Help Wanted] Migrate delete_post_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-19 12:13] jasonblais commented on #7233
Reopened at https://github.com/mattermost/mattermost-server/issues/7660

[2017-10-19 12:13] #7233 closed

[2017-10-19 12:13] jasonblais commented on #7230
Reopened at https://github.com/mattermost/mattermost-server/issues/7659

[2017-10-19 12:13] #7230 closed

[2017-10-19 12:13] jasonblais commented on #7229
Reopened at https://github.com/mattermost/mattermost-server/issues/7658

[2017-10-19 12:13] #7229 closed

[2017-10-19 12:14] jespino commented on #7335
I think this issue is ready to be closed (the 2 PR are merged) :)

[2017-10-19 12:20] jasonblais commented on #7335
Indeed. Thanks @jespino! :)

[2017-10-19 12:20] #7335 closed

[2017-10-19 12:39] sharcslife commented on #7601
@lindy65 @hmhealey
Thanks for your explanations.
I understand where you're coming from, so I guess there won't be a way to fix it since it's intended that way.

Our users here like to pin folders to the top of listings with a prefixed underscore, links look something like this:  X:\Data\Files\Software\_Things\Stuff

I guess it's either change that behaviour or accept the (rather small) issue it le

[2017-10-19 12:46] MusikPolice commented on #7652
Yup:
`Command with a trigger of 'binsearch' failed [details: Post http://linux3/mc-dev/inventory-request-tool/_src/slash-commands.php?slash: dial tcp: i/o timeout`

Can you be sure that the server that you're sending the command to is behaving correctly? The HTTP client that Mattermost uses to resolve custom slash commands has a connection timeout of 3 seconds, and a request timeout of 30 seconds,

[2017-10-19 12:58] jasonblais commented on #7652
I think our system doesn't handle timed out or failed slash commands properly in all cases. We have a ticket for it here: https://mattermost.atlassian.net/browse/PLT-5412

Wondering if someone in the community would be interested helping with it? A contribution would count towards Hacktoberfest: https://hacktoberfest.digitalocean.com/

//cc @cpanato

[2017-10-19 13:13] MusikPolice commented on #7601
@sharcslife [I don't see any problems](https://pre-release.mattermost.com/core/pl/ob9fdrdkffga8b3rujkxatudyc) with pasting the example path that you gave. It renders just fine. Do your users often paste paths that contain directories whose names start with an underscore character?

[2017-10-19 13:53] sharcslife commented on #7601
huh, but you confirmed the problem in your posting a days ago.
![1](https://user-images.githubusercontent.com/3924964/31774272-8fd76230-b4e5-11e7-84db-75a921de1de9.png)
![2](https://user-images.githubusercontent.com/3924964/31774273-8fef9c6a-b4e5-11e7-9d11-b2a12a26fa2d.png)

[2017-10-19 14:09] MusikPolice commented on #7601
To be clear, if you paste the string `X:\Data\Files\_Things\Stuff`, it will render as `X:\Data\Files_Things\Stuff` because the combination of the backslash and the underscore is an escape sequence. However, if you paste `X:\Data\Files\Software_Things\Stuff`, everything will render as typed, since there is no backslash underscore combination.

[2017-10-19 15:12] hmhealey commented on #7601
Ah, so it's Windows file paths again. I'd lean towards this behaviour being fine since it matches GitHub (ie. `X:\Data\Files\_Things\Stuff` renders as X:\Data\Files\_Things\Stuff), and it only happens when one of the folder names starts with an underscore. When we added a special case similar to this in the past, it was because `\\localhost\share` (\\localhost\share on GitHub) is how any link to a

[2017-10-19 15:39] asaadmahmood commented on #7639
@towolf Also, I just checked, I guess we do convert them into jpgs for the thumbnails, but for the previews, I still get a png format.
And I'm not talking after a download, just talking about even if I download the image that's shown by inspecting element.

[2017-10-19 15:48] towolf commented on #7639
Yeah, that is even worse.

It has a `.png` filename extensions, but it contains JPEG:

[code]

[2017-10-19 15:52] asaadmahmood commented on #7639
We've decided to keep pngs pngs. Even if we reduce the size.

[2017-10-19 16:15] esethna opened #7665 "[Help Wanted] [PLT-3826] (Proposed Help Wanted) Cannot type backtick on some non-English keyboards"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-19 18:40] lindy65 commented on #7597
Good news!  Thanks @fraziern :)

I'll close this issue off as resolved then...

[2017-10-19 18:40] #7597 closed

[2017-10-19 18:53] lindy65 commented on #7639
We can track this issue via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7936) so I will close it off here for now.

[2017-10-19 18:53] #7639 closed

[2017-10-19 20:56] esethna commented on #7633
Sweet, thanks @cpanato!

[2017-10-20 02:18] lpan commented on #7660
Hey, I am interested in working on this!

[2017-10-20 05:05] willruss1 commented on #7440
I'm having the same issue. Web UI, desktop app, and even mobile web work fine on a newly created MM instance (based on the production-docker configuration), all over SSL with no discernible errors.

What doesn't work, is the Android app. All I or anyone gets is "Cannot connect to the server. Please check your server URL and internet connection" though the exact same URL works just fine for the web

[2017-10-20 07:10] lindy65 commented on #7651
Thanks @hmhealey @ThiefMaster

I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-10-20 07:10] #7651 closed

[2017-10-20 07:11] lindy65 commented on #7649
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-10-20 07:11] #7649 closed

[2017-10-20 07:11] lindy65 commented on #7632
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-10-20 07:11] #7632 closed

[2017-10-20 07:13] lindy65 commented on #7601
Thanks @sharcslife @MusikPolice @hmhealey

I'll close this issue off here for now and we can revisit in future if needs be.

[2017-10-20 07:13] #7601 closed

[2017-10-20 07:46] karlding opened #7670 "Custom emojis containing someone's username trigger mention notifications"
#### Summary

Emojis also trigger mention notifications.

#### Steps to reproduce

1. Create a custom emoji (either a username or a word that is Person A's list of words that trigger mention notifications). For example, Person A's username is `someusername`, so we create the custom emoji `someusername`
2. Have Person B use the custom emoji (`:someusername:`)

Repeat with a different emoji (say `:t

[2017-10-20 08:18] bmtheo opened #7671 "Message too long makes MM freeze"
#### Summary
Mattermost freezes when the message is too long

#### Steps to reproduce
Type a message too long (over 4000 characters) then press enter
Mattermost freezes

#### Expected behavior
Nothing or any animation to show the message "Your message is too long. Character count: 10466/4000" even more (flashing, red, anything...)
But not freezing

#### Observed behavior (that appears unintentiona

[2017-10-20 08:23] bmtheo commented on #7671
Sorry this issue is posted in the wrong place, it can be closed.

The actual issue is here : https://github.com/mattermost/desktop/issues/631

[2017-10-20 09:57] enahum commented on #7440
@willruss1 can you share the url of your Mattermost instance? Normally this is a symptom of a problem with SSL maybe an intermediate certificate.

[2017-10-20 10:01] sudheerDev commented on #7238
@jasonblais I will give this a shot.

[2017-10-20 10:11] willruss1 commented on #7440
@enahum, sure can. https://chat.digi-merc.org, though I found the problem based on your suggestion.

Turns out the cert chain was in the wrong order. That's what I get for building things hastily at 2am, I guess. A quick check on ssl-decoder.org pointed out the issue, I should have caught it before. Odd that no browser complained about that, honestly.

Sorry to have bothered you, but maybe this wi

[2017-10-20 11:17] enahum commented on #7440
@willruss1 I can confirm that I was able to connect to your server using the android app

[2017-10-20 12:05] #6279 closed

[2017-10-20 12:06] #6277 closed

[2017-10-20 12:06] #6450 closed

[2017-10-20 12:06] #6454 closed

[2017-10-20 12:10] jasonblais commented on #7238
Sweet, thanks @sudheerDev!

[2017-10-20 12:10] #7231 closed

[2017-10-20 12:12] jasonblais commented on #7660
Awesome, thanks @lpan!

[2017-10-20 12:12] #7542 closed

[2017-10-20 12:29] mcarpenterjr commented on #7652
@MusikPolice
[code]
TIL:
https://stackoverflow.com/questions/18215389/how-do-i-measure-request-and-response-times-at-once-using-curl

I am a little bummer first connection after idle takes > 5 seconds, but I am extremely impressed with this nifty method for getting that measurement from that SO answer. I guess I'll have to take a peek at our DNS controller. Any thoughts?

[2017-10-20 12:31] jasonblais opened #7672 "[Help Wanted] Migrate create_comment.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:32] jasonblais opened #7673 "[Help Wanted] Migrate post_deleted_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:35] jasonblais opened #7674 "[Help Wanted] Migrate pdf_preview.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:36] jasonblais opened #7675 "[Help Wanted] Migrate delete_modal_trigger.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:37] jasonblais opened #7676 "[Help Wanted] Migrate removed_from_channel_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:38] jasonblais opened #7677 "[Help Wanted] Migrate rename_channel_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:38] jasonblais opened #7678 "[Help Wanted] Migrate audio_video_preview.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:39] jasonblais opened #7679 "[Help Wanted] Migrate get_link_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:40] jasonblais opened #7680 "[Help Wanted] Migrate get_post_link_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:40] jasonblais opened #7681 "[Help Wanted] Migrate get_public_link_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:41] jasonblais opened #7682 "[Help Wanted] Migrate get_team_invite_link_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:42] jasonblais opened #7683 "[Help Wanted] Migrate invite_member_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:42] jasonblais opened #7684 "[Help Wanted] Migrate view_image.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:43] jasonblais opened #7685 "[Help Wanted] Migrate view_image_popover_bar.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:44] jasonblais opened #7686 "[Help Wanted] Migrate unread_channel_indicator.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 12:44] jasonblais opened #7687 "[Help Wanted] Migrate status_icon.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-10-20 13:04] cpanato commented on #7514
PR: https://github.com/mattermost/mattermost-server/pull/7688

[2017-10-20 13:09] MusikPolice commented on #7652
I'm afraid that I'm no expert when it comes to DNS controllers. If you need any more Mattermost-specific help though, feel free to reach out.

[2017-10-20 13:09] #7652 closed

[2017-10-20 13:15] #7671 closed

[2017-10-20 14:23] mcarpenterjr commented on #7652
Thanks man, You know much about Slash Commands and Ephemeral responses using message attachments? [Stack Overflow Question](https://stackoverflow.com/q/46851066/5063323)

[2017-10-20 16:33] #6557 closed

[2017-10-20 16:33] #6975 closed

[2017-10-20 22:03] spiffcp commented on #7687
@jasonblais I'm interested in taking a stab at this tonight. I just joined the community channel and will follow up if anything seem unclear. Thanks for providing all the detailed instructions!

[2017-10-20 22:16] spiffcp commented on #7687
After forking the web app, setting the upstream, fetching, and running initial tests, I received the following output:

![screen shot 2017-10-20 at 6 14 23 pm](https://user-images.githubusercontent.com/12717226/31843699-925eacba-b5c2-11e7-9a79-2b8243a009e6.png)

If the project is in a state of flux as far as a passing build I can still complete the issue as described. I just wanted to confirm that

[2017-10-20 22:45] jasonblais commented on #7687
@spiffcp Yeah, some of the tests on the web app are failing, we have an in progress ticket to fix them: https://mattermost.atlassian.net/browse/PLT-7814

So you can safely ignore those for now -- we'll still expect tests to pass for `status_icon.jsx` though once submitted :)

And thanks for your interest!

[2017-10-21 02:27] moonmeister commented on #7490
I have added some data parsing for the url and binding port/address on the go side but I need this data available in react. @hmhealey recommended using a redux store but I have 0 understanding of redux and limited React experience. So, I probably most need help in making that data available so that when building urls in JS/React I have the path data available. Thanks.

[2017-10-21 02:45] lpan commented on #7660
I have to study for midterms this weekend :cry: will start working on it next Thursday (October 26) :stuck_out_tongue:

[2017-10-21 03:20] jasonblais commented on #7660
Hey @lpan, totally understand! Fine to start on this next week.

Good luck with your midterms! :)

[2017-10-21 15:36] ErikXXon opened #7693 "Mattermost and Discourse fails - return 500 error"
I have set up Mattermost notifications using the "discourse-chat-integration" plugin with incoming webhook and slashcommands.

Have Mattermost 4.3.0 installed with PostgreSQL on VPS with Ubuntu 16.10

**I got this error with newer forumposts - seen on my Mattermost log:**
[2017/10/21 13:58:49 CEST] [EROR] /hooks/xu1sufehopdr8mwmfecq7uqfaa:CreateWebhookPost code=500 rid=tsufqba5e38uzfb7qfb5754hew u

[2017-10-21 16:11] R-Wang97 commented on #7673
I can take this!

[2017-10-22 01:18] ErikXXon commented on #7693
It seems to be my server that caused the problem, i reconfigured the Nginx and proxy.

[2017-10-22 01:18] #7693 closed

[2017-10-22 16:47] cpanato commented on #7618
I'm trying this one

[2017-10-22 19:15] jasonblais commented on #7490
@moonmeister Would you be interested working on the Redux store? If so, I can ping a developer to help give you some direction.

If you'd prefer someone else to continue, an option would be to submit PRs with `WIP` in the title so others know it is a work-in-progress, and I can take a look if someone in the community was interested continuing from them.

[2017-10-22 21:15] santos22 commented on #7665
Can you confirm that keyboard layout 142 is the Italian keyboard?
If so, I am pressing the altgr-ù but I get a ¶ character. I do however get a backtick ` if I press altgr-9

I am using a MacBook btw :smile:

[2017-10-22 23:45] santos22 commented on #7616
I would like to take this one 👍

[2017-10-23 00:04] moonmeister commented on #7490
Yeah, I'm happy to try.

[2017-10-23 00:41] esethna commented on #7616
Awesome @santos22!

[2017-10-23 07:00] lindy65 commented on #7657
Hi @ThiefMaster,

Thanks for your feedback,

Our devs mentioned that this is intentional as some links don't need the slashes like mailto:test@example.com or tel:5551234557.

Is there a specific use case you're needing?

[2017-10-23 07:38] lindy65 commented on #7670
Thanks for your report @karlding,

I've reproduced this on the nightly build server and have created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7950) to track.

[2017-10-23 09:08] saturninoabril commented on #7670
@lindy65 I guess this is similar issue on this ticket https://mattermost.atlassian.net/browse/PLT-7701 and could be solved by this PR https://github.com/mattermost/mattermost-server/pull/7663.

[2017-10-23 09:22] ThiefMaster commented on #7657
My usecase is simply to not get linkification for *random strings*. For example, I noticed it when I copied a status message containing `status:failed` which is clearly nothing that should be linkified.

Using a whitelist would avoid such cases while still linkifying anything that makes sense (useful defaults with common protocols like http, https, ftp, tel, mailto - and whatever the admin  wants

[2017-10-23 09:49] lindy65 commented on #7670
Thanks @saturninoabril !

I didn't see that ticket when I looked earlier!

I've closed PLT-7950 as a duplicate...

[2017-10-23 12:10] cpanato commented on #7618
PRs:
Server: https://github.com/mattermost/mattermost-server/pull/7696
WebApp: https://github.com/mattermost/mattermost-webapp/pull/186
Redux: https://github.com/mattermost/mattermost-redux/pull/282

[2017-10-23 12:21] jasonblais commented on #7490
That's great! @moonmeister posted a question here: https://pre-release.mattermost.com/core/pl/yjd78b6jibbdipf3ciy6fubtcr

[2017-10-23 12:33] jasonblais commented on #7665
Yeah I think it's this keyboard layout (on Windows though)

![image](https://user-images.githubusercontent.com/13119842/31889138-b8ef835c-b7cc-11e7-9c50-52a156e45a6a.png)

Which one is altgr-ù and altgr-9 on MacBook?

[2017-10-23 15:32] coreyhulen commented on #6127
This is back up from grabs.

[2017-10-23 15:33] coreyhulen commented on #7560
This is back up for grabs.

[2017-10-23 15:51] santos22 commented on #7665
I believe the Option key is the AltGr key for Mac and ù is the **|\** right underneath delete

[2017-10-23 20:57] CometKim commented on #7186
I just started working on this.

[2017-10-23 21:12] jasonblais commented on #7186
Awesome, thanks @CometKim!

[2017-10-23 21:13] #7558 closed

[2017-10-23 23:26] Synchro opened #7700 ""Invalid or missing user in request body" error when saving notification prefs"
#### Summary
"Invalid or missing user in request body" error when saving notification prefs. Using Gitlab CE 10.0.4 with embedded Mattermost 4.2.0 / postgres.

#### Steps to reproduce
* Go to account settings (either web or desktop client)
* Select notifications -> email notifications
* Click "save" button

#### Expected behavior
Notification settings are saved

#### Observed behavior (that appear

[2017-10-24 00:51] CometKim commented on #7186
@jasonblais Here is PR: https://github.com/mattermost/mattermost-webapp/pull/189

[2017-10-24 07:02] yth0625 commented on #7627
Hello, I can take this. :smile:

[2017-10-24 08:56] lindy65 commented on #7700
Hi @Synchro,

Thank you for the report,

We have this [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7929) to track the issue.

[2017-10-24 11:03] hloeffler opened #7703 "+:emoji: reactions are added to (hidden) system messages"
#### Summary
 using: `+:emoji:` directly after a system message, will add the reaction to the system message, even if they are hidden (disabled via the options).

#### Steps to reproduce
* hide system messages
* wait for a system message (join/leave)
* use `+:emoji:`

#### Expected behaviour
Emoji reaction applies to last visible message

#### Observed behaviour (that appears unintentional)
I see

[2017-10-24 12:04] jasonblais commented on #7627
Awesome, thanks @yth0625!

[2017-10-24 16:15] hmhealey commented on #7657
I think it's fine to be permissive as we are right now since it allows for organizations using whatever software they want. I know at least one customer is using some internal software that uses a custom protocol, so I agree that a whitelist would be the right way to go with this.

Would you mind filing a suggestion on [our Feature Ideas forum](https://mattermost.uservoice.com/forums/306457-genera

[2017-10-24 16:17] ThiefMaster commented on #7657
https://mattermost.uservoice.com/forums/306457-general/suggestions/32004130-add-a-whitelist-which-protocols-should-be-linkifie

[2017-10-24 16:18] hmhealey commented on #7657
Awesome, thanks

[2017-10-24 16:35] MattBred commented on #7223
I also experienced this today. Ubuntu 16.04.
This is the install guide I followed: https://docs.mattermost.com/install/install-ubuntu-1604.html

Syslog:
[code]

And while MySQL restarted, Mattermost did not.

The `/lib/systemd/system/mattermost.service`

[code]

[2017-10-24 21:50] SmartHoneybee commented on #7054
Compiling it on [travis-ci.org](https://travis-ci.org/SmartHoneybee/ubiquitous-memory/) might work too:
[code]
Want to act as guniea pig for something unofficial, untested and eventually unsafe? Please click [here](https://github.com/SmartHoneybee/ubiquitous-memory/releases).
Pull requests and forks welcome.

[2017-10-25 01:11] tkbky commented on #7686
@jasonblais I could work on this, and I've joined the community channel.

[2017-10-25 03:32] jasonblais commented on #7686
Awesome, thanks @tkbky!

[2017-10-25 05:38] Hyeongmin-Kwon commented on #6127
I can take this :smiley:

[2017-10-25 05:51] jasonblais opened #7712 "Websocket: origin not allowed error"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Bug report in one concise sentence

#### Steps to reprodu

[2017-10-25 05:51] jasonblais commented on #7712
Please ignore, needed for a demo

[2017-10-25 06:53] CometKim commented on #7685
I just started working on this.

[2017-10-25 07:18] lindy65 commented on #7657
Thanks @ThiefMaster and @hmhealey

I'll close this issue off for now and we can track via the feature suggestion linked above.

[2017-10-25 07:18] #7657 closed

[2017-10-25 07:42] lindy65 commented on #7703
Hi @hloeffler,

Thank you for your report!

We had [this ticket](https://mattermost.atlassian.net/browse/PLT-6220) which was fixed in v3.8.0 in April so emoji reactions should not be posted to system messages whether they're hidden or not.

That being said, I have reproduced your issue on our nightly build server running of master and have created [this ticket](https://mattermost.atlassian.net/bro

[2017-10-25 08:24] lindy65 commented on #7440
Thanks @willruss1, pleased your issue is resolved.

I'll close off this issue for now then.

[2017-10-25 08:24] #7440 closed

[2017-10-25 08:26] lindy65 commented on #7600
Hi @torgeirl, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-10-25 08:26] #7600 closed

[2017-10-25 08:27] lindy65 commented on #7670
I'll close this issue off here for now and we can track via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7701)

[2017-10-25 08:27] #7670 closed

[2017-10-25 11:26] bspinner opened #7715 "Syntax Highlighting C# is broken for classes with generics"
#### Summary

If you use generic classes in code snippets, the c# syntax highlighting doesn't highlight anything.

#### Steps to reproduce

Paste this into Mattermost chat (remove leading backslashes!):

[code]

#### Expected behavior

Code gets correctly highlighted.

#### Observed behavior (that appears unintentional)

No hightlighting at all is performed.

edit: removed bug report help text

[2017-10-25 13:00] jasonblais commented on #6127
Awesome, thanks @Hyeongmin-Kwon!

[2017-10-25 13:10] jasonblais commented on #7578
@andyinno @hanyihong0324 Can you share the `EmailSettings` from your GitLab config file? Attached are the recommended settings for GitLab Mattermost when TLS isn't enabled. https://docs.gitlab.com/omnibus/gitlab-mattermost/#setting-up-smtp-for-gitlab-mattermost

[code]

You can of course obfuscate all confidential information. Just want to see how the SMTP settings are configured.

[2017-10-25 13:47] hmhealey commented on #7578
I think the issue is that [we only support PLAIN authentication](https://github.com/mattermost/mattermost-server/blob/master/utils/mail.go#L89), and the Outlook Web App doesn't appear to support that. We'll need to add handling for one of the other login methods like LOGIN.  It won't be trivial since Go doesn't support it by default, but someone posted a [Gist](https://gist.github.com/andelf/51187

[2017-10-25 15:06] jasonblais commented on #7715
@bspinner Can you help share
 - Mattermost version (from Main Menu > About Mattermost > Version)
 - Operating system and browser this issue reproduces
 - Screenshot of what you see

Tested on Windows 10, Chrome, Mattermost v4.3 and the higlighting seems to be okay

![image](https://user-images.githubusercontent.com/13119842/32006340-97c72eba-b974-11e7-87f6-bfdb4a3dd1e8.png)

[2017-10-25 15:32] #7712 closed

[2017-10-25 15:33] jasonblais opened #7717 "[EROR] websocket connect err: websocket: origin not allowed"
Another demo issue, please ignore

[2017-10-25 16:00] CometKim commented on #7684
I started working on this.

[2017-10-25 16:04] esethna opened #7718 "Don't send notifications or mark channel unread if a post is made to a comment thread that's open in right hand sidebar, and Mattermost is in focus"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-25 16:05] esethna commented on #7541
Re-opened here: https://github.com/mattermost/mattermost-server/issues/7718

[2017-10-25 16:05] #7541 closed

[2017-10-25 16:23] jasonblais opened #7719 "Failed to upgrade websocket connection [details: ]"
Another demo issue, please ignore.

[2017-10-25 16:23] #7717 closed

[2017-10-25 16:45] #7719 closed

[2017-10-25 18:27] jasonblais commented on #7583
Hey @fraziern, let me know if you need any help with the webapp portion of the PR?

[2017-10-25 19:07] fraziern commented on #7583
Will do. The menu component structure has been a lot to grok and just identified an issue with the redux piece (fixed today in a PR). Getting there...

[2017-10-25 20:00] esethna opened #7721 "[Help Wanted] [PLT-7983] Any activity on the computer should maintain online status for Desktop App"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-25 20:33] CometKim commented on #7683
I want to take this one.

[2017-10-26 00:01] tkbky commented on #7682
I'll work on this one.

[2017-10-26 07:59] santos22 commented on #4932
I can take this one! Should we only be accounting for the case where a `/shrug` command is entered? I don't believe many users will be sending **\\,\\\,\\\\, etc.** messages to one another so the way we escape the `/shrug` command might affect how these messages are received

[2017-10-26 08:01] lindy65 commented on #7703
I'll close this issue off here for now and we can track via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7974)

[2017-10-26 08:01] #7703 closed

[2017-10-26 08:01] lindy65 commented on #7700
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2017-10-26 08:01] #7700 closed

[2017-10-26 12:06] jasonblais commented on #4932
@santos22 On Windows at least you can file paths that start with `\` or `\\` if the user truncates the beginning.

[2017-10-26 16:13] realrolfje commented on #6320
I'll further "distract the community" with a workaround which enables them to protect their channels in Mattermost: https://rolfje.wordpress.com/2017/10/26/mattermost-delete-channel-fixed/

I hope this solves at least part of the problem for users who are as puzzled as I am over this thought process.

[2017-10-26 18:12] bspinner commented on #7715
@jasonblais Thanks for your fast response.

In your screenshot there isn't any *syntax* highlighting applied at all?! :)
Maybe I haven't been precise enough.

This is what it looks like **without** the generic `<TBroken>`, syntax highlighting intact.
![grafik](https://user-images.githubusercontent.com/4580497/32069428-6c76827c-ba89-11e7-887d-ba1300c563b7.png)

In your screenshot you can see, what

[2017-10-26 20:28] galgalesh commented on #4554
The desktop app is being snapped by snapcrafters here: https://github.com/snapcrafters/mattermost-desktop/

[2017-10-27 00:04] bbodenmiller commented on #885
@justyns any progress getting this added?

[2017-10-27 09:26] tkbky commented on #7681
I could work on this.

[2017-10-27 10:17] joernhees commented on #4932
yepp, i also think that just handling `/shrug` is probably not cutting it...

[2017-10-27 12:57] jasonblais commented on #7715
Sorry, I'm not sure what I was thinking when I said the highlighting was working on my screenshot.

I can reproduce and created a ticket here: https://mattermost.atlassian.net/browse/PLT-7996

Would you or anyone in the community be interested helping with a fix?

[2017-10-27 14:16] hmhealey commented on #7715
I commented on the Jira ticket as well, but it looks like it's [a known issue with highlight.j](https://github.com/isagalaev/highlight.js/issues/1424). We could investigate either using a fork of that library or replacing it

[2017-10-29 12:01] yeoji commented on #7615
Hi, I gave this a go and have opened a PR :)

[2017-10-29 13:25] sokoow opened #7738 "Simplify build process"
#### Summary
Can you guys simplify the build process a bit or produce a viable build tutorial. It's a bit of a nightmare at the moment and the entry point to contributing to mattermost is very high.

#### Steps to reproduce
Try to build mattermost and contribute to this repo

[2017-10-29 19:02] ccbrown commented on #7738
Sorry if you're having trouble. First and foremost, we'd love to help you out either here or on our [pre-release server](https://pre-release.mattermost.com) server if needed.

In addition to getting you up and running up and running faster, communicating the specific steps or points that you're finding difficult would go a long way towards helping us improve the documentation. Unfortunately, I thi

[2017-10-30 02:14] h2oloopan commented on #7680
I will work on this one.

[2017-10-30 02:23] h2oloopan commented on #7721
I will work on this.

[2017-10-30 06:15] Roy-Orbison commented on #5136
So you guys are just leaving it as as insecure by default for Team Edition?

[2017-10-30 08:18] larsl opened #7739 "OSX Desktop App stuck in full screen"
#### Summary
When using Mattermost in OSX full screen mode, quitting the app, and then restarting it, one can not leave full screen mode because the necessary buttons are missing

#### Steps to reproduce
Mattermost Team edition 4.1 on OSX 10.13.
Bring the app to full screen (green button), quit and restart, try to get it into windowed mode again.

#### Expected behavior
A bar like this one should

[2017-10-30 09:16] charles-passille-smartnets commented on #7654
@grundleborg this is actually crashing my mattermost service on centos7. (upgrading from 4.2 -> 4.3)
It runs fine running it directly from /opt/mattermost/bin/platform but the service wont run

[2017-10-30 12:09] jasonblais commented on #7739
Agree, we have a ticket for it here on the desktop app repo: https://github.com/mattermost/desktop/issues/538

I believe the shortcut combination for toggling full-screen mode on Mac is CTRL+CMD+F. Let me know if that helps resolve it?

[2017-10-30 13:06] cpfeiffer opened #7740 "Mattermost emails should set Auto-Submitted header"
#### Summary
Auto-generated emails should contain appropriate headers so that clients can handle the mails properly.

#### Steps to reproduce
Check the headers of a mattermost-generated email. They lack the `Auto-Submitted` and `Precedence` headers.

#### Expected behavior
Some MUAs automatically act on incoming emails, e.g. out-of-office agents. They try hard to send out-of-office mails only to i

[2017-10-31 00:51] tkbky commented on #7679
I can work on this one.

[2017-10-31 02:30] yth0625 commented on #7674
Hi, I can take this!

[2017-10-31 06:05] deveshjadon98 commented on #7678
I will work on this.

[2017-10-31 10:46] ledroide commented on #1899
Same issue. Solved setting "Site URL" in general configuration options

[2017-10-31 13:55] jasonblais commented on #7678
Awesome, thanks @deveshjadon98!

[2017-10-31 13:56] jasonblais commented on #7674
Awesome, thanks @yth0625!

[2017-10-31 13:56] jasonblais commented on #7679
Awesome thanks @tkbky!

[2017-10-31 16:28] esethna opened #7751 "[Help Wanted] [PLT-8003] CTRL+/ should toggle keyboard shortcuts dialog"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-10-31 19:36] esethna commented on #7721
Awesome, thanks @h2oloopan!

[2017-11-01 04:42] avasconcelos114 commented on #7677
I'm interested on working on this one

[2017-11-01 05:10] jasonblais commented on #7677
Thanks @avasconcelos114!

[2017-11-01 15:59] esethna commented on #7616
Hey @santos22 hope this is going well, please let me know if you have any questions about the design!

[2017-11-01 17:54] #7344 closed

[2017-11-01 18:12] #4755 closed

[2017-11-01 18:13] jasonblais commented on #4766
Hey @PrincipalsOffice, anything we can help with here?

[2017-11-01 18:18] jasonblais commented on #5485
@R-Wang97 Anything we can help with for this ticket?

[2017-11-01 18:18] jasonblais commented on #5586
Thanks @cpanato!

[2017-11-01 18:18] #5586 closed

[2017-11-01 18:22] jasonblais commented on #5978
Thanks @cpanato!

[2017-11-01 18:22] #5978 closed

[2017-11-01 18:23] jasonblais commented on #6172
Thanks @yeoji!

[2017-11-01 18:23] #6172 closed

[2017-11-01 18:24] jasonblais commented on #6278
@difarem Is there anything we can help with?

[2017-11-01 18:25] jasonblais commented on #6283
@pruthvip Let us know if there's anything we can help with?

[2017-11-01 18:28] jasonblais commented on #6595
Thanks @Zapix!

[2017-11-01 18:28] #6595 closed

[2017-11-01 18:30] jasonblais commented on #6771
This issue has been resolved: https://mattermost.atlassian.net/browse/PLT-6823

[2017-11-01 18:30] #6771 closed

[2017-11-01 18:31] jasonblais commented on #6895
Thanks @cherealnice!

[2017-11-01 18:31] #6895 closed

[2017-11-01 18:33] jasonblais commented on #6996
Thanks @R-Wang97!

[2017-11-01 18:33] #6996 closed

[2017-11-01 18:33] jasonblais commented on #7113
Thanks @santos22!

[2017-11-01 18:33] #7113 closed

[2017-11-01 18:35] jasonblais commented on #7316
@jboxman Let us know if you have any questions on this one?

[2017-11-01 18:37] jasonblais commented on #7494
@Zapix Let us know if you have any questions on this ticket?

[2017-11-01 18:38] santos22 commented on #7616
Hi @esethna,

Thanks for checking in! I'm making progress on the Go portion of this issue and will soon start working on the ReactJS portion 👍

[2017-11-01 18:39] jasonblais commented on #7526
Thanks @santos22!

[2017-11-01 18:39] #7526 closed

[2017-11-01 18:41] jasonblais commented on #7562
@mikaoelitiana Let us know if you have any questions about this ticket?

[2017-11-01 18:41] jasonblais commented on #7580
@d1ndra Let us know if you have any other questions on this ticket?

[2017-11-01 18:43] jasonblais commented on #7584
@charle692 Let us know if you have any questions on this ticket?

[2017-11-01 21:28] digitalextremist opened #7756 "New channel becomes "White Zombie" if created with reserved word."
You cannot use/interact with channels created with reserved words such as `authorize`

#### Steps to reproduce
Create a channel with a name which is a reserved word, such as `authorize`

#### Expected behavior
Should have no issues: the word `authorize` is a perfectly good name for a channel.

#### Observed behavior
You will get a white screen upon creation, rather than joining the channel.
Upon r

[2017-11-01 22:36] difarem commented on #6278
@jasonblais not really, I don't think I'll finish this.

[2017-11-02 00:59] SmartHoneybee opened #7758 "Mattermost v4.3.1 reports itself as v4.3.0"
#### Summary
About Mattermost install version 4.3.1 reports itself as version 4.3.0.

#### Steps to reproduce
0. build mattermost-server/-webapp from source (using tag v.4.3.1)
1. install the result of the build
2. check the installed version in the menu

#### Expected behavior
Mattermost reports its version as 4.3.1 (Main Menu > About Mattermost > Version; log output).

#### Observed behavior (th

[2017-11-02 07:29] maxtar opened #7760 "Broken "System statistics""
Version: 4.3.0  (4.3.1)
Database: postgres.

#### Summary
When I open `System console/System statistics` I see the following behavior:
![default](https://user-images.githubusercontent.com/10290098/32314327-693ea4c0-bfb8-11e7-87bc-306dc92f44ad.png)

#### Steps to reproduce
Open `System console/System statistics`.

#### Expected behavior
Early I've got actual using statistics.

[2017-11-02 07:44] lindy65 commented on #7760
Hi @maxtar

Thank you for your feedback,

We previously fixed [a bug](https://mattermost.atlassian.net/browse/PLT-3051) in v3.1 where this was happening.  I'm also not able to reproduce your issue on our nightly build server.

I'll ask the team whether they have any idea what could be happening on your set-up...

[2017-11-02 07:49] maxtar commented on #7760
@lindy65 Thanx. May it depends from OS version? it's only one change what we did. Upgrade centos version on this machine.

[2017-11-02 08:02] lindy65 commented on #7760
Ah, this could be it @maxtar, let's see what help our devs have :)

[2017-11-02 08:22] lindy65 commented on #7758
Thanks @SmartHoneybee,

I've created a [ticket](https://mattermost.atlassian.net/browse/PLT-8026) for our devs to look into this.

[2017-11-02 08:34] lindy65 commented on #7756
Hi @digitalextremist

Thanks for your feedback,

Could you share which version of Mattermost you're using?

Reserved words for creating new teams [were removed](https://docs.mattermost.com/administration/config-settings.html?highlight=reserved%20word#restrict-team-names) in November 16, 2016 release and I'm not aware of reserved words for channel names.  As far as I'm aware, an error is displayed

[2017-11-02 10:20] KishoreFartiyal commented on #7676
I will work on this issue.

[2017-11-02 10:29] digitalextremist commented on #7756
@lindy65 my apologies! Here is the `About Mattermost` screen:

![screenshot from 2017-11-02 03-28-00](https://user-images.githubusercontent.com/21095/32321293-e6105ec0-bf7d-11e7-9205-715871ab68ba.png)

This is about `channel` not `team` names.

Create a channel named `authorize` and see what happens.

[2017-11-02 10:31] KishoreFartiyal commented on #7751
working on it

[2017-11-02 10:49] lindy65 commented on #7756
Hi @digitalextremist,

Thanks for your feedback and version,

I realise it's about channel names and did try to reproduce your issue earlier on our nightly build server but it didn't reproduce!  Now, however, it IS reproducing so I have created a [ticket](https://mattermost.atlassian.net/browse/PLT-8027) to track.

Sorry about the confusion, it just didn't reproduce for me earlier!

[2017-11-02 12:07] digitalextremist commented on #7756
No problem at all. I'm glad it's relevant!

[2017-11-02 12:12] MusikPolice commented on #7760
The bug wasn't in our software, it was that one of the major lists that ad some blockers use had (mistakenly?) added the URL of the resource that the statistics page calls to one of their block lists.

Do you have an ad blocker enabled? If so, try disabling it, or accessing the page with a browser that doesn't have the ad blocker enabled. If that works, check to see if an update is available for y

[2017-11-02 12:29] maxtar commented on #7760
Wow. Realy! Thanx, I've switched off ad blockers and statistic returned. :)

[2017-11-02 12:32] jasonblais commented on #6278
No worries, thanks @difarem - if you're interested working on it later, or [on another Go ticket](https://github.com/mattermost/mattermost-server/labels/Go), let us know and we'd be happy to help with any questions.

[2017-11-02 12:33] jasonblais commented on #7758
@SmartHoneybee Can you share a screenshot of your About Mattermost dialog?

[2017-11-02 12:33] jasonblais commented on #7760
@maxtar Do you have any ad blockers enabled on your browser?

[2017-11-02 12:34] jasonblais commented on #7760
Sorry, didn't have the most recent posts visible. @maxtar which ad blocker did you have enabled?

[2017-11-02 12:35] jasonblais commented on #7751
Thanks @KishoreFartiyal!

[2017-11-02 12:35] maxtar commented on #7760
ublock origin

[2017-11-02 12:56] MusikPolice commented on #7760
We've requested that the ad blocker in question removes this URL from their list. Unfortunately, there's nothing else that we can do about this, so I'm going to close this ticket for the time being. Thanks for the report.

[2017-11-02 12:56] #7760 closed

[2017-11-02 13:50] jasonblais commented on #7760
@maxtar The ad blocker has removed the URL. Next time a new version of uBlock is released, update to it, and the System Console stats should show up even with the ad blocker enabled.

[2017-11-02 13:56] maxtar commented on #7760
@jasonblais Cool! I will check. Thank you.

[2017-11-02 16:00] SmartHoneybee commented on #7758
@lindy65 thank you!
@jasonblais sure:
![image](https://user-images.githubusercontent.com/18035422/32334673-62134c4a-bfeb-11e7-9dae-d82ceb8385a1.png)

Sorry to bother you with this.

Which file / instruction determines the Mattermost version?
(I'd guess `model/version.go`.)
[code]

Other things that might help:
* [Mattermost binary](https://github.com/SmartHoneybee/ubiquitous-memory/releases/tag/un

[2017-11-02 16:18] jackm opened #7762 "Search in direct messages"
Is there not a way to perform a search that only searches in a specific direct message channel?

Using the `in:` search modifier only seems to work for public and private channels, but not direct messages. I would like to be able to do a search for a keyword but have it only look at one direct message channel.

Using the `from:` modifier is close, but that only looks at one user's messages and not

[2017-11-02 16:25] cpanato commented on #7517
we will move the build to jenkins or will keep it running on circleci?

[2017-11-02 16:59] jasonblais commented on #7758
@SmartHoneybee Sounds good. I found a related ticket here: https://mattermost.atlassian.net/browse/PLT-5482

We also have an open doc issue for documenting version info for server and database better, in case you want to share your feedback there: https://github.com/mattermost/docs/issues/979

Many thanks for bringing this up. I agree it is confusing and can be improved.

[2017-11-02 17:14] SmartHoneybee commented on #7758
@jasonblais thanks for sharing. Feel free to close this issue as duplicate then.
(In case I come up with a suggestion I'll post it there.)

[2017-11-02 18:42] jasonblais commented on #7762
@jackm Not easily because the URL for direct messages is in the form `../channels/userid1_userid2`.

However, once https://github.com/mattermost/mattermost-webapp/pull/189 is reviewed and merged, the URL will be displayed with `.../messages/username`, which will allow us to more easily support searching in direct messages via `in:username`.

[2017-11-02 18:45] jasonblais commented on #7517
Posted in Desktop App channel @cpanato https://pre-release.mattermost.com/core/pl/cu1oeccggbn7zmxtde4gha1yra

[2017-11-02 18:49] jasonblais commented on #7758
Thanks @SmartHoneybee 👍

[2017-11-02 18:49] #7758 closed

[2017-11-02 22:48] #6127 closed

[2017-11-03 01:05] jackm commented on #7762
Good to know. I'll subscribe to that PR.

[2017-11-03 06:36] tkbky commented on #7675
I can work on this one.

[2017-11-03 16:22] Ppjet6 opened #7769 "DMs from some people make them disappear from the DM list, and not notified"
#### Summary

Somebody sends you a Direct Message, you see the notification and it instantly disappears, also removing that person from the opened Direct Messages list.
The messages themselves are not gone, but you are not aware of them until you manually look for the person and add it in your Direct Messages list.

It happens only with some people, not everybody, it happens often enough to be not

[2017-11-03 18:38] jasonblais opened #7771 "Mattermost 4.4"
This is a meta issue for v4.4 release updates.

You can find key dates for v4.4 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### November 6th (T-8): Code Complete

Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated

[2017-11-03 21:51] jasonblais opened #7774 "[Help Wanted] Support Slack attachments in response to outgoing webhooks"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

Jira ticket: https://mattermost.atlassian.net/browse/P

[2017-11-03 21:51] jasonblais commented on #4237
Re-opened https://github.com/mattermost/mattermost-server/issues/7774

[2017-11-03 21:51] #4237 closed

[2017-11-03 21:57] jboxman commented on #7316
Hi! I actually started a new job recently. This got lost in the shuffle.

[2017-11-03 23:15] jasonblais commented on #7316
Ah, no worries @jboxman. If you're interested and have time to work on this or another ticket, don't hesitate to reach out :)

[2017-11-03 23:15] jasonblais commented on #7316
And congrats on your new job @jboxman!

[2017-11-03 23:30] jasonblais opened #7775 "[Help Wanted] Convert public channels to private in the UI"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/dev

[2017-11-03 23:31] jasonblais commented on #4587
Reopened here: https://github.com/mattermost/mattermost-server/issues/7775

[2017-11-03 23:31] #4587 closed

[2017-11-03 23:41] #7686 closed

[2017-11-03 23:41] #7685 closed

[2017-11-03 23:42] #7673 closed

[2017-11-03 23:42] #7682 closed

[2017-11-04 05:32] kaakaa commented on #6724
Hi all!
I'm working on this issue, and I added paging to system log viewer on webapp.
(I'm working on [this branch](https://github.com/kaakaa/mattermost-webapp/commit/8a5d9d141a6b937e9e46e5904cde44ab87664d0b))

But item 3 still remains.

Now, even if I set large number (Such as 1000) to `perPage` from client, server overrides that value to `PER_PAGE_MAXIMUM` in params.go and responses less log lin

[2017-11-04 20:22] it33 commented on #1723
@Andrew197 @bbodenmiller could you share more about your use case?

If we were to add web notifications it would be through the notification server, not the main server. The issue is prioritizing means depriortizing other features.

If you could share more about why you're not able to install native apps it could really help with the discussion.

[2017-11-05 00:37] QuantumKing commented on #7672
I'll take this one

[2017-11-05 00:44] jasonblais commented on #7672
Yay, thanks @QuantumKing!

[2017-11-05 00:44] johncoleman83 commented on #5485
The above link to the "generic thumbnail for images" returns 404 response.  Is there an updated link for that?

[2017-11-05 00:45] jasonblais commented on #5485
@johncoleman83 Fixed the link, it's https://github.com/mattermost/mattermost-webapp/blob/master/images/icons/image.png

[2017-11-05 04:32] lantran commented on #5465
Hi Mattermost,
I would like to pick up this ticket. I am new and this is my very first ticket. (also don't know much abou t ReactJS).
I tried to reproduce the problem on my local but I couldn't. I do see the preview link feature on the app I installed.
Could you guys help me with that first?

[2017-11-05 23:09] jasonblais commented on #5465
@lantran First, big thanks for your interest working on this feature!

You will first need to enable link previews from System Console > Customization > Link Previews. Once enabled, website previews should show up on your instance.

Let us know if you have any other questions

[2017-11-05 23:14] jasonblais opened #7778 "[Help Wanted] Migrate analytics/doughnut_chart.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:14] jasonblais opened #7779 "[Help Wanted] Migrate analytics/line_chart.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:15] jasonblais opened #7780 "[Help Wanted] Migrate analytics/statistic_count.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:15] jasonblais opened #7781 "[Help Wanted] Migrate analytics/table_chart.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:16] jasonblais opened #7782 "[Help Wanted] Migrate channel_members_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:16] jasonblais opened #7783 "[Help Wanted] Migrate create_team/* to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:17] jasonblais opened #7784 "[Help Wanted] Migrate do_verify_email.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:17] jasonblais opened #7785 "[Help Wanted] Migrate code_preview.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:18] jasonblais opened #7786 "[Help Wanted] Migrate emoji/components/delete_emoji_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:18] jasonblais opened #7787 "[Help Wanted] Migrate file_attachment.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:19] jasonblais opened #7788 "[Help Wanted] Migrate file_info_preview.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:19] jasonblais opened #7789 "[Help Wanted] Migrate file_upload.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:19] jasonblais opened #7790 "[Help Wanted] Migrate filtered_user_list.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:20] jasonblais opened #7791 "[Help Wanted] Migrate header_footer_template.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:20] jasonblais opened #7792 "[Help Wanted] Migrate team_members_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-11-05 23:22] R-Wang97 commented on #5485
@jasonblais Sorry I haven't been able to work on this ticket, if someone else has started working on it they can take it :)

[2017-11-06 00:05] johncoleman83 commented on #5485
I am studying to see how to make this update.  Theoretically, I'm not sure how to respond when image dimensions are greater than `MaxImageSize`.  Some ideas are:

- Add 1 _"generic thumbnail for images"_ to the file storage, and then for cases where the dimensions are greater than `MaxImageSize`, that path to generic thumbnail image is stored to `info.ThumbnailPath`.
- A new generic image added an

[2017-11-06 02:39] santos22 commented on #7616
Hi @esethna,

Does this issue also require changes to Redux?

[2017-11-06 08:26] lindy65 commented on #7769
Hi @Ppjet6,

Thank you for your report,

Could we have your help updating to the [latest version](https://about.mattermost.com/download/) of Mattermost to see if the issue still persists?

Let us know how it goes!

[2017-11-06 17:07] esethna commented on #7616
Hey @santos22, adding @jwilander to help answer that.

[2017-11-06 17:09] jwilander commented on #7616
Yes, you'll need to add client driver functions, actions and possibly a reducer to mattermost-redux

[2017-11-07 00:10] tkbky commented on #7792
I'll work on this.

[2017-11-07 08:32] DeepaAmmu commented on #2524
The issue got resolved

In Local machine manually delete the npm node modules and re-install with "npm install".
In build server clean the build and run it,

[2017-11-07 09:13] KishoreFartiyal commented on #7582
I would like to work on this issue

[2017-11-07 09:15] panditsavitags commented on #7659
I would like to work on this.

[2017-11-07 10:05] lindy65 commented on #5485
Hi @johncoleman83,

Thanks for your feedback,

Our devs prefer your first option as long as the 1 image file is stored in a path that's not under the "date" folders like the real uploads are.

If that's not possible, then your second option should work best.

Let us know if you have any additional question :)

[2017-11-07 13:20] jasonblais commented on #7582
Great, thanks @KishoreFartiyal!

[2017-11-07 13:20] jasonblais commented on #7659
Great, thanks @panditsavitags!

[2017-11-07 13:29] KishoreFartiyal commented on #7582
@jasonblais , can you help me reproduce this issue?
I need steps to reproduce this issue and where to find the issue in UI?

[2017-11-07 13:37] jasonblais commented on #7582
@KishoreFartiyal Have you sent webhook messages before? If so, there's an example in the issue description.

If you haven't I can give you a few extra steps to help you guide through it

[2017-11-07 13:42] jwilander commented on #6724
Hi @kaakaa,

I think it makes sense to add the new query parameter. I'd prefer going with `logs_per_page` to match the constant names but other than that the rest sounds good to me 👍

When submitting your PR, could you submit another one to [mattermost/mattermost-api-reference](https://github.com/mattermost/mattermost-api-reference) to update API reference?

[2017-11-07 14:50] jasonblais commented on #7771
### v4.4.0 RC1 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.4.0-rc1/mattermost-4.4.0-rc1-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/cce1b249fc75989dabf67e35a0a48533aaa49974/source/administration/changelog.md)

### Approved fixes for RC2
1. [Text updates for DND](h

[2017-11-07 15:57] bastbnl commented on #3502
In case you're interested in a way to reproduce:
`curl -i -X POST -d 'payload={"text": "; :tada:"}' -H 'Content-Type: application/json' <webhook-url>`

It does not happen when posting using, since that message is accepted and visible in the channel:
`curl -i -X POST -d '{"text": "; :tada:"}' -H 'Content-Type: application/json' <webhook-url>`

However, this is accepted (as in: 200, with a message i

[2017-11-07 16:18] KishoreFartiyal commented on #7582
@jasonblais No, I have never sent webhook messages before. It'll be helpful if you can provide few steps from the beginning to create the issue.

[2017-11-07 18:07] esethna opened #7800 "[Help Wanted] [PLT-840] Add option to outgoing webhooks to reply to the posted message as a comment"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-07 18:46] #7633 closed

[2017-11-07 19:00] jasonblais commented on #7582
@KishoreFartiyal Here's sample steps:

1. Go to Main Menu > Integrations > Incoming Webhook and click Add Incoming Webhook
2. Enter any name and description
3. Select Off Topic channel and save
4. Copy the URL on the Setup Successful page
5. Install Postman App (for Chrome, Mac, or Windows): https://www.getpostman.com/apps
6. Launch Postman and near the new tab at the top, click the drop-down to c

[2017-11-08 00:36] esethna opened #7801 "[Help Wanted] [PLT-8087] Optimize file attachment memory usage where possible"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-08 08:45] KishoreFartiyal commented on #7582
@jasonblais thanks for your help !
I am able to follow the steps conveniently .

Let's come to the issue.
Currently, it displays correctly as specified in the expected screenshot.

Expected Behavior from the description of the issue:
![image](https://user-images.githubusercontent.com/13373142/32539343-1f3c88d4-c48f-11e7-961c-e98262fe246f.png)

Current behavior:
![current markdown](https://user-ima

[2017-11-08 12:20] rashmimhatre100 commented on #2524
Getting same issue of peer dependencies:-

`iassureit@iassureit-01:/var/meteor/spotyl$ meteor npm install speakable
npm WARN javascript-time-ago@0.4.9 requires a peer of intl-messageformat@^1.3.0 but none is installed. You must install peer dependencies yourself.
npm WARN react-addons-update@0.14.8 requires a peer of react@^0.14.8 but none is installed. You must install peer dependencies yourself.

[2017-11-08 13:28] jasonblais commented on #7582
@KishoreFartiyal Hmm I see. I think https://github.com/mattermost/mattermost-server/pull/7707 submitted Oct 24th may have fixed that particular issue.

I didn't find any corner cases so this issue can be considered fixed. Would there be another help wanted ticket you'd be interested taking a look?

[2017-11-08 13:28] #7582 closed

[2017-11-08 13:45] kolis opened #7803 "Message parsing hangs"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
The message below hangs the browser context. Chrome tab k

[2017-11-08 13:46] kolis commented on #7803
Server version: Version: 4.2.0
Also tested with MM desktop client: 3.7.1

[2017-11-08 15:24] lindy65 commented on #7803
Hi @kolis

Thank you for your feedback,

Could we have your help [upgrading to v4.3](https://about.mattermost.com/download/) of Mattermost to see whether the issue still reproduces?

Thanks!  and let us know how it goes :)

[2017-11-08 15:25] lindy65 commented on #7762
Thanks @jackm @jasonblais

I'll close this off for now and we can track via the PR.

[2017-11-08 15:25] #7762 closed

[2017-11-08 15:27] lindy65 commented on #7756
Thanks @digitalextremist

I'll close this issue off here for now and we can track via the ticket linked above :)

[2017-11-08 15:27] #7756 closed

[2017-11-08 17:17] lindy65 commented on #7715
Thanks @hmhealey @bspinner

I'll close this issue off for now then.

[2017-11-08 17:17] #7715 closed

[2017-11-08 17:18] lindy65 commented on #7578
I'll close this issue off here for now and we can track via the ticket linked above.

[2017-11-08 17:18] #7578 closed

[2017-11-08 17:37] cpanato commented on #7800
I will try this one

[2017-11-08 17:40] esethna opened #7804 "[Help Wanted] [PLT-8093] Warning: The prop `link` is required in `GetLinkModal`, but its value is `undefined`"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-11-09 00:17] digitalextremist commented on #7756
Much appreciated @lindy65. Will continue following at:

* https://mattermost.atlassian.net/browse/PLT-8027

[2017-11-09 00:42] tkbky commented on #7804
I'm on it.