[2019-11-11 23:22] amyblais commented on #13044
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-20043.

[2019-11-12 01:20] amyblais commented on #12292
@larkox RHS refers to the right-hand-sidebar. Does this help?

[2019-11-12 02:52] allenlai18 commented on #11744
I will work on this!

[2019-11-12 03:26] allenlai18 commented on #12437
Is someone still working on this?

[2019-11-12 05:29] #12657 closed

[2019-11-12 07:48] larkox commented on #12292
Great. I expected it to be that, but I wanted to make sure. May I take this one?

[2019-11-12 10:55] enahum commented on #12617
Looks like this commit https://github.com/react-native-community/react-native-image-picker/commit/454fff34df11a5c99eb053c3ea515c820d35bddc added mixed content to android

[2019-11-12 11:43] #12882 closed

[2019-11-12 11:55] larkox commented on #13050
May I take this one?

[2019-11-12 12:03] hanzei commented on #13050
Sure, thanks @larkox

[2019-11-12 12:25] enolal826 commented on #13048
I'd like to work on this one!

[2019-11-12 12:30] mattermod opened #13058 "Migrate webhookCache from store/sqlstore/webhook_store.go to the new store/localcachelayer"
Migrate webhookCache from store/sqlstore/webhook_store.go to the new store/localcachelayer.

The new cache layer should be able to pass all the previous existing tests, and should add new tests mocking the underlying store to test only the cache behavior.

You can see an example of this solved in this PR:  [https://github.com/mattermost/mattermost-server/pull/13045](https://github.com/mattermost/m

[2019-11-12 12:32] larkox commented on #13058
May I take this one?

[2019-11-12 12:34] hanzei commented on #10788
@esethna Can you help with the above?

[2019-11-12 12:37] mgdelacroix commented on #13048
Great, thanks @enolal826!

[2019-11-12 12:41] craph opened #13059 "Mattermost wrong redirect_uri for GitLab SSO when using custom HTTPS port"
#### Summary
Sigin-in/Authenticating via SSO with GitLab won't work because the generated URI doesn't contains the right port number if Mattermost runs on another port like 443.

#### Steps to reproduce

1. Run Mattermost docker on port 4434 instead of 443

1. Add an application in GitLab -> admin area -> applications

1. enable SSO with GitLab, by setting up in config.json

1. try to login with t

[2019-11-12 13:12] jespino commented on #13058
Sure, go ahead :)

[2019-11-12 13:19] amyblais commented on #13035
@RajatVaryani Are you on desktop app v4.3.1 version?
I want to open a bug ticket for this and just want to gather basic information about your environment.

[2019-11-12 13:29] phillipahereza commented on #13047
@mgdelacroix can I work on this

[2019-11-12 14:15] #12891 closed

[2019-11-12 14:17] amyblais commented on #12916
### v5.17 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.17.0-rc2/mattermost-team-5.17.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3078/files)

[2019-11-12 14:19] amyblais commented on #13022
@jakeolenick Did the above suggestion help?

[2019-11-12 14:21] amyblais commented on #12970
@dmarkdvt Would you be open to sharing these ideas on our feature request forum http://www.mattermost.org/feature-requests/?

[2019-11-12 14:40] dmarkdvt commented on #12970
Sure, I can do but isn't at least 4) a bug? The current mobile app should also ignore the dimension parameter =50 as it already does with =50x50px.

[2019-11-12 14:53] levigo-systems opened #13064 "Deleted messages are emailed"
#### Summary
Notifications of a new message get also emailed if the message was already deleted at the chat.

#### Steps to reproduce
We are using Mattermost 5.16.1.
1. Enable the email notifications on user B
2. Send a chat message from user A to user B
3. Delete the chat message
4. Look at the mailbox from user B -> There you can see the deleted message

#### Expected behavior
In the email there

[2019-11-12 15:00] AGMETEOR commented on #11440
Hello @hanzei , I just wanted to draw your attention to this :)

[2019-11-12 15:33] amyblais commented on #13064
@levigo-systems Emails are sent for all notifications when email notifications are enabled. You could enable email batching and choose how often emails get sent: https://docs.mattermost.com/administration/config-settings.html#enable-email-batching.

In Enterprise Edition you can hide email content: https://docs.mattermost.com/administration/config-settings.html#email-notification-contents.

[2019-11-12 15:34] amyblais commented on #13059
@hmhealey Are you familiar with this issue?

[2019-11-12 15:48] craph commented on #13059
Hi @amyblais ,

I found my issue. It was a mistake from me. I forgot to specify the port in the environment variable : **MM_SERVICESETTINGS_SITEURL**

After adding the port, the redirect_uri seems correct but now, I have the following error :

[code]

And in the Mattermost log :
`{"level":"error","ts":1573570165.5886054,"caller":"web/oauth.go:259","msg":"AuthorizeOAuthUser: Token request failed, P

[2019-11-12 16:04] hmhealey commented on #12004
You can also port it to typescript, but adding tests first might be a good just to ensure the migration doesn't break anything

[2019-11-12 16:13] amyblais commented on #12970
I think so, posting the ticket for reference here: https://mattermost.atlassian.net/browse/MM-9746.

[2019-11-12 16:17] hmhealey commented on #13059
I'm not familiar with setting up self-signed certificates, but as far as I know, MM looks in the standard locations provided by the OS. That error is definitely from Mattermost, so I don't know if GitLab also has some special steps to trust self-signed certificates as well

[2019-11-12 16:36] craph commented on #13059
Yes GitLab have special steps to trust self-signed certificates.

My GitLab server is working fine from 2 years with self signed certificate.

Here is a search about that :
https://gitlab.com/search?utf8=%E2%9C%93&search=trusted-certs&group_id=&project_id=20699&search_code=true&repository_ref=&nav_source=navbar

[2019-11-12 17:17] craph commented on #13059
I have try to add my trusted CA in `/usr/local/share/ca-certificates` in the Mattermost docker container but I'm unable to launch the command :` update-ca-certificates`

I have : Failed to open temporary file /etc/ssl/certs/bundleXXXXXX for ca bundle

[2019-11-12 17:18] allenlai18 commented on #12003
I'll work on this!

[2019-11-12 17:26] allenlai18 commented on #12003
https://github.com/mattermost/mattermost-webapp/pull/4199

[2019-11-12 17:45] mattermod opened #13066 "Migrate 'components/admin_console/text_setting.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/text*setting.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any c

[2019-11-12 17:45] mattermod opened #13067 "Migrate 'components/admin_console/radio_setting.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/radio*setting.jsx` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2019-11-12 18:15] alebeta90 opened #13068 "Code Highlight not working as docs"
Hello friends,

#### Summary
Writing code blocks is not highlighting the code properly as it is shown in the documentation

Documentation:

![image](https://user-images.githubusercontent.com/11571266/68698072-6cf26880-0580-11ea-8245-b0140428f654.png)

In My Mattermost Server:

![image](https://user-images.githubusercontent.com/11571266/68698114-80053880-0580-11ea-8354-6cc0e2e746b1.png)

There are

[2019-11-12 18:29] amyblais commented on #13068
@alebeta90 Please help share the full code that you used as well as the documentation that you followed.

[2019-11-12 18:55] alebeta90 commented on #13068
Hi @amyblais ,

sorry for the lack of information

The documentation is this one
https://docs.mattermost.com/help/messaging/formatting-text.html

and the code I used was

[code]

I can not add the full snipe code because mark down recognized.

that it is the same in the documentation

If there is more information I could bring, please let me know

[2019-11-12 19:10] amyblais commented on #13068
@alebeta90 We have this in-progress bug ticket open that is probably related to the issue you're seeing: https://mattermost.atlassian.net/browse/MM-19964.

[2019-11-12 19:35] alebeta90 commented on #13068
@amyblais thanks for the information,

I saw there is already a PR to fix this issue that is waiting for review.

Than is just a matter of wait :D

thanks a lot

[2019-11-12 20:30] mattermod opened #13069 "Migrate allTeamIdsForUserCache cache from store/sqlstore/team_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `allTeamIdsForUserCache` cache variable in the `store/sqlstore/team_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/team_

[2019-11-12 20:42] jespino opened #13070 "Migrate emojiIdCacheByName cache from store/sqlstore/emoji_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `emojiIdCacheByName` cache variable in the `store/sqlstore/emoji_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/emoji_st

[2019-11-12 20:42] jespino opened #13071 "Migrate emojiCacheById cache from store/sqlstore/emoji_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `emojiCacheById` cache variable in the `store/sqlstore/emoji_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/emoji_store.

[2019-11-12 20:42] jespino opened #13072 "Migrate profileByIdsCache cache from store/sqlstore/user_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `profileByIdsCache` cache variable in the `store/sqlstore/user_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/user_store

[2019-11-12 20:42] jespino opened #13073 "Migrate profilesInChannelCache cache from store/sqlstore/user_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `profilesInChannelCache` cache variable in the `store/sqlstore/user_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/user_

[2019-11-12 20:42] jespino opened #13074 "Migrate termsOfServiceCache cache from store/sqlstore/terms_of_service_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `termsOfServiceCache` cache variable in the `store/sqlstore/terms*of_service*store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlst

[2019-11-12 21:29] rvillablanca commented on #13069
Hi, I'll work on this.

[2019-11-13 06:21] AGMETEOR commented on #10156
@hanzei I can pick this up.

[2019-11-13 07:06] dmarkdvt commented on #12970
https://mattermost.uservoice.com/forums/306457-general/suggestions/39016390-mobile-app-should-support-custom-dimension-on-imag

[2019-11-13 07:25] AGMETEOR commented on #10156
Some comments on this;
1 > Can't `searchUsers` in any actions file.
2 > Looks like `autocompleteUsersInChannel` is already using the redux pattern

[2019-11-13 09:18] craph commented on #13059
As discussed with the GitLab support here is a status about this issue :

So may be the error is related to Alpine and need some fix.

By the way, I fixed my error by adding my trusted CA in `/etc/ssl/certs` in the docker-compose.yml like this :
I have added this line in the volumes for the app which contains my trusted CA :
`- /root/certpki/pki_chain.pem:/etc/ssl/certs/pki_chain.pem:ro`

[code]

[2019-11-13 09:20] craph commented on #745
May be you could have a look to [my issue](https://github.com/mattermost/mattermost-server/issues/13059).

There is a solution to fix this issue

[2019-11-13 11:07] saneletm commented on #13074
Can I please work on this issue

[2019-11-13 12:58] jespino commented on #13074
@saneletm sure, go ahead :)

[2019-11-13 13:06] RajatVaryani commented on #13035
I am on `Version 4.2.1 (4.2.1.62)`

[2019-11-13 13:08] larkox commented on #13066
May I take this one?

[2019-11-13 13:27] Helcaraxan opened #13077 "Erroneous Go module path"
#### Summary
After stumbling over this project while debugging a third-party dependency issue I realised that the project is not specifying it's Go module path correctly.

In the current state the `go.mod` file sets it to:
[code]
However, given that the project is already at v5 the path should instead be:
[code]
or even
[code]
if you follow the recommended practice of releasing a new major version

[2019-11-13 13:39] amyblais commented on #13035
Would you be open to trying this on v4.3.1 desktop version?

[2019-11-13 15:00] #12467 closed

[2019-11-13 15:08] #13012 closed

[2019-11-13 15:09] saturninoabril commented on #13012
PR is recently merged.  Thank you @MathewtheCoder for your contribution!

[2019-11-13 15:17] craph opened #13079 "Unable to see Add Incoming Webhook"
#### Summary
I'm unable to create an incoming webhook in my docker Mattermost team edition.

#### Steps to reproduce

1. Run the official docker Mattermost container

1. Check that Enable Incoming Webhooks is set to True

1. Try to find the "Add incoming webhook"

#### Expected behavior
I can't find the button to add incoming webhooks

#### Observed behavior (that appears unintentional)
![image](h

[2019-11-13 15:30] craph commented on #13079
Sorry it was my fault of misunderstanding the documentation here : https://docs.mattermost.com/developer/webhooks-incoming.html#simple-incoming-webhook

Please could you add to switch back to the Team view after enabling the Incomming / Outgoing Webhooks because the :

[2019-11-13 17:20] jgbaylon commented on #12294
I'll take this one.

[2019-11-13 17:21] jgbaylon commented on #12295
I'll take this one.

[2019-11-13 17:21] jgbaylon commented on #12290
I'll take this one.

[2019-11-13 17:22] saturninoabril commented on #12294
@jgbaylon Sure and thanks!

[2019-11-13 17:23] saturninoabril commented on #12295
@jgbaylon Sure and thanks!

[2019-11-13 17:24] saturninoabril commented on #12290
@jgbaylon Sure and thanks!

[2019-11-13 18:43] hector2 commented on #13071
Hello! Can i work on this issue?

[2019-11-13 18:53] #12863 closed

[2019-11-13 18:58] cpoile commented on #13077
Hello @Helcaraxan -- yep, we're aware of the problem and we're in the process of fixing it (not a quick fix, unfortunately). Until we finish it, you can use a specific hash in your go.mod, like so:
[code]
Does that help for now?

[2019-11-13 19:17] hanzei commented on #13066
Sure, thanks @larkox

[2019-11-13 19:20] hanzei commented on #13066
@larkox It seams like there is already a PR for this. Sorry https://github.com/mattermost/mattermost-webapp/pull/4201

[2019-11-13 19:55] jespino commented on #13071
Sure!

[2019-11-13 20:25] rvillablanca commented on #13072
I would like to work in this issue :smile:

[2019-11-13 20:26] jespino commented on #13072
Awesome, go ahead :)

[2019-11-13 20:48] courtneypattison commented on #11947
Hi :)

I'm interested in working on this ticket and have a few questions:
1. It seems like users can configure the login button's colour including border, text colour, and background in the config. Is that true? If so, does that take precedent over these changes?
2. Should all of the changes exemplified in the invision mock be implemented e.g. the light mode changes and flat versus outlined button

[2019-11-13 21:13] hanzei commented on #11440
@sudheerDev Can you help with this question?

[2019-11-13 21:18] Adammmmmmmmmmmmmmmmmmm opened #13084 "Increase max dimesion for the image"
Hello.

So here is an issue.
When I want to add image to conversation I am getting an error "20191113_164727 (1).jpg dimensions (5760 by 4312 pixels) exceed the limits"
AFAIK it is hardcoded by:
`MaxImageSize         = 6048 * 4032 // 24 megapixels, roughly 36MB as a raw image`

So it is ‭24,385,536‬ pixels.
And my photo have 24,837,120 pixels

Diff is only 451,584.

So I propose to increase this l

[2019-11-13 21:51] #12868 closed

[2019-11-13 22:57] amyblais commented on #13079
@craph Would you be open to re-opening this issue in the docs repo https://github.com/mattermost/docs/issues?

[2019-11-13 22:59] amyblais commented on #13084
Thanks, appreciate your feedback,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2019-11-13 23:50] sunsingerus commented on #12012
I'll take this one

[2019-11-13 23:56] jwilander commented on #12012
Dupe of https://github.com/mattermost/mattermost-server/issues/11815

[2019-11-13 23:56] #12012 closed

[2019-11-14 00:23] jwilander commented on #11816
https://github.com/mattermost/mattermost-operator/pull/80 should cover this

[2019-11-14 00:23] #11816 closed

[2019-11-14 00:35] saturninoabril commented on #12297
PR is now merged.  Thanks @larkox for your contribution!

[2019-11-14 00:35] #12297 closed

[2019-11-14 03:02] jasonblais opened #13087 "Mattermost Hackathon: Nov 22 - 26"
Mattermost is holding a virtual hackathon November 22 - 26 and everyone is invited to participate! You can work on anything to do with Mattermost for your hackathon project but we strongly encourage building a plugin or an integration.

Participants from the community who submit a Hackathon project (https://github.com/mattermost/mattermost-hackathon-nov2019) will receive a Mattermost swag bag!

We

[2019-11-14 06:03] agnivade opened #13088 "Migrate tool dependencies to be tracked in go.mod"
### Problem

The mattermost codebase uses several tools like `megacheck`, `mgotool`, `mockery` etc. to achieve various tasks. However, the versions of these tools are not tracked in go.mod and directly fetched from the tip of their respective repos. This is a source of discrepancy and possible bugs because one single update from the tool developer might break things in the codebase.

It is also no

[2019-11-14 07:47] levigo-systems commented on #13064
You can hide some content but this is not the solution for this issue.
If a user wants notifications with the full message body, we are still running into the problem.

[2019-11-14 08:52] reflog commented on #13088
@agnivade - I am not sure that this problem is critical enough to add this additional complication. If it's planned for Go 1.15 - my vote is to wait for it. 2/5 on this

[2019-11-14 10:00] Helcaraxan commented on #13077
Hello @cpoile.

That's alright. I was not running into any issues. I simply spotted the problem with the module path while debugging another dependency issue where `mattermost-server` was involved in an indirect fashion.

Might I ask why this is "not a quick fix"? Is it due to the fact that you want to tag a v6 at the same time?

[2019-11-14 10:00] larkox commented on #13066
@hanzei No problem. Thanks!

[2019-11-14 10:53] mthld commented on #12704
Hi @amyblais,

Sorry for the delay, here are my answers:

1. We receive the emails when message are sent both from the webhook and plugin
2. I can deactivate the plugin and I'll still get the emails from the webhook
3. There is nothing relate to this
4. I personally do receive the emails when my username and/or first name mentioned in the message, see the following screenshot (Your non-case sensit

[2019-11-14 11:13] Pomyk commented on #10347
Reactions table has inefficient primary key (`UserId`,`PostId`,`EmojiName`). Using  (`PostId`,`UserId`,`EmojiName`) would be better as it would use index scan when fetching reactions for a post. Now it scans the whole table.

[2019-11-14 12:00] agnivade commented on #13088
I see. Do you not think relying on tools to be stable at tip poses a risk of breakage ? Especially when modules are now available ? It takes us back to the GOPATH days when we already have something at our disposal. It also means tool authors have more freedom to change things at tip, which makes it even more riskier. Personally, I believe this is a problem worth addressing.

IMHO, there isn't muc

[2019-11-14 12:29] phillipahereza commented on #13073
@jespino can I work on this

[2019-11-14 12:29] jespino commented on #13073
Sure! Thanks @phillipahereza

[2019-11-14 12:46] larkox commented on #12286
May I take this one?

[2019-11-14 12:47] saturninoabril commented on #12286
@larkox That's awesome, thanks!

[2019-11-14 12:59] craph commented on #13079
Hi @amyblais ,

I have open a new issue : https://github.com/mattermost/docs/issues/3157 as you requested

[2019-11-14 13:04] amyblais commented on #13079
Thank you! I made it into Help Wanted for now,

[2019-11-14 13:04] #13079 closed

[2019-11-14 13:06] craph commented on #13059
Hi @amyblais , @hmhealey ,

have you seen my comment here : https://github.com/mattermost/mattermost-server/issues/13059#issuecomment-553312367

If you want, I can make a PR to add the correct line in the docker-compose.yml file

What do you think about it ?

[2019-11-14 13:20] thnat1234 commented on #11950
Hi @hanzei,
I was thinking about the UX of the navigation using the arrows and I have one some suggestions if you agree.

In relation to the a11y, the focus from the emoji search box to the emoji picker should be switched using TAB, or SHIFT+TAB relatively. Based on my experience, if I want to go back in the text to correct a mistake and then go to the end of the text, I'm just holding the right k

[2019-11-14 13:33] amyblais commented on #13059
That would be great if you're open to sending a PR for it.

[2019-11-14 13:54] amyblais commented on #13064
Thanks, appreciate your feedback,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2019-11-14 14:11] levigo-systems commented on #13064
https://mattermost.uservoice.com/forums/306457-general/suggestions/39034261-do-not-send-notification-emails-if-chat-message-go

[2019-11-14 14:19] amyblais commented on #13064
Thank you! This can be followed via the feature idea forum,

[2019-11-14 14:19] #13064 closed

[2019-11-14 15:59] larkox commented on #13070
May I take this one?

[2019-11-14 16:00] #12291 closed

[2019-11-14 16:00] saturninoabril commented on #12291
@larkox Thank you for your contribution!

[2019-11-14 16:23] #13010 closed

[2019-11-14 16:34] reflog commented on #13088
I don't mind fixing this, but I know there are a few people who will object to having submodules just because of this. Pinging @crspeller and @jespino

[2019-11-14 16:44] agnivade commented on #13088
Fair enough, the submodule thing is a concern for me too. However, after discussing with a Go team member (@heschik) on slack, we came to the decision that since the submodule does not contain any code whatsoever (and given that golangci already use it), there shouldn't be any complications. Hence, I suggested this.

Open to hearing any likely issues that can arise from this.

[2019-11-14 16:58] craph opened #13092 "Unable to reference channel in a message with !"
#### Summary
In a channel when I want to reference another public channel I'm unable to do it by using !

#### Steps to reproduce
1. Use the latest docker container of Mattermost.

1. Create another public channel

1. In town-square type ! and none other public channel appear

#### Expected behavior
Other public channel should appear when ! is type like mentionned here :

- https://mattermost.atla

[2019-11-14 18:09] amyblais commented on #13092
You can use ``~``.

[2019-11-14 19:29] larkox commented on #12000
May I take this one?

[2019-11-14 19:29] heschik commented on #13088
`-modfile` is in 1.14. Only `-g` was pushed.

[2019-11-14 19:58] M-ZubairAhmed commented on #13067
Can i take this one ?

[2019-11-14 20:16] M-ZubairAhmed commented on #12268
Can i take this one, first time writing an e2e test, might take some time to get familiar with cypress

[2019-11-14 20:27] jespino commented on #13070
Sure, go ahead

[2019-11-14 21:01] mthld commented on #12704
FYI we even receive email notification when we are marked as « away » and someone is writing to us in private chat.

Something is definitely broken on Mattermost end, there is no plugin or webhook involved in this.

[2019-11-14 22:15] mattermod opened #13094 "Rolling update Mattermost pods when the Mattermost Operator changes deployment environment variables"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Part of the job of the operator is to make sure that all resources that the operator cares about for its installations/deployments are correct and up to date. Right now when the Mattermost version is updated in the ClusterInstallation spec,

[2019-11-14 22:48] Pomyk opened #13095 "Search input of channel members modal not working correctly"
#### Summary
Search input of channel members modal clears it's value when typing.

#### Steps to reproduce
Using current master branch, when I type something into the search of members modal the input keeps resetting. Search works, but it's hard to write something longer than 1-2 letters.

#### Expected behavior
The input shouldn't be resetting.

#### Possible fixes
Git bisect leads to: https://gi

[2019-11-14 22:58] sunsingerus commented on #13094
I'll take this one!

[2019-11-15 00:15] crspeller commented on #13088
I think I agree with @reflog here. If this issue is going to be fixed by go officially next version, let's just wait for that. Unless we are running into critical issues.

[2019-11-15 00:42] gabrieljackson commented on #13094
Thanks @sunsingerus!

[2019-11-15 00:42] amyblais commented on #12704
Could you help with more information about [your environment from here](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and share your config settings? Do you have log errors from the time this issue occurred https://github.com/mattermost/mattermost-server/issues/12704#issuecomment-554077595?

[2019-11-15 00:52] amyblais commented on #13095
Thank you, opened a ticket here: https://mattermost.atlassian.net/browse/MM-20180.

[2019-11-15 03:24] agnivade commented on #13088
Oh I see that it's already in tip ! That's great, let's wait for 1.14 then. Thanks for your input @reflog and @crspeller !

[2019-11-15 04:19] #11900 closed

[2019-11-15 05:07] MathewtheCoder opened #13097 "Reduce the size of web app using code splitting and tree shaking."
#### Summary
Currently the entire webapp with Messaging and admin has to be downloaded by the user to use the website.

#### Expected behavior
1) We need to lazy load only required portions of webapp.
2) If tree shaking is supported by the modules used we have to take advantage.

#### Possible fixes
Use react new feature **Lazy** and **Suspence** to lazy load required portions.
Also importing only

[2019-11-15 08:44] jespino commented on #13067
@M-ZubairAhmed actually it is already fixed here: https://github.com/mattermost/mattermost-webapp/pull/4202

[2019-11-15 08:45] #13067 closed

[2019-11-15 09:24] #13048 closed

[2019-11-15 09:30] mattermod opened #13098 "Migrate lastPostsCache cache from store/sqlstore/post_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `lastPostsCache` cache variable in the `store/sqlstore/post_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/post_store.go

[2019-11-15 09:30] mattermod opened #13099 "Migrate lastPostTimeCache cache from store/sqlstore/post_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `lastPostTimeCache` cache variable in the `store/sqlstore/post_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/post_store

[2019-11-15 09:30] mattermod opened #13100 "Migrate channelByNameCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `channelByNameCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/channe

[2019-11-15 09:30] mattermod opened #13101 "Migrate channelCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `channelCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/channel_stor

[2019-11-15 09:30] mattermod opened #13102 "Migrate allChannelMembersNotifyPropsForChannelCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `allChannelMembersNotifyPropsForChannelCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to t

[2019-11-15 09:30] mattermod opened #13103 "Migrate allChannelMembersForUserCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `allChannelMembersForUserCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqls

[2019-11-15 09:30] mattermod opened #13104 "Migrate channelGuestCountsCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `channelGuestCountsCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/c

[2019-11-15 09:30] mattermod opened #13105 "Migrate channelPinnedPostCountsCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `channelPinnedPostCountsCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlst

[2019-11-15 09:30] mattermod opened #13106 "Migrate channelMemberCountsCache cache from store/sqlstore/channel_store.go to the new store/localcachelayer"
Mattermost is migrating the old way to implement caches moving them behind a transparent layer on to of the store and we're looking for contributors to help with that effort. This Help Wanted issue is to migrate the `channelMemberCountsCache` cache variable in the `store/sqlstore/channel_store.go` file to the `store/localcachelayer`.

The expected way to implement it is, go to the `store/sqlstore/

[2019-11-15 09:57] larkox opened #13107 "Tests fail due to changes in MinIO default port"
#### Summary
Tests fail due to changes in MinIO default port from 9001 to 9000

#### Steps to reproduce
If you run the tests, in particular 'api4/system_test.go' -> TestS3TestConnection, the test will fail.

#### Expected behavior
The master branch should pass all the tests.

#### Observed behavior (that appears unintentional)
The master branch is not passing all the tests.

#### Possible fixes
Ch

[2019-11-15 10:12] mgdelacroix opened #13109 "Add unit tests to "updateUserEmailCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `updateUserEmailCmd` command, in the

[2019-11-15 10:14] mgdelacroix opened #13110 "Add unit tests to "ResetUserMfaCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ResetUserMfaCmd` command, in the `c

[2019-11-15 10:14] mgdelacroix opened #13111 "Add unit tests to "CommandCreateCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `CommandCreateCmd` command, in the `

[2019-11-15 10:14] mgdelacroix opened #13112 "Add unit tests to "CommandListCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `CommandListCmd` command, in the `co

[2019-11-15 10:15] mgdelacroix opened #13113 "Add unit tests to "CommandDeleteCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `CommandDeleteCmd` command, in the `

[2019-11-15 10:15] mattermod opened #13114 "Add unit tests to "PluginDisableCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginDisableCmd` command, in the `

[2019-11-15 10:15] mattermod opened #13115 "Add unit tests to "PluginEnableCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginEnableCmd` command, in the `c

[2019-11-15 10:15] mgdelacroix opened #13116 "Add unit tests to "LdapSyncCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `LdapSyncCmd` command, in the `comma

[2019-11-15 10:15] mattermod opened #13117 "Add unit tests to "PluginDeleteCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginDeleteCmd` command, in the `c

[2019-11-15 10:15] mattermod opened #13118 "Add unit tests to "PluginAddCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginAddCmd` command, in the `comm

[2019-11-15 10:15] mgdelacroix opened #13119 "Add unit tests to "PluginAddCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginAddCmd` command, in the `comm

[2019-11-15 10:15] mattermod opened #13120 "Add unit tests to "LdapSyncCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `LdapSyncCmd` command, in the `comma

[2019-11-15 10:15] mgdelacroix opened #13121 "Add unit tests to "PluginDeleteCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginDeleteCmd` command, in the `c

[2019-11-15 10:15] mattermod opened #13122 "Add unit tests to "CommandDeleteCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `CommandDeleteCmd` command, in the `

[2019-11-15 10:15] mgdelacroix opened #13123 "Add unit tests to "PluginEnableCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginEnableCmd` command, in the `c

[2019-11-15 10:15] mgdelacroix opened #13124 "Add unit tests to "PluginDisableCmd" to use testify"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginDisableCmd` command, in the `

[2019-11-15 10:18] mgdelacroix commented on #13122
Duplicate

[2019-11-15 10:18] #13122 closed

[2019-11-15 10:18] mgdelacroix commented on #13120
Duplicate

[2019-11-15 10:18] #13120 closed

[2019-11-15 10:18] mgdelacroix commented on #13118
Duplicate

[2019-11-15 10:18] #13118 closed

[2019-11-15 10:18] mgdelacroix commented on #13117
Duplicate

[2019-11-15 10:18] #13117 closed

[2019-11-15 10:18] mgdelacroix commented on #13115
Duplicate

[2019-11-15 10:18] #13115 closed

[2019-11-15 10:18] mgdelacroix commented on #13114
Duplicate

[2019-11-15 10:18] #13114 closed

[2019-11-15 10:18] larkox commented on #13124
May I take this one?

[2019-11-15 10:19] mgdelacroix commented on #13124
Sure thing! Thanks @larkox !!

[2019-11-15 10:42] mthld commented on #12704
Hi Amy,

There is 0 log errors at the time this issue occurred ~2019-11-14T22:00:00.000+0100.

Here are the informations about our environment:

- OS: Debian GNU/Linux 10 "Buster"
- Kernel: 4.19.0-6-amd64
- Mattermost Version: 5.16.2
- Database Schema Version: 5.16.0
- DB server: Postgresql 12+210.pgdg100+1

Here is our config file (minus some redacted private infos):
[code]

Thank you for helping

[2019-11-15 11:30] Pomyk commented on #13119
I can take it.

[2019-11-15 12:25] RajatVaryani commented on #13035
Yes I tried. The issue is no more reproducible. I am closing the issue.
Thank you.

[2019-11-15 12:25] #13035 closed

[2019-11-15 12:43] larkox commented on #12281
Would this test make sense using only one browser?

Cypress does not allow multiple browsers (https://docs.cypress.io/guides/references/trade-offs.html#Multiple-browsers-open-at-the-same-time ), and there are some workarounds, but I am not sure they will work fine for these tests.

What do you think?

[2019-11-15 13:12] enolal826 commented on #13109
I'd like to work on this

[2019-11-15 13:16] mgdelacroix commented on #13109
Great! All yours @enolal826!

[2019-11-15 13:44] amyblais commented on #13097
Thanks, appreciate your feedback,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2019-11-15 14:13] #12886 closed

[2019-11-15 14:28] larkox commented on #13106
May I take this one?

[2019-11-15 14:40] GCHQ77703 opened #13126 "'Select Team' only shows first"
#### Summary
If you have more than 195 teams that you can join, not all of them display on the 'select_team' page.

#### Steps to reproduce
1. Create ~200 public teams with varying names.  Remember the name of the last team alphabetically.
2. Create a new user, observe this person cannot join the last five teams alphabetically.

#### Expected behavior
A user should be able to see all teams they ca

[2019-11-15 14:42] srkgupta commented on #12296
Closing the issue as the PR is merged

[2019-11-15 14:42] #12296 closed

[2019-11-15 14:54] amyblais commented on #13126
@GCHQ77703 Please help share more information about your environment from here along with Mattermost logs https://docs.mattermost.com/process/support.html?highlight=support#general-questions-for-any-issues.

[2019-11-15 14:57] amyblais commented on #13126
Actually, I'll close this for now as a duplicate of this Help Wanted issue that's already open: https://github.com/mattermost/mattermost-server/issues/11265.

[2019-11-15 14:57] #13126 closed

[2019-11-15 15:03] larkox commented on #13116
May I take this one?

[2019-11-15 15:21] GCHQ77703 commented on #13126
Whoops, apparently my Github searching isn't up to par, thanks for pointing out that other issue!

[2019-11-15 15:34] allenlai18 commented on #12003
my PR is merged for this. If someone can change the labels on this when they get a chance!

[2019-11-15 16:01] streamer45 commented on #10347
@Pomyk  Thank you for your excellent analysis :+1:
Would love to see some benchmarks of the queries involved before and after your proposed changes. Does that sound good?
Also, if you need any help, we can move the the discussion to the [~Developers: Performance](https://community.mattermost.com/core/channels/developers-performance) channel.

[2019-11-15 16:31] mgdelacroix commented on #13116
Sure @larkox, all yours!

[2019-11-15 16:58] #13049 closed

[2019-11-15 17:31] larkox commented on #13113
May I take this one?

[2019-11-15 18:08] Pomyk commented on #10347
OK, I will do some benchmarks.

[2019-11-15 18:29] jimiolaniyan commented on #13123
Can I work on this one?

[2019-11-15 18:32] allenlai18 commented on #13111
I will work on this

[2019-11-15 18:57] larkox commented on #13099
May I take this one?

[2019-11-15 18:58] jespino commented on #13123
@jimiolaniyan sure, go ahead :)

[2019-11-15 18:58] jespino commented on #13113
Sure, go ahead :)

[2019-11-15 18:59] jespino commented on #13111
Awesome, Thanks @allenlai18!

[2019-11-15 18:59] jespino commented on #13106
Sure! :)

[2019-11-15 19:00] jespino commented on #13099
Sure, go ahead

[2019-11-15 21:49] fm2munsh commented on #11241
This seems like a good first ticket for me, could you assign it to me?

[2019-11-16 01:00] #12916 closed

[2019-11-16 03:41] #12841 closed

[2019-11-16 05:36] 3mard commented on #13112
i'd like to take this

[2019-11-16 07:37] agnivade opened #13129 "Move CI away from GOPATH mode to module mode"
#### Summary

The circleCI config clones the repo in a GOPATH structured tree. This is not needed now as we are using module mode, and it is enabled by default in 1.13 when a go.mod is present.

We can do this in an incremental manner:

1. As a baby step, we can start by slowly removing the "src/github.com/mattermost/" paths to be just "mattermost/" in the circleCI config.

2. And then specify a `

[2019-11-16 08:41] cpanato commented on #12756
fixed
[code]

and

[code]

[2019-11-16 08:41] #12756 closed

[2019-11-16 09:15] larkox commented on #13110
May I take this one?

[2019-11-16 15:00] RajatVaryani commented on #13121
I will be working on this one.

[2019-11-16 15:19] RajatVaryani commented on #13101
I will be working on this one.

[2019-11-17 06:41] mujz commented on #9406
Just some notes for whoever picks this ticket up, it seems to me that the work required to resolve this issue is to add [scrollbar-color](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars) CSS property to [_scrollbar.scss](https://github.com/mattermost/mattermost-webapp/blob/master/sass/components/_scrollbar.scss).

[2019-11-17 07:45] ilgooz opened #13131 "KVSetWithOptions(): Unexpected behaviors presents with nil values when EncodeJSON enabled"
### Summary
When `EncodeJSON=true`, `isSet, err := KVSetWithOptions(key, newValue, options)` API behaves unexpectedly while dealing with `nil` values.

Unexpected behavior happens for both cases when  `PluginKVSetOptions.OldValue` or `newValue` set to `nil`.

**Unexpected behavior 1: OldValue=nil, newValue=anything**
When `OldValue=nil`, even if the _key_ is never used before, _newValue_ cannot be

[2019-11-17 12:53] hector2 commented on #13071
Already migrated in https://github.com/mattermost/mattermost-server/pull/13125

[2019-11-17 17:05] mgdelacroix commented on #13110
Sure, all yours @larkox!!

[2019-11-17 20:13] rvillablanca commented on #13098
I would like to work in this @jespino

[2019-11-17 20:30] allenlai18 commented on #13104
Can I take this one?

[2019-11-17 21:52] larkox commented on #13105
May I take this one?

[2019-11-18 02:17] GauthierPLM opened #13136 "Support of ACMEv2 protocol"
#### Summary
LetsEncrypt Certificate Generation not working for new domains due to ACMEv1 deprecation

#### Steps to reproduce
Install community version 5.16.3 (Nov 6, 2019) on Current Ubuntu 18.04 LTS
Follow instructions as in https://docs.mattermost.com/install/install-ubuntu-1804.html 1
When you get to “configuring-tls-on-mattermost-server” , step 3, choose the LetsEncrypt option.
Attempt to co

[2019-11-18 04:45] smacgregor commented on #12353
@hanzei  - I'm interested in picking this up if it's up for grabs again.

[2019-11-18 08:38] hanzei commented on #12353
Sure, thanks for working on this @smacgregor :+1:

[2019-11-18 09:13] larkox commented on #12263
May I take this one? Also, what do you mean with the second step? Feels like there is something missing.

[2019-11-18 09:13] hanzei commented on #13104
Sure, thanks @allenlai18

[2019-11-18 09:20] saturninoabril commented on #12263
@larkox Sure and thanks for catching up.  I've updated step 2.

[2019-11-18 09:32] hanzei commented on #11241
Sure, thanks for taking a shot. Let me know if you have any questions or stubble across any issues @fm2munsh

[2019-11-18 09:47] #12392 closed

[2019-11-18 09:59] 3mard commented on #13103
May I take this one

[2019-11-18 10:23] hanzei commented on #12003
Fixed with https://github.com/mattermost/mattermost-webapp/pull/4199. Thanks for the contribution @allenlai18 :tada:

[2019-11-18 10:23] #12003 closed

[2019-11-18 10:29] hanzei commented on #12936
@a8uhnf Do you have any questions? Is the ticket clear to you?

[2019-11-18 10:31] hanzei commented on #12781
Making this one available for the public again due to inactivity.

[2019-11-18 10:31] hanzei commented on #12624
Making this one available for the public again due to inactivity.

[2019-11-18 10:40] #12869 closed

[2019-11-18 10:44] rfoyard commented on #12624
Hi @hanzei,
Sorry for the delay, I have implemented a new plugin hook in the server (I talked about this with @cpoile) but I haven't been able to work on the plugin yet.
I will open a PR with my changes to the server and will try to work on the plugin asap.

[2019-11-18 10:50] hanzei commented on #12624
Thanks for the update @rfoyard. If we can help in any way, let us please know.

[2019-11-18 12:22] hanzei commented on #12097
@kuchcakova Gentle reminder about this. Did you encounter any issues?

[2019-11-18 12:57] sunsingerus commented on #13094
It looks like `maxUnavailable` is too high. What [this code block](https://github.com/mattermost/mattermost-operator/blob/e7662d3db88e5c59df1f119fa1d16ecacb0e5dd9/pkg/apis/mattermost/v1alpha1/clusterinstallation_utils.go#L525) actually means: there would be kept 1 available replica only out of `Replicas` number specified during update. Only 1 available replica may be insufficient. For example, the

[2019-11-18 13:27] #12298 closed

[2019-11-18 13:45] jespino commented on #13098
Awesome, go ahead :)

[2019-11-18 14:45] S1M0N commented on #12704
Hi there, this seems similar to #11434 (Point 1 in OP, and my point in my followup comment), where email notifications are still sent even if user has them set to never. @amyblais Indicated this was resolved in `v5.14`, however we are still seeing this issue while on `v5.14.2`.

[2019-11-18 14:48] larkox commented on #12281
I think I found a viable workaround for this. May I take this one?

[2019-11-18 14:51] saturninoabril commented on #12281
@larkox Cool.  `cy.postMessageAs` to post as another user and `cy.externalRequest` to delete a post might be useful for this.

[2019-11-18 15:45] mattermod opened #13144 "Improve output of mattermost restore channel command"
Repro steps:
1. Run `mattermost channel restore` command on any archived channel

Observed: Command exits and there is no output indicating success
Expected: No unrelated errors and some output indicating success

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, wher

[2019-11-18 16:02] lieut-data commented on #13131
Great eagle eyes, @ilgooz -- My inclination is to revert the change from v5.18 so that we can address these issues properly before the public release. Of course, this will be much easier once we move all of this to a separate repository.

@hanzei, any objections with the plan to revert?

[2019-11-18 16:30] mattermod opened #13145 "Add aria-labels to post boxes and search bars"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[https://dequeuniversity.com/rules/axe/3.3/label?application=AxeChrome](https://dequ

[2019-11-18 16:30] mattermod opened #13146 "Fix the use of aria-hidden on the post component to be WCAG compliant."
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
https://dequeuniversity.com/rules/axe/3.3/aria-hidden-focus?application=AxeChrome

T

[2019-11-18 16:45] mattermod opened #13147 "WCAG Level AA violation - searchUsersInput is missing a label"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[https://dequeuniversity.com/rules/axe/3.3/label?application=AxeChrome](https://dequ

[2019-11-18 19:00] mattermod opened #13150 "Remove duplicate id uses by the search container"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[<ins> </ins>](https://dequeuniversity.com/rules/axe/3.3/duplicate-id?application=Ax

[2019-11-18 19:14] crspeller commented on #12855
@ChrisDobby Looks like this was done as part of the above ticket. Sorry for the confusion!

[2019-11-18 19:14] #12855 closed

[2019-11-18 19:15] mattermod opened #13151 "Remove/fix duplicate uses of post-list"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[<ins> </ins>](https://dequeuniversity.com/rules/axe/3.3/duplicate-id?application=Ax

[2019-11-18 19:15] mattermod opened #13152 "WCAG: Remove/fix duplicate uses of postMessageText_ prefix id"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[<ins> </ins>](https://dequeuniversity.com/rules/axe/3.3/duplicate-id?application=Ax

[2019-11-18 19:48] larkox commented on #13152
May I take this one?

[2019-11-18 21:14] larkox commented on #12284
May I take this one?

[2019-11-19 01:16] amyblais commented on #13129
Thanks, appreciate your feedback,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2019-11-19 03:26] agnivade commented on #13129
Thanks @amyblais. The feature idea forum seems to be for features which people want to see, and therefore upvote them. This issue is more of a cleanup type and invisible to the users. I wouldn't categorize it as a feature request. I posted a similar [issue](https://github.com/mattermost/mattermost-server/issues/13088) which was discussed on Github itself.

[2019-11-19 04:31] saturninoabril commented on #12294
@jgbaylon Thank you for your contribution!

[2019-11-19 04:34] saturninoabril commented on #11744
@allenlai18 PR has been merged.  Thank you for your contribution!

[2019-11-19 07:51] Fodoj opened #13157 "Pasting code from GitHub results in broken markup and loss of text"
#### Summary

In Mattermost 5.14 and up till latest version pasting a code from Github results in a somehow  broken formatting. Go to any repo in Github, copy and paste code (not from raw file, but via normal github code viewer) into Mattermost new message field, in web client and you will see it.

#### Steps to reproduce

5.16.3

For example, go here https://github.com/containers/libpod/blob/mast

[2019-11-19 09:15] igomonov88 commented on #12781
I will take it!

[2019-11-19 09:36] saturninoabril commented on #12295
@jgbaylon Thanks!  PR is recently merged.

[2019-11-19 10:23] supromikali commented on #13157
I confirm the issue with latest mattermost build: pasting the code from GitHub repo into a chat message adds all extra markup chars like line breaks, tabs etc and looks like this:

[code]
the code example is taken from mattermost server repo https://github.com/mattermost/mattermost-server/blob/master/app/app.go#L1

it would be nice to have clean markup instead like this:
[code]

[2019-11-19 10:26] #13070 closed

[2019-11-19 10:44] larkox commented on #11748
May I take this one?

[2019-11-19 11:30] mattermod opened #13158 "Add unit tests to the "RemoveLicenseCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `RemoveLicenseCmd` command, in the `

[2019-11-19 11:30] mattermod opened #13159 "Add unit tests to the "UploadLicenseCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `UploadLicenseCmd` command, in the `

[2019-11-19 11:30] mattermod opened #13160 "Add unit tests to the "PostCreateCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PostCreateCmd` command, in the `com

[2019-11-19 11:30] mattermod opened #13161 "Add unit tests to the "PluginListCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `PluginListCmd` command, in the `com

[2019-11-19 12:17] larkox commented on #13161
May I take this one?

[2019-11-19 13:30] mattermod opened #13162 "Search input box should get focus when Plugin Marketplace modal is opened"
Give focus to the search input box when plugins marketplace modal is opened

Steps to reproduce
1. Login into Mattermost as an admin
2. Click main-menu (hamburger icon)
3. Click plugins marketplace

Observe the search input box doesn't get focus, we want to give focus to the search box when the modal opens so a user can start typing immediately.

----
If you're interested please comment here and c

[2019-11-19 13:33] M-ZubairAhmed commented on #13162
i would like to work on this please

[2019-11-19 13:34] ali-farooq0 commented on #13162
Thanks @M-ZubairAhmed!

[2019-11-19 13:41] amyblais commented on #12704
Ticket was opened for this here: https://mattermost.atlassian.net/browse/MM-20260. Devs said the issue might have something to do with email batching.

[2019-11-19 13:47] S1M0N commented on #12704
Thanks for the update @amyblais. We did have batching enabled on our server, so I've just disabled it and will test on our end and update with results.

[2019-11-19 13:52] jimiolaniyan commented on #13158
Can I take this one?

[2019-11-19 13:53] jimiolaniyan commented on #13159
Can I take this one?

[2019-11-19 14:16] #13112 closed

[2019-11-19 14:30] mattermod opened #13163 "Remove the alpha channel selector from the ChromePicker in the ColorInput component"
Remove the alpha channel selector from the ChromePicker in the ColorInput component

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join

[2019-11-19 14:31] larkox commented on #13163
May I take this one?

[2019-11-19 14:59] jespino commented on #13163
Sure, go ahead

[2019-11-19 15:38] #12454 closed

[2019-11-19 15:38] #12457 closed

[2019-11-19 16:53] #12288 closed

[2019-11-19 18:35] esethna commented on #11947
Thanks @courtneypattison!

1. That's correct, the admin can configure the colors of the login screen buttons (after the server screen) and those should be respected.
2. Ideally we would include the UI updates for both dark & light themes in this ticket, but if you'd prefer they're separated we can accommodate that as well.
3. I will leave that to @andrewbrown00 or @migbot to answer.
4. @migbot?
5.

[2019-11-19 19:37] isacikgoz commented on #13160
I can grab this one.

[2019-11-19 19:48] courtneypattison commented on #11947
Thank you @esethna!

I decided to create a couple of stylesheets where the global of styles are for light and dark colours. One of the two stylesheets gets loaded depending on the detected colour scheme. For the admin configured buttons on the login screen, should those be in the old style with the border? Also, is it possible to get a copy of the logos from the mock so I can add them to the PR? I

[2019-11-19 20:14] saturninoabril opened #13165 "UI Automation: Write an automated test using Cypress for "Can change Help Link setting""
**Test Key:** SC20330

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Help Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that the value

[2019-11-19 20:14] saturninoabril opened #13166 "UI Automation: Write an automated test using Cypress for "Can change Custom Brand Image setting""
**Test Key:** SC20336

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Custom Brand Image setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that

[2019-11-19 20:14] saturninoabril opened #13167 "UI Automation: Write an automated test using Cypress for "Can change Terms of Service Link setting""
**Test Key:** SC20329

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Terms of Service Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify th

[2019-11-19 20:14] saturninoabril opened #13168 "UI Automation: Write an automated test using Cypress for "Can change Privacy Policy Link setting""
**Test Key:** SC20334

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Privacy Policy Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that

[2019-11-19 20:14] saturninoabril opened #13169 "UI Automation: Write an automated test using Cypress for "Can change Enable Custom Branding setting""
**Test Key:** SC20339

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Enable Custom Branding setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify t

[2019-11-19 20:14] saturninoabril opened #13170 "UI Automation: Write an automated test using Cypress for "Can change Site Name setting""
**Test Key:** SC20335

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Site Name setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that the value

[2019-11-19 20:14] saturninoabril opened #13171 "UI Automation: Write an automated test using Cypress for "Can change iOS App Download Link setting""
**Test Key:** SC20340

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change iOS App Download Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify th

[2019-11-19 20:14] saturninoabril opened #13172 "UI Automation: Write an automated test using Cypress for "Can change Report a Problem Link setting""
**Test Key:** SC20331

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Report a Problem Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify th

[2019-11-19 20:14] saturninoabril opened #13173 "UI Automation: Write an automated test using Cypress for "Can change Custom Brand Text setting""
**Test Key:** SC20342

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Custom Brand Text setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that t

[2019-11-19 20:14] saturninoabril opened #13174 "UI Automation: Write an automated test using Cypress for "Can change Mattermost Apps Download Page Link setting""
**Test Key:** SC20333

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Mattermost Apps Download Page Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text

[2019-11-19 20:14] saturninoabril opened #13175 "UI Automation: Write an automated test using Cypress for "Can change Android App Download Link setting""
**Test Key:** SC20338

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Android App Download Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verif

[2019-11-19 20:14] saturninoabril opened #13176 "UI Automation: Write an automated test using Cypress for "Can change Support Email setting""
**Test Key:** SC20337

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Support Email setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that the v

[2019-11-19 20:14] saturninoabril opened #13177 "UI Automation: Write an automated test using Cypress for "Can change About Link setting""
**Test Key:** SC20341

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change About Link setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that the valu

[2019-11-19 20:14] saturninoabril opened #13178 "UI Automation: Write an automated test using Cypress for "Can change Site Description setting""
**Test Key:** SC20332

**Test file:** `/cypress/integration/system_console/ui_and_api/customization_spec.js`

**Title:** Can change Site Description setting

**Steps:**
1. Login as sysadmin and visit the page "/admin_console/site_config/customization" directly
2. Change set value and save

**Expected:**
1. Verify that the setting, help text and set value is visible and match text
2. Verify that th

[2019-11-19 20:22] esethna commented on #11947
@andrewbrown00 can help get you access to the assets in the mock.

Re admin configured buttons, that's a good question, I would propose we keep a border on those since we don't want to throw away admin configurations. We may just want to restyle the buttons shape/alignment to match the proposed new designs. Happy to work with you on this more closely if you think is necessary before we get to some

[2019-11-19 20:55] S1M0N commented on #12704
Following up on the above regarding email batching, we disabled batching and issue still presents.

[2019-11-19 21:31] andrewbrown00 commented on #11947
Hi @courtneypattison 😄

I've added you to the Invision project using your `courtneyp@ttison.ca email`. Let me know if you don't receive the invite.

**Design Files**
- Dark Mode: https://projects.invisionapp.com/share/H2T1YTSSVPT#/screens/374196008
- Light Mode: https://projects.invisionapp.com/share/H2T1YTSSVPT#/screens/374196036

**Using Invision Inspect** (you can ignore this if you've used it

[2019-11-19 21:57] #13025 closed

[2019-11-19 22:26] #13124 closed

[2019-11-19 22:28] #13116 closed

[2019-11-19 22:40] #13113 closed

[2019-11-19 22:45] mattermod opened #13179 ""Send message on Ctrl+Enter" should say "Cmd+Enter" on a Mac"
On Mac, this setting should have the title "Send messages on ⌘+ENTER" and the help text should read "When enabled, ⌘ + ENTER will send the message and ENTER inserts a new line.

![](Screen Shot 2019-09-17 at 9.54.09 AM.png|thumbnail)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our dai

[2019-11-19 23:29] promulo commented on #13144
Hello, I was wondering if this would be a good first issue to work on. Does it make sense for a project newbie to take it? :slightly_smiling_face:

[2019-11-20 08:07] craph commented on #13092
Thank you @amyblais for your answer.

But why use `~`  because in the two links I mentionned in my previous message explains to use `!`

There is no documentation about that.

[2019-11-20 12:50] allenlai18 commented on #11955
i will look into this

[2019-11-20 13:27] amyblais commented on #13092
@craph Those are old Jira tickets. You can open a doc issue in the docs repo for us to add documentation for it.

[2019-11-20 14:03] #13098 closed

[2019-11-20 14:11] amyblais commented on #13068
Closing as this was fixed for v5.17,

[2019-11-20 14:11] #13068 closed

[2019-11-20 14:12] amyblais commented on #13022
Closing as there hasn't been updates on this for a while. Please re-open this issue if the problem persists,

[2019-11-20 14:12] #13022 closed

[2019-11-20 14:13] amyblais commented on #12981
Closing for now as there hasn't been updates on this for a while. Please re-open this issue if the problem persists or continue the discussion in the Developers channel linked above,

[2019-11-20 14:13] #12981 closed

[2019-11-20 14:15] amyblais commented on #12327
Closing as the PR above was merged, please re-open this issue if the problem persists,

[2019-11-20 14:15] #12327 closed

[2019-11-20 14:39] #13050 closed

[2019-11-20 14:39] M-ZubairAhmed commented on #13151
can i take this ?

[2019-11-20 14:43] M-ZubairAhmed commented on #12614
update: working on this one, sorry it slipped past my notification

[2019-11-20 15:03] allenlai18 commented on #13179
I will work on this

[2019-11-20 15:16] allenlai18 commented on #13179
i will take this

[2019-11-20 15:22] amyblais commented on #13136
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-20608.

[2019-11-20 15:54] amyblais commented on #13157
@hmhealey Do you know if this is related to https://mattermost.atlassian.net/browse/MM-10003 or is a separate issue?

[2019-11-20 15:54] #13110 closed

[2019-11-20 16:28] esethna commented on #13179
@hmhealey any guidance you can provide here ^?

[2019-11-20 16:38] andrewbrown00 commented on #11947
Thanks for bringing this up @courtneypattison, I've never come across this before.

Let's continue to use RGBA for now, but we are actively working on the color system as part of our UI Redesign and I will add this to the ticket for the design team to review with dev and see what kind of performance hits we are taking right now.

[2019-11-20 16:53] hmhealey commented on #13157
No, that ticket would only affect Markdown after it's posted.

It looks like the code that handles pasting data from Excel is broken because the pasted text is being turned into a table. That feature was added back in January, so it may have been broken since back then (https://github.com/mattermost/mattermost-webapp/pull/2246), but the code for it was updated early in October as well (https://git

[2019-11-20 16:55] hmhealey commented on #13179
In that case, you could have two separate strings in `en.json` and switch between them in the JS code. I believe that's what we do elsewhere for OS-specific translation strings.

[2019-11-20 17:14] allenlai18 commented on #13179
Actually, i figured out a way!

[2019-11-20 17:15] hmhealey commented on #9502
FYI, we decided that this feature should only be supported on Chrome and Firefox since we've ran into issues with consistency when changing the favicon on Edge and Safari. I've updated the ticket description to reflect that

[2019-11-20 17:15] hmhealey commented on #9502
Hi @jkl5616. Are you still working on this? Is there anything we can help with?

[2019-11-20 17:36] amyblais commented on #13157
Ticket here: https://mattermost.atlassian.net/browse/MM-20613.

[2019-11-20 17:47] saturninoabril commented on #12272
PR has been merged.  Thank you @larkox for your contribution!

[2019-11-20 17:47] #12272 closed

[2019-11-20 18:52] saturninoabril commented on #11741
PR has been merged.  Thanks @sij507 for your contribution!

[2019-11-20 18:52] #11741 closed

[2019-11-20 20:24] jasonblais commented on #12854
This has now been resolved

[2019-11-20 20:24] #12854 closed

[2019-11-20 21:24] allenlai18 commented on #13150
can i work on this?

[2019-11-20 21:39] allenlai18 commented on #13030
May i take this one?

[2019-11-20 21:41] allenlai18 commented on #13100
May i take this one?

[2019-11-20 21:46] sij507 commented on #13170
@saturninoabril I am not sure what you mean by "Verify that the setting, help text and set value is visible and match text", can you explain a bit more in details? Thanks!

[2019-11-20 21:47] amyblais commented on #13092
Actually, it's already in the documentation: https://docs.mattermost.com/help/messaging/keyboard-shortcuts.html#messages.

Feel free to open an issue in the docs repo if you'd like to suggest making it clearer,

[2019-11-20 21:47] #13092 closed

[2019-11-20 22:41] hanzei commented on #9506
@M-ZubairAhmed will work on this

[2019-11-20 22:56] #13066 closed

[2019-11-20 22:59] hanzei commented on #12781
Thanks @igomonov88 :+1:

[2019-11-20 23:00] hanzei commented on #13030
Surely, thanks @allenlai18

[2019-11-20 23:14] carlspring opened #13184 "Simplify the way editing a message works"
1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://mattermost.atlassian.net/issues/) to ensure that the ticket does not already exist.

This is a change request.

2. Confirm your issue does not involve security. Otherwise, please see our [Responsible Disclosure Policy](https://about.mattermost.com/report-security-issue/).

It does not involve security.

3. [File a new

[2019-11-21 00:03] amyblais commented on #13184
Thanks, appreciate your feedback,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2019-11-21 00:04] saturninoabril commented on #13170
@sij507 Thanks for asking.

<img width="924" alt="Screen Shot 2019-11-21 at 7 57 07 AM" src="https://user-images.githubusercontent.com/5334504/69288554-ec450380-0c34-11ea-81e3-7489c1eed0b5.png">

[1] Check that the [setting name is visible and matches the text](https://github.com/mattermost/mattermost-webapp/pull/4262/files#diff-4e2f1cb9fa9c43aec2745e547d241001R27-R29)

[2] Check that the [input b

[2019-11-21 00:25] #13071 closed

[2019-11-21 00:32] amyblais commented on #13144
@grundleborg Would you know?

[2019-11-21 03:41] srkgupta commented on #12290
PR submitted and merged:
https://github.com/mattermost/mattermost-webapp/pull/4246

[2019-11-21 03:41] #12290 closed

[2019-11-21 03:54] srkgupta commented on #12286
PR submitted and merged
https://github.com/mattermost/mattermost-webapp/pull/4233

[2019-11-21 03:54] #12286 closed

[2019-11-21 11:54] evalevanto commented on #13102
I'd lieke to take up this issue :)

[2019-11-21 14:35] sij507 commented on #13170
@saturninoabril Thanks! I would like to work on this ticket.

[2019-11-21 14:35] saturninoabril commented on #13170
@sij507 Cool, thanks!

[2019-11-21 15:10] ali-farooq0 commented on #12704
@S1M0N, @mthld, I'm the dev currently working on this issue and I think I have may found the root cause. Looks like it is related to a user-channel notification preference set on the server, which is not exposed through the UI.

Can you both confirm whether this issue is happening for _everyone_ or just a few individuals?

Do you mind running this query and sharing the result for user/channel comb

[2019-11-21 15:42] mthld commented on #12704
hi @ali-farooq0

here are my answers

It happens to all team members.

It doesn't seems to be the case:
[code]

Let's try another combination:
[code]

Thanks,

[2019-11-21 16:08] ali-farooq0 commented on #12704
Appreciate the quick response @mthld. Well that's unfortunate ;p Do you mind running the following to confirm their email settings as well, thanks!

[code]

[2019-11-21 16:12] grundleborg commented on #13144
Hi @promulo - I think it would be a reasonably simple ticket, although if it's your first ever one, you might want to try one with the `Difficulty: Easy` label first.

[2019-11-21 17:23] mthld commented on #12704
Dear @ali-farooq0 you're welcome,

Sadly I get an error I've never encountered in the past:
[code]

Maybe I'm missing something?

[2019-11-21 17:29] mthld commented on #12704
Dear @ali-farooq0 ,

It seems like `json_extract` is a MySQL function, can you tell me how to run this for Postgresql?
Thanks,

[2019-11-21 17:36] promulo commented on #13144
Hey @amyblais @grundleborg thanks for replying. In that case I'll have a look at the ones with that label. :slightly_smiling_face:

[2019-11-21 17:38] sij507 commented on #13170
@saturninoabril The site name's setting name and help text don't have element id. I am not familiar with creating element id. I tried, but couldn't figure out how and where to create the element id. Would you mind giving me an example of the site name's setting name and help text? Thanks!

[2019-11-21 17:40] ali-farooq0 commented on #12704
@mthld
Whoops, this should do it:
[code]

[2019-11-21 17:41] fm2munsh commented on #11241
@hanzei I opened a PR yesterday - not sure if you got pinged but would be grateful for a review before it gets too old since it touches a lot of files

[2019-11-21 17:45] mthld commented on #12704
@ali-farooq0 thanks!

Here we are:
[code]

and...
[code]

[2019-11-21 17:49] gigawhitlocks commented on #12859
I can reproduce this on my server, version 5.17, Linux desktop client (Fedora), on both my 1440p display as well as my 1080p display.

[2019-11-21 17:50] ali-farooq0 commented on #12704
Thanks @mthld! looks like `email` is set to `true` which means that the account email notification is not set to `never` so it _is_ expected for these users to get email notifications. Can you confirm what's shown in the notification section in the UI below for them?
![image](https://user-images.githubusercontent.com/25732808/69362904-68534180-0c5d-11ea-9f66-8e8ad6047eda.png)

[2019-11-21 17:52] saturninoabril commented on #13170
Sure, you may add the following data-testid.  Let me know if that works.

[code]

[code]

[2019-11-21 17:56] S1M0N commented on #12704
Hi @ali-farooq0,

Sorry for the delay, so far this is all users, but we have a low usage on this server at then moment and I haven't been able to test as much as I'd like. Also, some of our users do have email notifications turned on so they are expect them and have no complaints.

I attempted the first query you specified above but received no data back from the DB, however on the second query I

[2019-11-21 17:59] amyblais commented on #12859
Ticket: https://mattermost.atlassian.net/browse/MM-20651.

[2019-11-21 18:04] mthld commented on #12704
Hey @ali-farooq0

Here it is:
<img width="818" alt="Screenshot 2019-11-21 at 19 03 13" src="https://user-images.githubusercontent.com/41020854/69363957-b3874780-0c91-11ea-9dd8-68e355bcb845.png">

@myrdinm one's will follow soon.

[2019-11-21 18:12] myrdinm commented on #12704
Here is mine :

<img width="824" alt="Screenshot 2019-11-21 at 19 09 08" src="https://user-images.githubusercontent.com/43375226/69364562-da924900-0c92-11ea-975d-6128287f3bcf.png">

[2019-11-21 18:23] ali-farooq0 commented on #12704
Thanks guys! Looks like @myrdinm has it enabled so that is expected. However for @mthld and @S1M0N the UI is showing `Never` which is not in sync with the DB.

@mthld and @S1M0N, do you guys mind just retriggering the email setting by

1. Set it to `Immediately`, click `Save`.
2. Set it to `Never`, click `Save`
3. Query the DB again using `(SELECT Id, NotifyProps FROM Users WHERE Username='myrdin'

[2019-11-21 18:25] mthld commented on #12704
@ali-farooq0 you're welcome,

Here we are, it looks like that have done it:

[code]

[2019-11-21 18:27] ali-farooq0 commented on #12704
Yeaaa... that fixed it. Do you mind testing out the notification now? Looks like there is an issue with UI being out of sync with the DB.

[2019-11-21 18:27] S1M0N commented on #12704
@ali-farooq0, that seems to have done it for me as well here:
[code]

[2019-11-21 18:32] mthld commented on #12704
LGTM I triggered a webhook that post something in a room and didn't get an email. 👍🏻

[2019-11-21 18:46] ali-farooq0 commented on #12704
Excellent! Phew, glad we figured out what caused it. Now I have to figure how it got into that state 🤔

[2019-11-21 21:54] jesperhansen17 commented on #12030
Can I take a look at this one?

[2019-11-21 22:41] Pomyk commented on #10347
benchmarks: https://github.com/Pomyk/mattermost-server/commit/1b4f4d3c703dbbfe9967efb50be22e82f73cfeb2

some helper scripts I used: https://github.com/Pomyk/mattermost-benchmark-scripts

sample results:
        benchmark                                                    old ns/op     new ns/op     delta
        BenchmarkChannels/mysql/GetPublicChannelsForTeam/1-16        514718        511093

[2019-11-21 22:45] Pomyk commented on #10347
Modified tables:

    CREATE TABLE `Channels` (
      `Id` varchar(26) NOT NULL,
      `CreateAt` bigint(20) DEFAULT NULL,
      `UpdateAt` bigint(20) DEFAULT NULL,
      `DeleteAt` bigint(20) DEFAULT NULL,
      `TeamId` varchar(26) DEFAULT NULL,
      `Type` varchar(1) DEFAULT NULL,
      `DisplayName` varchar(64) DEFAULT NULL,
      `Name` varchar(64) DEFAULT NULL,
      `Header` text,
      `P

[2019-11-21 23:07] sij507 commented on #13170
@saturninoabril Thanks, it works, please review.

[2019-11-22 00:42] sij507 commented on #13178
@saturninoabril I will work on this ticket

[2019-11-22 06:39] hanzei commented on #11241
Hey @fm2munsh,

Thanks for the PR. I will request reviews ASAP. Please be aware that there is currently a Mattermost Hackathon going on. I assume it will take until next week until someone reviews your PR.

[2019-11-22 06:55] hanzei commented on #12030
Sure, thanks @jesperhansen17 :+1:

[2019-11-22 08:53] saturninoabril commented on #13178
@sij507 Cool, thanks!

[2019-11-22 09:42] vladislavhirko opened #13193 "Help me, i can't run mattermost-server + webapp"
Two days ago i started mattermost-server and mattermost-webapp, and it's worked good. But today i tried to run server+webapp and it doesn't work.
I don't know what i doing wrong, help me pls,  there is some logs:

___LOGS___

[code]

[2019-11-22 13:44] amyblais commented on #13193
@vladislavhirko Would you be open to joining our [community server](https://community.mattermost.com/core/) and then joining a channel such as [Peer-to-peer Help](https://community.mattermost.com/core/channels/peer-to-peer-help) or [Ask Anything](https://community.mattermost.com/core/channels/ask-anything) and one of our devs or other community members will be able to help troubleshoot this?

[2019-11-22 13:49] saneletm commented on #13074
https://github.com/mattermost/mattermost-server/pull/13195

[2019-11-22 13:51] jespino commented on #13074
@saneletm Thanks!

[2019-11-22 15:30] mattermod opened #13197 "Improper role usage on <ul> and <li> elements"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the links below.

As part of WCAG, we need to fix the incorrect `role='presentation'` usage on list

[2019-11-22 15:39] #13095 closed

[2019-11-22 15:45] mattermod opened #13198 "WCAG: Elements should not have tabindex greater than zero"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[https://dequeuniversity.com/rules/axe/3.2/tabindex](https://dequeuniversity.com/rul

[2019-11-22 16:38] promulo commented on #13027
Hello, may I take this one as my first issue? :slightly_smiling_face:

[2019-11-22 18:57] #13107 closed

[2019-11-22 19:27] isacikgoz commented on #11777
As far as I see there is a way to add `timeout` to the `tls.Dial(...)` function. Therefore, we can add it therefore we won't get stuck at this step.

After this, as @jespino suggested, we can make server to display an error in the application to inform the admin.

[2019-11-22 20:37] courtneypattison commented on #11947
Awesome, thank you for the information @esethna and @andrewbrown00! I should have something for review in a few days.

[2019-11-23 05:46] soorya54 commented on #10327
I'd like to take this on.

[2019-11-23 13:03] qiuyuzhou opened #13204 "Failed to persist config to mysql when there are CJK characters in config."
#### Summary
I deploy mm with env var MM_CONFIG="mysql://xxxxxx".
Failed to set TeamSettings.SiteName to a string with CJK characters:
[code]
I have tried store config in postgresql db, it's work with CJK characters.

#### Steps to reproduce
mm 5.17.0
On a MM which store config in mysql database. [Configuration in the Mattermost Database](https://docs.mattermost.com/administration/config-in-databa

[2019-11-23 13:22] igomonov88 commented on #13102
Also I can grab it, if @evalevanto change his mind :)

[2019-11-23 21:29] fm2munsh commented on #13147
I'll grab this one

[2019-11-24 05:32] calebroseland commented on #13197
I'll take this one

[2019-11-24 06:06] calebroseland commented on #13146
Could I take this one?

[2019-11-24 16:51] nadalfederer commented on #13165
@saturninoabril hi, I would like to take this task

[2019-11-24 18:04] kosgrz commented on #13167
I can do it.

[2019-11-24 19:57] jesperhansen17 commented on #12030
I can't find any info about the env variable MM_CONFIG, can I assume it will be the connection string as in this [PR](https://github.com/mattermost/mattermost-helm/pull/109)?

Second question is that configJSON object in values.yaml is quite big, should that object be completely removed and all these values are passed in as env variables instead?

[2019-11-24 23:11] deanwhillier commented on #13197
Thanks so much @calebroseland, let us know if you have any questions!

[2019-11-24 23:12] deanwhillier commented on #13146
It’s all yours @calebroseland, thanks. Let us know if you have any questions!

[2019-11-25 04:43] saneletm commented on #13144
Can I please look into this issue?

[2019-11-25 06:24] mujz commented on #9406
@esethna @jasonblais @hanzei can one of you folks confirm if this is still happening? We tried to reproduce this using the steps you defined in above and in [the JIRA ticket](https://mattermost.atlassian.net/browse/MM-12151), but weren't able to get the problem to appear. If you can reproduce it, would you mind specifying the version of Firefox you used to reproduce the error?

Thanks!

[2019-11-25 07:50] saturninoabril commented on #13165
Awesome, thanks @nadalfederer!

[2019-11-25 07:59] saturninoabril commented on #13167
@kosgrz Awesome and thanks!

[2019-11-25 12:52] nadalfederer commented on #13166
@saturninoabril hi, I would like to take this task

[2019-11-25 12:53] nadalfederer commented on #13168
@saturninoabril hi, I would like to take this task

[2019-11-25 12:53] saturninoabril commented on #13166
@nadalfederer Sure and thanks!

[2019-11-25 12:54] saturninoabril commented on #13168
@nadalfederer Sure and thanks!

[2019-11-25 13:29] amyblais opened #13208 "Mattermost v5.18"
You can find key dates for v5.18 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### December 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### December 12th: Release Build Cut

[2019-11-25 13:49] hanzei commented on #9406
I can't repo this on Firefox 70.0.1

![Screenshot from 2019-11-25 14-49-02](https://user-images.githubusercontent.com/16541325/69545779-bedcba80-0f92-11ea-84e4-e8c0bd93b93b.png)

[2019-11-25 14:05] RajatVaryani commented on #13121
@mgdelacroix Please make it open for the public. I won't be able to contribute due to time constraints.

[2019-11-25 14:06] RajatVaryani commented on #13101
@amyblais Please make it open for the public. I won't be able to contribute due to time constraints.

[2019-11-25 14:08] jasonblais commented on #9406
Thanks @mujz and @hanzei. I don't have access to a Windows machine right now, so I'll close this issue and ask QA to help test the Jira ticket. We can reopen if we're able to reproduce it.

Thanks for looking into it!

[2019-11-25 14:08] #9406 closed

[2019-11-25 14:32] amyblais commented on #13204
@qiuyuzhou Do you know if this is a new issue in v5.17.0?

I'm wondering if any of these articles may help:
 - https://docs.mattermost.com/install/i18n.html
 - https://docs.mattermost.com/install/requirements.html#database-software

[2019-11-25 15:46] nmatt opened #13210 "Documentation on muting channels is unclear"
From reading the documentation on muting channels, I can't figure out the following: Does one still get (a) desktop and (b) e-mail notifications for direct mentions on a muted channel?

[2019-11-25 16:18] amyblais commented on #13210
@nmatt Would you be open to re-opening this issue on the docs repo here https://github.com/mattermost/docs/issues and someone on our team can help update the docs?

[2019-11-25 16:54] nmatt commented on #13210
Done (https://github.com/mattermost/docs/issues/3187), sorry about the wrong repo.

[2019-11-25 16:54] #13210 closed

[2019-11-25 19:29] hanzei commented on #13147
Thanks @fm2munsh :+1:

[2019-11-25 19:44] #13058 closed

[2019-11-25 20:06] #12000 closed

[2019-11-25 20:12] nadalfederer commented on #13101
@amyblais hi, I would like to take this task

[2019-11-25 20:18] #13072 closed

[2019-11-25 21:17] fm2munsh commented on #11422
I'll grab this one

[2019-11-26 02:29] qiuyuzhou commented on #13204
The chat messages with CJK characters could be persist and full-text search in the same mysql database.
I guess the problem is not in the DB layer.
@amyblais

[2019-11-26 02:56] nick-brady commented on #12901
Hey there! I started this today and progress was pretty smooth. I still need to clean up the code and do some testing, but I should be able to make a PR soon.

One note, about this:

the "swipe anywhere" is really a separate task, and I [found this issue here](https://github.com/mattermost/mattermost-server/issues/12964) which covers it. My PR addresses the first part of this ticket, which would b

[2019-11-26 03:25] fm2munsh commented on #13177
I'll grab this one

[2019-11-26 08:12] saturninoabril commented on #13177
@fm2munsh Awesome, thanks!

[2019-11-26 08:24] qiuyuzhou commented on #13204
After some dig, I have found the `Posts` table has `DEFAULT CHARSET=utf8mb4`, but the `Configureations` table has `DEFAULT CHARSET=latin1`.

Workaround manual modify the character set:
[code]
Suggest update these code
https://github.com/mattermost/mattermost-server/blob/27375cd081ca5a193a85a4501ec43c1651216147/config/database.go#L99-L103
to
[code]

[2019-11-26 11:36] #11627 closed

[2019-11-26 11:40] #13152 closed

[2019-11-26 14:48] amyblais commented on #13193
Thread here https://community-release.mattermost.com/core/pl/zo9zspagety5fmtbsizaxizq3o.

[2019-11-26 15:44] GCHQ77703 opened #13218 "System Console 'Find settings' does not index plugin names properly."
#### Summary
System Console 'Find settings' does not index plugin names.

#### Steps to reproduce
1. Install Mattermost v5.16.3 with 'Jira' prepackaged plugin
2. Go to System Console as an administrative user.
3. Search for 'Jira'

#### Expected behavior
It comes up with the 'Jira' plugin section.

#### Observed behavior (that appears unintentional)
It comes up with nothing

#### Possible fixes
In

[2019-11-26 15:48] devinbinnie commented on #12473
Hey @KerryAlsace are you still working on this issue?

[2019-11-26 15:50] hanzei commented on #11627
Thanks for fixing this @rvillablanca :+1:

[2019-11-26 16:05] amyblais commented on #13218
We have an existing ticket that will be implemented in 5.18: https://mattermost.atlassian.net/browse/MM-16313. Does this describe your issue?

[2019-11-26 16:09] rvillablanca commented on #11627
You all are welcome! @hanzei

[2019-11-26 16:23] GCHQ77703 commented on #13218
Yep, my bad.  Evidently my 'JIRA-fu' is not up to it.

[2019-11-26 16:23] #13218 closed

[2019-11-26 20:00] mattermod opened #13219 "Inline SVG images in Markdown are not displayed"
Originally reported on GitHub: [https://github.com/mattermost/mattermost-mobile/issues/1481](https://github.com/mattermost/mattermost-mobile/issues/1481)

SVG’s have a special setting, `EnableSVGs`,  in the server configuration that tells the client if the SVG should be rendered or not.

**react-native-svg** added support to [load SVG's from a uri](https://github.com/react-native-community/react-n

[2019-11-26 20:15] mattermod opened #13220 "Clicking on the time in the status bar should scroll center channel up"
This is standard iOS functionality (See iMessage, Whatsapp, Gmail, etc. for examples).

Observed: Currently clicking on timestamp scrolls you downwards in the channel.

Expected:

When you click on the time in the status bar, the center channel or right hand side thread should scroll up to the top of loaded messages (which will cause more messages to automatically load).

----
If you're interested

[2019-11-26 20:15] mattermod opened #13221 "If push notifications are disabled, show a warning in notification settings"
See attached design.

![image](https://user-images.githubusercontent.com/6757047/69671778-79dd8480-1075-11ea-9046-21a1dee9544a.png)

If push notifications are disabled, show a warning note and when the push notification setting is clicked on, take the user to the device setting to enable them.

(Help wanted - Applies to iOS and Android)

----
If you're interested please comment here and come [join

[2019-11-26 20:30] mattermod opened #13222 "When in a channel and gets removed by someone else there is no indication of what happened"
When you are viewing a channel and another user that have permissions removes you from the channel that you are viewing you get redirected to Town Square without any feedback as of why you switched channels.

On the webapp there is a modal that displays that user x removed you from the channel, it should match that behavior in the mobile app.

----
If you're interested please comment here and come

[2019-11-26 20:30] mattermod opened #13223 "Date picker should re-open on previously selected date"
After selecting a date with the date picker, when the user wants to make an adjustment, the date picker should open on the previously selected date.

Steps:
- From RN app select Search
- Type search terms and add a date filter
- Select a date that occurred  8 months in the past
- Search
- Select the date picker to push the date back by 1 additional week
**Expected**: Date picker re-opens on previo

[2019-11-26 20:34] nevyangelova commented on #11437
Grabbing this today.

[2019-11-26 20:56] igomonov88 commented on #13159
@mgdelacroix I can take it

[2019-11-26 20:57] igomonov88 commented on #13105
@larkox I can take it

[2019-11-26 20:59] theparad0x007 commented on #13222
Hello, I'd like to help with this issue

[2019-11-26 21:11] igomonov88 commented on #12391
I can try to do it

[2019-11-26 22:24] jasonblais commented on #11437
Thanks @nevyangelova :tada:

[2019-11-27 00:04] numericillustration commented on #9843
looks like the code places for adjusting this have all changed with https://github.com/mattermost/mattermost-webapp/pull/1520/files but perhaps it would be easy to set a variable or something in place of everywhere its set to 600 (pixels?) and let users override that in their settings or a global override in the config.json file

[2019-11-27 00:09] amyblais commented on #13184
I'll close this for now, but I hope you will open a feature request issue for this or let us know if you're interested in implementing this,

[2019-11-27 00:09] #13184 closed

[2019-11-27 00:09] mattermod commented on #13184
Thanks @carlspring, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to t

[2019-11-27 00:10] amyblais commented on #13084
I'll close this for now but I hope you will open a feature request issue for this or let us know if you're interested in implementing this,

[2019-11-27 00:10] #13084 closed

[2019-11-27 00:10] mattermod commented on #13084
Thanks @Adammmmmmmmmmmmmmmmmmm, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a li

[2019-11-27 00:44] amyblais commented on #13204
Opened a ticket: https://mattermost.atlassian.net/browse/MM-20695.

[2019-11-27 03:02] fm2munsh commented on #13219
I can grab this one

[2019-11-27 09:22] hanzei commented on #13219
Thanks @fm2munsh :+1:

[2019-11-27 09:37] hanzei commented on #12391
Go ahead @igomonov88 :+1:

[2019-11-27 09:44] hanzei commented on #13129
@agnivade Would you be interesting in working on 1. for now?

[2019-11-27 09:45] hanzei commented on #9459
Is this fixed with https://github.com/mattermost/mattermost-push-proxy/pull/55?

[2019-11-27 09:55] J0WI commented on #9459
I get `/entrypoint.sh: line 23: mattermost-push-proxy: not found` with current latest.
Tags for major releases like in https://github.com/mattermost/mattermost-docker/issues/369 are still missing.

[2019-11-27 09:59] niks3089 commented on #129
Any further updates on this? Is there a script which can be used as a workaround to delete the channels from DB?

[2019-11-27 10:53] cpanato commented on #12030
@jesperhansen17 you will need to create this, it does not exist right now

2- yes, will be removed since all the config will be in the db or via env vars

[2019-11-27 10:54] KerimG opened #13224 "SMTP module doesn't properly send email credentials to Zoho"
Mattermost Version: 5.17.1
Database Schema Version: 5.17.0
Database: postgres
nginx version: nginx/1.14.0 (Ubuntu)

#### Summary
I am not sure if this is related to Zoho but it appears as though Mattermost doesn't correctly send the email credentials.

#### Steps to reproduce
Create a zoho account and use smtp.zoho.eu as SMTP server.
Server: smtp.zoho.eu
Port: 465
Auth: true
Username: zoho.com acc

[2019-11-27 11:15] mattermod opened #13226 "Convert the pipeline from Travis to CircleCI for mattermost-developer-documentation repo"
Convert the existing Pipeline in travis to circleci for this repo: https://github.com/mattermost/mattermost-developer-documentation

any secrets needed can talk with Carlos Panato and should use context.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can

[2019-11-27 11:15] mattermod opened #13227 "Update Mattermost-TE Helm Charts to remove any deprecated API in order to run on 1.16 clusters"
some API versions are deprecated in the version 1.16 of kubernetes.
This ticket is about update the helm chart for TE edition and removes any deprecated API from the templates.

Also, need to validate if the user can upgrade without issues from the existing chart to the new one. (to test that can use a 1.15 cluster)

----
If you're interested please comment here and come [join our "Contributors" c

[2019-11-27 11:32] bpietraga commented on #13227
I will take this one

[2019-11-27 11:32] bpietraga commented on #13226
I will take this one

[2019-11-27 11:53] agnivade commented on #13129
Sure :+1:

[2019-11-27 13:10] jasonblais commented on #129
Thanks @niks3089 for the follow-up!

Our command line tool supports the following two use cases:
1. [deleting a channel](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-channel-delete) -- note that this would also delete all messages within that channel
2. [restore the channel](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-channel-resto

[2019-11-27 14:14] #13104 closed

[2019-11-27 15:04] lieut-data commented on #13077
@Helcaraxan, sorry for the delay on this one -- we've got a pending fix over at https://github.com/mattermost/mattermost-server/pull/13186.

[2019-11-27 15:12] Helcaraxan commented on #13077
Thank you very much for the update @lieut-data, it's much appreciated.

Great to say that this is being addressed. 🙂

[2019-11-27 15:52] nadalfederer commented on #13169
In this PR https://github.com/mattermost/mattermost-webapp/pull/4336 using id, so if this id - https://github.com/mattermost/mattermost-webapp/pull/4336/files#diff-e8e5668a9849acec0e1a98afb29a0883R19 might be affected

[2019-11-27 15:54] nadalfederer commented on #13169
@saturninoabril hi, I would like to take this task

[2019-11-27 16:00] saturninoabril commented on #13169
@nadalfederer Sure and thanks! Please assign data-testid for that.

[2019-11-27 19:02] ilgooz commented on #12944
Anyone, if interested please use the initiative that we have started to finish the work on this plugin. In order to add your changes, please fork the following repo, add your changes on top and kindly request a review from @lieut-data.

Repo: https://github.com/ilgooz/mattermost-plugin-marketplace-addon

Plugin is ready and working. But `notifier` part has to be implemented. Except the notifier, y

[2019-11-27 19:13] ilgooz commented on #4300
Hey, this plugin has been implemented and ready to be used. It lives at: https://github.com/ilgooz/mattermost-plugin-topdf

I have just merged https://github.com/ilgooz/mattermost-plugin-topdf/pull/1 PR to master which includes updates about most of the change request made by @lieut-data's first review.

Since I don't have further time to work on this plugin, please feel free to fork the plugin's

[2019-11-27 21:26] octavioamu commented on #1723
Any update on this?
seems now have 65 votes
![image](https://user-images.githubusercontent.com/1358093/69760452-55e87480-1143-11ea-8877-8daa8443b7be.png)

[2019-11-27 22:08] bpietraga commented on #13227
PR to this issue: https://github.com/mattermost/mattermost-helm/pull/126/

[2019-11-27 23:36] amyblais commented on #13224
Hi @KerimG, would you be able to share your SMTP settings as well as your email settings from the config.json or System Console?

[2019-11-28 02:34] saturninoabril commented on #12306
@larkox Thank you for your contribution!  Closing this now.

[2019-11-28 02:34] #12306 closed

[2019-11-28 08:09] #13147 closed

[2019-11-28 08:18] muirdok opened #13240 "mattermost.service: main process exited with panic periodically"
#### Summary
Mattermost server process goes to panic (probably after pushing notification)

#### Steps to reproduce
not attempted but it happens about once per week
[code]

#### Expected behavior
no panics

#### Observed behavior (that appears unintentional)
[code]

#### Possible fixes
not sure

[2019-11-28 08:30] #13163 closed

[2019-11-28 09:15] saturninoabril commented on #11754
Available for grab.

[2019-11-28 09:15] saturninoabril commented on #12324
Available for grab.

[2019-11-28 09:18] saturninoabril commented on #12303
Available for grab.

[2019-11-28 13:29] amyblais commented on #13240
@muirdok Can you help with more information about your environment from here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-11-28 13:39] #13077 closed

[2019-11-28 13:44] amyblais commented on #13136
Closing as this has been fixed for upcoming 5.18 release,

[2019-11-28 13:44] #13136 closed

[2019-11-28 14:01] #11748 closed

[2019-11-28 14:56] arjunlather commented on #13145
I want to work on this.

[2019-11-28 14:57] arjunlather commented on #13145
/assign

[2019-11-28 16:26] lieut-data commented on #11843
@RajatVaryani has kindly agreed to tackle this issue. Can't assign him in GitHub right now for some reason.

[2019-11-28 21:58] #13109 closed

[2019-11-28 22:41] #12866 closed

[2019-11-28 22:43] nevyangelova commented on #8665
Grabbin this :)

[2019-11-29 01:26] tmdoit commented on #9843
I use Mattermost heavily for slash commands, there are such commands that I want to prevent result to being collapsed because it forces an extra click which is annoying after some time. There are of course use cases for collapse behaviour, possibility to set it via payload (POST or GET) could be a good way to go?

[2019-11-29 03:20] sij507 commented on #13173
@saturninoabril hi, I would like to work on this ticket

[2019-11-29 03:22] sij507 commented on #13172
@saturninoabril hi, I would like to work on this ticket as well

[2019-11-29 08:41] #13161 closed

[2019-11-29 09:06] drugstar40-CODER opened #13252 "git@github.com:drugstar40-CODER/special-chainsaw.git"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-11-29 10:10] #13123 closed

[2019-11-29 10:56] #13069 closed

[2019-11-29 11:18] RajatVaryani commented on #11843
Now you can.

[2019-11-29 11:41] #13040 closed

[2019-11-29 13:12] jasonblais commented on #8665
Thanks @nevyangelova!

[2019-11-29 13:15] mattermod opened #13253 "Create CLI tool that rolls out new AMI version to all k8s cluster nodes."
When a new k8s AMI is released in a cluster we need to drain the old instances one by one and spin up new that will get the new AMI version.

Details steps
The CLI tool:
- Will authenticate with the cluster and get all nodes.
- Drain the first node and when drain successful delete the instance in AWS.
- Wait for the new node to become ready and move to the next node drain.
- Follow this process un

[2019-11-29 13:16] larkox commented on #13174
May I take this one?

[2019-11-29 13:20] angeloskyratzakos commented on #13253
I will take that one

[2019-11-29 13:49] #13252 closed

[2019-11-29 13:54] larkox commented on #10822
May I take this one?

[2019-11-29 14:05] jasonblais commented on #10822
Certainly, thanks @larkox!

[2019-11-29 14:10] arjunlather commented on #13176
I'd like to work on this.

[2019-11-29 14:23] larkox commented on #10822
Thanks @jasonblais . Is there any chance this is already solved? I am not able to reproduce the error by following the steps.

[2019-11-29 14:29] larkox commented on #10200
May I take this one?

[2019-11-29 14:38] jasonblais commented on #10822
@larkox It does seem fixed. I'll close the issue and ask QA to verify while closing the related Jira ticket. Thanks for looking into it!

[2019-11-29 14:38] #10822 closed

[2019-11-29 18:23] #13105 closed

[2019-11-29 18:58] arjunlather commented on #13175
I'd like to work on this.

[2019-11-29 18:58] arjunlather commented on #13171
I'd like to work on this.

[2019-11-29 20:09] #12748 closed

[2019-11-29 20:38] #12281 closed

[2019-11-29 21:24] KerimG commented on #13224
Hey @amyblais

yes, sure.

[code]

Is this enough? The System Console basically shows the same.

[2019-11-29 21:47] giuliocomi opened #13256 "Incomplete security Audit system"
The current Audit system is not logging many important security events.
Current architecture, its weaknesses and patches or proposals are all detailed for convenience in the attached document.
[enhanced_audit_system.pdf](https://github.com/mattermost/mattermost-server/files/3906421/enhanced_audit_system.pdf)

Thanks to @DSchalla for amazing support and review.

[2019-11-30 01:49] lieut-data opened #13259 "Extend ShouldProcessMessage to filter out from_webhook posts"
Extend [ShouldProcessMessage](https://github.com/mattermost/mattermost-server/blob/a63684fcb5e3ba7b7522b35c29a4cb27779ba823/plugin/helpers_bots.go#L120) to filter out any post with a `from_webhook` prop, unless a new `AllowWebhook` option is true.

Be sure to extend both the [TestProcessMessage](https://github.com/mattermost/mattermost-server/blob/a63684fcb5e3ba7b7522b35c29a4cb27779ba823/plugin/he

[2019-11-30 02:15] lieut-data opened #13260 "Support different interactive message button styles"
To improve [Slack compatibility](https://api.slack.com/docs/message-buttons), support a new `color` field to style interactive buttons. The value can be one of the following:

* an arbitrary six-character hexadecimal value representing the colour
* "default",
* "primary"
* "danger"
* any of the existing theme constants

Example theme:

[code]

As part of this ticket, propose appropriate theme colo

[2019-11-30 02:21] sirmspencer opened #13261 "Allow edit of image in post"
#### Summary
Allow editing or, at minimum, removal of an image from a post.

#### Steps to reproduce
Post a message with an image attached.  Select edit.  There are no edit options for the attached image.

#### Expected behavior
Show an option to edit or remove the image from the post.

[2019-11-30 02:29] lieut-data opened #13262 "Extend QuickInput component with 'x' to clear text"
Extend the existing [QuickInput](https://github.com/mattermost/mattermost-webapp/blob/master/components/quick_input.jsx) with an optional 'x' that clears the input when clicked. See the plugin marketplace as an example:

![image](https://user-images.githubusercontent.com/1023171/69894568-b7e9db00-12f7-11ea-8c12-9f5d63fe24fb.png)

Once this component supports that functionality, remove the duplicat

[2019-11-30 07:27] hanzei commented on #13260
This also needs to be implemented for mobile, right?

[2019-11-30 10:33] larkox commented on #10200
I created a draft for this task, since it will take some time, and I want to make sure I am doing what it is expected from the beginning.
At the time I am writing this post, I have extracted two functions: getMyChannels and getChannelsInCurrentTeam. It would be great if someone from the team could take a look to the draft and confirm me I am on the right track.
Thanks!

[2019-11-30 13:51] naichadouban opened #13264 "What situation upload file but with NotMultipart ？can anyone solve me ?"
https://github.com/mattermost/mattermost-server/blob/a63684fcb5e3ba7b7522b35c29a4cb27779ba823/api4/file.go#L131

[code]

[2019-11-30 14:11] jasonblais commented on #11070
Thanks @harshilsharma63 for the help :) Closing this issue

[2019-11-30 14:11] #11070 closed

[2019-11-30 14:18] mattermod commented on #13261
Thanks @sirmspencer, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2019-11-30 14:51] larkox commented on #13262
May I take this one?

[2019-11-30 15:42] harshilsharma2 opened #13265 "Allow calculating minimum server version for plugins in an automated fashion"
Currently, if someone uses a plugin API, they need to manually keep track of the highest Mattermost version used by any API, and set that as the minimum supported Mattermost version for a plugin.

This is not a very good way to do things when the last time you check for that was months ago and now you want to update minimum supported Mattermost version.

I propose creating a mechanism, perhaps CLI

[2019-11-30 15:56] enahum commented on #12354
Ticket was re-opened

[2019-11-30 16:07] larkox opened #13266 "isRHS property is passed as string instead of as boolean"
#### Summary
On https://github.com/mattermost/mattermost-webapp/pull/4260 the isRHS property was passed to several elements, but was passed as a string, creating several errors to show on javascript console.

#### Steps to reproduce
1. Search using the searchbox something that yields several results
2. Check the javascript console on the browser.

#### Expected behavior
No errors should appear.

#

[2019-11-30 16:08] larkox commented on #13266
I will take this one

[2019-11-30 17:27] #11949 closed

[2019-11-30 18:12] larkox commented on #12303
May I take this one?

[2019-11-30 18:27] larkox commented on #9598
May I take this one?

[2019-11-30 21:01] nadalfederer commented on #13259
@lieut-data Hi, I would like to take this.

[2019-11-30 21:08] lieut-data commented on #13259
Terrific! Thanks, @nadalfederer :)

[2019-11-30 21:32] nevyangelova commented on #13198
Grabbing this too :)

[2019-11-30 22:44] lieut-data commented on #10438
The original fix above was reverted, since the plugin tests weren't actually being run. Re-queueing this as a help-wanted ticket in case someone wants to take another stab at the issue. Feel free to build off the original PR.

[2019-11-30 22:46] lieut-data opened #13268 "Support signed incoming webhook requests"
At the moment, anyone with the webhook URL can use it to to post messages as an incoming webhook. While this is by design, some customers have desired to constrain who can use this URL, even if they happen to wield it.

Propose and implement a design to signing incoming webhook requests – as well as any responses from outgoing webhooks or slash commands – so as to prove its identity to Mattermost.

[2019-11-30 22:52] lieut-data opened #13269 "Support plugin pagination in the Plugin Marketplace"
Update the webapp and server to support pagination of plugins in the plugin marketplace. Note that the server should still consume the entire plugin result set from the upstream Plugin Marketplace: pagination should only occur client-side relative to the Mattermost server.

See the following mockup (ignore the button on the left) to illustrate how it shoud look:

![image](https://user-images.githu

[2019-11-30 23:57] jasonblais commented on #9598
@larkox Definitely, thanks for your interest! 👍

[2019-12-01 02:34] lieut-data opened #13271 "Trailing slash on marketplace URL results in spurious 404"
When a plugin marketplace URL is configured with a trailing slash (i.e. [https://api.integrations.mattermost.com/](https://api.integrations.mattermost.com/)), the plugin marketplace fails to load, reporting a 404.

Under the covers, the server tries to connect to [https://api.integrations.mattermost.com//api/v1/plugins](https://api.integrations.mattermost.com//api/v1/plugins) – notice the duplicat

[2019-12-01 09:59] reflog commented on #10438
@lieut-data - can you elaborate what didn't work specifically? Pretty sure I tested it well :)

[2019-12-01 12:32] lieut-data commented on #10438
Hey @reflog! It was a few months back when reverted, but IIRC, a number of plugins were
silently panicking from this call:
[code]

after trying to process the `nil` parameters — but without actually failing the tests.

I think I stumbled across this when testing something that /should/ have been failing but wasn’t. We decided to revert for simplicity during that particular release, but I hadn’t re

[2019-12-01 12:47] reflog commented on #10438
@lieut-data  Oki, if it gets reopened - please assign to me, I'd like to get it fixed

[2019-12-01 13:09] saturninoabril commented on #12303
Thanks @larkox!

[2019-12-01 13:24] larkox commented on #11754
May I take this one?

[2019-12-01 15:25] NiroshaV commented on #11759
I'll take this one

[2019-12-01 15:29] NiroshaV commented on #11762
I'll take this one

[2019-12-01 16:19] fm2munsh commented on #13271
I'll grab this one

[2019-12-01 16:47] nadalfederer commented on #12324
I'll take this

[2019-12-01 16:48] nadalfederer commented on #11760
I'll take this

[2019-12-01 16:49] nadalfederer commented on #11755
I'll take this

[2019-12-01 16:50] nadalfederer commented on #11750
I'll take this

[2019-12-01 16:50] nadalfederer commented on #11745
I'll take this

[2019-12-01 17:30] lieut-data commented on #10438
Thanks, @reflog! See my original comments in https://github.com/mattermost/mattermost-server/pull/11713.

[2019-12-01 17:31] lieut-data commented on #13271
Thanks, @fm2munsh!

[2019-12-01 18:30] igomonov88 commented on #12391
@hanzei hello, just quick status update, I'm actually start working on this ticket only today, and keep going. Can we have a chat if I get any problems and stuck with them for a long time?

[2019-12-01 21:05] somenet commented on #12702
I just run into this issue. This time when responding to interactive message buttons.

Is there any ETA on this?

In jira this gets only delayed all the time. Therefore I would suggest to add a parameter ``"ignore_slack":"true"`` so that an integration could signal that it doesn't care about slack compatibility.

If we were not running an enterprise instance, I would just patch that line out and r

[2019-12-01 21:15] larkox commented on #13268
Just as brainstorming. What about having some kind of password, shared by the client and the server, and add a field to the http call with the hash of the message codified by this password? It is not the safest way to do it, and someone can always intercept a message and resend it, but it is much less cumbersome in comparison with other methods like public key / private key.

[2019-12-01 21:23] lieut-data commented on #13268
@larkox, yes, I think a pre-shared key makes the most sense — but preventing replay attacks would be ideal as well. Thoughts about how to do that using the same approach?

[2019-12-01 21:25] larkox commented on #13268
Including a timestamp and considering a short window between sent and received would be a possible solution. For example... if you have sent this message more than 10 seconds before I receive it, I won't trust it. Send it again.

[2019-12-01 21:33] someone-somenet-org opened #13274 "POST to /v4/posts/ephemeral results in 403"
After running into #12702 - this time with [interactive message buttons](https://github.com/mattermost/mattermost-server/issues/12702#issuecomment-560158936) , I decided to apply a workaround: creating the ephemeral posts by myself, therefore not triggering the slack compatibility layer.

The docs say, it should be possible to create ephemeral posts by myself.
https://api.mattermost.com/#tag/posts

[2019-12-01 21:41] #13111 closed

[2019-12-02 01:16] lieut-data commented on #13268
Interesting idea, @larkox! I think the timestamp would have to be in the signed part of the message, otherwise it's basically unverifiable. Within that 10 second window, there's still the chance of replay, but it seems a reasonable balance of security and cost.

Curious to hear feedback from @DSchalla and @crspeller, especially on the choice of pre-shared secret vs. a public/private key approach.

[2019-12-02 01:44] larkox commented on #13268
The timestamp would still be verifiable. If someone mess up with the timestamp, the hash of the message will be different. There is no easy way to mess with the hash, since it is signed. Therefore the behaviour would be:
I receive a message. Decode the hash. The hash is coincident with my hash, so this is the actual message it was signed with no changes (not even the timestamp has been changed, be

[2019-12-02 04:50] kosgrz commented on #13269
Hi, I can do it. It should have a fixed number of results per page (50) or it should be customizable?

[2019-12-02 06:26] #13264 closed

[2019-12-02 07:07] RajatVaryani commented on #11843
@lieut-data Even before staring working on this issue I would like to understand the overall vision for slash commands w.r.t plugins. In the PR raised there were [comments](https://github.com/mattermost/mattermost-server/pull/11890#pullrequestreview-276002014) raised wanting a full interface like cobra and cobra has lot of [features](https://github.com/spf13/cobra#overview) which might or might no

[2019-12-02 09:14] hanzei commented on #12391
Surely @igomonov88. Feel free to reach out to me on the [Mattermost Community Server](https://community.mattermost.com).

[2019-12-02 09:58] hanzei commented on #11754
Sure, thanks @larkox :+1:

[2019-12-02 09:59] hanzei commented on #11759
Thanks for working on this @NiroshaV :+1: Let me know, if you have any questions

[2019-12-02 10:01] #13177 closed

[2019-12-02 10:11] #13145 closed

[2019-12-02 11:38] saneletm commented on #13144
I would like to wrap up the fix for this issue. Printing the success log when `mattermost restore channel` is called is trivial.

I am however having a hard time reproducing the error for Elasticsearch being stopped already is output. I am running on MacBook Pro 15 inch running version 10.15.1, and my mattermost fork is up to date. I am basically not seeing any errors on my box when I run the `res

[2019-12-02 12:24] #12345 closed

[2019-12-02 13:05] hanzei commented on #12376
Hi @typeoh,

I've updated the ticket and redefined the expected behaviour. Let me know, if you still want to work on this.

[2019-12-02 14:15] amyblais commented on #13265
I believe some work for this has been done for upcoming 5.18 release:
 - https://mattermost.atlassian.net/browse/MM-17888
 - https://mattermost.atlassian.net/browse/MM-19265
 - https://mattermost.atlassian.net/browse/MM-19153

[2019-12-02 14:58] mgdelacroix opened #13278 "Port the "user activate" subcommand from Mattermost CLI to mmctl"
This ticket includes the creation of a "user activate" subcommand in mmctl based on the Mattermost CLI command that can be found in `cmd/mattermost/commands/user.go`.

To achieve this, the command can use the [Update User Active status](https://api.mattermost.com/#tag/users%2Fpaths%2F~1users~1%7Buser_id%7D~1active%2Fput) endpoint, and it should mimic the structure, arguments and behavior of the Ma

[2019-12-02 14:59] mgdelacroix opened #13279 "Port the "team rename" subcommand from Mattermost CLI to mmctl"
This ticket includes the creation of a "team rename" subcommand in mmctl based on the Mattermost CLI command that can be found in `cmd/mattermost/commands/team.go`.

To achieve this, the command can use the [Update a Team endpoint](https://api.mattermost.com/#tag/teams%2Fpaths%2F~1teams~1%7Bteam_id%7D%2Fput), and it should mimic the structure, arguments and behavior of the Mattermost CLI command.

[2019-12-02 15:00] mattermod opened #13280 "Port the "user activate" subcommand from Mattermost CLI to mmctl"
This ticket includes the creation of a "user activate" subcommand in mmctl based on the Mattermost CLI command that can be found in `cmd/mattermost/commands/user.go`.

To achieve this, the command can use the [Update User Active status](https://api.mattermost.com/#tag/users%2Fpaths%2F<sub>1users</sub>1%7Buser_id%7D~1active%2Fput) endpoint, and it should mimic the structure, arguments and behavior

[2019-12-02 15:03] mgdelacroix commented on #13280
Duplicated

[2019-12-02 15:03] #13280 closed

[2019-12-02 15:30] mattermod opened #13282 "Port the "channel modify" subcommand from Mattermost CLI to mmctl"
This ticket includes the creation of a "channel modify" subcommand in mmctl based on the Mattermost CLI command that can be found in `cmd/mattermost/commands/channel.go`.

This command can make use of the `UpdateChannelPrivacy` function of the `model/client4.go` file from the `mattermost-server`, and it should mimic the structure and the behavior of the Mattermost CLI, with the exception of the `-

[2019-12-02 15:30] larkox commented on #13278
May I take this one?

[2019-12-02 15:32] mgdelacroix commented on #13278
Sure @larkox, thanks!! :confetti_ball:

[2019-12-02 16:11] crspeller commented on #13268
Webooks already have a pre-shared key. The webhook ID itself.

For adding additional security, I would go with the signed method. A quick google got me the page that explains how Stripe (a payment processor) signs theirs: https://stripe.com/docs/webhooks/signatures
That might be a good addition to our incoming and outgoing webhooks.

[2019-12-02 16:14] larkox commented on #12271
May I take this one?

[2019-12-02 16:20] saturninoabril commented on #12271
Sure and thanks @larkox!

[2019-12-02 16:22] reflog commented on #10438
@lieut-data - I'm working on a fix (it's an easy one), but wanted to point out that the old approach (before my changes) for testing go plugins is vulnerable to the same issue, panics ARE silently ignored.
Take a look at `func TestPluginBots(t *testing.T) {`, it's a failing test (panic) but it's passing.

[2019-12-02 16:22] larkox commented on #9031
Is this still a problem? The issue got stale a few months ago, and it seemed like it was already fixed by a different PR.

[2019-12-02 16:24] lieut-data commented on #10438
Thanks for that analysis, @reflog! Agree with your observations -- would it be feasible to detect and fail these panics are part of this renewed effort?

[2019-12-02 16:25] reflog commented on #10438
@lieut-data absolutely. It's a rather easy fix, instead of `return nil, ""` in plugin tests, I'll do `return nil, "OK"` and test for "OK" string. This way, if the plugin panics, the return value will not be `nil, ""` and we'll detect the failure right away.

[2019-12-02 16:45] mattermod opened #13284 "Add unit tests to the "RemoveUsersCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `RemoveUsersCmd` command, in the `co

[2019-12-02 16:45] mattermod opened #13285 "Add unit tests to the "TeamCreateCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `TeamCreateCmd` command, in the `com

[2019-12-02 16:45] mattermod opened #13286 "Add unit tests to the "ConfigShowCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ConfigShowCmd` command, in the `com

[2019-12-02 16:45] mattermod opened #13287 "Add unit tests to the "ConfigGetCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ConfigGetCmd` command, in the `comm

[2019-12-02 16:45] mattermod opened #13288 "Add unit tests to the "TeamGroupDisableCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `TeamGroupDisableCmd` command, in th

[2019-12-02 16:45] mattermod opened #13289 "Add unit tests to the "TeamGroupEnableCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `TeamGroupEnableCmd` command, in the

[2019-12-02 16:45] mattermod opened #13290 "Add unit tests to the "ChannelGroupDisableCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ChannelGroupDisableCmd` command, in

[2019-12-02 16:45] mattermod opened #13291 "Add unit tests to the "ChannelGroupEnableCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ChannelGroupEnableCmd` command, in

[2019-12-02 17:12] #13165 closed

[2019-12-02 18:00] lieut-data commented on #13268
Thanks for that, @crspeller! I don't think of the webhook ID as a pre-shared key, since it's included in the payload vs. being "used" in some way. But regardless, I love the idea of building off an existing standard.

Thoughts on Stripe's approach (except inverted for our purposes), @larkox?

[2019-12-02 18:30] M-ZubairAhmed commented on #13279
can i work on this? i havent worked on cli before, will need a little help before i start

[2019-12-02 18:50] mgdelacroix commented on #13279
Sure @M-ZubairAhmed! Don't worry about the help, if you have any questions you find me in http://community.mattermost.com as `miguel.delacruz` :)

[2019-12-02 19:23] lieut-data commented on #11843
@RajatVaryani, the primary goal here is to make it much easier for plugin authors to define and implement slash commands. Today, that requires manually parsing the incoming string and rebuilding a lot of functionality that already comes for free with Cobra, e.g. subcommands, positional arguments, and named arguments. You can see how things are done today in other plugins, but ideally we'd set a pa

[2019-12-02 19:24] lieut-data commented on #13269
Thanks, @kosgrz! I don't think the enduser should be able to configure this, but let's absolutely define a client-side constant that makes it possible to tweak this in the code. I'd suggest perhaps 15 at a time?

[2019-12-02 19:26] lieut-data commented on #12702
Apologies, @somenet, we haven't taken a look at that in the core team yet. I like your thinking on the topic, though, and can't imagine a better solution given the need to retain backwards compatibility.

If I turn this into a help wanted ticket, would you be open to help making exactly that change? Happy to provide whatever support is needed on our end :)

[2019-12-02 19:28] lieut-data commented on #13260
Yes, good reminder, @hanzei!

[2019-12-02 19:30] lieut-data commented on #4300
Thanks for all your contributions, @ilgooz!

[2019-12-02 19:30] lieut-data commented on #12944
Thanks again, @ilgooz :)

[2019-12-02 21:20] larkox commented on #13268
Stripe's approach is what I had in mind, better thought and with better wording. We could follow their way of doing things. Main differences with my approach:
- They hash one part of the message (timestamp.body), but I think that is more than enough.
- Instead of letting the user pick a password, you share a "secret key" generated from the system. I think this is quite common and good practice.
-

[2019-12-03 02:26] esethna commented on #12313
@valentijnnieman let me know if you need any help or guidance with this?

[2019-12-03 02:30] mattermod opened #13300 "Keyboard shortcut to open/close the right-hand sidebar"
Expected: CTRL/CMD + . opens or closes the right-hand sidebar. When opening, open to whatever content was previously open in the sidebar.

If that content is no longer available (ie removed from the channel, thread get's deleted, etc), show the empty search results screen.

 ![](screenshot-1.png|thumbnail)

----
If you're interested please comment here and come [join our "Contributors" community c

[2019-12-03 08:16] RajatVaryani commented on #11843
@lieut-data Thank you. Here is an initial design. Please take note of the flaws in current design.

- Not being able to pass `CommandResponse` depending on the subcommand. I could not find any workaround to this. Can plugin authors do the same thing using API which can be done using `CommandResponse`?
- Keeping `model.CommandArgs` and `plugin.Context` in the Plugin global context. We will have to

[2019-12-03 09:28] #13027 closed

[2019-12-03 09:45] hanzei commented on #9031
@deanwhillier Could you confirm that this not longer happens?

[2019-12-03 09:50] #12284 closed

[2019-12-03 11:33] reflog commented on #10438
@lieut-data - I've submitted my fix, but please note that I had to disable a part of `test_bots_plugin` that is causing a segfault because to be honest - I have no idea why it's failing :)
Since that failure is not related to this ticket - I think we should open a new one to trace it

[2019-12-03 12:33] 3mard commented on #13282
May I take this one ?

[2019-12-03 12:54] LilianCruanes opened #13303 "No "Join Another Team" button in the user's menu"
#### Summary
I don't find the "Join Another Team" button in the user's menu.

#### Steps to reproduce
I don't know.

#### Expected behavior
I've recently deployed a Mattermost instance for a new project, which run with Team Edition v5.17.1. I am used to work with Mattermost for other project and I am used to see a "Join Another Team" button in the user's menu, which redirect to "/select_team".

##

[2019-12-03 13:05] amyblais commented on #13303
@LilianCruanes Are there other teams to join on your instance? If yes, are those teams public or private?

[2019-12-03 13:11] LilianCruanes commented on #13303
@amyblais Yes 2 others teams and both are public.

[2019-12-03 14:22] #13198 closed

[2019-12-03 14:41] sunsingerus commented on #13094
Looks like this issue can be closed since [corresponding PR](https://github.com/mattermost/mattermost-operator/pull/105) is merged already?

[2019-12-03 14:42] amyblais commented on #13303
@LilianCruanes Are there any restrictions such as that the team is already full (https://docs.mattermost.com/administration/config-settings.html#max-users-per-team)?

Can you go to System Console and set “Authentication” > "SignUp" > “Enable Account Creation” to “True” and see if that changes anything?

[2019-12-03 15:21] hanzei commented on #13094
Good catch @sunsingerus, closing

[2019-12-03 15:21] #13094 closed

[2019-12-03 15:37] LilianCruanes commented on #13303
@amyblais The team are empty.
"Account Creation" was already on True. I've set it on False, then on True, no changes.

[2019-12-03 15:46] #13174 closed

[2019-12-03 16:45] mattermod opened #13307 "Add "Unarchive Channel" option to the channel info screen"
Replace the “Archive Channel” option with an "Unarchive Channel" option in the channel info screen when the channel is archived.

![](Simulator Screen Shot - iPhone 11 - 2019-12-03 at 09.42.41.png|width=828,height=1792)

Notes:
1 - To assist with the implementation, review the existing [API call for restoring a channel ](https://api.mattermost.com/#tag/channels%2Fpaths%2F<sub>1channels</sub>1%7Bch

[2019-12-03 17:04] LilianCruanes commented on #13303
@amyblais More, the "ExperimentalPrimaryTeam" parameter doesn't work : when a member signs up, he is redirected to "/select_team" and not to the primary team. Maybe it exists a link between both abnormal behaviors

[2019-12-03 17:08] enahum commented on #10231
Closing as dup of https://github.com/mattermost/mattermost-server/issues/11263

[2019-12-03 17:08] #10231 closed

[2019-12-03 17:22] amyblais commented on #13303
@LilianCruanes Based on the documentation, your first issue is then expected: https://docs.mattermost.com/administration/config-settings.html#primary-team-experimental.

"When a primary team is set, the options to join other teams or leave the primary team are disabled."

I'll look into the second issue.

[2019-12-03 17:37] LilianCruanes commented on #13303
@amyblais Oh I misread it, sorry...But how can I enforce users to be redirected in a team after registration ?

[2019-12-03 18:35] amyblais commented on #13303
Opened a ticket for the second issue here: https://mattermost.atlassian.net/browse/MM-20915.

[2019-12-03 18:55] tomasmik commented on #13284
I could take this depending on the required delivery time as I am fairly busy right now, but will be free soon. (I would start working on this next week)

[2019-12-03 18:57] LilianCruanes commented on #13303
Thanks @amyblais !

[2019-12-03 23:29] amyblais commented on #13208
### v5.18 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.18.0-rc1/mattermost-team-5.18.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3164)

[2019-12-03 23:34] somenet commented on #12702
@lieut-data Ill look into it :)

[2019-12-04 00:50] lieut-data commented on #13274
Thanks for the report, @somenet — can you check if your system administrator is part of the channel? By default, we still apply some membership checks, even for super users, although it might not be warranted in this case.

[2019-12-04 02:16] fm2munsh commented on #13285
I'll grab this one

[2019-12-04 02:43] somenet commented on #12702
Its fix'd. Nearly everything needed was already there. PR incoming tomorrow.

[2019-12-04 02:44] somenet commented on #12702
Its fix'd. Nearly everything needed was already there. PR incoming tomorrow.

Command-Response without and with ``"skip_slack_parsing":"true"``

![screen_20191204_033902](https://user-images.githubusercontent.com/5354356/70107956-518ef080-1648-11ea-91b6-3d3fa10a9c41.png)

[2019-12-04 04:12] GauthierPLM opened #13312 "Setting `Require Email Verification` should be independent from setting `Enable Email Notifications`"
#### Summary
Setting `Require Email Verification:` should be independent from setting `Enable Email Notifications:` so it can be enabled even if `Enable Email Notifications` are disabled when an SMTP server is configured.

#### Steps to reproduce

- Setup a Mattermost 5.17 instance.
- Configure SMTP settings and make sure they are working
- Disable `Enable Email Notifications:`

#### Expected beha

[2019-12-04 07:11] lurcio commented on #13291
May I grab this one please?

[2019-12-04 07:11] lurcio commented on #13290
May I grab this one please?

[2019-12-04 07:43] allenlai18 commented on #13307
Can i work on this?

[2019-12-04 10:22] tennom commented on #13268
@lieut-data, I'd like to work on this feature if no one's working on it yet. This may require a db table to save secret keys and some additional settings on user space. I'b need to ask more in the channel:)

[2019-12-04 10:49] #13046 closed

[2019-12-04 11:20] #12187 closed

[2019-12-04 12:53] enahum commented on #13307
@allenlai18 absolutely

[2019-12-04 13:15] allenlai18 commented on #13150
https://github.com/mattermost/mattermost-webapp/pull/4431

[2019-12-04 13:21] #13162 closed

[2019-12-04 13:56] #13176 closed

[2019-12-04 14:14] jasonblais commented on #13087
Thanks everyone who participated! We had 45 participants with amazing submissions including new plugins, features and ideas. To learn more about the Hackathon, see: https://mattermost.com/blog/mattermost-hackathon-2019-highlights/

[2019-12-04 14:14] #13087 closed

[2019-12-04 14:44] #13175 closed

[2019-12-04 14:51] amyblais commented on #13312
@GauthierPLM Can you confirm if you're still getting email notifications when ``Enable Email Notifications`` is disabled? We have an existing ticket for that here to fix it: https://mattermost.atlassian.net/browse/MM-20260.

[2019-12-04 15:10] lieut-data commented on #11843
Thanks for sharing the code snipper and design, @RajatVaryani! I'll take a closer look and get you feedback.

[2019-12-04 15:43] mgdelacroix commented on #13284
We don't have a hard deadline on the ticket, so it's fine if you are planning to work on it soon :)

[2019-12-04 15:49] #12781 closed

[2019-12-04 15:50] #12408 closed

[2019-12-04 16:08] larkox commented on #13289
May I take this one?

[2019-12-04 16:17] larkox commented on #10573
May I take this one?

[2019-12-04 16:19] larkox commented on #6123
I would like to take this one. I have done some checks, and it does not seem to be covered in the current version.

[2019-12-04 16:29] #13171 closed

[2019-12-04 16:55] #13271 closed

[2019-12-04 17:39] amyblais commented on #13000
@uusijani We're curious if your server is set up using a subpath, e.g. https://servername.mattermost.com/subpathname?

[2019-12-04 17:58] uusijani commented on #13000
@amyblais No subpath, just the plain domain.

[2019-12-04 18:19] #12901 closed

[2019-12-04 18:25] mjthomp95 commented on #13288
I can work on this

[2019-12-04 19:23] #13266 closed

[2019-12-04 19:29] lieut-data opened #13319 "Parallelize plugin loading on startup"
Sever startup time is slow with 10+ plugins, since we bootstrap then serially. Investigate doing so in parallel to improve server startup speed.

----

If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermo

[2019-12-04 19:37] #11422 closed

[2019-12-04 20:59] saneletm commented on #13144
@jwilander would you help me reproduce the ElasticSearch Error?

[2019-12-04 21:38] M-ZubairAhmed commented on #13151
As per discussion with @devinbinnie :

![Screenshot from 2019-12-04 03-01-33](https://user-images.githubusercontent.com/17708702/70183779-4f777100-16de-11ea-91da-3e13294ff553.png)

![Screenshot from 2019-12-05 01-07-16](https://user-images.githubusercontent.com/17708702/70183827-6e760300-16de-11ea-808b-1c79da8328b3.png)

[2019-12-04 21:56] somenet commented on #13274
I am a member of the channel, but i am not a Team Admin or Channel Admin there and obviously cannot change that by clicking only.

[2019-12-05 05:12] NiroshaV commented on #11759
@saturninoabril @hanzei  . Update on this ticket : Test cases are automated for Draw plugin:PostMessage - > Working on Configuration part

[2019-12-05 05:43] GauthierPLM commented on #13312
@amyblais when `Enable Email Notifications`, I still receive systems emails (such as confirmation emails) but not emails notifications for new messages (intended behaviour).

[2019-12-05 06:15] saturninoabril commented on #11759
@NiroshaV Awesome, thanks for the update!

[2019-12-05 06:22] jerzxu commented on #13221
I'll take this one.

[2019-12-05 07:22] enahum commented on #13221
Awesome @jerzxu

[2019-12-05 12:29] tennom commented on #13268
Ok, here is what I got so far. The following seems to be the existing standard.

1. Webhooks send: HMAC[(timestamp.body), SECRET] and timestamp in header along with body.
2. Endpoints (MM server) receive: the request and compare the expected signature.
3. (Optional) endpoints: can have whitelist of IP address of the webhook origins.

The challenge is rather step 1 because we have no control how we

[2019-12-05 13:18] amyblais commented on #13240
@muirdok Do you have an update on this? Do you have details on when this error usually occurs?

[2019-12-05 13:26] jespino commented on #10327
@soorya54 sorry the late reply. Yes you can pick this one. Thanks!

[2019-12-05 13:28] Abebw commented on #10370
I'd be happy to take this up.

[2019-12-05 13:41] devinbinnie commented on #13151
We've determined this has been fixed, closing.

[2019-12-05 13:41] #13151 closed

[2019-12-05 14:12] amyblais commented on #13312
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-20956.

[2019-12-05 14:30] RajatVaryani commented on #13319
@lieut-data I am happy to contribute.

[2019-12-05 14:35] RajatVaryani commented on #11843
@lieut-data A gentle reminder.

[2019-12-05 14:49] lieut-data commented on #11843
Thanks, @RajatVaryani!

A few thoughts:
* `ExecuteCommand` currently sets `p.Args` and `p.Context` before calling `p.Helpers.ExecuteCommand`. Despite the lock acquired inside `ExecuteCommand`, this still isn't thread safe, since a concurrent slash command execution might overwrite `p.Args` and `p.Context` before the lock can be acquired. Should we just pass these as parameters instead?
* If we ass

[2019-12-05 15:58] lieut-data commented on #12702
Terrific! Thanks, @somenet :)

[2019-12-05 17:27] nadalfederer commented on #11755
@saturninoabril hi, I've not found cypress docs about typing on one keyboard and it being output in another language

can you help how to achieve this in cypress

[2019-12-05 17:43] amyblais commented on #13312
@GauthierPLM The team determined that this would be a feature request and that it is not currently possible to send email verification if other email notifications are disabled.

[2019-12-05 17:44] mattermod commented on #13312
Thanks @GauthierPLM, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2019-12-05 17:51] saturninoabril commented on #11755
I've updated the description.  You may directly type the message with `@정트리나`.

[2019-12-05 17:54] jwilander commented on #13144
@saneletm it looks like that error only occurs if you're running with the enterprise bits included so I'd suggest not worrying about that and we can create an internal bug ticket to deal with that portion of this ticket

[2019-12-05 18:00] mattermod opened #13324 "Web/Desktop: Add "Unarchive Channel" option to archived channels menu"
Add a new menu option "Unarchive Channel" to the channel menu dropdown directly below the "close channel" section.

[code]

Notes:
1 - To assist with the implementation, review the existing [API call for restoring a channel ](https://api.mattermost.com/#tag/channels%2Fpaths%2F<sub>1channels</sub>1%7Bchannel_id%7D~1restore%2Fpost) (which is equivalent to unarchiving)
2 - When chosen, the channel sh

[2019-12-05 18:40] Taffer opened #13325 "CLI SIGSEGV converting channel from private to public"
#### Summary
Converting a channel from private to public via the CLI produces a SIGSEGV and succeeds.

#### Steps to reproduce
Server version 5.16.2, Database schema 5.16.0 hosted on Postgres
Host is Ubuntu 18.04.3 LTS.

ssh to server, and from the mattermost installation directory:

`sudo ./bin/mattermost channel modify my_team:existing_channel --username chris.herborth --public`

#### Expected b

[2019-12-05 19:30] #13168 closed

[2019-12-05 19:40] saneletm commented on #13144
@jwilander is there anything special about the `channel restore ` command, which makes it more important to log success msg? I am asking because I can see other commands/sub-commands that do not log/print success msgs, including `channel archive` command

[2019-12-05 19:42] jwilander commented on #13144
Nothing special about this one command. Maybe @mgdelacroix can chime in, but IMO we should be printing success messages for all those command

[2019-12-05 19:45] mattermod opened #13327 "Desktop: clicking on the + to connect a new server should default focus in the input field"
On desktop app, clicking the + symbol to add a new server should focus the "Server Display Name" input field so user can start typing right away. Same thing applies to the Settings Page "Add a new server" modal.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where

[2019-12-05 19:53] fm2munsh commented on #13219
Removing myself from this issue as I can not work on this in the near future

[2019-12-05 20:09] hanzei commented on #13219
Thanks for the heads up @fm2munsh

[2019-12-05 20:10] allenlai18 commented on #13324
I will take this

[2019-12-05 20:22] mgdelacroix commented on #13144
I agree. As a rule, I think it is good to print some information if the operation succeeds, so the user has something else on top of the exit code to check that the command worked.

For this specific case, I'd print something like `Channel CHANNEL_NAME restored successfully`.

[2019-12-05 20:30] mattermod opened #13328 "User autocomplete should match on spaces"
Allow user autocomplete to match on terms with spaces. For example: Full Name

Expected: Similar to how channel autocomplete works. ie Once triggered with @, as long as there is a matching entry the autocomplete stays open, unless dismissed with the ESC key
 ![](image-2019-10-28-17-32-36-965.png|thumbnail)

Observed: User autocomplete is dismissed after a space is entered
![](image-2019-10-28-17-3

[2019-12-05 20:36] #13047 closed

[2019-12-05 20:42] saneletm commented on #13144
Agreed and very easy to add. I would just have a hard time creating a PR for the fix on that command when I can see a lot of commands are lacking the same behavior. Of cause I can be convinced otherwise.

Since it seems like this is an issue only on success msgs, I think there would be an easy way
to get a general solution that doesn't touch too many files. Would we be open to this?

I also see tw

[2019-12-06 00:00] nadalfederer commented on #13286
I'll take this

[2019-12-06 00:06] #13158 closed

[2019-12-06 00:52] amyblais commented on #13325
Ticket here: https://mattermost.atlassian.net/browse/MM-21008.

[2019-12-06 02:50] GauthierPLM commented on #13312
@amyblais I can assure you that it's possible to send email verification even when other email notification are disabled.

In my instance, I configured the SMTP server and **disabled** `Enable Email Notifications`. My users continue to receive emails for invitation or email verification, as well as password reset. This works as long as SMTP server is configured. It is even stated in the `Enable Em

[2019-12-06 03:13] jasonblais commented on #13324
Awesome, thanks @allenlai18! :tada:

[2019-12-06 04:19] anindha commented on #7487
I was working on another issue, so a little delayed getting to this. Have started working on this now.

[2019-12-06 08:41] hanzei commented on #13286
Thanks @nadalfederer :+1:

[2019-12-06 08:53] #12303 closed

[2019-12-06 11:27] saturninoabril opened #13333 "Write an automated test using Cypress for "Individual "User" and "Channel" screens are scrollable""
**Test Key:** ID21031

**Test Folder:** `/cypress/integration/interactive_dialog`

**Title:** Individual "User" and "Channel" screens are scrollable

**Steps:**
1. In a message input box (center channel or RHS), type "/dialog" and hit "Enter"
2. Click/tap in the "User Selector" field and scroll within the list
3. Click/tap in the "Channel Selector" field and scroll within the list

**Expected:**
A

[2019-12-06 11:27] saturninoabril opened #13334 "Write an automated test using Cypress for "Boolean element check""
**Test Key:** ID21034

**Test Folder:** `/cypress/integration/interactive_dialog`

**Title:** Boolean element check

**Steps:**
1.  Create an incoming webhook where it sends dialog with boolean element

**Expected:**
1. Dialog should render correctly,
- verify that the boolean element renders correctly

**Test code arrangement:**
[code]

**Note:**
- see tests at `cypress/integration/interactive_di

[2019-12-06 11:27] saturninoabril opened #13335 "Write an automated test using Cypress for "Password element check""
**Test Key:** ID21032

**Test Folder:** `/cypress/integration/interactive_dialog`

**Title:** Password element check

**Steps:**
1.  Create an incoming webhook where it sends dialog with password

**Expected:**
1. Dialog should render correctly,
- verify that the password is masked on enter of text

**Test code arrangement:**
[code]

**Note:**
- see tests at `cypress/integration/interactive_dialog

[2019-12-06 11:27] saturninoabril opened #13336 "Write an automated test using Cypress for "Selecting a Number with the up/down arrows within the "Number Selector" field""
**Test Key:** ID21033

**Test Folder:** `/cypress/integration/interactive_dialog`

**Title:** Selecting a Number with the up/down arrows within the "Number Selector" field

**Steps:**
1. In a message input box (center channel or RHS), type "/dialog" and hit "Enter"
2. Click/tap on the "Number" field
3. Click/tap on the up/down arrows that appear on the right

On RN app: Number keyboard should show

[2019-12-06 11:40] saturninoabril opened #13337 "UI Automation: Write an automated test using Cypress for "Clicking in / Tapping on the message attachment menu box opens list of selections""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Clicking in / Tapping on the message attachment menu box opens list of selections

**Steps:**
1. Locate a message attachment menu
2. Click in / Tap on the message attachment menu box

**Expected:**
- The list of selections opens

**Test Key:** IM21037

**Test

[2019-12-06 11:40] saturninoabril opened #13338 "UI Automation: Write an automated test using Cypress for "Long lists of selections are scrollable ""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Long lists of selections are scrollable

**Steps:**
1. Locate a message attachment menu (like users) that would have many selections
2. Click in / Tap on the message attachment menu box
3. Scroll up and down the list of selections

**Expected:**
- The list of

[2019-12-06 11:40] saturninoabril opened #13339 "UI Automation: Write an automated test using Cypress for ""No items match" feedback""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** "No items match" feedback

**Steps:**
1. Locate a message attachment menu
2. Click in the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
3. Start typing the first few letters of a username, channel

[2019-12-06 11:40] saturninoabril opened #13340 "UI Automation: Write an automated test using Cypress for "Searching within the list of options""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Searching within the list of options

**Steps:**
1. Locate a message attachment menu
2. Click in / Tap on the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
3. Start typing the first few letters of

[2019-12-06 11:40] saturninoabril opened #13341 "UI Automation: Write an automated test using Cypress for "Change selection in RHS / Message Thread""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Change selection in RHS / Message Thread

**Steps:**
Continuing from 5) in the above test
1. In the RHS / message thread, click in / tap on the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
2. Sel

[2019-12-06 11:40] saturninoabril opened #13342 "UI Automation: Write an automated test using Cypress for "Using up/down arrow keys to make selection""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Using up/down arrow keys to make selection

**Steps:**
1. Locate a message attachment menu
2. Click in the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
3. Hit the down arrow a few times
4. Hit th

[2019-12-06 11:40] saturninoabril opened #13343 "UI Automation: Write an automated test using Cypress for "Selection is mirrored in RHS / Message Thread""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Selection is mirrored in RHS / Message Thread

**Steps:**
1. Locate a message attachment menu
2. Click in / Tap on the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
3. Start typing the first few l

[2019-12-06 11:40] saturninoabril opened #13344 "UI Automation: Write an automated test using Cypress for "Enter selects the option""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Enter selects the option

**Steps:**
1. Locate a message attachment menu
2. Click in the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
3. Start typing the first few letters of a username, channel

[2019-12-06 11:40] saturninoabril opened #13345 "Write an automated test using Cypress for "Selected options with long usernames are not cut off in the RHS""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Selected options with long usernames are not cut off in the RHS

**Steps:**
1. On a message attachment menu that provides for username selection, click on dropdown to the right of the menu
2. Select an option of a username that is quite long
3. Click on reply

[2019-12-06 11:40] saturninoabril opened #13346 "Write an automated test using Cypress for "Using up/down keys to make a selection from SEARCH results""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Using up/down keys to make a selection from SEARCH results

**Steps:**
1. Locate a message attachment menu
2. Click in the message attachment menu box (or click on the dropdown arrow to the right of the message attachment menu box)
3. Start typing the first f

[2019-12-06 12:46] larkox commented on #13268
Hi @tennom.
To solve 1, we could create a piece of code to deal with that. It is similar to what the people at stripe seem to be doing it. "Use this piece of code to create the request, or do it manually this way". The function should be pretty agnostic. Something like "signRequest" which receives a payload and a key. It will generate the complete request with timestamp and so on.

Since this is (

[2019-12-06 13:56] amyblais commented on #13312
@GauthierPLM Is the issue you're seeing that even though Require Email Verification setting is **disabled** in System Console / config.json, you're **still getting email verification emails** since SMTP is configured (and Enable Email Notifications is disabled)?

Email invitations are different from email verifications, so I just wanted to make sure.

[2019-12-06 13:59] jwilander commented on #13144
I think it would be great if we could hide the logs and only show the prints unless a `--verbose` flag is provided. A lot of the time the log are just noise (but may be useful in some cases)

[2019-12-06 14:27] lieut-data commented on #13268
Thanks for all the input, @larkox & @tennom -- I've assigned you both to this issue given your involvement, but feel free to coordinate to determine the best strategy.

On the technical discussion points:
* I'd be inclined to eschew IP whitelisting from /this/ proposal, expecting clients who want this to achieve it at the firewall level instead. To @larkox's point, this can be spoofed, and I think

[2019-12-06 14:59] lieut-data commented on #13319
Thanks, @RajatVaryani! No special tools: if you enable all prepackaged plugins, for example (configure bogus settings as needed just to get them to start up), and then restart the server, you'll see a long delay while everything is unpacked.

It would be great to start by logging some trace messages here that records the total startup time.

[2019-12-06 15:11] lieut-data commented on #10438
Thanks, @reflog :)

[2019-12-06 15:15] mattermod opened #13347 "Add check in Mattermod to check the security token sent by the GitHub webhook"
Mattermod is a tool that interacts with the Github events and helps Mattermost in some tasks

The change we need to make is to add a check that validates the token sent by the github webhooks.
This token is configured in the Github repo when configuring the webhook
for more information see: https://developer.github.com/webhooks/creating/#setting-up-a-webhook

In Mattermod we need to validate this

[2019-12-06 15:17] cpanato commented on #13347
the community contributor @bpietraga will work on that

[2019-12-06 15:44] ali-farooq0 commented on #13100
@allenlai18 reopening this issue, as we've had to revert it because it was causing performance issues. Are you still open to working on this or shall I open this up for other contributors?

revert: https://github.com/mattermost/mattermost-server/pull/13329

[2019-12-06 15:59] M-ZubairAhmed commented on #13337
Can i grab this one

[2019-12-06 16:00] saturninoabril commented on #13337
@M-ZubairAhmed Awesome, thanks!

[2019-12-06 19:02] kop commented on #10412
I'll take this one.

[2019-12-06 19:22] #13221 closed

[2019-12-06 20:19] artemigkh commented on #13287
I'd like to take this ticket

[2019-12-06 21:28] allenlai18 commented on #13100
@ali-farooq0   yes. i am willing to work on this.  Do you know why it was causing performance issues?

[2019-12-06 21:42] ali-farooq0 commented on #13100
Great @allenlai18! No unfortunately not. We saw high latency in handling requests when your change was present, it was especially noticeable when switching channels, i.e. it took longer than normal to switch channels. Message me on the [mattermost community server](https://community.mattermost.com/) (@ali.farooq) and I can help you investigate further :)

[2019-12-07 11:13] tennom commented on #13268
Thanks alot to you both. @larkox, I agree with you on the limit methods I proposed are not guaranteed techniques, so is the timestamp way which is subject to racing condition. With whitelist method, only if Trudy has access to the white ip range and then of course impersonate and replay, otherwise I don't know how s/he would launch the attack even if he intercepts the HMAC signed webhook. Here I d

[2019-12-07 12:26] RajatVaryani commented on #11843
@lieut-data Thank you for the nudge. I re-looked my approach. I came to the conclusion If we are able to proxy data (arguments) in the cobra command we would find an effective solution. In order to do that I have embedded a `commandContext` struct in `HelpersImpl`. Using this we will be able to proxy data in and out of cobra commands hiding complexity from the plugin authors.

Along with it I also

[2019-12-07 12:52] tennom commented on #13268
@lieut-data  and @larkox
1. With outgoing webhooks, we can implement/supply the standard HMAC({timestamp,body}, SECRET) and header var can be something like X-MM-SIGNATURE or else on your call. We also need a timestamp var in header. SECRET is saved in saved in a column as @lieut-data suggested.

- we just supply the HMAC with timestamp, plus no harm to share server ip range
- users really don't n

[2019-12-07 13:15] tennom commented on #13268
change: for outgoing webhook, the user may share their MM server hosting ips/range, not neccessary MM's hosting server.

[2019-12-07 19:19] nadalfederer commented on #13029
I'll take this

[2019-12-07 19:21] nadalfederer commented on #12519
I'll take this

[2019-12-07 19:25] RominHalltari commented on #13223
Can I start working on this?

[2019-12-07 19:25] RominHalltari commented on #12354
Can I start working on this?

[2019-12-07 19:27] enahum commented on #12354
@RominHalltari absolutely, go ahead

[2019-12-08 05:57] RajatVaryani commented on #13121
A gentle reminder @mgdelacroix

[2019-12-08 06:17] harshilsharma63 opened #13351 "Day picker in after/before search doesn't honor the user's timezone override."
### Summary
Day picker in after/before search doesn't honor the user's timezone override.

#### Steps to reproduce
1. Allow users to set their own timezones by enabling `Timezone` settings in the `Experimental` section in `System Console`.
1. Update your timezone to something that has a different date that what you have in your location right now. For example at the time of the creation of this is

[2019-12-08 09:27] jespino commented on #13029
Great, thanks @nadalfederer! :tada:

[2019-12-08 14:04] NiroshaV commented on #11759
@saturninoabril
Pull request has raised for this Task - https://github.com/mattermost/mattermost-webapp/pull/4460
Initially I was not in authorized list before creating Pull request . This is done

Couple of Observations can be considered like -> When test fails -Ensuring Draw plugin is removed or using Existing methods to switch user access.

[2019-12-08 16:09] ChrisDobby commented on #13300
I'll pick this one up if that's OK?

[2019-12-08 19:02] hanzei commented on #12519
Thanks @nadalfederer :+1:

[2019-12-08 19:07] hanzei commented on #13300
Sure, thanks @ChrisDobby :+1:

[2019-12-08 21:02] nadalfederer commented on #12343
can I take this?

[2019-12-08 21:04] nadalfederer commented on #12338
can I take this?

[2019-12-09 02:15] GauthierPLM commented on #13312
I want **to continue to receive email verification** (as it is now) and I want that the setting `Require Email Verification` match this.

Right now, `Require Email Verification` is marked as disabled as soon as `Enable Email Notifications` is disabled and thus do not match the real behaviour. `Require Email Verification` should match what Mattermost do independently of `Enable Email Notifications`

[2019-12-09 04:34] ruzaikr commented on #12609
@mdabydeen are you still working on this? If not, I'd love to take it up :)

[2019-12-09 08:25] hanzei commented on #12338
@cbtsao47 Are you still working on this?

[2019-12-09 08:25] hanzei commented on #12343
@joshalling Are you still working on this or would you be fine passing it to @nadalfederer

[2019-12-09 11:44] lurcio commented on #13339
Hi! I'd like to give this one a go please.

[2019-12-09 11:49] saturninoabril commented on #13339
@lurcio Awesome, thanks!

[2019-12-09 13:03] LilianCruanes commented on #13303
Any news ? @amyblais

[2019-12-09 14:28] mdabydeen commented on #12609
Hey @ruzaikr I am still working on this

[2019-12-09 14:54] joshalling commented on #12343
@hanzei, Yes that would be fine. Sorry, I just haven't had time to work on it lately.

[2019-12-09 18:30] mattermod opened #13355 "Desktop: Convert binding functions to arrow functions"
Our desktop app is currently making use of `.bind()` to maintain context of the functions calls we use in our React components. This is an outdated approach, as we can use arrow functions (ie. `() =>`) to express our component-bound functions without having to explicitly bind them to the component’s context.

A successful PR would remove all `.bind()` statements from the desktop app’s React compon

[2019-12-09 18:37] RajatVaryani commented on #11843
@lieut-data A gentle reminder.

[2019-12-09 21:19] src-r-r commented on #13347
I'm interested.

[2019-12-09 21:52] allenlai18 commented on #13355
ill take this

[2019-12-09 21:55] allenlai18 commented on #13328
ill take this

[2019-12-09 23:25] amyblais commented on #13351
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-21096.

[2019-12-10 00:16] anindha commented on #7487
@jwilander @sudheerDev  I looked through the websocket code for both redux and the webapp and made some [notes](https://docs.google.com/document/d/1Q18DBWxK-aoCzNbXMU9BLgApewWdFNk-JkevTvky8FE/edit?usp=sharing).

The two code bases diverge for about 50% of the event handlers. Do you have any suggestions on a good architecture to allow the custom code to be run on the webapp but still have the commo

[2019-12-10 03:52] mjthomp95 commented on #13346
I can work on this.

[2019-12-10 06:29] saturninoabril commented on #13346
@mjthomp95 Awesome, thanks!

[2019-12-10 07:20] #13119 closed

[2019-12-10 13:41] amyblais commented on #13312
I asked our PM lead about this and it was confirmed that this would be an improvement instead of a bug.

However, we will open an improvement Jira ticket to plan how we could change the existing behaviour and to think about how these settings should be changed. One of our PMs responsible for this area will open the ticket. He is off this week, so I will follow up next week on the link to the Jira

[2019-12-10 14:04] #13150 closed

[2019-12-10 14:10] #13166 closed

[2019-12-10 14:20] larkox commented on #13268
@tennom Sorry for the delay. Everything looks fine. The only thing that just came to my mind is slash commands. They work similar to a mixture of outgoing and incoming webhooks if I remember correctly, so they should also get this treatment. What do you think?

[2019-12-10 15:30] mattermod opened #13363 "For the table of contents of the Plugin Hooks/API docs, each method is listed twice."
For the table of contents of the Plugin Hooks/API docs, each method is listed twice. For example, in the attached picture, the Bot API methods are listed twice.

*Issue created from a [message in Mattermost](https://community.mattermost.com/core/pl/fk18w9jbiirjur1psqk7zuir9o)*.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mat

[2019-12-10 16:02] jwilander commented on #7487
To me, 3) feels the cleanest but I have a feeling that achieving that might be very hard and would almost require specific WebSocket events being emitted which would feel like a duplication of places handling websocket events.

What about re-building the handler in `websocket.ts` as a class with all the different event handlers as methods on that class. The web app can then import that class and j

[2019-12-10 16:12] nadalfederer commented on #12340
Can I take this?

[2019-12-10 16:41] hanzei commented on #12340
@pradeepmurugesan Are you still working on this or can @nadalfederer work on this?

[2019-12-10 17:00] mattermod opened #13365 "Remove IE11 compatibility code added for size_aware component logic"
There is css added to size*aware*image component to support IE11. We no longer need the hack and can be removed safely.

Code path: https://github.com/mattermost/mattermost-webapp/blob/master/components/size*aware*image.jsx#L213

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily bu

[2019-12-10 17:00] mattermod opened #13366 "Remove call to `openLhs` from SidebarChannel render method"
In the SidebarChannel component code that handles showing the tutorial tip for the Town Square and Off-Topic channels, there's a call to the `openLhs` action which is not allowed in React. This triggers a warning.

The `openLhs` call should be moved to happen after the render.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.matt

[2019-12-10 17:00] mattermod opened #13367 "Web Accessibility: Add landmark roles"
This issue was found by the aXe Chrome extension for finding WCAG issues. In order to successfully complete this issue, you'll need to make sure to test using the tool and ensure that all of the warnings covering the components scoped below are cleared. You can find more information on the issue at the link below:
[https://dequeuniversity.com/rules/axe/3.4/landmark-one-main?application=AxeChrome](

[2019-12-10 17:32] abdusabri commented on #13365
Please assign this to me, thanks!

[2019-12-10 17:36] jasonblais commented on #13365
Thanks @abdusabri!

[2019-12-10 18:08] lieut-data commented on #11843
@RajatVaryani, thanks again for meeting the entire Toolkit team today and presenting your proposal. Key takeaways from that discussion:
* The forced serialization of command handlers is likely to be showstopper. There are two reasons to do this, one has to do with access to the context/return parameters, and the other is a potential limitation in the cobra stack. Could you experiment with the prop

[2019-12-10 22:45] anindha commented on #7487
@jwilander I made a table of functions with comments on how they diverge [here](https://docs.google.com/document/d/1Q18DBWxK-aoCzNbXMU9BLgApewWdFNk-JkevTvky8FE/edit?usp=sharing). Half of the events require additional functionality on the web app.

I like the idea of having a class that is passed into `websocket.ts`. Would you have an interface method per event or one interface method that handles

[2019-12-11 10:46] #12963 closed

[2019-12-11 10:55] enahum commented on #11946
This issue has been resolved

[2019-12-11 10:55] #11946 closed

[2019-12-11 11:42] #13099 closed

[2019-12-11 14:28] allenlai18 commented on #11744
do you usually close these?

[2019-12-11 14:29] #12294 closed

[2019-12-11 14:30] allenlai18 commented on #13179
is this ready to be closed?

[2019-12-11 14:31] saturninoabril commented on #11744
Oh right, thanks for checking.

[2019-12-11 14:31] #11744 closed

[2019-12-11 15:03] allenlai18 commented on #12267
and this one was merged. as well .  https://github.com/mattermost/mattermost-webapp/pull/4173

[2019-12-11 15:09] hmhealey commented on #13179
Whoops, good catch. I'm used to them being autoclosed by the PR, but I think you need some special comment to do that. Closing it now

[2019-12-11 15:09] #13179 closed

[2019-12-11 15:10] saturninoabril commented on #12267
Thanks for checking.  Also did close the corresponding Jira ticket.

[2019-12-11 15:10] #12267 closed

[2019-12-11 15:34] nodefourtytwo commented on #10786
Is there an issue related to "Email batching in High Availability mode is planned but not yet supported"? If so, could someone link it? I'm not able to find it.

[2019-12-11 16:08] RajatVaryani commented on #11843
@lieut-data Thank you for the opportunity. 😄 I second the team's opinion about serialization being a showstopper. Let me try to find a workaround using your idea. I will also add extraction of positional and named arguments in the proof of concept.

[2019-12-11 18:07] jasonblais commented on #10786
@amyblais would you know if a ticket exists?

[2019-12-11 18:43] amyblais commented on #10786
@nodefourtytwo Can you help with more details on what bug you're seeing?

[2019-12-11 20:52] globalqss commented on #9353
In case somebody wants to support and vote this feature request I found one here:
https://mattermost.uservoice.com/forums/306457-general/suggestions/36538417-make-search-work-as-it-should

[2019-12-11 20:59] matterdoc opened #13376 "Request for Documentation: Update mattermost-server README.md to replace pre-release links."
Mattermost user `jesse.hallam` from https://community.mattermost.com has requested the following be documented:

[code]

See the original post [here](https://community.mattermost.com/_redirect/pl/9nzyqs3ewbrrjmyrhmrge4yjmo).

_This issue was generated from [Mattermost](https://mattermost.com) using the [Doc Up](https://github.com/jwilander/mattermost-plugin-docup) plugin._

[2019-12-11 21:01] lieut-data commented on #13376
We should also look at clarifying the language, since we speak about pre-release in somewhat similar terms as the demo server.

[2019-12-12 01:53] tennom commented on #13268
@larkox Everything seems going well as of now. I'm expecting to get the features on server working by tonight or tomorrow. I saw some command webhook endpoints, don't they share the same server? It may be just a matter of linking the features. I will get back to you on this soon.

[2019-12-12 09:58] M-ZubairAhmed commented on #13344
I am working on this

[2019-12-12 10:13] stevenpeterson1 commented on #4300
You can also try ZetExcel.com. It is very helpful and easy to use.

[2019-12-12 10:25] saturninoabril commented on #13344
@M-ZubairAhmed Awesome, thanks!

[2019-12-12 10:44] #12268 closed

[2019-12-12 10:49] #13160 closed

[2019-12-12 11:02] #13285 closed

[2019-12-12 14:50] sudheerDev commented on #7487
@anindha Thanks for the interest on this and making a big effort with the doc so far. It is much easier to get the bigger picture with the way we handled events on both mobile and web.

i am in favour of redux events feels much natural to me and it becomes easier for clients to handle them based on that. I went through the doc and most of the functionality differences are because of missing functi

[2019-12-12 14:57] nadalfederer commented on #12352
I'll take this

[2019-12-12 14:58] enahum commented on #12352
Perfect @nadalfederer issue assigned to you

[2019-12-12 15:06] nadalfederer commented on #13367
I'll take this

[2019-12-12 15:20] hmhealey commented on #7487
We could try using redux here, but I'd be hesitant about that in all cases since redux actions aren't events. You can't respond to a redux action to trigger async calls or anything else that's necessary.

I'd look at either turning the websocket handler into an EventEmitter with two listeners (redux and the web app) or into a class that can be extended by the web app.

The only thing that might ma

[2019-12-12 16:18] #13339 closed

[2019-12-12 16:53] hanzei commented on #13367
Thanks @nadalfederer

[2019-12-12 18:47] jwilander commented on #7487
@hmhealey for your last point if the we're using a class that the web app is extending, it can just completely override the redux methods anywhere it wants to something completely different.

@anindha I think a single interface method should be fine. All the arguments to each handler are identical (just the WS message at this point). Also awesome doc 👍 I'm going to go through it and add thoughts w

[2019-12-13 06:27] #13167 closed

[2019-12-13 06:58] #12263 closed

[2019-12-13 09:54] nodefourtytwo commented on #10786
@amyblais Email batching is not available if the High Availability mode is enabled. Apparently it's planned (from the doc: "Email batching in High Availability mode is planned but not yet supported"). Is there a way to follow the status of this feature?

[2019-12-13 10:00] #13337 closed

[2019-12-13 10:27] saturninoabril commented on #13178
@sij507 Just checking progress of this ticket.

[2019-12-13 10:27] saturninoabril commented on #13172
@sij507 Just checking progress of this ticket.

[2019-12-13 10:27] saturninoabril commented on #13173
@sij507 Just checking progress of this ticket.

[2019-12-13 10:28] saturninoabril commented on #12600
@MCRayRay Just checking progress of this ticket.

[2019-12-13 10:31] #12304 closed

[2019-12-13 10:31] saturninoabril commented on #12302
@a-arias Thanks for looking into this, just checking progress.

[2019-12-13 10:32] #12295 closed

[2019-12-13 12:44] M-ZubairAhmed commented on #13366
I am taking this one

[2019-12-13 13:02] M-ZubairAhmed commented on #13284
Hi @tomasmik if in case you dont find time, please let me know i will be happy to take over :)

[2019-12-13 14:09] tomasmik commented on #13284
@M-ZubairAhmed I start working on it yesterday and do plan to finish over the weekend :)

[2019-12-13 18:49] jespino commented on #13100
@allenlai18 it has relation to the clustering and a "loop" in the invalidation of the cache generated by the new cache handling code and the old "InvalidateCache" usage, which handles the clustering part outside the cache layer. Take a look to the `InvalidateCacheForChannel` function in the `app/web_hub.go`. Probably the fix is to re-introduce the cache layer and use the invalidation "blindly" fro

[2019-12-13 20:10] amyblais commented on #10786
@nodefourtytwo There is an open feature request ticket but it's internal/private. There is another ticket open here that you can follow which is to first resolve a technical blocker for allowing email batching in HA: https://mattermost.atlassian.net/browse/MM-7548.

[2019-12-14 13:10] MCRayRay commented on #12600
@saturninoabril hi, sorry about this, I completely forgot I had taken this on. I have deassigned myself as I am unable to make this change at this particular time.

[2019-12-14 13:11] saturninoabril commented on #12600
No worries and thanks for letting me know.

[2019-12-14 13:45] NiroshaV commented on #11759
@srkgupta @saturninoabril

Have updated the review comments . Thanks for the detailed check

**Status about Review comments :**

Please follow the test cases specified in the original Help Wanted ticket. Instead of creating separate test cases within the same file, you can add those as steps within single test case. The point here is single test serves single purpose.
--Added all the validations i

[2019-12-14 19:07] lurcio commented on #13340
Hi, I’ll take a look at this one!

[2019-12-14 20:57] saturninoabril commented on #13340
@lurcio Awesome, thanks!

[2019-12-15 13:00] mattermod opened #13396 "Add unit tests to the "DeleteTeamsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `DeleteTeamsCmd` command, in the `co

[2019-12-15 13:00] mattermod opened #13397 "Add unit tests to the "AddUsersCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `AddUsersCmd` command, in the `comma

[2019-12-15 13:00] mattermod opened #13398 "Add unit tests to the "TeamGroupListCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `TeamGroupListCmd` command, in the `

[2019-12-15 13:00] mattermod opened #13399 "Add unit tests to the "TeamGroupStatusCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `TeamGroupStatusCmd` command, in the

[2019-12-15 13:00] mattermod opened #13400 "Add unit tests to the "ChannelGroupListCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ChannelGroupListCmd` command, in th

[2019-12-15 13:00] mattermod opened #13401 "Add unit tests to the "ChannelGroupStatusCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ChannelGroupStatusCmd` command, in

[2019-12-15 13:00] mattermod opened #13402 "Add unit tests to the "ListLdapGroupsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ListLdapGroupsCmd` command, in the

[2019-12-15 13:00] mattermod opened #13403 "Add unit tests to the "ShowRoleCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ShowRoleCmd` command, in the `comma

[2019-12-15 13:00] mattermod opened #13404 "Add unit tests to the "RemovePermissionsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `RemovePermissionsCmd` command, in t

[2019-12-15 13:31] tennom commented on #13268
@larkox  Sorry I got a little busy and plus the feature was more than I thought. Anyways, I got this working just now! The server side only, but some hundred lines of code added at least including the tests. I will commit to my fork tomorrow. Can you please check? Here it's Sunday night now.

[2019-12-15 14:48] nmlc commented on #13400
Can I grab this one?

[2019-12-15 15:06] nadalfederer commented on #13396
I'll take this

[2019-12-15 17:52] mgdelacroix commented on #13400
Sure thing @nmlc

[2019-12-15 17:53] mgdelacroix commented on #13396
Thanks @nadalfederer!! :+1:

[2019-12-15 18:46] emilioicai commented on #11763
I'll take this one

[2019-12-15 18:46] emilioicai commented on #13220
I'll take this one

[2019-12-15 21:05] larkox commented on #13268
I am currently away from my computer, but I will be back on Wednesday. I will make sure to check it then. Thanks!

[2019-12-15 23:04] allenlai18 opened #13405 "Tutorial uses "images/appIcons.png" which causes image to look blurry. should be using SVG"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-12-16 00:11] lurcio commented on #13342
Hi! I'll take a look at this one.

[2019-12-16 02:40] joshuabezaleel commented on #13403
May I have a shot on this? :slightly_smiling_face:

[2019-12-16 05:22] atulya-pandey commented on #12521
Hi @sudheerDev , I checked the dependencies of status flags of [preferences.ts](https://github.com/mattermost/mattermost-redux/blob/master/src/reducers/requests/preferences.ts) file and non of them are being used in webapp and mobile app. Should I remove the complete file?

[2019-12-16 05:58] RajatVaryani commented on #11843
@lieut-data Just an update. I did not get chance to work on this. I will be working in this week.

[2019-12-16 06:19] #13169 closed

[2019-12-16 08:57] hanzei commented on #13366
Thanks @M-ZubairAhmed :+1:

[2019-12-16 12:20] DeanDeMarco commented on #7921
Awesome.

[2019-12-16 16:44] amyblais commented on #13303
An update:

Our developers have been taking a look at how ExperimentalPrimaryTeam option works and they think it's working as intended.

When you create a user, you can choose which team you want to join, even if you have the ExperimentalPrimaryTeam property set. However, this property doesn’t enforce the newly created user to join the team automatically.

Then after the account creation you have

[2019-12-16 19:02] amyblais commented on #13405
Opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-21264.

[2019-12-16 21:11] vesari commented on #13404
I'd like to work on this issue, if I may?

[2019-12-16 21:14] nadalfederer commented on #13397
can I take this?

[2019-12-16 23:00] allenlai18 commented on #13405
@amyblais  awesome. i think you should assign this to a UI/UX designer to get to svg file for this?

[2019-12-16 23:04] amyblais commented on #13405
The ticket will go through triage tomorrow where we decide next steps.

[2019-12-17 01:42] nadalfederer commented on #13398
I'll take this

[2019-12-17 05:25] #13208 closed

[2019-12-17 10:42] programmersstudio opened #13411 "Get userId of the user mentioned in slash command req.body"
Hi Team,

I just have started using matter most previously I used slack.
I was planning to migrate my apps to matter most but I am facing one issue.

In slack when we run command - `/myapp hi @usernmae` gives us req.body.text as `hi <username|userID>`. I cannot find this functionality anywhere, Does matter most support this thing?

[2019-12-17 11:21] #13365 closed

[2019-12-17 11:45] #13030 closed

[2019-12-17 13:06] sudheerDev commented on #12521
@atulya-pandey Yes, i cross checked we are not using them. You can go ahead and remove the file and the corresponding dispatches as well.

[2019-12-17 14:59] #11745 closed

[2019-12-17 17:00] mattermod opened #13417 "Desktop: release deb is marked as propietary on ubuntu"
The .deb packages generated for the Desktop App don't have the license set correctly, so it's displayed as proprietary instead of Apache-2.0 like on the repository.
 ![](Screenshot 2019-12-11 at 17.30.25.png|thumbnail)
The build process for those packages should be updated so that the package has the license set to match this repository.

----
If you're interested please comment here and come [joi

[2019-12-17 17:00] mattermod opened #24688 "Desktop App: Release deb is marked as propietary on ubuntu"
The .deb packages generated for the Desktop App don't have the license set correctly, so it's displayed as proprietary instead of Apache-2.0 like on the repository.
 ![](Screenshot 2019-12-11 at 17.30.25.png|thumbnail)
The build process for those packages should be updated so that the package has the license set to match this repository.

----
If you're interested please comment here and come [joi

[2019-12-17 17:15] mattermod opened #13419 "Mute option should be available in Direct Message channel menus"
Currently there is no mute option in the channel dropdown menu on a Direct Message, but using the /mute commands works as expected to mute a DM.

Expected:
1. "Mute Channel" option appears above "Edit Channel Header" in the channel menu (clicking the channel name at the top of the screen). Muting the channel from the menu option should do the same as posting "/mute", but no system message should b

[2019-12-18 03:47] #13340 closed

[2019-12-18 04:16] mickmister opened #13421 "Autoresponder should not reply to bot DMs"
#### Summary

When a user has the Autoresponder configured to respond to messages, it will respond to any DMs sent to the user. When a bot messages the user, the Autoresponder should not respond.

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-20157

#### Steps to reproduce

Set user Out of Office with an auto-response message. See [here](https://mattermost.atlassian.net/browse/MM-20

[2019-12-18 04:56] nmlc commented on #13421
Can I grab this one?

[2019-12-18 05:16] it33 commented on #5935
@realrolfje hope you've been well. I'm not sure if you're watching our changelogs but over a year ago we added password criteria to the Team Edition: https://docs.mattermost.com/administration/config-settings.html#password-requirements

The commercial Mattermost Enterprise Edition is designed for system admins and the open source Mattermost Team Edition is designed for end users (often developers)