[2020-05-27 14:54] #14564 closed

[2020-05-27 16:23] amyblais commented on #14531
@Touchwoody Our PMs clarified the docs for this: https://docs.mattermost.com/administration/config-settings.html#terms-of-service-link. Let me know if this helps,

[2020-05-27 16:56] amyblais commented on #14602
No worries, I've added the feature request here https://mattermost.uservoice.com/forums/306457-general/suggestions/40524850-render-percent-encoding-to-readable-characters-in.

[2020-05-27 16:56] #14602 closed

[2020-05-27 17:30] amyblais commented on #14566
@Matterchen Following up on this, would you like to submit this via the feedback form, or would you prefer that I open a Jira ticket for this?

[2020-05-27 17:33] amyblais commented on #14612
Opened a ticket for tracking: https://mattermost.atlassian.net/browse/MM-25571.

[2020-05-27 20:15] enahum commented on #14142
@rakhi2104 any progress on this? do you need help of any kind?

[2020-05-27 20:49] chenilim commented on #14566
Thanks Amy! I missed the earlier email, but have just filed feedback on the form, linking to this issue.

[2020-05-27 23:40] thezboe opened #14676 "Posted websocket event doesn't include self mentions"
Mattermost Version: 5.21.0
#### Summary
Websocket mention field does not include my user id if I mention myself in a message. This is especially important for automated bots that have commands that take user mentions.
For example, a `forsale` command should work the same when I run it on my user as any other user.

#### Steps to reproduce
If user @user sends a message:
`pinging @user`
The websocke

[2020-05-28 03:23] levb commented on #14493
👍

[2020-05-28 04:16] agnivade opened #14677 "Migrate AppError to error from store/sqlstore/link_metadata_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/link*metadata*sto

[2020-05-28 04:16] agnivade opened #14678 "Migrate AppError to error from store/sqlstore/terms_of_service_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/terms*of_service*

[2020-05-28 08:53] #14474 closed

[2020-05-28 11:19] avolynet commented on #14653
@amyblais

I updated the description and provided more information
BR

[2020-05-28 11:49] hanzei commented on #12418
@kadir96 admittedly I'm don't know too much about the same schema of store method. @streamer45 Do you have thoughts on the above proposal?

[2020-05-28 11:55] pixelbrackets opened #14681 "Cant move a channel to a different teamspace due to missing users"
#### Summary
Cant move a channel to a different teamspace due to missing users.

#### Steps to reproduce
Mattermost 5.23.0

1. Move a channel from previous teamspace to new teamspace using `./bin/mattermost channel move [new team] [previous team]:[channel] --username [username] --remove-deactivated-users`

#### Expected behavior
Move the channel.

#### Observed behavior (that appears unintentional

[2020-05-28 12:22] streamer45 commented on #12418
I think the suggestion is reasonable. We can rename the current `ChannelStore.GetChannels()` method to `GetChannelsForTeamForUser()` which is more specific and use the generic name for this issue's purposes, similarly to what happens with `PostStore.GetPosts()`.

As far as the page/perPage *dilemma* we usually include those fields in the options structure:  [`model.GetPostsOptions`](https://godoc.

[2020-05-28 12:35] hanzei commented on #12418
While I see the argument for consistency it's more important to me to be clear on the arguments. I'm 3/5

[2020-05-28 12:41] kadir96 commented on #12418
I saw [some comments](https://github.com/mattermost/mattermost-server/pull/12649#pullrequestreview-298113331) regarding whether including page/perPage in the options on one of previous pr for this issue.  Maybe it helps to decide.

[2020-05-28 12:43] hanzei commented on #12418
I think https://github.com/mattermost/mattermost-server/pull/12649#discussion_r346027997 is the final point.

[2020-05-28 12:43] schtandard opened #14683 "TeX code cannot be highlighted when LaTeX rendering is enabled"
#### Summary
When the Enable Latex Rendering option is enabled to allow rendering of math formulas, TeX source code cannot be highlighted anymore.

in order to allow users to use codehighlighting when sharing la/tex code, we are decided to add two new codeblock suffixes:
- texcode
- latexcode
which won't get pickup by the latex renderer, and can be used to show highlighted code.

[Jira Ticket](htt

[2020-05-28 13:07] kadir96 commented on #12418
So, I will rename `ChannelStore.GetChannels()` to `ChannelStore. GetChannelsForTeamForUser()` and implement `GetChannels(options *model.GetChannelsOptions, page, perPage int) ([]*model.Channel, *model.AppError)` for this issue.

Is it ok?

[2020-05-28 13:22] kadir96 commented on #14596
I did not have time yet to work on this issue due to my university related homeworks but hope to have pr ready this weekend.

[2020-05-28 13:34] streamer45 commented on #12418
I think there's a slight confusion here. I am discussing the store method, which is internal and not part of any user exposed API and I think it's fine for that to accept a single options parameter since technically all fields would be optional from the store point of view.

`ChannelStore.GetChannels()` will be then wrapped by a higher layer (app) method which can have the page/perPage parameters

[2020-05-28 13:34] agnivade commented on #14596
Thanks for the update @kadir96 !

[2020-05-28 14:17] kadir96 commented on #12418
I think the approach you shared is way better and I would go with it. I can implement like this right away but I could not find similar approach, would not this approach require any proposal or something like that so it can be reviewed, discussed and decided to have it or not?

[2020-05-28 17:03] amyblais commented on #14653
@avolynet Do you see any log errors or developer console errors?

[2020-05-28 17:12] streamer45 commented on #12418
Well that's what we are doing in a sense. This is a public issue after all :)

The biggest change we are making is renaming a store method. Everything else is adding some behaviour which is currently missing. As long as we keep existing functionality unaltered I think we are good. But you are right, let's keep it simple so you can focus on the issue at hand. We can always revisit the store parts i

[2020-05-28 17:15] #13940 closed

[2020-05-28 17:33] #14499 closed

[2020-05-28 17:36] thezboe commented on #14676
Also, mentions are not listed for users who are not in the same channel as the message they are mentioned in.

[2020-05-29 05:23] agnivade opened #14689 "Migrate AppError to error from Update.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `Update.store/sqlstore/channel_st

[2020-05-29 05:23] agnivade opened #14690 "Migrate AppError to error from Get/GetFromMaster.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `Get/GetFromMaster.store/sqlstore

[2020-05-29 15:40] richhamseth opened #14696 "After moving a channel to a different new team using cli commands, the channel still shows in the old team as well as in the new team"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-05-29 15:43] richhamseth opened #14697 "In mattermost message box when iam copy pasting some content its happening twice"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-05-29 16:02] ethervoid commented on #14438
@checkaayush should be `qwerty`

[2020-05-29 18:01] amyblais commented on #14676
@thezboe Do you see any log errors or console errors? Do you have a sample payload?

[2020-05-29 18:06] amyblais commented on #14681
@grundleborg Do we currently have any bug or feature ticket open related to this?

[2020-05-29 19:20] amyblais commented on #14683
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-25668.

[2020-05-30 05:04] agnivade opened #14701 "Migrate AppError to error from Delete/Restore/SetDeleteAt.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `Delete/Restore/SetDeleteAt.store

[2020-05-30 05:35] richhamseth commented on #14696
@amyblais updated

[2020-05-30 10:02] #14007 closed

[2020-05-30 12:42] rahimrahman commented on #12354
I'm already working on #12353. It make sense to me to take this on as well.

[2020-05-30 15:52] FlaviaBastos commented on #14006
Sent PR https://github.com/mattermost/mattermost-server/pull/14702 for this issue.

[2020-05-31 04:54] amarjeetanandsingh commented on #14435
Hi
If no assignees, I would like to take this up.

[2020-05-31 05:41] amarjeetanandsingh commented on #14438
If issue is still unassigned, may I take this up?

[2020-05-31 18:20] ethervoid commented on #14438
@amarjeetanandsingh sure! all yours :)

[2020-05-31 18:21] ethervoid commented on #14435
@amarjeetanandsingh all yours :)

[2020-06-01 01:20] amarjeetanandsingh commented on #14438
Thanks @ethervoid

I have got some context from the details above. Will start tonight on this

[2020-06-01 02:26] amarjeetanandsingh commented on #14435
Thanks @ethervoid

[2020-06-01 03:34] amarjeetanandsingh commented on #14438
Hi @ethervoid
Yes. Am able to reproduce the issue by adding `ENGINE_POSTGRES` tag to the `testSearchDiscardWildcardAlone`

So, basically the fix would be to remove any non-alphanumeric char in the `SearchParams` for all implementations of `SearchPostsInTeamForUser`?

[2020-06-01 09:21] grundleborg commented on #14681
We won't be fixing this in the built-in legacy CLI, but we do have a ticket to address it in mmctl - https://mattermost.atlassian.net/browse/MM-21464

[2020-06-01 11:59] amyblais commented on #14697
@richhamseth Would you be open to help fill in the requested details here too?

[2020-06-01 12:48] amyblais commented on #14696
@richhamseth Do you see any Mattermost log errors from the time this issue occurred?

[2020-06-01 14:23] ttauri opened #14713 "Channels created through the API are duplicating in the client"
#### Summary
Channels created through the API are duplicating in the client

#### Steps to reproduce
Mattermost Version: 5.21.0
Database Schema Version: 5.21.0

- Create a channel using API
- Add users

#### Expected behavior
Only one new channel is displayed in the client.

#### Observed behavior
If channel grouping option (Account Settings -> Side bar -> Channel grouping and sorting)
is set to "

[2020-06-01 15:18] amyblais commented on #14713
@ttauri We fixed an issue related to this in v5.22: https://mattermost.atlassian.net/browse/MM-23427. Would you be open to upgrading to v5.22 or v5.23 to see if your issue gets fixed?

[2020-06-01 15:53] agnivade opened #14714 "Migrate AppError to error from GetDeleted.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `GetDeleted.store/sqlstore/channe

[2020-06-01 15:53] agnivade opened #14715 "Migrate AppError to error from PermanentDeleteByTeam.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `PermanentDeleteByTeam.store/sqls

[2020-06-01 15:53] agnivade opened #14716 "Migrate AppError to error from PermanentDelete.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `PermanentDelete.store/sqlstore/c

[2020-06-01 15:53] agnivade opened #14717 "Migrate AppError to error from GetDeletedByName.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `GetDeletedByName.store/sqlstore/

[2020-06-01 15:53] agnivade opened #14718 "Migrate AppError to error from GetByName(|s|IncludeDeleted).store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `GetByName(|s|IncludeDeleted).sto

[2020-06-01 18:15] agnivade commented on #13129
From conversation with @metanerd, there are no plans to bring back Jenkins in our CI (non-master) workflow. Therefore, closing this.

[2020-06-01 18:15] #13129 closed

[2020-06-01 18:27] hahmadia commented on #14676
Hello @thezboe and @amyblais ,

I was able to track this down to here:
https://github.com/mattermost/mattermost-server/blob/master/app/notification.go#L136

It seems that we are intentionally removing self mentions if the post is not coming from a webhook (I assume it's because a webhook post wouldn't have the property of post.UserId). I'm not sure the reason why we are removing self-mentions but

[2020-06-01 18:41] streamer45 commented on #14676
I believe that was added cause it was possible to create a infinite loop. @wiggin77 should know more about it.

[2020-06-01 18:57] wiggin77 commented on #14676
Thanks @streamer45 .  If you are referring to https://github.com/mattermost/mattermost-server/pull/14410/files , then it only involved posts of type auto-responder.

[2020-06-01 22:29] jasonblais commented on #11263
Opening this up for grabs. You can see a previously opened PR here as a starting point: https://github.com/mattermost/mattermost-mobile/pull/3946

[2020-06-01 23:34] ali-farooq0 commented on #14613
Closing as not valid, since the original change was reverted. https://github.com/mattermost/mattermost-webapp/pull/5615

[2020-06-01 23:34] #14613 closed

[2020-06-02 06:56] richhamseth commented on #14696
@amyblais no i didn't noticed any error logs

[2020-06-02 09:42] #14501 closed

[2020-06-02 11:35] ethervoid commented on #14438
@amarjeetanandsingh Hi!

Remove all the non-alphanumeric chars that are alone. For example "querty * test @ 1 2 3" should clean it and return "qwerty test 1 2 3".

What do you mean with `in every implementation"?

[2020-06-02 12:07] amarjeetanandsingh commented on #14438
### 1)

**Do we need to remove one space also?**
If we remove only the non-alphaNumeric char(*),
           `querty * test @ 1 2 3`  becomes   `querty  test  1 2 3`
Basically with 2 space between `querty` and `test`

### 2)

Basically `testSearchDiscardWildcardAlone()` calls `Post().SearchPostsInTeamForUser()` which is an interface having multiple implementations like  -
- store/OpenTracingLayerPo

[2020-06-02 13:29] amyblais commented on #14696
@richhamseth
1. Thanks, do you see any Console log errors?
2. Are there any deactivated users in the channel you tried to move?
3. Are all the members in the channel you tried to move already in the new team?
4. What CLI command did you use to move the channel to the new team?

[2020-06-02 15:20] #14689 closed

[2020-06-02 16:28] #14690 closed

[2020-06-02 17:17] #14678 closed

[2020-06-02 18:31] #14597 closed

[2020-06-02 19:06] #14505 closed

[2020-06-02 21:50] Willyfrog commented on #14653
it might be that the VPN software is messing with your DNS?
can you open the devtools, get into the network tab and do the whole process and see what the response is when you post the message?
does reloading the tab fixes the issue?

[2020-06-03 02:24] GChester opened #14734 "New Line Character /n through API"
#### Summary
When using the API there is no way to force a new line using the /n.  Slack uses this method as seen [here](https://api.slack.com/reference/surfaces/formatting#line-breaks)

#### Steps to reproduce
Send Message to Channel using API

#### Expected behavior
When sending a long message you should be able to include /n to force a new line in text.

#### Observed behavior (that appears uni

[2020-06-03 11:35] iomodo opened #14738 "Check for a pattern in a slash command autocomplete"
`model.AutocompleteArgTypeText` type argument has a `pattern` field with a regex in it. Right now this field is not used. Change the [code](https://github.com/mattermost/mattermost-server/blob/master/app/command_autocomplete.go#L188) to return autocomplete suggestions only if pattern matches the user input. Changes should be done only on a server.

----
If you're interested please comment here and

[2020-06-03 11:46] iomodo opened #14739 "Add bool type argument to the slash command autocomplete"
Right now supported argument types for autocomplete are [Text, StaticList and DynamicList](https://github.com/mattermost/mattermost-server/blob/master/model/command_autocomplete.go#L21). Add AutocompleteArgTypeBool as another type.
User should be able to:
1. Create a command with boolean arguments(use `AddBoolArgument`, `AddNamedBoolArgument` method names).
2. Input positional bool arguments as `t

[2020-06-03 12:04] iomodo opened #14740 "Add support of the multi-word text arguments without quotes"
To input multi-word text argument in the slash command autocomplete we use quotes. Here is the [code](https://github.com/mattermost/mattermost-server/blob/master/app/command_autocomplete.go#L194) how we parse it.
But if `model.AutocompleteArgTypeText` is the last argument of a command tree there is no need to have quotes for a multi-word input.
Change the code to support multi-word input without q

[2020-06-03 12:27] amyblais commented on #14683
@schtandard This was determined to be a feature request, would you be open to creating a feature request issue for this here https://mattermost.uservoice.com/forums/306457-general?

[2020-06-03 13:12] schtandard commented on #14683
@amyblais I created a [feature request][feature-request] for the dollar sign syntax.

However, I would still consider the conflict between displaying TeX source code and parsing MathJax input a bug which should
- either be fixed by making ```` ```tex```` still highlighting source code while ```` ```latex```` is interpreted as MathJax input, as documented
- or be documented as intended behavior by

[2020-06-03 14:00] amyblais commented on #14734
@GChester I found one example here: https://forum.mattermost.org/t/text-formatting-newline/1729/2. Let me know if this doesn't work or if you have another sample post you're trying with.

[2020-06-03 14:08] amyblais commented on #14676
@hahmadia / @streamer45 Is this something that should be documented?

[2020-06-03 18:13] #14228 closed, assigned to maciejnems

[2020-06-03 20:32] #14677 closed

[2020-06-03 20:59] amyblais commented on #14683
@hmhealey Can you help confirm that I should open a bug ticket for above ^

[2020-06-03 21:45] Matterchen opened #14747 "Signup password min length error messages is inconsistent"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-06-03 21:47] ttauri commented on #14713
Thank you, I will try to do it.

[2020-06-03 21:47] #14713 closed

[2020-06-03 22:11] amyblais commented on #14747
Thanks, opened a bug ticket: https://mattermost.atlassian.net/browse/MM-25762.

[2020-06-03 22:11] #14747 closed

[2020-06-04 04:53] rvillablanca commented on #14738
Will work on this :)

[2020-06-04 04:56] mukulrawat1986 commented on #14740
Hi, I would like to work on this.

[2020-06-04 05:05] agnivade opened #14748 "Migrate AppError to error from GetChannels.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `GetChannels.store/sqlstore/chann

[2020-06-04 07:15] richhamseth commented on #14696
1. I didn't noticed any errror logs
2. no deactivated users are their in that channel
3. yes all the members in the channel i tried to move already in the new team
4. mattermost channel move teamName channelID --username name

[2020-06-04 07:22] jakubnovak998 commented on #14476
Hi, I can work on this.

[2020-06-04 07:38] #14598 closed

[2020-06-04 15:52] KrishnaSindhur commented on #14739
hi, i am interested to solve this issue

[2020-06-04 17:00] mattermod opened #14754 "Update apiTimerLayerTemplate and hooksTimerLayerTemplate to record error return values"
When recording prometheus metrics for all RPC-Plugin-API calls we currently record *all* return values as success, even when the API returns an `AppError`/`error` value.

Proposal is to update [`apiTimerLayerTemplate`](https://github.com/mattermost/mattermost-server/blob/bd9d674006b34de12fc8ef6296c56adf8bcb2696/plugin/interface_generator/main.go#L321) and [`hooksTimerLayerTemplate `](https://githu

[2020-06-04 17:35] julianovoa commented on #14660
v5.24 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.24.0-rc1/mattermost-team-5.24.0-rc1-linux-amd64.tar.gz

Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3622/files)

[2020-06-04 21:31] jon88 opened #14755 "Slow typing after upgrade to release-5.23"
#### Summary
After upgrade to release-5.23 typing and repeated keystrokes are very slow compared to relase-5.21 in mattermost-webapp under firefox 76.0.1

#### Steps to reproduce
* mattermost/mattermost-team-edition:release-5.23 and mattermost/mattermost-prod-db:5.23.0
  * watch CPU utilization via htop / top orsm
  * Open mattermost webapp and hold down keystroke as when typing a message
  * Expi

[2020-06-04 23:19] amyblais commented on #14755
@jon88 Can you help try clear your cache / delete your AppData folder for the issue to be resolved?

There was a bug in one of our libraries and we've applied a fix for it.

[2020-06-05 10:25] jon88 commented on #14755
Test with disabling cache in firefox inspect mode under network tab.

| test nr | version   | cache in FF | repeated keysrokes in 10s   | notes |
|:----: | :----------: | :---------: | :-------------------------: | :---------------: |
| 1| release-5.23 | disabled    | 199                         |  |
| 2 | release-5.23 | enabled     | 136                         |  |
| 3 | release-5.23 | enabled

[2020-06-05 11:32] #14701 closed

[2020-06-05 11:45] sudheerDev commented on #14755
@jon88 Can you let us know if the issue persists?
Do you see any console errors when this happens?

[2020-06-05 13:33] jon88 commented on #14755
Clearing cache globally didn't help and even with network/disable Cache to force redownload of all js etc it still feels slower and it seems that it starts becoming slower and slower as with previous release no such problems. I can try to do a fresh install of those different versions to exclude some migration problems.

I can see such errors on console:
[code]

[2020-06-05 14:02] hmhealey commented on #14683
Yeah, it sounds like a bug. Back when Latex rendering was added, I'm pretty sure it was supposed to use `tex` to print the source code and `latex` to render it properly. That must've changed at some point.

[2020-06-05 14:08] hmhealey commented on #14683
Actually, I was wrong about that. They both rendered the latex [from the beginning](https://github.com/mattermost/mattermost-server/pull/1351/files#diff-679db143ef363d2321bf05339657483cR72).

[2020-06-05 15:01] ali-farooq0 commented on #14056
Fixed as part of https://github.com/mattermost/mattermost-webapp/pull/5626

[2020-06-05 15:01] #14056 closed

[2020-06-05 15:58] #14503 closed

[2020-06-05 16:41] Ashniu123 commented on #14754
Hi
Could you assign this to me? I want to work on this.

P.S. The link in description leading to the file leads to "Page Not Found".

[2020-06-05 16:45] ali-farooq0 commented on #14754
@Ashniu123 you got it.

Updated the links 👍

[2020-06-05 19:27] mitchellroe commented on #13714
I'd like to take this one.

[2020-06-05 19:36] jon88 commented on #14755
I did a separate fresh install of mattermost/mattermost-team-edition:release-5.23 with same (as similar as possible) configuration and repeated characters speed in 10s is 230.

Same errors appear on console and served `js` files have the same names.

I then noticed that I have `Style sheet could not be loaded` error on top of the inspect tab in firefox (this appears only in the server we have prob

[2020-06-05 20:02] sudheerDev commented on #14755
Can you check if you can replicate the issue in the private browsing tab if you have any browser plugins installed?

And if you still are seeing issue, we could use a performance profile when this happens for us to debug this better.

To record a performance profile. Right-click in the tab > inspect element > click on performance tab > click on start recording performance and start typing in the c

[2020-06-06 09:47] #14716 closed

[2020-06-06 09:53] #14006 closed

[2020-06-06 10:30] amarjeetanandsingh commented on #14438
Hi @ethervoid

As you mentioned in [this comment](https://github.com/mattermost/mattermost-server/issues/14438#issuecomment-636053074), something like below code in `SqlPostStore.SearchPostsInTeamForUser()` in `store/sqlstore/post_store.go` file should sanitise the  search terms as needed?

[code]

However, adding this char filter causes `TestSearchPostStore/MySQL/Should_support_search_with_wildca

[2020-06-06 16:15] avasconcelos114 commented on #14662
I'll take care of this one :)

[2020-06-06 19:13] mayurjobanputra opened #14763 "Editing Header locks up the UI"
#### Summary
Editing the header in a chanell locks up the UI on web, or in the app

#### Steps to reproduce
Latest version of the app and server. Hosting is on kamatera. To reproduce, open a channel, and click "Set a Header".

#### Expected behavior
When I click "Set a Header" in a channel, the modal window does appear for editing, and I can edit the header, but once I click save, the modal window

[2020-06-07 15:26] Ashniu123 commented on #14754
I am working on it and I see that there is no way to just check errors with the existing template functions. And I also see that all generated functions do not return errors. So here is my Plan of Action. Please let me know if it is correct before I move forward.

I will create a new template function `destructErrors` which will take in the `.Return` FieldList (and the prefix) and `.Param` FieldLi

[2020-06-08 00:47] rvillablanca commented on #14738
Hi @iomodo, I have a doubt. If the argument has a pattern and the input match that pattern, then what is the expected suggestion? For example if the pattern was `\d{3,6}` and the input was `123`, then which would be the expected suggestion?

[2020-06-08 04:07] agnivade opened #14766 "Migrate AppError to error from GetAllChannels/GetAllChannelsCount.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `GetAllChannels/GetAllChannelsCou

[2020-06-08 04:32] agnivade commented on #14639
Hi @farah - how is it going with this ? Please let us know if there's anything we can help with.  :)

[2020-06-08 04:36] farah commented on #14639
@agnivade Apologies for the delay! I was working on this at this moment. I had some confusion but I think I sorted it out by reading previous migration PRs, I hope to submit the PR by tonight.

[2020-06-08 04:38] agnivade commented on #14639
Awesome. Looking forward to it. :)

[2020-06-08 04:40] farah commented on #14639
One quick question, in the original PR you had:

[code]

Do you have an example of the last sentence? Not sure how the code duplication will go away .

[2020-06-08 04:48] agnivade commented on #14639
The example won't come until we actually start the migration of the app layer errors too :)

By "de-deduplication", I mean that the the switch cases for different error types will merge to a single app layer call rather than multiple store layer call inside a single app method.

For example,

[code]

Would change to
[code]
And the switch case will move to the api layer. Does that help clarify ?

[2020-06-08 05:53] farah commented on #14639
Thanks for the great explanation @agnivade, makes sense now.

[2020-06-08 10:00] iomodo commented on #14738
Hey @rvillablanca, if the pattern was `\d{3,6}` and the input was `123` expected suggestion will be `123`. If the input was for example `blabla` there would be no suggestion. `Pattern` field is just for filtering if the input pattern is correct or not and it could be any standard regexp.

[2020-06-08 10:38] jon88 commented on #14755
Issue is present in private mode as-well.
As far as I can understand the performance graph then when running normally fps is around 60 fps but when hitting a keystroke then it drops down to 8.26 fps.

See attached:
[ff-profile.json.gz](https://github.com/mattermost/mattermost-server/files/4745402/ff-profile.json.gz)

[2020-06-08 10:46] sudheerDev commented on #14755
@jon88 Hey, thanks for the profile, I am looking into it. Firefox dev tools for performance debugging are not great. It makes the work harder than it should be. Could you also check on chrome and if you are seeing the same issues, can you share a performance profile from chrome dev tools? The steps above are pretty much similar.

[2020-06-08 11:43] jon88 commented on #14755
I tested with a windows machine with FF ( version 77) and Chrome: everything worked fine. Chrome was even super-fast.

I then tried with a docker-container firefox on my computer and the problem persists.
I took my laptop which has the same distro/ kernel/ ff:
  - with release-5.23 minFps drops to 10 fps
  - with release-5.21 minFps drops to 35 fps

Same thing is observed by another user who is ru

[2020-06-08 12:01] amyblais commented on #14763
@mayurjobanputra Would you be able to help confirm your Mattermost server version and desktop app version, as well as your OS and version? Do you see any log errors?

[2020-06-08 12:06] hanzei commented on #13731
Fixed with https://github.com/mattermost/mattermost-webapp/pull/5244. Thanks @brunoro :+1:

[2020-06-08 12:06] #13731 closed

[2020-06-08 13:10] devinbinnie commented on #13714
Sounds great! Thanks @mitchellroe!

[2020-06-08 14:14] ali-farooq0 commented on #14754
@Ashniu123 Doesn't look like it is possible without writing another template func. Your idea makes sense. Left a few comments on your PR.

[2020-06-08 15:36] lieut-data commented on #14755
@jon88 thanks for the specifics, and the good news that it's running fast in at least a subset of environments.

I admit to not having experience running Firefox in a Docker container. Would I be correct in saying that all the performance issues you've observed are in a Linux environment and running Firefox? Would you be open to testing with Chromium for Linux and seeing if the problem persists th

[2020-06-08 18:45] mattermod opened #14774 "Hand cursor should not appear on new status menu header"
We don't want users to get confused with custom statuses, so proposal is to change the text to "Status" and make sure the hand cursor does not appear clickable

![image-2020-06-08-07-57-45-556](https://user-images.githubusercontent.com/16541325/84069001-1d670480-a9ca-11ea-96c8-5f419fe884c8.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](http

[2020-06-08 20:35] michaelkozakovsc opened #14775 "iOS messages containing emojis fail to send"
#### Summary
iOS messages containing emojis fail to send

#### Steps to reproduce

App version: 1.31.2 (build 296)
Server Version: 5.22.3

#### Expected behavior
Messages should deliver

#### Observed behavior (that appears unintentional)
![IMG_D32E39E0DC3C-1](https://user-images.githubusercontent.com/22355373/84077960-16c69600-a9a6-11ea-9d3d-f364bb6b358e.jpeg)

[2020-06-08 23:15] mattermod opened #14779 "Selecting an emoji shows hidden text"
Daily, Chrome, Win10

![](image-2020-06-04-10-53-35-625.png|thumbnail)

Expected: Emoji itself gets highlighted but doesn't show hidden text

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost co

[2020-06-08 23:45] amyblais commented on #14775
@michaelkozakovsc What iOS version are you on? Are you able to reproduce this on v1.32 beta version?

[2020-06-09 00:00] tuxity opened #14780 "Slow loading since 5.22"
#### Summary
Mattermost is very very slow since 5.22, loading channel messages takes lots of time, and editing a message take a bit more than 11 seconds.
Note: I wasn't able to reproduce channel messages loading issue every time, only message editing.

Tested with Firefox, desktop app, iOS app.
I also tried to disable all plugins, purge MM cache, remove rate limiting, rebuild app/db docker image (

[2020-06-09 03:58] agnivade commented on #14780
Hi @tuxity. Thanks for the very detailed report. I have a couple of follow up questions which might help us to debug this further.
- On the post editing delay, do you see anything interesting in the logs at a DEBUG level ? Does this only happen during editing a post, and not when creating a post ? What DB are you using ? Would you be able to check the slow query logs and see if there's any query i

[2020-06-09 04:23] tuxity commented on #14780
- The delay is indeed only when updating the message, not when posting it. I use postgres 9.4 as a database.
- I don’t know if we have a lot, but we do have a few yes maybe ~15/20?To give you an idea, statistics says 189 channels (idk if it includes archived ones) 46 active users, 12988156 messages.

I will do more tests tomorrow with logs in debug mode and slow query logs, when the team will be s

[2020-06-09 04:31] agnivade commented on #14780
That sounds great.

Sure. https://mattermost.atlassian.net/browse/MM-25563

[2020-06-09 12:01] amyblais commented on #14780
@sudheerDev FYI this report may be related to https://github.com/mattermost/mattermost-server/issues/14755.

[2020-06-09 12:16] agnivade commented on #14780
#14755 is an issue that happens only on Firefox. This seems like a server side issue to me.

[2020-06-09 12:59] sudheerDev commented on #14780
Yes, @agnivade the other related ticket is a client-side issue and this isn't. This seems to be
 client platform-independent issue

[2020-06-09 16:15] mattermod opened #14784 "Add Account Settings option to select different notification sounds"
As a user, I want the ability to choose between different notification sound files.

In Account Settings under Notifications > Desktop notification sounds:
1. Maintain the "On" and "Off" radio buttons
1. Add a drop-down selector between the "off" radio button and the help text when the option is set to "On"
    - The drop-down has the the following sound selections: of "Down", "Crackle", "Hello",

[2020-06-09 16:18] #14766 closed

[2020-06-09 17:43] ethervoid commented on #14438
We're supporting search using the wildcard but only when the wildcard is included in the term, for example `search*` is accepted but `search *` is not accepted and that asterisk should be removed

[2020-06-09 19:04] jon88 commented on #14755
By default I don't run firefox in a container either but just wanted as-clean state I can provide.
Tested with chrome on linux and seemed to run fine.

It seems that channel where the writing is done affects this issue:
direct message to specific person (who also has this problem): 112 c / 10s
direct message to myself: 213 c / 10s
almost empty private channel: 228 c / 10s

This must be somehow rel

[2020-06-09 20:44] teresa-novoa commented on #14784
@hmhealey can you please add the difficulty and programming languages labels? Thanks!

[2020-06-09 21:27] FlaviaBastos commented on #14005
Opened pull request https://github.com/mattermost/mattermost-server/pull/14785 for this issue.

[2020-06-09 21:56] tuxity commented on #14780
A bit more information on slow endpoints:

- GET `/api/v4/users/XXX/channels/YYY/posts/unread?limit_after=30&limit_before=30` (91 messages, 47.33 ko) took also a bit more than ~12 sec to load
- PUT `/api/v4/posts/WWW/patch`

I don't think it's related to archived channels since it's a different endpoint

I also tried to start postgres container like this to log slow queries: `command: postgres -c

[2020-06-09 22:18] pradeepmurugesan commented on #14198
Discussed with @hmhealey a couple of approaches to solve this.
Right now, on clicking the  + button  it opens a modal and the content from the model is served by https://community.mattermost.com/api/v4/users?page=0&per_page=100 endpoint.

The above endpoint cannot filter for the users I have interacted with.

**Option 1**
In order to achieve the same, we need to use the channels endpoint `https://

[2020-06-10 05:26] agnivade opened #14789 "Migrate AppError to error from store/sqlstore/user_terms_of_service_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/user*terms_of_ser

[2020-06-10 07:16] mrinker-dev opened #14790 "Copy proxy password always into chat window"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-06-10 08:22] #13159 closed

[2020-06-10 10:14] shubhamchinda-sc opened #14792 "Migration from Rocket.Chat to Mattermost"
We want to migrate from Rocket.Chat to Mattermost due to scalability issues.

Any suggestion on how we could migrate data for RC to Mattermost?

Thanks!

[2020-06-11 03:50] hcwong commented on #14634
Hi can I take this?

[2020-06-11 04:06] agnivade commented on #14780
Yes, I have seen it. Thanks.

[2020-06-11 04:07] #14714 closed

[2020-06-11 08:32] #14748 closed

[2020-06-11 09:08] hanzei commented on #14634
Sure, thanks would be great @hcwong. Please let me know if you have any questions.

[2020-06-11 10:30] lieut-data commented on #11288
@streamer45 has indicated he'd like to take a second stab at this ticket.

[2020-06-11 11:40] richhamseth commented on #14696
@amyblais thanks for your support, Actually I have updated my mattermost server(from 5.22.0 to 5.23.0 ) day before yesterday. I tried the same thing again it worked without any issue

[2020-06-11 13:41] rvillablanca commented on #14784
Hi @hmhealey I will work on this

[2020-06-11 14:52] mkozakov commented on #14775
hi @amyblais not sure how to get the beta! im on ios 13.4.1.

I looked at the server logs, seeing this message whenever i try to post an emoji from the app:

{"level":"error","ts":1591885718.0757122,"caller":"mlog/log.go:175","msg":"Unable to save the Post.","path":"/api/v4/posts","request_id":"cd5ygohk8byjibzc5hhjn84zbw","ip_addr":"_______","user_id":"ynrbea57etnyfdoipdskjo7wbe","method":"POST","

[2020-06-11 15:11] fedealconada commented on #14434
Hey @ethervoid, sorry its taking me so long, I've been busy the last weeks. I've pushed something, would like you to give it a look

[2020-06-11 15:11] divinebovine opened #14800 "Pasting code replaces all previously written text"
#### Summary
Pasting code from GitHub replaces the entire text buffer with the code. Any text that was already written is wiped out. This is frustrating when I'm writing up description of the code and want to paste the code after the description. I am using the electron app if it makes a difference.

#### Steps to reproduce
Mattermost Version: 5.20.1
Database Schema Version: 5.20.0
Build Hash: 0e1

[2020-06-11 15:20] mkozakov commented on #14775
ok i found an old issue that i wasn't able to find before - it resolved this problem: https://github.com/mattermost/mattermost-server/issues/5760

This bad config value came from the bitnami one-click config - how do we make sure other people's configs don't default to this bad value?

[2020-06-11 15:26] #14715 closed

[2020-06-11 16:22] amyblais commented on #14800
@divinebovine This has been fixed in v5.23 release: https://mattermost.atlassian.net/browse/MM-23933.

[2020-06-11 16:35] divinebovine commented on #14800
@amyblais Thank you, I searched the issues before hand but I guess I missed it.

[2020-06-11 16:35] #14800 closed

[2020-06-11 17:57] amyblais commented on #14775
Would you be open to sharing a link to where to get the bitnami one-click config?

[2020-06-11 18:00] mkozakov commented on #14775
This is where my image came from (the image included a config.json)

https://console.cloud.google.com/marketplace/details/bitnami-launchpad/mattermost

[2020-06-11 19:21] paalbra opened #14801 ""username" parameter does not override username in incoming webhook"
#### Summary
"username" parameter does not override username in incoming webhook. This seem to only be an issue on web/desktop. Android/iOS displays the name in the "username" parameter.

https://developers.mattermost.com/integrate/incoming-webhooks/

Mattermost Version: 5.23.0
Database Schema Version: 5.23.0
Database: postgres

#### Steps to reproduce
Send something like:
[code]

#### Expected be

[2020-06-12 10:21] #14108 closed

[2020-06-12 11:46] #14005 closed

[2020-06-12 12:19] #14696 closed

[2020-06-12 13:04] hmhealey commented on #14784
@rvillablanca Awesome, thanks! Let us know if you have any questions or need any help with that.

As usual, the easiest way to reach someone is in the ~developers channel on https://community.mattermost.com.

[2020-06-12 13:30] lieut-data commented on #14801
Thanks for the report, @paalbra! I'm unable to reproduce this on v5.23 or master alongside the latest mobile application. Both web and mobile correctly display the override when set, and correctly suppress it when the server is configured to disallow overrides.

Is there a chance your web/desktop assets aren't up-to-date relative to your v5.23 server? You can check the "About Mattermost" in the ma

[2020-06-12 13:40] paalbra commented on #14801
I'm pretty sure it worked before (on web), but I can't guarantee it and I don't know when the change happened (I just noticed the behavior yesterday) .

Hashes:

Build Hash: ed1576d007a09b07574b18784b9eabb3d8c9db53
EE Build Hash: 9d6d6b0a601330640d7cfe0e64be5ea6a41436d4
Webapp Build Hash: 33ea86b0d3f67c7d00f1e2996acd4427fd5852f4

Are these wrong/outdated?

[2020-06-12 14:13] lieut-data commented on #14801
@paalbra, those hashes look good, so your webapp appears to be up-to-date. I'm stumped, since I've double checked the mobile code and confirmed they all use the same logic to decide when to override.

Does this happen for all webhooks? On a whim: does clearing your webapp cache make any difference?

[2020-06-12 14:20] #12337 closed

[2020-06-12 16:12] #14754 closed

[2020-06-12 22:24] JimmySorza commented on #14775
yes I had the same problem and the #5760 resolved it -> https://github.com/mattermost/mattermost-server/issues/5760#issuecomment-288784179

[2020-06-12 23:09] aleqx commented on #11326
I find myself still having issues. Exact same installation type, from 1 hour ago, v5.23. Unlike the OP, I want to use my own localhost SMTP server which listens on port 25 and which works fine. The Docker bridge IP is 172.22.0.1.

Environment > SMTP > SMTP Server: 172.22.0.1
Environment > SMTP > SMTP Port: 25

All the others options are on their defaults (no auth required, no TLS).

When I click o

[2020-06-12 23:40] aleqx commented on #11850
I chased my tail for quite a while until I found this thread. Frustrating. I'd like to make a plea to the devs to **please** give a red **error** instead of "success" when clicking "Test Connection". Something like: "Error: You need to enable Email Notifications in *Site Configuration > Notifications > Enable Email Notifications* in order to activate and test SMTP settings." ... instead of saying

[2020-06-13 01:55] aleqx commented on #11850
In fact, this is an actual bug, because the config page for *Site Configuration > Notifications > Enable Email Notifications* says `When false, email invitations and user account setting change emails are still sent as long as the SMTP server is configured.`

That's actually not true. If set to false then it doesn't actually work, and the "Test Connection" button doesn't do anything either.

[2020-06-13 04:44] agnivade commented on #11850
Indeed, this can be confusing. I have filed https://mattermost.atlassian.net/browse/MM-26021 to track this. Please feel free to subscribe to that.

[2020-06-13 08:17] cmygray commented on #12475
https://github.com/mattermost/mattermost-webapp/pull/5720

[2020-06-13 12:18] paalbra commented on #14801
This is very weird. A different webhook behaves correctly (username parameter rendered for both web and mobile).

I'm going to try to investigate why/if these webhooks are somehow different. Could it be that they're different inside the application because of when/at what mattermost version they were created?

I've tried different browsers. They render the same name. So I don't believe this is a c

[2020-06-13 12:24] paalbra commented on #14801
I can add that I've confirmed that other people see the same behavior on their devices.

[2020-06-13 13:19] paalbra commented on #14801
Also: The webhook with the problems was created in January 2019. I am not sure what Mattermost version we were using at the time.

[2020-06-13 15:46] aleqx commented on #11850
That's a step in the right direction. However, see my post above: even with a less misleading error message, it would still be a bug and a problem as SMTP is supposed to work even when notifications are disabled.

[2020-06-13 17:41] agnivade commented on #11850
That's right, I haven't looked into that part. Would you be open to filing a new issue for that? This feels like it needs to be tracked separately.

[2020-06-14 05:59] kaakaa opened #14809 "Footer text in invite email is not translated"
#### Summary
Email footer in only invitation email isn't translated.

**Invite email (footer is not translated)**
<img width="674" alt="スクリーンショット 2020-06-14 14 16 54" src="https://user-images.githubusercontent.com/1453749/84585874-1408ec80-ae4f-11ea-9654-1c982b4df7c2.png">

**Change email address (footer is translated)**

<img width="678" alt="スクリーンショット 2020-06-14 14 47 23" src="https://user-image

[2020-06-14 13:22] TheDarkestDay commented on #14473
Greetings, everyone! I've signed a CLA a moments ago but unfortunately still not sure whether am I allowed to contribute or not.

If yes, I would like to take this one.

[2020-06-14 15:20] aleqx commented on #11850
I think the current issue could simply be reopen given it wasn't actually resolved. There is another pone which is caused by the same underlying issue: https://github.com/mattermost/mattermost-docker/issues/408. Opening a third one would probably become even more confusing.

[2020-06-14 17:07] agnivade commented on #11850
I think the current issue is what I opened the JIRA ticket for. The issue that you mention is also related but is a different bug IMO, as they deal with different things. Reopening this one might cause some confusion because there are actually 2 issues here.

I agree that the docker issue can be closed. The JIRA ticket that I created, along with the new issue should track both these problems.

Tha

[2020-06-14 22:00] aleqx commented on #11850
What I'm saying is that the one you opened isn't the problem as SMTP should work regardless.

[2020-06-15 03:09] rvillablanca commented on #14784
@hmhealey PR was created :point_up: :)

[2020-06-15 03:54] agnivade opened #14812 "Migrate AppError to error from GetMoreChannels.store/sqlstore/channel_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `GetMoreChannels.store/sqlstore/c

[2020-06-15 04:09] agnivade opened #14813 "Migrate AppError to error from store/sqlstore/system_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/system_store.go`

[2020-06-15 04:09] agnivade opened #14814 "Migrate AppError to error from store/sqlstore/status_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/status_store.go`

[2020-06-15 04:09] agnivade opened #14815 "Migrate AppError to error from store/sqlstore/scheme_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/scheme_store.go`

[2020-06-15 04:09] agnivade opened #14816 "Migrate AppError to error from store/sqlstore/license_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/license_store.go`

[2020-06-15 04:09] agnivade opened #14817 "Migrate AppError to error from store/sqlstore/tokens_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/tokens_store.go`

[2020-06-15 04:09] agnivade opened #14818 "Migrate AppError to error from store/sqlstore/supplier_reactions.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/supplier_reaction

[2020-06-15 04:09] agnivade opened #14819 "Migrate AppError to error from store/sqlstore/audit_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/audit_store.go` t

[2020-06-15 04:10] agnivade commented on #14596
Hey @kadir96 - how is it going with this one? :) Please let us know if there's anything we can do to help out. Thanks !

[2020-06-15 04:50] agnivade commented on #11850
Ok, perhaps I am not able to understand you correctly. From what I understand you reported 2 issues-

I had opened an issue for the second part.

In any case, I opened a ticket to track the first problem here: https://mattermost.atlassian.net/browse/MM-26033. Please feel free to add your observations there.

[2020-06-15 04:55] clarmso commented on #14081
I've recreated the PR here: https://github.com/mattermost/mattermost-webapp/pull/5722

[2020-06-15 05:45] agnivade commented on #14780
I took a look at the commits that changed from 5.21 to 5.22. The only thing which stands out to me is the skipThreads implementation for posts.

For the unread API, does it happen for all channels ? Same question for patch post too.

Please also give us the debug logs for the duration when these slow calls are happening. Thanks. And a HAR dump of the requests with a matching set of debug logs woul

[2020-06-15 06:36] reflog commented on #14780
@agnivade - I don't see it. skipThreads would cause **less** database load and it's not used in PATCH at all. So I don't think this is it :(

[2020-06-15 06:55] agnivade commented on #14780
I was referring to the unread posts endpoint. But yes, in general I would agree. I am trying to see if it's channel specific or happens everywhere.

[2020-06-15 08:24] Touchwoody commented on #14531
Well, that clarifies the current behaviour, but doesn't solve the problem.

Everyone hosting mattermost CE needs a way to show it's _own_ custom privacy policy and terms of service to it's users, too. Obviously since 5.17 there are no more means to do so. This is fatal.

As mentioned, it is often by law, that PP and ToU have to be easy to find for the user. At least in Germany it is. Right now the

[2020-06-15 12:46] amyblais commented on #14809
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-26052

[2020-06-15 13:33] lieut-data commented on #14801
It's possible, but upon reviewing the code, nothing stands out to me as to why that would matter in this case. Perhaps you might take a look at the webhook configuration in the database to see if anything stands out? You might also create and test with a new incoming webhook and the same configuration to see if the issue reproduces as such.

[2020-06-15 13:41] paalbra commented on #14801
@lieut-data Are you able to provide the queries I should run in the database? I'm not familiar with the schema

[2020-06-15 14:36] joshuabezaleel commented on #14814
May I have a shot on this one? :slightly_smiling_face:

[2020-06-15 14:48] agnivade commented on #14814
All yours!

[2020-06-15 16:42] qnxor commented on #11850
To re-explain: there is only one issue here: the fact that SMTP doesn't work if notifications are disabled. It should ALWAYS work. When you fix that, the other becomes a non-issue.

[2020-06-15 17:11] #12353 closed

[2020-06-15 17:13] lieut-data commented on #14801
@paalbra, you can query all the webhooks in the system with something like:
[code]

Where the `<id of webhook>` is the URL that's part of the webhook target (i.e. `b51mtkh38bydxyk9jdcpbnyxmo` in `http://localhost:8065/hooks/b51mtkh38bydxyk9jdcpbnyxmo`).

[2020-06-15 18:21] someone-somenet-org opened #14821 "promote guest to user: account joined as guest into off-topic channel"
If you have a guest user joined only to read-only ``town-square`` ("Announcements") and not to ``off-topic`` they will get joined into ``off-topic``, once you promote the account from guest to user.

The Problem is: The newly converted account is joined into ``off-topic`` as guest (in the db: ``scheme_guest = True, scheme_user = False``). The promoted user is able to do everything a user is able t

[2020-06-15 18:44] agnivade commented on #11850
That's correct. The 2 issues I created are more of specific work items to fix this. But overall, what you said is right.

[2020-06-15 19:53] #14081 closed

[2020-06-15 20:07] amyblais commented on #14473
@TheDarkestDay Yes, that is fine, thank you!

[2020-06-15 20:37] shubhamchinda-sc opened #14824 "Channel Name contains invalid characters in Bulk Import"
I was trying to use **[Bulk Import feature](https://docs.mattermost.com/deployment/bulk-loading.html)** of mattermost but as I try to validate the **jsonl** format I get this error :

[code]

My JSONL data :
[code]

I don't know what's causing this error as the name of channel is just a simple string "General".

Any help would be highly appreciated. Thanks :)

[2020-06-16 01:05] rvillablanca commented on #14819
Hi @agnivade, grabbing this one.

[2020-06-16 01:36] lindalumitchell commented on #14382
Thanks for this; closing this issue as it appears to have been resolved. Please let us know if anything else comes up with this issue.

[2020-06-16 01:36] #14382 closed

[2020-06-16 08:56] #14718 closed

[2020-06-16 09:20] csankhala opened #14828 "Add 'Mark Read' option in right click of Channel(or Group) to clear notification icon"
I suggest to have 'Mark read' option for any Channel in Mattermost.

There may have few groups which are integrated to get notification of JIRA updates or Jenkins to build status. Loads of messages are received there and one will see notification icon until one open that channel.

It will be great if Mattermost provides 'Mark Read' kind of function to clear particular channel notifications without

[2020-06-16 09:31] #14347 closed

[2020-06-16 09:41] #12609 closed

[2020-06-16 12:17] amyblais commented on #14824
@shubhamchinda-sc What Mattermost server version are you on? What OS and version are you on? Are there any other log errors that you see?

[2020-06-16 12:18] amyblais commented on #14828
@csankhala What Mattermost server version are you on? What OS and version are you on? Are there any other log errors that you see? Can you help fill in reproduction steps and excepted behaviour?

[2020-06-16 12:58] amyblais commented on #14821
@someone-somenet-org What Mattermost server version are you currently on?

[2020-06-16 14:05] lwelniak opened #14829 "The username is not highlighted (indicating that I have unread messages)."
After the last upgrade to 5.23, we are experiencing some weird behavior of an app. Time to time, the username is not highlighted when a new message occurs.
I cannot give a specific path to repeat the error because I have not noticed the regularity / repetition of its occurrence. Nevertheless, this is problematic, because at random the application does not show me that someone is expecting my answe

[2020-06-16 14:35] amyblais commented on #14829
@lwelniak What OS and version are you on? Do you see any log errors? Would you have any screenshots of the issue?

[2020-06-16 14:38] mlesiakalb commented on #14829
I'm facing the same issue. I am operating on osx.

- Client version: http://www.bankflex.net
- server version: Mattermost Version: 5.23.0

[2020-06-16 14:39] mlesiakalb commented on #14829
I'm facing the same issue. I am operating on osx.

Client version: I'm facing the same issue. I am operating on osx.

Client version: 4.4.2
server version: Mattermost Version: 5.23.0
server version: Mattermost Version: 5.23.0

[2020-06-16 14:40] amyblais commented on #14829
Is this happening on webapp, desktop app, or both?

[2020-06-16 14:40] mlesiakalb commented on #14829
desktop app for sure. I am not sure about web version since i am not using it :)

[2020-06-16 15:04] mlesiakalb commented on #14829
Another case:

Client version: v 4.4.2
Operating system: ubuntu 18.04.3 LTS

the same backend (5.23.0)

[2020-06-16 18:57] rvillablanca commented on #14813
I will get into this migration

[2020-06-16 19:29] someone-somenet-org commented on #14821
@amyblais 5.23.0

[2020-06-16 21:25] rvillablanca commented on #14813
PR already exists @hanzei @agnivade

[2020-06-16 23:23] amyblais commented on #14821
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-26202.

[2020-06-17 00:24] rvillablanca commented on #14815
Hi, I've been working on this so please assign to me :woman_dancing: @agnivade

[2020-06-17 04:03] agnivade commented on #14815
You got it @rvillablanca !

[2020-06-17 05:27] rvillablanca commented on #14816
A PR is coming so please assign this to me :)

[2020-06-17 05:41] rvillablanca commented on #14818
@agnivade Later will get this done so please assign this issue to me :)

[2020-06-17 09:04] larsnaesbye commented on #14528
@hmhealey What was the outcome of the meeting?

[2020-06-17 12:14] amyblais commented on #14829
Following up on this. Do you see any log errors? Would you have any screenshots of when the issue occurs?

[2020-06-17 14:18] #14660 closed

[2020-06-17 16:30] hickscorp opened #14839 "Email Sender / From Address"
This might not be a bug, more like a feature request.

The emails sent by Mattermost have their "Sender" field set to the SMTP username from Mattermost's configuration. It'd be really nice to allow something else - in most case it's something like `no-reply@domain.tld`.

Edit: I realise that my description of the issue terrible. A bit more explanations:
- There is no way for the administrative use

[2020-06-17 18:49] aaronrothschild commented on #14531
@Touchwoody I'm not the PM for this particular area - but I'm wondering if as an interim solution to this issue could be to use the Welcomebot plugin.  It could send a message to every new user and in that customizable message, you could welcome them to the community and offer a link to the custom ToS that would remain in that bot channel for them to go back and refer to.  I'm not sure if that sat

[2020-06-18 04:26] #14717 closed

[2020-06-18 04:52] rvillablanca commented on #14817
Having time I'll work on this @agnivade

[2020-06-18 13:15] Willyfrog commented on #14683
after grooming we came to the conclussion to fix it by adding two new suffixes for codeblocs:
`'''texcode` and `'''latexcode` that displays codehighlight but doesn't trigger the renderer.

[2020-06-18 13:46] wiersgallak commented on #14531
@Touchwoody Thank you for the feedback.  We have created a ticket to add the information back to the About Mattermost modal that is accessible from the main menu. https://mattermost.atlassian.net/browse/MM-26294 Please let us know if you think this solution does not meet your requirements.

[2020-06-18 16:57] amyblais commented on #14839
@hickscorp Are you on Enterprise Edition E20?

[2020-06-18 19:04] csankhala commented on #14828
Thanks, @amyblais for bringing my attention here. I almost forget to add detailed requirement in a hurry.

I have edited description. I have not attached any logs, steps, os version as i am suggesting improvement/feature here. Revert back if more details needed.

[2020-06-18 19:05] amyblais commented on #14839
I checked the settings you described and it seems they are currently available in E20 only: https://docs.mattermost.com/administration/config-settings.html#email-notification-contents.

[2020-06-18 19:08] amyblais commented on #14828
@csankhala Thanks! Would you be open to sharing this in our feature request forum here https://mattermost.uservoice.com/forums/306457-general?

[2020-06-18 21:35] jetpackdanger opened #14855 "images in OpenGraph link previews not rendered when image proxy enabled"
#### Summary
When local image proxy is enabled images in OpenGraph link previews are not rendered.

#### Steps to reproduce
Observed with 5.22.1, reproduced in 5.23.1.  Enable link previews. Enable local image proxy. Paste "https://ubuntu.com/blog/fips-certification-ubuntu-18-04-lts" into a channel.

#### Expected behavior
The link preview should be rendered as it would be with the image proxy dis

[2020-06-18 22:14] amyblais commented on #14855
@jetpackdanger What OS and version are you on? Do you see any additional Mattermost server log errors?

[2020-06-18 22:14] jetpackdanger commented on #14855
Actually it seems this has been fixed between 5.22.1 and 5.23.1. I thought I was running 5.23.1 locally but in fact it was also 5.22.1.

[2020-06-18 23:19] wezm commented on #14528
FYI I'm willing to contribute AU$250 to anyone that can make progress on this. [See my post for more details](https://www.wezm.net/v2/posts/2020/bounties/#update-mattermost-server-to-support-emoji-added-after-unicode-9-0).

[2020-06-18 23:25] jetpackdanger commented on #14855
Looks like I spoke too soon; it seems to happen with 5.23.1 also, although not entirely reliably.

@amyblais We're running the Enterprise build of 5.23.1 on a two-node clustered k8s deployment. We originally observed this problem with 5.22.1.  The OS is Ubuntu 20.04 LTS.  There doesn't seem to be any unusual logging related to the problem. From poking around in my browser's debug console it seems

[2020-06-19 09:47] p01arbear opened #14863 "Mattermost crashes after "Trust Sert" on error ERR_CERT_AUTHORITY_INVALID"
#### Summary
The problem #12225 is still here.

Server: 5.23.0
Desktop: 4.5.0
OS: Debian 10 with lastest updates

![err](https://user-images.githubusercontent.com/16598339/85119726-dcbd8580-b22a-11ea-8fbf-bb2ef3639f41.png)
#### Observed behavior (that appears unintentional)
After "Trust Insecure Sertificate" I have a [crash](https://github.com/mattermost/mattermost-server/files/4803774/err.log).

[2020-06-19 11:43] 3v1n0 opened #14864 "Add option on teammate name display to show username if not nickname exists"
#### Summary
There's no way to show the nickname or the username (if no nick is set)

#### Steps to reproduce
- In Account Settings -> Display -> Teammate Name Display

You can choose to see the username, the first and last names or nickname falling-back to First and Last name, but there's no one to give priority to nickname over the username.

#### Expected behavior
There's a selectable item "Sho

[2020-06-19 12:19] #14789 closed

[2020-06-19 12:30] amyblais commented on #14863
@p01arbear
1. What Mattermost desktop app version are you on?
2. What Mattermost server version are you on?
3. What OS and version are you on?

[2020-06-19 12:56] amyblais commented on #14864
@3v1n0 Thank you, would you like to share this idea on our feature request forum here https://mattermost.uservoice.com/forums/306457-general?

[2020-06-19 13:12] 3v1n0 commented on #14864
Ok, added as https://mattermost.uservoice.com/forums/306457-general/suggestions/40706974-add-option-to-show-nickname-or-username-never-rea

[2020-06-19 13:45] #14864 closed

[2020-06-19 13:58] cedricroijakkers opened #14867 "All user status remain offline after update to 5.24.0"
#### Summary
All user status remain offline after update to 5.24.0 - error 500 on /api/v4/users/status/ids

#### Steps to reproduce
Have a previously running version of 5.23.0 and update to 5.24.0

#### Expected behavior
Not getting errors 500 on user status, and no errors in the logs for the same

#### Observed behavior (that appears unintentional)
I'm running the docker container mattermost/matt

[2020-06-19 14:29] cedricroijakkers commented on #14867
I just found out this is not related to the upgrade at all... It turs out our lovely DBaaS database from Microsoft Azure had a corrupt table "status" without noticing or telling anyone.

The hard solution was to "truncate table status", which deleted the database files (that were no longer existing) and then the errors went away. Of course also everybody's status was gone, but this was broken anyw

[2020-06-19 14:29] #14867 closed

[2020-06-19 16:03] hmhealey commented on #14528
@larsnaesbye It's on my roadmap to work on next after I get some big sidebar updates into testing. Unfortunately those updates are taking longer than we wanted, but emoji updates are still planned for after that

[2020-06-19 16:08] hmhealey commented on #14683
For anyone interested in working on this, if you have any questions, feel free to message me here or on our community server (https://community.mattermost.com) where I'm `@harrison`

[2020-06-19 16:36] larsnaesbye commented on #14528
Cool. Let me know if there's anything I can do to help.

[2020-06-19 18:26] #14812 closed

[2020-06-19 21:09] hmhealey commented on #14029
Hey @7mioda. Have you been able to take a look at this yet? We're updating the version of highlight.js that we're using (https://github.com/mattermost/mattermost-webapp/pull/5743) which will change how languages are loaded, so that may affect this code a bit.

[2020-06-20 02:27] sherpya opened #14871 "Enabling Bleve search engine makes the cli mutually exclusive with the running server"
#### Summary
Enabling Bleve search engine makes the cli mutually exclusive with the running server

#### Steps to reproduce
- Enable Bleve
- execute a simple command with cli e.g. `./bin/mattermost team list`

#### Expected behavior
Command results

#### Observed behavior (that appears unintentional)
[code]
and hangs

#### Possible fixes
maybe not initializing the bleve engine when using the cli

[2020-06-20 06:04] amarjeetanandsingh commented on #14438
Hi @ethervoid
changes something like [this](https://github.com/amarjeetanandsingh/mattermost-server/commit/e3c48b9e64ec64d398f143291956c3e02b6d8942) would help?
It passes the respective test case for postgress and mysql.

we can refactor the sanitisation code @ proper place. But the logic looks good to go?

[2020-06-20 07:32] jakubnovak998 commented on #13707
Hi, I can work on this.

[2020-06-21 09:14] GChester commented on #14734
It looks like I might have been using the wrong "/" slash.  Thanks, I'll try this..

[2020-06-21 13:52] tatdatpham opened #14873 "Does support hidden and disable input in Interactive Dialogs ?"
Sometime we need send some hidden input value to integration server and fix some value (user can't change)
So currently, does Mattermost support hidden and disable input form ?

[2020-06-21 14:28] TheDarkestDay commented on #14633
I would like to take this one.

[2020-06-22 05:39] csankhala commented on #14828
done. https://mattermost.uservoice.com/forums/306457-general/suggestions/40721149-add-mark-read-option-in-right-click-of-channel-o

[2020-06-22 12:07] #14828 closed

[2020-06-22 12:45] amyblais commented on #14873
@tatdatpham Would you be open to asking about this on our [community server's Peer-to-Peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? I'm not sure of the answer to your question but one of our other staff or community members may be able to help you.

[2020-06-22 12:46] dpanic commented on #14498
Hey @amyblais I am interested in implementing this PR.

[2020-06-22 13:29] devinbinnie commented on #13707
Sounds great! Thanks @jakubnovak998!

[2020-06-22 16:10] hanzei commented on #14633
Awesome, thanks for taking a shot @TheDarkestDay :+1:

[2020-06-22 20:14] amyblais commented on #14871
@sherpya We've found that this is not happening with mmctl, so we've decided to add this as a known issue instead of fixing it. Thanks for reporting this!

[2020-06-22 20:57] #14871 closed

[2020-06-23 00:57] sherpya commented on #14871
not quite the same thing, I'm unable to archive a team using mmctl

[code]

[code]

[code]
then:

[code]

[2020-06-23 04:56] #14815 closed

[2020-06-23 07:22] paalbra commented on #14801
Here is two hooks. The top one is the one not working properly (this is a production environment and I've scrambled the data)
[code]

[2020-06-23 09:02] paalbra commented on #14801
The user that isn't working properly is a bot user. We've tried to revert this, but the username override still doesn't work.

I just noticed on my Window 10 computer that the OS notification (via Firefox) displays the correct overridden name (the removed name is the normal username for the user).
![notification](https://user-images.githubusercontent.com/265215/85383790-b35d6c00-b540-11ea-8e14-a81

[2020-06-23 09:05] paalbra commented on #14801
The user with the problem is a bot user. We've tried to revert this, but the override still does not work.

I just noticed that on my Windows 10 computer the OS notification (via Firefox) displays the overridden username (the removed username is the normal username for the user).
![notification](https://user-images.githubusercontent.com/265215/85384283-48f8fb80-b541-11ea-84b9-92d2d99634e5.png)

We

[2020-06-23 10:25] paulinaczybir commented on #13481
Hi, can I grab this one?

[2020-06-23 10:46] paalbra commented on #14801
There is a "-" in the username of the user that doesn't work. I can't see that this possibly should make a difference(?), but I guess it's worth mentioning.

[2020-06-23 14:44] amyblais opened #14889 "Mattermost v5.25"
You can find key dates for v5.25 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### June 29th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### June 14th: Release Build Cut
The fi

[2020-06-23 15:20] p3k commented on #7262
maybe it’s the right time **now** to change this behaviour. it is very irritating to see the correct display of the emojis in the editor and then get a uniform look in the actual post. black emojis matter(most)!

![image](https://user-images.githubusercontent.com/16631/85422336-c8082700-b575-11ea-8f7b-63b311dc2529.png)

[2020-06-23 16:39] stacyharper opened #14891 "Mark a channel as Read"
Hello there,

I'm working on a Weechat Mattermost Backend but I got an issue marking my channels posts as read:

ATM, I use the `api/v4/users/{user_id}/posts/{post_id}/set_unread` endpoint but this prevent me to actually mark the post as READ.

Browsing my channels will mark all of them as unread (in official apps) cause the last message is included in the "from the post" range.

I'm looking for a

[2020-06-23 17:31] amyblais commented on #14871
@mgdelacroix FYI ^

[2020-06-23 18:39] Eluminae opened #14894 "500 on fetch read channel messages"
#### Summary

This endpoint seems the only one to fetch read channel messages. But we have to use limit_after=1 and hack results to fetch actually only read messages.

#### Steps to reproduce

Simply Get the endpoint with limit_after to 0 (zero)

#### Expected behavior

GET api/v4/users/{user_id}/channels/{channel_id}/posts/unread?limit_after=0

should fetch the last 60 read messages

#### Observe

[2020-06-23 18:57] esethna commented on #14662
Hey @avasconcelos114, thanks for taking this! How's it going, need any help here?

[2020-06-23 19:00] mattermod opened #14896 "RN iOS: Use new mobile modal style on Other User Profile"
This is a continuation story from https://mattermost.atlassian.net/browse/MM-22852
Other User Profile also needs to use new modal.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. F

[2020-06-23 19:02] Eluminae commented on #14894
In fact it is worse than that.

With this constraint on the limit_after > 0 we actually can't guess which messages are read and which are not.

I expected to pop the last one and make magic but if my user is up to date with all messages, I don't want to pop-out the last message. This will cause displaying read messages as unread.

[2020-06-23 19:07] amyblais commented on #14891
@Eluminae What Mattermost server version are you on?

[2020-06-23 19:12] Eluminae commented on #14894
I found a way to bypass the problem using my other issue https://github.com/mattermost/mattermost-server/issues/14891

Anyway Mattermost will think every last channel message as unread. It will so return me this unread message with this endpoint, closing the circle.

I think work should be done to fetch only read messages with one endpoint.

[2020-06-23 19:13] Eluminae commented on #14891
I'm on 5.24.0

[2020-06-23 19:48] jasonblais commented on #14896
@migbot Please help add labels for difficulty and language areas, thanks!

[2020-06-24 03:56] #14816 closed

[2020-06-24 08:10] mgdelacroix commented on #14871
Hi @sherpya. Local mode doesn't support all the commands and subcommands for v5.24, but archiving a team should work if you run it without using local mode.

[2020-06-24 10:37] ShehryarShoukat96 commented on #13472
@devinbinnie Hi, Can I work on this issue?

[2020-06-24 11:07] paalbra commented on #14801
Hold up. We restarted the service this night. Today the the overridden name is displayed properly on all platforms.

Was a restart needed for the "unboting" to take effect? Maybe this issue is related to the user being a bot user?

[2020-06-24 11:09] paalbra commented on #14801
The restart was related to an upgrade. We're here now:

Mattermost Version: 5.24.1
Database Schema Version: 5.24.0
Database: postgres

Build Hash: b1c4b118f089389ea71744342342fd5654a150b7
EE Build Hash: 8239891909042ef8e47e2b81b5d515ec65d8938c
Webapp Build Hash: d680c73ace274c55119103075ba079225ee96d50

[2020-06-24 11:15] neszt opened #14900 "API: Get posts for direct messages"
#### Summary
Trying to get posts for direct messages

I can get posts for channels
[code]
 but i  can't find way to get posts for direct messages.

[2020-06-24 12:47] amyblais commented on #14900
@neszt What error do you see when trying to get posts for direct message channels?

[2020-06-24 13:19] devinbinnie commented on #13472
@ShehryarShoukat96 Absolutely!

[2020-06-24 13:21] devinbinnie commented on #13481
@paulinaczybir You sure can!

[2020-06-24 13:27] dantepippi commented on #13467
Greetings! I'd like to work on this.

[2020-06-24 13:30] devinbinnie commented on #13467
@dantepippi Awesome thanks!

[2020-06-24 13:31] devinbinnie commented on #13732
Gonna re-add Up for Grabs to this one as we haven't heard back from the contributor recently.
@chrisbirster Let us know if you plan to take this on again.

[2020-06-24 18:00] mattermod opened #14904 "Web: Add a threshold from bottom for new messages toast"
Webapp: On switching to a channel with unreads and if scroll position is not at the absolute bottom, the app shows a toast `X new messages ...`

UX issue: Even if the scroll position is off by a few pixels from the bottom as in the attached screenshot then the app shows a toast as it is not at the absolute bottom.

Expected: Show the toast only if the scroll position of the center channel is 1000p

[2020-06-24 23:37] harshilsharma63 opened #14908 "MM_NO_DOCKER flag is ignored in prereq-check.sh"
#### Summary
setting `MM_NO_DOCKER` to true in Makefile has no effect on checking for docker version in `prereq-check.sh`. When docker is not running on the system `prereq-check.sh` fails and one cannot run Mattermost.

#### Steps to reproduce
1. Stop docker.
1. Set `MM_NO_DOCKER` to true (`MM_NO_DOCKER ?= true`) in Makefile.
1. Run `make run`.

#### Expected behavior
Mattermost server should star

[2020-06-25 00:13] avasconcelos114 commented on #14662
Ah yep, I had slight problems with getting the autocomplete to render on top of the post draft area (in the z-axis), plus been quite busy at work so I sadly haven’t been able to dedicate as much time as I would have liked to sort things out

I’ll probably try to power through it this weekend without sorting the z-index stuff and then resolve that and any other lingering issues during PR reviews :)

[2020-06-25 00:15] mattermod opened #14909 "Hover buttons on image preview thumbnails"
The problem

Currently a user has to click to open an image in the preview window to access the download or copy public link functions:

**Proposed Solution**

Add icon buttons when hovering over images to do the following:

- Download
  - tooltip: "Download"

- Copy link
  - tooltip: "Copy link"

When clicked transition tooltip to ‘Copied’ and change the icon to a green checkmark

**Sample Design

[2020-06-25 00:26] lieut-data commented on #14801
Aha, the bot user is definitely the issue here. With that bit, I was able to reproduce your observations here. Thanks for helping us track this one down! I've filed https://mattermost.atlassian.net/browse/MM-26493 to get to the bottom of why.

[2020-06-25 08:06] #14642 closed

[2020-06-25 15:36] esethna commented on #14909
@bradjcoughlin is finishing this one up, thanks Brad!

[2020-06-25 17:51] sherpya commented on #14871
@mgdelacroix I've noticed it but it tries anywere and ends with a misleading error

[2020-06-25 18:02] amarjeetanandsingh commented on #14569
Hi @agnivade

If we have enough data in the MySQL docker (that we start in local for development) to reproduce this issue, I would like to investigate this issue if allowed.

Or maybe we can have access to some remote db with enough data?

[2020-06-25 18:07] agnivade commented on #14569
Sure, please feel free to investigate and send a PR. Thanks a lot!

[2020-06-25 19:34] TheDarkestDay commented on #14633
I'm not sure which place is better for requirements clarifications but let's try it this way.

As far as I can see, currently channel switch modal displays unread channels in case when input field is empty. So, the question is how should we combine this behavior with the requirements of this task? Or should we really drop displaying unreads in favor of displaying simply list of channels with most

[2020-06-25 19:50] amyblais commented on #14894
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-26535

[2020-06-25 20:16] derek-shnosh opened #14914 "Bulk import (2 users) hangs when Bleve Indexing is enabled"
#### Summary
Performing a bulk import of 2 users via `.json` file hangs when Bleve Indexing is enabled.

#### Steps to reproduce
Enable Bleve Indexing, attempt a bulk import via SSH bash.

#### Expected behavior
Describe your issue in detail

#### Observed behavior (that appears unintentional)
With Bleve enabled, I was trying to `--validate` a bulk import of 2 new users (my preferred method) using

[2020-06-25 22:29] amyblais commented on #14485
Was fixed in v5.23.1 dot release,

[2020-06-25 22:29] #14485 closed

[2020-06-25 22:58] amyblais commented on #14914
@mgdelacroix FYI ^ not sure if we first want to have QA testing this.

[2020-06-25 22:59] someone-somenet-org opened #14918 "Starting up Bleve takes "forever", freezing MM startup."
#### Summary
I have a fully indexed 4500 Users, 625000 Posts, 7500 Channels/700 public Channels instance.

Restarting Mattermost "hangs" on `2020-06-26T00:37:00.642+0200        info        bleveengine/bleve.go:157        EXPERIMENTAL: Starting Bleve`, slowly increasing RAM usage for more than 8 mins, at which point I decided to turn off bleve in the config.json and restart again, after which it bo

[2020-06-25 23:28] someone-somenet-org opened #14919 "Managing a running MM using "bin/mattermost" with bleve enabled will hang indefinitely/deadlock."
#### Summary
When trying to create a user on a running instance with bleve enabled, running: `bin/mattermost user create --system_admin --username someone --email someone@example.com --password Password01` will hang indefinitely on:
`2020-06-26T01:19:21.819+0200    info    bleveengine/bleve.go:157        EXPERIMENTAL: Starting Bleve`

(This is a diffrent instance than the one described in: #14918

[2020-06-26 01:23] hillpd opened #14920 "Hyphenated words are searched separately by 'Recent Mentions' listing"
#### Summary
Adding a hyphenated word to your 'Words That Trigger Mentions' will break the 'RECENT MENTIONS' listing. The hyphen gets ignored and many unrelated messages appear.

#### Steps to reproduce
Add a hyphenated word (like "spot-check") to your 'Words That Trigger Mentions'
Click on 'See recent mentions'
The 'RECENT MENTIONS' list includes messages that do contain the full hyphenated word.

[2020-06-26 02:09] amarjeetanandsingh commented on #14569
Hi @agnivade Could you please help me find this query in the codebase?

[2020-06-26 04:26] #14819 closed

[2020-06-26 04:34] agnivade commented on #14596
@kadir96 - Just checking in on this one. Is this still on your radar?

[2020-06-26 04:35] agnivade commented on #14814
Hi @joshuabezaleel - just checking in on this one. Let us know if we can help in any way.

[2020-06-26 07:34] Willyfrog commented on #14863
@p01arbear thanks for the report!
the file you attached seems to be the code for rudder.

is there any log file in the directory where your desktop app config is? (seen it is linux, it depends on how you installed, but most likely it'll be in `~/.config/Mattermost`

Also, that url shouldn't give you any certificate problems, does navigating with your browser to https://cdn.rudderlabs.com/ gives yo

[2020-06-26 08:18] #14473 closed

[2020-06-26 08:51] #11288 closed

[2020-06-26 09:48] openmohan commented on #13699
Picking this item. Will make a PR shortly.

[2020-06-26 13:16] shubhamchinda-sc commented on #14824
@amyblais

I'm using 5.22.0 version of MM.

My **Os* : Ubuntu 18.04.4 LTS

No I don't see any log errors.

[2020-06-26 14:03] bill2004158 opened #14926 "API to list the posts metioned me"
#### Summary
similar like "Get a list of flagged posts"
https://api.mattermost.com/#tag/posts/paths/~1users~1{user_id}~1posts~1flagged/get
is there any api the return the posts that metioned me.

as a user, when I login, I prefer to see the posts that metioned me from all the teams/channels that I could see,  including direct chat.
because those posts require me to process,
I prefer to see them in

[2020-06-26 14:41] amyblais commented on #14920
Are you using Elasticsearch and are you on Mysql or Postgres?

We have a Jira epic for various search related improvements: https://mattermost.atlassian.net/browse/MM-21973.

[2020-06-26 16:20] derek-shnosh commented on #14914
There was some chat on the Mattermost community server and a subsequent [PR#3173](https://github.com/mattermost/docs/pull/3713) to explain the behavior and workaround. This is OK to close.

[2020-06-26 16:20] #14914 closed

[2020-06-26 19:31] hanzei commented on #14633
@esadur Can you help with these questions :point_up:

[2020-06-27 08:34] Mayeu opened #14929 "Bleve index fails with "converting NULL to string is unsupported""
#### Summary

Bleve indexing fails on our E10 instances with the following error:

[code]

#### Steps to reproduce

1. Update Mattermost to 5.24.2
2. Activate Bleve
3. Save the configuration
4. Start indexing

Thought I'm pretty sure this is highly dependent of the data in the server

#### Expected behavior
I expect Bleve indexing to succeed.

#### Observed behavior (that appears unintentional)

B

[2020-06-28 14:45] mattermod opened #14930 "Document WebappUtils exported for plugins"
This pr https://github.com/mattermost/mattermost-webapp/pull/4778 add the WebappUtils, with specifically browserHistory, to the web app export available for plugins.

We need to document this in the Web App reference here: https://developers.mattermost.com/extend/plugins/webapp/reference/#exported-libraries-and-functions, and preferably with an example on how to use to it to navigate internal link

[2020-06-28 21:10] hryuk commented on #14346
I can take this one

[2020-06-29 03:36] agnivade commented on #14929
/cc @mgdelacroix

[2020-06-29 08:06] sridhar02 commented on #14904
@sudheerDev  Can I work on this issue?

[2020-06-29 08:08] sudheerDev commented on #14904
@sridhar02 Thanks and Yes, of course. Reach out to us on our community instance in case of any questions.

[2020-06-29 08:53] hanzei commented on #14346
Thanks for taking a shot @hryuk :rocket:

[2020-06-29 11:25] ftvkyo opened #14934 "CMD+Enter does not work when editing a message"
#### Summary
When CMD+Enter shortcut for sending messages is enabled, it does not work in the message editing popup window.

#### Steps to reproduce
Mattermost Team Edition, Server 5.24.1
1. Enable CMD+Enter shortcut for message sending.
2. Send a message anywhere.
3. Start editing the message.
4. Try to submit your edits pressing CMD+Enter.

#### Expected behavior
Edits should be submitted, editi

[2020-06-29 13:14] TheDarkestDay commented on #14633
I'm sorry for the absence of progress so far.

The point i wanted to bring up - I am having vacation during the next two weeks therefore I will not be able to work on issues until 17th of July. It might have sense to un-assign me for now just in order not to block it because of me. Sorry about that.

[2020-06-29 14:00] amyblais commented on #14934
@ftvkyo This sounds like something that we haven't implement before but is a good idea. Would you be open to sharing this on our feature request forum here https://mattermost.uservoice.com/forums/306457-general?

[2020-06-29 14:08] ftvkyo commented on #14934
Ah, I just thought that the behaviour of the editing window and behaviour of the message box should be the same in this meaning -- as they actually have the same editing functions and edit the same text.

The problem is that without that fix people with CMD+Enter option enabled have to click the save button with their mouse.

Sure, thank you, I will make a feature request then 🙃

[2020-06-29 17:45] mattermod opened #14939 "Plugin API Wrapper: Use SetDefaults in GetConfig"
The settings in the configuration returned by [PluginAPI.GetConfig()](https://github.com/mattermost/mattermost-server/blob/f5eab1271bdb180824770bb02f3f03e972c184b4/app/plugin_api.go#L83-L85) can be nil, meaning that they contain their zero value.

This is by design ([https://mattermost.atlassian.net/browse/MM-14595](https://mattermost.atlassian.net/browse/MM-14595)) but we can improve the end-user

[2020-06-29 18:16] esethna commented on #10346
Closing based on this comment: https://github.com/mattermost/mattermost-webapp/pull/3648#issuecomment-650776195

[2020-06-29 18:16] #10346 closed

[2020-06-29 21:08] hmhealey commented on #7262
Hi @p3k. That actually appears to be a bug. This issue was filed back when we changed our default emoji images to all be yellow since a handful of random emojis had previously had different skin tones.

Nowadays, we're a bit behind on the emojis that we support, but all the ones that we do support should include full skin tone support. I don't know why this one in particular isn't working since th

[2020-06-29 21:50] hmhealey commented on #7262
I found out what the issue was. It had to do with an ancient bug in the code that converts unicode into the names that emoji image files are stored under, and it only affected a few older emojis such as this one and the raised hand emoji (✋).

There's a PR to fix it here: https://github.com/mattermost/mattermost-webapp/pull/5818

[2020-06-29 23:40] hillpd commented on #14920
I'll confirm the specifics of our setup.

It looks like this is a known issue with Elasticsearch, with a work-around discussed in this thread:
https://discuss.elastic.co/t/searching-for-exactly-a-hyphenated-word/161216/2

[2020-06-30 02:58] brunoserrano commented on #11263
Can I take this one?

[2020-06-30 03:16] esethna commented on #11263
@brunoserrano please do! Thanks!

[2020-06-30 09:16] p3k commented on #7262
Thanks for the quick action, @hmhealey very much appreciated.

[2020-06-30 09:37] p01arbear commented on #14863
I've updated versions in the first message.

No any logs in `~/.config/Mattermost/logs/`

No

It's strange, but after update to 4.5.0 the problem has disappeared soon (after several crashes and manual restarts).
So I can't reproduce it anymore. But it would be great that app will not crash even once :)
Thank you for the help!

[2020-06-30 13:25] amyblais commented on #14889
### v5.25 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.25.0-rc1/mattermost-team-5.25.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3702/files)

[2020-06-30 14:54] amyblais commented on #14510
Closing for now as there hasn't been feedback on this for a while. Please re-open this issue if the problem persists,

[2020-06-30 14:54] #14510 closed

[2020-06-30 14:55] #14379 closed

[2020-06-30 14:55] #14323 closed

[2020-06-30 15:28] Willyfrog commented on #14863
there were several changes around the code that handles that, so I was hoping one will help you :)

Definitely! I'll try to take a look at that in the future

[2020-06-30 15:29] #14863 closed

[2020-06-30 15:40] julian-klode opened #14950 "notify_all.question is only asked for @all and @channel, not @here"
#### Summary
Pull request #6250 implemented a warning when sending messages with `@all` or `@channel` to many users, but the same does not apply to `@here`, which has the same behavior as the other two.

#### Steps to reproduce
Send message with `@here` to large group

#### Expected behavior
Get warned that you're pinging everyone

#### Observed behavior (that appears unintentional)
It just gets s

[2020-06-30 17:17] devinbinnie commented on #13699
Thanks @openmohan!

[2020-06-30 18:10] esadur commented on #14633
@hanzei I believe you meant to tag @esethna, let me know if I'm mistaken.

[2020-06-30 18:14] esethna commented on #14633
Thanks @TheDarkestDay, removed you for now but feel free to ping here when you come back to this!

To answer your above question, yes, the goal here is to show recently viewed channels instead of unread channels

[2020-06-30 18:46] amyblais commented on #14950
@julian-klode Would you be open to upvoting this feature request: https://mattermost.uservoice.com/forums/306457-general/suggestions/38546479-confirm-before-sending-at-here-like-it-is-already? If you're interested in implementing it, please let us know.

[2020-06-30 21:00] mattermod opened #14952 "Improve styling of deactivated user DM channel footer"
Community daily, Win 10

Repro: Open a DM with a deactivated user

Observed:
![](image-2020-06-08-16-08-37-883.png|thumbnail)

Expected: See archived channel message styling.
 ![](image-2020-06-08-16-09-02-490.png|thumbnail)

Expected text: "You are viewing an archived channel with a **deactivated user**. New messages cannot be posted. < Close >"

----
If you're interested please comment here and

[2020-06-30 21:15] mattermod opened #14953 "Re-enable typechecking for XRegExp"
A dependancy update caused the type checker to notice the types are wrong for XRegExp in `utils/text_formatting.txt`
https://github.com/mattermost/mattermost-webapp/pull/5743 disabled type checking in that file.

Re-enable type checking and import updated types or define types manually.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://comm

[2020-07-01 01:24] scottjr632 commented on #13734
Apologies, this year has been crazy so far. Just made the PR.

[2020-07-01 01:25] scottjr632 commented on #13734
Apologies, this year has been crazy so far. Just made the PR.

[2020-07-01 04:19] mrjones-plip commented on #10702
Hey all - I'm no longer working on this so unassigning.

[2020-07-01 07:42] julian-klode commented on #14950
I mean, I guess it's just changing https://github.com/mattermost/mattermost-webapp/blob/master/components/create_post/create_post.jsx#L1228 and the messages below it, but building and testing that scares me a bit at the moment.

[2020-07-01 08:04] hanzei commented on #13734
Awesome @scottjr632 :rocket: Better late then never :wink:

[2020-07-01 08:34] hanzei commented on #14633
Yes, indeed. Sorry for the ping. :confused:

[2020-07-01 12:04] sridhar02 commented on #14197
@hanzei can I work on this issue?

[2020-07-01 12:32] hanzei commented on #14197
Sure, that would be great @sridhar02 :+1:

[2020-07-01 13:29] Vars-07 commented on #14952
Picking this up.

[2020-07-02 04:13] #14818 closed

[2020-07-02 04:36] agnivade commented on #13846
Hi @XD1234567 - I looked into this and indeed the posts can be missing. However, after an extensive [discussion](https://community-daily.mattermost.com/core/channels/developers-server/s1ab7695z3rqumsgsdsj91gp1h) with the team, we came to the conclusion that both our mobile and web clients heavily rely on this API, and they have their own logic to fill up any gaps in the post order. At this point,

[2020-07-02 08:15] Touchwoody commented on #14531
Sorry for the late response:
Yes, displaying both -- mattermost _and_ custom PP/ToU --  in the "about" window sounds very reasonable.

[2020-07-02 09:48] mthaddon opened #14957 "Search by any word in First Name field"
#### Summary
We use an external login provider that provides a "Full Name" field. In the web UI this show as "Full Name" but in the Android app I can see that it's in the "First Name" field, and the "Last Name" field is empty. This seems slightly inconsistent, but in any case, we'd like to be able to search by first name or last name, but we are unable to search by Last Name, presumably because it

[2020-07-02 09:55] mthaddon opened #14958 "Automatically add authenticated users to a team"
#### Summary
We'd like to be able to add all users to a team on login (login is gated by an external provider, so we know anyone who can login should be in this team).

#### Steps to reproduce
We already have the experimental "Primary Team" option set to the team we want users added to, but as far as we can tell from grepping the webapp code, the primary team is not consulted during the signup flo

[2020-07-02 11:25] sridhar02 commented on #14633
@hanzei can i work on this ?

[2020-07-02 12:56] Shubhamchinda opened #14959 "Can't import replies while using Bulk Import"
#### Summary
I'm trying to migrate from Rocket.Chat to Mattermost using [Bulk Import feature](https://docs.mattermost.com/deployment/bulk-loading.html#running-the-bulk-loading-command). I converted all the data in `JSONL` format according to the required [data-format](https://docs.mattermost.com/deployment/bulk-loading-data-format.html#data-format).

## Steps I performed
* To make sure that replie

[2020-07-02 13:48] jespino commented on #14908
Yes, clearly is a bug, I'll take care of this.

[2020-07-02 13:51] jespino commented on #14824
@shubhamchinda-sc you are using upper case values in the `name` field, the `name` fiedl should be always lowercase characters (`[a-z0-9]`) or `-` or `_`, and always start from a lowercase character.

[2020-07-02 13:56] jespino commented on #14900
@neszt to give you some context, direct messages, are just an special type of channels, so if you have the `channel_id` of the direct message, it should work.

[2020-07-02 14:07] jespino commented on #14926
@bill2004158 we don't have an API for that, but have that functionality in our application that does exactly that, we do it by searching using the user mention keywords, so for example my user is `jesus.espino` si I search for posts with the term `@jesus.espino`, but if I have other mention terms, it would be added to the search.

[2020-07-02 14:29] someone-somenet-org commented on #14958
We do this via bot. As we want a combination of welcome message(s) and team + channels joind to have new users in.

-> https://git.somenet.org/pub/jan/mattermost.git/blob/HEAD:/somebot/modules/WSOnboarding.py

[2020-07-02 14:34] openmohan commented on #13704
I would like to take this task.

[2020-07-02 14:35] neszt commented on #14900
@jespino thanks, how to get a direct message's channel id? I tried:
[code]

[2020-07-02 14:40] jespino commented on #14900
@neszt you can get the list of your channels, for example with something like:
`curl -H "Authorization: Bearer xxxxxx" https://mm.example.com/api/v4/users/me/teams/xxxxxxx/channels`

[2020-07-02 14:40] bill2004158 commented on #14926
hi @jespino , thanks for reply.
yes, I have saw that feature.
https://api.mattermost.com/#tag/posts/paths/~1teams~1{team_id}~1posts~1search/post
it seems that API only can search 1 team?
is it possible search the post cross all the teams that current user joined.

[2020-07-02 14:45] amyblais commented on #14959
@Shubhamchinda We fixed an issue related to this in v5.22.2 dot release. Would you be open to upgrading to see if your issue gets resolved?

[2020-07-02 14:49] jespino commented on #14926
No, in our API the searches of posts are scoped by teams, you would need to execute N queries, one per team.

[2020-07-02 14:54] amyblais commented on #14958
Building on the response above, this may also help https://github.com/mattermost/mattermost-plugin-welcomebot/blob/master/README.md.

[2020-07-02 14:59] neszt commented on #14900
@jespino it works, but i only got channel id list for channels, not for direct messages
[code]

[2020-07-02 15:00] reflog commented on #14740
@mukulrawat1986 - are you still working on this or can we reassign? cc @iomodo

[2020-07-02 15:02] mukulrawat1986 commented on #14740
Yea, I am still working on this.

[2020-07-02 15:19] jespino commented on #14900
@neszt you don't receive any `"type": "D"` channel there? Have the user that is making the request any direct message with any other user?

[2020-07-02 15:34] neszt commented on #14900
@jespino i got only ```"type": "O"```. I'am a little bit unsure about your "request" word. I use my mattermost user and i have about 20 direct messages with others with lot of conversation in the past months.

[2020-07-02 19:24] amyblais commented on #14957
@mthaddon Does this happen when trying to search direct message channels?

I wonder if this is somewhat related to https://forum.mattermost.org/t/editing-full-name-gets-overwritten-with-gitlab-sso/9970/4.

[2020-07-02 19:47] esethna commented on #14633
Thanks @sridhar02!

[2020-07-03 04:31] djanda97 commented on #14078
I will work on this.

[2020-07-03 05:02] saturninoabril commented on #14078
Awesome, thanks @djanda97! Let me know if you need anything.

[2020-07-03 05:33] agnivade commented on #13846
https://api.mattermost.com/#tag/posts/paths/~1channels~1{channel_id}~1posts/get is updated now. I will go ahead and close this.

[2020-07-03 05:33] #13846 closed

[2020-07-03 07:07] mthaddon commented on #14957
It does, yes - we're not able to search by someone's last name in direct message channels either.

In terms of the forum post, we do already get "This field is handled through your login provider. If you want to change it, you need to do so through your login provider" when trying to edit that field manually, which is good.

[2020-07-03 07:31] Shubhamchinda commented on #14824
yeah @jespino , I figured that out but forgot to close this one.

Thanks anyways. I  appreciate it.

[2020-07-03 07:41] jespino commented on #14824
@Shubhamchinda great, thanks

[2020-07-03 07:41] #14824 closed

[2020-07-03 07:47] Shubhamchinda commented on #14959
@amyblais Thank you for your reply.

Actually I'm [this docker one line command](https://docs.mattermost.com/install/docker-local-machine.html#one-line-docker-install) to install the MM. After running MM I do `docker exec` get inside the container and use bulk import commands there.

Apparently the `docker one line command` for mattermost install the version 5.22.0 . Is there a chance that docker

[2020-07-03 09:00] WizardKid opened #14964 "Trial License"
Can someone tell me where I can find the trial key to upload?

[2020-07-03 09:44] neszt commented on #14900
@jespino thank you the help, now i got all the channels. It was my fault, the "users/me" was the key.

[2020-07-03 09:44] #14900 closed

[2020-07-03 12:30] amyblais commented on #14959
Would you be open to trying with v5.23.0? It has the same features as v5.22.0 but with additional bug fixes and stability improvements.

[2020-07-03 12:37] amyblais commented on #14964
@WizardKid Do you mean that you requested a trial and you received an email but there was no trial key attached? Would you be able to contact our support team about this? https://mattermost.com/contact-us/

[2020-07-03 12:48] Shubhamchinda commented on #14959
Yes, Sure.

[2020-07-03 12:49] Shubhamchinda commented on #14959
@amyblais but as I mentioned I'm using this `docker run --name mattermost-preview -d --publish 8065:8065 --add-host dockerhost:127.0.0.1 mattermost/mattermost-preview` command and it pulls the image of version 5.22.0 .

[2020-07-03 12:52] amyblais commented on #14959
@cpanato Would you be able to help with this?

[2020-07-03 13:14] cpanato commented on #14959
you should not use `mattermost-preview` only if you are running for local tests purposes.

I will check this image if is updated and if not will push the latest

[2020-07-03 13:17] cpanato commented on #14959
ok, the image was not up-to-date. pushed a new update @Shubhamchinda @amyblais

[2020-07-03 13:17] Shubhamchinda commented on #14959
@cpanato Actually I was only using `mattermost-preview` to create a proof of concept for the data migration from Rocket.Chat to Mattermost.

Let me know when you update the image.

[2020-07-03 13:19] Shubhamchinda commented on #14959
Great, Let me check `bulk update` now.

[2020-07-03 17:51] amyblais commented on #14919
Our devs are looking into this. In the meanwhile we've added some troubleshooting steps here: https://docs.mattermost.com/administration/command-line-tools.html#troubleshooting.

[2020-07-04 13:46] Vars-07 opened #14968 "Close Channel for archived channel is not taking user back to previous channel"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-07-04 13:47] Vars-07 commented on #14968
Will pick it up.

[2020-07-04 16:40] Szymongib commented on #14939
Hi, could I work on this one?
As I understand this should be done in https://github.com/mattermost/mattermost-plugin-api repository?

[2020-07-05 16:36] #13783 closed

[2020-07-06 06:33] enahum commented on #14101
Submitted by @vishakha7395

[2020-07-06 08:12] Dalabad opened #14973 "Incompatible with incoming webhook payloads in slack block kit format"
#### Summary
Incoming webhook messages in the "new" slack block kit format are ignoring the block content

- https://api.slack.com/block-kit
- https://app.slack.com/block-kit-builder/

#### Steps to reproduce
- Create an incoming webhook link
- Send the following Webhook content to the webhook url

`curl -X POST \
     -H 'Content-type: application/json; charset=utf-8' \
    --data '{"attachments"

[2020-07-06 09:55] sridhar02 commented on #14633
@esethna , I have a suggestion that instead of only recent activity why can try to implement in this manner like discord
![image](https://user-images.githubusercontent.com/44333182/86579824-757a3200-bf9b-11ea-8918-720e7ca8730e.png)

* In this method we can show the Last seen channels, mentions and unread channels. About the limit of channels per section, I am not sure but that in this way we can g

[2020-07-06 13:11] amyblais commented on #14973
@Dalabad Would you be open to confirming your Mattermost server version?

[2020-07-06 13:27] thegeekybaniya commented on #14605
I want to work on this

[2020-07-06 13:40] Dalabad commented on #14973
@amyblais Sure thing. My testing instance has the following version:

Mattermost Version: 5.21.0
Database Schema Version: 5.21.0
Database: postgres

[2020-07-06 16:18] esethna commented on #14633
@sridhar02 thanks for the feedback. I'm open to trying it. Perhaps we can do 3 recent channels in a "RECENT" section and then have an "UNREAD" section. Good point that we don't want to fully remove that functionality.

@andrewbrown00 any thoughts?

[2020-07-06 17:50] amyblais commented on #14957
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-26728.

[2020-07-06 17:53] amyblais commented on #14973
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-26729.

[2020-07-06 17:55] amyblais commented on #14934
@ftvkyo It appears this is actually a bug and a ticket has been created here: https://mattermost.atlassian.net/browse/MM-26700. Apologies for having you create a feature request for this earlier.

[2020-07-06 20:02] andrewbrown00 commented on #14633
Thanks @sridhar02 for the feedback and suggestions 🙂

@esethna 3 **RECENT** channels works and keep ** UNREAD** with mentions sorted at the top. I think we should also include **DRAFTS** and always promote those to the top of the if they are present. It's a fast and obvious way to scan for channels with a drafts in a single view.

[2020-07-07 00:24] esethna commented on #14779
Hey @bradjcoughlin, should we bring this internally or are you working on it?

[2020-07-07 00:57] aidenmitchell opened #14977 "SMTP test emails & password reset emails are not sent when email notifications are off"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-07-07 11:57] #13704 closed

[2020-07-07 11:57] amyblais commented on #14977
@aidenmitchell What server version are you on?

[2020-07-07 12:08] agnivade commented on #14977
This is likely a duplicate of https://mattermost.atlassian.net/browse/MM-26033.

[2020-07-07 13:17] lieut-data commented on #14939
Hey @Szymongib -- that would be great! Yes, you have the correct repository. Feel free to ping me if you have any questions :)

[2020-07-07 13:31] cosmo222 opened #14980 "False unread messages"
#### Summary
On one of teams in our mattermost instance i have notification about unread messages, but when i go to team i don't see any unread messages. It appears both in web browser or android app.
#### Steps to reproduce

Mattermost Version: 5.24.2
Database Schema Version: 5.24.0
Database: mysql

#### Expected behavior

#### Observed behavior (that appears unintentional)
![Zrzut ekranu z 2020-

[2020-07-07 15:00] mattermod opened #14982 "setState called from render method of CreateComment"
When fixing https://mattermost.atlassian.net/browse/MM-21414, a call to `setState` was added to the render method of the `CreateComment` component which violates React's lifecycle. This somewhat works for now, but it may break entirely in a newer version of React.

There is a warning that accompanies this, but it only occurs when running Mattermost locally.

This should be updated to work in a way

[2020-07-07 15:18] M-ZubairAhmed commented on #14982
Can i look into this ?

[2020-07-07 16:28] #14078 closed

[2020-07-07 18:18] aidenmitchell commented on #14977
@amyblais Version 5.24.2

[2020-07-07 18:49] amyblais commented on #14957
@mthaddon Which external login provider do you use?

[2020-07-07 18:51] cosmo222 commented on #14980
Ok problem solved, someone for fun removed name from channel and it wasn't present on channel list but had unread.

I don't know how someone did it but channel name was empty.

[2020-07-07 20:35] Shubhamchinda commented on #14959
![Screenshot from 2020-07-08 02-01-17](https://user-images.githubusercontent.com/21038543/86839456-131a5200-c0bf-11ea-9645-50417d8c2218.png)

@amyblais @cpanato

I tried performing the `bulk import` with the new version but with same configuration earlier. Now I'm getting `Some users were not found` error message. Which in the previous version didn't occur.

The problem is it's not logging any lin

[2020-07-08 02:29] ahmaddanialmohd commented on #14980
Hi @cosmo222

By default, you cannot remove the channel name from the UI as you will be presented with the following error:

![image](https://user-images.githubusercontent.com/49461314/86867174-f274eb00-c104-11ea-8ed0-206e0b6700a3.png)

I am guessing that there was a database edit done to remove the channel name on the backend. Renaming the channel via CLI shows the following:

![image](https://us

[2020-07-08 04:06] agnivade commented on #14596
@kadir96 - I see that @rvillablanca has submitted a PR for this. I am going to assign it to him.

[2020-07-08 04:07] agnivade commented on #14814
FYI @joshuabezaleel, there's already a PR for this now at https://github.com/mattermost/mattermost-server/pull/14978.

[2020-07-08 04:18] agnivade opened #14986 "Migrate AppError to error from store/sqlstore/plugin_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/plugin_store.go`

[2020-07-08 07:09] cpanato commented on #14959
@amyblais who is the best person to help for the bulk import?

[2020-07-08 11:38] sridhar02 commented on #13696
@hanzei Can I work on this?

[2020-07-08 11:41] hanzei commented on #13696
Sure, thanks for taking a shot @sridhar02 :+1:

[2020-07-08 12:58] amyblais commented on #14959
I believe @grundleborg / @jespino may be able to help with https://github.com/mattermost/mattermost-server/issues/14959#issuecomment-655117485.

[2020-07-08 13:45] Shubhamchinda commented on #14959
One more thing I'd like to ask.

I was breaking down the `bulk import` in sections like, first I'll import only the team, then channels and after that with users and messages.

While I was doing performing the `bulk import` with channels and users. I came across this error.
![Screenshot from 2020-07-08 18-31-42](https://user-images.githubusercontent.com/21038543/86925365-6c7d9200-c14e-11ea-9392-6e

[2020-07-08 13:59] tuxity commented on #14780
Updated last night to 5.24.2 and it seems to works fine this time

[2020-07-08 16:16] agnivade commented on #14780
That's good to hear @tuxity !

[2020-07-08 22:01] #14480 closed

[2020-07-09 03:19] bladernr commented on #14784
Why did no one suggest user provided sounds?  I stumbled across the [Design Ticket](https://mattermost.atlassian.net/browse/MM-467) for this, which led me here.  I'm quite baffled by the fact that everyone jumped in on a specific set of sound files, which are all mp3 files... but no one even seemed to consider simply doing what most IRC clients do, and that's simply use user provided sound files t

[2020-07-09 07:16] #14817 closed

[2020-07-09 12:02] Shubhamchinda commented on #14959
I solved this one!

[2020-07-09 13:24] #14596 closed

[2020-07-09 20:11] Shubhamchinda commented on #14959
@jespino @grundleborg Could you please help me out here https://github.com/mattermost/mattermost-server/issues/14959#issuecomment-655117485

[2020-07-09 20:31] jespino commented on #14959
@Shubhamchinda looks like for some reason there is some reference to a user, that is not in the list of users imported at the beginning.

[2020-07-09 20:35] Shubhamchinda commented on #14959
Yeah, I know... I guess I'd to recheck and verify all the users and users in messages.

[2020-07-10 00:33] hillpd commented on #14920
We are using Postgres directly.

[2020-07-10 00:54] Shubhamchinda commented on #14959
Thanks @jespino I was able to fix the above issue.

Now I was working with attachments.

The JSONL format I passed :
[code]
I got this error :
![Screenshot from 2020-07-10 06-17-43](https://user-images.githubusercontent.com/21038543/87104526-d6dd2200-c275-11ea-854c-407f226ac38b.png)

Could you please help me here?

[2020-07-10 04:38] djanda97 commented on #13471
I will give this issue a shot.

[2020-07-10 06:47] jespino commented on #14959
That error is provided by the MySQL server and is saying that is not possible to write a new post because it doesn't have space for that. Normally it means the partition where the database lives is full. Can you check that?

[2020-07-10 07:24] 14Richa commented on #14616
Can I take this issue?

[2020-07-10 07:27] 14Richa commented on #14616
Hey team, I would like to work on this issues. Looks like a good task to begin contributing.

[2020-07-10 12:30] agnivade opened #15006 "Migrate AppError to error from store/sqlstore/session_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/session_store.go`

[2020-07-10 13:39] amyblais commented on #14920
It seems this is currently documented as a known issue here: https://docs.mattermost.com/help/getting-started/searching.html#differences-between-mysql-and-postgres-search.

[2020-07-10 15:46] ftvkyo commented on #14934
@amyblais thanks, that's great.

I should note that the step 3 about
"making a code block" in the link you sent is not necessary, but that's probably not a problem.

[2020-07-10 17:57] Eluminae opened #15007 "Api v4 get teams pagination"
## Summary

The documentation speaks about pagination on this endpoint [Get teams](https://api.mattermost.com/#tag/teams/paths/~1teams/get) but there is no pagination by default and giving page or per_page arguments do not works.

#### Steps to reproduce

[code]

#### Expected behavior

I expect to fetch the 60 first teams

#### Observed behavior (that appears unintentional)

I fetch all teams whi

[2020-07-10 18:36] amyblais commented on #14889
### v5.25 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.25.0-rc2/mattermost-team-5.25.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3702/files)

[2020-07-10 22:05] cguess opened #15008 "Typo in `WebsocketURL` protocol in config results in white screen when logged in"
#### Summary
If there is a typo in the the protocol (aka it's not `wss`) in the config file's `WebsocketURL` key the page will only render blank after logged in.

#### Steps to reproduce
1. Type gibberish, or even a valid, non-`wss` (I think) url into the `WebsocketURL` key of the config file and restart the server.
1. Visit the page and log in, it'll be blank.

To fix, just leave it blank.

####

[2020-07-11 10:05] 14Richa commented on #14616
I tried reproducing this, what I observed is different from what is mentioned in the issue. It actually reads out Label and Placeholder for "Name".
But for "Purpose" and "Header" it only reads out Label and says "text area" instead of the placeholder text.

[2020-07-11 12:44] fullstackguyhere commented on #14404
@esethna @hanzei The expected behavior for the tooltip is that user should be able to click on 'Refresh the app now' in it right?

[2020-07-12 04:20] agnivade opened #15010 "Migrate AppError to error from store/sqlstore/preference_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/preference_store.

[2020-07-12 18:42] fullstackguyhere commented on #14404
@esethna @hanzei @amyblais I have PR ready for this, I have submitted my details by accepting Mattermost Contributor License Agreement. Could anyone accept it so that I can submit my PR?

[2020-07-12 23:03] hjek opened #15012 "Slow text entry"
#### Summary
Text entry is slow when entering messages on Mattermost

#### Steps to reproduce
- Start typing a message on Mattermost
- Wait for text box to catch up with what was typed, sometimes 5+ seconds

Software used:
- Firefox 78.0.2 (64-bit)
- Mattermost 5.23.1

#### Expected behavior
I'm expecting the message box to catch up with my typing with a delay less than 200 ms. The CPU is maxing o

[2020-07-13 03:03] agnivade opened #15014 "Migrate AppError to error from store/sqlstore/oauth_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/oauth_store.go` t

[2020-07-13 06:27] agnivade commented on #15012
/cc @sudheerDev

[2020-07-13 11:25] jasonblais commented on #14404
@fullstackguyhere no need to wait, and I've now confirmed the CLA is submitted correctly. Feel free to go ahead with the PR :tada:

Huge thank you for the help!

[2020-07-13 11:30] WestFarmer commented on #14293
@prathik-kaliyambath why you closed this ?

[2020-07-13 13:26] #13734 closed

[2020-07-13 13:30] sudheerDev commented on #14616
@srkgupta ☝️

[2020-07-13 14:45] #14939 closed

[2020-07-13 18:02] amyblais commented on #15012
@hjek Are there any console errors you could help share?

[2020-07-13 19:26] #14500 closed

[2020-07-13 20:05] lieut-data commented on #14939
Thanks, @Szymongib!

[2020-07-13 22:05] hahmadia commented on #15007
Hello @Eluminae

Please note that the documentation is incorrect for the endpoint you have mentioned. The documentation for the endpoint you have mentioned is actually https://api.mattermost.com/#tag/teams/paths/~1users~1{user_id}~1teams/get which shows no support for `per_page` and `page` query parameters.

Cheers!

[2020-07-13 23:08] Eluminae commented on #15007
Oh you right !

Do you feels those not paginated endpoint could be updated to include pagination ?

I speak about this https://api.mattermost.com/#tag/teams/paths/~1users~1{user_id}~1teams/get but by example https://api.mattermost.com/#tag/channels/paths/~1users~1%7Buser_id%7D~1teams~1%7Bteam_id%7D~1channels/get too

I made some crash tests on my Mattermost backend and I expect some explosions wit

[2020-07-13 23:59] ahmaddanialmohd commented on #15008
Hi, @cguess

Verified and tested on 5.24.2 in which I **do not** have to reboot the server to reproduce the issue.

Setting the value to something like this:

[code]

![image](https://user-images.githubusercontent.com/49461314/87365058-d01d1a80-c5a7-11ea-842f-a95cb2743d21.png)

[2020-07-14 03:09] hahmadia commented on #15007
They can but I am not sure if that's something we have the capacity to do at this moment. Feel free to open up a PR if you like to do it yourself and we would be more than happy to review and have it merged!

Cheers!

[2020-07-14 04:39] M-ZubairAhmed commented on #14982
For reference this is the warning mentioned above by OP
[code]

[2020-07-14 05:08] M-ZubairAhmed commented on #14779
@esethna can you please give more details on this issue ?
what is hidden text

[2020-07-14 05:28] prathik-kaliyambath commented on #14293
@WestFarmer hey, we made a fork based off this repo which has generic OAuth enabled. Do check it out, might be of help.

https://github.com/bettermost/mattermost-server

[2020-07-14 07:19] WestFarmer commented on #14293
@prathik-kaliyambath thanks dude do your fork support role/group[ mapping ?

[2020-07-14 08:02] sridhar02 commented on #14633
@esethna, I have understood the flow of the redux to the modal component via providers, I want some help on how to get data of the recent channels, is there any function present in the redux or I should have to implement it from scratch? can u give me rough outline for getting the data?

[2020-07-14 09:52] fullstackguyhere commented on #14404
Thanks @jasonblais, will do it today.

[2020-07-14 12:16] prathik-kaliyambath commented on #14293
@WestFarmer no, roles are as is in the fork, only custom oauth support and clustering support via redis are added. If you want to add the roles as a feature, you're welcome to submit a PR.

[2020-07-14 12:52] amyblais commented on #15008
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-26895.

[2020-07-14 16:15] mattermod opened #15023 "WebApp: Improve how we display image thumbnails when batch uploading images"
The goal is to improve how we show thumbnails when adding multiple files to the Mattermost web app. Users should be able to preview the images without having to open them in a full screen viewer to allow for faster scanning and reduced extra steps to have to view images in the full screen viewer.

![image](https://user-images.githubusercontent.com/14333569/89318041-1ad40480-d633-11ea-8f28-fea0c3a3

[2020-07-14 16:15] mattermod opened #15024 "Show Keyboard Shortcuts on Tooltips"
**Add keyboard shortcuts to the following tooltips:**
  * Switch to a specific team
  * History arrows (Desktop app only)
    * Back in history
    * Forward in history
  * Write a Direct message - '+' plus icon in the LHS next to the Direct Message category header
  * Recent Mentions
  * Upload file - show tooltip on hover of the paperclip icon in the message input

[Figma Design File](https://ww

[2020-07-14 16:47] amyblais commented on #15008
@cguess Would you be open to either submitting a PR or opening a feature request for this? Our team mentioned that this is likely not something that will be prioritized in the near future (internally).

[2020-07-14 17:05] Upinder123 commented on #15023
i can help resolving this

[2020-07-14 17:28] ManuelPortero commented on #14074
Hi is possible work in that ? Would be my third contribution so probably i would ask you once or twice .
Regards.
Manuel Portero.

[2020-07-14 17:36] saturninoabril commented on #14074
Sure, thanks for your interest @ManuelPortero! I'll be assigning this issue to you. Feel free to let me know if you have question.

[2020-07-14 18:13] esethna commented on #14779
@M-ZubairAhmed you can see in the screenshot in the ticket:
![image](https://user-images.githubusercontent.com/14333569/87461211-f0a69e00-c5c2-11ea-8fd5-1888cf07e8df.png)

^ "Smile" is shown in the selection

[2020-07-14 18:31] esethna commented on #14968
Hi @Vars-07, hows this fix going? Any questions we can help with?

cc// @jgilliam17

[2020-07-14 18:40] jgilliam17 commented on #14968
Jira issue: https://mattermost.atlassian.net/browse/MM-26916

[2020-07-14 18:47] esethna commented on #14633
@sudheerDev any thoughts on this?

[2020-07-14 19:32] Vars-07 commented on #14968
Yes, I am working on it, found another issue while working on this issue, started looking into it.

[2020-07-14 20:24] Vars-07 opened #15025 "When the user account is deactivated, direct message channels are not updated with deleted time"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-07-14 20:24] Vars-07 commented on #15025
Will pick it up.

[2020-07-15 10:32] hjek commented on #15012
Not getting any console errors. :neutral_face:

[2020-07-15 10:36] hjek commented on #15012
Console log from when I've opened Mattermost and start typing in a message:
[code]

[2020-07-15 11:14] sudheerDev commented on #15012
@hjek, I don't see any logged issue so far for this issue, Can you send me a chrome performance profile of the issue?.

To record a performance profile.

Right-click on the tab.
Click on inspect
Click on performance tab
Click on record
Start typing in the textbox
Stop recording the profile.

[2020-07-15 13:26] #15006 closed

[2020-07-15 13:32] agnivade opened #15034 "Migrate AppError to error from store/sqlstore/role_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/role_store.go` to

[2020-07-15 13:32] agnivade opened #15035 "Migrate AppError to error from store/sqlstore/job_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/job_store.go` to

[2020-07-15 13:32] agnivade opened #15036 "Migrate AppError to error from store/sqlstore/file_info_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/file*info*store.g

[2020-07-15 13:32] agnivade opened #15037 "Migrate AppError to error from store/sqlstore/user_access_token_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/user*access_token

[2020-07-15 14:02] jgilliam17 commented on #15025
Thank you @Vars-07
Jira issue: https://mattermost.atlassian.net/browse/MM-26941

[2020-07-15 14:30] fullstackguyhere commented on #14404
done @jasonblais

[2020-07-15 16:52] #14424 closed

[2020-07-15 18:05] #14889 closed

[2020-07-15 21:24] hjek commented on #15012
@sudheerDev, [Profile-20200715T154011.json.zip](https://github.com/mattermost/mattermost-server/files/4928044/Profile-20200715T154011.redacted.zip)

[2020-07-15 23:44] icelander opened #15041 "`MfaRequired` function does not log errors when finding the user"
#### Summary

The `MfaRequired` function does not log errors when finding the user

#### Steps to reproduce

1. Set up a Mattermost server w/ MFA required and log in
2. Modify the user ID in the database so that it does not match what is stored in your session
3. Make a request

#### Expected behavior

The user is logged out and an error message in the logs indicates that the user could not be fou

[2020-07-16 07:13] agnivade opened #15043 "Migrate AppError to error from store/sqlstore/webhook_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/webhook_store.go`

[2020-07-16 09:29] sridhar02 commented on #14633
@esethna, I have a small doubt regarding the following
1. whether to include mentioned and muted channels in the recent channels list or just have to list recent three channels from all the channels above the unread channels.
2. what should happen on search do I have to show any recent channels in the search list or same functionality of showing all the channels in alphabetical order is enough.

[2020-07-16 11:49] 14Richa commented on #14683
Hey team, I am not able to reproduce the above issue. can I get more context n this?

[2020-07-16 12:38] agnivade commented on #15041
Yeah, we need to pass the err.Error in the AppError and change the id to something else. The code just assumes that userID not found == session expired.

[2020-07-16 13:26] #14637 closed

[2020-07-16 14:39] hmhealey commented on #14683
@14Richa Basically, there's no way to post raw Latex or Tex code and have it appear with proper syntax highlighting currently. Back when Latex support was added, we added it by replacing the tex and latex languages in the code block with the rendered latex, so there's no way to actually use syntax highlighting with latex.

For example, posting
[code]
on GitHub looks like
[code]
but in Mattermost,

[2020-07-16 14:42] 14Richa commented on #14683
Got it @hmhealey. Thanks! :)

[2020-07-16 15:10] esethna commented on #14633
@sridhar02

1. Yes you can include unread channels, channels with mentions, and muted channels in the recent list
2. We have a separate ticket for the behaviour after a user searches, we can tackle that separately than this ticket if you're interested in working on it: https://mattermost.atlassian.net/browse/MM-22854

[2020-07-16 18:30] mattermod opened #15045 "Include '@username' in matterbuild's cutplugin slashcommand response"
When matterbuild’s cutplugin slash command is invoked, the command response does not include the user who triggers the command, which sometimes leads to confusion in the channel as to who invoked the command. Thus the proposal is to include `@username` in the responses for better visibility.

The POST request that hits the matterbuild service contains the username of the person who triggered the c

[2020-07-16 18:45] mattermod opened #15046 "Include tag, repo, commitSHA, force parameters in matterbuild's cutplugin slashcommand response"
When matterbuild’s cutplugin slash command is invoked, the command response does not include the details parameters that were provided. Proposal is to include tag, repo, commitSHA, force parameters in the command response to confirm what parameters were used to invoke the command

Messages to update:
https://github.com/mattermost/matterbuild/blob/master/server/server.go#L446
https://github.com/mat

[2020-07-16 20:08] Shubhamchinda commented on #14959
Hey @jespino Thanks a lot, that helped!

After solving this I performed the bulk migration with attachments. I got into these error :

First I got these logs `Unable to attach the file`  and then

I got this error `Unable to save , invalid connection` but I'm not why this occured as the Db server was working fine.
Could you help?

Thanks :)

[2020-07-16 20:45] SponToN83 opened #15047 "Can't send standard emojis picked from autocomplete in mobile application."
#### Summary
Can't send standard MM emoji when it is picked from autocomplete picker.

#### Steps to reproduce
1) start typing :_NAME_OF_EMOJI
2) pick it from autocomplete picker.
3) Emoji is showed in input.
4) Send Emoji.
5) Emoji is showing with error after i and it is not delivered. Retrying makes no difference.

Custom emojis are working properly. One difference is that after picking custom e

[2020-07-16 20:54] teresa-novoa commented on #14784
@hmhealey can you please take a look at this ticket´s comments, thanks!

[2020-07-17 09:28] #15047 closed

[2020-07-17 09:28] SponToN83 commented on #15047
Moved to mobile

[2020-07-17 10:56] #15014 closed

[2020-07-17 14:41] agarciamontoro opened #15054 "Use react-router in routes registered by plugins"
Thanks to recent changes in the webapp (see PR [#5367](https://github.com/mattermost/mattermost-webapp/pull/5367/)), plugins now have the ability to register custom routes, both under `/plug/:pluginId/` and under `/:teamId/:pluginId/`. There is a really simple example of how to use this new feature in the demo plugin repository: see [PR #102](https://github.com/mattermost/mattermost-plugin-demo/pu

[2020-07-17 15:26] #14373 closed

[2020-07-18 04:18] cbarrac opened #15058 "Database Schema Upgrade to 5.22.0"
#### Summary
Index creation failed due to (MySQL) DB schema in 'Schemes' table.

#### Steps to reproduce
Docker-container based upgrade from  mattermost/mattermost-team-edition:release-5.21 to  mattermost/mattermost-team-edition:release-5.22, with MySQL database (image library/mysql:5.7.31).
Server was originally created on release-5.12.0.

#### Expected behavior
No errors

#### Observed behavior

[2020-07-18 07:37] adolsalamanca commented on #15046
I can help with this one :)

[2020-07-18 09:22] utkuufuk commented on #13708
I'm willing to work on this.

[2020-07-18 11:37] ali-farooq0 commented on #15046
You got it @adolsalamanca!

[2020-07-18 20:35] DHaussermann commented on #14738
@iomodo would you be able to provide test steps or guidance for this?

[2020-07-18 20:45] utkuufuk commented on #15045
I'm willing to work on this, already opened a PR: https://github.com/mattermost/matterbuild/pull/46

[2020-07-19 03:12] #14638 closed

[2020-07-19 20:59] hjek commented on #15012
Was the performance profile of any use? Is there more information I can provide to aid debugging, or are there any settings I can twiddle to narrow down the issue?

[2020-07-20 12:22] graykode opened #15072 "add `user description` in account settings"
#### Summary
- new feature suggestion
- I want to add a new attribute about `user description` in account settings. or Is there any feature that can use `user description`?
https://github.com/mattermost/mattermost-server/blob/bec2f366a713743bc4495df8a69b615ef078126c/model/user.go#L76

[2020-07-20 13:35] fmsilva1996 commented on #15054
I would like to work on this issue, if it's still available?

[2020-07-20 13:39] agarciamontoro commented on #15054
All yours, @fmsilva1996! If you have any doubt, don't hesitate to ask. You can also send me a DM in Mattermost at `@alejandro.garcia` :)

[2020-07-20 14:17] amyblais commented on #15072
Thanks, appreciate your feedback @graykode,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2020-07-20 14:22] graykode commented on #15072
@amyblais Thanks for the reply. I created a new feature (https://mattermost.uservoice.com/forums/306457-general/suggestions/40949806-user-description)

[2020-07-20 16:04] #15072 closed

[2020-07-20 18:57] adolsalamanca commented on #15041
I could help with this one :)

[2020-07-20 20:49] M-ZubairAhmed commented on #14779
@esethna i fixed it here https://github.com/mattermost/mattermost-webapp/pull/5946 let me know further

[2020-07-21 04:50] agnivade commented on #15058
Hi @cbarrac - this is essentially https://mattermost.atlassian.net/browse/MM-23545. This is an issue with the migration of the DB code. The column change was part of a migration in version 5.12 as you can see here: https://github.com/mattermost/mattermost-server/blob/316d22c8f1f6eb91445fb23e216eeb6636519187/store/sqlstore/upgrade.go#L684

But I am assuming when the server was initially installed a

[2020-07-21 07:05] sudheerDev commented on #15012
@hjek Thanks for sending in the profile.

Could you try few things and let me know how typing feels in the scenarios

1. Chrome incognito
2. Another browser(Like firefox)
3. i see that you have rtl plugin enabled. Can you ask your admin to disable and then try the app in incognito

Let me know if any of the following steps result in better typing experience

[2020-07-21 11:16] Shubhamchinda commented on #14959
@jespino Did you get the time to look at it?

[2020-07-21 12:30] 14Richa commented on #14683
Hey @hmhealey, I was working on this issue, but was not able to find markdown.jsx file in web app codebase. Can you please help?

[2020-07-21 13:24] Willyfrog commented on #14683
I think it moved [to the webapp repo](https://github.com/mattermost/mattermost-webapp/tree/master/utils/markdown)

[2020-07-21 14:53] 14Richa commented on #14683
Cool. @Willyfrog Thanks! :)

[2020-07-21 18:28] #13891 closed

[2020-07-21 18:45] mattermod opened #15086 "RN: Allow saving/sharing file type attachments with react-native-share"
Current behaviour: File types other than images and videos cannot be previewed in the gallery and have no actionable buttons in the gallery

Expected behaviour: All file types should have a share button that brings up the share options using react-native-share. This should allow the file to be shared with other apps, copied, saved to the device, etc.

Respect the setting for **Allow File Downloads

[2020-07-21 21:25] hmhealey commented on #14683
Yeah, that's right. It's `renderer.tsx` in the linked folder. The original PR that I linked is really old, and we've moved stuff around a lot since then.

[2020-07-22 00:42] harshilsharma63 opened #15089 "Document mattermost-plugin-api/cluster in plugin docs"
There is a very interesting feature for Mattermost plugins being used in demo plugin - https://github.com/mattermost/mattermost-plugin-demo/blob/d647f1ed7fdc384f5bc163a6bba689ab4293704e/server/activate_hooks.go#L72

This specific example demonstrates running scheduled jobs in the plugin in HA mode. This is currently not documented in Mattermost server plugins [documentation](https://developers.mat

[2020-07-22 09:23] #14982 closed

[2020-07-22 11:43] #14197 closed

[2020-07-22 12:01] sridhar02 commented on #15024
can i work on this issue ?

[2020-07-22 13:40] amyblais commented on #15089
Thanks, would you like to re-open this issue in the developer docs repo here https://github.com/mattermost/mattermost-developer-documentation/issues?

[2020-07-22 22:39] JohnRillos opened #15092 "mattermost server using 100% of CPU until manually restarted"
#### Summary
The `mattermost` process was stuck using 100% of the server's CPU, causing the chat to be completely unresponsive.

#### Steps to reproduce
The immediate trigger for this is unknown.  This seems to happen at random.
Running Mattermost Enterprise (trial) `5.25.0`.  I recently updated it from Mattermost `5.16.0` so this might be related.
Host specs: Digitalocean droplet running Ubuntu 1

[2020-07-22 22:49] #14894 closed

[2020-07-22 22:50] #14809 closed

[2020-07-22 23:58] ahmaddanialmohd commented on #15092
Hello, @JohnRillos

Would you mind sharing the `mattermost.log` snippet when the CPU spike happens so we can understand what is going on in the backend first?

Trying to understand if the resource is being consumed by the increase of active connections made by users, database connection, API calls, etc.

[2020-07-23 00:21] JohnRillos commented on #15092
Logs from July 21, 9:35:53 PM (last logs from before the server was restarted) -> July 22, 4:26:54 PM (when I restarted the server)
[code]
Note that `1595385353` (July 21, 9:35pm) is _not_ when the server started using 100% CPU.  That started around July 22nd, ~2:10pm and lasted until I restarted at 4:25pm.

[2020-07-23 00:44] mig5 opened #15093 "Upgrade from 5.23.0 to 5.25.0 breaks (CSP, javascript syntax errors)"
#### Summary

An upgrade from 5.23.0 to 5.25.0 breaks the app with a white screen and a series of console errors related to the Content-Security-Policy as well as syntax errors in javascript.

#### Steps to reproduce

I upgraded from:

[code]

to

[code]

The OS is Ubuntu 18.0.4

I followed the exact Upgrade steps 1 through 11 from https://docs.mattermost.com/administration/upgrade.html?, skipping

[2020-07-23 00:53] mig5 commented on #15093
OK, mysteriously, it works in other browsers on my machine and on other machines. So it looks likely to be an adblocker plugin or something causing it (though it's odd, as the other browsers/machines have the same plugins).

The browser I experienced it in was`Firefox 9.5.1 (based on Mozilla Firefox 68.10.0esr) (64-bit)` on Debian 10, but I didn't reproduce it on the same browser in another VM run

[2020-07-23 00:53] #15093 closed

[2020-07-23 03:16] agnivade commented on #15092
Hi @JohnRillos - This is likely https://mattermost.atlassian.net/browse/MM-26584.

To gather some more data around this, would you be able to do the following when this happens?

- `kill -SIGQUIT $(pgrep mattermost)`
- `journalctl -u mattermost -n 4000 --no-pager > out.txt`

[2020-07-23 03:19] JohnRillos commented on #15092
Sure, I'll try that if I see this again.  What's interesting is that this server is under very little load at all since there's fewer than 10 users.

[2020-07-23 06:57] 14Richa commented on #14683
Hey @hmhealey, I have created a Pr for the above issue. As it is my first contribution it would be great if I can get a feed back. :)

[2020-07-23 08:58] #15037 closed

[2020-07-23 08:59] sridhar02 commented on #15024
@hmhealey , i have gone throught the isssue and i found that some functionality are already present and some are not present.These are the following:

1.  Switch to a specific team this already present in the application with the shortcut.

![Screenshot from 2020-07-23 11-43-29](https://user-images.githubusercontent.com/44333182/88268259-c904b380-ccef-11ea-956a-ba2c9fdd2754.png)

2. There is no to

[2020-07-23 10:24] M-ZubairAhmed commented on #12316
let me work on this, this is backend of frontend ticket as @deanwhillier puts it :P

[2020-07-23 10:34] hanzei commented on #12316
Awesome @M-ZubairAhmed, looking forward to your PR!

[2020-07-23 13:09] amyblais opened #15099 "Mattermost v5.26"
You can find key dates for v5.26 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### July 31st: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Aug 12th: Release Build Cut
The fin

[2020-07-23 15:09] DanGid14 opened #15103 "Edit comment box has the wrong markdown example"
#### Summary
Edit comment box has the wrong markdown example for striking through my text

#### Steps to reproduce
Go to edit a message and look at the examples below the text box for formatting

#### Expected behavior
Display the correct markdown syntax for striking through my text(~~someText~~)

#### Observed behavior (that appears unintentional)
I don't have the correct markdown syntax, (--some

[2020-07-23 15:16] bor8 commented on #4554
What about `sudo snap install mattermost-server`??? :D

[2020-07-23 19:12] amyblais commented on #15103
@DanGid14 What Mattermost server version are you on? Can you help with an example for an expected behaviour?

[2020-07-24 06:17] BaaaZen commented on #15092
We had the same problem as @JohnRillos yesterday. Our Mattermost server also isn't high loaded (~25 users, but only active while working time). And the problem occured in the middle of the night (~2:45am) when nobody was active.

I sadly removed the docker container and so the logs of the container while restarting. If it happens again I'll try to provide the output logs, too.

[2020-07-24 06:24] agnivade commented on #15092
@BaaaZen - Thanks. What is the server version you are running? Did this start happening after you upgraded from a certain version?

[2020-07-24 06:29] BaaaZen commented on #15092
We're using 5.25.0. I've updated (from version 5.24.1) at the 17th June and the problem occured yesterday for the first time.

[2020-07-24 06:46] agnivade commented on #15092
This is very interesting. Thank you!

[2020-07-24 07:03] DanGid14 commented on #15103
I am on version 4.4.2

[2020-07-24 07:04] DanGid14 commented on #15103
Well I am expecting to see ~~ instead of -- for the example which my screenshot is demonstrating.

[2020-07-24 12:08] amyblais commented on #15103
@DanGid14 That might be your desktop app version - you can find the server version from Main Menu > About Mattermost.

[2020-07-24 16:22] aidenmitchell commented on #14977
@amyblais I don't believe PR #15022 solves the password reset email part of this issue.

[2020-07-24 17:08] #14779 closed

[2020-07-24 17:19] agnivade commented on #14977
@isacikgoz - Did you get a chance to chat with @thefactremains about this? :point_up:

[2020-07-26 05:56] skyghost2210 opened #15111 "Interactive Message Update not replacing original"
## Summary
The interactive button is not working as expected. I have posted this issue on mattermost forum and I have found a similar issue but nobody reply
My issue: https://forum.mattermost.org/t/cannot-make-the-attachment-disappear-after-hitting-updated-button/10173/2
Similar issue:  https://forum.mattermost.org/t/interactive-message-update-not-replacing-original/10016/2
Mattermost documentatio

[2020-07-27 04:54] agnivade commented on #15041
Hey @adolsalamanca - sorry about that. I already started to work on this one.

[2020-07-27 04:55] avasconcelos114 commented on #14402
Will go ahead and take care of this one!

Seems like a simple one :)

[2020-07-27 09:35] XD1234567 commented on #13846
@agnivade  Thanks for your and your team's  effort.I'm glad we find this problem anyway.

[2020-07-27 09:53] #14639 closed

[2020-07-27 14:36] avasconcelos114 commented on #14402
@matthewbirtch Hi! :)

I'm working on this ticket right now and I was wondering what is the icon family of the `search` icon that appears in the design specs?

I'm temporarily using EvilIcons, but it doesn't seem like I'm able to set the weight of this icon to match what I see in the specs (see work-in-progress image below)
<img width="402" alt="image" src="https://user-images.githubusercontent.co

[2020-07-27 14:40] matthewbirtch commented on #14402
We have a ticket to revamp all the icons across the app, but that won't be implemented for a little while you. For the time being, I'll defer to @enahum how he would be prefer to have the icons implemented, but I would guess a PNG would be the way to go for now

[2020-07-27 15:07] enahum commented on #14402
a PNG is fine, but @matthewbirtch is there an icon we can use listed in https://github.com/oblador/react-native-vector-icons ?

[2020-07-27 15:08] hmhealey commented on #14784
That'd be more of a question for @esethna since he worked with the designers on this, but if I had to guess, a list of preset notification sounds was the easiest way for us to get a sound selection into the program to begin with. I don't know how much using custom sounds were explored, but from the technical side, that would probably require some server-side changes to store the sound on the serve

[2020-07-27 15:39] matthewbirtch commented on #14402
Unfortunately, the search icon is a custom icon, but typically the material community icons are the same weight and style as the icons we've been using.

[2020-07-27 16:35] simonp22 opened #15119 "Cannot post message attachments through the API"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-07-27 17:42] esethna commented on #14784
@bladernr Totally agree custom user provided sounds can be a next iteration of this. Do you have an example of a service that allows custom sound uploads? I opened a ticket for this here to get design input: https://mattermost.atlassian.net/browse/MM-27308

We can certainly open this up for conrtibutions if you're interested after we get some dev and UX eyes on it ;)

[2020-07-27 18:12] bladernr commented on #14784
On Mon, Jul 27, 2020 at 1:42 PM Eric Sethna <notifications@github.com>
wrote:

So yes and no... I realized after reading a reply on a different thread
that the desktop app (which is what I was referring to, but failed to be
clear about, I think) is really more or less a wrapper for the web app.  So
if using the web apps, I don't know of any, but for stand-alone tools,
pretty much any standalone IR

[2020-07-27 18:38] saturninoabril opened #15120 "Cypress Test Automation Hackfest 🚀"
#### Cypress Test Automation Hackfest :rocket:

Win an exclusive Mattermost swag bag by making five contributions to the Cypress Test Automation campaign between July 27 and August 31, 2020. Plus top-3 contributors receive a special prize!

The Mattermost team is working on automating feature testing of the webapp to
1. Decrease time to ship a bug fix release
2. Raise the quality of the software b

[2020-07-27 18:46] ArchangeGabriel opened #15121 "Harden headers"
While analysing response headers coming from Mattermost, I’ve figured they are some common ones missing, namely:
[code]
Thus, I’m adding them with the `add_header` option of nginx, but I think it would be better if those could be incorporated directly in Mattermost.

I’m not familiar enough with the project to know where to patch for those, since I can find multiple reference to headers with the s

[2020-07-27 19:34] isacikgoz commented on #14977
Just got the chance to review this. So, yes that PR is for SMTP testing part of the issue. The remaining part, however, doesn't seem to be related with the `SendEmailNotifications` setting.

[2020-07-27 23:39] avasconcelos114 commented on #14402
@matthewbirtch @enahum Thanks for looking into this!

I did try using Material icons before trying the EvilIcons set, but sadly the style of the search material icon is quite different

![A0D54663-17D5-48C7-BD68-F2550B17B3F3](https://user-images.githubusercontent.com/29700158/88602158-2791af00-d0ad-11ea-998f-ff3eb712890d.jpeg)

What I can do is try each of the icon sets provided by the https://git

[2020-07-28 04:57] #15010 closed

[2020-07-28 05:09] agnivade opened #15124 "Migrate AppError to error from store/sqlstore/channel_store.go part 3"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/channel_store.go

[2020-07-28 05:09] agnivade opened #15125 "Migrate AppError to error from store/sqlstore/channel_store.go part 2"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/channel_store.go

[2020-07-28 05:09] agnivade opened #15126 "Migrate AppError to error from store/sqlstore/team_store.go part 3"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/team_store.go par

[2020-07-28 05:09] agnivade opened #15127 "Migrate AppError to error from store/sqlstore/team_store.go part 2"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/team_store.go par

[2020-07-28 05:09] agnivade opened #15128 "Migrate AppError to error from store/sqlstore/team_store.go part 1"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/team_store.go par

[2020-07-28 05:09] agnivade opened #15129 "Migrate AppError to error from store/sqlstore/channel_store.go part 1"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/channel_store.go

[2020-07-28 05:09] agnivade opened #15130 "Migrate AppError to error from store/sqlstore/post_store.go part 2"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/post_store.go par

[2020-07-28 05:09] agnivade opened #15131 "Migrate AppError to error from store/sqlstore/post_store.go part 3"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/post_store.go par

[2020-07-28 05:09] agnivade opened #15132 "Migrate AppError to error from store/sqlstore/post_store.go part 1"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/post_store.go par

[2020-07-28 05:10] agnivade commented on #15129
This contains the following set of methods:
[code]

[2020-07-28 05:11] agnivade commented on #15125
This contains the following set of methods:
[code]

[2020-07-28 05:11] agnivade commented on #15124
This contains the following set of methods:
[code]

[2020-07-28 05:12] agnivade commented on #15129
@rvillablanca will work on it.

[2020-07-28 05:12] agnivade commented on #15125
@rvillablanca will work on it.

[2020-07-28 05:12] agnivade commented on #15124
@rvillablanca will work on it.

[2020-07-28 05:13] agnivade commented on #15128
This contains the following set of methods:
[code]

[2020-07-28 05:13] agnivade commented on #15127
This contains the following set of methods:
[code]

[2020-07-28 05:14] agnivade commented on #15126
This contains the following set of methods:
[code]

[2020-07-28 05:14] agnivade commented on #15126
@rvillablanca will work on it.

[2020-07-28 05:14] agnivade commented on #15127
@rvillablanca will work on it.

[2020-07-28 05:14] agnivade commented on #15128
@rvillablanca will work on it.

[2020-07-28 05:15] agnivade commented on #15132
This contains the following methods:
[code]

[2020-07-28 05:16] agnivade commented on #15130
This contains the following methods:
[code]

[2020-07-28 05:16] agnivade commented on #15131
This contains the following methods:
[code]

[2020-07-28 05:16] agnivade commented on #15131
@rvillablanca will work on it.

[2020-07-28 05:16] agnivade commented on #15130
@rvillablanca will work on it.

[2020-07-28 05:16] agnivade commented on #15132
@rvillablanca will work on it.

[2020-07-28 06:45] yogeshkk opened #15133 "Export is taking a lot of time"
#### Summary
We have to migrate Matermost to the new one Matermost so we need to export and import to the new one but export is taking a lot of time. In 12 hours the command is still running and I got file size around 1.6M and growing at a very slow rate

We are running Matermost in k8s.
mattermost-prod-app:5.7.0

I have checked in grafana there is no memory or CPU spike or throttling.

[code]

##

[2020-07-28 08:36] #15041 closed

[2020-07-28 08:48] yogeshkk commented on #15133
Thanks @agnivade  for your reply.

I will try --worker and will let you know. We are not migrating to fresh new instant. We have one already in place we are merging this to that. We want to persevere all groups and history so we are planning on exporting data out of this and importing to the new ones.

Can we set up a new version MM as read-only server and point to the old database just for backup

[2020-07-28 09:01] agnivade commented on #15133
Ah I see. So if the objective is to merge two data sets, you can upgrade this old instance to use a newer mattermost. And then use bulk export (which should be much faster) to extract out the data from there. And once you have that, import it into your final MM server.

Will that work?

[2020-07-28 09:22] #15119 closed

[2020-07-28 11:12] yogeshkk commented on #15133
As we are planning to decommission this we were not keeping this up to the latest but in this case, We can plan to upgrade before migration.

We are at 5.7 which minimum version you recommend (the latest)? also, the upgrade document does not cover the K8S upgrade do we have the same somewhere?

[2020-07-28 12:16] agnivade commented on #15133
Yes, I was suggesting to upgrade because then we would get the latest code which will allow us to export faster. This is purely for that purpose. I would suggest to upgrade to the latest quality release of 5.25.1.

For k8s, we have a page here: https://docs.mattermost.com/install/install-kubernetes.html?src=dl#installing-mattermost-on-kubernetes. For more questions feel free to ask them in the ~De

[2020-07-28 13:31] amyblais commented on #15121
@ArchangeGabriel Would you be open to creating a feature request for this here https://mattermost.uservoice.com/forums/306457-general?

Our security team gave feedback that X-Xss-Protection is not necessary since CSP enforces this already - please see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection. For nosniff, they don't see any harm either.

[2020-07-28 13:35] ArchangeGabriel commented on #15121
I don’t want to create yet another account honestly.

From the page you’ve linked `they can still provide protections for users of older web browsers that don't yet support CSP.`. Sure, Mattermost will likely not work very well in this case, but you never know!

(JFYI, those missing headers were reported by https://securityheaders.com/)

[2020-07-28 16:14] amyblais commented on #14977
Ok, I created a ticket for the other case: https://mattermost.atlassian.net/browse/MM-27349.

[2020-07-28 16:30] mattermod opened #15136 "[desktop] Add managed resources as a GPO feature"
in the next version, managed resources will be a feature that can be enabled by configuring buildconfig.js and adding the paths you need and then **recompile** which is cumbersome. For a windows-only environment, we could add this feature as a GPO template so no compile step is needed.

Docs about managed resources: [https://github.com/mattermost/docs/pull/3720/files](https://github.com/mattermost

[2020-07-28 20:30] tharun208 commented on #6070
I can pick this one if it's still open. 👍

[2020-07-28 20:40] hmhealey commented on #15024
Hi @sridhar02. Thanks for the help on this! To answer your questions:

1. A couple of these have existing tooltips with the keyboard shortcuts, but we'd like to update their design to better highlight the key combination. You can see the new design in [Figma](https://www.figma.com/file/Tc4KvRC8NWSy5cpIkofaD2/Quick-Wins-Design-Sprint?node-id=221%3A261).
2. Yeah, please add a tooltip to any of these

[2020-07-28 20:50] esethna commented on #6070
Awesome!

[2020-07-29 06:53] agnivade commented on #14977
Hi @aidenmitchell - the test email does seem to be part of the `SendEmailNotifications`, but the password reset is not. I just tested it with the setting being off and I can see password reset mails being sent properly.

Would you be able to provide additional logs that can help us debug this issue further?

[2020-07-29 10:15] #14801 closed

[2020-07-29 13:33] #13472 closed

[2020-07-29 15:30] mattermod opened #15139 "Improve UI for image preview modal"
**Figma Design File**:
[https://www.figma.com/file/i86bHWcB68HMiaJNoVxmsq/Image-Preview-Modal?node-id=125%3A0](https://www.figma.com/file/i86bHWcB68HMiaJNoVxmsq/Image-Preview-Modal?node-id=125%3A0)

Improve the aesthetic layout of how image & file previews look when a user clicks an attachment to a post.

![image](https://user-images.githubusercontent.com/14333569/88820612-5f185e00-d176-11ea-8883-

[2020-07-29 15:58] matttbc opened #15141 "Github connect: this version of browser not supported message"
#### Summary
GitHub plugin can't connect to organisation

#### Steps to reproduce
Install and configure GitHub plugin. In a channel /github connect

#### Expected behavior
I believe this should launch the Github connection window

#### Observed behavior (that appears unintentional)
Popup says 'This version of your browser is no longer supported by Mattermost
Download the Mattermost app or use a su

[2020-07-29 17:19] JohnRillos opened #15142 "Server stopped itself for no known reason"
#### Summary
Server appeared to stop itself around 1:30am.  The machine (digitalocean droplet) it was running on did not restart or show any odd behavior at the time.

#### Steps to reproduce
Unknown what caused this, I'm not sure if it was Mattermost itself shutting down for some reason or if some unknown process on the Linux instance automatically shut it down.

Server: Mattermost Server Enterpr

[2020-07-29 17:39] amyblais commented on #15141
@matttbc What browser are you on?

[2020-07-30 03:46] gabriel-viviani commented on #14502
Hello @rajnmithun, are you still working on this one?

[2020-07-30 11:37] #15045 closed

[2020-07-30 12:03] s1lviu commented on #15142
Same problem here:
[code]

[2020-07-30 13:31] agnivade commented on #15142
This is likely an OOM issue. Do you happen to have graphs of the memory around that time and noticed any spikes? Or even an output of `dmesg` would work.

[2020-07-30 15:02] #14476 closed

[2020-07-30 17:08] JMGonzalezR opened #15147 ".UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 10"
#### Summary
Installing mattermost-server in windows.

.UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 10: invalid start byte
Makefile:137: recipe for target 'start-docker' failed
make: *** [start-docker] Error 1

#### Steps to reproduce
Follow the step here: https://developers.mattermost.com/contribute/server/developer-setup/

#### Expected behavior
Expected run tthe matterm

[2020-07-30 17:13] srkgupta commented on #14616
Hi @14Richa
Thanks for checking. Apologies, I missed the previous notification from @sudheerDev. I had rechecked this on the latest version and it looks like now it's already handled and the Screen reader now reads the label and the placeholder correctly for Name, Purpose and Header. So this is now no longer needed. Will close this ticket.

[2020-07-30 17:13] #14616 closed

[2020-07-30 17:45] 14Richa commented on #14616
No worries. Thanks for the update. :)

[2020-07-30 20:04] #13708 closed

[2020-07-30 21:56] M4N0JKUM4R opened #15150 "Slack import processes only the users"
When I exported all the data from the Slack team, the files are good with 10,000+ messages inside all of them. I tried to import it into my new Google Cloud instance and message was "The import was successful" but it just imported the users. No channels, no messages. What could go wrong in following the simple 2 steps?

[2020-07-30 23:55] AdrianBrown1 commented on #14140
@hanzei  I'd love to tackle this issue.  I joined the suggested channel above.

[2020-07-30 23:59] AdrianBrown1 commented on #14140
@migbot Sweet!!! I have the project up and running on the Master branch. One question I do have is how do I get to this point in the application?

[2020-07-31 00:18] AdrianBrown1 commented on #14140
@migbot  Awesome thanks for that!

[2020-07-31 09:25] sridhar02 commented on #13698
@devinbinnie can I work on this issue?

[2020-07-31 13:24] devinbinnie commented on #13698
@sridhar02 Absolutely!

[2020-07-31 13:49] amyblais commented on #15150
@M4N0JKUM4R Would you be able to help share more details from here: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2020-07-31 13:53] #15043 closed

[2020-07-31 18:38] #15092 closed

[2020-07-31 18:38] amyblais commented on #15147
@JMGonzalezR I don't have enough knowledge to help with this, but would you be open to posting about this on our community server's [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? Our other community members and staff are actively responding to issue there.

[2020-07-31 20:00] mattermod opened #15159 "Remove usage of jQuery from root components"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/logged_in/logged_in.jsx
- components/root/ro

[2020-07-31 20:00] mattermod opened #15160 "Remove usage of jQuery from post components"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/link_tooltip/link_tooltip.tsx
- components/c

[2020-07-31 20:00] mattermod opened #15161 "Remove usage of jQuery from theme settings"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/user_settings/display/user_settings_theme/cu

[2020-07-31 20:00] mattermod opened #15162 "Remove usage of jQuery from settings modals"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/activity_log_modal/activity_log_modal.jsx
-

[2020-07-31 20:00] mattermod opened #15163 "Remove usage of jQuery from System Console > Customization > Custom Branding"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- components/admin_console/brand_image_setting/brand_imag

[2020-07-31 20:00] mattermod opened #15164 "Remove usage of jQuery from E2E tests"
We've been working for some time to remove jQuery as a dependency of the Mattermost web app to reduce the size of the JS bundle in the web app and to simplify our code by using equivalent functions that are usable on all browsers that we support.

As part of this, we should remove the usage of jQuery from the following files in the web app:
- e2e/cypress/integration/accessibility/accessibility*acc

[2020-08-01 00:32] sikloidz commented on #13732
Hi! Was looking to give a shot on this issue, but found that files under `components/team_sidebar` are already in typescript

[2020-08-01 03:35] dioop commented on #15147
-> so i edit the make file and fix the pointer to that folder
How you do that?
please answer me

[2020-08-01 04:40] sikloidz commented on #13726
Hi! Can I take this issue? I'll be happy to work on it

[2020-08-01 07:54] avasconcelos114 commented on #15086
I'll take care of this one!

[2020-08-02 12:16] dalcde commented on #9972
As noticed in https://github.com/mattermost/mattermost-server/issues/13644 , the server also reports the error incorrectly when a password that is too long is rejected. It says

[code]

[2020-08-02 18:26] trebabcock commented on #14004
I've completed this task.

[2020-08-03 02:12] JMGonzalezR commented on #15147
@dioop first try i edited it with notepad, but later i think that can change the format to utf-16, so i download it again (making sure i have the correct file)  and the second try i edited it in the babun console using vim

[2020-08-03 02:13] JMGonzalezR commented on #15147
@amyblais of course, thanks

[2020-08-03 04:04] Niceplace commented on #11590
Adding a comment here if anyone else experiences this issue. I am using Insomnia REST client and I was chaining a LOGIN request do a DELETE request on /teams. I kept getting that issue:

[code]

I had to go in the request settings for the LOGIN request and disable 'Send cookies automatically' and 'Store cookies automatically'. After this, referencing the Bearer token of the LOGIN response in the D

[2020-08-03 09:15] mattermod opened #15174 "Additional responses for slash commands don't get placed in the same thread as the original response if it's a root post"
Integrations who register a slash command receive a `response_url` every time the slash command is triggered. This URL can be used be used to send up to five additional message in a limited time frame.

If the original slash command response is a root post i.e. it's triggered from the center panel, additional responses will not get places in the same thread but instead open new thread i.e. are roo

[2020-08-03 09:23] jacksga commented on #13815
@amyblais actually this is not fixed, not even in the latest version. When I initially upgraded our server I thought our installation could be broken, but a weak ago I installed the 5.25.1 and it is still broken. I then did a fresh test install and still no luck. Checked the jira ticked and saw it was closed and marked as a duplicate, but apparently the other thing wasnt linked to this problem as

[2020-08-03 10:05] riggasconi opened #15175 "Easier change of focus for threads"
Currently the right section of the app (thread) changes only if I click on "reply". It'd be good if it changed whenever I clicked on any message, be that part of a thread or a single one (it'd be coupled in both the mid and right sections).

[2020-08-03 10:06] riggasconi opened #15176 "Automatically join new public channels"
By default, new public channels are joined by all members. At channel creation, channel creator can choose not to.

[2020-08-03 12:24] #14425 closed

[2020-08-03 19:36] CEOehis commented on #15164
Hey, @hmhealey I'd like to work on this ticket.

[2020-08-03 19:40] CEOehis commented on #15159
@hmhealey I'd like to work on this too.

[2020-08-04 08:42] bennodepenno opened #15183 "Mattermost reports read only filesystem when in fact the file system is writable"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-08-04 12:51] amyblais commented on #15099
### v5.26 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.26.0-rc1/mattermost-team-5.26.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3757/files)

[2020-08-04 13:21] amyblais commented on #15176
This plugin may help https://github.com/mattermost/mattermost-plugin-welcomebot/blob/master/README.md.

[2020-08-04 13:22] amyblais commented on #15175
Thanks, appreciate your feedback,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2020-08-04 13:26] devinbinnie commented on #13732
@sikloidz Apologies for the confusion, the component was moved to `components/legacy_team_sidebar` while we work on the sidebar update. If you're still interested in migrated that module, let me know :)

[2020-08-04 13:28] amyblais commented on #15183
The error indicates that the user running Mattermost does not have the right permission to the directory. Can you please check the permission and ownership of the directory?

In the config.json you can check where the file settings directory is set to (e.g. /mattermost/data).

[2020-08-04 13:46] bennodepenno commented on #15183
Hi,

The permissions are correct:
[code]
In our case /srv/data01/mattermost is configured in the config.json:
[code]
The mattermost service runs under the mattermost user. As an experiment, I ran:
```sudo -u mattermost touch /srv/data01/mattermost/myfile``` which succeeds.

[2020-08-04 13:50] amyblais commented on #13815
Thanks, I reopened the Jira ticket,

[2020-08-04 14:37] #15034 closed

[2020-08-04 14:49] hmhealey commented on #15164
Awesome! Thanks for the help. Feel free to let us know if you run into any issues.

[2020-08-04 14:50] hmhealey commented on #15159
Same as the other one, let me know if you have any questions 🙂

[2020-08-04 15:28] lindsayfowler commented on #7921
Yes, but whilst it appears that username capitalization is not a problem, because it converts it back to lowercase...
It seemingly can cause hell when you use Github Pages to host a static site. At least I think so.

The repo and the username need to be exactly the same, and so, at the very least, it causes confusion when naming the repo:
do I name it **MyRepo.io** like my original username or **m

[2020-08-04 16:17] esethna commented on #15023
Hey @Upinder123, how's this going? Let us know if you have any questions or if you're still working on this?

[2020-08-04 17:35] dj5k opened #15184 "Attachment size limit affects custom plugin size"
#### Summary
The setting `Maximum File Size` responsible for limiting "Maximum file size for message attachments" (as per description) also affects the size limit of custom plugins that are uploaded through the UI or the CLI. This connection is not explained anywhere to my knowledge.

#### Steps to reproduce
Mattermost server version 5.25.1 - E10 license

* Go to system console -> file storage and

[2020-08-04 18:15] mattermod opened #15185 "React Native: Add Channel Settings > Notification Preferences"
Related GitHub Issue: [https://github.com/mattermost/mattermost-mobile/issues/238](https://github.com/mattermost/mattermost-mobile/issues/238)

Mobile users need the ability to edit mobile push notification settings at the channel level so that:

  * They can have greater control over how they receive notifications—all right from my phone.
  * Consistent controls are established between the deskto

[2020-08-05 09:48] lohfu commented on #5786
2 years later it still not possible to search for URLs... are there any updates on this?

[2020-08-05 09:51] lohfu commented on #5786
@lindy65 the URL you posted, https://docs.mattermost.com/administration/changelog.html#release-v3-1-0, does not seem to have anything to do with the discussed issue.

[2020-08-05 10:50] hanzei commented on #12696
@tharun208 That is correct. Please let me know if you have any other questions.

[2020-08-05 11:18] lindy65 commented on #5786
Hi @lohfu - the relevant information is under 'Known Issues' here: https://docs.mattermost.com/administration/changelog.html#id621

`zeronickname` posted above:

[2020-08-05 11:38] lohfu commented on #5786
@lindy65 yes i have figured out that only installations using postgres have these problems. from what i understand there are no plans on fixing this, is this correct? if this is so, it should be much clearer in the documentation that this bug exists and that it will never be fixed. for many people this is a very serious issue.

for example, under https://docs.mattermost.com/install/requirements.ht

[2020-08-05 11:43] #14438 closed

[2020-08-05 11:43] ethervoid commented on #14438
Merged, thank you very much @amarjeetanandsingh :)

[2020-08-05 12:18] lindy65 commented on #5786
Thanks for your feedback @lohfu, appreciated! I'm going to pass this on to the product team and ask them to clarify in the relevant documentation. 👍

[2020-08-05 12:24] Shubhamchinda commented on #14740
I'd like to take this.

[2020-08-05 12:39] JMGonzalezR commented on #15147
Update:

Now i tried using the wls2  console with an Ubuntu distro, this got me closer but still getting an error

`make run-server
mmctl installed
Starting docker containers
go run ./build/docker-compose-generator/main.go mysql postgres inbucket | docker-compose -f docker-compose.makefile.yml -f /dev/stdin run --rm start_dependencies
go: downloading gopkg.in/yaml.v2 v2.3.0
go: extracting gopkg.in

[2020-08-05 12:40] lohfu commented on #5786
@lindy65 nice, but i still havent gotten an answer: are there any plans on attempting to fix this?

[2020-08-05 12:54] streamer45 commented on #15183
@bennodepenno

Can you try running:

[code]

[2020-08-05 13:15] amyblais commented on #15184
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-27517.

[2020-08-05 13:51] bennodepenno commented on #15183
Hi,

The ```sudo -u mattermost mkdir -p /srv/data01/mattermost/20200804/teams/noteam/channels/y1gjjwapetfyfbiafnh4jhbrhw/users/5sdzax8pfty78bie37taum31ac/ayyg5epyfprb9p7ynpapw3sary``` works fine. The file-system is writable.

[code]

[2020-08-05 13:57] streamer45 commented on #15183
@bennodepenno

A couple of questions:

- Is this something that started happening after a while or it never worked?
- Which filesystem is your OS running on?

[2020-08-05 14:09] bennodepenno commented on #15183
It has worked before, I don't know exactly which version it stopped working.
The file system used is ext4:  ```/dev/mapper/system-data01 on /srv/data01 type ext4 (rw,relatime,data=ordered)```

[2020-08-05 14:27] streamer45 commented on #15183
- Does this happen consistently now?
- How do you run the mattermost executable? (Through a service or manually?)

Also, can you try running (delete it first if exists):

[code]

The last related change we had was more than 8 months ago and it just affected the permissions on creation.

[2020-08-05 14:36] bennodepenno commented on #15183
It happens consistently in any channel. We run mattermost as a systemd service.

[code]

This is the service file used to start mattermost:
[code]

[2020-08-05 14:48] streamer45 commented on #15183
I'd probably try to add another entry of `ReadWritePaths` with your data directory (`/srv/data01/mattermost/`).

[2020-08-05 14:57] bennodepenno commented on #15183
Like so:
[code]
I've modified the config as shown above, restarted the mattermost service and tried pasting a screenshot in a channel. Unfortunately, the results are the same, read-only file system.

[2020-08-05 14:59] streamer45 commented on #15183
Oh, I meant in the systemd service file, right below `ReadWritePaths=/etc/webapps/mattermost/config.json`.
This seems unrelated to mattermost.

[2020-08-05 14:59] bennodepenno commented on #15183
After the restart of the service, the ReadWritePaths parameter is removed from the config.json file. Cannot make the config persistent.

[2020-08-05 14:59] bennodepenno commented on #15183
Ah, sorry. I misunderstood. Will try it now.

[2020-08-05 15:05] bennodepenno commented on #15183
That did the trick!. I've copied the ```/usr/lib/systemd/system/mattermost.service``` file to /etc/systemd/system, added the line:
```ReadWritePaths=/srv/data01/mattermost/``` after ```ReadWritePaths=/etc/webapps/mattermost/config.json``` and reloaded systemd. After restarting the mattermost service, pasting binaries works! Thank you for your help.

[2020-08-05 15:08] #15183 closed

[2020-08-05 15:28] lindy65 commented on #5786
Hi @lohfu :)

One of our product team folk will respond to you as soon as possible.  👍

[2020-08-05 20:00] ethervoid commented on #5786
@lohfu there is a ticket to fix this issue: https://mattermost.atlassian.net/browse/MM-7779

[2020-08-05 22:11] VitaminKay opened #15186 "Mattermost Unexpectedly Fails to Start"
#### Summary
Mattermost is no longer starting after VM host crashes, and will not start even after VM backup is restored (was running when backup was taken).

#### Steps to reproduce
I issue the command `systemctl start mattermost.service` on the CentOS 7 VM that hosts the Mattermost application. I receive this output: `Job for mattermost.service failed because the control process exited with erro

[2020-08-06 02:42] mukulrawat1986 commented on #14740
@reflog Please reassign this to @Shubhamchinda

[2020-08-06 07:36] agnivade commented on #15186
Are you able to normally create directories under `/var/opt/mattermost`?

What does `sudo -u mattermost mkdir -p /var/opt/mattermost/test` show?

[2020-08-06 08:13] VitaminKay commented on #15186
I receive a permission denied error. After seeing this I am facepalming... I ran `chown -R mattermost:mattermost mattermost/` (after moving into `/var/opt` of course) and then attempted a start. It came up right away!

I'm gonna go ahead and close the issue, thank you for your help!

[2020-08-06 08:13] #15186 closed

[2020-08-06 08:34] #14683 closed

[2020-08-06 09:26] #13692 closed

[2020-08-06 09:38] renchili opened #15188 "create_user_access_token permission deny for system_admin V 5.25.0"
#### Summary
V5.25.0 system admin cannot create any TOKEN

#### Steps to reproduce
https://mattermost.test.shopee.io/seatest/integrations/bots
create a bot, but cannot create token for this bot
and cannot create user token either
![image](https://user-images.githubusercontent.com/33677006/89516861-8bce1480-d80b-11ea-8dde-5424ef9f0593.png)

#### Expected behavior
can create token

#### Observed beh

[2020-08-06 09:40] renchili commented on #15188
for more information I update 5.19.2 to 5.25.0 followed 100% mattermost guid about upgrade mattermost

[2020-08-06 12:30] aseques opened #15190 "Ldap authentication not working but test is successful (no information on logs)"
I am trying to setup the LDAP authentication on my recently installed mattermost instance. After a bit of checking (and copying from other apps connected to the same AD server) i got the test working

![Screenshot_20200806_140457](https://user-images.githubusercontent.com/555542/89529908-dccf1000-d7ed-11ea-8d2b-25e8649c8292.png)

#### Steps to reproduce

Mattermost Version: 5.25.2
Database Schema

[2020-08-06 12:34] amyblais commented on #15188
@renchili Have you followed all the documented steps including the troubleshooting steps at the bottom https://docs.mattermost.com/developer/personal-access-tokens.html?

Can you help share your Mattermost logs?

[2020-08-06 14:14] josephk96 commented on #14075
Hi @saturninoabril I'd like to work on this :)

[2020-08-06 14:21] saturninoabril commented on #14075
Hello bro, sure! This qualifies for Hackfest too. Also we have lots here - https://docs.google.com/spreadsheets/d/1gn12iXQbswP1fAcp4alEIfJdFuB1DlFu9CzW89zm598/edit#gid=1650809354 😄

[2020-08-06 14:22] #12451 closed

[2020-08-06 14:23] josephk96 commented on #14075
Thanks dude! Sorry I've been AWOL for the past few months, I'll try to be more active, especially with the Hackfest going on :)

[2020-08-06 14:26] saturninoabril commented on #14075
No worries and glad to hear from you again 😄

[2020-08-06 14:31] amyblais commented on #15190
@aseques Did you have a chance to look through the troubleshooting doc for tips: https://docs.mattermost.com/deployment/sso-ldap.html#i-updated-a-user-account-in-ad-ldap-and-they-can-no-longer-log-in-to-mattermost?

[2020-08-06 20:14] jakubnovak998 commented on #13701
Hi, I can work on this.

[2020-08-06 20:21] jakubnovak998 commented on #15161
Hi, I can work on this.

[2020-08-06 20:30] mattermod opened #15195 "Support goto_location on mobile"
When a slash command replies with a `goto_location` parameter, the mobile app should launch the user’s browser and send them to that location. The following semantics apply:

  * If the url is absolute, but starts with the currently configured server URL, treat it as a relative URL. Otherwise, open the browser to that URL.
  * If the url is relative and points at a channel name (including a DM or

[2020-08-06 21:38] rtadros-Galois opened #15198 "No desktop or mobile notifications in direct messages involving more than 2 participants"
#### Summary
I don't receive desktop or mobile notifications in direct messages involving more than 2 participants.

#### Steps to reproduce
Happens on both desktop (v.5.22.2 on Google Chrome) and iOS (version 1.33.1).

#### Expected behavior
Receiving direct message notifications even when the message has more than 2 participants.

#### Observed behavior (that appears unintentional)
I get notific

[2020-08-06 22:04] amyblais commented on #15198
@rtadros-Galois This sounds to be expected behavior. On Group Message channels you only get a notification for messages where you are mentioned. If you want notifications for all messages in the channel, then you can go to the channel header > Notification preferences > Send desktop notifications > For all activity.

[2020-08-06 22:08] rtadros-Galois commented on #15198
Aha. Didn't know that the notifications are disabled by default for group messages.

[2020-08-06 22:08] #15198 closed

[2020-08-06 22:15] hmhealey commented on #15161
Awesome, thanks! Let us know if you have any questions or anything.

[2020-08-06 22:25] jasonblais commented on #13727
For anyone who may be interested, this ticket is up for grabs. Here is a start of a PR to help you get started: https://github.com/mattermost/mattermost-webapp/pull/5451

[2020-08-07 03:24] harshilsharma63 commented on #15089
@amyblais hey, done! - https://github.com/mattermost/mattermost-developer-documentation/issues/672

[2020-08-07 03:24] #15089 closed

[2020-08-07 06:16] aseques commented on #15190
Hi @amyblais, I already checked on that page and others, but I couldn't find the message in any of the forums, bugs of mattermost.

[2020-08-07 13:04] kaakaa commented on #15111
I encountered same issue.

My assumption is that the cause is [here](https://github.com/mattermost/mattermost-server/blob/1e53fe85ad42653f1cbdeb9a1d4447bc3b6d7b3d/app/integration_action.go#L222).

[2020-08-07 14:19] mkraft commented on #15190
@aseques Probably `objectGUID` is not the configuration value you want for `LoginIdAttribute`, unless your users are logging in with, like, `raUGqSO5G06DmgFJnGXxKw==`. Probably you'll want to use either `userPrincipalName` or `sAMAccountName`.

[2020-08-07 15:32] larkox commented on #15195
I already had a tackle on this, but forgot to update the Jira issue. Here is the PR: https://github.com/mattermost/mattermost-mobile/pull/4620

[2020-08-07 18:15] mattermod opened #15214 "Be able to delete bot messages in bot DM channels"
Some plugins have a feature where the bot owned by the plugin sends the user notifications as direct messages. Currently there is no way to delete the messages. Since this is a private conversation with the bot, the user could delete the messages without affecting other users.

The use case is that some GitHub notification DMs are not necessarily something that need to stick around, but it would b

[2020-08-07 20:41] oyediyildiz commented on #14502
May I take this one if no one else is working on it?

[2020-08-08 01:39] ngld commented on #15188
I ran into the same issue and finally figured out that you apparently have to login with a password or SAML to create access tokens. If you login with i.e. GitLab, Mattermost denies the token requests because it thinks you're an OAuth application:

https://github.com/mattermost/mattermost-server/blob/7f64199a37b8ddbe722ba611cd6df4f1baba7fd3/api4/user.go#L2048-L2052

From what I can tell, the `IsOA

[2020-08-08 03:21] josephk96 commented on #14086
Hi @saturninoabril , I'd like to work on this. Just to clarify, I have to type 휴 , press enter and make sure that when switching channels the draft icon (little pencil icon) isn't next to the name of the original channel, am I correct?

[2020-08-08 03:31] josephk96 commented on #14084
I'd like to work on this!

[2020-08-08 03:51] saturninoabril commented on #14086
Sure and yes that's correct!

[2020-08-08 03:52] saturninoabril commented on #14084
Awesome, thanks my friend!

[2020-08-08 04:40] josephk96 commented on #14084
No problem bro!

[2020-08-08 15:51] bradjcoughlin commented on #14909
Hey @esethna, I do want to finish the work on this. Just noticing the image attachments are missing from the ticket.

[2020-08-08 18:13] Ayanrocks commented on #13732
I would like to work on this

[2020-08-09 04:39] josephk96 commented on #14082
I'd like to do this, Saturn :)

[2020-08-09 05:30] hanzei commented on #13732
All yours @Ayanrocks  :+1:

[2020-08-10 03:07] saturninoabril commented on #14082
Awesome, thanks Joseph!

[2020-08-10 04:47] sridhar02 commented on #13697
@devinbinnie can i work on this ?

[2020-08-10 04:51] sridhar02 commented on #13694
@devinbinnie can i work on this ?

[2020-08-10 07:04] aseques commented on #15190
Great, it seems that it worked, I tried changing only the 'Login field name" and it  didn't work, after setting both "Login field name" and "ID attribute", login started working.

![Screenshot_20200810_090028](https://user-images.githubusercontent.com/555542/89758395-f28f4e80-dae7-11ea-8d99-8f11dffd9260.png)

Worth noting that the configuration tip is misleading here (specially because when set to

[2020-08-10 07:53] aseques commented on #15190
Worth adding too, that using 'userPrincipalName' in the email field let some users without login with the error

Changing the attribute to 'email' fixed the issue.

[2020-08-10 11:01] breditter commented on #15163
hey!

I'm a fledgling in the open source world, however I'd love to take on this task if help is still needed. Any feedback / advice along the way would also be greatly appreciated. Thank you!

[2020-08-10 11:53] breditter commented on #11439
Hey!
I'm a fledgling in the open source world, however I'd love to take on this task if help is still needed. Any feedback / advice along the way would also be greatly appreciated. Thank you!
noticed many left this issue without solving it hope its beginner friendly :)

[2020-08-10 12:14] jasonblais commented on #11439
@breditter Welcome! 😄

@hmhealey or @esethna are you open to confirming if this ticket is still valid? Just want to make sure since it was created a while ago.

@breditter In terms of guidance, the developer's guide referenced in the ticket description is a good start, and if you have any questions, join our [Contributors community channel](https://community.mattermost.com/core/channels/tickets).

[2020-08-10 12:37] amyblais commented on #15188
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-27623

[2020-08-10 13:20] devinbinnie commented on #13694
Sure!

[2020-08-10 13:22] renchili commented on #15188
I followed this instruction but got nothing but error 403 in log and with error  ```create_user_access_token```

[code]

[2020-08-10 15:05] saturninoabril commented on #14082
Thanks @josephk96 for your contribution! Closing.