[2016-03-08 11:13] rudineirk commented on #2363
I don't think it's related, but the original server was installed using the omnibus installation and it's on the 8.5.1 version.

The new server was installed using [sameersbn/gitlab](https://hub.docker.com/r/sameersbn/gitlab/) docker image, and it's on version 8.5.4

[2016-03-08 11:40] tvld opened #2378 "TypeError: e is null"
Ubuntu 14.04, Firefox 44.0.2 when using Mattermost 2.1 on https://pre-release.mattermost.com , whenever I drag / resize a FF window, I get:

![type-error](https://cloud.githubusercontent.com/assets/986182/13600679/db99df0e-e52a-11e5-8b04-bc6c1f228d45.png)

[2016-03-08 12:41] tvld opened #2379 "Missing date stamp in Search Results"
MM 2.1:
![mm-2 1-date](https://cloud.githubusercontent.com/assets/986182/13601885/67e5a684-e533-11e5-80d6-3f23be115154.png)

[2016-03-08 13:06] tvld opened #2381 "Anyone can change Channel Headers"
I don't own the Channel and am just a visitor... but I can change the Channel headers or all channels in MM 2.1 pre-release install... Is that intended behaviour?

![channel_header](https://cloud.githubusercontent.com/assets/986182/13602411/cbc25e92-e536-11e5-8838-cc744034dd4d.png)

[2016-03-08 14:02] tvld opened #2382 "Join Channel Spam"
Not sure if you appreciate all my first-time-visitor-observations... but here is another one.. ;)

If I just have a glance at a channel, MM immediately states that I joined the channel. First, it is not true, I did not join, just had a peek. Second, with so many people peeking.... what are we peeking at ? ;))))

Maybe send that message only after I post my first message or so?  Or even, click on a

[2016-03-08 14:22] lfbrock commented on #2382
Hi @tvld,

Thanks for the feedback, can you upvote this feature idea here?
https://mattermost.uservoice.com/forums/306457-general/suggestions/10529445-add-option-to-disable-join-messages

[2016-03-08 14:22] #2382 closed

[2016-03-08 14:22] mattermod commented on #2381
Thanks @tvld, appreciate your feedback,

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this Gi

[2016-03-08 14:23] lfbrock commented on #2381
Hi @tvld,

That is intended behaviour at the moment, but we're considering adding more detailed permissions around channels so teams can choose who should have permission.

Please add a feature suggestion as per above instructions if this is something you would like to see?

[2016-03-08 14:23] #2381 closed

[2016-03-08 14:24] tvld commented on #2382
No... as I can only vote 3x and I have to save my votes ;)  Besides, this is more like a bug to me .. I really did not intend to join that channel ...

[2016-03-08 15:47] lfbrock commented on #2379
Hi @tvld,

The date stamp should be available if you scroll up in the centre channel?

To make this more usable, we also have tickets to:
1) [Switch all time stamps to absolute time](https://mattermost.atlassian.net/browse/PLT-1914) (instead of using  the "14 days ago")
2) [Have date markers stick to the top of the channel](https://mattermost.atlassian.net/browse/PLT-1920) so they are more visible

[2016-03-08 15:47] #2379 closed

[2016-03-08 16:01] tvld commented on #2379
ok, @lfbrock  was indeed the inconsistency between "Feb 23" and "14 days ago" that was missing, one only notices when new to the tool ))

[2016-03-08 16:25] PSchwarck commented on #2336
We tested this with office 2016 docs on chrome 48.0.2564.116 m as well with the same issue.

To clear things up: this just goes wrong on chrome, when in file preview mode. Anything else works well.

[2016-03-08 16:39] bof-sysadmin opened #2387 "Font size of quotes is too large"
The font size of quotes is too large. It would be nice to be able to change the font size (and maybe other properties) for Markdown elements in Account Settings -> Display.

[2016-03-08 17:48] lfbrock commented on #2346
Not able to reproduce that on our end, does anyone else from the Community see this issue?

Or @karlbateman, if you find repro steps that cause the profile pictures to not show up please let us know.

[2016-03-08 17:50] lfbrock commented on #2336
@lindy65, I believe you tested on office 2016? Can you confirm what browser you tested on?

@PSchwarck, can you provide a screenshot of what it looks like when you upload and then download the file? Is the Mattermost preview showing a powerpoint icon on the file?

[2016-03-08 17:53] #1789 closed

[2016-03-08 19:14] mattermod commented on #2387
Thanks @bof-sysadmin, appreciate your feedback,

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2016-03-08 21:30] #2387 closed

[2016-03-08 22:48] fjarlq opened #2393 "performance: clicking on message permalink reloads entire page"
Browser client: Chrome 49.0.2623.75 on OS X 10.11.3
Mattermost version: both 2.0.0 and today's Mar 8 build (on pre-release.mattermost.com)

Steps to reproduce:
1. Scroll up and find some old message in a channel
2. Copy that message's permalink
3. Paste it into the channel
4. Click on the pasted message permalink

Expected behavior:
Mattermost should gracefully redraw only the channel pane to show

[2016-03-09 05:49] peasead opened #2395 "Dockerfile contains 404"
Line 37 of the Dockerfile contains:
[code]
but it should be:
[code]
Need to remove the ...-rc2 from the version number as -rc2 is a 404.

[2016-03-09 10:07] lindy65 commented on #2336
@lfbrock Yes, I tested in Office 2016, Chrome v48.0.2564.116 m

[2016-03-09 13:22] PSchwarck commented on #2336
@lindy65
I just re-checked upload/download of the files with chrome on our system (Enterprise Edition ET7), same issue. I tested with the pre-release.mattermost.com/core and couldn't re-produce this behavior.

![mm_fehler01](https://cloud.githubusercontent.com/assets/16940971/13636417/17568cb8-e602-11e5-9d8c-523372bf5e50.JPG)
![2016-03-09 14_16_25-zsandkiste - finius group flurfunk der finius grou

[2016-03-09 15:19] medokin commented on #2221
Kann mir jemand den Workflow von diesem Übersetzung-Tool erklären? Immer wenn ich auf "Übersetzung fortsetzen" gehe, lande ich immer bei Item "April".

[2016-03-09 15:19] mattermod commented on #2378
Thanks @tvld, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-09 15:22] lfbrock commented on #2393
Thanks @fjarlq, we have a ticket [here](https://mattermost.atlassian.net/browse/PLT-1236) to track this issue in Jira.

If anyone would like to work on this, let us know and we'll consider it for accepting pull requests.

[2016-03-09 15:22] #2393 closed

[2016-03-09 16:44] PSchwarck commented on #2221
Hi @medokin

Ich mache das wiefolgt:
1. Ich filtere auf "german", und "unvollständig" oder "nicht übersetzt"
2. "blättere" mit Satz hoch, Satz runter auf einen noch nicht übersetzten Text, bzw. wenn ich was finde, was mir nicht gefällt. Stelle ich einen neuen Vorschlag ein.

So. Für mich scheint das Pootle-System zu unterscheiden zwischen "Vorschlagen" und "Senden" (denke, das hieß mal "commit").

[2016-03-09 17:50] Lujeni opened #2402 "Custom the default teammate name display"
Hello,

The default teammate name display is `username`.
There is a way to change this default settings ?

For example, use the `fullname` value for everyone.

Thanks

[2016-03-09 18:42] lindy65 commented on #2378
Thanks for the report @tvld

Ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2267

[2016-03-09 18:42] #2378 closed

[2016-03-09 22:11] GuillaumeAmat commented on #1806
Anyone? Am I the only one to have that bug anymore? I'm cursed... ;)

[2016-03-09 23:17] PSchwarck commented on #2336
Hi @lindy65  ,

i just double checked this issue with the rc1 server on http://rctesting.reddogsofwar.com/rc-210 und could not reproduce this behavior. So I assume... everything is fine with the new release and we can close this issue.

[2016-03-10 01:11] esethna opened #2407 "Mattermost v2.1.0-rc1 regressions"
This is a meta issue for discussing:
- Potential regressions in [the latest Mattermost release candidate](https://github.com/mattermost/platform/releases/tag/v2.1.0-rc1), and
- Potential patches to be applied prior to final release.

Please link to issues you believe may warrant a patch (please do not post issue here). It is the responsibility of the release manager assigned to this issue to decid

[2016-03-10 07:06] it33 commented on #2382
Hi @tvld, your opinion is valued, we just ask your help to keep the feedback on feature ideas in one place so your feedback can have the greatest impact. Also, [there's another feature idea to allow the viewing of channels before joining](https://mattermost.uservoice.com/forums/306457-general/suggestions/12877668-ability-to-view-channels-without-joining)

[2016-03-10 11:42] meilon commented on #2221
Ich tippe immer alles selber, die Systemvorschläge sind häufig nicht so gut. Was auch sehr wichtig ist, dass man sich selbst einen Mattermost Server aufsetzt und die eigene Übersetzungen testet. Schließlich sind deutsche Wörter häufig länger und können das Design kaputt machen. Ich melde die Fehler dann im Localization Channel.

Ich habe den Teil so gut wie komplett den der Endnutzer sieht, die Sy

[2016-03-10 14:56] HWDexperte opened #2410 "Ability to leave a team"
It would be nice if there were a way to leave a team, or for a adminl to remove or block members from a team

[2016-03-10 15:39] lfbrock commented on #2336
Thanks @PSchwarck, yes it looks like it was an issue with v2.0 that has since been fixed. If it shows up again after next release feel free to re-open this.

[2016-03-10 15:39] #2336 closed

[2016-03-10 15:40] lfbrock commented on #2395
Thanks @peasead, if you'd like to contribute a fix we'd welcome a pull request on this

[2016-03-10 15:58] PSchwarck commented on #2312
As a add on a customizable Email-Subject would be nice. Like[%team" "+"%Channel" "+"%sender"]

[2016-03-10 16:05] peasead commented on #2395
I can do that, I just wasn't sure if this was pull request material or if it'd just be easier to fix.

No worries at all, I'll submit a pull request.

[2016-03-10 16:05] #2395 closed

[2016-03-10 18:13] ptman opened #2415 "Problem with PostgreSQL schema migration on first run"
[2016/03/10 18:03:35 UTC] [CRIT] Failed to create column pq: relation "users" does not exist

Postgres thinks that:

    ERROR:  relation "users" does not exist
    STATEMENT:  ALTER TABLE Users ADD Locale character varying(5) DEFAULT 'en'

And indeed, I can't get it to work in psql either, unless I write:

    ALTER TABLE "Users" ADD "Locale" character varying(5) DEFAULT 'en';

[2016-03-10 20:51] PSchwarck commented on #2056
I just tested to connect against 2.1.0rc1 on iOS safari without success. Still everything white.
On chrome/ Firefox everything works well.

[2016-03-10 22:09] patoupatou commented on #2021
@tbolon I submitted a PR on your branch, feel free to comment on it if there are some corrections you aren't sure of!

[2016-03-10 23:01] it33 commented on #2021
Hi everyone,

1. if this is your first time contributing, please do complete the [Contributor Agreement](http://www.mattermost.org/mattermost-contributor-agreement/) when you contribute to the branch that is eventually going to be checked in. Your GitHub username will be listed as an [approved contributor](https://docs.google.com/spreadsheets/u/1/d/1NTCeG-iL_VS9bFqtmHSfwETo5f-8MQ7oMDE5IUYJi_Y/pubh

[2016-03-10 23:01] mattermod commented on #2402
Thanks @Lujeni, appreciate your feedback,

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-03-10 23:04] lfbrock commented on #2402
Hi @Lujeni,

I think we want to add something like this at some point - we were thinking of adding a section to the System Console to let administrators set default display settings for their site. It would be useful to have this for teammate name display, theme colors, and language at the very least.

In the meantime, if you want to contribute a feature idea on the topic so others can upvote it,

[2016-03-10 23:04] #2402 closed

[2016-03-11 09:00] tbolon commented on #2021
Thanks @patoupatou, I have merged your PR. I also have some commits waiting for being pushed.

I have completed the CA, and will make sure all GitHub usernames are included with my PR.

[2016-03-11 09:32] tbolon commented on #2021
Sorry @patoupatou , I have merged you PR against the wrong branch master. I have reverted the PR then manually merged your commit into the transaction-fr branch. Feel free to continue submitting PR against my fork.

[2016-03-11 09:33] tbolon commented on #2021
@it33 should I submit a PR with the current state of the work, or you prefer to wait for something more polished ?

[2016-03-11 10:10] tbolon commented on #2021
I have started creating a new web/static/i18n/fr.json file. I will use [issues on my fork](https://github.com/tbolon/platform/issues) to help tracking progress.

[2016-03-11 11:31] karlbateman commented on #2346
After following your [Production Instructions for Debian](http://docs.mattermost.com/install/prod-debian.html#set-up-nginx-server) on NGINX with SSL I got everything running, the only thing which is not functioning correctly is the avatar for my bot. They disappear when I refresh and sometimes never show up at all?

[2016-03-11 13:10] it33 commented on #2021
Thanks @tbolon, I'd propose waiting until the contributors on this thread feel that the translations is complete (ideally at the [beta quality bar](http://docs.mattermost.com/developer/localization.html#beta) and it can be added in a single PR?

[2016-03-11 14:10] patoupatou commented on #2021
@tbolon np and thank you!

I just signed the CA. I agree with waiting for more contributions from people in this thread :)

[2016-03-11 23:27] mattermod commented on #2415
Thanks @ptman for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)?

Per above link, please include repro steps to make it easier to solve your issue. Also, please link back to your new post from this issue?

[2016-03-12 03:33] rudineirk commented on #2363
Upon better inspection I found something interesting, not all users were having the problem, only the ones in which changed the gitlab user numeric id (same username, different user id)

I think it's related to the way mattermost is using the gitlab user id, maybe [this field](https://github.com/mattermost/platform/blob/master/model/gitlab/gitlab.go#L23) should not exist, mattermost should only us

[2016-03-12 16:37] ptman commented on #2415
This was cause by building the platform binary using:

    go build

instead of

    make build-server

[2016-03-12 16:37] #2415 closed

[2016-03-12 19:55] PSchwarck commented on #2056
Well I just got hands on my mother-in-law's iPhone 4s on 9.2.1 and I could access our 2.0 installation.
So far,
Not working :  iPhone 6, iPad Air 2, iPad 2
Working: iPhone 4s, iPad 2
All devices are on 9.2.1.
Pretty strange to me... ;-(

[2016-03-13 08:12] jkuchar opened #2420 "Czech (cs) translation and review"
Is there anyone who is going to help me with that?

[2016-03-13 08:14] jkuchar opened #2421 "Tapping "search" does not move focus into searchbox"
On mobile version (tested on iPhone and in Chrome dev tools) when I click on search icon focus, transition is made to second screen with search field and search results, however focus i nowhere. Should be in search field.

[2016-03-13 10:07] githubkoma opened #2422 "App Android 1.14 flaw on Sony Xperia Z3 Compact, Android 5.1.1"
Except one flaw/issue the Android  App 1.14 works fine:
- It displays a "Loading" overlay Widget at first start and on reopening it
- The app is not usable for 5-10 seconds, before the Widget disappears
- Same when reopening the App after a while
- The iOS App in Comparison doesnt have this loading overlay and shows the normal elements much ealier and smoother

[2016-03-13 12:46] roughsoft opened #2423 "by combining two ES6+ features – arrow functions and property initializers – opt-in binding to the component instance"
when we define components using the ES6+ class syntax, it would seem that we need to manually bind instance methods wherever we want this behavior:

// Manually bind, wherever you need to
class PostInfo extends React.Component {
  constructor(props) {
    super(props);
    // Manually bind this method to the component instance...
    this.handleOptionsButtonClick = this.handleOptionsButtonClick.bi

[2016-03-14 06:23] it33 commented on #2422
Thanks @githubkoma! Can we have your help opening a separate ticket for the issue similar to [this one?](https://github.com/mattermost/platform/issues/2271)

[2016-03-14 06:50] githubkoma commented on #2422
Hi There,

of course, what do i have to do?

best regards

On 14.03.2016 07:23, it33 wrote:

[2016-03-14 10:55] GuillaumeAmat commented on #1806
It's working! \o/ My last issue was caused by a bad Firefox profile (my bad...).

[2016-03-14 12:56] lfbrock commented on #1928
Closing this issue, @Ticki if it's still happening please re-open?

[2016-03-14 12:56] #1928 closed

[2016-03-14 13:03] Ticki commented on #1928
It seem to be gone. I'll let you know if it happens again.

[2016-03-14 14:38] lfbrock commented on #2310
Closing this issue, @ChelinTsien if this is a feature request please contribute a [feature request](http://www.mattermost.org/feature-requests/)?

[2016-03-14 14:38] #2310 closed

[2016-03-14 14:45] lfbrock commented on #2346
Thanks, is anyone else seeing this on a Debian install?

I'm not able to reproduce the images disappearing on refresh, I believe the missing profile pictures might be happening on consecutive posts by the same bot which will be fixed by [PLT-1812](https://mattermost.atlassian.net/browse/PLT-1812).

[2016-03-14 14:52] crspeller commented on #2423
Tat is cool! Thanks for pointing it out! However, when this problem is eventually solved we would need to edit every function to remove the cruft. With the current method all we have to do is delete a few lines from the constructor. It's not that hard to bind every function in the constructor anyway.

Thanks!

[2016-03-14 14:52] #2423 closed

[2016-03-14 15:25] it33 commented on #2422
Thanks @githubkoma,

Sorry, my fault, I should have been more clear.

Here are instructions for [reporting a bug](http://www.mattermost.org/filing-issues/). A moderator will create the other ticket after your issue is confirmed,

Thanks for your help!

[2016-03-14 16:24] finius opened #2425 "channel search isn't case-sensitive for hashtags but is for regular search requests"
When searching for a hashtag there seems to be no case sensitivity, which is good. But when searching for terms with upper case letters, the results can't be found if one was only entering lower case letters instead in the search box.

[2016-03-14 17:24] cyruslopez opened #2428 "Keyword webhook action isn't triggered when a bot posts the keyword."
When an outgoing webhook is set up to trigger based on a keyword, it only is triggered when a human uses the keyword. When a bot makes a post that has the keyword, the webhook action isn't triggered. This limits automation possibilities.

Steps to Reproduce:
1. Set up an outgoing webhook with a keyword of your choice.
2. Have a bot post a message via an incoming webhook to your channel with the ke

[2016-03-14 17:53] lfbrock commented on #2428
Hi @cyruslopez, we're open to someone adding this and have an [accepting pull requests ticket](https://mattermost.atlassian.net/browse/PLT-2171) on it.

There's a few things to think about if it is implemented, you can see the past discussion [here](https://github.com/mattermost/platform/issues/1901).

[2016-03-14 17:53] #2428 closed

[2016-03-14 17:55] lfbrock commented on #2425
Hi @finius, what database are you searching on?

It does not seem to be case sensitive for me:

<img width="400" alt="screenshot 2016-03-14 13 54 40" src="https://cloud.githubusercontent.com/assets/9354841/13754159/53deedb8-e9ec-11e5-89cc-78c5d99fbceb.png">

[2016-03-14 18:25] PSchwarck commented on #2425
Hi @lfbrock,
we are on Postgres, following the standard install procedure.

[2016-03-15 00:32] #2407 closed

[2016-03-15 07:07] khawerrind opened #2434 "Unable to change my profile picture"
**Steps to reproduce:**
1. Login in to account
2. Go to account settings
3. Cick on edit profile picture

**Expected behavior:**
When clicking on edit profile picture the modal box of the account settings should have a scroll. But currently it does not have a scroll and the buttons for changing profile picture are hidden.

![IMAGE]
(https://i.imgur.com/4NTG13l.png)

Chrome: Version 48.0.2564.109 (

[2016-03-15 09:43] chengweiv5 opened #2435 "what's the best way to upgrade mattermost?"
Hi, there, I did setup mattermost 2.0 which running in docker, of course based on `docker/2.0/`, and I have some local changes, so if I rebase my changes against the newer release, say release-2.1 branch, which seems doesn't make any sense, because what I did is for `docker/2.0` but now I should use `docker/2.1`, right?

So it's seems very hard to rebase my changes to release-2.1 but do some manua

[2016-03-15 14:37] Sathors opened #2437 "Link to the latest version dead"
I am currently following the guide to install in production, and I noticed that the link in the [download page](http://www.mattermost.org/download/) to download the latest binary is dead: [link](https://github.com/mattermost/platform/releases/download/v2.0.0/mattermost.tar.gz).

Running linkchecker on http://www.mattermost.org actually gives 72 errors 404.

Thanks for the good work!

[2016-03-15 14:45] it33 commented on #2437
Whoops! Thanks @Sathors, looking into this,

[2016-03-15 14:57] mattermod commented on #2425
Thanks @finius for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)?

Per above link, please include repro steps to make it easier to solve your issue. Also, please link back to your new post from this issue?

[2016-03-15 15:00] lfbrock commented on #2425
Hi @finius,

I tested on both Postgres and MySQL and I couldn't reproduce the issue - maybe try copying this over to the troubleshooting forum as well to see if anyone there has had similar issues?

If anyone else from the community is seeing this issue, please post here as well to let us know.

[2016-03-15 15:02] lfbrock commented on #2313
Closing issue, @brioscaibriste if you're still having issues please post to [troubleshooting forum](https://forum.mattermost.org/).

[2016-03-15 15:02] #2313 closed

[2016-03-15 15:05] mbats opened #2438 "Video play is triggered unexpectedly"
When a youtube video is integrated to a channel, sometimes the play action is triggered even if the video is not anymore visible on the screen.

[2016-03-15 15:10] lfbrock commented on #2438
Hi @mbats, can you check what version of Mattermost you're using? (You should be able to find it in "About Mattermost" in the main menu).

[2016-03-15 15:17] lfbrock commented on #2421
Thanks @jkuchar, would you be interested in working on an accepting pull requests ticket for this?

[2016-03-15 15:27] lfbrock commented on #2434
HI @khawerrind, if I make an accepting pull requests ticket for this would you be interested in working on it?

Ubuntu is not a [supported OS](http://docs.mattermost.com/install/requirements.html#software-requirements) at the moment, but if community members want to help work towards supporting it we would welcome the contributions.

[2016-03-15 16:00] mattermod commented on #2312
Thanks @finius, appreciate your feedback,

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-03-15 16:02] lfbrock commented on #2312
Hi @finius, we discussed this change and we're trying to decide between breaking out the subject lines to be more detailed, or combining them to use the same title so people will only have one Mattermost email thread per day.

We see the benefit to both sides and weren't sure which way would be more popular with the community, so if you could help move this to the feature idea forum where it can g

[2016-03-15 16:02] #2312 closed

[2016-03-15 16:37] mbats commented on #2438
Mattermost 1.3.0
Build Number:4896
Build Date:Mon Dec 14 23:57:09 UTC 2015
Build Hash:f51d45f6cba0e5a1249146afe4a1c78cf32b7598

[2016-03-15 16:46] lfbrock commented on #2422
Hi @githubkoma, I think this is more visible on Android because the default loading icon on Android is more obvious, iOS also has a loading screen but the default one is more subtle.

The Android app does seem to load slower than the iOS app, and we're working on a few things we hope will improve the speed.

[2016-03-15 16:46] #2422 closed

[2016-03-15 16:48] lfbrock commented on #2438
Thanks @mbats, I think this bug should be fixed if you upgrade to a newer version. It looks like it should be fixed in versions 1.4 and above.

[2016-03-15 16:48] #2438 closed

[2016-03-15 16:57] mbats commented on #2438
Good news! Thanks for your quick feedback!

[2016-03-15 18:11] vcazan opened #2439 "android application not working with 2.1 - not a mattermost server"
I've compiled the apk from master of android repo, it runs fine but when I try and use my team url it gives me the message "This address does not appear to be a Mattermost server"

I can log into the testing server fine but not my server at https://team.arblabs.com

Does anyone know what could be causing this?

[2016-03-15 18:13] vcazan commented on #2439
Also get this error in console:
`03-15 14:09:48.994 2295-2375/com.mattermost.mattermost E/Surface: getSlotFromBufferLocked: unknown buffer: 0xb40931f0
03-15 14:09:49.012 2295-2295/com.mattermost.mattermost E/Error: javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

[2016-03-15 18:30] finius commented on #2425
Well, I must confess, I am also no able to reproduce this, as @PSchwarck reported this issue to me.
But anyway, the search behaves somekind of strange.
For example:
I just joined a channel in our local setup and choosed a message from patrick to search for the containing word "Gerüchteweise" as you can see in the screenshot attached. Therefore I tried several variations of incomplete search terms

[2016-03-15 18:39] finius commented on #2312
Thanks for the update!

[2016-03-15 18:41] finius commented on #2312
https://mattermost.uservoice.com/forums/306457-general/suggestions/12946581-email-notifications-for-new-messages-and-for-chann

[2016-03-15 18:47] zsoca8711 opened #2440 "Option to disable direct messages"
Hey All,

we are considering using mattermost but we look to disable direct messages completely. I've tried searching and (not surprisingly) there is no option to disable direct messages.
I'm not familiar with mattermost source code, neither with golang or react, but would be interested in this feature is something you consider worth adding (maybe as an admin option)?
Can someone estimate how long

[2016-03-15 18:56] lfbrock commented on #2425
Yes - there's some issues with search right now, it just uses the default database search. However I tested on postgres (v2.1) searching for Gerüchteweis with Ge* and Ger* and it seemed to work fine for me, so I'm not sure why it's not working properly in your case. It might have something to do with how your database encoding is set up.

For searching for single letters - I believe the database s

[2016-03-15 21:44] jkuchar commented on #2421
To be honest I do not have much experience with react so I do not know where and how to add event listener to fire focus method. It will probably take me ages to find right place.

Maybe if you guide me a little. :-)

[2016-03-15 23:44] TwizzyDizzy commented on #1185
Just recently installed the latest 2.1 release of mattermost. No flaws detected whatsoever.

Some feedback on the guide itself:

* GRANT ALL PRIVILEGES
 * would be nice to know what is actually needed, than just granting all privileges
* INIT-Script
 * this is NOT, i repeat, NOT the way to go an a vanilla Debian Jessie installation
 * systemd unit file is to be preferred
 * Init-Script for install

[2016-03-16 01:26] it33 commented on #2439
Try entering `example.com/teamname`?

The error message could be more clear: https://github.com/mattermost/android/pull/7/files

[2016-03-16 01:26] it33 commented on #2437
Fixed,

[2016-03-16 01:26] #2437 closed

[2016-03-16 01:27] mattermod commented on #2440
Thanks @zsoca8711, appreciate your feedback,

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to th

[2016-03-16 02:03] chengweiv5 commented on #2435
just checked `docker/local`, seems it's quite different with `docker/2.x` stable release.

[2016-03-16 06:01] khawerrind commented on #2434
I am bit confused. Are you talking about desktop application or web version? Because the issue which i have submitted is related to web version. The web version should run same in Chrome no matter if Chrome is installed in Ubuntu or Mac.

In case if you are talking about web version then i will be happy to work on it.

[2016-03-16 07:32] chenxizhang opened #2443 "can not run with docker"
Hi, buddy

when I run the command "docker run --name mattermost-dev -d --publish 8065:80 mattermost/platform" , then I try to test with "http://localhost:8065", It does't work,why ?

thank you

[2016-03-16 07:49] zsoca8711 commented on #2440
https://mattermost.uservoice.com/forums/306457-general/suggestions/12954666-disable-direct-messages

[2016-03-16 07:52] zsoca8711 commented on #2440
Hello @mattermod

I'm not looking to implement this feature until a business-decision is taken to use mattermost. But when that decision is taken, we will have to implement it ourselves if it is not implemented before.
Due to the fact mattermost is opensource, we are not looking at the lack of this feature as a blocker, but i cannot give you an estimate when we will get going with mattermost. It m

[2016-03-16 07:52] notxcain commented on #2443
Confirmed `docker logs mattermost-dev` last line is
[code]

[2016-03-16 07:54] chenxizhang commented on #2443
Yes, You are right

[2016-03-16 08:07] it33 opened #2444 "[Help Wanted] Japanese translation"
If anyone is interested in working on a Japanese translation, please reply here?

Please feel free to speak Japanese, [you can see other threads speaking non-English as well](https://github.com/mattermost/platform/issues/2221)

[Translation guide here](http://docs.mattermost.com/developer/localization.html). Please also join the [localization channel](https://pre-release.mattermost.com/core/channe

[2016-03-16 08:54] Niklane commented on #2444
do you have any plan for korean(ko) translation? not suitable for this thread(issue), i want to traslate mattermost to korean.

[2016-03-16 09:46] C0rn3rphr34k opened #2445 "Android App 1.14 verified on Google Nexus 5X with Android 6.0.1"
| Version | Device & OS | Issues | Tester | Date |
|:--- |:--- |:--- |:--- |:--- |
| 1.14 | Google Nexus 5X, Android 6.0.1 | | [@C0rn3rphr34k](https://github.com/C0rn3rphr34k) | 2016-03-16 |

[2016-03-16 10:59] PSchwarck commented on #2425
@lfbrock @finius
Hi all,

i just retestet the following. results in the pictures. (remember we are on EE 2.0, myabe some stuff get "fixed" today ;D ).

![ff_bug_002](https://cloud.githubusercontent.com/assets/16940971/13810127/814dba94-eb6e-11e5-8e05-3883ed8e109e.jpg)
![ff_bug_003](https://cloud.githubusercontent.com/assets/16940971/13810129/83f7d18a-eb6e-11e5-951f-eb5e34bd13f0.jpg)
![ff_bug_004](

[2016-03-16 13:27] kt-ssp opened #2446 "Problem with Gitlab/Mattermost on Centos 6 with SCL Apache 2.4"
Recently enabled Mattermost on Gitlab (since updated to 8.5.5) which is configured to have both as virtual hosts on Apache. The installation is on CentOS 6.7 with SCL'd version of httpd24 which includes `proxy_wstunnel_module`.

Mattermost is working except for a problem with Web Sockets. I have found lots of comments and configurations about this but don't seem to be able to get this working. Uns

[2016-03-16 13:56] lfbrock commented on #2434
I was talking about the web version - It should be the same, but I can't reproduce the issue on Chrome on Mac (48.0.2564.116 (64-bit)) so I suspect it might only be on Ubuntu (although I could be incorrect).

I made an [accepting pull requests ticket](https://mattermost.atlassian.net/browse/PLT-2360) if you'd like to look into it.

[2016-03-16 13:56] #2434 closed

[2016-03-16 14:09] mattermod commented on #2446
Thanks @kt-ssp for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)?

Per above link, please include repro steps to make it easier to solve your issue. Also, please link back to your new post from this issue?

[2016-03-16 14:11] #2446 closed

[2016-03-16 14:12] Sathors commented on #2437
Thanks @it33, but the link in the documentation is still pointing to the broken link.

Maybe in the documentation you could just redirect to the download page, so as not to have two copies of the same link, leading to inconsistencies.

Do you want me to open a new issue, or you will reopen this one?

[2016-03-16 14:18] lfbrock commented on #2440
Thanks @zsoca8711, appreciate you bringing up the idea - I can think of a couple cases where people may want this. If there's enough interest from the community this seems like a feature we would consider adding or accepting pull requests on, so it's great to get a uservoice thread started on it.

[2016-03-16 14:18] #2440 closed

[2016-03-16 14:20] lfbrock commented on #2425
Thanks @PSchwarck, glad to see it seems to be working now :)

[2016-03-16 14:20] #2425 closed

[2016-03-16 14:46] lfbrock commented on #2421
No worries, I don't have any quick tips on this one (sometimes it even takes us a while to find the right place with the way the search stuff is now) but made a [ticket](https://mattermost.atlassian.net/browse/PLT-2347) to track the issue :)

[2016-03-16 14:46] #2421 closed

[2016-03-16 14:50] it33 opened #2447 "[Help Wanted] Korean translation"
If anyone is interested in working on a Korean translation, please reply here?

Please feel free to speak Korean, [you can see other threads speaking non-English as well](https://github.com/mattermost/platform/issues/2221)

[Translation guide here](http://docs.mattermost.com/developer/localization.html). Please also join the [localization channel](https://pre-release.mattermost.com/core/channels/l

[2016-03-16 14:51] it33 commented on #2444
@Niklane, a new thread has been created for [Korean translation](https://github.com/mattermost/platform/issues/2447)

[2016-03-16 14:52] Niklane commented on #2447
i wanna help translation.

[2016-03-16 15:08] PSchwarck commented on #2425
Hi @lfbrock,
well this is not what i wanted to say with those screenshots.
Most searches should show almost the same messages.
2nd & 3rd Pic should show the search of pic No. 1,or aat least the more recent ones. But it doesn't.
- search string with wildcard (*) shows different entries, than the full search
- sometimes th search IS case-sensitive, sometimes its not.

all in all... its pretty "weird

[2016-03-16 15:33] brioscaibriste commented on #2313
This was correct @coreyhulen I had to type yes in capital letters to get it to delete.

[2016-03-16 15:52] lfbrock commented on #2425
Ah I see, so the problem is that the Mar 16, 11:36 AM and the Mar 14, 5:14 PM message in screenshot 1 doesn't show up in screenshots 2 and 3?

Searching without wildcard * on Postgres is a little strange - it will only bring back words with certain endings. For example in English, if I search "test" on Postgres it would bring back results such as test, testing, and tested but not "testify". If I s

[2016-03-16 16:37] lloeki opened #2449 "Untappable download links in Android app on OnePlus X"
Trying to download an attachment produces no reaction (either via right-side area or link within preview). Works under Chrome.

- Android app: 1.14
- Device: OnePlus X (E1003, onyx)
- Android: 6.0.1 (Cyanogenmod nightly 20160222)

[2016-03-16 16:37] lloeki opened #2450 "Android App 1.14 verified on OnePlus X with Android 6.0.1"
| Version | Device & OS | Issues | Tester | Date |
|:--- |:--- |:--- |:--- |:--- |
| 1.14 | OnePlus X (E1003, onyx), Android 6.0.1 | [#2449](https://github.com/mattermost/platform/issues/2449) | [@lloeki](https://github.com/lloeki) | 2016-03-16 |

[2016-03-16 18:31] vcazan commented on #2439
I tried without the https and got the same error

[2016-03-16 18:52] lfbrock commented on #2439
Hi @vcazan,

I think what he meant was adding the team name to the end of your URL, it would need to be https://team.arblabs.com/teamname.

The app currently doesn't connect to the root page, it needs the URL for the team page.

[2016-03-16 18:53] lfbrock commented on #2449
Thanks @lloeki, we have a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-2324

[2016-03-16 18:53] #2449 closed

[2016-03-16 19:08] vcazan commented on #2439
Thanks I have tried that http://team.arblabs.com/main and it still
![capture](https://cloud.githubusercontent.com/assets/324461/13825440/f9c3823c-eb88-11e5-87f9-b0d3e0420c07.PNG)
 giving me the same error

[2016-03-16 20:28] titanous commented on #402
Feature idea opened: https://mattermost.uservoice.com/forums/306457-general/suggestions/12455799-support-high-availability

[2016-03-16 20:48] gtirloni opened #2452 "Improve Web Accessibility"
While suggesting the use of Mattermost as a replacement for Slack/IRC, it was mentioned to me that it would pose a problem for our target audience due to some accessibility issues. Right now, Slack isn't very great in that area either.

I'm opening this issue so the [WCAG 2.0](https://en.wikipedia.org/wiki/Web_Content_Accessibility_Guidelines) guidelines may be considered in the future.

[2016-03-16 22:57] garagatyi opened #2454 "Question: Does mattermost have Github issues/PRs integration?"
Does mattermost have Github issues/PRs integration?
I haven't found such information.

[2016-03-17 02:14] jw3 opened #2455 "API - Ping or Health Check"
I was looking for a simple health check, like a `/ping` or `/health`, but the best I ended up with is pointing to the root path.

Is there a suggested method in the API to use for health checks?  If not, what are the thoughts on requirements for this?  Perhaps it could be something as simple as returning a 200 while not requiring a token.

[2016-03-17 05:15] K-Leon commented on #2221
Hallo Zusammen,
Gibt es eine Möglichkeit den aktuellen Stand aus poodle zu exportieren, damit ich einen eigenen Server aufsetzen kann mit dem Stand der Dinge? ( Möglichst inklusive der Vorschläge - die Meisten sind ja korrekt soweit ich das sehen konnte und die Problemfälle bemerkt man auf der UI eh am schnellsten )

[2016-03-17 05:22] danielfaust opened #2457 "One-line Docker install fails"
The suggested one-liner `docker run --name mattermost-dev -d --publish 8065:80 mattermost/platform` exits after starting.

[code]

[2016-03-17 07:39] forelabs commented on #2454
I don't think so, but it is not that hard to write your own because of the Incoming Webhooks.
I've written a small Github webhook handler for opening, closing and merging pull requests in php.
Message looks like this:
![image](https://cloud.githubusercontent.com/assets/3809644/13839450/6b4f47be-ec1b-11e5-9bad-1ae94e616c13.png)

The first blackened is the actor (creator of PR, active 'merging/closi

[2016-03-17 07:59] meilon commented on #2221
Klar: https://github.com/rodrigocorsi2/mattermosti18n

[2016-03-17 08:02] it33 commented on #2454
Please see: https://github.com/softdevteam/mattermost-github-integration

[2016-03-17 08:02] #2454 closed

[2016-03-17 08:29] chengweiv5 opened #2458 "What does "Failed to get security update information from Mattermost" mean?"
I just upgrade from mattermost 2.0.0 to 2.1.0 and the **Logs** from **System Console** says below error:

[code]

Is this error critical?

How can I get rid of this?

[2016-03-17 08:30] chengweiv5 commented on #2458
Hmm, I think from Mattermost means from the official Mattermost site? not this local mattermost, am I right? if so, I think this error is not quite critical.

[2016-03-17 08:49] lindy65 commented on #2450
Thanks @lloeki, results have been added to [Android repo](https://github.com/mattermost/android/blob/master/DEVICES.md)

[2016-03-17 08:49] #2450 closed

[2016-03-17 08:53] lindy65 commented on #2445
Thanks @C0rn3rphr34k, results added to [Android repo](https://github.com/mattermost/android/blob/master/DEVICES.md)

[2016-03-17 08:53] #2445 closed

[2016-03-17 12:22] K-Leon commented on #2221
Vielen Dank!

Wenn ich den export speichere übernimmt er allerdings nicht die Vorschläge, sondern nur bereits akzeptierte Übersetzungen. Gibt es eine Möglichkeit automatisiert an eine .po mit den vorgeschlagenen Übersetzungen zu kommen?

Soweit ich es sehen kann haben da einige bereits ganze Arbeit geleistet.

[2016-03-17 12:49] kt-ssp commented on #2446
No problem. Have added, just awaiting moderation. Once done, will post details here.

[2016-03-17 14:11] mattermod commented on #2439
Thanks @vcazan for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)?

Per above link, please include repro steps to make it easier to solve your issue. Also, please link back to your new post from this issue?

[2016-03-17 14:12] lfbrock commented on #2439
Hmm not sure what is going on then, would you be able to move this over to the troubleshooting forum (see instructions above) and see if anyone else has had similar issues?

[2016-03-17 14:22] mattermod commented on #2452
Thanks @gtirloni, appreciate your feedback,

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to thi

[2016-03-17 14:48] lfbrock commented on #2455
Hi @jw3, maybe including server version and server timestamp as a json document that's returned?

Would you be interested in working on this if I made an accepting pull request ticket?

[2016-03-17 14:51] lfbrock commented on #2439
Does your Mattermost server have a self signed certificate? If so, I think that's why it won't connect - we have a ticket here to look into the issue (ticket is for iOS, but it's a problem for Android as well): https://mattermost.atlassian.net/browse/PLT-2169

[2016-03-17 14:56] vcazan commented on #2439
@lfbrock Yes it does and it is valid

https://team.arblabs.com/main

[2016-03-17 15:10] esethna commented on #1185
@TwizzyDizzy thanks for testing the guide and posting your feedback! Would you be interested in submitting a PR to the [guide on the docs repo](https://github.com/mattermost/docs/blob/master/source/install/prod-debian.md) to address the issues you've mentioned?

[2016-03-17 15:16] RuniVN opened #2460 "Using mattermost backend architect for Go Restful API"
Hi,
I decide to use mattermost for our next project backend. Is this affordable when there are a lot of concurrent users? Because I read code and see that the communication with database is quite complex. It uses channel, for example:
[code]
I am wondering when something wrong with channel and it can not return the value, may be deadlock.
I appreciate all advices or corrections for my question, it

[2016-03-17 15:20] jw3 commented on #2455
That sounds good to me @lfbrock.

I would be interested in doing the work, and have been spending lots of time in your API lately so it should be doable even for a Go novice.

As for the location of the implementation [within the api](https://github.com/mattermost/platform/tree/master/api), I thought about that some and didn't see an obvious placement.  What is your preference; a new file added fo

[2016-03-17 16:33] meilon commented on #2221
Dafür musst du angemeldet sein und die beiden po Dateien über das Webinterface von Hand runterladen

[2016-03-17 16:56] crspeller commented on #2457
Should be fixed now pushed fix to dockerhub.

[2016-03-17 16:56] #2457 closed

[2016-03-17 16:57] crspeller commented on #2443
Should be fixed now. Thanks!

[2016-03-17 16:57] #2443 closed

[2016-03-17 17:08] kramer65 opened #2464 "Open source for white labeling under commercial use possible?"
In your rather confusing [LICENSE.txt](https://github.com/mattermost/platform/blob/master/LICENSE.txt) I read that the compiled versions are licensed under the MIT-license, but the source code is subject to the following:

1. Under the Free Software Foundation’s GNU AGPL v.3.0, **subject to the exceptions outlined in this policy**; or
2. Under a commercial license available from Mattermost, Inc. b

[2016-03-17 17:30] danielfaust commented on #2457
Yes, that works nicely. Thanks!

[2016-03-17 18:11] lfbrock commented on #2439
Alright sorry I'm not sure then, can you copy this over to https://forum.mattermost.org/ to see if anyone else has hit this issue?

[2016-03-17 18:15] lfbrock commented on #2455
Great! Made an [accepting pull requests ticket](https://mattermost.atlassian.net/browse/PLT-2377) for you,

I think /api/v1/ping would be a good place.

[2016-03-17 18:15] #2455 closed

[2016-03-17 18:16] lfbrock commented on #2458
Hi @chengweiv5,

Yes, it means that your Mattermost server cannot check to see if there was any security updates from the official Mattermost.  It's not critical and is safe to ignore.

[2016-03-17 19:13] ScottMansfield commented on #1185
I tried using the init.d version and it failed to do anything. I used the systemd unit but the docs show directories inconsistent with the rest of the guide. I'm pretty much in the same boat as @TwizzyDizzy with the init script.

I'd recommend figuring out a single-box guide and a multi-box guide if a user is going that route. Starting "getting started" instructions with procuring three separate V

[2016-03-17 20:56] it33 commented on #2464
Removing Mattermost branding to sell the software under a different name is not recommended because it would put users at risk if Mattermost issues a security update and those users are unaware of the need to install it.

The Mattermost core team does not want encourage any efforts like this that could could put users at risk.

[2016-03-17 20:56] #2464 closed

[2016-03-17 21:03] it33 commented on #2460
Hi @RuniVN, thanks for your question, please help move this to [Developer Discussion](https://forum.mattermost.org/c/dev) forum?

[2016-03-17 21:03] #2460 closed

[2016-03-17 21:12] #2458 closed

[2016-03-17 21:13] #2452 closed

[2016-03-17 23:34] TwizzyDizzy commented on #1185
@esethna yeah, sure! From tomorrow I'm on vacation for a week but I guess there is no hurry. Maybe a mattermost DEV could, until then, elaborate on the DB privileges that are needed so I can integrate that :)

@ScottMansfield I guess running a single instance is the usual use case of mattermost. I think the installation guides should stay as they are and a new chapter could be added to cover a loa

[2016-03-17 23:43] TwizzyDizzy opened #2466 "[Help wanted]: guide for running a load-balanced mattermost setup"
Hi folks,

I wanted to evaluate on how one would go about scaling mattermost horizontally - that is: adding more frontends or more database backends.

In general I guess one would like to test how much influx a normal mattermost instance is roughly able to handle to establish a rough estimate of "If you're planning to go for 1000 / 10000 / 100000 users you may think about load-balancing mattermost

[2016-03-18 00:32] it33 commented on #2466
Mattermost [is not intended to serve as a proprietary SaaS offering](http://www.mattermost.org/why-we-made-mattermost-an-open-source-slack-alternative/) and the complexity of horizontal scaling for team communication does not meet [FOF criteria](http://docs.mattermost.com/developer/fx-guidelines.html?highlight=obvious#design-principles). That said, [a single server should still support thousands o

[2016-03-18 00:32] #2466 closed

[2016-03-18 07:53] kramer65 opened #2467 "How open source is MatterMost?"
Yesterday [I asked a question](https://github.com/mattermost/platform/issues/2464) about the licensing to which a rather strange answer came.

My question was the following: In your [LICENSE.txt](https://github.com/mattermost/platform/blob/master/LICENSE.txt) I read that the source code is subject to the following:

 1. Under the Free Software Foundation’s GNU AGPL v.3.0, subject to the exceptions

[2016-03-18 07:55] kramer65 commented on #2464
This is not an answer to my question. I'm not asking what you encourage. I'm asking what your license legally permits. Since you closed this issue, I opened a [new issue here](https://github.com/mattermost/platform/issues/2467).

[2016-03-18 10:55] Vaelek opened #2468 "There appears to be a problem with your internet connection."
After activating the email settings and the preview mode notice goes away, both the native app and the web interface instantly show "There appears to be a problem with your internet connection." upon loading, and it comes back after a minute when dismissing. In my log, I have an "invalid session token" error.

[2016-03-18 10:59] chenxizhang commented on #2443
it's work, thanks

[2016-03-18 12:23] Vaelek opened #2469 "404 on incoming webhooks"
I created a webhook, and when testing it I receive a 404 error. If I test it with a GET I receive a 200 response.

[2016-03-18 14:22] jwilander commented on #2363
Hi @rudineirk, I understand your issue and I agree that it's something that we need to address. I've created a Jira ticket [here](https://mattermost.atlassian.net/browse/PLT-2393) to track and discuss this issue with core team.

[2016-03-18 14:28] jwilander commented on #2469
Hi @Vaelek, are you working off of `master` branch or are you running off one of our official releases (if so, please specify)?

[2016-03-18 14:40] mattermod commented on #2468
Thanks @Vaelek, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-18 14:44] Vaelek commented on #2469
@jwilander I used the one-line Docker install on Ubuntu Trusty

[2016-03-18 16:10] it33 commented on #2467
Hi @kramer65,

Sorry, I didn't mean to be dismissive of your question, I was just following our [documented procedure](http://docs.mattermost.com/process/community-systems.html#github-issues-workflow).

You've clearly spent a significant amount of time looking at Mattermost and in asking your question, and it is 100% inappropriate to make you feel dismissed. I apologize. If you want to speak direc

[2016-03-18 16:10] #2467 closed

[2016-03-18 16:53] wolf-dog commented on #2444
Hi, I'll be glad to help.

[2016-03-18 17:01] kramer65 commented on #2467
I must say that from the thread you linked to, it is still very unclear to me what your policy is on white labeling (just like it is unclear to the guy named Tom in that specific thread). You seem to have an obscure list of exceptions for which you need to know every single case. On every public place you list that "Mattermost is an **open source**, self-hosted Slack-alternative. " and in various

[2016-03-18 17:53] shantanuthatte opened #2477 "Unable to login using GitLab SSO on Android app"
**Summary:** Unable to sign-in using GitLab SSO using Android app

**Steps to reproduce:**
 1. Account has been setup to login using GitLab SSO using the Android app.
 1. GitLab integration has been enabled using System Console.
 1. Clicking on login with GitLab button nothing happens.

**Expected Behavior:** Should show the GitLab sign-in page.

**Observed Behavior:** Nothing happens. There is pr

[2016-03-18 18:27] Moridinmhael opened #2478 "database error on from install"
as soon as I try creating/login for the first time on webpage, get 503, database logs displays this:

18/03/2016 13:48:51ERROR:  relation "systems" does not exist at character 19
18/03/2016 13:48:51STATEMENT:  SELECT Value FROM Systems WHERE Name='Version'
18/03/2016 13:48:54ERROR:  column "type" does not exist at character 40
18/03/2016 13:48:54STATEMENT:  UPDATE Preferences SET Type = $1 WHERE T

[2016-03-18 20:24] gtirloni commented on #2452
Link to feature idea forum: https://mattermost.uservoice.com/forums/306457-general/suggestions/13036146-improve-web-accessibility

[2016-03-18 23:10] vise890 opened #2479 "broken link for docker install"
# Summary:
the docker install link on the homepage is  broken

# Steps to reproduce:
- go to [mattermost.org](http://mattermost.org)
- click on  `one-line Docker install` towards the end of the text

# Expected behavior:
I get to a rendered version of `https://github.com/mattermost/docs/blob/master/source/install/docker-local-machine.md`
# Observed behavior:
got a good old 404

**PS**: didn't real

[2016-03-19 03:18] it33 commented on #2477
Hi @shantanuthatte, the Android app requires Mattermost server 2.1 and higher. Mattermost 2.1 releases with GitLab 8.6 on the 22nd. If you go to your team site on your deployment and select "About Mattermost" my guess is you're on a version other than 2.1?

[2016-03-19 03:20] it33 commented on #2479
Thanks @vise890! Fixed!

[2016-03-19 03:20] #2479 closed

[2016-03-19 10:56] RustamGimadiev commented on #2478
Same problem with postgres 9.5, mattermost release 2.1.0.

[2016-03-19 14:24] shantanuthatte commented on #2477
Hi @it33, we have our own independent instance running v2.1. Here are the details:
[code]
And the android app:
[code]

[2016-03-19 21:16] mattermod commented on #2469
Thanks @Vaelek for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)?

Per above link, please include repro steps to make it easier to solve your issue. Also, please link back to your new post from this issue?

[2016-03-20 09:15] williamwu0220 opened #2485 "runtime error after upgrade to mattermost 2.1"
After upgrading to mattermost 2.1, I noticed errors as follows:

[code]

I've tried to turn off all the notification settings, but the errors still be there.

environment:
Mattermost: 2.1 pre-compiled binary
OS: Debian Jessie x64

[2016-03-20 12:14] jcrick69 opened #2486 "Help please re AWS settup"
Hi

I installed an instance on AWS, dashboard says it is running and gives me an ip address etc.

I presume I need to assign a domain to the ip address?

I can ping the domain and get the right IP address but no response- ping response could be disabled of course.

But when I go to the domain in my browser I cannot get any response at all... I tried adding port 8065 to the end of the domain, no jo

[2016-03-20 12:38] turcapat commented on #2420
Hi, I would like to help you. Which files exactly needs to be translated ?

[2016-03-20 13:28] williamwu0220 commented on #2485
Relevent config settings are as follows (sentitive parts are masked):

[code]

[2016-03-20 14:33] mattermod commented on #2486
Thanks @jcrick69 for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)?

Per above link, please include **complete steps to reproduce your issue** so another community member can follow the steps and see what you see.

Also, please link back t

[2016-03-20 14:46] #2486 closed

[2016-03-20 15:43] it33 commented on #2477
Hi @shantanuthatte,

We're not able to reproduce your issue.

Can you confirm GitLab SSO is working via the web interface?

Also, wondering if anyone else from the community is seeing this?

[2016-03-20 18:01] pjgrizel commented on #2021
Hi, I'm willing to help on the french translation.

[2016-03-20 20:07] enahum commented on #2469
actually @jwilander I think @Vaelek means that `/hooks/{id:[A-Za-z0-9]+}` route no longer exists as it was removed from `web.go` with the change to `react-router` and actually I think it wasn't added anywhere.

It was actually there before the commit d7cdcf082fab6c0cb7c2fe4bed821bd1a8000e69 as you can see here https://github.com/mattermost/platform/blob/70eee522978333174c9e51b0f7505413a9a2b66c/web

[2016-03-20 20:11] enahum commented on #2447
@Niklane you can start using this http://186.202.167.109/ko/mattermost/ to start translating to Korean.

Keep in mind that theres a really big chance that this server is going to change to another location soon but don't let that prevent you from moving forward in the meantime :)

[2016-03-20 20:14] enahum commented on #2420
Please feel free to speak Czech, [you can see other threads speaking non-English as well](https://github.com/mattermost/platform/issues/2221)

[Translation guide here](http://docs.mattermost.com/developer/localization.html). Please also [join the localization channel](https://pre-release.mattermost.com/core/channels/localization), as there are new tools being developed to make translation easier.

[2016-03-20 20:16] enahum commented on #2295
Please feel free to speak Chinese, [you can see other threads speaking non-English as well](https://github.com/mattermost/platform/issues/2221)

[Translation guide here](http://docs.mattermost.com/developer/localization.html). Please also [join the localization channel](https://pre-release.mattermost.com/core/channels/localization), as there are new tools being developed to make translation easier

[2016-03-20 20:47] jkuchar commented on #2420
Tak tedy, budeme tykat nebo vykat?

[2016-03-21 00:06] williamwu0220 commented on #2295
Thanks @enahum. We are working on this at zh_TW branch of https://github.com/fosstp/platform, I'll also join the channes you mentioned above. :)

[2016-03-21 04:50] DanielHeath opened #2488 "[web interface] Typing should always go to the chatbar"
It's really easy to click away from the chatbar in the web interface. After that, any typing just goes nowhere.

E.g. slack keeps your cursor in the chat bar to avoid this - if I'm typing I mean it to go to the room I'm in.

[2016-03-21 05:05] diegoluisrojas commented on #2247
Same for cn-north-1. Is there any update about this one?

[2016-03-21 05:42] shantanuthatte commented on #2477
Hi @it33,

Yes, the GitLab SSO works on the browser (Chrome 49 On Windows 7). I am using OnePlus One running Android 5.1.1

I found the issue to be with SSL and passing intermediary certificate in my GitLab configuration. After adding it to the certificate to the chain, it started working. Strange that I never had such problems on my desktop.

Nevertheless, any error or toast regarding this would

[2016-03-21 05:43] dannydulai opened #2489 "let me paste as much code into input field as I want"
convert the pasted text into a text file if you need, with a preview or something, but don't stop me from pasting!

[2016-03-21 05:47] it33 commented on #2477
Thanks @shantanuthatte, glad it's fixed!

[2016-03-21 05:47] #2477 closed

[2016-03-21 06:10] mattermod commented on #2489
Thanks @dannydulai, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to t

[2016-03-21 08:02] lindy65 commented on #2468
Thanks @Vaelek, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2399

[2016-03-21 11:47] destronije opened #2490 "Lato font unicode support"
Hello, first of all, thank you for great platform.

My team noticed that some fonts(haven't tested them all) other than default, like "Lato" don't seem to support unicode characters.
We noticed this long time ago, but thought we were not the first to notice, so never reported untill now. :)

[2016-03-21 13:38] lfbrock commented on #2468
Closing this issue, will be tracked in Jira.

[2016-03-21 13:38] #2468 closed

[2016-03-21 13:43] hmhealey commented on #2490
Hi @destronije. Can you give us some examples of characters that don't work, possibly with screenshots?

[2016-03-21 13:44] lfbrock commented on #2488
Hi @DanielHeath, that makes a lot of sense - if I make an accepting pull requests ticket for this, is it something you would be interested in working on?

[2016-03-21 13:46] lfbrock commented on #2363
Closing this issue, will track it in Jira

[2016-03-21 13:46] #2363 closed

[2016-03-21 14:00] crspeller commented on #2469
This: https://github.com/mattermost/platform/pull/2492 Should do it.

[2016-03-21 14:00] #2469 closed

[2016-03-21 14:37] destronije commented on #2490
Hi @hmhealey, thank you for fast response.

Here is the screenshot & written characters below in their respective order from screenshot.
![lato - unicode](https://cloud.githubusercontent.com/assets/1836461/13921819/1559db3c-ef7a-11e5-8af6-2b887583ec5e.png)

ČĆŽŠĐčćžšđ
ЧЋЖШЂЉЊЏчћжшђљњџ

Lato font was used in this example.

[2016-03-21 14:46] patoupatou commented on #2021
I think the current course of action is to work on @tbolon's fork and submit PR's on his branch until we consider it to be releasable? If you want to help @pjgrizel you can start by reviewing what has been done so far in the fr.json file. It's pretty big though and I'm sure we could use more reviewers on this one.

[2016-03-21 14:51] tbolon commented on #2021
Yes, the main task for now is to help translate web/static/i18n/en.json : https://github.com/tbolon/platform/issues/3

You should fork my repository, then submit a PR against branch translation-fr (it will be automatically suggested by GitHub).

When this issue is closed, we will just have to handle all changes until now, then submit a PR against the main project.

[2016-03-21 14:52] pjgrizel commented on #2021
Thanks for your replies!
So from what I undestand, you guys do not use Mattermost' Pootle server?
French buddies, can we get in touch in https://pre-release.mattermost.com/core ? I've created a French Translation channel so we can talk about it. Thanks a lot!

[2016-03-21 15:19] hmhealey commented on #2490
Thanks for the screenshots. I've created a [ticket in Jira](https://mattermost.atlassian.net/browse/PLT-2403) to track this issue.

[2016-03-21 15:19] #2490 closed

[2016-03-21 15:26] tbolon commented on #2021
It seems that a [dedicated tool](http://186.202.167.109/fr/) has been deployed to group all translation efforts. Every newcomer should use this tool instead of my fork to contribute on the translation.

I am waiting for an official contributor from mattermost which could confirm this

[2016-03-21 15:32] it33 commented on #2021
@tbolon that's correct, please join the [localization channel](https://pre-release.mattermost.com/core/channels/localization) to interact with the rest of the localization community and ask questions.

I apologize, this link was in the documentation I initially sent, but I should have emphasized it. Also, we should probably update the documentation to include the new translation server...

[2016-03-21 15:47] tbolon commented on #2021
As suggested by @pjgrizel, people who wants to help or ask a question should join the [French Translation Room](https://pre-release.mattermost.com/core/channels/french-translation#).

[2016-03-21 16:07] williamwu0220 commented on #2485
Sorry, forgot to mention: we were from version 2.0 to 2.1. After upgrading to 2.1, UI often displayed "502 error", and mattermost server crashed.

[2016-03-21 17:20] lfbrock commented on #2478
Hi @Moridinmhael, can you move this to the troubleshooting forums and include what version of postgres you're on? Seems like it might be a db version issue.

[2016-03-21 17:29] mattermod commented on #2485
Thanks @williamwu0220 for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce you

[2016-03-21 17:43] lfbrock commented on #2478
Actually we may have found the issue, PR here: https://github.com/mattermost/platform/pull/2496

[2016-03-21 18:26] Moridinmhael commented on #2478
Currently using postgres:9.3 - originally triedd using postgres:9.4 has same issue.
Downgraded to 9.3 for pgAdmin use so could try troubleshoot more.

[2016-03-21 21:16] Ticki commented on #1928
This happens again, after updating to 2.1.0.

[2016-03-21 21:22] enahum commented on #1928
I think the problem here is in the `SocketStore initialize method` cause it return is `UserStore.getCurrentId()` is not set which in fact is the case, maybe running `initialize` on UserStore change is emitted on RECEIVE_ME?

[2016-03-21 22:45] DanielHeath commented on #2488
Potentially - I'm just scoping out Mattermost at the moment. Would definitely be happy to fix if I were actively using it.

[2016-03-21 23:22] msmithbbc opened #2501 "Team statistics runs invalid query"
**Summary:** Team statistics page runs invalid query

**Steps to reproduce:**
- Browse to statistics page for a team (eg https://mattermost-server/admin_console/team_analytics/eoejh3t8tb8tmj7mm71ubm8dry?session_token_index=0)

**Expected behavior:**
 - The counts for "Total Users", "Public Channels" etc. should be shown.

**Observed behavior:**
 - The counts for "Total Users", "Public Channels" et

[2016-03-22 03:34] leandrosferreira commented on #1994
Hello @renannprado and @rodrigocorsi2 , are you working on that?

[2016-03-22 06:11] npcode opened #2502 "android app: Sometimes I couldn't enter specific private group."
Sometimes I couldn't enter a specific, very active, private group in my mattermost deployment. When I touched the name of the group to enter it, the background color of the name turned to sky-blue but then nothing happened.

I could enter the group after restarting the android app.

[2016-03-22 06:26] npcode opened #2503 "android app: Recovering from disconnection is quite slow."
When android app is disconnected form the mattermost server, it displays a dialog to ask me to refresh or logout. When I touched "refresh", the app showed me just white blank screen for a while.

After about 30 seconds finally the app recovered the screen successfully. I think 30 seconds is too long to wait without any indicator (progress bar or loading animiation).

My android is Nexus 5 / Androi

[2016-03-22 08:07] williamwu0220 commented on #2485
So, this is not a product defect? Looks like I misunderstood? Since we upgraded from clean 2.0 env to 2.1... I'll try it again, thanks.

[2016-03-22 08:32] hydrandt opened #2504 "Android app crash at login: Xiaomi Mi3TD, Cyanogenmod 13"
Hi there,

The Android app always crashes for me, the behavior is the same in both releases (1.14, 2.1). I can enter the team url, then username and password, then it loads for a while and crashes with bare "Unfortunately, Mattermost has stopped" (with my local server: no content is shown before the crash; with the pre-release.mattermost.com/core: it shows some content shortly (~3s, but maybe this

[2016-03-22 08:54] OFmarting opened #2505 "'About Mattermost' not showed on mobile website"
Don't know if it is a bug or a feature idea.
The 'About Mattermost' option is not displayed on the mobile website. So there is no way to check the version. I'm using Mattermost V2.1.0.

[2016-03-22 09:22] rodrigocorsi2 commented on #1994
Oi @leandrosferreira, a tradução está completa você já pode usar na versão 2.1, mas é sempre bom alguém para ajudar na revisão e em novas frases. Estamos com um servidor temporário de tradução em http://186.202.167.109/projects/
Também existe um [canal para tradução](https://pre-release.mattermost.com/core/channels/localization)

[2016-03-22 11:50] krishnakumarcitrus opened #2506 "Blank password error is displayed when login API is called using curl"
Here is my curl command for trying login API:

C:\Users\uesrName>curl -i -d '{"password":"pass123","name":"kakes-a
rmy","email":"myemailId@gmail.com"}' http://myHostedMattermost.com/api/v1/users/login

{"id":"api.user.login.blank_pwd.app_error","message":"Password field must not be
 blank","detailed_error":"","request_id":"xxxr1yhogtr5cdcr3hmd5rxxxxx","status_co
de":403,"is_oauth":false}

But the

[2016-03-22 12:35] loafoe commented on #89
Another adapter is available which uses the Mattermost API directly. It also sets up a websocket connection for real-time events triggers (join/leave channel):

https://github.com/loafoe/hubot-matteruser

Amongst other things it also allows your Hubot to join private channels and you can send it DMs.
Setting it up is IMHO also simpler since it does not use webhooks.

(author here, so apology for t

[2016-03-22 14:09] lfbrock commented on #2504
Hi @hydrandt, are you able to connect to pre-release.mattermost.com/core and your local server from your mobile web browser instead of the app? (Trying to determine if it's an issue with the app itself or something else).

[2016-03-22 14:46] lfbrock commented on #2488
Fair enough, I made a ticket to track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-2413

Thanks for the report!

[2016-03-22 14:46] #2488 closed

[2016-03-22 14:46] hydrandt commented on #2504
Yes, sure I am. Also a colleague with a HTC phone with Android 6 is able to use the app to access both the prerelase server and our server.

[2016-03-22 14:57] #2435 closed

[2016-03-22 16:14] msmithbbc commented on #2501
Enabling SQL tracing gives me this in the logs:

`sql-trace:16:11:27.818157 SELECT COUNT(DISTINCT Email) FROM Users WHERE TeamId = ? [1:"eoejh3t8tb8tmj7mm71ubm8dry"] (41.738905366s)`

[2016-03-22 16:16] it33 commented on #2504
Hi @hydrandt, are your colleagues who are connecting successfully using a similar setup without Google Play Services, or do they have Google Play Services?

[2016-03-22 16:21] lfbrock commented on #2502
Hi @npcode, how active was the channel you were trying to access? Do you think that was related to why it wouldn't open?

Haven't been able to reproduce this, if anyone else from the community sees similar issues please let us know here so we can narrow down the issue.

[2016-03-22 16:46] lfbrock commented on #2503
Hi @npcode, I think a loading indicator should be showing up - I made a [ticket](https://mattermost.atlassian.net/browse/PLT-2415) to go look into it.

As for the loading time, this should improve somewhat after react router changes go in (in v2.2).

[2016-03-22 16:49] lfbrock commented on #2505
Thanks @OFmarting, that's a bug - made a [ticket](https://mattermost.atlassian.net/browse/PLT-2416) to track the issue.

If anyone would like to work on fixing this, would welcome pull requests for it.

[2016-03-22 16:49] #2505 closed

[2016-03-22 16:57] williamwu0220 commented on #2485
Solved, thanks.

[2016-03-22 16:57] #2485 closed

[2016-03-22 18:47] #2439 closed

[2016-03-22 18:48] #2489 closed

[2016-03-22 22:46] leandrosferreira commented on #1994
Opa @rodrigocorsi2 vou verificar ambos e ver no que consigo ajudar ;)

[2016-03-23 00:56] npcode commented on #2503
@lfbrock

Yes, I saw it. But it was disappeared in just a few seconds.

[2016-03-23 01:00] npcode commented on #2502
@lfbrock 7 members and 100 posts a day. I don't think this causes performance problem but at that time the other channels were all fine.

Sure, I will do it.

[2016-03-23 09:16] artkrz opened #2510 ""/me foo" is not different than using *foo*"
/me command makes no sense at all since v2.1.0 as it's basically same as sending your message using _italic_.

This command should output something similiar to what HipChat does:

![image](https://cloud.githubusercontent.com/assets/209375/13980663/c23c6bea-f0d7-11e5-8b03-b1a5f1a900d0.png)

[2016-03-23 11:35] ajpaulson opened #2511 "Incoming Webhook "no text specified" v2.1.0"
I've just set up a 2.1.0 mattermost server and I'm testing incoming webhooks from Atlassian Bitbucket - currently it hits a 500 error with "No text specified"

Is this an error with the Mattermost parsing the payload or is the Bitbucket json payload out of scope for the main project (thereby needing a custom integration)?

[2016-03-23 13:38] chihoko commented on #2056
We're testing mattermost and have experienced the same issue on dozens of iphone 6s running ios 9.3 using either safari or ios app. Running latest docker image (v2.1.0). Immediately after entering the team url and clicking the next button see a blank screen with no controls. In the servers logs (anonymised) we see:

[code]

[2016-03-23 13:51] haseebr commented on #2506
have you tried using the -F option instead of -d ?

[2016-03-23 14:16] lfbrock commented on #2510
Hi @artkrz, thanks for bringing that up!

My understanding is that /me should be formatted like it is a system message. Our system message (for example, the messages triggered when joining a channel) used to be formatted with italics, but we recently updated them and didn't update the formatting for /me.

I've created a [ticket](https://mattermost.atlassian.net/browse/PLT-2436) to track this issue

[2016-03-23 14:16] #2510 closed

[2016-03-23 14:17] lfbrock commented on #2503
Alright thanks, we'll look into it

[2016-03-23 15:07] Yzord opened #2513 "Mattermost in Docker = blank page in Safari"
I have running Mattermost with Docker and everything is working fine in Firefox, but Safari gives me a blank page.

http://89.248.166.90

Anyone an idea?

[2016-03-23 15:21] lfbrock commented on #2513
Hi @Yzord, if you're running off of master I think this was caused by this bug: https://mattermost.atlassian.net/browse/PLT-2378

Looks like a fix went in for it recently.

[2016-03-23 15:25] Yzord commented on #2513
This issue can't be viewed

The issue you're trying to view can't be displayed.
It may have been deleted or you don't have permission to view it right now

[2016-03-23 16:33] lfbrock commented on #2056
@chihoko, did you install using docker latest or docker dev? There were some larger changes that went in and master is a little unstable right now, I think the issue you're hitting will be fixed in the next release.

[2016-03-23 16:34] lfbrock commented on #2513
Hi @Yzord, sorry fixed the permissions on that image. I think you're on a daily build - the v2.1.0 release should have a build date of Mar 14.

Master is a little unstable right now, we added some larger changes and are currently fixing a few bugs that were introduced.

[2016-03-23 16:35] chihoko commented on #2056
@lfbrock docker latest - The next release being 16th April?

[2016-03-23 16:36] lfbrock commented on #2056
Yes, it will be fixed on master before then but April 16 will be the next stable release.

[2016-03-23 16:45] ylluminate opened #2514 "Hipchat Import"
Has anyone worked to implement Hipchat importation yet to facilitate a move from Hipchat to Mattermost with all history, users, etc?

[2016-03-23 20:05] joernhees opened #2521 "email notification only after short delay"
We use mattermost in our research group and email notifications are a great feature to help adoption (which is one of the reasons why we opted for mattermost).

That said, the email notifications can also become very very annoying. In the current state, they seem to be sent for each and every notification instantaneously, even if i react to a native client, an app or the browser tab within a few s

[2016-03-24 04:47] alanmoo opened #2524 "Problem with package.json?"
Edited to add template

Summary: NPM is encountering invalid peer dependencies
Steps to reproduce: Run NPM install from path that `package.json` is located
Expected behavior: Everything should install smoothly
Observed behavior: See code below
Possible fixes: Figure out a version of webpack and other dependencies that work in harmony in `package.json`. (I realize this is likely due in part to webp

[2016-03-24 10:30] octoroid commented on #2524
+1

[2016-03-24 12:22] jwilander commented on #2501
Hi @msmithbbc,

What version of Mattermost are you running? Also are you running as production or as developer?

I've tried to reproduce your issue on our `master` branch but it seems to be working there

[2016-03-24 12:25] jwilander commented on #2511
Hi @ajpaulson,

Is there a feature in Atlassian Bitbucket to send events formatted either in the Mattermost or Slack format (since we are Slack-compatible)?

If not, then there needs to be some sort of intermediate application that will translate the outgoing webhooks from Atlassian Bitbucket into the format of Mattermost incoming webhooks which is described [here](http://docs.mattermost.com/devel

[2016-03-24 13:19] Yzord commented on #2513
This is what i have in my yml file

  image: mattermost/platform
  ports:
    - 80:80
  restart: always

[2016-03-24 14:40] Endemoniada opened #2527 "Notifications/sounds are sent even if window is in focus"
Even when I'm actively writing in a private chat window, every reply I get is treated as a notification with accompanying sound alerts. If I switch away and back to the window, the next reply I receive gets a "New Messages" line marker as if I'm not actively watching the window.

It seems to me the focus-check is broken, and doesn't track which window I'm actively viewing. Instead it treats everyt

[2016-03-24 15:43] msmithbbc commented on #2501
We're using the 2.1.0 release as production.

[2016-03-24 16:54] CoolGoose commented on #1156
Same with gitlab 8.6 and mattermost 2.1 :)

[2016-03-24 17:28] tomxtobin commented on #2056
I just ran into this issue on a QtWebKit browser ([qutebrowser](https://github.com/The-Compiler/qutebrowser)) on Linux, trying to access a local Mattermost instance; I tried both the `mattermost/platform:latest` and `mattermost/platform:dev` images from Docker Hub. I get the same `Intl` error in my console.

I'm not sure I'm entirely following the above conversation; is the fix already supposed to

[2016-03-24 18:00] lfbrock commented on #2521
Hi @joernhees, I think that makes a lot of sense + we should open a ticket on it. If I make it accepting pull requests, would you be interested in working on it?

[2016-03-24 18:00] mattermod commented on #2521
Thanks @joernhees, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-24 18:05] lfbrock commented on #2514
Hi @ylluminate, no one has worked on HipChat import yet. Is that something you would be interested in working on?

If you'd like to discuss it as a feature idea, you can upvote it and add comments here: https://mattermost.uservoice.com/forums/306457-general/suggestions/8936269-add-import-from-hipchat

[2016-03-24 18:13] lfbrock commented on #2056
Hi @tomxtobin, we don't support that browser but the intl fix for Safari should be on mattermost/platform:dev now. Maybe try updating again and see if that fixes your issue.

[2016-03-24 18:32] tomxtobin commented on #2056
It looks like a `safariFix` string (the function name) should be present in the bundled JS (based on what I'm guessing is the fix in the repo), but it isn't present in the bundled JS on the `dev` image at the moment. Docker Hub says `dev` was last updated five hours ago, but the relevant file was just updated two hours ago. (I don't know how long Docker Hub takes to build new images after a push,

[2016-03-25 03:04] alanmoo commented on #2524
I'm sensing this is because `package.json` pulls in `"webpack": "webpack/webpack#master"`. @crspeller, maybe you can shed some light on this? It seems to be blocking my rebase to #2320.

[2016-03-25 06:23] ryoon commented on #2444
I am creating ja.json files now.

[2016-03-25 13:31] it33 commented on #2444
Thanks @ryoon! When you have time, I'd like to invite you to join the [Localization channel.](https://pre-release.mattermost.com/core/channels/localization)

In that channel you can:

1. Hear about the latest information on the localization process.
2. See how other languages have been added
3. Ask questions about the process

Thank you so much for your help!

[2016-03-25 14:57] joernhees commented on #2521
@lfbrock i fear my go-foo isn't good enough to actually make those changes myself :( ... it seems to be somewhere around [/api/post.go#L580](https://github.com/mattermost/platform/blob/bd225dca738400495a8ef8fea0fc81fd11d225c7/api/post.go#L580).

In other languages, i'd decouple the email sending with a queue per user and a single possible timed (async) email sending callback per user. If triggered

[2016-03-25 16:36] uidzero opened #2540 "iOS/Android apps not working with Docker test package"
I wanted to trial Mattermost so I ran the mattermost-dev image given in the docs. I tried to sign on to it with the mobile apps but I'm getting a blank screen as soon as I enter the URL. I also confirmed that I wasn't the only one with this issue.

[2016-03-25 16:58] uidzero opened #2541 "Feature request: channel moderators and DM/public muting"
I feel that the chat experience is great in a professional setting, in the sense that people are going to take more pains to be respectful of each other. However, this doesn't translate to a social setting where tongues can be a little looser and tempers can be a little quicker. This happens to be exactly the use case I have in mind for Mattermost -- I would like to invite a few of my friends (no

[2016-03-25 17:00] uidzero opened #2542 "Feature request: Ability to remove users"
Currently there seems to be no way to remove users as a System or Team admin. This could be a problem in a social chat setting as I referenced in the previous issue, but it could also be a problem for a business use case in the case of an employee leaving.

[2016-03-26 08:09] sappho192 commented on #2447
Count me in, please. I'm Korean and have experience with translation based on .po file.

[2016-03-26 08:15] ryoon commented on #2444
How to join the localization channel?

[2016-03-26 08:26] enahum commented on #2444
Hi @ryoon click [here](https://pre-release.mattermost.com/core/channels/localization) to join the channel

[2016-03-26 08:54] ryoon commented on #2444
Hi, @enahum
Thank you.
I have clicked 'Creste one now' link and gotten 'Loading...' like infinite loop.
Something goes wrong for me.
I have tested with latest MS Internet Explorer, MS Edge, Mozilla Firefox and Google Chrome.

[2016-03-26 10:43] sebzur commented on #2444
I've got similar problem.Your link (https://pre-release.mattermost.com/core/channels/localization) renders an empty page (only footer is visible).

When I switched to `https://pre-release.mattermost.com/core/login` and selected 'Create one now' to sign up (which redirects to `https://pre-release.mattermost.com/signup_user_complete/?id=`) there's
HTTP500 with `https://pre-release.mattermost.com/api

[2016-03-26 16:26] enahum commented on #2444
Hey guys I've submitted a PR to fix the create account issue, lets wait until its reviewed and merged.

Thanks for bringing this up.

[2016-03-26 16:32] enahum commented on #2542
There is a way to make a user inactive and you can delete the user from the CLI.

[2016-03-26 16:38] enahum commented on #2540
There was a bug which got fixed this morning and is already on `master` branch

[2016-03-26 16:42] enahum commented on #2524
I'm not having that problem.

This is my setup:
* Mac OSX El Capitan
* Node 5.9.0
* npm 3.7.3

[2016-03-27 00:24] ryoon commented on #2524
Hi, @enahum
Thanks for your reply.

I have the problem too,
My setup is node 5.9.1 and npm 3.7.3 under Debian GNU/Linux 8.
Could you please share the output of 'npm list'?

[2016-03-27 00:29] alanmoo commented on #2524
I need to do more investigation on this myself- I think I got around it at one point, or at least got the branch to (mostly) build, but I still saw at some warnings in the console regarding dependencies. In any case, I feel like pointing at the master branch of a dependency in `package.json` is a decidedly risky move.

[2016-03-27 01:07] enahum commented on #2524
Hi @ryoon
This is what I get when I run `npm install` from scratch

[code]

[2016-03-27 02:06] ryoon commented on #2524
Hi,
I have install node 5.9.1 cleanly and gotten almost same result with 'npm install'.
However I cannot build Mattermost.

[code]

[2016-03-27 16:45] enahum commented on #2524
hmm weird, can u try with node 5.9.0 ?

[2016-03-27 22:16] ryoon commented on #2524
Nothing has changed with node 5.9.0.
I will try to use fresh Debian GNU/Linux 8 VM.

[2016-03-28 08:10] lindy65 commented on #2521
Thanks for the report @joernhees, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2451

[2016-03-28 08:10] #2521 closed

[2016-03-28 11:14] yuppity opened #2549 "Feature request: Extend customization options to include message bg"
Mattermost highlights user's own messages with a gray background (the color changes depending on fg color) and these highlights are visually very prominent in the center channel. I personally find them a distraction, aesthetically (*clears throat*) displeasing, and a general disruption to the flow of the center channel. This is to say that, as a visual element, they're important yet the user has n

[2016-03-28 12:33] crspeller commented on #2524
Unfortunately there is a bug in the webpack release that prevents us from using it. It's fixed in their master branch so we are using that for now.  The peer dependencies can be ignored as they are not an issue.

Can everyone who is having this problem do a `make nuke` then a `make run` to see if that fixes the issue? If not, please post the full output of the `make run` command.

[2016-03-28 12:35] uidzero commented on #2540
Thanks -- marking this closed.

[2016-03-28 12:35] #2540 closed

[2016-03-28 13:16] #2542 closed

[2016-03-28 13:22] mattermod commented on #2541
Thanks @uidzero, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-03-28 13:28] lfbrock commented on #2541
Hi @uidzero, can I get your help adding these to the feature request forum as per above instructions?

I think the suggestion for [read/write permissions for channels](https://mattermost.uservoice.com/forums/306457-general/suggestions/12874797-add-read-write-permissions-for-channels)  is similar to your idea about only allowing certain users to speak, so it would be great if you could add any rela

[2016-03-28 13:28] #2541 closed

[2016-03-28 13:28] #2514 closed

[2016-03-28 13:30] lfbrock commented on #2513
Hi @Yzord, this issue should be fixed on master, you should be able to see the fix if you use mattermost/platform:dev.

[2016-03-28 13:30] #2513 closed

[2016-03-28 13:30] mattermod commented on #2549
Thanks @yuppity, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-03-28 13:48] yuppity commented on #2549
Thanks!

https://mattermost.uservoice.com/forums/306457-general/suggestions/13178862-extend-customization-options-to-include-message-bg

[2016-03-28 13:53] lfbrock commented on #2549
Thank you!

[2016-03-28 13:53] #2549 closed

[2016-03-28 17:50] lfbrock commented on #2527
Hi @Endemoniada, does this ticket cover your issue? https://mattermost.atlassian.net/browse/PLT-2361

Agreed, it makes sense to only show desktop notifications if the channel isn't currently open.

[2016-03-28 17:53] Endemoniada commented on #2527
Yeah, that seems to be exactly what I want.

Funny, I never noticed it behaving like that before, so I just figured it was a bug in the latest release. Seems like an obvious feature, to me, that alerts and notifications shouldn't be sent if the user is actively using the application already.

But yeah, feel free to close this if you want.

[2016-03-28 20:24] ryoon commented on #2524
Hi,

On freshly installed Debian GNU/Linux 8, 'make run' finished successfully.
Thank you very much.

[2016-03-29 08:46] kt-ssp opened #2554 "Show the user name/profile picture on Account Settings/Integrations"
We are posting messages from several different applications to the same group and each is coming via a different user (one per application). With a user logo set, it is quick to identify which application it comes from and also doesn't look like I am posting every message. However, when viewing Account Settings/Integrations, all that can be seen when viewing the existing incoming webhooks is a lis

[2016-03-29 08:48] ajpaulson commented on #2511
I've had a look through all the Bitbucket options and there doesn't seem to be a mattermost or slack format option for services or webhooks - it seems that it will have to be an intermediate parser.

The format of the webhooks is valid JSON.

[2016-03-29 08:51] ajpaulson commented on #2511
As an additional: Slack parses the data without any 3rd party parser.

Could there be a possibility for Bitbucket support in some future Mattermost release?
Bitbucket is (after Github) a primary code hosting solution used by many businesses.

[2016-03-29 09:01] msmithbbc commented on #2501
After some research, it turns out that this was actually a problem with MariaDB, and has previously been with MySQL.  Upgrading from 10.1.12 to 10.1.13 has resolved the problem for me and hopefully it won't reappear.

See http://www.chriscalender.com/tag/select-countdistinct/ for reference of this occurring previously in MySQL.

[2016-03-29 09:01] #2501 closed

[2016-03-29 09:14] msmithbbc commented on #2501
Fault was fixed under https://jira.mariadb.org/browse/MDEV-9667

[2016-03-29 09:49] johandalabacka opened #2555 "Clock display settings from Account Settings are not used in Search"
I have selected 24 hour clock Account Settings > Display > Clock and still is time in search shown in 12 hour clock format.

Mattermost 2.10

![Search result](https://cloud.githubusercontent.com/assets/9607173/14104207/2a6322f6-f5a4-11e5-8863-cd81c4474e1d.png)
![Clock setting](https://cloud.githubusercontent.com/assets/9607173/14104208/2a630c6c-f5a4-11e5-9efd-3b8220d91b59.png)

[2016-03-29 12:05] zeroware commented on #2056
Hello,

I have the same problem.
I tried using `mattermost/platform:dev` image and even building the image myself.

[2016-03-29 12:17] ryoon commented on #2444
Hi,
Now I can join to localization channel.
Thank you.

[2016-03-29 13:11] robertselberg opened #2557 "Login with gitlab does not work if there is a space after the e-mail address"
In the Mattermost mobile app: "Login with gitlab" does not work if there is a space after the e-mail address.

You must trim() the e-mail address before validating the login credentials.

[2016-03-29 14:03] mattermod commented on #2555
Thanks @johandalabacka, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-29 14:03] mattermod commented on #2557
Thanks @robertselberg, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-29 14:08] #2527 closed

[2016-03-29 14:09] matm opened #2559 "formatting: code block produces no content (Firefox/Linux)"
Since version 2.1.0 (updated by GitLab omnibus 8.6), using code blocks produces no content at all:

![emptycodeblock](https://cloud.githubusercontent.com/assets/417327/14110798/512b8cc4-f5c8-11e5-8364-c2136f48bc9f.png)

Was perfectly working on 2.0.

[2016-03-29 14:12] matm commented on #2559
It's working fine on Chrome 49.0.2623.87 (Linux 64-bit). The bug occurs in Firefox 45.0 (Linux)

[2016-03-29 14:19] lfbrock commented on #2559
Hi @matm,

It seems to be working for me on Firefox 45 on OS X:

<img width="966" alt="screenshot 2016-03-29 10 15 45" src="https://cloud.githubusercontent.com/assets/9354841/14111088/53444b94-f597-11e5-8ec2-3afedaca635b.png">

 Firefox 45.0 on Linux isn't a [supported browser](http://docs.mattermost.com/install/requirements.html#client-software) at this point in time, but if you or someone else i

[2016-03-29 14:27] matm commented on #2559
Thanks for your quick reply @lfbrock.

This has always been working on Firefox/Linux with all previous Mattermost versions and is really annoying. It's very surprising to hear that Firefox on Linux is not a supported browser!

This is most probably a regression bug (`git blame`?). Users running Mattermost with GitLab can't downgrade easily and we have to wait for a full month between two release u

[2016-03-29 14:45] matm commented on #2559
FYI,

- same issue in Firefox 45.0.1 for Android (not in the supported browsers list)
- working OK in Mattermost native Android application

[2016-03-29 15:59] gkhays opened #2563 "Email address is now case-sensitive"
Previously, email addresses were silently lower-cased on input. Now they are case-sensitive, which can lead to a confusing login experience.

![image](https://cloud.githubusercontent.com/assets/773981/14114636/44c916fc-f59d-11e5-932d-f74ed063c4ec.png)

Chrome version: Version 49.0.2623.108 m

![image](https://cloud.githubusercontent.com/assets/773981/14115341/34272e9e-f5a0-11e5-8fd9-f52af65ef2ed.p

[2016-03-29 16:51] lfbrock commented on #2554
Hi @kt-ssp, we're working on moving integrations to a separate page right now to give them more room and make them easier to view.

We also plan on adding fields for a title and description, and who created the webhook to make them easier to tell apart. I don't think we can show the icon/username if it's overridden by an incoming webhook since that's done on the other end and not set inside Matter

[2016-03-29 17:01] lfbrock commented on #2559
I made an accepting pull requests ticket here if someone would like to do a quick fix for it: https://mattermost.atlassian.net/browse/PLT-2466

We aren't able to support all browsers at this point in time because of the testing requirements that entails, but if we see specific browsers are popular we may add support for them later. In the meantime, community members are welcome to make contributio

[2016-03-29 17:11] matm commented on #2559
No problem, I perfectly understand. Thanks for opening an "accepting pull request". However, why do you close this issue since it's still waiting for a community patch? I believe it might get more attention (and get a contribution!) if it remains open, don't you think?

[2016-03-29 17:20] lfbrock commented on #2559
That's a good point - right now we just close all GitHub issues after they have Jira tickets but maybe we should change the process for accepting pull requests tickets.

We have a link on this page that links to a Jira query with the accepting pull request tickets: http://docs.mattermost.com/process/accepting-pull-request.html

The process could probably use some improvements to make things more o

[2016-03-29 17:29] matm commented on #2559
Well, yes, I would definitely suggest to leave those issues open to give developers a clear overview of what's going on with current issues. Adding such a label would be nice too.

I can't believe this bug is not affecting hundreds of users. Will have a look at it if you reopen the issue :)

[2016-03-29 17:32] lfbrock commented on #2559
Haha alright, reopened and will take a look at our process for this to see if we can make some improvements.

[2016-03-29 17:34] matm commented on #2559
Very appreciated. Thanks @lfbrock.

[2016-03-29 18:02] crspeller commented on #2524
Seems like this is resolved. Closing. Reopen if anyone still has problems.

[2016-03-29 18:02] #2524 closed

[2016-03-29 18:30] lfbrock commented on #2563
Hi @gkhays,

We aren't able to reproduce this on v2.1 or on master - logging in with an email in all caps, with a mixture of lowercase and capital letters, or using all lowercase letters all worked successfully.

Can you confirm that the email address actually matched an account on the site, and that you're not having any other log in issues?

[2016-03-29 19:00] hoshposh commented on #2563
Hi @lfbrock,

The email address is definitely stored as indicated. In our tests the user's email is registered with lowercase, but attempting to use any other case results in the error that @gkhays mentioned earlier.

In our installation we are using postgres, and I wonder if the following database search is operating in a case-sensitive manner:

[code]

Cheers!

[2016-03-29 19:03] lfbrock commented on #2563
Ah that makes sense, it could be related to Postgres database - will look into this. Thanks!

[2016-03-30 05:01] LordPov opened #2571 "Channel 'View Info' modal gives invalid Channel URL"
To reproduce:
1. Go to a channel
2. Click on channel name at top of channel page for menu dropdown
3. Choose 'View Info'
4. The 'Channel URL' displayed is invalid

The given URL has the form: https://myhost/myteam/mychannel
When it should be like: https://myhost/myteam/**channels**/mychannel

[2016-03-30 06:48] lindy65 commented on #2557
Thanks @robertselberg, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2471

[2016-03-30 06:51] kt-ssp commented on #2554
What you mention sounds fine. The icon/username was for the person creating the webhook (in my case, incoming ones), which, from my limited time using Mattermost, has been the icon ultimately shown next to the posted message.

I look forward to the seeing and using the change.

[2016-03-30 06:51] #2554 closed

[2016-03-30 06:53] lindy65 commented on #2555
Thanks @johandalabacka, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2472

[2016-03-30 06:53] #2555 closed

[2016-03-30 06:55] it33 opened #2572 "[Help Wanted] Italian translation"
If anyone is interested in working on this language please reply here?

Please feel free to speak in this language, [you can see other threads speaking non-English as well](https://github.com/mattermost/platform/issues/2221)

[Translation guide here](http://docs.mattermost.com/developer/localization.html). Please also join the [localization channel](https://pre-release.mattermost.com/core/channels

[2016-03-30 07:35] hydrandt commented on #2504
I had two friends who use Xiaomi with the original Chinese firmware try it out.

* Xiaomi 4c: After login, townsquare never loaded (I will have him try it one more time thou, maybe just his connection)
* Hongmi Note 3: Works fine.

I will read about how to get logs and dumps via adb and will try to provide these. Never debugged anything on Android before.

[2016-03-30 18:55] nickpelton opened #2583 "2.1.0-stable build broken"
Since 2.1.0 is the latest stable we're running that and we wanted to make some minor template updates. Turns out the 2.1.0 tag has a dependency called mattermost/mm-intl which no longer exists.

Can someone restore that repo so the current stable version is build-able?

[2016-03-30 19:37] mattermod commented on #2571
Thanks @LordPov, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-30 19:46] tbolon commented on #2021
Just to mention that the initial PR #2536 has been merged. So it seems this issue could be closed when the next version will be released.

[2016-03-30 20:39] nickpelton commented on #2583
Temp fix is to use a copied version I found:

https://github.com/ZBoxApp/mm-intl

Update the package.json on line 12 to:
`"mm-intl": "ZBoxApp/mm-intl#6e30252474bd5f7e891addc79be7a853ef145bd9"`

[2016-03-30 21:39] latrani commented on #2563
I just ran into the same issue as above with a user; registered as First.Last@example.com, user list shows name as first.last@example.com, when they tried to log in using the original capitalization, they got the above error.

I'm using the AMI provided at http://www.mattermost.org/installation/ manually upgraded to 2.1

[2016-03-30 23:29] BlueAnanas commented on #2571
We should be aware of the fact, that the URL is shortened by ellipsis anyway if it doesn't fit in one line.

I see something like `https://ma...u/metateam01/komunikation-technik` as Channel URL and no `<a>` tag at all.

[2016-03-31 08:14] lindy65 commented on #2571
Thanks @LordPov @BlueAnanas

Ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2485

[2016-03-31 08:14] #2571 closed

[2016-03-31 09:39] sylvainbaronnet opened #2586 "Too many, too early Email Notification"
Hi,

We receive too many, too early email notification.

For example 5 emails for 5 messages (lines) from the same person in the timelapse of 30 seconds is really annoying and not necessary. They should be grouped with a timelapse option.

Also, we receive notification for message that happend like a few minutes ago while Mattermost is opened but in background, sound notification and desktop notif

[2016-03-31 11:35] NickeZ commented on #2056
We also have this problem..

[code]

[2016-03-31 13:50] lfbrock commented on #2586
For the second issue you brought up, we have a ticket [here](https://mattermost.atlassian.net/browse/PLT-2451) to not send email notifications until 1 minute after the notification was triggered. It might make more sense to make this configurable, or to only send email notifications if the user is offline (currently they are sent if you are away and if you are online).

For the first issue, do you

[2016-03-31 14:04] mattermod commented on #2563
Thanks @gkhays, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-03-31 14:10] lfbrock commented on #2056
Hi @zeroware and @NickeZ,

There was a temporary issue on master (introduced after v2.1) that caused this not to work, it looks like you're on a daily build instead of the official v2.1 release (build date should be Mar 14).  This issue should be fixed on master now.

[2016-03-31 14:11] #2478 closed

[2016-03-31 14:40] tomxtobin opened #2591 ""dev" tag is missing from Docker Hub"
The `dev` tag [mentioned in the Mattermost documentation][docs] seems to be missing from Docker Hub. Attempts to pull it fail:

[code]

Docker Hub [only shows `2.0`, `2.1`, and `latest` at the moment][dk-tags], although [the "builds" tab at Docker Hub shows it in the history][dk-builds].

[dk-builds]: https://hub.docker.com/r/mattermost/platform/builds/
[dk-tags]: https://hub.docker.com/r/mattermo

[2016-03-31 15:12] espro opened #2596 "Quote characters come through to certain users encoded"
We have an unusual issue where sometimes a person cannot view quote characters properly, they only come through to their client -- web, or desktop -- as encoded sequences (e.g., "\&\#39;"), sometimes out of order in the stream as well.

I've found that asking the user to change their full name will suddenly fix the problem for them.

Here is a screenshot of the conversation working properly: http:

[2016-03-31 16:30] toogy commented on #1523
Hi :smile:

What's up with that one?

[2016-04-01 06:39] nisarcitrus opened #2605 "Mattermost development version install problem."
I am tried to install Matter most Development version on Ubuntu 14.04 by referring this URL:
 http://docs.mattermost.com/developer/developer-setup.html  While running make test command we are getting this error:

 === RUN TestRegenOutgoingHookToken
 [2016/04/01 11:39:51 IST] [DEBG] /api/v1/teams/create
 [2016/04/01 11:39:51 IST] [DEBG] /api/v1/users/create
 [2016/04/01 11:39:51 IST] [DEBG] /api/v1

[2016-04-01 07:57] lindy65 commented on #2563
Thanks @gkhays, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2499

[2016-04-01 07:57] #2563 closed

[2016-04-01 09:55] zhangguangtong opened #2606 "2.1 docker image can not login another team in the same session"
Recently I have tried upgrade mattermost containter from version 2.0 to 2.1. The upgrade was success without any error message.

But after upgrade, we found we can only login to one team. If I try login another team by append team name to the mattermost server address, it will redirect me to the team that I have login after serval second.

Then I try start a clean container. After it finished init

[2016-04-01 11:03] Endemoniada opened #2607 "[Bug] Cannot remove "retry" failed comments"
If I send a comment in a channel that fails, for example due to network issues, I get a "retry" link. However, if the comments are later obsolete, I cannot remove them without doing "retry" and sending those comments to the channel anyway. If I don't send them, they persist in the channel indefinitely, at the bottom of the feed.

Please either move failed comments to in-line with the chat history,

[2016-04-01 13:37] rteusner commented on #643
That would also help us also a lot.

[2016-04-01 13:52] sylvainbaronnet commented on #2586
thanks, I opened a suggestion : https://mattermost.uservoice.com/forums/306457-general/suggestions/13274793-group-email-notification-sent-within-a-certain-tim

[2016-04-01 14:43] lfbrock commented on #2607
Hi @Endemoniada, thanks for the report - we have a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-1042.

It's accepting pull requests if someone would like to contribute a fix for this.

[2016-04-01 14:47] mattermod commented on #2605
Thanks @nisarcitrus for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your

[2016-04-01 14:48] lfbrock commented on #2586
Thanks!

[2016-04-01 14:48] #2586 closed

[2016-04-01 15:36] agolden opened #2613 "Android app: Unable to "Switch to...""
If I have used GitLab login for multiple teams from the mattermost web client, I correctly see an option to "Switch to [other team name]" in the main menu.  I see no way of accomplishing the same thing from the android client; you must log out of one team and then log back in on the other team.  Not sure if this is a bug or a feature request.

Edit: It appears that the 'GitLab login' is a red herr

[2016-04-01 16:24] hasuo opened #2617 "wrong email for auth creates unclaimable account"
So,

currently checking out mattermost. First user that signed up managed to misspell his email. Users... *sigh*
I have email verification turned on.
The user was immediately created, but now is not claimable nor deleteable (can only switch inactive).
Later the gmail bounce notification came.

Options would be a way to delete (before auth), the ability to delete users or the ability to change the

[2016-04-01 16:34] lfbrock commented on #2583
Thanks @nickpelton, the repo should be added back now

[2016-04-01 16:34] #2583 closed

[2016-04-01 17:11] henningkessler commented on #2513
Hello,
I just did a test with the latest docker image (mattermost/platform:latest) and had the same experience...
what am I doing wrong

[2016-04-01 19:18] lfbrock commented on #1523
@toogy, someone from the community had started working on it but didn't end up submitting it, if someone else would like to work on it the ticket is here https://mattermost.atlassian.net/browse/PLT-1316

[2016-04-02 06:59] terukizm commented on #2444
Hi, I would like to join this project.

@ryoon

私もお手伝いできれば嬉しいです。
(I hope I can help with your translation.)

[2016-04-02 19:56] ryoon commented on #2444
@terukizm Could you help me on Mattermost Pootle? The link is provided in localization channel.

[2016-04-02 21:39] dvenske commented on #2468
I know this was closed, but I can't comment on the JIRA ticket. What solved this for me @Vaelek was to logout and reset password via email. I think the reason this happens is that setting up email also sets up new salts for security tokens.

[2016-04-03 03:53] enahum commented on #2617
you can delete the user using the CLI

[2016-04-03 14:48] yukihane opened #2622 "GIN index does not work when searching posted messages on PostgreSQL"
I guess that  when searching posted messages, [idx_posts_message_txt](https://github.com/mattermost/platform/blob/v2.1.0/store/sql_store.go#L444) index would be used.

However, because of [search query without 2-argument version to_tsvector](https://github.com/mattermost/platform/blob/v2.1.0/store/sql_post_store.go#L731), it does not work.

[PostgreSQL docs](http://www.postgresql.org/docs/9.5/stat

[2016-04-04 07:58] Lixivial opened #2623 "autoCorrect is explicitly marked as Off"
When using the mobile app or any software keyboard, the usability is reduced due to the fact that the React TextBox component explicitly marks autoCorrect as Off.

Can this be made be set to 'On' in the TextBox component, or, at the very least, become a system-wide setting to re-enable?

[2016-04-04 11:54] Kemyke commented on #2469
I also tried to update our Mattermost 2.0 server to 2.1 and found the same issue. We use the official image from docker hub. First i noticed that the old hooks not working. Then i tried to create a new one,
it gave me the old format: mmserver.com\hooks\<hookid>

If i tried to GET this address or the new one (/api/v1/hooks), both was working: 200 status
If i tried to POST both addresses replied wit

[2016-04-04 13:26] lfbrock commented on #2596
Hi @espro, thanks for the report, this will be fixed in v2.2.

As a temporary fix, you can try switching the language and then switching back to see if that fixes the issue.

[2016-04-04 13:28] #2506 closed

[2016-04-04 15:38] Bellis-JLR commented on #2613
I don't see it either, that would be a very helpful feature add.

[2016-04-04 17:23] lfbrock commented on #2617
Hi @hasuo,

We plan to add the ability for the System Administrator to update email addresses - I created a ticket here to track the issue https://mattermost.atlassian.net/browse/PLT-2523.

[2016-04-04 17:25] lfbrock commented on #2623
Thanks @Lixivial, we have a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-98

I can make it accepting pull requests if someone is interested in submitting a fix for this?

[2016-04-04 17:40] #2617 closed

[2016-04-04 17:40] #2607 closed

[2016-04-04 17:46] #2596 closed

[2016-04-04 17:47] lfbrock commented on #2606
Hi @zhangguangtong, can you post the information about what build you're on from the Main Menu > About Mattermost dialog?

[2016-04-04 17:50] renannprado commented on #1994
@rodrigocorsi2, @leandrosferreira and @it33 I'm sorry but I currently don't have the time help translating. Maybe I'll help to validate the translation later on.

[2016-04-04 18:19] jwilander commented on #2511
If there's enough community support for it then it's likely that we'd add in-product Bitbucket integration into Mattermost sometime in the future. If you'd like to get the ball rolling on that then feel free to submit a feature request by following the process [here](https://www.mattermost.org/feature-requests/).

In the meantime, if you're code-savvy, you could write an intermediate application t

[2016-04-04 20:29] lfbrock commented on #2591
Hi @tomxtobin,

We removed the dev tag last week, sorry for the lack of notice - there's a post in forum with the reasoning if you'd like to discuss: https://forum.mattermost.org/t/fyi-no-longer-using-dev-tag-for-docker-images/1214

[2016-04-04 20:33] jamespthomas opened #2632 "Changing username in webinterface causes certain text to be incorrectly rendered"
Using the web-ui, if you change your username after registration, certain characters within messages fails to render correctly

1) Signup and login
2) Say something in a channel (e.g "test string "one" 'two' > three <")
3) Text should render correctly
4) Change your username
5) Text instantly becomes "test string \&quot;one\&quot; \&#39;two\&#39; \&gt; three \&lt;"
6) Any further text, from anyone

[2016-04-04 20:50] hmhealey commented on #2632
Hi @jamespthomas. What version of Mattermost are you using? This bug will be fixed in 2.2, but I want to make sure you're not still having it occur on the latest release.

[2016-04-04 20:51] jamespthomas commented on #2632
Hi @hmhealey

Thanks for the quick response, we're using

Version:
2.1.0
Build Number:
2.1.0

So I'll try upgrading to 2.2!

[2016-04-04 21:01] hmhealey commented on #2632
2.2 won't be out for another few weeks unfortunately, but in the meantime, you can have the affected users go into their notification settings (Account Settings > Notifications), click to edit their Words That Trigger Mentions, and then click save. There's some weirdness with the mention handling that's mangling those characters.

Thanks for the repro steps though! I added a quick fix for it which

[2016-04-04 21:01] #2632 closed

[2016-04-05 01:12] zhangguangtong commented on #2606
@lfbrock, thank you for your reply. Here is 2.1 mattermost build info:

Mattermost Team Edition T0

Version:2.1.0
Build Number:6562
Build Date:Thu Mar 17 16:17:34 UTC 2016
Build Hash:2cd006474ec8a808b2ea2b0502a842f44cb0b127

Please let me know if you need more info. Thank you.

[2016-04-05 16:46] it33 commented on #2622
Thanks @yukihane,

There seem to be multiple steps required to better support Japanese language search in Postgres:

1. Document, test and confirm the properly manual settings for better support Japanese searching Postgres. This probably means deleting the English index and rebuilding one that works better for Japanese.

2. In future, create an install option to run automation that applies those m

[2016-04-05 16:59] lfbrock commented on #2613
Hi @agolden, we made a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-2528

This will need to wait until after the [user model change](https://forum.mattermost.org/t/unifying-user-accounts-across-teams-for-mattermost-2-3/1126/12) goes in (likely v2.3). Switching teams wasn't in the app previously because there were some issues getting push notifications to work properl

[2016-04-05 17:03] ilTofa commented on #1185
I just installed it on a fresh Debian 8 (a linode1GB VPS). I used the guide changing things for a signle machine installation (that should be the default, I agree with other people).

The application works if started by hand. The init.d don't work.

Activating a systemd unit like in @ScottMansfield sample fails at startup. Nothing in mattermost.log in both cases (the application fails before initi

[2016-04-05 17:09] ilTofa commented on #1185
Just a further note... starting the application with nohup crashes it, it could be related to the systemd start problem. It happens both as root or as a user in the mattermost group.

The application starts with nohup *only* if started from /opt/mattermost/bin with ./platform (this should probably be a different bug), make me know if you want me to open another issue (and thank you).

[code]

[2016-04-05 19:48] djchen opened #2646 "Is idle and offline timeout configurable?"
I noticed that for notifications, it requires the user to be offline for 60 seconds or away for 5 minutes. Is this something thats configurable?

[2016-04-05 21:21] tomxtobin commented on #2591
Ah, okay. I can't say I understand the reasoning (isn't `latest` understood to be the convention for the latest stable image?), but oh well. Maybe the online docs can get updated to reflect this?

[2016-04-05 21:26] lfbrock commented on #2591
Yes thanks we should update the docs, @esethna can you take care of that?

[2016-04-05 21:30] lfbrock commented on #2646
Hi @djchen, it's not configurable at the moment - what would you want to change it to?

This might be a good thing to [open a feature request on](http://www.mattermost.org/feature-requests/).

[2016-04-06 16:07] yukihane commented on #2159
FYI: How to enable Japanese sentences search on PotgreSQL
(Unfortunately, almost all references are written only in Japanese...)

My environment: CentOS7.2, GitLab Mattermost v2.1.0

---

### Install necessary packages:
    sudo yum install git gcc-c++

### Intall [Mecab and Mecab IPA-dictionary](http://taku910.github.io/mecab/):

    mkdir ~/tmp
    cd ~/tmp
    git clone https://github.com/taku9

[2016-04-06 16:40] alanmoo opened #2652 "/msg command doesn't work for first message to a user"
Following up on #2320  I added in some logging to debug and I think there's a race condition when creating a new direct message and then trying to join it. You can see in the first block below that
`makeDirectChannelVisible(c.Session.TeamId, targetChannelId)` gets called with the right data, but it's failing, presumably because the database hasn't finished creating the channel. In the second block

[2016-04-06 17:32] it33 commented on #2159
Thanks @yukihane!

Highly appreciated, we've included a link to your post from the documentation for the Japanese community.

Would you be interested in contributing to the correction and translation of our guidance for Japanese language speakers?

Here is a page that has used machine translation from English to Japanese: https://github.com/mattermost/docs/blob/master/source/install/i18n.rst

With

[2016-04-06 18:44] #2605 closed

[2016-04-06 18:45] #2613 closed

[2016-04-06 19:38] danoctavian opened #2653 "fresh install of mattermost doesn't pass tests"
I clone the repo.
I run make which sets up the docker container.
It seems to be an issue with defining a dockerhost. How do i solve this problem? Thanks.
[code]

[2016-04-06 20:42] danoctavian commented on #2653
do

echo $DOCKER_HOST

take the resulting ip (eg. 192.168.99.100)

and paste it at the end of your /etc/hosts as such:

192.168.99.100 dockerhost

this step should be contained in the make file. there is a setup for osx step but it olny pastes "dockerhost" at the end of the /etc/hosts file so it doesn't work.

[2016-04-06 21:30] igmar opened #2654 "Google App authenticator not (fully) implemented"
Hi,

The 2.1 version gives me a GoogleSettings option. When used, the final step seems to fail :

/signup/google/complete:LoginByOAuth code=500 rid=XXXXX uid= ip=92.109.33.90 google oauth not avlailable on this server [details: ]

The most relevant config data :

"Scope": "profile email",
"AuthEndpoint": "https://accounts.google.com/o/oauth2/v2/auth",
"TokenEndpoint": "https://accounts.google.com/

[2016-04-07 15:01] it33 commented on #2654
Hi @igmar, thanks for your question. Google App authenticator is a feature for Enterprise Edition and not supported in the open source Team Edition, so the current design is deliberate. The commercial version is designed to downgrade and upgrade smoothly with the open source edition to avoid data lock in. To provide that benefit, it means portions of the commercial code are contributed to the open

[2016-04-07 15:01] #2654 closed

[2016-04-07 15:05] crspeller commented on #2653
The process for setting up a development machine is documented here: http://docs.mattermost.com/developer/developer-setup.html

[2016-04-07 15:05] #2653 closed

[2016-04-07 15:09] igmar commented on #2654
Since you can't buy the commercial version, it's a bad thing that these essential features are locked out, especially since the open source version has issue that are hard to fix (Mattermost -> Gitlab -> Google apps).

[2016-04-07 15:13] Beastie71 opened #2658 "Domain Name Restriction Issue"
Hello,

It appears that though the documentation says you can put in a comma, separated list of domain names, only the first domain is allowed in the list.  We attempted to add in additional domains and were not able to get them to work.  To verify that it was not case sensitive we tried both how the use had tried putting it in as well a straight lower case:

libertymutual.com, Liberty-IT.co.uk, l

[2016-04-07 15:49] mrcaron opened #2659 "404 error from incoming web hook, v2.1.0"
I'm running the mattermost-dev docker image on a Docker engine hosted by RedHat Enterprise Linux 7.0 Hyper-V VM, forwarding port 8065 to 80 on my VM. I can connect and post messages and interact with the system. As you can see, here's the build information:

![image](https://cloud.githubusercontent.com/assets/72183/14357173/479d8d2e-fcad-11e5-8e53-6727f7aa0b1e.png)

I've setup Incoming WebHooks an

[2016-04-07 18:00] simonwex commented on #2623
@Lixivial @lfbrock do you have any thoughts on the scope for the change? We've noticed the same issue when using a software keyboard, would there be any harm in removing the attribute altogether? It makes it a much easier PR.

[2016-04-07 18:05] #2511 closed

[2016-04-07 18:06] lfbrock commented on #2591
PR to docs here for reference: https://github.com/mattermost/docs/pull/93

[2016-04-07 18:06] #2591 closed

[2016-04-07 18:09] lfbrock commented on #2606
Thanks @zhangguangtong - I think this was an issue with the build you were on, the official v2.1 build has a date of Mar 14. After the v2.1 release, we added some large changes to master that introduced some bugs, and people with the build 6562 from Mar 17 had some of those bugs in the build.

[2016-04-07 18:11] lfbrock commented on #2623
Hi @simonwex, I think it would be fine to remove the attribute.

[2016-04-07 18:27] Lixivial commented on #2623
@simonwex @lfbrock Yeah, in our case, we simply flipped it to Off with no discernible effects. I, too, was concerned about the scope of the change, because I was uncertain of the intent. That's why I avoided doing a PR.

[2016-04-07 19:05] andreoav commented on #2659
:+1:

[2016-04-07 20:23] hmhealey commented on #2652
I just tried it out and it looks like everything is created in the right order on the server. I think the problem is that the channel exists, but the client doesn't have it when it tries to switch. I think we need a mechanism to get the client to recognize that it needs to get the channel before trying to switch to it.

Instead of having the command respond using the GotoLocation field, you could

[2016-04-07 20:26] alanmoo commented on #2652
When you say "the client doesn't have it" are you referencing the client side stores? I haven't dug into those too much, so I just want to make sure I have a clear understanding.

[2016-04-07 20:39] hmhealey commented on #2652
Yeah, that seems like the problem. The server isn't logging any of its own errors there, just the ones from the client.

[2016-04-07 21:51] danoctavian commented on #2653
cheers, did no end up on that page before.

[2016-04-08 05:51] #2646 closed

[2016-04-08 05:51] djchen commented on #2646
Thanks for the info. I would like to see it reduced to 30 seconds for offline and configurable for away.

[2016-04-08 07:25] zhangguangtong commented on #2606
@lfbrock, thank you for check this.

However, the mattermost docker images with tag 2.1 is the same as tag latest. We can not found the image build on Mar 14.
We need a stable build of v2.1, which need rebuild v2.1 image. Could you please rebuild the image or please provide the stable tar.gz file that allowed us build our own image.

Thank you very much.

[2016-04-08 08:30] zhangguangtong commented on #2659
I have tried run mattermost 2.1 docker image and got login issue.
https://github.com/mattermost/platform/issues/2606

There two build of mattermost 2.1, one is on Mar 14 and the other is Mar 17 (current images).
The docker images with tag 2.1 currently is problematic.

[2016-04-08 08:31] matthaias opened #2665 "Display uploaded images inline"
At the moment there is a small preview of an uploaded image. In my opinion it would be better, if the image is shown inline with the width from the chat or something like that. Maybe if the client is fullscreen it is not necessary to use the full width. Sometimes the image width is not higher then the chat width, so don't need to click the image. The behavior of the click on the image should be th

[2016-04-08 13:45] GuillaumeAmat commented on #2606
@lfbrock I think I have some related issues (I use the same build) but I can't figure how to build my own dev docker image.
I mean, the _dev_ tag is not available on the Docker hub anymore and the amazon link doesn't work in `docker/dev/Dockerfile`.

Can you tell me how to achieve that?

[2016-04-08 14:05] ajsb85 opened #2668 "Mattermost protocol implementation for libpurple (pidgin)"
Mattermost protocol implementation for libpurple (pidgin)

[2016-04-08 15:31] patriz commented on #2447
Want to join Korean translation team if still available. Have been implementing super simple plugin for slack with golang (https://github.com/patriz/slack-eve) And pushing commits to Github everyday (actually as often as possible)

[2016-04-08 15:46] clevertension opened #2670 "can't find the incoming web hooks"
i can't find the incoming web hooks in the latest trunk source code

[2016-04-08 16:40] jwilander commented on #2670
Hi @clevertension, they've been moved to here inside the API https://github.com/mattermost/platform/blob/master/api/webhook.go

[2016-04-08 16:40] #2670 closed

[2016-04-08 20:13] brunoqc opened #2671 "feature request: docker image without MySQL"
I think it would be better to not run MySQL with mattermost inside the same container since it would allow people like me to use their own already running MySQL server and it's pretty simple to run a second linked container.

I can work on this if you guys agree this should be done.

[2016-04-08 21:22] it33 commented on #2671
Hi @brunoqc, thanks for your offer to help! Would you be interested in joining the [Installers and Images channel](https://pre-release.mattermost.com/core/channels/installers) to discuss?

[2016-04-09 03:51] yukihane commented on #2622
Hi.
This issue is not dependent on Japanese language but on current SQL select query, as I have described above.
Index `idx_posts_message_txt` does not work also on English language searching.

I have wrote one of how to setup, in #2159.
And, I will discuss about treating Japanese language, with @terukizm and others on [the forum](https://forum.mattermost.org/c/international/japanese).

[2016-04-09 05:58] terukizm commented on #2622
Hi, @it33.

My English is very very poor. I know.
But please let me do the supplementary explanation of that.

## Problems:

###  `idx_posts_message_txt` does not work now

[Create-FULLTEXT-Index-Query](https://github.com/mattermost/platform/blob/v1.2.1/store/sql_store.go#L410) have `'english'` option.
But [Search-Query](https://github.com/mattermost/platform/blob/v1.2.1/store/sql_post_store.go#L6

[2016-04-09 07:52] hdbn commented on #2159
Just a note: It seems data/porgresql.conf is overwritten whenever gitlab-ctl reconfigure is run.

[2016-04-10 11:39] schemacs commented on #2033
Is there any way to do search CJK on PostgreSQL? Or any help on migration PostgreSQL database to MySQL?

[2016-04-10 18:06] alanmoo commented on #2652
@hmhealey Does this have something to do with the `fake channel` bits I see scattered about the code base? I'm running into a similar issue trying to add another feature...

[2016-04-10 23:45] garethgreenaway opened #2675 "Error using and Adding Slash Commands"
When attempting to use Slash commands in any Mattermost client I see the following error in the client:
"We couldn't get the commands",
In the mattermost logs I see the following:
[2016/04/10 02:39:30 UTC] [EROR] /api/v1/commands/list:SqlCommandStore.GetByTeam code=500 rid=rztt1f9muby88xqjhfcrf1wuye uid=355gbiuyxtng9bjyyjxum1cwjo ip=x.x.x.x We couldn't get the commands [details: teamId=nrj1egj3jjr

[2016-04-11 01:25] ubiko commented on #2444
Hey, I want my company to use this but they won't until there's a japanese version. I'm available for full translation.

[2016-04-11 02:21] jolks opened #2676 "Hardcoded town-square channel"
Across Go and React code, town-square channel is hardcoded. Maybe we can make it configuration-based so teams can easily change it and the platform can redirect correctly to `/channel/<new name>`.

However doing this, we also have to change the mobile app code e.g. [mattermost/android](https://github.com/mattermost/android/blob/master/app/src/main/java/com/mattermost/mattermost/MainActivity.java#L

[2016-04-11 03:10] yexingok commented on #2606
Not sure why 2.1 docker image was build from RC1 tar.gz: (And that download file is missing.)
https://github.com/mattermost/platform/blob/release-2.1/docker/2.1/Dockerfile#L37-40

I have a talk with @zhangguangtong, and we decide to quickly try the following step:

- Download the stable v2.1 source tag.gz from https://github.com/mattermost/platform/releases/download/v2.1.0/mattermost.tar.gz
- Modi

[2016-04-11 03:30] ryoon commented on #2444
@ubiko I had completed to translate all strings into Japanese on Mattermost Pootle yesterday.
However I have not tested it yet with Mattermost program.
If you find my mistakes, could you fix my mistakes on Pootle?

[2016-04-11 03:59] zhangguangtong commented on #2606
I successfully rebuild the docker image locally, start a clean containter and tried switch between teams. Switch between teams works again now.

Here is my build steps.

1. Clone mattermost code locally, switch to tag v2.1
[code]
2. Download mattermost release 2.1 tar.gz file to directory platform/docker/2.1/
[code]
3. Update docker file to use local tar.gz file.
[code]
4. Rebuild docker image.
`

[2016-04-11 05:50] MarkYSA opened #2677 "https://github.com/mattermost/platform/blob/8a65601db424d5969448b06ae4e3048a7f34bd94/web/react/utils/utils.jsx#L51"
https://github.com/mattermost/platform/blob/8a65601db424d5969448b06ae4e3048a7f34bd94/web/react/utils/utils.jsx#L51

maybe should be something like (^172\.1[6-9]\.)|(^172\.2[0-9]\.)|(^172\.3[0-1]\.) ?

[2016-04-11 06:18] GuillaumeAmat commented on #2606
@yexingok @zhangguangtong

When I test the steps from @zhangguangtong, the docker run/up tells me:
[code]

And the container stops...
Any clue?

Thanks!

[2016-04-11 06:32] GuillaumeAmat commented on #2606
It's all good! I figured it out :)
The Dockerfile line `ADD mattermost.tar.gz /` had to be `ADD mattermost.tar.gz /mattermost/`.

The new and shiny Mattermost 2.1 is up here, let's see if the issues are gone now.

[2016-04-11 09:43] GerDner commented on #1837
+1

[2016-04-11 12:18] ticki opened #2678 "Add `mars` to the list of API wrappers"
I wrote [mars](https://github.com/Ticki/mars) yesterday, as an API wrapper for mattermost in Rust.

[2016-04-11 13:28] hmhealey commented on #2652
No, I'm pretty certain the fake channel stuff doesn't affect this. The same error happens when you try to go to a url for a channel that doesn't exist. For your other cases that this error is coming up, it's probably a similar thing of trying to switch to a channel that the client doesn't know about.

Just doing some quick searching around and it looks like this is the sequence of events causing t

[2016-04-11 13:32] alanmoo commented on #2652
Ah, thanks so much, that's really helpful, I couldn't easily figure out the data flow of all this.

I've got non-MatterMost stuff to work on this week, so if anyone else wants to pick this up, feel free. Otherwise, I'll give this a shot if I have some free time.

[2016-04-11 13:45] hmhealey commented on #2652
No problem at all. It was nice to go back through and review how this stuff worked since so much has changed lately. It looks a lot nicer than it used to when we had 4 different code paths for switching channels and it was a nightmare. :smile:

I created a Jira ticket to track this: https://mattermost.atlassian.net/browse/PLT-2559

[2016-04-11 13:45] #2652 closed

[2016-04-11 15:44] OlegTar opened #2682 "Arrows are replaced with &gt; &lt;"
there is double encoding of arrows and quotes

[2016-04-11 15:54] gitthismoney commented on #2682
i have a similar issue that i can reproduce is all major web browser and the desktop/IOS clients with double and single quotes.

![screen shot 2016-04-11 at 08 51 31](https://cloud.githubusercontent.com/assets/404807/14433397/0e529834-ffc3-11e5-9052-efac73cd8aca.png)

[2016-04-11 15:55] djoker opened #2683 "Installation without Docker"
In the company I work we are not allowed to use Docker. Is there a guideline for installations without it or from source? Thanks for the work

[2016-04-11 16:11] mrcaron commented on #2659
So I tried using 2.0; now I can get the web hooks working when I compose them manually, but I get 500s when sending from TFS :-1:

[2016-04-11 16:19] mrcaron commented on #2659
I noticed that what TFS is sending is this:

`Method: POST
URI: http://IPADDR:PORT/hooks/kd79o1ricbgoxm6faxp9x88xjh
HTTP Version: 1.1
Headers:
{
  Content-Type: application/json; charset=utf-8
}
Content:
{
  "subscriptionId": "00000000-0000-0000-0000-000000000000",
  "notificationId": 10,
  "id": "4a5d99d6-1c75-4e53-91b9-ee80057d4ce3",
  "eventType": "build.complete",
  "publisherId": "tfs",
  "me

[2016-04-11 16:45] lfbrock commented on #2683
Hi @djoker, we have a list of [Install Guides](http://www.mattermost.org/installation/) you can take a look at. You can install a production instance without using docker, or there might be something else there that works for you.

[2016-04-11 16:56] lfbrock commented on #2682
This should be fixed by https://github.com/mattermost/platform/pull/2424 in v2.2 (releasing April 16)

[2016-04-11 20:10] mattermod commented on #2668
Thanks @ajsb85, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-04-11 20:12] lfbrock commented on #2665
Hi @matthaias,

I think that might make sense for single images, but would you have suggestions on how to handle multiple file uploads (some of which might be images, and some which might be other file types)?

[2016-04-11 20:16] lfbrock commented on #2675
Hi @garethgreenaway, can you check the build information from Main Menu > About Mattermost? I think there was a problem with the last docker latest having the wrong build, (see the discussion [here](https://github.com/mattermost/platform/issues/2606)).

[2016-04-11 20:21] garethgreenaway commented on #2675
Build Date: Mon Mar 14 20:45:23 UTC 2016
Build Hash: f189bc2073cf800c5f4506a69bdb51d7065269bf

[2016-04-11 20:28] lfbrock commented on #2678
Thanks @Ticki, can you fill out the form here so we can add this to our community projects page?  http://www.mattermost.org/share-your-mattermost-projects/

[2016-04-11 20:33] fallenby commented on #2659
I'm experiencing this issue too.
Freshly pulled docker instance, create incoming webhook.

`➜  ~ curl -X POST -i http://localhost:8065/hooks/ssjjipjn47bkigdyrwcipqrw8y
HTTP/1.1 404 Not Found
X-Ratelimit-Limit: 10
X-Ratelimit-Remaining: 9
X-Ratelimit-Reset: 1
Date: Mon, 11 Apr 2016 20:29:16 GMT
Content-Length: 0
Content-Type: text/plain; charset=utf-8`

[2016-04-11 20:34] hmhealey commented on #2675
Did you downgrade your server from a newer version of Mattermost? That error message means that there's an extra column in the database. If you're comfortable editing the database directly, you can go in and drop the extra `ExternalManagement` column in the `Commands` table

[2016-04-11 20:34] lfbrock commented on #2659
Hi @mrcaron, it looks like you will need an intermediate translator to put the output from TFS in the correct format for Mattermost webhooks.

[2016-04-11 20:36] garethgreenaway commented on #2675
I do not believe it has been downgraded from a newer version of Mattermost.  I'll go ahead and remove the column from the table and see it that helps.  Thanks!

[2016-04-11 20:37] lfbrock commented on #2659
@fallenby, I think there's an issue with the docker image with the v2.1 tag if that's what you're using - the correct v2.1 should have a build date of Mar 14. There's some discussion [here](https://github.com/mattermost/platform/issues/2606) on how to get the correct build, or the docker image for v2.2 should be released in a couple days.

[2016-04-11 20:39] garethgreenaway commented on #2675
Looks like that fixed it.  Thanks!

[2016-04-11 20:39] #2675 closed

[2016-04-11 20:42] esethna commented on #2658
Thanks for the report @Beastie71, I'll add this to our testing plan for v2.2 and circle back tomorrow.

[2016-04-12 00:39] schemacs commented on #2033
Found [the way to keep dancing on PostgreSQL](/mattermost/docs/pull/95).

[2016-04-12 06:54] Darren66 commented on #2676
Second that.

[2016-04-12 07:50] norganna opened #2687 "LDAP creating of teams"
When creating teams as an LDAP user, the following error appears.

![screen shot 2016-04-12 at 5 46 15 pm](https://cloud.githubusercontent.com/assets/694366/14453250/07a0ec06-00d7-11e6-9271-f2ec0e48c041.png)

Even though the LDAP user has an email address, the "username" isn't an email address.

[2016-04-12 07:54] ajsb85 commented on #2668
Already added
https://mattermost.uservoice.com/forums/306457-general/suggestions/13393107-mattermost-protocol-implementation-for-libpurple

[2016-04-12 08:17] matthaias commented on #2665
Hi @lfbrock,

thanks for your response and yes, I think you're right. I also think that only makes sense for single images. Until now i only uploaded single images, I didn't even know about the possibility to upload more images :). I think in all other cases it should be the same behavior as now.

[2016-04-12 09:59] ticki opened #2688 "Webhooks are not triggered when the trigger word is followed by a newline.."
**Expected behavior**: A trigger word followed by a whitespace other than space should also trigger webhooks.

**Current behavior**: The word _must_ be followed by a space, it is invalid to do e.g.

    playbot:

[code]

since `playbot:` is registered as trigger word, but it is not followed by a space, but instead a newline (which creates confusion).

[2016-04-12 10:23] OlegTar commented on #2682
@lfbrock thank you. I'll close the issue

[2016-04-12 10:23] #2682 closed

[2016-04-12 15:24] djoker commented on #2683
Thanks! I will try

==============================================
There are only 10 types of people in the world
Those who understand binary, and those who
don't
==============================================
          Elvis is dead. Deal with it
==============================================

On Mon, Apr 11, 2016 at 1:45 PM, lfbrock <notifications@github.com> wrote:

[2016-04-12 16:34] lfbrock commented on #2676
Hi @jolks + @Darren66,

Right now it's not possible to change the URL for town square to make redirects easier, since there are various times we need to redirect people back to town square.

I created a ticket [here](https://mattermost.atlassian.net/browse/PLT-2565) in the backlog to fix it, if you want to you can also add a [feature suggestion](https://mattermost.uservoice.com) so other people ca

[2016-04-12 17:12] mattermod commented on #2688
Thanks @ticki, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-04-12 17:16] #2683 closed

[2016-04-12 17:16] lfbrock commented on #2668
Thanks!

[2016-04-12 17:16] #2668 closed

[2016-04-12 17:21] lfbrock commented on #2665
Thanks, will track this issue in Jira: https://mattermost.atlassian.net/browse/PLT-831

[2016-04-12 17:21] #2665 closed

[2016-04-12 18:00] lfbrock commented on #2688
Hi @ticki, I just tested this with our giphy integration, and using new lines seemed to work fine. Do you have it set to send messages on Ctrl + Enter?

[2016-04-12 19:53] ticki commented on #2688
Nope.

[2016-04-12 22:06] gravufo opened #2695 "Realtime messaging not working"
Hi,

I am using the docker version of mattermost 2.1 (latest) behind a reverse-proxy docker (nginx + nginx-gen) using https (lets-encrypt). The proxy and mattermost communicate in http, though (only client to proxy is SSL).

I am connecting to the web chat client from work and I don't seem to be getting realtime messages (have to refresh before getting new messages). I don't see any websocket erro

[2016-04-13 01:05] gravufo commented on #2695
Sorry, turns out it was a misconfiguration on my nginx (nginx-gen doesn't add the necessary config for websockets).

I followed this to fix it: https://gitlab.com/gitlab-org/omnibus-gitlab/issues/740

Thanks

[2016-04-13 02:45] jolks commented on #2676
Thanks for your feedback @lfbrock. I have posted to the feature suggestion at [here](https://mattermost.uservoice.com/forums/306457-general/suggestions/13403289-easily-change-default-channel-town-square).

[2016-04-13 05:20] norganna opened #2698 "Cannot reply "as user" from slash command if overriding is enabled."
If there is no username or icon specified in slash command config, the command comes from "webhook" instead of the user that typed the command, but if "reply as user / icon" is set to false in the config the command comes from the invoking user's name / icon.

Also the slash command is inconsistent in that you are not allowed to specify a username/icon in the reply from the handler unlike with the

[2016-04-13 09:14] ryoon commented on #2444
I have submitted pull request for Japanese translation at #2700. Could anyone review my strings?

[2016-04-13 11:51] ticki opened #2701 "Webhooks are not triggered when certain non-ASCII character are used."
For example,

[code]

won't trigger, however:

[code]

triggers fine.

[2016-04-13 12:02] yuki commented on #1185
@ilTofa I have had the same problem you described when starting with the systemd unit. I have solved deleting the log **/opt/mattermost/logs/mattermost.log** because it was generated by user root (when testing the application). When trying to execute the systemd unit with user mattermost, it can write on it and it failed.

After deleting the log file, I could start using systemctl:

Hope you could

[2016-04-13 12:40] matthaias commented on #2665
Thanks a lot!

[2016-04-13 15:40] lfbrock commented on #2606
Hi @zhangguangtong, yes that change was on purpose - we made some big changes on master after v2.1 and some routes got changed.

[2016-04-13 16:02] Beastie71 opened #2705 "Trace Option"
We've got an issue where in the last 24 hours mattermost has started crashing every few minutes, sometimes not even lasting a minute, other times lasting for longer.  Unfortunately the debug information that is generated has not been useful in tracking down whats actually happening.  Most of the time it appears a call to a specific channel, but not all the time.

There needs to be a way to get a d

[2016-04-13 20:15] esethna opened #2707 "Mattermost v2.2.0-rc2 regressions"
This is a meta issue for discussing:

- Potential regressions in the latest Mattermost release candidate, and
- Potential patches to be applied prior to final release.

[RC2 Invite Link](http://rctesting.reddogsofwar.com/signup_user_complete/?id=iposatmbef8upc6fs5hwpjia3r) | [RC2 Team Link](http://rctesting.reddogsofwar.com/rc2-220/)

Please link to issues you believe may warrant a patch (please d

[2016-04-13 22:07] sonjz commented on #2468
Logout and login fixed it for me.

[2016-04-13 22:32] mattermod commented on #2705
Thanks @Beastie71 for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your is

[2016-04-13 22:34] lfbrock commented on #2705
Hi @Beastie71, can you try posting this in the troubleshooting forums about your issue?

I agree that a more detailed level of logging may be helpful for this, would you be open to suggesting a [feature idea](https://mattermost.uservoice.com) on that with what information you would like to see, so others can add their thoughts as well?

[2016-04-13 22:47] mattermod commented on #2687
Thanks @norganna, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-04-13 22:48] lfbrock commented on #2676
Thanks!

[2016-04-13 22:48] #2676 closed

[2016-04-14 07:33] norganna opened #2710 "EnableCustomBrand in team_settings requires existence check"
https://github.com/mattermost/platform/blob/master/webapp/components/admin_console/team_settings.jsx#L105

In order to work with non-Enterprise licensed edition, needs wrapping like such:

[code]

[2016-04-14 08:44] lindy65 commented on #2688
Thanks @ticki, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2583

[2016-04-14 08:44] #2688 closed

[2016-04-14 08:50] lindy65 commented on #2687
Thanks @norganna, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2584

[2016-04-14 08:50] #2687 closed

[2016-04-14 09:49] nicolas-raoul opened #2711 ""There appears to be a problem with your internet connection" should disappear when connection comes back"
The message stays forever until I dismiss it manually. It should disappear automatically when Internet is back.

Since my connection seems to micro-cut at least every hour, closing it every time takes time. If I could leave it there I would, but it occupies some screen estate, prevents me from seeing the name of the channel, and blocks access to some important menus and other information.

This is

[2016-04-14 12:17] ryoon commented on #2444
I have submitted pull request for updated tJapanese translation at #2714.
Could anyone review my strings?

[2016-04-14 12:23] Beastie71 commented on #2705
mattermod - will do, thanks.

lfbrock - doh, thats what this should have been, no problem, thanks!  And Done!

[2016-04-14 13:45] hmhealey commented on #2710
Thanks for the heads up on this! We're currently in the process of reorganizing those settings so I'll make sure to fix that when I get to that page

[2016-04-14 14:18] gravufo commented on #2695
Well, I'm back. It only worked intermittently. Something is definitely wrong and I kinda don't think it's an nginx config issue since I have other services running behind the reverse proxy with the same config (autogenerated by nginx-gen docker) and websockets seem to work just fine.

I can provide nginx config if necessary.

[2016-04-14 19:28] mattermod commented on #2695
Thanks @gravufo for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your issu

[2016-04-14 19:29] lfbrock commented on #2695
Hi @gravufo, can you try posting on the forums (instructions above) to track down whether this is a bug or a set up issue, and if it's a bug what the repro steps are?

[2016-04-14 19:29] lfbrock commented on #2705
Thanks!

[2016-04-14 19:29] #2705 closed

[2016-04-14 19:31] lfbrock commented on #2710
@hmhealey, this might already be fixed on master

[2016-04-15 00:48] lfbrock commented on #2021
Closing this issue, French translation is available in v2.2.

Anyone interested in helping keep French translations up to date in future releases can join the "French Localization" channel on our [pre-release site](https://pre-release.mattermost.com/core).

[2016-04-15 00:48] #2021 closed

[2016-04-15 01:05] mattermod commented on #2701
Thanks @ticki, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-04-15 07:21] imkimchi commented on #2447
want to Join in this transition. I'm a native korean.

[2016-04-15 07:23] Niklane commented on #2447
@imkimchi you can use translation system with http://186.202.167.109/ko/mattermost/

[2016-04-15 07:50] imkimchi commented on #2447
@Niklane already working on it. thx!

[2016-04-15 07:59] PaveLiArcH opened #2721 "Fallback for window.requestAnimationFrame"
Can we have fallback for requestAnimationFrame for old browsers? It will be useful mostly for old IE and old android browsers (see http://caniuse.com/#feat=requestanimationframe)

Sample of such fallback solution can be found here: http://codepen.io/alexandredees/pen/CaEIK
[code]
Yes, it's weird, but it's better than nothing

[2016-04-15 09:13] lindy65 commented on #2701
Thanks @ticki, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2591

[2016-04-15 09:13] #2701 closed

[2016-04-15 10:01] ticki commented on #2701
Thanks!

[2016-04-15 12:48] hmhealey commented on #2710
@jwilander Fixed this with some of his other changes

[2016-04-15 12:48] #2710 closed

[2016-04-15 16:31] lfbrock commented on #2711
Hi @nicolas-raoul - thanks for the report, I made a ticket to track this issue here: https://mattermost.atlassian.net/browse/PLT-2399

[2016-04-15 20:59] esethna commented on #2707
No regressions found in the RC2

[2016-04-15 20:59] #2707 closed

[2016-04-15 21:43] lfbrock commented on #2698
Thanks @norganna, I made a ticket for allowing Slash Commands to specify username/icon in the reply: https://mattermost.atlassian.net/browse/PLT-2610

[2016-04-15 21:48] lfbrock commented on #2623
Closing this issue + will track it in Jira, it's accepting pull requests if anyone wants to take a look at it.
https://mattermost.atlassian.net/browse/PLT-98

[2016-04-15 21:48] #2623 closed

[2016-04-15 22:49] esethna commented on #2658
@Beastie71, I cannot seem to repro this as you've described. I used a comma to separate two domains in the system console setting "Restrict Creation To Domains". I was able to verify that both domains specified allowed team creation and user creation, but other domains returned an error. Can you provide additional information on your version of Mattermost and the browser/operating system you're us

[2016-04-16 03:27] sngkyu commented on #2447
would like to join in the trelation team, if not too late.

[2016-04-16 03:45] tpdownes commented on #2187
:+1:

[2016-04-16 10:48] ttllyy opened #2725 "mattermost 2.2: register a new application, but no action"
Developer Settings:
Applications (Preview)
register a new application, save, but no action.

What use register a developer application?
Where there is an example and docs for register a new application?

[2016-04-16 11:02] ttllyy commented on #2725
How to use register a new third-party application?
Thanks!

[2016-04-16 23:09] norganna opened #2726 "Last person to leave private channel leaves it in an un-joinable state."
If theres a private channel with one person in it, and they leave, the channel, it's forever un-joinable, and there's nobody to invite someone into it.

When the last person leaves, an error appears at the top of the screen:
<img width="323" alt="screen shot 2016-04-17 at 9 07 19 am" src="https://cloud.githubusercontent.com/assets/694366/14584144/e331149c-047b-11e6-8c8b-66b767342798.png">
"We coul

[2016-04-16 23:58] norganna opened #2727 "Experimental windows/osx dist builds don't build natively anymore on windows/osx"
Specifically there is an assumption made in the makefile that you're cross-compiling from linux to windows/osx and that at https://github.com/mattermost/platform/commit/b23eeff4fc48ef89670dbbb1c809d938c8cbd6f8#diff-b67911656ef5d18c4ae36cb6741b7965R183 :

The linux binary will be in $(GOPATH)/bin/platform
The windows binary will be in $(GOPATH)/bin/windows_amd64/platform
The osx binary will be in $

[2016-04-17 00:19] it33 commented on #2726
Thanks @norganna, appreciate your finding this. Agree this seems like a bug.

Will defer to @lfbrock, who is travelling, so might process later in the week.

[2016-04-17 00:21] it33 commented on #2721
Thanks @PaveLiArcH,

Appreciate your feedback, will queue this for discussion in the [UX design channel.](https://pre-release.mattermost.com/core/channels/ux-design). If the change were approved, would you be interested in helping add this?

[2016-04-17 03:09] it33 commented on #2658
Hi @Beastie71, @esethna will be on extended travel so I'm [opening a Jira ticket to track this](https://mattermost.atlassian.net/browse/PLT-2614). My guess is it's because you have multiple periods in the domain and my guess is we might not handle that well. Either way, the Jira ticket will have the result of the investigation, so closing this for now.

Thanks for the report!

[2016-04-17 03:09] #2658 closed

[2016-04-17 05:30] it33 commented on #2658
Hi @Beastie71,

The issue was checked with domains using multiple periods in the domain and could not be reproduced.

Under Restrict Creation To Domains can you try entering `libertymutual.com, liberty-it.co.uk` and see if it works?

If not, please help file a new ticket and we'll investigate?

[2016-04-17 14:36] Beastie71 commented on #2658
Okay will do as soon as I am back in the office tomorrow!

Michael

On Sun, Apr 17, 2016 at 1:30 AM, it33 <notifications@github.com> wrote:

[2016-04-17 19:01] johnnyleitrim opened #2728 "Support Attachments for Outgoing Webhooks"
We would like our server (which we have configured as the endpoint for mattermost outgoing webhook) to receive attachment information for messages.

At present, if someone sends a mattermost message, we receive a notification through the webhook, but there is no information about any attachments that the message may have.

I see that incoming webhooks had specify attachments, so it seems that outg

[2016-04-17 22:06] samogot opened #2732 "[Feature] allow answering on any message"
It would be great if it would be possible to answer on any message in chain, not only for chain at all

![now](https://cloud.githubusercontent.com/assets/11226228/14590336/682a722c-0500-11e6-8595-e1860d597d31.png)

hierarchical comment chains would be great, but if it very hard - ability only to cite or mark parent comment with link to jump to it would be enough. for example something like this:
!

[2016-04-17 22:29] samogot opened #2733 "[Feature] marking posts as read on viewing, not all in channel at once"
For example I have off-topic channel with 1000 unread messages. I want to read them all, but it takes 15 minutes or more. I start reading, read about 200 messages, but at that time I receive very important direct message, or mention in other channel. I switch to that channel, do what I need, but when I come back to off-topic channel, i have all messages marked as read. moreover - I instantly jump

[2016-04-18 06:03] samogot opened #2735 "Race condition on PostsView.SCROLL_TYPE_NEW_MESSAGE"
Some times (often, allways?) channel scrolls to down instead of scrolling to the `New Messages` badge. As i understand it is due race condition between [scrolling](https://github.com/mattermost/platform/blob/master/webapp/components/posts_view.jsx#L318) and [checking](https://github.com/mattermost/platform/blob/master/webapp/components/posts_view.jsx#L89) if we at bottom. That race condition cause

[2016-04-18 07:13] PaveLiArcH commented on #2721
@it33, as I said at UX channel, i can implement this and provide as pull request

[2016-04-18 07:15] norganna opened #2736 "Able to edit username from profile when account is LDAP created."
When an account is LDAP created, the username is sourced from an LDAP property and should not be user-editable, as LDAP uses the username field to keep track of the account.

[2016-04-18 11:17] crspeller commented on #2677
@MarkYSA Yup. It should be. Whoever implemented that whent with a quick solution instead of the correct one. Up for making a Pull Request?

[2016-04-18 11:18] crspeller commented on #2727
See my comments here: https://github.com/mattermost/platform/pull/2718

[2016-04-18 11:18] #2727 closed

[2016-04-18 15:29] sash85 commented on #1761
The issue should be fixed with version v2.2.0 [ 10502 ] but now it ist moved to v2.3.
Is v2.3 now fix or will it move again?
We really like to use mattermost, its a great tool and without this problem it would be perfect :-).

[2016-04-19 17:10] lfbrock commented on #2698
Closing this issue and will track in Jira, also made it accepting pull requests if someone would like to work on this.

[2016-04-19 17:10] #2698 closed

[2016-04-19 17:31] jw3 opened #2749 "Difference in API behavior when upgrading from 2.0 to 2.2"
Any insight as to what may be causing me to see different behavior in the following example after upgrading from 2.0 to 2.2?

At 2.0 the following curl would create a message in the specified channel
[code]

At 2.2 I get the following error
[code]

The token being used works through the web UI.

I have been looking over the changes to the API, nothing stands out as obvious to my novice eye.  I do

[2016-04-19 18:07] jw3 commented on #2749
I see some changes between [2.0](https://github.com/mattermost/platform/blob/release-2.0/api/context.go) and [2.2](https://github.com/mattermost/platform/blob/release-2.2/api/context.go) in [api/context.go](https://github.com/mattermost/platform/blob/release-2.2/api/context.go) which look related.

Not sure I have my head wrapped around what exactly changed there, perhaps in `ApiUserRequired`

[2016-04-19 18:36] coreyhulen commented on #2749
Try passing the session id via a header vs a cookie.  Something like

`--header "Authorization: BEARER w1i956pwhbrn5crqhzbpz3fnxc"`

[2016-04-19 20:26] jw3 commented on #2749
@coreyhulen your suggestion did the trick.  Appreciate it.

[2016-04-19 20:27] #2749 closed

[2016-04-20 00:59] mattermod commented on #2733
Thanks @samogot, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-04-20 01:31] lfbrock commented on #2732
Hi @samogot, can you help me understand more about your use case? Are you finding conversations in comment threads get too complicated to follow the way it is now?

I think it would be hard to show hierarchical comment threads in the current UI, but it would be great if you could [open a feature idea](http://www.mattermost.org/feature-requests/) on it. If it's something that's very popular we migh

[2016-04-20 01:50] lfbrock commented on #2606
Closing this issue now that v2.2 is out

[2016-04-20 01:50] #2606 closed

[2016-04-20 01:50] lfbrock commented on #2659
Closing this issue now that v2.2 is out

[2016-04-20 01:50] #2659 closed

[2016-04-20 02:22] npcode commented on #1906
I still have this problem with mattermost 2.1. When I enter a private group, some messages disappear occasionally. (In this time, I didn't need to click "Load more messages" to produce this problem)

[2016-04-20 08:35] samogot commented on #2733
https://mattermost.uservoice.com/forums/306457/suggestions/13496355
yes, i can implement this, if it would be approved

[2016-04-20 09:51] GuillaumeAmat commented on #2726
@it33 Dunno if that's related to my issue but I see a lot of « We couldn't get the channel member ». Is there other reasons for this message display?

[2016-04-20 11:17] samogot commented on #2732
Yes, i think that some times, not very often, conversation may be more complicated, than comment threads can serve now. Especially in off-topic channel with a lot of members.
But when I think about in again I consider, that fully hierarchical comment threads is overkill, so I wouldn't open a feature idea about it.

As for the "commented on" messages - yes, that was an initial idea. I am agree that

[2016-04-20 13:02] fallenby opened #2750 "Creating the same direct channel twice renders verbatim database server error"
Attempting to create a direct channel twice via `/api/v1/channels/create_direct` will render an error with detail straight from the database server.

The request:

The response:

This leaks a little bit of info straight from the DB. Maybe it would be best to remove the `detailed_error` from the JSON object entirely? Unless it has a purpose that is used elsewhere.

[2016-04-20 14:47] Beastie71 commented on #2658
Grrr I'll have to leave it closed at this time as I am unable to get a
resource with a functioning email in that section of the company.  If I can
I will grab more debug information and submit a new ticket.

Thank you for your time!

Michael

On Sun, Apr 17, 2016 at 10:36 AM, Michael Letourneau <
michaell@theletourneaus.net> wrote:

[2016-04-20 17:36] lfbrock commented on #2728
Hi @johnnyleitrim,

The attachments in incoming webhoooks are actually not file attachments in Mattermost, they refer to functionality that was added to be compatible with [Slack APIs](https://api.slack.com/docs/attachments).

I can see how adding information about file attachments could be useful though - if the team decides this is something we'd accept pull requests on, would you be interested

[2016-04-20 18:38] johnnyleitrim commented on #2728
Sure.  We've already got a "fix" in our local code base, so we'd make a pull request if it was open.

[2016-04-20 20:57] hmhealey commented on #2735
Thanks for the report @samogot. I've noticed the same thing occasionally, but I didn't spend any time looking into the cause.

I'm closing this issue since I've filed a [ticket on Jira] to track it. We'll take a look at this soon, but if you happen to find a good solution to the bug, let us know.

[2016-04-20 20:57] #2735 closed

[2016-04-21 02:59] JohnnyFlash opened #2764 "/join always returns 'We couldn't find the channel'"
**Summary:** When attempting to use the /join command to switch channels, the only message ever returned is "We couldn't find the channel'

**Steps to reproduce:** type /join off-topic in any channel
**Expected behavior:** Expect to switch to the Off-Topic channel
**Observed behavior:** Error message from System - We couldn't find the channel

[2016-04-21 05:37] norganna opened #2765 "[Feature] Drag channels in sidebar to reorder them."
In HipChat we can drag our channels in the sidebar to a user-preferred order which allows us to put our most commonly accessed channels all together at the top, instead of a fixed alphabetical order.

I believe such a feature in Mattermost would be beneficial also.

[2016-04-21 06:56] sinderrellar opened #2766 "compile -e production --force met error"
hello， when I build make build-client， I met an Error
the information below.
-bash-4.1# compass compile -e production --force
[WARNING] MultiJson is using the default adapter (ok_json).We recommend loading a different JSON library to improve performance.
    error sass/styles.scss (Line 1 of sass/partials/_print.scss: Invalid CSS after "..."UTF-8"": expected "{", was ";")
Sass::SyntaxError on line

[2016-04-21 07:27] tlebeitsuk opened #2767 "Swedish translation"
Anyone interested in working on a swedish translation?

[2016-04-21 07:58] sinderrellar commented on #2766
oh my god，I reinstall the ruby and compass and solve it

[2016-04-21 07:58] #2766 closed

[2016-04-21 08:07] #2765 closed

[2016-04-21 14:06] hany opened #2769 "Increasing message limit?"
Seems the platform has a hardcoded limit of 4000 characters per message. Is there any reasoning for this? Can it be bumped up or made configurable? We have legitimate use cases where individual messages can be larger than this limit.

[2016-04-21 15:12] aabergaa opened #2770 "Cleartext Database Password is not safe!"
The configuration json stores the database password in **plain text**. For some organizations, this is not allowed, and passwords must be hashed. Is there a way of converting the sql database string in the config.json to allow a hashed version of the password instead of a plain text?
I would consider this to be a **major** **security** issue.

[2016-04-21 15:35] kuuji opened #2771 "[Feature] shortcuts"
Hey guys,

Do you plan to add more shortcuts to mattermost ?
eg. ctrl + k to switch channel, tab name without @ to mention, etc.

cheers

[2016-04-21 15:43] jwilander commented on #2750
Hi @fallenby, you're right that there really isn't any reason to return the detailed error to the client. Originally we planned to not return it to the client but it was so useful for debugging that we had left it in but not we should probably turn it off. It'll still be the in the server logs so the system administrator can make use of them and as we develop we can seem them there for debugging p

[2016-04-21 15:43] #2750 closed

[2016-04-21 17:50] lfbrock commented on #2728
Thanks @johnnyleitrim, we were discussing this and wondered if it would be more useful to send the team ID and post ID so any information about the post can be looked up with the APIs?

Any thoughts on this?

[2016-04-21 17:53] lfbrock commented on #2771
Hi @kuuji, yes we do plan on adding shortcuts - we have a [spec](https://forum.mattermost.org/t/accepting-pull-requests-keyboard-shortcuts/1184) available on the forums for the ones that are initially planned, which includes ctrl + k for channel switching.

Would you be interested in helping out with any of them? Anything listed in the spec is open for accepting pull requests, and if there's somet

[2016-04-21 17:57] lfbrock commented on #2770
Hi @aabergaa, what kind of installation are you referring to?

If it's the docker preview install, that is only meant for previewing Mattermost and is [not meant for production](http://docs.mattermost.com/install/docker-local-machine.html#local-machine-setup-and-upgrade). There is a [new production docker image](https://github.com/mattermost/mattermost-docker) you should use for production install

[2016-04-21 18:02] lfbrock commented on #2733
Thanks @samogot, just curious - for the first case, would being able to manually set the position of the New Messages indicator work for this? I'm just thinking it would be hard to know the exact position of where someone stopped reading, so maybe letting users pick a place to set the indicator would be better.

[2016-04-21 18:04] lfbrock commented on #2725
Hi @ttllyy, that's an in progress feature that hasn't been fully released yet. It allows you to connect third party applications to your Mattermost account using OAuth2 instead of username and password.

Since it hasn't been officially released, there's no docs available at the moment. They will be added in a future release.

[2016-04-21 18:04] #2678 closed

[2016-04-21 18:04] #2695 closed

[2016-04-21 18:05] mattermod commented on #2764
Thanks @JohnnyFlash, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-04-21 18:07] lfbrock commented on #2764
Thanks @JohnnyFlash, I think there's an issue where /join only works for joining new channels you aren't yet. @lindy65 please file a ticket on this?

[2016-04-21 18:23] aabergaa commented on #2770
HI @lfbrock, I am doing a production install following the docs.mattermost.com guide for rhel7.
Taken explicitly from this site, section 6:

    `cd /opt/mattermost/config`
    Edit the file by typing:
    `sudo vi config.json`
    replace DriverName": "mysql" with DriverName": "postgres"
    replace "DataSource": "mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8" with "Dat

[2016-04-21 18:24] lfbrock commented on #2721
Hi @PaveLiArcH, we discussed the change and because we don't officially support Android browsers lower than 4.4 we're not able to accept the change you're proposing. Specifically, we don't want to confuse the community by reviewing and testing improvements to unsupported platforms, when that energy needs to go into supported platforms.

[2016-04-21 18:27] kuuji commented on #2771
Hey thanks for your quick response @lfbrock.
I'll check this out 😃

[2016-04-21 18:38] #2671 closed

[2016-04-21 18:40] lfbrock commented on #2711
Closing this issue + will track in Jira

[2016-04-21 18:40] #2711 closed

[2016-04-21 19:06] lfbrock commented on #2769
That might be possible, how often are your users hitting the limit on message length? Can you explain a little more about the use case?

[2016-04-21 19:18] kuuji commented on #2769
@lfbrock our hubot sends us some alerts that are longer than 4000 characters. Same thing for hubot help command. It doesn't work when you have few hubot scripts installed.

[2016-04-21 19:26] hany commented on #2769
We actually just switched over to Mattermost yesterday, and have run up against the limit almost hourly. Our monitoring system sends us a lot of diagnostic information with each alert, and this regularly hits the limit.

[2016-04-21 19:42] lfbrock commented on #2769
Thanks for the feedback, do you have an estimate of what max message length you would need to not hit the limit regularly?

[2016-04-21 19:43] hany commented on #2769
@lfbrock likely double or triple the value (8000 or 12000).

[2016-04-21 20:39] samogot commented on #2733
I do not think it's worth it. Allowing the user to specify the location where he completed is a great complexity both in terms of development and in terms of interface. Messages that were on the screen are marked as read. Even if there are a few extra unread messages - to find a place from which you want to continue reading in the range of the screen should not be a problem.

[2016-04-21 20:40] jasonpeacock opened #2773 "When creating a new channel the Chinese example name is inappropriate"
One of my users reported this - not good when you're installing MM at work.

It is written in Chinese, and it means “office affairs/romance" (see screenshot):

![Imgur](http://i.imgur.com/7PDtxN6.png)

Can we remove or change it?

[2016-04-22 02:01] nicolas-raoul commented on #2711
@lfbrock Oh I understand now, thanks :-) I removed my now irrelevant comment at PLT-2399.

For anyone finding this, the bug is now tracked at https://mattermost.atlassian.net/browse/PLT-2607

Cheers!

[2016-04-22 07:56] lindy65 commented on #2764
Thanks @JohnnyFlash @lfbrock Ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2652

[2016-04-22 07:56] #2764 closed

[2016-04-22 09:23] moogle19 opened #2777 "Multiple teams on same domain"
I have multiple teams on the same domain (e.g. mattermost.example.com/team1 and mattermost.example.com/team2) and cannot be logged in at both.
If I log in to 'team1' and then go to the site of 'team2' I see the pages for 'team1'.
I think this is because of the Cookies, which are for path '/'. I am not quite sure if you can just change the path in the cookies to the appropriate team or if this is a

[2016-04-22 11:58] laitkor opened #2778 "Changes not reflecting"
Hello, I am trying to create some additional API's for mm but any changes done in API folder is not getting reflected.
I have stopped and then started my server number of time and also commented the existing api code just to check whether it will reflect or not, but there is no change while calling the same API.
Do I have to compile the code after adding it to api folder or am I missing something

[2016-04-22 12:44] haseebr opened #2779 "Why do we need ToJson() for every model ?"
Hi There,

I'm a Golang newbie, I just want to know why do we need a ToJson() for every model ?

Instead, We could do the following that accepts a struct and outputs a json string.

I'm sure Dev's have tried something like that, why aren't we it in production though ? Is there something I'm missing ?

[code]

Thanks,
Haseeb

[2016-04-22 13:03] hany commented on #2769
@lfbrock if we wanted to temporarily compile a custom Mattermost build with a new max message size (to address our immediate concern), where should we look to make these changes?

[2016-04-22 16:07] contolini commented on #2769
We have a couple hubot scripts hitting the limit. We circumvent it by posting large messages to [anonymous GitHub gists](https://github.com/cfpb/hubot-eavesdrop/blob/4dd76fe26521a610621edc6404a765e5612e9d22/src/eavesdrop.coffee#L72-L77). It would be ideal if the character limit was configurable via the System Console.

[2016-04-22 16:46] lfbrock commented on #2770
Ah I see, thanks @aabergaa. Spoke to the team about this, and the feeling was that this isn't uncommon in other products (eg Wordpress), but we would be able to encrypt that part of the config file.

I made a ticket here for the issue, it's also accepting pull requests if anyone wants to work on it.
https://mattermost.atlassian.net/browse/PLT-2667

[2016-04-22 17:09] atrookey opened #2780 "Duplicate account"
I accidentally created two accounts connected to https://mattermost-test.eclipse.org/ and would like the one associated with my personal email deleted.

[2016-04-22 17:31] patoupatou opened #2781 "Internal server error when trying to register a user"
Hi!

We're using the latest release version of mattermost provided by Docker, since we upgraded to the latest dockerfile version, we have a problem where there is an infinite loading screen when trying to register a new user. See the image below :

http://i.imgur.com/e1igN4P.png

The current url is hostname:port/signup_user_complete/?id=

Any hints on how we should be debugging this? Right now thi

[2016-04-22 18:52] george-silva opened #2783 "where is the command line bin located when integrated with gitlab?"
where is the command line bin located when integrated with gitlab?

I need to delete some teams, created by mistake and users.

Thanks BTW, awesome software!

[2016-04-22 19:00] lfbrock commented on #2781
Hi @patoupatou, can you go to the main menu and "About Mattermost" and let us know what version number you see there?

[2016-04-22 19:05] patoupatou commented on #2781
Hi @lfbrock,

Mattermost Team Edition T0

Version:2.1.0
Build Number:6562
Build Date:Thu Mar 17 16:17:34 UTC 2016
Build Hash:2cd006474ec8a808b2ea2b0502a842f44cb0b127

[2016-04-22 19:10] george-silva commented on #2783
found it under /opt/gitlab/embedded/bin

[2016-04-22 19:10] #2783 closed

[2016-04-22 19:34] lfbrock commented on #2773
Thanks @jasonpeacock, pull request here to fix the issue: https://github.com/mattermost/platform/pull/2784

[2016-04-22 19:34] #2773 closed

[2016-04-22 19:35] lfbrock commented on #2780
Hi @atrookey, we don't manage that site - you'll have to ask the administrators of the site to delete the account, or you can update the email address on the account to something else.

[2016-04-22 19:35] #2780 closed

[2016-04-22 19:36] lfbrock commented on #2781
Hi @patoupatou, I think there was an issue with that build (actual v2.1 build was on Mar 14). v2.2 should be available now though, so if you update to that the issue should be taken care of.

[2016-04-22 19:36] mattermod commented on #2778
Thanks @laitkor for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your issu

[2016-04-22 19:37] #2771 closed

[2016-04-22 19:41] lfbrock commented on #2732
Thanks @samogot, the UX team is planning to look at ways to improve the usability of replies + threaded messaging, I've added your ideas as something to consider to this ticket: https://mattermost.atlassian.net/browse/PLT-2637

[2016-04-22 19:42] #2732 closed

[2016-04-22 19:42] #2721 closed

[2016-04-22 19:47] lfbrock commented on #2733
Thanks @samogot, we'll have to think about this a little bit more. If we do implement it, I think we would also need to add the ability to mark the entire channel as read, for cases where people don't want to have to scroll through all the messages in a channel (for example if a lot of messages stack up in a channel someone doesn't visit often, they might not want to read them all to mark the chan

[2016-04-22 19:49] lfbrock commented on #2726
HI @GuillaumeAmat - I think that error message shows up when the site tries to access the channel members list and can't, are there any other reproducible cases where you are seeing it show up?

[2016-04-22 19:54] lfbrock commented on #2726
As for the last member of a private group - it may be somewhat fixed by a future change that is planned, where we let people "Close" channels and have them show up in a "More" menu so they can be rejoined. (Basically like the Direct Messages list).

In the meantime, we had an old ticket to hide "leave" for the last member of the channel so they only have the option to delete it. Alternatively we c

[2016-04-22 19:58] patoupatou commented on #2781
Ok I'll get back to this thread if it works.

Thanks

[2016-04-24 10:23] #2778 closed

[2016-04-24 16:45] jasonpeacock commented on #2773
Thanks!

[2016-04-25 07:12] samogot commented on #2733
Thanks @lfbrock, notify me if it will become APR Ticket

[2016-04-25 09:58] Stof25 opened #2791 "User status is set to idle/away even while active"
It seems that idle detection only takes into account when you are actively using the Mattermost windows (browser tab/desktop application) and not if the user is actually using his computer.

Would it be possible to detect idle status no matter what is currently in focus instead?

[2016-04-25 10:58] GuillaumeAmat commented on #2726
@lfbrock I'm afraid not... That's why I'm asking here for help.
I use a Mattermost instance which contains several users, channels, private groups, etc. With deleted groups, channels, uers, etc. I refresh the page, wait, and the message appears.

[2016-04-25 12:45] jwilander commented on #2791
Hi @Stof25, I think we're already tracking a bug [here](https://mattermost.atlassian.net/browse/PLT-2357). Does that sound like your issue?

When running Mattermost inside your browser, we're kind of at the mercy of the browser as to whether we can report events to the server or not but I'm pretty sure in most cases it keeps the WebSocket alive with PING/PONG messages which should keep the status

[2016-04-25 12:53] jwilander commented on #2779
Hi @haseebr,

There's no technical reason we can't convert the structs to JSON like in your example but it is much more convenient and readable to call `user.ToJson()` rather than `model.StructToJson(user)`. That said    adding `model.StructToJson` as a utility function would be useful in places where it we want to convert non-model structs to JSON.

If you'd like to discuss it some more feel free

[2016-04-25 12:53] #2779 closed

[2016-04-25 13:08] Stof25 commented on #2791
Well no it's not the same. I can also say that I don't think we have that offline issue at all since we had someone away for a couple days leaving their computer turned on and they were still online. Although it'd be nice if there was some kind of "extended away" status for those cases but I digress.

In our case, it's purely that people still using their computers are flagged as away until they p

[2016-04-25 15:39] lfbrock commented on #2733
Will do, thanks

[2016-04-25 15:39] #2733 closed

[2016-04-26 14:16] jwilander commented on #2791
Oh, I see what you mean. With our current structure for statuses it's hard to do that in the browser, but yes it is possible to do this with the desktop app where we have more control.

I actually have a [ticket](https://mattermost.atlassian.net/browse/PLT-2241) to refactor our status code to be more performant/flexible and I'll keep this in mind when I'm doing it.

In the meantime, would you be a

[2016-04-26 15:53] skaren commented on #1792
I had the same problem with a vps with 512MB RAM. It´s work after creating a swap file (https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04).

Regards skaren

[2016-04-26 18:45] #2770 closed

[2016-04-26 18:46] mattermod commented on #2736
Thanks @norganna, core team is considering opening a Jira ticket to address the issue you raised, possibily a ticket [Accepting Pull Requests](http://docs.mattermost.com/process/accepting-pull-request.html).

[2016-04-26 18:46] lfbrock commented on #2728
Made an accepting pull request ticket if someone would like to work on this: https://mattermost.atlassian.net/browse/PLT-2650

[2016-04-26 18:47] #2728 closed

[2016-04-26 18:47] #2725 closed

[2016-04-26 18:53] lfbrock commented on #2726
Thanks, we're trying to get repro steps for the "We couldn't get the channel member" but also having trouble finding a way to consistently reproduce it. If anyone else has repro steps, please feel free to comment them here

[2016-04-26 19:02] GuillaumeAmat commented on #2726
If I want to check for private groups without members as reported by @norganna, where can I start to watch?

[2016-04-26 21:33] it33 commented on #2726
@GuillaumeAmat we're not able to reproduce what you're describing, may I ask if you manually changed the database to delete any of the items you mentioned?

[2016-04-26 22:08] GuillaumeAmat commented on #2726
@it33 No we didn't. But I plan to check in the database if we have this sort of zombie groups.

[2016-04-27 20:34] lfbrock commented on #2769
Would someone be willing to open a [feature request](http://www.mattermost.org/feature-requests/) on this?

We discussed it, and currently 4000 characters is the maximum limit for the type of database column we're using. If we were to change it to something that can support longer messages, there was some concern there could be a performance hit on the application.

Because of this, we don't plan

[2016-04-27 20:46] lfbrock commented on #2777
Hi @moogle19, this will be fixed in the next release when we [switch the user model so users have one account per server instead of one account per team](https://forum.mattermost.org/t/unifying-user-accounts-across-teams-for-mattermost-2-3/1126).

However, the upgrade process for teams who currently use multiple teams on the same domain will involve more work than usual. Users who have accounts on

[2016-04-27 20:56] moogle19 commented on #2777
Perfect. Thanks for the info.

[2016-04-27 20:57] #2777 closed

[2016-04-27 22:12] mackelito opened #2809 "Possibility to edit exsisting Slash Commands"
Right now there is only options to add new or remove old.. not to edit.
It would be a great addon!

[2016-04-27 22:14] mackelito opened #2810 "Add simple Slash Commands"
Example...
When writing "/really?" I want this image to show https://media.giphy.com/media/gTfyyVLTicxCE/giphy.gif

[2016-04-27 22:15] mackelito opened #2811 "Force Real Name"
We dont want the users to use Nicknames and not the possibility to change @handler is that possible?

[2016-04-27 22:16] mackelito commented on #2767
Sure.. I can help out! :)

[2016-04-28 00:56] hany commented on #2769
The problem with the way it's handled currently is clients silently fail. You don't even realize that messages are not coming through unless you check the logs.

Is there a way to chunk responses up perhaps to address the performance concerns?

[2016-04-28 04:38] it33 commented on #2769
Opening [a thread on the forums to discuss approaches and best practices for automation that posts messages longer than 4000 characters.](https://forum.mattermost.org/t/recommendations-for-handling-automation-that-wants-to-post-messages-longer-than-4000-characters-per-message/1393)

Closing this issue since since we have an answer.

[2016-04-28 04:38] #2769 closed

[2016-04-28 07:57] demonru opened #2812 "Original Mattermost Android app crashes on Samsung Galaxy S3 on start."
**Summary:** Original Mattermost Androidapp crashes on Samsung Galaxy S3 on start.
**Steps to reproduce:** Take Samsung Galaxy S3 GT-I9300 32Gb (Android 4.3). Install app from Google play (https://play.google.com/store/apps/details?id=com.mattermost.mattermost&hl=en). Launch application.
**Expected behavior:** Application starts
**Observed behavior:** Application crashes, popup appers to submit a

[2016-04-28 08:53] lindy65 commented on #2736
Thanks @norganna, ticket to track the issue is here: https://mattermost.atlassian.net/browse/PLT-2710

[2016-04-28 08:53] #2736 closed

[2016-04-28 09:57] mabuse opened #2813 "the license file refers to files that do not exist any more"
Written in the LICENSE.txt we can read the following:

You are licensed to use the source code in Admin Tools and Configuration Files (api/templates/, config/, model/, web/react/utils/, web/static/, web/templates/ and all subdirectories thereof) under the Apache License v2.0.

However, these files or folders do not exist any more and the license should be updated to match the current source versio

[2016-04-28 12:12] marboxvel commented on #2812
I have Samsung Galaxy tab 3 and the android app doesn't even start. Whenever I open the app, all I get is a white screen. I installed both versions (2.1 & 1.14) to no avail. My android version is 4.2.2

[2016-04-28 18:27] lfbrock commented on #2811
Hi @mackelito, to clarify - you mean add an option to disable the ability to set a Nickname, and disable the ability to change the `@username`?

It's not possible right now, but you can open a [feature request](http://www.mattermost.org/feature-requests/) on it. It would help if you could also include some background information on why you need the feature.

[2016-04-28 18:31] lfbrock commented on #2810
Hi @mackelito,

You can build custom slash commands yourself, we have some documentation on it here: http://docs.mattermost.com/developer/slash-commands.html

If you have more questions on how to build slash commands, you can [ask on the forums](https://forum.mattermost.org/).

[2016-04-28 18:35] lfbrock commented on #2809
Thanks @mackelito, definitely agree. We plan on adding the ability to edit both webhooks and slash commands - tickets to track this are here:
https://mattermost.atlassian.net/browse/PLT-2497
https://mattermost.atlassian.net/browse/PLT-2496

[2016-04-28 18:35] #2809 closed

[2016-04-28 18:36] #2781 closed

[2016-04-28 20:19] marboxvel commented on #2812
It worked after I flashed android 4.4.2 ROM.

[2016-04-28 21:36] coreyhulen commented on #2503
I cannot repo with master.

[2016-04-28 21:36] #2503 closed

[2016-04-29 01:01] it33 commented on #2812
Thanks @demonru, thanks @marboxvel,

Looks like there's a bug in the Google Play store, the minimum version should be [4.4.2 per the product documentation](http://docs.mattermost.com/install/requirements.html#mobile-app-experience), but it's somehow appears as 4.2. We need to fix this.

![image](https://cloud.githubusercontent.com/assets/177788/14905955/05e63614-0d6b-11e6-9298-3e711ae7c143.png)

[2016-04-29 03:19] it33 commented on #2813
Updated, thanks!

[2016-04-29 03:19] #2813 closed

[2016-04-29 09:44] mackelito commented on #2811
Yes you are correct! 👍

Found this and it seems to be a similar request.
https://mattermost.uservoice.com/forums/306457-general/suggestions/12432408-system-admin-should-be-able-to-force-displaying-of

[2016-04-29 09:44] #2811 closed

[2016-04-29 10:01] mackelito commented on #2810
I have read the doc.. sorry I was not clear in my initial post...
I guess it´s just me but I cant get the image into the chat..

`
Command Trigger Word: hello
Request URL: https://media.giphy.com/media/gTfyyVLTicxCE/giphy.gif
Request Method: GET
Response Username:
Response Icon:
Autocomplete: no
Autocomplete Hint:
Autocomplete Description:
`
and when typing the command /hello it gives me "Command

[2016-04-29 21:07] demonru commented on #2812
Thanks. Now I see that it's not compatible with Android 4.3. I'll close the issue.

[2016-04-29 21:07] #2812 closed

[2016-04-29 23:36] lfbrock commented on #2810
@mackelito, I think the problem is the request URL. Slash commands and outgoing webhooks let you interact with an external application, so you would need to write an external application to return the reply  you want (https://media.giphy.com/media/gTfyyVLTicxCE/giphy.gif). Then your request URL should point to that application.

There's an example we wrote for outgoing webhooks [here](https://gith

[2016-04-29 23:41] michaelgrilo commented on #1185
I'm attempting to install Mattermost to a DigitalOcean 512MB virtual machine following the _Production Install on Debian Jessie_ guide. I haven't even been able to get passed the postgresql test in Step 13. I've purged and reinstalled postgresql a couple times, but I'm having no luck.
[code]
Perhaps I'm missing something in regards to the IP address. On a fresh vm, are there any steps, besides upd

[2016-04-30 07:48] mackelito commented on #2810
ahaaa... ok.. I kind of expected slash commands to be simpler ;)
Kind of like the slackbot..

eg. When a user types "lunch" we can have a custom replay like the name of a random lunch restaurant :)

Does that exists in mattermost? a similar bot? (if not I´ll add a feature request)

[2016-05-02 08:44] hydrandt commented on #2504
Now I am on Xiaomi Mi4 with Cyanogenmod 13, same behavior. A friend tried on Xiaomi Redmi with the Chinese firmware (no google apps), same behavior.

Logcat from Mi4, after entering credentials and submitting them: http://pastebin.com/QeCUKLCh

[2016-05-02 13:27] lfbrock commented on #2810
@mackelito no that doesn't exist, but I think that would be good to add. A feature request for it would be great, thanks :)

[2016-05-02 20:23] mackelito commented on #2810
For reference, https://mattermost.uservoice.com/forums/306457-general/suggestions/13702560-preinstalled-matter-bot

[2016-05-02 20:23] #2810 closed

[2016-05-03 11:32] terpinter opened #2857 "How to write in Latex?"
I tried several way to display latex, in the text, do you have any idea? Thank you :D

[2016-05-03 12:23] jdhoek opened #2858 "[Firefox] Multiline messages hidden by overflow in input area"
In Mattermost 2.2.0 (installed as part of GitLab's 8.7.1 omnibus release) I am having a problem with entering multiline messages in Firefox. As soon as the number of lines exceeds the height of the input area, a scrollbar appears (as expected), but whenever any text is typed **anywhere** in the message, the scroll position is reset to the top, effectively hiding anything below the first six or sev

[2016-05-03 12:32] aabergaa opened #2859 "Deleteing posts is now very non-user friendly"
If serveral posts are made by an individual user in a time frame close enough that they show up in a grouping of messages, it is impossibly difficult to get the mouse over the [...] to select delete unless you start at the last one in the grouping and work your way up. This is not usable. One used to be able to hover over individual messages in a grouping and the [...] would be direclty accessible

[2016-05-03 13:08] lindy65 commented on #2557
Hi @robertselberg, this has been fixed on master.  Could we have your help testing on master to make sure it is fixed for you too?

[2016-05-03 13:32] lfbrock commented on #2859
Hi @aabergaa, what browser are you using, and can you provide screenshots?

[2016-05-03 13:42] aabergaa commented on #2859
I am using firefox.

I seem to be having issues uploading screenshots - it says Something went really wrong and we can't process that file.

[2016-05-03 13:42] lfbrock commented on #2857
Hi @terpinter, you should be able to display latex by adding "latex" beside the first word in a code block. The screenshot shows how to type it in the textbox, and above shows how it looks when it's posted. It was implemented by a community member and I think it might only work properly for equations right now, but we would be open to improvements if someone else wants to work on it.

<img width="

[2016-05-03 13:47] terpinter commented on #2857
thank you, i'll look into it what can i do. Seems it uses KaTeX? Maybe I can help further...

[2016-05-03 13:52] lfbrock commented on #2859
How large a window size are you using? And is this effect limited to a certain window size, or does it happen no matter how large/small you make the window?

If you can get a screenshot to upload, maybe by saving it as a file and uploading it as a file that would be ideal, we're having a hard time reproducing this issue.

[2016-05-03 13:53] lfbrock commented on #2857
Thanks, that would be great :)

[2016-05-03 13:54] aabergaa commented on #2859
I am trying to upload a file, and the window size doesn't matter one bit. When I try in internet exploere, the [...] shows up even lower and makes it even more difficult to click.

[2016-05-03 13:59] lfbrock commented on #2859
That's strange, here's what it looks like for me (the [...] appears beside the message on hover).

<img width="741" alt="screenshot 2016-05-03 09 59 01" src="https://cloud.githubusercontent.com/assets/9354841/14985494/af37941c-1115-11e6-8b40-4afd80bea6f0.png">

[2016-05-03 14:21] lfbrock commented on #2858
Hi @jdhoek, I think this has [already been fixed on master](https://mattermost.atlassian.net/browse/PLT-2190) so the fix will be in the v3.0 release May 16th.

[2016-05-03 14:27] aabergaa commented on #2859
I recall that's what it was like for me until I upgraded to 2.2.0.

[2016-05-03 14:35] jdhoek commented on #2858
Looks like the same issue. Sorry for the duplicate; this one was a bit hard to search for in the issue list.

[2016-05-03 14:48] aabergaa commented on #2859
finally got it to upload:
![bug report -mattermost](https://cloud.githubusercontent.com/assets/12056816/14987082/2f9a6a6e-1114-11e6-95e4-9ec669a9c14c.jpg)

[2016-05-03 15:18] #2857 closed

[2016-05-03 15:43] lfbrock commented on #2859
@aabergaa, can you go to Main Menu > About and copy the information you see there?

[2016-05-03 15:47] aabergaa commented on #2859
I assume the About Mattermost item, as there is no simple "about". Here it is:

Mattermost Team Edition
Version:
2.2.0
Build Number:
6671
Build Date:
Fri Apr 15 18:40:19 UTC 2016
Build Hash:
8e883ad2f516820942cc0131241268c1ea909ff3

[2016-05-03 15:52] lfbrock commented on #2859
And can you let us know what operating system you're on, and the version of the operating system as well as the version of firefox?

[2016-05-03 16:00] aabergaa commented on #2859
firefox 45.0.1
IE 11.0.9600.18282CO (also has same issue)
Running on Windows 7 Enterprise SP1

Also to note, I just checked inside a VM X-forward of Firefox from a minimal Centos7.2 install and it looks as it should, with [...] and the arrow a lot small right next to the message I highlight, so this is a windows OS targeted issue.

[2016-05-03 18:26] lfbrock commented on #2858
No worries, thanks for bringing it up :)

[2016-05-03 18:26] #2858 closed

[2016-05-03 18:28] lfbrock commented on #2346
Hi @karlbateman, I think this issue may have been fixed on master and should be fixed in the v3.0 release May 16th. If you still see the issue after the update, please re-open this?

[2016-05-03 18:28] #2346 closed

[2016-05-03 18:42] #2791 closed

[2016-05-03 18:45] lfbrock commented on #2677
Created a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-2789

[2016-05-03 18:45] #2677 closed

[2016-05-03 18:55] asaadmahmoodspin commented on #2859
I feel like either it's cache or something else. If possible can you inspect the reply icon and see if the svg has the width/height set.
I just tested it out on Windows 7 firefox 44 (browserstack).

![screen shot 2016-05-03 at 11 52 12 pm](https://cloud.githubusercontent.com/assets/11034289/14994600/227deb8c-118a-11e6-9e34-50a2f1a0dbcb.png)

[2016-05-03 19:02] aabergaa commented on #2859
Inspecting in firefox I had no width or height variables. I added them in the css sectoin and it looks as it should. However, do note that prior to noticing this issue I had not used IE to do any testing of it and it defaulted to the overly large sizes that made things not appear correctly. And a refresh of the firefox will not keep the manully entered variables (widht/height) from the inspect fea

[2016-05-03 19:48] aabergaa commented on #2859
Oddly restarting firefox and IE seem to have fixed the issue, but I'm not sure why it would have shown as it did to begin with if I had never viewed it in IE prior to testing after discovering a problem in firefox.
I'll close the issue.

[2016-05-03 19:48] #2859 closed

[2016-05-04 00:17] asaadmahmoodspin commented on #2859
Glad it's resolved. 👍🏻

[2016-05-04 07:37] usmanarif opened #2874 "Issue while running test case"
Hello all,

While running the test case for Post API i.e. the file **"api/post_test.go" **  using command  **"go test post_test.go"** I am getting the below error:

Also on running the **make test** command, I am getting below error:

I am compiling the code using "make run" and the application is running fine. Just getting the error while running the test case.
Any suggestion is highly appreciate

[2016-05-04 12:34] nszceta opened #2878 "403 Forbidden on http://docs.mattermost.com/install/upgrade-guide.html"
http://docs.mattermost.com/install/upgrade-guide.html
403 Forbidden

Code: AccessDenied
Message: Access Denied
RequestId: 999A06FD06AC60FF
HostId: RCZqEUGvb+AH3DW8+8I0Ideg9aLqzJtdVK9utLn7BoJ2LnWmFFVN4P+wvA6KEc2T
An Error Occurred While Attempting to Retrieve a Custom Error Document

Code: AccessDenied
Message: Access Denied