[2019-04-22 22:59] renatopeterman commented on #10582
@jasonblais Awesome! No problem, just let me know when you have some feedback.

[2019-04-23 05:07] JtheBAB commented on #10584
The biggest change between 4.1 and 3.2 was the electron build. Perhaps a issue with the electron build that 4.2 is using?

[2019-04-23 07:43] esethna opened #10676 "Write an automated test using Cypress for "No Status on a System Message""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-23 08:22] jespino commented on #10645
@tengis617 is taking care of this in the PR #10674

[2019-04-23 08:23] jespino commented on #10647
@tengis617 is taking care of this in the PR #10673

[2019-04-23 08:24] jespino commented on #10653
@liusy182 is taking care of this in the PR #10675

[2019-04-23 08:40] saturninoabril commented on #10653
Thanks @liusy182!
Closing.

[2019-04-23 08:40] #10653 closed

[2019-04-23 08:40] jespino commented on #10653
Closed by @liusy182

[2019-04-23 10:45] kblaschke commented on #10671
Some further information that may help, I debugged the request with Delve.
Stack:
[code]
Locals in mux.ServeHTTP:
[code]

[2019-04-23 12:21] kblaschke commented on #10671
After some additional debugging, I found out that the setting "ServiceSettings.WebserverMode" was set to "disabled". In that case, web.InitStatic() doesn't register any routes, not even for / and /error, which then triggers the redirect loop.

IMHO, two possible solutions to this annoying problem are possible. Either remove the 404 error redirect and just return a blank page if WebserverMode is se

[2019-04-23 12:40] #10647 closed

[2019-04-23 13:30] jprusch opened #10679 "AllowedUntrustedInternalConnections does not respect settings in 5.10"
#### Summary
AllowedUntrustedInternalConnections does not respect settings in 5.10

#### Steps to reproduce
1. Configure IP, hostname or CIDR settings for AllowedUntrustedInternalConnections
2. Restart MM server
3. Open a channel which retrieves avatar images from one of the IPs, hostnames or CIDRs set to be allowed

#### Expected behaviour
The avatars are displayed

#### Observed behavior (that a

[2019-04-23 15:49] amyblais commented on #10679
@svelle / @esethna Do you know if there is a bug here / if this is a known issue?

[2019-04-23 15:49] amyblais commented on #10671
@svelle Do you know about this if there is a bug here?

[2019-04-23 17:57] esethna opened #10681 "[MM-15228] Do not hide profile pic in consecutive bot account posts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-23 17:57] esethna opened #10682 "[MM-14968] If a bot has a long username the bot tag can get truncated in Reply thread"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-23 18:12] esethna opened #10683 "[MM-14727] Send a DM to bot creator that informs them to add the bot to a team/channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-23 20:18] esethna opened #10684 "Images in GitLab issues are sometimes broken in Mattermost"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-23 20:27] UberPinguin commented on #10584
Hi @amyblais ,
The server is 5.7.0. I don't have access to the server's logs, but I can ask their admin to check while I try connecting.

[2019-04-24 08:30] #10616 closed

[2019-04-24 09:46] hanzei commented on #10410
Fixed with https://github.com/mattermost/mattermost-server/pull/10634

[2019-04-24 09:46] #10410 closed

[2019-04-24 10:11] hanzei commented on #10642
Thanks @EmilLuta!

[2019-04-24 10:16] hanzei commented on #10623
Fixed with https://github.com/mattermost/mattermost-server/pull/10631

[2019-04-24 10:16] #10623 closed

[2019-04-24 11:50] esethna opened #10686 "[MM-15218] Add support for Interactive Dialog with no elements"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-24 12:57] hanzei commented on #4554
Hey @BK1603,

No problem. Thank you very much for working on this issue! :+1:

Do you have some code to share so a new contributor would have an easier starting point?

[2019-04-24 13:13] harshilsharma63 opened #10687 "Inline Images In Markdown Preview Don't Get Expanded"
#### Summary
When using inline image via markdown and switching to markdown preview, the message areas remains the same size irrespective of the image size, causing the image to appear in a narrow slit with scrollbars.

#### Steps to reproduce
1. Make sure you markdown preview is enabled
1. type a message with large inline image via markdown - `![make it so](https://i.stack.imgur.com/MNeE7.jpg)` f

[2019-04-24 13:30] amyblais commented on #10595
Hi @jake-tulip,

I'll close this issue for now as there haven't been updates for a while.

Please re-open this issue if you have any further questions.

Thank you for the feedback,

[2019-04-24 15:18] esethna opened #10688 "teamId in request is empty for interactive messages in direct message channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-24 16:40] jake-tulip commented on #10595
@amyblais do you know if this is an issue that is being considered by Mattermost Org at all, or is it abandoned as a possible change?

[2019-04-24 16:44] amyblais commented on #10595
Hi @jake-tulip,

Yes, this will be taken into consideration as we have plans to work on improving administrator on-boarding experience and our privacy policy.

I'll add some of our PMs to this thread if they have further details to add: @jasonblais @wiersgallak

[2019-04-24 16:46] amyblais commented on #10687
Thank you @harshilsharma63, opened a ticket here: https://mattermost.atlassian.net/browse/MM-15273.

[2019-04-24 19:28] #10655 closed

[2019-04-24 19:59] kkirsche opened #10689 "Whitepage After Uploading Plugin With Invalid settings_schema value"
#### Summary
White page occurs after uploading server only plugin

#### Steps to reproduce
Mattermost Version: 5.10.0
Database Schema Version: 5.10.0
Database: postgres
Build Hash: dc70ab42034da17eaf23be5a86abae81b3f1cd21
EE Build Hash: none
Webapp Build Hash: b95e32fa7719c0d9c71650666f06a64e17fa659b
Build Date: Tue Apr 16 23:13:47 UTC 2019

Steps:
1. Build the plugin at https://github.com/kkirsch

[2019-04-24 20:02] andresoro commented on #10686
So in api4/integration_action.go, the openDialog handler checks for elements like so:
[code]

To satisfy this we could simply drop that statement and allow dialogs to have no elements. I could add a separate test case for this. As far as I know so far, api4/integration_action.go is the only place the check for elements is made.

[2019-04-24 20:09] esethna opened #10690 "[Help Wanted] [MM-15276] Migrate "Team.Update" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-24 20:09] esethna opened #10691 "[Help Wanted] [MM-15275] Migrate "Team.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-24 20:09] esethna opened #10692 "[Help Wanted] [MM-15274] Migrate "Team.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-24 20:28] hanzei commented on #10686
That is correct @andresoro.

As a bonus task: I would be great if you would write a simple integrations that creates such dialog. That would make testing much easier. But this is just optional.

[2019-04-24 20:36] andresoro commented on #10686
Apologies if I’m asking for too much hand holding, but how should I write the integration? An example in the codebase would set me on track.

[2019-04-24 20:54] hanzei commented on #10686
No problem. You just use [Matterpoll](https://github.com/matterpoll/matterpoll), a plugin that creates polls. It uses Interactive Dialogs to add new options to a poll. You can modify the dialog create in https://github.com/matterpoll/matterpoll/blob/master/server/plugin/api.go#L273-L289 to have no element and use this for testing.

[2019-04-24 21:45] therealpuneeth20 commented on #10690
I'd like to take this up.

[2019-04-24 21:46] hanzei commented on #10690
Thanks @therealpuneeth20 :+1:

[2019-04-24 21:59] hanzei commented on #10686
After some investigation I think changes to the webapp and mobile app will be needed, too.

[2019-04-25 02:33] tengis617 commented on #10692
@jespino i'll take this.

[2019-04-25 03:16] liusy182 commented on #10691
working on this

[2019-04-25 03:40] scottleedavis commented on #10640
I had originally misunderstood this issue.  I had thought ephemeral posts were not working for bots....   it is the icon and the username that should be updated.

<img width="329" alt="Screen Shot 2019-04-24 at 8 38 32 PM" src="https://user-images.githubusercontent.com/2914443/56708330-1ea77600-66d1-11e9-9b99-81f560f0d34a.png">

[2019-04-25 04:45] harshilsharma63 commented on #10687
Thanks @amyblais!

[2019-04-25 05:05] scottleedavis commented on #10640
@jasonblais Is it out of scope to attempt to have 'BOT' as part of the username?  user popover?

[2019-04-25 06:15] #10619 closed

[2019-04-25 06:17] #10645 closed

[2019-04-25 06:19] #10614 closed

[2019-04-25 06:39] hanzei commented on #10640
This issue was wrongly labelled. The server side is fine, but this needs changes in both apps.

[2019-04-25 08:56] jespino commented on #9501
Fixed by #2435 and #806

[2019-04-25 08:56] #9501 closed

[2019-04-25 09:22] scottleedavis commented on #10640
<img width="329" alt="Screen Shot 2019-04-24 at 8 38 32 PM" src="https://user-images.githubusercontent.com/2914443/56725065-03545f00-6701-11e9-8fcf-d1b0d6c814b2.png">

[2019-04-25 09:23] scottleedavis commented on #10640
<img width="402" alt="Screen Shot 2019-04-25 at 2 22 36 AM" src="https://user-images.githubusercontent.com/2914443/56725088-0ea78a80-6701-11e9-913a-e6a9e9debff8.png">

[2019-04-25 09:24] jespino commented on #10449
Fixed by mattermost/mattermost-webapp#2577

[2019-04-25 09:24] #10449 closed

[2019-04-25 09:36] hanzei commented on #10289
I will take care of this.

[2019-04-25 10:16] hanzei commented on #10286
I will work on this

[2019-04-25 11:13] #10473 closed

[2019-04-25 11:36] saturninoabril commented on #10473
PR merged.  Closing now.

Thanks @prapti!

[2019-04-25 12:35] it33 opened #10698 "Channel switcher auto-complete doesn't function properly when auto-completing the name of a person who is the first person named in a group DM channel - Mattermost Server 5.10"
#### Summary
Auto-complete doesn't function properly when auto-completing the name of a person who is the first person named in a group DM channel

#### Steps to reproduce
- Create multiple group DM channels with PERSON A listed first
- Switch from viewing user names to full names under display settings
- Create more group DM channels with PERSON A listed
- CTRL+K to switch channels
- Start to typ

[2019-04-25 12:44] svelle commented on #10679
Haven't seen this yet, but will try to look further into it.

[2019-04-25 12:52] kkirsche commented on #10689
After investigating this more in comparison to https://github.com/mattermost/mattermost-plugin-sample this is being caused by Mattermost not validating the settings schema provided by the plugin. By updating the example plugin's setting schema to the following:

[code]

This issue no longer occurs.

As a result, Mattermost should validate the plugin.json manifest and ensure that it is valid / meet

[2019-04-25 12:54] amyblais opened #10699 "Mattermost v5.11"
You can find key dates for v5.11 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### May 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### May 12th: Release Build Cut
The final

[2019-04-25 13:05] amyblais commented on #10584
Hi @UberPinguin, this looks similar to this report https://github.com/mattermost/desktop/issues/965 and the reporter submitted a PR here https://github.com/mattermost/desktop/pull/966. We're working on reviewing the PR and will make a decision if we need to cut a dot release for it.

[2019-04-25 13:29] #10690 closed

[2019-04-25 14:42] amyblais commented on #10641
Hi @yth0625, do you see the same issue if you try with this suggestion above https://github.com/mattermost/mattermost-server/issues/10641#issuecomment-484718417?

[2019-04-25 14:57] amyblais commented on #10689
@hanzei Do you know if there is a bug here that I can open a bug ticket for?

[2019-04-25 15:01] prapti commented on #10473
Thank you @saturninoabril and @sudheerDev !

[2019-04-25 16:48] esethna opened #10702 "Add a config.json setting for minimum username length"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 17:34] therealpuneeth20 commented on #10652
PR: #10703 . Please remove `Up For Grabs` Label.

[2019-04-25 17:37] CooperAtive commented on #10586
Sorry for the delay, had some family visit and was taking them around.

I believe that test can be implemented, but it would not actually test the hover behavior. I'll add that test and open the PR.

[2019-04-25 18:25] saturninoabril commented on #10586
No worries and thanks

[2019-04-25 18:32] therealpuneeth20 commented on #10650
worked on this. PR: #10704 . Please remove `Up For Grabs` Label.

[2019-04-25 18:36] therealpuneeth20 commented on #10620
worked on this. PR - #10705 . Please review `Up For Grabs` Label.

[2019-04-25 18:51] therealpuneeth20 commented on #10621
worked on this. PR - #10706 . Please remove `Up For Grabs` label

[2019-04-25 19:03] therealpuneeth20 commented on #10651
worked on this. PR - #10707 . Please remove `Up For Grabs` label.

[2019-04-25 19:09] therealpuneeth20 commented on #10649
worked on this. PR - #10708 . Please remove `Up For Grabs` Label.

[2019-04-25 19:13] therealpuneeth20 commented on #10648
worked on this. PR - #10709. Please remove `Up For Grabs` Label.

[2019-04-25 19:32] therealpuneeth20 commented on #10646
worked on this. PR - #10710 . Please remove `Up For Grabs` label.

[2019-04-25 19:51] therealpuneeth20 commented on #10643
worked on this. PR - #10711 . Please remove `Up For Grabs` label.

[2019-04-25 20:35] esethna opened #10712 "[MM-15305] Migrate "Preference.CleanupFlagsBatch" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10713 "[MM-15304] Migrate "Preference.DeleteCategoryAndName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10714 "[MM-15303] Migrate "Preference.DeleteCategory" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10715 "[MM-15302] Migrate "Preference.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10716 "[MM-15301] Migrate "Preference.IsFeatureEnabled" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10717 "Migrate "Preference.PermanentDeleteByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10718 "[MM-15299] Migrate "Preference.GetAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10719 "[MM-15298] Migrate "Preference.GetCategory" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10720 "[MM-15296] Migrate "Preference.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:35] esethna opened #10721 "[MM-15297] Migrate "Preference.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10722 "[Help Wanted] [MM-15295] Migrate "Command.AnalyticsCommandCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10723 "[Help Wanted] [MM-15294] Migrate "Command.Update" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10724 "[Help Wanted] [MM-15293] Migrate "Command.PermanentDeleteByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10725 "[Help Wanted] [MM-15292] Migrate "Command.PermanentDeleteByTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10726 "[Help Wanted] [MM-15291] Migrate "Command.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10727 "[MM-15290] Migrate "Command.GetByTrigger" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10728 "[Help Wanted] [MM-15289] Migrate "Command.GetByTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10729 "[MM-15288] Migrate "Command.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:36] esethna opened #10730 "[Help Wanted] [MM-15287] Migrate "Command.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-25 20:44] jespino commented on #10722
@therealpuneeth20 will take care of this

[2019-04-25 20:45] jespino commented on #10723
@therealpuneeth20 will take care of this

[2019-04-25 20:45] jespino commented on #10724
@therealpuneeth20 will take care of this

[2019-04-25 20:45] jespino commented on #10725
@therealpuneeth20 will take care of this

[2019-04-25 20:46] jespino commented on #10726
@therealpuneeth20 will take care of this

[2019-04-25 20:46] jespino commented on #10727
@therealpuneeth20 will take care of this

[2019-04-25 20:46] jespino commented on #10728
@therealpuneeth20 will take care of this

[2019-04-25 20:46] jespino commented on #10729
@therealpuneeth20 will take care of this

[2019-04-25 20:47] jespino commented on #10730
@therealpuneeth20 will take care of this

[2019-04-26 00:26] kkirsche commented on #10689
@amyblais @hanzei it looks like the validation in

https://github.com/mattermost/mattermost-webapp/blob/81589f29cc05056cdbe21485c71dbd5e304c241a/components/admin_console/admin_sidebar/admin_sidebar.jsx#L239

Needs to be updated to do complete validation of settings. It seems like, if I'm reading the code right, the failure is on:

[code]

[2019-04-26 02:36] hanzei commented on #10689
@amyblais That's defiantly a bug.

@kkirsche Would you be open on submitting a PR to fix this?

[2019-04-26 05:41] #10652 closed

[2019-04-26 05:44] #10649 closed

[2019-04-26 06:42] yth0625 commented on #10641
@amyblais Yes, I used admin access token and general user_id, but an error occurs.

[2019-04-26 07:28] #10646 closed

[2019-04-26 09:10] jespino commented on #10641
@yth0625 can you use this new remote CLI command mmctl (https://github.com/mattermost/mmctl), login in your account as a system admin (using `mmctl auth login` command), and then run `mmctl permissions show system_admin` and verify that `create_post_ephemeral` is granted there? if you are using linux, you can do it easily with `mmctl permissions show system_admin | grep ephemeral`.

[2019-04-26 09:20] #10596 closed

[2019-04-26 12:22] esethna opened #10733 "Build a 1-click Mattermost app on DigitalOcean marketplace (DigitalOcean Droplets)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-26 12:32] esethna opened #10734 "test"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-26 12:32] #10734 closed

[2019-04-26 13:16] amyblais commented on #10689
Bug ticket here: https://mattermost.atlassian.net/browse/MM-15309.

[2019-04-26 14:32] kkirsche commented on #10689
Let me take a look at how difficult it is to get a developer instance setup of mattermost in terms of building so I can do the appropriate testing. I'm not opposed to submitting a PR to fix this, I'm just not sure if the build system is sufficiently complex that it'd be faster / more efficient for someone else to run with it.

[2019-04-26 15:34] #10620 closed

[2019-04-26 16:18] #10692 closed

[2019-04-26 16:20] esethna opened #10735 "On OS X `make stop-server` leaves plugin processes running"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-26 16:46] amyblais commented on #10698
Hi @it33,

Is this reproducing for you consistently and is there any other additional information you might be able to share (e.g. OS and version)?

I wasn't able to reproduce this and our QAs weren't able to reproduce it so far either.

[2019-04-26 18:42] andresoro commented on #10686
While my knowledge of react is pretty limited, I found that the Elements prop for the Interactive Dialog component is a required prop [mattermost-webapp/components/interactive_dialog/interactive_dialog.jsx](https://github.com/mattermost/mattermost-webapp/blob/c57779a31b7164565f5d2fd9d234eebb6537009b/components/interactive_dialog/interactive_dialog.jsx#L20).

To support interactive dialog with no e

[2019-04-26 19:16] hanzei commented on #10686
That would be awesome! Thanks @andresoro :+1:

[2019-04-26 19:20] jasonblais commented on #10320
@jespino wondering if this is ready for a PR or should we add the `Up For Grabs` label back?

[2019-04-26 19:20] #10651 closed

[2019-04-26 19:29] hanzei commented on #5196
@hmhealey Would you please check if this ticket is still valid and if so make changes to the text accordingly?

[2019-04-26 19:31] hanzei commented on #5267
@jasonblais Do you know if this problem still exists?

[2019-04-26 19:35] hanzei commented on #6123
@esethna Is this ticket still valid or is this covered by infinity scroll?

[2019-04-26 19:38] hanzei commented on #6699
This seams to be fixed. @jasonblais Would you please confirm as you are the reporter of the ticket?

[2019-04-26 19:39] hanzei commented on #6962
Making this avaible for the public again.

[2019-04-26 19:41] hanzei commented on #7512
@crspeller Is this something we still want?

[2019-04-26 19:41] hanzei commented on #7513
@cpanato Is this ticket still valid?

[2019-04-26 19:42] hanzei commented on #7518
@cpanato Is this ticket still valid?

[2019-04-26 19:43] hanzei commented on #7519
@cpanato Is this still valid or do you want to use circle ci for this?

[2019-04-26 19:44] hanzei commented on #7519
Closing as the original ticket got closed

[2019-04-26 19:44] #7519 closed

[2019-04-26 19:47] hanzei commented on #7721
Closing as the core team works on this. See https://github.com/mattermost/desktop/pull/945 for the progress.

[2019-04-26 19:47] #7721 closed

[2019-04-26 19:50] hanzei commented on #8271
@jwilander Do you know if this ticket is still valid? I thought I saw a PR that fixed this.

[2019-04-26 19:54] hanzei commented on #8664
Fixed by core team

[2019-04-26 19:54] #8664 closed

[2019-04-26 19:55] hanzei commented on #8874
@amyblais Do you got update on this topic?

[2019-04-26 19:56] hanzei commented on #8885
This is fixed on `master`.

[2019-04-26 19:56] #8885 closed

[2019-04-26 19:57] hanzei commented on #8886
@onlyjob What do you think about the proposal above? https://github.com/mattermost/mattermost-server/issues/8886#issuecomment-470191855

[2019-04-26 20:00] hanzei commented on #9155
Hey @letsila,

Are you still interested in working on this issue?

[2019-04-26 20:02] jwilander commented on #8271
I don't think we're caching the metadata yet. I know the browsers cache the images though. @hmhealey will know better

[2019-04-26 20:03] hanzei commented on #9297
This was fixed with the new scrolling overhaul

[2019-04-26 20:03] #9297 closed

[2019-04-26 20:08] hanzei commented on #9421
Hey @longsleep @fbartels,

Sorry for the late answer. Would you be open on trying to repo this bug on the latest server?

[2019-04-26 20:15] hanzei commented on #9452
Closing this one, as 3 out of the 4 created ticket are closed.

[2019-04-26 20:15] #9452 closed

[2019-04-26 20:50] kkirsche commented on #10689
@hanzei / @amyblais

PR submitted:
https://github.com/mattermost/mattermost-webapp/pull/2715

[2019-04-26 21:06] jasonblais commented on #9758
Thank you @kmandagie! PR has been merged (https://github.com/mattermost/mattermost-mobile/pull/2663), closing the issue

[2019-04-26 21:06] #9758 closed

[2019-04-26 21:08] jasonblais commented on #6699
@hanzei Not yet fixed, attached screenshot is from Mattermost 5.10

![image](https://user-images.githubusercontent.com/13119842/56836635-eb3a2800-6845-11e9-91af-df0d40ee7bfa.png)

[2019-04-26 21:08] jasonblais commented on #5267
As far as I know, it is

[2019-04-26 23:07] onlyjob commented on #8886
Does not look good enough... Source code may not be used exclusively to create compiled versions...
Source licensing should be unambiguous regardless of intent to produce binaries or who is producing them. License that only allows to compile is non-free...

[2019-04-27 03:16] scottleedavis commented on #10681
Interested in this one.  :)

[2019-04-27 03:31] letsila commented on #9155
Hi @hanzei. Yes I am.

[2019-04-27 05:24] hanzei commented on #9507
Hey @steveperjesi,

Just checking if you are still working on this and if you have questions.

[2019-04-27 05:25] hanzei commented on #9541
Hey @waseem18,

I want to gently remind you about this ticket. I know are currently working on the Jenkins Plugin, but I want to check if you are still planing to work on this ticket.

[2019-04-27 05:27] hanzei commented on #9507
Hey @steveperjesi,

Just checking if you are still working on this and if you have questions.

[2019-04-27 05:35] hanzei commented on #9791
@amyblais Do you have update about this topic? Is there a JIRA ticket to track this?

[2019-04-27 05:37] hanzei commented on #9155
Great! Let me know if you have any questions @letsila

[2019-04-27 05:38] fbartels commented on #9421
Hi @hanzei,

sure. Which version do you mean with latest server? 5.10.0 or head of the git repository?

[2019-04-27 05:44] hanzei commented on #9421
`v5.10.0` should be fine.

[2019-04-27 05:45] #10648 closed

[2019-04-27 05:50] hanzei commented on #10038
Hey @sapnasivakumar,

Just want to check if you are still working on this. No problem, if you have to pass this issue.

[2019-04-27 05:52] hanzei commented on #10069
@jwilander What do you think about closing this one, as there arn't to many HWs on the GH plugin repo? And using this force, there should be a ticket for every plugin similar to this one, which doesn't sound ideal.

[2019-04-27 05:53] hanzei commented on #10075
@sapnasivakumar Also a reminder about this ticket.

[2019-04-27 05:54] hanzei commented on #10121
Making this one available for the public again due to inactivity.

[2019-04-27 05:54] hanzei commented on #10130
@amyblais Do you have updates on this ticket?

[2019-04-27 05:55] hanzei commented on #10145
Making this one available for the public again due to inactivity.

[2019-04-27 05:56] hanzei commented on #10146
Making this one available for the public again due to inactivity.

[2019-04-27 05:58] waseem18 commented on #9541
@hanzei At this point I don't think I'll be able to work on this ticket anytime soon.

[2019-04-27 11:56] sapnasivakumar commented on #10075
@hanzei I'll work on it in the next 2 days

[2019-04-27 11:56] sapnasivakumar commented on #10038
@hanzei I'll work on it in the next 2 days

[2019-04-27 15:03] hanzei commented on #10075
Great! Thanks for the heads up @sapnasivakumar :rocket:

[2019-04-27 16:32] hanzei commented on #9541
Hey @waseem18,

Thanks for the head up. Let's make this available for the public again. And if you still want to pick this up after you are done with the jenkins plugin, just tell me!

[2019-04-27 16:34] hanzei commented on #10161
@enahum Do you have feedback on the thoughts from @courtneypattison above?

[2019-04-27 16:44] enahum commented on #10161
We were looking at AccessoryView and there is a library from wix to accomplish the same result but none of them were helpful at the time.

Perhaps building a native module is the way to go, haven’t looked into this for almost a year, so no idea what options are out there

[2019-04-27 16:54] hanzei commented on #10185
Hey @courtneypattison,

How are you doing with this ticket? Did the test server work for you? Do you have further questions?

[2019-04-27 16:54] hanzei commented on #10154
Hey @ajeethkannan,

Just want to check out, if you are still working on this issue? Do you have any questions?

[2019-04-27 16:54] hanzei commented on #10156
Hey @MirlanMaksv,

How is your work on this ticket going? Do you have questions?

[2019-04-27 16:56] hanzei commented on #10195
@migbot What do you think about the proposal above?

[2019-04-27 16:57] hanzei commented on #10232
Hey @Willyfrog,

How are you doing with this ticket? Do you have any questions?

[2019-04-27 16:58] hanzei commented on #10234
Hey @amassaro,

Are you still working on this issue?

[2019-04-27 17:01] hanzei commented on #10244
Hey @ookull,

This issue has been fixed on `master` and will be fixed in the next release of the desktop app.

Closing this one.

[2019-04-27 17:01] #10244 closed

[2019-04-27 17:03] hanzei commented on #10274
Making this one available for the public again due to inactivity.

[2019-04-27 17:10] hanzei commented on #10276
Hi @bkmgit,

Just wanting to check if you are still working on this ticket.

[2019-04-27 17:18] hanzei commented on #10336
Hey @nimrodshn,

Just checking how your work is going. Do you have any questions?

[2019-04-27 17:29] hanzei commented on #10337
Fixed with https://github.com/mattermost/mattermost-server/pull/10508

[2019-04-27 17:29] #10337 closed

[2019-04-27 22:06] hanzei commented on #10550
The bug fix will be shipped with Mattermost `v5.12`.

[2019-04-27 22:06] #10550 closed

[2019-04-27 22:13] hanzei commented on #10589
This got fixed with https://github.com/mattermost/mattermost-webapp/pull/2668

[2019-04-27 22:13] #10589 closed

[2019-04-27 22:15] hanzei commented on #10610
@jasonblais Would you please take a look at the above question?

[2019-04-27 22:16] hanzei commented on #10618
Fixed with https://github.com/mattermost/mattermost-server/pull/10666

[2019-04-27 22:16] #10618 closed

[2019-04-27 22:17] #10472 closed

[2019-04-27 22:18] saturninoabril commented on #10472
Thank you @prapti for your contribution!

[2019-04-28 02:33] jasonblais commented on #10610
Great! Thanks @liusy182 for the heads up (and Hanzei for the ping). I've tested and indeed can no longer reproduce. Closing 👍

[2019-04-28 02:33] #10610 closed

[2019-04-28 05:55] therealpuneeth20 commented on #10654
I'd like to take this up.

[2019-04-28 06:05] hanzei commented on #10654
Great, thanks @therealpuneeth20. :+1:  As allays: Let us know if you have any questions.

[2019-04-28 06:16] hanzei commented on #10698
I've run into the same problem.

Environment:
- Linux desktop app
- https://community.mattermost.com
- `v5.10.0`

Steps to repo:
- Open a DM channel to `@remindbot` and let it stay on the LTS
- Open the channel switcher in **any** channel.
- Type `rem`

Observed behaviour:
![Screenshot from 2019-04-28 07-55-01](https://user-images.githubusercontent.com/16541325/56859483-ee3f3080-698b-11e9-87fc-d1c

[2019-04-28 06:18] MirlanMaksv commented on #10156
Hi @hanzei, yep I am working on it. Yes, I have a question regarding generic [Providers](https://github.com/mattermost/mattermost-webapp/blob/3e8b86b678124fd37508252bbd8b52c8c8a7569e/components/suggestion/generic_user_provider.jsx#L70). That class uses an `autocompleteUsers` action from mm-webapp, which internally uses `dispatch` and `getState` from store directly. But using `autocompleteUsers` fr

[2019-04-28 06:20] hanzei commented on #10156
@MirlanMaksv Thanks for the heads up :+1:

@sudheerDev Would please take a look at the above question?

[2019-04-28 06:26] hanzei commented on #9599
Hey @migbot,

Just want to check how you work on this ticket is going? It seams like the PR in the react-native repo has gotten stale. Do you plan to update the PR or fix this in another way?

[2019-04-28 06:30] hanzei commented on #10168
Hey @amassaro,

Just checking if you are still working on this? Can we help with anything?

[2019-04-28 10:06] hanzei commented on #10286
@jasonblais A few questions about this ticket:

When should this message be posted? When a new slash command is triggered?

What do you think about this solution?
![Screenshot from 2019-04-28 12-05-14](https://user-images.githubusercontent.com/16541325/56862693-e7c1b080-69ad-11e9-825a-9bbff61ac1a8.png)

I would like to also add a dialog with no elements manly as a preparation for https://github.co

[2019-04-28 21:35] andresoro commented on #10686
Hey @hanzei, so I've made the changes in the server and web-app to support interactive dialogs with no elements and I'm in the process of adding test cases. I am still a little confused with how to make an integration with Matterpoll. I forked it and made the change you suggested earlier but I am still unsure to see if it works or not.

[2019-04-28 21:39] hanzei commented on #10686
Hey @andresoro, thanks for the heads up! I can provide an example to test this by myself, if you want. I don't want to overburden you with figuring out how matterpoll works.

[2019-04-29 05:27] lycaste opened #10748 "cant find module “mattermost-redux/action/errors”"
#### Summary
cant find module “mattermost-redux/action/errors”

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
macos mojave10.14
node version 10.15
npm version：6.9.0
step 1：
git clone  mattermost-webapp
cd mattermost-webapp
make test
all tests are passed
step 2：
make run
then open the chrome with localhost：8065
chrome always loading
and console shows:
cant fin

[2019-04-29 06:04] prapti commented on #10575
Question on test step 5: does "sorted by newest at top" mean the the last pinned post (newest pinned) at the top of the pinned post list or the newest posted on the CENTER at top? I'm assume the latter?

[2019-04-29 06:42] saturninoabril commented on #10575
Yes, it's the latter - "the newest posted on the CENTER at top"

[2019-04-29 07:09] saturninoabril commented on #10440
PR merged. Thanks @thekiiingbob!

Closing this issue.

[2019-04-29 07:09] #10440 closed

[2019-04-29 08:20] #10728 closed

[2019-04-29 08:42] #10724 closed

[2019-04-29 10:45] lycaste commented on #10748
i download the https://releases.mattermost.com/5.10.0/mattermost-5.10.0-linux-amd64.tar.gz
copy the client folder to server floder
chrome console also show cant find module “mattermost-redux/action/errors”

[2019-04-29 10:56] sadohert opened #10750 "Team Override Scheme garbles `roles` property on Team `members` API call"
#### Summary
When a Team Override Scheme is applied to a team and the user membership of the team is accessed using REST endpoint `/api/v4/teams/{{team_id}}/members`, the `roles` property for each user is returned as gibberish

#### Steps to reproduce
* Create a new Mattermost Team.
* Request the members of the new team using `{{mattermost_host}}/api/v4/teams/{{team_id}}/members`
Note:  The new te

[2019-04-29 12:36] amyblais commented on #10750
Hi Stu, opened a bug ticket: https://mattermost.atlassian.net/browse/MM-15326.

[2019-04-29 12:36] #10750 closed

[2019-04-29 12:40] amyblais commented on #9791
No updates; there is an internal ticket open for this.

[2019-04-29 12:41] amyblais commented on #10130
No updates; there is an internal ticket open for this.

[2019-04-29 12:47] vincentbab opened #10751 "runtime error: slice bounds out of range"
#### Summary
runtime error: slice bounds out of range

#### Steps to reproduce
Write "://///" in a direct message

#### Expected behavior
Writing this message will lead to an error when retreiving posts of the channel
The error seems to be in markdown.parseURLAutolink
Here is the stack trace:
`Apr 29 10:56:06 localhost mattermost[4783]: {"level":"error","ts":1556535366.6278725,"caller":"app/server

[2019-04-29 13:25] esethna opened #10752 "UX defect: Sorting BOTs at the bottom of channel member list below offline users is not working"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-29 13:25] esethna opened #10753 "Don't let bots create other bot accounts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-29 13:35] hanzei commented on #10751
Thanks for the report @vincentbab. I was able to reproduce the issue.

Please note that this does **not** crash the server. This bug also has no implications for the end user.

@vincentbab Are you interested in working on fix for this bug?

[2019-04-29 13:40] jasonblais commented on #10286
Step 2: I'm actually not sure if this is needed. I don't remember the use case. So maybe we leave this one out for now.

Step 4: Yes, but I'm wondering if we should make this an ephemeral message given it has an email field.

For a dialog with no elements, I prefer the second option with only a single slash command to trigger a dialog. I'm 0/5 on the name of the parameter. Another option is `/dial

[2019-04-29 13:44] amyblais commented on #10751
Ticket: https://mattermost.atlassian.net/browse/MM-15328.

[2019-04-29 14:11] vincentbab commented on #10751
Unfortunately I have no experience in Golang so I won't be able to fix this issue myself.

The server does not crash indeed but there is an implication for the end user. You cannot get the history of the channel and if this message is in the last 30 messages the channel seems "broken". This behavior only happen if you refresh the page.

[2019-04-29 14:22] #10723 closed

[2019-04-29 14:27] grundleborg commented on #10525
@setpill were you using a System Admin account? In the default permissions configurations, System Admins can post to any channel on the entire system, regardless of membership. I haven't been able to replicate any issue with Mattermost allowing posting to channels when you don't have permission to.

[2019-04-29 14:30] jespino commented on #10642
@EmilLuta How is everything going? Let me know if you need any help :)

[2019-04-29 14:32] hanzei commented on #10751
Thank you for the detailed response @vincentbab  :+1:

[2019-04-29 14:32] jespino commented on #10644
@gupsho How is everything going? Let me know if you need any help :)

[2019-04-29 14:41] hanzei commented on #10286
Step 2: :ok:
Step 4: Is your concern that people fill this with personal data? At the end this is just a demo.

Let's go with `/dialog no-elements`.

[2019-04-29 14:54] #10157 closed

[2019-04-29 15:07] jasonblais commented on #10286
Step 4: Right. Someone may use the demo plugin as a sample for their own plugin. So even if it's just a demo plugin, we don't want to make it a best practice to post the output containing personal data into a channel.

[2019-04-29 15:18] hanzei commented on #10286
Step 4: My reason to post it as a "normal" message is that we can use the custom post type to show the data in this "black style", which is consistent with the other posts we make.

Let's defer this questions for later.

[2019-04-29 15:20] jasonblais commented on #10286
@hanzei We could just omit the email and post the other data. Gives an example for someone to output only part of the data back to the channel.

[2019-04-29 15:30] VolatianaYuliana commented on #10612
Hi! I'd love to work on this issue :)

[2019-04-29 15:33] hanzei commented on #10612
Hey @VolatianaYuliana,

Thanks for working on this! Let us know, if you have any questions.

[2019-04-29 16:07] #10730 closed

[2019-04-29 16:09] esethna opened #10754 "Bulk import process shouldn't abort due to a failed image import"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-29 16:32] amyblais commented on #9794
Hi @swood, letting you know that we've opened a Help Wanted issue here for our community to work on it: https://github.com/mattermost/mattermost-server/issues/10754.

Feel free to work on the issue if you want to and let us know any questions.

Closing this as a "duplicate",

[2019-04-29 16:32] #9794 closed

[2019-04-29 19:54] mcarpenterjr opened #10756 "Avatar and Images posted to chat are missing?"
#### Summary
Avatar and Images in chat are missing.

#### Steps to reproduce
Not sure if it is reproducible, this was occurring on 5.09 and I have since updated to 5.10

#### Expected behavior
Avatars and Images display as expected.

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant error messages and/or screenshots.

We both have custom avatars,

[2019-04-29 20:38] lisakycho commented on #10433
Hi, @jasonblais
yes I'm still getting errors.
I've tried to clean my build by removing the server/vendor, pulled from master and tried to `make` (to make the distributable file) again but still getting errors that it cannot find packages.

The reason I can't use the distributable file linked my hanzei is because if I make changes to these files there is no way I can test this without making a dist

[2019-04-29 21:45] hmhealey commented on #5196
I don't think this is needed any more. The markdown libraries have extensive tests for the HTML output, and we aren't changing the CSS that affects them any more. Are we good to close this, @jasonblais?

[2019-04-29 21:53] hmhealey commented on #8271
The custom emojis are sent down as part of the post metadata, and they're sent fairly aggressively, so I don't think it makes sense to cache them on the client at this point. We can probably close this.

[2019-04-29 22:09] lisakycho commented on #10682
Hi, I would like to attempt this one!
Quick question about making a bot to test with, would I need to make a bot similar to `mattermost-bot-sample-golang` or can is there a way to rename a bot?

[2019-04-29 22:33] amyblais commented on #10756
Hi @mcarpenterjr,

Are you using an image proxy? If yes, more information about troubleshooting this issue is here: https://docs.mattermost.com/administration/image-proxy.html#local-image-proxy.

[2019-04-30 02:31] jasonblais commented on #5196
Seems like the original concerns no longer apply. We can close. Thanks Hanzei and Harrison

[2019-04-30 02:31] #5196 closed

[2019-04-30 02:56] jasonblais commented on #10682
Thanks @lisakycho! And a great question. You can create a bot account by going to Main Menu > Integrations. Click on Bot Accounts to open a list of previously created bot accounts, if any. Then create a new bot account.

I updated the issue description as well.

Let me know if that helps you get started?

[2019-04-30 02:58] jasonblais commented on #10433
@hanzei Would you have insight based on the note above?

[2019-04-30 05:34] #10621 closed

[2019-04-30 05:35] #10640 closed

[2019-04-30 05:53] hanzei commented on #8271
@jwilander Are you fine with closing this one?

[2019-04-30 08:01] esethna opened #10759 "Write an automated test using Cypress for "Multi-team Logout""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 08:19] #10691 closed

[2019-04-30 08:54] esethna opened #10760 "Migrate "Post.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 08:54] esethna opened #10761 "Migrate "Post.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 08:54] esethna opened #10762 "Migrate "Post.Overwrite" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 08:54] esethna opened #10763 "Migrate "Post.Update" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 08:54] esethna opened #10764 "Migrate "Post.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 09:04] #10609 closed

[2019-04-30 09:10] #10725 closed

[2019-04-30 09:11] jespino commented on #10764
@therealpuneeth20 will take care of this

[2019-04-30 09:11] jespino commented on #10760
@therealpuneeth20 will take care of this

[2019-04-30 09:12] jespino commented on #10761
@therealpuneeth20 will take care of this

[2019-04-30 09:12] jespino commented on #10763
@therealpuneeth20 will take care of this

[2019-04-30 09:13] jespino commented on #10762
@therealpuneeth20 will take care of this

[2019-04-30 09:29] esethna opened #10765 "Migrate "Channel.Delete/Restore" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 09:29] esethna opened #10766 "Migrate "Channel.GetChannelUnread" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 09:29] esethna opened #10767 "Migrate "Channel.Update" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 09:29] esethna opened #10768 "Migrate "Channel.SaveDirectChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 09:29] esethna opened #10769 "Migrate "Channel.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 10:17] setpill commented on #10525
@grundleborg I verified that A) I did have System Admin level access to our testing instance and B) I was not able to replicate this after being demoted. This solves the primary concern, but I will leave the issue open for further discussion about how this should function for System Admins. It is strange to me that this is possible through the API but not the webinterface, but I am not sure if thi

[2019-04-30 10:24] #10722 closed

[2019-04-30 10:52] fbartels commented on #9421
Hi @hanzei,

I made some quick tests based on 5.10.0 and the script that was previously crashing Mattermost now no longer does so. Issue seems resolved.

Thanks

[2019-04-30 10:52] #9421 closed

[2019-04-30 11:54] it33 commented on #10698
@amyblais yes, I'm still having the issue. Not sure if this is related but as I try different searches for channel sometimes I get the wrong results in auto-complete, e.g. "ar" doesn't appear in any of these results:

![image](https://user-images.githubusercontent.com/177788/56959809-a0e5cf00-6b03-11e9-976d-beb5a6efb43b.png)

This list can stay there for 10 seconds or more (i..e if it's a lazy-loa

[2019-04-30 12:51] it33 opened #10771 "Edited text lost when selecting text and cursor moves outside edges of dialog"
#### Summary
When editing a message if text is selected and cursor leaves the edges of the modal dialog the model dialog closes and data in draft message is lost

#### Steps to reproduce
Edit a message in web app, select text and allow cursor to pass the edge of the model dialog

#### Expected behavior
In other apps like Discord selecting text and leaving the edges of a model doesn't affect the us

[2019-04-30 12:57] jwilander commented on #8271
Yep, closing

[2019-04-30 12:57] #8271 closed

[2019-04-30 13:37] esethna opened #10772 "Create a plugin that adds a sed-style replacement for editing the most recent post"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 14:12] crspeller commented on #7513
No. This can be closed.

[2019-04-30 14:12] #7513 closed

[2019-04-30 14:12] crspeller commented on #7512
Nope.

[2019-04-30 14:12] #7512 closed

[2019-04-30 14:28] mcarpenterjr commented on #10756
Nope, storage settings are set to local. and the data dir is ./data/.

This did solve a portion of my issue though, when making a backup for previous upgrades the file ownership, of the data dir, must have changed from `mattermost:mattermost` to `root:root`. I was able to restore ownership back to mattermost and most of the issue is now fixed. However, a number of user avatars are missing.

[2019-04-30 14:38] jasonblais commented on #10772
@hanzei please help add any other labels that may be appropriate. This might be a "good first issue" for someone interested in plugins

[2019-04-30 14:43] amyblais commented on #10698
I opened a bug ticket for this here: https://mattermost.atlassian.net/browse/MM-15363.

I'll look into the Bug Hunter Coin shortly,

[2019-04-30 14:47] andrewsomething commented on #10733
Excited to see interest in getting Mattermost in the DO marketplace! Happy to make an intro to the team at their if it's helpful.

[2019-04-30 15:02] amyblais commented on #10756
@mcarpenterjr, I'll continue to investigate.

Perhaps it's related to this issue: https://github.com/mattermost/mattermost-server/issues/10679.

[2019-04-30 15:04] esethna opened #10774 "Autolinking doesn't capture entire link containing matching curly brackets"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 15:06] amyblais commented on #10679
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-15365.

[2019-04-30 15:11] amyblais commented on #10671
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-15367.

[2019-04-30 15:21] amyblais commented on #10771
Ticket here: https://mattermost.atlassian.net/browse/MM-15172.

[2019-04-30 18:26] lisakycho commented on #10682
Sorry @jasonblais, I have another question! After making the bot, I can't seem to figure out how to post as the bot.

[2019-04-30 18:43] DSchalla commented on #10679
Hi @jprusch,

taking a look at the logs shared above, the following line stands out to me from the hostname example:
[code]

This error is thrown from our image proxy (third-party library) that request for the image returned a `text/html` response instead of an image. You've mentioned above that you've confirmed via wget that the URL is reachable, was this tested from the server running Mattermost

[2019-04-30 19:03] jasonblais commented on #10682
Hey @lisakycho, I saw your question got a response from Chris here: https://community.mattermost.com/core/pl/bnzfw7wtkff5bkmgrjxfc98pih

Let me know if that was helpful? Happy to help you!

[2019-04-30 19:04] jasonblais commented on #10682
To add, a curl command to do a bot post is below:

[code]

[2019-04-30 19:13] wiersgallak commented on #10595
Thank you for your feedback on our telemetry opt-out processes @jake-tulip .  All feedback is considered when making changes to the product.  Even if we do not address directly in the near term, it is used for making future decisions on how we improve this specific feature and design other features that may include a decision around opt-in vs. opt-out.

I also wanted to take the opportunity to cla

[2019-04-30 20:22] lieut-data commented on #10328
See https://github.com/mattermost/gorp/pull/5 for a more detailed breakdown, but the plan is to converge on consistency for `maxsize == 0`. The practical impact to the mattermost-server is small, since we don't actually want to have unbounded columns in our schema.

We'll leave `maxsize > 255` alone, since it's not likely we want to migrate existing customer data for the affected tables. When we g

[2019-04-30 23:18] esethna opened #10776 "Add system console setting to enable/disable the creation of bot accounts using the REST API."
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-30 23:19] jasonblais commented on #10638
Reopend at https://github.com/mattermost/mattermost-server/issues/10776

[2019-04-30 23:19] #10638 closed

[2019-04-30 23:23] courtneypattison commented on #10185
@hanzei Sorry! I've been busy and haven't made much progress on this ticket. I should have time next week but feel free to put it up for grabs in case someone else wants to give it a shot :)

[2019-04-30 23:34] jasonblais commented on #10776
Hey @andresoro! I thought to ping you on this help wanted issue - I noticed you've worked on integrations-related pull requests with migrating webhook methods to Sync, and changing the openDialog to support dialogs with no elements.

This would be another integrations-related ticket where you'd get exposed to Mattermots config.json settings and bot accounts.

Thought you might be interested, but i

[2019-05-01 00:13] andresoro commented on #10776
Hey @jasonblais I will definitely take a look at this. Unfortunately this is a busy week for me (finals week) so I may not be able to work at the pace I'd like on this issue. I will update with progress and ask any questions if they arise.

[2019-05-01 00:28] jasonblais commented on #10776
Sounds great, thank you @andresoro - and good luck on your finals!! 👍

[2019-05-01 03:51] liusy182 commented on #10754
working on this

[2019-05-01 04:50] liusy182 commented on #10754
should import continue upon ALL upload-related error, or it should only continue when the error is specifically due to image size?

[2019-05-01 04:52] esethna opened #10777 "Write an automated test using Cypress for "Whitespace with emojis does not affect size""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-01 04:57] hanzei commented on #10754
@grundleborg Would you please take a look at the above question?

[2019-05-01 05:59] hanzei commented on #10185
Hey @courtneypattison, Thanks for the heads up! I've made this ticket available for the public again, but it would be great, if you work on this when you have the time.

[2019-05-01 07:10] #10726 closed

[2019-05-01 07:10] jprusch commented on #10679
Hi @DSchalla

this was tested on our Mattermost server using the user running the Mattermost service.

[2019-05-01 10:44] grundleborg commented on #10754
@liusy182 I think it should cover image dimensions and file size, but probably nothing else for the moment.

[2019-05-01 12:58] amyblais commented on #10632
I'll close this for now as this has been fixed for the upcoming v5.11 release (which will be released on May 16th). Please re-open this issue if you have any further questions,

[2019-05-01 12:58] #10632 closed

[2019-05-01 13:01] amyblais commented on #10385
I'll close this issue for now as a "duplicate" as we've opened a Help Wanted issue for this here: https://github.com/mattermost/mattermost-server/issues/10627.

[2019-05-01 13:01] #10385 closed

[2019-05-01 13:59] jwilander commented on #10698
I started looking at this last night and I think I have discovered the issue causing the duplicate GMs that @it33 is seeing. I'll be submitting a fix for that sometime today. The issue that @hanzei is seeing is related but different and is a known issue that's going to require a significant reworking of our autocomplete suggestion to fix so at this time it's not worth the effort, see https://matte

[2019-05-01 14:21] #10606 closed

[2019-05-01 14:37] #10643 closed

[2019-05-01 14:38] amyblais commented on #10756
Can you help confirm that your image proxy is disabled?

Avatars go through the image proxy if you're using a webhook with an override_image or if you're posting a link to the profile image.

Our developers mentioned that this issue sounds that the permissions might be misconfigured.

[2019-05-01 14:50] amyblais commented on #10748
Hi @lycaste,

Which install instructions were you following for this?

[2019-05-01 14:51] #10639 closed

[2019-05-01 16:51] #10607 closed

[2019-05-01 17:03] jake-tulip commented on #10595
Thanks for the response @wiersgallak

I think the core issue is that this is an opt-out feature which has tracking spyware enabled in a fresh installation. Data gets sent to an unauthorized third-party (Segment and Mattermost-org). The data leaves a user's browser through a tracking script, and the servers it reaches have access to the user's IP address, a GUID, timestamp of messages, and user-age

[2019-05-01 18:25] lieut-data commented on #10328
Thanks, @brunoenten for helping is drive this issue to completion! I'll leave this open a bit longer to track the required migration changes.

[2019-05-01 18:49] hanzei commented on #10433
Why do you need to make changes? The latest release should be fine.

[2019-05-01 18:50] hanzei commented on #10433
If you really need to make changes to the code base, you can try to switch back to an older version via `git checkout v1.0.3`.

[2019-05-01 20:58] mcarpenterjr commented on #10756
Image proxy is definitely disabled.

Most of my images and avatars have been restored, there was an issue with the ownership of the images folder.
Unfortunately, there are still handful of accounts that their avatar has not been restored.

[2019-05-01 21:25] lisakycho commented on #10433
Thank you so much for your help @hanzei, I think i misunderstood the ticket at first!!
I created a pull request with my changes!

[2019-05-02 00:12] ryliejamesthomas opened #10779 "The 'New Messages' message does not show all new messages."
#### Summary
The 'New Messages' message (see image attached) does not show all new messages in history. If there are messages older than a certain time (it's not even long, like a day or so) they are hidden and there is no indication that there are more _new_ messages, just that there are older, seemingly already-read messages.

![screenshot_19-05-02_09-53-01](https://user-images.githubusercontent

[2019-05-02 10:39] jprusch commented on #10679
Hi all,

maybe the access.log of our Jira server can help on solving the issue.

The image requests from the Mattermost server (192.168.2.88) return different error messages depending on the URL requested:

`192.168.2.88 707x425008x1 - [02/May/2019:11:47:53 +0200] "GET /jira/secure/useravatar?size=xsmall&amp;avatarId=10122 HTTP/1.1" 404 2293 16 "-" "mattermost-5.10.0" "-"
192.168.2.88 707x425010x1

[2019-05-02 12:17] amyblais commented on #10779
Hi @ryliejamesthomas,

Thank you for the report, what Mattermost server version are you on?

[2019-05-02 13:18] gothraven opened #10782 "Find the channel ID if it is already created"
#### Summary
This is more like a question than an issue.
Sometimes there is no way for a bot to create a new channel by NAME because it is already created, and no way to get the Channel without fetching all channels list and iterating through most of them to get the channel you want.

#### Steps to reproduce
[code]

#### Expected behavior

the behavior seems fine, though it would've been better if

[2019-05-02 14:05] esethna opened #10783 "Write an automated test using Cypress for "Focus move from Recent Mentions to main input box when a character key is selected""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-02 15:00] amyblais commented on #10782
@hanzei / @maruTA-bis5 Does this sound good for me to open a Jira ticket?

[2019-05-02 15:00] amyblais commented on #10748
@sven Are you familiar with this error?

[2019-05-02 15:03] amyblais commented on #10748
@svelle Are you familiar with this error?

[2019-05-02 16:45] #10782 closed

[2019-05-02 16:45] gothraven commented on #10782
Sorry I have no idea why I posted a slack related issue here !

[2019-05-02 16:53] amyblais commented on #10698
@it33 I've coordinated with Corey to send out a Bug Hunter Coin for you. Thank you for reporting this!

[2019-05-02 17:30] amyblais commented on #10779
Hi @ryliejamesthomas,

We have a ticket open for this here https://mattermost.atlassian.net/browse/MM-13663. It will be fixed along with other scrolling improvements were working on (https://mattermost.atlassian.net/browse/MM-11209).

[2019-05-02 19:25] amyblais commented on #10756
Hi @mcarpenterjr, do you know any more details about those missing avatars, e.g. do they have a different size or are they a different type than those avatars that do show up? Do you see any errors in logs?

[2019-05-03 02:49] ryliejamesthomas commented on #10779
Thanks Amy.

Here's the info. I found:

[2019-05-03 04:55] esethna opened #10786 "Update to email batching System Console help text"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-03 05:01] esethna opened #10787 "Show a tooltip with the full channel name when hovering over group message channels in the sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-03 05:01] esethna opened #10788 "Autofill server URL if opening the app from the mobile landing page"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-03 05:07] esethna opened #10789 "Combining Send messages on CTRL+ENTER with Code block setting"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-03 09:37] hanzei commented on #10787
@esethna Would you please fix the formatting of this ticket?

[2019-05-03 09:39] hanzei commented on #10789
@esethna Does this need changes in both mobile and web app?

[2019-05-03 11:41] esethna commented on #10787
Fixed, thanks

[2019-05-03 11:44] esethna commented on #10789
@hanzei only webapp for this ticket

[2019-05-03 12:43] steevsachs commented on #9398
@hanzei New contributor, mind if I take a stab at this one?  I do have access to a Windows development machine.

[2019-05-03 12:45] hanzei commented on #9398
Surely @steevsachs! :+1: Thanks for working on this. Let us know, if you have questions.

[2019-05-03 12:46] steevsachs commented on #9398
Will do, thank you for the quick response!

[2019-05-03 16:00] andresoro commented on #10776
Hey @jasonblais, just an update; I've been taking cursory looks at this so far but I'm going to begin working on this ticket this weekend.

[2019-05-03 16:16] jasonblais commented on #10776
Great, thank you @andresoro :tada:

[2019-05-03 16:31] evan1024 commented on #10772
I'll try to tackle this after setting up the dev environment tonight.

[2019-05-03 16:35] jasonblais commented on #10772
Great, thank you @evan1024!! 🎉

[2019-05-03 16:35] jasonblais commented on #10772
Great, thank you @evan1024!! 🎉

If you have any questions, don't hesitate to let us know :)

[2019-05-03 16:39] evan1024 commented on #10772
Will do!

[2019-05-03 17:46] amyblais commented on #10699
### v5.11 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.11.0-rc1/mattermost-team-5.11.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2640)

[2019-05-03 20:35] vaibhavsingh97 commented on #10772
Though I am still learning Golang but I would love to take this.

[2019-05-03 20:52] #10345 closed

[2019-05-03 23:18] sapnasivakumar commented on #10075
@hanzei I would like to pass this ticket on so that someone can pick it up.

[2019-05-04 05:42] hanzei commented on #10075
Surely @sapnasivakumar. Thanks for the work you put into this ticket and the many others. :+1: Glad to have you as part of the community.

[2019-05-04 15:44] lycaste commented on #10748
follow developer guide

[2019-05-05 11:46] enahum commented on #10748
In your dev env, go to node_modules/mattermost-redux and then run npm installl.

It is very likely that the prepare script of mattermost-redux did not run when fetching the webapp dependencies

[2019-05-05 19:50] saturninoabril commented on #10246
Thank you @adzimzf for your contribution.

Closing this now.

[2019-05-05 19:50] #10246 closed

[2019-05-05 21:47] evan1024 commented on #10772
I've finished a draft of the plugin outlined here [issue-mattermost-server-10772](https://github.com/mattermost/mattermost-server/issues/10772).
It seems to work well. Here's the repo: https://github.com/evan1024/mattermost-plugin-replace/blob/master/server/plugin.go

I was not able to write meaningful tests, though. Is there a way to mock users and posts in the testing file?

Also, once I'm done,

[2019-05-05 22:00] andresoro commented on #10776
Ok, so I think the basic idea is to add another field in the System Console Integrations section to enable/disable creation of bot accounts using REST API. To do this we can add a field like EnableBotAccountsThroughApi to the ServiceSettings struct in model/config.go and then check the flag whenever the server gets an API request to create a bot. I can implement this and add test cases where appro

[2019-05-06 12:18] jasonblais commented on #10776
@andresoro That's correct 👍

And changes will be required for web app, for the System Console part. You can add the new setting to System Console > Integrations > Features section, above `Enable Personal Access Tokens`.

We're planning to add two other settings for bot accounts, so we'll likely create its own page, but for now this setting can go to the general Features section.

[2019-05-06 12:24] jasonblais commented on #10772
@evan1024 Great, thank you so much!!

@hanzei would you have an example of how to mock users and posts in the testing file for meaningful unit tests?

@evan1024 As for submitting the plugin for approval and publishing - that's a good question. The process at the moment is:
1. Create a release for the plugin to https://github.com/evan1024/mattermost-plugin-replace/releases
2. Add a short documentat

[2019-05-06 15:35] #10608 closed

[2019-05-06 16:12] #10729 closed

[2019-05-06 16:17] jasonblais commented on #10661
Hey @liusy182 for the user --> bot conversion, would you prefer to work off of this help wanted issue, or through a separate one?

[2019-05-06 16:53] steevsachs commented on #9398
@hanzei

## Ctrl+M sends
Personally, I think we should leave this as is. The issue occurs because on Windows, `Ctrl+M` produces a `keypress` event with `e.key === 'Enter'`.

in `utils/utils.jsx`, `e.key` is preferred over `e.keyCode` when possible, which causes `Ctrl+M` to behave identically to `Enter`.

We can prevent this behavior by not preferring `key` over `keyCode` on Windows user agents, ei

[2019-05-06 17:10] hanzei commented on #9398
@deanwhillier What are you thoughts on the above?

[2019-05-06 18:46] mcarpenterjr commented on #10756
None of the avatars changed, they were copied directly from a backup before I upgraded. So since I've opened this issue most avatars have returned, slowly, and I think there are just a handful left that have yet to show up.

If I wanted to find a log relating to this, where would I go?

[2019-05-06 18:49] esethna opened #10796 "make test - syntax error near unexpected token `('"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-06 18:49] esethna opened #10797 "Allow plugins to override ephemeral posts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-06 18:56] jasonblais commented on #10796
@hanzei can you help add the difficulty level for this ticket?

[2019-05-06 18:56] jasonblais commented on #10797
@hanzei can you help add the appropriate labels for this ticket?

[2019-05-06 19:06] cpoile commented on #10797
@jasonblais send this to me, if we want to implement [MM-15411](https://mattermost.atlassian.net/browse/MM-15411) for this sprint. I just ran into this as a blocker.

[2019-05-06 19:41] #10316 closed

[2019-05-06 21:35] liusy182 commented on #10661
sure i can work on this somewhere this week @jasonblais

[2019-05-06 23:15] hanzei commented on #10796
@jasonblais Done

[2019-05-06 23:17] hanzei commented on #10797
@jasonblais Done

[2019-05-06 23:17] jasonblais commented on #10797
+:+1:

[2019-05-06 23:21] esethna opened #10800 "Support converting bot accounts to user accounts with email/password login through the CLI"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-06 23:31] jasonblais commented on #10661
Thanks @liusy182! I've created a separate issue for it here so we can track separately: https://github.com/mattermost/mattermost-server/issues/10800

Closing this one for supporting converting user accounts to bots.

[2019-05-06 23:31] #10661 closed

[2019-05-07 03:49] gupsho commented on #10769
I can take this.

[2019-05-07 04:34] Gloriashield opened #10802 "Accessibility issue - Excel table copy problem"
#### Summary
If I copy and paste excel sheet, Mattermost 5.10.0 will be converted to markdown format. Previously, images and text were posted together. The markdown format often corrupts the table. Is there a way to selectively use markdown or image?

#### Steps to reproduce
1. Select and copy a specific area in Excel.
2. Paste in the message input box.
3. Send the message.

#### Expected behavior

[2019-05-07 06:11] gupsho commented on #10766
I can take this.

[2019-05-07 09:43] carmo-evan commented on #10772
@jasonblais I've updated the README file with the installation instructions. I'll wait for @hanzei before I do the other steps, since I want to include the unit tests before I create a release/submit it for review.

[2019-05-07 10:02] letsila commented on #9155
Hi @hanzei , I see in the issue description that I need to update both (marked)[https://github.com/mattermost/marked] and (commonmark.js)[https://github.com/mattermost/commonmark.js]. I guess that I need to serve these files from .node_modules to import them from the webapp react app. Is there some documentation on how I could achieve that?

[2019-05-07 10:32] esethna opened #10806 "Write an automated test using Cypress for "Join/leave messages (including combined): Usernames are links, open profile pop-overs""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-07 11:50] #10650 closed

[2019-05-07 12:05] hanzei commented on #9155
The first step would be to submit PR's to the two repositories. Then `package.json` in the webapp repo should be updated in a third PR

Does this solve your question?

[2019-05-07 12:13] letsila commented on #9155
The PR's steps makes sense. On the `mattermost-redux` there's the `npm run dev:watch` command, which allowed me to serve the dev repo of mattermost-redux into the mattermost-webapp. Hence I was wondering if there is something similar for the `marked`and `commonmark.js`repo.

[2019-05-07 13:04] marianunez commented on #10787
I'll take this one.

[2019-05-07 14:14] hmhealey commented on #9155
I don't think that's needed for those repositories since I'm pretty sure they can be used with `npm link`. That doesn't work with `mattermost-redux` because of the way that we compile it to ES5

[2019-05-07 14:51] esethna opened #10807 "Rage Emoticon Pattern doesn't get converted into actual emoji"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-07 15:24] amyblais commented on #10802
Thank you @Gloriashield, opened a ticket here: https://mattermost.atlassian.net/browse/MM-15458.

[2019-05-07 15:52] letsila commented on #9155
Thank you @hanzei

[2019-05-07 16:15] #10766 closed

[2019-05-07 16:40] #10612 closed

[2019-05-07 16:42] saturninoabril commented on #10612
Thank you @VolatianaYuliana for your contribution!

[2019-05-07 16:46] VolatianaYuliana commented on #10612
My pleasure :)

[2019-05-07 18:44] #10727 closed

[2019-05-07 20:16] #10689 closed

[2019-05-07 23:53] scottleedavis commented on #10753
@jasonblais I'd like to do this one

[2019-05-08 04:29] scottleedavis commented on #10797
I'd like to try this one @hanzei @jasonblais :)

[2019-05-08 04:37] deanwhillier commented on #9398
@steevsachs, thanks for looking into this! I'm just checking into a couple things and will get back to you shortly!

[2019-05-08 08:35] hanzei commented on #10797
Greet! :rocket: Thanks for all your work, Scott!

[2019-05-08 09:13] Alamin02 commented on #10786
Hi, I'm interested to work on this.

[2019-05-08 09:13] ivanaairenee commented on #10721
I'd like to try taking this if that's okay

[2019-05-08 09:21] hanzei commented on #10721
Surely, @ivanaairenee. :+1: Thanks for taking of this. Let me know, if you have any questions.

[2019-05-08 14:57] pisymbol commented on #10584
I have the exact same issue on OSX (10.14.4) with MM 4.2.1.62. Sometimes if I let it just sit the client eventually reloads and re-establishes the connection. Very strange.

[2019-05-08 15:37] hanzei commented on #9769
@wiersgallak Gently reminder about the above questions.

[2019-05-08 15:38] hanzei commented on #10807
Thanks for taking a look @seansackowitz! :+1:

[2019-05-08 18:04] wiersgallak commented on #9769
@checkaayush I would expect to provide the channel ID from the channel I want to move the command to in the new team and the Team ID.  In my opinion, it is better to be explicit about where you want to move the command to.

[2019-05-08 20:29] #10754 closed

[2019-05-08 20:33] CooperAtive commented on #10752
I'll take this one

[2019-05-09 07:20] ivanaairenee commented on #10721
Hi @hanzei, this is my first time making a PR and I have a [test failure on Jenkins](https://build.mattermost.com/blue/organizations/jenkins/mp%2Fmattermost-server-pr-new/detail/PR-10811/3/pipeline)

[code]

Any pointers to any documentation or community discussion I can look at?

[2019-05-09 15:01] torgeirl opened #10814 "System Console lists deleted users on first load, team admins as members"
#### Summary
- `System Console` > `Users` wrongfully lists former members of a team on first load. After a reload of the page the removed users are no longer listed.
- `Team Admins` are listed as `Member` in the same view.

#### Steps to reproduce - (A) deleted users listed as member
1. Delete an user from a team.
2. Go to `System Console` > `Users` and filter for that team.
3. Notice the deleted

[2019-05-09 17:38] amyblais commented on #10814
Hi @torgeirl, thank you for the reports.

**(A) deleted users listed as member**
I wasn't able to reproduce the first issue either on v5.8 or v5.11 RC, so it has probably been fixed on a recent release. When you upgrade to v5.9, would you be able to re-test it and let us know if you can still reproduce it?

**(B) team admin listed as (regular) member**
The second report looks like a feature reques

[2019-05-09 17:44] torgeirl commented on #10814
@amyblais: will do!

[2019-05-09 17:52] deanwhillier commented on #9398
@steevsachs, ya there's unfortunately no simple/clear solution for this that I can find. I almost thought I had a possible solution, but then the behaviour changed on me for no apparent reason that I could determine. 🤷‍♂️

I would say that, as you said, we leave `ctrl+m` as is for sending. i.e. leave it to act the same as the `enter` key. We can't reliably disable it without potentially affecting

[2019-05-09 18:05] hanzei commented on #10752
Thanks for taking care of this @CooperAtive! :+1:

[2019-05-09 18:13] iomodo commented on #10767
I'll take a look at this one

[2019-05-09 18:14] hanzei commented on #10721
Hey @ivanaairenee, this seams to be a failure with our build system. I restarted the build and it should run smoothly now.

[2019-05-09 18:24] hanzei commented on #10767
Thanks for taking a shot, @iomodo. :+1: Let us know, if you have questions.

[2019-05-09 18:34] steevsachs commented on #9398
Sounds great to me! Thank you for documenting that thought process.

I am traveling today but expect to be able to make a PR tomorrow.

[2019-05-09 18:56] amyblais commented on #10814
Hi @torgeirl,

One of our PMs said that we are looking at adding additional reporting for teams in the system Console, which would allow system admins to see the team admin. We are currently working on designs but I'm not able to say when it will be ready.

[2019-05-09 18:56] esethna opened #10816 "Replace cp -r with cp -R in Makefiles on server, webapp, mobile"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-09 23:13] marianunez commented on #10787
Is this both for web app and desktop application?

[2019-05-10 01:27] carmo-evan commented on #10772
I was able to figure out mocking by reading the [Matterpoll test code](https://github.com/matterpoll/matterpoll/blob/master/server/plugin/plugin_test.go). I'll create the release and submit it tonight.

[2019-05-10 01:35] carmo-evan commented on #10772
Submitted https://github.com/carmo-evan/mattermost-plugin-replace.

[2019-05-10 01:40] carmo-evan commented on #10800
I'd like to take a stab at this if it's still up for grabs.

[2019-05-10 01:59] carmo-evan commented on #10796
I can also take a look into this if [this other issue](https://github.com/mattermost/mattermost-server/issues/10800) is not up for grabs anymore.

[2019-05-10 02:31] jasonblais commented on #10772
Thank you @carmo-evan!! This is great stuff.

I noticed the command is `/s Goo/Good` for the plugin instead of `s/Goo/Good`.  Was this intended?

[2019-05-10 09:18] szi-secunet commented on #1982
This is so silly: https://imgur.com/gallery/EYn5ZUs

[2019-05-10 09:57] carmo-evan commented on #10772
@jasonblais Yes, because having the command tab open every time you started a sentence with the letter "s" would get pretty annoying pretty fast. Another option would be `/s/Goo/Good` which could end up being just unnecessary typing, IMO. I can change that if you'd like me to, though.

[2019-05-10 13:27] jasonblais commented on #10772
@carmo-evan makes sense.

If the command autocomplete tab wasn't opened upon typing `s`, do you think it would be fine?

The reason why `s/Goo/Good` was proposed originally is that this follows what Hipchat, IRC and other systems use - and I'd be totally okay not opening the autocomplete in this case if it doesn't start with a slash.

[2019-05-10 13:27] jasonblais commented on #10796
Thanks @carmo-evan! Removed `up for grabs` label, the other issue is indeed taken and has a PR submitted

[2019-05-10 13:28] carmo-evan commented on #10772
Let me try that.

On Fri, May 10, 2019 at 9:27 AM Jason Blais <notifications@github.com>
wrote:

[2019-05-10 14:57] #10644 closed

[2019-05-10 15:04] #10681 closed

[2019-05-10 16:43] marianunez commented on #10169
@d28park are you still working on this? If not, I would like to take a shot at it.

[2019-05-10 18:44] esethna opened #10821 "Mobile app (iOS + Android): Filtered list not showing bot account icon"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-10 18:44] esethna opened #10822 "On page load, username and profile picture for bot accounts aren't initially loaded"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-10 18:52] jasonblais commented on #10752
@CooperAtive Thank you so much! This is really really helpful as we're trying to finish bot accounts in time for June 16th release.

If you're open to and interested helping, there are these three Help Wanted tickets for bot accounts we'd love to have help with

 - https://github.com/mattermost/mattermost-server/issues/10683
 - https://github.com/mattermost/mattermost-server/issues/10822
 - https:

[2019-05-10 18:57] JerryFireman commented on #10816
I took a look at the three makefiles but I could not find any instances of cp -r that needed to be replaced. Please let me know I am missing something. If so, I would be happy to address.

[2019-05-10 18:58] jasonblais commented on #10682
Hi @lisakycho, just touching base how things are going and if you have any questions for this ticket?

[2019-05-10 19:08] scottleedavis commented on #10821
Hey!  Interested in this one. :)

[2019-05-10 21:00] iomodo commented on #10768
I have a question. Should the `CreateDirectChannel` method signature also be changed? I'd change `StoreChannel` to `(*model.Channel, *model.AppError)`

[2019-05-10 21:07] andresoro commented on #10769
I have some free time on my hands so I can begin working on this.

[2019-05-11 10:46] carmo-evan commented on #10772
@jasonblais @hanzei after reviewing the docs and the server code, I don't think there's a way to register a command that does not start with a `/`. Correct me if I'm wrong, but I don't think the usage `s/Goo/Good` is achievable without a change to some server code, besides the plugin code. `/s/ Goo/Good` is the closest thing achievable now without a core change. Please advise.

[2019-05-11 13:44] it33 opened #10825 "Emojis overlap when rendered in messages"
#### Summary
Emojis overlap when rendered in messages

#### Steps to reproduce
Paste the below into a message:
😈🤣👘😘🥳🥳😋🥳😋🥳😛🤨😎😏😛🤓😋😖🤨😫😫😚😒😋☹️🤨🥳😒😒🤪😖😋😒😋🤨😏😩🤨😀🤨😇🧐🙃🤨🙃😟😛😔🧐☹️🤬😱😳🤫🤫😥😳🤔😨🤗😢😑🤢🤢🤢🤮🤮😪😑😑🤔😴🤭😵😑😷🤐🤐👙👨‍👧‍👧👨‍👨‍👧‍👦👚👩‍👦‍👦👔👩‍👧‍👦👠👩‍👦‍👦👨‍👦‍👦🥼

#### Expected behavior
Emojis render without overlapping

Discord as an example:
![image](https://user-images.githubusercontent.com/177788/57570516-b686ae80-73b7-11e9-9ba

[2019-05-11 14:51] jasonblais commented on #10772
Hm, I see, thanks for looking into this. @hanzei curious if you'd have recommendations.

[2019-05-11 17:29] pradeepmurugesan commented on #10765
@esethna @jespino I can start on this.

[2019-05-11 20:07] wget commented on #10584
@pisymbol @UberPinguin I merged the fix for https://github.com/mattermost/desktop/issues/965 today and this fixes the issue I have with my dev instance protected by HTTP basic Auth (https://mattermost.dev.wget.be). User: wget Pass: 12345

[2019-05-11 20:45] jespino commented on #10765
@pradeepmurugesan Awesome! :)

[2019-05-11 21:23] scottleedavis commented on #10735
I am interested in doing this one.

[2019-05-11 23:25] scottleedavis commented on #9283
At v0.2.3 currently https://github.com/scottleedavis/mattermost-plugin-remind

Happy to develop, test, validate further this plugin. (Doing so already). I would be happy to transfer this plugin to Mattermost if that is still desired @esethna .

[2019-05-11 23:52] scottleedavis commented on #10392
I am interested in doing this one.  :)

[2019-05-12 00:18] scottleedavis commented on #9196
Hello!  I am interested in doing this one.  :)

[2019-05-12 00:48] scottleedavis commented on #10121
Interested in taking this one.  :)

[2019-05-12 04:28] scottleedavis commented on #10121
Hello!

Replaced all dockerhost references with localhost.   All Makefile targets continue to work, and all unit tests continue to pass.
https://github.com/scottleedavis/mattermost-server/tree/MM-7971

In terms of the second goal of this ticket, I need some additional clarification.  Is the goal to replace *-docker commands content with docker-compose commands in the Makefile?

[2019-05-12 15:20] carmo-evan commented on #10789
I can try doing this one.

[2019-05-12 17:02] farhadab commented on #10712
How do I know what `model` from the `model` module to return? I'm a prospective new contributor and I'd like to contribute to the sync campaign (epic MM-15277), but as I am new to this project, I'm not clear on what the models that are required in the tickets for this epic are supposed to be. Any additional guidance would be appreciated.

[2019-05-12 18:07] scottleedavis opened #10832 "UpdateEphemeralPost doesn’t update more than once"
#### Summary
UpdateEphemeralPost does not update the post a second time.

#### Steps to reproduce
Call UpdateEphemeralPost on the same post a second time.

#### Expected Behavior
UpdateEphemeralPost can update a post any number of times.

#### Observed behavior (that appears unintentional)
An api error occurs on the second call.

[2019-05-12 22:40] scottleedavis commented on #9196
Had some time this afternoon to work on this, though as it is a near exact copy of @jwilander 's chrome extension except with some small tweaks, I don't deserve much credit for this.  :)

https://github.com/scottleedavis/mattermost-firefox-extension

[2019-05-13 04:22] kaystrobach commented on #4300
Why not extract the preview image delivered with the docx format?

[2019-05-13 09:28] iomodo commented on #10768
@jespino I'll take a stab at this, just want to know the answer to the question above.

[2019-05-13 11:06] jespino commented on #10768
Hi @iomodo, we are splitting the migration of the store in small pieces, one method per PR, but in this case makes a lot of sense to change `CreateDirectChannel` at the same time (because is based on `SaveDirectChannel`) so... up to you, that will be welcome, for sure :)

[2019-05-13 11:07] #10760 closed

[2019-05-13 11:47] carmo-evan commented on #10772
@jasonblais talked to @hanzei and I believe it's working as intended now. Please let me know if this is the desired behavior in the video: https://drive.google.com/file/d/1K3Uw40CsRHyi7_Br1IX6rk4XQuiS-Kqx/view

Or in this gif:
![ezgif-1-1ce5d820fbb6](https://user-images.githubusercontent.com/34245571/57619164-4c0a7580-7553-11e9-82e9-92b26a456761.gif)

[2019-05-13 12:14] ppodevin opened #10834 "URI doesn't work anymore"
#### Summary
URI like spotify:track:XXXX does not work on mattermost 5.9.0 (not tested on other 5.X)

#### Steps to reproduce
Send an URI to a channel, it wont be colored as a link (therefore not being clickable).
![image](https://user-images.githubusercontent.com/12099945/57620519-4af43b00-7589-11e9-832b-8f69faa1a883.png)
Worked well on mattermost 4.X (tested on 4.9)

#### Expected behavior
same

[2019-05-13 12:26] sapnasivakumar commented on #10822
@jasonblais I would like to work on this ticket, Can you please assign the same to me

[2019-05-13 12:28] jasonblais commented on #10822
Thank you @sapnasivakumar! Removed `up for grabs` label. If any questions, don't hesitate to ask

[2019-05-13 12:33] jasonblais commented on #10772
That looks fantastic, thank you @carmo-evan! I noticed it posts the `s/lik/like` in the channel as well?

[2019-05-13 13:04] carmo-evan commented on #10772
Hi!

Not quite. I was able to reject the new post, which causes it to not really
display to other users. It does appear as a "pending" post for the OP, so
I'm working on a way to make it disappear altogether.

On Mon, May 13, 2019 at 8:33 AM Jason Blais <notifications@github.com>
wrote:

[2019-05-13 13:05] jasonblais commented on #10772
@carmo-evan Great, then that looks exactly as expected for me 👍

[2019-05-13 15:16] IshankGulati commented on #10720
I'd like to work on this.

[2019-05-13 17:11] giorgosdi commented on #10718
I'd like to work on this if you dont mind

[2019-05-13 17:50] amyblais commented on #10832
Hi @scottleedavis,

What API error do you see when you encounter this issue?

[2019-05-13 18:13] scottleedavis commented on #10832
Hey @amyblais ,

When trying to replicate the api error, it appears it was an error in my own code for testing.  My apologies.

[2019-05-13 18:13] #10832 closed

[2019-05-13 18:47] amyblais commented on #10699
### v5.11 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.11.0-rc2/mattermost-team-5.11.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2640)

[2019-05-13 22:44] amyblais commented on #10825
Thank you @it33, opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-15551.

[2019-05-14 10:23] hairmare commented on #2440
The disable-dm plugin only disables sending of DMs. It doesn't remove the user interface parts of direct messaging but it does deny all DMs. When a DM gets denied it looks like this:

![image](https://user-images.githubusercontent.com/116588/57690826-d8479600-7642-11e9-98dc-3f930c688796.png)

To make this viable for an educational context it probably needs some more polish. It does work as adverti

[2019-05-14 12:03] jasonblais commented on #2440
@hairmare Thank you for trying out the plugin and for the feedback, appreciate it! Would you be open to creating an issue at https://github.com/Brightscout/mattermost-plugin-disable-dm? That way we can keep track of bugs and improvements of the plugin in one place.

[2019-05-14 12:57] jasonblais commented on #10816
@crspeller would you be open to helping with the above question?

[2019-05-14 12:59] DSchalla commented on #10523
Hi @tobast,
I've opened a pull request that removes the length limit from the password reset dialog, it should now only be enforced by the server-side length validation (max length = 72 currently)

[2019-05-14 13:04] enahum commented on #10161
I'm taking care of this one.

[2019-05-14 13:04] #10161 closed

[2019-05-14 14:28] crspeller commented on #10816
@JerryFireman Looks like your right. That's what I get for making a ticket without checking myself!

[2019-05-14 14:28] #10816 closed

[2019-05-14 15:16] amyblais commented on #10802
Letting you know that the Jira ticket was closed as won't fix since the behaviour you described also matches Github's behaviour.

[2019-05-14 15:16] #10802 closed

[2019-05-14 15:29] pradeepmurugesan commented on #10719
I can work on this 👍

[2019-05-14 16:15] enahum commented on #10162
I'm doing this one

[2019-05-14 16:15] #10162 closed

[2019-05-14 17:31] amyblais commented on #10834
Hi @ppodevin, do you know if there are other types of URL that don't work?

[2019-05-14 18:54] #10584 closed

[2019-05-14 18:55] amyblais commented on #10641
Closing this for now as there hasn't been updates on this for a while. Please re-open this issue if the problem persists.

[2019-05-14 18:55] #10641 closed

[2019-05-14 18:56] amyblais commented on #10671
Closing this as this has been fixed for the upcoming v5.12 release (to be released on June 16th).

[2019-05-14 18:56] #10671 closed

[2019-05-14 20:15] ppodevin commented on #10834
I know that http:// and ftp:// work, but I don't use any other type of URL,
as far as I can test, only http and ftp protocoles seams to be reconized as
URL.

Le mar. 14 mai 2019 à 19:31, amyblais <notifications@github.com> a écrit :

[2019-05-14 20:15] #10753 closed

[2019-05-14 20:16] hanzei commented on #10786
Sorry for the deplay. Thanks for working on this @Alamin02! :+1:

[2019-05-14 20:51] #10752 closed

[2019-05-14 20:55] hanzei commented on #10121
@cpanato Would you please take a look at the above question?

[2019-05-14 20:57] hanzei commented on #10769
Thanks @andresoro!

[2019-05-14 21:02] #10767 closed

[2019-05-14 21:04] hanzei commented on #9196
This is awesome! :rocket:  Please let me know, when this is ready for testing.

[2019-05-14 21:09] hanzei commented on #10712
@jespino Could you please take a look at the question? To me it seams like this method is not longer used.

[2019-05-14 21:10] hanzei commented on #10789
Thanks @carmo-evan :tada:

[2019-05-14 21:53] hanzei commented on #10719
Thanks @pradeepmurugesan! :+1:

[2019-05-14 22:26] amyblais commented on #10751
Hi @vincentbab, we would like to send you a modest gift for finding this bug. Would you be open to sharing your name and mailing address? You can join our [community server](https://community.mattermost.com) and direct message me at ``@amy.blais``, OR you can send me an email at ``amy@mattermost.com``. Let me know what you think.

[2019-05-14 23:42] amyblais commented on #10698
Closing this issue as this has been fixed for upcoming v5.12 release (to be released in June 16th).

[2019-05-14 23:42] #10698 closed

[2019-05-15 00:26] scottleedavis commented on #9196
Hi @hanzei I believe it is.  :) Happy to fix or change anything during evaluation.

[2019-05-15 04:12] #10787 closed

[2019-05-15 04:15] hanzei commented on #10720
Thanks for working on this @IshankGulati! Let us know, if you have any questions.

[2019-05-15 04:16] hanzei commented on #10718
Surely not! Thanks for taking care of this @giorgosdi. Let me know, if you have any questions.

[2019-05-15 04:59] hanzei commented on #9507
Making this one available for the public again due to inactivity.

[2019-05-15 04:59] #10796 closed

[2019-05-15 05:02] hanzei commented on #9486
Hey @dv29,

Just want to check out how your work is going? Do you have any questions? Looking forward to your PR!

[2019-05-15 05:02] hanzei commented on #10154
Making this one available for the public again due to inactivity.

[2019-05-15 05:04] hanzei commented on #10232
Making this one available for the public again due to inactivity.

[2019-05-15 05:05] hanzei commented on #10276
Making this one available for the public again due to inactivity.

[2019-05-15 05:48] esethna opened #10850 "Add KVCompareAndSetWithExpiry to plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-15 06:02] jespino commented on #10712
Hi @farhadab, first of all thanks for your interest in the project. About your question, the easiest way is seeing the store function itself. It returns the store.StoreChannel using the store.Do function which receive a function with the `result` parameter (all that boilerplate is not really important here, because you going to remove that entirely), but the `result` variable is the key. Inside th

[2019-05-15 08:10] hanzei commented on #10407
Hey @scottleedavis,

Do you need more information to work on this? Is the one from the forum enough?

[2019-05-15 08:11] hanzei commented on #10336
Making this one available for the public again due to inactivity.

[2019-05-15 08:28] cpanato commented on #10121
@scottleedavis the idea (in think, i did not wrote this ticket) is change the docker run for all the images in the make file and replace to one single command which is the docker-compose.

for example, in the makefile we have this
[code]

the idea is delete all and replace to
to start `make start-docker`
[code]

to stop  `make stop-docker`
[code]

[2019-05-15 09:05] ppodevin commented on #10834
Here is an other example :
![image](https://user-images.githubusercontent.com/12099945/57762990-d7753980-7700-11e9-9359-aa38baf72ef9.png)

Working on 4.9 like expected :
![image](https://user-images.githubusercontent.com/12099945/57763139-1c00d500-7701-11e9-8b15-d43af812eb4d.png)

[2019-05-15 12:20] #10721 closed

[2019-05-15 12:23] #10800 closed

[2019-05-15 13:06] dv29 commented on #9486
@hanzei sorry I was held up with some house work. I'm still working on it, no questions so far

[2019-05-15 13:57] amyblais commented on #10834
Opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-15600.

[2019-05-15 15:57] andresoro commented on #10769
@jespino How should I handle the changes to the the Channel().Save() method with store.Must()? My initial idea is to do something like:
[code]

[2019-05-15 16:33] amyblais commented on #10699
### v5.11 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.11.0-rc3/mattermost-team-5.11.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2640)

[2019-05-15 17:08] jespino commented on #10769
The store.Must is a solution to deal with the go channel and the result struct. But without the channel and the struct you just simply have to check if there is an error. The solution would be:

[code]

[2019-05-15 17:10] amyblais commented on #10834
Hi @ppodevin, I checked with our team about this and they said there is a setting here that you might need to set for those links to work: https://docs.mattermost.com/administration/config-settings.html#custom-url-schemes.

[2019-05-15 19:20] #10699 closed

[2019-05-15 20:18] gupsho commented on #10850
I can take this.

[2019-05-15 21:36] hankinator opened #10856 "Certain Syntax breaks mattermost chat."
**#### Summary**
Certain line(lines of text) completely break mattermost channels/chats.

**#### Steps to reproduce**
1. Open mattermost chat
2. Post `Aaaa_Aaaaaaaa___Aaaaaaaaaaa_aaaaa = A._aaaa.aa_aaa * ( - Aaaa_Aaaaaaaa___Aaaa_aaaaaa_AAa * A.Aaaa_Aaaaaaaa.aaaa__Aaaaaaaa__AAa__Aaaaaaaaaaa * Aaaa_Aaaaaaaa___AAa_aa * Aaaa_Aaaaaaaa___AAa / Aaaa_Aaaaaaaa___AAAaaaaaaaaaAaaaa ) + A._aaaa.aa_aaa * ( - A

[2019-05-15 22:39] ze0 commented on #10834
@amyblais
I'm in the same team as @ppodevin, I confirm that with the documentation you have linked everything works perfectly well (spotify/steam/git).
The ticket can be closed.
Thank you.

[2019-05-15 22:40] amyblais commented on #10834
Glad to hear it!

[2019-05-15 22:40] #10834 closed

[2019-05-15 22:41] scottleedavis commented on #10407
I believe I understand well now, thank you @amyblais and @hanzei !

[2019-05-16 01:28] andresoro commented on #10769
Going to reopen when I get all test cases passing.

[2019-05-16 08:21] hairmare commented on #2440
@jasonblais I created https://github.com/Brightscout/mattermost-plugin-disable-dm/issues/5 about polishing the UI in the case of disabled DMs.

[2019-05-16 10:09] hanzei commented on #10850
Thanks for taking care of this, @gupsho!

[2019-05-16 10:31] #10765 closed

[2019-05-16 12:37] felibb commented on #10856
Same on 5.8.0

[2019-05-16 12:46] megari commented on #10856
This bug is actually really nasty. It will basically ruin a channel permanently, unless the offending message is somehow deleted from the channel. The only other option seems to be to archive the channel from the CLI and start over.

[2019-05-16 12:48] seansackowitz commented on #10412
If this is still open, I'll pick it up

[2019-05-16 12:55] jasonblais commented on #10412
@seansackowitz It's open, thank you!

[2019-05-16 13:55] #10776 closed

[2019-05-16 13:56] #10821 closed

[2019-05-16 15:33] bdsweet commented on #10583
Sorry for the delay - back on this now. Just need to get the end-to-end tests to run correctly and I'll submit a pull request

[2019-05-16 17:26] jprusch commented on #10679
Another update:
The issue appears only, if the local image proxy is enabled. Switching off the image proxy, displays the images & avatars when using the browser client. This is the expected behavior. Anyway, the image proxy is needed, when using the desktop or mobile apps.

[2019-05-16 18:55] #10797 closed

[2019-05-16 19:03] hanzei commented on #10583
Thanks for the heads up. Looking forward to your PR @bdsweet :+1:

[2019-05-16 19:03] marianunez commented on #10169
I’ve got a working first version of the plugin RHS (see screenshot) and wanted to confirm and get some feedback on some UI details:

1. When the plugin calls to open the RHS, it shows the side panel with the same header as with the Expand and Close buttons as it does with the Mattermost RHS use cases. The rest of the sidebar area is what is available for the plugin to use with their own custom com

[2019-05-16 19:22] jwilander commented on #10169
Awesome, looking good 👍

1. IMO that makes perfect sense to me. On a tangent, is there a way for the plugin to specify the title of the RHS component? That might be something worth adding there

2. Using the channel header button to open the RHS in the demo plugin makes sense to me. Only feedback I'd give for the demo plugin is to maybe neaten up the text inside the RHS to align it a little nicer

[2019-05-16 19:22] jwilander commented on #10169
Feel free to chime in with opinions @crspeller @jasonblais

[2019-05-16 20:05] hanzei commented on #10768
Fixed with https://github.com/mattermost/mattermost-server/pull/10846. Thanks for the contribution @iomodo!

[2019-05-16 20:05] #10768 closed

[2019-05-16 20:59] Wipeout55 commented on #10717
New developer here! I'll take this one.

[2019-05-16 21:45] jasonblais commented on #10772
@carmo-evan Let me know if you had any questions about above about the "pending" state, happy to help out

[2019-05-16 22:21] amyblais commented on #10856
Hi all, what OS and version are you seeing this on?

[2019-05-16 23:06] jasonblais commented on #10169
Thanks! This is awesome.

1 - +1, that makes sense
2 - Also +1 to what you and Joram suggested. Other buttons in the header (e.g. pinned posts) open the RHS as well.

My only note is that currently clicking the channel header opens the root component as attached, and [documented here](https://github.com/mattermost/mattermost-plugin-demo/tree/master/webapp#channel-header-button-action). Would we ha

[2019-05-16 23:06] marianunez commented on #10169
I wanted to do that too but given that the header is not part of the plugin, the web app would have to set that title text. Not sure there is a way for the web app to know the plugin name? We could add another pluggable for the name there but seemed a bit overkill.

Agreed. Will clean that up!

[2019-05-16 23:10] marianunez commented on #10169
The root component is also being triggered from the Main Menu, File Upload and Post Dropdown Menu. But I can add another button to the channel header if preferred. @jasonblais

[2019-05-16 23:15] jasonblais commented on #10169
@marianunez Yeah, you're totally right, so no concerns there.

[2019-05-17 00:38] carmo-evan commented on #10772
@jasonblais thanks. I opened a conversation [here](https://community.mattermost.com/core/pl/pmxpgd9sbjya9dzexc1kuqziir). The general consensus was that there's no real good way to remove that pending status as of right now, and that it's an issue that's common enough that might warrant adding that capability to plugins at some point. @DSchalla, @levb, and @crspeller started a conversation about it

[2019-05-17 03:27] hanzei commented on #10717
Hey @Wipeout55,

Glad you want to contribute to this project! Let me know if you have any questions, either about this ticket or Mattermost in general.
Also feel free join the Contributors channel on the [Mattermost Community Server](https://community.mattermost.com).

[2019-05-17 04:00] #10586 closed

[2019-05-17 04:02] hanzei commented on #10576
Hey @prapti,

How is your work on this going? Can we help with anything?

[2019-05-17 04:02] hanzei commented on #10627
@jasonblais What is the status of this? Is someone working on this?

[2019-05-17 04:02] hanzei commented on #10642
Making this one available for the public again due to inactivity.

[2019-05-17 04:05] hanzei commented on #10038
Hi @sapnasivakumar, gently reminder about this issue :wink:

[2019-05-17 05:11] felibb commented on #10856
5.8.0, macOS 10.12.6 desktop client tested.

[2019-05-17 06:04] composednitin commented on #10308
Hi,
I would like to contribute in cypress automation testing, I would like to take this ticket

[2019-05-17 08:46] #10762 closed

[2019-05-17 10:24] maruTA-bis5 opened #10862 "[Edge] Cannot upload screenshot image using Ctrl + V"
#### Summary
Edge users cannot upload the screenshot image using `Ctrl + V`.

#### Steps to reproduce
1. Press `Print Screen` or `Alt + Print Screen` to take screenshot to clipboard.
2. Focus to post box.
3. Press `Ctrl + V` to upload screenshot image.

Reproduced in 5.10.0 EE (without license), community.mattermost.com, commuity-daily.mattermost.com.

#### Expected behavior
Screenshot image file

[2019-05-17 10:27] hanzei commented on #10308
Surely @composednitin. Let us know, if you have any questions.

[2019-05-17 10:31] sudheerDev commented on #10156
@MirlanMaksv Sorry for the delay on getting back to you on this. Ya we cannot access dispatch or store in the classes of providers we have as we are trying to move away from the pattern of removing the global usage of those instances.

One way i see is to pass in the redux action `autocompleteUsers` for these instances from the react component as an argument which will help solve this issue.

so,

[2019-05-17 12:26] jwilander commented on #10169
@marianunez I was thinking of having it as another parameter to the registry function for adding your RHS component. Under the hood you could store it in the reducer with the plugin component. Does that make sense

[2019-05-17 12:34] esethna opened #10863 "Update text for warning dialog when a System Admin deactivates a user who has created at least one bot account."
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-17 12:58] esethna opened #10864 "In bot account creation success page, add text that clarifies the bot should be added to teams and channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-17 12:58] esethna opened #10865 "Regression: Bot tag missing for bots in channel switcher (CMD/CTRL+K)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-17 13:00] jasonblais commented on #10662
For now, this improvement was simplified and re-created at https://github.com/mattermost/mattermost-server/issues/10863. Closing

[2019-05-17 13:00] #10662 closed

[2019-05-17 13:06] jasonblais commented on #10627
@andrevasconcelos, @asaadmahmood and I have been talking about this in community, most latest was last week

[2019-05-17 13:20] jdepro commented on #10856
This is also an issue on v4.2.1, Windows 10 1809 Desktop client

[2019-05-17 13:37] sapnasivakumar commented on #10038
https://github.com/mattermost/mattermost-webapp/pull/2811
The above PR corresponds to this issue

[2019-05-17 13:37] sapnasivakumar commented on #10038
@hanzei done :)

[2019-05-17 13:43] crspeller commented on #10169
This all makes sense to me. Good job @marianunez!

[2019-05-17 13:48] #10411 closed

[2019-05-17 14:48] hankinator commented on #10856
@amyblais Hey there,

We see this on both Windows and Linux (Ubuntu in our case)

For a client:
**Chrome:** Version 73.0.3683.86 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit)
**Firefox:** 66.0.5 (64-bit)

Mattermost is running on a ubuntu 16.04 LXC container.

[2019-05-17 15:35] jasonblais commented on #10772
Thanks for the heads up! I've posted a reply in the thread https://community.mattermost.com/core/pl/mwdht9e3a3b59x8q3dhtb1xajo

[2019-05-17 21:04] scottleedavis commented on #10121
thank you @cpanato !  I applied your changes to the Makefile and it appears to work!  However, startup time for `make run` seems greatly reduced, and there are lots of 'sleeping' lines in initial output.  For this reason I labeled it WIP until it can be improved.  If I am doing anything incorrectly I would like to know.

[2019-05-17 21:47] prapti commented on #10576
Hi @hanzei
I am going to submit a PR for this ticket next week. Sorry for being out of the loop.

[2019-05-17 22:43] amyblais commented on #10862
Hi @maruTA-bis5, I believe the shortcut for uploading an image is ``Ctrl + U``, let me know if I've misunderstood anything?

[2019-05-17 23:11] scottleedavis commented on #10407
The issue appears to be with the version of marked being used.  When updating to the latest 0.6.2, the problem is solved, however seems to cause issues elsewhere with markdown rendering currently.

[2019-05-17 23:27] scottleedavis commented on #10121
I spoke too soon, not working again.  Will keep at it.  :)

[2019-05-18 00:15] scottleedavis commented on #10865
I am interested in working on this one.

[2019-05-18 00:18] scottleedavis commented on #10864
I am interested in this one.  :)

[2019-05-19 09:05] pradeepmurugesan commented on #10863
I can wok on this 👍

[2019-05-19 09:09] pradeepmurugesan commented on #10863
@jasonblais the given link is throwing a 404 https://mattermost.com/pl/default-bot-accounts

[2019-05-19 20:35] souvik3333 commented on #10715
Hi, Can I work on this?

[2019-05-19 21:35] jasonblais commented on #10863
Hey @pradeepmurugesan! That's "expected" for now - I'm working on documentation for bot accounts - once finished, we'll add a redirect from https://mattermost.com/pl/default-bot-accounts to that doc page.

This will happen before the 5.12 release date on June 16th.

Thanks for picking up this ticket!

[2019-05-19 21:55] jasonblais commented on #10715
Certainly, thank you @souvik3333! If you have any questions, don't hesitate to let us know.

[2019-05-19 23:09] lisakycho commented on #10682
@jasonblais, I got to a point where the bot name will be shorted on the RHS, but when i inspect it the bot indicator does not live outside col_name.
I will look into this future this week.

[2019-05-19 23:14] jasonblais commented on #10682
@lisakycho Thanks for the heads up!

I'd be happy to test the changes you have so far, if you're open to submitting a pull request. Perhaps it doesn't need to live outside col_name.

[2019-05-19 23:16] jasonblais commented on #10822
Hey @sapnasivakumar, just touching base to see if you have any questions so far :)

[2019-05-20 06:02] composednitin commented on #10274
I would like to grab this one

[2019-05-20 07:14] streaps opened #10877 "Access History is a GDPR violation"
#### Summary
I believe the excessive logging of IP addresses without the user's consent is a GDPR violation. IP addresses are personal data.

#### Steps to reproduce
IP addresses can be viewed in "Access History". I'm not sure for how long they are kept, but on my server it is for over 30 days (since the first login of the user).

Server: Mattermost 5.10 Team

#### Possible fixes
* Disable logging

[2019-05-20 07:39] saturninoabril commented on #10274
@composednitin Great, thanks!

[2019-05-20 07:57] #10575 closed

[2019-05-20 08:00] saturninoabril commented on #10575
Thank you @prapti for your contribution 🎉

[2019-05-20 09:12] composednitin commented on #10481
I would like to take this one

[2019-05-20 09:33] torgeirl opened #10878 "LDAP stops working after ESR upgrade"
#### Summary
LDAP stops working when upgrading server from last to current ESR version.

#### Steps to reproduce
1. Configure 4.10 (last ESR) server with LDAP
2. Upgrade server to 5.9 (current ESR)
3. Try to log in.

#### Observed behavior (that appears unintentional)
The user dialog indicate the username or password is wrong/unrecognized (forgot to take a screenshot), while the logs states the us

[2019-05-20 09:35] saturninoabril commented on #10481
@composednitin Sure, thanks!

[2019-05-20 11:46] #10717 closed

[2019-05-20 13:30] esethna opened #10879 "Review and refine in-product text for Channel Menu Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 13:30] esethna opened #10880 "Review and refine in-product text for Account Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 13:30] esethna opened #10881 "Review and refine in-product text for Team Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 14:45] esethna opened #10883 "Allow plugins to dismiss posts through the MessageWillBePosted hook"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 14:58] jasonblais commented on #10883
@carmo-evan here's the help wanted ticket for the changes we discussed couple of days ago

[2019-05-20 15:00] amyblais commented on #10856
I'm not able to reproduce this but I would like to open a bug ticket since so many people are seeing this.

Are there any Mattermost log errors or any additional reproduction steps you could help share that I could include in a bug ticket?

[2019-05-20 15:20] esethna opened #10884 "Review and refine in-product text for error text within team settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10885 "Review and refine in-product text for error text within channel settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10886 "Review and refine in-product text for error text within Account settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10887 "Review and refine in-product text for keyboard shortcuts modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10888 "Review and refine in-product text for menu items"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10889 "Review and refine in-product text on search hint box and no results found"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10890 "Review and refine in-product text for Tooltips"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:20] esethna opened #10891 "Review and refine in-product text for error text below the text input area"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-20 15:31] VolatianaYuliana commented on #10806
hello! I'd like to take this one :)

[2019-05-20 15:42] saturninoabril commented on #10806
Sure, thanks @VolatianaYuliana!

[2019-05-20 16:00] lieut-data commented on #10883
Posting this here for extra context:

[2019-05-20 17:46] felibb commented on #10856
[https://gist.github.com/felibb/b2e6a1e16847f82727fdfb62ee1af329](Gist)

This is what I found in `/opt/mattermost/logs/mattermost.log` from the time we tested. I don't remember neither stopping nor starting the server manually though.

I had to archive the channel immediately via CLI, as my client was unusable. After that the log looks normal.

[2019-05-20 18:05] amyblais commented on #10878
Hi @torgeirl, would you be open to posting your LDAP settings and your full Mattermost logs?

I also recommend taking a look at our customer support system [here](https://mattermost.com/support/) as our customer support team is more familiar with enterprise features and also provides faster support for urgent issues. You can open a support ticket via https://mattermost.zendesk.com/hc/en-us/request

[2019-05-20 18:28] carmo-evan commented on #10883
@jasonblais thanks! I'll work on it.

[2019-05-20 18:42] enahum commented on #8942
Re-opening this issue as I reverted the PR cause it was causing a server panic.

RevertPR here #10895

[2019-05-20 18:42] #10038 closed

[2019-05-20 18:43] saturninoabril commented on #10038
Thank you @sapnasivakumar 💯
PR is recently merged.

[2019-05-20 20:25] sapnasivakumar commented on #10822
@jasonblais I'll get in touch in a couple of days with any questions I have on this

[2019-05-20 21:12] Wipeout55 commented on #10342
Hey does this still need work? I would love to take it on if so :)

[2019-05-20 22:55] jasonblais commented on #10342
@cpoile Curious on your thoughts if you have a recommendation on next steps for [your open PR](https://github.com/mattermost/mattermost-server/pull/10384), and if there are areas @Wipeout55 can help with?

[2019-05-21 11:40] esethna opened #10900 "Allow plugins trigger interactive dialogs even without clicking an interactive button/menu or using a slash command"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-21 14:24] cpoile commented on #10342
@jasonblais @Wipeout55 I'm not sure what the next steps are. I think we needed PM and design work on that before moving forward. And now we might be moving to a different method for setting pages which would remove the need for this (but that could be a long-term goal, Jason?). The PR itself is not super useful as a starting point, given that we don't know what we want yet. :)

[2019-05-21 16:10] esethna opened #10901 "Add a "/crash" command for demo plugin"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-21 16:15] #10864 closed

[2019-05-21 16:16] amyblais commented on #10523
Closing this as the fix will be available in upcoming v5.12 release,

[2019-05-21 16:16] #10523 closed

[2019-05-21 16:36] esethna opened #10902 "Add a separate post type for /me messages and update formatting"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-21 16:44] scottleedavis commented on #10900
If/when this is up for grabs I'd be interested.  (unless this is for someone else, that is ok.  :)

[2019-05-21 16:44] scottleedavis commented on #10901
If/when this is up for grabs I'd be interested.  (unless this is for someone else, that is ok.  :)

[2019-05-21 17:40] amyblais commented on #10877
Hi @streaps, thank you for the report. I will ask our team to take a look at this,

[2019-05-21 18:01] #10761 closed

[2019-05-21 19:48] Wipeout55 commented on #10683
I'll take this on!

[2019-05-21 19:49] Wipeout55 commented on #10342
Okay thanks @cpoile! I'll take on something else for now.

[2019-05-21 19:55] cpoile commented on #10342
@Wipeout55 after today's meeting, I now know that even if we offer a different way to do system console settings, we will still offer the old (simpler) way. So if this looks interesting, please take it -- we'll just have to assign some PM and designer time to get it ready for you. :)

[2019-05-21 20:44] jasonblais commented on #10901
@scottleedavis It's available, I'll let you grab it :)

[2019-05-21 21:04] hanzei commented on #10683
Thank you very much @Wipeout55! :+1: Let us know if you have any questions.

[2019-05-21 21:19] lisakycho commented on #10682
@jasonblais, hey i submitted a rough draft of my pull request in hopes that I can get some help.
I tried to put the styling in `_post.scss`, but it kept getting overwritten and wasn't sure if I was putting it in the right place.
When i inline the styling it seems to somewhat work.
Any help would be great!

[2019-05-21 21:21] jasonblais commented on #10682
Thank you @lisakycho! I'll ask Asaad to help review the changes so far 👍

[2019-05-21 21:43] hanzei commented on #10900
Surely, go ahead @scottleedavis. Glad, you are looking into this!

[2019-05-21 23:08] amyblais commented on #10687
Closing this as the bug has been fixed for upcoming v5.12 release,

[2019-05-21 23:08] #10687 closed

[2019-05-21 23:09] amyblais commented on #10748
Closing this as there hasn't been updates on this for a while. Please re-open this issue with relevant information if the issue persists.

[2019-05-21 23:09] #10748 closed

[2019-05-21 23:09] amyblais commented on #10771
Closing this as this bug has been fixed for the upcoming v5.12 release,

[2019-05-21 23:09] #10771 closed

[2019-05-22 00:50] #10308 closed

[2019-05-22 00:51] saturninoabril commented on #10308
Thank you @composednitin for your contribution!

[2019-05-22 03:33] bolariin commented on #10716
I would like to resolve this

[2019-05-22 12:30] hanzei commented on #10716
Thanks @bolariin for working on this!

[2019-05-22 12:57] megari commented on #10856
Hmm, this looks a bit suspect in the log @felibb posted:
[code]

[2019-05-22 13:31] tumbl3w33d opened #10909 "Visible SMTP Server Password in System Console"
#### Summary
SMTP Server Password visible in system console. It's not a big deal, but good practice is to now show entered passwords. At least I cannot think of any other application that does that.

#### Steps to reproduce
Enter your password into the form field.

#### Expected behavior
The password cannot be read by someone standing next to me (i.e., it's a password type input field)

#### Obser

[2019-05-22 14:22] amyblais commented on #10909
Thank you @tumbl3w33d, I opened a bug ticket for this here: https://mattermost.atlassian.net/browse/MM-15734.

[2019-05-22 17:56] hankinator commented on #10856
This is apparently fixed in the newest version (5.9.1, it also works with 5.9.0). It was breaking with previous versions. If you update mattermost to (5.9.1 and 5.9.0) it should work.

The issue reproduces with 5.8.2 (tested with a docker container)

My apologies for the false information on the first post (says 5.9.0). Mattermost was patched between when I was gathered the info and when the bug f

[2019-05-22 18:12] amyblais commented on #10856
Hi @hankinator, no worries, awesome to hear that it's fixed! That also explains why I couldn't reproduce it. I'll close this issue for now,

[2019-05-22 18:12] #10856 closed

[2019-05-22 19:46] ThiefMaster opened #10912 "Slack import conflicts with externally-managed users"
#### Summary
Importing from Slack creates users, with username/email combos that might conflict with data from SSO.

#### Steps to reproduce
- Enable SSO (e.g. GitLab)
- Have a user in SSO with username `foo` and email `foo@example.com`
- Have a user in Slack with username `foo` and email `bar@example.com`

#### Expected behavior
The slack-imported user gets a custom prefix/suffix to distinguish f

[2019-05-22 19:49] ThiefMaster opened #10913 "Linking channels doesn't work right after an opening parenthesis"
#### Summary
Linking channels doesn't work right inside `(...)`

#### Steps to reproduce
Write `(~somechannel is broken)` with `somechannel` being a valid channel name

#### Expected behavior
`~somechannel` linking to the channel.

#### Observed behavior (that appears unintentional)
It remains plaintext

#### Possible fixes
Fix the boundary check to determine what's part of the channel name; proba

[2019-05-22 22:12] amyblais commented on #10912
Thank you @ThiefMaster, opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-15748.

[2019-05-22 22:15] amyblais commented on #10913
Thank you @ThiefMaster, bug ticket here: https://mattermost.atlassian.net/browse/MM-15749.

[2019-05-22 22:40] jasonblais opened #10915 "Mattermost Integrations Bounty Program: May 23 - July 23"
## Mattermost Integrations Bounty Program: May 23 - July 23

Mattermost has launched an integrations bounty program to work with our communities to create highly-requested integrations.

The bounty per integration is $2,000 PLUS an exclusive Mattermost SWAG bag! The period for submissions is May 23 - July 23, 2019.

If you’re interested in joining the program,
  - Sign in to https://community.matt

[2019-05-22 22:40] jasonblais commented on #10457
We received the following submissions from our contributors who won the bounties!

1. @manland - GitLab https://github.com/manland/mattermost-plugin-gitlab
2. @kosgrz - Skype for Business https://github.com/kosgrz/mattermost-plugin-skype4business
3. @waseem18 - Jenkins https://github.com/waseem18/mattermost-plugin-jenkins

Thanks to all participants! For phase 2 of the bounty program, see: https:/

[2019-05-22 22:40] #10457 closed

[2019-05-22 23:29] lisakycho commented on #10552
I can take a shot at this!
Are we just changing the visual text for this?

[2019-05-23 01:16] jasonblais commented on #10552
@lisakycho Thanks! And that's correct, there are two changes:

1. Updated help text for username on the account creation screen
![image](https://user-images.githubusercontent.com/13119842/58218901-b9966e80-7cd6-11e9-890a-c5c5da188203.png)

2. Updated error message text for username field
![image](https://user-images.githubusercontent.com/13119842/58218920-cdda6b80-7cd6-11e9-8fea-e8ae6c2f6ada.png)

[2019-05-23 01:20] Gloriashield opened #10916 "Timezone suggestion box could not scrolling."
#### Summary
If you click on the suggestion box scroll bar of the Timezone, the suggestion box will close.
Version: 5.11.0 / 5.10.0

#### Steps to reproduce
1. Do not check the automatic Timezone setting.
2. Click the input box.
3. Click the scroll bar of suggestion box.
4. The suggestion box will close.

#### Expected behavior
See above, please.

#### Observed behavior (that appears unintentional

[2019-05-23 02:04] Wipeout55 commented on #10342
Okay great! I'm definitely still interested, but I've taken on another ticket as well (MM-14727). I'm not sure if there's any priority on what I should work on first, but let me know if there is. I'll probably start on the other ticket first if there is no preference, as it seems a bit more in-depth.

[2019-05-23 02:07] jasonblais commented on #10342
@Wipeout55 Given MM-14727 is well-defined, let's start with that one. It's also a good improvement to the bot developer experience 👍

[2019-05-23 03:23] carmo-evan commented on #10883
After talking to @lieut-data , it was decided we'd signal the dismissal by passing in a custom error message that could be added to this if statement:
https://github.com/mattermost/mattermost-redux/blob/master/src/actions/posts.js#L237-L238

However, in testing I noticed that this action is not quite working:
https://github.com/mattermost/mattermost-redux/blob/master/src/actions/posts.js#L240

My

[2019-05-23 07:07] jkl5616 commented on #10186
I'd like to start my contribution from this. Can I take this one?

[2019-05-23 07:45] torgeirl commented on #10878
Yes, but I'll need to do some redactions:

[code]

Full log for the Mattermost server from daemon start to first failed login attempt:
[code]

[2019-05-23 10:29] hanzei commented on #10186
Hey @jkl5616,

Thank for your interest in this project. Surely you can take this one. Let us know, if you have any questions.

[2019-05-23 12:14] amyblais commented on #10916
Thank you @Gloriashield, we have a ticket open for this here: https://mattermost.atlassian.net/browse/MM-15459.

[2019-05-23 12:40] jwilander commented on #10883
@carmo-evan we use [redux-thunk](https://github.com/reduxjs/redux-thunk) as a middleware to allow returning functions as actions. That should work fine. Do you have a link to your changes? I can better help explain what might be happening if I can see those

[2019-05-23 13:07] carmo-evan commented on #10883
My change is pretty minor. It'd be just adding a new error id to that if statement, as follows:

[code]

[2019-05-23 13:29] carmo-evan commented on #10883
This is the behavior I'm experiencing with `removePost()`, which is the current version of the code.
![ezgif-1-f8bb7b6d6fca](https://user-images.githubusercontent.com/34245571/58256452-09a81c00-7d3d-11e9-9c31-1a861b30910d.gif)

And this is what happens with `postRemoved()` instead.
![ezgif-1-0961ed53c178](https://user-images.githubusercontent.com/34245571/58256552-365c3380-7d3d-11e9-8351-308276fec

[2019-05-23 17:11] amyblais commented on #10909
Hi @tumbl3w33d, letting you know that the Jira ticket was closed because this is actually a feature request. Would you be open to sharing this idea in our feature request forum here: https://mattermost.uservoice.com/forums/306457-general?

[2019-05-23 17:29] tumbl3w33d commented on #10909
Hiding secrets from prying eyes is a feature for you? ó_Ò

I know - "don't kill the messenger". I will create a feature request for it.

[2019-05-23 20:35] MayaWolf commented on #9222
This still/again happens to me on the 5.9.1 version. I'm using a non-QWERTY keyboard layout with QWERTY key codes, and it's incorrectly using key texts rather than key codes for keyboard shortcuts. Please reopen this issue.

[2019-05-23 23:14] Wipeout55 commented on #10683
Hey all, does anything need to happen when a bot is created through a plugin? It looks like the bot creator would usually be the plugin itself, but the code says it could also specify a user as the bot's owner.

[2019-05-24 07:46] #10712 closed

[2019-05-24 09:16] hanzei commented on #10683
@jasonblais ^

[2019-05-24 09:39] hanzei commented on #8942
Hey @giorgosdi,

Sorry, that we had to revert your PR. This should have been caught in the review process. Would you be open on re submitting the PR? Looking forward to this.

[2019-05-24 09:44] carmo-evan commented on #10688
I'd like to do this one.

[2019-05-24 09:48] hanzei commented on #10688
Wow, you are working on a lot of issue. Thanks for this @carmo-evan! :+1:

[2019-05-24 12:53] jkl5616 commented on #10624
I'd like to work on this!

[2019-05-24 12:58] amyblais opened #10922 "Mattermost v5.12"
You can find key dates for v5.12 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### June 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### June 12th: Release Build Cut
The fin

[2019-05-24 13:09] hanzei commented on #10624
Thanks @jkl5616 :tada:

[2019-05-24 13:51] jasonblais commented on #10683
@Wipeout55 good question. If the bot is created through a plugin, let's not send a DM to the user. Only send it when a bot account is created through the REST API or through the UI via Main Menu > Integrations > Bot Accounts.

This is because
 - bots created through plugins are usually managed by the plugin itself, as you mentioned
 - plugins have the ability to post to any channels via bots
 - if

[2019-05-24 14:18] saturninoabril commented on #10572
I'm taking this to initially introduce test in validating email.

[2019-05-24 14:22] amyblais commented on #10878
Hi @torgeirl, I've posted this issue for our team to look at, I'll let you know their feedback,

[2019-05-24 15:00] #10572 closed

[2019-05-24 15:04] lafriks opened #10923 "Gitea SSO integration"
Would it be possible to add also Gitea SSO integration to Mattermost like it has GitLab's?

Gitea from version 1.8.0 now also acts as OAuth provider so that should not be hard to add

[2019-05-24 15:05] ThiefMaster opened #10924 "Always return JSON in /oauth/access_token"
Currently in case of an error such as an invalid authorization code, this endpoint returns HTML with a 500 status code.

This should be a 4xx status code and also JSON (since that's what's sent in case of success) - currently an oauth client using it needs to check for errors first because of course the HTML that is returned by that endpoint is not valid JSON...

[2019-05-24 15:21] #10865 closed

[2019-05-24 15:24] amyblais commented on #10923
Thanks, appreciate your feedback @lafriks.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2019-05-24 15:27] #10909 closed

[2019-05-24 16:24] jasonblais commented on #9222
@MayaWolf Thank you for letting us know. Would you be open to sharing the following to help us try reproduce the issue:

- operating system this reproduces on, eg. Windows 10, Mac 10.12, ..
- browser, eg. Chrome, Firefox,

/cc @amyblais

[2019-05-24 16:33] lafriks commented on #10923
I'm Gitea developer so I would be willing to contribute if such idea is reviewed and accepted

[2019-05-24 16:39] esiemiat commented on #1880
I have an on premise Azure DevOps instance and am trying to use the Slack service hook to communicate to MatterMost. I was curious if there is a way to specify the channel the messages should post to or am I limited to whatever channel the Incoming WebHook is configured with on the MatterMost side of things?

[2019-05-24 16:45] #10807 closed

[2019-05-24 17:05] scottleedavis commented on #10407
Turns out, I should have been using mattermost/marked.  Made the change there, and will pull in the appropriate repo hash when it is approved.

[2019-05-24 17:11] MayaWolf commented on #9222
@jasonblais Thanks for getting back to me!
Windows 10, Chrome.
My keyboard layout is similar to Dverty (Dvorak key texts, Qwerty key codes; the purpose being that you can keep using Qwerty keyboard shortcuts while typing in Dvorak)
The most likely reason for this issue is that key texts are used instead of key codes for processing keyboard shortcuts.

[2019-05-24 18:40] amyblais commented on #10923
Hi @lafriks, that's great to hear, here are instructions on how to get started: https://developers.mattermost.com/integrate/getting-started/.

I also posted a note for our team on our [developer-toolkit channel](https://community.mattermost.com/core/channels/developer-toolkit) that you are interested in working on this integration.

[2019-05-24 19:18] jasonblais commented on #10923
Thanks @lafriks for the suggestion, and for your willingness to contribute the feature.

The effort to properly support, test and document Gitea SSO--on web, desktop and mobile platforms--is non-trivial, so we would first like to measure how much interest there is within the Mattermost community to support such a feature.

As a next step, I would recommend starting a conversation in the [feature i

[2019-05-24 20:36] lafriks commented on #10923
Actually someone had already suggested this idea there: https://mattermost.uservoice.com/forums/306457-general/suggestions/37502962-add-gitea-oauth2-support

[2019-05-24 20:55] lisakycho commented on #10232
Hi, I can try to work on this!

[2019-05-24 20:57] amyblais commented on #10923
Hi @lafriks, awesome, thank you for upvoting the feature request,

[2019-05-24 20:57] #10923 closed

[2019-05-24 21:20] jasonblais commented on #10232
Great, thank you @lisakycho!

[2019-05-25 09:00] jkl5616 commented on #10714
I'd like to work on this!

[2019-05-25 09:00] jkl5616 commented on #10713
I'd like to work on this!

[2019-05-25 13:55] giorgosdi commented on #8942
Hey @hanzei no problem ! Yeah i would like to continue this work. I already spoke with @jespino on how to proceed so we can merge code without any problems

[2019-05-25 14:32] hanzei commented on #10713
Hey @jkl5616, Thanks for working on this! :+1:

[2019-05-25 14:34] hanzei commented on #10714
Thanks again for working on this!

[2019-05-25 16:33] giorgosdi commented on #10718
@hanzei Created a PR -> https://github.com/mattermost/mattermost-server/pull/10926

[2019-05-25 17:55] nimrodshn commented on #10336
@hanzei Sorry for the inactivity. Please move this to [Help Wanted] I might go back to my project to finish it later on when I find time but at this point in time this issue is  -"up for grabs".

[2019-05-25 18:44] scottleedavis commented on #10121
Had to add port exposure for OSX @cpanato otherwise it works as you showed.  :)

[2019-05-25 19:01] jesper-apsis commented on #10642
Can I give it a try?

[2019-05-25 19:23] carmo-evan commented on #10883
@hanzei @lieut-data can you review my comments above please? We'll need to merge a redux change together with the server changes in https://github.com/mattermost/mattermost-server/pull/10921

[2019-05-25 19:35] Wipeout55 commented on #10683
Thanks @jasonblais!

[2019-05-25 19:47] #9155 closed

[2019-05-25 19:48] hanzei commented on #10642
Surely, @jesper-apsis. Let me know, if you have any questions.

[2019-05-25 23:25] steevsachs commented on #10862
The issue here is that Edge does not support the `File` constructor (https://developer.mozilla.org/en-US/docs/Web/API/File), used in `file_upload.jsx` on line 508: https://github.com/mattermost/mattermost-webapp/blob/master/components/file_upload/file_upload.jsx#L508

This same issue occurs in IE, which may be more of an issue since Edge is moving to Chromium and the full File API should then be s

[2019-05-26 00:32] ejachang commented on #8092
Hi @hanzei - I'm still working on the webapp part of the solution for this ticket, but was not sure if additional help is still needed since the Help Wanted label was added?

[2019-05-26 00:41] harshilsharma63 commented on #10683
@jasonblais plugins can specify a user ID as owner ID when creating bots. This makes the specified user as the owner. Correct me if I'm wrong though.

I think as long as `bot.OwnerId` is one of the active user's ID, we should send the DM to that user, irrespective of where and how did the bot get created.

[2019-05-26 01:03] jasonblais commented on #10683
@harshilsharma63 Thank you, I wasn't familiar with that. When someone creates a bot through the rest API or the UI, that person gets automatically assigned as the `bot.OwnerId`. Is that correct?

If so, your proposal about sending a DM to each user assigned as `bot.OwnerId` would actually makes sense.

(/cc @Wipeout55)

[2019-05-26 01:06] Wipeout55 commented on #10683
@jasonblais As far as I understand it, that is correct, which is why I raised the question in the first place. My apologies for not being clearer before.

[2019-05-26 01:08] jasonblais commented on #10683
@Wipeout55 Ah okay, got it. I missed/forgot about that part. Then it makes sense to send a DM whenever a user is assigned as the `bot.OwnerId`.

[2019-05-26 01:10] jasonblais commented on #8092
Hey @ejachang! We updated our Help Wanted issues by removing `[Help Wanted]` from the issue title and instead include it as a label. No new work/help is needed from what you're already working on.

Thanks for all your help on this issue! It's much appreciated :)

[2019-05-26 01:10] Wipeout55 commented on #10683
Great, I'll make sure to include that change as well. Thanks again @jasonblais and also thanks to @harshilsharma for helping me clarify.

A follow-up but somewhat unrelated question, who should I contact with regards to getting translations for the three(?) new strings I'll be adding to the app?

[2019-05-26 01:12] jasonblais commented on #10683
Excellent question. You should make sure the user interface (UI) strings are included in `en.json` localization files. You do not need to worry about the other languages - the strings from `en.json` will be automatically added to the [Mattermost Translation Server](https://translate.mattermost.com/projects/mattermost) once merged, and translated by our localization community.

[2019-05-26 01:22] Wipeout55 commented on #10683
Oh that's cool! I will make sure to do that!

[2019-05-26 01:30] jasonblais commented on #10683
Great, thanks @Wipeout55! Here's also a quick 10-step checklist for contributions, which might be helpful https://developers.mattermost.com/contribute/getting-started/contribution-checklist/

(Not each step may apply to your PR of course :) )

[2019-05-26 04:00] scottleedavis commented on #10336
Hello!  I'd like to do this one.  :)

Started today and was able to extract EXIF from uploaded images.
https://github.com/scottleedavis/mattermost-plugin-noexif

However, stripping out the EXIF tags I haven't been able to do yet, and have asked the question for the library creators.
https://github.com/dsoprea/go-exif/issues/16

This is a work in progress.

[2019-05-26 04:56] hanzei commented on #10336
Hi Scott, great, that you are working on this! :rocket:

[2019-05-26 05:14] jesperhansen17 commented on #10642
Hi @hanzei, I took on this issue above. But I realized that I was logged in on the wrong Github account. So I just want to let you know that this is the account I will contribute with.

Everything is going well, will shortly open PR.

[2019-05-26 08:55] esethna opened #10929 "Migrate "Session.AnalyticsSessionCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10930 "Migrate "Session.UpdateRoles" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10931 "Migrate "Session.UpdateDeviceId" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10932 "Migrate "Session.UpdateLastActivityAt" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10933 "Migrate "Session.PermanentDeleteSessionsByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10934 "Migrate "Session.RemoveAllSessions" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10935 "Migrate "Session.Remove" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10936 "Migrate "Session.GetSessionsWithActiveDeviceIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10937 "Migrate "Session.GetSessions" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10938 "Migrate "Session.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 08:55] esethna opened #10939 "Migrate "Session.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-26 13:06] #10720 closed

[2019-05-26 14:36] jkl5616 commented on #10145
Well, this seems to be a very interesting feature! I'd like to work on this.

[2019-05-26 20:33] ThiefMaster commented on #10923
This sound like a very good reason to *replace* the builtin gitlab integration with a generic one, instead of adding Gitea. Because **it pretty much already exists**! The *only* thing that makes it "gitlab" and not just "oauth" is that it's *labelled* "GitLab" in the UI (and uses `authservice == 'gitlab'` in the users table).

Sure, it expects [certain fields](https://github.com/mattermost/matterm

[2019-05-26 21:35] ThiefMaster opened #10943 "redirect_to information not used after gitlab login, breaking oauth provider flow when not logged in yet"
When logging in through gitlab (or any other oauth provider), the redirect_to param pointing to the URL to go to after successfully logging in is lost. It's included in the base64-encoded oauth state in `GetOAuthLoginEndpoint`, but never used after completing the oauth login flow. `CompleteOAuth` still receives the state props, but the `redirect_to` value is never used!

---

While this is just a

[2019-05-26 23:01] lieut-data commented on #10883
@lieut-data, can you setup the https://github.com/reduxjs/redux-devtools and watch the sequence of actions (noting that some of them might be batched)? Time-travel can come in handy here to narrow down just what is happening.

[2019-05-26 23:03] carmo-evan commented on #10939
Doing this if that's ok.

[2019-05-26 23:15] carmo-evan commented on #10883
Will do it tonight.

[2019-05-27 01:13] carmo-evan commented on #10883
@lieut-data it looks like an issue of incompatibility of redux-batch-actions and thunks
https://github.com/tshelburne/redux-batched-actions/issues/3

[2019-05-27 01:17] ahmaddanialmohd commented on #7195
Hi, everyone.

I recently reproduced this issue on Mattermost 5.11.0 and confirmed that the password reset link expired after 2 hours:

- Confirm that the email is received at 6:56 AM:

<img width="1103" alt="password_reset_1" src="https://user-images.githubusercontent.com/49461314/58389780-e0023400-805f-11e9-9818-1a91e42d3bfa.png">

- Went ahead with the password reset at 9:06 AM:

<img width="55

[2019-05-27 01:20] carmo-evan commented on #10883
Implementing this polyfill suggestion fixes the issue.

[2019-05-27 01:40] lieut-data commented on #10883
Great investigation -- that makes a lot of sense. The polyfill seems reasonable, though I find some of this state flow unnecessarily complex and wonder "if there's a better way." Suggest pinging @hmhealey for feedback when you have a PR for review.

[2019-05-27 01:45] carmo-evan commented on #10883
Here's a draft https://github.com/mattermost/mattermost-redux/pull/840/files

[2019-05-27 02:15] Wipeout55 commented on #10683
Okay, so after lots of investigation I've come up with 2 ways of implementing this workflow. Both will involve creating a custom React component that will be rendered using the system_message_helper, but the amount of logic written on the front-end vs. the back-end will vary (and bear with me as I'm still new to the codebase :-) )

1) On bot creation, a post will be created with a custom type and

[2019-05-27 03:08] shollander commented on #10923
@ThiefMaster I think you have the right idea. I don't know why mattermost has hardcoded oauth to GitLab. I would think it would make much more sense to be a little more flexible. Sure, it's easier on users to have everything taken care of, but there has got to be a better way.

[2019-05-27 08:44] jespino commented on #10939
Awesome @carmo-evan! Thanks!

[2019-05-27 08:46] hanzei commented on #10145
Awesome! Indeed this is a handy feature. Thanks for working on this :+1:

[2019-05-27 08:53] hanzei commented on #10642
Hey @jesperhansen17, thanks for the heads up. :wink: Looking forward to your PR.

[2019-05-27 09:27] #10719 closed

[2019-05-27 11:10] hanzei commented on #10764
Fixed with https://github.com/mattermost/mattermost-server/pull/10829

[2019-05-27 11:10] #10764 closed

[2019-05-27 11:10] hanzei commented on #10763
Fixed with https://github.com/mattermost/mattermost-server/pull/10829

[2019-05-27 11:10] #10763 closed

[2019-05-27 11:11] hanzei commented on #10786
Hey @Alamin02,

Just want to check how are you doing. Do you have any questions?

[2019-05-27 13:08] amyblais commented on #10862
Hi @steevsachs, thank you, and that would be great if you are open to submitting a fix for this issue. Please let us know if you have any questions on how to get started.

[2019-05-27 13:17] steevsachs commented on #10862
Sure thing, I’ll give it a go!

[2019-05-27 13:29] bolariin commented on #10929
I'd like to work on this

[2019-05-27 13:32] hanzei commented on #10929
Thanks @bolariin :+1:

[2019-05-27 13:38] composednitin commented on #10075
i would like to take this

[2019-05-27 13:41] saturninoabril commented on #10075
Sure, thanks @composednitin!

[2019-05-27 13:47] it33 opened #10947 "Expected result doesn't show up in search"
#### Summary
Expected result doesn't show up in search

#### Steps to reproduce
On community.mattermost.com search for datasheet on Monday 5/27/2019 for a DM conversation on 5/24/2019 that clearly includes the word `datasheet`

![image](https://user-images.githubusercontent.com/177788/58423817-dfab6e00-804a-11e9-9f45-56f48e656475.png)

#### Expected behavior

Find the result

#### Observed behavio

[2019-05-27 14:43] crspeller commented on #10683
@Wipeout55 I agree with Harrison here. 2 seems like the way to go.

[2019-05-27 14:44] amyblais commented on #9222
Hi @MayaWolf, would you be open to testing if this reproduces on the latest version? You can test on our [community server](https://community.mattermost.com) which is on v5.11.

[2019-05-27 15:40] #10713 closed

[2019-05-27 16:17] Willyfrog commented on #10232
Hi, sorry @hanzei , life got in the way and was away for quite some time. I see @lisakycho already started, so I can share what I had if that helps him

[2019-05-27 16:54] #10929 closed

[2019-05-27 18:19] GianOrtiz commented on #10938
I would like to take this one.

[2019-05-27 19:03] amyblais commented on #10756
I'll close this issue for now as there hasn't been updates for a while, please re-open this issue where needed.

[2019-05-27 19:03] #10756 closed

[2019-05-27 19:57] ejachang commented on #8092
Oh, got it @jasonblais ! Thanks for the clarification.

[2019-05-27 20:20] hanzei commented on #10938
Surely @GianOrtiz, thanks for working on this :+1:

[2019-05-27 20:27] jasonblais commented on #10863
Hey @pradeepmurugesan, let me know if you have any questions about this ticket?

[2019-05-27 20:36] bolariin commented on #10936
I would like to resolve this

[2019-05-27 20:51] hanzei commented on #10936
Thanks @bolariin :rocket:

[2019-05-27 21:36] piperRyan commented on #10935
I would like try to resolve this issue.

[2019-05-27 22:44] amyblais commented on #10924
Ticket here: https://mattermost.atlassian.net/browse/MM-15835.

[2019-05-27 22:49] amyblais commented on #10943
Ticket for reference: https://mattermost.atlassian.net/browse/MM-15836.

[2019-05-27 22:59] esethna opened #10958 "Add progressive backoff for Ensure* plugin helper methods."
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-27 23:07] amyblais commented on #10947
Hi @it33, are you able to reproduce this consistently?

If yes, I'll ask our team to look into this further,

[2019-05-28 02:15] esethna opened #10959 "Add "Enabled" next to "post:all" and "post:channels" checkboxes in Bot Account creation and edit screens"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 04:25] liusy182 commented on #10958
Will be working on this

[2019-05-28 04:54] hanzei commented on #10935
Thanks for working on this @piperRyan! Let me know if you have any questions.

[2019-05-28 07:35] composednitin commented on #10573
Hi,
I would like to take this one

[2019-05-28 07:36] composednitin commented on #10482
I would like to take this one

[2019-05-28 09:10] kim95175 commented on #10937
I'll do it if ok!

[2019-05-28 10:25] jespino commented on #10937
@kim95175 Sure! :)

[2019-05-28 10:38] esethna opened #10963 "Migrate "Post.GetDirectPostParentsForExportAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10964 "Migrate "Post.GetRepliesForExport" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10965 "Migrate "Post.GetParentsForExportAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10966 "Migrate "Post.GetOldest" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10967 "Migrate "Post.PermanentDeleteBatch" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10968 "Migrate "Post.GetPostsBatchForIndexing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10969 "Migrate "Post.GetPostsByIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10970 "Migrate "Post.GetPostsCreatedAt" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10971 "Migrate "Post.AnalyticsPostCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10972 "Migrate "Post.AnalyticsPostCountsByDay" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10973 "Migrate "Post.AnalyticsUserCountsWithPostsByDay" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10974 "Migrate "Post.Search" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10975 "Migrate "Post.GetEtag" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10976 "Migrate "Post.GetPostsSince" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10977 "Migrate "Post.GetPostsAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10978 "Migrate "Post.GetPostsBefore" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10979 "Migrate "Post.GetFlaggedPostsForChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10980 "Migrate "Post.GetFlaggedPostsForTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10981 "Migrate "Post.GetFlaggedPosts" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10982 "Migrate "Post.GetPosts" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10983 "Migrate "Post.PermanentDeleteByChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10984 "Migrate "Post.PermanentDeleteByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10985 "Migrate "Post.GetSingle" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10986 "Migrate "Post.Update" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 10:38] esethna opened #10987 "Migrate "Post.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-05-28 11:02] #10714 closed

[2019-05-28 11:54] hanzei commented on #10482
Hey @composednitin,

Thanks for taking a shot. Let us know if you have questions.

[2019-05-28 11:54] hanzei commented on #10573
Thanks @composednitin :+1:

[2019-05-28 12:11] #10392 closed

[2019-05-28 13:10] #10682 closed

[2019-05-28 13:55] #10936 closed

[2019-05-28 14:04] #10716 closed

[2019-05-28 18:36] #10901 closed

[2019-05-28 21:38] jesperhansen17 commented on #10987
I'm interested working on this one, is that ok?

[2019-05-28 21:59] carmo-evan commented on #10986
I'll do this tonight if that's ok.

[2019-05-28 21:59] hanzei commented on #10987
Surely, thanks!

[2019-05-28 22:13] hanzei commented on #10986
Thanks for working on this @carmo-evan!

[2019-05-28 23:38] carmo-evan commented on #10985
I can also do this tonight.

[2019-05-29 00:33] carmo-evan commented on #10983
Also doing this tonight.

[2019-05-29 00:39] carmo-evan commented on #10982
Also doing this tonight.

[2019-05-29 01:14] carmo-evan commented on #10981
Also prepping a PR for this tonight.

[2019-05-29 01:39] carmo-evan commented on #10980
I'm also doing this one.

[2019-05-29 01:55] bolariin commented on #10959
I would like to resolve this

[2019-05-29 05:38] mounicapaladugu commented on #10974
Hi, I started working on this issue.

[2019-05-29 06:45] #10481 closed

[2019-05-29 06:46] saturninoabril commented on #10481
Thank you @composednitin!
PR is merged.  Closing this issue.

[2019-05-29 06:58] #10274 closed

[2019-05-29 06:59] saturninoabril commented on #10274
@composednitin thank you for your contribution!
PR merged, closing this issue now.

[2019-05-29 09:11] jespino commented on #10974
Awesome, thanks @mounicapaladugu!

[2019-05-29 12:55] #10983 closed

[2019-05-29 14:04] jasonblais commented on #10686
Thanks @andresoro for the contribution! Closing this issue

[2019-05-29 14:21] amyblais commented on #10916
Closing this for now as this bug has been fixed for an upcoming v5.12 release,

[2019-05-29 14:21] #10916 closed

[2019-05-29 14:33] wiersgallak commented on #10877
We have reviewed your request and per article [49 of the GDPR](https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679&from=EN), this falls under the extent of processing personal data for the purpose of ensuring network and information security. Moreover:

- You can control access to the logs via restricted access to the System Console and the server.
- As a self-hosted software,

[2019-05-29 14:48] #10980 closed

[2019-05-29 15:01] steevsachs commented on #10862
@amyblais PR opened. Pinging you here because I'm not sure how this gets assigned internally :)

[2019-05-29 15:10] #10789 closed

[2019-05-29 16:06] #10981 closed

[2019-05-29 18:32] #10642 closed

[2019-05-29 18:58] tomasmik commented on #10978
Could I pick this?

[2019-05-29 19:58] hanzei commented on #10978
Sure. Thanks for working on this @tomasmik! :+1:

[2019-05-29 20:47] pradeepmurugesan commented on #10863
@jasonblais  Thanks for checking.. Just saw the message.. A PR is already up for the task. Kindly review

[2019-05-29 21:55] scastillo commented on #10286
Hey guys, I' very new here and I'm just trying to run this using:

[code]

* I cleaned, nuked and ran again.
* Plugin tests are passing
* But I'm getting this error on the client:

[code]

Is this something interesting for this PR? or It's just me screwing something.

Excuse me if this is not the channel to share something like this if there is a better way I would like to learn so please send me

[2019-05-29 21:59] amyblais commented on #10862
Thank you! Opened a Jira ticket for reference: https://mattermost.atlassian.net/browse/MM-15916.

[2019-05-29 22:00] jesperhansen17 commented on #10984
Can I give this a try?

[2019-05-29 22:10] hanzei commented on #10984
Sure. Thanks @jesperhansen17 :+1:

[2019-05-29 22:17] hanzei commented on #10286
Hey @scastillo,

Thanks for your interest in this project. The error you see is not related to this ticket. But if you are interested it fixing this, it would be highly appreciated.

Just to be explicid: I'm currently working on this ticket. The PR can be found at https://github.com/mattermost/mattermost-plugin-demo/pull/28. But after this is merged, help with improving this would be appreciated.

[2019-05-30 01:29] scastillo commented on #10286
Oh its actually same issue mentioned here in (1): https://github.com/mattermost/mattermost-plugin-demo/pull/28#issuecomment-489373907

And yeah I would love to help to fix this if it ends up being a real issue. So I'm moving to extensions and asking more about how to create an issue about it. Is that an acceptable way to continue?

Danke.

[2019-05-30 08:20] jkl5616 commented on #10275
I'd like to work on this!

[2019-05-30 08:35] #10986 closed

[2019-05-30 09:33] manuelfischer opened #11004 "Scrolling not working on iOS signup"
#### Summary
Can not scroll sign-up page on iOS (Safari & Chrome) in portrait view. This prevents users from registering with a shared invite url.

#### Steps to reproduce
On any mattermost server, go to signup page (e.g. https://community.mattermost.com/signup_email) with an iPhone, try to scroll page

#### Expected behavior
Scrolling should work

#### Observed behavior (that appears unintentiona

[2019-05-30 12:39] hanzei commented on #10275
That was a fast PR. Thanks @jkl5616!

[2019-05-30 12:42] hanzei commented on #10286
Fixing console errors is always a good thing :wink:

You really need an issue to submit a PR. But if you want, I can create on on this repo.

[2019-05-30 12:43] #10985 closed

[2019-05-30 12:51] vickywane commented on #10976
Can i work on this ?

[2019-05-30 13:21] carmo-evan opened #11006 "API.GetPostThread return PostLIst is unsortable"
#### Summary
PostList returned by API.GetPostThread does not contain post IDs in the Order slice, causing the PostList to be unsortable.

#### Steps to reproduce
From a plugin, grab a PostList by calling `by API.GetPostThread` and try to sort it.

#### Expected behavior
PostLists should be sortable.

#### Observed behavior (that appears unintentional)
The order will stay the same.

#### Possible f

[2019-05-30 13:26] amyblais commented on #11006
Ticket for reference: https://mattermost.atlassian.net/browse/MM-15921.

[2019-05-30 14:41] rvillablanca commented on #10977
Hi, can I take this?

[2019-05-30 14:44] #10982 closed

[2019-05-30 14:49] rvillablanca commented on #10977
I've notice that `GetPostsAfter` uses a common method with `GetPostsBefore`, so this could be fixed for #10978, although is already being worked

[2019-05-30 18:57] #10939 closed

[2019-05-30 19:02] bolariin commented on #10930
I would like to resolve this

[2019-05-30 19:26] lisakycho commented on #10232
@jasonblais, when you say update the list of available timezone, am i just updating the file `services/timezones/default.go` and calling the timezones the same way?

[2019-05-30 20:39] jasonblais commented on #10232
@asaadmahmood or @esethna would you know? I think you're more familiar with this help wanted issue

[2019-05-30 21:19] #10963 closed

[2019-05-30 21:22] #10938 closed

[2019-05-30 21:30] hanzei commented on #10976
Sure @vickywane. Thanks for looking into this. :+1:

[2019-05-30 21:47] admin-cdn1cloud opened #11016 ""status_code":500 received when attempting to retrieve SAML metadata via API"
#### Summary
https://site.example.com/api/v4/saml/metadata returns "status_code":500 when service provider private key and public certificate are not present.

#### Steps to reproduce
Mattermost Version: 5.11.0
Database Schema Version: 5.11.0
Database: postgres

1. Configure SAML 2.0 settings
1a. Leave "Enable Encryption" option to false
1b. DO NOT provide key or cert files

Browse to https://site

[2019-05-30 21:53] GianOrtiz commented on #10970
I would like to work on this one.

[2019-05-30 23:23] amyblais commented on #11004
Hi @manuelfischer, thank you, I opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-15935.

[2019-05-30 23:29] albertoestarrona commented on #10193
Hi, I'd like to work on this one

[2019-05-30 23:49] bolariin commented on #10931
I would like to resolve this

[2019-05-30 23:56] Wipeout55 commented on #10683
Thanks @crspeller for the feedback!

In regards to the mobile app, if I am going to use Harrison's solution, what should the translation string be?
I figured something like:
`Please add me to teams and channels you want me to interact in. To do this, use the web app.`