[2021-02-01 16:43] mkraft opened #16839 "Generate a "client config" with booleans instead of strings."
#### Summary

The intent is that the API for the client config return values that are logically boolean as JSON values `true` or `false` rather than string values `"true"` or `"false"`.

#### Steps to reproduce
Request the client config from the API:

[code]

#### Expected behavior

Values are returned using the same value type as defined in the config models. For example, [`AnnouncementSettings.A

[2021-02-01 16:46] octomike commented on #16756
Hi @amyblais, thank you for reaching out.

Meanwhile we switched to the REST API to read the current server version and it's not an issue for us anymore. For what it's worth, I still consider this a bug or at least very surprising behaviour in the mattermost server utility.

[2021-02-01 18:14] amyblais commented on #16756
Thanks, I haven't been able to get feedback from devs on this yet, but I created a ticket for us to review https://mattermost.atlassian.net/browse/MM-32494.

[2021-02-01 22:18] arjunagl commented on #16401
@lieut-data I have submitted a PR for this and is ready for review.

[2021-02-02 02:18] mahenzon commented on #15640
Hi!
I wonder if scheduled DND is in work too?

as listed [here](https://mattermost.atlassian.net/browse/MM-8497?attachmentViewMode=list)
![screenshot-2](https://user-images.githubusercontent.com/20804158/106542967-e1af1b00-6515-11eb-9b05-c804bc99fa1e.png)

[2021-02-02 03:01] immolate-d commented on #7769
I can confirm this issue is still happening, affects all 200 people in my unit. Our administrator kept telling people last year that disappearing DMs were a known issue. I just saw it today, here is what happened:

1) My phone chime notification goes off
2) I see a mattermost notification on the screen
3) I unlock the screen and open mattermost
4) No no new DM is there. Completely gone
5) I opened

[2021-02-02 03:03] immolate-d commented on #8619
I can confirm this issue is still happening, it's happening sporadically to all 200 people in my unit. Our administrator kept telling people last year that disappearing DMs were a known issue. I just saw it today, here is what happened:

My phone chime notification goes off
I see a mattermost notification on the screen
I unlock the screen and open mattermost
No no new DM is there. Completely gone

[2021-02-02 11:20] lindy65 opened #16843 "Help test the Sidebar feature"
### Getting Started

### 1. Decide which Mattermost platform you'd like to test the Sidebar feature on:

   - **Desktop App**
      - Navigate to [the Mattermost Apps download page](https://mattermost.com/download/#mattermostApps) and click on the link for the Desktop App that corresponds to your working environment
      - Install the file and start the Desktop App
      - Add the following serve

[2021-02-02 15:29] compiledsound commented on #16839
I can pick this up

[2021-02-02 16:04] mkraft commented on #16839
Awesome @compiledsound, thank you! Please reach out to me here or on https://community-daily.mattermost.com with any questions of if you want to brainstorm or hit any snags or whatever :)

[2021-02-02 16:48] b-a-t opened #16845 "Organize tags for mattermost-enterprise-edition container"
Being Enterprise Edition customer we found it sub-optimal that we have to rebuild Mattermost container for each release with mattermost/mattermost-docker.

Someone pointed us out to the https://hub.docker.com/r/mattermost/mattermost-enterprise-edition which states:

"Hurrah, no more hassle! Let's pick the latest release tag and pull it to our server."

Well... There are literally thousands of hash

[2021-02-02 17:44] streamer45 commented on #16756
Hi @octomike,

could you provide the output of `ls -ls /opt/mattermost/config/config.json`?

[2021-02-02 17:45] mattermod opened #16846 "Allow disabling link previews from certain domains"
We want to add an option for admins to prevent link previews from being generated for certain domains. The main reason that we want this is to allow admins to disable link previews for certain domains that may come up frequently in conversation which could be annoying to users.

This setting should stop the code in `app/post_metadata.go` from ever sending requests to the configured domains. Since

[2021-02-02 18:15] mattermod opened #16848 "Archived channels can be selected as broadcast channel"
In the [Incident Management plugin](https://github.com/mattermost/mattermost-plugin-incident-management), it should not be possible to select an archived channel as the broadcast channel when configuring a playbook. (It doesn’t make sense to encourage posting updates to a channel in which users can’t normally post.)

Effect the following changes:

  * Disallow picking an archived channel when conf

[2021-02-02 20:23] amyblais commented on #16845
This is likely related to the discussion here on our community server https://community.mattermost.com/core/pl/m3yecz6h1pn5zroto8isy3rdbo. It is planned to be implemented in the future.

[2021-02-02 20:26] octomike commented on #16756
Sure:

[code]

[2021-02-02 20:31] arjunagl commented on #16834
Hi, I would like to pick this up

[2021-02-02 20:39] streamer45 commented on #16756
Thank you @octomike.

So there are two problems. First the `mattermost version` command should not write to `config.json`. This has been fixed recently (in https://github.com/mattermost/mattermost-server/pull/16805). Other than that you should probably execute CLI commands as the `mattermost` user since that's the owner of those files.

[2021-02-02 21:13] #15904 closed

[2021-02-02 21:17] hmhealey commented on #16242
Reopening this for anyone else who'd like to work on it. I've also bumped the difficulty up since we found some things around display names that will require some extra tweaks to the provider object that returns the autocomplete results.

[2021-02-02 21:20] octomike commented on #16756
Cool, good to know. In that case, the issue really can be closed I think.

I would concur for actions that actually modify or query restricted data. But as a sysadmin I feel this is really unexpected behavior, when all I want to do is get a help message or print some version data. But I understand that `mattermost version` might be doing more than just report a couple of numbers.

[2021-02-02 22:11] Hanaffi commented on #16242
@hmhealey  Can you assign it to me?

[2021-02-03 00:23] berkeka commented on #16846
I think I can handle this one :wave:

[2021-02-03 01:58] esethna commented on #16846
All yours @berkeka!

[2021-02-03 06:33] immolate-d commented on #14382
This problem is still happening

Server Version: 5.27.0 (Build 5.27.0)
App Version: 1.39.0 (Build 3000341)
App Platform: android

[2021-02-03 09:12] #15647 closed

[2021-02-03 09:13] pablovelezvidal commented on #16137
https://github.com/mattermost/mattermost-webapp/pull/7310

[2021-02-03 13:07] agusl88 commented on #16206
Hi @amyblais  The reported issue is still present, the problem reported by @thystra that got fixed with the changes to the database collations was a different issue. Even with suggested changes to the database, im still getting stuck notifications when working with multiple teams on the same server

[2021-02-03 14:04] amyblais commented on #16815
### v5.32 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.32.0-rc1/mattermost-team-5.32.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4256/files)

[2021-02-03 14:23] isacikgoz commented on #16826
This doesn't seem to be related with `docker-compose`. @girish17 what does `which go` and `go version` command print?

[2021-02-03 14:30] girish17 commented on #16826
`which go` prints  `/usr/local/go/bin/go`

`go version` prints `go version go1.15.7 linux/amd64`

On 03/02/21 7:53 pm, Ibrahim Serdar Acikgoz wrote:

[2021-02-03 14:47] amyblais commented on #16206
@agusl88 What Mattermost server version are you on currently?

[2021-02-03 14:51] amyblais commented on #14382
@immolate-d Would you be open to upgrading to the latest version to see if it still reproduces?

[2021-02-03 15:06] chassi opened #16857 "Anybody can exclude members in a private channel"
#### Summary
Anybody can exclude members in a private channel

#### Steps to reproduce
Mattermost Version: 5.31.0
Database Schema Version: 5.30.0
Database: postgres

Web Client : Brave

A System admin user create a private channel in a public team and invite at least two normal users

One of the invited users enter in this new private channel and use the exclude members menu. He can exclude anybod

[2021-02-03 15:28] shieldsjared opened #16858 "Text copied from Microsoft OneNote pastes as an image"
#### Summary
Text copied from Microsoft OneNote pasted text as image.

#### Steps to reproduce
- Open Microsoft OneNote
- Write a note (can even be simple text with minimal formatting)
- Copy the note into your clip board
- Paste into Mattermost (desktop or web)

#### Expected behavior
- When pasting, the data in the clipboard would paste as text (if possible).

#### Observed behavior (that appear

[2021-02-03 17:34] amyblais commented on #16857
@chassi Are you on Team Edition or are you using Advanced Permissions https://docs.mattermost.com/cloud/cloud-user-management/advanced-permissions.html?

[2021-02-03 17:37] amyblais commented on #16858
Opened a ticket: https://mattermost.atlassian.net/browse/MM-32576

[2021-02-03 17:40] chassi commented on #16857
We are using the free edition on our own server . We have not access to the advanced permissions in the system console.

Regards,

Didier C

Didier Chassignol
Architecte au Service Application
Tél: +33 4 76 61 53 70

DSI - Service Applications
Innovallée
655 avenue de l'Europe - Montbonnot
38334 Saint Ismier Cedex France
[ https://www.inria.fr/ | www.inria.fr ]

[2021-02-03 17:44] amyblais commented on #16857
Opened a ticket https://mattermost.atlassian.net/browse/MM-32577.

[2021-02-03 19:03] agusl88 commented on #16206
v5.25.5

[2021-02-04 00:34] wom-bat opened #16864 "Youtube previews not showing up in web or desktop apps"
Youtube previews show up on the Android app but not in browser or desktop clients.
#### Steps to reproduce
Post a link to a Youtube video.  View the channel on the browser, and on the desktop app, and on an Android client.
Make sure 'link preview' is set ON in global settings, and for your own account.

Mattermost Version: 5.28.1
Database Schema Version: 5.28.0
Database: postgres

Desktop version:

[2021-02-04 00:40] wom-bat commented on #16864
Looks like this is a duplicate of #16429 which I didn't spot because I was searching only for open issues.

[2021-02-04 00:40] #16864 closed

[2021-02-04 14:33] lieut-data commented on #15771
@avinashdhinwa, is this a ticket you'd still like to work on? Happy to help if you're still interested :)

[2021-02-04 16:51] jprusch opened #16868 "Bleve search doesn't support wildcard search if the search term starts with an uppercase letter"
#### Bleve search doesn't support a wildcard search, if the search term starts with an uppercase letter

#### Steps to reproduce
Using Mattermost 5.31.0 searching with * (wildcard) as last character of the search term starting with an uppercase letter shows no result.

Example: Make sure that messages can be found with a standalone term without wildcard (eg. "**problem**", "**Problem**", "**Proble

[2021-02-04 19:11] amyblais commented on #16857
Our devs took a look and it seems that the documentation your were reading is not up-to-date.

You should be able to remove a member from a channel if:
 - you have MANAGE_PUBLIC_CHANNEL_MEMBERS or MANAGE_PRIVATE_CHANNEL_MEMBERS depending if the channel is public or private.
 - the channel is not group constrained or the user is a bot.
 - it's not the default channel or you are not a guest.

By def

[2021-02-04 19:11] #16857 closed

[2021-02-05 04:21] arjunagl commented on #16834
hi everyone, I have created a PR for this.

[2021-02-05 04:49] arjunagl commented on #13102
hi 👋  can I pick this up

[2021-02-05 04:58] jasonblais commented on #13102
@arjunagl go for it! :D

[2021-02-05 09:16] renchili opened #16872 "wrong link ！ https://releases.mattermost.com/5.25.7/mattermost-5.25.7-linux-amd64.tar.gz?src=arc"
please check thi link point to version 5.25.0 not 5.25.7
after installing the version show
![image](https://user-images.githubusercontent.com/33677006/107013846-df7ae400-67d5-11eb-9562-2438a63ad585.png)

and I am sure it running the correct bin with same md5
81627dce5516b3e6ecbeb664d02ca151

[2021-02-05 10:39] renchili opened #16873 "Issue not be fixed at all"
https://github.com/mattermost/mattermost-server/issues/15188 this issue for long time waiting for the fix be released
now tried every version of 5.25.0 this issue still presist

[2021-02-05 10:45] renchili commented on #15188
this bug seems still be there for me in 5.25.6
![image](https://user-images.githubusercontent.com/33677006/107022886-e0654300-67e0-11eb-9dc7-bf9bc2c35529.png)

[2021-02-05 14:00] amyblais commented on #16872
This was an error in our build process at the time, and exists in v5.25.7, 5.27.2, 5.28.2 and 5.29.1 where the same bug fix was backported. The issue doesn't occur in other releases. The version ``ee_onprem_54e0ea38be141a6ec2b440ba4e260950b388fbe9`` is correct for v5.25.7.

[2021-02-05 14:00] #16872 closed

[2021-02-05 14:31] amyblais commented on #16873
@renchili Can you help confirm your environment details and server logs as described at https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2021-02-05 14:31] amyblais commented on #16868
@mgdelacroix Can you help confirm that this is a bug?

[2021-02-05 15:45] agnivade commented on #16623
Reopening this is not yet fully fixed.

[2021-02-05 17:10] Philmod opened #16876 "Support for custom sidecars"
#### Summary
In order to use Cloud SQL for Mattermost, in a secure way, they recommend adding a proxy as a sidecar.
https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine#running_the_proxy_as_a_sidecar

Unfortunately, it's not possible today as the Operator rewrites the whole deployment as soon as it's modified.

[2021-02-05 18:16] compiledsound commented on #16839
@hmhealey my approach is to create a struct with all the fields mentioned in the related methods, but it seems that limited client config and the regular client config may need to be separate structs? Unless we expect to change the test cases, i.e. removing tests that check for the existence of fields in the config. Thoughts?

[2021-02-05 18:43] amyblais commented on #16756
Closing as the fix is now available in v5.31.1,

[2021-02-05 18:43] #16756 closed

[2021-02-05 18:44] amyblais commented on #16607
Closing as the fix is now available in v5.31.1,

[2021-02-05 18:44] #16607 closed

[2021-02-05 19:14] #16705 closed

[2021-02-05 19:52] haardikdharma10 commented on #16623
Hi @agnivade, I have managed to fix few of the errors. Can I open a draft PR?

[2021-02-05 23:05] gupsho commented on #16798
Hi, I am extremely sorry but can you please open this for public again. I may not have time in coming weeks to work on this.

[2021-02-06 04:25] agnivade commented on #16623
You are most welcome to do that. But ensure to coordinate with @SimonSimonB so that work is not duplicated. :)

[2021-02-06 15:15] Crimson-riot commented on #16739
Is this issue still available? If so I can I work on it?

[2021-02-07 01:48] un-fuf-a-doo opened #16879 "TLS: the first record does not look like a TLS handshake"
#### Summary
Following posted documentation for Email setup, I am using Amazon SES, but Mattermost is not happy.

#### Steps to reproduce
Installed Mattermost per your documentation into a Debian 10 VM, then  Following these steps, https://docs.mattermost.com/install/docker-local-machine.html#setting-up-smtp-email-recommended, but I am not using Docker, Mattermost simply is not connecting to Amazo

[2021-02-07 05:10] balan2010 commented on #16876
Hi! I would like to work on this

[2021-02-07 14:49] renchili commented on #16873
I do not think this anything with the os the environment.
But as you wish:
OS ubuntu 16.04
mattermost server version 5.25.6
log:
[code]

[2021-02-07 14:54] renchili commented on #16872
? if it was 5.25.7 how can be the md5 is the same as 5.25.0 that means no change at all in code?

[2021-02-07 17:49] un-fuf-a-doo commented on #16879
UPDATE

Seems that once my domain and email were validated on Amazon SES, only STARTTLS works.  Forced TLS does still present the same error.

[2021-02-08 01:02] amyblais commented on #16879
Would you be open to posting this on our troubleshooting forum forum.mattermost.org? Our community and support teams are more active there.

[2021-02-08 01:07] un-fuf-a-doo commented on #16879
Sure. I can do this. Thank-you!

[2021-02-08 04:34] agnivade commented on #16826
The error is that your shell is unable to find the `go` binary in your $PATH.

Most likely, that's because since you are running as root, the changes to the $PATH variable that you have made to your `.bash_profile` is not visible when the user is root, and therefore you are getting this error. The developer setup guide does not mention running the make commands under root.

If you prefer to keep r

[2021-02-08 05:55] Dewsworld commented on #129
The issue still exists!

[2021-02-08 07:33] DiptiShitole opened #16881 "Not getting desktop notifications"
Hi,

Since past few days, I am not getting desktop notifications. I tried all the settings but it is not working.
PFA screenshot for the settings which I have done.

Thanks and Regards,
Dipti

![Mattermost](https://user-images.githubusercontent.com/70362627/107188553-dc6a3880-6a0d-11eb-82df-b65e1b2d61bc.PNG)

[2021-02-08 09:00] mgdelacroix commented on #16798
Hi @gupsho, no problem at all, I'll open the issue for the community then

[2021-02-08 09:35] Szymongib commented on #16876
Hi @balan2010, sure feel free to take it!
If you need any support let us know here or on [Mattermost community server](https://community.mattermost.com/).

[2021-02-08 09:44] balan2010 commented on #16876
Thanks @Szymongib  sure will get in touch in community channel if I need any support :-)

[2021-02-08 09:46] balan2010 commented on #16876
@Szymongib  would you be able to assign this to me. I don't have permission to do so

[2021-02-08 10:24] BlackDark opened #16883 "Emoji not rendered if title_link is present"
#### Summary
Incoming webhook does not handle emojis correct if `titleLink` is used.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Send POST request with content:

Emoji not rendered:
[code]

Emoji is rendered:
[code]

Tested with Mattermost versions: `5.27.0` and `5.31.6{PATCH}`.

#### Expected behavior
Expect to render emojis with link.

#### Observed beha

[2021-02-08 11:55] thistehneisen opened #16884 "Static files not found when running as a Plesk service (Extension)"
#### Summary
Static files are not being found. 404.

#### Steps to reproduce
Mattermost with Plesk (as an Extension)

#### Expected behavior
Working normally, currently just a blank page appears in both Desktop client and web.

#### Observed behavior (that appears unintentional)
[code]
Together with a blank screen.

#### Possible fixes
Any way to regenerate the static files and/or point them corre

[2021-02-08 14:27] amyblais commented on #16881
@DiptiShitole
1. What OS and version are you on?
2. What Mattermost server version are you on?
3. What desktop app version are you using?

[2021-02-08 14:32] amyblais commented on #16883
@DHaussermann Would you be open to testing this and confirming if this is a bug?

[2021-02-08 14:37] amyblais commented on #16884
Would you be open to posting this on our troubleshooting forum here: forum.mattermost.org? Our community and support teams are more active there and will likely be able to help troubleshoot this!

[2021-02-08 14:39] girish17 commented on #16826
Thanks @agnivade . That fixed it. I am currently running as root.  However, that does not work for a non-root user because docker requires root permission on my system to launch the containers. This could be fixed by altering docker related settings.

If the [developer setup documentation](https://developers.mattermost.com/contribute/server/developer-setup/) is not user agnostic then, I think it w

[2021-02-08 14:39] #16826 closed

[2021-02-08 16:52] DHaussermann commented on #16883
Confirmed. This reproduces for me.
I'm not sure what else the expected would be. Would we expect an emoji to show inside of linked text?

I can make a Jira Issue to discuss this in triage.

[2021-02-08 16:59] DHaussermann commented on #16883
Create https://mattermost.atlassian.net/browse/MM-32674 to discuss if the we are able to change to behavior here to match the expected.

[2021-02-08 18:23] DHaussermann commented on #16883
@BlackDark we will be reviewing this issue. But, I wanted to let you know that a colleague of mine suggested a solution that does work for me. If you paste in the actual unicode character for an emoji into your payload instead of the shorthand( ex: ` 🎉` instead of `:tada:`) , it will display as expected when your webhook makes a post.

[code]

[2021-02-08 20:03] hanzei commented on #16883
The issue is also present on mobile. This might need a fix server side.

[2021-02-08 21:03] #16740 closed

[2021-02-08 23:09] hmhealey commented on #16839
I could see either defining a proper struct for the config or just defining it as `map[string]interface{}` similar to the current version of the code. On one hand, a proper struct type would be nicer for working with in Go code (like for anyone using `model/client4.go`), but on the other hand, the limited config having a different return type makes that awkward. We could solve that by using pointe

[2021-02-09 07:18] berkeka commented on #16682
I can pick this one up.

[2021-02-09 09:02] thistehneisen commented on #16884
@amyblais just did, thank you for suggestion.

[2021-02-09 09:03] mgdelacroix commented on #16868
It is indeed a bug, and I can reproduce it consistently in `master`

[2021-02-09 10:14] komik966 commented on #16738
Hello, can't find `components/sidebar/header/dropdown` directory in webapp project.
Is this issue still valid?

[2021-02-09 10:19] dmke opened #16897 "Misleading app version in X-Version-Id header"
#### Summary

`X-Version-Id` header does not show the true app version.

#### Steps to reproduce

Install and start mattermost-server v5.31.0. Then throw cURL against it:

[code]

That version string contains the following information:

- `5.30.0` = DB schema
- `5.31.6{PATCH}` = app version
- a commit hash
- `false` = team edition

You may alternatively throw [mattercheck](https://github.com/dmke/

[2021-02-09 10:32] komik966 commented on #16738
Shouldn't be `components/legacy_sidebar`?

[2021-02-09 11:23] DiptiShitole commented on #16881
Hello,

The issue is fixed after allowing notifications in Chrome.
Thanks for your help.

Regards,
Dipti

On Mon, Feb 8, 2021 at 7:57 PM Amy Blais <notifications@github.com> wrote:

[2021-02-09 13:04] #16881 closed

[2021-02-09 13:06] amyblais commented on #16897
I believe this is a duplicate of https://github.com/mattermost/mattermost-server/issues/16830, so I'll close this one.

The {PATCH} section was an error during the release process, and will be fixed in future versions. You can find more discussion on this here: https://community.mattermost.com/core/pl/zsuaan8su78p3qzsq1oapa8nqh.

[2021-02-09 13:06] #16897 closed

[2021-02-09 13:08] amyblais commented on #16868
Thanks, opened a ticket https://mattermost.atlassian.net/browse/MM-32713.

[2021-02-09 13:09] amyblais commented on #16738
@devinbinnie ^

[2021-02-09 13:40] devinbinnie commented on #16738
@komik966 Yes, that's correct. Sorry about the confusion, this ticket was initially created before the new sidebar was added.

[2021-02-09 23:00] spbdimka opened #16902 "default notification settings"
When registering a user, the settings for user notifications are in the "Only with mentions and private messages" mode, as well as keywords. Is it possible to somehow set the default values so as not to explain to each user how to enable notifications?

[2021-02-10 01:55] mahenzon commented on #15640
Is there any work on implementing Notifications schedule / scheduled DND? An ability to set it smth like in Slack (screenshots below)

We need it and I see two options to implement it:
- MM Plugin. Allow users schedule DND hours via bot, so it sets DND automatically on start and then sets 'active' back
  - pros:
    - probably is faster to implement
    - can be installed on any compatible server,

[2021-02-10 09:30] komik966 commented on #16734
I can work on it

[2021-02-10 12:14] madonius opened #16904 "Recommend a more privacy friendly app than GAuthenticator for MFA"
#### Summary
Mattermost suggests that the users use Google Authenticator which no longer is available under a free license.
I would propose making a different recommendation.
(I could not verify if there already is a ticket Jira throws 500s)

#### Steps to reproduce
Enable MFA for your account, the dialogue recommends Google Authenticator

#### Expected behavior
A more privacy conform or ideally o

[2021-02-10 13:48] amyblais commented on #16904
Thanks, appreciate your feedback @madonius,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2021-02-10 13:49] amyblais commented on #16902
Thanks, appreciate your feedback @spbdimka,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2021-02-10 14:44] devinbinnie commented on #16738
Since we will be removing the old sidebar code at some point in the future, we don't believe it's worth migrating the code to TypeScript. So I will close this issue.

@komik966 Thank you for your interest, please feel free to grab any other ticket you'd like if you are still interested in helping with the TypeScript migration :)

[2021-02-10 14:44] #16738 closed

[2021-02-10 14:47] devinbinnie commented on #16737
Since we will be removing the old sidebar code at some point in the future, we don't believe it's worth migrating the code to TypeScript. So I will close this issue.

[2021-02-10 14:47] #16737 closed

[2021-02-10 14:47] devinbinnie commented on #16735
Since we will be removing the old sidebar code at some point in the future, we don't believe it's worth migrating the code to TypeScript. So I will close this issue.

[2021-02-10 14:47] #16735 closed

[2021-02-10 14:48] devinbinnie commented on #16736
Since we will be removing the old sidebar code at some point in the future, we don't believe it's worth migrating the code to TypeScript. So I will close this issue.

[2021-02-10 14:48] #16736 closed

[2021-02-10 23:37] amyblais commented on #16815
### v5.32 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.32.0-rc2/mattermost-team-5.32.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4256/files)

[2021-02-11 04:14] djanda97 commented on #16723
I can take a shot at this issue if no one else has started working on it yet

[2021-02-11 19:09] gabrieljackson opened #16918 "Update list of available timezones"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2021-02-11 19:44] haydenwalker980 opened #16919 "Update the Office 365 app link"
the link is now https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps

[2021-02-11 23:52] amyblais commented on #16919
@haardikdharma10 Hello, would you be able to help let me know where this link is located at?

[2021-02-12 00:30] mattermod opened #16921 "Include @ here in the "EnableConfirmNotificationsToChannel" config setting"
There is currently a config setting for "EnableConfirmNotificationsToChannel" that shows a warning modal when over 5 members might be alerted by an @ channel or @ all notification. https://docs.mattermost.com/administration/config-settings.html#show-channel-and-all-confirmation-dialog

![image](https://user-images.githubusercontent.com/14333569/107716599-9a97f700-6c86-11eb-8fcc-b83e1cf1a1f3.png)

[2021-02-12 05:38] RodolfoNei commented on #16921
I would like to work on this issue :)

[2021-02-12 14:51] xlanor commented on #16798
I can take this once my other PR is merged, since it's similar.

[2021-02-12 14:59] xlanor commented on #16726
I'm fine to take this. Will there be anyone that I can reach out to directly on mattermost if I need any sort of guidance with the codebase?

[2021-02-12 15:00] #16730 closed

[2021-02-12 17:20] mgdelacroix commented on #16798
Thanks @xlanor! All yours :)

[2021-02-12 18:23] haardikdharma10 commented on #16919
Hi @amyblais, I think you meant to tag @haydenwalker980 here :)

[2021-02-12 18:25] amyblais commented on #16919
Oops, yes, sorry about this. @haydenwalker980 let me know if you'd be able to help let me know where the link you described is located at?

[2021-02-12 19:51] #16729 closed

[2021-02-12 21:12] haydenwalker980 commented on #16919
@amyblais System Console > OAuth 2.0 > Office 365.

[2021-02-13 01:12] amyblais commented on #16919
@haydenwalker980 I wasn't able to find this link from that page - is it a link within the help text? What server version are you on?

[2021-02-13 07:38] jelmd opened #16931 "MM sends Invalid Invitation links"
When a user creates a new account, MM seems to send an invalid e-mail verification link: If the user clicks on the link, he gets presented a login page, where he must enter a password. Unfortunately the loginId input field contains the user's e-mail address and _not_ its account, even so login by e-mail address is disabled. So users send a lot of e-mail complaining about a not working account crea

[2021-02-13 20:51] frakman1 opened #16932 "Import Slack Theme Does Not Work"
#### Summary
Slack theme import doesn't work

#### Steps to reproduce
Copy Slack Theme values:
- Click on top right user icon
- Select Preferences
- Select Themes
- Select "Create a custom theme"
- Click on any of the themes. The color color values will all change
- Copy values in box
![image](https://user-images.githubusercontent.com/5826484/107861257-b8926280-6e12-11eb-90ef-c3648d8ee24b.png)

Pa

[2021-02-14 00:16] JohnRillos opened #16933 "Self-DM channel is "unread""
#### Summary
My DM channel with myself is showing up as "unread" whenever I check Mattermost.

#### Steps to reproduce
After updating from 5.26.0 -> 5.31.1, my self-DM channel keeps showing up as "unread".
If I open my DM channel it gets marked as read (temporarily).
After a minute or so, it gets marked as "unread" again, as if I got a new message from myself.

#### Expected behavior
I don't expec

[2021-02-14 00:28] JohnRillos commented on #16933
Update: This is now happening with every channel that someone posts in.  The channels do not stay "read" if someone's posted after the update from 5.26.0 -> 5.31.1

[2021-02-14 15:03] renchili commented on #16873
Any update about this issue?
I read the change code that `seems` to fix, but that will not fix anything at all.
I cannot understand why login with GitLab third part OAuth plugin, is not admin.

why create a token will trigger a permission error.
create_user_access_token, attempted access by oauth app then if any group using mattermost with OAuth app then cannot create bot with token?
what ridiculo

[2021-02-15 00:57] amyblais commented on #16932
Closing as a dup of https://github.com/mattermost/mattermost-server/issues/16268. There is a [ticket open](https://mattermost.atlassian.net/browse/MM-30531) and this is listed as a known issue in [the changelog](https://docs.mattermost.com/administration/changelog.html).

[2021-02-15 00:57] #16932 closed

[2021-02-15 02:46] renchili commented on #16873
Any update about this issue?

[2021-02-15 02:56] amyblais commented on #16873
@ahmaddanialmohd / @sbishel Would you be able to provide guidance on this -- relates to https://github.com/mattermost/mattermost-server/issues/15188 / https://mattermost.atlassian.net/browse/MM-27623?

[2021-02-15 05:35] ahmaddanialmohd commented on #15188
Hello, @renchili

I am going to attempt to reproduce this on my vanilla Mattermost 5.26.5 and get back to you again on the outcome. Stay tuned for now.

[2021-02-15 06:14] ahmaddanialmohd commented on #15188
Hello, @renchili

I can confirm that with the system admin account, I was able to create the tokens without any issues on a vanilla Mattermost Server 5.25.6.

<img width="1107" alt="image" src="https://user-images.githubusercontent.com/49461314/107911320-4bf4a080-6f97-11eb-9fcb-00d7d442d651.png">

Can you please confirm the `Roles` that your account is assigned to? For example, this is how it look

[2021-02-15 07:24] jbg commented on #16725
It would be really nice if there was an option to disable writing to the config file. The [docs](https://docs.mattermost.com/administration/config-settings.html) say "Mattermost must have write permissions to config.json, otherwise changes made in the System Console will have no effect", but that presumes that I _want_ to make changes in the System Console.

[2021-02-15 09:59] #16154 closed

[2021-02-15 10:13] calvinbui opened #16935 "The docker tag '5' is no longer updated"
#### Summary

The docker tag for '5', e.g. `mattermost/mattermost-team-edition:5` has not been updated for [2 months](https://hub.docker.com/layers/mattermost/mattermost-team-edition/5/images/sha256-be0d644eb65cc6c8b997f51a5bc7d1af0a852aa54adb714bde897765b8d74475?context=explore) and is stuck on 5.29.

#### Steps to reproduce

N/A

#### Expected behavior

The '5' tag should be always pointing to t

[2021-02-15 12:35] amyblais commented on #16935
/cc @metanerd

[2021-02-15 12:37] mahmud2011 opened #16936 "replace AppError return param with error"
`*AppError` implemented `error` interface but in several places explicitly `*AppError` is used as return param instead of `error`.

For instance:

https://github.com/mattermost/mattermost-server/blob/master/model/channel.go#L207

[code]

Should be
[code]

[2021-02-15 12:38] mahmud2011 commented on #16936
cc: @agnivade

[2021-02-15 12:41] mahmud2011 commented on #16936
I would like to work on it if everyone agrees with the proposal.

[2021-02-15 12:46] jespino commented on #16936
@mahmud2011 Thanks for the PR, I really like the approach, the problem is, that is a backward incompatible change, because our `model` package is part of our public API, specially because is used as part of our official go client library.

We have plans to remove that in the future whenever we break the backward compatibility, but for now is not possible.

Actually, we recently did exactly that ch

[2021-02-15 12:55] #16815 closed

[2021-02-15 13:47] aopom opened #16939 "26-characters channels not found"
#### Summary
Same issue as #8328, on Mattermost Server 5.31.1.

#### Steps to reproduce
- Create a channel of exactly 26 characters.
From the web frontend :
- Open this channel
- Go to another team. (Leave the current team on this 26-characters channel)
- Reload the page
- Go back to the first team. The frontend doesn't found the channel and propose to go back to Town Square. From Town Square, you

[2021-02-15 15:35] agnivade commented on #16936
Thank you for taking the time to look through our API and spot these! It's very appreciated @mahmud2011 ! It is exactly what @jespino said. We cannot touch the model packages until we do a major version bump.

[2021-02-15 16:23] vlfesko opened #16941 "DM do not work correctly when chatting with someone outside of the current team"
#### Summary
DM do not work correctly when chatting with someone outside of the current team.

#### Steps to reproduce
Be able to DM to users outside of the team.
DM to someone.
Create additional team, switch to it.
Try to DM to the same person.

#### Expected behavior
DM chat is opened with previous conversation.

#### Observed behavior (that appears unintentional)
DM chat is opened with infinite

[2021-02-15 16:39] Alucard17 commented on #16728
hey Can I take it.

[2021-02-15 18:07] amyblais commented on #16931
@jelmd Would you be open to sharing more details on your [Signup](https://docs.mattermost.com/administration/config-settings.html#signup) and [Email](https://docs.mattermost.com/administration/config-settings.html#email) related settings? Do you see any server log errors?

[2021-02-15 18:13] amyblais commented on #16933
Are you on MySQL or Postgres?

[2021-02-15 18:18] amyblais commented on #16941
Does the other user have access to both teams? Do you see any server log errors?

[2021-02-15 19:05] jelmd commented on #16931
The following patch shows the modifications wrt. the original config:
[mm-5.31.1.patch.txt](https://github.com/mattermost/mattermost-server/files/5983544/mm-5.31.1.patch.txt) . No server errors related to this.

[2021-02-15 20:38] #16710 closed

[2021-02-15 21:10] vlfesko commented on #16941
As I see now, the issue happens even with users present in both teams, so it's not directly related to team membership.

I don't see any changes in server logs, new entries are not added.

After Cmd+Shift+R (page refresh with `cache-control: no-cache` header) the endless "Loading..." title does not show up again for that user for some period of time, but the DM shows empty history for the user in

[2021-02-15 21:24] vlfesko commented on #16941
More to add - that empty DM chat seems to be actually new DM chat - messages in it does not appear in mobile application, and these conversation are shown for affected user on other side as two separate chats.
From my side - in mobile app and on desktop app / browser I see only one DM with affected user. These DMs are different - mobile app keeps old history, desktop app / browser started empty DM

[2021-02-15 23:50] amyblais commented on #16873
Response was posted here https://github.com/mattermost/mattermost-server/issues/15188#issuecomment-778973730

[2021-02-15 23:58] amyblais commented on #16931
It looks like "EnableSignInWithEmail": is set to both "true" and "false". If sign-in with email is disabled, then another SAML or LDAP should be used https://docs.mattermost.com/administration/config-settings.html#enable-sign-in-with-email. Can you help clarify what the expected behaviour is in your case?

[2021-02-16 00:42] jelmd commented on #16931
`EnableSignInWithEmail`: no, in [unified patches](https://en.wikipedia.org/wiki/Diff#Unified_format) a leading `-` (minus) means, this line is part of the file prefixed with `---` on the head (above `./config/config.json.orig`) but not of the file prefixed with `+++` on the head (above `./config/config.json`). A leading `+` is the same for the other file (thus part of `./config/config.json` but no

[2021-02-16 05:06] djanda97 commented on #15722
I can take a shot at this issue if it's still available.

[2021-02-16 06:08] djanda97 commented on #12520
I'll take a look at this issue. It looks like there was a PR opened a while back, but it's stale now so I'll see if I can build on top of that.

[2021-02-16 09:42] vlfesko commented on #16941
May be related to https://github.com/mattermost/mattermost-server/issues/14382

[2021-02-16 09:58] streamer45 commented on #16933
From the error it looks like MySQL.

@JohnRillos

Are you able to run the following queries on your database and share the output?

[code]

[2021-02-16 10:22] hanzei commented on #12520
Awesome. Thanks for taking a look @djanda97 :tada:

[2021-02-16 13:42] AGMETEOR commented on #13478
Hey @Tak-Iwamoto , i am opening up this issue again

[2021-02-16 13:46] barema4 commented on #13478
@devinbinnie @jespino I would like to try this

[2021-02-16 15:35] #15981 closed

[2021-02-16 16:30] mattermod opened #16947 "Webapp: In mention autocomplete, remove (Nickname) when (you) is present"
To avoid the double brackets, remove (Nickname) when (You) is present. Most users don't need to see their own nickname in the autocomplete list anyway.

![image](https://user-images.githubusercontent.com/3277310/108115432-1ec3f300-7068-11eb-8588-2773b836c9ee.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/cor

[2021-02-16 18:35] IndushaS commented on #16918
As a contributor that worked on https://github.com/mattermost/mattermost-webapp/pull/7384
Here are some findings for this issue:

- Current list of timezones: https://github.com/mattermost/mattermost-server/blob/master/services/timezones/default.go
- New timezone list has a different format than the current list so it will have to be refactored
- Timezones would have to be updated for both Web App

[2021-02-16 18:43] Szymongib opened #16949 "Mattermost Operator Help Wanted tickets"
## Mattermost Operator Help Wanted

[Mattermost Operator repository](https://github.com/mattermost/mattermost-operator) contains some Help Wanted tickets.

You can find Operator Help Wanted issues [here](https://github.com/mattermost/mattermost-operator/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22).

More information about the Mattermost Operator can be found in [documentation](https://

[2021-02-16 20:01] haardikdharma10 commented on #16947
I'll take up this ticket:)

[2021-02-16 21:46] JohnRillos commented on #16933
It's using MySQL.

@streamer45 Here's the output

[code]

[code]

[2021-02-16 21:54] hmhealey commented on #15722
Awesome! Let me know if you have any questions, especially since the way those components communicate isn't the most straightforward.

[2021-02-16 23:11] JohnRillos commented on #16933
FWIW the output above was generated after I switched back to 5.26.0

[2021-02-16 23:34] amyblais commented on #16935
I've created a ticket for our DevOps team to take a look,

[2021-02-17 03:05] berkeka commented on #16399
I can handle this one.

[2021-02-17 08:13] streamer45 commented on #16933
@JohnRillos

Yes, so the issue is that the new table got created with a different collation. I am assuming you are using MySQL 8 which defaults to `utf8mb4_0900_ai_ci`. In our [documentation](https://docs.mattermost.com/install/requirements.html#database-software) we recommend to convert the existing tables to the new collation.

It essentially means executing queries like:

[code]

For every tabl

[2021-02-17 12:47] kojiGit55 commented on #16720
Hi, I'm new to this project but can i take this?

[2021-02-17 18:48] streamer45 commented on #16941
Hi @vlfesko,

are you able to run and provide output for the following database queries/commands after reproducing this issue?

[code]

[code]

[2021-02-17 19:06] amyblais commented on #16931
Thanks, opened a ticket for this: https://mattermost.atlassian.net/browse/MM-32958

[2021-02-17 19:16] kalimanborges opened #16963 "Previous/next channel or direct message shortcut should work differently with new side bar on 5.32.X"
#### Summary
When I use the "previous/next channel or direct message shortcut" it goes to the message directly over or under the current one. With the new sidebar on 5.32.0 they should work as the new previous/back buttons on the new sidebar.

#### Steps to reproduce
Just go to a message and use the shortcuts. I'm using 5.32.0 on MacOS.

#### Expected behavior
When I use the "previous/next channel

[2021-02-17 20:08] amyblais commented on #16963
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-33001

[2021-02-18 08:40] #16137 closed

[2021-02-18 09:26] renchili commented on #16873
can you read my response the issue is line 2187  the if condition whatever I am system admin or not  if IsOAuth is true then will return no permission error
![image](https://user-images.githubusercontent.com/33677006/108335777-481e8380-720e-11eb-8b43-c721f2aaa4c7.png)

That is nothing related to any permission stored in DB. I am very certain about this

[2021-02-18 11:11] 3kami3 opened #16968 "TLS: Connection to the server for the organization's internal root certificate and self-signed certificate fails."
#### Summary
I tried to use Docker Image.
I was not able to connect to the server with the organization's internal root certificate and self-signed certificate.

We believe this is not a problem with the mattermost server feature, but with the container image.
The current container image cannot be used with additional certificates for internal root certificates and self-signed certificates.

####

[2021-02-18 13:00] mattermod opened #16971 "mattermod: The "cherry-pick" command always takes the 2nd word in the entire text as an argument. It does not consider the location of the command."
The `/cherry-pick` command should take the argument after the actual command not from the entire text.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or quest

[2021-02-18 13:00] mattermod opened #16972 "Show the existing roles on a server"
We can create a new endpoint to fetch existing roles on a server. We can leverage the `*App.GetAllRoles()` and create the endpoint in the `api` layer. This endpoint should only be accessible to system administrators. Then we can create a new subcommand for `mmctl` to use as `mmctl roles list`.

----
If you're interested please comment here and come [join our "Contributors" community channel](https

[2021-02-18 13:00] mattermod opened #16973 "Display what roles a user already has after updating their roles"
After using `mmctl roles <command>` the command can print the roles that user already has. `*model.User` already has `Roles` field so if the command executed successfully, we can fetch the updated user and print their roles.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build

[2021-02-18 13:00] mattermod opened #16974 "mattermod: verify the warning message in TestRateLimitTransport/Should not return error when an array is returned by mocking the logger"
We need to mock the `mlog.Logger` to control the output that is generated to verify this test. The test should be executed against the server in order to make server log the warning. The warning message is the key to be tested.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily bui

[2021-02-18 13:00] mattermod opened #16975 "Decouple model from database specific fields"
In mattermod we are using `sql.Nullbool` to hold status `MaintainerCanModify`. We should decouple the SQL objects from model objects. We can scan a separate object having `sql.NullBool` and then map it to `model.PullRequest` which can have a normal `bool` pointer field. More context can be found [here](https://github.com/mattermost/mattermost-mattermod/pull/164#discussion_r451946111).

----
If you

[2021-02-18 13:14] amyblais commented on #16873
cc @ahmaddanialmohd ^

[2021-02-18 13:21] amyblais commented on #16963
@kalimanborges Here are explanations for our shortcuts: https://docs.mattermost.com/help/messaging/keyboard-shortcuts.html. ALT+LEFT or CMD+[ would go to the previous channel in your history.

Can you help clarify the expected behaviour?

[2021-02-18 13:21] amyblais commented on #16963
@kalimanborges Here are explanations for our shortcuts: https://docs.mattermost.com/help/messaging/keyboard-shortcuts.html. ALT+LEFT or CMD+[ would go to the previous channel in your history.

Can you help clarify the expected behaviour?

[2021-02-18 16:44] SimonSimonB commented on #16623
Thanks @haardikdharma10 ! I'll make another commit related to this later today or tomorrow---just so you know and I'm not interfering with any changes you might make.

[2021-02-18 16:50] danhimalplanet opened #16978 "version of postgres used in building docker image mattermost/mattermost-prod-db is no longer compatible with mattermost app version 5.32"
#### Summary

Mattermost v5.32 drops support for Postgres 9.4.
Using Postgres with Mattermost now requires Postgres version 10.

The image at https://hub.docker.com/r/mattermost/mattermost-prod-db is built from Dockerfile here:
https://github.com/mattermost/mattermost-docker/blob/master/db/Dockerfile , which is built on postgres 9.4

Mattermost version used in https://hub.docker.com/r/mattermost/m

[2021-02-18 16:53] julmondragon commented on #11241
Hi there! I'd like to work on this issue, could you please assign it to me?

[2021-02-18 16:54] calebroseland commented on #11241
All yours!

[2021-02-18 18:04] caugner commented on #16978
See also: https://github.com/mattermost/mattermost-docker/issues/489

[2021-02-18 21:05] inaun opened #16981 "Tray icon displays a new message notification on muted channels"
#### Summary
Tray icon displays a new message notification on muted channels

#### Steps to reproduce
Mute a channel, wait for a message to be posted, observe tray icon response

#### Expected behavior
Muted channels should not display any notifications

#### Observed behavior (that appears unintentional)
Muted channels do display a notification

#### Possible fixes
Change tray icon notification f

[2021-02-18 21:26] berkeka commented on #16972
I can handle this one.

[2021-02-18 23:26] amyblais commented on #16981
@inaun What Mattermost server version are you on? Are you using webapp or desktop app? Which OS are you using?

[2021-02-19 02:41] kalimanborges commented on #16963
I'm so sorry. The shortcut I was expecting to work already exists, is the one you indicated.
I didn't see it because it was classified as a Browser Built-in shortcut instead of a Navigation Shortcut.

Thank you.

[2021-02-19 03:16] frakman1 opened #16983 "Upgrade to Enterprise form Free causes loss of plugins"
Mattermost Version: [5.31.0](https://github.com/mattermost/mattermost-docker/blob/2b12534f900f51a485c47bcd880a61df1b20beb7/app/Dockerfile#L5)

![image](https://user-images.githubusercontent.com/5826484/108453932-76658880-7239-11eb-82ef-9771b990f60b.png)

#### Summary
Upgrading to Enterprise version from System Console causes loss of plugins

#### Long Description
I installed MM using [this](https:

[2021-02-19 09:30] mattermod opened #16984 "mmctl: Add config patch subcommand"
We can use config patch endpoint from mmctl to patch the configuration with a `json` file. Note that `mmctl config set` command also uses the same endpoint, this time apart from `set` sub command we want to use a file.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server

[2021-02-19 12:53] berkeka commented on #16972
@isacikgoz While creating tests for the endpoint I ran into a problem. `api4/apitestlib.go` has two functions named `TestForAllClients` and `TestForSystemAdminAndLocal` that run test functions with clients like their names' suggest. Since we want to test if a non local or system admin can use the endpoint. Should I create a new function that runs a test function on just a normal client. Or is ther

[2021-02-19 13:23] #16963 closed

[2021-02-19 13:44] isacikgoz commented on #16972
@berkeka I think you can use `th.Client` directly in the test case as it's a normal user w/o manage system permissions. If you want to use it in a `t.Run()` you can do it as:

[code]

For the Local and System Admin you can test as (as you mentioned):
[code]

BTW, you can check here to use as an example:
https://github.com/mattermost/mattermost-server/blob/82e001d107d944d7475d4ecf405f98125fee1cbd/a

[2021-02-19 13:58] amyblais commented on #16983
@ahmaddanialmohd / @iomodo Would you be able to take a look at this?

[2021-02-19 16:33] tayloj opened #16986 "Edits to /me messages do not appear, even though "(edited)" does"
#### Summary

Editing a message generate by a `/me` command has no effect, but still shows as "(edited)".

#### Steps to reproduce

In a chat, post:

[code]

Press up to edit, or use the edit menu.  The Edit Post dialog appears, with `*makes a typoh*` in the text entry pane.  Change the text to `*makes a typo*`.  Press Save.  The message "makes a typoh" still appears, but "(edited)" appears below.

[2021-02-19 17:32] amyblais commented on #16986
This is fixed in v5.32 via https://mattermost.atlassian.net/browse/MM-30810,

[2021-02-19 17:32] #16986 closed

[2021-02-19 18:24] tayloj commented on #16986
@amyblais Thanks!  When I posted this issue, I did try to follow the instruction in the template that said to check the Atlassian page,

I get a 500 for that link, though.  I can see the link you posted just fine:

https://mattermost.atlassian.net/browse/MM-30810

It looks like I  have to go to https://mattermost.atlassian.net/jira/software/c/projects/MM/issues/ to browse issues on the Atlassian p

[2021-02-19 18:35] amyblais commented on #16986
Sure, opened a PR to update it: https://github.com/mattermost/mattermost-server/pull/16987.

[2021-02-19 19:41] mickmister commented on #15653
Hi @MathewtheCoder, do you have any questions about this ticket?

[2021-02-19 19:41] amyblais commented on #16935
The tag has been updated,

[2021-02-19 19:41] #16935 closed

[2021-02-20 01:07] jillsley opened #16989 "Spell checking in French when set to English"
#### Summary
Despite spell checking being set to English (UK), it is actually spell-checking in French.

#### Steps to reproduce
Version 4.3.2

#### Expected behavior
Expected behavior would be for me to type in English and only misspelled words to be underlined indicating a misspelling.

#### Observed behavior (that appears unintentional)
When typing in English, 90% of my words are underlined to

[2021-02-20 02:46] amyblais commented on #16989
@jillsley Do you see the same issue on desktop app version v4.6.2 (the latest version)?
What is your server version?

[2021-02-20 20:38] carlspring commented on #16099
It's been four months that this has been a constain pain in my ass. Could somebody please look into this? Having a 4K monitor isn't something all that exotic nowadays.

[2021-02-20 21:55] parsaakbari1209 commented on #16973
Hi there, I'll give it a try.

[2021-02-21 07:05] hahmadia commented on #16099
@esethna @lieut-data Any thoughts when this will be addressed?

[2021-02-22 09:30] mattermod opened #16993 "Simplify behaviour of /incident list"
[Incident Collaboration](https://github.com/mattermost/mattermost-plugin-incident-collaboration)'s slash command `/incident list` shows a list of the ongoing incidents, and it behaves as follows:

  * When executed from the mobile app, it shows a list of the ongoing incidents, formatted using [message attachments](https://docs.mattermost.com/developer/message-attachments.html?highlight=slack%20att

[2021-02-22 10:32] papakaliati commented on #16993
Channel link should be included on the incident name (or in an additional column).

[2021-02-22 11:01] agarciamontoro commented on #16993
Good catch, @papakaliati, I've updated the issue!

[2021-02-22 15:35] JacobDB commented on #14482
Would love to see this too, even for built in emoji. I constantly get confused by "tada" representing the "party popper" emoji. Being able to set custom aliases would be fantastic.

[2021-02-22 18:06] bl-ue commented on #15567
Hello, I'm just wondering: shouldn't this be closed?  I see mattermost/mattermost-mattermod#247 was merged...

[2021-02-22 18:22] agnivade commented on #15567
Yes indeed!

[2021-02-22 18:22] #15567 closed

[2021-02-22 18:45] bl-ue commented on #15567
Probably needs the `PR Exists` label, too.

[2021-02-22 22:47] Roy-Orbison commented on #14482
I did post the suggestion, I should have linked it here. Feel free to add your votes to that instead, and your wise suggestion that it should be for all emojis.

https://mattermost.uservoice.com/forums/306457-general/suggestions/40364041-allow-aliases-for-custom-emojis

[2021-02-23 03:21] JohnRillos commented on #16933
@streamer45 Thanks, that worked! Updated to `5.32.1`, not seeing any problems or errors so far.

[2021-02-23 05:38] #16936 closed

[2021-02-23 08:16] #16133 closed

[2021-02-23 14:53] #10232 closed

[2021-02-23 17:00] mattermod opened #17006 "Automatically fill in the status update dialog with the appropriate status when using slash commands"
[Incident Collaboration](https://github.com/mattermost/mattermost-plugin-incident-collaboration) has slash commands that trigger the update status modal.

It should be possible to pre-fill the Status field when using `/incident restart` and `/incident end` commands rather than simply opening up the update dialog.

When opening the update status modal with `/incident end` the status should default

[2021-02-24 01:08] paddy-hack commented on #16206
Thanks for the info :bow:
I've now changes all my tables to use `utf8mb4_general_ci`.  There were fewer tables, only six, IIRC, to change that way.

Reading up on the various collations, I thought I'd alter all my tables to the MySQL 8 default, `utf8mb4_0900_ai_ci`, but doing so on a test system did not complete in a reasonable time, say less than 4 hours.  Any idea why this takes such a long time

[2021-02-24 02:13] renchili commented on #16873
anyupdate?

[2021-02-24 03:16] ahmaddanialmohd commented on #16873
@renchili I am not entirely well versed with the codes since you are certain that it has nothing to do with the permissions. The reason why I looked into that initially was because I was unable to reproduce the problem on a fresh deployment of the same Mattermost Server version.

@amyblais it will be best to refer this to the dev / engineering team for further assistance on this.

[2021-02-24 09:52] #16682 closed

[2021-02-24 11:11] hanzei commented on #15518
This ticket is not longer valid as the migration was done in a other PR. Still, thanks for looking into this @hardikmodi1 :+1:

[2021-02-24 11:11] #15518 closed

[2021-02-24 13:52] amyblais commented on #16206
@isacikgoz Would Server team have thoughts on ``agusl88``'s or ``paddy-hack``'s issues above? ^

[2021-02-24 13:54] amyblais commented on #16983
@frakman1 Would you be open to posting about this in our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? Someone on our dev team or in the community may be able to help.

[2021-02-24 13:55] amyblais commented on #16873
@renchili Would you be open to posting about this in our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? Someone on our dev team or in the community may be able to help. Another good place to post would be our troubleshooting forum here: https://forum.mattermost.org/.

[2021-02-24 15:32] frakman1 commented on #16983
@amyblais I posted about it last week [here](https://community.mattermost.com/core/pl/8xpiykwjf7g6ipijbeh5x6m55o)
I didn't get any answer. I reached out to an admin and he suggested I open an issue here.

[2021-02-24 22:33] ahmaddanialmohd commented on #16983
Hi, @frakman1

I noticed that you mentioned that the issue is fixed (except for the Jitsi plugin) [here](https://community.mattermost.com/core/pl/fcwzcgrer3d3fgtcihmo31ec1e). Can I please confirm that the issue is fixed for good and what is the current problem with the Jitsi plugin specifically?

[2021-02-24 23:43] frakman1 commented on #16983
The Jitsi error was a mistake due to a configuration in the plugin that was later resolved. That can be ignored.

The error condition I ran into was resolved by deleting the plugins folders and restarting the server. That's just how I recovered from this _error_.

This Github issue is a report of a **bug** that wipes out the plugins after an upgrade to Enterprise and should be handled as such.

[2021-02-25 12:38] tayloj opened #17018 "Extra blank line appears in Java code block"
#### Summary

A code block set to language `java` that includes a conventional Javadoc comment (starting with `/**`) gets an extra, unnumbered, blank line.

Bug report in one concise sentence

#### Steps to reproduce

Post a code block like

[code]

![image](https://user-images.githubusercontent.com/2972608/109154586-7f27f400-773c-11eb-891a-ec85997688eb.png)

##### Version Info:

Mattermost Enterp

[2021-02-25 12:43] tayloj commented on #17018
I was able to try on another server.  I do *not* observe this bug on

[code]

[2021-02-25 13:38] #17018 closed

[2021-02-25 13:55] isacikgoz commented on #16206
Sorry @agusl88 this issue escaped from me. Do you still observe the error similar to log line below?
[code]
To be clear, notifications are not stored in the server DB, they are delivered to client and it is managed at the client side whether if they should be cleared or stacked etc.

@paddy-hack I am guessing that the time to update a table may be related to its size since every character will be

[2021-02-25 15:38] afreiberger opened #17020 "Recent Mentions search needs to add "OR" logic for the terms"
When additional mention triggers are enabled in Notifications bar, such as nickname, username, "Your case-sensitive first name", or "Other non case-sensitive words, separated by commas", the resultant search for Recent Mentions results in few if any results.

How to reproduce:
Configure other non case-sensitive words in "Words That Trigger Mentions" as: searchterm1,searchterm2
Type the following m

[2021-02-25 15:46] afreiberger commented on #17020
I did find that |@ is a trigger for search to not function, so you have to remove @ signs if using the | workaround.

[2021-02-25 18:18] amyblais commented on #17020
@afreiberger What Mattermost server version are you on? I wasn't able to reproduce this on v5.32.1 just now.

[2021-02-25 19:17] afreiberger commented on #17020
I'm seeing this on 5.32.1 with postgres backend.

[2021-02-25 19:35] amyblais commented on #17020
@lindy65 Would you be open to help test this at https://postgres.test.mattermost.com/? I don't have access to create an account there and I'm not sure which other test servers are on postgres. (I wasn't able to reproduce this community report on a mysql server)

[2021-02-25 20:30] afreiberger commented on #17020
My apologies.  I have re-tested on 5.32.1 and found this has been resolved.  This was affecting me last week, but I do see we've had a recent upgrade and I'm now able to see all my mentions as expected.

Thank you for your time!

[2021-02-25 20:30] #17020 closed

[2021-02-25 21:37] SimonSimonB commented on #16623
I'm afraid I won't have time for another PR for this issue in the next weeks, so I unassigned myself in case someone else would like to take over.

[2021-02-26 00:34] arjunagl commented on #13102
@jasonblais I have created a draft PR, could you please have a quick run though and check if its on track to what you expect.
https://github.com/mattermost/mattermost-server/pull/17024

[2021-02-26 01:02] jasonblais commented on #13102
Excellent, thank you! Queued it for review @arjunagl

[2021-02-26 06:50] lindy65 commented on #17020
Thanks for letting us know your issue is resolved @afreiberger

//cc @amyblais

[2021-02-26 09:45] Gittenburg opened #17025 "Autolinking doesn't work for TLDs longer than 4 characters"
#### Summary

The Markdown autolinking only works for TLDs up to 4 characters.
Even though there are [many new TLDs with more than 4 characters](https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains), e.g. `.africa`, `.computer`, etc.
In fact TLDs can be as long as 63 characters.

#### Steps to reproduce

With Mattermost v5.32.1, send a message with:

[code]

#### Expected behavior
Both

[2021-02-26 11:05] paddy-hack commented on #16206
@isacikgoz As I mentioned, my Posts tables has close to 400,000 messages.  It uses `utf8mb4_general_ci` for collation now and I am trying to change that to `utf8mb4_0900_ai_ci`.  Seeing that both use the *same* encoding, `utf8mb4`, I don't understand why every character would have to be changed.

From memory, the `mysqldump` of my instance is around 220MB and most of that would be accounted for by

[2021-02-26 16:31] jp0707 commented on #15906
@agnivade  This is not done yet. Only first two emails were done in previous PR.

[2021-02-26 17:31] amyblais commented on #17025
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-33321

[2021-02-26 18:10] devinbinnie commented on #16726
@xlanor Sorry for the slow response, you can chat with me at `@devin.binnie` on Mattermost :)
Thanks for your interest in working on this!

[2021-02-26 18:15] devinbinnie commented on #16145
@xuanvi26 Is there anything we can help you with respect to getting starting with this issue? Feel free to let us know :)

[2021-02-26 21:05] RodolfoNei commented on #16921
I'm sorry but I will have to unassign me of this issue for now. I'm having some problems with setting up the project and also with my computer performance, and they are taking too much time. I will fix this issues first and when I'm ready I hope to contribute to the project! Thank you

[2021-02-27 18:30] EricMontague commented on #16718
Hi, I'd like to take this issue if no one else is handling it.

[2021-02-27 19:38] haardikdharma10 commented on #16623
Thanks for letting us know @SimonSimonB. @agnivade, you can assign this to me, I'll open a bunch of PR's for this later.

[2021-02-27 22:17] gpcor commented on #16971
I'm a little new to contributing to Open Source projects, and also a little new to Go, but would love to help with this if I can in my free time. I've already followed the developer's guide and got everything set up. My question is if this is an existing command? Or is this a new command you'd like implemented? I've tried searching for the command in the directory but so far I haven't found it. An

[2021-03-01 08:12] isacikgoz commented on #16971
Thanks for your interest @gpcor 🎉 The code resides in this [repository](https://github.com/mattermost/mattermost-mattermod), as for your question, yes the command [exists](https://github.com/mattermost/mattermost-mattermod/blob/c6bdaa816030f8d3c361e80b7578fce8d0208eba/server/cherry_pick.go#L78). And the actual problematic line is [here](https://github.com/mattermost/mattermost-mattermod/blob/c6bda

[2021-03-01 13:35] gpcor commented on #16971
@isacikgoz Awesome. I'll take a look. Thank you for the direction.

[2021-03-01 14:43] #16799 closed

[2021-03-01 15:45] amyblais opened #17038 "Mattermost v5.33"
You can find key dates for v5.33 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### March 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### March 12th: Release Build Cut
The fi

[2021-03-01 22:02] berkeka commented on #16984
I can pick this one up.

[2021-03-02 06:40] xlanor commented on #16726
No problem @devinbinnie . I have another ticket on the backend, let me get done with that and I'll start on this.

[2021-03-02 09:57] SBagaria2710 commented on #13721
Is this one `Up For Grabs`?

I see it has already been assignedto @cometkim, but still has `Up For Grabs` label.

[2021-03-02 13:24] cometkim commented on #13721
@SBagaria2710 Yes this is `Up for Grabs`. I'd tried it before, but it's too old. My opinion was to ask the core team for work, but other contributors can take this as well.

[2021-03-02 14:34] #15786 closed

[2021-03-02 16:44] SBagaria2710 commented on #13721
In that case, I'd like to work on this issue :)

It had been some time since I worked with TypeScript, so it can be a quick brush up.

[2021-03-02 19:48] msal4 commented on #16975
I'd like to pick this one up

[2021-03-02 21:40] umlaeute commented on #15634
I can only second this.
We recently added Terms-of-Use to our self-hosted gitlab/mattermost instance, and people are highly confused, resulting in them not being able to log into mattermost any more.

while you are at it: i think the reference to *GitLab* itself (in "GitLab's Terms of Service have updated") is also misleading, as many people will associate "GitLab" with the service (that is: gitla

[2021-03-03 01:41] jamiew0w commented on #8886
hi @grundleborg, is there any update regarding the proposed draft?

[2021-03-03 01:44] jamiew0w commented on #8884
hello folks, is there any news on this issue?

it would be fantastic to get debian packages up and running.

[2021-03-03 02:01] onlyjob commented on #8884
Indeed but after poor dynamics of this issue who would have confidence to work on Debian packages? :(

[2021-03-03 04:36] ahsouza commented on #2524
Thank you very much @zaibatsu777, helped me a lot

Also helped me:    `npm cache clear --force`

[2021-03-03 17:34] jasonsmith425 commented on #15012
Since upgrading from 5.29.1 to 5.32.1 I and at least some other users are experiencing a lot of slowness. I have made a lot of typos because of this issue.

[2021-03-03 18:44] haardikdharma10 commented on #15634
@leipert thoughts?

[2021-03-04 09:19] mistikel commented on #16975
I just thought can we do convert it to `*bool`?

[2021-03-04 10:23] mistikel commented on #16971
@isacikgoz let me understand this issue.
When I create command `/cherry-pick release-5.28`. What is the expected result here?
`release-5.28` is it?

[2021-03-04 10:30] isacikgoz commented on #16971
@mistikel yes, But let me explain with an example. Let's say you have a comment like below:

[code]

It captures second word as the argument. In this case it is `looks`. And it tries to do the cherry pick for `looks` branch. %99 of the times we use `/cherry-pick release-5.28` only while adding this comment/command but there are several occasions that triggered this bug.

[2021-03-04 17:28] amyblais commented on #17038
### v5.33 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.33.0-rc1/mattermost-team-5.33.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4340/files)

[2021-03-04 17:32] xuanvi26 commented on #16145
Hi I'm so sorry for the late reply! I've been swarmed with deadlines. I'm still working on it, I have many of the types down but am still unsure about a few of them. I'll definitely ask for help in the Mattermost community. I'm aiming to wrap this up next week. Thanks for asking :)

[2021-03-05 03:33] mistikel commented on #16798
any update on this @xlanor? Or I can take this one?

[2021-03-05 11:36] xlanor commented on #16798
Hi @mistikel ,

I'm starting work on it this weekend as my previous patch was only merged last week.

[2021-03-05 11:36] hjek opened #17077 "Viewing a specific channel makes MM permanently unrensposive"
#### Summary
Viewing a specific channel makes MM permanently unrensposive

#### Steps to reproduce
Navigate to the specific channel (`~town-square`) on a specific team (`[redacted]`). This causes MM to become unresponsive.

[code]

The issue happens in Chromium (`88.0.4324.182-1`), Brave (`1.22.49`) and Mattermost Desktop (`4.6.2-7881`). Chromium and Brave display a **Page Unresponsive** dialog. T

[2021-03-05 14:19] amyblais commented on #17077
@hjek.

1. Are you able to get any server log errors from around the time the issue happens?
2. Are you able to access the channel from, e.g. the mobile app to delete the content that may be causing the issue? (e.g. there could be an image or markdown that causes an issue)
3. We've done some bug fixes related to specific content (e.g. image or markdown) that can cause a blank screen, would you be

[2021-03-05 16:27] sebastian-boecker commented on #16846
Yes **please** that would be a great addition! All the Zoom "links" are so annoying because each one displays the same box with basically no info.

[2021-03-05 17:15] hjek commented on #17077
@amyblais

1. I don't have direct access to server logs. I can try to ask but I believe the debug log is disabled due to performance issues.
2. I can access the channel from Firefox and I think I've found out which message is causing the issue. Since new messages have been posted in the channel, the issue doesn't appear right away, but only when scrolling up in history until the specific message i

[2021-03-05 17:26] hjek commented on #17077
This issue doesn't happen when **Enable Post Formatting** is set to **Off**. That is of course a strong indication that it's a markdown formatting issue affecting Blink-based clients, so I'm not sure how useful server logs will be. I'm happy to do some more digging on this in Chromium if that can help.

[2021-03-05 17:30] amyblais commented on #17077
@hjek Would you be able to share the raw content of the post that causes the issue so we can take a look at what markdown could be causing it? Of course, please edit or remove any sensitive content, or create a new post that has a rough draft of what the original post content would be like.

[2021-03-05 17:51] hjek commented on #17077
[code]

[2021-03-05 18:21] vegerot commented on #9145
possibly related to https://github.com/mattermost/desktop/issues/1492

[2021-03-05 18:31] amyblais commented on #17077
@hjek Are you able to reproduce it on our [community server here](https://community.mattermost.com/)? It's on the latest version and you can post in a testing channel.

[2021-03-05 18:34] hjek commented on #17077
@amyblais I'd feel awkward about sending notifications to 56 random strangers. You're sure it's okay?

[2021-03-05 18:44] hjek commented on #17077
The issue doesn't happen on the otherwise affected server when literally notifying `@someone` 56 times. It looks like they have to be distinct real users.

[2021-03-05 18:53] amyblais commented on #17077
I created a post in a test server with over 50 distinctive usernames, with the same markdown (including valid emojis and channel links) but I wasn't able to reproduce it. @hmhealey Do you know what in a post like this could cause Mattermost to become unresponsive when viewing a channel with the post https://github.com/mattermost/mattermost-server/issues/17077#issuecomment-791581114?

[2021-03-05 20:58] hjek commented on #17077
We're upgrading this Tuesday. I'll check whether the issue remains.

[2021-03-08 10:54] gpopesc opened #17082 "m4v files not play"
m4v video files (sent from whatsapp) are not played automatically in mattermost window
I can download them locally and play or another option: copy external link and past in browser.

They are played automatically in android version of mattermost

Thank you

[2021-03-08 10:54] Willyfrog commented on #17082
moving this to server, as it is most likely a webapp issue and will have more viewers in the proper repo

[2021-03-08 13:54] amyblais commented on #17082
Opened a ticket: https://mattermost.atlassian.net/browse/MM-33608

[2021-03-08 14:11] hmhealey commented on #17077
The large number of at-mentions definitely stands out to me, but I'm not aware of any issues around that. That's strange that it only affects Chromium-based browsers though since those issues usually come up from a bad piece of regex which would affect everything. The issue being fixed when post formatting is disabled definitely lines up with that being the issue though.

Perhaps it's something sp

[2021-03-08 18:06] lieut-data commented on #16404
Hey @sapnasivakumar! Somewhere along the way, it looks like this behaviour got implemented, perhaps a result of some refactoring to use more common components. Appreciate the investigation you did :)

[2021-03-08 18:06] #16404 closed

[2021-03-08 18:08] lieut-data commented on #16405
We're going to de-prioritize this ticket at this time.

[2021-03-08 18:08] #16405 closed

[2021-03-08 18:09] lieut-data commented on #15771
Thanks for the help with this one, @avinashdhinwa! We're de-prioritizing this effort right now.

[2021-03-08 18:10] lieut-data commented on #16834
Thanks again, @arjunagl!

[2021-03-08 18:10] #16834 closed

[2021-03-08 19:08] agusl88 commented on #16206
Yes, i can confirm that im not getting any collations errors and that my database and tables are fully converted to `utf8mb4_0900_ai_ci`. The stuck notifications are present in all clients, and they remain stuck even if i reinstall the client (i even manually cleared all the client app cache and local files), so it seems like they are stuck in the push notication server.

I also updated to the new

[2021-03-09 07:13] hjek commented on #17077
That makes sense. Perhaps a code cleanup or some fuzzing would help. Unfortunately usernames are text messages are not something I can pass on as I have to respect their privacy.

[2021-03-09 11:14] majidit opened #17092 "New Message Issue"
This is a need and it is much better that
When I receive a new message
Display the person's name **at the top of the list** ...

@tbalthazar @MerlinDMC @lurcio @mauricio @cored

[2021-03-09 13:41] amyblais commented on #17092
1. What Mattermost server version are you on?
2. What OS and version are you on?
3. Can you help share a screenshot to illustrate what you mean by "at the top of the list"?

[2021-03-10 00:02] mistikel commented on #16848
I would like to take this issue, could anyone brief me on this?

[2021-03-10 05:44] majidit opened #17098 "new message symbol is not displayed"
When the chat window with someone is open
And I go elsewhere
The new message symbol is not displayed on the person's name

@tbalthazar @MerlinDMC @lurcio @mauricio @cored

[2021-03-10 08:20] majidit commented on #17092
Thank you very much for your answer
And that I am from Iran
We are using the web version
[https://s17.picofile.com/file/8427521700/Capture.PNG](url)

[2021-03-10 08:47] majidit commented on #17092
Mattermost Enterprise Edition
Mattermost Version: 5.30.1

[2021-03-10 14:48] BElluu opened #17103 "Please clean up the tasks"
Hi,
If you can please clean up the tasks - assigned people and whether the issue is still valid.

Examples:
https://github.com/mattermost/mattermost-server/issues/13223  - assigned more than 1 year ago :)
https://github.com/mattermost/mattermost-server/issues/13468 - assigned almost 1 year :D
https://github.com/mattermost/mattermost-server/issues/13474 - half year

and more more more. :)

Best Reg

[2021-03-10 14:52] amyblais commented on #13223
@enahum Is this still a valid issue? If yes, maybe we can add back the Up for Grabs label.

[2021-03-10 14:52] amyblais commented on #13468
@devinbinnie Is this still a valid issue? If yes, maybe we can add back the Up for Grabs label.

[2021-03-10 14:53] amyblais commented on #17103
Thanks, for letting us know, I've pinged devs on the issues,

[2021-03-10 14:53] #17103 closed

[2021-03-10 15:04] amyblais commented on #17092
@majidit Thank you,
1. What OS and version is the Mattermost server installed (e.g. Windows 10, etc.)?
2. Do you see any Mattermost log errors, or browser console errors?

[2021-03-10 15:07] majidit commented on #17092
1) Windows 10 And Mattermost Version: 5.30.1
2) No !!

[2021-03-10 15:12] majidit commented on #17092
I think they should pay attention to this issue in the next versions...

Because when the list of people is long
The new message icon at the bottom of the list is not visible

https://s17.picofile.com/file/8427521700/Capture.PNG

[2021-03-10 17:38] archiekennedy commented on #16846
:+1: This fixes the "Sign in" prompts on a lot of services

[2021-03-10 18:53] alexmorbo opened #17106 "Incorrect data type in notify_props"
#### Summary
Invalid data types in object notify_props via user api `GET /api/v4/users`
In Api documentation fields: email, desktop_sound, channel, first_name must be boolean, but in API response i got strings with bool values like `"true"`, or `"false"`
[code]

#### Steps to reproduce
Call user api `GET /api/v4/users/me`

#### Expected behavior
**Boolean** values for fields email, desktop_sound,

[2021-03-10 19:08] amyblais commented on #17106
Opened a ticket: https://mattermost.atlassian.net/browse/MM-33730

[2021-03-10 20:23] alexmorbo commented on #17106
Same with Timezone model
useAutomaticTimezone - in documentation boolean, in api - empty string for me

[code]

[2021-03-10 20:27] ivenk commented on #16800
@the-robot are you still working on this issue ? Otherwise i would give it a shot but i dont want to snatch up your task.

[2021-03-10 21:30] amyblais commented on #17106
Thanks, updated the ticket.

[2021-03-10 22:20] hmhealey commented on #17077
Totally fair. I can try to guess at some things that might cause issues then. Do any of the usernames start or end with numbers, underscores, or any other punctuation?

Those characters, particularly at the end of usernames, have caused issues in the past since we have to do some tricky logic around whether or not something like `@user.name.` is a mention for someone named `user.name.`, `user.name

[2021-03-11 11:53] kritiag20 commented on #16727
I am working on this issue.

[2021-03-11 13:33] amyblais commented on #17092
Would you be open to upgrading to the latest version to see if the issue still reproduces? We have also done improvements to the channel sidebar in the most recent version.

[2021-03-11 17:05] alexmorbo commented on #17106
I found another one

In `POST /posts`, Post Model has post.props.from_bot same problem

[code]

[2021-03-11 17:51] amyblais commented on #17106
We understand that ideally they should be boolean. But notify_props is a map[string]string (as are the others), and we cannot change it without bumping model version and the API version.

[2021-03-11 19:27] #16709 closed

[2021-03-11 19:58] majidit commented on #17092
OK
We will try the new version
And I will inform you of it
Thanks again for answering

[2021-03-11 20:15] mattermod opened #17114 "If removed from a public channel, saved posts should be retained"
Today, saved messages disappear when a user leaves a channel, even if that channel is public. While this experience makes sense for private channels, whose content should not be accessible to a user not in that channel, it’s unnecessary to apply this restriction to public messages in public channels. It also behaves differently than Slack in this context.

Let’s update the server code to return sa

[2021-03-12 02:27] ivenk commented on #16800
Thx for the response ! I started working on this. Might take a couple of days.

[2021-03-12 11:18] muratbayan opened #17120 "Allow Authentication Transfer setting keeps reverting to false in the System Console"
#### Summary
The Allow Authentication Transfer (System Console -> Experimental -> Features) cannot be set to true, keeps reverting to false

#### Steps to reproduce
* On a Cloud workspace, in the system console go to Experimental -> Features
* Set the `Allow Authentication Transfer` setting to true
* Save the changes
* Reload the page

#### Expected behavior
The value of the setting should be `tru

[2021-03-12 11:29] muratbayan opened #17121 "Sign-in Method buttons not showing for SAML/OIDC if there is no AD/LDAP configured"
#### Summary
If a user/customer only has OpenID or SAML set up, the Account Settings UI does not show the button to switch Sign-in method

#### Steps to reproduce
* On a cloud workspace, set up a SAML or an OpenID Connect provider in the System Console
* Ensure that there is no AD/LDAP set up on the workspace (System Console -> Authentication -> AD/LDAP -> `Enable sign-in with AD/LDAP` set to `fal

[2021-03-12 13:41] amyblais commented on #17121
Opened a ticket: https://mattermost.atlassian.net/browse/MM-33791

[2021-03-12 13:41] #17121 closed

[2021-03-12 13:42] amyblais commented on #17120
Opened a ticket: https://mattermost.atlassian.net/browse/MM-33792

[2021-03-12 13:42] #17120 closed

[2021-03-12 14:31] isacikgoz commented on #17098
Hey @majidit 👋 thanks for the feedback! Could you elaborate your issue a little bit? We already have a guideline [here](https://mattermost.org/filing-issues/) if it helps. Can you also add what version are you using? (both server and client)

[2021-03-12 17:04] #15651 closed

[2021-03-12 19:26] lieut-data commented on #15012
@jasonsmith425, @hjek & @kongr45gpen -- we have a pending change (https://github.com/mattermost/mattermost-redux/pull/1407) which I expect will address at least /some/ of the problems here. In the course of that investigation, I've discovered other issues and expect to follow up in the coming weeks. But my hope is that that fix gets us past the really painful part of this issue.

It will hopefully

[2021-03-13 00:40] amyblais commented on #16848
You can ping ``@lieut-data`` here for any questions, or [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers) for technical advice/questions.

[2021-03-13 08:24] majidit commented on #17098
The version we use: Web Server (Mattermost Version: 5.30.1)
 When you are on a conversation page with someone, for example, you get up from behind the desk and do something else
And the person sends a new message
This message is displayed on the talk page
But I may not be aware of this new message
Because the new message icon is not displayed on that person's name

[2021-03-13 11:23] mishra-tanay commented on #17114
Hey I would love to work on that.
Thanks.

[2021-03-13 22:25] hjek opened #17130 "Adding a mention can clear the message box and erase the undo history"
#### Summary
Adding a mention can clear the message box and erase the undo history

#### Steps to reproduce
First I compose a good long message. Then, I decide I want to add an at-mention at the start, so I move the text cursor to the very beginning of the message and type "@" and a username drop-down appears. Now, while this drop-down is visible, if I accidentally press either `←` or `→` once cau

[2021-03-14 14:57] aggmoulik commented on #16719
I am picking up this issue.

[2021-03-15 05:21] aggmoulik commented on #16717
I am picking up this issue.

[2021-03-15 12:26] mishra-tanay commented on #17114
Hey @jasonblais,
Would it be too much to start from ?
I commented that before having a conversation with you.

[2021-03-15 12:36] amyblais commented on #17130
Opened a ticket: https://mattermost.atlassian.net/browse/MM-33823

[2021-03-15 14:05] #16733 closed

[2021-03-15 15:45] mattermod opened #17140 "Custom Statuses: Implement max length validation on the status modal"
Currently, the user is able to type an unlimited amount of characters in the status text field and click "Set status", but it will only save a certain number of characters.

**100 character maximum limit**

Add a red border and negative character count to the end of the textbox based on the number of characters the user has exceeded. (See [https://mattermost.atlassian.net/browse/MM-24635)](https:/

[2021-03-15 15:56] esethna commented on #17140
Example PR to replicate in this field: https://github.com/mattermost/mattermost-webapp/pull/7281

[2021-03-15 18:22] jasonblais commented on #17114
Great question @mishra-tanay . @isacikgoz do you think this is a good issue for someone new to the Mattermost codebase?

[2021-03-15 19:41] hectorlorenzo commented on #16708
I can take this one!

[2021-03-16 05:34] majidit commented on #17092
Thanks Again ...

[2021-03-16 05:34] #17092 closed

[2021-03-16 07:18] #16622 closed

[2021-03-16 09:07] renchili commented on #16873
@amyblais  seems nobody in the p2p help channel  should I ask @ someone or?

[2021-03-16 09:27] mahmud2011 commented on #16975
@msal4 did you start working on it? Is it still up for grabs?

Rather than using `sql.Nullbool` in `model.PullRequest`  or scan a separate object having `sql.NullBool` and then map it to `model.PullRequest` why not use a `bool` pointer? In that way `MaintainerCanModify` will be nullable and  `sql` object free.

CC: @agnivade

[2021-03-16 09:39] agnivade commented on #16975
@isacikgoz - Do you see any issues with using a `*bool`? I think we somehow missed this. But maybe there's a catch here that I am missing which won't let us use `*bool`. Let me know.

[2021-03-16 09:45] mattermod opened #17149 "Update golangci to v1.39.0"
The goal of this ticket is to update golangci-lint to v1.38.0 and fix all issues reported by the `make check-style` command.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For tec

[2021-03-16 12:32] isacikgoz commented on #16975
@agnivade I don't think there will be an issue with using `*bool`, it sounds reasonable to me as well.

[2021-03-16 12:55] isacikgoz commented on #17098
Oh I see. If I understood this correctly; you want to receive a desktop notification/or a sound even Mattermost webapp is in the focus. Is it correct?

[2021-03-16 13:14] msal4 commented on #16975
It's perfectly fine but I'd have to write a variable every time I need to pass a `bool` since I can't inline it. like here

`pr_from_issue_handler_test.go`
[code]

 Idk if you guys are fine with that.

[2021-03-16 13:44] msal4 commented on #16975
@isacikgoz @agnivade how about the other fields should I leave them out?
[code]

[2021-03-16 14:56] agnivade commented on #16975
We can add a helper function like

[code]

Similar to how we have `model.NewString` in our mattermost-server repo.

Let's send one PR per field. Thanks!

[2021-03-16 21:28] hjek opened #17162 "Emojis are moving around in the emoji picker"
#### Summary
Emojis are moving around in the emoji picker

#### Steps to reproduce
- Click on the emoji picker
- Click on an emoji, say :unamused:
- Now, before :unamused: is actually picked, the emoji picker will suddenly display a vertical scrollbar and shuffle the emojis around
- Another emoji, in this case :clown_face:, is accidentally picked instead

#### Expected behavior
I expect the emojis

[2021-03-16 21:50] msal4 commented on #16975
Thanks @agnivade.
Should I do them or wait for new issues to be created?

[2021-03-16 22:42] amyblais commented on #17162
@hjek
What OS and version are you on?
What Mattermost server version are you on?
I wasn't able to reproduce this just now, so any other information that you can share about your environment will be helpful.

[2021-03-17 03:16] agnivade commented on #16975
You can use this issue itself for that. Thanks for doing this!

[2021-03-17 04:37] majidit commented on #17098
Hi ... @isacikgoz

When I'm not behind the computer , Sound does not make sense ... !!
All that remains is for a symbol or a new message counter to appear on the person's name ...

[2021-03-17 09:31] hjek commented on #17162
This happens on `cloud-2021-02-10` (https://community.mattermost.com) and on `5.31.1`.

I'm running Debian Unstable. I can see that this happens in Firefox 86. The delayed scrollbar loaded also happens in Chromium 89 but it doesn't shuffle the emojis.

I suspect you may not see this issue on more powerful devices where complex web pages load faster.

[2021-03-17 12:00] nizarmah commented on #12624
@rfoyard is this something you're planning to continue working on? Or is this something I could be able to help with in any way?

[2021-03-17 12:27] amyblais commented on #17162
Thanks, ticket here: https://mattermost.atlassian.net/browse/MM-33920

[2021-03-17 13:44] rfoyard commented on #12624
Hi @nizarmah, I'm not going to continue working on this PR. It depends on #13775 and it's not yet merged.
I don't have the time to continue working on #13775 and every time I fix the merge conflicts, there are new conflicts before it's been reviewed...
If you're interested in taking care of this PR, no worries for me !

[2021-03-17 18:40] kritiag20 commented on #16711
I am working on this issue

[2021-03-17 18:55] aggmoulik commented on #16721
I am working on this issue.

[2021-03-17 19:13] kritiag20 commented on #16712
I am working on this issue.

[2021-03-18 01:17] abhilashvadnala commented on #16731
@devinbinnie can I grab this?
I'm new to mattermost. I'll get familiarized with the codebase while working on this issue.

[2021-03-18 08:49] Hampusholmstrom commented on #17140
Hi, I would be happy to give this a try.

[2021-03-18 08:57] nizarmah commented on #12624
@rfoyard 😅 alright then, I'm going to take your comment as a warning and back-off. I was hoping to work on this on the side, but it seems like it would be better suited with someone who can commit more time to it than I can 😓.

[2021-03-18 11:35] MiyazawaK opened #17175 "Errors after upgrading to 33.0"
#### Summary
After upgrading mattermost team edition to v33.0, mattermost logs tons of errors.

#### Steps to reproduce
Manually upgrading the system according to the manual.

#### Expected behavior
No errors

#### Observed behavior (that appears unintentional)
Several errors per second, all look like this, but for different ips:
[code]

#### Additional Info
Our Server is behind a corporate proxy,

[2021-03-18 12:22] amyblais commented on #17175
@agnivade Is this related to https://github.com/mattermost/mattermost-server/pull/17172?

[2021-03-18 13:04] devinbinnie commented on #16731
@abhilashvadnala Absolutely! Let us know if you have any questions :)

[2021-03-18 13:16] MiyazawaK commented on #17175
Just for info, I've installed and configured a reverse proxy (nginx) and now it seems to work fine.

[2021-03-18 14:32] agnivade commented on #17175
Yes, that's the issue. Sorry for the inconvenience @MiyazawaK.

[2021-03-18 18:04] majidsajadi commented on #16713
I'm working on this one.

[2021-03-18 18:07] majidsajadi commented on #16148
Im working on this one.

[2021-03-18 18:50] #13471 closed

[2021-03-18 21:31] elyscape commented on #16665
This happens because Reddit filters requests somewhat based on the user-agent, and responds with a stock unavailable response to certain user-agents that it has deemed prone to abuse. This includes the default Golang user-agent.
[code]
I would recommend changing the user-agent used by Mattermost to something distinguishable, like `Mattermost-Bot/1.0`. This works on Reddit:
[code]
I would recommend

[2021-03-18 21:44] elyscape commented on #16665
It turns out we kinda already do this for Twitter links:
https://github.com/mattermost/mattermost-server/blob/2743089b54b0165511e474eb2b9083a45d76b2c2/app/post_metadata.go#L428-L430
I would argue that we should instead make all of such requests use a custom user-agent. This would fix previews on Reddit (and probably additional sites) and would also allow us to get rid of the Twitter special casing

[2021-03-19 07:20] MiyazawaK commented on #17175
Thanks for the quick reply! Should I close this issue, since installing the reverse proxy fixed the problem? Or are you closing it after the fix has been implemented?

[2021-03-19 07:41] vlfesko commented on #16941
Hi,
It looks like the issue was about duplicating DM channels as described in https://github.com/mattermost/mattermost-server/issues/14382

After we relocated posts and deleted duplicate channels the issue was resolved (and after a month now did not happen again).

It was an issue in upgrade path, we run mattermost for a few years now and never reinstalled it from scratch, only upgraded.

[2021-03-19 07:45] agnivade commented on #17175
Sounds good then. I will close the issue since the fix has already been merged to master and backported. Dot release should be out soon.

[2021-03-19 07:45] #17175 closed

[2021-03-19 09:41] Tragen opened #17189 "URLs entered in chat are missing the * at the end of the URL"
#### Summary
The URL I enter in the chat window doesn't catch a * at the end.

#### Steps to reproduce
Enter both URLs in a chat
http://www.example.org/?x=a
http://www.example.org/?x=*

This is a real problem in e.g. xwiki where the search text is the last one in the URL.
When you enter * to search for everything, the * is missing when you copy paste this URL
https://www.xwiki.org/xwiki/bin/view/M

[2021-03-19 09:41] Tragen commented on #17189
Interesting to see here that Github is missing the * also

[2021-03-19 11:11] streamer45 commented on #16941
Glad it's fixed now. Thank you for letting us know.

[2021-03-19 16:18] amyblais commented on #17189
@hmhealey Do you if this is a bug or "expected" as the same happens in Github?

[2021-03-19 19:58] Tragen commented on #17189
For me it's a bug, even when GitHub has the same one.
It's a valid URL

[2021-03-20 18:13] eunicode commented on #16724
I'd like to take up this issue!

[2021-03-21 08:50] hectorlorenzo commented on #16708
After talking to my employer, I am not allowed to participate in this project working from my company's laptop. I don't think I'll be able to work on this right now. Sorry for the churn 😔

[2021-03-21 16:47] Crimson-riot commented on #16714
I can take a look at this.

[2021-03-22 15:14] wget commented on #15929
Same applies for other locations on the interface like the display name of a channel.
https://twitter.com/Arawa_fr/status/1373924759147253760

Some companies like Arawa would like to add their own emojis for the projects their are working in. Having a distinct emoji could have helped notice easily the channel and win a bunch of seconds each day.

[2021-03-22 15:44] wget commented on #15929
I'm assigning this to me for my "list of easyhacks to work when time allows" :angel:

[2021-03-22 17:04] amyblais commented on #17189
Opened a ticket: https://mattermost.atlassian.net/browse/MM-34133

[2021-03-22 17:49] enahum commented on #16921
@esethna is there a similar ticket for mobile?

[2021-03-22 18:32] esethna commented on #16921
@enahum I noted that this change should be made on both platforms

[2021-03-22 19:05] someone-somenet-org opened #17197 "Websocket handling: client side pings kill ws-connection."
It seems that Mattermost's websocket handling of client side pings is broken since the 5.33.x update.

Instead of responding to ping frames ([which is a MUST](https://tools.ietf.org/html/rfc6455#section-5.5.2)) MM now just silently drops the websocket connection.

I can reliably reproduce the loss of connection and work around the issue by disabling said client ping logic.

It also seems to affect

[2021-03-22 20:17] attzonko commented on #17197
We are also seeing this issue as it affects the [mattermost driver](https://github.com/Vaelor/python-mattermost-drive) and anyone using that driver.

[2021-03-22 20:18] amyblais commented on #17197
Opened a ticket for investigation https://mattermost.atlassian.net/browse/MM-34158.

[2021-03-23 01:57] elyscape commented on #17197
This appears to have been caused inadvertently by #16620, which changed the websocket library in use. The old library was fairly high level and [had default handling of ping messages][default-ping]:

The new implementation is lower level and doesn't handle this for users, requiring them to implement this functionality themselves. This should be done here:
https://github.com/mattermost/mattermost-s

[2021-03-23 03:40] agnivade commented on #17197
Thank you @someone-somenet-org and @attzonko for the report, and thank you @elyscape for the analysis!

The Mattermost server wasn't really explicitly handling pings from clients. It seems to be a default behavior from the old implementation which other clients seemed to rely on. The client is only meant to respond to ping messages with a pong, as our official Go websocket client (https://pkg.go.d

[2021-03-23 05:55] attzonko commented on #17197
@agnivade From [the spec](https://tools.ietf.org/html/rfc6455), it seems that a `ping frame` can come from either endpoint (client or server). Any endpoint receiving a `ping frame` must respond with a `pong frame`. So, are you suggesting that the server will no longer respond with a `pong frame` going forward, or am I misunderstanding your response?

[2021-03-23 06:07] agnivade commented on #17197
Sorry for any confusion there. The fix will be to respond with a pong frame. But until then, the workaround is to not make explicit pings.

For a better solution, I would suggest not to send ping frames at all, as the server already does that.

[2021-03-23 08:32] Ndrou commented on #15273
Same issue appears in 5.32.1 for us for one user only...

[2021-03-23 10:54] ethervoid commented on #16623
We need to revert [PR-3](https://github.com/mattermost/mattermost-server/pull/17062) because it changes the plugins API and leads to those plugins failing.

[2021-03-23 11:08] ThiefMaster commented on #17189
Isn't the general solution to wrap such URLs containing weird characters in `<>`? `<http://www.example.org/?x=*>` works fine on both GitHub and Mattermost.

[2021-03-23 11:51] BElluu commented on #16921
Hi. I can do it :)
One question. In this class I see many conditions for **@ ALL @ channel**. Tell me, should I update text just for general **@ ALL @ channel** or update for group mentions too? I mean this code:

[code]

[2021-03-23 12:32] lieut-data commented on #12356
Considering this issue resolved, and will let mobile team resurface as needed.

[2021-03-23 12:32] #12356 closed

[2021-03-23 15:57] attzonko commented on #17197
OK, that makes sense. However, it is not very practical for us to disable the client-side ping, since the WebSocket connection is handled by a library twice removed from our Bot framework, and the intermediate library does not provide a way to disable the client pings. I'll try and work with those owners to get that functionality added, however from their standpoint the server is the one that is n

[2021-03-23 17:52] hmhealey commented on #15273
@Ndrou What version did they first have the issue on?

As far as I'm aware, that shouldn't happen any more for anyone that first used the new sidebar in 5.29 or greater, but the new fixes unfortunately don't affect anyone who were affected by the bug before then. The best we have for fixing it for people previously affected is that I can give you some SQL queries to clear their sidebar so that it'

[2021-03-23 18:10] hmhealey commented on #17189
Generally, I'd defer to GitHub for how to handle cases like this. Capturing asterisks as part of the URL automatically can cause problems since it potentially conflicts with other Markdown. For example, is `*here is http://www.example.org/?x=*` an italicized sentence with a link to `http://www.example.org/?x=` or is the first asterisk a literal?

In this case, I think using an explicit Markdown li

[2021-03-23 22:09] axac opened #17212 "i can not activate plugin"
hello I can not activate all the plugins, for example.:

Jitsi (jitsi - 2.0.0)
Jitsi audio and video conferencing plugin for Mattermost.
Désactiver - Retirer - Paramètres

`Ce plugin n’a pas pu démarrer. Veuillez vérifier vos journaux à la recherche d’erreurs.

Todo (com.mattermost.plugin-todo - 0.4.0)
This plugin makes it easy to keep track of Todo issues and get daily reminders.
Désactiver - Ret

[2021-03-24 01:15] parnic opened #17213 "New easygo dependency breaks compile on some previously-working configurations"
#### Summary
The newly-added dependency on https://github.com/mailru/easygo (#16620) breaks compilation on some previously-working configurations.

#### Steps to reproduce
Compile Mattermost for an architecture such as `GOOS=netbsd GOARCH=arm`, e.g.:
[code]

#### Expected behavior
Mattermost compiles successfully.

#### Observed behavior (that appears unintentional)
Compilation fails. Depending on

[2021-03-24 03:30] agnivade commented on #17213
Thank you @parnic for the report. Let me look into it and figure out the best way to solve it.

[2021-03-24 09:58] agnivade commented on #17213
Hey @parnic - we discussed internally, and we decided to revert this feature altogether, as it was causing more pain than benefit. It should be available as a dot release in 5.33.2

[2021-03-24 10:34] Tragen commented on #17189
`*here is http://www.example.org/?x=*`
looks wrong.
Should be written italicized as
`*here is http://www.example.org/?x=* *`
The * is part of the url. Why stop without a space if it's a URL?

[2021-03-24 12:32] amyblais commented on #16921
@esethna For the question ^ https://github.com/mattermost/mattermost-server/issues/16921#issuecomment-804839429

[2021-03-24 12:43] amyblais commented on #17212
@axac Would you be open to posting about this on our [troubleshooting forum here](https://forum.mattermost.org/), or in our [community server's Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? Our devs or community members may be able to help troubleshoot this.

[2021-03-24 14:48] esethna commented on #16921
@BElluu we can update it in both places

[2021-03-24 15:07] ivenk commented on #16800
I am having a lot of issues with the developer setup. If anyone wants to work on this feel free to do so.

[2021-03-24 17:13] mariyajames96 commented on #16715
I would like to work on this issue if available. This will be my first contribution!

[2021-03-24 17:59] xuanvi26 commented on #16145
Hi! Just giving an update. I've been continuing to work on this although I am stuck on some types. I have been asking for help in the Mattermost community chat and will continue to do so!

[2021-03-24 18:33] salvadorreyesc opened #17221 "Mattermost Desk App is not receiving all the messages, though the IOS app is receiving all"
#### Summary
The IOS app receives all the messages, but when i open de Desk App to see them, some are there, but most of them doesnt appear.

#### Steps to reproduce
Its just dont appear. No steps involved.

#### Expected behavior
I want you to fix this issue, iss impacting all the communication between teams, losing valuable information.

#### Observed behavior (that appears unintentional)
What d

[2021-03-24 19:15] amyblais commented on #17221
@salvadorreyesc
1. Please help with details on your environment via https://docs.mattermost.com/process/support.html#general-questions-for-any-issues.
2. Please also help with any desktop console errors via https://docs.mattermost.com/install/desktop.html#reporting-issues.

[2021-03-24 19:53] Ndrou commented on #15273
@hmhealey
The issue appeared in 5.32.1 but just for one user.
After investigation, i think that a migration has created duplicates in database for this user, we just removed these duplicates in database and everythink is OK now.

[2021-03-24 20:20] axac commented on #17212
@amyblais Thank you.
I'm going to community server's Peer-to-peer Help
Sorry.

[2021-03-24 20:27] #17212 closed

[2021-03-25 00:53] #14198 closed

[2021-03-25 03:34] agnivade commented on #17213
I am closing this as it's reverted in master. Dot release should be out soon. My apologies for the inconveniences @parnic, and thanks again for surfacing this.

[2021-03-25 03:34] #17213 closed

[2021-03-25 06:48] #16975 closed

[2021-03-25 07:41] msal4 commented on #15743
Hey @sheetalsingala, are you still working on this one?
Let me know if I may take over

@jespino @jasonblais

[2021-03-25 10:24] agnivade commented on #17197
We have reverted the feature, and it's already merged to master. So I will close the issue. A dot release for 5.33.2 should be out soon. Thanks everyone!

[2021-03-25 10:24] #17197 closed

[2021-03-25 13:06] amyblais opened #17228 "Mattermost v5.34"
You can find key dates for v5.34 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### April 6th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### April 14th: Release Build Cut
The fi

[2021-03-25 22:29] pde opened #17236 "Comments are shown as having been made on the wrong post"
This appears to be a schema / protocol issue, resulting from not keeping `parent_id` distinct from `root_id`

Suppose there is a discussion as follows:
[code]
If the channel has other threads active, Message 377 will be rendered as:

Eve commented on **Alice**'s message: **I am trying to figure how many bugs we can live with in our server code**
| my team did some research on this. The answer 42.

[2021-03-25 22:34] pde opened #17237 "Track thread structure correctly/completely."
Presently, the Mattermost schema for messages contains two fields, a `root_id`, and a `parent_id`.

Reportedly `parent_id` exists for historical reasons, and it is currently set to the same value as the `root_id`, but this is unfortunate for several reasons, including:

* Replies in threads are sometimes rendered in confusing and incorrect ways (#17236)
* It is impossible to write bots that engage

[2021-03-25 22:37] pde commented on #17237
Very superficially, it appears this could incrementally fixed by:

- Adding an optional `in_reply_to` field to the API for create_post
- populating the existing (historical) `parent_id` field with the `in_reply_to` parameter if it is supplied by a client

Fixing #17236 would then be easy as a rendering change back from `root_id` to `parent_id` in the appropriate places.

[2021-03-25 22:38] kevung commented on #10923
Hi ! Thanks for your great work on mattermost.
I have seen that Mattermost V5.33 enables openid connect auth for Enterprise and Cloud edition.
Do you foresee to open this feature to Mattermost self-hosted edition in the future?
If not, would it be possible not to hardcode api/auth/token user endpoint in Gitlab section in Mattermost system pannel? This seems to be quite simple.
A lot of  Gitea inst

[2021-03-25 22:39] gigawhitlocks commented on #16617
This has become higher priority as it relates to my work, @streamer45 @antwigambrah would you mind if I took this over?

[2021-03-25 22:40] ThiefMaster commented on #10923
You can edit config.json manually to set arbitrary URLs for auth/token/userinfo ;)

[2021-03-26 11:26] tzeroem opened #17239 "x509: certificate signed by unknown authority - iOS Push-Notification not working"
#### Summary
I had to update my iOS-Push certificate. After the update I got the error message about the mattermost push proxy -> x509: certificate signed by unknown authority

#### Environment Information

- Device Name: iPhone 8, iPad Air 2
- OS Version: iOS14.3, iOS14.4.1
- Mattermost App Version: 1.41.0
- Mattermost Server Version: 5.31.1
- Push-Proxy Version: 5.22.4
- Ubuntu-Server 18.04

###

[2021-03-26 12:45] amyblais commented on #17239
@tzeroem Let me know if this guide helps: https://jeffschering.github.io/mmdocs/upgrade/install/troubleshooting.html#x509-certificate-signed-by-unknown-authority.

[2021-03-26 13:53] devinbinnie commented on #16720
Hey @kojiGit55, do you still plan to work on this issue?

[2021-03-26 13:54] devinbinnie commented on #16728
Hey @Alucard17, do you still plan to work on this issue?

[2021-03-26 13:54] devinbinnie commented on #13478
Hey @barema4, do you still plan to work on this issue?

[2021-03-26 13:55] #16734 closed

[2021-03-26 13:56] devinbinnie commented on #16742
Hey @Yahyakiani, do you still plan to work on this issue?

[2021-03-26 13:56] devinbinnie commented on #16743
Hey @ndcroos, do you still plan to work on this issue?

[2021-03-26 13:58] devinbinnie commented on #12486
Re-opening as `Up For Grabs`, @hiendinhngoc let us know if you still plan to work on this.

[2021-03-26 13:59] barema4 commented on #13478
Hi. Yes am planning to work on it this weekend

On Tue, 16 Feb 2021, 16:47 Allan Guwatudde, ***@***.***>
wrote:

[2021-03-26 14:00] Yahyakiani commented on #16742
@devinbinnie I did want to work on it . But couldnt manage to setup the project locally with success. You can have it assigned to someone else.

[2021-03-26 14:01] devinbinnie commented on #13469
Re-opening as `Up For Grabs`, @shred86 let us know if you still plan to work on this.

[2021-03-26 14:01] kojiGit55 commented on #16720
Hi, I think I've already done this issue, so maybe we can close
https://github.com/mattermost/mattermost-webapp/pull/7539

[2021-03-26 14:02] devinbinnie commented on #13481
Re-opening as `Up For Grabs`, @paulinaczybir let us know if you still plan to work on this.

[2021-03-26 14:06] devinbinnie commented on #13488
Re-opening as `Up For Grabs`, @saikrishna014597700 let us know if you still plan to work on this.

[2021-03-26 14:08] devinbinnie commented on #13498
Hey @saikrishna014597700, do you still plan to work on this issue?

[2021-03-26 14:18] devinbinnie commented on #13686
Re-opening as `Up For Grabs`, @cinlloc let us know if you still plan to work on this.

[2021-03-26 14:19] devinbinnie commented on #13699
Re-opening as `Up For Grabs`, @openmohan let us know if you still plan to work on this.

[2021-03-26 14:20] devinbinnie commented on #13700
Re-opening as `Up For Grabs`, @jeffreycao1998 let us know if you still plan to work on this.

[2021-03-26 14:22] devinbinnie commented on #13702
Re-opening as `Up For Grabs`, @allenlai18 let us know if you still plan to work on this.

[2021-03-26 14:23] devinbinnie commented on #13705
Re-opening as `Up For Grabs`, @ikeohachidi let us know if you still plan to work on this.

[2021-03-26 14:23] devinbinnie commented on #13713
Re-opening as `Up For Grabs`, @QamarFarooq let us know if you still plan to work on this.

[2021-03-26 14:43] hmhealey commented on #17189
No, unfortunately, we can't just go until the next space because people could use a URL in a sentence

or in brackets

and we don't want to capture the trailing punctuation or brackets for those either. Unfortunately, URLs can contain a lot of characters that can cause conflicts with Markdown parsing if they're not percent-encoded. Even with ones we do support like brackets, we've struggled a lot

[2021-03-26 14:44] #15442 closed

[2021-03-26 14:45] devinbinnie commented on #15444
Migrated to TS already, closing.

[2021-03-26 14:45] #15444 closed

[2021-03-26 14:45] devinbinnie commented on #15446
Re-opening as `Up For Grabs`, @Prescise let us know if you still plan to work on this.

[2021-03-26 14:47] devinbinnie commented on #15450
Re-opening as `Up For Grabs`, @dudupopkhadze let us know if you still plan to work on this.

[2021-03-26 14:56] devinbinnie commented on #15468
Re-opening as `Up For Grabs`, @VinitSarvade let us know if you still plan to work on this.

[2021-03-26 14:59] devinbinnie commented on #15476
Re-opening as `Up For Grabs`, @mprovenc let us know if you still plan to work on this.

[2021-03-26 15:00] devinbinnie commented on #15482
Re-opening as `Up For Grabs`, @vivienhennig let us know if you still plan to work on this.

[2021-03-26 15:06] devinbinnie commented on #16121
Re-opening as `Up For Grabs`, @nikkinagar let us know if you still plan to work on this.

[2021-03-26 15:07] ndcroos commented on #16743
For the moment, I don't have time to work on it further. So maybe it's best to 'unassign' this issue.

[2021-03-26 15:08] devinbinnie commented on #16123
Re-opening as `Up For Grabs`, @fmahmud4 let us know if you still plan to work on this.
@JeremyShih are you still interested?

[2021-03-26 15:08] devinbinnie commented on #16124
Re-opening as `Up For Grabs`, @BenjaminLevy let us know if you still plan to work on this.

[2021-03-26 15:09] devinbinnie commented on #16127
Re-opening as `Up For Grabs`, @BenjaminLevy let us know if you still plan to work on this.

[2021-03-26 15:09] hmhealey commented on #15273
Glad to hear it! Hopefully it was just a one-off issue since newer migrations are able to use the database to prevent duplicates by using predetermined IDs for those categories. Definitely let us know if it comes up again.

I'm going to close this issue since we should've closed it back when we added the fix for it previously. Feel free to reopen if necessary though.

[2021-03-26 15:09] #15273 closed

[2021-03-26 15:10] devinbinnie commented on #16129
Re-opening as `Up For Grabs`, @bjorge82 let us know if you still plan to work on this.

[2021-03-26 15:10] devinbinnie commented on #16132
Re-opening as `Up For Grabs`, @BenjaminLevy let us know if you still plan to work on this.

[2021-03-26 15:11] #16134 closed

[2021-03-26 15:11] devinbinnie commented on #16135
Re-opening as `Up For Grabs`, @BenjaminLevy let us know if you still plan to work on this.

[2021-03-26 15:12] devinbinnie commented on #16136
Re-opening as `Up For Grabs`, @msal4 let us know if you still plan to work on this.

[2021-03-26 15:16] devinbinnie commented on #16150
Re-opening as `Up For Grabs`, @sridhar02 let us know if you still plan to work on this.

[2021-03-26 15:42] #16802 closed

[2021-03-26 15:42] #16839 closed

[2021-03-26 15:43] hmhealey commented on #16802
Echoing my comment from https://github.com/mattermost/mattermost-redux/pull/1348 here for visibility:

We discussed this a bit more internally, and there's some bigger issues we discovered since changing the type in the redux state will break all plugins relying on the config only containing strings. We still need to figure out how what parts of mattermost-redux we want accessible by plugins and h

[2021-03-26 15:43] hmhealey commented on #16839
Echoing my comment from https://github.com/mattermost/mattermost-redux/pull/1348 here for visibility:

We discussed this a bit more internally, and there's some bigger issues we discovered since changing the type in the redux state will break all plugins relying on the config only containing strings. We still need to figure out how what parts of mattermost-redux we want accessible by plugins and h

[2021-03-26 15:55] t-tsutsumi-scc opened #17240 "Unsafe character colon used in pasted file name"
#### Summary

When the interface language is set to Japanese, a colon (`:`) is included in the file name pasted from the clipboard. A colon cannot be used in file names on Windows.

#### Steps to reproduce

1. Start a new instance of the latest Mattermost.
[code]
2. Access Mattermost with a web browser and change the interface language to Japanese.
3. Paste an image from the clipboard and post it.

[2021-03-26 16:03] devinbinnie commented on #16720
Oh perfect! Thanks @kojiGit55! Closing.

[2021-03-26 16:03] #16720 closed

[2021-03-26 16:04] devinbinnie commented on #16743
No worries, will unassign.

[2021-03-26 16:22] devinbinnie commented on #16716
Looks like this component has been removed, closing this issue.

[2021-03-26 16:22] #16716 closed

[2021-03-26 16:29] devinbinnie commented on #15482
Looks like this one is already complete, closing.

[2021-03-26 16:29] #15482 closed

[2021-03-26 16:29] amyblais commented on #17240
@t-tsutsumi-scc Translations are done via the translations server https://translate.mattermost.com/. Let me know if you're open to submitting a translation edit. Or let me know if I misunderstood this report.

[2021-03-26 17:00] mattermod opened #17241 "Migrate 'components/admin_console/jobs' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/group*settings` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any com

[2021-03-26 17:00] mattermod opened #17242 "Migrate 'components/admin_console/group_settings' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/group*settings` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any com

[2021-03-26 17:00] mattermod opened #17243 "Migrate 'components/admin_console/group_settings/group_details' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/group_settings/group*details` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ]

[2021-03-26 17:00] mattermod opened #17244 "Migrate 'components/admin_console/brand_image_setting' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/brand_image*setting` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update an

[2021-03-26 17:00] mattermod opened #17245 "Migrate 'components/admin_console/admin_user_card' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/admin_user*card` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any co

[2021-03-26 17:00] mattermod opened #17246 "Migrate 'components/admin_console/admin_button_outline' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/admin_button*outline` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update a

[2021-03-26 17:15] mattermod opened #17247 "Migrate 'components/admin_console/team_channel_settings' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/team_channel*settings` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update

[2021-03-26 17:15] mattermod opened #17248 "Migrate 'components/admin_console/reset_email_modal' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/reset_email*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2021-03-26 17:15] mattermod opened #17249 "Migrate 'components/admin_console/request_button' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/request*button` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any com

[2021-03-26 17:15] mattermod opened #17250 "Migrate 'components/admin_console/permission_schemes_settings' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes*settings` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] U

[2021-03-26 17:15] mattermod opened #17251 "Migrate 'components/admin_console/permission_schemes_settings/permission_team_scheme_settings' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/permission_team_scheme*settings` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2021-03-26 17:15] mattermod opened #17252 "Migrate 'components/admin_console/permission_schemes_settings/permission_team_scheme_settings/team_in_list' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/permission_team_scheme_settings/team_in*list` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions

[2021-03-26 17:15] mattermod opened #17253 "Migrate 'components/admin_console/permission_schemes_settings/permission_system_scheme_settings' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/permission_system_scheme*settings` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2021-03-26 17:15] mattermod opened #17254 "Migrate 'components/admin_console/permission_schemes_settings/permissions_tree' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/permissions*tree` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2021-03-26 17:15] mattermod opened #17255 "Migrate 'components/admin_console/permission_schemes_settings/permissions_scheme_summary' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/permissions_scheme*summary` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2021-03-26 17:15] mattermod opened #17256 "Migrate 'components/admin_console/permission_schemes_settings/guest_permissions_tree' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/guest_permissions*tree` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2021-03-26 17:15] mattermod opened #17257 "Migrate 'components/admin_console/permission_schemes_settings/edit_post_time_limit_modal' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/edit_post_time_limit*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2021-03-26 17:15] mattermod opened #17258 "Migrate 'components/admin_console/permission_schemes_settings/edit_post_time_limit_button' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/permission_schemes_settings/edit_post_time_limit*button` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`

[2021-03-26 17:15] mattermod opened #17259 "Migrate 'components/admin_console/manage_teams_modal' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/manage_teams*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2021-03-26 17:30] mattermod opened #17260 "Migrate 'components/call_button' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/call_button` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using tho

[2021-03-26 17:30] mattermod opened #17261 "Migrate 'components/at_mention' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/at_mention` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using thos

[2021-03-26 17:30] mattermod opened #17262 "Migrate 'components/admin_console/user_autocomplete_setting' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/admin*console/user_autocomplete*setting` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Upd

[2021-03-26 17:45] mattermod opened #17263 "Migrate 'components/rhs_card_header' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/rhs*card*header` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2021-03-26 17:45] mattermod opened #17264 "Migrate 'components/quick_input' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/quick_input` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using tho

[2021-03-26 17:45] mattermod opened #17265 "Migrate 'components/post_profile_picture' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/post*profile*picture` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2021-03-26 17:45] mattermod opened #17266 "Migrate 'components/mfa' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/mfa` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to th

[2021-03-26 17:45] mattermod opened #17267 "Migrate 'components/main_menu' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/main_menu` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those

[2021-03-26 17:45] mattermod opened #17268 "Migrate 'components/login' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/login` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to

[2021-03-26 17:45] mattermod opened #17269 "Migrate 'components/intl_provider' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/intl_provider` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using t

[2021-03-26 17:45] mattermod opened #17270 "Migrate 'components/gif_picker' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/gif_picker` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using thos

[2021-03-26 17:45] mattermod opened #17271 "Migrate 'components/channel_layout' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/channel_layout` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2021-03-26 17:59] t-tsutsumi-scc commented on #17240
@amyblais
I think the root cause of this issue is not the error in the translated text, but the Mattermost features and translation rules.

1. The translated text of `file_upload.pasted` key is used for the file name when uploading an image from the clipboard. Is it clear that there are characters that should not be used in this translated text, such as a colon? IMHO, Mattermost should escape this

[2021-03-26 18:00] mattermod opened #17272 "Migrate 'components/widgets/icons' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/unarchive*channel*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any componen

[2021-03-26 18:00] mattermod opened #17273 "Migrate 'components/unarchive_channel_modal' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/unarchive*channel*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any componen

[2021-03-26 18:00] mattermod opened #17274 "Migrate 'components/tutorial' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/tutorial` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those

[2021-03-26 18:00] mattermod opened #17275 "Migrate 'components/tutorial/tutorial_intro_screens' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/tutorial/tutorial*intro*screens` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2021-03-26 18:00] mattermod opened #17276 "Migrate 'components/toast_wrapper' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/toast_wrapper` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using t

[2021-03-26 18:00] mattermod opened #17277 "Migrate 'components/toast' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/toast` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using those to

[2021-03-26 18:00] mattermod opened #17278 "Migrate 'components/suggestion/switch_channel_provider' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/suggestion` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using thos

[2021-03-26 18:00] mattermod opened #17279 "Migrate 'components/suggestion/search_date_suggestion' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/suggestion/search*date*suggestion` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update an

[2021-03-26 18:00] mattermod opened #17280 "Migrate 'components/suggestion/search_channel_suggestion' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/suggestion/search*channel*suggestion` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update

[2021-03-26 18:00] mattermod opened #17281 "Migrate 'components/searchable_user_list' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/searchable*user*list` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2021-03-26 18:00] mattermod opened #17282 "Migrate 'components/search_results_header' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/search*results*header` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2021-03-26 18:15] mattermod opened #17283 "Migrate 'components/status_dropdown' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/status_dropdown` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2021-03-26 18:15] mattermod opened #17284 "Migrate 'components/widgets/inputs' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/widgets/inputs` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using

[2021-03-26 18:15] mattermod opened #17285 "Migrate 'components/widgets/icons' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/widgets/icons` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components using t

[2021-03-26 18:25] amyblais commented on #17240
Thanks, created a ticket: https://mattermost.atlassian.net/browse/MM-34355

[2021-03-26 19:45] mattermod opened #17286 "Migrate 'components/claim/components' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/claim/components` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components usin

[2021-03-26 20:30] mattermod opened #17287 "Migrate 'components/post_view/reaction_list' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/post*view/reaction*list` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any componen

[2021-03-26 20:30] mattermod opened #17288 "Migrate 'components/post_view/reaction' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/post_view/reaction` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components us

[2021-03-26 20:30] mattermod opened #17289 "Migrate 'components/post_view/post_list_virtualized' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/post*view/post_list*virtualized` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2021-03-26 20:30] mattermod opened #17290 "Migrate 'components/gif_picker/components' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/gif_picker/components` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components

[2021-03-26 20:30] mattermod opened #17291 "Migrate 'components/emoji_picker/components' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/emoji_picker/components` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any componen

[2021-03-26 20:40] majidsajadi commented on #15476
I will work on this one.

[2021-03-26 20:45] mattermod opened #17292 "Migrate 'components/invitation_modal/invitation_modal_members_step' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/invitation*modal/invitation_modal_members*step` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \

[2021-03-26 20:45] mattermod opened #17293 "Migrate 'components/invitation_modal/invitation_modal_guest_step' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/invitation*modal/invitation_modal_guest*step` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[

[2021-03-26 20:45] majidsajadi commented on #16149
i will work on this one.

[2021-03-26 23:16] jasonblais commented on #15743
@msal4 hey, feel free to claim it! The related PR seems inactive, so I closed it: https://github.com/mattermost/mattermost-server/pull/15794

Thanks for your interest :)

[2021-03-27 14:31] dscanlan commented on #17291
I can pick this up if it still outstanding

[2021-03-28 05:32] antwigambrah commented on #16617
@gigawhitlocks Yes

[2021-03-28 08:36] naftalimurgor commented on #17289
Hello, I am interested.

[2021-03-28 12:11] dariodsa opened #17294 "[RFE] Save environment settings in config.json"
#### Summary
According to the [documentation](https://docs.mattermost.com/administration/config-settings.html), Mattermost can be configured using evironment variables. It would be nice if those changes that are coming from the environment variables would be written to the ``config.json`` so that all configuration is at one place.

#### Steps to reproduce
Mattermost 5.32
1. create environment vari

[2021-03-28 23:46] t-tsutsumi-scc commented on #17240
Whether a file with a file name with a colon can be read or written on Windows is implementation-dependent. As a practical matter, a backup software may not be able to access the file. In other words, it is difficult to backup Mattermost (including users who use Japanese as the interface language) running on Windows.

I hope Mattermost team will address this issue. 🙏

Ref: [Stack Overflow] How to

[2021-03-29 08:53] streamer45 commented on #16617
@antwigambrah

Just to confirm. Are you okay with this issue being handled by @gigawhitlocks or did you already have an implementation ready to share?

[2021-03-29 08:56] tzeroem commented on #17239
The solution is not correct in this case. I just wanted to show another possible solution that can arise in connection with the mattermost-push-proxy and Apple iOS.

I saw that the source code had dependencies on sideshow/apns2.
To solve my problem, I had to dig in that direction.

In the end, this solution solves it.
https://github.com/sideshow/apns2/issues/182#issuecomment-776735889

Maybe you c

[2021-03-29 08:56] #17239 closed

[2021-03-29 09:59] antwigambrah commented on #16617
@streamer45 I was working on an implementation but had to pause . He can work on it .

[2021-03-29 10:00] streamer45 commented on #16617
Sounds good. Thanks :+1:

[2021-03-29 11:43] zefhemel commented on #11264
@courtneypattison by now @asaadmahmood's changes have been merged. Nevertheless having the online status appear in the new model would still be awesome. Would you still be up to adapt this PR (or create a new one) to adjust your work to the new model?

[2021-03-29 19:07] courtneypattison commented on #11264
@zefhemel Thank you for letting me know :) My merging skills are iffy, so I created a new PR.

[2021-03-29 19:09] amyblais commented on #16268
Already fixed in Cloud; to be fixed in self-managed v5.34 (April 16th) release.

[2021-03-29 19:09] #16268 closed

[2021-03-29 19:09] amyblais commented on #16207
Already fixed in Cloud; to be fixed in self-managed v5.34 (April 16th) release.

[2021-03-29 19:09] #16207 closed

[2021-03-29 19:10] lieut-data commented on #17240
@t-tsutsumi-scc, may I assume that the problem lies in the server writing to disk the name provided by the webapp in this case? Can you reproduce this problem by intentionally uploading a file with a colon (vs. the auto-inserted one in Japanese) and observe the same behaviour?

I'm inclined to ask the server team to harden our file interface on Windows to handle this either way, but want to unders

[2021-03-30 06:07] t-tsutsumi-scc commented on #17240
@lieut-data

Yes. Mattermost should use safe filenames regardless of platform (Windows, macOS, Linux...).

It seems to behave the same when manually uploading a file with a colon. (Interface Language: English)

After uploading:
![console-manual-upload-with-colon](https://user-images.githubusercontent.com/75708205/112940395-0f0bf400-9168-11eb-87d2-5fcc207156be.png)

Downloading the file on Windows

[2021-03-30 09:42] dscanlan commented on #17290
I'll take this one.

[2021-03-30 12:38] lieut-data commented on #17240
Thanks, @t-tsutsumi-scc! That helps clarify things tremendously :)

[2021-03-30 12:48] lieut-data commented on #17189
@hmhealey, given GitHub and Mattermost match here (as seen below in the ticket description), should we resolve this as won't fix at this time and potentially revisit this when we overhaul our Markdown support?

<img width="196" alt="image" src="https://user-images.githubusercontent.com/1023171/112990856-e4f10c80-913c-11eb-92d1-54473c812c4e.png">

[2021-03-30 13:56] amyblais commented on #14106
Closing as this has been covered via https://github.com/mattermost/mattermost-plugin-zoom/pull/93 and https://developers.mattermost.com/extend/plugins/webapp/best-practices/#using-the-mattermost-servers-siteurl-in-your-web-app-plugin.

[2021-03-30 13:56] #14106 closed

[2021-03-30 13:58] #13815 closed

[2021-03-30 14:14] gigawhitlocks commented on #16617
Thanks!

[2021-03-30 15:31] #17189 closed

[2021-03-30 22:57] esethna commented on #14167
Readding up for grabs label if someone wants to finish the work started in the above PRs ^

[2021-03-31 04:50] kaakaa commented on #17240
Thanks @t-tsutsumi-scc
The translated string looks wrong, and I didn't notice this because we're not run Mattermost on Windows.
I can fix the translation soon, and it seems to work fine as far as I tried. However, changing the translation doesn't fix existing filename, so the problem of not being able to back up files on Windows still remains. It should be needed to migrate existing filename and d

[2021-03-31 08:30] mattermod opened #17310 "Auto send an outgoing webhook on incident archive"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration).

Add a new setting to the automation tab in the backstage to configure a new outgoing webhook, and send the outgoing webhook when the incident status is updated to Archived.

This should be fairly similar to the work done in [https://github.com/mattermost/mattermost-plu

[2021-03-31 10:00] mattermod opened #17311 "Export channel on incident archive"
Add a new toggle to the automation tab in the backstage to enable or disable this feature, and export the channel using the [Channel Export plugin](https://github.com/mattermost/mattermost-plugin-channel-export) when the incident status is updated to `Archived`.

You can take a look at other automations already implemented to get an idea of the work needed for this ticket:

  * Invite users on inc

[2021-03-31 11:34] lieut-data commented on #17240
Thanks, @kaakaa! I don't think fixing the translated name is the right solution here, since the user can cause this problem by uploading a file directly vs. the drag and drop approach. (By all means, if the translation is wrong for other reasons, feel free to help fix that!)

I'll defer to our server team on the issue of legacy files uploaded as such, but we may prioritize with individual customer

[2021-03-31 13:52] Stanley-G opened #17312 "Upgrade to Desktop 4.6.2 deletes user-defined categories"
This isn't reproducible since the categories are gone. Not sure if the problem is on the server or desktop client.

[2021-03-31 14:00] amyblais commented on #17312
@Stanley-G What Mattermost server version are you on and which version did you upgrade from?
Do you see any Mattermost log errors or browser console errors?

[2021-03-31 16:54] amyblais commented on #17294
@grundleborg / @agnivade Is this something we'd accept a PR for? (or should I ping another team to take a look)

[2021-03-31 19:00] mattermod opened #17315 "Send a message when new incident member joins"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration).

Add a new setting to the automation tab in the backstage to configure a welcome message, and send the message as an ephemeral post to every new member that joins the incident.

You can take a look at other automations already implemented to get an idea of the work need

[2021-03-31 19:01] naftalimurgor commented on #17289
Hello,
I'm working on the migration

[2021-03-31 19:15] mattermod opened #17317 "Send an outgoing webhook when a status update is posted"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration).

Add a new setting to the automation tab in the backstage to configure a new outgoing webhook, and send the outgoing webhook when a new status update is posted.

This should be fairly similar to the work done in [https://github.com/mattermost/mattermost-plugin-incident-

[2021-03-31 19:15] mattermod opened #17318 "Categorize incident channel when a new incident member joins"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration).

Add a new setting to the automation tab in the backstage to automatically categorize the incident channel under the `Incident` category for every new member that joins the incident channel.

You can take a look at other automations already implemented to get an idea of

[2021-03-31 19:30] mattermod opened #17319 "Move the status update broadcast to the Automation tab"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration).

PR [https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/381](https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/381|smart-link)  introduced the ability to configure a channel to broadcast every new status update of an in

[2021-03-31 23:38] EmiSan1998 commented on #17288
Hi, I'd like to fix this issue

[2021-03-31 23:38] EmiSan1998 commented on #17287
Hi, I'd like to fix this issue

[2021-04-01 05:29] mindthecap commented on #16983
I ran into the same bug. For me, it was as simple as chown the plugins directories mattermost/bin/plugins and mattermost/client/plugins with recursion flag. Don't know when exactly the ownership changed (i did upgrade aswell).

[2021-04-01 09:24] agnivade commented on #17294
Hello @dariodsa - The observed behavior is indeed intentional and correct.

Environment variables are meant to be an override for the values in config.json. The way it works is:
- First the config file is loaded.
- The parameters passed from CLI are overridden. (We don't have any CLI parameters that map to config.json values currently).
- Then parameters from environment variables are overridden.

[2021-04-01 13:24] amyblais commented on #16983
Created a ticket for investigation: https://mattermost.atlassian.net/browse/MM-34562

[2021-04-01 14:39] lieut-data commented on #15401
Tackling this internally.

[2021-04-01 14:39] #15401 closed

[2021-04-01 16:04] Stanley-G commented on #17312
I am glad to report that the issue has been resolved. Our Mattermost server administrator had accidentally enabled the "legacy sidebar" option during the upgrade to server version 5.33.3. Now the categories are back.

[2021-04-01 16:04] #17312 closed

[2021-04-01 18:03] ylluminate commented on #15273
This is still happening in `5.33.2` consistently for multiple users for us. Can you please advise as to the steps you took to resolve this @Ndrou?

This has been plaguing us since last August.

[2021-04-01 20:20] hairmare opened #17328 "Lack of support for person_* emojis"
#### Summary
Non-binary variants of popular emojis like faceplaming are not supported.

Affects all the emojis available as `:man_*` and `:women_*`, I'm using `:person_facepalming:` as a somewhat on-topic example 😉

#### Steps to reproduce
Use non-binary emojis like 🤦

I tend to insert them via OS native keyboard but if I would pseudocode them as MM-markup I would do this:

[code]

#### Expected b

[2021-04-01 21:35] EmiSan1998 commented on #17288
I submitted a PR and it passes the checks, look here https://github.com/mattermost/mattermost-webapp/pull/7815

[2021-04-01 22:47] amyblais commented on #17328
@hmhealey Is this part of the Emoji v13.1 upgrade effort we're planning for Q2, or would this be a separate ticket?

[2021-04-02 10:16] bandisast commented on #17328
I believe these gender-neutral emojis were added in Unicode 12.1, so they should already be included in the Emoji v13.1 effort.
Loose source: https://blog.emojipedia.org/unicode-brings-forward-gender-neutral-timeline/

[2021-04-02 13:43] guillaume-perreal opened #17329 "config.json are reset to defaults when using the admin UI"
#### Summary
config.json are reset to defaults when using the admin UI

#### Steps to reproduce
With Mattermost 5.33.3, migrated from a previous 5.23 version :
Use the admin UI to modify the configuration.

#### Expected behavior
Only relevant sections of config.json should be modified.

#### Observed behavior (that appears unintentional)
Some sections of the config.json files are reset to default

[2021-04-03 05:39] majidit opened #17331 "Delivery Option"
I have an essential suggestion for future updates 💯

Add the Delivery option to let the user know if the recipient has read the message
This option has many advantages:
1) The recipient is online but has not yet read the message
2) The sender may want to edit his message before it is seen
Etc

@tbalthazar @MerlinDMC @lurcio @mauricio @cored

[2021-04-03 06:35] majidit commented on #17098
PLZ

[2021-04-03 08:00] dariodsa commented on #17294
Ok, I can understand your reasons, plus ``Mattermost`` says that in the ``Admin console`` when someone tries to edit something that comes from an environment variable.
But, it would be a nice feature for users that are working with ``Mattermost`` in the containerized environment to see which environment variables are loaded from the ``Mattermost`` side at the beginning in logs. For example with lo

[2021-04-03 14:41] yashjohar commented on #17277
Could I have a go at this?

[2021-04-03 15:55] enahum commented on #16684
I've taken this ticket

[2021-04-03 15:55] #16684 closed

[2021-04-04 16:59] agnivade commented on #17294
It would be great if you can explain the context behind this. What exactly are you trying to achieve by parsing the logs?

If you want to know what are the things that are being overridden, you already have the environment variables. If you want the final config, you can get that using the CLI.

[2021-04-04 19:22] dariodsa commented on #17294
I don't want to parse anything, I just want from logs to see that Mattermost will actually use those environment variables. For example if I misspell  some environment variable name, I would be able to see that from logs because Mattermost wouldn't use it. In case of running Mattermost in containerized environment, environment variables are most important and easiest way to alter Mattermost's sett

[2021-04-05 03:52] agnivade commented on #17294
Any reason you want to see that from only the logs and not in some other way? You can use this [API](https://api.mattermost.com/#tag/system/paths/~1config~1environment/get) to know all the config parameters that have been overridden.

[2021-04-05 04:15] majidit commented on #17331
Hello ...PLZ ...
@tbalthazar @MerlinDMC @lurcio @mauricio

[2021-04-05 07:18] jaatboys commented on #11059
Your content is excellent but I think the codeexampler website multilevel inheritance is also the best <a href="https://www.codeexampler.com/csharp-multilevel-inheritance">multilevel inheritance in c# with example</a>

[2021-04-05 07:54] dariodsa commented on #17294
I don't see any reason why Mattermost wouldn't put that information in log file. That is a worth information during Mattermost boot-up process. If it bothers you, I don't mind setting log-level of that information to ``DEBUG``.
Of course, I can later see which variables are overridden in many ways much later, but let's take one example. Imagine I am setting up database's settings in environment va

[2021-04-05 09:53] agnivade commented on #17294
Yes, I think that's reasonable. I would be okay with showing what config settings are being overridden, at a `DEBUG` level. But we cannot show the value of that variable in the logs because they might leak sensitive information.

[2021-04-05 10:34] dariodsa commented on #17294
That makes sense.
Thanks

[2021-04-05 12:15] amyblais commented on #17331
@majidit Thank you for sharing! Our feature request issue for this is here for tracking: https://mattermost.uservoice.com/forums/306457-general/suggestions/12595398-read-receipts-implement-a-visual-indication-for-m.

[2021-04-05 12:15] #17331 closed

[2021-04-05 12:19] amyblais commented on #17329
This is listed as a known issue in the [changelog](https://docs.mattermost.com/administration/changelog.html). We have a ticket here to address it: https://mattermost.atlassian.net/browse/MM-32390.

[2021-04-05 13:37] amyblais commented on #17098
If the window is in focus with the same channel open, no notification is expected. Please share this as a feature request idea here https://mattermost.uservoice.com/forums/306457-general!

[2021-04-05 13:57] vigneshashokan commented on #15538
No I'm not. Sorry about that.

[2021-04-05 19:30] mattermod opened #17336 "Provide a way for plugins to force the team sidebar to be visible"
Currently the team sidebar is hidden when the user is a member of only one team. Plugins that want to render a component here are not able to if it is hidden. Instead, the plugin must make use of the `registerLeftSidebarHeaderComponent` method at https://developers.mattermost.com/extend/plugins/webapp/reference/#registerLeftSidebarHeaderComponent.

The task here is to implement a `forceTeamSidebar

[2021-04-06 06:59] majidit commented on #17098
Thanks A lot ...
I shared this as a feature ...
https://mattermost.uservoice.com/forums/306457-general/suggestions/43078287-new-message-symbol-is-not-displayed
@amyblais

[2021-04-06 09:16] #17140 closed

[2021-04-06 11:46] runejuhl opened #17341 "Shift+arrow up only opens thread pane if input field has focus"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [x] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-04-06 13:27] hmhealey commented on #17328
Yep, this will be added with Emoji 13.0. We're currently way out of date with our emoji support (only including Emoji 4.0), and we're planning on fixing that in the next while.

FYI, @amyblais, but we're only planning on Emoji 13.0 right now instead of 13.1 since support for 13.1 is limited currently.

[2021-04-06 13:29] amyblais commented on #17228
### v5.34 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.34.0-rc1/mattermost-team-5.34.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4398/files)

[2021-04-06 17:28] rhetoricalraj commented on #17006
Can I work on this?

[2021-04-06 20:32] hmhealey commented on #15273
It can be fixed on a per-user basis by deleting all of the sidebar information from the database for each affected user. This'll delete all of one user's custom categories and any changes they may have made to other categories so that the initial Favorites/Channels/DMs categories will be recreated the next time they open Mattermost.

[code]

We unfortunately couldn't fix it for existing users auto

[2021-04-06 23:11] amyblais commented on #17341
Opened a ticket: https://mattermost.atlassian.net/browse/MM-34637

[2021-04-07 08:30] mattermod opened #17349 "Assign commander selector has wrong copy"
This is a ticket from the [Incident Collaboration](https://github.com/mattermost/mattermost-plugin-incident-collaboration/) plugin.

In the playbook backstage, under the Automation tab, the dropdown menu from the Assign commander setting says 'Invite Members'. It should read 'Assign Commander' instead.

----
If you're interested please comment here and come [join our "Contributors" community chann

[2021-04-07 09:01] mattermod opened #17351 "Improve UX in the selectors of the automation settings"
This is a ticket from the [Incident Collaboration](https://github.com/mattermost/mattermost-plugin-incident-collaboration/) plugin.

![image](https://user-images.githubusercontent.com/3924815/113841993-9114a200-9792-11eb-9b38-d68598e5a305.png)

The selectors to choose the default commander and define the announcement channel (located in the playbook edit page, under the Automation tab) have some U

[2021-04-07 09:30] mattermod opened #17352 "Fix scrolling issues in the Automation selectors"
This is a ticket from the [Incident Collaboration](https://github.com/mattermost/mattermost-plugin-incident-collaboration/) plugin.

https://user-images.githubusercontent.com/3924815/113845013-5a8c5680-9795-11eb-94e8-fe03821d1527.mp4

The selectors to invite users, choose the default commander and define the announcement channel (located in the playbook edit page, under the Automation tab) fail to

[2021-04-07 09:30] mattermod opened #17353 "Improve tab behaviour in the Automation selectors"
This is a ticket from the [Incident Collaboration](https://github.com/mattermost/mattermost-plugin-incident-collaboration/) plugin.

![image](https://user-images.githubusercontent.com/3924815/113841993-9114a200-9792-11eb-9b38-d68598e5a305.png)

The selectors to invite users, choose the default commander and define the announcement channel (located in the playbook edit page, under the Automation ta

[2021-04-07 09:42] agarciamontoro commented on #16399
Fixed in https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/474.

[2021-04-07 09:42] #16399 closed

[2021-04-07 14:14] PeterDaveHello opened #17357 "External image proxy alternatives?"
Sorry that this issue doesn't fit the original issue template.

I know that Mattermost suggests [atmos/camo](https://github.com/atmos/camo/) as external image proxy here: https://docs.mattermost.com/administration/image-proxy.html#atmos-camo-image-proxy, but looks like it's not being maintained for a few years, its dated dependency could have so many critical security issues.

Not sure if Mattermo

[2021-04-07 17:13] amyblais commented on #17341
We discussed in triage that this is currently working as expected. @runejuhl Feel free to open a feature idea here if you'd like: https://mattermost.uservoice.com/forums/306457-general.

[2021-04-07 17:24] amyblais commented on #17357
@hmhealey ^

[2021-04-07 18:01] PeterDaveHello commented on #17357
It's now archived, see:
https://github.com/atmos/camo/issues/145#issuecomment-814948294

and the mentioned alternative: https://github.com/cactus/go-camo

[2021-04-08 05:43] JoelRummel commented on #17349
First time contributor here, I'm interested in taking this.

[2021-04-08 07:52] dpanic commented on #16051
Hi @mgdelacroix any update about this?
I am also facing situation where I have 1.4GB of Posts data and 8GB Bleve indexes

[2021-04-08 08:48] runejuhl commented on #17341
Hi @amyblais

Although I respect your decision I can't help but wonder what the reasoning is here. The keyboard shortcut doesn't conflict with any other shortcuts. What often happens is that I'll chat in one thread, and close the thread pane it by hitting `ctrl+.`. When that happens focus isn't given back to the input field, requiring me to manually focus before I can hit `shift+arrow up` to open

[2021-04-08 11:55] amyblais commented on #17341
@lindy65 Can you help remind me the reason behind this being expected behaviour?

[2021-04-08 12:42] #16148 closed

[2021-04-08 13:06] hmhealey commented on #17357
Thanks for the heads up! I hadn't heard about that before now since I haven't been working with our image proxy for a while either. I don't know if we have anyone actually maintaining that right now, so I'll bring it up with the team.

As for alternatives, https://github.com/cactus/go-camo sounds like it might even work as a drop-in replacement for atmos/camo as well. I haven't tried it out yet, b

[2021-04-08 13:41] #16636 closed

[2021-04-08 16:09] lindy65 commented on #17341
Sure @amyblais :)

1. Say you're in Off-Topic channel and make a post - your cursor will be focused in the center channel of Off-Topic after making the post.
2. Then you press "Shift+up arrow" which opens the RHS to reply to the post.  Cursor is now focused in RHS comment input box. You reply to the post and cursor is still focused in RHS
3. Now you switch to Town Square in the center- cursor focu

[2021-04-09 09:13] #16798 closed

[2021-04-09 10:06] nikkilocke opened #17366 "Incorrect error message when trying to change handle via API to another one that already exists"
#### Summary
When trying to change your handle **via the api**, if you try to change it to another handle that already exists, you get the wrong error message "Unable to find the existing account to update" instead of "An account with that name already exists"

#### Steps to reproduce
Version: v5.31.1
Send a handle change request to the API like:
[code]

#### Expected behavior
Response containing

[2021-04-09 10:24] Davdinges opened #17367 "Mattermost hijacks hardware media keys"
#### Summary
As a user mattermost is hijacking hardware media keys since update 5.33.3 even when no audio or media is displayed in Mattermost entirely.

#### Steps to reproduce
As a user:
- Use two or more applications, for example Spotify and Mattermost.
- Play music/audio/media in the other application
- Use mattermost without any media in the window present (no embeds, just chat messages)
- Try

[2021-04-09 11:12] Willyfrog commented on #17341
@lindy65 that makes a lot of sense, but there still is the question if `ctrl+.`, which closes the RHS, should move the focus to the center channel?

[2021-04-09 11:26] lindy65 commented on #17341
Oh, apologies @Willyfrog!  I missed that bit as I was concentrating on responding to Amy about a conversation we'd had in Triage the day before (we hadn't chatted about the CTRL+.

I see this reproduces for me too - pressing CTRL+. closes the RHS but does not put focus back into the Write to_ field in the center panel.  Although this has always been the behaviour, it doesn't make good sense so per

[2021-04-09 13:05] amyblais commented on #17366
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-34725

[2021-04-09 13:10] amyblais commented on #17367
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-34727

[2021-04-09 13:14] amyblais commented on #17341
Opened a Story ticket: https://mattermost.atlassian.net/browse/MM-34728

[2021-04-09 14:11] bauerj opened #17370 "Authorize screen for OAuth 2.0 apps always shown when user had to login to Mattermost"
#### Summary
When users have to login for an OAuth request, the "Authorize" screen is always shown, even if it shouldn't be.

#### Steps to reproduce
1. Set up an OAuth 2.0 application (e.g. https://github.com/mattermost/mattermost-oauth2-client-sample)
2. Add it as an integration to Mattermost and set it to "trusted".
![image](https://user-images.githubusercontent.com/598790/114192746-21e3ad00-99

[2021-04-09 16:11] amyblais commented on #17370
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-34737

[2021-04-09 16:45] mattermod opened #17373 "Custom field error when creating a Jira ticket on Community"
There is a custom field error occurring when creating a Jira ticket on Community.

I could not reproduce this on my attempt to create a ticket but it did occur for another user

![](image-20210326-171143.png|width=1398,height=2020)

*Issue created from a_ [_message in Mattermost*](https://community-release.mattermost.com/core/pl/z64exsrpcjgqtxu5oyi7acxcsr).

----
If you're interested please commen

[2021-04-09 17:23] amyblais commented on #17367
@Davdinges What Mattermost desktop app version are you on?

[2021-04-09 18:31] ylluminate opened #17374 "White or light grey notification icon on teams with new messages / activity - unable to customize"
Running Mattermost EE 5.33.2 and found an odd new issue while modifying the color theme.  It appears that there is a white or light grey circle / dot on the upper right of team icons on the leftmost sidebar now.  When there is an @mention there is a count and I can define the color of the dot with "Mention Jewel BG" (`mentionBg` & `mentionBj` seem to be the same when changed via account settings),

[2021-04-09 19:14] amyblais commented on #17374
@ylluminate Can you help share reproduction steps?

[2021-04-09 19:20] ylluminate commented on #17374
Sorry, I didn't think reproduction was necessary since this seems self explanatory.

1) have 2 user accounts you can test with and that are on the same teams
2) have 1 user in another team and have the other user in another team
3) send a message (no @ mention) with the first user and watch for the dot to appear with the second user

[2021-04-09 19:25] amyblais commented on #17374
@ylluminate You mentioned that you modified the color theme. What changes did you make? What are mentionBg & mentionBj set to?

[2021-04-10 08:46] #17277 closed

[2021-04-10 20:10] Davdinges commented on #17367
I am using Desktop version 4.3.2 on a Windows 10 machine, update version
2004.

Sadly I also noticed that the issue seemingly resolved itself yesterday,
and reoccurred today. A reboot did not resolve the issue today.
I understand this makes the troubleshooting a lot harder, if I find out an
exact pattern or a way to reproduce it exactly I will update the ticket.

On Fri, 9 Apr 2021 at 19:23, Amy B

[2021-04-11 12:07] minecraftchest1 commented on #15606
This is something I would love in mattermost teams. I am actually using this in my home for playing with, and SSO is somthing I would like to do without hacks like the one mentioned above.

[2021-04-12 07:59] pradeepmurugesan commented on #16283
Hey is this still up for grabs.. Would like to give it a shot

[2021-04-12 09:32] complexanomaly commented on #15921
@lurcio Any update with this? I'm happy to take it on if not 👍🏻

[2021-04-12 12:01] arvinDarmawan commented on #17265
Hi, I am interested.

[2021-04-12 12:12] amyblais commented on #17367
@Davdinges Does this reproduce on the latest desktop app version (v4.6.2)?

[2021-04-12 13:10] #12520 closed

[2021-04-12 13:30] #16665 closed

[2021-04-12 13:32] lurcio commented on #15921
@complexanomaly Sorry, no. Life happened and I totally forgot about this. Please go for it!

[2021-04-12 20:48] amyblais commented on #17228
### v5.34 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.34.0-rc2/mattermost-team-5.34.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4398/files)

[2021-04-13 00:54] bbodenmiller opened #24687 "Support for NTLM authentication"
Needed to support numerous login providers:

https://www.electronjs.org/docs/api/session#sesallowntlmcredentialsfordomainsdomains

`session.defaultSession.allowNTLMCredentialsForDomains('*')`

[2021-04-13 09:06] majidit opened #17389 "Push notifications on Mobile"
I’m not receiving push notifications on my device ...
@tbalthazar  @MerlinDMC  @lurcio  @mauricio  @cored

I did all these steps :
https://docs.mattermost.com/mobile/mobile-testing-notifications.html

BUT ... But nothing happened ...

[2021-04-13 09:08] MerlinDMC commented on #17389
@majidit can you please not ping me in your tickets anymore? I'm not working on this project.

[2021-04-13 12:34] amyblais commented on #17389
I'll close this as a duplicate.

[2021-04-13 12:34] #17389 closed

[2021-04-13 13:51] MH42069 opened #17450 "Channel notifications are hard too see"
Channels with unread messages can be hard to see when you have a multitude of channels, expecially if you have a low-res monitor or a poor sight.

It would be really useful to have a bettere highlight method instead of just making channels with unread messages in bold font

I suggest to add an unread messages counter just like for DMs, which also makes it easier to spot, example:
![example](https:

[2021-04-13 14:18] lephisto commented on #9332
Is there any update? Unfortunately the decision for us to go E10 depends on this..

[2021-04-13 14:30] mattermod opened #17393 "Handle desktop builds outside of a git repo gracefully"
While most people would fork and build the app from there, there are cases where a pipeline might just get the zip code (either via github’s button/api or from release) to get the latest stable source code.

Our current pipeline expects it to run from a git repo (see [https://github.com/mattermost/desktop/blob/master/webpack.config.base.js#L15](https://github.com/mattermost/desktop/blob/master/web

[2021-04-13 16:14] mthaddon commented on #14957
The login provider is login.ubuntu.com.

[2021-04-13 20:30] ylluminate commented on #17374
@amyblais I tried it with defaults as well with the same result. This is the "custom" theme I'm using (Account Settings -> Display -> Copy Theme Colors):
[code]

[2021-04-13 20:47] haardikdharma10 commented on #17393
I'd like to fix this up. I think, changing `VERSION` to something like `const VERSION = process.env.VERSION || process.env.pkgver || gitVersion() || 'unknown';` will do the job as mentioned in the discussion. Let me know what do you think?

c.c @Willyfrog

[2021-04-14 00:08] amyblais commented on #17374
Ah I see, we have this ticket open that seems to match with your report: https://mattermost.atlassian.net/browse/MM-34745

[2021-04-14 00:14] ylluminate commented on #17374
Interesting, you might try to see if Unito or some other service that does offer GitHub issues + JIRA, etc. sync might be available for open source projects for free: https://unito.io/integrations/jira-github/

[2021-04-14 01:08] M-ZubairAhmed commented on #17293
i will take it

[2021-04-14 08:18] komik966 commented on #15160
`components/rhs_thread/rhs_thread.tsx` no longer uses jquery, moved to `components/threading/thread_viewer/thread_viewer.tsx` in https://github.com/mattermost/mattermost-webapp/pull/7175

[2021-04-14 08:28] Willyfrog commented on #17393
sure I think something like that will work. but keep in mind that we added the git revision because we started doing a daily build and that would help us locate where in the list of commits did that build come. So as far as it is possible we would love to have it (while trying hard not to crash)

[2021-04-14 10:31] arvinDarmawan commented on #17248
Hi, I am interested with this card. Could you assign it to me ?

[2021-04-15 06:51] DVTrast opened #17407 "Timezone <no value> in E-Mails"
#### Summary
Timezone "no value" in E-Mails instead of CEST

#### Steps to reproduce
Write a private message to a person, who is absent so that a e-mail will be generated.

#### Expected behavior
The actual timezone should be set (in our case CEST).
![Timezone](https://user-images.githubusercontent.com/61227869/114826923-5af5a480-9dc8-11eb-9670-cdd0974ab9e3.png)

#### Observed behavior (that appea

[2021-04-15 07:34] majidit opened #17408 "Froward message !!!"
my dear friends
Please resolve the message forwarding item as well
Because we need it so much...
@tbalthazar @lurcio @mauricio @cored

[2021-04-15 08:05] JoelRummel commented on #17351
I'll take a crack at this

[2021-04-15 08:17] arvinDarmawan commented on #17248
Hi, I have one question.

In code components/admin_console/reset_email_modal.jsx, in doSubmit, it call action adminResetEmail (from ''actions/admin_actions.jsx').

After I check the code adminResetEmail, it call action patchUser from "mattermost-redux/actions/users".

If I want translate reset_email_modal.jsx to typescript, can I call  action patchUser directly without going through adminResetEmai

[2021-04-15 10:44] tbalthazar commented on #17408
@majidit curious why you're pinging me on this?

[2021-04-15 12:53] amyblais commented on #17407
Opened a ticket: https://mattermost.atlassian.net/browse/MM-34886

I'm guessing this could be because of a missing translation, but I'll confirm with the team.

[2021-04-15 13:27] #17228 closed

[2021-04-15 13:54] hmhealey commented on #15160
Thanks for the heads up. I'll update the ticket description

[2021-04-15 13:56] #16718 closed

[2021-04-15 17:29] #11264 closed

[2021-04-16 01:59] ahmaddanialmohd commented on #17408
Hi, @majidit

While I noticed that you have already brought this up in the [Ask R&D](https://community.mattermost.com/core/pl/z7qmhh4jniy7pbkzqo79pi6pma) channel, I want to know what do you actually mean specifically by message forwarding. Does that mean forwarding posts to other channels while retaining the same post in the original channel or moving the post completely from one channel to anothe

[2021-04-16 02:28] NgoHuy opened #17419 "Mattermost 5.34.1 cannot start"
I upgraded mattermost to 5.34.1 but it refused to start, I cannot see any log because server mode not started.
How can I debug it with verbose log?

[2021-04-16 03:42] weeebdev opened #17420 "Error: Cannot find module 'imagemin-gifsicle'"
#### Summary
Error: Cannot find module 'imagemin-gifsicle'

#### Steps to reproduce
[code]

#### Expected behavior
Run without error

#### Observed behavior (that appears unintentional)
[code]

### Possible fixes
[code]

[2021-04-16 11:52] amyblais commented on #17419
@streamer45 @agnivade Would you be able to help?

[2021-04-16 11:56] streamer45 commented on #17419
Hi @NgoHuy,

you can set either `LogSettings.FileLevel` or `LogSettings.ConsoleLevel` to `DEBUG` in `config.json`.

[2021-04-16 13:58] NgoHuy commented on #17419
thank you very much. I found that new version cannot access to database using password. The mattermost can not read password from config file, old version is fine.
[code]

[2021-04-16 14:09] agarciamontoro commented on #17351
Thank you, @JoelRummel!

[2021-04-16 14:10] agarciamontoro commented on #17349
Thanks, @JoelRummel!

[2021-04-16 14:20] streamer45 commented on #17419
Thank you. It seems potentially related to the new migration system. Is that the only error you are getting?

[2021-04-16 14:21] NgoHuy commented on #17419
yes, I only get this error.

[2021-04-16 14:25] streamer45 commented on #17419
Alright. What database and version are you using?

[2021-04-16 14:27] NgoHuy commented on #17419
I use mariadb version: 10.3.27-0+deb10u1 from official repository.

[2021-04-16 14:29] tsabi opened #17426 "Wrong server upgrade"
I installed mattermost team edition with the official installation steps.
After i upgraded the server (using the official upgrade insturctions) to the version 5.31.2 the about page shows this:

![image](https://user-images.githubusercontent.com/210099/115037393-b3af6500-9ece-11eb-8d1d-d3db7d91d0f4.png)

When i started the new android client (V1.42) it shows an error message to upgrade to version 5

[2021-04-16 14:36] streamer45 commented on #17419
@nronas @mgdelacroix Would any of you be able to help here? This failure seems related to the newly introduced migration logic.

[2021-04-16 14:41] nronas commented on #17419
@streamer45 it seems that the problem is when we are trying to ping the database, which is not associated with the new migrations tool. We've just changed the var name from snake case to camel case on that commit https://github.com/mattermost/mattermost-server/commit/809affd6d1e5b73889cb3e34623981edd17cdfd1#diff-0ac00b8d5c25f7be41575e336cef33b3c0a75dcd7947c37c4452b660d4e71515R265

[2021-04-16 14:44] streamer45 commented on #17419
@nronas

I was thinking that `appendMultipleStatementsFlag()` might be involved since it touches the connection string.

[2021-04-16 14:51] nronas commented on #17419
@NgoHuy can you share an anonymised(without sensitive information, like a password) version of the datasource URL that you are using?

[2021-04-16 14:54] NgoHuy commented on #17419
it looks like this
"DataSource": "user:randompasswith@character@unix(/var/run/mysqld/mysqld.sock)/mattermost?charset=ut
f8mb4,utf8\u0026readTimeout=30s\u0026writeTimeout=30s",

[2021-04-16 14:59] amyblais commented on #17426
This is a [known issue listed in v5.31 changelog](https://docs.mattermost.com/administration/changelog.html#id32). It is a visual bug and has been fixed in subsequent releases,

[2021-04-16 15:00] agnivade commented on #17419
@NgoHuy - Would you be able to show us the full startup logs. There should be two log lines related to pinging the DB.

Something like:

[code]

If both fails, then it should be a genuine issue, but if one passes, and other one fails, then it's possibly something to do with `appendMultipleStatements`.

[2021-04-16 15:02] NgoHuy commented on #17419
yeah, it's here
[code]

[2021-04-16 15:02] nronas commented on #17419
So we've run the logic for `appendMultipleStatements()` and that is outputting this:

[code]

[2021-04-16 15:05] nronas commented on #17419
aha so it looks like it has to do with an `?` being present in the password field.

[2021-04-16 15:09] agnivade commented on #17419
@NgoHuy  Thanks! Just a quick test- Would you be able to try the datasource mentioned above and see if pinging the master DB fails or not? That would clarify if adding this query param is causing the issue.

But it's really strange to see an access denied error for a possibly invalid query param.

I assume MariaDB 10 supports the `multiStatements=true` query param?

[2021-04-16 15:15] nronas commented on #17419
@agnivade so actually the `url.Parse` does not returning any error when a `?` is in the password

[2021-04-16 15:33] NgoHuy commented on #17419
adding `&multiStatements=true` resulted in same error
[code]

[2021-04-16 15:33] NgoHuy commented on #17419
my password not including `?` character.

[2021-04-16 15:34] WithGJR opened #17427 "[Mattermost 5.34.1] 'mention' autocomplete does not work"
#### Summary
After upgrading to the version 5.34.1, the 'mention' autocomplete functionality is not working now.

Originally, when you type an @ symbol, an autocomplete list of members will appear. But now only @here, @channel, and @all are showing on the list. Even you have typed someone's name, you still can not see that person appears on the list.

#### Steps to reproduce
1. Upgrade to the vers

[2021-04-16 16:37] nronas commented on #17419
We are introducing a hotfix that does not `url.Parse` the datasource URL any more https://github.com/mattermost/mattermost-server/pull/17428 that should fix the issue.

[2021-04-16 16:42] amyblais commented on #17427
@WithGJR What version did you upgrade from?

[2021-04-16 16:45] WithGJR commented on #17427
@amyblais I upgraded it from the version 5.34.0 (enterprise edition)

[2021-04-16 17:03] amyblais commented on #17427
Do you use ElasticSearch and have Enable Elasticsearch for autocomplete queries enabled? (Or Bleve, and use the same?)

If the response contains entries that then don’t show up client-side, it helps pinpoint the issue client-side. Do you see any console errors at that point?

@lieut-data FYI this seems similar to https://forum.mattermost.org/t/not-all-persons-inside-a-channel-are-shown-anymore/114

[2021-04-16 17:35] WithGJR commented on #17427
@amyblais  I installed my self-hosted Mattermost using the official Docker image too. I think Bleve is used because I can see it is enable on the System Console page.

[2021-04-16 17:45] WithGJR commented on #17427
@amyblais  I disabled Bleve and it works now!

[2021-04-16 18:01] mgdelacroix commented on #17427
Hi @WithGJR! Did you have your bleve data folder mounted from the host into the docker container? If that was not the case, a possible explanation would be that updating the docker image rebuilt the container and the data was removed as it was not exported.

In that case, reindexing and enabling Bleve again after the update will fix the issue.

[2021-04-16 18:12] WithGJR commented on #17427
@mgdelacroix Yes, you are right! I didn't create a bind mount for the Bleve index directory. Thanks a lot!

[2021-04-16 18:19] mgdelacroix commented on #17427
Glad we were able to help! :relaxed:

[2021-04-16 18:19] #17427 closed

[2021-04-16 19:02] skin-soc commented on #17420
`npm install gifsicle` will resolve the issue

However, I cannot make webapp work with 5.34.1, it breaks system console once packaged and deployed...

[2021-04-16 19:23] hmhealey commented on #17420
What version of Node and NPM are you using? I had this happen a few times while I was testing upgrading to NPM v7, but it wasn't happening consistently.

[2021-04-16 20:10] tsabi commented on #17426
Dear @amyblais !
Ok, but after the android mobile app shows a warning that i use a wrong version of the server, this is not a cosmetic bug anymore.

[2021-04-16 20:13] tsabi commented on #17426
![Screenshot_20210416-221122_Mattermost](https://user-images.githubusercontent.com/210099/115079102-f38f4000-9f00-11eb-8c7c-5e72bbc52dcb.png)

[2021-04-16 20:25] amyblais commented on #17426
@tsabi What Mattermost server version does your mobile app show in "About Mattermost"?

[2021-04-16 21:22] WithGJR commented on #17427
@mgdelacroix  After reindexing finished, I found a new bug. If I type @ at a private channel, members of the channel will be listed on 'not in this channel' list.
It's not a crucial bug though.

[2021-04-16 21:37] tsabi commented on #17426
@amyblais yes it shows every time i start the app.

This is what the app shows:

![Screenshot_20210416-233548_Mattermost](https://user-images.githubusercontent.com/210099/115086482-9ef1c200-9f0c-11eb-9594-07dc8725d23b.png)

[2021-04-16 22:05] amyblais commented on #17426
@migbot @enahum @josephbaylon This may need a dot release if it's a bug ^

The reporter's server version is correct (v5.31) because there is a [known (visual) bug in v5.31 where the database schema in About Mattermost modal shows as v5.30](https://docs.mattermost.com/administration/changelog.html#id32).

[2021-04-16 22:08] enahum commented on #17426
@amyblais the bug is not the mobile app is the server reporting the wrong version!

As a work around you could update the schema version in the database I think.

[2021-04-16 23:00] gramakri commented on #17419
We had a similar issue when updating the Cloudron package.

[code]

It seems the issue is that if the mysql username starts with a number, the parsing fails. I can confirm that if the username starts with a alphabet it works. @nronas does your fix cover this case too?

[2021-04-16 23:08] Ampit commented on #17292
Can i work on it.

[2021-04-17 03:30] agnivade commented on #17419
Yes, it does cover the case. We use MySQL's native parser now.

[2021-04-17 03:32] majidit commented on #17408
Hi @ahmaddanialmohd
Yes ...
forwarding posts to other channels while retaining the same post in the original channel.

[2021-04-17 05:58] majidit opened #17432 "Separation of sent and received chats"
Hello friends
Annoying enters

One of the things that can greatly increase the beauty and efficiency of the program
Separation of sent and received messages
Like WhatsApp and Telegram messengers where the sent messages are displayed on the right and the received messages are displayed on the left
And the username is displayed on the same side

[2021-04-17 07:29] hakansa opened #17433 "[MM-35029] Improve logging during make run-server"
#### Summary
I couldn't run mattermost-server on Ubuntu 18.04. I followed the [Developer Setup](https://developers.mattermost.com/contribute/server/developer-setup/)

#### Steps to reproduce

Detailed information is below;

[code]
[code]
[code]
[code]
#### Expected behavior
Run mattermost server.
#### Observed behavior (that appears unintentional)

When I run `make run-server`, I got the following

[2021-04-17 08:10] WithGJR opened #17434 "[Bleve] Mention autocomplete for private channel does not correctly work"
#### Summary
My original issue is here: [#17427](https://github.com/mattermost/mattermost-server/issues/17427)

After reindexing finished, I found a bug.  If I type the @ symbol on a private channel and the autocomplete list pops up, members of that channel will be listed on 'not in this channel' list. This problem does not happen on public channels.

I guess current implementation of Bleve does n

[2021-04-17 10:39] komik966 commented on #15160
I'm working on this issue

[2021-04-17 12:18] amyblais commented on #17419
v5.34.2 dot release is now available,

[2021-04-17 12:18] #17419 closed

[2021-04-17 12:53] NgoHuy commented on #17419
thank the mattermost's team very much. it's fixed

[2021-04-17 13:10] weeebdev commented on #17420
Yeah, my problem was that I was using the wrong version of node. `nvm use 10.24.0` fixed it to me

[2021-04-17 13:10] #17420 closed

[2021-04-17 14:51] WorLord opened #17436 ""Unsupported server version" warning appearing erroneously on mobile app startup"
#### Summary
A recent upgrade to the iOS and Android clients make the client display the "Unsupported server version" warning on startup, requesting at least server 5.31.  We are using server 5.31.2.

#### Steps to reproduce
Use server version 5.31.2, and upgrade your mobile app to the latest.

#### Expected behavior
App starts up and does not display this warning.

#### Observed behavior (that ap

[2021-04-17 16:28] amyblais commented on #17436
@WorLord It seems that the server reporting the wrong version. Are you able to update the schema version in the database?

[2021-04-17 16:46] darkLord19 commented on #17433
It seems compilation is stuck or something so server is not started hence you can't ping.
`export GOFLAGS=-x` and then run `make run-server` and we can try to figure out why compilation is stuck.

[2021-04-17 17:57] gramakri commented on #17419
Same, can confirm issue is fixed.

[2021-04-17 18:56] hakansa commented on #17310
Can I work on this?

[2021-04-17 19:19] amyblais commented on #17434
@mgdelacroix Are you able to reproduce with Bleve?

[2021-04-17 19:21] amyblais commented on #17432
Thanks, appreciate your feedback @majidit,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2021-04-17 19:21] #17432 closed

[2021-04-17 19:21] amyblais commented on #17408
We have a Wrangler plugin that you could try out for this: https://github.com/gabrieljackson/mattermost-plugin-wrangler.

[2021-04-17 19:21] #17408 closed

[2021-04-17 22:14] M-ZubairAhmed commented on #16514
is this still open ?

[2021-04-18 04:01] majidit commented on #17408
We have installed this plugin
But it is very difficult to work with

[2021-04-18 04:12] majidit opened #17438 "Mattermost RTL plugin"
Hello to all dear friends
We use the Mattermost RTL plugin
Because we use Persian language
This plugin is very good
But how nice it would be if the user image was also displayed on the right

![Image Pasted at 2021-4-18 08-43](https://user-images.githubusercontent.com/29058805/115192229-c78ddd80-a0ff-11eb-8d32-8c15a1842a66.png)