[2019-02-27 04:59] m3phistopheles commented on #10366
I'll nab this one

[2019-02-27 06:50] ajeethkannan commented on #10154
@saturninoabril Thank you for your response. It worked, your tips for unit tests are very helpful :)

@hanzei is there any hard deadline to close this ticket. Can I push for code review before end of this week?

[2019-02-27 09:23] hanzei commented on #9718
@sudheerDev Can you please take a look at the above questions? :point_up:

[2019-02-27 09:30] hanzei commented on #10368
Hey @letsila,

Thanks for taking care of this ticket. Let me know, if you have any questions.

[2019-02-27 09:31] emresaracoglu commented on #10373
I'm going to try this. 👍

Also, I think the can actually be such a feature in admin console. What do you think?

[2019-02-27 09:43] hanzei commented on #10154
The is no deadline. Take the time you need.

Thanks for working on this. :rocket:

[2019-02-27 09:43] hanzei commented on #10366
Great, thanks @m3phistopheles! :tada:

[2019-02-27 10:16] sandlis commented on #10351
Is it okay if I give this a try?

[2019-02-27 10:31] hanzei commented on #10351
Sure @sandlis, that would be great!

[2019-02-27 10:59] saturninoabril commented on #10084
Thank you @adzimzf for your contribution!

[2019-02-27 11:02] grundleborg commented on #10371
Two things I can see here:

1. It looks like there are many messages of sub-type `thread_broadcast`. Our importer does not currently support this message type so they will not be imported. Are all the messages that are missing of this type, or are there others of different types that are failing to be imported too?

2. My German isn't great, but I'm seeing a lot of `Could not add Slack User ? to t

[2019-02-27 11:05] JayaKrishnaNamburu commented on #10362
Hi, @hanzei please correct me, if I am not clear on this, so the [file](https://github.com/mattermost/mattermost-redux/blob/master/src/constants/general.js) should be split into two sub-files depending on the use case and then files depending on these in web-app and mobile-app should be updated right?

[2019-02-27 11:14] sandlis commented on #10351
Actually I have done some investigation already.
Is this limited to panics that occur while serving requests?
If so then changing following line from

to

should make it work. Currently the issue is [handlers.RecoveryHandler](https://github.com/gorilla/handlers/blob/master/recovery.go#L89) is using `debug.PrintStack()`, which prints stack to stderr. While default behaviour is printing it to [http.

[2019-02-27 12:27] sandlis commented on #10351
If we want to do this for any panic that occurs on the server be it serving request or from running jobs we will have redirect writes to stderr to some other file. As mentioned [here](https://github.com/golang/go/issues/325), to do this we'll have to use syscall.Dup and use a package like [this](https://github.com/hpcloud/tail) to keep pushing the contents of the file to mlog.

[2019-02-27 12:44] kaizimmer1 commented on #10371
1. Not all messages are of type thread_broadcast, e.g. this one is not imported, also:
 '   {
        "client_msg_id": "80f32688-bb6c-485e-85d4-e234cc061c03",
        "type": "message",
        "text": "wir hatten gerade eine Sitzung mit ihm",
        "user": "UDCNGVBPE",
        "ts": "1547550453.052900"
    },'
2. Now i converted the users.json file from slack export with
'perl -p -i -e 's/real_

[2019-02-27 13:28] jwilander commented on #10328
@lieut-data any thoughts on the above?

[2019-02-27 13:31] hanzei commented on #10084
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2397

[2019-02-27 13:31] #10084 closed

[2019-02-27 13:51] amyblais commented on #10373
Awesome, sounds good!

Also, appreciate your feedback - would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please s

[2019-02-27 14:20] amyblais commented on #9875
The Jira ticket was closed with this note:

"This is a lot more complicated than it sounds and likely requires an entire re-architecting of how we do unread messages. This has been in the product since day 1, so I'm going to close as won't fix as it clearly isn't a priority issue or worth the mana yet."

I'll close this Issue for now until we decide to revisit this,

[2019-02-27 14:58] hmhealey commented on #10299
That link still starts with `https://mm.mm.de/api/v4/image?url=https%3A%2F%2Fmm.mm.de%3A443`, so the link is still having the proxy attached to it twice. If you edit that post to see the raw markdown, does the image link start with `https://mm.mm.de:443`?

[This logic](https://github.com/mattermost/mattermost-webapp/blob/master/utils/post_utils.jsx#L56) that checks if an image URL needs to be pass

[2019-02-27 15:06] petarov commented on #10358
Just a follow up. I have installed `v5.6.5` and this works without problems.

There is an interesting blog post about [MySQL: Specified key was too long; max key length is 767 bytes](https://wildlyinaccurate.com/mysql-specified-key-was-too-long-max-key-length-is-767-bytes/), but I don't have any hands on XP with Mattermost's source code to try to make any changes in the tables create process and s

[2019-02-27 15:32] jprusch commented on #10358
The problem is the upgrade of the DB scheme to 5.8.0
The type of the column 'description' is changed from VARCHAR(255) to TEXT on the outgoingwebhooks & incomingwebhooks table. With MySQL 5.6 this leads to some indexes using a key which is too long. The restriction is lifted with MySQL 5.7 but an upgrade now is no option for us.

[2019-02-27 15:37] crspeller commented on #10351
@sandlis Thanks for taking a look. The handler fix is a great start, feel free to put in the PR for that.
We would want panics anywhere to be redirected as well. The Dup to a file thing seems inconvenient but could work. Is it possible to just have some recover code that copies the panic to mlog? Or would that not cover all cases?

[2019-02-27 16:07] #10373 closed

[2019-02-27 16:45] sandlis commented on #10351
Recover code would work but what all piece of code would we cover? It can be huge if scope is not limited. We can miss some places or someone making new changes might miss it.

[2019-02-27 17:53] crspeller commented on #10351
Ya we would have to cover every go routine so that would probably not be great.

[2019-02-27 18:17] MartB commented on #10335
Where does the "You" even come from, its supposed to be an username in that string and not a You, so this has basically nothing to do with the server but with the improper handling in the webapp. Am i missing something?

Isnt this the place where stuff goes wrong?
https://github.com/mattermost/mattermost-webapp/blob/master/components/post_view/combined_system_message/__snapshots__/combined_system_

[2019-02-27 21:54] levb commented on #10351
After chatting with Jesse, I understand why we are doing this, and I too amsupportive of the (1-liner?) to fix the http request panic logging. 0/5 we should still be encouraging customers to capture the standard output streams when running the server process, it just seems the right discipline.

[2019-02-28 02:56] levb commented on #10324
https://github.com/mattermost/mattermost-server/pull/10360

[2019-02-28 02:56] #10324 closed

[2019-02-28 05:02] cedarice commented on #10358
Similary issuse occured while upgrade mannual. But the logs show {"level":"error","ts":1551329484.870871,"caller":"sqlstore/supplier.go:807","msg":"Failed to create index Error 1709: Index column size too large. The maximum column size is 767 bytes."}

[2019-02-28 05:44] cedarice commented on #10358
I found a solution:
For mariadb, update your *my.cnf file with following configuration,

[code]
Then, you have to restart mariadb service for updated configuration to take effect.

reference: https://stackoverflow.com/a/52778785

[2019-02-28 07:56] sandlis commented on #10351
I have sent a WIP PR with handler fix. Will do changes for logging errors and stack traces from stderr to mlog, once we get to a conclusion. As of now using `Dup` seems to be the only feasible way to do it.

[2019-02-28 13:22] biva opened #10380 "Pin Icon directly accessible"
In order to pin a message, I have to click on the 3 dots, and then 'Pin to channel'. Same for 'Unpin'.

![image](https://user-images.githubusercontent.com/9964305/53568316-eb79b800-3b61-11e9-95d5-15c498d511ef.png)

Would it be possible to have an icon to pin it directly, either next to the "Flag" icon on the left (my prefered solution, like the picture below), or next to the Emoji icon on the righ

[2019-02-28 13:27] amyblais commented on #10380
Thanks, appreciate your feedback @biva,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll

[2019-02-28 13:51] biva commented on #10380
Done here: https://mattermost.uservoice.com/forums/306457-general/suggestions/36980743-add-a-pin-icon-directly-accessible

Thanks :)

[2019-02-28 13:52] amyblais commented on #10380
Awesome, thank you!

[2019-02-28 13:52] #10380 closed

[2019-02-28 14:15] hanzei commented on #10362
@enahum Could you please provide some more guidance on this? Thanks for helping out!

[2019-02-28 14:17] enahum commented on #10362
Perhaps best to ask @jwilander as he filed the ticket.. I don't have the context for this

[2019-02-28 14:22] asaadmahmood commented on #10305
@harshilsharma63 I still have fixed that, since the different `btn-default` styling were only used in system console.
https://github.com/mattermost/mattermost-webapp/pull/2425

[2019-02-28 14:55] esethna opened #10381 "[Help Wanted] [MM-14358] UI Automation: Write an automated test using `cypress` for "Message Draft Pencil Icon visible in channel switcher""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-02-28 15:03] kelvintyb commented on #10381
Would like to pick this one up :)

[2019-02-28 15:20] cpoile commented on #10342
I'd love to take a crack at this!

[2019-02-28 15:21] saturninoabril commented on #10381
@kelvintyb Sure, thanks!

[2019-02-28 15:42] jwilander commented on #10362
I filed the ticket two years ago :P I'm not sure it's even still needed, the constants look to be pretty well split out right now. @JayaKrishnaNamburu if you want to come up with a proposal for splitting out general.js some more (or moving constants from it to other appropriate files) I'd be ok with that but I don't think we really need any big changes here

[2019-02-28 15:48] hectorskypl opened #10383 "Permissions aren't reverted after removing License"
#### Summary
Permissions aren't reverted after removing E10/E20 license.

#### Steps to reproduce

- Install Mattermost v5.6/5.7/5.8
- Obtain a Evaulation E10/E20 Mattermost License
- Install this license
- Set the system permissions
- Remove The license
- Permissions aren't reverted to state before install the license.

#### Expected behavior
Expected will be revert permission to default Team ins

[2019-02-28 17:09] saturninoabril commented on #10149
Thank you @MirlanMaksv for your contribution!

[2019-02-28 17:09] #10149 closed

[2019-02-28 18:09] amyblais commented on #9875
Reopening this as another dev team reopened the above the ticket for future consideration.

[2019-02-28 18:10] hanzei commented on #10338
Fixed with https://github.com/mattermost/mattermost-server/pull/10377

[2019-02-28 18:10] #10338 closed

[2019-02-28 18:11] hanzei commented on #10349
Fixed with https://github.com/mattermost/mattermost-server/pull/10352. Thanks @cpoile! :tada:

[2019-02-28 18:11] #10349 closed

[2019-02-28 18:26] hanzei commented on #10342
Thanks for looking into this @cpoile! :tada:

[2019-02-28 19:12] amyblais commented on #10383
Hi @hectorskypl, just to confirm, you're referring to these settings: https://docs.mattermost.com/deployment/advanced-permissions.html?

[2019-02-28 19:24] hectorskypl commented on #10383
Hi @amyblais, Yes this is it!

[2019-02-28 20:56] d28park commented on #10345
I am taking a look at this.

[2019-02-28 21:32] amyblais commented on #10343
Closing this as the above ticket has been fixed for v5.9 release (available on March 16th).

[2019-02-28 21:32] #10343 closed

[2019-02-28 22:37] thekiiingbob commented on #10322
I'd like to try and tackle this one. Can probably get to it over the weekend.

[2019-02-28 22:59] jasonblais commented on #10322
Awesome, thanks @thekiiingbob!

[2019-02-28 23:18] andrey-yantsen opened #10385 "Big selects in Interactive Dialogs aren't usable"
#### Summary
When you have a `select` element in the dialog and it's the first — you can't really use it. E.g. in the following screenshot I have an element with 3 options, but only the last one is visible (webapp or macos desktop):

![image](https://user-images.githubusercontent.com/629281/53605391-4be31680-3baf-11e9-86a0-bbc560b13e55.png)

#### Steps to reproduce
Create following dialog (go-code

[2019-02-28 23:43] amyblais commented on #10383
@hectorskypl,

For now, one of our product managers gave feedback that since permissions and roles are stored in the database, they are not changed by removing the license. She'll confirm with some of our developers and report back as soon as there's more information.

[2019-02-28 23:51] amyblais commented on #10385
Hi @andrey-yantsen,

Can you help share some quick details about your environment, such as Mattermost server version and OS version of Mac?

[2019-02-28 23:58] esethna opened #10386 "[MM-13507] Plugin framework: auto-restart plugins that crash"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-01 00:55] amyblais commented on #10119
Hi @pirtleshell,

Letting you know that you can follow the progress of this issue also via the Jira ticket I linked above. For the latest updates to the ticket you can add yourself as a watcher. To do this, click on "Start Watching This Issue" in the ticket. This way you’ll be emailed immediately when the ticket status is changed. If you have any issues accessing our Jira instance please let me kn

[2019-03-01 00:57] amyblais commented on #10244
Hi @ookull,

Letting you know that the above Jira ticket was replaced with this one: https://mattermost.atlassian.net/browse/MM-14349.

Also letting you know that you can follow the progress of this issue also via the Jira ticket I linked above. For the latest updates to the ticket you can add yourself as a watcher. To do this, click on "Start Watching This Issue" in the ticket. This way you’ll be

[2019-03-01 00:59] amyblais commented on #10273
Hi @attzonko,

Letting you know that the Jira ticket I linked above was replaced with this one: https://mattermost.atlassian.net/browse/MM-10003.

Also letting you know that you can follow the progress of this issue also via the Jira ticket I linked above. For the latest updates to the ticket you can add yourself as a watcher. To do this, click on "Start Watching This Issue" in the ticket. This wa

[2019-03-01 01:00] amyblais commented on #10303
Hi @fcorrea,

Also letting you know that you can follow the progress of this issue also via the Jira ticket I linked above. For the latest updates to the ticket you can add yourself as a watcher. To do this, click on "Start Watching This Issue" in the ticket. This way you’ll be emailed immediately when the ticket status is changed. If you have any issues accessing our Jira instance please let me k

[2019-03-01 01:03] amyblais commented on #10321
Closing this as this has been fixed for v5.9 release (to be released on March 16th).

[2019-03-01 01:03] #10321 closed

[2019-03-01 01:07] fcorrea commented on #10303
Hey @amyblais

I'm already subscribed via github so I'll just keep an eye.

[2019-03-01 03:34] mickmister commented on #10386
I'll take this one!

[2019-03-01 03:52] hanzei commented on #10345
Thanks for taking care of this @d28park! Let us know, if you have any questions.

[2019-03-01 05:56] scottleedavis commented on #9283
Nicely done @hanzei . https://github.com/matterpoll/matterpoll/pull/133

[2019-03-01 07:10] JayaKrishnaNamburu commented on #10362
Ok @jwilander i will pick up someting else from the existing issues 😄  👍

[2019-03-01 07:26] andrey-yantsen commented on #10385
Sure think, completely forgot about it, sorry. I have the MM running in a local docker (set up by your manual https://docs.mattermost.com/install/docker-local-machine.html) under macOS, here a the version details:

[code]

Google Chrome version: 72.0.3626.119.

I've just noticed, that it's not the latest version, I'll update the server today and try again.

[2019-03-01 08:10] andrey-yantsen commented on #10385
Unfortunately it's the same with the latest version:

[code]

[2019-03-01 09:13] cpanato commented on #10303
Merged the fix, will deploy asap
closing

thanks for finding the issue

[2019-03-01 09:13] #10303 closed

[2019-03-01 11:47] andrey-yantsen commented on #10385
Seems like it'll be fixed after mattermost/mattermost-webapp#2235

[2019-03-01 13:35] amyblais commented on #10383
A developer confirmed that the above is the case, so as a conclusion this is not a bug.

You can use this [CLI command](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-permissions-reset) to reset permissions settings back to Team Edition.

[2019-03-01 13:35] #10383 closed

[2019-03-01 13:59] kratan commented on #10299
Hi,
thanks for your reply: What do you mean with "if you edit that post to see the raw markdown"

looks like it worked now for new posted links, but old ones are still broken....I guess your hint with removing port from mattermost url delayed solved the problem partly...

greets

[2019-03-01 16:43] #10314 closed

[2019-03-01 17:23] esethna opened #10388 "[Help Wanted] [MM-11697] Environment variable override incorrectly saves back to config.json"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-01 17:40] hmhealey commented on #10299
I meant that if you edit the post, you'll see the exact URL that you posted. If you right click and select "copy image link", you may get a URL that has been modified by Mattermost.

Good to know it's fixed for new links when you remove the port. The reason that it doesn't work for those old links with the port is that you were likely viewing Mattermost at `https://mm.mm.de/`, but the server expec

[2019-03-01 17:47] hmhealey commented on #10299
Since it sounds like removing the port fixes the problem, I have a couple final questions. Did you enable HTTPS for Mattermost yourself or is it done automatically as part of the Docker image? And if you configured SSL for Mattermost yourself, did you follow our documentation for it?

I want to make sure that whatever steps you followed do not include stanard ports in the Site URL.

[2019-03-01 18:00] #10362 closed

[2019-03-01 18:00] jwilander commented on #10362
Closing as I don't think this is needed anymore

[2019-03-01 18:09] #10335 closed

[2019-03-01 18:43] amyblais commented on #10358
@cpanato Have you had a chance to take a look if there is an issue here on our side?

[2019-03-01 18:49] cpanato commented on #10358
I was not aware of this @amyblais
Will look

[2019-03-01 18:58] cpoile commented on #10388
I'd love to take this on!

[2019-03-01 21:06] hanzei commented on #10388
Thanks for taking care of jet another ticket, @cpoile! :rocket:

[2019-03-01 23:21] esethna opened #10392 "[MM-14384] Demo plugin: add and document interactive (ephemeral) preview capability"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-02 13:46] 7-plus-t opened #10395 "Documentation - Bulk Import Emoji Scheme Wrong"
#### Summary
Documentation for emoji bulk import scheme is flawed and causes import to hang.

#### Steps to reproduce
Go to documentation at: https://docs.mattermost.com/deployment/bulk-loading.html#emoji-object

Scheme described by documentation is as follows:
[code]

Using this scheme with the bulk import, the importer gets "stuck" and gets stuck importing the first entry.

#### Expected behavio

[2019-03-02 13:53] 7-plus-t opened #10396 "Documentation - Bulk Import - Field of User Object wrong"
### Summary
Error in bulk import documentation

#### Steps to reproduce
Go to https://docs.mattermost.com/deployment/bulk-loading.html#user-object
Field `use_military_time` is wrong, should be `military_time`.

#### Expected behavior
Documentation is correct.

#### Observed behavior (that appears unintentional)
See

#### Possible fixes
See `import_types.go`:
[code]
Fix documentation https://docs.m

[2019-03-02 17:30] M-Mueller commented on #10355
Seem like this is already fixed in 5.8, sorry for the inconvenience.

[2019-03-02 17:30] #10355 closed

[2019-03-02 20:37] jasonblais opened #10397 "Test"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-02 22:26] #10397 closed

[2019-03-02 23:46] m3phistopheles commented on #10367
claiming this one!

[2019-03-02 23:47] saturninoabril commented on #10367
Sure, thank you @m3phistopheles!

[2019-03-02 23:47] m3phistopheles commented on #10366
I accidentally confused this story with, MM-14318. Claiming that one and leaving this one up for grabs

[2019-03-02 23:48] saturninoabril commented on #10366
@m3phistopheles No worries and thanks for letting us know.

[2019-03-03 01:09] scottleedavis commented on #9283
It is probably not an ideal approach to attempt loading plugin javascript into mobile dynamically.

Having the webapp plugins in a mobile experience would be awesome though.  :)

[2019-03-03 13:24] jprusch commented on #10358
Hi,
using MySQL 5.6.40 one must make sure that:

innodb_file_format=barracuda
innodb_file_per_table=true
innodb_large_prefix=true

are set (Restart MySQL after change)

AND the row format of each table is DYNAMIC. COMPACT does NOT work.

ALTER TABLE mattermost.XYZ ROW_FORMAT = DYNAMIC

After that, 5.8 starts without problems.

[2019-03-03 20:31] esethna opened #10398 "[Help Wanted] [MM-14375] UI Automation: Flaky test on some test specs"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-03 20:49] 192-sean commented on #10398
Assign me please

[2019-03-03 20:58] saturninoabril commented on #10398
Thanks @192-sean!  We can't directly assign it to your account (as it's limited to core committers only) but sure you may take it 💯

[2019-03-03 21:13] thekiiingbob commented on #10369
I can take this one.

[2019-03-03 22:17] jasonblais commented on #10369
Thanks @thekiiingbob!

[2019-03-04 03:46] khronosschoty opened #10399 "Upgrade docs has a typo in it, in step 14"
https://docs.mattermost.com/administration/upgrade.html step 14 has a typo in it.

sudo mv client/plugins~/ mattermost/client/plugins

should read

sudo mv client/plugins~/ client/plugins

or else the example is inconsistent (or did I miss something?)

[2019-03-04 07:34] saturninoabril commented on #10274
Sure @tejasbubane, thanks!

[2019-03-04 07:35] saturninoabril commented on #10041
Sure @letsila, thanks!

[2019-03-04 09:39] sandlis commented on #10329
Is it okay if I give this a try?

[2019-03-04 10:58] hanzei commented on #10329
Surely, @sandlis, that would be awesome!

[2019-03-04 12:28] hanzei commented on #10399
Hey @khronosschoty,

Thanks for the report. Would you be open on providing a PR to fix this?

[2019-03-04 13:26] amyblais commented on #10399
@khronosschoty, also a minor note that you can open documentation related issues in the Docs project: https://github.com/mattermost/docs/issues.

[2019-03-04 13:27] amyblais commented on #10399
A PR was opened by another community member here: https://github.com/mattermost/docs/pull/2574.

[2019-03-04 13:28] amyblais commented on #10396
Hi @7-plus-t, would you be interested in opening a PR for these issues? Let me know your thoughts.

Also, in the future you can open documentation related issues in the Docs project: https://github.com/mattermost/docs/issues.

[2019-03-04 13:47] waseem18 commented on #9958
Update: Updated latest code on the repo.

Working on Installation documentation. Shouldn't take more than an hour.

[2019-03-04 14:59] amyblais commented on #10399
Closing this as the doc PR has been merged.

[2019-03-04 14:59] #10399 closed

[2019-03-04 17:06] 7-plus-t commented on #10396
Hi @amyblais,
I've opened a PR for it: https://github.com/mattermost/docs/pull/2576

[2019-03-04 17:11] jwilander commented on #10131
@manland @lieut-data did https://github.com/mattermost/desktop/pull/926 complete this, or is there other work still to be done here?

[2019-03-04 17:14] lieut-data commented on #10131
From my perspective, https://github.com/mattermost/desktop/pull/926 suffices to resolve this ticket.

[2019-03-04 17:20] #10396 closed

[2019-03-04 17:21] amyblais commented on #10396
Awesome! It's reviewed and merged. Would you also like to submit a PR for the other issue you submitted? https://github.com/mattermost/mattermost-server/issues/10395

[2019-03-04 17:45] #10131 closed

[2019-03-04 17:49] esethna opened #10402 "[MM-14400] Programmatically generate default.json"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-04 17:55] jwilander commented on #10315
https://github.com/mattermost/mattermost-mattermod/pull/22

[2019-03-04 17:55] #10315 closed

[2019-03-04 18:05] lieut-data commented on #10328
My apologies for the original write up of this ticket: it was definitely ambiguous as to the desired outcome. First, let me summarize the cases here for my own recollection:
* for `maxsize = 0`, gorp creates wildly different constraints between Postgres (unbounded TEXT) and MySQL (`VARCHAR(255)`).
* for `maxsize > 0 && maxsize < 256`, gorp correctly unifies Postgres and MySQL on a `varchar(maxsize

[2019-03-04 22:59] dwest-galois opened #10404 "config.json gets overwritten every time the Mattermost service starts or restarts"
#### Summary
config.json gets overwritten every time the Mattermost service starts or restarts

#### Steps to reproduce
I am using Puppet to control this config file, but you can also reproduce this by doing the following:
1. Shut down Mattermost
2. Copy your 'config.json' file (or '/etc/mattermost.json' in my case) to 'config_backup.json'
3. Edit the 'config_backup.json' and make a non-config aff

[2019-03-05 13:24] amyblais commented on #10372
### v5.9 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.9.0-rc1/mattermost-team-5.9.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2532/files)

[2019-03-05 15:00] amyblais commented on #10364
Hi @harshilsharma63, can you help take a look at the comments posted by ``hmhealey`` on the issue that you referenced and see if they help with this issue?

[2019-03-05 15:02] lieut-data commented on #10404
Thanks for the report, @dwest-galois. Unfortunately, this behaviour is currently by design. The Mattermost service assumes it has full write control over the configuration file, and will update it to match defaults or internal formatting as required.

I agree that it would be ideal not to write to the config.json unless a user takes some action. Moving forward, we are iterating on a solution that

[2019-03-05 15:09] 7-plus-t commented on #10396
@amyblais Will do. I actually think #10395 should be split into two separate issues.

[2019-03-05 15:14] 7-plus-t commented on #10395
Moved documentation related part of this issue to: https://github.com/mattermost/docs/issues/2579
This leaves the server part of this issue, the importer getting stuck when importing lines missing the "type" entry. I've already written a unit test reproducing the issue and will attempt to fix the importer. It is actually the case for any line missing the type, not only emojis.

[2019-03-05 15:38] cpanato commented on #10358
I did a upgrade from 5.6.0 to 5.7.0 to 5.8.0 using a unbuntu 16.04 and mysql `mysql  Ver 14.14 Distrib 5.7.25, for Linux (x86_64) using  EditLine wrapper` and i did not find any issues

[2019-03-05 16:11] esethna opened #10407 "Inline link with nested parentheses does not work"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-05 16:24] scottleedavis commented on #10407
I'd like to try this one.  Not sure I understand the problem though.

[2019-03-05 16:35] sudheerDev commented on #9718
@MirlanMaksv Hey ticket is not valid anymore as we moved that functions into another function here at https://github.com/mattermost/mattermost-webapp/pull/1984/files.  I am going to close the issue and the ticket associated with this.

Thanks for letting us know.

[2019-03-05 16:35] #9718 closed

[2019-03-05 16:49] dwest-galois commented on #10404
Okay, thank you for looking at this.  If this is the intended behavior, then I will tackle this from the puppet side of things.

[2019-03-05 16:49] #10404 closed

[2019-03-05 17:12] courtneypattison commented on #10161
I'll give it a go :)

[2019-03-05 17:17] hanzei commented on #10161
Great, thanks @courtneypattison! Let us know, if you have any questions.

[2019-03-05 17:17] nadaa commented on #10370
Hi, can I work on this?
Thanks!

[2019-03-05 17:17] hanzei commented on #10407
@amyblais Could you help defining the problem a bit more, as you created the ticket.

[2019-03-05 17:19] hanzei commented on #10370
Surely @nadaa! Thanks for working on this. Let me know, if you have questions.

[2019-03-05 17:30] esethna opened #10408 "[Help Wanted] [MM-14399] Demo plugin: add missing hooks (UserHasBeenCreated, FileWillBeUploaded)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-05 17:45] amyblais commented on #10407
It came from this community report: https://forum.mattermost.org/t/inline-link-with-nested-parentheses-does-not-work/6651. Let me know what needs to be clarified and I can ping our developers.

[2019-03-05 18:00] levb commented on #10310
FWIW, https://mattermost.atlassian.net/browse/MM-11930 and https://mattermost.atlassian.net/browse/MM-14282 have both been closed

[2019-03-05 18:03] amyblais commented on #10310
Hi @Hayyk, letting you know that the Jira ticket was closed as our developers determined that we're not going to work on this in the near future. We'll revisit this later, so I'll close this Github issue for now.

[2019-03-05 18:03] #10310 closed

[2019-03-05 18:10] esethna opened #10409 "[Help Wanted] [MM-14432] UI Automation: Write an automated test using `cypress` for "Identical Message Drafts - Autocomplete shown in each channel""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-05 18:10] levb commented on #4300
This feature can be implemented with the help of the plugin framework. If the plugin framework does not yet allow for custom file/mime type-specific previews, we should enable that functionality.

[2019-03-05 18:34] esethna opened #10410 "[Help Wanted] [MM-14246] Plugin framework: support transactional semantics with KV Store"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-05 18:40] esethna opened #10411 "[MM-11701] Webhooks: Outgoing webhooks should contain and log request ID"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-05 18:40] esethna opened #10412 "New plugin: migrate Gfycat built-in integration to a plugin"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-05 21:01] gupsho commented on #10408
I can take this.

[2019-03-05 21:34] jespino commented on #10320
Please, lets keep this on hold until my next demo. I have already solved this.

[2019-03-05 22:00] #10172 closed

[2019-03-05 22:26] onlyjob commented on #8886
When there will be a progress here??

It looks pretty bad when software _pretends_ to be _Open Source_ but really fails to comply with Open Source definition.

Is it really that hard to fix the text of the license grant??

This issue is related to #8884.

[2019-03-06 03:13] scottleedavis commented on #9283
I hereby transfer the entirety of the reminder bot to mattermost.

[2019-03-06 14:30] amyblais commented on #10219
Hi @alecisec, here are instructions on how to log in via a web browser and generate an HAR so we can verify that the appropriate requests are being forwarded: https://support.zendesk.com/hc/en-us/articles/204410413-Generating-a-HAR-file-for-troubleshooting.

[2019-03-06 15:57] nadaa commented on #10370
Hi @hanzei, I have an issue while setting up the developer machine. I am using Windows and I need some help, is there any place to post issues about installation?. Thanks!

[2019-03-06 17:08] lfbrock commented on #8886
Hi @onlyjob - would changing the text to say the following fix the issue for you?
[code]

Everyone is free to use the sofware under the AGPL license, but there is an alternative option (the commercial license) for people who would like to use the software for commercial purposes without the AGPL restrictions.

[2019-03-06 17:48] #9764 closed

[2019-03-06 19:35] scottleedavis commented on #9283
I am transferring it into the hands of friends

[2019-03-06 23:11] alecisec commented on #10219
After some troubleshooting we determined this is caused by a combination of Forcepoint and using either Chrome or Firefox, by using either Edge behind Forcepoint or any browser on a separate connection the menu items appear normally. So it appears it's related to websockets however the browsers display no error and the 'User is typing....' updates work fine so it's still something of a mystery.

[2019-03-06 23:21] sadsfae commented on #10358
I have this issue as well, similar setup as everyone else.

To confirm, every table should have its row format set to dynamic?

Thanks.

[2019-03-06 23:38] sadsfae commented on #10358
For anyone else hitting this error:

[code]

I ran this to fix things (EL7, MySQL 5.6, Mattermost Team 5.8.0)

First I modified `/etc/my.cnf` with the following from suggestions here under the `[mysqld]` section:

[code]
Then I bounced mysqld via `systemctl restart mysqld` and modified the mattermost DB schema

[code]

[2019-03-07 05:01] MirlanMaksv commented on #10156
Hey guys let me help with this issue

[2019-03-07 09:24] mismeniet commented on #7721
+1 for this. Even a possibility to disable the auto-status as it is now would be better. We use Mattermost in our company but 9 times out of 10 people are marked as away even while sitting behind their PC.

[2019-03-07 10:45] hanzei commented on #10156
Great, thanks @MirlanMaksv! :tada:

[2019-03-07 13:32] petarov commented on #10358
Thanks for the details @sadsfae. I haven' tested the `innodb_large_prefix` as other have pointed, but reading the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_large_prefix) it seems it is enabled by default in MySQL 5.7 and disabled by default in MySQL 5.6, so that explains where this comes from, to me at least.

[2019-03-07 14:12] #10292 closed

[2019-03-07 15:00] hanzei commented on #10042
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2412

[2019-03-07 15:00] #10042 closed

[2019-03-07 15:31] sudheerDev commented on #10322
Closing the issue as PR is merged.

[2019-03-07 15:31] #10322 closed

[2019-03-07 17:44] jwilander commented on #10325
Hi @kishan-1234, just checking if you've had a chance to make any progress on this?

[2019-03-07 18:02] hanzei commented on #10168
Hey @amassaro,

How is your work on this issue going? Do you have any questions?

[2019-03-07 18:04] dwest-galois commented on #10404
I just wanted to add an update to this.  This turned out to be an issue with a couple values in Hiera conflicting with a couple of values in Mattermost.  Specifically, `ServiceSettings/EnableOnlyAdminIntegrations` and `TeamSettings/EnableTeamCreation` were both getting set to `True` when Mattermost rebooted, while my hiera config had them set to `False`.   I suspect that Mattermost is controlling

[2019-03-07 18:06] amassaro commented on #10168
No questions at this time. I have been asking relevant questions to @jwilander through DM on MM.

[2019-03-07 18:19] #10339 closed

[2019-03-07 18:40] hanzei commented on #10286
Hey @gupsho,

Just wanted to check how your work on this ticket is going. Do you have any questions?

[2019-03-07 18:41] hanzei commented on #10167
Hey @frnkshin,

How is your working going? Can I help with anything?

[2019-03-07 18:47] hanzei commented on #10289
Hey @tomasmik,

Just want to check how your work on this issue is going. Can I help with anything?

[2019-03-07 19:09] fcorrea commented on #10412
I'll take this one.

[2019-03-07 20:18] mkdbns commented on #4300
@levb , we are actually in the midst of building this functionality as a plugin using [gotenberg](https://github.com/thecodingmachine/gotenberg). Generating the preview PDF is pretty straightforward within the MM Plugin Framework using server side APIs/hooks. However, we have not found a feasible means to allow the user to view the preview via plugins.

Ideally, it would behave just like the PDF p

[2019-03-07 20:36] levb commented on #4300
@crspeller @jespino opinions?

[2019-03-07 20:59] crspeller commented on #4300
@levb @mkdbns Both a client side hook for custom previews and supporting alternate filetypes for previews sound good. The client side hook might be the more general solution but could be harder on plugin authors, while the alternate filetypes keeps everything server side. I would lean towards the alternate filetypes solution but I am 1/5.

[2019-03-07 21:05] thekiiingbob commented on #10366
I can snag this one.

[2019-03-07 21:59] amyblais commented on #10305
Closing this as this has been fixed for v5.10 release (to be released on April 16th).

[2019-03-07 21:59] #10305 closed

[2019-03-07 22:14] mkdbns commented on #4300
Thanks @crspeller , I would also favor a pure server-side plugin requirement as well so that mobile apps could also take advantage of the previews. @levb @crspeller , what would the next steps on this be?

[2019-03-08 07:42] saturninoabril commented on #10366
Sure, thanks @thekiiingbob!

[2019-03-08 07:48] saturninoabril commented on #8642
Thank you @kaakaa for this great contribution!

All PRs to server, webapp and mobile were all merged.  Closing this ticket.

[2019-03-08 07:48] #8642 closed

[2019-03-08 12:49] enahum commented on #10412
Awesome @fcorrea thanks!

[2019-03-08 12:56] esethna opened #10424 "[Help Wanted] [MM-14491] If a link tooltip has a button in the tooltip, a user cannot click it because the popover will be hidden when the cursor leaves the link"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-08 13:00] jasonblais commented on #10424
@kosgrz Is looking at this one :)

[2019-03-08 14:43] sadsfae commented on #10358
Hey, good to know.  For me I also needed to convert the row format to dynamic, even with the mysqld `my.cnf` changes on 5.6 it still yielded the same error.

[2019-03-08 15:47] crspeller commented on #4300
@mkdbns If you want to take it, I can remove the up for grabs label and you can get started. Sound good?

[2019-03-08 16:19] tomasmik commented on #10289
@hanzei hey, terribly sorry had some IRL troubles. I've set up the dev environment and am planning to work on this this weekend. I will let you know about my progress.

[2019-03-08 17:13] saturninoabril commented on #10369
PR has been merged.  Thank you @thekiiingbob!

[2019-03-08 17:13] #10369 closed

[2019-03-09 07:45] gupsho commented on #10286
@hanzei Just started working on it. Will post in developer channel question I have.

[2019-03-10 02:29] kosgrz commented on #10290
I can do it!

[2019-03-10 12:42] jasonblais commented on #10290
You're fantastic, thanks @kosgrz!

[2019-03-10 18:41] nadaa commented on #10370
Do I need to update the mattermost-server/client or the mattermost-webapp?

[2019-03-10 19:51] hanzei commented on #10370
This need to be implemented in the webapp.

[2019-03-10 20:12] hanzei commented on #9597
Hey @akhilanandbv003,

How are you doing with this issue? Do you have any questions?

[2019-03-11 11:13] oliverJurgen commented on #10409
Would like to take this

[2019-03-11 11:44] jasonblais commented on #10409
Thanks @oliverJurgen!

[2019-03-11 12:47] mkdbns commented on #4300
@crspeller , yes, we can make the updates for the front-end handling of the preview. However, the backend plugin that we'll develop is being sponsored by one of your enterprise customers. While they are not opposed to opensourcing it at some point, it will take time for them to work through the legal approvals, etc. I'm only clarifying as what we deliver in the near term may not fully satisfy this

[2019-03-11 15:03] lieut-data commented on #10404
Thanks for the follow-up, @dwest-galois! Indeed, `EnableOnlyAdminIntegrations` and `EnableTeamCreation` have both been deprecated and moved into advanced permissions -- see https://docs.mattermost.com/administration/changelog.html#removed-and-deprecated-features for more details.

[2019-03-11 15:09] lieut-data commented on #9960
Hey @gharms80, can you share some details on what you're seeing. This particular fix was for `api4. updateUserAuth`, but perhaps you might be seeing another issue?

[2019-03-11 15:12] hanzei commented on #9769
Hey @vildapavlicek,

Just want to check how the work on this issue is going. Do you have any questions?

[2019-03-11 16:52] waseem18 commented on #9958
Updated README too

[2019-03-11 17:34] nadaa commented on #10370
Hi @hanzei
I did this:
run the server ``` make run```
run e2e test ```npm run cypress:open```
cypress window opens but when I click on any test. cypress closes.
I got this on the screen while running cypress "Cypress:5357): GLib-GIO-CRITICAL **: 19:26:24.859: g_dbus_proxy_new: assertion 'G_IS_DBUS_CONNECTION (connection)' failed
"
What do you suggest?

[2019-03-11 18:14] jasonblais commented on #10351
Thanks @sandlis!

[2019-03-11 18:14] #10351 closed

[2019-03-11 18:27] jasonblais commented on #10167
This has been closed by https://github.com/mattermost/mattermost-webapp-2467

@frnkshin let us know if you'd be interested taking on another introductory plugin ticket? There are a few open here: https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22Difficulty%3A+Introductory%22+label%3A%22Up+For+Grabs%22

[2019-03-11 18:29] hanzei commented on #10370
@saturninoabril Could you please help with the above question?

[2019-03-11 18:33] #10167 closed

[2019-03-11 18:36] saturninoabril commented on #10370
I haven't seen that error.  What dev OS are you using? If Ubuntu, this thread - https://github.com/cypress-io/cypress/issues/1526 - might help you.

[2019-03-11 18:50] crspeller commented on #4300
@mkdbns As long as the changes are independently useful that's fine.

[2019-03-11 19:41] graftss commented on #10411
I'm interested in taking this one. Just want to clarify - it looks like from the screenshot that the relevant logs are coming from the incoming webhook endpoint `hooks/*` - does that mean the request ID should be added to incoming webhook request logs, or to outgoing requests as in the issue title?

[2019-03-11 20:30] thekiiingbob commented on #10043
I'll take this one!

[2019-03-11 20:52] manland commented on #10342
Hi! @cpoile thanks for the key/value pair implementation.

@jasonblais @hanzei @levb do you think it's enougth or should I try to implem an array ?

For my plugin I need an array of pair of string. Or an array of channel selector. I can start with a channel selector an then add an array of them ? What do you think ?

[2019-03-11 21:31] hanzei commented on #10342
Hey @manland,

I posted my thoughts on this topic in the PR. You can find them in https://github.com/mattermost/mattermost-server/pull/10384#issuecomment-471619885. Would you mind sharing your thoughts in the PR?

[2019-03-11 21:33] hanzei commented on #10342
If you are interested in adding a new `type` for the plugin setting to select a channel, it would be highly appreciated.

[2019-03-11 23:22] akhilanandbv003 commented on #9597
Hello @hanzei . Sorry about the delay. Lately I have been really bogged down with other stuff. I think I won't be able to complete this story.Please don't mind.

[2019-03-12 02:28] jasonblais commented on #9958
This is looking great. As a last step before I'll start testing it out, would you be open to creating a release so a plugin tar.gz file appears in the GitHub releases tab? The release version can be 0.1 while we test it out.

I'm only asking because this is what community has become accustomed to.

Huge huge thanks @waseem18!

[2019-03-12 04:57] ferstar opened #10432 "Please separate the archiving channel API and leaving channel API"
I learned about this API from here: [Delete a channel](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D%2Fdelete)

It seems that both archiving channel and leaving channel are using the same API: `DELETE /channels/{channel_id}`, and this caused a problem:

I expect the APIs of these two functions(leave, archive) to be separated, thx:-)

[2019-03-12 07:47] esethna opened #10433 "[MM-14530] Render emojis in Message Attachment field titels"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-12 08:19] kampfflunder commented on #10358
That fixed it for me (Ubuntu 18.04, mariadb 10.1.38-MariaDB-0ubuntu0.18.04.1)

Make sure you put this into the `[mariadb]` section, otherwise the mysql client will complain about unknown options.

[2019-03-12 09:46] #10290 closed

[2019-03-12 12:17] hanzei commented on #10408
Fixed with https://github.com/mattermost/mattermost-plugin-demo/pull/23

[2019-03-12 12:17] #10408 closed

[2019-03-12 12:20] hanzei commented on #9597
No problem @akhilanandbv003. Still, thank you very much for looking into this and the other contribution you did. :+1:

[2019-03-12 12:32] limenleap opened #10436 "Confusing username message"
#### Summary
Some new users are getting confused with the message for the new username

#### Steps to reproduce
This is Ux issue. People are getting confused

#### Expected behavior
The English used in the hint is misleading and quite verbose. People seem to follow it "exactly" and end up with unnecessarily complex usernames

#### Observed behavior (that appears unintentional)
See the photo

####

[2019-03-12 14:02] amyblais commented on #10436
@limenleap Thank you for reporting this. @esethna Do I create a ticket for UX to improve the help text?

[2019-03-12 14:03] amyblais commented on #10432
@crspeller Should I create an improvement ticket to fix this behaviour?

[2019-03-12 14:06] amyblais commented on #10371
Hi @kaizimmer1,

If emails are not present in the Slack export archive, then placeholder values will be generated and the System Admin will need to update these manually. More details here https://docs.mattermost.com/administration/migrating.html#using-the-imported-team.

[2019-03-12 14:28] mkdbns commented on #4300
Sounds good. we'll get started on this. Thanks!

[2019-03-12 15:12] nadaa commented on #10370
@saturninoabril, yes Ubuntu. I will check that. Thank you!

[2019-03-12 15:18] esethna commented on #10299
Closing this due to inactivity. Feel free to reopen

[2019-03-12 15:18] #10299 closed

[2019-03-12 16:13] esethna opened #10437 "[Help Wanted] [MM-14548] UI Automation: Write an automated test using Cypress for "Search results Right-Hand-Side: Post a comment""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-12 17:17] crspeller commented on #10432
@ferstar Hi. They are actually two separate APIs however your regex is catching both:
Archive channel: `DELETE /api/v4/channels/{channel_id}`
Leave channel: `DELETE /api/v4/channels/{channel_id}/members/{user_id}`

[2019-03-12 17:24] amyblais commented on #10385
Closing this as the PR has been merged to master. The fix for this will be available in v5.10 release (to be released in April 16th).

[2019-03-12 17:25] amyblais commented on #10372
### v5.9 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.9.0-rc2/mattermost-team-5.9.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2532/files)

[2019-03-12 17:25] nadaa commented on #10370
This is the whole error:
Cypress:28172): GLib-GIO-CRITICAL **: 19:16:02.319: g_dbus_proxy_new: assertion 'G_IS_DBUS_CONNECTION (connection)' failed
GET /__/ 200 627.796 ms - -
GET /__cypress/runner/cypress_runner.css 200 1164.918 ms - -
GET /__cypress/runner/cypress_runner.js 200 7947.635 ms - -
GET /__cypress/runner/fonts/fontawesome-webfont.woff2?v=4.7.0 200 60.816 ms - 77160
GET /__cypress/ifra

[2019-03-12 17:26] amyblais commented on #10340
Closing this for now as we haven't received updates for a while. If the issue persists, please upgrade to the latest versions. If upgrading doesn't help, please re-open this issue and we can continue to investigate.

[2019-03-12 17:26] #10340 closed

[2019-03-12 17:28] amyblais commented on #10220
Closing this for now as there haven't been updates for a while. If the problem persists, please re-open this issue and we'll continue to investigate.

[2019-03-12 17:28] #10220 closed

[2019-03-12 17:47] nadaa commented on #10370
I found the solution here: https://stackoverflow.com/questions/22475849/node-js-what-is-enospc-error-and-how-to-solve
Thank you :)

[2019-03-12 18:00] jwilander commented on #10345
@d28park have you had a chance to make an progress on this? Feel free to let us know if you have any questions

[2019-03-12 18:28] saturninoabril commented on #10043
I'm late here but sure, thanks @thekiiingbob!

[2019-03-12 18:42] saturninoabril commented on #10370
Glad you solved it!

Would you like to contribute to our developer docs, documenting the [E2E troubleshooting](https://github.com/mattermost/mattermost-developer-documentation/blob/master/site/content/contribute/webapp/end-to-end-tests.md#troubleshooting) with your encountered error and solution?

[2019-03-12 19:50] esethna opened #10438 "Rewrite existing plugin API tests to exclusively test via actual plugin"
In [app/plugin_api_test.go](https://github.com/mattermost/mattermost-server/blob/master/app/plugin_api_test.go) (and perhaps other files), there are a variety of unit tests that are meant to exercise the [Plugin API|https://github.com/mattermost/mattermost-server/blob/master/plugin/api.go#L16]. Unfortunately, some of them only exercise the internal `app.*` methods used by the API, and not the actu

[2019-03-12 20:42] levb commented on #10438
"For help with this ticket, reach out to @crspeller or @levb"

[2019-03-12 21:20] thekiiingbob commented on #10437
I'll take this one.

[2019-03-13 06:50] saturninoabril commented on #10437
Sure and thanks @thekiiingbob 🚀

[2019-03-13 06:56] nadaa commented on #10370
@saturninoabril, Sure!

[2019-03-13 07:16] esethna opened #10440 "[Help Wanted] [MM-14572] UI Automation: Write an automated test using `cypress` for "Words that trigger mentions - Deselect channel-wide mentions""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-13 07:16] esethna opened #10441 "[Help Wanted] [MM-14571] UI Automation: Write an automated test using `cypress` for "at-mention still triggers notification if username is not listed in words that trigger mentions""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-13 07:16] esethna opened #10442 "[Help Wanted] [MM-14570] UI Automation: Write an automated test using `cypress` for "Words that trigger mentions - Deselect username""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-13 12:35] saturninoabril commented on #10043
PR merged, closing this.
Thanks @thekiiingbob!

[2019-03-13 12:35] #10043 closed

[2019-03-13 13:39] ferstar commented on #10432
@crspeller I changed my regex to `/api/v[0-9]+/channels/[0-9a-z]+$` and it worked, thanks for your reply.

[2019-03-13 13:40] #10432 closed

[2019-03-13 15:07] esethna opened #10447 "[Help Wanted] [MM-14575] Automatically serve static files for plugins"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-13 15:48] esethna opened #10448 "[Help Wanted] [MM-14576] Add p.API.GetBundlePath()"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-13 16:50] esethna opened #10449 "[Help Wanted] [MM-14577] UI Automation: Write an automated test using `cypress` for "Un-pinning and pinning a post removes and adds badge""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-13 23:40] d28park commented on #10345
@jwilander yup, I'm making some progress on this. Fixing up some bugs and will reach out in the developers channel if I get stuck

[2019-03-14 00:03] jwilander commented on #10345
Awesome, thanks @d28park

[2019-03-14 00:06] thekiiingbob commented on #10441
I'd like to take this one.

[2019-03-14 08:50] saturninoabril commented on #10409
Thanks @oliverJurgen, PR has been merged 🎉

[2019-03-14 08:50] #10409 closed

[2019-03-14 08:56] saturninoabril commented on #10366
Thanks @thekiiingbob!  PR is now merged into master.

Closing this now.

[2019-03-14 08:56] #10366 closed

[2019-03-14 09:44] hanzei commented on #10337
Hey @joshuabezaleel,

How is your work on this ticket going? Can we help with something?

[2019-03-14 09:45] #10333 closed

[2019-03-14 09:46] saturninoabril commented on #10368
Thank you @letsila!  PR is recently merged.

Closing this issue now.

[2019-03-14 09:46] #10368 closed

[2019-03-14 09:46] hanzei commented on #10319
Fixed with https://github.com/mattermost/mattermost-server/pull/10353.

Thanks @sandlis!

[2019-03-14 09:46] #10319 closed

[2019-03-14 09:46] hanzei commented on #10308
Hey @joshuabezaleel,

Are you still working on this issue? Can we help with anything?

[2019-03-14 09:47] hanzei commented on #10276
Hey @bkmgit,

How is your work on this ticket going? Can we help with anything?

[2019-03-14 09:49] hanzei commented on #10246
Hey @adzimzf,

I want to check out how are you going with this ticket. Do you have any questions?

[2019-03-14 09:50] hanzei commented on #10234
Hey @amassaro,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 09:50] hanzei commented on #10232
Hey @R-Wang97,

Do are you doing with this ticket? Do you have questions?

[2019-03-14 09:51] hanzei commented on #10153
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2387.

Thanks @MirlanMaksv! :tada:

[2019-03-14 09:51] #10153 closed

[2019-03-14 09:52] #10147 closed

[2019-03-14 09:52] hanzei commented on #10146
Hey @dmamills,
I just want to check how your work on this going. Do you have any questions?

[2019-03-14 09:52] hanzei commented on #10145
Hey @vineelya,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 09:53] hanzei commented on #10137
Fixed with https://github.com/mattermost/mattermost-server/pull/10272.

Thanks @BK1603 for the contribution! :rocket:

[2019-03-14 09:53] #10137 closed

[2019-03-14 09:54] hanzei commented on #10132
Fixed with https://github.com/mattermost/mattermost-server/pull/10261.

Thank you very much to @sandlis for this awesome contribution!

[2019-03-14 09:54] #10132 closed

[2019-03-14 09:55] hanzei commented on #10040
Hey @sapnasivakumar,

How is your work on this ticket going? Can I help with anything?

[2019-03-14 09:56] #9949 closed

[2019-03-14 09:57] hanzei commented on #9762
Making this one available for the public again due to inactivity.

[2019-03-14 09:58] hanzei commented on #9544
Hey @fcorrea,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 09:58] hanzei commented on #9507
Hey @steveperjesi,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 09:59] hanzei commented on #9406
Making this one available for the public again due to inactivity.

[2019-03-14 10:00] hanzei commented on #8942
Making this one available for the public again due to inactivity.

[2019-03-14 10:00] hanzei commented on #8566
Hey @lalitha94,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 10:01] hanzei commented on #8483
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2358

[2019-03-14 10:01] #8483 closed

[2019-03-14 10:01] hanzei commented on #8464
Making this one available for the public again due to inactivity.

[2019-03-14 10:01] hanzei commented on #7811
Making this one available for the public again due to inactivity.

[2019-03-14 10:02] hanzei commented on #6962
Hey @pradeepmurugesan,

Just want to check out if you had the time to work on this?

[2019-03-14 10:04] hanzei commented on #10398
Hey @192-sean,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 10:04] hanzei commented on #10274
Hey @tejasbubane,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 10:05] hanzei commented on #10041
Hey @letsila,

I just want to check how your work on this going. Do you have any questions?

[2019-03-14 10:07] hanzei commented on #10386
Hey @mickmister,

How is your work on this ticket going? Do you have a proposal to share in ~Developers-Toolkit?

[2019-03-14 10:57] letsila commented on #10041
Hi @hanzei, I am still on it.

[2019-03-14 10:58] hanzei commented on #10041
Thanks for the update :+1:. Looking forward to your PR!

[2019-03-14 11:09] oliverJurgen commented on #10449
Would like to take this

[2019-03-14 11:11] saturninoabril commented on #10449
Sure, thanks @oliverJurgen!

[2019-03-14 12:24] amyblais commented on #10436
Hi @limenleap, letting you know that I've opened a ticket for our UX team here: https://mattermost.atlassian.net/browse/MM-14583.

[2019-03-14 14:32] mickmister commented on #10386
Hi @hanzei,

I have good progress on the ticket. I'll have my POC implementation to share with the team this weekend. I look forward to the discussion on it. Thanks for following up!

[2019-03-14 16:05] fcorrea commented on #9544
Hey @hanzei! Actually, this is almost merged https://github.com/mattermost/mattermost-server/pull/10421

[2019-03-14 17:41] #10437 closed

[2019-03-14 17:42] saturninoabril commented on #10437
Thank you @thekiiingbob.  PR has been merged recently.

[2019-03-14 18:00] R-Wang97 commented on #10232
Hey @hanzei, I've been busy recently, so I haven't had much of a chance to look at it. Could somebody else take over for me?

[2019-03-14 19:34] steveperjesi commented on #9507
Hi @hanzei I have all but the testing ready and it's been sitting in my dev. If my planets align tomorrow or Saturday, I'll put a PR so we can all take a look.

[2019-03-14 20:29] amyblais commented on #10372
### v5.9 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.9.0-rc3/mattermost-team-5.9.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2532/files)

[2019-03-14 21:09] jasonblais commented on #10232
Certainly, no worries @R-Wang97! I'll add the `Up for Grabs` label back.

[2019-03-14 22:13] sapnasivakumar commented on #10040
@hanzei I'm working on it and will send a PR tomorrow

[2019-03-14 23:43] mickmister opened #10454 "[MM-14591] Allow profile popover to close itself when opened through an @ mention"
#### Summary
When the user opens the profile popover through clicking an "@ mention", the popover is not given a hide() prop to programmatically close itself.

#### Steps to reproduce
Version: community server - master.663.e94faea

1.  "@ mention" yourself, then click on the mention
2. Click on "Edit Account Settings"
3. Modal should pop up, but profile popover will stay open

#### Expected behavi

[2019-03-15 02:44] xiaotuanyu120 commented on #7836
How is the feature going? I meet this problem too.

[2019-03-15 05:04] adzimzf commented on #10246
Hi, @hanzei.
There's no any questions. Sorry for delay, I just went home from long holiday.
But the PR is almost done, just need a few changes to fix.
I'll push it asap.

[2019-03-15 07:24] bkmgit commented on #10276
Still working on this. Thanks for checking.

[2019-03-15 07:31] Bart76 commented on #1838
Getting the blue bar with "Preview Mode: Email notifications have not been configured" too in Mattermost 4.1.x and 4.2.0.
Account Settings -> Notifications -> Email notifications shows "Email notifications are not enabled".
Clicking the "Edit" link shows "Email notifications have not been enabled by your System Administrator."
That's fine. I don't want e-mail notifications.

Please... just remove

[2019-03-15 08:06] hanzei commented on #10276
Great, thanks for the heads up!

[2019-03-15 08:15] hanzei commented on #9544
Got it. I've linked your PR to this issue. Hence it will be auto closed when your PR gets merged.

[2019-03-15 08:18] hanzei commented on #10246
Thanks for the heads up! Looking forward to your Pr. :+1:

[2019-03-15 08:19] hanzei commented on #10040
Great, thanks for the heads up @sapnasivakumar!

[2019-03-15 08:19] hanzei commented on #9507
Hey @stephenkiers,

Thanks for the update. Looking forward to your PR! :rocket:

[2019-03-15 14:31] lfbrock commented on #1838
Hi @Bart76 - we do have a setting for this now: https://docs.mattermost.com/administration/config-settings.html#enable-preview-mode-banner

Hope that helps!

[2019-03-15 14:51] amassaro commented on #10234
During the initial confusion of the description discussed above, I had completed the other cypress test, the transitioned to https://github.com/mattermost/mattermost-server/issues/10168. I am still working towards a solution on that one atm. If we need to hand this back off to someone to keep the e2e moving that is fine with me.

[2019-03-15 15:28] #9544 closed

[2019-03-15 18:14] jasonblais opened #10457 "Mattermost Plugin Bounty Program"
## Mattermost Plugin Bounty Program

Mattermost has launched a plugin bounty program to work with our integrations community to create highly-requested plugins.

The bounty per plugin ranges from $1,000 to $2,000. The period for submissions is March 16 - May 16, 2019.

If you’re interested joining the program,
- Sign in to https://community.mattermost.com, join the Contributors team and direct mes

[2019-03-15 18:58] granovsky commented on #7721
Hey!
Hopefully fixed the issue. PRs:
https://github.com/mattermost/desktop/pull/949
https://github.com/mattermost/mattermost-webapp/pull/2512
https://github.com/mattermost/mattermost-server/pull/10458

[2019-03-15 20:31] saturninoabril commented on #9156
I just noticed this issue was closed automatically by Github after I merged PR on the webapp.  I'm reopening so we can track the remaining PR for mobile app.

[2019-03-15 22:56] #10372 closed

[2019-03-16 04:43] harshilsharma63 commented on #10386
Sometimes only the server component of the plugin crashes while the webapp part keeps running. Would we restart the plugin if either of them crashed?

[2019-03-16 17:31] esethna opened #10460 "Add password type for Interactive Dialogs"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-16 21:46] 192-sean commented on #10398
Hey sorry unsubscribe me to this one. I've been too busy.

[2019-03-16 22:00] saturninoabril commented on #10398
Thanks @192-sean for the update and no worries.  I'll take this one.

[2019-03-16 22:00] #10398 closed

[2019-03-16 23:38] kosgrz commented on #10457
I started working on the Skype for Business plugin :).

[2019-03-17 14:04] kristapsdravnieks opened #10461 "signup_email page tooltip wrong position"
#### Summary
On the signup page tooltit displayed for username field

I believe it is ment to be placed under password field
containing

[2019-03-17 15:07] waseem18 commented on #9958
I've updated the code and tagged a release (as a pre-release). I've added the installation instructions in the README as this plugin requires Google OAuth credentials.

At this point the plugin enables users to use the command `/google-calendar connect` to connect their Calendar to Mattermost which will send a message 10 min prior to the event.

I'll be really glad if someone can help me with revi

[2019-03-17 15:15] hanzei commented on #9958
Hey @waseem18,

If you open a PR that I can review, I'm more then happy to help.

[2019-03-17 17:52] jasonblais commented on #9958
@hanzei What do you mean by a PR? The plugin repo can be found here https://github.com/waseem18/mattermost-plugin-google-calendar

[2019-03-18 02:55] Ryonez opened #10463 "Expanding response_type functions for webhooks."
I'm making 2 requests to expand webhook functions.

1: At the moment, the "comment" value for response_type will only trigger for the triggering message, even if that message is part of a thread. Maybe a value of "thread" can tell it to reply in the thread rather than creating another thread just to respond to the trigger message.

2: To allow incoming webhooks to use response_type. I'm looking at

[2019-03-18 05:57] hanzei commented on #9958
Sorry, I was ambiguous.

GitHub Pull Request make it very convenient to request changes and discuss code. Hence I ask you to open a PR that contains any code. You can do this by:
1. Moving all your code from `master` into a difference branch and then submitting a PR to merge it back into `master`. This would be the more clean way.
2. Create a new branch where you delete a code and open a PR for th

[2019-03-18 05:58] waseem18 commented on #9958
I think it's a good idea. I'll move the code to `dev` branch and will draft a PR to `master` branch.

[2019-03-18 09:26] esethna opened #10464 "Add bool (boolean) type for Interactive Dialogs"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-18 10:31] hanzei commented on #10234
There is no time pressure on this ticket @amassaro. Just wanted to check how you are doing.

[2019-03-18 10:48] hanzei commented on #10448
I will take care of this one.

[2019-03-18 11:57] chetanyakan commented on #4300
@crspeller @mkdbns Continuing our conversation from the call, we will be going forward with creating a webapp component to override file previews. This will work as follows:

- Create a Plugin webapp component to override file preview for given `file_info` and `post`. It takes 2 arguements, _handler_ and _component_:
[code]
- The **handler** function takes `file_info` and `post` as arguments and r

[2019-03-18 12:42] amyblais commented on #10461
Hi @kristapsdravnieks,

Thank you for reporting this,

This is currently expected but is being addressed via this ticket: https://mattermost.atlassian.net/browse/MM-14583.

Closing as duplicate of https://github.com/mattermost/mattermost-server/issues/10436. I'll ask our team if this is a UX issue or whether the help text is actually in the wrong place.

[2019-03-18 12:42] #10461 closed

[2019-03-18 12:48] esethna opened #10465 "Add radio type in Interactive Dialogs"
Interactive Dialogs allow integrations to receive some form-styled input from users and have that input submitted back to the integration. An Interactive Dialog consists of a list of elements. These elements have a defined type such as `text` or `select`.

This ticket is about adding a `radio` type for Dialog elements. Setting this type for an element should render a list of radio button options t

[2019-03-18 17:31] thekiiingbob commented on #10442
I'll take this one since I just worked on the other at-mention/notification work.

[2019-03-18 17:31] thekiiingbob commented on #10440
I'll take this one as well.

[2019-03-18 17:43] levb commented on #4300
I think that this custom preview capability is useful, but I thought we decided to focus on a server-side convert-to-PDF? Am I confused?

[2019-03-18 18:25] crspeller commented on #4300
@chengkun Sounds like a good direction.

[2019-03-18 18:46] amyblais commented on #10364
Hi @harshilsharma63,

We just released v5.8.1 dot release and v5.9.0 release which include fixes around image proxy. Can you help upgrade to either version and see if that helps with your issue?

More details in important upgrade notes: https://docs.mattermost.com/administration/important-upgrade-notes.html.

[2019-03-18 21:02] rocketnova opened #10467 "Searching for users in admin user listing doesn't search by nickname or partial usernames"
#### Summary
When viewing /admin_console/users as a system admin, the user listing displays each user's username, email, first name, last name, and nickname. This makes it seem like all these fields should be searchable in the "Search users" search field. But when you search by nickname or a partial username, you get "No users found".

#### Steps to reproduce
Nickname:
1. Register a user and add a

[2019-03-18 22:01] #10448 closed

[2019-03-18 22:21] Ryonez commented on #10119
Wait, this is a thing? Holy crap...

[2019-03-19 04:25] happygaijin commented on #10447
I put some code together for this. I still need to test some things though.

[2019-03-19 07:45] chetanyakan commented on #4300
@levb We had discussed this approach with @crspeller over a call and decided on it to make it to v5.10 release.

P.S. @crspeller It seems you have tagged someone else.

[2019-03-19 09:10] esethna opened #10470 "Write an automated test using `cypress` for "Remove Team Icon""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-19 09:15] esethna opened #10471 "[Help Wanted] [MM-14633] UI Automation: Write an automated test using `cypress` for "Leave all teams""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-19 09:24] esethna opened #10472 "[Help Wanted] [MM-14634] UI Automation: Write an automated test using `cypress` for "Email address already exists""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-19 09:28] esethna opened #10473 "[Help Wanted] [MM-14635] UI Automation: Write an automated test using `cypress` for "Channel name already exists""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-19 09:33] esethna opened #10474 "[Help Wanted] [MM-14636] UI Automation: Write an automated test using `cypress` for "System Messages wrap properly""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-19 11:01] reflog commented on #10438
I'll take this one!

[2019-03-19 12:26] jasonblais commented on #10447
Thank you! Removed `Up For Grabs` label for now

[2019-03-19 12:58] amyblais commented on #10463
Hi @Ryonez,

Thank you for reporting this. I'll ask our team about this and I'll let you know.

[2019-03-19 12:59] amyblais commented on #10467
Hi @rocketnova,

Thank you for reporting this. I'll ask our team what the expected is in this case and I'll let you know.

[2019-03-19 15:08] andrewbrown00 commented on #10436
Hi @limenleap, I'm Andrew, I'm on the Product & UX team at Mattermost. I was wondering if you have time to jump on a Zoom call (~10 minutes) to provide feedback around the proposed changes to the helper text when creating a username.

[2019-03-19 17:19] courtneypattison commented on #10161
After looking into this issue for a couple of weeks, I haven't found a way to implement it. There's a [an example](https://github.com/facebook/react-native/blob/master/RNTester/js/InputAccessoryViewExample.js) in the React Native repo that is very close to this functionality, but it is not keyboard avoiding. I contacted the author of the example to ask if he knew how to make it keyboard avoiding a

[2019-03-19 18:02] oljw commented on #8797
Hello,
I'd like to try this issue if I could!
Thank you!

[2019-03-19 19:05] #10329 closed

[2019-03-19 23:48] happygaijin commented on #10447
https://github.com/mattermost/mattermost-server/pull/10476
https://github.com/mattermost/mattermost-plugin-sample/pull/33
https://github.com/mattermost/mattermost-plugin-demo/pull/24

[2019-03-20 00:07] harshilsharma63 commented on #10364
@amyblais I'm running from Mattermost locally directly off `release-5.9` branch and this still occurs for me.

[2019-03-20 08:25] #10441 closed

[2019-03-20 08:38] saturninoabril commented on #10442
Thanks @thekiiingbob 🚀

[2019-03-20 08:39] saturninoabril commented on #10440
Sure, thanks @thekiiingbob!

[2019-03-20 09:52] saturninoabril commented on #10041
Thanks @letsila for your awesome contribution!

PR has been merged.  Closing this now.

[2019-03-20 09:52] #10041 closed

[2019-03-20 11:01] saturninoabril commented on #10323
Thank you @d28park for your contribution!

PR has been merged. Closing this ticket now.

[2019-03-20 11:01] #10323 closed

[2019-03-20 13:27] amyblais commented on #10064
Hi @somenet,

Closing this issue for now as this has been fixed on master and for the upcoming v5.10 server release (to be released in April 16th),

[2019-03-20 13:27] #10064 closed

[2019-03-20 14:29] fcorrea commented on #10412
Hi there! I have a couple of questions regarding this one.

1) Do we want to keep the same/current integration that's already in place in the `emoji_picker`? Checking the picker tabs, `gfycat` seems to be hardcoded and gated with a check if it should be enabled or not. I'm probably wrong but I'm thinking that in order to allow the same integration, the registry would have to grow a new method to a

[2019-03-20 14:32] hanzei commented on #10313
Fixed with https://github.com/mattermost/mattermost-kubernetes/pull/62

Thanks @stylianosrigas

[2019-03-20 14:33] #10313 closed

[2019-03-20 14:36] hanzei commented on #9771
Making this one available for the public again due to inactivity.

[2019-03-20 14:37] hanzei commented on #9758
Hey @kmandagie,

I just want to check how your work on this going. Do you have any questions?

[2019-03-20 14:39] hanzei commented on #10325
Making this one available for the public again due to inactivity.

[2019-03-20 14:40] hanzei commented on #10289
Hey @tomasmik,

Checking in again: Did you successfully set up your dev environment?

[2019-03-20 14:41] #10424 closed

[2019-03-20 14:42] hanzei commented on #9769
Making this one available for the public again due to inactivity. Let me know if you still want to work on this @vildapavlicek!

[2019-03-20 14:43] hanzei commented on #10337
Making this one available for the public again due to inactivity. Let me know if you still want to work on this @joshuabezaleel!

[2019-03-20 14:47] kmandagie commented on #9758
Hey @hanzei, I follow the JIRA still not update. still not received the logo
is it I get from chat or JIRA?
Maybe I will ask again in the channel

[2019-03-20 14:49] hanzei commented on #9758
Thanks for the update @kmandagie. I will make sure you get a reply.

[2019-03-20 15:27] asaadmahmood commented on #9758
@kmandagie Uploaded the beta logo as well, see if that works.

[2019-03-20 16:44] esethna opened #10481 "[MM-14672] UI Automation: Write an automated test using `cypress` for "Search "in:[username]" returns results in DMs""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-20 16:44] esethna opened #10482 "Write an automated test using `cypress` for "Search "in:[username]" returns results in GMs""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-20 17:14] JerryFireman commented on #10411
Created PR #10484 which resolves this issue. Please review and provide feedback when you have time.

[2019-03-20 17:54] amyblais commented on #10467
Hi @rocketnova,

I just tested this and actually I'm not able to reproduce it. What Mattermost server version are you on?

Also, the second example is expected because usernames containing a dash or dot do not return search results depending on which database you're on. https://docs.mattermost.com/help/getting-started/searching.html

[2019-03-20 18:00] amyblais commented on #10463
Hi @Ryonez,

Would you be open to sharing these ideas in the feature request forum: https://mattermost.uservoice.com/forums/306457-general?

Also, this could be achievable by using plugins - here are instructions on how to use them: https://developers.mattermost.com/extend/plugins/.

[2019-03-20 18:13] fcorrea commented on #10412
A bit more on this as I go.
While fixing the import paths, I've noticed the component is importing `webapp` code and I'm not sure how to address this.
For certain components like svg ones, I guess it's fine to duplicate OR, maybe, it should be pushed to a library that could be pulled by plugins, say, `mattermost-svg`.
There are other things like `localized_input` which gfycat is also pulling from

[2019-03-20 21:33] #10454 closed

[2019-03-20 22:34] Ryonez commented on #10463
I don't mind, but I'll have to do so a bit later.

And while I'm not against making things for a platform, even if I'd suck at it, there's still something that's preventing me from making that decision to switch to Mattermost. And that is that there's no user permission systems for the Team edition. For me that's a must, and if I can't achieve control over users deleting/archiving post, or even fr

[2019-03-21 00:04] amyblais commented on #10395
Hi @7-plus-t, you mentioned that you were attempting to find a fix for this issue that you found. Have you had luck so far with that and let me know if we can help with anything?

[2019-03-21 13:57] saturninoabril commented on #10381
Thank you @kelvintyb for your contribution 💯

PR has been merged.  Closing this now.

[2019-03-21 13:57] #10381 closed

[2019-03-21 14:15] 7-plus-t commented on #10395
Hi @amyblais, I've written a unit test that fails. I've also written a fix that makes the unit test pass, but is not ready for a PR yet:
I'm not sure if the bulk loading should simply skip the lines without type attribute or fail with a parsing error. What do you think?

[2019-03-21 15:53] duijf opened #10488 "Disable telemetry by default"
#### Summary

Telemetry and user tracking is enabled by default.

#### Steps to reproduce

1. Install Mattermost

#### Expected behavior

Mattermost does not send tracking information to third party providers by default. Crash reporting is opt-in.

#### Observed behavior (that appears unintentional)

Mattermost sends tracking information to third parties by default.

#### Possible fixes

Please ch

[2019-03-21 17:03] amyblais commented on #10488
Hi @duijf,

This documentation outlines the reasons it's enabled and what data is collected: https://docs.mattermost.com/administration/telemetry.html.

Let us know if you have any further questions.

[2019-03-21 17:08] amyblais commented on #10395
@grundleborg do you know the answer to the above question ^ ?

[2019-03-21 21:12] checkaayush commented on #10325
Hey @hanzei, I'd like to give this a shot!

I'll need some pointers to get started though. I'm thinking on the lines of something which uses:
[code]
I'm not sure of a clean way to add this along with the header check across endpoints.

[2019-03-21 21:28] checkaayush commented on #9769
Hey @hanzei, I'd like to pick this up.

[2019-03-21 21:56] DHaussermann commented on #10364
Hi @harshilsharma63 I'm not seeing this issue. I just want to make sure I understand the problem.

- Does the profile image fail to render anywhere else and in the app and does it display as expected when you hit it in a new browser tab?
- Are you seeing this issue with any other images when you put them in the in-line markdown in this way?

[2019-03-21 22:11] hanzei commented on #10325
Awesome, thanks for taking care of this @checkaayush!

@jwilander Would you please take look at the above question?

[2019-03-21 22:13] hanzei commented on #9769
Thanks @checkaayush. Let me know, if you have questions.

[2019-03-22 01:18] rocketnova commented on #10467
Hi @amyblais,

Thanks for looking into this. I'm running Mattermost server 5.9.0. I've gone back and done some more testing and it looks like I can find users in the admin console if I search nicknames starting with the left most characters of the nickname. If the nickname has a space, I cannot search by the second word. For instance: nickname `Ada Lovelace` is only searchable by `A`, `Ad`, `Ada`,

[2019-03-22 02:37] JVasky commented on #9597
Can I have a crack at it?

[2019-03-22 04:10] kmandagie commented on #9758
Create PR mattermost/mattermost-mobile#2663 if you have time you can review that thank you

[2019-03-22 05:45] hanzei commented on #9597
Surely @JVasky, go ahead! :tada:

[2019-03-22 07:11] checkaayush commented on #9769
**Assumption:**

In `webhook move newteam oldteam:w16zb5tu3n1zkqo18goqry1je`, `newteam` and `oldteam` are team names and the last part is the `webhookId`.

**Initial thoughts:**

1. Use `GetTeamByName` to fetch the new team by its name.
2. Use `GetOutgoingWebhook` to fetch webhook with given webhookId.
3. Use `CreateOutgoingWebhook` with newteam's id in the fetched webhook.
4. Use `DeleteOutgoingW

[2019-03-22 08:06] hanzei commented on #9769
That's correct.

One pitfall I want to make your aware of, is that there are two types to webhook: outgoing and incoming. You need to check for both of the types. But since IDs are unique, this isn't a problem.
I propose to move the logic inside a `(a *App) MoveWebhook` method in `app/webhook.go`.

Glad you like it! If you have more feedback about the community process, I would love it hear it. (N

[2019-03-22 08:06] hanzei commented on #9769
@wiersgallak Could you please take a look at this questions?

[2019-03-22 08:19] checkaayush commented on #9769
Here's the progress till now: https://github.com/checkaayush/mattermost-server/commit/b8e79cda5c83264cc799aaa68bfd860c0348f12b.

**Next steps:**

1. Cater to incoming webhooks as well and move the logic inside a `(a *App) MoveWebhook` method in `app/webhook.go`, as suggested by hanzei.
2. Add tests.

[2019-03-22 08:30] hanzei commented on #9769
I would suggest to open a WIP PR to get feedback as soon as possible.

[2019-03-22 09:13] saturninoabril commented on #10040
Hello @sapnasivakumar, I've updated the test steps and verification.  Thanks for asking on the purpose of the original ticket that led us to realize that it's incomplete.

[2019-03-22 09:43] grundleborg commented on #10395
If the line is missing the type it should fail with a parsing error.

[2019-03-22 10:40] checkaayush commented on #9769
Almost every method inside `app/webhook.go` is specific to either an incoming or an outgoing webhook. So in order to maintain consistency, I propose addition of 2 new methods:  `MoveIncomingWebhook` and `MoveOutgoingWebhook`.

To decide which method to call for a given webhookId, I'll call `GetIOutgoingWebhook` first from the command function, and if none exists with the webhookId, I'll call `GetI

[2019-03-22 10:53] hanzei commented on #9769
@checkaayush That's a fine approach :+1:

[2019-03-22 12:29] jwilander commented on #10325
Hi @checkaayush, that could work but I'd suggest taking a look at https://github.com/NYTimes/gziphandler. We use that for creating handlers for gzipping some static files here https://github.com/mattermost/mattermost-server/blob/master/web/static.go#L41 and we could probably do something similar for the REST API

If you want to discuss it further, feel free to ping me in [our "Developers" communit

[2019-03-22 14:13] giwrgosdi commented on #7519
Seems like an old issue, is this still open ?

[2019-03-22 14:36] amyblais commented on #10467
Hi @rocketnova,

Sounds good, agree that there is a problem with the partial username or nickname not working. We have an epic open here to investigate various issues with Search: https://mattermost.atlassian.net/browse/MM-5466.

These two ticket seem most relevant to the issue you are experiencing:
 - https://mattermost.atlassian.net/browse/MM-8423
 - https://mattermost.atlassian.net/browse/MM-79

[2019-03-22 17:06] #9156 closed

[2019-03-22 21:10] giorgosdi commented on #8942
I'd like to give it a go if no one is working on it 😃

[2019-03-22 21:26] hanzei commented on #8942
Go :drum: ahead, thanks for looking into this @girishso. :+1:

[2019-03-23 04:28] checkaayush commented on #9769
As I understand, moving incoming webhook to another team doesn't seem to be the same as moving an outgoing webhook (CreatIncomingWebhookForChannel exists but CreateIncomingWebhook doesn't). Also, the cli interaction `webhook move` doesn't clarify whether an incoming webhook is being moved to another channel or to another team.

[2019-03-23 05:17] checkaayush commented on #10457
@jasonblais Quick questions:

1. For Cisco WebEx Meetings Server, there doesn't seem to be an API for supporting the on-prem version. See [this](https://community.cisco.com/t5/cloud-collaboration/cwms-onprem-apis/td-p/3517534). How should that part be handled?

2. For Skype for Business, I looked at [this](https://docs.microsoft.com/en-us/skype-sdk/trusted-application-api/docs/overview) for the AP

[2019-03-23 06:32] checkaayush commented on #10457
I'm starting work on the Gitlab plugin.

[2019-03-24 08:32] limenleap opened #10491 "Embed Mattermost in iframe"
Documentation here https://docs.mattermost.com/integrations/embedding.html does not seem to work

Kindly point to the correct documentation on how to embed the community version of Mattermost. I have installed 5.8

Thanks

[2019-03-24 15:46] reflog commented on #10474
I'll take this one!

[2019-03-24 16:33] hanzei commented on #10474
Thanks @reflog!

[2019-03-24 17:22] giorgosdi commented on #8942
@hanzei I assume you mean me 😂

I created a pull request which is very much still in progress, but it's a good way to track changes.

https://github.com/mattermost/mattermost-server/pull/10492

if you want, have a look and comment on any discrepancies that you spot.

Thanks

[2019-03-25 10:07] reflog commented on #10402
I'll take this one

[2019-03-25 11:03] hanzei commented on #10402
Thanks @reflog!

[2019-03-25 11:23] hanzei commented on #9769
There is a method called `https://github.com/mattermost/mattermost-server/blob/master/app/webhook.go#L307-L331` which you can use.

That's a good catch. I suppose it should move to different team and a different channel. @wiersgallak Could you help clarify this?

[2019-03-25 12:22] checkaayush commented on #9769
@hanzei Doesn't moving to a new team by default imply moving to a different channel (since channels are tied to teams AFAIK), even when the channel name is same?

Also, this means that then we'll take an added optional argument of channel name in the command, but it'd be useful only for incoming webhooks.

I think we should separate them into `webhook move-incoming` and `webhook move-outgoing`.

[2019-03-25 12:27] reflog commented on #10402
Hi!
Two questions:
1. "go:generate" is mentioned, but if I'm not mistaken it doesn't support non-go files, so it cannot generate .json . Am I missing something?
2. I wrote a small piece of code:
[code]

And the resulting JSON is quite different from the current one (i'm attaching it to the comment).
Stuff like: SiteURL, AtRestEncryptKey, PublicLinkSalt, PushNotificationServer, GoogleSettings is ei

[2019-03-25 12:34] amyblais commented on #10491
Hi @limenleap, can you help with more details on what is not working when you attempt to use to the documentation?

[2019-03-25 12:35] hanzei commented on #9769
Technically you could try to find a channel with the same name in the new team. But this is kind of tricky for UX.

I agree. Maybe we should even split the command into `webhook incoming move` and  `webhook outgoing move`.

[2019-03-25 12:38] jasonblais commented on #10457
Thank you @checkaayush for your interest!

1. Good observation. I'm not sure - though we have someone working on the on-prem version so we'll see if they find an approach
2. Some progress has been made with skype Web SDK, more details here: https://community.mattermost.com/core/pl/wjx3gn79bbr38x5wnpazdezfho

And thanks for your interest on the GitLab plugin! Two notes:
1. Please reach out to me to

[2019-03-25 12:39] limenleap commented on #10491
The iframe embedding is not possible because the file indicated there /mattermost/mattermost/web/templates/head.html is nowhere in the installation I have. I am using Mattermost 5.8

Also I don't use Ngnix as the reverse proxy. Instead I am using Caddy

[2019-03-25 12:56] manland commented on #10457
Hello @checkaayush

I have started the implementation and I will share soon my first work on [manland/mattermost-plugin-gitlab](https://github.com/manland/mattermost-plugin-gitlab).

Today I can login and display report tasks. Before sharing it i have to :
* implements webhooks
* modify the front

If you want to discuss I'm on https://community.mattermost.com/core/channels/plugin-gitlab

BTW : tha

[2019-03-25 13:22] sapnasivakumar commented on #10040
@saturninoabril Will update the corresponding PR in accordance with the new steps. Thank you

[2019-03-25 14:15] reflog commented on #10402
Attaching a json diff of the original and the generated config.
[diff.json.gz](https://github.com/mattermost/mattermost-server/files/3003668/diff.json.gz)

[2019-03-25 15:01] lieut-data commented on #10402
@reflog, with respect to `go:generate`, the built-in tooling just scans for special comments to run general commands. See https://blog.golang.org/generate for details, but an example from there is to write something like the following in a `.go` file:
[code]

And then invoke `go generate` trigger that execution. You should be able to run arbitrary commands, including perhaps adding a `config/defau

[2019-03-25 15:02] lieut-data commented on #10402
@reflog, thanks for the diff -- would you be able to paste a plain-text diff as a comment into this ticket for analysis? The JSON version is cool, but lacks the "old" value to easily compare what's going on.

[2019-03-25 15:05] reflog commented on #10402
@lieut-data , thanks, that makes sense! I'll use the `//go:generate go run github.com/mattermost/mattermost-server/config/default -o default.json` approach .

And here a regular diff:
[config.patch.gz](https://github.com/mattermost/mattermost-server/files/3003981/config.patch.gz)

[2019-03-25 15:10] lieut-data commented on #10402
Thanks, @reflog -- is the spacing off in the generated default.json from which the diff was created? Looks like it's just reporting a wholesale diff of the two files which makes it hard to parse.

I'd suggest using something like `https://stedolan.github.io/jq/` to normalize the format of the two files to be diffed, and then hopefully we can review /that/.

Note too that GitHub supports `diff` as

[2019-03-25 15:35] reflog commented on #10402
@lieut-data sorry for the messy diff. Here's a clean one:
[code]

[2019-03-25 19:20] courtneypattison commented on #10157
I'm on it!

[2019-03-25 20:29] #10191 closed

[2019-03-25 20:41] hanzei commented on #10157
Thanks @courtneypattison! :+1:

[2019-03-25 22:49] crspeller commented on #10412
Sorry for the delay!

1. Yes you will need a new integration point to accomplish this. It should be able to add a tab to the emoji picker just like the gfycat one.

2. Not sure that would be helpful or not. The final integration would have to have a new integration point so you will need to develop that anyway. But for testing anything would work.

Ya. That's really the crux of the issue in portin

[2019-03-25 23:09] amyblais commented on #10491
Hi @limenleap,

I asked our community / team about this and it appears that this is old documentation and that this would actually be a feature request (While it was possible to embed Mattermost via iframe some time ago, that's apparently no longer the case. See, e.g.: this forum entry https://forum.mattermost.org/t/how-can-we-load-mattermost-in-iframe/165/8).

[2019-03-26 02:41] d28park commented on #10337
Interested in taking a look at this.

@joshuabezaleel - Would that be alright? Did you make some progress on it already?

[2019-03-26 03:12] BK1603 commented on #4554
Sorry for such a long delay :sweat_smile: I got a bit busy with other stuff, but I am back now and will continue from where I left off, shouldn't take that long now.

[2019-03-26 05:01] Gloriashield opened #10499 "5.8.1 has "Localization setting initialized" problem."
#### Summary
Localization setting data(3 languages) initialized when I restart mattermost-server.

#### Steps to reproduce
It was very simple. Change your localization setting (ex: English to Korean) and restart mattermost server. It will be change to English / English  / Select...

#### Expected behavior
I have to change these setting at every-time.

#### Observed behavior (that appears unintenti

[2019-03-26 05:19] Gloriashield opened #10500 "5.8.1 did not translate "Channel Name" when I created new team."
#### Summary
If I will create new team, channel-name must translate to selected language.

#### Steps to reproduce
1. Change your default/client languages set to Korean or Japanese and save it.
2. Create new team.
3. If I selected "Korean", Town Squire" is must translate to "공지사항" and "Off-topic" is "잡담".
4. But, it did not translated.
5. If I connected database for check Display Name of Channels

[2019-03-26 06:28] oljw commented on #8797
Hello,

While investigating the issue, I wanted to have some clarifications:

- As far as understand, the application navigation is supported by NavigationActivity in 'react-native-navigation' module that'd been modified and forked by '@migbot' from the original.
- However, the MainActivity is extended from a SplashActivity which is destroyed after the splash screen is finished.
- In this case, I

[2019-03-26 06:33] hanzei commented on #10337
Thanks for taking care of this @d28park!

[2019-03-26 06:35] hanzei commented on #8797
@migbot Could you please take a look at the above question?

[2019-03-26 08:49] esethna opened #10501 "[Help Wanted] [MM-14730] UI Automation: Write an automated test using Cypress for "Channel Header : Markdown quote""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-26 09:23] joshuabezaleel commented on #10337
Hi @hanzei I am really sorry for my inactivity. There are a couple of things currently going on.
Hope that I can still take issues and won't be a burden in the future.

@d28park Sure! Thank you very much for taking this up! The issue's description should be really helpful.

[2019-03-26 11:30] joshuabezaleel commented on #10308
Hi @hanzei , I am really sorry for the inactivity.
I do not think that I have the adequate knowledge nor experience especially time to tackle on this issue.  I am afraid that it will just slow the progress down. I think this issue will be better off assigned to someone with more ready experience.
Hope that I can still take issues and won't be a burden in the future.

Thank you very much @hanzei 🙂

[2019-03-26 12:00] #10442 closed

[2019-03-26 12:01] saturninoabril commented on #10442
PR has recently merged.  Thank you @thekiiingbob for your contribution!

Closing this issue now.

[2019-03-26 12:03] hanzei commented on #10308
Hey @joshuabezaleel,

Thanks for the follow up on this ticket.

No problem, if you step down from a ticket. I will just make this available for the public again.

In the future you might just volunteer for one ticket at a time. This way you don't overload yourself with work.

Looking forward to your contribution!

[2019-03-26 12:35] amyblais commented on #10491
Hi @limenleap,

It would be awesome if you're able to share this idea on our feature request forum here: https://mattermost.uservoice.com/forums/306457-general.

I'll close this Issue for now as this is a feature request,

[2019-03-26 12:35] #10491 closed

[2019-03-26 12:36] amyblais commented on #10499
Hi @Gloriashield,

This issue was fixed in v5.9 release. Would you be open to upgrading your server?

[2019-03-26 13:52] e-ninja0 commented on #10410
Grabbing this to work on next.

[2019-03-26 13:57] hanzei commented on #10410
Thanks you very much @e-ninja0! :rocket:

[2019-03-26 14:29] JVasky commented on #9597
@hanzei Can you help direct me to someone who can give me a little guidance on this issue? Just trying to iron a few things out in terms of testing and a technical clarification or two. Thanks!

[2019-03-26 14:50] wiersgallak commented on #9769
My apologies on delayed responses @checkaayush @hanzei.

I also agree.  My recommendation would be to approach the webhook move-outgoing since the team is a required parameter of that command and likely is more straightforward to support.  Incoming Webhooks and Outgoing Webhooks do currently have different requirements and we will need to determine what changes to make to Incoming Webhooks to supp

[2019-03-26 15:08] esethna opened #10503 "[MM-14651] Remove max length from LinkMetadata Value"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-26 15:39] fcorrea commented on #10412
Thanks for checking in @crspeller!

I had a chat with @enahum and he pointed the same direction as you so that's good. I already have a ` webapp` branch in which the picker tabs are plugins and on the Gyfcat plugin side, I'm trying to lessen the hard dependencies. `post_utils.js` pull in `webapp/store/` which really opens up a pandora box in terms of dependencies.

Just to make it a bit more clear

[2019-03-26 15:56] esethna opened #10505 "[Help Wanted] [MM-14681] In integrations backstage, no feedback to user when search returns no results"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-26 16:05] reflog commented on #10501
I'll take this one

[2019-03-26 16:57] checkaayush commented on #9769
Cool. Going ahead with just the `webhook move-outgoing` command for now.

[2019-03-26 17:16] fcorrea commented on #10412
Turns out that the **only** thing the Gyfcat uses from `post_utils` is `getImageSrc`. Easy enough to just backport that single function.

[2019-03-26 18:28] fcorrea commented on #10412
Ok, I've managed to isolate all the dependencies and now it builds just fine. I'm keeping the plugin code in this repo [https://github.com/fcorrea/mattermost-plugin-gfycat](https://github.com/fcorrea/mattermost-plugin-gfycat)

It's not finished yet so I'm moving on with the fixes for the integration.

[2019-03-26 19:48] crspeller commented on #10412
@fcorrea Great! Sounds like you are making good progress.

[2019-03-26 20:28] #10388 closed

[2019-03-26 21:58] lieut-data commented on #10402
@reflog, here's a proposal for generating default.json programmatically:
* `SiteURL` should default to `localhost:8065`
* `EnableAPIv3` should be removed
* `ExperimentalEnableAuthenticationTransfer`: no changes needed? seems both are `true`
* `EnablePreviewFeatures`: no changes needed? seems both are `true`
* `ImageProxyType` should be omitted, as it is deprecated
* `ImageProxyUrl` should be omitt

[2019-03-26 23:21] lisakycho commented on #10433
I would love to work on this.
Could I get some pointers on how to add plugins?

[2019-03-27 00:10] oljw commented on #8797
@migbot Alright, cool! Thanks for replying.

[2019-03-27 00:58] oljw commented on #8797
@migbot Cool cool I think I can try to work with that. I'll let you know if anything else come up.
Thanks for your help!

[2019-03-27 01:04] GeordieR opened #10514 "Duplicate links posted"
#### Summary
Posting a link in a private channel on the web client duplicated the link two more times so that there were three links in total posted.

#### Steps to reproduce
- Post just a link in a private channel
- The link should now have duplicated twice
- Refreshing the page doesn't fix the issue

#### Expected behavior
The messages shouldn't post more than once.

#### Observed behavior (that

[2019-03-27 01:24] GeordieR commented on #10514
Updated the title and description after discovering that not being able to edit posts after a period of time was indeed a feature and not a bug

[2019-03-27 07:44] hanzei commented on #10433
Thanks for looking into this @lisakycho! :+1:
For testing purposes you can use [Matterpoll](https://github.com/matterpoll/matterpoll). Guidance on how to install this plugin can be found in the [Readme](https://github.com/matterpoll/matterpoll#installation).
Let me know if this helps.

[2019-03-27 08:01] hanzei commented on #10501
Go ahead, thanks @reflog!

[2019-03-27 09:46] gupsho commented on #10286
@hanzei extremely sorry, I havent been able to work on this and will not get a chance for at least 2 more weeks. Can you please open this up for everyone again and as soon as I have more time, if this is available I will it up again.

[2019-03-27 10:53] DSchalla commented on #10402
Hi @reflog,
thanks for your proposal, first of all!
There is right now only a single security change called `DisableLegacyMFA` which we want to enable by default for new installations, but cannot do that for already existing ones since it's a breaking change. So as described in the issue itself:

[code]

Otherwise there are right now no special cases for any security settings I'd be aware of. If y

[2019-03-27 11:20] checkaayush commented on #9769
@hanzei I've run into another issue: `CreateOutgoingWebhook` expects the webhook's channel's TeamId to be the same as the webhook's TeamId as seen [here](https://github.com/mattermost/mattermost-server/blob/master/app/webhook.go#L433).

As per my [current approach](https://github.com/mattermost/mattermost-server/pull/10489), it'll fail since I'm calling CreateOutgoingWebhook with everything but th

[2019-03-27 12:27] hanzei commented on #10286
Hey @gupsho,

Thanks for the heads up. :+1: No problem, if will just make this ticket available to everyone again.

Let me know, if you have the time to work on this again.

[2019-03-27 12:55] amyblais commented on #10371
I'll close this for now as there haven't been updates on this for a while.

Please re-open this issue if the problem persists or if you have any further questions,

[2019-03-27 12:55] #10371 closed

[2019-03-27 13:40] Gloriashield commented on #10499
Dear @amyblais ,

Thanks for your advice. You are right. I upgraded my server to 5.9.0 and can fix it.

Regards, KIM

[2019-03-27 13:40] #10499 closed

[2019-03-27 13:41] Gloriashield commented on #10500
I upgraded my server to 5.9.0 and was able to fix this problem. If you have the same problem, upgrade your server! Thank you!

[2019-03-27 13:41] #10500 closed

[2019-03-27 13:43] amyblais commented on #10514
Hi @GeordieR,

I wasn't able to reproduce this just now, however I'm on a v5.10 server version as we're getting ready to release that version next month. Would you be able to do a quick test on our [community server here](https://community.mattermost.com) to see if you can see the issue on the latest version?

If you still see the issue on the latest, can you help with more details about your envi

[2019-03-27 13:45] checkaayush commented on #10069
@jwilander This can be closed I guess.

[2019-03-27 14:07] e-ninja0 commented on #10331
Submitted a PR for this GB issue: https://github.com/mattermost/mattermost-webapp/pull/2545

[2019-03-27 15:40] #10474 closed

[2019-03-27 16:19] esethna opened #10520 "[Help Wanted] [MM-14784] UI Automation: Write an automated test using `cypress` for "An ellipsis indicates the channel header is too long - DM""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-03-27 16:25] jwilander commented on #10069
@checkaayush I'm hoping we can open some more help wanted issues for the GH plugin shortly :)

[2019-03-27 20:06] lisakycho commented on #10433
@hanzei
Sorry, I think I'm confused about what this ticket wants after testing it out.

![image](https://user-images.githubusercontent.com/15200562/55108549-7387aa80-5099-11e9-856c-059af8ad8e44.png)

In my test case are you looking to replace the "Yes" and "No" with the emojis?

[2019-03-27 20:51] hanzei commented on #10433
When you create a poll with `/poll "Do you like pizza?" ":+1:" ":-1:"` and end it, it currently looks like this:
![Screenshot from 2019-03-27 21-50-01](https://user-images.githubusercontent.com/16541325/55111311-650db300-50da-11e9-8e5e-091b6a36c5b1.png)
As you can see the two emojis `:+1:` and `:-1:` don't get rendered. This ticket is about fixing this.

[2019-03-27 21:23] lisakycho commented on #10433
@hanzei I don't seem to even get that bug on my pre-release mattermost. I've pulled from the latest server and webapp and have v1.0.3 of matterpoll locally.

Here is what my poll looks like:
![image](https://user-images.githubusercontent.com/15200562/55113226-265d0600-50a4-11e9-93d3-83dad5b795bf.png)
![image](https://user-images.githubusercontent.com/15200562/55113242-2eb54100-50a4-11e9-8559-da1d3

[2019-03-28 04:51] joshuabezaleel commented on #10503
Hi everyone, if it's okay I want to ask several things.
1. At the issue description, the name of the column written is "Value" while at the [link_metadata_store.go](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/link_metadata_store.go#L25), the column with the length of 4096 is called "data". Are these referring to the same column?
2. If I want to add the code for chang

[2019-03-28 05:54] hanzei commented on #10433
@lisakycho You need to specify the answers options of the poll. Currently you are using the default answers `Yes` and `No`. Try `/poll "Do you like pizza?" ":+1:" ":-1:"` instead

[2019-03-28 08:15] GeordieR commented on #10514
Sorry I didn’t get around to this today, I’ll have a go tomorrow and let you know if I can reproduce it. I think this one might be quite elusive.

[2019-03-28 08:27] reflog commented on #10520
i'll take this one

[2019-03-28 10:21] tomasmik commented on #10289
I will have to drop the work. I'm facing some issues which are making it impossible to work on this. Im very sorry.

[2019-03-28 10:34] hanzei commented on #10289
No problem @tomasmik. Thanks for the heads up.

[2019-03-28 10:34] hanzei commented on #10289
@fcorrea do you still want to work on this?

[2019-03-28 12:41] amyblais opened #10522 "Mattermost v5.10"
You can find key dates for v5.10 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### April 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### April 12th: Release Build Cut
The f

[2019-03-28 13:02] tobast opened #10523 "[Webapp] Admin password reset `maxlength=22`"
#### Summary
When resetting a user password through the admin console, the new password field has a `maxlength=22` attribute, which may break password resets silently.

#### Steps to reproduce
Go to the admin console, on the Users page. Select some user with password authentication. Open the dialog to reset their password. Enter any password longer that 22 chars, validate.

#### Expected behavior

[2019-03-28 13:06] fcorrea commented on #10289
Hey @hanzei. I'm currently tackling other issue but I'll keep an eye on this one. If it's still hanging when I'm done with the other, i'll pick it up. Otherwise, feel free to leave it open.

[2019-03-28 13:43] checkaayush opened #10524 "[Webapp] Links to unread messages received in email don't work on community server"
#### Summary
Links to go to unread post on community.mattermost.com received in emails don't seem to work.

#### Steps to reproduce
Wait for an unread message's email to arrive in your inbox. Click on "Go To Post".

#### Expected behavior
Link should take us to the attached post.

#### Observed behavior (that appears unintentional)
 The link doesn't open. It changes to https://community.mattermost

[2019-03-28 14:41] #10331 closed

[2019-03-28 14:42] hmhealey commented on #10331
This has been merged into master and will be going into the 5.12 release

[2019-03-28 14:50] amyblais commented on #10523
Hi @tobast,

What Mattermost server version are you currently on?

[2019-03-28 14:59] amyblais commented on #10524
Hi @checkaayush,

I wasn't able to reproduce this just now. Do you know if it was a link to a private or public channel?

[2019-03-28 15:01] checkaayush commented on #10524
Private channel.

[2019-03-28 15:02] amyblais commented on #10524
@checkaayush

1. Is it a private channel you're able to access?
2. Did you see any error message or just a blank screen?

[2019-03-28 15:04] checkaayush commented on #10524
Yes. It's a direct message to me.

Just a blank screen.

[2019-03-28 15:11] amyblais commented on #10524
Hi @checkaayush,

I'm able to reproduce this with a direct message channel. I opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-14793.

Thank you for reporting this,

[2019-03-28 15:54] setpill opened #10525 "User can send to channel they are not in via API."
#### Summary
User can send to channel they are not in via API.

#### Steps to reproduce

mattermost version: 5.8.0
matterircd version: 0.19.1

1. Be in mattermost channel.
2. Connect to matterircd.
3. In mattermost UI, leave channel

#### Expected behavior

* IRC client no longer receives messages from channel.
* Sending to channel from IRC is not possible.
* IRC client leaves channel.

#### Obser

[2019-03-28 15:54] setpill commented on #10525
Related issue: https://github.com/42wim/matterircd/issues/233

[2019-03-28 15:55] setpill commented on #10525
NB: this also goes for secret channels and channels and also works for getting kicked (rather than leaving voluntarily).

[2019-03-28 16:58] tobast commented on #10523
@amyblais The Mattermost server is 5.9.0, but our webapp is still based on 5.7.0 (we have a few commits on top of them). It might have been fixed in latest versions, I did not think of checking that. Sorry if that's the case!

[2019-03-28 17:14] amyblais commented on #10523
@tobast No worries, I wasn't able to reproduce on the latest version, so if you're able to test this on the latest then we can see if it might be fixed.

[2019-03-28 21:19] GeordieR commented on #10514
I wasn't able to replicate this on the community server. I'll close this issue and if I see it happen again I'll re-open it with more details.

Geordie

[2019-03-28 21:19] #10514 closed

[2019-03-28 23:18] kchutskoff opened #10530 "Mention for user that starts with "all" does not style/highlight their entire username."
#### Summary
Writing `@user` in a post for a user who's name starts with "all" only highlights "all" and not the remainder of their name.

#### Steps to reproduce
1) Have or create a user in the system that starts with "all" (example, "allan")
2) In a channel with that user, write `@allan` and send the post.

#### Expected behavior
The entire username `@allan` should be highlighted

#### Observed

[2019-03-29 06:27] Sharuru opened #10531 "System raised an error when updating configuration through API v4"
#### Summary
System raised an error when updating configuration through API v4

#### Steps to reproduce
0. Environment
[code]
1. Generate a personal token with administration rights for an administrator.
2. Request `http://link.to.mattermost/api/v4/config` with PUT method by Postman
(refs: https://api.mattermost.com/#tag/system%2Fpaths%2F~1config%2Fput)

#### Expected behavior
1. System configurat

[2019-03-29 06:47] Sharuru commented on #10531
Update:
Have found that the proper use of this API is to send the **ALL** configuration, not just the key I want to change. Maybe `POST` method is better instead of `PUT` for restful design...

[2019-03-29 06:47] #10531 closed

[2019-03-29 13:03] amyblais commented on #10530
Thank you, I was able to reproduce it and opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-14801

[2019-03-29 15:46] jeanregisser commented on #10195
Hi, I'd like to work on this!

[2019-03-29 16:28] d28park commented on #10169
This would allow for some super useful / cool functionality - I'd like to pick this up. I would need some clarification and help to get started though:

1. Authorization
a. Do we want a whitelist in the config to allow certain plugins to override?
b. Should it be runtime-configurable instead (enable/disable per plugin in the System Console)?
c. Once plugin with override functionality is installed

[2019-03-29 16:38] #10501 closed

[2019-03-29 16:39] saturninoabril commented on #10501
Thank you @reflog for your contribution!

PR has been merged.  Closing this issue now.

[2019-03-29 16:52] Ryonez commented on #10463
Ahh, the graveyard of ideas.

I've added the two requests:
https://mattermost.uservoice.com/forums/306457-general/suggestions/37237156-allow-incoming-webhooks-to-use-response-type
https://mattermost.uservoice.com/forums/306457-general/suggestions/37237117-allow-webhooks-to-post-to-reply-threads

Glancing at the plugin docs, it does look a little beyond my abilities.

[2019-03-29 22:19] prapti commented on #10473
I'll take this one?

[2019-03-29 22:22] prapti commented on #10472
I'll take this one

[2019-03-30 03:04] jamesquilty commented on #2440
I have an Educational context where students should not be able to create private groups or direct messages. The current version of Mattermost allows me as Sys Admin to disable the creation of private groups. Direct messages are the same as private groups in out context and we'd like to disable those also.

This seems to have stalled on the feature idea forum despite a fair number of supporters, a

[2019-03-30 03:43] lieut-data commented on #4142
@jwilander, this is basically resolved with the work you did last year, right?

[2019-03-30 03:44] jwilander commented on #4142
Yes, this is resolved

[2019-03-30 03:44] #4142 closed

[2019-03-30 15:34] Willyfrog commented on #10503
I'd like to take a stab at this. I do have a few questions, though as I'm not sure that would be the ideal approach.
Wouldn't it prevent further errors to limit the amount of info we are gathering from OG, and even the description have a max num. of characters? solution would be a little bit more complex, but we wouldn't be storing so much useless data into the database, so I'd guess this would pr

[2019-03-31 06:06] oljw commented on #8797
Hi all,

I've submitted a PR for the Android side of this issue:
https://github.com/mattermost/mattermost-mobile/pull/2676

Now, I'm trying to implement this functionality to the iOS side at the moment.
I will have to work with the native iOS side similar how I implemented the Android side because the 'onKeyPressed' function at js side cannot detect the modifier keys such as 'shift'.
While at it,

[2019-04-01 07:21] saturninoabril commented on #10473
Great, thanks @prapti!

[2019-04-01 07:22] saturninoabril commented on #10472
Sure, thanks @prapti!

[2019-04-01 09:20] jeanregisser commented on #10195
I've taken a look at this. Implementing this feature with React Native Navigation v2 is fairly simple.
It now has an API to handle it: https://wix.github.io/react-native-navigation/#/docs/events?id=previewcompleted-ios-114-only
I tried it on a sample app and worked as expected.

Now the difficulty is mattermost mobile currently uses a fork of React Native Navigation v1 as seen in https://github.co

[2019-04-01 12:35] harshilsharma63 commented on #2440
@zsoca8711 would this Mattermost plugin be of help - https://github.com/Brightscout/mattermost-plugin-disable-dm ?

[2019-04-01 13:56] #10520 closed

[2019-04-01 13:57] saturninoabril commented on #10520
Thank you @reflog for your contribution.

PR has been merged. Closing now.

[2019-04-01 14:18] reflog commented on #10402
@lieut-data , @DSchalla I think I'm a little confused, so if you don't mind, can you provide a clarification:

* The idea of this ticket is to delete default.json from the repo and build it from the defaults model. So far - so good :)
* There are some differences between the model and current default.json and they need to be addressed - this is also clear and you provided plenty information
* What

[2019-04-01 15:14] jasonblais commented on #9769
@hanzei Wondering your thoughts on the above?

[2019-04-01 16:41] lieut-data commented on #10402
Good questions, @reflog. The current default.json is [copied](https://github.com/mattermost/mattermost-server/blob/master/build/Jenkinsfile.pr#L84) to become the stock config.json in new installations. This makes it easy to start customizing a simple Mattermost install out-of-the box.

Your changes will allow us to generate default.json programmatically -- something we'll probably kick at build ti

[2019-04-01 18:54] amyblais commented on #10385
Reopening this since the PR had to be reverted as it caused other issues.

Link to Jira ticket for tracking this improvement: https://mattermost.atlassian.net/browse/MM-14489.

[2019-04-02 00:15] amyblais commented on #10525
Hi @setpill,

So far our developers have discussed that this behaviour is based on permissions. We still enforce permission checks, but we're not sure if we should allow a post from a user who is not in a channel. I'll see how the discussion continues.

[2019-04-02 07:17] hanzei commented on #10525
@amyblais is the discussion public and you can link to it?

[2019-04-02 08:07] reflog commented on #10402
Thanks @lieut-data , this helps alot!
If I'm understanding correctly, instead of just calling SetDefaults and dumping the resulting JSON, I should try and do `ConfigFromJson` from the existing `config.json` and **then** do the SetDefaults, while also modifying SetDefaults to take care of the "bit flipping".

Sounds good?

[2019-04-02 08:31] reflog commented on #10505
I'll take this one

[2019-04-02 12:52] reflog commented on #10505
I've implemented the bulk of it, except for:

I'm not sure where the bot integration sits

[2019-04-02 14:55] CooperAtive commented on #10505
Darn I just finished the same task, with the exception of bot accounts. Came here to open PR. Guess I should have mentioned I was working on it!

[2019-04-02 15:30] CooperAtive commented on #10471
I'll take this one

[2019-04-02 15:39] hanzei commented on #10471
Thanks @CooperAtive!

[2019-04-02 16:03] esethna opened #10543 "[Help Wanted] [MM-14833] No option to deactivate BOT account from System>> Users"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-02 16:45] esethna opened #10544 "Write an automated test using `cypress` for "Team Admin can use Next button to page through list in Manage Members""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-02 17:59] lieut-data commented on #10402
@reflog, that's almost right, but I note there's no need to go and read any "existing" configuration explicitly. Here's an example invocation where we use `SetDefaults` on a just-loaded configuration: https://github.com/mattermost/mattermost-server/blob/master/config/common.go#L112.

On such a config, `SetDefaults` will go through and make sure none of the fields are `nil`, effectively upgrading t

[2019-04-02 18:11] reflog commented on #10402
Super. Thanks for the clarification!

[2019-04-02 18:36] lisakycho commented on #10433
@hanzei

I’ve cloned matterpoll repo and tried to run the command make to make the distributable file to upload to my local mattermost.
When I do this I get errors such as “undefined: testutils.GetLocalizer” even though I have not made any changes yet after pulling it.
I’ve pulled several times to update my branch but I’m unsure why I am getting undefined methods.
I can show you the full error log

[2019-04-02 20:40] hanzei commented on #10433
@lisakycho You can just use the [latest release from GitHub](https://github.com/matterpoll/matterpoll/releases/tag/v1.0.3).

[2019-04-03 06:26] kaakaa opened #10548 "Failed to call GetTeam of plugin API"
#### Summary
Failed to call GetTeam of plugin API.

#### Steps to reproduce
1. Upload and enable [Matterpoll plugin](https://github.com/matterpoll/matterpoll) (deploy master branch, not 1.0.3 release)
2. Create a poll
3. Click [End Poll] button

#### Expected behavior
* Poll ends successfully

#### Observed behavior (that appears unintentional)
* Poll doesn't end and no error message is displayed

[2019-04-03 10:00] hanzei commented on #10548
Hey @kaakaa,

Thanks for the report. Just to confirm: Running v1.0.3 of Matterpoll works fine with `mater` Server?

Would you mind updating the dependencies of Matterpoll to the latest `master' and test again?

[2019-04-03 12:44] licaon-kter opened #10550 "Notification email subject&header are in server language if from multiple users"
Server: 5.9.0

#### Steps to reproduce
Get message from multiple users.
Get a message from an user.

#### Expected behavior
Get 2 e-mails in my locale

#### Observed behavior (that appears unintentional)
One e-mail with multiple users messages has subject & header in English (server language) and footer in my locale.

One e-mail from a single user message has subject, header and footer in my local

[2019-04-03 13:42] kaakaa commented on #10548
Ah...you are right. After updating dependencies of Matterpoll, poll works fine.
Thanks @hanzei !

[2019-04-03 13:42] #10548 closed

[2019-04-03 14:27] amyblais commented on #10488
Hi @duijf,

This was forwarded to our product managers and they will take your feedback into consideration as we will work on improving administrator on-boarding experience and our privacy policy.

I'll close this issue for now as we haven't received further feedback, but please re-open this issue if you have any further questions.

Thank you for the feedback,

[2019-04-03 14:27] #10488 closed

[2019-04-03 14:53] reflog commented on #10402
@lieut-data , I've started with the work (please see the WIP PR) and got more questions (sorry)
1. If `config.NewFileStore("config.json", false)` already returns a Config object that is "upgraded" using SetDefaults - then what is the purpose of the `go generate` ? Why do we need to output anything on build time if the config will get created (properly, with handling of new/old bit flipping)?
2. Fl

[2019-04-03 14:58] amyblais commented on #10550
Hi @licaon-kter,

Would you be open to sharing more details:

1. Is the language chosen in the System Console for all users or individually from the Account Settings > Language?
2. When you say "multiple users", are you referring to a Group Message channel?
3. What is the language or does this happen with multiple languages?

[2019-04-03 15:25] lieut-data commented on #10402
Questions are great, @reflog -- don't be afraid to keep clarifying :)

1. The `go generate` workflow will be used to generate the new default `config.json` that we ship with the build. Instead of copying the `default.json` to `config.json` as the CI server does today, it will instead use your tooling to generate this file. (The problem today is that we manage default.json by hand.)
2. You shouldn'

[2019-04-03 15:34] licaon-kter commented on #10550
Eg:
1. My locale (in web app): Romanian, default server/client locale (in sys console): English
2. No, I'm away, 2 users chat with me, I get an email with their 2 messages.
3. See above or I don't understand the question

[2019-04-03 15:37] esethna opened #10552 "Improve help text and error message for choosing username on the signup page"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-03 15:40] amyblais commented on #10436
Hi @limenleap,

Letting you know that we opened a Help Wanted issue here for our community to work on this improvement: https://github.com/mattermost/mattermost-server/issues/10552.

Feel free to work on the issue if you're interested to, and let us know if you have any questions.

Closing this for now as a duplicate,

[2019-04-03 15:40] #10436 closed

[2019-04-03 17:34] hanzei commented on #10548
Glad it works.

Can you confirm this?

[2019-04-04 00:11] harshilsharma63 opened #10555 "Suggestion - Make pdata Column In PluginKeyValueStore a JSON(b) Column"
#### Summary
Make `pdata` column In `PluginKeyValueStore` a `json(b)` column.

We have a plugin for internal use within our organization. Recently we made a big update to it. As a result, we had to migrate all saved plugin data to the new data format. Since the `pdata` column of string type, we could not use any JSON manipulation SQL queries and neither did find and replace made sense due to high

[2019-04-04 00:16] harshilsharma63 opened #10556 "Add Ability To Install Plugin For Specific Team Or Channel"
#### Summary
We have a mattermost plugin for internal use in our organization. Several times we have wanted to make some changes to it but wanted to do limited testing before rolling out the changes to the masses. Currently, Mattermost doesn't provide any way to do a team/channel limited plugin deployment.

Any thoughts of if it would be a useful feature?

[2019-04-04 08:19] reflog commented on #10402
@lieut-data - thanks for a great code review and explanations!
I'll start on the changes now.

[2019-04-04 09:21] kaakaa commented on #10548
Yes, Matterpoll v1.0.3 works fine, so we don't need to release another version of Matterpoll including bug fix.

[2019-04-04 09:50] esethna opened #10558 "[Help Wanted] [MM-14890] Logs endpoint always returns an empty line"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-04 10:32] hanzei commented on #10548
Thanks for confirming!

[2019-04-04 11:09] hanzei commented on #9769
@checkaayush Why not:
- Get the channel name from the old channel
- Try to get a channel in the new team with the name name
- Use the id from the new channel

This would make the semantic of reusing the channel name in the new team clear.

@wiersgallak Is this the expected behaviour?

[2019-04-04 12:34] amyblais commented on #10522
### v5.10 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.10.0-rc1/mattermost-team-5.10.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2604)

[2019-04-04 12:47] reflog commented on #10558
I'll take this one

[2019-04-04 12:57] amyblais commented on #10550
Hi @licaon-kter,

I haven't been able to reproduce this so far - would you be open to sharing any additional relevant information that might help us reproduce the issue, or would you be able to share any screenshots?

[2019-04-04 14:12] licaon-kter commented on #10550
Green overlay means translated, red means not.
![mmattermail](https://user-images.githubusercontent.com/2282799/55562525-c64a0d80-56fc-11e9-9c81-966d5739beee.PNG)

[2019-04-04 16:02] cpoile commented on #10163
I'll take this one!

[2019-04-04 19:12] amyblais commented on #10550
Hi @licaon-kter,

Thank you for the screenshots, that is helpful.

The main reason I haven't been able to reproduce this is that when I receive email notifications, I always receive them in separate emails instead of combined into one email.

Would you be able to share more details about your environment?

[2019-04-04 20:04] licaon-kter commented on #10550
Not sure what details.

I have
[code]
...hence they should be batched, right?

[2019-04-04 20:36] hanzei commented on #10163
Thanks @cpoile! :tada:

[2019-04-04 22:32] amyblais commented on #10530
I'll close this issue for now as this has been fixed for the upcoming v5.10 release,

[2019-04-04 22:32] #10530 closed

[2019-04-04 23:06] CooperAtive commented on #10543
I'll take this

[2019-04-04 23:32] amyblais commented on #10550
That was it! I'm able to reproduce it now when I enabled email batching. Ticket: https://mattermost.atlassian.net/browse/MM-14930.

Thank you for the report!

[2019-04-05 05:23] hanzei commented on #10555
I see your point, but I would much rather improve the plugin API to facilitate such data migrations. Could you elaborate a bit what is missing from the current API? My naive approach would be:
1. Get all keys via `KVList`
2. Unmarshal the data into a struct
3. Do stuff
4. Unmarshal back and store the data

[2019-04-05 05:38] harshilsharma63 commented on #10555
@hanzei your approach is perfectly valid and I suppose is applicable for most developers. So I'll talk about the reason why we didn't follow it.

With the introduction of `KVList`, Mattermost stopped hashing the `PKey` value. Depending on the situation, this key might be dependent a user parameters and may exceed the current length of 50 characters. So we hash it manually, using the exact same log

[2019-04-05 09:55] hanzei commented on #10555
Re key length: This is something Mattermost should fix. 50 characters is just to short.

@levb Do you (in general) agree and would create a ticket for this?

@harshilsharma63 Would a `KVList` that not only returns the key but also the values work for your case? Something like `KVList(page, perPage int) (map[string]string, *model.AppError)`.

Well, it depends how much you alter the structs. Adding

[2019-04-05 09:57] hanzei commented on #10556
Could you elaborate a bit why do you think this is needed? If you want to test a plugin, why not use a test server/local dev environment.

[2019-04-05 13:15] amyblais commented on #10525
Opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-14941.

[2019-04-05 14:31] amyblais commented on #10524
Hi @checkaayush, I'm not able to reproduce this on community server anymore, can you help confirm if you still see this?

[2019-04-05 14:35] #10447 closed

[2019-04-05 14:40] checkaayush commented on #10524
I don't see this issue anymore. Seems to have been fixed. @amyblais

[2019-04-05 14:42] #10524 closed

[2019-04-05 16:17] mdizzy commented on #10552
I found what appears to be the line I need to change here
https://github.com/mattermost/mattermost-webapp/blob/50c7ae2d31742f207bd7beadded725fc59e84edb/components/signup/signup_email/signup_email.jsx#L273

But that's just for the web app, do we need to change on the mobile apps as well? Is there a centralized string resource dictionary of some sorts that the project uses? How are we handling globa

[2019-04-05 17:44] mdizzy commented on #10552
Ahhh...was looking in the wrong place I'm in the right repository now.  onward and upward.

[2019-04-05 18:59] amyblais commented on #10364
Closing this for now as there hasn't been updates on this for a while. Please re-open this issue if the problem persists,

[2019-04-05 18:59] #10364 closed

[2019-04-05 19:20] amyblais commented on #10522
### v5.10 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.10.0-rc2/mattermost-team-5.10.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2604)

[2019-04-05 21:42] courtneypattison commented on #10185
I'll try this one :) I've looked into it a little bit and am wondering if there are any shared utils between `mattermost-webapp` and `mattermost-mobile`. Specifically, I would like to use `containsAtChannel()` from `mattermost-webapp` `post_utils`. Should I just copy this function and its dependencies over?

[2019-04-05 22:19] jasonblais commented on #10552
Glad you found it :) Are you interested taking this help wanted issue?

[2019-04-05 22:20] jasonblais commented on #10185
Thank you @courtneypattison!

@hmhealey @enahum would you know the answer to Courtney's question?

[2019-04-05 22:21] enahum commented on #10185
You could move that function to mattermost-redux and then use the same reference in both the webapp and mobile

[2019-04-05 22:29] courtneypattison commented on #10185
@enahum Thank you! I guess it's time to learn redux :) Also, I forgot to ask, are there any dummy users I can add to a test channel in community.mattermost.com to make it a channel with more than 5 users?

[2019-04-05 23:03] jasonblais commented on #10185
Not on community.mattermost.com, but we have a public test instance that has several test accounts, would you be open to creating an account there? I've attached a screenshot of some of the test users and an invite link for the test instance is here: https://mysql.test.mattermost.com/signup_user_complete/?id=353fff15eeccb99b54c30158c43e4ee6

![image](https://user-images.githubusercontent.com/13119

[2019-04-06 02:25] courtneypattison commented on #10185
@jasonblais That is perfect! Thank you!

[2019-04-06 21:35] tobast commented on #10523
@amyblais After upgrading our webapp to 5.9 (ie. based against the `release-5.9` branch of the repository, with none of our local commits changing anything to the admin interface), I can confirm that the issue is still present for me.

[2019-04-07 00:16] maruTA-bis5 opened #10562 "[5.10.0-rc2] LogSettings.FileFormat is coming back but may be unused"
#### Summary
LogSettings.FileFormat was [removed in 4.10](https://github.com/mattermost/docs/blob/8372d5479b2c792a39c072578a5727c768a96920/source/administration/changelog.md#changes-to-team-edition-and-enterprise-edition-6).
This property is coming back in 5.10.0-rc2.
but i couldn't find any code using this configuration.

#### Steps to reproduce
Get configuration via api `GET /api/v4/config`.

##

[2019-04-07 07:50] duynb opened #10563 "[5.10.0] subpath url not working"
Hi,

In 5.8.0 it was working when I config like this:

`SiteURL": "http://localhost:8065/room`

And the site auto redirect to `http://localhost:8065/room/teamName`

Now in 5.10.0, it tell me the error `team does not exist`
(or sometime it gets the redirect loop)

Is there any update on this?

Thanks.

[2019-04-07 11:15] Willyfrog commented on #10232
I'd like to take a look into this one

[2019-04-07 16:10] jasonblais commented on #10232
Great, thank you @Willyfrog!

[2019-04-07 16:11] jasonblais commented on #10232
@lieut-data confirming point 2 in [issue description](https://github.com/mattermost/mattermost-server/issues/10232#issue-406869226) still applies following latest changes to timezones.json?

[2019-04-07 16:54] lieut-data commented on #10232
Not the timezones.json, specifically, but to the hard-coded list now in the server: https://github.com/mattermost/mattermost-server/blob/master/services/timezones/default.go

[2019-04-08 12:55] BK1603 commented on #4554
I need a little help, since a running instance of MySQL or PostgreSQL is required for mattermost server to work, I am thinking of mentioning them as dependencies in the snap package, but
How do I specify package dependencies in the snapcraft.yaml file? I found ways of adding build dependencies (parts) but I don't think these would qualify as build-time dependencies.

And,
In the installation secti

[2019-04-08 13:13] amyblais commented on #10563
Hi @duynb, did you see this on RC-2?

[2019-04-08 13:27] amyblais commented on #10562
Hi @maruTA-bis5,

I've opened a ticket here to ask our team about this today: https://mattermost.atlassian.net/browse/MM-14970.

[2019-04-08 14:01] amyblais commented on #10523
Hi @tobast,

Perhaps I tested it incorrectly, I opened a ticket for our team to take a look: https://mattermost.atlassian.net/browse/MM-14973.

[2019-04-08 14:02] amyblais commented on #10563
Hi @duynb, Our QAs were not able to reproduce this on RC-2. Would you be open to sharing any log errors?

[2019-04-08 15:41] duynb commented on #10563
Hi @amyblais,

This is current status:
`./bin/platform version` and the version shown `Version: 5.10.0`

json file settting: `"SiteURL": "http://localhost:8065/company"`
Open in old tab: `http://localhost:8065/error?type=team_not_found`
Open incognito: `http://localhost:8065/company/?redirect_to=%2Fcompany%2F`  (loop)

Here is the log:
[code]

I was packaged this from the source code  using `make

[2019-04-08 19:21] amyblais commented on #10522
### v5.10 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.10.0-rc3/mattermost-team-5.10.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2604)

[2019-04-09 09:27] #9597 closed

[2019-04-09 09:43] duynb commented on #10563
I tried again, and it still happened. Here is my processes:

 - Clone new branch `release-5.10`  mattermost-server
 - Clone new branch `release-5.10`  mattermost-webapp
 - `cd mattermost-server` => `make run`
 - The web run ok and created json config file `config/config.json`
 - Stop the server and modified the config file to `http://localhost:8065/company`
 - Start again the server.

=> the redir

[2019-04-09 09:43] esethna opened #10572 "[MM-15008] UI Automation: Write an automated test using Cypress for "Sign In Forgot password - Email address has account on server""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-09 09:43] esethna opened #10573 "Write an automated test using Cypress for "Main Menu stays open""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-09 09:54] esethna opened #10574 "Write an automated test using Cypress for "Emojis show as jumbo in reply thread""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-09 09:55] esethna opened #10575 "[MM-15010] UI Automation: Write an automated test using Cypress for "Pinning or un-pinning older post does not cause it to display at bottom of channel""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-09 09:59] esethna opened #10576 "Write an automated test using Cypress for "Emojis are not jumbo when accompanied by text""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-09 10:40] staabm opened #10577 "Accessibility issue - can't tell which channels are unread"
similar to https://github.com/mattermost/mattermost-server/issues/8443 I want to report a usability problem regarding unread-state of private/public-channels
messages.

#### Summary
the default (and also dark theme) provide only very slight visual indication when messages are unread.
we use mattermost for a few weeks in our company and some users already reported, that they didn't realized that th

[2019-04-09 11:40] staabm commented on #10577
in contrast, on slack the "unread-state" looks better to me:

![grafik](https://user-images.githubusercontent.com/120441/55797502-eac33280-5acc-11e9-9d5a-f57f0f6e0cbe.png)

I guess the text in slack is bolder then in mattermost and also has a bigger font-size

[2019-04-09 12:33] popey commented on #4554
Yes, you can indeed add mysql or whatever other components are required as stage packages. Alternatively they might need to be specified as separate parts. Might be worth taking a look at the (rather complex) NextCloud Server snap, which will have some similar components as you'd need for Mattermost Server. Here's the [yaml](https://github.com/nextcloud/nextcloud-snap/blob/master/snap/snapcraft.ya

[2019-04-09 13:01] amyblais commented on #10577
Hi @staabm,

Thank you for the feedback,

As a workaround, have you had a chance to try sidebar sorting settings? They can be found under Account Settings > Sidebar. (I believe they have to be first enabled by a System Admin).

If you choose "Unreads grouped separately", then you will easily see which channels are unread as all unread channels will get grouped at the top of the screen.

Please let

[2019-04-09 15:16] esethna opened #10582 "[MM-14917] RN Android: Push notification settings are only saved when closing settings page"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-09 16:02] hmhealey commented on #10402
For the push notification settings, I'll figure out what the default should be. I'd assume that it makes sense to have it on by default like it was in the old `default.json`, but I'll see if it was intentional how it worked before

[2019-04-09 16:24] esethna opened #10583 "Fall back to the default webhook profile image when the "override_icon_url" image fails to load"
If a webhook specifies a custom override_icon_url, but the image fails to load, we end up with an ugly visual experience:

![image](https://user-images.githubusercontent.com/13119842/55825753-9b810000-5ad4-11e9-98a6-d3ffaebd4fa2.png)

Instead of failing to load the image, the client should fallback to the default image:

![image](https://user-images.githubusercontent.com/13119842/55825775-a5a2fe80

[2019-04-09 16:33] hmhealey commented on #10402
Looks like push notifications should be on by default as of https://github.com/mattermost/mattermost-server/pull/9774, so `SendPushNotifications` should be `true`, and `PushNotificationServer` should be `"https://push-test.mattermost.com"`.

[2019-04-09 17:44] amyblais commented on #10577
Letting you know that I've forwarded your feedback to our UX team. I haven't received a response from them yet but I'll let you know when I do.

[2019-04-09 18:33] amyblais commented on #10577
Opened a ticket for UX team here: https://mattermost.atlassian.net/browse/MM-15031.

[2019-04-09 18:55] amyblais commented on #10562
Hi @maruTA-bis5, letting you know that ``LogSettings.FileFormat`` has been removed from v5.10 now. I'll close this issue for now,

[2019-04-09 18:55] #10562 closed

[2019-04-09 19:23] hmhealey commented on #10185
It's good to know, but you might not need it for just this. Despite the name of that library, it contains a bunch of shared code alongside our Redux stuff.

[2019-04-09 21:18] UberPinguin opened #10584 "Cannot connect through authenticated proxy with Mattermost Client 4.2.1 on Windows x64."
#### Summary
Cannot connect through authenticated proxy: `ERR_TUNNEL_CONNECTION_FAILED(-111)`

#### Steps to reproduce
Using Mattermost 4.2.1 for Windows x86_64 in an environment with a proxy that requires authentication.
When Mattermost prompts for proxy credentials, enter them and click Login.

#### Expected behavior
The Mattermost client should authenticate with and tunnel its connection throug

[2019-04-09 21:19] UberPinguin commented on #10584
This also fails in 4.2.0, but works in 4.1.2.

[2019-04-10 08:59] zaibatsu777 commented on #2524
npm cache clear --force

This helped me.

[2019-04-10 16:35] esethna opened #10586 "[MM-15052] UI Automation: Write an automated test using `cypress` for "All channel types highlight properly on sidebar""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-10 16:43] amyblais commented on #10584
Hi @UberPinguin, What Mattermost server version are you on and do you see any log errors?

[2019-04-10 17:03] fcorrea commented on #10412
Hey all. Unfortunately I wont be able to continue to work on this now.

In case someone needs to revisit this, here's the `webapp` PR branch that is able to load and register the plugin:  https://github.com/fcorrea/mattermost-webapp/tree/MM-9914

And here's the plugin itself: https://github.com/fcorrea/mattermost-plugin-gfycat

[2019-04-10 23:53] harshilsharma63 opened #10589 "Plugin settings link doesn't appear after upload until refreshed"
#### Summary
Plugin settings link doesn't appear after upload until refreshed.

#### Steps to reproduce
1. Obtain a Mattermost plugin having at least one settings. I used the [XKCD Mattermost Plugin](https://github.com/TecHunter/mattermost-xkcd-plugin/releases) for demo.
1. Upload the plugin to Mattermost.

#### Expected behavior
1. On plugin upload, three options appear in the plugin section - `E

[2019-04-11 06:19] harshilsharma63 commented on #10169
hey @d28park

1. Pinned post
1. Flagged posts
1. Recent mentions

All these can be triggered via the channel header buttons alongside the search bar.

[2019-04-11 07:32] gharms80 commented on #9960
Fixed for me, see here: https://github.com/Crivaledaz/Mattermost-LDAP/issues/24

[2019-04-11 13:03] amyblais commented on #10219
Hi @alecisec, apologies for not being able to resolve this case... I'll close this issue for now as there is a workaround.

[2019-04-11 13:03] #10219 closed

[2019-04-11 13:04] #10358 closed

[2019-04-11 13:06] amyblais commented on #10463
Thank you for opening the feature requests!

[2019-04-11 13:06] #10463 closed

[2019-04-11 13:10] jwilander commented on #10325
Hi @checkaayush, are you still interested in working on this? If not I'll switch it to up for grabs

[2019-04-11 13:17] checkaayush commented on #10325
@jwilander I don't think I'll be able to work on this at present. Please make it up for grabs.

[2019-04-11 13:19] ali-farooq0 commented on #10410
Had a conversation with @lieut-data and @hmhealey and settled on adding `KVCompareAndSwap(key string, old []byte, new []byte) *model.AppError` instead of the initial proposal.

Conversation:
https://community.mattermost.com/core/pl/w69gts46p7dwm84epsm7i9gtjc
https://community.mattermost.com/core/pl/6uu3qs3ccbgdzp7hdpzgpqqnno

[2019-04-11 14:54] amyblais commented on #10589
Thank you @harshilsharma, I'm able to reproduce this, but just checking with QAs on if this is a regression.

[2019-04-11 19:37] jake-tulip opened #10595 "Unauthorized analytics are running on a fresh install"
#### Summary

Hey guys, thanks so much for the hard work and effort you put into this open source project!

Mattermost server, has enabled segment.io analytics by default on a fresh install. There was no indication that I could see that gives the user warning or a choice. There _is_ an opt-out feature post-installation, but it should be opt-in since it seems not obvious and not authorized. (note I

[2019-04-11 19:55] amyblais commented on #10522
### v5.10 RC-4 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.10.0-rc4/mattermost-team-5.10.0-rc4-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2604)

[2019-04-11 19:57] amyblais commented on #10595
Hi @jake-tulip,

The documentation you shared outlines the reasons it's enabled and what data is collected.

This was forwarded to our product managers and they will take your feedback into consideration as we have plans to work on improving administrator on-boarding experience and our privacy policy.

Let us know any questions,

[2019-04-11 21:19] esethna opened #10596 "[Help Wanted] [MM-15073] Hide bot accounts from System Console > Users"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-11 21:26] jasonblais commented on #10543
A bot isn't a real user, so as an administrator I wouldn't actually expect bots to appear in a list of system users. As a result, I'm leaning towards hiding bots from System Console > Users list, instead of allowing one to disable bots on this page.

Instead, we'll hide bots from System Console > Users. https://github.com/mattermost/mattermost-server/issues/10596

[2019-04-11 21:26] #10543 closed

[2019-04-11 22:41] CooperAtive commented on #10596
I'll take this one.

[2019-04-11 23:07] jasonblais commented on #10596
Thanks @CooperAtive 👍 ;)

[2019-04-12 06:51] harshilsharma63 commented on #10589
@amyblais you may definitely confirm this, but from what I've experienced this didn't occur previously.

[2019-04-12 13:28] amyblais commented on #10589
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-15076.

[2019-04-12 18:43] CooperAtive commented on #10586
I'll take this one

[2019-04-12 19:11] saturninoabril commented on #10586
Sure, thanks @CooperAtive 🎉

[2019-04-12 22:50] CooperAtive commented on #10586
Looks like doing a test on this using the :hover pseudo class to add styling or show/hide and add styling will not work.

You can force elements to show, and force clicks on hidden elements, but you can't actually force the hover state. Cypress has had an open [issue](https://github.com/cypress-io/cypress/issues/10) on this for many years.

[2019-04-13 14:04] tylarb commented on #10325
I'd like to take a look at this @jwilander

[2019-04-13 22:18] jasonblais commented on #10589
@harshilsharma huge thanks for your report! Will triage with our team on Tuesday.

Wondering if you'd be open to helping with a fix for it?

[2019-04-14 21:54] esethna opened #10603 "[Help Wanted] [MM-14842] Desktop app: Clicking the tooltip button dismisses the tooltip (Windows)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-14 21:57] jasonblais commented on #10603
@kosgrz will take a look at it :)

[2019-04-15 08:37] #10471 closed

[2019-04-15 08:40] saturninoabril commented on #10586
Yes, you're right.  Can you think of an alternative approach for this test case?  Maybe checking if the sidebar channel is highlighted or not is not feasible.  I'm thinking if we could just test if it has "remove button" or not.
- for private/public channels - should not have remove button
- for DM.GM channels - should have remove button

Any thoughts?

[2019-04-15 10:36] winmasta opened #10605 "Can't send direct message via API"
#### Summary
Trying to send direct message but didn't succeed

#### Steps to reproduce
API v4
First I have tried to send direct message via POSTS endpoint wit body:
{"channel_id": "o5o44zkpcjgnumq38k1eyzsxrw", "message": "123"} where
o5o44zkpcjgnumq38k1eyzsxrw is system admin user ID
and I've got "You do not have the appropriate permissions" but my user is system admin

Next I've tried to create d

[2019-04-15 11:49] esethna opened #10606 "[Help Wanted] [MM-8737] Add Go code samples to API reference for user endpoints"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-15 12:03] esethna opened #10607 "[Help Wanted] [MM-15106] Add Go code samples to API reference for file endpoints"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-15 12:03] esethna opened #10608 "[MM-15104] Add Go code samples to API reference for team endpoints"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-15 12:03] esethna opened #10609 "[Help Wanted] [MM-15105] Add Go code samples to API reference for plugin endpoints"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-15 12:24] esethna opened #10610 "[Help Wanted] [MM-14726] When searching, and there are no disabled bots returned by search, hide the Disabled section break"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-15 16:36] amyblais commented on #10605
Hi @winmasta,

What Mattermost server version are you on? Can you post the full errors you're seeing?

[2019-04-15 20:42] bdsweet commented on #10583
I'll work on this.

[2019-04-16 04:07] prapti commented on #10576
I'll take this one?

[2019-04-16 05:32] prapti commented on #10576
I'll take this one

[2019-04-16 05:47] prapti commented on #10575
I'll take this one

[2019-04-16 06:13] saturninoabril commented on #10576
Great, thanks!

[2019-04-16 06:14] saturninoabril commented on #10575
Sure, thanks!

[2019-04-16 07:28] hanzei commented on #10583
Thanks @bdsweet. Let me know, if you have questions.

[2019-04-16 07:37] esethna opened #10612 "[MM-15113] UI Automation: Write an automated test using Cypress for "Click another user's emoji reaction to add it""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 08:43] esethna opened #10614 "[Help Wanted] [MM-15114] Migrate "Webhook.GetOutgoing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:13] esethna opened #10616 "[Help Wanted] [MM-15116] Migrate "WebHook.SaveIncomming" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10617 "[Help Wanted] [MM-15123] Migrate "WebHook.GetIncomingByChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10618 "[Help Wanted] [MM-15121] Migrate "WebHook.GetIncomingList" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10619 "[Help Wanted] [MM-15120] Migrate "WebHook.PermanentDeleteIncomingByChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10620 "[Help Wanted] [MM-15119] Migrate "WebHook.PermanentDeleteIncomingByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10621 "[Help Wanted] [MM-15118] Migrate "WebHook.DeleteIncoming" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10622 "[Help Wanted] [MM-15117] Migrate "WebHook.UpdateIncomming" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 09:18] esethna opened #10623 "[Help Wanted] [MM-15122] Migrate "WebHook.GetIncomingByTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 12:47] #10505 closed

[2019-04-16 14:42] esethna opened #10624 "[MM-13879] Add Edit profile button to RHS menu and own profile pop-over"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 17:28] esethna opened #10627 "In interactive dialogs, render autocomplete lists below the input field by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-16 17:43] jasonblais commented on #10627
@andreistanciu24 @asaadmahmood created a Help Wanted ticket for us to track this improvement

[2019-04-16 17:53] jasonblais commented on #10412
Thanks @fcorrea for the heads up and for sharing your existing work :tada:

[2019-04-16 20:22] bdsweet commented on #10583
@hanzei - the image load issue happens both for a successful post and for an ephemeral post in the case the webhook fails and sends a "system_ephemeral" broadcast.

For the ephemeral post, the web client attempts to use the override_icon_url in the ephemeral_message, but on the android mobile client it uses the system icon instead. What's the desired behaviour for the failure case?

[2019-04-16 23:00] #10522 closed

[2019-04-17 00:14] winmasta commented on #10605
```winmasta@mattermost:~$ docker exec -it mattermost-docker_app_1 mattermost version```
Version: 5.9.0
Build Number: 5.9.0
Build Date: Fri Mar 15 22:02:44 UTC 2019
Build Hash: 5ef499caae2bb751438b19151a9fcb4b27830bca
Build Enterprise Ready: true
DB Version: 5.9.0

```winmasta@winmasta-laptop ~ $ curl -X POST -i -H 'Authorization: Bearer MY_TOKEN' -d '{"channel_id": "o5o44zkpcjgnumq38k1eyzsxrw", "m

[2019-04-17 02:46] s4kh commented on #10614
Hi there, I'll try this one. Can you tell me a little bit about why are u migrating to sync, any reason for that?

[2019-04-17 03:53] maruTA-bis5 opened #10629 "System Emoji image (webapp/images/emoji) has license issue"
#### Summary
IANAL, I think that the system Emoji images are generated from Apple Color Emoji font.
But the images from that font may "All rights reserved" and distribution is violation of copyright law.

#### Possible fixes
We must change images to opensource one such as https://github.com/googlefonts/noto-emoji.

[2019-04-17 04:44] hanzei commented on #10583
The expected behaviour is the usage of `override_icon_url'. Could you please double check that the mobile client us behaving different and provide steps to reproduce? This seams like a bug.

[2019-04-17 08:16] hanzei commented on #10623
@liusy182 is working on this

[2019-04-17 08:26] jespino commented on #10614
@s4kh yes, in mattermost any request is already run asynchronously, and we were, in most cases, calling the "async" call and waiting for the result directly, which, at the end of the day, is the same than call it synchronously. The idea is remove the "Async" as default, and use the async approach explicitly where is needed.

[2019-04-17 09:29] s4kh commented on #10617
Also trying this one.

[2019-04-17 09:31] hanzei commented on #10617
Thanks @s4kh :tada:

[2019-04-17 09:40] s4kh commented on #10617
Do I have to return a pointer of `var webhooks []*model.IncomingWebhook` (&webhooks) or just the array?

[2019-04-17 09:49] hanzei commented on #10617
I'm not sure I get the questions. The return value should be `[]*model.IncomingWebhook`. Does this help?

Would you please try `go test -v -run='TestWebhookStore' ./store/sqlstore/`?

[2019-04-17 09:56] ninanung opened #10632 "Interactive dialog's describe text color is too dark to see."
#### Summary
In the few basic themes, interactive dialog's text is barely visible like this.
![](https://postfiles.pstatic.net/MjAxOTA0MTdfMTk1/MDAxNTU1NDkzNzExMjI2.ucBNckUpYgcZTv4rHF5sQbJ5iCjvm-7VF-5NKzbWKhYg.eONCI2oiUlGwF9sv38RuM51Ae0_zLc6kq-ZX7gRYyqwg.PNG.ninanung/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2019-04-17_%EC%98%A4%ED%9B%84_6.07.47.png?type=w773)
![](https://postfiles.pstatic.net/MjAxOTA0

[2019-04-17 10:05] s4kh commented on #10617
Ok, got it. Thanks for the quick reply.

[2019-04-17 13:43] amyblais commented on #10563
Hi @duynb, v5.10 is now officially released. Would you be able to upgrade to v5.10 and see if you still hit this issue?

[2019-04-17 14:37] ali-farooq0 commented on #10410
Created a PR for this
https://github.com/mattermost/mattermost-server/pull/10634

[2019-04-17 14:55] andresoro commented on #10616
Going to give this one a shot 👍

[2019-04-17 16:20] hanzei commented on #10616
Thanks @andresoro! :rocket: Let us know, if you have questions.

[2019-04-17 17:36] amyblais commented on #10629
Thank you @maruTA-bis5, I opened a ticket here for our team to address: https://mattermost.atlassian.net/browse/MM-15173.

[2019-04-17 17:51] amyblais commented on #10632
Thank you @ninanung, I opened a ticket for our UX team to look at: https://mattermost.atlassian.net/browse/MM-15174.

[2019-04-17 18:21] #10603 closed

[2019-04-17 20:09] andresoro commented on #10618
Worked on this one in the PR I submitted in #10635

[2019-04-17 21:16] gnufede commented on #10622
I'm going to give this one a try

[2019-04-18 02:23] esethna opened #10638 "[Help Wanted] [MM-14723] Add system console setting to enable/disable the creation of bot accounts using the REST API."
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 02:23] esethna opened #10639 "[Help Wanted] [MM-14877] In "Add Bot Accounts" page, add description above post:all setting replicating the UI in Manage Roles modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 02:23] esethna opened #10640 "[Help Wanted] [MM-15161] Add support for bots to create ephemeral messages"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 02:46] scottleedavis commented on #10640
I am interested in this one.  :)

[2019-04-18 02:53] jasonblais commented on #10640
@scottleedavis Awesome, thank you 🎉

[2019-04-18 05:33] hanzei commented on #10622
Thanks @gnufede :+1:

[2019-04-18 05:37] liusy182 commented on #10610
By following steps, I am not able to repro as of [this commit]( https://github.com/mattermost/mattermost-webapp/tree/6c53eb7f5cf4486482689adb226ab87a06c7ba65). Disabled section did not show up for me.

[2019-04-18 06:15] duynb commented on #10563
@amyblais ,

It's ok now.

More info:
 - When using `make package` from the server code, seem it's still the redirect loop.
 - When running `make build` in the webapp and copy all files in dist to the client directory in the server => it works fine.

Thank you very much for your support.

[2019-04-18 06:15] #10563 closed

[2019-04-18 06:52] yth0625 opened #10641 "Can't use ephemeral post api."
####  Summary
I always return a 403 error when using [this](https://api.mattermost.com/#tag/posts%2Fpaths%2F~1posts~1ephemeral%2Fpost) API.

#### Steps to reproduce
Server: Mattermost v5.10
1. Prepare a Personal Access Token (Admin account)
2. Call the [Post Ephemeral](https://api.mattermost.com/#tag/posts%2Fpaths%2F~1posts~1ephemeral%2Fpost) API
3. Receive a 403 response

#### Expected behavior
C

[2019-04-18 08:30] esethna opened #10642 "[MM-15194] Migrate "Emoji.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10643 "[Help Wanted] [MM-15192] Migrate "WebHook.AnalyticsOutgoingCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10644 "[MM-15193] Migrate "Emoji.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10645 "[Help Wanted] [MM-15191] Migrate "WebHook.AnalyticsIncomingCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10646 "[Help Wanted] [MM-15190] Migrate "WebHook.UpdateOutgoing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10647 "[Help Wanted] [MM-15189] Migrate "WebHook.PermanentDeleteOutgoingByChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10648 "[Help Wanted] [MM-15188] Migrate "WebHook.PermanentDeleteOutgoingByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10649 "[Help Wanted] [MM-15187] Migrate "WebHook.DeleteOutgoing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10650 "[MM-15185] Migrate "WebHook.GetOutgoingByChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10651 "[Help Wanted] [MM-15186] Migrate "WebHook.GetOutgoingByTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10652 "[Help Wanted] [MM-15184] Migrate "WebHook.GetOutgoingList" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 08:30] esethna opened #10653 "[Help Wanted] [MM-15183] Migrate "WebHook.SaveOutgoing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 09:16] #10558 closed

[2019-04-18 12:04] #10622 closed

[2019-04-18 13:25] esethna opened #10654 "Config migrate SAML keys and certificates"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 13:50] esethna opened #10655 "[Help Wanted] [MM-15198] Migrate "Channel.Get/GetFromMaster" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 14:58] amyblais commented on #10641
@maruTA-bis5 / @hanzei Do you know if there is a bug here?

[2019-04-18 15:08] hanzei commented on #10641
@cored Are you using team edition or enterprise edition?

[2019-04-18 15:27] cored commented on #10641
@hanzei Not sure, but I think you made a mistake with my handle?

[2019-04-18 17:57] brunoenten commented on #10328
I'd like to take this on.
The 255 varchar limit dates back to mysql < 5.03 (released in 2005). I think it's safe to assume that nobody will be using mattermost with that! :)

I want to follow @lieut-data suggestion but use "varchar(16384)" instead of "text" for maxsize = 0.
It's still arbitratry but it's safer than forcing the use of a mysql text/blob, which has consequences as @cpoile mentioned.

[2019-04-18 20:57] esethna opened #10661 "[MM-14719] Support converting user accounts to bot accounts through the CLI"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 21:07] esethna opened #10662 "[MM-14725] User deactivation flow for users who manage bot accounts"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-04-18 23:08] maruTA-bis5 commented on #10641
I tried in 5.10.0 Team Edition, there are no problem to send ephemeral message.

- Use mattermost/mattermost-preview:5.10.0 docker image
- Bearer token is a system admin's personal access token.
- user_id is the target user to display ephemeral message (not admin).

### Request
[code]

### Response
[code]

[2019-04-19 10:09] hanzei commented on #10641
Sorry @cored, I somehow pinged the wrong person.

[2019-04-19 16:34] andresoro commented on #10655
Going to work on this one.

[2019-04-19 18:12] andresoro commented on #10655
Hey @esethna should I add the commits that solve this to the same PR (#10635) I was working on a few days ago?

[2019-04-19 19:00] yth0625 commented on #10641
@hanzei I using enterprise edtion.

[2019-04-19 21:25] hanzei commented on #10040
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2522

[2019-04-19 21:25] #10040 closed

[2019-04-19 22:01] liusy182 commented on #10661
working on this

[2019-04-19 22:21] liusy182 commented on #10661
To clarify this issue is about both user-to-bot and bot-to-user conversion?

[2019-04-19 22:34] gupsho commented on #10644
I can take this.

[2019-04-19 23:36] renatopeterman commented on #10582
Hey guys, maybe I can help on this.
Looks like the method should be triggered somewhere (maybe on `setState` callback?) on both methods below on `NotificationSettingsMobileAndroid` class:

![Screenshot 2019-04-19 20 32 23](https://user-images.githubusercontent.com/2411367/56448061-a7de3780-62e2-11e9-8df8-4fbaa8fcbd6a.png)

Is it correct?

[2019-04-20 04:54] cannalee90 commented on #10470
I'll take this one

[2019-04-20 05:18] cometkim commented on #10572
Is there any possible route for accessing email or generated url from cypress?

[2019-04-20 06:12] hanzei commented on #10644
Thanks @gupsho! :+1: Let me know, if you have questions.

[2019-04-20 06:13] hanzei commented on #10661
That's correct @liusy182. Thanks for working on this! :rocket:

[2019-04-20 06:13] cometkim commented on #10155
I'll take this issue.

[2019-04-20 08:03] cometkim commented on #10155
`<NeedTeam/>` -> `loadProfilesForSidebar()` is the only dependency that the UI component depends directly on, otherwise other actions depend on actions in the list.

I'm not sure I should get rid of all dependencies from other actions.

[2019-04-20 08:10] cometkim commented on #10155
if we proceed with another migration task, the user_actions dependency will be removed as well.

[2019-04-20 18:34] jespino commented on #10641
ok, then is a permissions related problem, your user is system admin user?

[2019-04-21 01:22] saturninoabril commented on #10572
Yes, we're using inbucket as email testing application. That should be accessible by querying name of test user, e.g. `http://localhost:9000/mailbox?name=user-1`
<img width="1161" alt="Screen Shot 2019-04-21 at 9 19 22 AM" src="https://user-images.githubusercontent.com/5334504/56464209-f0970d00-6416-11e9-9f7f-19c85368892c.png">

[2019-04-21 01:25] saturninoabril commented on #10040
Thanks @sapnasivakumar for your contribution!

[2019-04-21 14:57] cometkim commented on #10572
oh, interesting! Thanks for the info @saturninoabril

[2019-04-22 02:00] bdsweet commented on #10583
Yeah, it's easy to reproduce. Just set up a slash-command like a GET to "example.com" which will return HTML that's not in the expected format. Then run the slash-command from the mobile app. It will show the system icon instead of the override icon since in notification.js it checks the system flag first, whereas on the web in post_profile_picture.jsx it only uses the system icon if the message h

[2019-04-22 04:16] BK1603 commented on #4554
I don't think I will be able to complete this anytime soon :sweat_smile: The past week I was busy with a fest in my college and a project that we had to submit, and the next month I have my finals, so if anyone has an eye on this they can work on this, if not then I'd gladly work on it but it will take some time. Sorry :sweat_smile:

[2019-04-22 05:06] yth0625 commented on #10641
@jespino yes i using system admin token.

[2019-04-22 12:58] amyblais commented on #10556
I'll close this issue for now as there hasn't been updates on this for a while,

[2019-04-22 12:58] #10556 closed

[2019-04-22 13:01] jasonblais commented on #10661
@liusy182 @hanzei This ticket is only for user-to-bot conversion.

We may later add the ability for bot-to-user conversion but need more thought around how authentication would work for the resulting user account.

[2019-04-22 13:02] amyblais commented on #10605
@maruTA-bis5 / @hanzei / @avasconcelos114 would one of you know if there is a bug here?

[2019-04-22 13:04] amyblais commented on #10584
@yuya-oc / @deanwhillier / @JtheBAB do you happen to know if this is a known issue on the desktop app?

[2019-04-22 13:07] maruTA-bis5 commented on #10605
Hi @winmasta, @amyblais.
The create direct messsage channel request is invalid.

### Request
Request body is array of _two user ids to be in the direct message_.
[code]
### Response
[code]
Field "id" is the DM channel's channel_id.
You specify this id to request payload of create post.

[2019-04-22 13:51] EmilLuta commented on #10642
I'd love to give this a go if that's alright.

[2019-04-22 14:05] winmasta commented on #10605
Now it's clear thanks.

[2019-04-22 14:05] #10605 closed

[2019-04-22 14:34] liusy182 commented on #10661
thanks @jasonblais ! I thought about bot-to-user as well. Shouldn't it be very similar to `mattermost user create` command where a list of mandatory fields needs to be provided (such as password).
e.g.
[code]
I am thinking of calling `userStore.Update(...)` then `userStore.UpdatePassword(...)` so that all the provided fields are correctly populated.

Are there anything additional that need to be c

[2019-04-22 14:40] jasonblais commented on #10661
@liusy182 For Mattermost instances that don't have email/password login enabled (e.g. they may have LDAP or SAML), converting a bot to a user account may be more difficult, or at least involve additional steps that would need to be considered.

[2019-04-22 14:41] jasonblais commented on #10661
Really appreciate your help on this improvement by the way!

[2019-04-22 14:47] deanwhillier commented on #10584
I'm afraid I don't yet have any experience with the Desktop App and proxies. We will have to look into it if others with more domain knowledge don't have a ready answer. @yuya-oc, @wget, @svelle, @hmhealey, thoughts?

[2019-04-22 15:22] #10325 closed

[2019-04-22 15:28] #10617 closed

[2019-04-22 15:38] jasonblais commented on #10433
Hey @lisakycho, were you able to resolve the errors you were seeing?

[2019-04-22 16:26] liusy182 commented on #10661
got it @jasonblais I think I can get the basic email/password auth working and return errors for other types of logins, just like how today's `mattermost user create` works. Should I proceed with that or defer it to future?

[2019-04-22 17:31] jasonblais commented on #10661
@liusy182 Interesting, that seems like a feasible approach to consider. Would you be open to creating two separate PRs, one for user-to-bot conversion and another for bot-to-user conversion?

In case the bot-to-user conversion takes longer time to review, I wouldn't want to block the progress on user-to-bot which is more clearly defined.

[2019-04-22 22:24] liusy182 commented on #10661
@jasonblais since both flows use the same command, I foresee there will be big code overlap. I will do user-to-bot first then. Once that is in I can follow up with bot-to-user with simple password use case.

[2019-04-22 22:26] jwilander commented on #10325
Thanks for working on this @tylarb !

[2019-04-22 22:37] kblaschke opened #10671 "Accessing any WebApp URL causes infinite 404 redirect loop"
#### Summary
Mattermost WebApp infinitely redirects to /error URL because all URLs raise a 404 Not Found error, including the error page.

#### Steps to reproduce
Using version 5.10.0. It is quite unclear how to reproduce the behaviour, but it seems to be related to a database/update issue. The only error logged on startup is:

```ERROR:  relation "idx_teams_description" does not exist```

The sam

[2019-04-22 22:42] jasonblais commented on #10661
@liusy182 I see, good to know. Agree with your approach, let's do that 👍

[2019-04-22 22:55] jasonblais commented on #10582
@renatopeterman Thank you for the PR! Sorry for missing your question earlier. I'll queue the pull request for review. 👍