[2019-08-12 13:05] cpanato opened #11854 "Create CircleCi pipeline for mattermost-server"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-12 13:17] cpanato opened #11855 "[Mattermod] Remove the build checks and add the docker image check"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-12 13:20] jasonblais commented on #11291
Thanks! Someone on our team reproduced as well, we'll look at adding docs for it. Appreciate the report @NgoHuy!

[2019-08-12 14:09] jozuenoon commented on #11814
I up for grabbing that :)

[2019-08-12 14:21] jwilander commented on #11814
Thanks @lpadgett and @jozuenoon

[2019-08-12 14:33] metanerd commented on #11853
I'll take this one.

[2019-08-12 14:42] jkl5616 commented on #10145
@hanzei @mkraft
Should UI handle both newer and older `/api/v4/channels/:channel_id/stats` api?
For example, for the older version of api, we can display original pinned post icon. Otherwise, we can display the icon with count.

[2019-08-12 14:44] mkraft commented on #10145
@jkl5616 Yes the UI should handle both older and newer versions and showing the original icon or the icon with count sounds sensible to me.

[2019-08-12 14:48] rofafor opened #11857 "Image preview of plain text URLs doesn't work with an external image proxy"
#### Summary
Image/link preview works with an external image proxy (atmos/camo) **only** when inline markdown is used.

#### Steps to reproduce
1. Setup and enable an external image proxy: atmos/camo with Mattermost 5.13
2. Paste a image link as inline markdown into a channel: `![alt](https://media.giphy.com/media/JpG2A9P3dPHXaTYrwu/giphy.gif)` - image metadata fetched using a proxied URL and prev

[2019-08-12 15:33] mkraft opened #11859 "Add make and/or CLI command to output added, removed, and changed key/values in the config JSON"
Now that the config JSON payload has been moved to the database, it is not as easily visible what config settings have been added, removed, and had their default values changed from one release to another. Ideally we would have a make and/or CLI command that that accepts two git tags or commit IDs and outputs:

* New config settings
* Removed config settings
* Updated default values

Bonus points

[2019-08-12 15:52] Domvel commented on #10686
I suggest to offcial include [MatterPoll](https://github.com/matterpoll/matterpoll) to Mattermost. It's a nice must-have feature. And in our case, we can't use plugins because there is a bug in the plugin feature of Mattermost. But anyway... this should be an official part of Mattermost. What do you think?

[2019-08-12 16:32] threepwood-mm commented on #11859
I'm interested in taking this issue

[2019-08-12 16:41] alexappsnet opened #11861 "Formatting for quoted text"
When answering the questions with > quoting it shows both the question and answer with the same text style and same alignment. It is hard to tell where the question ends and where the answer starts.

![image](https://user-images.githubusercontent.com/53881940/62881710-fd0ce180-bcf5-11e9-989a-6c9b3bebc055.png)

Result is:

![image](https://user-images.githubusercontent.com/53881940/62881738-0eee848

[2019-08-12 17:13] ethervoid commented on #8566
@hanzei I'll pick this one.

AFAIK we need to generate the `emoji_data.go` file inside the webapp directory but if that file is used by the server why is useful to store it in the webapp one if server can't have access to it?

Thank you!

[2019-08-12 17:44] amyblais commented on #11861
Hi @alexappsnet, do you see the same issue if you leave a space between the question and the answer?

[2019-08-12 17:50] alexappsnet commented on #11861
With the empty line, it is formatting just perfect! But the problem is that I am not the writer in our mattermost. I am the reader. So it would be nice if it can format even without an empty line.

![image](https://user-images.githubusercontent.com/53881940/62885988-c9cf5000-bcff-11e9-87f3-bebdd5e395a3.png)

[2019-08-12 17:54] amyblais commented on #11861
@alexappsnet, I believe this has always existed this way, so I'd encourage you to open an improvement request on our new ideas forum here: https://mattermost.uservoice.com/forums/306457-general. If you're interested in implementing this improvement, let us know.

[2019-08-12 18:09] alexappsnet commented on #11861
It seems this is a feature. A single > sign is enough in first line is enough. All multi-line text after this character is assumed as "quoted text". And the answer should be after the empty line. So, the empty line is the separator! Now I get it. But I should say it is confusing. It would be nice to have it natural without reading instructions.

[2019-08-12 18:09] #11861 closed

[2019-08-12 19:12] lieut-data opened #11862 "Mark manifest.[go|js] as a generated file"
The `manifest.go` and `manifest.js` files in the [starter plugin](https://github.com/mattermost/mattermost-plugin-starter-template) should leverage a `.gitattributes` file to configure `linguist-generated=true` and mark it as a generated file. Include a human readable comment in each file (by updating the manifest tool generating same) to the effect that this file is generated from the manifest.js

[2019-08-12 20:12] lieut-data opened #11863 "Add top-level `recover` to prevent a plugin panic from crashing the server"
In discussing [https://github.com/mattermost/mattermost-server/pull/11276](https://github.com/mattermost/mattermost-server/pull/11276), we identified the need to intercept panics from code triggered by plugin APIs and recover from them more generally. Use the code in the linked PR to illustrate the problem, but the solution should be generic so as to prevent the server from crashing when a plugin

[2019-08-12 21:41] hanzei commented on #8566
@hmhealey Can you help with the questions above?

[2019-08-12 22:07] jasonblais commented on #11721
We've investigated and should be fixed with https://github.com/mattermost/mattermost-server/pull/11027, scheduled for 5.14 release

[2019-08-12 22:29] hanzei commented on #10686
Hey @Domvel,

As the maintainer of MatterPoll I'v honoured by your world. Glad you enjoy this plugin! But it's not up to me to decide if MatterPoll should be pre-packed or not.

cc @aaronrothschild @jasonblais on this question

[2019-08-12 22:58] jasonblais commented on #10686
@Domvel what is the bug in plugins that's preventing you from installing Matterpoll?

[2019-08-12 23:01] amyblais commented on #11857
@hmhealey Do you have an idea on this?

[2019-08-12 23:36] aaronrothschild commented on #10686
@Domvel @hanzei The toolkit team is currently building out the "Integrations Marketplace" which will let us remove all pre-packaged plugins from being bundled with the server.  The marketplace will let you scroll through a dynamic list of available plugins for your current server version, and easily install them.  At first, only Mattermost controlled repositories/plugins will be in the marketplace

[2019-08-13 01:53] AGMETEOR commented on #11442
Thank you @saturninoabril , I will attempt this now.

[2019-08-13 02:12] Akito13 opened #11869 "Getting text/plain MIME type from .js of any Plugin"
#### Summary
JavaScript related MIME Type error, that does not make any sense.

#### Steps to reproduce
1. Change `Directory` and `ClientDirectory` of subsection `Plugins` within `config/config.json`
 from `./plugins` and `client/plugins` to `/opt/mattermost/plugins` and `/opt/mattermost/client/plugins`.
2. Change it back.

#### Expected behavior
Everything should work normally. I changed back wha

[2019-08-13 12:30] ethervoid commented on #8566
@hmhealey I've already generated a PR for this issue :)

[2019-08-13 12:32] amyblais commented on #11371
We haven't received feedback for a while so I'll close this issue for now. I hope you'll be able to provide logs and config settings if you still experience this issue.

[2019-08-13 12:32] #11371 closed

[2019-08-13 13:08] amyblais commented on #11869
@hanzei / @kosgrz Do you know if there is a bug here?

[2019-08-13 14:38] threepwood-mm commented on #11859
I'm trying to find an easy way to obtain the default config for a given mattermost version and so far the approach I like the most is running a docker container like this:
[code]

The output is a pretty printed version of the default config, which is a bit hard to compare with another one, but there's a change introduced in version `5.14.0-rc1` that allows getting a json representation of the conf

[2019-08-13 14:53] hmhealey commented on #8566
The solution in your PR (generate the file and copy it into the server if it can find it) works for me

[2019-08-13 14:58] hmhealey commented on #11857
Hi @rofafor. Do you have the [Enable Link Previews](https://docs.mattermost.com/administration/config-settings.html#enable-link-previews) setting enabled on your server? It's available in the Site Configuration > Posts section of the System Console. As of Mattermost 5.12, that setting needs to be enabled for previews of plain text image URLs to be displayed

[2019-08-13 15:00] zetaab commented on #11857
@hmhealey Enable link previews is enabled. However, the mattermost server itself does not have any internet access. Mattermost server should use image-proxy to download metadata information from images, but it is not using proxy for plain text URLs - its using proxy only if text contains https://github.com/mattermost/mattermost-server/blob/master/model/post.go#L467

[2019-08-13 15:36] ethervoid commented on #11862
@lieut-data I'd like to pick this one

[2019-08-13 15:52] lieut-data commented on #11753
@shieldsjared, heads up that we've made two changes:
* simplified the health checks just to use the built-in ping functionality that should be cross-platform compatibility. We're no longer attempting to send signals to Windows processes.
* reverted the pending 5.14 change that prevented disabling the health checks: it will remain possible to disable the health checks if necessary for the foreseeab

[2019-08-13 15:52] #11753 closed

[2019-08-13 16:02] shieldsjared commented on #11753
Thanks!!

[2019-08-13 18:41] jkl5616 commented on #9502
@amyblais Does this issue need more additional work?

[2019-08-13 18:46] amyblais commented on #9502
@jkl5616 We made a decision to revert the original feature PR from v5.14 because it was causing this bug: https://mattermost.atlassian.net/browse/MM-17618. We are too close to v5.14 release day to have time to fix the bug at this point.

[2019-08-13 18:51] jkl5616 commented on #9502
@amyblais Okay, then can I handle this as I am the original contributor of that PR?

[2019-08-13 18:52] amyblais commented on #9502
Sounds good, thank you.

[2019-08-13 18:58] lieut-data commented on #11843
Thanks for tackling the effort, @ethervoid! To answer your questions in order:
* You're right, this method could just be called `RegisterCommand`. The term `Command` never quite spoke to me as being equivalent to a `SlashCommand`, but it's probably better to be consistent.
* The server will invoke the plugin's implementation of `ExecuteCommand` via the RPC API. In order for the helpers to be able

[2019-08-13 22:59] Akito13 commented on #11869
I left the server running over night, returned to it, switched plugins back on within the System Console, restarted the server and it works now. (This way did not work before.) I have no idea what happened, as I didn't touch the server during that time. I don't know if this is closable, as it's not clear whether this issue was directly connected to Mattermost or not. It's getting weirder and weird

[2019-08-13 23:03] bbodenmiller commented on #11291
@amyblais this should really be reconsidered. Many Mattermost servers are not allowed to connect directly to internet for security purposes. By removing client-side link preview loading this feature is effectively permanently broken for all these users.

[2019-08-13 23:15] apexbryan commented on #11291
Agreed, this doesn't work well in security focused enterprise situations.

[2019-08-13 23:29] amyblais commented on #11777
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-17797.

[2019-08-13 23:34] amyblais commented on #11590
Opened a Help Wanted issue in API repo for anyone to document this helpful information: https://github.com/mattermost/mattermost-api-reference/issues/467.

[2019-08-13 23:34] #11590 closed

[2019-08-14 07:43] jozuenoon commented on #11863
I'm up for grabs :)

[2019-08-14 07:54] jkl5616 commented on #9406
@hanzei I think I can just apply "Center Text Channel" color as same as in Chrome to FireFox/Win10 and IE11/Win10 to match with themes. As IE11 does not supports alpha background, just calculating the background color and apply the color as face and track is a best way. Will this approach enough to solve the issue?

[2019-08-14 09:09] ethervoid commented on #11862
@lieut-data PR done, wait for review :)

[2019-08-14 11:12] ethervoid commented on #11843
Thank you @lieut-data for your answers :) I have more questions:

I've been thinking about the implementation so the idea is the following:

  1. The plugin' creator uses `p.Helper.RegisterCommand(command, func(..))
  2. The plugin' user types a command and the `p.Helper.ExecuteCommand` is called
  3. That method extracts the args and parses it into the `SlashCommandArgs`
  4. After that, the call

[2019-08-14 11:55] lieut-data commented on #11843
Hey @ethervoid!

With regards to your first question, it’s not possible to store a callback in the KV store — nor is it necessary. The helper code is part of the compiled binary, and just can just allocate, say, a map, to keep track of all the callbacks. It won’t conflict with other plugins. Consider using `sync.Map` to ensure safe access to the underlying structure if a plugin registers commands

[2019-08-14 12:43] hanzei commented on #11863
Thanks @jozuenoon :+1:

[2019-08-14 12:46] hanzei commented on #9406
The support of IE11 will be dropped with Mattermost `v5.16`. You don't have to worry about this special case.

[2019-08-14 13:58] amyblais commented on #11850
Hi @malteklaassen, our QAs tested this and couldn't reproduce this issue as described; they see expected behaviour on upcoming v5.14 release and also on v5.12.5:

 - With valid SMTP config: they receive the verification email and the success message as expected when testing the connection.
 - With invalid SMTP credentials they see error on testing connection and do not receive the email. ``Connect

[2019-08-14 13:59] amyblais commented on #11326
@developweekly It appears that this issue could be related to the ConnectionSecurity setting getting switched when set in the UI, which is fixed in v5.14: https://mattermost.atlassian.net/browse/MM-17393.

[2019-08-14 17:04] thephilz commented on #11291
I second this, @amyblais is there any chance for this to be reconsidered by the PM team? I think depending on environments 'scroll pop' is a better alternative than no image/video/youtube previews. This torpedos our usage of Mattermost, as other enterprise users mentioned our server too will never be connected to the external network; it's just IT and security policies. Proxy options are only clie

[2019-08-14 17:19] zetaab commented on #11291
We tried to fix this issue with image-proxy, but it does not work either. https://github.com/mattermost/mattermost-server/issues/11857

So currently there is no way to have gif/image/youtube support in mattermost, if mattermost does not have internet access.

[2019-08-14 18:29] jesperhansen17 commented on #11815
@ankitrgadiya, go ahead and do this one. Realise I need to get more experience on Kubernetes.

[2019-08-14 18:48] ankitrgadiya commented on #11815
@jesperhansen17 Sure.

[2019-08-14 19:50] esethna commented on #11291
Thanks all for the feedback. We understand the issues being faced here and I have created a follow-up ticket to investigate some potential options on our end: https://mattermost.atlassian.net/browse/MM-17825

More information on the decision can be found on the forums: https://forum.mattermost.org/t/link-previews-managed-server-side-in-v5-12-and-later/7712

[2019-08-14 20:09] #11823 closed

[2019-08-14 21:40] #11862 closed

[2019-08-14 22:11] hmhealey commented on #11857
Oh, I see. I didn't think that the image proxy might be involved with this as well.

The problem with the Mattermost server sending the plain text link through the image proxy is that it doesn't actually know that it should be looking for an image. The older logic was "dumb" since it just looked for an image file extension on the URL to identify images, but the new logic tries to actually identify

[2019-08-14 22:16] ylluminate opened #11883 "Add infinite scroll size option"
So happy that infinite scrolling is now available. This helps SO UNBELIEVABLY MUCH.

What needs to be done to implement a setting option to allow the system to change the default scroll buffer amount?

Also would it make sense to allow each user to customize their scroll buffer load size?

Also, it now makes sense to start talking about adding a local find function beyond just the normal search so

[2019-08-14 22:21] amyblais commented on #11708
### v5.14 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.14.0-rc3/mattermost-team-5.14.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2850/files)

[2019-08-15 00:13] lieut-data commented on #11862
Thanks, @ethervoid!

[2019-08-15 06:13] malteklaassen commented on #11850
Of course. I hope I managed to remove all secrets and identifiers ;)

[mattermost-config.json.txt](https://github.com/mattermost/mattermost-server/files/3504461/mattermost-config.json.txt)

[2019-08-15 08:11] #11718 closed

[2019-08-15 08:43] #10276 closed

[2019-08-15 08:47] saturninoabril commented on #10276
Thank you @eshyong for your contribution!

[2019-08-15 12:45] #11192 closed

[2019-08-15 13:07] amyblais commented on #11883
Thanks, appreciate your feedback @ylluminate.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and

[2019-08-15 15:21] #11814 closed

[2019-08-15 15:55] #11817 closed

[2019-08-15 18:12] AGMETEOR commented on #11442
@saturninoabril I have a draft PR up for this... working to complete migrations for all the other actions in `channel_actions.js`

[2019-08-15 18:28] marianunez opened #11893 "Add support for plugins to close the right-hand sidebar"
Currently, plugins can override the right-hand sidebar (RHS) with their custom component using the [registerRightHandSidebarComponent](https://developers.mattermost.com/extend/plugins/webapp/reference/#registerRightHandSidebarComponent) which returns a redux action they can dispatch to open the RHS.

The webapp should be extended to give the plugins the ability to also close the RHS as well by:

-

[2019-08-15 21:17] yevgenypats opened #11896 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers
- Continuous Fuzzing of master branch which will generate new corpus and look for new crashes
- Regression on eve

[2019-08-15 22:55] amyblais commented on #11896
Thanks, appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prior

[2019-08-15 23:22] amyblais commented on #11850
@malteklaassen

1. You could try setting ``SendEmailNotifications`` to True.
2. You could take a look at these troubleshooting steps: https://docs.mattermost.com/install/smtp-email-setup.html#checking-your-smtp-server-is-reachable.
3. There is a bug to be fixed in v5.14 that might affect this: https://mattermost.atlassian.net/browse/MM-17393.

Let me know if none of the above help and we'll contin

[2019-08-15 23:27] lieut-data commented on #10168
We're pivoting on this front with respect to the system console, since we don't want plugins to /completely/ replace their own configuration (we still want to programmatically render an enable/disable option). This ticket is subsumed by https://github.com/mattermost/mattermost-server/issues/10320.

[2019-08-15 23:27] #10168 closed

[2019-08-15 23:29] Lisenish commented on #11893
Can I take this one?

[2019-08-15 23:29] lieut-data commented on #9378
This ticket hasn't had traction, in part due to being underspecified. Closing for now, and we may revisit this in the future.

[2019-08-15 23:29] #9378 closed

[2019-08-15 23:38] lieut-data commented on #10684
This issue was reportedly fixed in https://gitlab.com/gitlab-org/gitlab-ce/issues/20720:

in webhooks.

[2019-08-15 23:38] #10684 closed

[2019-08-15 23:42] lieut-data commented on #11055
The difficulty with this ticket is that the GitHub plugin renders a left sidebar header component depending on the number of active teams. It doesn’t make sense to force open the team sidebar when plugins /could/ be a bit more intelligent. It might make sense to streamline this for plugins, but I’m no longer convinced it makes sense to assume the team sidebar should be shown.

[2019-08-15 23:42] #11055 closed

[2019-08-16 00:11] lieut-data commented on #11288
Sorry for the delay on this one, @manland. I can see the potential use case here, but as you suggest: it's a big new feature, and I'm not sure it makes sense to complicate things right now. We may revisit in the future.

[2019-08-16 00:41] marianunez commented on #11893
Sure! Thanks @Lisenish

[2019-08-16 01:03] lieut-data opened #11897 "System Console > Search doesn't return results for individual plugins"
The system console supports searching for settings, but doesn’t currently return any plugin-specific settings. The `generateIndex` method currently only examines the static admin definition, and doesn’t take into account the loaded plugins and their respective settings.

To remedy this, it will be necessary to pass the plugin schemas when invoking `generateIndex`. See the `makeGetPluginSchema` for

[2019-08-16 03:12] RajatVaryani commented on #10702
As first step of the story I am making changes on server side. To do so I have to remove USER_NAME_MIN_LENGTH constant from mattermost/mattermost-server/model/user.go. There's a method as well IsValidUsername which uses this constant. I somehow have to fetch the value from config. As the method is in the model package I am unable to do so. Can someone help me with a workaround for this? I am think

[2019-08-16 03:21] RajatVaryani commented on #11854
@tejashreecd

[2019-08-16 03:39] RajatVaryani commented on #11854
@tejashreecd and I would be pairing and working on this.

[2019-08-16 04:22] #10160 closed

[2019-08-16 09:21] malteklaassen commented on #11850
Setting `SendEmailNotifications` to `True` does indeed fix the problem, thank you :)
It seems a bit counterintuitive that the simple connection test would depend on the `SendEmailNotifications` setting though & it definitely shouldn't just fail silently while reporting success.
Have a wonderful end of the week.

[2019-08-16 09:21] #11850 closed

[2019-08-16 17:15] saturninoabril commented on #11751
Thank you @cdncat for your contribution!
Closing this now.

[2019-08-16 17:22] jasonblais commented on #10702
@RajatVaryani would the original PR submitted by a community member be helpful for this case? https://github.com/mattermost/mattermost-server/pull/11028

[2019-08-16 17:24] marianunez opened #11900 "Extend EnsureBot helper function to include bot images"
Bots may have a profle image and an icon that will show in the [LHS](https://docs.mattermost.com/process/training.html#lhs) of the webapp. The api offers separate calls to add these after bot creation.

The [EnsureBot](https://github.com/mattermost/mattermost-server/blob/baedcc856ff474e0a8e7082cf0b94f99c2b5f0cf/plugin/helpers_bots.go#L12) helper function currently creates a bot user and should be

[2019-08-17 04:06] RajatVaryani commented on #10702
@jasonblais I think that is not correctly implemented or my assumptions are incorrect. The method to validate the username is used across many places like importing bulk data of users, while creation of users, Creating and updating incoming webhook for channel. etc. So this config check must be implemented across all these places right? To do so we need to modify the existing method or create a ne

[2019-08-17 10:56] ankitrgadiya commented on #11855
I want to take this up.

[2019-08-17 12:20] #11708 closed

[2019-08-17 15:26] pradeepmurugesan commented on #11897
I can work on this ticket ✔️

[2019-08-17 16:18] metanerd commented on #11854
I would like to take this one, @RajatVaryani , is this fine with you?

[2019-08-17 16:38] hanzei commented on #11897
Thanks @pradeepmurugesan :+1:

[2019-08-18 10:40] RajatVaryani commented on #11854
@metanerd I have already started to work on it.

[2019-08-18 10:52] metanerd commented on #11854
@RajatVaryani Cool, thank you for letting me know.

[2019-08-18 16:50] sij507 commented on #11742
@saturninoabril I'll take this one

[2019-08-18 20:48] jasonblais commented on #10702
@mgdelacroix @hmhealey wondering if you had thoughts on the above note from @RajatVaryani?

[2019-08-18 23:52] saturninoabril commented on #11742
Sure and thanks @sij507!

[2019-08-19 01:22] lieut-data opened #11902 "Add support for introductory markdown paragraph in interactive dialogs"
Interactive Dialogs allow integrations to receive some form-styled input from users and have that input submitted back to the integration. To allow integrations to show more information in the dialog, dialogs should have an optional introduction message. This would be placed above the first element and below the title.

The `model.Dialog` struct should be extended in the server with an `Introducti

[2019-08-19 06:41] joriki opened #11903 "invite link invalidated by attempt to use it while logged in"
#### Summary
Following an invite link while logged in as another user invalidates the link but doesn't allow the new user to sign up.

#### Steps to reproduce
-- Using Mattermost server 5.13.2:
-- Enable email invitations (System Console > Authentication > Signup > Enable Email Invitations)
-- Invite someone by email (switch to team, Burger Menu > Send Email Invite) (e.g. invite yourself via anoth

[2019-08-19 08:46] cpanato commented on #11855
@ankitrgadiya go for it

[2019-08-19 10:31] joriki opened #11907 "deleted user continues to be shown until restart"
#### Summary
When a user is deleted via the command line, messages about them joining channels persist until the database is restarted.
#### Steps to reproduce
- Using Mattermost 5.13.2 and mysql 5.7.27:
- Create a new user. (The user is automatically added to the town square channel, and a message that they joined appears there.)
- Delete the user via the command line ([`mattermost user delete ne

[2019-08-19 12:30] szaimen commented on #4554
Any update on this?

[2019-08-19 13:37] lieut-data opened #11910 "Enforce minimum server version comment in `plugin/api.go`."
In `plugin/api.go`, we document the minimum required server version to use an API, e.g.:

[code]

This means that the API was first added to Mattermost 5.8, and simply won't be available in earlier versions.

Let's add a build-check that ensures this comment is present and well formatted as the last comment prior to all methods on the `API` interface. Methods without an explicit comment are implic

[2019-08-19 13:43] Remmi-Demmi opened #11911 "macOS App crash Internal error: webContents"
The mac app crashes on startup with a prompt window:

The Mattermost app quit unexpectedly. Click "Show Details" to learn more or "Reopen" to open the application again.
Internal error: webContents 'crashed' event has been emitted
->details:
Application: Mattermost 4.2.3
Platform: Darwin 18.7.0 x64
Error: webContents 'crashed' event has been emitted
    at WebContents.mainWindow.webContents.on (/A

[2019-08-19 13:44] lieut-data opened #11912 "Programmatically check plugin helpers minimum server version comment"
In `plugin/api.go`, we document the minimum required server version to use an API, e.g.:

[code]

This means that the API was first added to Mattermost 5.8, and simply won't be available in earlier versions. Methods without an explicit comment are implicitly supported in Mattermost 5.2 and later, though this is being separately improved as part of [https://mattermost.atlassian.net/browse/MM-17889]

[2019-08-19 13:47] #11815 closed

[2019-08-19 15:11] hmhealey commented on #10702
Yeah, we'll likely need to modify or use a new function everywhere that it's used since the current version doesn't have access to the server's config.

I agree that we'll probably need to replace the existing function everywhere that it's called. The easiest way to do that would be to add an `app.isValidUsername` method like in the previous PR and call it everywhere, but that only works if we're

[2019-08-19 15:18] hanzei commented on #8092
Fixed with https://github.com/mattermost/mattermost-webapp/pull/2333 and https://github.com/mattermost/mattermost-server/pull/10170. Thank you very much @ejachang :tada:

[2019-08-19 15:18] #8092 closed

[2019-08-19 15:24] #11743 closed

[2019-08-19 15:25] saturninoabril commented on #11743
Thank you @metanerd!
PR merged.  Closing this now.

[2019-08-19 16:44] #11724 closed

[2019-08-19 16:44] #11721 closed

[2019-08-19 16:44] #11616 closed

[2019-08-19 16:45] amyblais commented on #11896
Thank you for raising a feature request ticket for this. I'll close this issue for now as it can be followed in the feature idea forum.

[2019-08-19 16:45] #11896 closed

[2019-08-19 16:55] amyblais commented on #11911
Hi @Remmi-Demmi,

1. Have you clicked “Show Details” on the dialog to get logs?
2. Please try clearing the cache via CTRL+SHIFT+R (or View > Clear Cache and Reload).
3. Please try going to App Settings (via CTRL+COMMA or File > Settings) and unselect hardware acceleration.

[2019-08-19 17:13] amyblais commented on #11903
Hi @joriki, I opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-17896. I think this behaviour has existed for a while.

[2019-08-19 17:31] nocord opened #11913 "request: use Preact instead of React"
Preact is more lightweight than React. Also not developed by Facebook. Which many people don't like.

[2019-08-19 18:00] amyblais commented on #11913
Thanks, appreciate your feedback @nocord.

Would you like to [upvote this existing request in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/suggestions/38006467-request-is-it-possible-to-use-preact-instead-of-r) so it can be discussed and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

[2019-08-19 18:10] amyblais commented on #11907
Hi @joriki, do you also still see the deleted user in member lists such as channel member lists until after restart?

Does the deleted user disappear when reloading or deleting cache or only when you restart the server?

By default, the client(s) in which your sessions are connected on do not get automatically refreshed to clear the existing cache after you deleted the user. In this way it is norm

[2019-08-20 07:14] cpanato commented on #11853
fixed in https://github.com/mattermost/docs/pull/2932

[2019-08-20 07:14] #11853 closed

[2019-08-20 07:33] Remmi-Demmi commented on #11911
Hi @amyblais
Thank you for your reply.
i posted the details in the original message:

Application: Mattermost 4.2.3
Platform: Darwin 18.7.0 x64
Error: webContents 'crashed' event has been emitted
at WebContents.mainWindow.webContents.on (/Applications/Mattermost.app/Contents/Resources/app.asar/main_bundle.js:601:11)
at emitTwo (events.js:126:13)
at WebContents.emit (events.js:214:7)

I cant access

[2019-08-20 07:43] Remmi-Demmi commented on #11911
UPDATE: So it seems the app crashes once i have plugged in my external monitor (DP to usb-c) once its disconnected the app works as intended. i made sure to untick hardware acceleration and cleared the cache.
The problem is reproducible when i plug in my external monitor.

[2019-08-20 10:43] RajatVaryani commented on #10702
@hmhealey Let me do the changes and raise the PR.

[2019-08-20 11:50] lieut-data commented on #11627
@Ogek, would you still be interested in helping us change the behaviour here?

[2019-08-20 13:06] sourabkumarkeshri commented on #10075
Hey,I want to work on this

[2019-08-20 13:29] jwilander opened #11919 "Use github.com/banzaicloud/k8s-objectmatcher for all resource reconciliation comparisons"
The [Mattermost Operator](https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Part of the job of the operator is to make sure that all resources that the operator cares about for its installations/deployments are correct and up to date. If they are not correct or up to date, then we reconcile them. We do comparisons

[2019-08-20 13:49] gabrieljackson opened #11920 "Hide "Add to channel" option for users removed from a team"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-20 14:12] cpanato opened #11921 "Implement the Github Ping notification"
When creating the webhook in a Github repository, Github sends to the endpoint the Ping event to test if the endpoint is up and running.

Today when we setup this webhook using [mattermod](https://github.com/mattermost/mattermost-mattermod) we don't respond this ping event and the message fails, will be good to add this to validate if Github can send messages to Mattermod

Github Ping event docume

[2019-08-20 14:14] cpanato commented on #11921
@metanerd will be working on this

[2019-08-20 14:20] cpanato opened #11922 "Move mattermost-load-test pipeline to Circleci"
Currently, the repository [mattermost-load-test](https://github.com/mattermost/mattermost-load-test) is using a Jenkins pipeline

We would like to move that to Circleci
Some requirements:
- the step "Load Test on Kubernetes" should be removed when creating the Circleci
- and when we have a TAG "vX.Y.Z" we should build the load test docker image and push to docker hub. the PRs and master/branches s

[2019-08-20 14:21] cpanato commented on #11922
@metanerd will be working on this

[2019-08-20 14:33] cpanato opened #11923 "Add support to use AWS S3"
The [Mattermost Operator](https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently, the Minio is the backend to store all the files/images for a Mattermost installation. We would like to have the AWS S3 option

For this ticket implement the new fields to support the user to select AWS S3 instead of MinIO.
need t

[2019-08-20 14:35] cpanato opened #11924 "Add support to set mysql db backups"
The [Mattermost Operator](https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently, the mattermost operator does not support the backup for the DB, the user need to create using the manifests and controller for the presslabs mysql operator.

For this ticket implement the new fields and the code to support the de

[2019-08-20 17:00] ali-farooq0 opened #11925 "Display LHS bot Icon in web app"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-20 17:12] ali-farooq0 opened #11926 "Expose unsanitized configuration to plugins"
The `GetConfig` plugin API currently sanitizes the config (https://github.com/mattermost/mattermost-server/blob/master/app/plugin_api.go#L81), removing database credentials, etc.

Let's expose a `GetUnsanitizedConfig` that does not have this restriction. Note that it would be unsafe to change the behaviour of GetConfig as it exists today, in case plugins happen to forward this data to clients, hen

[2019-08-20 20:50] hanzei commented on #10075
Sure, thanks @sourabkumarkeshri :tada:

[2019-08-20 22:38] amyblais commented on #11911
@Remmi-Demmi What Mattermost server version are you on?

[2019-08-21 01:17] LoganOneal commented on #129
Still no fix four years later?

[2019-08-21 02:51] forkwhilefork opened #11927 "Slack import puts images in the wrong place"
#### Summary
Importing a Slack archive (including attachments pulled in with the slack-advanced-exporter) puts the attachments in the wrong place and owned by the wrong user.

#### Steps to reproduce
Version 5.14.0
1. export a Slack workspace to a zip file
2. use the slack-advanced-exporter to add the emails and attachments
3. use the Mattermost CLI to import this archive
4. try to look at picture

[2019-08-21 03:19] QamarFarooq commented on #11731
pr created https://github.com/mattermost/mattermost-plugin-demo/pull/59

[2019-08-21 03:21] rvillablanca commented on #11926
I have a little time so I'd like to take this task

[2019-08-21 07:35] bradjcoughlin opened #11929 "Add icons to user detail page"
### Summary

Add new icons to the user management page as specified in the design: https://invis.io/JTRSFRUQP9E#/361513001_User_Configuration_-_Default

The new icons need to be added to the icon library. SVGs can be found here:
https://materialdesignicons.com/icon/email-outline
https://materialdesignicons.com/icon/at
https://materialdesignicons.com/icon/shield-outline

Screenshot of the design ar

[2019-08-21 10:58] svelle commented on #11869
@Akito13 what Mattermost server version are you running?

Also could you provide some info on the machine where the server is running on? What OS is it and more important are the mime-types setup correctly?

[2019-08-21 11:31] sudheerDev commented on #11911
@Remmi-Demmi Can you check if you can replicate the issue on browser as well?  if it originates from webapp we can get better stack trace that way.

[2019-08-21 12:40] pbitty commented on #11910
Hello.  I am interested in working on this issue.  May I claim it?

[2019-08-21 13:24] omaximenco commented on #5072
@acataluddi @Tragen thank you guys, this background color makes the whole application ugly, pretty much to the point of switching to Slack :)

[2019-08-21 13:27] hanzei commented on #11910
Surely @pbitty, thanks for working on this :+1:

[2019-08-21 13:57] amyblais commented on #9222
Closing as this can be followed in the feature request forum,

[2019-08-21 13:57] #9222 closed

[2019-08-21 14:01] amyblais commented on #11326
Closing as the above ticket is fixed. Please re-open this issue if upgrading to v5.14 doesn't resolve the problem.

[2019-08-21 14:01] #11326 closed

[2019-08-21 14:02] amyblais commented on #11434
Closing as the above ticket is fixed. Please re-open this issue if upgrading to v5.14 doesn't resolve the problem.

[2019-08-21 14:02] #11434 closed

[2019-08-21 16:57] ankitrgadiya commented on #11924
I would like to take this up.

[2019-08-21 18:36] amyblais commented on #11927
@svelle Do you know if this is related to the new feature and if there is a bug here?

[2019-08-21 18:39] svelle commented on #11927
@amyblais not necessarily. I've had other customers use the importer just fine without any issues. Maybe it's dependant on from where the command was run. At least it looks to me from the paths noted above.

I'll try and repro tomorrow.

[2019-08-21 18:41] forkwhilefork commented on #11927
I believe I ran the command from `/root`, if that helps.

[2019-08-21 19:23] jasonblais commented on #9406
@jkl5616 Agree with Hanzei, I've updated the ticket to specify Firefox. We can focus on resolving this ticket for Firefox only.

Thanks for your help on this ticket!

[2019-08-21 20:08] patrickkang commented on #11929
Can I grab this one?

[2019-08-21 21:04] jozuenoon commented on #11919
I'm up for grabs!

[2019-08-21 22:57] alxsah commented on #11900
I would like to pick this up if possible.

[2019-08-21 23:02] marianunez commented on #11900
Thanks @alxsah 🎉

[2019-08-22 00:31] bradjcoughlin commented on #11929
@patrickkang indeed! All yours. Let me know if I can help.

[2019-08-22 08:03] #11054 closed

[2019-08-22 08:04] saturninoabril commented on #11054
PR has been merged.  Thanks @janvt!

[2019-08-22 10:40] joriki commented on #11907
Hi @amyblais ,

a simple page reload is enough to remove the user from the town square channel member list.

The message that the user joined persists after a page reload and even after "Clear Cache and Reload". It only disappears when the server is restarted. (I'd originally removed it by restarting the database server (`service mysql restart`); I just noticed that it's also removed by a mattermo

[2019-08-22 11:58] joriki commented on #11903
Hi @amyblais,

I just saw Miguel's comment on the bug ticket. I'm responding here because I can't reply there. Miguel writes:

This makes some (I believe invalid) assumptions about how people use computers. It doesn't work if two people share a computer (e.g. if they live together, or temporarily during a visit, or perhaps in an internet café) and one user (perhaps accidentally) remains logged in

[2019-08-22 12:22] Remmi-Demmi commented on #11911
@amyblais sry for the late reply. not sure how to find out. We are a company and i guess we run it on one of our servers. So far only i have this issue. the macOS app runs fine for others. If u need further details on the server i can consult our IT guys.
in the webapp it shows this info:

Mattermost Team Edition
All your team communication in one place, instantly searchable and accessible anywher

[2019-08-22 12:23] jwilander commented on #11919
Awesome, thanks @jozuenoon !

[2019-08-22 14:14] wiersgallak commented on #11903
@joriki Thank you for bringing this to our attention.  Since this was the original design of the feature and there is a work around of logging out of the first session on the computer after sending a refreshed invite link, any changes to this flow would be considered an improvement and would need to be scheduled for future work.

I agree that the current behavior is not especially obvious and does

[2019-08-22 20:43] hanzei commented on #11924
Thanks @ankitrgadiya

[2019-08-22 22:20] jwilander commented on #11923
@cpanato this is a duplicate of https://github.com/mattermost/mattermost-server/issues/11822 right?

[2019-08-22 22:25] #11813 closed

[2019-08-22 22:48] Lisenish commented on #11893
@marianunez Please take a look. Also, I have one question in MR about support of that action in the plugin.

[2019-08-23 00:31] marianunez commented on #11893
Thanks @Lisenish! What is the question you have?

[2019-08-23 02:44] somenet opened #11940 "webapp: custom profile fields + custom emoji - do not like eachother"
#### Summary
Adding custom emoji to custom profile fields wont render custom emoji, but will render built-in emoji.

#### Steps to reproduce
add custom emoji to a custom profile field, reload webapp.

#### Expected behavior
Custom emoji being rendered as are built-in emoji.

#### Observed behavior (that appears unintentional)
custom emoji are not being rendered until they are used elsewhere (e.g.

[2019-08-23 08:29] cpanato commented on #11923
yes looks like, closing

[2019-08-23 08:29] #11923 closed

[2019-08-23 08:42] Lisenish commented on #11893
@marianunez I've found that I forgot to submit review comment in the night yesterday 🤦‍♂. Here it is https://github.com/mattermost/mattermost-plugin-demo/pull/60#discussion_r316914531 but @lieut-data already addressed that issue in some way too.

[2019-08-23 10:59] #11742 closed

[2019-08-23 11:04] kartik0709 commented on #11920
Hi, I would like to work on this ticket. Can I have it?

[2019-08-23 11:33] hanzei commented on #11920
Sure, thanks @kartik0709 :+1:

[2019-08-23 12:40] jwilander commented on #11822
Hi @jkl5616 just checking on how this ticket is going? Let me know if you need any help

[2019-08-23 14:38] amyblais commented on #11940
Hi @somenet, are you using this plugin https://github.com/mattermost/mattermost-plugin-custom-attributes?

[2019-08-23 15:37] lieut-data opened #11945 "Improve mattermost-plugin-starter-template debugging"
The default webpack output for the [mattermost-plugin-starter-template](https://github.com/mattermost/mattermost-plugin-starter-template) generates minified source that is difficult to debug.

Introduce `debug-deploy` and `debug-dist` Makefile targets that improves source readability. See [https://forum.mattermost.org/t/non-minified-plugin-development/7807](https://forum.mattermost.org/t/non-minif

[2019-08-23 18:05] esethna opened #11946 "App slows down when opening a channel with large number of animated emoji"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 18:13] esethna opened #11947 "iOS13/Android Q Dark theme for Server URL and Login screens"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 19:44] esethna opened #11948 "React Native: Add an expand button to truncated markdown tables to improve discoverability"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 19:57] esethna opened #11949 "React Native: Improve responsiveness of Markdown tables on mobile"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 20:05] esethna opened #11950 "Improve the keyboard usability of the emoji picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 20:09] esethna opened #11951 "Improve the UX of the custom theme text box and color selectors"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 20:29] esethna opened #11952 "React Native: Add the option to convert public channels to private in the channel info screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 20:36] esethna opened #11953 "Add line numbers to code blocks that have syntax highlighting"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 20:38] esethna opened #11954 "Selecting an emoji from emoji picker should insert it at the cursor position"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 20:40] esethna opened #11955 "React Native: Cannot access "Server URL" field with iOS VoiceOver"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-23 23:47] BenKnigge commented on #9769
@RajatVaryani is it possible to use a db transaction to ensure that the move either succeeds  in full or fails in full?

[2019-08-24 00:20] lanre-ade commented on #11912
Hi @lieut-data, I'd like to tackle this ticket

[2019-08-24 05:21] BenKnigge commented on #10347
@jwilander @esethna  I'm interested in taking a look at this and have mentioned how I would go about taking care of the task on the "Developers : Performance" channel. The discovery of duplicate keys can be automated fairly simply using a tool such as https://www.percona.com/doc/percona-toolkit/2.1/pt-duplicate-key-checker.html

[2019-08-24 15:13] jespino opened #11956 "Use react-custom-scrollbars for System Console left-hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-24 15:46] jespino opened #11957 "Script to trigger HW tickets from JIRA "Help Wanted" fix version"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-24 15:46] jespino commented on #11957
Accidentally opened it

[2019-08-24 15:47] #11957 closed

[2019-08-24 19:06] PunitGr commented on #11956
Hey @jespino, I would love to take this up. :)

[2019-08-24 19:07] niklabh commented on #11956
@jespino  i would love to take this up

[2019-08-24 19:10] PunitGr commented on #11953
Hey @esethna, I would love to take this up :)

[2019-08-24 19:35] jespino commented on #11956
Awesome!

[2019-08-25 07:00] niklabh commented on #11956
https://github.com/mattermost/mattermost-webapp/pull/3530

[2019-08-25 11:13] renilJoseph commented on #11925
@ali-farooq0 hi, i started working on this. Could you please give some guidance. The column of User table is not getting updated.
`user, _ := a.Srv.Store.User().Get(botUserId)` - current value of user.BotLastIconUpdate is false. So i update it.
`user.BotLastIconUpdate = true
a.Srv.Store.User().Update(user, false)`
Then i read from db using the first command above, and user.BotLastIconUpdate is sti

[2019-08-26 04:50] harshilsharma63 opened #11959 "GetTeamMembers plugin API inluces deleted entities"
#### Summary
`GetTeamMember()` plugin API returns deleted entities as well.

#### Steps to reproduce
Call `GetTeamMember()` with a team and user combination which is deleted.

#### Expected behavior
`GetTeamMember()` shouldn't return deleted entities.

#### Observed behavior (that appears unintentional)
`GetTeamMember()` returns deleted entities as well.

#### Possible fixes
Include a flag `includ

[2019-08-26 04:51] harshilsharma63 commented on #11959
I'd be willing to implement this if Mattermost accepts this as a feature.

[2019-08-26 05:24] avishekkhanna opened #11960 "Jira filters misconfiguration (security Bug)"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-08-26 10:42] Vaelor commented on #11055
@lieut-data What exactly does 'more intelligent' plugins mean in this context?
I'm currently trying the mattermost-gitlab-plugin and I'm missing all the sidebar buttons with the counters. What would be an alternative to the view in the sidebar? The top part of the sidebar?

[2019-08-26 12:12] amyblais commented on #11960
@avishekkhanna Please submit vulnerability reports via responsibledisclosure@mattermost.com.

Please read our responsible disclosure policy here: https://mattermost.com/security-vulnerability-report/.

Thank you,

[2019-08-26 12:12] #11960 closed

[2019-08-26 12:40] jwilander commented on #10347
Sounds good @BenKnigge 👍

[2019-08-26 13:23] amyblais opened #11962 "Mattermost v5.15"
You can find key dates for v5.15 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### September 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### September 12th: Release Build C

[2019-08-26 13:34] svelle commented on #11927
@forkwhilefork I tested this locally and can confirm that the data is placed in the directory from which the command is called (e.g. /root/ if run as root user from home).
I'll open an issue for this and we'll see how we'll handle it from there.

Thanks again for reporting this!

[2019-08-26 14:12] Vaelor commented on #11055
@lieut-data Thanks for the clarification! Wasn't sure if that was what you meant :-)

[2019-08-26 18:34] skyvalleyhigherpraise opened #11963 "Desktop: Push Notification Actions"
#### Summary
When Mattermost is not in the foreground and a push notification is displayed, clicking the notification window triggers Mattermost to go to the channel, but does not bring it to the foreground focus.

#### Steps to reproduce
Click on a push notification once it pops.

#### Expected behavior
Bring app to the foreground and go to the channel.

#### Observed behavior (that appears unint

[2019-08-26 18:47] lieut-data opened #11964 "Route integration actions to plugins without hitting the network"
`DoActionRequest` in the `app` package detects a relative URL and automatically prepends the `SiteURL` to free plugins from having to do this drudgery. This improves plugin compatibility in environments where the `SiteURL` contains a subpath, but the plugin was not written to account for same.

However, the resulting URL must still be fully resolved: e.g. the server makes an HTTP connection to `ht

[2019-08-26 21:00] jespino opened #11967 "Test ticke for test help wanted tickets script"
This is a nice text

  * with a list
  * of
  * elements

and An ordered

  1. list
  1. of
  1. elements

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or qu

[2019-08-26 21:00] jespino commented on #11967
Test issue

[2019-08-26 21:00] #11967 closed

[2019-08-27 04:08] BK1603 commented on #4554
@hanzei I am back on this! Also I didn't have a lot of code to share from back then, it was just a basic template which I copy pasted from the docs. Also I know it's been a long time :sweat_smile:, but this time I intend on fixing this!

[2019-08-27 06:52] saturninoabril commented on #11752
Sure, thanks @valentijnnieman!

[2019-08-27 10:04] sudheerDev commented on #11911
@Remmi-Demmi Thanks for the report. Sorry for the delayed reply.

Couple more questions.
Is this specific to any channel?.
I see that your desktop screen is 4k. Can you scale down the resolution to say full HD and see if you can repo this?

[2019-08-27 11:34] guzo opened #11971 "Bulk export omits direct messages from a user to themselves"
#### Summary
Posts from a user to themselves are silently ommited in bulk exports (i.e. `bin/mattermost export bulk --all-teams data.json`), thus losing valuable information.

#### Steps to reproduce
In the MM webclient:
* `Ctrl+k <any_channel_name> <return>` to open a channel
* `lemon_curry` to write a server-unique message there
* `Ctrl+k <your_username> <return>` to open a DM channel with only

[2019-08-27 11:46] hanzei commented on #4554
Hey @BK1603,

Thanks for coming back to this! Looking forward to a snap package :tada:

[2019-08-27 14:18] #9507 closed

[2019-08-27 14:18] saturninoabril commented on #9507
PR has been merged.  Thank you @hahmadia for your contribution!

[2019-08-28 07:50] svelle commented on #11927
Bug report can be found [here](https://mattermost.atlassian.net/projects/MM/issues/MM-18061)

Running the mattermost binary as root is not recommended, though.

[2019-08-28 14:50] reflog commented on #11902
@tgkouras - good luck! Removing 'Up for Grabs' label.

[2019-08-28 15:43] kosimus opened #11981 "Privacy - Push notifications ignore the "ShowFullName" setting"
#### Summary
Push notifications ignore the "ShowFullName" setting, which generates a serious privacy problem.

#### Steps to reproduce
1. Use Mattermost version: 5.14.0 and mobile app version 1.22.1
2. Make sure you have a team mate with their full name present in their profile.
3. Make sure that "ShowFullName" in config.json is set to false.
4. Make sure your own display preferences for Teammate

[2019-08-28 22:46] amyblais commented on #11963
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18131.

[2019-08-29 04:06] patrickkang commented on #10465
Can i grab this one?

[2019-08-29 06:37] lexusag opened #11983 "can't read or delete very large channel"
#### Summary
can't read or delete very large channel

#### Steps to reproduce
post in channel about 1 000 000 messages

#### Expected behavior
someone in our company has setup automatic post in one channel and after i noticed it was too
 late

#### Observed behavior (that appears unintentional)
#trying to read messages in client
2019-08-29T09:19:04.016+0300    error   mlog/log.go:172 Unable to get

[2019-08-29 07:12] hanzei commented on #10465
Sure, please go ahead @patrickkang :+1:

[2019-08-29 07:33] #11842 closed

[2019-08-29 07:34] hanzei commented on #11842
Thanks for your contribution @MatthewDorner :tada:

[2019-08-29 10:09] #9399 closed

[2019-08-29 10:09] saturninoabril commented on #9399
PR recently merged.  Thanks @mjthomp95 for your contribution!

[2019-08-29 10:36] levb opened #11984 "Jira plugin: up for grabs issues (link)"
[Help wanted](https://github.com/mattermost/mattermost-plugin-jira/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22up+for+grabs%22+label%3A%22help+wanted%22) issues in the [Mattermost Jira plugin](https://github.com/mattermost/mattermost-plugin-jira) repository.

To see the full list, **[CLICK HERE](https://github.com/mattermost/mattermost-plugin-jira/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22up+f

[2019-08-29 10:46] levb opened #11985 "Autolink plugin: up for grabs issues (link)"
[Help wanted](https://github.com/mattermost/mattermost-plugin-autolink/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22up+for+grabs%22+label%3A%22help+wanted%22) issues in the [Mattermost Autolink plugin](https://github.com/mattermost/mattermost-plugin-autolink) repository.

To see the full list, **[CLICK HERE](https://github.com/mattermost/mattermost-plugin-autolink/issues?utf8=%E2%9C%93&q=is%3Aopen

[2019-08-29 12:03] amyblais commented on #11983
@lexusag Would you be open to reviewing this page and sending us the relevant information about your environment: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-08-29 12:55] lexusag commented on #11983
@amyblais
is it enough?
`centos-release-7-6.1810.2.el7.centos.x86_64
mysql  Ver 14.14 Distrib 5.7.24

mattermost version
Version: 5.13.0
Build Number: 5.13.2
Build Date: Wed Jul 24 17:25:26 UTC 2019
Build Hash: 9a8b0906fdbf2c2a309db2400f4bcc5902800e2c
Build Enterprise Ready: false
DB Version: 5.13.0

user OS
Windows 10 Pro 1903

Windows Desktop App version
4.2.1
`

[2019-08-29 13:13] cored commented on #11984
I have some bandwidth to work on this @levb

[2019-08-29 13:24] levb commented on #11984
@cored Welcome! Please feel free to pick a ticket from the link above, and comment there so that we know you are working on it.

[2019-08-29 13:30] BK1603 commented on #4554
@popey
A question, I was going through the next-cloud snap, and if I specify mysql as a part in the snapcraft.yaml file, will it always install mysql before installing Mattermost? As in even if the user already had a mysql server instance running on their server?

Also status regarding work: I am curently working on making a script for setting up mysql, to use it as a hook

Currently using mysql f

[2019-08-29 13:42] kdenz commented on #11946
Can I help on this? Thanks

[2019-08-29 15:05] kdenz commented on #11946
So I've successfully replicated this issue using my favorite :parrot: lol
![image](https://user-images.githubusercontent.com/12795428/63952085-7c016880-cab1-11e9-93e5-26c3b882fc51.png)
Now gonna try to optimize it

[2019-08-29 20:44] #11859 closed

[2019-08-29 21:17] jsha commented on #8316
Any updates on this? It seemed for a while like it was fixed, and more recently (in 5.11.0) it's not fixed anymore. It appears https://mattermost.atlassian.net/browse/MM-8408 is still open, so maybe the "fix" was accidental?

[2019-08-29 22:51] abdusabri commented on #9805
Hi!

I'm interested to help with this one.

I've a working proof of concept/draft implementation 🙂 (screenshots below)

As I'm new to the code base, I would probably need to ask a couple or so questions to know where/how best to implement some of the needed changes.

![image](https://user-images.githubusercontent.com/25670682/63981577-05b83280-cac0-11e9-9b94-c332fc1e89e2.png)

![image](https://use

[2019-08-30 04:08] jasonblais commented on #9805
This is exciting, thanks @abdusabri! Happy to help if you have questions. You can also join our public channels referenced in the ticket description for help

[2019-08-30 06:29] lindy65 commented on #8316
Hi @jsha

Thanks for the report! I can reproduce your issue on v5.13.3 but am not able to reproduce it on v5.14 or `master`. Would you be open to upgrading to the [latest server version](https://mattermost.com/download/) to see if the issue is fixed for you?

[2019-08-30 12:01] nfriend opened #11994 "Footer is not rendered in message attachments"
#### Summary
Footers are not rendered in [message attachments](https://docs.mattermost.com/developer/message-attachments.html).

#### Steps to reproduce

Send a message like this:

[code]

Mattermost version:

<img width="593" alt="Screen Shot 2019-08-30 at 8 58 39 AM" src="https://user-images.githubusercontent.com/1638631/64019015-64070480-cb04-11e9-9281-a4d3fe20def8.png">

#### Expected behavior

[2019-08-30 12:05] nfriend commented on #11994
Even though this issue is called out as a [known issue in the documentation](https://docs.mattermost.com/developer/message-attachments.html#known-issues), I was unable to find any reference to this issue on [UserVoice](https://mattermost.uservoice.com/forums/306457-general?query=footer) or [Jira](https://mattermost.atlassian.net/browse/MM-16539?jql=status%20%3D%20Open%20AND%20text%20~%20%22footer%

[2019-08-30 12:45] amyblais commented on #11983
@lexusag You can archive a channel from the channel settings > archive channel. You can also use these CLI commands: https://docs.mattermost.com/administration/command-line-tools.html#mattermost-channel.

What do you mean by not being able to read the channel?

[2019-08-30 13:21] lexusag commented on #11983
@amyblais when i trying open channel in client the channel displayed like it's empty and i got error in log file
[code]

[2019-08-30 15:02] mattermod opened #11997 "Replace usage of `.bind` in component constructors"
React sometimes needs help correctly binding `this` in component methods. Previously, this was done by using `.bind` to bind the method to the component in the constructor such as
[code]
but at some point, we gained the ability to define the methods as arrow functions to do this for us like
[code]

We should go through the web app and remove all usage of `.bind` for methods to avoid confusing newe

[2019-08-30 15:02] mattermod opened #11998 "Giphy Plugin: Improve experience when gif is loading"
Currently, when the user uses the `/giphy` slash command to search for a gif, there is no indication that we are waiting for a response from Giphy. Instead, nothing is shown until the response is received.

This also occurs when the user clicks the "Shuffle" action. Since there is no indication of the request being processed, the user may continue to click on "Shuffle", resulting in unnecessary AP

[2019-08-30 15:02] mattermod opened #11999 "Document how to set the max file size in the clamav docker image."
The default max file size for clamav is lower then the default max file size for Mattermost. This leads to a lot of reported issues where the antivirus plugin will reject files that are larger then 25MB, the default max size for clamav.

Documentation should be created and added to the installation process to increase the max file size in the clamav docker container to match the max file size in M

[2019-08-30 15:02] mattermod opened #12000 "Add tests for loadRecentlyUsedCustomEmojis action"
`loadRecentlyUsedCustomEmojis` in `actions/emoji_actions.jsx` in the web app could use unit tests. Feel free to refactor the function if necessary to make it easier to test.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with commun

[2019-08-30 15:02] mattermod opened #12001 "Remove addEmoji action"
`addEmoji` in `actions/emoji_actions.jsx` in the web app only wraps an action from mattermost-redux. We should remove it and have any components that called it instead dispatch the `createCustomEmoji` action themselves.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build serve

[2019-08-30 15:02] mattermod opened #12002 "Add tests for addUsersToChannel action"
`addUsersToChannel` in `actions/channel_actions.jsx` in the web app could use unit tests. Feel free to refactor the function if necessary to make it easier to test.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community membe

[2019-08-30 15:02] mattermod opened #12003 "Add tests for openGroupChannelToUserIds action"
`openGroupChannelToUserIds` in `actions/channel_actions.jsx` in the web app could use unit tests. Feel free to refactor the function if necessary to make it easier to test.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with communi

[2019-08-30 15:02] mattermod opened #12004 "Add tests for openDirectChannelToUserId action"
`openDirectChannelToUserId` in `actions/channel_actions.jsx` in the web app could use unit tests. Feel free to refactor the function if necessary to make it easier to test.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with communi

[2019-08-30 15:02] mattermod opened #12005 "Add tests for executeCommand action"
`executeCommand` in `actions/command.js` in the web app could use unit tests to ensure that it handles each command properly. Feel free to refactor the function if necessary to make it easier to test.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can di

[2019-08-30 15:02] mattermod opened #12006 "Remove saveConfig action"
`saveConfig` in `actions/admin_actions.jsx` in the web app only wraps an action from mattermost-redux. We should remove it and have any components that called it instead dispatch the `updateConfig` action themselves.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server,

[2019-08-30 15:02] mattermod opened #12007 "Channels will be marked as read if Mattermost is in focus behind an Ubuntu lock screen"
If the Mattermost application is in focus, content in the open channel is considered to be read even when the desktop is locked.

When posts come to the channel, the channel does not show as unread in other clients. I'm not sure if this is a known issue.

I reproduced this with Chrome and Ubuntu 16.0.4

Steps:
1. Open the Webapp in Chrome and open a test channel in Mattermost (ensure the app has t

[2019-08-30 15:02] mattermod opened #12008 "[Mattermod] Remove the build checks and add the docker image check"
<Mattermod>(https://github.com/mattermost/mattermost-mattermod) checks and wait for the build become green to create or update the Test servers (see: https://github.com/mattermost/mattermost-mattermod/blob/master/server/spinwick.go#L79) we would like to remove this check and check if the docker image is available. when it is available continue the mattermod process.

To complete this ticket we als

[2019-08-30 15:02] mattermod opened #12009 "Allow using external S3/MinIO instances with the Mattermost operator"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently when using the Mattermost operator you must have the minio-operator installed and you must use the Minio instance that creates. Some users may want to use S3 or an externally hosted MinIO instead.

For this ticket update the Clust

[2019-08-30 15:02] mattermod opened #12010 "Add option to use custom MinIO secrets for the Mattermost operator"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently, the Minio secrets are randomly generated. However, some users might want to define a custom secret.

For this ticket implement adding a field to the ClusterInstallation custom resource for the user to set a custom secret for Mini

[2019-08-30 15:02] mattermod opened #12011 "Add option for custom DB root/user password when using the mysql-operator for Mattermost operator"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently, the root/user password for the database are randomly generated. However, some users might want to define a custom password.

For this ticket implement adding a field to the ClusterInstallation custom resource for the user to set

[2019-08-30 15:02] mattermod opened #12012 "Implement Affinity for Mattermost operator"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently we have `Affinity` as a field in the type definition for a ClusterInstallation, however, this is not implemented to set mattermost to use specific nodes.

See the field here https://github.com/mattermost/mattermost-operator/blob/m

[2019-08-30 15:02] mattermod opened #12013 "Implement NodeSelector for mattermost-operator"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Currently we have `NodeSelector` as a field in the type definition for a ClusterInstallation, however, this is not implemented to set mattermost to use a specific node.

See the field here https://github.com/mattermost/mattermost-operator/b

[2019-08-30 15:02] mattermod opened #12014 "Use github.com/banzaicloud/k8s-objectmatcher for all resource reconciliation comparisons"
The <Mattermost Operator>(https://github.com/mattermost/mattermost-operator) is a Kubernetes operator that manages the lifecycle of a Mattermost installation.

Part of the job of the operator is to make sure that all resources that the operator cares about for its installations/deployments are correct and up to date. We do comparisons of the resources frequently using some custom code but there is

[2019-08-30 15:03] mattermod opened #12015 "OpenGraph results that change over time overwrite each other"
Prior to post metadata, we would always show the current OpenGraph preview for each link posted, but with post metadata, we store the OpenGraph preview at the time each post was made. Unfortunately, the logic in the client only stores one preview for each link, so if the same link was posted a month ago and then posted again today, both posts show the same OpenGraph preview even if the page change

[2019-08-30 15:03] mattermod opened #12016 "Increase minimum supported version of Safari to Safari 12 and remove Intl polyfill"
The minimum version of Safari in [our documentation](https://docs.mattermost.com/process/software-requirements.html?highlight=safari) is Safari 12, but we only require Safari 9 in the code that checks for browser version.

We should bump that version number to 12. At the same time, we can remove the polyfill for the Intl JavaScript API that was only needed to support older versions of Safari.

---

[2019-08-30 15:03] mattermod opened #12017 "Highlight matched text in search results"
Should be done on the mobile repo: https://github.com/mattermost/mattermost-mobile

Search results should have matching text highlighted as it does in the web app. This includes highlighting matching words, quoted phrases, emojis, hashtags, at mentions, and wildcards (such as `boat*` matching boats and boating). A full list of things that should be highlighted is here: https://github.com/mattermos

[2019-08-30 15:03] mattermod opened #12018 "Remove the show prop from the PopoverBar component"
The PopoverBar component is the bar at the bottom of a file preview that contains the Download and Get Public Link links for an uploaded file attachment
<img width="1177" alt="Screen Shot 2019-08-20 at 9 48 04 AM" src="https://user-images.githubusercontent.com/290303/64036281-19f93f80-cb53-11e9-89c9-6e9c6ba4fd13.png">
It used to only be visible when mousing over the modal, but that behaviour was r

[2019-08-30 16:05] jespino opened #12019 "Add typescript support for typescript to mattermost-plugin-starter-template"
Add support to use typescript in the plugins adding the changes need in the `.babelrc`, `webpack.config.json`, `.eslintrc.json` and `package.json` files, and adding the `tsconfig.json` file.

The approach expected here is to compile typescript through babel instead of through typescript directly, you can see an example of this in the PR [https://github.com/mattermost/mattermost-webapp/pull/3472,](

[2019-08-30 16:08] AGMETEOR commented on #11954
Hello @esethna just an update on this. I have made a working implementation that's still a bit rough on the edges and just needs some code refactoring. Otherwise, the emojis are now inserted where the cursor is.

[2019-08-30 16:37] skyvalleyhigherpraise commented on #11963
Thank you.  Tracking the updates.  Happen to have a timeline for when the fix version will be released?

[2019-08-31 05:53] RajatVaryani commented on #11854
@hanzei Can you please help us with the review?

[2019-08-31 09:57] kdenz commented on #11946
@enahum @esethna
Hi guys, I think I've found the solution, which to replace use of fresco with `react-native-fast-image`

Tried but doesn’t work
- Use RN 0.60 and update fresco from 1.10.0 to 2.0.0
- Reduce the same gif size from 12kb to 2kb

What I've tried that works is on the rn-0.60 branch, use `react-native-fast-image` 7.0.2 (requires rn 0.60) to replace the `<Image/>` component in emoji.js
-

[2019-08-31 14:49] kdenz commented on #12017
This one seems interesting, can I take it? Thanks
@jespino @enahum Actually who should I be @ing lol

[2019-08-31 14:53] enahum commented on #12017
@kdenz absolutely, go ahead

[2019-08-31 14:55] enahum commented on #11946
@kdenz was this on top of the rn-60 branch? feel free to submit a PR ;)

then we can focus on the server to optimize the images in general including gifs

[2019-08-31 15:02] #11893 closed

[2019-08-31 16:10] hanzei commented on #11854
@RajatVaryani I've pinged another developer for the review, as I'm not the right one to review.

[2019-08-31 20:13] alxsah commented on #11900
Apologies if this is a stupid question - could someone please clarify which format the images would be in, and whether they would have fixed dimensions?

I'm trying to understand whether any formatting/resizing of the images would be needed before passing them to the API. Thanks.

[2019-08-31 21:04] sij507 commented on #11747
@saturninoabril I'll take this one

[2019-09-01 05:14] pbitty commented on #12014
It looks like this is a duplicate of https://github.com/mattermost/mattermost-server/issues/11919.

[2019-09-01 19:02] niklabh commented on #12019
Can i take this up?

I have created a PR: https://github.com/mattermost/mattermost-plugin-starter-template/pull/64

[2019-09-01 19:37] hanzei commented on #12019
Thanks for working on this @niklabh :+1:

[2019-09-01 19:39] PunitGr commented on #11953
Hey @esethna, I was debugging and found that we are using `highlight.js` for rendering `markdown` and they don't have support for adding line numbers which is mentioned here: https://highlightjs.readthedocs.io/en/latest/line-numbers.html

On further search the work around could be either use https://github.com/wcoder/highlightjs-line-numbers.js/ or we use some other library for rendering code. :)

[2019-09-01 20:52] PunitGr commented on #11953
@esethna Hey, please check https://github.com/mattermost/mattermost-webapp/pull/3578.
This can also be a work around for this. 🙂

[2019-09-02 07:38] guzo commented on #11971
Thanks for your reply @amyblais. I have never used go, and as such I might not be the best person to implement a fix for that.

Just double-checking: is the feature idea forum a good place to re-report this, given that it seems to be a bug/poorly documented unexpected behavior in an existing feature, rather than an idea for a feature that does not exist yet?

[2019-09-02 09:00] Remmi-Demmi commented on #11911
@sudheerDev Hi! Sorry to replay so late.
In the meantime i just swapped my screen which solved the issue for me. Its the same screen model so i doubt this was a hardware related issue. The screen resolution is at 1440p here (same as the other screen i used)
Since i dont have the screen anymore i cant try a lower res to repo the issue. sorry for that.
All i can say is that i didnt change any driver

[2019-09-02 11:58] renilJoseph commented on #12010
hi, i would like to work on this. While trying to run mattermost-operator locally, i got the following error while starting up the MySQL Operator using -  `kubectl apply -n mysql-operator -f https://raw.githubusercontent.com/mattermost/mattermost-operator/master/docs/mysql-operator/mysql-operator.yaml`

**Error** : `ERROR failed to open raft store: listen tcp 92.242.140.2:10008: bind: cannot assig

[2019-09-02 13:53] mattermod opened #12030 "Replace config.json in mattermost team-edition helm chart with ENV variables."
Add support to use environment variables in mattermost team-edition [helm chart](https://github.com/mattermost/mattermost-helm/tree/master/charts/mattermost-team-edition).

The approach expected here is to replace the existing config.json and add support for MM_CONFIG environment variable. In steps:

- Remove config.json.
- Add the MM_CONFIG environment variable.
- Add option to support more MM_*

[2019-09-02 13:53] mattermod opened #12031 "Channel Members Dropdown does not Include Newly Joined User"
Channel Members drop down is missing a user that signed in since the last time the page was refreshed. Clicking on View Members shows all users with correct statuses as expected. Refreshing the page corrects the problem. Suspect that the Channel Members drop down is not listening for WS events that are fired when a new user joins the channel.

**Reproduction Steps:**
  * Sign into a server running

[2019-09-02 14:41] cpanato commented on #11921
closing fixed in https://github.com/mattermost/mattermost-mattermod/pull/47

[2019-09-02 14:41] #11921 closed

[2019-09-02 17:27] #10320 closed

[2019-09-03 05:22] goku321 commented on #11440
Hi @jespino I will not be able to work on this at the moment. Can you please put `Up For Grabs` label again? Thank you for your patience.

[2019-09-03 05:28] goku321 commented on #11441
Hi @jespino I will not be able to work on this at the moment. Can you please put `Up For Grabs` label again? Thank you for your patience.

[2019-09-03 06:35] jespino commented on #11441
@goku321 sure, no problem, thanks anyway :)

[2019-09-03 07:09] pradeepmurugesan commented on #11897
Proposed a solution and the implementation idea in the community. Waiting for the discussion and approval. https://community.mattermost.com/core/pl/1t6xg8wnyfbk3bsmhxuopwhqie

[2019-09-03 08:27] hanzei commented on #11440
Hey @goku321,

Thanks for the heads up. :+1:

[2019-09-03 15:38] ali-farooq0 commented on #11900
@alxsah the bot icon image is supposed to be `svg` format, any other formatting is rejected when setting the icon for a bot.
For profile image, I believe it can be any common image format `png, jpeg` you can see the [setProfileImage](https://github.com/mattermost/mattermost-server/blob/master/app/user.go#L874) api to see the validation there.

Nope, the underlying api should take care of that, if

[2019-09-03 17:04] cpanato commented on #12010
@renilJoseph Hello, thanks for willing to work on this
one question, do you have a k8s running cluster? is the kubeconfig setup?
if you run `kubectl get pod --all-namespaces` you can see the pods?

[2019-09-03 17:06] amyblais commented on #11981
This is fixed for the upcoming v5.15 release, to be released on September 16th.

[2019-09-03 17:06] #11981 closed

[2019-09-03 17:18] renilJoseph commented on #12010
Hi @cpanato . Its a minikube setup.
`kubectl get pod --all-namespaces` : i have checked it. For pod 'mysql-operator', 1/2 containers are ready, ie 'orchestrator' container inside pod 'mysql-operator' is showing the above error.
The raft error is seen when running the command `kubectl -n mysql-operator logs mysql-operator-0 orchestrator`

[2019-09-03 17:52] kosimus commented on #11981
Awesome, thank you :).

[2019-09-03 20:18] #11845 closed

[2019-09-03 21:55] abdusabri commented on #9805
Hi!

If I understand correctly, there would be a separate GH issue for E2E testing, right?

I'm finishing up a couple of unit tests, and should open a PR in a day or two 🙂

[2019-09-03 22:41] #11926 closed

[2019-09-03 22:56] jasonblais commented on #9805
@abdusabri Good question. E2E tests for webapp should be added where appropriate. You can find a quick contributions checklist, which might be a helpful reference point: https://developers.mattermost.com/contribute/getting-started/contribution-checklist/

[2019-09-03 23:07] amyblais commented on #11962
### v5.15 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.15.0-rc1/mattermost-team-5.15.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2933/files#diff-6d8bc7fdf1108df5a6734816051a32e3)

[2019-09-04 08:45] hanzei commented on #10464
Hey @hvhallmann,

Just want to sync up with you: Are you still interested in adding this feature for the mobile app?

[2019-09-04 08:48] abdusabri commented on #9805
Thanks @jasonblais for the clarification! Will work on E2E tests as well.

After I'd gone through the checklist and then https://developers.mattermost.com/contribute/webapp/end-to-end-tests/, section `Writing Specs`, point `4.` was what confused me a bit. 🙂

[2019-09-04 09:39] biva opened #12042 "Clicking on a file:// link does not work (usecase: synced files with several users)"
#### Summary
Clicking on a file:// link does not work for local folders.

I'm not sure if I should post this here or on https://github.com/mattermost/desktop

#### Steps to reproduce
- Create a link to a local file `[My local file](C:\Docs\locafile.docx)`
- Click on the link

#### Expected behavior
The file (or the folder) should be opened

#### Observed behavior (that appears unintentional)
- On

[2019-09-04 11:28] jasonblais commented on #9805
Let us know how we can clarify - is it regarding the `core staff Release Testing spreadsheet`?

[2019-09-04 11:41] hanzei commented on #10289
@kevinetienne Just want to touch bases: Can I help you in any way to get the tests going?

[2019-09-04 12:53] hvhallmann commented on #10464
Hey @hanzei,
I'm sorry, but I don't think I will have time in the next couple of weeks

[2019-09-04 13:04] hanzei commented on #10464
All fine! Thanks for the heads up and all you spend on the awesome feature :+1:

[2019-09-04 13:31] amyblais commented on #11971
Makes sense, I opened a bug ticket here: https://mattermost.atlassian.net/browse/MM-18215.

[2019-09-04 13:38] guzo commented on #11971
Thank you, @amyblais!

[2019-09-04 14:06] hanzei commented on #12015
@hmhealey Can you please add the appropriate labels to this issue?

[2019-09-04 14:07] hanzei commented on #12031
@esethna Can you please add the appropriate labels to this issue?

[2019-09-04 14:55] jespino opened #12043 "Add support for a generic error for Interactive Dialogs responses"
Interactive Dialogs ([https://docs.mattermost.com/developer/interactive-dialogs.html)](https://docs.mattermost.com/developer/interactive-dialogs.html)) allow integrations to receive some form-styled input from users and have that input submitted back to the integration via a specified URL.

After the user has submitted the input a request is sent to the integrations which checks the provided value

[2019-09-04 15:14] rcbat73 commented on #12018
Hello, I would love to help with this.

[2019-09-04 16:39] renilJoseph commented on #12010
@cpanato hi, any update ?

[2019-09-04 17:18] amyblais commented on #12042
Thanks, appreciate your feedback @biva,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll

[2019-09-04 17:44] biva commented on #12042
Done here: https://mattermost.uservoice.com/forums/306457-general/suggestions/38520490-enable-the-click-on-a-file-link

[2019-09-04 19:25] alxsah commented on #11900
@ali-farooq0 That makes sense, thanks again. I'll take a look at some of the existing validation.

[2019-09-04 20:06] abdusabri commented on #9805
Yes, this is what confused me a bit. Specially, stating that the tests should be written in the spec file after the keys in the spreadsheet, and then mentioning that `This information is stated in Github’s help-wanted ticket and Jira ticket.`

Maybe adding a note that this point doesn't apply to non-`Area/E2E Tests` tickets and contributors should add E2E tests as/where appropriate will make it ex

[2019-09-04 20:24] #12019 closed

[2019-09-04 22:14] amyblais commented on #12042
Thank you! Closing this as this can be tracked via the feature request,

[2019-09-04 22:14] #12042 closed

[2019-09-05 00:37] pbitty commented on #12043
@hanzei, I would like to work on this one.  May I claim it?

[2019-09-05 02:32] hanzei commented on #12043
Sure, please go ahead. Let me know, if you have any questions.

[2019-09-05 02:33] pbitty commented on #12043
Thank you.  Will do.

[2019-09-05 10:24] cpanato commented on #12010
@renilJoseph I was OOO yesterday
this is not an issue with mysql operator, this looks like more with your minikube deployment, i think you need to give more memory/cpu to minikube.

you also can run a local k8s with Kind which is more lightweight

[2019-09-05 11:20] mattermod opened #12047 "Refactor "cmd/mattermost/commands/utils.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `cmd/mattermost/commands/utils.go`.

The expected way to implement it is to open the file `cmd/mattermost/commands/utils.go`, look for all calls to `mlog.Inf

[2019-09-05 11:35] mattermod opened #12048 "Refactor "services/mailservice/mail.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `services/mailservice/mail.go`.

The expected way to implement it is to open the file `services/mailservice/mail.go`, look for all calls to `mlog.Info`, `mlo

[2019-09-05 11:40] mattermod opened #12049 "Refactor "store/sqlstore/channel_store.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/channel_store.go`.

The expected way to implement it is to open the file `store/sqlstore/channel_store.go`, look for all calls to `mlog.Info`

[2019-09-05 11:45] mattermod opened #12050 "Refactor "store/sqlstore/supplier_reactions.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/supplier_reactions.go`.

The expected way to implement it is to open the file `store/sqlstore/supplier_reactions.go`, look for all calls to `

[2019-09-05 11:50] mattermod opened #12051 "Refactor "store/sqlstore/supplier.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/supplier.go`.

The expected way to implement it is to open the file `store/sqlstore/supplier.go`, look for all calls to `mlog.Info`, `mlog.De

[2019-09-05 11:55] mattermod opened #12052 "Refactor "store/sqlstore/channel_member_history_store.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/channel*member_history*store.go`.

The expected way to implement it is to open the file `store/sqlstore/channel*member_history*store.go`, loo

[2019-09-05 11:59] #11761 closed

[2019-09-05 12:00] mattermod opened #12053 "Refactor "store/sqlstore/session_store.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/session_store.go`.

The expected way to implement it is to open the file `store/sqlstore/session_store.go`, look for all calls to `mlog.Info`

[2019-09-05 12:02] saturninoabril commented on #11761
Thanks @a-arias!  PR has been merged.

Closing this now.

[2019-09-05 12:05] mattermod opened #12054 "Refactor "store/sqlstore/post_store.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/post_store.go`.

The expected way to implement it is to open the file `store/sqlstore/post_store.go`, look for all calls to `mlog.Info`, `mlo

[2019-09-05 12:10] mattermod opened #12055 "Refactor "store/sqlstore/upgrade.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `store/sqlstore/upgrade.go`.

The expected way to implement it is to open the file `store/sqlstore/upgrade.go`, look for all calls to `mlog.Info`, `mlog.Debu

[2019-09-05 12:15] mattermod opened #12056 "Refactor "api4/system_test.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `api4/system_test.go`.

The expected way to implement it is to open the file `api4/system_test.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and

[2019-09-05 13:44] last-partizan opened #12057 "Webapp: Remove border on code blocks"
When using dark theme light gray border on code blocks looks a bit off.

![Screenshot from 2019-09-05 16-36-15](https://user-images.githubusercontent.com/301015/64346910-ab592d80-cffb-11e9-8634-713d56878e4e.png)

It can be fixed either by removing border in `.post code code`, or by adding dark border in dark colorschemes for code.

[2019-09-05 14:00] amyblais commented on #11983
@lexusag If it's a bot or integration that posts the messages, maybe you can request stopping using it for now and then trying to delete the channel.

Are you able to view the channel if you reload / clear cache?

[2019-09-05 14:37] amyblais commented on #12057
@last-partizan Would you be interested in opening a pull request for this for devs to review?

[2019-09-05 15:34] last-partizan commented on #12057
@amyblais yes, i can do it.

[2019-09-05 15:50] mattermod opened #12058 "Migrate tests from "app/plugin_hooks_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/plugin_hooks_test.go` file.

The expected way to migrate this is to

[2019-09-05 19:02] arshchimni commented on #12058
Hi. I am working in this. Will raise a pr when done

[2019-09-05 21:02] esethna commented on #11953
Hi @PunitGr commented in your PR

[2019-09-06 00:06] anuragbhd commented on #12018
As a first-time contributor, I am interested in fixing this and currently looking at the code for the same.

[2019-09-06 01:34] anuragbhd commented on #12018
Submitted my PR here: https://github.com/mattermost/mattermost-webapp/pull/3602 😀

[2019-09-06 05:04] lexusag commented on #11983
@amyblais we already stopped that bot, and after tuning mysql and encreasing server performance we can read messages in channel. but still can't delete it. is it okay to just delete it in mysql db?

[2019-09-06 07:46] jespino commented on #12058
Awesome! Thanks @arshchimni 🎉

[2019-09-06 09:20] mattermod opened #12062 "Migrate tests from "app/plugin_deadlock_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/plugin_deadlock_test.go` file.

The expected way to migrate this is

[2019-09-06 09:20] mattermod opened #12063 "Migrate tests from "app/authorization_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/authorization_test.go` file.

The expected way to migrate this is t

[2019-09-06 09:20] mattermod opened #12064 "Migrate tests from "app/command_mute_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the <testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/command_mute_test.go` file.

The expected way to migrate this is to

[2019-09-06 09:20] mattermod opened #12065 "Migrate tests from "app/opengraph_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/opengraph_test.go` file.

The expected way to migrate this is to go

[2019-09-06 09:20] mattermod opened #12066 "Migrate tests from "app/email_batching_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/email_batching_test.go` file.

The expected way to migrate this is

[2019-09-06 09:20] mattermod opened #12067 "Migrate tests from "app/notification_push_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/notification_push_test.go` file.

The expected way to migrate this

[2019-09-06 09:20] mattermod opened #12068 "Migrate tests from "app/import_functions_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/import_functions_test.go` file.

The expected way to migrate this i

[2019-09-06 09:20] mattermod opened #12069 "Migrate tests from "app/import_validators_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the <testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/import*validators*test.go` file.

The expected way to migrate this

[2019-09-06 09:20] mattermod opened #12070 "Migrate tests from "app/diagnostics_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/diagnostics_test.go` file.

The expected way to migrate this is to

[2019-09-06 11:22] jespino commented on #12014
@pbitty thanks, yes it is, I going to close it.

[2019-09-06 11:22] #12014 closed

[2019-09-06 11:24] #12058 closed

[2019-09-06 11:48] phillipahereza commented on #12062
I'll work on this

[2019-09-06 11:49] phillipahereza commented on #12063
I'll work on this

[2019-09-06 12:13] arshchimni commented on #12070
I'll give it a shot @mgdelacroix

[2019-09-06 12:13] jasonblais commented on #9805
@saturninoabril @lindalumitchell Heads up on above feedback with an opportunity to clarify our documentation -- specifically points 4 and 5 here: https://developers.mattermost.com/contribute/webapp/end-to-end-tests/#writing-specs

[2019-09-06 12:34] jespino commented on #12062
Great! thanks @phillipahereza!

[2019-09-06 12:35] jespino commented on #12063
Awesome! go ahead :)

[2019-09-06 13:11] mgdelacroix commented on #12070
Great, thanks @arshchimni!!

[2019-09-06 13:27] saturninoabril commented on #9805
@abdusabri @jasonblais Thank you for pointing out.  I'll update the documentation accordingly.

[2019-09-06 14:38] saturninoabril commented on #9805
PR submitted to improve the docs - https://github.com/mattermost/mattermost-developer-documentation/pull/359.  Let me know if that sounds good or if there's any comment.

[2019-09-06 15:02] sowmiyamuthuraman commented on #12065
Hey! May I work on this?

[2019-09-06 15:34] mgdelacroix commented on #12065
Sure @sowmiyamuthuraman, go for it!

[2019-09-06 15:57] Lumexralph commented on #12069
@mgdelacroix I will like to give it a try, what do you think?

[2019-09-06 15:59] mgdelacroix commented on #12069
Sure @Lumexralph, go for it!!

[2019-09-06 16:57] jespino commented on #12049
Awesome! go for it :)

[2019-09-06 17:08] #10735 closed

[2019-09-06 17:47] adarj commented on #12064
I would like to work on this one.

[2019-09-06 18:15] mgdelacroix commented on #12064
Great, thanks @adarj!!

[2019-09-06 18:53] natc66 opened #12076 "Leaving Channel on Desktop"
#### Summary
Cannot leave channel successfully on desktop app and browser.

#### Steps to reproduce
On macOS Mojave version 10.14.5
Mattermost desktop app (for macOS) version 4.2.3
Google Chrome browser version 76.0.3809.132

In the browser Mattermost and/or on the macOS Mattermost app, join a public channel and then use the dropdown options from the channel name to "leave channel."

#### Expected

[2019-09-06 19:59] phillipahereza commented on #12066
I'll work on this one

[2019-09-06 20:05] jespino commented on #12066
Great! Thanks @phillipahereza! 🎉

[2019-09-06 20:45] shanetrush opened #12080 "Latest version uprade 4.2.3 no longer tile flashes when new post is received. All settings are correct inclusive of Win. Please advise. Thanks."
#### Summary
Bug report in one concise sentence

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

#### Expected behavior
Describe your issue in detail

#### Observed behavior (that appears unintentional)
What did you see happen? Please include relevant error messages and/or screenshots.

#### Possible fixes
If you can, link to the line of code that might be res

[2019-09-06 21:02] amyblais commented on #12076
Hi @natc66, what Mattermost server version are you on?

[2019-09-06 21:08] natc66 commented on #12076
5.13.2 but we will be updating to 5.14.2 within the next week

[2019-09-06 21:11] amyblais commented on #12080
Hi @shanetrush, are you referring to the setting "Flash taskbar icon when a new message is received"? What Windows version are you on?

[2019-09-06 21:20] shanetrush commented on #12080
Absolutely correct. Win10 64-bit 1709 build. Thanks!

Shane Trush
SC, Denver Region

From: Amy Blais <notifications@github.com>
Sent: Friday, September 6, 2019 3:12 PM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Trush, Shane <Shane.Trush@ssa.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [mattermost/mattermost-server] Latest version uprade 4.2.3

[2019-09-06 22:14] amyblais commented on #12076
We fixed a bug related to this issue in v5.14: https://mattermost.atlassian.net/browse/MM-17281. Let's hope it's the same bug and that your issue gets resolved when you upgrade.

[2019-09-06 22:22] natc66 commented on #12076
Hopefully! I will follow up when we do upgrade. Thanks for responding!

[2019-09-06 22:42] abadojack commented on #12068
@mgdelacroix I'll give it a shot

[2019-09-06 22:53] mgdelacroix commented on #12068
Amazing! thanks @abadojack!!! :sparkles:

[2019-09-07 01:43] abdusabri commented on #9805
While working on E2E tests, I noticed an edge case that I would like to get a confirmation on.

It is case `(C)` in the figure below.

![Edge_Case](https://user-images.githubusercontent.com/25670682/64468135-1c463580-d121-11e9-9141-386a99e21c75.png)

If the markdown message has the image as a link, like `Mattermost/platform build status:  [![Build Status](https://travis-ci.org/mattermost/platform.

[2019-09-08 04:18] RajatVaryani commented on #12067
@mgdelacroix Can I own this up?

[2019-09-08 05:55] avasconcelos114 commented on #11952
Hey! :)

Thought I'd give this ticket a go and just submitted a PR for it

[2019-09-08 07:28] mgdelacroix commented on #12067
Definitely @RajatVaryani!!! :confetti_ball:

[2019-09-08 09:32] metanerd commented on #12030
I'll take this one.

[2019-09-08 10:57] hanzei commented on #12030
Nice, thanks @metanerd

[2019-09-08 17:34] niklabh commented on #12055
Here is a PR:

https://github.com/mattermost/mattermost-server/pull/12085/files

[2019-09-08 17:43] niklabh commented on #12056
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12086

[2019-09-08 17:45] niklabh commented on #12056
mLog is used once in this file to print i := 0 to 20. Does not seems to be doing anything useful. Can we remove the loop altogather?

	for i := 0; i < 20; i++ {
		mlog.Info(fmt.Sprint(i))
	}

[2019-09-08 17:59] niklabh commented on #12054
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12087

Also added new mlog.Int32 func

[2019-09-08 18:22] niklabh commented on #12053
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12088

[2019-09-08 18:49] niklabh commented on #12051
Here is a merge request: https://github.com/mattermost/mattermost-server/pull/12089

[2019-09-08 18:55] niklabh commented on #12050
Here is a pull request: https://github.com/mattermost/mattermost-server/issues/12050

[2019-09-08 19:02] niklabh commented on #12047
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12091

[2019-09-08 21:34] abdusabri commented on #9805
Adding a screen capture to illustrate better

![inline-markdown-8](https://user-images.githubusercontent.com/25670682/64494745-022b6500-d291-11e9-8ddc-4331077346a5.gif)

[2019-09-08 23:55] anuragbhd commented on #11998
@mattermod @mickmister @jespino

Isn't this functionality part of this third-party plugin?
https://github.com/moussetc/mattermost-plugin-giphy

If so, is it better to report the issue over at the plugin repo? Also, the above plugin is pure Go code. There's no JavaScript involved.

[2019-09-09 00:12] anuragbhd commented on #12006
@mattermod What's the reasoning behind the suggestion? All actions in `actions/admin_actions.jsx` wrap a corresponding action from mattermost-redux.

_Disclaimer: I'm still getting warmed by with the codebase, so please excuse me if answer to my question is too obvious 😉._

[2019-09-09 00:16] anuragbhd commented on #12001
@mattermod This is similar to #12006. Please see my comment there: https://github.com/mattermost/mattermost-server/issues/12006#issuecomment-529259608

[2019-09-09 00:22] anuragbhd commented on #11997
@mattermod I second this. A quick file search inside `./components/` dir revealed 56 files that are doing this. A little laborious, but I can take this up if there's consensus.

[2019-09-09 06:09] avasconcelos114 commented on #11948
Hey!

I thought I'd give this issue a shot and added the buttons following the design, but ran into a bit of a predicament

![image](https://user-images.githubusercontent.com/29700158/64506780-c1c0fb00-d313-11e9-90fa-3003afe4921d.png)

The button renders and works fine on tables as long as they don't extend to the full width of the channel, where it then gets clipped out (aside from the `moreRight

[2019-09-09 08:58] jespino commented on #11998
@anuragbhd Yes, but we like to centralize tickets in one single place, to easy the discovery from the community. About the tagging, yes, probably was my fault because I tagged it without been the original creator. I'll do the change, thanks for the heads up :)

[2019-09-09 09:15] anuragbhd commented on #11998
@jespino That makes a lot of sense. Thanks for clarifying.

[2019-09-09 09:56] eproxpgt opened #12096 ""@" sign is replaced with Message Notification feature on Italian Keyboard"
#### Summary
I can't no longer type the "@" sign if i'm using an italian keyboard.
It activates the "message navigation" feature.
I'm using V 5.14.1 and it started happening in V 5.14.0

#### Steps to reproduce
- type alt gr (right alt) +ò keys on an italian keyboard layout ( http://prntscr.com/p3o8c5 )
- Instead of adding "@" it will send you to message navigation
#### Expected behavior
@ should

[2019-09-09 11:25] mattermod opened #12097 "Migrate tests from "app/notification_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/notification_test.go` file.

The expected way to migrate this is to

[2019-09-09 11:25] mattermod opened #12098 "Migrate tests from "app/command_groupmsg_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/command_groupmsg_test.go` file.

The expected way to migrate this i

[2019-09-09 11:25] mattermod opened #12099 "Migrate tests from "app/oauth_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/oauth_test.go` file.

The expected way to migrate this is to go to

[2019-09-09 11:25] mattermod opened #12100 "Migrate tests from "app/channel_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/channel_test.go` file.

The expected way to migrate this is to go t

[2019-09-09 11:25] mattermod opened #12101 "Migrate tests from "app/export_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/export_test.go` file.

The expected way to migrate this is to go to

[2019-09-09 11:25] mattermod opened #12102 "Migrate tests from "app/plugin_api_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/plugin_api_test.go` file.

The expected way to migrate this is to g

[2019-09-09 11:25] mattermod opened #12103 "Migrate tests from "app/command_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/command_test.go` file.

The expected way to migrate this is to go t

[2019-09-09 11:25] mattermod opened #12104 "Migrate tests from "app/post_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/post_test.go` file.

The expected way to migrate this is to go to t

[2019-09-09 11:25] mattermod opened #12105 "Migrate tests from "app/file_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/file_test.go` file.

The expected way to migrate this is to go to t

[2019-09-09 11:25] mattermod opened #12106 "Migrate tests from "app/post_metadata_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/post_metadata_test.go` file.

The expected way to migrate this is t

[2019-09-09 11:32] #12067 closed

[2019-09-09 11:40] mattermod opened #12107 "Refactor "api4/websocket.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `api4/websocket.go`.

The expected way to implement it is to open the file `api4/websocket.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in c

[2019-09-09 11:40] mattermod opened #12108 "Refactor "api4/system.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `api4/system.go`.

The expected way to implement it is to open the file `api4/system.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases w

[2019-09-09 11:40] mattermod opened #12109 "Refactor "jobs/jobs.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `jobs/jobs.go`.

The expected way to implement it is to open the file `jobs/jobs.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases where

[2019-09-09 11:40] mattermod opened #12110 "Refactor "jobs/jobs_watcher.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `jobs/jobs_watcher.go`.

The expected way to implement it is to open the file `jobs/jobs_watcher.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc an

[2019-09-09 11:40] mattermod opened #12111 "Refactor "wsapi/websocket_handler.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `wsapi/websocket_handler.go`.

The expected way to implement it is to open the file `wsapi/websocket_handler.go`, look for all calls to `mlog.Info`, `mlog.De

[2019-09-09 11:40] mattermod opened #12112 "Refactor "jobs/schedulers.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `jobs/schedulers.go`.

The expected way to implement it is to open the file `jobs/schedulers.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in

[2019-09-09 11:40] mattermod opened #12113 "Refactor "app/file.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/file.go`.

The expected way to implement it is to open the file `app/file.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases where `

[2019-09-09 11:40] mattermod opened #12114 "Refactor "app/notification_push.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/notification_push.go`.

The expected way to implement it is to open the file `app/notification_push.go`, look for all calls to `mlog.Info`, `mlog.Debug`

[2019-09-09 11:40] mattermod opened #12115 "Refactor "app/email_batching.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/email_batching.go`.

The expected way to implement it is to open the file `app/email_batching.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc

[2019-09-09 11:40] mattermod opened #12116 "Refactor "app/security_update_check.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/security*update*check.go`.

The expected way to implement it is to open the file `app/security*update*check.go`, look for all calls to `mlog.Info`, `mlo

[2019-09-09 11:43] #12063 closed

[2019-09-09 12:00] levb opened #12117 "Github plugin: up for grabs issues (link)"
[Help wanted](https://github.com/mattermost/mattermost-plugin-github/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22up+for+grabs%22+label%3A%22help+wanted%22) issues in the [Mattermost GitHub plugin](https://github.com/mattermost/mattermost-plugin-github) repository.

To see the full list, **[CLICK HERE](https://github.com/mattermost/mattermost-plugin-github/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3

[2019-09-09 12:17] jasonblais commented on #9805
@abdusabri Good question, I'll ping @esethna for his thoughts

[2019-09-09 12:37] amyblais commented on #12080
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18386.

[2019-09-09 12:45] niklabh commented on #12107
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12118

[2019-09-09 12:50] amyblais commented on #12096
Thanks @eproxpgt, opened a ticket here: https://mattermost.atlassian.net/browse/MM-18388.

[2019-09-09 12:54] niklabh commented on #12108
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12119

[2019-09-09 13:05] niklabh commented on #12109
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12120

[2019-09-09 13:10] niklabh commented on #12110
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12121

[2019-09-09 13:11] hector2 commented on #12116
Hey! I'll do this if you don't mind.

[2019-09-09 13:13] niklabh commented on #12111
In this file there are highly formatted logs.

    mlog.Error(fmt.Sprintf("%v:%v seq=%v uid=%v %v [details: %v]", "websocket", r.Action, r.Seq, r.Session.UserId, err.SystemMessage(utils.T), err.DetailedError))

    mlog.Error(fmt.Sprintf("%v:%v seq=%v uid=%v %v [details: %v]", "websocket", r.Action, r.Seq, conn.UserId, sessionErr.SystemMessage(utils.T), sessionErr.Error()))

Changing will be bad f

[2019-09-09 13:23] niklabh commented on #12112
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12122

[2019-09-09 13:39] jespino commented on #12116
Great! Thanks @hector2! :tada:

[2019-09-09 15:06] sowmiyamuthuraman opened #12125 "go module unable to access 'https://git.apache.org/thrift.git/'"
#### Summary
While Running mattermost for development, the following error occurs
`fatal: unable to access 'https://git.apache.org/thrift.git/': Failed to connect to git.apache.org port 443: Operation timed out
go: error loading module requirements
go: git.apache.org/thrift.git@v0.0.0-20180902110319-2566ecd5d999: git fetch -f https://git.apache.org/thrift.git refs/heads/*:refs/heads/* refs/tags/*:

[2019-09-09 15:09] sowmiyamuthuraman commented on #12125
I resolved the issue by adding `replace git.apache.org/thrift.git => github.com/apache/thrift v0.12.0` in the go.mod file. Is this the correct way to do it?

[2019-09-09 15:21] niklabh commented on #12113
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12124

[2019-09-09 15:35] niklabh commented on #12114
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12126

[2019-09-09 15:41] niklabh commented on #12115
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12127

[2019-09-09 16:11] QamarFarooq commented on #12097
i will take this one guys

[2019-09-09 16:53] #12112 closed

[2019-09-09 16:57] mgdelacroix commented on #12097
Thanks @QamarFarooq!! :tada:

[2019-09-09 16:58] renilJoseph commented on #12010
I tried running Kind and its giving the same errors. I will try to debug it somehow. Any suggestion on how to go on ?
**System Spec:**
Number of CPU: 8
Memory: 16Gb
Processor: 2.5 GHz Intel Core i7

[2019-09-09 17:02] #11731 closed

[2019-09-09 17:35] amyblais commented on #11994
Ticket for reference: https://mattermost.atlassian.net/browse/MM-18430.

[2019-09-09 17:52] esethna commented on #9805
@abdusabri good question and good catch on finding this corner case. I would imagine that it should behave as it does now, so the link is opened but not the preview as in case (b).

[2019-09-09 18:10] #12065 closed

[2019-09-09 19:05] amyblais commented on #12125
Hi @sowmiyamuthuraman, would you be open to joining our [community server](https://community.mattermost.com) and then posting your question either in the [Developers channel](https://community.mattermost.com/core/channels/developers) or [Peer-to-peer channel](https://community.mattermost.com/core/channels/peer-to-peer-help)? One of our developers or other community members will most likely be able

[2019-09-09 19:11] amyblais commented on #11962
### v5.15 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.15.0-rc2/mattermost-team-5.15.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2933/files#diff-6d8bc7fdf1108df5a6734816051a32e3)

[2019-09-09 19:39] Lumexralph commented on #12069
@mgdelacroix A PR is up for this, kindly look into it and let me know what you think. Thanks.

https://github.com/mattermost/mattermost-server/pull/12129

[2019-09-09 20:06] Lumexralph commented on #12105
@mgdelacroix I would like to work on this.

[2019-09-09 21:05] abdusabri commented on #9805
Thanks @jasonblais and @esethna for the feedback. Will wrap it up accordingly 🙂

[2019-09-10 01:09] hanzei commented on #12105
Thanks @Lumexralph :+1:

[2019-09-10 04:46] Lumexralph commented on #12105
@hanzei Glad I could help.

[2019-09-10 06:40] #12050 closed

[2019-09-10 07:27] saturninoabril commented on #11747
Thanks @sij507 for your contribution!

PR has been merged.  Closing this now.

[2019-09-10 07:27] #11747 closed

[2019-09-10 09:42] #12051 closed

[2019-09-10 10:32] hanzei commented on #12053
Fixed with #12088

[2019-09-10 10:32] #12053 closed

[2019-09-10 12:30] amyblais commented on #11940
Hi @somenet, do you have an update on this?

If you are using the plugin I mentioned above, the documentation says that "The Name field can include Markdown, emojis and links." Does this apply in your case?

[2019-09-10 12:45] chahat-arora opened #12145 "Unable to message on freshly restored channel"
### Summary
When restoring a channel through the CLI command: `https://docs.mattermost.com/administration/command-line-tools.html#mattermost-channel-restore`
Then the users are not able to message in the channel for approx 15-20 minutes.

### Steps to reproduce

1. Archive a channel
2. Unarchive the channel using CLI command given above.
3. Now, try to message on the channel.
Server logs say 'Can

[2019-09-10 12:49] amyblais commented on #12145
Hi @chahat-arora, Would you be open to reviewing this page and sending us the relevant information about your environment: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-09-10 13:02] #11855 closed

[2019-09-10 13:06] chahat-arora commented on #12145
Done @amyblais

[2019-09-10 13:57] shanetrush commented on #12080
Thanks Amy! Appreciate your help. I’ve uninstalled and reinstalled MM. I’ve disabled and re-enabled the notification settings in both MM and Win. Thanks in advance. My colleague says the same (enabled but no tile flash).

Shane Trush
SC, Denver Region

From: Amy Blais <notifications@github.com>
Sent: Monday, September 9, 2019 6:38 AM
To: mattermost/mattermost-server <mattermost-server@noreply.gith

[2019-09-10 16:26] niklabh commented on #11920
Here is a pull request: https://github.com/mattermost/mattermost-webapp/pull/3634

Is it needed to be done for mattermost-mobile also?

[2019-09-10 19:07] wwalker opened #12150 "mattermost does not find URLs by fqdn"
text ~ "fqdn" and text ~ "search" order by created DESC

#### Summary
Searching for a fqdn that occurs in a URL does not show up in the results.  searching without the .com does return the results.  MySQL database

#### Steps to reproduce
Create a message with a URL in it:

"The meeting is in https://cisco.webex.com/cisco/j.php?"

search for cisco.webex.com

#### Expected behavior
The message woul

[2019-09-10 19:17] wwalker commented on #12150
The issue isn't really around fqdn.  If I search for : webex com
You get No results.  The point is that it is okay if search ignores a word because it is too common.  But, this isn't ignoring "com", it makes ANY query have No results.

I have a message that contains "how to reorg stuff so " .

If I search for reorg I get 2 message results.

If I search for :  reorg so

I get No results

So, it app

[2019-09-10 19:20] #12125 closed

[2019-09-10 21:20] niklabh commented on #11950
Hey, can i take this one?

[2019-09-10 22:02] amyblais commented on #12150
Hi @wwalker, Would you be open to reviewing this page and sending us the relevant information about your environment: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-09-10 22:23] #12110 closed

[2019-09-10 23:22] mjthomp95 commented on #12099
I can do this.

[2019-09-11 01:53] abdusabri commented on #9805
PR ready for review 🎉 🙂

[2019-09-11 02:56] jasonblais commented on #9805
Sweet! Will queue for review next

[2019-09-11 04:18] #11266 closed

[2019-09-11 05:09] scottleedavis commented on #10336
Code review issues created by @lieut-data have been resolved.
https://github.com/scottleedavis/mattermost-plugin-noexif/issues/3
https://github.com/scottleedavis/mattermost-plugin-noexif/issues/2

[2019-09-11 05:54] Lumexralph commented on #12105
@mgdelacroix a [PR](https://github.com/mattermost/mattermost-server/pull/12158) is up for this. I will appreciate any feedback. Thanks.

[2019-09-11 07:06] sowmiyamuthuraman commented on #12104
Can I work on this?

[2019-09-11 09:44] jespino commented on #12099
Great @mjthomp95! Thanks! :tada:

[2019-09-11 09:45] jespino commented on #12104
@sowmiyamuthuraman sure! go for it! :tada:

[2019-09-11 10:34] chahat-arora commented on #12103
Hey, I can do this.

[2019-09-11 11:06] #12108 closed

[2019-09-11 11:08] hanzei commented on #12111
@reflog Do you have thoughts on the concern above?

[2019-09-11 11:18] hanzei commented on #11922
Closing this. Thanks @metanerd :+1:

[2019-09-11 11:18] #11922 closed

[2019-09-11 11:25] hanzei commented on #10289
Making this one available for the public again due to inactivity.

[2019-09-11 11:30] hanzei commented on #9769
@RajatVaryani You want to check if you have any outstanding questions.

[2019-09-11 11:33] hanzei commented on #12116
Fixed with https://github.com/mattermost/mattermost-server/pull/12123

[2019-09-11 11:33] #12116 closed

[2019-09-11 11:33] #12107 closed

[2019-09-11 11:33] #12052 closed

[2019-09-11 11:38] hanzei commented on #11571
@irbrad Do you have any questions?

[2019-09-11 11:39] hanzei commented on #11749
Hey @jordeguevara, Do you have any questions about this ticket? Happy to help!

[2019-09-11 11:40] hanzei commented on #11759
Hey @EnriqueCer12, Do you have any questions about this ticket? Let me know, how I can help.

[2019-09-11 11:40] hanzei commented on #10686
This is resolved. Thank you very much @janvt :+1:

[2019-09-11 11:41] hanzei commented on #10686
This is resolved. Thank you very much @janvt :+1:

[2019-09-11 11:41] #10686 closed

[2019-09-11 11:41] hanzei commented on #9196
@aaronrothschild Gentle reminder about this issue

[2019-09-11 11:41] hanzei commented on #11439
Hey @AGMETEOR, just want to check if you are still working on this ticket

[2019-09-11 11:42] hanzei commented on #10470
Hey @Druthi, just want to check if you are still working on this.

[2019-09-11 11:43] hanzei commented on #10460
This issue is resolved. Thank you very much @goku321 :tada:

[2019-09-11 11:43] #10460 closed

[2019-09-11 11:43] hanzei commented on #10822
Making this one available for the public again due to inactivity.

[2019-09-11 11:44] hanzei commented on #11438
@imisshtml Are you still working on this?

[2019-09-11 11:44] hanzei commented on #10786
Hey @Alamin02, just want to check if you are still working on this

[2019-09-11 11:45] hanzei commented on #10412
Making this one available for the public again due to inactivity.

[2019-09-11 11:45] hanzei commented on #9432
@imisshtml Just want to check if you are still working on this

[2019-09-11 11:45] hanzei commented on #10232
@lisakycho Do you have any outstanding questions?

[2019-09-11 11:46] hanzei commented on #11053
Hey @bolariin,

Did you got your dev environment running?

[2019-09-11 11:46] hanzei commented on #10346
@cometkim Just want to check what the status of this issue is

[2019-09-11 11:47] hanzei commented on #10573
Making this one available for the public again due to inactivity.

[2019-09-11 11:47] hanzei commented on #11429
Hey @goku321, Do you have any questions about this ticket?

[2019-09-11 11:47] hanzei commented on #11241
@sapnasivakumar You want to know, if you are still working on this?

[2019-09-11 11:48] hanzei commented on #10327
@ConnorL33t Do you have any outstanding questions?

[2019-09-11 11:48] hanzei commented on #10156
Making this one available for the public again due to inactivity.

[2019-09-11 11:50] hanzei commented on #9729
@devinbinnie Can you please provided feedback on the above?

@rexredinger Sorry for the delay

[2019-09-11 11:50] hanzei commented on #11052
Making this one available for the public again due to inactivity.

[2019-09-11 11:52] hanzei commented on #11264
Hey @Siddharth-Ashri, did you got your dev environment running? If not, feel  free to ping me on the community server.

[2019-09-11 11:53] hanzei commented on #9762
@mzaks Do you have any outstanding questions?

[2019-09-11 11:57] mzaks commented on #9762
No, all good. As far as I remember, the PR addressing this issue already went through in July.

[2019-09-11 11:59] mzaks commented on #9762
Yes here it is:
https://github.com/mattermost/mattermost-redux/pull/875

[2019-09-11 12:04] reflog commented on #12111
@niklabh - agreed. Closing the ticket

[2019-09-11 12:04] #12111 closed

[2019-09-11 12:12] jasonblais commented on #9762
Thanks @mzaks, closing this issue. Thank you for the contribution!

[2019-09-11 12:12] #9762 closed

[2019-09-11 12:48] sapnasivakumar commented on #11241
@hanzei Please add the up for grabs tag as I'm not able to work on it currently
Thank You

[2019-09-11 12:54] RajatVaryani commented on #9769
Looking to close this pretty soon. @hanzei

[2019-09-11 13:25] DanielRuf opened #12166 "Can not use api/v4/websocket with trailing slash"
#### Summary
Currently we use socket.io client to connect to the mattermost instance. But it adds a trailing slash and this causes a 404.

`http://localhost:8065/api/v4/websocket/?EIO=3&transport=polling&t=MqWUUcJ` does not work.
See https://github.com/socketio/socket.io-client-swift/issues/297

#### Steps to reproduce
Go to `http://localhost:8065/api/v4/websocket/` - returns a 404.

#### Expected

[2019-09-11 13:53] amyblais commented on #11869
@Akito13 I'll close this for now as there hasn't been further updates for a while. Please re-open this issue if the issue persists,

[2019-09-11 13:53] #11869 closed

[2019-09-11 13:54] amyblais commented on #11911
Thank you, I'll close this for now as the issue seems to be resolved,

[2019-09-11 13:54] #11911 closed

[2019-09-11 14:01] hanzei commented on #11053
Hey @bolariin, I've responded on the server to your message.

[2019-09-11 14:01] hanzei commented on #11241
Thanks for the heads up :+1:

[2019-09-11 14:36] scottleedavis commented on #9283
open code review issues
https://github.com/scottleedavis/mattermost-plugin-remind/issues/143
https://github.com/scottleedavis/mattermost-plugin-remind/issues/142

[2019-09-11 14:41] niklabh commented on #12125
This is needed for individual plugins also. Can i make a PR

[2019-09-11 14:55] tcottier-enalean opened #12168 "Private group conversations duplication with unreadable messages"
#### Summary

Some private group conversation created between 3 or more users are duplicated and make part of the old conversation unreadable

#### Steps to reproduce
Create a private conversation between you and 2 others users, chat a bit then change channel.

Sometimes when someone sends a message to this channel and you try to reenter the conversation another conversation opens with the same pe

[2019-09-11 15:02] devinbinnie commented on #9729
@rexredinger I've been using JAWS to implement a lot of accessibility changes since the beginning of July when I joined Mattermost, and the experience has improved a lot since then. @deanwhillier has implemented an Accessibility Navigation Controller (https://github.com/mattermost/mattermost-webapp/pull/3047) that makes navigation a lot easier, and myself and @asaadmahmood have added a lot of `ari

[2019-09-11 15:21] hanzei commented on #12125
Thanks for fixing this @niklabh :+1:

[2019-09-11 15:47] goku321 commented on #11429
Hi @hanzei due to workload I am not able to make progress on this one yet but this is definitely on my to-do list. I know I delayed it a lot but I need a couple of days to make some progress. If I am not able to work on this I will let you know. Thank you for your patience

[2019-09-11 16:01] hanzei commented on #11429
Thank you very much for the update @goku321 :+1:

[2019-09-11 16:14] aaronrothschild commented on #9196
Ha, it's still on my radar - I brought it up just yesterday with my team.  Still trying to get someone else to try it on their machine...

[2019-09-11 16:36] amyblais commented on #12168
Hi @tcottier-enalean, Would you be open to reviewing this page and sending us any relevant additional information about your environment: https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

Have you seen any patterns on when this occurs and doesn't occur?

[2019-09-11 17:54] hanzei commented on #11429
Hey @goku321,

There was a confusion from @niklabh about the Help Wanted process. He didn't knew that you claimed this ticket and opened a PR for. Sorry for this.

[2019-09-11 18:15] goku321 commented on #11429
@hanzei No problem. Thanks @niklabh , this ticket was long overdue :sweat_smile:

[2019-09-11 18:19] #12109 closed

[2019-09-11 18:35] cometkim commented on #10346
@hanzei I have suspended it because I don't have enough mana.

Introduction of TypeScript and Hooks is really good news to me it is the way I'm used to it. I'll make a PR that completely rewrites the codebase around of EmojiPicker.

Just started here -> https://github.com/mattermost/mattermost-webapp/pull/3648.

[2019-09-11 18:36] hanzei commented on #10346
Nice, thanks @cometkim :tada:

[2019-09-11 19:26] hanzei commented on #11920
@kartik0709 Sorry for the confusion. @niklabh mistakenly thought this issue was up for grabs.

[2019-09-11 21:24] Lumexralph commented on #12106
@mgdelacroix Look at this file, the only place affected is  line 546 - 548`else {
			t.Fatal("Invalid path", r.URL.Path)
		}`, What are we going to be testing? looking at it, it should fail or stop the test when  `r.URL.Path` is not `/index.html, /image.png or /other`.
How do you think I should approach this?

[2019-09-11 21:27] Lumexralph commented on #12102
@mgdelacroix I would love to work on this.

[2019-09-12 01:00] hanzei commented on #11994
This issue is fixed thanks to the awesome work from @nfriend :tada:

[2019-09-12 01:00] #11994 closed

[2019-09-12 01:45] hanzei commented on #12102
Thanks @Lumexralph

[2019-09-12 02:05] anuragbhd commented on #11997
After discussing this issue on Developers community channel, I am taking it up.

[2019-09-12 02:12] mickmister commented on #11998
@anuragbhd Yes, this ticket should be feasible without any introducing any javascript code into the plugin. Editing the post through the [plugin API](https://developers.mattermost.com/extend/plugins/server/reference/#API) should provide all of the functionality needed.

[2019-09-12 02:50] renilJoseph commented on #12098
i would like work on this.

[2019-09-12 03:32] pbitty commented on #12043
I mentioned this in a DM, just wanted to confirm here, I have two PRs in the works:
* Adding equivalent support in `mattermost-mobile`
* Extending Interactive Dialog to the `docs` repo

[2019-09-12 05:23] renilJoseph commented on #12098
@mgdelacroix please review referenced PR. Any comment is welcome. Thank you.

[2019-09-12 06:25] lindalumitchell commented on #12057
@amyblais do we need a JIRA ticket to track this as well? I didn't see one, but wasn't sure if this is on a different process.

[2019-09-12 06:47] checkaayush commented on #12048
I'd like to give this a shot.

[2019-09-12 07:49] tcottier-enalean commented on #12168
Hi, sorry I did not see this page.

First of all no we did not see any patterns except it occurs only in private group conversations.
We are running Mattermost on docker (on a CentOS 7 dedicated serv), using the official docker compose to build and run the images. We have a Postgresql database.

Mattermost version is the latest stable CE: 5.14.2
We tested on the desktop app (on macOS), Chrome and

[2019-09-12 17:17] swood opened #12182 "Mattermost crash when I tried to jump by history"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-09-12 20:41] #12182 closed, assigned to nobody

[2019-09-12 23:10] mattermod opened #12186 "Order tooltip for reactions on web by who recently reacted with those emoji"
Repo: Hover on a post reacted by multiple users.

Observed: Web shows users who reacted in the tooltip alphabetically where as mobile show it by created at time
Expected: Order users who reacted in ***the tooltip*** on web by recency for each reaction.

Env: Not a regression and been this way when the features were added

----
If you're interested please comment here and come [join our "Contributo

[2019-09-12 23:35] mattermod opened #12187 "Add a container to images below a min-width and min-height to maintain clickable areas"
**Expected behavior**

The minimum width and height of posted images will remain unrestricted, however if the image is below 48px in height or width, the image will be placed inside a container with a 1px border and 4px corner radii. This allows for a larger click/tap area vs restricting or having to scale the image which may not be desired by users.

**Image examples:**

![image-20190617-140215](

[2019-09-13 09:51] #12101 closed

[2019-09-13 09:54] mgdelacroix commented on #12103
Great @chahat-arora, thanks!! :tada:

[2019-09-13 13:07] oksmelnik commented on #12006
hi! I'd like to work on this issue

[2019-09-13 13:36] hanzei commented on #10470
Thanks for the update, @Druthi :+1:

[2019-09-13 14:40] mattermod opened #12191 "Refactor "app/command.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/command.go`.

The expected way to implement it is to open the file `app/command.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases w

[2019-09-13 14:40] mattermod opened #12192 "Refactor "app/web_hub.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/web_hub.go`.

The expected way to implement it is to open the file `app/web_hub.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases w

[2019-09-13 14:40] mattermod opened #12193 "Refactor "app/cluster_discovery.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/cluster_discovery.go`.

The expected way to implement it is to open the file `app/cluster_discovery.go`, look for all calls to `mlog.Info`, `mlog.Debug`

[2019-09-13 14:40] mattermod opened #12194 "Refactor "app/user.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/user.go`.

The expected way to implement it is to open the file `app/user.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc and in cases where `

[2019-09-13 14:40] mattermod opened #12195 "Refactor "app/authorization.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/authorization.go`.

The expected way to implement it is to open the file `app/authorization.go`, look for all calls to `mlog.Info`, `mlog.Debug`, etc an

[2019-09-13 14:40] mattermod opened #12196 "Refactor "app/import_functions.go" to use structured logging"
Mattermost is refactoring the logs to be fully structured and we're looking for contributors to help with that effort. This Help Wanted issue is to change the usages of `mlog.` methods with `fmt.Sprintf` to proper `mlog.Field()` calls in file `app/import_functions.go`.

The expected way to implement it is to open the file `app/import_functions.go`, look for all calls to `mlog.Info`, `mlog.Debug`,

[2019-09-13 16:40] Lumexralph commented on #12191
@mattermod I would love to work on this.

[2019-09-13 19:37] DarrellRichards commented on #12194
@mattermod I'll take on this issue if that okay.

[2019-09-13 22:05] wget opened #12202 "Mattermost Push Proxy not building with Go 1.13"
#### Summary
Mattermost Push Proxy cannot be built with Go 1.13 because of changes to the go vet shadow tool.

#### Steps to reproduce
* Simply change the build CI to Golang 1.13 (or use a rolling release GNU/Linux distribution like ArchLinux which already has Go 1.13)
* Realize the shadow tool has changed because all vet flags are not recognized anymore.

#### Expected behavior
Go vet step passes

[2019-09-13 22:12] amyblais commented on #12202
@wget Is this related to the discussion in the Installers and Images channel? Would you like me to open a Jira ticket for this and assign to someone?

[2019-09-13 22:16] DarrellRichards commented on #12196
@mattermod I'll work on this issue as well.

[2019-09-13 22:17] DarrellRichards commented on #12194
Merge Request #12201

[2019-09-13 22:20] wget commented on #12202
@amyblais Hi Amy. Yes, it is. But no need to link back to the conversation. The conversation on the Mattermost chat was rather convoluted, let's keep this bug report alone, let's keep it stupid simple :)

[2019-09-13 22:21] wget commented on #12202
And if you want to play with Jira, it is up to you. I hate Jira :-1:
Just put me in CC of that bug, that way I don't loose track of it. Since on Arch Linux we were directly impacted.

[2019-09-13 22:42] amyblais commented on #12202
Ok, no worries, I'll assign you on this Github issue for now.

[2019-09-14 01:02] wwalker commented on #12150
TL;DR - installed native on ubuntu 16.04.6 with mysql 5.7.24-0ubuntu0.16.04.1
No problems with the server.  Just an issue with how the search engine works.

What OS and version is the Mattermost server installed?
Ubuntu 16.04.6 LTS

What is your Mattermost server version?
Version: 5.10.0
Build Number: 5.10.0
Build Date: Tue Apr 16 23:13:55 UTC 2019
Build Hash: dc70ab42034da17eaf23be5a86abae81b3f1c

[2019-09-14 01:41] amyblais commented on #12150
@wwalker Thank you for providing all this information! I wasn't able to reproduce this on a v5.15 server at community.mattermost.com. I'm wondering if you're open to testing on the community server I linked or if you're open to upgrading to the latest server version to see if the issue gets resolved. Let me know your thoughts on this,

[2019-09-14 04:34] hanzei commented on #12196
Thanks @DarrellRichards :+1:

[2019-09-14 04:36] hanzei commented on #12191
Thanks for taking a shot @Lumexralph :tada:

[2019-09-14 04:38] hanzei commented on #12048
Thanks @checkaayush. Great to see you back :+1:

[2019-09-14 04:44] hanzei commented on #12006
@jespino Can you please take a look a the question above? https://github.com/mattermost/mattermost-server/issues/12006#issuecomment-529259608

[2019-09-14 04:45] hanzei commented on #12006
Thanks for taking a shot @oksmelnik :+1:

[2019-09-14 06:41] sowmiyamuthuraman commented on #12195
can I work on this?

[2019-09-14 06:51] anuragbhd commented on #11997
PR #3670 submitted :)

[2019-09-14 08:53] niklabh commented on #12192
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12133

[2019-09-14 09:02] niklabh commented on #12193
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12204

[2019-09-14 10:53] #12105 closed

[2019-09-14 13:50] abdusabri commented on #12186
Hi! I would like to work on this one 🙂

[2019-09-14 14:40] abdusabri commented on #12186
And here is a screenshot from a working implementation 🙂

![image](https://user-images.githubusercontent.com/25670682/64909559-2e6e3800-d70e-11e9-87e8-2b01d2da9088.png)

[2019-09-14 14:41] DarrellRichards commented on #12196
PR: #12205

[2019-09-14 15:10] joriki opened #12206 "inconsistent member counts in direct message member selection"
#### Summary
In the dialog for starting a direct message conversation, the count of options displayed on the current page can be larger than the total, since it includes multi-user conversations whereas the total does not.

#### Steps to reproduce
Start at least one multi-user direct message conversation and then open the dialog for starting a new direct message conversation (with the plus icon or

[2019-09-14 15:11] joriki commented on #12206
(Also, "members" doesn't really describe what that page count counts; the multi-user conversations aren't "members".)

[2019-09-14 16:15] DarrellRichards commented on #12100
@mattermod I'll tackle this issue.

[2019-09-14 17:49] pbitty commented on #12043
You're very welcome!  The above PRs are in.

[2019-09-14 17:53] pbitty commented on #12043
I just realized I could add test cases to the webapp e2e tests.  Shall I do that?

[2019-09-14 18:20] kartik0709 commented on #11920
@hanzei its okay. I'll pick another one.

[2019-09-14 19:07] cpanato commented on #12043
@pbitty yea, please :)

[2019-09-14 20:55] mattermod opened #12207 "Migrate tests from "app/license_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/license_test.go` file.

The expected way to migrate this is to go t

[2019-09-14 20:55] mattermod opened #12208 "Migrate tests from "app/user_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/user_test.go` file.

The expected way to migrate this is to go to t

[2019-09-14 20:55] mattermod opened #12209 "Migrate tests from "app/config_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/config_test.go` file.

The expected way to migrate this is to go to

[2019-09-14 20:55] mattermod opened #12210 "Migrate tests from "app/import_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/import_test.go` file.

The expected way to migrate this is to go to

[2019-09-14 20:55] mattermod opened #12211 "Migrate tests from "app/notification_email_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/notification*email*test.go` file.

The expected way to migrate this

[2019-09-14 20:55] mattermod opened #12212 "Migrate tests from "app/helper_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/helper_test.go` file.

The expected way to migrate this is to go to

[2019-09-14 20:55] mattermod opened #12213 "Migrate tests from "app/user_agent_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/user*agent*test.go` file.

The expected way to migrate this is to g

[2019-09-14 20:55] mattermod opened #12214 "Migrate tests from "app/web_hub_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/web*hub*test.go` file.

The expected way to migrate this is to go t

[2019-09-14 20:55] mattermod opened #12215 "Migrate tests from "app/team_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/team_test.go` file.

The expected way to migrate this is to go to t

[2019-09-14 20:55] mattermod opened #12216 "Migrate tests from "app/login_test.go" to use testify"
Mattermost is migrating its server tests from using the `t.Fatal` method calls on their checks to use the [testify toolkit](https://github.com/stretchr/testify). The goal of this migration is to improve the readability of the tests, making them more concise and meaningful. This Help Wanted issue is to migrate the tests in the `app/login_test.go` file.

The expected way to migrate this is to go to

[2019-09-14 21:05] mgdelacroix commented on #12106
@Lumexralph good catch! The idea on this one would be to use `require.Fail` instead of `t.Fatal`. Would you like to take on the ticket?

[2019-09-14 21:05] mgdelacroix commented on #12100
Great, thanks @DarrellRichards!! :tada:

[2019-09-14 21:08] #12062 closed

[2019-09-14 22:25] DarrellRichards commented on #12100
PR: #12217

[2019-09-15 04:47] Lumexralph commented on #12106
@mgdelacroix Yes, I would love to work on it.

[2019-09-15 06:21] mgdelacroix commented on #12106
Great, thanks!!

[2019-09-15 09:40] niklabh commented on #12207
Can i take this up?

[2019-09-15 09:53] niklabh commented on #12207
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12218

[2019-09-15 09:59] niklabh commented on #12208
Can i take this up?

[2019-09-15 10:53] niklabh commented on #12208
Here's a pull request https://github.com/mattermost/mattermost-server/pull/12219

[2019-09-15 10:54] niklabh commented on #12209
Can i take this up?

[2019-09-15 10:58] niklabh commented on #12209
Here's a pull request: https://github.com/mattermost/mattermost-server/pull/12220

[2019-09-15 11:37] niklabh commented on #12216
Here's a pull request: https://github.com/mattermost/mattermost-server/pull/12221

[2019-09-15 11:47] niklabh commented on #12214
Here's a pull request: https://github.com/mattermost/mattermost-server/pull/12222

[2019-09-15 11:56] niklabh commented on #12212
Here's a pull request: https://github.com/mattermost/mattermost-server/pull/12223

[2019-09-15 12:05] niklabh commented on #12213
Here's a pull request: https://github.com/mattermost/mattermost-server/pull/12224

[2019-09-15 12:52] esdrasbeleza commented on #12215
Hello :) I'm looking for something new to do, I'm trying to solve this ticket!

[2019-09-15 13:18] it33 opened #12225 "Mattermost error ERR_CERT_AUTHORITY_INVALID"
#### Summary
Bug report in one concise sentence

Mattermost end user gets unexplained ERR_CERT_AUTHORITY_INVALID error message.

![image](https://user-images.githubusercontent.com/177788/64922088-f9023280-d77f-11e9-8f50-7a1a65e49d20.png)

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

Unexplained error in Mattermost

#### Expected behavior
Describe your issue

[2019-09-15 14:10] niklabh commented on #11951
Can i work on this?

[2019-09-15 15:23] mgdelacroix commented on #12215
Thanks @esdrasbeleza!!! :confetti_ball:

[2019-09-15 16:54] niklabh commented on #12211
Here's a pull request: https://github.com/mattermost/mattermost-server/pull/12227

[2019-09-15 17:06] niklabh commented on #12056
This file don't require any changes.

[2019-09-15 19:53] jairojj commented on #12210
I'm getting this

[2019-09-15 20:34] mgdelacroix commented on #12210
Thanks @jairojj!! :sparkles:

[2019-09-15 22:12] niklabh commented on #12187
image examples not visible in description. Please reupload

[2019-09-15 22:14] niklabh commented on #11951
Here's a pull request: https://github.com/mattermost/mattermost-webapp/pull/3672

[2019-09-15 23:19] jairojj commented on #12210
@mgdelacroix here is the pr: #12228

[2019-09-15 23:42] pbitty commented on #12043
@cpanato Will do.  I am working on it.  If the PR gets merged before I am done, I will submit another one adding the E2E tests.

[2019-09-16 03:59] Lumexralph commented on #12106
@mgdelacroix A [PR](https://github.com/mattermost/mattermost-server/pull/12230) is up for this. Please take a look at it, and if there is any feedback it will be appreciated. Thanks.

[2019-09-16 05:17] Lumexralph commented on #12102
@hanzei There is a [PR](https://github.com/mattermost/mattermost-server/pull/12231) up for this. Kindly review and feedback would be appreciated.

[2019-09-16 07:26] niklabh commented on #11951
Can i get access to https://docs.google.com/document/d/1Y2wZ5mZ5qrdwXObnStU7fZZAZITJS_rvQI0h-9kCt8E/edit#heading=h.5vmpeaypjktl
I have requested for permission from niklabh811@gmail.com

[2019-09-16 07:30] hanzei commented on #11951
Thanks for working on this @niklabh :+1:

[2019-09-16 07:38] hanzei commented on #12056
@reflog Do you agree?

[2019-09-16 07:44] hanzei commented on #12187
@niklabh Done

[2019-09-16 07:57] hanzei commented on #11997
Thanks @anuragbhd

[2019-09-16 07:57] hanzei commented on #12195
Sure, thanks @sowmiyamuthuraman

[2019-09-16 08:00] hanzei commented on #11947
This needs to be implemented client side in https://github.com/mattermost/mattermost-mobile

[2019-09-16 08:33] sindhugudivada commented on #11947
Could you help me find some thing that can be done in Swift  Native code ?  (So I can get started with some thing I know)

[2019-09-16 08:35] hanzei commented on #11925
@renilJoseph FYI I fixed the JIRA ticket link in your PRs.

[2019-09-16 09:00] hanzei commented on #11947
@migbot :point_up_2:

[2019-09-16 09:22] reflog commented on #12056
@hanzei absolutely!
Thanks @niklabh

[2019-09-16 09:22] #12056 closed

[2019-09-16 09:49] checkaayush commented on #12048
@hanzei This seems to have been already done. Can be closed.

[2019-09-16 10:14] hanzei commented on #12048
Correct. Closing

[2019-09-16 10:14] #12048 closed

[2019-09-16 10:22] hanzei commented on #11323
@wiersgallak Gentle reminder about this

[2019-09-16 10:23] hanzei commented on #12017
Hey @kdenz,

Do you have any questions about this ticket?

[2019-09-16 10:24] hanzei commented on #12064
@adarj Do you have any questions or run into problems?

[2019-09-16 11:23] wiersgallak commented on #11323
I can open a UX improvement ticket - we could consider matching Slack's behavior, where when you have an unread in a channel and the channel is archived, the channel is closed on the LHS and the unread is surpressed until the archived channel is opened after a search.

[2019-09-16 11:54] #11752 closed

[2019-09-16 11:55] saturninoabril commented on #11752
PR has been merged.  Thanks @valentijnnieman for your contribution!

Closing this now.

[2019-09-16 12:07] niklabh commented on #10289
Here is a pull request: https://github.com/mattermost/mattermost-server/pull/12232

[2019-09-16 12:28] #12194 closed

[2019-09-16 13:10] it33 commented on #12225
After clicking "Yes" the application crashes:

![image](https://user-images.githubusercontent.com/177788/64960717-b0627c00-d848-11e9-8fa4-7fa2cd55d5b0.png)

[2019-09-16 13:29] amyblais commented on #12206
@joriki I'm not able to reproduce this, are you on server v5.13 and is there any other relevant information you would be able to share about your environment?

[2019-09-16 13:49] amyblais commented on #12225
@it33 I'll share this with the team. Would you be open to checking what Mattermost desktop app version you're on? You can click the "Help" button to find out.

<img width="516" alt="Screenshot at Sep 16 09-35-06" src="https://user-images.githubusercontent.com/29708087/64962443-6fc52b80-d865-11e9-9195-38c8a3fff32b.png">

[2019-09-16 14:43] resforn65 commented on #12080
Just wanted to share that we're also experiencing this. Tried all the same troubleshooting as well, and even killed the cache on the client _completely_.

[2019-09-16 15:27] #12106 closed

[2019-09-16 15:53] #11997 closed

[2019-09-16 18:47] hanzei commented on #11902
Thank you very much for implementing this feature @tgkouras :tada:

[2019-09-16 18:47] #11902 closed

[2019-09-16 19:14] #11962 closed

[2019-09-16 19:17] niklabh commented on #12013
But this is already implemented: https://github.com/mattermost/mattermost-operator/blob/274746895d8b3f15b6b5bb94ef874ef727c74d35/pkg/apis/mattermost/v1alpha1/clusterinstallation_utils.go#L540

[2019-09-16 19:18] #12070 closed

[2019-09-16 19:24] chuttam commented on #11431
Mind if I pick this one up, @esethna ?

[2019-09-16 19:59] lieut-data commented on #11912
Thanks for the clarification, @pbitty -- removed the `PR Exists` label as such.

[2019-09-16 20:03] #12018 closed

[2019-09-16 20:31] niklabh commented on #11998
https://github.com/moussetc/mattermost-plugin-giphy only register /gif and /gifs command. /giphy command must be from different plugin.

[2019-09-16 20:36] niklabh commented on #11998
I think this is the correct plugin https://github.com/levb/mattermost-plugin-giphy

[2019-09-16 20:46] esethna commented on #11948
@avasconcelos114 we can probably add slightly larger margins on the right of the table so the button doesn't get cut off, if that works? Feel free to submit a PR and we can iterate there if necessary.

[2019-09-16 20:47] mickmister commented on #11998
@niklabh

Yes, @levb's repo is the right one.

[2019-09-16 21:28] #12115 closed

[2019-09-16 22:11] #12212 closed

[2019-09-16 22:26] amyblais commented on #12076
@natc66 Do you see either any Mattermost log errors or Console errors when this happens?

[2019-09-16 22:42] numericillustration commented on #9843
After upgrading from 4.9 to 5.14 we've noticed this behavior change too where previously posts up to the 4000 char limit would show the whole post without a "show more" button.  While it's neat that we can post longer messages now both as users and via integrations, a user configurable setting for the hiding of the rest with a "show more" button would be great.

[2019-09-17 05:28] hanzei commented on #11431
Sure, thanks @chuttam

[2019-09-17 06:06] avasconcelos114 commented on #11948
The margin idea sounds like it could work (or perhaps a padding on the `ScrollView` that wraps the table), but as you mentioned both this PR and the [table responsiveness](https://github.com/mattermost/mattermost-mobile/pull/3249) one involve a few changes to the styling of the same component, which will likely result in a merge conflict.

As far as whether to combine the two PRs or keep them sepa

[2019-09-17 10:20] #12193 closed

[2019-09-17 11:09] #11429 closed

[2019-09-17 11:21] mqu commented on #4911
you may have a look at https://pgloader.io/

[2019-09-17 12:06] niklabh commented on #11998
Its not fault of the giphy plugin. Post image loading was not implemented in webapp.

Here's a pull request for the same: https://github.com/mattermost/mattermost-webapp/pull/3683

[2019-09-17 12:42] amyblais commented on #12225
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18602.

[2019-09-17 13:46] it33 commented on #12225
Thanks Amy, I'm on 4.2.3 ![image](https://user-images.githubusercontent.com/177788/65047212-e79f5e80-d916-11e9-91b9-16c18e8c6a15.png)

[2019-09-17 14:24] hanzei commented on #12215
Fixed with https://github.com/mattermost/mattermost-server/pull/12226

[2019-09-17 14:24] #12215 closed

[2019-09-17 15:25] DarrellRichards commented on #12002
@mattermod I'll take over this issue.

[2019-09-17 15:30] mattermod opened #12241 ""No users found" in channel manage members modal until user list is fetched"
1. Go to a channel
2. Click the dropdown next to channel name, select "Manage Members"
Observed: `No users found` until user list is fetched
Expected: Show the standard loading indicator, Loading... centered in the modal while content is being fetched (See the loading indicator when a opening a channel as an example of the indicator)

Mac / Desktop app 4.2.1 / community-release

*Issue created fro

[2019-09-17 15:35] mattermod opened #12242 "Remove utils.displayTime in favour of FormattedTime component"
The displayTime function in utils/utils.jsx manually formats a date, but we can use the FormattedTime component from react-intl to do this for us. That component is also better localized than the function.

That function should be removed and replaced with a FormattedTime

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermos

[2019-09-17 15:35] mattermod opened #12243 "Remove utils.displayDate in favour of FormattedDate component"
The displayDate function in utils/utils.jsx manually formats a date, but we can use the FormattedDate component from react-intl to do this for us. That component is also better localized than the function.

That function should be removed and replaced with a FormattedDate

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermos

[2019-09-17 15:35] mattermod opened #12244 "Add a "Close Channel" option to DM menu (Webapp)"
Below "Edit Channel Header" add a separator line and then the option "Close Channel". See the "Leave Channel" option in public private channels as an example of styling.

Closing the channel should remove it from your sidebar (similar to clicking the "x" when hovering on the channel in your sidebar)

Note: Mobile already has this implemented.

----
If you're interested please comment here and come

[2019-09-17 15:35] mattermod opened #12245 "Channel sidebar should push content over, rather than slide on top to follow native design"
Expected (See Mail and Slack sidebars): Content is pushed over as the sidebar opens. This is more native UX for iOS than our current behavior that overlaps the sidebar on the existing content.

![sidebar](https://user-images.githubusercontent.com/14333569/65188932-6635f200-da24-11e9-9825-614da218a059.gif)

Observed: See [video in ticket](https://mattermost.atlassian.net/browse/MM-18530)

Note that

[2019-09-17 15:35] mattermod opened #12246 "Allow unselecting users by tapping again on the row or the chips"
Example: When starting a DM conversation on mobile, you should be able to tap the same checkbox/radio button used to select a user to unselect them (if they happen to be in the list). At the moment, the only way to do this is to hit the "x" next to their username in the list above.

Applicable to:

  * DM creation
  * Manage Channel members
  * Add channel members

----
If you're interested please

[2019-09-17 15:39] DarrellRichards commented on #12002
PR: [https://github.com/mattermost/mattermost-webapp/pull/3686](https://github.com/mattermost/mattermost-webapp/pull/3686)

[2019-09-17 15:46] amyblais commented on #12057
Ticket: https://mattermost.atlassian.net/browse/MM-18615.

[2019-09-17 16:37] matterdoc opened #13990 "Request for Documentation: Instructions for how to verify your TLS certificates are compatible with iOS 13/macOS 10.15"
Mattermost user `paul.rothrock` from https://community.mattermost.com has requested the following be documented:

[code]

Which will return something like this:

[code]

Verify that the key is 2048 bit or higher.

3. Use this command to check the signature algorithm:

[code]

Which will return something like this:

[code]

Verify that the `Peer signing digest` is `SHA256`, `SHA2`, or `SHA384`

5.

[2019-09-17 17:48] #12113 closed

[2019-09-17 18:37] chuttam commented on #9432
Awesome @imisshtml ! I faced the opposite problem, and I can account for the double-dash **after** iOS already applies Smart Punctuation to the entered text. So, could you give me a tip/pointer/solution for how to stop the double-dash itself, and perhaps we could come together with a joint resolution?

[2019-09-17 18:44] chuttam commented on #9432
I can confirm that setting `autoCorrect={false}` and/or `autoCompleteType='off'` on the `<TextInput>` have no effect on the entered text. iOS still replaces `--` with `–` instantly, which makes sense since the auto-correction likely happens well before the (changed) character is even received by the app as text input. Boo.

[2019-09-17 19:54] #12047 closed

[2019-09-17 21:01] DarrellRichards commented on #12244
@mattermod I'll take a bite at it.

[2019-09-17 21:43] mickmister commented on #11998
@niklabh The idea is to show the placeholder while we wait for the giphy api response, not during the fetching of image after the api response is returned. Does the webapp PR support this use case?

[2019-09-17 22:42] natc66 commented on #12076
(Apologies in advance I'm not super tech savvy)

Server Logs show these two messages repeating quite a bit: {"level":"error","ts":1564183551.3571172,"caller":"mlog/log.go:172","msg":"Failed to upgrade websocket connection","path":"/pnsntalk/api/v4/websocket","request_id":"mibafmg5yjb8idp48aa8e5tnjc","ip_addr":"172.28.21.33","user_id":"tkyxtctku3bojbxwjswsyk3wbr","method":"GET","err_where":"connect

[2019-09-17 23:46] hughes commented on #9805
Is this being implemented in a way that displays in-line markdown images to respect the "Default appearance of image previews" option? Currently they ignore the "collapsed" preference.

[2019-09-18 09:58] renilJoseph commented on #12010
@cpanato hi, while running with Kind, i am getting error `FATAL unable to open database file`, when running MySQL Operator. Please help.

[2019-09-18 10:37] ThiefMaster opened #12252 "Channels moved via CLI move back when editing them afterwards via web"
#### Summary
Moving a channel via the `./mattermost channel move` CLI and then editing it via web results in the channel moving back to the old team.

#### Steps to reproduce
1. `mattermost channel move team2 team1:mychannel --username myname`
2. Edit e.g. the header of the channel

#### Expected behavior
The channel remains in the new team.

#### Observed behavior (that appears unintentional)
The

[2019-09-18 11:40] hanzei commented on #12002
Thanks for the PR @DarrellRichards :+1:

[2019-09-18 12:25] niklabh commented on #12242
Here's a PR: https://github.com/mattermost/mattermost-webapp/pull/3693

[2019-09-18 12:52] anuragbhd commented on #11998
I second @mickmister's observation.

@niklabh I think your approach is in the right direction (show a loading indicator), but it probably needs to be combined with showing a waiting indication for Giphy's response as well. This is apparently possible via the plugin's server-side Go code.

[2019-09-18 12:56] niklabh commented on #11998
Yes that needs to be done in giphy plugin https://github.com/levb/mattermost-plugin-giphy.

[2019-09-18 13:00] anuragbhd commented on #11998
Great! That's a chance to make your Go skills shine :)

[2019-09-18 13:16] jasonblais commented on #9805
@esethna / @abdusabri would you know the answer to the above?

[2019-09-18 13:24] abdusabri commented on #9805
@jasonblais @hughes, as far as i understand, no. I didn't do special handling to support this. The screen capture above (from 10 days ago), sums up the implementation

[2019-09-18 13:27] amyblais commented on #12252
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-18631.

[2019-09-18 13:39] hanzei commented on #10465
Thank you very much @patrickkang for implementing this :tada: :+1:

[2019-09-18 13:39] #10465 closed

[2019-09-18 14:59] DarrellRichards commented on #12244
PR: [https://github.com/mattermost/mattermost-webapp/pull/3694](https://github.com/mattermost/mattermost-webapp/pull/3694)

[2019-09-18 16:38] #12207 closed

[2019-09-18 17:12] amyblais commented on #12252
@ThiefMaster We discussed with devs that this is likely a consequence of the CLI not invalidating the server caches and thus notifying clients. This likely won’t be fixed until we move to the mmctl framework for the CLI. One of our devs are working on moving to the mmctl framework in a future release so this bug will be fixed along with that.

[2019-09-18 18:02] #12195 closed

[2019-09-18 19:39] hughes commented on #9805
I ask because I ended up here from this [giphy plugin issue](https://github.com/moussetc/mattermost-plugin-giphy/issues/12#issuecomment-436316188). It seems that @moussetc originally raised this issue to handle the minimization feature. I think that got interpreted as "treat inline images identically to linked images" which then got interpreted as "all images should open in a preview window".

We

[2019-09-18 20:25] Lumexralph commented on #12191
@hanzei A [PR](https://github.com/mattermost/mattermost-server/pull/12256) is up for this issue.

[2019-09-18 21:50] mattermod opened #12257 "Improve desktop server tab UI and allow tabs to be reordered via drag & drop"
This is a change on the desktop repo: https://github.com/mattermost/desktop

![image](https://user-images.githubusercontent.com/14333569/65189079-d17fc400-da24-11e9-931d-59ed56e77d31.png)

![image](https://user-images.githubusercontent.com/14333569/65189085-d9d7ff00-da24-11e9-9081-74a1c3f876c5.png)

Design document: https://docs.google.com/document/d/1ViAS_3POaFdbGa0GLcwzfJPNqXrP4DSfs2xNU4CkQ6E/ed

[2019-09-19 08:34] niklabh commented on #12257
Can you make google doc public.

[2019-09-19 08:51] #11924 closed

[2019-09-19 10:43] #11854 closed

[2019-09-19 11:54] andrey-yantsen commented on #11177
Hey @amyblais! Any news on this one? The current behaviour is extreeeeemely annoying...

[2019-09-19 13:49] avasconcelos114 commented on #11948
I went ahead and submitted a PR just to get some feedback in regarding the implementation of the expand button, after that starts looking merge-ready we can see whether to cherry-pick the commit, or rebase after the other PR gets merged

[2019-09-19 14:50] scottleedavis commented on #10336
Hello!  Building this plugin was fun.  :)
I am not sure what next steps for this plugin are.
I had requested a review for ci-extensions acceptance, though I feel that completing acceptance criteria for this issue is likely of higher importance.
What are the next steps to complete this issue?

[2019-09-19 16:48] saturninoabril opened #12263 "UI Automation: Write an automated test using Cypress for "At-mention user autocomplete does not overlap with channel header when drafting a long message containing a file attachment""
**Test Key:** M18667
**Test folder:** ``/cypress/integration/messaging``
**Title:** At-mention user autocomplete does not overlap with channel header when drafting a long message containing a file attachment

**Steps:**
1. Go to a public channel and attach a file in a message draft
2. Type multiline text into the message box
[code]
3. On a new line, type "@" to open the at-mention user autocomplet

[2019-09-19 17:01] #12064 closed

[2019-09-19 18:35] mattermod opened #12264 "Automatically document the plugin helpers on mattermost.dev"
The documentation at https://developers.mattermost.com/extend/plugins/server/reference/ is extracted automatically via a script at https://github.com/mattermost/mattermost-developer-documentation/blob/master/scripts/plugin-godocs.go.

Update this script and the corresponding templates to showcase https://godoc.org/github.com/mattermost/mattermost-server/plugin#Helpers alongside the API.

----
If y

[2019-09-19 18:40] mattermod opened #12265 "Organize the plugin server reference documentation with tags"
The API documentation at https://developers.mattermost.com/extend/plugins/server/reference/ is hard to follow: all the API methods are grouped together in the order they are defined in https://github.com/mattermost/mattermost-server/blob/master/plugin/api.go.

Let's support multiple, optional tags in the comments on the API interface to group methods together:
[code]

The script at https://github.

[2019-09-19 19:23] saturninoabril opened #12267 "UI Automation: Write an automated test using Cypress for "Clicking on airplane icon does not open file attachment modal but sends the message""
**Test Key:** M18677
**Test folder:** ``/cypress/integration/messaging``
**Title:** Clicking on airplane icon does not open file attachment modal but sends the message

**Steps:**
1. Log in on browser, narrow window to mobile view
2. Type some characters in the message box
3. Click the aeroplane Send icon

**Expected:**
Message sends

(File attachment modal does not open)

See our [end-to-end test

[2019-09-19 19:28] saturninoabril opened #12268 "UI Automation: Write an automated test using Cypress for "Mobile view: Post options menu (3-dots) is present on a reply post in RHS""
**Test Key:** M18679
**Test folder:** ``/cypress/integration/messaging``
**Title:** Mobile view: Post options menu (3-dots) is present on a reply post in RHS

**Steps:**
1. On Webapp mobile view, click on reply to an existing post.
2. Type a message and click on Add comment.

**Expected:**
After 2) you can still see the 3-dot post options menu visible to the right of your post and clicking on the

[2019-09-19 19:37] saturninoabril opened #12269 "UI Automation: Write an automated test using Cypress for "RN iOS only: If the keyboard is open, swiping down past it should close it""
**Test Key:** M18680

**Title:** RN iOS only: If the keyboard is open, swiping down past it should close it

**Steps:**
1. Tap on the message input box to open the keyboard
2. Swipe down to scroll the channel, extending over top of the text input box

**Expected:**
Keyboard should close if the swipe action goes overtop the text input box.

The keyboard should NOT close if the swipe action is only

[2019-09-19 19:40] saturninoabril opened #12270 "UI Automation: Write an automated test using Cypress for "RN iOS only: if the keyboard is open, tapping outside the message input box should execute actions on other elements""
**Test Key:** M18681

**Title:** RN iOS only: if the keyboard is open, tapping outside the message input box should execute actions on other elements

**Steps:**
1. Tap on the message input box to open the keyboard
2. Long-press on a post and tap on "Add reaction"
3. Add a reaction
4. Tap on the message input box to open the keyboard
5. Long-press on a post and tap on "Flag"
6. Tap on the message

[2019-09-19 19:43] saturninoabril opened #12271 "UI Automation: Write an automated test using Cypress for "RHS fetches messages on socket reconnect when a different channel is in center""
**Test Key:** M18682
**Test folder:** ``/cypress/integration/messaging``
**Title:** RHS fetches messages on socket reconnect when a different channel is in center

**Steps:**
1. Reply to a post from another test user
2. Keep the RHS open but switch to a different channel in the center
3. Disconnect from internet
4. Have the other test user from step 1) comment on your reply from the RN app
5. Re-c

[2019-09-19 19:47] saturninoabril opened #12272 "UI Automation: Write an automated test using Cypress for "Trying to type in middle of text should not send the cursor to end of textbox""
**Test Key:** M18683
**Test folder:** ``/cypress/integration/messaging``
**Title:** Trying to type in middle of text should not send the cursor to end of textbox

**Steps:**
1. Start typing in the post textbox
2. Click in the middle of the text you started typing
3. Start typing again

**Expected:**
Cursor stays where it is and it should not move to the end of text

See our [end-to-end testing doc

[2019-09-19 19:49] saturninoabril opened #12273 "UI Automation: Write an automated test using Cypress for "Edit a Message - Accept change - mobile apps""
**Test Key:** M18685

**Title:** Edit a Message - Accept change - mobile apps

**Steps:**
1. Long press on a message
2. Tap on "Edit", observe edit modal open
3. Edit the message and tap "Save"

4. View the edited message in a browser as another user

**Expected:**
The edited text should be displayed

`(edited)` should appear after the message for both you and the other user

See our [end-to-end t

[2019-09-19 19:49] saturninoabril opened #12274 "UI Automation: Write an automated test using Cypress for "Edit a Message - Cancel change - mobile apps""
**Test Key:** M18684

**Title:** Edit a Message - Cancel change - mobile apps

**Steps:**
1. Long press on a message that you have permission to edit
2. Tap on "Edit"
3. Type something in the edit text box
4. Tap on "X" to cancel

**Expected:**
The original text should be displayed with no changes made.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp

[2019-09-19 19:50] saturninoabril opened #12275 "UI Automation: Write an automated test using Cypress for "RN "Message too long" warning text""
**Test Key:** M18686

**Title:** RN "Message too long" warning text

**Steps:**
1. Post a message in channel that is 16384 characters or longer
2. Dismiss the popup by tapping on OK
3. Backspace to correct character count of 16383

**Expected:**
- Notice the warning message "Your current message is too long. Current character count: 16383/xxxxxx
- OK dismisses the popup.
- Verify Send "paper airpl

[2019-09-19 19:50] saturninoabril opened #12276 "UI Automation: Write an automated test using Cypress for "RN apps: Long message expands message box; no delay in posting it""
**Test Key:** M18688

**Title:** RN apps: Long message expands message box; no delay in posting it

**Steps:**
1. In any channel, type a multi-line message (can copy a phrase and paste it repeatedly; don't post it yet)
2. At the end of the message, type a bunch of characters as quickly as you can, then immediately tap on the "aeroplane" icon

**Expected:**
The text box should expand to multiple li

[2019-09-19 19:50] saturninoabril opened #12277 "UI Automation: Write an automated test using Cypress for "RN apps: User can't send the same message repeatedly""
**Test Key:** M18690

**Title:** RN apps: User can't send the same message repeatedly

**Steps:**
1. Type a message
2. Tap the send button repeatedly

**Expected:**
Only a single message is sent

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Jira ticket**: [MM-18690](https://mattermost.atlassian.net/browse/MM-186

[2019-09-19 19:50] saturninoabril opened #12278 "UI Automation: Write an automated test using Cypress for "Mobile apps: Delete a Message - Accept""
**Test Key:** M18695

**Title:** Mobile apps: Delete a Message - Accept

**Steps:**
1. Long press on a message in center channel
2. Tap on "Delete"
3. Tap on "Delete"

**Expected:**
After 2. a pop-up menu should appear on screen asking if you want to delete the message.  The options "Cancel" and "Delete" are shown.
After 3. the message disappears from the channel

See our [end-to-end testing docum

[2019-09-19 19:50] saturninoabril opened #12279 "UI Automation: Write an automated test using Cypress for "Mobile apps: Delete reply in reply thread view""
**Test Key:** M18694

**Title:** Mobile apps: Delete reply in reply thread view

**Steps:**
1. Post a message
2. Reply to that message
3. From that view, long press the reply and select Delete
4. Tap to confirm delete

**Expected:**
Reply disappears, parent post is still there, still viewing reply thread

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webap

[2019-09-19 19:50] saturninoabril opened #12280 "UI Automation: Write an automated test using Cypress for "Mobile apps: Delete a Message - Cancel""
**Test Key:** M18687

**Title:** Mobile apps: Delete a Message - Cancel

**Steps:**
1. Long press on a message
2. Tap on "Delete"
3. Tap on "Cancel"

**Expected:**
After 2. a pop-up menu should appear on screen asking if you want to delete the message.  The options "Cancel" and "Delete" are shown.
After 3.  the message remains in the channel

See our [end-to-end testing documentation](https://deve

[2019-09-19 19:50] saturninoabril opened #12281 "UI Automation: Write an automated test using Cypress for "Delete a Message during reply, other user sees `(message deleted)`""
**Test Key:** M18693
**Test folder:** ``/cypress/integration/messaging``
**Title:** Delete a Message during reply, other user sees `(message deleted)`

**Steps:**
1. Have another user post a message in a channel you can see
2. Click the reply arrow to *start* to reply to the message (but do not post the reply; just view the reply thread and start to type a reply in the reply box)
3. Have the other

[2019-09-19 19:50] saturninoabril opened #12282 "UI Automation: Write an automated test using Cypress for ""Message too long" warning text""
**Test Key:** M18689
**Test folder:** ``/cypress/integration/messaging``
**Title:** "Message too long" warning text

**Steps:**
1. Post a message in any center channel.
2. Create a reply thread by clicking the {{Reply}} button on the post.
3. In the reply box on RHS, type (paste) a long comment longer than the number of characters allowed.16383

**Expected:**
Notice the warning message "Your messa

[2019-09-19 19:50] saturninoabril opened #12283 "UI Automation: Write an automated test using Cypress for "Mobile apps: "Reply" option is available in long-press menu on posts""
**Test Key:** M18691

**Title:** Mobile apps: "Reply" option is available in long-press menu on posts

**Steps:**
1. Make a post in a test channel
2. Long-press on the post you have just made

3. Find a post from another user in any channel
4. Long-press on the post

**Expected:**
After 2) "Reply" is the second option in the long-press menu

After 4) "Reply" is the first option in the long-press m

[2019-09-19 19:50] saturninoabril opened #12284 "UI Automation: Write an automated test using Cypress for "Delete a GIF from RHS reply thread, other user viewing in center and RHS sees GIF preview disappear from both""
**Test Key:** M18692
**Test folder:** ``/cypress/integration/messaging``
**Title:** Delete a GIF from RHS reply thread, other user viewing in center and RHS sees GIF preview disappear from both

**Steps:**
If testing on mobile, have User 2 view on mobile and User 1 posting on whatever you like

User 1 posts:
1) Post a message, and a reply to that message
2) Post another reply that contains the fol

[2019-09-19 19:52] #12283 closed

[2019-09-19 19:52] #12280 closed

[2019-09-19 19:52] #12279 closed

[2019-09-19 19:52] #12278 closed

[2019-09-19 19:53] #12277 closed

[2019-09-19 19:53] #12275 closed

[2019-09-19 19:53] #12270 closed

[2019-09-19 19:54] #12269 closed

[2019-09-19 20:03] #12276 closed

[2019-09-19 20:03] #12274 closed

[2019-09-19 20:03] #12273 closed

[2019-09-19 20:13] saturninoabril opened #12285 "UI Automation: Write an automated test using Cypress for "Posts change order when being sent quickly""
**Test Key:** M18698
**Test folder:** ``/cypress/integration/messaging``
**Title:** Posts change order when being sent quickly

**Steps:**
1 - Post a series of numbers rapidly one after the other — i.e., Type 1, hit enter, type 2, hit enter, etc. —

**Expected:**
The posts don't reshuffle as you post but instead post in the order you sent them.

See our [end-to-end testing documentation](https://d

[2019-09-19 20:13] saturninoabril opened #12286 "UI Automation: Write an automated test using Cypress for "Markdown preview: inline image""
**Test Key:** M18714
**Test folder:** ``/cypress/integration/messaging``
**Title:** Markdown preview: inline image

**Steps:**
1. Make sure your markdown preview is enabled (Account Settings > Advanced > Preview pre-release features > Show markdown preview option in message input box = Yes)
2. Type a message with large inline image via markdown - ``![make it so](https://i.stack.imgur.com/MNeE7.jpg

[2019-09-19 20:13] saturninoabril opened #12287 "UI Automation: Write an automated test using Cypress for "Autocomplete should close if tildes are deleted using backspace""
**Test Key:** M18707

**Title:** Autocomplete should close if tildes are deleted using backspace

**Steps:**
1. Make a post
2. Hit the "up" arrow to open the edit modal
3. Insert a tilde (~) at the beginning of the post to be edited
4. Delete the tilde by backspacing

**Expected:**
After 2) Edit modal opens

After 3) autocomplete opens

After 4) autocomplete closes

See our [end-to-end testing doc

[2019-09-19 20:13] saturninoabril opened #12288 "UI Automation: Write an automated test using Cypress for "Leave a long draft in reply input box""
**Test Key:** M18700
**Test folder:** ``/cypress/integration/messaging``
**Title:** Leave a long draft in reply input box

**Steps:**
1. Open the reply thread for a post
2. Type a post that is several lines long but do not post it (can be done with whitespace)
3. As the post becomes longer note the input box becomes taller to accomodate the text
4. Open the reply thread for a a different post in t

[2019-09-19 20:13] saturninoabril opened #12289 "Write an automated test using Cypress for "Large number of emoji reactions wrap into multiple lines""
**Test Key:** M18712
**Test folder:** ``/cypress/integration/messaging``
**Title:** Large number of emoji reactions wrap into multiple lines

**Steps:**
1. Post a large number of emoji reactions on a post (>15)
2. Open the post in the RHS
3. Observe the emoji in the center channel and in RHS

**Expected:**
Emoji wrap into multiple lines and don't cause horizontal scroll in both center channel and

[2019-09-19 20:13] saturninoabril opened #12290 "UI Automation: Write an automated test using Cypress for "Center channel input box doesn't overlap with RHS""
**Test Key:** M18705
**Test folder:** ``/cypress/integration/messaging``
**Title:** Center channel input box doesn't overlap with RHS

**Steps:**
1. Resize the window so that it goes into tablet view
2. Open the RHS and post enough comments in that thread that the comment box goes to the bottom of the screen
3. Scroll to the bottom of the RHS

**Expected:**
Center channel input box doesn't overlap

[2019-09-19 20:13] saturninoabril opened #12291 "UI Automation: Write an automated test using Cypress for "Markdown quotation paragraphs""
**Test Key:** M18703
**Test folder:** ``/cypress/integration/messaging``
**Title:** Markdown quotation paragraphs

**Steps:**
1. Post the following in a test channel (in one post, three lines of text with blank line between each):

**Expected:**
Quotes icon shows just once, at left of the first line, with the other two lines below left-aligned with the first line, with space between each line

See

[2019-09-19 20:13] saturninoabril opened #12292 "UI Automation: Write an automated test using Cypress for "Input box on main thread can expand with RHS closed""
**Test Key:** M18711
**Test folder:** ``/cypress/integration/messaging``
**Title:** Input box on main thread can expand with RHS closed

**Steps:**
Without any type of RHS open:
1. Type a post that is several lines long (can be done with SHIFT+ENTER blank newlines)
2. As the post becomes longer note the input box becomes taller to accommodate

**Expected:**
Text box continues to expand for each ne

[2019-09-19 20:13] saturninoabril opened #12293 "UI Automation: Write an automated test using Cypress for "Copy a permalink and paste into another channel""
**Test Key:** M18702
**Test folder:** ``/cypress/integration/messaging``
**Title:** Copy a permalink and paste into another channel

**Steps:**
1. Click on the 3-dot menu to the right of any message in any channel (RN apps - long press on a message)
2. Click on "permalink" (RN apps - select "Copy Permalink" and skip to step 4)
3. Click on "copy link" then on "close"
4. Switch to another channel, D

[2019-09-19 20:13] saturninoabril opened #12294 "UI Automation: Write an automated test using Cypress for "Permalink to first post in channel shows endless loading indicator above""
**Test Key:** M18701
**Test folder:** ``/cypress/integration/messaging``
**Title:** Permalink to first post in channel shows endless loading indicator above

**Steps:**
1. Create a new private or public channel
2. Post a few times in the channel
3. Get the permalink to the first post
4. Post that link in a different channel then follow it back

**Expected:**
Verify that there isn't an endless load

[2019-09-19 20:13] saturninoabril opened #12295 "UI Automation: Write an automated test using Cypress for "Input box on reply thread can expand ""
**Test Key:** M18706
**Test folder:** ``/cypress/integration/messaging``
**Title:** Input box on reply thread can expand

**Steps:**
1. Place the focus in the Reply thread input box
2. Type a reply that is several lines long (can be done with whitespace)
3. As the post becomes longer note the input box becomes taller to accomodate the text

**Expected:**
Text box continues to expand for each new l

[2019-09-19 20:13] saturninoabril opened #12296 "UI Automation: Write an automated test using Cypress for "Link preview - Removing it from my view removes it from other user's view""
**Test Key:** M18708
**Test folder:** ``/cypress/integration/messaging``
**Title:** Link preview - Removing it from my view removes it from other user's view

**Steps:**
1. Log in as two different users viewing the same channel in two different browsers
2. Post a link that has a collapsible preview, such as:
https://www.bbc.com/news/uk-wales-45142614
(see Known Issues for notes on which links are