[2021-04-18 08:59] steBracKa commented on #16939
This also breaks the "invite to public channel by link" functionality if the path of the channel you try to invite to is 26 characters.

[2021-04-18 09:04] ctlaltdieliet commented on #17407
Fyi: the same issue occurs in Dutch.

[2021-04-18 12:19] majidsajadi commented on #16149
@devinbinnie hi. the PR is stale. should i request for review?

[2021-04-18 17:12] amyblais commented on #17436
@WorLord @tsabi There was a build automation issue in v5.31.0 that caused the server to report a wrong version, but this was later fixed in v5.31.3 (I will update the changelog). Does upgrading to v5.31.3 resolve the issue?

[2021-04-18 19:06] Davdinges commented on #17367
For an unknown reason both version v4.6.2 and v4.3.2 were installed at the same time, I removed both from the device and reinstalled version v4.6.2.
To this date I have not figured out how to reproduce the issue anymore, it's not unlikely that it was a random issue on my device specifically. If I figure out how to reproduce it in future with a decent reproduction rate then Ill reopen this issue or

[2021-04-18 19:06] #17367 closed

[2021-04-19 08:10] agarciamontoro commented on #17310
Of course! Thank you for the interest, @hakansa! Feel free to get in touch if you need help with anything :)

[2021-04-19 08:53] biva opened #17440 "Pin button not visible anymore on the top right"
#### Summary
I don't see the "Pin" button on the top right anymore.

#### Steps to reproduce
In order to see all pinned messages, I used to click on the pin button on the top right
![image](https://user-images.githubusercontent.com/9964305/115208833-4fbeb380-a0fd-11eb-9c86-e6a9d5d78367.png)

I don't see it anymore (Mattermost Team Edition v5.34.2). I have the todo plugin and Jitsi plugin activated

[2021-04-19 10:59] Djinada commented on #17436
Hi, we are currently experiencing the same issue with iOS and Android. Updating the server to version v5.31.3 did fix the DB Schema version but not the issue with the mobile application. Any other suggestions? By the way, non-admin accounts receive the Unsupported server version error while I receive a JSON Parse Error: Unexpected identifier "undefined".

[2021-04-19 11:35] jasonblais commented on #17438
Hi @majidyazdani, welcome to the Mattermost community!

I noticed you've recently engaged with the community by opening issues for bug reports and feature ideas - that is great!

I recommend reviewing our community systems for bugs, feature ideas and troubleshooting to get the right help in the right place: https://docs.mattermost.com/process/community-systems.html

Moreover, when filing a new iss

[2021-04-19 11:44] jasonblais commented on #16514
@hmhealey can you help confirm if this issue is still open?

[2021-04-19 12:43] amyblais commented on #17440
@biva Do you see the pinned posts list in the left side, beside the "Members" button?

[2021-04-19 12:56] cooperfellows commented on #17426
We are seeing the same warning on our end in the Android App:

**Desktop About Screen**
![image](https://user-images.githubusercontent.com/6798541/115239509-d4ed9c80-a0ec-11eb-844f-8a344eb19408.png)

**Mobile About Screen**
![image](https://user-images.githubusercontent.com/6798541/115239729-0c5c4900-a0ed-11eb-85c8-9a62e72f3c4e.png)

[2021-04-19 13:44] hmhealey commented on #17420
@weeebdev Which version were you on previously when you saw the problem? We're actually in the process of upgrading to Node v14 everywhere, so hopefully the issue wasn't with that version

[2021-04-19 13:45] ahmaddanialmohd commented on #17408
Hi, @majidit

Got it. While the Wrangler plugin is not something in favor with, may I know what difficulties that you faced while working with it?

* Is it because it fully wrangles the text to another channel without retaining the original post in the origin channel?
* Any other reasons that you can share here?

Meanwhile, you can raise this up as a suggestion in the [Mattermost Uservoice](https:

[2021-04-19 14:46] zembo-etienne commented on #17440
Yes, I see it, thanks @amyblais

I suggest updating this documentation then: https://docs.mattermost.com/help/messaging/pinning-messages.html

I could do it, but my screenshots would include private information unfortunately, so I can't be very helpful. Sorry :/

[2021-04-19 14:47] amyblais commented on #17440
@zembo-etienne Would you be open to creating an issue in our docs repo here https://github.com/mattermost/docs/issues? Our Tech Writers can help with the docs.

[2021-04-19 14:48] biva commented on #17440
Yes, I see it, thanks @amyblais

I suggest updating this documentation then: https://docs.mattermost.com/help/messaging/pinning-messages.html

I could do it, but my screenshots would include private information unfortunately, so I can't be very helpful. Sorry :/

[2021-04-19 14:49] #17440 closed

[2021-04-19 14:51] biva commented on #17440
For reference: https://github.com/mattermost/docs/issues/4504

[2021-04-19 14:58] madhavhugar commented on #17317
I would like to work on this :)

[2021-04-19 15:08] weeebdev commented on #17420
It was `v15`

[2021-04-19 15:57] skin-soc commented on #17420
The problem persists...

`npm -v`
6.14.11
'node -v`
v10.24.0

[2021-04-19 16:05] agarciamontoro commented on #17317
All yours, @madhavhugar, thank you for the interest! Do not hesitate to ask anything you need!

[2021-04-19 16:46] weeebdev commented on #17420
Are you using Linux? Try `sudo apt-get install autoconf dh-autoreconf`. It worked for me before I changed the version

[2021-04-19 17:39] amyblais commented on #17436
Servers need to be on v5.31.3 because [v5.31.3 fixes an issue where the server version was reported as v5.30.0](https://docs.mattermost.com/administration/changelog.html#release-v5-31-esr).

Mobile app changelog has been updated with the details https://docs.mattermost.com/administration/mobile-changelog.html, and we have pushed a v1.42.1 dot release to the app stores that clarifies the minimum su

[2021-04-19 17:39] #17436 closed

[2021-04-19 17:39] amyblais commented on #17426
Servers need to be on v5.31.3 because [v5.31.3 fixes an issue where the server version was reported as v5.30.0](https://docs.mattermost.com/administration/changelog.html#release-v5-31-esr).

Mobile app changelog has been updated with the details https://docs.mattermost.com/administration/mobile-changelog.html, and we have pushed a v1.42.1 dot release to the app stores that clarifies the minimum su

[2021-04-19 17:39] #17426 closed

[2021-04-19 18:00] gusmcewan opened #17452 "webapp - Error: Cannot find module 'gifsicle'"
#### Summary
Packaging of webapp fails with `Error: Cannot find module 'gifsicle'`

#### Steps to reproduce

1. On a new `Ubuntu 20.04.02` VM, `mattermost-server` was deployed using relevant binary `5.34.2`
2. We forked and cloned `https://github.com/mattermost/mattermost-webapp`
3. We made **zero changes** to cloned repo
4. We ran `make package` to create `mattermost-webapp.tar.gz`

#### Expected

[2021-04-19 18:31] amyblais commented on #17450
@hmhealey FYI

[2021-04-19 18:32] amyblais commented on #17452
@gusmcewan This seems to be the same as https://github.com/mattermost/mattermost-server/issues/17420. Do the comments there help?

[2021-04-19 18:34] gusmcewan commented on #17452
@amyblais Aware, checked closed comments first, unfortunately not a solution in #17420 for us.

[2021-04-19 18:40] amyblais commented on #17452
@hmhealey Would you be able to help with this?

[2021-04-19 18:57] amyblais commented on #17433
@streamer45 @agnivade Can you help take a look?

[2021-04-20 03:55] cybrpimp opened #17455 "MySQL Config not recognizing config.json settings"
I’m having to set up a new server and our config file looks like this;

[code]
I’m getting this error when we run the server;

`Failed to ping DB","error":"Error 1045: Access denied for user 'mysql'@'localhost' (using password: YES)","retrying in seconds":10}`

Notice the username “mysql@localhost” does not match what is in the config.json as custom_mmuser.

Also, the localhost does not match what

[2021-04-20 04:15] agnivade commented on #17455
Hey @cybrpimp - which version of Mattermost are you using? We recently fixed this in a dot release with 5.34.2.

[2021-04-20 04:37] cybrpimp commented on #17455
Sorry, I forgot to mention, I'm running the latest, 5.23.2

[2021-04-20 05:24] agnivade commented on #17455
Yes, it is supposed to be fixed with 5.34.2. You can find more details here: https://docs.mattermost.com/administration/changelog.html#release-v5-34-feature-release.

Are you getting the same error with 5.34.2 also? Can you post a complete log of the server startup in DEBUG level?

[2021-04-20 05:27] cybrpimp commented on #17455
Yes, I appear to be getting the same error in 5.34.2.  Let me clear the log and run again and post here in a few mins.

[2021-04-20 06:10] hakansa commented on #17433
I guess I figured out that what happened;
When I run `make run-server` again,  the `go run ./cmd/mattermost/main.go` process  started but port 8065 is not listening. This time, I decided to wait. A few minutes later, mattermost-server process started to listening port 8065.
I think, there should be some signs so people understand they should wait.

I have some suggestions;
1. Instead of using `go

[2021-04-20 06:16] agnivade commented on #17455
Ok, so this looks to be a different issue. It seems like Mattermost genuinely cannot connect with the DB. Are you able to manually connect to the DB with the given credentials?

We can ignore `mysql@localhost`, that is just a template format for the datasource that MySQL spits out.

[2021-04-20 07:36] streamer45 commented on #17433
@hakansa Thanks for the thorough feedback, it's highly appreciated. I agree that the user shouldn't be left guessing for (possibly) several minutes. I've created a ticket ([MM-35029](https://mattermost.atlassian.net/browse/MM-35029)) to keep track of this.

[2021-04-20 08:24] hakansa commented on #17433
@streamer45 thanks for the reply. Is it OK to change this issue's title to `[MM-35029]Improve logging during make run-server` ?
I'm currently working on another issue, when I finish to work on int maybe I can deal with this issue.

[2021-04-20 08:25] cybrpimp commented on #17455
I just went to an earlier version that I originally had.  If I get time, I might upgrade and try again.

[2021-04-20 08:27] streamer45 commented on #17433
Sure, that would be great :+1:

[2021-04-20 09:48] arvinDarmawan commented on #17246
Hi , I interested with this card.

[2021-04-20 11:22] KlavsKlavsen commented on #16846
Soo looking forward to this  making it to a mattermost release :)

[2021-04-20 12:31] amyblais commented on #17434
@lindy65 @ogi-m Are you able to reproduce this with Bleve?

[2021-04-20 12:59] ogi-m commented on #17434
I was able to repro:
![Screenshot (69)](https://user-images.githubusercontent.com/15314183/115399788-d8fee480-a1e8-11eb-9306-340915b442cb.png)

[2021-04-20 13:00] mgdelacroix commented on #17434
@amyblais is reproducible in both Bleve and ES. I've created [a ticket to track the issue](https://mattermost.atlassian.net/browse/MM-35036)

[2021-04-20 15:47] hakansa commented on #17310
@agarciamontoro Thanks! I've started to updates on backend side. I have some questions;
1. When I try to create an incident, I'm getting `Incident Collaboration requires a Mattermost Cloud or Mattermost E20 License.` .  Is it OK?
2. On frontend, I couldn't find where is incident automation settings Page. (in View) . I want to see page before adding the component.

[2021-04-20 16:30] agarciamontoro commented on #17310
Hi @hakansa!

That's expected, you cannot use the plugin without an E20 license. However, contributing to it is still encouraged, so you can bypass this restriction locally by enabling testing commands and developer mode: you need to go to System Console and, under Environment, click on Developer. There, you should set the following settings to true, as shown in the screenshot:

![image](https://u

[2021-04-20 16:41] darkLord19 opened #17467 "Close button in Generic Modal in some places is not visible"
![mm bg color](https://user-images.githubusercontent.com/16662014/115433447-33b63180-a225-11eb-965c-b0e038afa407.gif)

[2021-04-20 17:00] mattermod opened #17468 "Accept a number of days instead of two date arguments in `/incident test bulk-data`"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration/).

The testing command `/incident test bulk-data` creates incidents whose start date falls in the range of dates provided as arguments.

We need to add a new way of defining this range, by simply specifying an integer, instead of two dates:

`/incident test bulk-data --d

[2021-04-20 17:00] mattermod opened #17469 "Make `/incident test bulk-data` command create playbooks"
This is a ticket for the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-collaboration/).

The testing command `/incident test bulk-data` creates incidents whose start date falls in the range of dates provided as arguments. The incidents are created from a randomly picked playbook from any of the ones the tester user has access to.

This force the tester to

[2021-04-20 17:27] hakansa commented on #17310
@agarciamontoro thanks for comprehensive answer. It answers all of my questions.

[2021-04-20 18:29] amyblais commented on #17467
Thank you, opened a ticket: https://mattermost.atlassian.net/browse/MM-35062

[2021-04-20 18:54] hakansa commented on #17310
Hi @agarciamontoro,
I'm trying to writing tests, but i'm a bit stucked. There is no test function for UpdateStatus function in `server/incident/service_test.go` . I guess I should add my test into TestUpdateStatus function, but i couldn't write TestUpdateStatus properly. How should I write test for UpdateStatus?
Thanks..

[2021-04-21 04:15] majidit opened #17471 "Visibility of the Pinned Post"
Hello to all
The post pin option is very good, but it is better to be able to see the post I am pinning at the top of the channel.
Not that you have to click on the icon to see it
Because some channel users may not notice the icon and see the post

And I think this can be done for all versions of different platforms

[2021-04-21 08:10] agarciamontoro commented on #17310
You can add a new test function, no problem! It should be similar in structure to `TestCreateIncident`. Then, inside that function, you can add a `t.Run()` test similar to the one in https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/503/commits/19df83688de5907e937d797e97ce75405717132f. However, instead of testing that the webhook is sent [when the incident is created](htt

[2021-04-21 09:13] M-ZubairAhmed commented on #16947
@haardikdharma10 let me know if you still plan to work on this

[2021-04-21 11:19] archiekennedy commented on #16846
Hey guys I thought I'd share the workaround we are using:

1. Go to System Console > Plugins > Management and click Enable to enable the [Autolink plugin](https://github.com/mattermost/mattermost-plugin-autolink).
2. Set up the following autolink (using whatever domain you want to disable previews):
[code]

**Note:** That's a PCRE RegEx,  you can test yours here: https://regexr.com/

[2021-04-21 13:13] arvinDarmawan commented on #17245
Hi, I will do this card.

[2021-04-21 13:25] amyblais commented on #17471
Thanks, appreciate your feedback @majidit,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2021-04-21 14:03] hmhealey commented on #17452
That's strange that it didn't install gifsicle. I know newer versions of Node had issues with that like in the other linked issue, but we haven't seen that happen on Node 10 before. Perhaps it was just a momentary issue?

As for the missing categories in the system console, that's caused by the server and web app versions being out of sync. From what I understand, there were some permission change

[2021-04-21 16:20] gusmcewan commented on #17452
Reverting to `https://github.com/mattermost/mattermost-webapp/tree/release-5.34` solved this problem.

Missing `gifsicle` module remains an issue but solved by manual installation and repackaging.

Thank you.

[2021-04-21 16:20] #17452 closed

[2021-04-21 17:18] hmhealey commented on #16514
Yeah, this is still something that needs to be done.

@gorostiaga I'm going to open this up for others to be able to work on, but let us know if you'd still like to work on it. If someone else starts work on it but you're still interested in helping out, we can always help find something else for you to help with. 🙂

[2021-04-21 17:18] hmhealey commented on #16514
@M-ZubairAhmed Let us know if you'd like to work on this. I think I saw you commenting on some other issues, so I don't know if you have other stuff you're busy with now.

[2021-04-21 18:42] hmhealey commented on #17450
@esethna @matthewbirtch Some feedback on the colouring in the sidebar

[2021-04-21 18:48] parnic-sks opened #17477 "Email notifications received even with the account setting set to "Never""
#### Summary
I am receiving email notifications from Mattermost for certain cases (namely: `@all`-type notifications in channels) despite having email notifications set to "never" in my account settings.

#### Steps to reproduce
My email notifications are set to "Never". Any time someone `@all`s a channel that I'm in, I get an email notification a few minutes later, even if I was active on Matterm

[2021-04-21 19:13] amyblais commented on #17477
@parnic-sks
1. Do you see any Mattermost log errors from around the time the issue occurs?
2. In case a cache issue, would you be open to logging out from your active sessions from Account Settings > Security to see if it helps?

[2021-04-21 19:19] hakansa commented on #17310
@agarciamontoro very thanks for your help! I added the test function and created a PR: https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/526

[2021-04-21 19:29] parnic-sks commented on #17477
Thanks for your reply.

1. I don't see any errors specific to this problem. The only errors showing up in the log are the following, for these two session IDs. I don't know who/what they correspond with. I wouldn't guess that it's related to this problem, though.
[code]
2. Sure, I'll try this now and let you know.

[2021-04-21 20:07] parnic-sks commented on #17477
@amyblais I logged out of every session (there were a lot!), logged back in, had someone use `@all` in a channel while I was active on the server, and still received an email notification.

[2021-04-21 20:33] amyblais commented on #17477
@streamer45 @agnivade How do we investigate, or would another team own this?

[2021-04-21 21:01] streamer45 commented on #17477
@parnic-sks

Are you able to run and share the output of the following database query:

[code]

Where `USER_ID` is you user id and `CHANNEL_ID` the id of a channel where you were able to reproduce this.

[2021-04-21 21:13] parnic-sks commented on #17477
@streamer45 sure thing:
[code]

And here's the NotifyProps from `users` for my username:
[code]

[2021-04-22 04:33] #16749 closed

[2021-04-22 05:08] majidit commented on #17408
When I click On attach to thread ...
in sidebar show attaching message and say ....

But in a thread i can't see dropdown !!!

![Capture1](https://user-images.githubusercontent.com/29058805/115658669-76275d80-a34e-11eb-974a-0d1a477c0805.PNG)

[2021-04-22 05:11] majidit commented on #17471
https://mattermost.uservoice.com/forums/306457-general/suggestions/43230489-visibility-of-the-pinned-post

[2021-04-22 08:05] streamer45 commented on #17477
Thanks. Everything looks in order there.

Just to confirm, you are saying this is happening on `@all` mentions only. Have you also verified both `@here` and `@channel` don't have the same effect?

Also, what MM version are you currently running?

[2021-04-22 08:28] MH42069 commented on #17450
After around a week or so after asking my users to try @cbrand-ludlums and @amyblais suggestions i haven't received any other complains from those users.
However I would still suggest the devs to consider an implementation of a clearer default highlight method for channels.

[2021-04-22 11:42] jasonblais commented on #17471
Thanks @majidit! Appreciate adding it to our feature idea forum. Thanks for being a Mattermost user! 🙌

For feature ideas and bugs:
 - For suggestions and feature proposals, here is the process on how to contribute them https://mattermost.org/feature-ideas/
 - For bug reports, here's how to report them https://mattermost.org/filing-issues/

Hope the above links are helpful! Thanks again :)

[2021-04-22 11:42] jasonblais commented on #17471
Closing in favor of the feature proposal forum: https://mattermost.uservoice.com/forums/306457-general/suggestions/43230489-visibility-of-the-pinned-post

[2021-04-22 11:42] #17471 closed

[2021-04-22 11:45] mattermod opened #17483 "Testing help wanted issue integration, please ignore"
----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/d

[2021-04-22 11:46] arvinDarmawan commented on #17273
Hi. I'm interested with this issue

[2021-04-22 11:47] #17483 closed

[2021-04-22 12:59] parnic-sks commented on #17477
I have not verified here/channel. It's possible/likely that my team only really uses `@all`, but that's all I'm seeing email notifications for right now. I can test the other types if needed.

Currently we're on v5.34.1. This started happening somewhere around the v5.31.1/v5.32.0 updates and was not an issue prior to that.

[2021-04-22 19:20] amyblais opened #17491 "Mattermost v5.35"
You can find key dates for v5.35 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### April 30th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### May 12th: Release Build Cut
The fin

[2021-04-22 19:25] #16149 closed

[2021-04-23 07:13] streamer45 commented on #10327
This was addressed in https://github.com/mattermost/mattermost-server/pull/17444.

[2021-04-23 07:13] #10327 closed

[2021-04-23 07:47] vblz opened #17496 "Error logs if user disables notifications"
#### Summary
If a user uses browser and disables notifications, every message to them will cause error log

#### Steps to reproduce
Client and server versions are 5.34.2
1. Open mattermost in a browser
2. Disable notifications for the site
3. Change tab in the browser (probably not needed)
4. Receive a message from anyone
5. Check server logs in System console

#### Expected behavior
No error logs

[2021-04-23 08:22] kari-awake opened #17497 "Websocket upgrade fails when using wildcards in MM_SERVICESETTINGS_ALLOWCORSFROM"
#### Summary
Websocket upgrade fails when using wildcards in AllowCorsFrom.

#### Steps to reproduce
Set AllowCorsFrom in config.json or environment variable:

MM_SERVICESETTINGS_ALLOWCORSFROM=https://*.mydomain.com

#### Expected behavior
Websocket upgrade should work with wildcards in AllowCorsFrom

#### Observed behavior (that appears unintentional)
Websocket upgrade fails when there are wildca

[2021-04-23 13:18] sooslaca opened #17499 "gitlab auth broken in 5.34.2"
#### Summary
5.34.2 Team edition version we get gitlab auth "Error Gitlab SSO through OAuth 2.0 not available on this server."

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
5.34.2 Team Edition.
enable gitlab auth, try login with gitlab

#### Expected behavior
Should be able to login with gitlab

#### Observed behavior (that appears unintentional)
Team editio

[2021-04-23 13:22] sooslaca commented on #17499
Also found in debug logs:
[code]

[2021-04-23 13:26] sooslaca commented on #17499
Maybe here?
https://github.com/mattermost/mattermost-server/blob/dd9a1918e1bf76fbfa41d022a424d76b9e928486/app/oauth.go#L570

[2021-04-23 13:34] amyblais commented on #17497
@kari-awake What Mattermost server version are you on? cc @agnivade

[2021-04-23 13:40] amyblais commented on #17499
@furqanmlk @sbishel Are you able to reproduce this?

[2021-04-23 13:42] furqanmlk commented on #17499
Let me test

[2021-04-23 13:44] amyblais commented on #17496
@isacikgoz Would you know if this would be a bug?

[2021-04-23 13:56] sooslaca commented on #17499
hi, we figured partially:
this line : https://github.com/mattermost/mattermost-server/blob/dd9a1918e1bf76fbfa41d022a424d76b9e928486/app/oauth.go#L574

doesn't work well with our own implementation (self hosted) gitlab

here are our settings
[code]

[2021-04-23 14:19] sbishel commented on #17499
Yes. I am able to duplicate. It appears when the GitLabSettings are edited. They are getting saved with incorrect "Scope" settings. Simple work-around is to remove the "Scope" values from the config. Having OpenId in the scope is attempting to use OpenId with GitLab, which is not supported in TE, only OAuth. I'm still investigating a fix.
[code]

[2021-04-23 14:28] sbishel commented on #17499
Actually, with a fresh config. I am NOT able to duplicate. Was this server upgraded and downgraded? When updating the scope for OpenID, we set it to -
[code]
So, I'm not sure how the configuration got "openId" in the scope. But removing it will resolve this issue.

[2021-04-23 14:30] sooslaca commented on #17499
we're trying, we need the openid in the scope. It was upgraded from 5.30 -> 5.34.2

[2021-04-23 14:50] furqanmlk commented on #17499
I am not able to reproduce in v5.34.2

[2021-04-23 15:27] agnivade commented on #17497
Hello @kari-awake - Yes, unfortunately we don't match wildcards in subdomains. It's either `*`, or you have to add the list of domains that you want to support.

I am not sure if this was intentional or not, because I see other libraries supporting this. I'll check with our security team to be sure.

[2021-04-23 20:38] Michael-E-Rose opened #17502 "Text after quote in message unintentionally indented"
#### Summary
Text in message following a quote indented as well

#### Steps to reproduce
Write a message:
[code]

#### Expected behavior
"Some normal text" should not be indented

#### Observed behavior (that appears unintentional)
"Some normal text" is indented

![Screenshot from 2021-04-23 22-36-32](https://user-images.githubusercontent.com/7095926/115927289-7aee2d80-a484-11eb-96fe-668e0d940de3.

[2021-04-23 21:15] amyblais commented on #17502
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-35156

[2021-04-23 21:26] dmagyar commented on #17499
It is definitively broken for me as well. Tried with a 5.31 test instance and it was still working.

[2021-04-24 00:57] M-ZubairAhmed commented on #16514
@hmhealey yes i havent got response on the other one, so i will start working on this

[2021-04-24 01:07] esethna commented on #16846
Closing this ticket as the feature is merged in master and will be available in v5.35. Thanks @berkeka!

[2021-04-24 01:07] #16846 closed

[2021-04-24 02:04] chenilim opened #23273 "Feature Idea: Link to another card"

[2021-04-24 11:34] bastien-solutions commented on #17499
+1 confirm this is also broken for me (with or without scope).

[2021-04-24 13:14] haardikdharma10 commented on #16947
Hi @M-ZubairAhmed, you can work on this issue :)

[2021-04-24 17:03] stefanct commented on #1982
Actually, this is not a feature request but a bug report. This autoconversion mangles messages that are not meant to be smileys etc. (and of course it is additionally just annoying for some users even if the autoconversion is "correct" but that's not the point, really. It is also a rather small change. Please open this up again and state if you would accept patches dealing with it.

[2021-04-24 18:19] Pomax commented on #1982
A few years later, but let me just add that even back when I filed this, this basically turned into "go post it somewhere that we're not going to ever look at so you feel like you're helping but really we just don't care and this will let us never have to look at it again".

So five years on, hopefully that changed.

Having said that, commenting on a closed issue is never a good plan, just file a

[2021-04-24 23:54] gorostiaga commented on #16514
Hello, sorry the the late rsp.
Ive checked this [PR](https://github.com/mattermost/mattermost-webapp/pull/7082) and I think that is the same solution. Ive synced the repo but I was having problem to run the platform.
I would to keep helping on this issue, but since Ive got no much time recently, it'd be good if you decide to open this issue.
Cheers

[2021-04-25 08:34] vitowidigdo commented on #17286
Can I take this issue?

[2021-04-25 12:16] stefanct commented on #15012
AFAICT it was not included in v5.33.1. Am I right in assuming it will be in v5.33.2? An update on any further plans would be appreciated. Sorry for pestering but this issue makes some MM instances hardly usable for me...

[2021-04-25 23:06] alankan886 commented on #17468
I would like to work on this issue!

[2021-04-26 04:07] agnivade commented on #15012
Yes, this is in 5.33.2.

@stefanct , @kongr45gpen - Would you be able to try with a MM version >= 5.33.2 and let us know if there is an improvement? There is still some performance left to extract, but users have reported a slightly better experience.

[2021-04-26 04:15] jasonsmith425 commented on #15012
I would agree our performance got less bad with 5.33.3 but it's still bad.

[2021-04-26 04:48] djanda97 commented on #17282
I'll take a shot at this issue.

[2021-04-26 09:22] agarciamontoro commented on #17468
Thank you for the interest, @alankan886, it's all yours! Feel free to ask anything you need :)

[2021-04-26 11:52] #15642 closed

[2021-04-26 12:10] kari-awake commented on #17497
we are using 5.28

I was asking this since wildcards seem to work for http(s) but not for the websocket upgrade.

If we configure `*`, mattermost returns `access-control-allow-origin: *`. Is there a way to make mattermost rewrite origin? It would be just like `*` but would allow credentials..

[2021-04-26 12:12] amyblais commented on #17496
cc @streamer45

[2021-04-26 12:30] streamer45 commented on #17496
@vblz
Thanks for the report. Indeed this looks like a client-side issue.

@amyblais
I think it makes sense to create a ticket and assign it to the appropriate team (Web Platform maybe).

[2021-04-26 12:58] kaakaa opened #17515 "Unable to join a public channel with 26-characters channel names from channel link"
#### Summary
When clicking a public channel link with 26-characters channel name (e.g.:`~abcdef12345678901234567890`), displayed `Channel Not Found` error page and can't join the channel.

#### Steps to reproduce
1. Create a public channel with 26-characters channel name (e.g.: `abcdef12345678901234567890`)
2. Write channel link to the channel (e.g.: `~abcdef12345678901234567890`) in other channel

[2021-04-26 13:13] komik966 commented on #15160
I'm still working. I need additional 10 days. Until now I spent time to get familiar with plugins system and e2e tests (connected with this issue)

[2021-04-26 13:26] amyblais commented on #17496
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-35175

[2021-04-26 13:28] amyblais commented on #17515
@kaakaa Could this be related to https://github.com/mattermost/mattermost-server/issues/16939? (A ticket is here: https://mattermost.atlassian.net/browse/MM-32912)

[2021-04-26 13:34] kaakaa commented on #17515
Ah, i missed it. It seems to had been discussed about this issue in jira ticket.
Close this. Thanks @amyblais!

[2021-04-26 13:34] #17515 closed

[2021-04-26 14:48] sbishel commented on #17499
@sooslaca - Why do you need "openid" in scope? TE supports Gitlab auth via OAuth which should only require "read_user" scope.

[2021-04-26 14:54] bastien-solutions commented on #17499
It was simply the scope set by default in previous versions.
Anyway, whatever the scope set in ["","openid","read_user"], this doesn't work.

[2021-04-26 15:10] sbishel commented on #17499
What error do you see with `"Scope": ""`?

[2021-04-26 15:14] bastien-solutions commented on #17499
The HTTP router seems not respond to the redirect URL  : https://my_domain/signup/gitlab/complete&state.... (get a HTTP 404).

[2021-04-26 15:27] agnivade commented on #17497
Yes, unfortunately the code to handle CORS for normal http(s) and websocket upgrades are different.

No I don't believe so. You can set `"CorsAllowCredentials"` to true to allow credentials, but everything else will remain the same.

[2021-04-26 15:55] sbishel commented on #17499
That is a different issue, not an issue with scope.

[2021-04-26 16:08] amyblais commented on #17502
@Michael-E-Rose A dev commented that this is likely expected.
Does it work properly if you add a newline in between?

[2021-04-26 16:27] JoannaLe opened #17519 "Unread messages banner displays code"
#### Summary
Unread messages banner ("Jump to ...") displays code

#### Steps to reproduce
i'm on version 5.33.3 of the Mattermost app.
1. Click on a channel with unread messages
2. The issue appears with the banner at the top of the channel underneath the header

#### Expected behavior
The banner should display information in clear English. It looks like the banner was intended to also display th

[2021-04-26 16:33] amyblais commented on #17519
This was listed as a known issue in the changelog for v5.33 and there is [a ticket](https://mattermost.atlassian.net/plugins/servlet/mobile?originPath=%2Fbrowse%2FMM-33829#issue/MM-33829) but it seems to have been closed recently as “cannot reproduce”. Can we reopen it? @lieut-data @Willyfrog

[2021-04-26 16:40] Willyfrog commented on #17519
@JoannaLe hi! and thanks for reporting, can you reproduce consistently or do you recall any details on the moment it happened. Also if you can reproduce, can you capture the console logs and share with us (if it contains sensitive data you can DM me the info in our [community server](https://community.mattermost.com))

@amyblais we can reopen, but I'd love any info on how to reproduce it as I've b

[2021-04-26 18:11] bastien-solutions commented on #17499
This is a "gitlab auth broken" issue :)

[2021-04-26 18:18] #17349 closed

[2021-04-26 20:10] #15649 closed

[2021-04-26 20:36] hmhealey commented on #16514
@gorostiaga Thanks for following up!

Looking at that error again, we've more recently found that that's caused by whichever version of Node you're on. We recently updated to Node 14 which will pass almost every unit test at the moment, so if you're ever helping out again in the future, the version of Node would likely be the cause of any issues with that.

[2021-04-26 22:49] allebone commented on #15606
I would concur with Teams requiring this. Lots of small teams use SSO via OIDC regardless of their profit scheme. If the concept is to promote smart Cybersecurity on all products we encounter in the ecosystem, this is the bare minimum. Gitlab and many others provide mechanisms to support OIDC without charging.  MM already provides plenty of incentive to scale to enterprise for other reasons and ot

[2021-04-27 01:29] josephbaylon commented on #15709
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15709 closed

[2021-04-27 01:29] josephbaylon commented on #15711
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15711 closed

[2021-04-27 01:29] josephbaylon commented on #15713
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15713 closed

[2021-04-27 01:29] josephbaylon commented on #15708
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15708 closed

[2021-04-27 01:29] josephbaylon commented on #15715
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15715 closed

[2021-04-27 01:29] josephbaylon commented on #15714
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15714 closed

[2021-04-27 01:29] josephbaylon commented on #15710
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15710 closed

[2021-04-27 01:29] josephbaylon commented on #15712
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:29] #15712 closed

[2021-04-27 01:30] josephbaylon commented on #15707
Detox PR: https://github.com/mattermost/mattermost-mobile/pull/5352

[2021-04-27 01:30] #15707 closed

[2021-04-27 03:31] agnivade commented on #15012
Thanks @hjek for the report! It wasn't me who worked on the issue but @lieut-data :) The slowness isn't to do with suggestions AFAIK, but we saw this happen for users with a lot of DM messages open. But clearly, this is happening to you with just 2 DM channels too.

/cc @lieut-data if you want to gather any info.

[2021-04-27 06:49] Gloriashield opened #17521 "Error: Cannot find module 'imagemin-gifsicle'"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-04-27 10:46] lieut-data commented on #15012
@hjek, I really appreciate your continued testing and observations here. The screen recording you've shared is unlike anything we've been able to reproduce so far.

I know a few months back you were able to provide a performance trace while typing: could I trouble you for a fresh one against our community server? Ideally using Chromium, since it should also contain some of the React events showcas

[2021-04-27 11:46] stefanct commented on #15012
on an abstract level the problem seems obvious: you are executing waaaaay too much code on every key press.
the performance is very different between firefox and chromium. on the latter i get a few dozen, maybe up to 200ms lag. on firefox it is unusable with lag in the seconds as shown above. but even on chromium the cpu load heavily increases when typing and tbh this is ridiculous. if you are inv

[2021-04-27 12:04] lieut-data commented on #15012
Indeed: as near as I understand it, the issue stems from our incorrect usage of Redux that ultimately results in a ton of unnecessary React overhead. Tackling this isn't impossible, but it requires intentional and un-distracted effort.

@stefanct, I don't mind the honest feedback. My sentiments run in the same direction :)

[2021-04-27 12:17] #15771 closed

[2021-04-27 13:44] amyblais commented on #17521
@Gloriashield Would any of these previous threads help?
 - https://github.com/mattermost/mattermost-server/issues/17452
 - https://github.com/mattermost/mattermost-server/issues/17420

cc @hmhealey

[2021-04-27 13:48] amyblais commented on #17499
@ahmaddanialmohd Would someone on support team be able to help take a look at this?

[2021-04-27 15:03] arvinDarmawan commented on #17280
Hi, Im interested with this card.

[2021-04-27 15:23] sooslaca commented on #17499
Just a feedback, my issue got solved after I added scope: "read_user". With empty scope it did not work for me.
I dunno about others, but from my end it is ok to close this one.

Thanks for the help !

[2021-04-27 15:24] tangtony opened #17528 "Fallback text is occasionally displayed alongside the attachment message text"
#### Summary
When sending a message to Mattermost using a webhook, the fallback text is occasionally displayed alongside the message text:
<img width="250" src="https://user-images.githubusercontent.com/5085394/116266350-858d1900-a749-11eb-91ee-e7288366c489.png">

A few notable points:
* The above was seen on the web client
* Refreshing the web client causes the fallback text to disappear from the

[2021-04-27 16:04] hmhealey commented on #17521
To summarize those other issues, downgrading to Node 14 should hopefully fix these issues, but seeing as we're getting so many reports of this, I'm going to file an issue to fix this better. Obviously our image loader is the problem here, and I also saw issues with it once or twice when using NPM v7, but that was from a different dependency

[2021-04-27 16:43] amyblais commented on #17502
Confirmed with devs that the original report and the other note https://github.com/mattermost/mattermost-server/issues/17502#issuecomment-827127968 are currently expected.

[2021-04-27 16:55] pangyiwei commented on #17285
Hi. I would like to try this!

[2021-04-27 18:15] amyblais commented on #17528
@DHaussermann Are you able to reproduce this?

[2021-04-27 22:29] esethna commented on #15649
Thanks @TheDarkestDay! Nice work!

[2021-04-27 23:00] hjek commented on #15012
- CPU: AMD E1-2100 APU (2) @ 1.0GHz
- GPU: AMD ATI Radeon HD 8210
- Memory: 2822MiB / 3365MiB

I tried Chromium on community.mattermost.com and performance was okay. Performance is worse when recording a profile, so not sure how accurate an picture it paints.

[Profile-20210428T002436.json.zip](https://github.com/mattermost/mattermost-server/files/6388065/Profile-20210428T002436.json.zip)

That ot

[2021-04-28 04:17] #17098 closed

[2021-04-28 07:04] jayenashar opened #17532 "Upgrade from 5.34.1 to 5.34.2 broke permissions and pg password?"
#### Summary
Upgrade from 5.34.1 to 5.34.2 broke permissions and pg password?

#### Steps to reproduce
Install mattermost omnibus 5.30.1 and upgrade incrementally to 5.34.2

#### Expected behavior
mattermost should start

#### Observed behavior (that appears unintentional)
first error: `Error: failed to load configuration: failed to create store: unable to load on store creation: failed to persist

[2021-04-28 07:10] agnivade commented on #17532
It looks like your config.json has got reset to the default values, which use the `mmuser` user. I'd perhaps suggest to take a look at the file and rectify the database credentials.

[2021-04-28 07:11] jayenashar commented on #17532
i did this but now it's trying to connect to mattermost_test.  i wish i backed up the config file...

[code]

[2021-04-28 07:15] agnivade commented on #17532
You need to update the config to whatever database you want to connect to.

[2021-04-28 07:25] jayenashar commented on #17532
i found a backup but it has the same password and db name.  something else has gone wrong since 5.34.1 worked fine with this connection string even though the database `mattermost_test` doesn't exist.

[2021-04-28 07:34] jayenashar commented on #17532
found the real settings in /etc/mattermost/mmomni.mattermost.env .  will change the mmuser password back to that and 🤞🏾

[2021-04-28 07:51] jayenashar commented on #17532
fixed it by downgrading to 5.34.1 and reverting the db password.  had some [i believe unrelated] issues with cerbot.  will wait for 5.34.3 or 5.35 before trying to upgrade again

[2021-04-28 13:05] amyblais commented on #17477
@ahmaddanialmohd Has this issue come up for support team before and do you have any additional troubleshooting ideas?

[2021-04-28 13:18] greenbackboogie97 commented on #17281
Hey can I work on This ?

[2021-04-28 14:43] #17149 closed

[2021-04-28 23:49] JoannaLe commented on #17519
Yes, this happens every time I go to a channel with unread messages since the last time I visited the channel. There are no error messages on the console, and element inspection doesn't reveal anything useful either - everything seems to be abstracted under `<webview id="mattermostView0" preload="file://etc" src="https://etc">`
![image](https://user-images.githubusercontent.com/22846643/116486048-

[2021-04-29 05:14] staabm opened #17539 "Changing a channel on iPad opens the onscreen keyboard"
#### Summary

jumping between channels on ipad, when using the default webinterface opens up the onscreen keyboard, which is annoying.

#### Steps to reproduce
- login with ipad on the webinterface
- Select a channel from the sidebar -> keyboard opens
- Jump to another channel -> keyboard opens

the same happens when changing teams via the navigation, but I guess its the same cause. Changing the t

[2021-04-29 08:17] Gloriashield commented on #17521
@amyblais
Thank you! It was a mistake I didn't look for enough. It was same #17420. I could solve it : npm install gifsicle

@hmhealey
I think it will be solved well. Thank you!

Have a nice day!

[2021-04-29 08:17] #17521 closed

[2021-04-29 12:45] svelle opened #25994 "Allow export of a single channel/user/team"
When using the mmctl export command it would be absolutely terrific to have the option of exporting only a selected user, channel or team instead of everything!

Something like

`mmctl export --channel [channelid]`
`mmctl export --team [teamid]`
`mmctl export --user [username]`

Cheers!

[2021-04-29 13:12] lieut-data commented on #15012
@hjek, thanks for that trace! It roughly compares to my own in terms of the raw events happening. (On my my 2.5 GHz Quad-Core Intel Core i7, the effects are not nearly as severe as what you're seeing, but I can simulate your pain with a 4x or 6x CPU throttling.)

What this tells me is that the pending work we intend to do in addressing the fundamentals is still the right approach here, and that yo

[2021-04-29 15:24] arvinDarmawan commented on #17283
Hello, Im interested with this issue.

[2021-04-29 17:05] vitowidigdo commented on #17286
I'm new to TypeScript, as I run `make check-types` I'm getting this error in the test file. Anyone knows why?
![Screen Shot 2021-04-29 at 20 09 58](https://user-images.githubusercontent.com/35423212/116590298-c6eb1780-a947-11eb-8eb6-dc127fb1b549.png)

[2021-04-29 19:29] amyblais commented on #17539
QA was able to reproduce, ticket here: https://mattermost.atlassian.net/browse/MM-35328

[2021-04-29 20:25] riatzukiza commented on #17284
Hello, I'm with @raft-tech, we are looking to start making contributions to the project, and would like to start with this one. Mind if we take this off your hands?

[2021-04-29 20:26] jorgegonzalez commented on #17256
Hello, I'm with @raft-tech, we are looking to start making contributions to the project, and would like to start with this one. Mind if we take this off your hands?

[2021-04-30 01:55] Dinoryong commented on #15640
Hello! Our team is initiating this issue. one of mattermost gsoc idea. [DND scheduling for work hours and overriding DND](https://developers.mattermost.com/contribute/gsoc/#do-not-disturb-improvements). Join us anyone who are interested in

[2021-04-30 02:13] Dinoryong opened #17547 "[MM-8897] DND(do not disturb) scheduling for work hours and overriding DND for important messages"
we initiate on new project #15640
[our server repo link](https://github.com/SF03PJT/mattermost-server/tree/MM-8897)
[our web-app repo link](https://github.com/SF03PJT/mattermost-webapp/tree/MM-8898)
it's originally a gsoc idea [link](https://developers.mattermost.com/contribute/gsoc/#do-not-disturb-improvements)

our first design
https://www.figma.com/file/YUa3E5iKzYypyoDw1UU1Ig/thumbnail?ver=thum

[2021-04-30 02:17] 5ujin commented on #17547
like the idea! I'd like to join you

[2021-04-30 02:27] #17547 closed

[2021-04-30 04:13] felixshai commented on #17279
Hi, I'd like to take care of this issue. :smiley:

[2021-04-30 05:36] djanda97 commented on #17263
I'll open a PR for this issue.

[2021-04-30 12:23] amyblais commented on #17477
@parnic-sks Do you have any words set in Account Settings > Words that trigger mentions > Other non case-sensitive words, separated by commas: that might be causing the issue (i.e. still sending an email even although you have email set to "never")?

[2021-04-30 14:03] #17282 closed

[2021-04-30 14:17] parnic-sks commented on #17477
@amyblais I have the following settings:
![image](https://user-images.githubusercontent.com/62021255/116707928-d17fce00-a994-11eb-85cb-224e1980eeb7.png)

[2021-04-30 14:21] amyblais commented on #17477
@parnic-sks Do you have any other accounts on that server? My thought is that maybe that other account is getting the email notifications if the account has a similar username as your main admin account.

[2021-04-30 14:23] parnic-sks commented on #17477
That's a wonderful question that I'm embarrassed to not have considered sooner...

Yes, it looks like one of the bot users we created has a distribution list that I'm a member of as its email address.

Terribly sorry for the confusion - I appreciate all the help!

[2021-04-30 14:23] #17477 closed

[2021-04-30 14:24] amyblais commented on #17477
No worries!

[2021-04-30 15:46] andzejsp commented on #11500
What did you exactly do i face similar problem
[code]
Whenever i enter mattermost webhook keywords in channel i get the error log above.

I have local rasa x server on VM and mattermost server on seperate VM and i follwed the guide on adding webhook to credidential.yml. I even tried webhook token and bot token, none of them work.
I set up the default chat-bot in rasa opensource using rasa init. Im

[2021-04-30 16:36] vaidyamilind commented on #16993
Hi, I would like work on this.

[2021-04-30 17:55] esethna commented on #16245
@CCCCY096 please let us know if you're still working on this issue, otherwise I'll readd the up for grabs label

[2021-04-30 18:15] jtwillis92 commented on #16516
Hello, I'm with @raft-tech, we are looking to start making contributions to the project, and I'd like to attempt this one. Mind if we take this off your hands?

[2021-05-01 16:41] darkLord19 opened #17552 "Timezone selection dropdown theming issue"
<img width="765" alt="Screenshot 2021-05-01 at 10 09 53 PM" src="https://user-images.githubusercontent.com/16662014/116788965-1d805f00-aaca-11eb-971a-6556c9bd928c.png">

[2021-05-01 17:34] vaidyamilind commented on #16993
I would like know that actual changes will happen at **mattermost /
mattermost-plugin-incident-collaboration** level

[2021-05-01 22:45] amyblais commented on #17552
Thanks, ticket: https://mattermost.atlassian.net/browse/MM-35377.

[2021-05-02 10:42] felixshai commented on #17279
After reviewed other commits migrated codes to TypeScript. I fixed all errors arised from `make check-types`. Except for the error cause by the line `this.node = node` in
`components/suggestion/search_date_suggestion/search_date_suggestion.tsx`

I have no clues what would be best practice to fix the error. Any advice, further readings or links are welcome.

My current progress: https://github.com/

[2021-05-02 13:08] sbaloo9168 opened #17554 "DB issues when migrating from docker image app to enterprise edition"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2021-05-03 05:09] prapti opened #17555 "E2E Test Automation Hackfest 2021 🚀"
### **Cypress Test Automation Hackfest** :rocket:

Win an exclusive Mattermost swag bag by making five contributions to the Cypress Test Automation campaign during the month of May, 2021.
Plus top-3 contributors receive a special award!

The Mattermost team is working on automating feature testing of the webapp to
1. Decrease time to ship a bug fix release
2. Raise the quality of the software by r

[2021-05-03 10:59] arvinDarmawan commented on #17469
Hi, Im interested with this card.

[2021-05-03 12:38] agarciamontoro commented on #17469
Thank you for your interest, @arvinDarmawan! Don't hesitate to ask anything you need!

[2021-05-03 12:40] amyblais commented on #17554
@cpanato @agnivade Are you familiar with this issue, or do you know who I could ask to take a look?

[2021-05-03 12:44] cpanato commented on #17554
i dont maybe @streamer45

[2021-05-03 12:48] streamer45 commented on #17554
I think this is a known issues due to an outdated (and now unsupported) PostgreSQL version (<10). More info can be found in the repository home page: https://github.com/mattermost/mattermost-docker.

[2021-05-03 15:57] sbaloo9168 commented on #17554
Thanks i will have a look. But so if i understand well the actual docker image for the mattermost/mattermost-prod-db:latest is not uptodate for now. It should be in posgres 10

[2021-05-03 16:26] streamer45 commented on #17554
That's correct. Newer Mattermost versions support 10+.

[2021-05-03 16:41] madhavhugar commented on #17318
@agarciamontoro I would like to work on this :)

[2021-05-03 17:30] agarciamontoro commented on #17318
Thank you for your interest in this one too, @madhavhugar, it's all yours!

[2021-05-03 19:40] yousef-soliman opened #17568 "command make run-server"
#### Summary
when run command `make run-server` it will show this error
[code]
#### Steps to reproduce
`make run-server` for first time

#### Possible fixes
i think the docker image `jhillyerd/inbucket` is deleted we should replace it with `inbucket/inbucket`
i have search for this docker image but i couldn't find it

[2021-05-03 23:44] greenbackboogie97 commented on #17281
https://github.com/mattermost/mattermost-webapp/pull/8057

[2021-05-04 00:59] bbodenmiller opened #17569 "Respect configured download link for in-product notifications"
#### Summary

In-product notifications to update desktop app should use configured download apps link

![image](https://user-images.githubusercontent.com/1192780/116950250-496e2280-ac39-11eb-92a5-a8e523efef9d.png)

#### Steps to reproduce
1. Configure download apps link
2. Download old version of Mattermost desktop
3. Get prompt for "new desktop version available"
4. Click Download

#### Expected

[2021-05-04 08:49] darkLord19 commented on #17568
It's been updated in latest master, you should pull latest commits and try again.

[2021-05-04 09:04] #17568 closed

[2021-05-04 12:50] amyblais commented on #17569
@bbodenmiller Would you have more details on what the "configured Download Apps link" would look like or what you mean by it?

Can you help share a screenshot of what the in-product notice looks like in this case? Is the notice for desktop apps or for upgrading the server version?

[2021-05-04 16:59] agusl88 commented on #16206
Just wanted to mention that it keeps happening on 5.31

Created a new team, renamed the town square channel, added some people, and after just a few hours they are reporting stuck notifications. If there is anything else i can do to help debug this let me know,

[2021-05-04 17:07] amyblais commented on #16206
@isacikgoz Please help take a look, or let me know if a new ticket should be created for further investigation.

[2021-05-04 19:57] #17263 closed

[2021-05-05 02:53] #17285 closed

[2021-05-05 06:42] bbodenmiller commented on #17569
@amyblais I'm referring to this existing download link setting

![image](https://user-images.githubusercontent.com/1192780/117104424-f37ca600-ad30-11eb-8335-95bdd9f52758.png)

The same in-product notice as pictured above. They told me that download button took them to https://mattermost.com/download/?inapp-notice=true# which shows server download at top.

[2021-05-05 11:39] mattermod opened #17572 "Refine the 'Do Not Disturb' experience to support custom time intervals and scheduled times"
#### Story

As a user, I would like to ability to have more control over my 'Do Not Disturb' settings.

#### **Use Cases**

  * I'm getting ready to jump into a meeting or need focused time without distractions, having the ability to set a quick DND timer would be valuable so I don’t have to worry about forgetting to clear my DND status.
  * I do not want to receive notifications during my non-wor

[2021-05-05 11:39] mattermod opened #17573 "Hover effect missing on search hint toast dismiss button"
Environment: master (also on daily) found during PR testing
https://github.com/mattermost/mattermost-webapp/pull/8018

Steps:
1) Open channel with long post history
2) Scroll few pages up to trigger search hint toast
3) Hover over X on the search hint toast

Expected: Hover effect over dismiss button

Actual: No hover effect.
 ![](Screen Shot 2021-04-29 at 11.25.08 AM.png|thumbnail)

----
If you'r

[2021-05-05 11:39] mattermod opened #17574 "Add "Browse Channels", "Create New Channel" and "Open a Direct Message" to the category ... menus"
User story: [https://community-daily.mattermost.com/private-core/pl/rj1z4ouayp8u98sjdp8qir3n5h](https://community-daily.mattermost.com/private-core/pl/rj1z4ouayp8u98sjdp8qir3n5h)

### Functional Notes

For each `Custom` category and the `Favorites` category, add these new options:

  * Browse Channels
  * Create New Channel
  * Open a Direct Message

Place these new menu items in a group below the

[2021-05-05 12:03] isacikgoz commented on #16206
@amyblais Before creating a ticket I want to get more info on this hence I have some questions to @agusl88 and an apology for the late reply. @agusl88 can you access to `ChannelMembers` table in your DB and confirm that users (for the users who are experiencing the stuck notification issue) has `0` value for the `MentionCount` column? You will need the channel id, and user id to find the channel m

[2021-05-05 12:37] amyblais commented on #17569
I'm unsure if it's possible to have the in-product notice link to respect the "Mattermost Apps Download Page Link" setting. I'll let @esethna to take a look in case he knows.

[2021-05-05 13:13] Dinoryong commented on #17572
Our team is working on this issue

[2021-05-05 14:22] amyblais commented on #17552
@darkLord19 Are you still able to reproduce this? If yes, on what version?

I was able to reproduce this last week, but not anymore.

[2021-05-05 14:25] ggrrll opened #17575 "cycling back with arrows"
are there progresses on this?

https://mattermost.uservoice.com/forums/306457-general/suggestions/13744383-make-up-arrow-behavior-configurable
(it was on 2016...)

(btw, slack has that, and it is very handy :) )

[2021-05-05 15:19] #17573 closed

[2021-05-05 15:19] esethna commented on #17573
Closing as it doesn't repro anymore

[2021-05-05 16:13] ggrrll commented on #17575
(sorry, my fault! -- you are totally right)

[2021-05-05 16:35] darkLord19 commented on #17552
@amyblais yes after testing now issue is present on community(v5.34) but looks to be fixed in community-daily(5.35)

[2021-05-05 16:38] #17552 closed

[2021-05-05 16:54] amyblais commented on #17491
### v5.35 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.35.0-rc1/mattermost-team-5.35.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4516/files)

[2021-05-05 17:31] esethna commented on #17569
@amyblais can you help open a ticket for this? Totally makes sense that the notice should be able to respect that config setting if it's customized. We'll need to build some syntax for the [notice JSON](https://github.com/mattermost/notices/blob/release/notices.json#L15) so that the server knows to check if the setting is configured and override the specified link if it is

[2021-05-05 17:33] esethna commented on #17569
@bbodenmiller can you help me understand how you've configured that setting? Where does your custom link send users and do you keep it up to date with our production desktop releases? I'm wondering if it even makes sense to show the "update your desktop" notice on systems where the "mattermost apps download page link" has been customized

[2021-05-05 17:40] amyblais commented on #17569
Opened a ticket: https://mattermost.atlassian.net/browse/MM-35468

[2021-05-05 19:26] esethna commented on #15640
@mahenzon, apologies for not seeing you comment earlier. @Dinoryong's team is working on this enhancement as designed here:  https://github.com/mattermost/mattermost-server/issues/17572

[2021-05-05 22:28] #17467 closed

[2021-05-06 02:31] djanda97 commented on #13714
I created a branch to start working on this issue and I'll open a PR once it's ready or if I need to ask questions :smile:

[2021-05-06 03:57] bbodenmiller commented on #17569
@esethna we have it pointed to an internal site that tells people how to download the app following our approved processes (essentially an internally hosted version that's passed some checks). We can update the internal download in minutes & this feature has already proved useful with folks asking us where to get the updated version because they thought they were on the latest already. So I'd vote

[2021-05-06 09:36] DVTrast commented on #17407
Issue exists in mattermost version 5.34.2 too.

[2021-05-06 17:15] mattermod opened #17580 "Installing 6+ plugins that add a channel header button doesn't render nicely"
Part of this is from plugins not providing the right text here but some of them look off anyways.

Repro steps:
1. Upload and install 6 plugins that add channel header buttons
2. Open the plugin dropdown in the channel header

Observed: Formatting is broken for the dropdown for a lot of the plugins (see screenshot)
Expected: Formatting is clean

Context can be found here: https://community.matterm

[2021-05-07 04:43] alankan886 commented on #17468
Hey @agarciamontoro, thank you for all your help throughout this process. The PR is now submitted, but there seems to be some `'docker login': denied: requested access to the resource is denied` issues in the e2e tests in CI, I don't think it's related to my code change, but let me know if there's anything I need to change. Thanks!

[2021-05-07 07:55] nurulakbartanjung opened #17583 "How to Access Swagger Documentation in matermost ?"
How to access matermost swagger documentation ? I access on https://mydomain/api/v4/swagger/index.html but not found

[2021-05-07 09:05] simaotwx commented on #17499
@sooslaca I can confirm that just `read_user` as scope works but leaving it empty or with `profile email openid read_user` does not.

[2021-05-07 13:51] WuglyakBolgoink opened #17584 "Users can't see my nickname if I use special characters like Æ in contact list"
#### Summary
Users cannot see my nickname

#### Steps to reproduce
- Change nickname to "blablabla" - users can see it
- Change nickname to "Æ" - users cannot see, only status

![image](https://user-images.githubusercontent.com/2271337/117459238-78430c00-af4b-11eb-9c99-58828a792cc3.png)

but in chat all can see my nickname correct
![image](https://user-images.githubusercontent.com/2271337/11745964

[2021-05-07 16:38] amyblais commented on #17584
@WuglyakBolgoink What Mattermost server version are you on? You can find it at Main Menu > About Mattermost.

[2021-05-07 16:59] amyblais commented on #17584
@WuglyakBolgoink What are the other users' setting set to for Account Settings > Display > Teammate Name Display?

I believe the nickname will only show if the setting is set to "Show nickname if one exists, otherwise show first and last name".

[2021-05-08 10:47] Tragen opened #17587 "Markdown: bad rendering of table with empty cells"
#### Summary
This bug is very similar to  #6951 but I think it wasn't fixed completely
Tables with empty cells at the end are not rendered properly if there is a new line after the table

#### Steps to reproduce
Write a message with this content
[code]

Write a message with this content
[code]
#### Expected behavior
Both tables should render as
![image](https://user-images.githubusercontent.com/17

[2021-05-09 16:56] bhargavkumar7031 commented on #17574
@mattermod Can I work on this?

[2021-05-10 09:17] WuglyakBolgoink commented on #17584
same on both users
![image](https://user-images.githubusercontent.com/2271337/117636553-38656a00-b181-11eb-9da5-1013713a82a8.png)

with a same version
![image](https://user-images.githubusercontent.com/2271337/117636586-41eed200-b181-11eb-8fb4-9e13d244c8ed.png)

[2021-05-10 13:24] amyblais commented on #17584
@lindy65 I tried this a few times but wasn't able to reproduce. Would you be open to testing this? I'm guessing that the reporter is on v5.33 or v5.34 because the screenshots show custom statuses.

[2021-05-10 14:27] uusijani opened #17593 "No backup/recovery code mechanism for MFA"
#### Summary
After setting up multi-factor authentication, losing the authentication code-generating device means losing access to the Mattermost account. While having MFA is excellent, I'm afraid to set it up for my admin user account (which is the one most critically needing it), because there's no recovery mechanism in case I lose my authenticator device.

#### Steps to reproduce
1. [Enable up

[2021-05-10 15:03] amyblais commented on #17593
Pinging PM @wiersgallak to confirm the status on this and whether there is another location for community members to follow the status on this feature.

[2021-05-10 16:21] lindy65 commented on #17584
Hi @amyblais @WuglyakBolgoink - I will take a look - although I am on Windows 10/Chrome

[2021-05-11 06:00] hakanaku1234 opened #17599 "how can i get rid of blocked:csp"
hello, i wonder if there is any simple way to add my url to white list of content-security-policy <br>
(I used gitlab mattermost integration)

in this file: `/opt/gitlab/embedded/service/mattermost/client/root.html` <br>
found the key meta `http-equiv="Content-Security-Policy"...` <br>
i was trying to modify this file (or even delete this scope) to get rid of ```blocked:csp```, but unfortunately,

[2021-05-11 07:26] majidit opened #17600 "The button to go to the last message"
Hello to all friends

I think it is very necessary to place a button to go to the last message in the channel.

PLZ Vote :

https://mattermost.uservoice.com/forums/306457-general/suggestions/43396839-the-button-to-go-to-the-last-message

@amyblais

[2021-05-11 09:58] #16984 closed

[2021-05-11 15:12] rogue73 commented on #17455
I have noticed a similar problem with 5.34.2. I do also a fresh installation with mysql configured and prepared with an empty database.
The information from the logfile is that it tries to reach the database on port 5432 which is postgres,
I have tried the same thing with an older version (5.27.0) and it works.

[2021-05-11 15:49] narduin opened #17605 "Invite email link is white on white background"
#### Summary
When inviting via email to a team, the link to join inside the email is white on a white background, making it really hard to join.

#### Steps to reproduce
- install Mattermost Team Edition 5.34.2
- create a team
- invite someone to the team via email

#### Expected behavior
The link to join should be visible and obvious.

#### Observed behavior (that appears unintentional)
Tried on

[2021-05-11 16:20] narduin commented on #17605
Thank you!

I tried signing up on an "open server" configuration and the validation email has the same problem.

[2021-05-11 19:53] lieut-data commented on #15012
@hjek, I won't turn down data :)

Note that while I remain tangentially involved in this investigation, @hmhealey and team are driving next steps. There are various issues at play here, some of which may indeed by Firefox specific.

[2021-05-11 23:30] esethna commented on #12316
@M-ZubairAhmed how's this going? :)

[2021-05-11 23:57] esethna commented on #16248
Addressed in https://github.com/mattermost/mattermost-webapp/pull/7246

[2021-05-12 09:58] TheDarkestDay commented on #15652
I have been keeping this in my bookmarks for too long. I would like to work on it.

[2021-05-12 16:21] hahmadia commented on #17605
Hi @narduin,

Mattermost Developer here!

So I took a look into this and the email I'm receiving is vastly different from yours.
![image](https://user-images.githubusercontent.com/17804942/118009629-3683de00-b31c-11eb-873f-200356f868e9.png)

Notice all the styling that is in my email and not yours. My gut tells me that your client may be stripping the HTML parts as part of some sort of security me

[2021-05-12 17:29] esethna commented on #15652
Nice, thanks @TheDarkestDay!

[2021-05-12 21:07] esethna commented on #15638
We are pulling this ticket in to start internally so closing this HW ticket

[2021-05-12 21:07] #15638 closed

[2021-05-12 22:00] mattermod opened #17613 "Render markdown in email notifications"
Currently emails render just plain text. This ticket is to offer the same text markdown rendering for messages sent to users in email notifications as in the product. At least we should start with the most common markdown (links, bold, italics)

For example, after this change `**@user1**` would display as **@user1**.

<img width="669" alt="Screen Shot 2021-07-30 at 12 20 35 PM" src="https://user-i

[2021-05-12 22:00] mattermod opened #17614 "Webapp: Ability to tell when someone was last active"
Based on [customer feedback](https://mattermost.atlassian.net/browse/CR-280), add a “Last online” status in a few key places to see when users were last online. This status would only display for users who are Away, Offline or DND.

#### Profile Popover

  * Add “Last online…” status under the profile avatar on the profile popover

![](image-20210323-154841.png|width=288,height=494)

#### New popo

[2021-05-12 22:00] mattermod opened #17615 "Allow users to find Admins in the team and channel members modals"
Users have trouble finding who are admins when viewing members of a channel or team.

Propose adding the same filter mechanism used in the “More Channels” dialog to the channel members and team members modals.

Example:

![](image-20210511-195110.png|width=658,height=435)

Channel Members modal: Add the dropdown with the options “All channel members” and “Administrators”. When “Administrators” is

[2021-05-12 22:00] mattermod opened #17616 "Strip markdown formatting characters from push notifications"
Observed:
Push notifications do not render markdown but they still display the raw formatting characters in push notifications.

Expected:
Keep the human readable parts of the message but strip the markdown formatting characters

ie,
1. bold (**)
2. Italics (*y)
3. Embedded Links (keep text but not URL)
4. Image embeds (keep text but not URL)
5. Headings (#)
6. Quotes

See the related ticket that

[2021-05-13 02:10] ahmadkarlam commented on #17616
Hey, I wanna try to solve this.

[2021-05-13 08:21] kaakaa opened #17618 "Show blank page when creating Message Attachments with field.value of number type"
#### Summary

Creating a post with message attachments that has field with number breaks Mattermost WebApp.

![image](https://user-images.githubusercontent.com/1453749/118098691-2ac51400-b40f-11eb-9a48-41dab83da27f.png)

Browser records logs that may be related to this issue.

* `checkPropTypes.js?a15c:20 Warning: Failed prop type: Invalid prop 'message' of type 'number' supplied to 'Markdown', ex

[2021-05-13 12:30] amyblais commented on #17618
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-35689

[2021-05-13 17:13] #17491 closed

[2021-05-13 21:20] agusl88 commented on #16206
Hi @isacikgoz

I ran the following query for my user, that has 3 stuck notificaitons and got some interesting data

[code]

[code]
general is the name i use to rename the Town Square channel on the aditional teams. So the problem is definitely around the rename of the Town Square default channel.

[2021-05-13 21:29] esethna commented on #16226
@tclain how's this one going?

[2021-05-14 11:20] grundleborg commented on #8886
@chris-overton assigning you to this issue as discussed.

[2021-05-14 11:21] grundleborg commented on #8884
@chris-overton assigning you to this issue as discussed.

[2021-05-14 14:41] #17468 closed

[2021-05-14 16:48] majidsajadi commented on #17276
I will work on this one.

[2021-05-14 16:49] majidsajadi commented on #17274
I am working on this issue.

[2021-05-14 16:50] majidsajadi commented on #17275
I am working on this issue.

[2021-05-14 19:24] chenilim opened #17625 "🎯 Focalboard: Help wanted tickets"
![Focalboard screenshot](https://user-images.githubusercontent.com/46905241/118319025-09b40000-b4af-11eb-9054-e9fe794d6c57.jpg)

Focalboard is an open source, self-hostable alternative to Trello, Notion, and Asana. It will [soon ship](https://github.com/mattermost/focalboard/discussions/349) as part of Mattermost, and we need your help to make it awesome!

Check out the [Focalboard repo](https://g

[2021-05-14 23:01] hjek opened #17626 "Suggestion box content moves around"
#### Summary
Suggestion box content moves around

#### Steps to reproduce
- Say you wanted to link to the `~off-topic` channel, so you click on the text entry box and type `~off`.
- Then you move the mouse to the suggestion box where it says **Off Topic**
- Click on that channel name, except just before you clicked the channel name has changed to something else, because **Off Topic** was suddenly

[2021-05-15 17:27] majidsajadi commented on #17244
I'm working on this.

[2021-05-15 17:31] majidsajadi commented on #17249
I will work on this one.

[2021-05-15 18:29] TheDarkestDay commented on #15652
So far I have got several questions:

1. Requirements mention that we should introduce "new" style for info banners by replacing blue color with gray one. Did I get it correctly that we should just change this "primary" color for some existing kind of banners instead of creating completely separate kind? If so, which exact kind of banners should be a subject of this change (which banners belong to

[2021-05-16 08:40] alexandremottier opened #17628 "Feature request - Integration with WebDAV"
I don't think there's already a request for this but it would be wonderful to be able to synchronize presence status with a calendar.

I saw this in the forum but no response : [Forum item](https://forum.mattermost.org/t/syncing-mattermost-user-status-with-webdav-calendar/10132)

If you need more explanation about that request, please let me know by responding to that issue.

[2021-05-16 16:56] TheDarkestDay commented on #15652
i have certain ideas regarding possible implementation - so maybe I should repost it inside Mattermost dev channel as well.

Information about whether notifications are enabled or not on a browser level resides in a field called `notification.permission` as ticket description says (https://developer.mozilla.org/en-US/docs/Web/API/Notification/permission).

However, there is no rock solid way to tr

[2021-05-16 21:44] greenbackboogie97 commented on #17262
Can I give it a go?

[2021-05-16 21:47] greenbackboogie97 commented on #17258
Can I take this one?

[2021-05-16 21:47] greenbackboogie97 commented on #17257
Can I give it a go?

[2021-05-17 11:56] ntraut commented on #13261
It looks like this feature request:
https://mattermost.uservoice.com/forums/306457-general/suggestions/32349940-ability-to-modify-attached-files-when-editing-a-me

[2021-05-17 13:07] amyblais commented on #17628
Thanks, appreciate your feedback @alexandremottier,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say

[2021-05-17 13:09] amyblais commented on #17626
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-35794.

[2021-05-17 16:42] mahmud2011 commented on #16419
In case it's still up for grabs assign me.

[2021-05-17 16:58] agnivade commented on #16419
Ah sorry @mahmud2011, this issue isn't valid  anymore as we concluded that there wasn't anything to be done.

[2021-05-17 16:58] #16419 closed

[2021-05-17 18:02] lieut-data commented on #16402
Changing course on this feature.

[2021-05-17 18:02] #16402 closed

[2021-05-18 09:09] narduin commented on #17605
Hello @hahmadia!

I investigated further into email clients. It is indeed where the bug occurs.

I noticed that a lot of the styles, including the big "join team" button, are declared as css rules inside a `<style>` tag.
Support for `<style>` element [is still partial](https://www.caniemail.com/features/html-style/) within email clients.

That is why I can't see the button in **ProtonMail, Tutanot

[2021-05-18 13:51] alexander-potemkin opened #17637 "iPad OS smiles in horizontal position (with magic keyboard, for example)"
#### Summary
Not all smiles are visible in Mattermost iOS app on iPad OS. For example, you won't see thank you smile - 🙏
<img width="704" alt="MM smiles" src="https://user-images.githubusercontent.com/2323840/118662618-d2b85400-b7f8-11eb-9d16-e80bb59ccf22.png">

#### Steps to reproduce
Open Mattermost, put (or leave) your iPad in horizontal position (in my case, that's what happens, when I attach

[2021-05-18 13:57] alexander-potemkin opened #17638 "iPad OS horizontal mode cuts lattest message"
#### Summary
When the app goes back from the background, it is like hiding the latest message - like in screenshot provide, 'System' actually had another message, saying that that another user joined in, but you can't see it, unless you manually pull this part of the screen up and hold it to read.

#### Steps to reproduce
Bring the app from the background. It works like once in 5 times, I guess.

[2021-05-18 14:00] alexander-potemkin opened #17639 "Console's apply button get hidden on iPad OS Safari"
#### Summary
On iPad OS (iPad Pro 12.9) 'apply' button jump almost below reachability, when some of the settings get changed - please, see screenshot.
It's also quite hardly reachable, if Safari's URL bar is not hidden.

#### Steps to reproduce
Open settings, change any setting, node the apply button jumps down.

#### Expected behavior
Apply button to stay where it is =)

#### Observed behavior (t

[2021-05-18 14:32] amyblais commented on #17626
Devs closed the ticket as won't fix for now. This is intended as part of the design, as new results load in the suggest box expands to show them.

[2021-05-18 14:32] #17626 closed

[2021-05-18 14:40] amyblais commented on #17639
@alexander-akhmetov What Mattermost server version and Mattermost mobile app version are you on?

[2021-05-18 14:40] amyblais commented on #17639
Meant to ping @alexander-potemkin ^

[2021-05-18 14:44] amyblais commented on #17605
@narduin It seems that our email templates don't yet support clients that don't support the <style> tag. Would you be open to sharing this request on our ideas forum here https://mattermost.uservoice.com/forums/306457-general?

[2021-05-18 15:15] mattermod opened #17640 "Improve Join Leave messages to only combine adjacent events of the same type and respect the order of events"
As channel admin, when I remove channel members and then re-add them to a channel, the "System" message that shows this activity is showing the events out of order.

Expected Behaviour:
  * System message should combine users with join, left, added, removed events on separate lines, in the order the events occur. Note that the join/leave messages should still be separated by day (but combined with

[2021-05-18 15:16] hmhealey commented on #17626
To follow up on that, we don't think there's anything that could be done to change this without making the suggestion box a fixed size. Even then, there'd probably be cases where the content would shift around because the newly loaded content is either taller or shorter than the loading indicator, so there'd probably still be cases where this would be a problem. I think there might be more we coul

[2021-05-18 15:20] narduin commented on #17605
I will share the idea but it feels more critical than just a feature request. It's a huge accessibility and user experience problem.
Ultimately, it may lead to users being unable to join teams or at least having trouble joining.

I will try on my server to create the fallback styles inside the .mjml templates and keep you posted.

[2021-05-18 15:29] alexander-potemkin commented on #17639
@amyblais , 1.42.1 (build 354) for the app; 5.34.0 (5.34.2 build) for the server; team edition.

[2021-05-18 16:05] dovholuknf opened #17641 "collapsed thread - up arrow edits main posting not last reply"
#### Summary
in a collapsed thread, hitting the up arrow key to edit your last reply will edit the main posting (the post that started the thread) and not my 'last reply'.

#### Steps to reproduce
- Start a collapsed thread
- get someone else to make a comment
- reply to the comment
- hit up arrow
- observe you're editing the main post and not the last reply from 'you'

#### Expected behavior
I ex

[2021-05-18 16:21] esethna commented on #17641
Thanks! Filed a bug here: https://mattermost.atlassian.net/browse/MM-35840

@dovholuknf how is your experience with the feature aside from the bugs and known issues?

[2021-05-18 16:21] #17641 closed

[2021-05-18 17:09] narduin commented on #17605
Successfully converted `css-class` styles from external classes to inline `mj-class` styles and it shows up correctly in my client!
![image](https://user-images.githubusercontent.com/20305403/118694112-018bf580-b80c-11eb-9b4a-8dcf273b89e4.png)

[2021-05-18 17:49] amyblais commented on #17637
@josephbaylon May I ask your help to help try repro any of these iPad reports (this one ^, https://github.com/mattermost/mattermost-server/issues/17638, and https://github.com/mattermost/mattermost-server/issues/17639)

[2021-05-18 18:09] hahmadia commented on #17605
@narduin

Feel free to open a PR request. I'm a developer and can't decide on the priority of features. If you feel this is critical, you can open up a PR and our team will look at it and merge in due time. Thanks for your understanding and investigation. We look forward to your contributions!

[2021-05-18 18:17] josephbaylon commented on #17637
@amyblais I can reproduce this issue on iPad Pro (12.9-inch) 5th generation.

[2021-05-18 18:18] josephbaylon commented on #17638
@alexander-akhmetov @amyblais This is has been fixed in v1.43. I'm not able to reproduce the issue anymore.

[2021-05-18 18:23] josephbaylon commented on #17639
@alexander-akhmetov @amyblais This looks like mobile-web and NOT mobile-native scenario. I'm not able to reproduce the issue on v5.35 server. Please try v5.35

[2021-05-18 18:23] icelander opened #25992 "[Feature Request] Add a follow flag to `mmctl logs`"
Sometimes it's helpful to watch the Mattermost logs as you try something. Adding a follow flag like `-f` would be very helpful in these situations.

[2021-05-18 18:30] amyblais commented on #17638
@alexander-potemkin Please try v1.43 ^

[2021-05-18 18:31] amyblais commented on #17639
@alexander-potemkin Please try v5.35 (server version) ^

[2021-05-18 18:38] amyblais commented on #17637
Thanks, opened a ticket https://mattermost.atlassian.net/browse/MM-35846

[2021-05-18 18:47] amyblais commented on #17605
I created an improvement ticket also https://mattermost.atlassian.net/browse/MM-35847.

[2021-05-18 18:59] gramakri opened #17642 "SMTP test does not work after upgrade to 5.35"
#### Summary
Test connection button in SMTP view fails with "Connection unsuccessful: You do not have the appropriate permissions." . We found this with the Cloudron package but seems like an issue outside Cloudron as well.

#### Steps to reproduce
* Install mattermost 5.34.
* Verify SMTP Test Connection button works
* Upgrade to 5.35
* SMTP Test Connection fails

#### Expected behavior
SMTP Test

[2021-05-18 19:03] gramakri commented on #17642
Debugging this a bit, it seems that the server sends a 403.

![image](https://user-images.githubusercontent.com/82041/118708514-ad175480-b7d0-11eb-9408-a0425371cd63.png)

Poking into the database, it seems that permissions post migration for the `system_admin` role are different. In my new installation (5.35), it is like this in the Roles table:

[code]

In the old installation, the role is like t

[2021-05-18 19:35] #17275 closed

[2021-05-18 19:58] #17274 closed

[2021-05-18 20:10] amyblais commented on #17642
@furqanmlk @streamer45 Please help take a look if you can reproduce ^

[2021-05-18 20:20] streamer45 commented on #17642
cc @hahmadia Could the recent permissions changes be related?

[2021-05-18 20:38] majidsajadi commented on #16742
please assign this to me.

[2021-05-18 20:39] majidsajadi commented on #16743
please assign this to me.

[2021-05-18 20:39] esethna commented on #15652
@devinbinnie any thoughts on this from @TheDarkestDay? ^

[2021-05-18 20:41] majidsajadi commented on #17261
i would like to work on this one.

[2021-05-18 20:41] majidsajadi commented on #17260
i would like to work on this one.

[2021-05-18 20:49] furqanmlk commented on #17642
Yes, I am able to reproduce when upgraded from 5.34 to 5.35

[2021-05-19 11:51] alexander-potemkin commented on #17639
Ok, but my server is managed by Cloudron, so the update will take some time

[2021-05-19 11:54] alexander-potemkin commented on #17638
@amyblais , negative, same issue (just updated)

[2021-05-19 13:09] hahmadia commented on #17642
I will look into this

[2021-05-19 15:23] devinbinnie commented on #15652
@TheDarkestDay I like the idea of storing this information in the Redux store and updating it with actions. This way we can check on certain events (eg. when the app is refocused) if the information has changed and still make use of the value in Redux as the source of truth. I think that makes for the best user experience overall

[2021-05-19 16:18] alexander-potemkin commented on #17638
@amyblais , negative - brought the app from background and got the last line hidden, just like reported. Latest app version.
Could you please, look into it?

[2021-05-19 16:40] amyblais commented on #17638
Does it reproduce consistently and what OS version are you on?

[2021-05-19 19:26] camaer opened #17648 "Empty block space under Favorites"
#### Summary
Since 5.33 or 5.32, I can't remember exactly, an empty block (space ?) appeared underneath my Favorites Channel section. I can move the block around but there is no option to delete it.

#### Steps to reproduce
Don't know how to reproduce exactly unfortunately. Appeared in 5.33 or 5.32 update. We are currently running the latest version 5.35.1

#### Expected behavior
No empty space

#

[2021-05-19 20:36] amyblais commented on #17648
@hmhealey Have you seen a report like this before, or do you have thoughts on this?

[2021-05-19 21:00] #17642 closed

[2021-05-20 08:25] narduin commented on #17605
I would love to but I'm only a front-end developer and I don't know a lot about docker and back-end technologies.
**However**, I found a quick-fix that made the emails show up correctly on both my "non-supported" email clients.

Given that you use [one partial](https://github.com/mattermost/mattermost-server/blob/master/templates/partials/style.mjml) to define the styles with classes, adding [the

[2021-05-20 08:45] mattermod opened #17650 "Revisit plugin RPC client log levels"
A couple of the log messages used in the RPC plugin client use the go std lib `log` package to post there messages. [https://github.com/mattermost/mattermost-server/blob/abdba7acc3c74cb8672c45fbe60c5955c9268fa2/plugin/client*rpc.go#L248](https://github.com/mattermost/mattermost-server/blob/abdba7acc3c74cb8672c45fbe60c5955c9268fa2/plugin/client*rpc.go#L248) is one example. Instead the mlog method `

[2021-05-20 09:17] haardikdharma10 commented on #17650
I'll pick this one up. However, I don't see any `LogX` method in mlog. @hanzei am i missing something? 🤔

[2021-05-20 11:28] arvinDarmawan commented on #17469
Hi @agarciamontoro , I planned to do these things :

1. /incident test create-playbook   : to create multiple playbooks with argument TeamId, UserId, and total playbooks
    The array of playbook data will be static data with max length five playbooks.
2. /incident test demo
    update this code to create playbook automatically and run /incident test bulk the data

    What do you think ?

[2021-05-20 12:01] hanzei commented on #17650
`LogX` refers to `LogDebug`, `LogInfo`, `LogWarn` and `LogError`. Does that make it more clear?

Also, please take a look at the log level guidelines: https://developers.mattermost.com/contribute/server/style-guide/#log-levels

[2021-05-20 17:00] agarciamontoro commented on #17469
I like the overall idea, @arvinDarmawan, thank you for sharing it with us before implementing!

Looks good! Regarding the TeamID and UserID argunents: I think we can default to the current team and current user instead of asking for specific IDs. I doubt a demo will have more than two teams in which to run these commands, so I don't see that as a problem.

I'm not sure I understand what you mean.

[2021-05-20 17:26] itao commented on #17469
Sounds awesome, one line to spin up a realistic looking environment would be great.

[2021-05-21 06:50] PepeLopez opened #17662 "Upgrade from 5.34.2 to 5.35.1 - no more login possible from desktop client!?"
#### Summary
Updated mattermost like mentioned in upgrade guide (which worked pretty good until this time)
https://docs.mattermost.com/administration/upgrade.html
After upgrade, no more login possible from desktop client. Smartphone wasn't clear at that point.
Desktop app refused to login with user oder admin account, even no passwort reset was possible.

System: Debian 10 (Buster), fully patched,

[2021-05-21 08:46] ggrrll opened #17663 "FR: (shortcut) focus on *any* previous message in a conversation"
it would be nice to move back simply with arrows keys :arrow_down:  :arrow_up:  , to all previous messages, like here
(in slack you can choose if you want  to quickly edit  the last message  sent or move further back in the conversation, and then for instance   type 'E'  to opens the editing window of the selected message)

https://slack.com/intl/en-ch/help/articles/115003340723-Navigate-Slack-wit

[2021-05-21 09:25] pferreir opened #17664 "Caching issue with status emojis"
#### Summary
When I set back a status which uses a custom emoji (after some days set to something else) the emoji doesn't show up.

#### Steps to reproduce
1. Create a status with a custom emoji
![image](https://user-images.githubusercontent.com/2699/119113287-3f179b00-ba25-11eb-8906-674c5ed1a24f.png)

2. Clear your status or set a different one
3. Come back like 1 day later and try to set back yo

[2021-05-21 09:42] lindy65 opened #17665 "Help test the Focalboard App!"
## Getting Started

### 1. Download the Focalboard app:

   - **Mac**
      - [Mac App Store](https://apps.apple.com/app/apple-store/id1556908618?pt=2114704&ct=channel&mt=8)
   - **Windows**
      - [Microsoft App Store](https://www.microsoft.com/store/apps/9NLN2T0SX9VF?cid=channel)

### 2. Follow the instructions in [this spreadsheet](https://docs.google.com/spreadsheets/d/1hked1v7EbiviRdPCmhUfgo

[2021-05-21 10:18] ggrrll commented on #17663
sorry, this is basically the same as  #17575

[2021-05-21 10:18] #17663 closed

[2021-05-21 10:55] FiloSpaTeam commented on #17662
Same problem here!

[2021-05-21 11:59] amyblais commented on #17662
@Willyfrog @streamer45 Do the log errors show what the problem may be?

[2021-05-21 12:00] amyblais commented on #17664
@pferreir What Mattermost server version are you on? What OS and version are you on?

[2021-05-21 12:05] streamer45 commented on #17662
@amyblais

Not that I can see. Just the server shutting down. Log level should be bumped to `DEBUG` to see if anything helpful comes up.

@PepeLopez , @FiloSpaTeam

Was this happening on desktop only or web/mobile clients as well?

[2021-05-21 12:10] arvinDarmawan commented on #17469
Hi @agarciamontoro ,  when we call command /incident test create-playbook, it will create one or more playbooks.
We generate the **content** of playbooks inside the  code, right  (it will be static data of playbooks)?

So when we call command /incident test create-playbook, we didnt need to input the content of playbooks as argument, right ?

Just to make sure that what I do is correct.

[2021-05-21 12:13] x1hash commented on #17662
I am also experiencing the same problem, I went from 5.34.2 to 5.35.1.

---------------------------------
I am running on CentOS 8
PostgreSQL 10.15
---------------------------------

**Log below:**

{"level":"info","ts":1621597764.6744637,"caller":"app/server.go:245","msg":"Server is initializing...","go_version":"go1.15.5"}
{"level":"info","ts":1621597764.6746557,"caller":"app/web_hub.go:83","msg

[2021-05-21 12:37] Willyfrog commented on #17662
from that log, seems like a migration is giving trouble? I'm referring to

[code]

[2021-05-21 12:38] streamer45 commented on #17662
@x1hash

Are you able to share the schema of the `Roles` table in your db?

[code]

If you are using `psql`.

[2021-05-21 12:38] x1hash commented on #17662
Table "public.roles"
    Column     |          Type           | Collation | Nullable | Default
---------------+-------------------------+-----------+----------+---------
 id            | character varying(26)   |           | not null |
 name          | character varying(64)   |           |          |
 displayname   | character varying(128)  |           |          |
 description   | character varyi

[2021-05-21 12:44] streamer45 commented on #17662
@x1hash

Thanks, the DB schema migration seems to not have run for some reason. I see from the logs the reported DB version is 5.33.3. It should be 5.35.x

Can you show results of the query:

[code]

[2021-05-21 12:44] x1hash commented on #17662
mattermost=# SELECT value FROM Systems WHERE name = 'Version';
 value
--------
 5.33.3
(1 row)

[2021-05-21 12:47] pferreir commented on #17664
@amyblais It's v5.34.2, I'm on Firefox 88.0.1 on macOS.

I haven't tried reproducing on the community server. I will give it a try, but it general takes a few hours/days for the problem to appear.

[2021-05-21 12:52] pferreir commented on #17664
Oh, it actually just happened on the community server:

![image](https://user-images.githubusercontent.com/2699/119140116-1521a100-ba44-11eb-870b-0d61bb64b999.png)

vs.

![image](https://user-images.githubusercontent.com/2699/119140183-2b2f6180-ba44-11eb-9cec-a1b6aae922f8.png)

[2021-05-21 12:55] #16722 closed

[2021-05-21 12:58] streamer45 commented on #17662
@x1hash

That's what's causing issues I feel.
I'd suggest to run the following query and try again with the upgrade:

[code]

[2021-05-21 13:01] amyblais commented on #17664
Opened a ticket: https://mattermost.atlassian.net/browse/MM-35930.

[2021-05-21 13:14] x1hash commented on #17662
That seems to have pushed through the migrations - no more errors in the logs, however now I am having the same issue as the original poster, no more errors in the logs, I can't log in (same as other users):

[code]

[2021-05-21 13:18] streamer45 commented on #17662
@x1hash

Alright. Are you trying to log in as system admin? If so can you show the output of:

[code]

[2021-05-21 13:21] agarciamontoro commented on #17469
@arvinDarmawan Yes, that's correct! I did something similar with the names of the incidents: https://github.com/mattermost/mattermost-plugin-incident-collaboration/blob/master/server/command/command.go#L1164-L1248 It's a bit more difficult for playbooks because we would need to come up with checklists and such. But, honestly, just using the template we have at https://github.com/mattermost/matterm

[2021-05-21 13:23] x1hash commented on #17662
[code]

[2021-05-21 13:24] streamer45 commented on #17662
Also the output of:

[code]

could be useful to debug this further.

[2021-05-21 13:24] x1hash commented on #17662
[code]

[2021-05-21 13:35] arvinDarmawan commented on #17469
Thank you for the information.

[2021-05-21 13:40] streamer45 commented on #17662
Also, it would be very helpful to know what the login attempt failing with. There should be an error in server logs. If you can, please try to enable `DEBUG` logging before attempting to login.

[2021-05-21 13:41] x1hash commented on #17662
[code]

[2021-05-21 13:47] x1hash commented on #17662
@streamer45 - resolved on my end, it was the migrations. The second part was me not realizing that I've inserted the wrong username. Sorry to waste your time on the second part.

[2021-05-21 13:48] streamer45 commented on #17662
:sweat_smile: Thanks for letting me know. Glad it's working now.

[2021-05-21 13:55] PepeLopez commented on #17662
`SELECT value FROM Systems WHERE name = 'Version'; `

brings up **5.32.1** - although I'm on 5.34.1

_What to do now for me?_

[2021-05-21 13:56] streamer45 commented on #17662
I'd try with:

[code]

And then restart.

[2021-05-21 14:07] FiloSpaTeam commented on #17662
Thanks, after restart now it's working

[2021-05-21 14:12] PepeLopez commented on #17662
Did work for me - thanks!
Now it's **5.34.0** - I guess update to 5.35.1 will work now.

[2021-05-21 14:13] streamer45 commented on #17662
Yes, as long as it ends with a `0` you should be fine to upgrade.

[2021-05-21 14:14] hmhealey commented on #17648
No, we haven't seen anything like this before. That's really strange. I'm not even sure what that line might be.

In a web browser, could you use the dev tools to show us what the HTML for that space might be? If you could right click on it, click Inspect Element, and send us a screenshot of that like
![Screen Shot 2021-05-21 at 10 12 36 AM](https://user-images.githubusercontent.com/3277310/119151

[2021-05-21 14:17] camaer commented on #17648
Here's the inspect element. Seems to be a Channel but without a name or anything.

![Screen Shot 2021-05-21 at 10 15 55 AM](https://user-images.githubusercontent.com/35572989/119151837-c19c5c80-ba1d-11eb-88df-af5522fb73fe.png)

Could it be perhaps an old channel that was deleted incorrectly ?

[2021-05-21 14:38] hmhealey commented on #17648
Yeah, that might be the case since the draggable-id attribute looks like a real channel ID. If you have access to the DB, you could confirm whether or not a channel with that "s6cbh..." ID exists.

Either that or there's an error in the library we use for drag and drop. If that were the case, I'd expect to see an error in the browser's console.

[2021-05-21 14:52] camaer commented on #17648
Seems like I do have a channel `s6cbh1poabdwmbt5yxgd7k1h5e`

![Screen Shot 2021-05-21 at 10 51 07 AM](https://user-images.githubusercontent.com/35572989/119156854-9cf6b380-ba22-11eb-8f03-f551f0f29299.png)

Should I juste delete the row in the channels table ?

[2021-05-21 15:58] hmhealey commented on #17648
I wouldn't recommend deleting it since that could leave some orphaned data that could cause other problems, but you could try deleting the row in `SidebarChannels` with that ChannelId and your UserId (only needed if there's multiple rows that match that). That'll remove it from the Favorites category in your sidebar since that table keeps track of where channels appear in the sidebar.

[2021-05-21 17:11] camaer commented on #17648
That worked ! Thanks for the help. Not sure exactly what happened but at least it's fixed.

[2021-05-21 17:11] #17648 closed

[2021-05-21 17:16] hmhealey commented on #17648
Glad that helped! Let us know if that comes up again.

The new sidebar is definitely more complicated than the old one, so stuff like that one can pop up occasionally, but since that's the first time this particular issue has come up, I don't think there's much to investigate on it for now. We can always reopen this if it reappears though.

[2021-05-21 18:01] #17618 closed

[2021-05-22 14:37] hjek commented on #17626
There is a very simple fix that doesn't require a fixed size suggestion box: Swap around **MY CHANNELS** and **OTHER CHANNELS**. Below is an illustration of how that would look. Notice how the **Off Topic** channel remains in place, so it is easier to hit with the cursor.

![suggestion](https://user-images.githubusercontent.com/11958965/119230049-e1fe1100-bb1a-11eb-9679-c260c2550933.gif)

Yes, I c

[2021-05-22 16:33] grvv commented on #17352
I'm interested in fixing this issue. I just finished setting up my local environment. Can anyone help me with some demo data and steps to replicate this issue.

[2021-05-22 19:10] ylluminate commented on #15273
So I'm coming back to this issue again.  Wiping out all of the user's sidebar custom categories is not really an option. At least a couple users are just too highly customized to deal with the backlash that this will cause. Interestingly this duplication of the "FAVORITES" category is only present on one or two of the teams the users are in. How can this be handled in a more limited fashion so as

[2021-05-22 19:16] grvv commented on #17319
I'm interested in fixing this issue. Is there a guid available for setting this plugin up locally? and a bit description about what needs to be done here will be helpful

[2021-05-22 19:20] grvv commented on #17353
I'm interested in fixing this issue. Is there a guid available for setting this plugin up locally with some dummy data?

[2021-05-22 19:21] ylluminate commented on #15273
Alright, so I went ahead and dug into the situation via a graphical database editor and isolated the issue down via finding the `UserId` and `TeamId` elements of the affected users. I then filtered these further down such that I would only show the rows of these limited user and team IDs within the `SidebarCategories`. Upon doing this I found the duplications clearly enough and deleted the duplica

[2021-05-23 09:35] #17662 closed

[2021-05-23 09:44] streamer45 commented on #17352
@grvv

You can use the `make test-data` command from the `mattermost-server` git repository.

[2021-05-23 10:30] grvv commented on #17352
@streamer45 Thanks for the quick reply this was really helpful.

I installed "Incident Collaboration" and enabled it but it shows "Incident Collaboration requires a Mattermost Cloud or Mattermost E20 License."

<img width="967" alt="Screenshot 2021-05-23 at 3 56 32 PM" src="https://user-images.githubusercontent.com/26812698/119256777-f22bf400-bbdf-11eb-9d66-92bb0d278010.png">

[2021-05-23 10:36] streamer45 commented on #17352
I see, we should probably get you a limited test license to work on this then. cc @agarciamontoro

[2021-05-23 19:32] vsaraph commented on #17614
I'd like to take a shot at this one.

[2021-05-24 07:55] agarciamontoro commented on #17352
Thank you for your interest on this, @grvv! The plugin should be now available for all editions (since [this commit](https://github.com/mattermost/mattermost-plugin-incident-collaboration/commit/10e53011d914538e6e1612797d1ef7378b23b0f3) four days ago).

However, the license has always allowed running the plugin in development. You only need to enable both testing and developer modes from the Syste

[2021-05-24 09:17] isacikgoz commented on #16206
This looks interesting, the mention count should be cleared once the user visits the channel. Thanks for sharing this @agusl88 🚀 Created a ticket [here](https://mattermost.atlassian.net/browse/MM-35959) to follow up on this.

[2021-05-24 09:48] agarciamontoro commented on #17319
Hey @grvv, I think you already have your environment set up (according to https://github.com/mattermost/mattermost-server/issues/17352#issuecomment-846540235). Let me know if you have more questions about this!

With respect to this issue, we need to tweak the playbook editing experience. In Mattermost, if you go to the top left main menu, click on Incident Collaboration, and create a playbook (or

[2021-05-24 09:51] agarciamontoro commented on #17353
Thank you for your interest in this one too, @grvv! Again, I think you already have your environment set up, but feel free to ask anything else you need!

[2021-05-24 10:31] harshilsharma63 opened #17672 "Improvement - Mark channel as read after some delay"
When going through unread channels with the "Filter by Unread" filter selected in the left sidebar, sometimes I end up accidentally clicking on a channel, marking it as unread and moving on. It would be a better experience if there was a (configurable?) delay after which a channel is marked as unread, just like in Gmail.

[2021-05-24 10:44] TheDarkestDay commented on #15652
@devinbinnie do we have some clear distinction between Mattermost own Redux things (actions, stores, selectors) and ones pertaining to mattermost-redux package?

Is it appropriate for mattermost-redux entities to depend on some platform features e.g. permissions API in our case? Or should I put them into own Mattermost-webapp Redux store?

[2021-05-24 12:44] arvinDarmawan commented on #17469
Hi @agarciamontoro just to make sure,
for /incident test demo the parameter  should be same like /incident test bulk-data but with additional parameter  total playbooks, right?

So the param will be [total_playbooks], [ongoing] [ended] [start date] [end date] [seed] for /incident test demo.

[2021-05-24 15:39] agarciamontoro commented on #17469
@arvinDarmawan, I'd say that the incident test dmeo

[2021-05-24 15:57] techniker commented on #10026
Same here.

[2021-05-24 16:04] arvinDarmawan commented on #17469
So, in summary there will be two commands:

1. /incident test create-playbook ([total_playbooks]) : to create multiple playbooks with argument total_playbooks
2. /incident test demo ([ongoing] [ended] [start date] [end date] [seed]):  same function and parameter like command
 ` /incident test bulk-data` but **this command will  also create single playbook automatically** if the current user doesn'

[2021-05-24 16:19] agarciamontoro commented on #17469
Your explanation above is correct, as in it is what I meant before. But you are right that we could just update the `test bulk-data` command, handling the "playbooks not found" issue. I don't see why we would need to have two different ones. So, in short, we should add an `/incident test create-playbook` command, and modify `/incident test bulk-data` to use that logic if there are no playbooks.

D

[2021-05-24 16:21] arvinDarmawan commented on #17469
Yeah, sounds good. Thank you @agarciamontoro .

[2021-05-25 11:47] arvinDarmawan commented on #17469
Hi @agarciamontoro  I already make a pull request for this card.
I already test it on mattermost-webapp too to test the command and it works.
But the pipeline for this pull request failed on "ci/circleci: e2e-cypress-tests-cloud", "ci/circleci: e2e-cypress-tests-master".

What is missing  here?
I check in log there is error

" Error pulling image jhillyerd/inbucket:release-1.2.0: Error response fr

[2021-05-25 12:03] agarciamontoro commented on #17469
Thank you, @arvinDarmawan! I answered in the pull request. We can continue the conversation there :)

[2021-05-25 13:45] arvinDarmawan commented on #17315
Hi, I interested with this issue

[2021-05-25 14:33] agarciamontoro commented on #17315
Thank you for your interest, @arvinDarmawan. And sorry, becasse I just realized that this ticket was already done: https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/536 Let me know if there is another one you're interested in. I'm closing this one now.

[2021-05-25 14:33] #17315 closed

[2021-05-25 14:33] devinbinnie commented on #15652
@TheDarkestDay I think the general rule would be that potentially reusable pieces that could work for another type of application (ie. a mobile app) would go into the `mattermost-redux` library, and anything that could only be used by the webapp should go into the webapp redux code.

In this case, I would say put any new state into the webapp redux state as it is 'view-only' state that only affect

[2021-05-25 14:40] hmhealey commented on #15652
That sounds about right to me. Now that mattermost-redux is in the web app and we aren't planning on shipping that in the same way, that distinction might change over time, but for the time being, I think it makes sense to keep more view-related state like this in the web app's version of the store.

[2021-05-25 14:44] arvinDarmawan commented on #17311
Hi, I interested with this task

[2021-05-25 14:48] #15160 closed

[2021-05-25 15:06] hmhealey commented on #17626
That's an interesting idea. I hadn't considered flipping the categories in that list. I'm not sure if that would work in all cases (like if you had more results in My Channels), but I'll pass the suggestion along to our UX team. I'm sure they have other thoughts about how we could avoid the jumpiness as well.

[2021-05-25 15:18] hmhealey commented on #15273
Removing the duplicate ones manually should be totally fine, but make sure to clean up any SidebarChannels that might've ended up in those categories since it might cause those channels to be missing from the sidebar.

Let us know if there seems to be any trends among the duplicated channels. Unfortunately, we haven't had any other reports of it, so it's been hard to investigate any outstanding is

[2021-05-25 15:35] agarciamontoro commented on #17311
All yours, @arvinDarmawan!

[2021-05-26 00:05] #17366 closed

[2021-05-26 00:05] #17374 closed

[2021-05-26 00:07] amyblais commented on #16703
Queued for next desktop app release, v4.7.

[2021-05-26 00:07] #16703 closed

[2021-05-26 02:55] arvinDarmawan commented on #17311
Hi @agarciamontoro , I have a question. I already add new code in migrations.go.
Is it correct every new migration will be added on this file (project mattermost-plugin-incident-collaboration) ?
Or it should be added on project mattermost-server?

How do I run this migration file  to generate new column in my local table ?

<img width="1660" alt="Screen Shot 2021-05-26 at 09 52 07" src="https://us

[2021-05-26 03:59] jcoffm opened #17679 "All permissions granted to all users by default"
#### Summary
Default permissions for "all members" allows all users to do anything at all.

#### Steps to reproduce
Install new Mattermost server, activate E10 licensing.

#### Expected behavior
I would expect for non-admin users to have the least number of privileges that would make sense, such as posting a message editing/deleting their own messages, and adding reactions.

#### Observed behavior

[2021-05-26 04:11] #17283 closed

[2021-05-26 04:12] #17280 closed

[2021-05-26 04:12] #17273 closed

[2021-05-26 04:12] #17265 closed

[2021-05-26 04:12] #17248 closed

[2021-05-26 04:12] #17246 closed

[2021-05-26 04:12] #17245 closed

[2021-05-26 08:25] agarciamontoro commented on #17311
Hi @arvinDarmawan!

Yes, that's correct!

No, this ticket is specific to mattermost-plugin-incident-collaboration. The issue is in the mattermost-server repo just to give it more visibility, but all work must be done in mattermost-plugin-incident-collaboration.

You simply deploy the plugin again after you have added the migrations file. You can use `make deploy` from the plugin repository, or use

[2021-05-26 10:34] arvinDarmawan commented on #17311
oke, thank youu for the explanation!

[2021-05-26 13:07] amyblais commented on #17679
@mkraft @wiersgallak Is there an existing ticket for this improvement idea?

[2021-05-26 13:32] amyblais opened #17681 "Mattermost v5.36"
You can find key dates for v5.36 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### June 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### June 14th: Release Build Cut
The fina

[2021-05-26 15:02] rgrunbla commented on #15606
Hello, https://github.com/rgrunbla/Keycloak-Mattermost-Auto-Generate-Id might be used to automatically generate IDs in keycloak to make it compatible with mattermost, if needed.

[2021-05-26 20:42] amyblais commented on #13981
This was done via https://github.com/mattermost/mattermost-mobile/pull/4488.

[2021-05-26 20:42] #13981 closed

[2021-05-26 22:09] #16947 closed

[2021-05-27 19:50] willmatheson opened #17688 "Document content extractor thinks ODTs are ZIPs and won't extract their contents"
#### Summary
5.35 brings the exciting feature of being able to search document content, not just file names. Unfortunately, I cannot get this to work with ODTs, which is important to us as we are a LibreOffice shop. Our Mattermost instance is running on an Ubuntu 18.04 virtual machine.

#### Steps to reproduce
1. Upload a LibreOffice Writer or potentially other ODT with some text that isn't also i

[2021-05-27 22:47] amyblais commented on #17688
@jespino Can you help take a look?
Is this fixed via https://github.com/mattermost/mattermost-server/pull/17675?

[2021-05-28 00:21] wezm opened #17689 "Persistent unread badge on sidebar hamburger menu"
#### Summary

There is a persistent red badge in the sidebar hamburger menu that I can seem to dismiss. It's happening for my user on two different Mattermost instances I run but not other users. I am the admin of the instances.

#### Steps to reproduce

1. Log into Mattermost in a browser
2. Observe unread badge in menu:

![Screenshot_2021-05-28 Town Square - Rust Melbourne Rust Melbourne](https:

[2021-05-28 06:11] renchili commented on #15012
this been reported to my teams today after the upgrade from 5.19.2 to 5.31.3 !
anything we can do
now we are facing bad reputation in our company facing mattermost

and we find this nothing linked to mattermost server-side
is not even interchange anything with server-side then consumed too much RAM and CPU on WebClient user's browser

Typically the issue is Firefox even cannot move mouse

[2021-05-28 08:49] sunchips commented on #17268
Let me try to do this in the next few days.

[2021-05-28 10:00] mattermod opened #17690 "MM Apps - Zendesk subjet filed length should be capped to match Zendesk limit"
When creating a Zendesk ticket, there is a max on the subject field that is not being enforced in the Zendesk app.

If a user attempts to create a ticket using the Zendesk app where the subject, length has been exceeded, the characters that are over the limit get silently discarded.

We should set a max on the filed to prevent the user from typing additional characters when the limit has been exce

[2021-05-28 20:32] evelynhathaway commented on #16424
Pausing after six loops is a start, but a setting that pauses all gifs unless hovered or focused would be a godsend for accessibility. I have to minimize my Matermost to not get pulled in by party parrot and reaction gifs (ADHD).

Even if the six loops feature was added, it could still be non-compliant with WCAG level A (bare minimums for accessibility) violation of [Pause, Stop Hide](https://www.

[2021-05-29 04:30] agnivade commented on #15399
Hey @g-ravity - are you still interested in contributing to this one?

[2021-05-29 23:26] allebone commented on #15606
First, IBM Verify, Okta, and many others support unique User IDs. You can also generate Unique IDs on the IDP side via various means.

Second, It also might be important to consider that SCIM support is in works at MM. Will that be available as a gateway software package? Or integrated to the MM Server Codebase?

Last, I think that support for Team Edition OIDC wouldn’t require GUI configuration.

[2021-05-30 00:06] minecraftchest1 commented on #15606
I agree with you. However, I would go json rather then yaml.

[2021-05-30 16:29] AshishDhama commented on #17574
@esethna I would like to work on this issue

[2021-05-30 16:47] AshishDhama commented on #13478
@AGMETEOR I would Like to pick it up

[2021-05-30 16:57] AGMETEOR commented on #13478
Hi @AshishDhama thanks for picking this up. It’s all yours.

[2021-05-30 17:05] agnivade commented on #17574
All yours @AshishDhama !

[2021-05-30 17:30] yrammos commented on #15606
The creation date-time of a Keycloak user—formatter as a UNIX epoch—can serve as a rather robust unique ID.

To use this trick for Mattermost authentication purposes, create a Script Mapper in Keycloak with "claim JSON type" equal to `long`.

The script needs only consist of a single line: `user.getCreatedTimestamp();`

[2021-05-31 01:49] vineelyalamarthy commented on #16949
which issues in particular. @Szymongib  there is no labelling of bugs there.

[2021-05-31 01:51] vineelyalamarthy commented on #16876
@jwilander  @Philmod  @balan2010  is there help needed on MatterMost operator.

[2021-05-31 06:39] Szymongib commented on #16949
Hey @vineelyalamarthy, link to issues is linked above, those are ones with `help wanted` label. https://github.com/mattermost/mattermost-operator/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2021-05-31 18:34] hackercat3211 opened #17693 "MMCTL - Help text examples differ from actual flags"
#### Summary
The examples for creating a user via mmctl use flags containing a hyphen instead of an underscore.

#### Steps to reproduce
On the command line, run 'mmctl user create --help

#### Expected behavior
When the user executes the command to get the usage text (help) for creating a user, the flags in the examples provided should match the actual flags that are accepted.

#### Observed beha

[2021-06-01 03:42] harshilsharma63 opened #17694 "Markdown preview option shows up in read-only channels"
#### Summary
Markdown preview option shows up in read-only channels. It should not though as it's only of use when a user can enter and edit messages.

#### Steps to reproduce
Navigate to any read-only channel in Mattermost. For example, the Reception channel on Community.

#### Expected behavior
Markdown Preview option show not appear in read-only channels

#### Observed behavior (that appears un

[2021-06-01 05:05] agnivade commented on #17693
Indeed, great catch @hackercat3211 ! Would you be open to send a PR to fix this?

[2021-06-01 09:02] jespino commented on #17688
@amyblais, no it is not, it is another problem.

[2021-06-01 09:37] #16742 closed

[2021-06-01 10:07] renchili opened #17698 "Mattermost slack_attachment duplication rendered in Webapp"
#### Summary
the text been rendered multiple times
![image](https://user-images.githubusercontent.com/33677006/120305720-ac6bdb80-c303-11eb-9b83-7e48465825da.png)
After ctrl+F5 it will return normal in user's browser
#### Steps to reproduce
call mattermost 5.31.3 by  using grafana slack notification
this is not targeting 1 specific grafana version. we have 3 different versions all will duplicate

[2021-06-01 10:18] muirdok opened #17699 "Mattermost team crashes unexpectedly after upgrade from 5.32.0 to 5.35.1"
#### Summary
After upgrade version from 5.32.0 to 5.35.1 it works well until clients (different versions and type) connect and do some "payload". Like I updated it in midnight and it got crashed at 10 a.m. After restarting it crashed again. I rolled back changes to 5.32.0 and it works normal now. Not sure what client crashes server.
Upgrade process with updating postgres database seemed to be norm

[2021-06-01 10:19] renchili commented on #15012
any update on this?

[2021-06-01 10:25] jespino commented on #17688
@willmatheson I found the problem and here is the PR #17700

[2021-06-01 12:24] #17351 closed

[2021-06-01 13:30] mattermod opened #17701 "External links in System Console for GIF commands plugin open in same window"
1 - Install the GIF Commands community plugin
2 - Go to System Console ➜ Plugins (beta) ➜ GIF Commands
3 - Click any of the external links listed in the settings

**Expected**: The links open in a new tab or window in a browser
**Observed**: The links open directly in the same tab

**Notes**: When you click the links on a server in the Desktop app they don't respond and nothing opens

----
If you'

[2021-06-01 14:00] streamer45 commented on #17699
@amyblais

Judging by the logs this looks like https://mattermost.atlassian.net/browse/MM-35990

[2021-06-01 14:29] amyblais commented on #17698
We have a ticket here that seems related: https://mattermost.atlassian.net/browse/MM-30980. The ticket refers to Jira but it can happen with any messages with fallback text.

[2021-06-01 14:31] amyblais commented on #17693
Ticket for reference: https://mattermost.atlassian.net/browse/MM-36108.

[2021-06-01 14:33] amyblais commented on #17694
https://mattermost.atlassian.net/browse/MM-36109

[2021-06-01 14:33] #17694 closed

[2021-06-01 14:40] ccoenen commented on #15012
One wonders how "text entry" isn't more of a priority for a chat platform...

[2021-06-01 14:48] amyblais commented on #17689
@wezm Does the badge go away when you enable Plugin Marketplace via https://docs.mattermost.com/administration/plugins.html#marketplace-server, and then go to Main Menu > Plugin Marketplace?

This looks related to https://mattermost.atlassian.net/browse/MM-32882.

[2021-06-01 16:13] mwid2020 opened #17705 "Search field does not get focus when clicking on magnifier glasse (Mac desktop)"
I confirm (by marking "x" in the [ ] below: [x]):

- [X] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [X] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2021-06-01 17:14] jwilander commented on #15012
Hi all, looking into slow typing issues is a big priority for us and we're diving deeper into the investigation right now. We have some recent fixes like https://github.com/mattermost/mattermost-webapp/pull/8092 that have shown some improvement and there's more to come.

We're looking at improving typing performance across all platforms but from a quick read through the read it looks like there mi

[2021-06-01 21:23] tchv71 opened #17704 "Crazy idea - what about editing my own messages in one click - just like in text editors"
To edit my own messages I need go to the menu on the right or press Up key, but only for the last message
Simple don't allow editing for messages from others and click-and-edit for my own inplace

[2021-06-01 21:50] muirdok commented on #17699
@streamer45 I can send\attach full crash log somethere if needs

[2021-06-01 22:53] wezm commented on #17689
Yes! Thank you @amyblais. Plugin Marketplace was already on but Enable Plugins was not:

<img width="924" alt="Screenshot_2021-06-02 System Console - Mattermost" src="https://user-images.githubusercontent.com/21787/120399589-ab788f80-c37f-11eb-9189-fa726a12fe71.png">

After turning that on, and returning to the main area there was a Marketplace item in the hamburger menu with a red dot, visiting t

[2021-06-01 22:57] amyblais commented on #17689
Yes, sounds like a bug, @DHaussermann @catalintomai can you confirm?

If Enable Plugins is disabled, then upgrading to v5.35 will cause a persistent unread badge which can't be dismissed because the Plugin Marketplace option is not visible in the hamburger menu. https://mattermost.atlassian.net/browse/MM-32882

[2021-06-02 00:47] catalintomai commented on #17689
@amyblais , yes, it is likely a bug, we should not be showing the persistent unread badge if the EnablePlugins or the EnableMarketplace flags are false. I'll start working on a fix, @DHaussermann , please open a ticket. Thanks.

[2021-06-02 02:40] renchili commented on #15012
hi  about your so-called  improvement, we have deployed in production env and users' feedback is like this:

[2021-06-02 06:28] streamer45 commented on #17699
Thanks @muirdok that would be great.

[2021-06-02 08:47] muirdok commented on #17699
@streamer45 sent it to cstcld91@gmail.com
Thank you!

[2021-06-02 08:52] streamer45 commented on #17699
Had a look at the full log and can confirm it's the same issue which is getting fixed as we speak.

[2021-06-02 09:27] muirdok commented on #17699
@streamer45 thanks!
As I see "pdftotext issue" marked as resolved. Does it mean we could expect fix in new release of mattermost?

[2021-06-02 09:38] streamer45 commented on #17699
Correct, a new dot release should be out soon with the fix for this.

[2021-06-02 10:10] osresearch commented on #16241
Even with the `Enable Diagnostics and Error Reporting` set to false, shift-reloading the page and restarting the 5.35.1 server, it is still sending tracking requests:

![image](https://user-images.githubusercontent.com/3068843/120462531-5185c300-c39b-11eb-8903-e2638d1f807c.png)

[2021-06-02 13:17] Philmod commented on #16876
@balan2010 Any update on this? Thanks for picking it up!

[2021-06-02 13:30] amyblais commented on #17689
Opened a ticket: https://mattermost.atlassian.net/browse/MM-36160

[2021-06-02 13:34] DHaussermann commented on #17689
Thanks for creating the ticket @amyblais I was also able to reproduce this just now on `master`  branch.

[2021-06-02 14:24] amyblais commented on #17628
Closing this for now, but hopefully you will be able to open a feature request on uservoice,

[2021-06-02 14:24] #17628 closed

[2021-06-02 14:31] amyblais commented on #17638
@alexander-potemkin Have you still experienced this issue? Does it reproduce consistently and what OS version are you on?

[2021-06-02 16:48] jwilander commented on #15012
Hi @renchili while we understand these types of issues are frustrating I'm going to ask you to please keep the feedback constructive. As I said above this is a big priority for us and we're working on it but it's also not always an easy one-off fix for a web application as complex as ours is. We'll be making and shipping improvements as fast as we can identify and fix the issues. Some of these imp

[2021-06-02 16:51] vineelyalamarthy commented on #16876
Is any one already working on this? I would like to contribute. @Philmod  @balan2010

[2021-06-02 16:53] vineelyalamarthy commented on #17640
can I take this up?

[2021-06-02 18:45] mattermod opened #17707 "Improve messaging in the add members to channel modal"
From the channel menu, when you click "Add Members" there is a modal that states "Up to 20 can be added at a time". This message is confusing and only necessary if the user actually tries to add more than 20 people. To fix this:

1. Remove the text "You can add 20 more" from the modal

![](image-2021-04-30-13-57-07-407.png|width=200,height=183)

2. If the user adds 20 people to the input box, then

[2021-06-02 19:27] adanielvv commented on #17640
Sure. I like to see this looked at as well but I don't have time atm.

[2021-06-03 01:37] balan2010 commented on #16876
@vineelyalamarthy I won't be able to work on this for atleast couple of months. So feel free to work on it

[2021-06-03 09:40] komik966 commented on #15975
I have some considerations according this issue and would know your opinion.

## Existing users who never changed theme
Figma file states:

Can we ease this rule to this?:
[code]
## Not supported devices
When user has allowed theme sync, but opens application on other device which doesn't support it - how should we fallback? Use light theme?

## Store users' theme preferences
Currently, theme is s

[2021-06-03 18:45] esethna commented on #16424
@evelynhathaway makes sense. We have a ticket here for a setting, I'm going to open it as HW if anyone is interested in addressing it https://mattermost.atlassian.net/browse/MM-22242

[2021-06-03 18:47] vineelyalamarthy commented on #16876
/assign

[2021-06-03 18:55] esethna commented on #15975
@komik966 yes if we can reliably know if a user has edited their theme then I think that's a great proposal.

Yes I think light theme is a good fallback

I will refer to @hmhealey or @devinbinnie on this one, but your proposal sounds reasonable

Sounds reasonable to me unless dev has objections.

@komik966 would you like me to assign this ticket to you! Thanks for the interest!

[2021-06-03 19:02] komik966 commented on #15975
Yes, please assign me to this ticket

[2021-06-03 22:08] amyblais commented on #17688
5.35.2 dot release is now available with this fix,

[2021-06-03 22:08] #17688 closed

[2021-06-03 22:08] amyblais commented on #17699
5.35.2 dot release is now available with this fix,

[2021-06-03 22:08] #17699 closed

[2021-06-04 09:06] komik966 commented on #15975
I'm rethinking how to store theme preferences and I'm seeing some defects in my proposal. I'll describe my thoughts soon.

[2021-06-04 15:01] amyblais commented on #17681
### v5.36 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.36.0-rc1/mattermost-team-5.36.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4625/files)

[2021-06-04 20:15] esethna commented on #17707
@neallred is going to take on this issue

[2021-06-04 20:38] esethna commented on #17605
@narduin really appreciate your work here and raising this with us. Agree this is pretty critical functionality.

@amyblais can you help get this routed to the appropriate team with high priority, probably the Growth team.

https://mattermost.atlassian.net/browse/MM-35847

[2021-06-04 22:04] narduin commented on #17605
@esethna thank you, I would be happy to help your team in any way I can.
I can provide the converted mj-classes, I'm sorry I couldn't integrate them on a PR on my end.

[2021-06-05 01:21] neallred opened #17728 "Upload .jpeg in Linux"
#### Summary
On Pop-OS Linux & Chromium, I am unable to upload `.jpeg` files, only `.jpg` files.

#### Steps to reproduce

Mattermost version info (standard make/docker compose dev setup):
[code]

OS Version:
[code]

Browser version:
[code]

1. Open the user menu in the top left.
2. Select Account Settings.
3. Click the Edit text for Profile Picture.
4. Click Select.
5. Use the Operating System na

[2021-06-05 18:39] AshishDhama commented on #14633
@esethna  please assign this to me

[2021-06-06 06:05] ahmadkarlam commented on #17616
I managed to complete almost all markdown except table and code block, anyone can help me ?
I'm using test case from the webapp as a reference.

[2021-06-06 12:12] #16873 closed

[2021-06-06 12:42] hjek commented on #15012
@renchili A workaround is to use [GhostText](https://ghosttext.fregante.com/) to edit messages in an external text editor, or you could ask your teams to use the [Mattermost Desktop app](https://github.com/mattermost/desktop/releases) rather than Firefox.

[2021-06-06 12:44] renchili commented on #15012
Actually, we already tried to use the Mattermost Desktop app on Mac big Sur but it even worse than using chrome Browser
can check it also very stuck and slow:
1 typing
2 scrolling left side channel list

[2021-06-06 15:40] #15743 closed

[2021-06-06 16:13] greenbackboogie97 commented on #17257
Please unassign me from this ticket, sorry for the inconvenience.

[2021-06-06 16:13] greenbackboogie97 commented on #17258
Please unassign me from this ticket, sorry for the inconvenience.

[2021-06-06 16:14] greenbackboogie97 commented on #17262
Please unassign me from this ticket, sorry for the inconvenience.

[2021-06-06 17:46] ccoenen commented on #15012
I am struggeling to not write a _very_ blunt answer to that. Here's the least offensive one I could come up with:

If you suggest this, you are breaking the web even more. **You** are actively doing this.

By breaking mattermost in firefox this badly in the first place, you are passively contributing to ever more people switching to chrome. But by suggesting to use something different, even if it'

[2021-06-06 18:40] stefanct commented on #15012
the feedback you should be able to realize from this thread should be pretty clear and actually quite constructive: your complexity is killing you and you broke the most fundamental feature of your application so that your users are borderline insulting you out of despair (I kept myself from posting "you had one job" memes but it crossed my minds several times thinking about this issue). try seein

[2021-06-07 01:21] mattermod opened #17729 "Ending a code block should not require that the ``` be on a new line"
Repro: Post the following:

[code]

[2021-06-07 01:21] mattermod opened #17730 "Adding ``` code block formatting in-line should render the code block on a new line"
Repro: Post a message with "Testing code blocks in-line ```code block``` testing"

Observed: The "code block" renders as in-line code

 ![](image-2021-06-03-10-48-06-727.png|thumbnail)

Expected: Since triple ticks were used, it's expected that the code renders in a code block rather than in-line code (single ticks)

 ![](image-2021-06-03-10-49-04-877.png|thumbnail)

----
If you're interested plea

[2021-06-07 01:22] mattermod opened #17731 "Enable 'Set Status' button if the custom status hasn't changed from currently set status"
- If a custom status is currently set and a user opens the modal to update it, the 'Set Status' button is currently disabled until you make a change.
- To be more forgiving, we should enable the 'Set Status' button in this state even if they don't make a change. Otherwise, it makes the experience feel broken — especially if I edit the status text and end up typing the same text as the currently se

[2021-06-07 01:22] mattermod opened #17732 "DND Expiry: Tomorrow is unclear as a menu option"
There is a lack of clarity with the 'Tomorrow' option for the DND expiry/timer
Link to initial feedback: [https://community-daily.mattermost.com/core/pl/if5k57ozitfadxra5ieqigkn3w](https://community-daily.mattermost.com/core/pl/if5k57ozitfadxra5ieqigkn3w)

Tomorrow should display as 9:00 AM tomorrow.

**Current Menu**

![](image-2021-05-19-16-04-37-917.png|width=200,height=183)

**Proposed solutio

[2021-06-07 01:22] mattermod opened #17733 "Improve contrast on the message container on notification emails"
The original design had a shadow around the message preview, but many email clients (gmail included) cannot render a shadow apparently. Need to come up with another solution to improve the contrast on this

![](image-2021-05-14-14-00-53-378.png|width=200,height=183)

### Proposed Solution

  * Keep the original design as-is
  * Use background images with a table for the shadows. **See attached HTM

[2021-06-07 01:22] mattermod opened #17734 "Search dropdown options should allow focusing with tab"
1. Click on the Search field - dropdown with "Messages" and "Files" options shows up
2. Hit the tab button
Expected: "Messages" is highlighted and selected in the dropdown, tabbing will move the selection to the “Files” option
Actual: "Messages" is highlighted for a moment and the dropdown disappears
https://i.gyazo.com/c466d04407940adc49c829dbc1118054.mp4

----
If you're interested please comment

[2021-06-07 01:22] mattermod opened #17735 "Webapp: move expand/collapse arrow to the left of image name for attached images"
With the introduction of collapsed inline markdown images (see linked ticket), the expand/collapse arrow has moved to the left of the image title. We should do the same for attached image previews.

See work done for [https://mattermost.atlassian.net/browse/MM-34741](https://mattermost.atlassian.net/browse/MM-34741|smart-link)

**Example of current inconsistency:**

  * top sample shown here is a

[2021-06-07 01:22] mattermod opened #17736 "Highlight whole category bounds when holding a channel above a category name"
When moving a channel between categories by dragging, we only highlight the category header area if you hold it directly above the category name.

Expected: Recommend highlighting the entire bound of the category when holding a draggable channel above a category name, similar to how it works when you're dragging a user above the DMs category.

----
If you're interested please comment here and come

[2021-06-07 01:22] mattermod opened #17737 "Add target=_blank to system console plugin links"
Environment: desktop 4.5.4 and 4.6
Not a regression, raised during PR testing

Steps:
1) Open the desktop app
2) Navigate to System Console>Plugins>Zoom
3) Click on Documentation or More Information (within Enable OAuth)

Expected: Link to open in browser

Actual: Nothing happens, links are not opening when clicked on desktop; Links open when viewed/clicked on the webapp.

Note from Guillermo: lin

[2021-06-07 02:15] renchili commented on #17698
@amyblais  hi I see in the ticket that the fix is only for 5.37 at 1 month later.
Question :
1 is that mean the LSV no longer LSV?  we can only use the latest version?
2 why an issue such impact to user need 1 month to fix and such low priority?

[2021-06-07 02:17] renchili commented on #17698
we are using the 5.31 ESR  but, it seems no support was made on it and already not in maintenance?
![image](https://user-images.githubusercontent.com/33677006/120950554-9b92ee00-c779-11eb-8ac0-eed9827abcb1.png)

[2021-06-07 02:23] renchili opened #17738 "ESR was already been depercated?"
This is not related to any functions
Just many newly imported features are so-called is introduced into new version instead put a patch to ESR
is it normal?
![image](https://user-images.githubusercontent.com/33677006/120950748-fa586780-c779-11eb-8177-3807370a74e0.png)

I think this version still be a validated version.

And as I see now Mattermost puts more priorities on features and functionaliti

[2021-06-07 07:01] AshishDhama commented on #17574
Thanks, @agnivade will be finishing this up by this weekend

[2021-06-07 12:00] mattermod opened #17740 "Account Setting for disabling GIF and emoji animation"
Introduce a new setting in Account Settings > Display, below "website link previews":

**Allow animated images and emoji**
on < x ]
off [   >
When enabled, emoji and GIF Images will be allowed to animate.

Functionality:
On: Autoplay GIFs and animated custom emoji
Off: GIFs and animated emoji will appear as static images. GIFs will be playable by clicking (See https://mattermost.atlassian.net/brow

[2021-06-07 12:18] amyblais commented on #17698
@renchili Sounds good, we'll take into consideration backporting this to v5.31, please stay tuned.

[2021-06-07 12:19] amyblais commented on #17738
Hi @renchili, as mentioned in the [ESR documentation](https://docs.mattermost.com/administration/extended-support-release.html), Mattermost backports high severity or high impact security fixes to the previous three monthly releases. Extended Support Releases (ESRs) are releases that will receive backports for security fixes and major bug fixes for the length of their life cycle. New features are

[2021-06-07 12:19] #17738 closed

[2021-06-07 12:36] AshishDhama commented on #15658
@esethna would Like to take it forward let me know when can we discuss this.

[2021-06-07 13:01] #15803 closed

[2021-06-07 15:18] amyblais commented on #17728
@neallred Are you interesting in opening a PR for this, or would you like me to open a new ticket for our team?

[2021-06-07 16:43] jwilander commented on #15012
@stefanct I'll be the first to admit that we haven't focused on web app performance enough over the last year. We have to strike a balance between building new features/improvements and paying off technical debt/ensuring performance and we've definitely leaned much too heavily on the building new features side. We are rotating in the other direction now. I'm also not trying to use the complexity o

[2021-06-07 16:52] hjek commented on #15012
Hey, easy now on the accusations please, @ccoenen. I only reported this issue, and I'm not a Mattermost employee. I was just sharing two possible workarounds for @renchili, one of which works in Firefox.

[2021-06-07 17:01] neallred commented on #17728
Yeah, I'll open a PR!

[2021-06-07 20:09] lieut-data commented on #17006
Hey @rhetoricalraj! Thanks for beginning investigation on this one. We're making some changes to the way status updates are going to work, rendering the proposal in this ticket invalid at this time.

[2021-06-07 20:09] #17006 closed

[2021-06-07 20:12] lieut-data commented on #17318
Thanks for your interest in this one, @madhavhugar! Anything we can do to help here?

[2021-06-07 20:14] lieut-data commented on #16848
Thanks for your interest in this one, @mistikel! Apologies for not connecting Amy's ping with your original request here. Are you still interested in pursuing this one?

[2021-06-07 20:15] lieut-data commented on #16993
Hi @vaidyamilind! Looks like we missed this comment here -- would you like to connect with a developer to speak more about this ticket?

[2021-06-07 20:17] lieut-data commented on #17317
Anything we can do to help, @madhavhugar?

[2021-06-07 21:03] hmhealey commented on #15975
I'm not sure if this is what you were trying to fix, @komik966, but the proposal for storing the themes wouldn't quite work since we use the `name` field to provide a team ID for team-specific themes.

If we're defaulting to the light theme though for unsupported devices, we could continue to use the existing names for light themes and add `dark_` for dark ones, so you'd end up with up to 4 theme

[2021-06-08 05:37] ewwollesen commented on #17281
Since it is back up for grabs I can take this one.

[2021-06-08 07:20] komik966 commented on #15975
When writing first proposal, I wasn't aware of team-specific themes.

If we continue to use `theme` category we will not be able to detect if this `theme` was saved before introduction of os synchronization feature (if it was, we should not synchronize with os).

My proposition is to deprecate `theme` category and add new one: `theme_os_synchronizable`.
Preference's Name will be optional team ID (

[2021-06-08 11:30] agarciamontoro commented on #17317
@lieut-data, it's done! https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/542 (just noticed that the linked issue in the PR is wrong)

The only thing missing is that there are some conflicts with master. If you don't have time to fix those, @madhavhugar, I can take a look at them later today or tomorrow.

[2021-06-08 13:01] lieut-data commented on #17317
Oh, terrific! Thanks @agarciamontoro & @madhavhugar :)

[2021-06-08 14:32] mkraft commented on #17679
Not that I'm aware of. @aaronrothschild Is this a change we want to make?

[2021-06-08 14:46] aaronrothschild commented on #17679
I've asked the Security team if they have any thoughts on this.  Is the first user created always an admin?

[2021-06-08 14:49] mkraft commented on #17679
Yes it is.

[2021-06-08 16:05] wiersgallak commented on #9451
This was addressed with v5.35 with this PR: https://github.com/mattermost/mattermost-webapp/pull/7352 (and associated ticket https://mattermost.atlassian.net/browse/MM-12290)

[2021-06-08 16:05] #9451 closed

[2021-06-08 16:29] esethna commented on #17732
@darkLord19 did you say you were going to take this one once your original feature is merged back to master?

[2021-06-08 16:53] alexander-potemkin commented on #17639
<img width="1366" alt="PNG image" src="https://user-images.githubusercontent.com/2323840/121226408-329f9900-c893-11eb-85a7-0a1898fea257.png">
Thanks for waiting. It doesn't jump, but I just can't reach it now.

[2021-06-08 16:59] alexander-potemkin commented on #17638
That one seems to be resolved, thank you!
Let me re-open it if I will notice any similar behaviour.

[2021-06-08 18:06] amyblais commented on #17639
Opened a ticket: https://mattermost.atlassian.net/browse/MM-36292

[2021-06-08 19:37] emilyacook opened #17747 "Join us for our first Virtual MatterCon 2021!"
# Please join us for our first virtual MatterCon! June 22–24

Learn about the latest and greatest from Mattermost! See product demos, listen to keynotes from [Jono Bacon](https://twitter.com/jonobacon) & [Priyanka Sharma](https://twitter.com/pritianka), participate in our hackathon, and more.

You can claim your free tickets here: https://mattermost.com/events/mattercon-2021/

[2021-06-08 19:39] emilyacook opened #17748 "Take our Community Survey and win a pair of AirPod Pros!"
We have **25 pairs** of AirPod Pros to raffle off to those who participate in our community survey! This is a chance to give honest, candid feedback that will have real impact on helping us build a better product, community, and brand.
* The survey will remain open until **Friday, June 25 at 11:59pm CST.**
* Raffle winners will be contacted on **Thursday, July 1st by 12:00pm CST.**

You can find t

[2021-06-08 21:00] mattermod opened #17750 "Line break after a quote should end quote"
Repro: Type

reply here

Observed: Both lines appear quoted

![](image-2021-06-08-13-52-28-590.png|width=200,height=183)

Expected: Only the first line is quoted and the second line appears as normal text

![](image-2021-06-08-13-52-45-005.png|width=200,height=183)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/c

[2021-06-08 21:09] esethna commented on #15975
@hmhealey on the above if you have thoughts?

[2021-06-09 09:56] madhavhugar commented on #17317
@agarciamontoro thank you for offering to resolve conflicts.

I've updated the PR after merging the changes from master. Should we wait until [PR 526](https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/526) goes live or can we merge?

[2021-06-09 10:41] #17310 closed

[2021-06-09 10:41] agarciamontoro commented on #17317
@madhavhugar, merged!!! Thank you again for your hard work on this, it was awesome :)

[2021-06-09 10:42] agarciamontoro commented on #17317
Fixed by https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/542. Closing.

[2021-06-09 10:42] #17317 closed

[2021-06-09 13:45] #17750 closed, assigned to nobody

[2021-06-09 18:07] alexander-potemkin commented on #17638
![IMG_0240](https://user-images.githubusercontent.com/2323840/121406227-9050e580-c966-11eb-9710-30793130a2ea.PNG)
![IMG_0241](https://user-images.githubusercontent.com/2323840/121406235-934bd600-c966-11eb-91be-0b6cd6e577a2.PNG)

Got it again, here is how to reproduce:
- latest MM, iOS (14.4.2)
- iPad Pro 11, vertical mode
- in group message get the message you want to respond to (first screenshot)

[2021-06-09 18:08] alexander-potemkin commented on #17638
As a guess, the app calculates how much is shall move the text up, without considering the words hints place.
@amyblais

[2021-06-09 20:46] amyblais commented on #17638
@enahum Wondering if you have thoughts on this. This was fixed in v1.43 but the reporter is still able to reproduce this on v1.43.

[2021-06-09 22:57] enahum commented on #17638
Does this happen if the predictive keybord is turned off? It may just be that

[2021-06-09 23:32] aaronrothschild commented on #17679
Comments from Security team:
"Yes I would agree that we should always start with minimal permissions to members. This means we might have to evaluate each permission in the system and also try to compare with the data on permissions which gets removed for members across multiple MM instances (if we have this telemetry data). " and
"May lead to some UX issues on the first install if we have the opp

[2021-06-10 06:52] madhavhugar commented on #17318
@lieut-data I would like to buy some more time on this one. I'll shortly post any questions I have

[2021-06-10 11:05] idaL commented on #17735
Interested. looking into this

[2021-06-10 12:43] mkraft commented on #17679
@aaronrothschild What's the product decision on whether this change proposal is being accepted?

[2021-06-10 13:35] #13478 closed

[2021-06-10 13:45] komik966 commented on #13699
This issue conflicts with https://github.com/mattermost/mattermost-server/issues/15975, which I'm currently working on.
Changes in theme settings component will be significant. I'll write it in TS.

[2021-06-10 13:55] hmhealey commented on #15975
I'd be worried that combining those all together would unfortunately cause problems. Working with a JSON object in Preferences can be tricky, particularly if we ever have to do a database migration since it's hard to work with JSON in the dataabase, and I'd also be worried that we might run out of space in the database column by putting all the themes together. Also, for compatibility, we'd need t

[2021-06-10 14:46] komik966 commented on #15975
@hmhealey Agree that json in db may cause problems.
How should we store information if sync is enabled?
I was thinking about two options:
1. add preference category `disable_theme_sync` - sync is enabled if user hasn't this preference or is set to false
    pros:
    ✅ every user has enabled synchronization by default, no need to insert additional records to db
    cons:
    ⛔️ `disable_theme_sync

[2021-06-10 15:02] komik966 commented on #15975
Or maybe third option, without adding additional preference category:
`theme` exists => not sync, use this theme
`theme` and `theme_dark` exists => sync, use these themes
`theme` not exists and `theme_dark` not exists => sync, use default themes
🤔

[2021-06-10 15:23] aaronrothschild commented on #17679
I think we should accept it for tracking and prioritization.

I think the options include:
- When an Enterprise license is installed, force the administrator to configure a new permissions scheme so that the default configuration does not leave wide-open permissions.
- Leave the configuration as is, but warn the administrator with a message that they should change permissions and add to our docs (

[2021-06-10 19:15] mattermod opened #17763 "In some languages "Find channel" channel switcher text overflows out of the button"
Environment: Daily, browser
Help Wanted candidate.

Steps:
1) Navigate to Account Settings>Sidebar and set Group unread channels separately to OFF
2) Navigate to Account Settings>Display>Language and set language to French
3) Close account Settings and observe "Find channel" channel switcher text

Expected: Text should not overflow the button, should display truncated with an ellipsis without over

[2021-06-10 19:35] hmhealey commented on #15975
I think a separate preference for syncing would work well. We could probably do it without an extra preference like in your third option, but I like being explicit about whether or not its set. And if that preference isn't defined, we can just treat that as if it's on or off as needed.

Regarding the default for syncing, it looks like we want the syncing to be on-by-default for new users and off-b

[2021-06-10 19:37] esethna commented on #15975
Totally, actually that's even better @hmhealey @komik966

So on-by-default for anyone who has never edited their theme, off-by-default for anyone who has changed their theme before

[2021-06-10 19:59] komik966 commented on #15975
@hmhealey So first option wins (`disable_theme_sync` preference)?

[2021-06-11 10:01] Adesfire opened #17772 "emoji autocomplete not working"
#### Summary
Using the web interface of the mattermost-5.35.2 version, pressing ":" doesn't bring up the emoji autocomplete modal as expected.

### Environment Information
  - Device Name: Windows computer / Google Chrome
  - OS Version: 21H1 / Google Version 91.0.4472.101 (Official Build) (64-bit)
  - Mattermost App Version: mattermost-5.35.2
  - Mattermost Server Version: mattermost-5.35.2

####

[2021-06-11 13:29] alexander-potemkin commented on #17638
I will re-check on iPad 11, but at the meantime here is the same kind of issue on iPad 12.9, all latest versions, no keyboard and the message or smiles part get cut.

Does anybody from the developers dogfood, i.e. - use MatterMost on iPads at all? =)

<img width="1118" alt="Screenshot 2021-06-11 at 16 27 36" src="https://user-images.githubusercontent.com/2323840/121693790-1e95aa80-cad2-11eb-8024-a

[2021-06-11 14:16] #17260 closed

[2021-06-11 14:32] amyblais commented on #17698
This has been backported to v5.31.6,

[2021-06-11 14:32] #17698 closed

[2021-06-11 14:59] amyblais commented on #17679
@aaronrothschild Can you help create a ticket for this?

[2021-06-11 16:43] amyblais commented on #17772
@Adesfire Are you using Docker? Do you reproduce it on our [community server here](https://community.mattermost.com/core/channels/release-process)?

[2021-06-11 16:50] amyblais commented on #17772
@Adesfire Here are the instructions for using emojis: https://docs.mattermost.com/help/messaging/emoji.html#adding-emojis-to-messages.

"...open the emoji autocomplete by typing : followed by at least two characters of the word describing the emoji."

[2021-06-11 18:32] aaronrothschild commented on #17679
Jira Ticket: https://mattermost.atlassian.net/browse/MM-36353

[2021-06-11 18:35] #17689 closed

[2021-06-11 18:37] #17664 closed

[2021-06-11 18:38] amyblais commented on #17681
### v5.36 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.36.0-rc2/mattermost-team-5.36.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4625/files)

[2021-06-14 15:39] arvinDarmawan commented on #17311
Hi @agarciamontoro could you elaborate more on step 5 ?
`5. In the incident service’s UpdateStatus function, when the status is successfully updated to Archived, export the channel. The exported file should be sent to the incident's commander.`

So, if the status is successfully updated to Archived and ExportChannelOnArchiveEnabled (incident table) = true, I need to call " Channel Export plugin" a

[2021-06-14 16:25] agarciamontoro commented on #17311
@arvinDarmawan, yes, that sounds correct! Once the Channel Export plugin API gives you back the file, it needs to be sent to the incident's commander in a direct message.

[2021-06-14 16:25] hmhealey commented on #15975
Perfect. That's the easiest option then since we can just tell whether or not the setting should be on or off by default based on whether or not the `theme` preference exists.

Yep, that should work. I 'd be fine with either `enable_theme_sync` and `disable_theme_sync`, so whichever of those you think would be easier to implement works for me.

[2021-06-14 22:01] neallred commented on #13026
Hi, I'd like to take this one.

[2021-06-15 05:02] majidit opened #17780 "Format for sending colored text"
Hello dear friends
there is no format for coloring part of the text !!!
Please ....

Colored text is very necessary to send a message and emphasis

We are <color = green>green</color> with envy

@tbalthazar @mauricio @cored

[2021-06-15 05:32] majidit commented on #17408
Hi @ahmaddanialmohd

The problem is that we do not know how to deal with it
Please send me a video guide

[2021-06-15 05:39] majidit commented on #17408
Can this plugin be used to send to a person?

[2021-06-15 06:59] Michael-E-Rose opened #17781 "Ordered list should not trigger for numbers greater than 1"
In many languages, such as German, it's customary to use dots to denote ranks: 5. instead of 5th. Starting a sentence with 5. triggers the ordered list formatting. That's just ugly, least because of the wide margins.

I propose to switch of automatic ordered list when the number isn't 1.
That's also how Slack does it. Because, seriously, how often do people want to start an ordered list with a num

[2021-06-15 09:29] Adesfire commented on #17772
Hi everyone,
my mistake, I was not typing as much chars as it requires to popup...
Everything works fine, I apologize.

[2021-06-15 09:29] #17772 closed

[2021-06-15 12:39] amyblais commented on #17781
Thanks, appreciate your feedback @Michael-E-Rose,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so

[2021-06-15 13:20] arvinDarmawan commented on #17311
Hi @agarciamontoro are there any example  to call  Channel Export plugin API from mattermost-plugin-incident-collaboration ?
is it through "github.com/mattermost/mattermost-plugin-api" ?

[2021-06-15 15:00] mattermod opened #17785 "Reduce re-rendering of AuditTable component"
This component's mapStateToProps generates new functions each time it’s called which will cause the component to be re-rendered whenever mapStateToProps is called (ie. whenever anything in the redux state changes.

The functions passed into AuditTable are used to provide more information when rendering the rows in the table. To fix this, AuditTable should be broken down so that its rows are their

[2021-06-15 15:39] hmhealey commented on #17785
For whoever takes this, it's likely fully testable using the Account Settings modal. It does appear in the System Console for EE servers, but we'll be able to test that after a PR has been submitted.

[2021-06-15 16:58] #17681 closed

[2021-06-15 18:00] mattermod opened #17786 "Desktop app: Enable users to change spellchecker language"
Add an option to change language, either in the settings or in the context menu.

**Spell Check Setting Off**

![](image-20210317-151701.png|width=100%)

**Spell Check Setting On (shows language selection input)**

![](image-20210317-151715.png|width=100%)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/chann

[2021-06-15 18:00] mattermod opened #17787 "Update UI for Desktop App Install Screen"
Updated style for install screen:

![](image-20210422-172920.png|width=66.66666666666667%)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please

[2021-06-15 20:38] #17249 closed

[2021-06-16 00:32] opalmer opened #17788 "Limited length of roles column can break user logins and other features"
#### Summary
If a user has multiple system roles assigned this can result in the session token having a `roles` field that is longer than the `session.roles` column allows in the database. When this happens all logins that create a new session will be rejected for that user and the server will log the following error message:

[code]

In our case, we created a read-only admin role and assigned it

[2021-06-16 04:14] agnivade commented on #17788
Thanks for creating the issue @opalmer ! Indeed, it looks like the `Roles` field in the `users` table was bumped to 256 [here](https://github.com/mattermost/mattermost-server/commit/5da5c0bbfb80cb5c9cf2699f42d17decc2d60f5b), but the corresponding column in the sessions table was not updated.

I have created a ticket here: https://mattermost.atlassian.net/browse/MM-36472.

[2021-06-16 07:34] Michael-E-Rose commented on #17781
I will gladly do this, but is this really a feature idea? I'm not proposing something new, after all. I want a current formatting feature (feature might be the wrong word) fixed.

Unfortunately, I know only Python but not Go, so will be unable to fix this myself :/

[2021-06-16 12:41] amyblais commented on #17781
Ok, I've opened a ticket here: https://mattermost.atlassian.net/browse/MM-36476

[2021-06-16 13:56] opalmer commented on #17788
Thanks!!!

[2021-06-16 18:08] agarciamontoro commented on #17311
Hi @arvinDarmawan, we don't have any examples where we call the channel-export API from the server side of incident-collaboration. The only one we have is from the client, where we simply call the API endpoint. See [this function](https://github.com/mattermost/mattermost-plugin-incident-collaboration/blob/13885cc5da2c14f0fdccdf2d93725369e411a92f/webapp/src/client.ts#L344). For enabling this in the

[2021-06-17 04:52] alexander-potemkin commented on #17638
Can’t reproduce it now, thanks!

[2021-06-17 12:39] arvinDarmawan commented on #17311
Hi @agarciamontoro thank you for the input. Let me read the code in mattermost-plugin-api and channel-export plugin first to understand better.

[2021-06-17 13:34] ewwollesen commented on #17281
Just a quick update to say I am still working on this. Should hopefully have a PR submitted soon.

[2021-06-17 14:05] ChanceNCounter commented on #6320
I'm gonna necro the necro, because some kind of unrelated disaster brought me to a search engine, which brought me here.

To read this thread, it looks like Mattermost feels strongly that even basic user perms are an important part of monetizing Mattermost. To me, that says two things: Mattermost doesn't think its base project is worth money. Mattermost *does* think users are piñatas. We might not

[2021-06-17 16:42] arvinDarmawan commented on #17311
Hi @agarciamontoro , I think I will try the last one by faking the request's Mattermost-User-ID header with the userID.
I already test it by calling Plugin.HTTP function.

[](url)
<img width="1610" alt="Screen Shot 2021-06-17 at 23 36 34" src="https://user-images.githubusercontent.com/28821618/122438448-eeb04080-cfc4-11eb-81c5-a1afee2e4635.png">

But there are  errors in server logs :
`
{"level":"

[2021-06-17 16:48] agarciamontoro commented on #17311
That looks great, @arvinDarmawan, thank you!

No, you don't need to update those.

Yes! For the request to actually succeed, you need to have the channel-export plugin installed in your local mattermost. If you don't have it installed, those errors are expected (and we should check for them when receiving the response)

[2021-06-17 16:57] arvinDarmawan commented on #17311
hmm how to install in my local mattermost ?
I follow this documentation _https://mattermost.gitbook.io/channel-export-plugin/administrators-guide/installation-and-activation,
but I can't find search bar in **System Console > Plugin Management.**
I can't find **Channel Export**  too.

<img width="1672" alt="Screen Shot 2021-06-17 at 23 55 24" src="https://user-images.githubusercontent.com/28821618/

[2021-06-17 19:03] alexanderadam commented on #6320
I don't think it is wise to be this harsh.
<details>
  <summary>I mean, I'm not happy either but <a href="https://www.akitaonrails.com/2016/08/12/hacking-mattermost-team-edition">the solution of the AkitaOnRails blog is still online</a> and it's pretty decent, isn't it (<em>click to see the SQL trigger solution for this issue</em>)?</summary>

[code]

</details>

<details>
  <summary>There's also

[2021-06-17 19:35] ChanceNCounter commented on #6320
My point is that the attitude above is beyond unacceptable. Harshness is necessary if they're gonna get the situation here: this disastrous exchange has irreparably damaged my interest in Mattermost as a service, and I can't be the only one.

They were withholding straightforwardly *necessary* features on the basis that "**pay me, peon**," and ages later there's *a workaround*. And this is suppose

[2021-06-17 20:00] mattermod opened #17797 "Rename "Channel" > "Conversation" in Direct and Group Message menus"
In Direct and Group Message menus rename the word "Channel" > "Conversation"

Specifically "Mute Channel" and "Edit Channel Header". Note the "Copy Messages to Channel" is a plugin in the screenshots so cannot be edited in the Mattermost code base.

 ![](image-2021-06-17-12-45-18-493.png|thumbnail)

 ![](image-2021-06-17-12-45-49-376.png|thumbnail)

 This change should be made on the mobile app as

[2021-06-17 21:57] j-james commented on #6320
For what it's worth, when my team was searching for a replacement for Slack, we found the similarly open-source [Rocket.Chat](https://rocket.chat/) to work well and with more features (notably a cohesive set of permissions and roles).

[2021-06-18 06:32] alexanderadam commented on #6320
I can absolutely understand that. Also [RocketChat has support for End to End Encryption](https://docs.rocket.chat/guides/user-guides/security-bundle/end-to-end-encryption) which might be relevant if you have users that might send credentials via chat. :roll_eyes:
[Mattermost doesn't have e2e yet](https://mattermost.atlassian.net/browse/MM-669) (although requested since 2016: [1](https://mattermos

[2021-06-18 13:58] #14633 closed

[2021-06-18 18:30] lieut-data commented on #16394
Moving in a different direction for now: closing ticket. Thanks for the investigation @JeremyShih :)

[2021-06-18 18:30] #16394 closed

[2021-06-18 19:50] lieut-data commented on #17469
Resolved in https://github.com/mattermost/mattermost-plugin-incident-collaboration/pull/570.

[2021-06-18 19:50] #17469 closed

[2021-06-19 04:29] cybrpimp opened #17801 "SMTP Server using IP in logs that I do not know where it is set"
I'm trying to configure SMTP setting and not matter what use for the SMTP server, the error in the logs shows a completely different IP that never changes.

I've even put in a hard-coded IP and it still shows the unknown IP.

Is there an over-ride or some DNS setting somewhere that I'm missing that is forcing some IP to be used instead of what I put in as the SMTP host?

[2021-06-19 04:43] #17801 closed

[2021-06-19 04:44] cybrpimp commented on #17801
Must have been a DNS caching issue

[2021-06-19 11:55] arvinDarmawan commented on #16245
Hi , Im interested in this issue

[2021-06-19 16:58] agnivade commented on #16245
Go for it @arvinDarmawan !

[2021-06-19 18:35] chruss2 opened #17802 "Dark theme: "Set a status" button hard to read"
#### Summary
When you click on your own name in a chat, the "Set a status" button is hard to read.

#### Steps to reproduce
Ensure you have cleared your status.
Click on your own name in a chat room.
"Set a status" button uses a light font color on a white background in dark theme.

#### Expected behavior
"Set a status" button is readable in both dark and light themes.

#### Observed behavior (tha

[2021-06-19 23:51] amyblais commented on #17802
This is fixed in the latest v5.36.0 release,

[2021-06-19 23:51] #17802 closed

[2021-06-20 11:05] Pulkit3234 commented on #17276
@amyblais Ma'am, Can I take up this issue, would be great if you could guide me as I am new to mattermost open source!.

[2021-06-20 12:16] daniel-jirca opened #17805 "Emoji picker shows no emojis when adding reaction"
#### Summary
When adding a reaction to a post, the emoji picker popup does not show any emojis in any of the categories and displays the message "No results for "" Check the spelling or try another search"

#### Steps to reproduce
I tested using Firefox 89 and Chrome 91. Server version is Mattermost Team Edition
[code]
To reproduce the issue just use the add reaction button beneath or to the right

[2021-06-20 23:18] amyblais commented on #17276
Feel free to [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers). Please also see our [Developer

[2021-06-21 03:26] dhruvMohapatra commented on #17737
Hey @mattermod  newbie here, I'd like to fix this, just not able to locate the file. Any help on folder structure would be welcome

[2021-06-21 12:57] amyblais commented on #17805
@Willyfrog @jgilliam17 Are you able to reproduce this on master and is this related to the Emoji 13 update?

[2021-06-21 13:01] Willyfrog commented on #17805
I might have this fixed in the [emoji-picker PR](https://github.com/mattermost/mattermost-webapp/pull/8282), we'll need to double check once that's merged

[2021-06-21 13:30] lordinkavu commented on #17737
Hey can I take it up ?

[2021-06-21 13:47] jgilliam17 commented on #17805
I was able to see it for a brief moment before emoji picker loaded. I will re-test on the PR Guillermo mentioned.

[2021-06-21 18:20] hanzei commented on #17737
@dhruvMohapatra Thanks for taking a look :+1: The code is located in https://github.com/mattermost/mattermost-webapp/. You can learn more about the folder structure [here](https://developers.mattermost.com/contribute/webapp/#folder-structure). Let me know if that helps.

[2021-06-21 18:21] hanzei commented on #17737
@lordinkavu Thanks for you interest in this ticket. Given that  @dhruvMohapatra was the first to respond to the ticket, I will assign it to him. Feel free to take a look at the other webapp issues. Is theere as specific code area you are interested about?

[2021-06-22 01:41] lordinkavu commented on #17737
@hanzei Hey, I usually work with JavaScript so I think I'd be able to contribute more towards the web app initially.

[2021-06-22 02:11] lordinkavu commented on #17763
Hey, I'd like to work on this

[2021-06-22 02:32] lordinkavu commented on #17797
Hey, interested to work on this

[2021-06-22 09:52] enahum commented on #17797
It would be great for this to be done on the mobile app as well to keep it consistent

[2021-06-22 10:36] renchili opened #17820 "Copy from Google Sheet /Excel on Mac OS then past into mattermost will eat blank lines"
#### Summary
copy past on MAC OS from google sheet to mattermost  will eat white lines

#### Steps to reproduce

![image](https://user-images.githubusercontent.com/33677006/122910615-fb4be480-d388-11eb-921d-3d22c9eff26b.png)
it become
this
![image](https://user-images.githubusercontent.com/33677006/122910697-1585c280-d389-11eb-87ae-8082cd18af6f.png)

https://user-images.githubusercontent.com/33677

[2021-06-22 12:30] amyblais commented on #17820
@hmhealey Is this a bug or expected?

[2021-06-22 12:31] renchili commented on #17820
for more information, this is not reproducible on Window OS

[2021-06-22 15:08] amyblais commented on #17820
Opened a ticket: https://mattermost.atlassian.net/browse/MM-36619

[2021-06-23 12:12] amyblais commented on #17805
@daniel-jirca Does this issue repro for you on latest master? The PR mentioned above is merged https://github.com/mattermost/mattermost-webapp/pull/8282.

[2021-06-24 12:45] hackercat3211 commented on #17693
I apologize for not responding sooner.  I have been really busy with work.  I would love to submit a PR for this.  I will work on it soon.

[2021-06-24 14:07] ewwollesen commented on #17281
So I've got it all converted over except for one section I cannot figure out. What's the best way to get eyes on that? Should I just do a PR even though there are errors and have someone review it here, or would it be better to pose the question over in the [TypeScript Migration](https://community-daily.mattermost.com/core/channels/typescript-migration) channel or [Contributors](https://community-

[2021-06-24 18:06] darkLord19 commented on #16544
I am still seeing it in sidebar menu

[2021-06-24 18:06] darkLord19 commented on #16544
![ezgif-5-e191d8603a46](https://user-images.githubusercontent.com/16662014/123311621-00ee2980-d545-11eb-83fd-5b0d87f9ed69.gif)

[2021-06-24 18:57] daniel-jirca commented on #17805
The bug is squashed in the current master version!
Thanks!

[2021-06-24 18:58] #17805 closed

[2021-06-24 18:59] Willyfrog commented on #17805
thanks for double checking! I'm glad it worked for you :)

[2021-06-24 19:57] jwilander commented on #15012
Hi all, looking for some help testing to see if a recent fix in this PR https://github.com/mattermost/mattermost-webapp/pull/8302 helps the typing performance on Firefox (and other platforms). Can anyone who's experiencing bad slow typing issues create an account on this server https://mattermost-webapp-pr-8302.test.mattermost.cloud/signup_user_complete/?id=4q1kmpiqrjfkze4pkq1p9mosmc and see if th

[2021-06-24 21:55] stefanct commented on #15012
I am not sure if anyone would notice on such a tiny server instance, i.e. one without a more significant number of users, channels, or messages. I cannot really tell (compared to a 5.35.1 instance it seems to be a bit better and consistent when just holding down a key in the input field though).

[2021-06-24 22:11] kongr45gpen commented on #15012
I'm honestly not sure what kind of difference there is, since it's hard to compare servers with different channels, users etc.. (However it's still slower than chrome, at least on Linux)

In case it helps anyone, since it seems that the issues get worse the more elements there are on the page, I sent a bunch of messages on the off-topic channel, so the way I reproduce the slow typing speed is:
1.

[2021-06-25 03:39] aileenpalafox commented on #17763
Hi, I would like to work on this if that's okay!

[2021-06-25 12:28] jwilander commented on #15012
Re @stefanct: Yeah, it's hard to test it well without a lot of traffic on the server but I do recall a few people seeing the typing be slow even in an empty channel. Was hoping this might have an impact on that. Thanks for checking and the feedback though!

Re @kongr45gpen: Is it only noticeably slower when there's a lot of elements on screen? For example if you go to an empty new channel is the t

[2021-06-25 13:28] Petaris opened #17833 "Healthcheck fails for mattermost-team-edition docker image when HTTPS is used"
#### Summary
Healthcheck fails for mattermost-team-edition docker image when HTTPS is used

#### Steps to reproduce
- Run mattermost-team-edition docker image with required configuration for using HTTPS
- - Make sure this is done properly and that you have a correctly working HTTPS connection to mattermost
- Check the docker container with "docker ps", you will see that it has a status of "unhealt

[2021-06-25 14:00] kongr45gpen commented on #15012
@jwilander Indeed, an empty channel is much faster than a full channel with an open static RHS. (Not sure how related this is to this issue, though)

Here are the two profiles: [firefox_performance.tar.gz](https://github.com/mattermost/mattermost-server/files/6716632/firefox_performance.tar.gz)

[2021-06-25 14:30] jwilander commented on #15012
Awesome, thanks! That helps confirm that it's likely related to some unnecessary re-rendering or recomputation related to some onscreen components. I'll look through the profiles to see if anything stands out.

[2021-06-25 14:57] amyblais commented on #17833
@cpanato @metanerd Would you like me to open a ticket for this?

[2021-06-25 15:05] cpanato commented on #17833
I'm not sure if we want to change that

[2021-06-25 15:11] cpanato commented on #17833
@Petaris thanks for this issue

can you describe the steps you mention above

Make sure this is done properly and that you have a correctly working HTTPS connection to mattermost

[2021-06-25 15:42] Petaris commented on #17833
@cpanato Its just the steps to setup HTTPS, provide the cert/key, and verify that you can connect to the Mattermost service with HTTPS without errors.

In my case I have:
- A certificate signed by our internal CA and the private key in a docker volume that gets mounted in the container: "-v /mnt/dockervol/mattermost/certs:/certs"
- The configuration in the Mattermost System Console > Web Server
-

[2021-06-25 16:09] hmhealey commented on #16544
Thanks for the update. This'll have to be something that gets fixed when the menu components are rewritten. The way they're structured right now and where they're located in the DOM makes this virtually impossible to fix. They need to be rendered outside the sidebar to get above the scroll bar.

[2021-06-26 16:58] source-punk opened #17834 "reply_count = 0 always returned for GET single Post on /posts/<postid> api"
#### Summary
Fetching a single post using /posts/<postid> always returns `reply_count` field as 0.

#### Steps to reproduce
for Release 5.35.2, GET a single post with replies using /posts/<postid> and the returned reply_count is always 0 (due to golang initializing the value to empty default in returned model.Post?)

#### Expected behavior
Same as above. Its just a single GET call to a Message Pos

[2021-06-27 06:54] girish17 opened #17835 "Mattermost plugin API's OpenInteractiveDialog method fails to open a dialog"
#### Summary
OpenInteractiveDialog method in plugin API fails to open a dialog for a TriggerID generated from a menu action. It provides no error message upon failure.

#### Steps to reproduce
This [line of code](https://github.com/girish17/op-mattermost-plugin/blob/36d64250772eac25acde930d7468f0c125295e11/server/util/uiActions.go#L437) fails.
Trigger ID is obtained on select of a menu element. Th

[2021-06-27 10:41] PxBCPG opened #17836 "[BUG/ISSUE] Custom emojis don't load"
1. Confirm you’re filing a new issue. [Search existing tickets in Jira]

✅

2. Confirm your issue does not involve security. Otherwise, please see our [Responsible Disclosure Policy]

✅

3. [File a new issue](https://github.com/mattermost/mattermost-server/issues/new) using the format below. Mattermost will confirm steps to reproduce and file in Jira, or ask for more details if there is trouble re

[2021-06-27 10:47] PxBCPG opened #17837 "[BUG/ISSUE] Plugins doesn't load top bar on certain client"
1. Confirm you’re filing a new issue. [Search existing tickets in Jira]
✅
2. Confirm your issue does not involve security. Otherwise, please see our [Responsible Disclosure Policy]
✅
3. [File a new issue](https://github.com/mattermost/mattermost-server/issues/new) using the format below. Mattermost will confirm steps to reproduce and file in Jira, or ask for more details if there is trouble reprod

[2021-06-27 10:49] PxBCPG commented on #17837
![Screen Shot 2021-06-27 at 12 43 41](https://user-images.githubusercontent.com/74296895/123541701-17170800-d746-11eb-8862-eeac43a597fb.png)
![Screen Shot 2021-06-27 at 12 43 32](https://user-images.githubusercontent.com/74296895/123541702-17af9e80-d746-11eb-9f01-6e6e10b73165.png)
![Screen Shot 2021-06-27 at 12 43 49](https://user-images.githubusercontent.com/74296895/123541703-18483500-d746-11eb-

[2021-06-28 07:56] lordinkavu commented on #17797
I can work on the mobile version too

[2021-06-28 15:02] amyblais commented on #17836
@PxBCPG Can you help confirm your Mattermost server version, and what device and browser you're using?

[2021-06-28 15:02] amyblais commented on #17837
@PxBCPG Do you see any Mattermost log errors when the issue occurs?

[2021-06-28 15:03] amyblais commented on #17835
@hanzei @DHaussermann Are you able to reproduce this and should we create a ticket?

[2021-06-28 15:05] amyblais commented on #17834
@jwilander / @koox00 Is this related to collapsed reply threads?

[2021-06-28 15:13] source-punk commented on #17834
I also have a commit prepped using the sqlbuilder wrapper in mattermost, I’ll create a pr for it if you all think it’s an issue or needs to be fixed. I’m basically using something similar to  replyCountSubQuery to select the reply_count column.

[2021-06-28 15:50] jwilander commented on #17834
@amyblais yes this would be CRT related. Feel free to file a JIRA bug for it and assign to Apollo.

@source-punk do you happen to have the experimental feature flag for Collapsed Threads turned on?

[2021-06-28 15:52] source-punk commented on #17834
@jwilander yeah collapsed threads on and working on channel, thread apis.

Also, like I said I have a commit in my local build that fixes this issue and I can create a pr today.

[2021-06-28 15:54] jwilander commented on #17834
We'd love a PR for that :)

[2021-06-28 16:13] amyblais commented on #17834
Opened a ticket also: https://mattermost.atlassian.net/browse/MM-36711

[2021-06-28 16:17] source-punk commented on #17834
Thanks, I have signed that contribution agreement and will raise a pr to master in an hr or so.

[2021-06-28 17:06] jayaddison-collabora opened #17843 "Request: support for linting, unit testing using GitLab CI"
#### Pre-submission checks
- [x] This issue does not exist in the open or closed issues on GitHub
- [x] This issue does not relate to a security issue with Mattermost

#### Summary
Request for support to run Mattermost linting and unit testing from a vanilla GitLab instance.

#### Steps to reproduce
Although the `mattermost-server` and `mattermost-webapp` repositories include `.gitlab-ci.yml` file

[2021-06-28 17:46] PxBCPG commented on #17837
nothing, sorry

[2021-06-28 17:47] PxBCPG commented on #17836
Latest version of MM server.
For the emojis, it's universal

[2021-06-28 18:38] dihmuzikien commented on #13908
Hi, can I work on this?

[2021-06-28 18:44] hanzei commented on #17835
Thanks for the report @girish17.

Does https://github.com/girish17/op-mattermost-plugin/blob/36d64250772eac25acde930d7468f0c125295e11/server/util/uiActions.go#L437 return an error. If so, which? Also, does the log message in https://github.com/girish17/op-mattermost-plugin/blob/36d64250772eac25acde930d7468f0c125295e11/server/util/uiActions.go#L408 show a triggerID?

[2021-06-29 03:24] #17616 closed

[2021-06-29 04:07] girish17 commented on #17835
- No error is returned. The debug log shows `<nil>` as the return value.
- The triggerID is always shown. For instance one of the generated triggerIDs is `ZHM1d2U5aXRtcGQ3YmRvNTRrZjlqa3Brcnc6d3J6eHlrcmdjaXJqODhlYWI3NG1kc2N6dGM6MTYyNDkzOTI0NTA5NzpNRVVDSUJueVB0Ulp6cXhEazcxUGVFL2MrRXlYSzdDdi8yMWUyeEk2TXNJMmVpRmZBaUVBK3hEMFI0bGZ3YlZNaGFwK0Z6dndqVGZrNGxob1Z3UkEvTFRmU3ZQZVF4TT0=`

[2021-06-29 07:26] bbodenmiller commented on #16540
@frezbo maybe try `127.0.0.1` rather than `localhost`?

[2021-06-29 07:53] frezbo commented on #16540
@bbodenmiller I just tried it and using `127.0.0.1` also doesn't work, since the port number is passed to the `smtp.PlainAuth` method

[2021-06-29 08:55] alerque commented on #17393
In #1638 where I ran into this being a problem in the latest release I suggested several solutions:

The solution mentioned by @haardikdharma10 would do the trick using along the lines of the 4th option. You could upgrade this to the 2nd option by also adding the meta data required so that `git archive` includes some commit hash info and the `gitVersion()` function (to be written) could check that

[2021-06-29 10:13] 1bsilver commented on #17785
Hi, Is this still open?
Can I work on this?
Please guide me.

[2021-06-29 10:38] DVTrast commented on #17407
It is fixed in version 5.36.1
![Timezone](https://user-images.githubusercontent.com/61227869/123783687-f0d4a200-d8d6-11eb-9e76-f91b8f784da4.png)

[2021-06-29 12:11] amyblais commented on #17407
Great, thanks!

[2021-06-29 12:11] #17407 closed

[2021-06-29 12:32] amyblais commented on #17835
@hanzei ^

[2021-06-29 13:35] #15945 closed

[2021-06-29 15:32] majidsajadi commented on #17276
it would be appreciated if you mentioned me before unassigning the issue. @amyblais

thanks.

[2021-06-29 15:34] majidsajadi commented on #15476
please unassign.

[2021-06-29 15:43] lieut-data commented on #17352
@grvv, how are things going with this ticket? Anything we can help with?

[2021-06-29 15:44] lieut-data commented on #17353
@grvv, also with this one: anything we can help with?

[2021-06-29 15:45] lieut-data commented on #16993
Pivoting away from these interactions via slash command: so closing out this ticket.

[2021-06-29 15:45] #16993 closed

[2021-06-29 16:05] grvv commented on #17352
Hey @lieut-data thanks for checking in, I figured out the root cause for this long back, Im just a bit occupied these days. Will be free after 7th July and I'll jump right back to this issue.

[2021-06-29 16:07] grvv commented on #17353
Hey @lieut-data thanks for checking in, I figured out the root cause for this long back, Im just a bit occupied these days. Will be free after 7th July I'll jump right back to this issue.

[2021-06-29 16:08] lieut-data commented on #17353
Sounds great, @grvv! Thanks for confirming you're still interested, and really happy to have your help :)

[2021-06-29 16:19] amyblais commented on #17276
@majidsajadi I'm sorry about that! :( Are you still working on this? If yes, I can re-assign this to you and communicate to ``Pulkit3234``.

[2021-06-29 16:26] majidsajadi commented on #17276
@amyblais it's ok. I was about to clean up the code and send the PR. but let @Pulkit3234 work on it.

[2021-06-30 10:51] komik966 commented on #15975
Just for information: I haven't had time to deal with this issue for the past two weeks. But now I'm working on it again.

[2021-06-30 12:26] amyblais commented on #17835
@larkox Could this be a bug?

[2021-06-30 12:30] larkox commented on #17835
This is almost sure caused by not returning a proper response to the post action. I haven't checked in code, but this is my guess:

- You don't return a proper response
- The post action fails because the response has an empty body (or not recognizable)
- The client see the post action failing, so it doesn't set the triggerID in redux
- The client receives the websocket event, but since the trigge

[2021-06-30 14:02] hanzei commented on #17835
@larkox I'm also inclined to accept and empty response body as a response. Redux should load the triggerID anyway IMO, as it's not obvious why it's returned but not valid.

[2021-06-30 14:32] amyblais commented on #17835
Opened a ticket https://mattermost.atlassian.net/browse/MM-36757

[2021-06-30 21:29] jasonblais commented on #17281
@ewwollesen Thanks for working on this issue! Much appreciated.

I would encourage you to open a PR with the code you have thus far, and then posting in the TypeScript Migration channel at-mentioning `@harrison` with your question related to the error, linking to your PR.

You can mark the PR as [WIP] in the title, so people know it's a work in progress, but it may be helpful for Harrison to see t

[2021-07-01 10:38] 1bsilver commented on #17785
![image](https://user-images.githubusercontent.com/53649855/124110876-50bd7b00-da86-11eb-9b25-fac24b26d421.png)

Hi. The AuditTable component has the following two functions. mapStateToProps and mapDispatchtoProps.
Do I need to break down them both down into their own components?

[2021-07-01 10:58] alexander-potemkin commented on #17638
I’m sorry to say that it’s here again… =(
App: 1.44.1 (360), server: 5.36.1

[2021-07-01 11:49] hammenm opened #17858 "Error message when doing request to API to /users/{user_id}"
#### Summary
Cannot edit user information with the API for /users/{id} requests. I get the error `model.user.is_valid.create_at.app_error`

#### Steps to reproduce
Send a PUT request to http://your-mattermost-url.com/api/v4/users/{user_id}

#### Expected behavior
User modified

#### Observed behavior (that appears unintentional)
Error message:

[code]

#### Possible fixes
This happens after an upg

[2021-07-01 11:58] Philmod commented on #2676
I see that we can rename the "town square" channel, but can we change the id too (in the url)?

[2021-07-02 08:10] Pezhvak opened #17859 "Uneven rendering of attachment fields (Web and Desktop)"
#### Summary
Using `short` attribute for multiple fields in message attachments renders uneven. (both web and desktop apps but it renders correctly in mobile apps)

#### Steps to reproduce
Using version 5.36.0, try to send this attachment with a message using API:

[code]

#### Expected behavior
Columns to align evenly under each-other as it is in mobile versions.

#### Observed behavior (that app

[2021-07-02 10:47] ahmadkarlam commented on #17730
Hi, I would love to solve this.

[2021-07-02 13:15] mattermod opened #17861 "Modify the playbook run list status filter to be a multiselect like the RHS timeline filter"
In the list of playbook runs, it’s currently only possible to filter by one status at a time:

![image](https://user-images.githubusercontent.com/1023171/124279940-726a4100-db1e-11eb-81ce-7cce8ad0c817.png)

By contrast, when filtering the timeline view, we support a multi-check experience:

![image](https://user-images.githubusercontent.com/1023171/124279954-772ef500-db1e-11eb-9c81-47f8b7d03750.pn

[2021-07-02 14:20] TheDarkestDay commented on #15652
Hey, guys. I am sorry for being silent for these weeks. My timetable these days is pretty tight but anyway I have all the willingness to finish this work.

@esethna
May I kindly ask you to take a look at these questions? They might have been left unnoticed last time. At this point I think I have already done most of the work related to Redux and implementation and I would be grateful for more deta

[2021-07-03 09:33] mightyBroccoli opened #17862 "SMTP email message id missing"
#### Summary
Mattermost Email Notifications are missing the message identifier `Message-ID` resulting in some providers marking emails as potential spam.

#### Steps to reproduce
Default SMTP setup.

#### Expected behavior
It would be quite nice to generate a proper message identifier for the generated email which is sent.

#### Observed behavior (that appears unintentional)
Emails are missing the

[2021-07-05 09:40] laktak commented on #16241
On 5.35.1 it works for me with "disable diagnostics and error reporting" *after* reloading the browser tab.

[2021-07-05 13:17] teamusec-krause opened #17864 "Emoji Notification [Feature Request]"
Hey all,
it would be great to get notifications of emojis which are used to react on an own message in a channel or private chat.

Thanks :)

[2021-07-05 14:15] jasperroloff opened #17868 "Open PDF attachments using the associated system app"
When opening a PDF attachment inside the Mattermost desktop app, it only shows a preview of the PDF. The preview has multiple disadvantages: on high-resolution displays (e.g. MacBooks) the preview looks blurry and pixelated. Also, it isn't possible to select and copy text.

The feature I'm requesting is to allow opening the PDF using the system-wide default application for PDF files. Currently, th

[2021-07-06 05:46] abrahamgeorget opened #17865 "High load time for 'Direct message' experience"
#### Summary
High load time for 'Direct message' experience while launching the web app for the first time. (New user invited to join Mattermost Cloud professional )

#### Steps to reproduce
Access the invite link on email for a new user sign in from admin. After logging in, navigate to the 'Direct messages' experience on left rail to a user to start chat session [+].  (Browser: Edge chromium)

##

[2021-07-06 08:02] Zsyh2619 opened #17866 "Elasticsearch is not used"
I have tried v5.31.0 and v5.36.1
I configured elasticsearch, imported 5 million chat records, and returned 504 when querying. So I did a test:
1. Configure elasticsearch according to the document and close the database search
2. restart the service
3. send some message.
(I found that new message can be found in elasticsearch)
4. then I modified the message in elasticsearch
(Refresh the page and fi

[2021-07-06 11:25] jasonblais commented on #17780
Thanks, appreciate your feedback.  @majidit

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementin

[2021-07-06 12:30] amyblais commented on #17638
@enahum @josephbaylon Do we know why this has come back and how to prevent it from coming back in the future?

[2021-07-06 12:38] enahum commented on #17638
I am unable to reproduce, this time around it works fine for me.

This was caused by the scrollview being bound to follow the keyboard and in certain situations we need to re-bind that scrollview (very very very fragile). In 1.44 we were re-bind it scrollview qt all times which caused the issue where once you entered the thread view then the keyboard will cover messages on the channel. Now we are

[2021-07-06 12:38] alexander-potemkin commented on #17638
![IMG_1084](https://user-images.githubusercontent.com/2323840/124601176-33b2ee80-de70-11eb-891e-0bd589c9378c.PNG)
![IMG_1083](https://user-images.githubusercontent.com/2323840/124601185-37467580-de70-11eb-983e-b0919458082e.PNG)
![IMG_1081](https://user-images.githubusercontent.com/2323840/124601188-3877a280-de70-11eb-89b6-4816beef729b.PNG)

And here comes the screenshots (got it re-appeared again)

[2021-07-06 12:42] enahum commented on #17638
@alexander-potemkin screenshots indeed show that is happening, so maybe your reproduction steps can help, cause is not happening for me

[2021-07-06 13:30] alexander-potemkin commented on #17638
@enahum , yes, I understand you. Unfortunately, it's not something I can reproduce reliably - I just use the app on daily basis on my iPad Pro 12.9 with Apple's Keyboard and sometimes without.

[2021-07-06 14:33] nika-begiashvili commented on #17861
I'll take this one, if I may :)

[2021-07-06 14:51] mattermod commented on #17864
Thanks @teamusec-krause, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back

[2021-07-06 14:51] #17864 closed

[2021-07-06 14:58] amyblais commented on #17866
@Zsyh2619 Would you be open to posting this on our [troubleshooting forum here](https://forum.mattermost.org/) with relevant [details from here](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues), and someone on our community will likely be able to help troubleshoot this with you?

Since Elasticsearch is an [E20 feature](https://docs.mattermost.com/deployment/elasti

[2021-07-06 15:01] amyblais commented on #17865
@abrahamgeorget Can you help share relevant [details about your environment from here](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues)?

[2021-07-06 15:03] amyblais commented on #17862
@mightyBroccoli Can you help share relevant [details about your environment from here](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues)?

[2021-07-06 15:04] amyblais commented on #17859
@larkox @DHaussermann Are you able to reproduce this?

[2021-07-06 15:12] amyblais commented on #17858
@hammenm Does this reproduce on a more recent version, such as 5.36?
@agnivade Could this be a bug?

[2021-07-06 15:20] amyblais commented on #17865
cc @jwilander / @hmhealey This is on a Cloud server.

[2021-07-06 15:24] agnivade commented on #17858
Thanks, I will take a look.

[2021-07-06 16:29] esethna commented on #15730
Closing as we are re-wroking the design to include skin tone picker

[2021-07-06 16:29] #15730 closed

[2021-07-06 17:00] abrahamgeorget commented on #17865
Mattermost web app - Mattermost Version: cloud-2021-07-01-1
Web browser - Edge Chromium Version 91.0.864.54 (Official build) (64-bit)
OS - Windows 10 Home; OS build 19041.1052;Version 2004

[2021-07-06 17:15] #17731 closed

[2021-07-06 17:45] esethna commented on #17868
@jasperroloff we have some awesome improvements for the Mattermost previewer lined up that will add a lot of commonly used PDF tools accessible within Mattermost: https://www.figma.com/file/i86bHWcB68HMiaJNoVxmsq/Image-Preview-Modal?node-id=665%3A80

[2021-07-06 17:45] amyblais opened #17872 "Mattermost v5.37"
You can find key dates for v5.37 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### July 7th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### July 14th: Release Build Cut
The fina

[2021-07-06 18:47] esethna commented on #15652
Ah, sorry I missed those questions @TheDarkestDay

1. Yes that's correct we already have a banner component used for other purposes (websocket disconnection, javascript errors when running in debug mode, cloud license renewals, etc) we can just change the color to match the designs. Perhaps @hmhealey or @devinbinnie can point you to those examples.
2. I don't think a tooltip is needed
3. This is j

[2021-07-06 19:09] hammenm commented on #17858
@amyblais we have not done the test on a 5.36 server. We notice this behavior on our production server. Yesterday, we upgraded to 5.33.5 and the issue is still here.
We want to upgrade our server version by version every week. If this is okay for you, I can tell you if we have the same issue on 5.36 in 3 weeks.

I wanted to expose this issue already, but this is not critical for us. May you would

[2021-07-06 19:49] hmhealey commented on #17785
@1bsilver Just to echo my comments here in case you aren't the person who asked on community.mattermost.com:

The component is somewhat split into two parts: audit_table.tsx (with the actual React component) and index.tsx (with those functions that connect the component to the redux data store). The problem with how we're doing it right now is that the `getUser`, `getByName`, and `getDirectTeammat

[2021-07-06 20:10] devinbinnie commented on #15652
@TheDarkestDay The component is called `AnnouncementBar` and there's a few uses throughout the app. Let us know if you need help working with it.

[2021-07-06 20:15] hmhealey commented on #17865
If I had to guess, this isn't actually something taking a long time to load, but rather the loading screen just stays open even though the channel has actually been loaded in the background.

Judging by the screenshot, you just signed up, logged in, and immediately opened that DM. Does that sound correct?

[2021-07-06 20:24] esethna commented on #15975
Awesome, thanks @komik966!

[2021-07-06 20:32] majidsajadi commented on #15476
@devinbinnie I don't think I have time to work on this one right now.

[2021-07-06 21:21] abrahamgeorget commented on #17865
@hmhealey - That sounds about right. I logged in for the first time, navigated to the Direct message screen, added a participant and it was showing the 'Loading' screen for about 5 mins or so.

[2021-07-06 21:53] mightyBroccoli commented on #17862
Sure but I am fairly sure that this issues is not influenced by my general setup.
OS: Archlinux
Mattermost Version: 5.35.3
Database Schema Version: 5.35.3
Database: mysql
I am not using a container.

The SMTP setup is as basic as it comes. I use an external SMTP server with a valid TLS certificate.
That's it. If there are some specific values you would like to know hit me up.

[2021-07-06 22:21] amyblais commented on #17862
@mkraft / @BenCookie95 Would this be a bug?

[2021-07-06 23:01] #17261 closed

[2021-07-07 01:22] Zsyh2619 commented on #17866
OK, I have posted this on  troubleshooting. I'm using the test license, so I won't trouble support team.

[2021-07-07 06:55] mightyBroccoli commented on #17862
I read up on the message id topic and it seems that it is not strictly necessary to add this header to form a valid email. But most spam filters will mark emails without it as spam ot even as invalid.

[2021-07-07 12:23] biva opened #17873 "Notification only for mentions (not for direct message nor for username)"
#### Summary
In order to limit the number of notifications and better concentrate on my work, I would like to have desktop notification **only** for mentions and **not** for direct messages **nor** for my username.

#### Current behavior
Currently, I can choose to receive notifications "Never" or "for all activity" or "Only for mentions **and** direct messages" (the '**and**' is my issue here).

#

[2021-07-07 12:48] mkraft commented on #17862
@mightyBroccoli Yes, [RFC5322 states that messages "should" have a `message-id` field](https://datatracker.ietf.org/doc/html/rfc5322#section-3.6.4) with a globally unique value for use in replies and threading.

I wonder if this would also help to group post threads in mail clients like how Apple Mail is grouping the emails from this Github issue?

@amyblais I've added [a Jira ticket](https://matt

[2021-07-07 13:09] #17693 closed

[2021-07-07 14:46] biva commented on #16515
Too bad that @marcelo-cardozo is not able to finalise the PR: I have no coding skills unfortunately, would somebody be able to finalise https://github.com/mattermost/mattermost-webapp/pull/7254 ?