[2016-10-24 04:06] S4KH commented on #4305
Isn't this showing the correct message when user signs up with invite link?
http://localhost:8065/signup_email?id=6griiq961pfybxbn9hgs6ip7yh
![image](https://cloud.githubusercontent.com/assets/15072209/19633267/263cba42-99e2-11e6-9670-cf678e5f4ece.png)

[2016-10-24 04:37] jasonblais commented on #4305
Hmm, you're right, it seems to be correct if you use the team invite link.

I just tried and was able to reproduce it with the following steps however:

Repro:
1) **Set System Console > General > Users and Teams** to 10
2) **Set System Console > Sign Up > Enable Open Server** to True
3) Have at least 10 members join a team on the server
4) Create a new account from the "Create one now?" link on th

[2016-10-24 04:45] jasonblais commented on #4250
Hmm, good point -- I'll check that out while I test the pull request, but it might make sense to consider a separate ticket for it as you suggested.

Many thanks for the PR @pepf!

[2016-10-24 07:29] karanjthakkar commented on #4156
@jasonblais Hey thanks for the update. This is really an easy fix but I'm running into issue setting up the project on my Mac because I'm unable to install Docker using the Docker for Mac setup. I'll try to find some solution this week, hopefully. If not, I guess I'll have to pass on sending in a fix.

[2016-10-24 08:24] mmarif4u commented on #4272
This morning i reinstalled on Samsung A7, and it break the notifications. The red circle now showing up here too which was not there before.

[2016-10-24 09:14] akhmerov opened #4307 "Notifications from other teams"
#### Summary
Notifications from other teams don't respect channel notification settings in v3.4.0.

#### Steps to reproduce
1. Create a mattermost server, let user A join team 1 and team 2, user B join team 1.
2. Set notification preferences for user A team 1 town square to "never".
3. Log in user A into team 2, send a message from user B to the town square in team 1.

#### Expected behavior
User

[2016-10-24 11:30] grundleborg commented on #4272
Seeing both of these issues too on Android 7.0 / Nexus 5X. Only installed the app for the first time, last week, and have had both issues right from the start.

[2016-10-24 12:21] jasonblais commented on #4302
This issue no longer seems to reproduce, tested and confirmed by two people.

Closing the issue,

[2016-10-24 12:21] #4302 closed

[2016-10-24 12:32] faiyaz26 commented on #4186
@jasonblais  Hey, It took quite some time to understand the codebase, initially I thought it won't be that hard. But now It seems that it is quite complex. So far, I have understood that mattermost converts any image type except svg to jpg. Currently if I am not wrong, there are no good golang library for doing that. What should I do now ?

[2016-10-24 13:45] kaakaa commented on #4249
Hi @jasonblais!
Thank you for notifying release schedules.

* * *

I work this issue now.
Now, most slash commands work in RHS.

But `/shrug` and `/echo` commands don't reply to the root and parent post.
Is it better for `/shrug` and `/echo` to reply to root/parent post?

I think that `/echo` is difficult for me...([platform/api/command_echo.go](https://github.com/mattermost/platform/blob/master/a

[2016-10-24 13:59] datkinson opened #4311 "Red Circle in the middle of the screen"
#### Summary
There is a red circle in the middle of the screen which stays on top of all content

#### Steps to reproduce
- Install the app
- Open the app

#### Expected behavior
That there are no icons hovering over the top of content.

#### Observed behavior
There are no error messages but sometimes the circle is a solid ring and over times it has a secion missing.

When the section is missing i

[2016-10-24 21:51] jasonblais commented on #4249
Thanks @kaakaa, great work! I take it works for custom slash commands as well?

What happens then when a user posts `/echo` and `/shrug` in the RHS?

[2016-10-24 22:03] jasonblais commented on #4311
Thanks @datkinson for the report, that's interesting..

Which Mattermost Server version and Android App version do you have?

Has anyone else in the community seeing something similar?

[2016-10-24 22:05] jasonblais commented on #4156
Many thanks @karanjthakkar, much appreciated!

If you need any help setting up your environment, feel free to post a question in our Troubleshooting forums](https://forum.mattermost.org/c/general/trouble-shoot) or join our [Developers community channel](https://pre-release.mattermost.com/core/channels/developers) where you can ask from other community members and the Mattermost core team.

[2016-10-24 22:06] jasonblais commented on #4186
Good question @faiyaz26 -- wondering if you'd like to join our [Developers community channel](https://pre-release.mattermost.com/core/channels/developers) where you can ask from other community members and the Mattermost core team?

They would be able to guide you better than myself,

Highly appreciate your interest for working on the improvement!

[2016-10-25 02:05] bolecki commented on #4036
Thank you for the update, I should be able to submit the pull request tomorrow!

[2016-10-25 02:53] jasonblais opened #4319 "[Help Wanted] In channel switcher [CTRL+K] search input only matches from the start of channel names"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.
---

**Details**

This improvement adds support so that channel switcher autocomplete search results work for any portion of the channel

[2016-10-25 04:15] jasonblais commented on #4146
Closing per @4149, thanks @S4KH  for the pull request!

[2016-10-25 04:15] #4146 closed

[2016-10-25 05:34] digitaltoad commented on #4304
I wouldn't mind tackling this if that is ok.

[2016-10-25 05:44] digitaltoad commented on #4303
I'll take this on if that is alright.

[2016-10-25 05:44] digitaltoad commented on #4301
I'll take this on if that is alright.

[2016-10-25 06:58] rompic opened #4321 "Entering existing mail but wrong pw - auth response"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:
#### Summary

Issue in one concise sentence

Entering a correct mail but wrong pw provides "your

[2016-10-25 07:44] lindy65 commented on #4301
@jasonblais @digitaltoad

I've just retested this issue and am not able to reproduce so am closing this thread.

Thank you for your offer to help @digitaltoad !  We hope you can find something else you'd like to work on :)

[2016-10-25 08:35] kaakaa commented on #4249
![mattermost](https://cloud.githubusercontent.com/assets/1453749/19677605/0204c568-9ad5-11e6-8cae-4b921513fb8a.jpg)
When posting `/shrug` in RHS, the result is just a post, isn't a reply for root post,
Which is acceptable to be a reply or just a post?

And, custom slash command looks like working properly in RHS, but is same as `shrug` about replying.

[2016-10-25 09:23] jokeyrhyme commented on #4319
I'm looking at the pre-release site: https://pre-release.mattermost.com/core/channels/town-square

In the left sidebar, under CHANNELS, I click "More..."

In the "Search channels" , I try a few inputs, like "uth", "nt", and "b".

It would seem that the items in this channel list already are sorted as desired in this Issue.

Am I looking at the correct "channel switcher autocomplete search results"

[2016-10-25 11:33] jasonblais commented on #4304
Awesome, thanks @digitaltoad!

[2016-10-25 11:34] jasonblais commented on #4301
It is still reproducing for me on Windows 10, Chrome.. I'll check if anyone else is able to reproduce it

[2016-10-25 11:35] jasonblais commented on #4303
You're awesome @digitaltoad, thank you!

[2016-10-25 11:38] jasonblais commented on #4319
Sorry for the confusion @jokeyrhyme, the channel switcher appears after you press `CTRL+K` on the keyboard.

It's a keyboard shortcut that allows you to quickly switch channels.

Issue updated to clarify that point

[2016-10-25 12:16] jasonblais commented on #4249
Hmm, I see -- if I were to use any of the three slash commands (`/shrug`, `/echo` or a custom one), I would expect it to reply to the root post and be part of the comment thread.

[2016-10-25 12:44] Rudloff opened #4322 "[Help Wanted] URL links containing a "%" sign do not parse as clickable links"
#### Summary
[This URL](http://www.associationmodeemploi.fr/PAR_TPL_IDENTIFIANT/25062/TPL_CODE/TPL_REVUE_ART_FICHE/PAG_TITLE/Pourquoi+les+%E9tudiants+s%27engagent+dans+les+associations/2605-fiche-article.htm) is not identified as an URL.

#### Steps to reproduce
Post a message containing this link: http://www.associationmodeemploi.fr/PAR_TPL_IDENTIFIANT/25062/TPL_CODE/TPL_REVUE_ART_FICHE/PAG_TITLE

[2016-10-25 12:59] lfbrock commented on #4301
@jasonblais it looks like it might only be reproducing for channel purpose and not header?

[2016-10-25 13:06] NDKYHhJbsbFCmkAS2sHq9BVwTdrEK2e9 opened #4323 "Scrolling bug on mobile after SuggestionList gets closed"
Steps to reproduce:
1.- Open the emoji list and send an emoji https://s.put.re/3PDGmWD.png
2.- After the emoji list closes the modal-open class doesn't get removed: https://s.put.re/zCTdMmK.png
3.- Since the class doesn't get removed scrolling doesn't work anymore on the message list.

https://github.com/mattermost/platform/blob/master/webapp/components/suggestion/suggestion_box.jsx#L63

Most like

[2016-10-25 13:52] Keensit commented on #4272
Hi,
I have the same problem on two other device with android 6.x.x:
-OnePlus A001 (one)
-Huawei P8 light

The issue seems the same: push notification not working with TPNS and a little red circle on the center of the screen. Tried with an old samsung with Android 5.0.1: the notification started working (only inside of the app, but this is another problem) and I understand that the red circle is th

[2016-10-25 14:00] itsmartin opened #4324 "Missing messages when scrolling back through history"
#### Summary

When you scroll to the top of visible messages, and click "Load more messages", a significant number of messages are missing between those originally displayed and the newly-loaded ones.
#### Steps to reproduce

In an active chat, scroll to the top and click "Load more messages"
#### Expected behavior

The stream of messages would be continuous.
#### Observed behavior

~3 hours worth

[2016-10-25 14:36] mmarif4u commented on #4272
@Keensit yes thats gif/png loader but annoying.

[2016-10-25 14:54] jasonblais commented on #4301
Updated ticket, just realized it too. Thanks @lfbrock

@digitaltoad If you're still interested in submitting a fix, this is up for grabs

[2016-10-25 14:55] Keensit commented on #4272
@mmarif4u
![2016-10-25_16-51-55](https://cloud.githubusercontent.com/assets/23052598/19691227/d15dec6a-9ad3-11e6-910f-c117be16b3da.png)

Yes, especially when you don't understand what is it...

[2016-10-25 14:55] digitaltoad commented on #4301
Sure I'll take a look. Thank you!

[2016-10-25 15:12] jasonblais commented on #4322
Thanks @Rudloff for the report, looks like it's caused by the `%` signs. Ticket created here: https://mattermost.atlassian.net/browse/PLT-4490

Would you be interested in submitting a fix?

I changed the GitHub issue to 'Help Wanted' and added the Hacktoberfest label if you're interested [participating in the event](hacktoberfest.digitalocean.com).

[2016-10-25 15:12] joepsz commented on #4190
I have experience with Redux and React. Would like to invest some spare time in helping out with the Native app.

[2016-10-25 18:12] richa-coder commented on #4247
Ya sure,I would love to join the channel.
When logging in,i am getting this error;

The invite link was invalid. Please speak with your Administrator to
receive an invitation.

[image: --]

Richa Singh
[image: https://]about.me/richa-singh
<https://about.me/richa-singh?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On 20 October 2016 at 21:29, Jason Blais <

[2016-10-25 18:30] jasonblais commented on #4247
Thanks @richa-coder for your interest!

We fixed this error over the weekend, you should be able to join the site again.

[2016-10-25 18:52] S4KH commented on #4142
I think I am out on this issue. But other doable issues based on my skill
are welcome.

On Fri, Oct 21, 2016 at 5:06 AM, Jason Blais <notifications@github.com>
wrote:

--
Regards,
Syerikjan Khusayan

[2016-10-25 22:44] kaefert opened #4332 "Android app cannot connect (using browser works)"
#### Summary

I cannot connect to a mattermost server running on a non-public ip-address on a non-standard port (8443) using the android app. Entering the same URL on the same android device in a browser it works fine.
#### Steps to reproduce

I've installed gitlab-ce 8.13.0 including mattermost on a centos6 system by using the repository from https://about.gitlab.com/downloads/#centos6
Since this

[2016-10-25 22:52] yangchen1 opened #4333 "[Help Wanted] Matterbot"
We're looking for anyone interested in helping contribute this improvement.
If you're interested please comment here and come join our "Contributors" community channel on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

Whenever a visible setting of the channel is changed (by a team or system admin), an automated System Message shou

[2016-10-25 22:54] jack-song commented on #4333
We have a team willing to take this on

[2016-10-25 22:55] yangchen1 commented on #4333
Wow that was fast @jack-song, awesome!

[2016-10-25 22:57] kaakaa commented on #4249
okay, I'll try it, and make a new PR!
Thank you @jasonblais !

[2016-10-26 01:27] char101 opened #4334 "Crash when sending a direct message to a user that is not in any team"
#### Summary

Crash when sending a direct message to a user that is not in any team
#### Steps to reproduce

Send a direct message to a user that is not a member of any team.

The failing code: https://github.com/mattermost/platform/blob/master/api/post.go#L782

Likely the same issue as #4163
#### Expected behavior

Message should be sent
#### Observed behavior

Mattermost crash

[code]
#### Possi

[2016-10-26 09:25] char101 opened #4337 "Attachment in direct message does not work when viewed from different team"
#### Summary
Attachment in direct message only works when both the sender and the receiver log on to the same team.

#### Steps to reproduce
Create two users that belongs to different teams. Send a direct message containing an attachment from one user to the other.

#### Expected behavior
Attachment can be downloaded.

#### Observed behavior
File not found error.

#### Possible fixes

[2016-10-26 10:40] Rudloff commented on #4322
Yes, I will try to submit a fix for this.

[2016-10-26 11:21] killua-eu commented on #4078
@esethna , sorry for the late reply, yes my current Cyanogen version has android 6.0.1

[2016-10-26 12:21] #4182 closed

[2016-10-26 12:30] jasonblais commented on #4337
Thanks @char101 for the report! This issue should be fixed with https://github.com/mattermost/platform/pull/4134 and included in our next release November 16

[2016-10-26 12:30] #4337 closed

[2016-10-26 12:37] digitaltoad commented on #4319
I have a naive fix for this that is literally just replacing the `startsWith` with a `match` but I'm wondering that since names are queried from the server, for consistencies sake should matching be done in one place or the other?

[2016-10-26 13:01] mattermod commented on #4332
Thanks @kaefert for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your issu

[2016-10-26 13:16] jasonblais commented on #4319
Thanks @digitaltoad!

Since the channel switcher is used to query names and handles (URLs) of public/private channels *you currently belong to*, doing it on the client works and using `match` should be fine.

(Of course it's also used for direct message channels, but that should also work on the client)

[2016-10-26 13:18] jasonblais commented on #4334
Thanks @char101!

Would you be interested in submitting a fix?

I just tried and for me it didn't crash, but it was failing to send the direct message with the following JavaScript error

![image](https://cloud.githubusercontent.com/assets/13119842/19727372/203a8922-9b5d-11e6-8c1c-f051dc9bce7c.png)

[2016-10-26 13:19] digitaltoad commented on #4319
That is what I'm referring to. DM is queried/matched on the server where channel is matched on the client. If my naive fix is ok, I'll submit a PR.

[2016-10-26 14:44] lfbrock commented on #4283
Closing this issue as a duplicate of: https://github.com/mattermost/platform/issues/4305

[2016-10-26 14:44] #4283 closed

[2016-10-26 14:50] lfbrock commented on #4220
Hi @hko-gh - we have a ticket here to fix the login so it will work if you enter the username/email in upper case or lower case letters.
https://mattermost.atlassian.net/browse/PLT-4313

I think automatically lowercasing the username on the sign up page was a [design decision](https://mattermost.atlassian.net/browse/PLT-41) based on the principle that we want to be "forgiving", but fixing the log

[2016-10-26 14:51] #4191 closed

[2016-10-26 14:55] #4095 closed

[2016-10-26 15:23] jasonblais commented on #4032
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If the issue persists, reopen this issue with the relevant information.

[2016-10-26 15:23] #4032 closed

[2016-10-26 16:36] #4322 closed

[2016-10-26 18:24] zguithues opened #4341 "trying to create simple slash command - AnonoChat"
I'm trying to create a slash command that will create a conference room with AnonoChat.com

Here are the API instructions.
https://www.anonochat.com/#api

It's just a simple GET request sent to a URL, and the response includes the number, pin, & expiration.

however, it seems that the slash commands in mattermost are more complicated, and cannot handle sending a get request without including a tok

[2016-10-26 18:28] digitaltoad commented on #4319
There doesn't seem to be a JIRA ticket for this. Is a PR still ok?

[2016-10-26 18:34] jasonblais commented on #4319
Sorry for the delay in response, was talking to devs to confirm

What we can accept for now is that the channel switcher autocomplete search works for
 - any part of channel name/handle for public and private channels
 - only start of name for DMs (that is, no change)

Our devs had a specific way to extend the code to allow modify the search function for DMs, so we can leave that for now.

Here's

[2016-10-26 19:35] klandaika opened #4342 "Message Box unreachable when zoomed out and resized"
#### Summary
After setting zoom to < 100%, if application window is resized the "Write a message..." box  (and other controls) go off screen and cannot be reached by scrolling. To get them back must reset to "Actual Size" and then resize the window again.

Observed in *Windows* application
In *Chrome* browser same issue could not be reproduced.

#### Steps to reproduce
Version 3.4.1

1. Join any c

[2016-10-26 20:31] lfbrock opened #4343 "[Help Wanted] Add focus to center text area when creating a new public/private channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details**

This improvement is to put the cursor focus in the center text area when creating a new public/private channel.

[2016-10-26 20:43] #4305 closed

[2016-10-26 21:10] jasonblais commented on #4342
Thanks @klandaika for the report!

This is indeed a known issue on the desktop app -- we have a partial fix scheduled for the next release, but the proper fix is tracked on [our desktop repo](https://github.com/mattermost/desktop/issues/334). Will close this issue report and we can track it there.

[2016-10-26 21:10] #4342 closed

[2016-10-27 00:50] hackfanatic commented on #4171
Hi @jasonblais , Sorry I missed the notifications to these messages.

Updated to latest gitlab omnibus package,
- Logged out in both mattermost and gitlab instances
- Logged into gitlab, changed username
- Logged into mattermost and still have my original username from the initial setup moment.

Though think the mattermost version in the omnibus package though isn't the latest one so I'll revisit

[2016-10-27 05:31] goelrohan6 commented on #4343
@lfbrock can you tell me which file should I navigate to, to make the changes ?

[2016-10-27 07:41] char101 commented on #4334
Thanks for the info. I forget to mention that I use the 3.4.0 version. Maybe it doesn't crash in the master branch.

I could submit a pull request but reading the contribution guide I feel it's a bit too complex for a 3 lines fix ;)

https://github.com/mattermost/platform/compare/master...char101:bugfix/notification-no-team

[2016-10-27 07:53] char101 commented on #4337
Is it the same problem with #4134?

IMO the problem is that attachments are organized by team while DM has not specific team (instead it looks at the currently selected team). Therefore if the team where the attachment was stored is different with the team where the attachment is viewed, a path mismatch will occur.

I think the solution is to append the team id in the `filenames` array.

[2016-10-27 08:37] gabx opened #4346 "make package fails"
#### Summary
Running `$ make package` fails

#### Environment

    Linux 4.7.6-1-hortensia
    argv "/usr/bin/node" "/developement/node_modules/bin/npm" "run" "build"
    node v6.8.0
    npm  v3.10.8
    code ELIFECYCLE
    mattermost-webapp@0.0.1 build: NODE_ENV=production webpack

#### Steps to reproduce

    $ mkdir ~/go
    $ export GOPATH=$HOME/go
    $ export PATH=$PATH:$GOPATH/bin
    $ uli

[2016-10-27 08:51] kaefert commented on #4332
I've tried creating an account on this forum, but the confirmation link in the mail I got does not work.
Error: "['BAD CSRF']"

[2016-10-27 08:57] kdeyko opened #4347 "MM app for Mac auth trough GitLab with Google auth"
#### Summary
Impossible to sign in to Mattermost through GitLab OAuth with Google auth

#### Steps to reproduce
1) Open latest version of Mattermost for Mac app (3.4.1)
2) Fill the fields with your team settings
3) Click "Sing in with Gitlab" button (it should be set up before, in my case gitlab is on another server)
4) On Gitlab login page click "Sing in with Google" button (it should be set up b

[2016-10-27 09:08] gabx commented on #4346
I managed to build successfully  with removing `default` from the declaration `export default class ...` from 3 files (the ones which make the build fail):

- webapp/components/error_bar.jsx
- webapp/components/edit_channel_purpose_modal.jsx
- webapp/components/rename_channel_modal.jsx

Now I have no idea if this fix did break something else, thus the reason why I don't write a PR.

[2016-10-27 09:21] it33 commented on #4347
Per documentation, "double SSO" (chaining GitLab SSO to another SSO provider) [is not supported](https://docs.mattermost.com/deployment/sso-gitlab.html#notes).

It may work in some cases, but it's beyond the scope of the project to set up the infrastructure to test and validate double SSO on all the different clients.

You're welcome to fork the Android app to adjust it for your specific needs, we

[2016-10-27 09:21] #4347 closed

[2016-10-27 11:59] jasonblais commented on #4343
Thanks for your interest @goelrohan6!

@digitaltoad already submitted a [fix for the issue](https://github.com/mattermost/platform/pull/4344), but please feel free to take a look at our other [open 'Help Wanted' GitHub issues](https://github.com/mattermost/platform/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20Help%20Wanted).

[2016-10-27 12:40] rwillmer opened #4349 "API create post ignores create_at parameter"
#### Summary

I create a post using the API which includes a 'create_at' parameter for an old date (I'm importing some old data into a channel and want to keep the original posting dates). This date is ignored and the post is created with the current time.
#### Steps to reproduce

Version: 3.4.0

$ curl --request POST \
  --url <HOST>/api/v3/teams/<team_id>/channels/<channel_id>/posts/create \
  -

[2016-10-27 12:56] jasonblais commented on #4337
#4134 fixed [this Jira issue](https://mattermost.atlassian.net/browse/PLT-3105) which sounded like it would be the same as what you experienced.

Let me know if I misunderstood your report,

[2016-10-27 12:59] jasonblais commented on #4334
We try to be comprehensive, as we've found this helps smooth out the process in the long run :)

That being said, we do say towards the beginning, `It’s okay to submit PRs to fix obvious bugs or add small improvements,` so feel free to submit your PR, we'd love to review and take it if it looks good.

You can check a list of steps [to submit a PR here](https://docs.mattermost.com/developer/contrib

[2016-10-27 13:12] lfbrock commented on #4190
Hi @joepsz - thanks for your interest! We're still working on getting the basic framework done,
we'll make another announcement when it's ready for community contributions.

The initial work is being done in this repo if you want to check it out: https://github.com/mattermost/mattermost-mobile

[2016-10-27 13:46] jasonblais commented on #4073
Thanks @loic-fejoz and sorry for the late response.

We're planning to document API changes in our release notes, [you can see an example here](https://docs.mattermost.com/administration/changelog.html#api-changes-from-v3-3-to-v3-4).

We also have a [work in progress documentation of the Mattermost APIs](https://api.mattermost.com) -- all help is appreciated if you'd like to make any updates!

[2016-10-27 13:46] #4073 closed

[2016-10-27 13:49] jasonblais commented on #4251
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2016-10-27 13:49] #4251 closed

[2016-10-27 13:50] mattermod commented on #4287
Thanks @dale-c-anderson, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back

[2016-10-27 15:00] jasonblais commented on #4307
Thanks @akhmerov! Ticket created here: https://mattermost.atlassian.net/browse/PLT-4538

Would anyone in the community be interested in submitting a fix?

[2016-10-27 15:25] Twoflower2 commented on #4251
@esethna no I do not have a list, I now and then find some, but where is the list stored in the MM code that are highlighted? Where do you get this from?

[2016-10-27 15:33] lfbrock commented on #4251
@Twoflower2 - I think we use this library for syntax highlighting: https://github.com/isagalaev/highlight.js

It might be easiest to report the issue directly to their GitHub repo

[2016-10-27 17:29] klandaika commented on #4342
@jasonblais, sorry, I didn't realize there is separate repo for desktop apps. Thanks.

[2016-10-27 18:33] jasonblais opened #4354 "[Help Wanted] Bold in: and from: in search queries so they look distinct as operators"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-838))

Currently it's difficult to distinguish the `in:` an

[2016-10-27 19:02] jasonblais opened #4355 "[Help Wanted] Remove form assistant on mobile"
We're looking into hiding the "Done" and "Prev/next buttons" for messages, as shown below:

![image](https://cloud.githubusercontent.com/assets/13119842/19781136/ffd38900-9c55-11e6-9bc3-67312a95bfac.png)

While the long-term fix is to implement this change on native apps (see #4190), we've been investigating potential ways to implement this on the existing mobile apps. So far our attempts have bee

[2016-10-27 19:15] jasonblais opened #4356 "[Help Wanted] Display a message when post is over 4000 characters"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4318))

**Repro**:
Copy paste a text that's over 4000 chara

[2016-10-27 19:15] jasonblais opened #4357 "[Help Wanted] Return to search results list without reloading the right hand sidebar and losing the scroll location"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-96))

Sample scenario 1)

**Repro**:
1. Search for a term (

[2016-10-27 19:28] coreyhulen commented on #4346
Can you make sure you have the latest version of the repo?  The issues you described are already fixed on master.  For example https://github.com/mattermost/platform/blob/master/webapp/components/rename_channel_modal.jsx#L47 doesn't have `export default class RenameChannelModal extends React.Component`

[2016-10-27 21:15] nelfer opened #4359 "[Help Wanted] Slash command: goto_location not working as expected"
#### Summary

Element `goto_location` does not open external URLs (as described in documentation)
#### Steps to reproduce

In order to reproduce, you will need a server/service that returns the expected mattermost JSON payload. Then create a slash command that uses that endpoint. In this payload if goto_location contains an external URL, the user only gets redirected to the team selection page (in

[2016-10-27 22:53] ZJvandeWeg commented on #4191
@lfbrock Could you tell me why this is closed? The workaround is far from ideal and leaves a plaintext for admin access on the Mattermost instance, which should IMO be avoided?

What is your take on this?

[2016-10-27 23:08] lfbrock commented on #4191
Hi @ZJvandeWeg - I wasn't in the meeting, but my understanding was that this was discussed in the developers meeting last week and it was decided it was a security issue?

If the work around isn't sufficient, it's probably easiest to discuss it in the developers channel what other options are and we can make a new ticket based on the results of the discussion,

[2016-10-28 00:58] jasonblais opened #4360 "[Help Wanted] Add a blue bar when email has been verified after changing your email address"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-2333))

After changing your email and clicking the "verify"

[2016-10-28 00:58] jasonblais opened #4361 "[Help Wanted] Update introduction message at top of channel/private groups"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-599))

Update pre-amble at top of channel/private groups

F

[2016-10-28 00:58] jasonblais opened #4362 "[Help Wanted] Clicking on email verification does not automatically fill in your email."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-3535))

Repro:
1. Sign up to a Mattermost site, and receive

[2016-10-28 00:59] jasonblais opened #4363 "[Help Wanted] Add an active state for recent mentions and flagged posts icons"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4374))

The "@" and "flag" icons next to the search bar do

[2016-10-28 00:59] jasonblais opened #4364 "[Help Wanted] Cannot use the System Console when a server has no teams"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4372))

On a clean system before creating a team, the Syste

[2016-10-28 00:59] jasonblais opened #4365 "[Help Wanted] Update browser tab title when switching to Integrations or Custom Emoji pages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.
---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4414))

[Help Wanted] Update browser tab title when switchin

[2016-10-28 05:42] it33 opened #4366 "[Help Wanted] Change default help link to https://docs.mattermost.com/guides/user.html"
Help link is out-of-date after docs change--should point to User'a Guide, not main menu

[2016-10-28 07:08] gabx commented on #4346
I worked with 3.4.0, and this version has the issue.
Master does not have this issue, right. But as I am building a .rpm package for my distro (Fedora), best would be to work with versions, and in my case the last one is 3.4.0.
Maybe a 3.4.1 with this issue corrected?

I close this issue as it no longer exists.

[2016-10-28 07:08] #4346 closed

[2016-10-28 11:40] sascha-frinken opened #4368 "Missing send button on mobile devices prevents sending message"
#### Summary

Send button is mising in app and browser and enter key does not send the message on a mobile device.
#### Steps to reproduce
1. Open app or browser with a mobile device that has a width > 768px
2. Type a message
3. Try to send message by hitting the enter key
4. Mesage will not be send as the enter key only creates new lines
5. No option to send the message with the green paper plane

[2016-10-28 13:15] danjw commented on #4311
Yes.s7 edge the same problem with a remarkable lag on key input

[2016-10-28 13:32] jasonblais commented on #4319
Thanks again for your interest!

Let me know if you have any other questions here @digitaltoad.

[2016-10-29 00:07] lalmeras opened #4376 "Broken login with gitlab+cas and android app"
#### Summary

During login phase on android app (master branch) on a gitlab+cas mattermost instance, login fails because gitlab and cas validation triggers third-party browser (url identified as external) in place of the app browser view.
#### Steps to reproduce

Connect with android app on a gitlab+cas mattermost instance. I don't test further, but this bug should also trigger on a gitlab matterm

[2016-10-29 00:18] lalmeras commented on #4376
Added PR : https://github.com/mattermost/android/pull/41

[2016-10-30 02:51] jasonblais commented on #4307
Closing for now to track in Jira -- if anyone is interested helping submit a fix, please let us know or comment on the [corresponding Jira ticket](https://mattermost.atlassian.net/browse/PLT-4334).

Thanks again @akhmerov for the report!

[2016-10-30 02:51] #4307 closed

[2016-10-30 03:09] jasonblais commented on #4323
Thanks @NDKYHhJbsbFCmkAS2sHq9BVwTdrEK2e9 for the report!

Your description is very useful and we'll look investigate a fix for Mattermost 3.5 with https://mattermost.atlassian.net/browse/PLT-4459

Much appreciated!

[2016-10-30 03:09] #4323 closed

[2016-10-30 03:16] jasonblais commented on #4332
Sorry for the late reply -- I just tried and it was working okay..can you try re-sending the confirmation email to your account?

If the error continues, let us know

[2016-10-30 03:18] mattermod commented on #4341
Thanks @zguithues for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your is

[2016-10-30 03:36] jasonblais commented on #4274
Thanks @XANi! If you have any further questions, I encourage you to post in https://forum.mattermost.org, which is more active among our community

[2016-10-30 03:36] #4274 closed

[2016-10-30 03:39] jasonblais commented on #4324
Thanks for the report @itsmartin! And very sorry for the delay in response,

Just a couple questions to help investigate the problem:
1) Which browsers (or desktop apps) has this reproduced?
2) Which Mattermost server version are you running?
3) Does the problem reproduce consistently? Is it on a particular channel?
4) Have you noticed it appearing more often after the computer has been on standby

[2016-10-30 03:44] jasonblais commented on #4311
Thanks for the reports, ticket created in Jira to track and fix the issue https://mattermost.atlassian.net/browse/PLT-4561

@danjw We're planning on building an open source framework for new official React Native mobile apps that should help with performance. You [can read more about it here](https://github.com/mattermost/platform/issues/4190), and if you're interested in contributing, consider jo

[2016-10-30 03:45] #4311 closed

[2016-10-30 04:11] jasonblais commented on #4254
Very sorry @syamgk, this GitHub issue slipped our sights.

Are you still having trouble retrieving data? If so, please help add any updates to the [original forum issue you posted](https://forum.mattermost.org/t/mattermost-fails-connecting-to-pgpool/2369) and I'll ping our community to help.

[2016-10-30 04:17] jasonblais commented on #4321
Thanks @rompic for the feedback!

Would you be interested sharing the feedback in our [UX Design Mattermost channel](https://pre-release.mattermost.com/core/channels/ux-design)?

This was a deliberate design decision, but feedback is always welcome. Posting in the UX Design channel gets you into more direct communication with the community and Mattermost UX team.

[2016-10-30 04:36] bolecki commented on #4366
Hi @it33!  Is this something we can do directly from the config file?  If so, I can submit a PR for this.  It looks like most of the links are currently redirects from about.mattermost.com.

[2016-10-30 05:05] it33 commented on #4366
Hi @bolecki, I totally forgot, we don't need a code change to do this. The [`config.json`](https://github.com/mattermost/platform/blob/master/config/config.json#L141) points to `https://about.mattermost.com/default-help/` and we set that up as a redirect so we can change the URL destination without code changes.

I've just updated the redirect and now it's pointing to the right place.

Thanks for

[2016-10-30 05:05] #4366 closed

[2016-10-30 05:25] digitaltoad commented on #4319
@jasonblais After taking a look at this further, I feel like anything that I do client side is going to be half baked due to how DM channels are looked up on the server side. Even the display of the channels for the autocomplete is confusing because the DM channels are being matched by `Username, FirstName, LastName, Nickname` where the other channels are being matched on the client by `DisplayNam

[2016-10-30 07:09] kaefert commented on #4332
Hello. I just tried again.

Using the [activation link I got 3 days ago](http://forum.mattermost.org/users/activate-account/1de78018c3250d64c8a92179383d372e)
I still get the same result as back then, I get a page with a button that reads "Click here to activate your account" and when I click it, I get a completely white page that reads "['BAD CSRF']" in the top left corner.

Trying to login with m

[2016-10-30 15:05] bolecki commented on #4365
Hey @jasonblais, I would like to work on this one!

[2016-10-30 18:14] AliaTabassumAS opened #4380 "."
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:
#### Summary

Issue in one concise sentence
#### Steps to reproduce

How can we reproduce the is

[2016-10-30 19:09] syamgk commented on #4254
thanks @jasonblais
yes, still facing this issue
currently we are running our mattermost with single PostgreSQL instance
And you can easily reproduce the issue as mentioned in previous post.

[2016-10-31 03:34] #4380 closed

[2016-10-31 03:42] jasonblais commented on #4349
Thanks for the report @rwillmer! I created a [Jira ticket for us to track it](https://mattermost.atlassian.net/browse/PLT-4574).

I'm going to check with our developers on Monday to confirm whether we're setting the `create_at` parameter to 0 for a reason. I'll get back to you here with the information.

If there isn't a reason to set `create_at` to 0, would you be interested in submitting a fix f

[2016-10-31 10:04] rwillmer commented on #4349
It's unlikely I'd be able to submit a fix anytime soon; I'm not a Go programmer (yet).

I did get as far as following the dev instructions for setting up a branch, but then hit a problem when I searched for instructions for how to debug a Go program, and came across all the posts saying this was really hard. So I do intend to learn how to program Go, but I'm not sure server-side code is a good pla

[2016-10-31 11:31] rwillmer commented on #4349
It turns out your test harness makes it quite easy to get started; testing a fix now.

[2016-10-31 12:07] jwilander commented on #4349
This is done on purpose because we do not want to trust the client. If we did trust the client on the `CreateAt` field then any one of your users to make posts appear before they were actually created, which will disrupt the correct history of posts and is a security flaw.

If you're trying to migrate data, I'd suggest doing it using a script to insert what you need into the database as we don't c

[2016-10-31 12:14] rwillmer commented on #4349
What is the purpose of the CreateAt field in the API call then?

I understand your point about security; but in this instance, I'm the SuperUser, so shouldn't my use of the client be trusted?

[2016-10-31 12:23] jwilander commented on #4349
The API call just accepts a post object to create but you don't need to specify every field on the post, just the ones you care about.

I would be OK with allowing the system admin to specify the `CreateAt` field, can't see a reason not to. @jasonblais would you be able to modify the ticket you created above to be an improvement and to only allow the setting of the `CreateAt` field on posts if the

[2016-10-31 12:28] jasonblais commented on #4349
@jwilander Ticket updated

[2016-10-31 12:29] rwillmer commented on #4349
OK, I'll rework my PR. Thanks.

[2016-10-31 12:31] rwillmer commented on #4349
If a non-system-admin user includes this CreateAt field, then which behaviour would you prefer?

1. silently ignore it, as now
2. raise an error, to let them know they don't have the right credentials to make that call

[2016-10-31 14:14] jasonblais commented on #4304
Closed per #4336, thanks @digitaltoad!

[2016-10-31 14:14] #4304 closed

[2016-10-31 14:14] jasonblais commented on #4365
Closed via #4379, thanks @bolecki!

[2016-10-31 14:14] #4365 closed

[2016-10-31 14:30] jasonblais commented on #4332
We activated your account from the administration panel, can you try if you can log in now?

[2016-10-31 14:51] ulfklose opened #4383 "Faulty and inconsistent translations in German translation"
#### Summary
I found some faulty and inconsistent translations in the German translation.

#### Steps to reproduce
N/A

#### Expected behavior
N/A

#### Observed behavior
N/A

#### Possible fixes
I corrected the faulty translations and corrected them in a fork I created.

[2016-10-31 15:21] kaefert commented on #4332
no, I get an "Unknown error" when clicking the "Log in" button.

[2016-10-31 15:34] jasonblais commented on #4332
Awesome, great to hear @kaefert! Glad it works :)

[2016-10-31 15:42] jasonblais commented on #4383
Thanks @ulfklose for the updates!

Our translations are managed in the [Mattermost Translation Server](http://translate.mattermost.com/de/mattermost/) from which changes are submitted to the `master` branch each week.

This means that any of your changes here will unfortunately be overwritten by the next pull request pulled from the Translation Server.

Could we have your help submitting your upda

[2016-10-31 15:51] jwilander commented on #4349
Let's just silently ignore it like we're doing now

[2016-10-31 15:58] jasonblais commented on #4332
Closing this issue, we'll follow the thread here instead: https://forum.mattermost.org/t/android-app-connect-to-mattermost-team-link/1417/25?u=jasonblais

Thanks again @kaefert!

[2016-10-31 15:58] #4332 closed

[2016-10-31 16:20] kaefert commented on #4332
just for reference, I have now described my problem and asked for help in the forum in this post which seems to be already about the same problem:
http://forum.mattermost.org/t/android-app-connect-to-mattermost-team-link/1417/25

[2016-10-31 17:27] it33 opened #4386 "[Help Wanted] Enable iCloud file uploads from iOS app"
Using mobile web experience in Safari on iOS allows you to upload iCloud files, however the [Mattermost iOS application](https://github.com/mattermost/ios) does not support this (it does support DropBox, Photos and other apps, just not iCloud).

This ticket is to figure out why iCloud isn't supported in the iOS app and submit a patch to add support.

[Link to community request for this](http://for

[2016-10-31 18:19] jasonblais commented on #4359
Thanks @nelfer for the report!

[Jira ticket created here](https://mattermost.atlassian.net/browse/PLT-4585), would you be interested in submitting a fix?

[2016-10-31 19:02] jasonblais commented on #4368
We just tested on Sony Xperia Z3 and it seems to be working fine.

Which device(s) did this reproduce for you?

Has anyone else in the community noticed this?

[2016-10-31 19:22] sascha-frinken commented on #4368
I am on a Google Pixel C android tablet.
Does "working fine" mean you see the send button or does it mean you can send a message by hitting the enter key?
Once again the main problem is that at least on my android devices a message can not be send without pushing the green send button. The responsive design hides the button whe the screen is wider than 768px, no matter if you are on a mobile devic

[2016-10-31 21:17] jasonblais commented on #4368
Sorry for being ambiguous --- by "working fine" I meant that the green paper plane was visible on the Sony Xperia Z3 and therefore sending messages has been successful.

That being said, I just realized the screen width isn't >768px and hence doesn't satisfy the issue criteria you gave previously.

I've created a [Jira ticket for us to track](https://mattermost.atlassian.net/browse/PLT-4590), woul

[2016-10-31 21:35] jasonblais commented on #4188
Hey @andela-rsadiq, just checking how you're doing here -- let us know if there's any tips we can provide?

[2016-10-31 21:37] jasonblais commented on #4235
Hey @iraquitan , just checking how you're doing here -- let us know if there's any tips we can provide?

[2016-10-31 21:37] jasonblais commented on #4257
Hey @shahbaz17 , just checking how you're doing - let us know if there's any tips we can provide?

[2016-10-31 21:38] jasonblais commented on #4156
Hey @karanjthakkar , just checking how you're doing - let us know if we can help with the developer machine setup, would be happy to provide some tips to help you.

[2016-10-31 21:39] jasonblais commented on #4319
Thanks @digitaltoad, that makes a lot of sense. Thank you for taking it into consideration.

I've assigned this ticket to one of our devs, so closing the Help Wanted issue.

Thanks once more for your help here and for submitting #4336 and #4344 PRs.

Also, let us know if you need any tips to guide you with #4301 or #4303.

[2016-10-31 21:39] #4319 closed

[2016-10-31 22:31] it33 commented on #4254
Hi @syamgk,

Mattermost Team Edition is intended for self-hosted team communication, it's not intended to be used at a scale where you'd need a database cluster. To officially support such a configuration would be too much of a tax on the open source community to setup such an environment and to test, document and support it properly, even if a change was submitted.

There's a commercial extension

[2016-10-31 22:35] Maverick1872 opened #4393 "Enter key does not send messages"
#### Summary
Enter does not send messages when window is snapped left or right in Windows. Instead of sending the message it adds a new line in the text box.

#### Steps to reproduce
Version 3.3.0
Open mattermost web app
Snap window to right or left of monitor
Type message
Hit Enter

#### Expected behavior
Expected enter to send message

#### Observed behavior
This seems to only be happening when

[2016-10-31 23:28] jwilander opened #4395 "[Help Wanted] API for creating direct message channels returns empty channel for existing channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-10-31 23:37] jwilander opened #4396 "[Help Wanted] Move instances of Client.updateUser() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-10-31 23:45] jwilander opened #4397 "[Help Wanted] Move instances of Client.updateTeam() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-10-31 23:57] jwilander opened #4398 "[Help Wanted] System Admins can create channels with invalid team IDs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-01 02:18] digitaltoad commented on #4303
This is actually a bug in IE 10+ that is apparently on the radar. I can be fixed with a polyfill but I'm not sure you guys want to go that route or not.

[2016-11-01 02:26] digitaltoad commented on #4303
Guess I should give a reference for this: http://stackoverflow.com/questions/14445891/keep-placeholder-on-focus-in-ie10/16138480#16138480

[2016-11-01 07:01] ewirch opened #4401 "Windows desktop: switching next/previous channel using keyboard (ALT-UP / ALT-DWN) does not work sometimes"
After some uptime the desktop app stops responding to switching prev/next channel keyboard shortcuts. Other shortcuts (like CTRL-M or ALT-LEFT/RIGHT) do still work. Restarting the app fixes the problem. It's not possible to reproduce the problem reliably. It simply appears eventually.

[2016-11-01 12:27] madchap opened #4403 "Notifications still sounding and popping even when disabled"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
When setting "Send desktop notifications" to "Only for mentions" or "Never", I sti

[2016-11-01 13:41] jasonblais commented on #4401
Thanks @ewirch for the report!

Can you help answer the following questions about your environment, so we can better pinpoint the issue?
 1) Mattermost Server version (from the three dot menu > About Mattermost)
 2) Mattermost Desktop version (from menu bar at the top of the app > Help)
 3) Operating System (Windows / Mac / Linux)

And a couple additional questions:

 4) Have others on your team n

[2016-11-01 13:52] ewirch commented on #4401
1) Server version: 3.4.0
2) App version: 3.4.1
3) OS: Windows
4) I'm the only one using the shortcuts until now.
5) CTRL-R: fixes the problem

By testing for this comment, I discovered how to trigger the problem. Press ALT-SHIFT-UP/-DWN if there are no unread channels. Action will do noting, which is fine. But following ALT-UP/-DWN invocations will not do anything as well. No errors in developer t

[2016-11-01 13:56] lfbrock commented on #4393
Hi @Maverick1872,

I think this is fixed on master.

Can you sign up to https://pre-release.mattermost.com and use the Public Test Channel to confirm it's not an issue anymore?

[2016-11-01 13:59] #4220 closed

[2016-11-01 14:01] lfbrock commented on #4296
Closing this issue, we figured out how to reproduce it and are working on a fix for it.

[2016-11-01 14:01] #4296 closed

[2016-11-01 14:42] jasonblais commented on #4401
Thanks @ewirch! Very helpful, I see the problem now.

We in fact have fixed this issue on the `master` branch (PR here for reference: https://github.com/mattermost/platform/pull/4042).

The fix will be available on Mattermost 3.5, which will release on November 16th. The release candidates will be available for testing on November 4th.

[2016-11-01 16:15] #4401 closed

[2016-11-01 16:26] esethna commented on #4272
Hi all, for those not receiving notifications on Android 6.0.1, please also try the following steps:

1. Make sure the app is set as a prioritized app in priority mode in device settings.
2. Check to see if the app is being silenced by Doze mode in device settings. Check to see if any other volume-manipulating apps are running.

[2016-11-01 16:28] esethna commented on #4078
Hi @killua-eu , can you please also try the following steps:

1. Verify a sound has been selected for push notifications. Go to Settings → Sound & Notification → Default Notification Ringtone and select a sound.
2. Make sure the app is set as a prioritized app in priority mode in device settings.
3. Check to see if the app is being silenced by Doze mode in device settings. Check to see if any othe

[2016-11-01 16:59] rwillmer commented on #4395
I'll take a look at this.

[2016-11-01 18:47] krisak commented on #4078
I think the problem must be with our server setup. Again we dont even get the push notifications. (I am on same server as @killua-eu). Is there some public test instance running so i can test the client? I couldnt find any.

[2016-11-01 18:48] esethna commented on #4403
Hi @madchap, are you a part of multiple teams? We have a known issue where desktop notifications are disregarding the channel notification preference when using multiple teams. Jira issue [here](https://mattermost.atlassian.net/browse/PLT-4334)

[2016-11-01 19:06] Maverick1872 commented on #4393
Enter key is working to send messages on pre-release, but looks like they are not actually sending. Get a "Retry - Cancel" button to the right of each message. They will send after the nav collapses initially but much more narrow than that width it will not send.

Using my 1980x1200 monitor in portrait, snapped to either side the issue persists with them not sending.

Summary - Enter key now sends

[2016-11-01 19:11] jwilander commented on #4395
Awesome, thanks @rwillmer!

[2016-11-01 19:25] esethna commented on #4078
Feel free to join our pre-release contributors team and use the public test channel:

https://pre-release.mattermost.com/core/channels/public-test-channel

[2016-11-01 21:34] madchap commented on #4403
Indeed, I am.

Do you think this is also related to the fact that, when you receive a private message or a mention, you get that one notification for all teams (and when you read it in one, it doesn't mark it read for the others?)

Thank you.
Best.
fred

[2016-11-02 02:43] mmarif4u commented on #4272
Done that and still the same. This is tested on Android 5.1.x(reinstalled the app) and 6.0.x. No notifications for both. Android 5.1.x(samsung A7) issue started after reinstalling the app. It was fine before that.

[2016-11-02 03:21] jasonblais commented on #4303
Thanks @digitaltoad !

I'll forward your question to the core developers in our [Mattermost Developers channel](pre-release.mattermost.com/core/channels/developers) tomorrow.

[2016-11-02 03:28] foggy1 commented on #4398
I'll take a crack at this issue

[2016-11-02 13:54] jwilander commented on #4398
Awesome, much appreciated!

[2016-11-02 14:05] lfbrock commented on #4393
Okay thanks @Maverick1872 - we're trying to reproduce the new issue you're having with the retry-cancel but having trouble, usually that happens when there's a connection issue. How often were you seeing it happen on the smaller size?

[2016-11-02 14:56] it33 commented on #4254
@syamgk Please let us know if this makes sense?

[2016-11-02 14:59] jasonblais commented on #4303
Actually, given the complexity we would add relative to its benefit.

It's a relatively minor corner case, so let's not fix it with a polyfill.

I'll close the issue and add a note on the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-3857).

Thanks again @digitaltoad, much appreciated!

[2016-11-02 14:59] #4303 closed

[2016-11-02 15:00] digitaltoad commented on #4303
Not a problem. Glad I could help.

[2016-11-02 15:41] foggy1 commented on #4398
@jwilander The most relevant line appears to be line 55.,
`if len(channel.TeamId) == 0 {
		channel.TeamId = c.TeamId
	}`
First off, should this check be altered, or should there simply be another conditional before it?  I'm not sure what c's value is when this function is called via POST requests to /create.

Second, in the issue, it's said that we can just check for channel.TeamId's length to be

[2016-11-02 16:19] jwilander commented on #4398
Actually I was originally thinking you'd need to hit the database to see if the team exists but it makes more sense to just reject the request and error out if `c.TeamId != channel.TeamId && len(channel.TeamId) > 0` . `c.TeamId` will always be set in this context so you don't need to worry about it being blank.

The other option is to just quietly set `channel.TeamId = c.TeamId` but that could be

[2016-11-02 18:03] EvilBob01 commented on #2665
I was looking for a way to do this also. Thanks for working on it!

[2016-11-02 19:07] grundleborg opened #4432 "Regression: channel linking and channel auto-complete only work for channels you are currently in"
#### Summary
Channel linking and autocomplete seem to only include channels you are already a member of.

#### Steps to reproduce
Type ! (soon to be ~) to get the autocompleter to appear. Notice only channels you are a member of are shown.

Try writing ~channel-name into a message for a channel you aren't in. It won't be autolinked.

#### Expected behavior
All channels are found.

#### Observed be

[2016-11-02 21:23] lfbrock commented on #4224
Hi @fraziern - going to close this issue, please re-open if you'd like to discuss further?

[2016-11-02 21:23] #4224 closed

[2016-11-02 21:28] #4287 closed

[2016-11-02 21:38] lfbrock commented on #4432
Thanks @grundleborg - I made a ticket here: https://mattermost.atlassian.net/browse/PLT-4621

Is this something you would be able to take a look at?

[2016-11-03 12:41] fraziern commented on #4224
@lfbrock @jasonblais sorry for *my* late reply - see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

Point being, I'm happy to look at putting together a PR for this, since it sounds like there's some interest.

[2016-11-03 13:28] iraquitan commented on #4235
Hi @jasonblais, sorry the delay, I was kinda busy. Yes, you can provide me some tips. I think I misunderstood how this should work. I was trying to resize the image on the fly, so I was finding some difficulty in decoding the image bytes into the Image object itself so I can use in a function like in `generateThumbnailImage` function. But I think the correct way to do this is to first upload the i

[2016-11-03 13:59] hmhealey commented on #4224
Thanks for your interest in this, @fraziern. JS template literals won't work with [react-intl](https://github.com/yahoo/react-intl), but it supports its own templating.

If you replace the call to `Utils.localizeMessage` with a react-intl `FormattedMessage` ([example](https://github.com/mattermost/platform/blob/master/webapp/components/emoji/components/add_emoji.jsx#L79)), you can then specify a v

[2016-11-03 14:13] hmhealey commented on #4235
Hi @iraquitan,

I'd expect the file to be resized when it's saved to the server in [uploadEmojiImage](https://github.com/mattermost/platform/blob/master/api/emoji.go#L136). Once it's loaded into `buf`, you can copy it into a `[]byte` by calling `buf.Bytes()` and then do whatever you need with the raw bytes. In this case, you'll be getting the image dimensions from `image.DecodeConfig` and then if

[2016-11-03 15:10] grundleborg commented on #4432
@lfbrock I'm happy to take a look at it, but I have fairly limited time at the moment, so if it needs addressing urgently then it might be better to assign it to someone else.

[2016-11-03 15:59] lfbrock commented on #4432
Found someone else to take a look at it, I think we should be able to get it fixed for v3.5

[2016-11-03 16:49] fraziern commented on #4224
Nice, thanks for pointing me in the right direction @hmhealey, I'll take a look at this.

[2016-11-04 01:08] anchepiece opened #4444 "Incoming webhook json with float64 value panics"
#### Summary
Incoming webhook json with float64 value unexpectedly panics, returning empty error 500 to client.

#### Steps to reproduce
platform 3.4.0, master built from source
Start server, create an incoming webhook
Post a json message with attachments having numeric value.
[code]

#### Expected behavior
Expected numeric value to be simply interpreted as string.

#### Observed behavior
platform

[2016-11-04 18:16] jaguarondi commented on #2665
If there was a way to get a link displayed when uploading an image, it would be possible to insert it inline in markdown. That would also work with multiple images.

[2016-11-04 19:12] lfbrock commented on #4432
We looked into this + it's a larger issue to get it to work due to the performance changes that are made, so we've decided to wait until next release to fix it and will add a known issue in the changelog.

[2016-11-04 19:20] lfbrock opened #4461 "[Help Wanted] Support all unicode letters in hashtags"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

Currently hashtags only work for alphanumeric characters. This improvement is to make them work for all unicode characters, so the

[2016-11-04 19:56] it33 opened #4462 "[Help Wanted] Ability to set config.json params via CLI tool"
Currently Mattermost picks up its settings from config.json, but this problematic if you want to change some config.json params via automation without overwriting the entire file.

Example:

- [GitLab omnibus needs to set GitLab SSO and DB settings in config.json when it upgrades Mattermost](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1688), but in doing so it _overwrites_ any other change

[2016-11-04 20:56] jasonblais commented on #4462
@it33 Is this a duplicate of https://github.com/mattermost/platform/issues/4178?

[2016-11-04 21:09] it33 commented on #4462
Yes, closing as duplicate

[2016-11-04 21:10] #4462 closed

[2016-11-04 21:20] #4168 closed

[2016-11-04 22:01] MaddawgX9 opened #4467 "Custom Emojis Fail to Display"
#### Summary
Custom Emojis fail to display in chat until after visiting custom emoji list

#### Steps to reproduce
On the desktop application for Windows 10, start mattermost and navigate into a team.
in one of the chats, without going into the custom emoji list, post a custom emoji.

#### Expected behavior
The emoji should display in the chat window.

#### Observed behavior
Only the literal text

[2016-11-04 22:25] knalb commented on #4235
What about the ability to not scale down to system-default size as well? I'm all for uniformity of emoji size, but I like the idea of having some "huge" ones as well.

[2016-11-04 23:02] jasonblais commented on #4235
@knalb You can use existing markdown formatting to display larger images in messages.

Example:

![image](https://cloud.githubusercontent.com/assets/13119842/20025054/394468be-a2c1-11e6-9750-0ee159fbfb71.png)

[2016-11-04 23:04] jasonblais commented on #4467
Thanks @MaddawgX9

What versions of the Mattermost server are you using? [This issue should've been fixed with the 3.4 release](https://mattermost.atlassian.net/browse/PLT-3805).

[2016-11-04 23:45] knalb commented on #4235
I am aware of that markdown functionality.  I was actually thinking of the
ability to have the emoji displayed in the native resolution for the image,
whatever that is.  For example, if I upload a 550x850 image of
RANDOM_THING, I'd like that to be displayed without resizing at all,
similar to how the image preview works now when you paste in a url.  I
imagine this as an option available at the tim

[2016-11-05 09:27] rompic commented on #4321
I get that this is should be a feature, but as discussed above It is a security risk.

[2016-11-06 02:56] jasonblais commented on #4235
Thanks @knalb, appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing,

[2016-11-07 13:13] jasonblais commented on #4321
Thanks @rompic for the feedback.

Mattermost has gone through extensive penetration testing and security reviews and there's a long list of [security updates](http://about.mattermost.com/security-updates/) we've made thanks to our community and customers.

In this particular case, it's a deliberate design decision we've made for the product in the context of overall system security.

Our Mattermos

[2016-11-07 19:14] esethna commented on #4368
Closing, the fix is already submitted for v3.5.

https://mattermost.atlassian.net/browse/PLT-4590

[2016-11-07 19:14] #4368 closed

[2016-11-07 19:34] esethna commented on #4376
Closing with comments made in [PR](https://github.com/mattermost/android/pull/41).

[2016-11-07 19:34] #4376 closed

[2016-11-07 19:37] esethna commented on #4321
Closing, if you'd like to continue the discussion, please feel free to join our [UX Design Mattermost channel](https://pre-release.mattermost.com/core/channels/ux-design)?

[2016-11-07 19:37] #4321 closed

[2016-11-07 23:06] jasonblais commented on #4186
Hey @faiyaz26

A couple of our team members [gave answers here](https://pre-release.mattermost.com/core/pl/3kion9ru63gafqymeknumus39e).

Were they useful? Anything else we can help with or investigate on our end?

[2016-11-07 23:48] jasonblais commented on #4301
Closing via #4400, thanks @digitaltoad!

[2016-11-07 23:48] #4301 closed

[2016-11-08 01:06] it33 opened #4490 "[Help Wanted] Auto-scroll Server Logs to bottom of logs in System Console"
By default in System Console > Reporting > Server Logs, the UI shows the top of the server logs, and the Admin needs to manually scroll to the bottom to see the latest messages.

This ticket is to automatically scroll to the bottom of the server logs on load and when the "Reload" button is pressed.

[2016-11-08 01:08] it33 opened #4491 "[Help Wanted] Set focus to server log control in System Console when loading panel"
Repro:

- Go to System Console > Reporting > Logs

Expected:

- Logs control has focus and pressing UP/DOWN or PgUp/PgDn would scroll the logs

Observed:

- Logs control DOES NOT have focus and pressing UP/DOWN or PgUp/PgDn does not scroll the logs until the user clicks into the control.

[2016-11-08 03:19] jasonblais commented on #4257
Hey @shahbaz17, did you manage to join the [Contributors community channel](https://pre-release.mattermost.com/core/channels/tickets)? Any issues in the sign up process?

[2016-11-08 03:19] jasonblais commented on #4247
Hey @JrPribs and @richa-coder, did you manage to join the [Contributors community channel](https://pre-release.mattermost.com/core/channels/tickets)? Any further issues in the sign up process?

[2016-11-08 03:31] jasonblais commented on #4490
[Jira ticket can be found here](https://mattermost.atlassian.net/browse/PLT-2060)

[2016-11-08 04:57] faiyaz26 commented on #4186
thanks. I will again dig into it. If I can't solve the issue, I think I have to leave the responsibility of this issue to others.

[2016-11-08 05:06] jasonblais commented on #4186
Thanks @faiyaz26, much appreciated! Would be glad to answer any further questions you might have along the way.

[2016-11-08 11:19] halberom commented on #4171
I've hit this, currently using gitlab omnibus 8.13.3.  Change the username in gitlab, log out and back in (to both) has no change.

[2016-11-08 15:07] jasonblais commented on #4491
The associated Jira ticket is here: https://mattermost.atlassian.net/browse/PLT-4663

[2016-11-08 15:48] cpanato commented on #4156
Can I take this ticket?

[2016-11-08 15:50] cpanato commented on #4361
Can I take this ticket?

[2016-11-08 15:54] karanjthakkar commented on #4156
@cpanato Sure. Go ahead. I won't be able to do this. :)

[2016-11-08 15:55] cpanato commented on #4156
cool! thanks!

[2016-11-08 16:04] jasonblais opened #4495 "[Help Wanted] Disable file attachment icon after the maximum number of files is uploaded"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-137))

If maximum number of files is reached (i.e. 5 files)

[2016-11-08 16:04] jasonblais opened #4496 "[Help Wanted] Update error message when image exceeds max height/width"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-2242))

Update error message when image exceeds max height/

[2016-11-08 16:05] jasonblais opened #4497 "[Help Wanted] Update password reset page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4524))

Update password reset page

Observed:
1. Click "I f

[2016-11-08 16:05] jasonblais opened #4498 "[Help Wanted] Clicking on @mention of a user in a post should show the profile popover."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-1031))

Clicking on @mention of a user in a post should sho

[2016-11-08 17:12] cpanato commented on #4156
almost done, tomorrow I will create the PR

[2016-11-08 22:47] esethna opened #4502 "Mattermost v3.5.0 - RC6"
This is a meta issue for v3.5.0 release updates. The final release will be available November 16.

Please link to issues you believe may warrant a patch (please do not post issue here). It is the responsibility of the release manager assigned to this issue to decide whether or not to merge a patch for the final release.

See the [Draft Changelog](https://github.com/mattermost/docs/pull/518/files)

[2016-11-08 22:48] esethna commented on #4502
## RC3 has been cut!

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?id=5d13z7mks3rgdrm1y3pqiasujy

If you find any issues, please link to them in the comments here.

**Approved issues to fix for RC4:**

[2016-11-08 22:57] jwilander opened #4503 "[Help Wanted] Increase unit test coverage of api/user.go"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-09 08:51] cpanato commented on #4156
sent the PR

[2016-11-09 13:09] cpanato commented on #4361
working on that

[2016-11-09 15:14] cpanato commented on #4361
https://github.com/mattermost/platform/pull/4508

[2016-11-09 15:29] cpanato commented on #4497
Will work on that, is that ok?

[2016-11-09 17:13] milouse opened #4510 "[Help Wanted] Change auto selection behaviour of emoji to be more UX/Type friendly"
#### Summary

In some languages, like in french, typography rules require colons to be prefixed with a space, like this:

Currently, typing a lone colon directly open emoji selection popin and doing a Shift + enter (to create a new line to begin a list for exemple) auto-select the first emoji, what is very troublesome.

This issue is directly inspired by this one for gitlab : https://gitlab.com/gi

[2016-11-09 20:22] hmhealey opened #4513 "[Help Wanted] Add API call to get a user by their username"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-09 20:54] hmhealey opened #4514 "[Help Wanted] Add API call to get a user by their email address"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-09 20:55] hmhealey opened #4515 "[Help Wanted] Add API call to get a channel by its name"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-09 20:56] hmhealey opened #4516 "[Help Wanted] Add API call to get a team by its name"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-10 15:13] cpanato commented on #4497
PR #4522

[2016-11-10 16:39] cpanato commented on #4490
working on that

[2016-11-10 18:10] lfbrock opened #4528 "[Help Wanted] Remove autocomplete on team creation text box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-10 18:28] cpanato commented on #4528
Is to remove when using edge or remove completely the functionality?

[2016-11-10 18:43] lfbrock commented on #4528
Hi @cpanato - It's to completely turn off the browser autocomplete for that field. It's just that it is only visible on Edge for some reason.

[2016-11-10 19:09] esethna commented on #4502
## RC3 has been cut!

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?id=p9irmoaaz7da98uxu8arqzinqo

If you find any issues, please link to them in the comments here.

**Approved issues to fix for RC5:**
1. [Promoting member to a team admin gives no feedback to user](https://mattermost.atlassian.net/browse/PLT-

[2016-11-10 22:38] Kemyke opened #4530 "Couldn't save incoming webhook"
#### Summary
Mattermost didn't upgrade IncomingWebhooks table.

#### Steps to reproduce
I've just upgraded my old 3.0 version to 3.4. In the log i can see the schema update logs:
[code]

#### Expected behavior
The IncomingWebhooks table should contain DisplayName column.

#### Observed behavior
There is no display name column in IncomingWebhooks table. When i try to add new webhook it gives an err

[2016-11-11 12:05] raphael0202 commented on #4496
Hi! I'm working on it

[2016-11-11 12:53] jasonblais commented on #4496
Thanks @raphael0202!

[2016-11-11 13:34] fjarlq commented on #4502
The link above to the Draft Changelog is for the wrong version (3.4.0).

I think this is the correct (3.5.0) link: https://github.com/mattermost/docs/pull/518/files

[2016-11-11 14:40] jwilander opened #4534 "[Help Wanted] Documenting APIs for Mattermost 3.5"
We're looking for help with documenting the Mattermost APIs available in 3.5!

At Mattermost we use the [OpenAPI specification](https://www.openapis.org/) for documenting our APIs.

If you're interested in helping out, please head over to the [issues page on our mattermost/mattermost-api-reference repository](https://github.com/mattermost/mattermost-api-reference/issues) and feel to grab any issue

[2016-11-11 15:37] raphael0202 commented on #4496
I've just submitted a PR: https://github.com/mattermost/platform/pull/4535

[2016-11-11 16:08] esethna commented on #4502
Thanks! updated.

[2016-11-11 19:23] timrsmith opened #4539 "Custom emoji naming is case-insensitive while emoji picker is case-sensitive"
#### Summary
Emoji picker is case-sensitive (e.g. :rainbow: works, while :Rainbow: doesn't), which is probably good/expected. However, custom emoji unique name validation is case-insensitive.

#### Steps to reproduce
1. Create a custom emoji, all lower (e.g. :foo:)
2. Try to use it with a character upper cased (e.g. :Foo:)
3. Try to create an upper-case variant of the emoji

#### Expected behavior

[2016-11-11 22:16] raphael0202 commented on #4503
I'm currently working on adding tests to CheckUserDomain

[2016-11-12 09:50] raphael0202 commented on #4503
I've submitted a PR for CheckUserDomain and IsUsernameTaken functions

[2016-11-13 23:01] jwilander commented on #4503
Much appreciated! I can review it tomorrow morning

On Nov 12, 2016 4:50 AM, "Raphaël Bournhonesque" <notifications@github.com>
wrote:

[2016-11-14 09:58] KasperJanssens opened #4544 "Black screen on Mac and Windows client"
**Summary**
When sending a message through the command line api (/msg) I get a black screen.

**Steps to reproducte**
To reproduce, just open a new private chat by typing '/msg user test'. The screen will go black and will not redraw. The message does get sent it seems, but the screen is black and the application is not usable anymore until a restart or sometimes also until opening one of the menu

[2016-11-14 14:31] jasonblais commented on #4544
Hey @KasperJanssens, thanks for the report,

1) Are you able to reproduce this on the browser?

If not, can you help file a new issue report in our [desktop repo](https://github.com/mattermost/desktop) with your report here, and the additional information below:

2) What is your Mattermost Desktop App version (See **Help > Version Number**) ?
3) What is your Mattermost Server version (See **Matter

[2016-11-14 14:31] jasonblais commented on #4467
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2016-11-14 14:31] #4467 closed

[2016-11-14 14:33] jasonblais commented on #4078
Hey @krisak, did you get a chance to test it out on our [preview Mattermost instance](https://pre-release.mattermost.com/core/channels/public-test-channel)?

[2016-11-14 14:34] jasonblais commented on #4324
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2016-11-14 14:34] #4324 closed

[2016-11-14 14:37] jasonblais commented on #4334
Hey @char101, would you be interested in submitting a pull request to fix the issue? We'd love to take it for review

Looking at your commit you referenced above, if you [sign the Contributor License Agreement](https://www.mattermost.org/mattermost-contributor-agreement/), I think you should be good for submitting a pull request for it.

[2016-11-14 14:38] jasonblais commented on #4341
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2016-11-14 14:38] #4341 closed

[2016-11-14 14:48] jasonblais commented on #4334
EDIT: We're actually looking at a fix for the issue on our end, here's a ticket in our internal Jira system: https://mattermost.atlassian.net/browse/PLT-4636

Thanks again for the original report!

[2016-11-14 14:48] #4334 closed

[2016-11-14 14:53] jasonblais commented on #4393
Hey @Maverick1872, were you seeing the retry-cancel error showing consistently or only sometimes when trying to send a message?

[2016-11-14 14:54] KasperJanssens commented on #4544
I don't have it on the browser, I'll log a new ticket in the desktop repo

[2016-11-14 14:55] jasonblais commented on #4383
Hey @ulfklose, would love to have your changes reflected on the product.

If you're interested, please consider joining our [Mattermost German community channel](https://pre-release.mattermost.com/core/channels/i18n-german), which is open to everyone

[2016-11-14 14:57] jasonblais commented on #4254
Hey @syamgk, let us know if you have further questions?

Closing the ticket on GitHub given it's not a product issue, happy to continue conversation [on the forum thread](https://forum.mattermost.org/t/mattermost-fails-connecting-to-pgpool/2369) if you any thoughts or questions about it.

[2016-11-14 14:57] #4254 closed

[2016-11-14 15:11] jasonblais commented on #4544
Thanks! Closing and we can track it there: https://github.com/mattermost/desktop/issues/363

[2016-11-14 15:11] #4544 closed

[2016-11-14 18:30] esethna commented on #4502
## RC5 has been cut!

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?id=t479bp7s3jd73n5eafujj63bgy

If you find any issues, please link to them in the comments here.

**Approved issues to fix for RC6:**
1. [iOS app: UI breaks after clicking [...] menu and scrolling up and down the channel](https://mattermost.a

[2016-11-14 19:13] esethna commented on #4272
Hi all, just an update,

We have opened a ticket for the red circle issue and it's currently in progress for the next version of the Andriod app: https://mattermost.atlassian.net/browse/PLT-4561

Regarding missing notifications, we have some devs looking into it as a potential hot fix for v3.5, being released on the 16th. Hopefully these issues should be resolved after upgrading.

[2016-11-14 19:18] esethna commented on #4403
That could be a possible cause. As part of the roadmap for v3.6, we are going to spend some time thinking through how notifications should work across multiple teams. The ticket will be addressed with that spec. Closing this issue to [track in JIRA](https://mattermost.atlassian.net/browse/PLT-4334).

[2016-11-14 19:18] #4403 closed

[2016-11-14 20:22] jasonblais commented on #4510
Thanks for the note @milouse!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing, please say

[2016-11-14 20:25] jasonblais commented on #4156
Closed via #4506

[2016-11-14 20:25] #4156 closed

[2016-11-14 20:26] jasonblais commented on #4361
Closed via #4508

[2016-11-14 20:27] #4361 closed

[2016-11-14 20:27] jasonblais commented on #4490
Closed via #4527

[2016-11-14 20:27] #4490 closed

[2016-11-14 20:28] lfbrock opened #4550 "[Help Wanted] Mobile: Fix the behaviour of the Edit Channel Purpose and Edit Channel Header dialogs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-14 20:47] krisak commented on #4078
Sorry, i just did. Nothing. I was totaly sure it is our server but its not. Same thing on pre-release.mattermost.

Is it possible that its because of our OS? The only corelation is that both me and @killua-eu have cyanogenmod not pure google android. I have google services allowed though and ive never had any problem with push notifs.

[2016-11-14 21:39] milouse commented on #4510
I'm sorry but I don't think it is a feature request: if we cannot write proper french, it's not a feature problem, it's a bug!

And I'm sorry too I'll not have time to work on this any time soon. Thus if every one else want to take it, feel free to do it.

[2016-11-14 21:45] lfbrock opened #4553 "[Help Wanted] Switch theme colors to name value pairs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-14 23:27] jasonblais commented on #4530
Hey @Kemyke, and thanks for the report!

Can you try the following steps:
1. backup the database just in case
2. run the following SQL commands

[code]

If you're still experiencing issues, please help post in our [Troubleshooting forums](https://forum.mattermost.org/t/how-to-use-the-troubleshooting-forum/150)? There are more forum visitors than GitHub issue visitors, which means a potentially fas

[2016-11-15 00:25] it33 opened #4554 "Snaps package for Mattermost"
Opening a ticket for contributors interested in creating a snaps package for Mattermost to install on Ubuntu 16.04.

We had a great meeting with Michael Hall and Alan Pope today from Canonical and seeking contributors interested in bringing together snaps and Mattermost.

Please reply back if you have interest? If you're on our discussion server, please feel free to bring this up in the [Installer

[2016-11-15 01:13] char101 commented on #4334
Hi Jason,

Thanks for the update. Sorry I haven't touch mattermost again since I have other tasks right now. For the cause of the crash you can look at the diff of my branch above.

[2016-11-15 01:32] jasonblais commented on #4334
Thanks again @char101, much appreciated!

[2016-11-15 03:13] nouyang commented on #643
+1

[2016-11-15 05:04] esethna commented on #4502
## RC6 has been cut!

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?id=a5c5frayz38ebrxqt595m6f9dh

If you find any issues, please link to them in the comments here.

**Approved issues to fix for RC6:**

[2016-11-15 07:36] S4KH commented on #4498
Working on it. :peace_symbol:

[2016-11-15 07:43] Kemyke commented on #4530
Thanks for your comment.

Yes, i tried that and it solved that issue but i was afraid that some other migrations were missing. So, i tried that first i upgraded to version 3.2, than 3.3 and after that the version 3.4. In this case the migration was successful and the DisplayName and Description columns appeared automatically in both table.

Thank you for helping me out.

[2016-11-15 07:43] #4530 closed

[2016-11-15 09:53] filipp opened #4556 ""Search in team" keyboard shortcut breaks OS conventions"
#### Summary

The "Search in team" command is using the Command-S shortcut. This is typically reserved for the "Save" command in most apps and OSs. It should be changed to Command-F, which is not used at all at the moment.

#### Steps to reproduce

Using client version 3.4.1 on OS X.

#### Expected behavior

Cmd-F should be Search, Cmd-S should be save (if applicable)

#### Observed behavior

Cmd-

[2016-11-15 11:40] gabx opened #4557 "Build fails github.com/Masterminds/vcs’ not found"
#### Summary
Build fails with recent git clone (3.5)
Error :  import file ‘github.com/Masterminds/vcs’ not found

#### Steps to reproduce
    $ make mattermost_git
    $ cd mattermost_git
    $ mkdir -p src/github.com/mattermost
    $ cd src/github.com/mattermost
    $ git clone https://github.com/<username>/platform.git
    $ cd platform
    $ pwd
    /home/makerpm/build_package/mattermost_git/sr

[2016-11-15 12:46] jasonblais commented on #4530
Glad to hear!

[2016-11-15 13:35] cpanato commented on #4528
ok, cool, will work on that :)

[2016-11-15 14:02] cpanato commented on #4528
I tested the current master on a microsoft edge and I didnt see any autocomplete.

there are any steps to reproduce that?

thanks

[2016-11-15 14:05] lfbrock commented on #4528
@esethna - does this still reproduce for you on master?

[2016-11-15 14:08] lfbrock opened #4558 "[Help Wanted] Mobile View: Don't close the Left Hand Sidebar after removing an open Direct Message Channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-15 15:56] esethna commented on #4528
@cpanato and @lfbrock, yes this still repros for me on master. Repro steps would be:

1. Main menu > Create a New Team
2. Type a Team Name, Next
3. On the Team URL page, select and backspace the automatically suggested team URL
4. The autocomplete pops up

[2016-11-15 16:13] filipp opened #4559 "Login form could use a progress indicator"
#### Summary
The login form may sometimes take longer to process (eg with AD/LDAP logins) during which Mattermost seems frozen. Since the request is handled async., the user doesn't even get the usual feedback from the browser. As a result, more impatient users may resubmit the form multiple times.

#### Steps to reproduce
Try to log into an AD/LDAP site.

#### Expected behavior
The user should se

[2016-11-15 16:18] jasonblais commented on #4496
Closed via #4535, thanks @raphael0202!

[2016-11-15 16:18] #4496 closed

[2016-11-15 16:18] jasonblais commented on #4036
Closed via #4335, thanks @bolecki!

[2016-11-15 16:18] #4036 closed

[2016-11-15 16:35] cpanato commented on #4528
I will try thanks @esethna

[2016-11-15 22:28] esethna commented on #4502
The final release build was cut from RC6. Closing this meta issue.

[2016-11-15 22:28] #4502 closed

[2016-11-15 22:41] leram84 opened #4561 "Need some help getting this running in windows"
Using this link: https://releases.mattermost.com/3.5.0/mattermost-enterprise-3.5.0-windows-amd64.tar.gz (replacing `linux` with `windows`) As instructed [here](https://mattermost.uservoice.com/forums/306457-general/suggestions/11486772-support-for-running-server-on-windows) I'm trying to run MM platform on a win10 machine, but when i launch "platform.exe" i get this:

    [CRIT] Failed to ping db

[2016-11-15 22:48] jasonblais commented on #4343
Closed via #4344

[2016-11-15 22:48] #4343 closed

[2016-11-15 22:49] jasonblais commented on #4444
Closed via #4444, thanks @anchepiece!

[2016-11-15 22:49] #4444 closed

[2016-11-15 23:32] enahum commented on #4561
@leram84 did you try editing the config.json and changing the connection string to point to your database server?

[2016-11-16 08:45] cpanato commented on #4528
I tried in MS Edge using the master branch and no autocomple appears to me.
There are any live server that I can use to check?
@esethna @lfbrock

thanks

[2016-11-16 12:54] smeapng opened #4562 "[ERROR] duplicate key value violates unique constraint "pg_class_relname_nsp_index""
Hello,

#### Summary
During the mattermost migration from V3.4.0 to V3.5.0, I encountered an error with the migration of the POSTGRESQL database schema.

#### Steps to reproduce
Do the mattermost update from v3.4 to v3.5 and look at the mattermost and postgresql logs.

POSTGRESQL: 9.3
Mattermost: 3.4

#### Observed behavior
In mattermost log :
[code]

In postgresql log :
[code]

Have you ever enco

[2016-11-16 13:00] kristianunger opened #4563 "error when downloading files"
Files shared within a conversation cannot be downloaded.

#### Steps to reproduce
Upload a file by drag and drop and the receiver tries to download the file.

Version: 3.2.0
Build Number: 3.2.0
Build Date: Thu Jul 14 16:27:27 UTC 2016
Build Hash: ab52700aaa76a5623de23cd0156f5dbd9a24e264
Build Enterprise Ready: false
DB Version: 3.2.0

#### Expected behavior
When upload a file by drag and drop with

[2016-11-16 13:18] jasonblais commented on #4563
Thanks @kristianunger for the report,

We had an [existing issue](https://mattermost.atlassian.net/browse/PLT-3105) where files sent in direct message channels couldn't be downloaded if the member didn't belong to the same team.

Sounds like this might be the same issue you're experiencing?

This issue [was fixed for Mattermost 3.5](https://github.com/mattermost/platform/pull/4134), so I recommend

[2016-11-16 13:26] kristianunger commented on #4563
Thank you! That is exactly the issue!

[2016-11-16 13:47] jasonblais commented on #4563
Glad to hear :)

[2016-11-16 13:47] #4563 closed

[2016-11-16 13:54] lfbrock commented on #4528
Hi @cpanato - let me check and see if anyone else can repro (sorry I don't have Edge myself).

I think it would be the browser autocomplete, but some input boxes you can put a setting that turns it off. However it could just be Edge in this case, I'm not sure.

If no one else can reproduce it I think we can just close this as can't reproduce.

[2016-11-16 13:56] cpanato commented on #4528
ok, I tried in the latest MS Edge and the server was running on my mac.

[2016-11-16 14:51] hmhealey commented on #4562
Hi @smeapng,

That's an interesting problem. Does that error message show up every time you restart Mattermost or was it just the first time you started it up after upgrading? What is printed if you connect to the database and run `select 'idx_posts_user_id'::regclass;`?

[2016-11-16 15:14] smeapng commented on #4562
Hi @hmhealey ,

Thank you for your answer.

The error message appears when I realize the upgrade from 3.4 to 3.5. If I restart mattersmost, I do not have the message.

The result of the command ```select 'idx_posts_user_id'::regclass;``` :
[code]

Thank you.

Cordially.

[2016-11-16 15:41] hmhealey commented on #4562
Okay, it looks like the upgrade was successful despite the error message. I'll leave this issue open for a few days in case anyone else has the same issue, but that error seems to be harmless.

[2016-11-16 16:20] cpanato commented on #4396
I can take this one

[2016-11-16 16:21] jwilander commented on #4396
Awesome, thanks @cpanato

[2016-11-16 18:38] leram84 commented on #4561
can you give a little more detail? I'm a fast learner but still pretty nooby with most of this... first time even installing mysql. Anyway, after scanning the config file im assuming this is the block you are referring to?

        "SqlSettings": {
            "DriverName": "mysql",
            "DataSource": "mmuser:mostest@tcp(dockerhost:3306)/mattermost_test?charset=utf8mb4,utf8",
            "D

[2016-11-16 23:59] jasonblais commented on #4383
Thanks for joining the channel and helping with translation updates!

Closing the issue,

[2016-11-16 23:59] #4383 closed

[2016-11-17 00:11] mattermod commented on #4557
Thanks @gabx for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your issue**

[2016-11-17 01:56] S4KH commented on #4514
Can explain this **'if the current user would be able to get them using /api/v3/users/\{user_id\}/get'** more in detail, please?

[2016-11-17 05:29] vrenjith opened #4568 "Mattemost 3.5.0 Upgrade Issues"
I just upgraded to `3.5.0` version of Mattermost team edition and I do see some issues.
* The upgrade was not as smooth as earlier upgrades. Mattermost didn't come up initially and it caused a bit of tension. Eventually it came up after a stop and stop of `mattermost` service (ubuntu upstart)
* @ Mention is very slow. After typing any name it takes seconds for the pop up to appear and this is caus

[2016-11-17 07:49] filipp commented on #2246
Is this issue closed because a workaround was provided or because there is now (v 3.4.1) a way to delete channels? It would be nice if archival was optional - our team created some channels during testing and we want to delete them and create new ones moving into production.

[2016-11-17 08:31] filipp commented on #4556
Sorry, this is a client issue, not platform.

[2016-11-17 08:31] #4556 closed

[2016-11-17 12:53] jasonblais commented on #2246
@filipp If you'd like to see channel archives in Mattermost, please help upvote [the feature request for archives](https://mattermost.uservoice.com/forums/306457-general/suggestions/10960347-channel-archiving), so it can be discussed with the community and prioritized accordingly?

Each member gets 10 votes in the feature request channel, each influencing the future of Mattermost.

[2016-11-17 13:16] DPSLynix commented on #4568
I agree, I had to reconfigure my server (that is, take the original 3.5 config.json and changes it) because it wouldn't accept the 3.4 one.

Also, when switching to a channel, the scroll is (for a small amount of time) at the right position for the last message, and after a very small amount of time it justs scrolls upside by a tiny amount (seem to only occurs on Desktop 3.4 as I don't have this p

[2016-11-17 13:29] jasonblais commented on #4568
Thanks for the feedback, which database version are you using @vrenjith @DPSLynix ?

Other notes:
 - have forwarded feedback for @ mention autocomplete
 - ticket for scrolling bug: https://mattermost.atlassian.net/browse/PLT-4779
 - ticket for emoji issue here: https://mattermost.atlassian.net/browse/PLT-4780

[2016-11-17 13:34] DPSLynix commented on #4568
@jasonblais I'm using the MySQL driver with a MariaDB host, when starting to boot mattermost on my original 3.4 config.json it was saying  "Failed to ping db err:dial tcp: lookup dockerhost on 127.0.0.1:53: no such host".

Note: I'm not using docker, nor a service (I'm running Mattermost in a screen at the moment).

[2016-11-17 13:40] DPSLynix commented on #4568
Also (figured out this just now) the "copy link" option doesn't work, it just empties the clipboard (dunno if it's a bug from platform or desktop):

![image](https://cloud.githubusercontent.com/assets/3002461/20391466/c44f3e5e-acd3-11e6-9e87-e5e58aaee10a.png)

[2016-11-17 13:42] Lulucmy commented on #4568
Hello,

I'm in the same Mattermost as @DPSLynix and I have an other problem : When I want to go in a new channel,  the description doesn't appear.

[2016-11-17 13:50] DPSLynix commented on #4568
Gif for @Lulucmy bug (which I don't have, Windows desktop):
![image](https://cloud.githubusercontent.com/assets/3002461/20391785/2769717a-acd5-11e6-943f-011777f95b38.png)

[2016-11-17 14:04] hmhealey commented on #4514
@S4KH I wanted to make sure the new route to get a user by their email address would require the same permissions as the existing route to get a user by their id. As it turns out, there's no special permissions other than being logged in, so I'll update that so it's less confusing.

[2016-11-17 14:11] cpanato commented on #4397
I will take care this one

[2016-11-17 14:20] hmhealey commented on #4568
@DPSLynix Could you possibly send your original 3.4 config with any sensitive fields removed? There shouldn't have been any breaking changes to the config in 3.5, but I'm wondering if it's something that was added in a previous release that was just using the default before.

Also, was your old config stored in the standard path at `config/config.json`? That "failed to ping db" error sounds like i

[2016-11-17 15:45] jasonblais commented on #4568
Thanks @DPSLynix and @Lulucmy!

I'll file a bug for the screen you posted:

![image](https://cloud.githubusercontent.com/assets/13119842/20396041/e48e64c2-acb2-11e6-9e79-a9d0717bae6f.png)

If you find additional issues on the desktop app that cannot be reproduced on the browser, please help report them on the [desktop repo](https://github.com/mattermost/desktop/issues/new).

For product defects th

[2016-11-17 15:51] DPSLynix commented on #4568
@hmhealey : Sure.

I retrieved it via a diff file I created yesterday to compare the two config files so here is it.

[old_config.zip](https://github.com/mattermost/platform/files/597805/old_config.zip)

Also, yes my old config file was stored there, I can't tell the mistake is not on myself, maybe I screwed up somewhere.

Anyway, keep the hard work, Mattermost is amazing and getting better and be

[2016-11-17 16:08] jasonblais commented on #4224
Thanks @fraziern, many thanks!

[2016-11-17 16:09] jasonblais commented on #4497
Closed via #4522

[2016-11-17 16:09] #4497 closed

[2016-11-17 16:09] jasonblais commented on #4396
Thanks @cpanato! Closed via #4571

[2016-11-17 16:09] #4396 closed

[2016-11-17 16:12] jasonblais commented on #4248
Closed via #4378

[2016-11-17 16:12] #4248 closed

[2016-11-17 17:32] esethna commented on #4272
@mmarif4u @Keensit @grundleborg we've updated the Play Store app after being able to repro some of these push notifications issues. Please update and try again? Hopefully your issues should be solved.

[2016-11-17 17:36] esethna commented on #4078
@krisak @killua-eu we've updated the Play Store app for v3.5 after being able to repro some of these push notifications issues. Please update and try again? Hopefully your issues should be solved.

[2016-11-17 17:57] recycled-bin commented on #4568
![image](https://cloud.githubusercontent.com/assets/23529683/20400540/cd98348c-acfd-11e6-93ec-c51342a56821.png)

I had a seamless upgrade (percona mysql) but there were 3 issues which were immediately visible:
- the annoying scrolling issues already described above
- top header info bar for direct messages do disappear from time to time (see screenshot above) ... haven't noticed any reproducible b

[2016-11-17 18:11] esethna opened #4575 "[Help Wanted] Push Notifications and Email Notifications should follow "Teammate Name Display" setting"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-17 18:25] esethna opened #4576 "[Help Wanted] Adding Team Description"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-17 18:30] recycled-bin opened #4577 "Mobile notifications from incoming webhook are displayed on behalf of the user who created the webhook"
#### Summary
Mobile notifications via incoming webhook are displayed on behalf of the user who created the webhook instead of the specified bot user (works correctly in web)

#### Steps to reproduce
Mattermost Server (v.3.5)
Android mobile client
1. Set up incoming webhook
2. Set up notifications for mobile
3. Send a message into a channel on behalf of a bot user

#### Expected behavior
Whenever a

[2016-11-17 19:03] esethna commented on #4528
Okay thanks @cpanato, we can probably close as can't reproduce.

[2016-11-17 19:03] #4528 closed

[2016-11-17 20:08] jasonblais commented on #4141
Closed via #4216

[2016-11-17 20:08] #4141 closed

[2016-11-17 20:09] jasonblais commented on #4349
Closed via #4409, thanks @rwillmer!

[2016-11-17 20:09] #4349 closed

[2016-11-18 10:33] Judokus opened #4583 "[Help Wanted] API Get channels for a user returns users' dm channels on 3.5 with blank team ID"
#### Summary
Calling `api/v3/teams/{team_id}/channels/` only returns the users' dm channels.

#### Expected behavior
API call returns all the users' channels that it is part of. Not only dm channels.

[2016-11-18 11:10] Judokus commented on #4583
Apparantly this only happens when a non-existent team_id is supplied.

[2016-11-18 12:23] cpanato commented on #4513
I can try this one, to see if i can move to intermediate tickets :)

[2016-11-18 12:24] cpanato commented on #4513
@hmhealey the point here is use the getuser code to sanitize the object, but we first need test if the user exist right?
and who can get the user information? anyone logged?

[2016-11-18 12:27] cpanato commented on #4513
this new api should also go to the user.go ?

[2016-11-18 13:19] jwilander commented on #4513
Hi @cpanato, so to add an API there's a few things you need to do:

1. In `api/user.go` add the route definition at the top. You can see what the Route prefixes are by looking in `api/api.go`
2. In `api/user.go` add the function to handle the new route you added. In here you can hit the database and perform any logic you need to satisfy the API
3. Once that is done, you'll need to add a driver fun

[2016-11-18 16:58] jasonblais commented on #4559
Thanks @filipp for the report!

We discussed in our UX meeting and agree that we should have immediate feedback after clicking the "Sign In" buttong.

I created a ticket for adding a spinnerso the user knows that the sign in process has initiated: https://mattermost.atlassian.net/browse/PLT-4784

If you or anyone in the community is interested adding it, please let us know!

[2016-11-18 16:58] #4559 closed

[2016-11-18 17:01] jasonblais commented on #4510
Thanks @milouse,

We discussed it in a UX meeting and this makes sense. Wondering if someone would be interested in helping update the autoselection behaviour?

----

Below is more details of the specification:

After typing `:`, propose removing instant selection of the first item on emoji autocomplete list so that the first entry is not selected unless
 - up/down arrows are used to navigate thro

[2016-11-18 17:37] milouse commented on #4510
Thank you very much for your understanding of this issue. Also, after having read again my previous message, I'd say sorry for my over-angry tone. You've done an awesome product and can understand you've other priorities than dealing with angry froggies. Anyway, thanks again. I hope you'll find someone to take this soon.

I've just a little concern with the line

Be aware to well differentiate a *

[2016-11-18 17:58] leram84 commented on #4561
any ideas? I'm pretty lost. Not sure if its a syntax issue, but i'v tried editing that block in several ways with no success. i had thought something like:

    "SqlSettings": {
        "DriverName": "wordpress",
        "DataSource":  "lrwordpress@tcp(127.0.0.1:3306)/mattermost_test?charset=utf8mb4,utf8",
        "DataSourceReplicas": [],
        "MaxIdleConns": 10,
        "MaxOpenConns": 10,

[2016-11-18 21:10] jasonblais commented on #4561
Thanks @leram84 for your report,

Mattermost doesn't officially support running servers on Windows.

We have an open issue on our docs repo where we hope to get community's help test and provide feedback on Windows installation guides recently prepared by a community member: https://github.com/mattermost/docs/issues/360.

Wondering if you'd like to run through the installation steps on the guide,

[2016-11-18 21:21] jasonblais commented on #4510
Thanks for the note, updated in the description!

We value everyone's feedback and our practice is to share feature requests or improvements in the [Feature Idea forum](https://mattermost.uservoice.com/forums/306457-general/) to hear others' feedback in the community too.

However the design here made sense and we'd love to have a contribution that improves the user experience for our users.

Than

[2016-11-18 21:44] leram84 commented on #4561
YES! Jesus christ, i don't know how i never found that post. Yeah, ill definitely be working on this. Just scanning it now, and the answer to the above is clearly outlined... with pictures lol. And i already see 2 other things that would have sent me down the google rabbit hole! Thank you very much for pointing me in the right direction... i guess i know what im doing this weekend :)

[2016-11-18 21:50] hjc1710 commented on #4568
Another issue I'd like to report is that threaded replies to messages from integrations are not properly marked as sent and create an endless retry loop. This is easier to explain with a screenshot.

![screenshot from 2016-11-18 16 43 41](https://cloud.githubusercontent.com/assets/1062500/20447763/a36acda8-adae-11e6-95f8-cab72dad0319.png)

In the screenshot above, in the red box, you'll notice the

[2016-11-18 21:58] eligundry commented on #4568
I also can't see when people are typing in the channel or in PMs. I dunno if this was ticketed anywhere, but I'd like to see this again.

[2016-11-18 22:05] yangchen1 opened #4587 "[Help Wanted] Converting Public Channels to Private Groups"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/dev

[2016-11-18 22:32] jasonblais commented on #4397
Closed via #4574, thanks @cpanato!

[2016-11-18 22:32] #4397 closed

[2016-11-18 22:37] jasonblais commented on #4561
Glad to hear, and thanks for trying it out! :)

Please let us know in the docs repo how the deployment went, would be glad to hear if there's anything to update: https://github.com/mattermost/docs/issues/360

Closing the issue here, as it's tracked here https://github.com/mattermost/docs/issues/360

[2016-11-18 22:37] #4561 closed

[2016-11-18 22:39] jasonblais commented on #4583
Thanks @Judokus - which channels would you expect the API call to return if the team_id is nonexistent?

[2016-11-19 15:29] jwilander opened #4589 "[Help Wanted] Move instances of Client.createPost() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:01] jasonblais opened #4590 "[Help Wanted] Mobile: Update the mention indicator on the hamburger icon"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:02] jasonblais opened #4591 "[Help Wanted] In channel member list, have the "..." redirect user to Manage/View Members modal when clicked"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:12] jwilander opened #4592 "[Help Wanted] Move instances of Client.updateUserRoles() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:17] jasonblais opened #4593 "[Help Wanted] Autofocus cursor on edit box before modal fully loads"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:28] jwilander opened #4594 "[Help Wanted] Move instances of Client.updateChannel() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:39] jasonblais opened #4595 "[Help Wanted] Enter to Submit does not work on the Import Theme Colors from Slack modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:40] jasonblais opened #4596 "[Help Wanted] "No Channels Found" should appear without pressing Enter in Channel Switcher (CTRL/CMD+K)"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:40] jasonblais opened #4597 "[Help Wanted] Firefox: CTRL/CMD + U to upload a file does not work"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:40] jasonblais opened #4598 "[Help Wanted] Change URLs of Direct Messages to usernames"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:40] jasonblais opened #4599 "[Help Wanted] "Add/Manage Members" and "More public channels" modals don't auto-focus on search bar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:54] jasonblais opened #4600 "[Help Wanted] Resize server logs table vertically based on browser window screen size"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:54] jasonblais opened #4601 "[Help Wanted] i18n: Break `/shortcuts` block into individual strings and make ctrl vs cmd substitution automatic"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 16:54] jasonblais opened #4602 "[Help Wanted] Update error message when an invitation link is invalid"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-19 17:59] vrenjith commented on #4568
Another one - The preview does not show the @mentioned names as links.

[2016-11-19 23:45] killua-eu commented on #4078
@esethna sorry for my late reply, I was out of reach. 3.5 resolves the problem for me, I hope that for @krisak as well. I'm suggesting to close this issue as resolved.

[2016-11-20 04:26] leram84 opened #4607 "Need some nginx support for a windows build"
I'm currently testing MM server on a win10 box running all three components on that one device. MM is running smoothly locally, but i am attempting to integrate it into my existing nginx reverse proxy that i use for a plex media server and related services. I'm still relatively new to nginx however and most of my setup was done using guides, so im hoping someone can help me a little. Here is my cu

[2016-11-20 10:30] krisak commented on #4078
There is no preview of the notification message in tray and when you go to the mattermost app using the notification you wont apear in the right channel where the notification comes from (it puts you to the last visited channel). But at least the notifications seem to work.

[2016-11-20 13:47] fraziern commented on #4599
Working on this...

[2016-11-21 08:48] cpanato commented on #4589
I can take this one

[2016-11-21 09:59] Janine-Salier opened #4612 "Push Notifications"
#### Summary
The push notifications in Google Chrome and the desktop app on Mac OS X are not working.

#### Steps to reproduce
Google Chrome on OS X 10.12.1 and 10.11.6 is not refreshing the website, so there are no push notifications for incoming messages.
The same thing happens with the desktop app. In order to see the newest messages, you have to open the app and refresh it.
The iPhone app is w

[2016-11-21 13:02] jasonblais commented on #4393
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2016-11-21 13:02] #4393 closed

[2016-11-21 13:25] hannu78 opened #4613 "Copy link button does not copy link in Windows desktop client version 3.4.1"
#### Summary
Copy link button does not copy selected link in Windows desktop client version 3.4.1 in Windows 10.

#### Steps to reproduce
Post a link to a channel or find a posted link from a channel, right-click on the link and select "Copy Link". Go to message writing box on the same or on different channel and right-click to Paste or use CTRL+V.

#### Expected behavior
Link should be copied to

[2016-11-21 14:29] jasonblais commented on #4539
Thanks @timrsmith for the report,

We made custom emoji naming case insensitive so you don't have different custom emoji for :dancing:, :Dancing:, :DANCING: and so forth. Otherwise that could get confusing fast.

That being said, the emoji autocomplete should also be case insensitive. That is, after creating a custom emoji for `:y:`, typing either `:Y` or `:y` in the message box should show the ne

[2016-11-21 14:29] #4539 closed

[2016-11-21 15:01] jasonblais commented on #4568
Thanks everyone!

@recycled-bin For the first two issues (scrolling + channel header sometimes vanishing for direct message channels), we have a hotfix planned for 3.5: https://github.com/mattermost/platform/pull/4584

@recycled-bin and @hjc1710 for the WebRTC connection issues, I've created a [new forum thread to help troubleshoot it](https://forum.mattermost.org/t/troubleshooting-there-was-a-pro

[2016-11-21 16:46] esethna commented on #4078
@krisak in the system console there is the setting for choosing if message contents display in the push notifications. Maybe try toggling this settings?
![image](https://cloud.githubusercontent.com/assets/14333569/20491587/18eb213c-afcf-11e6-8c3c-3f3d73e59db5.png)

In terms of getting notifications to take you to the corresponding channel, we have an improvement [ticket](https://mattermost.atlassi

[2016-11-21 17:14] eligundry commented on #4568
@jasonblais my issue isn't with the core platform but rather the desktop client. I will move my issue there.

[2016-11-21 17:35] jasonblais commented on #4568
Ah, got it @eligundry, thank you! We'll take a look at it there.

[2016-11-21 22:29] lfbrock commented on #4613
Hi @hannu78 - would you be able to file this issue in the [Desktop App](https://github.com/mattermost/desktop) repo? There's a pretty active community there that can help look into this issue

[2016-11-21 22:33] lfbrock commented on #4612
Hi @Janine-Salier - desktop notifications will only show up if the desktop app or browser is open for the site.

Do you have the browser or desktop app open, and are still not receiving the messages/notifications without a refresh?

[2016-11-21 22:42] lfbrock commented on #4607
Hi @leram84 - I'm not sure about the windows install issues, (maybe @shieldsjared has some ideas?) but it's not possible to iframe Mattermost into another site unless it's inside the same origin.

We do this for security reasons, if you want to embed into another site we would recommend using our [javascript driver](https://docs.mattermost.com/developer/web-service.html#extended-web-service-api-ex

[2016-11-21 23:52] jwilander commented on #4513
Wonderful work on this @cpanato

[2016-11-21 23:52] #4513 closed

[2016-11-22 01:09] leram84 commented on #4607
hmmm... ok, well when you put it like that... the site is from the same origin (i think). Its not really a site, its a program called [idashboard](https://github.com/causefx/iDashboard-PHP) that lets me sort a bunch of media apps on my server into a bunch of iframe tabs on one page. I was looking for a hosted chat app (starting with slack) that could be iframed into one tab, but they all had xhead

[2016-11-22 02:47] vrenjith commented on #4568
Will the hotfix cover the @mention delay also?

[2016-11-22 08:20] cpanato commented on #4589
@jwilander I'm little lost on this one, for create_comment and create_post looks like the same code, however for the pending_post_option is another, should I create another action for this or add a parameter to say this is a pending post?
how i can proceed with that? what is the best approach?
thanks

[2016-11-22 10:24] cpanato commented on #4600
@jasonblais I tested using current master and on chrome this not happen, it resize automatic

[2016-11-22 11:56] cpanato commented on #4602
@jasonblais I tried the steps described and this is what I saw using the current master

![screen shot 2016-11-22 at 12 55 53](https://cloud.githubusercontent.com/assets/4115580/20522959/1f55f63e-b0b3-11e6-8f92-d594a4ccd6ce.png)

[2016-11-22 12:40] Janine-Salier commented on #4612
Yes, the app is open, as well as the website in my browser, and I do not get any notifications without refreshing.

[2016-11-22 12:52] jasonblais commented on #4568
Not at this point -- but we have a ticket to improve this in 3.6: https://mattermost.atlassian.net/browse/PLT-4626

[2016-11-22 13:27] jasonblais commented on #4600
thanks @cpanato, I think they donèt resize vertically, as shown in the above screenshot. Have updated title + description to specify that.

[2016-11-22 13:31] hmhealey commented on #4568
@vrenjith @jasonblais Actually it was included in 3.5.1 https://github.com/mattermost/platform/pull/4579

[2016-11-22 13:46] hannu78 commented on #4613
Yes, I did so. Sorry about posting this to platform side, newbie error.

[2016-11-22 14:00] jwilander commented on #4589
Hi @cpanato, I just took a look at the pending post code and I'm not sure why it has all the channel store logic. I think you can try removing that and use the same action as for create_post and create_comment and see it if it still works as expected (I think it will). As for the `loadPosts()` invocation there, I think you can add an option to the action, called maybe `doLoadPosts`, that will invo

[2016-11-22 14:13] cpanato commented on #4600
I tested doing horizontal and vertical resize and all resized well

[2016-11-22 14:18] jwilander opened #4630 "[Help Wanted] Add unit test for channels.setLastViewedAt()"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-22 14:34] cpanato commented on #4589
I tested using the "normal" create_post and it works. I tested making offline and clicking on the retry and make it online again and click on retry, all work.

I will add the ```doLoadPosts``` and send out the PR for review if is not good we can change later  :)

[2016-11-22 14:43] jasonblais commented on #4577
Thanks @recycled-bin for the report.

We just tried it on both the iOS and Android devices and the username was overwritten for us.

What webhook payload / message are you sending to the channel? Can you provide exact repro steps for a sample message so we can try reproducing the issue?

Also, which Android device is it reproducing?

[2016-11-22 16:03] jasonblais commented on #4600
Oh, you're correct, it looks like it's been fixed on `master`. I was testing on the 3.5 version earlier.

Thanks @cpanato, I'll close this issue since it's been resolved.

[2016-11-22 16:03] #4600 closed

[2016-11-22 17:34] jwilander opened #4634 "[Help Wanted] Add unit test for post.getPostById()"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-22 18:50] jwilander opened #4636 "[Help Wanted] Add unit test for post.getPermalinkTmp()"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-22 21:43] Hunga1 commented on #643
+1

[2016-11-23 00:27] jasonblais commented on #4602
Aah -- looks like this is fixed on `master` too.

The existing error message looks good.

Sorry about it, will be a little more careful next time and make sure I've got the latest changes from `master` when testing.

[2016-11-23 00:27] #4602 closed

[2016-11-23 03:27] accordtsai commented on #2033
I confirm the solution proposed by @artiya4u works on Mattermost 3.5 and MySQL 5.7 community for searching Tradiational Chinese characters.

Is it possible to include this as the default Mattermost behaviour (i.e. using the ngram parser if mysql 5.7+ is detected?)

[2016-11-23 03:34] it33 commented on #2033
Hi @accordtsai, not sure, we're not really experts. Is this something you'd be interested in contributing to the community?

[2016-11-23 04:52] faiyaz26 commented on #4186
Hello, I think I have to leave this issue for others.

[2016-11-23 09:55] netmikey opened #4640 "Displaying of @-mentions should follow "Teammate Name Display" setting"
#### Summary
The displaying of @-mentions should follow "Teammate Name Display" setting

#### Steps to reproduce
- In Account Settings > Display > Teammate Name Display, make sure to chose "Show nickname if one exists, otherwise show first and last name" or "Show first and last name"
- Go to a channel, type an @ and start typing their name
- Once the correct team member is highlighted, press enter

[2016-11-23 10:19] erikmueller opened #4641 "Syntax highlighting for `js` and `jsx` not working"
#### Summary
Highlighting a code block with either `js` or `jsx` does not work

#### Steps to reproduce
enter
[code]
using `js` yields the same result (only `javascript` works)
#### Expected behavior
should be highlighted

#### Observed behavior
renders as if no language was provided

#### Possible fixes
As Mattermosts help lists `jsx` and `js` (but interestingly not `javascript`) as possible opti

[2016-11-23 13:05] jasonblais commented on #4186
Thanks @faiyaz26 for circling back, and for looking into it. Really appreciate it!

If you're interested, we have added [new issues open for contributions](https://github.com/mattermost/platform/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%22Help%20Wanted%22).

[2016-11-23 13:06] jasonblais commented on #4613
Thanks @hannu78! We'll track the issue in the desktop repo: https://github.com/mattermost/desktop/issues/367

[2016-11-23 13:06] #4613 closed

[2016-11-23 14:42] lfbrock commented on #4640
Hi @netmikey - would you be able to submit a [feature request](https://www.mattermost.org/feature-ideas/) on this and post the link back here for others to upvote?

[2016-11-23 14:52] lfbrock commented on #4641
Hi @erikmueller - I think that documentation may be incorrect, the supported languages can be found here: https://github.com/mattermost/platform/blob/master/webapp/utils/syntax_highlighting.jsx

It looks like [jsx isn't currently supported](https://github.com/isagalaev/highlight.js/issues/931) by the library we're using.

Sorry about the confusion, we'll update the documentation to fix the incorre

[2016-11-23 14:58] erikmueller commented on #4641
Ok, I thought Mattermost was using GitLab markdown (`rouge`). Thanks for clarifying (and for pointing me to the code ;)

[2016-11-23 15:43] CometKim opened #4644 "Searching users is not working for two Korean characters value"
#### Summary
Searching users is not working for two Korean characters value

#### Steps to reproduce
1. Make two users (A and B) to test
2. Set a nickname to '가나다' for user A
3. Set a nickname to '가나' for user B
4. Click 'More...' button of DM area
5. Searching with '가나'

#### Expected behavior
User A and B will be found.

#### Observed behavior
a. (default) only A will be found.
b. (with ngram) o

[2016-11-23 15:58] gabx commented on #4557
After more inquiries, this error is thrown because I was building with the **gccgo** compiler, not the **go** one. Choosing the correct one via `alternatives-updates` did fix this issue and package built fine.
Closing issue

[2016-11-23 15:58] #4557 closed

[2016-11-23 16:15] lfbrock commented on #4612
@Janine-Salier can you check:

1. To see if it's a websocket issue - can you follow the instructions here to [check your websocket connection](https://docs.mattermost.com/install/troubleshooting.html#please-check-connection-mattermost-unreachable-if-issue-persists-ask-administrator-to-check-websocket-port)?
2. To confirm the notifications are [allowed in Chrome for the site](https://support.google

[2016-11-23 18:34] cpanato commented on #4576
I can try this one

[2016-11-23 18:42] jasonblais commented on #4576
Awesome, thanks @cpanato!

[2016-11-23 22:59] lfbrock commented on #4641
Pull request here to docs repo: https://github.com/mattermost/docs/pull/678

[2016-11-23 22:59] #4641 closed

[2016-11-24 08:15] cpanato commented on #4576
just to check @jasonblais @esethna
The Team Description on step 2 should be in this menu? right?
![screen shot 2016-11-24 at 09 13 52](https://cloud.githubusercontent.com/assets/4115580/20590986/8200a120-b226-11e6-8635-a488049c08bb.png)

[2016-11-24 10:20] krisak commented on #4078
Ok, i get why there is nothing now. Makes sense, thx.

[2016-11-24 19:39] lfbrock commented on #4078
Going to close this issue now, and will track the improvement to make push notifications go to the channel here: https://mattermost.atlassian.net/browse/PLT-1549

[2016-11-24 19:39] #4078 closed

[2016-11-24 23:57] johnythompson commented on #2467
So ... Still no clear, concrete answer to this, despite such a lengthy response from it33?

This shouldn't be so opaque. Multiple different licenses while claiming "Open Source" and MIT OSS licensing is misleading.

MM Team, please provide a clear answer and not a multitude of links that only serve to further confuse those of us seeking an answer.

Best,
John

[2016-11-25 00:04] johnythompson commented on #2467
Anyone wanting a clear OSS alternative, check out: https://rocket.chat/ (MIT license *only*), many of the same features as MM

[2016-11-25 00:21] it33 commented on #2467
Hi John, please see https://www.mattermost.org/licensing/

[2016-11-25 09:55] oppin commented on #4171
+1 Also experiencing this issue on latest GitLab Omnibus CE.

[2016-11-25 14:45] netmikey commented on #4640
Sure! Done :)

[2016-11-25 16:15] CometKim commented on #4644
#### Possible fixes

1. Add two settings under `[mysqld]`
[code]
2. Restart mysqld
3. Rebuild indexes on Users table

[2016-11-25 16:15] #4644 closed

[2016-11-26 00:44] sc250024 opened #4654 "Cannot scroll with keyboard in minimal mode after typing "@""
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
If the browser window is shrunk to the smallest size that MatterMost allows for, t

[2016-11-26 11:50] cpanato commented on #4575
I will try this one

[2016-11-26 12:05] kramer65 commented on #2467
@it33 - It is clear that you guys playing a nasty game with the MatterMost licensing. You keep totally unclear and claim to have an MIT license which simply is not true.

For all others reading this; just like @johnythompson our company also went with Rocket.Chat ([github here](https://github.com/RocketChat/Rocket.Chat)) which is actually clear about their (MIT) licensing.

@it33 - Please stop mis

[2016-11-26 12:23] fraziern commented on #4592
I can work on this.

[2016-11-27 10:02] S6066 opened #4655 "Channel not read"
When launching MM, then changing channel, the previous channel is still unread
(MM entreprise 3.5.1)

[2016-11-27 12:22] fraziern commented on #4356
Taking a look at this. One initial question - how should the alert display on mobile/tablet widths?

[2016-11-27 20:48] jasonblais commented on #4235
Closed via #4447

[2016-11-27 20:48] #4235 closed

[2016-11-27 21:08] it33 opened #4658 "[Help Wanted] Show profile popover when clicking on username or profile picture at top of Direct Message channel"
Repro:

- Click on the profile picture or username at the top of Direct Message channel (see image below)

![image](https://cloud.githubusercontent.com/assets/177788/20651866/5ea42f70-b4a2-11e6-841b-3718831073e4.png)

Expected:

- Clicking on profile picture or username at top of Direct Message channel should display profile info, similar to clicking on username or profile picture in center channe

[2016-11-28 02:55] doomsbuster commented on #1899
Changing mattermost services urls to https in GitLab and then changing the mattermost_external_url in gitlab.rb fixed my issue. i am able to logon and use it now.

[2016-11-28 06:06] jasonblais commented on #4171
Sorry for my incredibly long delay here.

Created a Jira ticket here, which will be triaged on Monday.  https://mattermost.atlassian.net/browse/PLT-4844

Reopened this GitHub issue in the meantime

[2016-11-28 06:07] #4562 closed

[2016-11-28 06:08] jasonblais commented on #4562
Given this was resolved and there have been no other reports so far, closing the issue

[2016-11-28 07:15] CGenie opened #4659 "Flagged posts, search, etc toolbar isn't shown for direct messages"
#### Summary
The toolbar with flagged posts, search, etc is shown for public chats but not for direct messages.

#### Steps to reproduce
Go to public chat -- the toolbar is there. Not so for direct messages.

#### Expected behavior
Have this in direct messages too, I think it was there in 3.4.x. Especially that for example, flagged posts persist when you open them on public chat and go to private

[2016-11-28 12:09] fraziern commented on #4356
So there is an existing alert message with a slightly different positioning. Setting aside the functionality/text and looking solely at placement, is this positioning acceptable or should it really be more aligned with the ` **bold** _italic_ ...` text?

![screenshot 2016-11-28 07 02 38](https://cloud.githubusercontent.com/assets/963391/20667706/aadeaea6-b538-11e6-8f17-2de497336223.png)

(Position

[2016-11-28 12:49] jasonblais commented on #4640
Thanks @netmikey!

Anyone else who would like to see this feature, please upvote the request here: https://mattermost.uservoice.com/forums/306457-general/suggestions/17239631-the-displaying-of-mentions-should-follow-teamma

[2016-11-28 12:49] #4640 closed

[2016-11-28 12:50] jasonblais commented on #4432
We'll track the issue in Jira as it's a larger change: https://github.com/mattermost/platform/issues/4432

[2016-11-28 12:50] #4432 closed

[2016-11-28 12:54] jasonblais commented on #4654
Has anyone else in the community noticed the issue?

@sc250024 does this only reproduce for you on small screen size on the desktop browser, and not on mobile (either iOS or Android) browser?

[2016-11-28 12:57] jasonblais commented on #4659
Hi @CGenie, the issue was fixed with https://github.com/mattermost/platform/pull/4584 and included in our security update in 3.5.1.

You can download the latest release here: http://about.mattermost.com/download/

[2016-11-28 12:59] jasonblais commented on #4655
Thanks @S6066 for the report.

We're investigating the issue and we suspect it could be a race condition of some type, but haven't pinpointed the problem yet.

You can monitor the progress in Jira: https://mattermost.atlassian.net/browse/PLT-4840

[2016-11-28 14:52] jasonblais commented on #4658
@brendanbowidas Curious if you'd be interested about this GitHub issue?

It's similar to the improvement you added where a profile popover is shown when a user clicks on the profile picture in center channel:  https://github.com/mattermost/platform/pull/4144

[2016-11-28 15:39] #4126 closed

[2016-11-28 15:45] Liquidmantis opened #4661 "User status icon overlays gone after 3.5 update"
#### Summary
Users' current statuses are no longer indicated in the channel user list.

#### Steps to reproduce
Click on channel member "bust" icon.

#### Expected behavior
Prior to 3.5.0 users had a small dot overlay indicating if they were online and active.

#### Observed behavior
Updated to 3.5.0 and lost the icon overlay.

#### Possible fixes
If you can, link to the line of code that might be

[2016-11-28 17:01] it33 opened #4663 "[Helped Wanted] Fix typos in error message"
![image](https://cloud.githubusercontent.com/assets/177788/20677772/24e2851e-b549-11e6-9912-615fd2cc96c5.png)

"javascript" should be "JavaScript" and "occured" should be "occurred"

Bonus:
- Replace "javascript" with "JavaScript" throughout the error messages
- Run spell check on all the English strings
   - [i18n/en.json](https://github.com/mattermost/platform/blob/master/i18n/en.json)
   - [web

[2016-11-28 17:34] yangchen1 commented on #4356
Hey @fraziern, thanks for your interest! Having it replace the help text in smaller widths similar to the 2nd picture is fine. :) Also as an FYI I updated the actual error message so that it doesn't have an exclamation mark.

[2016-11-28 17:54] recycled-bin commented on #4577
Apologies, seems like the issue has been fixed with the latest release!

However, I still see a side effect of it:
If you search for user's messages, e.g. "from: <username> in: <channel>", it shows those bot messages though they do not originate from <username>.

[2016-11-28 20:11] thePanz commented on #4583
Shouldn't this API call return a "Not Found (404)" as the `team_id` is not valid?

[2016-11-28 21:29] lfbrock opened #4665 "[Help Wanted] Emoji Picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-11-28 22:06] lfbrock commented on #4272
Closing this issue, if anyone is still having issues in v3.5 please re-open?

[2016-11-28 22:06] #4272 closed

[2016-11-28 23:35] jasonblais commented on #4577
Thanks @recycled-bin! Created a ticket for the second issue you found, and queued for our upcoming UX meeting to confirm the expected behaviour. https://mattermost.atlassian.net/browse/PLT-4857

[2016-11-29 00:20] brendanbowidas commented on #4658
@jasonblais sure, I'll take a stab at it when I get some free time.

[2016-11-29 09:24] daramousk opened #4669 "Incoming messages not received after connecting to a VPN unless refreshing"
#### Summary
Issue in one concise sentence
Messages not getting received when I connect to a VPN

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Connect to a VPN on Ubuntu 16.04, if messages are sent on Mattermost you will not be able to receive them. If you click refresh though you will be able to receive them normally and the functionality gets restored.

Th

[2016-11-29 11:11] florianbachmann commented on #643
+1

[2016-11-29 14:13] #4592 closed

[2016-11-29 15:44] hjc1710 opened #4672 "Replies to integrations fail in 3.5"
#### Summary

After 3.5, replies made to messages created by integrations (such as the wonderful [Jenkins integration](https://github.com/jenkinsci/mattermost-plugin)) do not appear work. They make it to the channel, but for the posting user it appears they failed.

#### Steps to reproduce

1. Install an integration such as the Jenkins or GitHub one.
2. Get it to post into the channel.
3. Reply to

[2016-11-29 15:46] hjc1710 commented on #4568
@jasonblais - I have opened #4672 to track my specific issue relating to integrations, as you requested. Sorry for the delay! Thanksgiving and a busy work schedule threw a wrench in my plans.

If you need any other details in that ticket, please let me know! Would love to get this solved!

[2016-11-29 22:48] dkastl commented on #2159
I find the proposed approach to enable Japanese search as too complicated and risky on a production system, where PostgreSQL is also used by other services (ie. Gitlab). I would like to avoid changing the PostgreSQL configuration and compile libraries.

I have learned about PGroonga (http://pgroonga.github.io/), which looks like a good solution.However, I'm not sure if this would be a practical so

[2016-11-30 04:53] jasonblais commented on #4568
Thanks @hjc1710! Much appreciated, thank you for writing such a clear and complete bug report!

I'll take a closer look tomorrow and try reproduce it.

Thank you once more!

[2016-11-30 04:54] jasonblais commented on #4568
I'll close this thread as there haven't been new 3.5.0 issues and each one reported here have been addressed, or a Jira ticket has been created for them.

Thanks everyone for your reports! If you find new issues, please [help file a bug report for it](https://www.mattermost.org/filing-issues/).

[2016-11-30 04:54] #4568 closed

[2016-11-30 05:32] jasonblais commented on #4658
Thanks @brendanbowidas! That would be awesome! :)

[2016-11-30 05:37] jasonblais commented on #4241
Hey @alsma, wondering how you're doing? Looks like you had a great start earlier: https://github.com/alsma/platform/commit/d852a441c1e28a873ce32da1b2456362a268f297

Anything I can help you with?

[2016-11-30 05:42] jasonblais commented on #4594
Closed via #4657, thanks @fraziern!

[2016-11-30 05:42] #4594 closed

[2016-11-30 15:21] jasonblais commented on #4461
Closed via https://github.com/mattermost/platform/pull/4555, thanks @CometKim!

[2016-11-30 15:21] #4461 closed

[2016-11-30 16:31] bagage opened #4682 "Don't autocomplete smiley once one is available"
For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Currently when one types `:p` the emoji selection pops up and the first choice is not `:p` (it's `:pacman:` instead.). This issue might share similarities with #4510 but I think this one is a specific/easier case to solve.

#### Steps to reproduce
1.

[2016-11-30 21:56] jwilander commented on #4583
If the team ID is non-existent, missing or erroneous an app error explaining the issue and the status code `Bad Request (400)` should be returned.

I've created a [ticket here](https://mattermost.atlassian.net/browse/PLT-4873) to remedy the issue for 3.6. Thanks for the report!

[2016-11-30 23:36] it33 opened #4685 "[Help Wanted] Post a System Message when channel is renamed"
When someone changes the name of a channel or private group, post a system message indicating the change with:

`[USERNAME] updated the channel name from: [OLD_NAME] to: [NEW_NAME]`

Here is an example from existing functionality changing the header of a channel:

![image](https://cloud.githubusercontent.com/assets/177788/20775952/7c1b8ef0-b712-11e6-83ac-b824664a7e60.png)

[2016-11-30 23:42] it33 opened #4686 "[Help Wanted] Post a System Message when channel has is Purpose changed"
When someone changes the Purpose of a channel or private group, post a system message indicating the change with:

`[USERNAME] updated the purpose of this channel from: [OLD_PURPOSE] to: [NEW_PURPOSE]`

Here is an example from existing functionality changing the header of a channel:

![image](https://cloud.githubusercontent.com/assets/177788/20775952/7c1b8ef0-b712-11e6-83ac-b824664a7e60.png)

[2016-11-30 23:55] jasonblais commented on #4685
Closing, duplicate of https://github.com/mattermost/platform/issues/4333

WIP PR also submitted that will add this functionality: https://github.com/mattermost/platform/pull/4664

[2016-11-30 23:55] jasonblais commented on #4686
Closing, duplicate of https://github.com/mattermost/platform/issues/4333

WIP PR also submitted that will add this functionality: https://github.com/mattermost/platform/pull/4664

[2016-11-30 23:55] #4686 closed

[2016-12-01 09:18] bartdeslagmulder opened #4688 "MatterMost crashed when sending a DM to someone who left the team"
Hi MatterMost,

#### Summary
MatterMost CE is crashing when sending a Direct Message to someone who left the team and is not part of another team.

#### Steps to reproduce
A user left our company yesterday and I guess he removed himself from the team via the top left menu (...) > "Leave Team" option. This morning (the day after) I see a separator in my Direct Messages with the text "Outside this t

[2016-12-01 13:33] jasonblais commented on #4672
Thanks again @hjc1710 - just to confirm, the replies do not fail on a regular message, only when you try to reply to an integration?

[2016-12-01 14:05] jwilander commented on #4594
Actually this was completed by @cpanato in #4643

[2016-12-01 14:25] Azenet commented on #2200
"webhook" is still displayed as the sender in the notification when the message is received. (3.4.0)

[2016-12-01 15:14] cpanato commented on #4516
I will work on this

[2016-12-01 16:47] cpanato commented on #4515
I can work on this

[2016-12-01 18:24] coreyhulen commented on #4688
Thanks, I believe this is the same issue as https://mattermost.atlassian.net/browse/PLT-4636 which is fixed in master.

[2016-12-01 18:25] S6066 opened #4691 "White bar"
There's a white bar, and I can't see "XXX is typing" (same without the white bar)
http://i.imgur.com/npg5ip8.png
MM Entreprise 3.5.1, I don't know how to reproduce the bug

[2016-12-01 18:46] leram84 commented on #4607
Any ideas about this? If no one has an answer to the nginx issue, does anyone have an answer to the other question: what to put in the `site url` and `listen address` in case those settings might be getting in the way of a successful trial and error test. (several of the other services required me to set a "base url" in the app before they could be configured in nginx, so im afraid that might be t

[2016-12-01 19:04] bartdeslagmulder commented on #4688
👍

[2016-12-01 19:06] #4688 closed

[2016-12-01 22:22] TylerRick commented on #4171
Ran into this with Omnibus GitLab 8.14.1 as well

[2016-12-01 22:23] jwilander commented on #4576
Really well done @cpanato

[2016-12-01 22:23] #4576 closed

[2016-12-01 22:30] jasonblais commented on #4685
Reopening, this was not in the scope of #4333.

If anyone in the community is interested implementing this, let us know!

[2016-12-01 23:47] jasonblais commented on #4672
Please also let me know the
 - server database (and version if you know)
 - the browsers / clients where you've had the problem reproducing

This information helps us in figuring out what's causing the issue.

Many thanks in advance for an excellent bug report.

[2016-12-01 23:57] hjc1710 commented on #4672
@jasonblais -

Yes, you are correct, this has NEVER happened on a reply to a regular message, on a reply to an integration.

For the other information:

Clients Experiencing This:

* Mattermost Desktop: 3.4.1
* Google Chrome: 51.0.2704.106 (64-bit)
* Google Chrome: 35.0.1916.153 (64-bit)

Database Information:

* RDBMS: MySQL
* Version: 5.6

I have full system admin access, so please let me know i

[2016-12-02 01:48] shieldsjared commented on #4607
I wish I had good feedback for you @leram84, but I don't know much about nginx. That's a bit beyond the scope of the guide.... so if you're looking for feedback on that, I think you'll reach a wider audience on [the forums](https://forum.mattermost.org) and likely help the next guy out that has the same issue :) I sincerely appreciate all of your feedback on the guide!!

[2016-12-02 01:52] shieldsjared commented on #4607
I wish I had something insightful to add but I don't know much (read: nothing) about nginx! Sorry

[2016-12-02 11:39] fraziern commented on #4685
I'll give this a try (still getting up to speed on Golang so I may have questions 😄  ).

[2016-12-02 14:11] jwilander opened #4695 "[Help Wanted] Move instances of Client.updateTeamMemberRoles() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-02 14:14] jwilander opened #4696 "[Help Wanted] Move instances of Client.getChannel() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-02 14:15] jwilander opened #4697 "[Help Wanted] Move instances of Client.createChannel() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-02 14:19] jwilander opened #4698 "[Help Wanted] Move instances of Client.updateActive() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-02 14:21] jwilander opened #4699 "[Help Wanted] Move instances of Client.updateChannelNotifyProps() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-02 14:36] fangying commented on #1925
I followed the tutorial on https://docs.mattermost.com/install/prod-rhel-7.html
however I got the error msg, I still cannot figure it out.
[CRIT] Failed to ping db err:pq: SSL is not enabled on the server

[2016-12-02 17:15] bfontaine commented on #1723
@it33 This ticket was eventually closed as "Won’t Do" in October. Is there something planned on this subject or has it been abandoned?

[2016-12-02 17:29] m-lce commented on #1723
@it33 I am also really interested in this feature. Let us know if we can help

[2016-12-02 18:17] yangchen1 commented on #4685
@fraziern awesome! Please let us know if you have any questions, or post in pre-release. :)

[2016-12-02 18:29] cpanato commented on #4587
I can try this one, I need to know an example to make this modal

[2016-12-02 18:30] hjc1710 opened #4702 "Your Own User Should Never be the Top Mention Auto-Complete Result"
#### Summary

Ever since 3.5, every time I attempt type `@channel`, I am the first result in the mention auto-complete because my last name begins with `Ch`. I don't think your own user should EVER be the top result in the mention auto-complete.

#### Steps to reproduce

1. Make your last name or user name have a `ch` in it.
2. Begin typing `@ch` for `@channel`.
3. You are the first result and not

[2016-12-02 19:17] grundleborg commented on #4672
Thanks very much for reporting this issue with so much detail. I've been able to reproduce it and have made a ticket on the Mattermost JIRA to track the issue: https://mattermost.atlassian.net/browse/PLT-4906

[2016-12-02 19:18] cpanato commented on #4587
for this requirement: All previous uploaded files (unless accessed via the Public Link) and past conversations in the public channel will become inaccessible to users not in the channel

there are anything that clean the posts? if not how can I get a list of posts made to delete?

[2016-12-02 19:26] hjc1710 commented on #4672
Yes! That is awesome news! Thanks so much, all!

[2016-12-03 22:15] fraziern commented on #4685
@yangchen1 @jasonblais I see there is a `display_name` and a `name` (aka handle) attribute for each channel. Should there be a message displayed when either is changed, or just the `display_name`? If both, should there be different messages?

[2016-12-04 10:07] chakatz opened #4707 "Users Imported From Slack Cannot Initiate Direct Messages"
#### Summary
Users imported from Slack cannot initiate Direct Messages.

#### Steps to reproduce
- mattermost-enterprise-3.5.0-linux-amd64.tar.gz (without enterprise license)
- PostgreSQL 9.6.1

We have 75 users in our team. The first attempted import from Slack produced errors because the default maximum number of users per team is 50.
- Raised the limit per-team to 200
- Deleted the team and tri

[2016-12-04 17:25] jasonblais opened #4708 "[Help Wanted] Emoji reactions overlap the following post when they wrap to two lines"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-05 03:02] fangying commented on #643
+1

[2016-12-05 08:51] dadaxr commented on #4707
Exact same wrong behavior on our side...

[2016-12-05 19:16] lfbrock opened #4713 "[Help Wanted] Sort teams alphabetically by Display Name on Team Selection Page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-05 19:19] #4577 closed

[2016-12-05 19:21] esethna commented on #4612
Hi @Janine-Salier, closing this issue due to inactivity, please feel free to [post on the troubleshooting forum](https://forum.mattermost.org/) if you are still hitting issues.

[2016-12-05 19:21] #4612 closed

[2016-12-05 22:02] grundleborg opened #4716 "[Help Wanted] Slack Import: Add support for Slack's Markdown-like post formatting"
Slack posts can contain a limited set of Markdown-like formatting. The Mattermost Slack Importer currently parses links in this format and and translates them to Markdown when importing Slack posts. However, none of the other formatting features are supported.

A full description of the formatting supported by Slack can be found here.

The code where the existing conversion of links takes place, a

[2016-12-05 23:04] sc250024 commented on #4654
@jasonblais Desktop only, in a browser. Did not test in the desktop app / mobile version.

[2016-12-05 23:22] jasonblais commented on #4685
Hey @fraziern, an excellent question.

The help wanted issue was originally intended for `display_name` only, but I would see a lot of use cases where it would be useful to know if the `name` has changed as well (renaming the handle can brake public links, bookmarks and integrations, for instance).

[I've queued this for our UX meeting to discuss](https://pre-release.mattermost.com/core/pl/s7qo6ja

[2016-12-05 23:32] esethna commented on #4654
Thanks for the report, I am able to repro this issue, created a ticket [here](https://mattermost.atlassian.net/browse/PLT-4930). Closing to track in JIRA.

[2016-12-05 23:32] #4654 closed

[2016-12-06 13:25] XANi opened #4723 "Document return values of golang api"
Trying to write anything more advanced is exercise in frustration, most commands require digging in source code just to guess what output they return [for example](https://godoc.org/github.com/mattermost/platform/model#Client.GetProfilesInChannel) have no ducumentation saying that it returns `map[string]*User`, and that is pretty much same with every function.

Also is there a reason why every res

[2016-12-06 13:46] XANi opened #4724 "Massive memory and bandwidth usage if there is a lot of images/gifs linked in chat"
#### Summary
There is no lazy loading pf medida (gifs/etc) linked in chat ( via `![image](address)` ) so certain usage patterns cause very bad performance or experience

#### Steps to reproduce
Post this:

    ![t](http://i.imgur.com/zPg20WM.gif)
    ![t](http://i.imgur.com/ZPQGptf.gif)
    ![t](http://i.imgur.com/Zq6e3KV.gif)
    ![t](http://i.imgur.com/zqUn0zw.gif)
    ![t](http://i.imgur.com/Zu

[2016-12-06 14:47] GavBurke commented on #3254
Commenting on this as I have 3.0.0 but cannot see a fix in the release logs between 3.0.0 and 3.5, other than PLT-3273 closed as cannot reproduce.

Anyways, the issue is div settings of

`<div data-class=".app__body .attachment .attachment__container1"><style>.app__body .attachment .attachment__container {border-left-color:#1B2C3E}</style></div>`

Override the red/green colours of

`.attachment .a

[2016-12-06 19:39] fraziern commented on #4685
@jasonblais I'm happy to tackle both at once... maybe there will be some code reuse opportunities. 😄

[2016-12-06 21:14] anlutro opened #4727 "config.json type mistmatches are hard (impossible) to troubleshoot"
#### Summary
Mattermost expects config.json different values to be of certain types. If this type is wrong, you have no way of figuring out what the problem is.

#### Steps to reproduce
I'm using Mattermost 3.5.1, but probably applicable to other versions. Create a config.json with the wrong type of some value:

[code]

#### Expected behavior
I get an error message telling me which configuration v

[2016-12-06 21:39] jasonblais commented on #4685
Thanks, sounds good @fraziern! I'll let you know after our UX meeting, it's on Wednesday at 8:30am San Francisco time.

[2016-12-07 01:50] jasonblais commented on #4356
Closed via #4687, thanks @fraziern!

[2016-12-07 01:50] #4356 closed

[2016-12-07 04:52] jasonblais commented on #4171
We triaged the issue last week. You can track the status in Jira: https://mattermost.atlassian.net/browse/PLT-4844

Thanks everyone for the reports!

[2016-12-07 04:52] #4171 closed

[2016-12-07 04:55] jasonblais commented on #4188
A PR has been submitted and is undergoing dev review. https://github.com/mattermost/platform/pull/4632

@andela-rsadiq you're welcome to check our [other open Help Wanted issues](https://github.com/mattermost/platform/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20%22Help%20Wanted%22) if you're interested.

Would love to have you also [join our "Contributors" community channel](https://pre-relea

[2016-12-07 04:55] #4188 closed

[2016-12-07 05:04] jasonblais commented on #4583
Anyone interested helping with a fix?

[2016-12-07 05:07] jasonblais commented on #4589
Closed by #4639

[2016-12-07 05:07] #4589 closed

[2016-12-07 05:11] jasonblais commented on #4655
I'll close the issue here -- you can monitor the progress in Jira: https://mattermost.atlassian.net/browse/PLT-4840

[2016-12-07 05:11] #4655 closed

[2016-12-07 05:12] jasonblais commented on #4672
Thanks again @hjc1710 for the report! Really loved the detail here and it helped with reproducing the issue.

I'll close this and we can track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-4906

[2016-12-07 05:12] #4672 closed

[2016-12-07 05:16] #4659 closed

[2016-12-07 05:56] jasonblais commented on #4691
Hey @S6066, thanks for the report - do you see it consistently, or does it happen rendomly?

Which operating system and browser does this reproduce, if applicable?

Is it if you shrink the window on desktop, or do you see it on your mobile device?

[2016-12-07 06:34] cpanato commented on #4583
I can take it

[2016-12-07 12:34] XANi opened #4729 "Ability to set default notification preferences for new user"
We're hitting a problem where new users that log in first time to the service (we have LDAP-backed corporate instance so everyone's email account is company's one) complain about spamminess of default notifications.

Current defaults (notice for all activity, send email immediately) are VERY spammy with busy chats and there is no way to change it so every user needs to be trained on where to click

[2016-12-07 12:51] S6066 commented on #4691
It's random
I use Windows 10 x64 and MM app
It's on desktop, resizing the window or something does nothing
But when I don't have this bug, I don't have the "Help" button too

[2016-12-07 12:56] S6066 opened #4730 "Window going black"
Windows 10 x64, MM Entreprise 3.5.1 (MM client)
Sometimes, after my laptop wakes up from sleep, the MM app window is totally black.
I can't close the app, so I usually restart MM with the tray icon.
I don't have a screen and didn't tried anything, I'll try as soon as possible.

[2016-12-08 03:16] rock0018 commented on #2033
@artiya4u ,search simple chinese  phase with mysql.5.7.16    also work .thanks a lot

[2016-12-08 04:48] esethna commented on #4575
PR was merged, great work! Many thanks @cpanato, closing as done.

https://github.com/mattermost/platform/pull/4660

[2016-12-08 04:48] #4575 closed

[2016-12-08 13:46] debanshuk commented on #4713
I am interested in working on this ticket. Have added a comment on JIRA issue too.

[2016-12-08 13:56] hmhealey commented on #4713
@debanshuk Awesome to hear! We're looking forward to it :)

[2016-12-08 15:42] leram84 commented on #4607
ok, you guys can close this, its not going to work for me. I just found out that [MM can't run from a subdirectory](https://mattermost.atlassian.net/browse/PLT-200), and setting up a second virtual host is beyond my skill level. Thanks anyway.

[2016-12-08 16:20] jasonblais commented on #4685
Hey @fraziern:

Propose adding a system message only when the `display_name` is changed. The system message is useful in this use case as we want all channel members to be aware that the channel was renamed.

For changing the `name`, the use case is limited as most people don't need to know what the URL is.

[2016-12-08 16:20] jasonblais commented on #4685
Also, [Mattermost Holiday Hackfest](https://about.mattermost.com/hackfest/) starts today, if you're interested in participating :)

[2016-12-08 19:53] imunic commented on #4707
I investigated this a couple of days ago and didn't get to reporting it, basically the users that can't send direct messages are missing the "system_user" role.

The import procedure does not seem to add that role in any way and it is required for direct messaging and probably other things. If the role is missing when trying to initiate a direct message there is a 403 http error logged.

The fix i

[2016-12-08 20:17] yangchen1 commented on #4707
Thanks for the report @chakatz, and @dadaxr @imunic for looking into it. I've created a [ticket](https://mattermost.atlassian.net/browse/PLT-4955) for this. Are any of you (or anyone else, if you're reading this) interested in contributing a fix?

[2016-12-09 06:18] jasonblais commented on #4516
Thnaks @cpanato! Closed via #4690

[2016-12-09 08:29] spockz opened #4747 "Notifications don't respect Team Member display settings"
#### Summary
Notifications always use the username to identify the user instead of using the preference set in Team Member display.

#### Steps to reproduce
Enable notifications. Switch display preference to First+Lastname. Notifications still show the username. (Mattermost mac: 3.4.0 and 3.4.1; Mattermost team edition web: 3.5.0)

#### Expected behaviour
I expect to see the same name in the notif

[2016-12-09 09:45] dadaxr commented on #4707
Sadly not enough time in a near future to do that :(

[2016-12-09 13:24] spockz commented on #4747
This same issue also holds for join/leave notifications in the channel chat history itself.

[2016-12-09 13:54] cpanato commented on #4587
@jasonblais @jwilander can you help me on this?

[2016-12-09 14:00] jasonblais opened #4749 "[Help Wanted] Don't show (message deleted) placeholder to the user that deleted the message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:00] jasonblais opened #4750 "[Help Wanted] Add [...] menu to search results list"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:00] jasonblais opened #4751 "[Help Wanted] Add "(Edited)" indicator if a message has been edited"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:00] jasonblais opened #4752 "[Help Wanted] Create screens to edit OAuth 2.0 Applications"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:00] jasonblais opened #4753 "[Help Wanted] Create screens to edit incoming and outgoing webhooks"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:00] jasonblais opened #4754 "[Help Wanted] Add a direct message link to profile popover"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:00] jasonblais opened #4755 "[Help Wanted] Improve join/leave messages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-09 14:11] cpanato commented on #4685
can I work on this? @jasonblais
or @fraziern is working on that?

[2016-12-09 14:31] jasonblais commented on #4685
I think @fraziern started work on this :)

[2016-12-09 14:42] jwilander commented on #4587
Sorry, @cpanato missed your earlier post. If that happens again feel free to DM me on pre-release.mattermost.com

I think both 1. and 2. of your questions should be covered automatically by making the channel private. For 1. the files will automatically become inaccessible to anyone not in the channel since the permissions check for files is based on the channel the post is in. For 2. inaccessible

[2016-12-09 14:44] cpanato commented on #4587
ok, I will do some tests and proceed with the fix :) thanks @jwilander

[2016-12-09 17:11] fraziern commented on #4685
Yep should have a PR out this weekend. :)
On Fri, Dec 9, 2016 at 9:31 AM Jason Blais <notifications@github.com> wrote:

[2016-12-09 18:19] it33 opened #4756 "[Help Wanted] Unarchive channel"
People need to be able to unarchive channels and private groups

Create a new pane: **Team Settings > Administration** and add the following:

Title:
- Archived Channels

Control:
- [Selectable scrolling list of archived channels and private groups shorted alphabetically by Channel Name, 3 entries high in format `[ICON] CHANNEL_UI_NAME (CHANNEL_HANDLE_NAME)`]
- [Button: `Unarchive`]

Help text:
-

[2016-12-09 18:55] debanshuk commented on #4257
I am interested in working on the issue and am starting on it.

[2016-12-09 20:59] jwilander commented on #4756
Closing until this is thought out more

[2016-12-09 20:59] #4756 closed

[2016-12-09 21:16] yangchen1 commented on #4607
Hey @leram84, I'm so sorry for our delay in response - I can confirm we currently do not run from a subdirectory, but there is a [Uservoice feature request for it!](https://mattermost.uservoice.com/forums/306457-general/suggestions/12468372-install-mattermost-in-a-subdirectory) We welcome any community members who may be interested in working on it.

[2016-12-09 22:00] jasonblais commented on #4257
Awesome, thanks @debanshuk!

This is an involved ticket, so please don't hesitate to ask questions in our [Contributors community channel](https://pre-release.mattermost.com/code/channels/tickets). For technical advice or support, the [Developers channel](https://pre-release.mattermost.com/code/channels/developers) is an excellent resource.

[2016-12-10 03:12] it33 opened #4759 "[Help Wanted] Add System Message feedback for /expand and /collapse"
Repro:

- Type `/expand ENTER` or `/collapse ENTER`

![image](https://cloud.githubusercontent.com/assets/177788/21070824/0c5128d6-be43-11e6-9496-fc797522dcba.png)

Expected:

- System Message with either `Image links now expand by default` or `Image links now collapse by default`

Observed:

- No System Message

[2016-12-10 11:34] S6066 commented on #4691
The white bar bug occurs when the window is not maximized, shrinking or growing does nothing but maximizing it made the bar black again.
Minimizing it after that just hid the bar and the "Help" button

[2016-12-10 13:37] debanshuk commented on #4257
Hi @jasonblais,

As I understand currently in the experimental website preview feature Noembed service (https://noembed.com) is being used to scrape metadata from sites which have oEmbed metadata and are supported by Noembed service. And scraping and preview generation is happening completely at the front-end without any involvement of the backend, such that everything time a a message with a prev

[2016-12-10 16:25] kaakaa commented on #4759
I would like to do this.
But I have a question.

When user types `/expand foo ENTER`, which message should system return?
* `Image links now expand by default`
* `Image links now expand by default foo`

[2016-12-10 16:57] enahum commented on #4257
Hi @debanshuk
I think the second option makes more sense

[2016-12-10 18:48] it33 commented on #4759
Thanks @kaakaa! In this case `foo` should just be ignored.

[2016-12-10 19:06] it33 opened #4760 "[Help Wanted] "We couldn't get the post" error on emoji reactions when posting to multiple deleted posts"
#### Summary
"We couldn't get the post" error on emoji reactions when posting to multiple deleted posts

#### Steps to reproduce
1. Post a message, "adsf", then two replies, and delete the replies so the screen shows two "(message deleted)" posts.
2. Attempt to add an emoji reaction with `+:+1:`

![image](https://cloud.githubusercontent.com/assets/177788/21075475/1b46f0f2-bec8-11e6-8f3a-ad50000e4d

[2016-12-10 19:29] debanshuk commented on #4751
I am working on this issue. Also added a comment on JIRA ticket.

[2016-12-10 21:32] debanshuk commented on #4751
I am working on this issue. Also added a comment on JIRA ticket.

[2016-12-11 03:58] jasonblais commented on #4751
Thanks @debanshuk!

[2016-12-11 07:00] jasonblais commented on #4249
Closed by #4367, huge thanks @kaakaa!

[2016-12-11 18:41] jasonblais commented on #4599
Closed via #4610, thanks @fraziern!

[2016-12-11 18:41] #4599 closed

[2016-12-12 00:21] it33 opened #4765 "[Help Wanted] Editing a message doesn't update reference in reply"
Repro:

1. Post message "Blah", then a new message "Bleh", the a reply on "Blah" with "Bloo"
2. Edit "Blah to "Blah - Not updating"

Observed:

In reply message, reference still shows "Blah", it should be "Blah - Not updating"

![image](https://cloud.githubusercontent.com/assets/177788/21084799/9e40a278-bfbd-11e6-8d65-ded76979af8d.png)

If I click [...] on the "Bloo" reply, then it updates "Blah"

[2016-12-12 07:27] debanshuk commented on #4257
@enahum, Sure, I would continue the second approach.

[2016-12-12 08:16] it33 opened #4766 "[Help Wanted] Return cursor to input box after deleting a message."
Repro:

- Post a message
- Delete the message

Expected:

- Cursor returns to input box for "Write a message..."

Observed:

- Cursor DOES NOT return to input box for "Write a message..."

[2016-12-12 12:48] bjoernr-de commented on #4708
I can take care of this issue in the evening :)

[2016-12-12 14:39] jasonblais commented on #4607
Thanks everyone! I'll close this issue and we can track the feature request in Uservoice: https://mattermost.uservoice.com/forums/306457-general/suggestions/12468372-install-mattermost-in-a-subdirectory

[2016-12-12 14:39] #4607 closed

[2016-12-12 15:05] jasonblais commented on #4760
Reproduced consistently. Updated ticket to reflect and change to Help Wanted.

Also changed expected behaviour to be `Emoji reaction is added to "adsf" message`

[2016-12-12 15:10] jasonblais commented on #4682
Thanks @bagage for the report,

We have an improvement ticket where the emoji autocomplete will open only after two characters are typed. This avoid the user experience where Enter key has to be hit twice

https://mattermost.atlassian.net/browse/PLT-4950

Sounds like this would cover your use case?

[2016-12-12 15:12] jasonblais commented on #4707
No worries @dadaxr, appreciate your help participating in troubleshooting the issue.

If anyone in the community was interested helping out, please let us know.

JIRA ticket can be tracked here: https://mattermost.atlassian.net/browse/PLT-4955

[2016-12-12 15:12] #4707 closed

[2016-12-12 15:25] fraziern commented on #4558
I can take a look at this.

[2016-12-12 15:27] bagage commented on #4682
@jasonblais If "simple" smileys are single characters long it should be enough yes. But there is still some issue with emoji orders in any case:

1. Type `:p`. `:pacman:` is the first in the list.
2. Type `:pa`. `:pacman:` goes second in the list, and `:package:` goes first.

## Expected behavior

When user types and while it still matches the first entry of the list, list order should not be chan

[2016-12-12 15:39] jasonblais commented on #4682
I think that sounds like a bug. I assume `:pacman:` and `:cocktail:` are custom emoji?

Also, does the list sorting change if you type `:pac:`?

[2016-12-12 15:42] bagage commented on #4682
I could not find any letter where order changed again after 2 typed characters and only a few ones where it does after one character (namely `c, `p`, `m` and possibly 2 I forgot).

[2016-12-12 15:55] jasonblais commented on #4691
I filed a bug ticket that I found, wondering if you're seeing something similar? https://mattermost.atlassian.net/browse/PLT-4971

I'm not 100% sure if it's related, but I suspect the issue is that the "Help" button is misplaced, causing a white bar at the bottom. If so, this ticket should hopefully fix the issue.

[2016-12-12 16:56] vrenjith opened #4770 "@mention pop-up appears and gets hidden"
#### Summary
While typing @mention of a username, the pop-up window appears and then disappears. This causes a major problem in the usage because the `ENTER` key which the user usually will press to select the user from that popup results in the half typed message being sent out. Multiple users have complained about this. This started from version `3.5.0` onwards and is present in `3.5.1` too

###

[2016-12-12 16:57] jasonblais commented on #4682
I checked back with our developers and we currently limit the number of emojis we display before sorting the list, for performance.

However, when we change the emoji autocomplete to display only after two characters are typed, this bug will be resolved (ticket link here https://mattermost.atlassian.net/browse/PLT-4950).

[2016-12-12 18:31] S6066 commented on #4691
I don't think it's related.
And is it normal that if window is not maximized I don't see the help button & "XXX is typing" bar, but when window is maximized I don't see the send image button ?

[2016-12-12 18:53] ppawel commented on #3254
This was fixed with upgrading to 3.1, not sure why it's not in the change log or in JIRA though.

[2016-12-12 20:45] bjoernr-de commented on #4708
Hi @jasonblais

quick one to fix the overlapping emoji reactions. Anyway, IMHO there could be still some small design adaptions for multi-line emoji reactions - especially on mobile.
<img width="778" alt="screen shot 2016-12-12 at 21 23 37" src="https://cloud.githubusercontent.com/assets/2854699/21115490/c274109a-c0b1-11e6-827f-7f01e8029fe4.png">
<img width="322" alt="screen shot 2016-12-12 at 21

[2016-12-12 20:55] esethna commented on #4747
Thanks @spockz, there was a recent pull request merged from the community to get email and push notifications to follow the Teammate name display setting. This will be available in the January 16th release of v3.6.

https://github.com/mattermost/platform/pull/4660

[2016-12-12 21:00] esethna commented on #4730
There is a new release of the Desktop app scheduled for December 14th. Could you please attempt to reproduce using the latest release candidate: https://releases.mattermost.com/desktop/3.5.0-rc3/mattermost-desktop-3.5.0-rc3-win64.zip

If this does not solve your issue please submit the issue to the [Desktop](https://github.com/mattermost/desktop) repo as it sounds like a potential issue with the w

[2016-12-12 21:03] esethna commented on #4729
Totally makes sense, I would suggest that you please submit the idea to our [feature idea forum](https://www.mattermost.org/feature-requests/) where users can up vote and discuss. Internally we have been discussing the idea of team defaults for themes and other account settings, I think notifications makes sense too.

[2016-12-12 21:03] #4729 closed

[2016-12-12 21:06] esethna commented on #4727
Thanks @anlutro, have you taken a look at our [documentation for the configuration settings](https://docs.mattermost.com/administration/config-settings.html)? The input options and formatting is described in detail for each setting.

[2016-12-12 21:09] anlutro commented on #4727
I managed to figure out which value was causing the crash, but only by brute force trial and error. I *now* know that the email SMTP port should be a string, but the error message should be telling me that so I don't have to spend 30 minutes trying to guess what's causing the error.

[2016-12-12 21:27] esethna commented on #4727
Thanks @anlutro, makes sense, [ticket created to track in JIRA](https://mattermost.atlassian.net/browse/PLT-4974).

[2016-12-12 21:27] #4727 closed

[2016-12-12 21:32] esethna commented on #4770
Thanks @vrenjith, I can't seem to reproduce your issue with the auto-complete disappearing. Can you please help with specific reproduction steps.?

- How many characters are typed when the auto-complete closes?
- Is a keyboard action causing the auto-complete to close?
- Are you using the mouse at all when this is happening?
- What browser or Mattermost application are you using?

[2016-12-12 22:12] jasonblais commented on #4708
We'd love to take the improvement for multi-line emoji reactions that you suggested! I think that looks great!

[2016-12-12 22:19] jasonblais commented on #4682
Closing the issue, and we can track the issue in JIRA: https://mattermost.atlassian.net/browse/PLT-4950

[2016-12-12 22:25] jasonblais commented on #4661
Hey @Liquidmantis, appreciate your feedback.

It was removed as it was loading the status of all users displayed on the channel member list reducing performance. We're evaluating options to add it back.

In the meantime, would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket

[2016-12-12 22:32] #4682 closed

[2016-12-12 23:50] jasonblais commented on #4765
Thanks for finding this!

I will close this issue however and create a JIRA ticket to discuss in triage.

The reference is updated, but after a refresh. Devs are avoiding real-time updates to limit impact on performance, unless they're essential for the user experience and I'm not sure this qualifies as one.

[2016-12-12 23:50] #4765 closed

[2016-12-13 00:33] jasonblais opened #4775 "[Help Wanted] Sort teams on System Console alphabetically by Team Display Name"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-13 01:10] jasonblais commented on #4702
Hm, wondering if there would be instances where this could cause confusion?

For instance, if we had it at the bottom of the autocomplete list, your username wouldn't appear on the "channel members" section. I wouldn't expect to find it at the bottom of the "not in channel" section, which would be the case here.

Thoughts?

[2016-12-13 02:15] hjc1710 commented on #4702
Hmmmm.. that is a really good point. Does your username really need to be in the auto-complete list would be my next question?

I know I never need to mention myself, but is there some workflow I'm not thinking of where mentioning yourself is required or makes sense? I think removing it entirely is the best fit.

I really hate this idea, but maybe a setting to remove yourself from the auto-complet

[2016-12-13 04:52] jasonblais commented on #4669
I'm really sorry about the delay here.

We typically direct users to post these types of issues in [Troubleshooting forums](https://forum.mattermost.org/c/general/trouble-shoot), just because there tends to be more activity compared to GitHub.

Given the long response time, I've posted a question to the forums myself and called on the community to help. If there hasn't been a response in a couple

[2016-12-13 04:52] #4669 closed

[2016-12-13 05:49] jasonblais commented on #4702
Yes, I had a similar thought on having yourself on the autocomplete list - [I've posted a question on our UX channel to discuss, which you're welcome to participate in](https://pre-release.mattermost.com/core/pl/b66utazkejfa8k3pq7rdtbpdse).

[2016-12-13 13:06] Rudloff commented on #4663
Hello,
I'm not a native English speaker but I would like to submit a PR for this if that's OK.

[2016-12-13 13:10] Rudloff commented on #4597
I can't quite reproduce on Firefox 52.0a2 (on Linux). I get a warning about a popup window for some reason but if I allow popups it then works correctly.

[2016-12-13 13:10] jasonblais commented on #4663
Please go ahead! All yours, thanks @Rudloff! :)

[2016-12-13 17:39] it33 commented on #4756
@jwilander can you share what's not thought out?

[2016-12-13 17:58] jwilander commented on #4756
Discussion here: https://pre-release.mattermost.com/core/pl/13rfii69uidxi8mk5c46be4she

[2016-12-14 00:12] jwilander commented on #4723
Hi @XANi,

The reason for using the `*Result` interface was so that we could supply some extra information, such as the etag, with the response. That was a legacy decision that we've now realized isn't as useful as we thought it would be. We now have a policy for new additions to have at least some documentation and to return the proper models rather than a `*Result`. For example, [ListEmoji()](ht

[2016-12-14 03:19] it33 opened #4790 "[Help Wanted] Ability to crop a profile pic instead of squeezing or stretching"
#### Summary
Ability to crop a profile pic instead of squeezing or stretching

#### Steps to reproduce

Go to Account Settings > General > Profile Picture and upload a photo that is not square:

![image](https://cloud.githubusercontent.com/assets/177788/21168452/ee446168-c168-11e6-8186-68a9e754cb35.png)

#### Observed behavior

Image is scaled into a square, distorting proportions:

![image](https

[2016-12-14 05:30] vrenjith commented on #4770
* I consistently get it. I have  video recorded and I can share it. Any good way to share it?
* Just 1-3 characters is what i have observed. And this happens when you open a channel which you have not checked for a couple of minutes, pick up reply and start typing in.
* I do not use mouse at all
* I am on a Mac running Chrome

[2016-12-14 05:40] vrenjith commented on #4770
* Also happens consistently on the iPhone app

[2016-12-14 10:17] XANi commented on #4723
Is there any concrete plans for that migration ? Because just changing return value would basically break any and all software written with it. I don't really mind contributing and then fixing our bots (we have some extra inhouse LDAP integration on top of MM enterprise) but I'd imagine a lot of people would get annoyed if their bots break every time there is new version released

[2016-12-14 15:06] jasonblais commented on #4587
Hey @cpanato - here's a link to a PR that previously implemented a full-screen modal: https://github.com/mattermost/platform/pull/4046

That might be helpful when building the page :)

[2016-12-14 17:34] yangchen1 opened #4794 "[Help Wanted] Don't move the "@" sign and flag icon to the left of search bar when opening the right hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/dev

[2016-12-14 19:50] debanshuk commented on #4775
I am working on this issue.

[2016-12-14 20:04] jasonblais commented on #4775
Thanks @debanshuk :)

[2016-12-14 22:29] rriitanosri opened #4798 "Can't download or view a .png file from another user if they uploaded it from the Mac OS X MatterMost app"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Can't download or view a .png file from another user if they uploaded it from the

[2016-12-15 03:51] jasonblais commented on #4770
Hey @vrenjith, thanks for the report!

Would you like to join our [public Contributors channel](https://pre-release.mattermost.com/core/channels/tickets), where you can share the video? Would love to figure out what might be going on here.

After disappearing, does the (at)-mention autocomplete appear a moment later, so that the behaviour is something like:
  - Type "@"
  ---- autocomplete appears

[2016-12-15 04:08] jasonblais commented on #4724
Sorry @XANi for the delayed response here,

This is an excellent note and I love the details you provided! [I've posted a snippet of your report in our Developers:Performance community channel](https://pre-release.mattermost.com/core/pl/7ewd3tb8cbd7ify14aq7z38air). You're welcome to join and participate in the discussion.

[2016-12-15 07:16] jasonblais commented on #4798
Thanks for the detailed report @rriitanosri!

We just released a new version of the Desktop App, [would you like to download it and see if the issue still reproduces](https://about.mattermost.com/download/#mattermostApps)?

Also, which Mattermost server do you have? (you can find this by clicking the three-dotted Mattermost menu next to your profile picture, then "About Mattermost")

[2016-12-15 07:25] jasonblais commented on #4730
@S6066

Does the black screen appear with any other apps or just Mattermost? Do you use any video drivers like Optimus?

[2016-12-15 07:38] nickolasclarke opened #4801 "Cannot load channel messages, Uncaught TypeError: Cannot read property 'substring' of undefined"
#### Summary
Cannot load channel messages due to `Uncaught TypeError: Cannot read property 'substring' of undefined`
#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
1. Go to https://pre-release.mattermost.com
2. try to load a channel, notice red error banner that asks you to check console.
3.
#### Expected behavior

#### Observed behavior
[code]

#### Possible

[2016-12-15 07:42] vrenjith commented on #4770
The behaviour is like this @jasonblais @esethna
Type "@ren"
---- autocomplete appears
---- autocomplete reappears a moment later
Type "jith"
---- autocomplete reappears and stays

The pre-release.mattermost.com looks like taking for ever :(
Uploaded the video here - https://youtu.be/5B0t0jW0cmk

[2016-12-15 11:03] grundleborg commented on #4801
Thanks very much for reporting this bug. It should be fixed by this PR https://github.com/mattermost/platform/pull/4802 which has just been merged and will be running on pre-release.mattermost.com soon.

[2016-12-15 11:24] grundleborg commented on #4801
This is now fixed.