[2016-08-03 23:30] emmya commented on #2524
Still getting error with npm 3.10.3.

[2016-08-04 03:01] jasonblais commented on #3696
Thanks @ghidosoft and @thundo for the report!

And sorry for the delayed response here -- would anyone be interested in submitting a fix for it?

[2016-08-04 03:46] PakG1 commented on #129
@jasonblais I've upvoted that Jira ticket and am watching it.  Definitely hoping for this to be included in the next release.  :)  Here's my story if it helps.

Tried importing data from Slack into a fairly fresh instance of Mattermost.  If a channel already existed with the same name in Mattermost, the Slack data was not imported into that channel.  Sort of makes sense; importer's in beta, I'm su

[2016-08-04 05:15] jasonblais commented on #3673
Perfect thanks @contradude!

I see, so this is a problem potentially introduced with v3.2.

Wondering if you'd have access to test it on Chrome as well to see if you experience the same problem? That would pin-point if the problem is browser-specific somehow.

[2016-08-04 05:40] mattermod commented on #3726
Thanks @xiaodot for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your issu

[2016-08-04 05:43] jasonblais commented on #3700
I'm unfortunately having trouble reproducing this issue consistently, but I will create a ticket for us to investigate. It did seem to appear at one point, and we have heard a couple of other reports with a similar issue.

I will also remove the second step from these repro steps.

Thanks both @Happy-Ferret and @cgandelli for the information here, much appreciated!

[2016-08-04 19:52] contradude commented on #3673
I had tried to upload in IE and Chrome with the same outcome.

[2016-08-04 23:35] jasonblais commented on #3702
### RC has been cut!

The latest Mattermost release candidate is available here:
`http://releases.mattermost.com/3.3.0-rc1/mattermost-team-3.3.0-rc1-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](http://rctesting.reddogsofwar.com/signup_user_complete/?id=3hgfnmadrjdsier8cyqi77xnbo). Please link to issues you believe may warrant a patch (please do not post issu

[2016-08-05 01:24] grubbins opened #3745 "Specific hyperlink in post caused clients to hang"
#### Summary
Posting a specific hyperlink in a message in a channel causes the client to hang.

#### Steps to reproduce
Using mattermost 3.1.0, and a Chrome browser client or the desktop client 1.2.1 on OSX:
 + post the hyperlink below
 + channel will hang with 100% CPU usage
 + any other user who tries to browse that channel will experience the same

Normal service can be restored by:
 + manually

[2016-08-05 02:05] grubbins commented on #3745
Just upgraded to 3.2.0 and it appears to be fixed. Users are still affected until they do a full refresh of their client.

[2016-08-05 02:38] jasonblais commented on #3717
Hey @phrix32, thanks for the report! We discussed this in the UX team and removing the shadow from the close icon seems the best option here.

Would you be interested in submitting a fix for it? Would be a good opportunity for a first contribution.

[2016-08-05 02:56] jasonblais commented on #3673
Thanks @contradude!

I have filed a ticket for it [in Jira to track](https://mattermost.atlassian.net/browse/PLT-3803), with a link to this thread as well

Thanks @contradude and @itgrow-FilipeLopes for all the feedback above

[2016-08-05 02:56] #3673 closed

[2016-08-05 03:02] jasonblais commented on #3700
Added a ticket in [Jira to track](https://mattermost.atlassian.net/browse/PLT-3805), thanks again @Happy-Ferret and @cgandelli for the reports!

[2016-08-05 03:02] #3700 closed

[2016-08-05 13:06] hmhealey commented on #3745
Thanks for the report. Good to know it's already fixed by the changes made in 3.2.

Also, I've edited the bad URL out of your post just because it could be used for a DOS attack, but I've kept track of it internally so we can make sure this doesn't happen again

[2016-08-05 13:06] #3745 closed

[2016-08-05 16:47] amirbaron commented on #2524
El capitan.
Node v6.3.1
Npm 3.10.3

I got:
`cd ./webapp && /Applications/Xcode.app/Contents/Developer/usr/bin/make test
Getting dependencies using npm
npm install
npm WARN deprecated cross-spawn-async@2.2.4: cross-spawn no longer requires a build toolchain, use it instead!
npm WARN deprecated to-iso-string@0.0.2: to-iso-string has been deprecated, use @segment/to-iso-string instead.
npm WARN depre

[2016-08-05 16:55] johnjamesjacoby opened #3749 "Updating to 3.3.0 RC 1 requires cache purge in native apps"
#### Summary
Updating to 3.3.0 RC1 causes native apps to stop working.

#### Steps to reproduce
* Install Mattermost 3.2.0
* Install native app and point it to your Mattermost install
* Confirm that everything is working
* Update to Mattermost 3.3.0
* Reboot server/restart Mattermost/Do whatever you need to do
* Native apps will be in some type of broken state (white screen, partial assets, etc...

[2016-08-05 16:56] johnjamesjacoby commented on #3702
Is it okay to link new issues here? If so, I just opened #3749.

[2016-08-05 18:01] johnjamesjacoby commented on #3749
Android screenshot, to confirm version:
![screenshot_2016-08-05-11-13-58](https://cloud.githubusercontent.com/assets/88951/17445889/68794a7a-5b0c-11e6-9b5a-8a7ba9ba5caa.jpg)

Safari 10 screenshot (for macOS app):
<img width="396" alt="screen shot 2016-08-05 at 13 00 33" src="https://cloud.githubusercontent.com/assets/88951/17445935/9e63a5e0-5b0c-11e6-8506-a70f50ff7ecc.png">

[2016-08-05 18:02] johnjamesjacoby commented on #3749
Confirmed with @cgsmith that reinstalling the Android native application made it work again.

[2016-08-05 18:05] cgsmith commented on #3749
It is working fine for me now.  I'd like to request a feature to handle the error so at least it is not a white screen.

[2016-08-06 04:05] jasonblais commented on #3666
Really sorry for the significant delay here @iGEL,

I will confirm with our team and get back to you on this after the weekend

[2016-08-06 04:05] jasonblais commented on #3675
Really sorry for the significant delay here @jkae ,

I will confirm with our team and get back to you on this after the weekend

[2016-08-07 07:10] kaakaa opened #3754 "Incorrect label text for "Add Slash Command"."
#### Summary
`Response Icon` labe textl displayed in "Add Slash Command" menu is incorrect.
(Relate to [Mattermost v3\.3\.0\-rc1 · Issue \#3702 · mattermost/platform](https://github.com/mattermost/platform/issues/3702))

#### Steps to reproduce
MainMenu > Integrations > Slash Commands > Add Slash Command

#### Expected behavior
The second `Response Icon` should be `Autocomplete`.

#### Observed be

[2016-08-07 12:16] mashedkeyboard commented on #2524
Having a similar error to @amirbaron:

[code]

[2016-08-07 15:59] enahum commented on #3754
Thanks for reporting this, I have submitted a PR with the fix.

I'm going to close this, if you would like to keep track on the issue please follow the PR

[2016-08-07 15:59] #3754 closed

[2016-08-07 17:35] jasonblais commented on #3696
Ticket added to [Jira for us to track](https://mattermost.atlassian.net/browse/PLT-3826).

If anyone would like to help submit a fix, let us know!

[2016-08-07 17:48] enahum commented on #3675
Hi @jkae

It seems the problem is that you're using the `team name` instead of the `team id` in you channel create API call, try and use the Id instead of the name and it should work as expected

[2016-08-07 18:15] enahum commented on #3666
Hi @iGEL ,

it seems that the problem is the `value` for the `Times Ocurred` field which has an integer value instead of a string, if you convert that value to string, it should work as expected.

Hope this helps.

[2016-08-08 04:17] #3696 closed

[2016-08-08 05:12] jasonblais commented on #3717
I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-3838) to track the issue -- if anyone in the community would like to work on it, please let us know 

[2016-08-08 05:12] #3717 closed

[2016-08-08 05:18] jasonblais commented on #3749
Thank you for the report @johnjamesjacoby, and for your feedback @cgsmith!

I've created a ticket for us to track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-3839

Our [desktop community has been working on re-validating cache upon load to prevent this issue in the future](https://github.com/mattermost/desktop/pull/219). If you'd like, you can [download the test version for Mac]

[2016-08-08 10:33] imvetri commented on #2524
Updating npm fixed in my environment.

OS : Mac el captian
Npm Version : 2.14.7

After updating to version : 3.10.5 it got resolved.

[2016-08-08 10:52] carlj commented on #643
+1

[2016-08-08 12:13] jasonblais commented on #3702
That works perfectly @johnjamesjacoby! Thanks for the report!

[2016-08-08 19:29] jasonblais commented on #3733
Thanks for the report @gillespiec

Using GitLab SSO to connect to SAML login may not work as it requires multiple redirects on login, which is not supported.

If you would like to add it as a feature request in [our Feature Idea forum](https://mattermost.uservoice.com/forums/306457-general), I encourage you to do so.

This way it can be discussed, upvoted and prioritized for a review.

[2016-08-08 20:49] cgsmith commented on #3749
@jasonblais can you also note this down for the developers? It seems like the following might indicate a high priority on the issue.

For Android and Linux desktop (Ubuntu 16.04.1 LTS xenial - MatterMost Desktop 1.2.1) the app is pretty unresponsive. I cleared the cache and reloaded on the desktop application. Reloading the page is the only way to get new messages to come through from team members

[2016-08-08 20:51] cgsmith commented on #3749
@jasonblais perhaps this is related to socket rules? Here are console:

![imgur-2016_08_08-15 51 08](https://cloud.githubusercontent.com/assets/570018/17495778/014c7e28-5d80-11e6-8f04-59ab3f13656b.png)

This could be a red herring as well :/

[2016-08-08 22:18] jasonblais commented on #3702
### RC2 has been cut

The latest Mattermost release candidate is available here:
`http://releases.mattermost.com/3.3.0-rc2/mattermost-team-3.3.0-rc2-linux-amd64.tar.gz`

#### Approved patches for Mattermost v3.3.0-rc2

 1. [Move "Compliance and Auditing" back down under OTHER until usability issues addressed](https://github.com/mattermost/platform/pull/3751)
 2. [Fix System Console text for OAuth

[2016-08-09 01:06] johnjamesjacoby commented on #3749
In the process of diff'ing the `config.json' I somehow omitted/removed the `SiteURL` setting. I'm not sure if that would cause all of this, but my guess is Mattermost not knowing what it's own URL is will have all sorts of strange consequences.

Also probably unhelpful, after updating to RC2, I think everything else is working OK after a cache purge & refresh.

[2016-08-09 01:11] johnjamesjacoby commented on #3749
I just saw #3764 and now I don't know what is real life anymore. ¯\_(ツ)_/¯

[2016-08-09 01:17] enahum commented on #3749
This issue may be related, so I encourage you to wait a couple of days until RC3 is cut and then you can test it back and post your findings :)

[2016-08-09 12:02] jasonblais commented on #3372
Thanks @adlk! I've tested it and I haven't seen any errors in the logs so far.

Great work! Thanks for making the update!

[2016-08-09 15:11] Rudloff opened #3767 "Encoding issue in email titles"
When using the French locale, dates are not displayed correctly in email titles:
![capture d ecran_2016-08-09_17-06-17](https://cloud.githubusercontent.com/assets/840125/17521430/9a8addfe-5e53-11e6-8308-9c28f42b5213.png)
(It should be "9 Août 2016" at the end.)

The same date is displayed correctly in the email's body.

#### Summary
French dates are not displayed correctly in email titles

#### St

[2016-08-09 15:56] hmhealey commented on #3767
Hi @Rudloff,

Thanks for the report. This has actually been fixed by another community member for our upcoming 3.3 release that you'll be able to get next week.

[2016-08-09 15:56] #3767 closed

[2016-08-09 21:53] tbreier opened #3774 "Stuck in loading screen when joining team using Chrome"
#### Summary
Joining a team gets you stuck in a loading screen.

#### Steps to reproduce

Using version 3.3 RC1 - Chrome 52.0.2743.116 (64-bit):
1. Have a team that anyone on the server can join
2. Join the team on /select_team page

#### Expected behavior

The user gets added to the team and gets redirected to the team's town square.
When I use Safari 9.0.3 (10601.4.4), this works.

#### Observed

[2016-08-09 22:10] enahum commented on #3774
Hi @tbreier,

This should be fixed when RC3 is cut, can you re-test once RC3 is released?

[2016-08-09 22:26] tbreier commented on #3774
Thanks for your quick response @enahum! I will do that.

[2016-08-09 23:09] jasonblais commented on #3702
### RC3 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.3.0-rc3/mattermost-team-3.3.0-rc3-linux-amd64.tar.gz`

Updated link to testing server: [rctesting.reddogsofwar.com](http://rctesting.reddogsofwar.com/signup_user_complete/?id=iof8d6z4g7fafy1i183sr9yzde)

#### Approved patches for Mattermost v3.3.0-rc3

1. [Changed autodetection of Si

[2016-08-09 23:21] jasonblais commented on #3774
Thanks again for the report @tbreier!

[We just cut RC3](https://github.com/mattermost/platform/issues/3702#issuecomment-238720045) where this issue should be fixed.

Please let us know if the issue still occurs?

[2016-08-09 23:21] jasonblais commented on #3749
Thanks again for the report @johnjamesjacoby and  @cgsmith !

[We just cut RC3](https://github.com/mattermost/platform/issues/3702#issuecomment-238720045) where this issue should be fixed.

Please let us know if the issue still occurs?

[2016-08-09 23:37] tbreier commented on #3774
It's still happening for me @jasonblais @enahum.

I am running https://github.com/mattermost/platform/commit/805659239098a0b382a2a8bad704c2e91ab38ed6 through Docker on OS X, and it seems to be only happening in Chrome. Works fine in Safari, have not tested in other browsers.

[2016-08-09 23:40] enahum commented on #3774
weird, it does work for me in Chrome

[2016-08-09 23:46] tbreier commented on #3774
Hmm.... Do you know if there is any further data/information I could provide?

[2016-08-10 00:24] jasonblais commented on #3774
Thank you @tbreier, I was able to reproduce it on RC3 as well (on Chrome).

I've [reopened the Jira ticket](https://mattermost.atlassian.net/browse/PLT-3846), and we'll investigate it further.

Appreciate your report! Very helpful

[2016-08-10 00:56] helphi opened #3775 "can't search certain chinese words"
#### Summary
can't search certain chinese words.

#### Steps to reproduce
version3.2.0, someone send a messsage "具体情况就需要分析了，之前抓的严，大家都会去执行，我就看了下近期的大版本，执行的少" in a channel, and when i search with "具体情况" return no result.

#### Observed behavior

![image](https://cloud.githubusercontent.com/assets/6457416/17538405/a523512c-5ed7-11e6-9c7f-e08284cdc374.png)

[2016-08-10 03:37] jasonblais commented on #3775
Thanks for the report @helphi!

Please see [our documentation for supporting Chinese, Korean & Japanese search on Mattermost](https://docs.mattermost.com/install/i18n.html)

[2016-08-10 03:56] johnjamesjacoby commented on #3749
Thanks @jasonblais. I'll try RC3 and report back my findings either way.

[2016-08-10 05:15] benwilde commented on #954
I was getting the same error but realised I had 2FA setup for my gmail account, created a test gmail account and it works fine. Just in case others are trawling for resolutions on this discussion...

[2016-08-10 15:52] it33 commented on #2947
Custom emoji now available, you can add any face palm you would like

[2016-08-10 17:53] jsg2021 commented on #3406
If the "height: 110" prop is omitted, the embed looks normal :}

react component with height:
![react component with height](https://cloud.githubusercontent.com/assets/577453/17564544/4c848e7e-5ef9-11e6-9036-bf8f5d6ba3d5.png)

found height-limiting element:
![found height-limiting element](https://cloud.githubusercontent.com/assets/577453/17564543/4c7c83fa-5ef9-11e6-883b-6521ad24ac18.png)

removed

[2016-08-10 20:43] jasonblais commented on #3702
#### RC4 has been cut

The latest Mattermost release candidate is available here:
https://releases.mattermost.com/3.3.0-rc4/mattermost-team-3.3.0-rc4-linux-amd64.tar.gz

Updated link to testing server: [rctesting.reddogsofwar.com](http://rctesting.reddogsofwar.com/signup_user_complete/?id=xngdt85xzb8nxe1sbpp7ckyepo)

1. [Fix System Console > Password errors on TE](https://github.com/mattermost/pla

[2016-08-11 18:49] #3372 closed

[2016-08-11 18:49] jasonblais commented on #3666
Closing the issue for now @iGEL , please feel free to re-open if you have further questions

[2016-08-11 18:49] #3666 closed

[2016-08-11 18:50] jasonblais commented on #3675
Closing the issue for now @jkae, please feel free to reopen if you have further questions

[2016-08-11 18:50] #3675 closed

[2016-08-11 18:50] jasonblais commented on #3726
Closing the issue for now - @xiaodot if you have further questions, please let us know at the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)

[2016-08-11 18:50] #3726 closed

[2016-08-11 18:50] #3733 closed

[2016-08-11 18:51] jasonblais commented on #3774
Quick update @tbreier, we're about to cut RC5, which should fix the problem. I'll give an update once it's been done.

Thanks again for the report!

[2016-08-11 18:51] jasonblais commented on #3749
Quick update @johnjamesjacoby , we're about to cut RC5, which should fix the problem. I'll give an update once it's been done.

Thanks again for the report!

[2016-08-11 21:17] jasonblais commented on #3702
#### RC5 has been cut

The latest Mattermost release candidate is available here:
https://releases.mattermost.com/3.3.0-rc5/mattermost-team-3.3.0-rc5-linux-amd64.tar.gz

1. [Fixed endless loading in join team from invite when logged in](https://github.com/mattermost/platform/pull/3784)
2. [Update licensing switches for Office365 and Google SSO through OAuth2](https://github.com/mattermost/platform

[2016-08-11 21:57] stevekessler commented on #928
Where is this SQL being generated from? For my purpose,  I would rather just add the  ENGINE=MyISAM DEFAULT CHARSET=utf8; to the source before the database is created.

Thanks,
Steve

[2016-08-11 23:47] tbreier commented on #3774
Tested on https://github.com/mattermost/platform/commit/c6d5448c7540e06a78063b6b363b41a261fd66c3. Everything works as expected! Thank you @jasonblais @DavidLu1997 😄

[2016-08-11 23:59] #3774 closed

[2016-08-12 00:06] jasonblais commented on #3749
RC5 has been cut -- feel free to let us know if you notice anything.

A huge thanks to you and @cgsmith for reporting the issue!

[2016-08-12 01:22] johnjamesjacoby commented on #3749
Thanks @jasonblais. No issues with either 3 or 4. I'll report back if 5 gives us any grief.

[2016-08-12 01:28] cgsmith commented on #3749
This is what open source is for! Thanks for making a great product!

[2016-08-12 01:30] johnjamesjacoby commented on #3749
RC5 humming along A-OK.

[2016-08-12 02:16] johnjamesjacoby commented on #1899
@mildlyill No workaround yet, but I'm about to update to the latest version of GitLab and look into this again. I'll report back once I've made some progress.

[2016-08-12 03:07] johnjamesjacoby commented on #1899
So...

I have no idea what exactly the fix was, but updating to GitLab v8.10.5 and using Mattermost 3.3.0 RC 5, I'm finally able to successfully sign into Mattermost with our GitLab SSO.

[2016-08-12 14:07] nguyenalm opened #3791 "Error then run “make test”"
exit status 2
FAIL    github.com/mattermost/platform/api      440.065s
Makefile:157: recipe for target 'test-server' failed
make: *** [test-server] Error 1

docker version
Client:
Version: 1.12.0
API version: 1.24
Go version: go1.6.3
Git commit: 8eab29e
Built: Thu Jul 28 22:11:10 2016
OS/Arch: linux/amd64

go version
go version go1.6.2 linux/amd64
Log
https://www.dropbox.com/s/8b7ou8x01jgknif/matt

[2016-08-12 20:55] jasonblais commented on #3749
Great to hear!

Thanks @johnjamesjacoby and @cgsmith for making a difference in v3.3! Love it

[2016-08-12 20:55] #3749 closed

[2016-08-12 20:57] jasonblais commented on #3702
[Mattermost 3.3.0 has been cut](https://github.com/mattermost/platform/releases/tag/v3.3.0), official release will be August 16th.

[2016-08-12 20:57] #3702 closed

[2016-08-12 21:12] johnjamesjacoby commented on #3749
Happy to, @jasonblais! We're just getting started. 💜

[2016-08-14 17:59] unixdav opened #3799 "Lost avatar profil and custom-emoji after upgrade 3.2 -> 3.3"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
All avatar image are gone after upgrading mattermost to 3.2

#### Steps to reprodu

[2016-08-14 18:12] unixdav commented on #3799
solved.
my bad sorry,  i had a bad value in the PATH directory for "data".

[2016-08-14 18:12] #3799 closed

[2016-08-15 13:32] mattermod commented on #3791
Thanks @nguyenalm for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your is

[2016-08-15 23:25] shieldsjared opened #3810 "RHS "Recent mentions" incorrectly returns results for (at)all"
#### Summary
After selecting "recent mentions", messages are returned that include the word "all" instead of the mention "@all".

#### Steps to reproduce
Reproduced by selecting "Recent Mentions" on the main menu of the demo instance of v3.3.0 at pre-release.mattermost.org.

#### Expected behavior
Messages are returned that match the search keywords/criteria provided. In the case of "recent mentio

[2016-08-16 05:21] jasonblais commented on #3625
Hey @TheFamousPG, we've been unable to reproduce this consistently on `master` in the past few days.

Wondering if this issue might have been fixed with v3.3?

[2016-08-16 09:58] fculpo commented on #1899
I fixed it by modifying Mattermost Nginx/Apache header (i'm using the docker production setup but it applies to classic setup or Gitlab Mattermost)

From:  proxy_set_header X-Forwarded-Proto $scheme;
To:       proxy_set_header X-Forwarded-Proto https;

If you access your mattermost instance via a reverse proxy / or load balancer, and that the bundled mattermost web server is configured as http onl

[2016-08-16 13:16] johnjamesjacoby commented on #1899
That makes sense to me. We may have done the same inadvertently during an audit, not thinking it would fix this exactly.

[2016-08-16 13:20] lfbrock commented on #3791
This issue is being tracked here: http://forum.mattermost.org/t/error-then-run-make-test/2050/5

[2016-08-16 13:20] #3791 closed

[2016-08-16 13:21] #3775 closed

[2016-08-16 13:28] lfbrock commented on #3810
@lindy65, can you see if this repros for you? I don't seem to have `@all` in my recent mentions list, I don't think it should be there.

You're correct about the "@" being ignored, right now it just does a normal search and I think that ignores the `@`.  Search is something we're going to look at improving in the future, right now there are a couple issues like this because it's just doing a simpl

[2016-08-16 14:22] shieldsjared commented on #3810
@lfbrock Interesting, now that I'm at a desktop - I tried it through the windows desktop-client, and it works as expected (and also doesn't include @all).  The report was (as seen above) from IOS/Safari.  I checked this morning and it appears to be happening from both chrome and safari on my mobile device.  Sounds like this is mobile specific.

[2016-08-16 14:40] shieldsjared commented on #3810
OK, I reviewed the logic and it looks like the `channel_header.jsx` component which is seen while in a large media format and the 'sidebar_right_menu.jsx` which is seen while in a smaller media format have varied implementations of what happens when you select "Recent Mentions".  I've copied the excerpts below convenience:

File: [platform / webapp / components / sidebar_right_menu.jsx](https://gi

[2016-08-16 14:55] shieldsjared commented on #3810
Issue originally addressed on channel_header.jsx through PR #3497

[2016-08-16 15:02] lfbrock commented on #3810
Thanks @shieldsjared for tracking that down, I've opened a ticket here on the issue: https://mattermost.atlassian.net/browse/PLT-3941

If you're interested in working on a fix, please feel free!

[2016-08-17 09:33] Juburin opened #3816 "Can't send message without clicking on the button in mobile view"
Usually I have the app open in a part of my screen and therefore see the mobile view.
Since the last update I can't send message with Enter, or CTRL + Enter.
I understand if the changes where an optimization for the mobile apps, but it would be great if at least CTRL + Enter worked.

[2016-08-17 15:00] lfbrock commented on #3816
Hi @Juburin, is this something you would be interested in submitting a pull request for?

[2016-08-18 20:55] thomassross commented on #2524
Having the exact same issue as @mashedkeyboard

[2016-08-18 21:00] lfbrock commented on #2524
@thomassross, can you try posting on our [troubleshooting forums](http://forum.mattermost.org/) where more people can see it?

[2016-08-18 21:04] thomassross commented on #2524
@lfbrock Oops, I was still on tag `v3.2.0`, however on `master`, `make stop` fails with this error:

[code]

[2016-08-19 03:57] jasonblais commented on #3625
Glad to hear, thanks @TheFamousPG for confirming!

[2016-08-20 13:41] tejasbubane opened #3841 "Hindi translation"
Anyone interested in translating mattermost to `Hindi`?

[2016-08-21 05:14] jasonblais commented on #3841
We'd love to see Hindi translations in Mattermost!

You can find our [translation guide here](http://docs.mattermost.com/developer/localization.html) and I encourage you to [join the localization channel](https://pre-release.mattermost.com/core/channels/localization) if you already haven't, as there are new tools being developed to make translations easier.

We have also added Hindi in our [Matter

[2016-08-21 05:15] jasonblais commented on #3810
Thanks @shieldsjared for starting the work on this!

Please let us know if you have any questions along the way,

[2016-08-22 08:26] flix-wedo commented on #1185
Hi there, i got an issue while i´m setting up Mattermost on Debian 8. i follow the guide till "Set up NGINX Server" without any complications, but at "curl http://localhost" i got an error 502 instead of "Mattermost - Signup". did anyone know how to fix that?
i allready post that issue at the mattermost forum: http://forum.mattermost.org/t/debian-8-nginx-502-error/2045/13

[2016-08-22 08:59] gelim commented on #3816
+1
This is a regression from 3.2.0. Behavior changed by applying security update 3.3.0.

[2016-08-22 17:17] schoolph opened #3851 "Mattermost Client Package for RDS (Remote Desktop Service)"
Hi,

#### Summary
Unable to publish Mattermost application on VDI infrastructure. ( VMware Horizon 7) (RDS)

#### Steps to reproduce
Version: Mattermost Team Edition Server v3.3.0
Client: Application installed on Windows 7 and Server 2008 R2 Server

We noticed that the application doesn't get installed in Program Files Folder once it's loaded in Windows OS.

VDI Platform is not able to share the a

[2016-08-23 11:03] yurikhan commented on #3816
+1 It’s a regression, please revert the change that caused it.

Mobile users cannot solve their mobile problem by checking the “Send messages on Ctrl + Enter” in their profile settings. Meanwhile, we desktop users can’t send messages at all (except by reaching for the mouse).

[2016-08-23 12:15] yurikhan commented on #3816
As a stopgap measure, the following Greasemonkey script helps:

[code]

[2016-08-23 12:21] Rudloff opened #3859 "Username in outgoing webhook payload is ignored"
#### Summary
Mattermost 3.3.0 ignores the `username` parameter in outgoing webhooks payloads.

#### Steps to reproduce
Create a webhook that returns this simple playload:
[code]
(The test username does exist.)

#### Expected behavior
The message is posted by the test username.

#### Observed behavior
The message is posted by the user who created the webhook.

[2016-08-23 15:32] niedakh opened #3860 "Autologin via oauth"
Hello,

I'm implementing an oauth plugin for Mattermost and I'm having trouble setting up autologon. If I click the button - login works, but what I want is to have no login screen at all.

I'm trying:
[code]

But every so often - and I can't nail it down to a reason - I'm getting redirected to: http://HOST/api/v3/oauth/engine/error?link=%2F&linkmessage=Back+to+Mattermost&message=The+page+you+were

[2016-08-23 15:51] farahfa commented on #1899
@fculpo: Did you add that to mattermost_nginx ? or gitlab's nginx?

[2016-08-23 17:34] johnjamesjacoby commented on #1899
@farahfa Maybe both, maybe neither. Totally depends on your setup.

In our case, our GitLab server does not sit behind the load balancer, but our Mattermost server does. This is because we didn't want the load balancer worrying about balancing `git` traffic, not yet anyway.

So for us, both our load balancer and our GitLab server automatically 301 redirect non-HTTPS traffic to an `https://` URL. F

[2016-08-23 17:37] johnjamesjacoby commented on #1899
@mildlyill Since updating to latest versions of GitLab, Mattermost, Nginx, and Ubuntu 16.04 on both servers, we have yet to see any recurrence of this issue. It's a lot of work, but I think my next suggestion is to get everything up-to-latest, pray for rain, and comment back here if there's no joy.

[2016-08-23 17:43] farahfa commented on #1899
Thank you @johnjamesjacoby for the information, our setup is as follows, both Gitlab and Mattermost are behind ELBs and the HTTPS is handled from the ELBs. Also our Gitlab's version is `8.10.7-ee.0` ...

Gitlab is an omnibus installation, and my `gitlab.rb` (related to this) is as follows:

[code]

[2016-08-23 17:56] farahfa commented on #1899
Okay so I noticed that `"X-Forwarded-Proto" => "https",` from my `gitlab.rb` file **does not** work!! Like, `X-Forwarded-Proto` in `gitlab-mattermost-http.conf` (which is usually located in `/var/opt/gitlab/nginx/conf/`) looks like this:

[code]

So, I manually changed that to `https` and it worked.. However now I'm getting `Token request failed` after "Authorizing".. 😢 😭

[2016-08-23 18:08] johnjamesjacoby commented on #1899
@farahfa You're welcome. I'll continue trying to help, based on our currently functioning setup.

Keep in mind, our infrastructure setups are a bit different. Here is ours, for context:

* 1 (very capable) nginx load balancer
* GitLab 8.11 Community Edition (Installed from source, not behind the LB)
* Mattermost 3.3.0 (Installed from source, behind the LB)

My best guess recommendation would be to

[2016-08-23 18:20] johnjamesjacoby commented on #1899
Something that's also easy to forget, after these configuration changes, remember to restart/reload the related services so that your changes take effect.

I'd even go as far as cleaning out cookies and local storage in your browser for both. We've seen intermittent cache weirdness in Mattermost after updates, and there are so many dependencies and moving parts that it's not immediately obvious if

[2016-08-23 18:25] farahfa commented on #1899
Yeah, I keep on restarting nginx everytime I do a manual change.. But still no luck. My problem now is different than OP's so maybe it's better to open a new issue rather than hijack this one.. I really do appreciate your help @johnjamesjacoby . 😄

[2016-08-24 06:09] fculpo commented on #1899
Great !

My setup is the following:
Gitlab Omnibus without Mattermost (Docker)
Mattermost stand alone + nginx webserver (Docker)

Both behind an nginx reverse proxy

I modified the $scheme from the nginx webserver serving mattermost (so the last one in the chain), because this one is configured to listen only in http, but nees to talk to gitlab as if it served https.

A clarified official document

[2016-08-24 07:26] jdshkolnik opened #3869 "Can't post from TFS using Slack webhook via HTTP"
#### Summary
Attempting to post a message to a Mattermost channel from TFS 2015 Update 3 via HTTP results in an error stating HTTPS is required.

#### Steps to reproduce
TFS 2015 Update 3 & Mattermost Team Edition v3.2.0. Both are in the same domain.

#### Expected behavior
Describe your issue in detail

#### Observed behavior
![image](https://cloud.githubusercontent.com/assets/2047520/17921902/38

[2016-08-24 07:59] it33 commented on #3869
Hi @jdshkolnik,

I could be reading this wrong, but it looks like it's TFS that's requiring HTTPS.

My guess is Slack is always HTTPS, so TFS never implemented support for HTTP.

Maybe use Let's Encrypt to setup HTTPS for Mattermost to get past the TFS error?

[2016-08-24 08:40] TheFamousPG opened #3870 "Custom emoticon not working "sometimes""
#### Summary
Custom emoticon not working "sometimes".
I have a bot who check some information and I created some emoticons :
https://gyazo.com/8967b1587ef1b0d096c1fc4c0b19551a

And **sometimes**, when the bot display the msg (every day at 10:00 am) emoticons won't appear.
I have to refresh manually the page to display it correctly.
https://gyazo.com/a02b6dc80c52d3b6886d9e22a5f575c6

#### Steps to

[2016-08-24 12:57] lfbrock commented on #3816
This is fixed on master and will be in the next release (September 16)

[2016-08-24 12:57] #3816 closed

[2016-08-24 12:58] #3810 closed

[2016-08-24 13:00] lfbrock commented on #3859
Hi @Rudloff - can you confirm that your Mattermost instance is set to [allow webhooks to override usernames](https://docs.mattermost.com/administration/config-settings.html#enable-webhooks-and-slash-commands-to-override-usernames)? Is it working properly for incoming webhooks?

[2016-08-25 00:28] esethna commented on #3870
Thanks for the report! We have an [open issue](https://mattermost.atlassian.net/browse/PLT-3711) to fix the manual refresh with custom emoji. Closing to track in JIRA.

[2016-08-25 00:28] #3870 closed

[2016-08-25 00:40] enahum commented on #3860
Hi @niedakh

It seems that you're hitting the error page cause React Router cannot find a suitable route, so you should use `window.location.href` instead of `browserHistory.push` that way React router won't try and find a suitable route.

Hope that helps

[2016-08-25 06:36] DeltaLikeM opened #3879 "switching off Email notification resets the theme"
#### Summary
Switching off the email notification as a user in the account settings will reset your theme

#### Expected behavior
I expected the theme to stay the same

#### Observed behavior
the theme switched to the default mattermost theme from mattermost dark

[2016-08-25 12:47] hmhealey commented on #3879
Hi @DeltaLikeM,

Thanks for the report! What version of Mattermost are you using (as shown in the main menu > About Mattermost)? And if you open the Javascript console on Chrome (by hitting F12), are any errors being printed?

[2016-08-25 13:34] Freshwood opened #3880 "IncomingRequest produces => err=model.post.is_valid.props.app_error"
#### Incoming request produces error => err=model.post.is_valid.props.app_error
Hello everybody!
I was working on an integration for slack and mattermost. You can see the tool here:
https://github.com/Freshwood/matterbridge

The slash commands from the other integrations just working fine, but I have massive problems with the message attachments in Mattermost.
We are using the newsriver integratio

[2016-08-25 15:53] esethna commented on #3851
Thanks! This is something we currently do not support, I'd encourage you to [contribute a feature idea](https://www.mattermost.org/feature-ideas/) so others can discuss and up vote.

[2016-08-25 15:53] #3851 closed

[2016-08-25 15:58] esethna commented on #3860
Thanks @niedakh, thanks @enahum. If you're still having issues I'd recommend posting on the [peer-to-peer developer forum](https://forum.mattermost.org/c/dev) since this is actually outside the scope of our platform.

[2016-08-25 15:58] #3860 closed

[2016-08-25 18:43] ar-dia opened #3882 "Text containing dash followed by digits does not show up in search"
#### Summary
A text containing a dash followed by digits (such as found e.g. in JIRA issues) cannot be found during search.

#### Steps to reproduce
Create the following 3 posts:
- https://mattermost.atlassian.net/browse/PLT-3699
- PLT-3699
- [PLT-3699](https://mattermost.atlassian.net/browse/PLT-3699)

Then search for PLT-3699 (or "PLT-3699" or "PLT-3699*" or "*-3699" does not matter).

#### Expe

[2016-08-26 15:04] jsg2021 opened #3884 "Push Notifications should dismiss/disappear when read on another device."
Sorry if this is a duplicate. I searched for something similar and couldn't find.

Mattermost Server 3.3

#### Summary
Push Notifications should dismiss when read on another device.

#### Steps to reproduce
Have notifications on your phone
Read your messages on the desktop.
the notifications do not go away automatically.

They should go away if you read your messages on other devices. (like other

[2016-08-29 00:22] cybershambles opened #3892 "Inconsistent Channel-info order"
#### Summary
"Set a Header" & "Invite others to this channel" are swapped on new channels vs town-square.

#### Steps to reproduce
Create new channel.
compare the channel-info header.
invite is the primary on town-square...

#### Expected behavior
Same layout on all templates/channels.

[2016-08-29 07:53] cybershambles commented on #3892
<img width="354" alt="screen shot 2016-08-29 at 5 52 44 pm" src="https://cloud.githubusercontent.com/assets/7995198/18044479/720b76a4-6e11-11e6-8f85-dd0be9a333f3.png">
<img width="364" alt="screen shot 2016-08-29 at 10 10 37 am" src="https://cloud.githubusercontent.com/assets/7995198/18044481/7572664a-6e11-11e6-82a1-1c9e04128a36.png">

[2016-08-29 07:55] cybershambles commented on #3892
The "invite into team" vs "invite into channel" is the logically difference.

but the requirement for an invite others to this team being in a weird place is also just a UX choice.

[2016-08-29 09:12] Rudloff commented on #3859
Yes, EnablePostUsernameOverride is set to true.
I don't have any incoming webhook, si I can't test them.

[2016-08-29 15:18] Rudloff commented on #3859
Sorry, it seems I forgot to restart Mattermost after I changed the setting.
It does work now.

[2016-08-29 15:18] #3859 closed

[2016-08-29 19:33] jasonblais commented on #3884
Thanks @jsg2021 for the report!

We've actually got a PR submitted to improve this behaviour where push notifications are cleared after viewing the channel https://github.com/mattermost/platform/pull/3834

It is currently undergoing testing, and is a potential candidate for Mattermost 3.4. If you'd like to [test the PR](https://github.com/mattermost/platform/pull/3834#issuecomment-242487253), that

[2016-08-30 08:06] MaxBG92 opened #3902 "While in chat is in compact mode Enter does not send"
#### Summary
While in compact mode Enter does not send a message regardless of settings.

#### Steps to reproduce
![screen shot 2016-08-30 at 11 01 15 am](https://cloud.githubusercontent.com/assets/11785259/18081234/c540e580-6ea1-11e6-88b0-384a51fc5f60.png)
Version: 3.3.0
Open any channel or direct message thread.
Reduce the window's width until the sidebar gets hidden (this is what I refer to as

[2016-08-30 09:35] gfgqtmakia opened #3903 "rtl/native direction support"
While writing in rtl languages (e.g hebrew, arabic) the text is aligned to the left, which is ok i guess, but if you combine hebrew and english then it is all printed backwards.

Is it possible to auto detect the writing direction (like gmail) or enable toggling rtl/ltr direction and alignment (like MS word)?

THX!

[2016-08-30 12:20] jasonblais commented on #3902
Thanks @MaxBG92 for the report!

@R-Wang97 helped fix the issue with a [recent pull request](https://github.com/mattermost/platform/pull/3833) and it should be fixed with Mattermost v3.4

[2016-08-30 12:20] #3902 closed

[2016-08-30 12:23] jasonblais commented on #3903
Thanks @gfgqtmakia for the feedback!

We have an existing feature request to [implement automatic right-to-left (RTL)](https://mattermost.uservoice.com/forums/306457-general/suggestions/15008277-implement-automatic-right-to-left-rtl).

I encourage you to upvote the feature, and add your feedback as well, so it can be discussed by the community and prioritized against other feature requests.

[2016-08-30 12:47] jasonblais commented on #3892
Thanks for the report @cybershambles!

I've [queued this for an upcoming UX meeting](https://pre-release.mattermost.com/core/pl/tjdx3hxjufba88dwmrf5nrkoga) - if you'd like to add any further feedback, you're welcome to join the `UX Design` channel in our [daily built Mattermost instance](https://pre-release.mattermost.com/signup_user_complete/?id=b8230f359369ed80c46ecb8696901b3e).

There's other r

[2016-08-30 13:02] Rudloff opened #3906 "HTML entities in e-mail title"
#### Summary
I get HTML entities when there is `&` in an e-mail title:
![capture d ecran_2016-08-30_15-00-16](https://cloud.githubusercontent.com/assets/840125/18089917/7de4df2c-6ec2-11e6-913c-1567dfaaeeaf.png)

#### Steps to reproduce
1. Create a team with `&` in the title.
1. Send a notification.

#### Expected behavior
`&` is displayed correctly.

#### Observed behavior
`&` is displayed as `&am

[2016-08-30 14:34] jovandeginste commented on #1918
I confirm this is fixed :-) (a little late to the party)

[2016-08-31 00:12] jasonblais commented on #3882
Thanks for the report @ar-dia!

Which Mattermost server are you using? I was testing it out on Mattermost 3.3 (Windows 10, Chrome), and the search results seem to come up correctly. We've

![image](https://cloud.githubusercontent.com/assets/13119842/18111392/55a4464e-6eed-11e6-92a0-1544d3857fb9.png)

![image](https://cloud.githubusercontent.com/assets/13119842/18111399/5f610ff0-6eed-11e6-9c66-65c6

[2016-08-31 08:02] cybershambles opened #3914 "[infoleak] Email addresses leaking from Team"
#### Summary
The admin has disabled the ability disable visible emails from regular users. I can easily get access to all of the emails of the people on a team.

#### Steps to reproduce
Pending review from security team.

#### Expected behavior
Emails restricted from users.

[2016-08-31 08:03] #3914 closed

[2016-08-31 11:26] ar-dia commented on #3882
Before I posted, I actually was unsure what version we use (I knew that we used version 3.0 a couple of months ago) and looked in https://docs.mattermost.com/administration/changelog.html for "search" and did not find anything, so I posted the report.
But now I checked and we indeed use version 3.3.0 with the default PostgreSQL DB. I tested with Electron and Chrome on Windows 7.
![mattermost-scree

[2016-08-31 13:00] luisclaudiogama commented on #1806
My Notifications is OK at Firefox only WITHOUT icon...the notifications with icon works fine in Chrome but not at Firefox...I´m using Linux.

			function notify(str) {
			    Notification.requestPermission(function() {
			        var notification = new Notification("SaborDelivery", {
			        //    icon: "<?php echo base_url()?>images/marca_sabor.png",
			            body: str
			        });

[2016-08-31 16:59] jdoubleu commented on #1899
Originally everything worked fine for me. After a few updates of both GitLab and Mattermost the authentication broke.
I tried a lot as described before but it didn't helped.

First of all, _My Setup_:
I'm Running GitLab and Mattermost inside docker containers behind a reverse proxy.
The reverse proxy has access to certificates so I can access both via HTTPS. The proxy communicates via HTTP with th

[2016-09-01 11:00] blackdruid opened #3928 "Switching tabs in Account Settings causes ECMAscript errors"
When clicking on "Display" or "Layout" tabs under Account Settings a Javascript exception is raised:

After exception occurs none of the tabs work (_li_ elements under _settings-links_ div). This occurs regardless of browser used (tested on IE 11 and Chrome v48), even reproducable in Windows client. Issue is reproducable on latest 3.3.0 release and latest unstable.

## Reproduction steps:
1. Insta

[2016-09-01 11:58] marco-a-itl opened #3929 "inserting code blocks using keyboards without backtick key"
#### Summary
For users having keyboard without backtick key (ASCII 96) inserting code blocks (which have to be sorrounded by ```) is really uncomfortable, since you have to type ALT-96 multiple times. A "insert code" button (in addition to markdown characters) would be very helpful. For consistency, the same could be applied to the rest of formatting options: bold, italic, strike, inline code, pre

[2016-09-01 18:48] jasonblais commented on #3880
Thanks @Freshwood for the report (and love the work you've done with [matterbridge](https://github.com/Freshwood/matterbridge)!). Sorry for the delayed response here,

We currently don't support message attachments of outgoing webhooks - we have a ticket to fix the issue [here](https://mattermost.atlassian.net/browse/PLT-3658), and a list of known Slack comptability issues [here](https://docs.matt

[2016-09-01 18:49] jasonblais commented on #3892
Hey @cybershambles, we've added a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-4042) to track it, please let us know if you'd like to work on it :)

[2016-09-01 18:49] #3892 closed

[2016-09-01 18:51] jasonblais commented on #3903
Closing the issue, if others have further feedback, feel free to add your notes to the [feature idea post](https://mattermost.uservoice.com/forums/306457-general/suggestions/15008277-implement-automatic-right-to-left-rtl).

[2016-09-01 18:51] #3903 closed

[2016-09-01 22:32] jasonblais commented on #3929
Thanks for the feedback @marco-a-itl!

We have an [existing feature request](https://mattermost.uservoice.com/forums/306457-general/suggestions/10672527-advanced-message-rich-text-editor) to add an advanced message text editor -- I encourage you to participate in the discussion and upvote the feature.

[2016-09-02 05:11] Freshwood commented on #3880
Hi jasonblais,
thank you for your friendly response. :+1:
I already know the issue about the missing message attachment functionality for outgoing webhooks and slash commands. ;)
But in my case the service is sending a complete new request via (IncomingRequest) to the mattermost instance.

Current Workflow:
* User send a slash command from **mattermost** to _matterbridge_
* The _matterbridge_ serv

[2016-09-02 06:29] cybershambles commented on #3892
Thanks @jasonblais.. https://github.com/mattermost/platform/pull/3935

[2016-09-02 07:06] marco-a-itl commented on #3929
Ok, thanks. That would solve my problem. I've voted the feature.

[2016-09-02 13:50] lfbrock opened #3937 "Mattermost v3.4.0 - RC3"
This is a meta issue for v3.4.0 release updates.

The release candidate will be cut on **September 6 (Code Complete)**, and the final release will be available September 16.

After the release candidate is cut, the following links will be added here for those who want to test it out:

- Download link to release candidate
- Testing server
- [Changelog Draft](https://github.com/mattermost/docs/pull/

[2016-09-02 13:52] megapctr commented on #2676
Sorry to dig this up, do you think it would make sense to add a concept of a _default_ or a _main channel_? That way we avoid hardcoding a channel id, while still having a safe place to redirect to.

[2016-09-02 15:10] NilSet opened #3939 "Edit post interface eats leading spaces"
When editing a post, any leading spaces will be removed. This is a problem when trying to escape markdown.

#### Steps to reproduce
version 3.3.0
1\. Post the following
[code]
2\. Edit the post to the following
[code]

#### Expected behavior
Both versions display as code blocks showing the raw markdown due to the indentation

#### Observed behavior
After editing, it renders as a latex expression b

[2016-09-02 18:18] jasonblais commented on #3929
Awesome, thanks @marco-a-itl!

[2016-09-02 18:18] #3929 closed

[2016-09-02 18:20] jasonblais commented on #3928
Hello @blackdruid, we're having trouble reproducing the issue you've described.

We have a community site for a daily built Mattermost instance. Wondering if you'd be able to sign up there and see if the issue reproduces?

[2016-09-02 18:32] jasonblais commented on #3882
Great, thank you @ar-dia! I was able to reproduce this on Postgres, have created a ticket for us to track in Jira https://mattermost.atlassian.net/browse/PLT-4060

[2016-09-02 18:32] #3882 closed

[2016-09-02 19:28] jasonblais commented on #3879
Hi @DeltaLikeM, we haven't received an update for more than 7 days so we will assume that the
problem is fixed or is no longer valid.

If you still experience the same problem try upgrading to the latest version.

If the issue persists, you may reopen this issue and we'd be glad to help you out.

[2016-09-02 19:28] #3879 closed

[2016-09-02 20:19] lfbrock commented on #2676
@megapctr - is there a reason you would want to have a default channel instead of just being able to change the URL for town square?

Also feel free to [sign up for our daily builds server](https://pre-release.mattermost.com/signup_user_complete/?id=b8230f359369ed80c46ecb8696901b3e) and come join our [UX Design](https://pre-release.mattermost.com/core/channels/ux-design) channel if you'd like to d

[2016-09-02 20:29] lfbrock commented on #3906
Hi @Rudloff, [this was brought up before](https://mattermost.atlassian.net/browse/PLT-1717) but it didn't look like an easy fix - if you (or anyone else) can figure out how to fix it, please let us know!

[2016-09-02 21:24] jwilander commented on #3880
Hi @Freshwood,

The `Props` field you see is our property bag on the Post struct for holding miscellaneous data about the post. We have a cap on the size of it to be 8000 characters when converted to JSON. When Mattermost receives an incoming webhook request, it puts the attachment field into the Props of the post. So it looks like your attachment is considered too long.

It's probably fine for us

[2016-09-02 21:37] megapctr commented on #2676
I guess that the channel url is some sort of an id. Changing an id not a good idea, as other things may depend on them (db table relations for example). Because of that, a "default channel" flag would make more sense architecture-wise.

[2016-09-02 22:16] jasonblais commented on #3884
Circling back,

In v3.4, push notifications should now clear on the Android app if you read messages on the desktop.

This won't however work yet in iOS. There's some functionality we'll need in the upcoming iOS 10 release for it to work properly, but we're considering to work on it once a stable version of iOS 10 is out.

Closing the issue for now, thanks for reaching out @jsg2021!

[2016-09-02 22:16] #3884 closed

[2016-09-03 06:48] blackdruid commented on #3928
Hi @jasonblais, I've created an account at [daily built Mattermost instance](https://pre-release.mattermost.com). Unfortunately I was not able to reproduce the issue.

Our Mattermost instance is running inside a VirtualBox instance of Debian 8.5.0 in a Windows 7 host. Your guide available [here ](https://docs.mattermost.com/install/prod-debian.html) was used to get it running. Port 8065 is forward

[2016-09-03 08:48] Freshwood commented on #3880
Hi @jwilander,

thanks for your technical feedback.
In the meanwhile I testing the workaround with the splitting messages.
I'll give you a feedback!

Greetz,
Freshwood

[2016-09-03 12:26] jdoubleu opened #3944 "Mattermost generates wrong redirect uri for SSO authentication"
Maybe it's a bit late but the bug still exists.

There was a long issue about a bug where singing-in into Mattermost through GitLab doesn't work if Mattermost is behind a reverse proxy and this proxy communicates with HTTP with Mattermost while the user is facing the page with HTTPS (because the proxy support SSL). You can read it [here](https://github.com/mattermost/platform/issues/1899).

First

[2016-09-04 15:35] mizhgan commented on #3928
Hello.
I can confirm this issue.
In my case mattermost latest 3.3.0 release runs on barebone debian server through nginx proxy.
And behavior is the same as submitter says:
1. After loading the mattermost web gui in Chrome - Uncaught TypeError: Cannot read property 'url' of undefined exception in the cosole
2. After clicking on Account Settings and click on Display - Uncaught TypeError: Cannot read

[2016-09-04 18:54] shieldsjared commented on #3869
@jdshkolnik - take at look at this plugin for TFS. It may be more lenient with SSL as a requirement: https://github.com/kria/TfsNotificationRelay

[2016-09-04 20:35] Dave3o3 commented on #1185
Hi everyone,
with a strange mix of the solutions mentioned by @yuki , [howtoforge](https://www.howtoforge.com/tutorial/install-mattermost-with-postgresql-and-nginx-on-centos7/) (yes it's originally written for CentOS but it helped anyways; especially the permissions/root part) and the [certbot docs](https://certbot.eff.org/all-instructions/#debian-8-jessie-nginx) I was able to get my setup to prod

[2016-09-05 11:24] Rudloff commented on #3906
This seems to be enough to fix it:
[code]

[2016-09-05 11:30] Rudloff opened #3953 "Empty page when JavaScript is disabled"
#### Summary
When JavaScript is disabled, Mattermost returns an empty HTML page.

#### Steps to reproduce
Browse to your Mattermost team with a browser that does not support JavaScript (e.g. Lynx).

#### Expected behavior
It would be nice to at least have a message explaining that Mattermost needs JavaScript in order to work correctly.

#### Observed behavior
A totally blank page.

#### Possible f

[2016-09-05 11:39] DarckCrystale opened #3954 "Channel stuck on the Loading gif, JS errors"
#### Summary
Since yesterday, I could not join a channel in our Mattermost.
I can see other channels like usual, only one of them is "broken".

#### Steps to reproduce
**Version:** Mattermost Team Edition Version: 3.3.0
**Database:** postgres
**Server OS:** Debian (don't remember the version)
**Client OS:** Linux Ubuntu 14.04
**Client Browser:** Firefox 48.0
The other users don't have the problem,

[2016-09-05 11:43] shieldsjared commented on #3906
@Rudloff I was about to issue concern about converting to UTF-8 character set, but after looking at the [SendMail routine](https://github.com/mattermost/platform/blob/master/utils/mail.go#L116), it looks like it's already setup to handle the B64 encoding required to handle UTF-8 in the subject line. Looks like the fix above would be sufficient, indeed!

+1

@lfbrock - When this was previously look

[2016-09-05 20:10] Eng3l opened #3956 "filter out offensive words"
Maybe this is a feature request but I need to filter out offensive words and replace those words for others like &$$@*!!.
The thing is that I have this platform in my company and we want to avoid all kind of awkward situations generated by those words.

[2016-09-06 15:01] lfbrock commented on #3956
Hi @Eng3l - can you add that as a [feature request](https://www.mattermost.org/feature-ideas/) so we can track it with the rest of our feature ideas?

[2016-09-06 15:05] lfbrock commented on #3954
Hi @DarckCrystale - Can you try going to Account Settings > Advanced > Enable Post Formatting and setting it to "Off"?

Then see if you're able to access the channel. If you can access the channel, can you look to see if there are any recent posts containing any links or strange formatting? If there are, can you test if deleting the post fixes the issue, and if it does, let us know the format of t

[2016-09-06 15:06] lfbrock commented on #3953
Hi @Rudloff, is this something you would be interested in submitting a fix for?

[2016-09-06 15:18] lfbrock commented on #3944
Hi @jdoubleu - thanks for filing something on this, I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-4078) for someone to go look at it.

If it's something you're interested in submitting a fix for, feel free to [sign up for our daily builds server](https://pre-release.mattermost.com/signup_user_complete/?id=b8230f359369ed80c46ecb8696901b3e) and join the [Developer channel]

[2016-09-06 15:22] lfbrock commented on #3939
Thanks @NilSet - I've created a Jira ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-4079

If anyone is interested in submitting a fix for this, please let us know!

[2016-09-06 15:27] Rudloff commented on #3953
Yes, I can submit a pull request for this.

[2016-09-06 16:00] lfbrock commented on #3906
@sheildsjared, I'm not sure - I think it was originally looked at a while ago so it's possible, I was just going off of what was written when the ticket was closed. I've reopened the ticket and included a link to this post, if anyone is interested in working on a fix please feel free!

[2016-09-06 16:18] DarckCrystale commented on #3954
Hi @lfbrock!
### Yesterday:
- after a few moment, the problem disappears. Maybe the problematic message is not loaded anymore because of our flood in the channel, so the problem is hidden.

### Today:
- I do not have the option "Enable Post Formatting" in my settings (see bellow)
![capture du 2016-09-06 18 12 09](https://cloud.githubusercontent.com/assets/13867472/18281568/88986916-745d-11e6-9093-

[2016-09-06 18:18] lfbrock commented on #3954
@DarckCrystale - sorry my mistake, in v3.3 you need the System Administrator to temporarily turn on "Developer Mode" in the System Console for the "Enable Post Formatting" setting to appear.

[2016-09-06 18:33] grundleborg opened #3973 "Links to public channels sometimes break the client."
This one is a bit hard to reproduce consistently, but I think I have figured out steps that work - see below.

If I paste a link to a public channel in chat, e.g. https://pre-release.mattermost.com/core/channels/public-test-channel and then someone who is not a member of that channel (could be me, could be someone else) clicks on it, sometimes it takes out the client with javascript errors rather

[2016-09-06 22:00] jdshkolnik commented on #3869
@shieldsjared I will check it out. Thank you.

[2016-09-06 22:00] #3869 closed

[2016-09-07 08:51] DarckCrystale commented on #3954
Ok, thank you! I have enabled it, and disabled the post formatting. So, I tried to locate the exact place where the error is coming from.

### Scenario
Open a message posted around the problem with its permalink.
Click to "Load more messages"

### Excepted behavior
Messages are loaded

### Observed behavior
Even with post formatting disabled, an error message is displayed
![capture du 2016-09-07 1

[2016-09-07 13:04] lfbrock commented on #3937
## RC3 has been cut!

**Linux Download Links**

Team Edition: http://releases.mattermost.com/3.4.0-rc3/mattermost-team-3.4.0-rc3-linux-amd64.tar.gz
Enterprise Edition: http://releases.mattermost.com/3.4.0-rc3/mattermost-enterprise-3.4.0-rc3-linux-amd64.tar.gz

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?id=

[2016-09-07 17:53] CometKim opened #3986 "Makefile is not available"
#### Summary
Makefile is not available now because the osixia/openldap:1.1.2 image has been removed from docker hub.

#### Possible fixes
Please change the tag of osixia/openldap to 1.1.6 or latest

[2016-09-07 17:56] jtdaugherty opened #3987 "Emote messages do not support Markdown due to implicit formatting"
#### Summary
Emote messages (`/me`) are delivered to the client with an implicit `*...*` wrapping, meaning that users cannot use `*...*` or other syntax in emotes without also accounting for the enclosing `*...*`.

#### Steps to reproduce
On receiving an emote message, note that the text has been embellished with `*...*`.

#### Expected behavior
The expected behavior is that the formatting of an e

[2016-09-08 11:56] canhlinh opened #3993 "Leak goroutine"
#### Summary
Maybe leak goroutines.
I see in the code https://github.com/mattermost/platform/blob/master/api/post.go#L244
`if result := <-tchan; result.Err != nil {
    return
}
`
In  function `handlePostEvents`
If has error at tchan so `cchan` and `uchan` will never be free.

#### Steps to reproduce
Every one can check number of goroutine after the function `handlePostEvents` out

#### Expected b

[2016-09-08 14:44] hmhealey commented on #3993
Hi @canhlinh,

Thanks for the report, but luckily we aren't leaking any memory in the scenario you described. We don't leak goroutines in any of the store functions because we only pass a single object through each StoreChannel meaning they will never block. And then even though we don't read from `cchan` and `uchan`, Go's garbage collector will still free them after they go out of scope. I wrote

[2016-09-08 15:12] lfbrock commented on #3937
## RC4 has been cut!

**Linux Download Links**

Team Edition: https://releases.mattermost.com/3.4.0-rc4/mattermost-team-3.4.0-rc4-linux-amd64.tar.gz
Enterprise Edition: https://releases.mattermost.com/3.4.0-rc4/mattermost-enterprise-3.4.0-rc4-linux-amd64.tar.gz

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?i

[2016-09-08 15:19] lfbrock commented on #3987
Hi @jtdaugherty,

We do have a ticket to [update the formatting of /me messages](https://mattermost.atlassian.net/browse/PLT-2436) to make them look more like System Messages (which are faded our and grey, like the example below).

<img width="288" alt="screenshot 2016-09-08 11 17 00" src="https://cloud.githubusercontent.com/assets/9354841/18355023/d40009b4-75b5-11e6-9ae2-46ecd9217666.png">

I thi

[2016-09-08 16:20] jtdaugherty commented on #3987
@lfbrock Interesting. While that change might coincidentally help, it depends on how it's implemented. My ticket is about requesting that any formatting of `/me` messages is done *client-side only* rather than server-side as is done right now.  The ticket you mention doesn't say anything about the server-side behavior, just the message presentation.  If the formatting is done client-side only, cli

[2016-09-08 16:21] jtdaugherty commented on #3987
(Unless "creating a new post type" means doing what I'm proposing; I'm not sure, though.)

[2016-09-08 16:37] hmhealey commented on #3987
Yep, what you're proposing would be creating a new post type like we have for [system messages and other special posts](https://github.com/mattermost/platform/blob/master/model/post.go#L12). I've been wanting to make that change for a while now, and being able to better control the formatting of those posts (as the ticket wants done) is one of the reasons for that.

[2016-09-08 16:49] jtdaugherty commented on #3987
Fantastic!

[2016-09-08 17:01] jtdaugherty commented on #3987
I noticed that the mentioned ticket is low-priority and not scheduled for any particular release. Would it be possible to get this targeted for an upcoming release?

[2016-09-08 17:08] lfbrock commented on #3987
It's not priority at the moment, but if someone from the community would like to work on it then it may get done faster.

[2016-09-08 18:16] crspeller commented on #3986
Should be fixed by https://github.com/mattermost/platform/pull/3999

[2016-09-08 18:16] #3986 closed

[2016-09-08 19:13] dun3 opened #4000 "Slack message results in error 500"
#### Summary
A specific Slack message to an incoming webhook results in an html error 500

#### Steps to reproduce
Send this message to a webhook URL - I am using the latest release:
[code]
I also attached the corresponding log line:
[log line corresponding to 500.txt](https://github.com/mattermost/platform/files/462478/log.line.corresponding.to.500.txt)

[code]
#### Expected behavior
I expect thi

[2016-09-09 09:07] canhlinh commented on #3993
@hmhealey Please explain for me why the memory still leak ?
 https://gist.github.com/canhlinh/3e8ab1468eab02b0790093ac857197af

[2016-09-09 12:47] lfbrock commented on #3956
Closing this issue + will track in uservoice: https://mattermost.uservoice.com/forums/306457-general/suggestions/15944848-offensive-words-filter

[2016-09-09 12:47] #3956 closed

[2016-09-09 12:49] lfbrock commented on #3973
Ticket here to track this issue: https://mattermost.atlassian.net/browse/PLT-4135

[2016-09-09 13:05] jasonblais commented on #3880
Hey @Freshwood, just wanted to circle back that we have [opened a ticket in Jira](https://mattermost.atlassian.net/browse/PLT-4062) for us to track the issue.

Thanks again for reporting it and please let us know if splitting messages hasn't be successful.

[2016-09-09 14:54] lfbrock commented on #4000
Thanks @dun3 for the report, I filed an issue to track this in Jira: https://mattermost.atlassian.net/browse/PLT-4145

[2016-09-09 14:56] hmhealey commented on #3993
Oh, I think I see what's going on here, and you're right about the leak. The reason your example leaks and mine doesn't is because you're using unbuffered channels (like Mattermost uses)
[code]
 and I'm using buffered channels.
[code]
Since your channels are unbuffered, the `c <- n` call blocks waiting for another thread to read from them. If you change that line in your file to `c := make(chan in

[2016-09-09 20:29] lfbrock commented on #3937
## RC4 has been cut!

**Linux Download Links**

Team Edition: https://releases.mattermost.com/3.4.0-rc5/mattermost-team-3.4.0-rc5-linux-amd64.tar.gz
Enterprise Edition: https://releases.mattermost.com/3.4.0-rc5/mattermost-enterprise-3.4.0-rc5-linux-amd64.tar.gz

**Testing Links**

Test Server: http://rctesting.reddogsofwar.com/
Team Invite: http://rctesting.reddogsofwar.com/signup_user_complete/?i

[2016-09-10 19:20] Freshwood commented on #3880
Hi @jasonblais,
thank you for your feedback.
Yep, splitting the messages in small pieces was successful.
Greetz,
Freshwood

[2016-09-11 17:40] jasonblais commented on #3880
Great to hear! Closing the issue

[2016-09-11 17:40] #3880 closed

[2016-09-12 03:02] canhlinh commented on #3993
Yep. Your solution is simpler than me. Do you have a test case for this one.

[2016-09-12 08:20] jerlich opened #4009 "<enter> to send should be sensitive to context"
#### Summary
Pressing `enter` should probably not send if in an unclosed block (e.g. ```) and potentially other contexts.

#### Steps to reproduce
Mattermost Team Edition 3.3.0

#### Expected behavior
Matter most gives the option to send on `enter` or `ctrl-enter`.  I'm in the `enter` camp. But i think most of us reflexively hit our send keystroke at the end of a line. However, it seems that if yo

[2016-09-12 16:04] marcosinger commented on #3993
in my company we're running a self hosted MM instance and after a few days up our machine increased the CPU and memory usage.. this issue could be the culprit

[2016-09-12 20:19] jwilander commented on #4000
You were correct @dun3, the null was not handled correctly. It should now be handled correctly in all cases. The pull request above will fix the issue. Thanks for the report!

[2016-09-12 20:20] #3906 closed

[2016-09-12 20:21] #3953 closed

[2016-09-12 21:24] dun3 commented on #4000
Awesome! Thank you so much for your flawless and fast support! Brilliant!

[2016-09-13 15:13] oetiker opened #4018 "email addresses should not end in comma"
#### Summary
The email address `user@domain.com,` is accepted and works

#### Steps to reproduce
Create a user with email `user@domain.com,`

#### Expected behavior
It should not be possible to create such users.

#### Observed behavior
Mail is sent to `user@domain.com` while the internal user has the address `user@domain.com,`

#### Possible fixes
Email addresses should be validated more strictly

[2016-09-13 15:17] #4000 closed

[2016-09-14 18:16] #3937 closed

[2016-09-14 18:17] lfbrock commented on #3939
Closing this issue + will track in Jira

[2016-09-14 18:17] #3939 closed

[2016-09-14 18:17] lfbrock commented on #3944
Closing this issue + will track in Jira

[2016-09-14 18:17] #3944 closed

[2016-09-14 21:34] esethna commented on #4018
Thanks @oetiker! I have created a ticket for this, it can be tracked in [JIRA](https://mattermost.atlassian.net/browse/PLT-4183).

[2016-09-14 21:34] #4018 closed

[2016-09-14 21:39] esethna commented on #4009
Thanks for the feedback @jerlich, I have queued this to discuss in our UX design meeting. I will circle back on the decision.

[2016-09-14 21:41] esethna commented on #3993
Thanks for all the input on this. Closing this issue to be tracked in [JIRA](https://mattermost.atlassian.net/browse/PLT-4144) moving forward.

[2016-09-14 21:41] #3993 closed

[2016-09-14 21:46] esethna commented on #3987
Closing this to track in [JIRA](https://mattermost.atlassian.net/browse/PLT-2436). The ticket is marked as `accepting-pull-requests`, so if anyone from the community would like to work on this then please comment in JIRA. Thanks!

[2016-09-14 21:46] #3987 closed

[2016-09-14 21:47] #3973 closed

[2016-09-14 22:17] esethna commented on #3928
Thanks for the report and repro, I've [filed a ticket](https://mattermost.atlassian.net/browse/PLT-4184) so this can be tracked in JIRA moving forward.

[2016-09-16 09:39] Juburin commented on #3816
We updated today to 3.3.0 and the problem still exists.

[2016-09-16 13:28] laitkor opened #4029 "Issue while posting the message"
I have updated the API code and getting the issue while posting the message:
`api.web_socket_router.log.error%!(EXTRA int64=0, string=8w51cok1wfdq3qq33nq3sqimka, string=api.web_socket_router.bad_seq.app_error, string=)`

Message get posted in the db successfully but the chat didn't get updated until and unless the other person refresh the window.

[2016-09-16 18:32] lfbrock commented on #3816
@Juburin, sorry I think something changed before the final release was cut - in v3.4, it should work if you turn on Account Settings > Advanced Settings > Send Messages on Ctrl + Enter.

Ticket here to fix it for "Enter" as well https://mattermost.atlassian.net/browse/PLT-4158

[2016-09-16 19:26] esethna commented on #4009
After discussing with the UX team we decided to follow the GitHub model for this case, which follows our model of fast, obvious and forgiving. If the user attempts to send a message with an open code block, the codeblock should automatically close. I've created a [ticket here](https://mattermost.atlassian.net/browse/PLT-4228) for this, if any community members would like to work on it please comme

[2016-09-16 21:22] cadecairos opened #4030 "Push Notifications Send When Channel Is Focused"
#### Summary
With push notifications set to only send when offline, I'm seeing them get sent to my device when I load up the app in a browser or the desktop app and focus on the channel or private chat that the message was sent in.

#### Steps to reproduce
1. Log into Mattermost
2. Set push notifications to send only when you're offline
3. Ensure your device has Mattermost installed, and you have

[2016-09-16 21:25] cadecairos commented on #4030
It also happens if the channel is already opened. once you focus the app so that the on-screen notification is cleared, the push is sent.

Changing the setting to only send push notifications when away or offline doesn't change the behaviour.

[2016-09-16 22:29] cadecairos commented on #4030
I also noticed that push notifications sent via this method have no message content, while regular non-buggy notifications do have message content.

[2016-09-16 23:54] cadecairos commented on #4030
Ugh, Nope, This is not a bug. I *thought* I downloaded the 3.4.0 Mattermost update, but I think the playstore has a bug where it shows no update for an app where it should.

I properly updated the app, and now it's working as expected. That said, at least you know what happens when people use old Android clients with this push setting enabled!

[2016-09-16 23:54] #4030 closed

[2016-09-17 11:19] #4029 closed

[2016-09-17 13:26] irfanitw opened #4032 "Web/Android - White screen upon loading Mattermost"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Sometimes when I load up Mattermost, I see a white screen and a continuous loading

[2016-09-19 04:18] jasonblais commented on #4032
Thanks @irfanitw for the report!

Can you help answer the following questions to help us with the investigation
 1. Which Mattermost server version are you currently using (from **Main Menu > About Mattermost**)?
 2. Which browser(s) has this occurred?
 3. Does a refresh on the web help resolve the issue, or does it require clearing your cache and cookies?
 4. Have you noticed any particular insta

[2016-09-19 15:02] Nokel81 commented on #3700
I don't know if this is still relevant but this is still happening on the macOS desktop version with the same steps to reproduce and "fix"

[2016-09-19 15:17] jasonblais opened #4035 "[Help Wanted] Pinned Posts"
Pinned posts is one of the [top voted feature on UserVoice](https://mattermost.uservoice.com/forums/306457-general/suggestions/10461081-pinned-posts) by the community.

We have [created a specification for pinned posts here](https://docs.google.com/document/d/1U29VQGEFEI7JDaTBjvk5xm59MvJD-JMI4TQv1erjnrU/edit#) and are looking for anyone interested in helping out implementing the feature.

If you a

[2016-09-19 15:17] jasonblais opened #4036 "[Help Wanted] Screens to edit Slash Commands"
Custom slash commands are popular and many in the community have asked for the ability to edit existing slash commands more easily, instead of creating a new command each time.

Below are details on how we can accomplish this, by creating screens to edit slash commands.

If anyone would be interested in helping out, please reply here?

You may also join our [UX Design channel to discuss further de

[2016-09-19 15:34] hmhealey commented on #3700
Hi @Nokel81,

What versions of the Mattermost server are you using? This issue should've been fixed with the 3.4 release.

[2016-09-19 16:35] esethna commented on #3928
Hi @blackdruid and @mizhgan, would you be able to confirm of this is still an issue in the latest release, [v3.4](https://www.mattermost.org/download/)?

[2016-09-19 21:17] irfanitw commented on #4032
Hi @jasonblais

Here's the info:

1. MM Server: 3.2, but I've seen this on 3.0 +  3.1
2. Chrome v52
3. Requires clearing cache or cookies.

I've also noticed I've bookmarked https://<domain>/select_team and so when the issue occurs when I go to this link, I can get by it by going to https://<domain>/

[2016-09-20 05:10] jasonblais commented on #4032
Thanks for the information @irfanitw, very helpful!

Mattermost server 3.2 and earlier sometimes caused loading issues that required a refresh at minimum (where the page would remain blank until then). This could be related, albeit requiring you to also clear cache/cookies as well.

We did some performance improvements on this in Mattermost v3.3, not sure if you'd be able to access a server v3.3 o

[2016-09-20 05:26] mizhgan commented on #3928
Hello!
I will try v3.4 soon and report about this issue here ASAP.

2016-09-19 19:35 GMT+03:00 Eric Sethna <notifications@github.com>:

[2016-09-20 05:45] mizhgan commented on #3928
It`s still the same
http://i.imgur.com/qYI4OJA.png

[2016-09-20 06:14] blackdruid commented on #3928
Version 3.4.0, **issue not reproducible**.

[2016-09-20 16:19] ebuildy opened #4049 "[Help Wanted] HTML entities in error page title"
#### Summary

There are HTML entities in title HTML tag for some error page.
#### Steps to reproduce

Display the error page.
#### Expected behavior

Title HTML tag should never contain HTML entities.
#### Observed behavior

In page HTML source, I can see: `<title>&lt;span class='fa fa-chevron-left'>&lt;/span>Back - Error</title>`
#### Possible fixes

HTML entities must be removed from title HTML

[2016-09-20 18:19] lucianosousa opened #4050 "Email as field as input type email"
Today is a input text field.

UX will be better, especially in mobile app

[2016-09-20 20:57] mitrick2 opened #4055 "Documentation Website Down"
#### Summary
Clicking on documentation link on main website leads to error:

#### Steps to reproduce
Go to https://docs.mattermost.com/

#### Expected behavior
Documentation is displayed to browser

#### Observed behavior
Instead of the page loading, I get:
<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>9FC01B31B9BFD2D0</RequestId>
<HostId>
pteNkvJ0MnnjSgvWmIousxA0ZN

[2016-09-21 04:25] jasonblais commented on #4055
Thanks @mitrick2 for the report!

We recently pushed an update to the site and you might have tried accessing the page during that update.

Are you still experiencing an `AccessDenied` error or has the issue cleared?

[2016-09-21 13:47] mitrick2 commented on #4055
Doc site works as expected, so all set here!  Thanks for the insight, and excited to get started with it!

[2016-09-21 13:47] #4055 closed

[2016-09-21 15:05] esethna commented on #3928
Great, thanks for investigating, closing as resolved.

[2016-09-21 15:05] #3928 closed

[2016-09-21 15:58] aliasaria commented on #3664
I was unable to click the Atlassian link -- is there an an update to the status on this issue? Thanks so much!

[2016-09-21 16:01] lfbrock commented on #3664
@aliasaria sorry about that, the work has been done for this and is currently being tested. It should be in the next release.

[2016-09-21 18:27] jasonblais commented on #4055
Thanks for your interest @mitrick2!

[2016-09-21 18:28] lfbrock commented on #3954
@DarckCrystale - sorry for the delay here, are you running Mattermost from a precompiled version or running it from source?

We're having trouble reproducing the error message on our end

[2016-09-21 18:35] pydsigner commented on #4009
@esethna From my perspective, a GitHub comment is pretty different from an IM, and this proposed auto-close codeblock doesn't feel helpful. There's three possible situations here —
1. The user just typed the opening code block delimiter and hit <kbd>Enter</kbd>.
  * Here the autoclose just produces an unhelpful blank code block.
2. The user is partway into typing the code and forgetfully hits <kbd

[2016-09-21 18:47] jasonblais commented on #4050
Thanks @lucianosousa for the feedback!

Would you mean changing the email field on the Mattermost sign in page?

[2016-09-21 18:50] jasonblais commented on #4049
Thanks @ebuildy for the note,

Would you have a sample error page where you saw this occurring? Just so that we can more easily pinpoint the error.

Also, if you're interested in submitting a fix for it, we'd be glad to take it.

[2016-09-21 18:52] esethna commented on #4009
@pydsigner thanks for the feedback. Do you have examples of other software products using the concept proposed (swapping the behavior of `enter` inside an open code block)? The issue the design team had is that it's not [obvious](https://docs.mattermost.com/developer/fx-guidelines.html#obvious) that the behaviour for sending a message would change just because you opened a code block. Users may be

[2016-09-21 19:15] lucianosousa commented on #4050
@jasonblais Exactly.
I'm not sure if is this input here:
https://github.com/mattermost/platform/blob/master/webapp/components/login/login_controller.jsx#L359

But you got the idea.

[2016-09-21 19:29] ebuildy commented on #4049
Hello, it was an error with Gitlab authentication, not so easy to replicate :/

Yeah, soon I have some time, I will dig on your code source with pleasure.

[2016-09-21 21:29] pydsigner commented on #4009
@esethna I think that in all but case three, and perhaps a fourth where for some reason they intentionally try to send a broken code block, the user will never notice, because it's not that hitting <kbd>Enter</kbd> does nothing, it's that it does what the user was (forgetfully) expecting it to do.

[2016-09-21 21:33] pydsigner commented on #4009
@esethna The point I failed to communicate though was that I think that both @jerlich's approach and the current behavior are preferable to autoclosing code tags.

[2016-09-21 23:56] jerlich commented on #4009
The behavior I described is used in slack.
Btw, thanks for being super responsive to suggestions!

[2016-09-22 02:15] pydsigner commented on #4009
@jerlich I was about to disagree on that, but sure enough, there is such an option.

![screenshot_2016-09-21_21-11-52](https://cloud.githubusercontent.com/assets/532749/18735050/43643cdc-8040-11e6-97a1-5693890788e0.png)

This feature definitely doesn't need to be on by default in Mattermost, but having at least the option would be greatly appreciated, and will help continue the pattern of Mattermo

[2016-09-22 11:54] istvano opened #4070 "Embed single chat channel to external application"
#### Summary
I need to see if I can integrate mattermost chat channel to an other reactjs based app

We are in the process of developing an application which needs social IM features as an addition. Inside our app which is a reactjs app we have a side pane on which we need to show IM. I was thinking about integrating something like mattermost instead of rolling our own version.

We do not need all

[2016-09-22 15:40] loic-fejoz opened #4073 "TeamMember.IsTeamAdmin implementation return always true!"
#### Summary
Golang API does not implement TeamMember.IsTeamAdmin().

#### Steps to reproduce
Read line 72 of model/team_member.go

#### Expected behavior
Return true only if field Roles contains the admin role.

#### Observed behavior
Obvious

#### Possible fixes
The patch in attachment. It was almost there!
NB: it does not work if blank are allowed in name of roles.
[0001-Implements-Team_Member.

[2016-09-22 16:20] esethna commented on #4009
Thanks for the great feedback. Agree that this should definitely not be the default behavior, but a setting option would make sense. The complication is that we have the setting for sending messages on Ctrl-Enter, which I don't think Slack has, so we'd have to figure out how the UI fits for this setting. @jerlich can you please help submit a feature request to our [feature idea forum](https://www.

[2016-09-22 16:58] jtdaugherty opened #4074 "New websocket "hello" event type is not mentioned in release notes"
#### Summary
The 3.4 release added the websocket event type "hello" but it was not mentioned in the release notes as far as I can tell, breaking the [Matterhorn](https://github.com/aisamanra/matterhorn) third-party client once we deployed 3.4.  I checked these sources for the change and didn't see it listed:

* https://www.mattermost.org/category/releases/
* https://docs.mattermost.com/administrat

[2016-09-22 17:13] jasonblais commented on #4049
Perfect, thanks @ebuildy! Much appreciated :)

[2016-09-22 17:15] jasonblais commented on #4050
Thanks @lucianosousa for the quick reply,

The input field on the sign in page is also used to log in with Mattermost username (if enabled on the server), and LDAP username (if enabled on the server).

Keeping the input type as text was used to better support these alternate sign in methods.

[2016-09-22 20:37] lucianosousa commented on #4050
I see. I think you can do some research in that case. ask for users. I mean, looks better an email field in that case.

[2016-09-22 21:25] jasonblais commented on #4074
Thanks @jtdaugherty for the feedback

We haven't been including changes to WebSocket events in the past, but we will add it to our changelogs in the future. A pull request submitted to update our release process checklist https://github.com/mattermost/docs/pull/517

[2016-09-22 21:27] jasonblais commented on #4073
Thanks @loic-fejoz!

Would you like to submit your find as a pull request, and our developers would be happy to review it?

[2016-09-22 21:33] jtdaugherty commented on #4074
Wonderful. Thanks! Anything that is going to affect third-party client developers will be extremely useful there (JSON payload formats, new request endpoints, websocket event types, etc). Even better, having those changes called out together in a "Client protocol" section would make them really easy to spot when we're checking on whether we need to update our client.

[2016-09-22 21:33] #4074 closed

[2016-09-22 21:46] killua-eu opened #4078 "Notification jingle loudness and visual cues in native app (android)."
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:
#### Summary

Android client plays ultra low volume sound on push notification, doesn't show a v

[2016-09-22 22:00] ticki opened #4079 "Bug: Reading deleted messages"
#### Summary
After the latest version, any user (with or without administrator privilege) can read deleted messages.

#### Steps to reproduce
Flag the deleted message (which should read `(message deleted)`), go to "Flagged Posts", it appears in the bottom.

#### Expected behavior
It is expected that you either couldn't flag deleted messages or that they appear as `(message deleted)` under "Flagged

[2016-09-22 22:09] ticki commented on #4079
It's fixed in v3.4.0, apparantly.

[2016-09-22 22:09] #4079 closed

[2016-09-23 09:12] kunthar commented on #1541
Special chars in password problem is still alive.
in mattermost-3.4.0-linux-amd64.tar.gz for ubuntu trusty.
i had to change the password with "?" in it.

Quick guidance to change postgresql password;
sudo -u postgres psql
postgres=#  \c mattermost
ALTER USER mmuser  WITH PASSWORD 'new_password';
no restart needed.

[2016-09-23 13:09] ajsb85 opened #4084 "No parse markdown in Mattermost WebHook from a GitLab issue"

[2016-09-23 16:33] jasonblais commented on #4050
Thanks again @lucianosousa,

Our UX team discussed this case and agree that it would make sense to change the field to an email type on mobile.

Would you be interested in submitting a pull request for a fix?

The fix would involve using the mobile email keyboard for the username/email field on the sign in page if
 1. Mattermost is on mobile view, AND
 2. Mattermost is not on desktop or browser

[2016-09-23 16:38] jasonblais commented on #4084
Thanks @ajsb85 for the report,

Output from GitLab webhooks can't render embedded images because of relative links, and we have [opened an issue in GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/22531).

Would this cover the issue you experienced?

[2016-09-23 16:42] lucianosousa commented on #4050
@jasonblais I'm still trying figure out this project. I'm not good enough to to this right now.
feel free to keep working on it. :)

[2016-09-23 18:05] jtdaugherty opened #4087 "[Help Wanted] Channel header change message does not provide enough information"
#### Summary
When someone changes a channel header, the resulting post message contains the new header string in a form that must be parsed by the client. This is a case of confusing presentation with metadata. It requires client developers to implement hacks to obtain the channel header strings at best, or query the server for a refresh of channel metadata at worst.

#### Expected behavior and Fi

[2016-09-24 05:36] jasonblais commented on #4050
Sounds good, thanks again @lucianosousa!

I've created a [ticket in Jira for us to track](https://mattermost.atlassian.net/browse/PLT-4295), if anyone in the community would like to take it, please let us know

[2016-09-24 05:36] #4050 closed

[2016-09-24 07:13] jerlich commented on #4009
https://mattermost.uservoice.com/forums/306457-general/suggestions/16331797-when-typing-code-with-enter-should-not-send-t

[2016-09-24 07:13] #4009 closed

[2016-09-24 18:31] irfanitw commented on #4032
Hi @jasonblais, cool when we upgrade to 3.4 we'll test it out

[2016-09-26 17:01] alexbarrett opened #4093 "Custom emoji do not maintain their original aspect ratio"
#### Summary
Custom emoji do not maintain their aspect ratio when used in messages.

#### Steps to reproduce
Upload a non-square custom emoji and use it in a message.

Version: 3.4.0
Build Hash: 57f25fa59c71821cc38fd220b133aa6a40815e12

#### Expected behavior
The aspect ratio of custom emojis' images is maintained when used.

#### Observed behavior
The custom emoji is always displayed as a square.

[2016-09-26 18:10] psyc0 commented on #2767
i can probably help aswell

[2016-09-26 18:24] lfbrock commented on #4093
Hi @alexbarrett thanks for the report - would you be interested in submitting a fix for this?

I filed a Jira ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-4300

[2016-09-26 18:47] lfbrock commented on #4087
Hi @jtdaugherty, in this case I think it might be easiest to use the system message as a trigger, but then to use the [APIs to get the channel](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1teams~1%7Bteam_id%7D~1channels~1%7Bchannel_id%7D%2Fget) for the header information.

Let me know if that documentation helps?

[2016-09-26 18:57] lfbrock opened #4095 "[Help Wanted] Favorite/Starred Channels"
We're looking for anyone interested in helping contribute Favorite Channels, if you're interested please comment here or come [join our daily builds server](https://pre-release.mattermost.com/signup_user_complete/?id=b8230f359369ed80c46ecb8696901b3e) where you can discuss questions with our core team developers (Developers channel) and product managers (UX Design channel).

## Favorite Channels

*

[2016-09-26 18:57] psyc0 opened #4096 "Youtube mobil-link dont expand player"
haven´t seen a fix for this in the changelog for 3.4 (currently running 3.3).

mobile versions posted from youtube dont expand the thumbnail/player,
ie. m.youtube.com/#
youtu.be seems to work fine though

[2016-09-26 19:49] jtdaugherty commented on #4087
I propose an alternative, which is to divorce presentation from representation. If the message included the new and old channel header strings as properties, the client could still render it however is appropriate *and* update its state *without* an extra request to the server.

[2016-09-26 20:22] lfbrock commented on #4087
The system message was added with the intention of being a UI feature and not for triggering updates off of, but feel free to come discuss in the [Developers channel](https://pre-release.mattermost.com/core/channels/developers) on our [daily build server](https://pre-release.mattermost.com/signup_user_complete/?id=b8230f359369ed80c46ecb8696901b3e) if you're interested in updating them.

[2016-09-26 20:34] jtdaugherty commented on #4087
Are these tickets not a sufficient place to have such a discussion?

[2016-09-27 00:23] lfbrock commented on #4096
Thanks for the report @psyc0, is this something you'd be interested in submitting a fix for? I created a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-4304

[2016-09-27 11:56] pydubreucq commented on #1185
Hi,
I've made my install with root user, and If I follow the install guide, I can't start mattermost via systemd.
 I have this error :

sept. 27 13:38:08 debian systemd[1]: Started Mattermost.
sept. 27 13:38:08 debian platform[7332]: FileLogWriter("/opt/mattermost/logs/mattermost.log"): open /opt/mattermost/logs/mattermost.log: permission denied

It's possible to don't have this problem if you use

[2016-09-27 12:38] mcfedr commented on #4000
I expect the same issue, but I see 500 when I accidentally posted a number instead of a string to `"value"`

[2016-09-27 12:55] jasonblais commented on #4078
Thanks for the report @killua-eu,

We reproduced the bug with a faint sound and I've [created an issue in Jira](https://mattermost.atlassian.net/browse/PLT-4306) for us to track.

During testing, the notifications seem to appear in the notifications drawer for us. Can you help check the Mattermost notification settings on your phone have enabled these entries?

[2016-09-27 13:07] krisak commented on #4078
I can reproduce on OnePlus One (CyanogenOS).

No notifications in drawer. I can hear faint sound if app is in foreground. No sound if app is in background. There is visual notification when i come to the app (red number top left).

As far as i can see there is no notification or anything if app is not open.

[2016-09-27 16:56] Screndt opened #4103 "push notifications of read messages do not clear the notification"
#### Summary
When a message is read on the desktop app, a push notification is sent to mobile app, but that does not clear the mobile notification.

#### Steps to reproduce
0) I will mention the versions/OSes I use this on, but I am unsure if this affects all versions.
1) Install the desktop app on Windows
2) Install the mobile app on Android.
3) Get a message on the desktop while not in the chann

[2016-09-27 17:15] Screndt opened #4104 "Mobile push notification definition of "away" should be "idle" instead of "not currently in the channel""
#### Summary
Mobile push notification definition of "away" should be "idle" instead of "not currently in the channel"

#### Steps to reproduce
1) Install the desktop app.
2) Install the mobile app.
3) Change the configuration under "Notifications -> Mobile push notifications -> Trigger push notifications when" to "Away or offline"
4) Get a message that would cause a mobile notification on a channe

[2016-09-27 17:22] killua-eu commented on #4078
Hi @jasonblais , not at all, thanks for working on resolving the issue. I'm unaware of any special settings of the client with respect to visual notifications -  the only relevant i can see is:

⋮ -> account settings -> notifications -> mobile push notifications -> for all activity when online away or offline

But if this were unset, I guess I shouldn't even hear the supersilent "ding". If there's

[2016-09-27 17:39] Screndt opened #4105 "clicking on desktop notification does not bring focus to the channel shown"
#### Summary
clicking on a desktop notification brings focus to the app, but not the channel that the notification displayed

#### Steps to reproduce
1) Have the desktop app running.
2) Give focus to channel "foo".
3) Move focus away from the Mattermost app to any other window.
4) Get a desktop notification on channel "bar".
5) Click on the desktop notification.
6) Notice where focus is

#### Expe

[2016-09-28 13:17] dvolland commented on #3360
Ticket is marked as closed in Jira, however for me it seems that the issue still persists.

[2016-09-28 13:26] MickaelWalter opened #4108 "Content-Type incorrectly stated when downloading Microsoft Office file"
Note: this issue seems similar to #2336

#### Summary
When downloading an xslx file, the Content-Type header was set by the server to "ZIP File" resulting in a bad application choice from the navigator to open it (see attachments, sorry my system language is french).

#### Steps to reproduce
The issue happened with Mattermost v3.4.0 under Debian Jessie when downloading an uploaded xlsx file with p

[2016-09-28 13:33] hmhealey commented on #3360
@dvolland That one was closed in favour of https://mattermost.atlassian.net/browse/PLT-3105. That should've been linked in the ticket comments. There's [a PR](https://github.com/mattermost/platform/pull/4068) currently pending for it so it should be in our next release.

[2016-09-28 13:35] dvolland commented on #3360
@hmhealey. Ok. Cool. Thanks!

[2016-09-28 16:28] jtdaugherty commented on #4087
For continuity: the discussion in the Developers channel concluded that while there's support from the Mattermost developers for this change, it isn't a priority for them. Although they offered to consider pull requests I am not in a position to provide one. We (being the developers of https://github.com/aisamanra/matterhorn) still need this change made so either someone else with Go expertise wil

[2016-09-28 18:31] djaswal commented on #2668
@ajsb85 how is this exactly added? I wasn't able to find any resources on the subject.

[2016-09-29 03:03] pciavald opened #4113 "random disconnection of websocket"
Mattermost seems to randomly show the typing field as "disconnected", ie red on yellow, while actually connected and send messages correctly. The field stays on this state even after sending successfully. I've noticed it before and had to refresh several times the page to reproduce it. Happens also on the android mobile client.

![selection_089](https://cloud.githubusercontent.com/assets/3384097/1

[2016-09-29 03:17] lfbrock commented on #4103
Hi @Screndt,

Can you check the version of Mattermost from the three dot Main Menu > About Mattermost, and also try downloading the [latest Android app](https://play.google.com/store/apps/details?id=com.mattermost.mattermost&hl=en)?

I think this should have been fixed for Android devices in the last release (server version 3.4).

There is a ticket here to [fix it for iOS devices](https://mattermo

[2016-09-29 03:55] lfbrock commented on #4105
Hi @Screndt, can you check what version of the desktop app you're running? The latest version is v1.4.0.

If it's an issue in the latest version, can you report it in our desktop repo and let them know if it's on Windows or Mac? https://github.com/mattermost/desktop

[2016-09-29 04:02] jasonblais commented on #4104
Thanks @Screndt for the suggestion,

We have an open [forum post where we're looking for community's feedback](https://forum.mattermost.org/t/marking-users-away-from-mattermost-vs-away-from-computer/2173) on when a user should be set away (idle from Mattermost vs. idle from the computer).

Would you like to [share your suggestion on that thread](https://forum.mattermost.org/t/marking-users-away-fr

[2016-09-29 15:16] St-Ex opened #4116 "Cross team notification"
#### Summary
Receiving notification from another team on the same server.

#### Steps to reproduce
1. Creates 2 team **foo**, **bar** on the same mattermost server 3.4
2. Open team **foo** on firefox/chrome
3. Send a message to a channel of team **bar** (from another user or from webhook)
4. You will receive a notification of message on team **foo** tab

#### Expected behavior
No notification from

[2016-09-29 17:31] #4096 closed

[2016-09-29 17:36] lfbrock commented on #4093
Closing this issue + will track in Jira

[2016-09-29 17:36] #4093 closed

[2016-09-29 18:22] zodman opened #4118 "after upgrade index error"
#### Summary
root@ira:/opt/mattermost# bin/platform
[2016/09/29 13:21:42 CDT] [INFO] Loaded system translations for 'en' from '/opt/mattermost/i18n/en.json'
[2016/09/29 13:21:48 CDT] [INFO] Current version is 3.4.0 (3.4.0/Wed Sep 14 13:19:13 UTC 2016/57f25fa59c71821cc38fd220b133aa6a40815e12/none)
[2016/09/29 13:21:48 CDT] [INFO] Enterprise Enabled: false
[2016/09/29 13:21:48 CDT] [INFO] Current wo

[2016-09-29 18:33] Screndt commented on #4103
Versions across the board (server, desktop, and Android app) are 3.4.0.

[2016-09-29 18:43] Screndt commented on #4105
Thanks for sending me to the right place to report the issue.  It has already been reported there (it is apparently a known issue on Windows 7).

[2016-09-29 18:43] #4105 closed

[2016-09-29 18:48] Screndt commented on #4104
Commented there (and got some more ideas from reading that thread.  I'll leave this issue open in case they want to use this issue to work on it.

[2016-09-29 19:53] alallier opened #4121 "Edit Message and Displayed Message Don't Correspond in Layout"
#### Summary
Edit message and displayed message don't correspond in the same layout resulting in confusing UI.

#### Steps to reproduce
Look at a message sent by you, then edit that  same message. Since the area that the edited message is displayed in is smaller than the original chat window word wrapping takes place. Therefore more lines will be present in the edit message dialog than the origina

[2016-09-29 20:04] monty241 commented on #3944
Similar to issue we are seeing in combo gitlab and mattermost last released version. In our case it is behind nginx but the weird part is not an invalid redirect urine (which we also see with often products often as configuration issue) but that the client browser performs a request back to the Web server and the Web server never delivers and times out after 2 minutes. The redirect is not returnin

[2016-09-29 20:04] monty241 commented on #3944
Great analysis by the way

[2016-09-29 20:31] jasonblais commented on #4078
Thank you once more @killua-eu and @krisak for the report,

We've reproduced the issue after re-installing the Android app -- I've created a ticket [in Jira for us to track](https://mattermost.atlassian.net/browse/PLT-4321).

If anyone is interested in helping submit a fix, please let us know!

[2016-09-29 20:53] hschoenburg commented on #2253
Hey I'm running into this same problem and there aren't many others out there.

What do you mean to real DNS record for your server? Any help here would be greatly appreciated

After i choose 'authorize application' on Gitlab. it redirects me back to Mattermost with a 'Bad Token Type' error

[2016-09-29 21:04] rdslw commented on #3944
BTW, this possible solution did not work for me "One simple fix might be to set the page url of Mattermost in its settings."

Meaning (if @jdoubleu analysis is correct) that there is some more problems inside context.go as siteurl defined in cfg is not being used here.

[2016-09-29 22:43] lfbrock commented on #4118
Hi @zodman, did you try to upgrade directly to v3.3.0?

Version 2.2.0 can only [upgrade directly to v3.0, v3.1, and v3.2](https://docs.mattermost.com/administration/upgrade.html#upgrade-team-edition-to-3-1-x-and-later). There was a large change in v3.0, so when doing this you also need to follow some [extended steps] (https://docs.mattermost.com/administration/upgrade.html#upgrade-team-edition-to-

[2016-09-29 22:49] lfbrock commented on #4113
Hi @pciavald,

Do you know if there's any errors in the Mattermost logs or browser console when the disconnections are happening?

Can you also clarify what browser or desktop client you're using?

[2016-09-30 08:29] arnuschky opened #4125 "Slack import: "View Summary" downloads as txt rather than html."
#### Summary
"View Summary" in import dialog downloads as txt rather than html.

#### Steps to reproduce
In 0.3.4, import a slack export. Then click on "View Summary".
Using chrome version 53.0.2785.116 (64-bit)

#### Expected behavior
A new dialog box or window opens that displays some readable summary.

#### Observed behavior
Browser downloads a txt file, which contains html code.

#### Possible

[2016-09-30 08:37] arnuschky opened #4126 "Slack import: works in one team, doesn't work in the other"
#### Summary

Imported a slack export in two teams, only one worked.
#### Steps to reproduce

In 0.3.4, create two teams. Then import the same slack export in both teams.
Using chrome version 53.0.2785.116 (64-bit)
#### Expected behavior

Slack data is imported into both teams.
#### Observed behavior

Team 1: import reported a failure, but all channels, messages and users were properly imported.
T

[2016-09-30 08:42] arnuschky opened #4127 "Inviting a user from another team"
Not sure if this is a feature or a bug, sorry if misplaced.

#### Summary
Inviting a new user into a team should offer the choice of users already present in other teams.

#### Steps to reproduce
In 0.3.4, create two teams. Invite and create user to team 1. Try to invite same user to team 2.
Using chrome version 53.0.2785.116 (64-bit)

#### Expected behavior
Mattermost should allow me to invite us

[2016-09-30 15:00] grundleborg opened #4131 "Slack Importer fails to parse file_comment messages."
#### Summary
Slack Importer fails to parse messages with type file_comment.

#### Steps to reproduce
Import a slack export with some file_comment messages.

#### Expected behavior
They appear in the channel.

#### Observed behavior
They do not appear.

#### Possible fixes
I will have a PR shortly that fixes this. Filing this issue for reference.

[2016-09-30 17:02] InterHmai opened #4133 "Data Folder setting inconsistent on CentOS7"
#### Summary
Migrated MM from Ubuntu 14 to CentOS7.

After the migration uploaded profile pictures, attachments didn't show up at all.

Logs showed it couldn't access `./data/teams/wahteverlocationandfile`

#### Steps to reproduce
Ubuntu 14.04.4 and Mattermost 3.4.0 migrated to CentOS7 and Mattermost 3.4.0

#### Expected behavior
Uploaded profile pictures, attachments should show appropriately aft

[2016-09-30 17:37] Screndt commented on #4103
My mistake.  Server and desktop versions are 3.4.0.  Android app is 3.2.0.

Might I also suggest that the "About" selection on the mobile app show either the version of the app or the version of both the app and the server.  It's misleading to open the app and choose about and have it show the server version.

[2016-09-30 18:29] lfbrock commented on #4121
Hi @alallier, I made a ticket here to look at increasing the width as a starting point: https://mattermost.atlassian.net/browse/PLT-4326

We have a longer term item here to spec in-line editing, but it's not priority for us right now.
https://mattermost.atlassian.net/browse/PLT-752

[2016-09-30 18:34] lfbrock commented on #4127
Hi @arnuschky, would probably count this as a feature but definitely agree this is something we should add. I've queued it for our UX meeting Monday to discuss, is this something you would be interested on a PR for?

As a workaround, you can use the "Get Team Invite Link" option to get a link to share with the person and direct message it to the person, and if they're logged in to the server and c

[2016-09-30 18:41] lfbrock commented on #4108
We're trying to reproduce this but having some trouble. If anyone else from the community is seeing this, please comment here and let us know?

@MickaelWalter - when you say "Activate file previews", can you clarify what you mean? Are you talking about a setting in Mattermost, or somewhere else?

[2016-09-30 18:44] hmhealey commented on #4133
Hi @InterHmai,

What is the `FileSettings.Directory` set to in your config.json? We had another user report permissions issues, but they had it set to `/data/` so it was trying to save files outside of the Mattermost folder.

[2016-09-30 18:46] InterHmai commented on #4133
Just the default setting

`"Directory": "./data/",`

[2016-09-30 18:49] lfbrock commented on #4116
Hi @St-Ex, we're thinking of adding a teams sidebar for people who belong to multiple teams:

<img width="279" alt="screenshot 2016-09-30 11 44 32" src="https://cloud.githubusercontent.com/assets/9354841/19002942/5ae7187e-8703-11e6-87bf-1b99421ef959.png">

We would probably still keep the desktop notifications showing, but it would make it easier to see which team they're coming from. Wondering if

[2016-09-30 18:50] arnuschky commented on #4127
Thanks for the reply and for taking on this issue. I can't contribute a PR at this point, I suck in Javascript and my Go is nonexistant - sorry.

The workaround works fine!

[2016-09-30 18:53] hmhealey commented on #4133
Okay, so it's not that. Have you changed where you're running Mattermost from? I'm not familiar with CentOS, but our production install guides all involve cding into `.../mattermost` and then running it as `bin/mattermost` so the data directory is relative to `.../mattermost`.

[2016-09-30 18:54] lfbrock commented on #4127
No worries, glad the workaround helps!

[2016-09-30 19:34] St-Ex commented on #4116
I'll take your ***or*** as inclusive one :smile:
* This feature would be really. Yes, it would solve our problem on mattermost/desktop. There would be no need for multiple tab.
* I'm also in favor for a kind of setting to prevent cross-team notification. It gives you a way to focus on one team when you need (Ex: multi-project context, you don't want to leave/change setting of all your channel when

[2016-09-30 19:59] lfbrock commented on #4116
Haha yes, an inclusive or. Makes sense, I can see how a setting like that would be useful

[2016-09-30 21:01] InterHmai commented on #4133
Hey. I just checked on a separate installation on CentOS7 + Mattermost 3.3.0, fresh install no migrations, using the RHEL7+ production install guide with some CentOS7 tweaks (PostgreSQL 9.5 for CentOS, etc)

Looks like in that case too, with the default data directory settings, the data folder is created as `/mattermost/bin/data` instead of `/mattermost/data`

[2016-09-30 22:09] lfbrock commented on #4070
Hi @istvano, I think it would be possible to build with our drivers if that's something you're interested in: https://docs.mattermost.com/developer/api.html#mattermost-drivers

There's a feature request here for something similar, but it's not something we've built yet.
https://mattermost.uservoice.com/forums/306457-general/suggestions/8810731-implement-a-site-chat-feature

[2016-09-30 22:13] lfbrock commented on #4103
@Screndt does the issue reproduce for you on the [v3.4 Android App](https://play.google.com/store/apps/details?id=com.mattermost.mattermost&hl=en)?

We're working on building new native mobile apps, so updating the About menu is something we may be able to look at after they are built.

[2016-09-30 22:21] istvano commented on #4070
Hi,

Thanks for the info. It looks good. I will check it out.

[2016-09-30 22:21] #4070 closed

[2016-10-01 15:02] jasonblais commented on #4073
Thanks again @loic-fejoz ,

Looks like the TeamMember.IsTeamAdmin() function was removed with https://github.com/mattermost/platform/pull/4090 and that you were guided to use the [ROLE_TEAM_USER](https://github.com/mattermost/platform/blob/master/model/authorization.go#L278) function instead.

Does that help resolve your issue?

[2016-10-01 15:04] jasonblais commented on #4084
We haven't received an update so we will assume that the problem can be covered by the [open issue in GitLab](https://gitlab.com/gitlab-org/gitlab-ce/issues/22531).

If the issue persists, please reopen this issue with the relevant information.

[2016-10-01 15:04] #4084 closed

[2016-10-01 15:24] jasonblais commented on #4125
@grundleborg would you have any thoughts on the reported issue?

[2016-10-01 15:24] jasonblais commented on #4126
@grundleborg would you have any thoughts on the reported issue?

[2016-10-02 04:01] jasonblais opened #4137 "[Help Wanted] After uploading a file with (CTRL+U) keyboard shortcut, set focus back to the text box"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

-----

#### Improvement: After uploading a file with (CTRL+

[2016-10-02 04:17] jasonblais opened #4138 "[Help Wanted] Bring up profile popover after clicking on a profile picture in a channel"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

-----

#### Improvement: Bring up profile popover after cli

[2016-10-02 04:26] jasonblais opened #4139 "[Help Wanted] Make channel limits configurable in the System Console"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

-----

#### Improvement: Make channel limits configurable i

[2016-10-02 04:31] jasonblais opened #4140 "[Help Wanted] Recent mentions and flagged posts icons next to the search bar should toggle results"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

-----

#### Improvement: Recent mentions and flagged posts

[2016-10-02 04:37] jasonblais opened #4141 "[Help Wanted] Only show desktop notifications for channels you are not actively in"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

#### Improvement: Only show desktop notifications for

[2016-10-02 04:39] jasonblais opened #4142 "[Help Wanted] Typing should always go to the center channel text input box"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

Jira ticket: https://mattermost.atlassian.net/browse/MM-120

[2016-10-02 06:42] karuppiah7890 commented on #4138
So, you want an additional feature where in clicking a profile picture "also" brings up a profile popover ?

[2016-10-02 11:25] jnugh commented on #2184
I would consider this a bug, not only because of the mixed content warning when loading http content (which makes a lot of trouble e.g. in the desktop app, see https://github.com/mattermost/desktop/issues/161).

This is also related to the following: Imagine I would like to gather data about the users of a Mattermost team, there are public teams like Contributors on pre-release and there will "Sin

[2016-10-02 11:34] rico042002 commented on #4139
I'm willing to contribute and help. Im a beginner, I started coding in July but I understand JS and JSON. The first bug seems like I can handle it fine, but that second seems a little tricky.

[2016-10-02 15:04] pepf commented on #4140
This looks doable, currently inspecting the related code and I came up with some questions regarding the scope.

Wondering if someone can tell me more about ```doStrangeThings()``` in [sidebar_right.jsx](https://github.com/mattermost/platform/blob/93f2b6a83302ceef5c98be4fb696840608ad3bc3/webapp/components/sidebar_right.jsx#L78) ?
What is the purpose of this?

Also, wouldn't the ```getFlagged()```

[2016-10-02 17:20] brendanbowidas commented on #4138
I'd like to take a stab at this, just sent a PR.

[2016-10-02 17:55] pciavald commented on #4113
# First connection :
![selection_091](https://cloud.githubusercontent.com/assets/3384097/19022439/3d7c4246-88d9-11e6-99f8-02025c0d6a70.png)

# on reload :
![selection_092](https://cloud.githubusercontent.com/assets/3384097/19022440/44366d00-88d9-11e6-8bc5-7c52e223f03d.png)

i'm typing single chars when it says `An invalid or illegal string was specified`.

# the desktop version works
![1_094](http

[2016-10-02 17:58] loic-fejoz commented on #4073
Hi @jasonblais
It helps solve my issue but the conclusion is neither satisfying for me, nor the other potential user.

Indeed, the goal of interface is to hide implementation details, esp. for API. And assuming testing that a user a role Team Admin, we shall provide such a thing, and knowing that the implementation has changed from version 3.3 to 3.4, we shall provide something.

And even if you t

[2016-10-03 03:19] jasonblais commented on #4140
Sweet, thank you for your interest @pepf!

To answer your questions:

1) The 'flagged posts' feature doesn't have a shortcut at the moment, but we might add one in the future. If we did, the shortcut should toggle the sidebar results as you mentioned.

2) If the sidebar is currently showing flagged posts, clicking on the "@" button or using the `CTRL+SHIFT+M` shortcut should show results for recen

[2016-10-03 03:24] jasonblais commented on #4139
Awesome, thank you @rico042002 for your interest!

@DavidLu1997, would you be able to help with the second part, perhaps guide to that part of code where the setting would be added in the System Console?

[2016-10-03 04:58] DavidLu1997 commented on #4139
Hello there @rico042002, you would have to modify a few things:

On the server side, you have to add it to the model, validate it, and set a default:
- [ ] Add the setting itself to the model in `model/config.go`, inside the `TeamSettings` struct [here](https://github.com/mattermost/platform/blob/master/model/config.go#L202).
- [ ] Add the default for it in `SetDefaults` also in `model/config.go`

[2016-10-03 12:04] pepf commented on #4140
That would be enough, thanks for the info :)

[2016-10-03 13:02] grundleborg commented on #4126
I've also noticed that things don't work nicely if you import the same Slack export into multiple teams on a server. At first glance, this appears to be because the importer imports the users twice, bypassing the check for duplicate usernames (which I believe are assumed to be server-unique), and thus breaking things. However, I think the issues may run deeper than that - we'll have to really dig

[2016-10-03 16:46] esethna commented on #4116
Hi @St-Ex, I can confirm the repro on the bug ignoring channel notification preferences. I've created a ticket here: https://mattermost.atlassian.net/browse/PLT-4334

Agree with the setting for preventing cross-team notifications. Will include when we plan notification improvements.

Closing this ticket to track in JIRA.

[2016-10-03 16:46] #4116 closed

[2016-10-03 16:57] lfbrock opened #4146 "[Help Wanted] Reduce minimum length of team name from 4 to 2 characters"
Currently the team name must be a minimum of 4 characters, we want to reduce this to 2.

[2016-10-03 17:22] jatinrajani commented on #4146
@lfbrock
I would love to contribute.Please guide me

[2016-10-03 17:32] lfbrock commented on #4146
Hi @jatinrajani, you can check out our [contribution guide](https://docs.mattermost.com/developer/contribution-guide.html#install-mattermost-and-set-up-a-fork) as a starting point, which includes a link to the [developer setup guide](https://docs.mattermost.com/developer/developer-setup.html).

If you have questions about this specific ticket, feel free to [sign up to our Mattermost site](https://

[2016-10-04 00:06] rico042002 commented on #4139
Did not know the project was in C++. Im only a few months into the Tri-Force of the web! So sorry guys, do you have any assignments in HTML/CSS/JS?

[2016-10-04 01:53] S4KH commented on #4146
Working on this. Changed MIN_TEAMNAME_LENGTH from 4 to 2 in constants.jsx. And changed the error message 'Name must be **4** or more characters up to a maximum of 15' to **2**.

One issue I am currently facing is one test failed.

Here is the screenshot:
![selection_002](https://cloud.githubusercontent.com/assets/15072209/19060177/500c2b52-8a18-11e6-8217-04c9297258d0.png)

[2016-10-04 02:17] S4KH commented on #4142
I am willing to resolve this issue, but can't login on my local is there any test user?

[2016-10-04 02:37] S4KH commented on #4139
Willing to work on it. Need test user to login to the system.

[2016-10-04 02:56] lfbrock commented on #4142
Hi @S4KH, I'm not sure if there's a test user but you should be able to go to the config.json file and set "EnableOpenServer": true, and then there should be a create an account link on the login page you can use to create a new account.

[2016-10-04 08:07] MickaelWalter commented on #4108
@lfbrock My bad for the "Activate file previews" option. In fact it is the "Link preview" option in the account advanced parameters. It should not affect this case.

Should the Mattermost global configuration be useful to you ?
My Mattermost server is behind a nginx proxy but I could reproduce by directly accessing the Mattermost listening port. The installation was recently upgraded from v3.2.0

[2016-10-04 09:31] S4KH commented on #4146
Can somebody tell me where is the localization file? I looked to the stores/localization_store.jsx and I think purpose of the file is different what I am looking for?

[2016-10-04 12:51] #4131 closed

[2016-10-04 13:56] jasonblais commented on #1994
Thank you everyone for the wonderful work!

Brazilian Portuguese was released earlier this year, and promoted from Beta to an official translation [in our August release](https://docs.mattermost.com/administration/changelog.html#languages).

Big thank you to @rodrigocorsi2 who is reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help

[2016-10-04 13:56] #1994 closed

[2016-10-04 13:59] jasonblais commented on #2140
Dutch was released [in our August release](https://docs.mattermost.com/administration/changelog.html#languages) - thank you everyone for the wonderful work!

Big thank you to @wyleung and @rononline who are reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help maintain the translations, please let us know on our [Dutch community cha

[2016-10-04 13:59] #2140 closed

[2016-10-04 14:01] jasonblais commented on #2295
Traditional Chinese (zh_TW) was released [in our August release](https://docs.mattermost.com/administration/changelog.html#languages) - thank you everyone for the wonderful work!

Big thank you to @chikei who is reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help maintain the translations, please let us know on our [zh_TW communit

[2016-10-04 14:01] #2295 closed

[2016-10-04 14:02] jasonblais commented on #2920
Simplified Chinese (zh_CN) was released [in our August release](https://docs.mattermost.com/administration/changelog.html#languages) - thank you everyone for the wonderful work!

Big thank you to @aeomin who is reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help maintain the translations, please let us know on our [zh_CN community

[2016-10-04 14:02] #2920 closed

[2016-10-04 14:03] jasonblais commented on #2447
Korean was released [in our August release](https://docs.mattermost.com/administration/changelog.html#languages) - thank you everyone for the wonderful work!

Big thank you to @CometKim who is reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help maintain the translations, please let us know on our [Korean community channel](https:/

[2016-10-04 14:03] #2447 closed

[2016-10-04 14:09] jasonblais commented on #2221
German was released [with Mattermost v3.2 in July](https://docs.mattermost.com/administration/changelog.html#release-v3-2-0) - thank you everyone for the wonderful work!

Big thank you to @meilon who is reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help maintain the translations, please let us know on our [German community channe

[2016-10-04 14:09] #2221 closed

[2016-10-04 14:11] jasonblais commented on #2444
Japanese was released [with Mattermost v3.0 in May](https://docs.mattermost.com/administration/changelog.html#release-v3-0-3) - thank you everyone for the wonderful work!

Big thank you to @ryoon who is reviewing new and updated strings as new features are added to Mattermost over time.

If anyone else would like to help maintain the translations, please let us know in our [Japanese community chan

[2016-10-04 14:11] #2444 closed

[2016-10-04 14:14] jasonblais commented on #2420
If anyone would like to contribute and help make Mattermost a Czech experience, please join the [Mattermost Translation Server](http://translate.mattermost.com/cs/mattermost/) to get involved, and our [Localization community channel](https://pre-release.mattermost.com/core/channels/localization) to meet other contributors.

[2016-10-04 14:16] jasonblais commented on #2572
Italian translations are well in progress but need a bit more help to ship in Mattermost.

If anyone is interested in contributing, please join the [Mattermost Translation Server](http://translate.mattermost.com/it/mattermost/) to get involved, and our [Localization community channel](https://pre-release.mattermost.com/core/channels/localization) to meet other contributors.

![image](https://cloud

[2016-10-04 14:18] jasonblais commented on #2767
That would be great @psyc0, much appreciated!

You can join the [Mattermost Translation Server](http://translate.mattermost.com/sv/mattermost/) to get involved, and our [Localization community channel](https://pre-release.mattermost.com/core/channels/localization) to meet other contributors.

Hope to see you there!

[2016-10-04 14:19] jasonblais commented on #3841
If anyone else would like to contribute, please join the [Mattermost Translation Server](http://translate.mattermost.com/hi/mattermost/) to get involved, and our [Localization community channel](https://pre-release.mattermost.com/core/channels/localization) to meet other contributors.

[2016-10-04 14:27] jasonblais commented on #3954
Hi @DarckCrystale,

we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem try first [upgrading to the latest version](https://docs.mattermost.com/administration/upgrade.html).

If the issue persists, reopen this issue with the relevant information and we'd be happy to help you out.

[2016-10-04 14:27] #3954 closed

[2016-10-04 14:35] jasonblais commented on #4121
Thanks again @alallier for the feedback, we'll track the issue through the Jira tickets referenced above

[2016-10-04 14:35] #4121 closed

[2016-10-04 14:38] jasonblais commented on #4146
Thanks for working on this @S4KH! We'll be testing your pull request shortly

You can find our localization files at [platform/i18n](https://github.com/mattermost/platform/tree/master/i18n) and at [platform/webapp/i18n](https://github.com/mattermost/platform/tree/master/webapp/i18n).

[2016-10-04 14:49] jasonblais commented on #4139
@rico042002:

Not a problem at all! If you're looking for JavaScript, please check our open issues on the [Desktop Application](https://github.com/mattermost/desktop/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest) repository, which primarily involves JS.

If you're looking for something with HTML, would any of the issues in [our Docs repo](https://github.com/mattermost/docs/issues) sound inte

[2016-10-04 15:03] alallier commented on #4121
Thank you

[2016-10-04 16:47] lfbrock commented on #4108
Alright thanks @MickaelWalter, I took a look around and my guess is it's similar to the issue described here: https://blogs.msdn.microsoft.com/asiatech/2012/03/28/office-documents-will-be-recognized-as-zip-file-when-downloading-from-ie/

I've created a ticket for someone to look into fixing this, thanks for the report!
https://mattermost.atlassian.net/browse/PLT-4347

[2016-10-04 20:35] gvollo opened #4153 "Remove Gif and command functionality."
#### Summary
The gif and command features are super annoying, and should be removed completely.

#### Steps to reproduce
Do a command or gif thing.

#### Expected behavior
No more :gif or command functionality would be real swell.

#### Observed behavior
A spike in my blood pressure.

[2016-10-05 01:03] S4KH commented on #4142
I was thinking catch any keypress and focus the input. But what if user was copying text from conversation? Do just have to check whether keycode is between a-z? Can somebody provide me the scenario of this issue?

[2016-10-05 01:26] S4KH commented on #4139
@jasonblais:

When I create a new user it does not have access to **System console** (System console link is not shown). How can I get/create a user that can access to **System Console**?

[2016-10-05 02:04] DavidLu1997 commented on #4139
@S4KH:
If you're running it locally for development, try doing a `make clean-docker`, then `make run`. Navigate to `localhost:8065` and you will be prompted to create an account, that account will have System Administrator privileges.

I hope this helps

[2016-10-05 03:57] S4KH commented on #4139
Followed steps above plus few extra things and finished. Now it seems saving `maxChannelsPerTeam` and shows saved value when reloaded. Is that a success criteria for the issue?

[2016-10-05 05:09] DavidLu1997 commented on #4139
I'm not sure what you mean by that. The `maxChannelsPerTeam` setting should save as expected. When the page is reloaded after saving, the new setting should be displayed.

[2016-10-05 05:13] S4KH commented on #4139
I was just asking about the success criteria for the issue.
Now it saves maxChannelsPerTeam and shows saved value when reloaded.

[2016-10-05 05:28] DavidLu1997 commented on #4139
Oh yeah, that's it. You've got it 💯

[2016-10-05 08:08] jimiatworking opened #4155 "any plan to joing appconfig.org"
Hi, I would like to know that does there any plan to make mattermost support AppConfig (http://appconfig.org/) that we could configu for Enterprises use. e.g: EMM support.

[2016-10-05 08:28] bof-sysadmin opened #4156 "[Help Wanted] Links "Terms of Service" and "Privacy Policy" on account creation page incorrect"
#### Summary

The hyperlinks under the "Create Account" button link to /static/help/terms.html and /static/help/privacy.html instead of the URLs specified under "Legal and Support" in the System Console.
#### Steps to reproduce

OS and Mattermost version: Ubuntu 14.04.5 and Mattermost 3.4.0
#### Expected behavior

When creating an account, the links to the terms of service and privacy policy shoul

[2016-10-05 15:50] wget opened #4161 "[Help Wanted] Slack import tool does not sometimes have debug messages indicating this is related to Slack"
#### Summary

The Slack import tool does not sometimes have debug messages indicating this is related to Slack.

For instance:  `"Failed to add user to channel: {{.Username}}\r\n"`
if a sysadmin reads this in the logs, he might think this is simply related to Mattermost not being able to add an user to a channel (security accesses not met, database issues, etc.), while is is just related to the Sl

[2016-10-05 15:55] jasonblais commented on #4161
Hey @grundleborg, just confirming with you:

Are the log messages referenced above included in the Slack Import Summary.txt file or would they appear elsewhere in the console, such as in server logs?

[2016-10-05 16:26] grundleborg commented on #4161
I think the messages being referred to here go in the general mattermost logs (or in the console when doing a Slack import through the CLI).

Given that they can be mixed in with the other log messages, I think this is a good point, and we should ensure it's clear that all these messages are triggered by the Slack importer.

@wget I'd be happy to do a pass through the Slack importer code and make

[2016-10-05 17:06] jasonblais commented on #4156
Great catch! Would you like to submit a PR to fix?

[2016-10-05 18:38] AlexNPavel opened #4163 "Mattermost Panic with "index out of range" Error"
#### Summary
Mattermost panics on index out of range error

#### Steps to reproduce
Only occurred once after running server for a few weeks, so not sure how to replicate. Current version (which is the one it crashed on) is 3.4.0, database is postgres.

#### Expected behavior
Server app shouldn't crash

#### Observed behavior
Error with these messages (we run mattermost using a systemd service) (ho

[2016-10-06 00:22] mattermod commented on #4163
Thanks @AlexNPavel for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your i

[2016-10-06 08:18] wget commented on #4161
@grundleborg Actually like I said to @jason, I can do it myself, I have already digged to the code, being myself a dev.
What I just need is to reach a consensus.
Can I prefix all debug messages with a statement like `Mattermost Slack Import:` and follow it by the current (slightly modified error messages)? But I'm not stopping you to do it by yourself, if you want to :-)

[2016-10-06 10:59] grundleborg commented on #4161
@wget sounds good. Prefix should just be `Slack Import:` though, as the Mattermost bit is redundant given the message is going to go in the `mattermost.log` file anyway. Please can you tag me in the PR for this when you have completed it, so I can review the other modifications.

[2016-10-06 11:02] grundleborg opened #4168 "Slack Importer fails silently to import a team with a purpose over 128 chars long."
**Update**: There's multiple things going wrong here. Repurposing this bug to be the one for the purpose being too long in #random causing the channel to fail to import.

<hr>

**Original Report**
#### Summary

Slack Importer fails silently to import a team with a channel called Off-Topic (with key `offtopic`). There's no error in the logs or import summary. The channel just isn't there. It used t

[2016-10-06 11:05] grundleborg commented on #4125
I tried this out and agree that it downloads a TXT file, but I can't see any HTML in there when I test it, so I think this behaviour is correct. @arnuschky are you able to provide an example of the HTML code present in the summary file?

[2016-10-06 14:25] hackfanatic opened #4171 "Changing mattermost username from gitlab provider."
#### Summary

Changing gitlab username after a fresh gitlab-omnibus installation (working SSO) does not change the username in mattermost.
#### Steps to reproduce
1. My original username is User1
2. Change account username to user2 in gitlab.
#### Expected behavior
1. Username also changes to user2 in the mattermost instance.
#### Observed behavior
1. Username remains the same in mattermost (user1

[2016-10-06 21:38] pciavald commented on #4113
After further investigating on this, I found a [fork of mattermost's documentation](https://github.com/woutervb/docs/blob/master/source/install/apache.md) featuring an apache configuration. I modified mine to look like this :
[code]
[code]

The error `An invalid or illegal string was specified` does not appear anymore, however I still have the disconnect errors.

firefox console :
[code]

[2016-10-07 00:15] pciavald commented on #4113
I think i've got it to work, thanks to digging in previous people's errors and some adjusting :
- mattermost/docs#25
- #1812
- [this post](http://stackoverflow.com/questions/11468154/tunneling-secure-websocket-connections-with-apache)

The `<VirtualHost *:80>` didn't change from the previous post. I still have the console errors 124 and 121 about Minified React, but they don't seem to interfere wi

[2016-10-07 00:15] #4113 closed

[2016-10-07 01:30] it33 opened #4176 "[Help Wanted] sudo apt-get install mattermost"
In Mattermost 3.5 shipping November 16, 2016 we're removing our NGINX dependency, and we're adding the ability to auto-configure certs via Let's Encrypt.

This simplifies the process of creating a package for Mattermost, and once that's available we can work on the various needed to get to `sudo apt-get install mattermost`

Anyone interested in helping on this?

[2016-10-07 01:58] it33 opened #4178 "[Help Wanted] Ability for Mattermost to accept `config.json` parameters via CLI"
Currently Mattermost picks up its settings from config.json, but this problematic if you want to change some config.json params via automation without overwriting the entire file.

Example:

- [GitLab omnibus needs to set GitLab SSO and DB settings in config.json when it upgrades Mattermost](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1688), but in doing so it _overwrites_ any other change

[2016-10-07 06:55] rkopplin commented on #4029
how did you solve it?

[2016-10-07 13:36] Rudloff opened #4180 "Mattermost keeps refreshing when SiteURL is set"
#### Summary
When SiteURL is not empty, Mattermost keeps refreshing

#### Steps to reproduce
Set something in SiteURL (in our case https://team.animafac.net/).
(We also use an Apache reverse-proxy but I don't know if it has something to do with it.)

#### Expected behavior
Everything should keep working correctly

#### Observed behavior
The page keeps refreshing and I get this message in the brows

[2016-10-07 17:35] rosshadden commented on #2668
He meant it was added to the suggestion website.  Hasn't been added in code yet.

[2016-10-07 17:51] mattermod commented on #4153
Thanks @gvollo, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to this

[2016-10-08 02:29] it33 opened #4182 "[Help Wanted] Support Minio for Mattermost file storage"
Minio is a self-hosted alternative to Amazon S3 and it's driver is compatible with both S3 and Minio.

Help wanted for changing our Mattermost S3 driver with Minio, which does more: https://github.com/minio/minio-go

If you're interested in working on this and need help, join our Developers channel: https://pre-release.mattermost.com/core/channels/developers

[2016-10-08 14:50] jasonblais commented on #4118
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, please post this in our [troubleshooting forums](https://forum.mattermost.org/c/general/trouble-shoot) for more help?

[2016-10-08 14:50] #4118 closed

[2016-10-08 14:50] #4163 closed

[2016-10-08 14:50] #4153 closed

[2016-10-08 14:51] jasonblais commented on #4138
Fixed by #4144, thanks again @brendanbowidas!

[2016-10-08 14:51] #4138 closed

[2016-10-08 15:10] jasonblais commented on #4155
Thanks @jimiatworking, appreciate the feedback.

There are no plans at the moment - would you like to contribute this idea in the [feature idea forum](https://mattermost.uservoice.com/forums/306457-general) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub

[2016-10-08 17:51] jasonblais commented on #4180
Thanks @Rudloff for the report. Have you upgraded to the latest version yet (v3.4)?

Also, how frequently does the page refresh? Which browser versions (Chrome/Firefox/IE11) and operating system (Windows/Mac/Linux) has this reproduced?

[2016-10-08 18:11] Rudloff commented on #4180
Yes, I am using 3.4.0.
It refreshes every few seconds.
I can reproduce with the desktop app and Firefox on Linux.

[2016-10-08 18:13] Rudloff commented on #4180
I tried again just now and I can't reproduce anymore so I'm closing this issue.
I will reopen if it happens again.

[2016-10-08 18:13] #4180 closed

[2016-10-08 18:39] jasonblais commented on #4126
Thanks @grundleborg for the feedback - @yangchen1 please take a look when you get the chance?

[2016-10-08 18:40] jasonblais commented on #4108
[We'll track in Jira](https://mattermost.atlassian.net/browse/PLT-4347) -- if anyone is interesting in helping submit a fix, please let us know.

[2016-10-08 18:40] #4108 closed

[2016-10-08 18:42] jasonblais commented on #4104
Thanks again @Screndt! I'll close this issue for now so we can concentrate [discussion on the forum thread](https://forum.mattermost.org/t/marking-users-away-from-mattermost-vs-away-from-computer/2173).

Appreciate the feedback, and hoping to hear more thoughts from the community.

[2016-10-08 18:42] #4104 closed

[2016-10-08 18:43] jasonblais commented on #4180
Thanks @Rudloff! We'll keep an eye out for this as well.

[2016-10-09 17:53] jasonblais opened #4184 "[Help Wanted] When creating a new team, incorrect error displayed when trying a team URL with one character"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

----

When creating a new team, incorrect error displayed w

[2016-10-09 17:53] jasonblais opened #4185 "[Help Wanted] If a webhook is sent to a Direct Message channel that has not been created yet, create the channel"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

----

Repro: Send an incoming webhook message to a direct m

[2016-10-09 17:54] jasonblais opened #4186 "[Help Wanted] Render SVG files in file preview"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

We render JPG, GIF, PNG today, adding SVG would be nic

[2016-10-09 17:54] jasonblais opened #4187 "[Help Wanted] Turn off [...] menu for System Messages"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

----

Currently System Messages do not allow replies, but s

[2016-10-09 17:54] jasonblais opened #4188 "[Help Wanted] Add a "Position" field to Account Settings and profile popover"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

There are three parts to this improvement:

1) Add **P

[2016-10-09 18:27] jasonblais commented on #4156
Adding a Hacktoberfest label, would anyone be interested in working on a fix? This would be a good first contribution that introduces you to the Mattermost code base.

Thanks again @bof-sysadmin for the initial report!

[2016-10-09 18:38] enahum commented on #4188
Maybe the"role" should be replace by another word to prevent confusion with
the permission roles

On Sunday, 9 October 2016, Jason Blais <notifications@github.com> wrote:

[2016-10-09 20:35] Zhouzi commented on #4035
I am interested in implementing this feature. I've set myself up and signed the CLA so will start working on it 😃

[2016-10-09 21:02] jasonblais commented on #4035
That's awesome, many thanks @Zhouzi!! Highly appreciated!

If you're not a member yet, consider [joining our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets), where you can discuss questions with community members and the Mattermost core team.

[2016-10-09 21:25] rdbell opened #4189 "Android keyboard is dismissed after sending message"
#### Summary
Android keyboard dismisses after sending message

#### Steps to reproduce
Send a message in a DM/channel while on mobile layout in Android OS (may also occur on iOS)

#### Expected behavior
Keyboard should stay active, as is common with most messaging apps

#### Observed behavior
Keyboard is dismissed

#### Possible fixes
`$('.send-button').click(function() { $('#post_textbox').focus(

[2016-10-10 03:58] it33 opened #4190 "[Help Wanted] React Native Mattermost mobile apps with Redux"
Our open source framework for new official React Native mobile apps is shipping after October 31.

We wanted to [share our plans early](http://forum.mattermost.org/t/react-native-roadmap/2339) and invite anyone interested in helping with React Native to discuss here, so we can work together in future.

If there's community members with Redux and React experience who want an early preview, please l

[2016-10-10 08:39] andela-rsadiq commented on #4188
Has this been issue been taken already? I would like to work on it.

[2016-10-10 12:17] ZJvandeWeg opened #4191 "Setup session without Oauth or mock user"
#### Summary
For API access for actions another application or system wants to perform there is no good mechanism at this time to get a session token.

For example: with SSO enabled for GitLab there is no way for GitLab to perform actions without knowing the plaintext password of a user or this user having to go through OAuth actions and perform operations as this (mock) user.

I'd be great if the

[2016-10-10 14:52] ZJvandeWeg commented on #4191
cc @ayufan

[2016-10-10 15:45] jasonblais commented on #4188
Not yet @andela-rsadiq, please go ahead!

Highly appreciated!

[2016-10-10 20:08] thorsummoner commented on #4176
You'll probably want to use a ppa with launchpad.net, I wouldn't expect getting into the mainline repositories. I'm unfamiliar with the requirements to get in with the debian repository, I expect a maintainer would be a minimum and be expected to be asked to support LTS versions of the app with security fixes for years. (This is what I expect from an outside view, I don't really know)
With ppa you

[2016-10-10 21:53] it33 commented on #4176
Thanks @thorsummoner, appreciate your input. If you'd like to join an on-going discussion, please [join us on our Mattermost channel about installers and images](https://pre-release.mattermost.com/core/pl/nry9swj9x3dofr573nxw17d6ny).

[2016-10-10 22:15] jasonblais commented on #4171
@hackfanatic Thanks for the report!

Does the username get updated if you log out from Mattermost, then log back in?

[2016-10-10 22:17] jasonblais commented on #4142
Quick update here @S4KH: We're looking through all the different cases and are planning to review them in our UX meeting on Wednesday. I'll report back here shortly afterwards.

Sorry for the delay, and highly appreciate your interest!

This is a potentially powerful change that would significantly improve the user experience.

[2016-10-11 09:56] alsma commented on #4187
Hi! I would like to work on this.

[2016-10-11 12:27] jasonblais commented on #4187
Thanks @alsma for your interest! Great to hear :)

[2016-10-11 13:15] jfperusse-bhvr commented on #3529
Here's how I think this should work. This is one of the most annoying issues for us since we're all part of multiple teams.

Suppose that:

- User A is part of teams X and Y (default team is X)
- User B is part of teams X and Z (default team is X)

What should happen:

- When user A writes to User B from team X, User B should receive the notification under team X.
- When user A writes to User B fr

[2016-10-11 13:24] alsma commented on #4137
I'm going to work on this

[2016-10-11 14:36] #4127 closed

[2016-10-11 14:43] lfbrock commented on #4103
Hi @Screndt - I'm going to close this issue, I believe it should be fixed if you install the latest version of the android app. If you're still having issues, please re-open!

[2016-10-11 14:43] #4103 closed

[2016-10-11 14:43] jasonblais commented on #4137
Thanks @alsma for letting us know that the issue has been fixed / doesn't reproduce.

Also tested on Windows 10 Chrome and Desktop App.

[2016-10-11 14:43] #4137 closed

[2016-10-11 16:55] jasonblais commented on #4133
Thanks again @InterHmai and sorry for the delay in responding

We've [submitted a change to the RHEL 7 installation guides](https://github.com/mattermost/docs/pull/592) - wondering if we could have your help reviewing whether the change is sufficient in resolving the issue you reported?

[2016-10-11 18:09] Grazfather opened #4202 "Auto focus on text input doesn't work correctly"
Saw that it was a FR that was apparently done [here](https://mattermost.uservoice.com/forums/306457-general/suggestions/10190166-auto-focus-cursor-to-message-typing)

It doesn't work quite often.

#### Summary
Once focus from the text input is lost (e.g. to click a link), typing does not refocus it.

#### Steps to reproduce
Click in chat window, start typing.

#### Expected behavior
Focus moves to

[2016-10-11 23:43] bolecki commented on #4036
I would like to give this one a shot!  I already signed the CLA and joined the community channel.  I look forward to helping out!

[2016-10-12 04:17] kevinlong206 opened #4205 "Is the LDAP integration code closed source?"
Sorry if this is the wrong forum, but just wondering.

I know mattermost has the enterprise edition packages + support etc.

I'm looking to roll my own w/LDAP, wondering if this is possible.

Thanks!

[2016-10-12 08:07] it33 commented on #4205
LDAP isn't part of open source Team Edition, as it's considered a corporate feature and part of the commercial extension.

You're welcome to fork the Mattermost server and use it under its open source license. If you're offering it to other people just make sure to remove the Mattermost logos and mentions of the Mattermost name per the [trademark guidelines.](https://www.mattermost.org/trademark-s

[2016-10-12 08:07] #4205 closed

[2016-10-12 10:17] faiyaz26 commented on #4186
hey, I want to work on this issue. Found the way to solve it already. Will be sending PR in next few days. :)

[2016-10-12 10:43] alsma commented on #4185
I've added possible fix in PR #4206

[2016-10-12 11:08] fraziern commented on #4184
I'm taking a look at this.

[2016-10-12 12:17] jasonblais commented on #4184
Thanks @fraziern for your interest! Highly appreciated!

[2016-10-12 12:17] jasonblais commented on #4186
Awesome, thanks @faiyaz26 for your interest! Highly appreciated!

[2016-10-12 12:18] jasonblais commented on #4036
Awesome, thanks @bolecki for your interest! Highly appreciated!

Many in the community have been waiting for this improvement :)

[2016-10-12 12:25] jasonblais commented on #4140
Thanks @pepf for your work, highly appreciated!

Closing by #4169

[2016-10-12 12:25] #4140 closed

[2016-10-12 13:40] lfbrock commented on #4202
Hi @Grazfather - we have a [Help Wanted] GitHub issue here if you'd like to join the discussion on how best to do this: https://github.com/mattermost/platform/issues/4142

[2016-10-12 15:51] lfbrock commented on #4189
Hi @rdbell, agree that makes sense - made a ticket here to track the issue:
https://mattermost.atlassian.net/browse/PLT-4376

Is this something you'd be interested in working on?

[2016-10-12 15:58] Grazfather commented on #4202
@lfbrock Perfect thanks.

[2016-10-12 16:06] Grazfather commented on #4142
I am not a web developer so I can't really help here, but for techniques, I could probably just try to investigate and see how it's done in similar applications e.g. web.whatsapp.com or web.telegram.org

[2016-10-12 16:32] InterHmai commented on #4133
Tested it out and the fix looks good to me. Thanks!

[2016-10-12 16:33] jasonblais commented on #4133
Thanks @InterHmai! Appreciate it!

[2016-10-12 16:33] #4133 closed

[2016-10-12 17:14] jasonblais commented on #4142
Hey @S4KH @Grazfather, how would the following proposal sounds like for you?

-----

Focus should be set to center channel input box if a character key or numeric keypad key is pressed (see screenshot).

![image](https://cloud.githubusercontent.com/assets/13119842/19317362/c8acf0e0-9072-11e6-9aa0-41b797cdee25.png)

Below are a list of exceptions when focus should NOT be set to center channel text

[2016-10-12 17:18] #4202 closed

[2016-10-12 20:29] yangchen1 commented on #4168
Hey @grundleborg, I'm able to repro this on Chrome, although the name on the Slack channel has to specific be "Off-Topic" with the dash, and the failure is not silent for me. It seems like if there's any channel that is deleted before importing, and then imported with the exact same name, it will fail.

On a separate but potentially related note, random always fails to import for me for some reaso

[2016-10-12 21:04] pepf commented on #4141
I can do this 👍

[2016-10-12 21:29] jasonblais commented on #4141
Sweet, thanks @pepf!!

You're awesome :)

[2016-10-13 06:54] pepf commented on #4141
Question:
The user is currently active in say, "town square", but the window is not focused, or the browser is not showing the mattermost tab. If a message enters the town square channel, should the user be notified?

[2016-10-13 14:33] alsma commented on #4095
I'm on it

[2016-10-13 15:49] gabx commented on #1925
Same issue here, and can't find in the Forum any follow up.

[2016-10-13 15:49] jasonblais commented on #4095
@alsma, you're awesome!!

[2016-10-13 16:18] jasonblais commented on #4141
@pepf That's correct, if the window (or Mattermost browser tab) isn't in focus, a desktop notification should be sent when a user receives a message on that channel.

One concern that came to mind is that if a user has scrolled up the channel and receives a message, there won't be any indication that a new message was received. Any thoughts on that?

We had an old ticket that I reopened, which add

[2016-10-13 16:41] andela-rsadiq commented on #4188
Great, I am on it already!

[2016-10-13 16:47] lfbrock commented on #4191
Hi @ZJvandeWeg,

So you'd like to be able to get a generated API key and use that to access our APIs?

A couple of options would be:

1. We could add a page to the Integrations section that lets any user grab an API key that they can give to third party systems to access APIs on their behalf
2. We could add a tab to the System Console that only lets the System Admin grab that API key, which will l

[2016-10-13 16:53] Aka4Code commented on #4187
Please if you can, make option to this, I use this menu also with system messages.

[2016-10-13 17:11] jasonblais commented on #4087
#4209 should close this issue, highly appreciated @alsma!

[2016-10-13 17:12] #4087 closed

[2016-10-13 17:39] Grazfather commented on #4142
That sounds pretty reasonable to me.

[2016-10-13 17:45] jasonblais commented on #4142
Thanks, good to hear @Grazfather!

@S4KH were you still interested in adding this improvement?

[2016-10-13 18:00] ZJvandeWeg commented on #4191
Thanks for the reply @lfbrock, I think both would work. Although a million ❤️  if its available to obtain without going through the UI.

So by CLI would be awesome, although as a start I could certainly live with having the admin copy-pasting a token. This would probably be more reusable for the rest of the community.

[2016-10-13 18:10] Grazfather commented on #4142
pasting without focus should also select the text entry.

[2016-10-13 18:31] pepf commented on #4141
Ah thanks for the response, I already send a PR for the first part (which was quite easy), but Ill adjust it to incorporate the window/tab focus part as well.

And about the message indicator.. I have no experience with it, but there's a similar indicator in the left menu, perhaps this could be reused as a new message indicator?

[2016-10-13 22:05] Grazfather commented on #4142
Yeah that works.

[2016-10-13 22:30] lfbrock opened #4218 "[Help Wanted] Update the browser tab title when in the System Console"
Looking for help fixing a bug where the browser tab title doesn't update properly.

Repro Steps:
1. Sign in to a Mattermost team and open a channel
2. Go to the three dot Main Menu, and select System Console

Observed: The browser tab title doesn't update, and still says the name of the last channel you were on.
<img width="317" alt="screenshot 2016-10-13 18 28 58" src="https://cloud.githubusercon

[2016-10-13 23:21] jasonblais commented on #4187
Hey @Aka4Code, thanks for the feedback!

Do you use the permalink option, or do you delete system messages?

[2016-10-13 23:22] jasonblais commented on #4141
Thanks @pepf! We'll test your PR, have queued it for review.

As for the message indicator, it could look something like this

![image](https://cloud.githubusercontent.com/assets/13119842/19363150/52384244-9157-11e6-99d6-6a1c16e77cd7.png)

Would that be something you'd be interested incorporating? We'd be happy to spec it out.

If not no worries, just something that I thought about.

[2016-10-14 04:55] aszx87410 commented on #4218
I can work on this.

[2016-10-14 06:56] hko-gh opened #4220 "User name becomes lower-case on signup"
Dear all,
During signup I chose a user name with first character upper case. Afterwards I was unable to log in with that same user name and I found, after logging in with my e-mail address, that the user name became all lower-case.
Either that should be avoided or stated or enforced appropriately at the signup page.
Best regards

[2016-10-14 13:14] fraziern opened #4224 "Replace hardcoded numbers in error strings with constants"
#### Summary

Occurred to me while working on #4223 - new team names are tested against constants for length limits, but the error strings have the current value of those constants hardcoded in.
#### Possible fixes

Should the error strings use template strings or some other way to remove the hard-coding?

[2016-10-14 14:11] lfbrock commented on #4125
Going to close this issue, as I think it currently downloads as a TXT file intentionally - @arnuschky if you'd like to submit a [feature request](https://www.mattermost.org/feature-ideas/) to change this to an HTML page please feel free.

[2016-10-14 14:11] #4125 closed

[2016-10-14 14:12] lfbrock commented on #4032
@irfanitw, just wondering if I can close this issue or if you're still having problems?

[2016-10-14 16:50] InterHmai opened #4227 "Localization case inconsistency /webapp/i18n/en.json"
Minor typo in `/webapp/i18n/en.json` line 1992

`"user.settings.security.loginGitlab": "Login done through Gitlab",`

For consistency, should be:

`"user.settings.security.loginGitlab": "Login done through GitLab",`

[2016-10-14 16:56] enahum commented on #4227
Fixed by https://github.com/mattermost/platform/pull/4228

[2016-10-14 16:56] #4227 closed

[2016-10-14 17:03] lfbrock commented on #4191
Alright @ZJvandeWeg I made a [ticket to track this](https://mattermost.atlassian.net/browse/PLT-4386), it will be discussed further in the Developer Meeting next Wednesday - feel free to join the Developers channel on our [daily builds site](http://pre-release.mattermost.com).

[2016-10-14 17:07] ZJvandeWeg commented on #4191
Thanks, Ill try to join that.

I am registered at your server already though 😉

[2016-10-14 17:13] lfbrock commented on #4191
great glad to hear it! :)

[2016-10-14 23:32] irfanitw commented on #4032
@lfbrock, haven't forgotten about this. We're planning to upgrade to MM 3.4 this weekend and then we'll have to wait for 3-4 days to hear back from the iOS users

[2016-10-14 23:32] irfanitw commented on #4032
Uh make that Android users

[2016-10-15 03:04] stanhu commented on #3944
I've tried to replicate this problem and haven't been able to do so yet. I have one question about this remark:

If `client_id` is invalid, GitLab will report a different message:

[code]

If GitLab says, "The redirect URI included is not valid", that usually means the `redirect_uri` generated by Mattermost doesn't match the allowed redirect endpoints specified in GitLab. Even in extra slash can c

[2016-10-15 07:07] Aka4Code commented on #4187
I delete system messages, it's useful sometimes.

[2016-10-15 08:49] monty241 commented on #3944
@stanhu To whom is the question "Are you sure the mattermost...GitLab" directed?

[2016-10-15 10:26] jdoubleu commented on #3944
Okay I rechecked all my settings and the problem still exists.

**Here's my setup:**

I'm currently using GitLab `8.12.6` Omnibus which runs under `https://git.example.com`.
I couldn't determine the exact version of Mattermost but I'm using the `latest` docker image (image ID `35281f9a2aa2` created 6 days ago).
Mattermost is accessible under `https://mattermost.example.com`.

Both GitLab and Matte

[2016-10-15 10:28] jdoubleu commented on #3944
To answer @stanhu 's question:

The `client_id` seems to be correct but the `request_uri` doesn't.

Totally correct!

[2016-10-15 11:16] jdoubleu commented on #3944
Okay I found the problem!

I've setup Mattermost inside docker containers. Therefore I used the `docker-compose.yml` file from [`mattermost-docker`](https://github.com/mattermost/mattermost-docker).

Mattermost is working correct and the functions mentioned in the issue are doing a good job but the docker containers doesn't.

I'm creating an issue over there but here's a short explanation:
I menti

[2016-10-15 12:43] pepf commented on #4141
Sure thing, sounds like a useful feature 👍

[2016-10-15 13:53] stanhu commented on #3944
@jdoubleu Thanks for figuring this out! I had a feeling it had to do with confusion over the `X-Forwarded-Proto` header.

I wonder if GitLab omnibus should write out `SiteURL` to avoid any ambiguity since `mattermost_external_url` specifies this.

[2016-10-15 18:04] arnuschky commented on #4125
Apologies, I didn't manage to reply before (needed to redact the output files).

It appears that I was getting an HTML output when the import was reported as failed. Hence my confusion. Here is the output:
[MattermostImportSummary.txt](https://github.com/mattermost/platform/files/531323/MattermostImportSummary.txt)

 When the import was reported as successful (but didn't do anything due to pre-exi

[2016-10-15 18:06] arnuschky commented on #4126
Sorry had to redact the files.

First import, on team 1, reported as failed, but created channels and users:
[MattermostImportSummary.txt](https://github.com/mattermost/platform/files/531325/MattermostImportSummary.txt)

Second import, on team 1, reported as success, but didn't create any channels or users:
[MattermostImportSummary2.txt](https://github.com/mattermost/platform/files/531324/Mattermo

[2016-10-16 07:25] izuolan opened #4232 "Please check connection, Mattermost unreachable."
I use the docker image: mquandalle/wekan:devel

My network is well, But always show the tip:
`Please check connection, Mattermost unreachable. If issue persists, ask administrator to check WebSocket port.`

How can I delete the tip?

The log:
[code]

[2016-10-16 07:40] izuolan commented on #4232
Add this in nginx.conf
[code]

[2016-10-16 07:40] #4232 closed

[2016-10-17 11:32] erikpi opened #4233 "Emojis are too small"
#### Summary
Custom emoji restrictions are too small, both in filesize and resolution.

#### Steps to reproduce
Its because of the following code in https://github.com/mattermost/platform/blob/master/api/emoji.go

const (
	MaxEmojiFileSize = 64 * 1024 // 64 KB
	MaxEmojiWidth    = 128
	MaxEmojiHeight   = 128

#### Expected behavior
Please increase to something that is more proper for gifs and stuff

[2016-10-17 12:29] jasonblais commented on #4184
Thanks again @fraziern, works great!

----

Tested on Windows 10, Chrome:
 1) Creating a team with less than 4 or more than 15 characters gives error message: `Name must be 4 or more characters up to a maximum of 15`
 2) Creating a team with special characters causes no issues
 3) Requirements for URL are met (use lowercase letters, numbers and dashes; must start with a letter and can't end in a d

[2016-10-17 13:21] lfbrock commented on #4233
@erikpi - is this for custom emoji or all emoji? We designed the custom emoji to be the same size as our other emoji.

If you think these should be larger, can you file a [feature request](https://www.mattermost.org/feature-ideas/) on it?

I think the options in my mind would be to:

1. Make all emojis slightly larger
2. If you make a post containing only emoji, make the emojis a larger size (we w

[2016-10-17 13:22] lfbrock commented on #4189
Going to close this issue and will track it in Jira.

[2016-10-17 13:22] #4189 closed

[2016-10-17 13:37] jasonblais opened #4235 "[Help Wanted] Allow custom emojis larger than 64kb, and scale them down to the appropriate size"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.
##

Currently custom emojis have a very small size limit (64

[2016-10-17 13:39] jasonblais opened #4236 "[Help Wanted] Add a progress bar for file uploads"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

Add a progress bar for file uploads ([Jira ticket](htt

[2016-10-17 13:54] jasonblais opened #4237 "[Help Wanted] Support Slack attachments in response to outgoing webhooks"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

We support Slack attachments for incoming webhooks, bu

[2016-10-17 13:54] jasonblais opened #4238 "[Help Wanted] Support Slack attachments in response to slash commands"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

We support [Slack attachments](https://docs.mattermost

[2016-10-17 15:04] tudorgergely commented on #4236
Hi, I'd like to work on this. Anything special I have to do before starting working? I joined the community channel a few minutes ago but I am a little lost :). Thanks

[2016-10-17 15:34] jasonblais commented on #4236
That's great to hear @tudorgergely, thanks for your interest!!

As a first step, you can review our [Contribution guidelines](https://docs.mattermost.com/developer/contribution-guide.html) to help set up your environment and review a few steps to submit a pull request

[2016-10-17 15:38] erikpi commented on #4233
Hey,

This is for custom emojis, i think the standard-ones are a good size and need no change.
What is want is to be able to upload bigger, custom emojis, this is specifically for gifs, because gifs at 128x128 pix with 1024 kb limit is very small / short

Real world case, if we want to make [this ](http://devopsreactions.tumblr.com/post/151281670953/trying-the-first-prototype-good-enough) into a e

[2016-10-17 15:44] jasonblais commented on #4233
Thanks @erikpi, we just added a Hacktoberfest issue that would allow users to upload custom emojis larger than 64kb, but scales them down to the appropriate size: https://github.com/mattermost/platform/issues/4235

Would this cover your request? And would you be interested in submitting a pull request for it?

[2016-10-17 18:56] iraquitan commented on #4235
Hi, I'd like to give it a try.

[2016-10-17 19:05] jasonblais commented on #4235
Sweet, highly appreciated @iraquitan!

[2016-10-17 19:12] esethna opened #4241 "[Help Wanted] Do Not Disturb mode"
If you're interested in contributing this feature, please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.
### Functionality

When Do Not Disturb is on,
1. Desktop, push and email notifications for the team are not

[2016-10-17 19:33] esethna opened #4242 "[Help Wanted] Channel Mute"
This ticket is for offering an option to turn off all notifications from a channel and only show unread if the user has been mentioned.

If you're interested in contributing this feature, please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members

[2016-10-17 22:00] alsma commented on #4241
I'm going to work on this

[2016-10-18 00:49] lfbrock opened #4247 "[Help Wanted] Group Messaging"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Current Behavior**: Currently if you want to have a

[2016-10-18 01:09] JrPribs commented on #4247
I'm interested in creating this feature. I've requested access to the detailed spec if you could provide access, thanks!

[2016-10-18 01:26] lfbrock commented on #4247
sorry about that, @JrPribs you should be able to see it now

[2016-10-18 02:56] richa-coder commented on #4247
I want to contribute to it.

[2016-10-18 04:22] jasonblais commented on #4078
Hey @killua-eu and @krisak

We re-installed the Android app v3.4 and weren't able to reproduce the problem anymore (notification shows on the drawer + sound plays as normal).

Wondering if either of you would like to try re-installing the latest Mattermost Android app from Google Play store?

As above, please make sure push notifications are enabled in **Account Settings > Notifications > Mobile p

[2016-10-18 04:28] jasonblais commented on #4184
Closing issue by #4223, big thanks @fraziern!

[2016-10-18 04:28] #4184 closed

[2016-10-18 04:30] jasonblais commented on #4185
Closing by #4206, huge thanks @alsma!!

[2016-10-18 04:30] #4185 closed

[2016-10-18 04:31] jasonblais commented on #4187
Closing by #4198, huge thanks @alsma!!

@Aka4Code If you'd like to discuss it further, I encourage you to join our [Mattermost UX design channel](https://pre-release.mattermost.com/core/channels/ux-design) and offer your thoughts with other community members and the Mattermost team.

[2016-10-18 04:31] #4187 closed

[2016-10-18 04:32] jasonblais commented on #4218
Closing by #4221, huge thanks @aszx87410!!

[2016-10-18 04:45] jasonblais opened #4248 "[Help Wanted] Allow Slash Command to set username/icon from the reply payload"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

We allow users to override username/icon in the reply

[2016-10-18 04:53] jasonblais opened #4249 "[Help Wanted] Add support for Slash Commands in right hand side"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

Currently slash commands (e.g. `/shrug`) only work in

[2016-10-18 05:03] karanjthakkar commented on #4156
@jasonblais I'd love to give this a shot!

[2016-10-18 05:09] jasonblais opened #4250 "[Help Wanted] Add new messages indicator when scrolled up in a channel"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

When a user scrolls up in a channel and a new message

[2016-10-18 05:10] jasonblais commented on #4141
That would be awesome @pepf!!

I created a new Hacktoberfest issue for it, if you're still interested https://github.com/mattermost/platform/issues/4250

[2016-10-18 07:25] killua-eu commented on #4078
Hi, reinstalled Mattermost from Google play and configured the Mobile push notifications according to the screenshot. Unfortunately I can still reproduce the problem:

1. with system volume set to max, i can barely hear the jingle.
2. i still don't get any notifications in the system notification drawer, so when I overhear the jingle, I have no way of finding out about a new message except for ope

[2016-10-18 07:34] killua-eu commented on #4078
Update: I noticed, that changing  send mobile push notifications to the value "for all activity" actually doesnt emit notification jingles on all activity, but on only on the first @ mention. until I read the incoming messages, I won't get to "hear about" any new messasge/mention at all (at least not when its a direct message with a @ mention from the same person over and over again). If I change

[2016-10-18 08:09] Twoflower2 opened #4251 "some c/c++ reserved words are not syntax Highlighted using ``` cpp ```"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Issue using markup ``` cpp ``` that all c++ syntax is not Syntax Highlighted.

###

[2016-10-18 08:58] killua-eu commented on #4078
Update2: I noticed there's a separate system setting for notification sounds. Ramping up the volume there make's the mattermost notification jingle kinda audiable at the cost of having all other notification sound volumes extremely high.

[2016-10-18 09:18] andre82hh opened #4252 "Do not allow personal invite link sharing"
#### Summary
Do not allow personal invite link sharing

#### Steps to reproduce
pre-condition:
- use gitlab as oauth provider
- no mail sign up allowd

click 3 dots -> Invite New member -> enter mail -> send Invitation -> when receive mail, grap the invite link -> share this link with anybody, can join team.

#### Expected behavior
personal invite link is only useable by one person.

#### Observed

[2016-10-18 09:25] isundil commented on #4250
Why not having a "new message notification" on the chan list bar, like in this picture ?

https://www.mattermost.org/wp-content/uploads/2015/06/20150715_non-english-channels4.jpg

[2016-10-18 09:35] erikpi commented on #4233
Hello! Sounds awesome!! 👯 You can close this one and i will keep track of #4235

[2016-10-18 12:08] jasonblais commented on #4156
please go ahead @karanjthakkar!

[2016-10-18 12:09] jasonblais commented on #4233
Awesome! Sounds good, thanks again @erikpi

[2016-10-18 12:09] #4233 closed

[2016-10-18 12:17] kaakaa commented on #4249
I'd like to work on this!

[2016-10-18 12:24] jasonblais commented on #4249
Sweet!! Many thans @kaakaa, you're great!

[2016-10-18 15:04] syamgk opened #4254 "Failing to retrieve data from PostgreSQL database cluster"
#### Summary

Failing to retrieve system console data while using the pgpool setup for database
#### Steps to reproduce

[Deploying on openshift](https://gitlab.com/sgk/mattermost)
or
[Deploying on docker](https://gitlab.com/sgk/mattermost-docker)
after deploying, do a signup and go to system console
#### Expected behavior

While trying to run mattermost on openshift.
It's working successfully wit

[2016-10-18 15:15] keithgallant opened #4255 "Api headers are not exposed or accepted when mattermost dev server"
We are currently trying to use the Dev server setup to work on implementation (https://docs.mattermost.com/developer/developer-setup.html). The Mattermost instance is running successfully when browsing to http://localhost:8065. However, when consuming the api through http://localhost:8065/api/v3 from our Angular app then Token header is not exposed when posting to users/login and the get calls to

[2016-10-18 15:46] lfbrock opened #4257 "[Help Wanted] Website Link Previews"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Current Behaviour:** We have link previews for imag

[2016-10-18 16:18] shahbaz17 commented on #4257
I would like to work on this. Can anyone guide me ?

[2016-10-18 16:51] esethna commented on #4251
Thanks @Twoflower2, do you have a list of which reserved words are not highlighting?

[2016-10-18 17:06] jasonblais commented on #4257
Thanks @shahbaz17 for your interest!

You can come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss the feature and ask questions.

You can also review our [Contribution guidelines](https://docs.mattermost.com/developer/contribution-guide.html) to help set up your environment and review a few tips

[2016-10-18 17:20] dhruvdutt commented on #4236
You would like to try this one.

[2016-10-18 20:54] esethna commented on #4241
Updated the spec on how to turn off DND.

![image](https://cloud.githubusercontent.com/assets/14333569/19495995/cd95e902-9542-11e6-9c27-f7b79406d558.png)

[2016-10-18 21:17] grundleborg commented on #4168
Urgh.

On further investigation, the issue here appears to be the length of the "channel purpose". Mattermost limits it to 128 chars, whereas the default random/off-topic purpose in Slack is more like 180 chars long. This causes the channel validity check to fail.

I'll take this to UX to discuss whether to a) increase the limit, or b) truncate the value imported from Slack.

[2016-10-18 22:05] erikpi commented on #4235
Hello, please also make sure this works for gifs! :) <3

[2016-10-19 18:27] esethna commented on #4255
Hi @keithgallant, thanks for your interest in Mattermost! You may have more discussion on this topic if you post to the [Mattermost developer forums](https://forum.mattermost.org/c/dev). We try to generally reserve GitHub issues for product bugs.

[2016-10-19 18:27] #4255 closed

[2016-10-19 20:29] esethna commented on #4252
Agree @andre82hh, thanks for the report! I've created a [ticket, closing this issue so it can be tracked in JIRA](https://mattermost.atlassian.net/browse/PLT-4411).

[2016-10-19 20:29] #4252 closed

[2016-10-19 21:05] pepf commented on #4250
I can work on this! Is the icon from the indicator already available?

@isundil The notifications from the picture you linked to are for specific @mentions in a channel as far as ( can see ). This indicator will show _all_ unread messages in a specific channel. Right?

[2016-10-19 22:07] jasonblais commented on #4250
That's correct @pepf, the message indicator will show how many new messages appeared.

I'll also get you the icon (we should have that available) or else let you know what existing one to use. Sorry for the omission.

PS: I added a note that if the user has scrolled to the bottom (and hence seen all the messages), this indicator should not appear.

[2016-10-20 00:07] #4218 closed

[2016-10-20 01:24] asaadmahmood commented on #4250
We're using the icon: http://fontawesome.io/icon/arrow-circle-o-down/

[2016-10-20 07:39] mmarif4u opened #4272 "Push notification on Android 6.0"
Hi,

Push notification on Android 6.0.x does not work using TPNS.
Mattermost v 3.4.1

Currently testing Mattermost within our team with different mobile phones they have.
The following are the findings so far.
**Works:**
- iPhone 6s, iOS 9.3.5
- Samsung A7 android 5.1.1
- iPhone 6s , iOS 10.0.2

**Does not work:**
- Oneplus X  android 6.0.1
- Samsung S7 Edge,  android 6.0.1
- Sony Xperia X , andro

[2016-10-20 12:04] XANi opened #4274 "Add ability to set channel's display name when creating via CLI"
Currently every other (header/purpose/members) option of channel/group can be set except channel's Display Name, which makes any kind of automation annoying to make (as there is currently no full web API docs either and even golang client is poorly documented).

There is no option to delete/disable channel either, even tho there is "restore"

[2016-10-20 14:27] Rudloff opened #4281 "Missing Unicode 9.0 emoji"
#### Summary
Mattermost is missing emoji from the Unicode 9.0 spec (e.g. 🤢)

#### Steps to reproduce
On Mattermost 3.4.0, post a message containing the 🤢 character.

#### Expected behavior
It is replaced by the Apple emoji and displayed correctly.

#### Observed behavior
As I don't have an emoji font, mojibake is displayed:
![capture d ecran - 20102016 - 16 24 09](https://cloud.githubusercontent.c

[2016-10-20 14:48] riemers opened #4283 "Room full on invite should show proper message, now displays invalid invite."
#### Summary
When a person uses a invite link and the room is full (50 people) the user only gets the message "invalid invite link" which is not the real error.

#### Steps to reproduce
Use an invite link, when the room has 50 people in it and the max of the channel is set to 50.

#### Expected behavior
Report back an error to the client saying "Room is full, contact the administrator" or somethin

[2016-10-20 15:54] jasonblais commented on #4078
@esethna Can you help investigate what might be causing the issues here?

[2016-10-20 15:59] jasonblais commented on #4247
@JrPribs @richa-coder Wondering if you wanted to join our [Contributors community channel](https://pre-release.mattermost.com/core/channels/tickets) to discuss the feature further?

This is a fairly large pull request, so having an easy channel to ask questions either about the design or the development itself with others might be useful. I'd be happy to connect you with the product manager owning

[2016-10-20 17:19] JrPribs commented on #4247
@jasonblais definitely I actually tried to join it but it required an invite. If you can send the invite that'd be great I know it'll be helpful since this is my first time in this codebase

[2016-10-20 18:00] jasonblais commented on #4283
Thanks @riemers for the report!

We have an open Jira ticket for it, would you be interested in helping with a fix? https://mattermost.atlassian.net/browse/PLT-4391

[2016-10-20 18:51] dale-c-anderson opened #4287 "Messages that begin with a slash (that aren't valid slash commands) should just be treated as messages"
#### Summary

When writing a message that begins with a slash, it is always treated as a command, and the message is never displayed. I understand that this is probably by design, but it's annoying anyway.
#### Steps to reproduce

Write anything that begins with a slash and isn't a command
#### Expected behavior

I would expect commands to do what they're supposed to. I would expect everything tha

[2016-10-20 18:57] grundleborg opened #4288 "Race condition when creating image thumbnails during Slack CLI export"
There is a race condition between handleImages and the main thread exiting when importing a Slack import with uploads via CLI.

Discussion and proposed solution here: https://pre-release.mattermost.com/core/pl/k8388osbkpbo9xn4kd9ygg6dro

I am intending to fix this issue myself, but logging it here to ensure it doesn't get forgotten about.

[2016-10-20 20:34] yangchen1 commented on #4188
Hey @andela-rsadiq, just letting you know we've decided to change the name of the role field from "Role" to "Position", so we don't confuse it with permission roles! I'll update the screenshots and the ticket.

[2016-10-20 20:43] esethna commented on #4078
Thanks for the report, I will check with other members of our team with Android devices to attempt to repro again. We've had a few reports push notification issues on Android 6.0.1. @killua-eu, just to confirm, this is the OS you're using?

[2016-10-20 20:46] esethna commented on #4272
Thanks for the report, I will check with other members of our team with Android devices to attempt to repro. We've had a few reports push notification issues on Android 6.0.1.

Can you please attempt to change some of the notification settings in Account Settings > Notifications > Push Notifications to see if they could be causing an issue. Also, can you please make sure push notifications for the

[2016-10-20 21:03] jasonblais commented on #4186
Hey @faiyaz26, any updates? Just touching base to see if you're still working on the improvement.

[2016-10-20 21:05] jasonblais commented on #4142
Hey @S4KH, just touching base to see if you're still interested in working on the improvement.

I'm aware you're finishing a couple of the open PRs, but thought to check,

[2016-10-20 23:12] andela-rsadiq commented on #4188
noted! @yangchen1

[2016-10-20 23:27] jasonblais commented on #4155
Closing the issue for now -- if you haven't yet, please help add your suggestion to the [feature idea forum](https://mattermost.uservoice.com/forums/306457-general)

Thanks again @jimiatworking!

[2016-10-20 23:27] #4155 closed

[2016-10-20 23:28] jasonblais commented on #4171
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try [upgrading to the latest version](https://about.mattermost.com/download/).

If the issue persists, please reopen this issue with the relevant information and we'd be happy to investigate it further.

[2016-10-21 07:02] mmarif4u commented on #4272
Thanks @esethna

I have changed the notification settings and tested on another Samsung S6 mobile having Android 5.1.1(it still have sound notification though, but no notification in notification drawer).
Still no luck on Android 6.x.x phones, also noticed there is the loading circle on Android 6.x.x phones stuck there in the center all the time.
Yes, push notifications are enabled for Mattermost

[2016-10-21 08:03] S4KH commented on #4142
I think I am out on this issue. But other doable issues based on my skill are welcome.

[2016-10-21 19:34] esethna commented on #4287
Thanks for the suggestion @dale-c-anderson. I investigated some other messaging software and it seems that it is common behavior that invalid slash commands do not send as a message. This also follows the Mattermost principle of being forgiving if a user mistypes a slash command by accident. It is possible to just preface the slash command with a space if you want to send the text as a message.

[2016-10-21 19:42] esethna commented on #4281
Thanks @Rudloff, closing to track this in [a JIRA ticket](https://mattermost.atlassian.net/browse/PLT-4440).

[2016-10-21 19:42] #4281 closed

[2016-10-21 19:44] esethna commented on #4272
Thanks for the follow-up, can you also please attempt to uninstall and reinstall the Mattermost app from the play store?

[2016-10-21 19:56] esethna commented on #4274
Thanks @XANi, our web service API documentation is a work in progress available at https://api.mattermost.com/.

Thanks for the suggestion of adding Display name to the CLI tools for creating a channel. That makes a lot of sense. I've created a ticket to [track this in JIRA](https://mattermost.atlassian.net/browse/PLT-4441). Would you be interested in adding this functionality?

[2016-10-21 20:01] esethna commented on #4288
Thanks @grundleborg, adding @yangchen1 to help create a ticket and follow-up on the fix.

[2016-10-21 20:06] yangchen1 commented on #4288
@grundleborg: the ticket for your reference is [here](https://mattermost.atlassian.net/browse/PLT-4442), thanks!

[2016-10-21 20:07] #4288 closed

[2016-10-21 20:10] it33 opened #4296 "[Help Wanted] Help fix Korean input on IE11"
Repro steps:
1. Type Korean characters with a Korean keyboard into Mattermost messages on IE11

Observed:
- Characters typed do not appear.
---

It's been difficult to reproduce the reported issue, though people who see the issue can reproduce it consistently on their setups.

We could really use help from the community who might have Korean keyboards and operating systems.

Here is a configuratio

[2016-10-21 20:40] XANi commented on #4274
After evaluating it we've opted for integrating features we need via golang api. (web one is a bit under-documented for that, altho we did PoC bot that delivers cat gifs on demand via that ;))

We *basically* need synchronization between our LDAP grups and private groups in MM (on top of  existing LDAP users sync; we are currently evaluating a trial and will be getting enterprise version in a week

[2016-10-21 22:39] it33 opened #4297 "[Help Wanted] Support swipe gesture in mobile web UI"
We've had many requests for supporting the swipe gesture in the mobile web UI. We found a library that lets us scroll up and down really well, but could use help on left and right swipe to bring up the left and right menus

Anyone have suggestions or ideas, or interest in a PR to add this?

![image](https://cloud.githubusercontent.com/assets/177788/19609522/91dee57a-978c-11e6-8d30-dfbd947a09cc.png

[2016-10-22 03:48] jasonblais commented on #4142
Thanks @S4KH for the heads up! And particularly a big thank you for the pull requests #4149 and #4154!

We'll be soon adding new Hacktoberfest issues - make sure to check them out and let us know if any of them interests you.

[2016-10-22 03:48] jasonblais commented on #4142
For others in the community, this improvement is up for grabs if anyone is interested

[2016-10-22 12:52] pepf commented on #4250
@asaadmahmood Should the grey of the indicator correspond with a specific theme color or always be the same color as in the image? ( #9ca3ac )

[2016-10-22 13:38] asaadmahmood commented on #4250
@pepf Instead of going with the layout attached. Just use the link color as the background, and the center channel background as the text color.

[2016-10-22 18:44] jasonblais commented on #4224
Sorry for the late reply @fraziern,

What do you mean by template strings?

Removing the hard-coding and moving to constants or the use of {variables} would be better, agreed

[2016-10-23 12:46] mmarif4u commented on #4272
Removed the app, installed again and still the same. Changed the notifications with different setup and no luck.

[2016-10-23 19:26] pepf commented on #4250
I prepared a PR (#4299) for this issue. It works as intended but because of the _new messages_ header it can potentially cause some confusion in the way new messages are referred to. To clarify this a bit further I added a gif here:

![newmessage](https://cloud.githubusercontent.com/assets/1265435/19628731/a958d36c-9964-11e6-9032-5066c1deed83.gif)

I looked into the way this header behaves functio

[2016-10-23 22:51] jasonblais commented on #4036
Hey @bolecki, thank you for working on this improvement, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this issue improvement:
 - Mon 10/31: last date community pull requests should be submitted for testing and review
 - Thur 11/3: last date when community pull requests can be merged prior to code complete Fri 11/4. Large pull

[2016-10-23 22:53] jasonblais commented on #4156
Hey @karanjthakkar , thank you for working on this fix, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this issue:
 - Mon 10/31: last date community pull requests should be submitted for testing and review
 - Thur 11/3: last date when community pull requests can be merged prior to code complete Fri 11/4.

If you'd like to work

[2016-10-23 22:54] jasonblais commented on #4186
Hey @faiyaz26 , thank you for working on this improvement, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this improvement:
 - Mon 10/31: last date community pull requests should be submitted for testing and review
 - Thur 11/3: last date when community pull requests can be merged prior to code complete Fri 11/4. Large pull req

[2016-10-23 22:54] jasonblais commented on #4188
Hey @andela-rsadiq , thank you for working on this improvement, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this improvement:
 - Mon 10/31: last date community pull requests should be submitted for testing and review
 - Thur 11/3: last date when community pull requests can be merged prior to code complete Fri 11/4. Large pul

[2016-10-23 22:55] jasonblais commented on #4235
Hey @iraquitan, thank you for working on this improvement, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this improvement:
 - Mon 10/31: last date community pull requests should be submitted for testing and review
 - Thur 11/3: last date when community pull requests can be merged prior to code complete Fri 11/4. Large pull req

[2016-10-23 22:57] jasonblais commented on #4249
Hey @kaakaa, thank you for working on this improvement, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this improvement:
 - Mon 10/31: last date community pull requests should be submitted for testing and review
 - Thur 11/3: last date when community pull requests can be merged prior to code complete Fri 11/4. Large pull reques

[2016-10-23 23:00] jasonblais commented on #4247
Really sorry about that, there was an error with the signup links, which has now been fixed. You should be able to create an account now.

@JrPribs and @richa-coder please let me know if you've joined the [community channel](https://pre-release.mattermost.com/core/channels/tickets) and I'll connect you with our product manager owning the feature. You can simply mention me by including `@jason` in

[2016-10-24 00:29] jasonblais commented on #4241
Hey @alsma, thank you for working on this improvement, highly appreciated!

Just wanted to give you a heads up about upcoming dates for our 3.5 release that are relevant to this PR, as outlined [in our release process](https://docs.mattermost.com/process/release-process.html):
 - Wed 10/26: last date to submit a pull request for major features
 - Mon 10/31: last date any major features will be mer

[2016-10-24 00:32] jasonblais commented on #4257
@shahbaz17 there was a bug with the sign up link to the Contributors community channel -- it's now fixed, so you should be able to create an account if you're still interested.

[2016-10-24 02:47] jasonblais commented on #4139
Closing per #4154, big thanks @S4KH!!

[2016-10-24 02:47] #4139 closed

[2016-10-24 02:57] jasonblais opened #4300 "New plugin: Microsoft Office file preview (Word, Excel and PowerPoint)"
#We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

We're looking to add previews for Word, Excel and Po

[2016-10-24 03:00] jasonblais opened #4301 "[Help Wanted] Unable to update channel purpose more than once without a refresh"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Details**

Unable to update channel purpose twice without a refresh

Repro steps (Windows 10, Chrome):
1) In a test channel, cli

[2016-10-24 03:05] jasonblais opened #4302 "[Help Wanted] After removing a user from a channel, the removed user is not redirected to Town Square"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

----

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4281))

After removing a user from a channel, the removed

[2016-10-24 03:07] jasonblais opened #4303 "[Help Wanted] IE11: "Write a message..." help text missing when message box is in focus"
"Write a message..." help text missing in IE11 when message box is in focus ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-3857))

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core

[2016-10-24 03:10] jasonblais opened #4304 "[Help Wanted] After opening a new direct message channel, my cursor is not put in the text input box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.
---

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4275))

After opening a new direct message channel, my curso

[2016-10-24 03:11] jasonblais opened #4305 "[Help Wanted] Team error message doesn't display actual error message when max users per team reached"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

----

**Details** ([Jira ticket](https://mattermost.atlassian.net/browse/PLT-4391))

Team error message doesn't display actual error me

[2016-10-24 03:48] S4KH commented on #4305
Will work on this, related to what I have already done.

[2016-10-24 03:57] jasonblais commented on #4305
Thanks @S4KH!