[2016-05-04 12:43] lfbrock commented on #2878
Hi @nszceta, I think that link might be out of date - where did you find it?

Updated upgrade guide is here:
http://docs.mattermost.com/administration/upgrade.html

[2016-05-04 12:45] nszceta commented on #2878
http://www.mattermost.org/download/

Upgrade Guides

Upgrade guide for *upgrading versions*

[2016-05-04 12:49] enahum commented on #2878
@nszceta http://docs.mattermost.com is back online

[2016-05-04 12:49] #2878 closed

[2016-05-04 12:53] nszceta commented on #2878
I'm not sure what that means because the issue persists.

[2016-05-04 12:55] enahum commented on #2878
@nszceta have you tried this [link](http://docs.mattermost.com/administration/upgrade.html)

[2016-05-04 12:56] nszceta commented on #2878
Yes, the link works. The website is still broken.

[2016-05-04 12:57] enahum commented on #2878
Thanks for reporting @nszceta will fix that shortly

[2016-05-04 19:10] oamado commented on #1774
https://mattermost.uservoice.com/forums/306457-general/suggestions/10631094-hotkeys-keyboard-shortcuts

[2016-05-05 13:05] lfbrock commented on #2502
Hi @npcode, just wondering if you are still seeing this issue?

[2016-05-05 13:54] npcode commented on #2502
@lfbrock No, I've never seen this problem again. Feel free to close this. I'll comment here if I see this issue again.

[2016-05-05 13:56] lfbrock commented on #2502
Okay, thanks!

[2016-05-05 13:56] #2502 closed

[2016-05-05 15:37] hydrandt commented on #2504
Let me know if I should provide any additional information.

[2016-05-05 16:50] it33 commented on #2622
Hi @terukizm,

Sorry for the delay, it took us a while to understand the issue. We now agree it should be changed.

We're opening a ticket Accepting Pull Requests for this to be added: https://mattermost.atlassian.net/browse/PLT-2808

Would anyone be interested in this?

[2016-05-05 18:20] lfbrock commented on #2874
Hi @usmanarif, can you help move this to https://forum.mattermost.org/ so more people can see it?

[2016-05-06 12:30] Ajita24 opened #2907 "Running Test cases"
Hello
I am a beginner for Mattermost.I have setup complete mattermost.Kindly let me know how can I run and test the test case files like 'post_test.go'.

[2016-05-06 15:28] GuillaumeAmat commented on #2726
Ok so I checked the database and, as far as I can tell, all the channels (from the Channels table) have members related on in the ChannelMembers table.

@it33 Can you point me to another check in order to continue the investigation? Thanks!

[2016-05-06 18:41] terukizm commented on #2622
Hi @it33,

I'm sorry for my late reply, and thank you for your discussion!
I would like to try this.

@yukihane
Could you help me?
I'll try your proposal.

[2016-05-06 18:43] Germanunkol opened #2916 "Add Error Message if no SMTP Server is given"
Minor issue:
If _System Console > Email Settings > SMTP Server_
is left blank, and then "Test Connection" is clicked, the system reports "No errors were reported while sending an email. Please check your inbox to make sure."

I don't believe an email can actually be sent this way, so maybe an error message would be more appropriate?

[2016-05-07 01:29] ttllyy opened #2920 "[Help Wanted] Chinese translation (zh-cn)"
MM support chinese translation (zh-cn) Localization now?
Thanks!

[2016-05-07 01:46] enahum commented on #2920
Hi @ttllyy theres a translation effort for chinese.

you can join our [Localization](https://pre-release.mattermost.com/core/channels/localization) Channel and the [Chinese Localization Channel](https://pre-release.mattermost.com/core/channels/china) if you want.

in the [Localization Channel](https://pre-release.mattermost.com/core/channels/localization) header you'll find links to the translatio

[2016-05-07 01:48] ttllyy opened #2921 "Run make all success, but created files(in webapp dist dir) are different of download of release tar.gz?"
git clone source code
cd platform  and run make all success.
In webapp dist dir:
├── 1.bundle.js
├── 1.bundle.js.map
├── bundle-dev.js
├── bundle.js.map
├── emoji
├── files
├── i18n
├── images
└── root.html

Download release 2.2,
In web dir:
├── static
│   ├── config
│   ├── css
│   ├── fonts
│   ├── help
│   ├── i18n
│   ├── images
│   └── js
└── templates
    ├── admin_console.html
    ├── autho

[2016-05-07 01:48] enahum commented on #2916
Thanks for your suggestion @Germanunkol we'll be looking into this as soon as we can. if you're interested can you submit a PR?

[2016-05-07 01:50] enahum commented on #2907
Hi @Ajita24

for running Mattermost test you should run `make test` cause there are a few thing that need to be run first. sadly you can't run separate tests files.

[2016-05-07 01:54] enahum commented on #2921
Hi @ttllyy

You are building from our master branch which is our active develop branch, the files from `release versions` aren't the latest ones but they are the latest stable version.

To generate the release files you should run `make build` also you can learn more about running Mattermost as a dev [here](http://docs.mattermost.com/developer/running-mattermost.html).

[2016-05-07 06:30] ttllyy commented on #2921
Hi @enahum
I build master branch and make build and build client.
In webapp dist dir:
├── 1.bundle.js
├── 1.bundle.js.map
├── bundle-dev.js
├── bundle.js.map
├── emoji
├── files
├── i18n
├── images
└── root.html
Many js and css file is in node_module dir.

Download release version 2.2.0:
wget https://releases.mattermost.com/2.2.0/mattermost-team-2.2.0-linux-amd64.tar.gz
In web dir, contains all de

[2016-05-07 06:45] Germanunkol commented on #2916
Thanks for the quick reply!
I'm very busy atm and have no experience with Go/React. But if this is still open in a few weeks, I might be able to look into it.

[2016-05-07 09:20] ttllyy opened #2923 "Follow up plan support file storeage backend for openstack swift and database for mongodb?"
File storage backend:
local
s3

Is there plan to support openstack swift and database for mongodb?

[2016-05-07 17:27] samogot opened #2925 "Duplicating messages with retry button"
When i write to Town Hall channel, all my messages are duplicatad at the bottom. It looks like they was not sended (and system propse me to retry them). But they was, and other can see them
![image](https://cloud.githubusercontent.com/assets/11226228/15093475/18796642-1492-11e6-8113-0362ba86edc6.png)

[2016-05-07 18:10] samogot commented on #2732
@lfbrock One more available option of citation is forwarding. Cite a message from one channel into another. Like in Telegram

[2016-05-08 02:39] it33 commented on #2925
@samogot could you please add repro steps? http://www.mattermost.org/filing-issues/

[2016-05-09 02:08] nnewman opened #2928 "Incoming Webhooks Can't DM Users"
According to [this](http://docs.mattermost.com/developer/webhooks-incoming.html), when using an incoming webhook, specifying the channel as `@username` will send a DM to that specified user. However, when I use this property, I receive an error with the following response body (from Python requests):

[code]

If I specify a non-existing user, I see a different error. Based on the code, it looks li

[2016-05-09 06:40] gramakri opened #2929 "Remove restriction that SMTP auth requires TLS"
mattermost does not set auth if TLS/Starttls is disabled. It was mentioned in https://github.com/mattermost/platform/issues/187 that this is a Go library limitation.

I am wondering if this is indeed the case. There was a discussion about this in https://groups.google.com/forum/#!topic/golang-nuts/VjJC2BjmU2E and it resulted in  https://github.com/golang/go/commit/ca24f9ec00c65f8e75e38ad33d1b0b3bb

[2016-05-09 06:44] gramakri commented on #2929
For context, on the Cloudron, we use a local mail server with auth. This doesn't work well with mattermost because of the tls restriction. In addition. mattermost also requires a valid cert (a self-signed doesn't seem to suffice).

[2016-05-09 16:11] rosunshrestha opened #2934 "Need Api that returns user id via email address."
With authorization token, i need a api that returns id of a user with respect to the email or username params that we send while calling api. If email isn't present , then it should return empty or null. I need this to ensure creation of user if it doesn't exist else process some step with respect to current user.

[2016-05-09 22:25] lfbrock opened #2940 "Mattermost v3.0.0-rc3"
This is a meta issue for discussing:
- Potential regressions in [the latest Mattermost release candidate](http://releases.mattermost.com/3.0.0-rc1/mattermost-team-3.0.0-rc1-linux-amd64.tar.gz), and
- Potential patches to be applied prior to final release.

Please link to issues you believe may warrant a patch (please do not post issue here). It is the responsibility of the release manager assigned

[2016-05-10 14:36] yukihane commented on #2622
@terukizm
Yah! I will joyfully help if I can.

[2016-05-10 14:49] MichielBijl opened #2946 "Accessibility issues"
Is there a plan to make mattermost accessible? A colleague and I did a short test and came up with the following issues:

- Attachment button can't be reached via keyboard
- Focus indicator not clear in most cases
- Skip link doesn't work in Safari
- Text in sidebar channel list doesn't have enough contrast (3.8:1, #7A7A7A, #F0F0F0)
- Message timestamp text doesn't have enough contrast (2.8:1, #9A

[2016-05-10 14:59] mschilt opened #2947 "Feature Request: Face palm emoji"
Mattermost lacks a face palm emoji.
Nowadays that emoji is used often to express the feelings of current events or circumstances.
Official Unicode: http://unicode.org/emoji/charts/emoji-candidates.html#1f926

Here is what emoji.json could be extended to:
, {
    "emoji": "🤦"
  , "description": "face palm"
  , "aliases": [
      "facepalm"
    ]
  , "tags": [
    ]
  }

... there should be some fac

[2016-05-10 16:20] it33 commented on #2946
Duplicate. [Cross posted to existing discussion](https://mattermost.uservoice.com/forums/306457-general/suggestions/13036146-improve-web-accessibility).

[2016-05-10 16:20] #2946 closed

[2016-05-10 16:34] MichielBijl commented on #2946
This is not something that should need up votes. Please consider re-opening.

[2016-05-10 21:05] thoemy opened #2958 "Links in webhook attachment fields are not parsed correclty"
Incoming webhooks don't parse the links in attachment fields correctly. A request with the following payload
[code]
is rendered as

instead of

Together with autolinking this results in weird links leading to nowhere.

[2016-05-11 01:52] nnewman commented on #2928
**UPDATE** This seems to be very conditional. When I create an incoming webhook token as my user with a system admin role, I cannot use the webhook to DM myself. I can DM my 2 other test users. When I create a webhook as one of those two test users, I cannot DM anyone.

[2016-05-11 14:36] ginkgomzd opened #2968 "More Channels Dialog Closes after first click"
To Reproduce:
 - Join a community on mattermost
 - Click on "More..." under Channels in the left-nav
 - Click any of the "Join" buttons displayed in the modal.

Symptoms: Expected behaviour is that clicking a "Join" button would give visual confirmation in-place that the channel has been joined. Indeed, the button is transformed into a progress throbber, but it never reaches a success state. Inste

[2016-05-11 14:55] it33 commented on #2504
Hi @hydrandt,

We're not familiar with the setup you're describing. We do use GCM, so if it's not available that might be causing the issues.

We didn't realize there was an option to remove it and have now added Google Play Services as a requirement: https://github.com/mattermost/android/blob/master/README.md

Could you see if there's a configuration of Android 4.4.2+ with Google Play Services en

[2016-05-11 18:21] thoemy opened #2972 "Incoming webhooks are not completely Slack compatible"
Incoming webhooks are claimed to be Slack compatible. I'm using a plugin, written for Slack, which is not working with Mattermost because the data cannot be parsed. The plugin sends a JSON body without `Content-Type: application/json` and Mattermost therefore tries to interpret it as a form.

Some testing showed the following results.

### Slack
The following requests work.
[code]
Does not work (r

[2016-05-12 04:04] hydrandt commented on #2504
I see. The absence of Google Services Framework on my phones is intentional (I minimize the amount of proprietary software in my phone and the metadata collected by various companies). And GCM is blocked in China anyway.

Good to know the reason of the crash and that the requirement has been clarified. It would be nice if the absence of GSF resulted in absence of notifications rather than crash. B

[2016-05-12 04:34] it33 commented on #2504
Thanks @hydrandt!

We'll put a try-catch around the GCM service to prevent crashing if we can, but we're not planning on adding a non-GCM setup to our testing.

Bookmark in launcher is probably a good idea and we'll probably support non-native push notifications at some point.

[2016-05-12 04:34] #2504 closed

[2016-05-12 15:42] obones commented on #1185
@ilTofa: I have the exact same problem when using the init.d file.
I changed MATTERMOST_ROOT and DAEMON so that the /bin is inside MATTERMOST_ROOT but still have no luck starting the script.

Did you manage to work around this issue?

[2016-05-12 16:33] ilTofa commented on #1185
No, @obones I didn't have time to test, manually starting the program was enough for my scope (testing).

[2016-05-12 17:10] aabergaa opened #2982 "displayname vs name and the URL"
When changing the name of a mattermost team, the team name will update on the web display interface, but the url remains the same and does not update.

The only way I have found to change the url value is the modify teams.name in the database for that entry, which is very inconvient and I would assume the name change in the ui would be better fit to change both display and name, as the typcial use

[2016-05-12 21:32] jwilander commented on #2958
Issue confirmed fixed. Thanks @thoemy !

[2016-05-12 21:32] #2958 closed

[2016-05-13 07:32] obones commented on #1185
Well, I finally found what the issue was and sure enough, it was my own fault.
There was an extra space at the very beginning of the script, right before #!/bin/sh
With this, the script is not recognized and does not start.
Removing the space led to a perfectly functioning script, without even having to modify MATTERMOST_ROOT.

[2016-05-13 12:03] coronin opened #2990 "team admin see all team member's Outgoing Webhooks"
I think it was not the case before 2.0, but introduced in 2.0.
I notice it is not the case for Slash Commands.

[2016-05-13 13:52] irfaneitw opened #2992 "No Internet Connection Blue Bar never goes away"
**Summary**
I'm always getting a blue bar telling me I have no internet connection on Mattermost Web while I'm actively browsing the internet.

**Environment details**
- Mattermost Enterprise v2.2.0
- Chrome  v50.0.2661

**Steps to reproduce**
None?

**Expected behavior**
I should not see the blue bar if I have an active Internet connection

**Observed behavior**
Blue bar shows telling me I have n

[2016-05-13 13:59] #2557 closed

[2016-05-13 14:08] lfbrock commented on #2947
Hi @mschilt, our emoji set is based off of Apple's emoji set at the moment - so we probably won't add a face palm emoji in until it's added in there. I think it's in the list for [unicode 9.0](http://emojipedia.org/unicode-9.0/) so it will hopefully be available soon.

We also plan on adding the ability for users to add custom emojis within the next few releases.

[2016-05-13 14:15] lfbrock commented on #2982
Hi @aabergaa, we have a display name so it can be different than the url name - for example, if people want their display name in a non-latin language.

We do want to add the option to change the team URL - there's a ticket [here](https://mattermost.atlassian.net/browse/PLT-1163) to track it. It's been sitting in the backlog for a while, so I'd recommend [opening a feature suggestion](http://www.m

[2016-05-13 18:54] #2940 closed

[2016-05-13 20:11] lfbrock commented on #2726
@GuillaumeAmat can you paste the SQL query for what you did?

We've also removed the option to "Leave" for the last member of a private group, but the fix won't be in until v3.1 next month. https://github.com/mattermost/platform/pull/2888

[2016-05-13 20:27] lfbrock commented on #2923
Hi @ttllyy, can you please [open a feature request](http://www.mattermost.org/feature-requests/) on this?

[2016-05-13 20:27] #2907 closed

[2016-05-13 20:27] #2874 closed

[2016-05-13 20:29] lfbrock commented on #2934
Hi @rosunshrestha, please move this to the [feature ideas forum](http://www.mattermost.org/feature-requests/)?

[2016-05-14 11:43] TwizzyDizzy opened #2998 "What are the exact database privileges needed to run mattermost"
Hi folks,

the documentation on installing mattermost states, that on should `GRANT ALL PRIVILEGES`. Since I think this is a bit broad, I would like to know what actual privileges are needed so I can then send a pull request for the documentation in order to improve it in that regard.

Thanks in advance
Thomas

[2016-05-14 12:46] TwizzyDizzy commented on #1185
@esethna I finally got around to creating a pull request for the documentation, concerning my input in https://github.com/mattermost/platform/issues/1185#issuecomment-197070465.

For the database grants I opened an issue to find out what privileges are actually needed (https://github.com/mattermost/platform/issues/2998). As soon as I know, I'll send another pull request.

As for now, here are the

[2016-05-14 13:58] TwizzyDizzy commented on #2992
Hi @irfaneitw,

did you make sure you did set up your webserver properly so that it flawlessly handles websocket connection upgrades? That's the first that comes to my mind when it comes to "the blue bar".

You may have a look at [this forum post](http://forum.mattermost.org/t/how-to-setup-a-simple-apache2-proxy-to-mattermost/495/2) and all it's subsequent posts. Please remember: there may be diff

[2016-05-14 14:23] TwizzyDizzy opened #2999 "Problems with API requests after upgrade to 3.0"
Hi folks,

I just upgraded to mattermost 3.0 (from 2.2) and now there seems to be a problem in the administration interface ("system console") - clicking on any menu option doesn't do anything but yields some error like: (from browser console)

    client.js:964 GET https://my.host.name/api/v3/admin/config 500 (Internal Server Error)

This actually is expected, since there was the API upgrade from

[2016-05-14 20:13] joshmn opened #3001 "Account Settings > Display fails on user_settings_display.jsx:536 after upgrade to v3"
I have a strong feeling it might relate to #2999

[2016-05-14 20:13] joshmn commented on #2999
@TwizzyDizzy do you experience an issue when going to "Account Settings" > "Display" as well? I also experience the bug you reported. Just trying to tie these two together.

[2016-05-14 20:16] joshmn commented on #2999
My trace;

http://i.imgur.com/CgNc6R5.png

[2016-05-14 20:23] joshmn commented on #2999
Bam bam, pop! Try this:

1. Turn off Mattermost
2. mv config.json config.original.json
3. curl https://raw.githubusercontent.com/mattermost/platform/v3.0.0/config/config.json > config.json
4. Replace the SqlSettings>DriverName and SqlSettings>DataSource per your config.original.json, and the ServiceSettings>ListenAddress as well if you run on a non-standard port.
5. (do this for the other really o

[2016-05-14 20:27] joshmn commented on #3001
Nope, unrelated.

[2016-05-14 20:28] enahum commented on #2999
@joshmn so the problem seems to be with the config file?

just to know, did you follow the steps in the [upgrade guide](http://docs.mattermost.com/administration/upgrade.html)?

[2016-05-14 20:31] TwizzyDizzy commented on #2999
Hi @joshmn,

nope, sorry, I did not have a problem with the "Account Settings" > "Display" dialogue. In fact, what you're doing there - if I get that correctly - is letting mattermost create a updated default config and then replace your DB / Listen settings. Fair enough, but the upgrade guide states:

... and that's exactly what is not happening in my case.

Cheers
Thomas

[2016-05-15 00:08] joshmn commented on #2999
@enahum I did! Step for step.

[2016-05-15 14:43] enahum commented on #2999
I couldn't repro.. upgrade its working fine for me

[2016-05-15 14:52] TwizzyDizzy commented on #2999
@enahum well do you even use mattermost behind a reverse proxy? If not it is pretty obvious you wouldn't run into these issues. If you are running mattermost behind an apache reverse proxy I would be interested in your vHost configuration.

Cheers
Thomas

[2016-05-15 14:55] enahum commented on #2999
Thomas, ill try to reproduce it apache reverse proxy. Im using nginx.

On Sunday, 15 May 2016, Thomas Dalichow <notifications@github.com> wrote:

[2016-05-15 14:57] TwizzyDizzy commented on #2999
Well even your nginx config might help me out on that... abstracting from that should be no big deal. But thanks so far for you involvement :)

[2016-05-15 15:16] qraynaud commented on #2999
@TwizzyDizzy : I have the same issue and I am using the official nginx reverse proxy configuration. I think this is not caused by the proxy. I looked in the log of nginx and the request is properly sent to mattermost which is the one answering 500 for me.

[2016-05-15 15:23] TwizzyDizzy commented on #2999
Could you post the exact URL that is throwing the 500 error? Thanks!

[2016-05-15 15:26] qraynaud commented on #2999
It is `https://chat.freelance.academy/api/v3/admin/config`

[2016-05-15 15:28] TwizzyDizzy commented on #2999
Alright, thanks. I just wanted to establish that we are indeed talking of at least a similar issue.

[2016-05-15 15:29] qraynaud commented on #2999
I believe we have the exact same issue.

[2016-05-15 15:49] enahum commented on #2999
Guys just to clarify you made te upgrade from 2.2 to 3.0 right?

On Sunday, 15 May 2016, Quentin Raynaud <notifications@github.com> wrote:

[2016-05-15 15:52] TwizzyDizzy commented on #2999
For me, this is true. I upgraded from 2.2 to 3.0, yes.

[2016-05-15 16:59] qraynaud commented on #2999
Yes, same here.

[2016-05-15 16:59] qraynaud commented on #2999
There is nothing in logs/mattermost.log that is relevant to the error.

[2016-05-15 17:29] enahum commented on #2999
OK I have replicated the problem, we'll check it out theres a version 3.0.1 scheduled to release this week, I'll make sure to include a fix for this issue

[2016-05-15 18:13] TwizzyDizzy commented on #2999
Splendid! :) I'll wait for that release then and test it, as soon as it's out.

On a different note: I'd still like to come up with some official default reverse proxy configuration that we could add to the documentation - like we currently have it for nginx only. But one thing after the other.

[2016-05-16 08:02] cifvts commented on #2572
I can take this

[2016-05-16 12:12] qraynaud commented on #2999
@enahum: is there some workaround we can use for now to get it working because it's problematic to be locked out of the console ?

[2016-05-16 14:46] enahum commented on #2999
@qraynaud theres a PR that should fix it, in the meantime you could download a copy of the configuration file from [here](https://github.com/mattermost/platform/blob/master/config/config.json) and that should make it work

[2016-05-16 15:08] qraynaud commented on #2999
Ok, after looking at your PR and the file you mentioned, I just changed LDAPSettings Bindpassword from nul to "" and it fixed the issue.

[2016-05-16 15:12] #2947 closed

[2016-05-16 15:31] TwizzyDizzy commented on #2999
@enahum I introduced all new config options to `config.json` and now it works.

I would like to know, what the following new config options are about, they don't seem to be included in the documentation, yet.

* `"ServiceSettings" > "WebserverMode"`
* `"TeamSettings" > "RestrictDirectMessage"`
* `"ComplianceSettings"` > no information on the whole thingee available

Cheers
Thomas

[2016-05-16 17:18] enahum commented on #2999
@TwizzyDizzy first of all I'm glad that it worked for you :), and thanks for letting us know about this issue so we could fix it.

About the settings that you're asking If im not mistaken they are:
* `"ServiceSettings" > "WebserverMode"` it's not working yet
* `"TeamSettings" > "RestrictDirectMessage"` is for letting people from the same team or people from the whole server DM one another
* Compli

[2016-05-16 18:06] #2934 closed

[2016-05-16 18:06] #2982 closed

[2016-05-16 18:09] lfbrock commented on #2968
Hi @ginkgomzd, would you be open to submitting a [feature request](http://www.mattermost.org/feature-requests/) on this?

We discussed this and agree it would be useful for when people first join a team, but after that it seems as though the more common use case would be people joining channels one at a time. It would be useful to get more input from the community on the feature request.

We were

[2016-05-16 19:09] lfbrock commented on #3001
Hi @joshmn, can you add some more details about this issue? We haven't hit this problem when testing the upgrade, so wondering if you can provide some more details to help us reproduce it.

[2016-05-16 19:45] lfbrock commented on #2999
Just added "RestrictDirectMessage" under http://docs.mattermost.com/administration/config-settings.html#team-settings/.

Compliance settings are documented here for reference: http://docs.mattermost.com/administration/config-settings.html#compliance-settings-enterprise

[2016-05-16 20:16] mackelito commented on #2999
Hmmm... I have found several settings missing in the config.json file... will update with the new values and see if it works...

[2016-05-16 20:24] mackelito commented on #2999
No luck... I tried the url in the browser "www.myserver.com/admin_console" and that gives me:
www.myserver.com/api/v3/admin/config
Request Method:GET
Status Code:500 Internal Server Error

[2016-05-16 20:34] TwizzyDizzy commented on #2999
@enahum & @lfbrock: Thanks for your explanation and your effort!

@mackelito do make sure you don't forget that every line needs to have a `,` in the end, except the last one in one "hash" (for example "Service Settings"). It's easy to fuck that up when adding the missing configuration options.

Cheers
Thomas

[2016-05-16 20:36] mackelito commented on #2999
@TwizzyDizzy The json format is valid and no missing "," ;)
Will the platform even startup with broken json?

[2016-05-16 20:38] TwizzyDizzy commented on #2999
Alright, just wanted to rule out the obvious. :) Would you mind upping your config as a gist (of course with modified Salts/Keys/Credentials)?

[2016-05-16 20:43] mackelito commented on #2999
https://gist.github.com/mackelito/12449a380ef7954fed470b4b643b1b7f

[2016-05-16 20:54] TwizzyDizzy commented on #2999
Well it looks like you ran into the same error as @qraynaud in https://github.com/mattermost/platform/issues/2999#issuecomment-219449929: You should replace all occurrences of `null` as value with a `""` (two double quotes).

Cheers
Thomas

[2016-05-16 20:57] mackelito commented on #2999
Damit!... sorry for missing that one!... works like a charm now! ;) 👍

[2016-05-16 20:57] TwizzyDizzy commented on #2999
Glad we got you fixed up, too :)

[2016-05-16 21:05] mackelito commented on #2999
Hmm.. still seams to be some issues.. I still have the possibility to create new teams even thu the settings says othervise?

Enable Team Creation: false

[2016-05-16 21:22] guyguy333 opened #3014 "Unable to login using GitLab after upgrade to 3.0"
Hi,

I upgraded Mattermost 2.2 to 3.0. I got issue #2999 that I solved upgrading manually the configuration file. However, I'm no more able to login using GitLab. There are no errors in the log file and no errors in the javascript console. According to Apache log, the returned code is 500. The callback get "called" ([2016/05/16 23:13:43 CEST] [DEBG] /signup/gitlab/complete) but I have a blank page

[2016-05-16 21:31] it33 commented on #3014
Thanks @guyguy333, there was a bug in the GitLab SSO, could you try upgrading to 3.0.1 to see if it works? http://www.mattermost.org/download/

[2016-05-16 22:06] guyguy333 commented on #3014
Thank you @lt33, it solves this issue after upgrading but now when I login (always using GitLab) I have this error : "An existing user is already attached to your gitlab account"

[2016-05-16 22:29] enahum commented on #2999
Hi @mackelito are you a System Admin on the server?

cause you'll be able to create teams if you are a System Admin regardless if the EnableTeamCreation is set to `false`

[2016-05-16 22:56] olegburca opened #3015 "Cannot access System Console after upgrade to version 3"
Hi,

I have an Mattermost instance and upgraded it from version 2.1 to version 3.0.
Now I cannot access System Console, only the text "Loading ..." appears and nothing else happen.
Changed logging level to "DEBUG", but still nothing in logs.

If I check the components that the site loads - I see an error 500:
![image](https://cloud.githubusercontent.com/assets/1935169/15306302/04d20210-1bd2-11e6-9

[2016-05-16 23:01] olegburca commented on #3015
Just found the same error already reported.
Please delete this ticket.

[2016-05-16 23:04] enahum commented on #3015
Hi @olegburca please review this ticket #2999

[2016-05-16 23:04] #3015 closed

[2016-05-17 01:36] coreyhulen commented on #3014
It appears you are trying to create a user account that already exists for the given email.  Can you trying maybe resetting the password to login via email/password then from ... > Security > Switch to Gitlab SSO to re-link it to gitlab.

[2016-05-17 07:23] pkolaric commented on #3014
I had a similar problem after upgrade to 3.0.0 for some users.  You can fix it by updating the mattermost database users table changing the authservice to gitlab and linking the gitlab users.id to mattermot users.authdata for that user.  The problematic users at my site had authservice email and authdata blank (after 2.2 -> 3.0 upgrade)

[2016-05-17 07:32] pkolaric opened #3020 "Users signing in with Gitlab don't get redirected to the team after 3.0.x upgrade"
#### Summary
After upgrade to 3.0.1 users who're signing in with GitLab don't get redirected to the requested team but to https://mattermost.example.com/select_team where they have to select the team.
It's probably also the reason why the 3.0.0 Android client doesn't work.

#### Steps to reproduce
- connect to your teams URL via browser https://mattermost.example.com/myteam
- click GitLab
- sign o

[2016-05-17 08:16] guyguy333 commented on #3014
@coreyhulen I can't switch to GitLab SSO, the option is not available in Security even after resetting my password to login.
@pkolaric Thanks, it solved the issue fixing manually the database.

[2016-05-17 08:18] mackelito commented on #2999
Yes I am... before the update I had to enable to feature to see it. So I guess that has changed.. well then.. guess that´s fine.. :)

[2016-05-17 12:00] mcfedr opened #3021 "Webhooks sent to a channel user is not a member of cause error"
#### Summary

Webhooks sent to a channel user is not a member of cause error to be shown and notification to be shown.

#### Steps to reproduce

1. Create a webhook, send to it with `{channel: '#some-channel-im-not-a-member-of'}`
2. See error in mattermost client 'We couldn't get the channel member'
3. Error in log

    [2016/05/17 11:46:03 UTC] [EROR] /api/v1/channels/XXXX/:SqlChannelStore.GetMem

[2016-05-17 13:57] simojenki opened #3024 "Unable to create Teams when using only GitLab authentication"
#### Summary
I want to restrict signing up & login to only users within my GitLab install.  I have disabled sign up with email, sign in with email, and sign in with username.  When I configure mattermost like this I am unable to create new teams.  I get an error telling me that 'Team sign-up with email is disabled.', however I expected to be able to create a new Team using the GitLab credentials.

[2016-05-17 14:09] lfbrock commented on #3024
Thanks @simojenki, ticket filed here on this issue: https://mattermost.atlassian.net/browse/PLT-2975

[2016-05-17 14:12] lfbrock commented on #3020
Hi @pkolaric - do you know if this happens with email sign in as well? I think we may just need to automatically direct users to their team if they only belong to one team.

For the Android client, what about it isn't working? Can you try entering the server URL (eg https://mattermost.example.com) instead of the team URL (https://mattermost.example.com/myteam) if you haven't already?

[2016-05-17 14:23] pkolaric commented on #3020
Hi, haven't tried email sign in (all my users are authenticated via gitlab), but i do have only one team defined.

I haven't tried just bare server URL for android client (will do that and report back).
The sign on on android currently looks like that:
- the sign-on html window opens, i get redirected to gitlab, sign-on and then i'm redirected back to "select team" (all that happens in a browser)

[2016-05-17 14:25] lfbrock commented on #2990
Hi @coronin - Can you double check whether it's the same for slash commands?

I think this is expected, so other team members can see what integrations have been set up.

[2016-05-17 14:33] qrsty opened #3025 "Mattermost 3.0: New Incoming Webhook UI missing private channels"
#### Summary
The new [integrations UI](https://mattermost.atlassian.net/browse/PLT-2698) is missing the ability to add private channels for incoming webhooks.

#### Steps to reproduce
1. Go to the Incoming Webhooks UI
2. Attempt to create a webhook for a private group/channel
3. See that only public channels are available

#### Expected behavior
I'm expecting a full list of public channels and pri

[2016-05-17 14:34] lfbrock commented on #2916
Ticket is here for reference: https://mattermost.atlassian.net/browse/PLT-2976

Closing this issue + will track it in Jira

[2016-05-17 14:34] #2916 closed

[2016-05-17 14:34] #2972 closed

[2016-05-17 14:39] lfbrock commented on #3020
Thanks @pkolaric - Can you check what version of the Android app you have? We might have a newer one releasing soon that fixes the issue.

I filed a ticket here to track the other issue: https://mattermost.atlassian.net/browse/PLT-2977

[2016-05-17 15:23] qraynaud opened #3027 "Tweaking CSS some"
I played some with the mattermost CSS. I wanted to get a design as good as the one we have today but make it a little more efficient. My goals were:
- keep good readability
- allow for more messages in one go

Here is was I got after some trial and error:
![slack](https://cloud.githubusercontent.com/assets/65991/15327993/b335d95e-1c53-11e6-9de6-b8a244e1eac3.png)

Because I did not wanted to build

[2016-05-17 15:24] qraynaud commented on #3027
The menubar is maybe a little too much spaced now, there are some small tweaks here & there to do. But it's more to start a discussion / get you feeling about this.

[2016-05-17 15:46] qrsty commented on #3025
The issue is present in 3.0.0 and 3.0.1.

[2016-05-17 16:36] ron-from-nl opened #3028 "Manage Members: Can not change Members to Inactive after upgrade from v2.2.0 to v3.0.1"
However set Member Inactive does seem to work for System Admins in the System Console User List, but Team Admins no longer can set Members Inactive, because System Console is only available for System Admins

[2016-05-17 16:39] ron-from-nl commented on #3028
![schermafdruk van 2016-05-17 18 34 07](https://cloud.githubusercontent.com/assets/19412983/15330800/abfbce54-1c5e-11e6-89dc-fa8d635cfe2a.png)

[2016-05-17 17:12] lfbrock commented on #3028
Hi @ron-from-nl,

This was moved to the System Console in v3.0, since making an account inactive now makes it inactive across the whole server.

We have a ticket to add the option ["Remove from team" to the Manage Members dialog](https://mattermost.atlassian.net/browse/PLT-2863), which would basically make users inactive per team.

[2016-05-17 18:08] mcfedr opened #3032 "Android notifications are played as music not notification type"
#### Summary

The android app plays sounds as music type, this means that music playing in another gets paused. This is for sounds whilst the app is open, I'm not sure about GCM notifications

#### Steps to reproduce

1. Play some music
2. Open mattermost, get a message
3. Your music just paused

#### Expected behaviour

It doesn't pause, also the notifications volume is used

#### Possible fixes

[2016-05-17 18:32] pkolaric commented on #3020
I tested on branch-3.0 branch. I also tried with base URL instead of direct team URL and the behavior is the same.

[2016-05-18 10:23] Rudloff opened #3036 "Links are opened inside Android client's webview"
#### Summary
When I click on a link inside a message on the Android app, it opens the page inside the application webview. It is then hard to get back to the conversation.

#### Steps to reproduce
1. Login to a team
1. Post a message with a link inside
1. Click on the link

#### Expected behavior
It should open the link in the browser.

#### Observed behavior
The link is opened directly in the app

[2016-05-18 14:01] lemieuxl opened #3042 "Mattermost 3.0.2: Page blank when French as Chrome first display language"
#### Summary
In *mattermost* 3.0.2, when web browser (at least chrome) is set to French, the page is blank.

[code]

#### Steps to reproduce
Open Chrome and go to setting and Languages. Set the first language to French, and refresh the *mattermost* page.

![screenshot from 2016-05-18 09-45-41](https://cloud.githubusercontent.com/assets/6589489/15361282/d3fe6ab2-1cde-11e6-95a5-bb5adc195a6d.png)

##

[2016-05-18 14:47] rtripault commented on #3042
Same behavior here.
This also is not occurring on the enterprise edition (at least on https://pre-release.mattermost.com/login), if that matters.

[2016-05-18 14:57] asaadmahmoodspin commented on #3027
Hey @qraynaud, we've already added a compact view, it will soon be up on pre-release, so I think we can look forward to that for users who would prefer a much more compact view.

Also you're welcome to provide feedback on that once you get a chance to play around with it a bit.

![screencapture-bladekick-com-adal-channels-off-topic-1463583164449](https://cloud.githubusercontent.com/assets/11034289

[2016-05-18 15:13] lfbrock commented on #3025
Thanks @qrsty, I filed a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-2989

[2016-05-18 15:16] lfbrock commented on #3024
Closing issue, this is fixed in v3.0.2

[2016-05-18 15:16] #3024 closed

[2016-05-18 15:19] #3028 closed

[2016-05-18 15:20] lfbrock commented on #3032
Hi @mcfedr, thanks for reporting - would you be open to making a pull request for this issue?

[2016-05-18 15:26] rtripault opened #3044 "Mattermost 3.0.2 - Android application unable to login using Gitlab"
#### Summary

(Mattermost 3.0.2 Team Edition)

On Android 6 (Cyanogenmod 13), when trying to login using Gitlab, the default browser is opened instead of trying to login "inside the application".

#### Steps to reproduce

* launch the android application
* fill your Mattermost server URL
* try to login using Gitlab
* notice your browser get launched

#### Expected behavior

Gitlab login form is di

[2016-05-18 16:55] qraynaud commented on #3027
Yeah, I knew. I should not have used the "compact" word because it is misleading.

I meant "more efficient". In a compact view you try to make a tradeoff by decreasing the font size, lessening the readability some & making the design less present to get more info on the screen.

I did not really do that. My users were reluctant to switch to mattermost because they found that the design was not eff

[2016-05-18 17:08] lfbrock commented on #3036
Hi @Rudloff, can you check what version of the Android app you're on?

I think it might be fixed in v3.0 of Android app, you can find it here: https://github.com/mattermost/android/releases

[2016-05-18 17:09] lfbrock commented on #3044
Hi @rtripault, can you check what version of the Android app you're on?

We recently released a new version that I think this might be fixed on, you can find it here: https://github.com/mattermost/android/releases

[2016-05-18 17:10] lfbrock commented on #3025
Closing this issue + will track in Jira

[2016-05-18 17:10] #3025 closed

[2016-05-18 17:12] lfbrock commented on #3020
@pkolaric, was that with the v3.0 Android app or v3.0 Mattermost? Can you try it with the app found here if you haven't already? https://github.com/mattermost/android/releases

[2016-05-18 17:27] #2923 closed

[2016-05-18 18:26] rtripault commented on #3044
Oh, sorry for not providing that information, i assumed Mattermost v3 needed the newest Android application... so i'm indeed using mattermost-304.apk

[2016-05-18 19:01] it33 commented on #3044
@rtripault could we ask your help to connect your Android app to a 3.0.2 test server with GitLab SSO (https://gitlab.mattermost.com/) to help narrow down the possible issue?

[2016-05-18 19:37] rtripault commented on #3044
Sure thing

[2016-05-18 19:40] it33 commented on #3044
Thanks @rtripault please let us know if the test server works? If it did, it might be an issue with how either your Mattermost or your GitLab server is set up. If it doesn't work, it could be an issue with the app?

[2016-05-18 19:48] pkolaric commented on #3020
It was with mattermost 3.0.1 (binary release) and android release 3.0 github branch (self built).

[2016-05-18 19:56] rtripault commented on #3044
Well, experiencing the same behavior (Android browser being opened).

Happy to provide additional information/tests if needed, just let me know.

[2016-05-18 19:59] s7b4 commented on #3042
Same behavior on signup_user_complete page with a fresh install (the en locale is ok, not the fr)

`Current version is 3.0.0 (3.0.2/Tue May 17 21:26:28 UTC 2016/ac509b114df1c1b4b841eded74fb797805e0162d)`

Regards,

[2016-05-18 20:20] Rudloff commented on #3036
I am using 2.1 from Play Store.
I tried 3.0 but I get a very strange behavior : as soon as I open the app, it opens my team in my Firefox browser.

[2016-05-18 20:53] asaadmahmoodspin commented on #3027
Thanks for the script, I'll have a look and see how it feels. Will give it a shot, we have images and markdown stuff aswell, so will probably see if it all looks good there too.

[2016-05-19 05:43] rompic opened #3051 "link to information on update in log file not found"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
the url http://www.mattermost.org/upgrade-to-3-0/ is not available

#### Steps to

[2016-05-19 05:53] mijime commented on #3042
I am also the same problem in the Japanese has occurred.

I think because the content type is different.

static/i18n/*.json responsed `Content-Type:text/plain; charset=utf-8`.
But superagent is parsed */json only.

Why https://pre-release.mattermost.com is respond application/json ?

Reading the code, it looks like doing anything special.

https://github.com/mattermost/platform/blob/2e5617c29be69

[2016-05-19 06:08] rompic commented on #3051
added to https://github.com/mattermost/platform/pull/3052

[2016-05-19 06:44] komanezumi commented on #3042
I'm also the same (or similar) the same issue in Japanese environment.
I got the following error:

[2016/05/19 15:02:05 JST] [EROR] /api/v1/admin/log_client:client code=0 rid=xxxxx uid=xxxxx ip=xxx.xxx.xxx.xxx msg: Error: Invariant Violation: Dispatch.dispatch(...): Cannot dispatch in the middle of a dispatch. row: 7 col: 25589 stack: Error: Invariant Violation: Dispatch.dispatch(...): Cannot disp

[2016-05-19 10:01] qraynaud commented on #3027
Bottom menus where too high for the new sizing. Add this line to the script to fix this:

[code]

You can reapply the script on an already patched file, in this case all other patch will show as failed, this is normal.

[2016-05-19 11:12] enahum commented on #2921
Oh @ttllyy Im sorry it took me so long to see this. does this happen to you with version 3.0.2?

[2016-05-19 11:56] samogot commented on #2925
@it33, I think there is no common reproduction steaps, as I think it is related to our server configuration or network problems. I've add some extra `console.log`s , and get this:
[code]

as i understand we've got unexpected disconnect from server while creating post, which cause 502 response and closing websocket. but post is still saved on server. after re-establishing websocket we've get all po

[2016-05-19 14:29] lfbrock commented on #3021
Hi @mcfedr, what version of Mattermost are you running?

I just tried to reproduce this on master, and it seemed to work fine for public channels I was not a part of, and for direct message channels that had not been created yet.

[2016-05-19 15:38] coreyhulen commented on #3044
Hi @rtripault,

I think we identified and fixed the issue.  Could you try with https://github.com/mattermost/android/releases/download/v3.0.6/mattermost-android-3.0.6.apk  on gitlab.mattermost.com to see if the issue is solved.

[2016-05-19 15:53] rtripault commented on #3044
Hi @coreyhulen, confirming it is now working as expected.

So closing the issue.
Many thanks

[2016-05-19 15:53] #3044 closed

[2016-05-19 15:54] rodobodolfo opened #3057 "Mattermost 3.02 web client language always Spanish"
### Summary
Mattermost 3.02 web client seems to default to OS/Browser language.

### Steps to Reproduce
The browser/OS is in spanish. If I check the language of the profile it is set as english. If I reset it to english language it changes the language.
On a new session the language would be spanish again.

### Expected behavior
It should stay as last language set up.

![image](https://cloud.githu

[2016-05-19 16:01] enahum commented on #3057
Hi @rodobodolfo thanks for submitting this issue, I'm actually evaluating whats causing this and another issue related to this and have it fix as soon as possible.

[2016-05-19 16:03] enahum commented on #3042
Hi guys,

Thanks for pointing out this bug.

I'm working on a fix for this issue and for https://github.com/mattermost/platform/issues/3057 that are related.

[2016-05-19 16:35] lfbrock commented on #1185
Thanks @TwizzyDizzy, @esethna is away until next week - in the meantime, if anyone would like to help review the PR that would be great.

[2016-05-19 16:38] lfbrock commented on #3020
Hi @pkolaric, thanks - I think we have a fix for this now, release is here and I believe it will be released in the play store tomorrow https://github.com/mattermost/android/releases/tag/v3.0.6

[2016-05-19 16:38] #3020 closed

[2016-05-19 16:40] #2999 closed

[2016-05-19 16:42] lfbrock commented on #2929
Thanks @gramakri - Closing this issue, and we will accept the PR after the small changes are made.

[2016-05-19 16:42] #2929 closed

[2016-05-19 16:44] lfbrock commented on #2928
Closing this issue as duplicate, and will discuss on https://github.com/mattermost/platform/issues/3021

[2016-05-19 16:44] #2928 closed

[2016-05-19 16:48] lfbrock commented on #3036
Hi @Rudloff - if you're using GitLab sign in, I think we just fixed the issue with it opening in a browser in this release https://github.com/mattermost/android/releases/tag/v3.0.6.

You may need to upgrade Mattermost to v3.0 for the app to work properly if you haven't already done that.

[2016-05-19 16:49] asaadmahmoodspin commented on #3051
I've added a redirect. Now http://www.mattermost.org/upgrading-to-mattermost-3-0/ takes you to http://www.mattermost.org/upgrade-to-3-0/

[2016-05-19 17:22] Rudloff commented on #3036
I'm not using Gitlab sign in and I can still reproduce this behavior on 3.0.6.
I'm using the Mattermost instance on https://framateam.org/ so I can't upgrade it myself. I think it uses version 2.2.0.

[2016-05-19 17:30] enahum commented on #3042
Hi guys,

Doing a little bit of research we think it may be related to Encoding.

Can you please check that your Chrome is using UTF-8 like in the attached screenshot

![screen shot 2016-05-19 at 13 17 34](https://cloud.githubusercontent.com/assets/6757047/15402991/3339b092-1dcd-11e6-84e5-d30e176c8cad.png)

Also if you can please send us a screenshot of your javascript console when you hit the pro

[2016-05-19 17:53] s7b4 commented on #3042
Hi,
The problem appears in firefox too. Encoding is set to Unicode, there is no javacript errors.

fr, fr-fr locale :
![fr-locale](https://cloud.githubusercontent.com/assets/5158891/15403814/fdfd84de-1dfa-11e6-9cb3-bbb333f648ea.png)

en, en-us :
![en-locale](https://cloud.githubusercontent.com/assets/5158891/15403853/323dd6ae-1dfb-11e6-9ecb-d85561ca4381.png)

Hope this helps.

[2016-05-19 18:01] enahum commented on #3042
Hi @s7b4 can you please attach the response for the `fr.json` request?

Thanks.

[2016-05-19 18:06] s7b4 commented on #3042
Here is the file.
[fr.json.zip](https://github.com/mattermost/platform/files/273165/fr.json.zip)
Regards.

[2016-05-19 18:33] lemieuxl commented on #3042
Encoding is also set to Unicode, and there are no errors in the console.

![screenshot from 2016-05-19 14-26-20](https://cloud.githubusercontent.com/assets/6589489/15405046/45a06630-1dce-11e6-8f3f-8c061b5ffbce.png)

The problem also appears in mobile browsers (tested on Android with Chrome, and iOS with Chrome and Safari).

[2016-05-19 18:36] raspbeguy opened #3060 "Cannot connect from Android nor iOS"
#### Summary
It is impossible to connect to Mattermost from Android app nor iOS app.

#### Steps to reproduce
In the URL form on the first screen of the mobile app, enter the full URL of the Mattermost instance.
Did try with and without the team name in the URL.
Version of Mattermost instance : 3.0.2, zipped release version, downloaded this morning (2016-05-19)
Version of mobile client : newest av

[2016-05-19 19:22] lfbrock commented on #3060
Thanks @raspbeguy - We should have announced this better, I think the new apps aren't releasing until tomorrow.

Android one can be found here in the meantime: https://github.com/mattermost/android/releases/tag/v3.0.6

[2016-05-19 19:32] raspbeguy commented on #3060
Ok, thanks. Sorry if is was written somewhere, I just didn't get the info.

[2016-05-19 19:35] lfbrock commented on #3060
No worries - I think it was buried in the blog post announce/changelog, we should have put it at the top and maybe on the releases page.

[2016-05-20 06:07] rompic opened #3062 "Email at Login case sensitive"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Login with roman@example.com works, Roman@example.com does not.

#### Steps to rep

[2016-05-20 09:00] mcfedr commented on #3021
I am using 2.2.0, bundled with GitLab. If this is already fixed in a newer version, sorry for the extra issue :) Ill look forward to GitLab updating the bundled version...

[2016-05-20 09:08] tistjendop opened #3063 "Links to attachments are linked to the wrong Team after upgrade & remove Team"
#### Summary
Attachment links are incorrect after upgrade to MM 3.0.1, change of primary team and removal of other team.

#### Steps to reproduce
Starting from Mattermost 2.2.0 with 2 teams (A and B) on Ubuntu 14.04
1. upgrade Mattermost to 3.0.2
2. upgrade to Ubuntu 16.04 (do not forget to create systemd unit file)
3. Choose Team B as primary team
4. Remove Team A

#### Expected behavior
Attached

[2016-05-20 09:45] woutervb opened #3064 "webhook_icon.jpg is missing in team tar file for version 3.0.2"
#### Summary
Icon is missing in distibution

#### Steps to reproduce
Watching old messages produced by a webhook will display missing icon. Developertools in de webbrowser wil confirm with a 404

#### Expected behavior
icon is included

#### Possible fixes
Include the icon the distribution at the static location

[2016-05-20 11:31] MetalCar opened #3065 "profileimages lost after upgrade from 2.0.1 to 3.0.2"
#### Summary
After an upgrade from version 2.0.1 to 3.0.2 we lost the profile pictures of all team members.

#### Steps to reproduce
We used 2.0.1 and upgraded to 3.0.2. My Mattermost installation includes a single team with 32 members. Mattermost is running in an VM on a server machine in our company. So i backuped the image and followed these steps: http://docs.mattermost.com/administration/upgr

[2016-05-20 14:09] lfbrock commented on #3021
No worries! It seems to be working for me, so I'll close this issue and you can reopen it if there's still issues after the v3.0 upgrade.

[2016-05-20 14:09] #3021 closed

[2016-05-20 14:31] coreyhulen commented on #3065
Would you mind sharing the error logs?  or the errors related to migration of profile pics?

[2016-05-20 14:55] #3060 closed

[2016-05-20 14:58] #2990 closed

[2016-05-20 14:58] #2968 closed

[2016-05-20 15:03] lfbrock commented on #3036
Oh I see, you probably need to wait for the server to update to v3.0 as well for it to work. I think the new Android app only works with the v3.0 server, which is probably why it's opening in the web view.

(You can also find older versions of the Android app on our [releases page](https://github.com/mattermost/android/releases) if needed).

In the meantime I'm going to close this issue since I th

[2016-05-20 15:03] #3036 closed

[2016-05-20 15:50] thePanz commented on #2572
I already started working on this few months ago, feel free to continue :)

[2016-05-20 19:32] lfbrock commented on #3064
Thansk @woutervb, we have a ticket here tracking the issue https://mattermost.atlassian.net/browse/PLT-2939

[2016-05-20 19:32] #3064 closed

[2016-05-20 19:55] lfbrock commented on #3063
Hi @tistjendop - I think this is an issue with removing teams, can you try deleting the folder /data/teams/xxxxxxxxxxxxx where xxxxxxxxxxxxx is the team ID of the team you deleted?

[2016-05-20 19:58] lfbrock commented on #3062
Hi @rompic - I made a ticket to turn off the autocapitalization on mobile as a fix for this: https://mattermost.atlassian.net/browse/PLT-3002.

I think the local mailbox part of the email address can technically be case sensitive (although most email services make it case insensitive).

[2016-05-20 19:58] #3062 closed

[2016-05-20 19:59] #3051 closed

[2016-05-20 20:01] #2726 closed

[2016-05-21 09:19] #3014 closed

[2016-05-21 09:54] schemacs commented on #3014
update users set authservice = 'gitlab', authdata = 'your-gitlab-id' where email = 'xxx' ;

[2016-05-21 17:50] irfaneitw commented on #2992
Hi @TwizzyDizzy,

Turns out we had to play with the websocket ports to fix the issue.

Bug is resolved!

[2016-05-21 17:50] #2992 closed

[2016-05-21 21:14] nnewman commented on #3025
@lfbrock can confirm this is still an issue in 3.0.2 and is a duplicate of my earlier issue #2928

[2016-05-22 07:54] williamwu0220 commented on #2295
Complete all translation. Step into testing phase.
完成所有正體中文翻譯，接下來進入測試階段

[2016-05-23 06:51] tistjendop commented on #3063
I seem to have forgotten to copy the data folder after all.
Consider this a bogus bug report please. My excuses.

[2016-05-23 06:51] #3063 closed

[2016-05-23 10:39] MetalCar commented on #3065
Yes, but I removed the mail addresses, hope that's ok.
https://gist.github.com/MetalCar/89b7018b8f7772e02f871141570963de

[2016-05-23 13:24] ginkgomzd commented on #2968
https://mattermost.uservoice.com/forums/306457-general/suggestions/14094849-make-it-easier-to-join-multiple-channels

You seem to agree with me. I think the simple solution is to change this use-case. It sounds like you are arguing for a more complex solution that meets the need identified but without disrupting the single-channel-join use-case. I suggest you implement my suggestion, and when you

[2016-05-23 13:39] enahum commented on #3057
There's a PR #3076 to fix this

[2016-05-23 14:02] irfaneitw opened #3084 "Regression: Android - @mention window displaying contacts on the same line"
#### Summary
@mention window is broken

#### Steps to reproduce

For Android:
1. Open v3.0.6
2. In any room type "@"
3. Notice the window

On a desktop:

1. Open the Mattermost web app (3.0.2)
2. Resize the window to simulate a smartphone screen size
3. In any room, type "@"
4. Notice the window

#### Observed behavior

- I'm seeing multiple contacts on the same line
- If I choose one contact it s

[2016-05-23 14:06] irfaneitw opened #3085 "Regression: iOS - Blank screen on load"
#### Summary
When you open the iOS app you'll see a blank screen. Only happens on the iOS app

#### Steps to reproduce

1. Log into the iOS v3.0 app which is connected to a v3.0.2 server
2. Close the app
3. Open the app

#### Observed behavior

- You'll see the room contents show but then disappear (so now a white screen)
- Tap on the screen and the room contents will now show

#### Expected behav

[2016-05-23 14:16] coreyhulen commented on #3065
Thanks @MetalCar, it appears your `data` dir was empty and the upgrade process was just warning it couldn't find a profile image.  May I ask how you setup Mattermost?  did you follow one of our guides or docker images?

[2016-05-23 14:28] MetalCar commented on #3065
I followed one of your guides. But yes, my `data` directory was empty while migrating to the new database.....so I find another error that I have, that old pictures that someone uploaded in mattermost were lost......i copied my data directory from the previous version to the new one and also this error is done....I think, now it is clear what I've to do when the next update come....this was the fi

[2016-05-23 15:29] #3065 closed

[2016-05-23 15:38] coreyhulen commented on #3065
Just to confirm that you migrated to a new server and copied over the data dir after running the upgrade?

[2016-05-23 18:31] MetalCar commented on #3065
i copied to the same server, but renamed the existing directory which contains mattermost v2.1 and used the new directory (which contains mattermost v3.0) that i extracted from the tar file. then i forgot to copy back the data directory, because i doesn't know that this directory exists.

[2016-05-24 02:11] nicolas-raoul opened #3086 "Switching IME in Ubuntu loses focus in Edit Post"
#### Steps to reproduce
1. Post "hello" in Ubuntu 2015.10 with Mozc.
2. Click "[...]" then "Edit", the "Edit Post" popup is shown
3. Type "world": it is typed correctly
4. Press CTRL+Space to switch to Japanese IME
5. Type こんにちは

#### Expected behavior
"こんにちは" should get typed.

#### Observed behavior
"こんにちは" is not typed. Actually, the input field has lost focus.

Switching IME should not lose fo

[2016-05-24 04:29] fjarlq opened #3087 "message replies are rendered without the "Commented on user's message: ..." citation"
#### Summary
Sometimes, message replies are rendered without the "Commented on user's message: ..." citation that describes the parent post of the reply.

#### Steps to reproduce
1. Have two users log into Mattermost 3.0.2 using any up-to-date client.
2. Have one user reply to several old posts while the other user monitors the channel.
3. Wait for one of the replies to be rendered incompletely. T

[2016-05-24 05:27] rompic commented on #3062
thanks for the update. learned something today (also see http://stackoverflow.com/a/9808332 which points to RFC 5321, section-2.3.11)

[2016-05-24 06:39] fjarlq opened #3088 "input lag in web client after loading many posts"
#### Summary
Typing becomes significantly laggy as more messages are loaded -- especially when hitting enter to send a new post.

#### Steps to reproduce
1. log into Mattermost 3.0.2 using Chrome 50 on a mid-2014 MacBook Pro
2. open the Chrome Task Manager, sort by CPU, and select the Mattermost webapp tab
3. join a channel that contains many messages
4. set the keyboard focus to the "Write a mess

[2016-05-24 11:51] jovandeginste opened #3089 "Integration with password vaults doesn't work when the vault lets you select a username+password first"
#### Summary
When logging in via the web UI, the form does not work nicely with autofill tools like Chrome's password vault (when you have more than one username/password for the domain) or 3rd party plugins like the one for Keepass (same as Chrome, or when you don't let it automatically fill on page load).

In both cases, you need to select a username (+password) from a list. While the form is th

[2016-05-24 13:24] arnauldvm commented on #3062
@lfbrock Shouldnt the system handle the email address given in the login screen in a case-insensitive manner? (Independently from the device used.)

[2016-05-24 14:25] KlugFR opened #3091 "No update in the channels (3.02 + NGINX + SSL + CentOS 6)"
Hi all.

Brand new setup (this afternoon) following the entreprise guide (http://docs.mattermost.com/install/prod-rhel-6.html).

NGINX is version 1.10 (from their repo), it happened with EPEL version.
PostgreSQL is 9.4.2 (from their repo)

We're hitting this https://github.com/mattermost/platform/issues/3042 so we switched our browsers to EN in order to get the pages, create accounts and login.

O

[2016-05-24 15:11] lfbrock commented on #3089
Thanks @jovandeginste, would you be interested in contributing a fix for this?

[2016-05-24 15:18] lfbrock commented on #3086
Hi @nicolas-raoul, we only support [certain browsers](http://docs.mattermost.com/install/requirements.html) at this point in time. If you are interested in submitting a fix for this we would consider taking it, but we would need volunteers on Ubuntu to test the fix.

[2016-05-24 15:25] lfbrock commented on #3085
Thanks @irfaneitw, made a ticket here tracking the [issue](https://mattermost.atlassian.net/browse/PLT-3017). If you're interested in submitting a fix for it, let us know and we can make it accepting pull requests.

[2016-05-24 15:26] #3057 closed

[2016-05-24 15:29] lfbrock commented on #3027
Thanks @qraynaud, closing this issue now - if you're interested in discussing Mattermost UI more feel free to join the UX channel on the Core team at https://pre-release.mattermost.com.

[2016-05-24 15:29] #3027 closed

[2016-05-24 16:23] lindy65 commented on #3084
Thanks for the report @irfaneitw, a [ticket](https://mattermost.atlassian.net/browse/PLT-3018) has been opened to fix the issue.

[2016-05-24 16:23] #3084 closed

[2016-05-24 16:24] KlugFR commented on #3091
Rebooting the VM fixed the issue.
8-/

[2016-05-24 16:24] #3091 closed

[2016-05-24 17:08] lswen opened #3094 "window.setup_root' is undefined"
3.0.2 open page

global code — whochat.yunfancdn.com:1:2248TypeError: window.setup_root is not a function. (In 'window.setup_root()', 'window.setup_root' is undefined)

[2016-05-24 17:27] pkolaric commented on #3020
Confirming it's working.

[2016-05-24 17:31] lfbrock commented on #3089
Created a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3020

[2016-05-24 18:02] asaadmahmoodspin commented on #3087
That should certainly be a bug, I'll file a bug if I'm able to reproduce it.

[2016-05-24 22:38] enahum commented on #3042
Hey guys,

could you please [try this build on linux](https://releases.mattermost.com/mattermost-platform/PLT-3030/mattermost-team-linux-amd64.tar.gz) to see if that fixes the problem for you?

Much appreciate it.

Thanks

[2016-05-25 00:35] mijime commented on #3042
Thanks, enahum.

I tried it, but it does not seem to have been changed.
It is a guess, lemieuxl and s7b4 will also be the same way.

komanezumi might is improved.

my mattermost logs.
[code]
failed-ja
![failed-ja](https://cloud.githubusercontent.com/assets/4719974/15524263/d876771a-225b-11e6-8b8d-f9751de703b5.png)

success-en
![success-en](https://cloud.githubusercontent.com/assets/4719974/1552426

[2016-05-25 01:33] npcode commented on #2410
@lfbrock I couldn't see "inactive" in "Manage Team Members".

![image](https://cloud.githubusercontent.com/assets/1129852/15525309/ef9c880a-2263-11e6-9b9f-0d8663b1280f.png)

[2016-05-25 01:40] npcode commented on #2410
Oh I see. I can see "Make Inactive" in System Console > Teams > Users. [mattermost docs](http://docs.mattermost.com/help/getting-started/managing-members.html) helped me.

I hope we will have "deactive own account" feature someday.

[2016-05-25 02:19] enahum commented on #3042
Can you please share your deployment configuration so i can try to repro
the issue?

Does it get fixed using the nginx to direct static?

Thx mijime.

On Tuesday, 24 May 2016, mijime <notifications@github.com> wrote:

[2016-05-25 03:41] mijime commented on #3042
Sorry ... I was rewriting my post. Update the image, it has been added to my dockerfile.

[2016-05-25 05:48] nicolas-raoul commented on #3086
Oh, I did not realize that Mattermost does not support Firefox on Linux.

Note: The problem is not reproduced on `Chromium 49.0.2623.108 Ubuntu 15.10 (64-bit)`.

[2016-05-25 06:39] nicolas-raoul commented on #2439
Many people have the same problem, please reopen thanks!
See http://forum.mattermost.org/t/android-app-connect-to-mattermost-team-link/1417

By the way I have this problem on a non-SSL server, so it is not about certificates.

Android app: Mattermost 3.0.6
Server: Mattermost Team Edition 2.2.0

![screenshot_20160525-152822](https://cloud.githubusercontent.com/assets/99590/15530230/24a2ba68-228e-11

[2016-05-25 07:48] samogot commented on #2925
here is server log. MM is just crash on every message into town hall or off-topic. other channels are ok
[code]

[2016-05-25 07:48] mcfedr commented on #3032
I'm quite interested why it was decided not to use something like phonegap for building the native app? it would facilitate in accessing these native functions and provide a solid place to start working, rather than duplicating work

[2016-05-25 08:59] komfushee commented on #3065
Same problem as MetalCar, didn't know that this folder would be erased while extracting the new tar file.

[2016-05-25 11:53] npcode opened #3103 "Cannot hide "Terms" link in the top page"
#### Summary

"Terms" link in the top page is not hidden even if I tried to leave  "Terms of Service Link" blank in System Console.

#### Steps to reproduce

1. Go System Console > Legal and Support Settings
2. Leave "Terms of Service Link" blank
3. Click Save button

#### Expected behavior

In the top page "Terms" link is hidden.

#### Observed behavior

In the top page "Terms" link is not hidden

[2016-05-25 12:12] enahum commented on #3042
would you be so kind to copy your nginx config?

[2016-05-25 12:46] mijime commented on #3042
oops, sorry...

nginx/conf.d/default.conf
[code]

[2016-05-25 12:49] lemieuxl commented on #3042
I see the same behaviour with the build provided by @enahum. I installed it on a fresh CentOS 7 virtual machine (following the official documentation [Production Install on RHEL 7.1+](http://docs.mattermost.com/install/prod-rhel-7.html)), and browsed directly to mattermost (skipping nginx entirely).

![screenshot from 2016-05-25 08-45-22](https://cloud.githubusercontent.com/assets/6589489/15540413

[2016-05-25 12:52] enahum commented on #3042
Ok I can work with this, lets hope I'll find a fix soon

[2016-05-25 12:54] mijime commented on #3042
:+1:

If my fixes also accustomed to reference, I am happy.
https://github.com/mijime/platform/commit/66a99728e95afd89af38b4fff0d296de3b66bfd3

[2016-05-25 13:13] s7b4 commented on #3042
Hi, same problem here.
The only difference i see is that nginx is sending "Content-Type: application/json" in response header.
Regards.

[2016-05-25 14:06] kumpelblase2 opened #3105 "Edit dialog does not directly take focus"
#### Summary
Input in edit dialog does not directly take focus when using shortcut (Up-Arrow).

#### Steps to reproduce
1. Post a message in a channel/private group/direct messages
2. Press up arrow to bring up the edit modal
3. Directly type `test`, minimal/no delay between this and the previous step

Version 2.2.0 Build 6671 (GitLab Mattermost via GitLab Omnibus)

#### Expected behavior
`test` b

[2016-05-25 14:09] enahum commented on #3042
can you try again using the same build?

[2016-05-25 14:14] #3089 closed

[2016-05-25 14:18] lfbrock commented on #3086
Closing this issue, but if someone from the community is interested in submitting a fix for this please let us know.

[2016-05-25 14:18] #3086 closed

[2016-05-25 14:18] lemieuxl commented on #3042
It looks like it works now (with French settings, at least).
Thanks!

![screenshot from 2016-05-25 10-16-57](https://cloud.githubusercontent.com/assets/6589489/15543178/e639db2a-2261-11e6-8620-718db717dae8.png)

[2016-05-25 14:19] enahum commented on #3042
awesome, @mijime can you also confirm?

[2016-05-25 14:23] #3085 closed

[2016-05-25 14:25] s7b4 commented on #3042
It's ok for me too (French locale).
Thanks.

![ok-fr](https://cloud.githubusercontent.com/assets/5158891/15543346/cbb39fec-2294-11e6-8f3e-3f5725a53cac.png)

[2016-05-25 14:40] mijime commented on #3042
Cool !! It works for me too. (ja)
Thanks enahum. 👍

[2016-05-25 14:42] enahum commented on #3042
Great!!

Thanks guys for helping me by testing this.

I'm going to close this issue then.

Cheers

[2016-05-25 14:42] #3042 closed

[2016-05-25 15:30] jovandeginste commented on #3089
Sorry for late answer; I would not mind contributing, however I'm not really a frontend developer so I would more likely make it worse ...

[2016-05-25 15:59] lfbrock commented on #3089
No worries, we'll get someone to fix it. Thanks for the report!

[2016-05-25 16:10] jwilander commented on #3094
Hi @lswen,

Are you running in a production environment? If so, can you give me any information about the machine running your server?

Can you try deleting your browser cache and trying again? If that doesn't work try restarting the Mattermost service on your server to see if that fixes the issue.

[2016-05-25 16:25] lfbrock commented on #3105
Thanks @kumpelblase2, made a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3041

If anyone in the community is interested in making a pull request to address this issue we would welcome the contribution!

[2016-05-25 16:25] #3105 closed

[2016-05-25 16:30] lfbrock commented on #3103
Thanks @npcode, made a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3037

It's also accepting pull requests if anyone from the community is interested in submitting a fix.

[2016-05-25 16:30] #3103 closed

[2016-05-25 16:34] lfbrock commented on #3032
@mcfedr - We had originally worked with a third party to build the android app, but ended up having to take over from them after things didn't work out. We eventually plan to build a more native app.

Going to close this issue and will track it in a Jira ticket: https://mattermost.atlassian.net/browse/PLT-3021

[2016-05-25 16:34] #3032 closed

[2016-05-25 16:38] lfbrock commented on #3001
@joshmn - going to close this issue, if you're still hitting problems please re-open and add repro steps and information about your set up?

[2016-05-25 16:38] #3001 closed

[2016-05-25 19:08] irfaneitw opened #3114 "Web - Single comment "shows up twice""
#### Summary
Sometimes when I type a comment, I'll see it twice even though I sent it once, but the second instance looks like it's trying to be sent.

#### Steps to reproduce
Hard to reproduce but here's how I got it today:

1. With Mattermost open in your browser, put your computer to sleep for a couple mins
2. Wake up your computer and go back to tab with Mattermost
3. Go to different channels

[2016-05-25 19:10] irfaneitw commented on #3114
Looks like that "unsent" comment will appear at the bottom and will disappear if you refresh the browser

<img width="1045" alt="pablo_-_it_werks_inc__it_werks_inc_" src="https://cloud.githubusercontent.com/assets/19347435/15552931/bf0685e8-228a-11e6-9329-69208d4d0513.png">

[2016-05-25 22:50] it33 commented on #2925
Thanks @samogot appreciate the report, it [looks like someone else is seeing this issue as well](https://github.com/mattermost/platform/issues/3114), we're still trying to find a way to repro it...

[2016-05-25 23:35] fjarlq opened #3118 ""About Mattermost" menu item mostly obscured"
#### Summary
The "About Mattermost" menu item is mostly not visible due to the improperly-sized menu.

#### Steps to reproduce
1. install Mattermost 3.0.2
2. using Chrome 50, log into the system administrator role (I didn't try other browsers)
3. it might also be necessary for the system administrator to be a member of more than one team
4. select the menu in the upper-left corner

#### Expected b

[2016-05-26 00:20] it33 commented on #3118
Thanks @fjarlq, appreciate the report, I believe this is fixed on master, should come out with 3.1

![image](https://cloud.githubusercontent.com/assets/177788/15560084/eed7aef2-229c-11e6-80b9-0dfa469fec9b.png)

[2016-05-26 00:20] #3118 closed

[2016-05-26 00:21] fjarlq opened #3119 ""#hashtag" in Markdown link title unexpectedly produces link to Mattermost hashtag"
#### Summary
When the text "#hashtag" is used in a Markdown link title, the result is rendered as a link to a Mattermost hashtag search and not to the URL specified by the Markdown link.

#### Steps to reproduce
1. log into Mattermost 3.0.2
2. enter: `[#TheWalkingDead tweets on Twitter](https://twitter.com/hashtag/TheWalkingDead)`
3. examine how Mattermost renders the link

#### Expected behavior

[2016-05-26 06:18] alerque commented on #3014
I think this bug report should be re-opened, it shouldn't be necessary to hack on the database manually to gain access to logins. See also [my forum question about this issue](https://forum.mattermost.org/t/unable-to-login-via-gitlab-after-3-0-upgrade/1576).

[2016-05-26 13:37] plumpNation opened #3123 "Android application autocomplete not working."
#### Summary
Mention no longer autocompletes.

#### Steps to reproduce
Galaxy Note 3
Mattermost android client 3.0.2

Open a channel.
type the "@" character
the members list will open
start typing a name

#### Expected behavior
List should filter based on input.

#### Observed behavior
List is not filtered as you type.

#### Possible fixes
If you type @ and a few letters of a name, then space, the

[2016-05-26 15:11] lfbrock commented on #3119
Thanks @fjarlq, created a ticket to track the issue here: https://mattermost.atlassian.net/browse/PLT-3066

If anyone from the community is interested in doing a pull request for this, please comment and let us know

[2016-05-26 15:11] #3119 closed

[2016-05-26 15:14] lfbrock commented on #3114
Hi @irfaneitw, we have a ticket here about a similar issue: https://mattermost.atlassian.net/browse/PLT-3035

I think they may be related, we're going to look into this.

[2016-05-26 15:17] #2622 closed

[2016-05-26 15:20] irfaneitw commented on #3114
Hi @lfbrock,

Yep, looks like the same bug! We can close this bug and update that bug to show it's both web + iOS

[2016-05-26 15:35] jwilander commented on #3088
Hi @fjarlq,

Great write-up, thanks for this!

We've recently started to focus more on webapp performance and this should be of some good help to us. I've made a Jira ticket [here](https://mattermost.atlassian.net/browse/PLT-3067) for investigating this more deeply and to find a solution that let's us retain any functionality we need as well as increase performance of the app.

Please follow the J

[2016-05-26 15:35] #3088 closed

[2016-05-26 17:46] lindy65 commented on #3123
Thanks for the report @plumpNation.  We've created a [ticket](https://mattermost.atlassian.net/browse/PLT-3069) to fix the issue.

[2016-05-26 17:46] #3123 closed

[2016-05-26 19:35] lfbrock commented on #2921
Hi @ttllyy, I'm going to close this issue - if it's still happening for you on v3.0.2 please re-open or post on the [troubleshooting forums](https://forum.mattermost.org/)?

[2016-05-26 19:35] #2921 closed

[2016-05-27 00:26] gramakri commented on #2929
@lfbrock I have been tied with other things now :-( I will get to this, thanks for the feedback.

[2016-05-27 05:25] SacDin commented on #2439
+1

[2016-05-27 07:30] gelim commented on #3065
Hi,

If you maintain directories name for mattermost root like mattermost-x.x.x, you won't have this problem
Probably it will be better for mattermost tarball to have a root directory named with the version directly.

My contribution to that problem, is that the documentation in http://docs.mattermost.com/administration/upgrade.html#upgrading-to-team-edition-3-0-x-from-2-x should clearly point to

[2016-05-27 09:43] samogot commented on #2925
@it33 i've fixed that. we have build mm in debug mode and get this NPE
[code]

the reason was in a fact that there are 28 users in a team, but 34 userIDs in a channels. that's why problem was reproducing only in town hall and off-topic channel. this database was migrating all way from 1.0 and we recreate team once, so i think problem was in some of migration or team removing scripts

[2016-05-27 09:43] #2925 closed

[2016-05-27 11:52] MetalCar commented on #3065
Hi,

yes, i moved the different directories manually. Seems that I did it right :smile:
But yes, please add the `data` directory to the upgrade documentation.

[2016-05-27 13:30] lfbrock commented on #3114
Thanks, updated it :)

[2016-05-27 13:30] #3114 closed

[2016-05-27 16:05] tbalthazar commented on #1649
@npcode Hi, I just wanted to let you know that I started working on this issue.

[2016-05-27 22:28] it33 commented on #2998
Hi @TwizzyDizzy,

Appreciate your thoughts, feedback and offer to help.

Right now, the documentation recommends the Mattermost server having privileges to work with its dedicated database (just to note, this is the database only, not the database server). While there are probably granular restrictions that could be applied, those could complicate future automation for upgrading the database and t

[2016-05-27 22:28] #2998 closed

[2016-05-27 22:34] 42wim opened #3145 "FD leak because http response body doesn't get closed in various functions"
#### Summary
http response body doesn't get read completely and closed in ```model/client.go``` (and ```api/*.go```) functions

#### Steps to reproduce
see https://github.com/42wim/matterircd/issues/48

#### Expected behavior
http response body get reads completely and gets closed, no file descriptor leaks

#### Observed behavior
file descriptor leaks
(http://stackoverflow.com/questions/33238518/w

[2016-05-28 12:38] plumpNation commented on #3123
:+1:

[2016-05-28 18:35] it33 commented on #2439
Hi everyone,

Please note [that the hosted Mattermost mobile apps on iTunes and Google Play are for Mattermost 3.0 and higher.](https://forum.mattermost.org/t/new-3-0-android-and-ios-apps-pushed-to-google-play-and-itunes/1542), and support multi-team accounts.

If you're still on a Mattermost 2.x server without multi-team account support, you would need to either upgrade your server to 3.0 or comp

[2016-05-29 10:08] SacDin commented on #2439
How do I know the version of my mattermost server ? I'm running
pre-included version in Gitlab 8.x.

On Sun, May 29, 2016 at 12:06 AM, it33 <notifications@github.com> wrote:

--
Regards,
Sachin Dindor
SacDin Enterprise Pvt Ltd

[2016-05-29 10:11] SacDin commented on #2439
How do I know the version of my mattermost server ? I'm running pre-included version in Gitlab 8.x.

[2016-05-30 07:41] ChelinTsien commented on #2524
I'm not having that problem.

This is my setup:
mattermost v3.03
Ubuntu 14.04
nodejs v5.11.1
npm 3.8.6

I do a make nuke then a make run, but i can't build it

npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.12
npm WARN extract-text-webpack-plugin@1.0.1 requires a peer of webpack@^1.9.

[2016-05-30 13:20] #2056 closed

[2016-05-30 14:04] ThiefMaster opened #3157 "Add `crossorigin="anonymous"` to embedded images"
Currently hotlinking an image that is behind HTTP authentication results in everyone (at least Firefox users) getting an ugly HTTP auth prompt. This could probably be used for phishing if your users are gullible enough.

Apparently `crossorigin="anonymous"` on the `img` tag prevents this so it'd be a good idea if all img tags that are created by users (e.g. from markdown `![](url)`) had this attri

[2016-05-30 14:05] egnerfl opened #3158 "Files send in private chat to non team member are not accessible"
Hey!

When sending a file to a non team member via the global users feature from 3.0 the other user can`t download the file.
The file is visible for the user and downloadable but always has 0 bytes (screenshot attached)

![screen shot 2016-05-30 at 15 51 14](https://cloud.githubusercontent.com/assets/4058299/15651212/6680fcd0-267e-11e6-9f4a-ae4522f97bd0.png)

If you create a public link everything

[2016-05-30 19:10] lindy65 commented on #3158
Thanks @egnerfl

I've filed a [ticket](https://mattermost.atlassian.net/browse/PLT-3105) to track the issue.

[2016-05-30 19:10] #3158 closed

[2016-05-31 19:58] lfbrock commented on #3094
Hi @lswen, going to close this issue - if you're still having trouble, please re-open or post on https://forum.mattermost.org/ for troubleshooting help?

[2016-05-31 19:58] #3094 closed

[2016-05-31 20:24] esethna commented on #3065
Thanks for the contributions on this thread. We’ve updated the [upgrade guide](http://docs.mattermost.com/administration/upgrade.html) to add explicit instructions on backing up and restoring the data folder if using local file storage. These steps will ensure profile pictures are not lost in the upgrade to v3.0.

[2016-06-01 13:20] DjebbZ opened #3194 "CLI can't create team"
#### Summary
Team creation with CLI tool fails.

#### Information
Using the official Docker image.
Output of `./platform -version` :

[code]

#### Steps to reproduce
`./platform -create_team -team_name="test" -email="coco@test.com"`

#### Expected behavior
Some message of success

#### Observed behavior
CLI shows this :

[code]

#### Possible fixes
Create team manually with the UI. Doesn't scale f

[2016-06-01 16:11] tehraven opened #3203 "Typo in 'Edit Nickname' Error Message for Login Providers"
#### Summary
When attempting to edit your Nickname field while using a Login Provider (such as LDAP), the error message has a typo for the word "Though".

#### Steps to reproduce
Log into Mattermost with a Login Provider (ex LDAP).
Go to your Account Settings
Attempt to edit your Nickname

#### Expected behavior
Text should say "you need to do so through your login provider". Notice that the typo

[2016-06-01 17:22] DjebbZ commented on #3194
Another happens with the latest version deployed today on Docker (image mattermost-prod-app) when I want to create a team, whatever path I use for the `-config` option

[code]

[2016-06-01 17:22] lfbrock commented on #3203
Thanks for the report @tehraven - made a ticket here to get the issue fixed: https://mattermost.atlassian.net/browse/PLT-3156

If you or any other community member wants to make a PR to fix the issue, we would welcome the contribution!

[2016-06-01 17:32] tehraven commented on #3203
https://github.com/mattermost/platform/pull/3204

[2016-06-01 17:45] asaadmahmoodspin commented on #3087
I was able to reproduce this, we'll add it as a bug and prioritise it accordingly.

[2016-06-02 07:11] sheepherd commented on #2439
I'd like to report the same Issue.
Android App Version: 3.0.6
Mattermost Server Version: 3.0.3
The Mattermost server works flawlessly, but when connecting with the Android App I also get "The address does not appear to be a Mattermost server".
The request arrives at port 443 on the server but apparently nginx does not receive a valid http request, since it does not log anything.
I can provide more

[2016-06-02 07:30] DjebbZ commented on #3194
With the latest version (same as the comment above, 3.0.0), the CLI tool work perfectly when not launched in the `/` (root) directory.

Here's the directory structure of the Docker image :

[code]
Seems like the CLI has some relative paths hardcoded... Didn't know that.

Closing, since I could create and permanentely delete a team.

[2016-06-02 07:30] #3194 closed

[2016-06-02 08:29] danifr opened #3211 "Monokai Custom Theme Examples: barely visible links"
Applying the custom theme `Monokai` from http://docs.mattermost.com/help/settings/theme-colors.html#custom-theme-examples results on white colored links on a white background.

Possible fix:

[code]

[2016-06-02 08:31] ston1th opened #3212 "Remove debug information from release builds"
#### Summary
Reduce binary file size by stripping debug information in release builds.

#### Observed behavior
Reduced file size by approximately 5-6 MB.

#### Possible fixes
`go build -ldflags "-s -w" .`

[2016-06-02 13:35] jwilander commented on #3145
Hi @42wim, thanks for reporting this!

I've created a Jira ticket [here](https://mattermost.atlassian.net/browse/PLT-3165) to get this fixed.

One question, in your defer function you're also performing a `ioutil.ReadAll(r.Body)`, is this necessary before closing the body?

[2016-06-02 14:01] 42wim commented on #3145
Yes, it's necessary. I implemented it first without reading the complete body. The FD's didn't close (and weren't reused). I reimplemented it with reading the full body and then closing, and it worked fine. Other user of matterircd also reported success.

Also see http://stackoverflow.com/questions/17948827/reusing-http-connections-in-golang

[2016-06-02 15:49] alanmoo commented on #2524
@ChelinTsien Looks like the 2nd line has your problem- fsevents@1.0.12 isn't compatible with your OS or computer- you may want to investigate that further, but it doesn't sound like it's a mattermost issue.

[2016-06-02 20:11] #3145 closed

[2016-06-02 23:09] asaadmahmoodspin commented on #3211
Filed a ticket on it:
https://mattermost.atlassian.net/browse/PLT-3177

I think a better fix would be is to reorder the theme elements since the other vectors are broken too, I think they got messed up somehow. Here's the fix: https://github.com/mattermost/platform/pull/3226.

[2016-06-03 01:23] jasonblais commented on #2767
Please feel free to speak Swedish if you'd like, [you can see other threads speaking non-English as well](https://github.com/mattermost/platform/issues/2221)

You can find our [translation guide here](http://docs.mattermost.com/developer/localization.html) and I encourage you to [join the localization channel](https://pre-release.mattermost.com/core/channels/localization) if you already haven't, a

[2016-06-03 10:39] Ajita24 opened #3228 "Add new column to Mattermost Channel Table"
Hello
I am newbie to Mattermost.
I have setup the complete Mattermost successfully.
How can I add a new column to Mattermost Channel table.I tried manually adding a column in MySQL mattermost DB at my local end but it fails.
I have a general query that if I need to add a new column to any of the Mattermost table, how I can achieve it?

[2016-06-03 11:30] #3228 closed

[2016-06-03 11:58] #3211 closed

[2016-06-03 12:51] lfbrock commented on #3087
Ticker is here for reference: https://mattermost.atlassian.net/browse/PLT-3176

If anyone from the community figures out concrete repro steps, or is interested in working on a fix for this, please post here

[2016-06-03 13:25] hmhealey commented on #3157
Hi @ThiefMaster,

Thanks for the idea. I didn't know about the `crossorigin` parameter before and thought our only option to fix it was to proxy them, so this seems like a much better solution for the time being. I've created a ticket on Jira to track this: https://mattermost.atlassian.net/browse/PLT-3181

[2016-06-03 13:25] #3157 closed

[2016-06-04 12:32] ppawel opened #3254 "Since 3.0.3, styling for attachment container border always grey"
#### Summary
We just upgraded to 3.0.3 and our TeamCity notifications lost color.

Suspected problem is those CSS rules:

![image](https://cloud.githubusercontent.com/assets/469990/15799540/77451386-2a60-11e6-95d4-211f53d6adfd.png)

#### Expected behavior
In 2.2, it looked like this:

![image](https://cloud.githubusercontent.com/assets/469990/15799562/1954fbdc-2a61-11e6-9ed9-76f671aa21a0.png)

It

[2016-06-04 13:01] serveradmin1 opened #3255 "Unable to send mail notifications in mattermost team edition"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Issue in one concise sentence

#### Steps to reproduce
How can we reproduce the is

[2016-06-04 13:04] serveradmin1 commented on #3255
we are unable to send email notification on team edition i done every settings are correct.please suggest to me how to resolve it.

[2016-06-05 10:29] houssemFat opened #3259 "createIndexIfNotExists causing an sql error with postgres driver"
#### Summary
createIndexIfNotExists causing an sql error

#### Steps to reproduce
At the launch, i'm using  ubuntu 14.04 with postgres  9.4.5

#### Expected behavior
Normal run, the call for `createIndexIfNotExists` store/sql_store.go will create indexes for columns.

#### Observed behavior
crash with sql error  `relation "users" does not exist`

#### Possible fixes
* Adding quote on tableName and

[2016-06-06 13:19] tux-00 commented on #1185
**Chapter : Set up Database Server (section10 and 11)**
Maybe we should indicate that the path of the configuration file could change depending on the version of postgres. In debian 8.4 the version is 9.4.

**Chapter : Set up Database Server (section12)**
`systemctl reload postgresql` instead ?

**Chapter : Set up Mattermost Server (section2)**
When I tried to download mattermost with wget I get a

[2016-06-06 15:28] lfbrock commented on #3254
Hi @ppawel,

How are you setting the border color in your attachment? Can you post an example of the JSON for the attachment?

I think this may already be fixed in v3.1, but if you post an example we can test it out to confirm.

[2016-06-06 15:29] mattermod commented on #3255
Thanks @serveradmin1 for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your

[2016-06-06 15:29] #3087 closed

[2016-06-06 22:35] jasonblais opened #3276 "Mattermost v3.1.0-rc3"
This is a meta issue for discussing:

 - Potential regressions in the latest Mattermost release candidate, available from: `http://releases.mattermost.com/3.1.0-rc2/mattermost-team-3.1.0-rc2-linux-amd64.tar.gz`
 - Potential patches to be applied prior to final release.

See [changelog](http://docs.mattermost.com/administration/changelog.html) for details on the new version.

Please link to issues

[2016-06-07 01:44] fjarlq commented on #3087
@lfbrock I can view PLT-3175 but not PLT-3176.. it says it may have been deleted or I don't have permission to view. So, I'll add my observation here on github... maybe that's what you meant anyway by "please post here".

I've been trying to puzzle out how this bug sometimes occurs when rendering the reply-post initially, but always goes away after reloading the page. I've made some progress, but

[2016-06-07 08:34] ppawel commented on #3254
[code]

[2016-06-07 11:25] jdiehl commented on #2246
I think this is a relevant issue. We have the situation that a team created a bunch of channels for testing purposes and deleted them afterwards. Now, they cannot use these names any more (unless they manually edit the url which can lead to some confusion).

[2016-06-07 11:27] jdiehl commented on #2246
Is there a way for an admin to delete the archived channel?

[2016-06-07 13:44] baronleonardo opened #3278 "installing on 32bit server"
I can't get succeeded in installing mattermost on a 32-bit server.
Is mattermost supported on a 32bit system ?

[2016-06-07 21:16] lfbrock commented on #3254
Hi @ppawel - I think I know what the problem is, it looks like the "danger"/"good"/"warning" color isn't working. Can you try switching it to a hex value for the color and see if that works?

[2016-06-08 05:07] ppawel commented on #3254
No, I can't (easily) do that - it's sent by TeamCity Slack notifier plugin, I would need to edit the source code for that plugin...

It worked in MM 2.2 and there was no change with the plugin on TeamCity side so it looks like a regression in Mattermost...

[2016-06-08 15:57] tbalthazar opened #3291 "CLI: invite user by email - missing siteURL in email"
#### Summary
When inviting a user via the CLI, the email body is missing the `siteURL`, making the "Join Team" button useless.

#### Steps to reproduce
Run:
`go run mattermost.go -invite_user -team_name="byrecords" -email="roger8@example.com"`

#### Expected behavior
Roger receives an email containing a "Join Team" link that looks like:
`https://mattermost.example.com/signup_user_complete/?d=%7B%2

[2016-06-08 19:03] #3255 closed

[2016-06-08 19:06] lfbrock commented on #3254
Alright it's fine, I'm fairly sure that's what the issue is so I created a ticket here to track it: https://mattermost.atlassian.net/browse/PLT-3273

We've already cut the release candidate for v3.1, so this probably won't get fixed until v3.2.

If anyone from the community wants to make a contribution for this, we would welcome a pull request!

[2016-06-08 19:28] lfbrock commented on #3291
Hi @tbalthazar, thanks for the report, I've filed a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3275

If anyone from the community would like to submit a contribution for this, I can set it to accepting pull requests

[2016-06-08 19:29] lfbrock commented on #3259
Hi @houssemFat, thanks for the report - I've filed a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3274

[2016-06-08 19:30] lfbrock commented on #3087
Thanks @fjarlq that's helpful, I think we've got better repro steps now. I also fixed the ticket so it's visible

[2016-06-08 19:32] lfbrock commented on #3212
Thanks @ston1th, the team discussed this but in the end decided to keep the debug information in the build because it makes it easier for us to find issues reported by users.

[2016-06-08 19:32] #3212 closed

[2016-06-08 22:05] tbalthazar commented on #3291
@lfbrock Sure, I'll try to submit a patch tomorrow.

[2016-06-08 22:32] hjf288 opened #3294 "3.1.0-rc2 EE: LDAP authentication fails without firstname/lastname attributes set"
#### Summary
LDAP logins fail when first name and last name attributes are not set.

#### Steps to reproduce
Version: 3.1.0-rc2

Configure LDAP authentication but leave the first name and last name attributes unset.

#### Expected behavior
The help text below the attributes should state that these are required fields and there should be validation that would stop the user from enabling LDAP withou

[2016-06-09 01:37] jasonblais commented on #3294
Thank you for the report! I've filed [a ticket](https://mattermost.atlassian.net/browse/PLT-3276).

We'll fix it so that firstname/lastname attributes can be left blank

[2016-06-09 01:37] #3294 closed

[2016-06-09 18:53] #3254 closed

[2016-06-09 20:39] ppawel commented on #3254
OK, thanks for the info, looking forward to the release.

[2016-06-10 03:59] geraldvillorente opened #3306 "Guide on how to compress javascript"
I already searched the doc about compressing Javascript but I didn't find anything. Please see the below screenshot. The `bundle-3.0.2.js` is a bit heavy on a slow network.

![slow_loading](https://cloud.githubusercontent.com/assets/820842/15953852/74ffb846-2f02-11e6-9acd-467bcdbbfed3.png)

[2016-06-10 14:36] exolab opened #3308 "Cannot access S3 due to problems with signatureVersion"
#### Summary
Cannot use an S3 bucket in eu-central-1, as this region only supports signatureVersion v4.

#### Steps to reproduce
1. Set up an S3 bucket in eu-central-1 (Frankfurt) and make it accessible.
2. Change configuration for files to use this bucket.
3. Upload a file.

#### Expected behavior
File is uploaded.

#### Observed behavior
An error happens. Here is an excerpt from the log file:

E

[2016-06-10 15:50] GMoustacky opened #3310 "Text snippet in attachment doesn't show properly when collapsed"
Hi guys,

I've came across an issue when posting a text snippet in an attachment.

#### Summary
If an attachment is too long, it is collapsed. It breaks text snippets.

#### Steps to reproduce

    $ curl -i -X POST -d 'payload={ "attachments":[{"title":"Hello World","text":```\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n```"}], "channel": "#town-square"}' http://example.com
    HTTP/1.1 200 OK
    Content-Se

[2016-06-10 18:02] #3291 closed

[2016-06-10 18:38] #3259 closed

[2016-06-10 18:55] lfbrock commented on #3278
Hi @baronleonardo, we don't officially support a 32 bit system, so I think you would need to download and compile from source to get a 32bit version. You can modify the Makefile by adding a target for linux/386 32 bits.

[2016-06-10 19:12] lfbrock commented on #3310
Thanks for the report @GMoustacky, it was very clear! I tested it out with the example attachment and it looks like it's still an issue on master.

Would anyone from the community be interested in working on a pull request for this?

[2016-06-11 13:11] it33 commented on #3308
Thanks @exolab, appreciate the report,

Anyone else from the community able to repro this issue? Also, if this repros, would anyone be open to helping with a PR to address this?

[2016-06-11 13:30] it33 commented on #3306
We need to break bundle.js into different files using Web Pack (https://webpack.github.io). Anyone from the community interested in helping with this? Could be a very significant resume builder, ("decreased first page load of the Mattermost open source project by 50%"). We would want this in the next release so ideally this would come in some time in the next week.

[2016-06-11 13:36] ArchGalileu opened #3313 "android app blackberry 10 - android runtime 4.3"
I use BlackBerry Passport

I can't have android runtime greater than 4.3.

Is it possible to have an app for us?

Best regards
ArchGalileu

[2016-06-11 20:07] denisz1 opened #3314 "Demo?"
Is there a demo site? (dummy data, etc.)

[2016-06-12 23:42] geraldvillorente commented on #3306
I would love to help but I have zero encounter with Webpack. I will explore that tool today so I can contribute on this wonderful project.

[2016-06-13 15:21] lfbrock commented on #1761
@sash85 this is fixed in the v3.1 release available June 16, sorry for the delay

[2016-06-13 17:41] esethna commented on #3310
Thanks for the great report @GMoustacky! I've created a ticket [here](https://mattermost.atlassian.net/browse/PLT-3340) where this issue can be tracked in Jira. Closing this ticket.

[2016-06-13 17:42] #3310 closed

[2016-06-13 18:35] esethna commented on #3314
@denisz1 if you have a GitLab account you can join us on [gitlab.mattermost.com](https://gitlab.mattermost.com/login). Also as a contributor please feel free join us on the [contributors team](https://pre-release.mattermost.com/contributors).

[2016-06-13 18:35] #3314 closed

[2016-06-13 21:50] #3278 closed

[2016-06-13 21:56] mattermod commented on #3313
Thanks @ArchGalileu, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2016-06-13 21:57] #3313 closed

[2016-06-14 07:11] ursweiss commented on #2246
Modifying the DB directly only at the moment as far i see.
This is for Mattermost 3.0.2 and may changes in newer releases:
[code]
To get all tables where the column ChannelId exists (replace "mattermost" with your DB name if it's different):
[code]

[2016-06-14 08:12] zdam commented on #2968
What is the process to try and progress a change in this area since this issue has been closed? I think perhaps a simple check to see how many channels a user belongs to when they initiate a 'join channel' user flow, if none (or whatever the default new user amount is), then alter the join channel behaviour to not close the dialog. I made a similar comment made in the related uservoice post: https

[2016-06-14 08:45] DeepSnowNeeL commented on #1918
Please fix this, this is so frustrating

[2016-06-14 12:43] lfbrock commented on #1918
Hi @DeepSnowNeeL, this should be fixed in v3.2 (July 16th release date)

[2016-06-14 13:04] DeepSnowNeeL commented on #1918
Awesome thanks ! Keep up the good work :)

Le mar. 14 juin 2016 14:43, lfbrock <notifications@github.com> a écrit :

[2016-06-14 16:59] lfbrock commented on #2968
Hi @zdam, just replied on the uservoice thread - would adding a step during or after the tutorial to select which channels to join be an acceptable solution for the issue for you?

[2016-06-14 17:23] jasonblais commented on #3276
[Mattermost 3.1.0 has been cut](https://github.com/mattermost/platform/releases/tag/v3.1.0), official release will be June 16th

[2016-06-14 17:23] #3276 closed

[2016-06-14 19:18] acroyear commented on #1806
I'm still having this issue on a Windows 7 Firefox instance, version 47 (just updated), on site http://p.subfireplayer.net/ - it works just fine on a mac. I've wiped the site from notifications, gotten the prompt, clicked always allow, and it continues to not work after doing so, silently.

[2016-06-14 22:50] zdam commented on #2968
Hi, also from uservoice thread:

Personally, I skipped the tutorial and therefore a new tutorial step wouldn't have solved this in my own circumstance - maybe others do use the tutorial?

Additionally, I would want a streamlined multi-channel selection whenever I join a new mattermost 'team', not just once.

[2016-06-15 13:40] l3m commented on #3014
@alerque I agree, this should be done via web interface.

[2016-06-15 14:33] it33 commented on #3306
Hi @geraldvillorente, no worries. If you're not experienced with Web Pack, we'll ask another community member to work on this, and [we have a ticket where you can track status on this](https://mattermost.atlassian.net/browse/PLT-2341). [There are many other ways you can contribute](http://docs.mattermost.com/developer/contribution-guide.html).

Thanks for reporting this, agree this is something th

[2016-06-15 14:33] #3306 closed

[2016-06-15 14:34] ginkgomzd commented on #2968
Agreed, the tutorial is not the answer here. I was looking at the UI and thinking that a magnifying glass icon next to the plus-sign to add a channel would be a good place for a Quick-Add feature as a new location for the existing use-case. It could just display a text box and suggest auto-completions. Then the current feature could be changed in the way we are discussing.

[2016-06-15 14:39] remcoros commented on #2140
After we upgrade to omnibus-gitlab 8.9 (which would include MM 3.1) next month, I plan on demo'íng mattermost in our organization.

I signed up on the translation server and started to contribute some translations.

Any active dutch translaters still working on this?

[2016-06-15 14:48] it33 commented on #2140
[terode](http://translate.mattermost.com/user/tetrode/) has [opened a channel for discussing Dutch translation](https://pre-release.mattermost.com/core/channels/i18n-dutch), but there hasn't been activity there so far.

It looks like [Dutch is making good progress](http://translate.mattermost.com/nl/), just needs a little help:

![image](https://cloud.githubusercontent.com/assets/177788/16084383/7

[2016-06-15 15:13] vincent-lhote commented on #2058
I also have the issue in Firefox ESR 45.2.0.

[2016-06-15 15:16] vincent-lhote commented on #2058
Apparently firefox on linux, or debian are not supported either.

[2016-06-15 19:52] jdiehl commented on #2246
Awesome! Thanks!

[2016-06-15 20:27] wyleung commented on #2140
@remcoros Not really, as I was away for a while. I'm actually surprised that a lot of translation was contributed already.

Should we coordinate on a integration check? E.g. certain translations are semantically okay, but don't fit in certain situations (modal windows, shorter text etc..)

[2016-06-16 02:25] thiyagaraj opened #3349 "Email address "allowed domains" check appears to be case-sensitive"
#### Summary
When a new user tries to sign up via an email invite, the "v3/users/create" API path appears to do a case-sensitive comparison of the email address's domain name entered by the inviter against the domains listed in "Restrict Creation To Domains" Team setting, resulting in a valid email address being blocked from completing sign-up.

#### Steps to reproduce
How can we reproduce the iss

[2016-06-16 08:31] tbalthazar opened #3352 "Hitting <enter> does'nt send messages anymore"
#### Summary
Hitting `<enter>` does'nt send messages anymore

#### Steps to reproduce
- checkout from master
- make run
- type a message and hit `<enter>`

#### Expected behavior
- message should be sent to the channel

#### Observed behavior
- message is not sent, `<enter>` is ignored

#### Possible fixes
- looks like [this commit](https://github.com/mattermost/platform/commit/7d9f066728c7a02c493

[2016-06-16 10:25] aperezdc opened #3353 "Stop sniffing the browser's User-Agent string"
#### Summary
The Mattermost web interface uses the User-Agent of the browser, which is [a bad idea](http://stackoverflow.com/questions/661213/why-is-browser-sniffing-not-a-recommended-practice) because browsers can (and do) anyway lie about which browser they are.

#### Steps to reproduce
Try to access a Mattermost instance using [GNOME Web](https://wiki.gnome.org/Apps/Web/) (also known as Epiphan

[2016-06-16 12:22] guyguy333 opened #3355 "DeviceId is not set when login through SSO (GitLab)"
#### Summary
When I login on my iOS device with a "normal" account (!= GitLab account), I get notifications on my iOS device and "DeviceId" field is set in the database.
However, when I login on my iOS device using my GitLab account, I don't have notifications. Looking in the database, "DeviceId" column is left empty.

#### Steps to reproduce
Mattermost 3.1.0 (same issue with Lattermost 3.0.3)
Log

[2016-06-16 12:54] remcoros commented on #2187
Has this been fixed? Looking at https://github.com/mattermost/platform/pull/2669 it looks like the pull request was closed without merging.

If not fixed, can this issue be opened again?

[2016-06-16 14:51] masterdead opened #3360 "URL of attachments in direct messages not generated independently on selected team"
#### Summary
Mattermost generate wrong URL of attachments, if you are try to show/download attachment in another team than was sent.

#### Steps to reproduce
Write a direct message with attachment to someone in your team **A**, and switch you to team **B**. After you switched to team B, you don't have option to download this attachment.

#### Expected behavior
Attachments in direct messages works

[2016-06-16 15:15] enahum commented on #3360
@masterdead Thanks for finding and reporting this Bug.

[2016-06-16 15:19] hmhealey commented on #3360
Thanks for the report. I've created a ticket to track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-3365

[2016-06-16 15:19] #3360 closed

[2016-06-16 19:52] fredrikcarno commented on #2767
I want help too :) joining localization channel asap

[2016-06-16 20:49] InterHmai opened #3364 "Enabling SendEmailNotification causes panic"
#### Summary
Enabling SendEmailNotification causes a panic and runtime error.

#### Steps to reproduce
3.1.0 (was upgrading from 3.0.3)
SendEmailNotification is enabled

#### Expected behavior
Shouldn't cause a panic.

#### Observed behavior
Error with ./platform

[2016-06-16 21:34] MikaelCluseau commented on #2675
FWIW I had the same error right after an upgrade to 3.0.

[2016-06-16 22:24] Rudloff opened #3365 "RequireEmailVerification does not work"
Hello,

On our team, we first did not have email verification enabled but I decided to enable it. However if I set `RequireEmailVerification` to true, no one can login anymore.

#### Summary
RequireEmailVerification does not work if it was disabled before.

#### Steps to reproduce
1. Set `RequireEmailVerification` to false
1. Register a new account
1. Set `RequireEmailVerification` to true
1. Logi

[2016-06-17 09:22] Perrylicious commented on #2221
Hallo,

gibt es eine Möglichkeit, den momentanen Stand der deutschen Übersetzung in eine Ubuntu-Installation (von der Webseite) einzurollen? Ich habe bis vor 3.0 immer die default en.json gesichert, selbst übersetzt und überschrieben, aber die gibt es jetzt nicht mehr im /webapp/.

[2016-06-17 12:41] it33 commented on #3352
@DavidLu1997?

[2016-06-17 13:11] DavidLu1997 commented on #3352
@it33 fixed with https://github.com/mattermost/platform/pull/3356

[2016-06-17 13:19] it33 commented on #3352
Thanks @DavidLu1997

[2016-06-17 17:03] TheNixNinja opened #3369 "Mattermost will not start up after config change"
#### Summary
Mattermost does not start up after changing max file size

#### Steps to reproduce
 1. Stop a running instance of mattermost ```sudo /etc/init.d/mattermost stop```
 2. Edit config.json change the max file size setting from 52428800 to 10485760
 3. Start the mattermost service ```sudo /etc/init.d/mattermost start```

#### Expected behavior
Expected the server to start up as it was runn

[2016-06-17 17:40] TheNixNinja commented on #3369
Was also able to find the error message in syslog
[code]

[2016-06-17 19:24] TheNixNinja commented on #3369
Dumb User Error

If anyone runs into this problem check the following
1. That Mattermost server can login to the email account provided
2. That your database server is running.

[2016-06-17 19:24] #3369 closed

[2016-06-18 00:06] esethna commented on #3349
Hi @thiyagaraj, thanks for submitting the PR on this! Agree with you're expected. Closing this issue and will follow up on the PR.

[2016-06-18 00:06] #3349 closed

[2016-06-18 00:27] esethna commented on #3355
Thanks for this report @guyguy333, closing this issue to [track in JIRA](https://mattermost.atlassian.net/browse/PLT-3386).

[2016-06-18 00:27] #3355 closed

[2016-06-18 00:30] esethna commented on #3365
Thanks for the report @Rudloff , can anyone form the community help reporoduce this issue?

[2016-06-18 00:33] esethna commented on #3364
Thanks for the report @InterHmai, can anyone from the community help reproduce this issue?

[2016-06-18 15:15] it33 commented on #2295
Hi @williamwu0220,

1. Just created a new discussion channel for [zh_TW translation](https://pre-release.mattermost.com/core/channels/i18n-chinese--zh_tw). Would welcome you to join, and bring in any other members from the zh_TW community.
2. We now have a [Mattermost Translation server](http://translate.mattermost.com/zh_TW/) where [Kent Yeh](http://translate.mattermost.com/user/kent.yeh/) has be

[2016-06-20 01:36] it33 opened #3372 "Mattermost hits Javascript error when logging into Franz"
#### Steps to reproduce

1. Download Franz at http://meetfranz.com/, version 3.0.2
2. Add Mattermost as a service and login to pre-release

![image](https://cloud.githubusercontent.com/assets/177788/16181192/292885c8-364c-11e6-8890-d51d41bcf51c.png)

#### Expected behavior
Works normally.

#### Observed behavior

- Javascript error in client

![image](https://cloud.githubusercontent.com/assets/177

[2016-06-20 12:57] enahum commented on #3352
@tbalthazar closing this as it is reported as fixed.

In case this still repro for you, please reopen this ticket.

Thanks.

[2016-06-20 12:57] #3352 closed

[2016-06-20 13:44] ppakdev opened #3376 "Two Tabs opened: Channel list gets filled up with channels/private groups from both"
#### Steps to reproduce
Have webapp opened in two tabs (this happened in Chrome and the desktop client) for two different teams. Start clicking into channels or private groups.

#### Expected behavior
Not to see channels/private groups from Team A show up in the list on the tab for the other Team B.

#### Observed behavior
Channels and private groups from Team A show up in the tab that's open for

[2016-06-21 12:43] svarnypetr commented on #2420
Pracuje se na lokalizaci?

[2016-06-21 14:54] InterHmai commented on #3364
Someone else on MM community forum with similar issue:
http://forum.mattermost.org/t/enabling-email-notifications-caues-mattermost-not-to-start/1717

More info from my end:
Running Ubuntu 14.04.4 LTS with GitLab Auth.
SendEmailNotification is enabled just to remove preview notification. I don't otherwise have any SMTP settings configured.

Originally on 3.0.3, everything was working fine.
Attempte

[2016-06-21 20:00] jasonblais commented on #3376
Thanks @ppakdev for the report,

On which operating system is the error reproducing for you? If you haven't yet, you may also try upgrading to [Mattermost v3.1](http://www.mattermost.org/mattermost-3-1-apple-watch-notification-upgrades-shortcuts-compact-view-openshift-and-more/), to see if it reproduces on the most recent release.

[2016-06-21 20:39] jasonblais commented on #3353
Thanks @aperezdc for the report,

GNOME Web isn't currently supported - here is a [list of software requirements](http://docs.mattermost.com/install/requirements.html#software-requirements), including the browser versions we support

[2016-06-21 20:48] aperezdc commented on #3353
@jasonblais: That is all nice and so, but I want to remind you again that GNOME Web uses WebKitGTK+, which provides the same feature set as Safari — if you support Safari, you are supporting GNOME Web. The fact that changing the reported `User-Agent` makes the web interface work *flawlessly* shows that sniffing its value it's not just pointless, but also a cause of frustration for users of non-Saf

[2016-06-22 01:47] npcode opened #3394 "Mattermost 3.1 crashes when I send a message in a specific channel"
#### Summary

Mattermost 3.1 crashes with a runtime error "invalid memory address or nil pointer dereference" from `github.com/mattermost/platform/api.sendNotifications`, when I send a message in a specific public channel.

#### Steps to reproduce

1. Install Mattermost 3.1.
2. Send some messages.

#### Expected behavior

Mattermost doesn't crash.

#### Observed behavior

Mattermost sometimes cras

[2016-06-22 02:27] it33 commented on #3394
Hi @npcode, we're not able to repro this.

Did you manually remove users from the database, without using the command line tool?

[2016-06-22 02:47] it33 commented on #3394
If you have removed the user manually in the database, the associated channel objects also need to be removed. This is probably what's causing the crash.

There's [a PR to prevent crashing from this database inconsistency in future](https://github.com/mattermost/platform/pull/3395), but it shouldn't be an issue unless there's a specific manual update issue.

[2016-06-22 04:21] jasonblais commented on #3353
Hi @aperezdc, while I can see where you're coming from, the intended behavior is to show an error message when an unsupported browser is used. Therefore, per the GitHub issues template for the project, this isn't a fit for a bug report.

You're welcome to nominate the proposed change [as a feature idea](http://www.mattermost.org/feature-ideas/) so it can be discussed and upvoted.

[2016-06-22 04:32] npcode commented on #3394
@it33 You're right. That was the reason of my problem. I have resolved it by removing the "ghost" members from the channels. Thanks for the quick fix!

[2016-06-22 04:39] it33 commented on #3394
Glad to hear, we've added an extra check to avoid the error in 3.2 just to be extra safe: https://github.com/mattermost/platform/pull/3395

Thanks for the report!

[2016-06-22 04:39] #3394 closed

[2016-06-22 04:52] npcode commented on #3394
Just out of curiosity: Why don't you use foriegn key to prevent this kind of violation of referential integrity?

[2016-06-22 06:06] williamwu0220 commented on #2295
Sorry for replying so late, I'm happy to invite other members to join the channel for zh_TW translation.

[2016-06-22 13:35] jasonblais commented on #3364
Thanks for the report @InterHmai! There was a bug where an invalid json field in the config file or a failed connection with `EmailSettings` may cause this error. It's fixed on `master` and will be in for the next release.

In the meantime, you may try the following steps as a workaround:

1. Stop the server
2. Remove `EmailSettings` from your config.json
3. Start the server
4. From the System Con

[2016-06-22 13:56] jasonblais commented on #2767
Hi @fredrikcarno,

1. We have a discussion channel for [Swedish translation](https://pre-release.mattermost.com/core/channels/i18n-swedish), would welcome you to join and bring in any other members who might be interested from the community
2. We have created an instance for Swedish in our [Mattermost Translation server](http://translate.mattermost.com/sv/mattermost/)

Please let me know if there

[2016-06-22 17:21] jasonblais commented on #3365
Thanks @Rudloff for the report,

On which operating system and browser is the error reproducing for you? If you haven't yet, you may also try upgrading to [Mattermost v3.1](http://www.mattermost.org/mattermost-3-1-apple-watch-notification-upgrades-shortcuts-compact-view-openshift-and-more/), to see if it reproduces on the most recent release.

[2016-06-22 17:30] Rudloff commented on #3365
I am running Mattermost 3.1.0 on Ubuntu 14.04.4.
I can reproduce with Firefox 47.0 and Chromium 50.0.2661.102 on Ubuntu 16.04.

[2016-06-22 18:02] whiskeyneon commented on #3364
Actually, the fix for me was simply changing `"SendEmailNotifications": true,` to `"SendEmailNotifications": false,` which saves you form re-entering all of the settings.

[2016-06-22 18:30] jasonblais commented on #3365
Thanks @Rudloff, very helpful. Would you be able to try re-generating the email invite salt? You can do this by clicking "Re-Generate" in **System Console** > **Security** > **Sign Up** > **Invite Salt**.

I just want to make sure there aren't any issues with the email invite salt setting.

[2016-06-22 20:06] meilon commented on #2221
Hi @Perrylicious
die umgebaute .json wird direkt in den Quelltext mit einbezogen und lässt sich im Endergebnis nicht mehr einfach austauschen.
Entweder noch 24 Tage bis zum Release von 3.2 warten (wenn es wieder mit dem 16. klappt) oder selber kompilieren.

[2016-06-23 10:48] it33 commented on #826
Hi @netroby, [it turns out GitLab isn't automatically setting up email,](https://forum.mattermost.org/t/automatic-email-configuration/1746/3?u=it33) sorry, I thought it was.

[2016-06-23 11:03] TwizzyDizzy commented on #3376
Hi folks,

same issue here on Mattermost Team Edition 3.1.0.

Cheers
Thomas

[2016-06-23 14:56] InterHmai commented on #3364
Will it still be possible to disable preview mode and also not have a valid smtp server?

In our use case, GitLab is used for auth, and we don't need any of the email features relating to Mattermost (for now anyway).

[2016-06-23 19:34] whiskeyneon commented on #3364
To just remove the nag screen, you can edit `platform/error_bar.jsx` on lines 30 and 31 from
`if (!ErrorStore.getIgnoreNotification() && global.window.mm_config.SendEmailNotifications === 'false') {
            ErrorStore.storeLastError({notification: true, message: Utils.localizeMessage('error_bar.preview_mode', 'Preview Mode: Email notifications have not been configured')});`
to
`if (!ErrorStore

[2016-06-23 22:15] jnugh commented on #3376
Same issue on 3.1 running inside the official production docker container.
Chrome & Mattermost Desktop: same this behavior.

A channel C from team A pops up in team B after switching from viewing C to another channel.
Can reproduce this consistently.

My user role is "system admin".

[2016-06-24 07:33] MetalCar opened #3406 "Twitter styling in mattermost"
#### Summary
The styling of twitter messages in mattermost have a little layoutbug.

#### Steps to reproduce
Search for a tweet on twitter and post the url in a mattermost channel.

#### Expected behavior
I think, a picture can told us more than 1000 words.
The last text line below is cutted by the border.
![twitterinmattermost](https://cloud.githubusercontent.com/assets/1355298/16331146/786c75e0-

[2016-06-24 09:42] npcode opened #3407 "Web browser freezes after sending a message which includes an ugly url in a private group"
#### Summary

Web browser freezes after sending a message which includes an ugly url in a private group.

#### Steps to reproduce

How can we reproduce the issue (what version are you using?)

Send [URL HIDDEN] in a private group.

#### Expected behavior

The message is displayed.

#### Observed behavior

Web browser freezes.

[2016-06-24 09:43] npcode commented on #3407
I think this also occurs in a public channel but I didn't try it.

[2016-06-24 12:16] #3353 closed

[2016-06-24 12:20] jasonblais commented on #3376
Thanks @TwizzyDizzy and @jnugh for the confirmation,

We indeed have a [pull request](https://github.com/mattermost/platform/pull/3329), which will fix the issue for our next release

Highly appreciate your reports!

[2016-06-24 12:20] #3376 closed

[2016-06-24 12:38] Rudloff commented on #3365
I regenrated the salt but I still get the same error.

[2016-06-24 13:45] hmhealey commented on #3407
Thanks for the report. We've filed aticket that you can track at https://mattermost.atlassian.net/browse/PLT-3430. Also, I've edited your post to hide the URL since it could be used to deny access to someone's Mattermost instance, but we've got a note of it internally

[2016-06-24 14:21] hmhealey commented on #3407
Closing to track on Jira

[2016-06-24 14:21] #3407 closed

[2016-06-24 16:10] it33 commented on #3372
Asking help from Franz: https://twitter.com/mattermosthq/status/746374801200132096

[2016-06-24 16:38] joshaidan commented on #2524
Just in case anyone is wondering, I encountered this issue with npm version 2.15.5. Upgrading to version 3.10.2 fixed it. I'm assuming it has to do with version 3+ ignoring peer dependencies.

[2016-06-24 18:10] adlk commented on #3372
hey @it33 thanks for the hint. We had an issue with a jquery dependency of Mattermost 2. We have fixed this issue and will ship an updated version of Franz soon.

[2016-06-24 20:43] it33 commented on #3372
Thanks @adlk! Highly appreciated! Great work on Franz!!

[2016-06-26 13:55] it33 commented on #3372
@adlk, also, please let us know when the next version is out so we can verify and close out this issue?

[2016-06-26 22:01] MacGuinness commented on #3365
Saw similar behavior here, might describe it a bit differently, however.

Originally installed 3.0.3, then created admin user to access the system (in demo mode, no configurations yet, so notifications still disabled.)

After system working, configured email and got it working.  Enabled email verifications required, and created a few new users to test -- all worked correctly.   Had system admin ac

[2016-06-27 01:06] npcode commented on #3407
@hmhealey Is there a safe way two delete the message which causes this freezing?

[2016-06-27 01:24] hmhealey commented on #3407
Yes you can delete it cleanly by doing the following:
1) Go to the system console > developer settings  and check Enable Testing. Note that in upcoming the 3.2 release, you'll need to Enable Developer Mode instead because enabling testing temporarily opens up some dangerous functions that all users can access.
2) Exit the system console and go to Account Settings > Advanced > Enable Formatting to

[2016-06-27 14:51] mjasion commented on #2769
Hi @lfbrock
Did you try `text` type instead ?

Postgres documentations says, that:

https://www.postgresql.org/docs/9.2/static/datatype-character.html

---
We had this problem when we tried to send some stack trace...

[2016-06-27 15:08] lfbrock commented on #3406
Thanks @MetalCar, there's a few different issues we've run into with the current link previews which is why it's still behind a preview setting. (For example, shortened twitter links seem to trigger a blank preview right now.)

To fix the issues, we're considering removing most of the current link previews, and replacing them with the functionality described in this ticket: https://mattermost.atla

[2016-06-27 15:15] lfbrock commented on #3365
Hi @MacGuinness, after trying to log in with the System Administrator account, did you not see a page asking you to verify the email with a "Resend Email" button?

<img width="433" alt="screenshot 2016-06-27 11 14 17" src="https://cloud.githubusercontent.com/assets/9354841/16384813/6cb281c4-3c58-11e6-895b-62fa2abe5a9b.png">

[2016-06-27 15:22] lfbrock commented on #3365
@Rudloff, I think I figured out what the bug is - were you trying to log in using username?

I think the verification email might be failing to send if you sign in with username. Can you test logging in with email to see if that works?

[2016-06-27 15:50] happyalu commented on #3365
I had the same issue. Logging in with email address works. (You still have to click the Resend button).

[2016-06-27 16:20] Rudloff commented on #3365
@lfbrock You're right, it works.

[2016-06-27 17:23] MacGuinness commented on #3365
Correct, only tried logging in with username... failed to send notify.

Frankly, didn't think to try email login when it's indicating email not
verified... :-)

[2016-06-27 17:28] lfbrock commented on #3365
Alright thanks everyone :) Will [track this bug in Jira](https://mattermost.atlassian.net/browse/PLT-3454).

If anyone from the community would like to contribute a fix for it, please feel free as well.

[2016-06-27 17:46] coreyhulen commented on #2769
That may be true for Postgres, but for other database types `Text` vs `Varchar` may have performance differences.

[2016-06-27 18:51] diegosouza opened #3426 "Unable to register/login (Omnibus package)"
#### Summary
Mattermost login/registration fails. Direct commands to `mattermost` binary fail too.

#### Steps to reproduce
Prior to Mattermost 2.x (together with GitLab Omnibus 7.x) I activated the url to access my installation but never used it. After upgrading to GitLab 8.9 I tried to use Mattermost 3, but I had some issues.

#### Observed behavior

I've started with database problems like:

Af

[2016-06-27 19:28] johnjamesjacoby commented on #1899
@marchoh is spot on here; the `http` vs. `https` issue appears to be a problem for us, too, but I think it's happening on the GitLab side vs. the Mattermost side.

In the screenshot below, note that the GitLab button provided by Mattermost is using the correct `https` URL:
<img width="740" alt="screen shot 2016-06-27 at 1 40 38 pm" src="https://cloud.githubusercontent.com/assets/88951/16391698/df0

[2016-06-27 19:42] lfbrock commented on #3364
Going to close this issue since it seems solved - @InterHmai, please also feel free to [open a feature request](http://www.mattermost.org/feature-ideas/) on removing the nag screen when preview mode is on. It would be interesting to see if other people are also using similar configurations and would like to have email turned off without the preview mode notice showing up.

[2016-06-27 19:42] #3364 closed

[2016-06-27 19:44] johnjamesjacoby commented on #1899
Looks like `wildcard_redirect_uri` support was removed:

http://stackoverflow.com/questions/25775543/wildcard-support-for-doorkeeper-redirect-uris

[2016-06-27 19:44] akhmerov opened #3428 "SVG attachments are not rendered"
#### Summary
attaching an SVG file does not trigger the render of the image

#### Steps to reproduce
Attach an SVG file.

#### Expected behavior
SVG is supported by all modern browsers, so the image should be immediately rendered similar to what happens in attaching JPG or PNG.

#### Observed behavior
The render does not happen.

[2016-06-28 08:52] raphael0202 commented on #2439
Hello everyone. I have the same problem, with a fresh install using docker (mattermost server 3.1.0), and the last version of mattermost app (v3.0.6) and I'm using a SSL certificate from let's encrypt.

[2016-06-28 12:36] orf opened #3431 "Page freeze when viewing private messages from a single contact"
#### Summary
After upgrading Gitlab, when I attempt to send a private message to my boss the page becomes unresponsive upon clicking his name. Firefox says that a script is not responding and asks me if I want to debug it, while Chrome offers to kill the tab for me.

#### Steps to reproduce
I'm not sure, it doesn't happen with any other user so I think it may be something to do with the messages t

[2016-06-28 13:22] lfbrock commented on #2439
Hi @raphael0202, can you check the troubleshooting forums to see if any related posts there help? (For example, maybe [this one](https://forum.mattermost.org/t/android-app-connect-to-mattermost-team-link/1417/13))

If there's nothing there, you can start a new thread on the issue.

[2016-06-28 13:27] lfbrock commented on #3431
Hi @orf, can you confirm what version of Mattermost you are on? (You should be able to go to the three dot main menu on a team > About Mattermost to see what's there).

[2016-06-28 13:31] lfbrock commented on #3428
Hi @akhmerov, SVG previews are not supported at this time - you can [open a feature request](http://www.mattermost.org/feature-ideas/) on the idea, or if anyone from the community is interested in working on this feature we can consider opening an accepting pull requests ticket on it.

[2016-06-28 13:34] mattermod commented on #3426
Thanks @diegosouza for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your i

[2016-06-28 13:35] #3365 closed

[2016-06-28 13:51] it33 commented on #3308
Hi @exolab we have a ticket tracking the fix for this now, to update to latest AWS drivers: https://mattermost.atlassian.net/browse/PLT-2164

Closing so we can track there.

[2016-06-28 13:51] #3308 closed

[2016-06-28 17:52] diegosouza commented on #3426
Thanks you for the reply.

I've adopted a simpler approch: drop database + recreation through `gitlab-ctl reconfigure`.
The installation seems to be OK, so I'm closing the issue.

[2016-06-28 17:52] #3426 closed

[2016-06-28 23:30] akhmerov commented on #3428
Understood; here's the feature request: https://mattermost.uservoice.com/forums/306457-general/suggestions/15018105-add-svg-attachment-rendering

[2016-06-28 23:30] #3428 closed

[2016-06-29 04:40] hvnsweeting opened #3447 "mattermost consumes more memory day by day"
#### Summary
memleak in mattermost

#### Steps to reproduce
Version: 3.0.0 (3.0.3)
But we suffer this issue since old version (2.1.0)

[code]

#### Expected behavior
memory is stable

#### Observed behavior
platform consumes more and more memory until it's killed by kernel (OOM)

![mm_mem](https://cloud.githubusercontent.com/assets/1000665/16440653/2deec168-3dee-11e6-9201-154dec864e33.png)

Is thi

[2016-06-29 12:15] aperezdc commented on #3353
Submitted: https://mattermost.uservoice.com/forums/306457-general/suggestions/15011652-stop-sniffing-the-user-agent-use-feature-detectio

[2016-06-29 12:40] orf commented on #3431
Hey, it is version `3.1.0 3.1.0`

[2016-06-29 13:15] lfbrock commented on #3431
@orf, a few more questions:
1. Is there any more details in the Firefox error message?
2. If you have the javascript console open when you click into the channel does it show any errors?
3. Do the Mattermost logs show any errors?
4. Is there anything you know of that's different about that channel compared to others?

[2016-06-29 16:55] orf commented on #3431
Nope, there is nothing in the console at all. The Firefox message just says that the "bundle.js" script is not responding.

There is nothing different about that channel, nothing that I can remember. It's just normal messages with my boss. All I can tell is that it reliably and completely crashes Chrome and Firefox. The tab (and dev tools) become completely unresponsive, to the point where you can

[2016-06-29 17:31] #3406 closed

[2016-06-29 17:37] lfbrock commented on #3431
@orf - Can you try turning on "Enable Testing" in the System Console, and then go to Account Settings > Advanced > Enable Post Formatting and switch it to "Off"?

Then see if you can access the channel? If that works, then see if there were any posts with formatting in them that could have caused the issue.

[2016-06-29 18:29] orf commented on #3431
Sure, I can try tomorrow and let you know. If it's related to post formatting then I think I might know what it is, I did accidentally send a message to him that had a code snippet that was a single line and incredibly long.

[2016-06-29 18:31] lfbrock commented on #3447
Hi @hvnsweeting, I suspect it's an issue with your set up as we haven't seen any other similar reports. Can you try posting on the [troubleshooting forums](https://forum.mattermost.org/) with more information about your set up?

[2016-06-29 23:06] Cyrillius commented on #1185
I have installed mattermost on an OVH VPS with debian jessie. Here is my suggestion:

**Setup Database # 10**

Indicate that the path of the postgres can change wih the version

**Set up Mattermost Server # 5**

Indicate after this step that the user need to disconnect and reconnect to apply the change.

**Set up NGINX with SSL # 1**

https://github.com/letsencrypt/letsencrypt doesn't exist anymor

[2016-06-30 09:07] orf commented on #3431
Disabling syntax highlighting fixes the issue. We tracked down the offending message to a single URL that was pasted, which had strange characters in the URL. It was a link to an internal statistics page, so the query being used was in the URL (and it contained lots of punctiation). Unfrtounately the message was deleted and we can't seem to recover it.

[2016-06-30 10:12] ldidry opened #3454 "Team admins can't give "team admin" privilege to members"
#### Summary
Since migration to version 3.1.0, team admins with no "system admin" privilege can't give "team admin" privilege to members of their teams

#### Steps to reproduce
Version: 3.1.0
Installed with Gitlab Omnibus installation
Personally tested with Firefox 48 in private mode, users reported the bug with Firefox and Chromium.

#### Expected behavior
Team admins should be able to give "team

[2016-06-30 10:49] shenyangECQ opened #3455 "Andoird didn't cache bundle.js"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Andoird didn't cache bundle.js

#### Steps to reproduce
1. launch Mattermost Andro

[2016-06-30 11:45] kai23 commented on #2469
I have the same issue with the 3.1.0.

`POST` to `https://xxxxxxxx/api/v1/hooks/rckc886p57f6z8ndrpuw95geoe/new_event` give me a 200, but with this error :

[code]

And the logs give me that :

`[2016/06/30 13:41:28 CEST] [EROR] /api/v1/hooks/rckc886p57f6z8ndrpuw95geoe/new_event: code=404 ip=xx.xx.xx.xx`

`POST` to `https://xxxxxxxx/hooks/rckc886p57f6z8ndrpuw95geoe/new_eventt` give me a 404 and
`[2

[2016-06-30 12:49] Endemoniada opened #3456 "If the last member of a group is not an admin, he/she is not allowed to leave the group"
#### Summary
I remained as the last user in a group, but because I am not an admin in the team, I was not allowed to leave the group or delete it.

#### Steps to reproduce
Make a private group
Invite users
Have all admins and other users leave
Try to leave or delete the group

#### Expected behavior
A user should be able to leave a group even when they're the last user and not an admin. Logically

[2016-06-30 13:36] #3447 closed

[2016-06-30 13:39] lfbrock commented on #3431
Alright thank you @orf! We were able to reproduce the issue and are working on a fix for it.

We have a ticket tracking the issue, but it's marked as internal because it contains some internal links as well.

[2016-06-30 13:39] #3431 closed

[2016-06-30 16:17] jabis opened #3460 "Keyboard shortcut (ctrl+k) triggers javascript error after one character"
#### Summary
Some keyboard shortcuts, mainly ctrl+k, throw JS errors after upgrade from 3.0.2 to 3.1.0

#### Steps to reproduce
Upgrade from release 3.0.2 to 3.1.0 everything goes smooth.
Open up MM, set up debug logging and developer tools to true,
try the new `ctrl+k` shortcut, enter first letter - no prob, enter second letter, receive javascript error as below:
[code]

#### Expected behavior
Ch

[2016-06-30 17:03] lfbrock commented on #3455
Hi @shenyangECQ, we have a ticket here that will involve setting up the cacheing properly, so this issue should be fixed once it is completed.

https://mattermost.atlassian.net/browse/PLT-2396

[2016-06-30 17:03] #3455 closed

[2016-06-30 21:03] matm commented on #2559
Looks like that issue is related to the selected graphical theme. I forgot to mention I was using a custom one (imported from Slack). I changed my default theme today and the code block is now rendering perfectly in Firefox.

So I think that issue had to do more with a custom color theme value that rendered properly before 2.1.0. That's probably why no other FF user seemed to be hitting it.

Anywa

[2016-07-02 00:14] nimd4 commented on #1806
I'm still having this issue on a Windows 7 Firefox instance, version 47 (just updated), on site http://p.subfireplayer.net/ -

That whole site looks b0rked, opening http://p.subfireplayer.net/ throws me  into http://p.subfireplayer.net/#artists & the web page is, like, blank; screenshots@

![screenshot_2016-07-02_02-11-30](https://cloud.githubusercontent.com/assets/4793577/16537019/8e5fbe0e-3ffa-1

[2016-07-02 01:28] acroyear commented on #1806
The notifications in question only happens when you actually start playing something.

The site there in your screenshot is in "artist" mode. It starts with just the letters on the left. click a letter and the list of artists that start with that letter appear. click an artist from there and you'll get the albums, with the ability to "play all", shuffle, top songs, etc.

Once that's clicked, you s

[2016-07-04 09:12] niwenhao opened #3467 "Post text cause javascript failure."
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Post a message like next will frozen the page.

#### Steps to reproduce
Version: M

[2016-07-04 11:28] jkuchar commented on #2420
Ještě nikdo nezačal, pokud vím.

[2016-07-04 14:15] hmhealey commented on #3467
Thanks for the report, @niwenhao. I've edited your post to hide the URL since it could be potentially used for a denial of service attack, and added it to [the Jira ticket that we have on the issue](https://mattermost.atlassian.net/browse/PLT-3430). There's a fix going in for it soon that'll be in the 3.2 release of Mattermost in a couple weeks.

Instead of having to mess about in the database dir

[2016-07-04 14:15] #3467 closed

[2016-07-04 18:24] crspeller commented on #2469
@kai23 @Kemyke

We have bumped the API version with 3.0. The api is now `v3`.

[2016-07-05 01:39] niwenhao commented on #3467
Thanks, It is helpful.

[2016-07-05 01:55] esethna commented on #3454
Thanks for the report! Closing this issue to [track in JIRA](https://mattermost.atlassian.net/browse/PLT-3502)

[2016-07-05 01:55] #3454 closed

[2016-07-05 01:57] esethna commented on #3456
Thanks for the report! This issue will be fixed by [this PR](https://github.com/mattermost/platform/pull/3453) submitted for v3.2, expected to release July 16, 2016.

[2016-07-05 01:58] #3456 closed

[2016-07-05 02:01] esethna commented on #3460
Thanks for the report @jabis! @DavidLu1997 from our team is helping look into this and will report back.

[2016-07-05 09:15] jakespencer opened #3482 "Push notifications sent to mobile even when desktop app is open"
If you enable mobile notifications and then have a for example direct message conversation with another user on the web/desktop app your mobile will get flooded with notifications.

It would be great to have a setup similar to Slack for example where they only send you a push notification if you have not read the message within n minutes. An alternative easier solution would be if you are active o

[2016-07-05 16:27] esethna commented on #3460
Hey @jabis, our team is not able to reproduce your issue, but we have a [ticket](https://mattermost.atlassian.net/browse/PLT-3380) to investigate the cause. Closing this issue to track in JIRA, but I'd also like to direct you to the [troubleshooting forum](https://forum.mattermost.org/c/general/trouble-shoot) where members of the community might be able to help you with your specific configuration

[2016-07-05 16:27] #3460 closed

[2016-07-05 16:30] esethna commented on #3482
Thanks @jakespencer. Agreed. We have a [ticket](https://mattermost.atlassian.net/browse/PLT-3461) to trigger push notifications dependent on your online status. Closing this issue to track in JIRA.

[2016-07-05 16:30] #3482 closed

[2016-07-05 16:44] jabis commented on #3460
I'll contribute a little more info, the same issue happens with a few more users, mainly the users which were initial team admin users.

Later accounts are mainly gitlab-linked ones, and do not seem to suffer from this behaviour at all. Reading the ticket, it seemed like quite the same behaviour, though we do not have LDAP users at all, and everything is quite default - seems a problem with only c

[2016-07-06 12:53] TheFamousPG opened #3502 "semicolon bug"
#### Summary
I can't send semicolon(;) character.
Error return : Unable to parse incoming data.

#### Steps to reproduce
`curl -i -X POST -d 'payload={"text":";"}' https://chat.my_domain/hooks/my_hook_id`

[2016-07-07 12:05] acpower7 commented on #2506
I have the same issue.

I'm getting I am getting the error:

{"id":"api.user.login.blank_pwd.app_error","message":"**Password field must not be blank**","detailed_error":"","request_id":"i5kuq1rh6fg6fmdojte3n4k7oe","status_code":400,"is_oauth":false}

When following the instructions here: http://docs.mattermost.com/developer/web-service.html

[2016-07-07 15:36] yuya-oc opened #3522 "[Solved] Desktop app can't use multi-select in file upload dialog"
#### Summary
Desktop app can't use multi-select in file upload dialog.

#### Steps to reproduce
Mattermost server 3.1.0
Mattermost desktop 1.2.1 on Windows 10

1. Click the button to attach files.
2. File select dialog opens.
3. Try to select multiple files in the dialog.

#### Expected behavior
Desktop app can select multiple files in the dialog.

#### Observed behavior
`multiple` attribute is mi

[2016-07-07 20:02] esethna opened #3526 "Mattermost v3.2.0-rc regressions"
This is a meta issue for discussing:

 - Potential regressions in the latest Mattermost release candidate, available from: `http://releases.mattermost.com/3.2.0-rc2/mattermost-team-3.2.0-rc2-linux-amd64.tar.gz`
 - Potential patches to be applied prior to final release.

Please link to issues you believe may warrant a patch (please do not post issue here).

It is the responsibility of the release m

[2016-07-08 01:53] starlightknight opened #3527 "[Android] Back Button + Menu Open Backs Content as Well as Closing Menu"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
I use a phone with a hardware back button. When the menu is open, pressing the bac

[2016-07-08 04:07] prakashprabhakar opened #3528 "Settings screen not appearing"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Settings screen not appearing

#### Steps to reproduce
I am using mattermost deskt

[2016-07-08 04:22] prakashprabhakar opened #3529 "Private conversation update is shown in all channels"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Private conversation update is shown in all channels

#### Steps to reproduce
Ubun

[2016-07-08 12:55] Kilmar opened #3531 "Not responding javascript after placing non-standart text input"
#### Summary
Broken javascript bundle in parsing specific text input

#### Steps to reproduce
Using last stable 3.1.0 version

On any machine (tested win, linux, mac) and in any browser (tested all new version ff, chrome, safari, edge)
1. Place the url (showed at the end of this sentence) to any text message input(direct message, channel message, etc.).  URL: (URL Hidden)
#### Expected behavior
Ex

[2016-07-08 13:03] hmhealey commented on #3531
Thanks for the report @Kilmar. I've edited the URL out of your post since it could be used for a denial of service attack, but I've added it to an internal ticket. This has already been fixed on master and will be shipping in the 3.2 release on July 16th.

If it happens again before you update to 3.2, there's instructions [here](https://github.com/mattermost/platform/issues/3407#issuecomment-22863

[2016-07-08 13:03] #3531 closed

[2016-07-09 14:23] eadmund commented on #1185
The 'Finish Mattermost Server setup' section states, 'Change Local Directory Location from `./data/` to `/mattermost/data`'; the directory which was actually created is `/opt/mattermost/data`.

[2016-07-10 14:19] Rudloff opened #3541 "Wrong link to manifest.json in <head>"
#### Summary
The URL to manifest.json in `<head>` is wrong.

#### Steps to reproduce
* Look at Mattermost HTML code:
[code]
* Try to load https://team.example.com/static/config/manifest.json.

#### Expected behavior
The manifest should load.

#### Observed behavior

#### Possible fixes
The correct file seems to be here: https://github.com/mattermost/platform/blob/master/webapp/config/manifest.json

[2016-07-11 06:40] bochecha opened #3542 "Does not work with GNOME Web"
I'm using framateam.org which is running Mattermost 3.1.0

If I try running it in GNOME Web (aka Epiphany), I get a redirection error (Too many redirects)

Looking at the URL, I can see that even though I tried opening https://framateam.org , I was redirected to https://framateam.org/error?title=Framateam+needs+your+help%3A&message=Your+current+browser+is+not+supported%2C+please+upgrade+to+one+of+

[2016-07-11 07:13] dkunzler opened #3543 "Umlauts ignored at the end of tags"
#### Summary
If you use a german umlaut at the end of a hashtag (#testü) the umlaut will get ignored for the "linkification".

#### Steps to reproduce
Write a tag in a conversation that ends with an umlaut (ä,ö,ü) or ß. Like #testü.

#### Expected behavior
The complete tag is a link to search for messages with the same tag.

#### Observed behavior
Link is only done for the characters before the um

[2016-07-11 08:50] dirvo commented on #3543
This might be related to https://github.com/mattermost/platform/pull/1710

Related issue: There is also a minimum length of 3 for hashtags. For example #UX is not recognized as a hash tag. I'd expect that there is no lower limit on the length of hashtags and that even a single-character hashtag works.

[2016-07-11 12:34] jasonblais commented on #3502
Thanks @TheFamousPG for the report!

May I ask which operating system are you using? And which version of the Mattermost server are you running (from Main Menu > About Mattermost)?

[2016-07-11 12:37] TheFamousPG commented on #3502
Of course ;) Mattermost is on ubuntu 14.04
https://i.gyazo.com/3e9838f71576b2885714176384169acd.png

[2016-07-11 13:36] mcatanzaro commented on #3542
It works if you replace Version/8.0 with Version/9.0 in the user agent. The problem is that function explicitly blacklists Safari 8, but WebKitGTK+ pretends to be Safari 8 for compatibility with other sites. This is the first time I've seen a Safari UA blacklisted before. We should change this to Version/9.0 in WebKit trunk, since trunk is obviously much more similar to Safari 9 than to Safari 8,

[2016-07-11 14:47] ctron opened #3545 "Browser hangs with 100% CPU load"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Switching to a specific channel causes browsers to hang on 100% CPU load

#### Ste

[2016-07-11 14:48] ctron commented on #3545
Restarting the mattermost server did not help.

[2016-07-11 14:52] hmhealey commented on #3545
Hi @ctron,

There's an issue in Mattermost 3.1 that causes certain invalid URLs to cause the Markdown parser to enter an infinite loop. You need a system admin to delete the offending post using the steps outlined [here](https://github.com/mattermost/platform/issues/3407#issuecomment-228636464). Also, if you wouldn't mind posting the bad link here so that I can confirm it's fixed in our next versi

[2016-07-11 14:59] ctron commented on #3545
Unfortunately this fix seems not to work. Once I enabled the Developer Mode, I don't see an option to disable formatting.

[2016-07-11 15:02] hmhealey commented on #3545
Oh sorry about that. I edited that post a few times to reflect some differences to those steps for our 3.2 version which made the first step incorrect. You actually need to enable Testing to get access to the ability to disable formatting. I've updated it so that it makes sense again.

[2016-07-11 15:14] ctron commented on #3545
I just checked the channel, can you give me a hint on what to delete? I got quite a few links in there...

[2016-07-11 15:31] ctron commented on #3545
The issue was actually the channel header:

[code]

[2016-07-11 16:05] hmhealey commented on #3545
Awesome, thanks for the report. I've confirmed that the issue is fixed on 3.2 so it shouldn't happen again.

[2016-07-11 16:05] #3545 closed

[2016-07-11 22:52] jasonblais commented on #3543
Thanks @dkunzler for the report!

I have opened [a ticket in Jira](https://mattermost.atlassian.net/browse/PLT-3621) to track the issue. If someone from the community is interested in submitting a fix for this, please let us know.

[2016-07-11 22:52] #3543 closed

[2016-07-11 23:01] jasonblais commented on #3528
Thanks @prakashprabhakar for the report,

I have cross-posted your issue to the [\desktop](https://github.com/mattermost/desktop/issues/196) repository for feedback from our Desktop App community.

I will close this issue, so we can continue discussing it in [the desktop repo](https://github.com/mattermost/desktop/issues/196) instead.

[2016-07-11 23:01] #3528 closed

[2016-07-11 23:18] esethna commented on #3526
RC3 is now cut with the above approved fixes

[2016-07-12 03:52] jasonblais commented on #3502
Thanks @TheFamousPG!

Anyone else from the community able to repro this issue? Also, if it does, would anyone be open to helping with a PR to address this?

[2016-07-12 17:06] phrix32 opened #3561 "Direct messages: usernames not shown due to different teams"
#### Summary
In direct messages the username of the other one is not shown in the sidebar if he is not in your currently selected team.

#### Steps to reproduce
1. Create 2 users (User A and User B)
2. Create 2 teams (Team A and Team B)
3. User A joins Team A and B
4. User B joins **only** Team A
5. User A selects Team A (where both users are part of)
6. User A direct messages User B
7. User A swi

[2016-07-12 17:15] lindy65 commented on #3527
@starlightknight Thank you for your issue report.  We'll be tracking it with this ticket: https://mattermost.atlassian.net/browse/PLT-3632

[2016-07-12 17:15] #3527 closed

[2016-07-12 17:58] jasonblais commented on #3529
Thanks @prakashprabhakar for the feedback,

I'm not sure if opening a separate tab would be the best approach: for instance, which team should be opened in that case? And should the user appear in the direct message list of other teams?

On the other hand, if a mention indicator only appears for users that you share a team with, what would happen with users who don't share a team with you?

It's

[2016-07-12 18:00] jasonblais commented on #3561
Thanks @phrix32 for the report! We have an [open Jira ticket to track the issue](https://mattermost.atlassian.net/browse/PLT-3547), if you're interested in submitting a fix, please let us know.

[2016-07-12 18:16] jasonblais commented on #3543
We also have another ticket to investigate this issue in general https://mattermost.atlassian.net/browse/PLT-1539

[2016-07-12 21:24] jasonblais commented on #3561
@phrix32 Pull request has been submitted to `master`, which should help fix the issue: #3567

Thanks again for the report!

[2016-07-12 21:24] #3561 closed

[2016-07-12 21:30] jasonblais commented on #3542
Thanks @bochecha for the report, and @mcatanzaro for the swift reply,

To answer your questions, @bochecha:

1) we have a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-959) to improve our 'unsupported browser page'. The plan is to add a link to download compatible browser versions with Mattermost.

2) if you'd like GNOME Web added to the list of supported browsers, can I have your help

[2016-07-12 21:55] esethna commented on #3526
RC5 is now cut with the above approved fixes

[2016-07-12 23:17] bochecha commented on #3542
I don't think I want to have GNOME Web added to the list of supported browsers, if that means adding it to a whitelist based on user-agent.

As @mcatanzaro (and in case that wasn't clear, he is an upstream WebKit developer) explained, you should test feature availability, not the user agent.

Otherwise, you'll always have to add new, obscure browsers to that UA-based whitelist as they appear and i

[2016-07-13 00:50] mcatanzaro commented on #3353
Hey @aperezdc, if this is for an internal site you're testing, you must of course patch the mattermost deployment, but if it's for a public site, you can submit a patch to add a quirk in Source/WebCore/platform/gtk/UserAgentGtk.cpp. Our policy is to use user agent quirks whenever required to make sites work. I already have a request to do this for framateam.org.

[2016-07-13 00:53] mcatanzaro commented on #3353
(Actually I forgot I had already noted in #3542, we just need to bump our Safari version in the UA up to 9, so we don't need a quirk for this at all.)

[2016-07-13 11:21] Rudloff opened #3572 "Attachments don't work with outgoing webhooks"
#### Summary
Mattermost 3.1.0 ignores the attachments returned by my webhook.

#### Steps to reproduce
Create an outgoing webhook that returns an attachment payload.
Example:
[code]
Post a message that triggers the hook.

#### Expected behavior
Mattermost displays the attachment.

#### Observed behavior
Nothing is displayed.

I can confirm the hook itself is working because if I return simple text

[2016-07-13 12:14] Rudloff opened #3574 "Trigger outgoing webhook on URLs"
#### Summary
I can't add a rule that triggers an outgoing webhook on URLs.

#### Steps to reproduce
I have an outgoing webhook that needs to be triggered when an user posts only an URL.
I tried to add `http` as trigger.

#### Expected behavior
The hook is triggered when the post starts with `http`.

#### Observed behavior
The hook is not triggered.

#### Possible fixes
A workaround could be to hav

[2016-07-13 13:31] helphi opened #3575 "image paste support"
i can paste image with <ctrl + v> in slack, can mattermost support?

[2016-07-13 14:09] jasonblais commented on #3541
Thanks @Rudloff for the report! Nice find,

Would anyone be open to submitting a pull request to fix the issue? The change would be replacing the link [here](https://github.com/mattermost/platform/blob/9e07f4b021b28a3e301359a48cf950298f3e552e/webapp/root.html#L32) with [this page](https://github.com/mattermost/platform/blob/master/webapp/config/manifest.json) instead.

An excellent opportunity for

[2016-07-13 14:12] Rudloff commented on #3541
I can submit a pull request.
It could be an opportunity to add some missing fields (e.g. `display`) to the manifest too.

[2016-07-13 23:39] johnjamesjacoby commented on #3502
Unable to duplicate:

<img width="1205" alt="screen shot 2016-07-13 at 18 38 03" src="https://cloud.githubusercontent.com/assets/88951/16823341/0c88bd4e-4929-11e6-850e-4cd3650bca5d.png">
<img width="262" alt="screen shot 2016-07-13 at 18 38 36" src="https://cloud.githubusercontent.com/assets/88951/16823342/0c986b90-4929-11e6-8578-f9ef322cc919.png">

[2016-07-14 00:15] cgsmith commented on #3575
@helphi this is supported

[2016-07-14 01:25] helphi commented on #3575
i use the docker image, does it contain this feature?

[2016-07-14 02:52] cgsmith commented on #3575
yes

[2016-07-14 03:07] #3575 closed

[2016-07-14 12:00] prakashprabhakar opened #3588 "team admin can make system admin a member"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
team admin can make system admin a member

#### Steps to reproduce
1) Login to mat

[2016-07-14 12:02] prakashprabhakar commented on #3529
@jasonblais Thanks for the update.

I changed the strategy for now. I just have one URL and teams under this space.

I will reply to your other queries shortly.

[2016-07-14 12:16] prakashprabhakar opened #3589 "[Important] Notification comes as a streak of line when having direct conversation"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Notification comes as a streak of line when having direct conversation

#### Steps

[2016-07-14 13:14] bspinner opened #3590 "Delay email notification"
Currently email notifications are sent instantly on every new relevant message. That's really annoying if you're talking to someone via direct messages.

They should be delayed and send when relevant messages aren't read after x seconds/minutes only (maybe you should take into account whether a user is connected or not).

[2016-07-14 17:29] it33 commented on #3372
@adlk just circling back, any update on fixing the issue?

We're having to ask people to stop using Franz because it's flooding our error logs with messages like the below.

[code]

[2016-07-14 17:38] mattermod commented on #3502
Thanks @TheFamousPG for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your

[2016-07-14 19:48] jasonblais commented on #3542
Thanks @bochecha and sorry for my misunderstanding.

If you'd like to add more feedback in the [Feature Idea forum post](https://mattermost.uservoice.com/forums/306457-general/suggestions/15011652-stop-sniffing-the-user-agent-use-feature-detectio), you're welcome to do so. In the meantime, propose closing this issue and tracking the feature idea for now instead

[2016-07-14 20:47] esethna commented on #3526
Closing this ticket as the final build was cut off RC5.

[2016-07-14 20:47] #3526 closed

[2016-07-15 02:26] jasonblais commented on #3588
Thanks @prakashprabhakar for the report!

We have [recently submitted a pull request](https://github.com/mattermost/platform/pull/3550) and this issue will be fixed in v3.3

[2016-07-15 02:26] #3588 closed

[2016-07-15 02:28] jasonblais commented on #3590
Thanks @bspinner for the report!

We have an existing [feature idea forum post](https://mattermost.uservoice.com/forums/306457-general/suggestions/12903204-allow-email-batching-limiting) on this topic.

If you'd like, you may add your feedback to the forum post and upvote the feature idea.

You get 10 votes in the feature idea forum, and each one influences the future of the project.

[2016-07-15 03:36] jasonblais commented on #3589
Thanks @prakashprabhakar for the report,

It sounds like this is not in fact a bug, but rather a feature request for Mattermost Desktop App (Ubuntu - 64 Bit) to add a notification on the top right corner of the screen.

May I have your help nominating your suggestion in our [Feature Idea forum](http://www.mattermost.org/feature-ideas/) so it can be discussed and upvoted?

You get 10 votes in the f

[2016-07-15 05:00] prakashprabhakar commented on #3589
@jasonblais OK I will be more clear. Let's say Person A is sending a direct message to Person B (One  to one chat) and Person B is on the Ubuntu app, then he can just see a line sliding out from the right hand side of the screen.

But if the same Person B is on the web app and not on the Ubuntu app, then he receives a clear notification on the the right hand side of the screen.

Also what works pe

[2016-07-15 13:48] lfbrock commented on #3572
Hi @Rudloff,

Are you meaning that the message gets posted successfully but nothing is displayed?

We fixed an issue for v3.2 where [message attachments were following the /collapse and /expand setting](https://mattermost.atlassian.net/browse/PLT-3212), is that what you're seeing?

Or if the message isn't being posted at all with the message attachments, can you confirm the message attachment JSON

[2016-07-15 14:14] Rudloff commented on #3572
The message isn't posted at all. I confirm the JSON is valid.

This works:
[code]

This does not work:
[code]

[2016-07-15 14:40] lfbrock commented on #3572
Hi @Rudloff, sorry about that - it looks like message attachments are only working for incoming webhooks currently.

I created a new ticket here for the issue: https://mattermost.atlassian.net/browse/PLT-3658

And also updated the [outgoing webhooks](http://docs.mattermost.com/developer/webhooks-outgoing.html) documentation to add it as a known issue.

Is there anyone from the community who would

[2016-07-15 18:12] dmullenaux commented on #3114
Can we reopen this issue? We are having the same problem.

Refreshing the browser or the desktop client does clear them out, but they start to stack up again as you message back and forth.

root@mattermost:/opt/mattermost/bin
# ./platform --version
Version: 3.1.0
Build Number: 3.1.0
Build Date: Mon Jun 13 19:08:00 UTC 2016
Build Hash: 974238231b9cdbd39a825ec8e9299fbb0b51f6b8
Build Enterprise Ready

[2016-07-17 06:30] fjarlq opened #3610 "distracting flickering in web UI messages pane when posting new messages"
#### Summary
When a user is entering new messages into the web UI, the messages pane flickers almost every time that a new message is posted into the messages pane, as the profile picture, username, and message timestamp are displayed for a split-second and then undisplayed.

#### Steps to reproduce
1. Connect to a Mattermost 3.2.0 server using Chrome 51.0.2704.106 on OS X 10.11.5.
2. Join a chann

[2016-07-17 18:06] jasonblais commented on #3502
Hey @TheFamousPG, thanks again for your report, and big thanks @johnjamesjacoby for attempting to duplicate the error.

If you're still experiencing this issue, you're welcome to post this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/) for a faster response.

If you do, please include complete steps to reproduce the issue so a community member can follow them as they're tr

[2016-07-17 18:06] #3502 closed

[2016-07-17 18:09] jasonblais commented on #3542
Thanks again @bochecha,

closing the issue for now, but I encourage you to participate in [the Feature Idea forum post](https://mattermost.uservoice.com/forums/306457-general/suggestions/15011652-stop-sniffing-the-user-agent-use-feature-detectio) for further discussion.

[2016-07-17 18:09] #3542 closed

[2016-07-17 18:18] jasonblais commented on #3590
Thanks @bspinner again for the report,

Closing the issue for now - I encourage you to participate in the [feature idea forum](https://mattermost.uservoice.com/forums/306457-general/suggestions/12903204-allow-email-batching-limiting) discussion and upvoting the feature if you'd like.

[2016-07-17 18:18] #3590 closed

[2016-07-17 18:22] jasonblais commented on #3574
Thanks @Rudloff for the report! Sorry for the delay in responding here,

I believe there needs to be a space after the trigger word `http` -- can you try if posts starting with the word `http` trigger correctly?

Also, you can enable outgoing webhooks on all public channels by leaving the channel field blank. [Our documentation](http://docs.mattermost.com/developer/webhooks-outgoing.html#set-up-an

[2016-07-17 18:28] TwizzyDizzy commented on #2466
On a late note:

funny, I was not even talking about that. I'm thinking of rolling out mattermost in a big company and therefore need some king of loadbalancing.

Interesting. Yet you will provide horizontal scaling as part of the [E20 edition of mattermost](https://about.mattermost.com/pricing/).

But don't get me wrong here: I don't judge you for doing that. I am grateful for mattermost Team Edi

[2016-07-17 18:29] Rudloff commented on #3574
Yes, it works if I post "http foo" but that won't cover my use case with URLs.

It seems I can't create an outgoing webhook on all public channels with no keyword, the interface forces me to choose either a keyword or a channel.

[2016-07-17 19:12] jasonblais commented on #3589
Thanks again @prakashprabhakar!

Got it, so this only happens on messages posted in the direct message channels.

I'll check with our desktop community on this. Thanks again for filing the issue

[2016-07-17 19:32] jasonblais commented on #3574
Thanks @Rudloff,

At the moment, the word needs to exactly match the 'trigger word' specified in the outgoing webhook, and they don't support a case where the word only contains or starts with the 'trigger word'.

If encourage you to contribute [this in the Feature Idea forum](https://www.mattermost.org/feature-ideas/) so it can be discussed, upvoted and considered for a [ticket accepting pull req

[2016-07-17 19:33] jasonblais commented on #3574
And for your second point, that's correct. If you have a trigger word, then outgoing webhooks can be enabled on all public channels.

[2016-07-17 20:52] Rudloff commented on #3574
I will have a look at the code and try to submit a patch ☺

[2016-07-18 09:08] prakashprabhakar commented on #3589
@jasonblais Yes That's correct. Thanks for the response.

[2016-07-18 14:19] lfbrock commented on #3610
Thanks @fjarlq, I've filed a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-3682

If anyone is interested in working on this, please let us know.

[2016-07-19 05:07] prakashprabhakar opened #3622 "Processing icon takes a long time to vanish"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Processing icon takes a long time to vanish

#### Steps to reproduce
1) To address

[2016-07-19 09:18] Rudloff opened #3623 "Android app is entirely reloaded everytime"
#### Summary
Every time I open the Android app (3.0.6 on Android 5.1), the webview is entirely reloaded.

#### Steps to reproduce
1. Open the app
1. Go back to the homescreen
1. Touch app icon again

#### Expected behavior
It goes back to where I left the app. (This works perfectly if I use the [overview screen](https://developer.android.com/guide/components/recents.html) instead of the homescreen

[2016-07-19 10:38] mouson commented on #2295
@williamwu0220  我也可以加入此計畫唷！

[2016-07-19 10:57] mouson opened #3624 "Can not display custom emoji origin size"
#### Summary
Can not display custom emoji full size

#### Steps to reproduce
1. add a new custom emoji with 128x128px
2. new message with new custom
3. new message display emoji size only 20x20px

#### Expected behavior

1. Custom emoji origin size 128x128px will display 128x128px.

[2016-07-19 12:04] TheFamousPG opened #3625 "Auto scroll Outgoing webhook not working (sometimes)"
#### Summary
Auto scroll not working when Outgoing Webhook respond. (sometimes)
Here is the bug
https://i.gyazo.com/6def69fd1121aa264b123874ac1b1782.gif

#### Steps to reproduce
Create a outgoing webhook and call https://mathieu.lescaudron.com/test in one of your channels without words. And in the channel say : test or hello or bonjour.

#### Expected behavior
I'm using Windows 10 and Chrome 51.0.

[2016-07-19 12:20] prakashprabhakar opened #3626 "[Important & Urgent] App Options not working on Ubuntu Linux"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
App Options not working on Ubuntu Linux
Operating System: Ubuntu 14.04
App version

[2016-07-19 16:28] Rudloff opened #3633 "Channel header edit box is cleared when a message is received"
#### Summary
When I try to edit a channel header and I receive a notification, the textarea I'm currently writing in is emptied. This is very annoying.

#### Steps to reproduce
1. Click on _Set Channel Header_.
1. Receive a notification

#### Expected behavior
Nothing special happens.

#### Observed behavior
The textarea is emptied.

[2016-07-19 16:29] hmhealey commented on #3633
Hi @Rudloff, what version of Mattermost are you on? This should be fixed in 3.2

[2016-07-19 16:31] Rudloff commented on #3633
I'm running 3.1, I didn't see there was a new release, I will try with 3.2.

[2016-07-19 16:35] lfbrock commented on #3626
Hi @prakashprabhakar, just to confirm, this is with the new v1.3 desktop app running Mattermost v3.2?

Does the theme issue repro on a browser for you, or only on the desktop app?

[2016-07-19 16:38] Rudloff commented on #3633
You're right, this is fixed in 3.2. Sorry for wasting your time.

[2016-07-19 16:38] #3633 closed

[2016-07-19 16:39] lfbrock commented on #3624
Hi @mouson - This is expected behaviour, it was designed that way so the custom emoji scale to be the same size as normal emoji.

You can manually make them bigger in messages by using markdown headers, so for example:

<img width="291" alt="screenshot 2016-07-19 12 39 11" src="https://cloud.githubusercontent.com/assets/9354841/16958277/d061b846-4dad-11e6-9f6f-c78da8e2d2d6.png">

[2016-07-19 16:41] lfbrock commented on #3623
Thanks @Rudloff, we have a ticket here to look into the issue: https://mattermost.atlassian.net/browse/PLT-3656

[2016-07-19 16:48] jasonblais commented on #3626
Thanks @prakashprabhakar for the report,

1) [libappindicator1 package is required on Ubuntu for the icon to show in the taskbar](https://github.com/mattermost/desktop/blob/master/CHANGELOG.md#linux)
2] Quitting the application from the icon currently minimizes the app, that is correct. I will add it as a known issue to the changelog.

For issues with changing themes, and error messages on the ter

[2016-07-19 16:48] lfbrock commented on #3622
Hi @prakashprabhakar, is this with the desktop app? Can you check if it also reproduces on a web browser?

It seemed to send at around the same speed as other messages for me.

Would you also be able to check the developer console to see if you're getting any errors?

[2016-07-19 17:00] jasonblais commented on #3589
Thanks again @prakashprabhakar for the report!

I have submitted a PR to add this as a known issue in the [desktop changelog](https://github.com/mattermost/desktop/pull/206)

[2016-07-19 17:00] #3589 closed

[2016-07-19 17:02] jasonblais commented on #3541
Huge thanks @Rudloff again both for the report and submitting a fix for it!

[Given your pull request has been merged](https://github.com/mattermost/platform/pull/3582), closing this issue.

[2016-07-19 17:02] #3541 closed

[2016-07-19 19:47] lfbrock commented on #3625
Thanks @TheFamousPG, created a ticket here for someone to go investigate: https://mattermost.atlassian.net/browse/PLT-3703

[2016-07-19 19:47] lfbrock commented on #3610
Closing this issue and will track in Jira

[2016-07-19 19:47] #3610 closed

[2016-07-19 19:49] lfbrock commented on #3522
Thanks @yuya-oc, I created a ticket to go investigate this. https://mattermost.atlassian.net/browse/PLT-3683

If anyone is interested in making a pull request for this, let us know.

[2016-07-19 19:51] lfbrock commented on #3624
If you want to discuss making it a larger size, someone else opened a forum thread here on the issue: http://forum.mattermost.org/t/larger-custom-emoji-team-server-3-2-0/1910

We're open to suggestions on how this should work, but I think some people will expect all emoji to be the same size so we need to take that into consideration. Anybody who is interested in the topic, please feel free to com

[2016-07-19 20:29] jabis commented on #3460
Ok this definitely comes from platform, not desktop client:
`DEVELOPER MODE: A javascript error has occured. Please use the javascript console to capture and report the error (row: 21 col: 13187).`

I hunted down the line with sourcemaps, and it comes from experimental settings for a user - there were 3 experimental settings behind the user model, now I can only see 2 and toggling on or of will sa

[2016-07-19 22:01] Rudloff commented on #3623
For some reason it seems to work better since the 3.2 update. The app is not reloaded everytime.

[2016-07-20 00:40] jasonblais commented on #3529
Thanks again @prakashprabhakar for the feedback.

Circling back if anyone in the community would like to offer any thoughts on the design.

[2016-07-20 05:14] dantrevino commented on #1185
**Set Up Mattermost Server**

Section #8 all of the systemctl commands need sudo for both the "unit file" and "init script" sections:

- sudo systemctl daemon-reload
- sudo systemctl enable mattermost
- sudo systemctl start mattermost

[2016-07-20 06:41] prakashprabhakar commented on #3626
@lfbrock yes I have installed the Mattermost v3.2

[2016-07-20 06:42] prakashprabhakar commented on #3626
@jasonblais I have installed  libappindicator1 package. But I don't get the icons.

Also I will raise those issues on Desktop repo

[2016-07-20 09:26] prakashprabhakar commented on #3622
@lfbrock No it was not happening on the web, rather it was a problem with the desktop app.

Now after upgrading to server version 3.2.0 and app version 1.3.0 it's not reproducing.

Thanks for the help.

[2016-07-20 11:50] sn0w opened #3640 "":D" should render ":smile:" instead of ":grinning:""
The `:D` shortcut produces a  `:smile:` (😄 )  in Slack (and Discord).
In Mattermost it produces a `:grinning:` (😀 ).

It's a little bug and maybe a design decision, but `:smile:` doesn't fit into a `:D` context most of the time.

If you're not going to replace the alias you should at least make it configurable.

[2016-07-20 13:49] lfbrock commented on #3640
Hi @sn0w, is this something you would be interested in making a pull request to fix?

[2016-07-20 13:52] lfbrock commented on #3623
That's good, glad to hear it - I'll close this issue and we'll still investigate when someone takes a look at the Jira ticket.

[2016-07-20 13:52] #3623 closed

[2016-07-20 13:53] lfbrock commented on #3622
Okay thanks, glad to hear it's fixed!

[2016-07-20 13:53] #3622 closed

[2016-07-20 20:03] raphael0202 opened #3650 "Link previews are not generated on supported sites (wikipedia, github,...)"
#### Summary
Link previews are not generated on supported sites (wikipedia, github,...)

#### Steps to reproduce
Using last version of Mattermost (3.2.0). Create several new messages on a public channel with the following content:
`https://en.wikipedia.org/wiki/ISO_8601` or
`https://github.com/leedo/noembed/commit/87fc1b3a439d9ccd724b331e32223cad289eb6a1`

#### Expected behavior
A preview of the l

[2016-07-20 23:01] jasonblais commented on #3626
Thanks @prakashprabhakar for reporting it in [the desktop repo](https://github.com/mattermost/desktop/issues/208). I'll close this issue and we can continue our conversation there.

[2016-07-20 23:01] #3626 closed

[2016-07-21 16:13] lfbrock commented on #3650
Hi @raphael0202, can you go to Account Settings > Advanced > Preview Pre-release features, and check that "Show experimental previews of link content, when available" is enabled?

The link previews for websites have some issues so they're not turned on by default. We have a ticket here to update how they work: https://mattermost.atlassian.net/browse/PLT-1835

[2016-07-21 17:55] animedbz16 commented on #1596
I have  this same issue, but wanted to document how I solved this issue since this is one of the top google search results regarding the `x509: certificate signed by unknown authority` issue.

I read through all the other links / issues mentioned here and did run across a couple others

* http://vaelen.org/2016/02/05/adding-certificates-to-ubuntu-and-gitlab/

But ultimately, I would recommend read

[2016-07-21 17:55] animedbz16 commented on #745
I have  this same issue, but wanted to document how I solved this issue since this is one of the top google search results regarding the `x509: certificate signed by unknown authority` issue.

I read through all the other links / issues mentioned here and did run across a couple others

* http://vaelen.org/2016/02/05/adding-certificates-to-ubuntu-and-gitlab/

But ultimately, I would recommend read

[2016-07-22 03:16] jasonblais commented on #3529
Closing this issue for now -- if anyone in the community would like to share their thoughts, feel free to reopen the issue

[2016-07-22 03:16] #3529 closed

[2016-07-22 08:19] gertmenke opened #3657 "Hashtag containing dash followed only by digits does not show up in search"
#### Summary
Adding a hashtag containing a dash followed only by digits to a post will turn the hashtag into a link, but clicking it does not show any search results. However, if there is a non-digit character, it does work.
Examples:
* #foo-123 _does not work_
* #foo-123x _works okay_
* #foo-x123 _works okay_
* #foo-123-bar _does not work_
* #foo-1x3-bar _works okay_

#### Steps to reproduce
Crea

[2016-07-22 08:22] gertmenke commented on #3657
Might be related to https://mattermost.atlassian.net/browse/PLT-3699

[2016-07-22 11:26] dunatotatos commented on #1185
Same problem as : https://github.com/mattermost/platform/issues/1185#issuecomment-209396385 (solved on the same way)
BTW, it makes the init script start, and exit without error. But mattermost does not run after that.

And now, I finished the installation, but the home page is blank. Firebugs gives me this error :
`TypeError: window.setup_root is not a function`

[2016-07-22 12:25] adlk commented on #3372
@it33 unfortunately it took a little longer since we had another critical issue to fix.
We are right now preparing everything for the rollout and will start pushing the update over the next couple of days.

[2016-07-22 17:55] tomtruitt commented on #129
"There's a new set of functionality coming up that will not delete channels, but instead archive them, allowing histories to be restored."

@it33 is this still being planned? channel deletion is a hot issue in the feature request forum

[2016-07-22 22:16] jasonblais commented on #129
Thanks @tomtruitt for the feedback, we have a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-2900) where you can track progress of this feature.

[2016-07-23 05:10] jasonblais commented on #2295
Thanks @mouson for your interest in helping!

zh_TW has in fact being fully translated, thanks to the efforts from [Chikei](http://translate.mattermost.com/user/Chikei/) and other contributors.

That being said, there are regular updates for translations as new features are added to Mattermost. If you'd like to help maintain it, please let us know and I'd encourage you to visit our [Mattermost Tra

[2016-07-24 02:11] jasonblais commented on #3522
[Pull request has been merged](https://github.com/mattermost/platform/pull/3654) and issue verified fixed on Windows.

Thanks @yuya-oc for the report! Closing issue as resolved.

[2016-07-24 02:11] #3522 closed

[2016-07-24 11:50] dunatotatos commented on #872
If you add this configuration to the documentation, take care to add the proxy_wstunnel module to apache :
http://forum.mattermost.org/t/solved-apache2-reverseproxy-with-websocket-https/437/5

[2016-07-25 09:58] thw0rted opened #3664 "Large teams"
#### Summary
Large teams cause client-side performance problems when sending a direct message.

#### Steps to reproduce
This is on version 3.2.0, but it doesn't look like there's any plan to fix it in more-current releases.

1. Create a team with a very large number of members (1000+)
2. Under "DIRECT MESSAGES" in the menu, click "More..." to choose a user to message
3. Wait 10+ seconds as your br

[2016-07-25 10:04] thw0rted opened #3665 "Message syntax "Help" link location is not configurable"
#### Summary
The "Help" link under the message input box is hard-coded to point to `docs.mattermost.com`.

#### Steps to reproduce
1. Open any channel and find the "Write a message..." box
2. Look at the "Help" link just below, to the right.

#### Expected behavior
This link should point to a locally-hosted copy of the syntax documentation, or at least be configurable to point to other site-specif

[2016-07-25 10:11] iGEL opened #3666 "Errbits Slack integration returns a 500"
#### Summary
[Errbit](https://github.com/errbit/errbit)s Slack integration doesn't work.

#### Steps to reproduce
We're using Mattermost 3.1 & Errbit 0.6.0. I generated the json body using the rails console of Errbit.

[code]

#### Expected behavior
The notification should appear in the correct channel.

#### Observed behavior
Nothing appears in the chat. The logfile only contains the PATH of the

[2016-07-25 10:19] thw0rted opened #3667 ""Compact" layout totally ignores sizing"
#### Summary
All text is identically sized in "compact" layout

#### Steps to reproduce
1. Post some messages that use different font sizes, specifically different header levels (`### blah`, etc).  Throw some emoji in there, too.
2. Observe how these headers are differentiated from each other visually, and how they differ from plain bold text (`**bold**`, etc).
3. Switch to Compact Display under A

[2016-07-25 15:44] itgrow-FilipeLopes opened #3673 "Migrating Data from Slack"
#### Summary
Cannot import most of slack chat to Mattermost

#### Steps to reproduce

Create channel on slack 2.1.0 and have several users chat on it.
follow the [tutorial](https://docs.mattermost.com/help/settings/team-settings.html)

2. In Mattermost go to Team Settings > Import > Import from Slack. Team Administrator or System Administrator role is required to access this menu option.
3. Click

[2016-07-25 17:17] contradude commented on #3673
![image](https://cloud.githubusercontent.com/assets/15931102/17110186/96a4db2c-5250-11e6-9686-79b68d8c4067.png)

I have also experienced issues importing from Slack into Mattermost 3.2.0. the import completes successfully but only about half of my users are imported. their posts are still there and the initial of the user's name is there but not their name. I've used multiple deployment methods (d

[2016-07-25 20:09] it33 opened #24689 "CPU usage of "Mattermost Helper" on Mac Desktop app spikes with animated GIFs in view on Mattermost"
I confirm (by marking "x" in the [ ] below):
- [x] This is not a feature idea. Feature ideas go here: http://www.mattermost.org/feature-ideas/
- [x] This is not a troubleshooting question. Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/
- [x] This is a product defect issue that can be reproduced using the steps listed below.
- [x] I have read [CONTRIBUTING.md](https://gi

[2016-07-25 20:47] jkae opened #3675 "External POST to API cannot create usable channels"
#### Summary
Created channels by externally POSTing to the API are inaccessible.

#### Steps to reproduce
- Latest compiled from site
- POST to api/v3/users/login to retrieve authentication token.
- POST (with token in header) to api/v3/teams/etc/channels/create json: {"name":"test1","type":"O","display_name":"test1","team_id":"etc","purpose":""}
- View MatterMost team page
- Create channel direct

[2016-07-26 17:12] esethna commented on #3664
Thanks for the report @thw0rted. Does this load time happen everytime you open the "More..." menu or just the first time? We had a [PR](https://github.com/mattermost/platform/pull/3485) go into v3.2 to not completely reload on every open.

[2016-07-26 17:19] esethna commented on #3665
Thanks for the report. We have a [ticket to track](https://mattermost.atlassian.net/browse/PLT-2345) this in JIRA. Closing this issue.

[2016-07-26 17:20] #3665 closed

[2016-07-26 17:27] esethna commented on #3667
Thanks. I've Q'd this to [talk about in UX design meeting](https://pre-release.mattermost.com/core/pl/q599k8fpm3did8ps4uhw4diedc). Will report back when we've discussed this?

[2016-07-26 17:28] esethna commented on #3625
Closing to track in JIRA

[2016-07-26 17:28] #3625 closed

[2016-07-26 17:30] esethna commented on #3572
Closing to track in JIRA. Please comment on the ticket there if anyone is interested in working on this!

[2016-07-26 17:30] #3572 closed

[2016-07-26 17:31] #3574 closed

[2016-07-26 17:33] esethna commented on #3624
Closing this issue to move discussion to the [forum](http://forum.mattermost.org/t/larger-custom-emoji-team-server-3-2-0/1910)

[2016-07-26 17:33] #3624 closed

[2016-07-26 17:48] esethna commented on #3640
Closing to track in [JIRA](https://mattermost.atlassian.net/browse/PLT-3742).

[2016-07-26 17:48] #3640 closed

[2016-07-26 17:57] esethna commented on #3657
Thanks @gertmenke, yes they are related. I've added a note to the ticket to look into dashes and underscores as well. Closing to track in [JIRA](https://mattermost.atlassian.net/browse/PLT-3699).

[2016-07-26 17:57] #3657 closed

[2016-07-27 07:45] thw0rted commented on #3665
Thanks.  In case it comes up in the team discussion on JIRA, the instance I was using wasn't connected to the Internet so the link wouldn't work.  I'm not sure if this is a common case or not, but it'd be great if you could support it.

[2016-07-27 07:51] thw0rted commented on #3664
I just ran a rough estimate, it was about 30 seconds total on the first try, then just over 10 seconds subsequently.  I think a lot of the time is just spent manipulating the DOM and waiting for hundreds and hundreds of elements to render.

I've seen libraries that dynamically load and unload elements from the DOM as you scroll, which would probably help, or maybe simple pagination when there's mo

[2016-07-27 15:19] esethna commented on #3664
Thanks for the info! We have a ticket [here](https://mattermost.atlassian.net/browse/PLT-2304) to add paging for improved performance. Closing this issue to track in JIRA.

[2016-07-27 15:19] #3664 closed

[2016-07-27 16:24] esethna commented on #3667
Hi @thw0rted, we discussed this in UX meeting today. We agree that having a slight change in text size for headings makes sense. The corner case we'd need to think about is when you have heading markdown as the first line of a message. Here would be the cases:

1. If heading markdown is used in the first line of a message, bump it to it to a new line below the username.
2. If heading markdown is n

[2016-07-27 16:36] aconite33 commented on #3021
This is still an issue post 3.1 Mattermost. Requires to have a window open.

[2016-07-27 16:39] lfbrock commented on #3021
Hi @aconite33, can you clarify the repro steps? What do you mean it requires a direct message to be open?

[2016-07-27 18:57] jarbro opened #3690 "Display > Link Previews > incorrect behavior"
#### Summary
Turning link preview to off - causes all link to auto load.  Enabling collapses all link previews.

#### Steps to reproduce
Go to user settings > Display > Link Previews and toggle preview on and off
Tested in Chrome and Firefox with same result.

#### Expected behavior
With Link Previews On you should see the expanded link automatically, however this does not happen.  You have to dis

[2016-07-28 12:55] ghidosoft opened #3696 "Cannot type backtick anymore after updating from 2.x to 3.2"
#### Summary
After updating from 2.x to 3.2 I cannot type the backtick ` anymore.

#### Steps to reproduce
I'm using Mattermost 3.2 and using Keyboard layout 142.
Open a chat.
Type the backtick (altgr-ù for this keyboard layout) .

#### Expected behavior
A backtick ` should be typed.

#### Observed behavior
I see instead the Keyboard Shortcuts panel and the backtick does not appear.

[2016-07-28 12:57] thundo commented on #3696
I can confirm this unexpected behaviour in 3.1 too.

[2016-07-29 06:25] Happy-Ferret opened #3700 "Custom emoji loading issue"
#### Summary
Upon login, custom emojis are not loaded immediately.

#### Steps to reproduce
1. Log into a Mattermost instance/group with a custom emoji (alternatively, add one beforehand).
2. Type :<nameOfCustomEmoji>
3. Custom emoji is not listed and existing custom emojis are rendered as text only representation.
4. Upon navigating to the "Add Custom Emoji" submenu and back, all custom emoji are

[2016-07-29 08:16] cgandelli commented on #3700
Same issue here. Icons are rendered properly again in chat and in list even after a page refresh, without going back and forth to the custom emoji page.

[2016-07-29 09:34] thw0rted commented on #3667
Sorry to take so long getting back, I haven't had a chance to set up a dev environment since I'm moving right now.  I could look at it but it might be a month or so before I got around to it.  If somebody else has spare cycles to work on it, that would definitely be quicker.

[2016-07-29 10:29] prakashprabhakar opened #3701 "[Important] File Size limit is increased, but can't upload"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
[Important] File Size limit is increased, but can't upload

Mattermost Server: 3.2

[2016-07-29 11:40] IshwarKanse commented on #3701
@prakashprabhakar I think you'll also need to set client_max_body_size 100M; in your nginx conf.

[2016-07-29 12:22] jasonblais commented on #3700
Thanks @Happy-Ferret and @cgandelli for the report,

Does this occur on the Mattermost Desktop App (if so, which version and operating system)? Or have you noticed this also on the web browser?

There is an issue filed in the `desktop` repo to help investigate the problem https://github.com/mattermost/desktop/issues/209

[2016-07-29 12:44] jasonblais opened #3702 "Mattermost v3.3.0-rc5"
This is a meta issue for v3.3.0 release updates.

You can find key dates for v3.3.0 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### August 2 (T-10): Major Feature Cut

No pull requests for major features are submitted to the current release after this date (except if release manager decides to add

[2016-07-29 16:14] Happy-Ferret commented on #3700
Haven't gotten the chance to try this inside the desktop client. As I'm on vacation now, I won't be able to test the client but it definitely occurred in the browser version for me.

[2016-07-29 19:15] jasonblais commented on #3700
Thanks for the reply @Happy-Ferret!

We were only aware of this happening on the client thus far, so thank you for the report. Can you help answer the following questions:
  1) Which browser version are you using?
  2) Which database type is used in your Mattermost instance (from Main Menu > About Mattermost)
  3) Does this occur each time you logout, and log back in?

@cgandelli If you'd like to

[2016-07-29 20:27] Happy-Ferret commented on #3700
Hi there, @jasonblais.

No problem. Always happy to help. Particularly as Mattermost is becoming an integral part of my employer's workflow.

To answer your questions:

**``1) Which browser version are you using?``**`

Google Chrome 51

**``2) Which database type is used in your Mattermost instance (from Main Menu > About Mattermost)``**

PostgreSQL

**``3) Does this occur each time you logout, an

[2016-07-29 21:16] esethna commented on #3701
Thanks @IshwarKanse! @prakashprabhaka, can you confirm if this solved your issue? If so, we should update the documentation on this feature so others don't hit the same issue.

[2016-07-29 21:20] esethna commented on #3690
Thanks for the report. [This issue should be fixed](https://mattermost.atlassian.net/browse/PLT-3644) in v3.3 expected to release August 16.

[2016-07-29 21:20] #3690 closed

[2016-07-29 21:29] esethna commented on #3667
Cool, there is a ticket [here](https://mattermost.atlassian.net/browse/PLT-3769). Please comment on it in JIRA if you decide to take this on. Thanks!

[2016-07-29 21:29] #3667 closed

[2016-07-30 12:21] cgandelli commented on #3700
Sure @jasonblais, I'll be back on monday to check all the version numbers you're asking. For now, however, I'm pretty sure the problem is very the same of @Happy-Ferret, I'm using Chrome (not the desktop client) and I get the issue coming from the Group menu after login, then after the page reload (so accessing the Group directly) all is ok.

[2016-07-30 13:18] Happy-Ferret commented on #3700
@cgandelli

Strangely enough, it also works if you log out and use the group link to log in and access the page directly.
The issue must be somewhere in that first page (the one where you choose a group).

[2016-08-01 02:49] ballance commented on #2524
`make nuke` then `make install` got me past this issue.

[2016-08-01 03:48] prakashprabhakar commented on #3701
@IshwarKanse @esethna Thanks ... It worked...

[2016-08-01 03:48] #3701 closed

[2016-08-01 04:03] jasonblais commented on #3650
Thanks again @raphael0202 for the report -- the link preview should appear after going to **Account Settings > Advanced > Preview Pre-release features**, and enabling "Show experimental previews of link content, when available".

Closing, given link previews aren't enabled by default as described above.

However, if you find they don't work after enabling, please reopen the issue.

[2016-08-01 04:03] #3650 closed

[2016-08-01 08:14] BoonHean commented on #2322
Where is the "Channel's Setting"? I've created some Private Groups but can't seems to remove a user from the group after adding them.

[2016-08-01 09:08] cgandelli commented on #3700
@jasonblais I'm using Google Chrome 52 and Postgres

[2016-08-01 09:39] raphael0202 commented on #3650
Thanks for your responses, enabling link previews in settings does the trick.

[2016-08-02 05:35] jasonblais commented on #3700
Thanks again @Happy-Ferret and @cgandelli for the report!

I've been trying to reproduce the issue on Chrome without success (I was able to repro it sometimes on the client).

I think I might not have the correct repro steps - I've included them below, would you be able to help update?

1. Log into a Mattermost server with a custom emoji and enter a team.
2. Access another team from the **Main Men

[2016-08-02 13:28] phrix32 opened #3717 "Make close icons text-shadow color dependent on theme settings"
#### Summary
The text shadow of close icon, stays white (#fff) regardless of icon color. It should change corresponding to chosen "Sidebar Header Text" or one should be able to change its color in a custom theme. Actually it looks really ugly if one decides on a dark "Sidebar Header Text" and therefore icon color, due to the white shadow around a dark colored icon.

#### Steps to reproduce
1. Open

[2016-08-02 14:44] jasonblais commented on #3372
Great to hear, thanks @adlk!

Let us know when the update has been pushed and we can try it on our end.

[2016-08-02 14:47] Happy-Ferret commented on #3700
Hi there, @jasonblais
Yes. That's the page I was referring to.

No need to enter another team. The error should occur on the first team already.

[2016-08-02 21:51] mildlyill commented on #1899
@johnjamesjacoby  I'm running into the same issue trying to run the stack behind a load balancer in rancher. Have you found a workaround?

[2016-08-03 04:57] jasonblais commented on #3673
Thanks @itgrow-FilipeLopes and @contradude for the reports!

And very sorry for the long delay in response.

We do have some issues with Slack import, I will create a ticket for us to track.

To help investigate and fixing the problem, could I have your help answering the following questions?

@itgrow-FilipeLopes
1) Do any of the messages appear after a hard refresh? How about after logging out an

[2016-08-03 06:45] xiaodot opened #3726 "A way to make the primary account can access all data related with non-primary acounts"
#### Summary
How to use the primary account to access all data related with non-primary accounts.

#### Detailed description
When upgrade from v2.2 to v3.0, we meet a big trouble. Since we login to Mattermost only with Gitlab SSO, we cannot use non-primary accounts. In this situation, we actually don't need to reserve those non-primary accounts, but rather to access their data with the primary acc

[2016-08-03 09:26] adlk commented on #3372
@jasonblais, @it33 the update is now completely rolled out 🎉

[2016-08-03 18:34] contradude commented on #3673
I was able to go back to 3.0.3 and import (still received error) and it successfully imported all of the messages. I then performed an upgrade install to 3.2.0. to answer your questions:

1). mysql 5.6.31
2). the import files are attached but they don't seem to give me anything of value.
[MattermostImportSummary (1).txt](https://github.com/mattermost/platform/files/400146/MattermostImportSummary.1

[2016-08-03 22:10] gillespiec opened #3733 "GitLab SSO with SAML incorrectly opens new browser window on Android"
The behavior documented here does not appear to exist on desktop platforms or iOS. When logging in to Mattermost using GitLab SSO on a GitLab instance federated to an ADFS SAML 2.0 IDp, Mattermost correctly redirects to GitLab. Subsequent redirects to the SAML IDp are directed to a new browser window where successful authentication to the IDp results in an open GitLab session in the browser and no