[2017-05-18 19:15] jasonblais opened #6450 "[Help Wanted] Migrate installed_outgoing_webhook.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:16] jasonblais opened #6451 "[Help Wanted] Migrate installed_oauth_app.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:16] jasonblais opened #6452 "[Help Wanted] Migrate installed_command.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:18] jasonblais opened #6453 "[Help Wanted] Migrate installed_incoming_webhooks.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:18] jasonblais opened #6454 "[Help Wanted] Migrate installed_outgoing_webhooks.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:19] jasonblais opened #6455 "[Help Wanted] Migrate installed_oauth_apps.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:19] jasonblais opened #6456 "[Help Wanted] Migrate installed_commands.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:22] jasonblais opened #6457 "[Help Wanted] Migrate add_outgoing_webhook.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 21:05] esethna opened #6460 "[Help Wanted] [PLT-6548] Mobile Web View: Add "Leave Team" option to main menu"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-19 03:11] it33 commented on #6320
Hi @realrolfje

1. First, huge thanks to both you and your organization for using Mattermost and contributing to the community--testing, bug reports, and conversations like this one, and the many you have started, are valuable and appreciated.

2. You can apply for an exception to non-profit licensing for the Enterprise Edition. There are many clubs that use the non-profit Enterprise Edition versi

[2017-05-19 04:11] it33 commented on #6321
### Please help us share your proposal in the feature proposal forum?

Thank you for making an effort to contribute to the Mattermost open source project. Your time is valuable, and we highly appreciate your investment.

Hundreds of engineers from around the world have contributed to this project through [community processes](https://about.mattermost.com/help/) that are openly documented.

In the

[2017-05-19 06:32] it33 commented on #5935
Hi @realrolfje, again, thank you for bringing this up and engaging in a dialog. Thank you for being a Mattermost user, and thank you for your authentic desire to improve the software. I'm 100% sure you have the best intentions.

Regarding the definition of "bug", I've proposed an update to the issue template to make this more clear: https://github.com/mattermost/platform/pull/6463/files

While dif

[2017-05-19 06:58] lindy65 commented on #6428
Hi @tumbl3w33d,

Thanks for your feedback!

I'll ask our devs whether they have any help/suggestions for you and post back here once I hear from them :)

[2017-05-19 07:13] paepke commented on #6428
Can confirm that this happens on debian jessie
as a possible workaround you can install the current Firefox ESR 52 from the [debian mozilla team](https://mozilla.debian.net/) which solves the issue for me. Nevertheless this should be fixed in mattermost.

[2017-05-19 07:46] realrolfje commented on #5935
I checked your updates to the template. I understand the intention, and I agree with the definition of "bug" in the sense that something doesn't work as programmed, but my personal definition of "bug" also includes ethics. If a program is designed or programmed in a way which is (unintentionally) "unethical" or unsafe, it is a bug too. I think this is where we disagree.

I see that the Mattermost

[2017-05-19 07:56] lindy65 commented on #6438
Hi @annerajb,

Thanks for your question!

You can mute notifications per channel by clicking on the `v` to the right of the channel name, clicking on `Notification Preferences`, selecting `Mobile push notifications` and setting to `Never`.

If this is not useful, please help create a suggestion on our [forum](https://mattermost.uservoice.com/forums/306457-general) where you, and others, can up-vot

[2017-05-19 08:01] realrolfje commented on #6321
If person A can delete person B's smiley, that, to me, sounded like a bug. This is based on "common sense" and not specifications. So I'd like to update this issue and refer to the design, or post a "feature request". But in order to do that, I need an answer to the following question:

Is there a way for me to find out which functionality is by design and which is not?

[2017-05-19 10:16] kulak-at commented on #6441
@jasonblais I can take care of it :)

[2017-05-19 12:06] annerajb commented on #6438
@lindy65 number two fits my suggestion better thanks.

[2017-05-19 13:11] Luismi74 commented on #6369
ok thanks!

[2017-05-19 13:11] #6369 closed

[2017-05-19 13:22] jasonblais commented on #6428
Thanks @tumbl3w33d and @paepke - were there any issues on an older version of Mattermost (if you upgraded to 3.9)?

[2017-05-19 13:33] tumbl3w33d commented on #6428
@jasonblais no issues back at 3.8 and before. It started exactly with the 3.9 update.

[2017-05-19 13:51] jasonblais commented on #6434
Thanks @Rudloff, we now recommend installing Go 1.8 for developer setups: https://docs.mattermost.com/developer/dev-setup.html

We are also aware of an issue caused by https://github.com/mattermost/platform/pull/6322 and are currently fixing it in the `master` branch. But the issue seems different from yours https://github.com/mattermost/platform/issues/6425

[2017-05-19 13:51] jasonblais commented on #6425
@jostyee Are you running the latest `master` branch?

That error message is not in the 3.9 release build (but is in the `master` branch as a related PR was submitted last week)

We are aware of an issue caused by https://github.com/mattermost/platform/pull/6322 and are currently fixing it in the `master` branch.

[2017-05-19 14:13] hmhealey commented on #6425
This should be fixed on master once https://github.com/mattermost/platform/pull/6464 is tested and merged

[2017-05-19 14:21] cpanato commented on #6460
what should be the icon? @jasonblais @esethna
![screen shot 2017-05-19 at 16 20 41](https://cloud.githubusercontent.com/assets/4115580/26251918/25f5f9de-3caf-11e7-93c9-a0b06a532591.png)

[2017-05-19 14:21] jostyee commented on #6425
@jasonblais yes, I built docker image based on master branch.
@hmhealey thanks for helping.

[2017-05-19 14:31] cpanato commented on #6460
this:
![screen shot 2017-05-19 at 16 29 20](https://cloud.githubusercontent.com/assets/4115580/26252438/7e313b1c-3cb0-11e7-8f49-6a8746453b09.png)

or this:

![screen shot 2017-05-19 at 16 31 11](https://cloud.githubusercontent.com/assets/4115580/26252503/a351a81e-3cb0-11e7-8c87-a9c16658d32f.png)

[2017-05-19 15:18] jasonblais commented on #6460
Good question -- @asaadmahmood any thoughts on this one?

[2017-05-19 16:51] jasonblais commented on #6460
Hey @cpanato , I shared the SVG icon on pre-release that we can use

[2017-05-19 17:26] lindy65 commented on #6321
Hi @realrolfje,

Thanks for your question!

[Here](https://mattermost.atlassian.net/browse/PLT-3141) is the epic Jira ticket for custom emoji.  In the comments of the ticket is a link to custom emoji spec.

Hope this helps!

[2017-05-19 17:34] cpanato commented on #6425
@jostyee when the PR is merged can you try again please?

[2017-05-19 17:47] lindy65 commented on #6438
Awesome!  Thanks @annerajb :)

Hope you up-voted number two then ;)

I'll close this issue off as we have a feature suggestion for it.

[2017-05-19 17:47] #6438 closed

[2017-05-19 18:29] esethna opened #6465 "[Help Wanted] [PLT-3038] Update notification for webhooks sending attachments"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-19 19:06] skinsshark opened #6466 "Outgoing WebHooks on Slack don't show the app's name on mobile app"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
On the Slack **mobile** app, after correctly integrating the WebHook, the customiz

[2017-05-19 20:11] realrolfje commented on #6321
Hello @lindy65, I'm sorry to say this did not help. The JIRA issue links to (part of) the specifications I presume, but I do not have the rights to see that document or issue.

Is there a central, open, *complete* set of specifications for Mattermost? I notice that my expectations differ from what the Mattermost team has in mind when developing. Not only in functionality, but also in what the defi

[2017-05-20 09:15] Geetika12345 opened #6468 "If the user signs in with a link to a specific POST, they will be redirected to the correct post after a successful login"
With reference to issue postedon the mattermost forum on 7 May by Geetika dwivedi under title "Navigation to explicit post in the Mattermost from external application" , I am raising the help wanted ticket as suggested.

#### Summary
Navigation to explicit post in the Mattermost from external application.

#### Expected behavior
If the user signs in with a link to a specific POST, they will be red

[2017-05-20 10:40] paepke commented on #6428
Same here - migrated to 3.9 and it breaks on the ESR 45

[2017-05-20 12:31] tjuerge opened #6469 "Add support for corporate internet proxy"
#### Summary
Running MM behind a corporate firewall is not possible due to missing / incomplete internet proxy support. In [a forum entry](https://forum.mattermost.org/t/proxy-settings-for-outgoing-connections-e-g-push-proxy/1702) this issue is mentioned as well.

#### Steps to reproduce
MM bundled with GitLab CE 9.1.4

#### Expected behavior
MM should pickup internet proxy URL from environment ("

[2017-05-20 17:04] jasonblais commented on #6468
Thanks @Geetika12345!

I'll queue this for approval for our next UX meeting on Tuesday, after which we'll most likely make this a help wanted ticket.

[2017-05-20 17:13] jasonblais commented on #6428
Thanks! I've created a Jira ticket for us to investigate: https://mattermost.atlassian.net/browse/PLT-6650

[2017-05-20 19:04] lindy65 commented on #6321
Hi @realrolfje,

So sorry, my error entirely!  The link to the spec was in an internal ticket which prevented you from viewing the document.  [Here](https://docs.google.com/document/d/1-Ady_trvQuwvP7RoJ92HQ4k8dUrtN9aA7tj71MSEyNY/edit#heading=h.q4hh23uza3m4) is the spec.

The best place to ask about specs for Mattermost is in the [Spec Reviews](https://pre-release.mattermost.com/core/channels/spec-

[2017-05-20 22:17] kaptoxic commented on #2668
Pidgin plugin repo (tested and working well): https://github.com/EionRobb/purple-mattermost

[2017-05-21 04:05] jostyee commented on #6425
@cpanato I'll test it by Monday, thanks for your effort.

[2017-05-21 08:40] sedrubal commented on #5741
Do you know when `3.8.1` will be bundled with GitLab?

[2017-05-21 10:11] danilvoe commented on #6320
@it33 Russian Federation.

[2017-05-21 14:09] realrolfje commented on #6320
I'll close this ticket per your request @it33, but please note that this strange and unintuitive user rights model baffles not just me, but all our 300 users. With a Channel Owner role, it is only logical to assume that the users can't just delete any channel.

@danilvoe, In your local fork did you get iPhone/Android push notifications going?

[2017-05-21 15:37] jasonblais commented on #5741
@sedrubal sorry for the delay here: GitLab 9.2 (which releases on the 22nd) will have Mattermost 3.9.0. It should contain a fix to the issue you raised here.

Due to some delays, Mattermost 3.8 didn't make it to GitLab 9.1,

[2017-05-21 15:40] it33 commented on #6320
Thanks @realrolfje, highly appreciated,

- I've [shared feedback on Channel Admin with the product team](https://pre-release.mattermost.com/core/pl/upu3rt6hz7f4pbmy7fremqpgbw). I agree it sounds confusing, if it's not being used I wonder why we show it, it does seem like a bug to me, but I'll defer to the feature owner for feedback. This is a new feature introduced recently. Thank you for finding

[2017-05-21 15:42] it33 commented on #6320
@realrolfje please hold on closing this ticket, I believe there is a bug here. I'll defer to @esethna to review.

[2017-05-21 15:54] danilvoe commented on #6320
@it33

There was not understanding in consequence of use https://translate.google.ru, there was in view of the version.

@realrolfje

Have not yet touched it. Most users use the client on Windows.
We plan to use our (self-hosted) service for push notifications, but for now, without specific technical solutions, there is a related project which also needs to be notified and it is desirable to use t

[2017-05-21 17:22] realrolfje commented on #6320
Ok I'll keep the issue open. I hope you can convince your team that only Channel Admins can delete a channel.

@danilvoe I believe that for push notifications to work, the client may need recompiling/redistributing too. I didn't get the react version of the client working on my development setup, it might prove to be a problem, but I'll save that discussion for another time.

[2017-05-21 18:08] tjuerge commented on #6469
I'm not used to go (lang) yet, but from my understanding of [client.go](https://golang.org/src/net/http/client.go) and [transport.go](https://golang.org/src/net/http/transport.go) this can be fixed by adding a single line to the initialisation of `Transport`:
[code]
So the modified version of [notification.go](https://github.com/mattermost/platform/blob/master/app/notification.go#L577) would look

[2017-05-21 22:16] 94117nl commented on #6456
I would like to start working on this

[2017-05-21 22:50] jasonblais commented on #6456
Awesome, thank you @94117nl!

[2017-05-22 01:36] jostyee commented on #6425
Backs to normal now, thanks again.

[2017-05-22 01:36] #6425 closed

[2017-05-22 04:31] it33 commented on #6320
Thanks @realrolfje, actually, I think the bug is that we should not be showing Channel Admin as a role in Team Edition. Team Edition is for teams, having a bunch of permissions to understand and configure seems [detrimental to the majority of teams](https://docs.mattermost.com/developer/manifesto.html#decisions-not-options).

[2017-05-22 05:32] realrolfje commented on #6320
I was afraid you'd say that. Apart from refering to your documentation, how many Team Edition users are reporting back to you that the user interface is too complex? It's much simpler than Facebook for instance.

At this point we are doing more work (hosting, updating, monitoring, certificate rotation, backups, teaching people how to report bugs to contribute to open source, running the beta of th

[2017-05-22 06:23] realrolfje commented on #6320
An argument which may be more in line with the reasoning of the documentation: Providing each user with a "Delete Channel" option right next to the "Leave Channel" option would make it harder for the inexperienced user. Which is a strong case for keeping the "Channel Admin" role, so that you can remove the "delete channel" option for normal users, and only present that to the more educated admin.

[2017-05-22 07:07] cpanato commented on #6146
waiting for https://github.com/mattermost/mattermost-redux/pull/107 to reproduce this

[2017-05-22 07:16] cpanato commented on #6460
PR: https://github.com/mattermost/platform/pull/6472

[2017-05-22 08:09] lindy65 commented on #6466
Hi @skinsshark,

Thanks for your feedback.

Could you share which version of Mattermost server you have installed?

[2017-05-22 09:30] ajsb85 commented on #2668
Good job @EionRobb

[2017-05-22 13:09] nraynaud opened #6474 "Direct message notification doesn't include the message."
#### Summary
When receiving a direct message, the notification just says "Otherperson sent you a direct message"

#### Steps to reproduce
Send a direct message to someone who has the smartphone app installed.

#### Expected behavior
I would like to see the actual message.

#### Observed behavior
I saw the message "Otherperson sent you a direct message"

#### Possible fixes
Include the message itse

[2017-05-22 13:14] jkae commented on #6420
I've updated to v3.9.0 and can confirm that the behavior is reproducible in this version as well.

The API my webhooks hit simply logs payloads to the console:
[code]

[2017-05-22 13:35] enahum commented on #6469
Hi @tjuerge thanks for bringing this up, we have already a ticket for implementing this everywhere, you can track it here https://mattermost.atlassian.net/browse/PLT-5705

[2017-05-22 15:23] tjuerge commented on #6469
@enahum This is good to know.
Is there any ETA for implementing PLT-5705? Right now MM is not usable within a corporate environment (firewall) due to this issue.

[2017-05-22 15:39] tjuerge commented on #6469
@enahum And please make sure that PLT-5705 leverages [net.ProxyFromEnvironment](https://golang.org/pkg/net/http/#ProxyFromEnvironment) (instead of handling only a subset of the different proxy-related env vars as done in [post.go](https://github.com/mattermost/platform/blob/master/app/post.go#L34)).

[2017-05-22 17:19] lindy65 commented on #6420
Hi @jkae,

Thanks for upgrading and for your feedback,

I'll ask one of our product managers to post back here with what's expected if no trigger words are used.  As you mentioned, it seems that the webhook should fire with no trigger word specified but looking at the help text, this might be `optional if channel is selected'.

![image](https://cloud.githubusercontent.com/assets/13020833/26320547/

[2017-05-23 08:56] lindy65 commented on #6474
Hi @nraynaud,

Thank you for your feedback,

Could you tell me which version of Mattermost server you have installed?

Also, to clarify, are you experiencing this on Android? (vs iOS)

The issue you're reporting is fixed in our new beta app.  If you'd like to sign up as a tester, you can do so [here](https://github.com/mattermost/mattermost-mobile/blob/master/README.md#testing).

[2017-05-23 09:23] nraynaud commented on #6474
The server is v3.8.2.
My experience is entirely iOS, the watch thingie is a "notification slave" (I lack proper vocabulary here) on bluetooth from the iPhone, it's not an android watch (I don't even think it qualifies as a smart watch).

We'll check the beta as soon as possible.

[2017-05-23 13:46] ilvolodel opened #6477 "Unable to login for new ldap users"
#### Version

Version: 3.9.0
Build Number: 3.9.0
Build Date: Mon May 15 20:26:34 UTC 2017
Build Hash: ae3a62ef95e22ff67236e8addb1e4ca005307443
Build Enterprise Ready: true
DB Version: 3.9.0

#### Summary
When a new user is added to AD is not able to login to mattermost.

#### Steps to reproduce
Add new user to AD and try to login

#### Expected behavior
The issue is related to ldap syncronization,

[2017-05-23 16:15] esethna opened #6478 "[Help Wanted] [PLT-1649] Support Slack-compatible delayed slash commands"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-23 16:29] esethna opened #6479 "[Help Wanted] [PLT-6392] Make the message "Failed to add from email address" more explicit"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-23 17:07] cpanato commented on #6479
made a comment in `Jira`

[2017-05-23 17:10] cpanato commented on #6479
PR: https://github.com/mattermost/platform/pull/6481

[2017-05-23 18:38] jasonblais commented on #6428
@paepke @tumbl3w33d Just to confirm: This works fine on Firefox ESR 52?

There have been some updates recently that have broken compatibility with older browser versions, and recommend upgrading to Firefox ESR 52.

[2017-05-23 18:44] lindy65 commented on #6474
Hi @nraynaud,

Thanks for your feedback,

Could you help check what your [Push Notification Contents](https://docs.mattermost.com/administration/config-settings.html#push-notification-contents) settings are?  If you have this set to "generic", it might be the cause of the full contents of the message not displaying in the push notification.

Also, just FYI, Mattermost v3.9.0 shipped on May 16th an

[2017-05-23 18:59] tumbl3w33d commented on #6428
@jasonblais yeah it works as usual on Firefox ESR 52. It's unfortunate that Debian's ESR package didn't get an upgrade to 52 yet even on Sid (unstable) which I run on my private machine, however, I guess you can just sit this out until 13th of June, when ESR 45 will hit [EOL](https://en.wikipedia.org/wiki/Firefox_version_history#Firefox_45.9.0_ESR).

[2017-05-23 19:07] esethna opened #6483 "[Help Wanted] [PLT-6217] Update system message posted to Town Square after adding/removing someone from a team, or joining/leaving a team"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-23 23:22] #6479 closed

[2017-05-24 02:37] Geetika12345 commented on #6468
Thanks Jasonblais. Any updates on the request raised?

[2017-05-24 12:05] jasonblais commented on #6468
Hey @Geetika12345! Thanks for following up,

One of the open pull requests has actually been updated to incorporate this request: https://github.com/mattermost/platform/pull/6304

Once the above pull request is merged, the user is redirected to the correct channel and/or post after login, depending on which URL they entered in their web browser.

[2017-05-24 12:48] ahsan-AJ opened #6485 "Mattermost Code taking too long to build on EC2 server ubuntu 16.04"
I have uploaded the code to an Amazon ec2 ubuntu 16.04 server and upon starting make run, it starts installing dependencies installing yarn etc. But when it start webpack watching files, it gets stuck and sometimes it crashes the server so I have to restart it again.
How do I solve this issue.?

[2017-05-24 13:00] hmhealey commented on #6485
Hi @ahsan-AJ,

What size of EC2 instance are you running? It's possible you're using too small of an instance and it's running out of memory.

[2017-05-24 13:05] ahsan-AJ commented on #6485
@hmhealey I am using ec2 micro instance free tier with 8gb storage.

[2017-05-24 13:12] cpanato commented on #6485
If you are using the T2.micro it just have 1 gb of memory you might need to increase the machine type

[2017-05-24 13:13] jasonblais commented on #6485
@ahsan-AJ Please see hardware sizing requirements here: https://docs.mattermost.com/install/requirements.html#hardware-requirements

We are currently working on a [load test framework](https://docs.mattermost.com/install/requirements.html#mattermost-load-test-framework) and have made lots of performance improvements in the past few months, so some of the requirements may be reduced after more test

[2017-05-24 13:14] esethna opened #6487 "[Help Wanted] [PLT-3505] Add a spinner to Account Settings dialog after you've clicked the "Save" button"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-24 13:15] ahsan-AJ commented on #6485
@cpanato @jasonblais  how much minimum memory and storage size required to run this development code on ec2 server, and please advise which ec2 instance you guys recommend should I use ?

[2017-05-24 13:17] hmhealey commented on #6485
@ahsan-AJ Our test instances run on t2.small instances with 2 GBs of ram, so that should be large enough

[2017-05-24 13:51] nraynaud commented on #6474
Thank you, the administrator made the change and it works.

[2017-05-24 15:11] ahsan-AJ commented on #6485
@hmhealey  @cpanato @jasonblais . It is now working on bigger instance than t2 micro.
Thankyou all for the help :)

[2017-05-24 15:22] kkirsche opened #6489 "OAuth2 Failure with Gitlab — Bad Token Type"
#### Summary
Gitlab 9.2.1 responds to SSO OAuth request and a 500 Error — Bad Token Type is displayed to the user

#### Steps to reproduce
1. Login to Mattermost 3.9.0
2. Login to Gitlab 9.2.1
3. Navigate in Gitlab to Admin Area > Applications and click create new application
4. Input in create new application within Gitlab two callback URLS, https://<root URL>/login/gitlab/complete and https://<r

[2017-05-24 15:57] jasonblais commented on #6485
No problem! Closing the issue as resolved :)

[2017-05-24 15:57] #6485 closed

[2017-05-24 16:40] esethna commented on #6489
Hi @kkirsche, thanks for the report,

Can you please check your GitLab application settings and make sure that only the "api" box is selected? If other options are selected there is a known issue with backwards compatibility that may be causing the error you are seeing.

![image](https://cloud.githubusercontent.com/assets/14333569/26414735/466fc250-406d-11e7-8ce4-f9aa7b59b85f.png)

[2017-05-24 16:53] kkirsche commented on #6489
That was incorrectly setup, but changing this to API only did not fix the bug. I also deleted the application and re-added it in Gitlab using just the API to ensure that it wasn't incorrectly storing or caching it and this did not fix the issue either.

![screen-shot-2017-05-24-at-12 43 20-pm](https://cloud.githubusercontent.com/assets/947110/26415282/f67da25e-407f-11e7-9c04-67d8d378687b.jpg)
![sc

[2017-05-24 16:58] kkirsche commented on #6489
Oh, and here's the page where it's configured
![screen-shot-2017-05-24-at-12 54 51-pm](https://cloud.githubusercontent.com/assets/947110/26415519/bf84cf06-4080-11e7-98f0-1867a02f5a6d.jpg)

[2017-05-24 22:43] esethna opened #6491 "[Help Wanted] [PLT-3470] Update formatting of user lists to include both full name and nickname"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-24 23:05] esethna commented on #6489
Thanks for the information @kkirsche, we have been able to reproduce the issue internally and are currently looking into what might be the cause. I will circle back later this week with an update.

[2017-05-24 23:25] esethna commented on #6420
Thanks @jkae,
This sounds like a bug, thanks for the report. I've [filed a ticket in JIRA](https://mattermost.atlassian.net/browse/PLT-6676), would you be interested in contributing the bug fix?

CC @lindy65

[2017-05-25 07:24] lindy65 commented on #6420
Thanks @esethna!

[2017-05-25 08:25] lindy65 commented on #6474
Great to hear @nraynaud !

I'll close this issue off then :)

[2017-05-25 08:25] #6474 closed

[2017-05-25 08:36] ahsan-AJ opened #6492 "[Help Wanted] Create local mysql server without docker mattermost-mysql image."
I want to run mattermost code on local system with the developer's code from mattermost/platform. With this, I want to use my own mySQL database set up on my machine so that I can view tables and data as well. How could I do this ?

[2017-05-25 08:51] cpanato commented on #6492
You need to set the mysql config in the config file to use your local db

[2017-05-25 08:56] ahsan-AJ commented on #6492
I have changed the following settings in config.json file for the mySQL connection

 "SqlSettings": {
        "DriverName": "mysql",
        "DataSource": "username:password@localhost:3306/mattermost?   charset=utf8mb4,utf8\u0026readTimeout=30s\u0026writeTimeout=30s",
        "DataSourceReplicas": [],
        "DataSourceSearchReplicas": [],
        "MaxIdleConns": 20,
        "MaxOpenConns": 300,

[2017-05-25 09:03] cpanato commented on #6492
You might need to set the username and the password as well you will need to create the database and give it a name and set that in the connection string

[2017-05-25 09:05] ahsan-AJ commented on #6492
@cpanato

I already did I have given username and password and also that database name and it is giving the following error.

[2017/05/25 13:56:49 PKT] [INFO] Pinging SQL master database
[2017/05/25 13:56:49 PKT] [CRIT] Failed to ping DB err:default addr for network 'localhost:3306' unknown

[2017-05-25 12:29] enahum commented on #6469
Sure we'll take it into consideration.

Wondering if you would like to work on this and make a pull request?

[2017-05-25 12:32] lvictorino opened #6493 "Incorrect task and publisher name in Windows 10 startup task list."
When Mattermost App is set to be launched at startup, the task manager displays an incorrect name or publisher name that can be very confusing for users.

#### Steps to reproduce

1. Set Mattermost Windows App to start with Windows.
2. Launch Windows Task Manager (CTRL+ALT+SUPRR)
3. Select Startup Tab
4. Mattermost App is under a group named Update(X) and the Publisher is GitHub

![capture2](https

[2017-05-25 14:32] ahsan-AJ commented on #6492
It is working now on an aws ec2 instance (I installed mysql using apt-get) but when I start mysql server and then execute command 'make run' it gives the following error:

Starting docker containers
restarting mattermost-mysql
Error response from daemon: driver failed programming external connectivity on endpoint mattermost-mysql (16885a060bc28d777827d6230e8fa04300763877c964a065221a38c4ba918d2f):

[2017-05-25 16:12] esethna opened #6495 "[Help Wanted] [PLT-6659] File preview images uploaded from mobile may be rotated"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-25 16:21] esethna opened #6496 "[Help Wanted] [PLT-6400] Add link to docs in config.json readme file"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-25 16:55] jasonblais commented on #6428
Thanks again @tumbl3w33d and @paepke

Given ESR 45 is reaching its end of life in three weeks, we recommend you to switch to ESR 52.

We'll also update our docs for updating the minimum Firefox version requirement: https://github.com/mattermost/docs/pull/1209

[2017-05-25 18:56] andreydanil opened #6497 "Get a file API - NO FILE EXTENSIONS"
When I call the **Get a file** API, the return type is unknown. The URLs are BLOB URLS. There is no file extension, for example I want to return an MP4 video file.

API CALL:
https://your-mattermost-url.com/api/v3/files/{file_id}/get

Can the get a file api return the absolute path to the file? I am not able to stream video.

[2017-05-25 19:00] R-Wang97 commented on #6496
I can get this done!

[2017-05-26 01:12] #6169 closed

[2017-05-26 06:39] ahsan-AJ commented on #6492
It is fixed, by chanhing the port of Docker image, local mysql is running now. Thankyou :)

[2017-05-26 06:39] #6492 closed

[2017-05-26 07:26] thundo commented on #6489
After updating to GitLab 9.2.1 (omnibus) this morning I'm unable to login at all on Mattermost via GitLab SSO.

[2017-05-26 09:22] alextsam commented on #6489
Same here. Clients that were already logged in are still working normally, new logins give the bad token result.

[2017-05-26 15:30] prixone commented on #6497
Not sure if that is by design or not, bu you have:

https://api.mattermost.com/#tag/files%2Fpaths%2F~1files~1%7Bfile_id%7D~1get_info%2Fget

[code]

[2017-05-26 15:41] kkirsche commented on #6489
There is nothing unique that I'm aware of (e.g. not using anything like LDAP). are the logs you need from the GUI in the admin area or somewhere on server? Just need to know where the logs you may need are so I can get them

[2017-05-26 16:03] jasonblais commented on #6248
This issue is now in progress by Joram

[2017-05-26 16:03] #6248 closed

[2017-05-26 16:03] #4354 closed

[2017-05-26 16:05] #5292 closed

[2017-05-26 16:06] esethna commented on #6489
Thanks @kkirsche, the logs are found at `/var/log/gitlab/mattermost/mattermost.log`

[2017-05-26 16:06] #5371 closed

[2017-05-26 16:08] #5998 closed

[2017-05-26 17:09] jasonblais commented on #6239
Thanks @knif3 for your help looking into this, really appreciated.

Would you be interested helping with a fix for it? We'd be happy to help -- we'll also review the pull request and share feedback if any.

[2017-05-26 20:37] sedrubal commented on #5741
Now I'm on GitLab Mattermost `3.9.0` and it just happened again -.-

[2017-05-26 21:38] thundo commented on #6489
@esethna
The output is pretty much the same as the error returned to the authenticating user

**web error**
[code]

**Log error**
[code]

Btw my `/var/log/gitlab/mattermost/mattermost.log` hasnt been written since updating to 9.2.1 this morning. However I have my running mattermost log (error shown above included) at `/var/log/gitlab/mattermost/mattermost.logmattermost.log`. Is this to be expected

[2017-05-26 22:12] tjuerge commented on #6469
@enahum Created PR #6503 with implementation for [PLT-5705](https://mattermost.atlassian.net/browse/PLT-5705)

[2017-05-26 22:21] unaig commented on #6489
I have the same "EROR"  at /var/log/gitlab/mattermost/mattermost.logmattermost.log:

[EROR] /signup/gitlab/complete:AuthorizeOAuthUser code=500 rid=3xwqt9a3ctftxdz5g7jork5pna uid= ip=xxxxxxxxxxx Bad token type [details: token_type=, response_body=]

[2017-05-27 10:22] canhlinh commented on #6497
@andreydanil Can you show me the response?

[2017-05-27 18:47] alextsam commented on #6489
Logs:
[code]

[2017-05-29 03:50] jasonblais commented on #6346
Thanks again @prateeksriv, really appreciate your thoughtfulness and effort for contributing the pull request.

Would love to hear your thoughts on the above note, open for discussion.

[2017-05-29 03:57] CollenK commented on #6489
GitLab support here. We've had two reports of the same issue. In both cases commenting out `mattermost['service_site_url'] = 'https://mattermost.example.com:443'` in the `gitlab.rb` file resolved the issue.

Setting the `service_site_url` is required when enabling [email batching](https://docs.gitlab.com/omnibus/gitlab-mattermost/#email-batching).

/cc @lfbrock @it33

[2017-05-29 07:13] faradaytrs commented on #6489
@CollenK this string was commented in my config, but i still have the same problem

[2017-05-29 07:15] faradaytrs commented on #6489
Solved when i removed port 443 from my mattermost_external_url config
Was: "https://mattermost.example.com:443"
Now: "https://mattermost.example.com"
It solved the problem

[2017-05-29 07:29] thundo commented on #6489
@CollenK commeting it out, re-enabled GitLab SSO on our instance.

Thanks for the workaround, waiting for a fix

[2017-05-29 07:45] elritsch commented on #6489
Yet another workaround (inspired by @CollenK's and @faradaytrs's comments):

Changing
`mattermost['service_site_url'] = 'https://mattermost.example.com:443'`
to
`mattermost['service_site_url'] = 'https://mattermost.example.com'`
(i.e. removing the port number `443`) in the `gitlab.rb` file fixes the problem on our instance.

Thanks a lot guys for your great support!

[2017-05-29 11:25] cpanato commented on #6441
@kulak-at I was working on that based on this spreadsheet: https://docs.google.com/spreadsheets/d/1AlFS2F4H74JsONxIS_VNZBxrVJolZxFh7yN46RNCwyg/edit#gid=0

but if you have a lot of work done then it's easier you take that.
please confirm.

[2017-05-29 16:25] bszantner commented on #6489
Unfortunately none of the above mentioned workarounds seem to work for my installation.
On GitLab 9.2.2, Mattermost 3.9.0 (Omnibus install, upgraded last night from 9.0 if I'm not mistaken)

[2017-05-29 18:31] Eng3l opened #6510 "getting error on firefox 45.0.2"
Recently I've update from version 3.6.0 to 3.9.0 and one of my users got this error using firefox 45.0.2.

[code]

I'm using firefox 49 and it works ok.

[2017-05-29 18:38] #6428 closed

[2017-05-29 18:42] jasonblais commented on #6510
Thanks @Eng3l, Firefox 45 is no longer officially supported by Mozilla and we propose upgrading to a newer version. Firefox ESR 45 also has its end-of-life scheduled for June 13, 2017: https://en.wikipedia.org/wiki/Firefox_version_history

We officially [support Firefox v52 and later](https://docs.mattermost.com/install/requirements.html#pc-web-experience) although previous version of Firefox are

[2017-05-29 21:05] esethna commented on #6489
@bszantner can you confirm that you've tried:

1. Removing the port number from the `mattermost['service_site_url']` in the `gitlab.rb`
2. If that doesn't work, commenting out the  `mattermost['service_site_url'] line

Is there anything custom about your setup? Can you please provide your gitlab and mattermost logs so we may debug further?

[2017-05-29 21:06] esethna commented on #6489
Thanks everyone for helping to debug this issue, it's highly appreciated.

[2017-05-29 23:58] CollenK commented on #6489
@bszantner Did you run `sudo gitlab-ctl reconfigure` after making the changes? If not, please do that for the new settings to apply.

[2017-05-30 02:25] alextsam commented on #6489
I would like to report that removing the port number from the mattermost['service_site_url'] did the trick for me too!

[2017-05-30 04:52] af913337456 opened #6516 "hi，when i run make，i got this "...node-sass: spawn ENOMEM""
[root@iZ2ze9eb5azhksl90ygrdsZ platform]# make
Checking client style
cd ./webapp && make check-style
make[1]: Entering directory `/root/mattermost/platform/webapp'
Getting dependencies using yarn
yarn cache clean
yarn cache v0.24.5
success Cleared cache.
Done in 0.07s.
yarn install --pure-lockfile
yarn install v0.24.5
[1/4] Resolving packages...
[2/4] Fetching packages...
warning fsevents@1.1.1: Th

[2017-05-30 06:14] cpanato commented on #6516
I think it is memory related. how much memory to you have in this machine?

[2017-05-30 06:16] af913337456 commented on #6516
[root@iZ2ze9eb5azhksl90ygrdsZ ~]# cat /proc/meminfo
MemTotal:        1014984 kB
MemFree:          273336 kB
MemAvailable:     247268 kB
Buffers:            4048 kB
Cached:            70476 kB
SwapCached:            0 kB
Active:           607844 kB
Inactive:          67888 kB
Active(anon):     601488 kB
Inactive(anon):      168 kB
Active(file):       6356 kB
Inactive(file):    67720 kB
Unevictable:

[2017-05-30 06:17] af913337456 commented on #6516
Is that enough?

[2017-05-30 06:19] cpanato commented on #6516
this `MemTotal: 1014984 kB` is 1GB i think you need more. try to add at least 3GB

[2017-05-30 06:21] af913337456 commented on #6516
ok thanks alot

[2017-05-30 06:21] #6516 closed

[2017-05-30 07:00] cpanato opened #6517 "[Bug] No user count update on town Square channel when add/remove users to the team"
#### Summary
No update in the users counts for the `Town Square` channel when add/remove users to the team. Also when removing users there is no notification message saying the user leave the team.

#### Steps to reproduce
Add a user to the team or remove. The user count in the header of the channel will keep the same. Only after a refresh.

#### Expected behavior
Users count updated.

Videoscreen

[2017-05-30 07:18] af913337456 opened #6518 "can't load package: package _/root/mattermost/platform/api"
i have clone the whole project，and executed the "make" cmd. got the message below.

[code]

then i used "go get "github.com/mattermost/platform/app" "
[code]

please help me

[2017-05-30 07:20] af913337456 commented on #6518
@cpanato please give me a hand

[2017-05-30 07:22] cpanato commented on #6518
what do you want to do? run the server and the client?

if yes you need only clone the `platform` and follow the steps here: https://docs.mattermost.com/developer/dev-setup.html

but basically you need to run `make run`

[2017-05-30 07:23] af913337456 commented on #6518
@cpanato  i wanna to run the mattarmost server，any tips?

[2017-05-30 07:24] cpanato commented on #6518
read the link above.

[2017-05-30 07:42] lindy65 commented on #6477
Hi @ilvolodel,

Thanks for your feedback,

Could you help us by letting us know what your LDAP configuration is?

Also, have you tried using the 'sync' button in the system console?

Thanks!

[2017-05-30 08:07] ilvolodel commented on #6477
Has I told to your colleague Alice I have tried to sync via console and nothing happens, I got a 200 status in web browser console .
My AD is windows active directory 2012.

[2017-05-30 08:17] GhostLyrics commented on #6489
Same here.

[2017-05-30 08:23] lindy65 commented on #6517
Thanks @cpanato !

I've repro'd your issue about total number of users in Town Square not updating when a person is added to the team (even although the join message is displayed in Town Square channel).  I've created a bug [ticket](https://mattermost.atlassian.net/browse/PLT-6693) to fix.

I think not displaying the `[USER] has been removed from the channel` is by design but perhaps @jasonblais c

[2017-05-30 08:29] matfiz commented on #6489
The workaround have also worked for me, thanks. Do you have any idea if it actually breaks any functionality in Mattermost? If not, maybe it is sufficient to update the docs here https://docs.gitlab.com/omnibus/gitlab-mattermost/ ?

[2017-05-30 08:32] bszantner commented on #6489
@esethna

1. interestingly the port was not there in the first place (https:// but no :443 at the end of the `mattermost['service_site_url']` setting)
2. also tried commenting out `mattermost['service_site_url']`

Not sure if this is of any importance: the gitlab / mattermost is behind an nginx reverse proxy (another vm) which terminates the SSL/TLS (redirects http to https); the gitlab authentica

[2017-05-30 10:07] omikron-admin commented on #5927
Hi @crspeller,

sorry for my late response. I added the systemd file a week ago and we didn't had crashed. Yesterday i performed an update to 3.9.0. I will close the ticket now and if it happens against i will reopen this.

[2017-05-30 10:07] #5927 closed

[2017-05-30 12:05] jasonblais commented on #6517
@cpanato @lindy65

We actually have a help wanted ticket to update channel member count after adding a member to the team: https://github.com/mattermost/platform/issues/5978

We also have a help wanted ticket to add/update the system message when adding/removing someone from the team: https://github.com/mattermost/platform/issues/6483

[2017-05-30 12:32] cpanato commented on #6517
ah!! :)

I will try to take a look on those :)

[2017-05-30 13:05] Eng3l commented on #6510
Thanks for your reply.

[2017-05-30 13:05] #6510 closed

[2017-05-30 14:46] hmhealey commented on #5741
Hi @sedrubal,

Do you see that error in the console every time you load Mattermost, or does it only happen when you view certain channels? Could you try creating a new channel containing no posts, and seeing if it happens there?

Also, could you try switching your theme back to the default Organization theme temporarily to see if it still happens then?

[2017-05-30 16:05] jkae commented on #6420
@esethna I would be interested and I'll try to work on it.

[2017-05-30 16:13] esethna commented on #6420
Thanks @jkae, the [ticket](https://mattermost.atlassian.net/browse/PLT-6676) is actually already in progress by one of our core devs. But please feel free to take a look at any other [[Help Wanted] issues](https://github.com/mattermost/platform/issues) you can contribute.

[2017-05-30 16:13] esethna opened #6520 "[Help Wanted] [PLT-6452] Remove edit button on mobile, and have the edit icon beside the value, and the value as a link"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-30 16:13] esethna commented on #6420
Closing this issue so the progress can be [tracked in JIRA](https://mattermost.atlassian.net/browse/PLT-6676).

[2017-05-30 16:13] #6420 closed

[2017-05-30 16:18] esethna opened #6521 "[Help Wanted] [PLT-5100] Add members count for the direct messages list"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-30 16:33] esethna opened #6522 "[Help Wanted] [PLT-6695] Mobile web view: Add "Create Team" option to main menu"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-30 16:50] jtdaugherty opened #6523 "Provide server version metadata endpoint for anonymous users"
This ticket is for a new feature request:

Provide an API endpoint that allows unauthenticated users to determine the server's version of Mattermost. The purpose of this endpoint would be to permit clients to synchronously probe the server for compatibility (rather than asynchronously waiting for a "hello" websocket event).

In particular, upon receipt of a `GET` request, provide a `200` response

[2017-05-30 17:53] lindy65 commented on #6517
Thanks Jason! I'll close off the bug ticket I created as well as this issue and we can track via the help wanted tickets you linked above.

[2017-05-30 17:53] #6517 closed

[2017-05-30 18:38] lindy65 commented on #6477
Thanks @ilvolodel,

Could you send us your config.json file so our devs can take a look and help debug?

[2017-05-30 19:02] cpanato commented on #6522
I can take this one

[2017-05-30 19:02] cpanato commented on #6522
@esethna what will be the icon for this one?

[2017-05-30 19:05] lfbrock commented on #6522
@cpanato we were discussing in this thread here: https://pre-release.mattermost.com/core/pl/esoepzsxjirb9e1dyfqqiod3dy

I think we might just use the same + button as join teams for now, unless @asaadmahmood proposes a different icon

[2017-05-30 19:07] cpanato commented on #6522
ok thanks @lfbrock

[2017-05-30 19:23] cpanato commented on #6522
PR: https://github.com/mattermost/platform/pull/6524

I can change the icon if needed

[2017-05-30 19:38] cpanato commented on #6442
I will try this one

[2017-05-30 21:03] #6082 closed

[2017-05-31 01:14] vrenjith opened #6529 "Mattermost channel not switching V3.9.0"
We did a recent upgrade to 3.9.0 and I received reports from two users that channels are not switching when they click on them. The highlighted channel changes while the content is still from there old channel.

Any hints?

[2017-05-31 07:55] lindy65 commented on #6529
Hi @vrenjith

Thanks for your feedback,

Could you tell me whether this is on which browser this is (or is it on the desktop app)?

Also, does the information from the new channel eventually show or do they first have to refresh?

[2017-05-31 08:42] lindy65 commented on #5818
Closing this issue off for now.  Please feel free to reopen if you are still experiencing issues @jtdaugherty

[2017-05-31 08:42] #5818 closed

[2017-05-31 10:39] lindy65 commented on #6159
I'll close this issue off and we can track via the Jira ticket above.

[2017-05-31 10:39] #6159 closed

[2017-05-31 10:40] lindy65 commented on #6162
I'll close this issue off due to inactivity but feel free to reopen it if you're still experiencing issues @federicolucca

[2017-05-31 10:40] #6162 closed

[2017-05-31 10:42] lindy65 commented on #6207
Hi @aitzubi,

Can you let us know whether your issue is resolved now that GitLab 9.2 has been released?

[2017-05-31 10:46] lindy65 commented on #6321
Hi @realrolfje,

Circling back to check whether you have access to the spec and/or whether you joined Contributors Team to chat about the spec in the Spec Reviews channel?

[2017-05-31 10:48] lindy65 commented on #6374
Closing this issue off as we can track via the Jira ticket above.

[2017-05-31 10:48] #6374 closed

[2017-05-31 10:49] lindy65 commented on #6409
Hi @danilvoe

Circling back to check whether the user's issue has been resolved by following the steps from jasonblais above?

[2017-05-31 10:51] lindy65 commented on #6434
Hi @Rudloff,

Circling back to see whether your issue is resolved with post above from jasonblais?

[2017-05-31 10:52] lindy65 commented on #6466
Hello @skinsshark,

Has your issue been resolved?

[2017-05-31 10:57] Rudloff commented on #6434
I still get the same issue on the latest master.
I understand if you only want to support Go >= 1.8, it is just easier for me if I can stick to packages available in Debian.

[2017-05-31 11:14] sedrubal commented on #5741
Currently mattermost looks ok and this error does not appear. I switched to the organization theme and I'll report back if it breaks...

[2017-05-31 11:43] jasonblais commented on #6300
Thanks @cpanato! :)

[2017-05-31 11:43] #6300 closed

[2017-05-31 12:10] cpanato commented on #6434
per this doc: https://docs.mattermost.com/developer/dev-setup-troubleshooting.html Go 1.8 is supported.

[2017-05-31 13:04] jasonblais commented on #6493
Thanks @lvictorino! I've submitted an issue in the desktop app repo: https://github.com/mattermost/desktop/issues/542

[2017-05-31 13:04] #6493 closed

[2017-05-31 13:37] it33 opened #6531 ""Make Channel Admin" option incorrectly displayed"
#### Summary

[Per documentation](https://docs.mattermost.com/administration/config-settings.html#policy) policy controls are part of E10, and a non-functional "Make Channel Admin" option that's part of policy incorrectly displays in TE.

#### Steps to reproduce
Go to Channel Header > Manage Members > Channel Member

#### Expected behavior
Only Remove Member as an option

#### Observed behavior
Ma

[2017-05-31 13:45] it33 commented on #6320
Hi @realrolfje,

Sorry, I think we're back to the feature versus bug discussion. While that discussion is welcome in feature proposal forum, it's distracting for the community that uses GitHub issues as designed--which is for bugs and Help Wanted tickets.

Also, it's modeling incorrect behavior. if features discussions aren't happening in the feature proposal forum, then we've scattered the conver

[2017-05-31 16:28] #6421 closed

[2017-05-31 17:47] esethna commented on #6531
Attaching JIRA ticket: https://mattermost.atlassian.net/browse/PLT-6724

[2017-05-31 21:57] esethna commented on #6489
@bszantner I think your custom set up may be the source of these issues. This error is known to happen if there is a mismatch of http/https in the Mattermost user api/Auth/Token endpoints. Can you verify that they are correctly set to http/https?

[2017-05-31 21:58] esethna commented on #6489
@matfiz it should not break any Mattermost functionality. We have an MR open to update the docs, thanks for your help.

[2017-06-01 05:06] af913337456 opened #6541 "About the api doc"
hi~~~，i have saw this , [https://api.mattermost.com/#tag/WebSocket](https://api.mattermost.com/#tag/WebSocket) ，but i found that it just show one websocket example about the event (hello). Now I'm trying to rewrite the client interface by using JAVA, so I need all of them. Is there any way I can see all the EVENTS examples?

[2017-06-01 05:08] af913337456 commented on #6541
@cpanato hi~，sorry to disturb you again , will you like to help me for this.

[2017-06-01 06:45] canhlinh commented on #6541
@af913337456 You can check here https://github.com/mattermost/platform/blob/master/model/websocket_message.go

[2017-06-01 07:01] cpanato commented on #6541
in the code that @canhlinh point out and also you can take a look in the tests

[2017-06-01 07:03] lindy65 commented on #6523
Hi @jtdaugherty,

Thanks for your feedback,

Just curious, do you need this for Matterhorn terminal client you're building?

[2017-06-01 07:07] lindy65 commented on #5876
Hi @bradhowes, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-01 07:07] #5876 closed

[2017-06-01 07:32] af913337456 commented on #6541
@canhlinh thanks

[2017-06-01 09:08] tpo commented on #6428
(Same here - migrated to 3.9 and it breaks on my FF on Debian stable)

To recap:

* Mattermost 3.8 works
* your sysadmin upgrades it to 3.9
  (in my case idirectly via a gitlab upgrade)
* Mattermost is now broken on all stable Debian clients
* the Mattermost project closes the issue with "upgrade your Debian installation"

That's pretty lame IMHO. Why not fix the thing that introduced problem in t

[2017-06-01 09:29] Fonata commented on #2253
I have this problem, too. I see the behavior described in hschoenburg's post. GitLab used to be able to authenticate Mattermost users. The issue seems to have started when updating from community edition 3.6.2 to 3.9.0.

[2017-06-01 11:27] tumbl3w33d commented on #6428
At some point you need to limit the platforms/versions you support and I find it legitimate to not waste effort on supporting versions that are officially (EOL) not maintained anymore. In addition, if your company decides its chat solution is Mattermost, why not install the (well tested) standalone client then?

[2017-06-01 12:39] jasonblais commented on #2253
@hschoenburg @fonata @dougthor42 @ertanden @m-aciek @kkirsche

Your issue may be related to https://github.com/mattermost/platform/issues/6489.

Can you try removing the port number from the `mattermost['service_site_url']` setting in `gitlab.rb`?

[2017-06-01 13:14] tpo commented on #6428
Because: if you want to use github, why not use their standalone client too (that is in fact a complete webbrowser + pixie dust)? And if you want to access nyt.com as well, then why not use their standalone client also? And slashdot. And gitlab. And stackoverflow. And redmine. And ... People's machines have only so much RAM. Maybe they'd like it to run applications that in fact really are differen

[2017-06-01 16:21] esethna opened #6545 "[Help Wanted] [PLT-6717] Add duplicate /open command for joining a new channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-01 16:27] esethna opened #6546 "[Help Wanted] [PLT-6716] s/misspelled word/corrected word: Command to correct a typo"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-01 16:27] Fonata commented on #2253
Thanks, Jason! The port tip doesn't apply to us. We have Mattermost installed from the binaries, not from GitLab's Omnibus. Both run on separate servers, thus there is no Mattermost-related entry in `gitlab.rb`

I realize now I have written to the wrong issue. I'd love to see which URL Mattermost is trying to query for the token, so I'll try to get Mattermost running from sources. Then, I'll hopef

[2017-06-01 16:43] esethna commented on #2253
Thanks @Fonata that would be highly appreciated.

[2017-06-01 17:18] jasonblais commented on #2253
Thanks @Fonata! I misunderstood

That would be really useful

[2017-06-01 17:38] kquick commented on #6523
Hi @lindy65,

Yes, this is for our Matterhorn terminal client, but it should be useful to any of the extensions and clients that are connecting to the Mattermost server via API.  The general intent is that the client can determine the server's API version and determine the compatibility with that server (including making runtime compatibility adjustments).

[2017-06-01 17:43] jtdaugherty commented on #6523
@lindy65 - for context, we're interested in providing a good user experience in `matterhorn` for cases where our implementation of the API is clearly going to be incompatible with the version of the server that the user is connecting to. Rather than finding out at some later point at runtime (e.g. a failing API call), we'd like to test up front and abort, and tell the user to get the right version

[2017-06-02 04:25] jostyee opened #6551 "We have issues with PLT-5705"
#### Summary
https://github.com/mattermost/platform/pull/6503 creates a global client to deal with http requests, which would make trouble for us in China.

- Many websites are blocked here, so I opened a PR before to specify a http_proxy, which allows the requests fetching OpenGraph data via a server overseas.
- For other http connections, most of them are between intranet servers of ourselves, t

[2017-06-02 09:03] tjuerge commented on #6551
Ah, that explains why only `app/post.go` got some internet proxy support in #5571.

@jostyee Is the env var [no_proxy](https://www.w3.org/Daemon/User/Proxies/ProxyClients.html) of any help here? It could be used to exclude your intranet servers from proxy and only let requests to the OpenGraph data server go through the proxy.

The method [http.transport.useProxy()](https://golang.org/src/net/http

[2017-06-02 09:33] jostyee commented on #6551
Yes, https://github.com/mattermost/platform/pull/5571 was to satisfy our own needs, https://github.com/mattermost/platform/pull/6503 is refactoring to go httpClient usage.

Thank you @tjuerge to point out `no_proxy` env var, I almost forgot it. Certainly I'll add our domains to docker-compose config file, thanks again for helping.

[2017-06-02 09:33] #6551 closed

[2017-06-02 10:45] tjuerge commented on #6469
Fixed via merge of PR #6503

[2017-06-02 10:45] #6469 closed

[2017-06-02 14:08] jwilander commented on #6457
I'll be working on this one to set an example on how to do components that are extending other components

[2017-06-02 18:45] esethna opened #6554 "[Help Wanted] [PLT-6715] /help slash command: Open the Mattermost help page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 18:45] esethna opened #6555 "[Help Wanted] [PLT-6714] /settings slash command: Open the Account Settings dialog"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 18:45] esethna opened #6556 "[Help Wanted] [PLT-6713] /search [text] slash command: Search text in messages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 18:45] esethna opened #6557 "[Help Wanted] [PLT-6712] /remove [username] slash command: Remove a member from the channel."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 18:45] esethna opened #6558 "[Help Wanted] [PLT-6710] /rename [text] slash command: Rename the channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 18:45] esethna opened #6559 "[Help Wanted] [PLT-6708] /purpose [text] slash command: Edit the channel purpose"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 18:45] esethna opened #6560 "[Help Wanted] [PLT-6707] /header [text] slash command: Edit the channel header"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-02 19:05] bszantner commented on #6489
@esethna I checked again to be sure, and even in the generated `/var/opt/gitlab/mattermost/config.json` file: the auth, token and userapi endpoint gitlab urls all use https://.
The only strange thing in the `/var/log/gitlab/gitlab-rails/production.log` log is still the `"redirect_uri"=>"http://mattermost.example.com/signup/gitlab/complete"`
In the Gitlab application I have both callback urls use h

[2017-06-02 21:30] esethna opened #6562 "Mattermost v3.10.0"
This is a meta issue for v3.10.0 release updates.

You can find key dates for v3.10.0 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.
### June 2 (T-10): Major Feature Cut-Off

No pull requests for major features are submitted to the current release after this date (except if release manager decides to

[2017-06-02 21:49] romantomchak commented on #6489
Hi @esethna and @bszantner,
I have had the same issue. I'm also using Gitlab and Mattermost behind an nginx reverse proxy and I have had the same log output as in @bszantner and problem was in Mattermost proxy configuration.

By default Gitlab provide proxy header `X-Forwarded-Proto` with value` http` but in this case mattermost is not correctly detects a http schema and generates url with `http`.

[2017-06-03 09:52] cpanato commented on #6520
on that

[2017-06-03 09:56] cpanato commented on #6520
PR: https://github.com/mattermost/platform/pull/6565

[2017-06-03 10:04] cpanato commented on #6560
will take care this

[2017-06-03 10:58] cpanato commented on #6560
PR: https://github.com/mattermost/platform/pull/6566

[2017-06-03 10:58] cpanato commented on #6559
I will work on that

[2017-06-03 13:36] pjangam opened #6567 "For posts urls with nested paranthesis do not work"
#### Summary
Urls with nested brackets do not work.
I'm trying to create mattermost post with link to kibana dashboard. Kibana urls do have multiple nested brackets inside it.
For nested bracket hyperlink takes upto first closing bracket inside multipe opening brackets

#### Steps to reproduce
Create a post with nested brackets in it.
e.g.  https://sample_elasticSearch_deployment/app/kibana#/dashb

[2017-06-04 05:21] #6518 closed

[2017-06-04 08:03] cpanato commented on #6559
PR: https://github.com/mattermost/platform/pull/6569

[2017-06-04 08:05] cpanato commented on #6558
I will work on that

[2017-06-04 08:10] bszantner commented on #6489
@romantomchak thank you for the tip, my nginx reverse proxy was indeed missing the `X-Forwarded-Proto` header config. Manually setting it to `https` in the mattermost vhost solved this issue for me.

@esethna I also tried to re-enable (uncomment) the `mattermost['service_site_url']`, and it causes no problem now with my custom setup.

[2017-06-04 08:19] cpanato commented on #6558
PR: https://github.com/mattermost/platform/pull/6570

[2017-06-04 08:47] cpanato commented on #6557
I will work on that

[2017-06-04 15:17] af913337456 opened #6571 "An error when i run "make run""
The message below.

[2017/06/04 22:46:32 CST] [DEBG] Cleaning up token store.
[2017/06/04 22:47:02 CST] [DEBG] Cleaning up token store.
[mysql] 2017/06/04 22:48:28 packets.go:33: read tcp 127.0.0.1:40010->127.0.0.1:3306: i/o timeout
[2017/06/04 22:48:34 CST] [EROR] Unable to cleanup token store.
[mysql] 2017/06/04 22:49:09 packets.go:33: read tcp 127.0.0.1:40014->127.0.0.1:3306: i/o timeout
[2017/

[2017-06-04 15:19] af913337456 commented on #6571
i did it with that [https://docs.mattermost.com/developer/dev-setup-ubuntu-1604.html](https://docs.mattermost.com/developer/dev-setup-ubuntu-1604.html)

i need your help @cpanato，big deal

[2017-06-04 15:39] af913337456 commented on #6571
i can always see those log below，but when i access ':8065'，i saw this “dial tcp 47.93.197.90:8065: i/o timeout”

[2017/06/04 23:34:14 CST] [INFO] Starting Server...
[2017/06/04 23:34:14 CST] [INFO] Server is listening on :8065
[2017/06/04 23:34:14 CST] [INFO] Starting jobs
[2017/06/04 23:34:14 CST] [DEBG] Cleaning up token stHash: 33dcf205c6ff89f13537
Version: webpack 2.5.1
Time: 158642ms
PublicPa

[2017-06-04 17:00] jasonblais commented on #6557
You're great, thank you @cpanato! Please also see the notes in https://github.com/mattermost/platform/pull/6566#issuecomment-306052464 before working on this one, since I think some of those notes would apply here too.

[2017-06-04 21:56] esethna opened #6573 "[Help Wanted] [PLT-3379] "Commented on" username should respect the teammate name display"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-05 00:57] af913337456 commented on #6571
@canhlinh

[2017-06-05 02:13] jasonblais commented on #6571
@af913337456 can you first read these troubleshooting notes in the developer machine setup guide? https://docs.mattermost.com/developer/dev-setup-troubleshooting.html

[2017-06-05 03:37] af913337456 commented on #6571
@jasonblais  hi，I've tried it on your way. Is that normal ?

root@iZ2zedkbtajgf3c8o91wy0Z:~/go/src/github.com/mattermost/platform# make run-server
Starting docker containers
restarting mattermost-mysql
restarting mattermost-postgres
restarting mattermost-inbucket
Running mattermost for development
mkdir -p ./webapp/dist/files
go run  -ldflags "-X github.com/mattermost/platform/model.BuildNumber=de

[2017-06-05 03:37] af913337456 commented on #6571
root@iZ2zedkbtajgf3c8o91wy0Z:/go/src/github.com/mattermost/platform# make run-server
Starting docker containers
restarting mattermost-mysql
restarting mattermost-postgres
restarting mattermost-inbucket
Running mattermost for development
mkdir -p ./webapp/dist/files
go run -ldflags "-X github.com/mattermost/platform/model.BuildNumber=dev -X 'github.com/mattermost/platform/model.BuildDate=Mon Jun 5

[2017-06-05 04:39] af913337456 commented on #6571
@jasonblais the message above，please do me a favour.

[2017-06-05 07:04] lindy65 commented on #6523
Thanks @jtdaugherty and @kquick,

I'll ask one of our devs to take a look and give you feedback.

[2017-06-05 07:28] lindy65 commented on #6571
Hi @af913337456,

Could you help clarify whether you have followed the [Developer Machine Setup Guide](https://docs.mattermost.com/developer/dev-setup.html#developer-machine-setup)?  If so, is your issue not resolved by checking the [troubleshooting guide](https://docs.mattermost.com/developer/dev-setup-troubleshooting.html)?

[2017-06-05 07:32] af913337456 commented on #6571
@lindy65  ‘ troubleshooting guide ’. i did，but it doesn't work for me.

[2017-06-05 09:39] af913337456 commented on #6571
@jasonblais

[2017-06-05 16:54] jtdaugherty commented on #6523
Thanks!

[2017-06-06 01:15] vrenjith commented on #6529
1. It happens on chrome safari and Firefox.
2. It doesn't. There is a JavaScript error in console.

*main.8df02c283d1e91c670ac.js:1 Uncaught TypeError: Cannot read property
'id' of null*

*main.8df02c283d1e91c670ac.js:1* Uncaught TypeError: Cannot read property
'id' of null at g (*main.8df02c283d1e91c670ac.js:1*) at x (
*main.8df02c283d1e91c670ac.js:1*) at _ (*main.8df02c283d1e91c670ac.js:1*)
at n

[2017-06-06 07:50] cpanato commented on #6571
try to set in your bashrc or zshrc or other the `ulimit -n 8096` and then restart your terminal and try again

[2017-06-06 08:14] af913337456 commented on #6571
@cpanato  when i input the 'ulimit -n'

root@iZ2zedkbtajgf3c8o91wy0Z:~# ulimit -n
8096

it that OK ?  I haven't entered yet

[2017-06-06 08:29] dansto opened #6590 "We couldn't save the channel"
Reopening Direct Messages  with more than one users does't work;

Version:  mattermost-3.9.0-linux-amd64.tar.gz

* Open Direct Messages  with 3 users
* Close that chat with (by clicking on "X" (Remove from List))
* Try to open Direct Messages with same 3 users does not work.

When clicking on button "Go" following error appears in JavaScript Console

method=createGroupChannel msg=We couldn't save

[2017-06-06 08:30] cpanato commented on #6571
yes

[2017-06-06 09:20] it33 commented on #4587
I was speaking to @lfbrock yesterday and we might want to limit this feature to only Team Admins or possibly only System Admins,

@lfbrock wondering your thoughts?

Also, I'm wondering if we should close this ticket and create a new one given it's a bit messy right now.

[2017-06-06 09:43] af913337456 commented on #6571
@cpanato  the error still exist , i still can not access ':8065'，for example，when i access this 'myServerId:8065/api/v4/users/login'，it tells me ‘ERR_CONNECTION_TIMED_OUT’.

[2017-06-06 10:00] cpanato commented on #6571
try:
make stop
make clean
make run

but before all sync your repo with latest master

[2017-06-06 10:18] af913337456 commented on #6571
@cpanato  i did it all，the last output information for the screen below. but i still can not access ':8065'，the same result above 'ERR_CONNECTION_TIMED_OUT' .

[2017/06/06 18:14:15 CST] [DEBG] Initializing system WebSocket API routes
[2017/06/06 18:14:15 CST] [DEBG] Initializing status WebSocket API routes
[2017/06/06 18:14:15 CST] [DEBG] wsapi.webtrc.init.debug
[2017/06/06 18:14:15 CST] [INFO] St

[2017-06-06 10:20] af913337456 commented on #6571
@cpanato  I'm afraid I'm going to be fired by my boss. I was originally a Android developer.

[2017-06-06 11:11] af913337456 commented on #6571
@cpanato Is there any other way?

[2017-06-06 11:34] cpanato commented on #6571
what happens if you open the browser and go to localhost:8065 ?

[2017-06-06 12:29] esethna opened #6591 "[Help Wanted] [PLT-5747] Fix UI on-hover, tooltip, and active state inconsistency for buttons"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-06 12:31] af913337456 commented on #6571
![qq 20170606203018](https://cloud.githubusercontent.com/assets/10436277/26829174/0c8668ca-4af7-11e7-8fe2-b55a25d33692.png)

@cpanato

[2017-06-06 12:33] af913337456 commented on #6571
![qq 20170606203018](https://cloud.githubusercontent.com/assets/10436277/26829244/5a410804-4af7-11e7-8cd9-9f88277ffaf9.png)

@cpanato   it means time out

[2017-06-06 13:04] cpanato commented on #6571
Are you running the server on another machine or in your local? if you are running in another machine check the firewall (or if is on AWS check the security groups)

I cannot help much since I don't have enough information about your environment.

[2017-06-06 13:39] jasonblais commented on #6591
@cpanato this could be an interesting project for you - I think you were looking for some introductory React tickets around the UI.

[2017-06-06 14:02] jasonblais commented on #6327
Great work @drojas! Excited to release this feature in Mattermost 3.10 :tada:

[2017-06-06 14:02] #6327 closed

[2017-06-06 14:04] jasonblais commented on #6207
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to GtiLab 9.2.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-06 14:04] #6207 closed

[2017-06-06 14:05] jasonblais commented on #5741
Thanks @sedrubal! We'll assume that the problem is fixed or is no longer valid. If you still experience the same problem, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-06 14:05] #5741 closed

[2017-06-06 15:19] af913337456 commented on #6571
I run it on Aliyun server, which can be accessed by public network. i have shut down the firewall by use 'ufw'，and make '8065' accessible，but nothing change .

my linux server os info below：
Linux iZ2zedkbtajgf3c8o91wy0Z 4.4.0-63-generic #84-Ubuntu SMP Wed Feb 1 17:20:32 UTC 2017 x86_64 x86_64 x86_64 GNU/Linu

[2017-06-06 15:19] af913337456 commented on #6571
@cpanato

[2017-06-06 15:28] af913337456 commented on #6571
@cpanato  I've tried those golang code below，when i access 'ip:8889'，i got a same result ---- access timeout

[code]

[2017-06-06 16:21] esethna opened #6594 "[Help Wanted] [PLT-6744] Add "Only visible to you" note for ephemeral messages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-06 16:26] esethna opened #6595 "[Help Wanted] [PLT-6739] Convert theme color pickers to use react-color"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-06 20:02] lfbrock commented on #6567
Hi @pjangam - what version of Mattermost are you on?

I think this seems to work for me on master with the example you gave:
<img width="431" alt="screenshot 2017-06-06 16 01 57" src="https://user-images.githubusercontent.com/9354841/26849281-89c2da7e-4ad1-11e7-9574-6a8ec4fa3ded.png">

[2017-06-06 21:29] #6531 closed

[2017-06-06 23:47] esethna opened #6603 "[Help Wanted] [PLT-3893] Clean up our common logger and move to structured logging"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-06 23:51] MusikPolice commented on #6603
Talked to @coreyhulen. I'll take a shot at this.

[2017-06-06 23:52] coreyhulen commented on #6603
Yup...go for it.

[2017-06-07 00:06] saturninoabril commented on #6297
Could not reproduce this issue atleast on Mac and Ubuntu with Chrome, Firefox and Safari.
Request to close this issue and just reopen if occur in the future.

[2017-06-07 00:08] #6297 closed

[2017-06-07 00:56] MusikPolice commented on #6603
- Looks like the project is using [log4go](https://github.com/alecthomas/log4go)
- That repository has been abandoned, but there is some documentation available [here](https://godoc.org/github.com/alecthomas/log4go) and on the [Google Code Archive](https://code.google.com/archive/p/log4go/wikis)
- One way to structure log messages might be to implement a custom [LogWriter](https://godoc.org/github

[2017-06-07 01:53] coreyhulen commented on #6603
We've been wanting to swtich off of log4go for a while because it's abandoned and it has know threading issues.  We've fixed a few of the most critical issues with our fork https://github.com/mattermost/log4go.

From an MM perspective creating our own logging interface would be best so we could switch from log4go to something like logrus once the code base is using our common logger interface with

[2017-06-07 01:54] coreyhulen commented on #6603
We also have some funky stuff coming down the pipe like https://github.com/mattermost/platform/pull/6499/files#diff-642801e00d0a75c05b55a6c11016ea74 which redirects the std log into our log.

[2017-06-07 02:02] af913337456 commented on #6571
@cpanato  i do also use this cmd 'iptables -I INPUT -p tcp --dport 8889 -j ACCEPT'，nothing change.

[2017-06-07 07:34] lindy65 commented on #6590
Hi @dansto,

Could you tell me which version of Mattermost you are using?

I am not able to repro your issue on master with the example you gave.

[2017-06-07 07:37] lindy65 commented on #6541
Hi @af913337456,

It seems your issue is solved so I'll close this off.  Please feel free to reopen it if you still experience problems.

[2017-06-07 07:37] #6541 closed

[2017-06-07 07:41] dansto commented on #6590
mattermost-3.9.0-linux-amd64 Enterprise edition....in free mode (without subscription)

[2017-06-07 07:45] af913337456 commented on #6571
@cpanato thank you so much! I just fix this

[2017-06-07 07:52] af913337456 commented on #6541
@lindy65 anyway

[2017-06-07 08:10] lindy65 commented on #6468
Hi @Geetika12345,

The [pull request](https://github.com/mattermost/platform/pull/6304) has been merged.  Please let us know if you are still experiencing the issue.

[2017-06-07 08:11] lindy65 commented on #6466
Hi @skinsshark, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-07 08:11] #6466 closed

[2017-06-07 08:18] lindy65 commented on #6434
Hi @Rudloff,

Circling back on this issue.

If I understand correctly, you're still using Go 1.7.4 (the latest version available on Debian Jessie) so this issue won't be resolved for you as we support Go >= 1.8?

It seems we might have to wait for Debian Jessie to support Go 1.8 before your issue is resolved.

I'll close this issue off for now but let us know if there is anything we can help with

[2017-06-07 08:18] #6434 closed

[2017-06-07 08:23] lindy65 commented on #6321
Hi @realrolfje, we haven't received an update so we'll close this off for now.  Feel free to reopen the issue if you need assistance accessing specs or joining the Contributors Team.

[2017-06-07 08:23] #6321 closed

[2017-06-07 08:25] #6320 closed

[2017-06-07 08:54] cpanato commented on #6571
I did nothing.
glad that works

[2017-06-07 08:56] #6571 closed

[2017-06-07 18:00] lfbrock commented on #6523
Thanks @jtdaugherty - created a Jira ticket here to add this: https://mattermost.atlassian.net/browse/PLT-6779

Is it something you would be interested in contributing? If so, `@joram` on https://pre-release.mattermost.com can answer any questions.

[2017-06-07 20:50] esethna commented on #6489
Hi @romantomchak, thanks for your resolution!

Regarding your issue with GitLab login on the desktop application can you please help to submit an issue to the [desktop repo](https://github.com/mattermost/desktop/issues) with repro steps and any additional info that might help debug?

[2017-06-07 21:05] Fonata commented on #2253
Problem solved! The solution was to add the following line to our Apache configuration:

``RequestHeader set X-Forwarded-Proto "https"``

[2017-06-07 21:19] esethna opened #6611 "[Help Wanted] [PLT-6730] Update GitLab omnibus to configure Mattermost via environment variables"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-07 21:49] marc0s commented on #6489
I can confirm the issue of the wrong `X-Forwarded-Proto` header.  Setting it to `https` made it work.

[2017-06-07 22:07] cpanato commented on #6594
will try that.

[2017-06-08 01:06] MusikPolice commented on #6603
Spent some time poking around the codebase tonight, trying to sort out how everything works. Notes for my own sanity:
- entrypoint is in `mattermost.go`, which in turn calls `runServerCmd(...)` in `server.go`
- the current log library is very simple. the entire source is in vendor/github.com/alecthomas/log4go/log4go.go
- the Context object that Corey mentioned appears to live in api/context.go. It

[2017-06-08 02:46] jostyee opened #6613 "Why add the source code of modules js in production?"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
https://github.com/mattermost/platform/blob/master/webapp/webpack.config.js#L288

[2017-06-08 02:51] jsfeb26 commented on #6521
I'll take a shot at this one

[2017-06-08 02:52] jostyee commented on #6603
imo `logrus` is too heavy
https://dave.cheney.net/2015/11/05/lets-talk-about-logging

[2017-06-08 03:24] coreyhulen commented on #6603
For now I would probably ignore our context object in `api/context.go` and `api4/context.go` and work with the new builtin go context at https://golang.org/pkg/context.  There is another tix somewhere to refactor our context to use the new builtin one.

our context.go has a lot of http middleware type stuff built into it that needs to be refactored out :)

[2017-06-08 03:25] coreyhulen commented on #6603
For reference our context.go pre-dates the new builtin one introduce in go 1.7 (I think).

[2017-06-08 03:40] coreyhulen commented on #6603
Hopefully our interface will be pretty simple since we currently only use DEBUG, INFO, and ERROR and which logger we use (logrus or another) will be abstracted away.

Something to consider is allowing the context to have a `tracer=true` flag that when set overrides the output to DEBUG_PRINT=on.  We get a lot of requests for `Tracing all the way from the client request for a specific user` for cust

[2017-06-08 07:31] Geetika12345 commented on #6468
Hi Lindy65,

Thanks for the update.

Hi Jasonblias,

Thank you for picking up the request.

I was trying to implement the same in my application,

I wanted to land up to the explicit post in mattermost from my application.
I used
mm/login?redirect=javascript:alert('/postid')
It dint work i.e.  , can you please point out if i am using it wrongly.

Can you please explain how should i form the url fo

[2017-06-08 08:13] lindy65 commented on #6590
Thanks @dansto,

It seems this issue is fixed on master.  Perhaps we could have your help upgrading to v3.10 which will release on June 16th to see if the issue still exists for you?

[2017-06-08 08:15] dansto commented on #6590
ok we will upgrade on June 16th...thx

[2017-06-08 10:47] Geetika12345 commented on #6468
Hi Jasonblais,

Can you please confirm in which version of mattermost these changes has been incorporated , so that we can upgrade the mattermost to the specific version , we are currently using 3.9.0 version.

Thanks.

[2017-06-08 11:09] lindy65 commented on #6468
Hi @geetika12345,

These changes should be in the next release, v3.10, on June 16th.

[2017-06-08 12:00] jasonblais commented on #6468
@Geetika12345 @lindy65 That is correct, it will be available on June 16th release.

If you're interested, you may also download a release candidate to test it out beforehand. The download links will be posted here this week: https://github.com/mattermost/platform/issues/6562

[2017-06-08 12:09] #6522 closed

[2017-06-08 12:09] jasonblais commented on #6296
Thanks @kulak-at!

[2017-06-08 12:09] #6296 closed

[2017-06-08 15:32] esethna commented on #6562
#### RC1 is cut!

[Changelog](https://github.com/mattermost/docs/blob/11f2510125a9d36ee8a9d967eb24f9a5b8101c78/source/administration/changelog.md)

Enterprise Edition
Link: https://releases.mattermost.com/3.10.0-rc1/mattermost-3.10.0-rc1-linux-amd64.tar.gz
MD5 Hash: 73b7f8c024dc44d38dc17e4d938558c0
SHA-1 Hash: 91733cd17f95c8aa04f39892370a5a136fd206c1
SHA-256 Hash: ea0dd66266dbf6616feaaa605d83e50f3

[2017-06-08 17:26] tejaycar commented on #5173
@harshavardhana @jasonblais  I could be mistaken, but it appears that amazon has changed the way VPC endpoints work and now handle them at the DNS or route table level.  IE, no need to use a different url anymore.  Do you guys read things the same way?

http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/vpc-endpoints-s3.html

Also, mino has now added support for auth with instance profiles.  Is

[2017-06-09 15:26] jasonblais commented on #5735
Cannot reproduce on MM 3.10

[2017-06-09 15:26] #5735 closed

[2017-06-09 21:36] sedrubal commented on #5741
Now it happened again in "Mattermost Dark" mode but I could fix it by changing to the "Organization" Theme and switching back to "Mattermost Dark". But the settings modal did not disappear after clicking on the <kbd>x</kbd>. I reloaded the page and then everything worked as expected. (But only reloading the page did not help in the past).

[2017-06-09 21:44] jasonblais commented on #5741
Thansks @sedrubal, hmm. Wondering if you'd like to post an issue report in our troubleshooting forums? https://forum.mattermost.org/t/how-to-use-the-troubleshooting-forum/150

It has more visitors and it would be good to hear if other people have faced it. We haven't been able to reproduce this one on our end yet but would love to find a root cause for it.

[2017-06-09 21:56] MusikPolice commented on #6603
@jostyee I agree that logrus is heavier than it strictly needs to be. In general, I agree with the overall sentiment of that article, but I think the author takes it too far. The fact of the matter is that logs are not only meant to be human readable. Some applications require logs to be machine readable, so adding additional context to the log message is valuable. Further, applications that are i

[2017-06-11 03:58] jsfeb26 commented on #6491
I'll work on this

[2017-06-11 22:57] jtdaugherty commented on #6523
@lfbrock - thanks! We can't contribute this change ourselves.

[2017-06-12 07:26] lindy65 commented on #6529
Hi @vrenjith,

Apologies for the delay in responding,

V3.10 is due to release soon (June 16th) and we wondered if we could have your help upgrading to the release candidate to see whether this issue still persists for you?

You can find the links for the downloads [here](https://pre-release.mattermost.com/core/pl/85ju7kyiwbbrip8m35iq7tz4xy)

Let us know if this helps?

Thanks!

[2017-06-12 09:48] cpanato commented on #6523
I can take that if you guys don't have any objection.

[2017-06-12 12:30] princehorn opened #6628 "Search: Auto-complete when typing “in:" fills in first channel name directly"
#### Summary
While typing in the search input field the key word "ui:" to search in a dedicated channel, the auto completion adds the first channel from the channel list directly after the ":". There is no possibility to type in your desired channel name.

#### Steps to reproduce
Version: 3.7.0
Client: Windows
Focus search input field and type "in:"

#### Expected behavior
The system may present m

[2017-06-12 12:40] jwilander commented on #6523
If you're just looking for the server version, it's attached as a response header to every REST API call:

[code]

If that's all you need I don't think we'll need to add an endpoint for this

[2017-06-12 14:21] jtdaugherty commented on #6523
@jwilander - thanks, we weren't aware of that header. Should we take this to mean that we can probe the server version by making any (failed) API call prior to authentication and expect this header?

As far as the content of the header goes, it doesn't improve matters, because the version string returned suffers from the same problem I outlined above, namely that the string's format is not parse-f

[2017-06-12 14:37] jwilander commented on #6523
You don't have to make a failed API request, you could hit the ping endpoint which doesn't require authentication: https://api.mattermost.com/v4/#tag/system%2Fpaths%2F~1system~1ping%2Fget

As for the server version being difficult to parse, I agree and think it makes sense to update it to be more parse-friendly. I've [queued an item to talk about this at our next developer meeting](https://pre-rel

[2017-06-12 15:29] jtdaugherty commented on #6523
Oh, thanks - we also didn't know about the system ping endpoint!

I look forward to hearing how your discussion goes.

[2017-06-12 17:02] esethna commented on #6562
#### RC2 is cut!

Enterprise Edition
Link: https://releases.mattermost.com/3.10.0-rc2/mattermost-3.10.0-rc2-linux-amd64.tar.gz
MD5 Hash: 3debcd5ff6874b7a428c54878ae35bba
SHA-1 Hash: 6588eb149bae4b81648ee5648aedbe2751fb0719
SHA-256 Hash: c79cd1a49d6fa72c8184711541c2733aee065180f24d2d985131674a881b2b43

Team Edition
Link: https://releases.mattermost.com/3.10.0-rc2/mattermost-team-3.10.0-rc2-linux-am

[2017-06-13 08:07] lindy65 commented on #6628
Hi @princehorn,

Thanks for your feedback,

Could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost?

Version 3.10 will be released on June 16th so you might wish to wait until then to upgrade.

[2017-06-13 08:20] lindy65 commented on #6613
Hi @jostyee,

Thank you for your feedback,

Am I understanding correctly that you don't want source maps included so you can save space?

Source maps are not retrieved by the client unless the dev tools are open.

[2017-06-13 08:33] jostyee commented on #6613
@lindy65 So why ppl debug in production mode? According to the Makefile, it already defines a dev mode to do this work.

The problem is these files doubles the size of the packed image, which is unnecessarily wasting disk space and slowing down release phase.

[2017-06-13 16:33] lindy65 commented on #6613
Hi @jostyee,

In answer to your question, from one of our devs, we debug in production so when people come to us for support we can give them better answers. It does not slow down the released version at all.

Does that help?

[2017-06-13 17:10] moonmeister commented on #6366
This seems like a some what major issue. I can't relay mail through smtp-relay.gmail.com. Which is how I do everything. I'm not really interested in editing the code every-time there's an update. Is this something that is going to get fixed in the code base? thanks

[2017-06-13 18:15] moonmeister commented on #6366
I'm not sure if I need a help wanted ticket for this but I'm working on adding a boolean option to enable/disable auth.

[2017-06-13 18:51] sedrubal commented on #5741
Thanks.

To complete the questions [above](#issuecomment-304901511):

If it is the case that the style breaks, the error appears on every page with dark theme when reloading the tab. (So it does not appear at `https://mattermost.xxx.xx/<team>/integrations`).

Creating a new empty channel and reloading the page in this channel seems to fix the issue. Then I can open the old channels and it seems st

[2017-06-13 19:51] esethna commented on #6562
#### RC3 is cut

Enterprise Edition
Link: https://releases.mattermost.com/3.10.0-rc3/mattermost-3.10.0-rc3-linux-amd64.tar.gz
MD5 Hash: a3087572d9a2e2a7e3e29ae2509929e8
SHA-1 Hash: 97243df181be3e54c459f92d9dc0d65c6658acdd
SHA-256 Hash: 47a23ae38375abd98215c805667e3444d401e3fc78a777c2c650b030f1cf1b22

Team Edition
Link: https://releases.mattermost.com/3.10.0-rc3/mattermost-team-3.10.0-rc3-linux-amd

[2017-06-13 23:49] MusikPolice commented on #6603
I've been reading about Go's `context` package, and have run into a potential problem with serializing it into a JSON string that can be logged.

Ideally, I'd like to use the `context` package in a manner similar to the `MappedDiagnosticContext` from Java's `Logback` library: A key-value store that is a property of the request thread on which values pertinent to the current request can be temporar

[2017-06-14 00:37] MusikPolice commented on #6603
Discussed with @coreyhulen. Decided that the logger will keep the context keys in internal consts, as this is [suggested best practice](https://medium.com/@matryer/context-keys-in-go-5312346a868d). The logger will export some functions that let users add specific items to the `Context`. This will give us whitelist control over what values are logged, in case sensitive stuff is inadvertently put on

[2017-06-14 02:24] jostyee commented on #6613
Nope, when I said slow down I didn't mean users' browser performance, & I don't agree with your debugging way in production.
I've modified the Makefile by myself locally to workaround it.

[2017-06-14 02:24] #6613 closed

[2017-06-14 09:26] tohn opened #6641 "Mattermost v3.9.0 doesn't work in old browsers (Firefox ESR 45)"
#### Summary
Mattermost v3.9.0 doesn't work in old browsers, for example [Firefox ESR 45.9.0](https://www.mozilla.org/en-US/firefox/organizations/all/). It just shows three loading dots.

#### Steps to reproduce
* Install Firefox ESR 45.9.0 (operating system doesn't matter, we tested on macOS 10.6, macOS 10.8, Windows 8.1 and Arch Linux)
* Open Mattermost in this browser (Version should be 3.9.0 b

[2017-06-14 11:38] lindy65 commented on #6346
Hi @prateeksriv, we haven't received any feedback so will close the issue off for now.

If you'd still like to continue the discussion, feel free to reopen this issue.

[2017-06-14 11:38] #6346 closed

[2017-06-14 11:41] lindy65 commented on #6477
Hi @ilvolodel, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-14 11:41] #6477 closed

[2017-06-14 11:43] lindy65 commented on #6489
Thanks @romantomchak and @marc0s

It seems this issue is solved for now so I'll close this off...  Feel free to reopen the issue if you still experience problems.

[2017-06-14 11:43] #6489 closed

[2017-06-14 11:45] lindy65 commented on #6497
Hi @andreydanil, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-14 11:45] #6497 closed

[2017-06-14 11:48] lindy65 commented on #6590
I'll close this issue off for now @dansto

Feel free to reopen it if you still experience problems after your upgrade.

[2017-06-14 11:53] lindy65 commented on #6641
Hi @tohn,

Thanks for your report,

We have a [ticket](https://mattermost.atlassian.net/browse/PLT-6650) open to investigate this.

You can also take a look at [this conversation](https://github.com/mattermost/platform/issues/6428) about ESR 45.

[2017-06-14 12:50] tohn commented on #6641
Thanks a lot, I didn't find this ticket as I searched for similar issues ..
Since the bug is fixed in 3.10, I'll close this issue here, thanks :)

[2017-06-14 13:01] tohn commented on #6641
Ok, I didn't see, that there was just an adjustment of the requirements ...
Is there another solution to this? Maybe even the nginx line?
Otherwise: could you also include this to the known list of bugs or the breaking change? Maybe it will help others to wait for a fix before upgrading ...

[2017-06-14 14:15] jasonblais commented on #6641
@tohn Firefox ESR 45 had an [end-of-life scheduled for June 13](https://en.wikipedia.org/wiki/Firefox_version_history), so we're recommending to upgrade to Firefox ESR 52, which is the next version.

Do you have plans to migrate over to Firefox 52 ESR or will this continue to be an issue for your users?

PS: I 100% agree this should have been noted in the changelog. This is our fault, and I've sub

[2017-06-14 15:23] jkae opened #6644 "Unable to create users through API as admin if server is closed"
#### Summary
Admin users are not able to sign other users up in a closed Mattermost server via the API in **3.9.0**

#### Steps to reproduce
1. Navigate to `/admin_console/security/sign_up` and ensure `Enable Open Server` is false
2. Log in as admin user through the api through `/api/v3/users/login`
3. Create a new user account with `/api/v3/users/create` using admin token as authorization
4. Atte

[2017-06-14 16:16] esethna opened #6645 "[Help Wanted] [PLT-6842] User's role does not update in their client until the page is refreshed"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-14 16:27] michael87 opened #6646 "Path in a message result in message error (command not found)"
As developer sometimes i try share a path in a command. I sometimes forget that / in the beginning not works, because it can not find a path. But in stead of show a message that it has the wrong command and leave the message in the input field. It clear the input field.

After writing a long message, it ends in frustration that i lost my message. Can it change to leave the message and show a messa

[2017-06-14 16:45] esethna commented on #6562
#### RC4 is cut!

Enterprise Edition
Link: https://releases.mattermost.com/3.10.0-rc4/mattermost-3.10.0-rc4-linux-amd64.tar.gz
MD5 Hash: 123790056992652969d0deb22b31be53
SHA-1 Hash: 48d81e65378f03c107af9c7b60ddf770ce823089
SHA-256 Hash: e8ee62f35a1e972be4889d22d19a145c14b68db38b2321ca429582c0d1a12661

Team Edition
Link: https://releases.mattermost.com/3.10.0-rc4/mattermost-team-3.10.0-rc4-linux-am

[2017-06-14 22:05] tpo commented on #6428
Debian stable has updated Firefox to 52.2.0. I can confirm that Mattermost now works in Debian stable with Firefox. That takes some steam out of my argument.

[2017-06-15 06:55] cpanato commented on #6554
there is PR for this : https://github.com/mattermost/platform/pull/6650 from @kkamdooong

[2017-06-15 09:23] computerlove opened #6652 "Incomming webhook containing url with parameters gives 400 response"
#### Summary
When posting to a webhook with a message containing a url with `&` query parameters the response is 400.

#### Steps to reproduce
Post the following message to a `webhook:`
`{"attachments": [{"fallback":"fallback","title":"webhook","text":"this is a url: http://www.domain.no/a/b/105?egenskap=asda&fylke=12\nHTTP[500] Error[Code=(5001)"}], "username": "PROD"}`

#### Expected behavior
Th

[2017-06-15 09:34] kailashverma2402 opened #6653 "Getting issue "You do not have appropriate permissions" when a member is sending a new private message to anyone in team."
#### Summary
Getting issue "You do not have appropriate permissions"  when a member is sending a new private message to anyone in team.

#### Steps to reproduce
using version 3.5.1

#### Mattermost setup details : using matermost in docker, deployed this in ECS cluster. System admin is able to access everything and send messages, but other members are getting this issue frequently.

screenshot men

[2017-06-15 10:36] lindy65 commented on #6653
Hi @kailashverma2402,

Thanks for your feedback,

Could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost to see whether the issue still persists?

[2017-06-15 12:19] jwilander commented on #6523
Ok, so the server version in the response header is mainly just used to detect if the client needs to reload from the server.

To get the server version you can [the client config endpoint `/api/v4/config/client?format=old`](https://api.mattermost.com/v4/#tag/system%2Fpaths%2F~1config~1client%2Fget) which will yield a bunch of useful values, including server version:
[code]

[2017-06-15 13:15] muirdok opened #6656 "Join user to more than one team via cli makes server unworkable"
#### Summary
When add user to multiple teams it makes infinity loops with error in log:
[code]
Actual for
[code]
#### Steps to reproduce
1) Create one team e.g. team1
[code]
2) Create user (joined to team1) and login via browser to check this user\team,
[code]
3) Create second team e.g. team2
[code]
4) Refrest browser and click to team2 icon

#### Expected behavior
User can access to team2

#### O

[2017-06-15 13:47] enahum commented on #6652
Hey @computerlove can you share your server version? cause this is working for me on a 3.8+ server

[2017-06-15 13:53] lfbrock commented on #6646
Hi @michael87 - thanks for the report,

I think it will be hard to just send a message starting with a `/` since we don't know if it's a slash command or not, but I wrote a [ticket](https://mattermost.atlassian.net/browse/PLT-6847) here to improve the experience by:

1. Keeping the message in the text box if it fails to send
2. Updating the error message to let users know to include a space at the

[2017-06-15 14:36] computerlove commented on #6652
The server is 3.9.0.

[2017-06-15 14:42] enahum commented on #6652
have you set the `Content-type` to `application/json` in the header?

as you can see in the attached image is working just fine for me
![image](https://user-images.githubusercontent.com/6757047/27186736-3d98c068-51b7-11e7-859e-f956d3099b77.png)

[2017-06-15 15:12] funkyfuture opened #6658 "email api fails silently"
#### Summary
though i posted this [as a support request](https://forum.mattermost.org/t/sending-a-verification-email-fails-silently/3400), i realized that silently failing when trying to send an email is a bug.

this affects at least Mattermost 3.9.0 and 3.10.0.

#### Steps to reproduce
- configure a nonsense smtp host name
- trigger the sending of an email

#### Expected behavior
- a message at e

[2017-06-15 15:23] computerlove commented on #6652
Sorry, my reproduction step was wrong. I was using `payload=JSONPAYLOADHERE` and `x-www-form-urlencoded`.

When posting the just json as `application/json` it works.

[2017-06-15 16:06] esethna opened #6659 "[Help Wanted] [PLT-6847] If a message starts with a / but is not a slash command, put the text back in the input box when it fails to send"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-15 16:50] cpanato commented on #5834
I will take this one asap this https://github.com/mattermost/platform/pull/6566 is merged :)

[2017-06-15 19:58] michael87 commented on #6646
Hi @lfbrock ,

Thanks for responding. This is exactly what i mean. I didn't saw this ticket. :+1:

[2017-06-15 20:03] lfbrock commented on #6646
I actually just made the ticket based on your report, so thanks for bringing it up :)

I'll close this GitHub issue, and track the issue in Jira.

We also have a Help Wanted ticket here if anyone would like to contribute a fix for this: https://github.com/mattermost/platform/issues/6659

[2017-06-15 20:03] #6646 closed

[2017-06-16 07:55] dansto commented on #6590
after Upgrade we still get the same error.

We are using PostgreSQL 9.5

Here ist the Postgres error log:

2017-06-16 09:49:46.055 CEST [31182] mmuser@mattermost ANWEISUNG:  insert into "channels" ("id","createat","updateat","deleteat","teamid","type","displayname","name","header","purpose","lastpostat","totalmsgcount","extraupdateat","creatorid") values ($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12,$13

[2017-06-16 08:38] dansto commented on #6590
@lindy65 could you reopen #6590 ?

[2017-06-16 09:24] cpanato commented on #6659
@lfbrock
one question, what should be the message when the user try to run a slash command but it not exists?
this case you mentioned is ok, but if the user tries to run a `/myslash` and it does not exist the message should be the existing one, right?

how to differentiate those?

thanks

[2017-06-16 09:29] lindy65 commented on #6590
Sure, @dansto :)

Are you still experiencing this issue after upgrading to Mattermost 3.10?

I am still not able to repro your issue on our postgres instance (even without an enterprise licence) so I'll ask one of our devs if they can assist.  Perhaps it has something to do with Postgres database?

[2017-06-16 10:05] dansto commented on #6590
yes still after upgrade

as a workarround we can use the new function "switch channels ctrl-k"

[2017-06-16 11:36] filipp commented on #4032
I have the same issue with 3.9 server, 3.7 client on iOS 10.3.2 Force quitting MM doesn't help. Here's a screenshot.
![img_5594](https://user-images.githubusercontent.com/100739/27225061-2ed0e02a-52a1-11e7-9bb0-c28adc7ced46.PNG)

[2017-06-16 13:59] fasterforward opened #6668 "Town-square channel view member info GUI bug"
#### Summary
Town-square channel - view members screen renders an empty option list when clicking on Channel Member option

#### Steps to reproduce
As a System Administrator:

1. Click on the town-square channel
2. Navigate to the View Members
3. Click on Channel Member option at one of the added members

#### Observed behavior
![image](https://user-images.githubusercontent.com/10937975/27229451-f

[2017-06-16 14:21] lfbrock commented on #6590
Hi @dansto - does this happen for all group messages you try to re-open, or only for specific ones?

[2017-06-16 15:39] jasonblais commented on #6668
Thanks @fasterforward for the report! I've created a bug ticket here: https://mattermost.atlassian.net/browse/PLT-6865

[2017-06-16 15:40] lfbrock commented on #4236
Closing this for now, we're looking at redesigning file uploads and may redesign this as well + reopen

[2017-06-16 15:40] #4236 closed

[2017-06-16 15:44] lfbrock commented on #4510
Closing - no longer an issue since we switched emoji autocomplete to only open after typing two characters after the colon

[2017-06-16 15:44] #4510 closed

[2017-06-16 15:49] #4750 closed

[2017-06-16 15:51] #4868 closed

[2017-06-16 15:55] lfbrock commented on #4994
Fixed in v3.10

[2017-06-16 15:55] #4994 closed

[2017-06-16 15:56] lfbrock commented on #5224
Closing this one + replacing with: https://github.com/mattermost/platform/issues/6659

[2017-06-16 15:56] #5224 closed

[2017-06-16 16:00] lfbrock commented on #5290
Closing for now until we get more feature requests on this to justify the feature

[2017-06-16 16:00] #5290 closed

[2017-06-16 16:19] lfbrock commented on #6076
This is fixed

[2017-06-16 16:19] #6076 closed

[2017-06-16 16:19] #6063 closed

[2017-06-16 16:20] lfbrock commented on #6063
duplicate of https://github.com/mattermost/platform/issues/6084

[2017-06-16 16:25] esethna commented on #6239
Closing as fixed with: https://github.com/mattermost/platform/pull/6661

[2017-06-16 16:25] #6239 closed

[2017-06-16 16:27] #6423 closed

[2017-06-16 16:27] #6424 closed

[2017-06-16 16:28] #6468 closed

[2017-06-16 16:31] #6496 closed

[2017-06-16 16:32] esethna commented on #6562
Final was cut from RC4.

Enterprise Edition
Link: https://releases.mattermost.com/3.10.0/mattermost-3.10.0-linux-amd64.tar.gz
MD5 Hash: 93a2c70a068d06c18f3eea0bee9c8949
SHA-1 Hash: 611f12094cbffc3e8e86917987cc998819c2f20b
SHA-256 Hash: 3977cb70b88a6def7009176bf23880fe5ad864cead05a1f2cae7792c8ac9148c

Team Edition
Link: https://releases.mattermost.com/3.10.0/mattermost-team-3.10.0-linux-amd64.tar.g

[2017-06-16 16:32] #6562 closed

[2017-06-16 16:46] fasterforward opened #6670 "New Channel - When editing the channel URL to an empty value it does not fallback to the channel name"
#### Summary
New Channel - When editing the channel URL to an empty value it does not fallback to the channel name

#### Steps to reproduce
As a system administrator

1) Create new channel
2) Directly edit the Channel URL e.g. "Dev"
3) Give the channel a name e.g. "Development"
4) Edit the Channel URL again to an empty value and click the button "Change Channel URL"
5) Mattermost throws the messag

[2017-06-16 17:21] fasterforward opened #6674 "Channel header textarea in popup does not refresh when editing by clicking the link "Set a Header""
#### Summary
Old channel header text does not refresh when editing a channel header by clicking the link "Set a Header"

#### Steps to reproduce
As a system administrator

1) Click on a channel with an existing header and scroll to the very beginning of the channel (or just create a new channel)
2) Click on the option "Set a Header" (at the start of the channel, where it was created)
3) Edit the h

[2017-06-16 17:45] lfbrock commented on #4550
Closing issue, replaced with: https://mattermost.atlassian.net/browse/PLT-6869

[2017-06-16 17:45] #4550 closed

[2017-06-16 17:51] lfbrock commented on #6084
this seems fixed

[2017-06-16 17:51] #6084 closed

[2017-06-16 17:52] jtdaugherty commented on #6523
@jwilander - are those values provided as HTTP response headers? And is this likely to be something we can rely on in the long term?

@kquick - what are your thoughts on this? It seems adequate to me.

[2017-06-16 17:54] lfbrock commented on #6124
We have markdown unit tests in the markdown library, so closing this one

[2017-06-16 17:54] #6124 closed

[2017-06-16 17:56] jwilander commented on #6523
They're actually included in the body of the response, JSON formatted key/value pairs. That endpoint does not require any authentication

[2017-06-16 18:00] jtdaugherty commented on #6523
@jwilander - thanks. Is this response content something you envision keeping around for the long term? If we're going to depend on something like this for an important part of our client, I'd like to know how stable it is.

Also, I didn't see any of those values documented in the link you gave; are they documented somewhere else?

[2017-06-16 18:08] #5368 closed

[2017-06-16 18:08] jwilander commented on #6523
Yes this will be around for a long time and can be considered stable, they are essential to our client applications.

We will at some point transition to using a better formatted response object (hence the `?format=old` required in the endpoint query right now) but we will maintain the old format to make sure to not break any one else. If it ever gets deprecated we'll make sure to give a large hea

[2017-06-16 18:10] jtdaugherty commented on #6523
Okay. Thank you!

[2017-06-16 18:21] jasonblais commented on #6200
This is fixed for the channel switcher. Separate ticket for at-mention autocomplete here: https://mattermost.atlassian.net/browse/PLT-6871

[2017-06-16 18:21] #6200 closed

[2017-06-17 00:10] kquick commented on #6523
That looks pretty complete, and seems to be just the informational, non-authentication endpoint we were looking for.  Let me make some matterhorn updates to incorporate this (target timeframe of  middle of next week) but at the moment I think this is good.

There's also some additional information we probably want to consume in the client to guide the interaction with the Mattermost server.

[2017-06-17 09:25] cpanato commented on #5834
PR: https://github.com/mattermost/platform/pull/6677

[2017-06-18 06:05] vrenjith commented on #6529
Looks like it is not helping 😢

On Mon, 12 Jun 2017 at 12:57 PM, lindy65 <notifications@github.com> wrote:

--
Regards,
Renjith

[2017-06-18 16:41] lindy65 commented on #6529
Hi @vrenjith,

Thanks for coming back to us...

To clarify, you have upgraded to Mattermost v3.10 and are still experiencing problems.  Could you tell me, do your users experience this issue with public channels, private groups or direct messages?  Or all three?

As I am having a problem reproducing this issue, could you help by giving me some exact repro steps to follow?

You mentioned the issue

[2017-06-19 07:37] lindy65 commented on #6674
Hi @fasterforward,

Thank you for your feedback,

Could you tell me what version of Mattermost you have installed?

I am not able to reproduce your issue on the latest master.  If you haven't already, could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost?

[2017-06-19 07:44] lindy65 commented on #6670
Hi @fasterforward,

Thank you for your feedback,

I'll ask one of the product managers to take a look at your issue as it does seem that it would make sense to fall back to the default channel name given in step 2. if the user goes back to edit the channel URL to be an empty value as per step 4.

[2017-06-19 07:53] dansto commented on #6590
yes for all group messages with more than 2 users....

[2017-06-19 10:38] fasterforward commented on #6674
We're using version 3.10.0

[2017-06-19 14:28] cpanato commented on #6573
PR: https://github.com/mattermost/platform/pull/6684

[2017-06-19 16:36] #6460 closed

[2017-06-19 17:26] jtdaugherty commented on #6523
@kquick okay, great; in that case, I think we can consider this closed now that we have what we need.

[2017-06-19 17:26] #6523 closed

[2017-06-19 17:36] jasonblais commented on #5173
@harshavardhana any thoughts on the post above regarding S3 VPC endpoint support?

IAM role support for Mattermost is possible thanks to Minio's implementation here: https://github.com/minio/minio-go/pull/646. Is that what you were referring to by `auth with instance profiles`?

[2017-06-19 17:41] harshavardhana commented on #5173
Yes @jasonblais - that's what @tejaycar mentioned.

Not sure about this part yet @tejaycar if you can open a bug on minio-go end we can perhaps take a look at it

[2017-06-19 17:47] #6520 closed

[2017-06-19 19:34] tejaycar commented on #5173
@harshavardhana not sure what bug I would open.  My point is that, if I
understand the current approach to VPC endpoints, there is nothing needed
on the software end.  I believe that they are now handled in the route
table on AWS.

On Mon, Jun 19, 2017 at 11:41 AM, Harshavardhana <notifications@github.com>
wrote:

[2017-06-19 19:46] harshavardhana commented on #5173
Oh then it should work right away. @tejaycar with no changes.

[2017-06-19 19:54] tejaycar commented on #5173
Yes, I agree.  The vpc endpoint should be good to go with no changes.
We'll need a PR on mattermost to get the instance profile part working.

On Mon, Jun 19, 2017 at 1:46 PM, Harshavardhana <notifications@github.com>
wrote:

[2017-06-19 20:33] harshavardhana commented on #5173
Yes that would require mattermost to fallback to IAM roles or credentials file which can be changed together as well. - https://github.com/minio/minio-go/blob/master/pkg/credentials/chain.go

[2017-06-20 08:14] artem-sidorenko commented on #5493
I've the same problem:
 - SMTP relay configured with STARTTLS or even PLAIN
 - no authentication configured / enabled

mattermost is not sending the mail out and I see following error message
[code]

Using wireshark I see following SMTP communication:
[code]

[2017-06-20 09:12] kirankamble1597 commented on #2524
what is the solution for this warnings:

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: node-sass@4.5.3 (node_modules\@angular\cli\node_modules\node-sass):
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: sha1-0JydEXlkEjnRuX/8YjH9zsU+FWg= integrity checksum failed when using sha1: wanted sha1-0JydEXlkEjnRuX/8YjH9zsU+F
Wg= but got sha1-s2pxSAYo2LL5wVb23z3fPwsKsfI=. (359925 bytes)

[2017-06-20 09:33] lindy65 commented on #6674
Ah, I see it now, thanks @fasterforward!  I've created [this ticket](https://mattermost.atlassian.net/browse/PLT-6881) to fix the issue.

[2017-06-20 10:00] charles-passille-smartnets commented on #6659
@cpanato
I have two suggestions:

1. Return the `/myslash` to the input field and then you have to delete the invalid command, this is preferable in the case where `/myslash` *exists* but you accidently typed `/myslahs` . You can just fix the typo instead of retyping everything.

2. Alternatively, you could have the input field return empty as it is the case right now, but add a "Copy to clipboard

[2017-06-20 10:46] SjonHortensius opened #6689 "3.10.0 - reset_password_complete?code=xxx fails with "Invalid code parameter""
#### Summary
Reset password fails with "Invalid code parameter".

#### Steps to reproduce
Request password reset; attempt to submit new password. This seems to work in Chrome, but not in Firefox (54.0).

#### Possible fixes
Might be caused by https://github.com/mattermost/platform/blob/2bbedd9def2a782f370fb5280994ea0ecbf8a7c7/webapp/components/password_reset_form.jsx#L48 using `this.props.location

[2017-06-20 11:59] cpanato commented on #6689
I did the flow to reset the password using the current `master` and did not have any issues.

[2017-06-20 12:00] SjonHortensius commented on #6689
Right; I should have included a version.

[2017-06-20 12:02] cpanato commented on #6689
can you clarify better the steps to reproduce?

[2017-06-20 12:05] SjonHortensius commented on #6689
Yes; it might be Firefox specific as it seems to work in Chrome.

[2017-06-20 12:10] SjonHortensius commented on #6689
This was caused by a reset-mail send from 3.9 (which uses `?code`) to an installation that switched to 3.10 (which uses `?token`)

Fixed

[2017-06-20 12:10] #6689 closed

[2017-06-20 12:19] jasonblais commented on #5493
@artem-sidorenko Currently either option requires authentication (if your SMTP relay doesn't have authentication configured, it doesn't work).

We have a PR here that should address the issue: https://github.com/mattermost/platform/pull/6639

[2017-06-20 12:25] jasonblais commented on #6659
@cpanato I think `Command with a trigger of 'path/to/directory' not found. To send a message beginning with "/", try adding an empty space at the beginning of the message.` works for that case too?

[2017-06-20 13:02] philjak opened #6692 "Search doesn't work with the content of gitlab integrations comment"
#### Summary
Search on channel doesn't work with the content of gitlab comments, which will be posted into a channel via internal webhook.

#### Steps to reproduce
- Create a gitlab integration to a channel
- Create a issue/comment
- Search for a word within this comment

#### Expected behavior
Search should show also gitlab integration posts, that contain the searched word.

#### Observed behavio

[2017-06-20 14:42] cpanato commented on #6659
PR: https://github.com/mattermost/platform/pull/6695

[2017-06-20 16:06] esethna opened #6698 "[Help Wanted] [PLT-6882] Incorrect feedback message when using slash command "/invite people" and "enable account creation" is set to "false""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-20 16:26] esethna opened #6699 "Change at-mention autocomplete to prioritize entries where the username starts with the search string"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-20 16:47] ftKnox commented on #6529
@lindy65 I am also having this same issue. We had a server running on 3.0.2 that I upgraded to 3.10 and it is having a similar problem. It happens in all three (pub, private, and direct). Its weird cause not all channels are having the issue. In addition, I am also unable to create any new direct messages to anyone. I have tried using the 3.10.0 tarball downloaded from Mattermost.org and compiling

[2017-06-20 16:53] #6573 closed

[2017-06-20 17:50] ftKnox commented on #6529
@lindy65 i also found this in the debug log

```/api/v3/general/log_client:client code=0 rid={...} uid={...} ip=X.X.X.X msg: Uncaught TypeError: Cannot read property 'post' of undefined row: 1 col: 606119 stack: TypeError: Cannot read property 'post' of undefined url: https://{...}/static/main.281219635eafaf77b86a.js [details: ]  ```

[2017-06-20 17:58] lindy65 commented on #6529
Thanks for your detailed feedback @ftKnox,

Could you tell me which OS and browser you're using?

[2017-06-20 17:59] ftKnox commented on #6529
@lindy65 i am on macOS, and i have tried it in (chrome, firefox, safari, safari tech preview) and the desktop app v3.7.0

[2017-06-20 18:05] lindy65 commented on #6529
OK, wow - thanks @ftKnox, I'm going to ask a colleague to help try to repro on our side as it's just not repro'ing for me.  Will get back to you with feedback soonest.

[2017-06-20 18:07] ftKnox commented on #6529
@lindy65, if it helps i can create another team on the server and add you an account, btw it has the same issue on windows with firefox

[2017-06-20 18:54] jasonblais commented on #6529
@vrenjith @ftKnox

I'm wondering if these users are stuck in a corner case of the tutorial.

Can they try going to their URL followed by slash tutorial: `https://<mattermost-url>/<team>/tutorial`

For pre-release it would be: `https://pre-release.mattermost.com/core/tutorial`

When they land that page, they should skip the tutorial to see if it fixes it.

[2017-06-20 18:54] jasonblais commented on #6529
@vrenjith @ftKnox

I'm wondering if these users are stuck in a corner case of the tutorial.

Can they try going to their URL followed by `/tutorial`: `https://<mattermost-url>/<team>/tutorial`

For `mattermost.com` domain with team name `core` it would be: `https://mattermost.com/core/tutorial`

When they land that page, they should skip the tutorial to see if it fixes it.

[2017-06-20 19:01] ftKnox commented on #6529
@jasonblais nope this does not fix my issue. I did create a new user on the same team as well and now there is a different error when clicking on the town square channel.

[code]

I also created a completely new team and added a user and there are no issues at all. So i am wondering if its some props issue in the database, I am comparing rows for the 2 users on the different teams now.

[2017-06-20 19:10] lindy65 commented on #6674
Hi @fasterforward,

FYI, this issue doesn't repro on our nightly build server so it seems the issue is fixed and will ship with v4.0 on July 16th.

[2017-06-20 20:08] ftKnox commented on #6529
@jasonblais it looks like it something to do with the way the filenames were stored in the older versions of the server, since new posts no longer use the filename field in the posts table. Could it be an issue with the files not existing on the server?

<img width="538" alt="screen shot 2017-06-20 at 2 06 20 pm" src="https://user-images.githubusercontent.com/11303823/27353582-bd12c696-55c1-11e7-8

[2017-06-20 20:28] ftKnox commented on #6529
@jasonblais @lindy65 this diff fixes the issue for me

[code]

[2017-06-20 20:53] jasonblais commented on #6529
That's a good catch. Would you like to submit a pull request for it and I'll ask @hmhealey to review? He's most familiar with file migration.

There have been some major file changes between 3.0 and 3.10

[2017-06-20 20:56] ftKnox commented on #6529
@jasonblais sure no problem

[2017-06-20 21:22] ftKnox commented on #6529
sorry for the dupe

[2017-06-21 00:24] ccbrown commented on #6555
I'll take this one.

[2017-06-21 00:24] ccbrown commented on #6556
I'll take this one.

[2017-06-21 00:24] coreyhulen commented on #6556
Yup @ccbrown it's all yours.

[2017-06-21 00:25] coreyhulen commented on #6555
Yup @ccbrown it's all yours.

[2017-06-21 01:05] emptyarray commented on #6495
I'll take this one.

[2017-06-21 01:07] coreyhulen commented on #6495
@emptyarray it's all yours.

[2017-06-21 06:17] moonmeister commented on #6698
@jasonblais I'll take this.

[2017-06-21 06:28] lindy65 commented on #6529
Thanks @jasonblais and good catch @ftKnox!  Thanks for the pull request, appreciated :)

[2017-06-21 09:57] kailashverma2402 commented on #6653
@lindy65 Have upgraded the mattermost, will monitor this for some time.
I am still getting few issues like :  Messages are not getting delivered, we have to refresh desktop application to get the new messages, whereas on mobile i am not getting any issues.
The version of Application is : 3.7.0

[2017-06-21 10:49] lindy65 commented on #6692
Hi @philjak,

Could you tell me which version of Mattermost you are using?

[2017-06-21 16:37] philjak commented on #6692
Hi @lindy65,

we're using Mattermost Enterprise 3.10.

Thanks.

[2017-06-21 19:01] aisamanra opened #6715 "Certain uses of API can result in anomalous flagged post list"
#### Summary
It is possible (via direct usage of the API) to have a post which does not appear to be flagged (i.e. which lacks the blue flag icon) but nonetheless appears in the flagged post list.

#### Steps to reproduce
Reproduced on both v3.8 and v3.9 with a POST request to `/api/v3/preferences/save` as described below.

#### Expected behavior
Posts are flagged using the `/api/v3/preferences/sa

[2017-06-21 19:18] lindy65 commented on #6692
Thanks @philjak,

There are a couple of tickets open where search fails when the database is a Postgres one - not sure what database you have?
https://mattermost.atlassian.net/browse/PLT-5390
https://mattermost.atlassian.net/browse/PLT-5471

If that is not the issue, we are working on improving search and you can track the epic ticket [here](https://mattermost.atlassian.net/browse/PLT-5472)

[2017-06-21 19:23] simon0191 commented on #6090
Hey! What do you think about registering each call to a translation function in both backend and frontend of the pre-release instance and then use the list of registries to check which translations are missing.

For example, "register" the translation key inside NewLocAppError like this:
[code]

`RegisterTranslationKey`may log the key with some prefix so it can be easily searchable later in the lo

[2017-06-21 21:07] #5834 closed

[2017-06-21 21:12] ccbrown commented on #6545
I'll take this one.

[2017-06-21 21:21] esethna commented on #6670
Hi @fasterforward, thanks for your comment,

Can you please help me understand why it is expected behavior to repopulate the field with the old channel URL if the user clicks "Change Channel URL"? The "Close" button will revert the channel URL to the old value. In my mind I think it would cause more confusion to have a value save something different than the user input in the text box.

[2017-06-21 21:31] esethna commented on #6658
Thanks @funkyfuture, totally agree with you, I've created a ticket to [track in JIRA](https://mattermost.atlassian.net/browse/PLT-6910).

[2017-06-21 21:31] #6658 closed

[2017-06-21 21:41] esethna commented on #6656
Thanks for the report @muirdok, highly appreciated. I've created a ticket to [track in JIRA](https://mattermost.atlassian.net/browse/PLT-6911).

[2017-06-21 21:41] #6656 closed

[2017-06-21 23:11] ccbrown commented on #5356
I'll take this one.

[2017-06-22 08:10] philjak commented on #6692
Hi @lindy65,

for your information: We're using postgresql as well.

But it's not exact the same problem like the other postgresql bugs, because the search doesn't show any results no matter what you search (even a single word).

Thanks for looking into this!

[2017-06-22 15:04] jasonblais commented on #6529
@ftKnox It looks like this bug only existed in the `master` branch, and therefore may not resolve it when upgrading from an older version to 3.10 (or 4.0 released in July).

Wondering if you saw the same issue after downloading 3.10 as when you compiled `master`, or if the issues were different.

[2017-06-22 16:15] esethna opened #6724 "[Help Wanted] [PLT-6896] Add paging to system console log viewer"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-22 17:56] ftKnox commented on #6529
@jasonblais I believe it was the same issue in master and in the tarball. I can't remember if the error was identical, but the behavior in the ui was the same. I ended up installing chrome and the reactjs devtools to find the issue.

[2017-06-22 18:18] lindy65 commented on #6653
Hi @kailashverma2402,

Thank you for your feedback,

Regarding the "You do not have the appropriate permissions" error, can you let me know what your System Console > Users and Teams > Restrict Direct Messages to is set to?

For the missing messages, can you try the [troubleshooting docs for WebSocket connections](https://docs.mattermost.com/install/troubleshooting.html#please-check-connection-mat

[2017-06-22 21:05] mkdbns opened #6726 "Compliance Reports fail on NFS mounted filesystems"
#### Summary
When an NFS filesystem is used as the  Compliance Directory Location (./data) directory, the export fails due to the way NFS handles open file handles that are unlinked (removed).

#### Steps to reproduce
Run either daily or ad-hoc Compliance reports with Compliance Directory Location (./data) set to an NFS mounted filesystem.

#### Expected behavior
Successful completion of the compl

[2017-06-22 21:49] jasonblais commented on #6529
The file where you made the change was created in this commit, and it was merged to master only two days ago.. https://github.com/mattermost/platform/commit/ab67f6e257f6e8f08145a02a7b93550f99641be4#diff-414040320d2b129c5fd596048e021e55

Maybe the issue was the same, just want to avoid a case where you hit the issue again when upgrading to a later version.

[2017-06-22 22:06] jasonblais commented on #6726
Thanks! Created a Jira ticket to track: https://mattermost.atlassian.net/browse/PLT-6918

[2017-06-22 23:04] ccbrown commented on #6478
I'll take this one.

[2017-06-22 23:05] coreyhulen commented on #6478
Yup...have at it.

[2017-06-23 04:47] charles-passille-smartnets commented on #4587
@it33 @jasonblais
Hello, just confirming, this has not been implemented in 3.10.0 yet, right?

[2017-06-23 07:35] lindy65 commented on #6715
Hi @aisamanra,

Thank you for your feedback,

Could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost to see whether this issue still reproduces for you?

Thanks!

[2017-06-23 11:59] jasonblais commented on #4587
@it33 we have an open PR here that's almost finished, so I think it's fine keeping this ticket open: https://github.com/mattermost/platform/issues/6067.

And correct, the functionality will be restricted to Team and System Admins.

@charles-passille-smartnets not yet, but it's pretty close and we're aiming for the July 16th release

[2017-06-23 21:15] jasonblais commented on #4596
Closing the ticket -- will re-open with new screenshots that match the updated channel switcher UI

[2017-06-23 21:15] #4596 closed

[2017-06-23 21:18] jasonblais commented on #6126
Start of a PR here that was since closed: https://github.com/mattermost/platform/pull/6461

[2017-06-23 21:20] jasonblais commented on #6422
@cpanato  We had a PR here https://github.com/mattermost/platform/pull/6444 but it got closed due to inactivity..

Would you be interested helping with this one?

[2017-06-23 21:59] muirdok commented on #6656
no problems

[2017-06-23 22:05] jtdaugherty opened #6740 "Bulk reaction fetching API endpoint"
Right now it seems that there is only one way to get reactions for a post, which is to use `/api/v3/teams/{team_id}/channels/{channel_id}/posts/{post_id}/reactions`. This means that when I make a request for posts in a channel, I have to make one request for each post to get the reaction data.

Is there a better way to do this? Is there bulk reaction data available somewhere, either already packag

[2017-06-24 02:32] emptyarray commented on #6495
There are two places that image previews occur: the profile picture, and file uploads.

## Profile picture

The problem was that reading the image client-side and displaying was failing to account for EXIF rotation in images (e.g. from mobile phones). I came up with a fix by reading the EXIF rotation in JS.

## File uploads

This one works differently because the images are handled server side. Th

[2017-06-24 20:31] coreyhulen commented on #6495
@hmhealey or @jasonblais thoughts on the cropping?

[2017-06-25 05:12] cevn opened #6742 ""You do not have the appropriate permissions" on UpdatePost"
#### Summary
Cannot update post I created (mattermost API bug as well as go client?)

#### Steps to reproduce
[code]

#### Expected behavior
Post gets updated, 200 response

#### Observed behavior (that appears unintentional)
[code]

Same behavior seems to happen on go as well as native API.

#### Possible fixes
Not sure

[2017-06-25 15:42] cpanato commented on #6422
@jasonblais PR: https://github.com/mattermost/platform/pull/6743

[2017-06-25 20:19] emptyarray commented on #6495
Another possibility:

![image](https://user-images.githubusercontent.com/1262053/27519419-963cd0da-59a8-11e7-85f9-a30fe43d83de.png)

This is with `max-width: 120px` instead of `width: 120px`, which allows the width to size to fit the thumbnail.

The other issue is that once posted, the thumbnail images still have white padding, which doesn't match the preview. Not sure whether the posted thumbnail

[2017-06-26 12:23] jasonblais commented on #6644
@jkae if you navigate to `.../admin_console/general/users_and_teams`, what is the `Enable Account Creation` set to?

[2017-06-26 12:27] jasonblais commented on #6590
@dansto Thanks for the report,

1) Did the feature work until some point and then start to fail last month?
2) Do you see any errors in the JavaScript console? [Instructions here how to access it](http://stackoverflow.com/questions/66420/how-do-you-launch-the-javascript-debugger-in-google-chrome) -- if you do, please share a screenshot?
3) Does this reproduce for all users at your Mattermost serve

[2017-06-26 12:56] lfbrock commented on #6495
Hi @emptyarray - we discussed it and decided Option 2 (cropped with no padding) is more consistent with our other file thumbnails at the moment, so let's go with that one.

[2017-06-26 12:59] dansto commented on #6590
1. no
2. https://www.screencast.com/t/nrfrpWiPCpJ
3. Yes
4. Chrome and Desktop App. Firefox we dont use.

Postgresql log:

2017-06-26 14:55:21.154 CEST [554] mmuser@mattermost FEHLER:  doppelter SchlÃŒsselwert verletzt Unique-Constraint Â»channels_name_teamid_keyÂ«
2017-06-26 14:55:21.154 CEST [554] mmuser@mattermost DETAIL:  SchlÃŒssel Â»(name, teamid)=(153e4528fa321c15004173e7d3444b837ed6bbe9, )

[2017-06-26 13:26] jkae commented on #6644
It is set to `true`.

[2017-06-26 13:27] cpanato commented on #4554
this is still relevant? if yes how can I help here?

[2017-06-26 13:42] popey commented on #4554
@cpanato Hey hey! Totally still relevant from my point of view :)  Being able to ```snap install mattermost``` just like you can now ```snap install rocketchat-server``` would be a great addition.

If you have some time to get started on a mattermost snap, I'd love to help you! We have [docs](https://snapcraft.io/docs) and [tutorials](https://tutorials.ubuntu.com) if you've not used snaps and snap

[2017-06-26 13:53] cpanato commented on #5465
in the current `master`  I can see those in the preview mode rendering correctly

![screen shot 2017-06-26 at 15 53 05](https://user-images.githubusercontent.com/4115580/27542456-9641c9e8-5a87-11e7-8746-cbaa0b10d1d6.png)

[2017-06-26 13:58] cpanato commented on #4554
@popey cool, let me check the tutorials :)

[2017-06-26 14:05] popey commented on #4554
Yes, a great place to start.

[2017-06-26 14:10] saturninoabril commented on #6742
@cevn thanks for reporting! there seemed to be a problem in checking UserId here: https://github.com/mattermost/platform/blob/master/app/post.go#L242 which needs to be fixed.
Temporarily, you may use `/patch` like `https://<mattermost_server>/api/v4/posts/5yksw4qgji8zbrrqqrnbnnew5a/patch` in your case.

[2017-06-26 14:21] hmhealey commented on #5465
@cpanato I thought that's what the ticket meant at first as well, but it's actually for link previews on posts that have been made, not the markdown preview box. Right now, posting `https://about.mattermost.com` shows a link preview, but posting `*https://about.mattermost.com*` or using any other markdown formatting does not

[2017-06-26 14:25] cpanato commented on #5465
like this @hmhealey
![screen shot 2017-06-26 at 16 25 31](https://user-images.githubusercontent.com/4115580/27543986-1fd335c6-5a8c-11e7-9c33-f9bd01175817.png)

[2017-06-26 14:27] cpanato commented on #5465
or what is link preview ?

[2017-06-26 14:31] hmhealey commented on #5465
You need to enable them from User Settings > Advanced > Enable pre-release features. Here are 4 posts with different formatting, and you can see the first one has a preview while the others do not
![image](https://user-images.githubusercontent.com/3277310/27544246-8ac094dc-5a5a-11e7-9694-12c3f3f01f37.png)

[2017-06-26 14:32] cpanato commented on #5465
ah! will take a look on that later thanks @hmhealey

[2017-06-26 16:28] tiagodj commented on #6082
how do I disable this? this is very annoying. my team is small (8 people) and we are very careful on using @all, so this warning message does more harm than good.

[2017-06-26 16:48] pieterlexis opened #6750 "WebRTC call cannot be started on narrow windows"
#### Summary
On narrow(er) screens, the WebRTC button is not shown, making it impossible to initiate a call.

#### Steps to reproduce

To replicate

 - Open a mattermost instance with WebRTC enabled
 - Shrink the window so the layout changes to the narrow layout (< 720 works for this purpose)
 - See the WebRTC icon disappear and have no way to initiate the call

Environment tested:

- Mattermost T

[2017-06-26 18:01] jasonblais commented on #6082
Thanks for the feedback! Queued for UX meeting to discuss: https://pre-release.mattermost.com/core/pl/zqchr7zuj7gpp85fy4ms3xseno

[2017-06-26 18:57] esethna commented on #6556
Thanks @ccbrown! After testing I noticed an issue where if a "/search" is performed in the center pane with the right-hand sidebar closed, the following console error is output:

![image](https://user-images.githubusercontent.com/14333569/27555438-f751d534-5a6e-11e7-8128-f7b8a75612e8.png)

Other than that it looks great!

[2017-06-26 22:48] jasonblais commented on #6545
Thanks @ccbrown!

[2017-06-26 22:48] #6545 closed

[2017-06-27 03:55] megos commented on #6465
I'll take this one.

[2017-06-27 07:51] lindy65 commented on #6750
Hi @pieterlexis,

Thanks for the report!  I've created [a ticket](https://mattermost.atlassian.net/browse/PLT-6940) to track the issue.

[2017-06-27 08:13] pieterlexis commented on #6750
small update, I can start a call in a private chat on a narrow window by first clicking on the user's name in the messages window (I found this out from reading the docs), which is very un-intuitive.

[2017-06-27 08:24] lindy65 commented on #6750
Thanks @pieterlexis,

I've referenced this issue in the ticket so will defer to the product team for a solution :)

[2017-06-27 12:32] jwilander commented on #6740
There is no current API endpoint for requesting reactions in bulk but I think it makes a lot of sense to add one to v4.

We already have bulk resource selecting with endpoints like `POST /api/v4/users/ids` which provide a list of user IDs to select in the request body. For reactions we could do something similar, such as `/api/v4/posts/ids/reactions`. In the request body there could be a list of p

[2017-06-27 16:16] esethna opened #6771 "[Help Wanted] [PLT-6823] Edge: Remove Mattermost Notification sound options in Account Settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-27 16:16] esethna opened #6772 "[Help Wanted] [PLT-6796] Regression: Code tag is empty for html code blocks"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-27 18:41] jtdaugherty commented on #6740
That sounds great to me!

[2017-06-27 19:49] 94117nl commented on #6445
I would like to start working on this. It's related to https://github.com/mattermost/platform/issues/6456

[2017-06-27 20:39] jasonblais commented on #6445
Sure thing! Thanks @94117nl!

[2017-06-27 21:07] jwilander commented on #6740
Awesome, I've added a ticket here https://mattermost.atlassian.net/browse/PLT-6950 for it. We'll probably mark it as help wanted, so if you or another community member wants to work on it go for it

[2017-06-27 21:14] jtdaugherty commented on #6740
Thanks!

[2017-06-28 07:20] Synchro opened #6777 "Impossible to sign in to mattermost iPhone app; always left in browser"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Bug report in one concise sentence

#### Steps to reprodu

[2017-06-28 07:21] Synchro opened #6778 "It's not possible to sign in to Mattermost iPhone app using "log in with GitLab""
#### Summary
It's not possible to sign in to Mattermost iPhone app using "log in with GitLab"

#### Steps to reproduce
Launch the mattermost app
add a server
Tap log in with gitlab
Login page is launched in browser, not app
Sign in
You're logged in in the browser, but app still shows login page.
If you already signed in via the browser, you're taken directly to mattermost, with no opportunity to g

[2017-06-28 07:22] #6777 closed

[2017-06-28 07:44] cpanato commented on #6772
PR: https://github.com/mattermost/platform/pull/6779

[2017-06-28 08:35] lindy65 commented on #6778
Hi @Synchro,

Thanks for your feedback,

I take it you're talking about the iOS app and not the newer React Native app?  FYI, the iOS repo is [here](https://github.com/mattermost/ios/issues).

I've reproduced your issue and have created [a ticket](https://mattermost.atlassian.net/browse/PLT-6952) to track.

We're working on a new React Native app and you can join the discussion on our production s

[2017-06-28 09:09] lindy65 commented on #6567
Hi @pjangam, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-28 09:09] #6567 closed

[2017-06-28 09:12] lindy65 commented on #6628
Hi @princehorn, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-06-28 09:12] #6628 closed

[2017-06-28 09:22] lindy65 commented on #6641
Hi @tohn,

The PR that @jasonblais did has been merged so the docs have been updated to reflect the update.

I'll close this issue off for now.

[2017-06-28 09:22] #6641 closed

[2017-06-28 09:27] lindy65 commented on #6652
Thanks @computerlove,

Glad your issue is solved.  I'll close this off for now...

[2017-06-28 09:27] #6652 closed

[2017-06-28 09:40] lindy65 commented on #6668
Hi @fasterforward,

I'll close this off now as the fix in the above ticket has been merged.

[2017-06-28 09:40] #6668 closed

[2017-06-28 09:47] #6674 closed

[2017-06-28 12:06] #6422 closed

[2017-06-28 12:59] #6465 closed

[2017-06-28 13:54] #6772 closed

[2017-06-28 14:24] saturninoabril commented on #6644
The observed behavior is expected at the moment.
Yes, there are 3 modes in creating a user. In your case, if there's no hash or invite id, then it will go thru `CreateUserFromSignup` where `EnableSignUpWithEmail`, `EnableUserCreation` and `EnableOpenServer` are required to be all true. You should receive an error whenever user creation failed.
Hash and invite id are generated from Mattermost serve

[2017-06-28 14:26] saturninoabril commented on #6742
I'm closing this ticket now. Thanks @cevn!

[2017-06-28 14:26] #6742 closed

[2017-06-28 14:28] cevn commented on #6742
No problem, thanks for the fix.

[2017-06-28 14:43] jasonblais commented on #6456
Thanks @94117nl!

[2017-06-28 14:43] #6456 closed

[2017-06-28 17:52] esethna opened #6784 "[Help Wanted] [PLT-6919] Replace modal store with redux view reducer"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-28 19:07] jasonblais commented on #6590
Thanks @dansto,

Just a couple of more questions:

1) Are you using local, Docker or GitLab omnibus for your Mattermost deployment?
2) If local, which server OS and database version are you using?
3) Is the database server used exclusively for Mattermost or is it also used for something else?

[2017-06-28 19:31] jkae commented on #6644
Thank you for the update. Is there any consideration for this feature? Possibly with E10 if not Team Edition? It would be useful for integrating Mattermost into other applications.

To note, I had some initial confusion about this because -- if `EnableOpenServer` is `false` but all other required options are `true` -- Mattermost responds with User JSON as if the creation was successful. I'm going

[2017-06-29 07:48] dansto commented on #6590
1. local
2. debian stretch, postgresql 9.5
3. also for something else

[2017-06-29 12:13] #6560 closed

[2017-06-29 12:58] saturninoabril commented on #6644
I missed to mention that it is the implementation at v3 API. Please try again your steps with v4 API where we give System Admins more power and let us know your observation.
See v4 API at https://api.mattermost.com/v4/#tag/users%2Fpaths%2F~1users%2Fpost

[2017-06-29 14:52] jasonblais commented on #6698
Thanks @moonmeister! Closing

[2017-06-29 14:52] #6698 closed

[2017-06-29 14:53] jasonblais commented on #6554
Thanks @kkamdooong! Closing as resolved

[2017-06-29 14:53] #6554 closed

[2017-06-29 14:54] #6659 closed

[2017-06-29 16:10] jtdaugherty opened #6797 "New direct message channel creation does not generate join event"
As of 3.10 (but probably earlier), I'm noticing that the creation of new direct message channels does not generate a `user_added` websocket event. This means that when direct messages arrive from users with whom I've never chatted before, my client doesn't know it needs to go fetch channel metadata for the new direct message channel.

I don't know how the web client handles this -- I haven't dug i

[2017-06-29 16:16] esethna opened #6798 "[Help Wanted] [PLT-6950] Add v4 endpoint for bulk selecting reactions based on provided post IDs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-06-29 19:07] lindy65 commented on #6778
Hi @Synchro,

Chatting to a colleague about this issue and she mentioned being able to log in fine via GitLab within the iOS app.  I did a fresh install of the app from the app store and am now able to log in fine via GitLab within the app.

Could you try a fresh install of Mattermost from the app store and see if it fixes the issue for you?

[2017-06-29 19:59] Synchro commented on #6778
Yes! That did work, thanks for the suggestion. I guess this can be closed, especially if you've got an alternative app in the works.

[2017-06-29 19:59] #6778 closed

[2017-06-29 21:13] coreyhulen commented on #6726
Fixed in master.

[2017-06-29 21:13] #6726 closed

[2017-06-29 23:24] kquick opened #6803 ""view channel" API race conditions"
Need ability to synchronize client's time with servers.

The need to determine any possible skew between the client's time and the server's time can be important for handling message updates.  For example, if a message is delivered to the client (via WebSocket) and the user then selects that channel, the client sends a POST to indicate the channel has been viewed (https://api.mattermost.com/v4/#ta

[2017-06-30 00:03] 94117nl commented on #6448
I would like to start working on this

[2017-06-30 00:15] kquick commented on #6803
Upon further reflection it would also be nice to have the response to the view/post contain the timestamp that the server actually applied to the channel.

Having the timestamp in the view/post response would allow the client to utilize only server time values for management, alleviating the need to reconcile any skew with local time.

Having the timestamp in the config/client/get response would a

[2017-06-30 00:41] jasonblais commented on #6448
Sure thing, thanks @94117nl!

[2017-06-30 06:24] lindy65 commented on #6778
Thanks @Synchro!

Glad your issue is sorted :)  I'll close off the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6952) as resolved by a new installation from the app store.

If you'd like to keep up-to-date with the react native mobile app, you can join our production server [here](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and join th

[2017-06-30 09:09] andruwa13 opened #6807 "not import data Slack history cyrillic channel"
Hello, not import data Slack history cyrillic channel :(

[2017-06-30 09:16] grundleborg commented on #6807
Hi @andruwa13

Thanks for the report. Would you be able to provide a bit more information about the problem?

1. Are there any errors printed to the server logs when trying to do the import?
2. Does the import partially succeed, only failing on 1 channel, or fail completely?
3. Do you get an error during the import, or are there just missing messages after it completes?
4. Are you able to provide

[2017-06-30 09:29] andruwa13 commented on #6807
1.

[2017/06/29 15:18:26 EEST] [WARN] Unsupported post type: message, pinned_item
[2017/06/29 15:18:31 EEST] [WARN] No file found in Slack export for file upload message with file ID F5PEQG338
[2017/06/29 15:18:31 EEST] [WARN] No file found in Slack export for file upload message with file ID F5N3T6ZDX
[2017/06/29 15:18:31 EEST] [WARN] No file found in Slack export for file upload message with fil

[2017-06-30 09:39] grundleborg commented on #6807
Thanks very much @andruwa13 . I think I can see what's causing it to fail, and have filed a ticket on our JIRA to get it fixed here: https://mattermost.atlassian.net/browse/PLT-6971

[2017-06-30 19:32] seanvree commented on #643
has this not been implemented yet?

[2017-07-01 21:46] jasonblais opened #6815 "Mattermost v4.0.1"
This is a meta issue for v4.0 release updates.

You can find key dates for v4.0 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.
### June 29 (T-12): Major Feature Cut-Off

No pull requests for major features are submitted to the current release after this date (except if release manager decides to add "

[2017-07-02 16:59] jwilander commented on #6447
I'll be doing this one.

[2017-07-02 20:28] piec opened #6821 "[website] Can't register to security Bulletin"
#### Summary
When I register to the "Security Bulletin mailing list" I never receive the confirmation email (although the email is correct)
[Link to register](http://eepurl.com/cAl5Rv) found here:
* https://about.mattermost.com/security-updates/

I tried several times, last time I tried was 1 month ago I think

#### Steps to reproduce
* Open https://about.mattermost.com/security-updates/
* Click [

[2017-07-03 07:54] ccbrown commented on #6090
My instincts say that attempting this statically, without changing existing code, is actually a variation of the halting problem, and is mathematically impossible.

As for a dynamic approach, @simon0191's suggestion is doable, but I think the con is far too great. A feedback loop of 1 week is far too long, and the coverage will likely be very low since many of our localized strings aren't regularl

[2017-07-03 10:42] rodcorsi commented on #6090
Similar approach we have for React is [react-intl-translations-manager](https://github.com/GertjanReynaert/react-intl-translations-manager), but in both cases we need to change the existing code.

[2017-07-03 11:02] ivernus commented on #5356
Can this be closed?

[2017-07-03 11:07] ivernus commented on #4333
Can this be closed?

[2017-07-03 12:01] jasonblais commented on #5356
Yep! This is resolved thanks to @ccbrown

[2017-07-03 12:01] #5356 closed

[2017-07-03 12:24] lindy65 commented on #6821
Thanks for the report @piec,

I did not receive a confirmation email either, nor did it go to my spam inbox.  Just checking that no email was delivered to your spam either?

I've created a [ticket](https://mattermost.atlassian.net/browse/PLT-6977) to fix the issue.

[2017-07-03 12:28] piec commented on #6821
Thanks

No, not in spam either

[2017-07-03 12:30] agape824 opened #6826 "Sending html including large-size image in IE"
I have a job to sending html including large-size image to server while embedding web editor in Mattermost.
I succeded it by increasing maximum both the size of post message from 4KB to 10MB
and the size of DB table's column.

It works well on Chrome browser, but not on Internet Explorer.
IE cannot even connect to the Mattermost site, producing Javascript error.
Error occurs in PersistStore(StoreP

[2017-07-03 13:59] firaxis opened #6828 "DB slow queries"
Good day.

We are using Mattermost Enterprise Edition with MariaDB 10.1.21-MariaDB-1~trusty

We have about 2M rows in Posts table total, but on channels with >100k messages we do encounter 504 Gateway Timeout error because of queries that executing more that 90 seconds.

Our DBA says, the main reason of slow performance is using string columns as primary keys.
Mysql's optimizer doesn't work fine w

[2017-07-03 15:31] jasonblais commented on #6828
Thanks @firaxis! Ticket created here, and queued for us to discuss tomorrow: https://mattermost.atlassian.net/browse/PLT-6979

[2017-07-04 08:02] lindy65 commented on #6821
Thanks for your feedback @piec,

We can track this via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6977)

[2017-07-04 09:23] firaxis commented on #6828
@jasonblais Thanks, nice to hear so fast reaction !

I've got more comments about how it works "inside".

When building index, MySQL assumes to use 3 bytes per utf8 character and for example 4 bytes per utf8mb character, and this is a pointer to row.
So, for table Posts, it's more than 100 bytes per row. (ENGINE=InnoDB DEFAULT CHARSET=utf8mb4)
And there are tables with composite primary keys. In t

[2017-07-04 09:45] grundleborg commented on #6828
Hi @firaxis

Thanks very much for this feedback on the database performance issues. The query optimisations you suggested are definitely something that we'll be interested in trying out.

We are well aware of the issue with string primary keys. It's something that has been like that since the beginning of the project, and we have periodically discussed improving. However changing this would be qui

[2017-07-04 10:32] ivernus commented on #4190
Can this be closed?

[2017-07-04 12:01] danger89 commented on #1838
I know it's an old issue, but it's the first result on Google. When you are enabled Mattermost in Gitlab Omnibus installation, try to set these configs (Gmail example) in `/etc/gitlab/gitlab.rb`:

[code]

Regards,
Melroy

[2017-07-04 16:17] esethna opened #6841 "[Help Wanted] [PLT-959] Improve unsupported browser page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-04 19:35] jack-song commented on #4333
I think we might have some time in august! Is it possible to maybe review what the team thinks the approach should be?

[2017-07-05 03:13] ccbrown commented on #6828
@firaxis

The 4 bytes per utf8mb character space requirement applies to CHAR columns, but _not_ VARCHAR columns, which is what our ids are.

– https://dev.mysql.com/doc/refman/5.7/en/storage-requirements.html#data-types-storage-reqs-innodb

– https://dev.mysql.com/doc/refman/5.5/en/charset-unicode-utf8mb4.html

I don't want to speak to the performance without doing some benchmarking, but I'm prett

[2017-07-05 03:44] moonmeister commented on #6841
I can take this but I need some clarification. Are we modifying the `LOCAL_STORAGE` error or is this a new error state we are testing for and handling?

[2017-07-05 07:21] ccbrown commented on #6828
In an attempt to actually get some data for this subject, I wrote up some cursory benchmarks:

[code]

That benchmarks SELECT and INSERT speeds for tables with 100k rows. The results showed no significant differences for varying PK types:

[code]

It's definitely not conclusive, but maybe it can kick-start more data-driven discussion. Maybe someone can point out what needs to be changed to produce

[2017-07-05 07:47] ccbrown commented on #6828
@firaxis, if you have an example data set that you can share that actually triggers a full table scan, that would also be extremely useful. I can't figure out any ways that a full table scan might be caused by a lookup with a long primary key regardless of table size:

<img width="1343" alt="screen shot 2017-07-05 at 12 46 42 am" src="https://user-images.githubusercontent.com/1731074/27854376-7619

[2017-07-05 08:56] k9k opened #6849 "Immediate email notifications"
#### Steps to reproduce
1. leave Mattermost on different screen or minimized
2. receive a new message
3. email notification is sent immediately

This issue was mentioned in [Michael Magill's comment](https://mattermost.atlassian.net/browse/PLT-2451?focusedCommentId=36245&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-36245), but I'm afraid it's been ignored as it w

[2017-07-05 13:21] hmhealey commented on #6841
We want a new error type like `LOCAL_STORAGE`, but we can treat it similarly where we just check it to override the contents of the page. There's also the small problem that `web/web.go` is currently preventing that error page from being loaded, but it shouldn't be too hard to stop it from doing that

[2017-07-05 14:27] enahum commented on #6826
Hi @agape824 this has been fixed with https://github.com/mattermost/platform/pull/6832 and it will be available in the next release.

Hope this helps

[2017-07-05 14:35] jwilander commented on #6803
Hi @kquick, it would be relatively simple to add a header to each response that has the server time. Would that suit your purposes?

[2017-07-05 15:29] ccbrown commented on #6803
I think the best way to eliminate the race conditions around this would actually be for the "view" API to accept an additional request parameter: The timestamp of the latest post viewed. Otherwise, there will always be race conditions just as a side-effect of the request's transit and processing time. For example:

* I start in channel A.
* I switch to channel B to clear a notification.
* My clien

[2017-07-05 15:49] ccbrown commented on #6803
Also, @jwilander, @kquick, all of the responses already have the server time in the "Date" header. That's placed there by the Go standard library, so you should always have that available to get the server time.

[2017-07-05 16:02] jwilander commented on #6803
I wasn't aware the "Date" header was already added, good to know.

As for adding the extra request parameter to the view request, that makes sense to add. The client will need to make sure to provide the create_at time of the most recent post it has, rather than the time the request was made, but that should be trivial enough. Only other consideration is that the extra request parameter should be

[2017-07-05 16:09] moonmeister commented on #6841
@hmhealey So, is there already code detecting the incompatibility somewhere or do I need to implement the detection aspect of this as well?

[2017-07-05 17:13] esethna commented on #6849
Thanks @k9k. The comment makes sense and we are definitely aware of the issue. We are still thinking about some options to address email notifications being sent when undesired. Some options include:

1. Removing the immediate email option and sending emails only every 15 minutes (so if you've seen the message then it won't be included in the email batch)
2. Adding a setting for when to receive em

[2017-07-05 17:15] #6826 closed

[2017-07-05 19:04] firaxis commented on #6828
Hello @ccbrown, thanks for your reply.

It's about storing data, not indexes.
Look at key_ken:
[code]
Indexes for char(26) and varchar(26) will be pretty same size.

I certainly wouldn't want to consider jumping ship and switching to integer ids without some solid benchmarks.

I completely endorse this point.

Could you please tell more detail how to build and run this test on my side ?

Yeap, the

[2017-07-05 19:39] ccbrown commented on #6828
@firaxis

I see... That's a bit counter-intuitive to me. But at least VARBINARY does what I would have expected. `VARBINARY(26)` results in a 28 byte index. That being a relatively easy migration to make seems like a really low-hanging fruit if we can't go straight to `VARBINARY(16)`.

I've been running some better benchmarks and queries with several million rows, but are taking quite some time...

[2017-07-05 21:11] jtdaugherty commented on #6803
@ccbrown - I'm not sure the response Date header will be helpful here. Presumably the timestamp given in that header is the time at which the response is sent, but what we need is the timestamp that ends up being stored in the Mattermost database *as a result of the view API call*, i.e., the value that we will get next time we request the user-specific metadata for that channel to get the user's l

[2017-07-05 21:20] kquick commented on #6803
While the Date header is interesting for the purpose of approximating the skew between server and client times, it doesn't seem like quite the right thing to use for the "viewed" POST since (I assume) it's generated by the transmit logic and doesn't necessarily correspond to the date entered into the DB.  Normally this is probably a very small difference, but it's weaker for busy channels, and wha

[2017-07-05 21:29] ccbrown commented on #6803
@jtdaugherty Yeah, I would definitely recommend against clients using the Date header for things like this. I don't think it really solves any problems. Just wanted to mention that it's already there, since it was specifically considered.

@kquick No behavior would really change. The effects of the API invocation would just rely less on real-world timing. Currently, when you make that POST request

[2017-07-06 00:24] 94117nl commented on #6452
I would like to start working on this

[2017-07-06 00:33] jasonblais commented on #6452
Go for it! Really appreciate your help @94117nl

[2017-07-06 01:05] ccbrown commented on #6828
Hmm... I know the `EXPLAIN` output says `key_len` 107 bytes for a `VARCHAR(26)`, but I'm sitting here looking at tables with a few million rows, and there's no difference in size between it and `VARBINARY(16)`. The size on disk is the same. The clustered index and secondary index sizes are the same. Adding a secondary int index to the tables and dividing the total size of that index by the row cou

[2017-07-06 07:59] k9k commented on #6849
@esethna thank you for the response.

For me number 3. seems to be the best option but combined with an option that when user is logged out from `Mattermost` there should be an immediate notification on mention/direct message.

[2017-07-06 08:10] agape824 opened #6859 "Making a SSO tool for Mattermost (eg. GitLab, Google..)"
I want to use company's specific website as SSO to sign in Mattermost.
I know that GitLab, Google can be such SSO tool for Mattermost, using OAuth.
Can I make another SSO tool (company's website) for Mattermost like GitLab?
I wanna know if it's possible or not.

=================================================================
Per Mattermost guidelines, GitHub issues are for bug reports: http://ww

[2017-07-06 10:27] jyrisil opened #6860 "Database connection fails on startup"
Summary:
PostgreSQL database connection fails on wrong user name, should be mmuser but mattermost is displayed in the error message instead, possibly the whole DataSource line is not read correctly since sslmode=disable doesn't have effect either (had to enable ssl in Postgres to get past error related to it).

Steps to reproduce:
Follow the installation instructions from https://docs.mattermost.c

[2017-07-06 11:49] firaxis commented on #6828
Could you please tell me more detail how to build and run this test on my side ?

Btw, I ran optimize table, and it significantly accelerated the queries.
So, I can read that large channels again.
It seems that speed speed-size relation in non-linear.

[2017-07-06 12:01] ccbrown commented on #6828
Of course. This should do it:

* Make a directory in your GOPATH: `mkdir ./pk_benchmarks`
* Copy that script to ./pk_benchmarks/benchmark_test.go
* `go get -v ./pk_benchmarks`
* `go test -v ./pk_benchmarks -bench='.*Select' -timeout=1000m`

That script recreates the tables every time it's run, so for my larger, million+ tables I've been using slight variations that don't recreate the tables, along

[2017-07-06 13:46] hmhealey commented on #6841
Yes, it's [here](https://github.com/mattermost/platform/blob/master/web/web.go#L69) in `web/web.go`, but it currently just responds with a static string instead of the actual HTML bundle. What we might be able to do is:
1. Skip the compatibility check if viewing the error page
2. When they fail the compatibility check, redirect them to the error page instead of sending them the bad request error

[2017-07-06 15:53] alallier opened #6865 "Code format block trims leading and trailing white space"
#### Summary
Mattermost trims leading and trailing white space in the code formatting block.

Note: Mattermost does not trim leading white space if a character occurs in that line, but it will still trim the trailing white space

Examples:

Typed Message:

[code]

Becomes:

[code]

#### Steps to reproduce
Try highlighting the above message to notice the white space and sending the above message ov

[2017-07-06 16:12] moonmeister commented on #6841
@hmhealey Okay. This is making more sense now. I'll see what I can do. Thanks.

[2017-07-06 21:38] jasonblais commented on #6815
### v4.0.0 RC1 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.0.0-rc1/mattermost-4.0.0-rc1-linux-amd64.tar.gz`

### Approved fixes for RC2

 1. [Mobile Web: Channel Notification preferences UI overlaps](https://mattermost.atlassian.net/browse/PLT-7008)
 1. [Mobile Web: Long channel name breaks UI in Pinned Posts screen](https://mattermost.

[2017-07-07 00:27] esethna commented on #6849
Okay thanks for your feedback @k9k! This design is high priority for us. I expect we will have a solution for this shipping with v4.1 August 16th. I'm going to close this ticket, but feel free to reopen the discussion if you have other feedback on this.

[2017-07-07 00:27] #6849 closed

[2017-07-07 04:03] moonmeister commented on #6841
@hmhealey Okay, so looking at the code this all seem convoluted:

1. It seems like there several methods to get text into this template. One by passing a predefined type. Two by passing values through the url. Three, by passing nothing you get the "default" values.

2. The predefined "LOCAL_STORAGE" text is saved in `webapp/i18n/*.json` while the `error.generic.title` is saved in the `i18n/*.json`

[2017-07-07 06:32] Whiteaj36 commented on #6771
I'd like to work on this one! Few questions that I can take to Contributors as well.

1. Localization process: I only know English, and need to remove Edge from the list of browsers that would support sound in notifications. I can remove it from the default and from the english I18N string file. But is there anything I need to do to flag this for re-translation?

2. I need to edit some string IDs

[2017-07-07 07:19] emptyarray commented on #6230
I can take this issue. Here is what I'm running into when planning it:

The trick part is going to be notifying `AdminConsole` from `AdminSettings` of unsaved changes. One possibility is to use prop callbacks, but this would have to go through `ReactRouter`, which looks complicated.

The alternative would be to have `AdminSettings` fire an action whether a panel is changed or saved, and use the Re

[2017-07-07 07:22] mikaoelitiana commented on #6699
Should this be done on the back or the front side? I am willing to fix this.

[2017-07-07 08:22] firaxis commented on #6828
Here's my results from the same VM where we run mattermost
[code]

[2017-07-07 08:32] syamgk commented on #4587
is the vise-versa(Private to Public) also getting implemented with this pach?

[2017-07-07 11:50] a13x59 opened #6873 "Tfs pull-request message results in html error 500"
#### Summary
A specific Tfs message to an incoming mattermost webhook results in an html error 500

#### Steps to reproduce
Mattermost Enterprise Edition
Version: 3.9.0
Database: postgres

Send this message to a webhook URI:

`{
   "attachments":[
      {
         "fields":[
            {
               "title":"Source",
               "value":"`refs/heads/feature/12345`",
               "short":t

[2017-07-07 12:12] jasonblais commented on #4587
@syamgk No, as the worry is if someone accidentally (or purposelly) converts a private channel with confidential information to public.

We are planning to add a CLI command for it though (private <--> public), which admins could use.

[2017-07-07 12:42] syamgk commented on #4587
@jasonblais okey, thanks for the update

[2017-07-07 13:10] hmhealey commented on #6230
Using the redux store sounds like the right idea. You don't need to change mattermost-redux for that though since this'll be specific to the web app. If you take a look at `webapp/reducers` in the platform repo, you'll see some other webapp-specific code that's added to the redux store.

Now for connecting to the store, the inheritance definitely makes things tricky, but I think we can work around

[2017-07-07 13:46] hmhealey commented on #6841
Passing through the URL is the older way of handling this page. The way we handle LOCAL_STORAGE is the newest addition because I didn't like the idea of passing down Markdown in a query parameter, although I just realized [we do that elsewhere](https://mattermost.atlassian.net/browse/PLT-7026). I'd be fine with switching any other client-generated errors to work like LOCAL_STORAGE, but we still ne

[2017-07-07 14:33] enahum commented on #6797
Hi @jtdaugherty

What you describe is true, you won't receive a `user_added` websocket event but when `A` sends `B` a direct message `B` will receive a websocket `posted` event, in that event handler you can verify if you need to make the direct channel visible like we do in the webapp, you can take a look at https://github.com/mattermost/mattermost-redux/blob/master/src/actions/websocket.js#L224

[2017-07-07 15:03] hmhealey commented on #6865
Hi @alallier,

Thanks for the report. I've filed [a ticket](https://mattermost.atlassian.net/browse/PLT-7032) on our Jira instance to correspond with this issue. It may be difficult to fix with the markdown library that we're currently using in the web app, but I have plans to replace it eventually with the one we're using in our mobile app once that reaches feature parity

[2017-07-07 15:53] fraziern commented on #6645
I can take a look at this.

[2017-07-07 16:04] jtdaugherty commented on #6797
@enahum - thanks for the reply. Your suggestion doesn't really address the request I made, though; what you're suggesting has more to do with *presentation* and what I'm requesting has more to do with the protocol.

For the code you mentioned, how does that client come to know the channel ID of the direct channel associated with the incoming post when that channel ID was not already known?

Here's

[2017-07-07 16:10] moonmeister commented on #6841
@hmhealey Thanks for the explanations.  So, error.generic.title should only exist in `webapp/i18n`? or in both? If it should be in both, why is that? Seems like it only gets referenced from the webapp and not from the server.

[2017-07-07 16:19] hmhealey commented on #6841
I can't find any uses of it on the server either, so yes, it should only exist in `webapp/i18n`. It's very rare that we need a to share a string between both places.

[2017-07-07 16:29] esethna commented on #6859
Hi @agape824, thanks for the suggestion. Currently Mattermost does not support generic OAuth for SSO authentication. I would recommend [adding support](https://mattermost.uservoice.com/forums/306457-general/suggestions/10096884-ee-oauth2-for-generic-identity-provider) to the idea on our feature idea forum and starting any related discussions in the comments. Every vote helps shape the future of Ma

[2017-07-07 16:29] #6859 closed

[2017-07-07 16:31] skinsshark commented on #6466
Hi @lindy65,

I missed these messages but I don't think I have a Mattermost server installed. It is simply on the Slack mobile app itself. The SlackBot is utilizing the [Outgoing WebHook](https://slack.com/apps/A0F7VRG6Q-outgoing-webhooks).

[2017-07-07 17:44] moonmeister commented on #6841
@hmhealey  Thanks.

So, I've been thinking about how to do this. It seems quite verbose to define bullet points explicitly for every error type we want to create. Maybe be it's the best way, but I was thinking if we could dynamically generate the bullet points it'd simplify things. Given I don't actually have access to the value of `error.error_state.help#` it makes it difficult to do anything wit

[2017-07-07 18:47] jasonblais commented on #6645
Thanks @fraziern! Glad to still have you around :)

[2017-07-08 07:51] cpanato commented on #6446
on that

[2017-07-08 07:53] cpanato commented on #6442
PR: https://github.com/mattermost/platform/pull/6885

[2017-07-08 07:53] cpanato commented on #6446
PR: https://github.com/mattermost/platform/pull/6885

[2017-07-09 17:25] jasonblais commented on #2572
Thanks to everyone, Italian translations are now completed and available as Beta in Mattermost 4.0 (releases on July 16th)!

[2017-07-09 17:25] #2572 closed

[2017-07-09 17:28] jasonblais commented on #6815
### v4.0.0 RC2 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.0.0-rc2/mattermost-4.0.0-rc2-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: https://github.com/mattermost/docs/blob/7fe9d3a7ef7f31ec49ce1641eac529f2fff1ba02/source/administration/changelog.md

### Approved fixes for RC3

 1. [UI alignment issues](https://

[2017-07-09 22:41] BorigTheDwarf opened #6888 "Update NPM version of Javascript driver"
The version of mattermost-driver-javascript available via NPM is not the latest. Please could this be updated?

[2017-07-10 07:19] emptyarray commented on #6230
@hmhealey, sounds good. Made my own reducer in views and action creator.

Looks like I'm going to need a selector. Should that go in mattermost-redux, or should I make a new directory for selectors for views?

I did a little experiment to see what it would take to refactor the inheritance of the settings components, because component inheritance is evil. I made a higher order component like `Admin

[2017-07-10 13:31] hmhealey commented on #6230
The selector only needs to go in `mattermost-redux` if it doesn't use webapp-specific state and it's something we're likely to reuse. I wouldn't bother if it's something super specific to the webapp.

And if I understand correctly, you're meaning making something like Redux's `connect` that wraps the component and passes in the extra props? I'm fine with doing it either way. We'll want to do somet

[2017-07-10 13:34] lfbrock commented on #6699
@mikaoelitiana - front end should be fine for this, thanks!

[2017-07-10 13:52] lfbrock commented on #6873
Thanks @a13x59 - looks like that's a bug, filed a Jira ticket here for it: https://mattermost.atlassian.net/browse/PLT-7077

If anyone would like to contribute a fix, please let us know!

[2017-07-10 15:02] mikeerickson opened #6894 "iOS media button does nothing"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Clicking the paperclip icon has no effect on iOS

#### St

[2017-07-10 15:44] esethna opened #6895 "[Help Wanted] [PLT-7078] .m4r file does not have the generic audio thumbnail"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-10 18:57] kquick commented on #6803
Further experimentation shows that we would also need to look at Edited and Deleted times for posts as well as LastPostAt, and use the maximum reported time for any of those as the value we would send to the server for a "viewed" update.  Based on that, it seems like getting the server's assigned value back in the POST response would be the simplest and most accurate approach.

[2017-07-10 20:13] lfbrock commented on #6894
Hi @mikeerickson - would you be able to check which version of the app this is on?

I created a ticket here to track the issue: https://mattermost.atlassian.net/browse/PLT-7087

[2017-07-10 20:45] hmhealey commented on #6860
Hi @jyrisil, could you try adding `postgres://` to the start of the `DataSource` like `postgres://mmuser:mmuserpassword@127.0.0.1:5432/mattermost?sslmode=disable&connect_timeout=10`? I haven't seen your exact error, but I was getting other errors without the protocol at the start of it

[2017-07-10 21:18] BorigTheDwarf commented on #6888
Hi @lfbrock thanks for that. Looks like it has been neglected for awhile - would it be possible to get the NPM version updated without the automation? The driver hasn't been modified for several months but the version on NPM is ancient and many of the APIs are missing or no longer work.

[2017-07-10 22:42] mikeerickson commented on #6894
i have seen it for a few versions back so far as I can remember.  But I am not using Mattermost Classic on iOS v3.8.0 (dev)

[2017-07-11 07:54] jyrisil commented on #6860
Hllo @hmhealey,

Thank you, that did the trick!

[2017-07-11 07:54] #6860 closed

[2017-07-11 08:49] fadeevab opened #6906 "Windows native client has bad font anti-aliasing"
#### Steps to reproduce
Open Windows native client and see

#### Expected behavior
Fonts have a good quality

#### Observed behavior (that appears unintentional)
![firefox_vs_native](https://user-images.githubusercontent.com/5967447/28059983-8ebc8dae-662e-11e7-9804-63f6edc2a2ef.png)
Left: Firefox has good anti-aliasing.
Right: Windows native client has bad anti-aliasing at the same system.
Font: O

[2017-07-11 09:19] #6906 closed

[2017-07-11 09:19] fadeevab commented on #6906
Moved to another project https://github.com/mattermost/desktop/issues/560

[2017-07-11 12:06] jasonblais commented on #6815
### v4.0.0 RC3 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.0.0-rc3/mattermost-4.0.0-rc3-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: https://github.com/mattermost/docs/blob/7fe9d3a7ef7f31ec49ce1641eac529f2fff1ba02/source/administration/changelog.md

### Approved fixes for RC4

1. [Search in Progress Icon looks

[2017-07-11 21:46] sedrubal commented on #5741
I'm very sorry, I found the reason: I use an addon which changes the user agent from time to time and it always breaks with a specific user agent:

Faked user agent which breaks mattermost:
[code]

but I use Firefox...

[2017-07-11 22:03] clauded commented on #6489
I have the problem with v9.3.4 : my Gitlab/Mattermost is behind an HAproxy server with SSL termination. The HAproxy is configured with "reqadd X-Forwarded-Proto:\ https" and all http requests are redirected to https. I also tried to add X-Forwarded-Proto https to the nginx configuration of Gitlab/Mattermost but still have the token error.

frontend www_frontend
    bind *:80
    # private key and

[2017-07-12 07:41] lindy65 commented on #5741
Ah, good that you found the problem though!  So your issue is resolved by not using the faked user agent?

[2017-07-12 09:12] sedrubal commented on #5741
Yes, it solves the issue reproducible. Sorry for stealing your time 😫

[2017-07-12 12:16] wget commented on #4161
@grundleborg As promised some times ago. Here you are.

[2017-07-12 12:42] elritsch commented on #6489
@clauded,  could it be that you are running into this issue: [Mattermost and Gitlab behind SSL-terminating reverse proxy: token request fails because of local ip and HTTPS port usage](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/2136)

[2017-07-12 13:11] lindy65 commented on #5741
No worries at all @sedrubal!  It's been my pleasure to be of assistance...  I'll close this issue off as well as the corresponding one on [the forums](https://forum.mattermost.org/t/dark-theme-breaks-now-and-then/3395).

Please let us know how it goes and feel free to come back at any time if you experience any issues!

[2017-07-12 13:48] lindy65 commented on #6529
It seems like this issue is resolved now so I'll close it off.  Please reopen if you still experience problems.  Thanks!

[2017-07-12 13:48] #6529 closed

[2017-07-12 13:50] lindy65 commented on #6644
Hi @jkae, have you resolved your issue with v4 API?

[2017-07-12 13:52] lindy65 commented on #6653
Hi @kailashverma2402,

It seems your issue is resolved or no longer reproduces for you.  I'll close this off for now but feel free to reopen if you still experience problems.

Thanks!

[2017-07-12 13:52] #6653 closed

[2017-07-12 13:54] lindy65 commented on #6670
Hi @fasterforward,

It seems this is no longer an issue for you so I'll close it off for now.  Please feel free to reopen and continue the discussion.

Thanks!

[2017-07-12 13:54] #6670 closed

[2017-07-12 13:56] lindy65 commented on #6692
I'll close this issue off for now and we can track it with the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6908)

[2017-07-12 13:56] #6692 closed

[2017-07-12 13:58] lindy65 commented on #6715
Hi @aisamanra,

Did you resolve your issue by upgrading to the latest version of Mattermost?

[2017-07-12 13:59] lindy65 commented on #6740
I'll close off this issue for now and we can track it via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6950)

[2017-07-12 13:59] #6740 closed

[2017-07-12 14:00] lindy65 commented on #6750
I'll close off this issue for now and we can track via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6940).

[2017-07-12 14:00] #6750 closed

[2017-07-12 14:01] lindy65 commented on #6807
I'll close off this issue for now and we can track via the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6971).

[2017-07-12 14:01] #6807 closed

[2017-07-12 14:02] #6821 closed

[2017-07-12 14:40] #4161 closed

[2017-07-12 14:55] clauded commented on #6489
@elritsch, Thanks for the pointer. Here's how I finally resolved it :
[code]

[2017-07-13 02:17] ccbrown commented on #6293
On it.

[2017-07-13 04:17] ccbrown commented on #6293
Hmm. While I could certainly add action buttons for webhooks, it looks like this would _not_ be Slack-compatible. Slack actually doesn't allow action buttons with webhooks. A Slack app is required (see [Slack FAQ: Message Buttons](https://api.slack.com/faq#message_buttons)). And we don't really have an equivalent to that right now.

So the options seem to be to either work on building out a system

[2017-07-13 12:25] funkyfuture opened #6925 "bug: `platform user deleteall` expects a user as argument"
#### Summary

`platform user deleteall` expects a user as argument

#### Steps to reproduce

`platform user deleteall`

#### Expected behavior

all users are deleted after a confirmation.

#### Observed behavior (that appears unintentional)

[code]

#### Version info

[code]

[2017-07-13 14:58] enahum commented on #6797
Hi @jtdaugherty

I've created a ticket https://mattermost.atlassian.net/browse/PLT-7122 with your request and I'm going to queue it up for discussion in our next [dev meeting](https://pre-release.mattermost.com/core/channels/developers-meeting) that you can join as is open to the public (we have one every week) I would highly recommend that you join us to discuss this topic

[2017-07-13 16:15] esethna opened #6932 "[Help Wanted] [PLT-7111] Slash command for creating and messaging a group"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-07-14 00:58] aisamanra commented on #6715
I just confirmed that this issue is still present on version 3.10 of Mattermost. I've attached a screenshot of our testing server, showing how this behavior manifests:

![anomalous-flagging-behaviour](https://user-images.githubusercontent.com/49535/28193795-5dc38ff0-67f4-11e7-894c-5be3c24509c8.png)

In this view, I have two flagged messages visible in the "Flagged Posts" pane to the right, one fro

[2017-07-14 01:01] aisamanra commented on #6715
I should also note that this isn't a blocking bug for me: it's possible to use the API in a way so that this behavior never manifests, and we have started using that correct behavior for our Matterhorn client. However, the proper use of the API for flagging is (as far as I can tell) not documented anywhere, and the behavior arising from incorrect use of the API is confusing enough that I thought i

[2017-07-14 07:11] sbusso commented on #6860
That works for me also, maybe documentation and default configuration should be updated https://docs.mattermost.com/install/install-ubuntu-1604.html

[2017-07-14 08:48] lindy65 commented on #6873
Thanks everyone, I'll close this issue off now as the fix has been merged.

[2017-07-14 08:48] #6873 closed

[2017-07-14 10:39] apriori opened #6937 "User state not set to "away" when suspending"
#### Summary
When the user suspends his connection mattermost client should react by setting the user as offline immediately.

#### Steps to reproduce
Use "suspend" under e.g. the windows (native) client and monitor the respective user using a different user on a mattermost service. The user status remains unchanged and gives the false impression of availability.

#### Expected behavior
When clien

[2017-07-14 14:18] jasonblais commented on #6815
### v4.0.0 RC4 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: `https://releases.mattermost.com/4.0.0-rc4/mattermost-4.0.0-rc4-linux-amd64.tar.gz`

### Changelog

Changelog draft can be found here: https://github.com/mattermost/docs/blob/7fe9d3a7ef7f31ec49ce1641eac529f2fff1ba02/source/administration/changelog.md

### Approved fixes for RC5

1. ["New message below" indicator

[2017-07-14 14:46] crspeller commented on #6828
Hi @firaxis,

Thanks for the report! I will be doing some more detailed work and hopefully coming up with a plan to address some of these issues.

Right now I am working on the mattermost loadtesting tools: https://github.com/mattermost/mattermost-load-test Hopefully these can give us some more real-world results on how these proposed changes effect performance.

[2017-07-14 14:54] lfbrock commented on #6888
@BorigTheDwarf yes perhaps - I'll find someone to get this updated hopefully next week or the week after (just a bit busy finalizing things for the July release at the moment).

[2017-07-14 15:02] JeffSchering opened #6940 "Broken links on System Console Mobile Push settings page"
#### Summary
A couple of broken links into the Mobile Applications Guide from **System Console > Notifications > Mobile Push**

#### Steps to reproduce
1. Go to **System Console > Notifications > Mobile Push**.
1. In the *Enable Push Notifications* field, select **Do not send push notifications**.
1. Click **documentation on push notifications**.
1. In the  *Enable Push Notificationis* field, sele

[2017-07-14 15:13] Ppjet6 opened #6941 "[RFC] Isolate teams from each other"
#### Summary
This is a feature request.

UserA in teamA can see userB in teamB, and can talk to them, I would like to be able to prevent this from happening.

#### Steps to reproduce
Using version 4.0

- Create teamA
- Create teamB
- Create userA and join teamA
- Create userB and join teamB
- Login as userA and click the "More" button under "Direct Messages"

#### Expected behavior
As userA, being

[2017-07-14 15:32] Ppjet6 commented on #6941
Hmm, I should have done my research a bit better, there seem to be such a feature already in the System Console under Users and Teams / Enable users to open Direct Message channels with: Any member of the team.

I had a little chat with @jasonblais though, and apparently the feature is not complete yet. I guess we can expand on this and try to find the last corner cases.

[2017-07-14 16:33] lindy65 commented on #6715
Hi @aisamanra,

Thank you for the detailed feedback.  I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-7137) to fix the bug.

[2017-07-14 18:08] Ppjet6 opened #6943 "[RFC] Restrict who is able to join a team"
#### Summary
This is a feature request.

Anybody who gets an invite link to a team can join the team. That means a link could get leaked and anybody would be able to access that team.

For the context, we use Mattermost in combination with Phabricator as the oauthserver, so people already need an account on our Phabricator instance to be able to login. This also enables us to invite customers that