[2022-10-14 17:00] mattermod opened #21413 "Write E2Es for MM-T5215 - Forwarding post to new DM"
Write Cypress test for [MM-T5215](https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T5215) - Continue to show global Threads item when unread filter is enabled

If you need any guidance or need more information please post a message in [quality-assurance ](https://community.mattermost.co

[2022-10-14 17:00] adj2908 commented on #18819
We can close this as changes have been merged. Thanks

[2022-10-14 17:01] adj2908 commented on #21413
I would like to work on this.

[2022-10-14 17:02] #21318 closed

[2022-10-14 17:14] #21317 closed, assigned to cyberbuff

[2022-10-14 17:15] mattermod opened #21414 "P1 // Notifications Preferences // In the Notification Preferences modal, screen reader announces all radio buttons as 1 of 1 when there are four radio buttons."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** In the Notification Preferences modal, screen reader announces all radio buttons as 1 of 1 when there are four radio buttons

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the dev

[2022-10-14 17:15] mattermod opened #21415 "P1 // Navigation // When navigating to Find Channel, the focus moves to Favorite Channel"
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** When navigating to Find Channel, the focus moves to Favorite Channel

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device. 
  1. Login to the Mattermost desktop application.

[2022-10-14 17:30] mattermod opened #21416 "P1 // Team Name dropdown menu from the left-hand panel is not keyboard accessible"
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** Team Name dropdown menu from the left-hand panel is not keyboard accessible

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device. 
  1. Login to the Mattermost desktop applic

[2022-10-14 17:30] mattermod opened #21417 "P1 // Public Channels dropdown is not Keyboard accessible"
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:** ?
**Environment:** Desktop app

**Description:** Public Channels dropdown is not Keyboard accessible

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device. 
  1. Login to the Mattermost desktop application.
  1. Click on + (

[2022-10-14 17:45] mattermod opened #21418 "P1 // Create Team // When creating a team in the left navigation bar, the screen reader announces, “Form region edit type in the text.”"
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:**?
**Environment:** Desktop app

**Description:** When creating a team in the left navigation bar, the screen reader announces, “Form region edit type in the text.” 

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device. 
  1.

[2022-10-14 18:00] mattermod opened #21419 "P1 // Focus is not going to the "Add" button in the "Channel Members" popup window, and the screen reader is not announcing the "Add" Members button."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:**?
**Environment:** Desktop app

**Description:** Focus is not going to the "Add" button in the "Channel Members" popup window, and the screen reader is not announcing the "Add" Members button.

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be in

[2022-10-14 18:00] mattermod opened #21420 "P1 // When the Create Channel dialog is closed, the focus goes to the top of the Mattermost application (To the title)."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:**?
**Environment:** Desktop app

**Description:** When the Create Channel dialog is closed, the focus is going to the top of the Mattermost application (To the title). The same issue was observed for other dialogs like Create Category, Browse Channels,

[2022-10-14 18:00] mattermod opened #21421 "P1 // The channel options menu is not accessible when expanded."
**Version:** Mattermost v6.3.9 ESR
**Screenreader software:** the latest version of JAWS 2022 & NVDA (NonVisual Desktop Access)
**Operating System:**?
**Environment:** Desktop app

**Description:** The channel options menu is not accessible when expanded.

**Steps to reproduce:**

  1. Mattermost 6.3.9 must be installed on the device. 
  1. Login to the Mattermost desktop application.
  1. Navigat

[2022-10-14 18:00] mattermod opened #21422 "P1 // Include Insights when navigating through channels on the LHS using ALT+up/down arrows"
Environment: community
Feature request, improving accessibility of LHS. Not a regression.

  1. Ensure Insights are enabled
  1. Use ALT<ins> </ins>up/down arrows users should be able to navigate, loop through, all visible channels on the LHS including Threads and Insights.

Observed: Insights are skipped.

----
If you're interested please comment here and come [join our "Contributors" community c

[2022-10-14 18:33] saturninoabril commented on #18819
Thanks @adj2908!

[2022-10-14 18:33] #18819 closed

[2022-10-14 21:08] pradeepmurugesan commented on #21351
I can work on this.. 👍

[2022-10-15 00:02] #21319 closed

[2022-10-15 11:24] fleytman commented on #15975
Is there any news about supporting the synchronization of the theme with the operating system?

[2022-10-15 17:14] GM1957 commented on #21422
can you please assign this issue to me?

[2022-10-15 17:51] aloks98 commented on #20820
Hey @lieut-data
Is there any figma for this? Or any other resources I can refer to for the exact changes required?

[2022-10-15 17:53] thenishantsapkota commented on #21352
Can I work on this?

[2022-10-15 17:54] washbin commented on #21367
Please assign this to me @nevyangelova I want to work on it.

[2022-10-15 17:54] dibashthapa commented on #21366
Please assign this to me. I want to work on this. @nevyangelova

[2022-10-15 20:00] sinansonmez commented on #21088
Hey @babinderrathi I am doing material changes to `searchable_channel_list.jsx` so there might be conflicts. I suggest you to wait until my [PR](https://github.com/mattermost/mattermost-webapp/pull/11262/files) is merged so you don't have to deal with conflicts.

[2022-10-15 21:36] nevyangelova commented on #21367
Thanks @washbin !

[2022-10-16 04:46] aabhas-sao commented on #21395
hey @ashishbhate, I was able to setup the environment locally thanks to the great documentation. Now I thought one approach.
Calculate the width of the thread component dynamically let's say it to be `x`, then offset the dropdown UI to left by `x/2`. What do you think about the approach is there any better approach as we have to think about responsiveness as well.

[2022-10-16 04:49] satya-vinay commented on #21352
I would like to work on this.

[2022-10-16 07:58] chaiwattsw commented on #21296
I would like to work on this issue. Please assign issue to me

[2022-10-16 08:00] chaiwattsw commented on #21306
I would like to work on this issue. Please assign issue to me

[2022-10-16 11:10] M-ZubairAhmed commented on #21140
duplicate of https://github.com/mattermost/mattermost-server/issues/21138

[2022-10-16 11:10] #21140 closed

[2022-10-16 12:01] TomerPacific commented on #21316
Thanks @amyblais . Working on setting up my local development environment. I'll keep you updated if I run into any issues or if I need any guidance.

[2022-10-16 12:13] sk409 commented on #21264
I submitted PR as Draft.
I would like to ask members about following case.
1. User send message with files when they are in progress.
2. All files which being uploaded is cancelled by user.

How should I do in this case.
I think there are 3 ways.
1. Cancel sending message and delete it.
2. Send message to server without files.
3. Move message to error state.

This video describes the case I mentio

[2022-10-16 14:50] dwarukira commented on #21361
None of the actions defined in `actions/views/rhs.ts` accepts global state

[2022-10-16 14:52] jakubriegel commented on #20801
@Cijin are still working on that? If no, I'd like to do it

[2022-10-16 15:45] jakubsimo commented on #21349
Hi, can you please assign this task to me ?

[2022-10-16 16:41] KushalBeniwal commented on #13945
Hi @lieut-data, I would like to work on this!

[2022-10-17 00:18] cannalee90 commented on #21184
@lieut-data Hi. I'm almost ready for make PR. Is it OK to use not to use icon for the dropdown menu?

[2022-10-17 08:14] MaPaw opened #21426 "No desktop notification is sent for last open channel on macOS desktop"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-10-17 10:51] ashishbhate commented on #21395
I'm glad you were able to get everything set up so quickly!

@M-ZubairAhmed could you help us figure out the best way to implement this?

[2022-10-17 11:17] himanshu007-creator commented on #21164
Hey, if no work is being done, i would like to take over.

[2022-10-17 11:23] M-ZubairAhmed commented on #21395
@aabhas-sao thank you for taking this issue up :)
So here a little context, our RHS in web view is always at max width of 400px (desktop). So the width of the overlay could effectively be `calc(100% - 400px)` (desktop) based on if RHS is open. If its not then width is just 100%. So now we need to figure out how to know respective component if the RHS is opened. For this i suggest you look at how t

[2022-10-17 11:29] aabhas-sao commented on #21395
Got it @M-ZubairAhmed will try to implement it.

[2022-10-17 12:28] #21211 closed

[2022-10-17 12:40] jakubriegel commented on #20801
Thanks @amyblais

[2022-10-17 13:00] mattermod opened #21427 "Text inside Cancel Button is not aligned"
[https://github.com/mattermost/mattermost-server/issues/21404](https://github.com/mattermost/mattermost-server/issues/21404|smart-link)

##### Summary

Cancel button text within `ChannelInviteModal` is not aligned

##### Steps to reproduce

  1. Click channel members button
  1. Click `Add` button
  1. Check `Cancel` button

![](https://user-images.githubusercontent.com/37421564/195723690-e807eff9

[2022-10-17 13:00] mattermod opened #21428 "Tall single images aren't scaled properly"
Repro steps:

  1. Post the attached image or any other image that’s tall and relatively very skinny

Observed: The image doesn’t have its max height constrained and overflows into the next post when you mouse over the post, causing some strange scrolling behaviour. This applies to both the centre channel and RHS

![](Screen Shot 2022-10-11 at 11.49.30 AM.png|width=50%)

![](Screen Shot 2022-10-11

[2022-10-17 13:12] syprogrammer commented on #21427
i am interested can you assign me

[2022-10-17 13:50] lieut-data commented on #21184
@cannalee90, feel free to submit without an icon and we can follow up later :)

[2022-10-17 13:52] lieut-data commented on #20820
Hi @aloks98! Unfortunately, no Figma for this one, but it should look and feel very similar to the Channels dropdown:

<img width="280" alt="image" src="https://user-images.githubusercontent.com/1023171/196195057-539a1560-8538-4dd5-83e0-0ae4b644acad.png">

With the caveat that, since we don't have search on the Playbooks product, this icon will be right aligned instead.

[2022-10-17 14:00] Ajax-Light commented on #21428
Hi, I'd like to give this a shot

[2022-10-17 14:03] adithyaakrishna commented on #21301
Can I take this up?

[2022-10-17 14:07] adithyaakrishna commented on #21337
Can I take this up?

[2022-10-17 14:07] adithyaakrishna commented on #21341
Can I take this up?

[2022-10-17 14:07] adithyaakrishna commented on #21339
Can I take this up?

[2022-10-17 15:15] mattermod opened #21432 "Support hiding playbook runs"
Introduce support for hiding playbook runs. A hidden playbook run isn't listed on the main runs list nor the playbook's runs list, doesn't count towards any playbook metrics, and disassociates from the channel (opening the [RHS](https://handbook.mattermost.com/company/about-mattermost/list-of-terms#rhs) in the channel created for that run shows the default Playbooks UI).

The underlying data would

[2022-10-17 16:27] amyblais commented on #21428
Here are the images:

![Screen Shot 2022-10-11 at 11 49 32 AM](https://user-images.githubusercontent.com/29708087/196231613-59ed12fc-11fb-4b17-83b8-cec40375b632.png)

![Screen Shot 2022-10-11 at 11 49 30 AM](https://user-images.githubusercontent.com/29708087/196231645-648101bb-e8ca-4717-a083-288c119e2013.png)

![tall (1)](https://user-images.githubusercontent.com/29708087/196231655-35e7438b-d2bb-4

[2022-10-17 16:41] #21307 closed

[2022-10-17 16:43] redfast00 opened #21434 "Help text when creating new slash-command is wrong"
#### Summary

The help text for creating a new slash command, says it's for creating a new incoming webhook.

#### Steps to reproduce

Version 7.4.0.

#### Expected behavior

It should say 'Describe your slash command', not 'Describe your incoming webhook.'

#### Observed behavior (that appears unintentional)

![2022-10-17-184249_951x372_scrot](https://user-images.githubusercontent.com/10746993/19

[2022-10-17 16:55] Ajax-Light commented on #21428
Hey @amyblais, Should I be looking at the code from [app/image.go](https://github.com/mattermost/mattermost-server/blob/master/app/image.go) - adding a few limits in the `func checkImageLimits`, or should I try looking around mattermost-webapp?

[2022-10-17 16:57] amyblais commented on #21428
cc @Willyfrog @hmhealey

[2022-10-17 17:26] amyblais commented on #21434
Thanks, opened: https://mattermost.atlassian.net/browse/MM-47634.

[2022-10-17 18:59] esethna commented on #15975
Closing this issue as it is being worked on internally by @AshishDhama (for webapp/desktop), we may reopen the mobile tickets after that's complete

[2022-10-17 18:59] #15975 closed

[2022-10-17 19:41] sinansonmez commented on #21404
Closing as there is a separate issue from Mattermost

[2022-10-17 19:41] #21404 closed

[2022-10-17 20:10] matthewbirtch commented on #21264
I'm thinking we could do the following:

- If the message has text in it, but all files were canceled, we can still post the message text, but without the files
- If the message did not have any text (only the attachments), if all files are canceled, delete the whole message

[2022-10-17 21:06] #18781 closed

[2022-10-17 21:13] pradeepmurugesan commented on #21432
I can give a shot on this..

[2022-10-17 21:25] esethna commented on #21264
@matthewbirtch @sk409 Agree! ^

[2022-10-17 22:27] #21159 closed

[2022-10-18 04:19] kyeongsoosoo commented on #21191
@amyblais Could you assign me? I'd like to work on this!

[2022-10-18 11:28] honza-zidek opened #21440 "Newline characters not preserved in channel header"
#### Summary
Please re-open [MM-10873](https://mattermost.atlassian.net/browse/MM-10873), the problem is not solved!

#### Steps to reproduce
1. Create a new channel with a multiline header
![image](https://user-images.githubusercontent.com/5145994/196416899-e52d1a91-602e-40dd-bfc7-7c9fa47adfbc.png)

2. The lines are merged into one single line.
![image](https://user-images.githubusercontent.com/5

[2022-10-18 11:47] #21070 closed

[2022-10-18 13:25] amyblais commented on #21440
@honza-zidek Does it work if you add a space in between the lines? E.g.

[code]

[2022-10-18 14:36] Willyfrog commented on #21428
I believe this is a webapp issue. I'll update the tags accordingly

[2022-10-18 15:13] cannalee90 commented on #21184
@lieut-data I finally created the PR

[2022-10-18 15:45] lieut-data commented on #21184
Sweet, thank you @cannalee90! Added myself, @crspeller, and @abhijit-singh as reviewers :)

[2022-10-18 15:53] lieut-data commented on #21432
Thanks, @pradeepmurugesan!!

[2022-10-18 16:37] gohrner commented on #18351
Just to chime in: I also just migrated a Mattermost 7.3.0 instance from MariaDB to PostgreSQL 13.

When trying to upgrade it to Mattermost 7.4.0 today Mattermost Boards refused to start, its DB migration failed.

The reason was the `props` attribute (normally JSON content) in the `Users` table, where (probably during the migration) some "`null`" Strings crept in (so no `NULL` SQL values, a literal

[2022-10-18 16:38] alannatodd commented on #21347
I would like to work on this

[2022-10-18 17:13] thepra opened #21442 "pq: permission denied for schema public"
Ubuntu 20.04 LTS HWE

#### Summary
Starting (through systemd) Mattermost based on PostgreSQL 15(on the same server) stops immediately on this error:

#### Steps to reproduce
Following the installation guide.
Starting Mattermost like: `systemctl start mattermost.service`
Immediately ending.

#### Expected behavior
Installation instruction working

Is there a missing instruction to apply to PostgreS

[2022-10-18 18:13] Ajax-Light commented on #21428
@Willyfrog Thanks!! I had figured as much after skimming through the server code. Had a hard time setting up the dev environment though 😞  .

[2022-10-18 18:27] amyblais commented on #21442
@thepra Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-10-18 18:33] furqanmlk commented on #21322
https://github.com/mattermost/mattermost-webapp/pull/11390

[2022-10-18 19:05] TheMasterFX opened #21444 "Offline Mattemost instance - Icon emoji preview not loaded due to unpkg.com reference on boars"
#### Summary
We operate a Mattermost instance in an offline environment (no connection to internet), and e.g. when you want to select a Symbol on a board task the preview of an icon/emoji is not visible since the "<button aria-label" is referecing to "https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png"" which is of not available on isolated networks

#### Steps to reproduce

[2022-10-18 19:21] amyblais commented on #21444
@TheMasterFX Would you be open to re-opening this in the Focalboard repo here https://github.com/mattermost/focalboard/issues? (Boards is the same as Focalboard)

[2022-10-18 19:21] #21444 closed

[2022-10-18 19:52] cinlloc commented on #21297
I can take this one :hand:

[2022-10-18 19:56] esethna commented on #18781
Thanks @kyeongsoosoo, great work!!

[2022-10-18 20:00] nevyangelova commented on #21353
The ticket is invalid as the actions already behave as needed.

[2022-10-18 20:23] nevyangelova commented on #21372
@steve-lgtm apologies this ticket was open by mistake. The file is already doing what we expect. I can direct you to an alternative - https://github.com/mattermost/mattermost-server/issues/14222

[2022-10-18 20:23] #21372 closed

[2022-10-18 20:26] #21344 closed

[2022-10-18 20:26] nevyangelova commented on #21369
Apologies @snick-m this ticket was opened by mistake. I can redirect you to an alternative - https://github.com/mattermost/mattermost-server/issues/21345

[2022-10-18 20:26] #21369 closed

[2022-10-18 20:28] nevyangelova commented on #21368
Apologies @cinlloc this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:28] #21368 closed

[2022-10-18 20:30] #21366 closed

[2022-10-18 20:30] nevyangelova commented on #21363
Apologies @codewithshariq this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:30] #21363 closed

[2022-10-18 20:30] nevyangelova commented on #21361
Apologies @dwarukira  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:31] #21360 closed

[2022-10-18 20:31] nevyangelova commented on #21359
Apologies @codewithshariq  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:31] #21359 closed

[2022-10-18 20:32] nevyangelova commented on #21355
Apologies @AbhishekTiwari23  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:32] #21355 closed

[2022-10-18 20:33] nevyangelova commented on #21352
Apologies @satya-vinay  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:33] #21352 closed

[2022-10-18 20:33] #21350 closed

[2022-10-18 20:33] #21349 closed

[2022-10-18 20:34] nevyangelova commented on #21349
Apologies @jakubsimo  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:35] nevyangelova commented on #21347
Apologies @alannatodd  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:35] #21347 closed

[2022-10-18 20:35] #21346 closed

[2022-10-18 20:36] nevyangelova commented on #21343
Apologies @adithyaakrishna  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:36] #21343 closed

[2022-10-18 20:37] nevyangelova commented on #21342
Apologies @AbhishekTiwari23 this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:37] #21342 closed

[2022-10-18 20:37] nevyangelova commented on #21341
Apologies @adithyaakrishna  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:37] #21341 closed

[2022-10-18 20:39] nevyangelova commented on #21339
Apologies @adithyaakrishna  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:39] #21339 closed, assigned to adithyaakrishna

[2022-10-18 20:39] nevyangelova commented on #21338
Apologies @adithyaakrishna  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:39] #21338 closed

[2022-10-18 20:39] nevyangelova commented on #21337
Apologies @adithyaakrishna  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:40] nevyangelova commented on #21335
Apologies @adithyaakrishna  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:40] #21335 closed

[2022-10-18 20:40] nevyangelova commented on #21334
Apologies @pradeepmurugesan  this ticket was open by mistake. The actions here work as expected. You can DM me for an alternative. I will update the campaign shortly!

[2022-10-18 20:40] #21334 closed

[2022-10-18 21:02] hmhealey commented on #21428
What sort of issues are you having setting that up?

You can also feel free to post on our community server (linked in the original issue) if you could use help setting that up since that's usually the fastest way to get help doing that

[2022-10-18 21:29] #20704 closed

[2022-10-18 23:01] Pinjasaur opened #23058 "UI Enhancement: use icons in Settings > Import submenu"

[2022-10-19 04:38] satya-vinay commented on #21345
@nevyangelova I would like to work on this.
Could you please assign this to me?

[2022-10-19 06:35] washbin commented on #21367
@nevyangelova  I think global state is not being passed in the mentioned file, can you confirm again.

[2022-10-19 06:53] AshishDhama commented on #14167
@esethna Do we still want this, I think we have use case where people are using more than 40 reactions.

[2022-10-19 09:48] #21098 closed

[2022-10-19 10:07] #21208 closed

[2022-10-19 10:07] honza-zidek commented on #21440
@amyblais Well, kind of works :) You can see only the first line, but when you hover the mouse over the text, it shows the other lines, too :) Not what I wanted, but significantly better. The trick with added empty lines is not intuitive, anyway :)

<img width="138" alt="image" src="https://user-images.githubusercontent.com/5145994/196661994-7d95abec-fa45-475f-b562-54ce80f8b941.png">

<img width="

[2022-10-19 10:21] nevyangelova commented on #21367
@washbin we are importing the store using the useStore hook, ideally we would be avoiding this and we can solve this by how we call `getCloudSubscription()`
in `packages/mattermost-redux/src/actions/cloud.ts` we can wrap the action in a thunk and pass the state there, then call it in the component using dispatch, just like how its described in the ticket.

[2022-10-19 14:25] honza-zidek commented on #21440
@amyblais Thanks for clarification.
It would be nice if this ~~trick~~ _feature_ with empty lines were mentioned on the page where you edit the header.

[2022-10-19 14:40] enahum commented on #11947
done

[2022-10-19 14:40] #11947 closed

[2022-10-19 14:44] enahum commented on #11263
not needed anymore

[2022-10-19 14:44] #11263 closed

[2022-10-19 15:23] enahum commented on #13219
done

[2022-10-19 15:23] #13219 closed

[2022-10-19 15:38] Ajax-Light commented on #21428
@hmhealey the Web Pack build times caught me off-guard, turns out everything was set up okay :)
So I think `components/singe_image_view` is the class I should be working on.

My plan is to add in another if statement at line 203 in the `render` method of `single_image_view.tsx` and set `image.height == imageContainerStyle.height`. Attached pic for reference:
![image](https://user-images.githubuser

[2022-10-19 16:16] esethna commented on #14167
@AshishDhama yes I think we still want this. I will clarify in the ticket that this means 40 unique reactions, but each of those 40 are not limited in their count.

[2022-10-19 16:19] gstlouisgit opened #21448 "no more Boards after mattermost upgrade"
I have recently upgraded mattermost server.  I am on mariaDB and everything was working well, I was even getting all my users on Boards.

This new upgrade
Mattermost Version: 7.4.0
Database Schema Version: 93
Database: mysql

Now Boards is gone, and I can see in the plugin mgmt that mariaDB is no longer supported.  That sucks.  Everything was working well.

Why is MariaDB no longer supported?  Wha

[2022-10-19 16:24] devinbinnie commented on #21448
Moved to server repo since this is not a Desktop App issue.

[2022-10-19 16:29] amyblais commented on #21448
Please help re-open this issue in the Focalboard repo here https://github.com/mattermost/focalboard/issues. This existing issue may help you: https://github.com/mattermost/focalboard/issues/3891.

[2022-10-19 16:29] #21448 closed

[2022-10-19 16:59] esethna commented on #21448
@wuwinson ^

[2022-10-19 17:31] aabhas-sao commented on #21395
hey @amyblais can you please assign this issue to someone else who would be interested. My machine freezes when I try to compile web app after I successfully run the server. My environment is M1 mac with 8 gb ram. I guess a lot of things have to be emulated from arm64 to x86_64 architecture, from docker to node, npm.

Sorry for wasting time and delaying this issue, but I'm sure through discussions

[2022-10-19 17:33] amyblais commented on #21395
Sure, no worries!

[2022-10-19 17:33] KushalBeniwal commented on #16079
Hi, if no-one is working on this then I would like to work on this issue!

[2022-10-19 17:48] wuwinson commented on #21448
Thanks @esethna.

@gstlouisgit Unfortunately mariaDB is not an offically supported database. We're working on https://github.com/mattermost/focalboard/pull/3929 to fix the broken Boards issue, but recommend you switch to one of our [supported DBs](https://docs.mattermost.com/install/software-hardware-requirements.html#database-software) moving forward. Please see https://github.com/mattermost/foca

[2022-10-19 19:45] ducttapecoder-vt opened #21450 "Channel named with leading asterisk indicates unread when selected"
#### Summary
Channels with a leading asterisk in display name will cause client to show unread channel indicated when selected

#### Steps to reproduce
Occurs in 5.31, 5.37.10, and 7.3.0.
Name a channel with a leading asterisk, e.g. "* Test"/ "* Town Square".

#### Expected behavior
After selecting a "* Town Square" channel and scrolling to latest, the unread indicator for the MM client should dis

[2022-10-19 20:47] amyblais commented on #21450
Opened: https://mattermost.atlassian.net/browse/MM-47771.

[2022-10-20 08:09] BediNimret commented on #21063
I would like to work on this

[2022-10-20 08:09] BediNimret commented on #21074
I would like to work on this

[2022-10-20 08:46] syprogrammer commented on #21427
can you specify which folder have button

[2022-10-20 10:03] NiKiZe commented on #18351
Can we have this information publicly please, as it is now it is locked behind a login page.

[2022-10-20 13:10] amyblais opened #21454 "Cloud f-f"

[2022-10-20 13:11] amyblais commented on #21454
/cloud-ff

[2022-10-20 13:11] mattermod commented on #21454
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-10-20-backup (SHA: `fde60d3`)
    - mattermost-webapp:refs/heads/cloud-2022-10-20-backup (SHA: `7b6ef99`)
    - enterprise:refs/heads/cloud-2022-10-20-backup (SHA: `a9794f5`)
    - mattermost-api-reference:refs/heads/cloud-2022-10-20-backup (SHA: `978315b`)

### Fast-Forwarded branches
    - m

[2022-10-20 13:11] #21454 closed

[2022-10-20 13:12] mbl-ncp opened #21487 "invalid state after login"
**Summary**

**Environment**
- Operating System: Windows 10
- Mattermost Desktop App version: 5.0.2
- Mattermost Server version: 7.3.0

**Steps to reproduce**
- Open Mattermost Desktop app
- log in via GitLab LDAP Authentication
- Error Invalid State
![image002](https://user-images.githubusercontent.com/116275219/196955976-9f8291e3-e046-4346-9fa2-9d27c402ef32.png)

I have tried reinstalling Matter

[2022-10-20 14:10] nikkilocke opened #21455 "Users with narrow screens cannot see their profile."
#### Summary
Users with narrow screens cannot see their profile.

#### Steps to reproduce
Mattermost Version: 6.3.6
Database Schema Version: 6.3.6
Database: mysql

Open Mattermost using a web browser with the window width less than 760 pixels or so.
Your picture at the top right disappears.
If you now click on the 3 bar menu, you see this:
![image](https://user-images.githubusercontent.com/684025/

[2022-10-20 15:16] amyblais commented on #21455
Opened: https://mattermost.atlassian.net/browse/MM-47797.

[2022-10-20 15:59] thepra commented on #21442
Thanks to Alexander this is solved.
for  PSQL 15 you need extra grants for the user:
[code]

[2022-10-20 15:59] #21442 closed

[2022-10-20 16:53] anx-ag commented on #21442
Forum link: https://forum.mattermost.com/t/pq-permission-denied-for-schema-public/14273

Will see if I can reproduce that based on [the instructions](https://docs.mattermost.com/install/installing-ubuntu-2004-LTS.html) you followed and will update the forum post then.

[2022-10-20 17:00] nikkilocke commented on #21455
Just FYI, the order of the screenshots is muddled up in the Jira post.

[2022-10-20 17:56] amyblais commented on #21455
Thanks, fixed now.

[2022-10-20 21:08] hmhealey commented on #21428
Hopefully rebuilds are quicker. That first build can definitely take a while, especially when it's downloading NPM dependencies on first run.

As for the issue, setting the height might work but you'll want to double check that it's not going to affect images that are either short-and-wide or smaller in both dimensions. Setting its `max-height` instead of its `height` might allow for that.

I also

[2022-10-20 21:32] TomerPacific commented on #21316
@amyblais , currently stuck on stuck on step 4 from [here](https://developers.mattermost.com/contribute/more-info/server/developer-setup/):

[code]

Inside WSL, when I run the command like so:

`wget https://dl.google.com/go/go1.19.2.linux-amd64.tar.gz`

I get:
![mattermost](https://user-images.githubusercontent.com/23402988/197062775-e13e8f5b-3e84-4b20-b1e6-7874e74b7fe3.jpg)

Any idea how I can o

[2022-10-20 22:01] harryjin commented on #20725
I got same error. please let me know your solution.

[2022-10-20 22:29] dylanrichards commented on #21169
There was a complete rewrite of go-opengraph which caused incompatibilities.
(v1.0.0 https://github.com/dyatlov/go-opengraph/commit/3e69469c7ac3948a5ca3043725374d0719584f2e) (v1.0.1 https://github.com/dyatlov/go-opengraph/commit/606d7b1e5f8a10c668c20bba5001b8a2ebbb594b)

In your go.mod file replace the new version of go-opengraph
`github.com/dyatlov/go-opengraph/opengraph v0.0.0-20220524092352-606

[2022-10-20 22:35] amyblais commented on #21316
cc @furqanmlk ^

[2022-10-21 08:15] mattermod opened #21460 "mmctl: Review convertUserToBot function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `convertUserToBot` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21461 "mmctl: Review demoteUserToGuestCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `demoteUserToGuestCmdF` function and tailor a way to return a non-zero return code if the function fail

[2022-10-21 08:15] mattermod opened #21462 "mmctl: Review promoteGuestToUserCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `promoteGuestToUserCmdF` function and tailor a way to return a non-zero return code if the function fai

[2022-10-21 08:15] mattermod opened #21463 "mmctl: Review sendPasswordResetEmailCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `sendPasswordResetEmailCmdF` function and tailor a way to return a non-zero return code if the function

[2022-10-21 08:15] mattermod opened #21464 "mmctl: Review verifyUserEmailWithoutTokenCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `verifyUserEmailWithoutTokenCmdF` function and tailor a way to return a non-zero return code if the fun

[2022-10-21 08:15] mattermod opened #21465 "mmctl: Review searchUserCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `searchUserCmdF` function and tailor a way to return a non-zero return code if the function fails. To b

[2022-10-21 08:15] mattermod opened #21466 "mmctl: Review deleteUsersCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `deleteUsersCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21467 "mmctl: Review resetUserMfaCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `resetUserMfaCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21468 "mmctl: Review userInviteCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `userInviteCmdF` function and tailor a way to return a non-zero return code if the function fails. To b

[2022-10-21 08:15] mattermod opened #21469 "mmctl: Review changeUsersActiveStatus function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `changeUsersActiveStatus` function and tailor a way to return a non-zero return code if the function fa

[2022-10-21 08:15] mattermod opened #21470 "mmctl: Review restoreTeamsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `restoreTeamsCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21471 "mmctl: Review modifyTeamsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `modifyTeamsCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21472 "mmctl: Review deleteTeamsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `deleteTeamsCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21473 "mmctl: Review archiveTeamsCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `archiveTeamsCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21474 "mmctl: Review addUserToTeam function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `addUserToTeam` function and tailor a way to return a non-zero return code if the function fails. To be

[2022-10-21 08:15] mattermod opened #21475 "mmctl: Review removeUserFromTeam function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `removeUserFromTeam` function and tailor a way to return a non-zero return code if the function fails.

[2022-10-21 08:15] mattermod opened #21476 "mmctl: Review rolesMemberCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `rolesMemberCmdF` function and tailor a way to return a non-zero return code if the function fails. To

[2022-10-21 08:15] mattermod opened #21477 "mmctl: Review rolesSystemAdminCmdF function to return an error in case of a failure"
In the course of Hacktober 2022, we would like to review the return codes of the `mmctl` subcommands. It turns out that we have some subcommands that return `0`  (successful return code) even if they fail. This is not a good practice and we should fix it. In this context, we would like to review `rolesSystemAdminCmdF` function and tailor a way to return a non-zero return code if the function fails

[2022-10-21 08:35] yakuter commented on #21477
I would like to work on this.

[2022-10-21 08:42] andreas-zeller opened #21478 "Downloading file does not overwrite existing files despite confirmation"
#### Summary
If I download a file (a PDF) from Mattermost, and a file of the same name already exists, the existing file is not overwritten despite confirmation.

#### Steps to reproduce
This is with Version 5.1.1 (20700) on macOS
1. Find a (PDF) file in Mattermost.
2. Download the file (to Downloads). Click on "Save"
3. You get a message "Download complete"
4. Download the file again (or another

[2022-10-21 09:00] mattermod opened #21479 "Remove deprecated ioutil code in the load-test repo"
The [load-test tool](https://github.com/mattermost/mattermost-load-test-ng) contains references to several `ioutil` functions and variables, such as:

  * ioutil.ReadFile
  * ioutil.WriteFile
  * ioutil.TempFile
  * ioutil.TempDir
  * ioutil.ReadAll
  * ioutil.ReadDir
  * ioutil.Discard

But the `ioutil` package was deprecated in Go 1.16 and the same functionality is now provided by the `io` and `

[2022-10-21 09:03] hionay commented on #21475
I want to work on this issue.

[2022-10-21 09:08] svbnbyrk commented on #21474
I am working on it.

[2022-10-21 09:15] mattermod opened #21480 "Use filepath instead of path in the load-test repo"
The [load-test tool](https://github.com/mattermost/mattermost-load-test-ng) contains several calls to functions from the `path` package that manipulate operating system paths, for which the `path/filepath` package is recommended.

The goal of this ticket is to replace all occurrences of those functions, such as

  * path.Join
  * path.Base
  * path.Dir
  * path.IsAbs

Read the `path` [package docu

[2022-10-21 09:22] wralith commented on #21479
I would like to work on this task

[2022-10-21 09:31] msrexe commented on #21473
Can i take this ?

[2022-10-21 09:35] enderahmetyurt commented on #21472
May I get this? :)

[2022-10-21 09:52] agarciamontoro commented on #21479
Thank you, @wralith! Don't hesitate to ask anything you need :)

[2022-10-21 11:27] #21479 closed

[2022-10-21 11:36] dsharma522 commented on #21470
May I get this? :)

[2022-10-21 11:38] dsharma522 commented on #21469
May I get this? :)

[2022-10-21 13:04] amyblais commented on #21478
@andreas-zeller What Mattermost server version are you on? You can go to the Main Menu (at the top on the left hand-side), then open About Mattermost.

![image](https://user-images.githubusercontent.com/29708087/197202304-a18d8beb-336a-4a6a-8672-4b380820721c.png)

[2022-10-21 13:35] andreas-zeller commented on #21478
This is
Mattermost Team Edition
Mattermost Version: 7.1.2
Database Schema Version: 89
Database: postgres

[2022-10-21 13:44] andreas-zeller commented on #21478
Don't know about the MAS build, but this is indeed a duplicate of the earlier report. Thanks!

[2022-10-21 13:44] #21478 closed

[2022-10-21 13:46] ellisonleao commented on #21480
i can get this one

[2022-10-21 13:49] agarciamontoro commented on #21480
It looks lie @eraykisabacak already published a PR for this! Let me remove the Up for grabs label, sorry for that!

[2022-10-21 14:07] ellisonleao commented on #21468
i can get this one

[2022-10-21 14:10] sk409 commented on #21264
@esethna @matthewbirtch
I Understood. Thank you very much!

[2022-10-21 14:16] agarciamontoro commented on #21480
Fixed in https://github.com/mattermost/mattermost-load-test-ng/pull/515

[2022-10-21 14:16] #21480 closed

[2022-10-21 15:17] joremysh commented on #21461
I would like to work on this

[2022-10-21 17:10] sinansonmez commented on #21469
@isacikgoz please assign this to me

[2022-10-21 17:48] akadir commented on #21460
I'd like to work on this issue.

[2022-10-21 18:00] darkLord19 commented on #20003
Plugin get user api seems to be using `GetAllProfiles` store call and there is no handling for team id condition in it. also name says get all profiles but it takes pagination props in options and applies them which also looks problematic.

[2022-10-21 18:28] alannatodd commented on #21466
I would like to do this

[2022-10-21 19:37] akadir commented on #21465
I'd like to work on this issue.

[2022-10-21 20:00] mattermod opened #21484 "Implement App form multiselect fields for channels and users"
Currently, the app form field component in [https://github.com/mattermost/mattermost-webapp/blob/master/components/apps*form/apps_form_field/apps_form_field.tsx](https://github.com/mattermost/mattermost-webapp/blob/master/components/apps_form/apps_form_field/apps_form*field.tsx|smart-link) supports form fields for channels and users. However, there is no support for multi-select on these field typ

[2022-10-21 20:01] mickmister opened #21485 "Implement App form multiselect fields for channels and users"
Currently, the app form field component in https://github.com/mattermost/mattermost-webapp/blob/master/components/apps_form/apps_form_field/apps_form_field.tsx supports form fields for channels and users. However, there is no support for multi-select on these field types. The task here is to make it so user and channel fields support the `multiselect` property, to allow the user to select multiple

[2022-10-21 20:02] mickmister commented on #21485
Closing as duplicate of https://github.com/mattermost/mattermost-server/issues/21484

[2022-10-21 20:02] #21485 closed

[2022-10-22 02:43] ecker00 commented on #16902
Is this still not a possibility? (Ability to adjust the default notification settings for all users, or a team?) We got some teams with low message volume, so it makes sense to get notified for every interaction by default.

[2022-10-22 05:18] misantron commented on #21463
Can I take this issue?

[2022-10-22 05:38] kyeongsoosoo commented on #21462
@isacikgoz Can I take this issue?

[2022-10-22 05:56] amogh2019 commented on #21464
Started working on it :)

[2022-10-22 06:55] AntiGhot commented on #21467
Please assign this issue to me.

[2022-10-22 13:33] TomerPacific commented on #21316
@amyblais - Might be worthwhile to unassign me and let someone else take this issue.

[2022-10-22 13:49] furqanmlk commented on #21316
Hi @TomerPacific
Sorry for the delay.
Can we setup zoom call to solve this issue.
What OS are you using?

[2022-10-22 14:00] MuhammadAakash commented on #21420
@mattermod
I would love to work on this issue. But can you please give me some details that how can i fix this, I am a front-end developer and don't know about the Desktop development

[2022-10-23 07:35] prashant-15 commented on #21484
Hi, I would like to work on this.

[2022-10-23 08:40] washbin commented on #21367
@nevyangelova I think I won't be able to give this issue much time before the end of october.
So, I am unassigning myself for now as someone else may want to work on it while it is still in the hacktoberfest phase.
Sorry for the trouble.

[2022-10-23 11:51] sinansonmez commented on #21172
@esethna Update: in order to work on this, I am waiting [the first part](https://github.com/mattermost/mattermost-webapp/pull/11262) to be merged. I also see that there is a [related ticket](https://github.com/mattermost/mattermost-webapp/pull/11262).

This channel filtering and sorting mechanism will require some backend changes. I would start working on the backend part but for frontend, if you

[2022-10-23 11:58] sinansonmez commented on #21287
@furqanmlk this issue can be closed

[2022-10-23 13:44] kyeongsoosoo commented on #21191
@amyblais  @Willyfrog  Could you tell me who I should ask for help with the server-side code?

My question is:
I think we need to add `desktop_notification_sound` prop to `ChannelMember's  NotifyProps` to make notification sound different depending on the channel.
`UpdateChannelMemberNotifyProps` function begins with the code below.

[code]

I tried to use `desktop_notification_sound` from the mod

[2022-10-23 17:49] michjk commented on #21209
@amyblais sorry to disturb you. Given my current situation, I do not think I can commit to fix this, at least for hacktoberfest. Feel free to put Up For Grabs label.

[2022-10-23 17:51] TomerPacific commented on #21316
Hi @furqanmlk, thanks for replying.
I am on Windows and have followed the instructions for setting up a local development environment.
Once I downloaded and set up WSL, I ran all the steps inside there.
Not sure when will be a good time to set up a zoom call.
We have a seven hour time difference between us.

What could be the cause of the error I am seeing?

[2022-10-23 17:58] furqanmlk commented on #21316
Can you please join Mattermost community
https://community.mattermost.com ?
We have developers channel there for contributor's help and questions.
Please let me know if you see difficulty to join.

[2022-10-23 22:18] #21287 closed

[2022-10-24 13:22] amyblais commented on #21420
Feel free to [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers).

[2022-10-24 13:25] amyblais commented on #21487
@mbl-ncp Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-10-24 13:41] mbl-ncp commented on #21487
I just did, thanks for all the advice. https://forum.mattermost.com/t/invalid-state-after-login/14307
Should i close this issue for the time being?

[2022-10-24 17:34] ellisonleao commented on #21468
working on this today

[2022-10-24 17:37] sinansonmez commented on #21358
@mickmister kindly pinging for review

[2022-10-24 18:11] trnhan251 commented on #19148
Hi :) Can I take this ticket?

[2022-10-24 18:16] seanohue commented on #21417
On MacOS, I can navigate this dropdown using the Tab key in the desktop app. Are there expectations that other keys will work for navigation as well (e.g., arrow keys)? Or is it possible this is a Windows-only bug?

[2022-10-24 18:27] #21089 closed, assigned to nobody

[2022-10-24 19:17] amyblais commented on #21417
cc @laneycs

[2022-10-24 19:41] laneycs commented on #21417
- Yes, ideally arrow keys are working for navigation.
- Yes, this is likely a Windows-only bug as it was tested using JAWS software.

Thanks so much for investigating! @seanohue

[2022-10-24 20:27] esethna commented on #21172
@sinansonmez makes sense! Let us know if you have any questions on the backend part in the mean time

[2022-10-24 21:05] MuhammadAakash commented on #21420
@amyblais Sure. Thanks for mentioning the communities. It's my pleasure to work with a great time.
And I will start working on this issue ASAP.

[2022-10-24 23:11] #21085 closed

[2022-10-24 23:53] #21081 closed

[2022-10-25 03:25] agnivade commented on #19148
@huydq189 - are you still working on this?

[2022-10-25 06:14] #21477 closed

[2022-10-25 10:46] ermanimer opened #21494 "Can't update full name on desktop app"
I receive an "Invalid or missing password in request body." error when I try to update my full name in Profile settings.

OS: Windows 11 Home 22H2
Mattermost Desktop: 5.1.1

[2022-10-25 10:46] ermanimer opened #21499 "Can't update full name on desktop app"
I receive an "Invalid or missing password in request body." error when I try to update my full name in Profile settings.

OS: Windows 11 Home 22H2
Mattermost Desktop: 5.1.1

[2022-10-25 11:15] mattermod opened #21495 "disable status updates from RDP status update section"
Add “Disable status updates“ trigger to the dropdown in the status update section of the Run details page.

It should behave the same way as the one triggered from the context menu.

Additionally, e2e tests should be added for enable/disable status updates.

![](Screenshot 2022-10-25 at 12.54.15.png|width=831,height=173)

----
If you're interested please comment here and come [join our "Contributo

[2022-10-25 11:41] #20841 closed

[2022-10-25 12:15] #21354 closed

[2022-10-25 12:28] #21361 closed

[2022-10-25 13:10] #18074 closed

[2022-10-25 13:26] amyblais commented on #21499
Hi @ermanimer, what Mattermost server version are you on?

[2022-10-25 13:59] ermanimer commented on #21499
I got this error on the community server.

But I don't have the error anymore.

[2022-10-25 14:43] amyblais commented on #21499
@ermanimer Thank you, sounds like this is resolved on your end?

[2022-10-25 15:02] batebobo commented on #21248
👋 👋  I'd like to work on this one (and probably others related)

[2022-10-25 15:15] mattermod opened #21502 "Add API endpoint to check if a post from a permalink is accessible"
Add an API endpoint that allows to check if the post that a permalink is pointing to is accessible by joining teams or channels.

If the post is not accessible (does not exist, belongs to a private channel and we are not a sysadmin...) will return a 404.
If the post is accessible, it will return an object like:

[code]

The channel type will be used to make sure we don't navigate to different team

[2022-10-25 15:26] kostaspt commented on #21502
Hey, I'd like to work on this one.

[2022-10-25 15:27] BenCookie95 commented on #21502
Great, thanks @kostaspt

[2022-10-25 15:45] mattermod opened #21503 "Decrease the noise of the daily digest message"
Currently, we send a daily digest if a user has:

  * Tasks that are due today or are overdue
  * Tasks with no due date

After introducing the weekly digest message, we can decrease the noise of the daily digest by notifying users only if they have tasks due today or overdue. The weekly digest message will have full information, including tasks with no due date, so they will not be forgotten.

--

[2022-10-25 15:58] ermanimer commented on #21499
@amyblais yes, thank you.

[2022-10-25 16:09] #21499 closed

[2022-10-25 16:35] #21097 closed

[2022-10-25 17:24] #21161 closed

[2022-10-25 18:45] mattermod opened #21509 "Webapp: Add tooltip on Filter icon in Files RHS"
The filter icon button that shows in the Channel Files RHS or in the Search Results Files Tab RHS does not have a tooltip on it. We should add ‘Filter’ as a tooltip for this Icon Button. See attached screenshots

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where

[2022-10-25 19:12] hokandil commented on #21395
Hi @ashishbhate , please assign this for me.

[2022-10-25 19:30] mattermod opened #21510 "Support UpdateEphemeralPost and DeleteEphemeralPost through REST API"
Currently the plugin API supports [UpdateEphemeralPost](https://developers.mattermost.com/integrate/plugins/components/server/reference/#API.UpdateEphemeralPost] and [DeleteEphemeralPost|https://developers.mattermost.com/integrate/plugins/components/server/reference/#API.DeleteEphemeralPost), but these functions are not available through the REST API.

When an integration creates an ephemeral post

[2022-10-25 20:51] francislavoie opened #21512 "Calls share screen UX improvement"
#### Summary

Related to https://github.com/mattermost/desktop/issues/2320

Feature request: I'd appreciate a button to go straight to full-screen from the small call widget instead of having to click "Pop-out" _and then_ click full-screen.

The usecase is that if I'm full-screen currently (to better read the text on the presenter's screen), I have to click _twice_ to minimize it so I can go open

[2022-10-25 22:10] amyblais commented on #21512
Please reopen this issue at https://github.com/mattermost/mattermost-plugin-calls/issues!

[2022-10-25 22:10] #21512 closed

[2022-10-25 22:30] francislavoie commented on #21512
Thanks, done! https://github.com/mattermost/mattermost-plugin-calls/issues/230

[2022-10-26 01:39] KuldeepBorkar commented on #21495
Hey @mattermod I would like to work on this issue 🐱

[2022-10-26 02:47] hitoshis opened #21514 "Outgoing webhook does not trigger when using multiple callback URLs"
#### Summary
Outgoing webhook does not trigger when using multiple callback URLs

#### Steps to reproduce
Mattermost Version 7.3

#### Expected behavior
When we set outgoing webhook for multiple callback URLs, the webhook is only triggered
ONE URLs.
The URL is different each time.
One time triggered to a URL described in first line, but another time triggered to URL that in second line. something

[2022-10-26 05:02] rolwin100 commented on #21495
I will take this up @trilopin. @KuldeepBorkar I will be taking this up since its a small change on the feature I had worked on.

[2022-10-26 05:09] KuldeepBorkar commented on #21495
@rolwin100 If it's a small change then please allow me to do that since I am a beginner 😿
You can provide some help.

[2022-10-26 05:11] satya-vinay commented on #21509
I would like to work on this.

[2022-10-26 05:17] #21129 closed

[2022-10-26 05:30] rolwin100 commented on #21495
@trilopin your call

[2022-10-26 05:31] rolwin100 commented on #21185
@amyblais I would like to take this since there is no progress on this.

[2022-10-26 05:42] #21133 closed

[2022-10-26 05:45] #21063 closed

[2022-10-26 06:00] #21072 closed

[2022-10-26 07:49] denistorresan commented on #18351
Hi all, thank you @phreaker0 , your solution works for me with some changes! My setup:

- Ubuntu 20.x
- MySQL 8.x, collation utf8mb4_0900_ai_ci
- Mattermost 6.7.0

Pgloader (3.6.1 that comes from repository) fails to load from MySQL 8 and write to Postgres 12 so I changed your script in this way:

I forced to do some changes:
- migrate MySQL 8 to MariaDB 10.5
- change the collation utf8mb4_0900_ai

[2022-10-26 08:36] wurst-hans commented on #7223
Encountered this issue yesterday. Ubuntu 22.04. with Mattermost 7.40. Daily apt stopped Mattermost and MySQL, restarts MySQL but not Mattermost. It might be simple for you to say that it's a task related to Ubuntu. I've used [this](https://docs.mattermost.com/install/installing-ubuntu-2004-LTS.html?src=dl) manual for installation. Maybe the systemd script is faulty!?

[2022-10-26 08:58] #21061 closed

[2022-10-26 09:02] huydq189 commented on #19148
@trnhan251 You can go ahead, I am sorry that I was unable to work on it because of other stuff @agnivade .

[2022-10-26 09:24] KakEgorka opened #21515 "Many errors in logs- "websocket.NextReader: closing websocket""
#### Summary
We face many entries in logs with errors:
`{"timestamp":"2022-10-26 14:04:59.515 +05:00","level":"error","msg":"websocket.NextReader: closing websocket","caller":"app/web_conn.go:830","user_id":"grfze6dkeb8bige7737ibojecr","error":"read tcp 127.0.0.1:8065->127.0.0.2:33418: i/o timeout"}`
Overwise, Mattermost works normally at this time. Maybe, you knows what errors or bugs can trigger

[2022-10-26 09:31] trilopin commented on #21495
@KuldeepBorkar I assigned this one to you because you asked first for it. Do not hesitate to ask any questions that may arise. Enjoy!

@rolwin100 I will create another nice one for you

[2022-10-26 09:53] #21073 closed

[2022-10-26 10:07] KuldeepBorkar commented on #21495
Thank you so much @trilopin : )
There are many questions arising in my mind since I am not much familiar with the codebase of mattermost
Firstly, I wanted to ask in which file I will have to make changes to add `Disable Status Updates` trigger to the dropdown in the status update section of the Run details page.
thank you for letting me ask questions but is it okay to ask questions in the comments

[2022-10-26 10:08] #21464 closed

[2022-10-26 10:20] trilopin commented on #21495
The file you have to update is [this one](https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/components/backstage/playbook_runs/playbook_run/status_update.tsx#L259) and the disable-status-updates feature is already integrated at [the context menu](https://github.com/mattermost/mattermost-plugin-playbooks/blob/master/webapp/src/components/backstage/playbook_runs/playbo

[2022-10-26 11:37] kostaspt commented on #21455
Hey, I'd like to work on this one.

[2022-10-26 12:48] #21487 closed

[2022-10-26 12:49] amyblais commented on #21514
Opened: https://mattermost.atlassian.net/browse/MM-47953.

[2022-10-26 12:50] amyblais commented on #21515
@KakEgorka Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

[2022-10-26 13:26] moogacs commented on #21218
i would like to pick up this, giving that there is no PR yet

[2022-10-26 13:50] #21314 closed

[2022-10-26 14:36] bygui86 commented on #129
please reopen this issue and fix it as it's still around :(

[2022-10-26 15:17] #21293 closed

[2022-10-26 15:19] fgkolf commented on #21247
Hey, is this valid? I see that [browser_store.tsx](https://github.com/mattermost/mattermost-webapp/blob/master/stores/browser_store.tsx) is a plain js class thus it can't be connected to redux.

[2022-10-26 15:22] fgkolf commented on #21367
Hey, can i work on this one?

[2022-10-26 15:22] Breee commented on #15606
No, but in theory you can exploit the gilab SSO integration as long as the tool supports adding custom claims.

[2022-10-26 16:54] amyblais commented on #21247
cc @nevyangelova

[2022-10-26 17:35] #15641 closed

[2022-10-26 20:31] solo-wanderer commented on #21515
Hello, I am having the same exact issue as KakEgorka. Any possible fix?

Mattermost 7.1.3
Using TLS and HSTS with vanilla NGINX

[2022-10-26 20:58] #17785 closed

[2022-10-26 22:20] amyblais commented on #21515
@solo-wanderer Would you be open to posting about this on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this question.

I also found this existing forum topic that may help you: https://forum.mattermost.com/t/constant-websocket-error

[2022-10-26 22:32] esethna commented on #21191
@Willyfrog can you help here? ^

[2022-10-27 06:41] M-ZubairAhmed commented on #21367
i see this is one of those file which actually doesn't have `stores/redux_store.jsx` imports. cc @nevyangelova

[2022-10-27 09:49] shinnlok commented on #21510
I'll take this!

[2022-10-27 09:54] ShajithaMohammed commented on #21209
Wish to contribute!

[2022-10-27 10:48] #21265 closed

[2022-10-27 11:57] lieut-data commented on #21265
Thanks again, @akhil-ghatiki & @gbochora :)

[2022-10-27 12:07] Willyfrog commented on #21191
I think this is the right approach, NotifyProps is a map and it doesn't have specific fields. So [in the user customization](https://github.com/mattermost/mattermost-webapp/pull/5721/files) it is added to the user's notify props, but there is a default sound and we revert to that one if nothing is specified. In your case, it would make sense to store it into the membership notify props, you just n

[2022-10-27 13:40] solo-wanderer commented on #21515
@amyblais Thanks for the link to the forum topic, I created a ticket yesterday, see: <https://forum.mattermost.com/t/websocket-and-tls-errors/14325>

[2022-10-27 14:15] kyeongsoosoo commented on #21191
@Willyfrog  Thanks for the explanation. I understood clearly.
I will prepare the server PR as well.

[2022-10-27 14:34] amyblais opened #21533 "Cloud fast-forward"

[2022-10-27 14:34] amyblais commented on #21533
/cloud-ff

[2022-10-27 14:34] mattermod commented on #21533
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-10-27-backup (SHA: `4bd72af`)
    - mattermost-webapp:refs/heads/cloud-2022-10-27-backup (SHA: `9d9a6da`)
    - enterprise:refs/heads/cloud-2022-10-27-backup (SHA: `0dadee7`)
    - mattermost-api-reference:refs/heads/cloud-2022-10-27-backup (SHA: `63ee7bf`)

### Fast-Forwarded branches
    - m

[2022-10-27 14:34] #21533 closed

[2022-10-27 14:56] chaiwattsw commented on #21331
Any update on this ? if not I would like to take

[2022-10-27 15:02] chaiwattsw commented on #21316
I would like to take this issue please assign to me

[2022-10-27 18:28] amyblais opened #21538 "Mattermost v7.5"
You can find key dates for v7.5 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### October 31st: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### September November 14h: Release Bu

[2022-10-27 18:45] mattermod opened #21539 "Quick option to quote selected text"
### Problem

Quoting someone's previous message using the `> some text I'm quoting` is a common interaction in messages. It can be a bit cumbersome to do though. How can we make that interaction easier for users?

### Proposed Solution

  * When a selection is made on a message, display a floating button to ‘quote’ the selected text.
  * Clicking this button adds the quoted text with the markdown

[2022-10-27 18:47] sinansonmez commented on #21539
@amyblais please assign this to me

[2022-10-27 18:51] sinansonmez commented on #21539
@Esethna figma file is not accessible

[2022-10-27 18:52] esethna commented on #21539
@sinansonmez awesome, try now :)

[2022-10-27 18:55] sinansonmez commented on #21539
@esethna now I can access it

[2022-10-27 19:04] davidrenne opened #21540 "Signing up to the community via apple app on desktop produces error"
#### Summary

Getting error on joining link via app

#### Steps to reproduce

Went here to join the community.  https://mattermost.com/community/.  Installed latest app in app store and am on latest apple OSX version.

And it pops up with this:

<img width="997" alt="Screen Shot 2022-10-27 at 2 28 47 PM" src="https://user-images.githubusercontent.com/117254/198376761-729c3c08-320f-4bef-94f1-7e35b4

[2022-10-27 21:51] cinlloc commented on #12316
Hi, after having read the code it seems a bit complex for me at this time, I give up for now.

[2022-10-27 22:30] amyblais commented on #21540
@davidrenne What did you fill in as the server name and URL? What Mattermost desktop app version are you on?

[2022-10-28 08:40] #21461 closed

[2022-10-28 09:15] M-ZubairAhmed commented on #21253
@AbhinavVihan thank you checking this one out. But this effort will be taken care when we roll out new menu's component soon. Closing this one out

[2022-10-28 09:15] #21253 closed

[2022-10-28 10:06] gergoradeczki opened #21547 "System Console unavailable from website if marketplace is down"
#### Summary

I can't modify system settings when Marketplace is down because System Console shows a blank screen.

![image](https://user-images.githubusercontent.com/4851436/198560127-cbf87299-10dc-4cd7-bb08-9263ea49845e.png)

![image](https://user-images.githubusercontent.com/4851436/198561485-56feb9ea-5f08-4ebe-97a2-9e6912aa93c2.png)

#### Steps to reproduce

- Self hosted
- Mattermost Enterpri

[2022-10-28 10:27] batebobo commented on #21247
Hi @fgkolf, @amyblais! I have a suggestion how to proceed with this class. It's indeed a plain class that shouldn't be connected to redux in any way. I'll link a draft PR that we can discuss :)

[2022-10-28 13:36] #21515 closed

[2022-10-28 13:37] amyblais commented on #21547
Opened: https://mattermost.atlassian.net/browse/MM-48013.

[2022-10-28 14:05] damiansakwinski commented on #19529
Hi, can I take over the work on this issue? :)

[2022-10-28 14:59] hanzei commented on #21547
@gergoradeczki Does disabling the Marketplace (by setting`EnableMarketplace` to `false`) fix the system console?

[2022-10-28 15:06] gergoradeczki commented on #21547
@hanzei I tried it, and System Console is available after disabling Marketplace through config.json
![image](https://user-images.githubusercontent.com/4851436/198668228-74ed1d4d-2e8a-4295-b0c8-fe889850319f.png)

[2022-10-28 15:08] gergoradeczki commented on #21547
Nevermind, Marketplace is up, so I can't really reproduce this _(maybe setting a bad URL for marketplace might be good enough)_

[2022-10-28 15:21] gergoradeczki commented on #21547
I tried to set `MarketplaceURL` to a bad one _(to simulate an unavailable service eg. `https://apis.integrations.mattermost.com`)_, and System Console is available even though I got the "Error connecting to..." error message.

It's worth noting that plugins did get loaded this time. I did not modify my plugins. In the picture above this section was empty.
![image](https://user-images.githubusercon

[2022-10-28 15:25] hanzei commented on #21547
Hm, I have trouble reproducing your issue. Setting `MarketplaceURL` to a "bad" one doesn't crash the system console. I get the same behavior as you.

On your first screenshot it can be seen that `GET /api/v4/config` failed with a 403. Do you see anything related to this failed request in the server logs? Maybe this failing request is the root cause of the blank system console, not the Marketplace.

[2022-10-28 17:08] #21184 closed

[2022-10-28 18:20] sonalimahajan12 commented on #21470
@isacikgoz Please assign this issue to me, I've already raised the PR for this: https://github.com/mattermost/mmctl/pull/601

Please review

[2022-10-28 20:44] esethna commented on #19529
@damiansakwinski yes, it's all yours! Please join the https://community.mattermost.com/core/channels/feature-hashtag-autocomplete channel on our community server where we can communicate and ask questions as needed

[2022-10-28 22:48] aarowman commented on #19031
Hello, any updates on this? It has been nearly a year and it looks like the tickets have not had any updates at all.

In my opinion, we should not close the issue here if it has not been fixed, but I was hoping that the ticket would get prioritized and worked at some point! It is currently `unscheduled`

[2022-10-28 23:18] MarcelRobitaille opened #21552 "The HTML tag always has `lang="en"` even if the language in settings is set to a different language"
#### Summary
Title. There is always `<html lang="en">` even if the settings specify a different language. This matters because I have joined a German server and don't speak any German. I want the `lang` attribute to match the user-generated messages so that Chrome will translate the entire page. Setting the language in settings to English does not solve this because the German messages will not be

[2022-10-29 02:01] amyblais commented on #21552
@MarcelRobitaille What Mattermost server version are you on?

[2022-10-29 07:36] Ajax-Light commented on #21428
Hey @hmhealey, Thanks for your suggestions. I've been working on this issue on & off for about a week now, and while I think I'm on the right track, I can't see the UI changes I've been hoping for. Could you have a look at the Draft PR when you have the time?

[2022-10-29 09:52] prashant-15 commented on #21484
Hi, I needed some help regarding changes needed for above.

The channels and users selector uses AutocompleteSelector component which does not have a support for multiple values unlike the AppFormSelect component.
So will we need to add support for multiple values and if so, in that case, use some external library like react-select in AppFormSelect or use AppFormSelect itself for this?

Also, I ne

[2022-10-29 10:06] MarcelRobitaille commented on #21552
@amyblais Is this what you need?

Mattermost Version: 7.1.1
Database Schema Version: 89
Database: postgres

[2022-10-29 14:33] dsharma522 commented on #21470
@sonalimahajan12 , I have already worked on this and is waiting for the review🙂

[2022-10-29 14:35] dsharma522 commented on #21470
I have created this PR before yours @sonalimahajan12 https://github.com/mattermost/mmctl/pull/601 🙂

[2022-10-29 14:41] dsharma522 commented on #21470
@isacikgoz , please review this one.🙂

[2022-10-29 14:54] Ajax-Light commented on #21428
One of the things I'm stuck on is handling the image when both `isSmallImage` and `isLargeImage` is set. For e.g.: when one of the dimensions is less than `MIN_IMAGE_SIZE` and the other is greater than `MAX_IMAGE_SIZE`

[2022-10-29 17:40] rolwin100 commented on #21185
@mattermod We already have an option to turn off the status update do we need this feat? There's a toggle button on left.

[2022-10-30 05:03] yoyoyojoe commented on #12246
@mattermod Seems like Issue should be closed. See [mattermost-mobile: Issue 3279](https://github.com/mattermost/mattermost-mobile/pull/3279).

**Device Information**

Tested on: [iPhone 11 Pro Max, iOS 15.7]

[2022-10-30 09:20] #21292 closed

[2022-10-30 17:24] jakubriegel commented on #20801
@amyblais sorry for the delay(private emergency). I'm still committed to work on that. The work is in progress.

[2022-10-30 17:41] #21087 closed

[2022-10-30 17:51] satya-vinay commented on #21289
I would like to pick up this, giving that there is no PR yet

[2022-10-31 05:29] waveywaves opened #21555 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for Mattermost maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely free for Mattermost (and all open source projects). This will provide maintainers with previews of their PRs in the clou

[2022-10-31 06:26] agnivade commented on #21555
Hello @waveywaves - thank you for the offer! Your tool sounds like it will be a big help to some other projects. Unfortunately, we already have something like this built. We use the label "Setup Cloud server" on our PRs, and we have some internal automation that creates a Mattermost instance for you.

[2022-10-31 10:52] damiansakwinski commented on #19529
@esethna Thank you. I've joined the channel and will let you know when I have any questions.

[2022-10-31 12:33] amyblais commented on #21185
cc @lieut-data

[2022-10-31 12:36] amyblais commented on #21552
Opened: https://mattermost.atlassian.net/browse/MM-48048.

[2022-10-31 12:54] lieut-data commented on #21185
Thanks for the feedback, @rolwin100! The kernel of this idea is to still allow status updates, but not mandate them via a nagging reminder. The current toggle disallows providing status update altogether.

[2022-10-31 13:17] satya-vinay commented on #21290
I would like to pick up this, giving that there is no PR yet

[2022-10-31 14:41] trnhan251 commented on #19148
To which branch is this belong? I cannot find the method with the name GetColumnInfo

[2022-10-31 15:00] mattermod opened #21558 "Increase max height of the Find Channels modal"
Problem: Currently the “Find Channels” modal has a static maximum height that can feel small on larger monitors

Proposal: Increase the maximum height of the modal by 300 pixels. The modal should still stay centered in the view

Example on a tall portrait monitor:

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/co

[2022-10-31 16:28] isacikgoz commented on #21197
Hey @BabbarRaghav gentle ping on this issue. Are you willing to work on this? I couldn't find any associated PRs to this one. There are a couple of people wants to work on this, and it's okay if you can't find some time to spare this one.Just let us know!

[2022-10-31 16:30] #21555 closed

[2022-10-31 18:17] #21472 closed

[2022-10-31 18:49] mickmister commented on #21484
Hi @prashant-15!

There are a few ways we could go about this. Extending the `AppFormSelect` component to support user and channel autocomplete may make the most sense, since the multiselect is already there for us.

Alternatively, we could modify the existing user and channel suggestion providers to support multiselect, which may be more complicated. There is a multiselect user component for crea

[2022-11-01 06:22] ChandanChainani commented on #21197
@isacikgoz the issue seem already assigned to some here https://github.com/mattermost/mmctl/issues/558

[2022-11-01 06:34] isacikgoz commented on #21197
@ChandanChainani Yeah you are right, I want to wait a bit more until I got a response from @BabbarRaghav, otherwise I'll assign this to you. We generally track the assigned people here so, sorry for the confusion.

[2022-11-01 06:54] JohnnyGagnier commented on #7921
Make a Wish [url=https://pixellogo.com/blogs/pixellogo-blog-1/new-make-a-wish-logo]Shirt(/url) is a fun way to support kids in making their dreams come true!

[2022-11-01 07:01] #21209 closed

[2022-11-01 07:14] #21468 closed

[2022-11-01 08:35] #21469 closed

[2022-11-01 09:11] hanzei commented on #4300
@asatkinson :point_up:

[2022-11-01 09:13] hanzei commented on #13786
It's an old issue, let's close it until someone can reproduce it

[2022-11-01 09:13] #13786 closed

[2022-11-01 09:56] noxer opened #21562 "Add the request context and logger to all public methods in app/admin_advisor.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `app/

[2022-11-01 10:06] noxer opened #21563 "Add the request context and logger to all public methods in app/admin.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `app/

[2022-11-01 10:07] noxer opened #21564 "Add Request Context and logger to all public methods in server/channels/app/analytics.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `serv

[2022-11-01 10:07] noxer opened #21565 "Add the request context and logger to all public methods in server/channels/app/audit.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `serv

[2022-11-01 10:07] noxer opened #21566 "Add the request context and logger to all public methods in server/channels/app/authentication.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `serv

[2022-11-01 10:08] noxer opened #21567 "Add the request context and logger to all public methods in app/authorization.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `app/

[2022-11-01 10:08] noxer opened #21568 "Add the request context and logger to all public methods in server/channels/app/auto_responder.go"
#### Summary
To improve logging, we want to replace the global logger with a request specific one (which will add the request ID to the log message). The request context therefore contains a logger which is already pre-configured with the appropriate information. The task remains to pass the context to all methods used in fulfilling the request.

#### Tasks
- [ ] Change all public methods in `serv

[2022-11-01 12:07] gohrner commented on #18351
Someone else in the forum [experienced the same problem](https://forum.mattermost.com/t/migrating-from-mariadb-to-postgresql-db/14194/11?u=gohrner), but interestingly enough apparently while always using PostgreSQL as the database - which might indicate a bug somewhere concerning how Mattermost or Focalboard stores its settings, or in an earlier DM migration, rather than in the MariaDB-to-PostgreS

[2022-11-01 15:42] sinansonmez commented on #21563
@noxer Please assign this to me

[2022-11-01 15:43] noxer commented on #21563
Gladly :)

[2022-11-01 15:44] BenLloydPearson opened #21572 "Email notifications for DMs from Playbooks contain broken URLs"
#### Summary
Email notifications for direct messages from Playbooks plugin contains invalid URLs.

#### Steps to reproduce
1. Setup your account to receive email notifications when someone sends you a DM.
2. Trigger an action that results in Playbooks sending you a DM.
3. Click links that are inside the email that is sent to you. The two links that are broken are in highlighted in red circles in t

[2022-11-01 16:08] amyblais commented on #21572
Opened https://mattermost.atlassian.net/browse/MM-48089

[2022-11-01 16:08] #21572 closed

[2022-11-01 17:11] sobuctb opened #21573 "Bot didn't recieve mentions from channels where it is not a member"
Should a bot recieve the mention in the channel where the bot is not a member?

Mattermost Version: 7.1.2
Database Schema Version: 89
Database: postgres

We created a bot and a handler based on https://github.com/attzonko/mmpy_bot.
The bot added in the System Admins group, but notifications in a channel where the bot is not added do not come to the handler.
From the ticket https://mattermost.atlas

[2022-11-01 17:38] nikkilocke opened #21574 "Windows app no longer allows its window to be resized."
#### Summary
Windows app 5.2.0 does not allow its window to be resized.

#### Steps to reproduce
Use the Windows app 5.2.0. Open it in a normal window (not full screen, not minimized). Move the cursor to any edge or corner of the window, and try to drag it. Although the mouse cursor changes to indicate you can drag, dragging actually does nothing.

#### Expected behavior
Move the cursor to any edg

[2022-11-01 18:24] amyblais commented on #21573
@DHaussermann @mickmister Do you know what the expected behaviour here is?

[2022-11-01 20:42] sinansonmez commented on #21192
@matthewbirtch I cant access the figma files, could you please check?

[2022-11-01 20:44] matthewbirtch commented on #21192
Apologies @sinansonmez. It should be accessible now

[2022-11-01 20:47] sinansonmez commented on #21192
No worries at all, I can access now. Thanks @matthewbirtch

[2022-11-01 22:15] mattermod opened #21575 "Allow CTRL/CMD + K to insert link formatting when text is selected"
Problem: The typical link formatting shortcut is CTRL/CMD + K, but that conflicts with our channel switcher, so we use CTRL + Alt+ K. This is not discoverable and takes high cognitive load to process the shortcut in mattermost compared to other products.

Proposed Solution (Same as GitHub): When text is selected in the message input are or reply input area,

![image](https://user-images.githubuser

[2022-11-02 01:33] #21138 closed

[2022-11-02 04:14] kalevnakah commented on #16858
Based on the below article, MS Office simultaneously puts the text and picture versions of the text in the clipboard. The Mattermost app has to determine whether to grab one or the other or both. I think that you would have to change the app to do both and then delete the image, otherwise pasting pictures with text, would leave the picture behind.

Alternatively, the users need to be educated to u

[2022-11-02 13:15] mattermod opened #21577 "Change browse channel modal to be infinite scroll"
**Expected behaviour:**
The browse channel modal should be changed to infinite scroll using a similar loading indicator as the post list infinite scroll. Threshold will be 30 per list and load more when the scroll passes the threshold.

![](screenshot-1|width=200,height=183)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.matter

[2022-11-02 13:16] amyblais commented on #21573
cc @hanzei

[2022-11-02 13:54] #21056 closed

[2022-11-02 14:47] prashant-15 commented on #21484
Hi @mickmister
Thanks for your response! I'll go ahead with extending AppFormSelect to support autocomplete for users and channels as that makes the most sense.

I'll also try setting up the apps by setting the SiteURL as given.

[2022-11-02 16:47] shogohida commented on #21558
@mattermod
I want to work on this and to know which part of the code is “Find Channels” modal you mentioned!

[2022-11-02 16:58] shieldsjared commented on #16858
Had no idea that `Shift + Ctrl + V` was a thing! Great insight @kalevnakah!  Personally I don't have an opinion on a good fix for it. But if I had to weigh in, using the key combo you've shared seems like the most flexible, so I agree that it would just be a matter of educating users. Or perhaps I'm just _really late_ to the game on that shortcut.

[2022-11-02 17:26] amyblais commented on #21558
Feel free to [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers).

[2022-11-02 18:07] coltonfreeman26 opened #21581 "Go version"
Hello all,
Would it be possible to bump the current Go version? Currently on 1.18.1 and our scan tools have found a few high findings in regards to that.
https://nvd.nist.gov/vuln/detail/CVE-2022-2879
https://nvd.nist.gov/vuln/detail/CVE-2022-2880
https://nvd.nist.gov/vuln/detail/CVE-2022-41715
We are using the images available in hub.docker (currently on 7.4).
I did check the Jira boards and did

[2022-11-02 18:17] hanzei commented on #21573
As far as I know, this is not true. Bot accounts are tied to the same permission system as regular users. Only bot accounts managed by a plugin can get around the permission system.

Do you know how exactly `[mmpy_bot](https://github.com/attzonko/mmpy_bot)` works? If the bot is a system admin, it could add itself to all channels and then receive mentions.

[2022-11-02 19:20] amyblais commented on #20248
Closing this for now. Please let me know if you'd prefer re-opening this, or if you've had a chance to ask about this either at [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/. Our community and developers will likely be able to help with this.

[2022-11-02 19:20] #20248 closed

[2022-11-02 19:20] amyblais commented on #20660
Closing this for now. Please let me know if you'd prefer re-opening this, or if you've had a chance to ask about this either at [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/. Our community and developers will likely be able to help with this.

[2022-11-02 19:20] amyblais commented on #20810
Closing this for now. Please let me know if you'd prefer re-opening this, or if you've had a chance to ask about this either at [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/. Our community and developers will likely be able to help with this.

[2022-11-02 19:20] #20810 closed

[2022-11-02 20:33] hmhealey commented on #21428
I commented on your PR with why I think your changes might not be working.

As for handling both those cases, I'd hope we could find one set of CSS that would work for that. The "large image" case is actually already handled for anything that's wide enough to not count as a "small image", so that case you're describing is actually the only one that's causing us problems at the moment. In other wor

[2022-11-02 20:36] hmhealey commented on #21247
I commented on that PR already, but to echo that back here, that's actually what we were hoping for with these tickets.

For `BrowserStore` in particular, that's actually a relic of the old Flux store we had before Redux, so that's why it was a plain class that had to import the singleton Redux store directly. Thankfully, it's only used in a few places, so just removing the Redux code from it enti

[2022-11-02 21:47] sobuctb commented on #21573
Hi! Yep, it use connection to the web socket to listen for events from the server.
1) So, adding the bot to each channel is the only one solution now?
2) Why are someone asked to remove the ephemeral message? The users use mention to the bot and think that every is fine, but our team is not notified.

[2022-11-03 03:23] kalevnakah commented on #16858
I have been a power user of computers for the last 25+ years and never knew about this until yesterday and I think it's a really well-kept secret. Especially considering how old this issue is and I am the first to mention it here.

I think my theory about how the 'copy and paste' works, is wrong. I just tried copying different things from one note and other sources and pasting them into Evernote a

[2022-11-03 05:14] anx-ag commented on #21573
If the bot has the `system_admin` role, it can post to all channels without being member of it. You might need to set these permissions directly in the database, but it works. I'm using a combination of the following bot permissions on my system:

[code]

bot01 and bot02 can be clicked through the GUI and/or created using `mmctl`or the API, bot03 is the bot with super powers and does not need to b

[2022-11-03 08:45] mattermod opened #21586 "Load-test tool: Document lack of support of Windows"
The [load-test tool](https://github.com/mattermost/mattermost-load-test-ng) has some `make` commands to build on Windows, but they don't work anymore:

[code]

[2022-11-03 14:51] amyblais opened #21587 "Cloud fast-forward"

[2022-11-03 14:51] amyblais commented on #21587
/cloud-ff

[2022-11-03 14:51] mattermod commented on #21587
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-11-03-backup (SHA: `98db368`)
    - mattermost-webapp:refs/heads/cloud-2022-11-03-backup (SHA: `d5b1dba`)
    - enterprise:refs/heads/cloud-2022-11-03-backup (SHA: `e600451`)
    - mattermost-api-reference:refs/heads/cloud-2022-11-03-backup (SHA: `72f0367`)

### Fast-Forwarded branches
    - m

[2022-11-03 14:52] #21587 closed

[2022-11-03 16:55] khimaros opened #26874 "export in_progress for more than 25 days"
i'm trying to export (including attachments) and it has been `in_progress` since 2022-10-07.

this is for a relatively small instance with only 10 accounts and maybe 200mb max of attachments.

is there any help you can offer?

[2022-11-03 17:46] hmhealey commented on #16858
Interesting. I didn't know that was supported by the browser. I figured that would be something we'd need to implement ourselves. It doesn't seem to disable all of our paste handling, but at least it works for this case

[2022-11-03 18:19] wiggin77 opened #23057 "Bug: Link boards doesn't work first time"
## Steps to reproduce the behavior

1. Create new user
2. With new user account, create new channel
3. In new channel, click Boards icon on RHS
4. Click `Link boards to <channel_name>`
5. Click `Create a board`
6. See `Welcome to Boards` page, with offer to take tour
7. Click `No thanks, I figure it out`
8. See no newly created board;  no board appears in linked boards list

## Expected behavior

[2022-11-03 19:15] esethna commented on #19031
@aarowman this does not seem to be reproducible on master: https://mattermost.atlassian.net/browse/MM-40319?focusedCommentId=136274

[2022-11-03 21:42] MynaITLabs opened #21589 "Draft saved messages: draft 'pencil' icon for posts but not for thread replies"
#### Summary
Draft saved messages: 'pencil' icon for posts but not for thread replies.

#### Steps to reproduce
Web/html app:  Mattermost Enterprise Edition
Modern communication from behind your firewall.

Mattermost Version: 5.37.9
Database Schema Version: 5.37.9
Database: mysql

1) Open a channel  "Testing Alphabet"
2) Post a message "AAAAAAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHH"
3) Post a 2nd messa

[2022-11-03 22:09] amyblais commented on #21589
@MynaITLabs v5.37.9 is an unsupported server version. Are you able to reproduce this on a supported version? (We support versions 7.1.0 and later)

[2022-11-03 23:10] MynaITLabs commented on #21589
Ah. I thought we just upgraded a few months ago.  I'll check with IT admin and schedule an update. Then followup and see if issue still there.  Tanks.

[2022-11-04 07:35] isacikgoz commented on #21197
@BabbarRaghav I'm unassigning you due to inactivity. Since @ChandanChainani was the first person actually asked to work on this, I'm assigning this to him.

[2022-11-04 12:23] amyblais commented on #21589
I was able to reproduce also on the latest version - ticket: https://mattermost.atlassian.net/browse/MM-48185.

[2022-11-04 12:37] #20536 closed

[2022-11-04 16:39] Porthorian opened #21592 "Feature request - Add ability to block people on mattermost."
#### Summary
I wanna be able to block users on Mattermost from ever seeing their faces again on the client.

#### Steps to reproduce
Feature Request

#### Expected behavior
Shouldn't be able to see the user message me or talk in a public channel.

#### Observed behavior (that appears unintentional)
N/A

#### Possible fixes
N/A

[2022-11-04 16:48] amyblais commented on #21592
Thanks, appreciate your feedback @Porthorian,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and

[2022-11-04 16:48] #21592 closed

[2022-11-04 16:56] Porthorian commented on #21592
Hi @amyblais  appreciate it for pointing me in the right direction.

For any future people that discover this issue.

https://mattermost.uservoice.com/forums/306457-general/suggestions/45943825-add-ability-to-block-people

[2022-11-04 19:15] mattermod opened #21595 "Remembering where a user was when going back to the search results after looking at a thread within it"
**Current behaviour:**

1. User performs a global search and receives multiple search results

2. User is scrolling and clicks into a thread midway through the list of results

![](Screen Shot 2022-11-04 at 11.45.54 AM.png|width=957,height=784)

![](Screen Shot 2022-11-04 at 11.46.10 AM.png|width=953,height=792)

3. User is done looking at this thread and wants to continue through the search resul

[2022-11-04 21:42] #21337 closed

[2022-11-04 21:45] mattermod opened #21596 "Avoid passing global state into telemetry_actions.jsx in mattermost webapp"
This ticket aims at improving the way we handle actions in Mattermost Web App. Currently we are passing the state and dispatch directly from our imported global store in the action creators.

In order to make the action creators more predictable and improve their testability we need to refactor the way we handle them and make sure they are always passed to mapDispatchToProps in the connected compo

[2022-11-04 23:55] guilschaidhauer commented on #19160
Hi. I would like to work on this. Could someone please assign this to me if possible?

[2022-11-05 00:23] guilschaidhauer commented on #20228
Hi. I would like to work on this. Could someone please assign this to me?

[2022-11-05 01:54] Tragen commented on #15184
Today I had the same problem and found this bug report
https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/101
For me there is also no reason to limit the plugin upload file size because of this parameter.

[2022-11-05 14:12] sobuctb commented on #21573
There is no problem with sending messages to the channels. There is a problem with receiving mention from the channel where the bot is not a member. No events from the web socket with bot's token

[2022-11-05 14:22] sobuctb commented on #21573
@hanzei So, should I try with plugin code to achieve expected result?

[2022-11-05 18:10] Soj447 commented on #21568
I would like to take this.

[2022-11-05 21:12] sinansonmez commented on #21192
@matthewbirtch One question. When I see my own profile popover, what should be the action for the icon on the bottom right? Sending a message to myself? If yes, should tooltip show `Message`?

<img width="237" alt="Screen Shot 2022-11-05 at 22 08 56" src="https://user-images.githubusercontent.com/37421564/200141458-47b93326-d02f-487b-a6b8-8fd9c9b01465.png">

[2022-11-06 04:13] sk409 commented on #16226
I would like to work on this issue.

[2022-11-06 04:16] #18163 closed

[2022-11-06 15:23] matthewbirtch commented on #21192
Yep, it should take you to a DM with yourself. We can make the tooltip "Send yourself a message"

[2022-11-06 16:49] kyeongsoosoo commented on #21191
@esethna Can I ask one more question?
From the mock up image, we need `Reset to Defaults` button.
![스크린샷 2022-11-07 오전 1 45 54](https://user-images.githubusercontent.com/59413880/200183415-25b589ee-60cc-4d19-81a6-345b9db893d5.png)

I found that we already have Global Default option.
![스크린샷 2022-11-07 오전 1 46 42](https://user-images.githubusercontent.com/59413880/200183459-8d928de

[2022-11-06 18:04] jakubsimo commented on #17580
Hi, can I work on this issue ? Can you assign it to me ?

[2022-11-06 20:17] Soj447 commented on #21567
I would like to take this.

[2022-11-07 08:11] saturninoabril commented on #21297
Closing now. Thanks @cinlloc!

[2022-11-07 08:12] #21297 closed

[2022-11-07 10:02] noxer commented on #21224
Reopening this

[2022-11-07 10:19] stelgkio commented on #21565
I would like to take this.

[2022-11-07 10:34] neeral85 opened #21603 "if server comes only via GPO "Add Server" appears on each startup"
Issue https://mattermost.atlassian.net/browse/MM-37863 did appear again in client version 5.2.0

https://github.com/mattermost/desktop/issues/1686

[2022-11-07 12:31] MikaelStrom opened #21604 "Bug in file upload"
#### Summary
I think I've found a bug in the file upload using the free version at <name>.cloud.mattermost.com. Uploading files with certain filenames fails.

I have only access to MacOS so the test case below applies to MacOS 10.15.7, Safari 15.6.1 and Mattermost desktop app Version 5.1.1.

#### Steps to reproduce
Using this zip file
[files.zip](https://github.com/mattermost/mattermost-server/fil

[2022-11-07 12:38] MikaelStrom commented on #21604
I just tried to reproduce on a non-cloud installation (Mattermost Version: 6.6.1), and the problem does not exists there, so it seem to be specific to the current cloud version.

[2022-11-07 13:15] mattermod opened #21605 "Highlighting part of a code block and choosing "Copy" copies the entire code block, instead of the portion highlighted"
[https://github.com/mattermost/mattermost-server/issues/20826](https://github.com/mattermost/mattermost-server/issues/20826|smart-link)

##### Summary

Highlighting part of a code block and choosing "Copy" copies the entire code block, instead of the portion highlighted

##### Steps to reproduce

  * Type a multiline code block (the kind surrounded by three backticks)
  * Highlight a portion of th

[2022-11-07 13:17] amyblais commented on #21538
### v7.5 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.5.0-rc1/mattermost-team-7.5.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/6005/files

[2022-11-07 13:29] amyblais commented on #15184
Closing as the documentation for this has been merged https://github.com/mattermost/docs/pull/5013.

[2022-11-07 13:29] #15184 closed

[2022-11-07 13:31] amyblais commented on #21603
Duplicate of https://github.com/mattermost/desktop/issues/2335 and will be fixed in 5.2.1,

[2022-11-07 13:31] #21603 closed

[2022-11-07 13:43] amyblais commented on #21604
Opened: https://mattermost.atlassian.net/browse/MM-48218.

[2022-11-07 14:03] Willyfrog commented on #20228
hi @guilschaidhauer closing this issue. Thanks for pointing out that it wasn't happening anymore

[2022-11-07 14:03] #20228 closed

[2022-11-07 14:05] LukasFiniarel commented on #21283
The problem persists.
Also in server version 7.4.0 and Windows Desktop Client: 5.2.0.
I have no idea how to solve the problem

[2022-11-07 15:09] kleag opened #21606 "Desktop client notification icon in task bar is hard to decipher"
#### Summary
I always think there is new unread messages when looking at the mattermost icon in the taskbar even when there is no message.

#### Steps to reproduce
Open the Mattermost desktop client under Linux (up to date KDE Neon in my case)

#### Expected behavior
The  taskbar icon should easily differenciate between the states when there is new unseen messages or not.

#### Observed behavior (

[2022-11-07 15:20] #21248 closed

[2022-11-07 17:35] amyblais commented on #21606
@kleag What Mattermost desktop app version are you on? What Mattermost server version are you on?
Would you be open to reopening this issue at https://github.com/mattermost/desktop/issues?

[2022-11-07 20:00] mattermod opened #21608 "Migrate /support/client-impl.js file to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ to TypeScript:

  * client-impl.js

This file also needs (better) comments.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching TypeScript file, and dele

[2022-11-07 20:00] mattermod opened #21609 "Migrate /support/notification.js file to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ to TypeScript:

  * notification.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching TypeScript file, and delete the declaration file, if necessary (s

[2022-11-07 20:00] mattermod opened #21610 "Migrate /support/assertions.js file to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ to TypeScript:

  * assertions.js

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matching TypeScript file, and delete the declaration file, if necessary (see

[2022-11-07 20:30] mattermod opened #21611 "Migrate /support/saml_commands.js file to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ to TypeScript:

  * saml_commands.js

This file also needs (better) comments, and definitions added to the file.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into t

[2022-11-07 20:30] mattermod opened #21612 "Migrate /support/okta _commands.js file to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ to TypeScript:

  * okta_commands.js

This file also needs (better) comments, and definitions added to the file.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into t

[2022-11-07 20:30] mattermod opened #21613 "Migrate /support/fetch_commands.js file to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ to TypeScript:

  * fetch_commands.js

This file also needs (better) comments, and definitions added to the file.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into

[2022-11-07 21:00] mattermod opened #21614 "Migrate /support/ui/channel_sidebar.js to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ui to TypeScript:

  * channel_sidebar.js

This file also needs (better) comments, and definitions added to the file.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files in

[2022-11-07 21:06] esethna commented on #21191
@kyeongsoosoo the intension is to have the "reset to defaults" button that would apply the global defaults in account settings to both the "send desktop notifications" and "Notification sounds" sections. So we can remove the "Global default (X)" radio button in that case

[2022-11-07 21:15] mattermod opened #21615 "Migrate /support/ui/team.js to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ui to TypeScript:

  * team.js

This file also needs (better) comments, and definitions added to the file.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the matc

[2022-11-07 21:15] mattermod opened #21616 "Migrate /support/ui/search.js to TypeScript"
Convert the following file(s) under e2e/cypress/tests/support/ui to TypeScript:

  * search.js

This file also needs (better) comments, and definitions added to the file.

**Below is a checklist of items you should be doing to migrate:**

  1. Rename the file(s) to their associated TypeScript extensions (ie. `js` to `ts`)
  1. Move over all the types from the declaration (`d.ts`) files into the ma

[2022-11-07 22:07] simcard0000 commented on #21179
This is the [Gitpod set up video](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=video&cd=&cad=rja&uact=8&ved=2ahUKEwipqJaTip37AhVtlIkEHVU5BCMQtwJ6BAgJEAI&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DLgQ2Z_GelYQ&usg=AOvVaw2OwqfuBEQHCiKRqjmj6xG9); and the discussion for adding/mentioning Gitpod in the docs can be accessed [here](https://github.com/mattermost/mattermost-gitpod-config/issu

[2022-11-07 22:22] simcard0000 commented on #18176
Hey Saturn! Picking this up to work on the side :)

[2022-11-07 22:23] simcard0000 commented on #18181
Also grabbing this to work on it :)

[2022-11-07 22:23] simcard0000 commented on #21387
Another issue I'm grabbing :)

[2022-11-07 23:06] saturninoabril commented on #18181
Thanks @simcard0000!

[2022-11-07 23:06] saturninoabril commented on #18176
Thanks @simcard0000!

[2022-11-08 00:26] #21356 closed

[2022-11-08 00:58] esethna commented on #21283
Okay thanks. @philkunz it's being added to our queue, but if you or anyone else reading this has an idea how to solve it, please feel free to contribute the fix

[2022-11-08 01:12] #21259 closed

[2022-11-08 01:58] guilschaidhauer commented on #21610
I can work on this. Can someone please assign it to me?

[2022-11-08 03:10] AbhinavVihan commented on #21412
I wuld like to work on this please.

[2022-11-08 03:11] #20600 closed

[2022-11-08 05:35] kamelysmith opened #21618 "Check Your Cash App Balance | Check Your Cash Out Status"
Cash app users must appreciate the importance of Cash cards and debit cards. The Cash card and Cash app debit card allow you to easily handle your financial transactions as well as pay for goods and services. Anytime, you can get an update on your [Cash app card balance](https://cashappscontact.com/blog/cash-app-balance). Your Cash app card balance can be found either by contacting Cash app suppor

[2022-11-08 11:01] #19803 closed

[2022-11-08 12:03] tmotyl commented on #20327
this should get reopened as the merge was reverted, see https://github.com/mattermost/mattermost-server/pull/20367
I have stumbled upon the same issue.
In Polish there are first names starting with accented letters. e.g. "Łukasz".
Right now it's really hard to find these people especially on mobile, as mattermost is not showing users when you type "lukasz".

[2022-11-08 13:08] babinderrathi commented on #21419
I would like to work on this.

[2022-11-08 13:57] #16136 closed

[2022-11-08 13:57] #21134 closed

[2022-11-08 13:57] #21135 closed

[2022-11-08 13:57] #21137 closed

[2022-11-08 14:22] #21618 closed

[2022-11-08 15:10] #21298 closed

[2022-11-08 15:29] #21222 closed

[2022-11-08 16:25] BediNimret commented on #21616
I would like to work on this

[2022-11-08 16:27] BediNimret commented on #21614
I would like to work on this

[2022-11-08 16:33] DSchalla commented on #21581
Hi @coltonfreeman26,

Sorry for the delay in our response. I can confirm that Mattermost is not affected by one of the CVEs listed by your vulnerability scanner. Our team is monitoring any new CVEs against Mattermost and our dependencies and only triggers the vulnerability remediation process if during triage we confirm that we are using the vulnerable code path.

Regardless, wWe are currently pla

[2022-11-08 17:43] coltonfreeman26 commented on #21581
Awesome, and thank you for getting back to me. I can take this info back to
the team.

W/r
Colton.

On Tue, Nov 8, 2022 at 9:33 AM Daniel Schalla ***@***.***>
wrote:

[2022-11-08 17:45] #21581 closed

[2022-11-08 18:17] jurelou commented on #15957
up! Any ideas if this will be implemented ?

[2022-11-08 19:14] zxyrepf opened #21621 "Team reordering stops working at 75+ teams"
#### Summary
Team reordering stops working at 75+ teams.

#### Steps to reproduce
Mattermost Version: 7.3.0
Database Schema Version: 92
Database: postgres

1. Join 75 or more teams
2. Try to reorder teams using drag and drop

#### Expected behavior
Team list gets reordered.

#### Observed behavior (that appears unintentional)
Team list resets to alphabetical order because the request to store the

[2022-11-08 19:48] amyblais commented on #21621
Opened: https://mattermost.atlassian.net/browse/MM-48283.

[2022-11-08 20:30] svbnbyrk commented on #21564
Would you assign it to me?

[2022-11-09 05:37] MJ111 commented on #21562
I would like to take this.

[2022-11-09 07:23] #21090 closed

[2022-11-09 09:26] #21220 closed

[2022-11-09 09:28] #21219 closed

[2022-11-09 11:02] cgoxo commented on #21612
Hello!
Can I work on this issue? I am relatively new to this.

[2022-11-09 13:41] #21455 closed

[2022-11-09 14:46] jeffreyssmith2nd commented on #19908
Unassigning myself as I believe this work was completed in https://github.com/mattermost/mattermost-plugin-playbooks/pull/1350

[2022-11-09 16:09] kyeongsoosoo commented on #21191
Thank you for clarifying!

[2022-11-09 16:25] #14029 closed

[2022-11-09 17:13] Manishpandey11 commented on #21621
Hello all,
I want to resolve this issue *; please assign this issue to me

[2022-11-09 17:57] MANISHPANDEY06 commented on #20100
Hello all,

I want to resolve this issue *; please assign this issue to me
@amyblais

[2022-11-09 21:11] lieut-data commented on #19908
Thanks for making it possible to get so far, @jeffreyssmith2nd!

[2022-11-09 21:11] #19908 closed

[2022-11-10 09:57] asaadmahmood opened #23056 "Enhancement: Add a dialog to remove the sorting, and go to manual sorting"
## Steps to reproduce the behavior
1. Try to have a particular sorting, **not manual sorting**
2. Try to drag and move the table rows
3. They are unresponsive, nothing happens

## Expected behavior
We should add a dialog to remove the sorting, and convert it to a manual sorting if a user drags something and **drops it**

## Screenshots (optional)
![image](https://user-images.githubusercontent.com/

[2022-11-10 13:16] iam-hitesh commented on #21566
Hi @noxer,

I want to pick this issue.

[2022-11-10 13:33] amyblais opened #21636 "Cloud f-f"

[2022-11-10 13:33] mattermod commented on #21636
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-11-10-backup (SHA: `2aa0e5a`)
    - mattermost-webapp:refs/heads/cloud-2022-11-10-backup (SHA: `bc97728`)
    - enterprise:refs/heads/cloud-2022-11-10-backup (SHA: `04f360d`)
    - mattermost-api-reference:refs/heads/cloud-2022-11-10-backup (SHA: `1beaa7f`)

### Fast-Forwarded branches
    - m

[2022-11-10 13:33] #21636 closed

[2022-11-10 13:52] ritsku opened #21637 "Information sidebar not displaying profiles properly"
#### Summary
When clicking on a person's profile picture, the profile does not persist, but instead flashes and disappears.

#### Steps to reproduce
In any channel with more than two people, open the info bar top right, click on members, and then on a member profile picture.

#### Expected behavior
Expected behavior is that the profile picture will display as it would when clicking on a team membe

[2022-11-10 14:16] amyblais commented on #21538
### v7.5 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/7.5.0-rc2/mattermost-team-7.5.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/6005/files

[2022-11-10 14:18] amyblais commented on #21637
Open ticket: https://mattermost.atlassian.net/browse/MM-45789.

[2022-11-10 19:00] bsarabeswaran commented on #21224
Could I pick this up?

[2022-11-10 19:05] elee5976 commented on #19916
Can I pick this up?

[2022-11-10 21:26] sobuctb commented on #21573
Any help?

[2022-11-11 00:15] arendsk commented on #21605
I am interested in taking this issue. Can someone assign it to me?

[2022-11-11 00:52] arendsk commented on #15174
I'd like to take this, could someone add me to it?

[2022-11-11 00:56] arendsk commented on #21605
Can someone help direct me towards the relevant existing code that causes this bug?

[2022-11-11 03:18] hanzei commented on #15174
Sure, @arendsk :+1:

[2022-11-11 05:42] #21358 closed

[2022-11-11 07:56] shawn111 opened #21641 "Once "context deadline exceeded" error happened, need to restart service."
#### Summary
When the error happened, can not access mattersmost service.
It would redirect to login page and show "Token Error", like https://forum.gitlab.com/t/mattermost-token-error/65279/2.

Check mattermost.log, once this error happen, all db connection were broken.
Nov 11 09:41:13 messaging-server mattermost: {"timestamp":"2022-11-11 09:41:13.085 +08:00","level":"error","msg":"Failed to list

[2022-11-11 11:38] chiragbaid7 commented on #19363
hi @agnivade, sorry couldn't proceed further on this was unwell for some weeks. I will start working on this asap.

[2022-11-11 13:03] amyblais opened #21642 "F-f"

[2022-11-11 13:03] amyblais commented on #21642
/cloud-ff

[2022-11-11 13:03] mattermod commented on #21642
Could not complete the fast-forward process w/o errors. Please perform a manual check on repositores.

[2022-11-11 13:18] phoinixgrr commented on #21642
/cloud-ff

[2022-11-11 13:18] mattermod commented on #21642
Could not complete the fast-forward process w/o errors. Please perform a manual check on repositores.

[2022-11-11 13:52] amyblais commented on #21605
cc @Willyfrog

[2022-11-11 13:53] amyblais commented on #20826
Closing as there is a Help Wanted issue open for this.

[2022-11-11 13:53] #20826 closed

[2022-11-11 13:56] amyblais commented on #21642
/cloud-ff

[2022-11-11 13:56] mattermod commented on #21642
Could not complete the fast-forward process w/o errors. Please perform a manual check on repositores.

[2022-11-11 14:00] amyblais commented on #21540
Closing as there hasn't been a response for a while. Feel free to re-open as needed.

[2022-11-11 14:00] #21540 closed

[2022-11-11 14:19] amyblais commented on #21642
/cloud-ff

[2022-11-11 14:19] mattermod commented on #21642
Could not complete the fast-forward process w/o errors. Please perform a manual check on repositores.

[2022-11-11 14:22] amyblais commented on #21641
Opened: https://mattermost.atlassian.net/browse/MM-48353.

[2022-11-11 15:11] phoinixgrr commented on #21642
/cloud-ff

[2022-11-11 15:11] mattermod commented on #21642
## Summary for the fast forward process

### Skipped repositories
Could not create the backup branch for following (a backup may already exist):
    - mattermost-server
    - enterprise
    - mattermost-webapp
    - mattermost-api-reference

### Fast-Forwarded branches
    - enterprise
    - mattermost-api-reference
    - focalboard

 Successfully fast-forwarded 3 repositories.

[2022-11-11 17:18] #21642 closed

[2022-11-11 18:00] mattermod opened #21645 "Default to opening a file when it is clicked from the download list"
**Current Behaviour:**
When a user downloads a file from the Desktop app, the default is to open it's location in finder/windows explorer

**Desired Behaviour:**
When a user downloads a file from the Desktop app, the default is to open the file itself so it can be viewed

Note:
The downloads list referenced below is only available on Desktop v5.2 and later
The update to this feature must be done o

[2022-11-12 14:03] aligolestan opened #21652 "Unable to send JPG files exported from MIRO"
Hi,
I can't send JPG files which are exported from MIRO. It stucks on "processing" phase and nothing happens after.

[2022-11-12 15:53] AbhinavVihan commented on #21266
I would like to work on this please.

[2022-11-13 17:09] mattlam88 commented on #21586
This is my first time working on an OSS project, I would like to try to fix this issue, if possible!

[2022-11-14 04:57] #20716 closed

[2022-11-14 06:21] agnivade commented on #21641
Hello @shawn111 - an error of "context deadline exceeded" means that the database exceeded the query timeout set by the application.

I'd suggest to check the database logs for any issues. But as you mentioned above, the db does not appear to have any issues.

I think I'd need some more information about your setup to be able to provide further info.
- Is it a docker setup?
- Are both the applicat

[2022-11-14 06:32] anx-ag commented on #21641
If it happens unregularly or only when the system has been running for some days, there might be an autovacuum blocking things or reducing performance so that the other queries cannot finish. It's also possible that the application's connection pools get full because of that or that you reach max connections on your database server and the application therefore stops working for new queries while

[2022-11-14 07:11] AbhinavVihan commented on #21402
@ritvikmathur1999, Are you working on this,
If not, can I take this.

[2022-11-14 07:34] ritvikmathur1999 commented on #21402
I’m not working on this currently. Sure, you can take it.

[2022-11-14 09:13] agarciamontoro commented on #21586
All yours, @mattlam88, thank you! Don't hesitate to ask any questions you have :)

[2022-11-14 10:59] shawn111 commented on #21641
@agnivade yes, as beginning. I also thought this issue is caused by db loading.
However, when I check the grafana postgres dashboard. I thought the problem might cause from mattermost side.

{"timestamp":"2022-11-13 09:14:44.587 +08:00","level":"error","msg":"GetChannelMembersForUserWithPagination: Unable to get the channel members., failed to find ChannelMembers data with and userId=1gigwsncqibwd

[2022-11-14 11:14] shawn111 commented on #21641
![image](https://user-images.githubusercontent.com/346761/201645944-e5b48c1b-1764-41bd-a288-2fa851d78aed.png)

BTW, I'm curious about it seem there is a big query every hours, even in mid night.
We should not have lots of users in mid night.

[2022-11-14 11:46] shawn111 commented on #21641
[code]
@agnivade It seem it might cause by my setting.
We use an zhparser extension, maybe the "context deadline exceeded" is related with the LOCK.

[2022-11-14 13:41] amyblais commented on #21652
@aligolestan
1. What Mattermost server version are you on?
2. What OS and version are you on?
3. What Mattermost errors do you see in the logs?
4. Are you able to do a quick test if you can reproduce this issue on our community server, which is on the latest version - https://community.mattermost.com/?

[2022-11-14 14:11] BenCookie95 commented on #21266
@AbhinavVihan I am working on the Jira ticket, this is nearly complete. Sorry for the inconvenience

[2022-11-14 18:07] #9196 closed

[2022-11-14 19:06] Mystigan commented on #21475
@hionay , how's it going?
Are you working on this? If not, I would like to give it a try.

[2022-11-15 04:07] AbhinavVihan commented on #21402
@AshishDhama, @ashishbhate, the issue mentioned here is working fine as is.
![Screenshot from 2022-11-15 09-32-11](https://user-images.githubusercontent.com/89139362/201824141-f99cd8ff-2970-41ad-9757-a2baa31589f9.png)
![Screenshot from 2022-11-15 09-32-30](https://user-images.githubusercontent.com/89139362/201824146-336922a9-f4c0-4335-b67d-e62f771978e7.png)
![Screenshot from 2022-11-15 09-33-27](h

[2022-11-15 04:17] AshishDhama commented on #21402
@AbhinavVihan Thanks. Yeah not reproducing on a local server, but happening on our community server.

[2022-11-15 08:03] damiansakwinski1 commented on #19529
@esethna I sent you a question. Looking forward to your response ;)

https://community.mattermost.com/core/pl/ipn89uprofy4pmqw7uu97g9pih

[2022-11-15 08:51] Ramel commented on #19602
I've got this bug when updating from 5.37.10 to 6.0.4 with MariaDB.
The `DROP PROCEDURE IF EXISTS RenameSolarizedThemeWithUnderscore;` did not fix it.
But an upgrade to 7.1.4 did the trick.

[2022-11-15 11:36] #21247 closed

[2022-11-15 14:30] mattermod opened #21669 "Webapp: UI discrepancy on tooltip shaded overlay when RHS is expanded"
Regression in v7.5 and didn't happen in v7.4

Steps:
1. New user on the server
2. Open a reply thread, observe the overlay with the Threads help text popup
3. Without dismissing the tooltip, click the expand arrows to expand the RHS

See screenshot.

Observed: Overlay stays in place, partially on top of the expanded RHS

*Issue created from a [message in Mattermost](https://community.mattermost.co

[2022-11-15 14:46] Willyfrog commented on #21605
Sorry for the delay in getting back, unfortunately I don't know the answer to the question.

@michelengelen can you help with the question?

[2022-11-15 15:39] aarowman commented on #19031
@esethna Ok, and that link is specifically for disabled system messages. I haven't tested that lately myself.
How about when system messages are enabled? That still happens for me on latest version (on prem deployment).

I'm guessing the fix for the second will fix both anyway

[2022-11-15 16:40] michelengelen commented on #21605
@arendsk Thanks for your interest in fixing this bug.

This is the component that is responsible for showing the code blocks: https://github.com/mattermost/mattermost-webapp/blob/master/components/code_block/code_block.tsx

specifically the `copyText` function.

Let me know if you need any further advice.

[2022-11-15 19:02] esethna commented on #19529
Sorry for the delay @damiansakwinski, finding someone who help with some guidance

[2022-11-15 19:11] DonCziken opened #21674 "Slow response times from /api/v4/analytics/old happening on app open"
#### Summary
Recently we've been experiencing performance issues with our MM server, while the root cause was different, we've noted that the following request takes 600-700ms on initial load of the web and desktop app. This causes annoying entrance lag for admin users, while also produces a 403 error for non admin users on app open, both which we see as an issue.

`GET https://SERVER/api/v4/analy

[2022-11-15 19:47] amyblais commented on #21674
@DonCziken What Mattermost server version are you on?

[2022-11-15 20:47] DonCziken commented on #21674
@amyblais

At the moment we are using:

Mattermost Version: 7.4.0
Database Schema Version: 93
Database: postgres (PostgreSQL) 14.4

licence: Mattermost Team Edition

[2022-11-15 23:47] amyblais commented on #21674
@agarciamontoro Does this look like something we could open a Jira ticket for to investigate further?

[2022-11-16 02:00] mattermod opened #21675 "Allow resizing the channel sidebar and right-hand sidebar"
### User Story

As a user, I would like be able to resize the left-hand sidebar (LHS) and right-hand sidebar (RHS).

### Proposed Solution

When the user hovers their mouse over the vertical divider line of the LHS or RHS: show a highlight effect on the divider line and change the mouse cursor to the "col-resize" cursor (see design). Users can then drag to resize the panels (with min and max restr

[2022-11-16 02:03] esethna commented on #21675
@kyeongsoosoo great work on the issues you've picked up recently. Let me know if this ticket of interest to you!

[2022-11-16 04:34] Timoteo714 commented on #21675
@kyeongsoosoo Looks like a “webhook”

On Tue, Nov 15, 2022 at 7:03 PM Eric Sethna ***@***.***>
wrote:

[2022-11-16 04:41] kyeongsoosoo commented on #21675
@esethna I'd love to work on this issue! Please assign me :)
Could you give me permission to Confluence page?

[2022-11-16 09:46] agarciamontoro commented on #21674
Thanks for the ping, @amyblais! And thank you very much for the detailed report, @DonCziken, we really appreciate it.

From your report, it seems there are two different issues here:
1. Why do we call `/analytics/old` on initial load, if that's only rendered in the system console? And why do we do it for regular users as well? I don't have the answer to that, but I created [this ticket](https://gi

[2022-11-16 13:03] Manishpandey11 commented on #19357
Hi Guys,

If @vikasbhalla05 is not working on this then can I try this? @esethna let me know. Thanks.

[2022-11-16 13:07] supergeoff opened #21677 "Deleted bot using mmctl delete user still shows under bot list"
#### Summary
Try to permanently delete a bot using mmctl delete it from user but still shows under bot list in integration page

#### Steps to reproduce
1 - Create a bot
2 - Use mmctl to delete user using bot name
3 - Bot still shows under integration but cannot be interacted with

#### Expected behavior
Delete a user/bot should delete it everywhere

[2022-11-16 13:25] amyblais commented on #21677
@supergeoff What Mattermost server version are you on?

[2022-11-16 13:28] supergeoff commented on #21677
7.4.0

[2022-11-16 13:34] amyblais commented on #21677
Opened: https://mattermost.atlassian.net/browse/MM-48458.

[2022-11-16 14:36] jgilliam17 commented on #19031
Thanks @aarowman for your patience while we tried to reproduce the issue.
I can reproduce on latest master, added my findings to https://mattermost.atlassian.net/browse/MM-40318

[2022-11-16 14:59] jendo42 opened #21679 "Unexpected EOF with /api/v4/files iOS HTTP/1.1"
Hello, I got running mattermost server for some time on my Linux server and I came to this thing:

#### Summary
When I upload file from iOS app, the file gets rejected.

#### Steps to reproduce
Just select and upload file to channel on iOS app.

#### Expected behavior
File should upload

#### Observed behavior (that appears unintentional)
I have found that there is difference between web/desktop a

[2022-11-16 15:00] DonCziken commented on #21674
@agarciamontoro thanks for looking at this and providing some initial feedback.

#### Regarding your summary on issues
yes indeed those are issues in this case.

#### Answer to your questions:
 a) `AnalyticsSettings.MaxUsersForStatistics` is 2.5k , however we have around 20 active users at the moment, so not sure if relevant?

[code]

 b) query to count posts take around 150ms, profiler shows as f

[2022-11-16 15:04] ig-tr commented on #14734
Guys, please update yours documentation. Corrent use `\n`

[2022-11-16 15:38] amyblais commented on #21679
@jendo42 What Mattermost server version are you on?

[2022-11-16 16:10] agarciamontoro commented on #21674
The number of users considered here is the output of `SELECT COUNT(DISTINCT u.Id) FROM Users AS u WHERE u.DeleteAt = 0`. How many user does that query return for you?

Thanks for the `EXPLAIN ANALYZE`. Could you also let me know the result of the query? I'm interested in knowing how many posts your DB has. 144ms for scanning the whole table does not seem that much. Although your system is planning

[2022-11-16 16:37] Manishpandey11 commented on #19357
Hi Guys,

If @vikasbhalla05 is not working on this then can I try this? @amyblais  let me know. Thanks.

[2022-11-16 16:48] Manishpandey11 commented on #21427
Hi Guys,

If @syprogrammer is not working on this then can I try this? @amyblais  let me know. Thanks.

[2022-11-16 18:34] Mystigan commented on #21475
@isacikgoz , since there is no response from @hionay , can I pick this up? Or do we need to wait more?
Please let me know.

[2022-11-16 18:59] esethna commented on #21675
@kyeongsoosoo awesome! Can you try the Confluence page again? It shows that it should be publicly available

[2022-11-16 19:26] esethna commented on #19357
@Manishpandey11 it's all yours, thanks!

[2022-11-16 19:54] mrpolaris opened #21684 "Failed to apply database migrations when upgrade from 6.3.3 to 7.1.4"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-11-16 21:36] #21538 closed

[2022-11-16 22:40] DonCziken commented on #21674
@agarciamontoro below you will find answers to your questions, however  I've also done one more test, basically run the xhr request directly via browser and as a curl. In both cases the response times are about 200-250ms:
![Screenshot from 2022-11-16 23-17-23](https://user-images.githubusercontent.com/36049985/202306713-a3823082-4be7-4ac7-a96f-b88a290842d1.png)

So my guess now is that the slownes

[2022-11-17 02:13] kyeongsoosoo commented on #21675
@esethna It seems that there is a permission issue.
It looks like this to me.

![스크린샷 2022-11-17 오전 11 10 35](https://user-images.githubusercontent.com/59413880/202337157-95eeade1-cdcb-4b0f-aadb-0e9f5c96d1eb.png)

[2022-11-17 04:23] agnivade commented on #21684
Hey @mrpolaris - let's use the forum post to continue the conversation: https://forum.mattermost.com/t/mattermost-7-4-failed-to-apply-database-migrations/14464. I'll close this one.

[2022-11-17 04:23] #21684 closed

[2022-11-17 11:33] ITCDEK opened #21687 "Message draft is not saved in webapp, if it ends with :emoji:"
#### Summary
Emoji\reaction is a common way to end message, but drafts of such messages are not being saved

#### Steps to reproduce
Type messages with keypresses, then end with reaction insertion via UI. Switch to another channel and back... reaction is gone!

#### Expected behavior
Reaction should be saved in draft

#### Observed behavior (that appears unintentional)
See above

#### Possible fix

[2022-11-17 14:21] M-ZubairAhmed commented on #19357
I dont think we still have this issue. Here is the relevant code
https://github.com/mattermost/mattermost-webapp/blob/32c3676b126f5c8ab6bbc4d9ad85d5b835891883/components/sidebar/sidebar_category/sidebar_category_sorting_menu/sidebar_category_sorting_menu.tsx#L114
<img width="660" alt="image" src="https://user-images.githubusercontent.com/17708702/202470978-9fc1bcfe-b8d6-402d-9de3-b8c145e45803.png"

[2022-11-17 15:48] esethna commented on #21675
@matthewbirtch can you help open the space settings here? The page looks public but I think the space settings are overriding that

[2022-11-17 16:14] Willyfrog commented on #21605
Looks like there is already a fix for this: https://github.com/mattermost/mattermost-webapp/pull/11611

[2022-11-17 16:29] Manishpandey11 commented on #19357
@M-ZubairAhmed, I guess we still have this issue, at least in the web app. Please see below the screenshot. Let me know if I am missing anything.
![Screenshot (26)](https://user-images.githubusercontent.com/99125230/202502164-e3abfb44-63c9-4f3f-b2f9-b086d7680bfd.png)

[2022-11-17 16:37] matthewbirtch commented on #21675
@kyeongsoosoo the confluence page should be accessible now. Let me know if that's not the case

[2022-11-17 16:42] #21289 closed

[2022-11-17 17:17] M-ZubairAhmed commented on #19357
@Manishpandey11 the ticket mentions the popover tooltip of category "Direct Message" not the channels underneath it.

[2022-11-17 17:20] kyeongsoosoo commented on #21675
@matthewbirtch Thanks! I can see it now.

[2022-11-17 17:38] esethna commented on #19357
Yes it looks like this issue is already resolved

[2022-11-17 21:19] amyblais opened #21690 "F-f"

[2022-11-17 21:19] amyblais commented on #21690
/cloud-ff

[2022-11-17 21:19] mattermod commented on #21690
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-11-17-backup (SHA: `96ebca2`)
    - enterprise:refs/heads/cloud-2022-11-17-backup (SHA: `04f360d`)
    - mattermost-webapp:refs/heads/cloud-2022-11-17-backup (SHA: `4e4db86`)
    - mattermost-api-reference:refs/heads/cloud-2022-11-17-backup (SHA: `1beaa7f`)
    - focalboard:refs/heads/cloud-20

[2022-11-17 21:20] #21690 closed

[2022-11-17 21:40] TrentBie opened #21691 "Version 7.02 New formating toolbar breaks file uploads"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-11-17 21:57] #21256 closed

[2022-11-18 01:30] #21290 closed

[2022-11-18 09:54] #21395 closed

[2022-11-18 09:55] Willyfrog commented on #21395
Issue not reproducing on master

[2022-11-18 11:02] #21215 closed

[2022-11-18 14:04] #21367 closed

[2022-11-18 15:00] mattermod opened #21692 "Webhook override not showing in the footers reply in thread list"
When replying to a thread created by a webhook, it shows the webhook owner in the replies instead of the overriden profile picture and username configured for the webhook.

![](imagen-20220509-125127.png|width=966,height=272)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build

[2022-11-18 16:52] esethna commented on #20952
@EskarinaH is this still in the works? Let us know, otherwise I'll re-add up for grabs!

[2022-11-18 17:53] mickmister commented on #12944
Reopening to let the community have the opportunity to continue this effort

[2022-11-18 17:56] Ajax-Light commented on #21428
Hey @hmhealey. Thanks for all the input so far. I won't be able to spend time on this issue until next month and its disappointing since I feel like the fix is just out of reach.
I'll leave this issue in better hands.
Thanks again!

[2022-11-18 18:55] amyblais commented on #21687
@ITCDEK What Mattermost server version are you on? What OS and version are you on?

[2022-11-18 18:56] amyblais commented on #21691
@TrentBie We currently support versions v7.1 and later. Would you be open to upgrading to see if this still reproduces on a supported version? Another option is that you can do some testing on our community server here https://community.mattermost.com/, which is on the latest version.

[2022-11-18 19:05] artempronevskiy opened #21694 "Show a user local time near the nickname in the chat and/or in a user short description"
This would be very useful for teams working in different time zones so teammates will see what local time is for all other teammates.

Examples:

- near the nickname in the chat: https://pasteboard.co/CzDeCVgFApN1.png
- in short description: https://pasteboard.co/ugEbnXLCz6ww.png
- how it can be set up in client settings: https://pasteboard.co/SnYXdEnAjobv.png

[2022-11-18 20:01] devinbinnie commented on #21694
Thanks for the suggestion! Transferring to server repo for better visibility.

[2022-11-18 20:18] amyblais commented on #21694
Thanks, appreciate your feedback @artempronevskiy.

Would you like to [contribute this in the feature idea forum](https://portal.productboard.com/mattermost/33-what-matters-to-you) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, pl

[2022-11-19 04:38] ylluminate commented on #18351
Any news here as per: https://github.com/mattermost/mattermost-server/issues/18351#issuecomment-1276696709

We really can't keep on this current error prone and overly unsure/difficult trajectory.

[2022-11-19 06:55] miukumac commented on #18351
I agree - we need a definitive official statement on what's going to happen in the future.

Is MariaDB now considered completely unsupported and won't be even considered one or have any plans been made to actually offer support for it since literally ALL Linux distributions have hopped over to it and only offer MySQL via additional repositories or Oracle directly.

In either case, we'd like to kno

[2022-11-19 15:14] leitmori opened #21695 "Email notifications broken"
#### Summary
Since upgrading from v7.4.0 to v7.5.1, email notifications sometimes contain only a user avatar.

#### Steps to reproduce
- Set Email Notifications to "Every 15 minutes".
- Another user replies in followed thread.

#### Expected behavior
A properly formatted email notification is sent.

#### Observed behavior (that appears unintentional)
Email notification sometimes contains only a us

[2022-11-19 21:32] MattSilvaa commented on #21669
Hey,

If you still need help on this, I would be happy to help!

[2022-11-19 22:03] jakubriegel commented on #20801
The issue is hidden in different place. The flow of the `run` command is as follows:
1. The user types the command.
2. Mattermost pings GitLab.
3. GitLab responds with `200`.
4. After the job is finished GitLab sends webhook to Mattermost.

This webhook request is broken. As stated in the issue, GitLab sends data as JSON, but the `Content-Type` header contains `application/x-www-form-urlencoded`.

[2022-11-19 23:45] lazaroalvarenga commented on #21094
Hey! Can i help on this?

[2022-11-20 00:12] hegerdes commented on #20801
Thanks @jakubriegel for your work.

I found that GitLab QA actually uses a test with JSON payload but  `x-www-form-urlencoded` header. See [here](https://gitlab.com/gitlab-org/gitlab-qa/-/blob/master/bin/slack)

From what I`ve found I am not sure where GitLab actually sets the header and if its within the Slack API definitions. The official Slack docs suggest to use:
[code]

When not forwarded to

[2022-11-20 02:39] #20951 closed

[2022-11-20 11:30] jakubriegel commented on #20801
Based on what you've posted we can assume, the Slack simply ignores `Content-Type` for this endpoint and always parses JSON.

The solution you proposed is similar to my shallow fix. I think that checking for parse errors is a good idea 👍🏻

Anyway let's wait for @amyblais to make a technical decision here.

[2022-11-20 11:46] jakubriegel commented on #20151
I'd like to work on this

[2022-11-20 21:46] miro444 opened #21696 "Onprem mm server opens Okta screen, but never redirects to login"
#### Summary
Unable to login to MM windows desktop app via Okta

#### Steps to reproduce
Get Okta integrated with the onprem MM. VErsion 5.2.0 and 5.2.1

#### Expected behavior
MM app is asking you to login, so i put in https for oour onprem server and click to continue. AFter that, I get normal "Login to Okta" screen. When clicking the button, nothing happens.

#### Observed behavior (that appear

[2022-11-21 12:16] aligolestan commented on #21652
1. Server version is 7.4.0
2. Os is Ubuntu 20.04.5 LTS
3. No logs were shown, It just stuck on processing
4. I did reproduce the issue, and it happened again on the community server of yours.(attached photo)
![Capture](https://user-images.githubusercontent.com/42745155/203052137-fe383823-fde0-40c3-8238-c0a96a884823.PNG)

[2022-11-21 13:15] amyblais commented on #21695
@leitmori What OS and version are you on? What email do you use (gmail, outlook, etc.)?

[2022-11-21 13:17] amyblais commented on #21687
Ticket: https://mattermost.atlassian.net/browse/MM-48519.

[2022-11-21 13:18] amyblais commented on #21652
Opened: https://mattermost.atlassian.net/browse/MM-48520.

[2022-11-21 13:19] amyblais commented on #20801
Adding @mickmister and @catalintomai to help with the questions above.

[2022-11-21 13:22] leitmori commented on #21695
The system is running Ubuntu 22.04.1 LTS. We operate our own mail server (Postfix 3.6.4).
As a workaround we have disabled email batching, then the problem does not occur.

[2022-11-21 13:26] amyblais commented on #21695
Opened: https://mattermost.atlassian.net/browse/MM-48521.

[2022-11-21 14:36] mickmister commented on #20801
@jakubriegel @hegerdes We can combine the two solutions you've provided. So we'll check for `x-www-form-urlencoded`, and handle any parsing errors. There may be value in _not_ checking for this header, and parsing anyway. This would be a preventative measure in case GitLab changes their behavior to not provide this header. I'm thinking we're good to check the header, though. @jakubriegel What do y

[2022-11-21 14:42] TrentBie commented on #21691
I can get a test server built up and test but I have not seen any bugs that were fixed for the issue in the 7.1 version.  At one point we were at that version and had the same issue But I will test again

[2022-11-21 16:13] #21509 closed

[2022-11-21 17:04] stolk opened #21701 "Web app incorrectly scales text in channel list (firefox)"
#### Summary
In web-app, scaling content in Firefox will cause bad rendering in channel list.

#### Steps to reproduce
1. Browse to mattermost web app using firefox.
2. Increase content scale to 200% by holding CTRL and scrolling mouse wheel.

#### Expected behavior
Properly rendered channel list names, in larger font.

#### Observed behavior (that appears unintentional)
Illegible channel list.

!

[2022-11-21 17:17] amyblais commented on #21701
@stolk What Mattermost server version are you on? What Firefox version are you using?

[2022-11-21 18:07] amyblais commented on #21701
@stolk We currently support Mattermost server version v7.1.0 and newer. Would you be open to upgrading to see if the issue persists on a supported version?

[2022-11-21 18:12] stolk commented on #21701
I do not run the server myself, I just use the company server. If it can’t be reproduced on current server, feel free to close.

[2022-11-21 18:14] amyblais commented on #21701
@stolk Sounds good, would you be open to do some testing on our community server here https://community.mattermost.com/? It is on the latest version.

[2022-11-21 18:38] stolk commented on #21701
It is highly likely that this is a firefox bug, not a mattermost bug.

[2022-11-21 18:38] #21701 closed

[2022-11-21 20:16] hmhealey commented on #21674
Thanks for filing the ticket, Alejandro. I took a quick look at the code, and it looks like there's a few places where we're loading the total user count (and possibly some other stats) for things like triggering the cloud trial prompt.

I'll talk to Growth team about possibly changing how that's triggered, but I think we might also want to look at adding a more minimal version of the analytics AP

[2022-11-21 20:36] hmhealey commented on #21428
Thanks for your work on this as well! We always appreciate any time spent on an issue even if it doesn't directly result in a merged PR

[2022-11-21 23:41] #21125 closed

[2022-11-22 03:46] AbhinavVihan commented on #21418
I would like to work on this please.

[2022-11-22 07:58] H-B-Schmidt commented on #21695
I can confirm the problem after upgrade 7.4 -> 7.5.1 Professional on self hosted Ubuntu 20.04.5 LTS.

I informed support but got no reply yet.

The error in the logfile is

[2022-11-22 10:33] waveywaves opened #21705 "Pull Request Preview Environments for increasing maintainer productivity"
I would like to make life easier for Mattermost maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi) preview environments.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi).

Uffizzi is a Open Source full stack previews engine and our platform is available completely free for Mattermost (and all open source projects). This will provide maintainers w

[2022-11-22 11:15] mattermod opened #21706 "graphql: move fav/unfav Run to their own mutation"
Currently, fav/unfav run is part of UpdateRun mutation.

However, there are two main reasons why it should be a separated mutation:

  * it doesn’t change the playbook run itself, but a user-run relationship
  * it requires RunView permissions but RunManage is used for the rest of the updates contained in UpdateRun

**Server**:
  * create new mutation in server/schema.graphqls and webapp/src/graph

[2022-11-22 11:20] jecepeda commented on #21706
Hi!! Can I take this task??

[2022-11-22 17:29] TrentBie commented on #21691
@amyblais  So updated to 7.2.1 still have file upload issues and also seen a migration issue  seems a file is missing

{"level":"error","msg":"Could not initiate logging","fields":{"error":"\"invalid config for logging, error creating log target _defFile: error decoding file target options: invalid character 'm' in string escape code\""}}
{"level":"info","msg":"Server is initializing...","fields":

[2022-11-22 17:33] TrentBie commented on #21691
@amyblais   More log info
{"level":"debug","msg":"Received HTTP request","fields":{"method":"POST","request_id":"4i6wgmjhc7g5j8nqsio5dtsbxy","status_code":"200","url":"/api/v4/channels/members/me/view"}}
{"level":"debug","msg":"Scheduling Job","fields":{"scheduler":"migrations"}}
{"level":"debug","msg":"All migrations are complete.","fields":{"scheduler":"migrations"}}
{"level":"debug","msg":"Next

[2022-11-22 17:35] amyblais commented on #21691
What type of file are you attempting to upload? We also have this open issue https://github.com/mattermost/mattermost-server/issues/21604.

[2022-11-22 17:35] TrentBie commented on #21691
@amyblais Just a plan .txt file

[2022-11-22 17:37] amyblais commented on #21691
Would you be open to posting about this either on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this migration issue.

[2022-11-22 17:38] TrentBie commented on #21691
Sure

[2022-11-22 19:33] #21210 closed

[2022-11-22 19:47] #15983 closed

[2022-11-22 19:56] prudloff-insite opened #21710 "Switching from Team Edition to Enterprise edition should ask for a confirmation"
#### Summary
Free trial button does not ask for confirmation.

#### Steps to reproduce
1. Install the Team Edition.
1. Browse to `/admin_console/about/license`.
1. Click on the free trial button.
1. It immediately starts downloading the Enterprise Edition.

#### Expected behavior
The best would be to have an option to hide this banner entirely. But at least the button should ask for a confirmation

[2022-11-22 20:05] amyblais commented on #21710
@prudloff-insite What Mattermost server version are you on? What OS and version are you on?

[2022-11-22 21:18] noxer commented on #21695
Thank you for the report. I can confirm that disabling email batching fixes the issue.

[2022-11-22 21:50] jakubriegel commented on #20801
I think it is better to check for the header and then, if json parse failed, to fall back to plain text. I'll work on the solution tomorrow.

Btw, it may be a good idea to measure which headers are being passed here. If there is any logging/tracing mechanism it should be easy to count different content types.

[2022-11-23 01:26] bogen85 opened #21711 "Code formatting has support for `delphi`, but not `pascal` and `pas` for `pascal`"
#### Summary
Not every `pascal` programmer is going to want to have say (or even think of saying) ` ```delphi ` when specifying `pascal`, especially if they are not using `delphi`

#### Steps to reproduce
Mattermost Team Edition, Version: 7.2.0

Specifiying `pas` `pascal` or `freepascal` in a ` ``` ` code block does not highlight the code as `pascal`.

[code]

[code]

Github syntax highlighting su

[2022-11-23 01:41] bogen85 commented on #21711
A more general fix that benefit all other languages would be to iterate over the extensions in `utils/constants.tsx` and register all of them for each language category in `utils/syntax_highlighting.tsx`. But that may have a lot of collisions. I guess any collision could be ignored and not allowed, but that might not make sense for more common languages.
[code]
But I see that 'c' and 'cxx' both wo

[2022-11-23 03:44] bogen85 commented on #21711
Ok, so maybe the `delphi` entry just needs an aliases section.

in `utils/constants.tsx:1737`:
[code]
That would likely be the most simple fix.

However, without correcting the whole **delphi is a product** not a **language** mess, the following would be nicer:

[code]
I mean, if `delphi` is a `label` for `pascal` might as well add the free object pascal variant `freepascal` as a `label` or `pasca

[2022-11-23 08:56] prudloff-insite commented on #21710
We are using Mattermost 7.5.1 on Debian 10.

[2022-11-23 09:05] mehranzand commented on #21645
I think the changes must be applied on desktop app. It is not so?

[2022-11-23 11:31] ilusharulkov commented on #20847
Hello! @amyblais any news about his issue?
It enforces to give system admin grants for users, who need post in "announcements" channel instead of give channel admin.

[2022-11-23 11:39] froggypaule opened #21712 "unable to install mattermost 7.5.0 from tar ubuntu 20.04 / "error":"GetSystemBot: List of admins is empty." ???"
#### Summary
Cannot connect to http://localhost:8065

#### Steps to reproduce
Context:

[code]
It is a server distro, not desktop.

mattermost `mattermost-7.5.0-linux-amd64.tar.gz`

config.json:

[code]

systemctl:
[code]

#### Expected behavior
I expect to reach mattermost with `curl http://localhost:8065`

#### Observed behavior (that appears unintentional)
Instead I get
[code]

Log file  ` /opt

[2022-11-23 13:37] amyblais commented on #21710
Opened: https://mattermost.atlassian.net/browse/MM-48576.

[2022-11-23 13:58] amyblais commented on #21712
@froggypaule Do you see the same issue in server v7.5.1?

[2022-11-23 14:00] amyblais commented on #21711
Opened: https://mattermost.atlassian.net/browse/MM-48578.

[2022-11-23 14:01] amyblais commented on #21679
Opened: https://mattermost.atlassian.net/browse/MM-48579.

[2022-11-23 14:21] froggypaule commented on #21712
Excellent question: I actually did install 7.5.1 on another machine, with the same settings except

[code]

and yes, the error mentioned has disappeared; this is what we have:

[code]

However, and this is why you haven't heard from yet, I still get the identical `curl https://localhost:8065` problem.

I wonder If am crazy, but the only other thing I can think of, is to install 7.5.1 on another ma

[2022-11-23 14:33] amyblais commented on #21712
Opened: https://mattermost.atlassian.net/browse/MM-48595.

[2022-11-23 14:48] froggypaule commented on #21712
hello again!

Good news:
- the curl output seems to be the one to be expected... so no issue here (but it sounds bizarre nevertheless...)
- installing 7.5.1 on a machine I know is 'behaving' properly (they are all behind a HAproxy) ....  WORKS, I can access mattermost from a client!!

so, apologies, the problem was on my side...
Thank you so much.

I let you close this issue if you think all is go

[2022-11-23 14:49] amyblais commented on #21712
Awesome!

[2022-11-23 14:49] #21712 closed

[2022-11-23 19:51] #20825 closed

[2022-11-23 20:55] DasSkelett commented on #18351
The [guide](https://github.com/mattermost/mattermost-server/issues/18351#issuecomment-1291635384) from @denistorresan worked very well, thank you so much!

We only had to delete these two stray columns from the MariaDB database for `pgloader` to run successfully, which should have been removed in a migration some time before, but apparently haven't:
[code]

Then when starting Mattermost, it compla

[2022-11-23 22:07] esethna commented on #21558
@shogohida how's this going?

[2022-11-24 05:27] manicmarvin commented on #21712
I am facing the same issue, how did you resolve this @froggypaule ?

[2022-11-24 06:33] iam-hitesh commented on #21566
Hi @noxer,

I added a PR(#21644 ) for above issue, please find here: https://github.com/mattermost/mattermost-server/pull/21644

[2022-11-24 07:35] froggypaule commented on #21712
Hello!
I believe that is is best to use the v7.5.1 LTR, which doesn't not show these SystemBot errors.
Otherwise, the connection issue came from a faulty HAproxy setting (0ver which I have no control). I hope this helps.

[2022-11-24 15:52] amyblais opened #21728 "Fast-forward"

[2022-11-24 15:56] amyblais commented on #21728
/cloud-ff

[2022-11-24 15:56] mattermod commented on #21728
## Summary for the fast forward process
### Backup branches
    - mattermost-server:refs/heads/cloud-2022-11-24-backup (SHA: `1edbf67`)
    - enterprise:refs/heads/cloud-2022-11-24-backup (SHA: `1c765c7`)
    - mattermost-webapp:refs/heads/cloud-2022-11-24-backup (SHA: `1feaa0e`)
    - mattermost-api-reference:refs/heads/cloud-2022-11-24-backup (SHA: `1beaa7f`)
    - focalboard:refs/heads/cloud-20

[2022-11-24 15:57] #21728 closed

[2022-11-24 15:57] niemeyer opened #21729 "Cannot send messages using ENTER, again?"
Hello all,

#### Summary
The problem looks like a DUP from previously filed issues (#8522, #4393, etc), but since it's happening on a recent setup, perhaps it's a regression?

#### Steps to reproduce
Issue is exactly the same as the previous ones: type a message on Android, press ENTER, and it creates a new line instead of sending it, same as if SHIFT was pressed. I've tested this on a number of c

[2022-11-24 16:28] amyblais commented on #21729
@niemeyer We currently support server versions v7.1.0 and later. Would you be open to upgrading to a supported version?

[2022-11-24 16:48] niemeyer commented on #21729
My understanding is that there's some kind of upstream support for this installation, and it will certainly be updated in time, but I cannot request the out-of-time update for this one issue, without even having an idea if it's fixed or not.

[2022-11-24 17:16] amyblais commented on #21729
@niemeyer You can connect to our community server here to test it out: https://community.mattermost.com/. This server is on the latest version.

[2022-11-24 18:09] niemeyer commented on #21729
Done, and confirmed: bug is still there.

* Using CTRL-ENTER to try to force it also doesn't work

* Some more information: using the "Desktop site" option makes ENTER work correctly, so this indeed seems related to some conditional logic being done by the site itself.

I've updated the first post with this info.

[2022-11-24 18:34] amyblais commented on #21729
@niemeyer What Mattermost mobile app version are you on?

[2022-11-24 21:13] zuhairHussain commented on #21609
Hi, I would like to work on this issue..

[2022-11-24 22:43] niemeyer commented on #21729
1.55.1, so the latest one as of today, but not sure about how that information will help, given that as I mentioned the exact same problem exists both in mobile Firefox and mobile Chrome as well.

[2022-11-24 23:56] ylluminate commented on #18351
Glad that worked for you @DasSkelett, but it didn't work for us and it hasn't worked for others. Sadly this guide is just not a solution. @miukumac is right in their assertions and points and this is a critical situation that needs to be addressed and regarded as important by the core Mattermost team. Some of us have been dismayed by the silence and attitudes on this absolutely critical topic foll

[2022-11-25 00:09] amyblais commented on #21729
Opened: https://mattermost.atlassian.net/browse/MM-48634.

[2022-11-25 06:33] #21213 closed

[2022-11-25 10:23] niemeyer commented on #21729
Thanks, and good luck there. :)

[2022-11-25 12:27] egolfeld opened #26875 "Failed to upload data: AppErrorFromJSON: model.utils.decode_json.app_error"
<img width="585" alt="image" src="https://user-images.githubusercontent.com/35452983/203981883-366cb71d-5bc0-4554-b12f-089e37ab2b0f.png">

MM server: 7.5.1 Teams Plan (docker)
MMCTL: v7.5.0

Any advise?

[2022-11-25 16:58] amyblais commented on #20847
The ticket is assigned to one of our dev teams but they haven't had a chance to fix the bug yet. If you are interested in submitting a fix, let me know!

[2022-11-25 19:14] MattSilvaa commented on #21669
It appears that there is some other unexpected behavior going on with the overlay. Without expanding the rhs container, keep the mouse under the expand icon and you will notice the overlay changes in size.

I'm thinking at the moment, we should just disable the overlay for `crt_threads_pane_tutorial_tip.tsx` so that this bug is fixed and open another ticket to update other components to fix the ov

[2022-11-25 19:44] amyblais commented on #21669
Sounds good, opened a separate ticket here: https://mattermost.atlassian.net/browse/MM-48647.

[2022-11-26 14:01] anx-ag commented on #7223
Did you replace the postgresql targets in the mattermost systemd file as mentioned in the documentation you linked? Can you post the contents of your systemd unit files related to the mattermost service?

[2022-11-26 14:12] anx-ag commented on #21641
Is the zhparser extension enabled in the mattermost database? I must admit I was unable to follow the documentation on the Github page properly, but the hourly peaks are most likely not caused by this extension. If you want to find out what queries these are, you could try to enable query logging a few minutes before this happens and disable query logging again afterwards, so we can find out what

[2022-11-26 22:14] someone-somenet-org commented on #21695
+1 to email batching is broken and produces empty emails.

[2022-11-28 08:37] ados8 opened #21748 "OpenID not supported on Android"
#### Summary
Appears according to documentation that only web interfaces support OpenID.
Using mobile platform, in the case Android, there is no option to see/use the OpenID provider; option is plain missing.
Using the community Team Edition.

#### Steps to reproduce
Configure OpenID, visually see it in the web and able to login.
Open the mobile app and sign in page has no option other than userna

[2022-11-28 21:21] bcfdadmin opened #21760 "Android App - Boards wont load"
Per Mattermost guidelines, GitHub issues are for bug reports: <https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/>.

For troubleshooting see: https://forum.mattermost.com/.
For feature proposals see: https://www.mattermost.com/feature-ideas/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search

[2022-11-28 22:56] #21128 closed

[2022-11-28 23:20] amyblais commented on #21760
@bcfdadmin Would you be open to re-opening this in the Focalboard repo https://github.com/mattermost/focalboard/issues?

[2022-11-28 23:20] #21760 closed

[2022-11-29 00:24] shawn111 commented on #21641
@anx-ag It's might be a network issue between my pg server and mattermost server.

Ping time is not stable.
[code]

Database loading still far to reach the limitation.
It's the reason why "context deadline exceeded" error happen.

However, it point out once "context deadline exceeded" happened, all db connection would be broken.
I'm not sure is it related to https://github.com/jackc/pgx/issues/131

[2022-11-29 01:07] ylluminate commented on #18351
Admins are now getting this message - and we either need this message go away or we need some help here folks since some admins are less savvy / understanding than others and I don't want our organization to be pressed into leaving Mattermost:
![image](https://p153.p0.n0.cdn.getcloudapp.com/items/2Nu6R46P/af12a42f-0fba-4131-a005-75e7bcf1cc3e.png?v=40c95fe3b30f6e685ba15890fb2ab0db)

[2022-11-29 03:07] arendsk commented on #15174
Great! Just an update, I have some time now to continue working on it again.

[2022-11-29 04:36] phi-h-nguyen commented on #21156
Looks like this hasn't been updated in a while, I can take this!

[2022-11-29 04:38] phi-h-nguyen commented on #21156
I would like to work on this.

[2022-11-29 05:40] anx-ag commented on #18351
Hi ylluminate,

you can disable these messages in your system console:
Site Configuration -> Notices

![grafik](https://user-images.githubusercontent.com/46035328/204448115-ad9672e3-94d7-41c5-9313-a1780a0e81c2.png)

[2022-11-29 05:50] anx-ag commented on #21641
Getting `Context deadline exceeded` messages is just the result, not the cause. This usually gets printed when the queries take longer than allowed and long running queries lock your available database connections which might then result in a situation where no free slots are available.

In order to debug this further I would really need the requested outputs and answers to my questions. Do you ne

[2022-11-29 07:23] shawn111 commented on #21641
Got it, I thought in my env is quite clear about network issue to cause this issue.
Thank for your help.
We need fix the network issue first.

[2022-11-29 09:09] godcong commented on #18990
finally the change the gitlab application......
add the redirect uri like this, solved......
http://mattermost.example.com/plugins/com.github.manland.mattermost-plugin-gitlab/oauth/complete

[2022-11-29 10:41] gohrner commented on #18351
@ylluminate, @anx-ag: Please note that this message is not directly related to the underlying DB server, but indicates that the installed Mattermost server version is out of service.

**It definitely is no good idea to run an unsupported server version** which will include security problems and may cause hacks and data breaches.

You should always install security fixes in a timely manner, and onl

[2022-11-29 13:31] apieceoy opened #21763 "Many channels are not marked and the red badge do not show on Dock icon to indicate unread messages"
#### Summary
In recent days, many channels are not marked and the red badge do not shown on Dock icon to indicate unread messages.

#### Steps to reproduce
1. It usually happens on specified channels (including private and public), but the mentions and direct messages work correctly.
2. I do not mute the channels, and others also have this problem. It was working correctly before.
4. Upgrade to 7.

[2022-11-29 13:39] amyblais commented on #21763
@apieceoy Do you see errors in the Mattermost server logs?

[2022-11-29 13:42] apieceoy commented on #21763
No, I don't see any special errors in server logs. (mattermost.log)

[2022-11-29 18:31] Rodrigo-Vieira-Chaves opened #21765 "Mattermost interactive button do not call URL"
Hi, I am new to Mattermost and I am making a feedback bot for my company to automate feedback process, I need to send an interactive button and when clicked, it must call my bot endpoint: …/message-event/mattermost/interactivity.

I am running mattermost enterprise docker container in my machine (http://localhost:8065/) and my bot is running at http://localhost:4000/ (accessible via ngrok).

The i

[2022-11-29 18:58] amyblais commented on #21765
@Rodrigo-Vieira-Chaves What Mattermost server version are you on? Would you be open to posting about this either on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this issue.

[2022-11-29 19:07] amyblais commented on #21763
What version did you upgrade from? You mentioned that it used to work, so I'm wondering if there was a recent server upgrade or any other recent updates.

[2022-11-29 19:08] Rodrigo-Vieira-Chaves commented on #21765
Hi, I got the docker from here https://github.com/mattermost/docker

In my docker 'ps' it shows 'mattermost enterprise 7.1', also I already posted at mattermost forum, but no response so far:

https://forum.mattermost.com/t/mattermost-interactive-button-do-not-call-url/14534

[2022-11-29 20:25] iBelow opened #21767 "Several step-by-step interactive dialogs"
Hi, how i can create a several interactive dialogs?
we have a limit for a 5 elements, but if i need more?

for example, after selecting certain fields (radio button), I would like to further prompt the user to fill in more specific fields, how can I implement this? natively calling next url by submit button was unsuccessful

[2022-11-29 20:41] ylluminate commented on #18351
@gohrner please review previous messages for context.

[2022-11-29 23:38] amyblais commented on #21767
@iBelow  Would you be open to posting about this either on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this issue.

[2022-11-29 23:41] amyblais commented on #21691
@TrentBie Sounds like disabling option "Enable document search by content" fixed it?

[2022-11-30 03:48] apieceoy commented on #21763
It used to work, but only recently started having this problem. So we upgrade it expects to fix this.

Originally version: 5.37.2 (it used to work, but recently started having this problem)
Upgrade to: 5.37.10 (current version, still has this problem)
Upgrade to: 7.5.1 (use a different domain and different machine, still has this problem)

[2022-11-30 04:38] anx-ag commented on #18351
OK, so what is it that you're expecting now, if disabling the popups is not enough? You could try to disable the telemetry and outbound connections to Mattermost cloud services so that your instance has no idea that it's unsupported, that would maybe create other issues, but I think these messages should completely go away then (alongside with all others that might be relevant). Also I think we're

[2022-11-30 04:42] ylluminate commented on #18351
Right, the issue is exactly that: we should not have to deal with these kinds of popups/messages from the system because either a) MariaDB should indeed be supported (for previously well explained reasons) or b) we need a clear and functional migration path to a supported database from MariaDB (preferably to PostgreSQL or to MySQL and then to PGSQL).

[2022-11-30 04:47] anx-ag commented on #18351
The message you're seeing here is not about you using MariaDB, it's about the Mattermost server version installed, independently from the used database backend, so these are in my opinion two different things. If you want to stay on MariaDB, you can still upgrade to 7.1 which is the latest ESR and the bundled boards plugin has no issues with MariaDB in this version and you also will stop seeing th

[2022-11-30 04:49] ylluminate commented on #18351
If you read through contextually it is 100% about the upgrade path from MySQL (MariaDB in this case) to PostgreSQL @anx-ag. We would not be on this version of Mattermost if we could migrate to PostgreSQL without the problems delineated previously.

[2022-11-30 06:54] apieceoy commented on #21763
Other observations:

I'm currently observing that these channels seem to have the following in common: (not sure if it's related)
1. A user has set up "incoming webhooks" and is also in these channels. (like a bot)
2. In the database, the "Channels" table field "Header"  is empty for these channels.

[2022-11-30 07:06] AbhinavVihan commented on #21421
Can i work on this please

[2022-11-30 13:13] amyblais commented on #21763
@apieceoy Would you be open to posting about this either on our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) or at https://forum.mattermost.com/? One of our devs or community members will likely be able to help troubleshoot this issue.

[2022-11-30 16:29] kyeongsoosoo commented on #21675
@matthewbirtch I have a question, can you help me?
Should the sidebar size be reset if the channel is changed?

[2022-11-30 16:38] matthewbirtch commented on #21675
No, the size of the sidebar should persist

[2022-11-30 16:55] kyeongsoosoo commented on #21675
@matthewbirtch Thanks for the answer. Can you help me with just one more?
Should I think that reaching max-width and extending the sidebar are the same?
(I found that extending the sidebar and then changing the channel resets the size)

[2022-11-30 18:09] apieceoy commented on #21763
@amyblais I finally tried to set the "MsgCount" field of the table "ChannelMembers" to zero, let it recalculate automatically, which solved the problem.

The reason is because we periodically delete data, but did not adjust this field at the same time. I didn't know the value of this field would cause this problem. Thank you for your help!

[2022-11-30 18:10] #21763 closed

[2022-11-30 18:28] matthewbirtch commented on #21675
Sorry, could you clarify the question? I'm not quite clear on what you're asking

[2022-11-30 18:38] jendo42 commented on #21679
Sorry for quite late answer. I have version 6.7.0 (714d065986fa9f6163b417d9760bf707cc237c71) but I also have update on my schedule. I can inform you then if I was able to reproduce it.