[2018-03-07 08:31] lindy65 commented on #8396
I'll close this issue off here for now and we can track via the ticket linked above 👍

[2018-03-07 08:31] #8396 closed

[2018-03-07 08:31] lindy65 commented on #8383
I'll close this issue off here for now and we can track via the ticket linked above :)

[2018-03-07 08:31] #8383 closed

[2018-03-07 08:32] lindy65 commented on #8369
I'll close this issue off here for now and we can track via the ticket linked above 👍

[2018-03-07 08:32] #8369 closed

[2018-03-07 08:33] lindy65 commented on #8368
@ssatyak - do you perhaps have a link to the feature request you created on the forum that we can link back to this issue for continuity?

[2018-03-07 08:34] lindy65 commented on #8320
No worries @tooolbox,

We'll keep this issue open for now and wait to hear back after your upgrade :)

[2018-03-07 08:35] lindy65 commented on #8297
Thanks @divanikus, I'll close this issue off here for now then :)

[2018-03-07 08:35] #8297 closed

[2018-03-07 08:55] SmartHoneybee commented on #8149
@polyzium, did you enable `Forward80To443`?

[2018-03-07 09:03] ccbrown commented on #8399
These:

https://mattermost.atlassian.net/browse/MM-9716
https://mattermost.atlassian.net/browse/MM-9742

And this PR will fix the breakage in 4.8 (though the service file changes are probably still a good idea):

https://github.com/mattermost/mattermost-server/pull/8418

[2018-03-07 09:03] octomike commented on #8402
Any recommendations for a quick fix?

[2018-03-07 10:05] jespino commented on #8402
@octomike The workaround would be, go to any channel (without latex text on int), go to your user settings > Advanced > Enable post formating, and disable it. Go to the channel with the bad formated latex, fix it (or delete the entire message). Then, back to your account settings, and re-enable the post formating.

[2018-03-07 10:59] cpanato commented on #8404
@lindy65 I'm did not get your question. I dont have this issue implemented yet. I will work on that later this week

[2018-03-07 11:26] M1dgard opened #8419 "Firefox: Posts show wrong time if resistFingerprinting is enabled"
#### Summary
Firefox's new setting to resist [fingerprinting](https://wiki.mozilla.org/Security/Fingerprinting) [sets](https://bugzilla.mozilla.org/show_bug.cgi?id=1330890) the time zone to UTC.

#### Steps to reproduce
1. In Firefox's `about:config` enable `privacy.resistFingerprinting`.
2. Restart the browser.
3. Open Mattermost and send some messages.

#### Expected behavior
Either times are co

[2018-03-07 11:27] jespino commented on #7665
I think, it would be fixed now on master :)

[2018-03-07 11:27] jespino commented on #8359
I think, it would be fixed now on master :)

[2018-03-07 11:41] lindy65 commented on #8404
Thanks @cpanato 👍🏻

No rush, I was just asking whether there is a Jira ticket for this issue? Or is it not required?

[2018-03-07 13:01] cpanato commented on #8404
@lindy65  is this one: https://mattermost.atlassian.net/browse/MM-9720?

[2018-03-07 13:44] polyzium commented on #8149
That worked, thanks.
I never thought it would even work.

[2018-03-07 14:16] hmhealey commented on #8149
Thanks for the help, @SmartHoneybee.

So the problem that you were seeing in 4.7.2 is resolved, @polyzium?

[2018-03-07 14:40] SmartHoneybee commented on #8149
@polyzium, great.

Without [`Forward80To443`][1] enabled [`m.HTTPHandler(...)`][2] is not called. As a consequence `m.tryHTTP01` remains `false` and `"http-01"` is not considered as challenge type. Since TLS-SNI challenges are disabled this implies that `acme/autocert` will fail to create (or update) a certificate unless `Forward80To443` is enabled.

[1]: https://github.com/mattermost/mattermost-s

[2018-03-07 15:30] hmhealey commented on #8149
Okay, that sounds like there's still a bug then. I'll file a Jira ticket to track this better

[2018-03-07 16:09] polyzium commented on #8149
Well, i guess with Forward80To443 enabled it works but what if you have Apache2 running on port 80?

[2018-03-07 17:02] lindalumitchell commented on #8349
Hi @faljse @lindy65, I checked on this and filed a bug: https://mattermost.atlassian.net/browse/MM-9754. 👍

[2018-03-07 17:27] cpanato commented on #8407
i will take this one

[2018-03-07 17:36] SmartHoneybee commented on #8149
@polyzium, e.g. something like this: https://github.com/mattermost/mattermost-server/issues/8291

[2018-03-07 18:23] lindy65 commented on #8349
Thanks @lindalumitchell :)

I'll close this issue off here for now then and we can track via the ticket you linked above 👍

[2018-03-07 18:23] #8349 closed

[2018-03-07 18:27] lindy65 commented on #8404
🤦‍♀️ @cpanato - sorry about the confusion!  I had created the ticket above and didn't see it in my screen view when I asked about a ticket!  Sorry!

I'll close off this issue here for now and we can track via the Jira ticket linked above 👍

[2018-03-07 18:27] #8404 closed

[2018-03-08 08:11] lindy65 commented on #8149
Thanks @SmartHoneybee @hmhealey

I'll close this issue off here for now and we can track via the ticket `hmhealey` linked above 👍

[2018-03-08 08:11] #8149 closed

[2018-03-08 08:37] lindy65 commented on #8419
Hi @M1dgard,

Thanks for the report :)

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-9765) for discussion by the team as it will involve code change / feature development

[2018-03-08 08:39] lindy65 commented on #8402
As the PR to fix this has been merged, I'll close off this issue here for now.

[2018-03-08 08:39] #8402 closed

[2018-03-08 08:40] lindy65 commented on #8399
Thanks @ccbrown :)

I'll close off this issue here for now and we can track via the tickets you've linked above 👍

[2018-03-08 08:40] #8399 closed

[2018-03-08 09:21] SmartHoneybee commented on #8419
@M1dgard, what's your opinion on https://github.com/mattermost/mattermost-server/pull/8185 and https://github.com/mattermost/mattermost-webapp/pull/696?

[2018-03-08 10:25] cpanato commented on #8404
PR: https://github.com/mattermost/mattermost-server/pull/8422

[2018-03-08 11:00] M1dgard commented on #8419
@SmartHoneybee, that's great, hadn't found it while searching.

My only suggestion now would be to alert the user in some way when the detected time zone is UTC, because it's likely going to be a privacy feature. I think no-one selects "UTC" on itself as a real time zone, people in the UK e.g. should choose "Europe/London".

[2018-03-08 17:52] esethna opened #8425 "[Help Wanted] [MM-9695] Add status icons on "add member to channel" and "add member to team" lists"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-08 20:19] amyblais commented on #8351
### v4.8.0 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.8.0-rc2/mattermost-team-4.8.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4d19eaebda442445d72cbcc1210c85f588ee65b6/source/administration/changelog.md)

#### Approved fixes for RC-3
[ENTER fails to create

[2018-03-09 01:14] yth0625 opened #8427 "Korean Language: The DM notification mail will be sent with the subject is '<no value>'."
#### Summary
The DM notification mail will be sent with the subject is '<no value>'.

#### Steps to reproduce
Send DM to offline users who account setting is Korean.
Users who receive DM receive email notifications.

#### Expected behavior
The subject of the mail should be as shown in the image below.
![2018-03-09 16-34-25](https://user-images.githubusercontent.com/29148223/37195855-d1d20578-23b7-

[2018-03-09 04:29] #8336 closed

[2018-03-09 05:28] santos22 commented on #8034
Hey @jasonblais,

I won't be able to spend much time on this issue in the coming weeks - I understand the importance of it so hopefully someone else can complete the work! Regarding my previous comment, one can refer to the following commit on my fork - https://github.com/santos22/mattermost-webapp/commit/88b2d1e4ae6bbc6f764c1f1f6b0313888e63ef51

[2018-03-09 06:30] lindy65 commented on #8419
Thanks @M1dgard,

I've noted your above comment on the ticket I opened and we'll be testing to see whether https://github.com/mattermost/mattermost-server/pull/8185 resolves this issue.

[2018-03-09 08:56] lindy65 commented on #8427
Thanks for the report @yth0625!

I've made [this ticket](https://mattermost.atlassian.net/browse/MM-9778) to fix the issue 👍

[2018-03-09 13:32] jasonblais commented on #8034
Thanks @santos22 for the heads up! I've included your commit in the issue description, really appreciate your help getting started on this issue 👍

[2018-03-09 15:59] amyblais commented on #8402
Hello @enuit,

Thank you for reporting this issue!

We have included a fix for this issue you discovered in our 4.7.3 release, and would like to recognize you in our [security research hall of fame](https://www.mattermost.org/responsible-disclosure-policy/) and our upcoming security update email, which acknowledge those who helped discover security issues.

We would also love to send you a Matterm

[2018-03-09 16:35] cpanato commented on #8034
Hello @santos22, I can help on this, but also would like you to have the credits as well, can you please open the PR with all code you have so far, and then I can push commits to finish the work? if that you can the authored commits as well, since you already put a lot of effort on this.

what do you think?

[2018-03-09 17:10] santos22 commented on #8034
Hey @cpanato! I would really appreciate that. There was really only one change where I added a `overflow: hidden` property and everything else was just commenting out the focus property where the outline was 0 or none. I will create the PR 👍

[2018-03-09 18:07] esethna opened #8429 "[Help Wanted] [MM-9771] Cursor focus doesn't return to comment box on the RHS after editing a message on the RHS by removing all of the text in the comment"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-09 18:07] esethna opened #8430 "[Help Wanted] [MM-9769] Posting a reply from preview mode leaves editor in preview mode"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-09 20:30] Vorlif opened #8431 "mkdocs.yml can be deleted"
Not really a bug.

#### Summary
The root directory of the project contains the file mkdocs.yml.
I think the file is no longer needed. :)

#### Possible fixes
Delete mkdocs.yml

[2018-03-09 20:39] baldurmen opened #8432 "Minimal SQL database privileges"
Hi!

The installation documentation says that you should grant all SQL privileges to the mattermost user:

    mysql> grant all privileges on mattermost.* to 'mmuser'@'%';

I was wondering what are the true minimal SQL privileges Mattermost needs to run normally.

I don't normally like to grant all privileges for security reasons and would really appreciate it if you could publish a minimal SQL da

[2018-03-09 22:27] jasonblais commented on #8429
Wondering if you were interested helping with this one too @letsila? :)

[2018-03-09 22:30] esethna opened #8434 "[Help Wanted] [MM-9777] Having a custom emoji with the same name as a system emoji causes confusing behaviour in emoji picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-10 00:15] scottliddick opened #8436 "API v4 Documentation for Status/Get User Status does not match payload received."
#### Summary
The [API documentation](https://api.mattermost.com/#tag/status%2Fpaths%2F~1users~1%7Buser_id%7D~1status%2Fget) for **status/get user status** does not match actual payload received from server as the active_channel property is missing.

#### Steps to reproduce
Perform an authenticated API request for /users/{userId}/status and view the response payload.

#### Expected behavior
Per API

[2018-03-10 02:18] jasonblais commented on #8427
@yth0625 Would you like to help translate the string at our Translations Server?

https://translate.mattermost.com/ko/mattermost/translate/#search=%7B%7B.SubjectText%7D%7D%20on%20%7B%7B.TeamDisplayName%7D%7D&sfields=source,target

It'll get added to v4.8 release if it's translated by Monday (March 12th) :)

[2018-03-10 03:38] letsila commented on #8429
Sure. I can take care of this one.

[2018-03-10 08:42] koxen commented on #4932
I'll be fixing this soon as a part of something bigger

[2018-03-10 13:35] enuit commented on #8402
Hey,
that would both be great.
My username in the chat is also enuit :)

[2018-03-10 21:15] Fuhunter commented on #8262
Hi @amyblais @lindy65,

I checked the guide you linked, and everything seems fine and correct to me.

Well but I still managed to solve this issue. It wasn't related to Mattermost directly, more to our internal network. We changed all our network components (won't go into detail here), and now everything works fast and stable.

I will upgrade to the latest version in the next couple of days.

[2018-03-10 21:15] #8262 closed

[2018-03-10 22:58] WGH- opened #8437 "SMTP server check is synchronous, blocking startup if connection times out"
#### Summary
When SMTP server is unavailable in such way that connection attempt hangs (e.g. target network is down), the check at the startup will hang, rendering the entire Mattermost server unavailable until SMTP connection attempt finally times out.

#### Steps to reproduce
You can probably simulate it by silently dropping traffic to the mail server, e.g. with iptables:
[code]

And then starti

[2018-03-11 13:48] cpanato commented on #8034
link the PR here: https://github.com/mattermost/mattermost-webapp/pull/919

[2018-03-11 15:10] cpanato commented on #8407
PR: https://github.com/mattermost/mattermost-server/pull/8428

[2018-03-11 19:15] lindy65 commented on #8262
Glad your issue is resolved @Fuhunter 👍

[2018-03-12 00:44] yth0625 commented on #8427
I translated this.
Thanks @jasonblais

[2018-03-12 01:06] jasonblais commented on #8427
Great! Thanks @yth0625 👍

I'll close the issue. It will be resolved in Mattermost v4.8.

[2018-03-12 01:06] #8427 closed

[2018-03-12 06:23] lindy65 commented on #8402
Thanks @enuit,

I've direct messaged you on http://pre-release.mattermost.com/ 👍

[2018-03-12 08:08] lindy65 commented on #8437
Thanks for the PR @WGH- 👍

[2018-03-12 08:13] lindy65 commented on #8388
Hi @koxen,

Did you perhaps have a chance to open a feature request on the [forum](https://mattermost.uservoice.com/forums/306457-general)?  If so, could you post a link back to this issue for continuity please?

[2018-03-12 09:27] Vorlif commented on #8431
Yes, I will create one.

[2018-03-12 09:34] jespino commented on #8431
Great! Thanks! :smiley:

[2018-03-12 10:45] M1dgard opened #8442 "Outdated instructions on Custom Emoji page"
The Custom Emoji page says:

* The emoji selection menu is nowadays only triggered when you type ':' followed by two characters.
* New emojis appear for other users without refreshing the page. (Which is great btw! :D )

[2018-03-12 13:01] #7562 closed

[2018-03-12 13:35] amyblais commented on #8436
Hi @scottliddick,

Thank you for this report!

I have created a ticket for this here for our engineers to fix: https://mattermost.atlassian.net/browse/MM-9798

[2018-03-12 13:37] cpanato commented on #8436
I can fix that @amyblais. I will assign that ticket to me

[2018-03-12 13:39] amyblais commented on #8436
Thank you @cpanato!

[2018-03-12 16:08] pauljonesOH opened #8443 "Accessibility issue - can't tell which channels are unread"
I'm logging some accessibility issues in Mattermost that are effecting the usability for a blind user.

#### Summary
Can't tell which channels are unread

#### Steps to reproduce
(Mattermost 4.4.2 using JAWS screen reader software)
Receive any new message

#### Expected behavior
Say which channels have unread messages

#### Observed behavior (that appears unintentional)
'X unread channels' shows i

[2018-03-12 16:11] pauljonesOH opened #8444 "Accessibility issue - Can't post first message in channel"
I'm logging some accessibility issues in Mattermost that are effecting the usability for a blind user.

#### Summary
Can't always type straight away into channel's message field

#### Steps to reproduce
(Mattermost 4.4.2 using JAWS screen reader software)
Select channel and start typing

#### Expected behavior
Starts typing in message field

#### Observed behavior (that appears unintentional)
To b

[2018-03-12 16:14] pauljonesOH opened #8445 "Accessibility issue - emoji support"
I'm logging some accessibility issues in Mattermost that are effecting the usability for a blind user.

#### Summary
Emoji don't display correctly

#### Steps to reproduce
(Mattermost 4.4.2 using JAWS screen reader software)
View emoji

#### Expected behavior
Emoji should display as the typed command e.g. :thumbsup:

#### Observed behavior (that appears unintentional)
Emoji show as a line of 1s. O

[2018-03-12 16:23] pauljonesOH opened #8446 "Accessibility issue - lack of alt text and unlabelled buttons"
I'm logging some accessibility issues in Mattermost that are effecting the usability for a blind user.

#### Summary
Lack of alt text and unlabelled buttons

#### Steps to reproduce
(Mattermost 4.4.2 using JAWS screen reader software)

#### Expected behavior
Everything should be labelled so that it gives alt text to the screen reader

#### Observed behavior (that appears unintentional)
For example

[2018-03-12 17:48] cpanato commented on #8436
pr: https://github.com/mattermost/mattermost-api-reference/pull/341

[2018-03-12 18:06] CoolTomatos commented on #8430
I would like to help you guys solve this!

[2018-03-12 18:42] gnufede commented on #8434
I can take a look at this

[2018-03-12 19:18] jasonblais commented on #8430
Thanks @CoolTomatos, really appreciate it :)

[2018-03-12 19:18] jasonblais commented on #8434
Thanks @gnufede! :)

[2018-03-12 20:18] santos22 commented on #8434
Hey @gnufede! If you have any questions, you can ping Harrison, a core contributor. Turns out the server doesn't have any knowledge of system emojis, so an easy fix for this would be to add some duplicate checking to the emoji picker. The check would basically hide any custom emojis that have the same name as a system one.

[2018-03-12 22:05] CoolTomatos commented on #8425
I would like to help you guys solve this

[2018-03-12 22:09] amyblais commented on #8351
### v4.8.0 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.8.0-rc3/mattermost-team-4.8.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4d19eaebda442445d72cbcc1210c85f588ee65b6/source/administration/changelog.md)

#### Approved fixes for RC-4
[Themes cannot be edit

[2018-03-12 22:30] wezm opened #8450 "Image causes Mattermost server to crash: fatal error: runtime: out of memory"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Image causes Mattermost to crash

#### Steps to reproduce

[2018-03-13 07:23] cjohannsen81 opened #8451 "Windows 7 with IE11: Cursor jumps to end of line"
#### Summary
When editing a post using Windows 7 and IE11 the cursor always jumps to the end of the line.

#### Steps to reproduce
Just use a Windows 7 VM and Internet Explorer 11 and edit a message. Seems to happen with all IE11 patch levels so far.

#### Expected behavior
Cursor stays at the position to edit.

#### Observed behavior (that appears unintentional)
See attached animated gif.

#### P

[2018-03-13 08:42] lindy65 commented on #8451
Hi @cjohannsen81,

I've reproduced your issue and have created a ticket [here](https://mattermost.atlassian.net/browse/MM-9819). 👍

[2018-03-13 08:47] lindy65 commented on #8446
Thanks for the report @pauljonesOH :)

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-9820) for us to fix the issue.

[2018-03-13 08:49] lindy65 commented on #8445
Hi @pauljonesOH,

Thanks for your report,

Could I ask your help upgrading to [the latest version of Mattermost](https://about.mattermost.com/download/) to see whether the emoji issue still reproduces?  We've recently done some work around emoji so I'm wondering whether upgrading will fix this issue for you...

Thanks!

[2018-03-13 08:51] lindy65 commented on #8444
Hi @pauljonesOH,

Thanks for your report!

Please try upgrading to the [latest server version of Mattermost](https://about.mattermost.com/download/) as we've recently worked on cursor focus into the text input box so I'm wondering whether upgrading will fix the issue for you?

Thanks!

[2018-03-13 08:53] lindy65 commented on #8443
Hi @pauljonesOH,

Thanks for your report :)

With v4.7, the "unreads" section was introduced which shows all unread channels in an "UNREADS" section at the top of the left-hand-side bar.  I'm sure upgrading to the [latest version](https://about.mattermost.com/download/) will fix this issue for you!

Thanks!

[2018-03-13 08:55] lindy65 commented on #8442
Thanks for the report @M1dgard 👍

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-9821) for us to fix that help text!

[2018-03-13 08:59] lindy65 commented on #8431
Thanks for the PR @Vorlif 👍

[2018-03-13 09:16] wezm commented on #8450
Sure @lindy65,

* The image was being uploaded from the Mattermost desktop app on Linux, version 4.0.0
* Server version:
[code]
* Running on Debian Linux 9.4

[2018-03-13 09:21] Merlin2001 commented on #8451
Shouldn't the expected behavior be:

?

[2018-03-13 10:34] lindy65 commented on #8451
Thanks @Merlin2001

Correct!  I've updated the expected behavior :)

[2018-03-13 10:43] #8429 closed

[2018-03-13 13:21] cjohannsen81 commented on #4032
@filipp How did you solve this, if at all?

[2018-03-13 14:26] jasonblais commented on #7616
Huge thanks @chumbalum for helping with this feature! It's now merged and scheduled for v4.9 release on April 16th

[2018-03-13 14:26] #7616 closed

[2018-03-13 16:59] esethna opened #8455 "Accessibility issue - lack of alt text and unlabeled buttons"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-13 18:32] baldurmen commented on #8432
@lieut-data Thanks! That's really appreciated.

[2018-03-13 18:32] amyblais commented on #8351
### v4.8.0 RC-4 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.8.0-rc4/mattermost-team-4.8.0-rc4-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4d19eaebda442445d72cbcc1210c85f588ee65b6/source/administration/changelog.md)

#### Approved fixes for RC-5
[Compliance reports UI

[2018-03-13 18:52] lindy65 commented on #8450
Thanks @wezm,

I'll pass this info on to our engineers and ask for their help troubleshooting your issue 👍

[2018-03-13 20:18] khronosschoty opened #8456 "formatting issues from text coming from matterircd inside of webui [Edit: issue caused from MIRC color codes]"
#### Summary
Formatting of text from matterircd is not always correctly shown on the web interface or the mobile app etc.

#### Steps to reproduce
Use the IRC bot Malibu developed by Stinger for the browser game utopia-game.com

#### Expected behavior
Formatting should be the same in the IRC client (or near the same).

#### Observed behavior (that appears unintentional)
Some people report some of

[2018-03-14 04:37] wezm commented on #8450
Just adding some more details this. Another person on my Mattermost instance encountered the same issue uploading a file. They were using the web UI. I then got a copy of the image and tried uploading it from my phone (iOS) and it also failed. This time the Linux OOM killer killed it instead though.

[code]

The image was not large.

[2018-03-14 07:41] filipp commented on #4032
@cjohannsen81 I think it was fixed with some update. We are currently running 4.7.3 and I haven't seen this issue recently.

[2018-03-14 08:26] lindy65 commented on #8450
Thanks @wezm,

Hope to have some feedback for you today 👍

[2018-03-14 10:51] SmartHoneybee commented on #8456
Hi @khronosschoty,

the issue you are experiencing is related to the way [`matterircd`][1] translates between IRC and Mattermost. Thus, this is an issue with `matterircd` and not with Mattermost. (As far as I can tell.)

By the way, if you open an issues and are aware of other similar issues, please do mention those in your report. In this case, e.g.:
* https://github.com/mattermost/desktop/issues

[2018-03-14 15:21] ferdaws9 commented on #4833
curl -v 127.0.0.1
* Rebuilt URL to: 127.0.0.1/
*   Trying 127.0.0.1...
* connect to 127.0.0.1 port 80 failed: Connexion refusée
* Failed to connect to 127.0.0.1 port 80: Connexion refusée
* Closing connection 0
curl: (7) Failed to connect to 127.0.0.1 port 80: Connexion refusée

[2018-03-14 17:06] #7515 closed

[2018-03-14 21:27] lieut-data commented on #8450
@wezm, what are the specs for the machine where you're running Mattermost? It's possible that, prior to the swap changes, you were just at the limit past which the increased memory required on image upload triggered the observed behaviour. I'd definitely recommend increasing the headroom here.

There's probably also some room for us to optimize the image upload process here.

[2018-03-14 22:24] wezm commented on #8450
@lieut-data It's a DigitalOcean droplet with 1Gb RAM and one CPU core. The only thing it runs is the Mattermost server (the webserver and database are on a different machine). In normal operation there are 100's of Mb of RAM free (at the time of writing 94Mb used, 753Mg free as reported by `free -h`). It doesn't seem right to me that a 38.4kB PNG file would cause the `platform` process to spike RA

[2018-03-14 22:55] amyblais commented on #8351
### v4.8.0 RC-5 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.8.0-rc5/mattermost-team-4.8.0-rc5-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/4d19eaebda442445d72cbcc1210c85f588ee65b6/source/administration/changelog.md)

#### Approved fixes for RC-6
[`x509: certificate si

[2018-03-15 00:02] lieut-data commented on #8450
Thanks for the specs, @wezm. I've setup a machine running the latest Debian Jesse supported by Mattermost with only 512Mb RAM and one CPU core. It's running 4.7.3, with MySQL also hosted on a different machine. So far, I'm unable to reproduce the behaviour you describe with the attached image.

That being said, I note that the memory characteristics of this simple setup are very different than you

[2018-03-15 00:06] lieut-data commented on #8432
We're not using much by way of advanced database features (intentionally), and so far I've been running (and upgrading) successfully on MySQL using just:
[code]

Let's give this a while to soak while I continue to investigate and I'll confirm by closing out this issue and filing a docs update, including the requisite changes for PostgreSQL.

[2018-03-15 00:20] wezm commented on #8450
It's Debian 9.4 (stretch). My instance is using PostgreSQL for the DB and S3 for image storage. I haven't customised it at all. I basically just started it in the DigitalOcean control panel and then installed Mattermost on it with Ansible.

[code]

I'm surprised you're seeing 480M used on a basically empty machine. Perhaps the way `free` reports things changed between Debian 8 and 9. This is the l

[2018-03-15 00:42] M1dgard opened #8462 "Disable Markdown images"
#### Summary
Inlining images with `![alt text](https://example.org/image.jpg)` should be (possible to) disable(d).

#### Steps to reproduce
Post a message with `![](http://upload.wikimedia.org/wikipedia/commons/b/ba/Kammergericht%2C_Berlin-Sch%C3%B6neberg%2C_Treppenhalle_%281%29%2C_160809%2C_ako.jpg)` (note: http, no https)

#### Expected behavior
Mattermost does not allow the image syntax to be t

[2018-03-15 06:45] ankiksri opened #8463 "Mattermost installation on UBuntu 14.04 LTS"
Hello everyone,

I am trying to install mattermost on ubuntu server 14.04 LTS.
My machine is Macpro -- I have installed Vmware fusion one that and on VM ware i have install ubuntu server.
I have completed alll the steps of configuration & when I am running this command "sudo -u mattermost ./platform" Its showing:
sudo -u mattermost ./platform
./platform: 1: ./platform:ELF����: not found
./platform

[2018-03-15 07:38] SmartHoneybee commented on #8463
Hi @ankiksri,

I suspect that you are running a 32bit (`i386`) VM while Mattermost requires 64bit (`amd64`).

Regards,
Bee

[2018-03-15 07:41] SmartHoneybee commented on #8462
Hi @M1dgard,

an [image proxy][1] might help you to address some of those points.

Regards,
Bee

[1]: https://docs.mattermost.com/administration/image-proxy.html

[2018-03-15 12:03] mcnesium commented on #1838
This happens again, after removing all the `mattermost['email…` settings from `gitlab.rb` [like ordered here](https://docs.gitlab.com/omnibus/gitlab-mattermost/#upgrading-gitlab-mattermost-from-versions-prior-to-11-0)

[2018-03-15 14:05] ankiksri commented on #8463
Hi
Can I install amd64 on mac by using VMware fusion? I mean to say I have mac inside that I have installed VMware fusion and in that can I install ubuntu 14.04 amd64 bit???

[2018-03-15 14:28] SmartHoneybee commented on #8463
Hi @ankiksri,

probably. (I'm no VMware Fusion/macOS enthusiast.) "Just try it" and/or ask for help in the [VMware Fusion forum][1]. Once you have a suitable installation, feel free to use the [Mattermost forum][2] for follow-up questions.

Hope that helps, if so, please close this issue.
Thanks.

Regards,
Bee

[1]: https://communities.vmware.com/community/vmtn/fusion
[2]: https://forum.mattermost

[2018-03-15 16:46] esethna opened #8464 "Stop using the search.results reducer in mattermost-redux for flagged and pinned posts"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-15 17:19] fred-cm opened #8465 "Pinned tab with FF : cannot clear a notification"
#### Summary
we use mattermost for our merge-requests
until now, when someone sent me a MR (with @myUser), the mattermost logo of the tab became red and I could acknowledge by reading it
today, I always get a red notification, which disappears when I focus the page, but is back later, without new events

#### Steps to reproduce
This bug is always on !
![issue8465](https://user-images.githubusercon

[2018-03-15 18:58] trash-anger commented on #6158
Hi,

I reopen this discussion ! ;)

But it would be great that it also apply to the uploaded images ! No ?

[2018-03-15 23:53] amyblais commented on #8351
Mattermost v4.8.0 is now cut and available for download at https://about.mattermost.com/download on March 16th.

[2018-03-15 23:53] #8351 closed

[2018-03-16 07:11] nandakishorebhandari opened #8468 "ateUser"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Bug report in one concise sentence

#### Steps to reprodu

[2018-03-16 07:11] #8468 closed

[2018-03-16 07:24] dandingol03 opened #8469 "mysql, port is already allocated"
Hi
  When i run  'make run' command,it failed.Here is the log below:
[code]

[2018-03-16 08:00] cpanato commented on #8469
Hello @dandingol03
Do you have mysql installed in the machine that you are trying to run MM? if you have it you maybe need to turn it of, or select another port for the docker MM-mysql image to run.

[2018-03-16 08:10] lindy65 commented on #8465
Hi @fred-cm,

Thanks for your report!

Could you share which server version of Mattermost you have installed?  Also which version of Firefox are you using?

[2018-03-16 08:13] lindy65 commented on #8451
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2018-03-16 08:13] #8451 closed

[2018-03-16 08:16] lindy65 commented on #8446
I'll close this issue off here for now and we can track via the Jira ticket linked above.

[2018-03-16 08:16] #8446 closed

[2018-03-16 08:17] lindy65 commented on #8442
I'll close this issue off here for now and we can track via the Jira ticket linked above...

[2018-03-16 08:17] #8442 closed

[2018-03-16 08:18] lindy65 commented on #8436
As the PR above has been merged, I'll close this issue off here now...

[2018-03-16 08:18] #8436 closed

[2018-03-16 08:19] lindy65 commented on #8431
I'll close off this issue here now that the above PR has been merged...

[2018-03-16 08:19] #8431 closed

[2018-03-16 08:22] lindy65 commented on #8419
I'll close this issue off here for now and we can track via the Jira ticket and PR linked above.

[2018-03-16 08:22] #8419 closed

[2018-03-16 08:26] lindy65 commented on #8368
Hi @ssatyak,

I'll close this off here for now as there has not been any feedback so we're assuming it's no longer an issue...

[2018-03-16 08:26] #8368 closed

[2018-03-16 08:28] lindy65 commented on #8064
Hi @limenleap,

Popping in to let you know that [v4.8.0](https://about.mattermost.com/download/) released today so perhaps you'd like to upgrade to see if this issue still persists?

[2018-03-16 10:21] dandingol03 commented on #8469
@cpanato
thanks for your help!After i stop mysql service,it goes well.But i found there is somethign wrong with yarn packages install.Here is my log:
[code]

[2018-03-16 10:29] cpanato commented on #8469
did you setup you `GOPATH` properly?
you can follow this documentation based on your OS: https://docs.mattermost.com/developer/dev-setup.html

[2018-03-16 12:16] jasonblais commented on #7875
Thanks @cpanato!

[2018-03-16 12:16] #7875 closed

[2018-03-16 12:56] dandingol03 commented on #8469
Hi,@cpanato
``@export GOPATH=$HOME/go``,what does `$HOME` mean?For example,here is my GOPATH set:
`GOPATH=/usr/local/go/bin/go`,something wrong  i think~

[2018-03-16 13:10] cpanato commented on #8469
`$HOME` is your home folder and where you will have the source code. the to export you should remove the `@`

[2018-03-16 13:39] jasonblais commented on #6158
Thanks! Agree, we actually created a ticket and have started to consider the user experience around this https://mattermost.atlassian.net/browse/MM-9741

[2018-03-16 13:42] dandingol03 commented on #8469
Hi,@cpanato
   if i clone muttermost-server in ~/go/src,then i should set `GOPATH=~/go/src/muttermost-server`,right?

[2018-03-16 13:52] cpanato commented on #8469
no. you should create the folder `~/go/src` and your go path will be the `GOPATH=$HOME/go`
in the `src` you should clone the mm-server

[2018-03-16 14:00] kaakaa opened #8470 "Missing messages"
#### Summary
Following messages aren't exist in `en.json`, in spite of being used in server code.

[code]

#### Steps to reproduce
N/A

#### Expected behavior
N/A

#### Observed behavior (that appears unintentional)
N/A

#### Possible fixes

I have had no solutions for #6090 yet.

[2018-03-16 14:10] dandingol03 commented on #8469
It is me again.@cpanato
After i set the GOPATH to `$HOME/go` and put mm-server in `~/go/src`,i still encounter another 4 problems below:
[code]
and here is my folder structure:
![image](https://user-images.githubusercontent.com/13013579/37525056-ab1288ea-2966-11e8-86ae-032570b136ec.png)

[2018-03-16 14:27] rbdevr opened #8471 "Fix For Duplicated messages"
Messages sent by mobile are getting duplicated. Probably because not 100% stable connection.
The server requires a mechanism to make sure the same message is not saved in the server multiple times.
If there is already a mechanism in place then it needs to be reviewed.

I suggest to have the clients to generate a message id(GUID probably) and send the message and the id together. The server will th

[2018-03-16 14:34] lieut-data commented on #8450
I've setup a Debian 9.4 instance, disabled swap and uploaded a bunch of images of various sizes but have yet to see the memory spike as my own theory suggested. No issues uploading images yet.
[code]

Let us know how running with swap enabled goes and if you see any other oddities. We do generally suggest (or at least focus on) 2 vCPUs/cores, 4 GB RAM, and 45-90 GB storage aiming at 250-500 users,

[2018-03-16 14:38] dandingol03 commented on #8469
Hi @cpanato
After i move the mm-server to mattermost,it works fine.But i can't open `http://localhost:8065`,and i found there maybe something wrong with `driver.TxOptions`.Here is the log:
[code]

[2018-03-16 15:31] M1dgard commented on #8462
Solved by using an image proxy:

:white_check_mark: They can leak the URL of private Mattermost instances to third parties via the Referer.
:white_check_mark: I want a 3rd-party free experience on my Mattermost instance.
:white_check_mark: They make the browser issue a mixed content warning if someone posts an image with a non-HTTPS URL.
:white_check_mark: They can leak users' IP addresses to othe

[2018-03-16 15:31] #8462 closed

[2018-03-16 15:38] cpanato commented on #8469
do you have a user on the pre-release server? can you ping me there?

[2018-03-16 20:45] wezm commented on #8450
Ok, thanks for investigating. Since adding swap we've been able to upload images without any issues so far. There are only 15 people on my instance; as shown in the graphs above the machine is idle most of the time.

[2018-03-16 21:28] GitHubJasper commented on #7660
Hi,
We have been looking into this component and would like to try and tackle it.
While looking at the current implementation we had a few questions:
 - Currently there is a function in global actions that toggles the delete modal. Is it right to assume that instead we should use the openModal action? Like what was done [here](https://github.com/mattermost/mattermost-webapp/pull/88)?
 - Non of us

[2018-03-16 23:50] baldurmen commented on #8432
I tested those privileges and did not have any problems either.

[2018-03-17 01:12] dandingol03 commented on #8469
Hi @cpanato ,i don't know how can i add a user on the mm-server and make a ping in the mm-server to you.Is there any document which can teach me do that?

[2018-03-17 19:14] lindy65 commented on #8450
Great to hear @wezm :)

I'll close this issue off here for now but if you have any issues in the future, please feel free to let us know!

[2018-03-17 19:14] #8450 closed

[2018-03-19 01:42] stone212 opened #8472 "Cannot Create User from Web"
#### Summary

Although "EnableUserCreation" is set to true, when I go to "mattermost.myserver.com" in a browser, I see the login boxes but I do not see the button to create an account.

#### Steps to reproduce

1. Follow these instructions to install Mattermost server: https://docs.mattermost.com/install/install-ubuntu-1604.html#

2. Then set EnableUserCreation to true in /opt/mattermost/config/co

[2018-03-19 06:56] lindy65 commented on #8472
Hi @stone212,

Thanks for your feedback,

Can you share which server version of Mattermost you have installed and which browser you're seeing this in?

Also, do you have `Enable open server` checked in `Security > Sign Up`?  When true, anyone can signup for a user account on the server without the need to be invited.

[2018-03-19 07:03] lindy65 commented on #8471
Hi @rbdevr,

Thanks for your feedback,

We have [this ticket](https://mattermost.atlassian.net/browse/MM-8528) open to investigate but haven't found concrete reproduction steps and the issue is intermittent.

[2018-03-19 07:07] lindy65 commented on #8470
Thanks for the PR @kaakaa!

I'll close this issue off here for now and we can track the remainder via #6090.

[2018-03-19 07:07] #8470 closed

[2018-03-19 07:10] lindy65 commented on #8469
Hi @dandingol03,

You can sign up to the pre-release server [here](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and then send a direct message to `cpanato` once you have signed up :)

[2018-03-19 11:03] dupont-kedama opened #8473 "Can't show "user is typing..." in Japanese IME hiragana mode"
#### Summary
Input message in Japanese hiragana mode, can't show "user is typing..." to other user's UI.

#### Steps to reproduce
Input message in Japanese hiragana mode.

#### Expected behavior
Show "user is typing..." to other user in same channel.

#### Observed behavior (that appears unintentional)
Can't show "user is typing..." to other user in same channel.

#### Other detail
In ASCII mode,

[2018-03-19 11:49] jwilander commented on #7660
Hi @GitHubJasper,

1. Yes that would be the right way to open the modal
2. I'd take a look at https://docs.mattermost.com/developer/webapp-to-redux.html and then if you have any specific questions let us know here or on [our Mattermost instance](https://pre-release.mattermost.com)

[2018-03-19 12:32] rbdevr commented on #8471
Interesting. they could be related.

[2018-03-19 13:50] kittykat opened #8474 "Unicode code point entry doesn't work"
#### Summary
It's not possible to trigger Unicode code point input

#### Steps to reproduce
Press Ctrl+Shift+U

#### Expected behavior
I can enter a code point to get a Unicode character. For example, Ctrl+Shift+U followed by 2026 to get a … character.

#### Observed behavior (that appears unintentional)
Upload dialog opens

#### Possible fixes
Remove Ctrl+Shift+U as a shortcut for the upload dial

[2018-03-19 18:00] esethna opened #8476 "[Help Wanted] [MM-9904] Add /invite slash command to invite users to a channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-19 23:11] stone212 commented on #8472
@lindy65

I checked with multiple browsers.  Mattermost 4.7.3.

Oh!  No I didn't.  Okay that fixed the problem in a way.

However the reason this was set to false is because I don't want just anyone able to sign up for an account.  Is there a way to moderate this so it requires admin approval?  I suppose I could also put the mattermost page behind a simple http password if necessary.

[2018-03-19 23:11] #8472 closed

[2018-03-20 06:14] dandingol03 opened #8481 "Access denied for user 'matteruser'@'172.17.0.1' (using password: YES)"
OS: mac 10.11.5
error:```Failed to ping DB retrying in 10 seconds err=Error 1045: Access denied for user 'matteruser'@'172.17.0.1' (using password: YES)```
Hi,i need help.thanks~

[2018-03-20 06:40] lindy65 commented on #8471
Hi @rbdevr,

Thanks for your feedback,

Yes, agree, the Jira ticket is on browser...

Could you help with reproduction steps for your mobile issue so we can try to replicate on our side?  If you can let us know which version of Mattermost server you have installed as well as which version of the mobile app you are running with steps on what occurs leading up to messages being duplicated, that woul

[2018-03-20 07:49] lindy65 commented on #8481
Hi @dandingol03,

Thanks for your feedback,

So we can help troubleshoot, please let us know which server version of Mattermost you have installed as well as a little more information about your set up?

Thanks!

[2018-03-20 07:57] lindy65 commented on #8473
Hi @dupont-kedama,

Thanks for your report!

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-9912) for the team to investigate.

[2018-03-20 08:44] jespino commented on #8474
Hi @kittykat,

Yes, this is a bug, the defined behavior is Ctrl+U is for upload file, Ctrl+Shift+U is a unhandled case.

Do you want to make a PR with the change?

Probably you only have to add a !e.shiftKey check here: https://github.com/mattermost/mattermost-webapp/blob/master/components/file_upload/file_upload.jsx#L421

And one last thing, before accept your PR we will need you sign the contrib

[2018-03-20 11:24] jasonblais commented on #5833
Re-tested and confirmed by @svelle that this issue no longer reproduces.

[2018-03-20 11:24] #5833 closed

[2018-03-20 11:26] #6841 closed

[2018-03-20 13:42] cpanato commented on #8476
PR: https://github.com/mattermost/mattermost-server/pull/8482

[2018-03-20 13:47] cpanato commented on #8481
This was solved together with @dandingol03  in the pre-release. Closing

[2018-03-20 13:47] #8481 closed

[2018-03-20 16:24] #8430 closed

[2018-03-20 16:49] esethna opened #8483 "[Help Wanted] [MM-9912] Can't show "user is typing..." in Japanese IME hiragana mode"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-20 17:06] fred-cm commented on #8465
Hi @lindy65

FF :
quantum 58.0.2
MM :
Version: 3.10.0  (3.10.2)
Database: postgres

[2018-03-20 19:00] lindy65 commented on #8465
Hi @fred-cm,

Thanks for the info,

We'd definitely suggest upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost.  We fixed a couple of Firefox-related bugs a few releases back so I'm guessing that if you upgrade to v4.8 your issue will be resolved.

[2018-03-21 08:10] lindy65 commented on #8473
I'll close this issue off here for now and we can track via the [Help Wanted] ticket above...

[2018-03-21 08:10] #8473 closed

[2018-03-21 08:12] lindy65 commented on #8456
Thanks, I'll close this issue off here for now and we can track via the issues linked above.

[2018-03-21 08:12] #8456 closed

[2018-03-21 08:13] lindy65 commented on #8445
Hi @pauljonesOH,

Was the issue resolved after upgrading to the latest Mattermost version?

[2018-03-21 08:14] lindy65 commented on #8444
@pauljonesOH - just popping in to see whether this issue was resolved once you upgraded to the latest version of Mattermost?

[2018-03-21 08:15] lindy65 commented on #8443
Hi @pauljonesOH,

I'll close this issue off here for now as the 'unreads' section should solve this issue for you once you've upgraded to the latest version of Mattermost.

[2018-03-21 08:15] #8443 closed

[2018-03-21 08:16] lindy65 commented on #8437
I'll close this issue off here for now and we can track via the PR linked above.

[2018-03-21 08:20] lindy65 commented on #8388
As we haven't heard back from you we'll assume this is no longer an issue for you so we'll close this off here for now.

[2018-03-21 08:20] #8388 closed

[2018-03-21 09:33] fred-cm commented on #8465
Hi @lindy65

Thanks for you answer, ok for that !

[2018-03-21 09:33] #8465 closed

[2018-03-21 12:46] catacraciun opened #8489 "Mattermost Server restarts when trying to upload an image (S3 Storage)"
#### Summary
I am trying to configure mattermost on an Amazon Lightsail machine. I have installed it on Ubuntu 16.04 LTS, and also on Amazon Linux. Everything works smoothly, excepting one case:
If I am enabling S3 Storage, and I'm trying to upload a PNG image (small images, screenshots, for example), the server seems to restart, causing a 'connection refused' (looking in Chrome devTools).
The ima

[2018-03-21 12:53] catacraciun commented on #8489
On IOS, I just managed to upload a ~7 MB photo after retrying 2-3 times.

[2018-03-22 07:15] Hyeongmin-Kwon opened #8492 "Markdown formatting issue."
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
- Number & item markdown formatting becomes strange..

##

[2018-03-22 09:23] dnl-09 opened #8493 "Slack-Import: Mattermost only imports first user"
Hey,

im having a problem while importing a Slack export in Mattermost.

#### Summary
Mattermost only imports the first user from Slack-Import (users.json)

#### Steps to reproduce
I exported my Slack-Team like it is descriped in the documentation. I enabled the username-overwriting by plugins and added the e-mail-adresses with the Slack-Advanced-Exporter. Than i imported the new Zip-File in Matte

[2018-03-22 11:32] lmikaellukerad commented on #8483
Hi, I'm interested in tackling this one, anything I should know?

[2018-03-22 14:02] jespino commented on #8489
Hi @catacraciun,

It may be a problem of "Out of memory" during the image resizing. Could you try with a bigger Lightsail VM instance, at least to verify if the problem is related to that?

[2018-03-22 14:14] hmhealey commented on #8492
Hi @Hyeongmin-Kwon,

Thanks for the report. The Markdown library that we're currently using in the web app doesn't like to switch between list types when they're mixed like that, but we're going to be switching eventually to CommonMark like GitHub uses. You can already see it in use in our mobile app where this works as expected.
<img width="383" alt="screen shot 2018-03-22 at 10 09 35 am" src="ht

[2018-03-23 00:11] Hyeongmin-Kwon commented on #8492
I See. Thank you for answer. :)

[2018-03-23 02:41] lfbrock commented on #8425
Pull request here - https://github.com/mattermost/mattermost-webapp/pull/957

[2018-03-23 07:51] lindy65 commented on #8492
Thanks @hmhealey @Hyeongmin-Kwon,

I'll close this issue off here for now then...

[2018-03-23 07:51] #8492 closed

[2018-03-23 08:42] lindy65 commented on #8493
Hi @dnl-09,

Thanks for the report,

We've created [this ticket](https://mattermost.atlassian.net/browse/MM-9934) to track the issue.

[2018-03-23 10:53] #7783 closed

[2018-03-23 10:57] jasonblais commented on #8425
Closing this help wanted ticket per PR above.

[2018-03-23 10:57] #8425 closed

[2018-03-23 11:25] jasonblais opened #8497 "[Help Wanted] [MM-9602] Move getFlaggedPosts action from webapp to mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-23 11:32] esethna opened #8498 "[Help Wanted] [MM-8860] Bulk loading: Support every 15 minutes and every 1 hour intervals for email notification preferences"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-23 13:16] #8434 closed

[2018-03-23 13:51] #7659 closed

[2018-03-23 14:29] #6961 closed

[2018-03-23 14:31] #7330 closed

[2018-03-23 14:32] #7331 closed

[2018-03-23 14:36] #7923 closed

[2018-03-23 14:41] #8407 closed

[2018-03-23 15:26] amyblais commented on #8483
Hi @lmikaellukerad, thank you for your interest in helping with this issue!

You can start with the Developer's Guide linked in the issue description above.

If you have any specific questions, please let us know!

[2018-03-23 15:29] amyblais commented on #7518
Hi @dlahn, thank you for helping with this issue!

Apologies for the late response - I see that one of the PRs is merged, do you still need assistance with your earlier question on where the builds should be pushed to? Do you need any other assistance?

[2018-03-23 16:34] amyblais commented on #6123
Hi @tborg, thank you for your interest in helping with this ticket!

Apologies for late response, please let us know if you have any questions about how to get started.

[2018-03-23 16:40] amyblais commented on #7513
Hi @cpanato, apologies for delay, have your questions been resolved or do you need help with anything?

[2018-03-23 16:44] cpanato commented on #7513
@amyblais I will speak again with @crspeller  this gets lost :(

[2018-03-23 16:46] amyblais commented on #6174
@esethna Does the above link need to be changed?

[2018-03-23 16:48] amyblais commented on #7513
No problem, let me know if you need any help with reaching Chris.

[2018-03-23 18:17] esethna commented on #7520
Hi @bobashforth, sorry for the delay in answering your question. I'm adding @hmhealey to help clarify.

[2018-03-24 13:08] limenleap opened #8502 "Mattermost Personal Token Not shown even in version 4.8 (Solved partially)"
Hi
Please refer the earlier issue that I had filed for version 4.5

The problem persists even in version 4.8

I now suspect that it is possibly to do with CaddyServer -- which is the proxy forward that I am using, (Something went wrong with Nginx, so I stopped using that)

The screenshot below should explain -- there is a "Bad Gateway" message there which comes after a long time.

I hope this issu

[2018-03-24 13:24] limenleap commented on #8502
In the Mattermost log I see this problem (which is to do with sending email once personal access token is created)

SendUserAccessTokenAddedEmail: Failed to send "Personal access token added" email successfully, SendMail: Failed to open TLS connection, dial tcp 54.69.33.34:465: getsockopt: connection timed out

[2018-03-24 13:37] limenleap commented on #8502
Now it has got stranger

After the above calamity even more cascading issues:

a) I tried changing the Caddy timeout to 100s.  I tried restarting the Mattermost server. Didnt work
b) I removed Caddy from the loop; and tried to access Mattermost directly at its port. Didn't work
c) I brought back Caddy and it kept complaining that "no hosts available upstream"
d) I finally got this screenshot -- wh

[2018-03-24 14:29] limenleap commented on #8502
Additional info:
My server is at Digital Ocean -- 2GB Ram Firewall is inactive

[2018-03-24 15:09] ddavid9755 opened #8503 "Direct message problem after adding new User to conversation"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
After adding a User to a Direct message, the conversation

[2018-03-25 05:43] santos22 commented on #8498
Hey @jasonblais! Does this also involve changes to the following UI?
<img width="1552" alt="screen shot 2018-03-24 at 10 38 11 pm" src="https://user-images.githubusercontent.com/7004949/37872081-5cd2f832-2fb4-11e8-9baa-852ede9c4c7c.png">

[2018-03-25 07:03] limenleap commented on #8502
I restarted the server and went to sleep overnight.  I was surprised to find that today morning; I was able to get to the server from my browser!

So this is what I think is happening: There is some bootstrapping process that needs to be completed -- and that takes time! In the meantime, it is all blank screen in the browser -- this is on a slow network (I am in India)

Finally the issue of not sh

[2018-03-26 03:38] jimbothree opened #8504 "Online and Idle users are not prioritized in Channel Members dropdown or View/Manage members user list"
#### Summary
Viewing Members and Channel Members dropdown user list in the channel 'Reception'
and Manage Members user list in the channel 'Developers' do not prioritize users that are Online and Idle above offline users unless those users are searched for.  Once the users have been searched, they are prioritized as expected, Online, Idle, then offline users.

#### Steps to reproduce
Version:
![im

[2018-03-26 08:15] ErikThorsell opened #8505 "Unable to fetch http://dl-cdn.alpinelinux.org/alpine/v3.5/community/x86_64/APKINDEX.tar.gz"
#### Summary
Unable to download dependencies when issuing: `docker-compose build`

#### Steps to reproduce
Follow the instructions as laid out here: https://docs.mattermost.com/install/prod-docker.html#production-docker-setup-on-ubuntu

#### Expected behavior
A functional installation.

#### Observed behavior (that appears unintentional)

[code]

[2018-03-26 08:50] lindy65 commented on #8504
Thanks for the report @jimbothree!

We have [this ticket](https://mattermost.atlassian.net/browse/MM-9781) which has a PR submitted to fix...  I think this is the same issue you are reporting?

[2018-03-26 09:09] lindy65 commented on #8503
Hi @ddavid9755,

Thanks for your report!

This is expected behavior when adding users to an already existing group direct message.

![image](https://user-images.githubusercontent.com/13020833/37897241-0eaf8084-30e6-11e8-9f50-bd079e8da7e3.png)

[2018-03-26 09:13] lindy65 commented on #8502
Thanks for the report @limenleap,

I'm just referencing your previous issue here for historical purposes: https://github.com/mattermost/mattermost-server/issues/8064

I'll ask our engineers for help troubleshooting this...

[2018-03-26 09:47] ddavid9755 commented on #8503
Hi @lindy65,

Sorry for the misunderstanding, but I would have a question about this.
That's clear I need to create a new direct message if I want to add more people. But what if I want to remove a single user? I think this is a different case, so in my opinion, a new conversation should't be created if only a single user is deleted for a conversation. This would be more user friendly, if you coul

[2018-03-26 10:07] ddavid9755 opened #8506 "Account settings | No UI validations or restrictions if the User tries to change password"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
If the User want to change his password, there are no UI

[2018-03-26 10:22] lena1978 commented on #7980
This ticket needs to be reopened because the behavior is back. The report a problem link points to https://forum.mattermost.org/c/general/trouble-shoot instead of https://forum.mattermost.org/c/trouble-shoot

[2018-03-26 10:35] ddavid9755 opened #8508 "User can break 4000 character restriction (Direct message)"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
User can break 4000 character restriction (Direct message

[2018-03-26 11:27] jasonblais commented on #8498
Hey @santos22! No changes needed on the UI - there are two different settings based on what `EnableEmailBatching` is set to in config.json:

1) `EnableEmailBatching` = false:

![image](https://user-images.githubusercontent.com/13119842/37903761-1094cd92-30c7-11e8-8bd5-2115e2b59ab2.png)

2) `EnableEmailBatching` = true

![image](https://user-images.githubusercontent.com/13119842/37903779-2d9350da-3

[2018-03-26 12:11] jwilander commented on #8502
@lindy65 can we file a bug for the steps in @limenleap's last post and link to this issue?

[2018-03-26 12:12] lieut-data commented on #8505
@ErikThorsell, I'm able to download `APKINDEX.tar.gz` using the dl-cdn.alpinelinux.org URL at this time. These kinds of issues occasionally crop up when third-party CDNs report temporary errors, and usually resolve themselves fairly quickly.

Can you confirm it's working now? If not, I suspect you may have a network issue that you'll need to resolve locally.

[2018-03-26 13:12] hmhealey commented on #7520
Hi @bobashforth,

The correct file is now https://gitlab.com/bobashforth/omnibus-gitlab/blob/master/files/gitlab-cookbooks/mattermost/attributes/default.rb#L110. The values set there will be written into the config.json.

[2018-03-26 13:16] hmhealey commented on #7520
@jasonblais Once this is done, we should reach out to GitLab to add those settings to [this list](https://docs.gitlab.com/omnibus/gitlab-mattermost/#upgrading-gitlab-mattermost-from-versions-prior-to-11-0) so that they remain supported in GitLab 11. I don't know if that involves just changing that in the documentation or if there's somewhere in code that we'd need to change it as well

[2018-03-26 13:34] jasonblais commented on #7520
@hmhealey Noted

[2018-03-26 16:48] esethna opened #8509 "[Help Wanted] [MM-9956] Remove last uses of IntegrationStore and delete the store"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-26 18:07] lindy65 commented on #8502
Sure, [here's the ticket](https://mattermost.atlassian.net/browse/MM-9958) @jwilander @limenleap

[2018-03-26 18:27] lindy65 commented on #7980
Hi @lena1978,

I'm not able to reproduce your issue on our nightly build server...

Could you share which server version of Mattermost you have installed?

[2018-03-26 18:35] lindy65 commented on #8503
Hi @ddavid9755,

Thanks for your feedback and you make a good point about removing users and navigation to the new conversation instead of the old one...

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-9960) for our product team to take a look at improving the experience. 👍

[2018-03-26 18:59] esethna opened #8511 "[Help Wanted] [MM-9938] Add support for multiple responses from a slash command"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-26 18:59] esethna opened #8512 "[Help Wanted] [MM-9937] Add support for sending a message to a different channel than where the slash command was issued from"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-26 19:08] jimbothree commented on #8504
Great, let me know if there's anything additional I can do to help.

[2018-03-26 19:15] cpanato commented on #8512
I can take this one

[2018-03-26 20:42] JohnMH opened #8513 "Migrating from Slack"
Attempting to import slack data results in.. No new users, no new channels and no new messages. Additionally the only thing added to the server log is:

`License key from https://mattermost.com required to unlock enterprise features.`

[2018-03-26 20:49] jasonblais commented on #8512
Thanks @cpanato! 👍

[2018-03-26 22:19] BflySamurai opened #8515 "Uncaught errors when uploading and deleting empty files"
#### Summary

Uncaught errors occur when uploading and deleting empty files.

#### Environment

Mattermost version: 4.8.0

Windows 10

Chrome (65.0.3325.181)

Firefox (59.0.2)

#### Steps to reproduce

1. Upload document through the message box (either by dragging and dropping or by using the paperclip to bring up the file explorer).
2. The file must be completely empty (0 bytes) and of any extens

[2018-03-27 00:50] lena1978 commented on #7980
It is the demo site located on https://oss.mattermost.com/joomla/channels/town-square

Steps to reproduce:
1.Login to Mattermost demo site for any team
2.Click on main Menu located in upper left hand corner represented by three horizontal lines
3.Click on " report a problem" menu option
4.View and observe a page displays with " That page doesn't exist or is private"

[2018-03-27 06:42] lindy65 commented on #7980
Ah, thanks @lena1978 :)

The demo site is on v4.8 so when it is updated to v4.9 after release on April 16th this issue will be fixed.

For stability, we don't update that site to the latest master as we do with the nightly build server, [pre-release](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676).

[2018-03-27 08:20] lindy65 commented on #8515
Hi @BflySamurai,

Thanks for your report!

With the fix in MM-9783, it was decided to not allow uploads of 0 bytes so the current behavior is to display an error message `You are uploading an empty file: testfile.txt` and allow the user to delete the uploading file on the `X`.

If you'd like to test this on our [nightly build server running off the latest master](https://pre-release.mattermost.com

[2018-03-27 09:09] lindy65 commented on #8508
Hi @ddavid9755,

Thanks for the report!  I've reproduced the issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running off the latest master with some additional findings.

I've created [this ticket](https://mattermost.atlassian.net/browse/MM-9970) to track the issue.

[2018-03-27 09:14] lindy65 commented on #8513
Hi @JohnMH,

Thanks for your feedback,

The message you're seeing about the licence key is informational and always appears when you run mattermost/ the CLI without an enterprise license.

We have [this ticket](https://mattermost.atlassian.net/browse/MM-9934) open for the slack import issue itself.

[2018-03-27 14:59] BflySamurai commented on #8515
I followed the link to the nightly build. I am also seeing the Javascript error (`Uncaught TypeError: n is not a function`) when trying to upload a 0KB file and can also delete the file.

[2018-03-27 15:19] JohnMH commented on #8513
@lindy65 Why does the software complain that my non-enterprise install doesn't have an enterprise license every time I use the CLI tool?

[2018-03-27 16:05] esethna opened #8518 "Transition showPreview away from being mutable state on the textbox component"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-27 16:39] esethna opened #8519 "[Help Wanted] [MM-9970] Emoji with numerical values (e.g. ":+1:") can be used to break the 4000-character post limit and trigger a JS error"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-27 17:21] L0rite opened #8522 "Cannot send messages using ENTER"
#### Summary
Cannot send messages to group.
Per Mattermost End User Guide, users can "Press ENTER to send message."

#### Steps to reproduce
Log into demo site.
Go to JOOMLA! team/PUBLIC CHANNELS/LBT_TESTING
Type message in Message box
Click ENTER

#### Expected behavior
Message should send

#### Observed behavior (that appears unintentional)
Clicking enter only creates carriage returns.  Message

[2018-03-27 18:19] esethna opened #8524 "[Help Wanted] [MM-9831] Investigate getState usage in components/admin_console"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-27 18:23] esethna opened #8525 "[Help Wanted] [MM-9830] Investigate getState usage in components/root.jsx"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-27 18:23] esethna opened #8526 "[Help Wanted] [MM-9828] Investigate getState usage in components/*_modal/*"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-27 18:50] jevans0422 opened #8527 "Mattermost -- Filing a bug"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
When the user tries to delete one username from the searc

[2018-03-27 18:52] jasonblais commented on #8508
We just created a help wanted ticket for the issue if anyone is interested helping with a fix: https://github.com/mattermost/mattermost-server/issues/8519

Thanks @ddavid9755 for the report!

[2018-03-27 18:52] #8508 closed

[2018-03-27 20:20] n1aba commented on #8509
I would like to start working on this

[2018-03-27 23:58] amyblais commented on #8506
Hey @ddavid9755,

Thank you for submitting this Issue!

Could you help clarify the sentence in the "Expected behavior" (`In the registration process there are several restrictions about creating password. If the user is trying to change his password, the method should be the same`) - what restrictions are you seeing when creating an account vs. when updating the password?

FYI, we have [password r

[2018-03-28 08:34] lindy65 commented on #8522
Hi @L0rite,

Thanks for your feedback :)

Could you check whether the `Account Settings > Advanced > Send message on CTRL+ENTER` setting is NOT set to `true`?

[2018-03-28 08:41] lindy65 commented on #8527
Hi @jevans0422,

Thanks for your report,

I've reproduced your issue and have filed [this ticket](https://mattermost.atlassian.net/browse/MM-9974) to track...

[2018-03-28 08:52] lindy65 commented on #8513
Hi @JohnMH,

It's just an informational message to indicate you're on the team edition and would need a licence to unlock enterprise-related features...

[2018-03-28 08:58] lindy65 commented on #8515
Thanks for confirming @BflySamurai,

I've opened [this ticket](https://mattermost.atlassian.net/browse/MM-9975) to investigate...

[2018-03-28 10:14] ClaytonStevenson opened #8533 "Can create or update names of channels to be the same"
#### Summary
You can create multiple channels with the same name, or change the name of the channels to be the same so long as the url is different.

#### Steps to reproduce
To Create new with same name:
On https://demo.mattermost.com/space-motors/channels
Go to Public Channels
Click Create public channel
Give any name you want
Click Create New Channel
Go to Public Channels
Click Create public cha

[2018-03-28 10:46] ddavid9755 commented on #8506
Hi amyblais,
Sorry, this Item should be Invalid because of the following:
- I forgot to check the registration process again
- I remembered that, there is a restriction in the registration process to free users (I checked it in Chrome, Firefox)

I read the linked pages.
After I did a quick smoke testing, I missed to read the configuration page. This Item would help to improve security standards, b

[2018-03-28 12:48] jasonblais commented on #8503
Thanks @ddavid9755, great feedback!

1) Adding users: When I tried to add a user to an existing direct/group message conversation, I navigated to the new conversation. Steps:

 - Create a new group direct message with at least two other people
 - Add a member to the channel
 - Observed: New conversation created, and I'm navigated to the channel.

Do I have the correct steps above that describes yo

[2018-03-28 13:08] amyblais commented on #8506
@ddavid9755 No problem at all! :) You brought up a good point, thank you for bringing it to our attention.

Closing this issue now,

[2018-03-28 13:08] #8506 closed

[2018-03-28 14:31] #7560 closed

[2018-03-28 14:34] #7660 closed

[2018-03-28 16:28] nsuchy opened #8538 "Cannot install latest version on Heroku"
#### Summary
The deploy to Heroku Button allows you to choose a specific version, deploying the newest version fails.

#### Steps to reproduce
1. Click the deploy to Heroku button in README.md
2. Change mattermost download uri to the latest .tar.gz package
3. Press deploy app
4. Wait

#### Expected behavior
Heroku's installer fails with detailed information in your apps logs.

#### Observed behavi

[2018-03-28 17:10] L0rite commented on #8522
Hi lindy65,

The setting was set to “ON.”  I switched the setting to “OFF,” and *issue
is resolved*.

This is not a bug, but I believe shows an inconsistency with the End User
Guide.

The User Manual reads as if the default setting for this feature is “off.”

*Sending Messages*

Write a message by typing into the text input box, then press ENTER to send
it. Use SHIFT+ENTER to create a new line wit

[2018-03-28 18:20] lindy65 commented on #8522
Hi @L0rite,

Thanks for your feedback,

I've just verified by signing up a new account that the setting is defaulted to "off" for a new account.

Was this setting perhaps changed by an admin or through the deployment?

[2018-03-28 18:48] esethna opened #8540 "[Help Wanted] [MM-9686] Add unit tests for channel routing"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-28 19:14] L0rite commented on #8522
Hello!
This was part of a demo exercise for an open position at Mattermost, and not part of a deployment.  I used the manual in place of a testing script and this very well could have been user error. My apologies!

Best,
Lori

Sent from my iPhone

[2018-03-28 19:27] jwilander commented on #8540
@sudheerDev is working on it

[2018-03-28 19:29] lmikaellukerad commented on #8483
Would moving the emitLocalUserTypingEvent call to the handleChange method be an acceptable solution?

[2018-03-28 20:01] lindy65 commented on #8522
Hi @L0rite,

No worries at all 😊

Thanks for testing!

I'll close this issue off as resolved for now then 😊

[2018-03-28 20:01] #8522 closed

[2018-03-28 21:41] esethna opened #8541 "[Help Wanted] [MM-9990] Add support to REST API for sending ephemeral messages to users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-28 21:44] DSchalla commented on #8541
As discussed with @jwilander in the Contributors chat I'll take a shot at the issue and keep you posted on the progress here.

[2018-03-28 22:28] amyblais commented on #8483
@hmhealey / @saturninoabril The Jira ticket is tagged for ICU team, so I thought maybe one of you could help take a look at the question Luke posted above ^

[2018-03-28 23:42] amyblais opened #8543 "Mattermost v4.9.1"
This is a meta issue for v4.9 release updates.

You can find key dates for v4.9 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### April 3rd: Code Complete
Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated after rel

[2018-03-29 00:29] thearabbit commented on #129
I have the same problem

![image](https://user-images.githubusercontent.com/4495160/38063324-b821c8e6-3322-11e8-9e87-e3fbcb5188f0.png)

But when I tried to search `channel name`, it don't have

![image](https://user-images.githubusercontent.com/4495160/38063341-d6466e44-3322-11e8-9774-61763baf4ced.png)

[2018-03-29 05:41] ddavid9755 commented on #8503
Hi @jasonblais,
1. I checked this, it's working as expected, feels smooth :) (I checked both adding and deleting users from a group)

2. I checked this, the result of this case is a nice 400 "Bad request" :)
IMO, that would make sense if the same groups (case 2) would get merged.

[2018-03-29 07:39] coderafei commented on #8450
I have same issue when upload image, the server will crash
but i upgrade my ram from 1G to 2G, the problem disappear

[2018-03-29 07:45] cpanato commented on #8512
@jasonblais we will have here the same issue as https://github.com/mattermost/mattermost-server/pull/8482

[2018-03-29 10:43] jasonblais commented on #8503
Hi @ddavid9755,

2. We could probably improve the error message in that case. If we merged the two conversations, I worry it might make the channel confusing (since there might have been two separate discussions going on at the same time, in those two groups - and if merged, those conversations would be mixed)

[2018-03-29 13:25] LecrishaB opened #8545 "Switch Channel Command does not scroll through available channels"
#### Summary
Using the Switch Channel Command (CTRL+K) on a Windows 10 PC in Chrome browser does not scroll through the available channels.

#### Steps to reproduce
1)  Enter the Switch Channel Command by pressing CTRL+K on your keyboard as instructed to onscreen and note the channel scroll box that shows up on screen.
2)  Press the up and/or down buttons on your keyboard to scroll through and cho

[2018-03-29 14:01] esethna opened #8546 "Expose function(s) to web app plugins allowing them to add their own reducers"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-03-29 20:38] icelander opened #8552 "Extra space in SQL queries for updating channel members causing error"
#### Summary
Extra space in SQL queries for updating channel members causing error

#### Steps to reproduce
Environment:
 - Mattermost Server 4.8
 - MariaDB 10.1.22 / MySQL 5.7.21

Select a channel as a user and post to that channel

#### Expected behavior
User posts to that channel

#### Observed behavior (that appears unintentional)
Error in Mattermost Logs:

[code]

#### Possible fixes

The iss

[2018-03-30 02:32] kybin opened #8561 "Not found a way to delete uploaded file from server."
Because our chatting server does not have a big storage, I should manage it myself.
The biggest concern is uploaded file.
I tested whether it removes from server when I remove the (upload) message and/or the channel, and it seems not.
It is okay. But I think at least I could do it manually.

If the function exists and only just I didn't find, please let me know the way.

[2018-03-31 06:51] vuk12 opened #8562 "Home page translation is not correct"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Home page translation to Russian is not correct (e.g. "Ge

[2018-03-31 08:52] vuk12 opened #8563 "More... and DIRECT COMMUNICATION tabs has same functionality"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
More... and DIRECT COMMUNICATION tabs has same functional

[2018-03-31 15:27] kafferejsarn commented on #954
I have the same problem. This is unfortunately a stopper for us to deploy this tool in a production environment in out company.
Anyone made it work with Office365 email account?

[2018-04-02 04:48] cbruguera opened #8564 "Left side screen scroll doesn't work in Linux Firefox"
There's no left side scroll displayed in Firefox v59.0.1 Linux build (Chrome works ok).

There's no way to scroll down to the direct message contacts that are on the bottom.

[2018-04-02 07:15] qichengzx commented on #8562
@vuk12
It's because "General" is a channel name, not belongs to Mattermost server, so you can change it to anything you want or any language you want.

[2018-04-02 12:06] amyblais commented on #8533
Hi @ClaytonStevenson,

Thank you for this report!

What you described is expected - we currently allow duplicate channel display names, they just need to have a different handle/URL (as you mentioned).

I'll close this Issue for now, but please let me know if you have any additional questions?

[2018-04-02 12:06] #8533 closed

[2018-04-02 15:01] hmhealey commented on #8483
@lmikaellukerad I don't believe that would work. `handleChange` isn't called when the user starts typing a character that requires multiple keypresses, like a Korean character or an accented one.

For reference, if you look [here](https://github.com/mattermost/mattermost-webapp/blob/master/components/suggestion/suggestion_box.jsx#L230) at the SuggestionBox component that's used for our autocomplet

[2018-04-02 16:55] esethna opened #8566 "[Help Wanted] [MM-9927] Add generation of model/emoji_data.go to make-emojis script"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-02 17:15] esethna opened #8567 "[Help Wanted] [MM-9751] Email verification prompt disappears before email is verified"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-02 21:37] lfbrock commented on #954
@kafferejsarn - we just added support for LOGIN method authentication, which may help with the issue: https://github.com/mattermost/mattermost-server/pull/8140

The change should ship in April, we haven't tested with Office365 yet but are working on it. If you'd also like to help test it out with Office365 that would be great!

[2018-04-03 10:06] sudheerDev commented on #8540
This is not introductory though or did I make it complex than it seems!!

[2018-04-03 11:54] jasonblais commented on #8540
@sudheerDev Maybe I added the wrong label -- I've updated although let me know if I should bump it up further.

[2018-04-03 12:26] sudheerDev commented on #8540
@jasonblais that's ok. just surprised to see it as `introductory`. Anyway, I overdid in the PR!

[2018-04-03 17:27] james-mm opened #8574 "LDAP sync stuck in Pending State does not display error log on why job is stuck"
#### Summary
LDAP sync stuck in Pending State does not display error log on why job is stuck

#### Steps to reproduce
Use case 1
1. Configure AD/LDAP integration
2. Go to System Console > AD/LDAP and make sure that the Enable Synchronization with AD/LDAP setting is set to true.
3. Do not have any LDAP users log into Mattermost yet.
4. Click on LDAP sync

Use case 2
1. Configure AD/LDAP integration

[2018-04-05 07:28] FeanorsCurse commented on #5737
Well, I'd prefer the exact opposite - have channels sorted by type (users, other channels) and then alphabetically (google search lead me here actually). Would it be possible to have a setting for users to be able to choose?

[2018-04-06 07:41] cometkim commented on #8341
I will take this.

Have the same problem when I share a Korean news site which uses EUC-KR.

I think to change server side would be a better option than client side. it needs to check the charset in parsing page and to convert to UTF-8 if it uses something else.

[2018-04-06 17:04] silver-gw commented on #4300
How about using an OnlyOffice, LibreOffice document server for this?

[2018-04-06 17:55] silver-gw commented on #4300
@jasonblais To keep things separate and clean, we deployed doc-server in a separate server and it runs in a docker. In our company, we use NextCloud for document sharing and it has a plugin that talks to our OnlyOffice doc-server but the only parameter passed for this connection is the secure URL for the document server. Apart from that, I cant recall settings anything else for connecting the 2 se

[2018-04-06 18:01] silver-gw commented on #4300
@jasonblais Sorry, not sure if I answered your original question. It actually opens xlsx, docx, pptx, ppsx, csv directly and without any conversion. It does however convert office files with old extension (xls to xlsx, doc to docx) prior to opening them.

[2018-04-06 19:51] crspeller commented on #8437
The PR didn't work out. See the PR above for direction if you plan to work on this issue.

[2018-04-08 08:46] jk2K opened #8590 "Words that trigger mentions does not support chinese"
#### Summary
If I set my first name to `萌`, or other non-case sensitive words, such as `番茄`

![image](https://user-images.githubusercontent.com/4025839/38465155-1bfc0040-3b4b-11e8-86fd-af686a402dd9.png)

I cannot receive a mention notification, when I typed `萌` or `番茄`

![image](https://user-images.githubusercontent.com/4025839/38465174-6553a81a-3b4b-11e8-9024-7d8609fce40f.png)

#### Steps to repr

[2018-04-08 16:25] esethna commented on #8337
Completed.

[2018-04-08 16:25] #8337 closed

[2018-04-08 21:37] jasonblais commented on #4300
@silver-gw That's very interesting. Wondering if this would be a good solution via [our plugins framework](https://docs.mattermost.com/administration/plugins.html). Basically an OnlyOffice plugin for Mattermost.

Thoughts?

[2018-04-09 06:32] raphaelmerx opened #8591 "Team unread API for a user always returns msg_count = 0"
#### Summary
When getting the number of team unread for a user through the API, the response always contains `"msg_count": 0`, even when there are unread messages.

I'm using Mattermost 4.7.3 with Postgres 9.5.12.

#### Steps to reproduce
* Create two users, one admin and a system user.
* Log in as the admin user.
* Send a message to the system user.
* Make a GET request to `/api/v4/users/<system

[2018-04-09 12:15] amyblais commented on #6174
@jasonblais Would you know? ^

[2018-04-09 12:17] amyblais commented on #8341
Hi @cometkim,

Thank you for your interest in taking this ticket! Please let us know if you have any questions about how to get started.

[2018-04-09 12:25] jasonblais commented on #6174
Updated, thanks @kaakaa and @amyblais!

[2018-04-09 13:10] arturokunder opened #8593 "Error when uploading images"
#### Summary
When posting an image, Mattermost gets an error and the system reloads

#### Steps to reproduce
We are using version 4.8, and file storage in S3.
The error occurs when you paste or drop an image in any channel

#### Expected behavior
Describe your issue in detail

In earlier versions, everything worked fine when you copy/paste or drop an image into any channel.

#### Observed behavior

[2018-04-09 13:56] arturokunder commented on #8593
Hi @hmhealey
Thanks for the quick reply!
I forgot to attach the server log:
[code]
The server is only 1 GB RAM

It could be a memory issue, because the error happends most of the times but not always

[2018-04-09 14:03] arturokunder commented on #8593
Regarding the non-image files, the error doesn't occur when uploading other file types

[2018-04-09 14:39] arturokunder commented on #8593
Update:
We did a more detailed analysis, and we got 80% of RAM usage and 100% of CPU usage when mattermost procces crush

[2018-04-09 19:07] fmp777 opened #8595 "Deleting message should delete its uploaded assets"
#### Summary
Deleting a message leaves all assets uploaded in that message on the server. Accessible via the web interface url.

#### Steps to reproduce
* drop image in message,
* send,
* copy url to the image,
* delete message,
* paste url into authenticated web browser location bar

#### Expected behavior
Should return 404 to asset.

#### Observed behavior (that appears unintentional)
Displays t

[2018-04-09 20:33] matthewbryancurtis commented on #2665
+1

[2018-04-10 05:49] VidhyaShr opened #8597 "IE 11: No option to view “Terms of Service” and “Privacy Policy” before creating account in “SignUp” webpage without losing entered details."
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
IE 11: No option to view “Terms of Service” and “Privacy

[2018-04-10 07:53] gyp5y opened #8598 "!channel mention is not working for incoming webhooks"
Incoming webhooks for specific channel with <!channel> mentions are not working&
`[2018/02/21 09:12:16 CST] [INFO] Incoming webhook received. Content={"channel": "#mychannel", "username": "zabbix", "text":":bangbang: <!channel> mysql process count too high: PROBLEM  Last value: 84  Event AGE: *0m*  Hostname: **myhosthere.com**    "}
[2018/02/21 09:12:17 CST] [EROR] /hooks/agqsz3s45igijncbdhzjweon1

[2018-04-10 09:49] bfontaine opened #8599 "Custom emojis created through the Go API can shadow system ones"
#### Summary
Using the Go API, one can create a custom emoji with the same name as a system one.

#### Steps to reproduce
We use Mattermost `Version 4.7.1 (4.7.3)`.

1. Put this code in a `test.go` file: https://gist.github.com/bfontaine/06d4463560bcfa51db061ef7f5fa4db3. It uses the Go API to upload a small PNG representing the French flag (the image is not important) under the name `ab`, i.e. one

[2018-04-10 12:31] bfontaine commented on #8599
Great, thanks!

[2018-04-10 12:31] #8599 closed

[2018-04-10 13:13] xaionaro commented on #129
The issue is closed 3 years ago, but the problem is still there :(

[2018-04-10 13:15] thearabbit commented on #129
Haha

[2018-04-10 13:44] jasonblais commented on #129
Thanks for the feedback all!

@xaionaro We're tracking the feature with this epic, which adds channel archives https://mattermost.atlassian.net/browse/MM-354

@thearabbit The UI screen you shared seem different from Mattermost. Is that from Slack by any chance?

[2018-04-10 13:45] amyblais commented on #8543
### v4.9.0 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.9.0-rc3/mattermost-team-4.9.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/1f6bccfa48053af32f5788ab3d53aa0a8ee62cef/source/administration/changelog.md#release-v49)

#### Approved fixes for RC-4
[Mute icon

[2018-04-10 15:11] arturokunder commented on #8593
Last update:
Apparently it was the memory issue. We upgraded our server to 2GB and know is running ok

[2018-04-10 18:17] icelander commented on #8598
Unfortunately I'm not able to replicate this. It looks like the log is showing that the channel doesn't exist. Can you check that the channel name is correct?

[2018-04-10 18:51] DSchalla commented on #8541
Update: Majority of the implementation is working, it was implemented in a own API handler since there was no nice way to merge it in the current `POST /posts` handler. I am fixing last issues and then open a PR for review, additional PRs to the webapp and api docs repositories will be required.

[2018-04-10 20:53] gyp5y commented on #8598
Sure. Same message without `<!channel>` mention part works fine

[2018-04-11 00:50] thearabbit commented on #129
Sorry, This is on `Slack`

[2018-04-11 08:55] tanskann opened #8605 "Mattermost allows nickname to be set as 'System'"
#### Summary
Mattermost allows nickname 'System' which can be problematic since it's also used by Mattermost itself to announce users that joins different channels. By using nickname 'System' you could impersonate Mattermost System and e.g. ask for user's password or do some other phishing attack.

#### Steps to reproduce
1. Go to Account settings
2. Edit your Nickname to 'System'

#### Expected b

[2018-04-11 09:50] gyp5y commented on #8598
Disregard. It was an issue with our notification bot

[2018-04-11 09:50] #8598 closed

[2018-04-11 18:00] joho1968 commented on #1105
I just got this, 2018 (!). I had a tab open in Chromium with our Mattermost. I re-started the server, twice. Once the server came back up (second time), I went to the Mattermost tab in the browser, re-loaded the tab and was given the "limit exceeded" message. The log did, however, show that this was due to "throttling". What worries me is how this can occur when the server has been down. These req

[2018-04-12 08:42] pauljonesOH commented on #8445
Hi,

Apologies for the very slow reply on this - it's taken a while to get the server updated!

This hasn't helped unfortunately - Emojis are still unreadable (they're just rendered as a number, depending on how many of each emoji are present), but no indication of what the emoji actually is. This is the same for the web client and the Windows desktop client.

Thanks,
Paul

[2018-04-12 08:50] lindy65 commented on #8445
Hi @pauljonesOH :)

Thanks for coming back to us to let us know!

We have [this epic ticket](https://mattermost.atlassian.net/browse/MM-10063) open where we're working on a ton of accessibility issues...  I'd appreciate your taking a look at it and letting us know whether we need to open a separate ticket for this issue or whether it will be covered in the other improvements...

Thanks!

[2018-04-12 10:19] kosimus opened #8614 "URLs are broken when a non-letter character follows a period"
#### Summary
URLs are broken when a non-letter character follows a period

#### Steps to reproduce
1. Open any channel (be it via browser or the desktop app or the mobile app)
2. Paste the following URL: https://test.somedomain.com/display/SomeStuff/123.+Pagetitle
3. Send it.
4. Observe that the clickable URL ends at "3".

Reproduced this with server 4.6.0, in browser client, as well as on mobile

[2018-04-12 11:06] jasonblais commented on #8614
Thanks! I've created a ticket here: https://mattermost.atlassian.net/browse/MM-10180

[2018-04-12 13:01] kaakaa commented on #6174
Thanks @amyblais & @jasonblais.

But it seems that this message isn't used in product code.
[Search · api\.templates\.upgrade\_30\_body\.info](https://github.com/mattermost/mattermost-server/search?utf8=%E2%9C%93&q=api.templates.upgrade_30_body.info&type=)

Should I remove it?

[2018-04-12 13:12] jasonblais commented on #6174
@kaakaa If it's not used in the code, then I think it can be removed. It was probably used during the v3.0 upgrade.

I also updated the example with a string we still use in the code: https://translate.mattermost.com/es/mattermost/translate/platform.po#unit=163796

[2018-04-12 14:00] hmhealey commented on #8593
Looking at [our documentation](https://docs.mattermost.com/install/requirements.html#hardware-requirements), we recommend at least 4GB of RAM, but that is for 250-500 users. We don't have requirements listed for anything below that, but 2GB is my usual recommendation since that's what our test servers all run

[2018-04-12 14:10] kaakaa commented on #6174
I see. I'll work this issue.

I search messages including `<br>` tag and devide message by `<br>` tag, right?
Offcourse, I will not fix `<br>` tag for giving appropriate space.

[2018-04-12 14:55] arturokunder commented on #8593
ok! Should we close this issue then?

[2018-04-12 14:59] dartwader opened #8616 "Slow query to find root posts."
#### Summary
Slow query:
SELECT q2.* FROM Posts q2 INNER JOIN (SELECT DISTINCT q3.RootId FROM (SELECT RootId FROM Posts WHERE ChannelId = 'ncjjypf563d7xron969rr38dmy' AND DeleteAt = 0 ORDER BY CreateAt DESC LIMIT 30 OFFSET 0) q3 WHERE q3.RootId != '') q1 ON q1.RootId = q2.Id WHERE ChannelId = 'ncjjypf563d7xron969rr38dmy' AND DeleteAt = 0 ORDER BY CreateAt;

Empty set (2 min 7.55 sec)

#### Steps t

[2018-04-12 15:20] hmhealey commented on #8593
Yeah, it sounds like we're good to close it. I'm also going to open a follow up ticket to improve how we handle files since we could probably do it better so that it doesn't cause the server to run out of memory as easily

[2018-04-12 15:20] #8593 closed

[2018-04-12 15:43] amyblais commented on #8543
### v4.9.0 RC-4 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.9.0-rc4/mattermost-team-4.9.0-rc4-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/1f6bccfa48053af32f5788ab3d53aa0a8ee62cef/source/administration/changelog.md#release-v49)

#### Approved fixes for RC-5
[Issue wit

[2018-04-12 18:46] andyseubert opened #8617 "extreme lag in typing and scrolling with only 6 users simultaneously chatting"
#### Summary
Typing into the chat at the same time as others were typing became so delayed that the chat is unusable.
Restarting the client helped for a while but over time became too laggy again.

#### Steps to reproduce
To reproduce this we created a channel named "test channel" and 24 employees joined.
starting with 4 participants typing and posting text and images, we started seeing lag.
when

[2018-04-12 23:12] numericillustration opened #8619 "Mattermost users can remove themselves from private channels via API and never rejoin them."
#### Summary
Mattermost users connecting with irc clients via matterircd can remove themselves from private channels and never rejoin them.

#### Steps to reproduce
Anyone create a Direct Message private channel in the native desktop or web client via the "DIRECT MESSAGES    +" method

Invite one or more persons to the channel (this can even be yourself).

close the native / web client.

Connect v

[2018-04-13 06:56] s1shed opened #8620 "Unexpected ability to list users in non-member teams (4.8.0)"
#### Summary

As an authenticated user—without admin rights—it is possible to get a list of all users with accounts on the server, including users who are in teams that you are not a member of.

#### Steps to reproduce

On our server, *Enable users to open Direct Message channels with* is set to `Any member of the team`.

With Mattermost server 4.8.0, a user who does not have the `System Admin` ro

[2018-04-13 08:07] lindy65 commented on #8620
Hi @s1shed,

Thank you for your feedback,

I'll ask one of our engineers to get back to you about users who don't have system admin rights being able to access the API endpoint to view all users on the server...

[2018-04-13 08:24] lindy65 commented on #8616
Hi @dartwader

Could you share which server version of Mattermost you're using?

[2018-04-13 08:29] lindy65 commented on #8605
Hi @tanskann

Thanks for your feedback,

I've reproduced your issue and have asked our product team for feedback.  We'll most probably create a ticket to fix this as I agree it's not ideal to have users with a nickname of `system` ;)

[2018-04-13 08:37] lindy65 commented on #8597
Hi @VidhyaShr,

Thanks for your feedback,

I am not able to reproduce your issue on oss.mattermost.com, IE 11, Windows10 so I'm thinking this might be a Windows 7 issue.  Following your repro steps above, “Terms of Service” and “Privacy Policy” open in new webpage for me.

I've asked someone on the team with Win7 to try to reproduce and we'll take it from there :)

[2018-04-13 08:42] lindy65 commented on #8595
Hi @fmp777,

I've reproduced your issue and have created [this ticket](https://mattermost.atlassian.net/browse/MM-10192) to track 👍

[2018-04-13 08:44] lindy65 commented on #8591
Hi @raphaelmerx,

Thanks for your feedback,

As there have been many improvements and bug fixes since v4.7.3, we recommend upgrading to [the latest version](https://about.mattermost.com/download/) to see whether this issue still reproduces for you.

v4.9 is releasing on April 16th, so you might want to wait until then before upgrading.

[2018-04-13 08:47] lindy65 commented on #8590
Hi @jk2K

Thank you for your feedback,

I've reproduced your issue and have created [this ticket](https://mattermost.atlassian.net/browse/MM-10193) to track 👍

[2018-04-13 09:04] lindy65 commented on #8564
Hi @cbruguera,

Thanks for your feedback,

I've asked whether a teammate can reproduce this issue and, if so, we'll create a ticket for a fix.

Can you share which server version of Mattermost you are using?

[2018-04-13 09:11] lindy65 commented on #8563
Hi @vuk12,

Thank you for your feedback,

I'm sorry but I'm not understanding your issue... Did you mean to link to a different URL in 1) of your repro steps?  I'm not able to follow the repro at http://forum.mattermost.org/

[2018-04-13 09:15] lindy65 commented on #8561
Hi @kybin,

Thanks for your feedback,

You might be able to do this via an [API command](https://api.mattermost.com)

[2018-04-13 09:24] lindy65 commented on #8515
I'll close this issue off for now as the PR is merged and will release with v4.9 on April 16th.

[2018-04-13 09:24] #8515 closed

[2018-04-13 09:24] #8513 closed

[2018-04-13 09:25] lindy65 commented on #8504
I'll close this issue off now as the PR is merged and will release with v4.9 on April 16th.

[2018-04-13 09:25] #8504 closed

[2018-04-13 09:27] lindy65 commented on #8502
I'll close this issue off here as the PR is merged and will be fixed in v4.10 on May 16th.

[2018-04-13 09:27] #8502 closed

[2018-04-13 09:28] lindy65 commented on #8493
I'll close this issue off here as the PR is merged and will release with v4.9 on April 16th.

[2018-04-13 09:28] #8493 closed

[2018-04-13 12:28] jasonblais commented on #8620
Hi @s1shed - the setting only affects the UI, not permissions on the server. Hence, anyone can still retrieve users through the APIs.

We have plans to improve that setting or replace it with a new one that properly blocks direct message channels. This may or may not be in Enterprise Edition only.

[2018-04-13 12:33] gyp5y commented on #8450
We have the same issue on 8Gb server.

[2018-04-13 12:45] saturninoabril commented on #8616
Thanks @dartwader for looking into it! Actually our performance team c/o @lieut-data made some major optimizations to that query in v4.9. You may find the details here - https://pre-release.mattermost.com/core/pl/ezfwp364ct8bbewbji3ikpusrr

[2018-04-13 15:32] james-mm commented on #8574
@lindy65 Thanks!

[2018-04-13 17:12] amyblais commented on #8543
### v4.9.0 RC-5 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.9.0-rc5/mattermost-team-4.9.0-rc5-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/1f6bccfa48053af32f5788ab3d53aa0a8ee62cef/source/administration/changelog.md#release-v49)

#### Approved fixes for RC-6
[System Co

[2018-04-13 18:30] JohnMH commented on #8513
@lindy65 Is there a way to make it so that that only happens if I try to run something related to the enterprise version?

[2018-04-13 19:45] emresaracoglu opened #8626 "Can't Upload Avatar/Photo [500 Internal Error]"
Hi,
I use on Docker and when I want to add a photo in the channel/direct message, I get 500 errors.
I tired on Windows desktop, iOS, Android and web interace.

[code]

What could be the reason for this?
Thanks

[2018-04-14 03:41] amyblais commented on #8543
Mattermost v4.9.0 is now cut and available for download at https://about.mattermost.com/download on April 16th.

[2018-04-14 14:31] andyseubert commented on #8617
We are on version 4.0.1
Thanks.
We will definitely upgrade when the new version is available

On Fri, Apr 13, 2018 at 1:23 AM lindy65 <notifications@github.com> wrote:

[2018-04-14 19:16] lindy65 commented on #8513
Hi @JohnMH,

Thanks for your question,

At the moment, there isn't a way as it's just an informational message, reminding you that you're on the team edition and, if you want to use enterprise features, you'd require a licence.  It's not related to any particular enterprise only feature - just a general notice.

[2018-04-14 20:13] gyp5y commented on #8450
There's nothing special in logs. It just restarts when someone tries to send multiple images.
Linux 4.13.13-6-pve, 8Gb ram, S3 backend for files, Elasticsearch

[2018-04-15 15:30] lieut-data commented on #8450
@gyp5y, would you be able to search the system logs for messages like @wezm, e.g.:
[code]

There should be a trace, somewhere, explaining what's going on.

[2018-04-15 16:01] gyp5y commented on #8450
There's nothing similar. I've looked for it in system and mattermost's logs.
Ony strange thing in log I got before it restarts:
[2018/04/13 07:09:34 CDT] [EROR] /api/v4/channels/undefined/posts:Context code=400 rid=r6aaw5w8qpb75nptodb8mi1p8o uid=zyhqhjxd83datfgruxufop8q4o ip=xxx.xxx.xxx.xxx Invalid or missing channel_id parameter in request URL [details: ]
[2018/04/13 07:10:58 CDT] [EROR] /api/v4/

[2018-04-15 20:14] lieut-data commented on #8450
@gyp5y, interesting -- thank you.

Can you elaborate on what you observe when you say it crashes? Is it that the binary stops running, and you have to start it manually? Or does your setup automatically restart the Mattermost platform service? Do you have logs showing the Mattermost server stopping and starting -- how often does it occur?

[2018-04-16 06:27] gyp5y commented on #8450
Our setup restarts it automatically. I didn't found any stack traces or dumps. After those error messages it just begins to start.

[2018-04-16 07:46] lindy65 commented on #8620
Thanks @jasonblais 👍

I'll close this issue off here for now...

[2018-04-16 07:46] #8620 closed

[2018-04-16 07:50] lindy65 commented on #8616
Thanks @saturninoabril 👍

@dartwader - v4.9 releases today (April 16th) so please let us know whether you still experience issues after upgrading to the [latest version](https://about.mattermost.com/download/)

I'll close this issue off here for now but please feel free to open a new issue if you're still having problems.

[2018-04-16 07:50] #8616 closed

[2018-04-16 07:52] lindy65 commented on #8605
Thanks for the PR @qichengzx!

I'll close this issue off here for now and we can track via the above-linked PR.

[2018-04-16 07:52] #8605 closed

[2018-04-16 08:02] lindy65 commented on #8538
Hi @nsuchy,

I asked on our team and it seems this is more of an Heroku-related issue.  Please create an issue in the [mattermost-heroku repo](https://github.com/mozilla/mattermost-heroku/issues) where the maintainer will be able to help with your issue.

Thanks!

[2018-04-16 08:02] #8538 closed

[2018-04-16 08:45] lindy65 commented on #8626
Hi @emresaracoglu

Thanks for your feedback,

Which Mattermost server version are you using?

[2018-04-16 08:53] lindy65 commented on #8617
Hi @andyseubert

v4.9 released today (April 16th) so you might like to upgrade and see whether the issue still reproduces for you.

Let us know how it goes!

[2018-04-16 08:54] lindy65 commented on #8614
Hi @kosimus

I'll close this issue off here for now and we can track via the above-linked ticket.

[2018-04-16 08:54] #8614 closed

[2018-04-16 09:08] emresaracoglu commented on #8626
Mattermost Version: 4.9.0-rc4
Database Schema Version: 4.9.0
Database: mysql

[2018-04-16 09:48] pichouk commented on #8626
Hi @emresaracoglu :) What is the size of your uploaded file ? It may be reach the `50M` default limit.

[2018-04-16 11:51] emresaracoglu commented on #8626
Hi,

Each photo average 2-3 MB
<hr>

_Log:_

`[2018/04/16 11:48:12 UTC] [EROR] /api/v4/logs:client code=0 rid=ebtyyetogbdq8eo4tgo8xywofy uid=a6k91nqkzpr1bm9c98qmxo944h ip=PUBLICIP msg: TypeError: n is not a function row: 1 col: 545632 stack: TypeError: n is not a function url: https://mm.domain.com/static/0.9341a65a7ef9540b671d.js [details: ]`

[2018-04-16 12:01] pichouk commented on #8626
Hum this is weird. This log was the same as in [this issue](https://github.com/mattermost/mattermost-docker/issues/256) where it happens that the size of the uploaded file was too big. Are you sure that you have no configured limitation to uploaded file size on your mattermost app and your reverse proxy ?

[2018-04-16 12:17] jasonblais commented on #4300
@silver-gw Great! Sorry for the delay in following up, I've posted to our [Developer Toolkit channel](https://pre-release.mattermost.com/core/pl/imotbjsib78t8r4oi517qa68ua) to hear if there are any technical concerns with this approach. If not, we'll likely open a help wanted ticket for this plugin :)

Would there be any interest from community helping with that plugin?

[2018-04-16 14:44] emresaracoglu commented on #8626
If the problem is size, it may give an error message. Maybe my proxy files may not be working correctly.

I give you HAproxy and Proxy files.

Proxy file:
[code]

HAproxy Conf. File:

[code]

[2018-04-16 15:09] lieut-data commented on #8450
@gyp5y, do you have debug logs enabled? If not, can you enable them, and post everything between the last log that looks something like:
[code]
and the Mattermost server restarting:
[code]

Also, does this only happen when uploading multiple images? Does it happen for any two images, regardless of file size?

[2018-04-16 15:45] numericillustration commented on #8619
@saturninoabril It looks like I'm seeing this trouble with both `"type": "P",` channels and `"type": "D",` though [the API docs only show O and P](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels%2Fpost).

I seem to not be able to add users to either Direct or Private channels.  The [api allows removal of users from private channels](https://api.mattermost.com/#tag/channels%2Fpaths%2F

[2018-04-16 16:10] esethna opened #8632 "[Help Wanted] [MM-10185] Windows-1251 encoding causing issues with link preview"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-16 17:26] jasonblais commented on #8177
Closing as we split this into smaller tickets, which we might open to community contributions.

I know you've been busy but if you had anything already in progress, feel free to submit what you have to mattermost-kubernetes repo.

[2018-04-16 17:26] #8177 closed

[2018-04-16 18:34] lindy65 commented on #8626
Thanks for your help @pichouk - I'll ask one of our engineers to take a look at the error messages and see if they can help troubleshoot.

[2018-04-17 07:12] gyp5y commented on #8450
Here is most relevant part of the debug.log
`[2018/04/17 02:07:53 CDT] [DEBG] websocket.read: closing websocket for userId=qmx1hx9au3fpux7k393to45bsh error=websocket: close 1001 (going away)
[2018/04/17 02:07:53 CDT] [DEBG] websocket: user_typing
[2018/04/17 02:07:53 CDT] [DEBG] POST - /api/v4/channels/members/me/view
[2018/04/17 02:07:53 CDT] [DEBG] GET - /api/v4/websocket
[2018/04/17 02:07:53 CD

[2018-04-17 09:34] #8505 closed

[2018-04-17 09:35] ErikThorsell commented on #8505
Issue was due to bad mirror, not due to any issues related to mattermost per se. A suggested fix is a list of mirrors to try in order to avoid a single point of failure.

[2018-04-17 11:04] bdkakdb opened #8636 "Cannot Login with gitlab"
#### Summary
When I log in using the gitlab SSO I get "Bad response from token request"

#### Steps to reproduce
GitlabCE 10.6.2
Mattermost 4.9.0

I have added Mattermost to the applications in gitlab (Tried both, user applications and applications in admin area, result is the same).
When I click on sign in with Gitlab, I get redirected to gitlab, sign in there, authorize mattermost and get redire

[2018-04-17 11:14] jasonblais commented on #8636
@bdkakdb Is this a new issue after upgrading to Mattermost v4.9?

Also, have you set your Site URL field in System Console > Configuration? https://docs.mattermost.com/administration/config-settings.html#site-url

[2018-04-17 11:32] bdkakdb commented on #8636
- This is a fresh setup using docker compose -> no update
- I have set my site-url correctly -> Withouth that redirect from gitlab would not work (It compares the redirect urls to the ones given). Does any backend need to access the Site-Url (because docker container might not be able to resolve the name)?

[2018-04-17 13:26] saturninoabril commented on #8619
That's correct. There's separate API for creating [direct](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1direct%2Fpost) and [group](https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D~1members%2Fpost) channels

It's by design that you can't add users to direct and group channels. For private channel, user must have necessary permission to do that - like

[2018-04-17 13:45] lieut-data commented on #8626
Prior to 4.10, there was a client-side bug in how server-side errors were handled -- see https://github.com/mattermost/mattermost-webapp/pull/1076 for the resolution that will be part of the next release.

However, the root cause to the issue remains a server-side error. @emresaracoglu, you mentioned an error 500, but I don't see that in any of the logs above. Can you grep your server logs for all

[2018-04-17 13:57] ronid opened #8639 "Can't find mac addresses on search."
#### Summary
Can't search for MAC address on desktop and web apps.

#### Steps to reproduce
Write 00:11:22:33:44:55 on channel,
Search for 00:11:22:33:44:55 and you will get 0 results (without error).

[2018-04-17 16:01] esethna opened #8641 "[Help Wanted] [MM-10188] Improve file upload API to stream files instead of loading them entirely into memory"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-17 16:46] esethna opened #8642 "[Help Wanted] [MM-10193] Words that trigger mentions does not support Chinese"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-17 17:24] emresaracoglu commented on #8626
Hi, @lieut-data I made a GIF for you, I dont know how do I access the log file in docker?

Console:

![mm500console](https://user-images.githubusercontent.com/297968/38885971-369992f8-427d-11e8-801c-be7b50a65523.gif)

Network:

![mm500](https://user-images.githubusercontent.com/297968/38885986-3f4b768c-427d-11e8-88f3-9051a5ff12d4.gif)

[2018-04-17 21:50] DSchalla commented on #8541
I think this issue can be closed after the merge, unless there are any questions left. :)

[2018-04-17 22:19] jwilander commented on #8541
Fixed by #8611

[2018-04-17 22:19] #8541 closed

[2018-04-17 23:34] #8525 closed

[2018-04-17 23:34] #8524 closed

[2018-04-18 05:08] VidhyaShr commented on #8597
Hi @lindy65,

Thank you for considering the issue.

This issue is still reproducible.
The links "Terms of Service" and "Privacy Policy" are displayed twice in
the webpage. One below "Create Account" button and other bottom right
corner of the page.

The links present at bottom opens in the new window. However, links below
"Create Account" button opens in same window which is an issue.

Below is th

[2018-04-18 08:46] lindy65 commented on #8597
Hello @VidhyaShr,

Thanks for your feedback,

On the login screen of oss.mattermost.com, I am not seeing the links "Terms of Service" and "Privacy Policy" are displayed twice.  Instead, I see "create one now" and "I forgot my password".  These links open within the current window but there is a "Back" button in the top left-hand-corner of the screen to navigate back to the previous screen.

![imag

[2018-04-18 08:48] lindy65 commented on #8564
Hi @cbruguera,

As there's been no feedback on this issue, I'll close it off for now. Feel free to open a new ticket if you still experience the issue after upgrading to the [latest version](https://about.mattermost.com/download/#mattermostServer) of Mattermost server.

[2018-04-18 08:48] #8564 closed

[2018-04-18 08:48] #8563 closed

[2018-04-18 08:49] lindy65 commented on #8561
Hi @kybin,

As there's been no feedback on this issue, I'll close it off for now.  Please feel free to open a new issue if you still experience a problem and we'll be glad to help!

[2018-04-18 08:49] #8561 closed

[2018-04-18 08:50] lindy65 commented on #8545
Hi @LecrishaB

As there's been no feedback on this issue, I'll close it off for now.  Please feel free to open a new issue if you still experience problems and we'll be glad to help!

[2018-04-18 08:50] #8545 closed

[2018-04-18 10:36] cbruguera commented on #8564
Sorry for the late reply. I should have closed this before since I couldn't reproduce the error myself. It's been working properly for a good while.

[2018-04-18 12:19] esethna opened #8646 "[Help Wanted] [MM-10117] Add support to add/delete and enable/disable plugins via CLI"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-18 12:57] ronid commented on #8639
Hey,
4.8.1 Team Edition.

[2018-04-18 12:59] esethna opened #8647 "[Help Wanted] [MM-8427] Gitlab Mattermost CLI not usable because i18n Directory is missing"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-18 17:59] jasonblais commented on #6174
@kaakaa Also wanted to say a huge thank you for looking into this :)

[2018-04-18 18:17] lindy65 commented on #8639
Thanks @ronid,

I'll chat with one of our engineers about perhaps finding a solution for this type of search in Team Edition.

In Enterprise Edition, we use elasticsearch so searching for MAC addresses works in enterprise.

[2018-04-18 19:14] lieut-data commented on #8626
@emresaracoglu, thanks for sharing those -- very helpful! With nginx responding (vs. Mattermost proper), I'm inclined to think the platform binary is terminating unexpectedly.

We have had other reports of image uploads crashing the server (regardless of the image size), but no definitive root cause besides running out of memory in uploading and transforming the image. What are the memory constrai

[2018-04-18 20:02] hmhealey commented on #8636
@bdkakdb Regarding your second point there, Mattermost needs to be able to talk to GitLab, so if they can't communicate, that might explain why login doesn't work

[2018-04-18 20:17] pichouk commented on #8626
@lieut-data By default you can collect Docker log using the command `docker logs CONTAINERNAME` but you will have nothing more than what's redirect to STDOUT/STDERR (which is by default the same content as you can see on the Mattermost System Console (on `/admin_console/logs` page).

[2018-04-18 21:32] emresaracoglu commented on #8626
These are the last records:

[code]
This line occurs when I try to add a photo:
[code]

In the morning, I will try [manuel installation](https://docs.mattermost.com/install/install-rhel-71.html). I think I will not have a problem with manual installation.

[2018-04-19 07:39] discostur opened #8649 "Mattermost 4.9: panic: runtime error: invalid memory address or nil pointer dereference"
#### Summary
Upgraded Mattermost to latest release (4.9) and it was running for one day, now we get the following exception:

[code]

#### Steps to reproduce
Start mattermost 4.9 via systemd script

#### Possible fixes
If i start mattermost via systemd it fails (yesterday it worked); However i can start mattermost manually via ./platform server command (CLI)

[2018-04-19 08:29] lindy65 commented on #8649
Hi @discostur,

Thanks for your feedback,

I'm not sure whether you'll find anything useful in [a previous discussion about this error](https://github.com/mattermost/mattermost-server/issues/5323) but I'll also ask our devs for their feedback to help troubleshoot.

[2018-04-19 12:58] PTS93 opened #8650 "Extremly large images break sending messages"
**Summary**
When loading very large images it is not possible to cancel the image upload and the channel becomes unusuable to send messages. Client restart / Browser refresh is necessary. Happens on web/linux desktop/mac desktop, windows not tested.

**Steps to reproduce**
Try to load image with f.e. 10080x2560 resolution by attaching via file menu or drag and drop. File size does not have any imp

[2018-04-19 15:44] vidister commented on #8636
I'm experiencing the same issue but reverse.
I'm running Mattermost as the oauth provider and gitlab as client.
I've tested it with Mattermost 4.8.0 and 4.9.0. Gitlab is 10.6.4-ee. The instances are installed on two VMs, both having an nginx proxy in front of them, they can talk to each other. the site-url is set correctly.

[2018-04-19 16:44] discostur commented on #8649
@lindalumitchell thanks, didn't find anything that would help from the other issue.

The error only happens if i try to start mattermost via systemd unit file:

[code]

Error:
[code]

If i start it manually via
[code]
it runs fine

[2018-04-19 18:49] jimscarver opened #8653 "mattermost on cloudron Failed: Must enable Forward80To443 when using LetsEncrypt"
#### Summary
Overnight one mattermost instance on my cloudron host failed with "Must enable Forward80To443 when using LetsEncrypt" and cannot be started.
#### Steps to reproduce
Try to start server and it fail to start
#### Expected behavior
is should start
#### Observed behavior (that appears unintentional)
Received email that chat.divvydao.net was down.
Attempted to restart at my.divvydao.net an

[2018-04-19 19:27] pichouk commented on #8626
Hmm weird... Did you setup any limitation (RAM or CPU) to your Docker container or Docker daemon ?

[2018-04-19 19:54] emresaracoglu commented on #8626
I can upload via local IP but can't install via domain.
This is my fault, I do not know why I get such an error.. probably originated from HAproxy file which does not work well

[2018-04-19 21:41] gramakri commented on #8653
@jimscarver can you check if the following values are set correctly in your /app/data/config.json ?
[code]

Cloudron does not use mattermost's built-in LE integration.

[2018-04-19 22:04] esethna opened #8654 "[Help Wanted] [MM-10288] Add ping/pong and reconnection handling to Go WebSocket client"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-19 22:06] DSchalla commented on #8654
As discussed with @jwilander on the Contributors Chat I'll start working on this issue.

[2018-04-20 00:02] jimscarver commented on #8653
that worked. I had to use

cloudron configure --debug --app 867da5ee-1136-4819-befb-0bd3675afacc

In order to get cloudron exec to work.

I have no clues how the options were changed.

Thanks.

[2018-04-20 00:02] #8653 closed

[2018-04-20 04:45] tstkenny commented on #5386
Sorry to bring this thread up again.  I am using mattermost 4.9.0 with apache 2.4.  Trying to setup https proxy via apache and no luck.  I followed and tried all of the solutions above.  I supposed all those patches are included in 4.9.0 already.

Anyone would kindly provide the "ServiceSettings" part of the config.json for this setup please?

My goal is: access mm via https://hostname.domain.com:

[2018-04-20 06:31] lindy65 commented on #5386
Hi @tstkenny,

Thanks for your feedback,

As this thread is very old and was closed, may I ask you to open a new issue, stating what you have tried, which set-up documentation you have followed and Mattermost server version?  Perhaps you can also include the logs which will help us to troubleshoot.

This way, it will be easier for our devs to help.  Also, we don't officially support Apache but her

[2018-04-20 07:37] lindy65 commented on #8650
Hi @PTS93

Thanks for your feedback,

On our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) running the latest master, I am not able to reproduce your issue.  The file uploads fine and posts.  I can also cancel the upload of the file.

Which server version of Mattermost do you have installed?  Perhaps [upgrading to the latest ve

[2018-04-20 11:59] X41 commented on #8650
i can confirm the same issue on version 4.0.1 from the Arch Linux/AUR mattermost-desktop-bin package

![demo](https://user-images.githubusercontent.com/2126863/39049702-de7138f6-44a2-11e8-81b1-d4d577708777.gif)

the image used in the gif can be found [here](https://user-images.githubusercontent.com/2126863/39049720-f332f464-44a2-11e8-910d-6e7534c62b87.png)

[2018-04-20 16:25] maarsej commented on #7316
I just followed up to look at this Jira ticket and it says the issue is closed, am I correct? Perhaps this wasnt updated here. If this is correct I am looking for other introductory ReactJS issues to solve

[2018-04-20 16:30] jasonblais commented on #7316
Sorry about that, it's indeed resolved. I'll close this issue.

[List of other open introductory ReactJS tickets here](https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22Difficulty%3A+Introductory%22++label%3AReactJS++label%3A%22Up+For+Grabs%22). If nothing catches your attention, let me know as we might have other ones not yet posted in GitHub.

[2018-04-20 16:31] jasonblais commented on #7316
Really appreciate your interest contributing :)

[2018-04-20 16:31] #7316 closed

[2018-04-20 16:55] maarsej commented on #8567
Im interested in attempting to solve this problem, one clarification is what the notification bar is? Ive changed and saved my email on my local host a few times and have not seen any sort of notification before or after reload.

[2018-04-20 17:28] jasonblais commented on #8567
You can either contact us here or in [our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets).

If you have technical questions, [our "Developers" community channel](https://pre-release.mattermost.com/core/channels/developers) is probably your best bet as it's read by more developers on a daily basis than GitHub.

Many thanks for helping out here :)

[2018-04-20 21:16] maarsej commented on #8567
I think im getting pretty comfortable with the code base and understanding everything alright.
However I cant find the EmailVerified variable anywhere on the webapp side in react and tried to join the community channel to ask about that but after creating an account and attempting to join at the links provided i was just caught in a loop of it sending me back to the point where i click on teams yo

[2018-04-20 22:47] lindalumitchell commented on #8649
@lindy65 I think the previous comment was meant for you. ;)

[2018-04-21 17:30] lindy65 commented on #8650
Hi @X41,

Thanks for your feedback,

Let us know how it goes after you've updated the server to the latest version 👍

[2018-04-21 17:52] lindy65 commented on #8649
Thanks @lindalumitchell!

@discostur I've asked our engineers to help troubleshoot...

[2018-04-22 02:16] jasonblais commented on #7580
Great, thanks @lisakycho :tada:

[2018-04-22 02:42] maarsej commented on #8567
I get a 400 when i click on the contributors with an empty token and invite id
the exact response is: "{"id":"api.team.add_user_to_team.missing_parameter.app_error","message":"Parameter required to add user to team.","detailed_error":"","request_id":"n63c3cyzwjge7eyuc6p3twicgh","status_code":400}"

[2018-04-22 08:59] #8626 closed

[2018-04-22 16:36] lindy65 commented on #8626
Hi @emresaracoglu,

Thanks for letting us know that your issue is resolved :)

[2018-04-22 19:13] DSchalla commented on #8646
Would it make sense to have an additional subcommand to list currently installed plugins and their status?

[2018-04-23 06:29] knuks opened #8657 "Not working in LAN"
i installed mattermost version 4.9 Team edition successfully but when want work with local network with IP (http://192.168.0.21:8065) from other PC in existing LAN it will show message ## **No sign-in methods are enabled. Please contact your System Administrator.**

i referred docs it is seeing enable sign in method but there is not such type of menu

[2018-04-23 07:46] cometkim commented on #8632
This issue is duplicated with #8341

And I've already done from here #8631

[2018-04-23 08:50] knuks commented on #8657
Thanks for response @lindy65

I set site URL as http://192.168.0.21:8065
and Enable account creation with email: true
and Enable sign-in with email: true
and Enable sign-in with username: true but not working

i installed on 192.168.0.21 and want to access on another PC on IP with same network

[2018-04-23 11:30] bdkakdb commented on #8636
@hmhealey The mattermost container is able to get to via ip only. I have attached to the container and checked it.

[2018-04-23 12:11] jwilander commented on #8649
@discostur if your update your WorkingDirectory to `/opt/mattermost`, does that help?

Also which MM version did you upgrade from?

[2018-04-23 12:54] jasonblais commented on #8498
Thanks @santos22 for looking into it!

One worry with changing existing values is that if someone is already using the script to pre-populate new users with an email notification preference, this would result in a breaking change.

Any thoughts on how we'd handle that case?

And for the values, those would make sense. Another option would be to use `15` and `60` to specify the batching interval, s

[2018-04-23 12:55] jasonblais commented on #8498
/cc @grundleborg in case you have thoughts on the best way to add email batching intervals to the bulk import tool

[2018-04-23 13:05] jasonblais commented on #8567
@maarsej Thanks for letting me know. I tested account creation and there are multiple issue that I'm seeing. Have created an issue and asked for our team to help fix them soon

https://mattermost.atlassian.net/browse/MM-10310

In the meantime I'll ask one of our engineers to help answer your question so you're not blocked.

[2018-04-23 14:17] jasonblais commented on #8567
@maarsej In fact, sign ups are now fixed on pre-release.mattermost.com, so you can post your question at the community site.

Big thanks for letting us know about the sign up problems, much appreciated :)

[2018-04-23 14:20] nagotti opened #8658 "High disk I/O reads after upgrading to 4.9"
#### Summary
After updating Mattermost from 4.8 to 4.9 the amount of disk I/O read activity went extremely high. This causes channels to load very slowly.

#### Steps to reproduce
Install or upgrade to Mattermost 4.9 and monitor disk I/O read activity when loading large channels.

#### Expected behavior
Channels load fast(er) with "normal" amount of disk I/O read activity. This issue is probably r

[2018-04-23 17:39] josephGuo commented on #8641
i'd like improve this .
utils/file_backend.go
`type FileBackend interface {
	TestConnection() *model.AppError

	ReadFile(path string) ([]byte, *model.AppError)
	CopyFile(oldPath, newPath string) *model.AppError
	MoveFile(oldPath, newPath string) *model.AppError
	WriteFile(fr io.Reader, path string) *model.AppError
	RemoveFile(path string) *model.AppError

	ListDirectory(path string) (*[]string, *m

[2018-04-23 17:50] craigim opened #8660 "Text not rendered following latex block"
Per Mattermost guidelines, GitHub issues are for bug reports: http://www.mattermost.org/filing-issues/

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please report using the following format:

#### Summary
Text does not render following a latex block

#### Steps

[2018-04-23 17:53] lieut-data commented on #8616
@dartwader, heads up that we'll be reverting this change in 4.9.1 due to some unforeseen issues in deployments where threads aren't heavily used. See the [write up](https://pre-release.mattermost.com/core/pl/n8bfq7wq77rkff8mgrrstqeuye) for more details, but don't worry: we'll revisit this one!

[2018-04-23 17:56] lisakycho commented on #8519
I can work on this!

[2018-04-23 18:06] DSchalla commented on #8654
Currently, the websocket client has no test suite at all, and implementing a test suite for the websocket client in general feels out of scope of this issue. I'd imagine for the current initial plan only the implementation itself should be done and another issue opened for the client testing? Alternative is to postpone it until client tests are implemented.

Regarding the implementation, the way f

[2018-04-23 18:17] jasonblais commented on #8646
@DSchalla That's a good idea. You're thinking of something like

[code]

which outputs a list of plugins along with their status (active or inactive)?

[2018-04-23 18:27] DSchalla commented on #8654
I guess that will be really tricky, since it integrates quite tight into the already existing code base and only adds another ticket which calls a function. I guess we'd need to create a websocket mock server to simulate connection loss / certain events to test the client in optimal fashion, but I guess it'd be the best to move that to a dedicated ticket.

Perfect, I'll open a PR then once it's re

[2018-04-23 22:41] amyblais commented on #8543
#### Approved fixes for 4.9.1 dot release

[Race condition on loading roles in the admin console](https://mattermost.atlassian.net/browse/MM-10293)
[HA + Roles backed settings show a false error](https://mattermost.atlassian.net/browse/MM-10307)
[Revert "MM-9770: rewrite getParentsPosts to improve performance (#8467)"](https://github.com/mattermost/mattermost-server/pull/8659)

[2018-04-23 23:21] esethna opened #8661 "[Help Wanted] [MM-10272] Add a count for pinned posts header icon"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-24 09:56] lindy65 commented on #8660
Hi @craigim

Thanks for your feedback,

There have been many improvements to how markdown works.  Please try upgrading to the [latest version](https://about.mattermost.com/download/) to see whether this resolves your issue?

[2018-04-24 11:13] enahum commented on #8591
Hi @raphaelmerx direct channels do not belong to any team, that is why when the mention count increases for a Direct or Group message the unread count for the team remains the same.

[2018-04-24 11:45] jasonblais commented on #8646
@DSchalla Sounds good to me, I've added it to the list. 👍

Let us know if you're interested working on this :)

[2018-04-24 11:48] raphaelmerx commented on #8591
Hi @enahum thanks that makes sense! However does that mean we cannot currently get the total number of unread messages for a user through the API?

One approach that seems to do the trick is to get channels for a user, then make an api request to `/api/v4/users/{user_id}/channels/{channel_id}/unread` per channel the user is a member of. But that means potentially many requests!

[2018-04-24 12:53] craigim commented on #8660
I've passed that on to IT and will update the issue when the upgrade has been done.

[2018-04-24 13:00] qerosi commented on #8657
Do you see any error notification in mattermost logs (/opt/mattermost/logs/mattermost.log)   ?

[2018-04-24 14:12] crspeller commented on #8641
@josephGuo If your proposing a fix, please submit as a PR as unformatted code snippets are harder to understand. Thanks!

[2018-04-24 14:31] lieut-data commented on #8658
@nagotti, are you noticing the increased `IOPS` on your Mattermost server instance or your database instance? We are in the process of releasing 4.9.1 that reverts some performance changes that negatively impact large installations that use threads infrequently: does this describe your situation?

[2018-04-24 14:40] nagotti commented on #8658
@lieut-data We are running both Mattermost server and the database server (PostgreSQL 9.6.7) on the same instance. The I/O load is caused by PostgreSQL processes. We have quite small deployment with 20+ users.

Here's some stats from iotop when trying to open a channel that contains large amount of messages:

Actual DISK READ:      61.01 M/s | Actual DISK WRITE:      62.76 K/s
  TID  PRIO  USER

[2018-04-24 15:01] lieut-data commented on #8658
Would you be comfortable running a SQL query to see if your instance is negatively impacted by the performance change I mentioned above?
[code]

This should spit out a multi-line query plan that might help pinpoint the issue, if it's related to the query I suspect in 4.9.

[2018-04-24 16:06] esethna opened #8663 "[Help Wanted] [MM-10286] Make ConnMaxLifetime configurable"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-24 16:23] esethna opened #8664 "[Help Wanted] [MM-9833] Avoid getState in i18n utility functions used by components to render"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-24 16:23] esethna opened #8665 "Avoid getState in utility functions used by components to render"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-24 16:41] lindy65 commented on #8660
Thanks @craigim !

Let us know how it goes...

[2018-04-25 01:26] esethna opened #8670 "[Help Wanted] [MM-10335] Update email notification subject line and contents for Group Messages"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-04-25 03:58] tomryanx opened #8671 "4k char limit not increasing with message column"
Reading between the lines about relaxing the message limit of 4000 chars (described here: https://github.com/mattermost/mattermost-server/pull/8478), I installed 4.9.0 then started and stopped MM, then changed the postgres column to a `varchar(16000)`

This had no effect on the char limit in the web client. In the startup logs I see:

[code]

Is this already available in 4.9.0? Is there an additio

[2018-04-25 08:14] lindy65 commented on #8671
Hi @tomryanx

Some changes were made in v4.9 but there is still an open [ticket](https://mattermost.atlassian.net/browse/MM-9639) for v4.10 releasing on May 16th.

[2018-04-25 08:38] lindy65 commented on #8432
Thanks @baldurmen

@lieut-data ok to close off this issue now?

[2018-04-25 08:40] lindy65 commented on #8444
As there hasn't been any feedback, we'll assume your issue is resolved and I'll close off this issue for now.  Please feel free to open a new issue if you are still having problems and we'll be glad to help troubleshoot.

[2018-04-25 08:40] #8444 closed

[2018-04-25 08:41] lindy65 commented on #8445
As there hasn't been any feedback, I'll close this issue off for now and we can track via the above-linked ticket.

[2018-04-25 08:41] #8445 closed

[2018-04-25 08:41] lindy65 commented on #8463
As there hasn't been any feedback, I'll close off this issue for now.

[2018-04-25 08:41] #8463 closed

[2018-04-25 08:45] lindy65 commented on #8471
Hi @rbdevr

Just checking whether you've had time to reproduce the issue and send us further information.  If you are using the mobile classic app, the above-linked ticket should fix the issue when it's released with v4.10 on May 16th.

If you're using the RN app, we'll need to investigate further.  Please also let us know which server version of Mattermost you have installed.

Thanks!

[2018-04-25 08:46] lindy65 commented on #8474
As there hasn't been any feedback, I'll close this issue off for now.

[2018-04-25 08:46] #8474 closed

[2018-04-25 08:48] lindy65 commented on #8489
Hi @catacraciun,

As there hasn't been any feedback, I'll close this issue off for now.  If you're still experiencing issues, please try `jespino's` suggestion above and open a new issue if that doesn't work for you.

Thanks!

[2018-04-25 08:48] #8489 closed

[2018-04-25 08:49] lindy65 commented on #8503
I'll close this issue off for now (see above-linked ticket for resolution).

[2018-04-25 08:49] #8503 closed

[2018-04-25 08:53] lindy65 commented on #8617
I'll close this issue off for now.  If you're still experiencing problems after upgrading, please feel free to open a new issue and we'll be happy to help troubleshoot!

[2018-04-25 08:53] #8617 closed

[2018-04-25 09:34] knuks commented on #8657
@qerosi thanks for reply,
but when i push on digitaOcean no i cant access host to given IP i have to manually edit config.json ("EnableUserCreation": true) and then i can create user from apps but not from  web host...so please kindly request to you that solve if possible or step to deploy mattermost-server on DigitalOcean without docker and how to open for 1st use and register system admin or fir

[2018-04-25 11:14] #8671 closed

[2018-04-25 13:30] nagotti commented on #8658
@lieut-data Alright, I'll test 4.9.1 as soon as it is released and I'll let you know then if it helped. Thanks for the help!

[2018-04-25 13:46] lieut-data commented on #8432
@lindy65: I've got a pending set of documentation changes that I'll get around to pushing to docs.mattermost.com, but I think we can resolve this issue as such for now.

[2018-04-25 13:46] #8432 closed

[2018-04-25 14:06] hmhealey commented on #8636
@bdkakdb Alright, so the servers will need to be communicate using the addresses contained in the `GitLabSettings.*Endpoint` settings in Mattermost. I think it should work if they're configured with the IP address, but if they're configured with the domain name, it won't work right now

@vidister Are there any errors in the Mattermost or GitLab logs when you try to connect? They should contain som

[2018-04-25 15:51] qerosi commented on #8657
Check this Script out https://github.com/hwcltjn/mattermost-installer
For this questions i think its better if you join the community in here https://pre-release.mattermost.com/core/channels/peer-to-peer-help
Github issues are more for bug types not configuration issues, this is just my opinion..

[2018-04-25 15:56] knuks commented on #8657
Sorry for that....i tried from last 3 days so i put all my questions on
github....bt i will join your community if required...and tomorrow i will
close that issue...

On Wed, Apr 25, 2018, 9:22 PM Gerti Brace <notifications@github.com> wrote:

[2018-04-25 16:37] amyblais commented on #8543
### v4.9.1 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.9.1-rc1/mattermost-team-4.9.1-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/396cc2d23ccc7ba106f2bdef50867f31b53ca919/source/administration/changelog.md)

[2018-04-26 05:01] #8657 closed

[2018-04-26 11:18] MikeLund commented on #129
@thearabbit it's not related to this repo (but is's the first Google result for that Slack error), so if you never got an answer, you need to change the filter to "Archived Channels" to see Archived channels in search:
![screen shot 2018-04-26 at 13 16 04](https://user-images.githubusercontent.com/17044744/39302774-1be0688c-4954-11e8-8b0c-93e4a4e43917.png)
Sorry for the noise!

[2018-04-26 17:19] ryanschulze opened #8681 "Town square channel disappearing from list"
#### Summary
Town square channel disappears from list of channels if user switches to a different channel.

#### Steps to reproduce
Mattermost server version 4.9.0. Tested on the Windows App 4.0.1 as well as on Chrome.

Click on town square channel, then click on any other channel in the same team or a direct message chat.
Seems to only affect the town square channel.
Not sure if relevant, but tes

[2018-04-26 18:51] esethna commented on #8681
@lindalumitchell when you have a chance can you please attempt to repro. Server has the ExperimentalTownSquareIsReadOnly config enabled.

[2018-04-26 19:05] towolf commented on #8681
FTR, I'm Admin on this instance and I've never seen this ... So `ExperimentalTownSquareIsReadOnly` may indeed be relevant.

[2018-04-27 03:00] thearabbit commented on #129
Sorry

[2018-04-27 09:45] avasconcelos114 commented on #8320
I can't say for sure if this will be @tooolbox 's case.

But we faced the same issues when using version 4.5.

I tried reproducing this bug on version 4.9, and while it seems that you're able to log in normally. The screen goes blank when switching to another team (which led me to believe that [this](https://github.com/mattermost/desktop/issues/767) issue I originally reported for desktop may not

[2018-04-27 15:27] DSchalla commented on #8654
Once the PR will be merged this can be closed, the programmer has to implement the reconnect himself but can now subscribe to a signal to react on timeouts himself, which might be necessary anyway depending on the library usage.

[2018-04-27 15:29] DSchalla commented on #8646
I sadly won't have time the next weeks to tackle the issue, if it's still not taken until then I am more than happy to implement it.

One question in advance since I've tried to take a stab at it, the commands use the `api` test client instead of the `app` one, which does not provide any `plugin` install helpers. Is this simply not implemented so far in the `api` client, does it need to be impleme

[2018-04-27 16:56] jasonblais commented on #8646
No worries @DSchalla! Totally understand. Happy to work with you on this (or other issue) when you're back :)

@jwilander thoughts on the question:

[2018-04-27 18:19] michaelcadilhac opened #8683 "LaTeX blocks munch on the following text"
#### Summary
LaTeX blocks (introduced by triple backquotes) remove the text that immediately follows.

#### Steps to reproduce
Send:

[code]

[2018-04-28 09:36] SmartHoneybee commented on #8660
@lindy65, #8683 sounds similar (and was reproducible on `pre-release.mattermost.com`).

[2018-04-28 11:21] nirina-apiqa opened #8687 "Access-Control-Allow-Credentials’ header is ”"
#### Summary
I got Access-Control-Allow-Credentials’ header is ‘’ in response after trying to connect with mattermost server along with its Rest api

#### Steps to reproduce
Install mattermost server ver 4.9 deb file for linux
Configure it to run on localhost
setup a javascript application to interact with the server using the mattermost javascript driver located at https://github.com/mattermost/m

[2018-04-29 09:15] amir-khalili commented on #3903
Hey Guys!
Any progress?
@mattermost-build

[2018-04-29 16:14] Temeez commented on #4236
Something like this is definitely needed. Currently there is no way to know if the file is actually being uploaded or not (I do not trust the "file is being uploaded" animation box"). Either a percentage or upload speed bar should be added.

[2018-04-29 17:02] nagotti commented on #8658
@lieut-data I just upgraded to 4.9.1 and I can confirm that it fixed the issue. Channels are loading very fast again.

[2018-04-29 21:36] lieut-data commented on #8658
Thanks, @nagotti! This is a useful data point for our continued investigation :)

[2018-04-30 03:40] lisakycho commented on #8661
I'll take this!

[2018-04-30 10:53] jasonblais commented on #8661
Great, thanks @lisakycho! :)

[2018-04-30 13:10] hmhealey commented on #8683
Hi @michaelcadilhac,

This is actually because of a couple quirks with how Markdown handles code blocks. Markdown doesn't allow any other text when closing a code block, and it autocloses any unclosed code blocks at the end of the text, so
[code]
renders a latex block containing
[code]

You can see the same behaviour on GitHub
![image](https://user-images.githubusercontent.com/3277310/39428672-417

[2018-04-30 13:12] hmhealey commented on #8660
Hi @craigim ,

What's the plain text for that post like shows up if you try to edit it? You can paste it unformatted on GitHub if you surround it by `~~~`s instead of the regular backquotes

[2018-04-30 17:15] craigim commented on #8660
`~~~` didn't work for me (code still renders), but here it is with all back quotes replaced with normal single quotes instead (no contractions or possessives, so a search/replace will safely work to get back to valid markup):

---

Note to all:
'''latex
\text{mean}(x) = \text{median}(x)
'''
only for symmetric distributions (e.g. normal, Cauchy, Voigt). For instance
'''latex
\text{mean}(x^2) \appro

[2018-04-30 17:18] craigim commented on #8660
By the way, the following markup renders just fine (replace single quotes with back quotes):

---

Testing for a code block

'''matlab
x = rand(1);
'''

Can you read this text?

---

[2018-04-30 19:02] jasonblais commented on #7769
@Ppjet6 How frequently do you notice this? Also, confirming this doesn't just happen with messages made via the matterircd bridge?

/cc @amyblais

[2018-04-30 19:02] hmhealey commented on #8660
That's really interesting. I've filed a Jira ticket to further investigate that behaviour [here](https://mattermost.atlassian.net/browse/MM-10403).

[2018-04-30 19:03] hmhealey commented on #8683
That's really interesting. I've filed a Jira ticket to further investigate that behaviour [here](https://mattermost.atlassian.net/browse/MM-10403).

[2018-04-30 19:04] hmhealey commented on #8683
Oh, I should've read your report more thoroughly. The fix you suggested is exactly what I came across. It's due to https://github.com/aknuds1/html-to-react/issues/39

[2018-04-30 19:45] Ppjet6 commented on #7769
I just tested being disconnected from the bridge entirely. I had also disconnected every client, and connected from a new profile on Firefox.

It happens reliably every time from a small fraction of users, always the same users. Once it happened for a user I know it will always happen.

[2018-05-01 07:40] lindy65 commented on #8660
Thanks @hmhealey :)

@craigim - I'll close this issue off here as the PR has been merged and the fix is on master and will ship with v4.10 on May 16th.

[2018-05-01 07:40] #8660 closed

[2018-05-01 08:52] lindy65 commented on #8683
Thanks @michaelcadilhac

I'll close this issue off here for now as the PR has been merged into master and the fix will be in v4.10 releasing on May 16th.

[2018-05-01 08:52] #8683 closed

[2018-05-01 10:38] #8341 closed

[2018-05-01 10:38] #8632 closed

[2018-05-01 15:09] amyblais commented on #7769
@Ppjet6 Thank you for reporting this,

Can you help with more details on the following:

1. what browser are you using?
2. can you gather any details about the users that this happens with, e.g. what browser they are using, are they all using v4.8, etc. (just want to get a sense of if there is a pattern)?
3. would you be able to gather logs from around one of the times the issue occurs?

[2018-05-01 16:57] petahbred commented on #8398
v4.9.0 still experiencing this issue on Chrome, Firefox, and Safari. Using nginx in front of mattermost.

[2018-05-01 19:15] lieut-data commented on #8687
@nirina-apiqa, that appears to be a CORS error, emitted by your browser.

I'm assuming you're running Mattermost on `localhost:8065`, but then running your JavaScript application on a different port on `localhost`? By default, your browser is trying to protect you from a malicious website that would access an API on your behalf but without your consent.

If you're just developing, you can follow t

[2018-05-01 21:00] #8543 closed

[2018-05-02 06:43] avasconcelos114 commented on #8320
New update to why It seems that this is happening.

It looks like when a Team is deleted using the API `https://your-mattermost-url.com/api/v4/teams/{team_id}`, the data pertaining to getting team members for a user still remains, as it can be verified by running the `https://your-mattermost-url.com/api/v4/users/me/teams/members`.

Meaning that as the reducer for `state.entities.teams` adds team m

[2018-05-02 08:36] lindy65 commented on #8681
@ryanschulze @towolf @esethna

I have reproduced this issue on pre-release as a non-admin user.  The only difference I have is that `Town Square` is no longer available for me to join (doesn't appear in the list of public channels to join) and is not visible in my left-hand-side bar either.  It's like it's disappeared completely - even after refreshing and switching teams.  Joining Town Square usi

[2018-05-02 08:40] lindy65 commented on #8658
Thanks @nagotti @lieut-data

Glad the issue is resolved.

I'll close this issue off here for now...

[2018-05-02 08:40] #8658 closed

[2018-05-02 08:41] lindy65 commented on #8650
Hi @PTS93 @X41

Has your issue been resolved after upgrading to the latest server version?

[2018-05-02 08:42] lindy65 commented on #8649
Hi @discostur,

Is your issue resolved?  OK to close this off here now?

[2018-05-02 08:46] lindy65 commented on #8636
Hi @bdkakdb @vidister

Has your issue been resolved?  Is it ok for me to close off this issue here?

[2018-05-02 08:48] lindy65 commented on #8597
I'll close this issue off here for now.  Feel free to open a new issue if you're still experiencing problems and need further assistance!

[2018-05-02 08:48] #8597 closed

[2018-05-02 08:50] lindy65 commented on #8591
Thanks @raphaelmerx

Pleased you've resolved your issue.  I'll close this off here for now.  Feel free to open a new issue if you need further assistance in future :)

[2018-05-02 08:50] #8591 closed

[2018-05-02 08:52] lindy65 commented on #8552
@icelander - is it ok for me to close this issue off here for now or are there next steps needed on it?

[2018-05-02 08:53] lindy65 commented on #8471
I'll close this issue off here for now due to inactivity.  Please feel free to open a new issue if you're still experiencing problems.

[2018-05-02 08:53] #8471 closed

[2018-05-02 08:55] lindy65 commented on #8437
@crspeller - do we need a jira tix for this or is it ok to close off here for now?

[2018-05-02 08:57] lindy65 commented on #8398
Hi @petahbred,

Can you try reproducing your issue on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) with your set-up as I'm not able to reproduce it on Chrome or Firefox.

[2018-05-02 10:26] razorness commented on #8649
Having same issue ...

Ugraded from 4.8.x to 4.9.1. Using manual installation with systemd on Debian 8.10 (jessie) with Kernel Version 3.16.0-5-amd64 and locally running MariaDB behind Nginx Proxy.

Running as root works while running as user mattermost / starting via systemd results in:

[code]
Here is a working output of running on root level:

[code]
I guessed the problem could be related to ji

[2018-05-02 10:36] #7775 closed

[2018-05-02 11:07] discostur commented on #8649
@jwilander not really, problem still exists after changing working directory to /opt/mattermost. Upgrade was from 4.8.0 -> 4.9.0; Will give it a new try with version 4.9.1 ...

@razorness disableing plugins is no option for us because we need the jira plugin

[2018-05-02 13:03] amyblais opened #8703 "Mattermost v4.10"
This is a meta issue for v4.10 release updates.

You can find key dates for v4.10 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### May 3rd: Code Complete
Release candidate is cut. After this date, only bugs can be committed to the release branch.

The following information will be updated after rel

[2018-05-02 14:50] crspeller commented on #8437
@lindy65 It's not complete. But it's not super high priority.

[2018-05-02 17:30] jasonblais commented on #8681
@herooftimeandspace & @dmeza A few end users feel hiding the default channel is unexpected behaviour. I was curious if anyone on your team has reported something similar, or agree with hiding Town Square when `ExperimentalTownSquareIsReadOnly ` is enabled?

[2018-05-02 17:35] dmeza commented on #8681
@jasonblais there's no specific feedback to the channel being hidden, so I assume that nobody has missed it. We did get some feedback that users were happy that they didn't get the noise of it any more, but it was related to it being read only.

[2018-05-02 20:06] jcarrillo7 opened #8707 "Adding users to group DM creates a new chat with no history"
#### Summary
When I have a multi-user DM if I add a new user to it it starts a new chat with no history instead of just adding the user to the current DM and showing them the history.

#### Steps to reproduce
version 4.9.0
Create a DM with 3 users.
Send a couple messages
Add member to DM

#### Expected behavior
Expected to add the member to the current DM and keep history

#### Observed behavior (

[2018-05-02 20:43] towolf commented on #8681
@jasonblais for us the `town-square` channel was renamed to Announcements so that our HR can post curated messages there, but nobody else, to reduce noise getting sent to the whole company

[2018-05-02 20:48] herooftimeandspace commented on #8681
@towolf | The default channel reappears if any new posts are made to the channel.
@jasonblais | The value was high, in that they didn't have to scroll past a channel they couldn't interact with.

[2018-05-02 21:40] ArchangeGabriel opened #8708 "Building fails with nodejs 10.0"
#### Summary
When trying to build the Arch package with nodejs 10.0, an error is encountered.

#### Steps to reproduce
Try to build mattermost with nodejs 10.

#### Expected behavior
It builds fine.

#### Observed behavior (that appears unintentional)
It fails:
[code]

#### Possible fixes
Note even sure if the issue is with mattermost itself, one of its dependencies or elsewhere.

[2018-05-03 07:03] harshilsharma63 opened #8709 "Plugins: Enable Uploads options not available"
#### Summary
Plugin "Enable Uploads" options not available

#### Steps to reproduce
MM version 4.9.1.
Navigate to System Console > Plugins (Beta) > Configuration. Notice there is no option to enable plugin uploads.

#### Expected behavior
Plugin upload enable option should appear.

#### Observed behavior (that appears unintentional)
Enable plugin uploads option is not visible.

This relates to htt

[2018-05-03 07:03] lindy65 commented on #8320
Hi @avasconcelos114

We've opened a [ticket](https://mattermost.atlassian.net/browse/MM-10432) to fix the issue in your comment above.

[2018-05-03 07:16] SmartHoneybee commented on #8708
Probably related: https://github.com/nodejs/nan/issues/504#issuecomment-385296082

[2018-05-03 07:38] lindy65 commented on #8709
Hi @harshilsharma63

Thanks for the report 👍

I've reproduced your issue and have filed [this ticket](https://mattermost.atlassian.net/browse/MM-10451) to track...

[2018-05-03 07:42] lindy65 commented on #8707
Hi @jcarrillo7

Thanks for your report 👍

This is by design for situations where the added user should not see the history.

[2018-05-03 07:57] ArchangeGabriel commented on #8708
Indeed. After some reading around this, it looks like this is due to an outdated version of `nan` pulled in by something.

[2018-05-03 14:45] Ppjet6 commented on #7769
Here are a few logs from mattermost.
[mattermost-7769.log](https://github.com/mattermost/mattermost-server/files/1971048/mattermost-7769.log)

I have asked userX, whose messages I am never notified for, to send me multiple messages via the web app.

I really wish the websocket logs included a user id for `user_typing`, because even if the timing corresponds more or less, I can't be sure it's userX

[2018-05-03 21:39] SmartHoneybee commented on #8708
Would you mind sharing the complete build log? (I can't reproduce your build failure with nodejs `10.0.0-1nodesource1` on Ubuntu 14.04.5 LTS - probably missing something. [Here's my build log.](https://api.travis-ci.org/v3/job/374599208/log.txt))

[2018-05-03 22:00] lfbrock commented on #8471
@rbdevr - filed another ticket specific to mobile to investigate this: https://mattermost.atlassian.net/browse/MM-10460

[2018-05-03 22:32] c-lan opened #8713 "Plugin configuration not saved in System Console"
#### Summary
Plugin configuration gets corrupted upon saving the configuration via system console.

#### Steps to reproduce
1. Enable plugins (system console -> plugins -> configuration)
2. Attempt to configure e.g. Jira plugin (system console -> plugins -> jira). Save the form.
3. Switch to another system console panel and then come back to Jira plugin configuration.

Version: 4.9.1

#### Expecte

[2018-05-04 05:25] alecisec opened #8714 "Error checking if bucket exists. [details: 400 Bad Request]"
There looks to be a fault in the function TestS3TestConnection in system_test.go - line 753 https://github.com/mattermost/mattermost-server/blob/master/api4/system_test.go

I'm using a valid API key + secret but the test always fails.
I've verified that I can access the "aws s3api list-buckets" command from cli, using the same credentials
I've cleared all inputs other than the bucket name, s3 acce

[2018-05-04 06:36] lindy65 commented on #8709
Hi @harshilsharma63

Yes :)  When I discussed with the team yesterday, I discovered that the behavior is intentional but the documentation was incorrect so we have [fixed the documentation](https://github.com/mattermost/docs/pull/1979)

Thanks again for your report!

[2018-05-04 13:34] jasonblais opened #8717 "[Help Wanted] [MM-10342] Document that CreateAt, UpdateAt and other time fields are in milliseconds"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 13:46] jasonblais opened #8718 "[Help Wanted] [MM-10381] Improve file download API to stream files instead of loading them entirely into memory"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 13:46] jasonblais opened #8719 "[Help Wanted] [MM-10389] Remove unused translations from logging de-internationalization."
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 13:47] jasonblais commented on #8719
@kaakaa Would you be interested taking a look?

Basically, there are a lot of unused strings in en.json files (in mattermost-server, mattermost-webapp and mattermost-mobile repositories), and it would be good to remove them, so you and others in the localization team don't spend time translating unused strings.

[2018-05-04 13:48] jasonblais opened #8720 "[Help Wanted] [MM-10406] Extra white space character will prevent slash commands from finding the user in the @mention"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 15:21] odontomachus opened #8722 "Makefile GOPATH set to :./vendor if not sent in system env"
#### Summary
make run sets GOPATH to ':./vendor' if GOPATH is not set in the environment. Build artifacts are created in a ":." directory in the project root

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
mattermost-server from master branch commit 5000eac24f8d9aeef9cd24a58af43597e6c62b02
GNU Make 4.2.1

#### Expected behavior
GOPATH should be set to $(shell

[2018-05-04 18:15] esethna opened #8725 "[Help Wanted] Test issue title"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 18:31] esethna opened #8726 "[Help Wanted] test"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 19:02] amyblais commented on #8713
@c-lan Just to confirm, does this only happen with Jira plugin or have you experienced this with other plugins as well?

[2018-05-04 19:11] c-lan commented on #8713
@amyblais Both pre-bundled plugins, Jira and Zoom are affected the same way.

[2018-05-04 19:17] #8725 closed

[2018-05-04 19:17] #8726 closed

[2018-05-04 20:46] esethna opened #8729 "[Help Wanted] Test issue #2"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 20:46] esethna opened #8730 "[Help Wanted] Test Issue #1"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 20:55] icelander commented on #8714
Do you have a way to capture the network request the system is making? That would let us compare it to the valid requests to see if there's something missing.

Also, what version of Mattermost are you using?

[2018-05-04 21:05] #8729 closed

[2018-05-04 21:05] #8730 closed

[2018-05-04 21:11] esethna opened #8731 "[Help Wanted] [MM-10476] Test Help Wanted issue"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-04 21:12] #8731 closed

[2018-05-04 23:13] R-Wang97 commented on #8720
I can take a look at this!

[2018-05-04 23:17] amyblais commented on #8703
### v4.10 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.10.0-rc1/mattermost-team-4.10.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/f048fb925badb81f3a92b44af8fd4834d8427a23/source/administration/changelog.md)

[2018-05-05 07:38] Twilek-de opened #8733 "Systemd Journal with 4.10 looks cluttered"
Just a cosmetic thing. The journal looks bad when starting Mattermost with Systemd with 4.10. For example
`Mai 05 09:34:24 www.xxx.de platform[15808]: {"level":"info","ts":1525505664.2765896,"caller":"commands/server.go:75","msg":"Current working directory is /opt/mattermost"}
Mai 05 09:34:24 www.xxx.de platform[15808]: {"level":"info","ts":1525505664.2766228,"caller":"commands/server.go:76","msg"

[2018-05-05 15:49] bkmgit opened #8736 "Blank screen in a channel when entering latex code with dollar signs"
#### Summary
Get a blank screen in a Mattermost channel upon entering latex

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
When using version 4.7.1 if one types
[code]

then one gets a blank screen for that channel and one cannot easily delete the post.

#### Expected behavior
Should see latex output or an error message

#### Observed behavior (that appears u

[2018-05-05 23:02] santos22 commented on #8271
Hi @jwilander 👋

Would this be similar to the caching being done in [status.go](https://github.com/mattermost/mattermost-server/blob/master/app/status.go)?

[2018-05-05 23:26] jwilander commented on #8271
Hi @santos22, actually this ticket is mislabeled. It's actually a React/Redux client side ticket. Essentially we fetch a bunch of custom emojis from the server and then throw them away when the client refreshes. So for this ticket we'd be using redux-persist to actually store them in local storage. We already do this for some Redux store entities (especially on mobile)

Let me know if that helps

[2018-05-06 01:17] lisakycho commented on #6521
I'll take this one!

[2018-05-06 15:30] fmantek commented on #8493
I just upgraded a Bitnami installation to 4.9.2, and I am still observing this behaviour.

[2018-05-06 22:50] alecisec commented on #8714
I've had this error from about 4.7 to the present 4.9.1. I'll try get some captures.

[2018-05-07 00:48] jasonblais commented on #8681
@herooftimeandspace And there haven't been any questions or concerns about how to access the channel again? Or new users wondering where the channel disappeared from their sidebar?

[2018-05-07 02:15] alecisec commented on #8450
I'm also having this issue from 4.7.0 all the way up to 4.9.2. I'm running mattermost inside a docker container on AWS.

These are my logs

`
mattermost    | [2018/05/07 01:46:51 UTC] [DEBG] POST - /api/v4/channels/members/me/view
mattermost    | fatal error: runtime: out of memory
mattermost    |
mattermost    | runtime stack:
mattermost    | runtime.throw(0x140f883, 0x16)
mattermost    |

[2018-05-07 06:41] cpanato commented on #8714
I will try to reproduce.

[2018-05-07 07:15] lindy65 commented on #8493
Hi @fmantek

Thanks for your feedback,

May I ask you to open a new issue so we can help troubleshoot from fresh information?

Please also share your set-up information, reproduction steps and the error log after import.  Thanks!

[2018-05-07 08:01] lindy65 commented on #8713
@c-lan @amyblais

I've reproduced on `ci-linux-mysql` (v4.10) and `rctesting.reddogsofwar.com` (v4.10 rc1) and have created [this ticket](https://mattermost.atlassian.net/browse/MM-10492) to track...

[2018-05-07 08:09] lindy65 commented on #8736
Hi @bkmgit

Thanks for your feedback,

I'm not able to reproduce your issue on our nightly build server running off the latest master.

Could you try upgrading to [the latest server version](https://about.mattermost.com/download/#mattermostServer) of Mattermost to see if the issue still reproduces for you?

[2018-05-07 08:13] lindy65 commented on #8722
Thanks for the report @odontomachus 👍

And thank you for the PR which is currently in the review stage...  Much appreciated!

[2018-05-07 12:53] jmesserli opened #8739 "Public link ignores "site url" from system console"
#### Summary
When getting the public link for an image, it seems that the site URL set in the system console is ignored.

Maybe related to [MM-5079](https://mattermost.atlassian.net/browse/MM-5079).

#### Steps to reproduce
1. Set up a mattermost instance behind a reverse proxy server (in my case Nginx).
2. Configure site URL correctly
3. Try to get an image's public url

`[User] --[https://someur

[2018-05-07 16:09] Apollon77 commented on #8681
Even for a read-only channel the history and posted messages are interesting to users. So if you do not want to sell a "read once channel" as feature please fix that one. No other channel simply disappears, so why this one should? This is completely inconsistant.

[2018-05-07 16:49] cpanato commented on #8714
Hello @alecisec
I made some tests using version 4.9 and the RC for 4.10 and both cases I was able to test the connection.

Please make sure you set the `Amazon S3 Region` to match the same region where you create your bucket. Otherwise, it will fail.

if you still have the issue, is it possible enable the `Enable Amazon S3 Debugging` and post the logs?

thanks

[2018-05-07 16:59] jasonblais commented on #8681
@herooftimeandspace Thoughts on breaking out hiding Town Square from the sidebar into its own config setting? I would agree with @towolf / @ryanschulze / @Apollon77 that the existing behaviour feels unexpected.

If you're okay with that, I can create a ticket for it.

[2018-05-07 17:16] herooftimeandspace commented on #8681
@jasonblais | Totally fine with separating that out in the config.

[2018-05-07 17:42] jasonblais commented on #8681
Thanks, updated ticket with these two proposed changes: https://mattermost.atlassian.net/browse/MM-10430

1) If ExperimentalTownSquareIsReadOnly is set to "true", do not automatically hide Town Square channel when it has no unread messages.
2) Add ExperimentalHideTownSquareinLHS config.json setting, which lets Shift hide the Town Square channel when there are no unread messages. The channel should

[2018-05-07 19:14] crspeller commented on #8733
Hi @Twilek-de. Mattermost switched to using a structured logging solution in 4.10 for easier analysis in systems like [Kibana](https://www.elastic.co/products/kibana).

If you don't use a log aggregation system. You can switch to a more human readable format by changing the new config settings `LogSettings->ConsoleJson` and `LogSettings->FileJson` to `false`.

Going to close the issue, but feel fr

[2018-05-07 19:14] #8733 closed

[2018-05-07 19:15] crspeller commented on #8722
Closed by https://github.com/mattermost/mattermost-server/pull/8724
Thanks!

[2018-05-07 19:15] #8722 closed

[2018-05-08 00:07] jwilander commented on #8713
Submitted PRs for the upcoming 4.10.0 release and for 4.9.3

[2018-05-08 01:03] #8509 closed

[2018-05-08 01:34] #7580 closed

[2018-05-08 04:30] alecisec commented on #8714
Can confirm that the Region is correctly set, I also have S3 Degugging enabled - the log only shows

[2018/05/08 04:27:05 UTC] [DEBG] POST - /api/v4/file/s3_test
[2018/05/08 04:27:05 UTC] [EROR] /api/v4/file/s3_test:TestFileConnection code=500 rid=5axd3m7gygs47jrjy37wbj4qew uid=68hoc9ne7sfdrdehpyono5pqrra ip=203.xxx.xxx.xxx Error checking if bucket exists. [details: Access Denied.]
[2018/05/08 04:

[2018-05-08 06:26] alecisec opened #8741 "Attachment upload crashes Mattermost - Out of Memory"
This is similar to the issue in https://github.com/mattermost/mattermost-server/issues/8450 however that issue was closed and this only started occurring for me in version 4.8

I'm running Mattermost in Docker, in a Ubuntu 16.04 container (previously 14.04), using S3 for attachment storage and MySQL on RDS.

4.7 is stable it seems, however updating the platform to 4.8 I began having platform crash

[2018-05-08 06:39] cpanato commented on #8714
@alecisec thanks for the input.

checking the code that checks the bucket and the documentation and also the log snipped you sent.  You need to check your permissions in the AWS for the AWS key that you are using.

per the documentation: to make the test you need at least these permissions: `s3:GetObject` and `s3:ListBucket` (doc for reference - https://docs.aws.amazon.com/AmazonS3/latest/API/REST

[2018-05-08 07:28] lindy65 commented on #8450
Thanks @alecisec,

Our developers are working with a community member on a [ticket](https://github.com/mattermost/mattermost-server/issues/8641) that might improve this issue...

[2018-05-08 07:30] lindy65 commented on #8741
Thanks @alecisec,

Please see [this issue](https://github.com/mattermost/mattermost-server/issues/8641) that our devs are working on with community that might improve this issue...

[2018-05-08 11:53] 3ter opened #8742 "Changing profile picture error"
#### Summary
When trying to change the profile picture with certain JPEGs after hitting save the picture gets reset and is not changed.

#### Steps to reproduce
Mattermost Version: 4.8.0
Database: postgres

- Account Settings - General - Profile Picture
- Select e.g. [this picture](https://is1-ssl.mzstatic.com/image/thumb/Purple62/v4/d9/ab/39/d9ab3919-7ff7-8763-5cfc-4178eefb4d12/source/256x256bb.j

[2018-05-08 15:53] hmhealey commented on #8739
Hi @jmesserli,

We made a choice to use the `Host` header for those URLs so that those links would match the URL in the address bar for deployments where Mattermost is accessible through multiple URLs. Looking at your config, it looks like that header isn't being properly passed through nginx, so you should add
[code]
as per [this documentation](https://docs.mattermost.com/install/config-proxy-ngi

[2018-05-08 16:53] esethna opened #8747 "[Help Wanted] [MM-10470] Add the ability to reset user emails in System Console > Users"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-08 21:17] jmesserli commented on #8739
Thank you very much!

I missed the nginx config section when setting up the server. Everything seems to be working now.

[2018-05-08 21:17] #8739 closed

[2018-05-09 01:35] avasconcelos114 opened #8749 "Post header elements overlap in search results"
#### Summary
When a username is long enough, the elements in post header overlap with one another

#### Steps to reproduce
1. Set username/nickname/first & last name to be a long string
2. Search for something you wrote (`from: myusername`)
3. Hover the mouse over one of the search results

Note: Best results seen when using a language where the "Jump" button is a longer string as well (works well

[2018-05-09 06:11] R-Wang97 commented on #8747
I can try taking a look at this!

[2018-05-09 07:51] lindy65 commented on #8749
Thanks for the report @avasconcelos114!

I've reproduced your issue and have created [this ticket](https://mattermost.atlassian.net/browse/MM-10536) to track...

[2018-05-09 07:55] lindy65 commented on #8742
Hi @3ter

This is fixed in v4.9 and you can download the latest server version [here](https://about.mattermost.com/download/#mattermostServer).

Just a note that there is currently a [bug](https://mattermost.atlassian.net/browse/MM-10494) where a white screen is shown after selecting a profile pic and a PR has been submitted for release with v4.10 on May 16th.

[2018-05-09 08:09] lindy65 commented on #8713
Thanks, I'll close off this issue here for now as the PR for the fix has been merged ...

[2018-05-09 08:09] #8713 closed

[2018-05-09 08:10] lindy65 commented on #8709
I'll close this issue off here as the PR to fix the documentation has been merged.

[2018-05-09 08:10] #8709 closed

[2018-05-09 08:16] lindy65 commented on #8707
I'll close this issue off here for now...

[2018-05-09 08:16] #8707 closed

[2018-05-09 08:17] lindy65 commented on #8687
Hi @nirina-apiqa

Has `lieut-data's` information helped resolve your issue?

[2018-05-09 08:17] lindy65 commented on #8681
Thanks, I'll close off this issue here for now and we can track via the above-linked ticket.

[2018-05-09 08:17] #8681 closed

[2018-05-09 08:19] lindy65 commented on #8650
I'll close this issue off here for now.  Please feel free to open a new issue with reproduction steps should you still be experiencing problems after server upgrade.  Thanks!

[2018-05-09 08:19] #8650 closed

[2018-05-09 08:25] lindy65 commented on #8398
Hi @petahbred,

OK to close off this issue now?  Is it still reproducing for you on our nightly build server (linked above)?

[2018-05-09 08:27] lindy65 commented on #8320
I'll close this issue off here for now as the PR in the above-linked ticket has been merged.

[2018-05-09 08:27] #8320 closed

[2018-05-09 09:33] 3ter commented on #8742
Hi @lindy65,

thanks for the info! I couldn't find the appropriate issue for the fix so I opened this one.

[2018-05-09 09:33] #8742 closed

[2018-05-09 09:51] lindy65 commented on #8742
No worries @3ter :)

[2018-05-09 10:49] jasonblais commented on #8747
@R-Wang97 Yeah, that's correct 👍

[2018-05-09 14:31] #8476 closed

[2018-05-09 15:13] harshilsharma63 opened #8752 "Server Plugins - how to use logging?"
I'm developing a Mattermost server plugin and I'm more than often left wondering why the plugin didn't work. Console output doesn't work, pkg/log doesn't work. How does logging work with a Mattermost server plugin?

[2018-05-09 16:10] jcarrillo7 commented on #8707
I figured. It would be nice if there was an option to let them see the history.

[2018-05-09 18:59] navc-0001 opened #8754 "Changing the clock on the server to the past will cause new messages to appear above old messages"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2018-05-09 22:08] amyblais commented on #8703
#### Approved fixes for RC-3
[An empty request is sent to the server to get roles](https://mattermost.atlassian.net/browse/MM-10454)
[Webapp does not scroll to new posts properly in channels that one hasn't viewed yet during the current active session](https://mattermost.atlassian.net/browse/MM-10260)
[Change system response to "Could not find the channel" when trying to invite user to private cha

[2018-05-10 02:14] alecisec commented on #8741
What is the 'fix' currently? i.e. how much memory does a docker container running mattermost need to upload 5 x 1mb images? I'm currently crashing on ~1.5gb of memory.

[2018-05-10 06:46] alecisec commented on #8741
I've done further testing and can observe that a server with 7132MB free memory drops down to 4800MB free when uploading 4 Images of sizes (54kb, 3kb, 3kb, 49kb). A container with 4GB available memory cannot be stable under these conditions meaning that an EC2 'Large' is required purely to have enough memory for small file uploads. It's extremely unclear why ~100kb of images being uploaded would r

[2018-05-10 14:42] fmantek opened #8761 "Slack Import not working at all for me"
#### Summary
Using an output.zip file, created with the advanced exporter, import is doing absolutely nothing

#### Steps to reproduce
Download my zip file from ftp://ftpuser@mantek.noip.me/output.zip. Use none as the pwd. Log into the instance and use
the command: sudo ./platform import slack "yourteam" output.zip

#### Expected behavior
Expected to get a good 10 channels with a lot of posts recr

[2018-05-10 14:42] fmantek commented on #8493
Ticket filed under https://github.com/mattermost/mattermost-server/issues/8761

[2018-05-10 16:02] hmhealey commented on #8752
Hi @harshilsharma63, there's nothing in the plugin API for logging yet, but it's something we'd like to add. If you're interested in discussing how that would work, you can sign up for https://pre-release.mattermost.com and  join the ~developer-toolkit channel where we can talk about it some more.

[2018-05-10 18:11] esethna opened #8767 "[Help Wanted] [MM-10566] Add logging functions to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-10 22:57] DSchalla commented on #8752
https://github.com/mattermost/mattermost-server/issues/8767 was logged to discuss / implement it. Might be worth closing this one and discuss everything else in #developer-toolkit and the issue itself?

[2018-05-11 00:05] amyblais commented on #8761
Hi @fmantek,

Thank you for reporting this,

I just have a few initial questions:
1. Which Mattermost server version are you seeing this issue on?
2. Is there anything on this doc that might help: https://docs.mattermost.com/administration/migrating.html?highlight=slack%20export#migrating-from-slack?

[2018-05-11 00:19] harshilsharma63 commented on #8752
@hmhealey I'm definitely interested in the discussion. Will discuss on the MM channel.

[2018-05-11 00:20] harshilsharma63 commented on #8752
@DSchalla  yes, that makes sense.

[2018-05-11 00:20] #8752 closed

[2018-05-11 06:50] lindy65 commented on #8493
Thank you @fmantek :)

[2018-05-11 06:56] lindy65 commented on #8741
Hi @alecisec,

Thanks for your feedback,

Quoting from the [issue above](https://github.com/mattermost/mattermost-server/issues/8641), the reason so much memory is used while uploading images is because:

The fix being worked on in the above-linked issue will improve the file upload API to stream files instead of loading them entirely into memory.

[2018-05-11 07:06] lindy65 commented on #8707
Hi @jcarrillo7

Thanks for your feedback,

Perhaps you'd like to add a feature request to [our forum](https://mattermost.uservoice.com/forums/306457-general) where it can be upvoted by you and others to increase it's popularity?

If you do add a feature request, please add a link to it in this issue for continuity.  Thanks!

[2018-05-11 13:55] fmantek commented on #8761
1. This is working against a bitnami installation on a google cloud instance. The default installation was upgraded to 4.9.2 before attempting the slack import.

2. Nope. Already read this doc and am using the CLI version of importing.

Gruss

Frank Mantek

On 11. May 2018, 02:05 +0200, amyblais <notifications@github.com>, wrote:

[2018-05-11 23:09] amyblais commented on #7769
Hi @Ppjet6 Following up on this - does @icelander's suggestions sound good and do you need any assistance? Please let us know and we are happy to help / investigate this issue further!

[2018-05-11 23:29] #7617 closed

[2018-05-11 23:34] #8654 closed

[2018-05-12 22:16] amyblais commented on #8703
### v4.10 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.10.0-rc3/mattermost-team-4.10.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/f048fb925badb81f3a92b44af8fd4834d8427a23/source/administration/changelog.md)

#### Approved fixes for RC-4
[An empty request is

[2018-05-14 13:33] wget commented on #8708
@ArchangeGabriel Hi Bruno. Like exeplained on the AUR page, [I fixed the issue](https://aur.archlinux.org/cgit/aur.git/commit/PKGBUILD?h=mattermost&id=20c32f7f68ce0013e5a55cef0658cf4692f64899). Mattermost was indeed using an old version of nan. I just patched the respective `package.json` in order to dependency tree choose a more recent version of nan and this fixed the issue.

Btw, the problem wo

[2018-05-14 13:34] wget commented on #8708
I think we can close the issue now.

[2018-05-14 13:37] jasonblais commented on #8708
Thanks @wget!

[2018-05-14 13:37] #8708 closed

[2018-05-14 14:06] fmantek commented on #8761
I have tried this with the default bitnami installation, where it failed with the issue, that only the first user got imported. Which was supposed to be fixed in 4.9.2, hence I tried that.

Let me know if I can help, or if you like me to test a fix.

Gruss

Frank Mantek

On 14 May 2018, 15:24 +0200, amyblais <notifications@github.com>, wrote:

[2018-05-14 15:35] jasonblais opened #8781 "Contributor Feedback"
Hello everyone!

We're gathering feedback from our community to hear what your experience contributing to Mattermost has been.

[You can share feedback here](https://docs.google.com/forms/d/e/1FAIpQLSdzNyr6eT405E5COuYJJkvl-PAWQJcslztALSNpYKjzmSlOiw/viewform).

All input is welcome! Summary of results with next steps to shape your contributor journey will be published at https://about.mattermost.co

[2018-05-14 16:03] matshch commented on #8761
Also applies to us.

[2018-05-14 16:45] amyblais commented on #8761
@matshch Just wanted to check, which version of Mattermost are you using?

[2018-05-14 17:30] matshch commented on #8761
We are using Omnibus (now on gitlab-ee 10.7.3, tried also on 10.6.4), Mattermost now reports 4.8.1.

[2018-05-14 18:10] esethna opened #8782 "[Help Wanted] [MM-10569] Invite links won't work in mobile browser when the user is asked if they want to download the app"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-14 18:16] esethna opened #8783 "[Help Wanted] [MM-10537] Show the "Mattermost works best" page when opened in firefox mobile browser"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-05-14 22:35] amyblais commented on #8761
@matshch Would you also have any error logs for us to take a look?

Turns out the file I was testing with was corrupt so that is why I was seeing issues earlier, and I asked a co-worker to test as well and she could not reproduce the issue.

I will have our team take a further look at this.

[2018-05-14 22:50] amyblais commented on #8703
### v4.10 RC-4 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/4.10.0-rc4/mattermost-team-4.10.0-rc4-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/f048fb925badb81f3a92b44af8fd4834d8427a23/source/administration/changelog.md)

[2018-05-15 00:04] alecisec commented on #8741
I can understand that, but the ratio of memory consumed to filesize makes no sense. How can 200kb of files use over 2GB of memory? are they being loaded into memory 10,000 times at once?

[2018-05-15 05:55] matshch commented on #8761
That's what we are getting:
[MattermostImportSummary.txt](https://github.com/mattermost/mattermost-server/files/2003596/MattermostImportSummary.txt)

So, only two users are created — one is the real and other is "Integrations/Slack Boot".

We tried this on several exports, including created with https://github.com/grundleborg/slack-advanced-exporter, and getting the same issues.

[2018-05-15 06:03] fmantek commented on #8761
Did you try the file I provided you with?

Gruss

Frank Mantek

On 15. May 2018, 07:55 +0200, Artem Leshchev <notifications@github.com>, wrote:

[2018-05-15 12:31] amyblais commented on #8761
@matshch Is this a new issue (did you recently upgrade or start to use Mattermost) or has this been happening for a while?

@fmantek We are releasing a new version (4.10) tomorrow and it might be a good idea to upgrade and see if the issue reproduces after upgrading. Another option is that you can test the file on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?

[2018-05-15 12:55] matshch commented on #8761
This is a new issue. We thinking of switching on Mattermost, so we
self-hosted it, tried it in test workload for two weeks, and then tried to
import backup from Slack. When we have seen that only a few messages and
users was imported, we tried to start over, with DB removing, reconfiguring
and starting import again, with no success. Then we tried same actions
after upgrade, same result.

С уважени

[2018-05-15 14:14] lieut-data commented on #8741
@alecisec, you're right that the root of this problem can't just be the duplicate in-memory copies being uploaded. There's "something else" that's contributing to this problem.

Thanks for the detailed numbers. We do have customers running with 1-2GB of memory and uploading files without issue, so I'm assuming a configuration difference of some kind.

Are you able to point us at the Docker images