[2019-06-27 21:49] esethna opened #11438 "Automatically reconnect when network is found from the "Team Not Found" page"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 21:58] esethna opened #11439 "Use properly styled scrollbars throughout the app on all browsers"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 22:18] amyblais commented on #9728
Letting you know that the Jira ticket was closed with a note that it is already done as we provide markdown tips when typing. Changing the window name doesn't seem to be high enough value for the effort and continued testing mana. @ylluminate

[2019-06-27 22:18] #9728 closed

[2019-06-27 22:25] ylluminate commented on #9728
That's sad to hear. The current formatting and help really sucks. The more and more I use Mattermost, the less and less I like the ability to control formatting. Having markdown is simply not enough and many of our users can't figure it out or can't hit things right. We really need to implement this if Mattermost is to remain viable - else perhaps formatting should just be yanked out altogether.

[2019-06-27 22:28] esethna opened #11440 "Complete migration of diagnostic_actions to redux actions"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 22:28] esethna opened #11441 "Complete migration of global_actions to redux actions"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 22:28] esethna opened #11442 "Complete migration of channel_actions to redux actions"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 23:39] amyblais commented on #11434
Hi @LocalHeroPro,

1. Sounds like a potential bug, are you getting the unexpected email notifications if you're on mobile or on your computer or both? Do you have email notifications also disabled on mobile?
2. I'll probably ask UX to review if this flow could be improved.
3. Sounds like a potential bug, have the users also checked if the account verification email may have gone to their spam / ju

[2019-06-28 00:16] LocalHeroPro commented on #11434
Sorry, point 3 is develop of point 2 and have to sound like:
When I set Enable Email Notifications in System Console > Notifications to false, I can't Send Email Invite - because of "Email is currently disabled for your team, and email invitations cannot be sent. Contact your System Administrator to enable email and email invitations." I also have Enabled Email Invitations to true. Also, when I ha

[2019-06-28 01:50] amorriscode commented on #11442
👋 I'll tackle this one.

[2019-06-28 05:39] hanzei commented on #10465
@lieut-data Can you help with this? I'v not to familiar with this part of the code.

[2019-06-28 05:40] hanzei commented on #11053
What OS/Browser are you using?

[2019-06-28 05:40] hanzei commented on #11053
What OS/Browser are you using?

[2019-06-28 06:53] #11221 closed

[2019-06-28 09:28] #11337 closed

[2019-06-28 09:32] #11340 closed

[2019-06-28 09:46] streamer45 commented on #11379
I'll do this one

[2019-06-28 10:02] #11298 closed

[2019-06-28 10:40] #11379 closed

[2019-06-28 11:13] bolariin commented on #11053
elementary OS (Ubuntu) / Chrome

[2019-06-28 11:16] alejandrosame commented on #11382
Hello!

I'd like to take this issue.

[2019-06-28 12:37] maruTA-bis5 commented on #11371
Hi all.

For security reason, patch user api (`/api/v4/users/{user_id}/patch`) disallow change own email without re-entering credential (https://github.com/mattermost/mattermost-server/pull/10207, [Mattermost Security Update #5.8.0.6](https://mattermost.com/security-updates/)).
So you couldn't change your email using System Console.
You have to use Account Settings to change your own email.

[2019-06-28 12:41] #11157 closed

[2019-06-28 12:48] kevinetienne commented on #10289
I'll pick this one, please.

[2019-06-28 12:52] lieut-data commented on #10289
Terrific! Thanks @kevinetienne :)

[2019-06-28 12:53] LocalHeroPro commented on #11371
If disallow that option in System Console or better option: give prompt for password?

[2019-06-28 12:56] #10544 closed

[2019-06-28 13:17] amyblais commented on #11318
### v5.13 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.13.0-rc1/mattermost-team-5.13.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2788/files)

[2019-06-28 13:22] esethna opened #11448 "Migrate "User.GetSystemAdminProfiles" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11449 "Migrate "User.UpdateFailedPasswordAttempts" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11450 "Migrate "User.GetEtagForProfiles" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11451 "Migrate "User.GetEtagForAllProfiles" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11452 "Migrate "User.GetForLogin" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11453 "Migrate "User.GetByUsername" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11454 "Migrate "User.GetProfileByIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11455 "Migrate "User.GetProfiles" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11456 "Migrate "User.GetAllProfiles" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11457 "Migrate "User.GetProfilesByUsernames" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11458 "Migrate "User.GetProfilesWithoutTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11459 "Migrate "User.GetProfilesNotInChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11460 "Migrate "User.GetAllProfilesInChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11461 "Migrate "User.GetProfilesInChannelByStatus" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11462 "Migrate "User.GetProfilesInChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11463 "Migrate "User.GetAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11464 "Migrate "User.UpdateMfaActive" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11465 "Migrate "User.UpdateMfaSecret" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11466 "Migrate "User.UpdatePassword" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11467 "Migrate "User.UpdateUpdateAt" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11468 "Migrate "User.ResetLastPictureUpdate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11469 "Migrate "User.UpdateLastPictureUpdate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:22] esethna opened #11470 "Migrate "User.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-28 13:27] #11193 closed

[2019-06-28 13:33] wiersgallak commented on #9769
@RajatVaryani
1. The purpose of this is so that users can move an existing outgoing Webhooks to a new team and/or channel.
2.  Per the webhook create-outgoing command accepts either channel name or id in the channel string parameter, I would expect this command to accept either as well.

[2019-06-28 13:36] RajatVaryani commented on #9769
@wiersgallak Thanks.
 `webhook move newteam oldteam:w16zb5tu3n1zkqo18goqry1je --channel some-channel`

Does this look good? And if the channel does not exist in the new team then an error is thrown. Sounds good?

[2019-06-28 13:37] wiersgallak commented on #9769
@RajatVaryani Yes the format and the error sounds good.  Thank you!

[2019-06-28 14:05] Jonany commented on #10676
@saturninoabril in that case, I think I'll try a new fork.

[2019-06-28 14:39] #11385 closed

[2019-06-28 14:58] mzaks commented on #11404
I'll take this one

[2019-06-28 16:46] amyblais commented on #11408
@harshilsharma Response from a dev (summarized):

There is also the workaround using a header. There doesn't seem to be anything we can do here at this point. If the plugin sets the XmlHttpRequest header properly there won't be a problem right now, and with v6.0 we can force a logout when we enable enforcement.

[2019-06-28 16:51] lurcio commented on #11469
:wave: I'll take this one!

[2019-06-28 17:51] rexredinger commented on #11433
I'll take this one.

[2019-06-28 17:54] rexredinger commented on #11433
Looks like we have a couple issues.

1. Electron doesn't support defining menu items with multiple shortcuts for the same input. We can hack around this by having identical hidden menu actions for Back/Foward that map to additional key commands.
2. OSX seems to just generally have a problem with munging up ⌘+← and ⌘+→  inputs for many applications.  I confirmed this by simply remapping default ⌘+[

[2019-06-28 18:45] goku321 commented on #11441
Can I take this one?

[2019-06-28 18:46] goku321 commented on #11440
This one as well?

[2019-06-28 18:56] amyblais commented on #11434
Hi @LocalHeroPro,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll prioritize the review

[2019-06-28 19:13] rexredinger commented on #11433
Spent some more time simply getting some sort of working ⌘+← history command to work.  And there are a few more hitches.
1. Hidden Electron menu items don't respond to accelerators . So the workaround in # 1 of my previous comment is a not as viable.  You can still make alternative Back/Forward commands with their own accelerators and give them empty labels, but it looks a bit wonky in the menu.
<

[2019-06-28 19:46] jespino commented on #11441
Sure, thanks @goku321! 🎉

[2019-06-28 19:56] goku321 commented on #11429
Interested in taking this one.

[2019-06-28 19:57] lisakycho commented on #10232
@jwilander should I make my own struct to hard code this?

[2019-06-28 20:00] #10552 closed

[2019-06-28 20:10] jespino commented on #11429
Awesome, thanks @goku321! ✨

[2019-06-28 20:12] jespino commented on #11440
Great!

[2019-06-28 20:38] jespino commented on #11382
Great! Go for it @alejandrosame! ✨

[2019-06-28 20:41] jwilander commented on #10232
There's already a slice of the timezones here https://github.com/mattermost/mattermost-server/blob/master/services/timezones/default.go

You would just need to update that if you need to change the timezones @lisakycho

[2019-06-28 20:42] jespino commented on #11433
@hmhealey what do you think about it?

[2019-06-28 20:54] krjn commented on #11194
After implementing `emoji_icon` as a field throughout the pipeline, I found the `override_icon_url` prop, which I had previously missed, that can be set through the command line and through webhooks. It seems to me that piggy-backing on this prop would be better than having another field specific for emojis. This prop allows an URL (image) to be shown instead of the profile picture, and it's alrea

[2019-06-28 20:58] lisakycho commented on #10232
@jwilander right but that contains an array of strings while the new timezones are an array of objects, not sure what type to declare for that array if i just replace the data.

[2019-06-28 21:22] aaronrothschild commented on #11194
Thanks for working on this @krjn !

That makes sense to me, although it *may* expose some visual oddities (edgy), I think it's worth it.

@jasonblais may have some thoughts on this one too - we currently have a few issues open where it is not apparent to the user WHY a 'different' user is presented when something is overridden.  I am on the fence about this one currently, but working out my though

[2019-06-28 22:24] #11390 closed

[2019-06-28 22:34] amyblais commented on #11371
Hi @LocalHeroPro, would you like to share this improvement idea on our feature request forum: https://mattermost.uservoice.com/forums/306457-general?

[2019-06-28 23:09] kongr45gpen commented on #11371
I believe that, at least the error message for this, could be considered a bug, since it does not explain the situation (or further steps) to the user

[2019-06-28 23:21] mjthomp95 commented on #10958
I'd like to work on this.

[2019-06-28 23:25] Xairoo commented on #11326
Testing on Debian, tried TLS and also STARTTLS directly with the config. Nothing helped.

`tls: first record does not look like a TLS handshake`

I'm running UNMS on the same host and SMTP (Exchange) works well, only Mattermost won't.

[2019-06-28 23:29] amyblais commented on #11326
Hi all, following up on this. Would you be open to sharing your config settings related to SMTP and email?

[2019-06-28 23:32] Willyfrog commented on #7811
All three PRs are ready for reviewing.
Also note that the last one (front) is failing as master redux doesn't have the new action yet. Is there a way to tell it to use the one from the branch for that test? Do I have to wait for the other PR's to merge and re-check?

[2019-06-29 01:15] mjthomp95 commented on #11468
I can do this one.

[2019-06-29 02:13] piperRyan commented on #11448
I would like to work on this issue.

[2019-06-29 03:03] jasonblais commented on #7811
Great, thank you @Willyfrog! We'll review the server and redux PRs first, followed by the webapp one :)

[2019-06-29 03:47] jasonblais commented on #11194
Thanks @krjn! Overall this approach makes a lot of sense to me.

Overall this approach makes a lot of sense to me as well. What would happen if someone specifies both an `override_icon_url` and `override_icon_emoji` parameters?

I'm curious how this would look like without the border on various themes.

Echo what Aaron mentioned that this is something we're figuring out (there's actually a related

[2019-06-29 03:50] cometkim commented on #10346
I'll take this :)

[2019-06-29 05:48] tbhmogy commented on #10759
Cypress does not support multi-tabs and cannot be processed.
https://docs.cypress.io/guides/references/trade-offs.html#Multiple-tabs

[2019-06-29 07:40] cometkim commented on #10346
There are definitely unnecessary renderings.

When

1. Move cursor without scrolling:
    EmojiPicker did render because of the `state.cursor` changed.x

    ![image](https://user-images.githubusercontent.com/9696352/60381040-6e1b7100-9a89-11e9-88d4-2b35cb2ae97b.png)

2. Scroll (same as jump to category):
    EmojiPicker did render because of the `state.divTopOffset` changed.

    ![image](https:/

[2019-06-29 07:49] harshilsharma63 commented on #11408
@amyblais I tested this again and `XMLHttpRequest` does work with 5.12. My bad.

Thanks for looking into this again!

[2019-06-29 08:37] Xairoo commented on #11326
Sure! But I'm really confused now. Haven't change anything, only again TLS to STARTTLS - now it works. No idea why. I just tried it again to copy the error message for TLS and STARTTLS.

`"http_code":500,"err_details":"err=Fehler beim Öffnen der TLS Verbindung"`
[code]

Works: `"ConnectionSecurity": "STARTTLS",`

Can't reproduce `tls: first record does not look like a TLS handshake`

Using in othe

[2019-06-29 18:37] eshyong commented on #10276
So, I started writing a test file for my change, but I'm getting the following error when running jest tests:

[code]

Can someone help me debug this? It's breaking when I call `shallow` to render the component. My test code is [here](https://github.com/eshyong/mattermost-webapp/compare/79840f90f8a98d70dc6fe38c52c9dc03b1dc7152...1bf0500e7fb6526b13904ac17520e0c8631a1d4e).

[2019-06-29 18:37] eshyong commented on #10276
It looks like `this.emojiPickerContainer` is a React ref, but I don't understand how those work.

[2019-06-29 21:13] grahamj42 opened #11475 "Mixup between stdout and stderr in CLI"
#### Summary
mattermost CLI output written to stderr, log info written to stdout

#### Steps to reproduce
Version 5.12.0 on Ubuntu 18.04.1.
Execute **bin/mattermost channel list test** where *test* is a team.
The wanted output is buried in the middle of log messages (see below).

#### Expected behavior
**bin/mattermost channel list test 2>/dev/null** outputs the list of channels.

#### Observed be

[2019-06-29 23:17] Jonany commented on #10676
@saturninoabril From what I can tell from `/components/post_view/post/post.jsx` (lines 176-183), the main difference between system posts and user posts is that system posts have the `post--system` class. The `<span class="status-wrapper"` is applied to both post types by the profile picture `components/profile_picture.jsx`.

[2019-06-30 03:45] Jonany commented on #10676
I must be missing something. From the looks of this code from `components/profile_picture.jsx` the only difference is that the `alt` is empty on the system message. I also diffed the HTML from a system message and user message and there were no differences in the status section. However, the status SVG is visible on the user message and not visible on the system message.

[code]

[2019-06-30 03:54] Jonany commented on #10676
So I'm thinking the best option is to check if the SVG that displays the status icon is visible. Thoughts?

[2019-06-30 06:23] hanzei commented on #11448
Thanks @piperRyan

[2019-06-30 12:26] hanzei commented on #8886
@lfbrock What do you think about the feedback from @onlyjob?

[2019-06-30 12:30] hanzei commented on #10779
@ryliejamesthomas Would you please upgrade to the latest version and test again?

[2019-06-30 12:36] hanzei commented on #11352
Hey @streamer45,

Thanks for looking into this :+1:

- Yes, this is only for plugins.
- The former way is just fine :+1:

Let me know, if you have additional questions.

[2019-06-30 13:25] streamer45 commented on #11352
thank you for the clarification @hanzei.
I'll have a PR ready soon.

[2019-06-30 15:21] enahum commented on #10186
PR to implement this here https://github.com/mattermost/mattermost-mobile/pull/2898

[2019-06-30 15:21] #10186 closed

[2019-06-30 15:34] sbrl commented on #7166
Hey, @lindy65.

I agree with @cybershambles here. In today's world there are more breaches than ever. A large number of small groups without the money to spend on an enterprise-grade chat solution rely on Mattermost as a primary meeting place for their communities. To this end, it is _not cool_ denying people a basic step they could potentially take to keep their accounts secure.

[2019-06-30 21:32] hvhallmann commented on #10464
working on it

[2019-06-30 21:58] hanzei commented on #10464
Thanks @hvhallmann. Let me know, if you have questions.

[2019-06-30 22:03] hanzei commented on #10171
PR: https://github.com/mattermost/mattermost-plugin-starter-template/pull/39

[2019-07-01 08:27] shaforostoff opened #11476 "[Linux/KDE] clicking URLs to sites with authentication brings to main screen"
click this link in the chat:
https://gitlab.airmusictech.com/kpilch/cpp-style-guide
it is not accessible without login, so in browser i see login screen
after entering credentials, browser open main page instead of repo.

if i repeat this step, main page is shown saying "you are already signed in".

i think it happens because mattermost does URL resolution itself.

does not happen on winows or mac

[2019-07-01 10:44] #11388 closed

[2019-07-01 11:34] cometkim commented on #10346
Will file a PR soon.

[2019-07-01 11:34] RajatVaryani commented on #9769
There is a problem. This [function](https://github.com/mattermost/mattermost-server/blob/1aa1363e63f4e0421ec83bed07135e2ed7f9884b/app/webhook.go#L440) assumes the outgoing webhook being moved to the **same** team. We might need to write a new method to support moving the webhook to a different team.

[2019-07-01 11:44] #11342 closed

[2019-07-01 12:41] hanzei commented on #10654
@RajatVaryani will work on this

[2019-07-01 12:42] RajatVaryani commented on #10654
Thanks @hanzei

[2019-07-01 12:47] jespino commented on #10346
@cometkim I took a look on this part some time ago, and I think if we restructure a bit the code, we can use react-window or something similar to only render the emojis visible there, is super easy to know where to cut because the emojis always have the same size there.

[2019-07-01 12:51] cometkim commented on #10346
@jespino Yeah agreed that. I think to clean up legacy codes is the first thing to do. eg, to migrate emoji related actions/selectors to mattermost-redux.

[2019-07-01 12:56] jespino commented on #10346
@cometkim We have in one hour and a half a meeting about the future of mattermost-redux, because probably for support multiserver in mobile we will need something more memory efficient than redux, so I don't discard that we end up moving the redux part again inside of mattermost-webapp, I'm not sure if that movement now makes sense. If you want to join to the meeting will be here: https://mattermo

[2019-07-01 13:05] rexredinger commented on #11470
I'll grab this.

[2019-07-01 13:05] cometkim commented on #10346
@jespino Ok. I understood the point. I'll join the meeting but probably only chat.

[2019-07-01 13:06] hanzei commented on #10460
Hey @goku321,

On the server side the type is defined by the `subtype` field in the payload. See https://docs.mattermost.com/developer/interactive-dialogs.html#text-elements

Or are you talking about the webapp part?

[2019-07-01 13:13] hanzei commented on #11470
Thanks for working on this @rexredinger :+1:

[2019-07-01 13:31] cometkim commented on #10759
FYI @tbhmogy, [jump to conv](https://community.mattermost.com/core/pl/bytnrds7j3da5mo46saxrgh8ae)

[2019-07-01 13:58] hanzei commented on #11053
I wasn't enable to reproduce your problem. Would you please post it on the [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) on the [Mattermost community server](http://community.mattermost.com/) so a broader audience can help with debugging this.

[2019-07-01 14:44] krjn commented on #11194
I think we should return a `Bad Request`. Would be a nice place to use HTTP `422` code too.

![image](https://user-images.githubusercontent.com/51929404/60440448-5fa59480-9c04-11e9-8f54-11ac8cf6e0fc.png)

(normal profile pictures would keep the border, and maybe we could keep them on images (non emoji) too)

The ticket seems to not be public.

I see it like that too. I think, not showing the info

[2019-07-01 14:55] #11408 closed

[2019-07-01 14:58] jwilander commented on #10232
I'm not entirely sure, might take some investigation on your part. I think you can just keep it as an array of strings and update it to contain all the timezones in that list under the `utc` fields here https://github.com/dmfilipenko/timezones.json/blob/master/timezones.json#L45

[2019-07-01 15:03] hanzei commented on #2767
Closing this one as it's not the right place to look out for new translation contributors.

[2019-07-01 15:03] #2767 closed

[2019-07-01 15:03] hanzei commented on #3841
Closing this one as it's not the right place to look out for new translation contributors.

[2019-07-01 15:03] #3841 closed

[2019-07-01 15:04] hanzei commented on #2420
Closing this one as it's not the right place to look out for new translation contributors.

[2019-07-01 15:04] #2420 closed

[2019-07-01 15:05] hanzei commented on #5267
V2 of https://github.com/nicksnyder/go-i18n supports this. But it would be a huge effort to migrate to this version.

[2019-07-01 15:19] goku321 commented on #10460
Hi @hanzei,
Thanks for your input. And, yes I was talking about the webapp part.

[2019-07-01 15:19] #11214 closed

[2019-07-01 15:20] hanzei commented on #10460
@jwilander Can you help with the questions above? I'm not to familiar with the webapp code.

[2019-07-01 15:22] jwilander commented on #10460
@goku321 you'll likely want to make some changes in here to return a password input when the type is `password`
https://github.com/mattermost/mattermost-webapp/blob/master/components/interactive_dialog/dialog_element.jsx

[2019-07-01 15:33] imisshtml commented on #10193
I'll be looking into this one please

[2019-07-01 15:36] imisshtml commented on #9432
Still working on this issue. Had success in stopping the double-dash, but solution produced another bug in testing, so reevaluating how to approach this issue.

[2019-07-01 15:38] hanzei commented on #10193
@albertoestarrona I hope you are fine with @imisshtml taking over this issue.

[2019-07-01 17:20] aaronrothschild commented on #11194
Agreed on frustration ---> which comes from lack of clarity --> "Why is this message seemingly coming from someone, then when I click on their name - it shows me someone else"

What do we really mean when a BOT is taking control of a user's account?  An action has been automated on their behalf.   I'm wondering if we should be displaying more info when you hover over the BOT indicator to show:
1)

[2019-07-01 17:29] Inconnu08 commented on #11174
@hanzei was this done?

[2019-07-01 18:19] goku321 commented on #10460
@jwilander Thanks, this was helpful. A question: Would it be better to add a 'password' string to the array `validTypes` inside https://github.com/mattermost/mattermost-webapp/blob/master/components/widgets/settings/text_setting.jsx ?

[2019-07-01 18:38] saturninoabril commented on #10276
Oh, test seems to be complicated on this component. Since your change is not really tied up to a component and can be a utility function, one option is to move it to `utils/emoji_utils.jsx`, like:
[code]
then add test to `utils/emoji.test.jsx`, like:
[code]

[2019-07-01 20:08] #11468 closed

[2019-07-01 21:12] jesperhansen17 commented on #10958
Hi @jespino, I'm almost ready to open a PR for this issue. Is there any docs/logs for these kind of updates that also needs an update?

[2019-07-01 23:19] lpadgett commented on #11467
I'd be happy to help out here!

[2019-07-02 00:04] Druthi commented on #10470
I'll take this one!

[2019-07-02 00:14] albertoestarrona commented on #10193
Sure @hanzei, no problem at all

[2019-07-02 04:24] hanzei commented on #10958
You can add a short note to `EnsureBot` but other then that no doc updates are neeeded.

[2019-07-02 04:28] hanzei commented on #10470
Thanks for working on this @Druthi. :tada:  Let me know if you have any questions.

[2019-07-02 04:28] hanzei commented on #11467
Thanks @lpadgett :+1:

[2019-07-02 09:21] #11384 closed

[2019-07-02 09:56] asaadmahmood commented on #11194
@aaronrothschild Can you highlight what the problem is to me that we are trying to resolve?

[2019-07-02 10:28] lurcio commented on #11466
I'll grab this one!

[2019-07-02 10:42] RajatVaryani commented on #10654
@lieut-data Just want to get quick feedback if we are on the same page and have some questions.

For testing, I think we should generate mocks for Store interface in the config package. What do you think?

[2019-07-02 11:23] lurcio commented on #11465
I'll grab this one!

[2019-07-02 11:53] lieut-data commented on #10654
Hi @RajatVaryani, I don't think it's necessary to mock the store interface. Ideally, your unit tests would test file -> database and database -> file, and simply verify that the target store contains the test certificates put into the source store.

Happy to elaborate if you need more help!

[2019-07-02 12:14] grahamj42 commented on #11475
I have now changed the option "Output logs to console" to false, and the CLI becomes usable, but the problem still stands - logs should use stderr and command output stdout (or if you want to be clever, open a new handle for log output to the console, and one can separate system errors from application errors).

[2019-07-02 12:36] lieut-data commented on #10465
@sdcaulley, in general we're not opposed to refactoring to reduce code duplication and increase clarity. Can you elaborate on your proposal a bit to help me understand better?

[2019-07-02 13:09] #9398 closed

[2019-07-02 14:13] sdcaulley commented on #10465
@lieut-data
When going though the code I observed that there was a pattern for the text inputs in forms:
    - in /components/widgets there is TextSetting.jsx
    - Both InteractiveDialog and AdminConsole use this component for building forms.
    - in /components/admin_console there is RadioSetting.jsx that is set up very similar to /components/widgets/TextSetting.jsx
    - I propose that the pat

[2019-07-02 14:22] jwilander commented on #10460
Yeah I think that'd be great @goku321 👍

[2019-07-02 14:39] hmhealey commented on #11433
Oh yeah, I hadn't thought of the hotkey conflicts when you're in a textbox. When I filed the ticket, I was mostly thinking of how browsers work, but I forgot that we're more text-focused than a browser.

Thanks for the research, @rexredinger. I agree that we can just leave this for now unless we find some better way to handle it in the future. I'm not even sure a more native Desktop app would supp

[2019-07-02 14:39] #11433 closed

[2019-07-02 14:50] #10407 closed

[2019-07-02 14:55] krjn commented on #11476
I tried on two instances and neither resolved the URL themselves.

I'm not sure how Gitlab does redirection after login in, but my guess it is through the cookie, since there is nothing on the URL. If that is the case, my best guess is this behaviour difference is not related to Mattermost, but to your browser.

I'd try configuring another browser as the default one and repeating the test. Prefera

[2019-07-02 14:57] amyblais commented on #11326
Hi @Xairoo, do you mean it works with STARTTLS, but it doesn't work with TLS?

@mcp11 @hotlong Please let me know if you have any updates on this?

[2019-07-02 15:01] Inconnu08 commented on #11462
I can take this!

[2019-07-02 15:01] Inconnu08 commented on #11461
I am up for this...

[2019-07-02 15:02] Inconnu08 commented on #11458
I'm up for the grabs

[2019-07-02 15:03] Inconnu08 commented on #11453
I'll tackle this ✌

[2019-07-02 15:16] rexredinger commented on #9729
I'll grab this one.

[2019-07-02 15:57] #11383 closed

[2019-07-02 17:16] #11448 closed

[2019-07-02 17:18] lieut-data commented on #10465
@sdcaulley, that seems like a great suggestion! cc @jespino re: insight into ongoing efforts around common components.

[2019-07-02 17:25] jespino commented on #10465
@sdcaulley @lieut-data Thanks, yes, this is very related to our approach to reusable components. I would suggest to move that to `components/widgets/inputs`, and there we can create the `text_input.jsx`, `radio_input.jsx` and anything else that we need.

One important thing here is the widgets library must be consistent with the rest of the widgets (scss file aside to the component, the component

[2019-07-02 17:49] amyblais commented on #11371
Agree, opened a ticket here: https://mattermost.atlassian.net/browse/MM-16727.

[2019-07-02 17:58] amyblais commented on #11475
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-16728.

[2019-07-02 18:05] lieut-data commented on #10320
ping: @jespino, what's the next step for this issue?

[2019-07-02 18:12] jespino commented on #10320
@lieut-data a community member (@krjn) is working in a PR for the demo plugin that use the new admin console menu modification hability for plugins that is in this pr mattermost/mattermost-webapp#2794, we need to review that PR, and review the demo PR and merge both, ones that is done this issue is solved.

Actually he made a PR to the template plugin because I suggest him to use the "sample" plug

[2019-07-02 18:23] jespino commented on #11462
Great!

[2019-07-02 18:23] jespino commented on #11461
Great!

[2019-07-02 18:23] jespino commented on #11458
Great!

[2019-07-02 18:23] jespino commented on #11453
Great!

[2019-07-02 18:34] bnoggle opened #11498 ""You joined" Verification email on master.test.mattermost.com has wrong URL"
#### Summary
When you sign up on master.test.mattermost.com, the email verification email that the system sends includes the wrong URL.

#### Steps to reproduce
To recreate:
1.  Go to the sign up form ( https://master.test.mattermost.com/signup_user_complete/) (get a team invite if required).
2.  Click the Email and Password button.
3.  Sign up with Email page displays.  In the What's your email a

[2019-07-02 19:02] amyblais commented on #11498
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-16729.

[2019-07-02 19:33] #11175 closed

[2019-07-02 20:06] #11257 closed

[2019-07-02 20:22] #11465 closed

[2019-07-02 20:26] #11295 closed

[2019-07-02 20:31] sdcaulley commented on #10465
@jespino I understand what you are saying here about the composition of the elements.  I am a bit confused about the redux part though.  Two of the components in `components/widgets/inputs` reference `mattermost-redux/utils/helpers`, is that not considered redux?

Also, for clarification, the components in `components/widgets/inputs` seem to be for specific use cases, is this the best place for th

[2019-07-02 20:37] jespino commented on #10465
@sdcaulley For me, in both cases are inputs but a `settings` folder works for me too, it depends on the intention of the component and which is the use cases, is for a setting representation or is for an input representation that is used in the settings? that is the key.

About the `mattermost-redux/utils/helpers`, yes I think I express wrongly my point there, the idea is they don't need any data

[2019-07-02 20:38] jespino commented on #10465
By the way, there is a component that have access to the store, but needs to be removed from the widgets library or redesigned to not use it.

[2019-07-02 20:41] #11345 closed

[2019-07-02 20:46] sdcaulley commented on #10465
@jespino Thank you for the clarification.  I am very new to this code base, so I am still working on the thought processes behind where components are placed.  Looking at how the InteractiveDialog component is currently set up, and where it is currently pulling its elements from, the `components/widgets/settings` seems to be the best place.  It would at least be following the already established p

[2019-07-02 20:55] jespino commented on #10465
@sdcaulley that works for me. Let me know if you have any other questions 😊

[2019-07-02 21:37] hanzei commented on #9729
Thanks @rexredinger

[2019-07-02 23:04] maruTA-bis5 commented on #11310
I see. I'm waiting for 5.14 release.
Thank you for investigate issue.

[2019-07-02 23:04] #11310 closed

[2019-07-03 00:49] adzimzf commented on #11463
Hi, I'll take care of this issue

[2019-07-03 01:19] harshilsharma63 commented on #11329
@amyblais sorry about the delay in responding.

I've created a [channel on pre-release](https://pre-release.mattermost.com/core/channels/gh-11329-demo#) for demonstrating this and have added you in there as well. You can try it out over there.

I've found that the what I've described above only hapenns if the bot has been added to the current team.

So I added `Surveybot` bot user to `Contributors

[2019-07-03 03:10] Druthi commented on #10470
@hanzei No questions at the moment! This is my first issue so looking through the docs and getting a feel of the process.

[2019-07-03 06:11] mjthomp95 commented on #11464
I can do this one.

[2019-07-03 09:53] mihai-satmarean opened #11500 ""app/webhook.go:113","msg":"Event POST failed, err=invalid character '<' looking for beginning of value"}"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2019-07-03 11:16] #11396 closed

[2019-07-03 11:19] mihai-satmarean commented on #11500
I had tapped to the wrong port.

[2019-07-03 11:19] #11500 closed

[2019-07-03 12:35] #11338 closed

[2019-07-03 13:05] #11387 closed

[2019-07-03 13:16] hmhealey commented on #11194
I think we can just ignore unicode emojis that we don't support the same way that we handle invalid input (either by ignoring them or returning an error). I don't think there's much else we can do for those until the system emojis are updated.

[2019-07-03 13:47] phillipahereza commented on #11452
I will do this 😀

[2019-07-03 14:28] amyblais commented on #11329
Thank you, ticket here: https://mattermost.atlassian.net/browse/MM-16744.

[2019-07-03 14:55] jespino commented on #11464
Awesome! Thanks @mjthomp95! :tada:

[2019-07-03 14:56] jespino commented on #11463
Awesome, Thanks @adzimzf! :tada:

[2019-07-03 14:57] jespino commented on #11452
Awesome, Thanks @phillipahereza! :tada:

[2019-07-03 15:41] grundleborg commented on #8886
@hanzei just to let you know that Katie and I are working on a proposal for updating all the text in this file. I'll update here once we have a full draft ready - it might be a while though as there's a lot of internal process it needs to go through.

[2019-07-03 16:38] amyblais commented on #11434
I realized we actually have a ticket for this here: https://mattermost.atlassian.net/browse/MM-15661.

[2019-07-03 18:37] phillipahereza commented on #11457
I'll tackle this one

[2019-07-03 18:47] hanzei commented on #8886
Thank you very much for the update @grundleborg :tada:

[2019-07-03 19:15] Bobonium opened #11503 "Gitlab SSO different domain for auth-,token- and userapi- endpoint not working"
#### Summary
GitLab SSO does not allow different domains for the User API Endpoint, Auth Endpoint and Token Endpoint.

#### Steps to reproduce

- Start mattermost with the following environment variables:
[code]
- Go to System Console->Authentication->GitLab
- All 3 entries in the UI will use the same domain instead of the configured ones

#### Expected behavior

Users should be able to use differ

[2019-07-03 19:26] bnoggle commented on #10234
I can take this one.

[2019-07-03 20:38] lieut-data commented on #9458
@SmartHoneybee, thanks for getting the ball rolling on this front! Going forward, the plan will be to first revisit which of the remaining APIs we should port to the plugin API, and then create individual help-wanted tickets to match.

[2019-07-03 20:38] #9458 closed

[2019-07-03 21:02] hanzei commented on #10234
Thanks for taking a shot @bnoggle

[2019-07-03 21:14] LocalHeroPro commented on #11434
So I'm not the only one.

PS.: On contribution forum I used all the voices few months ago.

[2019-07-03 21:16] rvillablanca commented on #11380
I have some time so I can help with this ;)

[2019-07-03 21:20] LocalHeroPro commented on #11371
Thanks for a ticket, but what with changing other users email address from System Console? I still can't make it start working.

[2019-07-03 21:22] rvillablanca commented on #11380
PR created

[2019-07-03 21:23] rvillablanca commented on #11381
Working on this

[2019-07-03 21:33] rvillablanca commented on #11381
PR created

[2019-07-03 21:34] rvillablanca commented on #11449
I'll take this!

[2019-07-03 21:46] rvillablanca commented on #11450
Working on this!

[2019-07-03 21:57] rvillablanca commented on #11451
Working on this! :)

[2019-07-03 22:02] rvillablanca commented on #11454
Working on this

[2019-07-03 22:21] rvillablanca commented on #11455
I'll work on this issue! :+1:

[2019-07-03 22:31] rvillablanca commented on #11456
Taking this issue :+1:

[2019-07-03 22:42] rvillablanca commented on #11459
Working on this :)

[2019-07-03 22:47] rvillablanca commented on #11460
Working on this :)

[2019-07-03 23:22] amyblais commented on #11371
Do you have email notifications enabled in System Console?

[2019-07-04 05:22] hanzei commented on #11457
Thanks for working on this @phillipahereza :+1:

[2019-07-04 05:26] hanzei commented on #11394
Hey @dvarelap,

Just want to check how your work on this is going. Do you have any questions?

[2019-07-04 05:27] hanzei commented on #11054
@Azero123 Does the answer above solve your problem?

[2019-07-04 05:28] hanzei commented on #11264
Hey @Siddharth-Ashri,

Do you successfully set up your dev environment? Looking forward to your PR.

[2019-07-04 05:28] hanzei commented on #10576
Making this one available for the public again due to inactivity.

[2019-07-04 05:29] hanzei commented on #10573
Hey @composednitin,

How is your work going? Can I help with anything?

[2019-07-04 05:31] hanzei commented on #11052
Hey @Mindaugas-Jacionis,

Did any questions came up while working on this? Looking forward to this feature.

[2019-07-04 05:31] hanzei commented on #9541
Making this one available for the public again due to inactivity.

[2019-07-04 08:05] #11450 closed

[2019-07-04 08:45] ThiefMaster commented on #11079
FWIW, on 5.10 my users never reported issues loading old messages in a channel, and since I updated to 5.12 I had already two users with the problem.

[2019-07-04 09:57] #11454 closed

[2019-07-04 12:14] #11456 closed

[2019-07-04 12:30] #11451 closed

[2019-07-04 12:59] #11469 closed

[2019-07-04 12:59] amyblais commented on #11503
@hmhealey Would you know about this?

[2019-07-04 19:56] Siddharth-Ashri commented on #11264
Hey @hanzei  I've been having some trouble trying to set up the environment I've got the server up and running but for some reason front-end does not show up. I will try again later tonight. and try to upload a PR ASAP

[2019-07-04 20:55] LocalHeroPro commented on #11371
Yes.

[2019-07-04 21:16] krjn commented on #11194
What of the case regarding custom emojis:
 - post sent with emoji as icon
 - a month passes, and the emoji is changed (same name, other image/id)
 - someone looks at the post again

What should happen? I was implementing the URL discovery to be at post retrieval instead of post creation, but, that means the image/emoji could change. If not done this way, though, we'd require deleted emojis to keep

[2019-07-04 22:43] amyblais commented on #11498
Closing this as the ticket was closed as invalid. That server is just configured incorrectly and the SiteURL is set to `master.test.mattermost.com.com`. It will be fixed by removing the second .com.

[2019-07-04 22:43] #11498 closed

[2019-07-04 23:15] amyblais commented on #11371
Do the users get an email to verify their new email address?

[2019-07-05 02:49] a-arias commented on #10576
Hey guys I just created a PR for this issue, please take a look an let me know what you think 💃

[2019-07-05 06:08] #7718 closed

[2019-07-05 07:18] saturninoabril commented on #10576
Great, thanks @a-arias!

[2019-07-05 10:38] AGMETEOR commented on #11439
I will take this

[2019-07-05 12:21] hanzei commented on #11439
Thanks for working on this @AGMETEOR

[2019-07-05 13:30] christianlupus opened #11524 "Login page keeps completely white"
#### Summary
Nothing but a plain white page is displayed on iOS Safari when visiting a mattermost site.

#### Steps to reproduce
Visit the start (home) page of the current mattermost docker image (version ac1da4b0d362 at the time of writing) using Safari on iOS 9.3.5.

#### Expected behavior
The login page is correctly displayed.

#### Observed behavior (that appears unintentional)
Nothing at all

[2019-07-05 13:34] aaronrothschild commented on #11194
I would suggest that it show the current emoji and it doesn't matter that the emoji was deleted.  IF the emoji is deleted, then show the webhook default.  If that value is blank, use the default icon for the profile image (ie:blank profile image).

[2019-07-05 13:39] #11463 closed

[2019-07-05 14:18] #11460 closed

[2019-07-05 14:38] amyblais commented on #11370
Hi @jk2K, would you be able to help with a link to the developer setup documentation you were following for this?

[2019-07-05 14:42] christianlupus commented on #11524
Update: The device is running IOS 9.3.5. Just for reference.

[2019-07-05 14:47] amyblais commented on #11524
Hi @christianlupus, we currently support iOS 11+ versions: https://docs.mattermost.com/install/requirements.html#mobile-apps.

[2019-07-05 15:12] noxer commented on #9399
I'd like to take this one...

[2019-07-05 15:27] noxer commented on #9541
I´ll try to implement this one.

[2019-07-05 16:05] hanzei commented on #9541
Thanks @noxer :+1:

[2019-07-05 17:35] lieut-data opened #11530 "Check Go version in Makefile"
#### Summary
Newer community members often stumble over our Go version requirements. Let's add a Makefile check that asserts the currently required version to help improve discoverability.

#### Steps to reproduce
- Install Go 1.11 or earlier
- make run-sever

#### Expected behavior
Clear error message

#### Observed behavior (that appears unintentional)
Unexpected compilation errors

[2019-07-05 17:36] Hyaxia commented on #11530
Will try to tackle this one :)

[2019-07-05 17:37] lieut-data commented on #11530
Thank, @Hyaxia!

[2019-07-05 17:57] #11455 closed

[2019-07-05 18:20] #10676 closed

[2019-07-05 18:20] saturninoabril commented on #10676
Thanks @Jonany for your contribution!

[2019-07-05 18:36] giorgosdi commented on #8942
@hanzei yeah sorry about the late of my response. So as @jespino mentioned it will be a series of PRs. The code is more or less there, I just need to find some time to do it 😬

[2019-07-05 19:19] #11457 closed

[2019-07-05 20:02] LocalHeroPro commented on #11371
No.

[2019-07-05 20:03] rexredinger commented on #9729
I'm sure this has never been said before, but accessibility is hard. 😸
For starters, `FireFox + OSX VoiceOver + aria-live = Does Not Work` so I switched to ChromeVox.

**Context:**
Developing against the webapp,
OSX (10.14.5),
Chrome Version 75.0.3770.90 (Official Build) (64-bit)
Using ChromeVox

I tried applying `role="log"` along with `aria-live="assertive"` to the `post-list` div.  It technical

[2019-07-05 20:34] lieut-data commented on #11193
Thanks again, @zkry!

[2019-07-05 20:43] hmhealey commented on #11503
That's definitely done on purpose since most people will use the same domain name for each one of those. I believe we did it that way because people were having trouble setting those correctly. It's been like this for quite a while.

Regardless of what it shows in the System Console, it should keep whatever values you set with environment variables though, so it's simply a UI bug.

@Bobonium How i

[2019-07-05 20:56] Bobonium commented on #11503
Ah OK I will double check that then,  to be honest I didn't bother trying to login after I saw the incorrect values in the UI.
To be more precise about my setup it's a k8s cluster so I just don't want unnecessary communication through the Internet.

I can test if it's working in a few days as I'm traveling currently.

[2019-07-05 22:03] flakjacket95 opened #11532 "Slack Import Broken"
#### Summary
Running a slack import does not import any data; no users (besides importer user), no channels, no messages.
Mattermost Version: 5.12.1
Database Schema Version: 5.12.0
#### Steps to reproduce
1. Generate a stock export from Slack
2. Use UI and/or CLI to attempt to import the data.
3. Review output for error messages/results. Check no data imported.

#### Expected behavior
All channels

[2019-07-05 22:22] amyblais commented on #11532
Hi @flakjacket95, can you help share all the errors and log errors that you see?

[2019-07-05 22:32] flakjacket95 commented on #11532
Sure, the only output I see is the below:
[code]

I don't see any other error logs anywhere related to the import.

[2019-07-05 22:32] amyblais commented on #11371
@LocalHeroPro You can send log errors and config settings via email at amy@mattermost.com or via our [community server](https://community.mattermost.com) at @amy.blais.

[2019-07-06 00:24] Siddharth-Ashri commented on #11264
Hi @hanzei  I am having issues setting up my dev environment, where can I get some help? I have tried asking in the contributor community but I have not yet received a response.

[2019-07-06 02:12] #10576 closed

[2019-07-06 02:13] saturninoabril commented on #10576
Thanks @a-arias! PR has been merged.  Closing this issue now.

[2019-07-06 06:56] eshyong commented on #10276
Thanks @saturninoabril. Created a PR [here](https://github.com/mattermost/mattermost-webapp/pull/3064). Haven't yet gotten to signing the CLA, but the code can be reviewed in the meantime.

[2019-07-06 07:05] #11449 closed

[2019-07-06 10:38] jespino opened #11534 "Migrate "Plugin.List" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:41] jespino opened #11535 "Migrate "Plugin.DeleteAllExpired" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:47] jespino opened #11536 "Migrate "Plugin.DeleteAllForPlugin" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:47] jespino opened #11537 "Migrate "Plugin.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:51] jespino opened #11538 "Migrate "Plugin.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:52] jespino opened #11539 "Migrate "Plugin.CompareAndSet" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:52] jespino opened #11540 "Migrate "Plugin.SaveOrUpdate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11541 "Migrate "CommandWebhook.TryUse" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11542 "Migrate "CommandWebhook.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11543 "Migrate "CommandWebhook.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11544 "Migrate "Team.GetUserTeamIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11545 "Migrate "Team.UserBelongsToTeams" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11546 "Migrate "Team.GetTeamMembersForExport" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11547 "Migrate "Team.GetAllForExportAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11548 "Migrate "Team.AnalyticsGetTeamCountForScheme" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11549 "Migrate "Team.ClearAllCustomRoleAssignments" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11550 "Migrate "Team.ResetAllTeamSchemes" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11551 "Migrate "Team.MigrateTeamMembers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11552 "Migrate "Team.GetTeamsByScheme" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11553 "Migrate "Team.UpdateLastTeamIconUpdate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11554 "Migrate "Team.RemoveAllMembersByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11555 "Migrate "Team.RemoveAllMembersByTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:53] jespino opened #11556 "Migrate "Team.RemoveMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-06 10:55] phillipahereza commented on #11555
I'll take this one

[2019-07-06 10:55] AGMETEOR commented on #11556
Hello, I will take this.

[2019-07-06 10:58] jespino commented on #11556
Awesome! :tada:

[2019-07-06 10:58] jespino commented on #11555
Awesome, Thanks @phillipahereza! :tada:

[2019-07-06 13:11] alejandrosame commented on #11554
I'd like to take this one.

[2019-07-06 13:35] Hyaxia commented on #11546
Will tackle this one

[2019-07-06 13:50] jespino commented on #11554
Great! Thanks @alejandrosame! ✨

[2019-07-06 13:51] jespino commented on #11546
Great! Thanks @Hyaxia! ✨

[2019-07-06 14:47] iamxvbaba opened #11558 "mattermost-webapp build error."
#### Summary
mattermost-webapp build failure.
#### Steps to reproduce
windows 10
node: v10.16.0
npm: 6.9.0
1.git clone https://github.com/mattermost/mattermost-webapp.git && cd mattermost-webapp
2.make test
#### Expected behavior
success.
#### Observed behavior (that appears unintentional)
error log:
3341 silly saveTree `-- zen-observable@0.8.14
3342 verbose stack Error: Command failed: git clone

[2019-07-06 16:31] alejandrosame commented on #11553
Hi! I'd like to take this one.

[2019-07-06 16:32] jespino commented on #11553
Great! Thanks @alejandrosame! 🎉

[2019-07-06 17:55] Hyaxia commented on #11547
Will take this one :)

[2019-07-06 18:02] jespino commented on #11547
Awesome! Thanks @Hyaxia! 🎉

[2019-07-06 18:29] Hyaxia commented on #11552
Will take this one :)

[2019-07-06 19:21] keaton185 commented on #11550
🙋‍♂ I'll take this one.

[2019-07-06 21:12] hanzei commented on #11552
Thanks @Hyaxia

[2019-07-06 23:23] rprobotics commented on #11558
Can you confirm how much of the path "/cygdrive/e/xuhui/nodejs/node_cache/_cacache/tmp/git-clone-2fd769c4/E:\xuhui\nodejs\node_cache_cacache\tmp\" exists?

I just installed npm/nodejs on Windows 10 and everything built correctly for me. I see that the mattermost directory is on your D:\ drive, and node.exe is on E:\, it seems like a pathing problem most likely.

[2019-07-07 02:32] iamxvbaba commented on #11558
Thank you. I will try it.

[2019-07-07 02:49] a-arias commented on #10367
I'm going to take this ticket 💃

[2019-07-07 02:55] a-arias commented on #10783
I'm going to work on this one 🔢

[2019-07-07 05:52] hanzei commented on #10783
Thanks for taking a shot @a-arias :rocket:

[2019-07-07 09:48] Willyfrog commented on #11544
Hi! I'd like to take this one!

[2019-07-07 10:02] jespino commented on #11544
Great! Thanks @Willyfrog! :tada:

[2019-07-07 10:13] #11546 closed

[2019-07-07 10:31] hanzei commented on #10328
@lieut-data Gentle reminder about the question above

[2019-07-07 10:40] phillipahereza commented on #11551
@jespino I'll work on this too

[2019-07-07 10:46] phillipahereza commented on #11543
I'll work on this one

[2019-07-07 12:44] mzaks commented on #9762
I'm taking this!

[2019-07-07 12:59] hanzei commented on #9762
Thanks @mzaks. Let us know, if you have any questions.

[2019-07-07 13:10] #10974 closed

[2019-07-07 13:20] mzaks commented on #9762
@hanzei I actually have one :)
I did the conversion already and just a couple of minutes ago I had a look at https://github.com/mattermost/mattermost-redux/pull/849
Where there is a similar issues which I stumbled upon: `ActionFunc` being asynchronous.
I already migrated all the function to be `async`, but than I read the discussion and it seems to me that people are rather in favour of changing t

[2019-07-07 13:46] mzaks commented on #9762
I did some testing. If you define the `Hunk` type as following:

[code]

Than there is no need for `async` and no need for `{data: true}`.
Which were both discussed as negative changes in the other PR.

[2019-07-07 15:07] saturninoabril opened #11568 "UI Automation: Write an automated test using Cypress for "Use keyboard navigation in emoji picker""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 15:07] saturninoabril opened #11569 "Write an automated test using Cypress for "RHS does NOT show Flagged Posts and Recent Mentions in a channel the user was removed from""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 15:07] saturninoabril opened #11570 "UI Automation: Write an automated test using Cypress for "Reply to older message""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 15:07] saturninoabril opened #11571 "Write an automated test using Cypress for "Replying to an older post by a user that has no content (only file attachments)""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 15:07] saturninoabril opened #11572 "Write an automated test using Cypress for "Replying to an older bot post that has no post content and no attachment pretext""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 15:07] saturninoabril opened #11573 "UI Automation: Write an automated test using Cypress for "Filtered emojis are sorted by recency, then begins with, then contains (alphabetically within each)""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 15:07] saturninoabril opened #11574 "Write an automated test using Cypress for "Replying to an older bot post that has some attachment pretext before the message attachment""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-07 17:50] #11381 closed

[2019-07-07 19:55] #11553 closed

[2019-07-07 20:30] rexredinger commented on #9729
New wrinkles.

Introducing a live zone means also having some clue about what has and hasn't been read. Why?

Because every update to the chat log, as it is implemented, represents a change of the entire log.  This means the whole thing gets reread after every new post.  To avoid rereading everything, we could push copies of new incoming posts to a live-region that is pushed off the page (it is st

[2019-07-08 06:05] phillipahereza commented on #11537
I'll do this one

[2019-07-08 06:24] jespino commented on #11537
Awesome! Thanks @phillipahereza! ✨

[2019-07-08 06:46] #11380 closed

[2019-07-08 08:10] #11547 closed

[2019-07-08 08:30] phillipahereza commented on #11538
I'll also work on this

[2019-07-08 08:40] jespino commented on #11538
Great!

[2019-07-08 08:51] AGMETEOR commented on #11439
@hanzei I asked for some more clarity on this via the ticket comments. Do you mind taking a look?

[2019-07-08 08:52] AGMETEOR commented on #11551
@jespino let me give this a shot

[2019-07-08 09:00] jespino commented on #11551
@AGMETEOR sure, go ahead. Thanks! :tada:

[2019-07-08 09:05] phillipahereza commented on #11534
I'll also work on this

[2019-07-08 09:07] jespino commented on #11534
Awesome! thanks @phillipahereza! :dancing_women:

[2019-07-08 09:32] #11558 closed

[2019-07-08 09:52] phillipahereza commented on #11535
I'll work on this one too

[2019-07-08 10:07] MaxValue commented on #1874
I am still seeing this error. Unfortunately I can't post on your Jira, so I hope I am heard here.
The real reason behind this is, is that you set the `accept` attribute of the `input` element for the picture upload to `.jpg,.png,.bmp` It should be `.jpg,.jpeg,.png,.bmp`.
From what I gathered from the feedback in the Jira ticket, some browsers probably interpolate `.jpg` to `.jpeg` and that is prob

[2019-07-08 11:02] jespino commented on #11535
Awesome! Thanks @phillipahereza! :tada:

[2019-07-08 11:13] #11538 closed

[2019-07-08 11:50] #11352 closed

[2019-07-08 11:56] rajiv-k commented on #11549
@jespino I can take this up.

[2019-07-08 11:57] jespino commented on #11549
Sure! Go for it @rajiv-k! 🎉

[2019-07-08 14:31] amyblais commented on #11318
### v5.13 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.13.0-rc2/mattermost-team-5.13.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2788/files)

[2019-07-08 15:35] #11534 closed

[2019-07-08 16:12] phillipahereza commented on #11536
@jespino I'll work on this

[2019-07-08 16:35] jespino commented on #11536
Cool. Thanks @phillipahereza! :tada:

[2019-07-08 16:46] #11174 closed

[2019-07-08 18:08] noxer commented on #11548
I'll do that

[2019-07-08 18:09] jespino commented on #11548
Awesome. Thanks @noxer! :tada:

[2019-07-08 18:10] #11544 closed

[2019-07-08 18:14] #11467 closed

[2019-07-08 18:16] #11382 closed

[2019-07-08 18:31] #11554 closed

[2019-07-08 18:54] noxer commented on #11545
I'll do it.

[2019-07-08 18:55] jespino commented on #11545
Thanks @noxer! :tada:

[2019-07-08 19:11] lpadgett commented on #11539
I'll work on this!

[2019-07-08 19:19] #11470 closed

[2019-07-08 19:28] jespino commented on #11539
Great! Thanks @lpadgett! 🎉

[2019-07-08 19:30] #11552 closed

[2019-07-08 19:30] #11088 closed

[2019-07-08 20:45] nikkilocke opened #11590 "Create channel Api call fails if Api is logged in with username and password."
#### Summary
Create channel Api call fails if Api is logged in with username and password.

#### Steps to reproduce
If I use the api to login using username and password, any attempt to create a channel fails with `401 Unauthorized`, and the json:

		  "id": "api.context.session_expired.app_error",
		  "message": "Invalid or expired session, please login again.",
		  "detailed_error": "",
		  "req

[2019-07-08 21:01] #11550 closed

[2019-07-08 21:03] #11545 closed

[2019-07-08 22:40] #11556 closed

[2019-07-08 23:28] amyblais commented on #11532
Hi @flakjacket95, I can ask a dev about this. In the meanwhile, what types of messages and channels did you import? Another point is that we don't currently support messages of sub-type thread_broadcast, but not sure if these are the types of messages your were importing.

[2019-07-08 23:32] amyblais commented on #11590
@maruTA-bis5 @hanzei Do you know if this is a bug?

[2019-07-09 02:19] rvillablanca commented on #11540
I'll work on this :)

[2019-07-09 02:41] rvillablanca commented on #11541
I'll grab this issue

[2019-07-09 02:41] a-arias commented on #11573
Going to work on this one since I love emojis :p

[2019-07-09 03:09] rvillablanca commented on #11542
PR created for this issue. Sorry, I forgot to grab this first

[2019-07-09 03:18] rvillablanca commented on #11543
I'll grab this one

[2019-07-09 04:36] RajatVaryani commented on #9769
Bumping up!

[2019-07-09 05:52] jespino commented on #11573
Thanks @a-arias! :dancer: 🎉🍧🎊

[2019-07-09 10:55] jespino commented on #11555
Manually merged

[2019-07-09 10:55] #11555 closed

[2019-07-09 11:50] #11466 closed

[2019-07-09 11:55] carmo-evan commented on #10702
I apologize, but the PR is outdated and I currently don't have the capacity to finalize this.

[2019-07-09 12:16] flakjacket95 commented on #11532
Thanks. The channels are all marked as public. I didn't check all messages, but haven't seen any  thread_broadcast types yet. Mostly what I see are group_join and just message. And none of the messages come through at all, which doesn't seem to be quite right. The structure I'm seeing is below:
[code]
And here is an example channel. These did properly import one time, but, would not import into a

[2019-07-09 13:07] jasonblais commented on #10702
@carmo-evan no worries, thanks for the heads up! I've referenced your PRs in the help wanted issue and added `Up For Grabs` label back. If you'd like, you may close the PRs you opened

[2019-07-09 13:09] jasonblais commented on #9769
@jespino wondering if you're open to taking a look at the above question?

[2019-07-09 13:36] christianlupus commented on #11524
@amyblais Although I would prefer the web version over the installing the app, you merely tell me that older devices will simply put not be supported and that there is no chance/trick/workaround to make things working, right?

[2019-07-09 14:00] irbrad commented on #11568
I'm going to take a look at this one.

[2019-07-09 14:01] saturninoabril commented on #11568
Sure, thanks @irbrad!

[2019-07-09 14:14] amyblais commented on #11524
Hi @christianlupus, you mentioned your app version so I may have misunderstood. What server version are you on?

[2019-07-09 14:47] amyblais commented on #11178
Closing as this has been fixed for upcoming v5.14 release, which will be released on August 16th.

[2019-07-09 14:47] #11178 closed

[2019-07-09 15:15] #11535 closed

[2019-07-09 15:19] #11086 closed

[2019-07-09 15:24] svelle commented on #11532
Hey @flakjacket95,
If just nothing get's imported I'd first check if the file structure is correct.
Could you maybe post a picture of the folder tree for the zip archive with your slack export? (of course with all sensitive data redacted or censored in case there is any).

[2019-07-09 15:27] #11459 closed

[2019-07-09 16:21] #11084 closed

[2019-07-09 16:30] jespino commented on #11158
No news since 25 days ago. I'm opening again this ticket to the public.

[2019-07-09 16:31] jespino commented on #11394
No news in the last 14 days, I'm opening it again to the community.

[2019-07-09 16:32] jespino commented on #11452
Fixed by #11501

[2019-07-09 16:32] #11452 closed

[2019-07-09 16:33] jespino commented on #11458
@Inconnu08 Any news here?

[2019-07-09 16:35] jespino commented on #11461
@Inconnu08 Any news here?

[2019-07-09 16:35] jespino commented on #11462
@Inconnu08 Any news here?

[2019-07-09 17:30] irbrad commented on #11571
I'm going to jump on this issue.

[2019-07-09 17:31] saturninoabril commented on #11571
Sure, thanks @irbrad

[2019-07-09 19:08] lieut-data commented on #10328
I've filed https://mattermost.atlassian.net/browse/MM-16888 to track the requisite migration changes. I think we can resolve this issue.

[2019-07-09 19:08] #10328 closed

[2019-07-09 19:08] lieut-data commented on #10328
(Thanks again, @brunoenten!)

[2019-07-09 23:10] Hyaxia commented on #11158
Will tackle this one :)

[2019-07-10 01:02] jasonblais commented on #9762
@jespino or @hmhealey wondering if you'd be able to help on the above?

[2019-07-10 01:28] imisshtml commented on #11438
I'd like to work on this one please

[2019-07-10 02:18] irbrad commented on #11570
This is similar to #11571 so I'm going to take this one as well.

[2019-07-10 05:38] jespino commented on #11158
Awesome, thanks! 🎉

[2019-07-10 06:41] imisshtml commented on #11438
For this issue, step 2 on the repro says to Reset Cache, is this the 'Delete Documents & Data', the Safari Cache or some other? I'm attempting to replicate and not able to so far.

[2019-07-10 06:49] jespino commented on #11543
Fixed here: #11595

[2019-07-10 06:50] #11543 closed

[2019-07-10 06:51] jespino commented on #11542
Fixed in #11594

[2019-07-10 06:51] #11542 closed

[2019-07-10 06:52] jespino commented on #11540
Fixed in #11592

[2019-07-10 06:52] #11540 closed

[2019-07-10 06:52] jespino commented on #11541
Fixed in #11593

[2019-07-10 06:52] #11541 closed

[2019-07-10 07:00] jespino commented on #11539
Sorry, looks like this was fixed by other PR done by a core developer :(, here #10634

[2019-07-10 07:00] #11539 closed

[2019-07-10 08:24] jespino commented on #9762
@mzaks sorry the delay in my reply, I think allowing sync/async functions would be a good thing, but I would keep the `ActionResult` type because enforces consistency in the returns, and I prefer that.

Your definition, I think is not exactly what is expected. If I'm right, that allows you to return async function that return an `ActionResult` or a sync function that returns `void`. I would sugges

[2019-07-10 08:39] mzaks commented on #9762
@jespino No worries about the delay.

Regarding the `Thunk` type, I specified the return type as `void` based on the patterns I saw in the `websocket.js` file. In `websocket.js` there is a certain "class" of functions which "dispatch schedulers" and by this I mean they call `dispatch` based on some logic without waiting for the response. There are many such functions starting from here:
https://gi

[2019-07-10 08:43] jespino commented on #9762
I think if the function is just "fire and forget" you still can return the `{data: true}` as a result. My concern is about being too permissive in a type to allow to express this case and then end up returning wrongly in other places. I prefer a bit extra data here. for me, if the action is a "fire and forget" as soon as you fire the action, you succeed, so... `{data: true}` looks sensible to me.

[2019-07-10 08:46] #11453 closed

[2019-07-10 08:47] mzaks commented on #9762
Than it is settled 😀. I will add `{data: true}`.

[2019-07-10 08:50] jespino commented on #9762
Thanks! :tada:

[2019-07-10 09:08] shochdoerfer opened #11603 "Not all messages show up on all devices"
We upgraded a few days ago to 5.12.2 and have a problem now that sometimes messages do not appear properly on different devices. E.g. messages show up on Mattermost on my mobile phone but not on the Desktop client. Refreshing the Desktop client does not help. For different user different channels are affected and some users also have the problem with alternative clients (e.g. Rambox).

[2019-07-10 10:39] #11551 closed

[2019-07-10 10:55] AGMETEOR commented on #11394
@jespino I will take this

[2019-07-10 12:10] jespino commented on #11394
@AGMETEOR cool!

[2019-07-10 12:12] AGMETEOR commented on #11394
@jespino thank you. I just raised a PR

[2019-07-10 12:26] phillipahereza commented on #11458
@jespino can I take this if @Inconnu08 isn't going to work on it?

[2019-07-10 12:36] #11475 closed

[2019-07-10 12:52] Inconnu08 commented on #11458
I'm on it

[2019-07-10 12:53] Inconnu08 commented on #11461
Will PR in a few hours

[2019-07-10 13:21] amyblais commented on #11603
Hi @shochdoerfer, would you be open to sharing reproduction steps, environment details, and server log errors?

[2019-07-10 13:24] amyblais commented on #11152
I'll close this for now, but please reopen this issue once you have upgraded and tested this issue. If the issue persists, please help with more information about your environment and any log errors,

[2019-07-10 13:24] #11152 closed

[2019-07-10 13:34] licaon-kter commented on #11152
Yeah, I skipped 5.12, and went to 5.12.1, and yes, appears fixed, thanks.

[2019-07-10 14:39] tarabanton commented on #11079
Have same issue as @ThiefMaster and I think that #11603 is related to this.
Sometimes users won't get "fresh" messages or, when added to channel, need to reload page to view old messages.

Also, we have issues with timing out API requests that use this query.
[code]

[2019-07-10 14:40] hmhealey commented on #11194
@jasonblais Thoughts on how this looks? I think it looks good for emojis, but not for other overridden profile pictures since we're suddenly treating them differently than regular profile pictures

[2019-07-10 16:37] lieut-data commented on #11079
Thanks for the heads up, @tarabanton! We have some folks investigating how to proceed -- cc @grundleborg.

[2019-07-10 16:55] collegenetjacob commented on #11603
We have this(?) issue all over the place.  Lots of reports of "mattermoist is exploding".  I see it on the web client right now; all the messages in one or more channels since last time I used the web client are missing.  I can see new messages since I came back.  And everything is still there on my phone.  So if you really do need more info, we can probably provide it (but I hear through backchan

[2019-07-10 17:07] shochdoerfer commented on #11603
We have upgraded to 5.12.3 this afternoon and the problem still persists. For me personally things are working fine on mobile (standard Mattermost app, nothing custom), on the web but fails von Rambox. So far just one specific channel is the problem, other channels seem to work fine. Rambox has two options "Clear Cache" & "Clear Local Storage". After using both and logging out & in again, things a

[2019-07-10 17:12] collegenetjacob commented on #11603
Users report they can refresh by force quitting the phone app or restarting the desktop app, but forced refresh doesn't seem to do it for the web app.  Perhaps it's stored on the server with the user's session.

[2019-07-10 17:15] shochdoerfer commented on #11603
Good catch, yes forcing a refresh did also not work in the web app & in Rambox for me.

[2019-07-10 17:42] amyblais commented on #11603
@shochdoerfer @collegenetjacob Does this describe your issue:

A channels gets marked unread, you switch to that channel, but there are no new messages. After refresh or clearing cache, the new messages in that channel appear.

[2019-07-10 17:51] grahamj42 commented on #11475
@streamer45, @jespino Thank you for your rapid response.

[2019-07-10 17:55] collegenetjacob commented on #11603
I haven't seen it when a channel is unread (but from reports we've received that's probably true).  I resumed an existing web client session that had not been loaded for some days and all the messages from that time were missing from the channel I had up when I closed the browser.

Shift refreshing the browser window didn't fix it.  Closing and restarting the browser didn't fix it.  Logging out an

[2019-07-10 18:00] amyblais commented on #11603
We are currently investigating this report and it might be related: https://github.com/mattermost/mattermost-server/issues/11079.

[2019-07-10 18:14] shochdoerfer commented on #11603
#11079 is not an issue in our case, the channel is newly created and contains maybe 100 - 200 messages.

The channel also does not get marked unread in my case. It looks like I have read all messages in the channel. Click on it and I can see the messages I read last but not the newer ones. I can't recall if I was just missing the last message or multiple ones.

[2019-07-10 18:25] tarabanton commented on #11603
In my case this description also correct. Appears even in PM.

[2019-07-10 18:27] collegenetjacob commented on #11603
We had a user report if you know about a missing message and can find it in search, then jumping to it in the channel via the search results will force the channel to refresh and gain back the missing messages.

[2019-07-10 18:39] amyblais commented on #11603
Are there any log error messages that any of you are seeing?

[2019-07-10 18:41] collegenetjacob commented on #11603
Nothing at all in ours.  Well, there's tons of the usual stuff but nothing new/unusual.

[2019-07-10 18:46] shochdoerfer commented on #11603
No log error messages here that would point to the source of the problem. That's why I am thinking it might be a frontend issue, maybe some caching problem.

[2019-07-10 18:54] #11536 closed

[2019-07-10 18:55] #11464 closed

[2019-07-10 18:59] #10958 closed

[2019-07-10 19:01] siddhant-mohan commented on #8714
getting same error

logs:
---------START-HTTP---------
HEAD / HTTP/1.1
Host: ac-mattermost-assets.s3.dualstack.us-east-1.amazonaws.com
User-Agent: MinIO (linux; amd64) minio-go/v6.0.23
Authorization: AWS4-HMAC-SHA256 Credential=**REDACTED**/20190710/"us-east-1"/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=**REDACTED**
X-Amz-Content-Sha256: e3b0c44298fc1c149afbf4c8

[2019-07-10 19:27] collegenetjacob commented on #11603
I can't say for certain but it seems like having multiple clients logged in at one time might be involved in the problem.  I asked our userbase and nobody who always uses just a single client reported the problem (but the majority case is probably at least two clients).

[2019-07-10 22:13] lpadgett commented on #11539
Not a problem! I was slightly confused when I looked at it since everything seemed done. I'll find another issue to work on.

[2019-07-10 22:44] jasonblais commented on #11194
I'm wondering why we need to special case it for emojis..what happens if I have a trophy as my profile pic? Does it get cut off because of the circular border?

I agree that the trophy emoji looks fine, but I worry we'll have cases where it looks inconsistent, e.g. when custom emojis themselves are rectangular.

[I wonder why our profile pics are round..I like the more rectangular shape. But that'

[2019-07-10 23:52] scottleedavis commented on #10336
@hanzei after working sometime trying to go go-exif to strip exif information, I came across a simpler solution using the `image` lib to decode => encode images which by default strips the exif information out.
https://github.com/scottleedavis/mattermost-plugin-noexif

Currently however, only jpg/jpeg and png images are supported.  Tiff appears to not strip the information.

What this plugin suppo

[2019-07-11 09:15] christianlupus commented on #11524
I am running on Mattermost 5.8.0. Or do you mean the deployment server or similar?

[2019-07-11 10:36] torgeirl commented on #10878
Hi @amyblais. Tried it now. LDAP works after upgrading v4.10 to v5.0, then stops working after upgrading v5.0 to v5.9. Logs:

[code]

[2019-07-11 12:52] #11394 closed

[2019-07-11 13:54] #11549 closed

[2019-07-11 15:08] amyblais commented on #11524
@christianlupus A few more questions:

1. What Safari version are you on?
2. Do you see this issue on Safari when you use desktop app or webapp on a computer?
3. Are there any other users on your server who can confirm if they are seeing the same issue on iOS 11+?

[2019-07-11 16:17] tekminewe commented on #11436
hi @esethna i would like to help on this issue

[2019-07-11 16:18] rexredinger commented on #9729
**General**

- There are a lot of `divs` and nested `spans` that make it hard to navigate with a screen reader.  Flattening the DOM, where possible would be really helpful.
- More ubiquitous and semantic `aria-label` usage could go a long way toward making MM client screan readable.
- For buttons and links, try to use descriptive imperative language, describing what the button or link does.
- Most

[2019-07-11 16:58] flakjacket95 commented on #11532
Sure, using the same changed channel name as the above `channel_name` to represent one channel of data:
[code]

[2019-07-11 17:28] icelander commented on #10878
Hi @torgeirl,

I attempted to reproduce this in a test environment with LDAP when upgrading to Mattermost 5.9 and was unable to reproduce this error. Here are some things to check:

 - Use [this script](https://github.com/mattermost/mattermost-server/blob/master/scripts/ldap-check.sh) to verify that the user can be found in the LDAP server
 - Double check that the `uid` field in LDAP matches the v

[2019-07-11 17:36] trustedsec commented on #11603
I've been running into the same thing at our organization.

[2019-07-11 17:39] amyblais commented on #11603
FYI that our devs are currently on top of investigating issues around missing messages.

[2019-07-11 17:44] amyblais commented on #11079
Ticket was created here: https://github.com/mattermost/mattermost-server/issues/11079.

[2019-07-11 18:01] svelle commented on #11532
Can you confirm that export is a folder inside the archive and the .json files and other folders are not in the root of the archive?

If so you need to repackage the archive for the import to work.

[2019-07-11 18:06] flakjacket95 commented on #11532
No, apologies for the confusion. They are in the root of the archive, not in an export folder. I've updated the above as well

[2019-07-11 18:52] mkraft commented on #10878
No errors for me either during my upgrade test.

[2019-07-11 19:55] mjthomp95 commented on #9399
I see waseem18 finished most of this. I can finish it up with the suggestion from esethna to only link Public Channels.

[2019-07-11 20:21] jasonblais commented on #9399
Great, thanks @mjthomp95!

[2019-07-11 21:44] himynameisdave commented on #11458
Will pick up if you don't have the bandwidth @Inconnu08

[2019-07-11 23:06] amyblais commented on #11366
I'll close this issue for now, but I hope you are open to creating a feature request issue and we can then track this request there,

[2019-07-11 23:06] #11366 closed

[2019-07-12 00:09] avdrav commented on #10733
Just tried to use the droplet for MM that appears in DO's marketplace, but I am unable to connect to the web admin interface (port 8605).

I am able to ping/ssh into the box.  Is there something I am missing to get this to work?

[2019-07-12 00:40] clarfon commented on #11366
Hi,

I consider this a bug, not a request for a new feature, but I can try to get around to posting that at some point.

[2019-07-12 02:04] furkanmustafa commented on #11603
Experiencing same issue. It started happening after upgrading to 5.12.x (we're currently on 5.12.3).

[2019-07-12 03:54] jasonblais commented on #10733
This is completed, will close, thanks @carmo-evan and @cpanato!

[2019-07-12 03:54] #10733 closed

[2019-07-12 04:14] MrSorcus opened #11613 "Channel Not Found"
#### Summary

[code]

#### Steps to reproduce
Version: 5.12.0
Build Number: 5.12.2-1
Build Date: 2019-07-10 19:28:29
Build Hash: 5.12.2-1 Arch Linux (x86_64)
Build Enterprise Ready: false
DB Version: 5.12.0
Just delete all channels.

#### Expected behavior
Mattermost should works without channels (make them optional).

#### Observed behavior (that appears unintentional)

[code]

[2019-07-12 06:00] RajatVaryani commented on #9769
Can someone please help me close this?

[2019-07-12 06:13] RajatVaryani commented on #10702
@jasonblais Can I own this up?

[2019-07-12 06:30] RajatVaryani commented on #10370
@hanzei Can I own this up?

[2019-07-12 06:37] jespino commented on #9769
@RajatVaryani I'm sorry the delay, yes, I think delete from one team and creating it in another one can be the solution, actually, I would suggest, create it in the another team, if everything goes well, delete the old one. and if something goes wrong, try to revert the action, or at least inform about the final state of the action (if something was created and if something wasn't properly deleted

[2019-07-12 08:12] saturninoabril commented on #11570
Sure and thanks @irbrad!

[2019-07-12 08:14] saturninoabril commented on #10370
Sure and thanks @RajatVaryani!

[2019-07-12 11:42] shochdoerfer commented on #11603
@amyblais any progress? Any help needed? Is it possible to downgrade to 5.12.1 from 5.12.3 easily or where there changes made to the database?

[2019-07-12 12:03] jasonblais commented on #10702
@RajatVaryani certainly, thank you!

[2019-07-12 12:36] amyblais commented on #11603
Our devs are currently on top of investigating issues around missing messages and I have more updates in the next few days. Here are instructions for downgrading: https://docs.mattermost.com/administration/downgrade.html#downgrading-mattermost-server. There were no database changes between 5.12.1 and 5.12.3.

[2019-07-12 12:48] vicp-iq commented on #4324
This behavior seems to be back in the mobile app... Is this the right place to talk about that?

[2019-07-12 12:58] jasonblais commented on #4324
Thanks @vicp-iq! Tagging @amyblais on this report in case it's similar to another one we have

[2019-07-12 14:03] vicp-iq commented on #4324
Oh no!  I got here by searching google for "slack missing messages" and this thread was the first hit!  I didn't realize that this was the wrong place entirely!

[2019-07-12 14:37] amyblais commented on #11613
Hi @MrSorcus, what do you expect to see in the UI in this case?

[2019-07-12 14:44] MrSorcus commented on #11613
Something like `Welcome page`?

[2019-07-12 14:47] jasonblais commented on #4324
@vicp-iq No worries! In case you're curious about Mattermost, you can find out more here :) http://mattermost.com

[2019-07-12 15:04] vicp-iq commented on #4324
Thanks, I'll take a look!

[2019-07-12 15:08] krjn commented on #11194
Yes.

Just to link it here:
 - https://github.com/mattermost/mattermost-mobile/pull/2961#pullrequestreview-259488383 some discussion about the icons.

[2019-07-12 16:20] probabble opened #11616 "Slack Team Import fails to attach files to messages"
#### Summary

Importing Slack team fails to attach files provided by Advanced Slack Exporter.

#### Steps to reproduce
[code]
#### Expected behavior
Attached files should be attached to the messages after import.

#### Observed behavior (that appears unintentional)
A slack team was exported from the normal slack export tool and processed with the slack advanced export tool to collect images and us

[2019-07-12 18:53] amyblais commented on #11613
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-16995.

[2019-07-12 19:04] jasonblais commented on #11194
@krjn Thanks! Didn't notice the discussion there, will post there instead

[2019-07-12 22:06] amyblais commented on #11603
Can people help with more information about their environment?

 - OS and version, device, browser
 - Any notable Mattermost configurations (such as HA, Elasticsearch, image proxy, SSO)

[2019-07-12 22:20] collegenetjacob commented on #11603
Reports here are so broad I'm pretty sure it's roughly any client.  I've personally seen it on the web client in Firefox 60.7.0esr on Linux (Debian 9).
Our Mattermost server is not HA, Elasticsearch, image proxy, or SSO.

[2019-07-12 22:47] amyblais commented on #11603
Fixes submitted for v5.13 and master:

 - https://github.com/mattermost/mattermost-server/pull/11618
 - https://github.com/mattermost/mattermost-server/pull/11619

[2019-07-13 04:49] harshilsharma63 opened #11621 "PNG Image as team icon shows white background"
#### Summary
PNG image set as team icons shows a white background.

#### Steps to reproduce
Use any PNG image with some transparency as team icon and notice a white background appearing on transparent parts.

#### Expected behavior
No forced white background should appear when a PNG image is used as team icon.

#### Observed behavior (that appears unintentional)
A forced white background appear wh

[2019-07-13 06:13] #11458 closed

[2019-07-13 07:51] shochdoerfer commented on #11603
Will there also be a fix for the 5.12.x series or will 5.13 come out soonish?

[2019-07-13 09:13] gamersalpha opened #11622 "Audio activation like discord do ?"
Hello there,

so i m just installed my matermost instance, and work like a charm, litlle problem with android app not working, i m still looking for the reason, but so now my question how activate the video and sound like we can see on discord is a realy cool features ?

?

thanks to all

[2019-07-13 09:59] Inconnu08 commented on #11462
A pull request is coming shortly

[2019-07-13 10:00] Inconnu08 commented on #11458
Yeah, net was down, thanks!

[2019-07-13 16:42] arjitc commented on #11603
@shochdoerfer if I recall correctly a new release comes out on 16th of every month (~3 days)

[2019-07-14 07:19] #10654 closed

[2019-07-14 07:26] hanzei commented on #11439
@AGMETEOR I've pinged two developers to get there input on your question.

[2019-07-14 07:28] hanzei commented on #11436
Thanks for working on this @tekminewe. Let us know, if you have any questions.

[2019-07-14 07:30] hanzei commented on #10336
Thanks for the update @scottleedavis :+1:

I'm deferring these questions to @aaronrothschild, as he is the PM for this area.

[2019-07-14 07:33] hanzei commented on #11438
@esethna Can you help with the questions above?

[2019-07-15 01:55] lieut-data commented on #10654
Thanks again, @RajatVaryani!

[2019-07-15 03:55] RajatVaryani commented on #10654
Most Welcome! Thanks for guidance as well.

[2019-07-15 04:35] RajatVaryani commented on #9769
@jespino Let me try that.

[2019-07-15 09:08] Bobonium commented on #11503
@hmhealey I can now confirm that the values supplied through the configuration are indeed the used ones and this is merely a UI bug.

[2019-07-15 12:16] amyblais commented on #11622
Thanks, appreciate your feedback @gamersalpha,

Would you like to [contribute this idea in the feature request forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please s

[2019-07-15 13:19] tekminewe commented on #11436
hi @hanzei can i have the list of permitted punctuation that allow after or before the emoji?

[2019-07-15 13:19] irbrad opened #11627 "API: `DELETE /plugins/{plugin_id}` responds with a 400 when the plugin doesn't exist."
#### Summary
`DELETE /plugins/{plugin_id}` responds with a 400 when the plugin doesn't exist.

#### Steps to reproduce
Issue a request against the API using either `DELETE /plugins/{plugin_id}` or by using `AdminClient.RemovePlugin(pluginId)` in which the plugin doesn't exist.

#### Expected behavior
A response code of 409 with appropriate body data to assist the application and/or developer with

[2019-07-15 13:37] AGMETEOR commented on #11265
@hanzei I am currently giving this a shot.

[2019-07-15 17:19] amyblais commented on #11613
Hi @MrSorcus, the Jira ticket was closed as it is not possible to delete the Town Square. We are planning to add this possibility with upcoming Guest Accounts feature which is shipping as an Enterprise Edition feature.

[2019-07-15 17:37] amyblais commented on #11603
We are also aiming to cut a v5.12.4 dot release for this today (or by tomorrow latest).

[2019-07-15 17:55] hanzei commented on #11265
Thanks @AGMETEOR

[2019-07-15 18:30] hanzei commented on #11436
@enahum Can you help with the question?

[2019-07-15 18:45] aaronrothschild commented on #10336
Thanks @hanzei , Scott- I love this imgur-ification of images concept. (original purpose of Imgur was to make a privacy conscious image sharing repository for reddit)

@DSchalla What was the original intent of this JIRA ticket?   Was it to ensure there are absolutely no points of PII stored within Mattermost inadvertently?  Or Was it to help ensure the end-user's confidence of privacy? OR was it t

[2019-07-15 18:56] amyblais commented on #11064
Actually, I'm not sure if this is a bug or feature request. Can you help confirm what Mattermost server version you're on?

[2019-07-15 19:01] amyblais commented on #11627
Ticket for reference: https://mattermost.atlassian.net/browse/MM-17006.

[2019-07-15 19:03] amyblais commented on #11621
@harshilsharma I believe this is currently a known issue. It is documented here: https://docs.mattermost.com/help/settings/team-settings.html#team-icon. Let us know if you're interested in submitting a fix for this.

[2019-07-15 19:05] amyblais commented on #11590
@nikkilocke Would you be open to sharing any additional information for us to investigate this report?

[2019-07-15 19:14] enahum commented on #11436
I think @hmhealey can be of more help than me on this one.

@hmhealey would you know?

[2019-07-15 20:14] hmhealey commented on #11503
That's good to hear.

Since this isn't the most common use case, perhaps we leave this as-is for now and maybe revisit it if more people run into it? We have a workaround for it at least since the setting can be changed using environment variables or by editing the config.json directly.

[2019-07-15 22:58] amyblais commented on #11603
v5.12.4 is now released and available to download.

[2019-07-16 03:12] harshilsharma63 commented on #11621
@amyblais here you go - https://github.com/mattermost/mattermost-webapp/pull/3134

[2019-07-16 03:40] rvillablanca commented on #11590
I could not reproduce this issue. After a success authentication I was able to create any channels.

@nikkilocke Maybe you forgot adding the token as bearear authentication when doing the create channel request

[2019-07-16 04:26] rvillablanca commented on #11627
I've created a PR but it seems this would be the only case where a http `409` response code is returned. Maybe this code is appropriate but it seems to be very specific and after having seen the api and the documentation, this kind of errors are returned as 400. Also the error has all required information in order to locate the issue. @jespino what do you think about this ?

[2019-07-16 07:08] shochdoerfer commented on #11603
@amyblais thx! Updating our instance now. Will let you know if the problem still persists. Should I leave the issue open for now?

[2019-07-16 10:07] torgeirl commented on #10878
@icelander, @mkraft: I tested some more, and it seems to me that my issue is cause by Mattermost no longer allowing the connection to our LDAP server to be run unbounded (empty `BindUsername` and `BindPassword`). Is this an intended change?

[2019-07-16 12:47] mkraft commented on #10878
@torgeirl There was a change to a Golang LDAP package that Mattermost uses that broke unauthenticated binds to LDAP. It was [fixed in v5.10](https://github.com/mattermost/enterprise/pull/412).

[2019-07-16 13:06] torgeirl commented on #10878
@mkraft: can't read the PR notes (unavailable to me), but good it's fixed although that doesn't help ESR (v5.9) unfortunately. :disappointed:

Not that the binding error doesn't get printed in logs (`"err_details":""`), which I assume is an implementation oversight.

[2019-07-16 13:08] #11530 closed

[2019-07-16 13:10] #11537 closed

[2019-07-16 13:19] lieut-data commented on #11054
Marking this one as available again due to inactivity.

[2019-07-16 13:20] lieut-data commented on #10289
@kevinetienne, anything we can do to help with your efforts here?

[2019-07-16 13:22] lieut-data commented on #10465
@sdcaulley, anything I can to do help with your efforts here?

[2019-07-16 13:25] jasonblais commented on #10822
Hey @sapnasivakumar, let us know if you have any questions, and whether the Demo plugin helped you to move forward on this issue :)

[2019-07-16 13:42] mkraft commented on #10878
@torgeirl There is an item queued today to determine whether this can be released as a patch to v5.9. I will let you know the outcome (likely later today).

[2019-07-16 13:44] torgeirl commented on #10878
@mkraft: that would be nice, thanks! :crossed_fingers:

[2019-07-16 14:11] nikkilocke commented on #11590
Here is a log of a session where I logged in, received a token, and used it. The first time I tried to POST, it returned Unauthorized. Please can you explain what I am doing wrong?

		Sent -> Method: POST, RequestUri: 'http://ubuntu:8065/api/v4/users/login', Version: 2.0, Content: System.Net.Http.StringContent, Headers:
		{
		  Accept: application/json
		  Accept: text/html
		  Accept: */*
		  Use

[2019-07-16 16:06] esethna commented on #11265
Hi @AGMETEOR, how is this going?

[2019-07-16 20:48] jernst opened #11645 "Reinstalling at the same URL requires users to manually delete all cookies"
In [UBOS](https://ubos.net/) testing, we often install, uninstall and re-install the same app at the same URL. When doing that, the new install uses the old cookies, and that confuses the app. Manual deleting of the cookies fixes it.

I don't know how important this issue is to others, but it would be nice if -- to the unspecting user -- the app wasn't left in a very confusing state saying "No sig

[2019-07-16 21:28] crspeller commented on #11627
@irbrad I don't think that your interpretation of 409 is correct. A 409 implies a conflict. There is no conflict here, the plugin just doesn't exist. I think a generic 400 error is appropriate.

Is there a reason why you are looking for the code to be more specific?

[2019-07-16 22:36] amyblais commented on #11603
Thank you, we can leave this issue open for now,

[2019-07-16 23:10] #11548 closed

[2019-07-17 02:02] #11318 closed

[2019-07-17 06:35] shochdoerfer commented on #11603
No issues so far. Seems the problem is solved.

[2019-07-17 09:03] hanzei commented on #11194
Reopening until https://github.com/mattermost/mattermost-server/issues/11194 is merged.

[2019-07-17 09:49] #9670 closed

[2019-07-17 10:05] mkraft commented on #10878
@torgeirl We will be issuing a patch to v5.9 to fix this.

[2019-07-17 10:21] kix23 opened #11647 "Messages missing in desktop app after standby."
#### Summary
Messages missing in desktop app after standby.

#### Steps to reproduce
1. open Mattermost client
1. put computer in standby mode
1. send messages from other user
1. wake up the standby client
1. don't see received messages due standby time (also no notice about it)
1. clear and reload cache (ctl+shift+r) or wait up to 6 hours (https://mattermost.uservoice.com/forums/306457-general/su

[2019-07-17 11:30] RajatVaryani commented on #11323
Bumping up! @wiersgallak What do you think?

[2019-07-17 13:04] kix23 commented on #11647
Maybe this is a client issue.. but worked fine before last server update.. so who knows?
Maybe a mod can move it?

[2019-07-17 13:07] amyblais commented on #11647
Hi @kix23, this has been fixed in v5.12.4 and v5.13 releases, please upgrade your server to see if your issue resolves.

[2019-07-17 13:09] amyblais commented on #11603
Good to hear it, I'll close this issue for now but if anyone still sees the issue after upgrading, please post here and re-open this.

[2019-07-17 13:09] #11603 closed

[2019-07-17 13:17] hmhealey commented on #11621
I already posted this in the PR, but this is intended as per https://mattermost.atlassian.net/browse/MM-10354

[2019-07-17 13:37] hmhealey commented on #11436
Hi @tekminewe. We allow anything that is considered as a non-word character by the regular expression `\W`. Basically, anything that isn't a letter, number, or underscore.

For reference, here's the PR where we made this change in the web app: https://github.com/mattermost/mattermost-webapp/pull/2382

And here's where the change would have to be made: https://github.com/mattermost/commonmark.js/bl

[2019-07-17 15:51] scottleedavis commented on #10336
Sounds good @aaronrothschild , added the text you recommended.  Happy to make any additional changes as requested.

![Jul-17-2019 08-49-58](https://user-images.githubusercontent.com/2914443/61390602-f4003000-a86f-11e9-8d38-bfceae09852e.gif)

[2019-07-17 15:58] DSchalla commented on #10336
@aaronrothschild The ticket was created as a response of a HackerOne report, where exactly the concern of privacy and leakage of PII was mentioned. It's mostly a security enhancement when open communities want to avoid that people share by mistake their location or other PII. I think supporting TIFF not initially is absolutely acceptable, as you've said it's not the most common format anyway.

Sin

[2019-07-17 19:45] scottleedavis commented on #10336
Sounds good @DSchalla .  I added a configuration option to enable/disable the message.  (disabled by default)

<img width="854" alt="Screen Shot 2019-07-17 at 12 32 22 PM" src="https://user-images.githubusercontent.com/2914443/61406455-bc55b000-a890-11e9-8406-9ec2576c7c27.png">

[2019-07-17 23:22] amyblais commented on #11645
Hi @jernst, what Mattermost server version are you on?

[2019-07-17 23:24] jernst commented on #11645
This has been the same behavior for a long time. Most recently observed in 5.12.4.

[2019-07-18 01:12] #11329 closed

[2019-07-18 05:37] aaronrothschild commented on #10336
@DSchalla Thanks for the context, @scottleedavis I think making the message optional would be a perfect balance if it's not too much of a hassle.

[2019-07-18 06:23] AGMETEOR commented on #11265
@esethna right now I am creating a component that can wrap other components or even some jsx, then trigger a callback that's passed in every time we scroll to the bottom. I have managed to create such a component and trying to hook into the select_teams page.

[2019-07-18 06:24] AGMETEOR commented on #11265
@esethna I should be able to raise a PR for this EOD on Friday :)

[2019-07-18 09:44] kix23 commented on #11647
yes. seems that the update to 5.13 did the trick. thank you.
if it happens again i will reopen.

[2019-07-18 09:44] #11647 closed

[2019-07-18 10:53] kaakaa opened #11659 "Bulk export fails due to missing user"
#### Summary
Bulk export fails with the following error log.

[code]

The cause of this issue is little complex.
If executing the deleting user command, [PermanentDeleteUser](https://github.com/mattermost/mattermost-server/blob/master/app/user.go#L1387) doesn't delete any reactions that deleting user add. So reactions that the deleted user add are left.
After that, when executing bulk export, it c

[2019-07-18 12:55] AGMETEOR commented on #11265
@esethna I can raise a WIP PR but I think I don't have rights to put a `WIP` label

[2019-07-18 13:00] amyblais commented on #11476
Hi @shaforostoff, did the suggestion above help?

[2019-07-18 15:09] #11262 closed

[2019-07-18 15:58] goku321 commented on #10460
Just a heads-up that I am working on the mobile app changes and currently, writing test cases for the changes made.

[2019-07-18 19:36] jimscarver opened #11668 "failure to display author info in 5.12"
#### Summary
Clicking on message author in web or windows app 5.12.4 gets ```Invariant Violation:``` error
#### Steps to reproduce
enter a channels having messages .
Click on avatar or user name of messaged authored by another user.
#### Expected behavior
popup of user info
Describe your issue in detail
user info is only displayed for yourself. Nothing happens for other authors.
#### Observed beha

[2019-07-18 21:55] abunasar commented on #9332
@amyblais is there any update on this? almost all other solutions (rocketchat) has read receipts, why not mattermost?

thanks

[2019-07-18 22:45] amyblais commented on #11668
Hi @jimscarver, can you help clarify what you mean by "user info is only displayed for yourself. Nothing happens for other authors."

Also, can you help with more information about your environment such as OS and version, device and browser?

[2019-07-18 23:24] amyblais commented on #11659
Hi @kaakaa, do you know if this is a new issue and what version did you see this on?

[2019-07-19 00:02] amyblais commented on #11291
This was discussed with product managers. This change is an expected behavior in 5.12, though it is a breaking change and wasn't properly documented. Here is an explanation:

**What change was made:**
Previously image and Youtube previews were requested client-side so they worked regardless of the "Enable link previews" console setting. Link previews on the other hand were requested server-side an

[2019-07-19 07:36] #11461 closed

[2019-07-19 08:57] Hyaxia commented on #10168
Is someone working on this one?

[2019-07-19 10:12] kaakaa commented on #11659
@amyblais
We encountered this issue on v5.11.0, and I confirm steps to reproduce  on `master` branch.
This is the first time for us to execute `export` command, so we don't know whether or not this is new issue.

[2019-07-19 11:07] hanzei commented on #10168
Surely @Hyaxia :+1:

[2019-07-19 11:07] hanzei commented on #10168
No. Do you want to take over this ticket @Hyaxia?

[2019-07-19 11:21] jimscarver commented on #11668
Clicking on myself on a post I authored I see my user info.
![image](https://user-images.githubusercontent.com/3037201/61531277-5eda7400-a9f4-11e9-8962-faea19a51ae8.png)

Clicking on anyone else I do not get the user info and get the error in the javascript console. The results are the same on chrome, firefox and the windows MM client.

We are running under cloudron on ubuntu 18.04.

Looking at th

[2019-07-19 11:27] jimscarver commented on #11668
I found this report of the problem https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/45

We did not have the issue before the latest mattermost update.

[2019-07-19 13:56] amyblais commented on #10878
@torgeirl v5.9.3 patch is now available: https://docs.mattermost.com/administration/version-archive.html.

[2019-07-19 14:41] amyblais commented on #11668
Thank you for finding the report. A workaround is to disable the plugin for now and wait for a fix.

[2019-07-19 14:53] torgeirl commented on #10878
@amyblais: upgraded now, without any other issues. :tada: Thanks, @mkraft!

[2019-07-19 14:53] #10878 closed

[2019-07-19 14:56] torgeirl commented on #10814
I'm unable to reproduce the issue in v5.9.

[2019-07-19 14:56] #10814 closed

[2019-07-19 18:51] jasonblais opened #11675 "Review and update docs on how to install Mattermost Team Edition Helm Chart in GitLab Helm Chart deployment"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-19 18:52] jasonblais commented on #11675
@consideratio wondering if you were interested helping with this ticket? You had previously added excellent comments on the GitLab merge request (https://gitlab.com/charts/gitlab/merge_requests/767)

[2019-07-19 19:22] Hyaxia commented on #10168
@hanzei Then I will try to tackle it.
Not sure how much time it should take, considering I'll have to dive into the plugins side of mattermost which is new to me, but I hope not too long.

[2019-07-19 19:57] Ogek commented on #11627
The 400 HTTP error is good to indicate syntax errors in request.
I think, in this case, the must appropriate error code is 404 because the resource was not found.

[2019-07-19 20:53] hahmadia commented on #9507
Hey, could I have a go at this ticket?
Thanks :)

[2019-07-19 21:54] amyblais commented on #11064
I opened a bug ticket for this earlier and it was changed into an improvement: https://mattermost.atlassian.net/browse/MM-17005.

[2019-07-20 01:18] consideRatio commented on #11675
@jasonblais ah thanks for the mention and encouragement!

I gave it a second pass, I'm quite motivated to help but very low on time. I hope to squeeze some in anyhow. I'm very excited about both GitLab and Mattermost :D

[2019-07-20 02:03] jasonblais commented on #11675
Great, thank you @consideRatio! Definitely understand on time, but all help is much appreciated 🙏 :D

[2019-07-20 07:00] #11194 closed

[2019-07-20 07:32] AGMETEOR commented on #11265
@esethna I have something working, I need to clean it up a little more that's why I still have a draft PR. [Here it is](https://github.com/mattermost/mattermost-webapp/pull/3165)

[2019-07-20 07:34] hanzei commented on #9507
Hey @hahmadia,

Thanks for working on this :+1:

[2019-07-20 11:52] Hyaxia commented on #10168
Sorry for this back and forth, but as time passes I don't think I can manage to finish it in time, got too much to deal with ATM.

[2019-07-20 14:50] steveperjesi commented on #9507
Sure go ahead! I only worked on it for a minute before life happened.
Thanks for picking up my slack 👍

On Fri, Jul 19, 2019 at 4:54 PM Hossein Ahmadian-Yazdi <
notifications@github.com> wrote:

[2019-07-20 19:55] hahmadia commented on #10774
I would like to give a go at this ticket.
Thanks :)

[2019-07-20 20:59] hahmadia commented on #10774
This issue has been fixed and addressed in both the mobile and webapp markdown parsers:
[WebApp Fix](https://github.com/mattermost/marked/pull/13)
[Mobile Fix](https://github.com/mattermost/commonmark.js/pull/8)

[2019-07-20 21:34] hanzei commented on #10774
That was fast, thanks @hahmadia

[2019-07-20 21:39] hanzei commented on #10168
Hey @Hyaxia,

No problem, I added the `Up For Grabs` label back. Thanks for the heads up. :+1:

[2019-07-21 20:01] jasonblais commented on #9016
Scheduled for v5.14 via https://github.com/mattermost/mattermost-server/pull/11022

[2019-07-21 20:01] #9016 closed

[2019-07-21 20:04] jasonblais commented on #9222
@sudheerDev any thought on the latest notes above?

[2019-07-21 20:12] jasonblais commented on #11532
@svelle Anything else we can share to help with troubleshooting?

[2019-07-22 04:28] amorriscode commented on #11442
@hanzei @esethna I had a question about doing the work for this one but never got a reply. Unfortunately I don't have time to complete the ticket now so perhaps we could add the `Up For Grabs` tag back on?

Sorry!

[2019-07-22 12:07] amyblais commented on #9332
Hi @abunasar, I'm not aware of any updates on this. You can follow the progress here: https://mattermost.uservoice.com/forums/306457-general/suggestions/12595398-read-receipts-implement-a-visual-indication-for-m.

[2019-07-22 14:33] amyblais commented on #11627
Hi @Ogek, you can open a PR for that and our devs will review it.

[2019-07-22 16:19] hanzei commented on #7811
Fixed with https://github.com/mattermost/mattermost-webapp/pull/3033

Thank you very much @Willyfrog :tada:

[2019-07-22 16:19] #7811 closed

[2019-07-22 19:40] joeblew99 opened #11681 "Elastic Server is too RAM and CPU hungry for large deployments OnPremise and OnCloud."
#### Summary
For large scale multi site deployments OnPremsie and Cloud we are hitting the limits with Elastic. It takes too much CPU and RAM.

#### Steps to reproduce
Latest production version.

#### Expected behavior
Describe your issue in detail

#### Observed behavior (that appears unintentional)

#### Possible fixes

We could solve this by changing over to the golang equivalent.

I raised thi

[2019-07-22 22:31] esethna commented on #11265
Thanks @AGMETEOR, please keep us informed of your progress

[2019-07-23 06:32] phillipahereza commented on #11462
@Inconnu08 are you still working on this or should I take it on cc @jespino

[2019-07-23 06:40] Inconnu08 commented on #11462
@phillipahereza yes

[2019-07-23 06:59] hahmadia commented on #9507
Completed!
Awaiting code review and style review (I wasn't sure how to style the X button properly so any help and advice would be greatly appreciated since I didn't quite understand how to style a className.)

Thanks 😄

[2019-07-23 13:01] tekminewe commented on #11436
thanks @hmhealey i have created a PR for this, please feel free to review

[2019-07-23 13:48] amyblais commented on #11659
I tried to ask our team about this but didn't get feedback. However, I opened a ticket for this because this has clear reproduction steps: https://mattermost.atlassian.net/browse/MM-17224.

[2019-07-23 14:46] amyblais commented on #11681
Thank you for raising the feature request ticket! Please open a pull request if you are interested / have time to work on this. I'll close this for now as this can be tracked via the uservoice issue,

[2019-07-23 14:46] #11681 closed

[2019-07-23 14:57] hanzei commented on #10686
This still needs to be implemented on mobile.

[2019-07-23 16:22] amyblais commented on #11621
I'll close this issue for now based on the comments on the PR.

[2019-07-23 16:22] #11621 closed

[2019-07-23 16:24] amyblais commented on #11291
Above action items are completed. I'll close this for now,

[2019-07-23 16:24] #11291 closed

[2019-07-23 16:45] #9541 closed

[2019-07-23 18:29] amyblais commented on #11590
Hi @nikkilocke, I asked our team about and got this response from a community member:

You are using ``POST /api/v4/teams/{team_id}/members (Add user to team)``. To create a channel, you would need to use ``POST /api/v4/channels``.

[2019-07-23 19:25] AGMETEOR commented on #11265
@esethna I just took the PR I raised for this from draft... it's now ready for review.

[2019-07-23 20:57] nikkilocke commented on #11590
Thanks for asking. Unfortunately I have obviously not explained the problem very well. In the case of the log I sent you, I was trying to add a user to the team, which also fails in exactly the same way. I suspect all POSTS might be failing if I log on to the Api with username and password instead of using oauth. Perhaps you could tell me what information you need from me to get this problem sorte

[2019-07-23 22:29] hahmadia commented on #10185
I'll take a look into this.
Thanks :)

[2019-07-23 22:34] hanzei commented on #10185
Awesome, thanks @hahmadia :tada:

[2019-07-23 22:37] hanzei commented on #11442
Hey @amorriscode,

I'm sorry for missing your question. Still, thanks for the time you spend with this issue.

[2019-07-24 04:17] hahmadia commented on #10185
@hanzei Completed. Just waiting for a code review and help with a problem I encountered.
Thanks :)

[2019-07-24 11:57] nikkilocke commented on #11590
Herewith a new log, concentrating on the create channel api.
[buglog.txt](https://github.com/mattermost/mattermost-server/files/3426665/buglog.txt)

[2019-07-24 15:34] amyblais commented on #11645
Opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-17283.

[2019-07-24 18:42] a-arias commented on #11573
PR is ready to review https://github.com/mattermost/mattermost-webapp/pull/3238

[2019-07-24 20:03] gandroz opened #11703 "API to update a post - Parameter redundance"
#### Summary
Improvement in the API

#### Description
In the API [documentation ]{https://api.mattermost.com/#tag/posts%2Fpaths%2F~1posts~1%7Bpost_id%7D%2Fput}, to update a post it is required to provide the `post_id` both in the URL and in the parameters. The call fails if the `post_id` is not provided in the parameters, even if it is present in the URL.

I have not checked all REST calls, but I

[2019-07-24 23:15] maruTA-bis5 commented on #11590
Could you share the server log (mattermost.log) that includes `debug` level?

[2019-07-25 01:10] hahmadia commented on #10160
I'll take a look at this :)

[2019-07-25 04:09] hahmadia commented on #10160
Complete! Awaiting code review and testing on iPhone.

[2019-07-25 08:29] nikkilocke commented on #11590
Sure - here.
[mattermost.log](https://github.com/mattermost/mattermost-server/files/3430513/mattermost.log)
[bug.log](https://github.com/mattermost/mattermost-server/files/3430514/bug.log)

[2019-07-25 08:38] jkl5616 commented on #10145
@hanzei Sorry for late. I am working on this issue right now.
I think that the simplest way to add a pinned posts count is to use `channel/stats` API, like `member_count`.
Will it be an appropriate way to implement?

[2019-07-25 08:52] nikkilocke commented on #11590
Aha! By looking through your source code, and doing a lot of guessing, i have solved the problem. Logging in with a username and password returns an `MMCSRF` cookie. This cookie has to be included in an `X-CSRF-Token` header on all subsequent requests (except GET, which is allowed, for some reason).

Can I strongly suggest that you document this in the Mattermost API docs?

[2019-07-25 12:15] amyblais commented on #11079
A fix for this is available in v5.13.2 dot release. I'll close this issue for now, but please re-open this issue if upgrading doesn't help.

[2019-07-25 12:15] #11079 closed

[2019-07-25 12:19] ThiefMaster commented on #11079
I deployed it on my instance earlier today and the performance issues are gone as far as I could tell :)

[2019-07-25 13:06] amyblais opened #11708 "Mattermost v5.14"
You can find key dates for v5.14 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### August 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### August 14th: Release Build Cut
The

[2019-07-25 13:44] maruTA-bis5 commented on #11590
According to server source code, CSRF check fires when `tokenLocation == app.TokenLocationCookie`.
This means you are sending `MMAUTHTOKEN` cookie to server (so `Authorization` header is ignored).
https://github.com/mattermost/mattermost-server/blob/692d1be91eafb64328ce21bcd18671288eb5139b/web/handlers.go#L126-L128

[2019-07-25 15:59] svelle commented on #11532
Hey @flakjacket95 would you be open to trying a custom build I made with some updates to the importer?

[2019-07-25 16:09] amyblais commented on #11703
@maruTA-bis5 / @hanzei Can you help confirm if there is a bug here?

[2019-07-25 18:45] wtollett-usgs commented on #11064
Sorry about the delayed response -- was out on vacation. We're running v5.8

[2019-07-25 21:19] sudheerDev commented on #9222
@MayaWolf
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode

keyCode is deprecated and it does have cause issues last time i checked. We do fallback to `keyCode` if there no `key` match as of now. Though there is no good JS property that has good browser coverage as of now.

Even popular keybinding libraries are flooded with issues with layout and language keyboard issues.

Th

[2019-07-25 22:37] jasonblais commented on #9222
@sudheerDev Do we know if there's a standard (or recommended) approach taken by other products, and if we are following such approach?

[2019-07-26 06:50] nikkilocke commented on #11590
Thanks very much for that - C# HttpClient tracks and sends cookies even if you don't ask it to, which I wasn't aware of. I still suggest you document this behaviour to help the next person.

[2019-07-26 09:58] janvt commented on #11054
Think I figured this one out, will submit a PR later.

One clarification, the divider should appear once above all plugin menu items? Or once per plugin (if there are multiple plugins)?

[2019-07-26 11:11] #11462 closed

[2019-07-26 13:27] amyblais commented on #9875
Closing as this has been submitted for upcoming v5.14 release: https://mattermost.atlassian.net/browse/MM-4989.

[2019-07-26 13:27] #9875 closed

[2019-07-26 13:29] amyblais commented on #10395
Closing as this has been fixed for upcoming v5.14 release,

[2019-07-26 13:29] #10395 closed

[2019-07-26 13:30] amyblais commented on #10779
Closing as this has been implemented for upcoming v5.14 release,

[2019-07-26 13:30] #10779 closed

[2019-07-26 13:49] lieut-data commented on #11054
@janvt, I believe the intent is to add it once per plugin. @aaronrothschild, thoughts?

[2019-07-26 14:09] aaronrothschild commented on #11054
I'm not sure if the original intent was to differentiate from "plugins" and "built-in functions".  I don't think we need the divider between each plugin.  I think it should show up once at the top of the list of plugins 1/5.
However, if @asaadmahmood has differing thoughts I will defer to him.

[2019-07-26 14:11] asaadmahmood commented on #11054
The intent was to add a divider between default actions, and actions that were further added by plugins, not necessarily between plugins.

[2019-07-26 14:11] asaadmahmood commented on #11054
The intent was to add a divider between default actions, and actions that were further added by plugins, not necessarily between plugins.

[2019-07-26 14:42] janvt commented on #11054
Sounds good. Once before all plugins is relatively easy, once before each plugin would require some reworking of the plugin system, as far as I can see with my React skills. :)

[2019-07-26 15:00] janvt commented on #10686
Just added a PR for mobile.

[2019-07-26 20:22] bradjcoughlin opened #11718 "Add ID label to user detail page"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-27 12:03] EugenMayer opened #11721 "Personal token not shown"
#### Summary
When creating a personal token and clicking on save, nothing is shown The spinner on the save buttons goes forever. Reloading the page does display a token, but you cannot see the secret anymore

#### Steps to reproduce
- activate personal tokens under integrations
- try to create a personal token in Account Settings -> security

#### Expected behavior
One could see the token secret

[2019-07-27 18:34] cpoile commented on #10171
Implemented here: https://github.com/mattermost/mattermost-plugin-jira/pull/255. Will move to plugin-starter-template, demo, and sample after its been used for a bit.

[2019-07-27 18:38] #10171 closed

[2019-07-28 03:17] wyze commented on #11718
I can take this one.

[2019-07-28 09:19] EugenMayer commented on #11721
Looking at the actual error message it seems to be related to an issue that the email server ( SMTP configuration ) cannot be reached. Beside that is probably a configuration error, i suggest this exception should be catched and the token should be displayed in the UI nevertheless

[2019-07-28 09:54] christianlupus commented on #11524
Dear @amyblais, sorry for the late reply. I had to personally look at my parents device, as my father was not able to extract the needed data.

According to [this site](https://www.whatismybrowser.com/detect/what-version-of-safari-do-i-have) it is Safari 9:
![IMG_0701](https://user-images.githubusercontent.com/8202922/62005094-4a058b00-b12e-11e9-837c-61108b0da735.PNG)

If you need more elaborate i

[2019-07-28 17:36] S1M0N commented on #11434
Just want to chime in that I am seeing similar issues, regarding point 1 in the OP, on our Mattermost. The only part of this that would make any sense is that I'm the Server Admin, so perhaps my personal settings are being overridden by that? Though this shouldn't matter and still qualifies as a bug in my view, as setting my personal notifications for email to Never, should result in just that, no

[2019-07-28 20:11] danhimalplanet opened #11724 "SMTP authentication setting ConnectionSecurity is reversed"
I am using Mattermost version 5.13.1
https://github.com/mattermost/mattermost-docker/commit/91701c543d217fcaf3dcbe160866abd31d1bcac9

I have a file docker-compose.prod.yml https://gist.github.com/danhimalplanet/32bb63e17f0026ea7e85f4f958cfcdff

how I create the directories mattermost uses:

how I build it:

how I start it:

I set the SMTP settings, Test, and Save
<img width="743" alt="proof 1" src

[2019-07-28 20:12] danhimalplanet commented on #11724
In my screenshot, I cut out the password and server name, but Github makes it look like I didn't set them at all, trust me, they were there!

[2019-07-29 07:47] matandd commented on #4324
Hi! :)
While not _exactly_ the same, I feel like the root cause is the same.

[code]
Message randomly disappear and appear in a way we could not reproduce.
So far we saw it happening in a private chat and a private room.
We are two people (Both on mac) experiencing the same issue, the same messages disappeared for both of us in a private chat.
The message show up when we access mattermost with Chr

[2019-07-29 09:30] #11125 closed

[2019-07-29 11:07] jasonblais commented on #4324
Hey @matandd, thanks for the report. We fixed an issue with missing messages that were occurring on 5.12.3. Would you be open to upgrading to 5.12.5, or the latest version 5.13.2? https://docs.mattermost.com/administration/changelog.html

[2019-07-29 11:33] matandd commented on #4324
Thank you, I will give it a test!

[2019-07-29 11:51] zetaab commented on #11291
@amyblais still this does not work for us. We have link previews true, gif picker on and image proxy camo enabled. When I choose gif from "emoji" button, I can see the gifs - and those are coming through camo. However, when I click the gif (like post it) it will just copy paste image url to channel but it does not display in UI. The account settings are following:

![Screenshot 2019-07-29 at 14 50

[2019-07-29 17:07] jasonblais commented on #11476
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2019-07-29 17:07] #11476 closed

[2019-07-29 17:08] jasonblais commented on #11503
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, we'd be glad to help you where we can.

[2019-07-29 17:08] #11503 closed

[2019-07-29 17:12] jasonblais commented on #11613
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2019-07-29 17:12] #11613 closed

[2019-07-29 17:14] jasonblais commented on #11622
Thanks @gamersalpha for the feedback, I'll close the issue here and we track it in the [feature request forum linked previously](https://mattermost.uservoice.com/forums/306457-general/)

[2019-07-29 18:22] ali-farooq0 opened #11731 "Override LHS bot icon in demo plugin"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-29 19:03] QamarFarooq commented on #11731
Ill take this one guys

[2019-07-29 20:21] jasonblais commented on #11590
Glad your issue was resolved @nikkilocke and thank you @rvillablanca @maruTA-bis5 so much for jumping in to help with the issue.

@nikkilocke @rvillablanca @maruTA-bis5 Wondering if any of you were open to helping with a pull request to make this more clear in the documentation?

[2019-07-29 20:30] jasonblais commented on #11724
Thank you for the clear repro steps! Created a Jira ticket for our engineers to take a look https://mattermost.atlassian.net/browse/MM-17393

[2019-07-29 21:13] jasonblais commented on #11524
Hey @christianlupus, would you be open to updating the Safari version? We support Safari version 11 and later: https://docs.mattermost.com/install/requirements.html#mobile-web

You should be able to update the browser via the "How to update Safari" link in your first screenshot

[2019-07-29 21:55] jasonblais commented on #11703
Hey @gandroz - looks like that's how it's documented

![image](https://user-images.githubusercontent.com/13119842/62085576-ef515980-b229-11e9-93c5-284a7da5fa05.png)

Or was this more feedback that it would be a better experience not to have the post_id required twice in the same API call?

[2019-07-29 22:11] jasonblais commented on #11721
@EugenMayer Thank you for the report. I've opened a Jira issue for it here: https://mattermost.atlassian.net/browse/MM-17396

Would you be open to helping with a fix for it?

PS: The issue sounds similar to https://github.com/mattermost/mattermost-server/pull/11027, which resolved this same scenario for bot accounts. It appears we need to fix it separately for personal access tokens created for us

[2019-07-29 23:13] jasonblais opened #13989 "Document: when using reverse proxy, connection security shouldn't be set to TLS"
It seems that if you’re using a reverse proxy - the Mattermost console option for Connection Security within Web Server settings must be set to None. Even though Use Let's Encrypt is set to false, somehow it seems Mattermost still thinks this option is enabled if Connection Security is set to TLS instead of None.

See more details at https://forum.mattermost.org/t/apache-client-sent-an-http-reques

[2019-07-30 00:28] a-arias commented on #10482
I'm going to work on this one 💃

[2019-07-30 02:02] gandroz commented on #11703
You're it is more a feedback than an issue. Having to provide id twice surprised me ...

[2019-07-30 02:29] h-town commented on #7262
TIL Jaundice is a neutral skin tone

[2019-07-30 08:06] christianlupus commented on #11524
@jasonblais I would be open to update if this was possible. Unfortunately that is not the case: My father is using an (comparably old) iPad that has Safari 9 bundled with iOS 9.3. There are no updates for the named iPad available according to his research.

The link you mention just points to a site describing to upgrade Safari for a MacBook or similar. For the iPad present there is no option acco

[2019-07-30 10:12] vpecinka commented on #6828
Hi,

I suggest to reopen the issue. One of our channel has reached 4mio posts and the query
[code]

used in https://github.com/mattermost/mattermost-server/blob/e067272e16b962d04f9c83bb1cbd739ac1b6299c/store/sqlstore/post_store.go#L757 is very slow.

EXPLAIN says using filesort:

[code]

[2019-07-30 10:21] vpecinka opened #11734 "Slow query in getParentsPosts"
Hi,

as I posted comment in #6828 as the query is very slow in large channel. The query:

[code]

used in https://github.com/mattermost/mattermost-server/blob/e067272e16b962d04f9c83bb1cbd739ac1b6299c/store/sqlstore/post_store.go#L757

leads to filesort and very slow query in large channel (4mio+ posts). The EXPLAIN command tell:

[code]

Wouldn't be better to introduce "lazy parent posts" loading

[2019-07-30 10:42] jasonblais commented on #11724
@danhimalplanet we've got a fix submitted and scheduled for 5.14 release: https://github.com/mattermost/mattermost-webapp/pull/3299

[2019-07-30 11:19] jasonblais commented on #11734
Thanks for the detailed notes! Have shared with the team as well to see if they have additional insight.

[2019-07-30 11:27] jasonblais commented on #11524
@christianlupus I don't remember specifically for Safari 9, but we've had instances in the past where older browser versions caused issues (e.g. login fails, UI elements not rendered correctly, security vulnerabilities) leading to a broken experience. This is what you might be experiencing here with the blank page.

For the aforementions reasons, along with the effort to maintain and test older ve

[2019-07-30 11:29] jasonblais commented on #11703
Thanks! Have also shared in our public APIv4 channel for consideration: https://community-release.mattermost.com/core/channels/apiv4

[2019-07-30 12:44] lieut-data commented on #11734
@vpecinka, thanks for the analysis! You're right that this is a hotspot in our current post loading strategy, and we're starting to pivot to exactly your suggestion, e.g.: https://github.com/mattermost/mattermost-server/commit/20f03f7656e175d5f1b574d6a6a663cc89f3c1c5#diff-3839c6aa88b8e4cfee8869d3da6d20ad.

Longer term, the hope is to remove the need to load the root posts + threads in the first pl

[2019-07-30 13:09] #10806 closed

[2019-07-30 13:10] saturninoabril commented on #10806
PR is recently merged.

Thank you @VolatianaYuliana for your contribution!

[2019-07-30 18:49] esethna commented on #11404
Closed with https://github.com/mattermost/mattermost-mobile/pull/2939

Thanks @mzaks!

[2019-07-30 18:49] #11404 closed

[2019-07-30 21:41] DropNib commented on #9031
Hi

I wanted to request to start working on this ticket but after digging around a bit, it seems that the issue might already be fixed: https://github.com/mattermost/desktop/issues/721
I also couldn't reproduce the issue on a fresh Windows 10 Spanish install with keyboard layout 142.

So the question is if this issue still applies.

[2019-07-31 04:05] RajatVaryani commented on #10370
@hanzei I won't be able to work on this. I have couple of other PRs as well. Want to concentrate on it first.

[2019-07-31 12:35] Sam-N-Price commented on #4300
@chetanyakan

Regarding this option to use the Gotenberg Docker Image to convert files to a PDF have you already created the plugin that you could share in order to configure this in our environment?

We would be keen to try it out and review the performance etc. or if you have any documentation regarding how to set it up again we would quite like to take a look.

[2019-07-31 13:10] tekminewe commented on #9599
hi @hanzei i would like to take up this issue, thanks

[2019-07-31 16:01] saturninoabril opened #11741 "UI Automation: Write an automated test using Cypress for "Visual verification of "Searching" animation for Flagged and Pinned posts""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11742 "UI Automation: Write an automated test using Cypress for "Focus will move to main input box after a new channel has been opened""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11743 "UI Automation: Write an automated test using Cypress for "Emojis preceeded by 4 or more spaces are always treated as markdown""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11744 "UI Automation: Write an automated test using Cypress for "Markdown correctly parses "://///" and doesn't break the channel""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11745 "UI Automation: Write an automated test using Cypress for "Words that trigger mentions support Chinese""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11746 "UI Automation: Write an automated test using Cypress for ""Copy Link" can be used from channel LHS - Desktop app only""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11747 "UI Automation: Write an automated test using Cypress for "Focus to remain in RHS textbox each time Reply arrow is clicked ""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11748 "UI Automation: Write an automated test using Cypress for "Terms that are not valid emojis render as plain text ""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11749 "UI Automation: Write an automated test using Cypress for "Channel shortlinking still works when placed in brackets""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11750 "UI Automation: Write an automated test using Cypress for "Scroll to bottom when sending a message""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11751 "UI Automation: Write an automated test using Cypress for "Focus does not move when it has already been set elsewhere ""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:02] saturninoabril opened #11752 "UI Automation: Write an automated test using Cypress for "Focus does not move for non-character keys""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 16:45] shieldsjared opened #11753 "Plugin Health Check not supported on Windows"
#### Summary
Plugin health check routine introduced via PR #10781 in v5.12(?) is not compatible with Windows platform.

**This is staged to become a breaking issue for Windows Platform in 5.14. Details provided in _Possible Fixes_ below.**

#### Steps to reproduce
Run MM server w/ plugins enabled on a Windows OS. Ensure `EnableHealthCheck` is set to true (default).

#### Expected behavior
Plugins

[2019-07-31 16:59] sudheerDev commented on #9222
@jasonblais I would say we do but most products don't support as many keyboard layouts and as many shortcuts as we do which causes issue like this IMO

Even a propular library as https://github.com/ccampbell/mousetrap/issues still tons of issues around layouts and language keyboards.

[2019-07-31 17:00] saturninoabril opened #11754 "UI Automation: Write an automated test using Cypress for "System message limited options""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 17:00] saturninoabril opened #11755 "Write an automated test using Cypress for "Filtering by first name with Korean characters""
If you're interested, please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/devel

[2019-07-31 17:31] saturninoabril opened #11759 "UI Automation: Write an automated test using Cypress for "Draw plugin does not post text in input box""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 17:31] saturninoabril opened #11760 "UI Automation: Write an automated test using Cypress for "Typing using CJK keyboard""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 17:31] saturninoabril opened #11761 "UI Automation: Write an automated test using Cypress for "Emojis show as jumbo in main thread - Multi emoji, no text, including unicode and emoticon""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 17:31] saturninoabril opened #11762 "Write an automated test using Cypress for "Edit post uses device autocorrect""
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 18:02] saturninoabril commented on #11746
Closing as not valid for Cypress testing since it's for Desktop app only.

[2019-07-31 18:02] #11746 closed

[2019-07-31 19:44] esethna opened #11763 "Highlight matched text in search results"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 19:49] esethna opened #11764 "Jira v2 - Intermittent 500 errors when using create"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 19:52] #11764 closed

[2019-07-31 20:10] esethna opened #11765 "Jira v2 - Intermittent 500 errors when using create"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-07-31 20:10] #11765 closed

[2019-07-31 20:59] MayaWolf commented on #9222
Honestly...maybe make a per-user option for it? I know, I hate the idea too, but right now for me I can't even copy-paste anything in Mattermost without using the right-click menu, and if there really is no way to achieve cross-platform compatibility otherwise...? Or maybe a platform-specific (depending on how well it can be detected) branch on which event property to use. I agree that there is cu

[2019-07-31 22:23] icelander opened #11767 "npm install fails on Ubuntu for mattermost-webapp"
**Environment**

 * OS: Ubuntu 18.04 from [bento/ubuntu-18.04](https://app.vagrantup.com/bento/boxes/ubuntu-18.04) w/ latest updates
 * Node Version: v10.16.0
 * NPM Version: v6.9.0
 * mattermost-webapp Commit: https://github.com/mattermost/mattermost-webapp/commit/4b166403e498af1f2fdf716d6cfca876bf1c00e6

**Steps to Reproduce**

1. Install NVM and NodeJS

[code]

2. `cd ~/go/src/github.com/matter

[2019-07-31 22:50] #11767 closed

[2019-08-01 04:09] a-arias commented on #11761
Going to work on this ticket 💃

[2019-08-01 07:30] saturninoabril commented on #11761
Sure and thanks @a-arias!

[2019-08-01 07:31] saturninoabril commented on #10482
Sure and thanks @a-arias!

[2019-08-01 07:33] saturninoabril commented on #10234
Thank you @bnoggle!
Closing this issue.

[2019-08-01 07:33] #10234 closed

[2019-08-01 07:39] saturninoabril commented on #10370
No worries @RajatVaryani and thanks for looking into this.

[2019-08-01 07:40] saturninoabril commented on #10470
Hello @Druthi, just checking on this.  If you have question, let me know or you may also join our community at https://community-release.mattermost.com/core/channels/ui-test-automation

[2019-08-01 09:45] saturninoabril commented on #11568
Thank you @irbrad for your contribution!

PR has been merged.  Closing this now.

[2019-08-01 09:45] #11568 closed

[2019-08-01 09:51] saturninoabril commented on #11570
@irbrad Looks like a PR was submitted for this issue.  Feel free to look for other issue, thanks

[2019-08-01 09:53] saturninoabril commented on #11573
Thanks @a-arias for your contribution!

Closing this issue now.

[2019-08-01 09:53] #11573 closed

[2019-08-01 21:14] bbodenmiller opened #11776 "Space at end of username breaks member search"
#### Summary
Space at end of username breaks member search in various member dialogs

#### Steps to reproduce
Go to manage members dialog of team and type `@someusername ` and include trailing space (Markdown is trimming the space in example here). Notice user does not show unless trailing space is removed.

#### Expected behavior
User shows with or without trailing space

#### Observed behavior (

[2019-08-01 23:17] guikcd opened #11777 "Unable to start if mailserver is listening but not responding"
#### Summary
Mattermost is unable to start if mailserver is listening but not really responding.

#### Steps to reproduce

* Version informations:
`Version: 5.13.0`
`Build Number: 5.13.2`
`Build Date: Wed Jul 24 17:25:26 UTC 2019`
`Build Hash: 9a8b0906fdbf2c2a309db2400f4bcc5902800e2c`

* Configuration (config.json):

[code]

* Reproduction

You can break the mailserver used, or instead install `ne

[2019-08-01 23:18] jasonblais commented on #11753
Thanks @shieldsjared for the report! I've created a ticket for our team to investigate a fix and noted 5.14 version https://mattermost.atlassian.net/browse/MM-17488

Glad to see you around :)

[2019-08-01 23:21] shieldsjared commented on #11753
I’ll see if I can whip up a better analysis of the issue and perhaps a fix for it :)

[2019-08-02 00:25] jasonblais commented on #11753
@shieldsjared Great, thank you!! 🎉

[2019-08-02 07:28] hanzei commented on #10774
@hmhealey Should the dependencies to `commonmark.js` and `marked` get updates individually or just with the next general dependency update?

[2019-08-02 14:53] #10121 closed

[2019-08-02 20:02] jasonblais commented on #9222
Hey all, had a conversation with our team - currently it appears that Mattermost keyboard shortcuts support standard languages and keyboard layouts, but they may not work if you use keymapping that overwrites default browser shortcuts.

If you would like to see support for a per-user option or a wider support for keymaps, would you be open to [contribute this in the feature idea forum](https://mat

[2019-08-02 20:03] hmhealey commented on #10774
They should be updated sooner so that we can get this resolved and tested. I think we only do the usual dependency upgrades on libraries that aren't forked.

@hahmadia Would you be able to submit PRs to the web and mobile app repositories to update the versions of each library?

[2019-08-02 20:34] jasonblais commented on #11776
Hey @bbodenmiller, thanks for the report! Can you help share which Mattermost server version you're running? And confirming you have it running in GitLab omnibus, if I remember correctly?

I was trying to reproduce, but I was unable to, so perhaps this was an issue on an earlier Mattermost release.

![image](https://user-images.githubusercontent.com/13119842/62397283-6301a800-b543-11e9-9b3c-b6eeb1

[2019-08-02 20:39] jasonblais commented on #11777
Thanks @guikcd! @jespino  or @DSchalla does the above proposed change mentioned in **expected behaviour** seem reasonable?

[2019-08-02 21:15] hahmadia commented on #10774
@hmhealey @hanzei

Webapp: https://github.com/mattermost/mattermost-webapp/pull/3354
Mobile: https://github.com/mattermost/mattermost-mobile/pull/3070

[2019-08-02 21:34] hahmadia opened #11791 "Strikethrough shows up differently on mobile than webapp"
#### Summary
Strikethrough shows up differently on webapp compared to mobile

#### Steps to reproduce
Post `~~~ should be a strikethrough ~~~` to any channel.

#### Expected behavior
On both the mobile app and web app it should show up like the following:
~~\~ should be a strikethrough \~~~

#### Observed behavior (that appears unintentional)
On webapp it shows up correctly as:
~~\~ should be a st

[2019-08-02 22:14] hmhealey commented on #11791
Thanks for the report. The mobile app behaviour is the correct one here because we're trying to switch both apps to use CommonMark since it's more standardized. We have a long-running task to switch both apps to use commonmark.js (https://mattermost.atlassian.net/browse/MM-10003), but it's been blocked for a while on some Markdown features that the mobile app doesn't support yet.

[2019-08-02 23:23] jkl5616 commented on #10145
@hanzei Can you check for the above question?

[2019-08-03 00:32] #10915 closed

[2019-08-03 04:18] RajatVaryani commented on #10702
@jasonblais I did not get the chance to work on this. A PR will be raised pretty soon.

[2019-08-03 08:31] bbodenmiller commented on #11776
Looks fixed after latest update.

[2019-08-03 08:31] #11776 closed

[2019-08-03 13:53] jasonblais commented on #10702
@RajatVaryani Thanks for the heads up, looking forward to reviewing the PR! Appreciate your help with this :)

[2019-08-03 21:33] flakjacket95 commented on #11532
I would be, but, can you provide a little detail on the changes. Maybe the commits or a pull request from master? (I don't want to further break things).

As a note, I upgraded the server to the latest MM and am still receiving the same issues, it acts fine but, never actually imports any data.

[2019-08-04 03:21] jordeguevara commented on #11762
I would like to work on this one

[2019-08-04 17:33] adityayavagal commented on #11054
Hello can I grab this one? If yes please I need someone for help as I'm new open source contribution

[2019-08-04 21:54] hanzei commented on #9031
@esethna can you help with the above question?

[2019-08-04 21:55] hanzei commented on #9599
Thanks for working on this @tekminewe :+1:

[2019-08-04 22:02] hanzei commented on #11763
@esethna Can you help fix the text of this issue?

[2019-08-05 03:49] jordeguevara commented on #11749
I'll work on this 🗡

[2019-08-05 04:58] saturninoabril commented on #11749
Sue and thanks @jordeguevara!

[2019-08-05 08:50] hanzei commented on #10145
@mkraft Can you help with the above question? I'm not certain that this is the right approach.

[2019-08-05 08:52] hanzei commented on #11054
@adityayavagal Sorry, this issue isn't available. @janvt is currently working on it. You can find all available tickets with this query: https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+label%3A%22Up+For+Grabs%22+sort%3Aupdated-desc

[2019-08-05 12:00] cpanato opened #11798 "testing"
just ignore

[2019-08-05 12:01] #11798 closed

[2019-08-05 12:45] #10367 closed

[2019-08-05 12:47] AGMETEOR commented on #11439
@hanzei I am just following up on this. We had sort of forgotten about it.

[2019-08-05 12:49] AGMETEOR commented on #11442
@hanzei I would like to try this out. However, @amorriscode had a question up there that I think when answered would give me some more guidance on how to complete this.

[2019-08-05 12:51] hanzei commented on #11442
Awesome, thanks @AGMETEOR :tada:

[2019-08-05 12:51] hanzei commented on #11442
@saturninoabril Can you help with the question? https://github.com/mattermost/mattermost-server/issues/11442#issuecomment-506570031

[2019-08-05 13:10] hanzei commented on #10464
Webapp is merged. Now only mobile is missing.

[2019-08-05 13:20] saturninoabril commented on #11442
I think this ticket is no longer valid and should just be updated to which action to migrate.  The integration part is almost done, just need to get rid off using global `store`.  I'd recommend to make this as "Complete migration of [channel_actions](https://github.com/mattermost/mattermost-webapp/blob/0d40e9395528371530d5f625edbdc792f5e3aaeb/actions/channel_actions.jsx) to redux actions", particu

[2019-08-05 13:58] #10783 closed

[2019-08-05 14:24] hanzei commented on #9031
@esethna Gentle ping

[2019-08-05 15:16] #11622 closed

[2019-08-05 20:40] cdncat commented on #11751
I can take this ticket :)

Can I clarify:
- "search box or main input box" are these different elements?
-  I'm thinking of adding another describe() test suite/section to the `/e2e/cypress/integration/channel/add_users_to_channel_spec.js` for this ticket, would that be fine or should it go into a new file?

[2019-08-05 22:22] amyblais commented on #11659
Closing as this will be fixed in upcoming v5.14 release.

[2019-08-05 22:22] #11659 closed

[2019-08-05 23:10] amyblais commented on #11708
### v5.14 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.14.0-rc1/mattermost-team-5.14.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2850/files)

[2019-08-06 06:17] gamersalpha commented on #11622
HEllo,

why closed this thread, this a features wreally really apréciated

[2019-08-06 07:39] saturninoabril commented on #11751
Thanks @cdncat for your interest!

Yes, those are different.  The main input box refers to the one in center view
![Screen Shot 2019-08-06 at 3 32 13 PM](https://user-images.githubusercontent.com/5334504/62520097-6c4e8580-b85f-11e9-99d4-489555b9fb8f.png)

Though it's more likely related to that, this test is actually part of "Messaging".  Maybe add another `it` section to `e2e/cypress/integration/

[2019-08-06 09:37] hanzei opened #11808 "Installing a plugin via URL causes NPE"
On `v5.14-RC1` installing a plugin via URL causes an NPE on the server. This effectively prevents admins from using this feature.

[2019-08-06 09:41] hanzei commented on #11808
@lindy65 Is this worth a bug hunter coin?

[2019-08-06 09:57] lindy65 commented on #11808
Hi @hanzei

Is there a Jira ticket open for this issue?

All bug reports are valid for bug hunter coins.  I am not involved in the "awarding" of bug hunter coins though so perhaps @coreyhulen can chime in on the process.

[2019-08-06 11:14] jespino commented on #11777
@jasonblais My question is, If I'm unable to connect to the server which would be the expectation? Run the server without mailing support? do not run the server at all? If my server is sooo busy that it doesn't respond in the timeout during the startup, I going to try to reconnect later?

[2019-08-06 11:42] jasonblais commented on #11622
Hey @gamersalpha! Thanks for your feedback. We monitor feature proposals in our [feature idea forum](https://mattermost.uservoice.com/forums/306457-general), so that members can discuss and upvote them. We primarily use this repository for bug reports :)

[2019-08-06 11:50] jasonblais commented on #11777
@jespino I would expect the Mattermost server to run without mailing support in that case - but we should send some kind of a notice to the admin like a log message informing it, as suggested previously. That's an approach we've taken with other similar services. Attempting to reconnect later might be an option too.

Or would there be unintended consequences I'm not thinking about?

[2019-08-06 11:52] jespino commented on #11777
@jasonblais my concern is, a log message saying "your email is not enable due timeout" can be easily oversee, so I would expect something more "obvious" like a warning at the top of the application, like other warnings that we have.

[2019-08-06 13:10] svelle commented on #11532
Hey Flakjacket,
the build is based on these changes: https://github.com/svelle/mattermost-server/tree/slack_improved

You can either pull that branch or the current master branch from this (mattermost-server) repository and run the import from there.

If you want a pre-built binary you can try this one: https://drive.google.com/file/d/1yNMMsZQI3dvp_ee21F06i62-bOiM2Jeb/view?usp=sharing

The databas

[2019-08-06 13:25] jwilander opened #11811 "[iPad] Switching channels using the RN apps on the iPad w/ keyboard doesn't auto focus the textbox"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 13:26] jwilander opened #11812 "Pressing ENTER on the RN apps on iPad w/ keyboard does not send the message"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 13:38] marianunez commented on #11808
This could be possibly related to [MM-17475](https://mattermost.atlassian.net/browse/MM-17475)

[2019-08-06 13:56] mkraft commented on #10145
@jkl5616 Yes I think adding `pinned_count` to `/api/v4/channels/:channel_id/stats` makes a lot of sense.

[2019-08-06 14:22] gabrieljackson opened #11813 "Add database write check to the ping API endpoint"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 14:30] jkl5616 commented on #10145
Okay, then I'll do as that approach, thanks!

[2019-08-06 15:02] jwilander opened #11814 "Implement NodeSelector for Mattermost operator"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 15:12] jwilander opened #11815 "Implement Affinity for Mattermost operator"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 15:15] jwilander opened #11816 "Add option for custom DB root/user password when using the mysql-operator for Mattermost operator"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 15:19] jwilander opened #11817 "Add option to use custom MinIO secret for the Mattermost operator"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 15:35] hanzei commented on #11808
No, there isn't. I can open one, if you want. But it would just be a copy of this issue.

[2019-08-06 16:01] lindy65 commented on #11808
Thanks @hanzei

We should have a Jira ticket for every bug report so it would be great if you can file one :) Even if it's just a dupe of this issue...

[2019-08-06 17:17] flakjacket95 commented on #11532
Will try and get back to you. Thanks!

[2019-08-06 19:01] amyblais commented on #11703
Hi @gandroz, Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)? If you're interested in implementing, please say so and we'll prioritize the review.

[2019-08-06 19:09] jasonblais commented on #11777
@jespino I totally agree, but this problem isn't unique to email timeout -- it's the same with [compliance exports](https://mattermost.atlassian.net/browse/MM-11124), plugins, LDAP sync jobs and others.

Katie has been exploring options for an "admin notifications board" which would be a more effective way to notify admins of these kinds of errors.

We could add a special case and notify admins ab

[2019-08-06 21:44] hanzei commented on #11808
Done https://mattermost.atlassian.net/browse/MM-17590

[2019-08-06 21:58] EnriqueCer12 commented on #11759
Hello @saturninoabril, I would like to work on this ticket.

[2019-08-06 22:03] jwilander opened #11822 "Allow using external S3/MinIO instances with the Mattermost operator"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-06 22:50] cdncat commented on #11751
@saturninoabril Thanks for clarifying :) I've looked at the discussion on the other PR and it helped me to refactor my test to be cleaner; thanks for the link!

[2019-08-07 04:32] hahmadia opened #11823 "User count not updated if user automatically joins channel"
#### Summary
User count does not update when a user automatically joins a channel.

#### Steps to reproduce
Open a tab and login into your account and wait in the off-topic channel.
Open a tab in incognito and sign up for the same team through the GUI.
After signing up, you should automatically join the off-topic channel.
Notice on the incognito tab, the number of users displayed is 2.
In the firs

[2019-08-07 05:50] lpadgett commented on #11814
I'll do this one!

[2019-08-07 06:17] lindy65 commented on #11808
Thanks @hanzei :)

[2019-08-07 07:54] phillipahereza commented on #11816
@jwilander I'll take this one

[2019-08-07 08:00] NgoHuy opened #11824 "Dos channel with svg file upload"
I installed mattermost for my team. After that, team member found critical problem with svg render.
After anyone on channel upload malicious svg, mattermost client will be hang forever until close and reopen again.
I attach malicious svg here for debugging.

Best regards,
Severus
[test.zip](https://github.com/mattermost/mattermost-server/files/3475881/test.zip)

[2019-08-07 08:02] hanzei commented on #11759
Thanks @EnriqueCer12 :+1:

[2019-08-07 08:04] NgoHuy commented on #11824
in system admin, I see the error:
[code]

[2019-08-07 08:17] jesperhansen17 commented on #11815
Can I look at this one?

[2019-08-07 08:18] jesperhansen17 commented on #11813
Can I have a look at this one?

[2019-08-07 13:31] hanzei commented on #10688
This issue with be fixed in a different way. See https://github.com/mattermost/mattermost-webapp/pull/3313 for more details.

[2019-08-07 13:31] #10688 closed

[2019-08-07 13:49] jwilander commented on #11815
That'd be great @jesperhansen17 !

[2019-08-07 13:51] jimscarver commented on #11668
https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/issues/45?email_source=notifications&email_token=AAXFQEPZRRPBWHOYW5X2QADQDILWXA5CNFSM4HZHFDPKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD3W3O7I#issuecomment-518895485

[2019-08-07 13:51] #11668 closed

[2019-08-07 13:54] hanzei commented on #11813
Sure. Thanks @jesperhansen17 :+1:

[2019-08-07 14:33] amyblais commented on #11824
Hi @NgoHuy, please submit vulnerability reports via responsibledisclosure@mattermost.com.

Here is our responsible disclosure policy: https://mattermost.com/security-vulnerability-report/.

[2019-08-07 14:34] amyblais commented on #11824
Please let me know if you have any issues submitting this report via the email address I linked above,

[2019-08-07 14:34] #11824 closed

[2019-08-07 14:54] amyblais commented on #11823
Thank you, opened a ticket here: https://mattermost.atlassian.net/browse/MM-17604.

[2019-08-07 17:01] hahmadia commented on #11823
@amyblais Update original post with a screenshot. Thanks for creating the ticket.

[2019-08-07 17:17] g3rv4 commented on #10166
I'd give this a try if nobody is working on it

[2019-08-07 19:30] g3rv4 commented on #10166
Can you please check if my assumptions make sense?

1. Plugins should fail installation if the instance doesn't match their requirements. Write details to the log.
2. If a plugin is installed successfully and then the system configuration changes so that requirements are no longer met, activation mast fail. Write details to the log.
3. If a plugin is activated successfully and then the system conf

[2019-08-08 00:14] scottleedavis commented on #9196
@aaronrothschild would you like to revisit this working on your machine with me via zoom, or perhaps we find someone to help validate?  I am not in a hurry, but also don't want to forget how to do it.  :)

[2019-08-08 00:17] scottleedavis commented on #9283
The post header dot menu submenu code for scheduling reminders from a post, will be included as part of this plugin.
https://github.com/mattermost/mattermost-webapp/pull/3357
https://github.com/scottleedavis/mattermost-plugin-remind/pull/137

[2019-08-08 06:26] NgoHuy opened #11830 "Do not send email invitation if user's email already existed"
Hi team,
When email invatiton's enabled, every user can send invitation, but it still sent to already existing accounts.
Can we check email's existing or not?

Best regards,
Severus

[2019-08-08 07:18] #10774 closed

[2019-08-08 12:49] amyblais commented on #11326
https://mattermost.atlassian.net/browse/MM-16627 is fixed in v5.13 and we haven't received any feedback for a while, so I'll close this issue for now. Please re-open this issue with additional information for troubleshooting if the problem persists.

[2019-08-08 13:02] jwilander commented on #10166
I'll defer to @lieut-data and the toolkit team here

[2019-08-08 13:36] developweekly commented on #11326
UI still does not update the config on server v5.13.0.

Setting environment variable MM_EMAILSETTINGS_CONNECTIONSECURITY also helps.

[2019-08-08 14:49] biva opened #11833 "Search result with 2 characters"
The search function is limited to words with 3 characters or more. Words with 2 characters are not searched. Even if I use * to complete the word.

It's a limitation for me. For example, we often use CI fo Commercial Invoice. Looking for "CI" or "CI*" doesn't give any result.

Would it be possible to improve this? I read https://mattermost.atlassian.net/browse/MM-5466 but I did not find any relate

[2019-08-08 14:53] biva commented on #10145
@jkl5616 Thanks for your job! Would you also be interested to add a "Pin icon" next to the "Flag" icon? Like this:
![image](https://user-images.githubusercontent.com/9964305/62713451-0bf54a80-b9fd-11e9-82b8-45453f097e31.png)

I submitted an issue but there's no progress on it up to now :( https://github.com/mattermost/mattermost-server/issues/10380

Thanks for your consideration!

[2019-08-08 14:53] lieut-data commented on #10166
@g3rv4 and I synced up offline:
* We're going to try to implement this as a pluginhelper extension (requiring a tiny bit of Go code to activate), so that plugins can start using this functionality without waiting for a server upgrade.
* Will leverage the existing config merge functionality + json serialization compare to quickly determine if the existing config has the desired settings without sol

[2019-08-08 18:06] amyblais commented on #11830
Thanks, appreciate your feedback @NgoHuy,

This seems to be an improvement that most likely hasn't been implemented yet. Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to

[2019-08-08 18:08] amyblais commented on #11833
Hi @biva, are you on Mysql or postgres? Is Elasticsearch enabled on your server?

[2019-08-08 18:09] amyblais commented on #11326
Hi @developweekly, would you be able to share your SMTP settings as well as email settings?

[2019-08-08 18:57] biva commented on #11833
Hi, I'm on Mysql, and Elasticsearch is not enabled (I'm on the team edition, 5.13.0). But I think this behaviour is normal, as far as I read in the documentation (https://docs.mattermost.com/help/getting-started/searching.html)

[2019-08-08 19:20] developweekly commented on #11326
[code]

The problem is although `ConnectionSecurity` is set as TLS from the UI, config remains as `STARTTLS`. STARTTLS option probably works for gmail etc, but not for yandex. I could only connect when I set environment variable `MM_EMAILSETTINGS_CONNECTIONSECURITY=TLS`. With the env var set, everything works as expected since UI is out of equation (This setting has been set through an environment

[2019-08-08 19:23] amyblais commented on #11833
It looks to be expected behaviour. I'll close this issue for now, thank you for the feedback!

[2019-08-08 19:23] #11833 closed

[2019-08-08 19:41] biva commented on #11833
@amyblais Even if it's an expected behaviour following the documentation, I think it's a limitation. Isn't it possible to remove it? And allow the search for 2-characters words? Thanks

[2019-08-08 20:21] #10185 closed

[2019-08-08 22:59] amyblais commented on #11833
Hi @biva, you can share improvement feedback on our ideas forum here: https://mattermost.uservoice.com/forums/306457-general. If you're interested in implementing this, please let us know or open a pull request!

[2019-08-09 03:28] adi-mishra commented on #11817
I want to give this a shot. :)

[2019-08-09 03:36] forkwhilefork commented on #11616
Hi team, I've run into this issue trying to import my existing Slack data into my Mattermost server (running v5.13.2). When will this fix be released released in a build?

[2019-08-09 04:38] jkl5616 commented on #11822
I'll take this!

[2019-08-09 04:54] NgoHuy commented on #11291
The problem is time of period too short.
Anyone with this issue can resolve by changing `Link Metadata Timeout:` in `EXPERIMENTAL -> Features`

[2019-08-09 04:58] NgoHuy commented on #11291
I think Mattermost team should be written on documents.

[2019-08-09 05:16] hanzei commented on #11817
Thanks for working on this @adi-mishra :+1:

[2019-08-09 05:17] Dropsik commented on #11079
Yesterday I updated to 5.13.2 and some channels with big history loading really long - or don't loading due timeout (>30s)

[2019-08-09 05:28] #11808 closed

[2019-08-09 09:30] hanzei commented on #10465
Making this one available for the public again due to inactivity.

[2019-08-09 09:31] hanzei commented on #10289
Hey @kevinetienne,

do you have any questions?

[2019-08-09 09:45] kevinetienne commented on #10289
@hanzei no I have tweaked you pr and I was basically working on a test but didn't got too far, I'll push it today and see where we go from there.

[2019-08-09 09:55] #11570 closed

[2019-08-09 12:55] amyblais commented on #11079
Hi @Dropsik, does your issue seem related to this one https://github.com/mattermost/mattermost-server/issues/11734?

[2019-08-09 14:20] lieut-data opened #11842 "Pass ProfilePopover `hide` through to plugin components"
The ProfilePopover can be extended in a number of points, but we don't currently give those extensions the power to dismiss the popover. Native components receive the `hide` function callback, and it makes sense to extend this to plugins as well.

JIRA: https://mattermost.atlassian.net/browse/MM-17661

-----

If you're interested please comment here and come [join our "Contributors" community chan

[2019-08-09 14:33] MatthewDorner commented on #11842
I'll take this.

[2019-08-09 14:59] jwilander commented on #11822
Awesome, thanks @jkl5616 !

[2019-08-09 15:05] lieut-data commented on #11842
Thanks, @MatthewDorner!

[2019-08-09 15:21] lieut-data opened #11843 "[HW Candidate] Customized slash command registration"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-08-09 15:52] lieut-data opened #11845 "Add EnsureChannel helper"
Similar to EnsureBot, add an EnsureChannel helper, returning the resulting channel id:

[code]

If the channel already exists, update any “safe” metadata provided by the call, e.g. name, url, description. If the channel is private but was meant to be public (or vice-versa), return an error since it may not be safe to automatically fix this.

----

If you're interested please comment here and come

[2019-08-09 21:55] amyblais commented on #11708
### v5.14 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.14.0-rc2/mattermost-team-5.14.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2850/files)

[2019-08-09 23:12] jasonblais commented on #11291
Thanks @NgoHuy! We have some documentation of this setting here https://docs.mattermost.com/administration/config-settings.html#link-metadata-timeout

Did you also have "Enable Link Previews" enabled in `System Console > Site Configuration > Posts`?

[2019-08-09 23:15] NgoHuy commented on #11291
Yes, I must enable  "Enable Link Previews" in `System Console > Site Configuration > Posts`

[2019-08-09 23:19] jasonblais commented on #11291
@NgoHuy Thanks! And what did you change the `Link Metadata Timeout` setting to?

[2019-08-09 23:22] NgoHuy commented on #11291
I changed it to 6000, that means for 6s.

[2019-08-10 03:56] RajatVaryani commented on #10702
Hello. Can we please correct the name of the constant to be `USER_NAME_MIN_LENGTH` in the issue as well as in the jira ticket?

[2019-08-10 13:39] malteklaassen opened #11850 "SMTP "Test Connection" button always reports success."
#### Summary
"Test Connection" button for SMTP appears to do nothing but still reports "No errors were reported while sending an email. Please check your inbox to make sure.".

#### Steps to reproduce
Version: Mattermost Server 5.13.2
OS: Ubuntu 18.04
Browser used: Firefox 68.0.1

1. Install as per instructions at https://docs.mattermost.com/install/install-ubuntu-1804.html (using mysql).
2. Creat

[2019-08-10 15:29] adi-mishra commented on #11817
Given that work on this has been started in https://github.com/mattermost/mattermost-operator/pull/64 . It might be appropriate to assign this to ankitrgadiya.

[2019-08-10 20:18] jasonblais commented on #10702
@RajatVaryani Thanks! I have corrected it

[2019-08-11 07:38] ankitrgadiya commented on #11817
@adi-mishra Thanks. I can take this up

[2019-08-11 07:42] ankitrgadiya commented on #11815
@jesperhansen17 Are you still working on it? I'd like to pick it too.

[2019-08-11 08:08] ankitrgadiya commented on #11845
I'd like to pick it up.

[2019-08-11 08:55] jesperhansen17 commented on #11815
Yes @ankitrgadiya, I'm still working on this. Will let you know otherwise.

[2019-08-11 18:11] lieut-data commented on #11845
Terrific! Thanks, @ankitrgadiya :)

[2019-08-12 02:54] lpadgett commented on #11814
I think this might be better left to someone else upon some investigation - I think I should learn more about Kubernetes first. Sorry!

[2019-08-12 02:54] lpadgett commented on #11814
I think this might be better left to someone else upon some investigation - I think I should learn more about Kubernetes first.

[2019-08-12 07:33] cpanato commented on #11743
@metanerd is working on that

[2019-08-12 08:23] ethervoid commented on #11843
Hi, I'd like to grab this one :)

[2019-08-12 12:24] ethervoid commented on #11843
Hi @lieut-data! , I'm currently working on this issue (https://github.com/mattermost/mattermost-server/issues/11843) and I've been reading about plugins and so on to know how is it done, etc. I've also read your proposal and I have a couple of questions about the ticket:

- I've seen there is a `RegisterCommand` method and the proposal adds a `RegisterSlashCommand` to the Helper. I thought a comma

[2019-08-12 12:54] cpanato opened #11853 "Move Docs repository pipeline from travis to circleci"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo