[2017-04-04 18:35] jasonblais opened #5980 "[Help Wanted] Add support for JPEG format for profile picture uploads"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-04 18:35] jasonblais opened #5981 "[Help Wanted] Pinning in center channel should add badge in right-hand sidebar in search results"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-04 19:26] jasonblais commented on #4587
@ruzette FYI, we changed the UI name of `private groups` to ` private channels`, so that might have a slight change to your work here.

[2017-04-05 00:03] saturninoabril commented on #5915
@jasonblais i'd like to work on this one if available. thanks

[2017-04-05 04:05] jasonblais commented on #5915
That would be awesome @saturninoabril! Thank you 👍

[2017-04-05 06:24] frol commented on #954
I am a bit lost here. I still see "Failed to open TLS connection [details: tls: first record does not look like a TLS handshake]" when I try to use smtp.office365.com:587 TLS. I am using Mattermost 3.7.3.

[2017-04-05 08:25] pravi commented on #4176
I'm a debian developer and maintains gitlab and diaspora in debian. I can guide, mentor and sponsor (officially upload to debian) the package if some one is interested to do the packaging work.

[2017-04-05 09:23] cpanato commented on #4176
I have interest in doing that, if have some guidance @pravi @it33

[2017-04-05 12:09] jasonblais commented on #4176
Thanks @pravi and @cpanato, appreciate your interest.

If you'd like to join an on-going discussion, please [join us on our Mattermost channel about installers and images](https://pre-release.mattermost.com/core/pl/qo8dyjsnnjrfxpjzfortu5kfmw). After you've

[2017-04-05 13:00] pravi commented on #4176
@cpanato great! Lets take it forward via irc/matrix/xmpp/email.

[2017-04-05 13:07] lindy65 commented on #5936
Hi @sanfords,

Thank you for your issue report!  Appreciated :)

I have tried to repro on the Desktop app in Windows and in the browser on Windows 7, Chrome but am not able to.  Tried as narrow as possible a window while still being able to see the channel list in the left-hand-side (as per your screenshot).

Could you clarify if you are seeing this issue in the browser or in the desktop app?  If

[2017-04-05 13:07] cpanato commented on #4176
@pravi we can talk direct in the Mattermost server, what do you think? @jasonblais post the link to join

[2017-04-05 15:14] esethna commented on #5962
### RC1 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.8.0-rc1/mattermost-team-3.8.0-rc1-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied pr

[2017-04-05 15:50] sanfords commented on #5936
This is most definitely fixed in 3.7.3.  Thank you!

[2017-04-05 15:50] #5936 closed

[2017-04-05 16:19] jasonblais opened #5996 "[Help Wanted] Pinning post in center channel changes list but not title of pinned posts in RHS"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-05 18:38] grundleborg commented on #5358
Hi @simon0191 . Thanks very much for your efforts so far looking into this ticket! We discussed using JSON schema in the meeting today, but we weren't really sure that it added anything over just hooking the proposed CLI command into the [existing config validation code](https://github.com/mattermost/platform/blob/master/model/config.go#L1164), and in some places it might not be able to replicate

[2017-04-05 18:59] jasonblais opened #5998 "[Help Wanted] No back button to pinned posts list after hitting the reply arrow"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-05 19:43] simon0191 commented on #5358
@grundleborg It makes sense, I wasn't aware of the existing config validation code.

[2017-04-05 21:29] jasonblais commented on #5627
Thanks @simon0191! This was is resolved by #5918

[2017-04-05 21:29] #5627 closed

[2017-04-06 01:30] VeraLyu commented on #5996
I would like to take this one, thanks!

[2017-04-06 01:47] VeraLyu commented on #5977
Hi, Can I take this one?

[2017-04-06 05:05] pravi commented on #4176
I don't use mattermost, a friend forwarded me this link. I prefer to use irc/matrix/xmpp/email.

[2017-04-06 07:37] VeraLyu commented on #5996
@jasonblais I'm not authorized to open the spec, just want to clarify:
do we expect even when we switch to Channel 2, RHS still displays Channel 1's pin posts? then how does user want to view pin posts of Channel 2?

[2017-04-06 07:48] senk commented on #4176
@pravi just drop you xmpp please, i'm also interested

[2017-04-06 08:03] cpanato commented on #4176
@pravi my xmpp is cpanato at xmpp.jp

[2017-04-06 09:05] VeraLyu commented on #5981
Hi, Can I take this one?

[2017-04-06 11:04] prixone opened #6003 "Refreshing or relogging will make links to channel turn into text"
#### Summary
Linking channel turn into plain-text...

#### Steps to reproduce

1. Enter any channel
2. Send a message linking to any channel, where the channel name will have dash on it using `~channel-name-with-dash`
3. Refresh the browser or relog into mattermost
4. The link is now not click-able and in plain-text

This was observed on https://pre-release.mattermost.com/ not sure what version it

[2017-04-06 12:12] jasonblais commented on #5996
@VeraLyu Thanks!

That is correct - when we switch to Channel 2, the RHS should continue to display Channel 1's pinned posts. This is consistent with all other information we have in the RHS which doesn't change when switching channels. People might also want to view pinned posts for Channel 1 while switching channels.

Sorry about the access, I made the spec public.

[2017-04-06 12:14] jasonblais commented on #5981
Sure thing, thanks @VeraLyu!

[2017-04-06 12:16] jasonblais commented on #6003
Thanks @prixone!

Do you belong to the Public Test Channel? We have an open ticket where channel links don't render properly when you don't belong to them: https://mattermost.atlassian.net/browse/PLT-5458

[2017-04-06 12:37] marcocevoli commented on #3650
I have "Show experimental previews of link content, when available" enabled but links (Wikipedia) are not shown. I only see an empty box under the link.

[2017-04-06 13:31] jasonblais commented on #5957
Thanks @filbo for the report, really sorry about that. I can definitely see this was a frustrating experience for you

We have a help wanted ticket to keep the slash command (and its input) in the typing section if the slash command fails for any reason: https://github.com/mattermost/platform/issues/5224

Wondering if anyone in the community would be interested helping with a fix?

[2017-04-06 13:34] jasonblais commented on #5955
Thanks @filbo for the report, you raise a good point here.

Redirecting traffic to https://forum.mattermost.org/t/welcome-to-the-mattermost-general-forum/ might be more user-friendly (people are familiar with forums + the text is more approachable for users)

I've queued this for our upcoming meeting to discuss with others.

[2017-04-06 13:57] jasonblais commented on #5935
Thanks @realrolfje! I've queued this for our upcoming meeting to discuss, will follow back

[2017-04-06 14:41] jasonblais commented on #5934
Thanks for the feedback @realrolfje! I've queud an item for our upcoming UX meeting to discuss https://pre-release.mattermost.com/core/pl/8rq3dim5p3r7byqdb9uy8ps6ce

[2017-04-06 14:53] jasonblais commented on #3650
Thanks @marcocevoli, the current implementation supports websites that use Open Graph data.

I believe Wikipedia doesn't use it, which would be why the link preview isn't generated.

[2017-04-06 15:04] marcocevoli commented on #3650
Thanks, jasonblais. Then, it would make more sense that no box appeared, like with other links. This is what I get, instead: http://i.imgur.com/cyL4Ghv.png

[2017-04-06 15:07] jasonblais commented on #3650
Ah, that issue was fixed in Mattermost v3.7 and later. You can upgrade Mattermost to the latest version here: https://about.mattermost.com/download/

[2017-04-06 15:58] AmuletOfNight opened #6006 "Refreshing the page after sending / receiving messages causes them to disappear"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
I'm so sorry, please delete this bug - I forgot to sync our hardware clock on our

[2017-04-06 15:59] jasonblais commented on #5934
Thanks @realrolfje, we discussed and created a ticket to add a confirmation dialog for deactivating someone. This should help prevent accidental deactivation. https://mattermost.atlassian.net/browse/PLT-6258

We're hesitant to add a system message to channels, as it would be a performance hit at large deployments (you might be sending a system message to hundreds of channels)

[2017-04-06 16:17] jasonblais commented on #5785
Duplicate of https://mattermost.atlassian.net/browse/PLT-6236

[2017-04-06 16:17] #5785 closed

[2017-04-06 16:18] prixone commented on #6003
@jasonblais good point I was not a member of it but will check that again.

[2017-04-06 16:21] #6003 closed

[2017-04-06 16:51] AmuletOfNight commented on #6006
I'm so sorry, please delete this bug - I forgot to sync our hardware clock on our server so when I rebooted earlier today it caused a 5 hour rollback and Mattermost would flipping out about the timestamps - Correcting and syncing the server time allows messages to stay where they are. You can close this.

[2017-04-06 17:17] pravi commented on #4176
My xmpp is praveen at poddery.com

[2017-04-06 21:00] jasonblais commented on #6006
Thanks @AmuletOfNight! Glad you figured out what the issue is

[2017-04-06 21:00] #6006 closed

[2017-04-06 21:03] it33 commented on #5975
Feature proposals are very welcome, [over a 100 proposals from the community have been added to Mattermost.](https://mattermost.uservoice.com/forums/306457-general/status/1588363)

We just need your help to follow [our documented policies](https://about.mattermost.com/help/) and, like hundreds of other users, to share and discuss ideas in the [feature proposal forum](https://www.mattermost.org/fea

[2017-04-06 21:03] #5975 closed

[2017-04-07 01:07] TheSeanBrady commented on #2440
This is definitely something my client is interested in. Where would one start for a pull request here? If I get something started will the community help me out? I'm pretty new to Go in general.

[2017-04-07 01:08] R-Wang97 commented on #5998
I'll take a look at this!

[2017-04-07 08:37] S4KH commented on #5913
Can somebody where the Position field is located? It is not inside models and stores files.

[2017-04-07 16:34] Majaspic opened #6024 "Voice channel like in discord"
Will be an awesome feature !!

[2017-04-07 17:30] mkbaldwin opened #6029 "Notifications are not generated for user names in message attachments"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Notifications are not being generated for user names in message attachments (n my

[2017-04-07 18:46] mattermod commented on #6024
Thanks @Majaspic, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to thi

[2017-04-07 18:48] jasonblais commented on #6029
Thanks @mkbaldwin for the report!

Would you be able to share an example payload so we can replicate it?

[2017-04-07 19:25] mkbaldwin commented on #6029
I don't have a good way to get an actual example from our environment due to policies of my employer. However, based on the API I believe the following contrived example should trigger the issue. Also note that we have our users' notification settings set to generate notifications for their first and last names. Which is the piece not working. I have not tried using `@username` to trigger them as

[2017-04-07 21:36] jasonblais commented on #2440
Hey @TheSeanBrady, thanks for the feedback, appreciate it.

I'm curious to hear what your client is hoping to achieve by disabling direct message channels? Just want to make sure the the setting would address what they're looking for.

[2017-04-07 21:41] TheSeanBrady commented on #2440
Customer is a call center, doesn't want chit-chat between agents while
they're on the phone. They do want supervisor-to-agent communications,
agent to IT/HR communications, and most importantly bots. I believe that
customized bots will be a killer app in this environment, providing low
friction bot-based services to the agents. The first example would be a
break/lunch bot, notifying supervisors wh

[2017-04-07 21:59] jasonblais commented on #5962
### RC2 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.8.0-rc2/mattermost-team-3.8.0-rc2-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied pr

[2017-04-08 08:55] VeraLyu commented on #5996
Add a note for PR testcase:
1. When viewing flagged posts in RHS, switching channel then add a flag to post in center channel will reflect in RHS.
2. When viewing search results in RHS, switching channel will not change search result.
3. When viewing pinned post in RHS, switching channel then pin a post in center channel will not change results in RHS.

[2017-04-08 18:40] pe1pip opened #6039 "webinterface: town square is not a link in the channel list"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
webinterface: town square is not a link in the channel list

#### Steps to reprodu

[2017-04-08 21:32] TheSeanBrady commented on #2440
So out of curiosity, where would one go to get started on something like this. I'm still going over the code to figure out what does what...

[2017-04-09 00:06] jasonblais commented on #5955
Thanks again for the report -- we're tracking the issue in Jira here: https://mattermost.atlassian.net/browse/PLT-5383

[2017-04-09 00:06] #5955 closed

[2017-04-09 08:17] cpanato opened #6042 "https://pre-release.mattermost.com/ is down"
@jasonblais @jwilander @coreyhulen

Please have a look in the https://pre-release.mattermost.com/ looks like it is down

[code]

[2017-04-09 10:42] jnugh opened #6043 "Joining a team using invite link does not update open sessions"
#### Summary
When clicking on a team invite link while having another session on the same server the team is not added to the open sessions.

#### Steps to reproduce
Tested on 3.7.3, master:
1. Create two accounts
2. Create a new team with account 1
3. Paste invite Link to Some channel in default team
4. Switch to account 2
5. Click on the invite link
6. A new Tab will open showing the new team in

[2017-04-09 10:55] pe1pip commented on #6039
button was blocked by a "tip".

[2017-04-09 10:55] #6039 closed

[2017-04-09 14:43] mmlb commented on #5962
@jasonblais Is release day really in August or is that a typo?

[2017-04-09 17:18] jasonblais commented on #5962
@mmlb Looks like that was a typo - updated to April :)

Good catch!

[2017-04-09 17:21] jasonblais commented on #2440
It could make sense to disable direct messages for that case, but the agents could still create private groups to chit-chat with each other.. Unless you'd disable private group creation too?

[2017-04-09 17:27] mmlb commented on #5962
:+1:

[2017-04-09 17:28] jasonblais commented on #5235
Thanks again @Rudloff for your help.

We have a ticket to track it here, and are planning to submit a fix for Mattermost v3.9: https://mattermost.atlassian.net/browse/PLT-5439

[2017-04-09 17:28] #5235 closed

[2017-04-09 17:29] jasonblais commented on #5447
Thanks again @kaakaa! We'll track the issue with this ticket, but if you're interested submitting a fix for slash commands, let us know. Would be happy to guide you through it

https://mattermost.atlassian.net/browse/PLT-5705

[2017-04-09 17:29] #5447 closed

[2017-04-09 17:30] jasonblais commented on #5694
Thanks again! We'll track the issue in Jira: https://mattermost.atlassian.net/browse/PLT-5863

[2017-04-09 17:30] #5694 closed

[2017-04-09 17:31] #5802 closed

[2017-04-09 17:32] #6024 closed

[2017-04-09 17:33] jasonblais commented on #6042
Thanks @cpanato, looks like it's fixed now

[2017-04-09 17:33] #6042 closed

[2017-04-09 20:23] TheSeanBrady commented on #2440
Right. Basically it would end up being a security layer, if that makes
sense. I could see some pretty granular permissions there.
On Sun, Apr 9, 2017 at 11:21 Jason Blais <notifications@github.com> wrote:

[2017-04-09 21:09] saturninoabril commented on #5915
@jasonblais just to let you know that i'm looking into this and had several attempts to work it out but I found limitations due to html composition used in `post_view_message.jsx` where formatted message is being passed as `dangerouslySetInnerHTML={{__html: TextFormatting.formatText(this.props.post.message, options)}}`.
I'm currently testing out one solution right now where I'm able to reuse/imple

[2017-04-10 07:47] lindy65 commented on #5769
Hi @jkopriva,

Just checking back on whether upgrading to the latest version helped solve your issue?

[2017-04-10 07:54] jkopriva commented on #5769
Hi @lindy65,

I have now on iPhone version 3.7.0 (3.7.3), but the white strip still exist:(

Cheers

[2017-04-10 13:46] wintah commented on #5072
I realize this is closed, but as I was trying to theme my Mattermost client to a bit prettier look, I failed, as changing the background color of your own messages is not one of the options. At least the option is not visible. If it was, changing the background color would allow the user to a) pick a nice color (or mimic a chat client such as Skyper with same colors user is used to) b) if really w

[2017-04-10 14:40] cpanato commented on #5913
I can take it

[2017-04-10 15:01] cpanato commented on #5913
this is the PR https://github.com/mattermost/platform/pull/6044

[2017-04-10 15:11] esethna opened #6060 "[Help Wanted] [PLT-6288] Don't force file downloads in APIv4"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-10 15:11] #6060 closed

[2017-04-10 15:15] esethna opened #6061 "[Help Wanted] [PLT-6288] Don't force file downloads in APIv4"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-10 15:19] cpanato commented on #6061
I can take a look into

[2017-04-10 15:20] cpanato commented on #6061
should we send a parameter to say we want to download or just visualize ?

[2017-04-10 16:08] esethna opened #6063 "[Help Wanted] [PLT-6295] View Info modal on old mobile app doesn't scroll"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-10 21:21] awgeorge commented on #4257
Hello - This is great work, can you change it so it won't show a preview for sites returning a 403 status code? Maybe just show the preview with a 200 status code.

Every time I paste a link to our Gitlab instance, it shows the login description.

<img width="803" alt="screen shot 2017-04-10 at 17 20 11" src="https://cloud.githubusercontent.com/assets/1777444/24883240/1302572a-1e12-11e7-9e79-848d1

[2017-04-10 21:51] jasonblais commented on #4257
@debanshuk what do you think?

[2017-04-10 21:52] jasonblais commented on #4257
And thanks @awgeorge! Glad you like them :)

[2017-04-11 00:31] S4KH commented on #5485
Instead, it should accept the upload if it is **less than the maximum** upload file size. Shouldn't this be changed to **greater than**. I am kind of confused first it says the upload is rejected then it says if less than it should accept it. If the size is less won't the system accept the file anyway?

[2017-04-11 03:40] VeraLyu commented on #4750
I'm currently working on this one.Thanks.

[2017-04-11 06:47] sokoow commented on #5744
ok, upgrading to 3.7.3 helped, but now I have a different problem, all my users profile pictures are gone! upgrade guide doesn't include instructions on how to port custom emoticons and profile pictures, help please!

[2017-04-11 08:27] kaakaa opened #6068 "Message not translated"
#### Summary
Tested in 3.8.0-rc3.
Some messages aren't translated.

![issue](https://cloud.githubusercontent.com/assets/1453749/24899634/f643fcd6-1edb-11e7-9914-914d337dd70f.png)

#### Steps to reproduce
1. Choose "日本語" as language setting in account settings.
2. Open `channel menu` > `通知の設定 ("Notification Preferences" in English)`

#### Expected behavior
`Send mobile push notifications` is transl

[2017-04-11 12:33] jasonblais commented on #6068
Ah --- can you help re-submit the PR? Sorry, I think there might have been an issue where the ID change wasn't merged before the new translations PR was submitted, which then overwrote the change

[2017-04-11 15:22] kaakaa commented on #6068
Sure!
I'll send the PR soon.

[2017-04-11 15:28] esethna commented on #5962
### RC3 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.8.0-rc3/mattermost-3.8.0-rc3-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied prior t

[2017-04-11 15:32] jasonblais commented on #5980
Resolved by #6049, thanks @R-Wang97

[2017-04-11 15:32] #5980 closed

[2017-04-11 15:39] jasonblais commented on #5485
@S4KH It's correct -- if the **dimensions** are larger (with **file size being smaller), it should still be accepted, but with a generic thumbnail for images.

If the **file size** is larger, the behaviour shouldn't change, and the user should receive a message along the lines of `File above 50MB cannot be uploaded`

[2017-04-11 16:00] Morihaya commented on #2159
Hello @dkastl

I tried pgroonga but didn't work.
Because pgroonga dose not support 4000 bytes over size varchar.

I needed create index for message columun of posts table but its type is varying(4000).
According to pgroonga document, an encorded varchar by UTF-8 allocates 4 bytes each 1 character.
So varying(4000) is 16000 bytes.

If you convert message columun's type from varchar to text, it may

[2017-04-11 16:14] esethna opened #6070 "OAuth2.0: Incorrect Client ID during authentication allows user to go "Back to Mattermost" in the authentication window"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 16:14] esethna opened #6071 "[Help Wanted] [PLT-3711] Add websocket event for creating a custom emoji"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 16:15] sokoow commented on #5744
another one:
[code]

[2017-04-11 16:20] esethna opened #6072 "[Help Wanted] [PLT-6258] Add a confirmation dialog to confirm deactivation, since it's a desctructive action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 16:20] esethna opened #6073 "[Help Wanted] [PLT-6096] In desktop web app, remove unnecessary steps for copying permalink"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 16:25] esethna opened #6074 "[Help Wanted] [PLT-6269] Enter to submit does not work on Leave Team modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 16:25] esethna opened #6075 "[Help Wanted] [PLT-2181] Change wording for deactivating a user from "Make Inactive" to "Deactivate""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 16:29] esethna opened #6076 "[Help Wanted] [PLT-2780] Re-add login redirect"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 19:28] lindy65 commented on #5744
Hi @sokoow,

There is [this post](https://forum.mattermost.org/t/anyone-missing-profile-pics-after-3-0-upgrade-while-using-local-storage/1546/7) which might help with the problem of missing profile pictures after upgrade.

Regarding the panic error you're getting, [this](https://forum.mattermost.org/t/solved-gitlab-8-9-panic-runtime-error-invalid-memory-address-or-nil-pointer-dereference/1810) mig

[2017-04-11 19:36] lindy65 commented on #5769
Thanks @jkopriva,

I've created [this ticket](https://mattermost.atlassian.net/browse/PLT-6318) to investigate the issue

[2017-04-11 21:48] jasonblais opened #6081 "[Help Wanted] No feedback when promoting a channel member to a channel admin"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 21:48] jasonblais opened #6082 "[Help Wanted] Confirm before sending (at)all, (at)channel message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 21:48] jasonblais opened #6083 "[Help Wanted] Add unit tests to APIv4 for creating users with hashes and invite ids"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 21:48] jasonblais opened #6084 "[Help Wanted] View Info modal on old mobile app doesn't scroll"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-11 22:31] anniemichelia opened #6085 "My login does not work but exists"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Issue in one concise sentence

#### Steps to reproduce
How can we reproduce the is

[2017-04-11 22:32] anniemichelia commented on #6085
I am able to login but no screens appears except blank.

[2017-04-12 01:30] VeraLyu commented on #6071
I like this one, pls assign it to me.

[2017-04-12 02:19] loafoe opened #6087 "Go client's GetTeamByName() marshalls incorrect model"
#### Summary
Go client's GetTeamByName() marshalls incorrect model

#### Steps to reproduce
Use the Go client to get team details by calling `GetTeamByName("name-of-team")`

#### Expected behavior
Function returns details of the Team, if it exists

#### Observed behavior
Function returns succesfull, however returned model is model.TeamStats

#### Possible fixes
Will provide PR

[2017-04-12 06:49] cpanato commented on #6083
i will take this one

[2017-04-12 06:50] cpanato commented on #6075
I can take this one

[2017-04-12 09:09] lindy65 commented on #6085
Hi @anniemichelia,

Thanks for your note,

Can you share a little more about the issue so we can help?  For instance -
1. What version of Mattermost did you install?
2. Do you see any error messages or console log errors?
3. Could you send us a screenshot of what the screen looks like once you have logged in?

Thanks!

[2017-04-12 09:24] lindy65 commented on #5807
Hi @Fonata,

Has your issue been sorted?  Is it okay for us to close this issue off?

[2017-04-12 09:50] hsali commented on #1942
will you give me simple javascript code to connect with mattermost.

[2017-04-12 12:03] jasonblais commented on #6071
Sure thing, thanks @VeraLyu  :)

[2017-04-12 12:51] jasonblais commented on #5759
Resolved by https://github.com/mattermost/platform/pull/6058

[2017-04-12 12:51] #5759 closed

[2017-04-12 13:12] Fonata commented on #5807
I haven't completed to wire it all together. We can close the issue now and I'll document my findings here once I know more.

[2017-04-12 13:12] #5807 closed

[2017-04-12 14:24] anniemichelia commented on #6085
Hi Lindy

1.       I upgraded to 3.7.3 Team Edition this past weekend.

2.       Errors

[cid:image003.png@01D2B376.E88EA120]

3.       It is spinning on Signing In….

[cid:image004.jpg@01D2B376.E88EA120]

But when I try another user it logins perfectly.

[cid:image005.jpg@01D2B376.E88EA120]

Annie Michelia | DBA, Technology Solutions and Services | Broadridge Financial Solutions, Inc.
2 Journal S

[2017-04-12 15:04] R-Wang97 commented on #6074
I can a look at this.

[2017-04-12 17:19] lindy65 commented on #6085
Hi @anniemichelia,

Thanks for your message...

Would you be able to attach the images again please?  They didn't come through with your message so I'm unable to see the errors you are getting...

Also, are you using the browser version, the Desktop app or mobile browser?

[2017-04-12 17:26] anniemichelia commented on #6085
Please find attached.

Annie Michelia | DBA, Technology Solutions and Services | Broadridge Financial Solutions, Inc.
2 Journal Square Plaza | Jersey City, NJ 07306 | USA | p +1 201-714-3522
broadridge.com<http://www.broadridge.com/>

From: lindy65 [mailto:notifications@github.com]
Sent: Wednesday, April 12, 2017 1:19 PM
To: mattermost/platform <platform@noreply.github.com>
Cc: Michelia, Annie x23

[2017-04-12 18:14] lindy65 commented on #5807
Thanks @Fonata :)

[2017-04-12 18:19] jasonblais opened #6090 "[Help Wanted] Create scripts to verify that every localization string is in en.json"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-12 20:26] #5981 closed

[2017-04-12 22:03] jasonblais commented on #5996
Closed by #6038, thanks @VeraLyu!

[2017-04-12 22:03] #5996 closed

[2017-04-12 22:04] jasonblais commented on #6068
Closed by #6069, thanks @kaakaa :)

[2017-04-12 22:04] #6068 closed

[2017-04-12 22:04] jasonblais commented on #4186
Closed by #6045 by @kaakaa :)

[2017-04-12 22:04] #4186 closed

[2017-04-12 22:37] R-Wang97 commented on #6072
I can take a look at this!

[2017-04-12 22:40] jasonblais commented on #5998
Hey @R-Wang97, just checking whether you're still working on this issue?

[2017-04-12 23:43] R-Wang97 commented on #5998
@jasonblais Still am, just haven't figured out a fix just yet.

[2017-04-13 00:15] jasonblais commented on #5998
No worries, just wanted to touch base :)

Let us know if we can help in any way.

Really appreciate your involvement across the Mattermost project.

[2017-04-13 01:56] #6087 closed

[2017-04-13 02:45] VeraLyu opened #6097 "Default websocket address set to be localhost making ws unaccessible"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
When I run a mattermost server from another machine in my LAN, and access it throu

[2017-04-13 09:13] lindy65 commented on #6085
Hi @anniemichelia,

I'm so sorry but no images were attached.

Perhaps you'd like to join our pre-release server where you can connect
directly with me via direct message and we can try to resolve the issue?

You can sign up here:
https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676

Once you have signed up, you can join the [Peer-to-peer Help channel](
http

[2017-04-13 12:44] douglasoliveira-sossego opened #6105 "User visibility"
Hello,
I want know if it's possible block user visibility only for team members?
I do not want the logged user see all users of site.

[2017-04-13 13:33] mmelcot commented on #643
+1

[2017-04-13 13:39] hmhealey commented on #6097
Hi @VeraLyu,

Are you seeing this on a pre-compiled version of Mattermost or are you running it from source using the Makefile?

[2017-04-13 14:23] hmhealey commented on #6097
Oh sorry, I see your note now that this is using the Makefile. I'm not sure what the best fix for this would be since we need that to be manually set now to fix a security issue.

We could consider returning it to the old behaviour when you're running it from the Makefile since you're unlikely to try to hack yourself, or we might be able to just switch the websocket to use `window.location.origin`

[2017-04-13 14:40] cpanato commented on #6075
PR: https://github.com/mattermost/platform/pull/6106

[2017-04-13 15:36] cpanato commented on #6081
@jasonblais I just tested in the current master and this behavior does not exist.

Attached you can check
![znbjmbfb1b](https://cloud.githubusercontent.com/assets/4115580/25012095/c1568652-206f-11e7-96d1-036214eea298.gif)

[2017-04-13 18:25] beckf commented on #5794
@napcae I am seeing the same problem with usernames.  Any idea what you did to resolve it?  I tried clearing caches, and resyncing LDAP.

[2017-04-13 18:26] esethna opened #6110 "[Help Wanted] [PLT-5852] CTRL+K: Enable channel selection with hitting ENTER only once"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-13 18:26] jasonblais opened #6111 "[Help Wanted] CTRL+K: Enable channel selection with hitting ENTER or TAB only once"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-13 19:18] jasonblais commented on #6110
Duplicate of PLT-6111

[2017-04-13 19:18] #6110 closed

[2017-04-13 19:22] realrolfje opened #6112 "API v3: logout does not work"
#### Summary
Calling `https://your-mattermost-url.com/api/v3/users/logout` as per the [api documentation](https://api.mattermost.com/) always returns a 404 in Mattermost 3.7.2.

#### Steps to reproduce
[code]

Returns HTTP/1.1 200 OK with a MMAUTHTOKEN. Using this token to access the API works:

[code]

Returns HTTP/1.1 200 OK with the JSON user object.

[code]
Always returns this error:

[code]

[2017-04-13 20:22] eburghar opened #6113 "gitlab login not working anymore: malformed url"
#### Summary
gitlab login not working anymore on v3.8.0

#### Steps to reproduce
- logout
- try login again: gitlab complaining about a malformed url.

#### Expected behavior
Login successful

#### Observed behavior
Landing on gitlab error page saying that the url is malformed, specifically the `redirect_uri` argument appears to be missing one `%2F`

`redirect_uri=https%3A%2Fmattermost.xxx`

Addin

[2017-04-13 21:25] jasonblais commented on #6081
Hm, you're correct. This does seem to work afterall.

Thanks @cpanato, I'll resolve this issue

[2017-04-13 21:25] #6081 closed

[2017-04-13 23:36] dmeza opened #6115 "`Group direct message` text is empty on quick channel switcher"
#### Summary
Bug: `Group direct message` text is empty on quick channel switcher. On 3.8 and 3.7

#### Steps to reproduce
1) create a group direct message
2) do quick channel switcher it appears fine
3) remove the group direct message
4) refresh the page
5) do quick channel switcher, it appears empty.

#### Expected behavior
Display the name of the group channel

[2017-04-14 13:56] lindy65 commented on #6115
Thanks @dmeza, I've created a [Jira ticket](Thanks @dmeza, I've created a Jira ticket for the issue) for the issue

[2017-04-14 16:07] lindy65 commented on #5696
Closing this issue due to inactivity. Please reopen if the issue is still unresolved.

[2017-04-14 16:07] #5696 closed

[2017-04-14 17:22] esethna commented on #5962
### RC5 has been cut

The latest Mattermost release candidate is available here:
`https://releases.mattermost.com/3.8.0-rc5/mattermost-3.8.0-rc5-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied prior t

[2017-04-14 17:24] esethna commented on #5962
Final has been cut from RC5.

**Note:** v3.8.1 will be cut next week due to an issue with GitLab login and a security fix.

[2017-04-14 17:25] #5962 closed

[2017-04-14 18:14] realrolfje commented on #5934
If hundreds of teams and channels is the target, the user management interfaces do not scale very well. We have a 200+ user deployment (free version) with 30 channels in which we already need to write scripts to manage things. I hope to contribute more suggestions based on our experience.

[2017-04-14 19:13] jasonblais commented on #5934
Thanks @realrolfje, appreciate the feedback.

What type of user management are you looking for in your deployment? The new user management interface is the first step, @esethna is working on further designs to improve it. Would love to hear feedback about it

[2017-04-14 20:38] realrolfje commented on #5934
Not sure if this is the place to report it, if you want me to make separate issues please let me know. I've numbered the list so you can tell me which ones to report separately.

We are running Mattermost since February this year. My short list of things we need are:

1. Admin approval for new users. There is no middle ground between "open system" and "invite only". We were opening it to intereste

[2017-04-15 20:10] prixone opened #6120 "LRU cache is broken"
#### Summary
The [utils/lru.go](https://github.com/mattermost/platform/blob/master/utils/lru.go) cache is not working properly for changes that happen too often.

#### Steps to reproduce
1. Open mattermost on chrome, preferable latest version using account A
2. Open mattermost on firefox, using account B
3. Wait both to see each other as online
4. Close chrome completely using the X button without

[2017-04-15 20:27] prixone commented on #6105
No, that feature does not exist currently, you would have to create a feature request, see https://www.mattermost.org/feature-ideas/

[2017-04-16 03:07] fjarlq commented on #6120
Regarding [the `web_hub.go` code](https://github.com/mattermost/platform/blob/master/app/web_hub.go#L255) you're wondering about, I think it is trying to avoid calling `SetStatusOffline` in the case where user A has two connections to the server but only one of them is being unregistered. Setting `found` to `true` means there is another connection by that user, so `SetStatusOffline` shouldn't be c

[2017-04-16 09:28] prixone commented on #6120
@fjarlq that makes sense, unhappily it triggers true with single connections on client A. Since I only tested with a single client, so that behavior shouldn't happen from what you have explained above.

[2017-04-16 15:16] eburghar commented on #6113
I was not looking at the right config file. I made a typo. Sorry for the noise.

[2017-04-16 15:16] #6113 closed

[2017-04-16 20:55] jasonblais commented on #4297
Closing given our focus on next-generation mobile apps which now supports this feature

https://github.com/mattermost/mattermost-mobile

[2017-04-16 20:55] #4297 closed

[2017-04-16 21:00] jasonblais commented on #4534
No longer applicable given the new APIv4 endpoints: https://forum.mattermost.org/t/mattermost-moving-to-api-version-4/2830

[2017-04-16 21:00] #4534 closed

[2017-04-16 21:03] jasonblais commented on #4760
This is resolved, I'm no longer able to reproduce the issue.

[2017-04-16 21:09] jasonblais commented on #5757
Duplicate of #4755

[2017-04-16 21:09] #5757 closed

[2017-04-16 21:16] esethna opened #6122 "[Help Wanted] [PLT-5170] "Joined the channel" system message does not get posted for the person who created the channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-16 21:22] esethna opened #6123 "Add " v New messages below" indicator to the right-hand-side"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-16 21:32] esethna opened #6124 "[Help Wanted] [PLT-5059] Add unit tests for markdown rendering"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-16 21:32] esethna opened #6125 "[Help Wanted] [PLT-5024] Channel handle can't be changed more than once without switching channels or refreshing"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-16 21:38] esethna opened #6126 "[Help Wanted] [PLT-4951] Don't send a desktop notification and don't mark channel unread if a comment thread for that channel is open in right hand sidebar, and Mattermost is in focus"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-16 21:38] esethna opened #6127 "[Help Wanted] [PLT-4790] At mentions don't appear linked in message box preview mode, only after you've posted them"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-16 21:42] esethna opened #6128 "[Help Wanted] [PLT-4118] Help text on "Private Channel --> Set Channel Purpose" is incorrect"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-17 00:21] it33 commented on #4868
The attempted PR was closed due to inactivity: https://github.com/mattermost/platform/pull/5175#issuecomment-285542357

[2017-04-17 04:43] dkastl commented on #2159
@Morihaya ,
thank you for trying! As you say, maybe changing the column type from `varchar` to `text` might be a solution. As far as I know there is no particular reason in PostgreSQL to always use `text` column type over  `varchar`.

[2017-04-17 12:21] douglasoliveira-sossego commented on #6105
Cool, i will see. Thanks

[2017-04-17 12:21] #6105 closed

[2017-04-17 13:42] jasonblais commented on #6120
Thanks @prixone! Great issue description!

I think your issue got unnoticed because of Easter holidays, sorry about it. I've been able to reproduce your issue though and have created a ticket: https://mattermost.atlassian.net/browse/PLT-6333

[2017-04-17 13:53] jasonblais commented on #5885
Thanks @demedos,

the issue should now be fixed on the [second-generation mobile apps released in Beta](https://github.com/mattermost/mattermost-mobile).

[2017-04-17 13:55] jasonblais commented on #5927
Thanks @omikron-admin, and really sorry for the delay in responding

Can you set your **System Console > Logging > File Log Level** to `DEBUG`? That might give more useful information on why it keeps crashing.

Does it still keep crashing roughly once a week?

[2017-04-17 14:06] jasonblais commented on #5875
Thanks @realrolfje! I've submitted a change to our docs on the definition of "total posts" for team statistics: https://github.com/mattermost/docs/pull/1091

I've actually got a ticket to update System Console statistics here: https://mattermost.atlassian.net/browse/PLT-2099

I'd love to hear feedback on what types of metrics you'd like to see as a System Administrator. One potential improvement i

[2017-04-17 14:25] jasonblais commented on #5847
Thanks again @robert843! I've submitted a PR based on your batch: https://github.com/mattermost/platform/pull/6130

Thanks for the contribution, much appreciated

[2017-04-17 14:25] #5847 closed

[2017-04-17 14:38] jasonblais commented on #6097
Hey @VeraLyu, just letting you know that this has been queued for Wednesday's developer meeting to discuss: https://pre-release.mattermost.com/core/pl/3dgcnxtpgffhuj586o7cp5p4dr

![image](https://cloud.githubusercontent.com/assets/13119842/25092028/eee65c68-2359-11e7-8407-c554ba451e96.png)

[2017-04-17 15:00] jasonblais commented on #6029
Hey @mkbaldwin, really appreciate the input,

I was able to reproduce it. Message attachments indeed don't support mentions and [don't appear in search results](https://docs.mattermost.com/developer/message-attachments.html#known-issues) yet.

Wondering if this would be something you'd be interested contributing? Would love to work with you to add it.

[2017-04-17 15:05] jasonblais commented on #5913
Resolved by @gstraube via #6044. Big thanks!

[2017-04-17 15:05] #5913 closed

[2017-04-17 15:06] jasonblais commented on #5358
Resolved by @simon0191 via #6041. Big thanks! 👍

[2017-04-17 15:06] #5358 closed

[2017-04-17 15:21] prixone commented on #6120
@jasonblais it's not a fix, its a workaround, where it will simple use the database calls instead of the cache, since the problem with the cache seems more complicated than my golang knowledge and I was not able to reach anyone to explain it to me, all I can tell is that its malfunctioning for updates that are very short in time from one to another. I've also updated the web_hub.go code above whic

[2017-04-17 15:25] ruzette commented on #6097
@hmhealey -- I can confirm this happens on a pre-compiled version as well. Visible since 3.5.1. :)

[2017-04-17 15:44] jasonblais commented on #5794
Thanks @beckf for the report

We made a change to properly validate the usernames when creating users via the API: https://github.com/mattermost/platform/pull/5581

However, it looks like it's causing issues with LDAP usernames as you reported here https://forum.mattermost.org/t/username-incorrect-after-upgrade-to-3-7-3/3150. We have a ticket to revert this change, which is considered for Mattermo

[2017-04-17 16:54] lindy65 commented on #5493
Thanks @ovizii for the report, really appreciate your detailed description to describe the issue

Also, I'm personally sorry for the delay, there has been some discussion internally about supporting the Exchange server [following the proposal here](https://github.com/mattermost/docs/issues/994#issuecomment-293091616), and we ended up forgetting to come back to you.

We received steps to configure

[2017-04-17 17:21] realrolfje commented on #5875
Hi Jason,

I can see https://mattermost.atlassian.net/secure/Dashboard.jspa <https://mattermost.atlassian.net/secure/Dashboard.jspa>, but I can’t access ticket PLT-2099, I think I don’t have permissions to see that ticket.

I think the statistics can be a bit higher resolution, maybe it’s a good idea to take a look at Kibana or Grafana for graphing ideas. In my setup, I use Munin and some PSQL que

[2017-04-18 07:20] cpanato commented on #6112
hello @realrolfje the issue here is that you are calling the wrong verb for logout. Instead of GET you should use POST

[code]

[2017-04-18 07:26] demedos commented on #5885
@jasonblais thank you, what about the current release app (the webview)?

[2017-04-18 07:26] cpanato commented on #6128
I can take this.
Make a comment in Jira.

[2017-04-18 08:03] saturninoabril commented on #6090
I thought about this and came up with the following suggestions on how to parse/process each localization from code files and make it maintainable in the future.
- change format of all localization ids with reference to `platform/i18n/`, e.g.:
  from `"id": "api.channel.add_member.added",`
  to `"id": "i18n.server.api.channel.add_member.added",`
- change format of all localization ids with referen

[2017-04-18 08:27] ovizii commented on #5493
hey, don't worry, this was not urgent and btw. we have decided to limit the use of mattermost accounts to our internal domain so sending emails out is no longer necessary which also means I can keep sending emails through mattermost directly to exchange without authentication as the target domain is internal.

I've read through the comment you linked me to and its a workaround only by adding postf

[2017-04-18 08:35] omikron-admin commented on #5927
@jasonblais Thanks for your answer. I changed the loglevel and will post the log after the next crash.

The last crash was about 10 days ago.

Best Regards
Omikron

[2017-04-18 10:48] funkyfuture commented on #5935
just stumbled across that default and was quiet shocked.

afaict it's common sense that [such idiosyncrasies don't make anything safer](http://www.explainxkcd.com/wiki/index.php/936), but just make it more difficult for users to remember a password. i suggest to increase the minimum length to 12.

[2017-04-18 12:06] jasonblais commented on #6128
@cpanato  The change is needed only for private channels: for public channels the help text "This text appears in the channel list in the "More..." menu and helps others decide whether to join." is correct, as the purpose does appear in the "More..." menu.

However, private channels don't have the "More..." menu at the moment.

[2017-04-18 12:07] jasonblais commented on #6128
And thanks for your interest on the issue!

[2017-04-18 12:18] enahum commented on #6090
Hey @saturninoabril thanks for having a look into this.

I really don't think changing the keys (id's) of the localization strings is the issue here nor it will help resolve it, in reality changing those keys will result in the localization community to go through every "new" key and "re-translate" and I don't think that is what we want to accomplish here.

In the beginning I was thinking along th

[2017-04-18 14:31] jasonblais commented on #5934
Thanks @realrolfje! Great feedback

1. Interesting suggestion. Couple of questions:
 - Have you hit issues with fake accounts?
 - If we added the "admin approval" feature, would you be able to tell which users are "real" vs "fake"
2. Would this ticket cover what you're looking for (view and revoke sessions from the admin console): https://mattermost.atlassian.net/browse/PLT-2101
3. We're in the pr

[2017-04-18 14:32] jasonblais commented on #5875
Ah sorry, I've updated the ticket to be public: https://mattermost.atlassian.net/browse/PLT-2099

Thanks for the feedback, very helpful!

[2017-04-18 15:09] cpanato commented on #6128
PR: https://github.com/mattermost/platform/pull/6144

[2017-04-18 16:09] esethna opened #6145 "[Help Wanted] [PLT-6343] JavaScript errors after pinning a post to a channel with an empty pinned post list open in RHS"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-18 16:14] esethna opened #6146 "[Help Wanted] [PLT-6326] JavaScript error after creating a team when user doesn't belong to any other teams"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-18 23:26] jasonblais commented on #5885
Sorry @demedos, I was mistaken. The issue isn't fixed.

In fact, it appears that the library we've used doesn't support it, where force-closing the app causes issues with push notifications.

We're investigating it at the moment both the for the currently released app (in webview) and the second-generation mobile apps.

The progress can be tracked here https://mattermost.atlassian.net/browse/PLT-6

[2017-04-19 00:51] S4KH commented on #5485
// Check dimensions before loading the whole thing into memory later on
     if info.Width*info.Height > MaxImageSize {
         err := model.NewLocAppError("uploadFile", "api.file.upload_file.large_image.app_error", map[string]interface{}{"Filename": filename}, "")
	     err.StatusCode = http.StatusBadRequest
	     return nil, err
	 }

Does above code also checks image size validation in terms of

[2017-04-19 01:35] kaakaa commented on #6090
Hi all.
I had written golang script for checking mm messages.
[kaakaa/mattermost-missing-message-checker](https://github.com/kaakaa/mattermost-missing-message-checker)

But I know that my script don't do the check perfectly because of wrong [regexp](https://github.com/kaakaa/mattermost-missing-message-checker/blob/master/parser.go#L14).
So manual work was needed.

I hope this would  be helpful.

[2017-04-19 06:45] saturninoabril commented on #6090
@enahum thanks for sharing. I also thought about such parsing patterns initially and I found it easy for those functions that used localization id as parameter directly, e.g.:
	`c.Err = model.NewLocAppError("", "api.context.missing_teamid.app_error", nil, "TeamIdRequired")`

However, I find it difficult when such localization id is initially declared in a variable (immediately used in succeeding l

[2017-04-19 07:22] realrolfje opened #6152 "Users can not leave a channel"
#### Summary
Some users report that they are immediately re-joined after leaving a channel.

#### Steps to reproduce
Login to with the same user on the same mattermost server twice (two different browsers, or a phone and a browser). We'll call the browsers A and B.

- Join channel X in both browsers.
- In browser A, leave channel X.
- In browser B, press reload (if browser B is on an Android phone

[2017-04-19 07:24] realrolfje opened #6153 "Peek Channel before Joining"
Users should be able to peek at a public channels content before joining to prevent extranous join/leave system messages when people (or admins) are just there to check things out.

Going to a channel URL should show the channel contents, with a "join" button instead of a reply box. After pressing "join", the user is reported as joining the channel, and the user will get a box to type messages in.

[2017-04-19 07:41] realrolfje opened #6154 "Deactivated user shown in Team "Manage Members" screen."
#### Summary
System Admins see deactivated users as part of a Team.

#### Steps to reproduce
As a System Administrator:
1. Click on the three dots in the left menu.
2. Click on "System Console"
3. Click on "Teams" and on "Users" in a team menu.
4. Deactivate the top user in the list (needs to be alphabetical top user) with the dropdown menu in the user row.
5. Click on the three dots in the left m

[2017-04-19 07:44] demedos commented on #5885
Thank you @jasonblais , altough I think the logging issue may be related to something else. Let's see if the [react-native-push-notification](https://github.com/zo0r/react-native-push-notification/issues/388) gets fixed

[2017-04-19 07:50] realrolfje opened #6155 "Deactivating a user does not deactivate sessions"
#### Summary
Deactivated users are still shown as "active" on open chats with that user (green icon).

#### Steps to reproduce

As a System Administrator:
1. Send a direct message to an active user (user is shown in black menu on the left).
2. Deactivate the user.
3. In the main screen, the user's icon is still there, and it is still green.

As long as the user keeps his browser/Phone going, the s

[2017-04-19 07:50] realrolfje commented on #5934
Hi Jason, no problem, trying to help make things better, thanks for taking the time.

1. Yes, we had to delete a couple of accounts. We are an amateur radio special interest group, and fairly localized. Although I can not check 100%, I can safely assume that `haxor@botnet.ru` is not sharing our interests.
2. Yes, PLT-2101 addresses this issue, although I can not open the screenshots in that issue.

[2017-04-19 07:57] realrolfje commented on #5875
I see the graphs in the mail did not show in this issue. Here they are:
<img width="497" alt="mattermost_posts-day" src="https://cloud.githubusercontent.com/assets/3617571/25169218/807cc526-24e6-11e7-9ae1-9dae7dc502b9.png">
![mattermost_sessions-day](https://cloud.githubusercontent.com/assets/3617571/25169223/864e350c-24e6-11e7-8e5f-1b62e04c5e3c.png)

[2017-04-19 08:02] realrolfje commented on #5935
It is not about the idiosynchronies. It's about having an insecure default setting, and worse: not honoring the security settings when changed.

Diffences between Enterprise and Free versions should not be in the security of any product. Security is universally important for all people.

[2017-04-19 08:19] realrolfje commented on #5927
I find it interesting that the logging shows:
[code]
when starting up. Can you also monitor your database? Is there a backup job running at 2am which locks the database or certain tables/rows?

[2017-04-19 08:28] funkyfuture commented on #5935
my point is, that a password with weird characters isn't safer than one without.

[2017-04-19 08:34] realrolfje commented on #5935
I tend to agree, but that is a different discussion alltogether. That choice is up to the user. The real problem is that the system does not honor securty settings, and does not warn about that. Setting the min pasword length to 100 still means that users can have passwords of 10 characters.

[2017-04-19 09:23] #5257 closed

[2017-04-19 09:25] lindy65 commented on #5493
Thanks for your note @ovizii !

Glad you have a solution in the meantime :)  I'll close this issue off for now but feel free to re-open it or create a new issue at any time.

[2017-04-19 09:25] #5493 closed

[2017-04-19 09:28] lindy65 commented on #5741
Hi @sedrubal, thanks for your response!

Just letting you know that Mattermost 3.8.1 should be released later today.  GitLab should update the omnibus soon afterwards.  Let us know if your issue is solved when you can test it out with GitLab :)

[2017-04-19 09:29] lindy65 commented on #5744
Hi @sokoow,

Just circling back to see whether you've managed to resolve your issue?

[2017-04-19 09:31] lindy65 commented on #5818
Hi @jtdaugherty

Just circling back to see whether you've managed to resolve your issue?

[2017-04-19 09:36] lindy65 commented on #5848
Hi @tejassawai

Just circling back to check whether you have managed to resolve your IDE issue?

[2017-04-19 09:37] lindy65 commented on #6085
Hi @anniemichelia

Just circling back to check whether you've managed to resolve your login issue?

[2017-04-19 12:01] jasonblais commented on #5367
Closed via #5853, thanks @Rudloff!

[2017-04-19 12:01] #5367 closed

[2017-04-19 12:25] johandalabacka opened #6157 "Editing channel header not updated for other users until reload"
#### Summary
If I update channel header will other users not see this until reload of page/client

#### Steps to reproduce
Change the channel header.

#### Expected behavior
Other users should both get message: XXX updated the channel header from: AAA to BBB and also see the new header at the top

#### Observed behavior
Header is not changed for other users than the user doing the change.

[2017-04-19 12:40] johandalabacka opened #6158 ""Message Display compact" ignores "Default appearance of image link previews""
#### Summary
Using compact message display ignores setting for image link previews

#### Steps to reproduce
Select Account Settings > Message Display > Compact

#### Expected behavior
Image previews should show expanded or collapsed depending on setting or /expand /collapse command

#### Observed behavior
Image previews are always collapsed and the command /expand does nothing.

[2017-04-19 12:55] johandalabacka commented on #6158
On Mattermost 3.8

[2017-04-19 12:56] johandalabacka commented on #6157
On Mattermost 3.8

[2017-04-19 13:00] enahum commented on #6154
Thanks for the report @realrolfje I created a ticket with the bug report for you to track https://mattermost.atlassian.net/browse/PLT-6365

[2017-04-19 13:10] anniemichelia commented on #6085
Hi Lindy – I did not receive any resolution steps after this email. Can you please look into this? I am still unable to login.

Annie Michelia | DBA, Technology Solutions and Services | Broadridge Financial Solutions, Inc.
2 Journal Square Plaza | Jersey City, NJ 07306 | USA | p +1 201-714-3522
broadridge.com<http://www.broadridge.com/>

From: Michelia, Annie x23522
Sent: Wednesday, April 12, 2017

[2017-04-19 13:22] jasonblais commented on #6153
Thanks, appreciate your feedback!

[We have an existing feature proposal here](https://mattermost.uservoice.com/forums/306457-general/suggestions/12877668-ability-to-view-channels-without-joining). Would you like to contribute to the discussion and upvote it?

You get **10** votes in the feature idea forum, and each one influences the future of the project.

[2017-04-19 13:25] jasonblais commented on #5875
That looks great @realrolfje!

Would you be open to [sharing your work with the Mattermost community](https://www.mattermost.org/share-your-mattermost-projects/)?

Many others in the community might be interested in your work, and we'd be happy to promote it.

[2017-04-19 14:14] federicolucca opened #6159 "CORS Access-Control-Expose-Headers"
Hi,

I trying to create a chat for some website, based on a single mattermost api host.
When i call the login i see the token but the angular2 response hides the headers because they are not allowed in cross origin call.

There is a way to "solve" ?

Thanks
Federico

[2017-04-19 14:57] federicolucca opened #6162 "Problem with oauth"
Hi,

I'm trying https://github.com/enahum/mattermost-oauth2-client-sample and i have,i create the app and i have the client id and secret key correctly.

This is the response

{"id":"api.context.404.app_error","message":"Sorry, we could not find the page.","detailed_error":"There doesn't appear to be an api call for the url='/api/v3/oauth/authorize'.  Typo? are you missing a team_id or user_id as

[2017-04-19 15:09] jasonblais commented on #6152
Thanks @realrolfje - the observed behaviour is by design given you automatically join a channel from a public link.

So the user does indeed leave it, but clicking the link (or refreshing a page containing a URL to the channel) will have the user re-join the channel.

I agree that #6153 would solve the problem. [We have an existing feature proposal here](https://mattermost.uservoice.com/forums/306

[2017-04-19 15:51] jasonblais commented on #6155
@lindy65 can you help test this and create a ticket if you can reproduce?

[2017-04-19 15:53] jasonblais commented on #5934
Thanks, appreciate your feedback.

For 1,  would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](http://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub Issue. If you're interested in implementing, please say so and we'l

[2017-04-19 17:37] realrolfje commented on #6112
Thank you @cpanato, that works for logging out, and in the database I even see that the sessions are gone. However, in the client the user still seems to be reported as "active".

Reproduction:
1. Log in with user A
2. Log in with user B
3. B starts a Direct Message to A and keeps the screen open.
4. Use the tokens in the session table and curl to force logout user A.
5. All sessions for A are now

[2017-04-19 17:59] hmhealey commented on #6097
@VeraLyu I've filed a ticket to go change the websocket back to using `global.location.origin` like it used to before the SiteURL setting was added. I'll try to get to it in the next few days, but feel free to take it if you want it sooner.

https://mattermost.atlassian.net/browse/PLT-6368

[2017-04-19 18:01] esethna opened #6164 "[Help Wanted] [PLT-6368] Switch websocket to use `window.location.origin` instead of SiteURL"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-19 18:16] cpanato commented on #6112
I will take a look in the code and follow your steps to reproduce.

In meanwhile i guess @jasonblais can confirm if this is expected or not

Thanks

[2017-04-19 18:24] harshavardhana commented on #5173
@jasonblais  so we back on your drawing boards and decided to provide IAM support and an initial PR now supporting various credential mechanisms https://github.com/minio/minio-go/pull/646 including IAM is available here. Once perhaps its merged we can explore on adding these capabilities to mattermost as well.

:+1:

Need to explore this, do not have any idea what it entails yet.

We have implemen

[2017-04-19 18:44] lindy65 commented on #6085
Hi @anniemichelia,

I'm sorry to hear that your issue is still not resolved.

Could we ask your help to attach the images to the GitHub issue that you opened (https://github.com/mattermost/platform/issues/6085) rather than attaching them to an email where they don't seem to be coming through?

Thanks!

[2017-04-19 19:18] anniemichelia commented on #6085
[mattermost-issues.docx](https://github.com/mattermost/platform/files/937645/mattermost-issues.docx)

[2017-04-19 19:19] anniemichelia commented on #6085
Attached the document which has the screen shots

[2017-04-19 19:20] anniemichelia commented on #6085
I attached as a word document with the screen shots to the GitHub. Thanks.

Annie Michelia | DBA, Technology Solutions and Services | Broadridge Financial Solutions, Inc.
2 Journal Square Plaza | Jersey City, NJ 07306 | USA | p +1 201-714-3522
broadridge.com<http://www.broadridge.com/>

From: lindy65 [mailto:notifications@github.com]
Sent: Wednesday, April 19, 2017 2:44 PM
To: mattermost/platform

[2017-04-19 21:17] jasonblais commented on #5173
Thanks @harshavardhana! Much appreciated 👍

Please let us know if you need more details or if we can assist in any way.

[2017-04-20 00:39] ChrisFernandez opened #6168 "Upgrade broke websockets"
https://forum.mattermost.org/t/upgraded-from-3-7-to-3-8-broke-websockets-help/3163
Hello everything was working fine.. I upgraded like I always do... log in.. got a msg to add a URL in the console/configuration field.. I added my url... and after that I get:
websocket connect err: websocket: origin not allowed
/api/v3/users/websocket:connect code=500 rid=4che7w3383r88qxswssi53nkwh uid= ip=107.182.

[2017-04-20 06:37] lindy65 commented on #6085
Thanks @anniemichelia,

From the screenshots you have sent, it seems you might be logged in to your other account (the one that shows online when you log in as the other sys admin account) via another browser or perhaps on a mobile device?

I'm not totally sure so I'm going to pass the log file screenshot on to our devs to interpret and will get back to you soon.

Please respond here, [in the GitH

[2017-04-20 08:21] sokoow commented on #5744
We're good, activating/deactivating users is resolved in new version

[2017-04-20 08:21] #5744 closed

[2017-04-20 08:41] VeraLyu opened #6169 "Report more specific reason when upload big emoji img fails"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
We need to report more specific reason when upload big emoji img fails

#### Steps

[2017-04-20 08:45] lindy65 commented on #5744
Awesome!  Thanks for the update @sokoow :)

[2017-04-20 09:08] lindy65 commented on #6157
Hi @johandalabacka,

Thanks for your report!  I'm not able to reproduce the issue on Mattermost 3.8.1 - I see the message: "XXX updated the channel header from: AAA to BBB" and I also see the new header at the top straight away.

Could you share more about which browser you're using?  You could also try [updating to v3.8.1](https://about.mattermost.com/download/) which was released yesterday.

Let

[2017-04-20 09:36] dc0d commented on #3903
This is closed (though I've failed to find support for RTL languages) I should add that when adding RTL support, there is a need for adding alternative calendars too (Persian Calendar or Lunar Calendar).

Actually we need to provide a presentation layer - a formater - at the UI. We do not need it at other places & we just save Gregorian (default) Date. We just need to convert to/from other calenda

[2017-04-20 09:39] johandalabacka commented on #6157
I see the new header right away but other persons on the same channel doesn't. I also tried being logged in both in client and on webpage and if I update the channel header for example in the client will the webpage not be updated but I have to reload to see the change. I also tried updating to 3.8.1 but it didn't make any difference.

[2017-04-20 10:23] lindy65 commented on #6157
Hi @johandalabacka,

Thanks for the additional information...  Are you using the Mattermost Desktop App?  Sorry, I did not check the issue there and see it does reproduce when using the Desktop App.

@jasonblais, is this a known issue or should I create a bug ticket?

[2017-04-20 11:21] wobbit commented on #6168
I'm having the same issue since upgrading to 3.8.1

[2017-04-20 11:35] johandalabacka commented on #6157
Hi @lindy65  I have tried both the webpage and the client (mac os x)

[2017-04-20 11:37] assafmo commented on #3903
This is very disappointing. Maybe you can recommend another chat app? because the current eyate is unbearable.

[2017-04-20 11:41] assafmo commented on #3903
This is very disappointing. Maybe you can recommend another chat app? The current state is unbearable.

[2017-04-20 11:43] gfgqtmakia commented on #3903
This is very disappointing. Maybe you can recommend another chat app? The current state is unbearable.

[2017-04-20 11:54] omikron-admin commented on #5927
@realrolfje I will set up a monitoring for the database. As I know we only do backups of the whole VM in vmware at 4am and i couldn't find any conspicous log entrys in PostgreSQL.

[2017-04-20 11:58] jasonblais commented on #6157
We have a help wanted ticket for a similar issue for renaming a channel, which doesn't update for other users until reload.

https://github.com/mattermost/platform/issues/5834

It's probably a related issue, so I included a note that it reproduces for a channel header too.

Anyone in the community interested to help with a fix for this issue?

[2017-04-20 12:04] jasonblais commented on #6168
@ChrisFernandez @wobbit

Can you temporarily remove the Site URL field to see if the WebSocket issues stop? This let's us confirm if it's an issue with the Site URL field.

[2017-04-20 12:22] wobbit commented on #6168
I've *kinda* fixed the issue by removing the port number from the Site URL. Instead I'm now getting a few of these:

[EROR] websocket routing error: seq=1 uid= api.web_socket_router.not_authenticated.app_error [details: ]

[2017-04-20 12:23] wobbit commented on #6168
Oh and also I set the AllowCorsFrom to "*" temporarily.

[2017-04-20 14:14] jasonblais commented on #6128
Resolved by #6144!

[2017-04-20 14:14] #6128 closed

[2017-04-20 14:43] hmhealey commented on #6168
What is your SiteURL set to? It should match the URL of the proxy (including the http/https protocol and, if necessary, the port) and not the internal address of the Mattermost server. If you have AllowCorsFrom set, it should just be the URL without the protocol or port.

[2017-04-20 15:34] #6061 closed

[2017-04-20 15:43] dc0d commented on #3903
Actually I would say MatterMost is one software with least hassle in it's category (not hassle-free) and it's written in Go (a big plus for me) and it just works as it claims (though I've a ton of ideas which might need a huge pile of resource & man-hour and it's codebase might get much much bigger!). I like it very much!

I think adding just the support for RTL languages would need a bit of work.

[2017-04-20 16:17] esethna opened #6171 "[Help Wanted] [PLT-6376] Button for "Add Members to Team" modal should say "Add", not "Go""
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 16:17] esethna opened #6172 "[Help Wanted] [PLT-6362] Add full date tooltip to post timestamps in right-hand sidebar and search results using system tooltip"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 16:19] cpanato commented on #6171
i can take it

[2017-04-20 16:28] jasonblais commented on #6171
Thanks!

[2017-04-20 16:57] esethna opened #6173 "[Help Wanted] [PLT-4113] Blank FileSettings.Directory setting should act as default"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 16:57] esethna opened #6174 "[Help Wanted] [PLT-3856] Help break HTML blocks to individual strings for translations"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 16:58] ChrisFernandez commented on #6168
@wobbit @hmhealey @jasonblais just to make it clear, I did try first the url that is used from the outside and with the https etc only reason my example above is localhost is because when it did not work I try all possible convinations.. on the positive side.. **seems** that if I just leave it empty like it was and **ignore** the warning pressing the "x" everything seems to be working fine.. so ma

[2017-04-20 17:01] esethna opened #6175 "[Help Wanted] [PLT-4539] Add confirm dialog before leaving private group"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 17:01] esethna opened #6176 "[Help Wanted] [PLT-4208] Move Current Email to a separate field in Account Settings > Email > Edit"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 17:01] esethna opened #6177 "[Help Wanted] [PLT-4149] Add "Already have an account? Click here to sign in" to the sign up page"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 17:01] esethna opened #6178 "[Help Wanted] [PLT-3540] All fields highlight red when an error is caused on switch authentication method screens"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-20 17:10] lindy65 commented on #6155
Hi @realrolfje

Thanks for your issue report!  I've tried to reproduce on our nightly build server running Mattermost 3.8.1 and am not able to.

Could you share which server version you're running and which database so we can troubleshoot further?

[2017-04-20 17:28] realrolfje commented on #6155
Hello @lindy65 yes of course, sorry, I should have added that info to the original ticket. We are running Mattermost 3.7.3, on PostgreSQ 9.4.10.

Even if I kill sessions for these users through the API, they still show as "active" to the other users. See my comments in issue [6112](https://github.com/mattermost/platform/issues/6112) for the reproduction path.

[2017-04-20 17:34] lindy65 commented on #6157
Thanks for your feedback @johandalabacka ...  I think the note that @jasonblais has added to #5834 will solve the issue with the channel header as well.

[2017-04-20 17:41] lindy65 commented on #6155
Thanks @realrolfje,

Could we have your help upgrading to [Mattermost 3.8.1](https://about.mattermost.com/download/) which shipped yesterday?

When I test your repro steps in this version, the user that has been deactivated is instantly logged out of Mattermost and from the system admin's view, the status icon shows the deactivated user as offline.

Let us know if upgrading to the latest version s

[2017-04-20 17:53] realrolfje commented on #5934
Contributed to the idea forum as [suggestion 18995998](https://mattermost.uservoice.com/forums/306457-general/suggestions/18995998-create-a-new-user-approval-process).

Another idea would be to consolidate the JIRA, GitHub and Uservoice systems. Having me jump around between 3 different systems and logins does help me find issues which may already have been reported, and makes it a bit harder to r

[2017-04-20 18:16] johandalabacka commented on #6157
It seems to be the same issue. Thanks slot.

[2017-04-20 18:16] #6157 closed

[2017-04-20 18:40] #6085 closed

[2017-04-20 18:40] anniemichelia commented on #6085
I deleted the user and recreated.

[2017-04-20 18:42] jasonblais commented on #5934
Yes, you're not the first person mentioning that..and I agree. We should figure something out, I've created a ticket for myself to think about this https://mattermost.atlassian.net/browse/PLT-6378

[2017-04-20 19:14] lindy65 commented on #6085
Thanks for the feedback @anniemichelia :)

[2017-04-20 20:58] prixone commented on #6120
I don't have a way to comment on the jira ticket so I will do it here.

@jasonblais 60 seconds is by itself long honestly should be within 15 second at most 30 seconds.

@lindalumitchell on your test did you run the server and clients all from the same machine? On the tests I did, I've run each from separated machines and the result was much longer than that.

Client A was on VM A with IP XYZ
Clie

[2017-04-20 22:17] lindalumitchell commented on #6120
@prixone yes, I ran all on the same machine. I can re-test separately if we want to add more info / repro your results, but I agree with you that even 60+ seconds feels long. I believe the expectation was closer to 15 seconds.

[2017-04-20 23:25] R-Wang97 commented on #6175
I can take a look at this!

[2017-04-20 23:26] R-Wang97 commented on #6176
I can take this as well.

[2017-04-21 00:09] jasonblais commented on #5769
Thanks @jkopriva! Are you referring to the white strip at the top?

![image](https://cloud.githubusercontent.com/assets/13119842/25257311/397c3e7a-2605-11e7-8aba-1263f70d3356.png)

[2017-04-21 00:13] jasonblais commented on #6162
Thanks @federicolucca,

Can you post a screenshot of the information you added in Integrations > OAuth 2.0 Applications page?

[2017-04-21 04:01] justinwyer commented on #6124
I'm interested in taking this on

[2017-04-21 04:39] hank opened #6183 "websocket uses wrong domain"
#### Summary
When making requests, the websocket URL doesn't use the base domain given in the URL bar.

#### Steps to reproduce
1. Create a CNAME for a mattermost instance that doesn't match the configured base URL in the site settings (eg. b.mydomain.com instead of a.mydomain.com)
1. Configure a virtualhost in apache to forward requests to b.domain.com into the mattermost instance on 127.0.0.1.
1

[2017-04-21 04:44] hank commented on #6183
Here's the developer console from the Windows app when trying to access the websocket:
![capture2](https://cloud.githubusercontent.com/assets/8534/25263163/9322c284-262b-11e7-8635-5e73582d1bcd.PNG)

[2017-04-21 06:01] jkopriva commented on #5769
Hi @jasonblais , exactly:)

[2017-04-21 07:05] Wegi opened #6184 "Pasting of Theme Colors is disabled"
#### Summary
The field for pasting theme data is read-only.

#### Steps to reproduce
Version: 3.7.0  (3.7.3)
Database: postgres

#### Expected behavior
According to several documentation the field should be read-write not read-only.

#### Observed behavior
The field ist read-only.

#### Possible fixes
--

[2017-04-21 07:07] lindy65 commented on #6043
Hi @jnugh,

Apologies for the late response!

I've reproduced your issue in v3,8 and have created a [ticket](https://mattermost.atlassian.net/browse/PLT-6380) to track the fix.

I didn't get a JS error as you commented about here:

[2017-04-21 07:37] cpanato commented on #6171
PR: https://github.com/mattermost/platform/pull/6185

[2017-04-21 07:54] wobbit commented on #6168
@hmhealey it's set the match the URL of the proxy. I tried changing the AllowCorsFrom to the same as the site URL without the protocol or port and still got

`Apr 21 08:49:10 platform: [2017/04/21 08:49:10 BST] [EROR] websocket connect err: websocket: origin not allowed`

Changing the AllowCorsFrom back to "*" seems to have _fixed_ that problem but we do still get these in the log

`Apr 21 01:54:3

[2017-04-21 07:55] cpanato commented on #6177
I can take it

[2017-04-21 08:01] lindy65 commented on #6184
Hi @Wegi,

Thanks for your issue report!

Could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) of Mattermost and seeing if the issue still reproduces for you?

[2017-04-21 08:05] kaakaa commented on #6090
@saturninoabril
No, it's impossible to check the message id declared in variable by my script...
My script checks only arguments in functions for i18n like `FormattedMessage`(js), `model.NewLocAppError`(go) and so on.

If we would like to check all message ids, I think it may need not only to parse text by regexp but to analyze runtime. But still I don't know if it would be perfect.
Or we have to

[2017-04-21 08:18] Wegi commented on #6184
I'm gonna try it out and report as soon, as our System is up-to-date. (I have no control over the updates.)

[2017-04-21 08:43] justinwyer commented on #6173
I'll take a look at this

[2017-04-21 08:44] justinwyer commented on #4752
I'll have a look at this

[2017-04-21 11:44] lindy65 commented on #6184
Thanks @Wegi, let us know how it goes!

[2017-04-21 11:57] jasonblais commented on #6124
Awesome! Thanks @justinwyer 👍

[2017-04-21 11:59] jasonblais commented on #5769
Ah, we can't control that strip with the existing app from the App Store.

It's fixed in the next-generation mobile apps we're working on for iOS and Android, which will be production-ready soon! You can find out here if you want to try them out https://about.mattermost.com/mattermost-3-8/#ios-and-android-apps

[2017-04-21 11:59] #5769 closed

[2017-04-21 12:22] stephaneeybert opened #6189 "Puzzling admin error message: Failed to add from email address"
#### Summary
Make the message "Failed to add from email address" more explicit

#### Steps to reproduce
Open the ./admin_console/notifications/notifications_email page.
Type in correct email server connection settings (security none).
Click on the "Test Connection" button.

#### Expected behavior
A more explicit message, giving more details.

#### Observed behavior
I saw the message: "Connection u

[2017-04-21 12:35] jasonblais commented on #6158
Hey @johandalabacka,

It seems to work for me

*collapsed*
![image](https://cloud.githubusercontent.com/assets/13119842/25277599/61fbbe8a-266d-11e7-8e41-dfb19d2590b1.png)

*expanded*
![image](https://cloud.githubusercontent.com/assets/13119842/25277624/72af5b38-266d-11e7-8f97-fe87ed4023ac.png)

Can you help share the image link previews that are not showing up for you?

[2017-04-21 13:30] enahum commented on #6183
Hi @hank there is a ticket to make the websocket in the webapp to use the current origin https://mattermost.atlassian.net/browse/PLT-6368

[2017-04-21 13:31] enahum commented on #6169
@VeraLyu this is working fine for me, do you have a reverse proxy in front of Mattermost? maybe the issue is with the reverse proxy not waiting enough or some other related issue

[2017-04-21 13:34] enahum commented on #6159
Hi @federicolucca you have a system console configuration to set the Cross origin requests
![image](https://cloud.githubusercontent.com/assets/6757047/25279804/0ba8fc3a-267e-11e7-809e-070b5a8c74c0.png)

[2017-04-21 13:43] hmhealey commented on #6097
FYI, we're also having reports of this affecting people in production environments, so we're going to move this up and do it as a hotfix release for 3.8

[2017-04-21 13:50] hank commented on #6183
Thanks I've voted for it and watched it.

[2017-04-21 13:59] hmhealey commented on #6183
@hank We've had enough reports of this that we're actually going to do this in a 3.8.2 release. Stay tuned for that

[2017-04-21 14:03] hank commented on #6183
Great! If at some point you're working on supporting SSL client certificates in the Windows and Mobile apps, that would greatly benefit me. I require client certs for security from all my employees, and the above is just a workaround for the apps (albeit imperfect). Thanks for the quick response!

[2017-04-21 14:11] johandalabacka commented on #6158
Hi. I missunderstod. I thought this also should affect how uploaded images was displayed.
![Collapsed](https://cloud.githubusercontent.com/assets/9607173/25281245/04512b22-26ad-11e7-8b82-ed7bf509b9e9.png)
![Expanded](https://cloud.githubusercontent.com/assets/9607173/25281244/0441ab20-26ad-11e7-9e3d-452be02fa58c.png)

[2017-04-21 14:58] hmhealey commented on #6168
@ChrisFernandez The Site URL setting is now required due to a security issue arising from the old behaviour so you'll probably want to set it. Not having it set will also cause certain issues like making emails contain broken links. That being said, we've had reports of websocket issues when the Site URL is set so we're currently cutting a 3.8.2 release that will make the websocket always use the

[2017-04-21 15:06] hmhealey commented on #6168
@wobbit I'm not sure why AllowCorsFrom still wouldn't be working if it matches the Site URL, but for the other issue, can you try logging out and back in again? For whatever reason, the websocket connection isn't linked to a session correctly

[2017-04-21 15:10] wobbit commented on #6168
@hmhealey It is a bit of an odd one... Tried logging in and out, restarting the desktop app and a fresh browser session yet still getting the same error (but only occasionally). As far as I can see the Mattermost is working fine, except for these errors in the log!

[2017-04-21 15:40] stephaneeybert commented on #2205
I have these settings at the moment, and am also faced by the message `Connection unsuccessful: Failed to add from email address` on our Exchange server.

        "FeedbackName": "Ne-Pas-Repondre",
        "FeedbackEmail": "nepasrepondre@aaaa.com",
        "FeedbackOrganization": "AAAA",
        "SMTPUsername": "nepasrepondre@aaaa.com",

I wonder what to have then for the Test Connection button to

[2017-04-21 20:42] ohlookemus commented on #6183
Any word when this will be released? I upgraded from 3.7.x and now I can't downgrade.

[2017-04-21 21:13] ohlookemus commented on #6183
FYI, I built the 3.8.2 tag (not quite sure if I built it correctly but...)

I'm still seeing web socket issues related to origin. Not sure if it's the same as this issue.

[2017/04/21 14:13:44 PDT] [EROR] websocket connect err: websocket: origin not allowed

[2017-04-21 23:07] jasonblais commented on #6183
@hank Mattermost 3.8.2 is available for download here: http://about.mattermost.com/download/

The dot release should fix the WebSocket connection issues you've described.

Please let us know if you hit any further issues, and thank you for the report!

[2017-04-21 23:08] jasonblais commented on #6168
@ChrisFernandez @wobbit  Mattermost 3.8.2 is available for download here: http://about.mattermost.com/download/

The dot release should fix the WebSocket connection issues following the upgrade.

Please let us know if you hit any further issues, and thank you for the reports!

[2017-04-22 13:28] mkbaldwin commented on #6029
@jasonblais, no problem. I wouldn't mind taking a look at it, but I might not have time to get to it right away.

I will have to take a look what all I need to setup a dev environment for the app. I've never worked with Go before, so that could be interesting.

[2017-04-22 15:57] jtdaugherty commented on #5818
@xcompass and @lindy65 - thanks for the update. Not being a docker user, it isn't clear to me whether I need to use `docker-compose` to make the production image. What I'd like, ideally, is a docker image similar to `mattermost-preview` that can be used without any other steps such as `docker-compose`. Is that possible?

[2017-04-22 18:18] realrolfje commented on #6155
Upgrade is scheduled for tomorrow because of off-peak hours. I just sneaked a "service mattermost restart" in there (because it is really fast), and noticed that the sessions for the deleted users are now gone. So it was the server keeping these sessions in memory.

We don't delete users often, so after upgrading to 3.8.2 (the latest release at the time of this writing) I do not know how quick I g

[2017-04-22 18:20] lindy65 commented on #5818
Hi @jtdaugherty, thanks for your question...  @xcompass is the expert on Docker so I'll defer to him to respond...

[2017-04-22 18:37] realrolfje opened #6199 "Upgrade type and failure to mention backing op ./data/ directory"
#### Summary
The mattermost upgrade manual misses a few detais for upgrading to version 3.8.2

#### Possible fixes

1. The second title says "Upgrade Team Edition to 3.1.x and later", which shoud be "Upgrade Team Edition to 3.8.x and later"
2. In the bullet "3. Backup your data", there should be instructions to backup the default ./data/ directory. In our case this maps to /opt/mattermost/data, wh

[2017-04-22 19:09] lindy65 commented on #6155
Hi @realrolfje, thanks for the feedback. I'm glad to hear that your issue is resolved for now.  I'll close this issue off in the meantime but if you see this happening again after your upgrade, please feel free to reopen the issue.  Thanks!

[2017-04-22 19:09] #6155 closed

[2017-04-22 19:16] esethna opened #6200 "[Help Wanted] [PLT-4922] Change Channel Picker and At Mention autocomplete to prioritize entries where the username/display_name starts with the search string"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-22 19:16] esethna opened #6201 "[Help Wanted] [PLT-4843] Add CLI tool for deleting channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-22 19:16] esethna opened #6202 "[Help Wanted] [PLT-4643] Remove system messages from right hand sidebar after you close the comment thread"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-22 19:32] esethna opened #6203 "[Help Wanted] [PLT-2606] Allow sending of invites from "Send Email Invite" with empty rows"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-22 19:36] esethna opened #6204 "[Help Wanted] [PLT-1444] Team and Channel URLs generated based on Team Name and Channel Name should replace accented letters with ASCII equivalents"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-23 13:37] aitzubi opened #6207 "Mattermost changes username after upgrading Gitlab to 9.1 and Mattermost Gitlab to 3.7.3"
#### Summary
Gitlab Onmibus installation. Upgraded from 8.17 to 9.1. No issues. Everything works perfectly.
Upgraded Mattermost from Gitlab Onmibus 8.17.5 to 9.1 (Mattermost 3.7.3).

Mattermost is configured to allow Gitlab SSO login only, no other authentication allowed. Gitlab is configured to allow only ldap login.

After performing the upgrade, I can normally log in into my mattermost teams bu

[2017-04-23 13:49] realrolfje commented on #6155
Upgraded to 3.8.2, no issues so far. If I see the problem again I'll create a new ticket for that release and refer to this issue. Cheers!

[2017-04-23 14:51] realrolfje commented on #5875
It is just 3 plugins for Munin (simple shell scripts querying the database) which are part of a bunch of other munin plugins I user for system monitoring. It is a [public github repository](https://github.com/realrolfje/munin-plugins), people are free to use it.

I am not sure this qualifies as an "installer" or "integration" as mentioned in your forms :-)

[2017-04-23 14:56] realrolfje commented on #6152
Done.

[2017-04-23 14:58] realrolfje commented on #6154
I noticed this problem still present in 3.8.2, and is also present in the API. When sending a DM on the iPhone Beta App, the app shows all users, even the deactivated ones.

[2017-04-23 15:35] cpanato commented on #6203
I can try this one

[2017-04-23 16:45] lindy65 commented on #6155
Thanks @realrolfje - glad to hear it!

[2017-04-24 03:56] ohlookemus commented on #6168
@jasonblais I upgraded and I'm still seeing this issue.

[2017-04-24 04:14] crspeller commented on #6111
https://github.com/mattermost/platform/pull/6208

[2017-04-24 04:14] #6111 closed

[2017-04-24 06:21] #6158 closed

[2017-04-24 09:03] wobbit commented on #6168
@jasonblais @ohlookemus  This seems to have fixed it for me when I set my AllowCorsFrom to the same URL as SiteURL.

If I leave AllowCorsFrom to be ""  it does still error (I'm not sure if this is intended?).

Thanks for the quick fix!

[2017-04-24 10:03] luckydonald opened #6210 "Markdown escape not working."
#### Summary

the markdown above should produce

But did instead results in

#### Steps to reproduce

Build Hash: 30974533941e73f102505d07badf538cfdbbf3fc
EE Build Hash: none
Build Datum: Thu Apr 13 11:03:18 UTC 2017

#### Expected behavior
According to https://daringfireball.net/projects/markdown/syntax#backslash
I should be able to escape the inner asterisks correctly

#### Observed behavior
It

[2017-04-24 10:33] grundleborg commented on #6207
Hi @aitzubi this kind of problem typically happens when the gitlab username contains special characters that Mattermost does not support in usernames. There were some changes in 3.7 to the code for validating this, which may explain why this has happened only when you made this upgrade. Could you please tell me what your gitlab username is, so I can better understand what's happening?

[2017-04-24 10:38] aitzubi commented on #6207
Hi @grundleborg!!

My username is numeric (112233). Six digits to be precise.

As I stated, its a ldap username.

Maybe it is related or not but this upgrade to gitlab 9.1 also broke the ability to sign-in to new users that have never logged in to gitlab. Here is the issue: `https://gitlab.com/gitlab-org/gitlab-ce/issues/31294`

Thanks!

[2017-04-24 11:30] #6171 closed

[2017-04-24 11:46] #6177 closed

[2017-04-24 15:59] it33 commented on #5935
@realrolfje, @funkyfuture highly appreciate your feedback, some thoughts and a request for your help:

#### 1) What is the correct criteria for a strong password?

There should be some criteria for what makes a strong password. There's a feature proposal and ticket to add a password strength indicator to Team Edition as a start. Until we have a criteria, we can't add the feature.

@realrolfje, @fu

[2017-04-24 15:59] #5935 closed

[2017-04-24 16:38] esethna opened #6217 "[Help Wanted] [PLT-4440] Investigate updating emoji list to support Unicode 9.0 Emoji"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-24 16:54] jasonblais commented on #6168
@ChrisFernandez

Do you have `AllowCorsFrom` setting set for cross-origin requests: https://docs.mattermost.com/administration/config-settings.html#enable-cross-origin-requests-from

If you're using multiple domains, you should add all the alternative domains to AllowCorsFrom setting after which the websockets would work. @wobbit not sure if you're using just a single domain?

Let us know if the i

[2017-04-24 17:41] lindy65 commented on #6189
Thanks for your issue report @stephaneeybert,

We agree that this would be a good improvement and have created a [ticket](https://mattermost.atlassian.net/browse/PLT-6392) to track the issue.

We'll most probably make it a [HELP WANTED] ticket.  Is there anyone in the community who is interested in submitting a PR for this?

[2017-04-24 17:44] JeffSchering commented on #6199
Hi @realrolfje here's a first draft of a new upgrade doc: [Reworked upgrade and legacy upgrade guides #1121](https://github.com/mattermost/docs/pull/1121)

It's a first draft and open to change, so please leave comments on that PR if you think anything needs updating. Thanks!

[2017-04-24 18:01] realrolfje commented on #5935
I would be happy to discuss what strong passwords are, but closing this issue is ignoring the fact that:

 **To my surprise, the system did not enforce my new password requirement settings.**

That is a bug I'd like to see fixed before we start a lengthy discussion on what strong passwords are. Please reopen and fix. People deserve honesty and security.

[2017-04-24 19:18] ChrisFernandez commented on #6168
@wobbit @hmhealey @jasonblais  sorry for the late reply, I upgraded to the latest version and that worked just fine for me.. I have not check the logs yet.. but is been working perfectly for now.
@jasonblais I have not set anything on AllowCorsFrom and seems to be working... in any case I will add my 2 domains just in case... I been using TLS with nginx so have not enable TLS on mattermost yet.. s

[2017-04-24 19:25] ChrisFernandez commented on #6168
hmmm I added my two domains and now it broke again... so reverted and left it empty again.

[code]

[2017-04-24 19:38] hmhealey commented on #6168
@ChrisFernandez I think AllowCorsFrom only supports a single domain name. I'll double check with the guy who implemented it

[2017-04-24 19:42] hmhealey commented on #6168
Never mind, that's actually a bug. The [arguments to the function are backwards](https://github.com/mattermost/platform/blob/be9624e2adce7c95039e62fc4ee22538d7fa2d2f/utils/api.go#L18) so it has only ever supported one domain name even though it should allow two. I've filed a ticket to fix that [here](https://mattermost.atlassian.net/browse/PLT-6393)

[2017-04-24 22:04] zwiglm commented on #5386
AWESOME. Works for me as of 3.8.2

[2017-04-25 03:54] jasonblais commented on #6075
Thanks!

[2017-04-25 03:54] #6075 closed

[2017-04-25 04:02] jasonblais commented on #6153
Thanks again for all the feedback! We can track the feature proposal here: https://mattermost.uservoice.com/forums/306457-general/suggestions/12877668-ability-to-view-channels-without-joining

[2017-04-25 04:02] #6153 closed

[2017-04-25 04:02] jasonblais commented on #6152
Thanks again for all the feedback! We can track the feature proposal here: https://mattermost.uservoice.com/forums/306457-general/suggestions/12877668-ability-to-view-channels-without-joining

[2017-04-25 04:02] #6152 closed

[2017-04-25 08:25] D-LABS-GmbH opened #6225 "menu point "Report a problem" throws 404"
#### Summary
menu point "Report a problem" on a local installation throws 404 - page not found

#### Steps to reproduce
GitLab CE  v9.1.0
Mattermost v3.7.3
menu point "Report a problem" links to URL/static/help/report_problem.html but there's not static page available

#### Expected behavior
either a static HTML page with information about reporting a problem or a link to the mattermost project pa

[2017-04-25 08:46] lindy65 commented on #6225
Hi @D-LABS-GmbH,

Thanks for your issue report.  This is not reproducing for me on Mattermost 3.8.2.  Could I have your help upgrading to the [latest version](https://about.mattermost.com/download/) to see if you still see the error?

[2017-04-25 09:23] D-LABS-GmbH commented on #6225
Mattermost has not yet been updated to v3.8.2 in the GitLab Omnibus package, thats unfortunate

[2017-04-25 09:36] D-LABS-GmbH commented on #6225
Well I've seem to lost access to the Mattermost system console as the "admin" account doesnt seem to be an system_admin anymore. And the command line tools in the omnibus package throws an null pointer exception ..

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xbfbbd8]

[2017-04-25 09:42] grundleborg commented on #6225
@D-LABS-GmbH can you please paste the full command you are running as well as the full output it produces for that segfault?

[2017-04-25 09:44] D-LABS-GmbH commented on #6225
sudo ./mattermost roles system_admin username

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xbfbbd8]

goroutine 1 [running]:
main.getUserFromUserArg(0x7fff31a3089d, 0x4, 0x1)
        /home/ubuntu/workspace/msr/d/platform-release/src/github.com/mattermost/platform/cmd/platform/userargs.go:21 +0x28
main.getUsers

[2017-04-25 09:46] grundleborg commented on #6225
What happens if you do `sudo ./mattermost version`?

[2017-04-25 09:47] D-LABS-GmbH commented on #6225
Version: 3.7.0
Build Number: 3.7.3
Build Date: Wed Mar 22 23:31:00 UTC 2017
Build Hash: 8ec37570742b67fd640bb3434ea226c655dbf408
Build Enterprise Ready: false
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xbfc2c6]

goroutine 1 [running]:
main.printVersion()
        /home/ubuntu/workspace/msr/d/platform-release/

[2017-04-25 09:51] grundleborg commented on #6225
Could you try going up a directory and running `sudo ./bin/mattermost version`? It seems like it might not be finding the database connection config file for some reason.

[2017-04-25 09:53] D-LABS-GmbH commented on #6225
same result/output as above

[2017-04-25 12:43] kulak-at commented on #6073
I can take this one.

[2017-04-25 12:59] it33 commented on #5935
@realrolfje appreciate the feedback,

1) You're right, it's not okay for the setup of Mattermost to be surprising.

I looked into this more, and while [our documentation lists out which config.json parameters apply to which feature,](https://docs.mattermost.com/administration/config-settings.html#password-requirements) if you're trying to infer what things do based on naming, it's not clear, and w

[2017-04-25 13:36] jasonblais commented on #6073
Fantastic! Thank you @kulak-at!

Don't hesitate to let us know if you have any questions

[2017-04-25 14:23] it33 commented on #6207
Seems like a GitLab 9.1 issue, not a Mattermost issue?

We can track here and close when GitLab releases a patch. Thanks @aitzubi for the report

https://gitlab.com/gitlab-org/gitlab-ce/issues/31294

[2017-04-25 14:31] aitzubi commented on #6207
@it33 I think that the next patch for gitlab could include the fix. I will keep track as well and we will see if this is fixed as well.

Thanks!

[2017-04-25 14:31] rodcorsi commented on #6090
Some time ago I worked on a change in [goi18n](https://github.com/nicksnyder/go-i18n/issues/50), I think this could help in this case.

[2017-04-25 15:08] theriverman commented on #643
+1

[2017-04-25 16:03] esethna opened #6228 "[Help Wanted] [PLT-6270] Deleting a post that is open in the RHS causes a JS error"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-25 16:13] lindy65 commented on #6210
Hi @luckydonald

Thank you for your issue report!

I've reproduced on our nightly build server and have created a [ticket](https://mattermost.atlassian.net/browse/PLT-6405) to track.

[2017-04-25 16:39] esethna opened #6229 "[Help Wanted] [PLT-6383] Add "CAUTION" to @-all auto-complete"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-25 17:16] luckydonald commented on #6210
As a quick note, your summary in the other ticket system is incorrect, as the markdown code actually get's rendered.
(Maybe click the edit button on my original post, and copy the source?)

[2017-04-25 17:32] hmhealey commented on #6210
Thanks @luckydonald, I added that to the ticket

[2017-04-25 17:42] esethna opened #6230 "[Help Wanted] [PLT-6050] Add a prompt when user leaves System Console page with unsaved changes"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-25 20:52] jasonblais commented on #6173
Resolved, thanks @justinwyer! 🎉

[2017-04-25 20:52] #6173 closed

[2017-04-25 20:53] #6175 closed

[2017-04-25 20:53] #6072 closed

[2017-04-25 23:41] cpanato commented on #6203
PR: https://github.com/mattermost/platform/pull/6238

[2017-04-26 00:07] jasonblais commented on #6168
@ChrisFernandez curious if you were interested helping with a fix so that AllowCorsFrom supports multiple domains? If not, totally understand.

Ticket here in case you're interested to take a look: https://mattermost.atlassian.net/browse/PLT-6393

[2017-04-26 00:09] esethna opened #6239 "[Help Wanted] [PLT-5562] Profile picture of other users doesn't update until logout/login"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-26 07:14] cpanato commented on #6229
PR: https://github.com/mattermost/platform/pull/6240

[2017-04-26 07:17] cpanato commented on #6082
let me see if I can handle this one. since I'm still learning react

[2017-04-26 08:50] lindy65 commented on #5957
Closing this issue as there is a [help wanted ticket](https://github.com/mattermost/platform/issues/5224) if anyone on the community would like to help with a fix.

[2017-04-26 08:50] #5957 closed

[2017-04-26 09:04] lindy65 commented on #6043
Hi @jnugh

Thanks again for the report! I'll close this issue off for now as we have created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6380) to track it. If you're interested helping with a pull request, please let us know.

[2017-04-26 09:04] #6043 closed

[2017-04-26 09:07] lindy65 commented on #6164
This has been fixed with [this ticket](https://mattermost.atlassian.net/browse/PLT-6368) so closing for now.

[2017-04-26 09:07] #6164 closed

[2017-04-26 09:08] lindy65 commented on #6097
Hi @VeraLyu,

This has been fixed with [this ticket](https://mattermost.atlassian.net/browse/PLT-6368) so I'm closing this issue off for now.  Thanks again for your report!

[2017-04-26 09:08] #6097 closed

[2017-04-26 09:10] lindy65 commented on #6115
@dmeza, closing this issue here as there is a Jira ticket to track and fix for v3.9

[2017-04-26 09:10] #6115 closed

[2017-04-26 13:04] jasonblais commented on #6082
you're awesome.. :)

Let us know if you have any questions!

[2017-04-26 13:19] raatti commented on #991
gifv also fails to work

[2017-04-26 16:37] ohlookemus commented on #6168
I had in my address a wildcard like so, *.mydomain.com and I was getting CORs errors. Set it to * and no longer seeing the issue. Has anyone else tried a wildcard domain?

[2017-04-26 17:50] #5369 closed

[2017-04-26 17:55] esethna opened #6248 "[Help Wanted] [PLT-4257] Prompt user when status is manually set /away or /offline upon login"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-04-26 18:04] nabeeldesai opened #6249 "Non admin users can add and remove members of public and private groups"
#### Summary
All users can remove another member from any group, public or private.

#### Steps to reproduce

1. Login to Mattermost as a non-admin user
2. Select any group
3. Select the members of group icon along the header
4. Scroll to the bottom of the Member list
5. Select 'Manage Members'
6. Verify the controls for the member list on the group Member List

#### Expected behavior
[Remove Memb

[2017-04-26 18:42] kulak-at commented on #6073
I've found very similliar code to display [...] menu and handle clicked actions in post_info.jsx but also in rhs_comment.jsx and rhs_root_post.jsx (for the sidebar menus). This code is very simple and I believe it could be unified. How would you like to handle that, unify these dropdowns, copy-paste solution to different modules (and adjust the solution as they have slightly different behavior) or

[2017-04-26 18:50] ChrisFernandez commented on #6168
@jasonblais sure, may take a bit for me to reply depending on day job but of course.

[2017-04-26 19:06] jasonblais commented on #6168
Awesome! Thanks @ChrisFernandez 👍

[2017-04-26 21:02] jasonblais commented on #6112
@realrolfje @cpanato We have an open ticket for a similar report here, where the status gets stuck online for a long time after quitting the desktop app or closing the entire browser window.

https://mattermost.atlassian.net/browse/PLT-6333

So this might be a related issue.

[2017-04-26 21:03] jasonblais commented on #5875
Haha cool, thanks @realrolfje :)

Let me know if there's anything else you'd like to cover in this issue?

[2017-04-26 21:04] jasonblais commented on #5885
Cool, thanks @demedos

I'll close this issue and we can track the progress in https://mattermost.atlassian.net/browse/PLT-6171

[2017-04-26 21:04] #5885 closed

[2017-04-26 21:11] jasonblais commented on #6029
Thanks again @mkbaldwin,

I chatted with some engineers on our end and this change would be a little more involved than I originally anticipated. Searching for mentions from within message attachments might pose a performance concern in large deployments where they are commonly used.

As a result, I've created a feature proposal to discuss it with the community at large first: https://mattermost.u

[2017-04-26 21:11] #6029 closed

[2017-04-26 21:45] cpanato commented on #6082
PR: https://github.com/mattermost/platform/pull/6250

[2017-04-26 21:47] xcompass commented on #5818
@jtdaugherty Because the prod images are built for production use, all the components (app, db, etc.) are in separate images so that you can deploy them on separate hosts and maybe cluster the app node as well. You don't have to use docker-compose for the production image. It is just a way to make things easier. Because you can bring up everything in one command `docker-compose up`. You also can r

[2017-04-27 06:19] aitzubi commented on #6207
@it33 we have just upgraded our gitlab installation to 9.1.1 to fix this but the issue still occurs. My username is not showing correctly in mattermost.

I can provide any logs if needed.

[2017-04-27 08:40] grundleborg commented on #6207
@aitzubi to clarify, the original issue you reported is an issue with Mattermost, which is fixed in version 3.7.4, so when a patch release for Gitlab omnibus ships that includes that version or newer of Mattermost, the issue should go away.

The Gitlab ticket you mentioned is a separate problem that does not relate to Mattermost.

[2017-04-27 08:45] grundleborg commented on #6225
I can reproduce this CLI problem exactly as you described on a clean install of Gitlab Omnibus 9.1.0. I've [filed an issue](https://mattermost.atlassian.net/browse/PLT-6397) on Mattermost JIRA to look into this - currently, we think it may be a bug with how Gitlab Omnibus is packaging the Mattermost CLI.

[2017-04-27 09:10] lindy65 commented on #5876
Hi @bradhowes,

Hope you're well?

I see our PR reviewers have asked for your action on [this PR](https://github.com/mattermost/platform/pull/5877) so if we could have your help taking a look that would be awesome!

Thanks!

[2017-04-27 09:29] D-LABS-GmbH commented on #6225
Ok, thank you!

[2017-04-27 13:33] #6229 closed

[2017-04-27 13:57] kulak-at commented on #4363
I can work on it.

[2017-04-27 14:02] jasonblais commented on #6176
Thanks @R-Wang97! Resolved by #6197

[2017-04-27 14:02] #6176 closed

[2017-04-27 14:14] jasonblais commented on #6073
Thanks @kulak-at! I've posted your question to engineers in our public [Developers channel](https://pre-release.mattermost.com/core/pl/rg7r6w41e3rjde41z3j79xgm6h).

[2017-04-27 14:15] jasonblais commented on #4363
Awesome!! 👍

[2017-04-27 15:12] kulak-at commented on #4596
I can work on this one.

[2017-04-27 17:54] lindy65 commented on #5934
Thanks @realrolfje !

Seems everything has been taken care of, either with tickets or ideas being posted to the feature proposal forum.

Is there anything else you're needing resolved at the moment or can I close this issue off?

[2017-04-27 21:15] realrolfje commented on #5875
Hi Jason, no the original issue is solved in 3.8.2, please close this one, I'll be happy to report a new issue if something comes up (keeps the discussions nice and separated). Thanks for the great support!

[2017-04-27 21:18] realrolfje commented on #6112
That issue could be related indeed, if Admin A deactivates User B, then User B can not log in to hit the logout API call, keeping User B's session stuck.

[2017-04-27 21:19] jasonblais commented on #5875
Anytime! :)

[2017-04-27 21:19] #5875 closed

[2017-04-27 21:21] jasonblais commented on #4596
You're awesome!! 👍

[2017-04-28 07:31] lindy65 commented on #6249
Hi @nabeeldesai,

Thanks for your issue report...

Could you clarify whether you are seeing this on the Team or Enterprise edition?

You can read about the [Policy](https://docs.mattermost.com/administration/config-settings.html#policy) settings which are available in Enterprise Edition E10 and higher.

Let me know if this helps?

[2017-04-28 07:37] lindy65 commented on #6210
Hi @luckydonald

The [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6405) is scheduled for next release on May 16th so I'll close this issue off for now.

 If you're interested helping with a pull request, please let us know.

[2017-04-28 07:37] #6210 closed

[2017-04-28 07:40] lindy65 commented on #6199
Thanks @realrolfje and @JeffSchering,

As we have a PR to track this issue, I'll close it off for now and we can track through the PR.

[2017-04-28 07:40] #6199 closed

[2017-04-28 17:54] nabeeldesai commented on #6249
Hi @lindy65
We have the Enterprise, non-paid version. I'll have our admin check out the policies and settings. Thanks!

[2017-04-28 18:01] nabeeldesai commented on #6249
That covered it - apologies for the invalid bug

[2017-04-28 18:01] #6249 closed

[2017-04-28 18:04] lindy65 commented on #6249
No worries at all @nabeeldesai!

Let us know if there's anything else we can help with!

[2017-04-28 18:56] esethna commented on #6225
Thanks everyone, closing this issue to track in [JIRA](https://mattermost.atlassian.net/browse/PLT-6397)

[2017-04-28 18:56] #6225 closed

[2017-04-28 18:59] esethna commented on #6189
Closing this issue to track in [JIRA](https://mattermost.atlassian.net/browse/PLT-6392)

[2017-04-28 18:59] #6189 closed

[2017-04-28 19:04] esethna commented on #6184
Hi @Wegi, to clarify, are you able to copy and paste an entire theme vector into the text box? For example,  copy this vector, click in the text box and Ctrl/Cmd-V to paste.

[code]

The text box does not allow you to edit a theme vector by text, but it should allow you to copy and paste entire theme vectors.

[2017-04-28 19:07] esethna commented on #6183
Thanks everyone, closing this issue as solved. Feel free to re-open if your issue is not fixed after upgrading to v3.8.2.

[2017-04-28 19:07] #6183 closed

[2017-04-28 19:14] esethna commented on #6162
Hi @federicolucca, just checking if your issue has been resolved? If not, can you please help provide the following information,

1. What version of Mattermost are you running?
2. Have you set the Site URL setting in the system console?
3. Can you post a screenshot of the information you added in Integrations > OAuth 2.0 Applications page?

[2017-04-28 19:16] esethna commented on #6154
Hi @realrolfje, the ticket has been completed to address this issue. It will ship with Mattemost v3.9 on May 16th.

[2017-04-28 19:17] #6154 closed

[2017-04-28 20:34] realrolfje commented on #6154
Nice! Thanks!

[2017-04-29 16:29] prixone opened #6270 "Animated images not retaining transparency"
#### Summary
Animated images not retaining transparency when uploaded for emoji and possible other ends...

#### Steps to reproduce
Version: pre-release.mattermost.com

1. Custom Emoji > Add Custom Emoji
2. Save the image to your computer https://i.imgur.com/pmIfMVG.gif
![img](https://i.imgur.com/pmIfMVG.gif)
3. On the modal that was open from step 1 use the saved GIF from step 2
4. On the text pr

[2017-04-30 13:41] chrismatteson commented on #6204
I think I can take this on.

[2017-04-30 18:06] chrismatteson commented on #6204
Created pull request: https://github.com/mattermost/platform/pull/6273

[2017-05-01 08:30] lindy65 commented on #6270
Hi @prixone

Thanks for the report!  I've reproduced on pre-release and master and have created [this ticket](https://mattermost.atlassian.net/browse/PLT-6455) to track the issue.

[2017-05-01 13:06] prixone commented on #6270
@lindy65 its not just emoji it seems, also profile pictures lose their transparency it seems, so maybe even a global issue for any uploaded image that goes thru Plan9 palette.

[2017-05-01 13:15] esethna opened #6276 "[Help Wanted] [PLT-5894] Show all emoji aliases on the picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:20] esethna opened #6277 "[Help Wanted] [PLT-5576] Add emoji picker for edit message dialog"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:24] jasonblais opened #6278 "[Help Wanted] [PLT-6074] Have deleteReaction API send the correct value for post.HasReactions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:24] esethna opened #6279 "[Help Wanted] [PLT-6039] When searching in emoji picker, remove categorization"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:35] esethna opened #6280 "[Help Wanted] [PLT-6165] Load the emoji picker once and reuse the modal, instead of destroying it each time"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:35] esethna opened #6281 "[Help Wanted] [PLT-5671] Remove jQuery usage in emoji picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:35] esethna opened #6282 "[Help Wanted] [PLT-5575] Review ordering of emoji on the picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:35] esethna opened #6283 "[Help Wanted] [PLT-5574] Left/right/up/down arrows can be used to navigate through the emoji picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:36] jasonblais opened #6284 "[Help Wanted] [PLT-6229] Post should show a plus sign for adding to existing emoji reactions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-01 13:56] R-Wang97 commented on #6277
I can take a look at this!

[2017-05-01 14:09] jasonblais commented on #6277
Thanks @R-Wang97!

[2017-05-01 14:57] hmhealey commented on #6073
@kulak-at I've wanted to unify that code for some time now, but I don't think we need to do all that at once. What you might be able to do is make a `CopyPermalinkMenuItem` component that implements all necessary behaviour (showing the "Permalink" button, trying to copy the text, opening the dialogue if that doesn't work) and then just use the same component in all 3 places. That'll cut down on th

[2017-05-01 15:28] #5934 closed

[2017-05-01 16:14] lindy65 commented on #6270
Thanks @prixone, I've added this note to the ticket...

[2017-05-01 19:50] nevesnunes opened #6288 "Mails should set HELO with FQDN"
#### Summary
When delivering SMTP mail, the HELO message defaults to `localhost`, activating spam filters (`FSL_HELO_NON_FQDN_1` and `HELO_LOCALHOST`).

#### Steps to reproduce
Use any function that sends an email. For example `Password Reset`.

#### Expected behavior
The mail's HELO message is set to the local server's FQDN, thus not triggering spam filters.

#### Observed behavior
SMTP traffic w

[2017-05-02 07:18] Pitel opened #6292 "Unable to delete team (SIGSEGV)"
#### Summary
I'm unable to delete team, I get `SIGSEGV`

#### Steps to reproduce
1. Enable Matteromost in GitLab
2. Start configuting Mattermost and accidentaly create new team
3. Try to delete the (empty) team: `sudo -u mattermost /opt/gitlab/embedded/bin/mattermost --config=/var/opt/gitlab/mattermost/config.json team delete android --confirm`

#### Expected behavior
Team gets deleted.

#### Obse

[2017-05-02 07:32] kulak-at commented on #6073
@hmhealey Great idea, will do that!

[2017-05-02 09:13] esethna opened #6293 "[Help Wanted] [PLT-6403] Add Slack-compatible Action button for webhooks"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 13:35] hmhealey commented on #6292
Hi @Pitel,

Can you try running it from `/opt/gitlab/embedded` as `sudo -u mattermost ./bin/mattermost ...`? We've had reports of issues when Mattermost isn't ran with that path.

https://mattermost.atlassian.net/browse/PLT-6463

[2017-05-02 13:44] Pitel commented on #6292
Same `SIGSEGV`:
[code]

[2017-05-02 14:01] Pitel commented on #6292
Also same when I try it from `bin` directory.

[2017-05-02 14:02] hmhealey commented on #6288
Hi @nevesnunes,

Thanks for the report. I've filed [a ticket for this on Jira](https://mattermost.atlassian.net/browse/PLT-6469) so that someone will take a look at it. If you'd like to work on it yourself, we'd gladly accept a pull request for it.

[2017-05-02 14:47] hmhealey commented on #6292
Okay, so it's not that. Do you get the same error if you do a simpler command like the version command? It looks like we're swallowing some errors which might make this difficult to debug
[code]

[2017-05-02 14:49] Pitel commented on #6292
Pretty much, yeah:
[code]

[2017-05-02 15:13] hmhealey commented on #6292
Perhaps you could try cding into `/opt/mattermost` and running it as `bin/platform` from there? I'm going through all the reports we've had of similar issues [here](https://mattermost.atlassian.net/browse/PLT-6463) and I think it's caused by Mattermost being unable to find the i18n directory (which should be `/opt/mattermost/i18n`) and then not failing gracefully

[2017-05-02 16:10] esethna opened #6296 "[Help Wanted] [PLT-6394] [...] menu in comment thread disappears when hovering over another post"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 16:10] esethna opened #6297 "[Help Wanted] [PLT-6216] Emoji picker shifts to the left when scrolling diagonally up-left on touch pad"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 16:30] esethna opened #6298 "[Help Wanted] [PLT-6442] [Help Wanted] Add "markdown help" and a preview option to "Edit Channel Header" modal"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 18:02] esethna opened #6299 "GIF images (custom emoji) and Profile Pics do not retain background transparency"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 18:02] esethna opened #6300 "[Help Wanted] [PLT-5465] Improve ping health check to have limits"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 18:22] cpanato commented on #6300
I can take this one

[2017-05-02 19:12] esethna opened #6302 "[Help Wanted] [PLT-6441] Not able to scroll down in message preview mode when using Markdown headings"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-02 22:01] lfbrock commented on #6076
@dmeza is working on this

[2017-05-02 23:18] jasonblais opened #6308 "Mattermost v3.9.0 RC3"
This is a meta issue for v3.9.0 release updates.

Release candidates will be posted here for testing on May 4th.

The final release will be available May 16th.

See the [changelog](https://github.com/mattermost/docs/blob/c2b58d0ac117457258b5b780178b6938bb01adc5/source/administration/changelog.md#release-v390) for details about the release.

[2017-05-03 03:43] VeraLyu commented on #6299
I'll look into it.

[2017-05-03 06:29] Pitel commented on #6292
There is no `/opt/mattermost/` :(

[2017-05-03 09:53] lindy65 commented on #6207
Thanks everyone, I'm closing this issue off here for now as there is [an issue](https://gitlab.com/gitlab-org/gitlab-ce/issues/31294) filed with GitLab.

[2017-05-03 09:54] lindy65 commented on #6169
Hi @VeraLyu, just circling back to see whether you have resolved the issue?

[2017-05-03 09:57] lindy65 commented on #6159
Hi @federicolucca,

Just circling back to see whether you have managed to resolve your issue?

[2017-05-03 10:01] lindy65 commented on #6120
Hi everyone, I'm going to close this issue off here for now as there is a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6333) tracking a fix scheduled for v3.10.

[2017-05-03 10:01] #6120 closed

[2017-05-03 10:02] lindy65 commented on #6112
Hi everyone, I'm going to close this issue off for now as there is a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6333) tracking the issue scheduled for v3.10.

[2017-05-03 10:02] #6112 closed

[2017-05-03 10:04] lindy65 commented on #5927
Hi @omikron-admin,

Circling back to find out how it's going?  Have you had any further crashes?  If not, is it ok for me to close this issue off for now and you can reopen if your issue re-occurs?

[2017-05-03 10:07] lindy65 commented on #5855
Hi @BRH-Enrian,

I'm going to close this issue off for now based on your discussion with `hmhealey` in the issue referenced above.

[2017-05-03 10:07] #5855 closed

[2017-05-03 10:08] lindy65 commented on #5848
Hi @tejassawai,

I'm going to close this issue off for now.  If you still have questions, please feel free to re-open the issue and we'll be glad to help!

[2017-05-03 10:08] #5848 closed

[2017-05-03 10:09] lindy65 commented on #5818
Hi @jtdaugherty,

Circling back to find out whether `xcompass` message above has helped solve your issue?

[2017-05-03 13:16] hmhealey commented on #6292
It must be somewhere else then. I assume `/opt/gitlab/embedded/bin/mattermost` is a symbolic link to wherever Mattermost is actually located, so can you use something `ln -l` to see where it's pointing to? When you find that, you should be able to go to that directory and run the Mattermost CLI from there

[2017-05-03 13:21] Pitel commented on #6292
It's not symlink:
[code]

The system is CentOS (7, i think) with GitLab installed from repository with `yum`.

[2017-05-03 14:13] hmhealey commented on #6292
Okay, I think I've got it. I only had to install CentOS on a VM to do it. The i18n files are in `/opt/gitlab/embedded/service/mattermost`, so if you cd into there and run `sudo -u mattermost /opt/gitlab/embedded/bin/mattermost --config=/var/opt/gitlab/mattermost/config.json team delete android --confirm`, it will delete that team.

[2017-05-03 17:58] esethna opened #6318 "[Help Wanted] [PLT-6469] Send HELO request containing domain name to SMTP server"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-03 18:15] jasonblais commented on #5263
PR here: https://github.com/mattermost/platform/pull/6315

[2017-05-03 18:15] #5263 closed

[2017-05-03 19:59] realrolfje commented on #5934
Closing is fine, thanks!

[2017-05-03 20:11] jtdaugherty commented on #5818
@lindy65 - I don't think so. What I think I've hard at this point is that what I want is *possible*, but I still don't know how to do it. I'll break down the response bit by bit:

That makes sense, and it'd be okay with me if I had to run multiple docker instances on the same host just to get a working system running for testing purposes.

I don't know where `docker-compose.yaml` is located, but e

[2017-05-03 20:20] realrolfje commented on #5935
Our Mattermost installation is public facing and has a broad range of users (internet savvy to less experienced networkers). The very least I want to be able to do is choose a reasonable password **length**, so that would be the quick fix in the next fix release **in the code**, not in the documentation (because of security implications).

The Strong password detector is of course much better, but

[2017-05-03 20:32] ibigpapa commented on #6159
Hi I Have the same issue my setting have Enable CORS set to `*`
i have enable insecure outgoing connections also enabled.

[2017-05-03 20:34] realrolfje opened #6320 "Non-admins can delete/archive any channel"
#### Summary
Any user in Mattermost can delete any channel, regardless of wether they are member, channel admin, system admin.

#### Steps to reproduce
1. As user A, create a public channel
2. As user B join the public channel.
3. From the menu at the top, choose "Delete Channel"

#### Expected behavior
Members can not delete the channel or edit purpose or info, only post.
Channel Admins can delet

[2017-05-03 20:35] ibigpapa commented on #6159
I think the crux of the issue is related to the fact the Preflight response `Access-Control-Allow-Headers` set to only allow `content-type` header.  Which i'm able to successfully fetch that header in the `response.headers.get('content-type')`.
[code]

[2017-05-03 20:41] realrolfje opened #6321 "Custom emoji can be added/deleted by anyone"
#### Summary
When custom emoji are enabled, anyone can add or delete emoji. Disable emoji also breaks displaying existing custom emoji. This should be split in 2 rights.

#### Steps to reproduce
1. Enable custom emoji.
2. As user A, create a custom emoji, and use it in a post
3. As user B, delete a custom emoji, and/or replace the same emoji keyword with a different emoji
4. The original post from

[2017-05-03 21:01] ibigpapa commented on #6159
Recreated using Docker mattermost
[code]

Base settings minus changing the Connects to enable CORS on * and insecure to True.

[code]

Console output from chrome(59.0.3071.29)
[code]

I then attempted this inside Firefox(45.7.0) and in Firefox i don't get `null` for token.

[2017-05-03 21:59] ibigpapa commented on #6159
More research on this.  I created a simple python flask server using python 3.6, tested chrome with it and found both endpoints didn't return the token.  So now not sure if this is a chrome issue or a behavior that is expected.
[code]

No Token in Allowed Header with POST
[code]
Output:
[code]

Token in Allowed Header with POST
[code]
Output:
[code]

No Token in Allowed Header with GET
[code]
Outp

[2017-05-03 22:37] ibigpapa commented on #6159
Just incase this is a chromium bug i've submitted a ticket for chrome as well.
https://bugs.chromium.org/p/chromium/issues/detail?id=718208#

[2017-05-04 06:32] lindy65 commented on #5818
Thanks for your detailed response @jtdaugherty!

I'm sure @xcompass will be able to respond / assist with some answers for you!

[2017-05-04 06:36] Pitel commented on #6292
Yup, now it works. Thanks! :tada:

Should we close it, or keep it open so it'll remind you to somehow fix it? :)

[2017-05-04 06:41] cpanato commented on #6318
I can take this one

[2017-05-04 07:13] xcompass commented on #5818
In this case, you may want to try `docker-compose up -d` after you clone this repo: https://github.com/mattermost/mattermost-docker. The detailed instructions are in readme.md.
Docker-compose will spin up multiple containers for the whole mattermost system. If you want different versions, you can checkout different tags, which are listed here: https://github.com/mattermost/mattermost-docker/tags

[2017-05-04 08:13] cpanato commented on #6318
PR: https://github.com/mattermost/platform/pull/6322

[2017-05-04 13:20] hmhealey commented on #6292
Glad I could help! I think we can close this issue. We already have https://mattermost.atlassian.net/browse/PLT-6463 tracking the problem

[2017-05-04 13:20] #6292 closed

[2017-05-04 16:06] ibigpapa commented on #6159
Ok Found the issue.   Mattermost isn't setting the appropriate header field to expose the token header. which is only an issue when dealing with CORS.  https://fetch.spec.whatwg.org/#http-access-control-expose-headers

Updated reproduction code to show.
[code]

now inside a chrome console on another site's page
[code]

Output:
[code]

[2017-05-04 16:08] esethna opened #6325 "[Help Wanted] [PLT-6443] Show status indicator in Direct Messages "More..." menu"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-04 16:08] esethna opened #6326 "[Help Wanted] [PLT-6432] Closing a DM/GM channel, then re-opening later, doesn't restore channel preferences"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-04 16:13] esethna opened #6327 "[Help Wanted] [PLT-6416] Add a status indicator to the profile picture in the header"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-04 16:52] ibigpapa commented on #6159
Reviewing the code I'd insert the following line on https://github.com/mattermost/platform/blob/master/app/login.go#L108

While this will only account for the login session.  Any other headers you wish to return outside of the safe headers list will need to be exposed at the appropriate location as well.
https://fetch.spec.whatwg.org/#cors-safelisted-request-header

[code]

[2017-05-04 17:01] cpanato commented on #6300
PR: https://github.com/mattermost/platform/pull/6331

[2017-05-04 18:29] lindy65 commented on #6159
Hi @ibigpapa,

Thanks for the time you've taken to investigate and report on the issue!  Appreciated!

Would you like to submit a PR for the code fix you've suggested above?

[2017-05-04 19:05] ibigpapa commented on #6159
Naw,

I didn't test that fixed it.  based on my limited testing in python it should.  I don't have a dev machine at this time setup for a go project to test this and issue a PR.

[2017-05-04 19:17] lindy65 commented on #6159
Got it, thanks @ibigpapa,

No worries, I'll ask one of our devs to take a look and post back here with feedback.

[2017-05-05 10:29] cpanato commented on #6325
working on that

[2017-05-05 10:37] cpanato commented on #6325
PR: https://github.com/mattermost/platform/pull/6341

[2017-05-05 12:19] cpanato commented on #6298
working on that

[2017-05-05 13:59] cpanato commented on #6298
PR: https://github.com/mattermost/platform/pull/6342

[2017-05-05 18:29] esethna commented on #6308
#### v3.9.0 RC1 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/3.9.0-rc1/mattermost-3.9.0-rc1-linux-amd64.tar.gz

**Tickets approved for RC2:**
-

[2017-05-07 05:33] prateeksriv opened #6346 "Channel Tooltips"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
When browsing channels, the channel name is displayed but the mousover (hover) act

[2017-05-07 10:06] thomasf commented on #6006
I connected to mattermost instance with my computers clock set a couple of hours back (because windows/linux utc) and it might have "deleted" most messages from that day in a channel.. I'm not sure though.

[2017-05-07 12:50] jasonblais commented on #6346
Thanks @prateeksriv, found your ticket 👍

To confirm, you're adding the channel header when hovering over a channel on your left-hand sidebar? I think you may have joined the channel already though?

When you're joining a new channel, we show the channel purpose on the list. Wondering if that would help in making a decision whether to join a channel or not?

![image](https://cloud.githubuserconten

[2017-05-07 19:22] it33 opened #6350 "Incorrect error message asking for keyboard shortcut refresh from mobile web UI"
See https://twitter.com/bfontn/status/861288411138859008

[2017-05-07 19:35] prateeksriv commented on #6346
Hi @jasonblais ,

Thank you for inputs. Yes, I guess, for joining the information is sufficient. But if you are a member of many channels, the sidebar can be quite long and you may want to know the channel details before you click into one of them.

In my organization, we use Mattermost a little differently. We have an integration with the ticketing system so that the teams can discuss in context

[2017-05-07 21:29] knif3 commented on #6239
I noticed that other user have the same timestamp as my profile.
My guess is that there's no user in props or it's last_picture_update is null:

webapp/components/post_view/components/post.jsx:211
[code]

[2017-05-08 05:13] sumitag commented on #1243
Feature idea to upvote https://mattermost.uservoice.com/forums/306457-general/suggestions/10508949-search-text-of-attached-files

[2017-05-08 07:03] lindy65 commented on #6159
Hi @federicolucca and @ibigpapa,

I've created a [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6514) for our devs to investigate and we can track the issue there.

[2017-05-08 07:10] omikron-admin commented on #5927
Hi @lindy65,

Mattermost crashed last time at 26th April. (I was on vaccation so I post it now). I've attached the log.
[mattermost.log.217.txt](https://github.com/mattermost/platform/files/982601/mattermost.log.217.txt)

[2017-05-08 07:49] lindy65 commented on #5927
Thanks for the feedback @omikron-admin,

I'll post your log output to our devs and see if they have any suggestions for you.  I'll post back here when I have some information for you!

[2017-05-08 10:35] abunet commented on #954
We are receiving the same error configuring Mattermost 3.8.2 with Office 365
using STARTTLS and port 587 with a test gmail account does work.

[2017-05-08 10:37] frol commented on #954
JFYI, I have worked around the issue with SMTP Relay server: https://hub.docker.com/r/turgon37/smtp-relay/

[2017-05-08 13:56] kulak-at commented on #6296
I can do it, it is related to task I am already on.

[2017-05-08 14:34] #6228 closed

[2017-05-08 14:34] #6145 closed

[2017-05-08 14:43] jasonblais commented on #6346
Got it, thanks @prateeksriv

Adding a tooltip that displays either the channel header or purpose is something we can consider adding. I could see that useful in other cases as well. For the general user base, a lot of people use Markdown links in the channel header, so it could be hard to parse that in the tooltip.

I'm wondering for your use case though, would it be easier if the integration scri

[2017-05-08 17:13] lindy65 commented on #6350
Hi @it33,

Closing this issue off as the initial report was regarding refreshing using shortcut keys in the desktop app.

[2017-05-08 17:13] #6350 closed

[2017-05-08 23:23] prateeksriv commented on #6346
The channel name was limited in length. I don't remember right now.  The ticket id takes 10 chars and then very few chars for names.

[2017-05-09 11:42] kulak-at commented on #6202
I can take care of this one :)

[2017-05-09 13:26] hadifarnoud commented on #3903
@gfgqtmakia Rocket Chat supports proper RTL

[2017-05-09 13:43] jasonblais commented on #6202
Thanks @kulak-at!!

[2017-05-09 14:26] Rudloff commented on #4176
I started some basic work on a Debian package here: https://github.com/Rudloff/platform/commit/adc0da67f16dacfd5806fe0f864d6c6e7daac251
But it seems the following Go dependencies are not yet available as Debian packages:
* github.com/ssor/bom
* code.google.com/p/freetype-go/freetype
* bitbucket.org/taruti/pbkdf2.go
* code.google.com/p/goplan9/plan9/acme
* github.com/decker502/dnspod-go
* github.co

[2017-05-09 14:37] grundleborg commented on #4176
@Rudloff cool stuff, but I'm wondering, given that the Mattermost binary is statically compiled, and all the go dependencies are vendored in the repository, why the need to depend on Debian packages for them, rather than just compiling Mattermost as it would normally be with the vendored dependencies?

[2017-05-09 14:41] jasonblais commented on #5355
Thanks @R-Wang97! This is now resolved,

[2017-05-09 14:41] #5355 closed

[2017-05-09 14:46] jasonblais commented on #4363
Thanks @kulak-at! Resolved

[2017-05-09 14:46] #4363 closed

[2017-05-09 14:47] jasonblais commented on #6203
Thanks @cpanato! Resolved

[2017-05-09 14:47] #6203 closed

[2017-05-09 14:54] jasonblais commented on #6325
Thanks @cpanato :) Resolved

[2017-05-09 14:54] #6325 closed

[2017-05-09 15:05] Rudloff commented on #4176
The policy for official Debian packages is to have every dependency available as a Debian package.
However if your goal is not to include the package in the official Debian repositories, you can totally ignore that and build Mattermost directly.

[2017-05-09 15:12] grundleborg commented on #4176
Ah, right, thought it might be something to do with Debian policy. That's an interesting question actually - I guess it depends on the extent to which the Debian packages will be officially supported by Mattermost Inc. I'll put this on the agenda for tomorrow's public developer team discussion - do drop in if you are available and would like to join the discussion. It's at 10am San Francisco time,

[2017-05-09 15:36] cpanato commented on #6083
PR: https://github.com/mattermost/platform/pull/6363

[2017-05-09 16:15] esethna opened #6364 "[Help Wanted] [PLT-6537] When at-mentioning someone in a GM who is not in the channel, warning shouldn't appear"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-09 16:34] esethna opened #6365 "[Help Wanted] [PLT-6555] Enter should confirm deletion on delete modals"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-09 16:47] piec opened #6366 "Mail: No way to use no Auth"
#### Summary
Some SMTP servers require no Auth at all (eg. smtp-relay.gmail.com).
This is different from empty Username and Password (Username="", Password="")
There is no way in the UI to do that

#### Observed behavior
smtp-relay refuses to send emails

#### Possible fixes
Add a way to have no auth in the UI (not just empty username / password)
This would set `auth` to `nil` in call to smtp.Send

[2017-05-09 16:51] jasonblais commented on #6159
@federicolucca @ibigpapa

What is the use case for having Enable CORS set to * and enable insecure outgoing connections also enabled?

[2017-05-09 17:02] ibigpapa commented on #6159
Boots or environments where it's not feasible to use dns for bot\api
integration

On Tue, May 9, 2017, 11:52 Jason Blais <notifications@github.com> wrote:

[2017-05-09 17:57] Luismi74 opened #6369 "Trying to Add mixpanel integration"
- deployed successfully with Heroku

- Modified all the .HTML files with the mixpanel scripts

- Used a custom wesbsite and DNS domain

- Used mattermost-heroku (i could add the script to the JSON file but dont know how)

- suggestions please?

[2017-05-09 22:46] prateeksriv commented on #6346
Hi @jasonblais, next steps for me?

[2017-05-10 01:40] harshavardhana opened #6374 "Disallow http scheme in the Storage configuration"
#### Summary
Do not allow users to provide http scheme since its redundant with the next secure button, currently there is no validation in the UI which leads to user errors.

#### Steps to reproduce
Enable Storage for Amazon S3 pointing to https;//play.minio.io:9000.  Just using https://about.mattermost.com/download/ 3.8.2

#### Expected behavior
UI should validate and disallow providing 'https:/

[2017-05-10 06:59] cpanato commented on #6365
i can take this one

[2017-05-10 07:17] cpanato commented on #6365
PR: https://github.com/mattermost/platform/pull/6375

[2017-05-10 08:20] helphi opened #6377 "status indicator not display"
#### Summary
status indicator not display

#### Steps to reproduce
click the `members` icon in any channel

#### Expected behavior
There is a status indicator for every member in the members list before, but it is not display now.

#### Observed behavior
What did you see happen? Please include relevant error messages and/or screenshots.
![image](https://cloud.githubusercontent.com/assets/6457416/2

[2017-05-10 08:49] lindy65 commented on #5741
Hi @sedrubal,

I'll close this issue off for now but please feel free to reopen it if you still experience issues once GitLab has updated the omnibus.

[2017-05-10 08:55] lindy65 commented on #6270
Hi @prixone,
We have created a [Help Wanted issue here](https://github.com/mattermost/platform/issues/6299) and are looking for community's help. Would you be interested helping with a pull request?

[2017-05-10 08:55] #6270 closed

[2017-05-10 08:56] lindy65 commented on #6184
Hi @Wegi,

Just circling back to check whether you still have this issue after your system update?

[2017-05-10 08:59] lindy65 commented on #6168
Closing this issue off as [ticket](https://mattermost.atlassian.net/browse/PLT-6393) is done and closed and will ship with v3.9 on May 16th.

[2017-05-10 08:59] #6168 closed

[2017-05-10 09:00] piec commented on #6366
I got it working this way
https://github.com/piec/platform/commit/a9ba386fecca21e70549a99ed2aad18176583ef2

[2017-05-10 09:03] lindy65 commented on #6288
Hi @nevesnunes,

I'll close this issue off as the [ticket](https://mattermost.atlassian.net/browse/PLT-6469) is done and closed and should ship with the next version of Mattermost.

[2017-05-10 09:03] #6288 closed

[2017-05-10 10:11] Wegi commented on #6184
Hi lindy65,

esethnas comment clarified, that I was using the box wrongly. Since it was read-only I was under the impression that you can not paste anything there. Maybe it could be made more intuitive in future versions. :) Im gonna close this issue, since it was a misunderstanding.

[2017-05-10 10:11] #6184 closed

[2017-05-10 10:37] lindy65 commented on #6184
Thanks @Wegi,

Here is the documentation on theme colors so you have a reference:
https://docs.mattermost.com/help/settings/theme-colors.html#theme-colors

[2017-05-10 11:13] kulak-at commented on #6126
I take this one!

[2017-05-10 12:18] jasonblais commented on #6126
You're awesome @kulak-at!! Thank you :)

[2017-05-10 12:50] #6083 closed

[2017-05-10 13:49] aitzubi commented on #6207
@grundleborg This issue still happens after upgrading to 3.7.5.

If the username in Gitlab is numeric, it will not show correctly on mattermost.

We fixed the issue modifying all our usernames to characters but the issue still persist and it has nothing to do with the ldap issue you pointed in gitlab.com.

@lindy65 maybe you should reopen this issue.

Thanks!

[2017-05-10 13:54] jasonblais commented on #6207
@aitzubi Can you give an example of a username that's causing the issue?

[2017-05-10 13:56] aitzubi commented on #6207
103215 for example

Thanks @jasonblais

[2017-05-10 14:03] grundleborg commented on #6207
@jwilander any idea what's up here?

The example is of a user with username `103215` coming from Gitlab authentication. On Mattermost 3.7.3 this was broken and showed a 26 char ID instead of the username in the Mattermost UI. That was expected due to the change we introduced there, but it is still the case after updating to 3.7.5, which I don't think is expected, as I thought we fixed that issue b

[2017-05-10 14:43] jasonblais commented on #6207
@grundleborg @aitzubi  It looks like this wasn't reverted in 3.7.X.

The fix was submitted to 3.8.1 only, so the issue will be resolved in GitLab v9.2 and later. GitLab 9.2 will release on May 22.

[2017-05-10 15:15] jasonblais commented on #6346
Hey @prateeksriv, sorry for the delay. I've been travelling so just catching up on things.

I'd propose considering to show the Purpose on channel tooltip instead of the header (you can use the integration to supply the company name for header and purpose)

The header is typically supplied with information such as links, rather than to describe the purpose of the channel. It also supports Markdown

[2017-05-10 16:28] jasonblais commented on #6308
### v3.9.0 RC2 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/3.9.0-rc2/mattermost-3.9.0-rc2-linux-amd64.tar.gz

### Approved fixes for RC3

 - [Regression: Emoji size is no longer relative to text size](https://mattermost.atlassian.net/browse/PLT-6562)
 - [System Console: Compliance and Auditing tab causes console error](https://mattermost.a

[2017-05-10 17:35] esethna opened #6385 "[Help Wanted] [PLT-6522] "Unknown prop align on tag" warning from EmojiPicker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-10 17:40] esethna opened #6386 "[Help Wanted] [PLT-6519] Invalid prop type warning from RHS date separator"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-10 19:27] drojas commented on #6281
I've been looking at this issue today. I can see only one function in _components/emoji_picker/emoji_picker.jsx_ that is using jQuery in _master_ so I have already ported it to vanilla javascript. After doing that I noticed the Jira ticket says this is now part of a bug fix. I was wondering what should I do with the changes I've made to my local code to remove jQuery usage from _emoji_picker.jsx_.

[2017-05-10 19:52] hmhealey commented on #6281
@drojas That note is actually incorrect now since it didn't end up getting done with that other ticket, so we'd gladly still take your PR. Your changes may conflict with [the ones made for that other ticket](https://github.com/mattermost/platform/pull/6352) since it touches the same code, but we can deal with that if it becomes a problem.

[2017-05-10 19:52] drojas commented on #6327
Hi, can I pick this one?

[2017-05-10 20:42] esethna commented on #6366
Glad you got it working. Closing this issue, feel free to re-open if you have any more problems.

[2017-05-10 20:42] #6366 closed

[2017-05-10 21:21] jasonblais commented on #6327
sure thing! Thanks @drojas!

[2017-05-10 21:22] jasonblais commented on #6281
Sorry about that @drojas, I've removed the comment from the ticket

[2017-05-11 11:40] cpanato commented on #6386
I tried that in the current master and was not able to reproduce the issue.

Test cases:
1:
 - make a post with user A
 - reply that post with user A

2:
 - Reply the post from user A but with user B

none in those cases I got that warning.

[2017-05-11 11:46] cpanato commented on #6385
on that

[2017-05-11 11:50] cpanato commented on #6385
PR: https://github.com/mattermost/platform/pull/6391

[2017-05-11 12:05] jasonblais commented on #6386
@hmhealey Is the step for running a developer build necessary to reproduce the issue?

[2017-05-11 12:44] hmhealey commented on #6386
Yes, it is. The warning isn't displayed if you're using a compiled version like on pre-release.

[2017-05-11 12:45] cpanato commented on #6386
but need to be a reply in a post from other day? Or can I create a post and reply that ?

[2017-05-11 13:15] hmhealey commented on #6386
You may need to make a post on one day and then reply to it on another (or even change your server clock to fake that). I'm not sure which DateSeparator causes it to appear. Even if you can't repro it, the problem DateSeparator is probably in the RhsThread component or its children.

Alternatively, you could just change the prop type that's being reported in the warning. It seems to work fine anyw

[2017-05-11 13:41] cpanato commented on #6364
the server side generate this and send out an ephemeral post to the client, should we not send that from the server or should we block in the client this?

[2017-05-11 17:18] lindy65 commented on #6377
Hi @helphi,

Thanks for your report.  We've created [this Jira ticket](https://mattermost.atlassian.net/browse/PLT-6576) for an improvement to include status indicators in the Channel Members list.  We'll most probably make this a `Help Wanted` ticket.

Would you, or anyone in the community, be interested in working on this?

[2017-05-11 20:42] cpanato commented on #6318
I will make the change if you dont mind

[2017-05-11 21:40] it33 opened #6398 "[Help Wanted] Enable posting messages over 4000 characters"
When pushing text over 4,000 characters into a message truncate the message at 3996 characters and add `...` then put the entire message in a `full_message.md` file added as an attachment to the message.

This is to address an issue with users pushing more than 4000 characters into message via automation: https://mattermost.atlassian.net/browse/PLT-5929

[2017-05-11 21:53] hmhealey commented on #6318
I've re-opened this issue as the ticket may have had incorrect information on how to fix the issue. I'll post back here once we've made a decision on how to properly fix it

[2017-05-12 01:35] helphi commented on #6377
ooo... I don't think it's a `improvement` bug a `bug`, because the indicator works well in `mattermost 3.4`.
![image](https://cloud.githubusercontent.com/assets/6457416/25978646/2491d388-36f6-11e7-8901-c6fff002963b.png)
Maybe someone changed some code cause this.

[2017-05-12 03:41] #6398 closed

[2017-05-12 03:42] it33 commented on #6398
Been asked to put this through a review process instead of opening a ticket directly

[2017-05-12 04:39] jasonblais commented on #6377
hey @helphi, we had a big refactoring of the code base for performance improvements in Mattermost 3.5. At that time, some of the status indicators were removed from the UI and the community is helping add them back, here's an example: https://github.com/mattermost/platform/pull/6341

[2017-05-12 06:28] lindy65 commented on #6377
Thanks @jasonblais and @helphi

I'll close this issue off for now as we have the [Jira ticket](https://mattermost.atlassian.net/browse/PLT-6576) to add the indicators back in to a future release.

[2017-05-12 06:28] #6377 closed

[2017-05-12 12:22] jasonblais commented on #6308
### v3.9.0 RC3 is cut

Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/3.9.0-rc3/mattermost-3.9.0-rc3-linux-amd64.tar.gz

[2017-05-12 14:43] drojas commented on #6327
I've been doing some advancements and have some questions and comments.

Currently the entire sidebar header area is used to trigger two changes:

- On hover. A semitransparent black background appears and the username color changes.
- On click. The account settings dropdown is toggled.

The issue requests that the profile pic and status icon should trigger a status selector dropdown. So, in order

[2017-05-12 16:20] esethna opened #6403 "[Help Wanted] [PLT-6577] Clicking on "Unread posts above/below" should scroll the sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-12 19:17] asaadmahmood commented on #6327
Hey Drojas, really appreciate your help and interest here.
This is how it should behave.
1. Reducing the area should probably be a bit hard to do, something easier can just be that when a user is hovering over the profile picture, or the status icon, then it triggers a different even.
2. When a user is hovering over the profile picture, or the status icon, we can just have a different icon and sty

[2017-05-12 19:44] danilvoe commented on #6320
This possibility is available in the ITS version of the Matternost.  :(

[2017-05-12 20:58] realrolfje commented on #6320
You are kidding me, right? I need to fork Mattermost-platform and fix this so that our non-profit public service Mattermost with well over 300 users will get sensible security settings?

In our case, the E10 license would cost $1.67 * 340 = a whopping $568 per month to run on our self-hosted server with our own volunteer admins. We don't have that (or any) money.

Is the Mattermost company sure th

[2017-05-12 21:20] drojas commented on #6327
Thanks @asaadmahmood!

[2017-05-12 21:36] JeffSchering commented on #6320
@realrolfje Non-profits are eligible for a very low flat-rate fee for up to 1000 users. See https://about.mattermost.com/mattermost-mondays/

[2017-05-13 01:46] realrolfje commented on #6320
You might want to sit down for this:

From your non-profit page: *"An eligible organization needs to be an official not-for-profit or charity, and also non-government, non-academic, non-commercial in nature, with no religious affiliation and that would otherwise not be able to afford the commercial version of Mattermost software."*

We are not a charity. We are a club. The club is not about charit

[2017-05-13 01:55] realrolfje commented on #5935
I just checked PLT-6400 and am shocked. You actually "fix" a security issue by creating an issue to add a link to the documentation, and then even have the balls to ask for community support to add that link? Adding the link in the code directly would have been less work! This makes no sense.

I will not contribute to the strong password detector until this issue is *fixed* in the *code*.

As ment

[2017-05-13 01:59] realrolfje opened #6406 "Password limit on Open Source version is too low"
Adding a link to the documentation is not how you fix a security flaw in the product. Please reopen [the original issue](https://github.com/mattermost/platform/issues/5935).

I urge the Mattermost team to reconsider their stance on basic security features for the open source version of Mattermost. Security is not a selling point. It is a basic right.

[2017-05-13 10:40] danilvoe commented on #6320
This is very sad, but at the moment this is a fact with which there is little to be done. We made a decision for ourselves to fork and gradually (as we get to know Go and React, etc.) we add and correct the absurd problems of safety in the version of the CE. :(

Being a state organization, we can not just pay someone else, we need official bidding, competitions, etc.
And potential users we have> 2

[2017-05-13 14:17] jasonblais commented on #6364
@cpanato how is this handled for direct message channels, do you know?

[2017-05-13 19:27] realrolfje commented on #6320
Not sure what you mean with CE, but is your fork public? Is there a list of bugs/features you fixed, and is it truly GPL licensed, as in: not crippled for open source users?

[2017-05-14 09:30] harshavardhana commented on #6374
// cc @coreyhulen - This is the bug i was talking about during our meeting. There should be some sort of a form validation which disallows users making mistakes by providing `https://`

Here is my proposal

- Avoid form validation other than the hostname validation.
- Allow both scheme or direct hostname style Endpoint url.
- If no scheme is provided then it is assumed to be HTTPs. (secure)
- User

[2017-05-14 09:51] danilvoe commented on #6320
As far as possible, we will offer our own refinements in the form of merge request.  We have just started the process of introducing ourselves and do not want to present raw and incomplete improvements to the community.

[2017-05-14 14:54] danilvoe opened #6409 "Unsupported time zone specified undefined"
In the server logs an error is fixed (the second day of using the chat)

what could be the problem?

[2017-05-15 08:13] cpanato commented on #6364
@jasonblais I will check

[2017-05-15 08:53] Rudloff commented on #1185
A quick feedback here:
The doc says that we need to install MySQL 5.6+ but as it has already been said the stable Debian version is 5.5 so there is no clean way to install 5.6 on Debian stable.
However it seems to work correctly with 5.5 if I switch some of the tables (Channels, Posts and Users, I think?) to MyISAM.

[2017-05-15 09:01] demedos commented on #5885
@jasonblais I figured out something else.
The same problem occurred with Slack, and the problem turned out to be related to Huawei and Xiaomi devices and their battery saving modes, which kills all the apps not in their 'whitelist'. Following the procedure written [here](https://android.stackexchange.com/a/169764) solved the problem, this may work for mattermost too

[2017-05-15 09:44] cpanato commented on #6364
for the GM message the code is here: https://github.com/mattermost/platform/blob/master/app/notification.go#L101

[2017-05-15 09:45] cpanato commented on #6386
I was not able to reproduce that.

[2017-05-15 13:25] jasonblais commented on #6364
For direct message channels, no warning is sent.

![image](https://cloud.githubusercontent.com/assets/13119842/26059593/4f4b1722-3950-11e7-9082-fe9023b84032.png)

So we can probably mimic how this is handled for direct messages (e.g. not sent from the server or blocked by the client).

You can also ask in the Developers channel, as my technical knowledge is limited,

[2017-05-15 14:12] cpanato commented on #6364
ok, will make the change :)

[2017-05-15 14:44] #6074 closed

[2017-05-15 14:45] jasonblais commented on #6204
Thanks @chrismatteson!

[2017-05-15 14:45] #6204 closed

[2017-05-15 14:46] jasonblais commented on #6281
Thanks @drojas!

[2017-05-15 14:46] #6281 closed

[2017-05-15 14:57] cpanato commented on #6364
PR: https://github.com/mattermost/platform/pull/6412

[2017-05-15 16:16] coreyhulen commented on #6374
yup...thanks.

[2017-05-15 16:16] coreyhulen commented on #6374
@jasonblais can we create a jira tix for this.

[2017-05-15 16:42] hmhealey commented on #6318
@nevesnunes Regarding your comment on https://github.com/mattermost/platform/pull/6322, would using `os.Hostname()` instead of the SiteURL setting be good enough here? We'd like to get this working properly, but using go-fqdn still seems like an unnecessary dependency. `os.Hostname` returned identical results to go-fqdn everywhere we tested it.

[2017-05-15 17:32] #6365 closed

[2017-05-15 17:32] #6385 closed

[2017-05-15 21:26] nevesnunes commented on #6318
It is a better solution, but will fail if the reported hostname doesn't match the FQDN.

`os.Hostname()` gets the name from the kernel, which on Linux is set on boot based on `/etc/hostname`. From what I can tell, traditionally this file only has the hostname, so we can't assume that every server will have the FQDN here. This difference also happens in my case. Indeed, the commands `hostname` and

[2017-05-15 21:27] jasonblais commented on #5885
Awesome, thanks @demedos! Really appreciate coming back to us. I've added it to the ticket and let the mobile app team know.

It sounds like it might help resolve the issue to other Mattermost users too, so a huge thanks for this!

[2017-05-15 22:54] jasonblais commented on #6308
### Approved fixes for RC5

 1. [Mention count for DMs increases while you're viewing the channel (only disappears after you switch away from it)](https://mattermost.atlassian.net/browse/PLT-6584)
 2. [Should not automatically rejoin public/private channels when rejoining a team](https://mattermost.atlassian.net/browse/PLT-6585)
 3. [RHS UI broken in compact view](https://mattermost.atlassian.net/

[2017-05-15 22:55] jasonblais commented on #6308
3.9.0 is now cut!

Download links available here: https://pre-release.mattermost.com/core/pl/pymemo4xiigimy1hqnp6e9y1wr

They will also be updated in our downloads page shortly https://about.mattermost.com/download

[2017-05-15 22:56] #6308 closed

[2017-05-16 08:35] lindy65 commented on #6374
@coreyhulen and @harshavardhana

Ticket is here: https://mattermost.atlassian.net/browse/PLT-6591

[2017-05-16 11:39] danielsreichenbach commented on #1185
Quick tip for those wanting Debian Jessie: you can install MariaDB client and server there instead of the provided MySQL 5.5 client and server, and it works fine. I am running this for a few weeks in production myself.

[2017-05-16 13:24] crspeller commented on #5927
@omikron-admin
Looking at your logs the one thing that is obvious is that Mattermost is not crashing. It is being given the shutdown signal. I would check your automation to make sure it's not being accidentally killed by it.

As for restarting automatically to mitigate the problem, if you follow our setup guide here: https://docs.mattermost.com/install/install-ubuntu-1604.html
You can find a syst

[2017-05-16 13:58] jkae opened #6420 "Outgoing webhooks not triggered by file uploads"
#### Summary
When submitting a post with no text content, such as a file upload without accompanying message, webhooks set with no trigger words do not fire.

#### Steps to reproduce
3.8.2
1. Create outgoing webhook for Town Square to some external API, no trigger words, either trigger condition
2. Submit message in Town Square with any text (webhook fires)
3. Submit message in Town Square with an

[2017-05-16 14:14] #6298 closed

[2017-05-16 14:31] jasonblais commented on #6369
Thanks @Luismi74,

Would you open to posting this in our [Mattermost forums](forum.mattermost.org)? It has more visitors and therefore you'll have a better chance of receiving a response from the community.

You can propose an integration [in our feature idea forums](https://mattermost.uservoice.com/forums/306457-general/category/202591-integrations).

[2017-05-16 15:25] jasonblais commented on #6409
Thanks @danilvoe for the report,

How often does the above error occur?

[2017-05-16 16:04] Jordan4385 commented on #2032
Also There should be an an option in the incoming web hook JSON to pin the message.

[2017-05-16 16:16] esethna opened #6421 "[Help Wanted] [PLT-6586] Blue bar and JS error when posting "+:+1:" after an ephemeral message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-16 16:21] esethna opened #6422 "[Help Wanted] [PLT-6599] Add link to check Websocket port error message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-16 16:21] esethna opened #6423 "[Help Wanted] [PLT-6581] Split posts from integrations that exceed 4000 characters into multiple posts"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-16 16:21] esethna opened #6424 "[Help Wanted] [PLT-4782] Auto-resize Main Menu and "Unread posts above/below" indicator based on character lengths"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-05-16 21:09] hmhealey commented on #6318
Hi @nevesnunes,

Thanks for the feedback. I took it back to our core team, but we've decided that sending the Site URL (minus the protocol and port) should be enough to fix this issue. For a mail server on the local network, we haven't found it necessary to support sending a HELO with anything more than localhost, and for an external mail server, neither `os.Hostname()` nor go-fqdn's reverse looku

[2017-05-16 21:09] #6318 closed

[2017-05-16 21:24] cpanato commented on #6201
I will take this one :)

[2017-05-17 04:02] jostyee opened #6425 "Can't send emails"
Asked on https://pre-release.mattermost.com/ several days before, nobody responded.

#### Summary
After upgrading to 3.9.0, we can't send emails with same smtp configurations any longer, test connection returns:
`Connection unsuccessful: Failed to set HELO`

<img width="463" alt="screen shot 2017-05-17 at 12 01 41 pm" src="https://cloud.githubusercontent.com/assets/88564/26138006/a0c9d238-3af8-11e

[2017-05-17 04:28] cpanato commented on #6425
How is your hostaname and the Siteurl looks like?

[2017-05-17 05:22] jostyee commented on #6425
@cpanato

Siteurl: https://im.company.com

What is `hostaname` you mean?

[2017-05-17 07:28] jostyee commented on #6425
`git revert 0df61d1` and then things back to work.

[2017-05-17 07:58] danilvoe commented on #6409
The error appears quite often and if there is a 30-50 log error log from one user.

[2017-05-17 08:39] cpanato commented on #6425
To get the Hostaname you need access your server and then type hostname in the bash

[2017-05-17 08:59] lindy65 commented on #5818
Thanks @xcompass!

@jtdaugherty, have you managed to resolve your issue with xcompass' help above?

[2017-05-17 09:37] jostyee commented on #6425
@cpanato `mattermost-0`

[2017-05-17 09:49] tumbl3w33d opened #6428 "Web client doesn't load in Firefox ESR 45.8.x"
#### Summary
Web client fails to load in Firefox ESR (45.8.x) when connecting to self-hosted mattermost server `3.9.0`

#### Steps to reproduce
Open the web client in a Firefox ESR (45.8.x)

#### Expected behavior
Web client loads.

#### Observed behavior
* stare at 3 dots that indicate a loading process
* open firebug and check the console
* find a [stacktrace](https://gist.github.com/tumbl3w33d/

[2017-05-17 11:51] cpanato commented on #6201
PR: https://github.com/mattermost/platform/pull/6430

[2017-05-17 12:31] jasonblais commented on #6409
Can this user try [clearing his cache](https://kb.iu.edu/d/ahic) and re-logging to Mattermost?

If they're on mobile, can the user try re-installing the app?

[2017-05-17 13:33] jasonblais commented on #6159
Thanks @ibigpapa , we'll investigating the issue in coming weeks. The ticket is currently scheduled for 3.10: https://mattermost.atlassian.net/browse/PLT-6514

[2017-05-17 14:24] it33 commented on #5935
Hi @realrolfje, some thoughts below:

On process:

1. If you want to continue the discussion about Mattermost, that is absolutely welcome so long as the conversation is respectful and constructive. If you feel something can be done better, please say so in a way that doesn't belittle other people's implementations or opinions. If you were sitting in the living room of any of the hundreds of contri

[2017-05-17 15:33] realrolfje commented on #5935
Hi @it33,

On Process:
1. I am very sorry if you were offended by the comment above. As you have seen in my other tickets in all systems I am generally polite, focussed on the facts without beig judgemental. In this case I was truly shocked (and still am).
2. I've read the guidelines and am still very convinced that not enforcing even basic security settings is a bug, and not a feature. Furthermor

[2017-05-17 15:38] realrolfje commented on #6406
This duplicate generated attention to the original issue and received 2 thumbs up, thanks @dmke and @dschaper. Please vote and comment on password and security related issues to  help make Mattermost secure.

For now, as per @it33's request, I'll close this duplicate.

[2017-05-17 15:38] #6406 closed

[2017-05-17 15:50] lfbrock commented on #5227
Replaced with: https://github.com/mattermost/platform/issues/6422

[2017-05-17 15:50] #5227 closed

[2017-05-17 17:03] lfbrock commented on #6422
@kulak-at - is this one you might be interested in working on?

[2017-05-17 18:15] jasonblais commented on #6201
Thanks! 👍

[2017-05-17 18:15] #6201 closed

[2017-05-18 08:10] theCroh commented on #5905
Any progress on this issue? This is a showstopper for our sales team since they need to be able to easily mute notifications when having customer meetings.

[2017-05-18 08:33] lindy65 commented on #6420
Hi @jkae,

Thank you for your issue report!

Mattermost v3.9.0 shipped on May 16th.  Could we have your help upgrading to the [latest version](https://about.mattermost.com/download/) to see whether this issue still reproduces for you?

Thanks!

[2017-05-18 09:10] lindy65 commented on #6428
Hi @tumbl3w33d,

As I understand it, Firefox ESR is a desktop app version of Firefox for large corporations?

Could you explain a little more about your set-up as I'm wondering whether some settings within the Firefox ESR set-up are blocking Mattermost from loading.

[2017-05-18 10:03] Rudloff opened #6434 "u.Hostname undefined"
#### Summary
I get this error when trying to run the latest master:
[code]

#### Steps to reproduce
`go run ./cmd/platform/*.go`

#### Expected behavior
Mattermost should start normally.

#### Observed behavior
Mattermost does not start.

#### Possible fixes
I think URL.Hostname has been added in Go 1.8 and I'm using 1.7.4 (the latest version available on Debian Jessie).

[2017-05-18 10:34] kulak-at commented on #6422
@lfbrock Sure, I can work on that!

[2017-05-18 11:44] tumbl3w33d commented on #6428
Hi @lindy65,
yes Firefox ESR is a desktop app. It's the LTS version of the browser and not necessarily limited to corporations (although it's attractive for these, of course). When you're not after having the latest features, you gain more stability which is, for obvious reasons, attractive for a homogeneous network of workstations. For developers it can be interesting when they use Selenium and w

[2017-05-18 13:46] tejasbubane commented on #5979
I think this can be closed.

[2017-05-18 13:58] lfbrock commented on #5979
Yes, thanks @tejasbubane!

[2017-05-18 13:58] #5979 closed

[2017-05-18 14:20] #6202 closed

[2017-05-18 14:21] #6364 closed

[2017-05-18 14:41] annerajb opened #6438 "Mute Specific User/Integration?"
I would like a way to mute integrations/users per channel is there something in the works for this?
Use case: we have a bot that post commit messages and says the users name every time we commit we get a email from the bot saying that we committed (making email notifications useless since i am not getting what really interest me)

[2017-05-18 18:36] jasonblais opened #6441 "[Help Wanted] Migrate channel_info_modal.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 18:38] jasonblais opened #6442 "[Help Wanted] Migrate add_incoming_webhook.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 18:39] jasonblais opened #6443 "[Help Wanted] Migrate add_oauth_app.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 18:40] jasonblais opened #6445 "[Help Wanted] Migrate add_command.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 18:41] jasonblais opened #6446 "[Help Wanted] Migrate edit_incoming_webhook.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:13] jasonblais opened #6447 "[Help Wanted] Migrate edit_outgoing_webhook.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:14] jasonblais opened #6448 "[Help Wanted] Migrate edit_command.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step

[2017-05-18 19:15] jasonblais opened #6449 "[Help Wanted] Migrate installed_incoming_webhook.jsx to be pure and use Redux"
If you're interested please comment here and come [join our "Redux" community channel](https://pre-release.mattermost.com/core/channels/redux) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

New contributors please see our [Redux contribution process](https://docs.mattermost.com/developer/webapp-to-redux.html#component-migration-step