[2016-12-15 11:24] #4801 closed

[2016-12-15 16:23] kosimus opened #4808 "Back button on Android shuts the app down"
#### Summary
Using back button to close the left hand sidebar on Android app, shuts the app down.

#### Steps to reproduce

1. Have version 3.5.0 of the app installed on Android 6.0.1
2. Login to your team.
3. Enter any channel.
4. Open the left hand menu (with channels, groups...).
5. Use the device back button to close the menu.
6. Observe that the app is shut down.

Side note: the same happens

[2016-12-15 16:44] jasonblais commented on #4770
Thanks @vrenjith for the video!

Unfortunately pre-release was down for a moment, but it should be back up now if you're still interested joining the [public Contributors channel](https://pre-release.mattermost.com/core/channels/tickets).

For the `@ren` case, does the autocomplete appear a little later (say after a few seconds) or just stay closed?

[2016-12-15 17:46] vrenjith commented on #4770
Jason,
It appears in around 500ms and disappears immediately (like another 500ms).

[2016-12-15 17:53] S6066 commented on #4730
Hm, I don't have the bug even without the RC3 app
@jasonblais It was just MatterMost, and I don't think I use Optimus

[2016-12-15 18:32] jasonblais commented on #4808
Thanks @kosimus for the report!

By "shutting down", do you mean that the app goes into the background?

We currently don't have a lot of control over the "Back" button on the Android app, but we're working on new [React Native mobile apps](https://github.com/mattermost/mattermost-mobile), which will let us fix a few underlying issues. Our goal is to release the new apps in early 2017.

[2016-12-15 23:22] jasonblais commented on #4702
Hey @hjc1710, I've created a ticket for [removing your own username from (at)-mention autocomplete](https://mattermost.atlassian.net/browse/PLT-5027).

It was discussed and I agree that it's quite rare to (at)-mention yourself in a conversation.

Would you or someone you know be interested submitting an improvement for it? It would get counted [towards our Hackfest event](https://about.mattermost.

[2016-12-16 00:21] jasonblais commented on #4691
Yeah, we support three different views for the web app:
 - **mobile view**, which is shown if the Mattermost window is shrinked to a size similar to mobile. Here we hide the "help" button and "XXX is typing" to match the user experience on mobile apps
 - **tablet view**,  which is shown if the Mattermost window is shrinked to a size similar to a tablet (e.g. iPad)
 - **desktop view**, which is mat

[2016-12-16 00:31] jasonblais commented on #4730
Thanks for reaching back!

Just to confirm: are you no longer able to see the bug?

[2016-12-16 05:33] vrenjith commented on #4770
Got any hints? This has been a bit of bad experience for users :(

[2016-12-16 06:05] jasonblais commented on #4770
Sorry to hear about this @vrenjith!

I was able to reproduce something similar on the channel switcher dialog (which opens after clicking `CTRL+K`). If I type a name with four letters or more, the autocomplete doesn't always appear, and sometimes it does but disappears afterwards.

Potentially a related problem to the one you're having, although not exactly the same.

There's two next steps I have

[2016-12-16 06:21] nickolasclarke commented on #4801
@grundleborg of course. Glad to see it!

[2016-12-16 09:11] nils-werner opened #4813 "HTML markdown rehaul"
#### Summary
The [current template HTML](https://github.com/mattermost/platform/blob/master/templates/password_change_body.html) is the perfect blend of all bad practices of the last 20 years:

 - Table layouts
 - Deprecated attributes
 - Style related attributes
 - Inline styles

All of this should be replaced with clean and modern HTML and CSS.

#### Steps to reproduce
Look at the code.

#### Ex

[2016-12-16 10:15] S6066 commented on #4691
I was in the tablet view then.
Okay for the demo, but do I have to enter my username & password or should I create an account ?

[2016-12-16 10:17] S6066 commented on #4730
Yeah, I can't see the bug now.

[2016-12-16 10:49] S6066 commented on #4691
Oh, I know how to reproduce the bug !
It's in tablet mode of course, and it occurs when you answers to a message

[2016-12-16 11:33] Rudloff opened #4816 "[Help Wanted] Image preview does not work if URL contains a query"
#### Summary
When posting an image URL that contains a query, the image preview does not work.
![capture d ecran - 16122016 - 12 30 27](https://cloud.githubusercontent.com/assets/840125/21261427/9b8ce916-c38b-11e6-8490-e0e03b035fb7.png)

#### Steps to reproduce
1. Post `https://about.mattermost.com/wp-content/uploads/2016/01/logo.png` inside a channel.

#### Expected behavior
An image preview shou

[2016-12-16 14:07] jwilander commented on #4723
We talked about it during our developer meeting and decided that we're going to make the effort to do it with our next API version. The [still-in-progress specification](https://docs.google.com/document/d/197JwEBMnK8okFilTfGSpbsrXPY5RZOJ4gG2DXwcbwYE/edit#) for API version 4 indicates how we'll handle versioning in the future. We welcome any feedback on the spec as well

As for the current APIv3, m

[2016-12-16 14:52] hjc1710 commented on #4702
@jasonblais - I'm not much of a React guy myself, but if there's something you could do to point me in the right direction of where to start, I think I'd be willing to take a crack at it over my Christmas break (12/23-1/3).

If not, I'll see how some of our frontend team members feel tackling this =).

I'm really glad that we agreed that the self-(at)-mention is rare. This is a great approach! Tha

[2016-12-16 15:21] jasonblais opened #4817 "[Help Wanted] File upload isn't aligned with the message box in tablet or mobile view"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-16 15:23] bjoernr-de commented on #4817
Hi @jasonblais

I will take care of this issue 😃

[2016-12-16 15:35] fraziern opened #4818 "Submitting a post > 4000 chars is not blocked after a page refresh"
#### Summary
Refreshing the page while drafting a post over 4000 chars resets the max-length error, and posting is not blocked.

#### Repro:

1. Draft a post > 4000 chars without submitting
2. Refresh page (the draft will still be there but the warning is gone)
3. Submit post

#### Observed:
Post is created without error.

#### Expected:
Error should appear and post submission should be blocked.

[2016-12-16 15:35] fraziern commented on #4818
Taking a look at this.

[2016-12-16 15:57] paulmenzel opened #4820 "Use HTTPS URL in GitHub description"
It’d be great if you could use the HTTPS URL https://mattermost.com in the GitHub description.

[code]

[2016-12-16 16:14] jasonblais commented on #4691
Thanks @S6066! You can create an account by clicking "Create one now" [on the sign in page](https://pre-release.mattermost.com/login)

![image](https://cloud.githubusercontent.com/assets/13119842/21269410/a2f5e7f8-c380-11e6-8c27-79babb8e347c.png)

Thanks also for the updated repro steps! I tried and I suspect it was fixed by a recent PR that addressed a related issue.

Would be good if you had tim

[2016-12-16 17:01] #4661 closed

[2016-12-16 18:46] vrenjith commented on #4770
I will wait the issue to get resolved. But at the same time, i do have a
doubt how removal of the delay will solve the disappearing problem.

On Fri, Dec 16, 2016 at 11:35 AM, Jason Blais <notifications@github.com>
wrote:

--
Regards,
Renjith

[2016-12-16 20:27] lfbrock opened #4824 "[Help Wanted] Emoji Reactions: Always show the usernames who reacted in the tooltip"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-16 21:41] benreic opened #4825 ""Switch Channels" modal only matches on the channel's leading characters"
#### Summary
The "Switch Channels" modal (CMD+K) doesn't do leading wildcard matching on channel names.

#### Steps to reproduce
1. Create a channel named "foo bar".
2. Press CMD+K to open the "Switch Channels" modal.
3. Type "bar" in the modal.
4. Press Enter.

#### Expected behavior
The channel "foo bar" should be listed in the list of channels.

#### Observed behavior
The channel "foo bar" is N

[2016-12-16 22:20] bjoernr-de commented on #4817
<img width="322" alt="screen shot 2016-12-16 at 23 10 33" src="https://cloud.githubusercontent.com/assets/2854699/21280341/b65666dc-c3e5-11e6-9713-88c548476af6.png">

<img width="770" alt="screen shot 2016-12-16 at 23 19 29" src="https://cloud.githubusercontent.com/assets/2854699/21280421/24a8ca3a-c3e6-11e6-92bf-4c3acc0694dc.png">

[2016-12-17 05:25] it33 commented on #4813
Hi @nils-werner!

First, thanks again for being one our earliest adopters, and for your continued feedback.

Regarding your issue, we need to support older email clients and have content self-contained so we do what it takes to make the emails work for our users. In this case, backwards compatibility is the priority.

If you'd like to help with a PR to update the templates, it'd be highly apprecia

[2016-12-17 05:27] coreyhulen commented on #4820
Fixed

[2016-12-17 05:27] #4820 closed

[2016-12-17 08:19] tudorgergely commented on #4790
I would work on this. Why not make the cropping selection user defined? I mean he could choose the zoom or at least the side which is cropped.

If you want to keep thing as simple as possible then I understand the automatic cropping of the middle of the picture

[2016-12-17 13:20] nils-werner commented on #4813
Ah, those are templates for HTML emails? That makes more sense then. The location of the files genuinely confused me, I expected to find app/web templates in `templates`

[2016-12-17 15:51] jasonblais commented on #4702
Would you like to join our [Developers community channel](https://pre-release.mattermost.com/core/channels/tickets)?

That's an excellent place to ask questions and both our community members and core developers are happy to point you in the right direction :)

[2016-12-17 15:51] jasonblais commented on #4702
Thanks for your interest taking a look at it!

[2016-12-17 16:30] jasonblais commented on #4790
Thanks @tudorgergely, good feedback

I think letting the user to scale and crop a photo to fit the square size would be nice - but it would need a more complete spec, including UI.

I'd consider that as a second phase for improving the profile picture upload experience.

[2016-12-17 20:45] jasonblais commented on #4770
Hey @vrenjith,

I created a ticket to investigate this issue further, you can find details here: https://mattermost.atlassian.net/browse/PLT-5040

If you have any further information you'd like to add, feel free to comment on the Jira ticket

[2016-12-17 20:45] jasonblais commented on #4770
Hey @vrenjith,

I created a ticket to investigate this issue further, you can find details here: https://mattermost.atlassian.net/browse/PLT-5040

If you have any further information you'd like to add, feel free to comment on the Jira ticket

[2016-12-17 23:53] tudorgergely commented on #4790
good then. I will finish this with direct crop of the center. Also I am almost done with modifications for progress bar. sorry for the long wait

[2016-12-18 08:45] kosimus commented on #4808
No, I mean that it is actually switched off. When an app goes into the background, it is simply hidden from view and re-entering the app simply puts it back on the screen. But in this case, the app is completely switched off and an attempt to put it back on the screen results in the app launching again.

I know about the native apps of course, I just thought that this one might be fixed before the

[2016-12-19 12:29] anismilali opened #4833 "curl: (7) Failed to connect to 127.0.0.1 port 80: Connection refused"
curl: (7) Failed to connect to 127.0.0.1 port 80: Connection refused
curl: (7) Failed to connect to 127.0.0.1 port 8065: Connection refused

[2016-12-19 15:38] benreic opened #4834 "Default channel selected is not the most recently viewed channel"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
On startup, the app should take you to the last channel/DM you were most recently

[2016-12-19 22:33] khawerrind commented on #4749
I am working on this ticket

[2016-12-19 22:39] khawerrind commented on #4749
Here is the PR for this ticket. https://github.com/mattermost/platform/pull/4839

[2016-12-19 22:48] lfbrock commented on #4808
Hi @kosimus - can you check and see if the app is actually closing completely, or if it's just reloading?

I think the current apps reload when they are opened after being set to the background, to get any new messages.

For the Android back button issue - we're working on some new mobile apps using React Native that should work better with the back button.

[2016-12-19 22:56] lfbrock commented on #4825
Hi @benreic - can you check and see what version of Mattermost your server is, by going to the three dots by your profile pic to open the main menu, and clicking "About Mattermost"?

I just tried on v3.5 and on master, and it seems to be working on the set ups I tested with:
<img width="611" alt="screenshot 2016-12-19 17 56 19" src="https://cloud.githubusercontent.com/assets/9354841/21332115/5cf8a

[2016-12-19 23:02] lfbrock commented on #4816
Thanks @Rudloff - I made a Jira ticket here for the issue: https://mattermost.atlassian.net/browse/PLT-5057

[2016-12-20 02:45] benreic commented on #4825
Yep, we're using 3.1, I'll try to get us to upgrade, thanks!

[2016-12-20 02:45] #4825 closed

[2016-12-20 07:18] S4KH commented on #4766
Working on it.

[2016-12-20 10:20] Rudloff commented on #4300
Hello,
Would you be interested in ODF support as well? [WebODF](http://webodf.org/) could be used for that.

[2016-12-20 12:57] Morthy opened #4846 "Including speech marks in user search phrases results in store.sql_user.search.app_error"
#### Summary
When searching for a user (e.g. on the new Direct Message window), entering a double quote inside the search term results in "store.sql_user.search.app_error".

#### Steps to reproduce
In Mattermost 3.5.1, click on "More" below "Direct messages" in the left navigation bar. Then try to search for any phrase containing a double quote.

#### Expected behavior
The API should handle this g

[2016-12-20 13:04] Morthy opened #4847 "User search does not always return expected results"
#### Summary
When searching for a user by username, the results returned are not always what you would intuitively expect

#### Steps to reproduce
Firstly, create an account called "in.my.control" using a Mattermost instance with a MySQL backend.

Then click on "More" below "Direct messages" in the left navigation bar.

1. Attempt to search for: "in.my.co"
2. Attempt to search for: "in.my.con"
3.

[2016-12-20 14:26] khawerrind commented on #4794
I am working on it

[2016-12-20 14:36] khawerrind commented on #4794
Here is the PR https://github.com/mattermost/platform/pull/4850

[2016-12-20 15:39] khawerrind commented on #4754
Working on it

[2016-12-20 16:37] it33 opened #4852 "[Help Wanted] Remove hard black outline on scrollbar in IE11/Win10 and Firefox/Win10"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-20 17:04] khawerrind commented on #4754
Here is the PR https://github.com/mattermost/platform/pull/4853

[2016-12-20 18:10] yangchen1 opened #4856 "[Help Wanted] Replying to a message with >4000 characters should be same behaviour as sending a >4000 message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/dev

[2016-12-20 18:10] esethna commented on #4708
Closing as solved, thanks @bjoernr-de, much appreciated!!

[2016-12-20 18:10] #4708 closed

[2016-12-20 18:23] bjoernr-de commented on #4698
Taking care of this issue ;-)

[2016-12-20 18:23] yangchen1 commented on #4587
Hey @cpanato, how's this coming along? Do you have any questions or issues I can help you with? :)

[2016-12-20 20:28] fraziern commented on #4856
I can take a look.

[2016-12-20 20:50] it33 opened #4857 "[Help Wanted] Add a default value for the FileSettings.InitialFont setting in config.json"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/dev

[2016-12-20 22:03] jfchevrette opened #4859 "goamz dependency has been moved to github"
#### Summary
Unable to fetch dependencies for mattermost/platform because goamz has been moved.

#### Steps to reproduce
[code]

#### Expected behavior
go get exit code should be 0

#### Observed behavior
[code]

#### Possible fixes
The goamz library has been moved from launchpad.net/goamz to github.com/goamz/goamz

[2016-12-20 23:07] bjoernr-de commented on #4699
Also taking care of this issue 😉

[2016-12-20 23:59] bjoernr-de commented on #4697
oops, taking care btw 🙈

[2016-12-21 02:13] jfchevrette commented on #4859
Just realized dependencies are vendored. Silly me.

[2016-12-21 02:13] #4859 closed

[2016-12-21 02:25] S4KH commented on #4766
When I press delete from the dropdown it shows me a popup with a confirmation message. Popup is bound to `hidePostDeletedModal` on its `onHide` prop. It seems it not coming into the function. Any idea?

    hidePostDeletedModal() {
        this.setState({
            showPostDeletedModal: false
        });
        this.focusTextbox(); // Focus the "write message..." input box
    }

[2016-12-21 10:55] andrefaria commented on #4587
We are eager to see this feature =)

[2016-12-21 13:21] cpanato commented on #4587
@yangchen1 I'm working on that, but didnt have time this week :( I'm fighting with the react part which for me is hard :/

[2016-12-21 14:31] lfbrock commented on #4846
Hi @Morthy, thanks for the report!

I think [we've fixed this on master](https://mattermost.atlassian.net/browse/PLT-4835) now, so the fix should be in v3.6.

[2016-12-21 14:40] lfbrock commented on #4847
Hi @Morthy - I think this may need two letter search for MySQL set up to work. Can you try s[etting the minimum search length to 2](https://docs.mattermost.com/install/requirements.html#database-software) on your MySQL database and see if that helps?

[2016-12-21 14:48] lfbrock commented on #4833
Hi @anismilali - can you give more details about your issue?

If it's a problem getting Mattermost to run, can you post on the [troubleshooting forums](https://forum.mattermost.org/)?

[2016-12-21 14:55] #4747 closed

[2016-12-21 14:56] lfbrock commented on #4818
Thanks @fraziern for the fix!

[2016-12-21 14:56] #4818 closed

[2016-12-21 15:20] bjoernr-de commented on #4696
Also taking care of this one

[2016-12-21 15:20] bjoernr-de commented on #4695
and finally also taking care of this one 😉

[2016-12-21 15:55] it33 opened #4866 "[Help Wanted] Joining a channel via permalink incorrectly triggers unread"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-21 16:14] rriitanosri commented on #4798
Hi,

Sorry for not getting back to you sooner. I updated the app to the new version and it fixed the issue with uploading screenshots.

I noticed a small thing when I clicked the three-dotted Mattermost menu to check what server I had. The about page information wasn’t updated to the new information. The about page says the application’s version is 3.4.0, but when I inspect the app installed on my

[2016-12-21 16:59] lfbrock opened #4868 "[Help Wanted] Update image thumbnails"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-21 21:09] tejasbubane commented on #4685
I guess this can be closed by #4762

[2016-12-21 21:10] khawerrind commented on #4816
I am working on it

[2016-12-21 21:28] debanshuk commented on #4257
@lfbrock, In part 2 the issue first says "Set a maximum length of 300 characters" and "If the description exceeds the maximum length, truncate it using "..."". But in the the "Please make sure that:" section (in part 2 itself), it says, "When the window width changes or the RHS opens, the link preview text should adjust width as well to stay within the preview. If the adjusted text exceeds the max

[2016-12-21 21:30] yangchen1 commented on #4856
Thanks @fraziern :)

[2016-12-21 21:37] khawerrind commented on #4816
Here is the PR https://github.com/mattermost/platform/pull/4869

[2016-12-21 22:29] #4663 closed

[2016-12-21 23:06] #4775 closed

[2016-12-21 23:08] lfbrock commented on #4698
Thanks @bjoernr-de for fixing this!

[2016-12-21 23:08] #4698 closed

[2016-12-21 23:08] #4699 closed

[2016-12-21 23:08] lfbrock commented on #4583
Thanks @cpanato for fixing this!

[2016-12-21 23:08] #4583 closed

[2016-12-21 23:09] lfbrock commented on #4558
Thanks @fraziern for fixing this!

[2016-12-21 23:09] #4558 closed

[2016-12-21 23:09] #4503 closed

[2016-12-21 23:15] khawerrind commented on #4868
@lfbrock i am interested in this task. Can you please tell me more about it.

1. Only the image thumbnails needs to changed or other type of attachments as well?
2. Clicking on image name should download the image or open the modal box for preview?
3. Clicking on thumb should download the image or open the modal box for preview?

[2016-12-22 07:40] it33 opened #4873 "Change "X new messages below" to "X new messages, including below""
Propose "Help Wanted"

#### Summary
Change "X new messages below" to "X new messages, including below"

#### Steps to reproduce
1. Go into a channel that has messages posted since you were last in the channel

![image](https://cloud.githubusercontent.com/assets/177788/21418501/867b352e-c7d6-11e6-9cef-2bde73fd5fae.png)

#### Expected behavior
- Propose using the text ""X new messages, including bel

[2016-12-22 10:52] Morthy commented on #4847
Thanks @lfbrock, that did indeed fix the issue :)

[2016-12-22 10:52] #4847 closed

[2016-12-22 15:00] cpanato commented on #4587
releasing this ticket :( I dont have enough knowledge on React to move forward.
anyone can take this ticket

[2016-12-22 15:04] cpanato commented on #4398
this I think is fixed, I tested in the PR I submitted.

can you guys confirm? thanks!

[2016-12-22 15:10] lfbrock commented on #4868
Hi @khawerrind, thanks for the interest!

To answer your questions:

1. Other attachments should be changed as well
2. Clicking on the image name should download the file
3. Clicking on the thumbnail should open the preview

[2016-12-22 15:14] cpanato commented on #4364
I tested this using the current master and I was able to access the system console without any team

![screen shot 2016-12-22 at 16 13 19](https://cloud.githubusercontent.com/assets/4115580/21430042/bd9d1460-c861-11e6-8ca0-86708d5eaf1b.png)

[2016-12-22 15:38] lfbrock commented on #4364
Thanks @cpanato, I'll send this back to triage to see if it reproduces for anyone else or if we can close the issue.

[2016-12-22 15:39] lfbrock commented on #4398
Thanks @cpanato - I resolved the related Jira ticket so someone will go test + confirm the fix, will close this issue as well. Thanks!

[2016-12-22 15:39] #4398 closed

[2016-12-22 15:40] #4846 closed

[2016-12-22 15:42] lfbrock commented on #4834
Hi @benreic - thanks for the report! I think this issue may be fixed by https://github.com/mattermost/platform/pull/4851, will wait to confirm before closing this issue.

[2016-12-22 15:49] #4249 closed

[2016-12-22 15:56] cpanato commented on #4636
trying this one

[2016-12-22 17:22] lfbrock commented on #4873
Closing this, will be addressed by https://github.com/mattermost/platform/pull/4763

[2016-12-22 17:22] #4873 closed

[2016-12-22 18:04] hjc1710 commented on #4702
Just joined the channel! I'll try my hand at this over the weekend and keep all questions to there.

[2016-12-22 19:59] #4857 closed

[2016-12-23 08:30] cpanato commented on #4516
this ticket can be closed @jasonblais  :)

[2016-12-23 08:30] cpanato commented on #4515
this ticket can be closed :) @jasonblais

[2016-12-23 08:31] cpanato commented on #4514
anyone is working on that?

[2016-12-23 08:33] S4KH commented on #4514
@cpanato I think you can go ahead and work on it. :smile:

[2016-12-23 08:41] cpanato commented on #4514
ok thanks! will take that

[2016-12-23 09:31] khawerrind opened #4882 "Search options does not hide if the search input looses focus"
**Steps to reproduce:**
Focus the search input then click outside search input

**Observed:**
Search options does not hide

**Expected:**
Search options popover should hide if the search input looses focus

![video](https://cloud.githubusercontent.com/assets/1758838/21450883/70f38570-c91c-11e6-827f-3c2b913c5f4e.gif)

[2016-12-23 09:45] khawerrind commented on #4868
@lfbrock Some other questions

1. I can see that the sizes of the images are different in the attached screenshot that you have provided. Is there is any maximum width & height to fit the image within the block?
2. In the current UI we show the file size as well. Is it not needed now to show the file size?
3. What if the name is very long. Any maximum width & height for the name block after which

[2016-12-23 12:18] cpanato commented on #4514
@hmhealey the endpoint will be this /api/v3/users/email/{email} the email part there is not pattern to match?

thanks

[2016-12-23 17:15] yangchen1 commented on #4587
Hey @cpanato, no worries! Don't sweat it, I'm sure there's another contributor out there who can take this. We really appreciate your efforts to contribute, so I highly encourage you to take a look at our other Help Wanted issues and get your PR's in for our [hackfest](https://about.mattermost.com/mattermost-holiday-hackfest-2016/)!

[2016-12-23 18:52] Aka4Code opened #4886 "Order DM and Members list by online indicator"
1) Member list (popup box) in the header
2) Direct Messages list

If you can change order by in this lists to order first by online status, then second by name, then it could be more useful.

[2016-12-24 20:00] debanshuk commented on #4257
@lfbrock, I have used 300 char limit to truncate description and aren't doing any further truncation if the width of window reduces. Instead the height of preview is dynamic and increase the compensate the reduction is width. Let me know if you want the behaviour to be some different.

[2016-12-24 22:55] CometKim opened #4891 "UserAgent.IsMobileApp() applies only to iOS app."
#### Summary
UserAgent.IsMobileApp() applies only to iOS app. not Android app.

https://github.com/mattermost/platform/blob/master/webapp/utils/user_agent.jsx#L84-L86

#### Expected behavior
It should applies also to Android app.

#### Observed behavior
It applies only IOS app.
So, android app shows download native app link on RHS.

[2016-12-26 05:42] debanshuk commented on #4755
I am interested in this ticket and am working on it. Also added a comment on JIRA ticket.

[2016-12-26 13:51] felko opened #4902 "Code preview block hides "retry" button when the message fails to send"
#### Summary

Retry button is displayed under the code block when the message fails to be sent.

#### Steps to reproduce

- Send a message with a code (between triple backticks)
- Disconnect your computer from the internet before the message can be sent
- Wait a few seconds until the retry button appears

#### Expected behavior

The button to resend the message should be over the code block.

####

[2016-12-26 15:43] S6066 commented on #4691
Tested, and I don't have the bug in tablet mode or desktop mode.

[2016-12-26 15:43] #4691 closed

[2016-12-27 19:13] esethna commented on #4886
Thanks for the suggestion @aka4code, would please submit this to the [feature idea forum](https://www.mattermost.org/feature-ideas/) so it can be up voted and discussed with the community?

[2016-12-27 19:13] #4886 closed

[2016-12-27 19:39] esethna commented on #4882
Thanks for the report @khawerrind, we have filed a [bug ticket](https://mattermost.atlassian.net/browse/PLT-4984). Closing this to follow on JIRA.

[2016-12-27 19:39] #4882 closed

[2016-12-27 19:43] esethna commented on #4891
Thanks @CometKim, [bug report filed](https://mattermost.atlassian.net/browse/PLT-5094). Closing to track in JIRA.

[2016-12-27 19:43] #4891 closed

[2016-12-27 19:47] esethna commented on #4902
Thanks @felko! [Bug report filed](https://mattermost.atlassian.net/browse/PLT-5095), closing to trackin JIRA.

[2016-12-27 19:47] #4902 closed

[2016-12-28 01:57] it33 opened #4904 "[Help Wanted] Emoji auto-complete broken on master"
#### Summary
Emoji auto-complete broken on master

#### Steps to reproduce
Type `:`

#### Expected behavior
Auto-complete for emoji appears

#### Observed behavior
Auto-complete for emoji DOES NOT appear

#### Possible fixes
If I type `:sm` auto-complete does appear, so perhaps an auto-complete PR was merged with poor testing.

![image](https://cloud.githubusercontent.com/assets/177788/21512093/c8

[2016-12-28 02:04] jwilander commented on #4904
This is not a bug, it was an intentional decision. https://mattermost.atlassian.net/browse/PLT-4950

[2016-12-28 02:04] #4904 closed

[2016-12-28 02:11] jwilander commented on #4697
Thanks @bjoernr-de !!

[2016-12-28 02:11] #4697 closed

[2016-12-28 02:17] jwilander commented on #4696
Hi @bjoernr-de, did you have a chance to get to this ticket yet?

[2016-12-28 02:18] jwilander commented on #4695
Thanks @bjoernr-de !!

[2016-12-28 02:18] #4695 closed

[2016-12-28 02:21] jwilander opened #4905 "[Help Wanted] Move instances of Client.updateChannelHeader() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-28 02:22] jwilander opened #4906 "[Help Wanted] Move instances of Client.updateChannelPurpose() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-28 02:23] jwilander commented on #4630
Closing, API is being deprecated.

[2016-12-28 02:23] #4630 closed

[2016-12-28 02:27] jwilander opened #4907 "[Help Wanted] Move instances of Client.updatePost() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-28 02:29] jwilander opened #4908 "[Help Wanted] Move instances of Client.updatePassword() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2016-12-28 12:55] cpanato commented on #4395
@jwilander can you check if this is already fixed?

I saw this test:

[code]
on part says: `Don't fail on direct channels already existing and return the original channel again`

[2016-12-28 13:59] jwilander commented on #4395
Yes, this is fixed. Thanks for pointing that out @cpanato !

[2016-12-28 13:59] #4395 closed

[2016-12-28 14:03] jwilander commented on #4856
Thanks for your help on this @fraziern !!

[2016-12-28 14:03] #4856 closed

[2016-12-28 14:25] cpanato commented on #4634
@jwilander we dont need set the channel id? as well in the driver?

[2016-12-29 02:17] hjc1710 commented on #4702
Pleased to say that initial setup for this went fine and I'm quite positive I've got this entirely solved!

I just need to cross a few t's and dot some i's (looking at you CLA and co.), so this PR should be opened sometime tomorrow.

[2016-12-29 08:46] NotSqrt opened #4911 "Convert DB from MySQL to PostgreSQL"
#### Summary
This is more of a summary of what I did, to help others if need be.
I switched from a source installation of mattermost, with Mysql DB, to the packaged version in omnibus-gitlab with the included PostgreSQL DB.

#### Steps

##### Activate mattermost in gitlab-omnibus and launch reconfigure

##### Prepare the SQL dump
Dump the MySQL DB:
`mysqldump --compatible=postgresql --default-char

[2016-12-29 12:20] cpanato commented on #4491
@jasonblais PR submitted

[2016-12-29 16:00] timwood commented on #1124
In looking at https://mattermost.atlassian.net/browse/PLT-340 I don't see any references on what version this was resolved in or how this was resolved or documentation on how to configure a single or default team.

The only related [MM documentation](https://docs.mattermost.com/administration/config-settings.html) I can find is [Enable Team Directory](https://docs.mattermost.com/administration/con

[2016-12-29 22:47] hjc1710 commented on #4702
PR opened as #4916!

Had a good time doing this =).

[2016-12-30 15:45] asaadmahmood commented on #4868
@khawerrind Sorry for the late reply.
1. The minimum width should just depend on the image, it can even be 1px by 1px. But still the area should be clickable. The max width should be 100px, and the max height should be 60px.
2. Yes, the file size will not be shown now.
3. The name container should observe a max width of 100px as the image, it can only exceed to 2 lines, and no longer than that. So

[2016-12-30 16:43] #4702 closed

[2016-12-30 20:07] fmp777 opened #4920 "Mac app (et al?) doesn't retain display name/username settings"
For feature requests, please see: http://www.mattermost.org/feature-requests/.
For troubleshooting questions, please post on the forums: http://forum.mattermost.org/.

For issues with the product, please follow the steps at http://www.mattermost.org/filing-issues/ and post here in the following format:

#### Summary
Changed settings to display first/last name instead of username in my mac app; it

[2016-12-30 20:45] fmp777 commented on #4920
Actually I think this is a symptom of another problem with the signup / registration process.  It doesn't ask for the profile info, so its not getting first/lastname, so the system is falling back to their username.  Please close

[2016-12-30 20:45] #4920 closed

[2016-12-30 20:49] jasonblais commented on #4798
Thanks @rriitanosri for the reply,

The desktop app release cycle is different from the Mattermost server and actually use different numbering.

So in your case, you'd have two different numbers:

1 - Mattermost Server, which you can find from the three-dotted Mattermost menu > About Mattermost

![image](https://cloud.githubusercontent.com/assets/13119842/21572458/00d700ce-cea7-11e6-9e70-0f7a43d83

[2016-12-30 20:50] jasonblais commented on #4798
Hence, in your case you saw 3.4 as the Mattermost server was still probably on 3.4.

Note that [Mattermost 3.5.1 contains multiple security updates](https://docs.mattermost.com/administration/changelog.html#security-update), so upgrading to the latest Mattermost server version is recommended.

[You can find our upgrade guide here](https://docs.mattermost.com/administration/upgrade.html#upgrade-tea

[2016-12-30 20:50] #4798 closed

[2016-12-31 00:12] leyanlo opened #4921 "Email should use curly quote instead of straight quote"
Apostrophes should be curly quotes (’) not straight quote (')
<img width="708" alt="screen_shot_2016-12-30_at_7_10_29_pm" src="https://cloud.githubusercontent.com/assets/1285326/21574600/ccfb1084-cec3-11e6-9b83-5e4769ecbf17.png">

[2016-12-31 05:02] esethna commented on #4491
Hi @cpanato, thanks for another PR!

Just letting you know again, there may be a delay in reviewing and merging this PR as we are locking down feature and improvement contributions for the v3.6 release, per our [release process](https://docs.mattermost.com/process/release-process.html). This PR can be merged into `master` after we branch `release-3.6` on January 4th.

[2016-12-31 18:47] jasonblais commented on #4723
Thank you @XANi for starting a discussion on this topic.

We welcome you to continue it in our [Mattermost developers community channel](https://pre-release.mattermost.com/core/channels/developers) and leave feedback on the [in-progress specification for API version 4](https://docs.google.com/document/d/197JwEBMnK8okFilTfGSpbsrXPY5RZOJ4gG2DXwcbwYE/edit#) linked above. We hope to work with the comm

[2016-12-31 18:47] #4723 closed

[2016-12-31 18:49] jasonblais commented on #4730
Thanks! Closing as resolved

[2016-12-31 18:49] #4730 closed

[2016-12-31 18:55] jasonblais commented on #4921
I think your email provider (Hotmail, Gmail, Yahoo, ...) controls which apostrophe style is used. Can you compare against other emails you've received to see if they use a curly or straight quote?

[2016-12-31 18:59] jasonblais commented on #4770
@vrenjith

A pull request was submitted that should resolve the issue and pushed to our [public Mattermost instance](https://pre-release.mattermost.com/core) last week.

Would you like to sign up to the instance and see if the issue is resolved for you? Would like to confirm it's fixed with the correct expected behaviour.

[2016-12-31 19:53] leyanlo commented on #4921
The email provider doesn't change which character is used. I can confirm that if you send the correct curly quote character it renders properly in the browser or mail client.

E.g.
<img width="729" alt="screen shot 2016-12-31 at 2 52 45 pm" src="https://cloud.githubusercontent.com/assets/1285326/21579056/d4619d98-cf68-11e6-9bbc-ff4f1da3bb47.png">

[2016-12-31 19:53] jasonblais commented on #4833
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If it's a problem getting Mattermost to run, please post on the [Mattermost troubleshooting forum](https://forum.mattermost.org/)?

[2016-12-31 19:53] #4833 closed

[2016-12-31 20:55] vrenjith commented on #4770
https://pre-release.mattermost.com/core/pl/uppqjmj7zbyk8mwyngb8pkqaha

[2017-01-01 16:15] diagramatics commented on #4593
I was dabbling with it for a while until I realised that Bootstrap 3 has an enforced rule to trigger focus on the modal itself. Take a look in https://github.com/twbs/bootstrap/blob/master/js/modal.js#L100-L105.

I don't think there is a way to turn this off properly. You could probably intercept the event and stop the propagation, but that method is pretty hacky. If that's out of the way, this co

[2017-01-01 22:50] bjoernr-de commented on #4696
Oops, sure will take a look tomorrow!

[2017-01-02 05:36] jasonblais commented on #4515
Thanks @cpanato, great work! :)

[2017-01-02 05:36] #4515 closed

[2017-01-02 05:36] #4516 closed

[2017-01-02 05:37] jasonblais commented on #4049
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with reproduction steps to help us identify the bug.

[2017-01-02 05:37] #4049 closed

[2017-01-02 05:38] jasonblais commented on #4250
Closed via #4299

[2017-01-02 05:38] #4250 closed

[2017-01-02 05:43] jasonblais commented on #4713
Thanks @debanshuk! Closing via #4757

[2017-01-02 05:43] #4713 closed

[2017-01-02 05:43] #4685 closed

[2017-01-02 05:44] jasonblais commented on #4658
Thanks again @brendanbowidas! Closed via #4705

[2017-01-02 05:44] #4658 closed

[2017-01-02 05:45] jasonblais commented on #4601
Thanks @kaakaa! Hugely appreciated by the localization community

Closed via #4829

[2017-01-02 05:45] #4601 closed

[2017-01-02 05:47] jasonblais commented on #4794
Awesome, thanks @khawerrind!

[2017-01-02 05:47] #4794 closed

[2017-01-02 05:48] #4759 closed

[2017-01-02 05:49] jasonblais commented on #4754
You're awesome @khawerrind!

[2017-01-02 05:49] #4754 closed

[2017-01-02 12:16] vrenjith opened #4924 "Draft Messages Appear in Wrong Channel - v3.5.1"
#### Summary
Draft Messages Appear in Wrong Channel

#### Steps to reproduce
* Type a new message in some channel, leave it as draft and switch to any other window or application
* Wait for a notification message to popup (the browser notification for new messages)
* Click on the notification
* Now the channel for which the notification came will be shown as expected, but now the draft message is

[2017-01-02 14:17] bjoernr-de commented on #4696
@jwilander there is no usage of `Client.getChannel()` anymore in components. Previous usage in `new_channel_flow.jsx` has already been addressed in https://github.com/mattermost/platform/commit/8a92908dad4f74ac3373d65a361594acb95cf1a0 so I think this ticket can be closed?

[2017-01-02 14:17] jwilander commented on #4696
Looks like you're right, thanks @bjoernr-de !

[2017-01-02 14:17] #4696 closed

[2017-01-02 15:46] jasonblais commented on #4770
Thanks @vrenjith 👍

[2017-01-02 15:46] #4770 closed

[2017-01-03 12:58] joernhees opened #4932 "[Help Wanted] Desktop notifications for slash commands show escape characters"
#### Summary
Desktop notifications by browser or desktop app don't seem to properly unescape `\\` and `\_`. Also, if the notification is triggered by a slash-command they pretend to originate from "webhook".

#### Steps to reproduce
Have someone notify you with `/shrug @yourname`, see the desktop notification.

#### Expected behavior
I'd expect something like `OtherUser wrote: ¯\_(ツ)_/¯`

#### Obs

[2017-01-03 16:57] frostyandy2k commented on #1899
Had the same problem and the discussion above about the callback URIs led me to
Admin Area -> Applications -> Mattermost -> Callback URL

Turned out that I had a wrong URL listed "mattermost.example.com" and in gitlab.rb I had "mm.example.com". Changed it to the value in gitlab.rb and it worked like a charm.

[2017-01-03 20:26] jasonblais commented on #4932
Thanks for the report! Ticket created: https://mattermost.atlassian.net/browse/PLT-5126

Would anyone in the community be interested helping with a fix?

[2017-01-03 23:05] jasonblais commented on #4924
Thanks @vrenjith for the report,

1) Which browser and OS does this reproduce in?
2) Does it occur consistently with different messages/users?
3) Does it only occur after clicking a notification, or also in other situations?

[2017-01-04 14:50] mrash14 opened #4955 "Bad view when replay markdown message"
![screenshot from 2017-01-04 18-10-05](https://cloud.githubusercontent.com/assets/6044543/21646103/0e57e89c-d2aa-11e6-8967-42253af69697.png)

#### Summary
I can see '```' sign when I replay markdown message

#### Steps to reproduce
I write code in message and use ``` to markdown it. then I replay it. As you can see in preview of message markdown sign is visible.

[2017-01-04 15:43] it33 opened #4957 "[Help Wanted] Support all timecode formats for YouTube preview"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-04 16:30] hmhealey commented on #4766
@S4KH Have you tried adding a `console.log` statement there to confirm that it's not calling `hidePostDeletedModal`? The modals have some code to prevent keyboard focus from leaving them so it could be preventing `this.focusTextbox` from being ran

[2017-01-04 16:53] vrenjith commented on #4924
* Chrome on Mac
* Consistent
* Found also another way to get this:
 * Type a message in any channel
 * Search for some string in the search window
 * In the side panel of search results, click on `Jump` so that the channel switches to the new one
 * The draft still remains in the edit box

I see this error in the Chrome dev console every time this happens, not sure if this is related
[code]

[2017-01-04 19:58] #4364 closed

[2017-01-04 20:01] debanshuk opened #4967 "[Help Wanted] Editing post, after jumping to it from search sidebar, throws exception."
#### Summary
If a post is edited after jumping to it from search sidebar, changes done to the post aren't reflected immediately in the post.

Found this bug during testing of PR 4923. Refer comment: https://github.com/mattermost/platform/pull/4923#issuecomment-269958189

#### Steps to reproduce
1. Search a post using the search box top right corner.
2. In the search result click on 'Jump' link, so

[2017-01-04 22:11] jasonblais opened #4973 "[Help Wanted] Add a spinner to login page after you've clicked the "Sign In" button"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-04 22:21] jasonblais commented on #4866
Closing as cannot reproduce

[2017-01-04 22:21] #4866 closed

[2017-01-04 22:50] jasonblais commented on #4955
Thanks! Agree the current implementation isn't ideal.

We have an existing ticket to [hide markdown in the "Commented on ...." text](https://mattermost.atlassian.net/browse/PLT-2459).

Would you or someone you know be interested submitting a fix for it?

Note that there are some corner cases to consider, such as how headings are considered, or emojis and images. Some suggestions are given [in the

[2017-01-04 22:50] jasonblais commented on #4808
We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2017-01-04 22:50] #4808 closed

[2017-01-05 06:21] S4KH commented on #4766
@hmhealey I was wrong about that `hidePostDeleteModal()` :slightly_frowning_face: . It is related to totally different modal. The component is `DeletePostModal` but this modal is getting called using `GlobalActions.showDeletePostModal(post, dataComments)` not by `<DeletePostModal/>`. How can we access to the textbox from component. Do we have to pass the textbox too when using the globalActions?

[2017-01-05 13:15] jasonblais commented on #4921
I see, thanks @leyanlo.

We use straight quotes elsewhere in the software -- would your suggestion be to change this in all places?

[2017-01-05 13:21] jasonblais commented on #4967
Awesome, thanks! Changed this to a Help Wanted issue and created a Jira ticket for it https://mattermost.atlassian.net/browse/PLT-5141

[2017-01-05 13:50] jasonblais commented on #4665
Thanks @jfml for the feedback - we're not supporting switching emoji styles at the moment, would you be interested submitting a feature request for it in [our Feature Ideas forum](https://mattermost.uservoice.com/forums/306457-general)?

[2017-01-05 14:55] lfbrock opened #4983 "Mattermost v3.6.0 - RC1"
This is a meta issue for v3.6.0 release updates. Release candidates will be posted here for testing. The final release will be available January 16th.

See the [changelog](https://github.com/mattermost/docs/blob/v3.6-changelog/source/administration/changelog.md) for details about the release.

---

### RC1

The latest Mattermost release candidate is available here:
`http://releases.mattermost.com/

[2017-01-05 16:10] jfml commented on #4665
@jasonblais Sure,w thanks for the tip and keep up the good work!

[2017-01-05 16:35] jasonblais commented on #4665
Hey @bjoernr-de, looks like you've got the emoji picker started - awesome!

Are there any questions that you have? Anything we can help with?

[2017-01-05 17:43] bjoernr-de commented on #4665
@jasonblais Well, there's already a lot of work done in `unfinished-emoji-picker` branch by @hmhealey
I just picked things up and took a look and thought it might be useful to commit my changes. Anyway, this still needs a little more love 😛

I might work on this further but as some private things are changing at this time I can't say that I take fully care of this issue.
I probably should add a PR

[2017-01-05 22:10] jasonblais opened #4992 "[Help Wanted] Mark channels unread using ALT-click (resets "New Messages" indicator)"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-06 00:17] SERVICEFREAKS opened #4993 "Team Member & Team Admin Unable To Direct Message"
#### Summary
Direct Messages Not Working for Team Members Nor Team Admin's.

#### Steps to reproduce
MatterMost 3.5.1 Fresh Install On Ubuntu 16

Create any user that is a Team Member or Team Admin. They are unable to then direct message anyone without first receiving a direct message themselves. They must NOT be a System Admin

System Admin's are able to Direct Message anyone

#### Expected behav

[2017-01-06 01:17] jasonblais commented on #4834
Hi @benreic, when you say "close the app/website" do you mean 1) closing the browser tab or 2) logging out of the site?

If it's 1), what URL do you use to re-open the app?

[2017-01-06 01:47] benreic commented on #4834
@jasonblais I'm using the desktop app, so in this case I mean quitting the app with CMD+Q. If using the website, I would guess that is analogous to closing the browser tab.

Because I'm using the desktop app I don't use a url to open the app again, I just open the app and select the Mattermost team from the dropdown (I'm only on one team).

[2017-01-06 05:07] it33 opened #4994 "[Help Wanted] `~~` should only show channel autocomplete if a channel name starts with `~`"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-06 09:18] leyanlo commented on #4921
Yes, all user-facing strings should use curly quotes for apostrophes (‘’) or quotes (“”). Other common typographical mistakes are n-dashes (–) and ellipsis (…) characters. You'll notice that all word-processor apps will auto-correct these characters when typing, but programmers must be vigilant to do these manually for user-facing strings.

Be careful about doing a find-and-replace-all though ;-)

[2017-01-06 10:20] leyanlo opened #4995 "Channel search results lag behind search query"
When searching channels, the search results take a while to populate after typing in the field, which can lead to cases where results are out of sync with the input.

For example, just type a bunch of letters and then quickly delete them. You will see the search result "No more channels to join", when in fact the search field is empty. See GIF:
![no more channels](https://cloud.githubusercontent.c

[2017-01-06 10:52] bfontaine commented on #4994
What if you want to striketrough a channel name? Right now `~~~foo~~` renders as ~\~foo~ but `~~ ~foo ~~` renders as ~\~ ~foo ~\~ (i.e. there’s no striketrough).

(I’m not sure it’s a common need though)

[2017-01-06 13:30] jasonblais opened #4997 "[Help Wanted] Add a loading screen while switching teams via the teams sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-06 13:33] jasonblais commented on #4995
Thanks for the report! Reproduced on `master` and created a ticket to track: https://mattermost.atlassian.net/browse/PLT-5160

Anyone in the community interested helping investigate a fix?

[2017-01-06 14:21] joernhees opened #4998 "slash command replies should indicate private visibility"
#### Summary
Currently, with (custom) slash commands it's not obvious to me who can see the results...

#### Steps to reproduce
- type `/shortcuts`
- type `/shrug`

Custom slash command example: With gitlab slash command integration
- type `/gitlab help`
- type `/gitlab issue show 1`

#### Expected behavior
A clear indication who can see the reply message...

#### Observed behavior
Currently, i st

[2017-01-06 14:37] ZJvandeWeg commented on #4634
This can be closed I think.

[2017-01-06 16:04] jasonblais commented on #4766
Thanks @S4KH! Would you be interested joining our [public Developers community channel](https://pre-release.mattermost.com/core/channels/developers)? You'll get faster responses there as both contributors and the Mattermost core team follow the channel regularly.

[2017-01-06 17:08] #4634 closed

[2017-01-06 17:10] jwilander commented on #4636
Thanks for your work on this @cpanato!!

[2017-01-06 17:10] #4636 closed

[2017-01-06 18:37] AymaneKhouaji commented on #4908
Hi Guys, I'm on it .
The user action have some test ?

[2017-01-06 18:38] jwilander commented on #4908
Glad to have your help! No action tests to worry about right now

[2017-01-06 19:07] jasonblais commented on #4754
Hey @khawerrind, we found a corner case with this feature:

[code]

Would you be interested submitting a fix for it? https://mattermost.atlassian.net/browse/PLT-5174

[2017-01-06 20:11] lfbrock commented on #4983
### RC2 has been cut

The latest Mattermost release candidate is available here:
`http://releases.mattermost.com/3.6.0-rc2/mattermost-team-3.6.0-rc2-linux-amd64.tar.gz`

You may also test the release candidate on our [testing server](https://rctesting.reddogsofwar.com/login). Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied pri

[2017-01-06 21:38] it33 opened #5006 "[Help Wanted]: In mobile web view, the send icon should show as disabled until there is a valid message in the input box"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-06 23:13] jasonblais commented on #4998
Thanks @joernhees, that's a good point  -- [queued for our UX team to discuss](https://pre-release.mattermost.com/core/pl/ymo66dzjcpd9dpi5wpb6csgiqe).

You're welcome to join and participate in the discussion.

[2017-01-07 00:07] jasonblais commented on #4590
Fixed by #5004

[2017-01-07 00:07] #4590 closed

[2017-01-07 16:55] jasonblais commented on #4834
Got it, thanks @benreic!

In Mattermost 3.6 if you close the app and then re-open it, it will load the team/channel you previously had open. If you sign out before closing the app, then it'll go to Town Square as we don't save that property upon logout.

Closing as completed,

[2017-01-07 16:55] #4834 closed

[2017-01-07 18:17] Lehmax opened #5009 "People get logged out on their PCs and can't login, login using Android app is still possible"
#### Summary
Two people of my team got logged out on their PCs without a warning. When they try to login again, they get the following message: "We couldn't find an existing account matching your credentials."

#### Steps to reproduce
I have no idea, I have not figured out a pattern yet. They are trying to log in through their browsers, not the app. Our server is running team mode Enterprise Editi

[2017-01-08 01:34] jasonblais commented on #4665
Thanks @bjoernr-de! What kinds of changes did you add? Just so we know?

[2017-01-08 09:46] bjoernr-de commented on #4665
More or less only style changes:
* Added Smilie icon next to the attachment icon in message box
* Added relevant classes to utils `applyTheme()` function
* Small cosmetics so it looks more like the screenshots above
* Added Emoji click handle: Emoji Alias (:foo:) is now being added to the message box

Once I got a little more time I will work further on this. But as said I can't tell when, so anyo

[2017-01-08 11:26] andrewwutw opened #5010 "Create channel name should accept non-English characters for URL."
Mattermost version : 3.5.1

When I use "Create new channel" function, English characters in name field can be auto converted into URL name, but non-English characters (e.g. : "é") can't not be converted into URL and will be skipped.

If I input "Résumé" in the channel name, the URL will be "/rsum", and "é" is skipped.

![new-channel](https://cloud.githubusercontent.com/assets/4443713/21749341/0a70

[2017-01-08 12:06] DrLynix commented on #5010
I think this is a bad idea as channel id should remain readable.

A better solution, I think, would be to strip accents automatically, thus giving "resume" in this case.

[2017-01-08 12:11] S6066 opened #5011 "Members view bug on mobile"
http://i.imgur.com/WLvFtpM.jpg
MM 3.6.0-rc2, Team Edition on Android 5.1 (Lollipop)
I have this bug when checking members and scrolling down.
Also, why is there 2 scrollbars ?

[2017-01-08 12:12] DrLynix opened #5012 "[MM 3.6 RC2] Emoji size"
#### Summary
I recently switched my team Mattermost to the 3.6 RC2 version (great job by the way) and the only drawback we noticed is the emoji size in messages, which decreased from 3.5.
(I'm on Mattermost Desktop 3.5 by the way, but it is the same on a web browser).

#### Steps to reproduce
Simply post a message containing emoji.

#### Expected behavior
Emoji size is big enough to be pleasant.

[2017-01-08 12:14] S6066 opened #5013 ""New messages below" indicator"
http://i.imgur.com/S3pG7E2.jpg
MM 3.6.0-rc2 Team Edition
As you can see, I'm at the bottom, but I still have the "New messages below" thing.

[2017-01-08 14:35] DrLynix opened #5014 "[MM 3.6 RC2] Emoji autocomplete failure"
#### Summary
When typing an emoji with +: or :, some emoji are not in the list.

#### Steps to reproduce
Try to type some emoji as `:squirrel:` or `:tshirt:`

#### Expected behavior
Emoji autocompletion proposes to complete those emoji.

#### Observed behavior
It doesn't, for only some emoji though.

[2017-01-08 14:41] DrLynix opened #5015 "[MM 3.6 RC2] Emoji autocompletion starting after two characters."
Caused by https://github.com/mattermost/platform/pull/4895, I don't think it's a desirable behavior (it has been quite boring since we upgraded), I think `:P` should be part of the auto-completion list, with it starting to show after one character.

[2017-01-08 15:40] andrewwutw commented on #5010
But many languages, like Chinese/Japanese/Korean/Russian, can't be supported by only stripping accents.

I believe most modern web browser can auto recognize percent-encoded UTF-8 URLs and display them correctly in address bar and status line. So they are at least still readable in browsers.

Address bar :

![addr-bar](https://cloud.githubusercontent.com/assets/4443713/21751059/99798d14-d5fb-11e6-

[2017-01-08 15:53] bgamari opened #5016 "Email should include plain text MIME part"
#### Summary
Email notifications only appear to include a `text/html` part, which are unreadable in some mail clients.

#### Steps to reproduce
1. Enable email notifications for your account
2. Receive a Mattermost message
3. Check email in non-HTML supporting mail client (I'm using `notmuch` in `emacs` here)

#### Expected behavior
The mail message contains a readable, plain text message.

#### O

[2017-01-08 19:48] khawerrind commented on #4754
@jasonblais here is the PR for the above mentioned issue https://github.com/mattermost/platform/pull/5017

[2017-01-09 05:22] jasonblais commented on #4754
Awesome, thanks @khawerrind!

[2017-01-09 05:37] jasonblais commented on #4924
Hey @vrenjith, let me know if you had any further information on the above?

1) Did you click something else after `Jump` on your second set of reproduction steps?
2) At which step do the Chrome console errors appear?

Appreciate your bug reports and for helping improve the quality of Mattermost!

[2017-01-09 05:37] #4955 closed

[2017-01-09 05:42] jasonblais commented on #4993
Thanks @SERVICEFREAKS for the report,

1) Are any of these users imported from Slack? There is an [existing issue where Slack imported users cannot initiate direct message conversations](https://mattermost.atlassian.net/browse/PLT-4955), and which is fixed with Mattermost 3.6, to be released on January 16th

2) Can you tell me the operating system and the browser (or desktop app version) they use?

[2017-01-09 05:47] jasonblais commented on #5009
Thanks @Lehmax for the report,

may I ask a few questions about your configuration to help us troubleshoot the issue and see if we can find any patterns?

1) In **System Console > Security > Sessions**, what are the values for
   - Session length AD/LDAP and email (days):
   - Session length mobile (days):
   - Session length SSO (days):
   - Session Cache (minutes):

2) What authentication method

[2017-01-09 05:49] jasonblais commented on #5016
We have an existing ticket [marked for accepting pull requests](https://mattermost.atlassian.net/browse/PLT-1015).

I agree Mattermost should support plain text versions for emails -- not sure if anyone in the community was interested to work with us on it?

[2017-01-09 05:51] jasonblais commented on #5010
Thanks @andrewwutw , appreciate your feedback.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implemen

[2017-01-09 05:52] vrenjith commented on #4924
@jasonblais
I didn't click anywhere else. I can also reproduce the behaviour without notification. I am sending you a video of this.

[2017-01-09 05:55] jasonblais commented on #5011
Thanks @S6066, can you help provide the exact reproduction steps to help us with the invesigation?

For instance, which channel member list does this reproduce (all of them or only certain ones)?

Also, which Android App version are you using?

[2017-01-09 05:56] jasonblais commented on #5013
Thanks @S6066!

1) Does this reproduce for you each time?
2) Does this reproduce for you only on the Android app, or also on browser/desktop app?
3) What happens when you click on the "New message below" bubble?
4) What happens if you try to scroll to the bottom of the channel? Does the bubble disappear then?

[2017-01-09 05:59] jasonblais commented on #5014
That is interesting, created a JIRA ticket for it. Thanks! https://mattermost.atlassian.net/browse/PLT-5203

[2017-01-09 06:05] vrenjith commented on #4924
@jasonblais - https://youtu.be/8_ecyD3GZ3E

[2017-01-09 06:10] jasonblais commented on #5015
Thanks @DrLynix, really appreciate the feedback:

If we included `:p` in emoji autocomplete list, then the side effect would be that the user would have to press twice in order to post a `:p` message:

1) Type `:p`
2) Hit enter to select the emoji [not really necessary]
3) Hit enter to choose the emoji

What would be your thoughts on that use case?

Also, I'm wondering  -- if the user wants to wri

[2017-01-09 06:12] jasonblais commented on #5012
Thanks @DrLynix for the feedback!!

Would you be interested joining our public [Mattermost community instance](https://pre-release.mattermost.com/core) and join our UX design channel? A note was just posted related to this and would love to have you participate in the discussion - [here would be a link to the discussion thread](https://pre-release.mattermost.com/core/pl/gx1pdouwftd4iytkubdu5botbr)

[2017-01-09 11:49] DrLynix commented on #5015
I didn't think of that, you are right, my bad.

It's better this way then (and reflects Slack usage).

[2017-01-09 11:49] #5015 closed

[2017-01-09 11:54] DrLynix commented on #5012
Thanks for the invite, I'm part of the discussion now :)

[2017-01-09 12:14] Lehmax commented on #5009
1.
- 30
- 30
- 30
- 10

2. Email/password.

3. They're using Firefox 50.1.0 and have also tried Internet Explorer 11. I told them to try Chrome, but I doubt it'll be any different.

4. I'm can't say it for sure, but it seems like it.

5. I haven't imported anything from Slack.

[2017-01-09 13:08] stev0r opened #5018 "one-line docker install fails"
Hi,

the one-line docker install according to this guide https://docs.mattermost.com/install/docker-local-machine.html fails on my machine (Fedora 25)

[code]

Port 8065 is available for a short time, then disappears
Am I doing something wrong? Tried it with SELinux enabled and disabled.

cheers

[2017-01-09 13:10] cpanato commented on #5018
what was the docker command you ran to start the image?

[2017-01-09 13:16] jasonblais commented on #4924
@vrenjith helped verify that the issue is resolved on our [public Mattermost community instance](https://pre-release.mattermost.com/core), which is locked for the 3.6 release.

Hence, closing as resolved

[2017-01-09 13:16] #4924 closed

[2017-01-09 13:23] stev0r commented on #5018
docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview

then I tried to restart it with

docker stop mattermost-preview
docker start mattermost-preview

[2017-01-09 13:34] jasonblais commented on #4724
Hey @XANi, we currently only load the images and GIFs that are currently visible for the user on the channel (i.e. the last 60).

Disabling previews by device, e.g. for mobiles, is something we could consider in the future -
would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ti

[2017-01-09 14:19] cpanato commented on #5018
looks like its a issue with the latest docker image.

I will check that

[2017-01-09 14:20] jasonblais commented on #4911
Thanks @NotSqrt for writing this up!

Would you be interested adding this in our [Mattermost Forums as well](https://forum.mattermost.org/)? That way more people will see the steps you took, as the Forums have more visitors :)

[2017-01-09 14:35] NotSqrt commented on #4911
Done : https://forum.mattermost.org/t/converting-db-from-mysql-mattermost-standalone-install-to-postgresql-omnibus-gitlab/2723

[2017-01-09 14:39] cpanato commented on #5018
issue here: https://github.com/mattermost/mattermost-docker-preview/issues/22

[2017-01-09 14:55] cpanato commented on #5018
to fix that: https://github.com/mattermost/mattermost-docker-preview/pull/23

[2017-01-09 15:12] #4911 closed

[2017-01-09 15:22] it33 opened #5020 "Support Slack buttons format in Mattermost webhooks"
Request from community on action button for "Slack compatibility". Typically we have a [feature ideas](https://www.mattermost.org/feature-ideas/) process, but there's a point of view here we're breaking compatibility (Slack added this feature not too long ago).

Is anyone from the community interested in implementing this if we created a "Help Wanted" ticket?

Since Mattermost supports markdown, y

[2017-01-09 15:28] cpanato commented on #5020
I tried this on the current test server and the button didnt appear to me.

[2017-01-09 16:54] it33 commented on #5020
Realizing what's requested is more than a clickable image, closing this ticket and requesting a feature idea be posted so it can be discussed, upvoted and prioritized: https://twitter.com/mattermosthq/status/818500648694063104

PS: We're at [99 feature ideas from community that have been implemented](https://mattermost.uservoice.com/forums/306457-general/status/1588363). Looking forward to exceedi

[2017-01-09 16:54] #5020 closed

[2017-01-09 17:01] AymaneKhouaji commented on #4957
I'm on it,
If someone know all timecode formats for youtube vidéo, i take it because we don't have some documentation about it on internet.

[2017-01-09 18:17] jasonblais commented on #5012
Hey @DrLynix, we created a ticket in JIRA to track: https://mattermost.atlassian.net/browse/PLT-5220

[2017-01-09 20:59] S6066 commented on #5011
I have to click the three dots  at the upper right corner then click view members  It happens on every channels  I use the lastest version I found on the play storeLe 9 janv. 2017 06:55, Jason Blais <notifications@github.com> a écrit :Thanks @S6066, can you help provide the exact reproduction steps to help us with the invesigation?
For instance, which channel member list does this reproduce (all o

[2017-01-09 21:10] lfbrock commented on #4983
RC3 has been cut

The latest Mattermost release candidate is available here:
http://releases.mattermost.com/3.6.0-rc3/mattermost-team-3.6.0-rc3-linux-amd64.tar.gz

You may also test the release candidate on our testing server. Please link to issues you believe may warrant a patch (please do not post issue here).

Potential patches to be applied prior to final release will be added to this thread.

[2017-01-09 23:00] jasonblais commented on #5011
Thanks! Reproduced on Safari and IE11 as well, bug report here: https://mattermost.atlassian.net/browse/PLT-5191

[2017-01-10 00:51] jeanetienne opened #5030 "Wrong Emoji Substitution"
#### Summary
When typing some emojis with a generic (nonhuman) appearance, the image displayed is using a specific human skin tone.

This can have far reaching interpretation:
- When typing a 👍, in the chat window, a 👍🏻 is actually displayed. Does that mean that the default "thumbs up" is a light skinned person?
- When typing a 👳, in the chat window, a 👳🏽 is actually displayed. Does that mean that

[2017-01-10 09:21] rantheman opened #5033 "Channel does not auto-refresh for alerts to webhook if webhook creator leaves the team"
#### Summary
If the user who created the webhook leaves the channel and team, the subsequent alerts sent to this webhook will only be visible after manual refresh/switching to another channel and back. (tested both in browser and with application)

#### Steps to reproduce
* Create a webhook for a channel
* Leave the channel and team
* Send alerts to this webhook
Mattermost Webhook Related Settings

[2017-01-10 10:50] grundleborg commented on #4908
Fixed by PR #5021. Thanks @AymaneKhouaji .

[2017-01-10 10:50] #4908 closed

[2017-01-10 12:27] jazzzz commented on #4641
It's a pity that `js` does not work for syntax highlighting. Here we are using Mattermost with GitLab, and `js` works for Javascript syntax highlighting in GitLab, so we have to remember to use `javascript`in Mattermost and `js`in GitLab.

[2017-01-10 17:50] S6066 commented on #5013
1. When I'm on another channel then go to some channel with new messages, yes
2. Also on desktop app but only in mobile view.
3. Nothing happens
3. Nothing since I'm already at the bottom. But when I scroll up then down it disappears

[2017-01-10 23:11] andyboyd commented on #5030
Github does it right. The reaction thumbs up is yellow!

[2017-01-11 01:34] jasonblais commented on #5030
Thanks @jeanetienne and @andyboyd for the feedback!

I've queud this item for our [Mattermost UX design channel to discuss](https://pre-release.mattermost.com/core/pl/rmb4pjmyrjbai8uhge9xndbnmw) -- the site is public and everyone can join, if you're interested :)

[2017-01-11 02:03] it33 opened #5039 "Option to show only unread channels and DMs in left-hand sidebar"
Proposed Help Wanted.

Ideally there would be some easy toggle to show and hide messages without unreads. Until we figure that out, proposing at least the underlying option can be available.

#### 1) Under **Account Settings > Display** add:

Title:

Left-hand sidebar display:

Options:

[x] Show all my channels and DMs
[ ] Show only my channels and DMs with unreads

Help Text:

Select what to sho

[2017-01-11 02:27] jeanetienne commented on #5030
Thanks @jasonblais !

[2017-01-11 07:17] it33 commented on #5039
Closing for now. Discussing with JB, this feature isn't completely thought through and it's better to wait for the full design before opening a ticket.

[2017-01-11 07:17] #5039 closed

[2017-01-11 14:28] jasonblais commented on #4665
Hey @bjoernr-de - thank you again for working on the changes, that's great!

We were thinking that creating a second branch might be easiest -- that way someone from the community can pick up from where you left off, while still preserving the original code prepared by @hmhealey (harrison).

Would you like to message Harrison (`@harrison` on https://pre-release.mattermost.com) and he can create th

[2017-01-11 15:22] #4817 closed

[2017-01-11 18:04] andrewwutw commented on #5010
@jasonblais OK, I posted the request in https://mattermost.uservoice.com/forums/306457-general/suggestions/17694802-channel-url-should-be-percent-encoded-in-utf-8-for

[2017-01-11 23:40] #4724 closed

[2017-01-12 04:57] it33 opened #5044 "Add MAU & DAU to System Console Statistics"
Proposed Help Wanted

Add **Daily Active Users** and **Monthly Active Users** to System Console > System Statistics page

1. Move "Total Commands", "Incoming Webhooks", "Outgoing Webhooks" to a new row

2. To the left of "Total Sessions" add "Daily Active Users" and "Monthly Active Users"

Daily Active Users should be the count of any user who has logged in in the last 24 hours
Monthly Active User

[2017-01-12 07:40] mikaoelitiana commented on #4973
I am willing to work on this one

[2017-01-12 11:49] mikaoelitiana commented on #4749
This one can be closed I think

[2017-01-12 12:55] jasonblais commented on #4749
Thanks @mikaoelitiana, you're right

@khawerrind big thanks for your contribution!

[2017-01-12 12:55] #4749 closed

[2017-01-12 13:27] rwillmer commented on #5018
It loks to me that it might be a problem to do with something trying to interact with the database before it's available. I use https://github.com/vishnubob/wait-for-it to fix that problem with my docker-compose configs.

[2017-01-12 15:41] jasonblais commented on #4995
Closing the issue to track in JIRA: https://mattermost.atlassian.net/browse/PLT-5160

[2017-01-12 15:41] #4995 closed

[2017-01-12 15:45] jasonblais commented on #4998
Hey @joernhees, we created a [JIRA ticket to track this](https://mattermost.atlassian.net/browse/PLT-5256).

Our UI designer will help created mock ups of adding `Only visible to you` message when it's only you who can see it.

The next steps is to try a few designs to see which one works best across all platforms (desktop, tablet, mobile).

[2017-01-12 15:45] #4998 closed

[2017-01-12 15:45] jasonblais commented on #5010
Thanks @andrewwutw!

[2017-01-12 15:45] #5010 closed

[2017-01-12 16:04] jasonblais commented on #5011
Thanks again @S6066 for the report! This is now resolved for 3.6

[2017-01-12 16:04] #5011 closed

[2017-01-12 16:04] #5014 closed

[2017-01-12 16:06] lechuckcaptain commented on #3882
Is it the issue considered closed as won't fix? Or will it be resolve in a future version?

Let me contribute with a couple of more screenshots with steps to reproduce the issue.

![image](https://cloud.githubusercontent.com/assets/341895/21897240/4aacc69c-d8e9-11e6-8c9a-0a9d507e92c4.png)

![image](https://cloud.githubusercontent.com/assets/341895/21897250/4f891af8-d8e9-11e6-954b-15c5181ea9b9.png)

[2017-01-12 20:18] Agrosis opened #5052 "When focused on window, typing should type into the textbox"
Kind of in between a (tiny) feature request / bug, but it would be nice if, when focused on the chat window (and not on the textbox), typing automatically starts typing into the chat textbox. Not sure how this would fit in with keyboard shortcuts or anything, but its just a matter of convenience because I usually just click into the window and want to start typing instead of clicking the textbox a

[2017-01-12 21:48] #4983 closed

[2017-01-13 00:26] jasonblais commented on #3882
Hey @lechuckcaptain, thanks for reporting this!

Terms containing a dash return incorrect results on PostgreSQL as dashes are ignored in the current search engine.

It is currently [considered as a known search issue](https://docs.mattermost.com/help/getting-started/searching.html#differences-between-mysql-and-postgres-search) - if you'd like to discuss potential solutions for it, let us know in t

[2017-01-13 01:59] jasonblais commented on #5052
Hey @Agrosis! We'd love to have a contribution for this, I completely agree with you and it would be great to have.

We actually have [an open Help Wanted issue for it](https://github.com/mattermost/platform/issues/4142) with some specifications, if you're interested? While the issue has details on the implementation, I imagine there to be corner cases we'd have to work through as we develop and t

[2017-01-13 02:01] jasonblais commented on #5012
@asaadmahmood has started progress on it and an update will soon be submitted to the `master` branch.

The improvement should be available in Mattermost 3.7.

Thanks all!

[2017-01-13 02:01] #5012 closed

[2017-01-13 02:03] jasonblais commented on #4238
Closed via #4999

[2017-01-13 02:03] #4238 closed

[2017-01-13 02:04] jasonblais commented on #4751
Closed via #4923, fantastic work @debanshuk!

[2017-01-13 02:04] #4751 closed

[2017-01-13 02:07] jasonblais commented on #4597
@Rudloff I tried on Windows 10, Firefox and it seems to reproduce

I didn't get any warnings about a popup window so I'm not sure if that's why.

[2017-01-13 02:08] jasonblais commented on #4491
Closed via #4912, thanks @cpanato!

[2017-01-13 02:08] #4491 closed

[2017-01-13 06:16] mikaoelitiana commented on #4495
I want to work on this feature

[2017-01-13 08:28] mareklipka opened #5054 "Blank screen after team selection"
#### Summary
A blank page displays after team selection when "custom emoji creation" setting is set to "admin".

#### Steps to reproduce
I'm using Mattermost 3.5.1.
1. Set "custom emoji creation" to "admin"
2. Sign in as regular user that hasn't passed the tutorial yet.
3. Select the team

#### Expected behavior
The Mattermost screen should be displayed

#### Observed behavior
I get the blank page

[2017-01-13 08:41] XANi commented on #5054
We didn't found 100% case on  how to reproduce it. It happened to us few times, case above was when newly logged user clicked email link to channel before finishing tutorial (we have bot that adds new users to their project's private channels).

Disabling custom emotes allowed user to log in and finish tutorial

[2017-01-13 08:58] lechuckcaptain commented on #3882
Hey @jasonblais, thank you very much for the answer. I already read the know search issue page. The strange thing is that the [PLT-4060](https://mattermost.atlassian.net/browse/PLT-4060) is marked as closed (Won't Fix). My question was if you plan to solve in the future or you just accept the issue and consider it closed?

[2017-01-13 13:48] #4907 closed

[2017-01-13 13:52] T3rm1 opened #5060 "Code block hide first line"
Text on the same line after the first three backticks is not shown in chat. Only second line and onwards are shown.

Version 3.6.0

[2017-01-13 13:59] jasonblais commented on #5060
Thanks @T3rm1 for the report,

can you help
1) give the sample text you tried to post
2) screenshot of what was posted
3 browser (e.g. Chrome, Firefox, ...) and operating system (Windows, Mac, Linux) you reproduced it?

[2017-01-13 14:30] T3rm1 commented on #5060
This is not browser related.
http://prnt.sc/dv5kxm

[2017-01-13 14:45] jasonblais commented on #5060
Thanks @T3rm1, that's helpful!

We support syntax highlighting for specific programming languages by allowing users to type the language after the ``` at the beginning of the code block.

For example, to highlight Go, one can type

[code]

which will output
![image](https://cloud.githubusercontent.com/assets/13119842/21933735/99d33644-d974-11e6-9705-90128e6fe273.png)

We could consider making an i

[2017-01-13 15:22] T3rm1 commented on #5060
Ah, I see. Thanks for the fast response.

[2017-01-13 15:55] #5060 closed

[2017-01-13 16:28] jasonblais commented on #5018
[The PR was merged](mattermost/mattermost-docker-preview#23), have the issues been resolved @stev0r @cpanato @rwillmer?

[2017-01-13 17:00] cpanato commented on #5018
yes! like a charm :)

[code]

[2017-01-13 17:39] jasonblais commented on #5018
Awesome, thanks @cpanato for the quick fix!

[2017-01-13 18:59] jasonblais commented on #5054
Thanks @mareklipka and @XANi for the report!

[This issue should be fixed with Mattermost 3.6](https://github.com/mattermost/platform/pull/4785), whose official release date is January 16th.

Here's the original report, which sounds what you described: https://mattermost.atlassian.net/browse/PLT-4908

[2017-01-13 18:59] #5054 closed

[2017-01-14 06:49] sonicyang commented on #643
+1

[2017-01-14 07:44] jasonblais commented on #5030
Hey @andyboyd and @jeanetienne -- we discussed and agree we should be using neutral emoji.

As for the possible fixes, we'd recommend not going with emojis specified by the OS as that can sometimes cause rendering issues. So we're looking at doing an exhaustive replace of the emojis.

I'm wondering if you had already compiled a list of emojis that should be changed, or whether the ones you referen

[2017-01-14 20:53] CrEaK commented on #4591
I'm interested :) I will submit a pull request

[2017-01-15 06:23] jasonblais commented on #5013
Thanks @S6066 for following up.

Have been trying to reproduce but unable to so far so asking a couple of more questions:

1. I'm wondering if this is reproducing on the final build [available for download here](https://about.mattermost.com/download)
2. Which desktop app version and operating system does it reproduce?
3. Which Android device do you have?

[2017-01-15 14:31] S6066 commented on #5013
2. When clicking on "Help" on PC I have a menu with "mattermost docs" and "version 1.3.0". I'm on windows 10 x64.
3. Meizu M2 on Android 5.1 (with Flyme 5.1.11.0G)

1/ I tried on my PC with mobile view, I never have the "new messages below" bubble.

(Why is there link preview for buttons like flag, channels, reply, etc ? it's horrible http://i.imgur.com/NkA4OoE.png)

[2017-01-15 18:29] jasonblais commented on #5013
Thanks for the additional information ,very helpful.

For 1, do you mean you no longer see the "new messages below" bubble?

Can you help post a screenshot of the About Mattermost dialog from **three-dotted Main Menu > About Mattermost**?

[2017-01-15 22:38] #5018 closed

[2017-01-16 01:56] jasonblais commented on #5033
Thanks @rantheman for the report! I created a bug report for us to track: https://mattermost.atlassian.net/browse/PLT-5284

Would anyone in the community be interested helping with a fix?

[2017-01-16 05:50] ilyatch opened #5070 "mattermost-preview docker container fails to start"
#### Summary
Latest mattermost-preview docker image for Ubuntu starts and then shuts down a short time later with an InnoDB error

#### Steps to reproduce
Follow the "preview" installation and running steps for the docker image from here: https://docs.mattermost.com/install/docker-local-machine.html#ubuntu

#### Expected behavior
Container should start and I should be able to connect to the previe

[2017-01-16 06:03] jeanetienne commented on #5030
@jasonblais No, unfortunately I haven't compiled an exhaustive list of emojis. But it seems to come from the folder `/static/emoji/`, which I couldn't find on the repo, so I assume it's generated during some sort of install script? It appears that instead of writing the actual character, an image is used instead (for example for 👸), and it comes from the aforementioned folder.

More surprisingly,

[2017-01-16 07:11] jasonblais commented on #5070
@cpanato would you be able to help?

[2017-01-16 07:13] jasonblais commented on #5030
Thanks for the help @jeanetienne! I'll take a look and create a ticket to change this so we use neutral emoji instead

[2017-01-16 07:56] cpanato commented on #5070
I followed the steps for ubuntu and I created a server on DigitalOcean to test.
All went fine.

Maybe for your issue @ilyatch you will need stop the containers, remove all containers (mysql, ...)

run first:
`$docker ps`

then remove all the containers

after run
`$docker ps -a`

and check if have some mattermost containers and mysql.

just to be sure remove the images for mattermost and mysql and

[2017-01-16 10:29] leyanlo opened #5072 "Remove background color behind your own messages"
Proposed Help Wanted

#### Summary
Background color behind your own messages provides no value and should be removed.

#### Steps to reproduce
Send a message in a channel

#### Expected behavior
Message sent with format matching all other messages in channel

#### Observed behavior
Message has background of #E9EBEE

![image](https://cloud.githubusercontent.com/assets/1285326/21979380/87940d70-db93

[2017-01-16 10:36] leyanlo opened #5073 "Timestamps should be permalinks"
Proposed Help Wanted

#### Summary
Timestamps on messages should be permalinks, and permalink should be removed from the ellipsis menu.

#### Steps to reproduce
View any message in a channel

#### Expected behavior
Timestamp should be behave like a <a> hyperlink, which changes the cursor to pointer and underlines on hover. It could also reveal a popover with help text to inform users of the permal

[2017-01-16 10:42] leyanlo opened #5074 "[Help Wanted]: Remove redundant mobile web search hint popover"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-16 10:49] leyanlo opened #5075 "Mobile web info pages are redundant"
Proposed Help Wanted

#### Summary
There are two info pages that appear on mobile web that are redundant.

#### Steps to reproduce
On mobile web, to see the dark info page, tap the (i) on the top right of the page:
![image](https://cloud.githubusercontent.com/assets/1285326/21979951/faa8eeaa-db95-11e6-8a3b-a719c84bf135.png)

To see the light info page, tap the name of the channel and tap View Info

[2017-01-16 12:51] philstephenson commented on #643
+1

[2017-01-16 16:34] bjoernr-de opened #5079 "v3.6.0 upgrade failed: "Error 1071: Specified key was too long; max key length is 767 bytes""
#### Summary
After upgrading to v3.6.0 Mattermost server won't start again.
Trying to run `bin/platform` simply dies with no error message.

`bin/platform version` shows:
[code]

#### Steps to reproduce
* CentOS 6.8
* MySQL 5.6.35
* Mattermost v3.5.1
* Upgrade to v3.6.0 following the official [Upgrade Guide](https://docs.mattermost.com/administration/upgrade.html)
* Try `bin/platform` - Dies witho

[2017-01-16 17:24] fmp777 opened #5081 "Download file should default to last used directory"
Every time you download a file from a chat, it defaults to the root directory (as in highest level dir).  All operating systems actually have a default Download folder that could be used when no other is known, but then after a download to a user specified directory, the next download should default there as well.

Either way, shouldn't default to the root directory, since NOBODY ever wants to sav

[2017-01-16 17:47] bjoernr-de commented on #5079
Retried again after rollback to v3.5.1:

[code]

### InnoDB MySQL variables
Also tried with
[code]

in `/etc/my.cnf` according to http://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_large_prefix
but still the same error message.

#### MySQL variable values after restart
[code]
showing
[code]

### Solution for now
Rolled back again to v3.5.1 😢

[2017-01-16 17:59] S6066 commented on #5013
Yep

http://i.imgur.com/LgkeaIi.png (on PC)

[2017-01-16 19:43] jasonblais commented on #5016
Closing for now and we can track in Jira https://mattermost.atlassian.net/browse/PLT-1015

If anyone is interested helping out, let us know!

[2017-01-16 19:43] #5016 closed

[2017-01-16 19:44] jasonblais commented on #5052
Hey @Agrosis, I'll close this issue since it's a duplicate of #4142

If you're interested to work on it, let us know! Would be happy to work with you

[2017-01-16 19:44] #5052 closed

[2017-01-16 19:45] jasonblais commented on #4993
Thanks @SERVICEFREAKS,

We haven't received an update so we will assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information.

[2017-01-16 19:45] #4993 closed

[2017-01-16 19:56] jasonblais commented on #3882
Thanks @lechuckcaptain for the reply! Would you be interested helping with a fix for the issue?

It's currently considered to be a known search issue -- we're scoping search improvements in the future at which point we'll re-consider it (probably later this year), but the fix isn't scheduled in the short term

[2017-01-16 21:50] lechuckcaptain commented on #3882
Thank you for the explanation @jasonblais. I might try to troubleshoot and fix the issue in the coming weeks (I need some time to go deeper in the Mattermost codebase). However it would be nice to have a open issue to track the progress of the problem.

[2017-01-16 23:30] #4973 closed

[2017-01-17 02:11] ilyatch commented on #5070
All seems to be well now.
I believe the images changed slightly recently and that fixed the issue (previously I had deleted the containers and images, to no avail).  Thanks for the prompt reply!

[2017-01-17 02:11] #5070 closed

[2017-01-17 09:44] kbroulik opened #5088 "Mattermost continuously updates its application menu without need"
#### Summary
Mattermost continuously updates its application menu causing DBus spam

#### Steps to reproduce

Run Mattermost on a platform which supports global menu (like Plasma 5.9 Beta or potentially Unity). Run Mattermost and observe the output of dbus-monitor. (Mattermost version 3.4.1)

#### Expected behavior
Only when the menu really changes the application signals a change. For simplicity

[2017-01-17 10:08] DeepSnowNeeL opened #5089 "Re-send messages in correct order"
#### Summary
When you send messages and you have problems with your internet connection, the messages are queued up to be re-send but they re-send in the incorrect order.

#### Steps to reproduce
Just send messages, get lags or disconnect your ethernet cable for few seconds.
My way to reproduce it is to use a vpn inside my company proxy so.. Maybe something like Network Link Conditioner or Dummyne

[2017-01-17 13:21] mikaoelitiana commented on #4997
I want to try this one.

[2017-01-17 13:25] jasonblais commented on #4997
Yay!! That would be awesome @mikaoelitiana

[2017-01-17 14:26] St-Ex commented on #5079
Hi,

I've got the same error. You can unlock it with
[code]

Table **Teams** have a column **Description** with varchar(255) which cause the error while creating the index.

[2017-01-17 14:34] bjoernr-de commented on #5079
Well, I'm not really a friend of manually altering tables in production environments 😆

@enahum @jwilander Can someone from the core-team take a look at this?

[2017-01-17 14:48] hmhealey commented on #5079
@bjoernr-de Do you know what character set your database is set to use? It sounds like certain ones cause indices to exceed their maximum amount http://stackoverflow.com/questions/1814532/1071-specified-key-was-too-long-max-key-length-is-767-bytes

[2017-01-17 15:03] bjoernr-de commented on #5079
[code]

| database   | charset   | collation   |
|-----|-----|-----|
| mattermost | latin1 | latin1_swedish_ci |

I assume this is per MySQL default when creating databases with `CREATE DATABASE mattermost;`

[2017-01-17 15:44] hmhealey commented on #5079
Yeah, that looks normal. I checked my local copy to see that specific column, and it looks like I should've gotten the same error judging by the column type listed in that Stack Overflow post.

[code]

Regardless, we were already cutting a 3.6.1 release for a performance regression that was reported by a customer, so we're going to remove the problem index in that release as well

[2017-01-17 16:21] patoupatou opened #5099 "Custom 128x128 emojis are wrongly scaled with the new update."
#### Summary
Emojis are wrongly scaled with the new update.

#### Steps to reproduce
Use a 128x128 emoji

#### Expected behavior
The emoji fits inside a square

#### Observed behavior
The emoji is wrongly resized and is more "squashed" horizontally. For instance, if you type :emoji: and someone +:emoji: this comment, the two images used are not scaling the same way, the image inside the "reaction"

[2017-01-17 16:25] cpanato commented on #4595
there is one problem on that to fix as well, when you open the "import theme colors from slack" the focus still in the modal behind and if you press enter will close the previous modal and the "import theme" will still be opened.

[2017-01-17 16:30] patoupatou commented on #5099
After tinkering with it for a while, I think it might actually be fine now the way it is, however, this new update introduced something new. For instance, before the update, a 128x96 emoji would not be scaled because the 128 pixel limit was already reached. Now with this update the horizontal portion of the emoji is scaled to 128 whereas it stays the same vertically.

I think if an icon needs be s

[2017-01-17 17:18] cpanato commented on #4595
the enter is working, however it trigger first the first modal which is behind the import theme modal
@jasonblais can you help me on that?

![sguwynelg4](https://cloud.githubusercontent.com/assets/4115580/22031583/5619ff1c-dce1-11e6-8162-90a8621ce506.gif)

[2017-01-17 18:30] timrsmith opened #5103 "Emoji picker no longer working for single-character emoji in 3.6"
#### Summary
Emoji picker no longer working for single-character emoji in 3.6

#### Steps to reproduce
- Create a custom emoji with a single-character name e.g. `:y:`
- Try to use that emoji, e.g. `:y`
- The picker does not appear

#### Expected behavior
The picker should appear as soon a letter is typed after the `:`. This is no longer the case.

#### Observed behavior
We have a custom thumbs-up

[2017-01-17 18:42] jasonblais commented on #5013
Thanks @S6066, I'm not really sure what might cause the new messages bubble to appear initially on RC2 but then not show at all..

Can you help upgrade to [the 3.6 release build](https://about.mattermost.com/download) and see if the issue gets resolved?

[2017-01-17 19:31] woooooopwop opened #5104 "Enable support for S3 VPC endpoints"
Looking at https://github.com/mattermost/platform/blob/f02620b291b988848392c455a7719699f6b5c00f/vendor/github.com/minio/minio-go/s3-endpoints.go

`

var awsS3EndpointMap = map[string]string{
	"us-east-1":      "s3.amazonaws.com",
	"us-west-2":      "s3-us-west-2.amazonaws.com",
	"us-west-1":      "s3-us-west-1.amazonaws.com",
	"eu-west-1":      "s3-eu-west-1.amazonaws.com",
	"eu-central-1":   "s3-

[2017-01-17 20:27] tofi86 opened #5105 "RestrictCreationToDomains not working with multiple domains (in GitLab Mattermost)"
#### Summary
Setting `"RestrictCreationToDomains": "domain1.tld, domain2.tld"` still let's you invite users with `*@domain3.tld`

#### Steps to reproduce

Setting `mattermost['team_restrict_creation_to_domains'] = "domain1.tld, domain2.tld"` in GitLab (latest version) which expands to ` "RestrictCreationToDomains": "domain1.tld, domain2.tld"` after gitlab reconfigure.

Inviting a new user with `*@

[2017-01-17 20:45] bonespiked commented on #4665
I'm helping out with this, and wanted a question answered for the UX side - in the category list, if more than one category is visible (particulary at the end of the list ) - Highlighting a single category doesn't make visual sense.  I propose that the categories be highlighted based on what categories are visible on screen, so more than one may be highlighted.  Note the current display:
![image](

[2017-01-17 22:11] jasonblais commented on #4595
Hey @cpanato, would it be possible to set focus to the "Import Slack Theme" dialog that opens on top of the Account Settings modal?

That way when you press Enter, it should act on the Submit button.

[2017-01-17 22:35] jasonblais commented on #5030
@jeanetienne JIRA ticket is here to track: https://mattermost.atlassian.net/browse/PLT-5316

If anyone in the community is interested helping with an update, let us know!

[2017-01-17 22:35] #5030 closed

[2017-01-18 05:20] yurikhan opened #5108 "[Help Wanted] Add machine-readable date and time to timestamps"
#### Summary

Add machine-readable date and time to the message timestamps.

#### Steps to reproduce

1. Join a channel.
2. Send a message.
3. In the web browser’s developer tools, inspect the timestamp.

#### Expected behavior

The timestamp should be a `<time>` element with content formatted according to the user’s preferences and time zone, and with the machine-readable ISO 8601 date and time i

[2017-01-18 09:23] ReDnAxE opened #5109 "Installing the latest Mattermost JS Driver with npm"
#### Summary
`npm install mattermost` does not install the latest version of the [mattermost/mattermost-driver-javascript](https://github.com/mattermost/mattermost-driver-javascript) github repository

#### Steps to reproduce
I'm currently developing a bridge api in NodeJs to cover our internal needs with Mattermost, and I would like to add it in my package.json dependencies list like `"mattermost

[2017-01-18 10:36] gokceneraslan opened #5111 "Edited posts must be denoted with "(edited)""
Edited messages must have the `(edited)` remark, or something similar:
![image](https://cloud.githubusercontent.com/assets/1140359/22060599/bb3e77b6-dd71-11e6-89c9-8df66518b4b2.png)

Now, the timestamp of the post becomes invalid and misleading when it's edited.

[2017-01-18 10:48] MattMattV opened #5112 "Message beginning with "[MISSING] : " does not display correctly"
#### Summary
If the message start with string `[MISSING]:` it does not display

#### Steps to reproduce
Send a message containing : `[MISSING]: message`

#### Expected behavior
The message should display [MISSING]: message

#### Observed behavior
See the grey thin line :
![image](https://cloud.githubusercontent.com/assets/6715182/22061134/ea5bd956-dd73-11e6-8505-f195cca1ea8f.png)

[2017-01-18 13:18] jasonblais commented on #4595
By the way, there's an agenda item queued for today's (Wednesday) public developer meeting [to discuss a related issue](https://pre-release.mattermost.com/core/pl/1fcbegifgf8s3mkchpffmfgm3a). It's about the settings event handlers attached directly to DOM, which is the root cause for this issue.

[2017-01-18 16:13] it33 opened #5116 "[Help Wanted] Updating Channel Purpose should post a System Message in the channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-18 16:16] it33 opened #5117 "[Help Wanted]: Emoji reactions show beside image thumbnail rather than below"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-18 16:24] grundleborg opened #5118 "[Help Wanted] Markdown Rendering Unit Tests for Images"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-18 20:02] esethna commented on #5073
Hi @leyanlo, I may be misunderstanding but it looks like the slack link on the timestamp opens the message in the archive view rather than opening a pop-over with the link. The "Copy link" option is also available from the ellipse menu in Slack. Given that we are trying to be slack compatible I think this is functionality we retain in the ellipse menu.

[2017-01-18 20:09] esethna commented on #5074
Thanks @leyanlo! Help wanted issue created, please let us know if you'd like to work on this.

[2017-01-18 20:17] esethna commented on #5075
Thanks @leyanlo, I've [queued for discussion](https://pre-release.mattermost.com/core/pl/oiuc96jy4prnxkg55oe7noro3a) in our UX meeting. I will circle back with the decision.

[2017-01-18 20:20] esethna commented on #5081
Sorry @fmp777, I'm not able to reproduce this. What browser are you using, it may be a browser setting? When I download a file from Mattermost on Chrome it saves the file in my downloads folder, see browser setting:

![image](https://cloud.githubusercontent.com/assets/14333569/22081465/e9a7131a-dd80-11e6-98ef-cde5e7a78033.png)

[2017-01-18 20:27] leyanlo commented on #5073
Ah ok didn't realize Slack also had a copy link option in their dropdown.

Still would like the timestamp to also be a hyperlink to the permalink, as it is with Slack, Facebook, and Twitter. It's a very common pattern and strange that Mattermost does not behave the same way.

[2017-01-18 21:00] #4495 closed

[2017-01-18 21:12] fmp777 commented on #5081
sorry i dont use browser-based mattermost - maybe i'm in the wrong place?  this was tested on mac app  (which is little more than a browser wrapped app)

[2017-01-18 22:55] jasonblais commented on #5033
Fix submitted here: https://github.com/mattermost/platform/pull/5119

[2017-01-18 22:55] #5033 closed

[2017-01-18 22:55] jasonblais commented on #5033
Thanks @rantheman for the report!

[2017-01-19 06:45] pan-feng commented on #4236
look for #5123  I had pull request

[2017-01-19 08:38] cpanato commented on #5116
@it33 I tested this on current master and when you change the channel purpose it post a update message for the users in the channel:

![screen shot 2017-01-19 at 09 35 47](https://cloud.githubusercontent.com/assets/4115580/22099274/fadce060-de2a-11e6-84e4-e9114a392132.png)

[2017-01-19 08:44] grundleborg commented on #5116
Well spotted. Looks like this was already fixed in another ticket.

[2017-01-19 08:44] #5116 closed

[2017-01-19 10:23] grundleborg commented on #4591
PR Merged. Many thanks for the contribution @CrEaK

[2017-01-19 10:23] #4591 closed

[2017-01-19 13:23] cpanato commented on #4359
@jasonblais how can I reproduce that? I dont know how to create those steps, can you help me ?
thanks

[2017-01-19 13:26] cpanato commented on #4498
this is still valid? today when you click it open the contact popover. what other information do you guys want on that?

[2017-01-19 13:44] #4906 closed

[2017-01-19 13:44] #4905 closed

[2017-01-19 13:46] jwilander commented on #4498
@jasonblais can correct me if I'm wrong, but I think it means when you click on @ mention of someone. For example, in MM if someone mentions me in a post with `@joram`, clicking on `@joram` should show the contact popover as well

[2017-01-19 13:50] jwilander opened #5124 "[Help Wanted] Move instances of Client.deleteChannel() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-19 13:52] jwilander opened #5125 "[Help Wanted] Move instances of Client.deletePost() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-19 13:53] cpanato commented on #4498
ahh, in the post.

[2017-01-19 13:55] jwilander opened #5126 "[Help Wanted] Move instances of Client.leaveChannel() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-19 13:59] jwilander opened #5127 "[Help Wanted] Move instances of Client.addUserToTeamFromInvite() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-19 14:03] jwilander opened #5128 "[Help Wanted] Move instances of Client.getInviteInfo() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-19 14:04] jwilander commented on #4498
I also updated this to intermediate difficulty since I think it'll be a bit more involved than originally thought

[2017-01-19 14:07] jasonblais commented on #4498
That's correct, I updated the title and description to clarify this a bit more @cpanato

[2017-01-19 17:14] jasonblais commented on #4359
@nelfer would you have more concrete repro steps for the issue you had?

[2017-01-19 19:58] jasonblais commented on #5044
Chris is working on it, so closing this one -- JIRA ticket here: https://mattermost.atlassian.net/browse/PLT-5324

[2017-01-19 19:58] #5044 closed

[2017-01-19 21:45] esethna commented on #5073
Hi @leyanlo, can you please help me understand the value of making the timestamp link to the archive view? I'm just trying to think through the use case in which this would be helpful.

[2017-01-19 22:05] esethna commented on #5112
Thanks @MattMattV, I was able to reproduce this strange issue, thanks for the report! Closing this issue to track on JIRA:  https://mattermost.atlassian.net/browse/PLT-5332

[2017-01-19 22:05] #5112 closed

[2017-01-19 22:06] esethna commented on #5081
Thanks for the clarification, yes you can report this on the [desktop repo](https://github.com/mattermost/desktop/issues)

[2017-01-19 22:06] #5081 closed

[2017-01-19 22:09] esethna commented on #5111
Thanks @gokceneraslan this was added by a community member recently: https://github.com/mattermost/platform/pull/4923

The feature will be available in our next release, v3.7.

[2017-01-19 22:09] #5111 closed

[2017-01-19 22:16] esethna commented on #5105
Hi @tofi86, is account creation successful with an incorrect domain? The invitation will be sent but the user should hit an error when they attempt to click "Create account".

[2017-01-19 22:19] esethna commented on #5103
@timrsmith this is an improvement in v3.6, where the emoji autocomplete does not appear unless the user types two characters. This is to allow users to type single character smileys, for example `:)` `:p` without being bothered by the autocomplete pop up.

[2017-01-19 22:19] #5103 closed

[2017-01-19 22:25] tofi86 commented on #5105
Oh okay, account creation fails when trying to click on "Create Account". But this is really a bit confusing for Team Admins and Invitees...

Shouldn't the invite be restricted as well?

[2017-01-19 22:26] tofi86 commented on #5105
And what happens if you accept an invitation with creating an OAuth account (e.g. via GitLab) – does it validate the OAuth email address?

[2017-01-19 22:26] esethna commented on #5089
Sorry @DeepSnowNeeL, I'm not sure how to repro your issue. If i disconnect from the internet the messages appear with the options "Retry - Cancel" and you must manually select "Retry" to send the messages once you reconnect.

![image](https://cloud.githubusercontent.com/assets/14333569/22127988/adb3c23c-de5b-11e6-89d8-83bb18556284.png)

[2017-01-19 22:31] DeepSnowNeeL commented on #5089
I had the same connexion problems with 3.6.0 and as you said I need to manually re-send them now. I guess you changed this between 3.5 and 3.6 ? :) Or maybe it's just more network problems going on..

[2017-01-19 22:54] leyanlo commented on #5073
The value is that it saves time for users who expect this functionality--they can access the permalink in one click instead of two. This UX pattern is in many apps. Even this GitHub thread follows the same pattern.

![image](https://cloud.githubusercontent.com/assets/1285326/22128470/99e8d7de-de55-11e6-942f-a2a81eb8fd6d.png)

[2017-01-19 23:13] it33 commented on #5073
Having timestamp as some form of permalink is common in developer-centered apps, like GitHub, Slack and Discourse.

For non-developers, I think it might make sense to keep the permalink option from the [...] menu to meet our "fast, obvious, forgiving" principle.

Propose focusing this change on just adding the same permalink we have now to timestamp?

@esethna if UX is okay with this, propose open

[2017-01-20 00:32] timrsmith commented on #5103
I, for one, don't consider it an improvement. I'd much rather see the picker intelligently handle emoji such as :) rather than turn off the picker for everything else until two characters.

[2017-01-20 02:23] bonespiked commented on #4665
Between @harrison @bjoernr-de and myself, we have finished this feature.  We are doing a quick team review before creating a PR.

[2017-01-20 02:30] jasonblais commented on #4665
Awesome! Thanks to all of you! 👍

[2017-01-20 03:06] vrenjith opened #5133 "thumbsup emoji missing in 3.6.0/1"
`thumbsup` emoji is missing in 3.6.0/1.
The same issue exists in https://pre-release.mattermost.com as well.

[2017-01-20 07:04] CometKim opened #5134 "The post_subject template is not being used."
#### Summary
The post_subject template is not being used.
https://github.com/mattermost/platform/blob/master/app/notification.go#L385

It was used on v3.5.
https://github.com/mattermost/platform/blob/v3.5.1/api/post.go#L845-L847

#### Expected behavior
Exist template shoud be used.

[2017-01-20 08:40] pan-feng commented on #4553
I would like to work on this.

[2017-01-20 12:55] jasonblais commented on #5103
Hey @timrsmith, if we included `:p` in emoji autocomplete list, then the side effect would be that the user would have to press twice in order to post a `:p` message:

1) Type `:p`
2) Hit enter to select the emoji [not really necessary]
3) Hit enter to choose the emoji

Moreover, we're working on adding an emoji picker (#4665), which can be used to add emoji (and emoji reactions) more easily --> t

[2017-01-20 12:56] jasonblais commented on #4553
Go for it @pan-feng!  Thank you :)

[2017-01-20 12:57] jasonblais commented on #5133
Thanks @vrenjith! This has been fixed with https://github.com/mattermost/platform/pull/5097 and will be included in Mattermost 3.7

[2017-01-20 12:57] #5133 closed

[2017-01-20 13:17] #5125 closed

[2017-01-20 13:17] #5127 closed

[2017-01-20 13:22] jmn opened #5136 "E-mail notifications contain content"
#### Summary
E-mail notifications sends message content and sender information onto unsecure E-mail.

#### Steps to reproduce
Enable E-mail notifications, send a DM to offline user.

#### Expected behavior
Mattermost should only send "You have a new new message in Mattermost", nothing else.

#### Observed behavior
People sending DMs in Mattermost expect their messages to be somewhat secure. They d

[2017-01-20 13:23] #5128 closed

[2017-01-20 13:24] cpanato commented on #5136
I can work on that if need

[2017-01-20 14:19] cpanato commented on #5074
pr: https://github.com/mattermost/platform/pull/5137

[2017-01-20 14:21] cpanato commented on #4816
this ticket can be closed

[2017-01-20 14:23] jasonblais commented on #4816
Closed via #4869, thanks @khawerrind!

[2017-01-20 14:23] #4816 closed

[2017-01-20 14:25] cpanato commented on #4595
per discussion on the developer channel this will be handle internally.

[2017-01-20 14:36] it33 opened #5139 "Add a release checklist item for RDP page to be updated with new security researchers in Hall of Fame"
https://www.mattermost.org/responsible-disclosure-policy/

I think 3.6 security research might be missing

[2017-01-20 14:39] it33 commented on #5139
Moving to docs repo: https://github.com/mattermost/docs/issues/803

[2017-01-20 14:39] #5139 closed

[2017-01-20 14:48] jasonblais commented on #4595
Thanks! Sounds good, I'll close the issue as @grundleborg has it in progress https://mattermost.atlassian.net/browse/PLT-4191

[2017-01-20 14:48] #4595 closed

[2017-01-20 14:50] jasonblais commented on #5126
Closed via #5131, thanks @cpanato!

[2017-01-20 14:50] #5126 closed

[2017-01-20 17:16] timrsmith commented on #5103
I was thinking, rather, that emoticons would not trigger the picker, but emoji should.

So `)`, `(`, `p`, and other reserved emoticon characters when typed after `:` would not trigger the emoji picker, but anything else would -- effectively separating emoticon functionality from emoji functionality.

[2017-01-20 17:57] jkae opened #5142 "500 on POST /channels/create for inactive channel"
I could not find if this was discovered/fixed so forgive me if this has already been resolved.

#### Summary
When creating a channel [that has previously been "deleted"] through the API, instead of reactivating the channel Mattermost will return a 500 error.

#### Steps to reproduce
Mattermost version 3.3.0
1. POST channel to `/api/v3/{team}/channels/create` using bare minimum (name, display name,

[2017-01-20 18:41] jasonblais commented on #4257
Closed via #4257, thanks @debanshuk!

[2017-01-20 18:41] #4257 closed

[2017-01-20 19:43] cpanato commented on #5142
I will try to reproduce in the current version on Monday :)

[2017-01-20 19:58] nelfer commented on #4359
Hi @jasonblais & @cpanato
This requires a slash command setup and a server that outputs the JSON as specified here in the documentation:
https://docs.mattermost.com/developer/slash-commands.html

I was doing a quick http://appear.in integration, the slash command /appear would generate a random name and give the URL http://appear.in/<randomname>

The idea was to put this URL also in the property g

[2017-01-20 20:10] nelfer commented on #4359
Maybe I should ask, what's available in your development environment? IIS? node? Apache?
I believe creating a simple file with the format and posting it to a web server should be enough. The JSON format should be something like this:

[code]

Drop this file as command.json into your web server root and then create a slash command pointing to it (assuming you are testing locally): `http://localhost

[2017-01-20 20:33] esethna commented on #5073
Thanks @leyanlo, I've [queued this for our UX meeting](https://pre-release.mattermost.com/core/pl/exdnn8jeqjrz3fb6w7jfagpsph) and I will circle back to create a help wanted ticket if approved. Thanks!

[2017-01-20 20:35] esethna commented on #5075
Thanks @leyanlo, we've discussed this and the decision is to remove the info icon as you can see the header in the View Info modal. Space in the channel header is limited and we don't believe the info icon is useful on mobile.

We have been woking on a new react native mobile app and it will not include the info icon. Thanks for the suggestion!

[2017-01-20 20:35] #5075 closed

[2017-01-20 20:46] esethna commented on #5089
I don't believe this behavior has changed in 3.6. If Mattermost is not connected to the internet then messages must be retried manually after the connection resumes.

We haven't heard any other reports of connection problems, however I would recommend upgrading to v3.6.1 as there is a fix for re-establishing the connection after waking a computer from sleep.

[2017-01-20 20:56] esethna commented on #5072
@leyanlo the background color is intended to help you scan a channel for your own messages, since you have additional controls (Edit, Delete) on messages you send versus messages sent by others.

I did notice that there is an inconsistencey where the background color does not appear in the right-hand side when viewing a comment thread. I will queue for our UX meeting to discuss this and the value

[2017-01-20 21:07] esethna commented on #5105
Thanks @tofi86, the domain restrictions only apply to email sign up as we have no way of accessing or verifying if email addresses outside the specified domain may actually belong to LDAP or SAML.

Please see [this ticket](https://mattermost.atlassian.net/browse/PLT-3183) and the ticket comments for details on why it was resolved as won't fix.

[2017-01-20 21:07] #5105 closed

[2017-01-20 22:23] jasonblais commented on #4921
Thanks again @leyanlo! I've created a feature request so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html).

https://mattermost.uservoice.com/forums/306457-general/suggestions/17794354-use-correct-typographical-symbols-for-all-user-fac

Appreciate your feedback!

[2017-01-20 22:36] jasonblais commented on #5013
Ah, saw your edit now, I think I missed it earlier, sorry about that. I've asked a couple of our team members to see if they can reproduce the issue on their Android device with Mattermost 3.6.1

Is anyone else seeing an issue where the "New Messages Below" indicator in the center channel does not properly clear, until you scroll up and back down the channel?

[2017-01-20 22:40] jasonblais commented on #5079
Thanks @bjoernr-de and @St-Ex for the report! This issue is fixed in Mattermost 3.6.1, [available for download](https://about.mattermost.com/download).

@bjoernr-de we've acknowledged your bug report for this bug fix [in our release notes as well](https://docs.mattermost.com/administration/changelog.html#contributors). Thank you!

![image](https://cloud.githubusercontent.com/assets/13119842/221679

[2017-01-20 22:40] #5079 closed

[2017-01-20 22:42] it33 commented on #4921
Re-opening for a moment, I was showing @leyanlo the Mattermost app and I thought it was the case where we were inconsistent with use of apostrophes, in which case it would be a bug, not a feature request.

Leyan, is there an example of inconsistency or was I mistaken? At any rate, I don't see harm in opening a Help Wanted ticket for a contributor to fix this. It's a an easy first contribution that

[2017-01-20 23:02] jasonblais commented on #4868
Hey @khawerrind, this PR had a start on the image thumbnails and has parts of the CSS needed to update the thumbnails: https://github.com/mattermost/platform/pull/3874

That might be helpful to get you started.

[2017-01-20 23:05] jasonblais commented on #5104
Thanks, appreciate your feedback @woooooopwop!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

Please include a link back to this GitHub Issue. If you're interested in implemen

[2017-01-20 23:05] mattermod commented on #5104
Thanks @woooooopwop, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2017-01-20 23:34] jasonblais commented on #5136
Thanks @jmn for the feedback!

[We've got an open JIRA ticket here](https://mattermost.atlassian.net/browse/PLT-3992) and an [open feature request here](https://mattermost.uservoice.com/forums/306457-general/suggestions/15425175-enable-omission-of-message-snippets-in-email-notif).

Both have on-going discussions, would you like to participate and share your feedback there as well?

[2017-01-21 01:10] bjoernr-de commented on #5079
@jasonblais Cool, thanks a lot! :)

[2017-01-21 11:31] debanshuk commented on #4967
I am working on this issue.

[2017-01-21 11:49] S6066 commented on #5013
On client, right ? But on Android or PC ? On Android I already have the lastest version, on PC I only see the 3.5.0 version, which I installed.

[2017-01-21 12:24] Lehmax commented on #5009
After updating the server to 3.6.1 one person can login again without problems. I haven't heard from the other user yet.
But now a new person can't log in on PC and gets the same message. He can't confirm if he's logged in on the Android app because he never used it.

[2017-01-21 14:45] jasonblais commented on #5013
I mean updating to the latest version for the Mattermost Server --> there were a few bug fixes between 3.6.0-rc2 and 3.6.1, and the issue might have been resolved since.

Our team member will test it out on Monday as well to try and replicate the issue

[2017-01-21 17:26] DeepSnowNeeL commented on #5089
I will upgrade, I guess the thing was the connexion sometimes allowing mm to send the messages and sometimes not.. Thanks for your time and your awesome tool :)

[2017-01-21 17:26] #5089 closed

[2017-01-21 18:40] jwilander opened #5150 "[Help Wanted] Move instances of Client.uploadFile() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-21 18:42] jwilander opened #5151 "[Help Wanted] Move instances of Client.updateUserNotifyProps() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-21 18:44] jwilander opened #5152 "[Help Wanted] Move instances of Client.inviteMembers() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-21 18:47] jasonblais commented on #4921
Ah, if we're inconsistent, then I agree it would be a bug report

[2017-01-21 19:05] jasonblais commented on #5009
Hmm, that's interesting.

Can you try the following:

1) Go to System Console > TEAMS
2) Click the "+" icon next to TEAMS on the left-hand sidebar and from the **Select Team** dialog, choose the team your user(s) belong to
3) A new section for that team should appear on the left-hand side below "TEAMS" heading. Click "Users"

![image](https://cloud.githubusercontent.com/assets/13119842/22176922/59

[2017-01-21 19:24] S6066 commented on #5013
Didn't try on PC with phone view, but on Android, I never see it now

[2017-01-21 19:33] lindy65 opened #5153 "[Help Wanted] System Message indicating a user who is mentioned is not in the channel, should appear below the message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/dev

[2017-01-21 20:14] jasonblais commented on #5013
Hey @S6066,

It should only appear if you switch to a channel and not all the messages are visible on your screen (i.e. there are more unread messages below).

I'm wondering if you could try testing the following and let me know the observed behaviour?

TEST 1:
1. User A: Go to a channel that is not Town Square
2. User B: Post a message "hey"
3. User A: Go back to Town Square

TEST 2:
1. User A: G

[2017-01-22 12:30] S6066 commented on #5013
TEST 1: Still have the bubble, I am at the bottom and have to scroll up and down to make it disappear.
TEST 2: After scrolling to the bottom I don't see the bubble.

[2017-01-22 13:18] Lulucmy commented on #5153
Hello,

I tried on 2 different Mattermost, and the bug never reappeared.
The two screenshots :
![screen shot 2017-01-22 at 14 03 58](https://cloud.githubusercontent.com/assets/20552095/22182759/a2a9a5b0-e0ad-11e6-96f8-2c14173f3607.png)
![screen shot 2017-01-22 at 14 14 21](https://cloud.githubusercontent.com/assets/20552095/22182760/a2b01dbe-e0ad-11e6-906e-74ff46dcd4d4.png)
Where have you tried ?

[2017-01-22 15:15] enahum commented on #5153
@lindy65 is this happening on master?

[2017-01-22 18:34] lindy65 commented on #5153
![image](https://cloud.githubusercontent.com/assets/13020833/22184730/fc945434-e0e0-11e6-9bbc-3aa2feecc24e.png)

@enahum it was happening on master but I've just retested and now it seems the issue is fixed!  Perhaps some other PR fixed the issue?

The issue does repro on pre-release but if you switch out of the channel and then back to it, the system message switches order and is in the correct p

[2017-01-23 02:12] pan-feng commented on #4553
i have some question， if change the input  box to be name value pairs, how to keep sharing ...

[2017-01-23 02:13] pan-feng commented on #4553
just create a theme name and keep the input box on it ？

[2017-01-23 09:04] #5151 closed

[2017-01-23 09:07] #5152 closed

[2017-01-23 09:13] cpanato commented on #5142
I was able to reproduce the issue in the current master

Steps:
1 - Create new channel
2 - List all channels and check that new channel is in the list
3 - Delete thru the UI or API
4 - List all channel and check it not appears any more
5 - try to create again the channel, however it not possible

Error:
[code]

@jasonblais please let me know if this is suppose to happen or its a bug, if it is I ca

[2017-01-23 09:13] cpanato commented on #5136
@jasonblais there is a ticket to work on that?

[2017-01-23 09:38] christianAESD opened #5158 "Navigating to Account Settings/Display crashes client"
#### Summary

When i navigate to Account Settings -> Display a javascript error occurs, a page reload is necessary.

#### Steps to reproduce

Navigate to Account Settings -> Display

#### Expected behavior

The client should not crash.

#### Observed behavior

user_settings_display.jsx:809 Uncaught TypeError: Cannot read property 'name' of undefined
    at n.value (user_settings_display.jsx:809)

[2017-01-23 10:26] cpanato commented on #5104
looks like you will need to add other endpoints, but this is in another project that mattermost uses.

maybe can post here the issue and see: https://github.com/minio/minio-go

[2017-01-23 10:28] cpanato commented on #5104
or did you try to setup this entry in the config.json?
[code]

[2017-01-23 11:41] grundleborg opened #5159 "[Help Wanted] Use consistent Display Name sorting code throughout the webapp"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-23 11:54] jwilander opened #5160 "[Help Wanted] Move instances of Client.verifyEmail() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-23 11:56] jwilander opened #5161 "[Help Wanted] Move instances of Client.resetPassword() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-23 11:57] jwilander opened #5162 "[Help Wanted] Move instances of Client.resendVerification() in components to an action"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-23 11:58] grundleborg opened #5163 "[Help Wanted] Add Floating Timestamp to Right Hand Side on Mobile"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-23 12:13] vladimirprieto commented on #2434
almost the same happened to me on Ubuntu 16.04.  the solution a found was:

[docs say](https://docs.mattermost.com/install/install-ubuntu-1604.html#configuring-mattermost-server):

but i did:

from ./data/ to /opt/mattermost/data

and it works!

BTW:

there's antoher typo on docs:

it say:

and should be:

;)

[2017-01-23 13:24] cpanato commented on #5124
PR:https://github.com/mattermost/platform/pull/5164

[2017-01-23 13:36] jasonblais commented on #5136
Hey @cpanato, I don't think I saw your response for some reason, or at least missed it :/

There's a JIRA ticket here: https://mattermost.atlassian.net/browse/PLT-3992

The option to configure email notification contents is intended to meet regulations for enterprises.

[2017-01-23 13:39] jasonblais commented on #5142
Hey @jkae, @cpanato ,

Currently, once a channel is "deleted" it is archived in the Mattermost system. That means you're not able to re-create the channel with the same URL given it still exists in the system (as an archive).

There are some improvements planned to improve the user experience on this.

However, in the meantime you can restore a previously deleted channel using an [existing command

[2017-01-23 14:00] cpanato commented on #5150
PR:https://github.com/mattermost/platform/pull/5165

[2017-01-23 14:08] jasonblais commented on #5013
Thanks @S6066! I was able to reproduce it consistently with a file attachment, so I created a bug ticket here: https://mattermost.atlassian.net/browse/PLT-5348

@pepf would this be something you'd like to take a look, since you worked on the feature?

[code]

[2017-01-23 14:19] cpanato commented on #5142
ok. :)

[2017-01-23 14:22] #5124 closed

[2017-01-23 14:23] #5150 closed

[2017-01-23 14:46] cpanato commented on #5160
PR: https://github.com/mattermost/platform/pull/5166

[2017-01-23 14:55] cpanato commented on #5161
PR: https://github.com/mattermost/platform/pull/5167

[2017-01-23 15:00] cpanato commented on #5162
PR: https://github.com/mattermost/platform/pull/5169

[2017-01-23 15:18] jkae commented on #5142
Thanks for the response & info on the command.

[2017-01-23 15:24] jasonblais commented on #5142
no problem! :) Glad I could help @jkae

[2017-01-23 15:24] #5142 closed

[2017-01-23 17:41] jasonblais commented on #5153
Thanks @Lulucmy for looking into it!

It looks like it has been fixed on `master`, so closing the issue as completed.

Thanks all!

[2017-01-23 17:41] #5153 closed

[2017-01-23 19:08] jasonblais commented on #4257
Hey @debanshuk, we noticed `http://www.wsj.com/` results in a blank image. Wondering if this is expected (is it another case where the OG image tag isn't correct)

![image](https://cloud.githubusercontent.com/assets/13119842/22218554/65bd1d8a-e175-11e6-9ee3-3b0a688fdf54.png)

[2017-01-23 19:10] jasonblais opened #5173 "[Help Wanted] Add support for private/internal S3 VPC endpoints"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-23 19:11] jasonblais commented on #5173
Hey @harshavardhana, would you be interested taking a look, as it's related to the Minio implementation you added?

[2017-01-23 19:11] jasonblais commented on #5104
Thanks @woooooopwop and @cpanato, discussed with the team and created a Help Wanted issue here: https://github.com/mattermost/platform/issues/5173

[2017-01-23 19:11] #5104 closed

[2017-01-23 19:22] harshavardhana commented on #5173
In minio-go we can provide to address this issue if needed.  What is hostname of an example VPC endpoint look like ?

[2017-01-23 21:08] lfbrock commented on #5158
Hi @christianAESD, we can't reproduce this on master, can you answer a couple questions to help us narrow down the issue?

1. Which version of Mattermost is this? (You can check from the three dot main menu > About Mattermost).
2. Is this something that reproduces across all browsers for you, or only on specific ones?
3. What operating system are you on?

[2017-01-23 21:18] lfbrock commented on #5108
Thanks @yurikhan! I'm going to update the title to turn this into a [Help Wanted] issue, if it's something you're interested in working please feel free to submit a fix!

[2017-01-23 21:34] lfbrock commented on #5134
@CometKim - is this causing issues with the email subject somewhere?

Can you add some more details about what's happening when the post_subject is not being used, and I can file a bug for it?

[2017-01-23 21:40] lfbrock commented on #5088
Hi @kbroulik - we're not very familiar with DBus, were any of the other applications you used built with React? Not sure if that could cause the difference.

If there's suggestions you have for what the code should be changed to, we're open to discussing them

[2017-01-23 21:43] lfbrock commented on #5109
@ReDnAxE I think we just need to update it, @crspeller is going to look at automating the process. Thanks for filing the issue!

[2017-01-23 21:58] lfbrock commented on #5099
Hi @patoupatou thanks for the report, I think I can reproduce the issue, let me know if this describes the issue properly:

1. Create a non-square custom emoji
Observed: The emoji thumbnail does not maintain the aspect ratio on the set up page
<img width="450" alt="screenshot 2017-01-23 16 57 07" src="https://cloud.githubusercontent.com/assets/9354841/22224581/256f0dd4-e18d-11e6-9da0-52ff177eeb44.

[2017-01-23 21:59] tobika commented on #5109
Yes it's possible to build the current version with webpack and it works fine when used later.

There were just 2 problems :
- the package 'babel core' is missing `npm install babel-core`
- and there was quite a strange webpack error which is solved by installing `npm i -D -E babel-preset-es2015@6.9.0`

[2017-01-23 22:29] jasonblais commented on #5173
hey @harshavardhana, an example of private endpoints use the following syntax: `com.amazonaws...` (eg: `com.amazonaws.us-west-2.s3`).

The additional issue report might have useful details as well: https://github.com/mattermost/platform/issues/5104

[2017-01-23 22:36] harshavardhana commented on #5173
Thanks @jasonblais

[2017-01-24 02:41] khawerrind commented on #4868
@jasonblais here is the PR https://github.com/mattermost/platform/pull/5175

[2017-01-24 07:21] christianAESD commented on #5158
The version info shows:

Mattermost Team Edition
Version: 3.6.0  (3.6.1)
Database: mysql

I'm on Mac OS X and i can reproduce the issue with the official client, chrome safari and firefox.

[2017-01-24 08:33] cpanato commented on #5173
this is off-topic for this ticket but maybe an improvement @jasonblais @harshavardhana can we add support to roles instead of using aws keys?

[2017-01-24 08:46] #5160 closed

[2017-01-24 09:23] #5161 closed

[2017-01-24 10:43] vladislav121 commented on #2769
Please increase the limit more than 4000 characters in future versions.
When is it possible to expect ?

[2017-01-24 11:51] #5162 closed

[2017-01-24 12:29] Lehmax commented on #5009
It's working for him now, thanks for the help.

[2017-01-24 12:29] #5009 closed

[2017-01-24 12:53] jasonblais commented on #5009
Glad to hear!

[2017-01-24 13:12] jasonblais commented on #5173
Thanks @cpanato for the suggestion. Would you like to ask that in our [public Developers channel](pre-release.mattermost.com/core/channels/developers) to hear feedback from the core team?

If you ask and get a response, can you help post it here so @harshavardhana knows as well?

[2017-01-24 14:52] jasonblais commented on #4553
Hey @pan-feng, can you help me understand your question better?

If the input box is changed to name value pairs, I think the default themes will follow that format too.

[2017-01-24 15:05] dmke commented on #5103
FYI, typing `:th` opens the picker, but it doesn't show suggestions for `:thumbsup:` (despite it beeing a valid emoji).

**Typing `:th`**

**Typing another `u`**

**Submitting `thumbsup`**

[2017-01-24 15:30] jasonblais commented on #5103
Hey @timrsmith, if you're interested, I encourage you to join our public UX design channel and offer your feedback there too. The channel is viewed by more people (both by community and core team), so you'll get a better discussion there.

We really value feedback, so I appreciate you sharing it.

@dmke That's a bug that should now be fixed on `master`, thanks for letting us know! (JIRA ticket her

[2017-01-24 15:38] lfbrock commented on #5158
Thanks @christianAESD - is there anything else about your set up you can think of that is different than the standard set up?

What's the default language for your browser, and what language do you have set in Mattermost?

[2017-01-24 15:50] dmke commented on #5103
@jasonblais Thanks!

[2017-01-24 17:02] jasonblais commented on #4553
By the way, I just heard that the theme may already be stored like a name-value pair on the backend. That could be helpful to know,

[2017-01-24 17:02] debanshuk commented on #4257
Hi @jasonblais, I checked and found that following URL is present in the image og tag or `http://www.wsj.com/`:
[code]

Which doesn't have a scheme (http: or https:), which is required by the OG standard. Though it would still have worked as the scheme of the current page (mattermost post list page) would have been used by the browser as no scheme is present in the URL, but this URL doesn't return

[2017-01-24 17:10] jasonblais commented on #4257
Thanks @debanshuk for the quick response.

We've been testing out the link previews further and are proposing to turn the image previews off for now (still keeping the text previews as-is).

I think we'll want to approach creating an image preview from a more strategic point of view where the image is actually useful to the user. E.g. all GitHub issues show a large profile picture as the preview,

[2017-01-24 17:16] Rudloff opened #5179 "[Help Wanted] Add unread indicator on mobile web view"
Since 16c3915d1afafa6b1a9120150977711a4f3c8345, the notification jewel on mobile only shows up when you have new mentions. I consider this a regression.
Our users were using it to quickly see when a new message was posted in any of the channel. Now they have to open the left pane to see if a channel name is in bold so they are complaning.

#### Summary
There isn't a way to see that a new message h

[2017-01-24 17:29] debanshuk commented on #4257
@jasonblais, Yes sure, I can work on that too (remove image previews from the website link previews).

[2017-01-24 18:56] debanshuk commented on #4257
@jasonblais, Shall I do the above mentioned change in this issue itself?

[2017-01-24 20:40] jasonblais commented on #4257
Hey @debanshuk, sorry for the delay, was away for that last couple of hours.

I'll reach out to you on https://pre-release.mattermost.com soon: I think we reached a better alternative that should be relatively easy to implement, but let's us keep the images with the link previews.

[2017-01-25 00:45] esethna opened #5183 "[Help Wanted] Add permalink to timestamp"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-25 00:46] esethna commented on #5073
Hi @leyanlo, UX team discussed and we agree with the change. I'm going to close this issue as I've opened a new help wanted issue here: https://github.com/mattermost/platform/issues/5183

[2017-01-25 00:46] #5073 closed

[2017-01-25 00:58] esethna commented on #5072
Hi @leyanlo, we've [disucssed in the UX meeting](https://pre-release.mattermost.com/core/pl/bgnj4oft67femk6siwwpqtf9hr) and think that keeping the background color to differentiate your own messages is consistent with other platforms such as Skype, WhatsApp and Facebook. The inconsistency of not having the background in the RHS is [something we are going to look into](https://mattermost.atlassian.

[2017-01-25 00:58] #5072 closed

[2017-01-25 12:12] pesusieni999 opened #5186 "Webhook creator must be part of group for the POST notifications to work."
#### Summary
Channel notifications and message posting with webhook not working if webhook creator is not member of channel.

#### Steps to reproduce
1. Create incoming webhook for some channel.
2. Choose another channel or private group (where the hook creator is NOT member).
3. Using the hook POST to the channel chosen in step 2.

#### Expected behavior
POST message is posted correctly and notif

[2017-01-25 12:18] jwilander commented on #4967
Thanks for your help on this @debanshuk !

[2017-01-25 12:18] #4967 closed

[2017-01-25 15:26] lfbrock commented on #5179
Hi @Rudloff, thanks for bringing this up, I'll queue it for discussion with the UX Team.

Maybe we can do something similar to desktop app where a dot without a counter is shown for unreads.

[2017-01-25 15:32] grundleborg commented on #4932
The username part of this ticket was fixed separately a while back, but the escape characters issue still needs fixing.

[2017-01-25 16:03] it33 opened #5190 "Add several Team Site Main Menu options to the System Console Main Menu"
Proposed Help Wanted

System Console Main Menu lacks some basic controls available in Team Site Main Menu. This ticket is to improve the experience

Currently, System Console Main Menu shows:

[code]

![image](https://cloud.githubusercontent.com/assets/177788/22297375/ec175fb4-e2d1-11e6-8f2b-58d127ec9b95.png)

Propose we update System Console Main Menu to:
[code]

##### Details on links:

1. `Admi

[2017-01-26 09:52] harshavardhana commented on #5173
After reviewing the requirements here - i think that minio-go has nothing to do with these features - these are AWS S3 specific features and we should use aws-sdk-go instead.  My current proposal is to write a new S3 specific endpoint support which provides way to expand on these features.

Now this is for Mattermost folks to decide to support all S3 features and perhaps encompassing some other fe

[2017-01-26 13:46] jasonblais commented on #5117
Closed via #5194, thanks @bjoernr-de!

[2017-01-26 13:46] #5117 closed

[2017-01-26 14:19] jasonblais commented on #4997
Hey @mikaoelitiana, let us know if you need any help.

I would personally love to have this improvement as the experience switching between teams isn't great without the loading screens.

[2017-01-26 16:25] it33 opened #5196 "[Help Wanted] Add automated unit tests that confirm the CSS and HTML generated from Markdown test inputs"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-26 17:03] hmhealey commented on #5196
Much of this functionality is covered by the [marked.js unit tests](https://github.com/mattermost/marked/tree/master/test/tests) and the [webapp's unit tests](https://github.com/mattermost/platform/tree/master/webapp/tests), but these focus only on the HTML that's generated without paying attention to how it is styled.

Additional unit tests for the HTML would be helpful, but the main thing that w

[2017-01-26 19:12] coreyman commented on #4707
https://mattermost.atlassian.net/browse/PLT-4955

I just upgraded to 3.6.1 and the database upgraded to 3.6.0 schema. I am still having this issue. Previous version 3.5. Users imported from slack are not able to start a direct message. I tried fixing the issue by adding all users the 'system_user' role in postgres when I was on 3.5 but that didn't do anything either.

[2017-01-27 00:57] esethna opened #5202 "[Help Wanted] [PLT-1844] Testing APR Zap 3"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-01-27 00:58] jasonblais commented on #5202
This is just a test for an integration - please ignore

[2017-01-27 00:58] #5202 closed

[2017-01-27 06:55] mikaoelitiana commented on #4997
thanks @jasonblais, I will let you know if I encounter difficulties

2017-01-26 17:19 UTC+03:00, Jason Blais <notifications@github.com>:

--
Mika ANDRIANARIJAONA
mikaoelitiana@gmail.com
+261 33 11 15699
@mikaoelitiana

[2017-01-27 09:38] Lc0rE commented on #2434
Thumb up for @vladimirprieto. Came here for the same reason and it seems that correcting `/opt/mattermost/data` the issue is fixed (at least for us). Another thumb up for the `sudo -u mattermost ./platform`

[2017-01-27 10:55] mpoornima commented on #4753
@jasonblais, I'm interested in working on this issue. I've already started working on this and have almost completed the edit incoming webhook flow. As I'm contributing for the first time, can you please let me know the procedure to follow to get the issue assigned to me.

Thanks
Poornima

[2017-01-27 12:55] jasonblais commented on #4753
That's fantastic, thanks @mpoornima!

To prepare and submit a pull request, you can follow our [contribution guidelines in our Mattermost documentation](https://docs.mattermost.com/developer/contribution-guide.html#preparing-a-pull-request).

Looking forward to the improvement!

[2017-01-27 12:56] grundleborg commented on #4707
@coreyman were the users imported before you upgraded to 3.6.1 or after?

[2017-01-27 13:08] jasonblais commented on #2434
Thanks @vladimirprieto and @Lc0rE,

would either of you like to make an update in our docs? On the top right corner, you can click "Edit", which lets you edit changes and submit them as a pull request.

![image](https://cloud.githubusercontent.com/assets/13119842/22371868/c60f9ee8-e467-11e6-854b-16287b7e505b.png)

[2017-01-27 13:54] jasonblais commented on #5108
Thanks @bjoernr-de! Closing as resolved

[2017-01-27 13:54] #5108 closed

[2017-01-27 21:19] lfbrock commented on #5186
Hi @pesusieni999 thanks for the report!

I think this should be fixed next release ([ticket here](https://mattermost.atlassian.net/browse/PLT-5284)), we're just double checking what the expected should be for private groups since you don't really have permission to the channel anymore after you leave it.

[2017-01-27 22:04] lfbrock commented on #5179
@Rudloff made a ticket here for this issue: https://mattermost.atlassian.net/browse/PLT-5401

If it's something you're interested in working on, let us know!

[2017-01-27 23:09] jasonblais commented on #5013
Closing the issue here -- we'll track the issue here: https://mattermost.atlassian.net/browse/PLT-5348

It's open for community contributions if anyone is interested

[2017-01-27 23:09] #5013 closed

[2017-01-28 15:51] it33 opened #5215 "REGRESSION: Line break appears before pre-formatted text inconsistently"
#### Summary
REGRESSION: Line break appears before pre-formatted text inconsistently

#### Steps to reproduce
Post the following messages into `master` branch on pre-release.mattermost.com (Left image below) and then in Mattermost 3.6 on demo.mattermost.com (Right image below).

![image](https://cloud.githubusercontent.com/assets/177788/22397768/c234f95a-e52d-11e6-9d70-0f7069cfc72d.png)

![image](

[2017-01-28 16:07] it33 opened #5216 "Add load_test for finding line break inconsistencies in markdown rendering"
Proposed Help Wanted

Add a [/loadtest option](https://github.com/mattermost/platform/blob/master/tests/README.md) to https://github.com/mattermost/platform/blob/master/tests/test-markdown-lists.md that checkes for line breaks ahead of pre-formatted text in different configurations:
https://github.com/mattermost/platform/issues/5215

Note: This is difficult because we give our instructions in pre-

[2017-01-30 09:33] cpanato commented on #5173
I agree that mattermost should support roles as well.

[2017-01-30 10:28] altafhussian opened #5219 "How to use mattermost api?"
I have installed mattermost server successfully. Please guide me to proceed, how to use api. I haven't find any api folder in my setup.

I have downloaded linux binary from [https://about.mattermost.com/download/](this)

[2017-01-30 13:04] jasonblais commented on #4921
Hey @leyanlo, wondering if we were currently inconsistent in the usage of straight vs curly quotes, would you know?

Also, wondering if you had a set of correct typographical symbols for dashes, ellipses, etc. as we could include those in the same help wanted ticket.

[2017-01-30 13:05] jasonblais commented on #5088
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-01-30 13:05] #5088 closed

[2017-01-30 13:07] jasonblais commented on #5099
Hey @patoupatou, we created a Jira ticket for us to track the issue: https://mattermost.atlassian.net/browse/PLT-5358

Let us know if anyone is interested helping with a fix?

Also, @patoupatou, if the issue doesn't describe your scenario, please let us know.

[2017-01-30 13:07] #5099 closed

[2017-01-30 13:08] jasonblais commented on #5136
Closing for now to track in Jira: https://mattermost.atlassian.net/browse/PLT-3992

Thanks everyone!

[2017-01-30 13:08] #5136 closed

[2017-01-30 13:12] jasonblais commented on #5219
Thanks @altafhussian! We've got our API documentation available at https://github.com/mattermost/mattermost-api-reference

Would this be helpful to get you started?

[2017-01-30 14:08] lfbrock commented on #5186
Confirmed this works on master for private groups as well, closing this issue + the fix will be available in the net release (March 16th).

![image pasted at 2017-1-26 19-19](https://cloud.githubusercontent.com/assets/9354841/22425997/9d794978-e6cb-11e6-8356-9db85fa5070c.png)

[2017-01-30 14:08] #5186 closed

[2017-01-30 14:22] patoupatou commented on #5099
Thanks! I think the issue correctly describes my problem, except for me I noticed it with the emoji instead of the reaction (the reaction "appeared" to be fine whereas the emoji was wrongly scaled). I think this has to do with either the height or width that is longer than the other.

This can probably be fixed with css but I'm not much of a web dev so I'm not sure where to fix it. I'll be followi

[2017-01-30 15:44] ZJvandeWeg opened #5224 "[Help Wanted] Failed slash command should show input"
#### Summary
On Slack, when a slash commands fails for any reason, the input (slash command and its parameters) are shown back to the user. Would love to have this in Mattermost too as now a timeout, or IO error might mean a lot of retyping.

#### Steps to reproduce
Create a slash commands which times out. And trigger it.

#### Expected behavior
Feedback it failed, and slash command in the typing

[2017-01-30 18:23] it33 opened #5227 "[Help Wanted] Update error message and add link"
Help Wanted

People are struggling with the error message:

- [“Please check connection, Mattermost unreachable. If issue persists, ask administrator to check WebSocket port.”](https://pre-release.mattermost.com/core/pl/scxb4c5y4jbz9qfeihzabp5u1y)

Propose

1. Rename message to `Server unreachable, check network connection. If issue persists, ask administrator to [troubleshoot](https://about.matte

[2017-01-30 22:35] twalk6 commented on #5227
To add to documentation: The combination of the Safari browser, websockets, and a self-signed cert can cause a broken cert chain. "WebSocket network error: OSStatus Error -9807: Invalid certificate chain". I don't see this issue with anything else.

[2017-01-31 02:35] leyanlo commented on #4921
@jasonblais Within the app itself I didn't see any usage of curly quotes. I did see curly quotes in the handbook if that makes a difference: https://docs.mattermost.com/process/training.html#id11

Curly quotes, dashes, and ellipses are the most common characters and probably all you need to worry about. Full set would be something like this: https://www.w3.org/wiki/Common_HTML_entities_used_for_ty

[2017-01-31 03:59] it33 commented on #4921
Thanks @leyanlo thanks @jasonblais if it's not inconsistent agree it's a feature request for now to change the standard set, and not a bug,

Closing ticket,

[2017-01-31 03:59] #4921 closed

[2017-01-31 06:12] it33 commented on #4178
Closing this ticket, as there's now documentation on a straight-forward way to update params in the `config.json` file: https://docs.mattermost.com/developer/integration-faq.html#how-should-i-automate-the-install-and-upgrade-of-mattermost-when-included-in-another-application

[2017-01-31 06:12] #4178 closed

[2017-01-31 11:19] Rudloff opened #5235 "Remove config.json from versioning"
Would it be possible to add the config.json file to `.gitignore`?
I get conflicts everytime I switch branch because I have a modified config file.
And it makes it way too easy to accidentally commit a database password.

[2017-01-31 14:31] jasonblais commented on #5235
Thanks @Rudloff! This is queued for [Wednesday's Developers meeting](https://pre-release.mattermost.com/core/pl/q5m1piyj77rzjbg6eewbkxk88y).

The meeting is open for public and starts at 10am San Francisco time on Wednesday, in case you'd like to attend :)

[2017-01-31 14:34] jasonblais commented on #5224
Thanks @ZJvandeWeg! I created a Jira ticket and it will be discussed on Wednesday's triage meeting: https://mattermost.atlassian.net/browse/PLT-5412

We'll likely turn this into a help wanted issue, so if you or someone else in the community is interested helping implement it, let us know!

[2017-01-31 15:12] jasonblais commented on #4362
Closed via #5140, thanks @cpanato!

[2017-01-31 15:12] #4362 closed

[2017-01-31 19:14] jasonblais commented on #5173
Sorry @harshavardhana for the delay..what UI would be needed for supporting IAM roles? UI in the System Console?

I think there's three things we'd consider, including
 1. IAM role support
 2. S3 (private) VPC endpoint support, to eliminate the need for Mattermost to go over the public Internet to write to S3
 3. S3 encryption support

@woooooopwop might be able to provide further details in case

[2017-01-31 19:16] cpanato commented on #5173
S3 encryption is just a flag you set when you upload

[2017-01-31 20:40] vladimirprieto commented on #2434
didn't saw tha Edit link.

done.

;)

[2017-01-31 20:49] jasonblais commented on #2434
Thanks @vladimirprieto! 👍

[2017-02-01 01:50] jasonblais commented on #5159
Closed via #5159, thanks @saturninoabril!

[2017-02-01 01:50] #5159 closed

[2017-02-01 10:27] Quintasan commented on #2490
Hardly an argument. How about just using the full font? Take a gander an how your OS X application looks like now:
![image pasted at 2017-2-1 11-17](https://cloud.githubusercontent.com/assets/6539261/22503270/433b9cb6-e871-11e6-8a94-be148cb05649.png)

[2017-02-01 11:46] grisuthedragon commented on #643
+1

[2017-02-01 11:58] Analect commented on #4191
@ZJvandeWeg
Did you ever manage to get a solution to be able to access the mattermost API as a logged-in user via Gitlab SSO?

[2017-02-01 12:00] ZJvandeWeg commented on #4191
@Analect Yes I was, hope you can read Ruby :)

https://github.com/gitlabhq/gitlabhq/blob/master/lib/mattermost/session.rb#L10

[2017-02-01 12:29] Analect commented on #4191
@ZJvandeWeg
Thanks!  My Ruby skills are non-existent.
I can see this is in master, do you know if it has been folded into any recent released versions of gitlab?

Your code snippet references `/api/v3/oauth/gitlab/login` which appears to be same thing that's getting called against the mattermost API, when logging in to mattermost using gitlab (see below).

![image](https://cloud.githubusercontent.

[2017-02-01 14:04] andreistanciu24 commented on #4997
@jasonblais I took a look at this issue and from my point of view everything is ok. The loading screen appears when you switch teams, it's just too fast sometimes to observe. I attached a print screen while in debugging.

![image](https://cloud.githubusercontent.com/assets/11387264/22509725/ee207f54-e897-11e6-8e12-549296199a5b.png)

After the channels are loaded for the first time they will be cac

[2017-02-01 14:43] jasonblais commented on #4997
Thanks @andreistanciu24 for looking into it! This is the flow of screens for me

1. First screen before team switching
![image](https://cloud.githubusercontent.com/assets/13119842/22510123/bc9dbf2a-e85e-11e6-8c9c-01e5ac33cfcb.png)

2. After clicking team icon, team name changes and channel header disappears. Old content appears in center channel. Channels aren't updated in sidebar.
![image](https:

[2017-02-01 14:48] andreistanciu24 commented on #4997
Alright, I got it now. Thanks for clearing that up

[2017-02-01 14:57] jasonblais commented on #4997
Sure thing! Thanks for taking a look at this @andreistanciu24!

[2017-02-01 16:44] joernhees opened #5251 "cannot manage users without team?"
as an admin i don't have any way to see all users on a server, do i?

i managed to drop a user out of its last team and now can't deactivate it / reset password :-/

[2017-02-01 16:57] joernhees opened #5252 "update user-email from oauth"
Administering an internal gitlab and mattermost for many students, we frequently run into the problem that a student's email address changes. We then simply update it on gitlab, but the email notification from mattermost end up on the old address and ultimately bounce.

It seems mattermost doesn't update the email address from the oauth provider. In #1897 a workaround is mentioned. However, we wer

[2017-02-01 17:11] lfbrock commented on #5252
Hi @joernhees - this is something we need to fix, we have a ticket here tracking it: https://mattermost.atlassian.net/browse/PLT-3751

Is it something you would be interested in working on?

[2017-02-01 17:25] jasonblais commented on #5224
I updated this into a Help Wanted issue if someone would like to take a look?

----

If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join ou

[2017-02-01 17:38] jasonblais commented on #5251
Hey @joernhees,

This is something we're looking at improving, so you can manage all your users easily through the System Console.

In the meantime, we have available commands that you can use, for instance:
  - [resetting user's password](https://docs.mattermost.com/administration/command-line-tools.html#platform-user-password)
  - [deactivating a user](https://docs.mattermost.com/administration/

[2017-02-01 17:46] Analect commented on #4191
@ZJvandeWeg .... am I right in thinking your session.rb is included in [8.17-pre](https://github.com/gitlabhq/gitlabhq/releases/tag/v8.17.0.pre) ... and does this expose an endpoint on the gitlab API to get a session token for mattermost API?  Thanks.

[2017-02-01 18:11] ZJvandeWeg commented on #4191
@Analect We don't expose anything to other consumers. If you have an interesting use case you could open an issue on GitLab.com, but this might have security implications, so we should discuss it thoroughly.

[2017-02-01 18:16] joernhees commented on #5252
would love to, but i'm afraid i'm not go savvy enough to actually be of any help :-/

[2017-02-01 19:14] esethna opened #5254 "[Help Wanted] [PLT-5393] Testing zapier integration - please ignore"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-01 19:16] #5254 closed

[2017-02-01 19:34] it33 opened #5255 "Speed up channel switcher (CTRL+K)"
Proposed Help Wanted

Discussed with JW:

Re-write the channel switcher component that is brought up with the CTRL+K shortcut

De-couple channel switching logic from auto-complete so user can type in channel name and hit ENTER quickly, without waiting for auto-complete to finish.

Generally minimize the number of key-pressed needed--implement channels switcher first and add autocomplete functional

[2017-02-01 20:26] Analect commented on #4191
@ZJvandeWeg
I've added a thread to an [issue](https://gitlab.com/gitlab-org/kubernetes-gitlab-demo/issues/14#note_22585884) back in the kubernetes-gitlab-demo to see if they have a better sense if your code can potentially expose a session token to work against the mattermost API that perhaps can be passed to a 'secret' variable in the context of a kubernetes cluster and then potentially be levere

[2017-02-01 21:10] joernhees commented on #5251
thanks. we have a gitlab omnibus, so in case anyone else wonders: [this](https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1015#note_22576761) is how you actually invoke the `platform` command:
[code]

so you can just do:
[code]

[2017-02-01 21:14] joernhees opened #5257 "commandline channel list "Error: cli.license.critical""
on a current gitlab omnibus install i can't list the channels of our team:
[code]

[2017-02-01 21:44] joernhees commented on #5257
hah, i just noticed that this is an "enterprise feature"... are you kidding?

given that as an admin i want to find out which channel eats up all my disk-space and their folders are using their ids, this is a basic feature...

anyhow, here's a simple command for other admins:
[code]

seems you get all "direct" message channel ids as well if remove the `and c.type <> 'D'`

[2017-02-01 21:49] joernhees opened #5258 "running team add <teamname> <username> from commandline leads to weird chat message"
<img width="470" alt="screen shot 2017-02-01 at 20 52 59" src="https://cloud.githubusercontent.com/assets/464192/22527727/860fd26e-e8d0-11e6-976c-d8aca9bb43b5.png">

(username redacted)

[2017-02-01 22:15] hmhealey commented on #5258
Hi @joernhees,

What version of Mattermost are you using?

[2017-02-01 23:12] esethna opened #5259 "[Help Wanted] [PLT-1099] Change default purpose text for the "Town Square" channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-01 23:24] esethna opened #5260 "[Help Wanted] [PLT-5393] Testing zapier integration - please ignore"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-01 23:24] #5260 closed

[2017-02-01 23:35] esethna opened #5261 "[Help Wanted] [PLT-1412] Update search buttons on mobile"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-01 23:40] jasonblais commented on #5134
Hey @CometKim,

we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you have any more details about the observed behaviour when the post_subject template is not used, please let us know and we can file a bug for it.

[2017-02-01 23:40] #5134 closed

[2017-02-01 23:40] esethna opened #5262 "[Help Wanted] [PLT-2407] Improve ordering of uploaded attachments"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-01 23:51] esethna opened #5263 "[Help Wanted] [PLT-3206] Dragging and dropping a file in the left-hand sidebar should upload the file in center channel"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-02 00:26] esethna opened #5264 "[Help Wanted] [PLT-3355] Replace the handle field and label with url"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-02 00:26] esethna opened #5265 "[Help Wanted] [PLT-3324] Support implied attachments for incoming webhooks"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-02 00:26] esethna opened #5266 "[Help Wanted] [PLT-3214] Mobile Web: Auto-focus cursor in the search box and open keyboard when the search icon is tapped"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-02 00:31] esethna opened #5267 "[Help Wanted] [PLT-3447] Add support for context-specific translations"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-02 08:51] joernhees commented on #5258
[code]

[2017-02-02 11:31] #5074 closed

[2017-02-02 12:30] Frankstar commented on #991
do i miss something? its not animated for me ... (2017)

[2017-02-02 14:31] #4716 closed

[2017-02-02 17:19] jasonblais commented on #5173
That's true @cpanato, but I think we'd need add support for it? It's not hard to implement

@harshavardhana would you need detail about the UI for IAM roles?

[2017-02-02 17:32] woooooopwop commented on #5173
Thanks guys for your work on this.

Why would you need a change in the UI to support IAM roles?
Assuming we do have `amazons3` as `DriverName`, leaving `AmazonS3AccessKeyId` and `AmazonS3SecretAccessKey` should tell the application to use IAM role associated to the EC2.

[2017-02-02 22:07] jasonblais commented on #5158
Hey @christianAESD, what language have you set in Mattermost?

We're trying to replicate your configuration so we can try and reproduce the issue.

[2017-02-02 22:11] jasonblais commented on #5109
Thanks everyone! I've created a ticket to update to the latest version and we'll look at automating the process as well.

https://mattermost.atlassian.net/browse/PLT-5432

[2017-02-02 22:11] #5109 closed

[2017-02-02 22:16] jasonblais commented on #5219
Hey @altafhussian, looks like you found help in our [Integrations and Apps channel](https://pre-release.mattermost.com/core/channels/integrations)

If you have any further questions, don't hesitate to ask them in that channel. Thanks for using Mattermost!

[2017-02-02 22:16] #5219 closed

[2017-02-02 22:25] jasonblais commented on #5235
Hey @Rudloff, we'll add config.json to `.gitignore` for now: https://github.com/mattermost/platform/pull/5276

We'll investigate a better long-term plan later, but it should at least be a sufficient temporary solution.

Thanks for bringing it to our attention :)

[2017-02-02 22:38] jtdaugherty opened #5281 "Change of 3.6 /execute request format undocumented"
#### Summary
Apparently 3.6.0 changed request parsers, making the `execute` endpoint field requirements change (e.g. from `channelId` to `channel_id`) and this change is undocumented and causing 500 responses to outdated clients.

Specifically, 3.5.0:
https://github.com/mattermost/platform/blob/3f19ccf1b1a6efdcc990cf8a0270ec4ffc0c6e22/api/command.go#L92
and 3.6.0:
https://github.com/mattermost/pla

[2017-02-02 22:58] aisamanra opened #5282 "Failing Commands Send Malformed JSON Response"
#### Summary

The `/api/v3/teams/{team id}/commands/execute` endpoint will send invalid JSON if an error occurs.

#### Steps to reproduce

Craft a malformed command request—for example, by omitting the `channel_id` field in the request JSON object—and post it to the `/api/v3/teams/{team id}/commands/execute` endpoint. The response will be invalid JSON of the form described below. We discovered thi

[2017-02-03 11:00] akhmerov opened #5286 "Channel links are not rendered in channel header"
#### Summary
Channel links (`~channel`) are not rendered when a part of a channel header.

#### Steps to reproduce
Install mattermost 3.6.2, create a channel, edit its header, create a `~`-link, e.g. `~town-square`.

#### Expected behavior
A link to the channel is rendered

#### Observed behavior
Isn't rendered.

[2017-02-03 14:03] jasonblais commented on #5286
That's a nice catch. Created a Jira ticket here: https://mattermost.atlassian.net/browse/PLT-5436

@akhmerov we'll likely turn this into a Help Wanted issue, would you be interested helping with a fix?

[2017-02-03 14:06] akhmerov commented on #5286
@jasonblais I'd be happy to, but it isn't my expertise and therefore the time investment would be unreasonably high.

[2017-02-03 14:12] jasonblais commented on #5286
No worries! :)

We'll see if someone else takes it, thanks for bringing this to our attention

[2017-02-03 14:13] jasonblais commented on #5281
Thanks @jtdaugherty for the report!

Would you have a suggestion for what error message would be more useful? Would be happy to update or accept a pull request for it.

I'll also bring this up to the team and discuss the best way to communicate request parser changes (maybe under "compatibility" changes in the changelog)

[2017-02-03 14:21] jasonblais commented on #5282
Thanks @aisamanra for the report! Created a Jira bug ticket here: https://mattermost.atlassian.net/browse/PLT-5437

[2017-02-03 14:36] burka commented on #2733
You could mark any message above the last message seen as read. That way you won't loose the scrolling position and if you jump to the end all would get marked read.

[2017-02-03 14:44] joshaidan opened #5287 "After upgrading to 3.6.2, `platform version` still shows 3.6.0"
#### Summary
I noticed after upgrading to 3.6.2, when I do a `platform version` the output still shows 3.6.0.

#### Steps to reproduce
I am using version 3.6.2. To reproduce the issue type `platform version`.

#### Expected behavior
It should report version 3.6.2.

#### Observed behavior
[code]

#### Possible fixes
I believe the problem is here, in model/version.go:
[code]
I imagine it could be fi

[2017-02-03 14:45] esethna opened #5288 "[Help Wanted] [PLT-3751] Update GitLab user attributes on log in"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-03 14:49] jasonblais commented on #5252
Thanks @joernhees, turned the Jira ticket into a help wanted issue here: https://github.com/mattermost/platform/issues/5288

[2017-02-03 14:49] jasonblais commented on #5252
If anyone in the community would like to work on it, please comment on the ticket #5288!

[2017-02-03 14:49] #5252 closed

[2017-02-03 17:10] jtdaugherty commented on #5281
I think something like this would be the most useful:
[code]

[2017-02-03 17:12] esethna opened #5289 "[Help Wanted] [PLT-5436] Render channel links in the channel header"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-03 17:16] jasonblais commented on #5286
Created a help wanted ticket here: https://github.com/mattermost/platform/issues/5289

[2017-02-03 17:16] #5286 closed

[2017-02-03 17:27] esethna opened #5290 "[Help Wanted] [PLT-114] Add ability to receive a notification when nickname is mentioned"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-03 17:28] jasonblais commented on #5190
Ticket here, queued for help-wanted approval in the next triage meeting: https://mattermost.atlassian.net/browse/PLT-5440

[2017-02-03 18:08] esethna opened #5291 "[Help Wanted] [PLT-4606] Add date separators to the right hand side to prevent dates overlapping the '...' menu on mobile right hand sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-03 18:08] esethna opened #5292 "[Help Wanted] [PLT-1383] Infinite scroll"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2017-02-03 18:09] Purplee opened #5293 "[Help Wanted] Error when installing"
Hi everybody !

I try installing mattermost with : https://docs.mattermost.com/install/prod-debian.html#production-install-on-debian-jessie and I have this error when I come to 7.Test the Mattermost Server :

`sudo -u mattermost ./platform
./platform: 1: ./platform:ELF: not found
./platform: 2: ./platform: Syntax error: "(" unexpected
`
I'm running on debian wheezy with a i686 processor

Thank

[2017-02-03 18:13] mattermod commented on #5293
Thanks @Purplee for your question,

Because this seems to be more a troubleshooting discussion than a product defect, could we have your help posting this to the [Troubleshooting Forum](http://www.mattermost.org/troubleshoot/)? There are more forum visitors than GitHub issue visitors, which means a potentially faster response.

Per above link, please include **complete steps to reproduce your issu

[2017-02-03 18:28] Purplee commented on #5293
Ohhh sorry

I posted on the forum !

[2017-02-03 20:22] jasonblais commented on #5293
No worries! :)

Thanks for posting in the forums 👍

[2017-02-03 20:22] #5293 closed

[2017-02-03 20:23] jasonblais commented on #5287
Hey @joshaidan! I believe that represents the major version release, but I've asked our team to confirm,

[2017-02-03 21:33] jasonblais commented on #2490
@Quintasan ,

Reopened the Jira ticket – we can consider adding full font, so that Cyrillic characters are supported.

Queued for triage to discuss whether it should be a feature request, help wanted or internal backlog ticket

[2017-02-04 03:56] pan-feng commented on #5292
I had do this one.

[2017-02-04 04:16] pan-feng commented on #5292
#5303

[2017-02-04 09:25] pan-feng commented on #5263
I try to do this one,    like this ?
![image](https://cloud.githubusercontent.com/assets/24997742/22617384/ded0aa38-eafe-11e6-8fe2-1e785e732d14.png)

[2017-02-04 18:11] kallama commented on #5287
It looks like they wanted to keep the Version value for major versions and the build number for minor. This is what mine looks like:

[code]

[2017-02-04 21:40] joshaidan commented on #5287
Oh okay, I see. Since I was building from source `Build Number` was showing up as `dev`, which was why I didn't see it. I dunno if it's worth somehow incorporating the minor version number somehow in source builds. Otherwise I guess this isn't a huge issue.

[2017-02-06 03:17] pan-feng commented on #5263
I had fix this

[2017-02-06 03:17] pan-feng commented on #5263
![20170206_105313](https://cloud.githubusercontent.com/assets/24997742/22633605/e45cbd60-ec5d-11e6-9a3b-a4d0ce1c6ddf.gif)

[2017-02-06 07:55] pan-feng commented on #4598
I want to try this one.

[2017-02-06 12:38] mpoornima commented on #5288
@esethna I would like to work on this. Can you please assign this to me.

Thanks

[2017-02-06 15:06] aparcar opened #5312 "Channel posts won't load, error in logs `no fields [editat] in type Post`"
#### Summary
Channel posts won't load, error in logs `no fields [editat] in type Post`

#### Steps to reproduce
Using Mattermost 3.6.2 with Postgresql

#### Expected behavior
Loading any channel results in infinite showing "Loading ..." without any progress.
Log says
[code]
#### Possible fixes
It worked for about a week, maybe a re-installation would fix the issue but I don't want to delete all ch

[2017-02-06 15:19] S6066 commented on #4730
I have the bug again, on MM PC Client 3.5.0, and MM 3.6.1 Enterprise Edition.
It occurs when I lock windows, and when it occurs, the windows is in the taskbar even if I closed it before.
The window is of course black, and I can't make it appear or close it.
It also occurs when the PC is sleeping for too long, maybe because I'm using wifi and windows deactivate for power saving purposes ?

[2017-02-06 15:29] aparcar commented on #5312
editat seems to be in the `mattermost` database, even tho the value is for every entry `0`

[2017-02-06 15:30] jasonblais commented on #5288
Thanks @mpoornima, go for it! 👍

[2017-02-06 15:34] jasonblais commented on #4730
Hey @S6066! Does any of the troubleshooting steps under [Desktop App window is black and doesn’t load the page](https://docs.mattermost.com/install/desktop.html#troubleshooting) help resolve it?

When you say close, do you press the "X" to close the app window or do you quit the app?

[2017-02-06 15:47] S6066 commented on #4730
1) Yeah, as I said, when I quit the app (right click on the tray icon > Exit) and re-start it, I don't have the bug.
2) I press the "X"

[2017-02-06 16:33] Rudloff commented on #5235
This is not enough. Git will still track changes on this file as long as it is in the repository.

[2017-02-06 17:20] aparcar commented on #5312
the `channelId=` is different from the channel id in the api requests, is that correct?

[2017-02-06 17:25] jasonblais commented on #5258
Thanks @joernhees!

Can you help give the exact command line that you ran? You can of course change the actual team and username for privacy.

In which channel did this message post? Did the user successfully join the team?

[2017-02-06 17:40] jasonblais commented on #5287
Thanks @joshaidan and @kallama, that's correct.

We currently use the `version` to represent major version releases, and then the `build number` for each individual release.

We might change this convention in the future however, we've been discussing about it given a few other community members have brought this up.

I'll close this issue for now though, since it's not a product defect.

[2017-02-06 17:40] #5287 closed

[2017-02-06 17:42] hmhealey commented on #5312
Hi @aparcar, were you running off the master branch at any point? That `EditAt` column shouldn't exist in 3.6, so you're safe to delete the column by connecting to the database and running `ALTER TABLE posts DROP COLUMN editat`. After it's gone, your issue should be fixed.

[2017-02-06 19:27] aparcar commented on #5312
Indeed I did build `platform` but did a regular master pull, not using any other branch.
However, the command fixed the issue, thank you so much!

[2017-02-06 19:27] #5312 closed

[2017-02-06 21:42] activedecay opened #5317 "can't search for a literal ."
#### Summary
can't search for a literal .

#### Steps to reproduce
1. type a message like `db.json`
1. type in the search box `db.json`

observed that there are no results. this is an error because i expect results.

there are no known workarounds
1. wrapping in quotes did not help, as `"db.json"` also gave no search results
1. found that while searching for words without the literal dot '.' chara

[2017-02-06 23:20] mtriff opened #5321 "mattermost NPM module out of date"
The mattermost NPM module is still at version 3.4.0, and does not reflect the current version in the [repository](https://github.com/mattermost/mattermost-driver-javascript).

[2017-02-07 00:43] mtriff commented on #5321
This has been addressed by #5109

[2017-02-07 00:43] #5321 closed

[2017-02-07 01:09] mtriff commented on #5109
FYI, I also needed to install the `babel-plugin-transform-object-assign` plugin to successfully run webpack on the latest version of `Client.jsx` in the repository.

[2017-02-07 06:48] jasonblais commented on #4957
Resolved by #5032, thanks @AymaneKhouaji!

[2017-02-07 06:48] #4957 closed

[2017-02-07 07:04] pan-feng commented on #5264
I had pull request #5322 , but I had some question for the URL.
the correct url is   http://xxxxxx/[team name]/[channels]/[channel name],    are we lost "channels"  path part ?
![image](https://cloud.githubusercontent.com/assets/24997742/22681047/42d2c040-ed46-11e6-96b0-94950efb1e24.png)

[2017-02-07 07:58] joernhees commented on #5258
the command was equivalent to `platform team add ourteam thatuser`
more complete, as this is gitlab, it was:

[code]

`thatuser` was the username, not its email.

the message appeared in #general, the user entered the team successfully, it seems.

was it wrong to use the username instead of its email?

[2017-02-07 08:40] rolfchess commented on #2541
I tink this feature request is not at all the same as read/write permissions. I have no uservoice account, so I'll put my response here: I think this feature request is still valid and useful.

[2017-02-07 10:10] pan-feng commented on #5289
Want to possession of this.

[2017-02-07 12:57] mikaoelitiana commented on #4997
@jasonblais what do you think is the best approach for that? I am thinking of editing the `onClick` function when `TeamButton` link is clicked and there I will see how to set postList to `null`. This should make the loading appear.

[2017-02-07 14:02] senk opened #5323 "BUG: panic: runtime error: invalid memory address or nil pointer dereference"
#### Summary
Problems when using `platform`-Commands in Gitlab-Mattermost
#### Steps to reproduce
Gitlab-Mattermost:
[code]
Debian 8:
`Linux mattermost 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux`

To Reproduce:
`sudo -u mattermost ./mattermost -config=/var/opt/gitlab/mattermost/config.json version`
#### Expected behavior
Version Info without seg violation
#### Observed be

[2017-02-07 14:46] mikaoelitiana commented on #4997
I have made a pull request. I hope this is a correct way to solve this. Here is what it looks like :

![fevr -07-2017 17-41-05](https://cloud.githubusercontent.com/assets/674667/22695836/3f584252-ed5d-11e6-90cb-3c63e22c4e27.gif)

[2017-02-07 16:30] jasonblais commented on #5289
Go for it! Thanks @pan-feng for your help!

[2017-02-07 16:52] jasonblais commented on #5006
Closed via #5214, thanks @saturninoabril!

[2017-02-07 16:52] #5006 closed

[2017-02-07 16:52] jasonblais commented on #5179
Closed via #5234, thanks @Rudloff!

[2017-02-07 16:52] #5179 closed

[2017-02-07 17:07] jasonblais commented on #4997
That looks pretty good! I'll check it out with #5325 +:1:

[2017-02-07 17:41] jasonblais commented on #5264
hey @pan-feng, that's a good point.

Updated the screenshot to include `channels/`

[2017-02-07 21:31] jasonblais commented on #5235
Thanks @Rudloff, we've got a ticket to [investigate a proper long-term solution for modifying config.json](https://mattermost.atlassian.net/browse/PLT-5439)

[2017-02-08 03:37] pan-feng commented on #5264
@jasonblais   I had add channels  #5322

[2017-02-08 06:31] jasonblais commented on #5264
Thanks @pan-feng! 👍

[2017-02-08 07:31] pan-feng commented on #5289
link #5334

[2017-02-08 07:52] tejasbubane opened #5336 "Unable to find team for deletion"
#### Summary
`platform` CLI cannot find team for deletion although it can be seen in System Console.

#### Steps to reproduce
I am using [mattermost-docker](https://github.com/mattermost/mattermost-docker) (using docker-compose). Run the following command:

[code]

This will attach to the running container and open up a prompt:

[code]

#### Expected behavior
The team is visible in the System Cons

[2017-02-08 08:27] mikaoelitiana commented on #5291
I want to work on this feature

[2017-02-08 08:52] jasonblais commented on #5291
Awesome, thanks @mikaoelitiana! Go for it 👍

[2017-02-08 11:25] leyanlo opened #5337 "Account Settings scroll bug"
#### Summary
Scrolling issue in Account Settings > Advanced

#### Steps to reproduce
1. Go to Account Settings > Advanced
2. Scroll down

#### Expected behavior
Shouldn't be able to scroll down

#### Observed behavior
Scrolls down:
![settings scroll bug](https://cloud.githubusercontent.com/assets/1285326/22735239/bdc562f0-edad-11e6-9983-e1b63cb0925f.gif)

#### Possible fixes
Something to do with p

[2017-02-08 13:59] senk opened #5338 "Team Members are able to delete Channels"
#### Summary
In current Master f1c9ae5
Team Members are able to delete Channels which
* are not created by them
* have active users

without the appropriate rights

#### Steps to reproduce
1. Start Server
2. Create Admin-User
3. Create new channel as Admin
4. Retrieve Team Invitation Link via Menu
5. Open Incognito-Tab with Link
6. Create User
7. Delete newly created Channel while admin still in i

[2017-02-08 14:25] it33 commented on #5338
The intended design is for Team Edition is that any team member to archive a channel and any team member to restore an archived channel, the problem is there was a set back in the UI design: https://github.com/mattermost/platform/issues/4756

[2017-02-08 16:45] jasonblais commented on #5337
Thanks @leyanlo! We have a ticket here to fix it: https://mattermost.atlassian.net/browse/PLT-4066

If anyone is interested helping, please let us know?

[2017-02-08 19:54] donjuma opened #5339 "RestrictCreationToDomains not applied when using Google OAuth for login"
#### Summary
Using Mattermost EE for Google OAuth login, it does not respect the restricted domain. Anyone using any email can still create an account. Even setting "EnableUserCreations" to false still allows anyone with a gmail account to create an account and login. It should only work for the given domain name.

#### Steps to reproduce
Mattermost Enterprise Edition Version 3.6
Enable Google OAu

[2017-02-08 23:44] jasonblais opened #5344 "[Help Wanted] Group messaging"
We're looking for anyone interested in helping contribute this improvement.

If you're interested please comment here or come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team.

---

**Current Behavior**: Currently if you want to have a

[2017-02-08 23:45] #4247 closed

[2017-02-09 11:52] jmayday opened #5350 "Referencing user with lowercased full name doesn't work"
#### Summary
Referencing user with lowercased full name doesn't work

#### Steps to reproduce
Let's assume that you have buddy with name "Bruce Lee" with login @bl7000.
Try to reference him:
@bl (works - user appears on dropdown list)
@bruce (also works)
@Bruce (doesn't work)

#### Expected behavior
Expected is that autosuggestion works also for @Bruce

#### Observed behavior
Screenshots below
![b

[2017-02-09 12:06] martinambrus commented on #4324
This is happening for us as well. Here's answer to your questions:

1. latest Chrome
2. 3.4.0, mysql
3. it's not consistent and not on a single channel - I just tried to reload the page where this happened and history worked fine the second and third time as well as subsequent number of times after some (2 hours) of inacvitity (i.e. opening the page, not typing anything from anyone & trying the hi

[2017-02-09 15:49] jasonblais commented on #5350
Thanks @jmayday! Which Mattermost server version do you have?

You can find this information from Mattermost Main Menu > About Mattermost

![image](https://cloud.githubusercontent.com/assets/13119842/22790802/637d6000-eeb5-11e6-8a04-d05f9a9fc492.png)
![image](https://cloud.githubusercontent.com/assets/13119842/22790813/6c291258-eeb5-11e6-91cf-125feddf7990.png)

[2017-02-09 15:51] jasonblais commented on #4324
Hey @itsmartin and @martinambrus! We were later able to reproduce a case where messages might get hidden when clicking the "Load more messages" button: https://mattermost.atlassian.net/browse/PLT-5105

The issue should be resolved in Mattermost v3.7.0. Sorry for not posting back here about the resolution.

Issue details:
[code]

[2017-02-09 15:56] martinambrus commented on #4324
ok, thanks for the info :)

[2017-02-09 16:06] jasonblais commented on #5158
We haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the latest version.

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2017-02-09 16:06] #5158 closed

[2017-02-09 16:58] jmayday commented on #5350
Version: 3.5.0  (3.5.1)

[2017-02-09 17:10] mikaoelitiana commented on #5291
I came up with something like this:

<img width="343" alt="capture d ecran 2017-02-09 a 20 08 58" src="https://cloud.githubusercontent.com/assets/674667/22794285/b7818af2-ef03-11e6-91af-89645ce8cda9.png">

[2017-02-09 17:20] mikaoelitiana commented on #5291
PR created

[2017-02-09 18:05] jasonblais commented on #5350
Ah yes, this was an issue with our v3.5.0 release.

In Mattermost v3.6.2, auto-complete works for both upper and lowercase letters.

You can download the latest version here: https://about.mattermost.com/download/

[2017-02-09 22:36] lfbrock commented on #5317
Hi @activedecay - what database are you using?

We're currently using full text search, so depending on the database you're using and the minimum word length I think it's not finding the term because it's breaking the word up into "db" and "json", and searching for two letter terms doesn't work.

We have a note here about [2 letter search with MySQL](https://docs.mattermost.com/install/requirement