[2020-08-10 15:05] #14082 closed

[2020-08-10 15:11] saturninoabril commented on #14075
Thanks @josephk96 for your contribution! Closing.

[2020-08-10 15:11] #14075 closed

[2020-08-10 17:10] saturninoabril commented on #15120
### Update as of August 10:
- Participated by 6 contributors who picked up 37 test cases so far
- 28 out of 37 test cases were either completed (merged) or submitted (in PR review)

### Leaderboard:
- [openmohan](https://github.com/openmohan) - 6 completed, 1 submitted
- [clarmso](https://github.com/clarmso) - 6 completed, 1 submitted
- [Niceplace](https://github.com/Niceplace) - 3 completed
- [M-

[2020-08-10 18:58] amyblais commented on #15190
Got feedback from devs that this would be a potential config UX and/or docs improvement. Our UX team is currently redesigning this section for improved usability.

[2020-08-10 20:05] esethna commented on #14909
Cool, @bradjcoughlin please reach out to Andrew if you need any missing assets

[2020-08-10 20:55] mm-- commented on #15012
I'm also getting this issue, with both Firefox 77 and Chromium on GNU/Linux, with Mattermost version 5.22.1. I don't see the RTL plugin enabled on the instance I'm using.

I notice that the typing lag is slightly decreased when Markdown formatting is turned off. I only have access to a minified JS source, so I noticed that an event handler named `Cn` was taking the most time. Searching within the

[2020-08-11 00:05] amyblais commented on #15163
Thanks! The original post above includes instructions on who and where you can reach out to for help where needed,

[2020-08-11 03:34] #13222 closed

[2020-08-11 11:47] josephk96 commented on #14080
@saturninoabril , I'd like to do this pare!

[2020-08-11 11:51] saturninoabril commented on #14080
Thanks @josephk96! Please use MM-T1226 as the test key - https://automation-test-cases.vercel.app/test/MM-T1226

[2020-08-11 11:51] josephk96 commented on #14080
Sure thing!

[2020-08-11 12:32] genewitch commented on #12513
the problem with the curl example is it doesn't explain how to get the user_id or the channel_id! That is, it's an issue with documentation, i feel.
I made a bot via the menu ->integrations and set up an api key and constantly got permissions errors when trying to do `/api/v4/posts` Setting up slashcommands and matterbridge was a walk in the park compared to the hours i spent trying to debug this

[2020-08-11 13:20] #14681 closed

[2020-08-11 17:27] amyblais commented on #15188
Scheduled for v5.25.3 and v5.26,

[2020-08-11 17:27] #15188 closed

[2020-08-11 19:24] hmhealey commented on #11439
Yeah, it's still valid, but I don't think the details of the ticket have been fleshed out properly.

@esethna Do any of the newer UX designs include a design for how scroll bars in the app should look?

[2020-08-11 19:34] breditter commented on #11439
@hmhealey I was wondering the same thing Please let me know the specifics. And also there is a file named _mattermost-webapp/sass/components/_scrollbar.scss_  does it have to do something with global scrollbar.
thank you:)

[2020-08-11 21:00] esethna commented on #11439
We should ideally use the nicer scroll bar styling that we have in the RHS: https://i.gyazo.com/22090c7b0cf29216d09bf2d2deec18e7.gif

However, one requirement for this would be how we can make the scroll bar ux on tablet devices easier? For example, can we detect if the device is running Windows in tablet mode and display a permanent and wider scroll bar rather than a hiding scrollbar that makes t

[2020-08-11 21:01] esethna commented on #11439
Also cc// @asaadmahmood on the above

[2020-08-12 05:49] breditter commented on #11439
Hey @jasonblais @esethna I'm not entirely sure how to code when multiple devices are involved. I would love to work on this or atleast watch how this gets tackled ( as I'm completely new to web development I suppose someone a bit more experienced should take on this). I wouldn't mind stepping back.
Please let me know where these discussions are done.

[2020-08-12 08:38] discostur opened #15232 "Invalid memory address or nil pointer"
Hi,

we have seen a nil pointer dereference in mattermost server 5.25.0:

[code]

[code]

The error occured randomly and we are not able to reproduce it. A simple restart of the process fixed it for the moment.

The errro hasen't occured on older mattermost versions, for example 5.22.1.

Regards,
Kilian

[2020-08-12 09:00] tru2dagame opened #15233 "i18n (Chinese) search doesn't work."
#### Summary
Chinese search doesn't work.

#### Steps to reproduce
Following with the setup doc: https://docs.mattermost.com/install/i18n.html#id1
You can't see the sql trace debug with `to_tsvector('simple_zh_cfg', 'xxxx') @@ to_tsquery('simple_zh_cfg', 'xxxx');`

#### Expected behavior
The `simple_zh_cfg` setting is stick with `english`.

#### Observed behavior (that appears unintentional)
![ima

[2020-08-12 10:00] agnivade commented on #15232
Thanks @discostur. Sorry for the trouble you are having. This was actually caught by our load tests, and I had attempted a PR here: https://github.com/mattermost/mattermost-server/pull/14484. But then I couldn't really repro it any more and closed it.

This isn't a regression and has always been there AFAIK. It's just that you are unluckily observing this now.

I guess I will reopen the PR and get

[2020-08-12 10:31] discostur commented on #15232
@agnivade thanks for your fast response! looking forward to the new version when your fix gets merged ;)

[2020-08-12 11:18] josephk96 commented on #14069
I'd like to do this pare! @saturninoabril

[2020-08-12 11:25] josephk96 commented on #14069
I can't find the proper test case in the google sheet though

[2020-08-12 12:00] amyblais commented on #15099
### v5.26 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.26.0-rc2/mattermost-team-5.26.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3757/files)

[2020-08-12 12:26] saturninoabril commented on #14069
Thanks bro! Yep, those in separate HW (help-wanted) tickets like this is not included in the spreadsheet, but I'll add it. Please use MM-T188 for the test key - https://automation-test-cases.vercel.app/test/MM-T188

[2020-08-12 12:29] #15111 closed

[2020-08-12 12:51] amyblais commented on #15233
@tru2dagame Could one of these threads help:
 - https://forum.mattermost.org/t/aliyun-postgresql-cant-config-default-text-search-config-how-to-enable-chinese-search/7931/6
 - https://forum.mattermost.org/t/default-text-search-config-setting-not-used/9850

If not, I'm happy to continue troubleshooting,

[2020-08-12 12:52] amyblais commented on #15233
Also, what Mattermost server version and OS are you on?

[2020-08-12 13:25] #13698 closed

[2020-08-12 13:33] CEOehis commented on #15164
@hmhealey I'm having issues running the e2e tests on my machine.
I'm getting a DB access denied connection error as a result of this line in the `cypress.json` file:
[code]

[2020-08-12 13:52] hmhealey commented on #11439
Yeah, perhaps this is a little bit bigger than we expected. I think we should take some time on our end to discuss exactly what's expected here since it's rather open-ended right now, and there's a few open questions with the design that need to be answered.

@breditter Perhaps you'd be interested in helping us do some code cleanup to have a chance to explore the code base a bit? We've got a numbe

[2020-08-12 14:24] CEOehis commented on #15159
@hmhealey I want to point out that this👆🏽 doesn't currently work as described unless the user reloads the other tabs as well.

[2020-08-12 15:10] #12354 closed

[2020-08-12 16:05] CEOehis commented on #15159
Perhaps that is a regression that was introduced somewhere along the way.

I've tried debugging to see why. It appears the `signalLogin()` (https://github.com/mattermost/mattermost-webapp/blob/061b158d471ef99b3ae74279e7f36050d3cce761/stores/browser_store.jsx#L56) method is never called anywhere.

[2020-08-12 16:13] CEOehis commented on #15159
@hmhealey What do you think?

[2020-08-12 16:32] tru2dagame commented on #15233
Hi @amyblais,

- The first forum post is going to set `default_text_search_config`.

That isn't my case. I have successfully set that value due to the document

- The second forum post is the problem.

https://mattermost.atlassian.net/browse/MM-25554

It seems no update for over two months.

My Mattermost server version is `5.25.2`.

Let me clarify my the problem:
- I can search Chinese words the

[2020-08-12 17:35] #15132 closed

[2020-08-12 22:09] #13499 closed

[2020-08-13 00:54] josephk96 commented on #14069
Thanks for adding it pare! I created a PR for this :)

To save you a few clicks, here it is -
https://github.com/mattermost/mattermost-webapp/pull/6127

Have a great day man!

[2020-08-13 01:02] saturninoabril commented on #14069
Thanks bro! Have great day to you!

[2020-08-13 04:30] esethna commented on #14142
@rakhi2104 I'm going to add the "Up for Grabs" label back here, but please let us know if you're still working on this!

[2020-08-13 05:35] #14986 closed

[2020-08-13 05:42] #14814 closed

[2020-08-13 06:01] saturninoabril commented on #14069
Thanks @josephk96! Closing this issue now.

[2020-08-13 06:01] #14069 closed

[2020-08-13 12:00] #15232 closed

[2020-08-13 12:50] #15099 closed

[2020-08-13 13:11] #14402 closed

[2020-08-13 13:13] enahum commented on #13223
@karlmarxlopez any progress on this one ?

[2020-08-13 13:15] enahum commented on #12017
@kdenz any progress on this one ?

[2020-08-13 13:16] enahum commented on #14157
@pradeepmurugesan any progress on this one?

[2020-08-13 15:02] #14813 closed

[2020-08-13 21:14] esethna commented on #14401
@vivek32ta how's this going? Need any help?

[2020-08-14 00:00] freayd opened #15245 "Emptying first name triggers notification flood"
#### Summary
After emptying your first name, and if it was a word that triggers mentions, you will receive a notification for nearly all new messages.

#### Steps to reproduce
1. Set up a first name under _General Settings > Full Name_
2. Turn on the check box _Notifications > Words That Trigger Mentions > Your case sensitive first name_
3. Delete your _General Settings > Full Name_
4. The checkbo

[2020-08-14 03:30] mattermod opened #15247 "Compare our current LRU cache with Ristretto and analyze the results"
Our current cache implements a simple LRU algorithm.

This ticket is to replace that with ristretto which implements TinyLFU and is highly concurrent.

Essentially we want to compare the current LRU vs Ristretto. We need to run some load tests, compare cache hit rates, CPU and memory utilization, and look at the results.

Ristretto is still not production ready yet, but at a high level, this would

[2020-08-14 03:30] mattermod opened #15248 "Investigate using a striped mutex for hot serialized structs"
A lot of lock contention comes from the sync.RWMutex in our LRU cache.

A problem in the read path of LRU is that the linked list needs to be updated which means that a write lock needs to be acquired in the read path. There have been some attempts to optimize this by introducing a window during which promotion happens.

This ticket is about investigating using a striped mutex which spreads the lo

[2020-08-14 03:30] mattermod opened #15249 "Use sync.Pool for msgp serialization"
After moving to a serialized cache, we are now serializing and de-serializing every time we want to read/write from the cache.

This forces us to do lot of allocations, results in a lot of CPU time spent in mark and sweep.

Fortunately, the msgp library works on struct methods directly and therefore we can use a sync.Pool to give back model objects to the pool once we are done with it.

This ticke

[2020-08-14 07:44] vivek32ta commented on #14401
Thanks for asking @esethna

I tried my best to setup a development environment. But my PC just did not support it. I'm extremely sorry.
I got on the mattermost help channel as well. Didn't turn out to be of any use. I kept at it for over 5 weeks and finally gave up man.

Again, I'm really sorry and I really appreciate the opportunity! Thanks a lot :)

[2020-08-14 07:55] saturninoabril opened #15253 "Write Cypress test: "MM-T2382 Center channel scroll""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left">MM-T2382 Center channel scroll</h1><div class="max-w-2xl mx-auto"><div><h3>Steps </h3>Center channel scroll<br>———

[2020-08-14 08:24] saturninoabril opened #15254 "Write Cypress test: "MM-T645 Delete Incoming Webhook""
This is part of __Cypress Test Automation Hackfest 🚀__.  Please read more at https://github.com/mattermost/mattermost-server/issues/15120.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12

[2020-08-14 08:24] saturninoabril opened #15255 "Write Cypress test: "MM-T658 /invite - current channel""
This is part of __Cypress Test Automation Hackfest 🚀__.  Please read more at https://github.com/mattermost/mattermost-server/issues/15120.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12

[2020-08-14 08:24] saturninoabril opened #15256 "Write Cypress test: "MM-T486 Users with the same firstname in their username should not get a mention when one of them leaves a channel""
This is part of __Cypress Test Automation Hackfest 🚀__.  Please read more at https://github.com/mattermost/mattermost-server/issues/15120.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12

[2020-08-14 08:24] saturninoabril opened #15257 "Write Cypress test: "MM-T398 Use team invite link to sign up using email and password""
This is part of __Cypress Test Automation Hackfest 🚀__.  Please read more at https://github.com/mattermost/mattermost-server/issues/15120.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12

[2020-08-14 08:25] saturninoabril opened #15258 "Write Cypress test: "MM-T385 Invite new user to closed team using email invite""
This is part of __Cypress Test Automation Hackfest 🚀__.  Please read more at https://github.com/mattermost/mattermost-server/issues/15120.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12

[2020-08-14 08:25] saturninoabril opened #15259 "Write Cypress test: "MM-T307 Cancel a file upload""
This is part of __Cypress Test Automation Hackfest 🚀__.  Please read more at https://github.com/mattermost/mattermost-server/issues/15120.

See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12

[2020-08-14 08:25] saturninoabril opened #15260 "Write Cypress test: "MM-T334 Drag and Drop - Error message expected when trying to drop a folder""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

<article class="mb-32"><h1 class="text-6xl md:text-7xl lg:text-8xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left">MM-T334 Drag and Drop - Error message expected when trying to drop a folder</h1><div class="max-w-2xl mx-auto"><di

[2020-08-14 08:45] dalcde opened #15261 "Joining team errors if default channel archived"
#### Summary
If you archive a default channel in a team, joining the team causes an error

#### Steps to reproduce
1. Install Mattermost 5.26.0 (though I recall this occurring in older versions of Mattermost too)
2. Create a team
3. Remove the Off-Topic channel
4. Add a new user to the team

#### Expected behavior
The user joins the team

#### Observed behavior (that appears unintentional)
An erro

[2020-08-14 09:12] sideling02 commented on #13103
I would love to give it a shot.

[2020-08-14 11:01] hanzei commented on #13103
Thanks @sideling02 :+1:

[2020-08-14 12:03] #14525 closed

[2020-08-14 12:49] amyblais commented on #15245
@freayd I wasn't able to reproduce on v5.26.0. Is there any additional information that could help me reproduce it?

[2020-08-14 12:55] amyblais commented on #15261
@dalcde I wasn't able to reproduce. Does the user in step 4 get stuck even if there are multiple teams on the /select_team page for them to join?

[2020-08-14 14:26] dalcde commented on #15261
An error "Received invalid response from the server" shows up in the
select_team page when trying to join via the /select_team page, but
clicking "back" brings them back to the user interface.

The being stuck might also be a problem only if you join right after
signing up and verifying email.

In any case, the error shows up in the syslog.

[2020-08-14 16:07] esethna commented on #14401
No worries @vivek32ta, thanks for trying, I'm going to open this ticket back up.

cc// @jasonblais on the above

[2020-08-14 19:25] hmhealey commented on #15164
Assuming the MM server and e2e tests are running on the same machine, that value should match the one configured in the server's `config/config.json` since the e2e tests connect directly to the database to do some configuration. That looks correct to me as long as you're using the default database that comes with the development server.

[2020-08-14 19:34] hmhealey commented on #15159
Good find. Maybe just migrate the code, but don't bother adding any tests for that part. I'll file a ticket to look into if we need to re-add that or if we can just remove it.

I could've sworn that that was tested as part of our manual tests, but maybe it isn't since I can't find any evidence of that being called as far back as 4.3 (the earliest release branch that we still have around). Maybe it

[2020-08-14 20:27] wiggin77 commented on #15261
The "off-Topic" channel is included in the list of default channels to join.  There is a bug in the code where that error condition (a default channel is deleted) causes a panic.  Another issue is that default channels are not checked for existence beforehand.

[2020-08-14 20:47] amyblais commented on #15261
Tickets
https://mattermost.atlassian.net/browse/MM-27868
https://mattermost.atlassian.net/browse/MM-27869

[2020-08-15 08:40] djanda97 commented on #15247
I've been writing E2E tests for the webapp over the past few weeks so I'm still new to the codebase, but I'll give this issue a shot since I'm interested in working on the server.

[2020-08-15 11:24] Ayanrocks commented on #13732
I have submitted a pr here https://github.com/mattermost/mattermost-webapp/pull/6154. Request for code review

[2020-08-15 12:46] agnivade commented on #15247
That sounds great @djanda97! Let us know how it goes. One small thing is that you need a license to run the load tests (which are needed to analyze the results). Once you have the code ready, we can discuss this on our community server.

[2020-08-15 18:14] breditter commented on #14401
Hey i would like to work on this if any help is needed.
Quick clarification, is the issue about replacing the "XX" mentioned in the question with respective team names?
Because otherwise the message displayed while leaving a team seems to be quite clear
![Screenshot_2020-08-15_23-42-12](https://user-images.githubusercontent.com/64769271/90318856-fccea400-df50-11ea-954e-6c4b9cd4d0f2.png)

[2020-08-15 18:14] Ayanrocks commented on #14003
I think I can do this with some help. Just one thing is that tem_store.go file? Because the link is 404

[2020-08-15 18:18] breditter opened #15270 "Scrollbars in uneccesary places"
![Screenshot_2020-08-15_23-45-37](https://user-images.githubusercontent.com/64769271/90318961-b3328900-df51-11ea-8d30-cf7525d12f2d.png)
Scrollbars are shown when there is only one team to log into

[2020-08-15 20:04] kingfisher77 commented on #14929
same here

[2020-08-16 04:19] #15270 closed

[2020-08-16 05:48] freayd commented on #15245
@amyblais Thanks for checking this. I'm not quite sure why can't you reproduce it. At least another user has reported the same issue on the same Mattermost server. Maybe something changed since the version 5.23.1?

Here are some screenshots I took to illustrate the issue.
Received a notification on the IT channel:
![MM1](https://user-images.githubusercontent.com/36454/90327396-cd0db380-dfc5-11ea-9

[2020-08-16 09:41] Charpell commented on #14604
Hi @mattermod, I am interested in this ticket

[2020-08-16 16:40] vithun commented on #15260
Hi, I'm interested in picking this up. This will be my first contribution here.

[2020-08-16 16:59] ylluminate opened #15272 ""Channel Grouping and Sorting" description inverted"
Currently the admin description for "Channel Grouping and Sorting" is flipped:
![image](https://p153.p0.n0.cdn.getcloudapp.com/items/lluY2evG/2020-08-16_12-55-17.jpeg)

This was rather confusing when moving up to .26 and wanting to enable this channel grouping functionality.

[2020-08-16 19:17] breditter commented on #15162
Hey,
I'd like to work on this

[2020-08-16 19:57] vithun commented on #15260
<img width="525" alt="Screenshot 2020-08-16 at 20 53 56" src="https://user-images.githubusercontent.com/767595/90342786-d49f7d80-e002-11ea-89da-b4c3356e0345.png">

The Cypress `attachFile` command seems to internally depend on fixtures. And when I refer to a folder name itself rather than a specific file, it doesn't seem capable of recognising it.

[2020-08-16 19:58] vithun commented on #15260
There's a related issue here: https://github.com/abramenal/cypress-file-upload/issues/69

Will see if there's another way around this.

[2020-08-16 20:31] vithun commented on #15260
Thought I'll trick the test to think it's a directory by uploading multiple files. That approach doesn't work for two reasons:
- Uploading multiple files seems to be a valid operation.
- Looking at the implementation [here](https://github.com/mattermost/mattermost-webapp/blob/e71ac4d7c7df64ae11f885a54697ed1b8eac5bf6/components/file_upload/file_upload.jsx#L357-L381), it does look like this error co

[2020-08-16 21:05] aseques commented on #15190
Thanks, I'm closing it.

[2020-08-16 21:05] #15190 closed

[2020-08-16 22:13] CEOehis commented on #15164
Thanks @hmhealey . I've been able to get the e2e tests running.

I'm kinda stuck with this issue though. There is no "explicit" inclusion of jQuery in the integration spec files, but calls to `cy.get()` return this type:
![image](https://user-images.githubusercontent.com/25967737/90344952-daeb2500-e015-11ea-8e28-308d876a8af3.png)

So the elements are jQuery wrapped HTML elements. I'm unable to fig

[2020-08-16 23:04] jasonblais commented on #14401
@breditter Thank you, we'd welcome the help! :)

As for your question, the proposal is to update the help text to

[code]

Where
- the first sentence is bolded (marked by `**`),
- `{num_of_public_channels}` refers to the number of public channels that the user is a member of in the team, and
- `{num_of_private_channels}` refers to the number of private channels that the user is a member of in the

[2020-08-17 03:55] ylluminate opened #15273 "Sidebar: Categories are being duplicated"
After updating to .26 and starting use of categories, I'm finding problems with duplications of default categories such as "FAVORITES" and even "CHANNELS":

Example, "FAVORITES" is duplicated with identical contents on both:
![image](https://p153.p0.n0.cdn.getcloudapp.com/items/eDuBPdL2/2020-08-16_23-53-34.jpeg)

"CHANNELS" is a little different. It is listed twice, but the contents are missing en

[2020-08-17 08:50] licaon-kter commented on #14919
Seeing the same on update to 5.26, had to edit config bleve to false then retry

But now Bleve won't activate as save button on its page rotates forever

[2020-08-17 08:55] agnivade commented on #14919
This appears to be a known issue: https://docs.mattermost.com/administration/changelog.html#id23

The current workaround is to use mmctl in local mode to perform any administration tasks.

[2020-08-17 09:22] saturninoabril commented on #15260
Hello @vithun! Thanks for your interest.
Right, multiples files upload is valid. No, it's different from empty list of files. You'll get "'You are uploading an empty file: {filename}'" in that case.
Let me see.

[2020-08-17 12:56] amyblais commented on #15272
@ylluminate Those settings are two different features. Can you help with repro steps, expected behaviour, and observed behaviour to help me understand the issue you're facing better?

[2020-08-17 13:03] amyblais commented on #15273
@ylluminate I think this was fixed for v5.26 but seems to be still happening. Are there any other repro steps or server log errors you can help share to diagnose this issue?

//cc @hmhealey

[2020-08-17 13:16] amyblais commented on #15245
@freayd Would you be open to testing if it reproduces on the latest version? You can test on our community server here: https://community.mattermost.com.

[2020-08-17 13:57] hmhealey commented on #11439
Closing this ticket for now while we add some more detail to it.

[2020-08-17 13:57] #11439 closed

[2020-08-17 13:59] Schleuse commented on #15012
I've had performance issues in a channel which contained highlighted code written in a specific way.
After some profiling I've figured out that the Highlighting seems to be the Problem (in my case anyway).

Deleting the highlighted code fixed the performance issues for me. I've opened an [Issue at hightlight.js](https://github.com/highlightjs/highlight.js/issues/2656) for this.

[2020-08-17 14:37] hmhealey commented on #15162
Thanks for the help on this, @breditter!

Let us know if you have any questions about getting set up for this. You can either post a message here or join us on https://community.mattermost.com if you need help.

[2020-08-17 14:53] hmhealey commented on #15273
There probably wouldn't be anything in the logs, but I could use some more details to figure out what might've caused this.

1. Are you running Mattermost EE or TE? If you have EE, are you running multiple servers in a cluster?
2. Is this affecting all users on your instance or just you?

[2020-08-17 15:16] #14087 closed

[2020-08-17 15:23] hmhealey commented on #15164
Oh, I didn't realize Cypress used JQuery internally or exposed it to us. I guess that's not something we're going to be able to remove then. That should probably be fine then since we're mostly concerned with removing it from the webapp itself to reduce the JS bundle size. It's not really a problem if it's used exclusively in the e2e tests.

We should remove turn off the ESLint check for the e2e t

[2020-08-17 16:46] #14140 closed

[2020-08-17 17:04] saturninoabril commented on #15120
### Update as of August 17:
- 51 test cases picked up by 6 contributors
- 45 test cases were either completed (merged) or submitted (in PR review)

### Leaderboard:
- [M-ZubairAhmed](https://github.com/M-ZubairAhmed) - 8 completed, 5 submitted
- [openmohan](https://github.com/openmohan) - 7 completed, 1 submitted
- [clarmso](https://github.com/clarmso) - 7 completed
- [josephk96](https://github.co

[2020-08-17 18:32] #15261 closed

[2020-08-17 18:58] mickmister opened #15285 "[MM-24753] Improve error message when plugin crashes during slash command execution"
#### Summary

When using a slash command that crashes a plugin, the user receives an unfriendly message.

Observed:

Expected:

#### Ticket Link

https://mattermost.atlassian.net/browse/MM-24753

[2020-08-17 19:18] amyblais commented on #14003
@jespino ^

[2020-08-17 21:02] icelander opened #15286 "Fix how ldap-check.sh handles LDAP queries"
Note: The [ldap-check.sh script in our Github](https://github.com/mattermost/mattermost-server/blob/master/scripts/ldap-check.sh) doesn't work with TLS encryption without modification. There was a change in what parameter to use to specify the port with TLS from this:

[code]

to

[code]

Note that you need to specify the protocl `ldap` or `ldaps` depending on whether you're using TLS.

_Issue cre

[2020-08-17 21:45] mattermod opened #15287 "Use Ctrl + B and Ctrl + I to add bold and italics markdown formatting to selected text"
When users select text and use CTRL/CMD + B, add the corresponding bold markdown formatting around the word:

[code]

When users select text and use CTRL/CMD + I, add the corresponding italics markdown formatting around the word:

[code]
----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our

[2020-08-18 00:57] #10788 closed

[2020-08-18 06:31] asimsedhain commented on #15285
Hey, I would like to try this.

[2020-08-18 10:19] robert-scheck opened #15295 "Ambiguous documentation regarding supported PostgreSQL versions"
#### Summary, Steps to reproduce and Observed behavior
As of writing, https://docs.mattermost.com/administration/important-upgrade-notes.html is unfortunately ambiguous about the supported PostgreSQL versions: It currently says that PostgreSQL 10 is supported for the latest Mattermost version, while it also says that PostgreSQL 10+ is required for new installations. Given there is already PostgreS

[2020-08-18 13:16] saturninoabril commented on #15255
PR submitted - https://github.com/mattermost/mattermost-webapp/pull/6158

[2020-08-18 14:12] #13696 closed

[2020-08-18 15:49] mattinmir opened #15296 "Highlighting text and moving mouse off-screen causes further text to be written right to left"
#### Summary
Highlighting text and moving mouse off-screen causes further text to be written right to left

#### Steps to reproduce
Using Mattermost desktop app, version 4.4.0
Have Mattermost open on one monitor, with a second connected monitor to the left
In a channel text bar, type some letters, then highlight the text right-to-left with the mouse, making sure the mouse leaves the left side of t

[2020-08-18 15:59] ylluminate commented on #14919
Had the same problem with `mattermost` - ultimately took 2196 minutes for Bleve to complete indexing on our smallish server. Problem with `mmctl` is that it is not yet feature complete from what I'm experiencing. For example, moving channels from one team to another seems to be missing.

[2020-08-18 16:01] ylluminate opened #15298 "mmctl - how to move channels between teams?"
Is there a way to move channels between teams with `mmctl`? Due to the testing and adoption of Bleve, many of us are seeing the hang issues and similarly seeing / receviing recommendations to use `mmctl` instead of `mattermost` for admin functions.

When will see see `mmctl` have feature parity with `mattermost`?  For example, we don't seem to currently be able to move channels between teams with

[2020-08-18 16:07] esethna commented on #14604
@Charpell, awesome, thanks!

[2020-08-18 16:53] josephk96 commented on #15256
I'd like to do this please!

[2020-08-18 16:55] josephk96 commented on #15256
For this, since Cypress doesn't support multiple browsers, would it be okay if I logout and login as the other user several times? I know it's expensive, but I'm not sure what would be a better way to do it

[2020-08-18 16:57] saturninoabril commented on #15256
Thanks @josephk96 and yup, that's fine.

[2020-08-18 16:58] josephk96 commented on #15256
Thanks for the quick reply Saturn!

[2020-08-18 17:17] amyblais commented on #15295
Our devs are looking into this,

[2020-08-18 18:30] mattermod opened #15300 "RN: Change "Flagged” posts and icon to "Saved""
Since we have updated the terminology on the web app from ‘Flagged’ to ‘Saved’, we need to update mobile.

We need to change all instances of "Flagged" to "Saved" in the UI and associated icon, see design: [https://www.figma.com/file/qEspxUehOqAIsoAaYq0t5W/MM-25885-Mobile-Change-Flagged-to-Saved?node-id=0%3A1](https://www.figma.com/file/qEspxUehOqAIsoAaYq0t5W/MM-25885-Mobile-Change-Flagged-to-Save

[2020-08-18 18:38] amyblais commented on #15296
@mattinmir Do you see the same issue on desktop app v4.5.0?
What OS and version are you on?
What Mattermost server version are you on?
Does this also reproduce on webapp?

[2020-08-18 18:44] amyblais commented on #15298
It seems this is explained here https://github.com/mattermost/mmctl/blob/master/docs/mmctl_channel_move.rst.

@mgdelacroix / @isacikgoz Should I ask Justine to document it (https://docs.mattermost.com/administration/mmctl-cli-tool.html)?

[2020-08-18 18:52] ylluminate commented on #15298
Interesting. Right, I hunted and hunted for that, but kept running into this documentation where it's absent: https://docs.mattermost.com/administration/mmctl-cli-tool.html#mmctl-channel

[2020-08-18 19:00] mattermod opened #15302 "Signal login to other browser tabs"
At some point pre-4.3, we had functionality in the web app that would log you into multiple tabs at once if you had multiple tabs open to the lgoin screen. As far back as 4.3, it seems like that's broken since <`signalLogin`>(https://github.com/mattermost/mattermost-webapp/blob/061b158d471ef99b3ae74279e7f36050d3cce761/stores/browser_store.jsx#L56`) isn't called anywhere.

We should re-add this beh

[2020-08-18 19:45] mattermod opened #15304 "RN: Improve Empty State for Pinned Messages"
To more closely tie to the empty states used in the web app, we need to update the mobile empty states as well.

Text and icon updates in the linked [Figma file](https://www.figma.com/file/Nq4ZtFIVo5xkbRRWTUwV39?node-id=0:1)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build

[2020-08-18 19:45] mattermod opened #15305 "RN: Improve Empty State for Mentions"
To more closely tie to the empty states used in the web app, we need to update the mobile empty states as well.

Text and icon updates in the linked [Figma design file](https://www.figma.com/file/csYUWEFTm3RewhRhveU7bx?node-id=0:1)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily

[2020-08-18 20:17] esethna commented on #14633
Hey @sridhar02, how's this going, can we help at all?

[2020-08-18 20:46] esethna commented on #14256
Hi @iwita, how's this going, need any help?

[2020-08-18 22:33] esethna commented on #10232
@saturninoabril how is this going?

[2020-08-18 23:29] saturninoabril commented on #15253
Thanks @M-ZubairAhmed for taking this one!

[2020-08-18 23:39] sridhar02 commented on #14633
@esethna I understood the problem and redux selectors are also ready ,I will try to fix it as soon as possible.

[2020-08-19 00:05] #15298 closed

[2020-08-19 09:03] #13514 closed

[2020-08-19 10:25] sowmiyamuthuraman commented on #15304
I would like to work on this

[2020-08-19 17:51] Matterchen opened #15311 ""Start trial" message is unreadable in System Console with dark theme on first load"
#### Summary
Black text on dark background in the "Start trial" message on v5.26.

#### Steps to reproduce
1. Enable dark theme
2. Open System Console
3. Click on SAML or AD/LDAP

#### Expected behavior
See Start trial message

#### Observed behavior (that appears unintentional)
Start trial message has black text on dark background, which is unreadable.
<img width="980" alt="Unreadable start trial

[2020-08-19 18:57] amyblais commented on #15311
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-27972.

[2020-08-19 18:57] #15311 closed

[2020-08-19 19:52] CEOehis commented on #15164
Sounds good. I've raised a PR to this effect.

[2020-08-19 20:46] Ayanrocks commented on #14003
I would like to work on it if some could assign me @hanzei

[2020-08-19 21:14] jespino commented on #14003
@Ayanrocks sorry the delay answering to this. Assigned to you, thanks! :tada:

[2020-08-19 23:23] josephk96 commented on #15258
I'd like to give this a try bro!

[2020-08-19 23:25] saturninoabril commented on #15258
Awesome, thanks @josephk96!

[2020-08-19 23:54] jp0707 commented on #15287
I am giving this a shot.

When pressed again, should it undo bold/italic if selected text already has the markdown for it? or should it simply keep adding markdown on repeated hotkey presses?

[2020-08-20 03:09] mkozakov commented on #15287
@jp0707 github comments has this feature. They undo the bold/italic if you click again, and it's a good experience.

[2020-08-20 04:02] mkozakov commented on #15287
They also support <cmd+k> to turn text into a link, which is nice!

[2020-08-20 06:24] daurpam opened #15315 "Cannot Close some Direct Messages with other users"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-08-20 12:31] amyblais commented on #15315
@daurpam What OS and version are you on? Are there any patterns with the Direct Message channels that can't be closed?

[2020-08-20 13:04] daurpam commented on #15315
Hi @amyblais,

We are using mattermost inside Docker Community version:  19.03.05
That is installed on Debian version 10.

The issue has no patterns, because the users affected are few with small number of messages on the channel.

Regards

[2020-08-20 14:06] #15036 closed

[2020-08-20 14:07] #15035 closed

[2020-08-20 15:55] #13732 closed

[2020-08-20 18:07] amyblais commented on #15295
We have confirmed that we support PostgreSQL 11. Dev team will need to run tests to determine whether we officially support PostgreSQL 12.

[2020-08-20 18:33] amyblais commented on #15315
@daurpam Thanks, when this happens again, please note:
1. What was the previous channel that you were viewing before trying to close the direct message channel?
2. What was the last action you took before trying to close the direct message channel?

I believe I've seen this occasionally in the past, but can't remember the steps that led to it.

[2020-08-20 19:19] jp0707 commented on #15287
Implemented this for CreatePost and CreateComment components : https://github.com/jp0707/mattermost-webapp/commit/10c81fbf273e66aa1f4a79b3d94f62093d6f35d9

Now working on tests and docs.

[2020-08-20 20:45] mkozakov commented on #15287
I left a small comment https://github.com/jp0707/mattermost-webapp/commit/10c81fbf273e66aa1f4a79b3d94f62093d6f35d9#r41645747

[2020-08-20 23:18] freayd commented on #15245
@amyblais The server that I use just got upgraded, and I'm sorry to say that the issue is still present. Here are the new versions being used:

I'll try and see how it behaves on the community server.

[2020-08-20 23:20] josephk96 commented on #15257
I'd like to do this please!

[2020-08-21 00:01] saturninoabril commented on #15257
Sure and thanks @josephk96!

[2020-08-21 00:06] josephk96 commented on #15257
No problem @saturninoabril !
Just a few quick questions -
1. When I visit the team invite link that I copied from the 'Invite People' modal, I don't see 'Email and password', I am automatically directed to that screen. Are there any authentication plugins that I have to install first? If so, could you please link me to a file that I could use for reference?
2. For step 8, I am not seeing the 'You

[2020-08-21 00:23] saturninoabril commented on #15257
1. It's in the case where other authentication options are enabled like with SAML, Gitlab, etc. Since it's being reset and disabled for every Cypress run, it's good to assume that it's redirected to Signup page.
2. You'll need to update the config to require email verification. `{"EmailSettings": {"RequireEmailVerification": true}}`

[2020-08-21 01:06] josephk96 commented on #15257
Thanks for the clarification, Saturn, it was very helpful!

[2020-08-21 16:34] shieldsjared opened #15322 "LHS : Channel options menu requires scrolling to see sub-menu"
(Checked Jira and did not see this reported already. Thanks all!)

#### Summary
When using the channel-options sidebar menu, the channel options menu produces an inner scroll instead of flying-out.  Tested in MM 5.26, and via MM Desktop 4.5.1 and Chrome.  Likely related to the new experiment grouping feature, since I believe the "Move To >" menu option is new, and is the first sub-menu option?

##

[2020-08-21 19:51] #15322 closed, assigned to nobody

[2020-08-24 08:33] talmahaj opened #15333 "Can't mark as unread on mobile"
#### Summary
When long pressing a message, no option to mark as unread on iOS

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)
Using newest version on iOS
Am in a DM with another person
Tapping message opens up options, but mark as unread no longer appears as an option

#### Expected behavior
Message options would include "mark as unread"

#### Observed behavio

[2020-08-24 14:18] KrishnaSindhur commented on #15248
if anyone has not picked up i am interested to look into it

[2020-08-24 15:41] jp0707 commented on #15185
I am giving this a shot.

[2020-08-24 17:36] amyblais commented on #15333
@talmahaj I believe I've seen this occasionally in the past, but don't have specific repro steps.

Which server version are you on? Is this happening for you consistently, or only occasionally?

[2020-08-25 02:30] jp0707 commented on #15300
Empty states for Pinned Posts, Recent Mentions and Flagged Posts are done as part of https://github.com/mattermost/mattermost-mobile/pull/4715#pullrequestreview-474011948

[2020-08-25 03:37] nsingxia opened #15337 "hash/maphash: malformed module path "hash/maphash": missing dot in first path element"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-08-25 08:51] uttamenergy opened #15339 "Password reset link redirects to / instead of allowing user to change password."
#### Summary
Password reset link redirects to homepage(/) instead of allowing user to change password

#### Version
Mattermost 5.25.2

#### Expected behavior
Forgot Password procedure:-
Click on forgot password link on homepage and enter email in pop up.
Open email from Mattermost Server, click on reset password button in email.
Page simply redirects to the homepage.
![mattermost reset link error]

[2020-08-25 09:42] #15054 closed

[2020-08-25 10:27] saturninoabril commented on #15120
### Update as of August 25:
- 75 test cases picked up by 7 contributors
- 59 test cases were either completed (merged) or submitted (in PR review)

### Leaderboard:
- [openmohan](https://github.com/openmohan) - 13 completed, 1 submitted
- [M-ZubairAhmed](https://github.com/M-ZubairAhmed) - 11 completed, 2 submitted
- [josephk96](https://github.com/josephk96) - 9 completed, 2 submitted
- [clarmso](

[2020-08-25 10:35] saturninoabril commented on #15255
Thanks @clarmso! https://github.com/mattermost/mattermost-webapp/pull/6158 merged. Closing.

[2020-08-25 10:35] #15255 closed

[2020-08-25 10:36] saturninoabril commented on #15258
https://github.com/mattermost/mattermost-webapp/pull/6222 merged. Thanks @josephk96! Closing.

[2020-08-25 10:36] #15258 closed

[2020-08-25 11:12] #15339 closed

[2020-08-25 12:25] amyblais opened #15340 "Mattermost v5.27.0"
You can find key dates for v5.27 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### August 31st: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Sept 14th: Release Build Cut
The

[2020-08-25 16:12] hmhealey commented on #10232
@saturninoabril Do you happen to have a WIP branch around for this?

[2020-08-26 00:10] CEOehis commented on #15159
Hi, @hmhealey I'm a bit confused about this, I don't know exactly what it means. Is there a demo (e.g a gif) or something that I can look at to get an idea of exactly how this currently works so I know what tests to write?

[2020-08-26 13:29] shieldsjared commented on #14929
Also receiving this error, in 5.26

[2020-08-26 16:47] #13697 closed

[2020-08-27 05:28] grajsor opened #15349 "Major headaches with advisor-bar"
#### Summary
Unable to disable intrusive and annoying advisor-bar

#### Steps to reproduce
Hit F5 (refresh) to see it, every time.

#### Expected behavior
Previous non-intrusive and enjoyable UI.

#### Observed behavior (that appears unintentional)
Irritation, frustration, annoyance.

#### Possible fixes
Let us disable advisor-crap.

[2020-08-27 09:03] WhatlsGoogle commented on #15349
Could not agree more.

[2020-08-27 09:17] jangrewe opened #15350 "Github: Release tagged as "latest""
#### Summary
I'm not sure what causes this, but for some reason the "latest" tag of the Github releases (https://github.com/mattermost/mattermost-server/releases) keeps being changed and for a couple of days now doesn't point to the actual latest release.

This might seem trivial to you, but i have automation in place that alerts me on new releases for various Github projects, and i keep getting n

[2020-08-27 09:59] #14137 closed

[2020-08-27 11:43] jasonblais opened #15351 "Bitbucket Plugin Bounty ($2,000 for winners, Sept 1 - Oct 31, 2020)"
## Mattermost Plugin Bounty Program

Mattermost has launched a plugin bounty program to work with our integrations community to create highly-requested plugins for:

* CircleCI
* Nagios
* Bitbucket
* Splunk

The bounty for each plugin is $2,000, plus an exclusive Mattermost swag bag! The period for submissions is September 1 - October 31, 2020.

If you’re interested joining the program:

* Sign in

[2020-08-27 11:46] jasonblais opened #15352 "CircleCI Plugin Bounty ($2,000 for winners, Sept 1 - Oct 31, 2020)"
## Mattermost Plugin Bounty Program

Mattermost has launched a plugin bounty program to work with our integrations community to create highly-requested plugins for:

* CircleCI
* Nagios
* Bitbucket
* Splunk

The bounty for each plugin is $2,000, plus an exclusive Mattermost swag bag! The period for submissions is September 1 - October 31, 2020.

If you’re interested joining the program:

* Sign in

[2020-08-27 11:48] jasonblais opened #15353 "Splunk Plugin Bounty ($2,000 for winners, Sept 1 - Oct 31, 2020)"
## Mattermost Plugin Bounty Program

Mattermost has launched a plugin bounty program to work with our integrations community to create highly-requested plugins for:

* CircleCI
* Nagios
* Bitbucket
* Splunk

The bounty for each plugin is $2,000, plus an exclusive Mattermost swag bag! The period for submissions is September 1 - October 31, 2020.

If you’re interested joining the program:

* Sign in

[2020-08-27 11:48] jasonblais opened #15354 "Nagios Plugin Bounty ($2,000 for winners, Sept 1 - Oct 31, 2020)"
## Mattermost Plugin Bounty Program

Mattermost has launched a plugin bounty program to work with our integrations community to create highly-requested plugins for:

* CircleCI
* Nagios
* Bitbucket
* Splunk

The bounty for each plugin is $2,000, plus an exclusive Mattermost swag bag! The period for submissions is September 1 - October 31, 2020.

If you’re interested joining the program:

* Sign in

[2020-08-27 11:50] jasonblais opened #15355 "Mattermost Plugin Bounty Program ($2,000 for winners, Sept 1 - Oct 31, 2020)"
## Mattermost Plugin Bounty Program

Mattermost has launched a plugin bounty program to work with our integrations community to create highly-requested plugins for:

* CircleCI
* Nagios
* Bitbucket
* Splunk

The bounty for each plugin is $2,000, plus an exclusive Mattermost swag bag! The period for submissions is September 1 - October 31, 2020.

If you’re interested joining the program:

* Sign in

[2020-08-27 11:54] jasonblais commented on #15351
If you're interested in the Bitbucket plugin bounty, come join our Mattermost channel at https://community.mattermost.com/core/channels/plugin-bitbucket

@kosgrz is now actively working on it, with interest from @rvillablanca and @abdulsmapara.

[2020-08-27 11:56] jasonblais commented on #15352
If you're interested in the CircleCi plugin bounty, come join our Mattermost channel at https://community.mattermost.com/core/channels/plugin-circleci

@nathanaelhoun is now actively working on it, and collaborators are welcome!

[2020-08-27 11:56] jasonblais commented on #15353
If you're interested in the Nagios plugin bounty, come join our Mattermost channel at https://community.mattermost.com/core/channels/plugin-nagios

[2020-08-27 11:56] jasonblais commented on #15354
If you're interested in the Nagios plugin bounty, come join our Mattermost channel at https://community.mattermost.com/core/channels/plugin-nagios

[2020-08-27 12:01] amyblais commented on #15349
Does the notification stop after you have clicked Contact Us?

[2020-08-27 12:02] amyblais commented on #15350
@metanerd / @jaydeland Is this expected / unexpected?

[2020-08-27 12:04] jaydeland commented on #15350
I don't believe so, we will have to investigate

[2020-08-27 12:22] amyblais commented on #15350
@jaydeland Would you like me to open a ticket for this, and if yes, which team?

[2020-08-27 16:06] shieldsjared commented on #14929
Ironically, I'm also getting this error when attempting to use elasticsearch... Digging now to see if I can figure out what's going on here...

[2020-08-27 16:31] shieldsjared opened #15357 "Elasticsearch Indexing Fails with error "converting NULL to string is unsupported""
#### Summary
Unable to create elasticsearch index.  Error encountered:

[code]

(Checked Jira. Did not see anything relevant. Found others reporting same error message when attempting to use Bleve search #14929, but since that is experimental and potentially a different implementation, reporting this issue separately).

#### Steps to reproduce
Utilizing MM 5.26.0 (E20) and ElasticSearch 7.9.0. Una

[2020-08-27 18:33] amyblais commented on #15357
@shieldsjared
1. Was the indexing recreated as described in the [important upgrade notes](https://docs.mattermost.com/administration/important-upgrade-notes.html) for v5.26?
2. There are some known issues with Bleve as described [here](https://docs.mattermost.com/administration/command-line-tools.html#troubleshooting). Would you be able to disable Bleve to see if it helps with the issue?
3. Are th

[2020-08-27 19:39] bhargav50 commented on #15302
I would like to work on this issue..

[2020-08-27 21:00] hmhealey commented on #15159
I don't have anything set up to record a gif right now, but hopefully I can explain it well enough. When you hover over a post and the background of the post becomes darker (or lighter when a dark theme), the effect wraps around the text of the New Messages line and the Date lines on the post list like this:
![Screen Shot 2020-08-27 at 4 52 30 PM](https://user-images.githubusercontent.com/3277310/

[2020-08-27 21:03] #14612 closed

[2020-08-27 23:24] jaydeland commented on #15350
@amyblais - I was wrong, this is expected according to GitHub: https://developer.github.com/v3/repos/releases/#get-the-latest-release

[2020-08-28 01:28] harshilsharma63 commented on #15352
@jasonblais can you clarify what is expected in regards to "Telemetry with basic usage statistics"?

[2020-08-28 06:27] jangrewe commented on #15350
But if you cherry-pick into past releases, then, as the name implies, those are still past releases and not the latest release.
It is also my understanding that by modifying an existing release, that release should get a patch level version increment, as it is not the same version you released under that version number.

[2020-08-28 07:16] metanerd commented on #15350
@jangrewe what you say is correct. Still the `created_at` date of the commit for the past release is newer than the latest release's `created_at` date. So this is technically correct, but not intended this way.

Since there will be a revision coming up for our release process, this shouldn't happen anymore afterwards. Please kindly bear with us till then.

[2020-08-28 07:21] jangrewe commented on #15350
@metanerd Hey Eli, nice to see you at your new job ;-)

Thanks, i'll silence my alerts for this repo and will check manually for now.

[2020-08-28 08:20] SamuelGabriel opened #15362 "Sort last chats"
#### Summary
Currently the chat section (direct messages) is not sorted by who I had last conversation with, but by alphabet. Most messengers (Slack, WhatsApp, Facebook) use a sorting based on last activity. This is very useful

#### Steps to reproduce
My version is 4.5.2

#### Expected behavior
Direct messages in order of last activity. Maybe even giving a badge to unanswered threads, s.t. it is

[2020-08-28 12:07] amyblais commented on #15362
Channels can be sorted by recency when this setting is enabled: https://docs.mattermost.com/administration/config-settings.html#sidebar-organization-experimental. However, it will apply to all channels.

You can also upvote this feature request: https://mattermost.uservoice.com/forums/306457-general/suggestions/40489678-private-channels-and-messages-to-be-sorted-by-the

[2020-08-28 12:08] #15362 closed

[2020-08-28 13:07] saturninoabril commented on #15257
Thanks @josephk96! PR merged; closing this now.

[2020-08-28 13:07] #15257 closed

[2020-08-28 13:10] shieldsjared commented on #15357
@amyblais
1. This is a brand new configuration of elastic search... We had not used it prior to 5.26... So that step sounds like it doesn't apply (there's no prior index to purge first).
2. Bleve is/was not enabled.  We tested Bleve first independently, and when that gave us the error, we fully disabled that, and moved on to trying out Elasticsearch.
3. Below are some log entries that seem to stan

[2020-08-28 13:59] CEOehis commented on #15159
I also figured that block of code is responsible for that functionality. So naturally, I commented it out to see if it was, but I noticed it didn't have any effect. I think that block of code doesn't have any effect and the current wrapping functionality is actually achieved using CSS and the hover pseudo class, rather than the class names added or removed on hover.

I'm still debugging this to fi

[2020-08-28 14:24] jasonblais commented on #15352
@harshilsharma63 I removed the 'telemetry' requirement, no need to worry about it for this bounty :)

[2020-08-28 19:28] #15350 closed

[2020-08-28 21:00] #14784 closed

[2020-08-28 22:54] amyblais commented on #15340
### v5.27 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.27.0-rc1/mattermost-team-5.27.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3850/files)

[2020-08-29 01:33] jeffreycao1998 commented on #13700
Hello, I'd like to tackle this!

[2020-08-29 08:14] JeremyShih commented on #15254
Hi, I would like to take this one.

[2020-08-29 10:14] luryus commented on #14027
This issue still seems to be unresolved. I could try to fix this!

[2020-08-29 13:11] RajatVaryani commented on #15249
@agnivade Hey 👋 , I'm interested to investigate.

[2020-08-29 23:33] kaakaa opened #15365 "MM-28365 PostUtils.formatText crash when formatting text with unicode emoiji"
#### Summary

Plugin utility function [PostUtils.formatText](https://developers.mattermost.com/extend/plugins/webapp/reference/#post-utils) crashes when formatting unicode emoji character (e.g.: 🚒  ) with `{markdown: false}` option.

refs: https://github.com/matterpoll/matterpoll/issues/319

#### Steps to reproduce
1. Deploy a plugin with calling `console.log(PostUtils.formatText('🚒', { markdown:

[2020-08-30 07:36] dalcde opened #15366 "Error when joining a channel twice consecutively"
#### Summary

If one attempts to join a channel twice in rapid succession (in particular, making the second call before the first one terminates), mattermost gives an error.

#### Steps to reproduce
Run the following command to join a channel (twice)
[code]
The console output is
[code]
The logs at the server are
[code]
#### Expected behavior
Both calls are successes, which is the case if the `&` i

[2020-08-30 09:57] frankarinze commented on #15300
@josevelaz  are you still working on this, would like to join you if this is still open thanks🙂

[2020-08-30 13:36] uusijani commented on #13000
This hasn't manifested itself in ages anymore, so it's probably fixed.

[2020-08-30 13:36] #13000 closed

[2020-08-30 14:28] jasonblais commented on #15354
@tomkis90 is exploring the Nagios plugin now. If you're interested to collaborate, hope to see in the Mattermost channel! https://community.mattermost.com/core/channels/plugin-nagios

[2020-08-30 14:29] jasonblais commented on #15353
`dbejanishvili`, `gvantsats` and `bakurits` are now working on this plugin

[2020-08-30 17:54] jasonblais opened #15367 "Test new help wanted issue format"

[2020-08-30 18:08] #15367 closed

[2020-08-30 18:08] jasonblais opened #15368 "Test new help wanted issue format - try 2"

[2020-08-30 18:13] #15368 closed

[2020-08-30 22:16] freayd commented on #15245
@amyblais After testing on the community server, I can confirm that the bug is reproducible there too.

[2020-08-31 03:28] dalcde commented on #15366
Another variant discovered with errors
[code]
and
[code]

[2020-08-31 04:21] vasanth3855 opened #15369 "Mattermost opensource HA setup issue"
Hi,

Issue : "Invalid State" on mattermost page
Setup :

1. Mattermost-5.22 and mattermost-LDAP-2.0 setup on 2 servers with load balancer.
2. Linux
3. Apache2
4. PHP7.3.21

When I try to login with Mattermost-LDAP, it alows me to login first time after clearing the cache, then I get "Invalid State" error. But when I click on "Back to Mattermost" it redirects me to mattermost channels page.
![image

[2020-08-31 07:45] VinitSarvade commented on #13686
I would like to take this up.

[2020-08-31 08:00] robert-scheck commented on #15295
Thank you. Is there already any intermediate status update for PostgreSQL 12?

[2020-08-31 11:40] #14433 closed

[2020-08-31 18:22] grajsor commented on #15349
No. It also spams in PM:s as "Mattermost Advisor" once a day, on top of the annoying bar on refresh.

[2020-08-31 19:25] #13691 closed

[2020-08-31 20:52] hmhealey commented on #15159
That's great to find out. That code has always been ugly, so it'll be good to get rid of it. We don't even use the `date-separator` class that's referenced by part of that code since the newer component uses a `DateSeparator` class.

Looking into it a bit more, the background of the post actually extends all the way to the divider lines now which wasn't the case back when this code was actually ne

[2020-09-01 07:50] sdicataldo commented on #13815
Hi,
I have an issue to add new line in any messages shared using the api.
In the Mattermost Version: 5.25.1 the character \n, does not add a new line anymore in the final shared message. This was working in the previous mattermost api version.
Any advice on this?

Thanks.

[2020-09-01 15:13] js290 commented on #13815
Noticing this on 4.2.1 as well.  `\n` is not rendered as a new line.

[2020-09-01 16:12] esethna commented on #15086
Nice, thanks @avasconcelos114!

[2020-09-01 17:05] jack9603301 opened #15377 "Message loss may occur when the message is sent quickly enough to comment or the network is not good"
# Summary

Message loss may occur when the message is sent quickly enough to comment or the network is not good

# Steps to reproduce

The A side sends data at a certain frequency, and the B side may lose packets when the speed is too fast or the network is not ideal

# Expected behavior

Even if the network environment is not ideal or end A sends data too fast, the message should not be lost

# O

[2020-09-02 09:09] jack9603301 commented on #15377
No Body?

[2020-09-02 09:34] dfun90 commented on #15349
Posted a question if there's a way to disable it on the Mattermost Server, but yea, I know that you guys need to make some money with Mattermost, but there should be a way to deactivate the information banner and daily message from the Mattermost Advisor suggesting to upgrade to the Enterprise license. It's a bit annoying. (Also, pitching to my boss to spend $60k annually (for our existing user co

[2020-09-02 14:20] jasonblais commented on #15369
Hi @vasanth3855, can you help share more about "mattermost-LDAP-2.0"? Are you using the officially supported AD/LDAP support with Mattermost? https://docs.mattermost.com/deployment/sso-ldap.html

[2020-09-02 14:21] jasonblais commented on #15337
@nsingxia Are you open to sharing the information above (steps to reproduce, expected and observed behaviour)? This will make it easier for us to troubleshoot the issue.

[2020-09-02 14:23] jasonblais commented on #15377
@jack9603301 Thanks for the issue report. Can you help share more about your environment, in particular:

1. What OS and version is the Mattermost server installed? E.g.: Ubuntu 18.04
2. What Mattermost server version do you have? (You can find this by navigating to the main menu in top left corner of the Mattermost window, then choosing "About Mattermost")
3. Are you experiencing the issue with t

[2020-09-02 14:27] jasonblais commented on #15357
Hey @shieldsjared! :)

Covering for Amy while she's away. @ethervoid or @svelle would you be open to help review the above and help with troubleshooting?

[2020-09-02 14:28] jasonblais commented on #15366
@dalcde Thanks! Can you help share which Mattermost server version you're on? (You can find this from the main menu in the top left corner of Mattermost window, then selecting "About Mattermost")

@saturninoabril would you be open to trying to see if you can reproduce this issue?

[2020-09-02 14:29] jasonblais commented on #15365
Thanks for the report! @iomodo or @hanzei are you open to see if you can reproduce the issue and we can create a bug ticket for it?

[2020-09-02 14:40] dalcde commented on #15366
This is tested with Mattermost 5.26.0

[2020-09-02 14:40] ethervoid commented on #15357
The error comes from [here](https://github.com/mattermost/mattermost-server/blob/master/store/sqlstore/post_store.go#L1524-L1559) and looks like there are posts that have `channelId` pointing to an non-existing channel or it's null.

Can you verify that doing a query like this:
[code]

This way we can verify those cases and check if it's something that shouldn't have happened or a bug in our code

[2020-09-02 15:03] shieldsjared commented on #15357
Hey @jasonblais!

@ethervoid - You're quick!  Indeed, I got back 1071.  Appear to be pointing to a non-existent channel. I'm actually OK with just purging these posts... safe to just delete these posts from the Posts table, or are there any other places that will also require cleanup?

[2020-09-02 15:18] saturninoabril commented on #15366
Sure @jasonblais.

I tried and got the same error logs. Then, looking at the channel, I can see that the user is actually added.

I believe the error is expected.  Using `&`, both requests got into the store layer and were both trying to save into the DB. The first one is successfully saved and eventually the second one threw an error (which is expected). Using `&&`, the first request saved direct

[2020-09-02 15:40] ethervoid commented on #15357
@shieldsjared :) probably the best way to deal with it is calling [this endpoint](https://api.mattermost.com/#tag/posts/paths/~1posts~1{post_id}/delete) so you get rid of all the intermediate data. Try that and if you get an error we can think about another solution

[2020-09-02 15:41] dalcde commented on #15366
My main issue is that the the *client* receives an error, when it should
have been a success. I would expect an error to indicate the user is not
in the channel instead.

[2020-09-02 15:44] jack9603301 commented on #15377
1. I use debian10
2. 5.26.0
3. I don’t really understand what it means, but in my case, it’s not that you can’t send messages, but that the B-side must refresh to view new messages in some cases.
4. I don’t have enough subjects for full testing, but on my side, this situation has always existed
5. No meaningful information was found in the log

ps: I am using a cluster file system with the backend

[2020-09-02 15:55] saturninoabril commented on #15366
No, with `&` it's actually an error on the other request. I believe it should be handled properly by the client.

[2020-09-02 16:12] jack9603301 commented on #15377
1. I use debian 10
2. Mattermost version is 5.26.0, database Schema version is 5.26.0, database is mysql
3. I don’t quite understand what you mean. My situation here is not that I can’t send it out, but that the B-side must be refreshed at some point to see the results. Is this because of a problem with the push mechanism. I hope that even if the network is not ideal, it should only be pushed slow

[2020-09-02 16:17] shieldsjared commented on #15357
@ethervoid - Getting 403 (I'm a sysadmin... tested on other known posts to confirm my API call is working). :/

[2020-09-02 16:24] ethervoid commented on #15357
@shieldsjared can you share with me the error message you're seeing in the logs for that 403 so we can see if that is something we can solve?

[2020-09-02 16:34] shieldsjared commented on #15357
Just getting this...

[code]

Perhaps because this posts are referencing a channel id of a channel that does not exist?

[2020-09-02 16:44] dkmonaghan opened #15384 "Error when sending large response to slash command"
#### Summary
Sending a very large response to a slash command does not behave as expected

#### Steps to reproduce
Mattermost Version 5.25.2
Database Schema Version 5.25.0 (mysql)

#### Expected behavior
When sending a very large response (>16,000 characters) to a /slash command, the response should be split over multiple messages

#### Observed behavior (that appears unintentional)
The message is

[2020-09-02 16:50] dkmonaghan commented on #15384
I have just upgraded to 5.26.1, which made no difference.

[2020-09-02 17:42] ethervoid commented on #15357
Yes, sadly that is because is trying to check for permissions on that channel. The only way I can think of is to delete them by hand.

First of all, I encourage you to make a backup of the database or even better duplicate your installation and test this in a controlled environment to see if this is the cause of your problems and don't have side-effects.

The tables with posts relationships are Po

[2020-09-02 17:48] shieldsjared commented on #15357
Definitely agree on backup and testing! Thanks for confirming the relationships.  Appreciate you @ethervoid!

[2020-09-03 02:39] vasanth3855 commented on #15369
Hi @jasonblais,

I'm using the Mattermost-LDAP (https://github.com/Crivaledaz/Mattermost-LDAP)
I'm using the opensource one.

Thanks,
Vasanth

[2020-09-03 04:28] agnivade commented on #15249
That sounds amazing @RajatVaryani. Please let me know if there's anything to help with. I have just given a cursory overview in the issue, but the general idea is to use a sync.Pool to store the model.User and model.Session objects which are backed by the LRU cache. It might be a good idea to focus on just one object type at a time and send PR for that one.

[2020-09-03 04:29] #15128 closed

[2020-09-03 05:54] #15129 closed

[2020-09-03 11:41] jasonblais commented on #15369
Hi @vasanth3855, thank you for confirming. We don't support the LDAP module you referenced as it's community-managed, so I would encourage you to open an issue in their repo.

You also mentioned HA setup - we have documentation for it available at https://docs.mattermost.com/deployment/cluster.html, and we'd be happy to help you out if you have any questions about its setup.

[2020-09-03 13:19] #15130 closed

[2020-09-03 14:16] jack9603301 commented on #15377
I feel I have found the problem. The nginx reverse proxy communication of websocket in the cluster environment requires special methods such as message queue to be solved. Otherwise, messages received by other servers will be discarded. How to solve this problem?

[2020-09-03 14:16] jasonblais commented on #15377
@jack9603301 To start, I recommend following our install and configuration documentation for NGINX proxy : https://docs.mattermost.com/install/install-ubuntu-1804.html#installing-nginx-server

[2020-09-03 14:18] jack9603301 commented on #15377
@jasonblais I follow the nginx deployment recommendations. But the difference is that my backend adopts a 3-node cluster high-availability configuration. Is there a way to solve the cross-server problem of websocket, or do I have to deploy mattermost at a single point?

[2020-09-03 14:20] jasonblais commented on #15377
@jack9603301 got it. Are you using a 3-node cluster for the Mattermost server as well? https://docs.mattermost.com/deployment/cluster.html

If not, that may be one option to explore.

[2020-09-03 14:42] jack9603301 commented on #15377
@jasonblais Does the open source version support this feature?

[2020-09-03 14:43] shieldsjared commented on #15357
@ethervoid - Thanks for the help! That solved our issue :)  Closing this out.  I'm guessing that the folks on #14929 are likely having the same issue w/ Bleve... Thanks again!

[2020-09-03 14:43] #15357 closed

[2020-09-03 14:44] ethervoid commented on #15357
Really glad to know that this fixed the issue :)

[2020-09-03 14:46] #15287 closed

[2020-09-03 15:19] ahmaddanialmohd commented on #15377
@jack9603301 Just chiming in on this real quick. The cluster deployment is available for E20 Enterprise offering based on the documentation shared by @jasonblais. May I know if you are currently utilizing this offering?

[2020-09-03 15:21] jack9603301 commented on #15377
Currently in the open source non-enterprise E20 state, the server is now working in the active and standby state

[2020-09-04 02:21] #15305 closed

[2020-09-04 02:45] vasanth3855 commented on #15369
Hi @jasonblais, thanks for the update.

Issue has been fixed just by delaying the logout request.
By setting the sleep(2) before killing the session in Mattermost Ldap.

Thanks,
Vasanth

[2020-09-04 02:45] #15369 closed

[2020-09-04 06:25] #15377 closed

[2020-09-04 08:25] agnivade commented on #15248
Great stuff @KrishnaSindhur! Feel free to let me know if you have any questions.

[2020-09-04 10:47] dkmonaghan opened #15394 "API v4 /users/{id} returning incomplete response"
#### Summary
The /users/{id} endpoint in API v4 does not return all the information the documentation suggests it should.

#### Steps to reproduce
Make an API call to /users/{id} in v5.26.1

#### Expected behavior
The response should contain lots of metadata about the user, see Response samples at:
https://api.mattermost.com/#tag/users/paths/~1users~1username~1{username}/get

#### Observed behavio

[2020-09-04 16:08] dalcde opened #15395 "/posts/{post_id}/thread endpoint returns wrong order"
The order field returned by `/posts/{post_id}/thread` often has duplicate
entries and occasionally has results in the wrong order.

This was tested on 5.26.0 and happens consistently --- I've never had a correct response

[2020-09-05 14:56] kaakaa commented on #15365
Yes, I would like to resolve this issue.

With some inspection, I found that this issue was introduced by #4402. #4402 add an argument `emojiMap` to `formatText` function for internal invokes. But `formatText` is also used by plugin developer, and it's hard for plugin developer to create  `emojiMap`.

I understand the concept of #4402 and it makes sense, but I think that the best solution to resol

[2020-09-06 17:47] dantepippi commented on #13467
Won't be able to work on it for some time. Truly sorry.

[2020-09-07 08:15] mattermod opened #15399 "Automatically pause GIFs after a certain number of loops"
User story: [https://community-daily.mattermost.com/core/pl/nwiooj57tfdouk36mf7b5j58oy](https://community-daily.mattermost.com/core/pl/nwiooj57tfdouk36mf7b5j58oy)

Design and functional notes can be accessed here:
[https://www.figma.com/proto/7psXW8qYfp0LZTBT1ZWvkO/Gif-Controls?node-id=48%3A8884&viewport=683%2C511%2C0.23019954562187195&scaling=min-zoom](https://www.figma.com/proto/7psXW8qYfp0LZTBT

[2020-09-07 09:00] mattermod opened #15400 "Add a new browser favicon state for when there are new messages but no mentions"
Currently we have a two browser favicons:

1. Default favicon
 ![](image-2020-05-26-11-22-14-478.png|thumbnail)

2. Mentions favicon
 ![](image-2020-05-26-11-22-00-910.png|thumbnail)

Can we add a third browser favicon that is used when there are new messages but no mentions. Currently this is the same as the default favicon so users are missing when there are new unreads.

user story: https://twi

[2020-09-07 09:00] mattermod opened #15401 "Desktop: Limit tab size for servers with long name"
Environment: 4.5-rc0, also found on 4.4.2.
On 4.3 long server name was truncated and tab size appeared limited in size.

Steps:
1) Add a new server with a long name , 60+ characters e.g.  "server with a relatively long name server with a relatively long name server with a relatively long name"
2) Add another server with a long name without any word breaks e.g. "serverwitharelativelylongnameserverw

[2020-09-07 09:57] itil2020 opened #15402 "Spell checking for Spanish is not working as expected"
#### Summary
Spell checking for Spanish is incorrect

#### Steps to reproduce
Having selected Spanish (ES) as spelling language and writing the word "la bentana" (the window) which correctly would be "la ventana", there are no suggestions that seem correct.
we use latest MM clients on Win and Mac v4.5.3.

#### Expected behavior
It does not fail with all words, but for example "canet" , which would

[2020-09-07 14:35] josephk96 commented on #13983
Hi, I tested this out and the Channel Name and Channel Drawer buttons seem to be accessible to me - they show up as buttons and when clicking on them, Talkback reads the proper labels to me. The search and `...` buttons are not accessible.
I'm on Android 7.1 and Talkback 6.2.0. I'd like to take this, but since the two buttons are not reproducing for me, should I just add accessibility to the two b

[2020-09-07 15:02] josephk96 commented on #13983
I went ahead and created a PR for this, hope it's okay!

[2020-09-08 12:14] #14027 closed

[2020-09-08 13:42] #13707 closed

[2020-09-08 13:55] amyblais commented on #15245
Thanks, sorry for the delay, I was off last week. Ticket: https://mattermost.atlassian.net/browse/MM-28447.

[2020-09-08 14:53] hmhealey commented on #15365
Do plugins have access to the `Markdown` component? I'd say that would be the best option for them since they wouldn't have to care about `emojiMap` or any of the other props needed for markdown rendering, and they'll continue to be compatible if we add any additinoal arguments to it in the future.

[2020-09-08 14:57] #15254 closed

[2020-09-08 15:00] mattermod opened #15412 "Implement PlaybooksService"
Help flesh out the Go client API for the playbooks service. Today, the [implementation](https://github.com/mattermost/mattermost-plugin-incident-response/blob/4ec0926b0dec8bad4e0ef7ef73554bf95eb9b8d3/client/playbooks.go#L53-L82) of that client is just a stub with the desired API:

[code]

The `PlaybookService` struct has access to a `Client` and underlying `*http.Client`. Implement the above metho

[2020-09-08 15:15] mattermod opened #15413 "Implement datetime picker in Interactive Dialogs"
Currently there is no way to pick a date or datetime in interactive dialogs. The current elements can be found here: https://docs.mattermost.com/developer/interactive-dialogs.html#elements

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/core/pl/e4nwcfx3ntbjdyioqnw68gsq6w)*.

Note that this will need to be implemented in the webapp and the mobile app

----
If y

[2020-09-08 15:19] streamer45 commented on #15394
Hi @dkmonaghan,

as the API endpoint documentation states, the result will be sanitized, meaning that all sensitive information will be excluded from the response.

These are the fields/attributes of the user object that get removed during sanitization:

[code]

[2020-09-08 15:23] freayd commented on #15245
No worries. Thanks for opening a ticket.

[2020-09-08 16:05] streamer45 commented on #15395
Hi @dalcde,

it appears that the endpoint doesn't sort the posts.
As far as duplicates were you able to get more than one? As far as I can see the only duplicate would be the post with the id that gets fetched by the request which should always in first position in the `order` list.

[2020-09-08 16:32] vszakats commented on #13924
Quite a let-down reading the response to this.

While the GDPR doesn't specify that there must exist a self-service delete button, any alternate solution for online systems with a account/login mechanism will make the deletion process cumbersome and unverifiable with regards to user experience and GDPR compliance.

I.e. if the user doesn't have the option to login and erase the account themself, t

[2020-09-08 17:39] bhargav50 commented on #15160
Question in second point in tests expectations, which is,
"Link tooltips (such as those added by the Mattermost Plugin Demo) fade in and out with an animation"

Here I don't think in e2e tests are supposed to check animations, as far as I have researched, cypress doesn't support testing of animations. @hmhealey if that is answered, then I can pick this task.

[2020-09-08 17:40] papakaliati commented on #15413
Mine for the taking.

[2020-09-08 18:11] bhargav50 commented on #15400
I would like to work on this one...

[2020-09-08 21:25] #15302 closed

[2020-09-08 21:46] hmhealey commented on #15160
Instead of checking for a specific animation, we could look for the CSS class that controls the animation since I believe those ones are CSS-based. If they're not CSS-based, you could make them CSS based and look for a class or I think Cypress has the ability to look at CSS styles if I'm not mistaken.

[2020-09-09 00:24] Roy-Orbison commented on #9451
It should be a bug. If someone embeds a GIF this way, it will annoy you for eternity.

[2020-09-09 02:24] mickmister commented on #15413
FYI this will need to be implemented in the webapp and the mobile app. Thanks for taking on the task @papakaliati!

[2020-09-09 04:25] dalcde commented on #15395
That sounds right to me.

[2020-09-09 04:44] bhargav50 commented on #15160
Thanks for answering, I would like to work on this

[2020-09-09 08:49] k-x-p opened #15417 "Impossible to produce @ symbol due to addition of conflicting hotkey"
#### Summary
Cannot produce @ symbol with Estonian keyboard layout due to Alt Gr being remapped as a hotkey

#### Steps to reproduce
1) Use Estonian keyboard layout
2) Press Alt Gr + 2 or Ctrl + Alt + 2 (key combination for @ symbol in Estonia keyboard layout)
* Mattermost version 4.2.1. Windows 8.1.

#### Expected behavior
Prints @ symbol to the active textbox (e.g. message on channel, private me

[2020-09-09 11:14] Willyfrog commented on #15402
Hi there! thanks for reporting.
I'm afraid that's a desktop bug, we are currently using a library (simple-spellchecker) which gets confused by the word if the typo is in the first character, but it shows the right word if the typo is in any other.

<img width="281" alt="Screen Shot 2020-09-09 at 13 07 54" src="https://user-images.githubusercontent.com/1515906/92591428-26ec5b00-f29e-11ea-8cc5-e3177

[2020-09-09 11:14] #15402 closed

[2020-09-09 13:10] amyblais commented on #15417
@k-x-p Do you see the same issue on the latest desktop app version (v4.5)?

[2020-09-09 13:59] amyblais commented on #15384
@iomodo / @mickmister Would you know if there is a bug here?

[2020-09-09 14:34] iomodo commented on #15384
Looks like a bug, we should investigate

[2020-09-09 14:38] amyblais commented on #15384
Opened a ticket: https://mattermost.atlassian.net/browse/MM-28500.

[2020-09-09 18:00] k-x-p commented on #15417
Got ahead of myself with being annoyed, sorry about that.

Since the app gave me a message yesterday to refresh it to update to the latest version, i assumed it was the latest (as that was also when the issues started). When downloading the latest client (4.5.3) manually, Alt gr seems to be working.

[2020-09-09 18:00] #15417 closed

[2020-09-09 18:47] esethna commented on #15023
Moving this back to up for grabs! @Upinder123 let us know if you're still working on it :)

[2020-09-09 18:50] esethna commented on #14200
@frankarinze how's this going? Need any help?

[2020-09-09 20:07] mickmister commented on #13910
Hi @RajatVaryani how's it going? Do you have any questions on this ticket?

[2020-09-10 03:28] saturninoabril commented on #15120
Cypress Test Automation Hackfest is closed. Top contributors will be announced soon.

[2020-09-10 03:28] #15120 closed

[2020-09-10 08:56] esadur commented on #15349
Hi all. I’m working with the team to track down bugs and make some updates to the advisor. After the updates, window refreshes won’t cause the banner to reappear, and the advisor bot will send a single message.

If you click “Learn more” and then “Contact us”, the notifications should stop. If they do in fact reappear, let us know—we’ve heard some reports of this but haven’t been able to reproduce

[2020-09-10 11:29] #14003 closed

[2020-09-10 13:39] #15046 closed

[2020-09-10 14:29] hmhealey commented on #15160
Awesome. Feel free to let me know if you have any more questions.

[2020-09-10 16:49] amyblais commented on #15295
We have a ticket open to do tests on PostgreSQL 12: https://mattermost.atlassian.net/browse/MM-28550.

[2020-09-10 18:44] #14255 closed

[2020-09-10 19:25] bbodenmiller opened #15427 "Unarchive channel option missing for non-team and system admins"
#### Summary
Unarchive channel option missing for non-team and system admins

https://mattermost.com/blog/mattermost-5-22-read-only-channels-channel-moderation-settings-in-e20/#:~:text=Unarchive%20channels%20directly%20from%20the%20Mattermost%20interface

https://docs.mattermost.com/help/getting-started/organizing-conversations.html#unarchiving-a-channel

#### Steps to reproduce
1. Archive channel

[2020-09-10 19:26] bbodenmiller commented on #15427
@allenlai18 any ideas here what's going on?

[2020-09-10 23:55] amyblais commented on #15340
### v5.27 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.27.0-rc2/mattermost-team-5.27.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3850/files)

[2020-09-11 05:38] agnivade commented on #13910
I think this is already done by @jespino.

[2020-09-11 07:57] juergensachs opened #15430 "Translation problem: Welcome message in "Town Square" (German)"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.
#### Summary
The german traslated welcome text for Channel "Town Square" is a "little bit wrong"

#### Steps to reproduce
Look in new german client on top of the default channel "Town Square"The current text is
" ...  Jeder wird automatisch ein permanentes Mitglied in diesem Kanal, wenn **_Sie

[2020-09-11 13:06] amyblais commented on #15430
@juergensachs Would you like to suggest this edit via our translation server? You can find instructions here on how you can join: https://docs.mattermost.com/developer/localization.html#initial-translation

[2020-09-11 13:07] amyblais commented on #15427
@bbodenmiller Would you be open to sharing more details about your environment from here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2020-09-12 03:53] #15185 closed

[2020-09-12 05:16] JeremyShih commented on #15412
Is the goal to implement the same behavior as the original API and replace them?
For example, `Create` should perform the same business logic as `http.NewRequest("POST", "/api/v1/playbooks", jsonPlaybookReader(playbooktest))`.

[2020-09-12 08:42] jeffrysleddens commented on #15012
We ran into the same problem after going from 5.19.1 to 5.25.5.  Very sluggish text input. Enabled plugins: Jira, Matterpoll and Memese.

[2020-09-12 10:05] Ryba04 opened #15438 "Problem with sending images much higher than a wider."
#### Summary
An attempt to send image much higher than a wider causes problems with the chat. Tested three times on different chats mattermost 5.25.0.

#### Steps to reproduce
1. Create image much higher than a wider (for example 1x100000pix).
2. Try to send this image on Mattemost chat.
3. Sending goes on and on and on, after some minutes you will probably see a 504 server error and you will not

[2020-09-12 16:14] hiendinhngoc commented on #12486
Can I take this?

[2020-09-13 05:37] agnivade commented on #15438
Would you be able to upload such an image so that we can test this?

[2020-09-13 09:56] Ryba04 commented on #15438
There it is, but anyone can generate such a file in GIMP in 10 seconds, so I didn't see any point in uploading this image.
[https://zapodaj.net/b1387c6bb3253.png.html](url)

[2020-09-13 10:33] agnivade commented on #15438
Thanks for the help @Ryba04 and my apologies for not generating it myself. Sorry for the extra work there!

The issue is happening during postProcessing and it gets stuck trying to resize the image. I have created a ticket here: https://mattermost.atlassian.net/browse/MM-28638.

[2020-09-14 13:14] #15340 closed

[2020-09-14 13:31] devinbinnie commented on #12486
Absolutely!

[2020-09-14 13:45] mattermod opened #15439 "Migrate 'components/post_view/date_separator' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/date*separator` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2020-09-14 13:45] mattermod opened #15440 "Migrate 'components/post_view/post_body' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post_view/post_body` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:45] mattermod opened #15441 "Migrate 'components/post_view/show_more' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/show*more` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:45] mattermod opened #15442 "Migrate 'components/post_view/reaction' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post_view/reaction` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-09-14 13:45] mattermod opened #15443 "Migrate 'components/post_view/combined_system_message' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/combined_system*message` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-09-14 13:45] mattermod opened #15444 "Migrate 'components/post_view/reaction_list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/reaction*list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2020-09-14 13:45] mattermod opened #15445 "Migrate 'components/post_view' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post_view` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
-

[2020-09-14 13:45] mattermod opened #15446 "Migrate 'components/post_view/post_flag_icon' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post_flag*icon` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2020-09-14 13:45] mattermod opened #15447 "Migrate 'components/post_view/post_attachment_opengraph' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post_attachment*opengraph` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js`

[2020-09-14 13:45] mattermod opened #15448 "Migrate 'components/post_view/post_reaction' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post*reaction` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2020-09-14 13:45] mattermod opened #15449 "Migrate 'components/post_view/post_message_view' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post_message*view` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-09-14 13:45] mattermod opened #15450 "Migrate 'components/post_view/post_list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post*list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:45] mattermod opened #15451 "Migrate 'components/post_view/combined_user_activity_post' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/combined_user_activity*post` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js

[2020-09-14 13:45] mattermod opened #15452 "Migrate 'components/post_view/failed_post_options' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/failed_post*options` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts

[2020-09-14 13:45] mattermod opened #15453 "Migrate 'components/post_view/post_image' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post*image` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-09-14 13:45] mattermod opened #15454 "Migrate 'components/post_view/post_time' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post*time` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:45] mattermod opened #15455 "Migrate 'components/post_view/post_add_channel_member' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post_add_channel*member` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- [ ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-09-14 13:45] mattermod opened #15456 "Migrate 'components/post_view/message_attachments/action_menu' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/message_attachments/action*menu` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-09-14 13:45] mattermod opened #15457 "Migrate 'components/post_view/message_attachments/message_attachment' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/message_attachments/message*attachment` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2020-09-14 13:45] mattermod opened #15458 "Migrate 'components/post_view/floating_timestamp' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/floating*timestamp` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`

[2020-09-14 13:45] mattermod opened #15459 "Migrate 'components/post_view/channel_intro_message' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/channel_intro*message` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2020-09-14 13:45] mattermod opened #15460 "Migrate 'components/post_view/post_body_additional_content' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post_body_additional*content` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `j

[2020-09-14 13:45] mattermod opened #15461 "Migrate 'components/post_view/new_message_seperator' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/new_message_seperator` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2020-09-14 13:45] mattermod opened #15462 "Migrate 'components/post_view/commented_on_files_message' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/commented_on_files*message` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js`

[2020-09-14 13:45] mattermod opened #15463 "Migrate 'components/post_view/post_header' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post*header` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-09-14 13:45] mattermod opened #15464 "Migrate 'components/post_view/post' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post_view/post` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2020-09-14 13:45] mattermod opened #15465 "Migrate 'components/post_view/post_list_row' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post_list*row` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2020-09-14 13:45] mattermod opened #15466 "Migrate 'components/post_view/post_info' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/post*info` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:45] mattermod opened #15467 "Migrate 'components/post_view/commented_on' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post*view/commented*on` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2020-09-14 13:45] mattermod opened #15468 "Migrate 'components/team_general_tab' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team*general*tab` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2020-09-14 13:45] mattermod opened #15469 "Migrate 'components/user_list_row_with_error' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*list_row_with*error` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2020-09-14 13:45] mattermod opened #15470 "Migrate 'components/emoji' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/emoji` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
- [ ]

[2020-09-14 13:45] mattermod opened #15471 "Migrate 'components/emoji/emoji_list_item' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/emoji/emoji*list*item` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-09-14 13:45] mattermod opened #15472 "Migrate 'components/emoji/add_emoji' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/emoji/add_emoji` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `t

[2020-09-14 13:45] mattermod opened #15473 "Migrate 'components/emoji/emoji_list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/emoji/emoji_list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2020-09-14 13:46] mattermod opened #15474 "Migrate 'components/team_selector_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team*selector*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:46] mattermod opened #15475 "Migrate 'components/single_image_view' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/single*image*view` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-09-14 13:46] mattermod opened #15476 "Migrate 'components/create_post' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/create_post` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2020-09-14 13:46] mattermod opened #15477 "Migrate 'components/team_settings_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team*settings*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:46] mattermod opened #15478 "Migrate 'components/permissions_gates/any_team_permission_gate' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/permissions*gates/any_team_permission*gate` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie

[2020-09-14 13:46] mattermod opened #15479 "Migrate 'components/permissions_gates/team_permission_gate' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/permissions*gates/team_permission*gate` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `j

[2020-09-14 13:46] mattermod opened #15480 "Migrate 'components/permissions_gates/channel_permission_gate' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/permissions*gates/channel_permission*gate` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-09-14 13:46] mattermod opened #15481 "Migrate 'components/permissions_gates/system_permission_gate' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/permissions*gates/system_permission*gate` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-09-14 13:46] mattermod opened #15482 "Migrate 'components/member_list_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/member*list*channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-09-14 13:46] mattermod opened #15483 "Migrate 'components/audit_table' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/audit_table` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2020-09-14 13:46] mattermod opened #15484 "Migrate 'components/integrations/edit_outgoing_webhook' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/edit*outgoing*webhook` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2020-09-14 13:46] mattermod opened #15485 "Migrate 'components/integrations/edit_incoming_webhook' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/edit*incoming*webhook` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2020-09-14 13:58] lieut-data commented on #15412
Hey @JeremyShih, that's basically it -- @ali-farooq0, can you comment on your vision for the `PlaybookCreateOptions`? Wondering if we should just accept a `Playbook` directly?

[2020-09-14 14:33] mgdelacroix opened #15486 "Add end to end tests to the "userCreateCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `userCreateCmdF` command, in the `commands/user.go` file. The expected wa

[2020-09-14 14:33] mgdelacroix opened #15487 "Add end to end tests to the "userInviteCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `userInviteCmdF` command, in the `commands/user.go` file. The expected wa

[2020-09-14 14:33] mgdelacroix opened #15488 "Add end to end tests to the "sendPasswordResetEmailCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `sendPasswordResetEmailCmdF` command, in the `commands/user.go` file. The

[2020-09-14 14:34] #13470 closed

[2020-09-14 14:38] mgdelacroix opened #15489 "Add end to end tests to the "updateUserEmailCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `updateUserEmailCmdF` command, in the `commands/user.go` file. The expect

[2020-09-14 14:38] mgdelacroix opened #15490 "Add end to end tests to the "changePasswordUserCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `changePasswordUserCmdF` command, in the `commands/user.go` file. The exp

[2020-09-14 14:52] ali-farooq0 commented on #15412
Yeah my initial idea here was to direct user to set fields via `PlaybookCreateOptions` that are _actually_ settable when creating a `Playbook`. An example would be: `ID, `CreatedAt` or other fields like that. However, if you have nested fields, that will cause annoyance in creating the initial request struct. So lets switch this to accept `Playbook` instead and mark those fields that are read-only

[2020-09-14 15:15] mattermod opened #15491 "RN: Improve UI for message reaction component"
To align with the updates made in the web app, update the reaction component in the mobile app as well.

  * ensures size is more tappable - height is now 32px
  * updated aesthetics (background color, corner radius is 4px, update font, font-weight and color)
  * updated icon for ‘add reaction’
  * animate the reaction increment the same way as the web app now does

Animation prototype:

[https://

[2020-09-14 15:15] mattermod opened #15492 "RN: Update UI for reaction list"
Improve the UI for the reactions list long-press interaction

  * Align with new style for users list with the autocomplete style update
  * Update style of tabs (aligning with new reaction component UI)
  * Simplify the tabs to remove the ‘all’ tab
  * Show the emoji text name (e.g. “:point_up:”) above the user list
  * Long pressing a reaction opens up the reactions list to the corresponding tab

[2020-09-14 17:54] bbodenmiller commented on #15427
@amyblais

- Mattermost 5.25.3
- Desktop app and all web browsers
- Tested from Windows 10
- RHEL 7.7
- Not running in container
- Haven't tested from mobile app

[2020-09-14 18:03] amyblais commented on #15427
Is this a public or a private channel?
Do you see the same with all channels?

[2020-09-15 01:49] christian-lim commented on #15412
Hey everyone, if this task is still available, I can work on it! I'll give Jeremy a couple days to respond.

[2020-09-15 09:12] 14Richa commented on #14148
Hey team, i wish to work on this issue. Is thgis already taken? Can you tell me the status of this issue?

[2020-09-15 09:18] 14Richa commented on #15023
Hey team, wanted to work on this issue. Is anyone working on this or can i take it? :)

[2020-09-15 10:03] hanzei commented on #14148
It seems like @allenlai18 is not longer working on this. @14Richa feel free to take it.

[2020-09-15 13:44] JeremyShih commented on #15412
I would like to work on it.

[2020-09-15 14:22] lieut-data commented on #15412
Thanks, @JeremyShih! I've assigned this your way -- feel free to reach out on https://community.mattermost.com/core/channels/ee-incident-response to discuss more!

@christian-lim, I'm going to be filing some related tickets here but wanted to test the waters with this new, "source available" repository. If you're interested in helping, I can ping on on the other tickets so you can take a look.

[2020-09-15 14:24] lieut-data commented on #15412
I've updated the description to reflect the proposed signature change. Thanks for the clarification, @ali-farooq0!

[2020-09-15 17:48] #15125 closed

[2020-09-15 18:15] christian-lim commented on #15412
@lieut-data sounds good! Please ping me in them and I'll check it out.

[2020-09-15 18:16] esethna commented on #15023
@14Richa go for it!

[2020-09-15 18:35] jfrerich commented on #15304
PR merged. Closing

[2020-09-15 18:35] #15304 closed

[2020-09-15 18:36] jfrerich commented on #15259
PR merged. Closing

[2020-09-15 18:36] #15259 closed

[2020-09-15 18:39] jfrerich commented on #15256
PR merged.  Closing.

[2020-09-15 18:39] #15256 closed

[2020-09-15 18:46] jfrerich commented on #15253
This issue appears stale. and I’m removing the `Up For Grabs` label.  If work is ongoing, please re-add the label.  If there is an existing PR, please link it to the issue.  Thanks!

[2020-09-15 18:48] jfrerich commented on #15253
This issue appears stale. and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please link it to the issue.  Thanks.

[2020-09-15 18:50] jfrerich commented on #15247
Hi @djanda97! Just checking in to see if you have any update

[2020-09-15 18:52] jfrerich commented on #15161
This issue appears stale. and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 18:54] jfrerich commented on #14968
Hi @Vars-07, thanks for the issue submission!  Do you have any updates?

[2020-09-15 18:56] jfrerich commented on #15162
This issue appears stale. and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:01] jfrerich commented on #14952
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:07] jfrerich commented on #14774
PR merged.  Closing

[2020-09-15 19:07] #14774 closed

[2020-09-15 19:08] jfrerich commented on #14740
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:16] jfrerich commented on #14896
PR Merged! Closing

[2020-09-15 19:16] #14896 closed

[2020-09-15 19:36] jfrerich commented on #14502
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:41] jfrerich commented on #14436
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:46] jfrerich commented on #14634
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:49] jfrerich commented on #14604
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:54] jfrerich commented on #14435
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 19:59] jfrerich commented on #14401
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 21:22] jfrerich commented on #14256
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 21:39] jfrerich commented on #14157
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 21:43] jfrerich commented on #14074
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-15 22:40] jfrerich commented on #13726
Hi @sikloidz!  Are you still interested in taking this ticket?  If not I'd like to mark it as `Up For Grabs` again.  Thanks!

[2020-09-15 22:43] jfrerich commented on #13721
Hi @cometkim! Do you want to work on this or shall I open it back `Up For Grabs`?  Hope you've been well :)

[2020-09-15 23:22] cometkim commented on #13721
Hi @jfrerich

I asked the core team from https://github.com/mattermost/mattermost-webapp/pull/3648 to resolve another [related issue](https://github.com/mattermost/mattermost-server/issues/10629) but it seems have not been resolved yet.

Emoji picker shares state and actions with others widely, so if we try to migrate it will make some pretty big changes.

I don't have a plan to work on this issue

[2020-09-16 02:08] djanda97 commented on #15247
Hi @jfrerich, I'm still working on implementing the `LFU` struct so that it satisfies the `Cache` interface. I'll open a draft PR with what I have so far.

[2020-09-16 02:59] josephk96 commented on #15492
Can I give this a go? Don't have a lot of experience yet with RN but I'd like to try :)

[2020-09-16 03:13] rvillablanca opened #15501 "Fix error handling in LeaveChannel operation"
#### Summary

While doing the migration of another store implementation I realized that an error was introduced in a previous `ChannelStore` migration.

It turns out when leaving a channel if there was an error getting it then that error will never be handled since we are using another reference value, that is because `store.StoreResult` now has 2 error values:

[code]
The error is set into `NErr`

[2020-09-16 03:17] jfrerich commented on #13687
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

@AkaZecik I'm sorry your question was missed.  If you'd like to work on this please feel free to to so and comment again in the ticket.

[2020-09-16 03:35] jfrerich commented on #13509
PR merged!  Closing and thanks for your contribution, @ctmusicnz

[2020-09-16 03:35] #13509 closed

[2020-09-16 03:39] jfrerich commented on #13506
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-16 03:55] jfrerich commented on #13336
This issue appears stale and I’m adding the `Up For Grabs` label.  If work is ongoing, please remove the label.  If there is an existing PR, please also link it to the issue.  Thanks!

[2020-09-16 04:09] jfrerich commented on #13103
Hi @sideling02, have you made any progress on this ticket?  Feel free to ask questions in here on the mattermost community server listed in the original issue description. Thanks!

[2020-09-16 04:19] jfrerich commented on #15247
Thanks for checking back in, @djanda97!  If you need any assistance, feel free to ask or open the draft PR :)

[2020-09-16 04:30] jfrerich commented on #13721
This typescript conversion does seem very large because of all the sharing of the component.  Although it might seem a large task I feel like it would be a good project for someone to tackle.  What do you think about opening this ticket back `Up For Grabs` and change the `difficulty` label from `Easy` to `Medium`?

[2020-09-16 07:22] jecepeda commented on #14502
HI @jfrerich can I take it? I would like to work on it

[2020-09-16 07:56] 14Richa commented on #15023
Ok. Thanks! :)

[2020-09-16 10:22] agnivade commented on #14502
All yours @jecepeda !

[2020-09-16 10:28] #13618 closed

[2020-09-16 12:44] amyblais commented on #15245
This has been fixed in v5.27, please update when you have a chance,

[2020-09-16 13:44] kaakaa commented on #15365
(At first, I'm sorry that issue links in my previous comment has pointed wrong issue. I talked about https://github.com/mattermost/mattermost-webapp/pull/4402.)

I don't know how to access `Markdown` component from plugins (, if you mentioned about [`Markdown` coponent in mattermost-webapp](https://github.com/mattermost/mattermost-webapp/blob/master/components/markdown/markdown.tsx)), and [Develop

[2020-09-16 13:45] saturninoabril commented on #14070
https://github.com/mattermost/mattermost-webapp/pull/6455

[2020-09-16 13:45] #14070 closed

[2020-09-16 14:21] Tak-Iwamoto commented on #15441
Hi, I would like to try this issue.

[2020-09-16 14:27] nevyangelova commented on #15365
@kaakaa I agree we can check if `emojiMap` is 'undefined', @hmhealey what do you think?

[2020-09-16 15:12] #15126 closed

[2020-09-16 15:31] devinbinnie commented on #15441
Sure!

[2020-09-16 15:43] saturninoabril commented on #15120
### Cypress Test Automation Hackfest :rocket: - End Results

On behalf of the organizers, @jasonblais, @lindalumitchell and the entire QA team, I'm excited to announce the official results which completed Cypress UI test automation of __92 test cases__. Thank you for making a huge impact on the project! All your contributions helps us significantly decrease time to ship releases and raise its qual

[2020-09-16 15:45] Willyfrog opened #15516 "Migrate string-refs to functional ones: this.refs.dotMenu"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-16 15:45] Willyfrog opened #15517 "Migrate string-refs to functional ones: this.refs.channelView"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-16 15:45] Willyfrog opened #15518 "Migrate string-refs to functional ones: this.refs.filter"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-16 15:45] Willyfrog opened #15519 "Migrate string-refs to functional ones: this.refs.editModalBody"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-16 15:45] Willyfrog opened #15520 "Migrate string-refs to functional ones: this.refs.filter"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-16 16:46] vasanth3855 opened #15521 "SqlSetting DB password encryption"
Hi, is there any way to encrypt the Sql password and keep it in config.json?

[2020-09-16 20:01] iwita commented on #14256
I am sorry for not responding earlier. As I was informed by other members, this issue was not Golang related. In fact, as far as I can remember, it was related to the front end of the application (JS).
Should have informed about it. So indeed, I do not have any update.

[2020-09-17 00:54] #15127 closed

[2020-09-17 04:46] agnivade commented on #15521
Hey @vasanth3855 - the securing of passwords (or secrets management in general) is typically left to the application deployer, not the application itself.

There are several options to achieve this. One is to use the [.pgpass](https://www.postgresql.org/docs/current/libpq-pgpass.html) file in Postgres or the equivalent in MySQL. Alternatively, you can use a secret management system like [vault](ht

[2020-09-17 05:46] #13983 closed

[2020-09-17 06:13] agnivade opened #15523 "Migrate AppError to error from store/sqlstore/group_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/group_store.go` t

[2020-09-17 06:13] agnivade opened #15524 "Migrate AppError to error from store/sqlstore/user_store.go"
Mattermost is migrating all usages of the `AppError` type to the more idiomatic `error` type. `AppError` is a loaded error type containing fields like HTTP Status code which is not really necessary for errors coming from the DB layer. We should migrate to using normal types satisfying the error interface.

This ticket is about migrating all usages of AppError from `store/sqlstore/user_store.go` to

[2020-09-17 08:06] bbodenmiller commented on #15427
@amyblais it's definitely happening for public channels. I don't have an archived private channel handy to test it with.

It appears to be happening with all archived channels for teams in which I'm not team admin. In teams where I am team admin unarchive option appears correctly.

[2020-09-17 13:02] freayd commented on #15245
Unfortunately, the issue is still present on the community server, currently running the version 5.27.0.

[2020-09-17 13:04] freayd commented on #15245
I didn't change any settings on my account there, and still receive notifications for lots of posts.

[2020-09-17 14:28] jfrerich commented on #14502
@jecepeda, that was quick!  It's all yours.  Thanks!

[2020-09-17 15:21] hmhealey commented on #15365
Yeah, that should work well enough. I'd be a bit worried that custom emojis in the text won't be rendered without it, but since no one has even reported this crash until now, I assume that wouldn't be a big deal if it is even an issue.

[2020-09-17 17:28] amyblais commented on #15427
There is an open ticket regarding permissions for unarchiving channels where an enterprise licence is present: https://mattermost.atlassian.net/browse/MM-22664. Maybe this is related to the issue you're seeing?

[2020-09-17 18:14] jfrerich commented on #15247
Thanks for the Draft PR.  @agnivade, would you mind self assigning as a PR reviewer, if you'd like to continue discussion!

[2020-09-17 18:19] agnivade commented on #15247
@djanda97 you can just ping me on the PR when it's ready to be reviewed and I'll take a look.

[2020-09-17 18:55] archit-p commented on #15520
Hi @Willyfrog , I'd like to work on this issue!

[2020-09-17 19:01] Willyfrog commented on #15520
Awesome! let me know if you need any clarifications :)

[2020-09-17 19:09] DHaussermann commented on #15427
Hi @bbodenmiller just to help me pin down the behavior you're issue, can you confirm you're server has an enterprise license? If so, only System admins and Teams admins would see the option.

The ticket linked by @amyblais is to implement permissions such that this can be set for other roles when using an Enterprise server.

[2020-09-17 21:01] bbodenmiller commented on #15427
@amyblais @DHaussermann I'm using community edition installed via GitLab Omnibus so I don't think this is the same issue...

[2020-09-17 21:05] esethna commented on #14157
@pradeepmurugesan let us know if you are still working on it

[2020-09-18 06:51] jecepeda commented on #14502
Hi @jfrerich @agnivade I just did the PR! If you need something more please tell me.

Best

[2020-09-18 08:26] Roy-Orbison opened #15531 "Provide an official upgrade path from MySQL to PostgreSQL"
#### Summary
If PostgreSQL is the preferred/superior database for Mattermost, there should be a supported upgrade path to it.

#### Possible fixes
As per related issue #4911, `pgloader` seems to be the tool of choice for migrating to PostgreSQL. It would be great if the Mattermost team could provide a [load command file][1] for it. This would enable the admin to create a new install (of the same v

[2020-09-18 08:51] archit-p commented on #15520
Thanks for assigning the issue to me!

So far, I've setup the server and webapp repositories locally. During setup I noticed that `make test` was failiing with the following error:
[code]

I'm unsure whether this is related to my setup or the code..

Also after making my changes is there a way to run specific e2e tests (i.e. ones that are affected by the changes), since otherwise e2e tests are tak

[2020-09-18 08:54] sikloidz commented on #13726
@jfrerich Yes, I'm almost done with the changes for this, sorry for the delay, I thought I'd have more free time during the past month.

[2020-09-18 10:17] Willyfrog commented on #15520
regarding the failing test, I'd say it is odd. Please review that you are using the right node version as this has given people a lot of problems.

for e2e you can run `npm run cypress:open` and from there select the spec/s you want to run.

[2020-09-18 13:34] archit-p commented on #15520
It was indeed an issue with my Node version and downgrading to v10.xx fixed it! Also `npm run cypress:open` worked great, I could search and run specific specs!

[2020-09-18 13:53] jfrerich commented on #13726
@sikloidz, no worries!  Please feel free to reach out [on Mattermost](https://community.mattermost.com/core/channels/developers) if you have any questions!

[2020-09-18 13:54] jfrerich commented on #14502
Awesome turnaround time, @jecepeda!  I see the PR and reviewers have been assigned. Thanks for the PR and contribution!

[2020-09-18 15:01] kaakaa commented on #15365
Thanks @nevyangelova and @hmhealey!
I've created PR. https://github.com/mattermost/mattermost-webapp/pull/6495. In my case, custom emoji would not be problem.

[2020-09-18 17:17] amyblais commented on #15427
A ticket was opened to review this: https://mattermost.atlassian.net/browse/MM-28877.

[2020-09-18 21:15] dkmonaghan commented on #15394
@streamer45 thanks for your response.

I see, okay. What we're trying to achieve is setting someone's "Out Of Office" status via the API. We've found we can do this by using the PATCH method on /users/{id} to set their notify_props, but in setting the Out Of Office status, this wipes out all their other notification settings.

We were hoping to read notify_props, inject their Out Of Office, and th

[2020-09-18 21:15] mattermod opened #15538 "/code is not rendering initial whitespace characters"
Found in community release [as part of release testing](https://docs.google.com/spreadsheets/d/1-3usQeVbXS798rNt2IkcsKM-KxcckLnsehztSkeSiNw/edit#gid=1636776662&range=136:136).

1. Enter the /code slash command2. Paste the following content on a new line

[code]

3. Submit the post

Expected: the code is rendered as the test description says it should
Observed: a space is missing in the first line,

[2020-09-18 21:30] mattermod opened #15539 "Ephemeral post that are tied to a thread don't have the same indenting that normal posts in a thread"
Opening a new thread for the styling issue: Ephemeral post that are tied to a thread don't have the same indenting that normal posts in a thread have. @asaad.mahmood is this a bug that should be fixed or by design?

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/core/pl/cuz53fm7o3d65edbb56bmw4o4r)*.

----
If you're interested please comment here and come [join

[2020-09-19 06:30] agnivade commented on #15394
Hey @dkmonaghan - yes this is a quirk of the API. You'll notice that the PATCH method does return the `notify_props`. So what you could do is a so-called "empty patch", by just passing the user_id and nothing else, which won't patch anything, but return you the full user response along with `notify_props`. You could then update the notify_props accordingly by injecting the right thing, and then do

[2020-09-19 17:56] jecepeda commented on #15489
HI @mgdelacroix is it possible to take this issue? I'd like to work on it

[2020-09-19 19:10] mgdelacroix commented on #15489
Sure thing! Thanks @jecepeda, all yours!

[2020-09-19 21:16] vigneshashokan commented on #15538
can take a stab at this issue?

[2020-09-20 02:27] cometkim commented on #13721
@jfrerich It makes sense to me :ok_hand: and `Good first issue` should be removed I think

[2020-09-20 17:14] bhargav50 commented on #15160
@hmhealey  I am trying to see the link tool tip by installing demo plugin but it is not showing on mouse over of a link, is this feature broken or I am doing something wrong?

[2020-09-20 17:56] tru2dagame commented on #15233
Hi @amyblais, any updates for this?

[2020-09-21 05:22] Tak-Iwamoto commented on #15483
Hi, I'd like to work on it.

[2020-09-21 07:21] robert-scheck commented on #15295
Is there meanwhile any rough estimation when this will be handled?

[2020-09-21 08:52] hanzei commented on #15538
Sure, that would be great @vigneshashokan. Let me know if you have any questions!

[2020-09-21 12:01] amyblais commented on #15531
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-28890.

[2020-09-21 15:03] hmhealey commented on #15160
Looks like it only shows them for any link to www.test.com based on [this](https://github.com/mattermost/mattermost-plugin-demo/blob/master/webapp/src/components/link_tooltip/link_tooltip.jsx#L11).

[2020-09-21 16:06] josephk96 commented on #15492
Just a quick update - I removed the 'all' tab and implemented the logic for opening up the reactions list to the corresponding tab based on the emoji/reaction clicked.

I still need to implement points 1, 2, 4 and 6.

@amyblais , @jespino , it seems that points 1 and 2 are blocked by the following issues -
1. https://github.com/mattermost/mattermost-server/issues/14662
2. https://github.com/matter

[2020-09-21 16:11] amyblais commented on #15492
@sbishel ^

[2020-09-21 18:36] dkmonaghan commented on #15394
Thanks for the reply. I'll give that a go, thank you!

[2020-09-22 01:32] ilanshamir opened #15545 "Some channels cannot be added to a category"
#### Summary
Some channels cannot be added to a category

#### Steps to reproduce
Using the latest server build from Sep-19-2021 and the Windows client 4.5.4

#### Expected behavior
I create a category and add channels to it
Some channels are added, but others will consistently fail to be added
They will move into the category for a brief second and then go back to their original locaiton

#### Ob

[2020-09-22 03:13] XxLilBoPeepsxX opened #15546 "Mattermost WebApp on Ubuntu Server 18.04 on Raspberry Pi Build Error"
#### Summary
When running Ubuntu 18.04 on Raspberry Pi 3B+ and using the command `make package` to create the package for the mattermost web app, it gives an error in code and aborts.
#### Steps to reproduce
1: cd /mattermost-webapp/
2: make package

#### Expected behavior
I was expecting that the build would have run and gone through and created the package as the mattermost wiki said that it sho

[2020-09-22 05:03] Tak-Iwamoto commented on #15471
Hi, I'd like to work on it.

[2020-09-22 10:34] #15481 closed

[2020-09-22 12:53] Tak-Iwamoto commented on #15478
I'd like to work on it.

[2020-09-22 14:06] laur89 opened #15554 "align entrypoint.sh with one in mattermost-docker"
#### Summary
This image's `entrypoint.sh` should be brought in-line with the one in [mattermost-docker/app](https://github.com/mattermost/mattermost-docker/blob/master/app/entrypoint.sh) - we'd still likely want the initial configuration, and it overall makes sense to keep uniform behavior.

#### Expected
`entrypoint.sh` in this repository should contain the bootstrap code as its counterpart in ma

[2020-09-22 14:10] ahmaddanialmohd commented on #15545
Hello, @ilanshamir

I attempted to reproduce this in the following environment to no avail:

* Mattermost Server 5.27.0
* Mattermost Mac Desktop App 4.5.0

I also tried using the same channel name format as yours `- [O] Something` but I was still able to move the channels across  different categories using *Move to > Category* as well as drag and drop.

A couple of questions that I would like to c

[2020-09-22 14:28] amyblais commented on #15545
There is a known issue related to this in one of the libraries we use: https://github.com/atlassian/react-beautiful-dnd/issues/1845.

[2020-09-22 14:45] mattermod opened #15555 "Error messages for invalid bot usernames are not translated correctly"
The [`isValidUsername` and `isValidBotUsername`](https://github.com/mattermost/mattermost-webapp/blob/master/utils/utils.jsx#L1074) functions used to verify if a bot's username is valid contain hardcoded English error messages that cannot be translated by translators.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.co

[2020-09-22 18:06] prithvijit-dasgupta commented on #15555
Hi I would like a go at it.

[2020-09-22 18:35] bhargav50 commented on #15160
@hmhealey In the issue description it is suggested to remove jQuery from **component/suggestion/search_suggestion_list.jsx** but there it is just one function which is anyway not called anywhere. Core part in search box (Scrolling) with jQuery is at **components/suggestion/suggestion_list.jsx**. Shall I remove jQuery usage from there?

[2020-09-22 20:44] mquinson opened #15561 "Newcommers to private channels should not have access to the past logs"
Hello,

when a new user is invited to a private channel, s.he can access all the past logs as if s.he was a member of the channel from Day 1. I see this as a sort of privacy pitfall, as you have to control your language thinking of who *may* be invited in the future. That's not exactly what I'd call a private discussion channel.

My use case is that we are using mattermost to discuss our research

[2020-09-22 21:39] EdgarSedov commented on #6320
Hi. Sorry for my emotional reply, but reading this thread is so painful.
U're acting like open-source product with enterprise version. Stop using "Team version" -it's just a name. Main reason all people are here are because product is good and **open-source**. Nobody cares about some strange-maked "team" philosophy.
Since u're acting like an open-source product it seem really ugly that u're just c

[2020-09-22 22:42] hanzei commented on #15555
Awesome, thanks @prithvijit-dasgupta. Let me know, if you have any questions.

[2020-09-23 00:51] #15501 closed

[2020-09-23 07:15] agnivade commented on #15554
/cc @cpanato

[2020-09-23 07:30] mattermod opened #15566 "mattermod: move away from gorp to sqlx in spinmint_store.go"
We are planning to move away from `gorp` to using `sqlx` in our server repo to perform any SQL queries. And doing that change in mattermod is the first step in getting some experience in doing that.

Mattermod is a relatively small codebase with just 3 tables.

This PR is about migrating the spinmint_store.go to use sqlx. Here is a dummy PR https://github.com/mattermost/mattermost-mattermod/pull/2

[2020-09-23 07:30] mattermod opened #15567 "mattermod: move away from gorp to sqlx in issue_store.go"
We are planning to move away from `gorp` to using `sqlx` in our server repo to perform any SQL queries. And doing that change in mattermod is the first step in getting some experience in doing that.

Mattermod is a relatively small codebase with just 3 tables.

This PR is about migrating the issue_store.go to use sqlx. Here is a dummy PR https://github.com/mattermost/mattermost-mattermod/pull/241

[2020-09-23 07:30] mattermod opened #15568 "mattermod: move away from gorp to sqlx in pull_request_store.go"
We are planning to move away from `gorp` to using `sqlx` in our server repo to perform any SQL queries. And doing that change in mattermod is the first step in getting some experience in doing that.

Mattermod is a relatively small codebase with just 3 tables.

This PR is about migrating the pull*request*store.go to use sqlx. Here is a dummy PR https://github.com/mattermost/mattermost-mattermod/pu

[2020-09-23 07:49] agnivade commented on #14780
Hi @tuxity - just checking if there anything else pending on this issue?

[2020-09-23 07:53] agnivade commented on #13659
I'll go ahead and close this one as the original issue seems to be resolved. Please feel free to create an issue to clarify the documentation, or even a PR to improve it would be much appreciated!

[2020-09-23 07:53] #13659 closed

[2020-09-23 07:54] agnivade commented on #15133
Hey @yogeshkk - just checking in on this. Were you able to resolve this?

[2020-09-23 07:55] agnivade commented on #14218
Hi @OneFreelance - I'll go ahead and close this one it's fixed in master. Please feel free to try any version from 5.22 onwards.

[2020-09-23 07:55] #14218 closed

[2020-09-23 07:57] agnivade commented on #14977
Both the tickets are resolved now. @aidenmitchell - would you be able to clarify my comment above?

[2020-09-23 08:00] agnivade commented on #15248
Hi @KrishnaSindhur how is it going with this? Let me know if you need any help.

[2020-09-23 08:00] agnivade commented on #15249
Hi @RajatVaryani - how is it going with this?

[2020-09-23 08:25] tuxity commented on #14780
Nothing, It's ok now we can close the issue

[2020-09-23 08:58] agnivade commented on #14780
Perfect, thank you!

[2020-09-23 08:58] #14780 closed

[2020-09-23 09:25] yogeshkk commented on #15133
@agnivade Hi.. sorry forgot about this. Yes, we upgraded MM and it works. Thanks Will be closing this.

[2020-09-23 09:25] #15133 closed

[2020-09-23 09:58] jespino commented on #13910
Yes, this is doing, I going to close it.

[2020-09-23 09:58] #13910 closed

[2020-09-23 10:11] laur89 commented on #15554
Maybe provide base-image for both of them to avoid code duplication? Or maybe docker mods, however [LSIO guys](https://github.com/linuxserver/docker-mods) implement it (basically enables pulling in a single layer).

[2020-09-23 12:53] amyblais commented on #15561
Thanks, appreciate your feedback @mquinson,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2020-09-23 12:54] amyblais commented on #15546
Would you be open to posting about this on our troubleshooting forum here: https://forum.mattermost.org/?

[2020-09-23 14:50] hmhealey commented on #15160
`SearchSuggestionList` extends `SuggestionList`, so `SearchSuggestionList.getContent` is actually called by `SuggestionList.scrollToItem` when you're using a `SearchSuggestionList`. I made the mistake of using inheritance when writing that component since that was back before I understood that inheritance causes a lot of problems in React. You might need wrap the `SearchSuggestionList`'s items in

[2020-09-23 18:38] #15441 closed

[2020-09-23 19:02] jecepeda commented on #15489
Hi @mgdelacroix I made a PR out of this issue. What edge cases should I test. I fear I need to add more thing but I'm not so sure about it, as the command seems simple

[2020-09-23 19:18] larkox commented on #15245
@freayd I think I finally found the bug and was able to solve it. You can track the process in the linked PR.

[2020-09-23 19:46] hmhealey commented on #15159
Hi @CEOehis. I just wanted to check in and see if you're still working on this, or if you need any help with anything on it?

[2020-09-23 20:30] mattermod opened #15579 "Web: Remove deprecated lifecycle methods from SearchBar component"
The following React lifecycle methods have been deprecated by React and will start to be removed starting in React 17:
- componentWillMount
- componentWillReceiveProps
- componentWillUpdate

The React team has published a guide discussing the changes and how to migrate to the new lifecycle methods here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

As part of a campaign to re

[2020-09-23 23:24] CEOehis commented on #15159
Hi @hmhealey I'm still working on this. I'll turn it in in a bit.

[2020-09-23 23:42] esethna commented on #10232
@saturninoabril do you have a branch with this that we can take over or link to?

[2020-09-23 23:42] esethna commented on #10232
@vintik looks like Saturn isn't working on this anymore, still interested in taking this ticket?

[2020-09-24 00:18] saturninoabril commented on #10232
@esethna @hmhealey Sorry for late response. I searched with my branches and I can't find the one on the webapp. That might have wiped out when I replaced my laptop. Here are the [server](https://github.com/mattermost/mattermost-server/compare/master...saturninoabril:timezone-release) and [redux](https://github.com/mattermost/mattermost-redux/compare/master...saturninoabril:timezone-release) branch

[2020-09-24 00:38] esethna commented on #14909
Hey @bradjcoughlin, hope you're well. Wondering if you still have the branch for this and/or intend to wrap it up? If not I'll reopen the ticket, thanks!

[2020-09-24 00:44] freayd commented on #15245
From what I read in the PR, it sounds like this should finally solve the issue. Thanks @larkox.

[2020-09-24 05:16] #15131 closed

[2020-09-24 07:09] bhargav50 commented on #15160
Sorry I am not getting enough time to work on this, you can assign this one to someone else.

[2020-09-24 12:18] amyblais opened #15584 "Mattermost v5.28.0"
You can find key dates for v5.28 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### Oct 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Oct 14th: Release Build Cut
The final

[2020-09-24 13:06] enahum commented on #15086
Taken by me.

[2020-09-24 13:06] #15086 closed

[2020-09-24 13:08] enahum commented on #13961
taken by me

[2020-09-24 13:08] #13961 closed

[2020-09-24 14:35] hmhealey commented on #15160
No worries. I'll open it back up. Thanks again for your help though 😄

[2020-09-24 15:44] esethna commented on #15492
@josephk96 those points are just referring to the over aesthetic being consistent with autocomplete and the updates proposed to the reaction component - doesn't need to be blocked on those tickets, as long as your changes here match [this design](https://www.figma.com/file/57di9tKmNamEF9TpldBdnY?node-id=0:1) we can take them :) Your call on how you want to proceed depending on what's easiest....

[2020-09-24 16:52] josephk96 commented on #15492
Hi @esethna , hope you're doing well and staying safe :)
Yeah, I realized that Andre's PR isn't a blocker for me, I'm currently in the process of implementing the new UI change for the reaction list.

Regarding the other issue, I'll try to complete this one first and work on that if no one else has taken it by then.

Thanks for taking the time to look into my question, Eric!

[2020-09-24 17:01] #15245 closed

[2020-09-24 18:53] CurtisMIT commented on #15488
Hi, I'm interested in trying this out. Is that ok?

[2020-09-24 19:17] mgdelacroix commented on #15488
absolutely!! :tada:

[2020-09-24 19:46] ArcaneDiver commented on #15579
Hey, i would be glad to help you 👋,

[2020-09-24 20:15] hmhealey commented on #15579
@ArcaneDiver Awesome! Let me know if you need any help or have any questions

[2020-09-24 20:47] XxLilBoPeepsxX commented on #15546
Can do, I'll get it up as soon as I can!

[2020-09-25 00:08] wellhausen commented on #15162
Working on this.

[2020-09-25 00:30] lipmem commented on #15161
I work on it now :)

[2020-09-25 01:01] NOP64 opened #15599 "Public document links not working in web & desktop app"
#### Summary
Creating a public link from a document in a DM then pasting that link in the same DM (or other) fails to show document. Gives a "Team Not Found" page.

#### Steps to reproduce
1. Start a DM conversation with yourself.
2. Upload a local document.
3. Get a public link for the document.
4. Paste link into same DM conversation.
5. Click on that new link.
6. Observe error.

Tested with web

[2020-09-25 07:39] akulpeissov opened #15602 "problem with uploading files 200Mb+ to MM"
#### Summary
There is a problem with uploading files over 200Mb in MatterMost on premises instalation

#### Steps to reproduce
MatterMost Server 5.27.0 with MySQL database

#### Expected behavior
I need to upload large files to MM. I've configured Max File Size in System Console and in cofig,json to 10Gb. It's ok with files less than 200Mb. But when I try to upload files 200Mb+ MM starts uploading

[2020-09-25 08:49] hardikmodi1 commented on #15519
I can work on this

[2020-09-25 08:49] hardikmodi1 commented on #15518
I can work on this

[2020-09-25 08:54] RajatVaryani commented on #15249
@agnivade Hey, please feel free to assign it to someone else.

[2020-09-25 09:02] didithilmy commented on #15485
Hello, I'd like to work on this one

[2020-09-25 10:17] gittigger opened #15604 "Certain Youtube links not producing preview (sometimes, seemingly randomly)"
#### Summary
Certain YouTube links are not providing a preview at all
Other links, seemingly randomly work sometimes

#### Steps to reproduce
I am using Mattermost Version: 5.26.2
Pasting the following link in to a channel
https://youtu.be/pEKBQ9oUtSU

#### Expected behavior
I expect to see a preview of the webpage,
n.b. the link WORKS on your demo server on Mattermost Version: 5.7.0

#### Observe

[2020-09-25 11:32] Breee opened #15606 "Keycloak and general OIDC Support"
Greetings,

Currently it is already possible to use, for example, Keycloak as SSO solution.

This is done by exploiting the Gitlab Client, as explained here:
https://github.com/mattermost/mattermost-server/issues/11503#issuecomment-535427122

That is an okayish solution,  but definitely hacky since it requires manipulating certain mappers in keycloak.
I would recommend that Mattermost should suppo

[2020-09-25 11:35] akulpeissov commented on #14452
Hi @lieut-data @chinyasuhail
I have the same problem with uploading 500Mb files to MM on premises installation with or without nginx. Did someone solved this problem? Any help would be appreciated :)

[2020-09-25 11:57] gittigger commented on #15604
I just attempted to upgrade to latest and it still doesn't work there, but I also just noticed that on the mobile app on android, the previews show with no problem at all.

[2020-09-25 12:21] #15365 closed

[2020-09-25 12:55] amyblais commented on #15606
Thanks, appreciate your feedback @Breee

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'll

[2020-09-25 12:58] amyblais commented on #15599
Thanks for the report, opened a bug: https://mattermost.atlassian.net/browse/MM-29049

[2020-09-25 13:02] amyblais commented on #15604
@gittigger
What OS and version are you on?
What are your settings set to?
 - https://docs.mattermost.com/administration/config-settings.html#allow-untrusted-internal-connections-to
 - https://docs.mattermost.com/administration/config-settings.html#enable-link-previews

[2020-09-25 13:10] gittigger commented on #15604
Thanks for the quick response @amyblais
This is on Ubuntu 18.04.5 - The version after the upgrade is now the latest: 5.27.0

grep AllowedUntrustedInternalConnections /opt/mattermost/config/config.json
        "AllowedUntrustedInternalConnections": "",

This is set to an empty string it seems.

grep EnableLinkPreviews /opt/mattermost/config/config.json
        "EnableLinkPreviews": true,

True in t

[2020-09-25 13:51] amyblais commented on #15604
Is this issue only happening with youtube links?
What are your image proxy settings set to https://docs.mattermost.com/administration/config-settings.html#image-proxy?

[2020-09-25 14:03] gittigger commented on #15604
As far as I'm aware yes, Only YouTube links. This used to work on my set up (mostly anyway)
Now it seems after the recent upgrades, it affects all YouTube links I've tried to add.
There's no image proxy involved here...

grep -A3 ImageProxySettings /opt/mattermost/config/config.json
    "ImageProxySettings": {
        "Enable": false,
        "ImageProxyType": "local",
        "RemoteImageProxyURL

[2020-09-25 14:14] Willyfrog commented on #15519
great! thanks for taking a look into the issue :D

[2020-09-25 14:14] amyblais commented on #15602
@akulpeissov Are you aware of any firewall or proxy in the network that could be affecting this? Is there anything in front of the network? If you've configured a proxy like NGINX in front of Mattermost, check your configuration setting ```client_max_body_size 50M``` (this would be found in the ```/etc/nginx/sites-available/mattermost``` file); and make the necessary changes to it. For example htt

[2020-09-25 14:14] Willyfrog commented on #15518
thanks for taking the issue!

[2020-09-25 14:35] amyblais commented on #15604
Maybe you can try configuring a proxy under Settings>Network & Internet> Proxy and then restart Mattermost.
You could also try with setting up an atmos/camo image proxy to see if it helps.

[2020-09-25 18:05] #15599 closed

[2020-09-25 18:26] #14662 closed

[2020-09-25 18:28] JugarBoliche commented on #15333
I have noticed the same issue, where Mark as Unread is no longer an option on iOS mobile app when long pressing on a message in a channel. We are on 5.27.0 and I am also on the most up to date version of the iOS app that is available (1.35.1). I am not sure when it stopped working though.

[2020-09-25 19:46] esethna commented on #14662
Awesome work @avasconcelos114!

[2020-09-25 19:52] kashifsoofi commented on #15567
Can I please work on this?

[2020-09-25 19:52] kashifsoofi commented on #15566
Can I please work on this?

[2020-09-25 20:23] ArcaneDiver commented on #15579
@hmhealey hey, i read the react post, and i thought about to move `componentWillReceiveProps` to the static method `getDerivedStateFromProps`. But the actual `componentWillReceiveProps` uses a function called `determineVisibleSearchHintOptions`. Is there any problem about it?

[2020-09-25 20:50] #13694 closed

[2020-09-26 03:47] sowmiyamuthuraman commented on #15465
I would like to work on this

[2020-09-26 04:08] agnivade commented on #15567
Go for it @kashifsoofi !

[2020-09-26 04:09] agnivade commented on #15566
All yours!

[2020-09-26 10:23] M-Buntoro commented on #15487
Hello, Can I please work on this?

[2020-09-26 10:23] mgdelacroix commented on #15487
Sure! Thanks @M-Buntoro!

[2020-09-26 12:45] Tak-Iwamoto commented on #15442
I'd like to work on it.

[2020-09-26 12:46] Tak-Iwamoto commented on #15475
I'd like to work on it.

[2020-09-26 20:41] sirMackk commented on #15486
Hi @mgdelacroix, I'm interested in working on this issue. Thanks for writing an in-depth description, I think I understand enough to get started.

[2020-09-27 08:05] sowmiyamuthuraman commented on #15516
I would like to work on this issue

[2020-09-27 10:21] gittigger commented on #15604
Thanks for the suggestion. Neither of those seem to help. For a while yesterday it was working without a proxy. Yet, today it is not. So this is an _intermittent_ problem which of course are always the hardest to debug. That said, do you have any recommendations on how I can debug this properly?
Tinkering and trying things can only get you so far and I'd like to actually start to understand the is

[2020-09-27 11:48] XxLilBoPeepsxX commented on #15546
So, an I just going to need to wait for someone on the forum to decide to provide any assistance at this point? Just looking to clear up my confusion a bit...

[2020-09-27 14:16] hardikmodi1 commented on #15517
I can take this up, please assign this issue to me

[2020-09-27 17:01] jasonblais commented on #14434
Opening this ticket back to the community - see here for start of a PR to get started: https://github.com/mattermost/mattermost-server/pull/14481

cc @ethervoid

[2020-09-28 08:22] Willyfrog commented on #15517
assigned!
thanks for working on it

[2020-09-28 12:06] akulpeissov commented on #15602
Hi @amyblais
There is no firewall. I installed nginx after I've opened this issue. Yes I'm aware of configuration 'client_max_body_size' and I've already configured it. Nothing changed since.
Here is my logs from MatterMost server, Nginx and HAR file:
[logs.zip](https://github.com/mattermost/mattermost-server/files/5292067/logs.zip)

[2020-09-28 12:12] Willyfrog commented on #15516
assigned! thanks for working on it

[2020-09-28 12:20] Willyfrog opened #15619 "Migrate string-refs to functional ones: this.refs.scrollbars"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-28 12:20] Willyfrog opened #15620 "Migrate string-refs to functional ones: this.refs.email"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-28 12:20] Willyfrog opened #15621 "Migrate string-refs to functional ones: this.refs.container"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-28 12:20] Willyfrog opened #15622 "Migrate string-refs to functional ones: this.refs.headerOverlay"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-28 12:20] Willyfrog opened #15623 "Migrate string-refs to functional ones: this.refs.textbox"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-09-28 12:44] shieldsjared opened #15624 "Reaction Added/Removed Plugin Hook"
#### Summary
I currently have a desire to build a plugin that depends on reactions (specifically, having knowledge of when reactions are added and removed from posts).  Scanning through the documentation and source, I haven't found an efficient way to do this.

#### Possible fixes
Based on a [discussion in the community toolkit channel](https://community.mattermost.com/core/pl/iazsj6ch6t865ek5y4oo

[2020-09-28 12:53] #15520 closed

[2020-09-28 12:55] Willyfrog commented on #15520
thanks a lot @archit-p :)

[2020-09-28 13:20] amyblais commented on #15624
@shieldsjared Based on the discussion in the channel, I believe it's fine if you open a pull request for this.

The product team rarely looks at Github issues on this repo, so I feel that a pull request will generate further reviews / discussions from the product managers on this as needed.

[2020-09-28 13:30] amyblais commented on #15546
Thanks for following up, I've asked our team to help take a look,

[2020-09-28 13:42] streamer45 commented on #15602
@akulpeissov

I removed the log files since they may contain sensitive information about your installation.
Will take a look at this issue now and let you know.

[2020-09-28 13:46] diode commented on #13475
I am working on this

[2020-09-28 13:49] lieut-data commented on #15604
@gittigger, do you have a Google API key configured? Without one, I wonder if Google is rate limiting requests. You can configure the key via the system console:

<img width="927" alt="image" src="https://user-images.githubusercontent.com/1023171/94440603-40374780-0178-11eb-81af-3187d3db1446.png">

[2020-09-28 13:52] mgdelacroix opened #15628 "Add end to end tests to the "resetUserMfaCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `resetUserMfaCmdF` command, in the `commands/user.go` file. The expected

[2020-09-28 13:52] mgdelacroix opened #15629 "Add end to end tests to the "deleteUsersCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `deleteUsersCmdF` command, in the `commands/user.go` file. The expected w

[2020-09-28 13:56] streamer45 commented on #15602
From the logs it looks like the MM server is crashing. This could be an out of memory issue.
How much RAM does your instance have? Is MM running in a container?

[2020-09-28 14:00] XxLilBoPeepsxX commented on #15546
Alright, thank you, I appreciate your assistance a lot!

[2020-09-28 14:41] #12491 closed

[2020-09-28 14:53] MathewtheCoder commented on #15623
@Willyfrog I would like to take this up.

[2020-09-28 15:15] aaronrothschild commented on #15624
@shieldsjared Hey - I'm a PM at Mattermost and am all for this addition.  Let me know if any questions come up.

[2020-09-28 15:23] kevoops commented on #15604
@lieut-data Thanks - I didn't have one configured. I do now, thanks for the additional pointer. This sounds like it might well be in the area. It would certainly cover off the intermittent nature of the problem. I now have a Google API Key configured within Mattermost. I'm going to leave it like this for a week or so now and see if it fixes up the issue. Thanks again.

[2020-09-28 15:26] isacikgoz commented on #8942
This ticket will be done internally by the server team. Thanks everyone for putting a lot of effort onto this.

[2020-09-28 15:26] #8942 closed

[2020-09-28 16:14] mgdelacroix commented on #15486
That's great, thanks for your interest @sirMackk!! It's all yours!! :)

[2020-09-28 16:47] sridhar02 commented on #14401
@hanzei  I can work on this issue?

[2020-09-28 17:35] kevoops commented on #15604
hmm, I'm not seeing any requests hitting the YouTube Data API, using the key that was generated. This isn't an Enterprise enabled feature only is it? How can I see the requests being made? I have debug enabled on my logs and cannot see any requests being made to YouTube

[2020-09-28 18:04] lieut-data commented on #15604
cc @hmhealey, do you have any insight on how we use the Google Developer Key? See above for context about intermittent previews, and my suggestion of configuring a Google API key to avoid a possible rate limiting.

[2020-09-28 20:01] hmhealey commented on #15579
Replacing `componentWillReceiveProps` with `getDerivedStateFromProps` should be correct. `determineVisibleSearchHintOptions` doesn't use `this` at all, so if you make it `static` as well, you can use it in `getDerivedStateFromProps`

[2020-09-28 20:12] ArcaneDiver commented on #15579
Perfect then 1° October i'll make my PR.

[2020-09-28 21:09] hanzei commented on #14401
Sure, thanks for already submitting a PR @sridhar02 :+1:

[2020-09-28 21:20] #15384 closed

[2020-09-28 21:29] hmhealey commented on #15604
The Google Developer Key is only needed for titling YouTube previews on mobile last I checked. It used to be used to get the title of the YouTube video on the web app as well until we switched it to rely on OpenGraph metadata.

The only setting that should matter here is that EnableLinkPreviews is true, which presumably, it is. I tried it on my local instance, and the video is showing correctly. I

[2020-09-29 02:17] arjunagl commented on #15249
hi @agnivade can I pick this up ?

[2020-09-29 03:21] agnivade commented on #15249
Sure!

[2020-09-29 05:26] sowmiyamuthuraman commented on #15477
I would like to work on this issue

[2020-09-29 05:43] Roy-Orbison opened #15631 "Inefficient ID column definitions (in MySQL at least)"
#### Summary
Multi-byte, variable length column definitions are used for columns that always contain 26 lowercase ASCII characters.

#### Steps to reproduce
View an ID column info in a new install, e.g.:
[code]

#### Expected behavior
Field | Type | Collation | Null | Key | Default | Extra | Privileges | Comment
-- | -- | -- | -- | -- | -- | -- | -- | --
Id | char(26) | ascii_bin | NO | PRI | NULL

[2020-09-29 06:59] VinitSarvade commented on #15468
I would like to take this up.

[2020-09-29 07:01] gittigger commented on #15604
The upgrade path has been 5.21 -> 5.26.2 -> 5.27
It is interesting you mention mobile @hmhealey because it is on android mobile app that these previews seem to show perfectly every time.
This issue only seems to affect desktop browsers...

[2020-09-29 08:03] hanzei commented on #14148
@14Richa Are you still working on this?

[2020-09-29 08:38] Ayanrocks commented on #15484
I would like to try this

[2020-09-29 10:12] Willyfrog commented on #15623
thanks for working in the issue

[2020-09-29 10:22] diode commented on #14346
I am working on this

[2020-09-29 10:47] akulpeissov commented on #15602
hi @streamer45,
Yeah, it's really because of memory issue. I've made RAM 6Gb and uploaded 500Mb file. Why is MM using RAM when proccessing uploaded files? Is it bug or something?

[2020-09-29 11:38] diode commented on #14222
Can I work on this ?

[2020-09-29 12:05] streamer45 commented on #15602
@akulpeissov

That depends on your definition of bug but it's definitely something that needs improving. We are currently in the process of moving away from storing uploaded files in memory. We have a [open PR](https://github.com/mattermost/mattermost-server/pull/15616) that will fix this issue.

[2020-09-29 12:12] akulpeissov commented on #15602
Thank you, @streamer45
Appreciate your help! I hope this issue will be fixed soon 👍

[2020-09-29 12:24] leipert opened #15634 "GitLab URL is hard coded in translation message"
#### Summary
Mattermost hard codes GitLab.com in error message when it should point to the GitLab Auth server used.

#### Steps to reproduce

1. Use A GitLab that is not gitlab.com for authentication (e.g. http://example.com)
2. Get a Terms of Service error because that instance requires accepting new Terms of Service
3. The error reads:

[code]

#### Expected behavior

[code]

#### Observed behav

[2020-09-29 14:45] mattermod opened #15636 "Improve Emoji Picker UI"
A refreshed UI for the emoji picker to better align with the latest design work.

**Proposed Solution**

![image](https://user-images.githubusercontent.com/14333569/94624373-2a567f00-026b-11eb-9156-76e7e926044f.png)

**Plus a few additional functional elements:**

  1. Skin tone selector
  1. A custom emoji button for more contextual access to creating custom emojis

[Figma design file](https://ww

[2020-09-29 14:45] mattermod opened #15637 "Share message feature"
**Feature Summary**

The ability too quickly and easily share posts as permalinks with their respective permalink previews. (This feature has a dependency on the [permalink preview project](https://github.com/mattermost/mattermost-server/issues/15638)).

![image](https://user-images.githubusercontent.com/14333569/94624605-ad77d500-026b-11eb-86a9-521fb709b250.png)

**Solution Summary**

In the mess

[2020-09-29 14:45] mattermod opened #15638 "Implement permalink previews for posts in Mattermost"
When permalinks to posts are shared within Mattermost, we should generate a preview of the post (similar to how link previews are displayed for external links)

**Implementation Notes**

Below will outline a few scenarios of when and how permalink previews will be displayed.

![image](https://user-images.githubusercontent.com/14333569/94624758-0b0c2180-026c-11eb-9e09-aec9ae812035.png)

**Default s

[2020-09-29 14:45] mattermod opened #15639 "Desktop: Keyboard shortcut to go directly to the search bar with the in: channel search modifier pre-filled"
**Functional Notes**
Using the following shortcuts to take your focus to our in app search bar, and popular the search bar with the “:in” identifier for the current channel, followed by a trailing space.
So in the case of the screenshot attached, hitting the keyboard shortcut would add the following into the text input field with the cursor placed after the last space: "in:core features "

*Web ap

[2020-09-29 14:45] mattermod opened #15640 "Ability to set Do Not Disturb for a specified period of time"
Use case: I am in meetings for two hours, and want to disable all notifications during that time to avoid distractions, without losing important messages when I'm back. Need the ability to snooze notifications for those 2 hours.

**Functional notes:**
Design can be seen here:
[https://www.figma.com/file/8m8Uga0KhCYYRPNMbXl9K3/Snooze-Notifications?node-id=0%3A1](https://www.figma.com/file/8m8Uga0Kh

[2020-09-29 14:57] hanzei commented on #12696
@tharun208 Are you still working on this issue?

[2020-09-29 15:00] mattermod opened #15641 "Webapp: Progressive Image Loading"
Server has now implemented base64 images in the post metadata here: [https://mattermost.atlassian.net/browse/MM-27353](https://mattermost.atlassian.net/browse/MM-27353)

This ticket is for the webapp app to utilize this mini image for progressive image loading.

![](https://i.gyazo.com/64ac104c5f703305c013d98fabf8f62b.gif)

**Proposed solution**

  * Initially load a very low-res version of the im

[2020-09-29 15:00] mattermod opened #15642 "Improve modal styling for the add members to channel modal"
## Feature Summary

To improve our current add members to channel modal, introducing our current autocomplete / multiselect.

![image](https://user-images.githubusercontent.com/14333569/94625883-b5854400-026e-11eb-832a-983821e0ed34.png)

### Solution Summary

  * Generally leverage the same style of modal from channel switcher (with a few small tweaks)
  * For the input field we will leverage what

[2020-09-29 15:00] mattermod opened #15643 "RN: Improve Onboarding screens for the mobile app"
**Goal:** To improve onboarding screens for a user during the first launch experience, while understanding what Mattermost is and what the app is used for.

• When a user opens up the application **for the first time**, they will be prompted with a splash screen with two separate illustrations and descriptions.

• Each illustration and description have controls below them to allow the user to swip

[2020-09-29 15:00] mattermod opened #15644 "RN: Mobile progressive image loading"
Server has now implemented base64 images in the post metadata here: https://mattermost.atlassian.net/browse/MM-27353

This ticket is for the mobile app to utilize this mini image for progressive image loading.

![2020-07-23-15 12 44](https://user-images.githubusercontent.com/14333569/94626146-4fe58780-026f-11eb-926c-2ac7046cb134.gif)

**Proposed solution**

  * Initially load a very low-res versio

[2020-09-29 15:00] mattermod opened #15645 "Allow uploading 10 files per post"
Currently we limit file uploads per post to 5. This ticket is to increase the limit to 10 and update any associated help text.

With new file upload features like a photo picker on mobile we will want to increase the files per post that can be shared for better UX.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/c

[2020-09-29 15:31] amyblais commented on #15631
Opened a ticket: https://mattermost.atlassian.net/browse/MM-29122.

[2020-09-29 15:33] amyblais commented on #15634
Opened a ticket: https://mattermost.atlassian.net/browse/MM-29123

[2020-09-29 16:00] mattermod opened #15647 "Position the autocomplete popover relative to the @, ~, or / trigger in the post draft"
In addition to the work recently done on the autocomplete UI, we'd like to position the autocomplete popover in relation to the @, or / trigger within the post draft.

**Behaviour notes:**
1. If the trigger character in the post draft is positioned on the far left side of the post draft input, position the autocomplete popover with the left edge of the post draft.

![image](https://user-images.git

[2020-09-29 16:15] mattermod opened #15649 "Show search tip when scrolling back a lot in a channel"
Summary: Inform users of the search shortcut when the user has scrolled 3 times his window height back into a channel. Note that this ticket is blocked on implementing this change to search shortcuts: https://github.com/mattermost/mattermost-server/issues/15639

![image](https://user-images.githubusercontent.com/14333569/94626538-20834a80-0270-11eb-8d94-73f9bc2d8079.png)

The shortcut that is disp

[2020-09-29 16:15] mattermod opened #15650 "Add online status to user autocomplete in the message draft area"
This is how the status should be displayed:
**If Full Name specified:**
\<full_name] \[status] \[username]

**If Full Name not specified:**
\[username] \[status>

Screenshot below:

![](autocomplete-mentions.png|width=1366,height=768)

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our da

[2020-09-29 16:15] mattermod opened #15651 "Show online status for users in the channel switcher"
This is how the status should be displayed:
**If Full Name specified:**
\<full_name] \[status] \[username]

**If Full Name not specified:**
\[username] \[status>

Screenshot below:

![image](https://user-images.githubusercontent.com/14333569/94626851-ca62d700-0270-11eb-952a-c3964117eb65.png)

----
If you're interested please comment here and come [join our "Contributors" community channel](https:/

[2020-09-29 16:15] mattermod opened #15652 "Add a banner asking the user to enable desktop notifications"
**Feature Summary**

We want to prompt users to **turn on* *desktop notifications**. We have had reports that users are unaware that their system notifications for Mattermost are disabled, without any insight or visibility into how to solve the problem. The user has likely ignored the system notification asking permission.

![image](https://user-images.githubusercontent.com/14333569/94627010-3f361

[2020-09-29 16:28] mickmister opened #15653 "Disabling a plugin that has a webapp portion causes the system console page to scroll to the top"
Repro steps:

- Install a plugin that has a webapp integration, such as the Jira plugin
- Go to the plugin management page in the admin console. i.e. http://localhost:8065/admin_console/plugins/plugin_management
- Toggle enable and disable on the plugin

Expected:

- When the plugin is disabled, the page should not scroll

Observed:

- When the plugin is disabled, the page scrolls to the top of th

[2020-09-29 17:00] mattermod opened #15654 "Sync with starter-template"
Update the https://github.com/mattermost/mattermost-plugin-incident-response/ plugin to use the latest tooling from the https://github.com/mattermost/mattermost-plugin-starter-template, unlocking the ability to deploy the latest code via the server's socket connection instead of having to configure `MM*SERVICESETTINGS*SITEURL` and the requisite credentials.

----
If you're interested please commen

[2020-09-29 17:00] varunks99 commented on #15620
@Willyfrog, would like to work on this.

[2020-09-29 17:15] #15566 closed

[2020-09-29 19:26] sowmiyamuthuraman commented on #15622
I would like to work on this one

[2020-09-29 23:03] sirMackk commented on #15337
I bumped into the same issue after cloning https://github.com/mattermost/mmctl and running `make test`. It also happened when running `make build`, `go mod tidy` and `go mod vendor`.

A search brought me to https://community.k6.io/t/building-from-source-seems-to-thrown-an-exception/876/2, which suggested upgrading my golang install. It made sense because the test/build commands succeed for other `

[2020-09-29 23:34] esethna opened #15658 "Improve UI for image preview modal"
Summary:
Improve the aesthetic layout of how image & file previews look when a user clicks an attachment to a post.

**Figma Design File**:
[https://www.figma.com/file/i86bHWcB68HMiaJNoVxmsq/Image-Preview-Modal?node-id=125%3A0](https://www.figma.com/file/i86bHWcB68HMiaJNoVxmsq/Image-Preview-Modal?node-id=125%3A0)

![image](https://user-images.githubusercontent.com/31866506/121244523-f5c0ab80-c86c-

[2020-09-29 23:34] esethna commented on #15139
Closed in favor of: https://github.com/mattermost/mattermost-server/issues/15658 to push this to the top of the queue

[2020-09-29 23:34] #15139 closed

[2020-09-29 23:36] esethna commented on #15637
Given this is an advanced help wanted ticket, if anyone is interested in taking on this feature please reach out to me here or at @eric.sethna on our [community ](https://community.mattermost.com) server before diving too deeply into the project.

[2020-09-29 23:37] esethna commented on #15638
Given this is an advanced help wanted ticket, if anyone is interested in taking on this feature please reach out to me here or at @eric.sethna on our [community ](https://community.mattermost.com) server before diving too deeply into the project.

[2020-09-29 23:37] esethna commented on #15640
Given this is an advanced help wanted ticket, if anyone is interested in taking on this feature please reach out to me here or at @eric.sethna on our [community ](https://community.mattermost.com) server before diving too deeply into the project.

[2020-09-29 23:37] esethna commented on #15647
Given this is an advanced help wanted ticket, if anyone is interested in taking on this feature please reach out to me here or at @eric.sethna on our [community ](https://community.mattermost.com) server before diving too deeply into the project.

[2020-09-29 23:37] esethna commented on #15658
Given this is an advanced help wanted ticket, if anyone is interested in taking on this feature please reach out to me here or at @eric.sethna on our [community ](https://community.mattermost.com) server before diving too deeply into the project.

[2020-09-30 07:32] Manimaran11 commented on #15654
@mattermod I am interested in fixing this issue, Can I take a look into this.

[2020-09-30 11:35] palcodes commented on #14004
Hey, looks like the issue is unresolved.
I would like to contribute and get myself acquainted with the project.

[2020-09-30 12:34] DigasNikas commented on #15645
Greetings.
Can I move forward with this one?

[2020-09-30 13:13] nandhithakamal commented on #14407
If this is still up for grabs, can I pick this one?

[2020-09-30 14:11] M-Buntoro commented on #15629
Hello, can I work on this?

[2020-09-30 14:12] mgdelacroix commented on #15629
Sure @M-Buntoro, thanks!!

[2020-09-30 14:17] mgdelacroix opened #15662 "Add end to end tests to the "deleteAllUsersCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `deleteAllUsersCmdF` command, in the `commands/user.go` file. The expecte

[2020-09-30 14:17] mgdelacroix opened #15663 "Add end to end tests to the "listUsersCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `listUsersCmdF` command, in the `commands/user.go` file. The expected way

[2020-09-30 14:18] mgdelacroix opened #15664 "Add end to end tests to the "verifyUserEmailWithoutTokenCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `verifyUserEmailWithoutTokenCmdF` command, in the `commands/user.go` file

[2020-09-30 14:41] Prescise commented on #15399
Hello can I contribute on this one ?

[2020-09-30 14:48] g-ravity commented on #15399
I would also like to work on this issue, if it's still up for grabs!

[2020-09-30 14:50] Prescise commented on #15651
Hello again I would like to work on this one too if it's possible ^^, thanks

[2020-09-30 14:56] Breee commented on #15606
Already Exists:
https://mattermost.uservoice.com/forums/306457-general/suggestions/10197642-support-openid-connect

For us (me and 120 other people) this feature is really essential, without it we might consider another chat application because we do everything with OIDC.

[2020-09-30 15:00] amyblais commented on #15606
Taking a closer look and realizing that this feature is already in progress - Jira Epic here https://mattermost.atlassian.net/browse/MM-26776.

It was originally planned for v5.28 (October 16th) release, but it got rescheduled to another release in the near future due to some complications.

[2020-09-30 15:12] Breee commented on #15606
Exactly, there is no point for us to use the Enterprise edition, as it offers nothing useful.

[2020-09-30 15:50] g-ravity commented on #15640
@esethna I would like to work on this feature. Can you provide some more details on how to get started with this?

[2020-09-30 16:39] M-Buntoro commented on #15628
Hello, can I work on this?

[2020-09-30 16:39] M-Buntoro commented on #15662
Hello, can I work on this?

[2020-09-30 16:40] M-Buntoro commented on #15663
Hello, can I work on this?

[2020-09-30 17:09] amyblais commented on #15399
I've assigned this to @Prescise as he commented first, but let me know if you want me to change the assignee at any point.

[2020-09-30 17:14] g-ravity commented on #15399
It's okay. If it opens up again, I'd like to contribute :)

[2020-09-30 18:25] avinashdhinwa commented on #15664
Can I work on this?

[2020-09-30 18:39] vivienhennig commented on #15482
Hey, I would like to do this one!

[2020-09-30 18:40] m4ver1k commented on #15523
@agnivade @jespino I would like work on this.

[2020-09-30 18:42] m4ver1k commented on #15490
@mgdelacroix @jespino I would like work on this.

[2020-09-30 18:44] agnivade commented on #15523
Hey @m4ver1k - Unfortunately, this is already assigned to @rvillablanca. But you are most welcome to pick any other issue you want. Just ensure that the issue has the "Up For Grabs" label.

[2020-09-30 18:45] jespino commented on #15490
Great, thanks @m4ver1k !

[2020-09-30 18:48] m4ver1k commented on #15523
Sure thank you

[2020-09-30 19:12] esethna commented on #15645
@DigasNikas you got it, thanks!

[2020-09-30 19:14] esethna commented on #15651
Thanks @Prescise, note that you may also want to take this ticket that is basically implementing the same thing for user autocomplete: https://github.com/mattermost/mattermost-server/issues/15650

Let us know if you're interested!

[2020-09-30 19:14] rvillablanca commented on #15523
Hey @m4ver1k there are some others migrations in the https://github.com/mattermost/mattermost-mattermod repository. I have a ticket assigned to me (https://github.com/mattermost/mattermost-server/issues/15568) but not sure when I can give it a try so If you would like to work on it, let me know and I can assign it to you if you are interested.

[2020-09-30 19:34] mgdelacroix opened #15669 "Add end to end tests to the "userConvertCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `userConvertCmdF` command, in the `commands/user.go` file. The expected w

[2020-09-30 19:34] mgdelacroix opened #15670 "Add end to end tests to the "createTeamCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `createTeamCmdF` command, in the `commands/team.go` file. The expected wa

[2020-09-30 19:34] mgdelacroix opened #15671 "Add end to end tests to the "archiveTeamsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `archiveTeamsCmdF` command, in the `commands/team.go` file. The expected

[2020-09-30 19:34] mgdelacroix opened #15672 "Add end to end tests to the "listTeamsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `listTeamsCmdF` command, in the `commands/team.go` file. The expected way

[2020-09-30 19:34] mgdelacroix opened #15673 "Add end to end tests to the "searchTeamCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `searchTeamCmdF` command, in the `commands/team.go` file. The expected wa

[2020-09-30 19:34] mgdelacroix opened #15674 "Add end to end tests to the "renameTeamCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `renameTeamCmdF` command, in the `commands/team.go` file. The expected wa

[2020-09-30 19:34] mgdelacroix opened #15675 "Add end to end tests to the "deleteTeamsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `deleteTeamsCmdF` command, in the `commands/team.go` file. The expected w

[2020-09-30 19:34] mgdelacroix opened #15676 "Add end to end tests to the "modifyTeamsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `modifyTeamsCmdF` command, in the `commands/team.go` file. The expected w

[2020-09-30 19:34] mgdelacroix opened #15677 "Add end to end tests to the "restoreTeamsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `restoreTeamsCmdF` command, in the `commands/team.go` file. The expected

[2020-09-30 19:34] mgdelacroix opened #15678 "Add end to end tests to the "teamUsersRemoveCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `teamUsersRemoveCmdF` command, in the `commands/team_users.go` file. The

[2020-09-30 19:49] rhetoricalraj commented on #15444
Can I take this up?

[2020-09-30 19:50] mgdelacroix opened #15679 "Store mmctl's configuration files following the XDG spec"
We want to update the location of the mmctl's configuration file. For this new location:

* We should follow the XDG Base Directory Specification for configuration and other files. For the case of `mmctl`, this means moving the configuration to the `$XDG_CONFIG_HOME` directory.
* We should provide the user with a global flag and environment variable to point to a specific location for the configur

[2020-09-30 19:55] esethna commented on #15640
Awesome @g-ravity! Can I ask that you start by joining me in this channel on Mattermost: https://community.mattermost.com/core/channels/dnd-timer

I'll add some developers in there and we can use it as a forum to discuss the implementation of this feature.

For this project I'd recommend starting by investigating the related code to get an understanding of the online, away, offline, do not disturb

[2020-09-30 21:00] aspleenic commented on #15606
It seems there was a bit of confusion in our previous comments and you are looking for the ability to use an OIDC client in the Team Edition.

This feature is being implemented in our Enterprise Edition, as our open source Team Edition is intended for small teams, guided by a specific set of [stewardship principles](https://docs.mattermost.com/developer/manifesto.html#stewardship-principles-for-th

[2020-09-30 21:17] hmhealey commented on #15604
Does your server happen to be behind a firewall that prevents it from contacting the internet? The server has to be able to talk to YouTube (or any other sites you want previews for) for the preview to be displayed.

[2020-09-30 21:27] gupsho commented on #15674
I would like to try this.

[2020-09-30 21:28] mgdelacroix commented on #15674
Assigned, thanks @gupsho!!

[2020-09-30 21:53] Breee commented on #15606
I see. That does not make sense to me.

It should not matter how big the Organization is.

Even small teams that use mattermost, may use SSO.
If you use, for example, 15-20 Services it makes sense to use SSO, just to avoid managing alot of credentials and increase productivity.

It's a feature that should be implemented in every big service and nothing that generates money.

But do not get me wron

[2020-09-30 22:00] gittigger commented on #15604
No, the server has and always has had; a direct connection to the internet. Can you explain how this new server change works @hmhealey ?

[2020-09-30 22:30] mattermod opened #15681 "Change all non-submit buttons in the system console to type='button'"
Since buttons inside a form tag are treated as submit buttons by default, any button in the system console not labeled as `type='button'` is treated is a submit button. Pressing enter (even when the button does not have focus) results in a click of the button. This causes a plugin's generated secret to unintentionally regenerate for example. Each non-submit button needs to have `type='button'` to

[2020-09-30 22:35] mickmister opened #15682 "All non-submit buttons in the system console should be set to type='button'"
#### Summary

Since buttons inside a form tag are treated as submit buttons by default, any button in the system console not labeled as `type='button'` is treated is a submit button. Pressing enter (even when the button does not have focus) results in a click of the button. This causes a plugin's generated secret to unintentionally regenerate for example. Each non-submit button needs to have `type