[2020-01-28 19:05] ylluminate opened #13787 "UI/UX: Organizing Teams on Sidebar"
Currently for Mattermost servers that have many teams it becomes unwieldy to manage / prioritize teams. Could we please have a function to help organize these better?

I believe that this would take perhaps one of two forms or both:

1) Allow drag-n-drop organization to move teams into a non-alphabetical order.  The reason that this is important is that most "teams" do not like to have their names

[2020-01-28 21:44] lawikip commented on #11574
This can be closed

[2020-01-28 23:28] amyblais commented on #13787
@ylluminate Thank you for sharing, there is an open PR here from a community member: https://github.com/mattermost/mattermost-webapp/pull/4042. Original Help Wanted ticket is here: https://github.com/mattermost/mattermost-server/issues/12621.

This is mainly for the first scenario you outlined above for now.

[2020-01-28 23:32] ylluminate commented on #13787
Wow wow wow wow, thank you for pointing that out.  What can we do to get this pushed in STAT?  As I noted on that, this first issue would be marvelous and would take some monkeys off my back right now re: the usage of Mattermost (which I'm not willing to move away from, but that won't stop them from complaining until this is in place).

[2020-01-28 23:35] ylluminate commented on #12621
@rakhi2104 thanks so much for working on this.  What do you think about adding item #2 to your effort in this regard?

[2020-01-29 00:21] amyblais commented on #13787
I found that there is a thread about this here: https://community.mattermost.com/core/pl/kky9gjmdc7g38ys3piixxibwyy.

``jason.blais`` just asked help for moving this PR forward: https://community.mattermost.com/core/pl/4ch1r689yt8pzrfxf6z3z76ibe

[2020-01-29 01:43] frnkshin commented on #13786
I can work on this if no one claimed it yet.

[2020-01-29 02:32] LilianCruanes commented on #13644
Did you forget me ? :) @amyblais @DSchalla

[2020-01-29 09:02] DSchalla commented on #13644
Absolutely not forgotten, we actually discussed the topic yesterday on our community server - Feel free to join if you'd like of course!

The problem is that bcrypt has not a character limitation but a byte limitation, which we currently enforce at 64 bytes in a string. You can absolutely use unicode character, but since Unicode characters can be up to 4 byte in size, this reduces the amount of ch

[2020-01-29 10:24] saturninoabril commented on #11574
Thanks @lawikip for looking and thank you for your contribution!

[2020-01-29 10:24] #11574 closed

[2020-01-29 14:13] amyblais commented on #13619
Closing this for now as we haven't heard feedback for a while. Please re-open this issue if the problem persists,

[2020-01-29 14:13] #13619 closed

[2020-01-29 18:34] amyblais commented on #13575
Opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-22154.

[2020-01-29 19:12] #13501 closed

[2020-01-29 21:02] #13733 closed

[2020-01-30 00:54] bolariin commented on #13782
I would like to resolve this

[2020-01-30 08:21] vania-github commented on #13575
Thank you @amyblais for your consideration !

[2020-01-30 10:12] chrisbirster commented on #13732
I would like to work on this

[2020-01-30 10:35] etlfg opened #13797 "Data race concurrent map R/W"
#### Summary
Data race concurrent map R/W

#### Steps to reproduce
I have trouble reproducing It. The server is in version 5.19.0 and have shutdown randomly several times already.

#### Expected behavior
The server should run without untimely crashing.

#### Observed behavior (that appears unintentional)
We have hundreds of users on a unique server running in docker behind a reverse proxy. Is has

[2020-01-30 10:37] Pomyk commented on #13777
The idea is to have a map[UserId]->chan (or shard into a few maps). Start with a small number of channels (one?) and add more as more unique users are sent notifications. First time a user is seen you choose which channel he will be assigned to (maybe create a new one) and add him to the map.
Not sure yet how to choose the channel, maybe some generator function based on user number?

[2020-01-30 11:54] kdshop opened #13798 "Ability to change the language used for the Spell Check feature"
enhancement request as in title

[2020-01-30 11:56] #13798 closed

[2020-01-30 13:28] agnivade commented on #13777
This userid to channel mapping is already there in the code. See `(hub *PushNotificationsHub) GetGoChannelFromUserId`.

But I'm not clear on how that reduces the number of goroutines. Could you expand on that a bit more ?

[2020-01-30 14:16] agnivade commented on #13797
Hi @etlfg, thank you for this report ! We are already tracking this with https://mattermost.atlassian.net/browse/MM-21378.

In the mean while, there is a workaround, but I'm afraid it might not be very feasible. It is to disable push notifications with `SendPushNotifications: false`.

The log line `"Notification not sent"` is related but not something to do with this issue. It gets generated if a

[2020-01-30 14:36] lawikip commented on #11571
I will take this

[2020-01-30 14:43] Pomyk commented on #13777
Currently there is a mapping using userId hash modulo number of channels.
I mean a literal map[UserId]chanIdx and channel number can start low and be increased dynamically if needed.

[2020-01-30 18:07] brunoro commented on #13731
can I grab this one?

[2020-01-30 23:03] Pomyk commented on #13777
Proof of concept pushed in my fork. I'm still not sure if closing idle workers makes sense.

[2020-01-31 10:35] BalasubramanyamEvani commented on #13726
Hi, Can I take up this issue ?

[2020-01-31 13:14] hanzei commented on #13786
Thanks for taking a shot @frnkshin. Let me know, if you have any questions.

[2020-01-31 13:17] #13761 closed

[2020-01-31 13:41] hanzei commented on #11571
Awesome, thanks @lawikip

[2020-01-31 15:50] sowmiyamuthuraman commented on #13473
would linke to work  on this!

[2020-01-31 17:46] ChrisDobby commented on #10163
Is this along the right lines?

![textbox-with-emoji](https://user-images.githubusercontent.com/434389/73561763-81445400-4451-11ea-8579-1c23409eadb9.gif)

[2020-01-31 18:11] hanzei commented on #13473
Wow, that was a quick PR. Thanks @sowmiyamuthuraman :+1:

[2020-01-31 19:36] ylluminate opened #13801 "Feature Request: Rapid History Navigator"
So many of us are thrilled with the auto scroll back in history, it helps a lot.  There is some room to make going back in history very far more attainable / user friendly:

Please implement a mechanism to go back via some mechanism by weeks, months and years. I fear that a calendar might be too bulky, but some kind of a slider or button / tab arrangement might make this fairly efficient. It might

[2020-01-31 20:31] hanzei commented on #10163
That looks amazing @ChrisDobby :tada:

Feel free to open a PR soon so people can try it out and provide more in depth feeback.

[2020-01-31 20:40] tharun208 commented on #13725
I like to work on this @mattermod @devinbinnie

[2020-01-31 20:46] tharun208 commented on #12696
I like to work on this @letsila

[2020-01-31 21:14] devinbinnie commented on #13725
Sure! Thanks @tharun208

[2020-02-01 00:25] sid-kap commented on #13422
@jasonblais I experience the same bug, and it is not going to the oldest unread message. This happens even in channels where I have seen all the messages, and it still often scrolls to some random message from weeks ago even if I've read all the messages in between.

[2020-02-01 01:40] jasonblais commented on #13422
@sid-kap Thanks for reaching out! Few questions to see if we can narrow down the cause:

1 - Which Mattermost server version do you have?
2 - Which browsers or Desktop App does it reproduce for you?
3 - How often do you notice this? (e.g. how many times a day)

[2020-02-01 03:02] letsila commented on #12696
@tharun208 go ahead. I didn't make a lot of progress on this one so far.

[2020-02-01 05:47] jasonblais commented on #12696
Thanks all, reassigned to @tharun208 :)

[2020-02-01 07:57] LilianCruanes commented on #13644
@DSchalla Thanks, I think it is not a very clean solution, but 64 bytes' password could make the job at this time :)

A last question :

When users register on the SystemA's plAtform a temporary mattermost account is created for them and it is named "tmp-<user's uuid>".
A bit later, they are queried to type an username and the python scripts automatically asigns the typed username to the temporary

[2020-02-01 19:55] aminzafarghandi opened #13803 "Mattermost plugins doesnt work on Mobile app"
Dears,
Some mattermost plugins like voice message , jira and ... doesnt work on mobile app .
Do you have any plan to resolve this issue . and if your answer is positive , what is your estimated time ?

#### Summary
Mattermost doesnt support some plugins like voice on mobile client

[2020-02-01 23:11] jasonblais commented on #13422
@sid-kap I heard from one of your colleagues the answer to 1. But if you're open to sharing any more information for questions 2 and 3, that'll be helpful.

There are scrolling fixes and improvements coming in Mattermost v5.20, releasing on Feb 16th.

[2020-02-03 04:09] Gloriashield opened #13806 "Problem occurs when I write a message with 2 bytes characters."
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-02-03 07:54] cork opened #13807 "Utils.hasSoundOptions shouldn't exclude firefox"
#### Summary
Utils.hasSoundOptions excludes firefox, I suspect this is cause it once didn't support .mp3 files. This hasn't been the case for a long time though, so i think it is time to allow firefox to get notification sounds too.

#### Steps to reproduce
1. Open mattermost in firefox.
2. Get a notification from a team member in a direct chat or channel.

#### Expected behavior
The ding sound sh

[2020-02-03 08:10] ami9000 commented on #9432
Hi folks. I think I can solve this without overriding Native Modules, etc. Can I take a crack at this?

[2020-02-03 08:24] mulderbaba opened #13808 "Space in content-type breaks integration with 3rd party apps"
Mattermost server tries to parse the content-type along with the charset as stated in [here](https://github.com/mattermost/mattermost-server/blob/a63684fcb5e3ba7b7522b35c29a4cb27779ba823/web/webhook.go#L41).

This breaks integrating with apps (built by Spring 5.x) where no space is defined between the mime type and charset type, which is ``application/x-www-form-urlencoded;charset=UTF-8``.

Accord

[2020-02-03 08:41] hanzei commented on #9432
That would be great, thanks @ami9000 :+1:

[2020-02-03 09:42] agnivade commented on #13777
Hey @Pomyk, just wanted to check if the patch is ready for a review ? It seems that you have fixed the race condition, but haven't sent a PR yet.

If you are still investigating other solution, please feel free to do so. I just wanted to check there is nothing waiting from our side. Thanks !

[2020-02-03 13:22] amyblais commented on #13803
Closing as a duplicate. https://github.com/mattermost/mattermost-mobile/issues/3883

[2020-02-03 13:22] #13803 closed

[2020-02-03 14:21] amyblais commented on #13806
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22233.

[2020-02-03 18:53] amyblais commented on #13808
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22247.

[2020-02-03 20:37] lieut-data commented on #4300
@levb, I wonder if it makes sense to add this to the integrations team backlog as something to evaluate? Your call on next steps.

[2020-02-03 20:38] lieut-data commented on #12944
Going to close this ticket at present given a shift to other priorities.

[2020-02-03 22:01] sid-kap commented on #13422
Thanks for following up on this! I only use the Mattermost Mac desktop app, and I notice it maybe 2-4 times a day.

[2020-02-03 22:30] mattermod opened #13814 "Desktop App: Migrate react-bootstrap to v1"
This ticket is for upgrading our `react-bootstrap` library used in the Desktop App to v1 (which will also migrate us to Bootstrap 4)
This will require updating the package, and rewriting many components to use the new classes.

A guide on doing this can be found here:
https://react-bootstrap.github.io/migrating/

We also want to ensure that no behaviours are changed as a result of this upgrade, so

[2020-02-04 04:12] sowmiyamuthuraman commented on #13724
Would like to work on this!

[2020-02-04 10:25] jasonblais commented on #13422
Hi @sid-kap, thanks for letting us know. I've reached out to our Apps team to help take a look (cc @amyblais @sudheerDev)

[2020-02-04 10:28] jasonblais commented on #13422
@sid-kap In the meantime, I would encourage your System Admin to upgrade to the latest Mattermost release, v5.19, from https://mattermost.com/download. Please also ensure you have the latest Mattermost Mac desktop app from https://mattermost.com/download/#mattermostApps

[2020-02-04 11:02] jacksga opened #13815 "Line breaks are ignored when used with inline images."
#### Summary
Line breaks are ignored when used with inline images.
Message preview does show the right formatting
![preview_msg](https://user-images.githubusercontent.com/7153221/73734734-636f3b80-473e-11ea-8b39-f79579c4aaf1.png)
but when send it ignores the new lines.
![broken_msg](https://user-images.githubusercontent.com/7153221/73734720-5ce0c400-473e-11ea-9b9b-61e66ceb12f5.png)

Occured with t

[2020-02-04 11:37] sudheerDev commented on #13422
@sid-kap Hey, Does this happen on first visit to channel? i.e you see a loading indicator before seeing the posts in channel? Or does it happen on a recurring visit?

[2020-02-04 12:41] #13709 closed

[2020-02-04 13:48] amyblais commented on #13815
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22267.

[2020-02-04 13:54] amyblais commented on #13755
### v5.20 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.20.0-rc1/mattermost-team-5.20.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3314/files)

[2020-02-04 14:13] #13473 closed

[2020-02-04 16:34] #8797 closed

[2020-02-04 16:45] mattermod opened #13817 "Add a count for pinned posts header icon"
Current implementation missed webapp, but server and mobile are done: https://github.com/mattermost/mattermost-server/issues/10145

Add a count, similar to the channel member icon, to the pinned post icon in the channel header.

The count should increment when a post is pinned and decrement when a post is unpinned.

![screenshot](https://user-images.githubusercontent.com/16541325/73766820-e01e0c00

[2020-02-04 16:45] mattermod opened #13818 "Disable default mention notification settings for "case sensitive first name" and "non-case sensitive username""
By default, disable the following notification settings (in Account Settings > Notifications > **Words that trigger mentions**): "Your case sensitive first name" and "Your non-case sensitive username"

Note: This should not change the value of the settings for users who have previously edited this setting.

\-\-\-\-\-\-
Related discussions requesting the default notification settings to be less no

[2020-02-04 18:47] icelander opened #13819 "Reduce warning level when prepackaged plugin already installed"
[Currently](https://github.com/mattermost/mattermost-server/blob/acce0da068982bb2cdd890325fa9715477b96339/app/plugin_install.go#L153) when a prepackaged plugin is already installed it sends it as an `error`. Because this doesn't preclude the server or plugin from running this should be reduced to a `warn` level so sysadmins don't confuse this for a major issue.

[2020-02-04 20:00] #12453 closed

[2020-02-04 20:12] icelander commented on #13819
[Created Jira Story](https://mattermost.atlassian.net/browse/MM-22296)

[2020-02-04 20:12] #13819 closed

[2020-02-04 20:28] sid-kap commented on #13422
It happens on recurring visits, I don't see a loading indicator when I'm switching channels and this happens

[2020-02-05 14:11] kajumito commented on #13728
I can take this one.

[2020-02-05 14:13] #13712 closed

[2020-02-05 15:18] amyblais commented on #13755
### v5.20 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.20.0-rc2/mattermost-team-5.20.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3314/files)

[2020-02-05 15:36] amyblais commented on #13681
Closing this for now as we haven't received an update for a while, please re-open this issue if v5.19 doesn't resolve it,

[2020-02-05 15:36] #13681 closed

[2020-02-05 17:11] swood opened #13829 "export particular channel"
Hello dear team.

Would it be possible to export into CSV the particular channel from the team? I only found the way to export the whole team with the only limit by the time.

[2020-02-05 17:23] swood commented on #13829
Also, I tried to export data to CSV on my working instance of Mattermost (version 5.19.1) and got SIGSEGV:

[code]

As I noticed, the feature is not available. Should I use the manual export from the database directly instead of the util higher-level like Mattermost?
By the way, I think this is a bad practice when the software falling down with the SIGSEGV.

[2020-02-05 18:49] sowmiyamuthuraman commented on #13817
Would like to work on this!

[2020-02-05 18:50] hanzei commented on #13817
Awesome, thanks @sowmiyamuthuraman :tada:

[2020-02-05 22:04] larkox commented on #13729
May I take this one?

[2020-02-05 22:05] larkox commented on #13346
May I take this one?

[2020-02-05 23:49] saturninoabril commented on #13346
Sure, thanks @larkox!

[2020-02-06 10:43] chekoopa commented on #8182
Same problem with an Android 7.0 phone. Nginx self-hosted, proper SSL wildcard cert, tried an advice with `ssl_ecdh_curve`. The recent app does connect to `pre-release.mattermost.com`, but writes "Can't connect...". Though the phone connects to the server through browsers. Another phone (Android 9) also works both through a browser and the app. The server version is 5.9.0, yet.

[2020-02-06 11:49] #13421 closed

[2020-02-06 11:59] mvitaly2003 opened #13831 "Do not silently close modified Edit Post dialog on a mouse click outside it"
#### Summary
If you try to edit a message in chat and accidentally click outside Edit Post dialog, the dialog silently closes and all your changes get lost.
I found a related issue #10771 that seems to be fixed in 5.12 but it was only related to dragging text out from edit dialog, not to clicking outside of it.

#### Steps to reproduce
Open a chat, find any of your messages and choose 'Edit' from

[2020-02-06 14:52] #13782 closed

[2020-02-06 15:17] jasonblais commented on #13227
@cpanato @khos2ow Few PRs have been merged for this issue, wondering if this is completed or if outstanding work is left?

[2020-02-06 15:35] #12965 closed

[2020-02-06 17:06] devinbinnie commented on #13479
Taking this one myself because channel-sidebar-org needs it

[2020-02-06 18:00] mattermod opened #13835 "Fix typos detected by goreportcad.com"
Goreportcard does some checks to the source code, and one of them is the detecting typos.

This ticket is to fix the typos found here: https://goreportcard.com/report/github.com/mattermost/mattermost-server#misspell (when there are real typos).

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets)

[2020-02-06 18:14] khos2ow commented on #13227
@jasonblais in terms of this specific issue there's nothing left, and to be frank the way I did it was not to "remove any deprecated API" as the title of this issue reads rather than looking for the underlying Kubernetes version and decide - on the fly - to use which API version. So in reality these charts will be both forward and backward compatible, in terms of the K8s version they are installed

[2020-02-06 18:25] JtheBAB commented on #13835
I would grab it.

[2020-02-06 18:43] bolariin commented on #13818
I think "Your case sensitive first name" is disabled by default. I created a new user locally and it was disabled by default.

[2020-02-06 22:45] RyanCommits commented on #13260
Looking into this

[2020-02-06 22:52] jasonblais commented on #13227
Thank you @khos2ow! I'll close this issue then and add your reply in the Jira ticket as a comment for additional context.

Appreciate your help, along with @bpietraga :)

[2020-02-06 22:52] #13227 closed

[2020-02-07 00:18] amyblais commented on #13831
Opened a ticket: https://mattermost.atlassian.net/browse/MM-22360.

[2020-02-07 00:22] amyblais commented on #13829
Hi @swood, I'll ask our team about this.

[2020-02-07 01:41] strtw commented on #13727
Hi @devinbinnie I'd like to be assigned this please

[2020-02-07 04:24] MatthewDorner commented on #13786
I took a look at this and I'm not getting any error. The error in the example, "Unable to restart plugin on upgrade." doesn't appear in `mattermost-server` at all (was removed?) and when debugging, I get an error from `a.Srv.Store.User().Get(bot.OwnerId)` but since the error is `store.MISSING_ACCOUNT_ERROR` and `ownerUser` is nil, control passes through to the end of the `CreateBot` and returns no

[2020-02-07 13:20] #13510 closed

[2020-02-07 14:19] devinbinnie commented on #13727
Sure thing!

[2020-02-07 14:32] lieut-data commented on #13260
Thanks, @RyanCommits!

[2020-02-07 14:40] lieut-data commented on #13829
@amyblais / @swood, there is indeed a bug here, in that after outputting:
[code]

the code continues on to try to use the `nil` MessageExport struct. We should fix that as a separate issue -- @amyblais, can you file same?

@swood I believe this feature at large requires an enterprise license to work correctly. Do you have the appropriate license configured when running this export command?

[2020-02-07 14:45] amyblais commented on #13829
Opened a ticket: https://mattermost.atlassian.net/browse/MM-22372.

[2020-02-07 15:12] swood commented on #13829
@lieut-data I don't have an enterprise license, an only general one, or community to say better. Does it mean the export to the CSV is unreachable anyway even if you fix this bug?
Does any change to use this feature with community license?
And, I would like to re-ask my original question. Does it correct there is no way to export only one channel from the team? The only whole team export to jsonl-

[2020-02-07 16:11] JonathonReinhart commented on #13831
Please address this. It is absolutely maddening to spend 15 minutes editing a message, just to lose your edits because you clicked outside of the dialog box.

This is a serious UX problem because it is different from the way users normally expect an application to work. No other windowing system I've ever used since Windows 3.1 would close a dialog box when you click outside of it, and I don't und

[2020-02-07 16:13] JonathonReinhart commented on #10771
FYI Mattermost dev team: It really helps when you reference the commit/PR that fixes an issue when you close it.

[2020-02-07 16:36] lieut-data commented on #13829
@swood, the `csv` (and other "compliance"-related exports) are indeed enterprise-only at this time. I don't know if there's any plans on that front.

With respect to your original question, I believe you're correct: there is no way to export only one channel from the team. Though instead of `grep` to filter, I'd suggest a tool like https://stedolan.github.io/jq/, and just `select` the rows matchin

[2020-02-07 20:01] amyblais commented on #13732
@chrisbirster Feel free to grab this one, sorry for the delay!

[2020-02-07 20:02] amyblais commented on #13731
@brunoro Feel free to grab this one, sorry for the delay!

[2020-02-07 20:02] amyblais commented on #13755
### v5.20 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.20.0-rc3/mattermost-team-5.20.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3314/files)

[2020-02-07 20:06] amyblais commented on #13618
@grundleborg ^

[2020-02-07 20:06] amyblais commented on #13726
@BalasubramanyamEvani Let me know how we can help.

[2020-02-07 20:07] amyblais commented on #13818
@esethna Is this up-to-date?

[2020-02-08 08:44] frnkshin commented on #13786
@MatthewDorner It only shows up for the very first time.
To reproduce, you will have to run `make nuke` and then install a bot plugin (I used `welcomebot`).

[2020-02-08 12:01] grundleborg commented on #13618
That's great @pqzx . For this one, I think it currently makes sense to add it to the build in CLI as this command is not currently implemented in mmctl. But pinging @mgdelacroix to see if it could be added in mmctl too?

[2020-02-08 14:46] RajatVaryani commented on #13657
Hello @lieut-data. This is entirely unrelated 👆🏽 but I attempted to modify `InstallMarketplacePlugin` function. I felt my changes have made code a bit more cleaner to read because

1. It gets rid of unnecessary mutation of `pluginFile, signatureFile at the cost of duplicating some part of code.
2. Removed nilness check for `pluginFile, signatureFile` because the methods if not returning any error

[2020-02-08 21:36] MatthewDorner commented on #13786
yeah, I can see it create the bot but no error. Tried installing plugins via `make deploy`, `mattermost plugin` cli command with tar.gz, uploading tar.gz via the webapp and installing from Marketplace. Installing welcomebot via Marketplace with added debug statements:

[code]

anyway I will wait to see what you come up with if you're still working on it

[2020-02-09 11:07] taihen opened #13843 "Not being able to refresh channel"
### Summary
Mostly failing to get messages at channels with +1000 message history, stuck on "Loading...".

#### Steps to reproduce
VM GCP f1-micro (1CPU,0.6GB)
3 users, ~74k messages in archive
Version: 5.19.0
Build Number: 5.19.1
Build Date: Tue Jan 21 23:30:31 UTC 2020
Build Hash: 57f3ca975f565b0235d72ba6eb098e73a25513cd
Build Enterprise Ready: true
DB Version: 5.19.0

#### Observed behavior (th

[2020-02-09 19:03] ikeohachidi commented on #13723
I'll take this

[2020-02-10 06:30] XD1234567 opened #13846 "The Get posts for a channel API miss some post when using since parameter."
#### Summary
The `Get posts for a channel` API can't get all posts in a channel from a certain time stamp when using since parameters

#### Steps to reproduce
1. Better create a new channel for testing.
2. Assume channel create timestamp is A.Then,post number 1 to 1000 to a channel for testing.This will make the channel has 1001 posts(number 1 to 1000 and a "xxx joined the channel" post) from time

[2020-02-10 08:52] LilianCruanes commented on #13644
@DSchalla @amyblais I'm so sorry to run you... But a lot of account are created without username caused by an username's error. It's very confusing, it would be possible to fastly answer me to the question that I post in my last message here ?

[2020-02-10 09:05] DSchalla commented on #13644
Hi @LilianCruanes,

I am sorry to hear that it's a unclean solution for you, we are sadly bound by the limits of the hashing algorithm. Increasing the password byte limit would just result in truncating it never the less after 64 bytes.

For the username, did you take a look at the source code for the user model here? https://github.com/mattermost/mattermost-server/blob/master/model/user.go#L751

[2020-02-10 11:25] hanzei commented on #13843
@Willyfrog This seams to be broken with https://github.com/mattermost/mattermost-server/commit/53e541977b2e5d9421bf92a5444a2971452560e4#diff-2f7d4446bf6cc464490bf4dd04b6d97bL235-L238 because the error check is missing. Can you confirm this?

cc @lieut-data as you submitted https://github.com/mattermost/mattermost-server/pull/12387

[2020-02-10 11:38] swood commented on #13829
@lieut-data  can I ask you about the message:
[code]

How can I detect the Id or name of this channel and handle export it?

[2020-02-10 12:14] Willyfrog commented on #13843
seems to happen on 5.18/5.19 but not on master

[2020-02-10 14:30] lieut-data commented on #13843
The missing error check in question was originally introduced with https://github.com/mattermost/mattermost-server/commit/b832985f1dbef3bb88195afe234e8c3fcfd460c9 and would have been present from v5.14 onwards.

It was briefly fixed by the threads performance change, that I was involved in reverting that feature due to unrelated regressions, hence my commit above. As @Willyfrog notes, this is fixe

[2020-02-10 14:55] lieut-data commented on #13829
@swood, I admit to not being familiar with that message. Is it being emitted from the tool? Or from our documentation?

[2020-02-10 15:58] LilianCruanes commented on #13644
Oh weird, my regex looks good and errors are always here... I'm going to investigate this, the error seems to be on my side, thanks for your help @DSchalla @amyblais
See you :)

[2020-02-10 15:58] #13644 closed

[2020-02-10 16:05] lieut-data commented on #13657
@RajatVaryani, just a brief review, but superficially I'd agree with you that that makes the code simpler.

[2020-02-10 16:15] swood commented on #13829
@lieut-data It is indeed from the Mattermost's bulk export tool.

[2020-02-10 16:38] RajatVaryani commented on #13657
@marianunez Can you please review as well? 👆🏽

[2020-02-10 16:45] mattermod opened #13849 "Desktop: be consistent on the use or URL and url libraries"
currently depending on the file we are using one of those libraries, which are quite close one to the other. we should probably choose one over the other.
as an argument Juho [mentioned](https://github.com/mattermost/desktop/pull/1137) to use URL because URL.origin does include the protocol scheme.

Files where url is used:

  * browser/index.jsx
  * browser/updater.jsx
  * browser/components/Main

[2020-02-10 17:32] lieut-data commented on #13829
@swood, I'm having trouble finding any reference to that in the code. Can you share a longer log context? Alternatively, I bet @grundleborg knows to what this is referring given his first-hand experience here.

[2020-02-10 17:40] grundleborg commented on #13829
That message is saying that you can't export a self-DM channel (i.e. a direct message channel with yourself). We only recently (5.20 IIRC) added the support for this.

[2020-02-10 17:49] Ths2-9Y-LqJt6 commented on #13818
I'll take this one!

[2020-02-10 17:53] lieut-data commented on #13829
Haha! That explains why my grepping isn't finding anything :p -- thanks, @grundleborg! @swood, hopefully updating to v5.20 will address the immediate roadblock you're facing.

[2020-02-10 18:19] swood commented on #13829
I have another one question by this topic. I tried to make full export and I got an error:
[code]

How can I export direct messages as well?

[2020-02-10 18:20] Ths2-9Y-LqJt6 commented on #13818
I second @bolariin 's comment - I found "Your non-case sensitive username" to be disabled by default on both a pristine dev env. as well as on the community.mattermost.com account I just created.  I'll work on "Your case sensitive first name".

Side note: "Your case sensitive first name" is not present unless (unsurprisingly) you have entered a first name (Account Settings > General > Full Name).

[2020-02-10 18:42] enahum commented on #12964
Work has been address, no longer valid

[2020-02-10 18:42] #12964 closed

[2020-02-10 19:34] lieut-data commented on #13260
@RyanCommits, would you be open to helping make these same changes for the webapp? I realized that my reply to @hanzei's comment above might have suggested this was /mobile-only/, but it should apply to both frontend applications.

[2020-02-10 19:49] RyanCommits commented on #13260
I can't make any promises right now... If anyone wants to split the work and take on the web app side of this ticket in the meantime, that would be ideal.

I'll update this thread if I manage to find some spare time though.

[2020-02-10 20:18] amyblais commented on #13846
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22417.

[2020-02-10 20:32] marianunez commented on #13657
@RajatVaryani I agree that some changes can be done there so the code is simpler and more understandable. However, I believe the check for signature file must still be done before calling `InstallPluginWithSignature` given that if `null` is passed it will skip verification. @ali-farooq0 can you confirm this is correct?

[2020-02-10 20:44] ali-farooq0 commented on #13657
@marianunez did you mean check the signature file before calling `InstallMarketplacePlugin`? if so then yes, i believe we need to check the signature file before invoking `InstallPluginWithSignature`. However if `InstallPluginWithSignature` does return an error if the signature file is `nil` then the new changes that @RajatVaryani should work just fine.

[2020-02-11 00:12] marianunez commented on #13657
@ali-farooq0 can you double check this? I believe it's not returning an error if signature is nil, see https://github.com/mattermost/mattermost-server/blob/master/app/plugin_install.go#L143-L148

Is it intended to skip the signature verification if non is passed (which I believe was the case on that function) or should we add a check there to avoid this kind of confusion?

[2020-02-11 00:44] lieut-data commented on #13846
@XD1234567, would you be open to sharing a bulk export of the channel in question for help in reproducing? See https://docs.mattermost.com/administration/bulk-export.html for more details.

[2020-02-11 01:07] ali-farooq0 commented on #13657
@marianunez ah yes, but since https://github.com/RajatVaryani/mattermost-server/commit/3e2d18f4b5b08adce30dd701654b2fb5348845c5#diff-ccbdc948bde42de2905077fcf0d55817R189 might be wrapping a `nil` `[]byte`, that signature expression should be truthy and result in verifying the signature, as it's the wrapper that's being passed in.

However, i still agree with you that it might be risky to allow nil

[2020-02-11 06:26] XD1234567 commented on #13846
Any idea how I can export the posts I need in a Windows docker preview version Mattermost?I tried something like `docker exec -it mattermost-preview mattermost export bulk F:\bulk_data.json --all-teams`,but it won't work..

[2020-02-11 12:19] hardyxia2018 opened #13856 "mattermost api v4 search posts can not per_page"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-02-11 13:30] amyblais commented on #13856
@hardyxia2018 Would you be open to upgrading your server version? Our latest version is v5.19.1.

[2020-02-11 14:22] lieut-data commented on #13260
Sounds good, @RyanCommits! I'll leave you assigned here, but add the `Up For Grabs` label back to give this issue attention. If someone is interested in helping with the webapp changes required here, feel free to jump in!

[2020-02-11 14:23] lieut-data commented on #13829
Hmm, that seems like a performance issue fetching the posts from the database. @grundleborg, is this by chance a known issue with direct post exports?

[2020-02-11 14:36] lieut-data commented on #13846
Ah, hmm, I confess I'm not familiar with the details of executing in that specific environment. Can you share any errors from running the tool? Note that it shouldn't be necessary to specify a path to the file: ideally you can just capture the output from docker and pipe it on your shell's side to a file of your choosing.

[2020-02-11 16:15] mattermod opened #13859 "Desktop: App window controls overlap devtools when docked to the left side of the window"
Reproducible on v4.4 on macOS only.

On the Desktop app, when the developer tools are open and docked to the left hand side of the screen, the OS window controls stay in the top left corner of the screen, overlapping the developer tools.

This is caused by our use of `titleBarStyle: 'hiddenInset'` when creating our `BrowserWindow`, which is a shortcut to allow the default macOS buttons to sit inse

[2020-02-11 16:30] mattermod opened #13860 "Desktop App: Pressing Enter multiple times during Basic Authentication causes a crash"
Found by <<sub>accountid:5dc030e15678870df71552a8] while testing MM-20350.

Steps to reproduce:

  1. You may need to clear your configuration to reproduce (delete `</sub>/.config/Mattermost)
  1. Set up HTTP Basic auth at `http://evil.example/`
  1. Connect to a Mattermost instance and post this message: `![let's hack>(http://evil.example/)`
    1. The image should fail to load, no auth popup is

[2020-02-11 17:45] mattermod opened #13862 "Desktop App: Fix transition when a tab is grabbed so there is no sticking effect"
The Desktop App server tab UI was recently updated, but there was an outstanding issue that was out of scope for the work due to the library.

**Current**
 ![](2019-11-15 08.23.49.gif)

**Improvement**
Fix the transition when a tab is grabbed so there is no sticking effect when the tab starts to be moved.

PR to implement server tab changes with drag and drop: https://github.com/mattermost/desktop

[2020-02-11 18:13] swood commented on #13829
@lieut-data
During this conversation, I realised you guys didn't think to make a proper export tool. So, I will write my own. Do you mind I will publish it when I'll finish it?

[2020-02-11 20:08] wiersgallak commented on #13829
@swood I'd be interested in learning more about what your thoughts are on the tool and where you'd like to see it published.  Feel free to detail here or reach out to me on our community server as @katie.wiersgalla

[2020-02-11 21:08] #12522 closed

[2020-02-11 21:56] M-ZubairAhmed opened #13865 "Webapp : Few of modals dont have a11y classes"
#### Summary
Few of the modals and popover don't have respective a11y classes as others.

#### Steps to reproduce
- open search from top right
- inspect class name of the search drop down
- it doesn't contain a11y popup class
- similarly for other modals and popovers too

#### Expected behavior
They should have respective popovers.
For modal : `a11y__modal`
For popover/popups : `a11y__popup`

####

[2020-02-11 22:09] enahum commented on #10195
closing this one as functionality was removed

[2020-02-11 22:09] #10195 closed

[2020-02-12 06:22] josephk96 commented on #13722
I'd like to give this one a shot!

[2020-02-12 10:22] grundleborg commented on #13829
No knows issue that I'm aware of - I certainly haven't seen many reports of it failing like this.

@swood is the server under a lot of load, or does it have a very large number of Posts in the database? I'd be interested in getting a sense for this so we can go test a similar size database and see if we need to make some performance enhancements to the bulk export SQL queries.

For an immediate wo

[2020-02-12 10:39] swood commented on #13829
@grundleborg In the main team I have the counts like you can see on screenshot:
https://prnt.sc/r16drb

It is only one team on my instance.

Yes, I indeed can extend the limit, but, I need a CSV export, I still need to parse Jsonl and convert it into the CSV. So, I decided to write my export tool and publish in on the GitHub. Maybe someone will face the same issue.
The main features will:
- format

[2020-02-12 11:46] #13462 closed

[2020-02-12 13:15] RajatVaryani commented on #13657
Let me make the change as part of this issue.

[2020-02-12 13:31] enahum commented on #13223
Hey @karlmarxlopez any progress on this? will you continue working on this ticket?

[2020-02-12 13:33] enahum commented on #13222
Hey @theparad0x007 any progress on this? will you continue working on the ticket?

[2020-02-12 13:34] enahum commented on #13589
Hey @karlmarxlopez any progress on this? will you continue working on this ticket?

[2020-02-12 13:40] enahum commented on #11763
this is a dup issue. closing

[2020-02-12 13:40] #11763 closed

[2020-02-12 13:41] enahum commented on #12017
Hey @kdenz any progress on this? will you continue working on this ticket?

[2020-02-12 14:30] mattermod opened #13869 "Replace search bar component"
Update the search bar component with one that has a more native feel with smooth animations.

Components that currently use the SearchBox are:

  * Filtered channels in the main sidebar
  * Add channel members
  * Manage channel members
  * More Channels
  * More Direct Messages
  * Search screen
  * Emoji picker
  * Select Timezone
  * Selector Screen
  * Android Share extension channels

A good

[2020-02-12 14:34] amyblais commented on #13500
@devinbinnie ^

[2020-02-12 14:35] devinbinnie commented on #13500
@amyblais Commented on the PR, waiting for response from @arka204

[2020-02-12 14:38] amyblais commented on #13806
Fixed for upcoming v5.20 release,

[2020-02-12 14:38] #13806 closed

[2020-02-12 14:38] amyblais commented on #13780
Fixed for upcoming v5.20 release,

[2020-02-12 14:38] #13780 closed

[2020-02-12 14:45] mattermod opened #13870 "iOS only - Code block numbering obstructed by the iPhone's notch"
Environment: 1.28 (build 264)
Not a regression.

Steps:
1) Post a code block to any channel
2) Tap on the code block to view
3) Rotate phone to landscape view

Expected: Code line numbers to display within the iPhone's safe area and not be obscured by the notch

Actual: Numbers are obscured by the iPhone's notch. See image.

----
If you're interested please comment here and come [join our "Contrib

[2020-02-12 14:45] mattermod opened #13871 "iOS - Automatic Replies custom message text box is obstructed by the iPhone's notch"
Environment: 1.28 (build 264)
Not a regression. Also found on 1.27.1, 1.26.2

Steps:
1) Open 3-dot menu
2) Tap on Settings>Notifications>Automatic Direct Message Replies
3) Place the phone in Landscape view

Expected: Text box to display within the iPhone's safe area and not be obscured by the notch

Actual: Text box is obscured by the iPhone's notch. See image.
Note that helper text (below), cust

[2020-02-12 14:45] mattermod opened #13872 "Mark as Unread: Remove mark as unread option from post menus for archived channels in RN"
Currently longpress menu in RN apps has Mark as Unread available when viewing Archived channels:
We should removed this option as it is also removed in the webapp.

Expected:  No option to Mark as Unread for archived channels

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build

[2020-02-12 14:50] rodel-calasagsag commented on #13336
hi @saturninoabril I would like to take this one

[2020-02-12 14:51] saturninoabril commented on #13336
Awesome, thanks!

[2020-02-12 14:52] rodel-calasagsag commented on #12302
@saturninoabril @jasonblais I would like to take this one if no one's working on this yet

[2020-02-12 14:52] saturninoabril commented on #12302
Sure, thanks!

[2020-02-12 16:23] esethna commented on #13865
Thanks @M-ZubairAhmed is there any expected change in terms of how this will affect screen reader usability?

[2020-02-12 16:25] esethna commented on #13865
@deanwhillier or @devinbinnie can we please create a JIRA ticket for these changes?

[2020-02-12 23:20] ami9000 commented on #13872
Hi, I can take this up.

[2020-02-13 00:51] #13505 closed

[2020-02-13 01:53] mmohsenz opened #13879 "Import from slack crashes due to invalid memory access or nil pointer dereference"
#### Summary
Import from slack crashes due to invalid memory access or nil pointer dereference

#### Steps to reproduce
1. Created a slack corporate export for last 7 days (only 630KB)
2. Used mattermost cli to import the file as per migrating-from-slack-using-the-mattermost-cli documentation

Mattermost Version: 5.19.0
Running in docker based on https://github.com/mattermost/mattermost-docker

##

[2020-02-13 03:58] diahai opened #13880 "How to disable System notification on Channel when change member?"
Hi,
How can I disable notification when someone join to or remove from a channel.
Ex 1: @jimmy and 6 others were added to the channel by you.
Ex 2: @nancy and 2 others joined the channel.
Ex 3: @nicholas was removed from the team.

Thanks!

[2020-02-13 06:19] XD1234567 commented on #13846
@lieut-data ,I will put the output of teminal here.
[code]
No file.json was generated...
Any idea? Sorry I am not familiar with shell programming.

[2020-02-13 09:59] elfshed commented on #13797
Two of our servers experienced the crash last night with 3000 lines written to the systemd journal in the timespan of 3 seconds.

Version 5.19.1

[2020-02-13 12:49] mksondej opened #13881 "Incoming webhooks notify users and we can't prevent it"
#### Summary
Incoming webhooks notify users and we can't prevent it.

#### Steps to reproduce
1. Have a software with its own accounts and comment system + webhooks to notfiy slack/mattermost (e.g Azure DevOps).
2. Write a comment with `@FirstName LastName` to notify somebody in said software.
3. When mattermost picks up that event and writes a message to a channel, it sees `@Something` in the con

[2020-02-13 13:12] #13729 closed

[2020-02-13 13:27] amyblais commented on #13879
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-22560.

[2020-02-13 13:31] amyblais commented on #13880
@diahai System-wide, you can disable this setting for default channels: https://docs.mattermost.com/administration/config-settings.html#enable-default-channel-leave-join-system-messages.

For specific accounts, you can go to Main Menu > Account Settings > Advanced > Enable Join/Leave Messages > Off.

[2020-02-13 14:13] amyblais commented on #13881
@Amonith What Mattermost version are you on?

[2020-02-13 14:14] Amonith commented on #13881
@amyblais 5.19.0

[2020-02-13 14:16] checkaayush opened #13882 "Possible typo in maximum file size for profile picture"
#### Summary
Maximum file size supported is 1000 MB for profile picture in account settings on commnuity hosted version. Assuming 1000 MB is a typo which needs fixing.

#### Steps to reproduce
1. Head over to community-release.mattermost.com.
2. Go to Account Settings > General Settings > Profile Picture
3. Message says maximum file size supported is 1000 MB.

#### Expected behavior
Maximum file s

[2020-02-13 14:21] amyblais commented on #13882
Opened a ticket to investigate: https://mattermost.atlassian.net/browse/MM-22564.

[2020-02-13 14:45] hekeli opened #13883 "Team invite link doesn't open correct team on webclient"
Using 5.17.3 team version.

When using team invite like this:
https://mattermost.foo/signup_user_complete/?id=teaminviteid

..and the user is prompted for login, and completes Gitlab OAuth (dunno if this matters for this issue), the browser web UI does not force focus/switch view to that team. Assume the user belongs to many teams, and is already a member in that too.

If the user was already logg

[2020-02-13 16:40] ami9000 commented on #11263
I'll take this one.

[2020-02-13 17:14] mgdelacroix commented on #12786
Closing as this was covered by https://github.com/mattermost/mattermost-server/pull/13876

[2020-02-13 17:14] #12786 closed

[2020-02-13 19:10] amyblais commented on #13882
@checkaayush This was an intentional change on the community servers. One option is to considering separating max file size for profile pictures from the global Maximum File Size config setting (under File Storage section in the system console). Would you be open to help opening a feature request issue for this?

[2020-02-13 19:50] amyblais commented on #13883
@hekeli Would you be open to sharing more details about your environment here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues along with reproduction steps and observed behaviour?

[2020-02-13 20:39] #13346 closed

[2020-02-14 14:40] amyblais commented on #13881
Do you mean that it notifies users who have the same first name and not the one user with the full username?

[2020-02-14 14:54] Amonith commented on #13881
@amyblais Well pretty much. Exact scenario (names changed):
On MM we have a users: "Marylin Manson" with login "@Marylin", and "Marylin Monroe" with login "@Monroe".
Azure DevOps (and probably a lot of other software) uses full names for notifications (to be exact it automatically changes @login to full names), so for example users can write a comment with "Hey @Marylin Monroe, can you look at thi

[2020-02-14 15:18] amyblais commented on #13881
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-22611.

[2020-02-14 16:15] mattermod opened #13891 "Allow saving file type attachments to the devices files app"
Current behaviour: File types other than images and videos cannot be previewed in the gallery and have no actionable buttons in the gallery

Expected behaviour: File types other than photos and videos (that save to the camera roll) should have a save button to allow saving to the devices files application - same as the flow for saving an image from the gallery view.

Respect the setting for **Allo

[2020-02-14 16:45] mattermod opened #13892 "User autocomplete should match on spaces"
This feature was implemented on webapp and merged for 5.20 but not on mobile RN.
Webapp: https://mattermost.atlassian.net/browse/MM-19761, https://github.com/mattermost/mattermost-webapp/pull/4504

Expected: Allow user autocomplete to match on terms with spaces. For example: “@firstName lastName”, similar to how channel autocomplete works (can be tested by typing ~ followed by a channel name with

[2020-02-14 16:45] mattermod opened #13893 "Support for LaTex in RN"
Render Latex code in posts by using [https://github.com/doananh234/react-native-latex](https://github.com/doananh234/react-native-latex|smart-link) that requires an update to work with RN 61+  or another similar library as long as it has a native implementation.

![](image-2018-01-08-10-34-34-318.png|width=200,height=183)

----
If you're interested please comment here and come [join our "Contribut

[2020-02-14 20:15] mattermod opened #13899 "Add API docs for GET, POST /api/v4/plugins/marketplace"
As per discussion on [https://github.com/mattermost/mattermost-server/pull/11977](https://github.com/mattermost/mattermost-server/pull/11977|smart-link) add API docs for

[code]

[code]

[https://github.com/mattermost/mattermost-server/pull/11977](https://github.com/mattermost/mattermost-server/pull/11977)

API Docs repo: https://github.com/mattermost/mattermost-api-reference

----
If you're inter

[2020-02-14 20:21] #12699 closed

[2020-02-14 20:25] lieut-data commented on #13846
Yes, that's super helpful -- thanks @XD1234567!

[2020-02-14 23:14] #13755 closed

[2020-02-16 04:18] checkaayush opened #13903 "Feature: Separate max file size for profile pictures from Maximum File Size config"
#### Summary
Maximum file size supported is 1000 MB for profile picture in account settings on commnuity hosted version.

#### Steps to reproduce
1. Head over to community-release.mattermost.com.
2. Go to Account Settings > General Settings > Profile Picture
3. Message says maximum file size supported is 1000 MB.

#### Expected behavior
Maximum file size supported should be way less than 1000 MB.

[2020-02-16 04:19] checkaayush commented on #13882
https://github.com/mattermost/mattermost-server/issues/13903

[2020-02-16 04:19] #13882 closed

[2020-02-16 07:56] ChrisDobby commented on #10163
Finally got around to creating a PR!

[2020-02-16 18:52] sowmiyamuthuraman commented on #13817
@hanzei the actions to update the pinned posts count when a post is pinned or unpinned are not implemented in `mattermost-redux`. Bcoz of that the count of the pinned posts is not reflecting the correct number as soon as the post is pinned or unpinned.shall I raise a PR for that referencing this issue?

[2020-02-16 19:20] sowmiyamuthuraman commented on #13817
@hanzei the redux actions to update the **pinnedpost_count** of **ChannelStats** when a post is pinned or unpinned are not implemented in `mattermost-redux`. Bcoz of that the count of the pinned posts are not reflecting the correct number as soon as the post is pinned or unpinned. shall I raise a PR for that referencing this issue?

[2020-02-17 02:14] silverskyvicto opened #26880 "[feature request] Bulk user/team operation."
There aren't feature below in `mmcli`.

1. Bulk user create
2. Bulk user delete
3. Bulk invite team members
4. Bulk rmove team members
5. Bulk create teams
6. Bulk delete teams

[2020-02-17 04:30] agnivade commented on #13797
Hi @elfshed - we already have a PR up for this https://github.com/mattermost/mattermost-server/pull/13884. It's set for the 5.21 release. Alternatively, you can also do a custom build once it gets in to master.

[2020-02-17 04:35] kdenz commented on #12017
Hey so sorry guys, I can finish it before february, guaranteed, is that okay? @enahum @jasonblais

[2020-02-17 05:37] karlmarxlopez commented on #13223
Hi @enahum , I'm working on this now.

I'm having a problem running it into my device, I pulled the upstream master into my PR branch and I'm a getting an Error on mattermost-redux, unable to resolve module.

What I've tried before running `make run-android`
1. Remove `node_modules` then run `make pre-run`
2. Cleaning android build

[2020-02-17 05:39] SimJoSt commented on #8931
@amyblais I have upgraded to 5.20.0 an the problem still persists.
As I said, it's not a Mattermost specific thing, but a macOS one. To right `ñ` and `ã` you would press `Option`/`alt`+`n` to get `~`. When the next letter is an `a` or an `n` without pressing the spacebar first, the `~` is converted to `ñ` or `ã` respectively.
If the issue is not clear, I'll gladly create a screen recording.

[2020-02-17 07:45] ChrisDobby commented on #13892
I'll take this if that's OK?

[2020-02-17 10:03] goodforever opened #13907 "make build Error"
flag provided but not defined: -trimpath
usage: go build [-o output] [-i] [build flags] [packages]
Run 'go help build' for details.
make: *** [build-linux] Error 2

[2020-02-17 13:11] mattermod commented on #13903
Thanks @checkaayush, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2020-02-17 13:29] fabio-boldrini opened #13908 "Wrong validation message when Bot username is absent"
### Description

I tried to create via REST a Bot without setting the username and I get an "Invalid email" error

Steps:

POST http://localhost:8065/api/v4/bots
`{"display_name":"Alfred","description":"CMS Automation"}`

And response is:

`{"id":"model.user.is_valid.email.app_error","message":"Invalid email","detailed_error":"","request_id":"4by66j8tcjfpmjn65sjjbrwn1y","status_code":400}`

Seem s

[2020-02-17 15:31] jasonblais commented on #12017
Hi @kdenz, sure thing, let's aim by end of February :)

[2020-02-17 19:04] rdsedmundo commented on #13590
I tried to work on this, created a custom slash command and returned a response with a relative path and it worked perfectly on the webapp. I'm not sure if I understood what is the expectation here.
![Uploading Screen Shot 2020-02-17 at 20.03.16.png…](Screenshot)

[2020-02-17 20:44] #12936 closed

[2020-02-17 22:30] #13319 closed

[2020-02-17 23:15] mattermod opened #13910 "Make docker-compose services optional and configurable"
Some services defined in docker-compose.yml are not required to setup/run the development environment. Ideally, we could disable them using some sort of configuration.

Examples:
- elasticsearch - If not using Elasticsearch features
- inbucket - If not using email features
- openldap - If not using LDAP features
- mysql/postgres - Enabling only the database type you are using

----
If you're inter

[2020-02-17 23:15] mickmister opened #13911 "Make docker-compose services optional and configurable"
Some services defined in docker-compose.yml are not required to setup/run the development environment. Ideally, we could disable them using some sort of configuration.

Examples:
elasticsearch - If not using Elasticsearch features
inbucket - If not using email features
openldap - If not using LDAP features
mysql/postgres - Enabling only the database type you are using

----
If you're interested pl

[2020-02-17 23:34] amyblais commented on #13907
@goodforever Would you be open to joining our community server's Developer channel and asking about this there? See: https://community.mattermost.com/core/channels/developers. One of our developers or other community members should be able to help you.

[2020-02-17 23:34] amyblais commented on #13908
@fabio-boldrini What Mattermost server version are you on?

[2020-02-18 07:08] mickmister commented on #13911
Dupe from mattermod's post

[2020-02-18 07:08] #13911 closed

[2020-02-18 09:18] nicgentile opened #13913 "Plugins won't start up"
#### Summary
Plugins won't start up

#### Steps to reproduce
Noticed my Mattermost instance had died, logged in to restart it, and then got an error about plugins not working.

Last night before I ended work, it was running fine.

Version  5.19.1

#### Expected behavior
Plugis are supposed to work.

#### Observed behavior (that appears unintentional)
Logged in today after noticing Mattermost was n

[2020-02-18 13:40] amyblais commented on #13913
@nicgentile Would you be able to help try if re-enabling plugins fixes the issue?

[2020-02-18 18:35] abimael-o-o commented on #13860
Hey can I take this?

[2020-02-18 18:44] srkgupta commented on #11572
https://github.com/mattermost/mattermost-webapp/pull/4815

[2020-02-18 18:44] #11572 closed

[2020-02-18 21:29] nicgentile commented on #13913
No. This did not work.

But this did.

Changed  "ClientDirectory": ./client/plugins", to  "ClientDirectory": "/opt/mattermost/client/plugins", and it went back to normal.

[2020-02-19 05:01] tharun208 commented on #12696
Hi @jasonblais, can the `GetPostsOptions type` can go very well go inside `post_list` model right ?

[2020-02-19 05:58] tomicakorac opened #13920 "App window is blank after startup - needs to be restarted to display interface"
#### Summary
If Mattermost App is set to auto-start when Windows starts, its window doesn't display interface or anything, it's just completely white. After restarting the app, it works fine.

#### Steps to reproduce
1. Install Mattermost app for Windows;
2. Set Mattermost app to start automatically when OS starts.

#### Expected behavior
App interface and content should be visible.

#### Observed

[2020-02-19 09:06] DVTrast opened #13922 "Unintended LDAP group sync with base dn missing"
#### Summary
The LDAP group sync is activated by itself(?!) and not successful due to missing base dn.

#### Steps to reproduce
Mattermost Server 5.18.1
Mattermost Server 5.19.0
Mattermost Server 5.20.1

Execute a ldap sync.

#### Expected behavior
No or a successful group sync.

#### Observed behavior (that appears unintentional)
I can not tell where the Group sync is coming from. All options for

[2020-02-19 09:29] jasonblais commented on #12696
I'm not sure actually - @iomodo or @hanzei  would you be open to help with the above?

[2020-02-19 10:14] BukkyOmo commented on #13910
Hello @mattermod, I would like to work on this task, could you assign it to me?

[2020-02-19 16:01] mthld opened #13924 "Properly delete an user from the server"
#### Summary
Actually a user account cannot be deleted.

#### Steps to reproduce
Create a user, try to delete it, you can't.

#### Expected behavior
It **must** be possible to completely delete an user from a Mattermost server.

#### Observed behavior (that appears unintentional)
It's very confusing to search between the numerous settings parameters, dark and complicated menus for the option and n

[2020-02-19 16:03] mthld commented on #13924
After some research I find it possible to do so through the command line tool: https://docs.mattermost.com/administration/command-line-tools.html

But obviously users & Mattermost admins don't have access to the server console.

[2020-02-19 16:05] fabio-boldrini commented on #13908
I use https://hub.docker.com/r/mattermost/mattermost-preview/ and this image seem to use mattermost-team-5.18.0-rc1-linux-amd64.tar.gz

[2020-02-19 18:40] amyblais commented on #13920
@tomicakorac What Windows version are you on? What Mattermost server version and desktop app versions are you on?

[2020-02-20 02:48] teyotan commented on #13899
Can I take this?

[2020-02-20 02:53] ali-farooq0 commented on #13899
You got it @teyotan! :)

[2020-02-20 03:14] hanzei commented on #13910
Thanks for taking a shot @BukkyOmo :+1:

[2020-02-20 03:33] hanzei commented on #13590
Hi @rdsedmundo,

Thanks for you interest in this issue. :+1:

"Relative URLs" in this context refer to relativ URLs that point to a plugin like `/plugins/github/some/path` not generic relative URLs. Does this make it more clear?

[2020-02-20 03:33] hanzei commented on #13590
Hi @rdsedmundo,

Thanks for you interest in this issue. :+1:

"Relative URLs" in this context refer to relativ URLs that point to a plugin like `/plugins/github/some/path` not generic relative URLs. Does this make it more clear?

[2020-02-20 04:08] hanzei commented on #13817
@sowmiyamuthuraman I have to admit that I don't know enough about redux to answer this question. @hmhealey can you please jump in?

[2020-02-20 04:39] #13724 closed

[2020-02-20 05:46] hanzei commented on #12696
@tharun208 Yes, that works :+1:

[2020-02-20 11:02] Arsaell commented on #13920
I encounter the same issue on linux (Debian 9 and Debian 10, Cinnamon DE).
It can also be fixed by clicking on "Settings" in the notification bar applet (the settings panel appears fine), and then exiting the settings. The app then reloads as in normal startup, and works fine from there.

[2020-02-20 17:10] rdsedmundo commented on #13590
I'm sorry, but no, this didn't help at all. From what I can tell I'm already able to set up a path in the format `/plugins/github/some/path`.

[2020-02-20 17:45] mattermod opened #13928 "Move `loadedPlugins` into redux-store"
Currently we store loaded webapp plugins in a global constant. Unfortunately that makes testing and managing it a lot harder. To address this, proposal is to create actions, reducer and other necessary entities to store loaded plugins in the redux-store and get rid of global `loadedPlugins` state.

`loadedPlugins` are located at [https://github.com/mattermost/mattermost-webapp/blob/master/plugins/

[2020-02-20 17:48] Ths2-9Y-LqJt6 commented on #13807
I'll take this one!

[2020-02-20 23:38] ami9000 commented on #13028
I can take this!

[2020-02-21 03:50] Bilb commented on #10125
Just got the same issue.
Can we reopen it?
Here are logs from both consoles:

[code]

[2020-02-21 07:36] BukkyOmo commented on #13910
@hanzei Thanks. On it

[2020-02-21 11:14] goodforever commented on #13907
need update to go.1.13

[2020-02-21 11:14] #13907 closed

[2020-02-21 12:31] tomicakorac commented on #13920
Windows 10 Enterprise version: 1890; OS build: 17763.1039
I am not sure about the Mattermost server version, I don't think I have access to that. My desktop app version is 4.3.1.

Also, I apologise if I've posted the issue in the wrong repository, this is where I was redirected from the Mattermost website issue reporting tool.

[2020-02-21 13:40] amyblais commented on #13920
@tomicakorac @Arsaell Would you be open to testing if v4.4.0 fixes the issue? You can download it via https://mattermost.com/download/#mattermostApps.

[2020-02-21 15:34] upwell opened #13931 "Return error in parseDSN func"
https://github.com/mattermost/mattermost-server/blob/17f2cd665dec34b96c8f980c0035d70b8f557109/config/database.go#L138-L144

I ran into this code snippet while checking error handling logic in mattermost-server. It looks like at L142, **an error is created but never handled or returned**. Is this by purpose or just a minor bug?

[2020-02-21 22:33] Arsaell commented on #13920
The problem is the same with the updated version 4.4

[2020-02-23 06:04] hanzei commented on #13590
Good catch, I didn't noticed this is already possible. A couple of edge cases that might not work yet are:
- `plugins/github/some/path` should also work
- If a [subpath](https://docs.mattermost.com/administration/config-settings.html#site-url) is used, `/plugins/github/some/path` should work
- If a [subpath](https://docs.mattermost.com/administration/config-settings.html#site-url) is used, `plugin

[2020-02-23 15:18] RajatVaryani commented on #13657
Folks, I will finish the PR in this week.

[2020-02-23 16:05] AlastairM-E commented on #13704
Hi, would I be able to claim this issue?

[2020-02-24 01:32] harshilsharma63 opened #13934 "Plugin helper function `EnsureBot` doesn't compare bot details"
#### Summary
Plugin helper function `EnsureBot` doesn't compare bot details and only checks if a bot already exists for the plugin. This causes `EnsureBot` to return invalid bot data when, for example, changing a bot username or trying to create multiple bots.

#### Steps to reproduce
1. Create a plugin that uses `EnsureBot` to create a bot with username `foo`.
1. Install and run this plugin to cr

[2020-02-24 07:00] pankajhirway commented on #13721
I would like to take this,

[2020-02-24 16:43] hiendinhngoc commented on #13695
can I take this?

[2020-02-24 23:35] corbolais commented on #2464
@Mattermost, effectively you created a software no-one may use commercially except you. Despite the open source code drama you created. There are natural use cases - even with licenses - one is not covered. Sick software looks like this. Expressly made to not live as OSS.

You could remove any disambiguity in the legalese to prove your true OSS commitment.

FWIW, I won't use mattermost not at all,

[2020-02-25 01:15] mattermod opened #13936 "Update Plugin example documentation"
Documentation for [https://developers.mattermost.com/extend/plugins/server/reference/#Examples.*helloWorld](https://developers.mattermost.com/extend/plugins/server/reference/#Examples._helloWorld] and [https://developers.mattermost.com/extend/plugins/server/reference/#Examples._helpPlugin|https://developers.mattermost.com/extend/plugins/server/reference/#Examples.*helpPlugin) is currently out of d

[2020-02-25 12:04] abdulsmapara commented on #13936
Interested in resolving the issue.

[2020-02-25 14:18] adbjo commented on #13690
Hello! We are group of CS students interested in solving this issue. Should be done by friday (28/2).

[2020-02-25 14:54] NinoCodebase opened #13937 "Invalid or expired session after changing Settings"
Hello,

I changed some settings in the system console, because i wanted to prevent users from being logged out after 30 days:

![image](https://user-images.githubusercontent.com/38004094/75258627-0d466300-57e7-11ea-893d-9df1920b1065.png)

Since then, users can no longer log in and receive the following message after login:
“Invalid or expired session, log in again.”

This is the error according co

[2020-02-25 14:57] mkraft opened #13938 "Centralize ID validation"
ID validation is done using disparate code throughout the Mattermost server code. We would like the validation to be centralized to a single function or method. Any instance of `len(foo) != 26` (etc) should be replaced with the centralized function/method.

Note that there is an existing function `model.IsValidId` which could either be used or be the basis for the solution.

----
If you're interes

[2020-02-25 16:11] theparad0x007 commented on #13222
No, I have not had the time - you can release it to someone else. I will
try again later. Thank you.

On Wed, Feb 12, 2020 at 5:33 AM Elias Nahum <notifications@github.com>
wrote:

[2020-02-25 18:14] amyblais opened #13939 "Mattermost v5.21"
You can find key dates for v5.21 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### February 28th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### March 12th: Release Build Cut
T

[2020-02-25 18:33] hmhealey commented on #13817
How are the other fields of the ChannelStats object (like the member count and guest count) updated? What you suggested makes sense to me unless we do something really different for the other fields.

[2020-02-25 18:48] amyblais commented on #13920
@tomicakorac Have you had a chance to test this on v4.4?

@Arsaell Would you be able to share your logs following these instructions: https://docs.mattermost.com/install/desktop.html#reporting-issues?

[2020-02-25 18:51] amyblais commented on #13924
@mthld The cli command that you posted above is the way to go if you want to permanently delete a user.

For any improvement suggestions, you can open an issue on our feature request forum here https://mattermost.uservoice.com/forums/306457-general.

[2020-02-25 19:03] sowmiyamuthuraman commented on #13817
@hmhealey other fields like member count are updated as soon as a member is added or removed from the channel. similarly, we can do for the pinned posts count also.

[2020-02-25 19:05] ali-farooq0 commented on #13934
Looks like this is indeed a bug in `helpers_bots.go`. And your suggestion should fix the underlying issue. Turning this into a help-wanted issue.

[2020-02-25 19:19] ali-farooq0 commented on #13934
On a second thought, i think this requires a bit more discussion as `EnsureBot` semantics only expects to create a bot not update it. So it is working as expected. Started a discussion [here](https://community-daily.mattermost.com/core/pl/5qbqyhfhaiykfczoswemtwrgzw) for further clarification.

[2020-02-25 19:27] ali-farooq0 commented on #13931
Good find @upwell! I believe that does look like a bug, that line should be returning an error. I believe that was updated as part of https://github.com/mattermost/mattermost-server/pull/12250/files

[2020-02-25 19:32] ali-farooq0 commented on #13931
Turning this into a help-wanted issue. @upwell will you be up for working on this issue before i make it available to public?

[2020-02-25 19:33] hmhealey commented on #13817
It looks like the member count is updated by requesting the latest channel stats when the app receives a websocket event that a user was added to the channel. [Here](https://github.com/mattermost/mattermost-webapp/blob/master/actions/websocket_actions.jsx#L689) is where the web app's websocket code does that and [here](https://github.com/mattermost/mattermost-redux/blob/master/src/actions/websocke

[2020-02-25 19:51] lieut-data opened #13940 "Extend plugin API to get/update/delete user preferences"
Extend the plugin API with the following:

[code]

----

If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please [join our "Developers" community channe

[2020-02-25 20:01] amyblais commented on #13922
@DVTrast Our devs took a look and said that this sounds like a bug, but they doubt that it's coming from LDAP Group Sync, since that is definitely guarded by a configuration check.

It would be great if you're able to share more details, including additional log info and configuration settings.

[2020-02-25 20:10] sbishel commented on #13922
Please obfuscate any sensitive information in the configuration file.

[2020-02-25 20:39] lieut-data commented on #13913
@nicgentile, the server needs write access to `/opt/mattermost/client/plugins` to unpack any webapp-related resources. I wonder if your working directory changed between your normal server startup process and when you restarted it -- that would explain the inability to find `./client/plugins` and thus finish starting plugins.

Switching to an absolute path definitely avoids this problem, but the r

[2020-02-25 20:54] lieut-data commented on #13908
Thanks, @fabio-boldrini! This is indeed a bug, caused by our initializing the backing user for this bot with a random username when one is not provided: https://github.com/mattermost/mattermost-server/blob/4587913b49d1516f37932153309ae7788ae86609/model/user.go#L325.

I don't think we can change this particular behaviour, but we could pre-flight an `IsValid` check on the `*model.Bot` at the start o

[2020-02-25 21:55] amyblais commented on #10125
@Bilb would you also be able to share what browser and computer OS you were using, so we can try reproducing it with a similar environment?

[2020-02-25 22:05] Ths2-9Y-LqJt6 commented on #13807
We should also update Account Settings -> Notifications -> Desktop Notifications.  Right now it says:

And with this change it should say:

As an aside, now that [Edge is actually Chromium](https://support.microsoft.com/en-us/help/4501095/download-the-new-microsoft-edge-based-on-chromium), I assume we should open a separate ticket on adding support for Edge?

@Willyfrog or @hmhealey  - as commente

[2020-02-25 22:14] Bilb commented on #10125
Linux Ubuntu 19.10
Firefox 73.0 (64-bit)

Tried using the monokai theme from https://docs.mattermost.com/help/settings/theme-colors.html#custom-theme-examples

[2020-02-25 22:41] Ths2-9Y-LqJt6 commented on #13807
Oh!! Interesting! There's conflict on what the message says:

[code]

So *both* `IE11` and `Edge` aren't uniformly mentioned.  Again, I know it's not this ticket, but I'm in there now so I wanted to flag it.

I'll work to update these i18n strings seperate from fixing IE11/Edge status ; )

[2020-02-26 04:08] RajatVaryani commented on #13938
@mkraft I would like to work on it. Few thoughts/questions brewing in my mind

- The bigger problem we are trying to solve is of the visibility of the function. The natural place I look for such methods is in `validations.go` or something on similar lines. However many of the validations methods are in [utils](https://github.com/mattermost/mattermost-server/blob/master/model/utils.go) which is an

[2020-02-26 06:36] #9506 closed

[2020-02-26 06:56] M-ZubairAhmed commented on #9506
yay its been an year since it was opened and finally completed :-D

[2020-02-26 07:50] DVTrast commented on #13922
The config.json is original. Our settings are in the config.env file.

Here is our configuration and the log:

Environment-Configuration:

MM_LDAPSETTINGS_BASEDN='dc=gv,dc=at'
MM_LDAPSETTINGS_BINDPASSWORD='xxxxx'
MM_LDAPSETTINGS_BINDUSERNAME='USER'
MM_LDAPSETTINGS_CONNECTIONSECURITY='TLS'
MM_LDAPSETTINGS_EMAILATTRIBUTE='mail'
MM_LDAPSETTINGS_ENABLE=true
MM_LDAPSETTINGS_ENABLESYNC=true
MM_LDAPSETTI

[2020-02-26 09:45] #13403 closed

[2020-02-26 10:03] Willyfrog commented on #13807
For the translation strings, my guess is that the translations are not updated. Not sure how to handle that.

New chromium based Edge should be tested and then decide on next steps for it.

And yes, text on settings should be changed to reflect current condition once there is a patch to fix it. The original PR was not accepted as the author didn't want to sign the CLA.

[2020-02-26 11:39] #13937 closed

[2020-02-26 12:41] sowmiyamuthuraman commented on #13817
@hmhealey I am referring something similar to [this](https://github.com/mattermost/mattermost-redux/blob/d5f581cfed3ffc273d0e7ca02663dd8fd6b8c241/src/actions/channels.ts#L1141). Doesn't it required for the pinned posts count?

[2020-02-26 13:16] NassimBounouas commented on #13940
Hi @lieut-data, I'm interested in working on this issue. I'll join the "Developers" community channel for my technical questions.

[2020-02-26 13:42] lieut-data commented on #13940
Thanks, @NassimBounouas!

[2020-02-26 14:16] mkraft commented on #13938
@RajatVaryani Yes that sounds good as long as you can put the validations there without dependency cycles.

[2020-02-26 18:11] #13028 closed

[2020-02-26 22:03] lieut-data opened #13945 "Add OnPluginStatusesChanged hook"
Add the following hook, emitted whenever we call App.notifyPluginStatusesChanged:

[code]

This hook event will not contain a payload: it is the responsibility of the plugin to fetch the plugin statuses so as to avoid race conditions with notifications going out. While this is currently possible via `GetPlugins` and a series of `GetPluginStatus` calls, let’s also add a plugin API method to streaml

[2020-02-26 22:08] sbishel commented on #13922
Could you turn on LDAP Tracing?
MM_LDAPSETTINGS_TRACE=true

I would be interested in the LDAP logs that appear after the line containing -
`current_phase="github.com/mattermost/mattermost-server/v5/enterprise/ldap.(*LdapSyncWorker).phase7GetLdapGroups-fm" workername=EnterpriseLdapSync`

[2020-02-26 23:40] #13872 closed

[2020-02-26 23:51] #9432 closed

[2020-02-27 00:20] #13260 closed

[2020-02-27 01:59] jasonblais commented on #13324
Thanks @allenlai18, all PRs now merged :tada:

[2020-02-27 01:59] #13307 closed

[2020-02-27 01:59] #13324 closed

[2020-02-27 02:02] joshuabezaleel commented on #13945
Hi @lieut-data , any pointer on which part of the codebase I can start reading if I am interested in this?
Thank you very much :slightly_smiling_face:

[2020-02-27 02:06] upwell commented on #13931
@ali-farooq0  Sure. I will work out a PR for this issue. Returning the error could fix this issue.

[2020-02-27 07:36] DVTrast commented on #13922
I turend on the LDAP tracing. Here is the log entry after the line which is mentioned in the command before:

Feb 27 08:26:50 server mattermost: {"level":"error","ts":1582788410.3669686,"caller":"mlog/log.go:174","msg":"Failed job","workername":"EnterpriseLdapSync","error":"LdapSession.getAllGroups: error retrieving ldap groups, LDAP Result Code 2 \"Protocol Error\": ","job_id":"d9naperzt3n58y43yf

[2020-02-27 13:13] mthld commented on #13924
Hi, I disagree on the "feature" definition, it's definitely a bug. The EU laws would say the same.
However I'll cast a vote on this third-party website, the bug is #1, hope it'll be resolved soon.

[2020-02-27 14:15] #13144 closed

[2020-02-27 15:02] NOP64 opened #13951 "Cannot close DM with myself"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-02-27 15:53] sbishel commented on #13922
I'm looking for the lines that contain "ldap-trace".
{"level":"error","ts":1582817979.548556,"caller":"log/log.go:172","msg":"ldap-trace: LDAP Request: (Universal, Constructed, Sequence and Sequence of) Len=159 \"<nil>\"\n MessageID: (Universal, Primitive, Integer) Len=1 \"2\"\n Search Request: (Application, Constructed, 0x03) Len=153 \"<nil>\"\n Base DN: (Universal, Primitive, Octet String) Len=2

[2020-02-27 16:31] lieut-data commented on #13945
Hey @joshuabezaleel! I don't know of a resource that explains the creation of apis and hooks for plugins, but I can point you at https://github.com/mattermost/mattermost-server/pull/13647 for an example of a recently added API method, and https://github.com/mattermost/mattermost-server/pull/10178 for a recently added hook.

If you're still interested, let me know!

[2020-02-27 16:43] lieut-data opened #13952 "Support different interactive message button styles on webapp"
To improve [Slack compatibility](https://api.slack.com/docs/message-buttons), support a new `color` field to style interactive buttons. This ticket captures the work required in the webapp, with support for the mobile app already supported by [https://github.com/mattermost/mattermost-mobile/pull/3896](https://github.com/mattermost/mattermost-mobile/pull/3896) .

----

If you're interested please c

[2020-02-27 16:48] neilharris123 opened #13953 "mattermost aws sdk and AWS Identity and Access Management OpenID Connect (OIDC) serviceaccounts"
I've been trying to authenticate to s3 storage via a EKS serviceaccount created via eksctl with the [OIDC feature ](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html)without success.

I discovered that its only possible to use these service accounts with certain SDKs as described [here](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles

[2020-02-27 17:30] tomicakorac commented on #13920
@amyblais I have. I'm not still sure of the result. To give the context, I have a VPN (company computer), so after startup I need to enter a password to connect to the internet. By the time I do, Mattermost is already up and displays the 'can't find the server' error. However as soon as I connected, the interface reloaded. This looks promising.

I'll re-test without VPN as soon as I reach my offic

[2020-02-27 18:09] amyblais commented on #13951
@NOP64 Are you able to close it after switching to another channel?

[2020-02-27 18:21] amyblais commented on #13951
Actually I opened a ticket for this here: https://mattermost.atlassian.net/browse/MM-22740.

[2020-02-28 07:03] tomicakorac commented on #13920
@amyblais 4.4.0 seems to have resolved this issue for me. Thanks for the assistance. I am going to close this thread now. @Arsaell can you please open a new issue for Linux client if you still need assistance?

[2020-02-28 07:03] #13920 closed

[2020-02-28 09:10] #13367 closed

[2020-02-28 10:10] joshuabezaleel commented on #13945
Hi @lieut-data , if it's okay with you I would like to ask a question.

What's the difference between the `GetPluginStatuses` API method that you proposed above and the one written [here](https://github.com/mattermost/mattermost-server/blob/master/app/plugin_statuses.go#L34-L52)?

Thank you! :slightly_smiling_face:

[2020-02-28 14:11] lieut-data commented on #13945
@joshuabezaleel, the one you linked to on the `App` structure will indeed be the implementation for the new plugin API, but it's just not currently exposed to plugins.

[2020-02-28 15:54] amyblais commented on #13880
We haven't received an updated for a while so I'll close this for now. Let me know if the above doesn't help,

[2020-02-28 15:54] #13880 closed

[2020-02-28 17:10] amyblais commented on #13924
A response from our Product Managers after reviewing https://gdpr-info.eu/art-17-gdpr/:

There is no indication that any functionality must be given to the user to delete their own account. As the controller of the data, the organization is responsible for complying to the user's requests to be erased. Our CLI command is the method for which users can be deleted by the admin of the organization. T

[2020-02-28 17:30] mattermod opened #13960 "RN: Navigation bar tucks under status bar when using photo or camera post icons in landscape"
Environment: 1.28 (build 262)
Not a regression, found on 1.26 and 1.27 when using + to add from camera and photo library

Steps:
1) Open the app
2) Rotate to landscape
3) Tap on Photos or Camera icon
4) Close without selecting a photo or taking one
5) Rotate to Portrait

Expected: Navigation bar below status

Actual: Navigation bar tucks under status.

----
If you're interested please comment here

[2020-02-28 17:30] mattermod opened #13961 "Improve gesture to dismiss opened image"
Repro:
1. Tap a photo or file in the post list to open the gallery view
2. Swipe down to dismiss (Native action that can be executed in the photos app for example)

Observed: Swipe down is very finicky and not sensitive enough, requiring many tries to actually dismiss the gallery view

<<sup>RPReplay_Final1579820264.MP4]

Expected: Mimic gesture from iOS photo gallery.

[</sup>RPReplay_Final157982

[2020-02-28 19:42] hmhealey commented on #13817
Oh yeah, it would be good to be clear that the pinned post count should be changed when you pin or unpin a post. You'll also need to add handing for the corresponding websocket event though since that handles when another user pins a post.

[2020-02-29 05:00] sowmiyamuthuraman commented on #13817
Thanks @hmhealey will do that!

[2020-02-29 09:54] avasconcelos114 commented on #13869
I'd like to take care of this one :)

I already started replacing the search bar with the one from `react-native-elements` after adding the library to the project

I was just wondering about whether there are any design specs that I could use to reference how to customize the library's search bar, so far I've been trying to follow the style of the previous hand-crafted one, but if there are any UI

[2020-02-29 17:41] ylluminate commented on #9464
@amyblais this has [continued to grow](https://mattermost.uservoice.com/forums/306457-general/suggestions/20081047-search-through-all-teams) to a lot of votes for a request functionality.

Have you seen / heard any other discussion of this? It's a super unfortunate lacking for Mattermost.

Can you or someone summarize what would need to be done to implement this?  I'm not sure if we have time to a

[2020-02-29 21:00] neilharris123 opened #13963 "Environment variables for nested dictionary values in config.json do not work"
I've been trying to add Mattermost environment variables for values in the "PluginSettings" section of the config.json file.
For example, in the following example, if I wanted to add a variable for encryptionkey so that it overrides the value in config.json, according to the logic in the documentation, I would need to add and environment variable with the name MM_PLUGINSETTINGS_PLUGINS_GITHUB_ENCR

[2020-02-29 22:43] luchaninov commented on #13879
It happens when you have users from external teams.

You can edit `users.json` and add missing users manually.
Unzip your Slack export file and parse unique users.

[code]

[2020-03-01 02:08] ami9000 commented on #13960
I can take this.

[2020-03-01 07:06] ami9000 commented on #13960
This issue can also be reproduced with the Take Photo/Photo Library picker for a user's profile picture in Landscape mode. I can include this in the scope in the upcoming PR as well if that makes sense.

[2020-03-01 13:24] teyotan opened #13964 "Plugin Marketplace API does not pass `page`, `per_page`, and `server_version` query parameters to Mattermost Marketplace service API"
#### Summary
Plugin Marketplace API does not pass `page`, `per_page`, and `server_version` query parameters to Mattermost Marketplace service API.

#### Steps to reproduce
Hit GET method for Plugin Marketplace API (/api/v4/plugins/marketplace) with varying `page`, `per_page`, and `server_version` query parameters, and the result won't change.

#### Expected behavior
Mattermost Server version: v5.2

[2020-03-01 17:41] AlastairM-E commented on #13704
I am really sorry, I don't think I can currently tackle the issue. I am unassigning myself. Sorry again.

[2020-03-02 03:14] someone-somenet-org opened #13968 "slack-compatibility-layer seems to break results of MM-only interactive-message-button response"
Turns out: What happened to slash command responses, #12702 happens to interactive message buttons too :/

So here we go again...

#### Summary
When replying `ephemeral_text` as a result of an interactive message button, the slack-compatibility-layer will break the result as same as slash command responses did: #12702

#### Steps to reproduce
1: create a message with a button.
``{"attachments":[{"

[2020-03-02 06:49] pallavisontakke opened #13970 "Not able to edit messages"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-02 06:52] pallavisontakke commented on #13970
My OS is macOS Catalina , Version 10.15.2

[2020-03-02 07:59] petercpg opened #13971 "Take full-width punctuation marks as boundary for hyperlinks"
#### Summary
For some languages, especially CJK, full-width punctuation marks are frequently used in messages mixed with half-width marks when the message contains Western languages. However only half-width symbol are detected as ending boundary correctly to generate hyperlink for URLs, When the link ends with a full-width symbol it was not considered as boundary, making the following characters i

[2020-03-02 09:26] torgeirl opened #13972 "Guest invite fails due to upper case in email"
#### Summary
Guest invite to team fails without further explanation if the guest's email contains upper case letters.

#### Steps to reproduce
Try to add a guest to a team with an email address containing at least one upper case letter.

#### Expected behavior
Either the casing to be ignored, or at least a message asking the email to be all lower case.

#### Possible fixes
Case sensitivity seems t

[2020-03-02 12:14] PhilippeAccorsi opened #13973 "admin invite user to team but member not seen team (redirect to this page /select_team )"
#### Summary

We have migrate from Mattermost 5.0 to 5.20.1 and when I invite user in my team, the user create his account and after that when he try to connect on my team, he seen all channel (2sec) and after that the page ` https://im.algoo.fr/select_team` and its just possible to create new team. If he click on back link (in top left of the page), login page is show 1sec and url come back here.

[2020-03-02 13:06] jasonblais commented on #12017
Hi @kdenz, have you had a chance to take a second look at this issue? If any questions, let us know!

[2020-03-02 13:15] PhilippeAccorsi commented on #13973
The member receive notification and after click on link, mattermost seem to be working. I don't understund what is going on (I have lost 2h to try restarting service, delete and recreate user, etc.).
If you don't have an idea about this bug you can close this issue.

[2020-03-02 13:35] amyblais commented on #13939
### v5.21 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.21.0-rc1/mattermost-team-5.21.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3398/files)

[2020-03-02 15:00] amyblais commented on #13972
This is scheduled for v5.21 release: https://mattermost.atlassian.net/browse/MM-22037.

[2020-03-02 15:00] #13972 closed

[2020-03-02 15:15] amyblais commented on #13970
@pallavisontakke Do you see any Mattermost log errors or any console errors?

[2020-03-02 15:45] ali-farooq0 commented on #13934
Confirmed that the semantics for `EnsureBot` should be of `CreateOrUpdate`. Turning this into a help-wanted.

[2020-03-02 15:47] ali-farooq0 commented on #13934
@harshilsharma63 did you want to work on this before i make it available to public?

[2020-03-02 16:10] #13835 closed

[2020-03-02 16:24] #13960 closed

[2020-03-02 16:32] amyblais commented on #13973
@philippe-granet

1. Is the team a public or a private team, or are there any domain restrictions?
You can check via "Team Settings > Allow anyone to join this team" and "Team Settings > Allow only users with a specific email domain to join this team".

2. Does the team have space for additional users? You can check via https://docs.mattermost.com/administration/config-settings.html#max-users-per-

[2020-03-02 16:32] amyblais commented on #13973
@PhilippeAccorsi ^ Sorry, at-mentioned a wrong user in my previous message.

[2020-03-02 19:22] #13936 closed

[2020-03-02 19:52] amyblais commented on #13968
Thanks for your interest in submitting a PR for this! I also opened a ticket for our dev team for tracking: https://mattermost.atlassian.net/browse/MM-22825.

[2020-03-02 19:55] Ths2-9Y-LqJt6 commented on #10702
Let's reduce technical debt! I'm looking to level up from my `Difficulty/1:Easy` tickets I've done to date: I'll take this one ;)

[2020-03-02 19:56] amyblais commented on #13964
@ali-farooq0 Do you know if this is a bug and if we can turn this into a Help Wanted?

[2020-03-02 20:10] lieut-data commented on #13963
Hi @neilharris123! Unfortunately, this is indeed a known limitation, and I agree it prevents best practices here. I thought we had a ticket tracking this, but couldn't find one, so created https://mattermost.atlassian.net/browse/MM-22831.

[2020-03-02 22:05] kosgrz commented on #13720
I can do this :)

[2020-03-02 23:33] jasonblais commented on #10702
Yay, thanks @Ths2-9Y-LqJt6! Let us know if you have any questions as you work through this ticket :)

[2020-03-03 02:02] someone-somenet-org commented on #13968
There you go :)

[2020-03-03 03:46] harshilsharma63 commented on #13934
@ali-farooq0 I can pick this up over the weekend.  Thanks!

[2020-03-03 03:53] nfjava opened #13977 "Where is the implementation of the ElasticsearchInterface class"
Mattermost is a particularly good software, I am learning the implementation inside, I did not find the implementation of the ElasticsearchInterface class in the source code, may I ask where this is?

![image](https://user-images.githubusercontent.com/6111534/75741465-9ad50600-5d45-11ea-90d6-f1f61abffb12.png)

[2020-03-03 04:28] pallavisontakke commented on #13970
This issue got fixed when I upgraded to the recent version 4.4

[2020-03-03 04:28] #13970 closed

[2020-03-03 05:28] agnivade commented on #13977
Hello @nfjava, unfortunately the implementation is not in our open-source version. It's in our enterprise layer.

[2020-03-03 05:55] nfjava commented on #13977
I see， thank you very much.

[2020-03-03 05:55] #13977 closed

[2020-03-03 08:26] PhilippeAccorsi commented on #13973
Team is available for all user whis account on us instance of mattermost, and we have no domain verification.

We just have 40 users but yesterday I change parameter to 500 (in console).

Today, when member try to access, problem appear again. But the member can access to the team if he use url like this `https://<mattermost_url>/landing#/algoo/`

All channel are private. Before upgrading to 5.20.

[2020-03-03 09:11] josephk96 commented on #13706
I'd like to work on this please!

[2020-03-03 09:31] PhilippeAccorsi commented on #13973
I see some other problem with my team. I can remove user from my team but after that Its impossible to add again this member on my team. No option permit to invite again. I don't see any option for an administrator to add member on team.

Maybe something going wrong when I have updated mattermost from 5.0 to 5.20.1 ?  Or missing something when upgrade?

[2020-03-03 09:37] MoonCactus commented on #13913
Just to chime in: got the same errors and @lieut-data fix worked for me as well (specify the absolute path in the config.json). I really did nothing special to this instance of mattermost, it was just installed as I always do in `/opt/mattermost`.

As such the service is started with a regular `service mattermost start`. I quite understand why it would complain when the cwd is wrong, but the sourc

[2020-03-03 10:22] pankajhirway commented on #13908
@lieut-data I would to take this, but have a question.

Why not handle this at the handler level ?

[2020-03-03 11:43] stefaneidelloth commented on #13973
We also had issues with invitation links. Don't know if its due to server or desktop app. As a workaround I could manually add new colleagues to the teams (Team Menu => Invite People => Invite People).

[2020-03-03 12:14] dansmithy commented on #10688
Is this fixed in Mattermost 5.18.0 ?

I'm seeing unexpected behavior that *might* be caused by the issue described here: interactive buttons/menus do not work in a direct message.

Using Chrome dev tools, I can see the webapp post to `http://localhost:8065/api/v4/posts/zcrco8hbppbutgyazoahngfgca/actions/tiprgoyh53fj3edmfi6q3thkye` and get back a response like this:

[code]

I would expect that eit

[2020-03-03 12:50] jasonblais commented on #10688
@dansmithy Are you open to creating a new GitHub issue for your issue report? Feel free to reference this issue (#10688) in your report.

cc @hanzei FYI

[2020-03-03 13:24] RajatVaryani commented on #13657
Folks, I won't be able to contribute. Please make it open to the public.

[2020-03-03 13:25] RajatVaryani commented on #13938
Folks, I won't be able to contribute. Please make it open to the public.

[2020-03-03 14:45] dansmithy opened #13980 "Interactive messages do not work in direct messages"
#### Summary
Interactive messages do not work in direct messages.

Note: This issue looks similar: https://github.com/mattermost/mattermost-server/issues/10688

#### Steps to reproduce
* Using version 5.18.0
* Use the REST API to post a direct message to a known user that contains an interactive element (either button or menu). This works. Example payload in JSON format:

[code]

* Using the webap

[2020-03-03 14:53] kdenz commented on #12017
@jasonblais Hey yes~ I'm working on a PR now! Sorry

[2020-03-03 15:27] arjitc opened #13981 "Find desktop / mobile version run by users connected to the server"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-03 15:29] arjitc opened #13982 "User Management User Status Filter for Member Missing"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-03 15:32] amyblais commented on #13973
@PhilippeAccorsi If all the channels are private, does that user have access to those channels?

[2020-03-03 15:48] PhilippeAccorsi commented on #13973
Yes after adding user in channel. But user can access to mattermost just if he used link available from email notification. Its not possible to use url like 40 other user used.

I have tested to invite another user (me for testing) in my team and its a same issue. All new user can't access correctly.

[2020-03-03 15:51] amyblais commented on #13982
@arjitc What server version are you on?

[2020-03-03 15:52] amyblais commented on #13973
@PhilippeAccorsi There are no server log errors or console errors?

[2020-03-03 15:55] amyblais commented on #13981
Thanks for bringing this up and this makes sense!
We have a ticket open here to address this https://mattermost.atlassian.net/browse/MM-21602.

[2020-03-03 16:01] amyblais commented on #13953
@neilharris123 Would you be open to posting this in the troubleshooting forum in case others have seen this issue: https://forum.mattermost.org/?

Other option is that you could join our [community server's Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) and one of our community members may be familiar with this issue.

[2020-03-03 16:03] amyblais commented on #13971
@hmhealey Do you know if there is a bug here?

[2020-03-03 16:06] PhilippeAccorsi commented on #13973
We have tested connection from login page and I can see that for this user in log of server
[code]

And in web page we seen that :
[code]

[code]

When user is connected in one firefox tab, if he open new tab and just give url https://<mattermost_url> connection not working but if he write https://<mattermost_url>/algoo its work.

But for other people giving https://<mattermost_url> make direct re

[2020-03-03 16:20] PhilippeAccorsi commented on #13973
I have also tested `./mattermost integrity --verbose` but I don't understund result and if its good or not. For exemple: `Found 147 records in relation Channels orphans of relation Teams` and
[code]

[2020-03-03 16:42] #13931 closed

[2020-03-03 16:43] PhilippeAccorsi commented on #13973
I think the issue is just because new user is not added to Town Sqaure (default channel), and I can't add member in this channel and I not seen where I can defined another default channel or just not activate this channel.

So when user try to login, mattermost try to open this channel, and its not possible because user is not member of this channel. So mettermost not permit to join the team direc

[2020-03-03 16:58] PhilippeAccorsi commented on #13973
I have find to add member in Town Square with this command `./mattermost channel add algoo:town-square <user_email>@algoo.fr <user_name>`, after this command Town Square says 12 member in this channel but if I count manually I seen 13 member in list of member. I think something going wrong with this channel.

[2020-03-03 17:24] PhilippeAccorsi commented on #13973
I have find an error since last update of mattermost. Service used by systemctl used platform instead of mattermost. I have changing this and now I can seen correct number of user in Town Square. So I need to make more test to be sure all working good now.

In upgrade documentation, I not have seen information about changing platform to mattermost in service config. (When I have installed mattermo

[2020-03-03 17:42] PhilippeAccorsi commented on #13973
So its not working (to invite new user in my team). I have tested in same time to add ExperimentalDefaultChannels with public channel => not working
User can access to this channel with `https://<mattermost_url>/algoo/channels/bac-a-sable` but without this explicit path, mattermost try to go in Town Square channel and just show message about no team available for user.

I don't have more idea.

[2020-03-03 18:16] jasonblais commented on #12017
Thanks @kdenz, looking forward to it! :tada:

[2020-03-03 18:26] arjitc commented on #13982
@amyblais I'm on,
Mattermost Version: 5.20.1
Database Schema Version: 5.20.0

[2020-03-03 18:30] mattermod opened #13983 "Mobile Accessibility: Header UI elements not accessible for screen readers on Android 7.1 using Talkback 6.2.0"
**Summary**
The header UI elements for the RHB, Channel Name, Search, and application menus are not labeled correctly for a screen reader.
Report: https://github.com/mattermost/mattermost-server/issues/9036

**Steps to Reproduce**
Use Android 7.1 and Talkback 6.2.0

**Expected Behavior**
Buttons is the channel header are labeled properly when using a screen reader:

Channel Drawer button: "Channel

[2020-03-03 18:45] mattermod opened #13984 "RN: Flag emojis not rendering in post draft textbox"
Type `:swit` in the  post draft textbox. Autocomplete correctly suggests `:switzerland:` as an emoji choice, with correct icon. Tapping that option inserts an erroneous icon instead of what was selected. See attached screenshot. ![](IMG_6026.PNG|thumbnail)

Likely problem with unicode mapping.

----
If you're interested please comment here and come [join our "Contributors" community channel](https

[2020-03-03 18:45] mattermod opened #13985 "Add permalink urls for DM messages to use `_redirect` on mobile"
This is to ticket to fix [https://mattermost.atlassian.net/browse/MM-22180](https://mattermost.atlassian.net/browse/MM-22180).

currently all permalinks have the format ``<server-url>/<team*name>/pl/<post_id>`` like ``https://community-release.mattermost.com/core/pl/n3mjx3m9eiyj5n4zx8yypqjbsewe`` for DM/GM’s we are introducing the format `<server-url>/_redirect/pl/<post_id>` like  ``https://commun

[2020-03-03 21:29] hanzei commented on #13980
Hi @dansmithy,

Thanks for the report. Could you double check that you are using 5.18? We fixed exactly this issue with https://github.com/mattermost/mattermost-server/pull/13248. Otherwise, could you please update to 5.20 and check again?

[2020-03-04 05:45] cometkim commented on #13721
Oh, sorry @pankajhirway, I was already working here https://github.com/mattermost/mattermost-webapp/pull/3648

[2020-03-04 07:23] pankajhirway commented on #13721
@cometkim oh ok, Please go ahead and assign it to yourself. I haven't started on it. Thank you for letting me know. :)

[2020-03-04 13:38] jespino opened #13995 "Document sql store 'SqlTeamStore' methods (Task 1)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2020-03-04 14:20] amyblais commented on #13973
@PhilippeAccorsi Have you had a chance to read through all the upgrade notes between v5.0 - 5.20 release https://docs.mattermost.com/administration/important-upgrade-notes.html? For example, it explains the move from platform binary to mattermost binary.

[2020-03-04 14:30] cometkim commented on #10629
I've been working with the emoji picker and found code that could be problematic and found this issue.

https://github.com/mattermost/mattermost-webapp/blob/9ef092541b/build/emoji/apple_emoji_extractor.rb#L31

Two problems:
- As reported in the issue, this code violates copyright because Apple did not license commercial use of that image resources.
- The build(`make emojis`) cannot be worked on no

[2020-03-04 14:31] PhilippeAccorsi commented on #13973
You are right, I have read this documentation many time but I have not understand correctly information about systemd :(

Today, the user can access directly on mattermost instance and to Town Square since I have added user manually in town square yesterday. So I need to test again to invite new user in mattermost to see if its working correctly or not.

[2020-03-04 16:00] mattermod opened #14001 "Document sql store 'SqlTeamStore' methods (Task 10)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.GroupSyncedTeamCount
- SqlTeamStore.InvalidateAllTeamIdsForUser
-

[2020-03-04 16:00] mattermod opened #14002 "Document sql store 'SqlTeamStore' methods (Task 9)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.UpdateLastTeamIconUpdate
- SqlTeamStore.UpdateMembersRole
- SqlTea

[2020-03-04 16:00] mattermod opened #14003 "Document sql store 'SqlTeamStore' methods (Task 8)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.GetTeamsForUserWithPagination
- SqlTeamStore.ClearCaches
- SqlTeam

[2020-03-04 16:00] mattermod opened #14004 "Document sql store 'SqlTeamStore' methods (Task 7)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.GetMembersByIds
- SqlTeamStore.GetMembers
- SqlTeamStore.GetMember

[2020-03-04 16:00] mattermod opened #14005 "Document sql store 'SqlTeamStore' methods (Task 6)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.PermanentDelete
- SqlTeamStore.RemoveAllMembersByTeam
- SqlTeamSto

[2020-03-04 16:00] mattermod opened #14006 "Document sql store 'SqlTeamStore' methods (Task 5)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.SearchAllPaged
- SqlTeamStore.SearchAll
- SqlTeamStore.SearchOpen

[2020-03-04 16:00] mattermod opened #14007 "Document sql store 'SqlTeamStore' methods (Task 4)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.GetByInviteId
- SqlTeamStore.GetByName
- SqlTeamStore.Get
- SqlTea

[2020-03-04 16:00] mattermod opened #14008 "Document sql store 'SqlTeamStore' methods (Task 3)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.GetAll
- SqlTeamStore.GetAllForExportAfter
- SqlTeamStore.GetAllPa

[2020-03-04 16:00] mattermod opened #14009 "Document sql store 'SqlTeamStore' methods (Task 2)"
We want to improve our internal API documentation using godoc to ease the
development process for everybody.

This `Help Wanted` issue is to add the documentation to the following methods
(file: <store/sqlstore/team*store.go>(https://github.com/mattermost/mattermost-server/tree/master/store/sqlstore/team*store.go)):

- SqlTeamStore.AnalyticsGetTeamCountForScheme
- SqlTeamStore.AnalyticsPrivateTeam

[2020-03-04 16:46] hiendinhngoc commented on #13689
Can I take this?

[2020-03-04 18:01] abdulsmapara commented on #13995
I am interested in learning to add documentation using godoc and complete this task.

[2020-03-04 18:33] jespino commented on #13995
Awesome! thanks @abdulsmapara! :tada:

[2020-03-04 18:49] saturninoabril commented on #13334
PR merged.  Closing.

[2020-03-04 18:49] #13334 closed

[2020-03-04 21:22] dansmithy commented on #13980
@hanzei Yes, using 5.18. Is 5.20 available as a Docker image? I was running the docker-preview build. Not sure how best to run 5.20, so grateful for any pointers.

[2020-03-04 21:26] amyblais commented on #13982
@arjitc Our team confirmed this is not a bug. Would you be open to creating a feature request issue for this?

[2020-03-04 23:00] kosgrz commented on #13952
I'd like to do it :)

[2020-03-05 00:41] dansmithy commented on #13980
@hanzei It does using with version 5.19.

Have managed to test and believe it is working correctly: payload arrives with an empty string for `team_id` and `team_domain`, but that makes sense given the context.

Thanks for getting back. Closing issue.

[2020-03-05 00:41] #13980 closed

[2020-03-05 02:52] #13722 closed

[2020-03-05 07:24] DVTrast commented on #13922
In which log can I find the entry "ldap-trace"? We can´t find it.

[2020-03-05 10:41] K1LLUM1N471 commented on #7300
Hello,
I just verified that the mixed content "bug" still exists in version 5.20.1.

I guess the easiest solution is to suppress the preview of previewable content whose url prefix is HTTP.

Kind regards,
K1LLUM1N471

[2020-03-05 13:47] #8665 closed

[2020-03-05 19:12] #13871 closed

[2020-03-06 15:00] Jeffreyjelly opened #14024 "Application hides behind the taskbar upon minimize to maximize with a left window taskbar."
1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://mattermost.atlassian.net/issues/) to ensure that the ticket does not already exist.
-doesn't exist
2. Confirm your issue does not involve security. Otherwise, please see our [Responsible Disclosure Policy](https://about.mattermost.com/report-security-issue/).
-doesn't involve

#### Summary
Features get hidden behind a

[2020-03-06 15:13] hmhealey commented on #13971
Yeah, this does appear to be a bug. GitHub even has the same issues with that text, although that makes sense since we've borrowed parts of this code from them in the past.

@petercpg Do you have a list of characters that you've seen this problem with? In your example above, I see `（`, `）`, `「`, `」`, and `，`.

[2020-03-06 15:28] #13807 closed

[2020-03-06 15:37] hmhealey commented on #7300
Hey @K1LLUM1N471. Do you have an image proxy enabled on your server? This warning will occur without one since the client has to load the image from the remote server directly.

[2020-03-06 15:47] amyblais commented on #14024
@Jeffreyjelly Would you be open to re-opening this in the desktop app repo https://github.com/mattermost/desktop/issues?

Also if you can include what server version you're on and any screenshots.

[2020-03-06 16:15] Jeffreyjelly commented on #14024
yeah, I just noticed it was in the wrong location. will do.

[2020-03-06 16:25] Jeffreyjelly commented on #14024
moved to https://github.com/mattermost/desktop/issues/1228

[2020-03-06 16:25] #14024 closed

[2020-03-06 17:04] alehuo opened #14025 "Bulk exporting Mattermost data doesn't export data stored in S3 bucket"
#### Summary

When bulk exporting Mattermost's data and importing it afterwards, Mattermost does not import attachments that are uploaded to an S3 bucket.

#### Steps to reproduce

I'm running Mattermost version 5.19.0.

1. Run `sudo ./mattermost export bulk file.json --all-teams`
2. Change your database configuration to reflect the new environment
3. Run `sudo ./mattermost import bulk file.json -

[2020-03-06 18:10] #13728 closed

[2020-03-07 09:17] Jacq commented on #78
Are you still using this?, have you try other OAuth similar integrations?

[2020-03-07 15:02] petercpg commented on #13971
Few more I can think of: `。？！『』【】《》〈〉–…：；〝〞～`. Note these are only characters daily used in my locale (zh-TW), there are more used in others regardless of the language itself.

[2020-03-07 15:07] petercpg commented on #13971
Just came to my mind that [Unicode range U+3000–303F: CJK Symbols and Punctuation](https://www.unicode.org/charts/PDF/U3000.pdf) should help - while I think some marks like`？`,`！` were considered as variation of their half-width relatives so were listed other ranges.

[2020-03-07 18:57] scottleedavis commented on #9283
plugin complete https://github.com/scottleedavis/mattermost-plugin-remind/

[2020-03-07 18:59] scottleedavis commented on #9196
I am unable to support continued Development and support of this repo https://github.com/scottleedavis/mattermost-firefox-extension

However I have given @hanzei access in case there are changes needed.

[2020-03-08 00:44] jasonblais commented on #9196
Thank you Scott!

@hanzei @aaronrothschild wondering if we should close the help wanted issue and have further development / reports done via https://github.com/scottleedavis/mattermost-firefox-extension?

[2020-03-09 06:30] nicgentile commented on #13913
Since this is fixed for me, closed. Hopefully the necessary fixes will be applied in the next release.

[2020-03-09 06:30] #13913 closed

[2020-03-09 08:55] hanzei commented on #9196
:+1: I think we can close this issue. @aaronrothschild What do you think about listing the extension at https://integrations.mattermost.com/ ?

[2020-03-09 11:27] Selion05 opened #14027 "Pasting some images in Firefox also adds the file as random text"
#### Summary
Pasting an image also adds the file as text in firefox

#### Steps to reproduce
Mattermost Version: 5.20.1
OS: Manjaro 19.0.2 Kyria
Kernel: x86_64 Linux 5.5.7-1-MANJARO
firefox: Mozilla Firefox 73.0.1

Paste an image in firefox (chrome works)

e.g I use  a script for screenshots
[code]

#### Expected behavior

#### Observed behavior (that appears unintentional)
![image](https://user-i

[2020-03-09 12:13] shibasisp commented on #13938
If no one is working on this, I would like to pick this up!

[2020-03-09 14:13] #13995 closed

[2020-03-09 14:58] amyblais commented on #14025
@grundleborg Would Platform team know if there is a bug here?

[2020-03-09 16:00] mattermod opened #14029 "Add automatic lazy loading of syntax highlighting libraries"
Currently, all of the supported syntax highlighting languages are manually included as part of JS bundle for the web app. If we were to lazy load those, it would reduce the size of the initial JS bundle, and it would allow us to enable all languages supported by highlight.js instead of the subset that we've decided to support.

For example, if a user posts Java code, the part of highlight.js that

[2020-03-09 16:35] lieut-data commented on #13657
Appreciate your efforts, @RajatVaryani!

[2020-03-09 16:46] lieut-data commented on #13908
Thanks, @pankajhirway! One reason to handle this in the `App` layer is that we have multiple entry points for `CreateBot` -- it can be done via the REST `api4` package, but also via the `plugin` package and API.

[2020-03-09 18:13] jespino commented on #14025
@amyblais was design in that way, because this is a CLI tool, the output was expected to be there as a file, wasn't expected to be published to the same file storage used by the application. Said that, maybe @wiersgallak can think about it an see how to make it work without breaking backward compatibility.

[2020-03-09 18:22] jespino commented on #11440
@AGMETEOR Sorry for the super super super late reply about this. The idea is to migrate this only for the webapp part, so I don't see the need of the changes in the mattermost-redux repo.

My proposal would be migrate what are utility functions to `utils/diagnostics.tsx` and migrate the actions to something like your `trackEvent` action function proposal.

[2020-03-09 18:23] jespino commented on #11323
@wiersgallak gentle reminder

[2020-03-09 18:27] AGMETEOR commented on #11440
@jespino thanks a lot. I have forgotten about this issue. Will try working on it again.

[2020-03-09 18:52] jespino commented on #11440
@AGMETEOR Thanks! and sorry again about the delay.

[2020-03-09 20:07] ethervoid commented on #13808
@mulderbaba Merged [here](https://github.com/mattermost/mattermost-server/commit/c8a923d9e3fe039a5239aaa9a990ef4a02a686a5). In the next version, 5.22, will be available.

[2020-03-09 20:07] #13808 closed

[2020-03-09 21:42] 7mioda commented on #14029
Hello, I am interrested , I can help

[2020-03-09 22:08] hanzei commented on #9283
Closing this one. https://github.com/scottleedavis/mattermost-plugin-remind/ is on a good way. Thanks for the great work @scottleedavis :rocket:

[2020-03-09 22:08] #9283 closed

[2020-03-10 11:41] #13588 closed

[2020-03-10 12:52] amyblais commented on #14027
@Selion05 Does this only happen when you use a script? Does this happen with all file types?

[2020-03-10 13:24] Jeffreyjelly opened #14035 "Permalink in private chat while in a team that someone doesn't have access to doesn't allow them to click the permalink"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-10 14:17] amyblais commented on #14035
We have a ticket open for this here: https://mattermost.atlassian.net/browse/MM-22476.

[2020-03-10 15:34] #11777 closed

[2020-03-10 16:00] mattermod opened #14037 "Desktop: Font rendering is not using subpixel rendering (on Linux)"
Original report: https://github.com/mattermost/desktop/issues/1207

**Summary**
Mattermost desktop is not enabling subpixel rendering and so fonts look fuzzy compared to other applications.

**Environment**
Operating System: Debian Linux
Mattermost Desktop App version: 4.4.0
Mattermost Server version: 5.20.1

**Expected behavior**
See crisp subpixel rendered fonts.

**Observed behavior**
See blurr

[2020-03-10 16:37] lieut-data commented on #13964
@teyotan, thanks for the report! At this point in time, the behaviour is intentional: while the marketplace API supports paging, we intentionally fetch the entire set of plugins and page internally given the need to merge locally installed plugins and support our own paging strategy for results we display in the webapp.

We made the marketplace flexible enough to support other types of clients, bu

[2020-03-10 16:37] #13964 closed

[2020-03-10 17:54] wiersgallak commented on #14025
We've created https://mattermost.atlassian.net/browse/MM-23169 as a follow-up ticket to improve the functionality based on this report.

[2020-03-10 19:15] mattermod opened #14038 "Access recent reactions from the long press menu"
Above the first row in the long press menu, add a row of emojis to select reactions, with a button to access more:

Functional Notes:

  * Remove the reaction row in the long press menu
  * Show 5 reactions, in the order of recently used, then a button to open the normal emoji picker.
  * If there are no recently used emoji, show these:
  * Slot 1: thumbs up
  * Slot 2: Smile
  * Slot 3: Green Che

[2020-03-10 21:18] hmhealey commented on #13971
Thanks, we'll have to take a look at that. I've filed a Jira ticket for us to follow up on it and prioritize accordingly.

https://mattermost.atlassian.net/browse/MM-23180

[2020-03-10 21:44] hmhealey commented on #14029
Awesome! Let me know if you have any questions.

[2020-03-11 10:28] #13720 closed

[2020-03-11 10:45] mattermod opened #14040 "Convert tests in model/search_params_test.go into table testing"
Convert tests in model/search*params*test.go into table testing.

As an example you can use the already existing table testing tests in the
same file. If you need to know more about table testing, you can take a look
to the following document https://github.com/golang/go/wiki/TableDrivenTests.

----
If you're interested please comment here and come [join our "Contributors" community channel](https

[2020-03-11 10:50] #13742 closed

[2020-03-11 12:59] #13951 closed

[2020-03-11 13:03] amyblais commented on #13843
@taihen Have you had a chance to test this on v5.20.0?

[2020-03-11 13:05] amyblais commented on #13667
This is scheduled to be fixed in v5.21.

[2020-03-11 13:05] #13667 closed

[2020-03-11 13:13] amyblais commented on #13883
I'll close this for now as we haven't received additional information for a while. Please re-open this issue if the problem persists with relevant additional information,

[2020-03-11 13:13] #13883 closed

[2020-03-11 13:28] bpauquette opened #14041 "Desktop notifications not working in Windows 10"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-11 13:58] amyblais commented on #14041
@bpauquette Would you be open to re-opening this issue in the desktop repo https://github.com/mattermost/desktop/issues?
Also, please add details about your desktop app version.

[2020-03-11 16:16] #13899 closed

[2020-03-12 10:43] tomasmik commented on #14040
Let's go. I'm ready!

[2020-03-12 12:03] jespino commented on #14040
@tomasmik Awesome! thanks! :tada:

[2020-03-12 12:06] amyblais commented on #13922
@DVTrast Do you mean that LDAP Group Sync is running even though you don't seem to have it configured on your instance under System Console > Groups (Beta)?

The ldap-trace should be in mattermost.log if you have the setting enabled.

[2020-03-12 14:40] lieut-data commented on #13742
Thanks again, @agarciamontoro :)

[2020-03-12 14:55] kariesta opened #14046 "collapse large comments"
writing a large comment can overshadow other comments and sometimes you don't want to add it as a textfile, because it needs to be read.
It would be helpfull if we could collapse any text over, lets say, 10 lines to only show the first 2-3 lines when collapsed.

[2020-03-12 17:06] mattermod commented on #14046
Thanks @kariesta, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to thi

[2020-03-12 18:49] Ths2-9Y-LqJt6 commented on #10702
Still planning on working on this, but my other ticket which was almost done required me to learn how to write e2e cypress tests (fun \o/ !).  I'll head over here when I'm done w/ that!

[2020-03-12 18:59] jasonblais commented on #10702
Thanks for the update @Ths2-9Y-LqJt6! Sounds good :_

[2020-03-12 22:52] shubb30 commented on #13274
I don't know if it is the same issue, but I am getting the same 403 error when I try to just post a message via the API.

I was trying to follow the directions from https://docs.mattermost.com/developer/bot-accounts.html, and I got the same 403 error.

I then tried logging into the API as my user (which is a system-admin), and I get the same response.

Both my user and the bot account are members

[2020-03-13 01:07] #13333 closed

[2020-03-13 08:07] DVTrast commented on #13922
Yes correct. Under System Console > Groups (Beta) we have no groups configured.

[2020-03-13 09:55] Bissel opened #14051 "Minimized App-Window has new position on reopen"
#### Summary
After minimize or close the app-window, a reopen positions the window at the most top-left (in the screen space).

#### Steps to reproduce
I am using
Mattermost Version: 5.20.1
Database Schema Version: 5.20.0
on Linux Mint 19 Cinnamon (3.8.9) with Linux-Kernel 5.0.0-16

#### Expected behavior
The application window should be opened at the same position it was minimized or closed.

###

[2020-03-13 10:18] agnivade commented on #13879
Thanks @mmohsenz. Your fix looks reasonable. I will be sending a PR soon.

[2020-03-13 12:27] fedealconada commented on #14040
Are you working on this @tomasmik ?

[2020-03-13 12:49] #13939 closed

[2020-03-13 13:04] tomasmik commented on #14040
Yes, half way done.

[2020-03-13 13:13] amyblais commented on #14051
Closing as a duplicate of https://github.com/mattermost/desktop/issues/1225.

We have a ticket to investigate this here: https://mattermost.atlassian.net/browse/MM-23195.

[2020-03-13 13:13] #14051 closed

[2020-03-13 14:03] alerque opened #14052 "5.21.0 won't build without makefile patch"
Testing the recently tagged 5.21.0 release I'm having trouble building normally.

[code]

I gather the build wants something like this (but just this simple start this doesn't actually build):

[code]

Is this something than needs to be fixed in the packaging or is there a perhaps a caching problem with go having stashed something with builds from previous versions?

[2020-03-13 14:21] agnivade commented on #14052
This is a new feature with Go 1.14 that verifies the modules.txt in vendor mode. Can you try with master ? I remember fixing this.

[2020-03-13 14:29] alerque commented on #14052
@agnivade Maybe, I'll give it a shot.

[2020-03-13 14:34] amyblais commented on #13922
@DVTrast Would you be open to enabling that setting? Please see https://docs.mattermost.com/deployment/ldap-group-sync.html#enabling-ad-ldap-group-synchronization.

[2020-03-13 14:45] amyblais commented on #14052
@agnivade Do we know if this is something concerning that also needs to be fixed for v5.21? Is there a PR / Jira ticket I can reference?

[2020-03-13 15:05] alerque commented on #14052
@agnivade It seems like I can build `master` normally, so yes this got fixed somewhere between the 5.21.0 tag and `HEAD`.

Might I suggest an urgent dot-release to account for this? It's going to be a blocker for Arch Linux packaging (which is what I was working on when I bumped into this) or at least require backporting whatever patches fixed it in order to release 5.21.

[2020-03-13 15:30] agnivade commented on #14052
I didn't realise Arch Linux has their own packaging for Mattermost. Is it a strict policy to build it always with the latest Go release ? FWIW, we haven't shifted our build pipelines to use 1.14 yet. Normal users can anyways get the 5.21 release from our servers.

In any case, I will leave the backport decision to @amyblais.

[2020-03-13 15:43] alerque commented on #14052
@agnivade Arch Linux has had [packaging for Mattermost in AUR](https://aur.archlinux.org/packages/mattermost/) (Arch User Repository) since 0.6.0 and I would wager it is far more common to use this packaging that the "standard" upstream releases. There has been talk for a while now about moving it into the pre-built [community] package repository but that has been held up on some small issues.

Ye

[2020-03-13 15:55] agnivade commented on #14052
Thanks for the info ! Sorry if I implied users of distro packages as "abnormal", that wasn't my intention :) That is something I am very passionate about. From my knowledge of https://github.com/mattermost/mattermost-server/issues/4176, I just assumed that there was no distro packaging anywhere. Pardon my ignorance.

[2020-03-13 16:18] alerque commented on #14052
@agnivade Roger that.

Arch & Debian kind of come at this from opposite ends. The Debian philosophy is typically to cater to the _lowest_ common denominator. This gets aggravated even farther in Ubuntu because it is technically downstream of Debian plus they have LTS cycles. The net effect cat be some staggeringly old libraries that don't get updating because they would break some other old softwa

[2020-03-13 20:30] mattermod opened #14055 "Add a toolip to the add reaction button"
Observed: No tooltip when hovering on the button
 ![](image-2020-03-02-15-33-02-366.png|thumbnail)

Expected: Tooltip that states "Add reaction"

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermos

[2020-03-13 20:45] mattermod opened #14056 "No tooltip on the expand/close sidebar buttons in the RHS"
Expected:

 ![](screenshot-1.png|thumbnail)

Expand/Collapse button tooltip: "Expand Sidebar" when the sidebar is collapsed or "Collapse Sidebar" if the sidebar is expanded at the time.
Close button tooltip: "Close"

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, w

[2020-03-14 02:19] hiendinhngoc commented on #13688
I will take this task.

[2020-03-14 13:59] alerque commented on #14052
@agnivade On the subject of "no distro packaging anywhere", Arch is not even the only distro with packaging. You can find a partial list on [repology](https://repology.org/project/mattermost/versions). Notably several BSD sources seem to have pretty up to date packaging and all the other *nix options are surprising current. Mac (Homebrew) and Windows (Scoop) packaging seems to have fallen behind.

[2020-03-14 16:29] #13269 closed

[2020-03-16 08:00] haydenmc opened #14063 "24-hour timestamps are presented incorrectly, reporting `24:xx` at 12am instead of `00:xx`."
#### Summary
When sending messages recently at 12am, I notice time stamps of `24:xx` when they should be `00:xx`.
![image](https://user-images.githubusercontent.com/5422053/76734544-676c8100-6720-11ea-9ecb-55bc6d9c2cad.png)

#### Steps to reproduce
Version information:
[code]
Browser:
[code]

1. Open Mattermost web app
2. In `Account Settings` under `Display`, set `Clock Display` to `24-hour clock

[2020-03-16 11:19] larkox commented on #6123
Should we close this Issue for the same reasons as the PR? Or will you prefer to keep it open?

[2020-03-16 11:23] larkox commented on #13515
PR Merged

[2020-03-16 12:39] amyblais commented on #14063
There is a ticket open for this here: https://mattermost.atlassian.net/browse/MM-22595.

[2020-03-16 14:24] DVTrast commented on #13922
@amyblais Thank you - the problem is solved.

[2020-03-16 16:18] esethna commented on #6123
Thanks, yes we should close as per PR conversation: https://github.com/mattermost/mattermost-webapp/pull/4552#issuecomment-591135551

[2020-03-16 16:18] #6123 closed

[2020-03-16 16:22] #13879 closed

[2020-03-16 17:47] saturninoabril opened #14069 "Cypress test: "Inline markdown image that is a link, opens the link""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Inline markdown image that is a link, opens the link

**Steps:**
1. Make sure your markdown preview is enabled (Account Settings > Advanced > Preview pre-release features > Show markdown preview option in message input box = Yes)
2. Post the following in a te

[2020-03-16 17:47] saturninoabril opened #14070 "Cypress test: "Inline markdown images open preview window""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Inline markdown images open preview window

**Steps:**
1. Make sure your markdown preview is enabled (Account Settings > Advanced > Preview pre-release features > Show markdown preview option in message input box = Yes)
2. Post the following in a test channel

[2020-03-16 17:47] saturninoabril opened #14071 "Cypress test: "Autocomplete highlight should follow mouse hover""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Autocomplete highlight should follow mouse hover

**Steps:**
1. In both the center channel and RHS message input boxes, type `~` and then `@`
2. Hover your mouse over the suggestions half-way down the list then use your up/down arrow to navigate
3. In the Sea

[2020-03-16 17:47] saturninoabril opened #14072 "Cypress test: "RHS reply thread doesn't scroll down after receiving a new message""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** RHS reply thread doesn't scroll down after receiving a new message

**Steps:**
1. Post a message in a channel
2. Post enough replies to that message so that the right-hand side is scrollable
3. On the right-hand side reply thread, scroll to the top of the thr

[2020-03-16 17:47] saturninoabril opened #14073 "Cypress test: "Flagged parent post: reply count remains in center channel and is correct""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Flagged parent post:  reply count remains in center channel and is correct

**Steps:**
1. Using two test accounts, create a conversation of a parent post and 5 or so replies (or use conversation created above)
2. From the center channel, flag the parent post

[2020-03-16 17:47] saturninoabril opened #14074 "Cypress test: "Autocomplete should match entries with spaces""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Autocomplete should match entries with spaces

**Steps:**
1. Create a channel with the name e.g. Ask Anything
2. Add channel purpose e.g for asking any questions
3. Navigate to any channel and type ~for asking
4. Repeat the steps using @ name last name e.g. @

[2020-03-16 17:47] saturninoabril opened #14075 "Cypress test: "Typing should show up right away when editing a message using the up arrow""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Typing should show up right away when editing a message using the up arrow

**Steps:**
1. Post a message
2. Hit the up arrow to open the "edit modal"
3. Begin typing straight away as quickly as you can

**Expected:**
There is no delay in letters appearing in

[2020-03-16 17:47] saturninoabril opened #14076 "Cypress test: "Correct Spacing between Emojis""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Correct Spacing between Emojis

**Steps:**
1. Add a variety of built-in emoji and custom emoji to the same post. Ensure at least 20 different emoji are selected.
2. Check if the emojis are stacked up with equal spaces and are lined up properly.

**Expected:**

[2020-03-16 17:47] saturninoabril opened #14077 "Cypress test: "Wide table with email addresses does not wrap each letter of the email address""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Wide table with email addresses does not wrap each letter of the email address

**Steps:**
1. Post the text in the attached note
2. Click reply to open the table in the RHS
3. Observe in both center and RHS

**Expected:**
Table is scrollable horizontally, can

[2020-03-16 17:47] saturninoabril opened #14078 "Cypress test: "CTRL/CMD+K - Open private channel using arrow keys and Enter""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** CTRL/CMD+K - Open private channel using arrow keys and Enter

**Steps:**
1. Press CTRL+K (Windows) or CMD+K (Mac)
2. Type the first letter of a private channel in the "Switch Channels" modal message box
3. Use up/down arrow keys to highlight a private channel

[2020-03-16 17:47] saturninoabril opened #14079 "Cypress test: "Selecting an emoji from emoji picker should insert it at the cursor position""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Selecting an emoji from emoji picker should insert it at the cursor position

**Steps:**
1. Write some text in the send box of the channel (or RHS Thread)
2. Move the cursor to the middle of the text
3. Select an emoji from the emoji picker
4. Hit enter

**Ex

[2020-03-16 17:47] saturninoabril opened #14080 "Cypress test: "CTRL/CMD+K - Find GM by matching username, full name, or nickname, even if that name isn't displayed""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** CTRL/CMD+K - Find GM by matching username, full name, or nickname, even if that name isn't displayed

**Steps:**
1. Ensure there is a GM open that includes at least one user with full name and nickname set
2. Press CTRL+K (Windows) or CMD+K (Mac)
3. Depending

[2020-03-16 17:47] saturninoabril opened #14081 "Cypress test: "Focus remains in the RHS text box""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Focus remains in the RHS text box

**Steps:**
1) Log into webapp
2) Open reply thread (RHS) on any post
3) Add some text to RHS text box
4) Click on Preview
5) Click on Add Comment
6) Start typing again

**Expected:**
Focus to remain in the RHS text box

**Te

[2020-03-16 17:47] saturninoabril opened #14082 "Cypress test: "CTRL/CMD+K - Open DM using mouse""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** CTRL/CMD+K - Open DM using mouse

**Steps:**
1. Press CTRL+K (Windows) or CMD+K (Mac)
2. Type the first letter of another user's username (who you don't already have a DM channel open with, but who you can log in as) in the "Switch Channels" modal message box

[2020-03-16 17:47] saturninoabril opened #14083 "Cypress test: "Permalink - Dark theme: Doesn't flash light screen as it opens permalink from search RHS""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Permalink - Dark theme: Doesn't flash light screen as it opens permalink from search RHS

**Steps:**
Test on dark theme:
1. Search for a term that you know will have results (such as `test`)
2. In search results RHS, click Jump next to one of the results

**E

[2020-03-16 17:47] saturninoabril opened #14084 "Cypress test: "Pinned parent post: reply count remains in center channel and is correct""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Pinned parent post: reply count remains in center channel and is correct

**Steps:**
1. Using two test accounts, create a conversation of a parent post and 5 or so replies
2. From the center channel, pin the parent post to the channel

**Expected:**
Reply cou

[2020-03-16 17:47] saturninoabril opened #14085 "Cypress test: "Emoji characters followed by punctuation""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Emoji characters followed by punctuation

**Steps:**
1. Post emoji characters of ":)" followed by "=" without space in between

**Expected:**
Should render smiling face emoji with "=" next to it

**Test Key:** M23360

**Test Folder:** `/cypress/integration/me

[2020-03-16 17:47] saturninoabril opened #14086 "Cypress test: "Draft with only 2 byte characters shouldn't remain after posting""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Draft with only 2 byte characters shouldn't remain after posting

**Steps:**
1. Select 2-Set Korean keyboard
2. Press g b
3. Hit enter, observe message posts
4. Switch channels
5. Observe that there is not a draft icon next to the channel you just posted in a

[2020-03-16 17:47] saturninoabril opened #14087 "Cypress test: "Deactivated users are not shown in Direct Messages modal""
See our [end-to-end testing documentation](https://developers.mattermost.com/contribute/webapp/end-to-end-tests/) for reference.

**Title:** Deactivated users are not shown in Direct Messages modal

**Steps:**
1. Click on the "+" symbol beside the DIRECT MESSAGES menu on the left hand side.
2. Observe the list in the Direct Messages modal.

**Expected:**
Deactivated users are not listed

Note: Dea

[2020-03-16 18:44] wiersgallak commented on #11323
Closing this issue until we can get more direction on the UX for this.

[2020-03-16 18:44] #11323 closed

[2020-03-16 20:00] justinegeffen opened #14089 "Documentation needed: Errors in production docker install"
1. [https://github.com/mattermost/docs/blob/master/source/install/prod-docker.rst#L73-L77](https://github.com/mattermost/docs/blob/master/source/install/prod-docker.rst#L73-L77)
2. This turorial point is inccorect [docker-compose.yml](https://github.com/mattermost/mattermost-docker/blob/master/docker-compose.yml) no longer contains dockerfile: Dockerfile-enterprise
3. The tutorial contains no advi

[2020-03-16 20:00] #13993 closed

[2020-03-16 20:01] justinegeffen opened #14090 "Expand Jobs Server Documentation"
The [Jobs server section](https://docs.mattermost.com/administration/config-settings.html#jobs) should be expanded to include details like the following:

- How to set up a Mattermost server as a worker
- The circumstances where you'd need a worker server as opposed to using all servers as both application and workers

Original issue: https://github.com/mattermost/mattermost-server/issues/13992.

[2020-03-16 20:02] justinegeffen commented on #14090
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that needs to be updated is located here: https://docs.mattermost.com/administration/config-settings.html#jobs. The original submitter of this issue (@icelander) may have additional links and content available.

- If you're a new contributor take a look through the [Technical Wr

[2020-03-16 20:03] justinegeffen commented on #14089
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that needs to be updated is located here: [https://docs.mattermost.com/install/prod-docker.html](https://docs.mattermost.com/install/prod-docker.html). The submitter of this issue ([@HarvsG](https://github.com/HarvsG)) may have additional links and content available.

- If you'r

[2020-03-16 20:04] #13992 closed

[2020-03-16 20:06] justinegeffen opened #14091 "Google+ API is being deprecated"
Our [Google SSO Docs](https://docs.mattermost.com/deployment/sso-google.html) include instructions to use the Google+ API, which has been deprecated.

Possible Solutions:

- Use [Google SAML SSO](https://support.google.com/a/answer/6262818?hl=en)
- Use [Google Identity Platform](https://developers.google.com/identity/)

Related ticket: https://mattermost.atlassian.net/browse/MM-14874.

Original ti

[2020-03-16 20:06] justinegeffen commented on #14091
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that needs to be updated is located here: https://docs.mattermost.com/deployment/sso-google.html. The submitter of this issue (@icelander) may have additional links and content available.

- If you're a new contributor take a look through the [Technical Writing Handbook](https:/

[2020-03-16 20:06] #13991 closed

[2020-03-16 20:07] justinegeffen opened #14092 "Request for Documentation: Instructions for how to verify your TLS certificates are compatible with iOS 13/macOS 10.15"
Apple is changing requirements for their certs, so customers will need to verify them. Below is the proposed text:

---

# Verifying SSL Certificates for iOS 13 and macOS 10.15
[Apple is making the requirements for valid TLS certificates stricter in iOS 13 and macOS 10.15.](https://support.apple.com/en-us/HT210176) The key changes are:

 - TLS certificates and the issuing CAs using RSA must have m

[2020-03-16 20:08] justinegeffen commented on #14092
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The submitter of this issue (@icelander) can confirm the pages that need to be updated.

- If you're a new contributor take a look through the [Technical Writing Handbook](https://handbook.mattermost.com/operations/research-and-development/product/product-technical-writing-team-handbook#processes

[2020-03-16 20:09] #13990 closed

[2020-03-16 20:10] justinegeffen opened #14093 "Document: when using reverse proxy, connection security shouldn't be set to TLS"
It seems that if you’re using a reverse proxy - the Mattermost console option for Connection Security within Web Server settings must be set to None. Even though Use Let's Encrypt is set to false, somehow it seems Mattermost still thinks this option is enabled if Connection Security is set to TLS instead of None.

See more details at https://forum.mattermost.org/t/apache-client-sent-an-http-reques

[2020-03-16 20:11] justinegeffen commented on #14093
If you're interested in taking on this documentation request, let us know by commenting on the issue.  The documentation that may be affected by this issue is: https://docs.mattermost.com/install/config-apache2.html. The submitter of this issue (@jasonblais) may have additional links and content available.

- If you're a new contributor take a look through the [Technical Writing Handbook](https://

[2020-03-16 20:11] #13989 closed

[2020-03-17 05:35] iamsayantan commented on #13657
I would like to work on this.

[2020-03-17 05:56] sneak commented on #10595
Yeah, this is totally unacceptable.  I had no idea this software was spying on my server.

This needs to be opt-in.  Proceeding as if you have consent when you've only *assumed* consent for spying is unethical.

[2020-03-17 06:20] sneak commented on #9466
Turns out the setting (documented nowhere) is `MM_LOGSETTINGS_ENABLEDIAGNOSTICS` = `"false"`.  I haven't tested it.

You can also do the following in a Dockerfile:

[code]

That should solve the issue.

[2020-03-17 06:22] sneak commented on #10595
Turns out, as far as I can tell, the environment variable to change this setting (documented nowhere) is `MM_LOGSETTINGS_ENABLEDIAGNOSTICS` = `"false"`.  I haven't tested it.

You can also do the following in a Dockerfile:

[code]

That should give you a clean image that doesn't phone home.

[2020-03-17 06:57] sneak commented on #10595
From https://docs.mattermost.com/developer/manifesto.html :

Phoning home without consent is absolutely unexpected.

[2020-03-17 09:58] Selion05 commented on #14027
okay this seems trickier then I thought...

If I copy a file with a file manager I just get the file path. E.g. in

nautilus:

[code]
thunar:

`/home/leo/test.jpg`

but this is "normal".

Since you can also paste files on github I test it here as well as comparison.

## png
`xclip -sel clip -t image/png -i test.png`
|                    | Firefox    | Chrome  |
| --------------- |-------------| --

[2020-03-17 12:55] #13984 closed

[2020-03-17 14:12] hmhealey commented on #5485
FYI, I've updated this ticket with a new method for going about this. Please ignore my previous comments on how to do this since I think the new solution for this is much better.

[2020-03-17 16:30] ali-farooq0 commented on #13657
You got it @iamsayantan!

[2020-03-17 18:15] mattermod opened #14099 "RN iOS: Swiping right from anywhere in the thread screen should close it and return to the main channel view."
Swipe to the right anywhere on the threads view should trigger the threads view to close (at a static fixed speed - see Slack as an example) and return the user to the channel view.

Note: if the user pulls from the left edge of the screen inwards, we should keep the behaviour as it is now - the closing speed of the threads view follows the finger drag speed.

Note 1: Semi-related ticket where the

[2020-03-17 18:30] mattermod opened #14100 "RN: Tapping 'Reply' on a post could focus on the reply field and bring up the keyboard"
When I hold down on a message and hit ‘Reply’ it takes me to the thread, it should open the thread, focus the input box and bring up the keyboard to enter a comment, given that if I hit 'Reply' it's a fair assumption that I want to start typing

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets)

[2020-03-17 19:00] mattermod opened #14101 "autcomplete emojis get cut off with longer post drafts"
When typing a longer message in the post draft and entering an emoji shortcut (“:”) that triggers the emoji autocomplete, the top choice gets cut off.

Review the @mention autocomplete as the same problem likely exists here as well.

Screenshot taken on an iPhone 8.

See https://github.com/mattermost/mattermost-mobile/pull/4532 for a starting point.

Expected:
The autocomplete list height should b

[2020-03-17 19:54] #12621 closed

[2020-03-17 21:11] #13922 closed

[2020-03-17 21:11] amyblais commented on #13856
I'll close this issue for now as we haven't received an update for a while,

[2020-03-17 21:11] #13856 closed

[2020-03-17 21:14] amyblais commented on #13831
This has been fixed for upcoming v5.22 release which is scheduled for April 16th,

[2020-03-17 21:14] #13831 closed

[2020-03-17 21:16] amyblais commented on #13673
This is fixed for upcoming v5.22 release, scheduled for April 16th,

[2020-03-17 21:16] #13673 closed

[2020-03-17 21:17] amyblais commented on #13312
This is fixed for upcoming v5.22 release, scheduled for April 16th,

[2020-03-17 21:17] #13312 closed

[2020-03-17 21:20] amyblais commented on #13797
This is fixed for upcoming v5.22 release, scheduled for April 16th,

[2020-03-17 21:20] #13797 closed

[2020-03-17 21:24] amyblais commented on #13903
I will close this for now as we haven't received feedback for this for a while, but I hope you will open a feature request issue for this!

[2020-03-17 21:24] #13903 closed

[2020-03-17 21:24] amyblais commented on #13664
I will close this for now as we haven't received feedback for this for a while, but I hope you will open a feature request issue for this!

[2020-03-17 21:24] #13664 closed

[2020-03-17 23:44] harshilsharma63 commented on #13934
@ali-farooq0 I've implemented the changes. Now I need to test this with an actual plugin. Should be done this week.

[2020-03-18 00:01] someone-somenet-org opened #14102 "More than 24 hours per day?"
#### Summary
It seems, the Mattermost web client is a time machine and has more than 24 Hours per day.

![image](https://user-images.githubusercontent.com/5354356/76912314-bbf43580-68b3-11ea-8bdd-5b4ef6ecc48b.png)

#### Steps to reproduce
Write anything after 0:45 / No idea.

#### Expected behavior
The posting time to be 0:57 and not 24:57.

#### Observed behavior (that appears unintentional)
The

[2020-03-18 02:25] avasconcelos114 commented on #14038
I'd like to take care of this one :)

Also, is there any chance you can make that Figma link public? I seem to be running into a 404 error page when trying to connect from my account

[2020-03-18 07:58] #13515 closed

[2020-03-18 12:16] amyblais commented on #14102
We have a ticket to investigate this: https://mattermost.atlassian.net/browse/MM-22595.

I'll close this as a duplicate of https://github.com/mattermost/mattermost-server/issues/14063.

[2020-03-18 12:16] #14102 closed

[2020-03-18 13:39] umlaeute opened #14104 "properly document permission-shortcomings of OpenSource-Edition"
now that i have mattermost-OS-edition running on our premises, i stumbled upon #6320 and am...stunned.

i chose mattermost, mostly because it's bundled with GitLab-CE, and in the wake of the CoVid19-situation i needed a chat-system for our academic institute (yes, by now i know that you have your "Virtual Campus" plan for this use-case, but see below).

so far, i figure from #6320 that one of the

[2020-03-18 13:40] umlaeute commented on #13307
will this be available for the community edition, or only in the payed plans?

[2020-03-18 13:46] jasonblais commented on #13307
@umlaeute This will be available in all Mattermost editions in v5.22

[2020-03-18 15:31] Ths2-9Y-LqJt6 commented on #10702
Hey again - I'm taking a 1  week break on this ticket ending Mar 25th. I'll be back next week to check in!

[2020-03-18 16:05] ali-farooq0 commented on #13934
Great, thanks @harshilsharma!

[2020-03-18 16:14] sphr opened #14106 "Running mattermost in a /subdir returns 404 errors for UI plugins."
#### Summary
When running mattermost in a /subdir on a server, plugins loose track of the path and assume the root.

#### Steps to reproduce
Configure mattermost to run on a example.tld/subdir/ in the config.json then install a plugin that uses the webserver to launch resources, for instance the zoom or standup-raven one.

#### Expected behavior
I expect plugins to get the real full pwd from the m

[2020-03-18 17:45] mattermod opened #14108 "Implement checks on channel ID when uploading a file through the Plugin API"
When uploading a file to Mattermost, either through the REST API or through the Plugin API, the user needs to specify the ID of the channel the file will be uploaded to. The REST API [endpoint for uploading a file](https://api.mattermost.com/#tag/files/paths/~1files/post) makes sure that the channel ID is valid and that the user has permissions over the channel. However, the implementation in the

[2020-03-18 18:12] jasonblais commented on #14108
Thanks @agarciamontoro! Would you be open to adding a difficulty level as well? (via `Difficulty/XXX` label?

[2020-03-18 18:15] agarciamontoro commented on #14108
Done! Thank you for the heads-up, @jasonblais!

[2020-03-18 19:00] amyblais commented on #14106
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-23411.

[2020-03-18 19:37] wiersgallak commented on #14104
@umlaeute, thank you for reaching out to us with your feedback.

The system default permissions policy https://docs.mattermost.com/deployment/advanced-permissions.html#system-scheme-e10 in E10 does allow you to restrict users from archiving channels.  In reviewing some of the resources you cited, we can make improvements to update content and be more descriptive by linking more details. I will rev

[2020-03-18 19:48] amyblais commented on #14038
@matthewbirtch ^

[2020-03-18 19:50] matthewbirtch commented on #14038
Updated! Apologies - I didn't realize it was internal to Mattermost. [Figma link](https://www.figma.com/file/TLoAiMJ650x9PTYmYVoZr2/MM-22362-Quick-Access-Reactions?node-id=62%3A1312) is public now

[2020-03-18 20:21] Qovaros commented on #13710
Hi, I would like to work on this issue

[2020-03-19 06:26] harshilsharma63 commented on #13934
@ali-farooq0 PR is ready and approved by @hanzei . I've tested this from an actual plugin as well and it works perfectly.

[2020-03-19 06:28] harshilsharma63 commented on #14106
I think this is something all plugin developers have to keep in mind. I'd recommend including this in [plugin best practices](https://developers.mattermost.com/extend/plugins/best-practices/) page.

[2020-03-19 10:30] #13695 closed

[2020-03-19 12:30] #11950 closed

[2020-03-19 12:48] Centzilius opened #14112 "Team description bubble cut off in /select_team"
#### Summary
Description bubble of team in `/select_team` is cut off if it is at the top (or at least if the list only contains one team)

#### Steps to reproduce
Create a team (that you are not part of) with a semi long description and visit <mmurl>/select_team

#### Expected behavior
Bubble is not cut off at the border of the team list.

#### Observed behavior (that appears unintentional)
Bubble

[2020-03-19 15:13] amyblais commented on #14112
@Centzilius What Mattermost server version are you on? What device and OS are you on?

[2020-03-19 16:50] hiendinhngoc commented on #13691
Can I take this task?

[2020-03-19 18:23] Centzilius commented on #14112
@amyblais
Mattermost Enterprise Edition w/o License version 5.21.0
Chromium 80 (private mode) on Arch Linux (desktop)

[2020-03-19 20:41] amyblais commented on #14112
Thanks, opened a ticket here: https://mattermost.atlassian.net/browse/MM-23457.

[2020-03-19 22:16] ylluminate opened #14115 "Text (Message) Entry Field: monospace (fixed-width / non-proportional) font option"
Some of us use MatterMost for applications that include code and formatted text entry. Often we find ourselves wanting to precisely format spacing and other things.  This is difficult to do in non-monospace fonts for text entry.

It would be nice to have a monospace option or a simple toggle beside the text entry field that would allow us to move between proportional and monospace/fixed-width font

[2020-03-20 05:26] adityaavysh commented on #14056
Hello, is this issue still up for grabs?

[2020-03-20 05:28] adityayavagal commented on #14056
Hello, is this issue still up for grabs?

[2020-03-20 17:28] tech348712013870132 opened #14116 "Google Cloud Monitoring: Unable to receive webhooks"
I am trying to get the Google Cloud Monitoring Notifications working with Mattermost webhooks.

The GCloud config is very simple:

<img width="442" alt="Screenshot 2020-03-20 at 18 26 08" src="https://user-images.githubusercontent.com/45794753/77189706-474e1080-6ad8-11ea-9b49-4fc1eb7c14e7.png">

I have created an incoming webhook in Mattermost and pasted the resulting link within the Gcloud dialog

[2020-03-21 01:20] haydenhw commented on #12473
Hi, is it alright if I submit a PR for this? (I have one almost ready to go)

[2020-03-21 01:45] QamarFarooq commented on #13713
I will take this one

[2020-03-21 03:36] jasonblais commented on #12473
@haydenhw Certainly! I've assigned to you, looking forward to your contribution :)

[2020-03-21 16:05] waqasraz commented on #14108
Can I give it a shot?

[2020-03-21 19:00] jeroenes opened #14120 "Documentation installation Ubuntu incomplete"
#### Summary
Documentation does not work as-is or is confusing if postgresql is running on same host

#### Steps to reproduce
Just follow the instructions for postgresql and hosted on same server

#### Expected behavior
mattermost test shows it is listening at 8035 as in the docs

#### Observed behavior (that appears unintentional)
an error message pops up. First "Error: failed to load configurati

[2020-03-21 21:53] Qovaros commented on #13688
Sorry, I linked a wrong issue by mistake

[2020-03-21 22:37] agarciamontoro commented on #14108
Sure, @waqasraz!

[2020-03-22 10:50] koopernick opened #14121 "No notification comming from the active channel"
#### Summary
No notification from the active channel, from windows 10

server : 5.21
client (windows) : 4.4.0

#### Steps to reproduce
There is no notification coming from the active channel, when the windows client is minimize.
All notifications are working for all other channels but the active one (especially when minimized)
All of our users have this issue (it's not just a random one).

#### Ex

[2020-03-22 17:41] hajowieland opened #14124 "Upload of SAML Identity Provider Public Certificate fails"
#### Summary
Error when trying to upload the Identity Provider Public Certificate for SAML from an Auth0 application

#### Steps to reproduce
- Create Auth0 application
- Configure SAML in Mattermost
- Upload Identity Provider Certificate (Choose File > Upload)

#### Expected behavior
Uploading of IDP certificate

#### Observed behavior (that appears unintentional)
- Upload seems to work (no error

[2020-03-23 06:44] AkaZecik commented on #13687
I would like to grab this issue :smiley:

[2020-03-23 12:58] szepeviktor opened #14126 "Strip release binaries"
Releases on releases.mattermost.com contain not stripped binaries.

Please consider going from 50MB -> 38MB in case of `mattermost`
Thank you.

[2020-03-23 13:13] amyblais commented on #14126
@szepeviktor Can you help share your use case and why you're hoping to see this change?

[2020-03-23 13:14] amyblais commented on #14124
@hajowieland What Mattermost server version and OS are you using?

[2020-03-23 13:19] amyblais commented on #14121
I'll close this as a duplicate of https://github.com/mattermost/desktop/issues/1234.

[2020-03-23 13:19] #14121 closed

[2020-03-23 13:20] amyblais commented on #14120
@jeroenes Would you like to re-open this issue on the documentation repo https://github.com/mattermost/docs/issues?

If you're open to making the changes to the documentation, let us know!

[2020-03-23 13:22] amyblais commented on #14116
@tech348712013870132 Would you like to re-open this issue on our troubleshooting forum here https://forum.mattermost.org/ in case other community members have experienced this?

I'm not sure if GCloud Monitoring is supported in Mattermost or not.

[2020-03-23 13:35] szepeviktor commented on #14126
@amyblais Of course.

Not stripped binaries are **BIG**,
stripped binaries are smaller.

[2020-03-23 13:39] szepeviktor commented on #14126
"stripping" is a technical term, not equal to the English word.
It means removing debugging information which is necessary for... :) debugging.

[2020-03-23 14:18] agnivade commented on #14126
@szepeviktor - Thanks for filing the issue. Reducing size is indeed important, but so is the ability to debug crashes in production. The tipping point would usually be when the difference in binary size is so big, that is dwarfs the need to be able to debug in production.

I just did some testing and the binary size just went down from 57MB to 43MB. Granted it's still 14MB, but I am curious to kno

[2020-03-23 14:31] szepeviktor commented on #14126
I see. QA is in [my focus](https://github.com/szepeviktor). So using QA tools in development *could* make debugging unnecessary!

Some highly popular binaries are 130 KB is size.

[code]

14 MB is 100×`ls`!!!

[2020-03-23 14:33] szepeviktor commented on #14126
I give you my basic trio of zero-coverage test I _enforce_ at every client.

1. syntax check
1. coding standard
1. static analysis

Go is *Chinese* to me, so these may be built-in or impossible!

[2020-03-23 15:01] waqasraz commented on #14108
Sorry, I am little bit confused with the difficulty level
Something like this will suffice? Or I am missing something.

[code]

[2020-03-23 15:48] chris-fady opened #14128 "Images downloaded with a name change have no extension"
#### Summary
No extension on images downloaded

#### Steps to reproduce
- Click download on a image file
- Change name of file (notice that no option to save as a specific file format exists)
- Check that the downloaded has no extension and is not recognized as an image file

#### Expected behavior
Downloaded as an image with a proper extension, given the extension already exists on the file prese

[2020-03-23 15:54] ylluminate commented on #9464
@amyblais I'm curious about looking into making a plugin for MatterMost that might facilitate this. Do you know if anyone has dabbled in this area yet?

[2020-03-23 16:12] amyblais commented on #9464
@ylluminate I'm not aware, but you could share about it in our [Integrations and Apps channel](https://community.mattermost.com/core/channels/integrations) and our staff / other community can help out with it. Thanks for your interest in making a plugin for this!

I can also help post about it in the channel if you are able to share more details about what type of plugin you're thinking of.

[2020-03-23 16:16] amyblais commented on #14128
@chris-fady What Mattermost server version are you on and what OS are you using?

[2020-03-23 16:29] amyblais commented on #9031
Closing as the Jira ticket was closed. This issue doesn't seem to be valid anymore,

[2020-03-23 16:29] #9031 closed

[2020-03-23 16:31] chris-fady commented on #14128
@amyblais Desktop app on Windows 4.1.2

[2020-03-23 16:32] amyblais commented on #14128
@chris-fady Would you be open to upgrading to desktop app v4.4.0 to see if the problem persists?

[2020-03-23 16:41] chris-fady commented on #14128
@amyblais Solved indeed! May I suggest implementing an alert on "check for updates" directly in the app?

[2020-03-23 16:46] amyblais commented on #14128
Glad to hear it!

An auto-update feature is planned and has been discussed by our team, but we need to revisit the implementation and technical details after we implemented MSI (beta) on Windows for v4.3.0.

[2020-03-23 16:46] #14128 closed

[2020-03-23 17:38] #13642 closed

[2020-03-23 18:24] adityayavagal commented on #14056
Done with fix I have created pull request, let me know if any changes.

[2020-03-23 18:41] agarciamontoro commented on #14108
Hi @waqasraz. That actually seems fine! Could you implement some tests (just check that uploading a file to non-existent channels, or to channels where the user has no permissions, fails) and open a PR so we can review it and merge your changes?

And sorry if the difficulty level was not very accurate, I had not investigated further if the same implementation would suffice, so I preferred setting

[2020-03-23 18:50] waqasraz commented on #14108
that's perfect, I was going to implement the tests, I was just not sure.

Thank you

[2020-03-23 20:15] fawick commented on #14027
I am experiencing the same issue.

Firefox 74.0 and Mattermost 5.21.0.

A workaround for me is to paste the clipboard into Gimp first, then copy it again from there. Pasting that second clipboard picture works in Firefox, then. I reckon that the content-type of whatever Gimp is putting into the clipboard is different to 'image/png'.

So, I wonder, is there some difference in the content-handling f

[2020-03-23 20:51] amyblais commented on #14027
Thanks all, opened a ticket here: https://mattermost.atlassian.net/browse/MM-23516.

[2020-03-23 23:06] hajowieland commented on #14124
@amyblais

**Mattermost:** 5.21.0
**OS:** Kubernetes, deployed with Mattermost Enterprise Helm Chart
**DB:** AWS RDS (PostgreSQL 9.6.16)

[2020-03-24 09:15] alerque commented on #14052
Any hope of a backport & patch version release or are Arch folks stuck waiting for the next full minor version release cycle?

[2020-03-24 13:47] someone-somenet-org commented on #9791
From a cyber-security perspective **it doesnt matter at all** if you disclose the version - an attacker will run all their exploits against the software, disregarding any version information (which might be faked to hide the fact that for some reason no updates were applied for a while) because it doesnt cost anything to try everything.

But +1 for removal, because `i dont like unnecessary custom

[2020-03-24 13:51] WizardKid opened #14135 "Mattermost vs Nginx"
Hi I have searched for any related issues but couldnt find any. Was reluctant to open an issue due to most company's response time. The issue I am having is related to whenever i installed nginx for ssl certificate. the current issue is that i am getting an error that state the 443 port is in use.
current error: `sudo systemctl status mattermost.service
● mattermost.service - Mattermost
   Loaded:

[2020-03-24 13:54] WizardKid commented on #14135
Logfile:

{"level":"info","ts":1585055921.4319515,"caller":"jobs/workers.go:68","msg":"Starting workers"}
{"level":"info","ts":1585055921.444287,"caller":"jobs/schedulers.go:74","msg":"Starting schedulers."}
{"level":"info","ts":1585055921.4487157,"caller":"app/web_hub.go:75","msg":"Starting websocket hubs","number_of_hubs":4}
{"level":"info","ts":1585055921.4685364,"caller":"app/server.go:470","m

[2020-03-24 14:30] mattermod opened #14136 "Document minimum server version required for plugin hooks"
We don't consistently document the minimum server version required to use a given hook in [https://github.com/mattermost/mattermost-server/blob/master/plugin/hooks.go](https://github.com/mattermost/mattermost-server/blob/master/plugin/hooks.go). Let's copy the pattern used by `UserHasBeenCreated`:

[code]

Some research will be required to identify exactly which hook a version was introduced. The

[2020-03-24 16:30] mattermod opened #14137 "Clicking on original message creator's username should open profile popover"
1. Find or create a `discontinuing` message thread.
    a. Create a post.
    b. Create another post.
    c. Reply to the post created above in 1.a
2. In the center channel, click on the username where it says `Commented on <username>'s message: <...message...>` (see screenshot).

Expected: Clicking on the username opens the profile popover.

Observed: Clicking on the username opens search results

[2020-03-24 19:11] amyblais commented on #14135
@WizardKid Would you be open to posting this on our troubleshooting forum here: https://forum.mattermost.org/. Our community and support team are more actively responding to issues there.

I can also optionally ask our team on our [Peer-to-Peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help) to take a look at this issue.

[2020-03-24 19:15] mattermod opened #14140 "Improve unread badge UI on the hamburger menu and team icons"
##### Mention Badge UI revision

  * slightly reduced size (18px instead of 19px)
  * bolder, larger number

**Figma working file:**

[https://www.figma.com/file/pw6i45SxTUHX8Mxrs7Lav4/MM-22948-Mobile-Unread-Badges?node-id=2%3A332](https://www.figma.com/file/pw6i45SxTUHX8Mxrs7Lav4/MM-22948-Mobile-Unread-Badges?node-id=2%3A332)

![](Mention Badge - Main Menu (b9c425c7-f024-46e5-880a-3f15f995f58e).p

[2020-03-24 19:15] mattermod opened #14141 "Tap size of 'more unreads' button in sidebar"
####  Proposed UI Changes

Figma working file: [https://www.figma.com/file/bgPUKlqCSmgcuRtAykwCZx/MM-22945-More-Unreads-Button-Quick-Wins?node-id=0%3A1](https://www.figma.com/file/bgPUKlqCSmgcuRtAykwCZx/MM-22945-More-Unreads-Button-Quick-Wins?node-id=0%3A1)

  * Changed rounded corner style to better match existing UI and to be more inline with the new standard button style
  * Moved the arrow ico

[2020-03-24 19:15] mattermod opened #14142 "Improve mobile emoji picker UI and interaction"
#### Proposed Solution

  * Use the new modal style we’re currently using for long-press post actions
  * Tapping on the ‘add reaction’ icon on any post opens up the emoji picker initially at half-height
  * Swiping the modal up will open it up in full-height (similar to Slack behaviour)
  * Tapping search also opens the modal at full-height and opens the keyboard
  * Typing in the search field tr

[2020-03-24 19:35] mattermod opened #14143 "RN iOS: Improve mobile modal style"
iOS 13 introduced a new modal style, we should use it for the following screens: Settings, Profile screen, Channel Info, "+" button for DMs and channels, create channel screen. Search screen should remain as it is today.

Example:
 <^trim.ABB8E6A6-B270-4B2E-B8BC-C5520B373138.MOV>

Note: We may need to change the window background color during review of this PR. The current implementation uses the

[2020-03-24 22:18] #13587 closed

[2020-03-24 22:18] #13586 closed

[2020-03-24 23:11] kelsiuss opened #14145 "Read-only Town Square for select teams"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-03-25 11:16] hanzei commented on #14137
@deanwhillier Would you please assign a `Difficulty` and `Tech` label?

[2020-03-25 11:17] hanzei commented on #14142
@esethna Would you please fix the formatting of the issue?

[2020-03-25 11:18] hanzei commented on #14141
@esethna Same here

[2020-03-25 11:19] hanzei commented on #14140
@esethna And here

[2020-03-25 12:00] mattermod opened #14148 "Bot icon image has too much height"
Bot accounts can use custom icons, which was added in https://github.com/mattermost/mattermost-server/pull/11423. But the icon styling is broken and has to much height. This ticket is about fixing the broken styling.

Repo steps:
1. Check out branch `262_ensure-bot` from Matterpoll
2. Deploy plugin
3. DM with Matterpoll Bot

![Screenshot from 2020-02-28 15-27-24](https://user-images.githubusercont

[2020-03-25 12:56] amyblais opened #14149 "Mattermost v5.22"
You can find key dates for v5.22 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### April 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### April 14th: Release Build Cut
The f

[2020-03-25 13:31] amyblais commented on #14145
@kelsiuss What Mattermost server version are you on?

[2020-03-25 13:53] amyblais commented on #14041
We haven't received an update for a while, so I'll close this for now. Please re-open this issue on the desktop app repo if the issue persists on the latest desktop app version (v4.4.0).

[2020-03-25 13:53] #14041 closed

[2020-03-25 14:26] #13817 closed

[2020-03-25 16:43] #13818 closed

[2020-03-25 17:00] mattermod opened #14152 "Searching in the Emoji Picker should retain search terms when switching to the GIF picker"
#### Steps to Reproduce:

1. In Mattermost, make sure you have the GIF picker enabled in the System Console.
2. Open the emoji/GIF picker from the center channel.
3. Enter a search string for an emoji that does not exist.
4. Click the GIF tab.

Expected: Search string appears in search box for GIF tab, and GIFs are filtered with that string.
Observed: Search string disappears and you have to re-en

[2020-03-25 17:17] fedealconada commented on #14136
I can grab this one @lieut-data

[2020-03-25 17:19] lieut-data commented on #14136
Thanks, @fedealconada!

[2020-03-25 18:18] skyvalleyhigherpraise opened #14155 "Desktop: Push Notification Actions"
**Summary**
When Mattermost is not in the foreground and a push notification is displayed, clicking the notification window triggers Mattermost to go to the channel, but does not bring it to the foreground focus.
This was fixed in prior version of MM, but is back in 4.4.0 [Desktop: Push Notification Actions](https://github.com/mattermost/mattermost-server/issues/11963)

**Steps to reproduce**
Clic

[2020-03-25 19:45] mattermod opened #14157 "Sort "Jump to" results on mobile to prioritize recently viewed channels"
Observed failure case: Type "Jason ". Notice that old unused GMs with Jason are prioritized over his DM channel, even though i talk with Jason in a DM quite often

Expected:

1. When I tap on "jump to", before anything is typed:

* Show a list of channels you are a member of sorted by Recency (last_viewed_at)
* Cap the number of channels shown here in the default state to maximum of 20

2. When a

[2020-03-25 21:06] amyblais commented on #14155
@skyvalleyhigherpraise What server version are you on?

[2020-03-25 22:06] skyvalleyhigherpraise commented on #14155
@amyblais Here is what I've located in desktop:

Mattermost Enterprise Edition
Modern communication from behind your firewall.

**Mattermost Version:** 5.14.1
**Database Schema Version:** 5.14.0
**Database:** mysql

LMK if you need something else.

[2020-03-25 22:11] amyblais commented on #14155
@skyvalleyhigherpraise I realized this bug was actually fixed in the webapp repo in server v5.16.0 release: https://github.com/mattermost/mattermost-webapp/pull/3718.
Would you be open to upgrading?

[2020-03-25 22:27] skyvalleyhigherpraise commented on #14155
@amyblais Our IT department is not prioritizing MM server upgrades atm.  Thus, our agents are stuck with upgrading the desktop app at best.

[2020-03-26 08:14] torgeirl opened #14162 "Activity in muted channels indicated in browser tab and team list"
#### Summary
Activity in muted channels cause the browser tab text to get a `*` icon prefix as if there's new activity for you. Same goes for the team icon list, where the muted channel's team gets a `•` icon next to it.

#### Steps to reproduce
Mute a channel with some activity on one of your team, and switch to another. Switch to another tab in your browser. Whenever the browser tab gets `*` ico

[2020-03-26 12:31] amyblais commented on #14162
@torgeirl What server version and OS are you on?

[2020-03-26 12:49] torgeirl commented on #14162
@amyblais: we're running server version 5.21, and I'm accessing it using Google Chrome 80.0 on a Fedora 31 computer (all latest versions I believe).

I just recently noticed this issue, but it could be older since our usage pattern has changed due to COVID19. The activity in teams I don't participate in have increased manifold (membership by being a team admins).

[2020-03-26 13:27] #13968 closed

[2020-03-26 17:55] amyblais commented on #14162
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-23639.

[2020-03-26 18:04] hiendinhngoc commented on #13692
I will take this task.

[2020-03-26 18:19] icelander commented on #14124
@hajowieland

The SAML IdP certificate file is renamed to `saml-idp.crt` when it's stored in the database, so your config file should use that for the filename.

To further diagnose the error we need to see the query that Mattermost is loading out of the database. Run this query against your database to see the file contents.

[code]

It should return a value that matches the certificate you uploa

[2020-03-26 19:13] a3nm commented on #9466
@sneak changing the environment variables indeed seems to solve the issue, thanks! Specifically, in `/lib/systemd/system/mattermost.service`, add:

[code]

It then seems that mattermost no longer queries `segment.io`.

[2020-03-26 19:15] sneak commented on #9466
Really shameful and unethical that this happens without notifying the user, and that turning it off is not documented clearly anywhere.

[2020-03-26 19:45] mattermod opened #14167 "Limit the number of reactions that can be added to posts on the web/desktop apps to match mobile app"
Environment: 5.18-rc1 and 1.26 build 249

This ticket is created as a follow up to MM-17838

The number of reactions on the web and desktop app should be limited to 40 to match the mobile app.
Currently, additional reactions added from the webapp are breaking the mobile app UI. See attached image.

Expected: Reactions to be capped at 40. When 40 reactions are added:
  * Remove the "<ins> </ins>:em

[2020-03-26 19:53] #13869 closed

[2020-03-26 20:30] egoldobin opened #14168 "Windows are not movable"
#### Summary
Windows (message editing, Account settings) do not move by dragging the title bar with the mouse.

#### Steps to reproduce
Sandwich button|Account settings. Window "Account settings" opens. Try to click on the title bar and drag.

#### Expected behavior
Window should move (follow the mouse)

#### Observed behavior (that appears unintentional)
Window does not move.

#### Possible fixes

[2020-03-26 20:56] amyblais commented on #14168
@egoldobin What Mattermost server version are you on?
Can you help elaborate on what windows are not moving and why you would like to see this change?

[2020-03-26 21:07] cmistrata opened #14170 "Writing text and starting to write preformatted block in the same message causes text to disappear"
#### Summary
If I begin writing a message, and then try to paste multiple lines of text from github into a preformatted block in another line of the same message, the original text I've written will disappear. Trying to undo the changes to the message does not cause the text to reappear.

#### Steps to reproduce
Using version 4.1.2, using the Windows app, using GPU Hardware acceleration in setting

[2020-03-26 21:48] amyblais commented on #14170
@cmistrata Do you see the same issue on desktop app v4.4.0?

[2020-03-26 22:24] fedealconada commented on #13463
I'll take this one @jasonblais

[2020-03-27 13:01] #13688 closed

[2020-03-27 14:19] fedealconada commented on #13159
I can finish this one if you want @jasonblais

[2020-03-27 14:27] fedealconada commented on #13461
I can take this one @jasonblais

[2020-03-27 14:56] Ramel opened #14173 "API: Cannot get one user in a team"
#### Summary
API: Cannot get one user in a team

#### Steps to reproduce
Mattermost 5.21

I have a strange thing, I have a user ("user_id":"sfkgwn9sofduibskrp6gcges6o") with an activated account, and if I list the users in the team ("team_id":"d4748s6h1pf7tmuckae6116oww") with the API, it's not returned.

I can check that the user is in the team:

[code]
[code]

But it does not appears in the team

[2020-03-27 15:36] Ramel commented on #14173
I see that it output only sixteen users, there is perhaps an arguments to get more, pagination problem I suspect. So I reread the FM.

[2020-03-27 15:59] Ramel commented on #14173
My bad. RTFM. I close.
[code]

[2020-03-27 15:59] #14173 closed

[2020-03-27 16:01] CSBatchelor commented on #12316
Sorry I never got around to this, I unassigned myself so this issue can be picked up by someone else. I hope to work with Mattermost again in the near future!

[2020-03-27 16:08] waqasraz commented on #13657
also related to this, If I click on a plugin install and refresh the page it does not show which one is already installing, once the plugin is installed it shows up as installed.

[2020-03-27 16:37] hanzei commented on #12316
Thanks for the heads up @CSBatchelor :+1:

[2020-03-27 16:47] ali-farooq0 commented on #13657
@waqasraz That is working as designed, as we only store plugin install-ing state locally and not on the server, which is cleared as soon as you refresh the page.

[2020-03-27 17:10] waqasraz commented on #13657
@ali-farooq0 hmm maybe it does not work locally. I've tested it before adding a comment. I clicked on the install plugin then reloaded the page and click on Install again and again until it shows configured.

[2020-03-27 17:12] waqasraz commented on #13657
Also, I am unable to replicate the issue on a local machine. I clicked on all the market place plugins it worked fine. I did it multiple times.

[2020-03-27 17:24] ali-farooq0 commented on #13657
Clicking install, refreshing page and clicking install again may result in unexpected behaviour as it's possible that the server is installing a plugin while you attempt to re-install. That is working as designed, as the server doesn't return any `installing` state to notify the webapp which plugins are currently being installed.

If you're not seeing `installing` when you click `install` the firs

[2020-03-27 17:39] waqasraz commented on #13657
now I'm getting this

[code]

[2020-03-27 17:51] waqasraz commented on #13657
This is what I mean, it's a bit long gif but give you the idea.

![plugin_issue](https://user-images.githubusercontent.com/1761304/77784988-82b68500-706c-11ea-94a7-987681d976ff.gif)

[2020-03-27 18:03] ali-farooq0 commented on #13657
Ah most interesting. In your gif I do see an error as soon as you click `Install`, but not sure why when you refresh the 2nd time it shows as `Configure`, unless you have local code that retries to install the plugin? Or the other possibility is that you're seeing a client side failure while the server is installing and once the installation is done you see the `Configure` button on refresh.

[2020-03-27 18:37] waqasraz commented on #13657
certificate error disappear for some reason.

[2020-03-27 19:27] egoldobin commented on #14168
Mattermost Version: 5.20.0
I guess NONE of the windows are moving. In addition to the two mentioned above, this is e.g. SandwitchButton|About Mattermost .
Why? Because this is standard behavior of any window. The concept of a window includes a possibility to move it away at the position more convenient for me and see what is underneath. This works so since the times of Windows 3.1 in 1990s, but in

[2020-03-27 19:32] amyblais commented on #14168
@egoldobin Thank you for your feedback, would you be open to sharing this improvement idea on our feature proposals forum here: http://www.mattermost.org/feature-requests/?

[2020-03-28 00:29] allenlai18 commented on #14148
i can look into this. we want the matterpoll to be the exact same height as the other bots?

[2020-03-28 04:07] ryaneyoung commented on #872
Outstanding!

On websockets v4 I had to remove:

 RequestHeader set X-Forwarded-Proto "https"

To get it to work.

[2020-03-28 07:00] #13706 closed

[2020-03-28 07:03] #14055 closed

[2020-03-28 07:14] hanzei commented on #14148
Thanks @allenlai18 :+1:

Yes, the icon should be the same height as other bot icons. Just to be clear: This is not a bug in Matterpoll, Matterpoll is only the example I'm using here.

[2020-03-28 16:26] rakhi2104 commented on #14137
I want to work on this.

[2020-03-28 20:56] fedealconada commented on #13945
if this issue is idle, I can take it @lieut-data

[2020-03-28 20:59] lieut-data commented on #13159
@jimiolaniyan, heads up that @fedealconada has expressed an interest to help with this one, so I've assigned the ticket his way. If you're still making progress on this one, feel free to ping @fedealconada and coordinate on that front. No worries if you'd prefer to pass :)

[2020-03-28 21:00] lieut-data commented on #13461
@phillipahereza, heads up that @fedealconada has expressed an interest to help with this one, so I've assigned the ticket his way. If you're still making progress on this one, feel free to ping @fedealconada and coordinate on that front. No worries if you'd prefer to pass :)

[2020-03-28 21:00] lieut-data commented on #13945
Thanks, @fedealconada! @joshuabezaleel already has a PR up, and I've just been iterating with some feedback on it, so I think it's in a good state for now.

[2020-03-28 21:02] lieut-data commented on #13463
Thanks for the offer, @fedealconada! @phillipahereza, is this still something you'd like to pursue?

[2020-03-28 21:05] phillipahereza commented on #13463
Currently not able to work on it

[2020-03-28 21:19] hanzei commented on #14137
Awesome @rakhi2104 :+1:

[2020-03-29 00:44] haydenhw commented on #12437
I'll finish this one!

[2020-03-29 05:38] #13689 closed

[2020-03-29 05:43] hanzei commented on #12437
Thanks for taking a shot @haydenhw. Let me know if you have any questions. :+1:

[2020-03-29 06:22] hanzei commented on #13938
Hi @shibasisp, just wanted to check if you have any questions about the ticket. Please let us know if you need any help

[2020-03-29 06:23] hanzei commented on #13786
Hi @frnkshin,

Are you able to reproduce the problem? Do you have other questions?

[2020-03-29 06:24] hanzei commented on #13910
Hey @BukkyOmo

I just wanted to check if you are still working on this ticket

[2020-03-29 06:25] hanzei commented on #12354
Making this available for the public again. Please let me know if you still want to work on it @RominHalltari

[2020-03-29 06:26] hanzei commented on #7487
HI @anindha,

I just want to touch bases and check if you are still working on this issue :wink:

[2020-03-29 06:26] hanzei commented on #8942
@giorgosdi Are you still working on this issue?

[2020-03-29 06:29] hanzei commented on #7508
@esethna Do you see this ticket getting updated in the near term or should it just be closed for now?

[2020-03-29 06:29] hanzei commented on #13514
Are you still working on this issue @sowmiyamuthuraman ?

[2020-03-29 06:30] hanzei commented on #12337
I'm making this available for the pubic again. Let me know if you still want to work on this @sridhar02

[2020-03-29 06:31] hanzei commented on #13506
Hi @misocho,

I just wanted to check if you have any questions. Feel free to ask!

[2020-03-29 06:31] hanzei commented on #12609
Making this available for the public again

[2020-03-29 06:34] hanzei commented on #13491
Fixed with https://github.com/mattermost/mattermost-webapp/pull/4659. Thanks @allenlai18 :+1:

[2020-03-29 06:34] #13491 closed

[2020-03-29 06:34] hanzei commented on #13484
Fixed with https://github.com/mattermost/mattermost-webapp/pull/4662

[2020-03-29 06:34] #13484 closed

[2020-03-29 06:46] hanzei commented on #13495
Fixed with https://github.com/mattermost/mattermost-webapp/pull/4747. Thansk @ikeohachidi :tada:

[2020-03-29 06:46] #13495 closed

[2020-03-29 06:47] hanzei commented on #12348
@nadalfederer Just wanted to check if you are still working on this issue

[2020-03-29 06:47] hanzei commented on #13734
Are you still working on this issue @scottjr632 ?

[2020-03-29 06:47] hanzei commented on #11571
Do you have any questions @lawikip about this ticket?

[2020-03-29 06:48] hanzei commented on #13725
Are you still working on this issue @tharun208 ?

[2020-03-29 06:49] hanzei commented on #13727
Are you still working on this issue @strtw ?

[2020-03-29 06:50] hanzei commented on #13479
Fixed with https://github.com/mattermost/mattermost-webapp/pull/4846

[2020-03-29 06:50] #13479 closed

[2020-03-29 06:50] hanzei commented on #12376
@typeoh Just wanted to check if you need any help to get your PR out.

[2020-03-29 06:51] hanzei commented on #13732
Hi @chrisbirster, do you have any questions about the ticket? Let me know if we can help.

[2020-03-29 06:51] hanzei commented on #13731
Hi @brunoro How are you doing with the ticket? Do you have questions?

[2020-03-29 13:11] giorgosdi commented on #8942
Hey @hanzei , nope I left it aside due to other things, sorry 😕

[2020-03-29 13:58] fedealconada commented on #12696
@hanzei I could take this one if @tharun208 is okay with that

[2020-03-29 14:08] hanzei commented on #12696
@tharun208 Are you still working on this issue?

[2020-03-29 14:08] hanzei commented on #8942
No problem. Thanks for the time you spend on this issue.

[2020-03-29 14:47] tharun208 commented on #12696
@hanzei, I am almost there, some doubts there, is there any slack group to contact you?

[2020-03-29 17:44] rakhi2104 commented on #14167
I want to take this up.

[2020-03-29 17:54] syuo7 commented on #14085
I will try this issue!

[2020-03-29 19:34] hanzei commented on #12696
There is a Mattermost Server :wink: Please ask your Question in the [~Toolkit](https://community.mattermost.com/core/channels/developer-toolkit) channel on the [Mattermost Community Server](https://community.mattermost.com/core/channels/developer-toolkit)).

[2020-03-29 20:23] rakhi2104 commented on #14167
Why is this necessary?

[2020-03-29 20:42] nadalfederer commented on #12348
I'm sorry, I forgot about this. I can finish it this week, is this ok?

[2020-03-30 01:02] harshilsharma63 opened #14179 "Allow conditionally displaying plugin channel header button"
Allow plugins to conditionally display the channel header button. This will allow the plugin to hide or display the button only in channels where it's applicable.

This can be done by adding aa `filter` function to `registerChannelHeaderButtonAction` registry function, similara to whaat's done in `registerPostDropdownMenuAction`.

I primarily need this for https://github.com/standup-raven/standup-

[2020-03-30 04:14] allenlai18 commented on #14148
how do i deploy the plugin?

[2020-03-30 04:14] haydenhw commented on #12475
I can do this next!

[2020-03-30 04:25] saturninoabril commented on #14085
Awesome, thanks @syuo7!

[2020-03-30 11:49] inakivb opened #14184 "mattermost plugin list command fails after update to version 5.21.0"
#### Summary
 `mattermost plugin list` command fails after update to version 5.21.0

It seems to break due some json problem on german language files, but I've only enabled English and Spanish in my MM configuration

#### Steps to reproduce
Execute `mattermost plugin list` from console

#### Expected behavior
The installed plugins are listed

#### Observed behavior (that appears unintentional)
[co

[2020-03-30 13:32] lieut-data commented on #14184
@inakivb, can you share a sanitized version of your `config.json`? Does this error happen for other commands, or just `plugin list`?

[2020-03-30 13:53] #13730 closed

[2020-03-30 13:57] devinbinnie commented on #12475
Sounds great! Thanks @haydenhw!

[2020-03-30 14:14] RalfJung opened #14186 "Old flagged posts do not reliably appear when opening "flagged" sidebar"
#### Summary
I flagged some posts around two years ago. Recently I realized those fail to show up when I click the "flagged" button, unless I then also click "Jump" on a more recent flagged post.

#### Steps to reproduce
Mattermost version 5.19.1 (with GitLab)

* I flagged some posts in 2018.
* Now when I click the "flagged" button, they do not show up.
* However, some more recent flagged posts sh

[2020-03-30 14:45] mattermod opened #14187 "RN: User profile screen fields are not translatable"
The  user profile screen displays some label fields that are not being translated like:

  * Username
  * Nickname
  * Email
  * Position

We should add translation support for this field names.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss

[2020-03-30 14:55] enahum commented on #13892
@ChrisDobby any progress on this? do you need help?

[2020-03-30 15:04] hanzei commented on #14167
@esethna Could you please take a look at the questions about?

[2020-03-30 15:06] shred86 commented on #14187
Working this one in mattermost-mobile [#4092](https://github.com/mattermost/mattermost-mobile/pull/4092).

[2020-03-30 15:07] enahum commented on #14187
awesome!

[2020-03-30 15:28] esethna commented on #7508
We can close this for now

[2020-03-30 15:28] #7508 closed

[2020-03-30 15:32] esethna commented on #14167
@rakhi2104 we only want to remove this functionality ("+:emoji:" in the reply input area) when there are >40 reactions. Otherwise it would allow users to add more reactions when the number of reactions should be capped.

[2020-03-30 15:34] inakivb commented on #14184
Hi @lieut-data
it just happen on plugin list (at least is the only one I've found, plugin add works fine)

here is my config
[code]

[2020-03-30 16:08] rakhi2104 commented on #14167
@esethna, I didn't know the "+:emoji" shortcut. I'll try to handle this as well

[2020-03-30 18:22] #14136 closed

[2020-03-30 19:14] amyblais commented on #14186
@RalfJung What OS and version are you on?

[2020-03-30 19:59] lieut-data commented on #14184
Thanks, @inakivb! I'm now able to reproduce this -- seems to be specific to executing the command from within the `/opt/mattermost/client` path. @amyblais, can you promote this to a Jira ticket for further investigation?

[2020-03-30 20:01] lieut-data commented on #14184
(Note that I can also reproduce this with other commands such as `mattermost user search`, so it doesn't appear to be specific to the toolkit infrastructure.)

[2020-03-30 20:40] dpanic opened #14192 "User not receiving teams after being deleted and recreated"
#### Summary
1) Delete user by API /api/v4/users/user_id
2) Permanently delete by` /opt/mattermost/bin/mattermost user delete "user@domain.com" --confirm`

#### Steps to reproduce
I am using latest version 5.21.0

#### Expected behavior
Expected behaviour is after delete and recreate that everything works normaly.

#### Possible fixes
You should delete user from TeamMembers. After that all works o

[2020-03-30 21:04] amyblais commented on #14184
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-23706.

Is this a recent regression?

[2020-03-30 21:10] amyblais commented on #14192
@dpanic What is the bug / observed behaviour?

[2020-03-30 21:49] dpanic commented on #14192
User doesn't see Teams after users re-creation. Because system didn't deleted user from a team.

[2020-03-30 22:05] amyblais commented on #14192
@dpanic So the user is still listed as part of the teams even though the user was deleted, but the user is not able to view those teams?

What method did you use to re-activate the user?

[2020-03-30 22:36] dpanic commented on #14192
No method. I permanently deleted it as I wrote. I run api call, after that I did delete by cli:

`/opt/mattermost/bin/mattermost user delete "user@domain.com" --confirm`