[2020-10-16 07:03] needkopi commented on #15942
can i take this issue?

[2020-10-16 07:04] mgdelacroix commented on #15942
Sure @needkopi, thanks for working on this!!

[2020-10-16 07:05] mgdelacroix opened #15980 "Add end to end tests to the "configSetCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configSetCmdF` command, in the `commands/config.go` file. The expected w

[2020-10-16 07:05] mgdelacroix opened #15981 "Add end to end tests to the "configEditCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configEditCmdF` command, in the `commands/config.go` file. The expected

[2020-10-16 07:06] mgdelacroix opened #15982 "Add end to end tests to the "configResetCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configResetCmdF` command, in the `commands/config.go` file. The expected

[2020-10-16 07:06] mgdelacroix opened #15983 "Add end to end tests to the "configShowCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configShowCmdF` command, in the `commands/config.go` file. The expected

[2020-10-16 07:06] mgdelacroix opened #15984 "Add end to end tests to the "configReloadCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configReloadCmdF` command, in the `commands/config.go` file. The expecte

[2020-10-16 07:42] n1rna commented on #15984
I would like to pick this one :)

[2020-10-16 07:54] n1rna commented on #15983
I would like to take this one as well.

[2020-10-16 08:58] seongwon-kang commented on #15698
/join with invalid channel name presents `An error occurred while joining the channel`, not `An error occurred while joining the channel`. is it a right behavior?

[2020-10-16 08:59] seongwon-kang commented on #15698
`/join` with invalid channel name presents `An error occurred while listing channels.`, instead of `An error occurred while joining the channel`. is it intented behavior?

[2020-10-16 09:01] #15629 closed

[2020-10-16 09:29] lestgabo commented on #15147
hello @JMGonzalezR ,

did you use Windows 10? running a WSL 2 with ubuntu?

i tried following this link https://developers.mattermost.com/contribute/server/developer-setup/  Windows WSL tab
but I run into your same problem...

[code]

[2020-10-16 09:42] seongwon-kang commented on #15698
I'd like to work on this

[2020-10-16 10:46] hanzei commented on #15925
@asaadmahmood What do you think about the suggestion above?

[2020-10-16 10:47] #15455 closed

[2020-10-16 10:49] saturninoabril commented on #15698
Sure and thanks @seongwon-kang!

[2020-10-16 10:51] saturninoabril commented on #15698
Yes, `An error occurred while listing channels.` is a correct error for invalid or non-existing channel. However, for this test case, you should do `/join` to existing private channel - one where the test user is member of and the other is not member of.

[2020-10-16 10:55] #15477 closed

[2020-10-16 10:56] #15439 closed

[2020-10-16 11:48] davebarkerxyz commented on #15349
We do understand that clicking "Contact us" would stop the messages but I don't believe this is an appropriate solution for an open source product (with, according to GitHub, 552 contributors).

We chose Mattermost Team Edition precisely because it's open source and free of any commercial pressure. I understand that Mattermost, Inc (who, by far, contribute the most to the project) may need some wa

[2020-10-16 12:27] amyblais commented on #15979
Thanks, we're working on a fix https://mattermost.atlassian.net/browse/MM-29740.

[2020-10-16 13:22] kaakaa commented on #14641
I tried to reproduce this in v5.27 and v5.28, but this issue is not happened. This issue seems to be resolved. Thanks 👍

[2020-10-16 13:22] #14641 closed

[2020-10-16 13:28] szutt commented on #15979
Thanks !

[2020-10-16 13:45] Manimaran11 commented on #15982
@mgdelacroix I would like to look into this issue.

[2020-10-16 14:04] mgdelacroix commented on #15982
Thanks @Manimaran11 for taking a look! All yours :slightly_smiling_face:

[2020-10-16 14:38] tweichart commented on #13486
I'd like to work on that one if possible 😊
btw I noticed it also mentions to upgrade the test, this component though doesn't have any in the folder... Should I add a test with this PR or leave that up for another ticket?

[2020-10-16 15:48] mathiasvr commented on #13716
I'll give this a try! 😉

[2020-10-16 15:57] asaadmahmood commented on #15925
@andrewbrown00 Can someone take care of these pages, I think we need to figure out a global pattern for this.

[2020-10-16 16:33] cinlloc commented on #13488
Could I take it? :hand:

[2020-10-16 16:41] amyblais commented on #13486
@devinbinnie On the question ^

[2020-10-16 16:49] devinbinnie commented on #13486
@tweichart If there's no test file in the module then you don't have to create one. Although if you'd like to we'd love that!

[2020-10-16 16:58] esethna commented on #15023
@14Richa no worries, I'll open this ticket up again, but feel free to come back to it later if it hasn't been picked up yet. Also if you're open to sharing your work in progress code that might help get someone else started on it

[2020-10-16 17:10] vanya829 commented on #13480
I want to get this one

[2020-10-16 17:44] #15864 closed

[2020-10-16 17:44] #15865 closed

[2020-10-16 17:44] #15866 closed

[2020-10-16 18:26] SezalAgrawal commented on #15981
Can I pick this task?

[2020-10-16 18:26] SezalAgrawal commented on #15980
Can I pick this task?

[2020-10-16 18:29] SezalAgrawal commented on #15939
Can I pick this task?

[2020-10-16 19:29] gupsho commented on #15945
I can take this.

[2020-10-16 20:21] #15472 closed

[2020-10-16 20:33] #15828 closed

[2020-10-16 20:33] #15829 closed

[2020-10-16 20:33] #15830 closed

[2020-10-16 20:33] #15831 closed

[2020-10-16 20:33] #15832 closed

[2020-10-16 20:33] #15833 closed

[2020-10-16 20:33] #15835 closed

[2020-10-16 20:33] #15836 closed

[2020-10-16 20:33] #15837 closed

[2020-10-16 22:34] esethna commented on #15640
Hey @g-ravity how's this going? Are you still working on this feature?

[2020-10-16 23:00] ridwankustanto commented on #15925
Or should I make it looks like the one suggested in comment by Andrew Brown [here](https://mattermost.atlassian.net/plugins/servlet/mobile?originPath=%2Fbrowse%2FMM-27506#issue/MM-27506)?

[2020-10-17 00:09] prapti commented on #15803
In test queue: need to check for Cypress e2e tests that might be affected by this change.

[2020-10-17 00:31] Jonany commented on #15160
Thanks! :+1: I'll take a look at those tests.

[2020-10-17 07:33] JeremyShih commented on #15941
I would like to work on it.

[2020-10-17 07:41] wijayaerick commented on #15944
Can I pick this task?

[2020-10-17 07:48] needkopi commented on #15943
@djanda97  try pulling the latest master

[2020-10-17 12:09] chrysillala commented on #15642
@esethna Thanks! Actually I'm still having problem installing on my machine.
Already raise the issue on the channel and still waiting for the answer, meanwhile could you please elaborate more on where should I start?
Really appreciate if you could give me detailed information as I'm new to this. Thank you!

[2020-10-17 12:25] vraravam commented on #13727
I would like to take a crack at this if its still open.

[2020-10-17 12:51] sowmiyamuthuraman commented on #15823
@hmhealey @esethna Added the required changes in the mattermost-server

[2020-10-17 21:03] Mavintyre commented on #14740
Still learning Go, but I'd like to take a swing at this.

[2020-10-18 01:58] marcelo-cardozo commented on #15759
my mistake, you were right @hanzei , already working on a solution, found the issue!

[2020-10-18 02:43] vraravam commented on #13504
Shall I take a shot at this?

[2020-10-18 07:14] lestgabo commented on #14256
Hello @esethna,

I made a PR at https://github.com/mattermost/mattermost-webapp/pull/6826, all tests ran green.

[2020-10-18 09:47] tweichart commented on #13486
@devinbinnie I've added a (very) basic test now, would that be suitable? maybe any other test cases you might think of?

@amyblais I might have encountered a bug/wrong definition in a mattermost-redux type definition... i've patched it in my PR, (see file `components/admin_console/manage_tokens_modal/types/admin.ts` ), but I'm not 100% sure if it's a bug. Could you take a look or ping the right pe

[2020-10-18 14:03] marcelo-cardozo commented on #15755
@rhetoricalraj I could help you on this one, I already got a partial solution

[2020-10-18 16:37] jasonblais commented on #13727
awesome, thanks @vraravam!

[2020-10-19 00:08] jasonblais commented on #7520
@hmhealey to confirm, closing in favor of https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/2779 ?

[2020-10-19 01:56] BarakStout commented on #15976
I would like to give this a shot.

[2020-10-19 07:00] tweichart commented on #13483
I'd like to work on this one 😀

[2020-10-19 08:17] #15489 closed

[2020-10-19 08:19] mgdelacroix opened #15997 "Add end to end tests to the "configMigrateCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `configMigrateCmdF` command, in the `commands/config.go` file. The expect

[2020-10-19 08:19] mgdelacroix opened #15998 "Add end to end tests to the "generateTokenForAUserCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `generateTokenForAUserCmdF` command, in the `commands/token.go` file. The

[2020-10-19 08:19] mgdelacroix opened #15999 "Add end to end tests to the "listTokensOfAUserCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `listTokensOfAUserCmdF` command, in the `commands/token.go` file. The exp

[2020-10-19 08:19] mgdelacroix opened #16000 "Add end to end tests to the "revokeTokenForAUserCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `revokeTokenForAUserCmdF` command, in the `commands/token.go` file. The e

[2020-10-19 08:19] mgdelacroix opened #16001 "Add end to end tests to the "botUpdateCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `botUpdateCmdF` command, in the `commands/bot.go` file. The expected way

[2020-10-19 08:28] needkopi commented on #16001
hello @mgdelacroix  can you assign to me?

[2020-10-19 08:28] mgdelacroix commented on #16001
Sure! Thanks for taking a look @needkopi!!

[2020-10-19 08:29] mgdelacroix opened #16002 "Add end to end tests to the "botListCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `botListCmdF` command, in the `commands/bot.go` file. The expected way to

[2020-10-19 08:29] mgdelacroix opened #16003 "Add end to end tests to the "botEnableCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `botEnableCmdF` command, in the `commands/bot.go` file. The expected way

[2020-10-19 08:29] mgdelacroix opened #16004 "Add end to end tests to the "botDisableCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `botDisableCmdF` command, in the `commands/bot.go` file. The expected way

[2020-10-19 08:29] mgdelacroix opened #16005 "Add end to end tests to the "botAssignCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `botAssignCmdF` command, in the `commands/bot.go` file. The expected way

[2020-10-19 08:29] mgdelacroix opened #16006 "Add end to end tests to the "logsCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `logsCmdF` command, in the `commands/logs.go` file. The expected way to a

[2020-10-19 08:38] #15785 closed

[2020-10-19 10:25] spiritbro1 commented on #15804
i guess you should close this issue

[2020-10-19 10:54] #15846 closed

[2020-10-19 13:15] #13892 closed

[2020-10-19 13:47] devinbinnie commented on #13486
Not off the top of my head, thanks for adding tests! :)

[2020-10-19 15:15] wijayaerick commented on #16003
Hi @mgdelacroix, I would like to give this a shot!

[2020-10-19 15:19] mgdelacroix commented on #16003
Thanks @wijayaerick, all yours!!

[2020-10-19 16:19] cinlloc commented on #15929
Seems there is an internal debate about security issues with this bug (cf. https://mattermost.atlassian.net/browse/MM-12657). Could you kindly double-check that the feature is wanted?

[2020-10-19 16:52] szutt commented on #15979
Build 5.28.1 seems okay, thx !

[2020-10-19 16:52] #15979 closed

[2020-10-19 17:03] wijayaerick commented on #16004
Hi @mgdelacroix, I would like to pick this one as well :)

[2020-10-19 18:55] jeffrysleddens commented on #15012
Interesting fact, when I perform a search in a channel and leave the search results open the typing slowness in the chat input is greatly intensified.

[2020-10-19 18:56] hmhealey commented on #7520
Yeah, I think so. This is something we'd like, but it's not really ours to dictate.

[2020-10-19 19:02] cinlloc commented on #13490
I take it :hand:

[2020-10-19 19:14] esethna commented on #15642
@chrysillala have you tried asking in the peer-to-peer help channel? https://community.mattermost.com/core/channels/peer-to-peer-help

Additionally the Developers: Webapp channel might work to as the devs there are familiar with the code needed here: https://community.mattermost.com/core/channels/webapp

[2020-10-19 19:56] Mavintyre commented on #14740
Read all the documentation for contributions, but if I missed anything, let me know.

[2020-10-19 21:41] deanwhillier opened #16020 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 691"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurrences of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fi

[2020-10-19 21:41] deanwhillier opened #16021 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 692"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurrences of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fi

[2020-10-19 21:41] deanwhillier opened #16022 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 693"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:41] deanwhillier opened #16023 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 694"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:41] deanwhillier opened #16024 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 695"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:41] deanwhillier opened #16025 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 697"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:41] deanwhillier opened #16026 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 698"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:41] deanwhillier opened #16027 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 699"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:41] deanwhillier opened #16028 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 700"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 21:42] deanwhillier opened #16029 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 701"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-19 23:33] lestgabo commented on #15903
Hello @hmhealey,

Can I make a PR for this? I believe I solved the problem but would want a review first.

[2020-10-20 03:35] kishore007k commented on #15975
I would like to work on this issue.

[2020-10-20 06:34] arkajyotiMukherjee commented on #16029
The link for the repo is broken...can you update it to this one
https://github.com/mattermost/mattermost-webapp/tree/campaign/applytheme_center-channel-color
@deanwhillier

[2020-10-20 08:15] #15486 closed

[2020-10-20 08:20] TheDarkestDay commented on #15649
Can I take this one instead of https://github.com/mattermost/mattermost-server/issues/15214 ?

Do you have any Figma design for this tooltip?

[2020-10-20 09:13] #15622 closed

[2020-10-20 09:20] Willyfrog commented on #15804
definitely! thanks!

[2020-10-20 09:20] #15804 closed

[2020-10-20 09:25] Willyfrog commented on #15845
hello @egrinberg let me know if you need any help with the ticket :)

[2020-10-20 09:26] Willyfrog commented on #15843
hello @parulc7 ! let me know if you need any help/clarification with the issue :)

[2020-10-20 09:32] #15678 closed

[2020-10-20 09:41] Willyfrog commented on #15799
@ShajithaMohammed let me know if you need any clarification on this

[2020-10-20 09:48] Willyfrog commented on #15623
hi @MathewtheCoder let me know if you need any help/clarification on this issue :)

[2020-10-20 10:02] Willyfrog opened #16033 "Migrate string-refs to functional ones: this.refs.errorMessage"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16034 "Migrate string-refs to functional ones: this.refs.currentPassword"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16035 "Migrate string-refs to functional ones: this.refs.fileInput"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16036 "Migrate string-refs to functional ones: this.refs.fileInput"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16037 "Migrate string-refs to functional ones: this.refs.errorMessage"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16038 "Migrate string-refs to functional ones: this.refs.content"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16039 "Migrate string-refs to functional ones: this.refs.remove_button"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16040 "Migrate string-refs to functional ones: this.refs.preview"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:02] Willyfrog opened #16041 "Migrate string-refs to functional ones: this.refs.textarea"
## Context:

String references are deprecated in React, and they will eventually disappear. Since [React 16.3](https://github.com/facebook/react/blob/master/CHANGELOG.md#1630-march-29-2018) there is the new api to use for reference creation `createRef` which improved the way to handle them greatly. Callbacks refs still have some valid usage, so we might make exceptions with those, please raise the

[2020-10-20 10:54] #15797 closed

[2020-10-20 11:29] jk2K opened #16042 "select dropdown only show once"
### Summary
select dropdown only show once

dropdown menu no longer appears

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

mattermost 5.26

#### Expected behavior
Describe your issue in detail

show dropdown options every time

![image](https://user-images.githubusercontent.com/4025839/96579963-2b2e7e00-130a-11eb-8e50-f32ed4110358.png)

#### Observed behavio

[2020-10-20 11:54] #15847 closed

[2020-10-20 12:05] amyblais commented on #16042
@jk2K Can you help describe where the dropdowns are located (where are the screenshots taken from)?

[2020-10-20 12:09] RouL opened #16043 "Privacy and ToS Links in the about modal ignore the customization settings"
#### Summary
Privacy and ToS Links in the about modal ignore the customization settings.

#### Steps to reproduce
Set yout own privacy and tos links in the settings. Reload the page (just to be sure). Open the about modal. Check the links.

#### Expected behavior
The links in the about modal should respect the customization settings.

#### Observed behavior (that appears unintentional)
Privacy and

[2020-10-20 13:34] amyblais commented on #16043
Thanks, I'll close this as a duplicate of https://github.com/mattermost/mattermost-server/issues/14531.

A Jira ticket exists here: https://mattermost.atlassian.net/browse/MM-26294.

[2020-10-20 13:34] #16043 closed

[2020-10-20 13:41] sowmiyamuthuraman commented on #16041
I would like to work on this

[2020-10-20 14:07] Willyfrog commented on #16041
Thanks @sowmiyamuthuraman !

[2020-10-20 14:17] jk2K commented on #16042
@amyblais I updated the screenshoot, dropdown options should be `aresweb`, `aresmobile`, `aresjenkins`，I deployed a mattermost instance, and created a integration that can open dialogs when users click message buttons

[2020-10-20 14:36] hanzei commented on #15800
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6646

[2020-10-20 14:36] #15800 closed

[2020-10-20 15:45] mattermod opened #16045 "Mac and Linux Desktop App: Hide server tab bar if only one server is configured"
On Mac and Linux, we should hide the custom server tab bar and only use the native window frame if there is only one server connected. If two or more servers are connected, show the custom server tab window frame.

Note: This change is not needed on Win10/Win7 since the server tab bar and menu items (file, edit etc) are baked into the window frame itself. Perhaps we can make a thinner custom tab b

[2020-10-20 16:00] mattermod opened #16046 "Update favicon assets to improve contrast on dark themes"
Update the browser favicon assets to that were recently added to improve contrast on dark themes

Assets linked in zip file in JIRA ticket: https://mattermost.atlassian.net/browse/MM-29517

Thread: https://community-daily.mattermost.com/core/pl/du17p5kj83fgpm1nmamijcw81h

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost

[2020-10-20 16:09] agnivade commented on #15249
@arjunagl - Actually, thinking more on this, I think we should be okay doing this only for Session objects. They are called in fairly limited places throughout the codebase, and there are fewer chances of someone getting new session objects in new places.

A quick search gives this:

[code]

Would you still be interested in picking this up just for the session objects? Then we can re-open this iss

[2020-10-20 17:54] #13477 closed

[2020-10-20 18:16] edtrist commented on #14200
Happy to take this :)

[2020-10-20 19:01] esethna commented on #16046
@bhargav50 would you be interested in taking this? We had some feedback that the favicons you added in your [earlier PR](https://github.com/mattermost/mattermost-webapp/pull/6431) were not looking good on dark themes so we updated the assets

[2020-10-20 20:40] arjunagl commented on #15249
@agnivade sure, I would like to pick this up.

[2020-10-20 22:21] morganrconnolly commented on #16027
@deanwhillier please assign me this task

[2020-10-20 23:18] esethna commented on #15649
@TheDarkestDay yes figma designs are here: https://www.figma.com/file/FBBQQs6WiboS8shpMwVo2l/MM-27913-Search-Tip-Center-Channel?node-id=166%3A2817

[2020-10-20 23:25] esethna commented on #14200
Awesome, all yours @edtrist!

[2020-10-21 00:01] Jonany commented on #15160
Is there an existing TM4J number I should use for the linktool tip tests?

[2020-10-21 03:09] divz11 commented on #16046
I am interested to do this.

[2020-10-21 03:36] agnivade commented on #15249
Thanks @arjunagl! Yes, I am ok with that. We can create the pool in the app layer and globally access that everywhere else.

[2020-10-21 06:13] Spotts9 commented on #16040
@Willyfrog Would be happy to take this one on.

[2020-10-21 07:01] TheDarkestDay commented on #15649
Unfortunately, this link says that either I have no access to this file or there is no such file at all. Should I go through some procedure in order to get access?

[2020-10-21 07:43] rathishkumar opened #16049 "Can I Modify the Mattermost Team Edition - Open Source?"
I am in need of Chatting app for group of students. We don’t have any budget to spend on Enterprise Edition. Features of Open Source Team Edition is sufficient for us our activities.

Can I modify the code for our internal use? License is bit confusing. So I am asking again, Is Team Edition Open Source is under MIT license? Can I modify as I wish (w/o branding as Mattermost).

I will be rebranding

[2020-10-21 08:04] lestgabo commented on #16037
i want to try this, ill let it go to someone else if it takes me too long

[2020-10-21 08:37] NiKiZe opened #16050 "Incorrect usage of shortcut combinations ctrl+alt conflicts with altGr"
#### Summary
Mattermost incorrectly use shortcut combinations that should stay reserved.

#### Steps to reproduce
Switch to Swedish keyboard layout or any other that uses AltGr combinations.
Try to type @ or any other key that requires AltGr, Use the ctrl+alt fallback to emulate AltGr (in my case I use a keyboard without the AltGr key but still use Swedish layout when typing out messages)
In this

[2020-10-21 09:12] Willyfrog commented on #16037
thanks for taking up the issue, i've assigned it to you.

regarding `schema_admin_settings.jsx` there is [another issue](https://github.com/mattermost/mattermost-server/issues/15849) for that file and it already has a PR. [Here](https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+is%3Aissue+author%3AWillyfrog+migrate+string-refs+no%3Aassignee) is the list of unassigned migration iss

[2020-10-21 09:15] jk2K commented on #16042
fixed in version 5.28

[2020-10-21 09:15] #16042 closed

[2020-10-21 09:17] Willyfrog commented on #16040
sure! I'll assign it to you, thanks! :D

[2020-10-21 09:24] saturninoabril commented on #15699
Thanks @seongwon-kang for your contribution!

[2020-10-21 09:25] #15699 closed

[2020-10-21 09:25] himito commented on #14792
Hi :),

There are guides for differents tools except for Rocket.Chat. In my lab we also want to migrate to Mattermost :(.

[2020-10-21 09:55] RalfJung commented on #15012
I have the same problem. When I do not do anything else on my laptop it is okay, but once there is anything going on in background (even if just some of my 4 cores are used), Mattermost becomes basically unusable. Other websites (GitHub or Zulip) still have very responsive text input, but Mattermost can have multi-second input latency.

This is using Firefox 82. I even [reported this in Firefox](h

[2020-10-21 10:09] lestgabo commented on #16038
ill take this since its jsx

[2020-10-21 10:10] lestgabo commented on #16037
@Willyfrog bleh this was tsx, ill need to look up how to make functional refs in typescript. ill still try though

[2020-10-21 10:24] lestgabo commented on #16036
ill take this

[2020-10-21 10:28] Willyfrog commented on #16036
thanks! I'll assign this to you

[2020-10-21 10:32] Willyfrog commented on #16038
thanks! assigned

[2020-10-21 11:39] lestgabo commented on #16033
ill take this

[2020-10-21 11:40] lestgabo commented on #16034
ill take this

[2020-10-21 11:45] hanzei commented on #15755
@rhetoricalraj Are you still working on this issue?

[2020-10-21 11:47] hanzei commented on #15925
@ridwankustanto Yes, it should like when the user copies the theme colors

[2020-10-21 12:04] #7520 closed

[2020-10-21 12:07] #15456 closed

[2020-10-21 12:13] #15691 closed

[2020-10-21 12:33] #15673 closed

[2020-10-21 12:34] lestgabo commented on #15903
I spent some more time on this and just couldn't find a way for both conditions:
1.     outline only on header hover
2.     Safari to outline only on header hover

Since my PR cannot cover the 2 conditions above I am handing this over to you guys 8)

[2020-10-21 12:38] sridhar02 commented on #16034
@Willyfrog  Can I work on this?

[2020-10-21 12:41] sridhar02 commented on #16037
@Willyfrog Can I work on this?

[2020-10-21 12:42] Willyfrog commented on #16034
Sure! Thanks!

[2020-10-21 12:42] amyblais commented on #16050
@NiKiZe What Mattermost server version are you on?

[2020-10-21 12:42] Willyfrog commented on #16037
Of course! thanks!

[2020-10-21 12:53] XANi opened #16051 "[Bleve] massive index size compared to indexed data size"
Our test instance posts table is tiny:
[code]
yet Bleve index blew past 10GB and ran VM out of space:

![image](https://user-images.githubusercontent.com/147394/96721943-1e169b00-13ad-11eb-9c50-d044705254b2.png)

[2020-10-21 12:55] #15814 closed

[2020-10-21 13:06] NiKiZe commented on #16050
Mattermost Version: 5.28.1
Build Hash: d991504714aded3b97f95fea8f78a01e6ea125bb
EE Build Hash: none
Webapp Build Hash: cb8dbcf3d13d37e02b032200ee18b306bc7ac3b5
Build Date: Mon Oct 19 15:20:50 UTC 2020

[2020-10-21 13:54] #13716 closed

[2020-10-21 14:00] #15844 closed

[2020-10-21 14:26] #15483 closed

[2020-10-21 14:48] amyblais commented on #16049
I'll close this as a duplicate of https://forum.mattermost.org/t/can-i-modify-the-mattermost-open-source/10588.

[2020-10-21 14:48] #16049 closed

[2020-10-21 14:58] #15723 closed

[2020-10-21 15:27] Spotts9 commented on #16040
@Willyfrog   Please confirm still valid.   Looking at the current state of code this appears to have been addressed already.   Thanks.

[2020-10-21 17:07] TheDarkestDay commented on #15649
How this "hint" should actually interact with all of the existing channel list floating toasts, like the one for unread messages? Should it float above them or should it reside somewhere below?

[2020-10-21 17:51] hmhealey commented on #15160
I'm not aware of any existing test cases for that, but I'll check. We can always create the test cases for it after the fact.

[2020-10-21 17:54] #15805 closed

[2020-10-21 17:58] hmhealey commented on #15903
Thanks for your work on this. Sorry that you were working on something that might not be possible, but it's good to have confirmed that. I'll bring this up with the team to figure out what our next steps are on this.

[2020-10-21 18:06] #15811 closed

[2020-10-21 18:19] #15662 closed

[2020-10-21 18:22] hanzei commented on #15484
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6615

[2020-10-21 18:22] #15484 closed

[2020-10-21 18:27] #15579 closed

[2020-10-21 18:32] #15664 closed

[2020-10-21 18:33] #15834 closed

[2020-10-21 18:38] hanzei commented on #15871
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6701

[2020-10-21 18:38] #15871 closed

[2020-10-21 18:41] hanzei commented on #15881
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6707

[2020-10-21 18:41] #15881 closed

[2020-10-21 18:41] hanzei commented on #15882
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6707

[2020-10-21 18:41] #15882 closed

[2020-10-21 18:45] hanzei commented on #15677
Fixed with https://github.com/mattermost/mmctl/pull/228. Thanks @pranavtharoor :+1:

[2020-10-21 18:45] #15677 closed

[2020-10-21 18:47] #15796 closed

[2020-10-21 18:48] #13503 closed

[2020-10-21 18:49] #15850 closed

[2020-10-21 18:54] #13506 closed

[2020-10-21 18:56] #15447 closed

[2020-10-21 18:57] #15670 closed

[2020-10-21 18:59] #15849 closed

[2020-10-21 19:48] hmhealey commented on #15160
QA created a test case for the demo plugin's tooltip if you want to link your test case to that

https://mattermost.atlassian.net/projects/MM?selectedItem=com.atlassian.plugins.atlassian-connect-plugin:com.kanoah.test-manager__main-project-page#!/testCase/MM-T3422

[2020-10-21 21:37] esethna commented on #15649
@TheDarkestDay try again now! https://www.figma.com/file/FBBQQs6WiboS8shpMwVo2l/MM-27913-Search-Tip-Center-Channel?node-id=166%3A2817

Good question, I would say that the unread channel toast and this search tip should never exist at the same time, the unread toast should always prevail

[2020-10-22 01:15] ridwankustanto commented on #15925
Okay, I will let you know if I've changed that

[2020-10-22 01:24] #15690 closed

[2020-10-22 02:57] mschoch commented on #16051
I don't really have any context for this, and only saw it via a google alert, but it seems that indexes are created using the method `bleve.New` here:

https://github.com/mattermost/mattermost-server/blob/master/services/searchengine/bleveengine/bleve.go#L117

And this uses the default indexing scheme, which (due to backwards compatibility issues) is quite old.  If the size of the index is importa

[2020-10-22 06:16] djanda97 commented on #15943
I was successfully able to build mmctl and run the existing e2e tests, however I can't find the `commands/command_e2e_test.go` file in the mmctl repo. Is this a typo or should I create the file myself?

[2020-10-22 06:20] prazolpp commented on #15904
I have asked a question in the mattermost channel regarding this issue ... please check it out if you get a chance https://community.mattermost.com/core/pl/j7icqw6db7r1mmrth6bdghqhwe

[2020-10-22 06:25] wijayaerick commented on #15943
@djanda97 You should create the file

[2020-10-22 06:26] RouL commented on #14531
Could somebody clarify why on earth the "original Links" should be shown at all?

If you're running a self-hosted platform it is totally confusing to your users to find a link to ToS and PP not related at all to that platform. It's even worse, if the language of those is not their mother tongue. A platform should only show it's very own ToS and PP, it's a total no-brainer.

I'm working for one of

[2020-10-22 06:32] djanda97 commented on #15943
Great, thanks!

[2020-10-22 07:26] #15628 closed

[2020-10-22 07:55] seongwon-kang commented on #15703
I'll work on this.

[2020-10-22 07:55] saturninoabril commented on #15703
Sure and thanks @seongwon-kang!

[2020-10-22 07:57] seongwon-kang commented on #15703
@saturninoabril is there any method for get favicon? I tried `link[rel=icon]`, but href of favicon image changes randomly.

[2020-10-22 08:05] #15487 closed

[2020-10-22 08:09] #15886 closed

[2020-10-22 08:13] saturninoabril commented on #15703
One option is to save base favicon image at `/fixtures` folder and compare its image content to the one generated from href. Image content comparison can be [like in this lines](https://github.com/catalintomai/mattermost-webapp/blob/master/e2e/cypress/integration/emoji/custom_emoji_spec.js#L188-L194).

Different topic: It's not mention in this issue but since there are two steps for this test case

[2020-10-22 08:48] mgdelacroix commented on #16051
Thanks @XANi for the report, and thanks a lot @mschoch for jumping in!

I've created [a ticket to investigate](https://mattermost.atlassian.net/browse/MM-29916) the implications of the migration to scorch indexes. After some quick tests it looks like the code change is minimal and the improvements on index size are huge, so the challenge here will be to decide what do do to migrate existing server

[2020-10-22 09:17] #15669 closed

[2020-10-22 09:32] #15159 closed

[2020-10-22 10:17] Willyfrog commented on #16040
yes, seems it was done during the migration to typescript, thanks for the headsup

[2020-10-22 10:18] #16040 closed

[2020-10-22 10:28] seongwon-kang commented on #15703
Thanks @saturninoabril! I'll try it later.

[2020-10-22 10:47] #15851 closed

[2020-10-22 10:52] seongwon-kang commented on #15253
This test is already exists in https://github.com/mattermost/mattermost-webapp/blob/e9cda6cd7ffe11d6f6cf1794c61368c201c6dd69/e2e/cypress/integration/scroll/channel_scroll_spec.js#L58

[2020-10-22 10:53] saturninoabril commented on #15253
@seongwon-kang Oh, thanks for checking! Closing.

[2020-10-22 10:53] #15253 closed

[2020-10-22 14:25] Tak-Iwamoto commented on #13482
Hi, I'd like to try this issue.

[2020-10-22 15:42] esethna commented on #14157
Note to anyone picking this up, the logic for this has already been written for the webapp and can be utilized here as well: https://github.com/mattermost/mattermost-webapp/pull/6756

[2020-10-22 15:56] kcc343 commented on #16020
Hi! I'm interested in doing this one but I'm kind of confused. It seems the line is missing and I tried to find the elements for specified selectors and they were not there. Is this a mistake or am I looking at it wrong?

[2020-10-22 15:58] kcc343 commented on #16021
Hi! I'm interested in doing this one but has the same problem like the previous issue. It seems the line is missing and I tried to find the elements for specified selectors and they were not there. Is this a mistake or am I looking at it wrong?

[2020-10-22 16:00] kcc343 commented on #16022
Hi! I'm interested in doing this issue (this one I can find).

[2020-10-22 16:46] amyblais commented on #16021
@deanwhillier ^

[2020-10-22 17:50] ahmaddanialmohd commented on #15012
Hi, everyone.

I tested this on a fresh vanilla instance on the following environment:
* Mattermost Server 5.26.2
* Firefox 82.0 (64-bit)
* Chrome 86.0.4240.111 (Official Build) (x86_64)
* Mac OS 10.15.7 (19H2)

While comparing the text input delay between Chrome and Firefox, I do not see any significant difference between the browsers.

Putting the possibility of addons contributing to the issue

[2020-10-22 18:12] jeffrysleddens commented on #15012
For me the problem occurs on busy channels or channels with a lot of history. In new empty channels the typing is fast as normal.

[2020-10-22 21:42] RalfJung commented on #15012
I created a fresh profile for Firefox. To reproduce the problem in its extreme form, I then also had to enable WebRender. Then I see an extreme slowdown in Mattermost once there is background load on my CPU, but not on other websites.

Without WebRender, the slowdown is much less pronounced, and does not seem to be much worse on Mattermost than it is elsewhere (without having objective measurement

[2020-10-22 21:46] RalfJung commented on #15012
Okay I have to correct that, even without WebRender the latency is still notably higher in Mattermost than on other websites.

[2020-10-23 11:03] TheDarkestDay commented on #15649
Feel free to check my PR - https://github.com/mattermost/mattermost-webapp/pull/6896

[2020-10-23 12:24] amyblais opened #16061 "Mattermost v5.29.0"
You can find key dates for v5.29 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Nov 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Nov 12th: Release Build Cut
The final

[2020-10-23 13:12] amyblais commented on #15012
Could be related: There was [a forum post](https://forum.mattermost.org/t/mattermost-v5-22-0/9529/8) about this earlier and we submitted a PR for the Go project: https://go-review.googlesource.com/c/net/+/237957 (still under review).

[2020-10-23 14:17] hmhealey commented on #16021
Apologies. This one seems to have been fixed by someone else making CSS changes in the area. Thanks for pointing that out though 😃

[2020-10-23 14:17] #16021 closed

[2020-10-23 14:20] hmhealey commented on #16020
This one looks like it was also fixed by someone else at the same time. The lines are almost the same, so they probably went through and fixed them at the same time. Sorry again about that!

[2020-10-23 14:20] #16020 closed

[2020-10-23 14:38] #15663 closed

[2020-10-23 15:43] #14142 closed

[2020-10-23 15:45] esethna commented on #15636
@vipul08 how's this going? Let us know if you're still working on this :)

[2020-10-23 15:45] esethna commented on #15930
@vipul08 how's this going? Let us know if you're still working on this :)

[2020-10-23 15:47] esethna commented on #15640
Hey @g-ravity, let us know if you're still working on this, otherwise will unassign from you :)

[2020-10-23 16:49] darkLord19 commented on #15640
@esethna Hey Eric, I'd like to work on this.

[2020-10-23 17:01] esethna commented on #15640
@darkLord19 all yours!

[2020-10-23 19:01] lucianomagrao commented on #15998
I got this!

[2020-10-23 19:01] lucianomagrao commented on #16002
I got this!

[2020-10-23 19:02] lucianomagrao commented on #16005
I got this!

[2020-10-23 19:02] lucianomagrao commented on #16000
I got this!

[2020-10-23 19:02] lucianomagrao commented on #15999
I got this!

[2020-10-23 19:12] vipul08 commented on #15930
@esethna - it's in progress... Yes, I am working on it. Do you to assign it to someone else?

[2020-10-23 19:24] #15902 closed

[2020-10-23 19:59] esethna commented on #15930
Great, still yours, just checking if you need any help

[2020-10-23 20:38] KrishnaSindhur commented on #15997
i can take a look at this, if its ok

[2020-10-23 21:44] bbodenmiller commented on #10145
This is handy. Any chance of count of flagged follow ups?

[2020-10-24 09:39] #15812 closed

[2020-10-24 10:48] jedau commented on #12246
Is this issue still relevant? I was trying to replicate it and it seems like it's working as intended in the current version of the mobile app.

[2020-10-24 11:57] M-ZubairAhmed commented on #13497
can i work on this ?

[2020-10-24 14:56] pikami commented on #13487
I'm grabbing this.

[2020-10-24 15:28] #15799 closed

[2020-10-24 15:48] reginaalyssa commented on #16023
Hi, if this is still available I'd love to give it a try! :)

[2020-10-24 15:49] reginaalyssa commented on #16024
Hi @deanwhillier, also interested in giving this a go if it's still up for grabs. Thank you! :)

[2020-10-24 16:00] reginaalyssa commented on #16025
Hi @deanwhillier also interested in taking this on if you could please assign the issue to me. Thank you! 😄

[2020-10-24 16:07] aol-nnov commented on #14602
@amyblais this idea got 13 votes already! Any chance this issue might be reopened?

Thank you!

[2020-10-24 16:11] JeremyShih commented on #16006
I would like to work on this.

[2020-10-24 18:02] SezalAgrawal commented on #15981
Hi @mgdelacroix, configEditCmdF does not have any unit tests to refer to. Can you please guide me what all test cases I can cover in end to end test?

[2020-10-24 20:45] vanya829 commented on #13489
Hi. I'd like to work on it.

[2020-10-24 21:04] vanya829 commented on #13480
@amyblais I spent some time trying to migrate this module, but get a lot of TS errors in related components that are not on TS yet. I didn't find a way to resolve most of them, so maybe someone else could try to convert this component to TS. Sorry about that. Please unassign this issue from me.

[2020-10-24 21:36] deanwhillier commented on #16023
@reginaalyssa, it's all yours! Thanks!

[2020-10-24 21:37] deanwhillier commented on #16024
@reginaalyssa, it's all yours! Thanks!

[2020-10-24 21:37] deanwhillier commented on #16025
@reginaalyssa, it's all yours! Thanks!

[2020-10-25 03:17] RajatVaryani commented on #14436
I would like to work on it.

[2020-10-25 05:44] oliverJurgen commented on #16028
I would like to take this

[2020-10-25 09:16] nerzhul opened #16068 "Missing DB constraints"
#### Summary
Hello, thanks for mattermost

i looked up your db scheme today to perform some cleanup on one of my instances and i saw that you are not using constraints to prevent database inconsistency problems.
I'm here focusing on posts which have different ids in multiple tables. If you delete an entry on post table (for various reasons) the postid is always present in other tables, which means

[2020-10-25 15:03] reginaalyssa commented on #16025
Awesome, I'll work on it right away. Thank you so much!

[2020-10-25 15:17] reginaalyssa commented on #16023
Thanks @deanwhillier! How do I set up the system notice on my local environment so that I can make the element appear and check if the changes applied worked?

[2020-10-25 16:01] drraghavendra opened #16071 "style.scss required to be added"
Scss is Sassy Cascading Style Sheets

Scss can be separated by a semicolon and run on the same line

SCSS is a preprocessor which lets you use features that aren’t a part of the wider CSS standard yet, and provides better workflows for maintaining your stylesheets.

---
---

@import "{{ site.theme }}";

.container {
  max-width: 100%;
}

table {
  th {
    white-space: nowrap;
  }

  tbody tr > td

[2020-10-25 16:16] rrey commented on #13953
Hi ! I'm having the same issue, is there any place in the forum that this issue was solved ?

[2020-10-25 18:25] zeirash commented on #16029
Hello, can I contribute on this issue?

[2020-10-26 05:19] arjunagl commented on #15249
@agnivade just to update you, I have started on the code changes and will try and submit a draft PR (if possible) just to make sure we are on the same page.

[2020-10-26 05:57] agnivade commented on #15249
Amazing. Thank you for the update! Yes draft PRs are allowed on forks.

[2020-10-26 07:28] drraghavendra opened #16073 "NON NPM DEpendencies"
Include NON NPM DEpendencies  as Mattermost Webapp supports the features of React Js

[2020-10-26 08:44] mgdelacroix opened #16074 "Add end to end tests to the "pluginAddCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginAddCmdF` command, in the `commands/plugin.go` file. The expected w

[2020-10-26 08:44] mgdelacroix opened #16075 "Add end to end tests to the "pluginInstallURLCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginInstallURLCmdF` command, in the `commands/plugin.go` file. The exp

[2020-10-26 08:44] mgdelacroix opened #16076 "Add end to end tests to the "pluginDeleteCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginDeleteCmdF` command, in the `commands/plugin.go` file. The expecte

[2020-10-26 08:44] mgdelacroix opened #16077 "Add end to end tests to the "pluginEnableCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginEnableCmdF` command, in the `commands/plugin.go` file. The expecte

[2020-10-26 08:44] mgdelacroix opened #16078 "Add end to end tests to the "pluginDisableCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginDisableCmdF` command, in the `commands/plugin.go` file. The expect

[2020-10-26 08:45] mgdelacroix opened #16079 "Add end to end tests to the "pluginListCmdF" mmctl command"
Mattermost is increasing the end to end test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). The goal is to create a suite of tests that check the main logic paths of each command and ensure that they work against a running server.

This Help Wanted issue covers the addition of end to end tests to the `pluginListCmdF` command, in the `commands/plugin.go` file. The expected

[2020-10-26 09:32] mgdelacroix commented on #15734
Closed by https://github.com/mattermost/mmctl/pull/221

[2020-10-26 09:32] #15734 closed

[2020-10-26 09:41] #15524 closed

[2020-10-26 09:48] #15672 closed

[2020-10-26 10:40] anusha5695 commented on #16079
Hi @mgdelacroix , I can pick this

[2020-10-26 10:42] mgdelacroix commented on #16079
Thanks @anusha5695, all yours!

[2020-10-26 10:48] #15798 closed

[2020-10-26 11:36] drraghavendra opened #16080 "export websocket in the file of Index.typescript"
In the  "Index Type script file" https://github.com/mattermost/mattermost-redux/blob/master/src/types/index.ts
export websocket to be included

[2020-10-26 12:28] #15810 closed

[2020-10-26 12:29] #15676 closed

[2020-10-26 12:29] #15940 closed

[2020-10-26 12:31] jecepeda commented on #16074
Hi! I would like to work on it if possible

[2020-10-26 12:34] #16071 closed

[2020-10-26 12:35] #16073 closed

[2020-10-26 12:38] #16080 closed

[2020-10-26 12:42] amyblais commented on #12246
I think I'm not able to reproduce this on iOS, @josephbaylon can you verify this on Android?

[2020-10-26 13:54] #15944 closed

[2020-10-26 14:03] #15813 closed

[2020-10-26 14:12] wijayaerick commented on #16075
Hi, can I tackle this?

[2020-10-26 14:51] hmhealey commented on #16023
@sudheerDev might have a better idea of how to do that. I think there's a "real" way to test system notices, but there might be something simpler we can do to just test their appearance like commenting out an if statement somewhere

[2020-10-26 17:19] KrishnaSindhur commented on #16076
I can look into it

[2020-10-26 20:46] arjunagl commented on #15249
@agnivade ☝️ is the link to the draft PR, please have a look.  I have added the `pool` into the model layer in order to minimise
 imports.  Let me know if you prefer it in the app layer, however this would mean changes to the imports.

[2020-10-26 20:49] #15759 closed

[2020-10-26 21:01] #15946 closed

[2020-10-26 22:23] #15675 closed

[2020-10-26 23:24] #14256 closed

[2020-10-27 08:59] #15939 closed

[2020-10-27 09:41] vipul08 commented on #15440
![image](https://user-images.githubusercontent.com/351564/97284172-b954b800-1866-11eb-885a-c872f86475cf.png)

[2020-10-27 09:49] vipul08 commented on #15440
I am left with these 3 errors; this is the general error for **missing property** for the 3 components rendered in `PostBody`.

I wanted to know how can I get these values which is required for the respective `props`.

**Proposed Solution**: I can define the required property into `mapStateToProps` || `mapDispatchToProps` of `index.ts` in **post_body** and get it in the `PostBody` component.

For

[2020-10-27 09:55] vipul08 commented on #15930
@esethna - I have a general query.

Should I start implementing the new feature or first discuss the potential solution ?

In the second case to whom should I connect to? Let me know your thoughts.

[2020-10-27 11:00] sudheerDev commented on #16023
@reginaalyssa Hey, the set up for notices is tricky.

The easiest way in this case is to assign the mock array obj in the gist https://gist.github.com/sudheerDev/1b063e7f8e99ce10dc726f0b8df6a963 to `data` variable in https://github.com/mattermost/mattermost-webapp/blob/692c46a49c5d435b26c49bbe763f381020e0faea/components/product_notices_modal/product_notices_modal.tsx#L78

This way you should see a

[2020-10-27 13:29] akshaychhajed commented on #16078
may i give this a shot ?

[2020-10-27 13:33] akshaychhajed commented on #16077
@mgdelacroix may i attempt this ?

[2020-10-27 14:05] #12960 closed

[2020-10-27 14:23] reginaalyssa commented on #16023
Hi @hmhealey and @sudheerDev thanks for the help! I still can't seem to view any notices, should it just pop up as I visit a random page?

Also, are product notices the same as system notices? The component I'm trying to surface is found at `components/system_notice/system_notice.jsx` Thanks again!

[2020-10-27 14:34] #16025 closed

[2020-10-27 14:40] sudheerDev commented on #16023
@reginaalyssa Can you check if system console settings > site configuration > notices settings are turned on

<img width="1283" alt="Untitled" src="https://user-images.githubusercontent.com/4973621/97316987-5ed05180-1890-11eb-86a3-421dbc62cfc0.png">

[2020-10-27 14:52] hanzei commented on #15682
Fixed with https://github.com/mattermost/mattermost-webapp/pull/6600

[2020-10-27 14:52] #15682 closed

[2020-10-27 14:52] esethna commented on #15930
@vipul08 please join us here to discuss the solution before you start coding :)

https://community.mattermost.com/core/channels/emoji-skin-tone-selector

[2020-10-27 14:55] reginaalyssa commented on #16023
Hi @sudheerDev yes they are set to true! I figured out how to make the system notice appear. :)

I checked `components/system_notice/system_notice.test.jsx` and copied the `notices` from there: `[{name: 'notice1', adminOnly: false, title: 'some title', icon: mattermostIcon, body: 'some body', allowForget: true, show: () => true}]`

I pasted it into the `getCurrentNotice` portion of the file `compo

[2020-10-27 15:18] sudheerDev commented on #16023
Sorry they are different, You have to look for `product_notices_modal.tsx#L78`

and the notice will look like
<img width="760" alt="Untitled" src="https://user-images.githubusercontent.com/4973621/97322132-7eb64400-1895-11eb-8255-f74b70a3af59.png">

And the changes for hardcoding will look like
<img width="1176" alt="Untitled" src="https://user-images.githubusercontent.com/4973621/97322325-af96790

[2020-10-27 15:19] #14001 closed

[2020-10-27 15:49] ybudimirov opened #16097 "Images in Markdown not showing if enabled local proxy"
#### Summary
Images in Markdown not showing

#### Steps to reproduce
**OS: Ubuntu 18.04.3 LTS
Mattermost Version: 5.28.1 (docker)**
AllowedUntrustedInternalConnections set to server private ip: 172.30.0.x/32
Enable image proxy: SystemConsole->Environment->image proxy
Send message:
`
![test](https://camo.githubusercontent.com/6db5a07d93819ee616798a5448d0b1c1746f6b45/68747470733a2f2f6564656e742e6769

[2020-10-27 16:31] mickmister commented on #15957
For this task, it may be appropriate to use the `MultiSelect` component defined in [components/multiselect/multiselect.jsx](https://github.com/mattermost/mattermost-webapp/blob/12044aa0a61dbfc26fddca66a2802ee3190a7155/components/multiselect/multiselect.jsx). If it doesn't fit the task, we can use the [`ReactSelect`](https://github.com/mattermost/mattermost-webapp/blob/12044aa0a61dbfc26fddca66a2802

[2020-10-27 17:02] carlspring opened #16099 "Autoscrolling when a new message has been received does not work and a pop-up is displayed"
#### Summary

Each time I get a new message in a window that I'm already chatting, I get a link to scroll down to the "latest messages". I was already at the bottom of the list of messages and there were no new messages. This is happening constantly since we upgraded to 5.28.1.

[code]

#### Steps to reproduce

User 1 sends message to User 2 (when User 2 is already at the bottom of the message lis

[2020-10-27 17:15] amyblais commented on #16099
@carlspring What environment are you on (OS and version)?
Do you see any errors in server logs or in the developer console?
Which version did you upgrade from?

[2020-10-27 17:15] amyblais commented on #16097
@ybudimirov What environment are you on (OS and version)?
Do you see any errors in server logs or in the developer console?
Which version did you upgrade from?

[2020-10-27 18:35] aaronrothschild commented on #15957
@mickmister how can @abhijit-singh help with designing the interaction for this multi-select?

[2020-10-27 19:22] hmhealey commented on #15903
@lestgabo If you're still interested in working on this, we think our best bet going forward is to use a JS-based solution to highlight the category headers on hover.

We're thinking that we can do it by adding a CSS class manually when dragging over the element since :hover doesn't work. If react-beautiful-dnd doesn't provide an event we can listen for when dragging over a Droppable element, we m

[2020-10-27 19:30] mattermod opened #16100 "MM-24056 Draft channels should remain visible in the new sidebar when categories are collapsed"
With the experimental sidebar enabled (System Console > Experimental > Features > Experimental Sidebar Features), channel categories can be collapsed in the sidebar to only show unread categories.

This should be changed to also display channels with a saved draft message while the category is collapsed. Note that this needs to change when displaying the channels and in the results of the [getChan

[2020-10-27 20:18] esethna commented on #14256
Thanks @lestgabo! Nice work!

[2020-10-27 20:19] esethna commented on #15823
Thansk @sowmiyamuthuraman! Nice work!

[2020-10-27 21:59] carlspring commented on #16099
Hi,

I have:
[code]

No errors in the log that I can see.

[2020-10-27 22:14] Jonany commented on #15160
Thanks, Harrison. I'm unassigning myself to give others a chance to work on it. It's been slow going so far due to recurring issues with my dev environment and I'll be much busier over the next few weeks.

What I have found is that the link tooltip is shown/hidden via jQuery `show()`/`hide()` using a 400ms transition. React or Vanilla JS functions will need to be used to replicate the `show()`/`hi

[2020-10-27 23:14] lestgabo commented on #15903
@hmhealey the code i believe is already using js to dynamically add a class when being dragged with react-beatiful-dnd. it maybe has to be placed in a different scope to only cover the header only.

Please go ahead and open it up for someone else! it is an interesting problem that I have already moved on from.

[2020-10-28 02:18] reginaalyssa commented on #16023
Thank you @sudheerDev, I have already figured out how to surface the System Notice instead of the Product Notice as it is the system notice that I needed to check as shown below.

![image](https://user-images.githubusercontent.com/14865943/97382667-cc1ec980-1906-11eb-9b91-dc12daa4e656.png)

Already opened a PR for this at https://github.com/mattermost/mattermost-webapp/pull/6938 thanks!

[2020-10-28 03:54] arjunagl commented on #15249
@agnivade I have created a draft PR based on your comments on putting the Sync.Pool into the app layer.  Please have a look and let me know if this is heading in the direction you expect.

On a side note I don't think the code block `if msgpVal, ok := value.(msgp.Unmarshaler); ok` evaluates to `true` currently for the `Session` object since value is actually `**Session`.  Let me know if you want m

[2020-10-28 04:04] agnivade commented on #15249
Yep, this is the right direction.

That's because you are passing a pointer to a pointer again here: `sessionCache.Get(token, &session)`. We need to change that to just pass `session`.

[2020-10-28 04:08] arjunagl commented on #15249
Great, thanks, I will continue my work then,

Actually before my change as well it was passing a pointer to a pointer, not sure how that worked, anyways I can change it.

[2020-10-28 04:13] agnivade commented on #15249
Yes that was the reason for the whole casting to `**` business. It was working because we were just passing it as `interface{}` and the serialization library will accept anything you give to it.

[2020-10-28 06:07] ybudimirov commented on #16097
@amyblais  Thank you for help!
OS: Ubuntu 18.04.3 LTS
Added logs to first post.
Upgraded from: 5.23

AllowedUntrustedInternalConnections is set to server internal ip: 172.30.0.199

[2020-10-28 07:32] s1lviu opened #16104 "Mattermost server killed: plugin failed to exit gracefully"
[code]

[2020-10-28 10:07] sudheerDev commented on #16023
@reginaalyssa Aah, Thank you. I thought hmhealey meant product notices. My bad. Sorry about that and thank you for the PR!

[2020-10-28 12:09] rgauthierassystem opened #16107 "Password Restriction not taken into account when create Email/Password account"
#### Summary
Password Restriction not taken into account when create Email/Password account

#### Steps to [reproduce]
Activate GoogleSSO login
Change password restriction
Logout
Create a new account, the password restriction are not taken into account

#### Expected behavior
The password restrictions should be taken into account.

#### Observed behavior (that appears unintentional)
The new restri

[2020-10-28 12:09] rgauthierassystem commented on #16107
V5.24.3 of mattermost E20

[2020-10-28 12:29] amyblais commented on #16104
@s1lviu What environment are you on (OS and version)?
What Mattermost server version are you on?
What are the reproduction steps that led to this error?

[2020-10-28 14:44] hmhealey commented on #15903
Okay. Thanks for your help getting this far! 🙂

[2020-10-28 14:47] amyblais commented on #16068
@nerzhul I asked our team and our dev mentioned that this is a known fact. We don't use foreign keys to enforce referential integrity. This was a conscious choice motivated by performance reasons. This can of course lead to issues when people manually delete DB entries. To mitigate this we have an integrity check CLI command to aid system admins in checking their DB state (https://docs.mattermost.

[2020-10-28 14:51] hmhealey commented on #15160
Thanks for the info and for your work on this so far. It'll definitely be helpful for whoever picks this up!

[2020-10-28 14:59] hmhealey commented on #15440
That's definitely an option, but I'd prefer to not make the PostBody responsible for those actions if possible, especially since those components will eventually be migrated to TypeScript as well.

What you can do instead is to remove the `.isRequired` from those props and leave a comment on them so that whoever migrates those in the future will know to make them required again. I believe that's w

[2020-10-28 15:41] #15852 closed

[2020-10-28 15:41] #15854 closed

[2020-10-28 17:25] hmhealey commented on #16023
Sorry about that. I didn't realize those were two different things. Good to hear you found the right component though.

I'm going to let UX know since they might want to consolidate those in the future :p

[2020-10-28 18:07] amyblais commented on #15295
@robert-scheck An update: testing was completed and all Postgres 10, 11 and 12 versions passed and are working.

[2020-10-28 18:22] lindy65 opened #16109 "Help test Mattermost's Apps"
### What is exploratory testing?

Exploratory testing is the approach, to an application’s evaluation, which integrates three things – exploration of the application with design of test scenarios and beginning of the actual testing process. Unlike pre-scripted instructions, exploratory testing needs a tester to listen, read, think and report, effectively and rigorously, thus making this approach a

[2020-10-28 19:53] robert-scheck commented on #15295
Cool! Now, only the documentation needs to be clarified. My proposal is:

[2020-10-28 20:36] mickmister commented on #15957
@aaronrothschild @abhijit-singh

I think the styling of the select itself could be similar to the [direct message selector](https://github.com/mattermost/mattermost-webapp/blob/7d3af589fafdb43211e04c21459295ee0ea23c4a/components/more_direct_channels/more_direct_channels.tsx#L473).

![image](https://user-images.githubusercontent.com/6913320/97492856-84199a00-193a-11eb-934e-349c39c6d511.png)

Here a

[2020-10-28 23:38] Roy-Orbison opened #16113 "Webhooks cannot direct message the user who created the webhook"
#### Summary
Exactly as mentioned in the [known Slack compatibility issues][0], an incoming webhook that a user creates cannot direct message that user.

#### Steps to reproduce
Create a webhook and try to limit it to direct messages.

#### Expected behavior
Be able to select DMs from _Channel_ dropdown.

#### Observed behavior (that appears unintentional)
Can only select actual, named channels.

[2020-10-29 01:52] sailfish009 opened #16114 "Can't use Special Characters in password"
#### Summary
Can't use Special Characters in password

#### Steps to reproduce
set password with special character when register account

#### Expected behavior
should have to logged in without any problem.

#### Observed behavior (that appears unintentional)
login failed, log attempt locked, reset email didn't worked.
finally reset admin password with command.

#### Possible fixes
currently only

[2020-10-29 03:02] mickmister commented on #15214
We could handle this on the given plugin's side. For any new DM notification, check if the user's `ChannelMembers` includes that role. If it doesn't, add the role to the `ChannelMembers` struct. I think the frequency of the DMs is low enough that it would not matter that we look it up every time.

[2020-10-29 12:44] amyblais commented on #16114
@sailfish009 What environment are you on (OS and version)?
What Mattermost server version are you on?

[2020-10-29 12:45] mattermod opened #16119 "Migrate 'components/announcement_bar/default_announcement_bar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/announcement*bar/default_announcement*bar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (

[2020-10-29 12:45] mattermod opened #16120 "Migrate 'components/integrations/installed_outgoing_webhook.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`

[2020-10-29 12:45] mattermod opened #16121 "Migrate 'components/integrations/installed_outgoing_webhooks' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/installed*outgoing*webhooks` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-10-29 12:45] mattermod opened #16122 "Migrate 'components/integrations/installed_oauth_app' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/installed*oauth*app` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-10-29 12:45] mattermod opened #16123 "Migrate 'components/integrations/confirm_integration' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/confirm_integration` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-10-29 12:45] mattermod opened #16124 "Migrate 'components/integrations/add_incoming_webhook' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/add*incoming*webhook` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-10-29 12:45] mattermod opened #16125 "Migrate 'components/integrations/installed_incoming_webhooks' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/installed*incoming*webhooks` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-10-29 12:45] mattermod opened #16126 "Migrate 'components/integrations/edit_command' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/edit_command` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `

[2020-10-29 12:45] mattermod opened #16127 "Migrate 'components/integrations/add_command' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/add_command` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2020-10-29 12:45] mattermod opened #16128 "Migrate 'components/integrations/bots' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/bots` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-10-29 12:45] mattermod opened #16129 "Migrate 'components/integrations/bots/add_bot' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/bots/add_bot` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `

[2020-10-29 12:45] mattermod opened #16130 "Migrate 'components/integrations/commands_container' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/commands_container` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2020-10-29 12:45] mattermod opened #16131 "Migrate 'components/integrations/installed_commands' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/installed_commands` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2020-10-29 12:45] mattermod opened #16132 "Migrate 'components/integrations/add_oauth_app' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/add*oauth*app` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-10-29 12:45] mattermod opened #16133 "Migrate 'components/integrations/installed_oauth_apps' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/installed*oauth*apps` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-10-29 12:45] mattermod opened #16134 "Migrate 'components/integrations/edit_oauth_app' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/edit*oauth*app` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-10-29 12:45] mattermod opened #16135 "Migrate 'components/integrations/add_outgoing_webhook' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/integrations/add*outgoing*webhook` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2020-10-29 12:45] mattermod opened #16136 "Migrate 'components/channel_header_dropdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header*dropdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2020-10-29 12:45] mattermod opened #16137 "Migrate 'components/channel_header_dropdown/menu_items/close_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_dropdown/menu_items/close*channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2020-10-29 12:45] mattermod opened #16138 "Migrate 'components/channel_header_dropdown/menu_items/toggle_mute_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_dropdown/menu_items/toggle_mute*channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript ex

[2020-10-29 12:45] mattermod opened #16139 "Migrate 'components/channel_header_dropdown/menu_items/toggle_favorite_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_dropdown/menu_items/toggle_favorite*channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScrip

[2020-10-29 12:45] mattermod opened #16140 "Migrate 'components/channel_header_dropdown/menu_items/leave_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_dropdown/menu_items/leave*channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2020-10-29 12:45] mattermod opened #16141 "Migrate 'components/channel_header_dropdown/menu_items/view_pinned_posts' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_dropdown/menu_items/view_pinned*posts` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript exte

[2020-10-29 12:45] mattermod opened #16142 "Migrate 'components/channel_view' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel_view` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`

[2020-10-29 12:45] mattermod opened #16143 "Migrate 'components/reset_status_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/reset*status*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-10-29 12:45] mattermod opened #16144 "Migrate 'components/claim' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/claim` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
- [ ]

[2020-10-29 12:45] mattermod opened #16145 "Migrate 'components/edit_post_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/edit*post*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `t

[2020-10-29 12:45] mattermod opened #16146 "Migrate 'components/terms_of_service' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/terms*of*service` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2020-10-29 12:45] mattermod opened #16147 "Migrate 'components/password_reset_form' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/password*reset*form` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-10-29 12:45] mattermod opened #16148 "Migrate 'components/post_markdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/post_markdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2020-10-29 12:45] mattermod opened #16149 "Migrate 'components/youtube_video' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/youtube_video` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2020-10-29 12:45] mattermod opened #16150 "Migrate 'components/channel_notifications_modal/channel_notifications_modal.jsx' and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel_notifications_modal` (including the `components` sub-directory) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `

[2020-10-29 12:45] mattermod opened #16151 "Migrate 'components/external_image' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/external_image` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2020-10-29 12:45] mattermod opened #16152 "Migrate 'components/user_profile' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_profile` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`

[2020-10-29 12:46] mattermod opened #16153 "Migrate 'components/logged_in' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/logged_in` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
-

[2020-10-29 12:46] mattermod opened #16154 "Migrate 'components/add_groups_to_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/add*groups_to_channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-10-29 12:46] mattermod opened #16155 "Migrate 'components/channel_selector_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*selector*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2020-10-29 12:46] mattermod opened #16156 "Migrate 'components/channel_header_mobile' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header*mobile` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-10-29 12:46] mattermod opened #16157 "Migrate 'components/channel_header_mobile/collapse_lhs_button' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_mobile/collapse_lhs*button` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-10-29 12:46] mattermod opened #16158 "Migrate 'components/channel_header_mobile/unmute_channel_button' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_mobile/unmute_channel*button` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (i

[2020-10-29 12:46] mattermod opened #16159 "Migrate 'components/channel_header_mobile/channel_info_button' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_mobile/channel_info*button` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-10-29 12:46] mattermod opened #16160 "Migrate 'components/channel_header_mobile/collapse_rhs_button' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_mobile/collapse_rhs*button` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-10-29 12:46] mattermod opened #16161 "Migrate 'components/channel_header_mobile/show_search_button' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*header_mobile/show_search*button` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-10-29 12:46] mattermod opened #16162 "Migrate 'components/quick_switch_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/quick*switch*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-10-29 12:46] mattermod opened #16163 "Migrate 'components/sidebar_right_menu' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/sidebar*right*menu` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-10-29 12:46] mattermod opened #16164 "Migrate 'components/analytics/system_analytics' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/analytics/system_analytics` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-10-29 12:46] mattermod opened #16165 "Migrate 'components/analytics/team_analytics' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/analytics/team_analytics` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2020-10-29 12:46] mattermod opened #16166 "Migrate 'components/announcement_bar/configuration_bar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/announcement*bar/configuration*bar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2020-10-29 12:46] mattermod opened #16167 "Migrate 'components/announcement_bar/version_bar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/announcement*bar/version*bar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`

[2020-10-29 12:49] amyblais commented on #16050
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-30094

[2020-10-29 12:56] amyblais commented on #16099
I wasn't able to reproduce this so far. Is this happening with all users on your server? Is this happening consistently?

[2020-10-29 12:57] amyblais commented on #16107
@rgauthierassystem We support server versions v5.25 and above. Would you be open to upgrading to a newer version and then see if you can still reproduce this?

[2020-10-29 13:05] amyblais commented on #16097
@hmhealey Would you be familiar with the errors here?

[2020-10-29 13:12] amyblais commented on #16099
@sudheerDev Would you be able to help take a look at this?

[2020-10-29 13:14] sudheerDev commented on #16099
@carlspring Can you replicate this on incognito?

[2020-10-29 13:17] amyblais commented on #16113
@levb / @mickmister Do we have a ticket for this or should I create one?

[2020-10-29 13:47] rgauthierassystem commented on #16107
We are upgrading our AWS infrastucture deploy process to include mattermost updates but it is not yet complete.
Is it a know bug for releases before 5.25? If you have more information or a quick fix it would be great to have the info.
Otherwise I will keep you posted as soon as we upgrade the version to 5.28 since this is blocking for us.

[2020-10-29 13:49] hanzei commented on #16028
@oliverJurgen It seems like @1jz already submitted https://github.com/mattermost/mattermost-webapp/pull/6915 to fix this issue. I'm sorry we made you think that this ticket was up for grabs.

[2020-10-29 13:49] #16028 closed

[2020-10-29 13:51] amyblais commented on #16107
@lindalumitchell Is this something that's included in monthly release testing or do you know if someone on QA would be able to verify this?

[2020-10-29 14:40] oliverJurgen commented on #15869
is it ok to take this? its been 21 days

[2020-10-29 14:49] ilhan-mstf commented on #15869
@oliverJurgen Hi, I'll do it. I know that it's been too much time. Please give me a couple of days. If I couldn't do it, I'll let you know.

[2020-10-29 14:51] oliverJurgen commented on #15869
oh ok2 sure

[2020-10-29 16:19] #13693 closed

[2020-10-29 17:19] #15448 closed

[2020-10-29 18:32] d3fau7t commented on #16165
I'm interested in picking this one up :)

[2020-10-29 19:20] tianlangwu commented on #16167
I would like to work on this, could you assign it to me?

[2020-10-29 19:21] morganrconnolly commented on #16119
I'd like to work on this C:

[2020-10-29 20:48] KevinMarioGerard commented on #16163
Hi. Can I take a shot at this?

[2020-10-29 20:58] snhardin commented on #16166
Happy Hacktoberfest! I would like to take this issue if it's still up for grabs.

[2020-10-29 21:09] kcc343 commented on #16142
Hi can I take this one?

[2020-10-29 21:15] kcc343 commented on #16143
Hi can I also take this one as well?

[2020-10-29 21:29] morganrconnolly commented on #16147
I'd like to tackle this one!

[2020-10-29 22:05] carlspring commented on #16099
I've tried different settings and the problem seems to occur on HiDPI screens with gnome scale at 200%. If I set scale to 100%, it works fine, but I can't read anything.

![Screenshot from 2020-10-29 22-02-44](https://user-images.githubusercontent.com/1436265/97637476-a42c8480-1a32-11eb-8f33-1a1a94c7276b.png)

[2020-10-29 22:11] Saucistophe commented on #16146
:hand:  I've began work on this!

[2020-10-29 22:11] BenjaminLevy commented on #16124
I'd like to work on this.

[2020-10-29 22:12] BenjaminLevy commented on #16127
I'd like to work on this.

[2020-10-29 22:12] BenjaminLevy commented on #16132
I'd like to work on this.

[2020-10-29 22:12] BenjaminLevy commented on #16135
I'd like to work on this.

[2020-10-29 22:50] Ampit commented on #16164
Can i work on this ?

[2020-10-29 22:58] sailfish009 commented on #16114
$ /opt/mattermost$ sudo -u mattermost ./bin/mattermost version

[code]

[2020-10-29 23:19] amyblais commented on #16114
What are your password settings set to https://docs.mattermost.com/administration/config-settings.html#password-requirements?

[2020-10-30 00:19] Saucistophe commented on #16159
:hand: I'm on it!

[2020-10-30 01:22] fmahmud4 commented on #16026
ill take this

[2020-10-30 01:25] carlspring commented on #16099
I forgot to mention, yes, this also happens in incognito mode.

An interesting observation is that if you switch to another window and somebody messages you in the meantime, this issue always happens.

[2020-10-30 01:30] fmahmud4 commented on #16123
ill take this

[2020-10-30 09:00] mattermod opened #16169 "LRU cache: consider doing serialization/deserialization operations out of critical section"
Our LRU cache get/set calls do the entire operation inside the critical section. But that’s really not necessary. Only the components of the LRU cache need to be guarded.

The serialization/deserialization operations can move outside the locked sections to possibly ease the lock contention time and increase overall throughput.

----
If you're interested please comment here and come [join our "Cont

[2020-10-30 09:07] agnivade commented on #16169
/cc @Leryan @rvillablanca in case any of you are interested.

If anyone wants more help/clarification, please feel free to comment here and I can clarify further.

[2020-10-30 09:08] tweichart commented on #16162
I'd like to work on this one 😀

[2020-10-30 10:41] akshaychhajed commented on #16169
@agnivade I would like to try my hand at this.
I believe changes would be inside /services/cache/lru.go ?
Let me know.

[2020-10-30 10:49] Revanth47 commented on #16157
Hi - I've raised a [PR ](https://github.com/mattermost/mattermost-webapp/pull/6971) for this issue.

[2020-10-30 10:50] Revanth47 commented on #16160
Hi - I've raised a [PR ](https://github.com/mattermost/mattermost-webapp/pull/6970) for this issue.

[2020-10-30 10:51] Revanth47 commented on #16161
Hi - I've raised a [PR](https://github.com/mattermost/mattermost-webapp/pull/6969) for this issue.

[2020-10-30 11:34] Revanth47 commented on #16158
Hi - I've raised a [PR](https://github.com/mattermost/mattermost-webapp/pull/6972) for this issue.

[2020-10-30 12:35] hanzei commented on #15887
@chainvisions Heads up that  @oliverJurgen already submitted a PR of this issue. I'v unassigned you.

@oliverJurgen Could you please in the future leave a short comment in the issue before you start working on it? I would like to avoid multiple PRs for the same issue as much as possible.

[2020-10-30 12:54] amyblais commented on #16114
What login method do you use (e.g. email and password, SAML, etc.?)
Do you see any server log or console errors?

[2020-10-30 13:47] #13487 closed

[2020-10-30 14:47] agnivade commented on #16169
Yep, that's correct!

[2020-10-30 15:39] sailfish009 commented on #16114
normal password combination like "pwgen -sy" (length 16)

Do you see any server log or console errors?

yeah, some golang url error message, i don't remember right now.

[2020-10-30 16:29] amyblais commented on #16114
Thanks, is there any other information you can help share about your environment or reproduction steps that could help me reproduce this?

[2020-10-30 19:07] Revanth47 commented on #16156
Hi - I've added a [PR](https://github.com/mattermost/mattermost-webapp/pull/6975) for this issue.

[2020-10-30 19:45] oliverJurgen commented on #15887
apologies,sure will do that.

[2020-10-30 19:47] hmhealey commented on #16097
This error is the one that looks the most important. In that case, did you post the `https://camo.githubusercontent.com` link or did you post `http://mattermost.example.com/api/v4/image?...` as the image there?

When I post the example you have above with the local image proxy enabled, it works fine for me without setting AllowedUntrustedInternalConnections.

[2020-10-30 19:53] deanwhillier opened #16173 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 702"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16174 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 704"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16175 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 705"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16176 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 706"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16177 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 707"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16178 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 708"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16179 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 709"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16180 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 710"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16181 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 712"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 19:53] deanwhillier opened #16182 "Migrate changeCSS() to CSS variable in utils/utils.jsx, ln. 719"
## Context:

We are working on replacing our older custom theme implementation (`applyTheme()`) currently used to change component colors throughout the webapp to match the selected theme. We have decided to utilize CSS variables as a replacement and so we now need to replace all occurances of `changeCSS()` within the `applyTheme()` function with corresponding CSS variables directly in the CSS fil

[2020-10-30 20:11] #16160 closed

[2020-10-31 00:02] swatikothari commented on #16153
I'm interested in this one

[2020-10-31 04:17] oliverJurgen commented on #16182
would like to take this

[2020-10-31 06:07] hanzei commented on #15624
Fixed with https://github.com/mattermost/mattermost-server/pull/15765

[2020-10-31 06:07] #15624 closed

[2020-10-31 07:11] swatikothari commented on #16153
Working on a PR on this. Couldn't assign myself.

[2020-10-31 09:10] ilhan-mstf commented on #16181
I would like to work on this issue.

[2020-10-31 09:21] swatikothari commented on #16149
Working on this one, please assign when possible.

[2020-10-31 09:33] akshaychhajed commented on #16174
@deanwhillier I would like to try this

[2020-10-31 11:35] akshaychhajed commented on #16169
Ok. I will work on this.
Thank you @agnivade @Leryan @rvillablanca

[2020-10-31 17:50] Manimaran11 commented on #16173
@deanwhillier I would like to look into this issue

[2020-10-31 18:47] HeroicHitesh commented on #16180
@deanwhillier Sent a PR that fixes this issue.

[2020-10-31 23:57] IanvsPoplicola commented on #16179
Hi there, I've submitted a PR for this, please let me know if any further change is needed 😃

[2020-11-01 00:42] IanvsPoplicola commented on #16179
I've noticed similar open issues for `.popover.left`, `.popover.right`, and `.popover.bottom` - should I push commits for those to the same PR, or should there be one PR for each issue?

[2020-11-01 00:42] IanvsPoplicola commented on #16176
I submitted a PR for this :)

[2020-11-01 00:43] ylluminate opened #16185 "Image / gif URLs render less cleanly on Mattermost than Discord"
When some images are shared on Discord via their GIF function a nice simple GIF is displayed. Example:

URL: https://tenor.com/view/h%c3%a2m-frog-toad-frog-l%e1%ba%afc-wiggle-gif-14557565
Screenshot:
![example](https://p153.p0.n0.cdn.getcloudapp.com/items/kpuwegy2/Image%202020-10-31%20at%208.40.36%20PM.png)

This URL is rendered with text and not just the image (arguably much less effective) in Ma

[2020-11-01 04:54] IanvsPoplicola commented on #16178
Submitted a PR for this 😁

[2020-11-01 05:04] IanvsPoplicola commented on #16177
Submitted a PR for this 😁

[2020-11-01 05:12] IanvsPoplicola commented on #16175
Submitted a PR for this 😁

[2020-11-01 05:13] IanvsPoplicola commented on #16179
I opened a PR for each of these issues for now, I think that's the clearer way to do it, hopefully that's okay.

[2020-11-01 05:16] taikim8484 opened #16187 "System Console item is missing after server migration."
Hi everyone!

I have just migrated my own Mattermost server from a k8s cluster to the other.
But then, my root system admin account is missing System Console item in the menu list.
I'm unable to access system console via https://server/admin_console directly as well, it thrown 403, please check the attachment below.
![alt text](https://i.ibb.co/ssLfsf0/Screen-Shot-2020-11-01-at-12-12-36.png "Logo

[2020-11-01 14:21] sailfish009 commented on #16114
OS: ubuntu 20.10 64bit
DB: postgresql 13

[2020-11-01 19:16] jasonblais commented on #15355
The plugin submission period has now ended.

[2020-11-01 19:16] #15355 closed

[2020-11-01 19:17] jasonblais commented on #15354
The plugin submission period has now ended.

[2020-11-01 19:17] #15354 closed

[2020-11-01 19:17] jasonblais commented on #15353
The plugin submission period has now ended.

[2020-11-01 19:17] #15353 closed

[2020-11-01 19:17] jasonblais commented on #15352
The plugin submission period has now ended.

[2020-11-01 19:17] #15352 closed

[2020-11-01 19:17] jasonblais commented on #15351
The plugin submission period has now ended.

[2020-11-01 19:17] #15351 closed

[2020-11-01 23:03] makayabou commented on #15606
Is it possible to continue the conversation and re-open the issue ( @Breee ) ?
I agree that SSO is not for big teams exclusively. As a small team, we can use several services so it would be very convenient to implement SSO.
Also, for non-profit organizations with a lot of members but who want to self host their tools, it makes sense to use Team Edition..

[2020-11-01 23:37] Breee commented on #15606
Sure, in fact you can use it already with keycloak, but you have to use the
gitlab Client, as described here:

https://medium.com/@mrtcve/mattermost-teams-edition-replacing-gitlab-sso-with-keycloak-dabf13ebb99e

Which requires some extra work or even scripting, as you have to store a
field named ID in the userinfo, which is a unique long for each User.
You have to add this as Attribute to each key

[2020-11-02 10:07] #15698 closed

[2020-11-02 10:53] ybudimirov commented on #16097
@hmhealey  Thank you for your reply!

Issue was related to the Site URL.
SystemConsole->Environment->Web Server -> Site URL:
Changed url from http:// to https:// and now Markdown image works fine.

If you need you can replicate the same behavior via next steps:
[code]

[2020-11-02 10:54] #16097 closed

[2020-11-02 11:51] hanzei commented on #16149
All yours @swatikothari :+1:

[2020-11-02 11:52] hanzei commented on #16153
@swatikothari Thanks for the PR, just assigned you to this issue

[2020-11-02 12:05] hanzei commented on #16175
Thanks @IanvsPoplicola :+1:

[2020-11-02 12:33] #16004 closed

[2020-11-02 12:34] #15815 closed

[2020-11-02 12:36] #13486 closed

[2020-11-02 13:35] amyblais commented on #16061
### v5.29 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.29.0-rc1/mattermost-team-5.29.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4017/files)

[2020-11-02 13:51] egrinberg commented on #16155
Hey, I would like to work on it.

[2020-11-02 14:10] amyblais commented on #16187
@taikim8484

1. Have you had a chance to take a look at our troubleshooting guide related to websockets https://docs.mattermost.com/install/troubleshooting.html#server-administration?
2. Are there any server log errors you can share?

[2020-11-02 16:33] aaronrothschild commented on #15957
Functional requirements:
- Allow a user to choose from a list of values
- allow a user to search that list of values easily and filter the results
- Allow the developer to specify the maximum number of selections (optional) and should tell the user how many items they can have
- Allow a developer to specify the minimum number of items to be selected (default 1?)
- Sort the results alphabetically

[2020-11-02 18:42] AlexanderKAdams opened #16191 "No Authentication on Interactive Messages"
#### Summary
Interactive message actions carry no authentication token in their header.

#### Steps to reproduce
Mattermost 5.28.1, with an interactive command (likely any API use), create an interactive message that responds back to the server where the call came from. Execute an action and examine the post request sent by Mattermost.

#### Expected behavior
When Mattermost makes a call to my int

[2020-11-02 18:59] Ampit commented on #16154
Can i work on this ?

[2020-11-02 20:03] #16191 closed

[2020-11-02 20:04] AlexanderKAdams commented on #16191
Re-read different API areas and found how to attach a key, is not a code mistake

[2020-11-02 21:02] hmhealey commented on #16179
Yep, separate PRs work. It's a bit of extra work, but it definitely makes reviews easier on our end.

[2020-11-02 21:16] mickmister commented on #16113
@amyblais I'm not aware of a Jira ticket for this, but I think it makes sense to discuss the UX here with @Roy-Orbison.

Automated DMs usually come from a bot user in the DM channel between the user and the bot user, so putting these webhook messages into a self-DM channel seems a bit off to me. The incoming webhooks allow you to specify the `username` that is used to create the post, which could

[2020-11-02 21:29] hmhealey commented on #16097
Thanks for the heads up. That makes sense that that would help. The server has some code in it to prevent it from trying to add the image proxy to image URLs that are already going through the image proxy. Since the Site URL was incorrect, it must've tried to load the already-proxied image URL through the image proxy which would definitely confuse things.

[2020-11-02 22:26] #15998 closed

[2020-11-02 22:27] #16003 closed

[2020-11-02 22:28] #13489 closed

[2020-11-02 22:29] #15459 closed

[2020-11-02 22:45] pablovelezvidal commented on #16141
I want to take this one, please assign it to me!

[2020-11-03 00:04] Roy-Orbison commented on #16113
I agree that it's a bit off using a self-direct-message channel, I surmised that the inability to message oneself via a hook was a technical deficiency, and using that method would work around it, at least until a better solution is available.

I have an extra user account on our server that is used only for integrations, a pseudo-bot account named as such. If I send a DM to myself through an inco

[2020-11-03 04:06] seongwon-kang commented on #16185
![image](https://user-images.githubusercontent.com/56567660/97948850-23281100-1dd5-11eb-92af-34cbec270224.png)
Image will display when you upload image url directly. I didn't tested this on Discord, It works like your screenshot when you post url? (`https://tenor.com/view/h%c3%a2m-frog-toad-frog-l%e1%ba%afc-wiggle-gif-14557565`)

[2020-11-03 08:15] mattermod opened #16199 "Add IsValid method to model.OpenDialogRequest struct"
To allow developers to debug problems with interactive, `model.OpenDialogRequest` should provide an `IsValid` method that checks if all fields are valid. The signature should be `IsValid() error`. If no error is returned, the open dialog request is valid.

`model.DialogElement` and `model.Dialog` should also have an `IsValid` method.

Validation should be based on https://docs.mattermost.com/devel

[2020-11-03 08:15] mattermod opened #16200 "Add IsValid method to model.CommandResponse struct"
To allow developers to debug problems with there slash command, `model.CommandResponse` should provide an `IsValid` method that checks if all fields are valid. The signature should be `IsValid() error`. If no error is returned, the command Response is valid.

Validation should be based on [https://developers.mattermost.com/integrate/slash-commands/#parameters](https://developers.mattermost.com/int

[2020-11-03 09:35] #16022 closed

[2020-11-03 13:01] camgraff commented on #16200
I'd like to work on this 🙂

[2020-11-03 13:12] hanzei commented on #16200
Awesome, thanks @camgraff :+1:

[2020-11-03 14:24] lieut-data commented on #16114
@sailfish009, it would be helpful if you could provide a sample password that reproduces here. It doesn't have to be the one you used originally -- just something that `pwgen` spits out and fails to work in your environment. Of course, if you are willing to abandon and share the original that caused this issue, that would be great as well!

Under the covers, we /should/ be agnostic with respect to

[2020-11-03 14:28] lieut-data commented on #16107
@rgauthierassystem, can you clarify your use of `GoogleSSO login`? Are the password restrictions honoured when `GoogleSSO` is disabled and stop working when that feature is enabled? Or are you asking if the password restrictions should apply logging in through Google?

[2020-11-03 14:31] lieut-data commented on #16099
I believe this is by design, since if the window isn't focused, it's possible to miss messages.

I suspect the issue is specific to the window scaling and calculations we do to determine if the user is scrolled to the bottom or not. @amyblais, I think we can file a ticket for this one right away, and can let the webapp team triage further.

[2020-11-03 14:36] amyblais commented on #16099
Ticket here: https://mattermost.atlassian.net/browse/MM-30234.

[2020-11-03 14:38] dizkek commented on #16151
I wanna work on this!

[2020-11-03 14:39] rgauthierassystem commented on #16107
I can try to deactivate GoogleSSO on our test environment and check if the restriction problem remains when creating accounts with only Email/Password system used by MM. I keep you posted.

[2020-11-03 14:43] carlspring commented on #16099
This used to work fine before, so I don't think the current (I assume new) design is right. It should automatically scroll down, even it you were in another window/tab and then you switch back to this. It would be great to have an option for this and to have the auto-scrolling on by default.

[2020-11-03 14:47] lieut-data commented on #16099
Thanks for the extra context, @carlspring -- cc @sudheerDev & @esethna re: autoscrolling configurability.

[2020-11-03 15:46] carlspring commented on #16099
Just to clarify -- this also happens when you're actively chatting **in the same window/tab**.

[2020-11-03 16:09] #15679 closed

[2020-11-03 16:17] esethna commented on #16099
@sudheerDev if the user is at the bottom of the channel it would be expected to keep the user at the bottom in all cases, wouldn't it?

[2020-11-03 16:26] sudheerDev commented on #16099
I guess it is a combination of gnome, and the resolution + scaling. Amy created a ticket for investigation. Gonna be tricky to debug though

[2020-11-03 16:45] mattermod opened #16204 "Channel switcher should focus first list result after a backspace"
Not a recent regression

See GIF for repro: https://i.gyazo.com/35a20c117b493fa9f322236e63e23a66.gif

Expected: First item in the results list should always keep focus when backspacing unless the user hovers the mouse or uses keyboard arrows

note: this ticket may conflict with https://mattermost.atlassian.net/browse/MM-29082

----
If you're interested please comment here and come [join our "Contr

[2020-11-03 18:59] #16033 closed

[2020-11-03 19:59] amyblais commented on #16050
If you're open to it, you could join our [Community servers' UX channel](https://community-release.mattermost.com/core/channels/ux-design) and start a discussion there to provide a little more detail into this issue so that we can get a better understanding of the problem and come up with a solution to this, thanks!

[2020-11-03 21:35] #15980 closed

[2020-11-03 21:35] #15703 closed

[2020-11-03 21:36] #15449 closed

[2020-11-03 21:56] hjek commented on #15012
Yes, the issue happens in incognito mode in Firefox, too.

I can reproduce on community.mattermost.com as well.

[2020-11-03 22:50] agusl88 opened #16206 "Stuck notifications when using multiple teams"
#### Summary
When using multiple teams, we are getting "stuck notifications" that can't be cleared. Notifications seems to be stuck server-side because it happens with all clients, and the situation is present for many users, not just one.

There seems to be always 1 stuck notification per team, because after reading the regular notifications, the unread count is always 1.

Currently my server is

[2020-11-04 00:13] TheRND opened #16207 "Log message "Failed to send welcome email on create admin user" seems misleading"
#### Summary
Log message "Failed to send welcome email on create admin user" seems misleading

#### Steps to reproduce
Create user with API call with email notifications off

#### Expected behavior
Log message does not read like it was new chat admin created

#### Observed behavior (that appears unintentional)
Message are misleading now

#### Possible fixes
Change message to something like "Failed

[2020-11-04 04:38] seongwon-kang commented on #16185
I tests this now, Discord transforms url into gif automatically.

[2020-11-04 08:01] seongwon-kang commented on #15705
I'm working on this.

[2020-11-04 08:01] seongwon-kang commented on #15700
I'm working on this.

[2020-11-04 08:08] seongwon-kang commented on #15705
We can't ensure the browser has at least two tabs open, because of [Trade off](https://docs.cypress.io/guides/references/trade-offs.html) of Cypress, isn't it?

[2020-11-04 09:13] #15823 closed

[2020-11-04 11:35] #15686 closed

[2020-11-04 14:25] amyblais commented on #16206
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-30269

[2020-11-04 14:28] amyblais commented on #16207
Opened a ticket: https://mattermost.atlassian.net/browse/MM-30270

[2020-11-04 15:42] olafur-palsson commented on #7921
I stumbled upon this issue, I believe that having upper-case letters allowed can have compatibility issues down the line for GitHub. Colleague of mine wants to use his name `npm publish` and `npm login` when using the GitHub packages feature. It's not possible as of now.

[2020-11-04 16:45] mattermod opened #16211 "Use CTRL/CMD + Alt + K to insert markdown link formatting"
When a user has text selected in the message composition areas (center pane or right-hand side) and hits **CTRL + Alt + K* (Windows) or *CMD + Option + K** (Mac) then insert the link markdown formatting around the selected text:

[code]

Note after using the shortcut, the cursor should be placed inside the round brackets so the user can immediately paste a link.

There was a similar PR done for bo

[2020-11-04 16:56] #15475 closed

[2020-11-04 17:39] esethna commented on #16211
@jp0707 let us know if you're interested in working on this as it's similar tot he PR you submitted for bold and italics :) https://github.com/mattermost/mattermost-webapp/pull/6230

[2020-11-04 18:36] jp0707 commented on #16211
@esethna Yup! I will work on this.

[2020-11-04 19:47] #16002 closed

[2020-11-04 19:56] #15982 closed

[2020-11-04 20:19] #16075 closed

[2020-11-05 00:51] Breee opened #16214 "Disallow that users leave a Team"
We want to assign groups of people to teams. These teams do not change and they are a private space.
(1) Users are not allowed to Leave their team, (2) Users are not allowed to join another team.

- In the settings we see that you can disallow that people Join Teams.

It would be nice, if we can also disallow that people Leave a Team.

Did we not find the right setting,  or is this not implemented

[2020-11-05 03:17] Manimaran11 commented on #16199
@hanzei I would like to look into this issue.

[2020-11-05 04:06] cnhongwei opened #16215 "Sign in with gitlab fail when mattermost use non-standard https port"
## Summary
Sign in with gitlab fail when mattermost use non-standard https port

#### Steps to reproduce
I use Self-Managed gitlab and mattermost, i just use non-standard https port.
examples:  https://gitlab.xxx.com:3443 https://mattermost.xxx.com:3443
when i sign in with gitlab on mattermost, get error: "Error 令牌请求得到错误的回复。Back to Mattermost"
the mattermost log is "{"level":"error","ts":160454897

[2020-11-05 04:14] mickmister commented on #16113
I've created a ticket for discussion with the team https://mattermost.atlassian.net/browse/MM-30291

[2020-11-05 05:01] Roy-Orbison commented on #16113
Seems I should have tested this more; a hook **can** DM the hook owner, but a self-DM cannot be set as the default Channel, so _Lock to this channel_ has to be unchecked. The hook can therefore DM anyone with the `{"channel":"@anyuser","text":"…"}` syntax.

[2020-11-05 07:43] #13494 closed

[2020-11-05 07:44] hanzei commented on #16199
All yours @tbalthazar. Let me know, if you have any questions.

[2020-11-05 08:48] mukundrv commented on #16152
@devinbinnie , I would like to take this up

[2020-11-05 11:45] #14439 closed

[2020-11-05 13:29] amyblais commented on #16214
@Breee As far as I know we don't have a setting for it yet. Feel free to open a feature request for this. There is one related feature request open here, so feel free to upvote it if you want to: https://mattermost.uservoice.com/forums/306457-general/suggestions/31928344-add-a-system-console-option-to-hide-the-leave-tea.

[2020-11-05 13:29] #13504 closed

[2020-11-05 13:36] amyblais commented on #16215
@cnhongwei There was an issue related to this some time ago https://github.com/mattermost/mattermost-server/issues/13059, but it was fixed via https://github.com/mattermost/mattermost-docker/pull/474.

Does the above issue seem related to the issue you're seeing? If not, what Mattermost server version are you currently on?

[2020-11-06 04:18] zaboyle commented on #15214
Hi, I'd like to try to resolve this issue! Are there any good resources to look at to get started? Thanks!

[2020-11-06 07:55] cnhongwei commented on #16215
@amyblais   this bug is different from #13059.
I check gitlab's log

[code]
the parameter of "redirect_uri" is error.  the https port is not contained. But I set the "SiteURL": "https://xxxxx.com:3443" in mattermost's config.json file.

mattermost code in web/oauth.go:271
[code]
I guess c.GetSiteURLHeader() get wrong SiteURL.

[2020-11-06 08:59] seongwon-kang commented on #16185
How about post this in https://mattermost.uservoice.com/forums/306457-general ?

[2020-11-06 10:11] #15621 closed

[2020-11-06 11:57] #15705 closed

[2020-11-06 14:14] #14401 closed

[2020-11-06 18:22] amyblais commented on #16215
@cnhongwei What Mattermost server version are you on and did you experience this issue on previous versions?

[2020-11-06 19:38] RalfJung commented on #15012
A firefox dev analyzed a perf profile that I uploaded and noted

So it looks like Mattermost is doing some JS on the critical path between entering a character and showing it on the screen. If possible, it would be great if you could switch to some other API that does not block processing the input until JS is done -- APIs which seem to be used by applications such as GitHub or Zulip, which both p

[2020-11-06 21:26] #15644 closed

[2020-11-07 00:00] mattermod opened #16226 "Badge on the pinned messages header icon"
Summary: Add a badge to the pinned post icon to inform users of new pinned posts they haven't read

Note this is blocked on this PR: https://github.com/mattermost/mattermost-webapp/pull/7030

#### Proposed Solution

  * Depends on [https://mattermost.atlassian.net/browse/MM-28017](https://mattermost.atlassian.net/browse/MM-28017|smart-link)
  * Adds a dot badge next to the pinned icon
  * Uses the

[2020-11-07 12:26] Breee opened #16228 "Patch "Gitlab" button"
I'm using keycloak as oauth provider,  with the help of the gitlab client.
I'd like to patch the Login Button for "Gitlab" and replace the Text / the Icon

Could you point me to the right files / the best way to do this?

[2020-11-07 12:59] Hampusholmstrom commented on #16204
Hi, I would like to give this a try.

[2020-11-07 13:26] Breee commented on #16228
added to `/mattermost/client/7.d3cb0b37f39fe6e1f885.css`

[code]

works fine so far ;)

[2020-11-07 13:26] #16228 closed

[2020-11-07 13:57] Breee opened #16229 "Mattermost makes no real redirect to /login, but only changes the path."
#### Summary
Mattermost does not redirect to /login, but instead it just changes the path. This makes it impossible to redirect /login to another auth source, for example directly to Gitlab.

#### Steps to reproduce
Enter chat.example.com
look at the actual requests fired by your browser.

#### Expected behavior
1. Enter chat.example.com.
2. If the user is not logged in, redirect to chat.example.c

[2020-11-08 14:25] DavidSteinbauer commented on #16228
@Breee Thanks for your code! I made plugin for it today using this [plugin](https://github.com/discourse/mattermost-css-hacks).

Just replace your css with the default.
this is the plugin:
[custom_css.tar.gz](https://github.com/mattermost/mattermost-server/files/5506493/custom_css.tar.gz)

[2020-11-08 15:54] daniel-shuy commented on #13500
Created a PR for this at mattermost/mattermost-webapp#7036

[2020-11-08 18:33] DigasNikas commented on #15645
Greetings, after a while I’ve found what needed to change, but I must say I’m a bit confused with the logic. Any chance anyone here can clarify the idea behind?

I would argue it looks clearer to have `POST_MAX_FILES = 5` instead of `POST_FILEIDS_MAX_RUNES = 150` if we want to limit the number of files to 5.

And then:
`if len(o.FileIds) > POST_MAX_FILES { `
Instead of
`if utf8.RuneCountInString(A

[2020-11-09 01:21] nabilgasri opened #16238 "Outgoing webhook not launched after an Incoming Webhook is called"
Hi everyone!

#### Summary
Mattermost does not lauch an outgoing webhook after an incoming webhook is called.

#### Steps to reproduce
1- Create a public channel "test_outgoing"
2- Create an incoming webhook inside the team holding the test_outgoing channel.
3- Create an outgoing webhook. bind it the the channel test_outgoing. example a webhook starting a jenkins build.
4- Send a message to the te

[2020-11-09 07:51] cnhongwei commented on #16215
Mattermost Version: 5.28.1
Database Schema Version: 5.28.0
Database: postgres
Gitlab: 13.5.1

I use the mattermost first and didn't use previous versions.

[2020-11-09 09:12] cnhongwei commented on #16215
I add https port number into web/oauth.go:271
[code]

then login success, but browser redirect url is erorr after login success

I also add https port number into web/oauth.go:328
[code]

login success and browser redirect succes.

so i recommend GetSiteURLHeader() method get http/https port from request head['X-Forwarded-Port'] or use SiteURL propertity in config.json

[2020-11-09 09:40] sridhar02 commented on #16150
@devinbinnie can I work on this issue?

[2020-11-09 10:13] hanzei commented on #15645
@streamer45 @hmhealey Can you help with the question above? :point_up:

[2020-11-09 11:05] #15555 closed

[2020-11-09 11:46] darkLord19 commented on #10327
in PR #14421 discussion came to stop at https://github.com/mattermost/mattermost-server/pull/14421#issuecomment-631303998

Is there an actual need to do this at the db level? cc. @jespino

So what is the state of the issue? Like is this something to solve or not? If not then maybe it'd be better to close the issue I think to avoid any confusions and wasted efforts by someone. pinging @hanzei

[2020-11-09 12:27] #16039 closed

[2020-11-09 12:30] hanzei commented on #10327
@streamer45 What do you think about the comment above?

[2020-11-09 12:37] BenCookie95 commented on #15772
I can take this one!

[2020-11-09 13:36] ycharbi opened #16241 "Disable tracker to https://pdat.matterlytics.com/v1/track"
Hello,

I open this issue because I noticed that _Mattermost_ self-hosted (team edition) generated requests to the `https://pdat.matterlytics.com/v1/track` and `https://pdat.matterlytics.com/v1/identify` URL that were blocked by the _uBlock Origin_ _Firefox_ plugin. I couldn't find a ticket for this.

![Requêtes_bloquées_Mattermost](https://user-images.githubusercontent.com/44672890/98545815-54ea1

[2020-11-09 14:21] ycharbi commented on #16241
I just tried again and it doesn't happen anymore. Strange... The bug may not come from Mattermost but is more on the Firefox/uBlock side.

[2020-11-09 14:55] #15466 closed

[2020-11-09 15:27] amyblais commented on #16238
@nabilgasri What Mattermost server version are you on? What OS and version are you using? Do you see any errors in server logs or developer console?

[2020-11-09 15:30] amyblais commented on #16229
@Breee What Mattermost server version are you on? Can you help share a screenshot of what screen you see when accessing "chat.example.com"?

[2020-11-09 15:52] amyblais commented on #15012
Opened a ticket: https://mattermost.atlassian.net/browse/MM-30407

[2020-11-09 16:11] egrinberg commented on #16144
I would like to work on this

[2020-11-09 16:30] mattermod opened #16242 "Global Search: For Searching in a channel, support autocomplete for Display Name"
We should support autocomplete for Channel and user display names with spaces in the search box.

**Observed:**
If you type "in: Ask Anything", the space character hides the autocomplete

**Expected**
We need to support spaces for in: and from: search to support this, similar to the way we support spaces for autocomplete in a channel when @ is typed

----
If you're interested please comment here a

[2020-11-09 16:36] #15470 closed

[2020-11-09 16:41] egrinberg commented on #16148
I would like to work on this

[2020-11-09 16:45] mattermod opened #16243 "Show mention badge for all new message in group message channels and change default notification settings"
Group message notifications will change and be treated like Direct Messages rather than a Channel.

**Changes**
  1. Every new message received in a group message increments the mention badge
  1. Add an intro message and text link that opens the notification preferences modal, see **Figma Design File** below for the message and text link language and placement
  1. When a GM is created, default d

[2020-11-09 17:00] mattermod opened #16244 "RN: Timezone Search component should be on white background"
The Search component on the Change Timezone Screen Should be on a white background instead of blue.

Observed:
![image](https://user-images.githubusercontent.com/14333569/98609977-6d146980-22a3-11eb-802d-20b27abafc89.png)

Expected:
![image](https://user-images.githubusercontent.com/14333569/98609990-76053b00-22a3-11eb-9f8c-32bf65c18a87.png)

Use the 'Manage Members' search field as an example of

[2020-11-09 17:00] mattermod opened #16245 "Private channels should appear in channel link autocomplete"
Environment: Firefox/Mac on community-daily

Repro steps:
1) Create a private channel named `privatechannel`
2) In the post textbox, type `~priv`

Observed: No autocomplete entry appears for `~privatechannel` or any other private channel
Expected: An autocomplete entry appears for `~privatechannel` using the private channel lock icon in the autocomplete.

Note we should do a load test on a server

[2020-11-09 17:12] pablovelezvidal commented on #15647
Hi! I would like to take this one!

[2020-11-09 19:46] hjek commented on #15012
Here are two screenshots showing resource consumption while typing and not typing in community.mattermost.com in Firefox.

![typing_cpu](https://user-images.githubusercontent.com/11958965/98588601-4159a980-22cc-11eb-916b-46c79a1b42bf.gif)

[2020-11-09 19:46] streamer45 commented on #10327
Not sure my opinion changed since last time. This is a rather old ticket and I am not sure I have the full context to understand the original issue it was trying to solve. Maybe @lieut-data or @jespino could help more.

[2020-11-09 20:00] hmhealey commented on #15645
Yeah, I can explain why it's written that way. We have a bit of an odd setup where there's a two-way reference between the Post and FileInfo tables in the database. Each FileInfo has a PostId, and each Post has an array of FileIds that are written into the database as a json array stored in a string. All of our IDs are 26 characters long normally, so 5 file IDs plus the rest of the JSON is a littl

[2020-11-09 20:30] lieut-data commented on #10327
@streamer45, this goes back a ways to a customer running Postgres with a 10 second timeout and who failed to apply a database migration that took longer on that particular instance. Backstory in a customer channel: https://community-daily.mattermost.com/core/pl/uaurhiudotb6pxmj6yjqieknkh. The thinking was that migrations should be exempt from any configured database timeout.

[2020-11-09 21:06] streamer45 commented on #10327
Thank you for the added info. So this is about possibly overriding (and sufficiently increasing) default query timeouts during the migration process because I am not sure we can disable them entirely (I also wouldn't suggest that).

[2020-11-09 23:30] mattermod opened #16248 "Add online status to the profile popover"
Community thread: https://community-daily.mattermost.com/core/pl/x6abatdqrfytxqrdxz8o5818jh

Proposal is to add an online status indicator to the user profile popover after the users name.

![image](https://user-images.githubusercontent.com/14333569/98610098-b5cc2280-22a3-11eb-9ea9-c81dfbe355a7.png)

Note this is already done for mobile

----
If you're interested please comment here and come [join

[2020-11-09 23:45] esethna commented on #16204
All yours @Hampusholmstrom!

[2020-11-09 23:53] esethna commented on #16248
@andrewbrown00 can you please link the figma file?

[2020-11-10 01:14] tclain commented on #16226
interested to contribute ! Any specific hint on how to start ? (components, data supporting this feature ?)

[2020-11-10 14:31] egrinberg commented on #16144
https://github.com/mattermost/mattermost-webapp/pull/7043

[2020-11-10 15:21] hanzei commented on #15538
@vigneshashokan Are you still working on this?

[2020-11-10 16:44] #15474 closed

[2020-11-10 16:45] mattermod opened #16253 "Issuing /dnd consecutively should not toggle the user status between dnd and online"
Issuing the `/dnd` command consecutively currently toggles the user status between dnd and online. This behavior is different from issuing the `/away` or `/offline` commands where the status of the user remains the same as issued every time.

We'd like to change this so that the /dnd command works like /away and /offline where it has no effect if the user is already set to DND.

----
If you're int

[2020-11-10 17:00] mattermod opened #16254 "Allow users to specify different desktop notification sounds per channel"
When a user selects "Notification Preferences > Send Desktop Notifications"
for a specific channel, we should add an option to this menu for "Notification Sound"

Mock-up:
 ![](image-2020-11-09-16-10-29-868.png|thumbnail)

Note, that this is already implemented at the Account Settings level (see Account Settings > Notifications > Desktop Notifications > Notification Sound, related ticket that was

[2020-11-10 17:04] #16254 closed

[2020-11-10 17:21] mickmister commented on #15214
@zaboyle Awesome! It seems there may need to be some discussion with the team in order arrive at a viable solution. You can join the conversation here https://community-daily.mattermost.com/core/pl/hn13xwyunf8d5bz53izejnnwke

To set up your environment for development, you can reference the docs here https://developers.mattermost.com/contribute/getting-started

[2020-11-10 19:25] phillipahereza commented on #16253
I'd like to work in this

[2020-11-10 20:22] shFrank commented on #16253
@phillipahereza  Hi, I'm new to the project and feel like this task could help us better understand the overall code. Is it ok for us to work on this one?

[2020-11-10 20:31] CCCCY096 commented on #16245
I'd like to take this ticket!

[2020-11-10 20:58] phillipahereza commented on #16253
Hi @shFrank I am almost done with this task so maybe you can pick another one and I'll help you with that one

[2020-11-10 21:05] phillipahereza commented on #16253
@shFrank I can help you work on this one but you'll have to own the issue. I'll look for another ticket to work on

[2020-11-10 21:07] OgmaJ commented on #16253
@shFrank : I have done the modification.
Could you assign me the ticket pls ?

[2020-11-10 21:17] esethna commented on #16245
@CCCCY096 all yours!

[2020-11-11 00:11] amyblais commented on #16226
Please [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers).

Please also see our [Developer's Gu

[2020-11-11 04:50] #15701 closed

[2020-11-11 06:12] BIGALTHUMPER commented on #16109
Help me Liberty liberty college process admission application help me with need help I need my FAFSA ID number￼

[2020-11-11 07:04] RouL commented on #14531
Anybody from Mattermost still looking into this?

[2020-11-11 08:05] gkatsanos commented on #14784
Hey guys, is the Stand-alone application of Mattermost also getting this feature? The default notification sounds are pretty problematic given that they are the same as many other applications (on mac at least)

[2020-11-11 12:15] maruTA-bis5 opened #16259 "Messages posted today may appear as "Yesterday""
#### Summary
In the following environment, the message posted today was sometimes displayed as "Yesterday".

- JST (UTC+9) for both server and client PC time zones
- `"ExperimentalTimezone": false` in config.json
- Mattermost Version: Team Edition 5.28.1, Enterprise Edition (unlicensed) 5.29.0-rc2
- Windows 10 + Firefox, Desktop App, Google Chrome

#### Steps to reproduce
Post a message between 00

[2020-11-11 13:01] amyblais commented on #14531
We have a ticket to add the information back to the About Mattermost modal that is accessible from the main menu https://mattermost.atlassian.net/browse/MM-26294 Please let us know if you think this solution does not meet your requirements.

[2020-11-11 13:22] amyblais commented on #16061
### v5.29 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.29.0-rc2/mattermost-team-5.29.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4017/files)

[2020-11-11 13:45] #15941 closed

[2020-11-11 14:22] lieut-data commented on #15773
@avinashdhinwa, I apologize that we missed your question here! The original use case here was to load the channel ids to quickly identify if a channel being loaded was an incident or not (and in turn automatically open the right hand side), but I think we also made some changes to just load all incidents for use by the right hand side.

@cpoile, can you add any additional context here, including h

[2020-11-11 14:23] lieut-data commented on #15761
@SBagaria2710, is there anything I can do to help with your efforts here?

[2020-11-11 14:51] amyblais commented on #16215
@hmhealey Would this be a Gitlab related issue that you're familiar with?

[2020-11-11 15:08] hmhealey commented on #14784
@gkatsanos Yeah, it's supported in the latest version of the desktop app (4.6.1)

[2020-11-11 15:25] hmhealey commented on #16215
No, I'm not familiar with it. It seems like a general issue with our OAuth code. I can file a ticket with what I think is going on.

[2020-11-11 15:26] amyblais commented on #16259
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-30489.

[2020-11-11 15:28] hmhealey commented on #16215
https://mattermost.atlassian.net/browse/MM-30490

[2020-11-11 16:07] #16141 closed

[2020-11-11 17:46] emilyacook opened #16262 "Join the Mattermost/Jitsi hackathon -- Hacking from Home: Thriving in a remote environment (Nov 10-17)"
### Mattermost/Jitsi Hackfest 2020 - Hacking from Home: Thriving in a Remote Environment

November 10th - 17th

Win cash prizes up to $3,000 USD. All participants receive a swag kit!

More information can be found on our [landing page](https://mattermost.com/hackfest2020/) or our [README file](https://github.com/HackingFromHomeHackathon/november-2020#hackingfromhome---november-2020).
Join the Matt

[2020-11-12 07:34] haardikdharma10 commented on #16244
I'd like to take up this! Can anyone help me on getting started and can roughly explain to me which files should I look into?

[2020-11-12 14:33] cpoile commented on #15773
@avinashdhinwa Hah, good question... After looking into this, it's used here: https://github.com/mattermost/mattermost-plugin-incident-management/blob/master/webapp/src/websocket_events.ts#L28 , which is a bug. That should be a call to `fetchIncidents`, and the list of incidents should be pulled out and dispatched in the `receivedTeamIncidents` action.

Does that make sense?

Additionally, after t

[2020-11-12 15:29] #16038 closed

[2020-11-12 17:02] BenCookie95 commented on #16100
I'll take this one!

[2020-11-12 18:14] amyblais commented on #16244
Please come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers).

[2020-11-13 10:31] haardikdharma10 commented on #16259
Hey @maruTA-bis5, I think changing ExperimentalTimezone to true [here](https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cypress/fixtures/partial_default_config.json#L490-#L493) will do the job. Can you please confirm so that I can go ahead and make the change? Thanks!

[2020-11-13 10:35] haardikdharma10 commented on #16259
Also, @amyblais, can you assign this to me? :)

[2020-11-13 10:46] webmake opened #16268 "Slack color import different format"
#### Summary
It seems that slack has changed their format of exporting color schemes
![image](https://user-images.githubusercontent.com/5016464/99064119-2b8b0380-25ae-11eb-9aed-a86dbeef35bf.png)

#### Steps to reproduce
#1A1D21,#121016,#3A2D3B,#FBFAF7,#27242C,#FBFAF7,#2EB67D,#BD3855,#4A154B,#FBFAF7

[2020-11-13 14:00] amyblais commented on #16268
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-30531

[2020-11-13 16:30] #16146 closed

[2020-11-13 17:15] #16161 closed

[2020-11-13 17:16] #16167 closed

[2020-11-13 19:36] #16061 closed

[2020-11-13 23:57] mickmister opened #16272 "Post Dropdown Sub Menu is misaligned"
Plugins can add items to the post dropdown menu, including submenus that pop over to the side of the menu. The submenus are currently misaligned. The task here is to fix the rendering of the submenus so that they are horizontally aligned with the parent menu’s option.

The [demo plugin](https://github.com/mattermost/mattermost-plugin-demo) can be used to test this. You will need to install and ena

[2020-11-14 12:04] edvinnn commented on #16248
I'd like to implement this sweet little feature

[2020-11-15 00:43] balajis commented on #15287
@jp0707 @mkozakov @mattermod Is there any way to make this feature optional? The reason is that Ctrl-B is backspace within most text fields on a Mac. This breaks the former behavior which was compatibility with emacs-style keybindings (Ctrl-A, Ctrl-H, and the like all still work).

See:
https://irreal.org/blog/?p=259#:~:text=As%20many%20Mac%20OS%20X,work%20across%20the%20whole%20system.

[2020-11-15 04:02] mkozakov commented on #15287
on mac this feature would be triggered by CMD key not control

[2020-11-15 05:09] balajis commented on #15287
I just tested it and it appears to be triggered by *both* CMD-B and CTRL-B. Compare to what CTRL-B does in most other textareas on a Mac. It is equivalent to left arrow, namely going back one character without deleting it.

Desired behavior: disable this for CTRL-B, keep it for CMD-B.

[2020-11-15 16:02] Tzunhei commented on #16139
Hi! Can I work on this one?

[2020-11-16 00:04] fabioespinosa opened #16274 "Licensing in mattermost-mobile, web and desktop"
Hello, after reading numerous issues I am still unclear regarding license of Mattermost, it seems the following holds true but I would like to confirm for **team-edition**:

mattermost-server:
 - Everything is AGPL except customization changes like en.json and so on.

mattermost-mobile, desktop & mattermost-web:
 - Everything is Apache 2.0. One can modify freely any code in those repositories as l

[2020-11-16 01:47] mitchellroe commented on #13714
I'm sorry to do this, but I just don't think I can commit the time to work on this currently. Too many other things going on right now. Thank you for all your assistance along the way. Please feel free to re-assign this issue.

[2020-11-16 07:00] joelazwar commented on #16272
Hi I'd like to work on this issue :)

[2020-11-16 09:22] itwasonlyabug opened #16275 "Users become inactive daily"
#### Summary
Certain users become `inactive` every night, even though during the day they are logged-in and actively using the Desktop client or Mobile client.

#### Steps to reproduce

- Login through GitLab (CE 13.5.3)
- Mattermost Version: 5.25.4
- Database Schema Version: 5.25.0
- Database: postgres
- Session lengths are the default 30 days

#### Expected behavior
Users should remain logged in

[2020-11-16 09:37] georg-cloud opened #16276 "Smiley in last Message causes scrolling bug"
#### Summary
When the last message i got in a chat contains a smiley and I mouse-over it, I can scroll further down into blank space.

#### Steps to reproduce
Version 4.4.0 (4.4.0.5682)
Open a chat - for example to one self (you)
Post a Smiley - for example :) (different smileys cause different extents of the bug)
Hover the mouse over the message which contains the Smiley
Scroll down

#### Expecte

[2020-11-16 10:51] Willyfrog commented on #15623
moving back to `up for grabs`

@MathewtheCoder let us know if you still want to work on it again

[2020-11-16 10:59] Willyfrog commented on #15843
moving it back to `up for grabs`

@parulc7 let us know if you want to work on this again :)

[2020-11-16 11:19] #15801 closed

[2020-11-16 12:19] #16035 closed

[2020-11-16 12:35] jasonblais commented on #13714
@mitchellroe Totally understandable, and thank you for following up on this. Hope we see you around the community :)

[2020-11-16 12:42] Hampusholmstrom commented on #16204
This issue is still blocked by https://mattermost.atlassian.net/browse/MM-29082

Unfortunately, I won't have time to work on this anymore so I am going to unassign myself.

[2020-11-16 13:05] mickmister commented on #16272
It's all yours! Thanks @joelazwar!!

[2020-11-16 15:17] amyblais commented on #16276
@georg-cloud Our minimum supported server version is v5.25.0. Would you be open to upgrading?

[2020-11-16 15:21] amyblais commented on #16275
@itwasonlyabug Can you help share any Mattermost server logs or developer console errors from the time the issue occurs?

[2020-11-16 16:13] #16276 closed

[2020-11-16 16:27] mickmister commented on #16113
@Roy-Orbison Do you mind if I close this ticket, as it seems the use case is already supported? I would also think that this is a better method of accomplishing this, as it is more flexible and doesn't require a webhook per user.

[2020-11-16 16:33] #13483 closed

[2020-11-16 16:45] mattermod opened #16282 "Using @ in the mobile channel switcher doesn't return anything"
1. Tap on hamburger menu (top left) to open the channel drawer
  1. Tap in "Jump to..." box
  1. Type "@username" of a user you want to search for

**Expected**: The user you're autocompleting should be returned
**Observed**: Only a single username appears when you type @ but as soon as you type any letter after it that name vanishes

----
If you're interested please comment here and come [join ou

[2020-11-16 16:45] mattermod opened #16283 "Allow channel switcher to display results across teams"
When the user types in the channel switcher, match results across all teams on the server.

If the user has more than 1 team:

  * The team name would be on the right
  * The mention badge would be beside the name of the Channel.

If the user has only 1 team:

  * We would not show the team name on the right.
  * The mention badge would still be beside the name of the Channel.

This is how this sh

[2020-11-16 17:06] streamer45 opened #16284 "loadtest: add file descriptors limit sanity check to the agent"
### Introduction

This is a load-test specific issue to be implemented and submitted under the [official load-test  tool repository](https://github.com/mattermost/mattermost-load-test-ng).

Our load-test tool is used to test Mattermost application under heavy load, simulating real-world usage of a server installation at scale.

### Description

Load-test agents require 1 file descriptor per simula

[2020-11-16 17:10] Roy-Orbison commented on #16113
@mickmister But it isn't, really. My understanding is that the purpose of restricting a webhook is prevention of abuse. One can give a webhook address to a third party and know where their messages can be sent and how each is labelled. If a webhook must be unrestricted in order to DM its owner, it can DM anyone at all and the message can appear to originate from the hook owner. Even an unintention

[2020-11-16 20:06] esethna commented on #16204
No worries, thanks @Hampusholmstrom

[2020-11-16 20:30] parnic-sks opened #16287 "ThreadMemberships warning in log on 5.29.0"
#### Summary
Warnings are showing up in our Mattermost v5.29.0 log about thread memberships

#### Steps to reproduce
With a PGSQL backing, have a user comment in a thread (my repro is to just reply to an existing post, which creates a new thread).

#### Expected behavior
No warning

#### Observed behavior (that appears unintentional)
The following log (example) appears in the server log:
{"level":

[2020-11-16 20:43] hmhealey commented on #15287
Thanks for the reports! That looks like an oversight with this feature since we have other shortcuts that properly respect cmd/ctrl depending on the OS. I filed a ticket to look into this further.

https://mattermost.atlassian.net/browse/MM-30596

[2020-11-16 21:32] amyblais commented on #16287
Opened a ticket: https://mattermost.atlassian.net/browse/MM-30597.

FYI @reflog

[2020-11-16 21:41] jp0707 commented on #15287
My bad for missing this. I think we can fix this using `Utils.isMac()`. I can fix this if no one else is working on it yet. The only thing I'll need some help with is writing tests. Is there an example of test that simulates mac/non-mac environment?

[2020-11-17 03:32] #15523 closed

[2020-11-17 08:07] itwasonlyabug commented on #16275
Hi @amyblais , thanks for the quick response!

From the developer console I'm having a hard time getting useful information, but from the **mattermost.log** file I see the following:

- Errors that happen very frequently:

```{"level":"info","ts":1542810141.8993478,"caller":"web/handlers.go:95","msg":"Invalid` session","error":"GetSession: Invalid session token=<REDACTED>, err=<no value>, "}```

-

[2020-11-17 08:55] #15700 closed

[2020-11-17 09:00] mattermod opened #16289 "Refactor commands.getEntitiesFromEntityArgs in mmctl"
This ticket includes creating new helpers for the getEntitiesFromEntityArgs (for users, channels, teams and commands, located in userargs.go, channelargs.go, etc) that will replace the existing ones with new functionality. There are two main things to improve in that functions:

  * Don't swallow the errors from Client responses.
  * Return an error type that has the information about users that w

[2020-11-17 09:10] SBagaria2710 commented on #15761
Thanks for your patience @lieut-data .
I am having problem setting up the project itself. I shared my progress on the "EE: Incident Response" channel as you suggested multiple times, but unfortunately didn't get any help.
It would be great, if we can sync up later once you're available. I would love to be able to contribute.

[2020-11-17 09:39] #16041 closed

[2020-11-17 10:15] #16037 closed

[2020-11-17 10:22] jecepeda commented on #16289
Hi! Is it available?

[2020-11-17 10:34] mgdelacroix commented on #16289
Sure @jecepeda, all yours!

[2020-11-17 11:15] larkox opened #16291 "[MM-30000] Inconsistent behaviour in channel mentions in message attachments"
#### Summary
This ticket was originally filed on Jira: https://mattermost.atlassian.net/browse/MM-30000
When creating a channel mention link with `fmt.Sprintf("~%s", channel.Name)` in a message attachment, the behaviour is both inconsistent and buggy:
- If the link is contained in the Title field, it does not render as a link on mobile.

#### Steps to reproduce
1. Build a post such as
[code]
2. Se

[2020-11-17 11:15] #15740 closed

[2020-11-17 15:13] hmhealey commented on #15287
If you'd like to work on it, that would be great. I didn't think about it when reviewing your PR, but there's a `Utils.cmdOrCtrlPressed()` that should handle that automatically based on OS.

For testing, we'd usually just force `Utils.isMac` to return true, but that doesn't really work when the key doesn't really exist outside Mac as far as I know. There are some E2E tests around that, but I think

[2020-11-17 15:34] #16155 closed

[2020-11-17 16:21] aaronrothschild opened #16294 "Version bump on pre-bundled IR plugin"
@itao and @cpoile - Do you want to bundle in a newer version of the Incident response plugin with server versions that get shipped out?  Updating this will result in that version going out with the server bundle, so that airgapped servers get those plugins and updates for them:   https://github.com/mattermost/mattermost-server/blob/221f70a6cb4645d660df5339ab1921fd497bd7df/Makefile#L98

[2020-11-17 16:29] aaronrothschild opened #16295 "Update Bundled plugin packages for next server version to be shipped"
Update plugins to these version (versions taken from Marketplace repo):
- mattermost-plugin-zoom-v1.4
PLUGIN_PACKAGES += mattermost-plugin-autolink-v1.2.1
PLUGIN_PACKAGES += mattermost-plugin-nps-v1.1.0
PLUGIN_PACKAGES += mattermost-plugin-custom-attributes-v1.2.0
PLUGIN_PACKAGES += mattermost-plugin-github-v2.0
PLUGIN_PACKAGES += mattermost-plugin-welcomebot-v1.2
PLUGIN_PACKAGES += mattermost-plu

[2020-11-17 16:55] lieut-data commented on #15761
I'm sorry to hear about the trouble, @SBagaria2710! I know sometimes posts can get lost in the shuffle -- the last on your thread suggested the need to enable plugin upload in the server. Have you been able to get that part working?

[2020-11-17 18:00] itao commented on #16294
Yes! Thanks for the ping

@cpoile I believe we're on v1.1.1 now, correct? Could you also include Channel Export?

[2020-11-17 20:10] SBagaria2710 commented on #15761
I redid the setup just now, still getting the same issue I was getting then.

`Failed: failed to upload plugin bundle: : Plugins and/or plugin uploads have been disabled.,`

As suggested, I updated the Enable Plugin within System Console/ Plugin Management to be true.
Still getting the same message.

[2020-11-17 20:39] carlspring commented on #16099
Guys,

Has anyone had a chance to look into this? This is a massive usablitiy bug! It's probably the most annoying bug in a product that I have encounterd this year! I have no idea what you guys changed in recent releases and why this started happening, but it is so frustrating, it's becoming unbearble to use and I'm a really patient person.

[2020-11-17 20:55] b-a-t commented on #16287
Just to came here to say "me too".

Release 5.29.0, PostgreSQL backend, graceful upgrade from the previous version(s):
[code]
and same errors in the logs for the replied threads:
[code]

[2020-11-17 23:33] amyblais commented on #16287
@reflog Do you know if this is just an error in the logs or something more concerning?

[2020-11-18 05:56] agnivade opened #16299 "Change receiver name for (me *InvitePeopleProvider) in app/slashcommands/command_invite_people.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out [here](https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *InvitePeopleProvider)` in `app/slashcommands/command_invite

[2020-11-18 06:47] CandyZack commented on #16299
@agnivade  I would to resolve this issue. Can you please assign it to me?

[2020-11-18 07:18] reflog commented on #16287
@amyblais - this is just a warning, due to a small bug that is already being fixed in new thread-related PR. It's caused by having the same userId twice in a list. No functionality degradation should be expected from this.
@b-a-t @parnic-sks thanks for reporting, we are on it!

[2020-11-18 09:01] hanzei commented on #16295
Moved to JIRA: https://mattermost.atlassian.net/browse/MM-30709

[2020-11-18 09:01] #16295 closed

[2020-11-18 09:06] #13490 closed

[2020-11-18 12:25] mgdelacroix opened #16305 "Bulk Importer: Do not stop on first error when validating an import file"
The bulk importer currently immediately exits when it is validating an import file and the first error is found.

While this is helpful during actual application of the file it is definitely not helpful when running the validation. As part of this ticket, when the import process gets an error, we should check if it's being run with the `dryRun` flag enabled, and if so, the process should only prin

[2020-11-18 13:08] amyblais commented on #15904
@esethna The Jira ticket was closed https://mattermost.atlassian.net/browse/MM-24635. Should this issue be closed too?

[2020-11-18 13:49] ahmaddanialmohd commented on #16275
Hello, @itwasonlyabug

The `Invalid session token` indicates that there is an issue with the existing token that was assigned to the user. If possible, can you please enable the `DEBUG` on the [file log leve](https://docs.mattermost.com/administration/config-settings.html#file-log-level) so get more details when the issue occurs again?

To clear off any potential issues with the session tokens fir

[2020-11-18 14:05] aspleenic commented on #16274
Hey @fabioespinosa,

You can find a summary of the license information at https://mattermost.org/licensing/ and an overview of the rights and permissions that each license offers at https://choosealicense.com/licenses/.

Specifically on your question about mattermost-mobile: yes, you may modify the source code and [here is an excellent post](https://softwareengineering.stackexchange.com/questions/

[2020-11-18 15:11] jecepeda commented on #16305
Hi! this ticket seems interesting, can I take it?

[2020-11-18 15:57] mgdelacroix commented on #16305
Of course, thanks for taking a look! :rocket:

[2020-11-18 16:42] #16157 closed

[2020-11-18 16:48] esethna commented on #15642
@chrysillala please let us know if you're still working on this! :)

[2020-11-18 16:50] esethna commented on #15636
Re-adding up for grabs as @vipul08 won't be working on this anymore

[2020-11-18 16:50] esethna commented on #15930
Re-adding up for grabs as @vipul08 won't be working on this anymore

[2020-11-18 17:14] bhargav50 commented on #15636
@esethna I would like to work on this.

[2020-11-18 19:54] amyblais opened #16308 "Mattermost v5.30.0"
You can find key dates for v5.30 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Dec 7th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Dec 14th: Release Build Cut
The final

[2020-11-18 20:36] roelandschoukens commented on #15012
I have the same issue both on the desktop app and in a browser, but it only happens if the extra panel (recent mentions or search) is open.

[2020-11-18 20:41] jtdaugherty opened #16310 "API website generates invalid URLs"
### Summary
The API website generates invalid URLs (i.e. with URL-unsafe characters that are not percent-encoded).

#### Steps to reproduce
1. Go to https://api.mattermost.com/
2. Click the "Channels" section
3. Click a request (in this case "Patch a channel")
4. The browser's URL contains curly braces that are not URL-encoded.

#### Expected behavior
The URL's curly braces are URL-encoded as per

[2020-11-18 21:27] haardikdharma10 commented on #16259
@amyblais, I am sorry for the trouble but can you tag a few developers who can confirm whether what I wrote above sounds good? Thank you!

[2020-11-18 21:28] amyblais commented on #16259
@calebroseland Can you help with the question here https://github.com/mattermost/mattermost-server/issues/16259#issuecomment-726686534?

[2020-11-18 23:04] esethna commented on #15904
@amyblais sorry, mistake on my part closing the ticket, I reopened

[2020-11-18 23:10] ivanivkovic opened #16313 "Long Delay When Changing Theme"
#### Summary
When changing the Account Settings > Display > Theme in Mattermost, the GUI seems to be jammed for a long time, for about 5-10 seconds, tested on community.mattermost.com.
Using Google Chrome

#### Steps to reproduce
Try to change the theme in Account Settings and click Save. Unable to check the exact version.
https://community.mattermost.com/core/channels/developers

#### Expected be

[2020-11-18 23:26] esethna commented on #16099
@carlspring the bug is in our queue but hasn't been looked at yet unfortunately. To help in narrowing this down, what version were you using before v5.28.1?

[2020-11-19 00:20] carlspring commented on #16099
We were previously using `5.23`.

[2020-11-19 00:57] axhiao commented on #15521
hi @agnivade , do you know where i can find the password of mysql in development environment? I am new to this project. Thank you!

[2020-11-19 01:16] esethna commented on #16099
@carlspring thanks, I added this to the ticket

[2020-11-19 04:20] agnivade commented on #15521
If you use the docker development setup, the config.json should be auto-created for you. You can find the password in the `SqlSettings` section.

If you want to know from where it gets set, check this file https://github.com/mattermost/mattermost-server/blob/537b5a5b677b57fc982244f74a72ada26ca53284/build/docker-compose.common.yml#L8

[2020-11-19 10:52] iithost commented on #129
Still the same issue 5 years later

[2020-11-19 12:54] salmiakk opened #16317 "Messages are loaded very slowly when using Mattermost 5.26 or higher"
#### Summary
Messages are loaded very slowly when using Mattermost 5.26 or higher

#### Steps to reproduce
Install Mattermost 5.26 or higher with mattermost-docker manifests and Postgres 13.1 (although the issue was present on Postgres 9.5 as well). Our instance has ~600 channels and ~3 000 000 messages, Team edition.
Try to read older messages.

#### Expected behavior
Messages are loading as fast

[2020-11-19 13:29] amyblais commented on #16313
@ivanivkovic I wasn't able to reproduce - I'm on Mac, Chrome.

Which OS and version are you on? Do you see any errors in developer console when the issue happens?

[2020-11-19 13:37] lieut-data commented on #16317
@salmiakk, you mentioned v5.26 or higher -- can you confirm this remains an issue in v5.29?

[2020-11-19 13:47] #16119 closed

[2020-11-19 14:11] amyblais commented on #16310
@jtdaugherty Would you be open to investigate further with https://github.com/Redocly/redoc?

[2020-11-19 14:31] salmiakk commented on #16317
Yes, the same happens in v5.29. Initially I upgraded from 5.21 to 5.29, then tried older versions, and 5.25 is the latest that works nicely

[2020-11-19 14:52] isacikgoz commented on #16206
Hey @agusl88 thanks for reporting this! However, I am having issues while trying to reproduce this bug. Can you please confirm the reproduction steps? Maybe a specific order triggered this in your case? Also the online/offline member statuses and their notifications settings would help a lot.

[2020-11-19 15:15] mattermod opened #16318 "Make `/incident stage` arguments dynamic"
This ticket belongs to https://github.com/mattermost/mattermost-plugin-incident-management.

The `/incident stage` command [uses the autocomplete system](https://github.com/mattermost/mattermost-plugin-incident-management/blob/v1.1.0/server/command/command.go#L69-L80) to show the user its two possible arguments: `next` and `prev`.

![image](https://user-images.githubusercontent.com/3924815/9968570

[2020-11-19 15:48] #15845 closed

[2020-11-19 16:11] jtdaugherty commented on #16310
Hi @amyblais - I am not sure what you are requesting of me. Can you say more?

[2020-11-19 16:14] amyblais commented on #16310
I had asked our team about this and they suggested the issue is most likely in the link generated by the API documentation.

You can see more on the discussion in this thread https://community.mattermost.com/core/pl/1kejrc7xbiym7yxnxop71zejwh on our community server if you have any additional questions.

[2020-11-19 16:50] amyblais commented on #16310
Ticket: https://mattermost.atlassian.net/browse/MM-30799

[2020-11-19 16:58] someone-somenet-org opened #16320 "Weirdness in Threads table, Participants column."
While trying to understand the db changes that came with MM 5.29.0 in order to update my [db+fs-cleaner](https://git.somenet.org/pub/jan/mattermost-privileged.git/blob/HEAD:/maintenance/db.py) I came across weird behavior in the `Threads` table.

Namely: When I post a thread and reply to said thread more than once, i get added to the participants list
![image](https://user-images.githubusercontent

[2020-11-19 17:23] someone-somenet-org opened #16321 "Inconsistent calculation of Replycount in Threads table for threads created prior to MM 5.29.0."
While trying to understand the db changes that came with MM 5.29.0 in order to update my [db+fs-cleaner](https://git.somenet.org/pub/jan/mattermost-privileged.git/blob/HEAD:/maintenance/db.py) I came across what looks like inconsistent behavior in the `Threads` table.

The `Replycount` column in the `Threads` table seems to be inconsistently calculated for existing threads before updating to MM 5.

[2020-11-19 17:46] agusl88 commented on #16206
Hi, let me try to reproduce it again so i can provide a more accurate steps. For what is worth, it never happended instantly after creating the channel, notifcations always endedup getting stuck after a few hours/days when people started to use the new team, so is very likely that there is something more involved besides just renaming the default channel.

[2020-11-19 18:37] amyblais commented on #16320
@reflog Is this and https://github.com/mattermost/mattermost-server/issues/16321 known issues?

[2020-11-19 19:16] someone-somenet-org commented on #16320
<nitpicking>
Also tablename `Threadmemberships` is inconsistent with other membership tables. ;)
+ `teammembers`
+ `channelmembers`
+ `groupmembers`
+ And then there is `threadmemberships`.
</nitpick>

[2020-11-19 19:20] lieut-data commented on #16317
Something is definitely taxing the Postgres instance on that machine -- can you enable the slow query log and share what shows up? Temporarily configuring `log_min_duration_statement = 1000` should help surface queries that take longer than a second and help us pinpoint why things are slow for you.

[2020-11-19 20:03] nigelhorne opened #16324 "Upgrade from 5.28 to 5.29 woes"
I dropped in the new tarball, copied across the existing config.json and added the ThreadAutoFollow and ManagedResourcePaths but systemctl restart fails and it won't start:

journalctl -xe output:
[code]

[2020-11-19 20:06] amyblais commented on #16324
@reflog ^

[2020-11-19 23:18] someone-somenet-org opened #16327 "editing /me post behaves diffrently in Webapp and Android-App."
Using `/me text1` and editing the resulting post (to `text2`) shows diffrent text in Webapp and Android-App.

While the Webapp seems to display the prop `"message"` (=`text1`) the Android app displays the posts message-text (=`text2`).

MM 5.29.0
Android-App 1.37.0 (Please sync the version numbers across all apps!)

#### Steps to reproduce
+ `/me text1`
+ edit post to `*text2*`
+ Webapp now shows

[2020-11-20 00:27] amyblais commented on #16327
Opened a ticket: https://mattermost.atlassian.net/browse/MM-30810

[2020-11-20 00:33] hanzei commented on #16294
Fixed with https://github.com/mattermost/mattermost-server/pull/16323

[2020-11-20 00:33] #16294 closed

[2020-11-20 02:34] #16005 closed

[2020-11-20 02:35] #13727 closed

[2020-11-20 04:42] bhargav50 commented on #15636
In master branch emoji picker, emojis look smaller. So according to new design, emoji size also needs to be increased right?
![image](https://user-images.githubusercontent.com/15820702/99759679-f08e5000-2b18-11eb-9748-a218600163f9.png)

[2020-11-20 05:15] #16299 closed

[2020-11-20 06:17] agnivade opened #16328 "Change receiver name for (me *LoadTestProvider) in app/slashcommands/command_loadtest.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out [here](https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *LoadTestProvider)` in `app/slashcommands/command_loadtest.g

[2020-11-20 06:17] agnivade opened #16329 "Change receiver name for (me *OfflineProvider) in app/slashcommands/command_offline.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out [here](https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *OfflineProvider)` in `app/slashcommands/command_offline.go`

[2020-11-20 06:17] agnivade opened #16330 "Change receiver name for (me *TestHelper) in migrations/helper_test.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *TestHelper)` in `migrations/helper_test.go`.

Example Pull

[2020-11-20 06:17] agnivade opened #16331 "Change receiver name for (me *PurposeProvider) in app/slashcommands/command_channel_purpose.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *PurposeProvider)` in `app/slashcommands/command*channel*pur

[2020-11-20 06:17] agnivade opened #16332 "Change receiver name for (me *LeaveProvider) in app/slashcommands/command_leave.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *LeaveProvider)` in `app/slashcommands/command_leave.go`.

E

[2020-11-20 06:17] agnivade opened #16333 "Change receiver name for (me *msgProvider) in app/slashcommands/command_msg.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *msgProvider)` in `app/slashcommands/command_msg.go`.

Examp

[2020-11-20 06:17] agnivade opened #16334 "Change receiver name for (me *PushNotification) in model/push_notification.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *PushNotification)` in `model/push_notification.go`.

Exampl

[2020-11-20 06:17] agnivade opened #16335 "Change receiver name for (me *PushResponse) in model/push_response.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *PushResponse)` in `model/push_response.go`.

Example Pull R

[2020-11-20 06:17] agnivade opened #16336 "Change receiver name for (me *SecurityBulletin) in model/security_bulletin.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *SecurityBulletin)` in `model/security_bulletin.go`.

Exampl

[2020-11-20 06:17] agnivade opened #16337 "Change receiver name for (me *TestHelper) in app/helper_test.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *TestHelper)` in `app/helper_test.go`.

Example Pull Request

[2020-11-20 08:18] itwasonlyabug commented on #16275
Hi @ahmaddanialmohd,
I confirm that the user status is **inactive** in the System Console. I will try your suggested fix with logging out of the sessions and with enabled DEBUG logging.

Don't know how I didn't see the ID there :( I'll parse the logs for specific errors with these users before and after their new sessions.

[2020-11-20 10:15] #16034 closed

[2020-11-20 10:29] #16169 closed

[2020-11-20 11:43] #16158 closed

[2020-11-20 12:47] bhargav50 commented on #15641
@esethna is this still being worked on by @frionx ?

[2020-11-20 13:02] amyblais commented on #16324
@nigelhorne Can you help with more details on your environment and the observed behaviour?

[2020-11-20 13:04] nigelhorne commented on #16324
The observed behaviour is that systemctl start matternost fails. The machine is running centos8.

[2020-11-20 13:14] CandyZack commented on #16337
@agnivade  can I pick this and related issues together?

[2020-11-20 13:19] frionx commented on #15641
Nah I forgot about it. I was sent back home and i have a lot of exams 😔

[2020-11-20 13:26] agnivade commented on #16337
Sure, you want me to assign all of them to you?

[2020-11-20 13:31] CandyZack commented on #16337
yup, will do that in a single PR

[2020-11-20 13:33] rgauthierassystem commented on #16107
So I finally did the testing.

Using https://hub.docker.com/r/mattermost/mattermost-preview/tags :

With the mattermost-preview tagged as latest (v5.27.0) the password policy is taken into account : OK
With the mattermost-preview tagged with the version we have deployed (v5.24.2) the password policy is NOT used : KO

How to reproduce :

1/ Install the preview :
docker run --name mattermost-preview

[2020-11-20 13:36] agnivade commented on #16337
Since these structs spread out across multiple packages and files, a single PR might get too big to review properly. I also have a couple more issues after this. It might be simpler to keep them small and isolated to a single struct. You are obviously most welcome to send all PRs at once. :)

Let me assign all of them to you. Thanks for your time @CandyZack.

[2020-11-20 13:37] agnivade commented on #16336
@CandyZack

[2020-11-20 13:38] agnivade commented on #16335
@CandyZack will work on this.

[2020-11-20 13:38] agnivade commented on #16334
@CandyZack will work on this.

[2020-11-20 13:38] agnivade commented on #16333
@CandyZack will work on this.

[2020-11-20 13:38] agnivade commented on #16332
@CandyZack will work on this.

[2020-11-20 13:39] agnivade commented on #16331
@CandyZack will work on this.

[2020-11-20 13:39] agnivade commented on #16330
@CandyZack will work on this.

[2020-11-20 13:39] agnivade commented on #16329
@CandyZack will work on this.

[2020-11-20 13:39] agnivade commented on #16328
@CandyZack will work on this.

[2020-11-20 13:50] agnivade commented on #16324
Hi @nigelhorne - It looks like there is some error output truncated from the message. Is there something above the line ` Available Commands:`?

[2020-11-20 15:32] someone-somenet-org opened #16339 "Post edits and deletes propagate inconsistently."
When editing a post while the andoid-app is offline (airplane mode) and said phone+app comes online again edits get propagated and the cached posts get updated.

Deleting posts will not propagate to the Android app, if it is offline at the time of post-deletion.

If you edit a post and then delete it, while the Android app is offline, the edit nor the deletion will get propagated after the app com

[2020-11-20 19:05] haardikdharma10 commented on #15780
If no one is working on this, I'd like to take it up :)

[2020-11-20 20:50] esethna commented on #15642
Given inactivity I'm transferring ownership to @asaadmahmood. Please let me know if there are any concerns with that 👍

[2020-11-20 20:56] esethna commented on #15641
@bhargav50 are you interested in taking this?

[2020-11-20 20:58] bhargav50 commented on #15641
I have already started one issue yesterday, maybe next week if I get some time.

[2020-11-20 23:36] amyblais commented on #16339
Thanks, opened a ticket https://mattermost.atlassian.net/browse/MM-30857

[2020-11-21 00:05] esethna commented on #15636
@bhargav50 yes correct, you can use figma to inspect the design: see a brief tutorial: https://drive.google.com/open?id=12lyaF55UVayzIIWhvLpMjHXubWqm78yy&authuser=matthew.birtch%40mattermost.com&usp=drive_fs

[2020-11-21 07:17] chrysillala commented on #15642
Hi @esethna sorry for the late reply and apologize that I might not be able to continue working on this issue. Sure, you can transfer the ownership. Once again, I'm really sorry for the inconvenience. Hopefully we can work together in another time 😊

[2020-11-21 10:19] Ayanrocks commented on #15174
I would like to take this, but I need some help in reproducing the issue and understanding it. Anyone to help me?

[2020-11-21 11:52] darkLord19 opened #16352 "Broken links on https://mattermost.com/superstars/"
href are pointing to broken links which results in 404 returns.

For example,
Become a Mattermost contributor today href link is pointing to https://mattermost.com/superstars/"https://mattermost.com/contribute/" which is wrong and should point to https://mattermost.com/contribute/ instead.

[2020-11-21 11:54] darkLord19 commented on #16352
@jasonblais is this the correct place to create issues for mattermost website? I wasn't able to find repo for mattermost website. Assuming it is not open sourced, opening issue here.

[2020-11-21 18:21] DigasNikas commented on #15645
@hmhealey thanks for the detailed explanation!
Followed your suggestion.

`model.post.is_valid.file_ids.app_error` is now used for `POST_MAX_FILES` and `POST_FILEIDS_MAX_RUNES` checks. Probably it would be nice to eventually split this error in two.

[2020-11-21 23:03] #15460 closed

[2020-11-22 00:10] calebroseland commented on #16259
@haardikdharma10 this seems like a discrepancy between the date-part ('Yesterday'/'Today') and the time-part.

e.g. when `ExperimentalTimezone: false`, the relative-time parsing in [datetime.ts](https://github.com/mattermost/mattermost-webapp/blob/master/utils/datetime.ts#L50-L51) is explicitly UTC-based if no timezone is provided, whereas the Date constructor used to parse the value in timestamp.

[2020-11-22 03:04] jasonblais commented on #16352
@darkLord19 Thank you for noticing! This is now be resolved, thanks for letting us know.

Reporting here is fine, since the website contents aren't in a GitHub repository :+1:

[2020-11-22 03:04] #16352 closed

[2020-11-22 03:52] shFrank commented on #16242
Hi can I claim this?

[2020-11-22 05:45] vraravam commented on #16140
i would like to take a stab at this @devinbinnie

[2020-11-22 06:23] CCCCY096 commented on #16245
Hello, I'm trying to find the documentation regarding the SQL scheme "Channels" and "ChannelMembers" in function channel_store.go/AutocompleteInTeamForSearch. Could you provide more documentation on how these two SQL tables are structured and how to query private channels?
Also, is it possible to join the developer community? It seems like the invitation link provided is not valid: https://communi

[2020-11-22 07:14] bhargav50 commented on #15636
Thanks for the suggestion @esethna, I tried downloading and the video is not playable in VLC or google preview. Though now I know the inspect feature in figma.

[2020-11-22 08:37] a-c-sreedhar-reddy commented on #8546
Hi. Can I work on this?

[2020-11-22 08:45] reflog commented on #16320
@someone-somenet-org thanks for reporting this, it's indeed a bug!
Fixed in https://github.com/mattermost/mattermost-server/pull/16353

[2020-11-22 08:53] reflog commented on #16321
Hi @someone-somenet-org , thanks for reporting this. I tried reproducing using a small test, but was unable to. Here's the test fir 5.29 , A thread with 1+4 posts, deleting one reply, then counting replies returns 3.
Did I miss something in the test?
[code]

[2020-11-22 08:54] a-c-sreedhar-reddy commented on #12348
Hi Can I work on this?

[2020-11-22 10:11] haardikdharma10 commented on #16259
@calebroseland, thanks for the explanation. I appreciate your time:) I'll give it a go.

[2020-11-22 10:47] CCCCY096 commented on #16245
Hello, I'm trying to find the documentation regarding the SQL schema "Channels" and "ChannelMembers" in function channel_store.go/AutocompleteInTeamForSearch. Could you provide more documentation on how these two SQL tables are structured and how to query private channels?
Also, is it possible to join the developer community? It seems like the invitation link provided is not valid: https://communi

[2020-11-22 10:54] someone-somenet-org commented on #16321
Its a Migration issue. You need to start a thread and delete a post in a version before MM 5.29.0 and then update to MM 5.29.0 and then post once to trigger calculation.
(Or just create the thread, delete one post, `truncate table threads`, invalidate mm Cache, add a post to the thread)

Im not sure - on mobile only currently - but I would say https://github.com/mattermost/mattermost-server/blob/b

[2020-11-22 12:09] vraravam commented on #16145
Let me take a stab at this @devinbinnie

[2020-11-22 13:11] jecepeda commented on #16289
Hi! I saw the places in `users.go` where `getUsersFromUserArgs` is used. What should be expected behaviour when the users haven't been found:
- print a warning and proceed with the rest of the users
- halt if one of them hasn't been found.

What do you think? @mgdelacroix

[2020-11-22 15:24] a-c-sreedhar-reddy commented on #12350
Hi can I work on this

[2020-11-22 15:30] a-c-sreedhar-reddy commented on #12355
Hi canni work on this?

[2020-11-22 15:35] jasonblais commented on #12355
@a-c-sreedhar-reddy sure! Thank you :)

[2020-11-22 16:13] a-c-sreedhar-reddy commented on #12355
@jasonblais There is an eslint rule which does not allow use of setState in componentDidUpdate. Can I disable that for this component because we had to update the state when the props change.

[2020-11-22 16:38] a-c-sreedhar-reddy commented on #12355
I think instead of storing the sections in the state better way would be to calculate it in render.

[2020-11-22 19:21] jasonblais commented on #12355
I'm not sure - @hmhealey would you know the answer to the question from @a-c-sreedhar-reddy?

[2020-11-23 03:21] kongr45gpen commented on #15012
Can reproduce this on desktop Firefox. It is especially pronounced on the RHS with long threads open (eg >300 messages sent).   A quick performance analysis shows too many DOM Events caused by `onkeydown` events on the text input.

![Screenshot_20201123_052024](https://user-images.githubusercontent.com/720678/99926809-9a552300-2d4b-11eb-931e-676506cd1fcd.png)

[2020-11-23 08:41] mgdelacroix commented on #16289
Approach discussed offline

[2020-11-23 09:21] nylocx opened #16356 "Code Block Python Markdown triple quotes broken"
#### Summary
If you add multi lines string to the python code block markdown only the first line is formatted as a string.

#### Steps to reproduce
Add a Python code block like this.
[code]

#### Expected behavior
It should look somewhat like this
[code]

#### Observed behavior (that appears unintentional)
it actually looks like this:
![image](https://user-images.githubusercontent.com/3329124/9994

[2020-11-23 09:36] #16253 closed

[2020-11-23 10:18] SBagaria2710 commented on #15920
Should I take this up?

[2020-11-23 11:13] hanzei commented on #15920
Sure, thanks for taking a shot @SBagaria2710 :+1:

[2020-11-23 11:23] SBagaria2710 commented on #15920
Thanks, @hanzei :)
Only query, which one is the correct sorting way? LHS of the system console or the one in the plugin management page?

[2020-11-23 11:33] hanzei commented on #15920
Good question. The one on the LHS.

[2020-11-23 12:08] hanzei commented on #15174
Thanks for taking a look @Ayanrocks :+1:

A good first step for you to dive into this issue would be to setup a local slash command that posts a response and also a second response using `response_url`. Pleas let me know if that helped you getting started.

[2020-11-23 13:24] amyblais commented on #16356
Opened a ticket https://mattermost.atlassian.net/browse/MM-30879

[2020-11-23 13:35] Tzunhei commented on #16145
Can you assign it to me? Thank you!

[2020-11-23 14:01] nigelhorne commented on #16324
Can you tell me where to find that?  I gave you the complete output from journalctl -xe, which indeed does truncate the output.

[2020-11-23 14:45] #16329 closed

[2020-11-23 14:49] vraravam commented on #16130
Let me take a stab at this

[2020-11-23 15:14] agnivade commented on #16324
Usually, it's written in `/var/log/messages`. I think the `-e` option is going to the page end of the output which is possibly truncating any previous output. You can also get all log messages for `mattermost` using `journalctl -t mattermost --no-pager --since <timestamp>`.

[2020-11-23 15:15] hmhealey commented on #12355
@a-c-sreedhar-reddy Ideally, we'd avoid `setState` in `componentDidUpdate` since that causes the component to render twice in a row, and we'd either remove the state or use something like `deriveStateFromProps` instead, but there will be cases where the extra re-render is acceptable to avoid complicating the rest of the code. I'll let you know in your PR if there's anywhere that I think we could g

[2020-11-23 15:49] hmhealey commented on #15780
@dudupopkhadze had been working on it, but I don't think we've heard from him in a while, so I think it should be fine to re-assign this.

[2020-11-23 15:54] nigelhorne commented on #16324
Looks like I didn't add a comma before the extra 2 lines to be added to config.json.

[2020-11-23 15:57] nigelhorne commented on #16324
Once I did that and remembered to run

`setcap CAP_NET_BIND_SERVICE=+eip /opt/mattermost/bin/mattermost`

so that I could listen to port 443, all is now working.