[2018-07-12 14:00] jasonblais commented on #5485
Hey @theblueskies! The conclusion of the discussion was posted here: https://github.com/mattermost/mattermost-server/pull/7820#issuecomment-346085395. If you're interested working on this improvemen, let us know! Would love to help.

And thanks @johncoleman83 for working on the PagerDuty integration, I'm really excited about it :)

[2018-07-12 14:48] mkraft commented on #6174
@kaakaa
1) I think the translation should be changed to this anyhow:

`Compliance is an enterprise feature. Your current license does not support Compliance. Click [here](!http://mattermost.com) for information and pricing on enterprise licenses.`

![localhost_8065_admin_console_general_compliance](https://user-images.githubusercontent.com/1149597/42640768-03878eba-85c1-11e8-863b-49ea11e234d6.png)

[2018-07-12 16:12] jasonblais commented on #6174
@mkraft In which cases would the banner in 1) show up? Since you need an Enterprise license to view that page. Can we remove the string?

[2018-07-12 16:45] amyblais commented on #9078
Hi @thieraufc - I checked with the team and the issue is most likely related to running out of memory space when initiating a file upload. Some users have had success in mitigating this by adding a swap file. This will slow file uploads considerably, but will prevent the system from running out of memory when too many files are uploaded.

These are next steps to improve this:
https://github.com/ma

[2018-07-12 16:47] mkraft commented on #6174
@jasonblais Seems you see it if you navigate to that page without a license. Doesn't seem very necessary to me either.

[2018-07-12 17:17] jasonblais commented on #6174
I think that's an old banner, possible from a time when Enterprise features were exposed without a license. @kaakaa feel free to remove `admin.compliance.noLicense`

[2018-07-13 11:04] pepf commented on #8997
I'll pick this one up 👍

[2018-07-13 12:05] jasonblais commented on #8997
Thanks @pepf! Glad to see you around :)

[2018-07-13 13:11] mbuchner commented on #7721
Any updates on this one? This would really be a useful feature! I have developed something in java but this needs to be in the mattermost client!

The solution uses - the jna library - and the windows provided functions from the user32.dll

`	public static int getIdleTimeMillisWin32() {
		User32.LASTINPUTINFO lastInputInfo = new User32.LASTINPUTINFO();
		User32.INSTANCE.GetLastInputInfo(lastInputI

[2018-07-13 13:15] mbuchner commented on #7721
#userupdate:

`
	public boolean updateUserStatus(String status) {
		try {
			HttpResponse<JsonNode> jsonResponse = Unirest.put(mattermostUrl + "/api/v4/users/{user_id}/status")
					.header("Authorization", "Bearer " + tocken).routeParam("user_id", this.userId)
					.body("{\"status\": \"" + status + "\"}").asJson();
			if (jsonResponse.getStatus() != 200) {
				logger.log(Level.WARNING, "status u

[2018-07-13 13:33] amyblais commented on #9001
Closing this Issue as this has been fixed and final for v5.1 is cut today.

[2018-07-13 13:33] #9001 closed

[2018-07-13 13:35] amyblais commented on #9026
Hi @eglyn, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-13 13:35] #9026 closed

[2018-07-13 13:47] lieut-data commented on #9097
@gmccance, thanks for point this out. You're right that #9001 only restricted the ability to delete direct and group messages.

Would you be interested in helping fix this? It should be a straight-forward addition to https://github.com/mattermost/mattermost-server/blob/5ddb08dcb47f938c9ac3a3e6338d9b3cc61c20a7/api4/channel.go#L1029, with a few unit tests to complement the changes in https://github.

[2018-07-13 17:06] esethna opened #9111 "[Help Wanted] [MM-11327] Restrict Teams by Email"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-13 19:08] #9021 closed

[2018-07-13 20:18] santos22 commented on #7785
👋 @jasonblais

Looks like there is a duplicate, newer issue: https://github.com/mattermost/mattermost-server/issues/9072

[2018-07-13 20:20] jasonblais commented on #7785
Good catch! Closing as a duplicate of https://github.com/mattermost/mattermost-server/issues/9072

[2018-07-13 20:20] #7785 closed

[2018-07-13 21:03] theblueskies commented on #8838
I'll take this.

[2018-07-14 07:16] realrolfje commented on #8820
Hi Jason, not to be a pain, but I guess Mattermost does collect personal information, namely:

Not optional:
- username (in our case we require users to use their HAM radio callsign for instance)
- email address

Optional:
- Full Name
- Position (job or job title)
- Profile picture

Having said that, I did see a couple of mails from services I registered at (for free) which do not do the "disable

[2018-07-14 07:29] jasonblais commented on #8838
This is great, thank you! I think there has been some previous discussion about this feature lead by @lieut-data, so I propose touching base with him as you work through this improvement.

His username is `jesse.hallam` on pre-release.mattermost.com if you have an account there

[2018-07-14 14:50] kaakaa commented on #6174
Okay, I'll remove it.
Thanks @mkraft and @jasonblais!

Since I finished about one third of messages to be fixed, I think I will make PullRequest once.  But PR for [MM-10997] is duplicated with a part of my work. So I will rebase and make PR after it is merged.

[2018-07-14 14:53] jasonblais commented on #6174
Sounds good, thanks @kaakaa!!

[2018-07-14 16:36] gvengel commented on #9111
I started putting together [code for a PR](/gvengel/mattermost-server/compare/master...gvengel:restrict-teams-by-email) which leverages the existing team.AllowedDomains model in master. I was unaware of it at the time, but it looks like my code basically mirrors the first commit from PR #6954.

PR #6954 was closed pending "proper restriction between teams.". I believe that work has actually been c

[2018-07-15 23:51] falcon78921 commented on #8031
@lieut-data I don't know either. I checked ``sqlstore/supplier.go`` and didn't see anything referencing ``dockerhost`` directly. The error is definitely related to opening the MySQL connection. I checked my Docker installation (Docker 18.03 CE) and didn't find anything odd either.

I'll keep looking. If I find something, I'll be sure to ping! :)

[2018-07-16 09:07] HeZumbu23 commented on #8782
I also can reproduce this issue, and I suffer from it. I think this issue should be have prrio "high", as it is not possible to spread the Mattermost client to new users, which should be the interest of Mattermost to be successful.

I am trying to introduce Mattermost for my family, but I cannot invite the members via the Mattermost mechanism.  As a workaround, I have to create mattermost accounts

[2018-07-16 11:41] thePanz opened #9115 "Get channel-by-name does not return deleted channels"
#### Summary
 API `/teams/{team_id}/channels/name/{channel_name}` is not returning the deleted channel

#### Steps to reproduce
0. Pre.requisites: a channel named `the-channel-name`, with ID `a1b2c3d4`
1. Delete a channel via the API
2. Use the `GET /teams/{team_id}/channels/name/{channel_name}` to fetch the channel (`GET /teams/{team_id}/channels/name/the-channel-name`), no results are found.
3.

[2018-07-16 12:15] maxtar opened #9116 "After team deleting "team statistics" page is stuck."
#### Summary
When I've delete a team, i couldn't see teams statistics.

#### Steps to reproduce
Mattermost version: 5.0.0.

1. Run following command: `mattermost team list`.
1. Run command `mattermost team delete <selected_team>`.
1. In web-gui open _System console_.
1. Open _Team statistics_ menu.

#### Expected behavior
I can see team statistic, and can select team in Combo-Box on the top-right

[2018-07-16 13:17] dc0d commented on #3903
Any updates on the issue?

[2018-07-16 14:09] lieut-data commented on #8838
Hey @theblueskies! Initially, we came at this problem from the perspective of trying to reduce the number of copied `byte` arrays representing the file data, but something didn't add up: even tiny files were crashing memory-bound servers. Eventually, this led to the investigation notes in the linked ticket.

I think it would be perfectly fine if we just copied the data from the `io.Reader` in `S3F

[2018-07-16 14:15] saikaushik-itsmyworld commented on #7721
Any update on this feature? we are looking for this feature! It would be really helpful if you can implement this in the next release

[2018-07-16 17:09] esethna commented on #7721
Thanks @mbuchner and @saikaushik-itsmyworld, this ticket is still up for grabs so if either of you are interested in contributing it we'd be happy to provide some guidance.

[2018-07-16 18:49] amyblais commented on #9115
Hi @thePanz! I created a Jira ticket here that you can track: https://mattermost.atlassian.net/browse/MM-11350.

[2018-07-16 18:59] amyblais commented on #9116
Hi @maxtar! Thank you for reporting this!

Do you know if the team that you deleted was empty (didn't have any channels)?

[2018-07-16 20:01] maxtar commented on #9116
Hi @amyblais. No, Team was not empty. It have has two standard channels (Townsquare and off-topic.)

[2018-07-16 22:02] amyblais commented on #9116
@maxtar Thank you, that information is helpful!

I'll ask our team to help repro this.

In the meanwhile, if you want to, you could try adding a new team to see if that helps resolve the issue (as a temporary solution while we investigate).

[2018-07-17 08:18] licaon-kter commented on #9021
Not on https://about.mattermost.com/download/ yet?

[2018-07-17 08:30] maxtar commented on #9116
@amyblais Creating new team didn't resolve problem. :)

[2018-07-17 08:57] florianproxi opened #9119 "Use link for access server local"
Hello,
we use mattermost v5.1.0 and we would have liked that when we send links to our local DATA server which is in the form W:\DEVELOPPEMENTS\DAMIEN\test.xls this make it clickable, is this possible?

Thanks

[2018-07-17 10:09] pepf commented on #8996
Ill pick this one 👍

[2018-07-17 10:56] jespino commented on #8996
Awesome, Thanks! :)

[2018-07-17 11:48] amyblais commented on #9021
Hi @licaon-kter! We have a new download page, here's a link: https://mattermost.com/download/.

[2018-07-17 12:22] licaon-kter commented on #9021
Then better redirect from the old one. Thanks

[2018-07-17 12:25] amyblais commented on #9021
Thanks, I've let the marketing team know about this 👍

[2018-07-17 14:21] adzimzf commented on #8511
@jasonblais,
I have some question.
below is my step by step to this issue.
1. add slash command available when slash is typed
2.  then create api to send message to another channel

is it correct ?

[2018-07-17 16:07] terjanq commented on #5072
I agree, this is awful

[2018-07-17 16:15] lfbrock commented on #5072
Hi @samholst and @terjanq - we are planning on working on overhauling the Mattermost UI later this year and will take this into consideration.

(Timeframe is starting on the design phase over the next couple months, and implementation phase near the end of the year).

[2018-07-17 16:17] ylluminate commented on #2514
@herrsebi are you still interested?  We were just sideswiped by some misinformation from the Mattermost documentation:
https://docs.mattermost.com/administration/migrating.html#migrating-from-hipchat-server-and-hipchat-data-center-to-mattermost
![text](https://cl.ly/3W2Q2v261I1I/Image%202018-07-17%20at%2012.15.35%20PM.png)

I just heard back from the `[mattermost-etl](https://github.com/Brightscou

[2018-07-17 17:52] jasonblais commented on #8511
Hey @adzimzf! Thanks for your question. Here's the user flow I see:

1.  User 1 posts a message `/request-token` in `development` channel.
2. A message is posted in the `administrators` channel with text ```User @user1 requested a TODOs admin token.\n###Context:\n- team: France `id#eesgbz3nbfgj7dcax1zoxh1e6o`\n- channel: Development `id#ueeop5ssjjromrkem8n4oamy6a```
3. An ephemeral message is post

[2018-07-17 17:56] jasonblais commented on #8511
@adzimzf Also, a huge thanks for helping with this improvement!

[2018-07-17 17:58] jasonblais commented on #9111
Thanks @gvengel!

^cc @wiersgallak @lieut-data

[2018-07-17 21:30] arjitc opened #9122 "Unable to play videos in mattermost"
#### Summary
Unable to play videos in the in-mattermost video player.

#### Steps to reproduce
1. Upload video file into mattermost private message or channel
2. Click on it to play (video player opens up)
3. The play button gets hidden by a "File 1 of 1" text/overlay

#### Expected behavior
The play button should be click-able.

#### Observed behavior (that appears unintentional)

As soon as the

[2018-07-17 21:47] jasonblais commented on #8964
Thanks @pradeepmurugesan!

[2018-07-17 21:47] #8964 closed

[2018-07-17 22:06] lindalumitchell commented on #8646
Resolved in https://mattermost.atlassian.net/browse/MM-10117

[2018-07-17 22:06] #8646 closed

[2018-07-17 22:14] amyblais commented on #9122
Hi @arjitc! Thank you for reporting this.

I'm able to repro this and it looks like one of our engineers just opened a ticket to fix this, you can follow its progress here: https://mattermost.atlassian.net/browse/MM-11378.

In the meanwhile, are you able to click in the middle of the video to play it (as a temporary solution)?

[2018-07-18 01:49] lfbrock commented on #8619
@madchap - did you hit a similar issue? We haven't been able to reproduce it

[2018-07-18 06:48] madchap commented on #8619
Hi @lfbrock,

It seems so. I am using matterircd (https://github.com/42wim/matterircd) to connect to our enterprise mattermost, and I've done a `/part` on at least a known person, and no way to get it back. We had to create a private channel with only the 2 of us as a workaround.

[2018-07-18 07:52] florianproxi commented on #9119
Hi @amyblais i confirm it's the same issue.

[2018-07-18 13:09] amyblais commented on #9037
Hi @stephanfriedrich! Did `SmartHoneybee`'s suggestion help?

[2018-07-18 13:09] amyblais commented on #9046
Hi all! Did `SmartHoneybee`'s suggestion help?

[2018-07-18 13:12] amyblais commented on #9119
Thanks @florianorben - I'll close this Issue for now and you can follow the progress of this in the Desktop Issue I linked above.

[2018-07-18 13:12] #9119 closed

[2018-07-18 16:59] krnlpanik commented on #8619
I can confirm this behavior with matterircd. /part shows a "user left the channel." system message in the DM window of the WebUI. Alerts no longer work correctly, and username doesn't automatically populate in the Direct Messages list, but the WebUI will CAN still issue messages to the channel if opened manually. I have only been able to restore proper functionality by manually adding the bi-direc

[2018-07-18 17:03] amyblais commented on #9116
@jespino Wondering if you can help test this on a test server and see if you can repro:

1. Run following command: `mattermost team list`.
2. Run command `mattermost team delete <selected_team>`.
3. Open System console and observe if the `Team Statistics` page loads.

[2018-07-18 17:12] madchap commented on #8619
cc @BenoitKnecht (last comment)

[2018-07-18 18:54] Jessica-c53 commented on #9046
Yes! The link now leads to a sign in page with a scroll bar for me.

[2018-07-18 18:54] #9046 closed

[2018-07-18 21:08] jespino commented on #9116
Definitively, I can reproduce it.

[2018-07-18 21:16] jespino commented on #9116
I made a PR solving the bug.

[2018-07-18 23:15] jasonblais commented on #9016
Hey @feikesteenbergen! Really appreciate your detailed information here.

Wondering if you were open to submitting a pull request with the proposed changes? That we'll get developers reviewing the changes directly, and we can also run loadtests via the `Loadtest` label to confirm the improvements.

Thanks again! It's great to see such detailed information 👍

[2018-07-19 00:16] amyblais commented on #7769
Hi @Ppjet6, we haven't received an update for a while so I'll close this Issue for now.

If the problem persists, please reopen this issue with relevant information and we'll continue to troubleshoot this.

[2018-07-19 00:16] #7769 closed

[2018-07-19 00:17] #8437 closed

[2018-07-19 02:31] jasonblais commented on #8511
Great question @adzimzf!

By `/request-token` I just referred to a custom [slash command](https://developers.mattermost.com/integrate/slash-commands/) that a developer would have created.

That is true, and we have a work-in-progress PR for that here: https://github.com/mattermost/mattermost-server/pull/8678

Basically, we broke https://forum.mattermost.org/t/mention-or-push-message-to-another-cha

[2018-07-19 02:31] jasonblais commented on #8511
Let me know if that helps? More than happy to clarify anything.

[2018-07-19 07:46] pradeepmurugesan commented on #8272
@jasonblais  This is open in Feb.. Is it still valid ? If Yes.. I can pick this one.

[2018-07-19 10:59] jasonblais commented on #8272
@pradeepmurugesan It's indeed valid! Would love your help :)

[2018-07-19 13:20] amyblais commented on #8986
Hi @sbulka! Just to confirm, is this happening with multiple channels or one channel?

[2018-07-19 14:45] amyblais commented on #8986
I checked with the team and here are some possible causes:

1. You are clicking on a link/bookmark.
2. You have the browser autocomplete the URL to that channel's address.
3. You are clicking a permalink to a message in the channel.

Based on these, a "Join this channel?" confirmation prompt was suggested (which you also proposed) as well as having a preview shown when viewing a permalink.

If one

[2018-07-19 14:58] sbulka commented on #8986
It's number 1.
So obvious...

It's confusing to me that if I click a link I automatically join the channel.
Some kind of information/warning before joining would definitely be helpful.

Out of curiosity I just checked: when clicking the link to a private channel, I am forwarded to a general channel without further notice.
If there was a "Join this channel?" message, there could be info provided li

[2018-07-19 17:02] arjitc commented on #9122
The play button/middle of video click didn't work in this case.

[2018-07-19 23:50] amyblais commented on #9037
Hi @stephanfriedrich, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-19 23:50] #9037 closed

[2018-07-19 23:50] amyblais commented on #9055
Hi @char543, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-19 23:50] #9055 closed

[2018-07-20 09:10] saturninoabril commented on #9006
Thanks @pradeepmurugesan!

[2018-07-20 09:10] #9006 closed

[2018-07-20 13:35] jlsjonas commented on #4257
ping @debanshuk @jasonblais (your last message seems to have gotten lost/forgotten through time)

[2018-07-20 14:09] amyblais commented on #9042
Hi @noidic, we haven't received an update for a while so I'll close this Issue for now.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-20 14:09] #9042 closed

[2018-07-20 14:56] jasonblais commented on #4257
@jlsjonas Do you know if this is easy to fix given we use Open Graph data to populate the preview? We fixed it in v5.2 so it redirects to the correct link, at the very least.

No worries if you're not familiar with it :)

[2018-07-20 18:11] amyblais commented on #8986
Hi @sbulka! Glad to hear that the immediate issue is resolved (figuring out the reason why you are rejoining a channel you've left).

I've created an Improvement ticket to investigate adding the "Join this channel?" message, but we cannot yet give any confirmation when or if this feature will be added since we need to explore different designs / scenarios, etc. for this case (I checked with our pr

[2018-07-20 18:11] #8986 closed

[2018-07-20 21:02] hmhealey commented on #9058
Closing as this has been implemented in @DSchalla's pull request

[2018-07-20 21:02] #9058 closed

[2018-07-20 22:41] esethna opened #9140 "[Help Wanted] [MM-11388] Allow spaces in keywords that trigger mentions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-21 01:00] jasonblais commented on #8820
@realrolfje @DSchalla I thought about this more, and I think Mattermost covers GDPR requirements (which are also documented [here](https://docs.mattermost.com/overview/compliance.html#gdpr-compliance))

1 - The privacy policy with full disclosure on account creation page was also there prior to GDPR being launched, and didn't change.

So the privacy policy someone agreed to in 2015 was the same as

[2018-07-21 13:39] Xm3a01 commented on #2524
npm ERR! Unexpected end of JSON input while parsing near '....1","eslint":"^3.4.0"'

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\Mohamed\AppData\Roaming\npm-cache\_logs\2018-07-21T09_43_25_473Z-debug.log

this error game when I am install it pleace anyone can help me !!!!

[2018-07-22 09:35] pradeepmurugesan commented on #8272
server pr : [#9141](https://github.com/mattermost/mattermost-server/pull/9141)

[2018-07-23 11:23] gmccance commented on #9097
Back from vacation.. yes, sure - I'm happy to give it a go.

[2018-07-23 12:35] amyblais commented on #9116
Hi @maxtar, the PR to fix this bug has been merged so I'll close this Issue for now.

If the issue persists, please reopen this Issue with the relevant information and we'd be glad to help you where we can.

[2018-07-23 12:35] #9116 closed

[2018-07-23 14:41] cometkim commented on #8718
I just learned about `Content-Length` and `Transfer-Encoding` the HTTP's standard header and It was a very easy issue to fix.

`Content-Length` is unnecessary for what I want. I should use `Transfer-Encoding: chunked` for streaming and it will automatically by removing the `Content-Length` header.

PR here -> #9144

[2018-07-23 14:49] ylluminate opened #9145 "Video playback does not render for clients"
#### Summary
Video playback is missing video in both the Client app + Chrome on macOS 10.13.6 when clicking the play button / image in a video preview within the client for videos such as YouTube videos. Audio plays, but no video.

#### Steps to reproduce
Using Mattermost server 5.1, in a chat on a client, I click a YouTube video preview and the image goes blank. Audio begins to play, but video is

[2018-07-23 14:55] lfbrock commented on #2524
@Xm3a01 - could you try posting on our [troubleshooting forums](https://forum.mattermost.org/) with what you're trying to do and what you're seeing, or sign up to our [team Mattermost site](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and post in the Native mobile apps channel?

[2018-07-23 16:20] amyblais commented on #9145
Hi @ylluminate! Thanks for reaching out 👍

I'm not able to repro this with some other videos and the video you showed above doesn't seem to exist when I type the url.

Would you have a link to another video that I could help test out?

[2018-07-23 16:50] ylluminate commented on #9145
@amyblais hmm, odd as it happens with all YouTube videos I try...

I looked into the JS console within Chrome and saw the following 2 embedded player errors:
[code]

[2018-07-23 17:23] amyblais commented on #9145
1. In addition to the console errors, do you see any errors in logs that we could take a look at as well?

2. Also, not 100% sure if it's related but can you help check what your setting is set for [Google API key](https://docs.mattermost.com/administration/config-settings.html#external-services)?

[2018-07-23 18:51] jasonblais commented on #9140
Thank you!! Your're awesome @pradeepmurugesan

[2018-07-23 19:41] cometkim commented on #9093
What a code size :joy:

I will take this one.

[2018-07-23 20:33] jasonblais commented on #9093
Awesome! Thanks @cometkim for taking up the challenge :)

[2018-07-24 07:23] harshilsharma63 opened #9153 "Markdown rendered incorrectly from plugin response but correctly from user input"
#### Summary
Markdown rendered incorrectly from plugin response but correctly from user input.

#### Steps to reproduce
From a plugin, return a `CommandResponse` with `text` set as "`/abc def g|h <foo>` or `/abc def g|h` <bar>".
Directly enter this text in the message box and compare the results of rendered markdown.

#### Expected behavior
A markdown should be rendered correctly and consistently

[2018-07-24 15:53] esethna opened #9154 "[Help Wanted] [MM-11375] When creating a new channel, you get two periods if you use a period at the end of the channel purpose"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-24 16:09] esethna opened #9155 "[MM-11287] Add support for plus sign and period/dot in custom URL schemes"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-24 16:13] esethna opened #9156 "[Help Wanted] [MM-4819] Add a setting to the system console to change the minimum length of hashtags"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-24 16:18] Ulisses-champ83 commented on #9156
They lock me up. From yesterday l can get access with my primary mail.l was
try and change password. But now. Is worse my development ulisses-champ83
after l" change password.  I lose acces

u.e.m

On Tue, Jul 24, 2018, 9:14 AM Eric Sethna <notifications@github.com> wrote:

[2018-07-24 16:41] esethna opened #9157 "[Help Wanted] [MM-11464] Add pre and post login hooks"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-24 17:09] Ulisses-champ83 commented on #9157
I do what you team talk me . To do and together.  We can made
happening..is. good the l know l have teams..l was  thinking the l was
alone.. hey come Marc sey to increase the time

u.e.m

On Tue, Jul 24, 2018, 9:41 AM Eric Sethna <notifications@github.com> wrote:

[2018-07-24 17:45] Ulisses-champ83 commented on #9153
I find everything..wee need.all

u.e.m

On Tue, Jul 24, 2018, 10:28 AM Ulises Escalera <fabia.esca678@gmail.com>
wrote:

[2018-07-24 23:43] amyblais commented on #9145
@ylluminate Something that came to mind is that this could be an issue with missing mime types - there is an [old ticket](https://mattermost.atlassian.net/browse/MM-5101) where a recommendation was to install a media player or other browsers on the server which would add the missing mime types and make it work.

[2018-07-24 23:46] michaelkochub commented on #9154
Hi @esethna, I am interested in working on this. This is would be my first contribution, so I think it is a good one to start with.

[2018-07-25 01:42] harshilsharma63 commented on #9153
@amyblais v5.1

[2018-07-25 13:01] amyblais commented on #9080
Hi all, there haven't been updates on this Issue for a while so I'll close this for now.

If you have any further questions, please reopen this Issue with the relevant questions/information and we'd be glad to help you again where we can.

[2018-07-25 13:01] #9080 closed

[2018-07-25 13:04] amyblais commented on #9077
Hi @mcallaghan-sandvine, we haven't received an update for a while so I'll close this Issue for now.

You can follow the progress of this feature request in the ticket and PR that I linked above.

If you have any further questions, please reopen this Issue with the relevant questions/information and we'd be glad to help you where we can.

[2018-07-25 13:48] celk commented on #7721
We need this feature as well for an enterprise deployment. We've plans to migrate from jabber to mattermost, but a meaningful online status is one of the minimum requirement.

[2018-07-25 13:53] mcallaghan-sandvine commented on #9077
What's the ETA/roadmap/milestone for #15 though? -- the proposal here for a client banner MAY be a desired fast/interim solution -- this is especially important for being notified for security updates

Would prefer to re-open this issue for that reason.

[2018-07-25 14:13] Vaelor opened #9162 "Channel can not be updated if user (system admin) is not in channel"
#### Summary
Refering to a bug here:
https://github.com/Vaelor/python-mattermost-driver/issues/28

The issue is, a public channel can not be updated if the user issuing the update for the channel, is not in it. Even though he is a system admin.
This does not seem to be an issue with my python-mattermost-driver, as I could reproduce it without.

#### Steps to reproduce
Tried last with Mattermost v5

[2018-07-25 14:17] uhlhosting opened #9163 "MM Domain in Shared URL"
#### Summary
When a user using a web browser Chrome in our test, used an address in form https://klipie.com the matermost server will link it in some cases in the form:
https://chat.uhlhosting.ch/klipie.com

#### Steps to reproduce
1 user webapp / chrome | 2 nd user mattermost app OSx

#### Expected behavior
When a user paste or writes an address no one wait to have it routed in the same domain ie

[2018-07-25 16:50] esethna commented on #9154
Awesome, thanks @michaelkochub! I'll remove the up for grabs label if you'll be taking this one

[2018-07-25 19:19] amyblais commented on #9163
Hi @uhlhosting! What Mattermost server version are you using?

[2018-07-25 20:49] amyblais commented on #9153
@saturninoabril Would you be able to help test this?

[2018-07-25 21:30] uhlhosting commented on #9163
Hi @amyblais
We use Mattermost Version: 5.1.0

[2018-07-25 22:59] amyblais commented on #9163
Thank you!

It seems that I'm not able to reproduce this, would you be able to provide more detailed repro steps? I just want to make sure I'm not missing anything.

[2018-07-26 00:00] amyblais commented on #9162
Hi @Vaelor!

Thanks for reporting this. I'll ask help from our team to try repro this.

[2018-07-26 02:06] michaelkochub commented on #9154
@esethna, all done! https://github.com/mattermost/mattermost-webapp/pull/1480

[2018-07-26 09:50] saturninoabril commented on #9153
Markdown rendering should be handled by the Web App plugin.  You may use `formatText(text, options)` to display it properly.

For reference, please see exported libraries especially the post-utils / usage example at https://developers.mattermost.com/extend/plugins/webapp/reference/.

[2018-07-26 11:49] TunnyTraffic opened #9166 "Unexpected highlighting/string substitution when searching with empty double quotes"
#### Summary
using search terms followed by empty double-quotes in the search bar for web and desktop clients  (eg `test ""`)returns search results with what should be highlighted terms replaced with $MM_SEARCHTERM1, $MM_SEARCHTERM2. etc. This looks related to MM-10095 Unexpected highlighting/string substitution when searching with asterisk

#### Steps to reproduce
OS: Windows 10 1803
Desktop clie

[2018-07-26 11:51] TunnyTraffic commented on #9166
Updated Desktop client to 4.1.2, issue still present.

[2018-07-26 16:06] amyblais commented on #9162
@Vaelor - Just to confirm, what would the repro steps be without python-mattermost-driver or is it the same?

[2018-07-26 18:59] amyblais commented on #9078
Hi @thieraufc, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-07-26 19:19] admiralobvious commented on #9078
@amyblais Why would this be fixed or no longer valid when the three issues you linked are not closed? Specifically this [one](https://github.com/mattermost/mattermost-server/issues/8838) and the JIRA [issue](https://mattermost.atlassian.net/browse/MM-10677) which is still unresolved as well.

I confirm this is still happening on 5.1.0.

[2018-07-26 20:23] rbiggers commented on #7721
We need this feature as well. My developers are not using the app because they think that everyone is offline or away when in-fact they aren't.

[2018-07-26 22:42] amyblais commented on #9166
Hi @TunnyTraffic! Thanks for reporting this 👍

I'm able to repro also on v5.1, so I opened a ticket here: https://mattermost.atlassian.net/browse/MM-11503.

[2018-07-26 23:33] Vaelor commented on #9162
@amyblais Using something like curl it would probably be somethin similar, get a token, get the channel id you want to update (it should also be available in the UI when viewing the channel info), and run curl (not 100% sure if the syntax is a 100% correct, currently typing on the phone and can't try it out)

’
curl -X PUT -i -H 'Authorization: Bearer token' -H 'Content-Type: application/json' -d

[2018-07-27 00:52] harshilsharma63 commented on #9153
@saturninoabril so if I implement a slash command and I want to send markdown in `CommandResponse`, can I now do it just from the server side? I mean adding a webapp just for formatting markdown seems overkill.

[2018-07-27 12:30] M1dgard opened #9173 "EnableLinkPreviews:false doesn't disable YouTube previews"
#### Summary
Setting EnableLinkPreviews to false doesn't disable YouTube previews

#### Steps to reproduce
1. Set EnableLinkPreviews to false in the server config
2. Send a message with a link to a YouTube video

#### Expected behavior
There's no preview for the YouTube video

#### Observed behavior (that appears unintentional)
There's a preview for the YouTube video, causing non-protected browser

[2018-07-27 15:18] amyblais commented on #9173
Hi @M1dgard! Thank you 👍

I was able to repro and created a ticket here: https://mattermost.atlassian.net/browse/MM-11508

[2018-07-27 18:36] amyblais commented on #9077
@mcallaghan-sandvine Update: I've asked our Product Managers to weigh on this and I'll let you know when I receive feedback

[2018-07-27 19:08] amyblais commented on #9077
Our Product Managers responded that this feature is aimed at v4.2.0 and the developer who is working on it is currently testing it / fixing bugs. The best option seems to be keeping our focus on finishing the updater feature as it is one of our key features that were are working on at the moment.

[2018-07-30 05:39] amir-khalili commented on #3903
No yet buddy!

From: Kaveh Shahbazian [mailto:notifications@github.com]
Sent: Monday, July 16, 2018 5:48 PM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Amir <khalili.career@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [mattermost/mattermost-server] rtl/native direction support (#3903)

Any updates on the issue?

—
You are receiving this because you

[2018-07-30 06:35] xMateMCPE opened #9181 "Suggestion - Changing URL for default channel"
An option to change the url of the default channel would be good, our company has no english speaking people, so it would be nice to change it to something else.

[2018-07-30 08:01] saturninoabril commented on #9153
Oh sorry... I missed your case.  If you're sending text via `CommandResponse`, it should be handled by the client side without writing client plugin.  Could you provide once again your repro steps, observed response and expected? By looking at your original post, I cannot reproduce your issue.

[2018-07-30 10:02] Vaelor commented on #9162
Oh maybe relevant: This happens using the Team Edition. Not sure if this happens on the Enterprise version!

[2018-07-30 13:00] pradeepmurugesan commented on #9140
rewrite the existing mention parser is hard since the string matching algorithms usually find the substring and its hard to differentiate for the message

```This is the message for user.name in channel x```

and the available keywords being

```user.name and user. ```

In the above case both will be notified.

So handled the spaces separately for now.

[2018-07-30 13:34] saturninoabril commented on #9162
@Vaelor thanks for the report and additional info.  I'll try to test this out later today, cc @amyblais.

[2018-07-30 14:35] amyblais commented on #9181
Hi @xMateMCPE, thank you for the feature request!

Would you like to upvote our existing feature requests related to this suggestion, or create a new request if the existing ones don't quite describe what you're looking for:

https://mattermost.uservoice.com/forums/306457-general/suggestions/13403289-easily-change-default-channel-town-square
https://mattermost.uservoice.com/forums/306457-general/s

[2018-07-30 17:54] saturninoabril commented on #9162
@Vaelor Sorry but I am not able to repro the issue.  It works for me both on EE and TE, with sysadmin as not a channel member or even not a team member.

[2018-07-30 18:57] #9157 closed

[2018-07-31 07:43] CjS77 opened #9193 "API `/posts` with special characters returns 500"
#### Summary
Some `/posts` return a 500 server error with message `store.sql_post.save.app_error`

#### Steps to reproduce
POST `https://myserver.com/api/v4/posts`
HEADERS:
[code]
Body:
[code]
#### Expected behavior
Message posted

#### Observed behavior (that appears unintentional)
An error is returned:
[code]

#### Possible fixes
It appears that some special characters are causing the problem, e

[2018-07-31 11:07] pradeepmurugesan commented on #9091
I can work on this.

[2018-07-31 12:11] jasonblais commented on #9091
Awesome! Thanks @pradeepmurugesan 👍

[2018-07-31 12:31] CjS77 commented on #9193
Pasting the message via the UI causes the `retry|cancel` to appear indefinitely, suggesting that the same issue occurs in the UI

[2018-07-31 13:38] amyblais commented on #9193
Hi @CjS77! What Mattermost server version are you using?

[2018-07-31 16:41] esethna opened #9196 "Create example browser extension for Firefox"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-07-31 17:46] jespino commented on #9115
Hi @thePanz we discussed it in our Platform meeting, and we decided to keep it as is now (but we added a included_deleted parameter).

[2018-07-31 17:46] #9115 closed

[2018-07-31 18:50] CjS77 commented on #9193
Mattermost Version: 5.0.1
Database Schema Version: 5.0.0
Database: postgres

[2018-07-31 21:38] CountMurphy commented on #8619
Having the same issue. ran a /part with matterircd on a person and now I can no longer communicate with them privately. Using the web interface, it just hangs. Using the mobile app gives "Refreshing messages failled." According to our admin, I'm generating permission denied logs whenever I try to access/send private messages with that person

[2018-07-31 22:41] amyblais commented on #9193
@icelander Can you help test this out?

[2018-08-01 09:09] CjS77 commented on #9193
I found these messages in the logs that should help:

[code]

So it looks like a Postgres or pq driver setting maybe?

[2018-08-01 09:32] CjS77 commented on #9193
Confirm that the DB was set up incorrectly. The `server_encoding` must be UTF-8

[2018-08-01 10:31] #9193 closed

[2018-08-01 14:38] harshilsharma63 commented on #9153
@saturninoabril I tried it in a new plugin and it did work fine. Let me try verifying again in my original plugin and come back with a reproducible sample plugin.

[2018-08-01 14:50] amyblais opened #9202 "Mattermost v5.2"
This is a meta issue for v5.2 release updates.

You can find key dates for v5.2 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### August 3rd: Release candidate cut
After this date, only bugs can be committed to the release branch.

The following information will be updated after release candidate is

[2018-08-01 15:16] jasonblais commented on #8619
@42wim would you have insights on the above? Seems like running `/part` on matterircd may prevent you from opening a direct message channel with them again.

[2018-08-01 15:52] CountMurphy commented on #8619
Workaround fix:
 looking at the database there are "channels" for user to user
 you are don't have a record stating you are a member of the
                  YourUser<->PersonYouParted's channel

Manually creating a record fixes this.

[2018-08-01 16:36] krnlpanik commented on #8619
I'm no SQL wizard, but I used the following query to come up with a list of affected D channels. This only lists the case of a two user D channel being reduced to one member. Multi-member D channels will not be listed here.
[code]

[2018-08-01 21:37] esethna commented on #7721
Sweet! Thanks @rbiggers.

Adding @hmhealey as he dove into this a bit on our end and might be able to provide some guidance. Feel free to also join our [pre-release server](https://pre-release.mattermost.com/core/channels/tickets) where most contributors and developers communicate. We can set up a channel for all dicussion related to this feature

[2018-08-02 08:59] Vaelor commented on #9162
@saturninoabril @amyblais Thanks for both of your time, I tried to reproduce the issue again, but our admin had the time to update mattermost now, and yeah, 5.1 seems to fix this already, as I too couldn't reproduce it anymore (probably by accident as I couldn't see anything in the changelogs :-D I could swear 5.0 did not work! xD).

Well, sorry to keep you from doing something useful ;-) :-D

[2018-08-02 08:59] #9162 closed

[2018-08-02 09:06] saturninoabril commented on #9162
No problem at all.  I didn't had a chance to try it in 5.0 but glad to know it's working on 5.1. 🎉

[2018-08-02 12:06] JensTimmerman commented on #6975
can this be restricted to team admins only?

[2018-08-02 12:14] jasonblais commented on #6975
@JensTimmerman Excellent question! You can restrict who can remove members in public and private channels using the Mattermost permission system: https://docs.mattermost.com/deployment/advanced-permissions.html

It is currently available in Enterprise Edition E10 and E20.

Charities, open source projects and nonprofit organizations are eligible for a nonprofit Enterprise license at https://matterm

[2018-08-02 12:35] JensTimmerman commented on #6557
can this command be restricted to team admins?

[2018-08-02 12:37] jasonblais commented on #6557
@JensTimmerman Excellent question! You can restrict who can remove members in public and private channels using the Mattermost permission system: https://docs.mattermost.com/deployment/advanced-permissions.html

It is currently available in Enterprise Edition E10 and E20.

Charities, open source projects and nonprofit organizations are eligible for a nonprofit Enterprise license at https://matterm

[2018-08-02 13:49] harshilsharma63 commented on #9153
@saturninoabril here you go, a minimal, complete, and verifiable plugin example demonstrating the bug - https://gist.github.com/harshilsharma63/94ba29395c06a31bbdb2d4980600251f

This will register a `/demo` slash command. If you run that, it will do two things -
1. create a standard post, and
1. return a `CommandResponse`

both with the exact same text. Notice how the markdown in two is rendered d

[2018-08-03 00:16] amyblais commented on #8923
The PR has been merged, so I'll close this Issue for now - thanks for reporting this bug!

[2018-08-03 00:16] #8923 closed

[2018-08-03 12:43] Dropsik opened #9215 "Error 1040: Too many connections (to DB)"
After upgade Mattermost from 4.9.0 (4.9.2/Thu May  3 23:19:23 UTC 2018/416c7523c3097af6759b7c40075df51d44624672/004f26d8eb84cd548eb6c56c37f8ca49413e1322) to 5.1.0 (5.1.0/Fri Jul 13 19:03:58 UTC 2018/54994502241bf40bebd9a9d7719c58f708aef5b1/none), few hours after running, Mattermost write to log:
`err=SqlStatusStore.SaveOrUpdate: Encountered an error saving the status, Error 1040: Too many connecti

[2018-08-03 13:33] pradeepmurugesan commented on #8347
I would like to work on this... 👍

[2018-08-03 14:03] amyblais commented on #9215
Hi @Dropsik! Thank you for reaching out.

Can you help take a look at [Important Upgrade notes](https://docs.mattermost.com/administration/important-upgrade-notes.html) for between 4.9 and 5.1 to see if any apply in your case?

[2018-08-03 14:28] Dropsik commented on #9215
Of course I read these notes before upgrade.
I notice (after upgrade) that Mattemost have set Maximum Open Connections: 300
So in my case (default MariaDB max_connection = 151) could be an issue - but on previous verion works perfect about 2-3 months.

Anyway now observing. But what with migration job ?

[2018-08-03 14:58] cometkim commented on #9093
Quick dev questions for the navbar component.

Currently, the navbar component is a header for mobile layout, not shown up on PC(wide) and also it is responsible for managing the modals. Am I understanding this correctly?

If true, does this mean that the modal container should be separated from the navbar?

[2018-08-03 16:37] saturninoabril commented on #9153
Thanks @harshilsharma63 for sharing!  I'll try this early next week.  Just need to prioritize some bug fixes for upcoming 5.2 release.

[2018-08-04 07:04] ashleyhull-versent opened #9220 "Firefox crash using Firefox on MacOS Mojave beta - webapp"
#### Summary
Opening the "upload" file dialog crashes my firefox.

firefox: 61.0.1 (stable)
OS: MacOS: Mojave 10.14 Beta (18A347e)

#### Steps to reproduce
open teams settings - click edit team icon - click select - file select dialog opens but Firefox is frozen.

#### Expected behavior
Select an image and upload.

#### Observed behavior (that appears unintentional)
Firefox freezes - I cannot sele

[2018-08-05 13:58] AsuMagic opened #9221 "Recent mentions do not work with very short usernames"
#### Summary
If your username is short enough (1 or 2 letters), recent mentions will not work, as it searches for `@<your username> <your username>` and results are getting excluded because your username is so short.

#### Steps to reproduce
Mattermost `4.10.0`.

1. have an username short enough (e.g. `ab`)
2. mention yourself or get mentioned by somebody else
3. hit "recent mentions"

#### Expect

[2018-08-06 04:50] harshilsharma63 commented on #9153
@saturninoabril sure. I'm excited for 5.2 release!

[2018-08-06 07:33] saturninoabril commented on #9153
@harshavardhana Hmmm, I maybe wrong but I don't think something on latest master has changed that fixes your use case.  The function responsible is [parseSlackLinksToMarkdown](https://github.com/mattermost/mattermost-server/blob/master/app/post.go#L328).
The text in CommandResponse is typically used for server feedback like success, fail or error.  In your case, it seems that you're trying to indi

[2018-08-06 07:42] harshavardhana commented on #9153
@saturninoabril looks like you meant @harshilsharma63

[2018-08-06 07:43] saturninoabril commented on #9153
Oh sorry...  That's right, should be harshilsharma63.

[2018-08-06 12:34] ArchangeGabriel opened #9222 "Keyboard layout issues with shortcuts"
#### Summary

Keyboard shortcuts seem to ignore the actual layout.
For instance, when typing Ctrl+V, I get the File Uploading window, because my V happens to be where the U is on Qwerty layout notably.
Note that this is happening in Chromium, Desktop app (well that’s a bit like Chromium), and Firefox with a default profile but not with an hardened one (which I guess prevent you to access the actua

[2018-08-06 15:03] harshilsharma63 commented on #9153
@saturninoabril I do use autocomplete and hint feature of slash commands, and you are correct that I'm trying to show command usage syntax in the message. I show this message along with an error message when a user enters an incorrect syntax. Something like -

    incorrect parameter 'file'. Use this command as `/command foo|bar <your-name>`

I think it makes for a good UX to report the correct sy

[2018-08-06 16:09] maxtar commented on #9116
Hi @amyblais.
I've update mattermost to 5.1.0 version.
Problem is still reproducing.

[2018-08-06 16:40] jespino commented on #9116
@maxtar Yes, It was solved for 5.2 version.

[2018-08-06 16:43] maxtar commented on #9116
@jespino ups. thanx.
When will to be released 5.2 version?

[2018-08-06 16:47] jespino commented on #9116
It'll be release on August 16th.

[2018-08-06 20:53] jasonblais commented on #8619
@saturninoabril Can you help try the following repro steps:

1. Close your desktop app and browser.
2. Use this API call to remove yourself from a DM channel with User1: https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D~1members~1%7Buser_id%7D%2Fdelete
3. Reopen the desktop app and observe that the DM channel you removed yourself in step 2 is hidden in the sidebar.
4.

[2018-08-06 22:13] amyblais commented on #9221
Hi @AsuMagic! Thanks for reaching out 👍

Can you help with what steps you are taking to change username to 1-2 letters (I get an error message when I try to have a username with less than 3 letters)?

[2018-08-06 23:12] rocketnova commented on #9222
Also confirming that this is happening for me. I typically use Dvorak, but after the most recent upgrade `cmd+k` using the k in dvorak (v in qwerty) is not working. However, `cmd+k` using the k in qwerty works no matter what input source I'm using, including when I'm typing everything else in dvorak.

[2018-08-06 23:53] jasonblais commented on #9222
Thanks for the report! @ArchangeGabriel @rocketnova this should be resolved in v5.2 via https://github.com/mattermost/mattermost-webapp/pull/1515

[2018-08-07 00:00] rocketnova commented on #9222
@jasonblais Great! Will that resolve the issue in the desktop app, too? That's where I've been experiencing the issue.

[2018-08-07 00:03] jasonblais commented on #9222
@rocketnova It should - our QA team will test on both browser and desktop app though, so if not we'll catch it.

[2018-08-07 00:03] rocketnova commented on #9222
@jasonblais Awesome. Thank you!

[2018-08-07 03:13] saturninoabril commented on #8619
@jasonblais @numericillustration I've reproduced the issue and filed a ticket for it https://mattermost.atlassian.net/browse/MM-11593

[2018-08-07 08:13] maxtar commented on #9116
@jespino  thanx. Will wait.

[2018-08-07 09:39] poshl9k opened #9228 "Windows app: flash app doesn't work"
#### Summary
Flash app window and taskbar icon when a new message is received
If enabled, app window and taskbar icon flash for a few seconds when a new message is received.
doesnt work

#### Steps to reproduce
Latest

#### Expected behavior
Icon must flash when receiving messages

[2018-08-07 12:41] amyblais commented on #9228
Hi @poshl9k, thanks for reporting this 👍

I'll test this out today - can you also help with more details on your Mattermost server version, desktop app version, and Windows or Linux version?

[2018-08-07 15:03] amyblais commented on #9202
### v5.2 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.2.0-rc2/mattermost-team-5.2.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cbd7ee964ac1df13e2c91409d0e9da6d6c4a201/source/administration/changelog.md)

[2018-08-07 16:10] esethna opened #9232 "[Help Wanted] [MM-11567] Allow searching in direct message channels using the "in:" modifier"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-07 16:20] esethna opened #9233 "[Help Wanted] [MM-10448] Allow emojis to trigger mentions based on keywords"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-07 21:33] jasonblais commented on #8661
@esethna Would you have answers on the above questions from @pepf, or be able to gather that infomation?

[2018-08-07 21:53] domibarton opened #9236 "Deleted user via CLI tools is appearing as "Someone" in direct messages section"
#### Summary

When deleting a user via CLI tools `mattermost user delete ...`, the user and all its messages seem to be gone, but the direct messages sidebar now shows the user / conversation as `Someone` which can't be removed.

#### Steps to reproduce

- Write some direct messages with a user
- Make sure you've the user in your direct messages section of your sidebar
- Delete that user via CLI `

[2018-08-07 21:56] domibarton commented on #9236
Here's a screenshot:

![image](https://user-images.githubusercontent.com/4124099/43804765-75e23b22-9a9d-11e8-815b-483decd3a8c2.png)

[2018-08-07 21:57] domibarton commented on #9236
Btw using GitLab's Mattermost integration:

[code]

[2018-08-07 22:08] amyblais commented on #9236
Hi @domibarton! Thanks for reaching out 👍

Can you help try what happens when you add `CloseUnusedDirectMessages` option to the config?

[2018-08-08 01:15] esethna commented on #8661
@pepf I pinged Lisa to check but I think it's safe to take this one over.

Regarding #2, I'm going to add @sudheerDev to help answer the question on the API. In terms of what to display during the call, do we have any existing behavior built into the channel member count component? As the proposal is to use the same component for the pinned count. I imagine the number is populated as part of chann

[2018-08-08 06:33] sudheerDev commented on #8661
@pepf Hey, Yes you would have to call an api but we dont have an explicit call for just count so you would have to use https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D~1pinned%2Fget

During the load you can follow the same behavior as the channel members count and show `-`. We cannot use the same component as channel members as it is a pop up component and this is sl

[2018-08-08 12:49] amyblais commented on #9122
The ticket to fix this has been closed as Resolved, so I'll close this Issue for now.

[2018-08-08 12:49] #9122 closed

[2018-08-08 12:50] amyblais commented on #9145
Hi @ylluminate, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-08-08 12:50] #9145 closed

[2018-08-08 12:51] amyblais commented on #9163
Hi @uhlhosting, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-08-08 12:51] #9163 closed

[2018-08-08 14:09] amyblais commented on #9215
@Dropsik I checked with an engineer and they said you have two options:

1. Change the max amount of allowed connections in System Console -> Advance -> Database to match the max allowed connections of your Database.
2. Bump the allowed max connections of your Database.

Let us know if this helps!

[2018-08-08 18:20] Ppjet6 commented on #7769
Good news!

I don't yet have the exact steps to reproduce, but we pinned it down to the following:

- Start 1:1 discussion with someone (from the bridge or MM doesn't matter)
- From MM, send *some kind of message* that the bridge doesn't really understand (need to figure what exactly). At this point the bridge creates a new channel for this
- PART the new channel. That causes MM to leave the 1:1,

[2018-08-08 18:27] jasonblais commented on #7769
Thanks @Ppjet6! There was another thread with a similar problem and we might have found the cause: https://github.com/mattermost/mattermost-server/issues/8619#issuecomment-410919448

Let me know if that covers it?

[2018-08-08 21:51] amyblais commented on #9228
Hi @poshl9k - I'm not able to repro this, would you have any additional details on your Mattermost server version, desktop app version, and Windows or Linux version?

[2018-08-09 06:24] Hanzei opened #9241 "Allow AllowedUntrustedInternalConnections for <SiteURL>/plugins by default"
#### Summary
When using plugins with interactive message buttons, admins have to add `localhost` to `AllowedUntrustedInternalConnections`. Otherwise mattermost will block all http request to the plugin.

#### Expected behavior
Untrusted connections to plugins are allowed

#### Observed behavior (that appears unintentional)
Untrusted connections to plugins are prohibited by default

[2018-08-09 06:25] Hanzei commented on #9241
See [disscusion](https://pre-release.mattermost.com/core/pl/upke6c34utnkpn7zsqq6htcd9w) on pre-release.

cc @hmhealey

[2018-08-09 12:03] cpanato opened #9242 "Test issi"
please ignore

[2018-08-09 12:10] #9242 closed

[2018-08-09 19:35] domibarton commented on #9236
Setting `CloseUnusedDirectMessages` to `true` and restarting the service worked indeed :) Thanks @amyblais

[2018-08-09 19:35] #9236 closed

[2018-08-09 23:26] amyblais commented on #9241
Hi @Hanzei! Looks like Harrison started to look into this, I'll ping devs again after a few days to ask if we should create a Jira ticket for this depending on how the discussion goes.

[2018-08-10 14:15] cpanato opened #9246 "test issue"
please ignore

[2018-08-10 21:25] AsuMagic commented on #9221
Hi @amyblais, I can confirm I cannot change my username to 1-2 letters either on the version I reported this for actually. I am not the one who had the 2 characters short username but I could verify that he had this issue.

Perhaps it was possible on older versions from years ago but isn't possible anymore.

This seems like a very niche issue and its fix seems problematic, should I close it?

[2018-08-10 21:58] amyblais commented on #9221
Hi @AsuMagic - sounds like upgrading would be the best way to resolve this, perhaps the next step could be that you could ask the affected user what version they are using and if upgrading to a newer version would be an option for them?

[2018-08-10 22:27] amyblais commented on #9221
I see, yes the best solution then would be that the user changes their username to something longer 👍

I'll close this Issue for now as this has a simple workaround,

[2018-08-10 23:42] amyblais commented on #9202
### v5.2 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.2.0-rc3/mattermost-team-5.2.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/blob/3cbd7ee964ac1df13e2c91409d0e9da6d6c4a201/source/administration/changelog.md)

[2018-08-11 06:55] furai commented on #9221
Not really a solution i was after when I've asked Asu to report it but thank you anyway. Will changing username change all the old highlights/mentions as well?

[2018-08-11 19:02] jasonblais commented on #9232
Good catch @santos22! Have removed the restrictions.

[2018-08-11 19:03] jasonblais commented on #9232
Would you be interested helping with this improvement?

[2018-08-12 17:13] pradeepmurugesan commented on #8347
@jasonblais @esethna I have ignore the following, thinking it can be done in the next iteration.

1. I open the more direct messages dialog
2. filter and click on a group message option
3. the users in that group gets added
4. the same group message option still comes in the suggestion list.

though, clicking on the same has no effect. i.e won't add the users again.

Kindly let me know if filterin

[2018-08-13 11:08] jasonblais commented on #8347
Thanks @pradeepmurugesan! Can you add the note to the PR as well, so the PR reviewers will be aware of it?

[2018-08-13 15:46] santos22 commented on #9232
I would like to take a look but would rather keep the **Up For Grabs** label on here in case anyone else can get to it 👍

[2018-08-13 22:36] amyblais commented on #9221
Hi @furai,

No, when you change your username, the old mentions will not be highlighted anymore. I'll ask our devs if we should create a ticket for this.

[2018-08-14 07:07] Dropsik commented on #9215
Now I have in:
Mattermost: 300 connections
MariaDB: 301 max connections
lets see what happen.
I don't understand, why it's a problem after upgrade...

[2018-08-14 07:10] Dropsik opened #9253 "Worker: Failed to run migration"
After upgade Mattermost from 4.9.0 (4.9.2/Thu May 3 23:19:23 UTC 2018/416c7523c3097af6759b7c40075df51d44624672/004f26d8eb84cd548eb6c56c37f8ca49413e1322) to 5.1.0 (5.1.0/Fri Jul 13 19:03:58 UTC 2018/54994502241bf40bebd9a9d7719c58f708aef5b1/none), few hours after running, Mattermost write to log:

`{"level":"error","ts":1534230250.7646399,"caller":"migrations/worker.go:105","msg":"Worker: Failed to

[2018-08-14 11:53] rbns opened #9255 "model/utils.go imports testing"
#### Summary
importing "testing" in files not ending in _test.go pollutes builds, most notably flags.

#### Steps to reproduce
build anything importing ```github.com/mattermost/mattermost-server/model```

#### Expected behavior
only flags defined appear when executing program with argument ```-h```.

#### Observed behavior (that appears unintentional)
not only the defined flags, but also flags set

[2018-08-14 13:46] amyblais commented on #9253
Hi @Dropsik - this seems to be the same error as in the other Issue you had opened. Did you try the suggestions given by our devs here https://github.com/mattermost/mattermost-server/issues/9215#issuecomment-411419187?

[2018-08-14 14:51] Atkinsbra opened #9257 "Are you very good at developing android app, iOS app or/and website? If yes, Then the world needs you."
Are you very good at developing android app, iOS app or/and website? If yes, Then the world needs you.
My team and I, are on a mission to develop an app based social media network, that will connect the world and make sure every body in the world laughs, at least, once in a day.
And we need you, to be a part of this great project.

We believe, if we had this type of social network in the world, we

[2018-08-14 15:32] vcazan commented on #2514
This import feature is the only thing holding us back from ditching Hipchat for Mattermost. We are definitely not going to be using Slack. Any progress on this?

[2018-08-14 15:58] #9257 closed

[2018-08-14 16:50] vcazan commented on #2514
@ylluminate Will we be able to import private messages and files as well?

[2018-08-14 16:57] amyblais commented on #9241
Hi @Hanzei, I created a ticket for our devs to look at: https://mattermost.atlassian.net/browse/MM-11693.

[2018-08-14 17:00] amyblais commented on #9255
@grundleborg Do I open a ticket for this or do you know who to ask?

[2018-08-14 17:01] grundleborg commented on #9255
Yeah just open a ticket.

[2018-08-14 17:04] ylluminate commented on #2514
So far private messages import, but we've not spent any time on files since we use other mechanisms for sharing files.

[2018-08-14 17:05] amyblais commented on #9255
Hi @rbns, thank you for reporting this 👍

I've created a ticket for this that you can track here: https://mattermost.atlassian.net/browse/MM-11694.

[2018-08-14 18:52] amyblais commented on #9221
Hi @furai @AsuMagic, what version did you upgrade from?

There are two restrictions on usernames:

1. The UI doesn't let you create usernames shorter than 3 characters (which hasn't changed).
2. If you use LDAP or SAML to log in, your username is controlled by the LDAP/SAML server, which can be 1 or 2 characters long.

As for the recent mentions search, that might have broken at some point, so thi

[2018-08-15 09:07] saturninoabril commented on #9153
@harshilsharma63 I've looked into this but unfortunately, there's no easy way to fix this without breaking Slack compatibility.  It's designed to match patterns like for `<http://someurl|like this>`.  In your particular usage, I suggest to avoid angle brackets.  Response text could be something like:
[code]

[2018-08-15 14:15] esethna opened #9258 "[Help Wanted] [MM-11703] Update incoming and outgoing webhook description to 500 characters"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-15 16:28] theblueskies commented on #8838
Looking into it.

[2018-08-15 17:48] amyblais commented on #9181
Hi @xMateMCPE, letting you know that v5.2 (released tomorrow) will be shipping with an experimental custom default channels feature (https://github.com/mattermost/mattermost-server/pull/9068).

[2018-08-15 22:01] n1aba commented on #9258
I would like to start working on this

[2018-08-16 02:42] #9153 closed

[2018-08-16 10:39] ashleyhull-versent commented on #9220
Sorry for the delay. this is a firefox issue, not a mattermost issue - it crashes on all webpages with a file dialog.

[2018-08-16 11:05] jasonblais commented on #9258
Thanks @n1aba!

[2018-08-17 05:09] harshilsharma63 opened #9266 "Relative URL's In Markdown Are Broken"
#### Summary
Relative URLs in markdown are prepended with `http://`, causing them to fail.

#### Steps to reproduce
Enter a markdown message with a relative link, for example -

    [A Relative Link](/static/files/5b4a7904a3e041018526a00dba59ee48.png)

That link should be for the Mattermost logo image. Change if as required.

#### Expected behavior
The rendered link should navigate to the original

[2018-08-17 09:40] philiplb opened #9267 "Image preview of multiple redirected URLs doesn't work"
#### Summary
The image preview isn't triggered with URLs returning an HTTP 30x.

#### Steps to reproduce
In Mattermost 5.1.1

#### Expected behavior
When I send an URL redirecting to an image, the preview should be shown. Example:
https://www.dropbox.com/s/uyhaanh0aglo900/Screenshot%202018-08-17%2011.22.19.png?dl=0 leads to https://www.dropbox.com/s/raw/uyhaanh0aglo900/Screenshot%202018-08-17%2011

[2018-08-17 09:50] maxtar commented on #9116
@jespino Hi, Is mattermost 5.2 release delaying?

[2018-08-17 10:14] Hanzei commented on #9116
Yes, a bit. You can download it under https://releases.mattermost.com/5.2.0/mattermost-team-5.2.0-linux-amd64.tar.gz

[2018-08-17 10:38] maxtar commented on #9116
@Hanzei Thanx for answer!

[2018-08-17 12:31] gigabit101 opened #9268 "Scrolling issue on Android 9"
Scrolling down or up in the app quickly after the android 9 update causes a bouncing effect forcing you to scroll in the opposite direction.

[2018-08-17 12:55] amyblais commented on #9268
Hi @gigabit101, thank you for reaching out!

Unfortunately Android 9 is not fully supported with React Native yet, and there is an ongoing discussion about this bug in the RN repo that we are following: https://github.com/facebook/react-native/issues/19434.

Here is a Github Issue that was originally reported to us: https://github.com/mattermost/mattermost-mobile/issues/1672. A community member al

[2018-08-17 12:55] #9268 closed

[2018-08-17 18:55] amyblais commented on #9266
Hi @harshilsharma63!

What server version are you seeing this on?

[2018-08-17 23:16] amyblais commented on #9267
Hi @philiplb, thank you for reporting this!

We'll test this out and create a Jira ticket if we can reproduce this.

[2018-08-18 01:30] harshilsharma63 commented on #9266
@amyblais I used v5.1. I can try on v5.2 as well.

[2018-08-18 06:16] furai commented on #9221
I've been upgrading this instance of mattermost since like early 2016. I was doing it whenever any bigger update was released, so I've been upgrading it pretty much monthly at the time. Can't pinpoint when the issue started happening.
At the very beginning we've imported everything from slack.
We don't use LDAP or SAML.

[2018-08-19 21:28] ylluminarious commented on #2514
@ylluminate @vcazan Hey, sorry for the delayed reply. I think we are ready for a release of the gem. We have some known bugs which have not been fixed yet, but it is because we have been unable to devote the time and attention that the project needs to be in perfect working order. Hopefully releasing it to the public will help us to get the help we need.

Unfortunately, it does not handle Hipchat

[2018-08-19 21:41] jasonblais commented on #2514
@ylluminarious That sounds exciting! Our team would love to help test it as well and possibly help with bug fixes and/or additional support for things like files if I can get the resources behind it.

Super exciting 👍

[2018-08-20 05:14] harshilsharma63 commented on #9266
@amyblais I can confirm that this occurs on v5.2 as well.

[2018-08-20 05:21] harshilsharma63 opened #9271 "Secret type field in plugin settings is not selectable/copy-able in Firefox."
#### Summary
Secret type field in plugin settings is not selectable/copy-able in Firefox.

#### Steps to reproduce
1. Open Mattermost on Mozilla Firefox web browser.
1. Open settings of any plugin that used a secret field - prepackaged Jira plugin will do.
1. Scroll to the secret field (`Webhook Secret` in case of Jira plugin).
1. Regenerate it's value if not already populated.
1. Try copying the

[2018-08-20 05:41] ylluminarious commented on #2514
@jasonblais Thanks for the encouragement! I will ping you here once we release it so watch our for that in the next few days or so. We would very much appreciate any help so thank you again!

[2018-08-20 10:43] spfuture opened #9272 "Search users by "Position" field."
Subj.

[2018-08-20 11:47] inakivb opened #9274 "Inline base64 images not working"
#### Summary
Images with inline source in base64 strips the base64 content.

#### Steps to reproduce
Insert one image with inline source
[code]

#### Expected behavior
Print the image with this html:
[code]

#### Observed behavior (that appears unintentional)
This html is printed
[code]

#### Possible fixes
Don't escape content after `,`

[2018-08-20 12:04] inakivb commented on #9274
Hi!
I find out a solution and maybe this is not a bug.
While in HTML, follow the `,` with a white char is a valid image source, it breaks mattermost.

To solve the issue just remove the empty space so the message looks like
[code]

[2018-08-20 13:25] amyblais commented on #9272
Hi @spfuture,

Can you help with a description of the issue and your environment so that we can help troubleshoot this?

[2018-08-20 14:18] amyblais commented on #9271
Hi @harshilsharma63!

I was able to repro this and created a ticket here: https://mattermost.atlassian.net/browse/MM-11763.

[2018-08-20 14:48] amyblais commented on #9274
Hi @inakivb, thank you for reaching out.

What OS and Mattermost server version are you using?

[2018-08-20 15:07] gregf opened #9275 "uploading images causes a panic"
#### Summary
Uploading any image causes the server to panic

#### Steps to reproduce
Upload a image

#### Expected behavior
We have been using mattermost for about 6 months now. Uploading images has always been buggy for us. For a while it would work some of the time, for the last several months it hasn't work at all. We have resorted to putting restart=always in your service file to keep it alive

[2018-08-20 15:11] harshilsharma63 commented on #9271
@amyblais  thanks!

[2018-08-20 15:49] amyblais commented on #9221
Hi @furai,

One of our product managers directed me to this section of our docs: https://docs.mattermost.com/install/requirements.html#database-software. "For searching two characters, you will also need to set `ft_min_word_len` and `innodb_ft_min_token_size` to `2` and restart MySQL."

Is that something you could help try and see if it resolves the issue?

[2018-08-20 16:16] towolf opened #9276 "Support Ninja Edits"
#### Summary
Ninja edits are post edits that occur very shortly after the initial submission. These edits do not receive the `(edited)` marking.

It would be nice to give users a little grace period to fix their spelling mistakes, e.g. 1 minute, before the `(edited)` label is appended to the message. On Reddit it works that way.

[2018-08-20 17:31] amyblais commented on #9275
Hi @gregf!

Does this issue describe what you are seeing: https://github.com/mattermost/mattermost-server/issues/9078.

If yes, we have some known issues related to running out of memory space when initiating a file upload. Some users have had success in mitigating this by adding a swap file. This will slow file uploads considerably, but will prevent the system from running out of memory when too

[2018-08-20 17:34] amyblais commented on #9276
Thanks, appreciate your feedback @towolf!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2018-08-20 17:38] towolf commented on #9276
[Post on MM uservoice](https://mattermost.uservoice.com/forums/306457-general/suggestions/35165791-support-ninja-edits)

[2018-08-20 17:52] amyblais commented on #9276
Thank you @towolf!

I'll close this Issue for now as it can be followed via the linked Uservoice ticket. If you're interested in helping implement the improvement, please let us know,

[2018-08-20 17:52] #9276 closed

[2018-08-20 18:27] gregf commented on #9275
@amyblais Yes, these issues do look very similar. I have added some swap and that has alleviating our issue.

[2018-08-20 18:37] amyblais commented on #9275
Hi @gregf, good to know that adding swaps helped with the issue.

I'll close this Issue for now as the progress on the other improvements / bug fixes related to this can be followed via the Help Wanted tickets I linked above as well via Github Issue https://github.com/mattermost/mattermost-server/issues/9078.

By the way, I just noticed that the Jira ticket for one of the Help Wanted Issues was cl

[2018-08-20 18:37] #9275 closed

[2018-08-20 19:19] spfuture commented on #9272
i cant find any persons in channel or in personal messages by Position.

For example  i have 3 "web-developer" users, and 2 "c# developers", i can find then by FirstName, LastName, nickname but field "Position"  is out of search.

It would be great if the search for the field position was possible.

i think we need extend mattermost-server/store/sqlstore/user_store.go
32 line
`	USER_SEARCH_TYPE_AL

[2018-08-20 22:32] amyblais commented on #9272
Thanks, appreciate your feedback @spfuture!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2018-08-21 05:57] grajsor opened #9278 "JIRA-plugin broken in v5.2.0"
#### Summary
JIRA-plugin broken in v5.2.0

#### Steps to reproduce
Install Mattermost v5.2 fresh.

#### Expected behavior
JIRA-plugin accepting JSON-strings

#### Observed behavior (that appears unintentional)
{"level":"error","ts":1534778830.9738247,"caller":"app/plugin_requests.go:33","msg":"Access to route for non-existent plugin","...ound: jira"}

#### Possible fixes
Enabling / disabling the J

[2018-08-21 06:28] inakivb commented on #9274
Hi @amyblais ,
Ubuntu 16.04 LTS
Postgresql 9.5
Mattermost 5.1

thank you!

[2018-08-21 06:37] andi-livn opened #9279 "Slash commands with GET crush query parameters on configured endpoint URL"
Following the fix for [MM-10201,](https://mattermost.atlassian.net/browse/MM-10201) that addressed the issue of GET slash commands including a payload in the request body, Mattermost's meta data is now URL encoded into the query string instead.

The only problem is, that while doing so, Mattermost also removes/crushes any query parameters that may exist on the configured slash command URL itself.

[2018-08-21 08:06] Dropsik commented on #9215
Nothing changed. DB connections still growing up.
For sure, we have (I think) small deployment:
Total Active Users: 191
Total Teams: 1
Total Channels: 143
So @amyblais for what value should I bumped the max allowed connection for this deployment ?
and why this not happend before upgrade ?

[2018-08-21 08:07] Dropsik commented on #9253
@amyblais yes, but I think it's a root cause - so I opened issue only for this. Maybe someone know, how to fix this.

[2018-08-21 08:17] spfuture commented on #9272
Done, thanks.
[https://mattermost.uservoice.com/forums/306457-general/suggestions/18601075-team-specific-position](url)

[2018-08-21 08:17] #9272 closed

[2018-08-21 11:53] grajsor commented on #9278
Sure thing!

![mm1](https://user-images.githubusercontent.com/18514409/44399906-907b5e80-a549-11e8-9b1f-f77aea5fdd5c.PNG)
![mm2](https://user-images.githubusercontent.com/18514409/44399912-95401280-a549-11e8-8e73-27a37c92ccfb.PNG)
![mm3](https://user-images.githubusercontent.com/18514409/44399915-9a9d5d00-a549-11e8-8490-380992bd51f6.PNG)

Thanks in advance <3

[2018-08-21 11:58] jasonblais commented on #9278
Thanks @grajsor for the quick follow-up - looks like on the Management page, the JIRA plugin isn't running.

Can you help click "Enable" on the Management page?
![image](https://user-images.githubusercontent.com/13119842/44400106-ff3fc400-a517-11e8-8c41-f38913d72e59.png)

[2018-08-21 12:01] grajsor commented on #9278
Oh my, I wonder how on earth that managed to get disabled from V5.1 -> V5.2...

This solved my problem, will investigate as to WHY this happened. Thanks a bunch! :+1:

[2018-08-21 12:01] #9278 closed

[2018-08-21 12:08] jasonblais commented on #9278
Thanks @grajsor! If you find out the reason and suspect it might be a bug, let us know and we'll fix it

[2018-08-21 22:50] amyblais commented on #9279
Hi @andi-livn!

The developer who owns the fix / improvement for the ticket that you linked above is off this week, and I'll ask him about this as soon as he is back.

[2018-08-22 08:16] furai commented on #9221
Yes, sure. I'll try as soon as I'll be able to do it. Please remind me in few days if I don't get back to you.

[2018-08-22 12:33] SmartHoneybee opened #9282 "model.NewAppError allows invalid AppError.StatusCode"
#### Summary
`model.NewAppError` allows setting invalid `AppError.StatusCode` values.

#### Steps to reproduce
Mattermost uses `AppError.StatusCode` as parameter `code` for `net/http`'s `WriteHeader` (e.g. in `web/handlers.go` line 163). This panics if `code < 100 || code > 999`.

(Mattermost version: 5.2.0)

#### Expected behavior
No `panic`. (`NewAppError` rejects invalid arguments and uses a sa

[2018-08-22 13:04] amyblais commented on #9282
@cpanato Are you familiar with this error or let me know if I can help ping other devs to look at this as well?

[2018-08-22 13:53] amyblais commented on #9282
Thank you @SmartHoneybee! Ticket here: https://mattermost.atlassian.net/browse/MM-11800.

[2018-08-22 17:53] esethna opened #9283 "New plugin: Reminder bot"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-22 18:41] amyblais commented on #9267
@philiplb One of our developers helped fix this and said it looks fine for them although it shows through an OpenGraph preview instead, can you help check if you have that turned off?

[2018-08-22 21:35] philiplb commented on #9267
Hi,
I just tried it again with the most current version (5.2.0) and it isn't working for me. Actually, only the second URL (of the first redirect) shows an image for me: https://www.dropbox.com/s/raw/uyhaanh0aglo900/Screenshot%202018-08-17%2011.22.19.png

How can I check if I have turned off OpenGraph?

I tried it in Rambox (Electron-App) and Firefox, both show the same behaviour.

[2018-08-22 23:09] amyblais commented on #9181
Hi @username, we haven't received other updates so I'll close this Issue for now.

Thank you for upvoting the Feature Request tickets for this!

[2018-08-22 23:09] #9181 closed

[2018-08-22 23:10] amyblais commented on #9222
I'll close this Issue for now as v5.2 has been released - feel free to reopen this if the issue persists after upgrading.

[2018-08-22 23:11] amyblais commented on #9228
Hi @poshl9k, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-08-22 23:11] #9228 closed

[2018-08-22 23:45] ArchangeGabriel commented on #9222
Sorry, but it still does not work with 5.2.

[2018-08-22 23:45] ArchangeGabriel commented on #9222
(And I apparently cannot re-open)

[2018-08-22 23:51] ArchangeGabriel commented on #9222
Let’s be more precise: there is some progress. Ctrl+V still gives the File Upload instead of pasting content, but Ctrl+U now correctly gives the File Upload.

[2018-08-23 02:39] scottleedavis commented on #9283
Excellent and thank you @esethna!  I am starting work on this today.

[2018-08-23 04:33] scottleedavis commented on #9283
0.0.1 kanban https://github.com/scottleedavis/mattermost-server/projects/2 planned

[2018-08-23 07:00] R-Wang97 commented on #9089
I can take a look at this.

[2018-08-23 14:53] amyblais commented on #9274
Hi @inakivb, thank you for the details and apologies for the delay,

Can you also help with details on what browser and device you are seeing this on?

[2018-08-23 15:07] amyblais commented on #9267
Hi @philiplb,

I believe it is this setting in the System Console - it should be enabled: https://docs.mattermost.com/administration/config-settings.html#enable-link-previews.

[2018-08-23 15:09] amyblais commented on #9215
Hi @Dropsik, apologies for the delay,

It looks like we'll need more details about your environment to troubleshoot this, can you help review this documentation and send us the relevant additional details: https://docs.mattermost.com/process/support.html?

[2018-08-23 15:15] philiplb commented on #9267
Hi,
thanks again. :)
Now the first URL works as website preview. I can see the image which is fine for us but it still is different. Here are the exact results/differences:
![screen shot 2018-08-23 at 17 13 37](https://user-images.githubusercontent.com/1672238/44534429-0e7d6800-a6f8-11e8-8916-3214f71148a7.png)

[2018-08-23 16:57] furai commented on #9221
Ok, I've set it, did some `optimize table [tbl_name]` on mattermost database to rebuild fulltext index but it seems that only new messages are searchable right now with just 2 letters. Is there anything I can do about it?

[2018-08-23 18:14] furai commented on #9221
I ended up just dropping database and restoring from the mysqldump to rebuild all the old indexes. That have worked.

[2018-08-23 20:11] s1shed opened #9289 "Reaction emojis are not displayed when Mattermost is installed to a subpath"
#### Summary
Reaction emojis do not respect the `Site URL` setting when Mattermost Server is installed within a subpath.

This was seen in v5.2.0. I suspect it's also a problem on v5.2.1 (I plan to upgrade later tonight).

#### Steps to reproduce

1. Make Mattemost server available within a subpath
2. Add a reaction to a post
3. See that the reaction emoji is empty

#### Expected behavior

The URL

[2018-08-23 20:44] amyblais commented on #9289
Hi @s1shed! Thank you for reaching out.

We have a few ticket open related to this, does one of them seem to describe the issue you are seeing:

 - https://mattermost.atlassian.net/browse/MM-11706
 - https://mattermost.atlassian.net/browse/MM-11704

[2018-08-23 23:13] amyblais commented on #9221
@furai glad to hear the issue was resolved! I'll close this Issue for now but let me know if you encounter any other bugs,

[2018-08-23 23:13] #9221 closed

[2018-08-24 00:23] jasonblais opened #9292 "Test issue"

[2018-08-24 00:30] #9292 closed

[2018-08-24 06:50] inakivb commented on #9274
Hi @amyblais ,
I can test in web and iOS and it happens in both, but with different behaviour
**Desktop**: it generates the HTML from the first post
 ![image](https://user-images.githubusercontent.com/8626495/44569210-e59db700-a779-11e8-80f8-0ee40d00bcfd.png)

**iOS**: It doesn't parse the markdown
![image](https://user-images.githubusercontent.com/8626495/44569272-17af1900-a77a-11e8-9ef9-b0f4a32d

[2018-08-24 13:29] ssbarnea commented on #9220
@ashleyhull-versent Got into the same bug, can you please post a link to the Firefox bug?

[2018-08-24 13:50] philiplb opened #9297 "Entering a chat with some website previews causes jumps in Safari"
#### Summary
If you enter a chat with Safari containing some website previews, the position of the messages is a bit up and you need to scroll down.

#### Steps to reproduce
Use Safari and post a few messages with website previews, leave the chat and enter the chat again. Used version of Mattermost is 5.2.1, Safari is 11.1.2 on MacOS 10.13.6.

#### Expected behavior
The chat position should be at

[2018-08-24 14:40] esethna opened #9299 "[Help Wanted] [MM-11045] Migrate to Flow file src/actions/integrations.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-24 14:40] esethna opened #9300 "[Help Wanted] [MM-11044] Migrate to Flow file src/actions/preferences.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-24 14:40] esethna opened #9301 "[Help Wanted] [MM-11043] Migrate to Flow file src/actions/teams.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-24 14:40] esethna opened #9302 "[Help Wanted] [MM-11042] Migrate to Flow file src/actions/users.js in mattermost-redux"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-24 15:18] amyblais commented on #9097
Hi @gmccance,

Just following up, have you had a chance to take a look at this? No worries if you haven't, I can also help open a ticket for this for our devs to look at.

[2018-08-24 15:31] gmccance commented on #9097
Yeah sorry, waiting for our legal to approve the CLA :)  Might be worth opening the ticket on your side for this one...

[2018-08-24 15:35] esethna opened #9304 "[Help Wanted] [MM-11683] Bulk Import does not support attachments on GM/DM posts"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-24 15:55] esethna opened #9305 "[Help Wanted] [MM-11424] Extend bulk import to support themes across teams"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-24 16:57] amyblais commented on #9297
Hi @philiplb, thank you!

I opened a ticket here: https://mattermost.atlassian.net/browse/MM-11833.

[2018-08-24 17:04] amyblais commented on #9274
Hi @inakivb!

I created a ticket for this as I'm able to reproduce this also without the spacing: https://mattermost.atlassian.net/browse/MM-11834.

Our developers will let me know if there is a known workaround for this.

[2018-08-24 17:15] amyblais commented on #9267
Thanks @philiplb! I created a ticket for this here: https://mattermost.atlassian.net/browse/MM-11835.

[2018-08-24 17:47] amyblais commented on #9097
@gmccance Actually, there was already a fix submitted a few weeks ago: https://mattermost.atlassian.net/browse/MM-11593 :)

[2018-08-24 17:48] amyblais commented on #9222
@ArchangeGabriel What OS are you using? Our QAs weren't able to repro this on Mac.

[2018-08-24 17:52] ArchangeGabriel commented on #9222
Linux.

[2018-08-24 17:54] amyblais commented on #9222
What version?

[2018-08-24 17:55] ArchangeGabriel commented on #9222
Arch, latest Chromium/Xorg/any other involved component.

[2018-08-24 19:37] ryantm opened #9306 "Ctrl+M is an undocumented shortcut and has surprising behavior on the Windows app"
#### Summary
The Ctrl+M shortcut sends a message. Also, on the Windows app it sends the message right away, minimizes the window, then when you restore the window it looks like it is sending the message.

#### Steps to reproduce
Press Ctrl+M after composing a message. See that Ctrl+M is not documented in the Ctrl+/ menu

![image](https://user-images.githubusercontent.com/4804/44603913-307af700-a79

[2018-08-24 20:17] M1dgard opened #9307 "Admins can edit any message"
Original title: Anyone can edit or delete any message

#### Summary
Since I upgraded from 5.1 to 5.2, ~~anyone~~ *admins* can edit and delete any message, and as far as I can see it's not a configuration option. Still present in 5.2.1.

#### Steps to reproduce
1. Have someone send you a message.
2. *As an admin,* edit ~~or delete~~ it, like you would your own.

#### Expected behavior
There's a con

[2018-08-24 23:10] amyblais commented on #9306
Hi @ryantm, thank you for reporting this 👍

Do you happen to know whether this reproduces on other apps or is this unique to Mattermost?

[2018-08-24 23:18] amyblais commented on #9307
Hi @M1dgard, thank you for reaching out.

Is your team using [Advanced Permissions](https://docs.mattermost.com/deployment/advanced-permissions.html)?

If yes, there are options to allow anyone to edit/delete other's posts if enabled: https://docs.mattermost.com/deployment/advanced-permissions.html#system-scheme-e10.

I just tested this and I'm not able to reproduce this when the options to edit a

[2018-08-24 23:33] ryantm commented on #9306
What apps did you have in mind?

It doesn't seem to be a general feature of Google Chrome, for example, pressing Ctrl+M on this GitHub text box doesn't post the comment. I should probably make it extra clear that this Ctrl+M behavior happens in the web version of Mattermost too.

[2018-08-25 08:41] M1dgard commented on #9307
Hi @amyblais, I have never heard of Advanced Permissions. I'm using the Team Edition, and Advanced Permissions is an Enterprise-only feature, right?

More info: I'm the system administrator for my instance, but this was reported to me by a regular user a few days after upgrading from 5.1.0 to 5.2.0. In DMs, editing doesn't seem to be possible, not even for me as SysAdmin: the option in the menu is

[2018-08-25 09:02] jespino commented on #9304
@pradeepmurugesan Do you want to pick this one?

[2018-08-25 09:51] jespino commented on #8997
Closed some time ago :)

[2018-08-25 09:51] #8997 closed

[2018-08-25 09:51] jespino commented on #8996
Closed some time ago :tada:

[2018-08-25 09:51] #8996 closed

[2018-08-25 13:07] pradeepmurugesan commented on #9304
@jespino sure.. 👍

[2018-08-25 14:59] jespino commented on #9304
awesome! :)

[2018-08-25 17:18] henricook commented on #5728
If someone implements this are the powers that be happy with changing the meaning of /expand and /collapse? I'd imagine they're rarely used but if I was going to work on this i'd want this to be clear on the way in. The spec of this ticket is to change /collapse and /expand to just collapse/expand messages in the current channel and not affect any global settings or other channels, as I understand

[2018-08-25 20:16] arjitc opened #9309 "Change TPNS to https ?"
#### Summary
The TPNS (Test Push Notification Service) set by default is http and not, https.

#### Steps to reproduce
How can we reproduce the issue (what version are you using?)

5.2

#### Expected behavior

The TPNS is set to http:// while the URL when accessed has https available, https://push-test.mattermost.com

#### Observed behavior (that appears unintentional)
What did you see happen? Ple

[2018-08-25 20:44] jasonblais commented on #9309
Thanks @arjitc and appreciate opening a discussion about it. There is some past conversations here if you're interested reading more: https://github.com/mattermost/mattermost-server/pull/5384

[2018-08-26 10:29] pesintta opened #9311 "Mobile app login sessions overwriting each other"
#### Summary
Multiple mobile app (iOS?) sessions to same server are not working simultaneously

#### Steps to reproduce
1. Log-in to Mattermost with username & password using Mattermost app in iPhone
2. Leave the application logged in and use another iOS device to log-in with Mattermost app using the same credentials to the same server. I used iPad in my tests.
3. The second login succeeds. Now op

[2018-08-27 13:41] amyblais commented on #9307
Hi @M1dgard,

Thank you for the additional information - also:

1. What device / browser / OS are you seeing this on?
2. Does this happen on public / private channels / teams?
3. Is the user who reported this a Channel or Team Admin?

[2018-08-27 13:49] amyblais commented on #9306
Hi @ryantm,

I did some research on this and it looks like Ctrl+M behaves the same as Enter key: https://superuser.com/questions/595340/what-do-ctrl-j-ctrl-m-and-ctrl-i-mean-in-microsoft-notepad.

I also asked about this from the team and they believe this is the case. Probably we should add a note about this in our docs, I'll create a ticket soon for this.

[2018-08-27 14:27] vcazan commented on #2514
@ylluminarious Any updates on this release? We are very excited to give it a try :)

[2018-08-27 14:46] yaichZied commented on #8162
Hi @mjaggard, Would you like to turn off email notifications for your entire server or just for yourself?

In Account Settings > Notifications > Email Notifications you can disable email notifications for your personal account even if they are enabled for the server. In order to remove the banner, email notifications have to be enabled for the server via the System Console > Notifications > Email.

[2018-08-27 14:47] yaichZied commented on #1838
Hi @ssbarnea would you like to turn off email notifications for your entire server or just for yourself?

In Account Settings > Notifications > Email Notifications you can disable email notifications for your personal account even if they are enabled for the server. In order to remove the banner, email notifications have to be enabled for the server via the System Console > Notifications > Email.

[2018-08-27 16:06] ryantm commented on #9306
Mattermost isn't a terminal application where it might be difficult to distinguish between Ctrl+M and Enter. Here is a little test I did in Chrome:

![image](https://user-images.githubusercontent.com/4804/44670768-75d93780-a9d8-11e8-87a8-ca6fffbd8020.png)

[2018-08-27 17:31] pesintta commented on #9311
I was able to do some more investigation today and I think I got this one figured out.

Looking at the database it seems that if push notifications are not permitted on application launch some versions of Mattermost on iOS ended up sending a deviceId with the string contents "null" to the server.
If two or more devices send a deviceId "null" they are considered the same device and their existing s

[2018-08-27 21:28] esethna opened #9316 "[Help Wanted] [MM-11860] Expose slack attachment parsing functions in the model package"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-08-27 22:38] amyblais commented on #9311
Hi @pesintta, apologies for late reply!

I'll test this out and report back my findings.

[2018-08-28 01:26] esethna commented on #9316
Awesome, thanks @cjbirk! Feel free to reach out to us for guidance if needed. You can join the contributors channel on our pre-release server here: https://pre-release.mattermost.com/core/channels/tickets

[2018-08-28 09:46] philiplb opened #9318 "Slow Image Uploading and Thumbnail Generation"
#### Summary
When I upload an image the upload and thumbnail generation is somewhat slow.

#### Steps to reproduce
Using Mattermost 5.2.1 and the S3 storage.

#### Expected behavior
Uploading an image should be fast.

#### Observed behavior (that appears unintentional)
This image is 100x100px and has 6kb of size. But it takes more than 10s to upload.
![test](https://user-images.githubusercontent.c

[2018-08-28 15:31] amyblais commented on #9318
Hi @philiplb!

Your issue might be related to this Github Issue: https://github.com/mattermost/mattermost-server/issues/9078.

The issue is most likely related to running out of memory space when initiating a file upload. Some users have had success in mitigating this by adding a swap file. This will slow file uploads considerably, but will prevent the system from running out of memory when too ma

[2018-08-28 15:47] philiplb commented on #9318
Hi @amyblais
thank you for the answer. I'm not sure if this is memory related?
Our test setup has 15 users with < 50 messages per day. The container running Mattermost has 1GB of memory assigned.
In case of a leak, I just tried to restart the server and upload another picture. Again this one. The first time was fast enough but already the second try was slow again. A leak as cause for the slowdown

[2018-08-28 16:32] aeris commented on #9222
Same trouble here.

Using [bepo layout](https://en.wikipedia.org/wiki/Keyboard_layout#B%C3%89PO) leads to CTRL+V binds to "upload a file" like CTRL+U (which is the physical equivalent of V on a AZERTY keyboard).
CTRL+U works correctly, like CTRL+C and CTRL+X.

Seems a regression, works correctly on 4.8.0, but not on 5.1.1 nor 5.2.1.
Same behavior on the desktop and web clients.

[2018-08-28 17:47] amyblais commented on #9279
@lieut-data I was wondering if you could help take a look if I should open a ticket for this?

They are referring to this ticket and I decided to ping you since you're the 'owner' of the ticket: https://mattermost.atlassian.net/browse/MM-10201.

[2018-08-28 17:50] amyblais commented on #9306
Update: I asked the team about the next steps for this and I'll let you know their feedback - if I don't get much feedback I'll open a ticket by tomorrow latest and this will then be discussed during a meeting within the next few days.

[2018-08-28 17:59] amyblais commented on #9274
Hi @inakivb!

The ticket was closed as "Won't Fix" as it seems that we don't support inline base64 images yet - would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitH

[2018-08-28 18:00] amyblais commented on #9282
Hi @SmartHoneybee, the Jira ticket was closed as "Won't Fix" because this is caused by a developer error, where panic isn't an unreasonable result.

Thank you for originally reporting this!

I'll close this Issue for now,

[2018-08-28 18:00] #9282 closed

[2018-08-28 18:29] amyblais commented on #9222
Update: Our QAs are working on testing this and I'll let you know their findings as soon as I get their feedback.

[2018-08-28 19:03] lieut-data commented on #9279
Hi @andi-livn -- thanks for the report!

Your suggestion seems reasonable. One ambiguity might be how to handle duplicate querystring parameters -- e.g. if your implementation requires a `channel_id` parameter of your own. I'd propose a simple concatenation, with the Mattermost fields added after the configured query string.

In the short term, is switching to the `POST` endpoint an option? Or can

[2018-08-28 22:05] amyblais commented on #9279
Thanks all, created a ticket here: https://mattermost.atlassian.net/browse/MM-11895.

[2018-08-28 22:12] amyblais commented on #9306
I opened a ticket here and it will be discussed in the next few days: https://mattermost.atlassian.net/browse/MM-11896.

[2018-08-28 23:43] amyblais commented on #9307
I'm not able to reproduce this on a Team Edition test server, so I'll ask the team to take a look at the logs you shared in case there is some indication on the cause of the issue.

[2018-08-28 23:58] amyblais commented on #9318
Thanks for the additional details @philiplb - what device and version are you seeing this on?

[2018-08-29 00:25] andi-livn commented on #9279
Thanks for taking this on board. Wish I had some Golang XP to offer my help.

@lieut-data , We've now split up the service resources that drive our slash commands, removing the need for query paramters, but the use case for custom query parameters does of course still very much exist. Sadly there is simply nothing on duplicate query parameters in RFC 3986, the specs for URI-s, and every platform a

[2018-08-29 08:05] philiplb commented on #9318
Hi,
I'm on an early 2015 MacBook Pro (i7, 16GB RAM) with MacOS 10.13.6.
I tried the webversion with Firefox 61.0.2 and Rambox 0.5.17 which is an Electron application using Chromium 59.0.3071.115.

[2018-08-29 08:11] philiplb commented on #9318
I just had a look with the network inspector of Firefox, this endpoint just took 7.2s for the image posted above: POST /api/v4/files

[2018-08-29 09:44] arutkowska opened #9322 ""Jump To" is not finding all users / mobile / android + iPhone"
Observed: Currently when i use "Jump to conversation" I cannot find all users who belong to teams we use.
(it does not matter whether I had conversation with them before, reinstalling app didn't help)

Expected: with Jump To, I want to be able to find all available team members for all teams i belong to.

[2018-08-29 10:01] inakivb commented on #9274
Hi @amyblais
Thank you for your time.
Just for the record, it seems that it works without problem if the space is deleted in all platforms.

[code]
prints:
![image](https://user-images.githubusercontent.com/8626495/44780772-03588b00-ab83-11e8-95be-4ca59cdc6773.png)

Thank you!

[2018-08-29 12:05] #8272 closed

[2018-08-29 12:39] jespino commented on #9304
Merged! One more time **thank you** @pradeepmurugesan

[2018-08-29 12:39] #9304 closed

[2018-08-29 13:11] amyblais commented on #9274
Good to hear, I'll close this Issue for now as this has a simple workaround,

[2018-08-29 13:11] #9274 closed

[2018-08-29 13:13] amyblais commented on #9322
Hi @arutkowska!

We have a ticket open for this here https://mattermost.atlassian.net/browse/MM-11816 and a fix for it will be included in v1.12: https://github.com/mattermost/mattermost-mobile/pull/2021.

[2018-08-29 13:35] amyblais commented on #9318
Hi @philiplb - I'm not able to reproduce this on a similar environment - would you like to do some testing on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) to see how the file upload experience is like there?

[2018-08-29 13:38] lieut-data commented on #9279
Yes, that's it precisely @andi-livn. I agree that a warning is in order explaining how any configured query string is merged when `GET` is configured.

[2018-08-29 13:43] philiplb commented on #9318
Hi @amyblais,
thanks. I just played arround a bit and don't experience the slow performance on the nightly build server. Is it using S3? What specs does it have?

[2018-08-29 18:01] amyblais commented on #9222
We haven't been able to repro this internally - would you like to do some testing on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and see what you experience there?

[2018-08-29 18:10] aeris commented on #9222
Still the trouble on nightly-build :cry:

[2018-08-29 20:18] vcazan commented on #2514
@ylluminarious Thank you very much for all your hard work, I will give it a go and let you know how I do.

[2018-08-29 20:29] amyblais commented on #9215
@Dropsik I think one thing to consider is that the max amount of allowed connections in System Console -> Advance -> Database should be the same as the max allowed connections of your Database.

[2018-08-29 21:48] amyblais commented on #9222
Hi @ArchangeGabriel @aeris - would you be able to share any logs / Console errors you see from around the time the issue occurs in case those would give an indication on the cause of the issue?

[2018-08-29 21:58] aeris commented on #9222
There is no error or log. Seems to just open the built-in file selector when pasting on the text input field.

[2018-08-29 22:13] aeris commented on #9222
Regression seems between 5.0 and 5.1.0.
Docker image mattermost-preview is OK in 5.0 but not 5.1.0.

[2018-08-29 22:18] aeris commented on #9222
5.0.3 ok too, but not 5.1.0-rc1
No other available docker version between those releases.

[2018-08-29 22:41] amyblais commented on #9318
@philiplb Yes, we use S3 and AWS - could be the cause of the issue but I'm not 100% sure. Can you help share more details on your S3 settings? Also, do you have Debugging enabled when you observe the logs for any errors?

[2018-08-29 22:56] aeris commented on #9222
OK, after git bisecting, seems this is the culprit commit : https://github.com/mattermost/mattermost-webapp/commit/4d27296f10c2e0f5d5680f18eeee47c4297a5668

[2018-08-29 23:13] aeris commented on #9222
Commenting out [this part](https://github.com/mattermost/mattermost-webapp/blob/4d27296f10c2e0f5d5680f18eeee47c4297a5668/utils/utils.jsx#L70-L72) restore the paste shortcut.

Here is a debug output of the CTRL+V sequence on my layout of the `isKeyPressed`
![screenshot_20180830_011148](https://user-images.githubusercontent.com/51246/44820565-b069ec80-abf1-11e8-92c0-ae7016cf87e8.png)

[2018-08-30 04:37] mzawodniok commented on #9220
It is not closed. The bug persists. The most "reliable" reproduction happens when I try to create a new folder. The Firefox freezes though the dialog persists "on-top" of all other windows. Only forced quit allows to close the app.

[2018-08-30 05:55] harshilsharma63 opened #9329 "Permalink Behavior Different In SlackAttachment and Post Message"
#### Summary
A post's permalink, when used in markdown, has different behavior in post's message and post's `SlackAttachment`. `SlackAttachment` and `SlackAttachmentField` have same (incorrect) behavior though.

#### Steps to reproduce
1. Copy a post's permalink.
1. Create a new post from UI with markdown, linking some text to the copied permalink -

    [Some random text](<a post's permalink>)

1

[2018-08-30 06:37] Dropsik commented on #9215
Currently they have the same value

[2018-08-30 07:29] M1dgard commented on #9307
Sure, I've sent you an invite link via DM on pre-release.mattermost.com.

[2018-08-30 08:28] philiplb commented on #9318
Hi @amyblais
sure! So our datacenter is in Berlin and the S3 bucket is located in Frankfurt (eu-central-1). The following configuration is done in Mattermosts FileSettings section:

- DriverName
- AmazonS3Region
- AmazonS3Bucket
- AmazonS3AccessKeyId
- AmazonS3SecretAccessKey

The rest has its default value.

What exactly do you mean with "Debugging enabled"? The log level is set to the default wh

[2018-08-30 08:38] philiplb commented on #9318
Hi again, I think I found out what "Debugging enabled" means. :) Here are the logs with Amazon S3 Debugging enabled, again some IDs are redacted. And some IDs got not replaced by "..." but by "uploadID1" to "uploadID3".

[2018-08-30 12:52] amyblais opened #9330 "Mattermost v5.3"
You can find key dates for v5.3 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### September 4th: Release candidate cut
After this date, only bugs can be committed to the release branch.

The following information will be updated after release candidate is cut:
 - Download link to release candidate

[2018-08-30 13:07] jasonblais commented on #9154
Thanks @michaelkochub 🎉

Fix will ship with Mattermost v5.3

[2018-08-30 13:07] #9154 closed

[2018-08-30 14:29] mikroskeem commented on #7808
I think this issue is still not fixed, because AuthorizeRequest has still [128 char limit](https://github.com/mattermost/mattermost-server/blob/570c52b4cc88d7d0864511b9a4cb6318a07a6dbb/model/authorize.go#L93) (checked in [/oauth/authorize](https://github.com/mattermost/mattermost-server/blob/d81a61398d01d839e70e2345da787e7ef89c0832/api4/oauth.go#L320)).

I tried to set up Wekan OAuth2 login, Wekan

[2018-08-30 15:04] amyblais commented on #9215
@Dropsik Can you help set the log level to DEBUG to see if the logs will show more details / errors?

[2018-08-30 16:41] M1dgard commented on #9307
I did some more troubleshooting. Apparently you can only edit messages if you're System Admin or Team Admin (and only in the correct team).

Is it intended behaviour that admins can edit messages? It was definitely not possible in MM <5.0.0-team, and I think it was not possible in MM <5.2.0-team.

[2018-08-30 18:49] amyblais commented on #9329
Thank you @harshilsharma63! I'll test this out soon.

[2018-08-30 19:28] emresaracoglu opened #9332 "Seen by for Direct Messages and Channels"
Hi,

I wonder. How do I know when the direct message read/unread the message _(like social messaging applications, tick)?_
I can not see the notification in the message lines.

Is there such a feature available?
Thank you.

[2018-08-30 22:11] amyblais commented on #9307
Hi @M1dgard! I created a Jira ticket for this since I was able to reproduce the issue. I tagged it as "internal" since it looks like a confidential bug, so I can't link it here. I'll be giving updates on its progress here. Thanks for your patience and all the help you provided!

[2018-08-30 23:11] amyblais commented on #9332
Hi @emresaracoglu! Thanks for reaching out.

To clarify, do you mean you want to know when another person has read a direct message and if he has not read it yet?

If yes, this feature hasn't been implemented yet but we have some feature requests open here which you can upvote:
 - https://mattermost.uservoice.com/forums/306457-general/suggestions/12595398-read-receipts-implement-a-visual-indicatio

[2018-08-30 23:27] amyblais commented on #9222
Thanks all! I created a ticket for this here for our developers as I believe there is enough information to investigate this: https://mattermost.atlassian.net/browse/MM-11926.

[2018-08-31 09:48] peter-janssen opened #9336 "Blank screen when uploading images when responding"
#### Summary
Blank screen when uploading images (*.png) with a size above the maximum dimension limit when responding to a message.

#### Steps to reproduce
1. Respond to a message.
2. In the message details pane upload an image either by the paperclip or by drag-and-drop. The image should be larger than the maximum dimension limit.

#### Expected behavior
An error message should be shown below th

[2018-08-31 11:46] harshilsharma63 opened #9338 "Plugin is activated even if server component fails"
#### Summary
Up until Mattermost v5.1, is the server component of a plugin failed to activate, the whole plugin would fail and the error would be reported in the plugins management setting in the system console.

But, since v5.2, even if server component failed to load, (an error in OnActivate() hook for example), ther plugin still loads and gets activated with just the server component running. N

[2018-08-31 12:25] mikroskeem opened #9339 "OAuth state parameter invalid if its length > 128, vol 2."
See issue #7808

AuthorizeRequest has still [128 char limit](https://github.com/mattermost/mattermost-server/blob/570c52b4cc88d7d0864511b9a4cb6318a07a6dbb/model/authorize.go#L93) (checked in [/oauth/authorize](https://github.com/mattermost/mattermost-server/blob/d81a61398d01d839e70e2345da787e7ef89c0832/api4/oauth.go#L320)).

[2018-08-31 12:58] ylluminate opened #9340 "When Mattermost obtains focus, always start typing in the message textfield when appropriate"
Originally here: https://github.com/mattermost/desktop/issues/840 - but as per input belongs here.

One problem that I think most of us have experienced is when we click into the Mattermost client expecting to rip out a message on the tip of our fingers... and as we start to type, we find out that the darn input field "Write a message" is not focused!  This can be very frustrating.

It seems that

[2018-08-31 13:05] jasonblais commented on #9340
Thanks @ylluminate! Does this help wanted ticket cover what you're looking for? https://github.com/mattermost/mattermost-server/issues/4142

[2018-08-31 15:00] amyblais commented on #9339
Thanks @mikroskeem! I'll confirm on this with our devs.

[2018-08-31 15:07] amyblais commented on #9339
@jwilander ^

Context / reason for ping: You had previously worked on [this ticket](https://mattermost.atlassian.net/browse/MM-8558) so I thought you might know best whether I should create a ticket to fix the AuthorizeRequest 128 char limit?

Code here: https://github.com/mattermost/mattermost-server/blob/570c52b4cc88d7d0864511b9a4cb6318a07a6dbb/model/authorize.go#L93.

[2018-08-31 15:19] amyblais commented on #9338
Hi @harshilsharma63!

Does this ticket look like the issue you are experiencing: https://mattermost.atlassian.net/browse/MM-11582?

[2018-08-31 17:47] amyblais commented on #9222
@ArchangeGabriel @aeris Hey all, the ticket (https://mattermost.atlassian.net/browse/MM-11926) was discussed today with the team and were wondering if one of you would like to help with the fix for this? Our team might not be able to reliably fix / test this issue as we don't normally have access to Dvorak and Bepo keyboard layouts.

If you're not sure how to fix it, I can also open the ticket as

[2018-08-31 17:55] aeris commented on #9222
Yep, no problem to try to fix this :smiley:
But for testing, you don't need a physical dvorak or bepo keyboard, just change your keyboard layout on your favorite window manager :blush:

At debugging, I show some strange "key" value associated to keyboard event.
You can notice in the screenshot above that the 3 CTRL and "v" events are associated to "k", then "u", then "/" keys. Is it expected ?

[2018-08-31 21:06] amyblais commented on #9332
Hi @emresaracoglu, I'll forward your feedback to our product managers and ask what the status of this feature request is currently. I'll let you know their feedback.

[2018-08-31 21:13] amyblais commented on #9318
@philiplb,

Apologies for the delay - I will ask our developers to take a look at the logs as the next step and I'll let you know their feedback.

[2018-08-31 22:49] amyblais commented on #9253
I'll close this Issue for now as it can be followed on https://github.com/mattermost/mattermost-server/issues/9215.

[2018-08-31 22:49] #9253 closed

[2018-08-31 22:51] amyblais commented on #9077
I'll close this Issue for now as it can be followed on https://github.com/mattermost/desktop/issues/15 and the corresponding PR https://github.com/mattermost/desktop/pull/582.

[2018-08-31 22:51] #9077 closed

[2018-09-01 03:07] harshilsharma63 commented on #9338
@amyblais yes, it seems to be the same issue.

[2018-09-01 13:58] TomFreudenberg commented on #5493
Hi @darkrasid

we added functions for authentication and encryption to [MidiSmtpServer](https://github.com/4commerce-technologies-AG/midi-smtp-server). If you are using already a 2.x release, your source may use the latest gem (2.2.4) without any compatibility issues.

You may set options `tls_mode: TLS_OPTIONAL` as well  as `auth_mode: :AUTH_OPTIONAL` to enable both features.

Just try a simple _

[2018-09-03 05:42] cjbirk commented on #9316
I have code ready to merge but I'm not certain about the "Checklist" section of the PR guidelines. I don't see any option for 'code refactoring' and I don't think this is really a feature addition? Please let me know if I'm OK to submit this with a blank checklist.

I wrote a plugin to test this.. I can perhaps link to that in the PR?

[2018-09-03 06:07] harshilsharma63 commented on #9241
+1

[2018-09-03 06:27] Hanzei commented on #9241
This should be fixed in 5.3 with #9333.

[2018-09-03 06:27] #9241 closed

[2018-09-03 07:16] alecisec opened #9344 "System Console & Add Users to team menu items missing for admins"
#### Summary
server_admin users can no longer add team members or access the system console

#### Steps to reproduce
version 5.1  - 5.2.1 server (patched and issue persisted)
Have checked role is assigned ($mattermost roles system_admin admin.username)
and verified in database that the 'role' field contains server_admin

#### Expected behavior
don't believe it was an issue on 5.0

#### Observed be

[2018-09-03 07:37] jespino commented on #9232
Finally this will be assumed by the core team, because we are changing some things in the search implementation.

[2018-09-03 07:37] #9232 closed

[2018-09-04 04:47] emresaracoglu opened #9352 ""Error starting server, err:open : no such file or directory""
Hello,

I reset the server and the mattermost didn't work again.

Version, 5.1 on centOS 7 with postgresdatabasr

**I tried:**

[code]

**Status:**

[code]

**Log:**

[code]

What could be the reason for this?
Thank you.

[2018-09-04 06:42] alecisec commented on #9344
I've just observed that navigating to https://<mattermost.domain>/admin_console will indeed get to the system console - the issue seems to be that the menu item for system console is missing

[2018-09-04 06:45] alecisec commented on #9344
Further to this - clicking the 'System Scheme' option in the system console causes the web interface to hang and display 'Loading...'

debug logs give no indication as to the fault

mattermost    | {"level":"debug","ts":1536043411.3707733,"caller":"web/handlers.go:50","msg":"GET - /favicon.ico"}
mattermost    | {"level":"debug","ts":1536043411.6219316,"caller":"web/handlers.go:50","msg":"GET - /ap

[2018-09-04 08:22] LeDOC666 opened #9353 "Search problem"
#### Summary
Hi, I have a problem with Search function.
When I search a word between wildcard in uppercase, it find nothing.

#### Steps to reproduce
Exemple:

[code]
If I search "(wildcard)MYSQL(wildcard)", find nothing, if I search "(wildcard)threads(wildcard)", I find result
If I search "WARNING", I find a result too

I tryed to copy/paste the message on same channel
[code]
If I search "(wildca

[2018-09-04 11:32] #9258 closed

[2018-09-04 15:14] amyblais commented on #9344
Hi @alecisec, thank you for reporting this.

Do you see the option "Manage Members" or "View Members" in the Main Menu?

Also, are you using Team or Enterprise edition?

[2018-09-04 15:32] LeDOC666 commented on #9353
After more search, the only way I found to find the message is:
"PROBLEM***/MYSQL***"
Wildcard on start seems be problematic, and don't specify the / between the IP Address, and Service Name.

[2018-09-04 15:49] esethna opened #9356 "[Help Wanted] [MM-11895] Slash commands with GET crush query parameters on configured endpoint URL"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 16:07] esethna opened #9357 "[Help Wanted] [MM-11881] Have User Settings modal use the patch endpoint instead of the update endpoint"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 16:12] esethna opened #9358 "[Help Wanted] [MM-11880] Have Team Settings modal use the patch endpoint instead of the update endpoint"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 17:16] amyblais commented on #9222
@sudheerDev

Pinging you as you've fixed other keyboard layout related issues and I wasn't sure who is most familiar with this:

The reporters are seeing an issue where Ctrl+V doesn't work properly on Dvorak and Bepo keyboard layouts - instead of being able to paste text, they get the File Upload window.

They are able to help fix this but have a question: in the [screenshot above](https://user-im

[2018-09-04 17:44] lieut-data commented on #9318
Thanks for the introduction, @amyblais!

@philiplb, sorry for the trouble you're running into. The root issue here is https://mattermost.atlassian.net/browse/MM-10677. It actually doesn't have anything to do with the size of the file being uploaded, but rather with a default constant in the S3 uploading stack that results in a `576` MiB allocation for each image being uploaded. On a system with 1

[2018-09-04 18:36] amyblais commented on #9330
### v5.3 RC-1 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.3.0-rc1/mattermost-team-5.3.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pulls?utf8=%E2%9C%93&q=is:pr%20is:open%20changelog)

#### Approved fixes for RC-2
[Edit modal cannot save when opened immediately after

[2018-09-04 18:43] amyblais commented on #9220
Hi all! I apologize for the delay.

I'm not able to reproduce this although I'm in a slightly different environment (Firefox 61.0.2; MacOS High Sierra).

1. Can you help with more details on your environment?
2. Does it only happen with the Team Icon setting?
3. Do you see any log errors / Console errors?

[2018-09-04 18:59] amyblais commented on #9352
Hi @emresaracoglu, thank you for reaching out.

Can you also help share details on your general configuration settings: https://docs.mattermost.com/administration/config-settings.html#configuration.

[2018-09-04 19:02] emresaracoglu commented on #9352
Config File:

[code]

[2018-09-04 19:03] emresaracoglu commented on #9352
Config File:

[code]

cc @amyblais

[2018-09-04 19:06] mzawodniok commented on #9220
Hi,
I'm running Firefox (both Quantum/Beta and main stable versions tested) on
macOS Mojave (newest Beta). The behavior is the same - after File dialog is
opened, I can do few actions (e.g. browse few folders, even successfully
save) but if I leave it open too long, it stops responding causing the
entire Firefix to freeze.

As I said, I can save or select a file as long as it is done quickly -
"sa

[2018-09-04 19:19] amyblais commented on #9353
Hi @LeDOC666, thank you for reaching out.

What Mattermost server version and OS are you using?

[2018-09-04 19:29] esethna opened #9360 "[Help Wanted] [MM-11956] Spec: Jumboemoji"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:29] esethna opened #9361 "[Help Wanted] [MM-11959] Spec: Match Slack for enter to send on a ``` code block"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:29] esethna opened #9362 "[Help Wanted] [MM-9724] Previous search text remains in the search bar"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:37] emresaracoglu commented on #9352
I solved with config file :)
Thank you @amyblais

[2018-09-04 19:37] #9352 closed

[2018-09-04 19:38] esethna opened #9363 "[Help Wanted] [MM-11874] [RN] Add "Don't ask me again" behavior and interface for Out of Office in RN"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9364 "[Help Wanted] [MM-11936] Should we display "Shown for 5 seconds" for desktop notifications in Account Settings > Notifications?"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9365 "[Help Wanted] [MM-11716] Support selecting different skin tones in autocomplete and emoji picker"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9366 "[Help Wanted] [MM-11784] Design: Collapsible threads"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9367 "[Help Wanted] [MM-9463] Consecutive message repeats profile info in RHS"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9368 "[Help Wanted] [MM-8497] Ability to snooze live notifications for a specified period of time"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9369 "[Help Wanted] [MM-8404] Channel notification setting for disabling channel mentions"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:38] esethna opened #9370 "[Help Wanted] [MM-11870] Design: invite user to channel from profile pop-over"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-04 19:39] #9360 closed

[2018-09-04 19:39] #9361 closed

[2018-09-04 19:39] #9362 closed

[2018-09-04 19:39] #9363 closed

[2018-09-04 19:39] #9364 closed

[2018-09-04 19:39] #9365 closed

[2018-09-04 19:39] #9366 closed

[2018-09-04 19:39] #9367 closed

[2018-09-04 19:39] #9368 closed

[2018-09-04 19:40] lfbrock commented on #9368
Accidentally opened, this needs design first

[2018-09-04 19:40] #9369 closed

[2018-09-04 19:40] #9370 closed

[2018-09-04 19:40] lfbrock commented on #9370
Accidentally opened, this needs design first

[2018-09-04 19:42] lfbrock commented on #9369
Accidentally opened, this needs design first

[2018-09-04 19:42] lfbrock commented on #9367
Accidentally opened, this needs design first

[2018-09-04 19:42] lfbrock commented on #9366
Accidentally opened, this needs design first

[2018-09-04 19:43] lfbrock commented on #9361
Accidentally opened, this needs design first

[2018-09-04 19:44] lfbrock commented on #9365
Accidentally opened, this needs design first

[2018-09-04 19:45] lfbrock commented on #9364
Accidentally opened, this needs design first

[2018-09-04 19:45] lfbrock commented on #9363
Accidentally opened, this needs design first

[2018-09-04 19:45] lfbrock commented on #9362
Accidentally opened, this needs design first

[2018-09-04 19:46] lfbrock commented on #9360
Accidentally opened, this needs design first

[2018-09-04 20:07] amyblais commented on #9352
Glad to hear it!

[2018-09-04 23:45] amyblais commented on #9220
One more question: the original reporter also mentioned that the crash issue happens on all webpages with a file dialog - have you been seeing this on other pages as well or mainly on Mattermost?

[2018-09-05 00:11] kongr45gpen commented on #9356
I could work on this!

[2018-09-05 00:17] jasonblais commented on #9356
That would be great, thank you @kongr45gpen! If you have any questions, let us know :)

[2018-09-05 00:17] amyblais commented on #9353
Hi @LeDOC666,

I've begun testing this, but I'm getting some different results (e.g. for the user's post, I'm able to find results with "MYSQL" and "warning" (both lowercase and uppercase) but not with "threads").

I'll work on finalizing the testing, and I'm also working on going through our Jira tickets as there could already be a ticket open related to this.

[2018-09-05 00:35] ashleyhull-versent commented on #9220
I'm having the same problem with mastodon... crashes if I try to upload a file using the dialog.

I've tried to find a Mozilla bug report, but was unable and haven't lodged one yet.

[2018-09-05 01:53] mzawodniok commented on #9220
The freezing happens regardless of website or whether it is “save” from
Firefox menu or from a web app (eg Google Mail - saving attachment).

Best wishes, Maciej Zawodniok

On Tue, Sep 4, 2018 at 6:45 PM amyblais <notifications@github.com> wrote:

--
Best wishes
Maciej Zawodniok
----------------
Associate Professor
Department of Electrical and Computer Engineering
Assistant Director, Missouri S&T

[2018-09-05 02:45] #6521 closed

[2018-09-05 07:55] aeris commented on #9222
OK, i see. Complicated :smile:
Bepo is natively supported on Linux.

[2018-09-05 08:12] philiplb commented on #9318
@amyblais @lieut-data
Thank you very much for having a look here! As we share quite often things like screenshots, this is a bit annoying and degrades the experience quite a bit for us.

[2018-09-05 08:31] LeDOC666 commented on #9353
Hi,
MatterMost Version is: 5.2.1, running on Docker (hosted on CentOS7). Container run on Alpine 3.6

I can't write on github the keywords used cause of wildcart *
I edited first post to show (wildcard) = *
I tested on another MM used from another service of my company (running on Docker too, but with Mysql), result are the same as mine.

[2018-09-05 13:11] amyblais commented on #9267
The Jira ticket was closed as the team determined that it's not a bug. One of the URLs is to a page on dropbox.com complete with open graph metadata, so it shows the open graph preview. The other is a direct link to a png file so shows the PNG file preview.

Closing this Issue for now,

[2018-09-05 13:11] #9267 closed

[2018-09-05 13:15] amyblais commented on #9311
We couldn't repro this internally so the Jira ticket was closed. However, we tested this on v1.12 RC version, so possibly the issue was fixed in between the latest versions.

Closing this Issue for now,

[2018-09-05 13:15] #9311 closed

[2018-09-05 13:40] amyblais commented on #9220
Thanks all, since this is a Firefox issue the next step would be to file a ticket with them.

I found some related issues here but I'm not familiar with where bug reports for them are normally submitted:

https://support.mozilla.org/en-US/questions/1207220
https://support.mozilla.org/en-US/questions/1199313

Since this is not an issue specifically on Mattermost, I'll close this Issue here for now,

[2018-09-05 13:40] #9220 closed

[2018-09-05 14:30] chmielas commented on #5786
If there is a plan to fix this issue ? I`m using  5.2.0  on postgres and I have still this problem. What is current solution/ workaround  ? I need to provide possbilty to search URL for all my users.

[2018-09-05 17:59] amyblais commented on #9353
Update: I'm getting different search results again (e.g. I'm able to find results with "mysql" but not with "threads" or "warning") - I'm continuing to investigate this.

In the meanwhile, can you help do some testing on our [nightly build server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) (it's on v5.3 RC-1 version) and observe if you see anythin

[2018-09-05 19:04] amyblais commented on #9329
@harshilsharma63 Created a ticket for this here: https://mattermost.atlassian.net/browse/MM-11982.

[2018-09-06 01:06] alecisec commented on #9344
Both regular users and Admins see the following options:

Account Settings
---
View Members
Leave Team
---
Help
Keyboard Shortcuts
Report a Problem
Download Apps
About Mattermost
---
Logout

[2018-09-06 02:01] lfbrock commented on #9309
@arjitc - we have a ticket here to do this: https://mattermost.atlassian.net/browse/MM-11909

[2018-09-06 02:07] #9166 closed

[2018-09-06 03:38] zoiezy commented on #7996
hi @jasonblais. I'm using V4.7.1 (4.7.3) here. But when I use:
`curl -X GET -d "client_id=***&client_secret=***" https://<HOST>`
I got:
`<!DOCTYPE html> <html lang=en> <head> <meta http-equiv=Content-Security-Policy content="script-src 'self' cdn.segment.com/analytics.js/ 'unsafe-eval'"> <meta http-equiv=X-UA-Compatible content="IE=edge"> <meta name=viewport content="width=device-width,initial-sca

[2018-09-06 03:59] jasonblais commented on #7996
Hey @zoiezy!

At the end of the error message I noticed `To use Mattermost, please enable JavaScript.`. So it seems JavaScript has been disabled.

You can enable it with instructions here: https://www.enable-javascript.com/

Let me know if that helps?

[2018-09-06 04:04] zoiezy commented on #7996
@jasonblais  Sry, I don't wanna to use browser here.
I try to make a robot to change mattermost headers via API here.
Is that possible?

[2018-09-06 04:07] jasonblais commented on #7996
Hmm, I'm not sure. What are you trying to accomplish by changing the headers via APIs?

[2018-09-06 04:13] zoiezy commented on #7996
@jasonblais Just a program to update headers of certain channels every week automaticly.

[2018-09-06 09:26] gelim opened #9374 "Help assessing risk by auto-updating mattermost-server"
Hello,

could you give some insight on the risk breaking things by auto-updating mattermost-server team edition **incrementally**. Do you have a specific policy for that purpose allowing to blindly auto-update, like "fine between minor version, blocker between major version).

Thanks for the help,

--
Mathieu

[2018-09-06 10:49] jasonblais commented on #7996
@zoiezy Certainly, that can be done via the API, here's documentation about the API call: https://api.mattermost.com/#tag/channels%2Fpaths%2F~1channels~1%7Bchannel_id%7D%2Fput

[2018-09-06 12:27] ThiefMaster commented on #8619
great! what about providing a db migration step that automatically fixes such broken channel membership?

[2018-09-06 12:28] amyblais commented on #9097
The Jira ticket and associated PR are completed and we have tested internally that this works in v5.3 - feel free to re-open this Github Issue if the issue persists after upgrading to v5.3 (which will be released in Sept. 14th).

[2018-09-06 12:28] #9097 closed

[2018-09-06 12:28] amyblais commented on #9255
The Jira ticket and associated PR are completed and we have tested internally that this works in v5.3 - feel free to re-open this Github Issue if the issue persists after upgrading to v5.3 (which will be released in Sept. 14th).

[2018-09-06 12:28] #9255 closed

[2018-09-06 12:29] amyblais commented on #9271
The Jira ticket and associated PR are completed and we have tested internally that this works in v5.3 - feel free to re-open this Github Issue if the issue persists after upgrading to v5.3 (which will be released in Sept. 14th).

[2018-09-06 12:29] #9271 closed

[2018-09-06 12:58] amyblais commented on #9215
@Dropsik What Database values do you currently have and do you see any difference when you increase the values?

[2018-09-06 13:06] amyblais commented on #9332
Hi @emresaracoglu, our product managers came back on this and said that unfortunately this is not currently on our roadmap.

Thank you for this feature suggestion and thank you for upvoting the Uservoice ticket! We'll provide an update via Uservoice when this feature is completed.

[2018-09-06 13:06] #9332 closed

[2018-09-06 13:26] philiplb commented on #9318
@lieut-data
Great, thanks!
Curious: Any slight chance for 5.3 for this? :)

[2018-09-06 13:28] lieut-data commented on #9318
@philiplb, yeah it's worth considering. I've pinged @jasonblais to start a discussion :)

[2018-09-06 13:31] emresaracoglu commented on #9332
@amyblais Thank you for return

[2018-09-06 13:32] philiplb commented on #9318
@lieut-data Thank you so much. :)

[2018-09-06 13:57] esethna opened #9375 "[Help Wanted] [MM-11865] Add key value store set with expiry method to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-06 13:57] esethna opened #9376 "[Help Wanted] [MM-11864] Add key value store clear method to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-06 13:58] esethna opened #9377 "[Help Wanted] [MM-11863] Add key value store list method to the plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-06 13:58] amyblais commented on #9374
Hi @gelim, thank you for your question!

We are in the process of implementing an auto-updater in the next desktop app release: https://github.com/mattermost/desktop/pull/582 (associated Github Issue here: https://github.com/mattermost/desktop/issues/15) - I believe we will have more details when the feature is implemented.

[2018-09-06 14:10] esethna opened #9378 "Plugin framework: Enable plugins to send system-wide settings to clients"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-06 14:26] amyblais commented on #9344
Thank you @alecisec, can you try with `role="system_admin"` according to this documentation: https://docs.mattermost.com/install/troubleshooting.html#lost-system-administrator-account?

[2018-09-06 15:13] amyblais commented on #9353
I'll summarize the issue/findings here and I'll need to confirm with someone if this is a bug/expected as there seems to be some kind of pattern:

For this post `PROBLEM srvnagios at 10.4.1.74/MYSQL_threads-connected is WARNING`, search results are as follows:

**No results:**
“mysql”
"MYSQL"
"THREADS"
"threads"
"(wildcard)threads(wildcard)"
“(wildcard)WARNING(wildcard)”
“(wildcard)warning(wildcar

[2018-09-06 15:56] lfbrock commented on #5728
@henricook - yes that's correct, it would be changing the behaviour to only affect previous posts in the current channel. This was based off of user requests to have it work more like other products.

However it does look this ticket looks like it could use a few more details on what happens when you change the setting, and updating the help text for it, so I'll send it back to the team to look at

[2018-09-06 16:00] wpayne commented on #4756
Or, in MySQL..
update Channels set DeleteAt = 0 where Name='<channel url>';

[2018-09-06 17:00] mikroskeem commented on #9339
Amazing, I hope this issue gets fixed before the release of v5.3 (if I understood correctly from issue 9930)

[2018-09-06 18:39] jasonblais commented on #7996
How are you making the http requests? With a terminal?

[2018-09-06 23:00] frahman5 commented on #8498
Hey @jasonblais is this update still wanted?

[2018-09-07 00:02] jasonblais commented on #8498
Hey @frahman5! It is indeed. Would you be interested tackling it?

[2018-09-07 09:41] jlsjonas commented on #4257
Not sure how I got to that ping; however the gitlab login page preview is still quite an issue. every link we share just creates a non-useful "sign in" description block.

On Gitlab's side it doesn't make sense to remove it for SEO purposes, ideally mattermost (ESPECIALLY with the Gitlab-omnibus installation) should have a way to poke for the private info (maybe using the SSO session if available?

[2018-09-07 10:42] erikdao commented on #1837
This issue still remains. Any plan to fix it?

[2018-09-07 11:50] jasonblais commented on #4257
@jlsjonas I investigated this further and there is no way that we know of where Mattermost can identify whether a redirect is to a login page vs. an ordinary use of a redirect. Thus, there’s unfortunately no easy way to avoid the preview of the login page.

That said, we fix an issue where clicking the URL of the link preview redirected to the wrong page. This was shipped in Mattermost v5.2 (comin

[2018-09-07 12:11] jlsjonas commented on #4257
Aha, that's indeed a different issue. I understand that there's no way to know what kind of redirect it used.
However, mitigating the issue by providing a configurable API key to get that info (similar to the Google API Key for youtube videos) would go a long way.
And -especially for a _unified_ installation- is kind-of expected.

[2018-09-07 12:17] jasonblais commented on #4257
Thanks, appreciate your feedback @jlsjonas.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](http://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub Issue.

You get **10** votes in the feature idea forum, and each

[2018-09-07 12:28] jasonblais commented on #4257
Thanks @jlsjonas!

[2018-09-09 02:15] jkurian commented on #7494
Hey! Is this issue still open / valid?

[2018-09-09 05:31] jasonblais commented on #7494
It is! Would you be interested helping with this improvement @jkurian?

[2018-09-09 15:49] jkurian commented on #7494
Yes! I would love to take this ticket.

[2018-09-09 21:54] jasonblais commented on #9377
That would be great! It is indeed unassigned, thank you for your interest. If you have any questions, let us know in the [Developer Toolkit community channel](https://pre-release.mattermost.com/core/channels/developer-toolkit) :)

[2018-09-10 12:42] amyblais commented on #9330
### v5.3 RC-2 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.3.0-rc2/mattermost-team-5.3.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pulls?utf8=%E2%9C%93&q=is:pr%20is:open%20changelog)

[2018-09-10 13:07] amyblais commented on #9353
Hi @LeDOC666, I opened a ticket here for our devs to investigate: https://mattermost.atlassian.net/browse/MM-12059.

[2018-09-10 17:41] zetaab commented on #8838
#9373 merged, so this is solved

[2018-09-10 17:41] zetaab commented on #9078
#9373 merged, so this is solved

[2018-09-10 19:39] fbartels opened #9393 "Sigsegv when shutting down, after creating team from cli"
#### Summary
The mattermost binary throws a sigsev and gives a non zero exit code when creating a channel.

#### Steps to reproduce
execute `mattermost channel create --team univention --name matterbridge1 --display_name 'Matterbridge Demo Channel'`

[code]
Mattermost is running in an Ubuntu 16.04 Docker container.

Rerunning the command will give a duplicate keys message, since the channel has be

[2018-09-10 22:09] garethwarry opened #9394 "Azure Mattermost Instance - No way to authenticate users?"
#### Summary
Not sure how to authenticate users using the Azure deployment of Mattermost Team Server. All guides found in the Administration Guide doesn't apply to what I'm seeing in the System Console? For example, I can't authenticate users in any way. I tried setting up Azure Active Directory or Office 365 OAuth authentication, but there's not even a section called "OAuth 2.0" in the system con

[2018-09-10 23:14] amyblais commented on #9394
Hi @garethwarry, thank you for reaching out 👍

Are you using Mattermost Team Edition or Enterprise Edition?

[2018-09-11 00:15] garethwarry commented on #9394
Hi @amyblais! I'm using Mattermost Team Edition.

[2018-09-11 07:37] fbartels commented on #9393
I have just now also tried it on a different machine and have disabled the plugins before trying to create my channel. Still the error persists:

[code]

[2018-09-11 07:49] fbartels commented on #9393
fyi error does not appear with the 5.3 rc:
[code]

[2018-09-11 14:11] amyblais commented on #9394
Hi @garethwarry,

Yes, it's only available in Enterprise Edition (specifically E20). I believe in Team Edition you can use email-based auth: https://docs.bitnami.com/azure/apps/mattermost/#how-to-configure-outbound-email-settings.

[2018-09-11 14:39] amyblais commented on #9393
Hi @fbartels, thank you for reporting this.

Does it look like this is not an issue on v5.3?

[2018-09-11 16:20] esethna opened #9398 "Desktop: Ctrl+M shortcut minimizes the Windows app and sends a message"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-11 16:34] esethna opened #9399 "Channel links should show as links in notification emails"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-11 16:50] garethwarry commented on #9394
I see. Is it possible to only allow emails from a specific domain? For example, test@example.com (example.com being the allowed domain for registering emails)?

[2018-09-11 17:22] amyblais commented on #9394
@garethwarry There is a config setting called [Restrict account creation to specified email domains](https://docs.mattermost.com/administration/config-settings.html#restrict-account-creation-to-specified-email-domains) - is this what you were looking for?

[2018-09-11 18:33] fbartels commented on #9393
Yes, it appears so. Since the 5.3 release is around the corner I think I'm going to skip 5.2, then.

[2018-09-11 18:33] #9393 closed

[2018-09-11 18:47] amyblais commented on #9307
Update: the Jira ticket I opened is not confidential but was closed as this other Jira ticket was already open that one of our devs is investigating: https://mattermost.atlassian.net/browse/MM-11707.

I think the devs are looking at adding a Team Edition config setting for this, but we'll have more details on this later.

[2018-09-11 20:42] garethwarry commented on #9394
It is! Thanks so much! 🎉

[2018-09-11 20:42] #9394 closed

[2018-09-11 22:31] SmartHoneybee commented on #8884
Hi,

any news re these licensing issues?

Regards,
Bee

[2018-09-11 23:02] amyblais commented on #9330
### v5.3 RC-3 is cut
Test server: http://rctesting.reddogsofwar.com/
Download link: https://releases.mattermost.com/5.3.0-rc3/mattermost-team-5.3.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pulls?utf8=%E2%9C%93&q=is:pr%20is:open%20changelog)

[2018-09-12 09:14] jespino commented on #9316
@cjbirk You can submit it following the PR template and removing the checklist items that don't apply to your changes.

[2018-09-12 12:44] matejzero commented on #7582
I just hit this bug today with Mattermost 5.1.1. It it suppose to be fixed?

[2018-09-12 13:06] amyblais commented on #9078
https://mattermost.atlassian.net/browse/MM-10677 has been resolved and tested internally and the fix will be available in v5.3 (which will be released on Sept 14th). It should provide a fix for this issue - please let us know if you still experience the issue after upgrading.

[2018-09-12 13:06] #9078 closed

[2018-09-12 13:09] amyblais commented on #9318
https://mattermost.atlassian.net/browse/MM-10677 has been resolved and tested internally and the fix will be available in v5.3 (which will be released on Sept 14th). It should provide a fix for this issue - please let us know if you still experience the issue after upgrading.

[2018-09-12 13:09] #9318 closed

[2018-09-12 13:11] amyblais commented on #9336
Hi @peter-janssen, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-09-12 13:11] #9336 closed

[2018-09-12 15:39] FurmanovD commented on #9305
I'll work on this issue

[2018-09-12 19:34] FurmanovD commented on #9305
@esethna  @jespino looks like the "teams" array is much better object to place the "theme" selected by user because it has all other info related to user's teams.
my suggestion is to have a structure to import:
{noformat}
"user": {
...
"teams": [
{"name": "...", "roles": "..." , "theme":""  }
...
]
...
}
{noformat}

[2018-09-12 20:43] esethna commented on #8288
FYI for those following this thread, we have a ticket here: https://mattermost.atlassian.net/browse/MM-12140

Apologies for the delayed response.

[2018-09-12 22:51] lfbrock commented on #9309
Thanks for the feedback @arjitc - that's good to know. It's something we've discussed in the past, but at the time I believe Enterprise Edition E10 was less expensive (due to less features), so we weren't sure what the demand would be like for only push notifications.

Maybe it makes sense to consider again though, I'll bring it up with the team. In the mean time, @esethna can confirm but I think

[2018-09-12 23:20] stevebunting opened #9403 "Closing new channel menu reopens archived channel"
#### Summary
After archiving a channel, closing the new channel menu will bring your archived channel back to the lhs bucket and move focus to that channel

#### Steps to reproduce
Mattermost OSX version 5.2.0
1. Make new private channel
2. Post in that channel at least once (I posted a # searchable link if it makes a difference)
3. Archive the channel and close it
4. Press the plus for public or

[2018-09-12 23:54] jsha opened #9404 "Public links for file remains when message is deleted"
#### Summary

If you accidentally share a Public Link to a file with a third party, then need to remove access to that file, it's currently impossible (AFAICT).

#### Steps to reproduce
Version 5.1.0

1. Post a message with an attached file.
2. Copy a Public Link to that file.
3. Delete the message.
4. Use the Public Link to download the file.

#### Expected behavior
One the message is deleted, it

[2018-09-13 11:17] esethna opened #9406 "Remove hard black outline on scrollbar in Firefox/Win10"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-13 11:33] jasonblais commented on #4852
Duplicate of a newly created help wanted ticket https://github.com/mattermost/mattermost-server/issues/9406

[2018-09-13 11:33] #4852 closed

[2018-09-13 11:41] grundleborg commented on #8893
This has now been fixed. Pre-compiled plugins are no longer part of this source repository.

[2018-09-13 11:41] #8893 closed

[2018-09-13 11:42] grundleborg commented on #8884
Thanks for the reminder @SmartHoneybee - I'm still working my way through the process of proposing and getting approval for this and the other tickets in this set. We've addressed 3/6 of them now, and hoping to get the remaining 3 addressed soon.

[2018-09-13 12:08] #9100 closed

[2018-09-13 12:27] amyblais commented on #9403
Hi @stevebunting, thank you for reporting this.

I'm not able to repro this on v5.3 RC-4, so this has probably been fixed on v5.3. I also found a related resolved ticket that seems to describe the issue you're seeing: https://mattermost.atlassian.net/browse/MM-11805.

Do you have ["View archived channels"](https://docs.mattermost.com/administration/config-settings.html#allow-users-to-view-archived

[2018-09-13 12:48] amyblais commented on #9404
Hi @jsha, thank you for reaching out.

For step 1, do you mean posting a message that has a file attachment, or posting a message that has a link to a file (e.g. dropbox image)?

[2018-09-13 12:53] SmartHoneybee commented on #8884
Hi @grundleborg,

awesome, thanks! Are those tickets public?

Regards,
Bee

[2018-09-13 12:54] grundleborg commented on #8884
#8885 and #8886 are the remaining ones.

[2018-09-13 12:58] amyblais commented on #9024
Hi @dbrgn,

Again, thanks for the report! We have created a [Help Wanted issue here](https://github.com/mattermost/mattermost-server/issues/9399) and are looking for community's help. Let us know if you're interested in helping with a pull request!

[2018-09-13 12:58] #9024 closed

[2018-09-13 13:02] amyblais commented on #9306
Hi @ryantm,

Again, thanks for the report! We have created a [Help Wanted issue here](https://github.com/mattermost/mattermost-server/issues/9398) and are looking for community's help. Please let us know if you're interested in helping with a pull request.

[2018-09-13 13:02] #9306 closed

[2018-09-13 13:08] amyblais commented on #9322
Hi @arutkowska!

The ticket I referenced above has been resolved - the fix will be available in v1.12 which is scheduled to be released tomorrow.

[2018-09-13 13:08] #9322 closed

[2018-09-13 13:10] amyblais commented on #9340
Hi @ylluminate,

Thanks for the report! I'll close this Issue for now as the progress can be followed via the [Help Wanted issue here](https://github.com/mattermost/mattermost-server/issues/4142). Let us know if you're interested in helping with a pull request.

[2018-09-13 13:10] #9340 closed

[2018-09-13 13:55] jasonblais commented on #7582
Thanks @matejzero. Looks like I closed the ticket in error.

The issue is fixed in Mattermost 5.2, as part of https://mattermost.atlassian.net/browse/MM-11422

[2018-09-13 14:07] #9356 closed

[2018-09-13 14:14] matejzero commented on #7582
That’s really good news. I guess this fix will arrive in september’s gitlab
release.

Thanks!

On 13 Sep 2018, at 15:55, Jason Blais <notifications@github.com> wrote:

Thanks @matejzero <https://github.com/matejzero>. Looks like I closed the
ticket in error.

The issue is fixed in Mattermost 5.2, as part of
https://mattermost.atlassian.net/browse/MM-11422

—
You are receiving this because you were

[2018-09-13 14:18] #9092 closed

[2018-09-13 16:08] jsha commented on #9404
The former. Thanks for getting back to me so fast! Mattermost is great
software, and I really appreciate your work on it.

On Thu, Sep 13, 2018, 05:49 amyblais <notifications@github.com> wrote:

[2018-09-13 16:56] amyblais commented on #9404
Thanks @jsha,

I'm not able to repro this on v5.3 RC version - can you help do some testing on our [Community server](https://pre-release.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676) and report back what you see in case I missed anything?

[2018-09-13 17:10] esethna opened #9408 "[Help Wanted] [MM-12158] Add plugin API to return the current server version"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-13 17:18] Hanzei commented on #9408
I would like to work on this.

[2018-09-13 17:33] cpanato commented on #9408
I dont think we have now, but you can take this example: https://github.com/mattermost/mattermost-server/pull/9101

@jwilander there are any docs to add an API for plugins?

[2018-09-13 17:57] Spone opened #9409 "Server error when posting messages with accents"
Hi, thanks for the awesome software :)

#### Summary
When posting messages with accented characters, there is a server error and the message is not saved.

#### Steps to reproduce
Mattermost 5.1.1, installed with Gitlab Omnibus.
Database schema version: 5.1.0
Database: postgres
OS: Debian jessie

#### Expected behavior
- I post this message in a channel: `Liberté, Égalité, Fraternité`
- The messag

[2018-09-13 18:14] jwilander commented on #9408
There's some documentation at the bottom here https://developers.mattermost.com/contribute/server/plugins/

[2018-09-13 18:45] Hanzei commented on #9408
Oh, my bad, sorry for the unnecessary question

[2018-09-13 19:04] amyblais commented on #9409
Hi @Spone, thank you for reporting this.

I tested this on Mattermost Gitlab, postgres test server and wasn't able to repro. However, the server version there was v5.0 so that might make a difference, so I'll ask our team if the test server can be upgraded to the latest version.

[2018-09-13 19:33] stevebunting commented on #9403
Thanks for the quick response! I saw that ticket, but I wasn't sure if the root problem was the same so I just wanted to report to be safe. And we have "ViewArchivedChannels": true
If the issue is resolved in 5.3 I'll go ahead and close. Thanks for your help!

[2018-09-13 19:33] #9403 closed

[2018-09-13 21:59] arjitc commented on #9309
Sounds good -- would be quite good to have the encrypted push service @lfbrock 👍

[2018-09-14 09:05] Spone commented on #9409
I'm still investigating this and I have similar errors when editing Gitlab issues with accented characters, so I think it's a problem in my database and not in Mattermost software.

[2018-09-14 11:02] Spone commented on #9409
I managed to fix the issue on Gitlab side by creating a backup of the DB and then restoring it.
But it doesn't work for Mattermost. Here is what I tried:

[code]

[2018-09-14 11:19] Spone commented on #9409
Here is what I had to do to fix the issue with Mattermost :

After dropping the database, recreate it with the right encoding:

`CREATE DATABASE mattermost_production LC_COLLATE "en_US.UTF-8" LC_CTYPE "en_US.UTF-8" ENCODING "UTF8" TEMPLATE template0;`

Then importing the backup works correctly, and I can now post messages with accents :)

[2018-09-14 11:19] #9409 closed

[2018-09-14 14:18] #9330 closed

[2018-09-14 14:48] philiplb commented on #9318
Just wanted to report back that everything is fast for us now. :)

[2018-09-14 23:02] amyblais commented on #9289
Hi @s1shed!

Both of the tickets I referenced above have been resolved. Fix for https://mattermost.atlassian.net/browse/MM-11704 is available on v5.3 release (which was released today) and a fix for https://mattermost.atlassian.net/browse/MM-11706 will be available on v5.4 release next month. Please upgrade and let us know if the issue is not resolved.

[2018-09-14 23:02] #9289 closed

[2018-09-17 05:47] alecisec commented on #9344
The correct command to resolve this is
mattermost roles system_admin <username>

[2018-09-17 09:37] drgsutu commented on #9378
I would like to work on this.
But, lets see if I understand the requirements:
- > that need to be communicated to the client portions of a plugin

you are referring to the web app side of the plugin ?
- I noticed plugins can save settings in config.json, but a new, separate section needs to be added for plugin's client portion settings ?
- plugin's server-side has to be able to notify plugin's web

[2018-09-17 10:59] #9305 closed

[2018-09-17 13:03] fbartels opened #9421 "cannot create team from cli"
a bit as a followup to #9393. If I now try to create a team from the mattermost cli utility a get a segmentation violation error. The interesting part is that as soon as I disable the plugin framework team creation succeeds.

#### Steps to reproduce

[code]

#### Expected behavior
I can create teams from the mattermost cli

#### Observed behavior (that appears unintentional)
segmentation violation

[2018-09-17 14:16] jwilander commented on #9316
Thanks @cjbirk!

[2018-09-17 14:16] #9316 closed

[2018-09-17 14:32] amyblais commented on #9344
Hi @alecisec, that's correct, sorry about the confusion.

The command you posted is documented here: https://docs.mattermost.com/administration/command-line-tools.html#mattermost-roles.

Glad to hear the issue was resolved and I apologize again for the confusion,

[2018-09-17 14:32] #9344 closed

[2018-09-17 14:51] jwilander commented on #9378
@drgsutu your comment triggered some discussion here https://pre-release.mattermost.com/core/pl/tiejc7je5igh88xck5srmfkz9e if you'd like to participate

[2018-09-17 16:42] amyblais commented on #9421
@fbartels Thank you for letting us know!

Some breaking changes were introduced to the plugin framework in v5.2 - more information can be found here: https://developers.mattermost.com/extend/plugins/migration/.

If the above documentation doesn't seem to apply in your case, just let me know and I'll ping a dev to look at this.

[2018-09-17 17:09] fbartels commented on #9421
Hi @amyblais,

yes I am aware of the Plugin changes in 5.2. The above example is on a system where all plugins have been deleted (using the admin Web console), but even then I need to completely   disable the Plugin functionality of Mattermost to create teams from the cli.

[2018-09-17 17:12] amyblais commented on #9421
@mkraft Can you help test the bug report above ^ (https://github.com/mattermost/mattermost-server/issues/9421#issue-360859237) - (reason for ping: you're Dev on rotation this week and I need dev's help to test CLI issues).

[2018-09-17 17:43] jwilander commented on #9378
We've chatted about it at the above link and we're going to instead implement this as an example in the demo plugin https://github.com/mattermost/mattermost-plugin-demo instead of building it into the framework.

[2018-09-17 17:57] mkraft commented on #9421
@fbartels I'm not reproducing an error running this command on the same commit:

[code]

My `PluginSettings` section from my `config/config.json` look like this:

[code]

Are you able to share yours please?

[2018-09-18 13:58] DSchalla commented on #9376
I'll take that one.

[2018-09-18 14:35] fbartels commented on #9421
Hi @mkraft ,

thanks for your response. my Plugin settings look like the following:

[code]
The settings in there are from our own mattermost plugin. in my test I have deleted the plugin through the "System Console" and once remove the plugin itself is also gone from the plugin directory.

I had a look with one of our go developers and he was able to trace the issue down to a timing issue where (s

[2018-09-18 14:50] DSchalla commented on #9375
I'll submit a PR for this one together with the #9376.

[2018-09-18 14:55] longsleep commented on #9421
@mkraft @amyblais This is a timing issue when running Mattermost as a commandline utility which lets Mattermost run for a very short time only and essentially immediately triggers shutdown. During startup various Go routines are started accessing all kinds of stuff. If these Go routines run while already shutting down, the problem from above can appear.

In this particular case, `app.Plugins` is s

[2018-09-18 16:12] esethna opened #9432 "Double dashes in mobile inside code block get converted to emdash"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-18 19:05] amyblais commented on #9266
I'll close this Issue for now as the Jira ticket has been resolved and tested internally. The fix will be available in v5.4 (to be released in October 16th). Let us know if you still see the issue after upgrading,

[2018-09-18 19:05] #9266 closed

[2018-09-18 19:14] jwilander commented on #4593
I'll be working on this.

[2018-09-19 00:04] harshilsharma63 commented on #9266
@amyblais sure!

[2018-09-19 05:11] jsha commented on #9404
I just tested against the Community server and was able to reproduce there as well. Here's a link to a file that I attached to a message in a DM chat with myself, where I subsequently deleted the message. The file is still fetchable: https://pre-release.mattermost.com/files/r1zem456o3do3gqkzdg1sbfz5c/public?h=JeeypNwoZxuVBcKfGt46-pVMRrTi5oT7FOMFySyhUsM.

[2018-09-19 12:14] #4593 closed

[2018-09-19 14:03] amyblais commented on #9404
Sorry about that, you're right - I created a ticket for this here: https://mattermost.atlassian.net/browse/MM-12243.

[2018-09-19 15:32] chetanyakan opened #9434 "In the web-app, logging out does not clear the currently logged in user from the store."
#### Summary
When we log out, the currently logged in user from `UserStore.getCurrentUser()` is not cleared in the web app.

#### Steps to reproduce
1. Make sure you are logged in to Mattermost. You may also create a new account without joining any teams, so that you are on the `/select_team` route.
2. Open the chrome developer tools. Make sure you have enabled 'Preserve Log' in the console and ne

[2018-09-19 16:45] #8567 closed

[2018-09-19 16:45] #4360 closed

[2018-09-19 17:39] amyblais commented on #9434
Hi @chetanyakan, thank you for reaching out 👍

What browser / device and Mattermost server version are you seeing this on?

[2018-09-19 18:58] amyblais commented on #9421
Thank you all, I created a ticket here for our devs to investigate: https://mattermost.atlassian.net/browse/MM-12250.

[2018-09-19 23:16] #9090 closed

[2018-09-20 05:17] Dnic94 opened #9437 "Links will be accessed even if link preview is set to false"
#### Summary
Links posted in any channel will be accessed everytime a user loads the message even if the link preview is set to false. We use Mattermost 5.3.0.

#### Steps to reproduce
Post a link in a channel and read it with an other user.
We noticed that the mattermost server looked up the domain in our DNS logs.

#### Expected behavior
Mattermost shouldn't do anything as long as the link previ

[2018-09-20 06:27] chetanyakan commented on #9434
Chrome on Linux with the latest Web-app + API Master setup for development.

[2018-09-20 12:40] amyblais commented on #9437
Hi @Dnic94, thank you for reaching out.

Do you mean that the "Website Link Previews" in the Account Settings > Display is turned off? If yes, this just means that you are not able to preview the website content, but you will still be able to access the link.

If you want to disable sharing public links, you'll need to adjust this setting: https://docs.mattermost.com/administration/config-settings

[2018-09-20 13:07] Dnic94 commented on #9437
Hi @amyblais ,
I meant the Setting in the System Console > Posts > Enable Link Preview is set to false.

But it seems that the Mattermost server is still trying to resolve the link everytime a user reads a message with a link. I dont know if there is a correlation between the Link Preview Feature and this behaviour it was just an assumption.

An example for the observed behaviour:

User A post in

[2018-09-20 13:27] amyblais commented on #9434
Thank you, I created a ticket here for investigation: https://mattermost.atlassian.net/browse/MM-12257.

[2018-09-20 13:30] amyblais commented on #9437
Thank you for the clarification and additional details - can you help share sample log error message?

[2018-09-20 14:50] DHaussermann commented on #4932
This is now working as expected. This may have been resolved as part of a different PR.

Can this PR be closed?

[2018-09-20 14:55] jasonblais commented on #4932
Thanks @DHaussermann! Closing

[2018-09-20 14:55] #4932 closed

[2018-09-20 17:38] claytonlemons commented on #9399
I'd be happy to take a stab at this!

[2018-09-21 04:42] Dnic94 commented on #9437
I think there is no Mattermost log which could help you, because this is not really an error for the application but a misbehaviour of the application.

And I think a log from our DNS server which shows that the mattermost server is asking for a domain doesnt bring us forward as well.

Were you able to reproduce our Problem?

[2018-09-21 05:54] aranjan7 commented on #9080
hi Amy,
I am trying to trace the code for internode communication/ clustering in Mattermost server. Are these interface function available in open source? Or these are part of closed source E20 build only.

Thank you.

[2018-09-21 07:45] rid3re commented on #9437
Hi @amyblais ,
I have the same issue.

server OS: Debian 9.4
MM server: 5.3.1
browsers: Safari, Chrome, Firefox
Mattermost Desktop App: MasOS/Linux 4.1.2
80/443 ports closed from mm server to world

In browser web inspector: "GET /api/v4/redirect_location" responses get stuck

[2018-09-21 10:31] Dnic94 commented on #9437
@rid3re

I can confirm this, same here.

[2018-09-21 12:51] amyblais commented on #9080
Hi @aranjan7, thank you for reaching out.

Yes, cluster is an Enterprise feature (E20): https://docs.mattermost.com/deployment/cluster.html.

[2018-09-21 13:16] amyblais commented on #9437
Hi all, there appears to be a bug, possibly caused by this PR: https://github.com/mattermost/mattermost-server/pull/9284. I opened a ticket here for investigation: https://mattermost.atlassian.net/browse/MM-12264.

[2018-09-21 18:39] amyblais commented on #9279
The Jira ticket has been resolved and tested internally and the fix will be available in v5.4 release.

[2018-09-21 18:39] #9279 closed

[2018-09-21 19:19] #9111 closed

[2018-09-23 15:57] dos1701 commented on #8498
@jasonblais I would be interested in trying to fix this.

[2018-09-24 06:36] mitchtbaum commented on #6024
[Mattermost uservoice: voice channels (like discord or mumble)
](https://mattermost.uservoice.com/forums/306457-general/suggestions/34258345-voice-channels-like-discord-or-mumble)

[2018-09-24 06:38] zetaab opened #9445 "undefined requests from webapp towards server"
#### Summary
webapp is requesting following urls quite often:
[code]

Example
[code]

like you can think, these urls does not work. From last 4 days:
[code]
#### Steps to reproduce
mattermost 5.3.1, enough big mattermost installation (over 2000 users) and you will get much of these errors to log

#### Expected behavior
I except that webapp is not requesting urls at all, if id is undefined

[2018-09-24 08:28] egel opened #9446 "User should be able to archive a thread"
#### Summary (Feature Request)
As a Mattermost user (Manager/Admin of channel)

I would like to close some discussion which is not needed anymore in the main channel (have been resolved)

so that I can reduce the content noise in the channel content in the channel by displaying relevant content.

#### Observed behavior (that appears unintentional)
In any channel where there are a lot of people, th

[2018-09-24 12:11] amyblais commented on #9446
Thank you, appreciate your feedback @egel!

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2018-09-24 14:01] amyblais commented on #9446
Hi @egel, thank you for opening a Feature Request ticket! I'll close this Issue for now as it can be followed via Uservoice,

[2018-09-24 14:01] #9446 closed

[2018-09-24 14:02] Ppjet6 opened #9451 "Markup doesn't take into account image preview settings"
Version: 5.2
Soon updating to 5.3, but this particular issue is not mentioned in the changelog.

#### Summary
When posting images via markup, `![](someimagelink)`, user image preview settings are not taken into account.

#### Steps to reproduce
- Account Settings > Display > Default appearance of image previews > Collapse
- Send (or have somebody send) a message containing `![](someimagelink)` (re

[2018-09-24 15:16] amyblais commented on #9404
Hi @jsha, are you seeing the same issue when you have this setting disabled: https://docs.mattermost.com/administration/config-settings.html#enable-public-file-links.

[2018-09-24 15:30] amyblais commented on #9215
Hi @Dropsik, we haven't received an update so we'll assume that the problem is fixed or is no longer valid.

If you still experience the same problem, try upgrading to the [latest version](https://about.mattermost.com/download/).

If the issue persists, reopen this issue with the relevant information and we'd be glad to help you where we can.

[2018-09-24 15:30] #9215 closed

[2018-09-24 16:19] Ppjet6 commented on #9451
I don't think this should be a feature request, this is a usability/accessibility issue, and has the same rationale as the `collapse` feature.

I would be interested in hearing what's particularly hard about detecting images in embedded markup.

[2018-09-24 17:16] bbodenmiller opened #9452 "Cannot rejoin public teams - public teams missing from join/select_team page"
#### Summary
After joining a public team then leaving it does not show up on select_team page for me to rejoin

#### Steps to reproduce
As Mattermost admin
1. Join public team
1. Leave public team
1. Clear cache and reload webpage
1. View join team page - notice that team just left is missing from join team page

Unknown if issue occurs for non-admins as well. On test could not reproduce. I also r

[2018-09-24 17:27] Ppjet6 commented on #9451
On 2018/09/24, amyblais wrote:

Thanks!

[2018-09-24 17:47] amyblais commented on #9452
Hi @bbodenmiller, thank you for reaching out.

Do you happen to know if the team you saw this happen with was created via `team add` CLI?

I wasn't able to reproduce this, so this could be an issue with the CLI command.

[2018-09-24 18:03] aranjan7 commented on #9080
Thanks @amyblais .. Thanks for clarification. I was somehow assuming that its a difference compilation knobs but entire code is available.

So, the code which implements/links with these interfaces are not required to be open sourced. Is there an exception in place for these interfaces. I am just wondering from open source license perspective. I understand from monetization perspective it makes co

[2018-09-24 18:38] bbodenmiller commented on #9452
I've tried adding my user using [`team add`](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-team-add) then leaving the team and I cannot rejoin.

If join via team invite link and leave the team I see option to rejoin. As soon as I refresh the page option to rejoin disappears.

I'm also unable to duplicate on another server so I'm not really sure how to debug further.

[2018-09-24 18:45] amyblais commented on #9080
Hi @aranjan7, no worries, the source code in Github is of our Team Edition which is open source.

For Enterprise Edition features you'll need to purchase either E10 or E20 depending on the features you need: https://mattermost.com/pricing/.

[2018-09-24 19:01] amyblais commented on #9452
@bbodenmiller, Do you see any errors in logs or the Console when this issue happens? Also, can you help with any relevant details about your environment based on this [documentation](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues)?

[2018-09-24 19:02] aranjan7 commented on #9080
I understand 'bout team edition. But when you build E10/E20 you link with the same source code. Doesn't that make the directly linked code making up E10/E20, open source. My main concern is if I deploy E20 with some extension at my workplace, are we complying with GPL.

[2018-09-24 19:36] jsha commented on #9404
No, when the setting is disabled, all existing public URLs stop working. My guess is that if you later turn back on the setting, the old public URLs start working again.

There's also a related issue: If people delete an attachment (by deleting the message), they might expect that the file is totally gone from the Mattermost server. This is useful if you accidentally upload sensitive data like pas

[2018-09-24 23:01] amyblais commented on #9451
@Ppjet6 Our product managers said that it requires some design work as currently there is no UI element that can be utilized to do the collapsing, since embedded images don't have a title header like image attachments do.

I created an Improvement ticket for this here, as this is not technically considered a bug: https://mattermost.atlassian.net/browse/MM-12290.

[2018-09-24 23:06] amyblais commented on #9338
The Jira ticket has been closed and tested internally, and will be available in v5.4 release,

[2018-09-24 23:06] #9338 closed

[2018-09-24 23:34] amyblais commented on #9404
Hi @jsha,

I believe this is expected:

As for permanently deleting files, all Mattermost "delete" features are a "soft" delete, meaning that it doesn't completely delete anything. Access to files from Mattermost is removed but it does not physically delete the file in the database. If you’d like to file this as a [feature request](https://mattermost.uservoice.com/forums/306457-general) or upvote

[2018-09-24 23:56] amyblais commented on #9445
Hi @zetaab, thank you for reporting this.

I observed the logs on a few of our servers and didn't see the same pattern - are you able to think of a specific situation / reproduction steps when you start seeing these log errors?

Also, do you have this setting disabled: System Console > Posts > Enable Link Preview? There is a bug related to this setting and I'm wondering if the issue you are seeing

[2018-09-25 07:53] zetaab opened #9457 "possibility to disable shorturl redirect_location thing"
#### Summary
When some user posts url to channel, all users are executing row https://github.com/mattermost/mattermost-webapp/blob/master/components/post_view/post_body_additional_content/post_body_additional_content.jsx#L95 which goes to https://github.com/mattermost/mattermost-server/blob/master/api4/system.go#L453 . However, this is really problematic if you have big channels. Lets say that I w

[2018-09-25 11:46] amyblais commented on #9329
The Jira ticket has been resolved and tested internally, and will be available in v5.4 release.

[2018-09-25 11:46] #9329 closed

[2018-09-25 12:38] amyblais commented on #9457
Hi @zetaab, thank you for reaching out.

We have a Jira ticket related to this open here: https://mattermost.atlassian.net/browse/MM-12264 - does it describe what you're seeing?

[2018-09-25 14:02] amyblais commented on #9080
@aranjan7 The source code (https://github.com/mattermost/mattermost-server) only includes Team Edition. We build Enterprise features in a different, private Github repo. For more information on our open-source policy, you can visit these resources:

 - https://github.com/mattermost/mattermost-server/blob/master/LICENSE.txt
 - https://www.mattermost.org/licensing/
 - https://www.mattermost.org/trad

[2018-09-25 14:14] SmartHoneybee opened #9458 "Plugin framework: Add API methods"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-25 14:58] zetaab commented on #9457
this is related also to https://github.com/mattermost/mattermost-server/issues/9437

[2018-09-25 15:05] amyblais commented on #9457
Hi @zetaab, do you mean that you see this issue when `enableLinkPreviews` is set to `true` on your server?

[2018-09-25 15:37] J0WI opened #9459 "Reorganize tagging of the mattermost-push-proxy container"
#### Summary
From https://github.com/mattermost/mattermost-docker/issues/303:
The [mattermost-push-proxy container on Docker Hub](https://hub.docker.com/r/mattermost/mattermost-push-proxy/) does not contain a `latest` tag. There are also no tags for major releases.
If you want to use the container, you have to track the upstream tags and change then manually on every new release.

Furthermore, the

[2018-09-25 15:40] zetaab commented on #9457
@amyblais we have enablelinkpreviews set to false, but it does not help. Mattermost is still calling this `redirect_location` backend url from `webapp` and backend is calling the real address in real internet.

[2018-09-25 15:41] J0WI opened #9460 "Update base of mattermost-push-proxy container"
#### Summary
From mattermost/mattermost-docker#303:
The container in [depends on an outdated Ubuntu](https://github.com/mattermost/mattermost-kubernetes/blob/master/docker/push-proxy/Dockerfile#L1) whereas Alpine or Debian are more common.

#### Possible fixes
Change `FROM` to `ubuntu:18.04`, `debian:stretch` or rewrite the Dockerfile based on `alpine:3.8` (basically by replacing `apt` with `apk`)

[2018-09-25 15:51] amyblais commented on #9457
@zetaab What I meant is that the Jira ticket (https://mattermost.atlassian.net/browse/MM-12264) describes an issue with `redirect_location` when `enableLinkPreviews` is set to `false` - do you also see the same issue when `enableLinkPreviews` is set to `true`?

[2018-09-25 15:51] zetaab commented on #9457
@amyblais no, we have also value `false` but as I understand it should not call those links with value `false` and its bug?

[2018-09-25 15:54] amyblais commented on #9457
That's correct 👍 I'll add some of your notes in this Github Issue to the Jira ticket.

[2018-09-25 16:12] esethna opened #9462 "[Help Wanted] [MM-12000] Increase AuthorizeRequest 128 character limit"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-25 16:15] zetaab commented on #9457
@amyblais I did PRs for those, but I do not have idea is `master` correct branch where those should be committed. Maybe someone will say is it :)

[2018-09-25 16:52] amyblais commented on #9339
Hi @mikroskeem,

Again, thank you for the report! We have created a [Help Wanted issue for this here](https://github.com/mattermost/mattermost-server/issues/9462) and are looking for community's help for the fix. Please let us know if you're interested in helping with a pull request.

I'll close this Issue for now as it can be tracked via the Help Wanted Issue,

[2018-09-25 16:52] #9339 closed

[2018-09-25 17:05] amyblais commented on #9458
Thank you @SmartHoneybee!

I created an improvement ticket for this here: https://mattermost.atlassian.net/browse/MM-12312.

[2018-09-25 17:49] aranjan7 commented on #9080
@amyblais Many thanks. I see some of the exception for E20 now, but still have few clarifications. Is there a better channel to discuss this offline.

[2018-09-25 17:53] amyblais commented on #9080
@aranjan7 Sure thing, you can join the [Peer-to-peer Help channel](https://pre-release.mattermost.com/core/channels/peer-to-peer-help) on our Community server to ask more questions. Other team members and community members also often answer questions there.

[2018-09-25 18:34] amyblais commented on #9459
Hi @J0WI, thank you for reporting this.

I created a Jira ticket for the Issues here: https://mattermost.atlassian.net/browse/MM-12316.

[2018-09-25 20:56] ylluminate opened #9464 "Searching all channels in all teams from all time?"
I'm having some issue where it seems that the search functionality doesn't search through all channels for all teams for all time.  It appears to be quite limited to the current visible timeframe + the current channel.  Is there a way currently to do a shotgun search of everything across the entire system that is accessible to the current user that I'm missing?

By default it would be nice to sear

[2018-09-25 22:32] SmartHoneybee commented on #9460
Hi,

why is Ubuntu 16.04 outdated? (It's a LTS release with [EOL in 2021](https://wiki.ubuntu.com/Releases). Also, according to [this page](https://store.docker.com/images/ubuntu/plans/9e9c1933-4a5b-43e6-a1f6-63840afad5aa?tab=tags) `ubuntu:16.04` was last updated this month.)

Regards,
Bee

[2018-09-26 05:26] LINKIWI opened #9466 "Opt out of analytics"
I'm seeing hundreds of requests being made to api.segment.io from Mattermost on a new installation over the course of a day. It would be great to either:

1. Provide admins the ability to opt out of all server-side tracking and analytics
2. Be very clear and transparent by informing admins during installation that analytics data is automatically collected and there is no way to opt out

I understa

[2018-09-26 07:33] SmartHoneybee commented on #9466
Hi,

hope this helps: https://docs.mattermost.com/administration/telemetry.html

Regards,
Bee

[2018-09-26 12:59] amyblais commented on #9458
Sure thing! I added it to the list in the Jira ticket.

[2018-09-26 16:11] Genda1ph opened #9469 "Default MySQL schema is broken"
#### Summary
Automatically created schema in MySQL doesn't allow application to load Users.

#### Steps to reproduce
I encountered this trying to migrate our existing Mattermost install (using Percona 5.5.45 and Mattermost 5.1.0) to our new server (running Percona 5.7.22 and same version of Mattermost). Here is how I encountered it:

1. Dump existing database with `mysqldump --no-create-info` (ori

[2018-09-26 16:51] jam40jeff commented on #7721
Adding another request for this feature.  Is anybody working on this or has worked on this previously?  I may consider taking a look at this at some point as it is very important to our team, but I have no experience with Mattermost development or Node for that matter.

[2018-09-26 18:37] peterlloydcc opened #9470 "Deleted team memberships returned by API"
#### Summary
API returns deleted team memberships and the only way of telling they are deleted is to look at an undocumented field.

#### Steps to reproduce
Using Mattermost 5.1.1

I have a user who according to the UI is not a member of a team.

Using `GET /api/v4/teams/{team_id}/members` the user is NOT shown as part of the team as expected.

Using `GET /api/v4/teams/{team_id}/member/{user_id}`

[2018-09-26 22:27] amyblais commented on #9470
Hi @peterlloydcc, thank you for reporting this.

Wondering if you'd be able to verify if you see this also on the latest Mattermost server version (v5.3.1)? Here is a link to one of our test servers that runs on the latest version: https://rctesting.reddogsofwar.com/login.

[2018-09-26 23:37] amyblais commented on #9469
Thank you for reporting this @Genda1ph, I'll ask our devs about this.

[2018-09-27 04:34] LINKIWI commented on #9466
This seems to be what I was looking for, thanks!

[2018-09-27 04:34] #9466 closed

[2018-09-27 08:31] Genda1ph commented on #9469
We haven't switched to new server yet, and I haven't had the time to check all the functionality, so I suggest performing a more thorough testing of this issue.

[2018-09-27 09:49] peterlloydcc commented on #9470
Hi Amy

Thanks for the link to your v5.3.1 server. I've tried with that and the issue is easier to reproduce than I was expecting!

**Reproduction**

You'll need two accounts. I'll call them user1 and user2

1. Using the web interface, user1 joins the "RC testing" team.
2. Using the web interface, user2 joins the "RC testing" team.

3. Using the API as **user1**:

`curl -H 'Authorization: Bearer x

[2018-09-27 14:09] mojicaj commented on #9358
I'd like to work on this.

[2018-09-27 14:36] SmartHoneybee commented on #9469
Hi @Genda1ph,

what exactly did you copy with `rsync` (and why)?
Why did you start Mattermost in step 3?

Regards,
Bee

[2018-09-27 14:52] hmhealey commented on #9469
I don't know much about how MySQL handles default values internally, but I assume the difference is due to how those are set when upgrading vs setting up from scratch. Like for the user.Timezone field
1. When upgrading to the first version that had that, that column is created with the type and default value created above. This seems like it might automatically migrate it for existing users withou

[2018-09-27 16:56] #9408 closed

[2018-09-27 17:21] fincha opened #9480 "How to build it the right way"
Hi all,

I have pulled the current version and made some modifications we urgently need.

I have made a linux build, at least I have a bin bile in the bin folder.
But I don't see the licence menu there... how do I build it, so I can see the licence menu?

I am working on ubuntu 18
go version 1.9.x

[2018-09-27 18:49] amyblais commented on #9480
Hi @fincha, thank you for reaching out.

When you say "license menu", are you referring to "Edition and License" page in the System Console?

If not, can you help clarify what you mean with a screenshot?

If yes, I believe you'll need to be on Enterprise Edition to see the option.

[2018-09-27 18:54] fincha commented on #9480
Hi,

usualy I would download the version and upload the licence file, so the server activates enterprice features.

![grafik](https://user-images.githubusercontent.com/2435678/46167947-6bd87c00-c297-11e8-9d85-bee626aa51f0.png)

I beleave the link with licence was at the bottom, but there is no... I see 2 options:

custom build -> no enterprice
dev build -> so maybe I am missing a flag?

[2018-09-27 19:00] Genda1ph commented on #9469
@SmartHoneybee
I `rsync`'ed our 5.1.0 server with all its data (save for database) to the same path (`/opt/mattermost`) on the new server.
Originally, I installed Mattermost 4.0.0 on MySQL 5.5, way back, however it tried to create Fulltext indexes on InnoDB tables - which MySQL 5.5 doesn't support - I had to slightly change default schema created by Mattermost. Over the year we upgraded to 5.1.0 a

[2018-09-27 20:38] #9462 closed

[2018-09-27 22:03] esethna opened #9483 "[Help Wanted] [MM-11829] Design & implement a method for including custom system console components for plugins"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de

[2018-09-27 22:08] esethna opened #9484 "[Help Wanted] [MM-11861] Design & implement a better way for plugins to update their own configuration"
If you're interested please comment here and come [join our "Contributors" community channel](https://pre-release.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://pre-release.mattermost.com/core/channels/de