[2019-05-31 00:07] carmo-evan commented on #10772
@jasonblais I guess this can be closed?

[2019-05-31 00:08] carmo-evan commented on #10688
@hanzei @jasonblais the conversation about this has stalled [here](https://community.mattermost.com/core/pl/y5rkx45ccbfqbno15zaq9uxwhy)

[2019-05-31 00:13] carmo-evan commented on #10702
I'd like to do this one.

[2019-05-31 00:17] jasonblais commented on #10772
Indeed, thanks! I'll also give v0.2 a quick test 👍

[2019-05-31 00:17] #10772 closed

[2019-05-31 04:43] Jonany commented on #10676
Starting to work on this but I have a few questions. I've never used Mattermost before so I'm not familiar with what system messages and status indicators are. Is the system message the tooltip that is displayed when you click on the channel header?

[2019-05-31 05:18] Jonany commented on #10777
Started work on this. Is there a standard way of determining if the emojis are jumbo? The only difference I see is that the jumbo emoji are wrapped in a span with the class "all-emoji".

[2019-05-31 09:23] asaadmahmood commented on #10232
I think so. @jwilander, can you confirm?

[2019-05-31 09:26] saturninoabril commented on #10676
Hi @Jonany, thank you for working on this.

System message is an auto-generated post to a channel. Example is when a user is added to a channel --  see last message posted in the screenshot.
![Screen Shot 2019-05-31 at 5 07 42 PM](https://user-images.githubusercontent.com/5334504/58695110-27bdee00-83c7-11e9-9baf-5704762adc79.png)

System message doesn't have status indicator (pointed by red arrow)

[2019-05-31 09:53] saturninoabril commented on #10777
No standard way but verification should be able to differentiate as compared to when emoji is rendered normally (small size, 21x21).  "all-emoji" is a good start but I'll recommend to have an extra check to its dimension of 32x32.

[2019-05-31 11:07] ConnorL33t commented on #10327
I'd like to work on this!

[2019-05-31 11:18] #10959 closed

[2019-05-31 12:59] jwilander commented on #10232
Yes that would be correct, as of https://github.com/mattermost/mattermost-server/pull/10311 the timezones.json was deprecated in favour of the hardcoded list. So if updates to the timezones are needed, it should be done to the hardcoded list.

[2019-05-31 19:05] jkl5616 commented on #10774
As I observed, mattermost-webapp is using mattermost/marked as a markdown parser.
Directly executing mattermost/marked with url above showed same problem, so mattermost/marked need to be fixed.
Likewise, in the case of mattermost-mobile, mattermost/commonmark need to be fixed in the same matter.

[2019-05-31 21:58] #10975 closed

[2019-05-31 22:30] crspeller commented on #10683
That's a @jasonblais question! (But I think that's good.)

[2019-05-31 23:07] jasonblais commented on #10683
@Wipeout55 That looks good, just a minor tweak:

[code]

and then also hide the `Add bot to teams and channels` button.

I'm curious if the plan to direct them to the mobile app is due to technical limitations?

[2019-05-31 23:09] lurcio commented on #10968
May I grab this one please?

[2019-06-01 02:23] MayaWolf commented on #9222
Yep @amyblais I just tried it. I try to press `Ctrl+V` to paste, and it brings up the "Type to find a channel" dialog (because it looks at the key text `K` instead of the key code `V`)

[2019-06-01 04:45] Jonany commented on #10676
@saturninoabril That makes much more sense! :smile: Thanks!

I actually already joined the community and just said hi to everyone in the Contributors channel :smiley_cat:

Yes, I would like to take this ticket.

[2019-06-01 04:50] Jonany commented on #10777
@saturninoabril I did notice the dimensions but I was looking for something more general. A "jumbo" class for example. But if in the absence of that, I'll go with the dimensions. Thanks! :smiley_cat: Could you assign this ticket to me, please?

[2019-06-01 11:30] sudheerDev commented on #9222
@MayaWolf i checked this. I don't have `Dverty` but i checked this with `Dvorak with qwerty` and it works as expected.
![Jun-01-2019 16-50-27](https://user-images.githubusercontent.com/4973621/58747806-eb08fa00-848d-11e9-9174-738919f77bb4.gif)

I wonder if it is related to your keyboard layout. What does `cntrl+t` in browser for you?

[2019-06-01 14:36] MayaWolf commented on #9222
If I press Ctrl+T (i.e. the key that would be T on a Qwerty keyboard and is Y for me), I get a new tab. Because Chrome (and most other programs) read key *codes*, not labels, for keyboard shortcuts.
A key event for Ctrl+V looks like this for me: (filtered to show only relevant properties)
[code]
I assume that you're reading the `key` property, which returns the text for typing, not the key code.

[2019-06-01 15:06] ArchangeGabriel commented on #9222
Well, there is no solution that can work for everyone here. If you use keycode, which is likely what was used before, it will breaks for normal Dvorak and Bépo users, because they do use Qwerty keycode underneath.

Under a normal browser, when I do a (Ctrl+)V, I would get a U keycode (under my hardened Firefox I don’t because it blocks JS from knowing the real keycode).

[2019-06-01 15:13] MayaWolf commented on #9222
Dvorak keyboards by default use Dvorak key codes as well. You have to specially set it up to not do that. That's the entire point of key codes - for things that are about the raw _location_ of keys (like keyboard shortcuts and in games) you use the code, and for things that are about the _text_ of keys (typing) you use the key label/text. Dvorak keyboards and keyboard layouts by default send key c

[2019-06-01 15:20] ArchangeGabriel commented on #9222
OK, honestly I don’t know about Dvorak, never used it. But I can definitively tell you I didn’t do anything special to get Qwerty keycode while typing with my keyboard, and that I have never seen any application (excepted Mattermost before) react on keycode instead of keytext.

[2019-06-01 15:26] ArchangeGabriel commented on #9222
From a fast look up online, it seems that on Linux at least, keycodes are indeed always US Qwerty ones, whatever the actual layout.

[2019-06-01 15:32] MayaWolf commented on #9222
You're correct; it may very well be a difference between Windows and Linux in that regard. On Windows, literally every application (with very few exceptions which are very annoying when you're using a non-Qwerty keyboard layout) will use key codes for shortcuts.

Is there any way to change that behaviour on Linux? I would say the problem here is not how Mattermost was handling keyboard shortcuts,

[2019-06-01 15:38] ArchangeGabriel commented on #9222
I don’t know. But unless you want to advocate for this change Linux-wide, it does not really makes sense. However it means that Mattermost should likely use keycode on Windows, but not on Linux.

[2019-06-01 15:52] Inconnu08 commented on #10965
Hi, I would like to work on this issue.

[2019-06-01 18:03] eshyong commented on #10346
Hi, I'd be interested in working on this ticket. I just cloned the repo and followed these directions. Is there anything else I need to do to get started?

[2019-06-01 18:08] eshyong commented on #10346
It looks like this is filed in the `mattermost-server` repo, but I assume I should be looking at the frontend repo – probably [desktop](https://github.com/mattermost/desktop) or [web](https://github.com/mattermost/mattermost-webapp)?

[2019-06-01 18:12] saturninoabril commented on #10777
Oh right, "jumbo" class sounds straightforward, though it was not named like that when it was first introduced.
We can't assign an issue directly to you but commenting on the issue and removing "Up For Grabs" means it's all yours 🎉.

[2019-06-02 07:38] hanzei commented on #10702
Thanks @carmo-evan!

[2019-06-02 09:41] maruTA-bis5 opened #11030 "`/api/v4/saml/certificate/status` returns wrong statuses"
#### Summary
`/api/v4/saml/certificate/status` returns wrong statuses in server v5.10.1 and v5.11.0.

#### Steps to reproduce
1. Start new Mattermost server instance using docker (mattermost/mattermost-preview).
2. Set "Enable Personal Access Token" to `true` and create system admin's token.
3. Request certificate status using curl: `curl -i -H 'Authorization: Bearer <token>' http://<hostname>/api

[2019-06-02 12:42] hanzei commented on #10193
Thanks for taking a shot, @albertoestarrona. :+1: If you have any questions, let me know.

[2019-06-02 12:44] hanzei commented on #10965
Thank you, @Inconnu08

[2019-06-02 12:44] hanzei commented on #10968
Sure @lurcio :+1:

[2019-06-02 12:53] hanzei commented on #10327
Thanks @ConnorL33t :rocket: If you have questions, feel free to ask.

[2019-06-02 13:20] Inconnu08 commented on #10965
@hanzei my pleasure!

[2019-06-02 13:49] ConnorL33t commented on #10327
I think I have a solution based off of the previous PR (and the comments) for this issue.

I have a couple of questions:

1. If a migration is taking a long time for some reason would this be visible to the user? (server admin)

2. Right now there's some magic numbers due to driver differences (MySQL needs a "max" val, while Postgres will use 0 appropriately), is there a place that these values (e

[2019-06-02 13:56] GianOrtiz commented on #10969
Working on this one.

[2019-06-02 15:06] tomasmik commented on #10978
I've created a [pull request](https://github.com/mattermost/mattermost-server/pull/11032) and I also added a change that fixed this - https://github.com/mattermost/mattermost-server/issues/10977 as it only made sense, because it was using the same method underneath.

[2019-06-02 15:45] lurcio commented on #10967
May I grab this one please?

[2019-06-02 17:00] lurcio commented on #10932
May I grab this issue please?

[2019-06-02 17:28] cpoile commented on #10346
@eshyong Definitely in the webapp repo, possibly in desktop and mobile too (if they use different code -- unsure about that).

I think many tickets are consolidated into the mattermost-server repo to keep it all in one place. That's why you're finding it here.

Hope that helps!

[2019-06-02 18:37] jkl5616 commented on #10933
I'd like to work on this!

[2019-06-02 19:09] kosgrz commented on #10966
I can do it :rocket:

[2019-06-02 19:40] willdot commented on #10964
I'd like to have a go at this one please :)

[2019-06-02 23:33] jasonblais commented on #10155
@cometkim With https://github.com/mattermost/mattermost-webapp/pull/2679 merged, is this issue completed?

[2019-06-03 00:02] mounicapaladugu commented on #10934
Hi. I would like to work on this issue.

[2019-06-03 00:41] hmhealey commented on #10683
The only technical limitation is that we need a fallback message like that for older versions of the mobile app and other clients like Matterhorn.

I don't think we need to prioritize adding a proper mobile component for this though since you can't actually create bot users on mobile

[2019-06-03 01:04] mounicapaladugu commented on #10934
I have a question here. The description above says RemoveAllSessions should return an object from model module and AppError. Shouldn't it just return AppError?

[2019-06-03 11:22] #10933 closed

[2019-06-03 11:25] #10718 closed

[2019-06-03 12:03] hanzei commented on #10964
Thanks for working on this @willdot! :+1:

[2019-06-03 12:04] amyblais commented on #11016
Hi @admin-cdn1cloud, I asked our team about this and they said this is currently working as expected. Do you have any further questions regarding this?

[2019-06-03 12:25] hanzei commented on #10932
Sure, go ahead. Thanks for working on this @lurcio :+1:

[2019-06-03 12:27] hanzei commented on #10327
@wiersgallak Can you help with 1.?

@lieut-data Can you help with 2. and 3.?

[2019-06-03 12:29] #10979 closed

[2019-06-03 12:49] rvillablanca commented on #10971
An PR already exists for this :)

[2019-06-03 12:58] hanzei commented on #10934
Good catch @mounicapaladugu, thanks correct. :+1:

[2019-06-03 13:16] admin-cdn1cloud commented on #11016
While I disagree with the developers assessment of this working as designed, is there any way to make it more obvious to the end user that certificates are **required** even when you don't use them?

Ideally don't give the user the option within the UI to not upload them. Change the UI to force the user to upload certificates if that is the desired state. I spent 3 hours troubleshooting this issue

[2019-06-03 14:16] #10931 closed

[2019-06-03 14:24] hanzei commented on #10715
Hey @souvik3333,

How is your work on this ticket going?

[2019-06-03 14:26] hanzei commented on #10935
Hey @piperRyan,

How are you doing with this ticket? Do you have questions?

[2019-06-03 14:41] #10965 closed

[2019-06-03 16:47] mounicapaladugu commented on #10902
Is this up for grabs? The Difficulty is hard for this one, but I can probably break in down and start working

[2019-06-03 20:04] hanzei commented on #10902
Hey @mounicapaladugu,

Yes, this is up for grabs. I just forgot to add the label. If you keep comfortable trying this ticket, do ahead! :+1:

[2019-06-03 21:09] piperRyan commented on #10935
@hanzei Sorry, ended being at the lake longer than I thought. I will get this figured out today.

[2019-06-03 23:29] amyblais commented on #11030
Thank you @maruTA-bis5, I'll ask our team about this.

[2019-06-04 00:05] amyblais commented on #11016
Hi @admin-cdn1cloud, thank you for your feedback. I opened a ticket for our UX team to take look at your feedback: https://mattermost.atlassian.net/browse/MM-15998.

[2019-06-04 04:15] #10937 closed

[2019-06-04 04:15] hanzei commented on #10937
Thank you for the contribution @kim95175 :tada:

[2019-06-04 08:43] torgeirl commented on #10878
Hi @amyblais. Does the [issue on upgrade instructions from v4.10 ESR to v5.9 ESR](https://github.com/mattermost/docs/issues/2725) getting marked as completed indicate that this issue also is solved, or is the team still working on a fix for this?

[2019-06-04 11:59] amyblais commented on #10878
Hi @torgeirl, letting you know that our developers are working on testing this,

[2019-06-04 12:21] hanzei commented on #10774
That is a good observation. Would you be open on submitting a PR for `mattermost/marked`?

[2019-06-04 12:34] amyblais commented on #10922
### v5.12 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.12.0-rc1/mattermost-team-5.12.0-rc1-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2706/files)

[2019-06-04 12:41] amyblais commented on #10922
Hi all, currently there is an issue when you first try to create a new account on rc.test.

Please ignore the error message, go to your email and verify your email address in the email you got from rc.test server. You will then be able to log in and join RC1 Team.

[2019-06-04 15:37] enahum commented on #10146
@migbot was this submitted by you, right?

[2019-06-04 15:54] andrewbrown00 commented on #10231
Designs for the Mobile Share Extensions:

[Android](https://invis.io/59S6KONFPNT#/365108240_Project_Details_-_Android)
[iOS](https://invis.io/59S6KONFPNT#/365108342_Project_Details_-_iPhone)

Please reach out with any questions or concerns 😄

[2019-06-04 15:58] esethna opened #11052 "Retry automatically when message fails to send"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-04 16:07] esethna opened #11053 "Default select element in Interactive Dialogs is not selected by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-04 16:11] esethna opened #11054 "Remove the hard-coded post menu divider from Jira, and add it in the webapp for all plugins"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-04 16:16] eshyong commented on #10276
Hi, I'm interested in working on this ticket if no one else is.

[2019-06-04 16:28] esethna opened #11055 "When a plugin registers a component in the team sidebar, display team sidebar even if user only belongs to one team"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-04 16:59] jasonblais commented on #10276
Great, thank you @eshyong! If you have any questions, don't hesitate to let us know

[2019-06-04 17:55] jasonblais commented on #11055
@hanzei Please help add difficulty level when you have a moment, thanks!

[2019-06-04 18:25] piperRyan commented on #10935
@hanzei I do have a few question. Would it be easier to discuss them on the developers channel?

[2019-06-04 18:31] Inconnu08 commented on #10715
Hey @souvik3333 if you're not able to make time, may I work on this?

[2019-06-04 18:36] souvik3333 commented on #10715
Sure.

On Wed 5 Jun, 2019, 12:01 AM Taufiq Rahman, <notifications@github.com>
wrote:

[2019-06-04 18:40] jasonblais commented on #10688
@hanzei what would be your thoughts on Jesse's response at https://community.mattermost.com/core/pl/y5rkx45ccbfqbno15zaq9uxwhy ?

[2019-06-04 19:50] Azero123 commented on #11054
Can I take this one?

[2019-06-04 19:55] Azero123 commented on #9771
Could I try this one?

[2019-06-04 20:40] hanzei commented on #9771
Sure @Azero123. Let me know, if you have any questions.

[2019-06-04 20:44] hanzei commented on #10935
Yes. If you post them in the ~Developers Channel, everyone can help answering them.

[2019-06-04 21:24] #10970 closed

[2019-06-04 21:25] #10969 closed

[2019-06-05 01:06] harshilsharma63 opened #11059 "React bootstrap splitbutton dropdown text color doesn't change according to theme"
#### Summary
React bootstrap splitbutton dropdown text color doesn't change according to theme.

The SplitButton dropdown -
![](https://i.imgur.com/9MQanS8.png)

The DOM element and the style causing text color -

![](https://i.imgur.com/zKZMv7G.png)

As can be seen in the second screenshot, the CSS selector is independent of `bs-style` variant. Indeed it doesn't fix with changing the style as I h

[2019-06-05 04:14] lieut-data commented on #11054
Go for it, @Azero123!

[2019-06-05 04:22] lieut-data commented on #10327
@ConnorL33t:

2. These const values are unlikely to be used outside of the code setting them, so I'd just declare them as unexported values in that package (even in the same file where we migrate).
3. Ideally, we update the test suite to exercise a long-ish migration somehow, or at least the newly added code, to prove that they indeed don't time out.

[2019-06-05 04:36] lieut-data commented on #11030
@amyblais, @maruTA-bis5: I can confirm this bug. If the configured SAML values are empty strings, the code incorrectly checks the existence of the parent folder instead.

[2019-06-05 07:21] Inconnu08 commented on #11053
Correct me if I'm wrong but this seems to be a Tech/ReactJS problem and not Tech/Go?

[2019-06-05 08:11] #10624 closed

[2019-06-05 10:49] carmo-evan commented on #10733
I'd like to do this.

[2019-06-05 11:54] carmo-evan commented on #10733
I've created the droplet and taken a snapshot:

`48023112    mattermost-1559734268274    snapshot    Ubuntu                  false     25`

I've reached out to the Digital Ocean Marketplace Team to gather next steps.

[2019-06-05 12:47] carmo-evan commented on #10733
Let me copy you on the email.

On Wed, Jun 5, 2019 at 8:41 AM Carlos Tadeu Panato Junior <
notifications@github.com> wrote:

[2019-06-05 12:51] amyblais commented on #11030
Ticket for reference: https://mattermost.atlassian.net/browse/MM-16064.

[2019-06-05 12:53] #10943 closed

[2019-06-05 14:37] eshyong commented on #10276
Should the query also ignore trailing colons?

i.e. if I have the query `:slightly_smiling_face:`, it should return 🙂 , right?

[2019-06-05 15:28] #10146 closed

[2019-06-05 18:32] lisakycho commented on #10552
@hanzei, is there anything else I can do to close this?

[2019-06-05 19:48] hanzei commented on #10552
Hey @lisakycho,

I reached out to Eric asking him to review your PR soon. You should get a review on your PR this week. Sorry for the delay.

[2019-06-05 19:51] wtollett-usgs opened #11064 "Allow Display of More Than 60 Flagged Posts"
Currently, the app (this behavior is the same on the web, desktop, and phone) will only display 60 flagged posts. If the user flags a 61st post, one of the posts will be non-viewable until the user unflags another post and then closes and reopens the flagged post list. It would make sense to have a 'load more posts' link like there is when browsing channels.

[2019-06-05 21:52] #11030 closed

[2019-06-06 04:16] #10883 closed

[2019-06-06 04:18] eshyong commented on #10276
@jasonblais

Also, I created a branch that should fix the issue, but I could use your guidance for writing tests – it looks like there is [no existing test file](https://github.com/mattermost/mattermost-webapp/tree/master/components/emoji_picker) for `emoji_picker.jsx`.

[2019-06-06 06:45] Wipeout55 commented on #10683
Okay I've pushed up my PR's. There's a small issue with the workflow:
After the user adds the bot to the channel, we have to update the post with the channel name. I assumed we wanted this to be persistent, so I have updated the post itself, which is kinda weird from an API standpoint as I'm doing it to update another users post.

I have a few thoughts on how to remedy this:

1. We could probably

[2019-06-06 07:57] patterns commented on #10544
I'm interested in making this E2E test. I don't know Cypress, but I have written selenium / spec flow tests on some enhancements in the past.

[2019-06-06 08:50] hanzei commented on #10544
Hey @patterns,

Thanks for you interest in this project and E2E tests. You can find an overview about E2E test at https://developers.mattermost.com/contribute/webapp/end-to-end-tests/. Feel free to also join [the UI Test Automation channel](https://community.mattermost.com/core/channels/ui-test-automation) on the Mattermost Community server.

[2019-06-06 08:52] hanzei commented on #11053
Good catch, that is correct @Inconnu08. I fixed the labels.

[2019-06-06 08:53] hanzei commented on #11052
@esethna Would you please check if these labels are correct?

[2019-06-06 11:53] jasonblais commented on #10276
@eshyong Yes, ignoring trailing colons makes sense to me. (Cc: @esethna)

@saturninoabril @hanzei would you be open to help guide expected tests and coverage for this fix?

[2019-06-06 11:57] jasonblais commented on #10683
Great, thank you @Wipeout55! I think the second option (not having it persistent) seems okay from user experience perspective, but I'll tag @asaadmahmood to see if he has any thoughts

[2019-06-06 12:11] amyblais commented on #11064
Thanks, appreciate your feedback @wtollett-usgs.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so

[2019-06-06 15:03] #10934 closed

[2019-06-06 17:39] someone-somenet-org opened #11067 "Custom branding text + image are not visible in app or webapp in mobile view."
#### Summary
Custom branding text + image are not visible in native app or webapp in mobile view.

#### Steps to reproduce
load custom branded mm webapp on mobile phone.

or

try to login in native app.

#### Expected behavior
Text and Image visible in mobile webbrowsers and possibly between inputting server-url and username+pw on native apps.

[2019-06-06 17:57] #10402 closed

[2019-06-06 18:29] #10964 closed

[2019-06-06 18:35] amyblais commented on #11067
Hi @somenet, what server version and mobile version are you on?

[2019-06-06 18:41] somenet commented on #11067
recent.

[2019-06-06 20:06] jasonblais opened #11070 "Help code review BigBlueButton plugin repository"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-06 20:09] Dak425 commented on #10902
Mind if I have a crack at this myself?

[2019-06-06 20:29] mounicapaladugu commented on #10902
sure. I haven't started working on this yet.

[2019-06-06 22:13] ffdixon commented on #11070
I'm the Product Manager for [BigBlueButton](http://docs.bigbluebutton.org/).

We'd be interested in working with any developer familiar with Mattermost plugins that would like to review, improve, or extend the BigBlueButton integration with Mattermost.

If you are running Mattermost behind a corporate firewall and you are looking for a web conferencing solution that also works behind your firewall

[2019-06-07 00:34] esethna opened #11071 "Search: Exclude results containing specific words"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-07 00:41] Dak425 commented on #10902
@hanzei One question I have, since this is my first time attempting to contribute to this project.

For step three which involves formatting the message to be formatted the same as system messages, "the message" is referring to the response received by the clients from the server upon a successful creation of a /me message, is that correct?

[2019-06-07 13:07] jkl5616 commented on #9406
I'd like to take this!

[2019-06-07 13:08] jkl5616 commented on #9502
I'd like to take this!

[2019-06-07 13:25] jasonblais commented on #9502
Great, thank you @jkl5616! Let us know if you have any questions

[2019-06-07 13:56] andreicristianpetcu commented on #9406
I don't use MM anymore but this should fix it https://addons.mozilla.org/en-US/firefox/addon/dark-scroll-for-tweetdeck/

[2019-06-07 15:19] jkl5616 commented on #9502
@jasonblais It would be better if there are favicon assets of 32x32 and 96x96.

[2019-06-07 15:29] Willyfrog commented on #7811
If this is again `up for grabs`, I'd like to claim it

[2019-06-07 15:33] jasonblais commented on #9502
@asaadmahmood is this something you'd be able to help provide for @jkl5616?

[2019-06-07 15:36] jasonblais commented on #7811
Great, thank you @Willyfrog! Let us know if you have any questions :)

[2019-06-07 18:53] amyblais commented on #11067
Hi @somenet, I believe this is not supported yet on the mobile view, similar to the mobile app. There is a ticket for this here: https://mattermost.atlassian.net/browse/MM-9361. Would you also like to share this in our feature request forum here: https://mattermost.uservoice.com/forums/306457-general?

[2019-06-07 19:00] amyblais commented on #11004
Closing this for now as a fix for this has been submitted for the upcoming 5.12 release,

[2019-06-07 19:00] #11004 closed

[2019-06-07 19:01] #10924 closed

[2019-06-07 19:02] amyblais commented on #10825
Closing this issue as this bug has been fixed for upcoming v5.13 quality release,

[2019-06-07 19:02] #10825 closed

[2019-06-07 20:42] amyblais commented on #10922
### v5.12 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.12.0-rc2/mattermost-team-5.12.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2706/files)
__________
Hi all, currently there is an issue when you first try to create a new account on rc.test.

Please ignore the

[2019-06-07 21:34] #10900 closed

[2019-06-07 21:54] hanzei commented on #9406
@jasonblais Could you check if this issue still exists, as you are the reporter of the original ticket?

[2019-06-07 22:27] jasonblais commented on #9406
@hanzei Thanks for checking, still reproduces.

@jkl5616 Thanks for your interest & thanks @andreicristianpetcu for the tip!

[2019-06-07 22:28] albertoestarrona commented on #10193
Sorry for the delay and no news over the last days @migbot, but just started today with this one. This week was really complicated. I'll give you an update (hopefully it'd be ready) over the weekend.

[2019-06-07 23:26] amyblais commented on #11059
Hi @harshilsharma63, I asked our team about this but didn't get a response yet. As a first step, is this something you're open to work on? If not, I'll open a bug ticket to get more attention to this from our team.

[2019-06-08 03:02] timconner opened #11079 "SQL Performance Issues in Channels With Large History"
#### Summary
SQL Performance Issues in Channels With Large History

#### Steps to reproduce
Use threads in channels with more than 120,000 posts in a non-clustered environment.

#### Expected behavior
A user viewing the channel for the first time should see the latest messages almost instantly. When trying to load historical messages, they should load page by page relatively quickly.

#### Observe

[2019-06-08 03:08] timconner commented on #11079
More specifically, the query that starts here: https://github.com/mattermost/mattermost-server/blob/c73bc21d1ecbc5dfe2702068e53b6dfc05f1abdd/store/sqlstore/post_store.go#L620

[2019-06-08 04:32] #10977 closed

[2019-06-08 04:32] #10978 closed

[2019-06-08 06:12] yhyddr opened #11080 "error make run-server :cannot find package"
#### Summary
cannot start server by using `make run-server`
#### Steps to reproduce
I just fork it and git clone to local .
use by this steps
https://developers.mattermost.com/contribute/server/developer-setup/
choose  macOS X
docker is good
and go version is 1.12
#### Expected behavior
run the server
#### Observed behavior (that appears unintentional)
![image](https://user-images.githubuserconten

[2019-06-08 06:23] yhyddr commented on #11080
ok i know what i need to change , because not use the right path to clone

[2019-06-08 06:23] #11080 closed

[2019-06-08 10:39] Willyfrog commented on #7811
My initial thought was that this would revoke all sessions, but while looking at all the pieces, I saw there is a filter in the list, is this filter supposed to be applied to the action? for example limiting the action to a team or a search by username?

Also, should I name the branch after PLT-7396 or MM-7854 (seems like you guys moved it from the original project) so jira can keep track of chang

[2019-06-08 13:52] jasonblais commented on #7811
@Willyfrog Initially, the intent was to revoke "all" sessions regardless of the filter. However, that's a good point, I'll think about it from admin's user experience point of view and get back to you.

MM-7854 should be referenced, have updated. Good catch 👍

[2019-06-08 14:27] jasonblais commented on #7811
@Willyfrog Given

1. the primary use case (admin suspects the system has been compromised and needs to neutralize the situation),
2. revoking sessions based on the filter may lead to unclear outcomes (e.g. revoking sessions after filtering by inactive users won't really do anything)
3. revoking sessions based on the filter adds more testing overhead (more test cases, potential corner cases that ar

[2019-06-08 15:53] Willyfrog commented on #7811
great!
My guess in this case is outside and below the list component. Had it been affected by the filter I'd suggest to be a part of it, and even an upper placement, so it's close to the filter and the user can relate one to the other.
Also, I'd guess button's text should be something along the lines "Revoke all active sessions" so it's clear that the filter has no effect on it.

[2019-06-08 17:45] jasonblais commented on #7811
This sounds good to me too. Follows the original proposal above where the button is placed outside of the list component

I'm curious why the word `active` makes it more clear that it affects all sessions?

[2019-06-08 22:31] Willyfrog commented on #7811
To me, it implies there is a different filter applied, the active ones, instead of only the ones shown by the controls.
Of course a proper ux approach would require testing, but I think that can be done in parallel or afterwards

[2019-06-09 02:33] esethna opened #11083 "Create a new System Console page for existing bot account config.json settings"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-09 02:38] jasonblais commented on #10822
Hey @sapnasivakumar, just touching base to hear how things are going :)

[2019-06-09 05:55] imisshtml commented on #9432
I'm working on this issue

[2019-06-09 06:50] hanzei commented on #9432
Thanks @imisshtml :+1:

[2019-06-09 07:09] hanzei commented on #10902
That is correct @Dak425 :+1:

[2019-06-09 08:32] ShalokShalom commented on #10923
I welcome this a lot and Gitea as well as Mattermost are written in Go, which does appear as a much made in heaven, since we can actually ship both in a package... :hugs:

[2019-06-10 01:27] liusy182 commented on #11071
Plan to work on this.

I did a cursory check of the code, today the search supports ElasticSearch, MySQL and PostgreSQL. The default dev environment is on MySQL. How easy it is to set up Elasticsearch and Postgresql environments to verify changes after it is done, and what are the steps?

[2019-06-10 04:10] harshilsharma63 commented on #11059
@amyblais Yes, I think I can work on this one.

[2019-06-10 07:05] hanzei commented on #11071
@mgdelacroix Can you help with this question?

[2019-06-10 09:44] hanzei commented on #10968
Fixed with https://github.com/mattermost/mattermost-server/pull/11031#event-2400396793

Thanks @lurcio :+1:

[2019-06-10 09:44] #10968 closed

[2019-06-10 12:01] zkry commented on #11083
Hello, if possible I would like to work on this.

[2019-06-10 13:06] mgdelacroix commented on #11071
Thanks for picking up this one @liusy182!

Setting up PostgreSQL as part of the development environment is easy, as it comes already bundled as part of the docker containers. You just have to change the `config.json` to point it to the postgres instance, changing `DriverName` to `postgres` and `DataSource` to `postgres://mmuser:mostest@localhost:5432/mattermost_test?sslmode=disable&connect_timeout

[2019-06-10 14:33] esethna opened #11084 "Migrate "Team.GetTeamsByUserId" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11085 "Migrate "Team.GetAllTeamPageListing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11086 "Migrate "Team.GetAllTeamListing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11087 "Migrate "Team.GetAllPrivateTeamPageListing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11088 "Migrate "Team.GetAllPrivateTeamListing" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11089 "Migrate "Team.GetAllPage" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11090 "Migrate "Team.GetAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11091 "Migrate "Team.SearchPrivate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11092 "Migrate "Team.SearchOpen" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11093 "Migrate "Team.SearchAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11094 "Migrate "Team.GetByName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11095 "Migrate "Team.SearchByName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:33] esethna opened #11096 "Migrate "Team.UpdateDisplayName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-10 14:53] mounicapaladugu commented on #11084
can I grab this ticket please?

[2019-06-10 14:53] mounicapaladugu commented on #11086
grabbing this one also

[2019-06-10 15:01] #10967 closed

[2019-06-10 15:11] amyblais commented on #11079
Hi @timconner, we are working on improvements related to scrolling for v5.12 and for future releases. The Jira Epic is here: https://mattermost.atlassian.net/browse/MM-11209. Does this sound like it's related to the issue you're seeing?

[2019-06-10 15:20] jespino commented on #11084
@mounicapaladugu Sure! Thanks!

[2019-06-10 15:23] jespino commented on #11086
Awesome, thanks! :)

[2019-06-10 16:08] Inconnu08 commented on #11096
Hello, I'm up for the grabs

[2019-06-10 17:01] jespino commented on #11096
@Inconnu08 Awesome, all yours :)

[2019-06-10 17:09] lurcio commented on #11085
I'll grab this one!

[2019-06-10 17:53] piperRyan commented on #11087
I would like to work on this issue.

[2019-06-10 17:55] hanzei commented on #11087
Thanks @piperRyan :+1:

[2019-06-10 17:55] hanzei commented on #11085
Great :tada:

[2019-06-10 18:52] mounicapaladugu commented on #11088
grabbing this one

[2019-06-10 18:55] mounicapaladugu commented on #11095
grabbing this one too

[2019-06-10 19:52] mounicapaladugu commented on #10958
are you working on this issue? if not, can i grab this one?

[2019-06-10 20:08] renilJoseph commented on #9541
hi. i would like to work on this.

[2019-06-10 21:33] hanzei commented on #9541
Thanks for taking a shot @renilJoseph :+1:

[2019-06-10 21:56] timconner commented on #11079
Hey @amyblais, I'm not seeing anything in the current 5.12 code base or the Jira Epic that addresses this concern in particular. This issue also affects initial channel load as well as scrolling.

In the Jira Epic there is a Google Doc which titled Investigation and Plan. Action items 2.a.i and 2.a.ii would refer to the code i believe to be the issue, but they were marked as "already exists" which

[2019-06-10 22:41] sapnasivakumar commented on #10822
@jasonblais I'm working on it and will let you know soon

[2019-06-10 23:11] #11095 closed

[2019-06-10 23:31] harshilsharma63 commented on #11070
@jasonblais I can review the server part of the plugin sometime this week.

[2019-06-10 23:43] jasonblais commented on #11070
Great, thank you @harshilsharma63! That would be great 👍

[2019-06-11 00:45] ffdixon commented on #11070
Ditto!

[2019-06-11 02:02] saxon-y commented on #10776
what is system console

[2019-06-11 03:18] mjthomp95 commented on #11089
I'd like to work on this.

[2019-06-11 03:32] bolariin commented on #11094
I would like to resolve this

[2019-06-11 03:57] liusy182 commented on #10958
please go ahead @mounicapaladugu thanks!

[2019-06-11 03:58] liusy182 commented on #11071
awesome thanks @mgdelacroix

[2019-06-11 05:38] bolariin commented on #11090
I would like to resolve this

[2019-06-11 05:41] bolariin commented on #11091
I would like to resolve this

[2019-06-11 05:43] bolariin commented on #11091
I would like to resolve this

[2019-06-11 06:20] kim95175 commented on #11092
i'd like to take this!

[2019-06-11 06:39] jkl5616 commented on #11093
I'd like to take this!

[2019-06-11 08:51] #10715 closed

[2019-06-11 08:54] jespino commented on #11093
Awesome, thanks @jkl5616

[2019-06-11 08:55] jespino commented on #11092
Awesome @kim95175, Thanks!

[2019-06-11 08:56] jespino commented on #11089
Awesome @mjthomp95. Thanks!

[2019-06-11 08:57] jespino commented on #11083
Sure! Thanks @zkry

[2019-06-11 11:29] #11090 closed

[2019-06-11 11:42] bolariin commented on #11053
I would like to resolve this

[2019-06-11 13:01] shollander commented on #10923
@ShalokShalom If you would like to see this become reality, please vote on the suggestion in the mattermost forum: https://mattermost.uservoice.com/forums/306457-general/suggestions/37502962-add-gitea-oauth2-support

[2019-06-11 13:35] #11094 closed

[2019-06-11 14:12] Inconnu08 commented on #10976
@vickywane it's seem that you've gotten busy. May I take this from here?

[2019-06-11 15:39] #10503 closed

[2019-06-11 15:39] Inconnu08 commented on #10976
Alright, thanks!

[2019-06-11 15:43] vickywane commented on #11052
@hanzei  this isn't clear to me

[2019-06-11 16:22] esethna opened #11115 "Migrate "Team.GetChannelUnreadsForTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11116 "Migrate "Team.GetChannelUnreadsForAllTeams" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11117 "Migrate "Team.GetTeamsForUserWithPagination" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11118 "Migrate "Team.GetTeamsForUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11119 "Migrate "Team.GetActiveMemberCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11120 "Migrate "Team.GetTotalMemberCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11121 "Migrate "Team.GetMembersByIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11122 "Migrate "Team.GetMembers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11123 "Migrate "Team.GetMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11124 "Migrate "Team.UpdateMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11125 "Migrate "Team.SaveMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11126 "Migrate "Team.AnalyticsTeamCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11127 "Migrate "Team.GetByInviteId" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 16:22] esethna opened #11128 "Migrate "Team.PermanentDelete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-11 17:10] Banyango commented on #11126
I can grab this one, if it's open.

I do have one question though... In this case the result of this func is an int64 I would assume that is the desired return value, or is there a model wrapper that would be better?

[2019-06-11 17:13] jespino commented on #11126
Sure, grab it! Thanks @Banyango.

About the result, you should use the int64 return value, returning the value, nil for the success case and `int64(0), theError` for the error cases.

[2019-06-11 17:40] #10932 closed

[2019-06-11 17:41] #11096 closed

[2019-06-11 19:06] #10973 closed

[2019-06-11 19:25] #10972 closed

[2019-06-11 19:48] Mindaugas-Jacionis commented on #11052
I would like to try and tackle this issue, but I am not sure if it is not blocked by other issue.
I cannot access `MM-13050` task on Jira.

If it is not blocked, I'd grab and work on it. 🙂

[2019-06-11 20:26] sdcaulley commented on #10465
I would like to take this on.

[2019-06-11 23:55] sdcaulley commented on #10465
Is there someone I can talk to about dialog_element.jsx

[2019-06-11 23:57] liusy182 commented on #11071
Another question on this. In which use case [isOrSearch](https://github.com/mattermost/mattermost-server/blob/master/api4/post.go#L379) is `true`, and how the behavior should look like when there are both included and excluded terms when this value is `true`?

E.g. search phrase "phrase1 phrase2 -phrase3 -phrase4" and `isOrSearch == true`. Should it read as "match phrase1 or phrase2 and exclude bo

[2019-06-12 00:09] amyblais commented on #10922
### v5.12 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.12.0-rc3/mattermost-team-5.12.0-rc3-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/2706/files)

[2019-06-12 00:40] harshilsharma63 commented on #11059
I've created a pull request in webapp for fixing this - https://github.com/mattermost/mattermost-webapp/pull/2950

[2019-06-12 01:54] Inconnu08 commented on #11128
I'm up for this :)

[2019-06-12 01:56] Inconnu08 commented on #11125
I'm grabbing this one also 😁

[2019-06-12 05:16] jespino commented on #11125
Thanks!

[2019-06-12 13:08] amyblais commented on #10877
Hi @streaps, I'll close this issue for now as there hasn't been feedback on this for a while. Please comment below or re-open this issue if you have any further questions on this.

Thank you for the report,

[2019-06-12 13:08] #10877 closed

[2019-06-12 13:13] bolariin commented on #11127
I would like to resolve this

[2019-06-12 13:59] bolariin commented on #11115
I would like to resolve this

[2019-06-12 15:20] mgdelacroix commented on #11071
Right now, `isOrSearch` is set to true when clicking the `@` button (that fires a search for mentions). My take is that for queries with `-term`s, those `-term`s should always be enforced (always returning results that don't contain them) and then, taking the `isOrSearch` into account for the rest of the terms.

For your example:
 - `phrase1 phrase2 -phrase3 -phrase4` with `isOrSearch == true`: ex

[2019-06-12 15:32] rvillablanca commented on #11124
I'll take this

[2019-06-12 16:09] rvillablanca commented on #11124
Already a PR

[2019-06-12 16:10] rvillablanca commented on #11123
I'll work on this

[2019-06-12 16:37] rvillablanca commented on #11123
A PR already on this

[2019-06-12 16:38] rvillablanca commented on #11122
I'll work on this now

[2019-06-12 17:10] Banyango commented on #11120
I can grab this one!

[2019-06-12 17:31] #11115 closed

[2019-06-12 17:35] jespino commented on #11120
Thanks @Banyango! :+1:

[2019-06-12 18:25] hanzei commented on #11053
Thanks for working on this @bolariin :+1:

[2019-06-12 18:40] #10966 closed

[2019-06-12 18:45] #10930 closed

[2019-06-12 18:48] cometkim commented on #10154
This has been done by https://github.com/mattermost/mattermost-webapp/pull/2679

[2019-06-12 18:49] #10154 closed

[2019-06-12 18:51] rvillablanca commented on #11121
Working on this

[2019-06-12 18:57] cometkim commented on #10155
@jasonblais I think it's not "completed" yet. I removed almost legacy actions and refactor all usage at that PR. still few exist in user_actions because of some other actions (ex. channel_actions) depend on it. but it would be removed in future migration.

[2019-06-12 19:00] cometkim commented on #10156
`searchUsers` has been done from https://github.com/mattermost/mattermost-webapp/pull/2679

autocomplete series still exist.

[2019-06-12 19:11] rvillablanca commented on #11119
Resolving this issue

[2019-06-12 19:31] rvillablanca commented on #11121
Already a PR for this issue

[2019-06-12 19:31] rvillablanca commented on #11119
Already a PR for this issue

[2019-06-12 19:38] rvillablanca commented on #11118
Working in this issue

[2019-06-12 19:40] hanzei commented on #11052
@esethna Can you help with this? Can community member work on this?

[2019-06-12 20:30] sapnasivakumar commented on #10822
Waiting on https://github.com/scottleedavis/mattermost-plugin-remind/issues/115 to resume working on this issue

[2019-06-12 20:43] brandon69147 opened #11150 "Cannot get desktop notifications"
Installed Mattermost 5.11 using MySQL 5.7 locally hosted on Hyper V Windows Server 2016.

Cannot get desktop notifications to work using Desktop App and/or Microsoft Edge and/or Chrome.

Websearch doesn't provide much insight...

[2019-06-12 21:06] Banyango commented on #11117
I can grab this one!

[2019-06-12 21:31] #11122 closed

[2019-06-12 21:44] jasonblais commented on #10155
Got it, will keep this one open @cometkim

[2019-06-12 21:57] jesperhansen17 commented on #11116
Can I take this one?

[2019-06-12 23:05] jasonblais commented on #10822
@hanzei wondering if we have a binary for the Demo Plugin with bot accounts we can share with @sapnasivakumar so that she can continue on this ticket?

[2019-06-13 06:19] Mindaugas-Jacionis commented on #11052
@hanzei I've got some help from @enahum and started working on the issue 😉

[2019-06-13 06:19] #10984 closed

[2019-06-13 09:42] licaon-kter opened #11152 "Notification time not respected"
Server: 5.11.0

#### Steps to reproduce
1. Set e-mail notification time to 15 minutes
2. Minimize Windows desktop app or swipe Android mobile app (no push)
3. Someone writes to you

#### Expected behavior
Get an e-mail after 15 minutes

#### Observed behavior (that appears unintentional)
Got an e-mail right away

[2019-06-13 10:06] hanzei commented on #11052
Thanks for working on this @Mindaugas-Jacionis :+1:

[2019-06-13 10:07] hanzei commented on #11121
Fixed with https://github.com/mattermost/mattermost-server/pull/11145

[2019-06-13 10:07] #11121 closed

[2019-06-13 10:31] hanzei commented on #10822
Surely @jasonblais

@sapnasivakumar Send you a DM. It's the latest build from `master`.

[2019-06-13 11:51] hanzei commented on #10465
@sdcaulley Thanks for working on this issue. Would you mind posting your questions in the ~Developers Channel on the [Mattermost Community Server](https://community.mattermost.com)? This is the easiest way to get a couple of people looking a this.

[2019-06-13 12:21] #11127 closed

[2019-06-13 12:42] harshilsharma63 commented on #11070
Any ideas on how I can add review comments? We need to diff the whole codebase.

[2019-06-13 12:47] harshilsharma63 commented on #11070
If the repository owner can [create an empty branch](https://stackoverflow.com/questions/34100048/github-create-empty-branch) and a PR from master into this empty branch, I and other reviewers can add the review comments over there.

[2019-06-13 12:50] jasonblais commented on #11070
@harshilsharma63 An option is to do the following:

1. `git checkout --orphan dummy-branch`
2. commit the basic files that aren't going to be code reviewed
3. push to upstream/dummy-branch
4. commit everything we want to review to a new dummy-master branch
5. make a PR for dummy-master -> dummy-branch
6. comment on that PR

Also submitted a PR to document these in the dev docs https://github.com/m

[2019-06-13 12:53] harshilsharma63 commented on #11070
@jasonblais yes, exactly. But this needs to be done on the original repo. Pushing the dummy branch would need write access.

Or I can do all that in my fork, but I'm not sure how convenient if will be for other folks. Thoughts?

[2019-06-13 13:09] amyblais commented on #11150
Hi @brandon69147,

Potentially the sound might be muted by some OS settings. Would you be able to check Focus Assist or Notifications & Actions settings? If this doesn't help, we can continue to troubleshoot.

[2019-06-13 13:18] jasonblais commented on #11070
Good point, wondering if someone on your team @ffdixon would be open to helping with steps 1 - 5 above (pushing a dummy branch and opening a PR for @harshilsharma63 to review)?

[2019-06-13 13:31] wiersgallak commented on #11071
@liusy182 & @mgdelacroix Yes I agree, that the excludes should always be enforced and the example @mgdelacroix outlined is the way I would expect it to behave.

[2019-06-13 15:22] ffdixon commented on #11070
@harshilsharma63 we've made you a collaborator on https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/ -- let us know if that gets you going.

[2019-06-13 17:58] esethna opened #11157 "Migrate "Channel.UpdateMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11158 "Migrate "Channel.SaveMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11159 "Migrate "Channel.GetForPost" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11160 "Migrate "Channel.GetAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11161 "Migrate "Channel.GetChannelsByIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11162 "Migrate "Channel.GetTeamChannels" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11163 "Migrate "Channel.GetChannelCounts" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11164 "Migrate "Channel.GetPublicChannelsByIdsForTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11165 "Migrate "Channel.GetPublicChannelsForTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:58] esethna opened #11166 "Migrate "Channel.GetMoreChannels" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11167 "Migrate "Channel.GetAllChannels" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11168 "Migrate "Channel.GetDeleted" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11169 "Migrate "Channel.GetChannels" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11170 "Migrate "Channel.GetDeletedByName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11171 "Migrate "Channel.GetByNameIncludeDeleted" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11172 "Migrate "Channel.GetByNames" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11173 "Migrate "Channel.GetByName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11174 "Migrate "Channel.PermanentDelete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 17:59] esethna opened #11175 "Migrate "Channel.PermanentDeleteByTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-13 19:09] ylluminate opened #11177 "Copying textual content from Mattermost is poor executed"
#### Summary
When I copy content from a Mattermost channel and paste into another program (or within another Mattermost channel) I get very poorly formatted output.  Mattermost needs to have a differently formatted output for the copy / paste buffer when copying content that facilitates easier reading without the user having to reflow/reformat everything.

#### Steps to reproduce
Copy content from

[2019-06-13 20:02] #10935 closed

[2019-06-13 20:16] Fodoj opened #11178 "White text on white background in mobile layout"
#### Summary

Since 5.9 or 5.10 something is not right with CSS. If I view our Mattermost via mobile browser, then right sidebar (not the one with list of users) is just white. Text has white colour, background too.

#### Steps to reproduce

Version 5.11.

Try with this theme:

[code]

#### Expected behavior

Black text over white background would be nice. Or any text color than white, so that lin

[2019-06-14 00:01] amyblais commented on #11177
Hi @ylluminate, thank you for sharing this feedback. Would you like to share this on our feature request forum here (given this issue has probably existed since the beginning): https://mattermost.uservoice.com/forums/306457-general? If you're interested helping implement this, please let us know.

[2019-06-14 00:10] harshilsharma63 commented on #11070
@ffdixon that worked. Thanks!

[2019-06-14 00:15] harshilsharma63 commented on #11070
@jasonblais I had to make a minor change to the steps you mentioned.

1. take a backup of project dir
1. create dummy master branch with no code -

        git checkout --orphan dummy-master #create the dummy master branch
        git rm -rf . #remove everything from this branch
        git push origin dummy-master

1. Create `dummy-feature` branch from `dummy-master` -

        git checkout -b du

[2019-06-14 00:15] ylluminate commented on #11177
Thanks @amyblais. I guess I don't really feel like that forum get's enough exposure in some aspects or really prioritizes some things properly.  I would be interested in poking about on this issue as it's pretty important and I'm basically about to implement a filter myself in Pastebot or Keyboard Maestro to reformat these... It really shouldn't be necessary to do that and I'm guessing a fix would

[2019-06-14 00:18] amyblais commented on #11178
Thank you, opened a ticket here: https://mattermost.atlassian.net/browse/MM-16367.

[2019-06-14 00:19] amyblais commented on #11152
Hi @licaon-kter, I wasn't able to reproduce this on an upcoming v5.12 release server. When you upgrade to v5.12, would you be open to testing this out again if you still see the issue?

[2019-06-14 02:16] jasonblais commented on #11070
Thanks! Updated the doc PR accordingly: https://github.com/mattermost/mattermost-developer-documentation/pull/304

[2019-06-14 03:49] timconner commented on #11079
It looks like you guys may have already spotted this: https://mattermost.atlassian.net/browse/MM-12072

Is that referring to the same query?

[2019-06-14 04:52] licaon-kter commented on #11152
Yes, will do.

[2019-06-14 05:09] srkgupta commented on #10574
I can pick this up.

[2019-06-14 08:02] dchukmasov commented on #11157
Hi! I will grab this one.

[2019-06-14 08:02] dchukmasov commented on #11158
Hi! I will grab this one.

[2019-06-14 10:02] #10987 closed

[2019-06-14 10:03] jespino commented on #11158
Awesome, Thanks @dchukmasov!

[2019-06-14 10:03] jespino commented on #11157
Great! thanks @dchukmasov. Let me know if you have any question (here or in https://community.mattermost.com).

[2019-06-14 10:26] #11087 closed

[2019-06-14 13:10] Inconnu08 commented on #11175
I'm up for this!

[2019-06-14 13:13] Inconnu08 commented on #11174
I'll be taking on this

[2019-06-14 13:22] #10976 closed

[2019-06-14 14:01] #11126 closed

[2019-06-14 14:28] #11123 closed

[2019-06-14 14:29] jespino commented on #11175
:rocket:

[2019-06-14 14:30] jespino commented on #11174
Awesome! :fireworks:

[2019-06-14 14:40] #11091 closed

[2019-06-14 15:21] amyblais commented on #11177
I found there is a ticket open here for this: https://mattermost.atlassian.net/browse/MM-15727.

I'll add a comment asking whether it can be opened as Help Wanted.

[2019-06-14 16:09] rvillablanca commented on #11173
Working on this now!

[2019-06-14 16:16] rvillablanca commented on #11173
@jespino There are some private shared functions that if I modify them, then other methods will be affected. That said, can I refactor more functions apart from `Channel.GetByName` ?

[2019-06-14 16:18] jespino commented on #11173
In that case, where multiple functions relay in the same private function, the answer is yes, but try to reclaim the rest of help wanted ticket related to that functions.

[2019-06-14 16:18] #11119 closed

[2019-06-14 16:23] rvillablanca commented on #11171
Working on this ;)

[2019-06-14 16:24] rvillablanca commented on #11171
PR related #11148

[2019-06-14 18:32] #11124 closed

[2019-06-14 20:50] crspeller commented on #9486
Might still accept a well done PR for this that keeps things simple, but closing because of lack of internal interest in the feature.

[2019-06-14 20:56] #7584 closed

[2019-06-14 21:08] esethna opened #11192 "Move non-API OAuth endpoints from api4 to web package"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-14 21:26] piperRyan commented on #11159
I would like to work on this issue.

[2019-06-14 21:30] crspeller commented on #10583
@bdsweet Need any help?

[2019-06-14 21:33] crspeller commented on #10958
@mounicapaladugu Let me know if you have any questions.

[2019-06-14 23:39] dv29 commented on #9486
I'll keep working at it and create a Pr when finished :( sorry for the delay

[2019-06-14 23:50] esethna opened #11193 "Add convenience KeyValueStore JSON functions to plugin API"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-14 23:55] esethna opened #11194 "Add an "emoji_icon" field to incoming webhooks."
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-15 01:25] esethna opened #11195 "Move LaTeX support to a plugin"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-15 07:36] hanzei commented on #11159
Thanks @piperRyan

[2019-06-15 12:11] Sheshagiri commented on #11161
I have a pr(^^), do let me know if the changes look good :-)

[2019-06-15 13:15] #10922 closed

[2019-06-15 14:13] hanzei commented on #8942
@jespino Is this fixed with https://github.com/mattermost/mattermost-server/pull/11047?

[2019-06-15 14:20] jespino commented on #8942
@hanzei not really, it will be a serie of small PRs improving the quality there. Probably @giorgosdi will know when we can close this ticket.

[2019-06-15 14:55] lurcio commented on #11192
I'm up for taking this one

[2019-06-15 18:21] #10275 closed

[2019-06-15 18:29] #10582 closed

[2019-06-15 21:33] Willyfrog commented on #7811
What would be the appropiate permissions required for using this?

[2019-06-15 22:10] hanzei commented on #11192
Thanks for working on this, @lurcio! :+1:

[2019-06-15 23:42] jasonblais commented on #7811
`PERMISSION_MANAGE_SYSTEM` seems reasonable to me 👍

[2019-06-15 23:47] jasonblais commented on #9486
Thanks @dv29! I'll keep this help wanted issue open while you're working on it. How's the progress been, any questions so far?

[2019-06-16 01:41] kosgrz commented on #11195
I can do it :rocket:!

[2019-06-16 09:31] zkry commented on #11193
I'd like to work on this one.

[2019-06-16 11:11] zkry commented on #11193
I do have a question though on how these functions will map to the KV functions of the API interface. I assume that these functions to be added will just be wrappers for the API interface. So for example, these functions take as input `interface{}` but the API interface works on `[]byte`. I was thinking to just do a type assertion from `interface{}` to `[]byte` and return an error if it fails. So

[2019-06-16 16:06] jespino commented on #11083
Fixed by mattermost/mattermost-webapp#2954

[2019-06-16 16:06] #11083 closed

[2019-06-16 16:11] #11085 closed

[2019-06-17 00:44] rvillablanca commented on #11172
Working on this ;)

[2019-06-17 01:17] rvillablanca commented on #11170
Working on this :)

[2019-06-17 01:29] rvillablanca commented on #11169
I'll take this issue

[2019-06-17 01:39] harshilsharma63 commented on #11070
Updated review PR created here - https://github.com/blindsidenetworks/mattermost-plugin-bigbluebutton/pull/44/

[2019-06-17 02:00] rvillablanca commented on #11168
Grabbing this issue

[2019-06-17 02:12] rvillablanca commented on #11167
I'll work on this

[2019-06-17 02:21] rvillablanca commented on #11166
I'll take this issue :)

[2019-06-17 02:35] piperRyan commented on #11160
I would like to work on this issue.

[2019-06-17 02:37] rvillablanca commented on #11165
Working on this issue

[2019-06-17 02:49] rvillablanca commented on #11164
Working on this

[2019-06-17 03:07] rvillablanca commented on #11163
I've created a PR for this ;)

[2019-06-17 03:08] rvillablanca commented on #11162
I will work on this issue ;)

[2019-06-17 03:30] harshilsharma63 commented on #11070
@jasonblais @ffdixon I've added review comments for server component of the plugin.

[2019-06-17 04:35] Alamin02 commented on #10786
I'm so sorry I got caught up for some personal issues. Sorry for the very late reply. I'll be working on it from today.

[2019-06-17 08:37] #11128 closed

[2019-06-17 08:46] dmke opened #11212 "Failed to update config"
#### Summary

After upgrading from 5.11 to 5.12, the server tries to overwrite its config file.

#### Steps to reproduce

- Deploy Mattermost server (any version < 5.12 will do).
- Have `/path/to/config.json` write protected.
- Upgrade to 5.12.0.
- Observe the following error:

[code]

#### Expected behavior

Mattermost should not touch its `config.json` and start without an error.

We're deployin

[2019-06-17 08:48] jespino commented on #11160
@piperRyan awesome. Go for it :)

[2019-06-17 08:49] #11118 closed

[2019-06-17 08:51] jespino commented on #10769
Fixed by #10871

[2019-06-17 08:51] #10769 closed

[2019-06-17 08:52] jespino commented on #10971
Fixed from #11179

[2019-06-17 08:52] #10971 closed

[2019-06-17 08:53] dmke commented on #11212
N.B. Same for "asset subpath":

[code]

The whole path `/srv/mattermost/5.12.0/mattermost/` is owned by root, and the server is executed as dedicated user:

[code]

(`/srv/mattermost/current` is a symlink to `/srv/mattermost/5.12.0/mattermost`, containing the contents of your [release tar](https://releases.mattermost.com/5.12.0/mattermost-team-5.12.0-linux-amd64.tar.gz)).

[2019-06-17 09:40] esethna opened #11213 "Migrate "Channel.AutocompleteInTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:40] esethna opened #11214 "Migrate "Channel.GetMembersForUserWithPagination" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:40] esethna opened #11215 "Migrate "Channel.GetMembersForUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:40] esethna opened #11216 "Migrate "Channel.IncrementMentionCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:40] esethna opened #11217 "Migrate "Channel.PermanentDeleteMembersByChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11218 "Migrate "Channel.UpdateLastViewedAt" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11219 "Migrate "Channel.PermanentDeleteMembersByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11220 "Migrate "Channel.RemoveMember" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11221 "Migrate "Channel.GetPinnedPosts" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11222 "Migrate "Channel.GetMemberCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11223 "Migrate "Channel.GetMemberForPost" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11224 "Migrate "Channel.GetAllChannelMembersNotifyPropsForChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11225 "Migrate "Channel.GetAllChannelMembersForUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11226 "Migrate "Channel.GetChannelMembersTimezones" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:41] esethna opened #11227 "Migrate "Channel.GetMembers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 09:44] jespino commented on #11193
Thanks @zkry! Probably here @jwilander or @levb can give you more information :)

[2019-06-17 09:45] jespino commented on #11195
Awesome!, thanks @kosgrz!

[2019-06-17 12:01] iomodo commented on #11227
I'll grab this one

[2019-06-17 12:13] jasonblais commented on #11070
Great, thank you! I'll let Fred chime in on the review comments as well 👍

[2019-06-17 12:35] jwilander commented on #11193
@zkry I would suggest using [json.Marshal](https://golang.org/pkg/encoding/json/#Marshal) to get the `[]byte` JSON encoding of `value`. If you just cast to `[]byte` it will fail every time unless the caller has already done the encoding which would defeat the purpose of the helper function.

And yes, your assumption that these helpers would just be wrappers around the API interface is correct 👍

F

[2019-06-17 14:26] jespino commented on #11227
Great! :tada:

[2019-06-17 14:27] #11166 closed

[2019-06-17 14:47] #11163 closed

[2019-06-17 14:56] amyblais commented on #11059
Ticket for reference here: https://mattermost.atlassian.net/browse/MM-16405.

[2019-06-17 15:03] #11172 closed

[2019-06-17 15:14] amyblais commented on #11212
@cpanato FYI on this.

[2019-06-17 15:30] cpanato commented on #11212
I think this is happening because now we have some plugins that will be installed and will run, then it changes the config.json to add the plugin config.

i guess @hmhealey have more insights

[2019-06-17 15:49] rvillablanca commented on #11213
I am working on this issue ;)

[2019-06-17 16:15] rvillablanca commented on #11213
In the `storetest/channel_store.go` the test `testChannelStoreSearchInTeam` is using this refactor method like this:
[code]
Due to this signature has changed, I have modify `SearchInTeam` to make this test work, but this last method uses `performSearch`  in `sqlstore/channel_store.go`, this will impact to `SearchMore` in the `ChannelStore`.

Summarizing, I'll refactor `Channel.AutocompleteInTeam`,

[2019-06-17 16:43] rvillablanca commented on #11214
Resolving this

[2019-06-17 16:45] jespino commented on #11213
@rvillablanca sounds good to me.

[2019-06-17 16:51] esethna opened #11230 "Migrate "Channel.SearchMore" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 16:51] esethna opened #11231 "Migrate "Channel.SearchInTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 16:51] jespino commented on #11230
@rvillablanca is taking car of this here: #11229

[2019-06-17 16:52] jespino commented on #11231
@rvillablanca is taking car of this here: #11229

[2019-06-17 17:16] Sheshagiri commented on #11225
@jespino ^^ is my pr for this. I'm returning `(map[string]string, *model.AppError)`? or should it be something from `model?`

[2019-06-17 17:22] jespino commented on #11225
@Sheshagiri This is the previous behavior so I think we should keep it as is for now, we can rethink about that returned value later.

[2019-06-17 17:40] Sheshagiri commented on #11225
@jespino gotcha!

[2019-06-17 17:45] #11089 closed

[2019-06-17 17:46] #11168 closed

[2019-06-17 18:32] #11213 closed

[2019-06-17 18:45] #11161 closed

[2019-06-17 19:03] jespino commented on #11231
Fixed

[2019-06-17 19:03] #11231 closed

[2019-06-17 19:03] jespino commented on #11230
Fixed

[2019-06-17 19:03] #11230 closed

[2019-06-17 19:52] krjn commented on #11226
Taking this one.

[2019-06-17 20:57] rvillablanca commented on #11215
Working on this!

[2019-06-17 21:22] rvillablanca commented on #11216
Working on this

[2019-06-17 21:51] rvillablanca commented on #11217
Working on this now!

[2019-06-17 22:02] rvillablanca commented on #11218
I'll be working on this

[2019-06-17 23:18] esethna opened #11241 "Change all user lists to be infinite scroll."
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-17 23:19] esethna commented on #5790
Reopening here: https://github.com/mattermost/mattermost-server/issues/11241

[2019-06-17 23:19] #5790 closed

[2019-06-18 05:15] jespino commented on #11226
Awesome, thanks @krjn! 👍

[2019-06-18 05:23] hanzei commented on #11162
Fixed with https://github.com/mattermost/mattermost-server/pull/11211.

Thanks @rvillablanca :+1:

[2019-06-18 05:23] #11162 closed

[2019-06-18 05:49] gupsho commented on #11219
I can take this

[2019-06-18 06:22] gupsho commented on #11220
I can take this.

[2019-06-18 07:36] hanzei commented on #9196
I'm currently short on time and won't be able to review this.

@jasonblais Could you please own the review of this extension?

[2019-06-18 07:37] hanzei commented on #10412
Hey @seansackowitz,

How is your work going? Do you have any questions?

[2019-06-18 07:41] hanzei commented on #10627
Hey @andrevasconcelos,

Just want to check how your work on this ticket is going. Do you need help?

[2019-06-18 07:42] hanzei commented on #10576
Hey @prapti,

I just want to gently remind you about this :wink:

[2019-06-18 07:43] hanzei commented on #10145
Hey @jkl5616,

How is your work going? Do you have any questions?

[2019-06-18 07:49] hanzei commented on #10232
Hey @lisakycho,

Does the above answers solve your question?

[2019-06-18 07:49] hanzei commented on #10676
Hey @Jonany,

How is your work going? Do you have questions?

[2019-06-18 09:35] iomodo commented on #11222
I'll grab this one

[2019-06-18 10:26] iomodo commented on #11224
I take this one

[2019-06-18 10:49] hanzei commented on #10346
Hey @eshyong,

Do the answers above solve your question?

[2019-06-18 10:49] hanzei commented on #11054
Hey @Azero123,

How is your work going? Do you have questions?

[2019-06-18 10:50] hanzei commented on #10327
@wiersgallak Gentle reminder about the above question

[2019-06-18 10:52] hanzei commented on #10544
Hey @patterns,

After reading the documentation: Do you have any questions about the E2E test framework?

[2019-06-18 10:52] hanzei commented on #10276
I'm not knowable enough to give guidance about this. @saturninoabril can you help?

[2019-06-18 10:54] hanzei commented on #10342
@jasonblais @cpoile What do you think about closing this issue for now? It still needs a lot of design from our side.

[2019-06-18 10:54] hanzei commented on #11120
Fixed with https://github.com/mattermost/mattermost-server/pull/11149

[2019-06-18 10:54] #11120 closed

[2019-06-18 10:55] hanzei commented on #10156
@MirlanMaksv Do the above answer solve your question?

[2019-06-18 11:07] normoes opened #11247 "Posting links ending in _ (underscore)"
#### Summary
Posting links ending in `_` (underscore) excludes the `_` (underscore) from the actual link.

This happens in the desktop application as well as in the web application.

#### Steps to reproduce
Post the link https://example.com/_ in a mattermost channel.

#### Expected behavior
Clicking the link opens https://example.com/_.

A mouseover highlights https://example.com/_ (the complete l

[2019-06-18 11:20] normoes commented on #11247
Seems like github has the same problem ;)

[2019-06-18 11:22] saturninoabril commented on #10276
@eshyong @hanzei Sure and sorry for the delay as I was out and partially unavailable for the past weeks.  I'll look into it today.

[2019-06-18 11:37] saturninoabril commented on #10276
@eshyong Minimum test coverage will be per code change.  Per your commit, that could be just around the `handleFilterChange` by passing several event target values.
[code]

[2019-06-18 13:02] amyblais commented on #11247
Hi @normoes, we used to have a ticket for this but it was closed by the development team as "Won't fix" because currently this follows GitHub markdown standard and a special case for this would add complexity for limited value: https://mattermost.atlassian.net/browse/MM-13990.

I'll close this issue for now, please feel free to share this on our feature request forum here: https://mattermost.userv

[2019-06-18 13:02] #11247 closed

[2019-06-18 13:06] adzimzf commented on #11221
May I pick this one ?

[2019-06-18 13:19] jasonblais commented on #10342
@hanzei Good point, we should. I had turned the original ticket to a design ticket last week for us to revisit: https://mattermost.atlassian.net/browse/MM-11828

[2019-06-18 13:19] #10342 closed

[2019-06-18 13:22] wiersgallak commented on #10327
@ConnorL33t
1. We do not currently have a solution that informs the server admin if the migration is taking a long time.  We would welcome a solution that incorporates this if you have some ideas on how you could do this.

[2019-06-18 13:58] Azero123 commented on #11054
hey hanzel, sorry i have been working on a different issue and have been pretty slammed this week. but i do have a question, do we have an existing jira server i could connect my mattermost dev server to? or do i need to make a new one?

[2019-06-18 14:27] Jonany commented on #10676
Hi @hanzei,

I've been on vacation and had some trouble with my Linux install but I plan on submitting a pull request this week.

[2019-06-18 14:29] Jonany commented on #10777
Update: coding is all done. Just giving it a once over before submitting a pull request. I've had some trouble with my Linux install but I hope to submit the pull request either today or tomorrow.

[2019-06-18 14:32] jespino commented on #11221
Awesome! Thanks @adzimzf!

[2019-06-18 15:16] esethna opened #11249 "Migrate "Channel.UserBelongsToChannels" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11250 "Migrate "Channel.RemoveAllDeactivatedMembers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11251 "Migrate "Channel.GetChannelMembersForExport" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11252 "Migrate "Channel.GetAllDirectChannelsForExportAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11253 "Migrate "Channel.GetAllChannelsForExportAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11254 "Migrate "Channel.ClearAllCustomRoleAssignments" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11255 "Migrate "Channel.ResetAllChannelSchemes" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11256 "Migrate "Channel.MigrateChannelMembers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11257 "Migrate "Channel.GetChannelsByScheme" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11258 "Migrate "Channel.AnalyticsDeletedTypeCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11259 "Migrate "Channel.GetMembersByIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11260 "Migrate "Channel.SearchAllChannels" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:16] esethna opened #11261 "Migrate "Channel.AutocompleteInTeamForSearch" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:41] esethna opened #11262 "Allow select and copying channel header text using native handling"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:41] esethna opened #11263 "Allow share extension to search and access GMs, DMs that aren't in the users sidebar"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:45] esethna opened #11264 "Add status icons on "add member to channel" list"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:54] esethna opened #11265 "Web design: Add infinite scroll to Select Teams screen"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 15:54] esethna opened #11266 "No prompt to grant permissions if Mattermost was denied photo permissions on the device"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-18 16:23] eshyong commented on #10346
@hanzei yes, sorry I haven't made much progress on this issue, and others have suggested that I take on smaller tasks to start with. You can reopen this to others, since I probably won't be working on this anytime soon.

[2019-06-18 16:26] Sheshagiri commented on #11264
does it involve UI changes as well(`mattermost-webapp`)?

[2019-06-18 16:32] ShalokShalom opened #11268 "White bar on test instance"
#### Summary
A white bar appears on test instance when scrolling down.

#### Steps to reproduce
Test instance. See Screenshot.

#### Expected behavior
Blocked scrolling.

#### Observed behavior (that appears unintentional)
White bar.

#### Possible fixes
Idk.

![Screenshot_20190618_182754](https://user-images.githubusercontent.com/6344099/59702205-7bb63880-91f7-11e9-99fc-b21f1deebb4a.png)

[2019-06-18 16:33] #11217 closed

[2019-06-18 17:20] #11224 closed

[2019-06-18 17:23] gupsho commented on #11249
I can take this.

[2019-06-18 17:35] jespino commented on #11264
Oops, I tagged it wrongly, yes it's mainly `mattermost-webapp` changes

[2019-06-18 17:37] jespino commented on #11249
Awesome! :)

[2019-06-18 17:55] gupsho commented on #11250
I can take this.

[2019-06-18 18:10] rvillablanca commented on #11251
Working on this issue

[2019-06-18 18:19] rvillablanca commented on #11252
Doing this

[2019-06-18 18:30] amyblais commented on #11268
Hi @ShalokShalom. To give you the best help we can, could you review [this web page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and send us the relevant environment details, logs, config files, etc. so we can diagnose this issue?

[2019-06-18 18:31] rvillablanca commented on #11253
Working on this

[2019-06-18 18:49] rvillablanca commented on #11254
Grabbing this one

[2019-06-18 18:58] rvillablanca commented on #11255
Getting done this

[2019-06-18 19:02] #11249 closed

[2019-06-18 19:08] #11251 closed

[2019-06-18 19:25] lieut-data commented on #10327
Re: 1., I might suggest at most a periodic log if a long-running migration is occurring (e.g. ping the logs every 10 seconds with a "Still migrating to 5.12..." and maybe the time elapsed so far as a structured field. I personally don't think this is a requirement.

[2019-06-18 19:28] #11220 closed

[2019-06-18 20:17] zkry commented on #11193
Ok, that makes sense now. Thanks 🙂

[2019-06-18 20:35] gupsho commented on #11256
I can take this one.

[2019-06-18 20:47] gupsho commented on #11257
I can take this.

[2019-06-18 21:09] #11250 closed

[2019-06-18 21:12] shrmpy commented on #10544
@hanzei I've had couple questions, but asked them in the UI Automation channel in community.mattermost.com. The issue I'm working through right now surfaced last night after I performed a rebase. I can't get any Cypress tests to run further than cy.apiLogin(), after the rebase.

[2019-06-18 22:11] shermdog commented on #11079
I can confirm we are also seeing this issue in a channel w/ over 500k total posts.  Initial load is slow and loading additional backlog via infinite scroll also has a long load time.  I'll try to get a slow query log enabled to see if I can be of some assistance.

Mattermost 5.12
Percona MySQL 5.7.25

[2019-06-19 05:27] srkgupta commented on #10574
I will pick this one

[2019-06-19 08:23] #11226 closed

[2019-06-19 08:27] #11159 closed

[2019-06-19 08:41] hanzei commented on #11263
@eric Would you please check if the labels are correct and fix the description of this ticket?

[2019-06-19 08:41] hanzei commented on #11262
@eric Would you please check if the labels are correct and fix the description of this ticket?

[2019-06-19 08:46] hanzei commented on #11265
@eric Would you please check if the labels are correct and fix the description of this ticket?

[2019-06-19 08:46] hanzei commented on #10574
Thanks @srkgupta :+1:

[2019-06-19 08:56] #10863 closed

[2019-06-19 09:10] #11254 closed

[2019-06-19 09:17] hanzei commented on #10797
Hey @scottleedavis,

I'm wondering if you would be interested in submitting a PR to the demo plugin that makes use of this new feature? Would be cool to show this new possibility in the plugin.

[2019-06-19 09:25] hanzei commented on #10676
Great, looking forward to your PR!

[2019-06-19 09:25] hanzei commented on #10676
If you have issues with the installation, feel free to ask for the on the [Mattermost Community Server](https://community.mattermost.com).

[2019-06-19 09:27] hanzei commented on #11054
@levb Do we have a jira server that @Azero123 can use?

[2019-06-19 10:34] hanzei commented on #10544
@shrmpy Would you mind sharing the output of your console?

[2019-06-19 11:31] #11253 closed

[2019-06-19 11:40] krjn commented on #11258
Taking this one.

[2019-06-19 11:48] iomodo commented on #11261
I'll grab this

[2019-06-19 12:07] iomodo commented on #11260
I'll grab this one

[2019-06-19 12:23] iomodo commented on #11259
I'll grab this

[2019-06-19 12:42] amyblais commented on #10913
This has been fixed for upcoming v5.13 release,

[2019-06-19 12:42] #10913 closed

[2019-06-19 13:12] esethna opened #11288 "Implement http.Hijacker for plugins' ServeHTTP"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 13:14] lieut-data commented on #11288
The changes here are technically easy -- if they work as theorized -- but the hard part will be writing a good set of unit tests to exercise websockets sufficiently to be certain of the implementation.

[2019-06-19 13:30] manland commented on #11288
I will give it a try ;)

[2019-06-19 14:39] #11059 closed

[2019-06-19 14:43] proximiteclient opened #11291 "Probleme with gif and preview youtube video"
Hello, Since I update in 5.12.0 gifs are no longer displayed or youtube videos. Only the URL link is displayed ... Is this a problem already known?

[2019-06-19 15:05] dmke commented on #11212
Can I just remove the `prepackaged_plugins/` directory to work around this issue, or does this interfere with the startup process? That directory currently contains:

- `autolink`, v1.0.0
- `aws-SNS`, v1.0.0
- `custom-attributes`, v1.0.0
- `github`, v0.10.2
- `jira`, v2.0.6
- `nps`, v1.0.0
- `welcomebot`, v1.0.0
- `zoom`, v1.0.7

We don't use any of them.

[2019-06-19 15:09] hmhealey commented on #11212
Hi @dmke, it's intentional that Mattermost modifies it's own config on startup since it sometimes needs to set values for new settings or when they make changes to the config from the System Console.

Generally, the `config.json` has to be the single source of truth right now. We had this same issue with our deployment with GitLab Omnibus where it would overwrite the config with it's own values. W

[2019-06-19 15:23] #11258 closed

[2019-06-19 15:47] dmke commented on #11212
@hmhealey,

As written above, we're managing our Mattermost installation with Ansible. I've added the `config.json` to our Ansible repository and meticulously apply changes documented in the [release changelog](https://docs.mattermost.com/administration/changelog.html#config-json). There should be no need for the server to rewrite anything.

Our policy is to apply changes on running systems *only*

[2019-06-19 16:20] #11259 closed

[2019-06-19 16:37] scottleedavis commented on #10797
Sounds great @hanzei , will do.  👍

[2019-06-19 16:57] dmke commented on #11212
@hmhealey,

To answer my onw questions: Indeed it does. The docs state:

Rewriting a heavily modified `config.json` into an environment file was a bit of pain (we divert in ~60 cases from the default settings), but luckily `bin/mattermost config show` prints the defaults.

Thanks for your pointer in the right direction!

[2019-06-19 16:57] #11212 closed

[2019-06-19 17:00] esethna opened #11292 "Migrate "Emoji.Search" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11293 "Migrate "Emoji.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11294 "Migrate "Emoji.GetList" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11295 "Migrate "Emoji.GetMultipleByName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11296 "Migrate "UserAccessToken.UpdateTokenDisable" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11297 "Migrate "UserAccessToken.Search" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11298 "Migrate "UserAccessToken.UpdateTokenEnable" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11299 "Migrate "Emoji.GetByName" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11300 "Migrate "UserAccessToken.GetByUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11301 "Migrate "UserAccessToken.GetByToken" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11302 "Migrate "UserAccessToken.GetAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11303 "Migrate "UserAccessToken.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11304 "Migrate "UserAccessToken.DeleteAllForUser" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11305 "Migrate "UserAccessToken.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:00] esethna opened #11306 "Migrate "UserAccessToken.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-19 17:12] jchungvz commented on #11291
I just want to add that I have the same issue as well. I think it is related to the change "Fixed expand/collapse arrows not being visible for YouTube videos when image links are expanded by default." (https://docs.mattermost.com/administration/changelog.html#release-v5-12-feature-release), although I am not seeing the expand / collapse arrows for youtube links after upgrading to version 5.12. I h

[2019-06-19 18:28] amyblais commented on #11291
Hi all, do you see any Mattermost log errors or Console errors? What device and OS are you on?

[2019-06-19 18:34] jespino commented on #10326
I want to keep out the Help Wanted tickets for now because I'm working in an entire rethink of this, so... I think it should be fixed with that new approach.

[2019-06-19 18:37] gupsho commented on #11292
I can take this.

[2019-06-19 18:45] iomodo commented on #11306
<grab>

[2019-06-19 19:13] jchungvz commented on #11291
I don't see any errors or warning in either the mattermost.log or in the Firefox web developer console. I'm attaching the screenshot and a snippit of the log. The screenshot is redacted to prevent exposing internal server names and users.

[mattermost-log-snippit.txt](https://github.com/mattermost/mattermost-server/files/3307575/mattermost-log-snippit.txt)

![2019-06-19_14-05-15](https://user-imag

[2019-06-19 19:24] #11227 closed

[2019-06-19 22:20] mjthomp95 commented on #11305
I can take this one.

[2019-06-19 22:23] hanzei commented on #11305
Thanks @mjthomp95

[2019-06-19 22:52] amyblais commented on #11291
Are your link previews and images enabled by default?

Are link previews enabled on your server?

[2019-06-19 23:00] shermdog commented on #11079
I can confirm from my slow query log that @timconner has identified the slow query

[code]

![slow](https://user-images.githubusercontent.com/3383063/59806986-f3e63200-92bb-11e9-82e5-a5a74996a5b1.png)

[2019-06-19 23:06] maruTA-bis5 opened #11310 "Bot account creation causes "access token added" email to bot user"
#### Summary
When created bot account, sent "access token added" email to bot user.

#### Steps to reproduce
Reproduce in 5.12.0 EE without license, or 5.12.0 TE.
1. Set enable bot account creation
2. Create new bot account

#### Expected behavior
No email sent, or send to bot created user.

#### Observed behavior (that appears unintentional)
Email that subject is "Personal access token added to y

[2019-06-19 23:06] jasonblais commented on #9486
Hey @dv29 - just touching base on this particular help wanted ticket.

We've done some exploration on our end and realize supporting gRPC will be more work than originally anticipated, requiring additional long-term maintenance and support. Depending on the approach, supporting gRPC may in fact be fairly complex and require an additional RPC layer to the existing plugin framework.

I'd be interest

[2019-06-20 02:07] patterns commented on #10544
@hanzei Sorry, I saw that there was a resolution from pr-mattermost-webapp-2985 (https://mattermost/mattermost-webapp/pull/2985). Did a new rebase, ran the test to check again, and things are ok. just made my MM14868 pull request (https://github.com/mattermost/mattermost-webapp/pull/2990).

[2019-06-20 05:08] RajatVaryani commented on #11303
@esethna Can I own this up? This is going to be my first PR in the project.

[2019-06-20 05:23] tekminewe commented on #11266
hi @esethna I think i can help with this issue, but i see that the camera permission having the same problem, are we going to fix it with this issue too?

[2019-06-20 06:13] jespino commented on #11303
@RajatVaryani sure! This one is a good option. Thanks! :tada:

[2019-06-20 06:21] ShalokShalom commented on #11268
Since this is the test environment, you provide...?

I have closed this instance, so no chance for logs.

Anything else, that I can do?

[2019-06-20 06:21] ShalokShalom commented on #11268
It is Firefox, on Linux. Current version.

[2019-06-20 06:42] #11117 closed

[2019-06-20 07:05] gupsho commented on #11293
I can take this.

[2019-06-20 07:16] gupsho commented on #11294
I can this one.

[2019-06-20 07:26] gupsho commented on #11295
I can take this.

[2019-06-20 07:31] #11169 closed

[2019-06-20 07:37] #11223 closed

[2019-06-20 08:35] zetaab commented on #11291
We have same issue, after updated from 5.11 -> 5.12 gifs and other images are not loaded anymore.
Server:
Enable link previews: false
Account:
Default appearance of image previews: expanded

[2019-06-20 09:47] RajatVaryani commented on #11302
@jespino Can I own this?

[2019-06-20 11:15] jespino commented on #11302
@RajatVaryani sure! Go for it! :confetti_ball:

[2019-06-20 11:17] RajatVaryani commented on #11303
@jespino On a side note why did we make the DB call async in the first place? What was the thought process? Just curious about it.

[2019-06-20 11:24] jespino commented on #11303
@RajatVaryani The idea was to always run the request concurrently, but the reality is that most of our database request must be executed one after another, so, makes more sense to make them sync by default and use the async approach explicitly.

[2019-06-20 12:35] amyblais opened #11318 "Mattermost v5.13"
You can find key dates for v5.13 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### June 28th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### July 12th: Release Build Cut
The fi

[2019-06-20 12:36] #11165 closed

[2019-06-20 12:37] #11256 closed

[2019-06-20 12:48] hanzei commented on #10544
Awesome @patterns :+1: I've requested reviews for your PR.

[2019-06-20 12:50] #11293 closed

[2019-06-20 13:21] #11171 closed

[2019-06-20 13:21] #11173 closed

[2019-06-20 13:28] hanzei commented on #10688
I've responded in the thread. Sorry for the delay.

[2019-06-20 14:10] #11093 closed

[2019-06-20 14:21] jchungvz commented on #11291
Yes, link previews are not enabled, though I tried enabling them anyway in the System Console and then verifying that link previews were enabled in my account. The YouTube video previews still do not display.

Like the others, the issue was discovered after upgrading from MatterMost 5.11 to 5.12.

Interestingly, it appears that animated gifs seem to display fine for me, with or without link previe

[2019-06-20 14:25] #11222 closed

[2019-06-20 14:41] amyblais commented on #11268
Hi @ShalokShalom, since you've closed the instance, have you seen this on other servers?

[2019-06-20 14:45] iomodo commented on #11304
I'll grab this

[2019-06-20 14:48] #11167 closed

[2019-06-20 15:01] #11252 closed

[2019-06-20 15:02] dv29 commented on #9486
@jasonblais It is fairly complex and I am fairly new to it. I am trying to get a simple gRPC service running. I have tried some trial and error and I have really not figured out an approach that would scale properly TBH.

The amount of work I have done is minimal as I am still struggling to find time.
To that point if anyone else would like to take a dig at this, I'd like to help them out.

[2019-06-20 15:09] iomodo commented on #11301
Grabbing this

[2019-06-20 15:48] jasonblais commented on #9486
Thanks @dv29, sounds fair. Really appreciate your help here, agree this is fairly complex. We can pause on the work for now and revisit at a later time.

I'm curious if the plugin framework is of interest to you? There may be other smaller-sized tickets that aren't as time-consuming. Let me know :)

[2019-06-20 15:48] #9486 closed

[2019-06-20 16:09] iomodo commented on #11300
I'll grab this one

[2019-06-20 16:28] sapnasivakumar commented on #11241
@esethna I would like to work on this ticket, Can you please assign it to me

[2019-06-20 17:04] #11302 closed

[2019-06-20 18:05] amyblais commented on #11310
Hi @maruTA-bis5, I wasn't able to reproduce this just now on a TE server, but not sure if some of my settings are different. Is this something you would be open to creating a PR for?

[2019-06-20 18:11] esethna opened #11323 "Sync of unread count for archived channels"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-20 18:13] jespino commented on #11323
Assinged it to @RajatVaryani :)

[2019-06-20 18:18] sudheerDev commented on #11323
AFAIK We filter them on the UI as of now to keep the count in sync.

[2019-06-20 18:21] jespino commented on #11323
@sudheerDev so this should be already fixed?

[2019-06-20 18:22] #11303 closed

[2019-06-20 18:28] sudheerDev commented on #11323
@jespino I just realised i create this ticket!. i think this a valid issue still count might be out of sync but either way i think it would be great if we could solve this issue server side.

[2019-06-20 18:49] jespino commented on #11323
@sudheerDev Awesome :)

[2019-06-20 18:59] jespino commented on #11266
Thanks @tekminewe!

[2019-06-20 19:01] jespino commented on #11241
Sure @sapnasivakumar, work on it, I've removed the Up For grabs tag :) Let us know if you need any help.

[2019-06-20 19:12] sudheerDev commented on #11323
@jespino we fixed this on client with https://github.com/mattermost/mattermost-redux/pull/597. It rebased and picked from https://github.com/mattermost/mattermost-redux/pull/605.

I don't know the complexity involved in fixing this server side but my guess is it would be fairly complex.

1. we have to consider existing archived channel count for various users.
2. we have to decrease the count for

[2019-06-20 19:19] RajatVaryani commented on #11323
@sudheerDev @jespino I also verified. The values on the server side will be out of sync. Then where else is the API to get the unread message count?

[2019-06-20 19:24] RajatVaryani commented on #11323
@sudheerDev Any idea is the mobile app also doing the same? Otherwise, we will have a mismatch in values.

[2019-06-20 19:25] sudheerDev commented on #11323
I think it is odd the way we handled unreads for archived channels and deleted users. Whenever we archive or delete a user we remove it from LHS even if there is an unread message.

So in order to keep the count insync with LHS we are decreasing the count but i feel we should keep the unread archived channel or deactivated user in LHS so it is obvious that there are messages to be read. Once user

[2019-06-20 19:26] sudheerDev commented on #11323
Mobile app uses the same selectors as webapp and the referenced PR has the changes in redux which are used in both the clients.

[2019-06-20 20:14] pradeepmurugesan commented on #11299
I can work on this 👍

[2019-06-20 20:52] #11255 closed

[2019-06-20 21:14] mcp11 opened #11326 "SMTP not working"
#### Summary
I deployed mattermost in a docker container on an Ubuntu 18.04 machine. When I enter my SMTP credentials and test the connection, it doesn't connect to the SMTP server and it doesn't send mail.
#### Steps to reproduce
1. Deploy Mattermost in a docker container using docker-compose on a fresh Ubuntu 18.04 machine following this guide: https://docs.mattermost.com/install/prod-docker.htm

[2019-06-20 21:15] mcp11 commented on #11326
Of course I tried that with different SMTP Servers which are definitely working and I double-checked the credentials. Also tried port 587, same behavior

[2019-06-20 21:17] hmhealey commented on #10902
Web and server changes for this are in. Mobile changes are still a work in progress. These changes should be backwards compatible as well, so `/me` messages should look the same as they did before on mobile in the mean time

[2019-06-20 21:29] jchungvz commented on #11291
Just to note, I was able to do a clean install of MatterMost 5.12 on a sandbox virtual machine, and it seems to verify the same issue with the youtube video previews not displaying (with the animated gifs displaying however).

Sandbox virtual machine setup:
MatterMost 5.12 on a CentOS 7 machine - with latest yum package updates.
MySQL 5.7.26

No special configuration setup - local authentication,

[2019-06-20 21:37] #11301 closed

[2019-06-20 22:21] #10169 closed

[2019-06-20 23:15] amyblais commented on #11326
Hi @mcp11, thank you for the report. Would you be open to posting this issue on our docker repo and our docker maintainers will take a look: https://github.com/mattermost/mattermost-docker/issues?

[2019-06-20 23:27] amyblais commented on #11291
Is any of you using image proxy?

[2019-06-20 23:47] gupsho commented on #11297
I can take this.

[2019-06-21 03:30] harshilsharma63 opened #11329 "Dont notify bots to be added in channel on mentioning"
Currently when we mention a bot account in a channel, an ephemeral message is posted by Mattermost asking the bot to be added in the channel. I don't think this is required for bot accounts as they can interact with a channel without being a member in it.

This is an unnecessary notification and bothers each user, each time they mention a bot.

I propose removing this message for bot accounts.

[2019-06-21 03:46] hotlong commented on #11326
I'm testing v5.12 on my Mac make from source, got the same error.
[code]

[2019-06-21 05:09] gupsho commented on #11296
I can take this.

[2019-06-21 06:23] #10433 closed

[2019-06-21 06:32] #11170 closed

[2019-06-21 07:34] mcp11 commented on #11326
Hi @amyblais, I created an issue on your docker repo: https://github.com/mattermost/mattermost-docker/issues/398
Should I delete the issue here?

[2019-06-21 07:40] manland commented on #11288
So after 2 * 3 hours on this problem I think it's not possible 1/5 :sweat:

This is what i understand :

Client --HTTP (ws)--> MM --GRPC--> Plugin

When MM give the request to the plugin it build a new request for the Plugin.

And it's trivial to implement `Hijack` on the `httpResponseWriterRPCServer` struct but impossible on the `httpResponseWriterRPCClient` 0/5.

Even if we add `Hijack` on `http

[2019-06-21 08:42] #11306 closed

[2019-06-21 08:49] acidicX commented on #11291
Same here, with link preview disabled. Using the "local" setting of image proxy.

GIF preview worked before 5.12, deployed with the Docker setup.

[2019-06-21 09:19] lurcio commented on #11298
I can take this one!

[2019-06-21 11:19] #11299 closed

[2019-06-21 12:26] krjn commented on #11296
Taking this one.

[2019-06-21 12:29] amyblais commented on #11291
Hey all, please take a look at the tips in the special note on this section of our docs: https://docs.mattermost.com/administration/image-proxy.html#local-image-proxy.

[2019-06-21 12:40] acidicX commented on #11291
@amyblais I configured all IPs that I know of, but I'm not sure about Dockers internal IP resolution. I'm using nginx as a reverse proxy before handing over to Mattermost (on the same machine). Is there a way to see which requests are being blocked/not whitelisted?

[2019-06-21 12:40] hanzei commented on #11296
Thanks @krjn :+1:

[2019-06-21 13:22] Siddharth-Ashri commented on #11264
I'll take this one. Ive been learning react and would love to contribute to Open-Source project like this.

[2019-06-21 13:29] hanzei commented on #11264
Hey @Siddharth-Ashri,

Thanks for taking a shot on this issue. Feel free to join the [Mattermost Community Server](https://community.mattermost.com) and ask any questions you have there.

[2019-06-21 13:38] amyblais commented on #11326
Hi all, would you be open to sharing your config settings related to SMTP?

[2019-06-21 14:11] esethna opened #11334 "Migrate "Status.GetAllFromTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:11] esethna opened #11335 "Migrate "Status.GetOnline" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:11] esethna opened #11336 "Migrate "LinkMetadata.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:11] esethna opened #11337 "Migrate "LinkMetadata.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:11] esethna opened #11338 "Migrate "Status.UpdateLastActivityAt" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11339 "Migrate "Status.GetTotalActiveUsersCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11340 "Migrate "Status.ResetAll" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11341 "Migrate "Status.GetOnlineAway" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11342 "Migrate "Status.Get" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11343 "Migrate "Status.GetByIds" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11344 "Migrate "Status.SaveOrUpdate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11345 "Migrate "Token.RemoveAllTokensByType" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11346 "Migrate "Token.GetByToken" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11347 "Migrate "Token.Delete" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:12] esethna opened #11348 "Migrate "Token.Save" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 14:41] krjn commented on #4300
I'm not sure of licensing implications, but wouldn't ImageMagick handle most of the cases (docx, xlsx, pdf, odt, others) ? Also, there seems to be available a build of IM to WASM, which could perhaps do the work client-side (lazily loaded). I briefly tested on the command line and IM was able to generate previews of first-pages for docx and xlsx. It seems to use a filter to convert to PDF first.

[2019-06-21 14:49] #11300 closed

[2019-06-21 14:55] #11296 closed

[2019-06-21 14:55] saturninoabril commented on #11296
Thank you @krjn!

[2019-06-21 14:58] krjn commented on #11348
Taking this one.

[2019-06-21 15:12] goku321 commented on #11347
Want to pick this one up.

[2019-06-21 15:40] amyblais commented on #10947
We have a Jira epic open here to investigate various issues related to searching: https://mattermost.atlassian.net/browse/MM-5466.

[2019-06-21 15:46] rvillablanca commented on #11335
Working on this

[2019-06-21 16:15] krjn commented on #4300
New considerations born out of talking with @crspeller

ImageMagick could be used as a sub-process through the `convert` command. I believe linking would only be desired if done statically, and that would complicate the build process quite a bit. I imagine hiding this behind a feature flag to not be desirable.

As conversion can be somewhat costly, the work could be queued. I don't know if there a

[2019-06-21 16:15] jchungvz commented on #11291
I was able to reproduce the youtube preview issue on a Centos 7 sandbox and on our MatterMost Dev on Red Hat 7 with MatterMost 5.12 without using the image proxy. I did try turning it on to see if there was any difference, but there wasn't. I've since turned it back off. No nginx, no docker installed on the centos 7 sandbox. Just Centos 7, mattermost 5.12 and mysql 5.7.26

The configuration file f

[2019-06-21 16:22] jespino commented on #11347
Sure, go ahead! Thanks @goku321! :tada:

[2019-06-21 16:27] esethna opened #11352 "Support relative links in interactive message buttons"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-21 17:06] pichouk commented on #11326
(I'm answering on this issue because there are more people here)

It seems that you cannot reach at all the SMTP server, can you provide your SMTP configure (**with obfuscated credentials** of course) please ?

[2019-06-21 17:14] cpanato commented on #11326
Can you post also this part of the settings of the config.json?

The emailsettings part

Thanks

[2019-06-21 18:24] shermdog commented on #11079
The git blame shows this issue was introduced in MM-15542  #10859

[2019-06-21 18:42] krjn commented on #11346
Taking this one.

[2019-06-21 19:06] hanzei commented on #9958
@jasonblais What is that status of this one? Given that the plugin has been added to the integrations directory: Can this be closed?

[2019-06-21 19:24] jasonblais commented on #9958
It can be closed, thanks!

[2019-06-21 19:24] #9958 closed

[2019-06-21 19:24] jasonblais commented on #9958
And thanks @waseem18 for the contribution :tada:

[2019-06-21 22:06] amyblais commented on #11310
Hi @maruTA-bis5, are there any other config settings or additional repro steps that could help me reproduce this?

[2019-06-21 22:08] amyblais commented on #11291
Hi all, also, what is this setting set to on your servers: https://docs.mattermost.com/administration/config-settings.html#allow-untrusted-internal-connections-to?

[2019-06-21 22:20] #11346 closed

[2019-06-21 22:23] amyblais commented on #11329
@harshilsharma, for some reason I wasn't able to reproduce this just now, do you have any additional repro steps to help me reproduce this?

[2019-06-21 23:02] ollykel commented on #11345
I can take this one

[2019-06-22 03:23] lpadgett commented on #11342
I'll work on this!

[2019-06-22 04:59] #10286 closed

[2019-06-22 07:41] #11292 closed

[2019-06-22 07:46] ShalokShalom commented on #11268
I have tried to reproduce and cant do it.

[2019-06-22 07:51] jespino commented on #11345
Thanks @ollykel! 🎉

[2019-06-22 07:52] jespino commented on #11342
Great @lpadgett, thanks! 🎉

[2019-06-22 11:00] catastrop opened #11357 "request: Is it possible to use Preact instead of React ?"
https://github.com/preactjs/preact

[2019-06-22 14:50] Sheshagiri commented on #11344
@jespino I added the following new function to avoid duplicating the code that does err check
[code]
along the lines of
[code]

[2019-06-22 19:17] slimandslam opened #11360 "One-Line Docker Install Fails"
Summary:  Single Line Docker Install (docker run --name mattermost-preview -d --publish 8065:8065 mattermost/mattermost-preview) starts and exits for no obvious reason.

Steps to reproduce:
MacOSX 10.14.5
Docker Desktop for MacOSX 2.0.0.3

Expected behavior:  Mattermost container should be running
Observed behavior: Mattermost container exits almost immediately after startup

CONTAINER LOG:
[code]

[2019-06-22 19:33] slimandslam commented on #11360
Moved to preview repo....

[2019-06-22 19:33] #11360 closed

[2019-06-22 20:09] Tragen commented on #9283
I would love to see it included.

[2019-06-22 22:58] Jonany commented on #10676
@saturninoabril The file is currently `cypress/integrations/onboarding/multi_team/no_status_on_system_message_spec.js`. Should I change it to something like `cypress/integrations/multi_team/system_message_spec.js`?

[2019-06-23 02:17] tarikeshaq commented on #11334
First timer here! can I take this?

[2019-06-23 09:41] jespino commented on #11344
@Sheshagiri I understand your approach, but is not the one we are following, as far as we simplified the interface no we can relay on testify assertions, so something like the previous:

`store.Must(store.User().GetAll())`, now is converted to something like:

[code]

[2019-06-23 10:59] Sheshagiri commented on #11344
@jespino makes sense. I made the changes accordingly :)

[2019-06-23 13:13] jespino commented on #11334
@tarikeshaq Sure! :tada:

[2019-06-23 15:42] catastrop commented on #11357
please consider this

[2019-06-23 17:22] goku321 commented on #11341
Want to take this one.

[2019-06-23 17:34] goku321 commented on #10460
Can I take this one up?

[2019-06-23 18:36] hanzei commented on #10460
Sure. Thanks for working on this @goku321 :tada:

[2019-06-23 18:37] hanzei commented on #10465
Hey @sdcaulley,

How is your work on this going? Do you still have questions?

[2019-06-23 18:37] hanzei commented on #11053
Hey @bolariin,

How are you doing with this ticket? Do you have questions?

[2019-06-23 18:40] hanzei commented on #10386
Fixed with https://github.com/mattermost/mattermost-server/pull/10781

[2019-06-23 18:40] #10386 closed

[2019-06-23 18:42] hanzei commented on #10583
Making this one available for the public again due to inactivity.

[2019-06-23 18:42] hanzei commented on #10958
Making this one available for the public again due to inactivity.

[2019-06-23 21:04] bolariin commented on #11053
@hanzei Yeah I have some questions. I had asked the question in the contributors channel but I think it got lost in the contributor channel. I was having issues using the API to create the dialog.

I initially used Postman to create the dialog and was told that I need the `trigger_id` and I can only get the `trigger_id` by using the URL for the slash command. I setup a python server just to listen

[2019-06-23 22:25] jasonblais commented on #4300
@chetanyakan I'm wondering if you'd be open to sharing the approach you took to implement a preview plugin? Would be interesting to see how that compares against the above proposal from @krjn

[2019-06-23 22:53] maruTA-bis5 commented on #11310
I try repro in fresh environment and these steps are reproducable.
1. Download mattermost-team-5.12.0-linux-amd64.tar.gz and extract it.
2. Set these configurations from System Console
    1. SMTP server & port
    2. Enable Email Notifications to `true`
    3. Enable Bot Account Creation to `true`
3. Go to Integrations > Bot Accounts backstage
4. Add Bot Account to create new bot account
    - Th

[2019-06-24 01:02] clarfon opened #11366 "Emoji doesn't include gender-neutral variants"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

#### Summary
Emoji require usage of gender variants and does not allow gender-neut

[2019-06-24 03:57] JtheBAB commented on #9283
@Tragen

https://integrations.mattermost.com/?s=Remind%20Plugin

[2019-06-24 05:33] hanzei commented on #11053
Instead of helping with resolving your issue, may I suggest to use the `/dialog` command of https://github.com/mattermost/mattermost-plugin-demo instead? You have to compile the plugin by yourself, but this is very easy.

A short idea to fix your original problem: Would you please make sure the content of `AllowedUntrustedInternalConnections` is `localhost 127.0.0.1`? Please keep in mind that chan

[2019-06-24 06:05] jk2K opened #11370 "make package reported error `tar: Option --wildcards is not supported` on macOS 10.14.5"
#### Summary
`make package` not work, get error `tar: Option --wildcards is not supported`

#### Steps to reproduce
[code]

#### Expected behavior
generate package, no error

#### Observed behavior (that appears unintentional)
package did generated, but get error,

#### Possible fixes
https://superuser.com/questions/318809/linux-os-x-tar-incompatibility-tarballs-created-on-os-x-give-errors-when-un

[2019-06-24 06:41] amoury commented on #11264
I would love to contribute to this one...is it done already?

[2019-06-24 06:57] acidicX commented on #11291
@amyblais I've set it to `<public-hostname> 127.0.0.1 <public-ip> fe80::/0`

However: Image proxy does not seem to be the issue, I turned it off and it still did not work. I set `Enable Link Previews:` to `true` and now gif preview works again. Not sure why I have to enable this though, as it is no website preview but an image link? It seems that behaviour changed with `v5.12`?

Haven't found anyt

[2019-06-24 07:26] jespino commented on #11341
Great @goku321! ✨

[2019-06-24 08:02] #11335 closed

[2019-06-24 09:36] SezalAgrawal commented on #11340
Want to take this one.

[2019-06-24 10:03] #11344 closed

[2019-06-24 10:04] jespino commented on #11340
@SezalAgrawal Awesome, go ahead :+1:

[2019-06-24 10:44] Siddharth-Ashri commented on #11264
Do I have to setup both the web app and the server?

[2019-06-24 10:57] LocalHeroPro opened #11371 "Update Email"
Can't update user email with build in option in dropdown on Users list on System Console. After try update email I can see status 400 error code in console log.

[2019-06-24 12:01] amyblais commented on #11268
Thank you for letting me know. I'll close this issue for now, but if you see this problem again please re-open this issue and we can investigate further,

[2019-06-24 12:01] #11268 closed

[2019-06-24 12:28] krjn commented on #4300
It seems to me, after I read the conversation again, that the idea I thought I had is the same as previously proposed, and using https://github.com/thecodingmachine/gotenberg is probably a better idea.

@kaystrobach I could not find any information after briefly searching, either in the docx spec, an actual docx or of general practice of embedding previews in files.

[2019-06-24 12:42] amyblais commented on #11371
Hi @LocalHeroPro,

To give you the best help we can, could you review [this web page](https://docs.mattermost.com/process/support.html#general-questions-for-any-issues) and send us the relevant environment details, logs, config files, etc. so we can diagnose this issue? Thank you,

[2019-06-24 12:45] amyblais commented on #11366
Thanks, appreciate your feedback @clarfon.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we

[2019-06-24 12:45] amyblais commented on #11357
Thanks, appreciate your feedback @catastrop.

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and

[2019-06-24 12:52] chetanyakan commented on #4300
@jasonblais sure.

The solution we have implemented relies on [Gotenberg](https://github.com/thecodingmachine/gotenberg) to convert office documents to PDF.
The gotenberg server is hosted separately from mattermost.

Gotenberg provides a Docker image that can be scaled based on your requirements. The documentation is available [here](https://thecodingmachine.github.io/gotenberg/).

The code for PD

[2019-06-24 13:05] amyblais commented on #11370
Hi @jk2K, Thank you for the report. Did you try the troubleshooting steps on the link you posted, or does this seem to be a bug on Mattermost's side?

[2019-06-24 13:24] amyblais commented on #11291
I was able to reproduce this now, bug ticket: https://mattermost.atlassian.net/browse/MM-16545.

[2019-06-24 13:31] lieut-data commented on #11079
@shermdog, for reference, are you able to post the query planner output on your dataset prior to those changes?

[2019-06-24 13:39] hmhealey commented on #11079
@timconner What version of Mattermost were you on when you first noticed these problems?

The changes linked by @shermdog shouldn't have caused any new problems. That query is a modified version of the one in `getParentPosts` which was used as part of `GetPosts` to do the paging before 5.12.

[2019-06-24 13:43] timconner commented on #11079
Probably first noticed it in 5.0.8. I posted this issue prior to 5.12 being released. I think this query has been slow for quite some time.

[2019-06-24 13:48] saturninoabril commented on #10676
Thanks for asking @Jonany!
Re: folder, sounds good to me the `cypress/integration/multi_team/system_message_spec.js`.

Yup, that's the key difference but I'm seeing that too on my local test server.

[2019-06-24 13:55] lieut-data commented on #11288
Thanks for the investigation, @manland! It sounds like the difficulty is the building of a new request for the plugin each time. I'm not terribly familiar with the flow of websockets, but I'm imagining that when the request gets upgraded, it's saved for reuse as such. Is there a path where we mimic that approach by saving upgraded requests with the plugin context, effectively acting as the gateway

[2019-06-24 14:12] #11297 closed

[2019-06-24 14:17] hanzei commented on #11264
@Siddharth-Ashri Yes, you have. Let me know, if you need further help.

[2019-06-24 14:20] hanzei commented on #11264
@amoury Thanks for your interest in this issue. Currently @Siddharth-Ashri is working on this.

We mark available ticket will the "Up For Grabs" label. With the following query you can find all React ticket that are available: https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+label%3ATech%2FReactJS+label%3A%22Up+For+Grabs%22

[2019-06-24 14:27] jchungvz commented on #11291
Just curious on if anyone else can confirm that enabling the link previews to true resolves the issue with the youtube video previews ? I've tried enabling the feature on my MatterMost Dev setup and the youtube videos still do not show. Verified that "Website Link Previews" is also enabled under Account Settings.

Oddly, I've never had an issue with animated gifs - they still appear fine after upg

[2019-06-24 14:31] amyblais commented on #10395
Ticket for tracking: https://mattermost.atlassian.net/browse/MM-16548.

[2019-06-24 15:08] acidicX commented on #11291
@jchungvz YouTube preview works for me with link preview enabled on 5.12 (and local image proxy enabled, not sure if that makes any difference).

[2019-06-24 15:45] towolf commented on #10679
We have the same issue. I change the settings to `0.0.0.0/0`, but that is not a good solution I think.

[2019-06-24 17:01] #11334 closed

[2019-06-24 17:25] #11294 closed

[2019-06-24 18:40] krjn commented on #7718
Working on this.

[2019-06-24 19:06] kevinetienne commented on #11336
Taking this one, please.

[2019-06-24 19:51] hanzei commented on #7718
Thanks @krjn :+1:

[2019-06-24 19:58] LocalHeroPro commented on #11371
Host OS and version: Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-51-generic x86_64)
Mattermost server version: 5.12.0
Browser webapp: everywhere
Desktop App: 4.2.1 on Windows / Linux
Mobile App: don't have System Console
I'm running Mattermost on server, without any wirtualization etc.

[2019-06-24 20:33] shermdog commented on #11079
I don't have empirical evidence from previous versions.  The query was slow before, but does seem to have gotten worse w/ the latest version.

If needed I can probably stand up a test server w/ an older version of the software and our data to compare.

[2019-06-24 20:36] lieut-data commented on #11054
@hanzei, @Azero123 -- I don't think we have a JIRA server available, but I suspect we can safely iterate on this one without. It should be possible to verify the divider being added for new plugins, and a spot check on the JIRA plugin changes should confirm its removal.

Hopefully we'll have a better story for plugin testing like this in the near future.

[2019-06-24 20:36] krjn commented on #7718
PR here: https://github.com/mattermost/mattermost-webapp/pull/3009

[2019-06-24 20:41] hanzei commented on #7718
Wow, that was fast :rocket:

[2019-06-24 20:41] alxsah commented on #11339
I can pick this up

[2019-06-24 20:44] hanzei commented on #11336
Thanks @kevinetienne :+1:

[2019-06-24 20:47] hanzei commented on #11339
Sure. Thanks for working on this @alxsah :+1:

[2019-06-24 20:49] krjn commented on #7718
Ah, I started it before, and forgot to claim the issue after I was sure on a way forward.

One thing I'd have liked to do is clear the unread status of the channel in the following case:

  Message received on the thread on #B
  Unread status is applied on #B, because MM was unfocused
  Now, when MM receives focus, on #A, but with the thread on #B on the RHS, _if the only_ messages sent to #B were

[2019-06-24 21:14] chumbalum commented on #11291
I can confirm this bug. I noticed the following behaviour:
If the setting "Enable Link Previews" is set to true, all **new posted** gifs will get a preview whereas already existing posts don't (we don't use image proxy, if that matters). With browser developer tools opened (with disabled cache) and a page refresh, all gifs will get a preview if "Enable Link Previews" was set to true.

Without "Ena

[2019-06-24 21:25] #11305 closed

[2019-06-24 21:26] mjthomp95 commented on #11338
I can do this one.

[2019-06-24 21:27] esethna opened #11377 "Migrate "User.GetChannelGroupUsers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11378 "Migrate "User.GetTeamGroupUsers" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11379 "Migrate "User.GetAllAfter" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11380 "Migrate "User.InferSystemInstallDate" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11381 "Migrate "User.ClearAllCustomRoleAssignments" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11382 "Migrate "User.GetEtagForProfilesNotInTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11383 "Migrate "User.GetProfilesNotInTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:27] esethna opened #11384 "Migrate "User.AnalyticsGetSystemAdminCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11385 "Migrate "User.AnalyticsGetInactiveUsersCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11386 "Migrate "User.SearchWithoutTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11387 "Migrate "User.SearchNotInChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11388 "Migrate "User.SearchInChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11389 "Migrate "User.Search" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11390 "Migrate "User.SearchNotInTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11391 "Migrate "User.GetNewUsersForTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11392 "Migrate "User.GetRecentlyActiveUsersForTeam" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11393 "Migrate "User.GetAnyUnreadPostCountForChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11394 "Migrate "User.GetUnreadCountForChannel" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11395 "Migrate "User.GetUnreadCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:28] esethna opened #11396 "Migrate "User.AnalyticsActiveCount" to Sync by default"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-24 21:53] hanzei commented on #11338
Great, thanks @mjthomp95

[2019-06-24 21:54] hanzei commented on #7718
@esethna :point_up:

[2019-06-24 22:13] amyblais commented on #11371
@LocalHeroPro, Thank you for that information, would you also be open to posting your full Mattermost logs from the time when this issue occurs? I tried to reproduce this just now and wasn't able to.

[2019-06-24 23:02] amyblais commented on #10525
Closing as the above ticket was closed as "invalid",

[2019-06-24 23:02] #10525 closed

[2019-06-24 23:05] amyblais commented on #10555
Hi @harshilsharma63, would you be open to sharing this idea on our feature request forum here: https://mattermost.uservoice.com/forums/306457-general?

[2019-06-24 23:10] adzimzf commented on #11396
Hi, I'll take care of this one

[2019-06-24 23:33] jchungvz commented on #11291
Thank you. It appears that the link previews (and possibly the local image proxy) would result in the mattermost server sending out the request to generate and gather the preview image or other metadata of the website. For anyone in an environment that utilizes proxies to access the external internet, the following steps are also required in the current workaround:

- Specify the proxy URL in  `/e

[2019-06-25 05:09] hanzei commented on #11396
Thanks @adzimzf :tada:

[2019-06-25 07:58] LocalHeroPro commented on #11371
That action don't save any log in log file.

[2019-06-25 09:14] manland commented on #11288
IMHO we can :

Web --WS--> MM --GRPC hook--> Plugin

For example if a plugin has a `WsHook`, MM server upgrade request for plugin (or ask to plugin if it accept the ws request). And then every time a message come in WS it's dispatched to plugin by grpc and send back to WebSocket.

If Mattermost is ok with that feature, I will give it a try ;) Can you share the question and the potential implementa

[2019-06-25 10:02] jesperhansen17 commented on #10958
Can I give this one a try?

[2019-06-25 10:03] jesperhansen17 commented on #11395
Can I give this one a try?

[2019-06-25 10:13] #11216 closed

[2019-06-25 11:45] alxsah commented on #11391
I can pick this up :)

[2019-06-25 12:13] kevinetienne commented on #11337
I'll pick this one, please.

[2019-06-25 12:35] amyblais commented on #11371
@LocalHeroPro Can you help post the 400 error code you see in console log? Also, what do you see happen on the user interface when the email fails to update?

[2019-06-25 13:00] dvarelap commented on #11394
I can take this.

[2019-06-25 13:14] #11260 closed

[2019-06-25 14:02] jespino commented on #11395
Sure, Thanks @jesperhansen17! :dancer:

[2019-06-25 14:02] jespino commented on #11394
Awesome, Thanks @dvarelap! :tada:

[2019-06-25 14:03] jespino commented on #11391
Awesome @alxsah! Thanks! :sparkles:

[2019-06-25 14:12] tekminewe commented on #11262
hi @esethna @hanzei i think i can help on this issue

[2019-06-25 14:41] krjn commented on #11194
Working on this one.

[2019-06-25 14:43] hmhealey commented on #11079
This is fine. I just wanted to confirm that there isn't a new issue and that those new changes didn't introduce the problem.

[2019-06-25 14:54] amyblais commented on #11310
This was fixed with this ticket for v5.14: https://mattermost.atlassian.net/browse/MM-15777.

[2019-06-25 15:49] sdcaulley commented on #10465
Hi @hanzei
Going it slow. This application is different enough from ones I have worked on in the past that it is taking me some time to trace through the various connections, and see how things work.

No questions at the moment.

[2019-06-25 15:49] catastrop commented on #11357
@amyblais, i have posted the idea

[2019-06-25 15:53] esethna opened #11404 "Removing a link preview on web app doesn't remove it on mobile app"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-25 15:59] esethna commented on #10193
@albertoestarrona how is this going? Are you still working on this ticket?

[2019-06-25 16:34] #11339 closed

[2019-06-25 19:01] imisshtml commented on #11404
https://www.apollographql.com/docs/react/advanced/caching/#inmemorycache

[2019-06-25 19:45] lieut-data commented on #11079
Thanks for confirming, @shermdog -- this is indeed a known slow area of the product. The medium-term plan is to load the RHS posts on demand instead of with centre channel posts, which should dramatically speed up this entire experience.

[2019-06-25 19:55] hanzei commented on #6123
@esethna Gentle reminder about this

[2019-06-25 20:00] lieut-data commented on #11288
Agreed that this is a non-trivial undertaking. Let me raise it with the team for discussion as you suggest.

[2019-06-25 20:11] hanzei commented on #10328
@lieut-data I'm not sure what the next steps on this issue are. Can you help clarify this?

[2019-06-25 20:16] hanzei commented on #10958
Sure. Thanks @jesperhansen17 :+1:

[2019-06-25 20:16] hanzei commented on #11337
Thanks @kevinetienne :tada:

[2019-06-25 20:18] hanzei commented on #11194
Awesome, thanks @krjn :rocket:

[2019-06-25 20:22] hanzei commented on #9541
Just want to check if you have any questions @renilJoseph so far.

[2019-06-25 20:48] alxsah commented on #11393
Hi, I can take this one

[2019-06-25 21:09] LocalHeroPro commented on #11371
In private channel with official support maybe yes. In log file we have sensitive data!
In addition of that I send screenshot when I try change my own password.
![2019-06-25](https://user-images.githubusercontent.com/42643563/60133292-6b74ff00-979d-11e9-9e5a-501f74a48518.png)
That bug occur when I try change my own password,
When I try change password for other members - by clicking ENTER or RESET

[2019-06-25 22:02] kongr45gpen commented on #11371
I am experiencing exactly the same issue. Updating my e-mail fails with:
`{"id":"api.context.invalid_body_param.app_error","message":"Invalid or missing password in request body","detailed_error":"","request_id":"dghn9qjqwfd4unmnckdtmx7eoa","status_code":400}`
(on Mattermost 5.12.0, hosted on Ubuntu 16.04, on Firefox)

[2019-06-26 02:11] jk2K commented on #11370
It seems that the build scripts has a compatibility issue on Mattermost's side

[2019-06-26 04:16] harshilsharma63 opened #11408 "MMCSRF cookie not created after upgrade until after logging out and logging in"
#### Summary
`MMCSRF` cookie is not created in browsers after upgrade from 5.11 to 5.12 until the user logs out and logs in again.

#### Steps to reproduce
1. Start from and existing installation of Matermost v5.11
1. Login in from any browser (I've tried on Chrome and Firefox).
1. Upgrade Mattermost to v5.12.
1. Run `document.cookie` in browser console. Notice that it only shows the `MMUSERID` co

[2019-06-26 05:49] #11343 closed

[2019-06-26 06:08] goku321 commented on #11390
Want to take this one as well.

[2019-06-26 07:19] #11215 closed

[2019-06-26 07:44] #11261 closed

[2019-06-26 07:50] jespino commented on #11390
All yours! :)

[2019-06-26 08:08] torgeirl commented on #10878
Hi @amyblais, any further development on this issue? 4.10's end of support is now only weeks away (July 15).

[2019-06-26 08:36] alxsah commented on #11389
I can pick this one up

[2019-06-26 09:52] #11218 closed

[2019-06-26 09:57] hanzei commented on #9196
@jasonblais @aaronrothschild Who will take care of reviewing this?

[2019-06-26 09:59] hanzei commented on #10627
Making this one available for the public again due to inactivity.

[2019-06-26 10:09] #11219 closed

[2019-06-26 10:15] #11304 closed

[2019-06-26 10:27] #11092 closed

[2019-06-26 10:36] #11348 closed

[2019-06-26 11:27] jasonblais commented on #9196
Aaron has been assigned as the reviewer. Thanks @scottleedavis for the contribution1

[2019-06-26 11:42] jasonblais commented on #10702
Hey @carmo-evan - I think you may not be working on this issue anymore so I added `Up For Grabs` label back - if you are, let us know! :)

[2019-06-26 11:44] jasonblais commented on #10702
Sorry! I forgot you had PRs submitted 🙏

[2019-06-26 11:48] streamer45 commented on #11377
I'll give this a go

[2019-06-26 12:25] #10777 closed

[2019-06-26 13:12] RajatVaryani commented on #11323
I am analyzing how big the change on the backend it is going to be.

[2019-06-26 13:35] #11391 closed

[2019-06-26 13:36] jespino commented on #11323
If is something that is going to be huge or have a performance implication, probably we should rollback the decision of implementing it in the server side.

[2019-06-26 13:36] #11336 closed

[2019-06-26 13:43] jespino commented on #11377
Great @streamer45! :+1:

[2019-06-26 14:02] amyblais commented on #10878
I'll ask our devs on the status of this. In the meanwhile, would you be able to try upgrading to v5.0 first and then to v5.9? We added upgrade instructions for 4.10 > 5.9: https://docs.mattermost.com/administration/extended-support-release.html#what-are-the-current-supported-esr-versions.

[2019-06-26 14:04] amyblais commented on #11357
Thank you!

[2019-06-26 14:04] #11357 closed

[2019-06-26 14:20] #11225 closed

[2019-06-26 14:21] RajatVaryani commented on #11323
The is going to be impacted because if we archive a channel containing 500 members, we would have to make 500 odd queries to decrement the count. Please correct me if I am wrong. @jespino

[2019-06-26 14:44] #11341 closed

[2019-06-26 14:48] #11395 closed

[2019-06-26 14:51] #11389 closed

[2019-06-26 15:03] alxsah commented on #11388
I can take this one too 😄

[2019-06-26 15:10] hmenzagh commented on #11326
Got the same issue.
The UI does not display the `Connection Security` option.
I had to set `"ConnectionSecurity": "",` to `"ConnectionSecurity": "TLS",` for it to work.

Server version is 5.12

[2019-06-26 15:27] #11393 closed

[2019-06-26 15:34] hanzei commented on #11388
Thanks @alxsah

[2019-06-26 16:01] RajatVaryani commented on #9769
@hanzei I am taking this up!

[2019-06-26 16:02] hanzei commented on #9769
Thanks @RajatVaryani :+1:

[2019-06-26 16:28] amyblais commented on #11326
Hi @hmenzagh, I think your issue is different, I opened a ticket for it here as I was able to reproduce on a team edition server: https://mattermost.atlassian.net/browse/MM-16627.

[2019-06-26 16:42] #11377 closed

[2019-06-26 16:47] #10574 closed

[2019-06-26 16:48] saturninoabril commented on #10574
Thank you @srkgupta!  PR recently merged 🎉

[2019-06-26 17:03] streamer45 commented on #11378
I can take this one

[2019-06-26 17:07] srkgupta commented on #10574
Thanks @saturninoabril

[2019-06-26 17:18] jespino commented on #11323
Yes, It can be very hard in the backend side for highly populated channels. I'm not sure if we want to keep going here. What do you think @sudheerDev?

[2019-06-26 17:19] hanzei commented on #11378
Thansk @streamer45

[2019-06-26 17:31] sudheerDev commented on #11323
The reason why i raised this ticket was primarily because of the regression we caused for couple releases around unreads with archives/deactivated users because this had a separate flow and logic.

This seems stable now and i don't see a reason to do this not atleast when we know this would be a high impact code change.  If we want to consider changing the UX around it that would be great because

[2019-06-26 17:50] rexredinger commented on #11392
I'll give this a shot. :)

[2019-06-26 19:46] #11392 closed

[2019-06-26 21:05] alxsah commented on #11387
I can pick this up also

[2019-06-26 21:16] jespino commented on #11387
Great @alxsah! :rocket:

[2019-06-26 22:24] amyblais commented on #11408
@harshilsharma A response from a dev:

"We decided against that during the implementation since we don't enforce it yet and enforcement will be turned on with v6.0, where it was mentioned that a force logout would be most likely there anyway."

Does this help?

[2019-06-26 22:51] #10862 closed

[2019-06-26 23:52] amyblais commented on #11150
I'll close this issue for now as we haven't received feedback for a while. Please re-open this issue with relevant additional details if the issue persists.

[2019-06-26 23:52] #11150 closed

[2019-06-27 00:15] amyblais commented on #11371
Hi @LocalHeroPro @kongr45gpen Would one of you be open to sharing your config settings related to email settings, including if you have set any restrictions to email domains? Trying to think if this could be a configuration issue.

[2019-06-27 01:11] harshilsharma63 commented on #11408
@amyblais thanks for looking into this.

I issue here is not just the absence of `MMCSRF`  cookie, but rather plugins relying on it to communicate from webapp component to the server component. The HTTP endpoints created in server component of plugin may require logged in Mattermost user. This can be check on plugin side by the presence of `Mattermost-User-Id` HTTP header.

As per [this code](http

[2019-06-27 01:42] RajatVaryani commented on #9769
@wiersgallak @hanzei I have a few questions:

1. For what purpose this cli command is going to be used for?

2. @wiersgallak So we should also have a channel name or id as an argument to the command?

[2019-06-27 04:57] Jonany commented on #10676
@saturninoabril Interesting. My test server is also not displaying the Mattermost logo for the system message. Any idea what might be going on? My branch is up-to-date with Mattermost master.

![mattermost_system_message_screenshot](https://user-images.githubusercontent.com/13025459/60235386-2ddfa700-986d-11e9-9c39-3ab6267b1afb.png)

[2019-06-27 05:53] rexredinger commented on #11383
Picking this one up.

[2019-06-27 06:06] hanzei commented on #11383
Thanks @rexredinger :+1:

[2019-06-27 07:59] #11378 closed

[2019-06-27 08:00] saturninoabril commented on #11378
Thank you @streamer45 for your contribution!  (Closing this issue)

[2019-06-27 09:23] mzaks commented on #11386
I'll take this one

[2019-06-27 09:35] lurcio commented on #11385
I'll grab this one please!

[2019-06-27 09:37] hanzei commented on #11385
Go for it @lurcio

[2019-06-27 11:02] saturninoabril commented on #10676
Hmm, I'm don't know why but it's working fine on me.  I'm also on latest master.

[2019-06-27 11:11] kongr45gpen commented on #11371
These are my email settings. If I could warrant a guess, I'd say that the API believes that a non-admin user is editing their own profile, requesting that the current password is provided, since that's how it is done on the _Account Settings_ page (screenshot below)

![image](https://user-images.githubusercontent.com/720678/60261668-1ba14f80-98e5-11e9-8afc-00b76d445a2d.png)
![image](https://user-i

[2019-06-27 11:14] #11347 closed

[2019-06-27 12:32] esethna opened #11422 "Change the perfectScrollbar to not use the jquery approach (And upgrade to 1.4.0)"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 12:45] grundleborg commented on #11386
Closed by https://github.com/mattermost/mattermost-server/pull/11421

[2019-06-27 12:45] #11386 closed

[2019-06-27 13:55] LocalHeroPro commented on #11371
If I try change email address in System Console i have that window:
![image](https://user-images.githubusercontent.com/42643563/60272193-fd8f1b80-98f3-11e9-8eca-41786f51c043.png)

[2019-06-27 14:11] SezalAgrawal commented on #11384
Want to take this one.

[2019-06-27 14:14] hanzei commented on #11384
Thanks for working on this @SezalAgrawal

[2019-06-27 14:55] bolariin commented on #11053
I kind of have an issue with my mattermost-server. After I deploy the demo plugin, I was able to use the `/dialog` command. On restarting my server, It does not load, on the developer console, it says `To use mattermost, Please enable javascript` but my javascript is enabled.

I followed the instructions from the sample plugin to deploy the plugin.

[2019-06-27 15:56] amyblais commented on #11371
@hanzei / @maruTA-bis5 Wondering if you'd be able to help test if updating a user's email with API has a bug?

[2019-06-27 16:21] goku321 commented on #10460
I need some help on this ticket. I did some code walk-through but couldn't figure out where to add password type. It would be helpful if i can get some starting point.

[2019-06-27 17:22] streamer45 commented on #11352
I can take a stab at this but I definitely need some additional info.
I am new to the codebase so please forgive me if I say something that doesn't make sense or if it's plainly wrong.  I took some time to investigate the issue and have a couple of questions:

- Is this behaviour something that we want only for calls related to plugins?
- Should this be handled by simply checking that the incoming

[2019-06-27 20:12] #11116 closed

[2019-06-27 20:53] esethna opened #11429 "Remove JQuery Dragster dependency"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 21:13] esethna opened #11431 "No warning or error when trying to share long text from share extension"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 21:23] esethna opened #11433 "MacOS Desktop: ⌘+→ and ⌘+← should go back/forward in history"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 21:29] LocalHeroPro opened #11434 "Email notifications and account verification link"
Host OS and version: Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-51-generic x86_64)
Mattermost server version: 5.12.0
Browser webapp: everywhere
Desktop App: 4.2.1 on Windows / Linux
Mobile App: don't have System Console
I'm running Mattermost on server, without any virtualization etc.

1. When I set in Account Settings > Email notifications to Never, I still get notifications.
2. When I set Enable Email

[2019-06-27 21:38] sdcaulley commented on #10465
Ok....I have a question/suggestion.  This issue is for the addition of radio button into the interactive dialog.  There is a file -  /components/admin_console/radio_setting.jsx - that already seems to be doing what this issue is asking for (at least for the web app.  I haven't looked at the mobile app yet.)  It seems to me that the smart thing to do is copy the text_setting.jsx pattern - have the

[2019-06-27 21:43] esethna opened #11435 "Remove the full screen "Refresh" button when opening a team or channel with no cached data when offline"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 21:43] esethna opened #11436 "Add support to RN for emoji not requiring whitespace to render"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo

[2019-06-27 21:43] esethna opened #11437 "Thumbs down sorts before thumbs up in emoji picker on first use"
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/develo