[2020-11-23 16:12] a-c-sreedhar-reddy commented on #12355
@hmhealey

I could have removed the sections from state and memoed it in render. But I did not because it is used in componentDidUpdate.

I could have used getDerivedState from props to compute sections state. But then `sections` would be computed even if one unrelated prop changes eg(`favoriteChannelIds`).
`buildSections` result could not be memoed or it is not possible to know which props have u

[2020-11-23 16:46] #16324 closed

[2020-11-23 16:47] nigelhorne commented on #16324
Closing

[2020-11-23 16:53] esethna commented on #15642
@chrysillala no worries at all, feel free to grab any other [tickets of interest](https://github.com/mattermost/mattermost-server/issues?q=is%3Aopen+is%3Aissue+label%3A%22Up+For+Grabs%22+label%3A%22Area%2FEnd+User+Feature%22)!

[2020-11-23 16:56] esethna commented on #16245
@agnivade may be able to help ^

[2020-11-23 18:45] #16331 closed

[2020-11-23 18:56] a-c-sreedhar-reddy commented on #8546
@jwilander Is this feature implemented. Because I see reducer registry

[2020-11-23 19:10] jwilander commented on #8546
Yes this is an old ticket that we forgot to close. Thanks for pointing it out

[2020-11-23 19:10] #8546 closed

[2020-11-23 19:11] a-c-sreedhar-reddy commented on #8546
haha. I was really excited to implement this.

[2020-11-23 19:22] a-c-sreedhar-reddy commented on #12750
@jespino Does not this feature also deal with the backend?

[2020-11-23 19:45] #13500 closed

[2020-11-23 20:38] jwilander commented on #8546
Sorry about that haha

[2020-11-23 21:42] esethna commented on #16100
Hey @BenCookie95 how's this one going?

[2020-11-24 04:15] #16337 closed

[2020-11-24 04:41] agnivade commented on #16245
Hi @CCCCY096 - Depending on the database you are using, the easiest way to check the schema is to just login to your DB and see the schema for the Channels and ChannelMembers table.

However, here is the place where the tables get created from code:
https://github.com/mattermost/mattermost-server/blob/819b4b8e7ba4681b2e1f1a785bfdd9a47a2d3726/store/sqlstore/channel_store.go#L366-L376

https://githu

[2020-11-24 05:15] #16332 closed

[2020-11-24 05:23] #16335 closed

[2020-11-24 05:23] #16336 closed

[2020-11-24 05:27] agnivade opened #16366 "Change receiver name for (me *AwayProvider) in app/slashcommands/command_away.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *AwayProvider)` in `app/slashcommands/command_away.go`.

Exa

[2020-11-24 05:27] agnivade opened #16367 "Change receiver name for (me *DndProvider) in app/slashcommands/command_dnd.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *DndProvider)` in `app/slashcommands/command_dnd.go`.

Examp

[2020-11-24 05:27] agnivade opened #16368 "Change receiver name for (me *KickProvider) in app/slashcommands/command_remove.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *KickProvider)` in `app/slashcommands/command_remove.go`.

E

[2020-11-24 05:28] agnivade opened #16369 "Change receiver name for (me *InitialLoad) in model/initial_load.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *InitialLoad)` in `model/initial_load.go`.

Example Pull Req

[2020-11-24 05:28] agnivade opened #16370 "Change receiver name for (me *TestHelper) in app/slashcommands/helper_test.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *TestHelper)` in `app/slashcommands/helper_test.go`.

Exampl

[2020-11-24 05:28] agnivade opened #16371 "Change receiver name for (me *RenameProvider) in app/slashcommands/command_channel_rename.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *RenameProvider)` in `app/slashcommands/command*channel*rena

[2020-11-24 05:28] agnivade opened #16372 "Change receiver name for (me *CollapseProvider) in app/slashcommands/command_expand_collapse.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *CollapseProvider)` in `app/slashcommands/command*expand*col

[2020-11-24 05:28] agnivade opened #16373 "Change receiver name for (me *InviteProvider) in app/slashcommands/command_invite.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *InviteProvider)` in `app/slashcommands/command_invite.go`.

[2020-11-24 05:28] agnivade opened #16374 "Change receiver name for (me *JoinProvider) in app/slashcommands/command_join.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *JoinProvider)` in `app/slashcommands/command_join.go`.

Exa

[2020-11-24 05:28] agnivade opened #16375 "Change receiver name for (me *LogoutProvider) in app/slashcommands/command_logout.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *LogoutProvider)` in `app/slashcommands/command_logout.go`.

[2020-11-24 05:39] a-c-sreedhar-reddy commented on #12750
Hi @jespino  I would like to work on this.

So after calling https://github.com/mattermost/mattermost-mobile/blob/master/app/components/post_draft/draft_input/draft_input.js#L165 `createPost` emojis have to be extracted from the string and then call `dispatch` with
[code]
I am able to extract emojis from the string. How can I get the name of the emojis from emoji string? I am stuck here.

[2020-11-24 06:47] haardikdharma10 commented on #16366
Hi @agnivade, I'll give it a go.

[2020-11-24 06:49] haardikdharma10 commented on #16367
This one too:)

[2020-11-24 06:52] haardikdharma10 commented on #16368
@agnivade, As there are a lot of tickets of the same category, can I do them all in a single PR?

[2020-11-24 06:55] agnivade commented on #16368
Since these structs spread out across multiple packages and files, a single PR might get too big to review properly. I also have a couple more issues after this. It might be simpler to keep them small and isolated to a single struct. You are obviously most welcome to send all PRs at once. :)

[2020-11-24 06:58] haardikdharma10 commented on #16368
Sounds good @agnivade, so I'd want to give you a little more trouble here by requesting you to assign me couple more issues as well :)

[2020-11-24 07:06] agnivade commented on #16368
Unfortunately, the GitHub UI is weird in that way because I can only assign issues to someone who is a member of the org, or has commented on the issue.

So just go ahead and comment that you will be working on this. That should be good enough.

[2020-11-24 07:14] haardikdharma10 commented on #16368
Assign this to me:)

[2020-11-24 07:15] haardikdharma10 commented on #16369
Assign this to me:)

[2020-11-24 07:15] haardikdharma10 commented on #16370
Assign this to me:)

[2020-11-24 07:15] haardikdharma10 commented on #16371
Assign this to me:)

[2020-11-24 07:15] haardikdharma10 commented on #16372
Assign this to me:)

[2020-11-24 07:16] haardikdharma10 commented on #16373
Assign this to me:)

[2020-11-24 07:16] haardikdharma10 commented on #16374
Assign this to me:)

[2020-11-24 07:16] haardikdharma10 commented on #16375
Assign this to me:)

[2020-11-24 07:40] reflog commented on #16321
@someone-somenet-org great catch, thank you!

[2020-11-24 07:56] reflog commented on #16321
Tracking https://mattermost.atlassian.net/browse/MM-30917

[2020-11-24 09:00] mattermod opened #16378 "mattermod: Review the cherry-picking logic"
[Mattermod](https://github.com/mattermost/mattermost-mattermod/) is a tool that interacts with the Github events and helps Mattermost in some tasks.

It seems like we are using an overly complicated cherry-picking [script](https://github.com/mattermost/mattermost-mattermod/blob/75ba1b964a7873f409e635e4ad28e821eaa0ad3b/hack%2Fcherry-pick.sh#L1] regarding to our needs. We should simplify the script

[2020-11-24 09:00] mattermod opened #16379 "mattermod: review checkIssueForChanges method for server"
[Mattermod](https://github.com/mattermost/mattermost-mattermod/) is a tool that interacts with the Github events and helps Mattermost in some tasks.

Currently we are both saving an issue and checking the changes in this method ([checkIssueForChanges](https://github.com/mattermost/mattermost-mattermod/blob/11905e879106c982f1f8d98f66bc5722b33ee2a4/server%2Fissue_handler.go#L57)) of the server. We s

[2020-11-24 09:00] AswaniGajraj opened #16380 "while integrating the outlook calendar, its not showing the calendar in the dropdown"
#### Summary
while integrating the outlook calendar, it's not showing the calendar in the dropdown

#### Steps to reproduce
1. Connect outlook calendar.
2. Enter the credentials
3. In the next screen the dropdown is coming blank. but selecting the blank value is working.

#### Expected behavior
It should show the calendar name

[2020-11-24 09:04] AswaniGajraj opened #16381 "In the calendar setting. Not able to select the available start time as 9:30 am"
#### Summary
In the calendar setting. Not able to select the available start time as 9:30 am

#### Steps to reproduce
1. Integrate calendar
2. Try to set the available start time to 9:30 am

#### Expected behavior
user should be able to set the available start time to 9:30 am

#### Observed behavior (that appears unintentional)
user not able to set the available start time to 9:30 am

[2020-11-24 09:07] a-c-sreedhar-reddy commented on #12750
cc @enahum

[2020-11-24 09:10] shFrank commented on #16242
Hi,
I'm trying to set up my web app but encountered some issues. Currently, I cannot pass the make test nor do make run.
Below are my terminal result, my node and npm versions, and error log. I checked the documentation at https://developers.mattermost.com/contribute/webapp/unit-testing/#4-getting-jest-assertion-failures-at-lines-containing-expect-tobecalledwith-expect-tohavebeennthcalledwith-or-e

[2020-11-24 09:20] shFrank commented on #16242
Hi,
I'm trying to set up my web app but encountered some issues. Currently, I cannot pass the make test nor do make run.

Below are my terminal result, my node and npm versions, and the error log.

![Screen Shot 2020-11-24 at 5 19 18 PM](https://user-images.githubusercontent.com/45113795/100074106-4ea09780-2e79-11eb-94c4-f64fa74fc769.png)
![Screen Shot 2020-11-24 at 5 19 34 PM](https://user-images

[2020-11-24 12:43] itwasonlyabug commented on #16275
So, after some testing:
After logging out the users out of all of their sessions the issue remains - every morning they are forced to login into Mattermost and after they do, they become active again.

As for the DEBUG logging, I enabled it but the file rotates at 100MB, and I found it next to impossible to get any useful information out of it. The only messages I see that might be useful are:

-

[2020-11-24 13:00] mattermod opened #16394 "Propagate message edits to broadcasted status update"
The [Incident Management plugin](https://github.com/mattermost/mattermost-plugin-incident-management) has a feature to broadcast incident's status updates to other channels, implemented in [https://github.com/mattermost/mattermost-plugin-incident-management/pull/381](https://github.com/mattermost/mattermost-plugin-incident-management/pull/381|smart-link) . Right now, the broadcasted message is dis

[2020-11-24 13:55] amyblais commented on #16380
@AswaniGajraj Is this https://github.com/mattermost/mattermost-plugin-mscalendar the plugin are you using? Would you be open to re-opening these issues in that plugin's Github repository (if there is an availability to open issues there)?

[2020-11-24 14:08] agnivade commented on #16284
@CandyZack - Would you be interested in taking this one?

[2020-11-24 14:45] #16328 closed

[2020-11-24 15:45] #16333 closed

[2020-11-24 15:55] #16151 closed

[2020-11-24 16:26] BenCookie95 commented on #16100
PR is up. It has dev approval and I gave it a quick test on the dev server yesterday too. I'll solve the conflicts later this evening

[2020-11-24 18:22] amyblais commented on #16356
This was actually fixed in v5.28.

[2020-11-24 18:22] #16356 closed

[2020-11-24 18:29] agusl88 commented on #16206
I manage to reproduce the problem again.

1 - Create a secondary team
2 - Added one other person to it
3 - At this point we started sending messages to the channel, doing @ mentions, sending direct messages, switching back and forth in the UI beetwen teams, and renaming the channel several times.

After a few tries, the other user i added in step 2 got a stuck notification, i didn't. Sorry i can't

[2020-11-24 18:37] haardikdharma10 commented on #16379
I'd like to give this one a shot. I assume removing [this part](https://github.com/mattermost/mattermost-mattermod/blob/11905e879106c982f1f8d98f66bc5722b33ee2a4/server%2Fissue_handler.go#L63-L68) from the function is all we would like to do here?

[2020-11-24 19:15] mattermod opened #16399 "Incident's start time in backstage does not show the year"
In the [Incident Collaboration plugin](https://github.com/mattermost/mattermost-plugin-incident-management), let's add the year to the start time in the backstage incident list if it's different from the current one.

This is not only problematic for incidents that last more than a year, but also when a new year comes and there are still incidents from last year. For example, this incident will st

[2020-11-24 19:15] mattermod opened #16400 "Change the text of the ephemeral message from "You can only show..." to "You can only see...""
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

Today, running `/incident info` from within a non-incident channel shows the following message:

```You can only show the details of an incident from within the incident's channel.```

Let’s change this to:

```You can only see the details of an incident from within the incide

[2020-11-24 19:15] mattermod opened #16401 "Incident should be immutable for archived channels"
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

Once an incident channel is archived, consider the corresponding incident metadata in the RHS to be immutable (just like you can't post in the channel anymore).

Let’s start checking if a channel is archived across the REST API for incident response, and rejecting with an erro

[2020-11-24 19:15] mattermod opened #16402 "Escape key should progressively back out of the backstage"
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

Hitting the escape key in the backstage should have the following semantics:

  * if on a list view (incidents or playbooks), the user is unconditionally sent back to the main chat interface
  * if on an incident details view, the user is sent backwards to the incident list vi

[2020-11-24 19:15] mattermod opened #16403 "Open RHS with incident list when issuing /incident list from webapp"
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

Right now, the slash command `/incident list` behaves equally in mobile and webapp: it posts an ephemeral message with a list of the 10 most recent ongoing incidents that the user is part of.

We need to change the behaviour when the command is issued from the webapp: in that

[2020-11-24 19:15] mattermod opened #16404 "Show assignee profile photo"
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

When there is no assignee for a task in an incident, show an empty profile photo. When there is an assignee, show their profile photo:

![image](https://user-images.githubusercontent.com/1023171/100142273-029a2680-2e6a-11eb-963a-ff7bf172db1d.png)

----
If you're interested ple

[2020-11-24 19:15] mattermod opened #16405 "Suppress stage drag handle / deletion icon when hovering over step"
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

When hovering over a step in a playbook in the incident management backstage, the drag handle and deletion icons for both the step and its containing stage are shown:

![image](https://user-images.githubusercontent.com/1023171/100142403-337a5b80-2e6a-11eb-92a0-e49d232d8278.png

[2020-11-25 03:50] CandyZack commented on #16284
@agnivade Sure. I will give it a try! Assign me this issue.

[2020-11-25 06:15] #16366 closed

[2020-11-25 10:33] haardikdharma10 commented on #16400
Hey @lieut-data, I'd like to grab this one. Can you help me on which files are involved so that I can go ahead and make the change? :)

[2020-11-25 12:45] #16144 closed

[2020-11-25 14:03] lieut-data commented on #16400
Thanks, @haardikdharma10 -- looks like you found the code in question. I'll get the team to respond on your PR :)

[2020-11-25 14:55] jp0707 commented on #15287
This mac bug is fixed in https://github.com/mattermost/mattermost-webapp/pull/7125

[2020-11-25 17:55] a-c-sreedhar-reddy commented on #14101
@enahum  Does this issue still exists? Because when I tried it on android the textinput has some max height.

[2020-11-25 18:04] a-c-sreedhar-reddy commented on #14157
Hi @esethna. Can I work on this?

[2020-11-25 19:40] amyblais commented on #16379
@isacikgoz ^

[2020-11-25 20:13] enahum commented on #14101
@a-c-sreedhar-reddy if you cannot reproduce it may have been fixed with some other work that went in. I'l close it

[2020-11-25 20:13] #14101 closed

[2020-11-25 20:31] esethna commented on #14157
@a-c-sreedhar-reddy, actually I think @pradeepmurugesan was going to take this one. @pradeepmurugesan can you confirm if you're working on this?

[2020-11-25 21:46] a-c-sreedhar-reddy commented on #14478
@enahum We cannot use image picker library to achieve this right? To achieve this one has to write the native code to read images right?

[2020-11-25 21:59] enahum commented on #14478
@a-c-sreedhar-reddy you could potentially use the  camera roll https://github.com/react-native-cameraroll/react-native-cameraroll

[2020-11-25 22:02] a-c-sreedhar-reddy commented on #14478
@enahum cool can I try this?

[2020-11-25 22:02] enahum commented on #14478
@a-c-sreedhar-reddy sure thing

[2020-11-26 00:15] msal4 commented on #16138
I'd like to take this one

[2020-11-26 07:13] ashishbhate commented on #15471
Reassigning to @Ayanrocks. The PR above has been stale for a while and this issue is blocking other PRs.

[2020-11-26 07:18] Ayanrocks commented on #15471
I can do it

[2020-11-26 14:20] gleke commented on #15233
Hi @amyblais, any updates for this?

[2020-11-26 14:23] gleke commented on #15233
Hi @tru2dagame,my qq:237401117,Hope to have a chance to communicate with you

[2020-11-26 14:37] amyblais commented on #15233
The ticket https://mattermost.atlassian.net/browse/MM-25554 is in one of our dev team's queue but not scheduled for a release yet.

[2020-11-26 17:29] agnivade opened #16416 "Remove model.AppError from searchlayer/channel_layer.go"
We are in the process of removing `model.AppError` completely from the `store` package. We have removed it from the `sqlstore` package, but there are still a couple left in some other packages under `store`.

This ticket is about removing `model.AppError` from searchlayer/channel_layer.go

The way to do that would be to use the different error types in store/errors.go if a particular error falls i

[2020-11-26 17:29] agnivade opened #16417 "Remove model.AppError from searchlayer/post_layer.go"
We are in the process of removing `model.AppError` completely from the `store` package. We have removed it from the `sqlstore` package, but there are still a couple left in some other packages under `store`.

This ticket is about removing `model.AppError` from searchlayer/post_layer.go

The way to do that would be to use the different error types in store/errors.go if a particular error falls in t

[2020-11-26 17:30] agnivade opened #16418 "Remove model.AppError from searchlayer/user_layer.go"
We are in the process of removing `model.AppError` completely from the `store` package. We have removed it from the `sqlstore` package, but there are still a couple left in some other packages under `store`.

This ticket is about removing `model.AppError` from searchlayer/user_layer.go

The way to do that would be to use the different error types in store/errors.go if a particular error falls in t

[2020-11-26 17:33] agnivade opened #16419 "Remove model.AppError from store/storetest package"
We are in the process of removing `model.AppError` completely from the `store` package. We have removed it from the `sqlstore` package, but there are still a couple left in some other packages under `store`.

This ticket is about removing `model.AppError` from the storetest package.

These are some remnants remaining from the AppError migration. We need to remove all the `model.AppError` occurence

[2020-11-26 20:16] haardikdharma10 commented on #15634
@amyblais, Hi, Sorry for not being able to stay on top of this. Can you tag someone who can help me out here? I just need more clarity about what url we exactly need to interpolate here?

[2020-11-27 00:45] amyblais commented on #15634
@leipert @grundleborg Perhaps you can help with the question ^

[2020-11-27 07:30] #15926 closed

[2020-11-27 18:49] a-c-sreedhar-reddy commented on #14478
@enahum https://github.com/blazerroadg/react-native-image-video-picker-editor opens a new modal. Should the UI fill the keyboard space or the entire screen?

[2020-11-27 18:51] enahum commented on #14478
@a-c-sreedhar-reddy It should be the keyboard space, basically you'll need to replace the keybord with an image/video picker

[2020-11-27 19:26] a-c-sreedhar-reddy commented on #14478
@enahum how can I know the keyboard height without rendering a keyboard? Any idea?

[2020-11-27 19:40] enahum commented on #14478
You want something like this https://github.com/wix/react-native-keyboard-input although that lib is deprecated

[2020-11-27 19:46] enahum commented on #14478
@a-c-sreedhar-reddy Maybe take a look at https://medium.com/gravitywell-uk/part-1-creating-a-custom-image-keyboard-with-react-native-ec645c84e5d1

[2020-11-27 20:18] a-c-sreedhar-reddy commented on #14478
I thought I could use react-native-ui-lib's component KeyboardAcessoryView.

On Sat, 28 Nov 2020 at 01:16, Elias Nahum <notifications@github.com> wrote:

[2020-11-27 22:45] LocalHeroPro opened #16422 "Deprecated config for nginx"
I use that config: https://docs.mattermost.com/install/config-ssl-http2-nginx.html#configuring-nginx-with-ssl-and-http-2
and after
[code]
I get:
[code]

[2020-11-28 01:04] #16074 closed

[2020-11-28 01:41] enahum commented on #14478
KeyboardAccesoryView is used for something totally different, is to set an element on top of the keyboard and it follows when it opens and closes, we already use it for the textInput...

[2020-11-28 03:20] agnivade commented on #16422
Thanks for catching that @LocalHeroPro ! Would you be open to sending a PR to correct that?

[2020-11-28 11:18] nabilgasri commented on #16238
@amyblais
Thereis no errors on the server side.
I reproduced the bug locally with the mattermost-preview docker image. Here how I did:

1) run mattermost-preview as explained on the documentation

`docker run --name mattermost-preview -d --publish 8065:8065 --add-host dockerhost:127.0.0.1 mattermost/mattermost-preview`

2) create a Team and a webhook channel named test_webhook

3) create an incomi

[2020-11-28 11:29] haardikdharma10 opened #16423 "Change the text of the ephemeral message from "You can only show..." to "You can only see...""
Help contribute to the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management)!

Today, running `/incident commander [@username] `from within a non-incident channel shows the following message:

`You can only show the commander from within the incident's channel.`

Let’s change this to:

`You can only see the commander from within the incident's channel.`

[2020-11-28 11:29] haardikdharma10 commented on #16423
cc: @lieut-data

[2020-11-28 15:46] leipert commented on #15634
@haardikdharma10 I don't know exactly, but looking around, it likely has something to do with the `GitLabSettings`, maybe it is accessible somehow from the sso object?

https://github.com/mattermost/mattermost-server/blob/96f1739f8f9d9a934c815bdf11f06a7e1eaacd09/app/oauth.go#L758-L883

[2020-11-28 21:32] shuang2411 commented on #16403
Hi, I am interested! Can you assign this to me?

[2020-11-29 20:06] isacikgoz commented on #16379
Thanks for taking care of this @haardikdharma10! In addition to that there is another [part](https://github.com/mattermost/mattermost-mattermod/blob/11905e879106c982f1f8d98f66bc5722b33ee2a4/server/issue_handler.go#L91) that we are saving. Both of them should be removed from the function, and should be handled in the call site (depending on the condition).

[2020-11-29 21:16] isacikgoz commented on #16206
Thanks for helping with this @agusl88! It is much appreciated!! However, I'm still unable to reproduce this on `v.5.25.5` and also on `v.19.3`. I will ask for another colleague of mine to see if they can observer this.

[2020-11-30 04:15] #16375 closed

[2020-11-30 08:34] fionnb commented on #7355
Well, apparently that solution did not quite work out as expected ...

[2020-11-30 14:17] kleintim opened #16424 "Don't play Gif automatically; trigger animation when mouse is over instead"
basically this is a copy of:
https://github.com/mattermost/mattermost-server/issues/7355

it really provokes [motion sickness](https://en.wikipedia.org/wiki/Motion_sickness) and needs to be assigned, please!

Using the `/collapse` command is not working but would be a good solution as well as the mouse over idea.

Best regards!
Tim

[2020-11-30 19:02] msal4 commented on #16416
I'll work on this

[2020-12-01 00:28] msal4 commented on #16417
i'd like to work on this one

[2020-12-01 01:08] swaggboi opened #16429 "Youtube Previews not working after upgrade"
#### Summary
Youtube Previews not working after upgrade

#### Steps to reproduce
Paste URL to some YouTube video in a channel

#### Expected behavior
YouTube previews should work

#### Observed behavior (that appears unintentional)
I have recently upgraded from 5.26 to 5.29 (using mattermost/mattermost-docker) and now YouTube previews do not work on either a desktop client (tested macOS, Linux & W

[2020-12-01 02:22] thystra commented on #16206
I have Mattermost MYSQL Version 5.29 and now have stuck notifications as well.  I have several channels in a team (on a server with multiple teams) that continuously appear as unread on the android client and the windows app.  Reading the channels clears the indication, but after a bit it comes back and shows as unread (bold) in the client.  No new messages were posted to the channels in the inter

[2020-12-01 04:45] #16367 closed

[2020-12-01 05:15] #16368 closed

[2020-12-01 06:15] #16369 closed

[2020-12-01 09:57] mgdelacroix commented on #15981
Hi @SezalAgrawal, and apologies for the late response. I think that for the case of config edit we should cover only two cases, the case of a successful config edit and a permissions error.

[2020-12-01 11:42] #12959 closed

[2020-12-01 14:45] #16371 closed

[2020-12-01 15:44] lieut-data commented on #16423
Hi @haardikdharma10! Did you mean to create a clone of the https://github.com/mattermost/mattermost-server/issues/16400 issue?

[2020-12-01 16:42] haardikdharma10 commented on #16423
Haha, no worries. Can I go ahead and fix this?

[2020-12-01 16:55] lieut-data commented on #16423
Yes, please!

[2020-12-01 17:27] #16006 closed

[2020-12-01 17:36] #12348 closed

[2020-12-01 20:08] esethna commented on #16424
@kleintim we have a ticket open for pausing after 6 loops, would this help solve this issue?

[2020-12-01 20:46] arjunagl commented on #15249
@agnivade I have submitted a PR for this, could you please have a look when you get the time

https://github.com/mattermost/mattermost-server/pull/16103

[2020-12-01 22:26] hmhealey commented on #12355
Yeah, that should be fine. I used to be more concerned with avoiding the extra render, but it makes everything much more complicated in cases like this when we're wanting to recalculate a complex value when a certain prop changes. You could theoretically also store the prop in state since that lets you compare with the previous value in `getDerivedStateFromProps`, but that's a lot of extra logic w

[2020-12-01 23:00] mattermod opened #16444 "Mobile: Remove chevron from button row actions that call modals"
After reviewing the Material design and Apple Human Interface guidelines, we have evaluated where some updates should be made to align better with the OS - particularly with the use of chevrons and with table row styles.

### Proposed Solution

**Summary of proposed changes:**

  * iOS updates have already been completed with the new compass icons updates and some of the other that has been done a

[2020-12-02 00:12] amyblais commented on #16429
@swaggboi This Github issue sounds similar and they posted a resolution here: https://github.com/mattermost/mattermost-server/issues/15604#issuecomment-703893820. Could any of the points there help?

[2020-12-02 00:17] swaggboi commented on #16429
@amyblais yes, I saw this one already which is why I ran the `nslookup` and `curl`. For me name resolution works fine and `curl` returns a 200 rather than a 302

[2020-12-02 05:15] #16373 closed

[2020-12-02 06:15] #16374 closed

[2020-12-02 09:34] #15443 closed

[2020-12-02 10:51] SimonSimonB commented on #16418
I'd like to work on this.

Also, am I right that the sentence in the second paragraph contains a typo: this ticket concerns searchlayer/user_layer.go (as specified in the title), not searchlayer/post_layer.go (as specified in the second paragraph)?

[2020-12-02 10:53] #16163 closed

[2020-12-02 13:45] #16400 closed

[2020-12-02 13:46] agnivade commented on #16418
woops, that is right @SimonSimonB ! It is indeed about user_layer.go. I have corrected the body now.

[2020-12-02 14:35] #16140 closed

[2020-12-02 16:07] itwasonlyabug commented on #16275
I sent the logs to ELK so I can provide better output. Here's an example of a USER4 that was **inactive**, logged in and is now shown as **member**:

Another strange behavior with these users after they login:
In the console, i see USER4 as **member**. In my direct messages i see him as **archived** (box icon) , but If i click on the DM, in the chat window I cannot send him messages, but I see him

[2020-12-02 17:51] gittigger commented on #16429
I reported #15604 - I don't think the problem is the upgrade, or the issue I saw on this ticket. These previews now do not work on my setup at all in the same way @swaggboi has reported. I have changed nothing on my setup since that ticket.
@amyblais Has anyone else reported this anywhere?

[2020-12-02 19:54] amyblais commented on #16275
Have you had a chance to take a look at our troubleshooting docs related to websockets https://docs.mattermost.com/install/troubleshooting.html#server-administration?

What are your settings set for https://docs.mattermost.com/administration/config-settings.html#enable-cross-origin-requests-from?

[2020-12-02 20:37] #12350 closed

[2020-12-02 21:00] mattermod opened #16450 "ADA: User Account settings for "Words that trigger mentions" does not read options, jumps straight to text box"
When using keyboard shortcuts to tab to the Account Settings > Notifications > Words that trigger mentions" section, the focus appears to jump to the "Other non-case sensitive words, separated by commas" text entry section, versus starting at the list of checkbox items.

Expected Behaviour:  Start at the top of the list of checkboxes, reading them off as the user tabs through.

----
If you're inte

[2020-12-02 21:59] esethna commented on #15728
Closing this to reopen with an alternate approach

[2020-12-02 21:59] #15728 closed

[2020-12-03 12:32] msal4 commented on #16419
I'll work on this one after all three previous issues are resolved

[2020-12-03 15:07] #16036 closed

[2020-12-03 18:50] hmhealey commented on #16429
The difference between the web/desktop and mobile apps is likely because for the web/desktop apps, the server is responsible for generating those previews while the mobile app generates them itself, but issues with the server requesting previews are usually diagnosed by checking with curl like you already did.

Do any other non-YouTube links generate previews like by posting https://mattermost.com

[2020-12-03 18:55] swaggboi commented on #16429
Yes so far all other links generate previews as expected. Tested with the URL you provided:
![Screen Shot 2020-12-03 at 13 54 10](https://user-images.githubusercontent.com/38310112/101074790-2991e000-356f-11eb-9542-b866b0c37ff6.jpg)

[2020-12-03 22:08] msal4 commented on #16136
i will to work on this

[2020-12-04 04:45] #16330 closed

[2020-12-04 05:15] #16334 closed

[2020-12-04 05:32] agnivade opened #16461 "Change receiver name for (me *MuteProvider) in app/slashcommands/command_mute.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *MuteProvider)` in `app/slashcommands/command_mute.go`.

Exa

[2020-12-04 05:32] agnivade opened #16462 "Change receiver name for (me *ShrugProvider) in app/slashcommands/command_shrug.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *ShrugProvider)` in `app/slashcommands/command_shrug.go`.

E

[2020-12-04 05:32] agnivade opened #16463 "Change receiver name for (me *ClusterInfo) in model/cluster_info.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *ClusterInfo)` in `model/cluster_info.go`.

Example Pull Req

[2020-12-04 05:32] agnivade opened #16464 "Change receiver name for (me *ClusterStats) in model/cluster_stats.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *ClusterStats)` in `model/cluster_stats.go`.

Example Pull R

[2020-12-04 05:32] agnivade opened #16465 "Change receiver name for (me *ClusterDiscoveryService) in app/cluster_discovery.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *ClusterDiscoveryService)` in `app/cluster_discovery.go`.

E

[2020-12-04 05:32] agnivade opened #16466 "Change receiver name for (me *HeaderProvider) in app/slashcommands/command_channel_header.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *HeaderProvider)` in `app/slashcommands/command*channel*head

[2020-12-04 05:32] agnivade opened #16467 "Change receiver name for (me *CodeProvider) in app/slashcommands/command_code.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *CodeProvider)` in `app/slashcommands/command_code.go`.

Exa

[2020-12-04 05:32] agnivade opened #16468 "Change receiver name for (me *groupmsgProvider) in app/slashcommands/command_groupmsg.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *groupmsgProvider)` in `app/slashcommands/command_groupmsg.g

[2020-12-04 05:32] agnivade opened #16469 "Change receiver name for (me *OnlineProvider) in app/slashcommands/command_online.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *OnlineProvider)` in `app/slashcommands/command_online.go`.

[2020-12-04 05:32] agnivade opened #16470 "Change receiver name for (me *ShortcutsProvider) in app/slashcommands/command_shortcuts.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *ShortcutsProvider)` in `app/slashcommands/command_shortcuts

[2020-12-04 05:32] agnivade opened #16471 "Change receiver name for (me *DataRetentionPolicy) in model/data_retention_policy.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *DataRetentionPolicy)` in `model/data*retention*policy.go`.

[2020-12-04 05:32] agnivade opened #16472 "Change receiver name for (me *AnalyticsRow) in model/analytics_row.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *AnalyticsRow)` in `model/analytics_row.go`.

Example Pull R

[2020-12-04 05:32] agnivade opened #16473 "Change receiver name for (me *CompliancePost) in model/compliance_post.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *CompliancePost)` in `model/compliance_post.go`.

Example Pu

[2020-12-04 05:32] agnivade opened #16474 "Change receiver name for (me *MfaSecret) in model/mfa_secret.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *MfaSecret)` in `model/mfa_secret.go`.

Example Pull Request

[2020-12-04 05:32] agnivade opened #16475 "Change receiver name for (me *TestHelper) in api4/apitestlib.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *TestHelper)` in `api4/apitestlib.go`.

Example Pull Request

[2020-12-04 05:32] agnivade opened #16476 "Change receiver name for (me *EchoProvider) in app/slashcommands/command_echo.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *EchoProvider)` in `app/slashcommands/command_echo.go`.

Exa

[2020-12-04 05:32] agnivade opened #16477 "Change receiver name for (me *MeProvider) in app/slashcommands/command_me.go to be more idiomatic"
The Mattermost codebase has a lot of methods with receiver names as `me`. This is a carry-over from other Object Oriented languages and not idiomatic Go as pointed out <here>(https://github.com/golang/go/wiki/CodeReviewComments#receiver-names).

This ticket is about changing the receiver name from `me` to something more suitable for `(me *MeProvider)` in `app/slashcommands/command_me.go`.

Example

[2020-12-04 05:33] haardikdharma10 commented on #16461
Hey @agnivade, can I work on these new issues as well? :)

[2020-12-04 05:36] agnivade commented on #16461
Go for it. :) Just comment on the issues as usual.

[2020-12-04 05:37] haardikdharma10 commented on #16461
Sure thing, assign this to me.

[2020-12-04 05:37] haardikdharma10 commented on #16462
Assign this to me:)

[2020-12-04 05:37] haardikdharma10 commented on #16463
Assign this to me:)

[2020-12-04 05:38] haardikdharma10 commented on #16464
Assign this to me:)

[2020-12-04 05:38] haardikdharma10 commented on #16465
Assign this to me:)

[2020-12-04 05:38] haardikdharma10 commented on #16466
Assign this to me:)

[2020-12-04 05:38] haardikdharma10 commented on #16467
Assign this to me:)

[2020-12-04 05:39] haardikdharma10 commented on #16468
Assign this to me:)

[2020-12-04 05:39] haardikdharma10 commented on #16469
Assign this to me:)

[2020-12-04 05:39] haardikdharma10 commented on #16470
Assign this to me:)

[2020-12-04 05:39] haardikdharma10 commented on #16471
Assign this to me:)

[2020-12-04 05:39] haardikdharma10 commented on #16472
Assign this to me:)

[2020-12-04 05:39] haardikdharma10 commented on #16473
Assign this to me:)

[2020-12-04 05:40] haardikdharma10 commented on #16474
Assign this to me:)

[2020-12-04 05:40] haardikdharma10 commented on #16475
Assign this to me:)

[2020-12-04 05:40] haardikdharma10 commented on #16476
Assign this to me:)

[2020-12-04 05:40] haardikdharma10 commented on #16477
Assign this to me:)

[2020-12-04 06:15] #16372 closed

[2020-12-04 08:01] Zeezee1210 commented on #16394
I'd love to tackle this one.
Would have some questions around the hook/testing. Best asked in contributors channel?

[2020-12-04 13:05] itwasonlyabug commented on #16275
Hi @amyblais, we reviewed the settings of our proxy and they are exactly as recommended here https://docs.mattermost.com/install/install-ubuntu-1604.html#installing-nginx-server

As for the websocket error, from a browser I'm seeing the same as the screenshot on that page - HTTP status 101 for the websocket connection.

For CORS, these are our settings:
[code]

I would like to again emphasize, tha

[2020-12-04 18:23] kaksikanaa commented on #15856
Hello, sorry for the looooong delay... this is resolved as it seems to be that the client could not handle (as many other applications as well) the unofficial advanced display scaling settings in Windows. I've used something like +134% etc. and then this problem is present but i I've use 125% or 150% there is no problem.

[2020-12-04 18:24] #15856 closed

[2020-12-04 18:24] kaksikanaa commented on #15856
This is resolved

[2020-12-04 19:28] dimgord opened #16500 "iOS MM Classic: cannot return to main menu after opened a gif from a message"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-12-04 20:28] discostur commented on #16206
having the same issue like @thystra - just upgraded mattermost from `5.27.0` to `5.29.1`. The issue did not appear in the old ver

[2020-12-04 20:35] discostur commented on #16206
@isacikgoz in the mattermost log i can see the error:
[code]

[2020-12-04 20:36] MrOffline77 commented on #16206
same problem here.

[2020-12-04 20:42] discostur commented on #16206
@isacikgoz @amyblais i also the the following error:
[code]

[2020-12-04 21:47] amyblais commented on #16206
Thanks, updated the ticket with the errors.

[2020-12-04 23:43] shuang2411 commented on #16403
Hi I have studied the code base of the plugin and have some general thought. Please let me know if I am on the right track!

In `index.tsx,` the `makeSlashCommandHook ` is registered as the call back for slash command input from the user. So what I need to do is to add a new if statement in` slash_command.ts` to check if the `messageTrimmed` starts with `'/incident info'`, and then check the platf

[2020-12-05 00:03] amyblais commented on #16500
@dimgord I'll test this - one question: is there a reason you prefer the classic app over the newer app https://play.google.com/store/apps/details?id=com.mattermost.rn&hl=en?

[2020-12-06 13:23] bhargav50 commented on #15636
@esethna Here what should be shown when "Custom Emoji" button is clicked? I can't find that in prototype or designs.

[2020-12-06 15:39] bhargav50 commented on #15636
Found it now, I thought it will be a popup or something but it is an old functionality only where I have to redirect.

[2020-12-07 08:38] discostur commented on #16206
@amyblais @isacikgoz it seems to be a problem with the database collations; i just check my default database collation:

[code]

and i checked my mattermost tables:

[code]

Can you tell me which one of the collations is the correlt one? Is it either `utf8mb4_general_ci` or ` utf8mb4_0900_ai_ci`?
With that information i would be able to apply the changes to the DB and test if it is fixed afterward

[2020-12-07 09:26] isacikgoz commented on #16206
Thanks for the great insight @discostur! Probably the reason that I couldn't reproduce this was that I was using postgres. After `MySQL 8.0.1` the [default collation](https://dev.mysql.com/doc/mysqld-version-reference/en/optvar-changes-8-0.html) is set to `utf8mb4_0900_ai_ci` so, I'd suggest to update every table to use default collation depending on your mysql version.

[2020-12-07 09:45] #16416 closed

[2020-12-07 13:21] gohrner opened #16505 "Information Loss: Messages Missing From Message Stream After Connection Issue On Receiver Side"
#### Summary
Sent message seems to have been permanently lost for a user due to connection issues.
I.e. the message was
1. sent successfully by the sender
1. and appears in her/his message stream,
1. but does not appear in the receiver's stream
1. also not after switching channels.

#### Steps to reproduce
Sender A used Mattermost desktop app and had a stable connection.
While sending the message,

[2020-12-07 14:06] amyblais commented on #16505
@gohrner
1. What OS and version is the Mattermost server installed?
2. What is your Mattermost server version?
3. Are you experiencing the issues with the browser webapp, if so which one?
4. Can you send a snippet of the Mattermost server logs around the time of the incident?

[2020-12-07 14:09] amyblais commented on #16275
@itwasonlyabug Would you be open to posting this on our troubleshooting forum here forum.mattermost.org? I have asked our team to take a look at this issue but haven't received responses yet, and our community / support team is more active on the forum site.

[2020-12-07 14:10] amyblais commented on #16238
@DHaussermann @mickmister Is this something you're able to help test if this is a bug?

[2020-12-07 14:10] amyblais commented on #16429
@hmhealey ^

[2020-12-07 15:22] gohrner commented on #16505
Oh, sorry, beginner's mistakes... :-/

Debian Buster 10.7 x64

Mattermost Version: 5.25.5
Database Schema Version: 5.25.0
Database: mysql

Not sure if I understand the question? What do you mean by "which webapp"?

I was the user who cannot see the message. I'm just using a browser (Chromium Version 87.0.4280.88 (Offizieller Build) snap (64-Bit)) to access the Mattermost server.

The last log mess

[2020-12-07 15:35] amyblais commented on #16505
@gohrner Do you experience this issue on the latest ESR version (v5.25.7)? Would you be open to changing the log level to DEBUG to gather any errors when the issue happens again?

[2020-12-07 16:21] discostur commented on #16206
@isacikgoz thanks for your reply. In the meantime i found this thread in your forums:

https://forum.mattermost.org/t/solved-after-upgrading-to-5-29-messages-fail-to-mark-as-read/10816

I altered all the wrong tables from `utf8mb4_general_ci` to `utf8mb4_0900_ai_ci` which is the default in mysql 8:

[code]

Everything is working fine now for me ;)

[2020-12-07 18:36] malcomvetter commented on #16241
I can confirm this is still the case.
![image](https://user-images.githubusercontent.com/12734821/101390664-cebafa00-3888-11eb-9598-e96f402f9d19.png)

[2020-12-07 20:04] isacikgoz commented on #16206
Thanks a lot @discostur! We should update the [developer documentation](https://docs.mattermost.com/install/requirements.html#database-software) regarding to this issue. @agusl88 can you also confirm that this fix solves your problems as well?

[2020-12-07 20:19] amyblais commented on #16308
### v5.30 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.30.0-rc1/mattermost-team-5.30.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4114/files)

[2020-12-08 02:17] thystra commented on #16206
Updating the database solved my issue as well.  Thanks @discostur !

[2020-12-08 07:19] itwasonlyabug commented on #16275
Hi @amyblais, sure thing. That was my initial idea as well, but then I read the rules and decided I should try here first :)

[2020-12-08 08:40] datzero9 commented on #15997
I would like to work on this.

[2020-12-08 10:15] #16461 closed

[2020-12-08 13:33] fionnb commented on #7355
Well, apparently that solution did not quite work out as expected ...

[2020-12-08 15:53] hmhealey commented on #16429
Strange. YouTube previews work on our community server which runs a few different versions, but I can't get them to work anywhere else. Hopefully we're not getting blocked by YouTube for some reason.

I've filed a Jira ticket to investigate further since this is probably something we'll want fixed quickly. Here's a link to that ticket in case you'd like to track it in more detail:
https://mattermo

[2020-12-08 16:30] mattermod opened #16513 "Webapp/Desktop App: Add Formatting Shortcut Keys to Shortcut modal"
With the addition of the new shortcuts for message formatting, we need to add the shortcuts to the shortcut modal.

Add a new 'Formatting' section in the middle column

Include the following:

**Formatting**
Bold: ⌘ B
Italic: ⌘ I
Link: ⌘ ⌥ K

Use "Ctrl" on Windows

![](Screen Shot 2020-12-07 at 9.42.50 PM.png|width=100%)

----
If you're interested please comment here and come [join our "Contributo

[2020-12-08 16:45] mattermod opened #16514 "Webapp: Emoji Autocomplete UI update"
To align with the new autocomplete menus, update the emoji autocomplete UI. For more details, see the Figma design linked below.

![image](https://user-images.githubusercontent.com/3277310/101539606-c805b300-396c-11eb-8bd0-f4f6eac6f582.png)

**Note:**

  * follow the same rules for positioning this popover as [this ticket](https://mattermost.atlassian.net/browse/MM-24072)
  * [Figma Design File](h

[2020-12-08 16:45] mattermod opened #16515 "Allow users to specify different desktop notification sounds per channel"
When a user selects "Notification Preferences > Send Desktop Notifications", for a specific channel, we should add an option to this menu for "Notification Sound"

**Mock-up:**

![image](https://user-images.githubusercontent.com/3277310/101539321-5b8ab400-396c-11eb-9c4b-aad4617965fc.png)

**Functionality:**

  * The channel notification preference should initially follow the global account setting

[2020-12-08 17:10] Willyfrog opened #16516 "[desktop] Add a "don't trust" option for certificates"
#### Context

A user has some of the url's blocked/redirected/filtered, so navigation is intercepted by a proxy and as such the SSL certificate doesn't match (which is it is intended use)

This might be a common case in big orgs, so it might be a good idea to allow users to block content based on  a non-trusted certificate.

On browsers the behaviour is for the user to close the page and not navig

[2020-12-08 17:15] #16462 closed

[2020-12-08 18:02] trainey-dsa opened #16517 "Categories lose child items periodically"
I confirm (by marking "x" in the [ ] below: [x]):

- [x ] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
-

[2020-12-08 18:03] Willyfrog commented on #16517
moving this to the server repo as it is an issue with the new sidebar

[2020-12-08 18:15] mattermod opened #16518 "Incident commander should become channel admin on start"
A newly created incident makes the reporter the commander, but doesn’t promote that user to channel admin. In some deployments, this means the commander can't update the channel header or even invite other users to the channel.

Fix this by automatically promoting the reporter of an incident to become channel admin. This fits seamlessly into our permission model, since if a user has permission to

[2020-12-08 18:15] #16463 closed

[2020-12-08 18:33] amyblais commented on #16517
There is a ticket open here: https://mattermost.atlassian.net/browse/MM-30314

[2020-12-08 18:35] pablovelezvidal commented on #16137
Hi guys, I would like to take this one!

[2020-12-08 19:00] esethna commented on #16517
@trainey-dsa a few questions:

1) does this happen for just you, or is it all users on a team or all users on your server?
2) What type of database is your server running?
3) Is it happening repeatedly for the same category or always different categories?

[2020-12-08 19:00] esethna commented on #16517
cc// @hmhealey ^

[2020-12-08 20:45] mattermod opened #16519 "Deactivating and re-activating a user in the System Console prints a console error"
Repro steps:
1. Deactivate a user in System Console > Users

Observed:
User is deactivated/reactivated, but an error is printed to the JS console (see screenshots in attached Jira ticket)

Expected:
User is deactivated/reactivated without an error being printed to the JS console

~~----~~

This seems to be caused by the websocket handling code in `actions/websocket_actions.jsx`. That has caused us

[2020-12-08 20:47] hmhealey commented on #16515
Tip for implementing this: the setting's value will likely be stored in the NotifyProps field of the ChannelMember object corresponding to the current user and channel.

[2020-12-08 20:53] #15780 closed

[2020-12-08 21:00] mattermod opened #16520 "Add localization to date picker used when searching for posts around a given date"
When attempting to search for posts `on`, `before`, or `after` a given date, a calendar is displayed to help users select a date, but that calendar is currently always in English. We should make it display months and day names in the user's language.

We use react-day-picker for this component, and it seems to have support for localization built in.

----
If you're interested please comment here a

[2020-12-08 21:11] trainey-dsa commented on #16517
@esethna

1) I haven't heard from anyone else on the team.  Most of the team is using the branded web application provided by our company.  I can ask around if there are other folks using the desktop version and request that they create some categories and see what happens.
2)  From the server information it looks like postgres with schema version 5.28.0
3) I will try to pay attention to this requ

[2020-12-08 22:57] esethna commented on #16517
Thanks @trainey-dsa for the answers. It shouldn't be an issue of server-client compatibility, we are working on tracking down this bug as others have reprod it as well: https://mattermost.atlassian.net/browse/MM-30314

I'll leave it to @hmhealey to ask more questions as needed as we investigate. Thanks for reporting!

[2020-12-08 23:56] marcelo-cardozo commented on #16515
I would like to work in this one :)

[2020-12-09 02:52] mickmister commented on #16272
Hi @joelazwar, I hope you are doing well. Do you have any questions about this ticket?

[2020-12-09 03:33] agnivade commented on #16505
This is a known issue, and should be fixed once we have reliability implemented as part of the message send architecture.

[2020-12-09 04:45] #16472 closed

[2020-12-09 05:15] #16473 closed

[2020-12-09 05:45] #16474 closed

[2020-12-09 09:57] mthld opened #16523 "Files aren't being deleted while using s3 storage"
#### Summary
When using the s3 storage backend, deleting a file in Mattermost doesn't remove the file from the bucket.

#### Steps to reproduce
Using Mattermost v5.29.1, successfully setup an s3 storage following the [officiel documentation](https://docs.mattermost.com/administration/config-settings.html#file-storage). Successfully upload a file to a channel, then try to delete it.

#### Expected

[2020-12-09 14:20] amyblais commented on #16523
@mthld
1. What OS and version is the Mattermost server installed?
2. Is this a new issue with v5.29.1 or have you seen this in previous versions?
3. Can you send a snippet of the Mattermost server logs around the time of the incident?

[2020-12-09 14:45] #16470 closed

[2020-12-09 14:55] hmhealey commented on #16429
I've posted an update in the Jira ticket, but just to summarize it here, YouTube has started sometimes putting the OpenGraph metadata that we use to generate these previews into the wrong place in their HTML which causes the library we're using to scrape it to not find it. It seems inconsistent, but we're seeing this happen more frequently as time goes on which breaks YouTube previews on more and

[2020-12-09 15:15] #16471 closed

[2020-12-09 15:25] agusl88 commented on #16206
Hi @isacikgoz

I changed the collation of all tables to utf8mb4_0900_ai_ci as suggested (my database was in the same state as @discostur, database collation set to utf8mb4_0900_ai_ci  and tables set to utf8mb4_general_ci) , but the notifications i had stuck are still there. Maybe i need to manually delete/update them in the database? They are several months old, my guess is that there is not way t

[2020-12-09 16:27] mthld commented on #16523
Hi @amyblais

Debian 10.7 Buster on amd64 arch

Sadly I haven't used the s3 backend storage before

[code]

[2020-12-09 17:59] mickmister commented on #16238
@nabilgasri I'm not sure if it's intended, but it looks like incoming webhooks have never supported the use case of sending to an outgoing webhook. I've created a ticket here for investigation https://mattermost.atlassian.net/browse/MM-31208

[2020-12-09 21:06] courtneypattison commented on #11264
I'll take this one :)

[2020-12-09 21:08] esethna commented on #11264
@courtneypattison note that there's another PR in progress in this area so please take a look to avoid conflicts :)

https://github.com/mattermost/mattermost-webapp/pull/7172

[2020-12-09 21:32] courtneypattison commented on #11264
@esethna Thank you for the heads up! Some of the files overlap, but it looks like they should be simple merges.

[2020-12-09 21:38] gorostiaga commented on #16514
I am learning React I'd like to get more experience. I'd like to help on this issue.

[2020-12-09 21:55] jasonblais commented on #16514
@gorostiaga awesome! Thank you for your interest, if you have any questions, let us know

cc @emilyacook

[2020-12-09 22:00] trainey-dsa commented on #16517
Another interesting piece of information.  Today I noticed that my category repopulated itself.  This morning, I didn't have anything in the category, so I 'favorited' the folks and groups that I wanted to segregate.  I'm not sure what time this happened, but I checked and my category now has everything I had in it prior to it vanishing.

[2020-12-09 22:05] gorostiaga commented on #16514
Are there any guidelines required for the devs to allow?
or all the needed info is in the readme

Is there any deadline for this ticket?

[2020-12-10 01:01] arjunagl commented on #16401
I would like to pick this up

[2020-12-10 01:41] joelazwar commented on #16272
hey @mickmister sorry, have been really busy lately and hadnt had time work on this. You could unassign me if you'd like since I'm still quite busy

[2020-12-10 06:25] haardikdharma10 commented on #16518
Hi @lieut-data, can you help me on getting started with this and roughly with the files involved?

[2020-12-10 09:47] Susticle commented on #15012
A user of an instance maintained by me notified me about this a while ago. Now I was able to see the problem myself with Chromium/Firefox (Linux) in a longer discussion thread.

CPU load is very high when it happens and seems to be worse with Firefox.

So for me it appears similar as described here:
https://github.com/mattermost/mattermost-server/issues/15012#issuecomment-714669237

[2020-12-10 12:46] #15454 closed

[2020-12-10 13:14] #15920 closed

[2020-12-10 13:24] #16142 closed

[2020-12-10 14:45] lieut-data commented on #16401
Thanks, @arjunagl!

[2020-12-10 14:45] #16464 closed

[2020-12-10 15:15] #16465 closed

[2020-12-10 15:31] hmhealey commented on #15645
FYI, I created a separate Jira ticket to track adding this on mobile to ensure that gets done as well.

https://mattermost.atlassian.net/browse/MM-31257

[2020-12-10 16:04] #12355 closed

[2020-12-10 16:15] #16466 closed

[2020-12-10 17:10] mickmister commented on #16272
No problem, thanks @joelazwar!

[2020-12-10 18:15] andresbase opened #16533 "Unread Filtering by Categories Back"
I have noticed with the latest update on our Mattermost that it went from keeping the grouping of messages to not keeping it.

What I mean is previously when clicking on "Filter by unread" I would obviously only see unread messages but listed and grouped by favourites and other groups I created. This was incredibly useful, specially if you are in an organization large enough that there are many ch

[2020-12-10 18:39] hmhealey commented on #16533
Thanks for the feedback. I'll pass it along to our UX team.

I think the intent of the new feature was to just show the user's unreads in a way that prioritized things that were more urgent because they were newer or were mentions. I think it might have also been an attempt to differentiate the filter since previously, it was basically the same as collapsing each category temporarily.

On that not

[2020-12-10 18:42] hmhealey commented on #16517
Thanks for the info. I was expecting we were accidentally deleting some stuff in the database (specifically, all entries that said where each channel on a team goes for you), but what you've described sounds different than that. Perhaps it's only deleting the entries for one of the categories on the team, or maybe it's something different entirely...

[2020-12-10 18:43] #16162 closed

[2020-12-10 18:59] andresbase commented on #16533
Hi, thanks for the suggestion. I think you are right, collapsing the categories gives me what I needed and filters them by unread. I quite like that. Thanks!

[2020-12-10 19:57] sapnasivakumar commented on #16404
@lieut-data I'm willing to work on this task, Can you help me by removing the 'up for grabs' tag and I'll pick it up

[2020-12-10 20:35] #14200 closed

[2020-12-10 21:14] amyblais commented on #16523
@mthld Question from our devs: How is the deletion happening? Just removing the post will not delete the file. This is a known limitation.

[2020-12-10 21:58] trainey-dsa commented on #16517
@hmhealey Yeah, A strange one.  I wish I could provide better info to help reproduce and diagnose it.  It is very intermittent though and I couldn't detect a pattern.  Since the category repopulated yesterday, everything has been stable.  I use this every day so if I run across anything else, I'll update.
Thanks!

[2020-12-10 22:24] lieut-data commented on #16404
Wow, thanks @sapnasivakumar! Let us know if you need any help :)

[2020-12-10 22:58] shuang2411 commented on #16403
Please review this pull request! Thank you!

https://github.com/mattermost/mattermost-plugin-incident-management/pull/412

[2020-12-10 23:20] #12750 closed

[2020-12-11 00:12] esethna commented on #15636
@bhargav50 how's this going? Need any assistance?

[2020-12-11 02:32] jp0707 opened #16537 "Add Formatting Shortcut Keys to Shortcut modal"
Add newly added markdown hotkeys into Shortcut modal.

JIRA: https://mattermost.atlassian.net/browse/MM-31148
Relevant Discussion: https://github.com/mattermost/mattermost-webapp/pull/7125#issuecomment-740652928

Filing this issue for tracking. I will be working on this.

[2020-12-11 02:33] jp0707 commented on #16537
Heh, looks like I don't have permission to assign this to myself yet. I'll leave such book keeping up to someone that has those permissions.

[2020-12-11 06:42] bhargav50 commented on #15636
Almost done, l will raise PR this weekend. Emoji logic was somewhat tricky to figure out but now it's sorted.

[2020-12-11 10:25] shuang2411 commented on #16520
Can you assign this to me? Thank you!

[2020-12-11 13:18] nikkinagar commented on #16125
Hi, I'd like to work on this

[2020-12-11 14:07] amyblais commented on #16287
Closing as this was fixed in v5.29.1,

[2020-12-11 14:07] #16287 closed

[2020-12-11 14:08] amyblais commented on #16320
Closing as this was fixed in v5.29.1,

[2020-12-11 14:08] #16320 closed

[2020-12-11 14:08] amyblais commented on #16321
Closing as this was fixed in v5.29.1,

[2020-12-11 14:08] #16321 closed

[2020-12-11 14:09] amyblais commented on #16339
Closing as this is fixed for upcoming Mobile app v1.38 release (December 16th release),

[2020-12-11 14:09] #16339 closed

[2020-12-11 14:10] amyblais commented on #16429
Closing as this is queued to be fixed in upcoming v5.30 release,

[2020-12-11 15:29] mthld commented on #16523
@amyblais you're right, I'm currently removing the post in the web UI. How should I do to delete the files too?

[2020-12-11 15:36] amyblais commented on #16313
We haven't received a response for a while so I'll close this for now - please reopen this issue if the problem persists.

[2020-12-11 15:36] #16313 closed

[2020-12-11 15:36] amyblais commented on #16187
We haven't received a response for a while so I'll close this for now - please reopen this issue if the problem persists.

[2020-12-11 15:36] #16187 closed

[2020-12-11 15:37] amyblais commented on #16104
We haven't received a response for a while so I'll close this for now - please reopen this issue if the problem persists.

[2020-12-11 15:37] #16104 closed

[2020-12-11 15:45] #16467 closed

[2020-12-11 15:45] amyblais commented on #16523
We have a Data Retention feature in E20: https://docs.mattermost.com/administration/data-retention.html, but I'm unsure if there are other ways to delete files currently. You can post about this on our feature request forum here if you'd like: https://mattermost.uservoice.com/forums/306457-general.

[2020-12-11 16:08] #16523 closed

[2020-12-11 16:45] #16468 closed

[2020-12-11 17:21] #16469 closed

[2020-12-11 18:36] esethna commented on #15636
Awesome! Thanks @bhargav50!

[2020-12-11 19:12] frezbo opened #16540 "SMTP PLAIN AUTH doesn't work with localhost"
#### Summary

SMTP `PLAIN AUTH` doesn't work with host being `localhost`

#### Steps to reproduce

Mattermost server code at https://github.com/mattermost/mattermost-server/blob/master/services/mailservice/mail.go#L75 adds the port address to the `smtp.PlainAuth` method, whereas I think `smtp.PlainAuth` only expects the hostname.

From [Go Doc](https://golang.org/pkg/net/smtp/#PlainAuth):

[code]

[2020-12-11 19:44] boldvoyager commented on #16134
I can take this one

[2020-12-12 04:15] #16475 closed

[2020-12-12 05:15] #16476 closed

[2020-12-12 06:15] #16477 closed

[2020-12-12 12:58] shFrank commented on #16242
@amyblais Hi, I have located the cause of the problem.
At search_channel_provider.jsx Line 37,  the regex  **/\b(?:in|channel):\s*(\S*)$/i**  is causing parsing error. When the input contains space (eg. "Town Squ"), the regex will parse the string to null.
However, I'm not that proficient with regex, could you offer me some help about why it would parse the string into null?

[2020-12-12 14:04] gorostiaga commented on #16514
Hi all!
I have tried to deploy the environment for start coding based on the guidelines at developers.mattermost.com/contribute***
I've got the following errors:  (Is it critical? or Could I skip them and start coding this ticker#16514 ????

<pre><b>Summary of all failing tests</b>
<span style="background-color:#CC0000"><font color="#300A24"><b> FAIL </b></font></span> <font color="#AAAAAA">compon

[2020-12-12 14:45] #16370 closed

[2020-12-13 03:40] vraravam commented on #12475
Shall I take this up? (assuming this is super easy)

[2020-12-13 04:23] jasonblais commented on #16514
@hmhealey or @hanzei are you open to help assist @gorostiaga with the errors reported above?

[2020-12-13 07:18] vraravam commented on #12475
Looks like this error occurs - and I don't know how to solve it:
[code]
This error is repeated a few times.

[2020-12-13 10:52] lmammino commented on #16122
Sent a PR for this: https://github.com/mattermost/mattermost-webapp/pull/7211

[2020-12-13 13:37] lmammino commented on #16152
Sent a PR for this one here: https://github.com/mattermost/mattermost-webapp/pull/7212

[2020-12-14 03:35] a-c-sreedhar-reddy commented on #15977
@esethna can i work on this?

[2020-12-14 08:30] #15645 closed

[2020-12-14 13:41] amyblais commented on #12475
@devinbinnie ^

[2020-12-14 13:43] amyblais commented on #16242
@esethna ^

[2020-12-14 14:07] darkLord19 opened #16544 "Issue with transparency in webapp"
When we open sidebar menu after scrolling sidebar, then scroll bar is overlapping over the sidebar menu.
<img width="1440" alt="Screenshot 2020-12-12 at 11 11 45 PM" src="https://user-images.githubusercontent.com/16662014/102090609-aceee380-3e43-11eb-9912-e71f308448ba.png">

[2020-12-14 14:15] vraravam commented on #12475
I have a local WIP code (converting to ts) - but, due to the above error, I haven't raised a PR, nor have I pushed the changes to remote.

[2020-12-14 14:41] amyblais commented on #16544
@darkLord19

1. What OS and version is the Mattermost server installed?
2. What is your Mattermost server version?
3. Are you experiencing the issues with the browser webapp, if so which one?
4. Can you send a snippet of the Mattermost server logs around the time of the incident?

[2020-12-14 15:41] shFrank commented on #16242
@esethna Hi, could you help me out?

[2020-12-14 17:16] darkLord19 commented on #16544
@amyblais issue is seen on community server so I think you'd know more about OS and  version. I looked in About Mattermost and found following info,
[code]
I am not sure what do you mean by browser webapp. I was accessing community server using Firefox.

[2020-12-14 17:37] amyblais commented on #16544
For some reason I can't reproduce this on community.mattermost.com on Firefox. Are there any additional details you can provide before I open a ticket? E.g.
1. Does this reproduce consistently?
2. Does this reproduce for you locally or on any servers you host?
3. Is your zoom level at 100%?

[2020-12-14 17:45] darkLord19 commented on #16544
1) Yes I can reproduce consistently.
2) Haven't tried.
3) yes my zoom level is at 100%
Another detail of any significance will be the OS which is MacOS in my case.

Attaching gif of issue in action.
![out1](https://user-images.githubusercontent.com/16662014/102115915-36ada980-3e62-11eb-82cc-f2fba1511643.gif)

[2020-12-14 19:01] amyblais commented on #16544
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-31345.

[2020-12-14 19:25] #16139 closed

[2020-12-14 20:03] hmhealey commented on #16533
Awesome, glad that works for you then! I'll leave this open for a few more days to see if anyone else has any other feedback along these lines and then close it if there's no other discussion on it. Thanks again for the feedback though since that was something we were a bit concerned about.

[2020-12-14 20:05] hmhealey commented on #16514
You should be fine to ignore them for this since they're not related to this ticket, but they are a bit concerning. Are you on the latest version of master from this repository?

[2020-12-14 22:10] devinbinnie commented on #12475
@vraravam Seems as though there's an issue with React's type definition when it comes to string literals being returned as components. I was able to fix it by changing `Nbsp` to this:

[code]

[2020-12-14 23:14] arjunagl commented on #16401
@lieut-data when you say `incident metadata` can you please let me know exactly what you mean, is it stuff like the channel header channel title ?

[2020-12-14 23:40] esethna commented on #15977
All yours @a-c-sreedhar-reddy!

[2020-12-14 23:44] esethna commented on #16242
Hi Frank, feel free to ask in our contributors channel and/or peer-to-peer help as a starting point?

https://community.mattermost.com/core/channels/peer-to-peer-help
https://community.mattermost.com/core/channels/tickets

cc// @amyblais

[2020-12-14 23:45] gorostiaga commented on #16514
Yes sir, forked on Dec 10th.
I didn't backup from any existing containers btw, as I thought it was not necessary.

[2020-12-15 01:57] vraravam commented on #12475
Thanks @devinbinnie - I have incorporated that change - and it has fixed some of the errors. Will raise a PR and try to get help with the other remaining `make check-types` issues.

[2020-12-15 05:39] #16166 closed

[2020-12-15 06:43] agnivade commented on #16215
Hi @cnhongwei - it seems like your environment is not setting the correct `Host` header along with the port that Mattermost expects. We set the `siteURLHeader` from here:https://github.com/mattermost/mattermost-server/blob/8e221c1895fc42a41edc73c2e9fc09e3c98aaf43/web/handlers.go#L156.

So the `Host` header should contain any custom port that is used. Can you check if the correct Host header is bei

[2020-12-15 13:30] Fmyschkin opened #16553 "SAML Parsing Error: Unrecognized Issuer value"
#### Summary
SAML Response Parsing Error: Unrecognizes Issuer value:

	"level": "error",
	"ts": 1607605494.6979364,
	"caller": "mlog/log.go:229",
	"msg": "An error occurred while parsing the response from the Identity Provider. Please contact your System Administrator.",
	"path": "/login/sso/saml",
	"request_id": "ffsok7s8iigdjfiti4scxihufc",
	"ip_addr": "xxx.xxx.xxx.xxx",
	"user_id": "",
	"method

[2020-12-15 13:43] amyblais commented on #16553
@Fmyschkin We had a few customers report this on ADFS and they had to re-upload the IDP certificate to fix this issue.

I'll follow-up with our team on the next steps here.

[2020-12-15 14:56] #16130 closed

[2020-12-15 16:45] mattermod opened #16557 "Existing GM channels in the Direct Messages modal don't have a hover effect"
Environment: 5.30.0 RC on rc.test using Firefox/Safari on Mac

Repro steps:
1) Create a GM channel and send a message in it
2) Remove that GM channel from your sidebar
3) Open the Direct Messages list
4) Find the GM channel and hover over it with your mouse

Observed: The hover effect isn't displayed for the GM channel. Clicking on the channel adds the users to the input box as expected. If you na

[2020-12-15 18:54] bjorge82 commented on #16133
Can I work on this?

[2020-12-15 19:14] bhargav50 commented on #15636
@esethna in new design, on click of skin tone emoji, all the skin tones are appearing in one specific animation effect. I am stuck on how to implement that animation. I could use some help here.

[2020-12-15 19:23] jakubnovak998 commented on #16405
Hi, I can work on this.

[2020-12-15 19:51] esethna commented on #15636
@asaadmahmood would you be able to provide some assistance here ^

[2020-12-15 19:55] asaadmahmood commented on #15636
@bhargav50 Can you share a gif or video on how it is appearing?
Also, if you can create a PR for the stuff you've already done, I can take a look and give suggestions, or submit code to the PR.

[2020-12-15 21:21] #16138 closed

[2020-12-15 21:46] lieut-data commented on #16405
Thanks, @jakubnovak998!

[2020-12-15 23:01] hmhealey commented on #16514
Sorry about that. I'll get in touch with the person who owns the file to make it public.

And we've had another report of that test failing for someone else as well. It shouldn't affect you hopefully as long as it isn't occurring on CI.

[2020-12-15 23:13] hmhealey commented on #16514
Okay, it should be accessible now. If you sign up for a free account, you'll also be able to inspect the design to get more details on the exact measurements for padding and such.

[2020-12-15 23:59] lieut-data commented on #16401
@arjunagl, when an incident is open, the right hand side contains a number of pieces of information, such as the active stage, current commander, task list, etc. These should all be considered immutable once the channel is archived.

There are two parts to this:
* Across the REST API in the plugin, check if the corresponding channel is archived and fail the request outright if a mutation is reques

[2020-12-16 03:20] esbeeb commented on #4554
What about "sudo snap install mattermost-team-server", and "sudo snap install mattermost-enterprise-server"?  If you just want to call it "mattermost-server", that will almost certainly just mean the Enterprise server, and the Team server will very likely get left out in the cold.

[2020-12-16 07:37] ayushpatnaikgit commented on #16241
Go to System Console > Logging
 Make

Enable Diagnostics and Error Reporting:
**false.**

![Screenshot from 2020-12-16 13-06-24](https://user-images.githubusercontent.com/20169423/102318577-91005480-3f9f-11eb-83a6-c059e17cfe6b.png)

[2020-12-16 15:16] #16423 closed

[2020-12-16 15:17] lieut-data commented on #16423
Thanks again, @haardikdharma10 :)

[2020-12-16 17:39] moniquemurphy opened #16570 "EnableUploads set to true in config.json but uploads blocked in System Console"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-12-16 17:49] bhargav50 commented on #15636
@asaadmahmood for animation effect, check out the Figma prototype and click on skin tone emoji. Then that all skin tone options toolbar will appear with an animation which I am talking about.

[2020-12-16 19:29] amyblais commented on #16570
@moniquemurphy Have you tried with ``Require Plugin Signature:`` set to ``false``? Based on the help text for the setting: "When true, uploading plugins is disabled and may only be installed through the Marketplace."

[2020-12-16 20:30] arjunagl commented on #16401
thanks @lieut-data

[2020-12-16 22:06] moniquemurphy commented on #16570
@amyblais Thank you, that fixed the issue!

[2020-12-16 22:06] #16570 closed

[2020-12-17 06:48] cnhongwei commented on #16215
I change "proxy_set_header Host $host" to "proxy_set_header Host $host:$server_port;" in nginx config.
it reolves my problem.

thanks everybody!

[2020-12-17 06:54] agnivade commented on #16215
Thanks for the confirmation @cnhongwei !

[2020-12-17 06:54] #16215 closed

[2020-12-17 07:42] agnivade commented on #16305
Hi @jecepeda - how is it going with this? Let us know if we can help in any way.

[2020-12-17 07:44] agnivade commented on #16284
Hi @CandyZack - how is it going with this? Let us know if we can help in any way.

[2020-12-17 09:29] asaadmahmood commented on #15636
@bhargav50 Yup, I understand, was just asking how far you were. I'll check out your PR, if you already have the skintone buttons in, I can add that animation.

[2020-12-17 18:37] CandyZack commented on #16284
@agnivade  Sorry for delay. Was loaded with work 😩, and I missed this.
I need help with testcases. I have mentioned this in the PR

[2020-12-18 02:30] harshilsharma63 opened #16577 "Slash command autocomplete data - system user role should be assumed if nothing is specified"
#### Summary
Slash command autocomplete data is filtered based on the user's role and command's specified role. However, the default value of the empty string is not handled in Mattermost server code, thus causing such a slash command to never be displayed for a system user.

#### Steps to reproduce
1. Register a slash command with autocomplete data from a plugin. Don't specify anything for `RoleI

[2020-12-18 04:55] haardikdharma10 commented on #16305
If this one's still available, I'd like to give it a shot :)

c.c @agnivade, @mgdelacroix

[2020-12-18 04:57] agnivade commented on #16305
If there's no response from @jecepeda after a week, you are welcome to take it. Thanks for all your work @haardikdharma10 !

[2020-12-18 08:13] jecepeda commented on #16305
Hi @agnivade is still my intention to do this ticket but I haven't started yet, as I'm focusing on https://github.com/mattermost/mattermost-server/issues/16289.

@haardikdharma10 can do it if he wants.

Sorry for the delay

[2020-12-18 08:27] agnivade commented on #16305
Thanks for letting us know @jecepeda and no need to be sorry :) Your time and effort is really appreciated. :+1:

I will let @haardikdharma10 take up this one then.

[2020-12-18 09:14] haardikdharma10 commented on #16305
Hey @agnivade,
Question: After having a look at the code, I figured out that `dryRun` flag is of type bool. How can I check if it is enabled? Is it as simple as adding an if statement checking whether the value is true?
Also, there is no mention of `dryRun` [here](https://github.com/mattermost/mattermost-server/blob/master/cmd/mattermost/commands/import.go#L99-L104) but it is passed as an argument

[2020-12-18 16:07] #16308 closed

[2020-12-18 19:49] lucievr commented on #16131
I would like to take this on

[2020-12-18 20:06] amyblais opened #16579 "Mattermost v5.31"
You can find key dates for v5.31 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Jan 4th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Jan 13th: Release Build Cut
The final

[2020-12-18 20:09] haardikdharma10 commented on #15969
Hi @amyblais, If it's still available, I'd like to take this ticket.

[2020-12-18 20:10] haardikdharma10 commented on #15968
Hi @amyblais, If it's still available, I'd like to take this ticket.

[2020-12-18 20:12] amyblais commented on #15968
@93lykevin Unsure if you're working on this, re-assigned for now.

[2020-12-18 20:12] amyblais commented on #15969
@aliya-rahmani Unsure if you're working on this, re-assigned for now.

[2020-12-18 20:37] bjorge82 commented on #16318
Can I work on this one?

[2020-12-19 10:08] lucievr commented on #16126
Picking this up :raised_hand:

[2020-12-19 14:14] agnivade commented on #16305
Yes, that would be the way.

`dryRun` is just the inverse of the `apply` flag passed from the commands package.

[2020-12-19 21:32] PokeMMO opened #16582 "mattermost-webapp missing v5.30.0 and v5.30.1 tags"
#### Summary
mattermost-webapp missing v5.30.0 and v5.30.1 tags

#### Steps to reproduce
https://github.com/mattermost/mattermost-webapp/tree/v5.30.0
https://github.com/mattermost/mattermost-webapp/tree/v5.30.1

#### Expected behavior
Tag should exist

#### Observed behavior (that appears unintentional)
There are usually matching tags in the mattermost-webapp repository.

#### Possible fixes
Creat

[2020-12-20 16:25] lucievr commented on #16128
Working on this issue

[2020-12-21 00:34] amyblais commented on #16582
@metanerd / @jaydeland FYI

[2020-12-21 09:07] #16284 closed

[2020-12-21 10:43] metanerd commented on #16582
Thank you for the report @PokeMMO ! This should be resolved now. It really was unintentional.

[2020-12-21 10:45] bjorge82 commented on #16129
Can I have this one for me?

[2020-12-21 16:30] XxLilBoPeepsxX commented on #15546
This issue was due to the fact that I was running with a modified installation to run on ARM architecture, and the conversion was messed up, there is no further issue with the current official production release that is related to this issue.

[2020-12-21 16:30] #15546 closed

[2020-12-21 18:56] mgdelacroix commented on #15488
Hi @CurtisMIT! Are you still planning to work on this issue? Is there anything we can help you with?

[2020-12-21 18:57] mgdelacroix commented on #15490
Hi @m4ver1k! Are you still planning to work on this issue? Is there anything we can help you with?

[2020-12-21 18:58] mgdelacroix commented on #15733
Hi @avinashdhinwa! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 18:59] mgdelacroix commented on #15816
Hi @m3talsmith! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 19:00] mgdelacroix commented on #15943
Hi @djanda97! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 19:00] mgdelacroix commented on #15945
Hi @gupsho! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 19:01] mgdelacroix commented on #15981
Hi @SezalAgrawal! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 19:01] mgdelacroix commented on #15983
Hi @n1rna! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 19:02] mgdelacroix commented on #15984
Hi @n1rna! Same question for this issue, is there anything we can help with?

[2020-12-21 19:04] mgdelacroix commented on #15997
Sure @datzero9! Assigned the issue to you :tada:

[2020-12-21 19:04] mgdelacroix commented on #15999
Hi @lucianomagrao! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 19:04] mgdelacroix commented on #16000
Hi @lucianomagrao! Same question for this one, is there anything we can help with?

[2020-12-21 19:06] mgdelacroix commented on #16001
Hi @needkopi! Are you still planning to work on this issue? Is there anything we can help with?

[2020-12-21 20:05] gupsho commented on #15945
My apologies. I totally forgot about this. Can you please open it for all. I would not get time in next couple weeks to work on this.

[2020-12-21 22:47] compiledsound commented on #16394
I can take this one

[2020-12-22 01:26] #16582 closed

[2020-12-22 05:54] donghun-park commented on #16517
This happens when a some user with below condition is removed from the team.
 * Direct message or group message is registered in the channel category in removed team's sidebar category
That time lost sidebarchannel row.

[2020-12-22 11:29] mgdelacroix commented on #15945
Don't worry at all :) I'll open the issue for the community then

[2020-12-22 16:45] SezalAgrawal commented on #15981
Yes, I will try to wrap it up this week.

[2020-12-22 21:53] nikkinagar commented on #16121
I'd like to give this a try.

[2020-12-23 05:14] agnivade opened #16596 "Create a govet check to check for idiomatic empty string comparisons"
### Background

The Mattermost codebase has a weird anti-pattern of checking empty strings by doing `len(s) != 0` or `len(s) == 0`. They should just be `s != ""` or `s == ""`.  https://github.com/mattermost/mattermost-server/commit/6487d0ca91c66cfe292301585901ac5f84f776e5 does an initial pass of fixing some of these, but it's manually done and obviously there are still issues remaining in the code

[2020-12-23 10:51] ayushpatnaikgit commented on #16241
I think this is built into the binary somehow or done a very complicated way. It seems impossible to disable it.

[2020-12-23 14:30] mattermod opened #16601 "Add connection idle timeout to DB config"
### Background

We don't have a configurable idle conn timeout. This makes it difficult to reap idle connections in a controlled manner in Cloud.

### Implementation

This needs work on both server and webapp.

On server side, we need to add a setting `ConnMaxIdleTimeMilliseconds` similar to `ConnMaxLifetimeMilliseconds` in `SqlSettings` in model/config.go. The default value of it should be 5 minu

[2020-12-24 04:32] haardikdharma10 commented on #16601
Hi @agnivade, I would like to work on this ticket.

[2020-12-24 04:57] agnivade commented on #16601
Awesome!

[2020-12-24 16:45] darkLord19 commented on #16596
I'd like to work on this

[2020-12-24 17:08] agnivade commented on #16596
Awesome!

[2020-12-24 17:10] #16259 closed

[2020-12-26 19:57] saikrishna014597700 commented on #13498
@devinbinnie Can you assign this to me?

[2020-12-26 19:59] saikrishna014597700 commented on #13488
@amyblais Could you assign this to me?

[2020-12-26 20:41] EVaughan00 commented on #16514
I've been experiencing the same data_prefetch test fail. Any update on that? Thanks

[2020-12-27 10:12] NgoHuy opened #16607 "Config.json rollbacked"
Hi team,
After upgrading to 5.30.1, my config.json suddenly rollbacked to origin config.json. I read the log but no help. All settings disappeared, I must copy old config and reconfig again.

Best regards,
Severus

[2020-12-27 10:13] NgoHuy commented on #16607
I see the line but I dont know what it's
[code]

[2020-12-27 16:51] licaon-kter commented on #14918
So there's a fix for this? How do I start it with `mmctl` exactly? I don't seem to find "bleve" here: https://docs.mattermost.com/administration/mmctl-cli-tool.html

[2020-12-27 17:38] rolwin100 commented on #16272
@mickmister can you please tell me how to set up the demo plugin in local can't find any proper docs for it.

[2020-12-27 18:12] SezalAgrawal commented on #15981
Hi @mgdelacroix, for the successful test case, can you guide me on how should I mock the editor?

[2020-12-27 20:57] gorostiaga commented on #16514
Hello!
It seems that this issue has been solved with the proposed code in this [PR](https://github.com/mattermost/mattermost-webapp/pull/7082)
Is it needed additional code or support on this issue since it would be solved with the mentioned code?
Thanks!

[2020-12-28 10:00] mattermod opened #16609 "Print golang version on server startup"
Several times, it is necessary to know what version of Go a Mattermost service is running in a simple and easy manner.

To achieve this, it would be helpful to log the runtime.Version() output on server startup to help with debugging.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our da

[2020-12-28 11:26] Ayanrocks commented on #16609
I can do this

[2020-12-30 10:21] #15471 closed

[2020-12-30 19:43] rolwin100 commented on #16272
@mickmister can I take this up

[2020-12-30 19:44] rolwin100 commented on #16272
I think it is already fixed

[2020-12-31 09:20] antwigambrah commented on #14436
@jfrerich  I would love to give it a shot.

[2020-12-31 19:00] jasonblais commented on #16514
cc @hmhealey on the above question from @gorostiaga

[2021-01-01 06:51] djanda97 commented on #15943
Hi @mgdelacroix! Yes, I still plan on working on this issue, I've just been busy with my new job.

[2021-01-01 10:05] streamer45 opened #16617 "Improve import process performance by streaming archive contents"
### Introduction

The [import process job](https://github.com/mattermost/mattermost-server/blob/40e16ba07f08102bcf92b263fa885677c223ad4c/jobs/import_process/worker.go#L83) is used to automatically load pre-existing data into a Mattermost server.
This currently works by extracting the whole input archive (.zip) file and then feeding the included `import.jsonl` plus a path to the extracted files to

[2021-01-02 07:17] JeremyShih commented on #16394
I would like to work on it.

[2021-01-02 08:59] JeremyShih commented on #16123
@fmahmud4 are you still working on it?
I would like to work on it if the owner didn’t reply after a couple of days.

[2021-01-02 15:58] antwigambrah commented on #16617
I would love to work on it

[2021-01-02 16:10] streamer45 commented on #16617
@antwigambrah
Sounds great :+1: Let us know if you need any help :)

[2021-01-02 18:05] #16609 closed

[2021-01-03 14:31] isacikgoz commented on #15997
Hey @datzero9! Let us know if you need anything, we'd be happy to help :)

[2021-01-03 14:32] isacikgoz commented on #15984
Hey @n1rna! Let us know if you need anything, we'd be happy to help :)

[2021-01-03 14:33] isacikgoz commented on #15983
Hey @n1rna! Just pinging 😅  Let us know if you need anything, we'd be happy to help.

[2021-01-03 14:35] n1rna commented on #15984
Hey guys, really sorry for the delay. I was pretty busy with my shi**y 9 to 5 lately and couldn't spend time on github. I will finish the work for both issues this week.

Agaib, please accept my apology for the long delay :)

[2021-01-03 14:41] isacikgoz commented on #15981
Hey @SezalAgrawal Not tested but as a quick hack I think you can set the `EDITOR` environment variable to something simply does nothing before the test. E.g. `echo`. With that, the command would not fail when we run it as `exec.Command(editor, file.Name())`.

[2021-01-03 14:43] isacikgoz commented on #15816
Hey @m3talsmith! Let us know if you need anything, we'd be happy to help :)

[2021-01-03 14:44] isacikgoz commented on #15733
Hey @avinashdhinwa! Let us know if you need anything, we'd be happy to help :)

[2021-01-03 14:44] isacikgoz commented on #15490
Hey @m4ver1k! Let us know if you need anything, we'd be happy to help :)

[2021-01-03 14:45] isacikgoz commented on #15488
Hey @CurtisMIT! Let us know if you need anything, we'd be happy to help :)

[2021-01-03 18:17] SezalAgrawal commented on #15981
Hi @isacikgoz, I was also thinking to use this, but then how can I cover a successful scenario, which edits the config? The function `configEditCmdF` creates a temp file, edits it, removes it. If we were passing a file instance to the function, then I could have mocked the file.

[2021-01-03 18:54] isacikgoz commented on #15981
@SezalAgrawal we don't need to mock the file, we simply want to test if we edit the config and see the response from the server. Actually we can use `sed` as an editor here. We can simply create a script file, assign it to the `EDITOR` variable so that it will be our editor. The file can following lines (this is for macOS btw):

[code]

After that, we can check if the value is changed after the co

[2021-01-03 19:05] haardikdharma10 commented on #16577
I am able to reproduce this. @amyblais, can you confirm is this is a valid issue so I can fix this?

[2021-01-04 04:45] #16418 closed

[2021-01-04 05:56] agnivade opened #16621 "Add goimports lint check to .golangci.yml"
#### Summary
This ticket is about adding the goimports lint check to the repository. The way to go about it would be to add

[code]

in the .golangci.yml file.

And then fix all issues that arise until `make golangci-lint` passes with no errors.

[2021-01-04 06:14] agnivade opened #16622 "Add unparam check to .golangci.yml"
#### Summary

This ticket is about adding the unparam lint check to the repository. The way to go about it would be to add

[code]

in the .golangci.yml file.

And then fix all issues that arise until make golangci-lint passes with no errors.

[2021-01-04 06:25] agnivade opened #16623 "Fix all initialism errors in the codebase"
#### Summary
This ticket is about fixing any variable naming issues that do not follow the initialism convention as laid out in: https://github.com/golang/go/wiki/CodeReviewComments#initialisms.

The way to go about it would be to make the following change to .golangci.yml

[code]

And then fix all issues that arise until make golangci-lint passes with no errors.

[2021-01-04 09:21] SimonSimonB commented on #16623
I'd like to work on this.

[2021-01-04 09:30] agnivade commented on #16623
All yours @SimonSimonB !

[2021-01-04 10:20] mahmud2011 commented on #16621
/assign @mahmud2011

[2021-01-04 12:09] mahmud2011 commented on #16622
Please assign it to me.

[2021-01-04 13:14] agnivade commented on #16621
Awesome!

[2021-01-04 14:48] devinbinnie commented on #13498
@saikrishna014597700 Absolutely!

[2021-01-04 15:12] lieut-data commented on #16518
Hi @haardikdharma10! Partly due to the the holidays, it looks like I missed this message! Thanks, @Hassall for the contribution :)

[2021-01-04 15:15] #16164 closed

[2021-01-04 15:17] amyblais commented on #16577
@haardikdharma10 I haven't tested it but it sounds like a valid issue. Would you like me to assign this to you?

[2021-01-04 15:22] haardikdharma10 commented on #16577
Yes, sounds good:)

[2021-01-04 15:23] lieut-data commented on #16404
@sapnasivakumar, just circling back after the holidays here -- is there anything I can do to help you with this issue?

[2021-01-04 15:27] amyblais commented on #16577
Ticket for reference: https://mattermost.atlassian.net/browse/MM-31625

[2021-01-04 15:30] amyblais commented on #16607
@NgoHuy Are there any additional details about your environment that you could help share, such as your OS and version (https://docs.mattermost.com/process/support.html#general-questions-for-any-issues)?

Also, what steps did you take to upgrade your server?

[2021-01-04 16:15] #16125 closed

[2021-01-04 18:15] #16152 closed

[2021-01-04 18:39] rolwin100 commented on #16204
@esethna I will take this up

[2021-01-04 18:55] amyblais commented on #16579
### v5.30 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.30.0-rc1/mattermost-team-5.30.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/4192/files)

[2021-01-04 21:28] mrbenito commented on #15658
I for one would like to see this. Our users (~6k users) share high resolution images that require they zoom to see. Instead the default functionality downloads the image to their machine where they have to open it in a local image viewer, THEN zoom in.. Typically these images are single use and temporal so they end up junking up the user's computer. FWIW we moved from Rocket.chat which supported t

[2021-01-04 22:21] mickmister commented on #16272
Indeed this seems to be fixed in 5.26. Thanks @rolwin100!

[2021-01-04 22:21] #16272 closed

[2021-01-04 23:54] sapnasivakumar commented on #16404
@lieut-data I need a bit more time on it and will reach out to you in case of any help required
Thank you so much for checking

[2021-01-05 03:27] NgoHuy commented on #16607
I use Debian's buster with latest update.
I upgrade mattermost as documents and the upgrade is working fine. After upgrading, I can use mattermost-server but sometime it reloaded the config, and the config is rollback to default.

[2021-01-05 04:00] mattermod opened #16630 "After installing a plugin from the admin console, the plugin settings are not shown until refresh"
After uploading a plugin from the system console, the admin can manage the plugin from the same page. They are given three options to `Enable` the plugin, `Remove` the plugin, or change `Settings`. There is a known bug that the `Settings` option does not show after uploading the plugin, until the admin refreshes the page. This may have been fixed as the issue is not occurring on master now.

Below

[2021-01-05 05:54] haardikdharma10 commented on #16630
Can someone help me with the files involved here and roughly how to go about it?

[2021-01-05 06:11] mickmister commented on #16630
@DHaussermann I'm not seeing this happen on master. Is it possible that this issue was addressed already?

[2021-01-05 06:19] mickmister commented on #16630
@haardikdharma10 This bug may have already been fixed, as I'm not seeing it on master. I've updated the description with more details about the issue

[2021-01-05 10:14] ansash commented on #16607
Same here - with complete output:
Linux server 4.19.0-13-amd64 #1 SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
Debian Release 10.7
postgresql-13/stretch-pgdg,now 13.1-1.pgdg90+1 amd64
Mattermost Release 5.30.1
direct Installation
Updated according to manual : https://docs.mattermost.com/administration/upgrade.html
immediatly after command execution the example config is restored and restart

[2021-01-05 13:19] lieut-data commented on #16394
Thanks, @JeremyShih!

[2021-01-05 13:19] #15761 closed

[2021-01-05 13:20] lieut-data commented on #15761
Thanks again, @SBagaria2710!

[2021-01-05 14:42] DHaussermann commented on #16630
@mickmister I can't reproduce this issue where `settings` is missing until refresh locally, but I can repro this issue on https://mysql.test.mattermost.com which is running an RC for 5.31. I notice this server is running in HA but I'm not sure if that could be related?

[2021-01-05 16:16] hmhealey commented on #16544
@darkLord19 Does that issue still reproduce on community? I'm not seeing that issue myself, but we're on a newer build on community now

[2021-01-05 16:45] mattermod opened #16636 "Allow collapsing in-line images over 100px in height"
Original report: [https://github.com/mattermost/mattermost-server/issues/9451](https://github.com/mattermost/mattermost-server/issues/9451)

This ticket is to introduce the ability to collapse inline images. Users can currently create inline images using syntax:

[code]

**Proposed functionality:**

  * Any inline image >= 100 px in height displays a collapse/expand arrow on hover. Collapsing the

[2021-01-05 19:37] haardikdharma10 commented on #16601
Hi @agnivade, just a question here,

How do i go about exposing this setting and how to create a cypress test? Thanks for your time:)

[2021-01-05 21:21] IndushaS commented on #10232
Hello @esethna, I'd like to try and work on this.

[2021-01-05 21:34] jasonblais commented on #10232
Thanks @IndushaS! :tada:

[2021-01-06 04:25] agnivade commented on #16601
Have a look at `components/admin_console/database_settings.jsx`. You should get an idea.

To add a Cypress test, see the documentation here: https://developers.mattermost.com/contribute/webapp/end-to-end-tests/, and also take a look at the PRs under this directory: https://github.com/mattermost/mattermost-webapp/commits/master/e2e/cypress.

[2021-01-06 05:22] AkromDev commented on #15904
I would be happy to work on this if this is still open and unassigned?

[2021-01-06 14:03] koox00 commented on #15904
I see it's _Up For Grabs_ so, I'd like to take this on

[2021-01-06 15:51] hmhealey commented on #16514
No, that PR is about positioning the autocomplete relative to where the user is typing, but this ticket is about updating the emoji autocomplete to look more like the ones for at-mentions and such.
<img width="543" alt="Screen Shot 2021-01-06 at 10 47 40 AM" src="https://user-images.githubusercontent.com/3277310/103788588-ff6b8c00-500c-11eb-8cc4-e6d06fe27a09.png">
<img width="540" alt="Screen Shot

[2021-01-06 16:11] #16122 closed

[2021-01-06 16:56] mickmister commented on #16630
Closing until reproduction steps are solidified

[2021-01-06 16:56] #16630 closed

[2021-01-06 22:39] #16211 closed

[2021-01-07 12:25] #15473 closed

[2021-01-07 14:11] #16596 closed

[2021-01-07 14:23] #16327 closed

[2021-01-07 14:23] amyblais commented on #16327
Scheduled for v5.32 (February 16th) release

[2021-01-07 17:12] #16621 closed

[2021-01-07 19:51] mahmud2011 commented on #16622
Should I just ignore the errors using blank identifier `_` or rm unused params from function signatures and rm the arguments?

For instance:
[code]

Here `allowFromCache` is unused.

**Case 1:**
[code]

**Case 2:**
[code]

[2021-01-08 03:17] agnivade commented on #16622
Yes, please use _ where it's necessary to maintain the function signature. In this case, ChannelStore is an interface, so we need to do that.

[2021-01-08 05:16] mahmud2011 commented on #16622
In case of methods which doesn't have to satisfy an interface?

[2021-01-08 05:17] agnivade commented on #16622
Go ahead and remove them. But leave out the model package. We can take a look at it case-by-case in the PR.

[2021-01-08 07:45] joho1968 opened #16646 "Potential OAuth2 issue, allow/deny, and callback"
#### Summary
Odd OAuth2 behavior when user selects "Deny" on authorization prompt

#### Steps to reproduce
Mattermost Server 5.30.1

1. Use an OAuth2 client (in this case, I'm writing my own)
2. Select to authenticate via Mattermost
3. Mattermost login is displayed
4. Entere credentials
5. Mattermost displays prompt, Allow/Deny
6. Select Deny
7. Control is returned to OAuth2 client
8. Repeat; this

[2021-01-08 11:57] ThiefMaster commented on #16646
Remembering a "deny" choice in an oauth consent prompt seems like a very bad idea.

Those prompts are pretty much *always* triggered by a user action - clicking "login with mattermost", accessing a protected site that immediately redirects to oauth login, etc. - and regardless of the reason you denied the request (misclicked, decided to not login with mattermost at that time), there's simply no re

[2021-01-08 13:26] joho1968 commented on #16646
Fair enough. But I would expect, at the very least, that Mattermost instead present the prompt again then, which it does not do. I suspect the reason it does not do that is because I'm effectively already logged in to Mattermost since the prompt appears after the login. So regardless of how Mattermost handles this going forward, it's quite broken now (IMHO) since it puts the prompt out of order if

[2021-01-08 13:30] ThiefMaster commented on #16646
Yes, that's what I meant - IMHO "deny" should not store anything, so when you try again you get the prompt again.

[2021-01-08 18:43] OndrejGl opened #16647 "Syntax-highlited quote shows the type of syntax over the text"
#### Summary
Syntax-highlited quote shows a box with type of syntax over the quoted text, when the text is over the whole width of the text window.

#### Steps to reproduce
Send message as:
\``` bash
for f in $(find /mnt/scratch03/tmp/yyyyyyyy/voxceleb2020/v2_dur600_fbank64_v3/egs/voxceleb2_dev_orig_with_aug_no_sil.TRN -name "egs.*.ark"); do x=$( (LD_LIBRARY_PATH=/mnt/matylda4/yyyyyyyyyyyy/usr/cud

[2021-01-08 18:44] OndrejGl commented on #16647
Screenshot:
<img width="651" alt="Screen Shot 2021-01-08 at 15 12 00" src="https://user-images.githubusercontent.com/62648721/104052361-e53ad500-51e9-11eb-811f-4f159e88a613.png">

[2021-01-08 19:33] amyblais commented on #16647
Opened a ticket: https://mattermost.atlassian.net/browse/MM-31872

[2021-01-10 14:41] mthaddon opened #16658 "Easier method for allowing admins to include custom themes"
#### Summary
This is a feature request for an easier method for admins to include custom themes.

#### Steps to reproduce
Currently deploying a Mattermost instance with custom themes (for instance, company-branded colours) requires manually patching https://github.com/mattermost/mattermost-webapp.

#### Expected behavior
Admins should be able to deploy Mattermost and specify custom themes in place

[2021-01-10 21:09] D0d0 commented on #13224
Hey @KerimG,

I am aware that this is an old issue, but were you able to solve it?

[2021-01-10 23:34] amyblais commented on #16658
Thanks, appreciate your feedback @mthaddon,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and w

[2021-01-11 07:28] darkLord19 commented on #15247
I had the chance to work on this issue and after starting to implement we hit a roadblock that Ristretto doesn't have some functionality which is required for mattermost-server. So, we had decided to test another LFU cache library github.com/bluele/gcache.(see discussion on #16093)

After testing with LFU cache algorithm I didn't see any significant improvements and in most cases current LRU imple

[2021-01-11 07:42] agnivade commented on #15247
Thank you @darkLord19 for the hard work ! Closing this.

[2021-01-11 07:42] #15247 closed

[2021-01-11 08:13] diolwe commented on #16607
Same here on Debian 9. Mattermost 5.30.1 resets its config.json and insists on using postgresql (instead of mysql). It happend right after upgrade and also after reboot. Copying the original config.json back into /opt/mattermost/config/ helps.

mysql-server 5.7.32-1debian9
nginx 1.10.3-1+deb9u5

Version: 5.30.0
Build Number: 5.30.1
Build Date: Fri Dec 18 13:07:15 UTC 2020
Build Hash: 25659c5b436aa

[2021-01-11 08:15] mthaddon commented on #16658
I've posted this as https://mattermost.uservoice.com/forums/306457-general/suggestions/42401788-easier-method-for-allowing-admins-to-include-custo.

[2021-01-11 08:15] NgoHuy commented on #16607
I see that workaround: disable configwatch

[2021-01-11 08:19] diolwe commented on #16607
Thank you for that speedy reaction ... where did you set this?

[2021-01-11 08:21] NgoHuy commented on #16607
@diolwe set it in service file with option `--disableconfigwatch`

[2021-01-11 08:23] diolwe commented on #16607
@NgoHuy Thanks again! I think I now found it on

https://docs.mattermost.com/administration/command-line-tools.html?highlight=disableconfigwatch

[2021-01-11 12:16] ansash commented on #16607
Looking deeper into the logs I found only errors to plugins - in special the new incident management.
However - having no license brings up errorcodes which might lead the config watcher to reset the config:
{"level":"error","ts":1610361874.1448388,"caller":"app/plugin.go:831","msg":"Failed to install prepackaged plugin","path":"/opt/mattermost/prepackaged_plugins/mattermost-plugin-incident-manage

[2021-01-11 12:27] sphuber commented on #13652
Just want to report that I think I experienced a similar problem. I setup a Mattermost server with v5.30.1 and configured my SMTP server details but got  the following error:
[code]
Setting the key `EmailSettings.FeedbackEmail` to the same value as that of `EmailSettings.SMTPUsername` fixed the problem for me.

[2021-01-11 12:36] TheDarkestDay commented on #16636
I would like to take this one if you don't mind.

[2021-01-11 13:03] amyblais commented on #16658
Awesome, thank you!

[2021-01-11 13:03] #16658 closed

[2021-01-11 14:44] Taffer opened #16662 "Upgraded to 5.30.1 from 5.21.0, numerous (database?) problems"
#### Summary
Mattermost 5.30.1 can't reply to posts, can't edit posts, and loading channels is extremely slow or fails.

#### Steps to reproduce

1. Upgrade from 5.21.0 to 5.24.1, 5.25.1, or 5.30.1.
2. Reload clients. Desktop clients, mobile clients, web clients, all exhibit the same behaviour.
3. Attempt to load a channel, any channel. If it doesn't leave you on "Loading..." indefinitely, it will

[2021-01-11 16:04] streamer45 commented on #16662
Hi @Taffer,

It looks like you are experience some serious performance issues. I am assuming that before the upgrade everything was working smoothly.

To help debugging this further, I have a couple of requests:

- How big is your database? Number of posts/channels/teams/users will do.
- Does the PostgreSQL instance run alongside the Mattermost server? (e.g. on the same machine)
- Can you please s

[2021-01-11 16:07] #12475 closed

[2021-01-11 16:30] mattermod opened #16664 "Increase default max file size to 100Mb"
Increase "MaxFileSize" to 100Mb by default for new instances (currently it's 50Mb). This comes up a lot in NPS feedback

Note: Please check the NGINX configuration documentation for the file size limitations as that may also need to be updated

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets)

[2021-01-11 16:30] Taffer commented on #16662
Just ran `mattermost integrity --verbose`:

[code]

[2021-01-11 16:34] Taffer commented on #16662
I'll post num posts/channels/teams/users if the System Console manages to pull the info. No luck so far... There's one team and ~50 active users.

PostgreSQL is running on the same VM. There appears to be no memory or CPU pressure at all (~800MB used of 12GB RAM, CPU usage around 7% for each of the six cores).

`SqlSettings` block:

[code]

[2021-01-11 16:42] Taffer commented on #16662
Per command-line tools, 188 public channels. Stats in the System Console won't load, although it was able to pull enough data to draw the graphs for Total Posts, etc.

[2021-01-11 17:12] TheDarkestDay commented on #16636
For me both of these Figma links lead to nowhere - perhaps I have insufficient permissions or something like that.

[2021-01-11 17:28] w4rc0n opened #16665 "Reddit links no long previewing"
#### Summary
Reddit links are not previewing any longer.

#### Steps to reproduce
Mattermost 5.30.0
Attempt to link to a reddit post in Mattermost.

#### Expected behavior
A preview box should appear when linking to a reddit post.

#### Observed behavior (that appears unintentional)
No preview is displayed.

[2021-01-11 17:46] streamer45 commented on #16662
@Taffer

Thanks. Everything seems to be pointing at a database issue.

Did anything change on the database side since you upgraded?
It looks like it's timing out at 30 seconds, as defined by `SqlSettings.QueryTimeout`. It should never get to such high query times especially since there's no apparent load on it.

Are you able to run a few queries directly on the DB? If so can you paste the output o

[2021-01-11 19:08] amyblais commented on #16665
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-31899

[2021-01-11 19:09] amyblais commented on #16636
FYI @matthewbirtch

[2021-01-11 19:23] haardikdharma10 commented on #16664
Hi @amyblais, I will work on this:) Also a question, I think changing the default file size in `model/config.go` from 50Mb to 100Mb will do the job, right? Thank you!

[2021-01-11 19:31] amyblais commented on #16664
I don't know, but you can [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server where you can discuss questions. For technical advice or questions, please  [join our "Developers" community channel](https://community.mattermost.com/core/channels/developers).

[2021-01-11 19:42] matthewbirtch commented on #16636
Apoligies @TheDarkestDay. I forgot to change it to a public file. Should be good now: https://www.figma.com/file/GLJNWGOW1OMfK4QykcL915/MM-12290-Collapse-Markdown-Images?node-id=0%3A1

[2021-01-11 19:45] ansash commented on #16607
using "--disableconfigwatch" within scripts does not help in my case

[2021-01-11 19:48] agnivade commented on #14407
Hello @nandhithakamal - how is it going with this one? Let us know if we can help in any way.

[2021-01-11 19:56] Taffer commented on #16662
Can confirm, it's timing out at the `QueryTimeout` setting.

Database hasn't changed other than to install patches; I've been afraid of migrating to PostgreSQL 12 because it might break something and we really depend on Mattermost while working from home.

`EXPLAIN ANALYZE SELECT COUNT(Id) FROM Posts;` doesn't seem able to complete (!). Our Posts table appears to be around 83GB.

I can't seem to s

[2021-01-11 20:17] Taffer commented on #16662
Somehow, the mobile app can switch channels quickly. It can't do replies or Edit (Edit says "Received invalid response from the server." after a moment).

[2021-01-11 20:36] haardikdharma10 commented on #15623
Hi @Willyfrog, I'll work on this ticket:)

[2021-01-11 22:20] jp0707 commented on #15906
I would like to work on this. Are there any docs explaining current email rendering infra? Could someone give me couple of pointers to the appropriate code for rendering emails locally?

[2021-01-11 22:25] esethna commented on #15975
Hi @kishore007k, happy new year! Are you still working on this issue or should I reopen it for someone else?

[2021-01-11 23:40] esethna commented on #15658
@mrbenito can you share an example of an image for testing purposes?

[2021-01-11 23:47] esethna commented on #10232
Yay, thanks @IndushaS. How's this going, need any help or guidance?

[2021-01-12 00:08] esethna commented on #15906
Thanks @jp0707!
@hmhealey can you help provide any guidance here or point us to another dev with knowledge in this area?

[2021-01-12 00:09] esethna commented on #15906
Or @matthewbirtch do you know what dev worked on the cloud emails that could provide some guidance here?

[2021-01-12 02:32] xuanvi26 commented on #16145
Hi, I'd like to work on this!

[2021-01-12 02:49] NgoHuy commented on #16607
you can disable plugins too

[2021-01-12 03:58] kishore007k commented on #15975
hi @esethna I was working on this issue but now I've got my semester exams going on and it might take some time. So i can't working on this

[2021-01-12 04:50] haardikdharma10 commented on #15843
Hey @Willyfrog, question here, how should [this.state.theme] be converted?

`this.this.StateThemeRef = React.createRef();`

Is this the correct approach to do it, if not then please can you help me with it?:)

[2021-01-12 08:41] agnivade commented on #16662
If I have to guess, my money would be on the fact that the schema migration hasn't worked properly. And some indexes, that were supposed to be applied, didn't get applied.

Can you show us a `pg_dump` of the current schema of your database?

[2021-01-12 08:52] agnivade opened #16674 "Fix empty string comparison issues in the codebase"
We have a new vet check called emptyStrCmp contributed by @darklord19 which flags empty string comparisons using `len()` function, rather than doing a simple comparison with `""`.

This issue is about fixing all those issues, and enabling that check in the codebase.

To do this, please apply this change in the Makefile. Run `make vet`, and fix all the issues.

[code]

[2021-01-12 10:15] madhavhugar commented on #16674
I would like to work on this. Please assign this to me :)

[2021-01-12 10:34] PokeMMO opened #16676 "Android App v1.38.1 doesn't call /api/v4/users/sessions/device"
#### Summary

Android app v1.38.1 does not register device.

#### Steps to reproduce

Logging into a server with the v1.38.1 Android does not receive push notifications, but the "Test Push" notification button works.
I am using Gitlab as SSO, and am not sure if this is relevant.

#### Expected behavior

The android app should call `/api/v4/users/sessions/device` and start receiving push notificati

[2021-01-12 13:00] Taffer commented on #16662
Certainly:

[code]

[2021-01-12 13:41] amyblais commented on #16676
Thank you, we have submitted a fix for this https://github.com/mattermost/mattermost-mobile/pull/5104 and are currently testing it for the next mobile app release,

[2021-01-12 13:41] #16676 closed

[2021-01-12 14:36] agnivade commented on #16662
Okay, schema looks good to me. I see one extra column `acceptedtermsofserviceid character varying(64) DEFAULT ''::character varying` though.

Next, I would like to take a look at your postgres config. You mentioned that you are unable to set `shared_buffers` above 256MB? It might be because of your shmmax setting. If that's too low, we might need to bump it:

[code]
And then try bumping the `share

[2021-01-12 14:43] #16126 closed

[2021-01-12 15:01] tsipizic opened #16678 "Unknown column 'UnreadMentions'"
#### Summary
We are getting the error
"Error 1054: Unknown column 'UnreadMentions' in 'field list'"
in the logs. Upon inspection in the database the ThreadMemberships table does not contain this column although it was supposed to be added in version 5.29.1. We are now running version 5.30.1 and the problem still persists. The database schema version is at 5.30.0.
#### Steps to reproduce
We updated

[2021-01-12 15:07] agnivade commented on #16607
@ansash - you mentioned that `--disableconfigwatch` did not work for you. But your earlier comment mentions:

Can you clarify as to the current behavior you are seeing? Also, it might be a good idea to remove the incident management plugin if you don't have an E20 license.

[2021-01-12 15:15] mattermod opened #16680 "Webhook profile popover missing when viewed on the RHS"
Environment: master and release. Found during PR testing.

Steps:
1) Add an incoming webhook
2) Post
3) Open the webhook post on the RHS
4) Click on webhook name to view profile popover (the name, not the profile pic / icon)

Expected: Profile popover opens

Actual: Profile popover does not open when webhook post is viewed on the RHS thread or search results. Profile popover for webhook opens on t

[2021-01-12 15:17] Taffer commented on #16662
`kernel.shmmax` and `kernel.shmall` are set to `18446744073692774399` each; AFAIK that means "unlimited".

I'll try adjusting Postgres based on those docs, I probably originally ignored them because I wasn't setting up a cluster.

[2021-01-12 15:20] cpoile commented on #15773
@lieut-data Not relevant anymore -- this was fixed in the refactoring PR.

[2021-01-12 15:21] lieut-data commented on #16318
@crspeller, I'm wondering if we should hit pause on this issue given the planned changes around stages. Thoughts?

[2021-01-12 15:21] lieut-data commented on #16401
@arjunagl, is there anything I can do to help you with this issue?

[2021-01-12 15:22] lieut-data commented on #16405
@jakubnovak998, are you still interested in tackling this issue? Anything I can do to help?

[2021-01-12 15:22] lieut-data commented on #15773
Thanks @cpoile, and thanks for kick-starting investigation into this issue @avinashdhinwa :)

[2021-01-12 15:22] #15773 closed

[2021-01-12 15:42] crspeller commented on #16318
Yes. This is removed by https://github.com/mattermost/mattermost-plugin-incident-response/pull/421
Sorry for the churn @bjorge82

[2021-01-12 15:42] #16318 closed

[2021-01-12 15:50] ansash commented on #16607
the incident management plugin is disabled. just matterpoll and channel export are activated and active.

[2021-01-12 16:34] agnivade commented on #16607
Thanks. So to clarify, after applying `--disableconfigwatch` and disabling the plugin, you are still seeing the issue?

- Can you post the server DEBUG level logs when you start the server?
- Do you know what is the difference in changes that the server writes to the file?
- This maybe a long shot, but are you sure there is no other process writing to the file?

[2021-01-12 17:00] mattermod opened #16682 "Gif picker empty when no results are displayed"
Steps to reproduce:
- open up the emoji picker
- click on the gifycat tab
- type in a string that you know wont produce any results “astringwithnomatch”

Expected: The same no results image displays as in the emoji picker
![image](https://user-images.githubusercontent.com/3277310/104347710-eeb88b80-54ce-11eb-9634-4d40332968b4.png)

Observed: A blank space is shown
![image](https://user-images.gith

[2021-01-12 17:22] koox00 commented on #15853
I would like like to take this on!

[2021-01-12 17:24] nevyangelova commented on #15853
Great @koox00 its all yours 🎉  If you could add me as a reviewer when you submit your PR that would be great. Make sure to join https://community.mattermost.com for any questions you might have :)

[2021-01-12 17:55] Taffer commented on #16662
Again, I should point out that this config worked fine with MM 5.21.0 and failed when upgrading to 5.24.1 originally, so I'm thinking it's something in the code. Hopefully the releases are tagged so I can see what changed...

[2021-01-12 18:03] amyblais commented on #16678
@reflog Would you know what the issue might be?

[2021-01-12 18:08] streamer45 commented on #16662
So you are saying that performance started worsening as soon as it got to 5.24.1?
We can definitely help looking into what might have changed code-wise that could have resulted in such issues.
I am thinking a simple performance comparison between the two release should show something if the issue is indeed caused by the application.

[2021-01-12 18:29] streamer45 commented on #16662
That's a pretty significant table size. Do you have an estimate on how many posts it might have? Several millions I am thinking.

I'd definitely start from disabling the post counting queries. Can you make sure the following config values are set to `false`?

- `AnnouncementSettings.AdminNoticesEnabled`
- `AnnouncementSettings.UserNoticesEnabled`
- `LogSettings.EnableDiagnostics`

[2021-01-12 19:07] esethna commented on #15975
No problem @kishore007k, I will reopen the feature up for grabs

[2021-01-12 19:46] ansash commented on #16607
Sure - following comes the output for a dimple user add. I am not aware of changes, the new file is the mattermost default. The implementation is just running - no other jobs or tasks or other admin users.
{"level":"info","ts":1610480505.291917,"caller":"config/watcher.go:62","msg":"Config file watcher detected a change","path":"/opt/mattermost/config/config.json"}
{"level":"info","ts":1610480505.

[2021-01-12 19:58] ansash commented on #16607
and the mattermost.log of the serverprocess start:
{"level":"info","ts":1610481061.6837168,"caller":"app/server.go:226","msg":"Server is initializing..."}
{"level":"info","ts":1610481061.6861353,"caller":"app/web_hub.go:83","msg":"Starting websocket hubs","number_of_hubs":2}
{"level":"debug","ts":1610481061.729013,"caller":"app/web_hub.go:413","msg":"Hub is starting","index":0}
{"level":"debug","t

[2021-01-12 21:02] matthewbirtch commented on #15906
@nickmisasi has worked a fair bit on emails for Cloud. Just a note though, the email updates here aren't in cloud yet. The cloud emails might be a good starting point though

[2021-01-12 21:19] esethna commented on #15906
Thanks. @nickmisasi would you be able to provide some guidance here for @jp0707 that help get her started implementing these email UI updates as per her comment above?

[2021-01-12 21:33] nickmisasi commented on #15906
@esethna Sure, I'll provide some detail below. Love the idea of using the framework for these, as I think it'd be super helpful (emails are annoying to get to look proper in all clients, and then having them be responsive is even harder). However, I think there would need to be some input from core teams into how we implement that framework into our core product.

@jp0707 you can find all of our e

[2021-01-12 21:41] arjunagl commented on #16401
thanks @lieut-data due to the vacation, I could not spent much time on this, I have started tinkering with this item this week.  So far I'm ok, will reach out if I need help.

[2021-01-12 22:05] #16128 closed

[2021-01-12 22:15] mattermod opened #16683 "RN: Return users to the login screen after session expiry or invalid session"
Instead of kicking the user back to the Enter Server URL screen when the session expires or is invalid , we should instead return them to the login screen to make it easier for the user to reauthenticate or try again.

This would be especially impactful for servers with short session lengths and extending sessions disabled.

We should also consider adding a error banner "Session expired. Please lo

[2021-01-12 22:30] mattermod opened #16684 "RN: Mention Highlight Link Color not being used properly"
As reported in [this ticket](https://github.com/mattermost/mattermost-mobile/issues/5081), the mobile app doesn't appear to be using the `mentionHighlightLink` theme color for posts that have mention highlights in them. It seems to be using the `linkColor`instead.

The only place this theme color seems to be used is in the post component with highlighted username mentions.

Types of highlights to

[2021-01-12 22:39] #16683 closed

[2021-01-13 00:03] balan2010 commented on #15945
Hi! I can work on this

[2021-01-13 00:09] balan2010 commented on #16076
Hi ! I would like to work on this :)

[2021-01-13 03:20] a-c-sreedhar-reddy commented on #14478
Hi @amyblais I might not be able to work on this. Can you please unassign me so that it would be open for others?

[2021-01-13 03:21] a-c-sreedhar-reddy commented on #15977
Hi @esethna @amyblais I might not be able to work on this. So can you please unassign me so that it would be open for others?

[2021-01-13 04:19] agnivade commented on #16607
Ok, so I think the problem is coming from the user addition. As you can see, the user addition is still running without the `--disableconfigwatch` flag. Therefore, it's responding to changes.

I would suggest you use [mmctl](https://docs.mattermost.com/administration/mmctl-cli-tool.html) for any CLI based interaction with the server. It uses the REST API and is a better alternative than the matter

[2021-01-13 09:13] edhil commented on #10923
I agree.
I'm currently looking for deploying a self-hosted git service, but my dev team definitively want also mattermost integration, so that would lead me to choose gitlab, whereas I would go with gitea if I could.

[2021-01-13 10:11] reflog commented on #16678
@amyblais there appears to be a problem with merge on upgrade.go that caused the new column not to be added.
I'll prepare the PR, but can you advise where should it be cherry picked?

[2021-01-13 10:17] TheDarkestDay commented on #16636
Hey, guys, just a small clarification here.

This ticket describes inline image syntax in the following way: `\!\<GIF>(gif_url)`.
On the other hand, it mentions original user report where the same syntax for embedding inline images is described as simple as `![image_caption](image_link)`.

Is there some discrepancy between descriptions or am I missing something?

[2021-01-13 12:54] Taffer commented on #16662
We have approximately 80 million posts, I got a `select count(*) from Posts;` to complete yesterday.

I'm going to try reverting to 5.21.0 today, then upgrading through the releases until I can pinpoint exactly which one makes our setup go haywire. I was looking through diffs from 5.21.0 to 5.24.1 yesterday and didn't see anything useful, but I don't know the code base at all.

I'll make sure thos

[2021-01-13 13:03] Taffer commented on #16662
Basically no change in behaviour, so I'm off to start reverting to 5.21.0; I'll report back with my results.

[2021-01-13 14:15] #14493 closed

[2021-01-13 14:23] lieut-data commented on #14493
Thanks again @yukiisbored -- sorry this took so long to get merged.

[2021-01-13 15:42] Taffer commented on #16662
Reversion to 5.21.0 successful; I looked through diffs of the database schema between my problematic server and a fresh, clean install of 5.30.1 and they're virtually identical (one extra column in one table in the legacy db) so I felt much safer.

Verified that 5.21.0 is working correctly in our setup. 👍 There was great rejoicing.

Upgraded to 5.22.1... replies (and presumably edits, we didn't te

[2021-01-13 15:45] streamer45 commented on #16662
Thank you @Taffer, that's extremely helpful information. We'll have someone take a loop at this asap.

[2021-01-13 15:59] Taffer commented on #16662
The 5.21.0 -> 5.22.1 `diff -ru` for Mattermost is almost 10MB, I'm hoping a lot of that is just noise. 😄

[2021-01-13 16:02] agnivade commented on #16662
Wow, this is great stuff @Taffer ! Thank you for taking the time to bisect it. So IIUC, the performance drop began in 5.22.1 and then never improved until 5.30.1. Is that accurate?

[2021-01-13 16:24] TheDarkestDay commented on #16636
Should we also add some slight hover effect for collapse button itself to give it some feel of interactivity?

[2021-01-13 17:04] agnivade commented on #16662
I just remembered a similar issue that some people saw when upgrading to 5.22 here: https://github.com/mattermost/mattermost-server/issues/14780. OP reported that upgrading to 5.24.2 solved it for them. But this is probably something else since even 5.24 did not work for you.

[2021-01-13 17:42] mahmud2011 commented on #16622
Clarification required.

[code]

Either we need to create a test case with any other `expectedStatus` except `http.StatusNotFound` or rm the `expectedStatus` from function signature.

Similar case:
[code]

[2021-01-13 17:46] #16262 closed

[2021-01-13 17:51] agnivade commented on #16622
You can remove them.

[2021-01-13 18:37] ansash commented on #16607
I have worries/troubles using a beta tool instead of an work-proven one. If wanted I'll provide logs with the plugins excluded - though i'm missing the purpose. As I am not into the code of an "user add" - I am wondering about implications with plugins.
My goal is to have an error resolved of something not working and I will provide everything needed.

[2021-01-13 19:29] agnivade commented on #16607
Ok, so IIUC, this config reset is only happening when you create a user using the CLI, and just running the Mattermost server does not cause the issue?

If that's the case, can you please show us the full command that you are running? We have seen this happen if the user running the binary is different than the user owning the mattermost directory. If the user running the command is not "mattermos

[2021-01-13 21:00] mrbenito commented on #15658
Sure. Here's a recording to also show context. https://www.loom.com/share/46f952f650df4be4b7fff6bc872ff0b1
Here's the image seen in the recording.
![Image Pasted at 2021-1-13 14-34](https://user-images.githubusercontent.com/5737267/104509962-74643600-55b8-11eb-986f-5a0de767c9b2.png)

[2021-01-13 23:27] amyblais commented on #14493
Ticket for reference: https://mattermost.atlassian.net/browse/MM-31988

[2021-01-14 00:46] hmhealey commented on #16517
Thanks everybody for your reports on this, and extra thanks for helping test out the new sidebar.

I finally had a chance to dig into this, and it was indeed caused by leaving a team with a DM in a custom category while the server was using a Postgres database. I don't entirely know why the DELETE FROM statement deleted rows that weren't returned by an equivalent SELECT query, but I made the new c

[2021-01-14 05:15] dimgord commented on #16500
@amyblais sorry for delay, missed your comment.  Business app eats up my ios battery, usage - > 70% daily :/

[2021-01-14 11:07] Willyfrog commented on #15843
hello @haardikdharma10 and thanks for taking a look at this one.

i've been looking through the code and seems these references are no longer being used, so I'd just delete the code around those and test that everything keeps working the same. Would that be ok with you?

[2021-01-14 11:46] haardikdharma10 commented on #15843
Yes @Willyfrog, that sounds good!

[2021-01-14 13:54] Taffer commented on #16662
Yeah, the performance has been abysmal for every version since 5.21.0 that I've tried (granted, only four of the released versions in there).

[2021-01-14 14:04] Taffer commented on #16662
Just for yucks, `select count(*) from posts;` gives me the result in about 13 *minutes*.

[code]

gives roughly the same result in 113ms; it's not going to be completely accurate, but it's good enough for the system console's # of posts statistic.

Arcane SQL provided by one of my co-workers, I have no idea what I'm doing. ;-)

[2021-01-14 15:01] matthewbirtch commented on #16636
@TheDarkestDay yep, good call. I'll add that to the Figma file

[2021-01-14 15:28] Willyfrog commented on #15843
sorry! i meant to remove entirely, I don't think we are using that

[2021-01-14 17:22] hmhealey commented on #15012
Is anyone on Mattermost 5.30 or newer able to still reproduce this issue? We made some decent performance fixes, particularly for users with a large number of channels and when typing in the RHS, in that release, so this problem might be resolved now.

[2021-01-14 17:40] ChristianCiach commented on #15012
@hmhealey The issue has been solved for me in the meantime. Unfortunately, I am not the one in charge of our mattermost installation, so I cannot tell you when our IT department installed which versions of mattermost - or if something else has been changed that resolved this issue.

[2021-01-14 17:42] matthewbirtch commented on #16636
Figma file now shows hover state for the expand button: https://www.figma.com/file/GLJNWGOW1OMfK4QykcL915/MM-12290-Collapse-Markdown-Images?node-id=157%3A11252

And the collapse button: https://www.figma.com/file/GLJNWGOW1OMfK4QykcL915/MM-12290-Collapse-Markdown-Images?node-id=123%3A14784

And here's the prototype: https://www.figma.com/proto/GLJNWGOW1OMfK4QykcL915/MM-12290-Collapse-Markdown-Image

[2021-01-14 19:02] esethna commented on #15658
Got it, super helpful @mrbenito! This improvement covers exactly this to give users zoom controls and expand the preview modal functionality. We'll be working on this soon if it's not picked up by a contributor before that

[2021-01-14 19:56] amyblais commented on #16500
@dimgord

Would you consider upgrading your server version to a more recent version to see if it helps with using the Business app? You could optionally do some testing on our [community server](https://community.mattermost.com/core/channels/release-checklist) which is on the latest version.

As for the bug report, are you able to swipe to get out of the preview screen?

[2021-01-15 11:41] #16579 closed

[2021-01-15 13:02] matthiss opened #16703 "No close/back button in permanent link media preview"
#### Summary
No "close" or "back" button when viewing photos or videos shared as public links.

#### Steps to reproduce
Mattermost version 4.5.4
Mattermost Version: 5.29.1
Database Schema Version: 5.29.0
Database: postgres

1. share photo in chat
2. click photo to preview -> X for closing appears in upper right corner
![mattermost_correct_preview](https://user-images.githubusercontent.com/10980315

[2021-01-15 13:33] amyblais commented on #16703
Opened a ticket https://mattermost.atlassian.net/browse/MM-32039

[2021-01-15 15:30] mattermod opened #16705 "Migrate 'components/mfa/setup' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/mfa/setup` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
-

[2021-01-15 15:30] mattermod opened #16706 "Migrate 'components/mfa/mfa_controller' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/mfa/mfa_controller` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2021-01-15 15:30] mattermod opened #16707 "Migrate 'components/rhs_root_post' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/rhs*root*post` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2021-01-15 15:30] mattermod opened #16708 "Migrate 'components/new_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/new*channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2021-01-15 15:30] mattermod opened #16709 "Migrate 'components/channel_select' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel_select` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2021-01-15 15:30] mattermod opened #16710 "Migrate 'components/copy_url_context_menu' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/copy*url_context*menu` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2021-01-15 15:30] mattermod opened #16711 "Migrate 'components/convert_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/convert*channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2021-01-15 15:30] mattermod opened #16712 "Migrate 'components/channel_members_dropdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*members*dropdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2021-01-15 15:30] mattermod opened #16713 "Migrate 'components/channel_header' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel_header` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2021-01-15 15:30] mattermod opened #16714 "Migrate 'components/edit_channel_purpose_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/edit*channel_purpose*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2021-01-15 15:30] mattermod opened #16715 "Migrate 'components/file_upload' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/file_upload` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2021-01-15 15:30] mattermod opened #16716 "Migrate 'components/permalink_redirector' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/permalink_redirector` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2021-01-15 15:30] mattermod opened #16717 "Migrate 'components/signup/signup_controller' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/signup/signup_controller` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2021-01-15 15:30] mattermod opened #16718 "Migrate 'components/signup/signup_email' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/signup/signup_email` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2021-01-15 15:30] mattermod opened #16719 "Migrate 'components/sidebar_right' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/sidebar_right` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2021-01-15 15:30] mattermod opened #16720 "Migrate 'components/view_image/popover_bar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/view*image/popover*bar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2021-01-15 15:30] mattermod opened #16721 "Migrate 'components/view_image' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/view_image` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2021-01-15 15:30] mattermod opened #16722 "Migrate 'components/latex_block' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/latex_block` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2021-01-15 15:30] mattermod opened #16723 "Migrate 'components/gif_picker/components/InfiniteScroll' to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/gif_picker/components/InfiniteScroll` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js`

[2021-01-15 15:30] mattermod opened #16724 "Migrate 'components/gif_picker/components/SearchGrid' to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/gif_picker/components/SearchGrid` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2021-01-15 15:32] mlbiam opened #16725 "5.30.0 wont start on Kubernetes because config.json is not writable"
#### Summary
When upgrading from 5.29.1 to 5.30.0 mattermost refuses to start because config.json is mounted on a read-only `Secret`, not a writable `PersistentVolume`.

#### Steps to reproduce
1.  Deploy mattermost 5.29.1 to kubernetes using the helm charts with `persistence.data.enabled` and `persistence.plugins.enabled` both set to `false`
2. Update the `image` to 5.30.0

#### Expected behavior

[2021-01-15 15:45] mattermod opened #16726 "Migrate 'components/add_user_to_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/add*user_to_channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `

[2021-01-15 15:45] mattermod opened #16727 "Migrate 'components/permalink_view' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/permalink_view` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2021-01-15 15:45] mattermod opened #16728 "Migrate 'components/invitation_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/invitation_modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2021-01-15 15:45] mattermod opened #16729 "Migrate 'components/file_attachment_list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/file*attachment*list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2021-01-15 15:45] mattermod opened #16730 "Migrate 'components/persist_gate' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/persist_gate` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`

[2021-01-15 15:45] mattermod opened #16731 "Migrate 'components/root' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/root` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
- [ ]

[2021-01-15 15:45] mattermod opened #16732 "Migrate 'components/get_public_link_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/get*public_link*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2021-01-15 15:45] mattermod opened #16733 "Migrate 'components/should_verify_email' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/should*verify*email` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2021-01-15 15:45] mattermod opened #16734 "Migrate 'components/add_groups_to_team_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/add*groups_to_team*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2021-01-15 15:45] mattermod opened #16735 "Migrate 'components/sidebar/sidebar_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/sidebar/sidebar_channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2021-01-15 15:45] mattermod opened #16736 "Migrate 'components/sidebar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/sidebar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
- [

[2021-01-15 15:45] mattermod opened #16737 "Migrate 'components/sidebar/header' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/sidebar/header` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2021-01-15 15:45] mattermod opened #16738 "Migrate 'components/sidebar/header/dropdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/sidebar/header/dropdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `js

[2021-01-15 15:45] mattermod opened #16739 "Migrate 'components/channel_info_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*info*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any

[2021-01-15 15:45] mattermod opened #16740 "Migrate 'components/authorize' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/authorize` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any component

[2021-01-15 15:45] mattermod opened #16741 "Migrate 'components/audit_table' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/audit_table` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any compone

[2021-01-15 15:45] mattermod opened #16742 "Migrate 'components/announcement_bar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/announcement_bar` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any co

[2021-01-15 15:45] mattermod opened #16743 "Migrate 'components/activity_log_modal and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify `components/activity*log*modal` and associated test files.

Below is a checklist of items you should be doing to migrate:

  * \< ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
  * \[ ] Update any components us

[2021-01-15 16:13] hmhealey commented on #15012
As long as something fixed them, that's good at least. Hopefully it's improved for others as well.

[2021-01-15 17:11] TheDarkestDay commented on #16636
Hey, @matthewbirtch , thanks! However, I think there might be some problem with one particular layout - hover effect for collapsed Markdown image (https://www.figma.com/file/GLJNWGOW1OMfK4QykcL915/MM-12290-Collapse-Markdown-Images?node-id=157%3A11252).

The issue is that this highlighted area kinda pops out a little from the main post grid - it does not align with other post elements such as title

[2021-01-15 17:29] amyblais commented on #16703
@matthiss Would you be able to share details on what OS and version you're on? Are you using the mobile browser view?

[2021-01-16 16:53] rolwin100 commented on #16204
@hmhealey I'm still waiting for the PR to be merged

[2021-01-16 18:00] matthewbirtch commented on #16636
ok, that's fine. Why don't we simplify the hover state then so this element doesn't have a background color at all...we can just increase the opacity of the text/icon on hover. I've updated the Figma file to reflect this.

[2021-01-17 05:50] agnivade commented on #16419
Hey @msal4 - how is it going with this one? :) Anything that we can do to help you with?

[2021-01-17 22:11] TheDarkestDay commented on #16636
Right, this should work just fine. Thanks a lot.

[2021-01-18 08:55] ndcroos commented on #16738
Hello, I'd like to work on this issue.

[2021-01-18 09:01] ndcroos commented on #16743
Hello, I'd like to work on this issue.

[2021-01-18 16:30] mattermod opened #16749 "Out-of-office automatic direct message replies sent to each message received from the same person"
Mac/Chrome/community-release (ee*live*bb43e5c00b7fa42169eb45f7b4e38c1118)

Repro:
1. Set "ExperimentalEnableAutomaticReplies" to true in System Console [https://docs.mattermost.com/administration/config-settings.html#enable-automatic-replies-experimental](https://docs.mattermost.com/administration/config-settings.html#enable-automatic-replies-experimental)
2. Go to Account Settings > Notifications

[2021-01-18 17:42] #16517 closed

[2021-01-18 20:00] mattermod opened #16750 "Browser console shows 404s when loading list of Bots"
When navigating to Integrations>> Bots there are 404s showing in the console.

The error seems to occur at `webpack:///./node*modules/mattermost-redux/client/fetch*etag.js`

![](Screen Shot 2021-01-12 at 12.31.41 PM.png|width=200,height=183)

I don't see any functional issues occur when the 404s happen.

This also occurs on cloud production.

----
If you're interested please comment here and come

[2021-01-19 01:48] jp0707 commented on #15906
@nickmisasi : Here's a proof of concept with welcome email: https://github.com/jp0707/mattermost-server/commit/d372e09bc6cb3f3eb766d578f0acabd7823732a2 . The email still lacks style polishing, but this is meant to be proof of concept for mjml + Go templating.

<img src="https://user-images.githubusercontent.com/36148363/104977392-6a35a380-59cd-11eb-9f4a-281afe29fb4e.png" alt="screenshot" height="3

[2021-01-19 02:07] arjunagl commented on #16401
@lieut-data I managed to make some progress on this.  Given is the link to the branch.  Just want to make sure I'm heading in the right direction.  Please have a look and let me know.

https://github.com/arjunagl/mattermost-plugin-incident-management/tree/16401-Archived-Immutable.

[2021-01-19 09:13] merlin8282 opened #16754 "editing a message to one with a command does not behave correctly"
#### Summary
When a message has been sent, editing it to change it to a message with a "command" (like /me) does not execute that command but simply print it.

#### Steps to reproduce
Example:
1st message: " /me maybe found bugz" (notice the trailing whitespace)
Edited message: "/me maybe found bugz"

#### Expected behavior
print "maybe found bugz" as a /me message

#### Observed behavior (that ap

[2021-01-19 10:47] octomike opened #16756 "Running `mattermost version` requires writable config.json"
#### Summary
Running `mattermost version` as unprivileged user fails because config.json is not writable.

#### Steps to reproduce

[code]

#### Expected behavior

Output should print version information.

#### Observed behavior (that appears unintentional)

After the latest upgrade to current ESR our icinga checks fail, because an unprivileged user is trying to figure out the mattermost version b

[2021-01-19 12:47] frezbo commented on #16540
Any maintainers can help me out here? Thanks

[2021-01-19 16:08] amyblais commented on #16754
We have this fix https://mattermost.atlassian.net/browse/MM-30810 (also same as https://github.com/mattermost/mattermost-server/issues/16327) queued for the next release, does this seem like the same issue?

[2021-01-19 18:40] #14436 closed

[2021-01-19 19:46] amyblais commented on #16756
@octomike Would you be open to posting this on our troubleshooting forum here: https://forum.mattermost.org/? Our support team is more active there and can help determine what the cause of the issue is.

[2021-01-19 19:46] amyblais commented on #16725
@mlbiam Would you be open to posting this on our troubleshooting forum here: https://forum.mattermost.org/? Our support team is more active there and can help determine what the cause of the issue is.

[2021-01-19 19:53] mlbiam commented on #16725
done - https://forum.mattermost.org/t/5-30-0-wont-start-on-kubernetes-because-config-json-is-not-writable/11126

[2021-01-19 20:05] amyblais commented on #16540
@frezbo Would you be open to posting this on our troubleshooting forum here: https://forum.mattermost.org/? Our support team is more active there and may be able to help determine what the solution could be here. I've asked our dev team to take a look at this a couple times but I haven't received feedback.

[2021-01-20 03:15] #16664 closed

[2021-01-20 04:51] agnivade opened #16761 "Implement a goimports -local check via mattermod"
We would like to enforce the `-local=github.com/mattermost/mattermost-server/v5` flag using goimports in our repository. But there are some roadblocks with implementing this step easily for new contributors. The `-local` flag needs to be configured for this repository in particular, which might not be a very great contributor experience.

However, we can implement this check via [mattermod](https:

[2021-01-20 06:58] beanhacker opened #16762 "can not access localhost:8065 on windows version."
hi,
   i compiled windows version of mattermost server, and add config file as config.json in attachment.
   then i run the server, err.log in attachment also.

[err.log](https://github.com/mattermost/mattermost-server/files/5840608/err.log)

[config.zip](https://github.com/mattermost/mattermost-server/files/5840614/config.zip)

[2021-01-20 09:57] TheDarkestDay commented on #16636
PR is ready - https://github.com/mattermost/mattermost-webapp/pull/7352

[2021-01-20 11:35] vn971 opened #16764 "Demo server is down"
In the main README of this project, there is a section called "Try out Mattermost": https://github.com/mattermost/mattermost-server/#try-out-mattermost

The Demo server linked there is down. Is it known? Is it expected?

Thanks

[2021-01-20 13:28] amyblais commented on #16762
@beanhacker Would you be open to posting this on our troubleshooting forum here: https://forum.mattermost.org/? Our support team is more active there and can help determine what the cause of the issue is.

[2021-01-20 15:35] kashifsoofi commented on #16705
Can I work on this please.

[2021-01-20 16:21] #16131 closed

[2021-01-20 17:31] amyblais commented on #16764
I'm unsure but it looks like it's no longer in service. I've opened a PR for our team to review.

[2021-01-20 20:35] #16537 closed

[2021-01-20 22:47] kongr45gpen commented on #15012
For me, unfortunately the issue still exists, albeit a bit less pronounced (Mattermost 5.31.6, Firefox 84.0.2 on 64-bit Linux). I have about 100 channels in the LHS, and this issue only shows up when the RHS sidebar is full of messages (e.g. long thread opened, or many returned search results)

[2021-01-21 00:08] swood commented on #16662
I probably have the same problem. However, my database server is MySQL.
I've upgraded from 5.26.2 to 5.29.2, because 5.30.2 fall down with the mentioned error.
The version 5.29.2 wrote to the log the message like below:

I can't read the site statistics and the query like:

			COUNT(Posts.Id) AS Value
		FROM
			Posts,
			Channels
		WHERE
			Posts.ChannelId = Channels.Id
working an infinity time: 1

[2021-01-21 07:32] vn971 commented on #16764
If I click on the first link BTW, I get this:

Is that expected? I know it's unrelated, I'm just a bit confused

[2021-01-21 14:12] amyblais commented on #16764
Thanks, I'll fix it with the above PR.

[2021-01-21 14:33] lieut-data commented on #16401
Hey @arjunagl! Thanks for taking a stab at this! A few thoughts after looking at https://github.com/arjunagl/mattermost-plugin-incident-management/commit/1afed89ed2f75b971dcba2052534a642e5725af0:
* I really like the approach of wrapping the handler. I wonder if we should follow a similar paradigm to how permissions are handled, i.e. `incidentRouterAuthorized.Use(handler.checkEditPermissions)`?
* T

[2021-01-21 17:14] dimgord commented on #16500
@amyblais

Swipe doesn't work, in any directions :) Just checked

It is our company server, I will try to contact them and ask to upgrade

How do I do it on my iPhone?

Thank you,
Dmitry

[2021-01-21 20:43] arjunagl commented on #16401
hi @lieut-data , thanks for the feedback

I actually did see `incidentRouterAuthorized.Use(handler.checkEditPermissions)` and I think its a better approach, however one concern I had with this is, this will run for all the routes.  Do we have any scenario where a channel could be archived and we would want the operation to still go through ? if not I can make this change.

With regards to the gett

[2021-01-21 21:39] lieut-data commented on #16401
We definitely don't want to inject directly into `incidentRouterAuthorized`, but at the same time, I don't think there are many writes we want to allow for an incident whose channel is archived. Perhaps start with your approach for the various endpoints, and then revisit during code review to see if it makes sense to pull it up instead?

To fetch the channel, take a look at https://github.com/matt

[2021-01-21 22:07] arjunagl commented on #16401
thanks @lieut-data will have a look and revert.

[2021-01-22 05:00] haardikdharma10 opened #16775 "Application shouldn't open with white background everytime and instead should change with user's theme"
#### Summary
No matter whether you use Mattermost or Mattermost Dark Theme, the application always starts with a white background. If a user is using Mattermost Dark Theme, the application, by default, should start with a dark background instead of white.

#### Steps to reproduce
1. Open the application on an iOS device like an iPhone.

#### Expected behavior
The background colour should be in syn

[2021-01-22 05:10] arjunagl commented on #16401
@lieut-data I have done the changes to `incidents.go` to include the channel active check.  I believe I have covered the endpoints which can update the incident, however I might have missed some.  Please let me know if this is ok, I can include the unit tests once you confirm.

With regards to the front-end I have done the changes to hide the controls when an incident is archived.  Please have a l

[2021-01-22 06:57] darkLord19 commented on #16749
I'd like to work on this

[2021-01-22 08:46] agnivade commented on #16662
I ran a comparative load test for 5.21 vs 5.22 on Postgres 11 using approximately 7M posts.

Here are the results:

![ws](https://user-images.githubusercontent.com/1774000/105466152-d825e780-5cb9-11eb-83f6-6c7248cecac9.png)
![rps](https://user-images.githubusercontent.com/1774000/105466159-d9efab00-5cb9-11eb-8c7f-53d74a83ea45.png)
![api](https://user-images.githubusercontent.com/1774000/105466167-

[2021-01-22 08:59] darkLord19 commented on #16761
I'll give it a go!

[2021-01-22 09:09] isacikgoz commented on #16761
Thanks! It's all yours @darkLord19

[2021-01-22 12:45] isacikgoz commented on #16775
The splash screen is rendered according to branding colors. It's not a remnant from the light theme, however I agree that it can be a little disturbing if you open the app in low-light conditions. cc @enahum

[2021-01-22 13:13] Taffer commented on #16662
I loaded our database into a new VM running PostgreSQL 12 and Mattermost 5.30.1; everything works great, so I'm going to migrate our instance over to that this weekend.

It takes a while to add an index to the Posts table with 80 million rows. :-)

[2021-01-22 13:35] #16754 closed

[2021-01-22 13:36] amyblais commented on #16678
This was fixed in v5.31 and v5.30.x / v5.29.x backports,

[2021-01-22 13:36] #16678 closed

[2021-01-22 16:41] agnivade commented on #16662
Terrific!

[2021-01-22 16:50] tmuka commented on #16099
Glad to see there's a ticket to address this behavior.  I have the same issue with conversation's not auto scrolling on Windows 10 using Chrome on a 15" 4k HDPI ThinkPad P1.  It's driving me crazy that even after I send a message I have to manually scroll down to see it, then if they send a reply I have to manually scroll down again!

I'm not sure if it's related or not, but i'm connected via RDP

[2021-01-22 16:52] deanwhillier commented on #15874
@adarsh-qclw, please feel free to re-request if you are still interested!

[2021-01-22 17:04] carlspring commented on #16099
Oh, this actually makes me so happy! I mean -- if someone else can reproduce it, then there's certainly something going on. I am experiencing exactly what you have confirmed! I am also on a 4K monitor. I am not connecting over RDP, or anything like that -- it's directly on my machine's web browser.

I am getting this issue all the time and it is simply driving me nuts!

Has there been any progress

[2021-01-22 17:38] deanwhillier commented on #15874
Addressed as part of https://github.com/mattermost/mattermost-webapp/pull/7379

[2021-01-22 19:15] tmuka commented on #16099
I can confirm that it's happening to a few other of my teammates using 4k dell laptops on Windows 10 + Chrome too.

[2021-01-22 19:21] deanwhillier commented on #15868
@nirmalhk7, please feel free to re-request if you are still interested!

[2021-01-22 19:49] deanwhillier commented on #15868
Addresses as part of https://github.com/mattermost/mattermost-webapp/pull/7383

[2021-01-22 20:22] carlspring commented on #16099
Same here. Both my built-in (3840x2160) and external monitors are 4K (3840x1200). It's happening on both.

I'm only using Chrome as well, always the latest, as I'm a software engineer.

[2021-01-22 20:35] #15855 closed

[2021-01-23 01:52] BeVeganToday opened #16781 "Categories are all emptying themselves into channels!"
This week several users (all?) found all the contents of their carefully sorted "Categories" simply move by themselves back into "Channels".  :(

I'm surprised I could find no mention of this already being reported!?!?

Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature propos

[2021-01-23 03:43] #16764 closed

[2021-01-23 03:43] amyblais commented on #16764
Fixed now,

[2021-01-23 09:20] haardikdharma10 commented on #16623
Hi @agnivade, If work has not been started on this ticket yet, I would like to give it a go!

[2021-01-24 08:49] s-ponta commented on #2159
The recent version of mattermost bundled in Gitlab cannot use the method proposed by @yukihane as I described in the last post.

However, mattermost introduced Bleve search engine as an experimental feature recently, and by enabling it, I cloud confirm that text search in Japanese worked.
I think this is very easy and much better than modifying the database, so I highly recommend to use Bleve for

[2021-01-24 21:52] arjunagl commented on #16401
@lieut-data I have created a draft pull request.  Please let me know your initial thoughts on this.  I will clean up the PR once you are ok with the overall direction.

[2021-01-24 22:00] matthiss commented on #16703
I'm using Ubuntu 20.04 using the standalone client. Reproduced this issue on several machines.

[2021-01-25 10:14] streamer45 commented on #16617
@antwigambrah

How's everything going with this?

[2021-01-25 10:15] #16674 closed

[2021-01-25 11:04] hjek commented on #15012
Thanks for you work on this issue, @hmhealey. I am still experiencing this issue on community.mattermost.com

[2021-01-25 11:32] Yahyakiani commented on #16742
@mattermod I would like to work on this issue if it is available. First timer!

[2021-01-25 13:45] amyblais commented on #16781
This was reported before https://github.com/mattermost/mattermost-server/issues/16517 and we had a ticket open https://mattermost.atlassian.net/browse/MM-30314. It's scheduled for the next release (v5.32 on February 16th). I'll document it as a known issue.

[2021-01-25 13:45] #16781 closed

[2021-01-25 13:55] amyblais commented on #16703
@matthiss I've had trouble reproducing this, would you have a sample file for me to test with? Is this happening with 100% screen resolution?

[2021-01-25 15:12] lieut-data commented on #16401
Thanks, @arjunagl! I've added a few reviewers from our team to take a look and give you initial feedback.

[2021-01-25 15:44] cpoile commented on #16401
Hi @arjunagl! Thanks for taking a look at this ticket for us.

Can you send me a screencap of where you see this? You shouldn't be able to type messages into channels that are archived, you should see a message like this:

![image](https://user-images.githubusercontent.com/1490756/105728608-58d32680-5efa-11eb-9671-66859d9b431f.png)

[2021-01-25 19:06] Tjelfe commented on #14323
This error still persists on Chromebooks in tablet mode. The button gets visible when switching to desktop mode.

[2021-01-25 21:16] matthewbirtch commented on #15023
Closing this ticket as design is being revisited/tweaked.

[2021-01-25 21:16] #15023 closed

[2021-01-26 11:49] #16732 closed

[2021-01-26 11:51] #15623 closed

[2021-01-26 12:08] #16520 closed

[2021-01-26 15:33] #15928 closed

[2021-01-26 18:11] Wells182 commented on #16741
Am I good to have a crack at this? 🙂

[2021-01-26 18:23] Wells182 commented on #16741
Ah looks like this may have already been completed [here](https://github.com/mattermost/mattermost-webapp/pull/6516) unless I am mistaken?

[2021-01-26 19:17] deanwhillier commented on #15969
@haardikdharma10, when you have a minute can you please let us know if you're still interested in completing this ticket?

[2021-01-26 20:14] #15721 closed

[2021-01-26 20:16] hmhealey commented on #15720
Hi @shtelzerartem. It's been a while since we've had any update on this, so I'm going to open it back up for others. Let me know if you'd still like to work on this.

[2021-01-26 20:17] hmhealey commented on #15719
Hi @arvind0598. It's been a while since we've had any update on this, so I'm going to open this up for other contributors. Let me know if you'd still like to work on this.

[2021-01-26 20:18] hmhealey commented on #15162
Hi @wellhausen. It's been a while since we've had any updates on this, so I'm going to reopen it for others who might want to work on it. Let me know if you're still interested, and I can re-assign you though.

[2021-01-26 20:26] hmhealey commented on #15163
Hi @bharateshwq, are you still working on this? If not, we'd like to open it up for other contributors who might be interested.

[2021-01-27 11:03] #16076 closed

[2021-01-27 13:43] amyblais commented on #16741
@devinbinnie ^

[2021-01-27 13:44] devinbinnie commented on #16741
@amyblais @Wells182 Yep! Looks that way. Thanks for pointing that out, closing this issue.

[2021-01-27 13:44] #16741 closed

[2021-01-27 14:27] mgdelacroix commented on #14502
Closed by https://github.com/mattermost/mattermost-server/pull/15529

[2021-01-27 14:27] #14502 closed

[2021-01-27 14:30] mgdelacroix opened #16798 "Refactor SQL queries in store/sqlstore/preference_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/preference_store.go`.

The expected way to implement this is to search in the `store/sqlstore/preference_store.go` file for all the strings containing a SQL query and rewrite

[2021-01-27 14:30] mgdelacroix opened #16799 "Refactor SQL queries in store/sqlstore/terms_of_service_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/terms*of_service*store.go`.

The expected way to implement this is to search in the `store/sqlstore/terms*of_service*store.go` file for all the strings containing a SQL query

[2021-01-27 14:30] mgdelacroix opened #16800 "Refactor SQL queries in store/sqlstore/group_store.go to use the squirrel builder"
Mattermost is replacing the SQL queries of the store layer to use the [squirrel builder](https://github.com/Masterminds/squirrel). This help wanted issue is to change the usages of raw SQL queries in the file `store/sqlstore/group_store.go`.

The expected way to implement this is to search in the `store/sqlstore/group_store.go` file for all the strings containing a SQL query and rewrite them with

[2021-01-27 17:04] mkraft opened #16802 "Use boolean values instead of strings in the "client config"."
#### Summary

The Mattermost "client config" [as defined as a Typescript type named `ClientConfig` in mattermost-redux](https://github.com/mattermost/mattermost-redux/blob/master/src/types/config.ts#L6-L178) contains a lot of values that should be defined as `boolean` but instead are defined as `string`. For example, `CloseUnusedDirectMessages` [is correctly defined as `boolean`](https://github.co

[2021-01-27 19:22] haardikdharma10 commented on #16802
Hi @mkraft, I will try to fix this one:)

[2021-01-27 19:25] innovaciones opened #16804 "Can't delete a team using mmctl in Mattermost Cloud"
#### Summary
Can't delete a team using mmctl, I get this error message: "Unable to delete team 'my-team-name' error: : Permanent team deletion feature is not enabled. Please contact your System Administrator."

#### Steps to reproduce
From the command line:
mmctl team delete my-team-name --confirm

#### Expected behavior
It should delete the team

#### Observed behavior (that appears unintentional

[2021-01-27 19:35] mkraft commented on #16802
Sounds great @haardikdharma10! Please let me know if/how I can help. Thank you! :)

[2021-01-27 20:25] rolwin100 commented on #16519
@hmhealey can I take up this issue

[2021-01-27 21:30] antwigambrah commented on #16617
@streamer45 Closed a DB issue a while back .  Getting back to it

[2021-01-27 23:05] arjunagl commented on #16401
@cpoile thanks for providing code feedback will have a look and try to address them.

With regards to typing on the archived channel, you are correct, I was mistaken, you cannot type in them.

[2021-01-27 23:28] ahmaddanialmohd commented on #16804
Hello, @innovaciones

Just attempted this on my end and verified that it is reproducible:

[code]

While I did not get the same WARNING message as yours, I can see the different version that we have here.

[code]

Getting in touch with the Cloud team to verify what missing feature that needs to be enabled. Keep you posted.

[2021-01-28 00:07] someone-somenet-org opened #16807 "make /commands referencable in post-text. [enhancement]"
Crosspost from: https://mattermost.uservoice.com/forums/306457-general/suggestions/42559165-make-commands-referencable-in-post-text

There are interactive message buttons, but they dont flow neatly in the text. It should be possible to write a longer post, and reference commands and parameters in the text.
Once the post is posted, they become clickable by everyone which would in some way ask for c

[2021-01-28 01:15] enahum commented on #13985
Done https://github.com/mattermost/mattermost-mobile/pull/5136

[2021-01-28 01:15] #13985 closed

[2021-01-28 03:11] xuanvi26 commented on #16145
Hi! Just wanted to give an update, unfortunately I haven't had much time to work on this yet but I completed the developer set up and will be working on this over the next week :)

[2021-01-28 04:07] #16601 closed

[2021-01-28 05:50] #16204 closed

[2021-01-28 05:50] jasonblais commented on #16204
Thanks @rolwin100 for the contribution! :)

[2021-01-28 08:41] gupsho commented on #16798
I can take this.

[2021-01-28 09:06] mgdelacroix commented on #16798
Thanks @gupsho!!

[2021-01-28 10:31] andreasciamanna opened #16811 "Categories dropdown must be scrollable and automatically positioned"
#### Summary

When adding a channel/user to a category, the selection is cropped if it's near the far bottom of the viewport.

#### Steps to reproduce

1. Have several exiting categories (the number depends on where you are using Mattermost, but it must be at least 4, as far as I can see).
2. Have a channel/user not already in a category, shown at the very bottom of the left sidebar.
3. Click the

[2021-01-28 10:36] haardikdharma10 commented on #16802
Hi @mkraft, In `src/selectors/entities/preferences.ts` on [Line 259](https://github.com/mattermost/mattermost-redux/blob/master/src/selectors/entities/preferences.ts#L259) when I change it from this:

`if (!config.CloseUnusedDirectMessages || config.CloseUnusedDirectMessages === 'false')`

to this:

`if (!config.CloseUnusedDirectMessages || config.CloseUnusedDirectMessages === false)`

it raises t

[2021-01-28 14:00] amyblais commented on #16811
@hmhealey @jgilliam17 Do you know if we already have a ticket for this or if we are planning to fix this either for GA or post-GA?

[2021-01-28 14:09] amyblais opened #16815 "Mattermost v5.32"
You can find key dates for v5.32 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Feb 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Feb 11th: Release Build Cut
The final

[2021-01-28 14:31] hmhealey commented on #16811
I'll see if we can open a separate ticket for this or if it'll have to be addressed with the menu component rewrite we have planned. The current system for doing this definitely has some limitations that we might not be able to address yet.

As a workaround, you can also drag and drop channels into those categories. If the category you want to move something to is nearer to the bottom of the list,

[2021-01-28 15:02] nevrending opened #16817 "5.31.0 Some Values in config.json Were Replaced by ********************************"
#### Summary
Running Mattermost 5.31.0 in Kubernetes setup
8 keys in config.json suddenly replaced by ********************************
They are:
- ServiceSettings.GfycatApiSecret
- ServiceSettings.SplitKey
- SqlSettings.DataSource
- SqlSettings.AtRestEncryptKey
- FileSettings.PublicLinkSalt
- EmailSettings.SMTPPassword
- ElasticsearchSettings.Password

#### Steps to reproduce
I'm not actually sure

[2021-01-28 15:02] nevrending commented on #16817
Was about to post the above to https://forum.mattermost.org/ but then

![image](https://user-images.githubusercontent.com/4745298/106156770-0f265c80-61d6-11eb-87cc-beb782c5da9d.png)

[2021-01-28 15:07] nevrending commented on #16725
@mlbiam I initially encountered the same issue but was able to solved it by deploying an extra init container like the following:

[code]

I'm currently running 5.31.0

[2021-01-28 15:42] andreasciamanna commented on #16811
It's what I've been doing: the last two screenshots show exactly that.

It's a bug with an easy to workaround.
At least, for those who realise there is workaround :)

[2021-01-28 16:11] hmhealey commented on #16811
Unfortunately, this isn't something we're able to fix easily. It'll have to come when we redo the menu components in the coming months. I filed a ticket to make sure this case is addressed though:

https://mattermost.atlassian.net/browse/MM-32400

Thanks for the report!

[2021-01-28 17:37] #15827 closed

[2021-01-28 19:38] streamer45 commented on #16817
Hi @nevrending ,

those asterisks are what we use when we sanitize a config. We essentially add them to remove sensitive information.
What's strange however is that the config got written to disk as such.

Do you have any CLI commands running perhaps that could have triggered this?

[2021-01-28 21:25] ahmaddanialmohd commented on #16804
Hi, @innovaciones

To further assist you with this matter, please raise a support ticket to support@mattermost.com and mention my name together with this github issue URL.

I will then further assist you with the issue that we are dealing with her. Thanks!

[2021-01-28 21:25] #16804 closed

[2021-01-28 22:09] xlanor commented on #16799
I can take this.

[2021-01-29 03:58] xlanor commented on #16802
I'm still in the middle of familiarising myself with the code base, but when looking at this isolated line of code, it seems that previously, the config could return either a `boolean` or `string`.

The original code is simply checking for whether it is either a boolean false or a string false. In that case, what I would do here would be to ensure that the type in `CloseUnusedDirectMessages` has b

[2021-01-29 04:13] nevrending commented on #16817
Hi @streamer45 ,
Thanks for your response and explanation.

I believe I don't. But I activated/use some experimental features, if that's relevant.

![image](https://user-images.githubusercontent.com/4745298/106230800-68c57000-6244-11eb-9a2a-133da5ecad7d.png)

[2021-01-29 05:56] haardikdharma10 commented on #16802
Hi @xlanor, thanks for taking a look at this. However, when discussed with @mkraft offline, we came to the same conclusion as well :)

[2021-01-29 08:14] girish17 opened #16826 "make run-server command fails"
#### Summary
`sudo make run-server` command when executed  on Ubuntu 20.04 LTS fails despite having `go` [latest version](https://golang.org/dl/go1.15.7.linux-amd64.tar.gz) installed as mentioned in [developer-setup guidelines](https://developers.mattermost.com/contribute/server/developer-setup/).

#### Steps to reproduce
Follow the developer setup mentioned [here](https://developers.mattermost.co

[2021-01-29 08:26] haardikdharma10 commented on #16826
Hi @girish17, I believe your `docker-compose.yml` file might be empty or might have indent problems.

[2021-01-29 08:38] girish17 commented on #16826
It is not empty and has no indent problems.  Below are the contents of
docker-compose.yml in the mattermost-server directory -

version: '2.4'
services:
  mysql:
    container_name: mattermost-mysql
    ports:
      - "3306:3306"
    extends:
        file: build/docker-compose.common.yml
        service: mysql
  postgres:
    container_name: mattermost-postgres
    ports:
      - "5432:5432"
    e

[2021-01-29 08:38] streamer45 commented on #16817
Hi @nevrending ,

any additional info on your installation can be relevant for sure.
Do you have any plugin enabled? If possible, can you share the `PluginSettings` section from your `config.json`?
Feel free to blank any sensitive information it might have.

[2021-01-29 08:52] nevrending commented on #16817
Sure @streamer45 , here it is.

[code]

[2021-01-29 08:54] #15457 closed

[2021-01-29 09:31] streamer45 commented on #16817
@nevrending

It would help if you could provide the server logs before the crash.
Also, I will open a ticket to investigate this further. Please let us know if it were to happen again.

[2021-01-29 09:55] streamer45 commented on #16817
Created https://mattermost.atlassian.net/browse/MM-32415

[2021-01-29 10:33] mgdelacroix commented on #16800
Thanks @the-robot, all yours!!

[2021-01-29 15:07] nevrending commented on #16817
@streamer45
after checking out the issue link and read on the other 2 config related issues, I realised that I misunderstood your previous question.

I was having a difficulty to set the Welcome Message Bot Plugin's settings in `config.json` and then tried using `mmctl` to accomplish that. In the end I still didn't manage to put the settings in place, so mounted the volume on another container to

[2021-01-29 15:12] streamer45 commented on #16817
Thank you @nevrending , that's really valuable information. Just to understand further, did the issue occur right after those `mmctl` command executed? That's why it would be interesting to see the server logs, not cause of the crash itself which is expected but to see what could have triggered the config issue before that.

[2021-01-29 15:43] m4ver1k commented on #15490
@mgdelacroix @isacikgoz Sorry folks have been too busy with work not able to find time.

[2021-01-29 16:06] amyblais commented on #14934
Closing this as this was fixed for v5.31. QA tested and was able to post edited messages using CTRL+Enter, ⌘Enter and even CTRL⌘+Enter. Using just ‘Enter’ just added a new line as expected.

Please re-open this issue if you still experience this problem in the latest server version,

[2021-01-29 16:06] #14934 closed

[2021-01-29 16:08] amyblais commented on #15438
Closing as this was fixed in v5.30.0 release,

[2021-01-29 16:08] #15438 closed

[2021-01-29 16:09] amyblais commented on #15602
Closing as this was fixed in v5.30.0 release,

[2021-01-29 16:09] #15602 closed

[2021-01-29 16:11] amyblais commented on #16206
Closing as the documentation has been updated via https://github.com/mattermost/docs/pull/4186,

[2021-01-29 17:24] #15853 closed

[2021-01-29 17:54] mgdelacroix commented on #15490
No worries @m4ver1k. Are you still interested on working on this or would you prefer us to open it back for the community?

[2021-01-29 18:12] esethna commented on #14633
Reopening up for grabs, anybody interested in this ticket please see the work started here: https://github.com/mattermost/mattermost-webapp/pull/6198

[2021-01-29 19:34] frasermarlow commented on #129
2021.  The issue still exists.

[2021-01-30 16:11] xlanor commented on #16799
@mgdelacroix , I've dropped you a message on mattermost regarding the tests

[2021-01-30 17:04] lucievr commented on #16740
I'd like to pick this up

[2021-01-30 17:15] lucievr commented on #16733
Happy to work on this issue

[2021-01-30 20:24] innovaciones commented on #16804
Hello Ahmad, I never got a response from support@mattermost.com after I sent my email, but nvm I finally found out a way to delete a team using mmctl, you need to set EnableAPITeamDeletion from config.json from false to true, here is the command to do it from mmctl:

mmctl config set ServiceSettings.EnableAPITeamDeletion true
mmctl team delete my-team-name --confirm

And now it works!

[2021-01-31 06:25] djanda97 commented on #16722
I'll take a shot at this.

[2021-01-31 07:09] djanda97 commented on #16709
I'll start working on this.

[2021-01-31 20:22] jamiew0w commented on #9822
Is there any movement on this? Looked at the jira but appears dead. Having issues with everything arriving in spam despite _everything_ being setup correctly.

[2021-01-31 22:43] ahmaddanialmohd commented on #16804
Hi, @innovaciones

Sorry for the initial radio silence but thanks again for sharing the solution. Responded to your ticket as well as it was already weekend on my side when it came in.

Have a good day!

[2021-02-01 01:01] ynott opened #16830 "{PATCH} is included in the version view."
#### Summary
I have tried to display the version information of Mattermost Server using several version checking methods, but it contains the string `{PATCH}`.

#### Steps to reproduce
##### 1. WebUI
1. Menu --> "About Mattermost"
![image](https://user-images.githubusercontent.com/2724312/106402326-56c61600-646c-11eb-8c32-381041db7967.png)
##### 1. mmctl command
[code]

[code]

This seems to be a

[2021-02-01 06:01] agnivade commented on #16830
The `{PATCH}` section was an error during the release process, and will be fixed in future versions. You can find more discussion on this here: https://community.mattermost.com/core/pl/zsuaan8su78p3qzsq1oapa8nqh.

[2021-02-01 15:15] mattermod opened #16834 "Handle pure multibyte incident names"
In the [Incident Management Plugin](https://github.com/mattermost/mattermost-plugin-incident-management), creating an incident (for example, via `/incident create`) prompts for an incident name, and then automatically creates a dedicated channel based on that name.

Sometimes the name collides with an existing channel name, so the plugin adds random characters to disambiguate (but it keeps the req