[2022-02-01 16:01] #19248 closed

[2022-02-01 16:01] amyblais commented on #19181
Please re-open as needed,

[2022-02-01 16:01] #19181 closed

[2022-02-01 16:18] Emeka-Ugbanu-hub commented on #19438
ok thanks

[2022-02-01 22:59] esethna commented on #19357
@Beta-test-initiation nice! This ticket is taken, but feel free to look at this query for Good First Issue label: https://github.com/mattermost/mattermost-server/labels/Good%20First%20Issue

[2022-02-01 23:26] rpkoller opened #19466 "The view for the display of an individual thread remains empty in Safari 13.1.2"
#### Summary
With "collapse reply threads" (beta)-feature active if I try to view an individual thread in Safari 13.1.2 the thread view remains empty and the content of the thread isn't shown.

#### Steps to reproduce
I am running MacOS High Sierra 10.13.6 with all the latest patches applied and Safari 13.1.2.

#### Expected behavior
I've simply activated the "collapse reply threads" feature in th

[2022-02-01 23:51] amyblais commented on #19466
@rpkoller What Mattermost server version are you on?

[2022-02-02 00:02] rpkoller commented on #19466
it is version cloud-2022-01-27-1

[2022-02-02 06:10] k4awon commented on #19362
Hello! I would like to take a try at this issue.

[2022-02-02 12:31] sendaimono commented on #19181
FYI, reindex worked. Forgot to post the reply.

[2022-02-02 14:38] amyblais opened #19476 "Mattermost v6.4"
You can find key dates for v6.4 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### Feb 2nd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### Feb 14th: Release Build Cut
The final r

[2022-02-02 15:04] DummyThatMatters commented on #19395
@mickmister Sorry for misinformating you, S4B appear to work well. Is seems truly, that we have issues only with jquery-based plug-ins.

[2022-02-02 17:47] prakharporwal commented on #19336
I would like to work on this .

[2022-02-02 18:32] prakharporwal commented on #19336
I would like to try this.
I can't test changes I made. How can I run the program and test the function. I tried logging data but the make run-server failes . How can I trigger the function ?

[2022-02-02 19:35] #19265 closed

[2022-02-02 21:55] TylerStilson commented on #19438
I would like to help with this if possible!

[2022-02-02 22:53] amyblais commented on #19438
Thank you! But it looks like our team submitted a PR for this just an hour ago: https://github.com/mattermost/mattermost-server/pull/19484. :)

[2022-02-03 04:12] agnivade commented on #19336
Hey @prakharporwal - You can test the changes by running the `ChannelStore` tests from store/sqlstore. Please see https://developers.mattermost.com/contribute/server/developer-workflow/#running-only-specific-server-unit-tests on how you can run specific tests.

[2022-02-03 06:02] plant99 commented on #19361
Hi @agnivade , thanks so much for helping with the server PR and closing it. Should we reopen this issue, until the other two code bases are updated. Please let me know if it's tracked somewhere else publicly other than here.

[2022-02-03 06:03] agnivade commented on #19361
Yep, thanks for keeping things on track!

[2022-02-03 08:24] sinansonmez commented on #19252
Happy to work on that. Can you assign it to me?

[2022-02-03 15:43] akiross commented on #6299
Thanks for the kind offer, but I don't think I got the bandwidth rn, sorry

[2022-02-04 01:11] HarshaLaxman opened #19496 "Emoji search poor performance"
#### Summary
Emoji search poor performance

#### Steps to reproduce
Observe performance with thousands of emojis and simultaneous users.

#### Expected behavior
Emoji search should use and inverted index (full text search)

#### Observed behavior
Emoji search uses pattern matching (`LIKE`)

#### Possible fixes
Use full text search for emoji search in the databases (Elasticsearch is probably overki

[2022-02-04 04:33] agnivade commented on #19496
Hi @HarshaLaxman - I am curious to know if this is something you found in your slow query logs? If so, could you let us know how many rows you have in your emoji table, and how much time is the search query taking? Thanks!

[2022-02-04 05:50] HarshaLaxman commented on #19496
Hey @agnivade just observation with roughly on the order of 10s of thousands of emojis and 1-5 seconds load times.
Rethinking it now though... even with a million emojis LIKE should still be well under a second for the query.
Will do some more digging with a local setup and dummy data, perhaps the root cause is elsewhere ie emoji rendering

[2022-02-04 06:02] agnivade commented on #19496
Thanks @HarshaLaxman - it would be more interesting to first see if there is a real-world issue first. We have customers using 4-5k custom emojis. But an instance with a million emojis is very unlikely.

If you are experiencing a problem in the emoji picker, that might be due to the client side rendering of the emoji picker. We have some performance improvements queued up for that. @hmhealey and @

[2022-02-04 14:49] amyblais commented on #19476
### v6.4 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.4.0-rc1/mattermost-team-6.4.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5394/files

[2022-02-04 16:07] agarciamontoro commented on #19169
Closed by https://github.com/mattermost/mattermost-plugin-playbooks/pull/1011 :tada:

[2022-02-04 16:07] #19169 closed

[2022-02-04 19:56] dropwhile commented on #17357
If you are worried about robustness and/or usage, go-camo is known to be used by:
* [gitlab](https://docs.gitlab.com/ee/security/asset_proxy.html)
* [zulip](https://zulip.readthedocs.io/en/latest/production/security-model.html#user-uploaded-content-and-user-generated-requests)

and several others.

If you have any questions, feel free to reach out.

[2022-02-04 20:33] zaengerlein opened #19503 "Saving changes in channel member list (in system console ) always fails"
#### Summary
Saving changes in channel member list always fails

#### Steps to reproduce
v 6.3.0
In either the web view or the Mac desktop app as administrator user go to the system console.
There select channel, select a private channel (not tested for public channand try to change something the member list for that channel. Either add a member or switch one to channel administrator.
Then try to

[2022-02-04 21:18] amyblais commented on #19503
I'll close this as a dup of https://github.com/mattermost/mattermost-server/issues/19051.

[2022-02-04 21:18] #19503 closed

[2022-02-04 21:19] amyblais commented on #19051
@mkraft Let me know if there is a status update on this. Multiple users have reported this issue.

[2022-02-04 21:32] #19272 closed

[2022-02-05 00:14] nwl opened #19504 "Trailing slash being stripped from SiteURL"
#### Summary
The SiteURL configuration has the trailing slashed removed after saving in the UI or setting on the CLI and restarting the service.

#### Steps to reproduce
1. Clean install of Mattermost on Ubuntu 20.04.3 with mattermost-6.3.3
2. Edit config.json and set a URL with a relative path ("https://domain.com/mattermost/")
3. Start service.
4. Read config file and URL is now "https://domain.

[2022-02-05 00:42] sinansonmez commented on #19252
While I was working on this, i realized that maybe current behaviour reported as issue is the  expected behavior. Why?
- For ltr user, edited span is placed on the right side of the message (i.e. at the end of message)
- For rtl user, edited span is placed on the left side of the message which is the end of message for this use

To be consistent from this perspective maybe we would like to keep cu

[2022-02-05 00:53] amyblais commented on #19252
cc @hmhealey ^

[2022-02-06 21:23] jasonsmith425 commented on #19496
Our instance has 10k active emojis and while desktop emoji perf can be bad (5-10 seconds for the image to load), on mobile, many custom emojis are never returned by search and it seems kind of random which will be returned.

[2022-02-07 00:42] vineelyalamarthy commented on #18810
@amyblais  any help needed?

[2022-02-07 00:45] vineelyalamarthy commented on #18047
@emilyacook  any dev help needed?

[2022-02-07 00:45] vineelyalamarthy commented on #18319
@amyblais  any dev help needed?

[2022-02-07 00:47] vineelyalamarthy commented on #18351
@cpanato  help needed?

[2022-02-07 00:51] vineelyalamarthy commented on #17672
@amyblais  this is an interesting feature for me to work on. Shall I look into this?

[2022-02-07 05:50] lindy65 commented on #18047
@hanzei - is this issue still open for development?

[2022-02-07 08:17] NiKiZe opened #19508 "cdn.date-fns.org certificate issues in client"
#### Summary
Certificate error https://cdn.date-fns.org/
![image](https://user-images.githubusercontent.com/1240066/152749647-674c9782-34cb-4b3d-8957-07cb00afbd67.png)

#### Steps to reproduce
Starting Windows client gives this message, not sure how to reproduce in client.
Visiting the site directly shows the issue.
This might be related to some plugin, and not main mm software.

#### Possible fix

[2022-02-07 08:37] NiKiZe commented on #19508
This might be a coincidence with a posted link.
Still a bit odd that a preview of posted link (currently https://date-fns.org/) can cause a certificate error message in the app.

[2022-02-07 08:37] #19508 closed

[2022-02-07 08:42] hanzei commented on #18047
@lindy65 Yes, this ticket is still valid.

[2022-02-07 08:45] lindy65 commented on #18047
Great!  Thanks @hanzei - so @vineelyalamarthy is welcome to work on this then :)

[2022-02-07 13:54] amyblais commented on #19504
@streamer45 @agnivade Would this be a bug?

[2022-02-07 13:56] amyblais commented on #17672
@esethna Maybe this can be changed into a Help Wanted Issue for community to work on this?

[2022-02-07 14:45] mattermod opened #19510 "Mobile v2: error still visible after restoring the connection"
On Connect to server screen

  1. Turn off the internet - Enter display name, server url and click on connect -> an error will show
  1. Now turn on the internet - change the display name and click on connect - **the error is still visible**

[Reported by codedsun](https://community-daily.mattermost.com/core/pl/jjb7wdznefbrtga7rwd3og945o)

----
If you're interested please comment here and come [jo

[2022-02-07 14:47] codedsun commented on #19510
Working on this

[2022-02-07 15:01] agnivade commented on #19504
This is an intentional part of the code: https://github.com/mattermost/mattermost-server/blob/d2cabaebaba25657f052458de2ce6639b24ab4e8/config/utils.go#L99-L102.

@nwl - Could you explain a bit into how is this affecting you? I haven't worked with Apache a lot, so maybe there's something we need to change.

We have some documentation for using Apache as a reverse proxy here: https://docs.mattermost

[2022-02-07 15:15] mattermod opened #19511 "Mobile v2: missing margin between error and forgot your password"
Small UI Bug: On Login Screen

1. Enter wrong username/password
2. click login

Observed: There is no margin between the error and the Forget your password view..

*Issue created from a [message in Mattermost](https://community-daily.mattermost.com/core/pl/cbc3o5n7npd58geq3ws9wjq6qo)*.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://commu

[2022-02-07 15:20] codedsun commented on #19511
Hey Team, taking this up!

[2022-02-07 15:42] Neptoos opened #19512 "Custom Terms of Service Feature throwing error 1062 Duplicate PRIMARY"
#### Summary
Since Version 6.3.3. we are facing an issue, that our custom terms of service cannot be accepted anymore.

#### Steps to reproduce
Mattermost v6.3.3 Enterprise Edition (HA Cluster)
Mysql DB (Master and 2 replicas)

1. (Re-)enable Custom Terms of Service and trigger a new "Accept Terms of Servcie", click on "Accept".
2. Error Message shows up, that it cannot be saved

#### Expected beh

[2022-02-07 16:00] mattermod opened #19513 "Use batchActions from redux-batched-actions directly"
During our migration of mattermost-redux to TypeScript, we ended up having to redeclare the `batchActions` helper and the `BATCH` constant from `redux-batched-actions` in [https://github.com/mattermost/mattermost-webapp/blob/master/packages/mattermost-redux/src/types/actions.ts](https://github.com/mattermost/mattermost-webapp/blob/master/packages/mattermost-redux/src/types/actions.ts). I think we

[2022-02-07 16:37] #19395 closed

[2022-02-07 21:14] variable opened #19549 "5.0.2 Memory leak on OSX?"
I confirm (by marking "x" in the [ ] below: [x]):

- [x] This is not a troubleshooting question. [Troubleshooting questions go here: http://www.mattermost.org/troubleshoot/](http://www.mattermost.org/troubleshoot/).
- [ ] This doesn't reproduce on web browsers (such as in Chrome). If it does, [issue reports go to the Mattermost Server repository](https://github.com/mattermost/platform/issues).
- [

[2022-02-07 21:38] hmhealey commented on #19252
Now that you mention it, that does sound right to me. There's a weird overlap of the pencil icon with "Edited", but I think that's a Firefox bug since it happens for me regularly.

I'll check to see if any of our translators have any thoughts on that since I know we've had people with differing opinions in the past on how RTL support in Mattermost should work

[2022-02-07 21:41] sinansonmez commented on #19252
Thanks. I will wait for your check to work on this.

Related to pencil icon, you are right, it is a Firefox bug (I don't see it on Safari)

[2022-02-07 21:42] akhmerov commented on #19252
Also appears on chrome.

I agree that the pencil icon is likely the only problem.

[2022-02-07 21:49] esethna commented on #18797
@mr-aboutin did you get your questions answered or do you still need help here?

[2022-02-07 21:52] sinansonmez commented on #19296
@lieut-data I created a PR related to this, please take a look

[2022-02-07 22:43] HarshaLaxman opened #19517 "Emoji category offset causes multiple renders"
#### Summary
For each emoji category, setting the offset causes another render of the EmojiPicker, adding a total of about 300ms before user can interact.

#### Steps to reproduce
[code]
Type something into the EmojiPicker ie 'banana' which will remove the category sections.
With React Profiler enabled, delete what was previously typed which will cause the category sections to return.

#### Expect

[2022-02-07 22:57] nwl commented on #19504
I've moved to NGINX now so the issue is resolved but I believe when using setting up a reverse proxy on Apache that uses a subdirectory in the URL, you need to add a trailing slash to ensure that all rewritten links stay relative. In other words, it's fine to strip the trailing slash from the config if you are hosting at mattermost.domain.com but not domain.com/mattermost

[2022-02-07 23:01] HarshaLaxman commented on #19496
Found a ~300ms performance improvement in the Emoji Picker rendering

issue https://github.com/mattermost/mattermost-server/issues/19517
and
PR https://github.com/mattermost/mattermost-webapp/pull/9767

[2022-02-08 00:02] hmhealey commented on #19380
Thanks for the report, @trollepierre! This has bugged me for ages, but I've never gotten around to fixing it. Thanks for giving me a reminder to 😄

[2022-02-08 08:08] poflankov commented on #18643
Hi, can I take this?

[2022-02-08 08:14] M-ZubairAhmed commented on #19517
We are not using offsets in our new implementation of emoji picker https://github.com/mattermost/mattermost-webapp/pull/9597 let us know how to improve :)

[2022-02-08 08:51] sinansonmez commented on #18820
Hello, @saturninoabril I just created a PR for this. Please let me know if you have any comments

[2022-02-08 09:36] saturninoabril commented on #18643
Sure and thanks @poflankov!

[2022-02-08 09:38] saturninoabril commented on #18643
@poflankov Btw, I wonder if you have account in our https://community.mattermost.com/. Just like to get in touch in case.

[2022-02-08 09:40] saturninoabril commented on #18820
Awesome, thanks! It's up for review 💯

[2022-02-08 12:36] Willyfrog commented on #18797
One case is when [marking a channel as viewed from the client](https://github.com/mattermost/mattermost-webapp/blob/b2049b25c72e540313dc2162ad6f8966a42717f8/packages/mattermost-redux/src/actions/channels.ts#L1285), which happens when we switch channels, or scroll to the end among others.

For threads you have [markAllThreadsinTeamRead](https://github.com/mattermost/mattermost-webapp/blob/b2049b25c

[2022-02-08 13:52] lieut-data commented on #19296
Thanks, @sinansonmez! I've asked some of our staff to take a look :)

[2022-02-08 14:07] Willyfrog commented on #19348
Oh! sorry, I clarified part but forgot about the threaditem/footer part of it.

When you enable CRT is exactly that section where several profiles are grouped together meaning who has replied to the thread. That happens in the global threads view, in the thread list, and in the center channel when you are viewing the root post and it contains a partial list of participants.

Let me know if this he

[2022-02-08 15:45] mattermod opened #19520 "Webapp: Pressing Ctrl/Cmd+/ should toggle Keyboard Shortcuts modal"
Repro steps:

  1. Press Ctrl+/ (or Cmd+/ if you're on Mac) to open the Keyboard shortcuts modal
  2. Press it again

Observed:

  1. Keyboard Shortcuts modal did not close.

Expected:

  1. Should have closed.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where

[2022-02-08 16:10] HarshaLaxman commented on #19517
Hi @M-ZubairAhmed thanks for the heads up, looking forward to the new emoji picker implementation!

[2022-02-08 16:10] #19517 closed

[2022-02-08 16:56] hmhealey commented on #19520
@VishakhaPoonia Sounds good! Let us know if you have any questions

[2022-02-08 17:47] esethna commented on #17615
Closing to reopen a new ticket and bump this

[2022-02-08 17:47] #17615 closed

[2022-02-08 18:00] mattermod opened #19522 "Allow users to find Admins in the team and channel members modals"
Users have trouble finding who are admins when viewing members of a channel or team.

Propose adding the same filter mechanism used in the “More Channels” dialog to the channel members and team members modals.

Example:

![image](https://user-images.githubusercontent.com/14333569/153048903-fdfee3a2-1d4e-4adf-ac5b-02457495061f.png)

Channel Members modal: Add the dropdown with the options “All chan

[2022-02-08 18:06] esethna commented on #19522
Anyone interested in taking this ticket please see the work that was already started here: https://github.com/mattermost/mattermost-webapp/pull/8591

[2022-02-08 21:54] myasonik commented on #19193
Looks like uservoice is for new feature suggestions, not for existing bugs. Is there another place I should leave a bug report or can this be reopened?

[2022-02-08 22:38] esethna commented on #17672
@vineelyalamarthy if you are keen on this I would recommend submitting a draft PR that we can use to spin up a test server and try out the changes. We'll have to get the design team involved in the testing to see if this is something we want to push forward with in the product.

[2022-02-08 22:44] sinansonmez commented on #19348
Thanks for the clarification.

I was able to find the related component which is [Avatars](https://github.com/mattermost/mattermost-webapp/blob/c8a565cb121b7903a27780bbc15c357287c30930/components/widgets/users/avatars/avatars.tsx) used in two components below

- [thread_footer.tsx](https://github.com/mattermost/mattermost-webapp/blob/c8a565cb121b7903a27780bbc15c357287c30930/components/threading/ch

[2022-02-08 22:49] esethna commented on #6299
Thanks @akiross, we reproduced and have reopened the ticket

[2022-02-08 23:23] amyblais commented on #19193
Sorry, I originally thought this as an improvement idea - I've opened a bug ticket now https://mattermost.atlassian.net/browse/MM-41686.

[2022-02-09 06:12] agnivade commented on #19142
Hi @frnkshin - just checking to see if you are still working on this?

[2022-02-09 13:33] amyblais commented on #19466
@koox00 @ashishbhate Are additional logs needed to take a look at this issue?

[2022-02-09 13:51] #19332 closed

[2022-02-09 13:56] koox00 commented on #19466
@amyblais this is most probably a client side styling issue, since it's OK in Firefox, let's open a ticket

[2022-02-09 14:02] amyblais commented on #19466
Opened a ticket: https://mattermost.atlassian.net/browse/MM-41704.

[2022-02-09 14:12] amyblais commented on #19496
An in-progress PR related to emoji performance: https://github.com/mattermost/mattermost-webapp/pull/9597.

[2022-02-09 14:26] #18869 closed, assigned to krotovkk

[2022-02-09 14:48] rpkoller opened #19527 "The Mattermost interface has a too low color contrast for a few elements"
#### Summary
The color contrast of the used theme has a too low color contrast for a few elements and components

#### Steps to reproduce

- accessed a mattermost instance on the latest chrome browser on macos.
- used accessibility insights and ran an assessement (alternatively it is also possible to run siteimprov accessibility checker)

- checked the jira backlog but found no currently open tick

[2022-02-09 15:43] rpkoller opened #19528 "The heading structure lacks hierarchy"
#### Summary
if you open the screen reader rotor for example in apple voiceover you have several h1 and several h2 which might lead into confusion for screen reader users

#### Steps to reproduce
- access a server and team in a browser or desktop app
- start voice over (i've only voice over available)
- start the rotor
- navigate to the rotors headline section

#### Expected behavior
a clearer str

[2022-02-09 17:49] esethna commented on #18561
Hey @shinnlok are you still working on this guy?

[2022-02-09 18:00] mattermod opened #19529 "Webapp: Hashtag autocomplete"
### Functional Notes

  * Leverage the existing Autocomplete UI as much as possible
  * As soon as a hash character is used in a message input, show the autocomplete menu
  * Before any other characters are typed
    * show recently used tags by current user if there are any (up to a maximum of 10) and sort by most recent first
    * In a group below, show the 10 most-used tags on the server
  * A

[2022-02-09 18:08] #15977 closed

[2022-02-09 18:19] amyblais commented on #19528
Created a ticket: https://mattermost.atlassian.net/browse/MM-41720.

[2022-02-09 18:20] amyblais commented on #19527
Created a ticket: https://mattermost.atlassian.net/browse/MM-41718.

[2022-02-09 20:01] hmhealey commented on #19252
Okay, I think we've come to the conclusion that the positioning relative to RTL text is correct, but that the overlapping pencil icon is definitely something we want to fix. If you don't mind, I'm going to update the title of the ticket to reflect that

[2022-02-09 20:03] sinansonmez commented on #19252
Please update the title. Then, I can work on to fix pencil icon issue

[2022-02-09 21:00] hmhealey commented on #19252
@sinansonmez That's done. Want me to assign this to you then?

[2022-02-09 21:03] sinansonmez commented on #19252
Sure @hmhealey happy to work on this

[2022-02-10 04:04] #18867 closed

[2022-02-10 04:39] agnivade commented on #19335
Hey @vinod-designer1 - just checking if you are still working on this?

[2022-02-10 04:39] agnivade commented on #19336
Hey @prakharporwal - how is it going with this?

[2022-02-10 04:46] agnivade commented on #19334
Hi @pankajhirway - how is it going with this? Let me know if I can help in any way.

[2022-02-10 07:19] prakharporwal commented on #19336
I made some changes . idk tests are failing .

[2022-02-10 07:20] agnivade commented on #19336
Can you send a PR? I can take a look.

[2022-02-10 07:21] prakharporwal commented on #19336
Ok . I am sending in

[2022-02-10 07:33] prakharporwal commented on #19336
some issue with my github login . will take some time.

[2022-02-10 08:05] michelengelen commented on #19252
Sorry to butt in on this so late, but the problem with the icon is that it was incorrectly stored on a Unicode character slot that normally is reserved for rtl characters (the unicode range used here is normally reserved for arabic ligatures).

To be precise `U+FC92` would normally be the arabic ligature "Yeh" with zain final form (https://www.compart.com/en/unicode/U+FC92). There have been a seri

[2022-02-10 09:13] majidys opened #19531 "Applied changes don't save"
Hi
in system console -> User Management -> Channels
When I select the user as the channel admin and press the save button :
The save button stays in this mode
![image](https://user-images.githubusercontent.com/99164978/153374024-1d998903-b660-4d64-ae65-a83ea601f240.png)

Other Info :
Edition and License : Enterprise Edition - Starter
detailed_error: ""
id: "api.ldap_groups.license_error"
message:

[2022-02-10 09:14] majidys commented on #19531
@tbalthazar @MerlinDMC @lurcio @mauricio

[2022-02-10 09:38] c0deright commented on #19051
Same issue here

[2022-02-10 09:51] sinansonmez commented on #19252
Thanks @michelengelen for clarification. Good to know for future PRs.

No problem that i spent some time on this. I learned  a bit about ltr & rtl topic. It was also fun to play around css to fix this 😅

To solve this, I assume, one of core  committer should update package and you dont need PR from my side.

[2022-02-10 11:19] #19510 closed

[2022-02-10 14:20] amyblais commented on #19531
I'll close this as a duplicate of https://github.com/mattermost/mattermost-server/issues/19051.
There is a pull request open for this, I'll ask the team what the status on it is.

[2022-02-10 14:31] amyblais commented on #19051
I've reached out to our dev team to prioritize this.

[2022-02-10 14:32] src-r-r commented on #19333
I'm taking this issue.

[2022-02-10 15:20] Chr1st14n-LL opened #19533 "Mentioning in Mattermost Boards doesn´t work properly"
#### Summary
If i try to mention a user with "@user" on a card the notification doesn´t arrive.

#### Steps to reproduce
OnPremise Server Debian 9, Mattermost Server 6.3.2 , Client 5.0.2 + 5.0.3

#### Expected behavior
Mentioning in the Channel is working. But not in Boards. Users are both in one Team and the same Channel.

#### Observed behavior (that appears unintentional)
{"timestamp":"2022-02-

[2022-02-10 22:58] chenilim opened #19534 "Team sidebar shows scrollbar even when not needed in Chrome (Mac)"
#### Summary
Team sidebar shows scrollbar on hover, even when not needed

#### Steps to reproduce
1. Open Mattermost community server in Chrome 98 for Mac.
2. Hover over team sidebar

#### Expected behavior
Scrollbar should not appear when content fits

#### Observed behavior (that appears unintentional)
Scrollbar appears on hover

#### Notes:
Mattermost Version: cloud-2022-02-03-1
Database Schema

[2022-02-11 00:16] amyblais commented on #19534
Ticket: https://mattermost.atlassian.net/browse/MM-41744.

[2022-02-11 00:16] #19534 closed

[2022-02-11 03:35] superkkt commented on #19150
@agnivade While there are other assignees, I have made a PR to fix this issue. Please review the PR if you are okay.

[2022-02-11 08:32] #19533 closed

[2022-02-11 08:32] Chr1st14n-LL commented on #19533
Moved to Focalboard

[2022-02-11 09:32] krotovkk commented on #19142
@frnkshin @agnivade If this issue will be available. I would like to work on it.

[2022-02-11 10:04] #19150 closed

[2022-02-11 14:26] agnivade commented on #19334
Awesome!

[2022-02-11 14:27] agnivade commented on #19142
@krotovkk - Feel free to go for it, thanks!

[2022-02-11 14:36] #18820 closed

[2022-02-11 16:59] hmhealey commented on #19252
@michelengelen Would you mind submitting a PR to update that library then? I know it's kind of outside of your area of responsibility now, but as far as I know, we don't have anyone really focused on it at the moment.

[2022-02-11 19:03] VishakhaPoonia commented on #19522
@esethna Would Like to take it

[2022-02-11 19:08] chenilim opened #23050 "UX: Let users easily undo / remove auto-added table rows"
## Summary

Repro:
1. Edit the title of the last row in a table view
2. Press Enter
3. A new row is added
4. But there is no way to easily undo / delete it if it was unintended

Propose:
Pressing Escape or Enter on an auto-added card with an empty title should remove the row.

## How important this is to me and why

Importance: Medium

[2022-02-11 20:22] amyblais commented on #19476
### v6.4 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.4.0-rc2/mattermost-team-6.4.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5394/files

[2022-02-12 05:09] esethna commented on #19522
Great, thanks @VishakhaPoonia!

[2022-02-12 06:08] superkkt commented on #19149
@agnivade Is this issue still alive? I cannot reproduce the error with Mattermost (9dcd61c1248f72f85ed390e3b132d1c4c8eef9f8) and MariaDB 10.5.13. It seems that the 'member*counts_by_group' API is not called when I load channels on the web app.

[2022-02-13 00:49] shinnlok commented on #18561
Hi @esethna, I didn't get a chance to wrap this up. Please feel free to unassign. Sorry!

[2022-02-14 04:00] agnivade commented on #19149
Hi @superkkt - I just checked with the latest master, and the `/api/v4/channels/853dg15opjnejmqjioudma7spw/member_counts_by_group` API indeed gets called when switching channels.

The original issue was manifesting with mysql  `Ver 15.1 Distrib 10.5.11-MariaDB, for osx10.16 (x86_64) using readline 5.1`.

/cc @harshilsharma63

[2022-02-14 04:14] harshilsharma63 commented on #19149
@superkkt are you seeing the API call when switching channels?

[2022-02-14 05:18] superkkt commented on #19149
@agnivade @harshilsharma63 No, I cannot see the API call on switching channels. Here is debug logs that I can see when I switch channels. Could you please give me a lead to reproduce the error on my environment?

[code]

[2022-02-14 05:34] harshilsharma63 commented on #19149
@superkkt I'm on latest `master` of server and webapp and this is my API log on switching channels from the left sidebar -

[code]

[2022-02-14 05:35] harshilsharma63 commented on #19149
Actually, I see that API call is made only if you are the Enterprise edition. cc @agnivade

[2022-02-14 05:39] agnivade commented on #19149
That's what I was thinking as well. @superkkt - could you ping me on community.mattermost.com? I can provide you with a temporary EE license.

[2022-02-14 06:20] agnivade commented on #18342
I just tried to reproduce this issue on latest master with `LinkPreviews` and `LocalImageProxy` enabled. While loading a channel for the first time, there is an expected lag to populate the cache with the opengraph data. But once it's loaded, for any subsequent loads, there is no lag.

From the reported issue here, it seems that we are somehow triggering image transformations in the local image pr

[2022-02-14 07:52] michelengelen commented on #19252
@hmhealey PR is up! 👍🏼

[2022-02-14 09:27] superkkt commented on #19149
@agnivade @harshilsharma63 MySQL supports both the JSON_EXTRACT() function and `->` JSON path operator. However, MariaDB only supports the JSON_EXTRACT() function, and the `->` path operator is not implemented yet. So, we have to use the JSON_EXTRACT() function instead of the `->` path operator for compatibility between MySQL and MariaDB.

https://dev.mysql.com/doc/refman/5.7/en/json-search-functi

[2022-02-14 09:38] superkkt commented on #19149
@agnivade @harshilsharma63 Could you please test this PR instead of me? I cannot do it by myself because I don't have an EE license yet.

[2022-02-14 14:19] agnivade commented on #19149
@harshilsharma63 - Since you originally reported the issue, mind giving that PR a test run? :)

[2022-02-14 15:54] amyblais commented on #19549
Opened a ticket: https://mattermost.atlassian.net/browse/MM-41812.

[2022-02-14 16:12] Vovcharaa commented on #19412
Any updates on issue?

[2022-02-14 16:43] elandorr commented on #18342
In September when I posted my test file I was using whatever was latest then, but I just tried again and can tell you exactly how to reproduce:

- v6.3.3
- previews on, proxy on
- open (h)top
- post this url https://filesamples.com/samples/image/png/sample_5184%C3%973456.png
- watch the server explode

Now if you have a more expensive server than we do you might still not notice, this is on some c

[2022-02-14 22:34] src-r-r commented on #19149
I was planning on originally taking this issue, but I take it there's still a discrepancy on whether this is still an issue?

[2022-02-14 22:42] esethna commented on #19522
@VishakhaPoonia how's this going? Let us know if you need help or guidance :)

[2022-02-14 22:43] esethna commented on #18561
Closing to bump and reopen this

[2022-02-14 22:43] #18561 closed

[2022-02-14 22:45] mattermod opened #19555 "Improve channel intro message and illustration"
## The Problem

When a channel is empty or has very few messages, we don’t have a very good empty state. We should look to improve visual impact and the usefulness of the channel’s empty state. This will help orient the user and make it more obvious that the channel is empty and it will hopefully encourage users to engage.

#### Current Empty State of a Channel

![image](https://user-images.github

[2022-02-15 00:54] src-r-r commented on #19333
@agnivade, pinging you for the PR merge.

Thanks for your suggestions and help.

[2022-02-15 04:14] agnivade commented on #18342
Thanks for the update @elandorr. Unfortunately, I tried with the exact same steps, but could not reproduce anything. I even tried with https://effigis.com/wp-content/uploads/2015/02/Airbus_Pleiades_50cm_8bit_RGB_Yogyakarta.jpg, which is a 50MB image. The proxy timed out while sending the image, but that's a separate issue. Other than that, I did not see any CPU/Memory issue.

I think this is the d

[2022-02-15 12:51] sinansonmez commented on #14404
Hello @jasonblais @esethna I am having a problem to recreate this issue. In `announcement_bar_controller`, I am enabling a simple banner with the following props.

[code]
However, I don't see the text is truncated (please see the screenshot below). I am wondering what am I missing here? 🤔

<img width="1439" alt="Screen Shot 2022-02-15 at 13 42 24" src="https://user-images.githubusercontent.com/374

[2022-02-15 15:00] mattermod opened #19559 "Indigo theme setting white as background color for code blocks"
Environment: master, found during PR testing [https://github.com/mattermost/mattermost-webapp/pull/9655](https://github.com/mattermost/mattermost-webapp/pull/9655|smart-link)

Steps:

  1. Post a code block
  1. Change team theme to Indigo

Expected: Dark code block background

Observed: White code block background

PR note from <~accountid:5deee069ca98940cb900ede6>

This CSS seems to be setting t

[2022-02-15 15:03] #19037 closed

[2022-02-15 15:03] #18972 closed

[2022-02-15 15:30] mattermod opened #19561 "RN App: (Android) Clicking on a hashtag from Saved Posts modal returns you to the channel and does not take you to Search results"
Reproduces in Rainforest (v6.4, v1.49 build 383) as well as on mysql.test on the same version/builds. This is a regression since last this test ran in RF (5 Nov '21 for v1.48 release)

Steps:
1. Make a post #hello World\!
2. Long press on the post and Save it
3. Click on the 3-dots top right of the screen and select Saved Messages
4. From within the Saved Messages modal, tap on the #hello hashtag

[2022-02-15 16:05] mickmister commented on #19559
The Indigo theme should be using `Solarized Dark` for its code theme

[2022-02-15 17:35] agnivade commented on #18342
Great! Can you please attach the profile here? It is a standard Go profile containing only application specific data. Please see documentation here: https://pkg.go.dev/net/http/pprof, https://go.dev/blog/pprof.

[2022-02-15 18:25] VishakhaPoonia commented on #19522
@esethna Thanks, will push something by weekend.

[2022-02-15 18:50] rpkoller commented on #19466
i would be open but i am unable to. i am stuck to Safari 13.1.2 since Safari updates aren't provided for High Sierra by Apple anymore (i am still using a mbp 13" early 2011 - will order a new in the coming weeks)). but I've just reported the issue since https://docs.mattermost.com/install/software-hardware-requirements.html#software-requirements has listed Safari v12+ as the minimum technical requ

[2022-02-15 18:55] amyblais commented on #19466
@rpkoller Makes sense, we had an internal discussion and we'll be updating the software requirements guide to note that we recommend a more recent Safari version.

Until you order a new device, one option could be for you to use another browser in the meanwhile.

[2022-02-15 19:24] esethna commented on #14404
@sinansonmez good catch, looks like there is probably a bug there as it should truncate if it's too long to fit on one line. Would you be open to fixing that in the same PR? The idea behaviour is:

1. Text is not long enough to truncate > there should be no tooltip on hover
2. Text is long enough to truncate > tooltip should show on hover

[2022-02-15 19:27] rpkoller commented on #19466
yep i agree upgrading the minimum software requirement is a reasonable step ( tbh would make sense to even support only the versions of safari apple supports - users still have the option to use firefox, chrome or alike) .

and one odd detail i am using the mattermost desktop app ( even though the minimum requirement is macos 10.14+  it works nevertheless without any complaint) and the odd part ab

[2022-02-15 19:35] sinansonmez commented on #14404
Okay @esethna I will also check that and try to fix, thanks

[2022-02-15 22:53] hmhealey commented on #18342
No, we don't use the image proxy for any transformations at this point. It's something we could do, but we're not doing it at all right now.

[2022-02-16 05:45] majidys commented on #19051
Hello
Thanks for following up
Is there no time to fix the problem?
We need it a lot

[2022-02-16 07:38] VishakhaPoonia commented on #19559
@mickmister, I would like to take it.

[2022-02-16 08:00] DVTrast opened #19572 "Updating to 6.3.3 "failed adding column CategoryName to table IR_Playbook: Error 1118: Row size too large.""
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2022-02-16 08:45] pankajhirway commented on #19334
@agnivade  PR is created

[2022-02-16 10:40] elandorr commented on #18342
https://safenote.co/r/620cd4783641f1@22008851
I looked at it and can't make sense of it, but you're the go devs.

[2022-02-16 13:02] #19380 closed

[2022-02-16 13:46] #19476 closed

[2022-02-16 14:18] #19051 closed

[2022-02-16 17:03] elandorr commented on #18410
Any comment on this? I haven't looked at my cobbled together script in years. For now even just cleaning messages properly would help, we disabled files since then altogether as there's no clean up feature.

[2022-02-16 17:42] mickmister commented on #19559
Great! Thanks, @VishakhaPoonia! :tada:

[2022-02-16 18:20] amyblais commented on #19572
@lieut-data @crspeller Is there a Playbook related issue here?

[2022-02-16 18:21] amyblais commented on #19412
@agnivade @isacikgoz Would you like me to create a ticket for SET?

[2022-02-16 18:29] amyblais commented on #19412
Opened: https://mattermost.atlassian.net/browse/MM-41910.

[2022-02-16 22:32] mkraft commented on #19412
@Vovcharaa Were you using s3 file storage prior to the upgrade?

[2022-02-16 22:37] bbodenmiller opened #19579 "S3 debugging logs overlap"
#### Summary
S3 debugging logs overlap make them unusable by ELK and Splunk

#### Steps to reproduce
Setup Mattermost with S3 debug logging enabled

#### Expected behavior
Logs do not overlap

#### Observed behavior (that appears unintentional)

`/var/log/gitlab/mattermost/current` has overlapping log messages:

[code]

#### Possible fixes

[2022-02-16 22:42] Vovcharaa commented on #19412
@mkraft Yes. Currently there is around 100 GB of data and everything works fine with version 6.0.4.

[2022-02-16 23:22] amyblais commented on #19579
@bbodenmiller What Mattermost server version are you on?

[2022-02-16 23:23] amyblais commented on #19572
@DVTrast What Mattermost Playbooks version are you using?

[2022-02-16 23:26] crspeller commented on #19572
@amyblais I suspect this is a database configuration issue.

@DVTrast Can you provide the DB and version you are using? It's possible you are running into a MySQL issue. Maybe: https://stackoverflow.com/questions/22637733/mysql-error-code-1118-row-size-too-large-8126-changing-some-columns-to-te

[2022-02-16 23:42] mkraft commented on #19412
@Vovcharaa Would you please be able to share your startup logs like you did before but with System Console > Environment > File Store > Enable Amazon S3 Debugging set to true (ie `FileSettings.AmazonS3Trace` set to `true` in the config).

[2022-02-16 23:59] Vovcharaa commented on #19412
@mkraft S3 bucket name masked.
[startupWithS3Debug.txt](https://github.com/mattermost/mattermost-server/files/8084425/startupWithS3Debug.txt)

[2022-02-17 06:33] agnivade commented on #18342
Thanks for the profile @elandorr ! I can see the issue now. I am consulting internally on the best way to proceed. I'll keep you posted. Thanks for your patience with this!

[2022-02-17 06:50] bbodenmiller commented on #19579
@amyblais 6.2.1.

[2022-02-17 06:51] DVTrast commented on #19572
I use this MYSQL-Version: mysql  Ver 15.1 Distrib 10.5.15-MariaDB, for Linux (x86_64) using readline 5.1
I´ll check the MySQL-Issue.
Thank you

[2022-02-17 07:21] codedsun commented on #19511
@Willyfrog This issue can be closed as PR has been merged

[2022-02-17 07:54] #19511 closed

[2022-02-17 08:13] superkkt commented on #18428
@agnivade May I take this one?

[2022-02-17 08:14] agnivade commented on #18428
Go for it!

[2022-02-17 08:43] bbodenmiller opened #19584 "Object storage connection failures failing to record in S3 debugging details"
#### Summary
We're seeing intermittent object storage failures in Mattermost log but not seeing the details in S3 debug log despite having it enabled. We are seeing S3 debug logs for successfully connections to S3.

#### Steps to reproduce
1. Connect Mattermost server to object storage
2. Enable S3 debugging
3. Have connection failures with object storage
3. Observe failures don't show in S3 debug

[2022-02-17 13:31] amyblais commented on #19579
@agnivade @streamer45 @isacikgoz Let me know if you have thoughts on this issue and https://github.com/mattermost/mattermost-server/issues/19584.

[2022-02-17 15:44] agnivade commented on #19579
For this one, when we add tracing to our s3client, we just pass `os.Stdout` instead of our logger which creates this. https://github.com/mattermost/mattermost-server/blob/59a34bfc53772d1dc635195816e6d01da78697cd/shared/filestore/s3store.go#L146-L148

I'd suggest both this one and #19584 can be handled by the Channels team.

/cc @zefhemel

[2022-02-17 18:50] mkraft commented on #19412
@Vovcharaa You said that download, uploading, and server restart are slow, but also that the server is completely unusable. Is reading and writing posts, loading channels, changing teams, etc slow too? Or is it just file uploading, downloading, and restart. Are plugins enabled?

[2022-02-17 19:40] Vovcharaa commented on #19412
@mkraft
Attachments, photos, user profile pictures ether loading very slowly or not loading completely, which means server can`t be used for communication purposes for our teams. Loading performance of data stored in database seems not to be affected.

Plugins are enabled but I tried to delete all of them or disable completely and had same result.
Actually, all logs that I presented here are on fr

[2022-02-17 21:07] matthewbirtch commented on #19559
FYI, we have another PR that would be great to have this fixed for. https://github.com/mattermost/mattermost-webapp/pull/9655#pullrequestreview-886544954.

@VishakhaPoonia is this something you think you might be able to get to soon?

[2022-02-17 21:21] mkraft commented on #19412
@Vovcharaa `eu-north-1` is 50% slower for me to download the same test file compared to `ca-central-1`, but I'm in Canada. Also, that would only make sense in your case if the upgrade were coincidental (rather than the trigger). If you roll back to v6.0.4 do you regain your previous better performance?

[2022-02-17 21:32] Vovcharaa commented on #19412
@mkraft Yes.

I setuped test server where this bug is in action. Would it be useful for you to take a look on it yourself? I could provide you test account credentials in some private form.

[2022-02-17 21:36] mkraft commented on #19412
@Vovcharaa Yes please. I'm available either on [our community instance](https://community.mattermost.com/core/messages/@martin.kraft) or [by email](mailto:martin@mattermost.com).

[2022-02-17 21:53] Vovcharaa commented on #19412
@mkraft Sended in PM on community instance.

[2022-02-17 22:18] kenyon opened #19589 "Unread messages notification dots/badges on team icons disappear, and don't appear correctly unless you switch teams"
#### Summary
Unread messages notification dots/badges on team icons disappear, and don't appear correctly unless you switch teams

#### Steps to reproduce
Be a member of multiple teams. Have new messages come in on teams other than the one you're currently viewing.

Mattermost Enterprise Edition 6.0.2 using the official Docker image. PostgreSQL database.

Problem occurs both in the web interface,

[2022-02-17 22:57] sinansonmez commented on #19252
Is it OK to close this issue as @michelengelen's PR is merged. cc: @hmhealey @amyblais

[2022-02-17 23:25] amyblais commented on #19589
@kenyon Do you see any Mattermost server log errors from around the time the issue occurs?
Are you able to upgrade to a more recent version, e.g. v6.3.3?

[2022-02-17 23:46] kenyon commented on #19589
Not seeing any errors in the server log related to this. I didn't realize that we were on such an old, unsupported version already, so we will upgrade and report back here. (Might take a while to get to the upgrade, though.) Thanks.

[2022-02-18 08:54] batonPiotr opened #19593 "Crash on app launch"
#### Summary
Crash directly upon opening the app

#### Steps to reproduce
1. Open the app, v 5.0.4
2. App crashes

Observed on macOS 12.1 on intel CPU

#### Expected behavior
The app runs

#### Observed behavior (that appears unintentional)
The app crashes without even drawing the GUI

#### Possible fixes
Found none, temporarily using web mattermost.

[Crashlog](https://github.com/mattermost/matte

[2022-02-18 10:47] streamer45 commented on #18410
Understood. If the only thing missing in exports that you'd require are profile images then that's probably the quickest way to make it happen implementation wise. As for permanent deleting resources, part of it is covered by our data retention feature (e.g. messages) although that's only available in enterprise (e20) license.

@mkraft I see the original ticket is assigned to your team. Would you

[2022-02-18 13:31] VincentSC commented on #17572
Found something by searching "MM-35343" on the main repo: https://github.com/search?q=org%3Amattermost+MM-35343&type=issues

Seems https://github.com/mattermost/mattermost-webapp/pull/8115 has problems as there are 2377 files changed, of which various are unrelated to the functionality. I assume it was built against an old version, and a new PR needs to be made against the latest version. Maybe @D

[2022-02-18 15:20] mkraft commented on #19412
@Vovcharaa I tried switching to a new test S3 bucket created under our Mattermost coporate AWS account and the performance issues were immediately solved, as far as I could tell. We recommend experimenting with increased resources.

[2022-02-18 15:28] #19348 closed

[2022-02-18 16:36] mkraft commented on #19412
@Vovcharaa Yes, I used explicit keys. We *did* [upgrade the minio dependency](https://github.com/minio/minio-go/compare/v7.0.11...v7.0.14) from v7.0.11 to v7.0.14.

[2022-02-18 16:40] Vovcharaa commented on #19412
@mkraft Could [this](https://github.com/minio/minio-go/commit/85c9be567b778706b6246566775d714f4b03789e) be related to this issue?

[2022-02-18 16:51] Vovcharaa commented on #19412
Instance is definitely not under resourced. This issue is with changed communication logic with S3 while using EC2 instance role, which was introduced with minio dependecy upgrade.

[2022-02-18 17:49] esethna commented on #18797
@mr-aboutin checking in if you're still working on this?

[2022-02-18 20:41] gc-ss opened #19599 "[Question] Anyone working on adding custom roles?"
I am curious whether there's anyone working on adding custom roles?

For example, each role essentially has a set of options that an admin can activate or deactivate for each role and then assign different users to roles

[2022-02-18 22:51] elandorr commented on #18410
Sorry for the long post, but half a year later this is needed:

Well no, I clearly said passwords are a must for starters. Everything, the entire user + channels/teams. Nobody should ever know anything happened, except the chat contents being reset. Sessions need to be preserved too. The session reset bug already hit a while ago and people hate logging in on mobile with the safe password requireme

[2022-02-19 08:31] streamer45 commented on #18410
Okay then the export -> import route is most definitely not what you want here.

Would you be able to share the full output of the `integrity` command? It will help us get a clue on your current DB state and possibly propose some queries to run.

I feel some (understandable) frustration here and I am sorry you feel this way about MM but this is totally open source. It's Saturday morning and I am t

[2022-02-19 08:48] elandorr commented on #18342
@agnivade Would you mind sharing what the issue was now? I'm not experienced with pprof, I only saw memmove being on top.

[2022-02-19 09:44] #19434 closed

[2022-02-19 10:57] elandorr commented on #18410
`Found 23 in relation Audits orphans of relation Sessions` This is all there is, the rest are at 0.

It's not helping at all, and I did not ask you to. I normally don't visit github on the weekend either, but I'm at the PC right now and might as well reply, because this is truly aggravating attitude.
It's a simple, very basic necessity that the one designing the db layout can tell you in a second

[2022-02-19 12:19] streamer45 commented on #18410
I really didn't mean to upset you, I come in peace and truly willing to help you so let me apologise if I did :) I propose we focus on the technical issue and leave the open source discussion/business model for another time :p

I think this is the core of the problem we are having. I don't believe this to be true as things stand. There simply isn't a single person with that knowledge as the applic

[2022-02-19 13:46] Borknab commented on #18818
Hello! :)
I would like to contribute to the project by solving this issue (writing a test). Can I start working on it? @saturninoabril

[2022-02-19 13:59] compilenix commented on #9822
Here is an updated state:
![Screenshot from 2022-02-19 14-56-28](https://user-images.githubusercontent.com/6356150/154803871-cb556641-686f-4cbc-9b44-2ae1c15163b1.png)

[2022-02-19 20:55] saturninoabril commented on #18818
Hello and thanks @Borknab!

[2022-02-20 04:08] 97amarnathk commented on #19171
Raised a fix for this issue here - https://github.com/mattermost/mattermost-plugin-playbooks/pull/1053

[2022-02-20 09:06] MohamedFaroukAbdelazeem commented on #15337
sudo add-apt-repository ppa:longsleep/golang-backports
sudo apt update
sudo apt install golang-go

[2022-02-20 13:29] trilopin commented on #19172
Hey! I would want to take this one.

[2022-02-20 18:07] sriio opened #19602 "Updating from 6.3.3 to 6.4.0 : "Failed to apply database migrations.""
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2022-02-20 19:56] gramakri commented on #19602
We hit this in the Cloudron package as well - https://forum.cloudron.io/topic/6525/mattermost-upgrade-to-1-59-0-breaks . A more complete log if it helps:

[code]

[2022-02-21 03:44] agnivade commented on #19602
cc @isacikgoz

[2022-02-21 07:47] #19252 closed

[2022-02-21 09:18] ZeeshanAmjad0495 commented on #18823
Hi @saturninoabril , I would like to write the e2e test for this issue.

[2022-02-21 09:19] ZeeshanAmjad0495 commented on #18812
Hi @saturninoabril , I would like to write the e2e test for this issue.

[2022-02-21 09:19] ZeeshanAmjad0495 commented on #18186
Hi @saturninoabril , I would like to write the e2e test for this issue.

[2022-02-21 09:22] saturninoabril commented on #18823
Sure and thanks @ZeeshanAmjad0495!

[2022-02-21 09:22] saturninoabril commented on #18812
Sure and thanks @ZeeshanAmjad0495!

[2022-02-21 09:23] saturninoabril commented on #18186
Sure and thanks @ZeeshanAmjad0495!

[2022-02-21 09:29] ZeeshanAmjad0495 commented on #18812
Thanks @saturninoabril.

[2022-02-21 12:48] isacikgoz commented on #19602
@gramakri @sriio What mysql version do you have? It looks like something inside the `RenameSolarizedThemeWithUnderscore` procedure is not working properly.

[2022-02-21 16:07] src-r-r commented on #19335
I'd like to take this. Thank you.

[2022-02-21 16:26] vinod-designer1 commented on #19335
@agnivade hey sorry, I got stuck with some deliverable at the workplace couldn't work on it.

[2022-02-21 21:20] gramakri commented on #19602
@isacikgoz We are on MySQL 8.0.27

[2022-02-22 07:00] gc-ss commented on #19599
@amyblais Thank You!

Is this something that will be available in `mattermost-team-edition`?

Also, I'm interested in `Team Override Schemes`. Is this something:

1. available in `mattermost-team-edition` or only to available in Mattermost Enterprise and Professional licensees?
2. that will allow me to create more than the default "System Admin", Member Roles
3. Tangentially, is enabling Guest acc

[2022-02-22 08:46] janslu commented on #19602
And we are on MariaDb 10.5 with the same error while upgrading.

[2022-02-22 08:59] sriio commented on #19602
@isacikgoz Error on both Mysql 8.0.28 and MariaDb 10.7.3

[2022-02-22 11:33] majidys opened #19611 "Scrolling problem"
Hello friends
When I scroll through a channel or anywhere else,
I am **_immediately moved to the middle of previous messages_**!!
@amyblais

[2022-02-22 13:54] amyblais commented on #19599
@mkraft @laneycs Would you have more details on what SKU the custom groups feature (https://github.com/mattermost/mattermost-server/pull/18839) will be available in?

1. Team Override Schemes is currently not available in Team Edition https://docs.mattermost.com/onboard/advanced-permissions.html#team-override-scheme.
2. Guest Accounts is currently also not available in Team Edition https://docs.ma

[2022-02-22 15:39] amyblais commented on #19611
We have a few tickets related to scrolling issues
 - https://mattermost.atlassian.net/browse/MM-40043
 - https://mattermost.atlassian.net/browse/MM-40056

[2022-02-22 16:07] amyblais commented on #19584
Opened a ticket: https://mattermost.atlassian.net/browse/MM-42006

[2022-02-22 16:08] amyblais commented on #19579
Ticket: https://mattermost.atlassian.net/browse/MM-42005

[2022-02-22 16:19] rajeshwarpatlolla opened #19614 "Unable to find api for saving a post and getting list of saved posts"
#### Summary
I would like to know what is the API to save the post and list saved posts. I saw the mattermost API at [Mattermost API Reference](https://api.mattermost.com/#tag/posts) but couldn’t see any API which can be used for saving the post.

It would be really helpful if someone can help to find the API to save the post and to list the saved posts.

#### Steps to reproduce
Unable to find the

[2022-02-22 16:44] i81b4u commented on #19602
Had the same problem, but temporarily granting all rights to the database to the database user solved the problem for me.

[2022-02-22 16:48] i81b4u commented on #19602
Please disregard my previous comment. In my case it had to do with the database user not having sufficient rights to create tables. The problem described here (RenameSolarizedThemeWithUnderscore) seems to be unrelated. Sorry for that.

[2022-02-22 16:49] BenLloydPearson commented on #19611
Hi @majidys,

Please review our [contributor guide for reporting bugs in Mattermost](https://handbook.mattermost.com/contributors/contributors/ways-to-contribute#report-a-bug). it's important that you follow this process and provide all of the necessary details when reporting issues like these so we can accurately debug and fix them. It also helps us reduce the number of duplicate issues we have.

[2022-02-22 17:21] #19611 closed

[2022-02-22 19:57] darias82 commented on #19278
Hi @rmereddy how are things coming along? Is there anything we can do to assist you? Please let us know if anything has changed.

[2022-02-22 20:01] amyblais commented on #19614
Opened a ticket: https://mattermost.atlassian.net/browse/MM-42021.

[2022-02-22 20:08] isacikgoz commented on #19602
@sriio After you manually drop the procedure with `DROP PROCEDURE IF EXISTS RenameSolarizedThemeWithUnderscore;`, Does the migration (when you spin up 6.4.0) causes the same error immediately? I am expecting a scenario if we are having an error inside the procedure. I wonder if we can access that message. Because the error you are getting means it should be creating the procedure before trying to

[2022-02-22 21:10] krzysztofgal commented on #19602
I was installing (not updating) mattermost 6.4 for the first time and had same problem, granting all privileges to mysql user solved it (instead of restricting it as in installation guide).

[2022-02-22 23:13] sriio commented on #19602
Yes it is.

[2022-02-23 04:45] agnivade commented on #19602
@sriio - Just to ensure there is nothing else interfering with this, could you run:

`DROP PROCEDURE IF EXISTS RenameSolarizedThemeWithUnderscore;`

and then execute

[code]

[2022-02-23 07:33] majidys commented on #19611
Fixed issue after updating to the latest version

![image](https://user-images.githubusercontent.com/99164978/155277451-41da925c-f0d6-4817-baa5-e8dfcf37d745.png)

[2022-02-23 14:10] sriio commented on #19602
Ok i succeed in fix the problem.

I runed directly in command line the script above and that give me this error : "ERROR 1267 (HY000): Illegal mix of collations (utf8mb4_general_ci,IMPLICIT) and (utf8mb4_unicode_ci,IMPLICIT) for operation '='".

I checked the collation of tables and the collation of the database.

+----------------------+--------------------+
| Variable_name        | Value

[2022-02-23 14:24] isacikgoz commented on #19602
Great insight @sriio thanks for the update! I think we should also add this to release notes and troubleshooting. cc @amyblais

@gramakri can you also try the steps if it fixes your issues too?

[2022-02-23 14:40] agnivade commented on #19602
Wow, nice work @sriio ! But interestingly though, on the first run, you should have seen this error in the logs - `ERROR 1267 (HY000): Illegal mix of collations (utf8mb4_general_ci,IMPLICIT) and (utf8mb4_unicode_ci,IMPLICIT) for operation '='"`.

@isacikgoz - no rush, but can we artificially create a mismatch in the collations and see if we are able to notice the correct error in the logs?

[2022-02-23 15:12] d-huynh commented on #16983
Hi, I got similar problem while upgrading from 6.2 to 6.3.1 and then again from 6.3.1 to 6.4.0 on an Ubuntu VM, not docker.
We use the self-hosted free version.

Steps to reproduce:
1. Rename the old mattermost folder to mattermost-2022-02-23
2. Stop mattermost with systemctl
2. Download the new version and untar to mattermost
3. Use `rsync` to copy the folders from `mattermost-2022-02-23/plugins`

[2022-02-23 15:54] hmhealey commented on #19549
I think we've finally nailed down the cause of this issue as being caused by instances of the post textbox component (CreatePost) being leaked when its removed from the DOM (like on team switch). We've submitted fixes for that to master and backported them to 6.3.x and 6.2.x. A similar fix is in the works for 6.4.x.

We're going to close this for the time being, but we can reopen this if it's stil

[2022-02-23 15:54] #19549 closed

[2022-02-23 16:02] plwalsh commented on #19589
Also seeing this exact same behavior, with both the web browser and the desktop app (tray icon). Looks like my company is currently running version 5.37.6 of Mattermost Team Edition.

[2022-02-23 16:11] brnt-toast commented on #19405
Is this still an issue?

[2022-02-23 16:13] brnt-toast commented on #19358
PR is stale. I'm willing to work on this as well

[2022-02-23 19:25] src-r-r commented on #19529
I'd like to take this ticket, please.

[2022-02-23 19:27] mkraft commented on #19599
@amyblais It'll be available in Professional and Enterprise.

[2022-02-23 23:33] francislavoie commented on #18985
I'd like to +1 this, my coworkers and I run into this issue very frequently.

Notably, if you scroll _fast_, it doesn't bug out, and it properly pauses scrolling until more loads in... but if scrolling _slowly_, it will start jumping up many lines suddenly instead of consistently scrolling.

If I scroll at let's say 5 scroll ticks per second (moderately slow speed), it happens pretty consistently.

[2022-02-24 08:52] codedsun commented on #19555
Taking this issue up!

[2022-02-24 10:42] hanzei commented on #19405
Yes, it is

[2022-02-24 13:35] amyblais commented on #19175
I was able to reproduce this still, I'll assign this to you 👍

[2022-02-24 14:19] codedsun commented on #19555
@esethna Dont we have to change the design for Default Channel(TownSquare) and Off-Topic Channel?

[2022-02-24 14:37] M-ZubairAhmed commented on #19175
@sinansonmez feel free to take a look at this one because this isnt strictly related to emoji picker but more of the rendered

[2022-02-24 17:28] hmhealey commented on #19175
What's happening here is that when we're sending a post, we look at the text to see if there's any emoji used in it, and then we add those to the recent emojis. That code doesn't know about Markdown though, so it picks up things that aren't rendered as actual emojis. If we render the Markdown using something like the MentionableRenderer (which only outputs text that can contain mentions), that mig

[2022-02-24 19:01] esethna commented on #19555
@codedsun they should follow the same behaviour as the **Public Channels** design above:

![image](https://user-images.githubusercontent.com/14333569/155589916-424d7385-ead8-41db-ae46-077dc6dfec8c.png)

[2022-02-24 20:04] #19149 closed

[2022-02-25 07:57] digdilem opened #19637 "mmctl giving incorrect example (typo)"
[code]

The 'users' word has been omitted from this example, which makes the example not valid.

This should be:    _mmctl team **users** add myteam user@example.com username_

Appreciate version may not be current, but searching the above string in issues does not return any hits, suggesting it is still unresolved.

[2022-02-25 12:38] FelHell commented on #19602
A similar problem occured with our Mattermost installation, we are using MySQL 5.7.35 (official docker image `mysql:5.7`). I could execute the update to Mattermost 6.4.0 successfully by changing the database user to `root` at the end. I've dropped the procedure and changed the database collation as suggested before but this didn't help:
[code]

The update with the normally used MySQL username ende

[2022-02-25 18:27] #19599 closed

[2022-02-25 21:58] sinansonmez commented on #19175
Thanks for the guidance @hmhealey. I had to review relevant parts of the codebase to better understand your guidance.

The fix of this issue depends on the expected behavior (maybe expected behavior is not clear to me). Therefore what should be the expected behaviour? Therefore, which of the following changes are you suggesting?

**Option 1:**
- **Expected behavior:** If the text contains markdown

[2022-02-25 22:38] chenilim opened #19645 "Profile dialog doesn't appear when there is RHS content (e.g. thread)"
#### Summary
Unable to open profile menu when there is RHS content.

#### Steps to reproduce
1. Open a thread in the RHS
2. Click on the profile in the global nav

#### Expected behavior
The profile menu appears

#### Observed behavior (that appears unintentional)
Nothing appears

#### Video

https://user-images.githubusercontent.com/46905241/155812476-3175843a-056b-4f18-a857-cafa2cc413eb.mov

###

[2022-02-25 23:35] amyblais commented on #19645
Ticket: https://mattermost.atlassian.net/browse/MM-41817

[2022-02-25 23:35] #19645 closed

[2022-02-26 09:04] agnivade commented on #19637
@digdilem - Thank you for the report! Would you be open to send a PR? The repo is here: https://github.com/mattermost/mmctl. The same also applies for `team users remove`.

[2022-02-26 21:58] sinansonmez commented on #17291
@amyblais I was looking for an issue to take. I guess this one should be closed as related PR is merged and all the files under `components/emoji_picker/components` are typescript

[2022-02-26 22:04] sinansonmez commented on #17292
@amyblais also this one seem to be completed every file under `components/invitation_modal/` is already typescript

[2022-02-27 15:28] sinansonmez commented on #18486
Could you please assign this to me? @amyblais

[2022-02-27 15:39] AshishDhama commented on #18486
@sinansonmez All yours 👍.

[2022-02-27 16:21] src-r-r commented on #19529
So, this seems to be a new feature for both desktop, mobile, and web. Correct?

[2022-02-27 18:38] sinansonmez commented on #18486
Thanks @AshishDhama. I started to look at it but I dont see above mentioned functions in `utils.jsx`. It seems like this issue is alredy fixed by this [PR](https://github.com/mattermost/mattermost-webapp/pull/9009)

[2022-02-27 18:46] AshishDhama commented on #18486
@sinansonmez Thanks for the effort and sorry for the trouble, have attached this ticket to the PR now, Let me know if you are interested in any other issue.

[2022-02-27 18:48] AshishDhama commented on #18486
@amyblais Should we close this issue.

[2022-02-27 19:11] sinansonmez commented on #18486
@AshishDhama No worries, i will look for another issue to work on

[2022-02-27 20:36] sinansonmez commented on #17279
@amyblais I assume this issue should be closed as PR to migrate is merged

[2022-02-27 22:50] sinansonmez commented on #17281
@amyblais Could you please assign this to me? I see that already @ewwollesen had a good progress in this [PR](https://github.com/mattermost/mattermost-webapp/pull/8351). I can try to finish this

[2022-02-28 08:02] silviokuehn commented on #19602
In my case, I had to use **utf8mb4_0900_ai_ci** because all tables had this collation. So I did run:

[code]

[2022-02-28 11:58] DxLRate commented on #19358
Is this still a issue?

[2022-02-28 12:13] codedsun commented on #19555
@esethna What would add people, notifications button will do here?

<img width="898" alt="image" src="https://user-images.githubusercontent.com/20026440/155981542-266e8025-5b7e-45ba-9ed5-4945d3c93fe9.png">

Will it open the dialog under channel menu dropdown? Like this one?
<img width="872" alt="image" src="https://user-images.githubusercontent.com/20026440/155981586-85ca2452-7457-47fb-a26a-0a47ed

[2022-02-28 13:10] #17288 closed

[2022-02-28 13:26] #17291 closed

[2022-02-28 13:26] #17292 closed

[2022-02-28 13:26] #18486 closed

[2022-02-28 13:26] #17279 closed

[2022-02-28 13:48] #19296 closed

[2022-02-28 14:27] ewwollesen commented on #17281
Thanks, @amyblais
@sinansonmez Thanks for offering to finish it up. It should be pretty close I think, might just need to clean up a few things but the bulk of it should be done I just haven't had much time to work on it the past few months.

[2022-02-28 15:15] hmhealey commented on #19175
Option 1 would be the expected case. We want to keep the text exactly as the user typed it in the code block.

[2022-02-28 18:03] lieut-data commented on #19296
Thanks again, @sinansonmez!

[2022-02-28 18:16] lieut-data commented on #19171
Thank you, @97amarnathk!

[2022-02-28 18:16] #19171 closed

[2022-02-28 19:16] andrewbrown00 commented on #19527
Thanks, @rpkoller, what `theme` were you using when running the accessibility checks?

[2022-02-28 21:06] esethna commented on #19555
@codedsun good find, that is for a feature (adding people to existing GMs) that doesn't exist yet, so we can hide that button for now.

[2022-02-28 22:21] trilopin commented on #19168
Hey! I would want to try this issue :)

Thanks!

[2022-03-01 08:21] codedsun commented on #19555
@esethna What for the  notifications button?

[2022-03-01 12:45] mattermod opened #19654 "S3 debugging logs overlap"
See: https://github.com/mattermost/mattermost-server/issues/19579
##### Summary

S3 debugging logs overlap make them unusable by ELK and Splunk

##### Steps to reproduce

Setup Mattermost with S3 debug logging enabled

##### Expected behavior

Logs do not overlap

##### Observed behavior (that appears unintentional)

`/var/log/gitlab/mattermost/current` has overlapping log messages:

[code]

Fix s

[2022-03-01 13:00] mattermod opened #19655 "2 Display settings fail to translate"
1. Change the language to something other than English
  1. Observe the Display Settings list

**Expected**: Every menu option is properly translated
**Observed*: 2 specific items fail to translate - *Click to open threads* & *Quick reactions on messages** (see screenshots)

**Notes**: I didn’t test every available language but did (randomly) notice that Hungarian (Magyar in the menu) translated a

[2022-03-01 13:05] ndgayan opened #19656 "Broken API calls in plugins with NGINX sub directory setup"
I set up the Mattermost server using NGINX and subpaths (e.g., example.com/mattermost). API calls are sometimes NOT rewritten with the subpath resulting in broken images in plugins.

Actual behavior from the GET requests:
example.com/api/v4/users/*

![Tmp](https://user-images.githubusercontent.com/1891059/156173365-ebfb9a0c-bf83-4bdf-b600-797ea28f47ea.jpg)

Expected behavior from the GET requests:

[2022-03-01 14:27] amyblais commented on #19656
@ndgayan
1. What Mattermost server version are you on?
2. What OS and version are you on?
3. Do you see any Mattermost log errors when the issue happens?

[2022-03-01 14:28] #19614 closed

[2022-03-01 14:54] ndgayan commented on #19656
Thanks for the quick reply.

These are the info:

What Mattermost server version are you on?
![image](https://user-images.githubusercontent.com/1891059/156189559-8b697105-a3d8-4e24-baf1-bb656e18eee8.png)

What OS and version are you on?
The server is hosted on Ubuntu LTS 20.04
Issues in both Windows 10 - Desktop app and Chrome Browser.

I have Chrome debugger Console output:
(Broken Standup Raven

[2022-03-01 16:11] amyblais commented on #19656
@agnivade @mickmister Let me know if there could be a bug here.

[2022-03-01 16:19] mickmister commented on #19656
Hi @ndgayan, which plugins in particular are affected by this? It seems that the standup raven plugin is affected based on your screenshot. Plugins need to be individually modified to support Mattermsot servers being hosted on a subpath. The standup raven plugin is not maintained by Mattermost, so it would make sense if the plugin isn't updated to use subpaths properly.

[2022-03-01 16:20] mickmister commented on #19656
If it is the case that you only experience this with the standup raven plugin, would you be open to creating in a ticket in the repo https://github.com/standup-raven/standup-raven?

[2022-03-01 17:58] esethna commented on #19555
@codedsun the notifications button should open the notification preferences modal. The same one as accessed from here:
![image](https://user-images.githubusercontent.com/14333569/156223088-453de753-9928-441c-ab24-506fdefe66ff.png)

[2022-03-01 18:30] mattermod opened #19659 "CRT: Compact message view, clicking on thread footer avatar is not opening profile modal"
Environment: Cloud March 2nd 2022 9223*dbf779b8_015c5033*adcfde33
Not a regression. I missed this during PR testing.

Steps:

  1. Enable CRT and set Settings>Display>Message Display to Compact
  1. Create a threaded post
  1. Click on the avatar in thread footer

Expected: Profile modal opens on avatar click

Observed: Profile modal fails to open. Post opens on the RHS if user has Open thread on

[2022-03-01 21:30] lieut-data commented on #19572
@DVTrast, any luck looking into this issue on your side?

[2022-03-01 23:00] mattermod opened #19663 "RN: SVGs not respecting width and height specified"
##### Steps to reproduce

Use a large svg with a url provided over the internet, and specify a width or a height in the formatting string. On mobile the image will be ~600 px large (original size), but on desktop it will be the specified size (50px)

\!\<Image>([https://upload.wikimedia.org/wikipedia/commons/3/30/Vector-based*example.svg](https://upload.wikimedia.org/wikipedia/commons/3/30/Vector-

[2022-03-01 23:21] myasonik commented on #19193
@hmhealey I can't respond to [your comment in Jira](https://mattermost.atlassian.net/browse/MM-41686?focusedCommentId=122521) so I hope you don't mind if I respond here.

I really disagree on calling this issue a feature request. This is foundational accessibility that's native to the web. The bug is that Mattermost is not exposing any mechanism to use it.

[Mattermost's VPAT](https://docs.matterm

[2022-03-02 04:07] VishakhaPoonia commented on #19659
Would like to work on this.

[2022-03-02 04:43] mickmister commented on #19656
@ndgayan It seems that images are failing to load, yet in the ticket description, it's stated that the `/api/v4/users` route is affected. It's important to know exactly which requests are being affected, so we can pinpoint which code is the offending code, as this very well could be an issue in the web application itself.

Can you please mention me in any follow-up responses? Thank you @ndgayan!

[2022-03-02 07:18] dipak-demansol opened #19664 "Direct message -> Search For people input box, When user insert so much data then input box not looking proper."
#### Summary
Direct message -> Search For people input box, When user insert so much data then input box not looking proper. **pls see the video**

#### Steps to reproduce
:- open the direct message.
:- in the search input add somany text and issue will regenerate.

#### Expected behavior
:-  no matter how much data user insert, the input box should look proper.

#### Observed behavior (that appea

[2022-03-02 08:23] dipak-demansol opened #19666 "Not able to upload the high-resolution image in the Profile pic."
#### Summary
:- Not able to upload the high-resolution image in the Profile pic.
:- Mattermost Version: 6.5.0
#### Steps to reproduce
:- Click on Profile pic from icon, RHS.
:- Click on the "Profile" option.
:- Click on the "Edit" button of the "Profile Picture" option.
:- Click on the "Select" button and choose High-resolution (HD) image.
:- Click on the Save Button.
  **issue :- after click on t

[2022-03-02 08:53] dipak-demansol opened #19667 "profile pic max size Value showing Wrong"
#### Summary
 profile pic max size Value showing Wrong

#### Steps to reproduce
1) Click on Profile pic Icon from RHS.
2) Click on "profile" option.
3) Click "Edit" button of "Profile-picture" option.
4) you will see the text that inform us "Maximum file size: 100MB" (in the mattermost/core, the max file size is 1000MB, For image upload)
![image](https://user-images.githubusercontent.com/89907719/

[2022-03-02 10:45] DVTrast commented on #19572
Unfortunately no - I had no time. I´ll report as soon as possible the result.

[2022-03-02 15:23] ndgayan commented on #19656
Hi @mickmister,

Thanks for the information request.

In Standup Raven, user profile images are broken.
https://example.com/api/v4/users/n56knom1n7dizrm4zk15zgw3jo/image
This should be;
https://example.com/mattermost/api/v4/users/n56knom1n7dizrm4zk15zgw3jo/image

In other words, plugin API requests should use the site URL in the config file (https://example.com/mattermost). I don't know this issue

[2022-03-02 17:57] amyblais opened #19670 "Mattermost v6.5"
You can find key dates for v6.5 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### March 7th: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### March 14th: Release Build Cut
The fin

[2022-03-02 18:45] #19309 closed

[2022-03-02 19:00] amyblais commented on #19664
Opened: https://mattermost.atlassian.net/browse/MM-42259.

[2022-03-02 19:03] amyblais commented on #19666
Opened: https://mattermost.atlassian.net/browse/MM-42260.

[2022-03-02 19:04] amyblais commented on #19667
@dipak-demansol Can you help add clearer reproduction steps / description? (It's easier to read than find it from the video) Thanks!

[2022-03-02 20:44] gramakri commented on #19602
Trying to debug this now. First, I rolled back, the procedure is not there.

[code]

Then, created procedure per [this comment](https://github.com/mattermost/mattermost-server/issues/19602#issuecomment-1048446039):

[code]

[2022-03-02 21:04] ndgayan commented on #19656
@mickmister Thank you for taking care of this issue.

[2022-03-02 21:31] hmhealey commented on #19193
Sorry, I didn't mean to be dismissive about this issue. This is definitely something we should add, but I was referring to bug vs feature in a different sense where a bug is something that isn't working as designed where a dev would know what to fix vs an improvement which might need new designs or UI elements. That was more for our internal routing and to get the right eyes on this issue since we

[2022-03-02 21:38] myasonik commented on #19193
Sorry about jumping to conclusions about the phrasing. Thank you for clarifying some of the internal mechanicians and for continuing to dig into the issue!

[2022-03-03 03:00] mattermod opened #19674 "Support datetime formatting in markdown"
We can support a special syntax in our markdown to express that a certain date/time should be shown in a given user's timezone.

[Example](https://api.slack.com/reference/surfaces/formatting#date-formatting) date formatting structure:

[code]

Example input:
[code]

Example output:

[code]

This similar to how the embedded image markdown syntax currently works in Mattermost, in that it's a placeho

[2022-03-03 06:15] mattermod opened #19676 "Throw an error from coordinator if UsersConfiguration.MaxActiveUsers < ClusterConfig.MaxActiveUsers"
While creating the coordinator in New function in coordinator/coordinator.go in https://github.com/mattermost/mattermost-load-test-ng, we need to check if  `UsersConfiguration.MaxActiveUsers < ClusterConfig.MaxActiveUsers`. And if so, then throw an error.

*Issue created from a_ [_message in Mattermost*](https://community-daily.mattermost.com/core/pl/4nsca9uw3irbukx5joqx4tcd3e).

----
If you're in

[2022-03-03 07:22] dipak-demansol commented on #19667
Done.

[2022-03-03 08:09] codedsun commented on #19555
@esethna As mentioned by you here that they will follow public design channel.https://github.com/mattermost/mattermost-server/issues/19555#issuecomment-1050165407

Will they also follow the <10 user and >10 user in the channel UI? . As per the [UI](https://www.figma.com/file/LHSb4bMcvGles9ASdpA4sN/MM-28014-Channel-Intro-Messages?node-id=746%3A29724) and in the [doc](https://mattermost.atlassian.ne

[2022-03-03 10:24] 97amarnathk commented on #19676
@agnivade Can I pick this up ?

[2022-03-03 14:59] miruna opened #19682 "Notifications on "Personal access token added to your account" cannot be removed"
https://github.com/mattermost/mattermost-server/blob/8d6d1c51c2f0ce2bf7b4a0af35504a2c90eb485e/app/session.go#L373

When integrating a Mattermost instance with a website, access tokens are used for authentication is Mattermost. We have done this integration and this works well, with one exception: each time a website user enters the Mattermost discussion channel, they receive an email notification

[2022-03-03 15:11] sadohert commented on #19682
Hi @miruna  - We should talk about the approach.  Are you maintaining the same token, or creating a new one every time?  I haven't seen this login flow model used in the wya you're doing it.  Is it possible to go with SAML or OpenID?

[2022-03-03 15:13] jacobkarapatakis commented on #19682
Another route, if disabling the notification is not possible, would be to be able to customize the notification text, as exactly why this is happening... why they are receiving this email.

[2022-03-03 18:07] agnivade commented on #15249
PR was merged.

[2022-03-03 18:07] #15249 closed

[2022-03-03 18:08] agnivade commented on #15248
PR was merged

[2022-03-03 18:08] #15248 closed

[2022-03-03 18:33] dipak-demansol commented on #19667
@amyblais
Q :- If uploading 15 or 18 MB image doesn't work, then do you think it's just an issue with the value shown in the profile-picture section?
A :- **yes, value is showing wrong on the profile pic section**, but when 15 or 18 MB image upload fail then there is no proper validation that Shows what's the exact issue with the uploaded image, here is the issue reported for that https://github.c

[2022-03-03 18:35] #19656 closed

[2022-03-03 19:07] amyblais commented on #19667
Ticket: https://mattermost.atlassian.net/browse/MM-42296.

[2022-03-03 19:28] gdevenyi opened #19687 "Default FeedbackName and FeedbackEmail and empty and prevent SMTP sending, should have sane defaults."
Mattermost Version: 6.4.0 Open Source Edition
Bare metal install, using postgres, on Ubuntu 20.04

#### Summary
The SMTP configuration page does not allow specification of FeedbackName and FeedbackEmail (found in config.json), and defaults to empty for both when sending email. This results in gmail (and probably more) servers rejecting delivery.

#### Steps to reproduce
1. Install Mattermost 6.4.0

[2022-03-03 19:43] Hallikas opened #19688 "White page (error), when modifying Site_URL (javascript error, undefined t)"
#### Summary
Javascript error, white page (error)
I have container installation of Mattermost, and I tried that it works with 6.3.3, but not with latest (or latest 6.4)

#### Steps to reproduce
 - System Console -> Environment, Web Server (/admin_console/environment/web_server)
 - Try modify anything with inputbox

#### Expected behavior
Page should accept input

#### Observed behavior (that appea

[2022-03-03 20:03] Hallikas commented on #19688
After investigation, this probably is mattermost-webapp issue. Moving to there.

[2022-03-03 20:03] #19688 closed

[2022-03-03 20:48] furqanmlk commented on #19687
@amyblais let me try

[2022-03-03 21:11] phpfs commented on #18351
Hi there - has there been any update? We would like to migrate from MySQL to PostgreSQL soon if possible.

[2022-03-03 21:50] furqanmlk commented on #19687
@gdevenyi
Did you set `FeedbackName` and `FeedbackEmail` from `/environment/notifications` page ?

<img width="880" alt="image" src="https://user-images.githubusercontent.com/6909890/156658411-d5b3491c-22ef-477a-aebc-f05a25cbe958.png">

[2022-03-03 22:13] gdevenyi commented on #19687
I had not, because I didn't expect the SMTP From setting to come from a page other than the SMTP configuration.

In addition, if I didn't even want email notifications, this would still be broken for confirming a user's email address.

[2022-03-03 22:14] gdevenyi commented on #19687
Bug report title changed to reflect underlying issue.

[2022-03-03 22:18] hmhealey commented on #19193
No worries at all. I'll admit I definitely was a bit dismissive about this at first as well, so I'm glad I'm understanding the issue better from an accessibility standpoint now 🙂

[2022-03-04 03:23] gdevenyi opened #19691 "S3 "Test Connection" button deceptively fails unless you've pressed "Save" first"
Mattermost Version: 6.4.0 Open Source Edition
Bare metal install, using postgres, on Ubuntu 20.04

#### Summary
If you configure the S3 storage options and don't press "Save", the "Test Connection" button will use the unsaved settings and deceptively report failure.

#### Steps to reproduce
1. Configure S3 page
2. Don't press save
3. Press "Test Connection"

#### Expected behavior
Settings should

[2022-03-04 08:34] miruna commented on #19682
Hi @sadohert, we generate a token for each user session, so we avoid storing the tokens in the website.

Regarding authentication via SAML or OpenID, it would be rather costly to make this king of integration, as they are not natively supported. Writing/adapting a product and maintaining it in time seems like an excessive cost just to avoid sending these emails.

[2022-03-04 08:44] miruna commented on #19682
Disabling the notifications is not an option in this case. Actually, this is a very important feature for our users. I thought about customising the notifications, but the documentation mentions they are overwritten each time a MM version update is done.

[2022-03-04 11:43] codedsun commented on #19555
@esethna Please chck when you get back. Thanks

[2022-03-04 12:59] sinansonmez commented on #17284
@amyblais @devinbinnie I see that all files are migrated to Typescript except `inputs.stories.js`. I am not sure if this also needs to be migrated. If yes please assign this to me otherwise this issue can be closed

[2022-03-04 13:02] sinansonmez commented on #17267
@amyblais as related PR is merged, I think this issue can be closed

[2022-03-04 13:17] sinansonmez commented on #17257
@amyblais could you please assign this to me?

[2022-03-04 13:17] sinansonmez commented on #17258
@amyblais could you please assign this to me?

[2022-03-04 13:23] sinansonmez commented on #16728
@amyblais @devinbinnie  as i see [all files](https://github.com/mattermost/mattermost-webapp/tree/master/components/invitation_modal) are migrated to TypeScript, I think this issue can be closed

[2022-03-04 13:35] sinansonmez commented on #16714
@amyblais as the PR is merged, I think this issue can be closed

[2022-03-04 13:41] sinansonmez commented on #16711
@amyblais as I see all files are migrated to Typescript by this [PR](https://github.com/mattermost/mattermost-webapp/pull/9281), this issue can be closed

[2022-03-04 14:32] devinbinnie commented on #17284
I think we can ignore that file for now, thanks @sinansonmez :)

[2022-03-04 14:32] #17284 closed

[2022-03-04 14:32] devinbinnie commented on #16728
Thanks @sinansonmez, will close this :)

[2022-03-04 14:32] #16728 closed

[2022-03-04 16:27] #17267 closed

[2022-03-04 16:28] #16711 closed

[2022-03-04 16:28] #16714 closed

[2022-03-04 18:37] dipak-demansol opened #19710 "Start call Functionality, Screen Sharing Stop working and not able to Stop and start screen sharing again, only option is to leave a call and join again."
#### Summary
:- "Start call" Functionality, Screen Sharing Stop working and user is not able to Stop and start screen sharing again, only option is to leave a call and join again.

#### Steps to reproduce
1) From RHS header section, Click on the "Start Call" Icon.
![2022_03_04_136_Kleki](https://user-images.githubusercontent.com/89907719/156817120-586c5c05-1bcf-4ea2-b35c-e5112caf8718.png)

2) Clic

[2022-03-04 18:44] dipak-demansol commented on #19710
2 way to generate the issue.
1st :- Start call > Start screen sharing > Click on extend icon > click on cancel icon to close the model (window) > now user will not able to stop the screen sharing. (Stop screen sharing button will not work)
2nd :- Start call > Click on extend icon > Start screen sharing > click on cancel icon to close the model (window) > now user will not able to stop the screen s

[2022-03-04 19:37] amyblais commented on #19710
Opened: https://mattermost.atlassian.net/browse/MM-42315.

[2022-03-04 19:39] amyblais commented on #19691
Opened: https://mattermost.atlassian.net/browse/MM-42316.

[2022-03-04 19:41] amyblais commented on #19687
Opened: https://mattermost.atlassian.net/browse/MM-42317.

[2022-03-04 20:09] esethna commented on #19555
@codedsun ah good question. @matthewbirtch is the designer here and may be able to comment.

Matt for context, there is a different channel intro message if the workspace has less than 10 users with a button to invite people. @annelieseklein might have more context on it as it was done by the growth team.

We probably need to figure out how to incorporate that concept into this design

[2022-03-04 20:59] matthewbirtch commented on #19555
I added a [screen to the figma file](https://www.figma.com/file/LHSb4bMcvGles9ASdpA4sN/MM-28014-Channel-Intro-Messages?node-id=1111%3A33340) for Town Square with <10 users on the server to clarify this. In short, the Town Square channel should swap the 3 actions for the invite button when <10 users
![image](https://user-images.githubusercontent.com/2040554/156840558-7fb25408-92c1-495f-aad3-4c67ace

[2022-03-05 13:07] codedsun commented on #19555
HI @matthewbirtch @esethna . Their is a case in the source code where the Town Square channel is read-only and only system admins can post the messsage. Do you want the message `Welcome to Town Square. Post messages here that you want everyone to see. Everyone automatically becomes a member of this channel when they join the team.` to be same there?

[2022-03-05 13:36] codedsun commented on #19655
It seems that the default message was shown to the user as the translation string was not available for the same. The translations team need to translate these two strings for the other languages in which they are not yet translated to.

[2022-03-05 15:10] #19406 closed

[2022-03-05 18:22] noxer commented on #19334
I'd like to take over this issue.

[2022-03-05 19:45] src-r-r commented on #19529
General update on the ticket:

- A lot of work is going to be on the back-end. A separate HashTag model needs to be created and the associated models will need to be refactored accordingly.
- I think this should be 3 tickets. 19529 Should be the "main" back-end ticket. 2 Additional tickets should be created for the web and mobile.

A new model is needed because hashtags are currently stored in a s

[2022-03-06 00:23] matthewbirtch commented on #19555
Great catch @codedsun. You're right, we should have a different message for this case. Let's go with `Welcome to Town Square. Everyone automatically becomes a member of this channel when they join the team.`

Sorry, I don't have much insight into the `group constrained` feature. @esethna do you have any guidance or assistance with this question?

[2022-03-06 07:09] darkLord19 commented on #19134
@SharathHuddar did you get the chance to complete this? If not I can take this up.
cc: @esethna

[2022-03-06 12:17] codedsun commented on #19691
Working on this

[2022-03-06 12:56] SharathHuddar commented on #19134
Hey, yes. You can take it up

On Sun, Mar 6, 2022, 12:39 PM darkLord19 ***@***.***> wrote:

[2022-03-06 15:19] c-lombardi commented on #19687
I was having this issue on Mattermost version 6.4.2 and I found out that I had to have Email Notifications enabled and the Notification From Address set.

![image](https://user-images.githubusercontent.com/4417133/156929477-554feebd-e84e-414e-a8c7-267e1b27d97b.png)

[2022-03-06 20:57] sinansonmez opened #19716 "Setting -1 for 'Global Edit Post Time Limit' is possible"
#### Summary
I was working on a [TypeScript migration](https://github.com/mattermost/mattermost-server/issues/17257) of `components/admin_console/permission_schemes_settings/edit_post_time_limit_modal`. I realized something which was strange to me. In the modal, it is possible to set -1 for Global Edit Post Time Limit

#### Steps to reproduce
1. Go to 'System Console'
2. Click 'Permissions'
3. Cli

[2022-03-07 04:30] codedsun commented on #19363
Interested in taking this up.!

[2022-03-07 04:41] codedsun commented on #19555
@esethna let me know when you get time. Thanks

[2022-03-07 07:02] agnivade commented on #19667
@dipak-demansol - Have you ensured that your image is under the "FileSettings.MaxImageResolution" setting?

[2022-03-07 07:28] #19520 closed

[2022-03-07 12:02] wandersiemers commented on #16244
Due to the lack of activity on this issue, can I consider this issue unassigned? If so, I'd like to take it!

[2022-03-07 12:41] chfxr opened #19719 "Failed to parse SVG - unable to extract SVG dimensions"
#### Summary
Uploaded SVGs are not shown as thumbnail / preview
Mattermost Version: 6.2.1

#### Steps to reproduce
1. Go into a channel or chat
2. Upload SVG
3. SVG is not shown

Info: Enable SVGs is true.

#### Expected behavior
SVG should be displayed and rendered in a thumbnail / preview

#### Observed behavior (that appears unintentional)
Error logs:
"Failed to parse SVG","caller":"app/file.go

[2022-03-07 14:40] amyblais commented on #19716
Opened: https://mattermost.atlassian.net/browse/MM-42340.

[2022-03-07 14:42] amyblais commented on #19719
We have a related ticket open here: https://mattermost.atlassian.net/browse/MM-40450.

[2022-03-07 15:45] mattermod opened #19721 "LinkTooltip adds elements to DOM when not needed"
Right now, each Markdown link in each post in Mattermost mounts a LinkTooltip component which renders a div in the DOM, even if there is no tooltip for the given link. Due to the current plugin API for those tooltips though, it doesn’t seem like we can completely remove the LinkTooltip component when a link doesn’t support a tooltip.

We should make it so that we only render anything in the DOM fo

[2022-03-07 17:05] noxer commented on #19336
I'd like to take over this issue.

[2022-03-07 17:44] dipak-demansol commented on #19667
Hi @agnivade,
1) i Found that there is **MaxImageResolution** in the Config file of the code but the same setting is not available on Front-end so admin don't have access of changing that.
2) As you can see in the below image, there is a **MaxImageResolution** as 33177600 but as a resolution i was expecting value like ex 4000px*4000px because The resolution value should be as per height and width.

[2022-03-07 19:40] esethna commented on #19555
I'm not familiar with this case of group constrained town square. Perhaps @laneycs or @mkraft can help with what would be expected for this case in the channel intro message

[2022-03-07 20:04] joho1968 opened #19727 "Running Mattermost 6.4.1, I see Unable to activate plugin (playbooks)"
#### Summary
After upgrading from MM 6.3.x to .6.4.1, I see this in the log: "Unable to activate plugin","caller":"app/plugin.go:142","plugin_id":"playbooks"

#### Steps to reproduce
I don't know, I get it every time I re-start MM

#### Expected behavior
I would expect any migration to successfully complete.

#### Observed behavior (that appears unintentional)
[code]
#### Other information
- Ubunt

[2022-03-07 20:25] amyblais commented on #19727
@joho1968 Would you be open to reopening this at https://github.com/mattermost/mattermost-plugin-playbooks?

[2022-03-07 20:57] joho1968 commented on #19727
Sorry 'bout that. My bad.

https://github.com/mattermost/mattermost-plugin-playbooks/issues/1077

[2022-03-07 21:14] #19727 closed

[2022-03-07 23:16] sinansonmez commented on #19721
I would like to work on this @amyblais. Two clarification questions
- I can see the div created every time I post a link such as `[google](www.google.com)`. However I couldnt see the tooltip on hover. Could you please guide me on how to see tooltip?
- The idea in this issue is that dont create the unnecessary div if tooltip can not be shown

[2022-03-07 23:23] amyblais commented on #19721
cc @hmhealey

[2022-03-08 03:31] agnivade commented on #19667
1. That might be intentional. Maybe a PM question as to why there's no sysconsole setting for that.
2. Height and Width individually doesn't matter. What matters is the total number of pixels in the server side.

This seems to be an UI issue to distinguish between max file size and max resolution.

[2022-03-08 12:36] #19168 closed

[2022-03-08 16:30] mattermod opened #19741 "Mobile: Hashtag Autocomplete"
### Functional Notes

  * Leverage the existing Autocomplete UI as much as possible
  * As soon as a hash character is used in a message input, show the autocomplete menu
  * Before any other characters are typed
    * show recently used tags by current user if there are any (up to a maximum of 10) and sort by most recent first
    * In a group below, show the 10 most-used tags on the server
  * A

[2022-03-08 16:30] mattermod opened #19742 "Webapp: Hashtag autocomplete"
### Functional Notes

  * Leverage the existing Autocomplete UI as much as possible
  * As soon as a hash character is used in a message input, show the autocomplete menu
  * Before any other characters are typed
    * show recently used tags by current user if there are any (up to a maximum of 10) and sort by most recent first
    * In a group below, show the 10 most-used tags on the server
  * A

[2022-03-08 16:31] esethna commented on #19742
@src-r-r I opened an issue for the webapp work here.

[2022-03-08 16:34] esethna commented on #19741
Server work here: https://github.com/mattermost/mattermost-server/issues/19529

[2022-03-08 16:34] esethna commented on #19529
Thanks @src-r-r I spawned the webapp and mobile issues ^

[2022-03-08 16:37] kkennethlee commented on #19664
Hi everyone, getting my feet wet here. I'll tackle this one if no one has taken it yet.

[2022-03-08 17:08] esethna commented on #19325
Hey @sig5, just checking in on this, are you still working on it?

[2022-03-08 17:10] sig5 commented on #19325
Hey @esethna, I am sorry, i couldn't work on it due to some personal issues. Unassigning Myself.

[2022-03-08 17:55] VishakhaPoonia commented on #19325
@esethna Would love to work on this.

[2022-03-08 17:58] VishakhaPoonia commented on #19522
@esethna Will be resuming work on this couldn’t finish it as promised earlier due to issue with my laptop. Had to give for repairs. Will raise a pr this week.

[2022-03-08 18:49] esethna commented on #19522
Thanks @VishakhaPoonia! Looking forward to it!

[2022-03-08 19:44] amyblais commented on #19670
### v6.5 RC-1 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.5.0-rc1/mattermost-team-6.5.0-rc1-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5445/files

[2022-03-08 20:45] glennschler opened #19747 "Migrating-from-slack mmctl onboarding doc fails"
#### Summary
Following the instructions **[Migrating from Slack Using the Mattermost mmetl Tool and Bulk Import](https://docs.mattermost.com/onboard/migrating-to-mattermost.html#contents)** fail if attachments are included in slack export.

#### Steps to reproduce
Version: MM Version 6.4.1 with mysql self hosted
Fresh install, with one new team including an admin user

* Data files attached to use

[2022-03-08 21:57] hmhealey commented on #19721
The tooltip div is added to the DOM if you have any plugins enabled that can use those tooltips. In our case on Community, I think it's [the GitHub plugin](https://github.com/mattermost/mattermost-plugin-github) that causes it, but any plugin using that feature will do.

And yeah, the goal is that, if possible, we don't make a div if there's no tooltip to show. There's a chance that that's not pos

[2022-03-08 22:44] jpudell opened #19750 "Gitlab Authentication Fail - Bad response from token request"
After Upgrading Mattermost on Ubuntu from 6.2.1 -> 6.4.1 the authentification via gitlab returns: Bad response from token request.

[2022-03-08 23:39] amyblais commented on #19750
@jpudell What OS and version are you on? Do you see errors in the Mattermost server logs?

[2022-03-09 02:00] kkennethlee commented on #19664
Because there is no minimum length set, setting maximum length will collapse the input box horizontally.
I have a potential fix which is working but it involved making `scss` change to `_react-select.scss` and `_multi-select.scss`

Please let me know if this will work

[2022-03-09 02:33] kkennethlee commented on #19513
I can take this one.

[2022-03-09 04:08] account310 commented on #19589
docker version same issue

[2022-03-09 05:54] agnivade commented on #19602
Going to close this now.

[2022-03-09 05:55] #19602 closed

[2022-03-09 05:59] agnivade commented on #19504
Glad to hear it's resolved @nwl. I am not entirely sure why it should not work on Apache as well. I am going to close this for now. If someone with Apache runs into this, it'll be good to run some tests and understand exactly what's wrong.

[2022-03-09 05:59] #19504 closed

[2022-03-09 07:50] agnivade commented on #18342
This was in the end an issue with unnecessary memory allocations in our imageproxy library. We ended up bypassing the dependency entirely and copying the parts that we were actually using into our own source tree. A lot of complexity was removed by getting rid of unused features.

In the meantime, we're also working with the upstream author to resolve the issues there, although we don't have any p

[2022-03-09 07:50] #18342 closed

[2022-03-09 10:32] dipak-demansol commented on #19667
pls do whatever is the best to improve the user experience :+1:

[2022-03-09 13:31] amyblais commented on #19664
cc @hmhealey

[2022-03-09 15:35] amyblais commented on #19589
@hmhealey @M-ZubairAhmed Would you know what other information we'd need to find out if there is a bug here?
I wasn't able to reproduce this myself. One of the reporters mentioned that they didn't see any log errors.

[2022-03-09 15:38] amyblais commented on #19747
Opened a ticket: https://mattermost.atlassian.net/browse/MM-42423.

[2022-03-09 18:41] #18818 closed

[2022-03-09 18:42] esethna commented on #19134
Reassigned to you @darkLord19 :)

[2022-03-09 18:56] amyblais commented on #19579
Closing as there was a Help Wanted issue opened for this.

[2022-03-09 18:56] #19579 closed

[2022-03-09 18:56] kkennethlee commented on #19513
I'm seeing a lot of type error for `logError(error)` which is a type of `ActionFunc` because it does not apply to the new `batchAction`. What should be done with them?

[2022-03-09 18:57] amyblais commented on #19512
This is being scheduled for v6.5 and v6.3.5.

[2022-03-09 18:57] #19512 closed

[2022-03-09 18:58] #19438 closed

[2022-03-09 18:58] #19215 closed

[2022-03-09 18:59] #18900 closed

[2022-03-09 19:00] #18890 closed

[2022-03-09 19:02] amyblais commented on #18427
Closing as a Help Wanted issue was opened for this.

[2022-03-09 19:02] #18427 closed

[2022-03-09 21:53] hmhealey commented on #18603
FYI, Eric and I realized we'd sort of forgotten the "in the last seven days" part of tracking the most frequently used emojis, but we're going to leave that out right now to focus on getting the feature in how it currently is

[2022-03-10 02:48] #16244 closed

[2022-03-10 06:15] #19637 closed

[2022-03-10 09:27] han911976 commented on #19750
Same problem, just fixed with some config tweak.

Not sure the root cause, guessing might be related to deprecation of oauth 2.0
https://docs.mattermost.com/onboard/sso-gitlab.html#migrating-from-oauth-2-0-to-openid-connect

My Mattmost build was deployed behind a nginx server, standalone using omnibus build, with another omnibus gitlab build on different VM. Users are limited to login with gitlab

[2022-03-10 10:16] SharathHuddar commented on #19134
@esethna a bit of the work is done, yes. Sorry, but I'm really coming short of bandwidth. @darkLord19 maybe you can build on top of what's done ?

[2022-03-10 11:30] elandorr commented on #18342
@agnivade Interesting to see how it played out! Thanks for the follow up.

Do you have a comment on the other
implications, i.e. the traffic explosion? Given our relatively fast connection it's not noticeable as no one has tried to abuse it, but downloading and multiplying every single image regardless of size is kinda like an amplification attack against yourself.

I was thinking of the `content-

[2022-03-10 13:20] dougbranton opened #19762 "Incoming webhook sends message to webhook author when channel specified is a direct message"
#### Summary
Incoming webhook sends message to webhook author when channel specified is a direct message.

#### Steps to reproduce
1. Create an incoming webhook (specifying all fields, except unselecting "lock to this channel").
  * In our example we're specifying a Username of "jenkins" (which is not a user in our Mattermost)
2. Click update
3. Construct and execute the following curl
  * replaci

[2022-03-10 13:29] amyblais commented on #19762
@dougbranton What Mattermost server version are you on?

[2022-03-10 13:35] dougbranton commented on #19762
Mattermost Server 6.2.1

[2022-03-10 15:16] amyblais commented on #19750
@han911976 Is this similar to this report https://github.com/mattermost/mattermost-server/issues/17499?

[2022-03-10 16:46] #19175 closed

[2022-03-10 18:36] hmhealey commented on #19664
I'd need to see what those changes end up looking like to be sure, but that sounds like it'd probably be fine. We'd just need to be careful that they're not affecting any other areas of the apps since some of that CSS is reused in a few different places.

[2022-03-10 19:14] #19334 closed

[2022-03-10 19:57] #19336 closed

[2022-03-10 20:11] noxer commented on #19334
Thank you @agnivade and @isacikgoz.

[2022-03-10 20:24] hmhealey commented on #19589
I'm not sure of anything specific. This sort of issue comes up occasionally, but I don't think we have a good process for debugging it since there's plenty of possible causes.

I guess the things I'd wonder from everyone would be:
1. Which server version are you running specifically? Some people have answered, but version will likely matter for the others
2. Are you running in a multi-server setup

[2022-03-10 20:48] plwalsh commented on #19589
1. Server version 5.37.6 of Mattermost Team Edition
2. N/A for TE
3. I don't see the setting in my user account to enable CRTs, so I'm going to assume they're not enabled on our server.
4. All my messages appear to arrive in real-time. I haven't noticed otherwise.

Strangely, though, I only started noticing this happen after upgrading my desktop app from v4.6.2 to v5.0.4. At which point, I went to

[2022-03-10 21:20] kkennethlee commented on #19664
Yeah, I had to ask for that exact reason. I tried to look for other components that uses those files but it's been difficult to comb through the application

[2022-03-11 00:04] sinansonmez commented on #19721
Thanks for the guidance as usual @hmhealey. I will try to assess  both options
- don't create a tooltip container div if there's no tooltip to show (possible dependency to plugin API which means changes needed in  plugin - _I did a quick research on plugins,  it seems that GitHub is the only API which uses tooltip for links_)
- create a tooltip container div on `mouseover` and remove on `mouseleav

[2022-03-11 02:25] LianaSaat opened #19772 "Search bar function does not work."
#### Summary
Search bar does not work.

#### Steps to reproduce
Version 5.0.1. Typing anything in the Search bar does not bring up any results.

#### Expected behavior
Typing in the Search bar should show past messages that contain that key word.

#### Observed behavior (that appears unintentional)
Please see screenshot. This happens for all words, even those that can for sure be found in the chan

[2022-03-11 05:40] han911976 commented on #19750
@amyblais
yes and no?

As @jpudell said, sso functions normally before updating to 6.4. I was able to login with gitlab account without any scope set up in config, using OAuth with "api" scope set in gitlab application and no scope and DiscoveryEndpoint defined in mattermost config.

It seems the issue you mentioned was related to a mattermost server wants to auth with gitlab using OAuth but not s

[2022-03-11 11:58] necipakca opened #19774 "is it possible to disable spell check ?"
We are trying to use in Turkish language.
But most of auto correction are irrelevant and It cause funny situations. :)
Is there any way to disable spell check at system level ?

Browser : Safari (Spell Check disabled)
MatterMost Version : 6.0.2

[2022-03-11 13:37] amyblais commented on #19774
@necipakca There is a "Check spelling" setting that can be changed, please see docs at https://docs.mattermost.com/messaging/managing-desktop-app-options.html.

[2022-03-11 13:37] #19774 closed

[2022-03-11 13:39] amyblais commented on #19772
@LianaSaat
1. Do you see the same issue on Desktop app v5.0.4?
2. What Mattermost server version are you on?
3. Do you see any Mattermost server log errors or console errors?
4. What OS and version are you on?

[2022-03-11 13:42] necipakca commented on #19774
@amyblais I saw this. But I am talking abouth web browser not Desktop App.

[2022-03-11 14:02] LianaSaat commented on #19772
@amyblais Hi Amy!

[2022-03-11 14:02] amyblais commented on #19774
Got it, I checked on Safari and I was able to disable spell check via the browser's Edit > Spelling and Grammar.
What Safari version are you on? Are you able to upgrade to a more recent Mattermost version to see if you can still reproduce it?

[2022-03-11 14:08] #19333 closed

[2022-03-11 14:25] necipakca commented on #19774
Yep I already disabled it but I think this is not related with MatterMost.
MacOS : Monterey

Ok I fixed it from System Preferences --> Keyboard --> Text
Uncheck "Correct speelling automaticly".

Thanks ;)

[2022-03-11 14:28] amyblais commented on #19774
Awesome!

[2022-03-11 14:35] amyblais commented on #19750
I opened a ticket: https://mattermost.atlassian.net/browse/MM-42474.

[2022-03-11 14:39] LianaSaat commented on #19772
@amyblais Hi Amy!
1. Yes, issue persists after upgrading.
2. Is this the same as Mattermost Version? If yes, then
Mattermost Version: 5.31.9
Database Schema Version: 5.31.9
3. There are no log errors, only a main.txt in logs
4. I'm on Windows 10.

[2022-03-11 15:15] #19772 closed

[2022-03-11 17:10] #19710 closed

[2022-03-11 18:06] #15349 closed

[2022-03-11 18:12] #14775 closed

[2022-03-11 18:12] #14919 closed

[2022-03-11 18:12] #15121 closed

[2022-03-11 18:15] #14891 closed

[2022-03-11 18:17] #16845 closed

[2022-03-11 18:18] #16381 closed

[2022-03-11 18:18] #16380 closed

[2022-03-11 18:18] icelander opened #19776 "Add support for Google Cloud Storage"
#### Summary
Add a Google Cloud Storage filestore

#### Steps to reproduce
1. Set up a Mattermost instance with Minio as a proxy for GCS
2. Realize that Minio is dropping support for GCS

#### Expected behavior
There's an option to use GCS System Console alongside local and S3 > File Storage and you can use that instead

#### Observed behavior (that appears unintentional)
Minio tries to delete the

[2022-03-11 18:19] #16068 closed

[2022-03-11 18:21] amyblais commented on #15427
A note in the ticket from a PM: "Updated documentation so that it is accurate to behavior.  Closing bug ticket, added note to [MM-22664: Implement a permission setting to control Unarchive channel](https://mattermost.atlassian.net/browse/MM-22664) to check the behavior in Team Edition as part of any new changes to permissions."

[2022-03-11 18:21] #15427 closed

[2022-03-11 18:24] #19385 closed

[2022-03-11 18:25] #18950 closed

[2022-03-11 18:30] licaon-kter commented on #14918
@amyblais so it's fixed?

[2022-03-11 18:32] #17554 closed

[2022-03-11 18:33] #17438 closed

[2022-03-11 18:34] #17450 closed

[2022-03-11 18:39] amyblais commented on #14918
@licaon-kter I was cleaning up some older issues. Let me know if you can still reproduce it on a recent version, and I can create a ticket.

[2022-03-11 18:40] #18439 closed

[2022-03-11 18:40] #18364 closed

[2022-03-11 18:40] #18065 closed

[2022-03-11 18:42] #18006 closed

[2022-03-11 18:57] amyblais commented on #15554
I created a ticket https://mattermost.atlassian.net/browse/DOPS-861.

[2022-03-11 19:30] amyblais commented on #19572
Feel free to re-open with details on your findings if you need more help with this,

[2022-03-11 19:30] #19572 closed

[2022-03-11 19:48] amyblais commented on #19047
Fixes have been merged in the mmctl repo and we've added a process for the monthly releases to check that mmctl version is updated. Please re-open this if the issue persists on a more recent version,

[2022-03-11 19:48] #19047 closed

[2022-03-11 19:53] #16725 closed

[2022-03-11 20:12] amyblais commented on #17833
Opened a ticket for Devops https://mattermost.atlassian.net/browse/DOPS-862.

[2022-03-11 20:40] physiker05 commented on #19750
@amyblais Hi. I'm a colleague of @jpudell. I can give you the following information:

Ubuntu 20.04.4 LTS
Kernel: 5.4.0-100-generic
Gitlab version: 14.8.2

Entries in log look like below. So (as far as I can see) similar to what @han911976 described.

{"timestamp":"2022-03-08 19:37:53.410 +01:00","level":"error","msg":"Bad response from token request.","caller":"web/context.go:105","path":"/signup/

[2022-03-11 21:13] #19172 closed

[2022-03-11 21:24] amyblais commented on #18739
Let us know if you're still experiencing this on a more recent server version. We are also planning emoji picker performance improvements for v6.6 (April) release.

[2022-03-11 21:24] #18739 closed

[2022-03-11 21:27] amyblais commented on #17865
Please re-open this issue if you're still experiencing this,

[2022-03-11 21:27] #17865 closed

[2022-03-11 21:33] amyblais commented on #18731
Ticket: https://mattermost.atlassian.net/browse/MM-40448.

[2022-03-11 21:34] #14676 closed

[2022-03-11 21:44] amyblais commented on #14285
Ticket: https://mattermost.atlassian.net/browse/MM-38759.

[2022-03-11 21:52] amyblais commented on #17836
Please re-open this issue or let me know if the problem persists on a recent Mattermost server version,

[2022-03-11 21:52] #17836 closed

[2022-03-11 21:57] #15366 closed

[2022-03-11 23:19] #12859 closed

[2022-03-11 23:21] #13422 closed

[2022-03-11 23:23] #13829 closed

[2022-03-11 23:24] #13843 closed

[2022-03-11 23:46] #17258 closed

[2022-03-11 23:58] #17281 closed

[2022-03-12 00:18] amyblais commented on #17837
We haven't reproduced this internally, but let me know (with details on your Safari version) if this still reproduces on a recent Mattermost server version,

[2022-03-12 19:21] Luc12ww opened #19779 "luc12ww"
I'm new to github are people doing HTML

[2022-03-13 10:16] Borknab commented on #19405
Hello! I want to work on this issue!

[2022-03-13 10:16] Borknab commented on #19278
Hello! I would like to work on this issue!

[2022-03-13 17:39] theAkito opened #19780 "Consequences from Migration Experience"
Please, draw the consequences of how wrong a migration can go.

https://forum.mattermost.com/t/failed-to-insert-record-to-database/13084

[2022-03-13 22:21] sinansonmez commented on #13469
@amyblais could you please assign this to me?

[2022-03-14 07:55] codedsun commented on #19555
@laneycs @mkraft Please reply when you get time thanks.

[2022-03-14 12:25] #19779 closed

[2022-03-14 13:05] #19780 closed

[2022-03-14 13:08] amyblais commented on #15395
@streamer45 Do I open a bug ticket?

[2022-03-14 13:11] amyblais commented on #16646
Ticket for reference https://mattermost.atlassian.net/browse/MM-42501.

[2022-03-14 13:13] streamer45 commented on #15395
@agnivade could you have a look at this? Not sure if it's relevant anymore.

[2022-03-14 15:25] Borknab commented on #19405
@hanzei The header for the Zoom plugin is configured as follows (`plugin.json`):

[code]

Seems like there is no way to make this link use a target='_blank'? I tried using an <a> tag for this link with a target attribute, however, it does not work.

[2022-03-14 15:45] hmhealey commented on #19589
I'd assume it's happening in both if it's affecting the team sidebar in the app. The Desktop App is mostly a wrapper around the web app, so unless this was just affecting the tabs at the top or the Taskbar/Dock icon, then the issue is likely in the app itself.

I might come back to the websocket stuff later since I wonder if only certain requests are coming through even if posts are received in re

[2022-03-14 17:18] plwalsh commented on #19589
So after reading that, and revisiting my experience, it's possible that my problem is actually specific to the Desktop App. I first came to this issue page because I was also noticing that the team sidebar wasn't always showing me notification dots on teams other than the one currently selected. But I'm realizing now that I actually haven't seen that happen again since that first day.

What I do s

[2022-03-14 17:38] kenyon commented on #19589
The problem I originally described definitely happens in both the desktop app and web app.

Responding to @hmhealey's questions:

1. Mattermost Enterprise Edition 6.0.2 using the official Docker image. As mentioned, we need to upgrade and are planning to upgrade ASAP.
2. Not multi-server.
3. Collapsed reply threads is disabled on the server.
4. Yes posts come in real time, and I see a number (299)

[2022-03-14 17:45] mattermod opened #19784 "Show followers that will receive status update"
When posting a status update via Playbooks, include details on the number of followers that will receive this status update.

The sentence currently supports listing the number of broadcast channels. Expand it to read, “This update will be broadcasted to x users and y channels.” where hovering now also supports showing the list of followers:

![image](https://user-images.githubusercontent.com/1023

[2022-03-14 17:45] mattermod opened #19785 "Implicit timezone should honour user preference"
Playbooks currently uses the the client’s configured timezone unconditionally. This means that a computer configured in Eastern Standard Time will always have datetimes interpreted relative to that timezone.

However, Mattermost also supports overriding the current time zone. Playbooks should be configured to honour that. If the user has a timezone override, autocomplete datetimes relative to that

[2022-03-14 18:50] lieut-data commented on #19170
@SharathHuddar, anything we can do to help with this issue?

[2022-03-14 23:53] SharathHuddar commented on #19170
Hey, sorry, haven't had the chance to start working on it yet. Please
assign it to anyone else

On Tue, Mar 15, 2022, 12:21 AM Jesse Hallam ***@***.***>
wrote:

[2022-03-15 05:43] agnivade commented on #15395
From what I can see, there is no order imposed in the SQL query. So the results are not meant to be ordered. Most probably the client does the ordering.

I think Channels team should be able to clarify this further. /cc @ashishbhate @Willyfrog

[2022-03-15 08:57] tmotyl commented on #12319
here is a similar feature idea: https://mattermost.uservoice.com/forums/306457-general/suggestions/44133915-filter-out-inactive-users-in-mattermost-system-con

[2022-03-15 12:54] lieut-data commented on #19170
No worries, thanks for confirming!

[2022-03-15 13:30] mattermod opened #19788 "Allow 1 character channel names"
Currently the channel name minimum character limit is 2 characters. This ticket is to reduce that limit to one character assuming there are no technical reasons for the 2 char limit.

![](image-20220216-183355.png|width=737,height=717)

In order for this to work, we also have to remove the limitation of the url (referred as name in some places) from 2 chars to 1. This change requires fixing the re

[2022-03-15 14:15] mattermod opened #19789 "Clickable area in quick emoji reactions is too small"
Repro steps:
1. Hover over a post

2. Hover over the outer edge of an emoji in the recent reactions area

3. Click on it

Observed: The emoji highlights when hovering outside of the emoji but within near it. Clicking on it does nothing and doesn’t select the emoji

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/co

[2022-03-15 14:15] mattermod opened #19790 "@thread option for the autocomplete on a thread"
When Collapsed Reply Threads are enabled, @thread would cause a mention and auto-follow the thread for every participant, including the root post author.

This should only appear in the autocomplete of the RHS or Thread Viewer. If @thread is typed out in the center channel it should render as plain text and not appear in the autocomplete

Also add "thread" to the list of restricted usernames

Note

[2022-03-15 14:26] syspark commented on #19269
Ok, thanks. I thought the 24 CPU / 128 GB instance was for the database, not for Mattermost.

[2022-03-15 14:30] mattermod opened #19791 "Web app - Leave channel & archive channel actions should display as destructive"
Destructive actions in channel menu should be red.

<img width="1786" alt="Screenshot 2021-06-11 at 18 32 19" src="https://user-images.githubusercontent.com/29708087/168078853-2afdd4d7-c178-421f-95f6-e3495be489eb.png">

 **Design Notes**

  * Apply the **destructive action color** to the following menu items:
    * Archive channel (channel header menu)
    * Leave channel (LHS and channel header m

[2022-03-15 15:15] mattermod opened #19792 "Improve emoji searching in emoji picker to include blank spaces"
In the emoji picker entering blank space results in no match for existing emojis.

**Current experience**

if we enter `umbrella with rain drops` in emoji picker search. The search results doesn't show up anything

**Expected**

Entering either `umbrella with rain drops`  or `umbrella_with_rain_drops` should result in same search result, which should include `:umbrella_with_rain_drops:` emoji

---

[2022-03-15 15:15] mattermod opened #19793 "Channels and Favorites are not localized on the "move to" channel options menu"
Environment: daily, found during PR testing [https://github.com/mattermost/mattermost-webapp/pull/9854](https://github.com/mattermost/mattermost-webapp/pull/9854|smart-link)

Steps:

  1. Change language to something other then English in settings>display>language
  1. Open channel options menu on the sidebar and hover over  “Move to” to open submenu

Expected: Favorites and Channels options to be

[2022-03-15 15:19] hmhealey commented on #19792
Note that this might require server changes as well for custom emojis

[2022-03-15 15:30] mattermod opened #19794 "Add throttle to emoji picker search"
When a user is typing in the emoji picker search box, the whole process of requesting custom emojis from the server and creating proper states to show in the picker is a bit heavy. We should throttle it so that search doesn’t happen on every key press, and we should make sure that it still fires after the user has stopped typing.

----
If you're interested please comment here and come [join our "C

[2022-03-15 15:51] VishakhaPoonia commented on #19793
I want to take this

[2022-03-15 16:40] #15395 closed

[2022-03-15 16:50] amyblais commented on #19397
I'll close this for now, but feel free to re-open this issue if the problem comes back.

[2022-03-15 16:50] #19397 closed

[2022-03-15 16:59] amyblais commented on #14208
Cleaning up some older issues - feel free to continue this discussion either in the Peer-to-peer Help channel or on our troubleshooting forum [here](https://forum.mattermost.com/) if further assistance is needed here,

[2022-03-15 20:15] CeesJol commented on #19663
I see this message on Jira:

[code]

It also works for me locally (iOS). I assume this issue can be closed

[2022-03-15 21:01] hanzei commented on #19405
@Borknab There is indeed to way to add a target blank via the plugin. Hence, this issue should be fixed in https://github.com/mattermost/mattermost-webapp instead. Please let me know if that makes sense to you.

[2022-03-15 23:18] amyblais commented on #12990
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-15 23:18] #12990 closed

[2022-03-15 23:18] amyblais commented on #13224
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-15 23:18] #13224 closed

[2022-03-16 04:46] VishakhaPoonia commented on #19789
I would like to work on this

[2022-03-16 12:14] #19670 closed

[2022-03-16 16:12] rajeshwarpatlolla opened #19798 "Integrate the mattermost application in our web application"
#### Summary
We are trying to integrate mattermost web application in our existing web application. We would like to use mattermost web application for the chat feature.

#### Steps to reproduce
Currently, we are using mattermost APIs to integrate the chat features. But we are not able to build seamless applications like mattermost web apps. We are not sure if our choice of integrating APIs is a g

[2022-03-16 16:39] amyblais commented on #14390
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-16 16:39] #14390 closed

[2022-03-16 16:40] amyblais commented on #14959
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-16 16:40] #14959 closed

[2022-03-16 16:41] #16540 closed

[2022-03-16 16:54] Borknab commented on #19405
@hanzei Actually, it is possible to specify target='_blank' inside the plugin specifications. As documentation in `components/formatted_markdown_message.jsx` states:

[code]

Hence, prepending `!` to the links was enough to solve the problem! I created a new PR on the `mattermost-plugin-zoom` repo:
--PR--

[2022-03-16 17:18] Borknab commented on #19792
@hmhealey can I grab this issue? Looks interesting to me!

[2022-03-16 18:38] amyblais commented on #13953
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-16 18:38] #13953 closed

[2022-03-16 18:56] mkraft commented on #16646
@joho1968 Would you be up for submitting a fix for this?

[2022-03-16 19:02] amyblais commented on #19798
We have some documentation here that may be helpful: https://docs.mattermost.com/integrations/embedding.html.

There is also a feature request here that you could help upvote: https://mattermost.uservoice.com/forums/306457-general/suggestions/40351702-support-embedding-a-channel-in-a-web-page.

I also recommend sharing about either at https://forum.mattermost.com/ or via our [Peer-to-peer Help cha

[2022-03-16 19:02] #19798 closed

[2022-03-16 19:11] amyblais commented on #18810
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-16 19:11] #18810 closed

[2022-03-16 19:12] amyblais commented on #18735
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-16 19:12] #18735 closed

[2022-03-16 20:24] amyblais commented on #18018
@BlackManson I'm cleaning up some older issues. Please let me know or re-open this issue if this still reproduces on a recent Mattermost server version.

[2022-03-16 20:36] amyblais commented on #19401
@Szymon-Rysztof Does this reproduce on a more recent version of Mattermost?

[2022-03-16 20:37] amyblais commented on #17528
@tangtony Does this reproduce on a more recent version of Mattermost?

[2022-03-16 20:38] #17528 closed

[2022-03-16 20:41] amyblais commented on #19401
I'll close this for now, but if this still reproduces on a recent version, let me know or re-open this issue with details on the Mattermost server log errors.

[2022-03-16 20:41] #19401 closed

[2022-03-16 20:46] amyblais commented on #18484
I'm cleaning up some older issues. If you need further assistance on this, I recommend reaching out to our devs / community via https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mattermost.com/core/channels/peer-to-peer-help).

[2022-03-16 20:46] #18484 closed

[2022-03-16 20:50] amyblais commented on #18988
I'm cleaning up some older issues and we haven't been able to reproduce this internally. If this still reproduces on the latest version, I recommend reaching out to our Support team via https://support.mattermost.com/hc/en-us/requests/new to further troubleshoot this.

Another option is to post about this at https://forum.mattermost.com/ or via our [Peer-to-peer Help channel](https://community.mat

[2022-03-16 20:50] #18988 closed

[2022-03-16 20:52] amyblais commented on #19682
Thanks, appreciate your feedback @miruna,

Would you like to [contribute this in the feature idea forum](https://mattermost.uservoice.com/forums/306457-general/) so it can be discussed, upvoted and considered for a [help wanted ticket](https://docs.mattermost.com/process/help-wanted.html)?

Please include a link back to this GitHub issue. If you're interested in implementing, please say so and we'

[2022-03-16 22:42] Borknab commented on #19792
@hmhealey I have two questions:

1) Essentially, I should just treat black space in between the words of the search query as single underscores?

e.g.
"      umbrella      with     rain   drops    "
gets treated as
"umbrella_with_rain_drops"

Or are there cases when I should treat black space as `-` or `+`? (since they are other supported symbols apart from the underscore)

![image](https://user-i

[2022-03-17 07:28] joho1968 commented on #16646
Wow ... a blast from the past 😊

Unfortunately, I don't "Go"; I do a lot of other languages, but not Golang.

But surely, this fix can't be that complex, since it's about **not** remembering the choice?

[2022-03-17 08:08] hanzei commented on #19405
Nice find @Borknab  :+1:

While the fix in Zoom is fine, I'm wondering if there is ever a case where a link in the plugin settings page should _not_ open in a new tab. @mickmister What do you think?

[2022-03-17 09:26] M-ZubairAhmed commented on #13721
A little heads up only following files remains in the folder "components/emoji_picker" to be converted to ts
- components/emoji_picker/emoji_picker_overlay.jsx
- components/emoji_picker/emoji_picker_tabs.jsx

[2022-03-17 09:47] sridhar02 commented on #13721
@M-ZubairAhmed I would like to work on this, can you assign this to me ?

[2022-03-17 09:49] M-ZubairAhmed commented on #13721
@SBagaria2710 would you still be interested to work on it ? or would like to take @sridhar02 take over

[2022-03-17 11:25] BlackManson commented on #18018
@amyblais Yes, this problem is still present in the latest version.

[2022-03-17 11:55] sinansonmez commented on #19794
@amyblais could you please assign this to me?

[2022-03-17 12:11] rpkoller commented on #19527
@andrewbrown00 apologies. your answer slipped through. took a quick look now. looks like my report and the mentioned points were based on denim (version 5.0.3 on macos when reported):
![denim](https://user-images.githubusercontent.com/1665422/158805654-797dd476-466e-4f82-b28d-d215578b7d38.png)

[2022-03-17 12:27] amyblais commented on #18018
Got it, opened a ticket: https://mattermost.atlassian.net/browse/MM-42589.

[2022-03-17 16:36] ryoarmanda commented on #19313
Can I take this issue?

[2022-03-17 17:04] hmhealey commented on #19589
Thanks for the responses!

I think we've identified an issue specific to the Desktop App around this. I'm not sure if that will solve everyone's issue that's being reported here, but it should hopefully help some people.

Here's the PR: https://github.com/mattermost/desktop/pull/2020. We can post back with a nightly build of that once that's out so that people can try it out

[2022-03-17 17:08] #18851 closed

[2022-03-17 17:17] SBagaria2710 commented on #13721
I'll look into this. Thanks for reminding @M-ZubairAhmed  :)

[2022-03-17 17:39] dougbranton commented on #19762
I've written it up here: https://mattermost.uservoice.com/forums/306457-general/suggestions/44925319-incoming-webhook-option-to-not-include-webhook-aut

[2022-03-17 18:06] mickmister commented on #19405
@hanzei 2/5 I think we should just apply the fix to the webapp repo and not the individual plugins

@Borknab Thanks for looking into this and solving the issue. What are your thoughts on making a change to the `mattermost-webapp` to fix this for all plugins?

[2022-03-17 18:28] Borknab commented on #19405
@mickmister so you mean that we should treat all `[text](link)` occurrences from all plugins' settings as target='_blank' links? What if there are cases when links point to internal mattermost pages? These should not be blank, right? How should I differentiate between these cases in the webapp?

[2022-03-17 18:32] mickmister commented on #19405
I think this would be very uncommon but of course it's definitely possible

I believe there are helper functions in the webapp like `shouldOpenInNewTab` or something similar that we can use here. Whatever the main post markdown rendering logic is using to differentiate between the two kinds of links should be used here as well.

If it seems impossible to do this, then an acceptable compromise woul

[2022-03-17 20:48] hmhealey commented on #19792
@M-ZubairAhmed can have the final say since he filed the original ticket, but I think:

1. Yeah, I'd say we could treat spaces as `-` and `+` too. Basically, we treat spaces the same as any of the other punctuation characters.
2. No, I don't think we need to do this one, at least for now. The autocomplete doesn't handle spaces particularly well, and I think adding them for emojis could reintroduce

[2022-03-17 22:19] Borknab commented on #19405
@mickmister thanks for your responses!

To follow up on the issue, I don't see any similar helper functions at the moment.
Seems like we use [marked ](https://github.com/markedjs/marked) for generating HTML from Markdown, as I see it in `components/admin_console/schema_text.jsx`:

[code]

Perhaps I can use regex to search for `[]()` links in text and prepending `!` before the link in the rounded b

[2022-03-18 08:45] mattermod opened #19802 "Migrate Threads RHS tour tip to tippy based tour tip just like complete_your_profile_tour.tsx"
**Migration**
As part of the growth spike effort we have created a new tour tip component that isn't strictly bound to any tour(and store), so to keep the codebase clean we will be migrating all the existing tour tips to a new tippy based tour tip.

Also as CRT tour tips don’t have e2e we will be adding those as part of this campaign.

Some examples of already migrated files can be found here:

[h

[2022-03-18 08:45] mattermod opened #19803 "Migrate CRT tour to new tippy based tour just like onboarding tour"
**Migration**
As part of the growth spike effort we have created a new tour tip component that isn't strictly bound to any tour(and store), so to keep the codebase clean we will be migrating all the existing tour tips to a new tippy based tour tip.

Also as CRT tour tips don’t have e2e we will be adding those as part of this campaign.

Some examples of already migrated files can be found here:

[h

[2022-03-18 09:15] M-ZubairAhmed commented on #13721
@SBagaria2710 awesome thank you

[2022-03-18 09:17] KevinSJ commented on #19788
Hello, @Willyfrog, I would like to take this. can you assign this to me? Thanks!

[2022-03-18 09:19] M-ZubairAhmed commented on #17290
@dscanlan hey gentle ping on this one, would you still be interested in working on this one

[2022-03-18 09:20] M-ZubairAhmed commented on #16145
@michelengelen i dont think we require this ticket do we ?

[2022-03-18 09:38] Willyfrog commented on #19788
There you go! Thanks a lot!

[2022-03-18 09:45] M-ZubairAhmed commented on #19792
@Borknab agree on all points by @hmhealey
there are two aspects to this
1. search in system emojis
2. search in server for custom emojis : query sent to server should be `{"term":"spider man"}` but the server should send the correct custom emojis
[code]

[2022-03-18 10:22] sridhar02 commented on #16147
@M-ZubairAhmed can I work on this?

[2022-03-18 11:06] michelengelen commented on #16145
@M-ZubairAhmed yes ... the modal does not exist anymore, so I will close it. Thanks for bringing that up! 🙇🏼

[2022-03-18 11:06] #16145 closed

[2022-03-18 13:51] jayaddison-collabora commented on #17843
Resolved by #17844.

[2022-03-18 13:51] #17843 closed

[2022-03-18 13:53] ironiemix commented on #18624
FYI: Indeed there was a malfunction in the end which was caused from the wrong collation. There were no teams shown in the system console and the mmctl command failed to list the existing teams with the following error:

`
{"timestamp":"2022-03-17 21:57:04.207 +01:00","level":"error","msg":"We could not get all teams.","caller":"web/context.go:105","path":"/api/v4/teams","request_id":"ex17q8XXXXbe

[2022-03-18 17:05] sinansonmez commented on #19794
@M-ZubairAhmed As this is the first time, I will be using throttle, I need to clarify couple points. I should work to convert `handleChange` on [EmojiPickerSearch](https://github.com/mattermost/mattermost-webapp/blob/a20fe0d026a673c0d960fb4d67f2f1b116c56422/components/emoji_picker/components/emoji_picker_search.tsx#L31) to use throttle, right?

I saw that throttle already used in different parts o

[2022-03-18 21:19] harmeling opened #19806 "Mattermost on iOS: `TaskQueue: Error with task: View`"
#### Summary
Starting Mattermost on iOS very shortly shows normal view of the team then shows error message "Unexpected error occurred".  I am posting here on mattermost-server, since the origin of the `TaskQueue` might be server?

#### Steps to reproduce
mattermost server: 6.4.2
iOS: 15.3.1 (iPhone 13) is not working.
Mattermost on macOS (11.6.4) is working fine and I can post and view messages a

[2022-03-18 22:39] KevinSJ commented on #19788
Hello @Willyfrog, I'm looking through the files that need to be changed. I noticed all the exisiting localization strings related to the channel name validation error will need to be updated as a result of this change. Just want to confirm if it is okay to directly changing these files? It seems to me these strings are committed through weblate, don't really want to mess up the syncing of weblate.

[2022-03-19 13:21] 97amarnathk commented on #19784
@lieut-data I can pick this up.

[2022-03-19 18:52] 42wim opened #19807 "Slow delete of posts after upgrade from 5.37.x LTS to v6.3.5 LTS"
#### Summary
Slow delete > 90s when having a Posts table > 10mio entries

#### Steps to reproduce
Have 10mio posts, run v6.3.5 try to delete a Post

#### Expected behavior
Posts deletion speed is fast/normal

#### Observed behavior (that appears unintentional)
Posts deletion takes too long

[code]

Running the `UPDATE` query (that's responsible for the deletes) manually on the database shows that

[2022-03-21 06:22] codedsun commented on #19802
Taking this up!

[2022-03-21 11:54] VishakhaPoonia commented on #19325
@esethna @amyblais Could you folks please clarify, Do I need to update header copy as well as in Design it’s different. Attaching images for reference. ``Saved Message``  vs ``Saved Post``. In the ticket it’s mentioned we need to update empty state but nothing is said about header.
| Design | Current|
| ---- | ---- |
|<img width="522" alt="Screenshot 2022-03-21 at 5 17 52 PM" src="https://user-ima

[2022-03-21 12:10] amyblais commented on #19325
cc @matthewbirtch Pinging you in case you know the answer ^

[2022-03-21 12:27] Willyfrog commented on #19788
Hi @KevinSJ ! great question, regarding localization we only change the one in en.json, as we have a translation server (weblate as you pointed out) handling all the other languages. So modify that file and weblate will take care of the rest.

[2022-03-21 13:43] amyblais commented on #19807
We'll plan this for the next v6.3 ESR dot release.

[2022-03-21 13:43] #19807 closed

[2022-03-21 13:53] matthewbirtch commented on #19325
Thanks for checking on this @VishakhaPoonia. We would like to make the change to "Saved Messages".

@cwarnermm can you confirm that you're good with this language change (Posts --> Messages)?

Note: We would want to do the same thing with pinned messages.

[2022-03-21 14:00] mattermod opened #19810 "added_to_team websocket event is sent duplicated"
Right now, we are sending the `added*to*team` websocket event twice. This is due to `AddTeamMember` calling `AddUserToTeam` and this one calling `JoinUserToTeam`. Both `AddTeamMember` and `JoinUserToTeam` are sending the websocket event.

The naive solution would be to remove from any of the two the websocket event. Nevertheless, I am not sure of the possible implications and possible paths.

----

[2022-03-21 14:05] hmhealey commented on #19792
I thought of one other thing for this. I can't remember if those two components happen to use the same APIs to search for emojis, but even if they do, the autocomplete won't trigger for anything containing a space, so we'll also get the desired behaviour even if we change the API that backs both of them.

[2022-03-21 14:12] VishakhaPoonia commented on #19803
Would love to work on this.

[2022-03-21 14:16] agnivade commented on #19810
We need to pass a context around and detect that one event has already been sent.

Please feel free to ping me or @larkox for help.

[2022-03-21 14:17] lieut-data commented on #19784
Thanks, @97amarnathk!!

[2022-03-21 15:43] cwarnermm commented on #19325
Thanks, @matthewbirtch - I agree that term "message" is preferred over the term "post" in this context.

[2022-03-21 18:45] mattermod opened #19815 "When a profile picture fails to load, we should fall back to the user's default picture"
Related to https://mattermost.atlassian.net/browse/MM-42444 and https://mattermost.atlassian.net/browse/MM-42526

If a user’s profile picture fails to load, we currently show the browser’s default “missing image” graphic. We can instead default to the “color + username initial” image created for each user, and defaulting to the bot icon if the post is from a webhook.

The mobile app’s current beha

[2022-03-22 04:10] #19659 closed

[2022-03-22 13:00] mattermod opened #19818 "Reaction toggle behaviour"
Related conversations:

  * [https://community.mattermost.com/core/pl/cr53mz791bn7idaecbrdjjnque](https://community.mattermost.com/core/pl/cr53mz791bn7idaecbrdjjnque)
  * [https://community.mattermost.com/core/pl/bjye8nwgn3yq3f6xa75hyugg6w](https://community.mattermost.com/core/pl/bjye8nwgn3yq3f6xa75hyugg6w)

Most of the ways to add a reaction to a post should have a toggle functionality. That is,

[2022-03-22 14:53] lieut-data commented on #19170
Closing this issue as we rework the playbook editor.

[2022-03-22 14:53] #19170 closed

[2022-03-22 15:05] #14953 closed

[2022-03-22 15:09] Gregesp opened #19821 "Parameter AdvancedLoggingConfig (LogSettings, ExperimentalAuditSettings, NotificationLogSettings) doesn't work ?"
Hello,

I try to use this parameter also for the LoggingSettings and NotificationLogSettings, it doesn't work for me also.

I put a JSON file with relative path, absolute path or else a Nested/Embedded JSON in the configuration file and i have this error or 2 others errors. I've try to use brackets [ ] and double quotes " " or not with the Embedded JSON with no sucess, i minified the nested JSON o

[2022-03-22 15:30] mickmister commented on #19405
@hmhealey It seems using the `marked` package doesn't take into account our intention of opening hyperlinks in a new tab, and instead opens them in the current tab, causing the user to leave the Mattermost UI. Would it be sufficient to use `formatText` and `messageHtmlToComponent` to render this markdown in the admin console plugin settings page, instead of using `marked`?

Alternatively we can go

[2022-03-22 15:53] andrewbrown00 commented on #19527
No worries @rpkoller, thanks for following up and flagging this 🙂

I added a comment in the [Jira ticket](https://mattermost.atlassian.net/browse/MM-41718?focusedCommentId=122427). Here it is for quick reference:

[2022-03-22 16:41] amyblais commented on #19821
@Gregesp What Mattermost server version are you on? What OS and version are you using?

[2022-03-22 17:22] amyblais commented on #19821
Also, since you have an E20 license, would you be open to reaching out to our customer support team via https://support.mattermost.com/hc/en-us/requests/new regarding this issue?

[2022-03-22 17:29] Gregesp commented on #19821
Hello @amyblais,
My Mattermost version : 6.3.5
My OS version : RHEL 8.5
I use docker image of mattermost from the registry https://hub.docker.com/r/mattermost/mattermost-enterprise-edition
I will open a request to the custom support team tomorrow, i don't have access at this time.

[2022-03-22 21:45] mattermod opened #19823 "Remove raw URLs from translation strings"
Right now, we have a number of Markdown links in translation strings in the web app which contain raw URLs. We want to remove those because:

  1. Any time we make changes to those URLs, translators for every language have to update their corresponding strings
  1. Any updates to those translation strings have a chance of accidentally breaking links if there are any typos in the link
  1. Theoreti

[2022-03-23 02:55] mickmister commented on #19405
https://github.com/markedjs/marked/issues/655#issuecomment-712380889 This solution modifies the HTML output of `marked`'s renderer, and takes into account only opening external links in a new tab

 @Borknab What do you think of this?

[2022-03-23 03:00] mattermod opened #19824 "Write e2e for CRT tour"
**Migration**
As part of the growth spike effort, we have created a new tour tip component that isn't strictly bound to any tour(and store), so to keep the codebase clean, we will be migrating all the existing tour tips to a new tippy based tour tip.

Also, as CRT tour tips don’t have e2e, we will be adding those as part of this campaign.

Some examples of already migrated files can be found here:

[2022-03-23 05:39] agnivade commented on #19335
Closing since this is done now.

[2022-03-23 05:39] #19335 closed

[2022-03-23 08:18] pde commented on #19602
I just hit what may have been the same bug after running an pupgrade script](https://forum.mattermost.com/t/upgrading-mattermost-server-with-a-script/12251) from 6.3.3. to 6.5.0:
[code]

Granting `ALL` permissions to `mmuser` fixed things in my instance.

Given the extreme severity of this bug for users (upgrade render mattermost instances inoperable), and the fact that there's a lot mattermost co

[2022-03-23 08:24] agnivade commented on #19602
As you can see, this was a permissions issue for your database user. I am curious to know how were you able to upgrade Mattermost versions thus far? Because if the mmuser never had `ALL` permissions, it wouldn't be able to run any other migrations at all. All 6.4 changes is to move to a new migration model. If the database user doesn't have permissions, it should always fail in any version.

[2022-03-23 10:03] apollo13 commented on #19750
I am also seeing this on mattermost 6.5 with legacy E10 edition if this matters. The fixes from above do not seem to work :/

[2022-03-23 10:37] dipak-demansol opened #19825 "5 user is connected but only shows 2 for some user, other can see the 5 participent properly."
#### Summary
5 user is connected on call but only shows 2 for some user, other Connected user can see the 5 participent properly

#### Steps to reproduce
don't know the repro steps because required multiple people to join the call and for which user the issue will generate that i don't know, it can be anyone.

#### Expected behavior
all the User on all should able to see to all the connected parti

[2022-03-23 12:01] apollo13 commented on #19750
After digging deeper I found the following issue from the Gitlab logs:
[code]

The requested redirect URI when calling `/auth/token` is `http://` and not `https://`! This is probably the reason why it cannot get the token.

[2022-03-23 12:16] apollo13 commented on #19750
Fixed it by sending X-Forwarded-Proto from the loadbalancer. I dug deeper and found the following:

When creating the `oauth/authorize` request the following code is used to calculate the redirect URL:
https://github.com/mattermost/mattermost-server/blob/68382c5fb71abc36a962a8bd4b86d3430fd4b268/app/oauth.go#L751-L754
That has the effect of properly querying and using the SiteURL defined in the sys

[2022-03-23 12:46] amyblais commented on #19825
Opened a ticket: https://mattermost.atlassian.net/browse/MM-42727.

[2022-03-23 14:26] mickmister commented on #19405
@Borknab We have a [Markdown](https://github.com/mattermost/mattermost-webapp/blob/434abae6070078dd4f85ebf8bd47ec4277938c1b/components/markdown/markdown.tsx#L117) React component that I think should be used here. It should already support the "open external links in a new tab". Sorry for throwing so many solutions up in the air. This component is the go-to for adding Markdown to a new part of the

[2022-03-23 14:28] Borknab commented on #19792
Thanks for the useful answers, guys! Will continue working on it as soon as I have more time!

[2022-03-23 14:30] Borknab commented on #19405
@mickmister clear, thanks! Will let you know if I have any further questions.

[2022-03-23 18:06] amyblais commented on #19821
Great, I'll close this Issue for now as this can be followed via the Support ticket, but if this Issue needs to be re-opened at any point, feel free to do so.

[2022-03-23 18:06] #19821 closed

[2022-03-23 19:15] mattermod opened #19829 "Further iterate end to end testing"
As a dev, I want the end to end tests for a webapp PR to run automatically after:

  * approved by 1 person
  * in ready state for running
  * no merge conflicts
  * `QA review/deferred` label is added

Existing functionality to trigger via comment should remain.

This needs to be implemented in [https://github.com/mattermost/mattermost-mattermod/](https://github.com/mattermost/mattermost-mattermo

[2022-03-23 19:18] sinansonmez commented on #17268
@amyblais if @sunchips is not working on this, could you please assign it to me?

[2022-03-23 19:20] sinansonmez commented on #17262
@amyblais could you please assign this to me

[2022-03-23 21:05] pde commented on #19602
I think something was different in this last migration, leading to the bug. This exact same database setup and permission set has run many migrations previously (it's been running the latest releases for about a year).

When I hit the bug, I saw the following permissions in place:

[code]
doing
`GRANT ALL ON mattermost.* TO mmuser` allowed this most recent migration to succeed.

[2022-03-23 21:22] mvitale1989 commented on #19829
I'm working on this

[2022-03-23 21:42] #19789 closed

[2022-03-23 23:10] jackrallo commented on #19365
Hello, I am interested in solving this issue. I will be taking time over the next few days to explore the issue and come up with a solution.

[2022-03-23 23:10] yoojink0913 commented on #19818
Hello, I am interested in solving this issue. I am willing to explore this problem in the upcoming days to come up with a solution and implement it.

[2022-03-24 04:58] soxft opened #19830 "how to delete channel"
when i use` mmctl channel delete team:off-topic` to delete a channel

it tells me that `Unable to delete channel 'off-topic' error: : The permanent channel deletion function is disabled. Contact your system administrator。, `

But I can't find this button on the system console

[2022-03-24 05:17] agnivade commented on #19602
You are right. My apologies. With 6.4, the user needs these additional permissions: `EXECUTE, CREATE ROUTINE, ALTER ROUTINE` along with `REFERENCES` which was already required.

@isacikgoz can you work with @cwarnermm to add this to our documentation?

[2022-03-24 08:16] waja opened #19832 "After update to 6.4 mattermost does not listen on network port"
#### Summary
We've running Mattermost via gitlab omnibus. Before the update we run gitlab omnibus 14.8.4-ce.0 with the shipped Mattermost 6.3.3. After the Upgrade to gitlab omnibus 14.9.1-ce.0 and Mattermost 6.4 we are faced with "Bad Gateway" for Mattermost.

#### Steps to reproduce
Upgrade gitlab omnibus package from 14.8.4-ce.0 to 14.9.0-ce.0 or 14.9.1-ce.0.

#### Expected behavior
Running Matt

[2022-03-24 12:50] amyblais commented on #19830
@soxft
1. What Mattermost server version are you on?
2. What OS and version are you using?
3. Do you see any additional Mattermost server log errors?

[2022-03-24 12:52] amyblais commented on #19832
@agnivade @isacikgoz @mkraft Do the errors above indicate a bug?

[2022-03-24 14:04] hmhealey commented on #19405
Yep, that should all work how you want it to. To fill in some details though (since I like talking about this code):

`formatText` is just a wrapper around `marked`, so either would've worked, and `Markdown` wraps both of those, so you'll get the desired outcome either way. `Markdown` also injects the extra data needed by `messageHtmlToComponent` to do other types of transformations as well like a

[2022-03-24 14:32] ctlaltdieliet commented on #19823
Ok I'm willing to do this one. As a Mattermost-translator I'm familiar with this ;)

[2022-03-24 15:02] imskr commented on #19791
Can I work on this?

[2022-03-24 15:33] waja commented on #19832
@isacikgoz since this is a gitlab omnibus installation, the whole process is behind it and in the omnibus output when updating gitlab I didn't spot any obvious.

Beside the already posted log outputs above I didn't found anything useful, but I'm happily providing you anything, when I'm pointed to more interesting logfiles. If you point me to the documentation, I can also try to push the migration

[2022-03-24 16:26] Jay2k1 opened #19836 "Incoming webhooks change their creator's status"
#### Summary
When Alice creates a webhook and is offline, and that webhook is being used, Bob sees Alice switch to online (and shortly after back to offline).

#### Steps to reproduce
This has been an issue for a while and is still present in 6.5.0.

* create two users
* have one of them create an incoming webhook
* have that user quit Mattermost
* send a message using the webhook
* have the secon

[2022-03-24 16:52] amyblais commented on #19836
Opened a ticket: https://mattermost.atlassian.net/browse/MM-42782.

[2022-03-25 02:28] soxft commented on #19830
1. I am using mattermost 6.5.0
2. the system is  ubuntu 20.04
3. no errors about delete channel in /opt/mattermost/logs/mattermost.log

[2022-03-25 05:00] mattermod opened #19840 "Change Mattermost API reference to update bools to strings in `notify_props` for createUser operation"
### Summary

This ticket is about changing the https://api.mattermost.com/#operation/CreateUser operation in api.mattermost.com to change the notify_props field to contain only string values. Please send a PR to https://github.com/mattermost/mattermost-api-reference

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/

[2022-03-25 12:55] amyblais commented on #19830
@agnivade @isacikgoz Would this be a bug?

[2022-03-25 15:05] #13469 closed

[2022-03-25 15:14] isacikgoz commented on #19830
Nope, this is not a bug, the value of `ServiceSettings.EnableAPIChannelDeletion` needs to be changed from config file IIRC.

[2022-03-25 16:08] suciokhan opened #19842 "Documentation problem"
Sorry, I can't find anywhere else to post this request- can you please add instructions on how to uninstall mattermost-server in your documentation? I've been searching through docs.mattermost.com and googling for 10 minutes and I can't find anything on this topic. I want to uninstall it and install Mattermost Teams instead but can't figure out how to remove it properly.

[2022-03-25 16:24] waja commented on #19832
Okay ... is here anything a can do investigating further? Even I did not found a `000020_create_posts.down.sql` or `000020_create_posts.up.sql` in the whole filesystem.

[2022-03-25 16:56] waja commented on #19832
Accordingly to the [documentation](https://docs.mattermost.com/manage/command-line-tools.html#use-the-cli-on-gitlab-omnibus) I tried just to output the mattermost version with the following result:

[code]

[2022-03-25 17:37] amyblais commented on #19842
We have a related docs Issue open here: https://github.com/mattermost/docs/issues/3005.
If this doesn't match with what you're looking for, feel free to open a new Issue in the docs repo at https://github.com/mattermost/docs/issues!

[2022-03-25 17:37] #19842 closed

[2022-03-25 20:21] isacikgoz commented on #19830
Anyway, created a ticket to improve the UX here: https://mattermost.atlassian.net/browse/MM-42819

[2022-03-25 20:27] isacikgoz commented on #19832
@waja Those files are embedded into the mattermost binary. However, you can find them here: https://github.com/mattermost/mattermost-server/tree/master/db/migrations/postgres if you have access to your DB console, it would be great to see what error you get once you run the statements in the [specific script file](https://github.com/mattermost/mattermost-server/blob/master/db/migrations/postgres/0

[2022-03-26 00:37] soxft commented on #19830
that's works, thanks for help

[2022-03-26 04:30] mattermod opened #19843 "mmctl: informative errors on permanent deletions"
As we already know that Permanent Delete of entities is not allowed through the config, maybe we should just check the config value and print that how to fix the issue (guide user to change config value first). We could improve the UX here with a simple check.

https://github.com/mattermost/mattermost-server/issues/19830

----
If you're interested please comment here and come [join our "Contributo

[2022-03-27 18:46] waja commented on #19832
@isacikgoz Looks like the migration of this script was already done:
[code]

I tried to apply all the other up migrations. It seems those morph scripts are no pure sql (what a surpize). So not all scripts went well when just pasting them into psql console. But when I pasted https://github.com/mattermost/mattermost-server/blob/v6.4.0/db/migrations/postgres/000043_thread_memberships.up.sql into the

[2022-03-28 06:57] isacikgoz commented on #19832
@waja Yes there are procedures, functions (like `DO`, which is not a standard SQL sytnax) etc to enable advanced operations on the tables.

All of the migrations will run at least once to ensure that they are applied, as you can see all of them are guarded with `IF` conditions so that we don't apply if it's not necessary. Even though nothing has been changed on a single migration (because it wasn'

[2022-03-28 08:09] waja commented on #19832
Okay .. I've downloaded the 6.4.0 tarball and did run the following:

[code]
Attached you can find the [migration.log](https://github.com/mattermost/mattermost-server/files/8360853/migration.log)

[2022-03-28 09:02] agnivade commented on #14957
@mthaddon - Are you still experiencing the issue now?

- What is the search backend you are using? Is that DB search/elasticsearch/Bleve?
- Can you show us the DB row for the affected user from the users table? (Feel free to anonymize any output as necessary)
- Which part of the search UI are you using? Autocomplete or searching users?

[2022-03-28 09:06] agnivade commented on #15631
Yes, this is more efficient. But there is a significant cost to making such large-scale schema changes on production databases. Until the benefit is higher than the cost, it's hard to justify such a change. I'll keep this in mind when in future we are making a breaking change for a major version release.

[2022-03-28 09:06] #15631 closed

[2022-03-28 09:10] Roy-Orbison commented on #15631
Is it not possible to make it the default for new installs, without changing existing ones? Perhaps that'll cause further issues.

[2022-03-28 09:18] agnivade commented on #15634
To anyone looking to pick this up,

[2022-03-28 09:30] mattermod opened #19846 "Bleve search doesn't support wildcard search if the search term starts with an uppercase letter"
Original report: https://github.com/mattermost/mattermost-server/issues/16868

**Steps to reproduce**
Using Mattermost 5.31.0 searching with * (wildcard) as last character of the search term starting with an uppercase letter shows no result.

Example: Make sure that messages can be found with a standalone term without wildcard (eg. "problem", "Problem", "Probleme" and "probleme" should return resu

[2022-03-28 09:40] agnivade commented on #16868
Closing this as it's tracked here https://github.com/mattermost/mattermost-server/issues/19846

[2022-03-28 09:40] #16868 closed

[2022-03-28 11:54] Borknab commented on #19405
@mickmister @hmhealey Hello! I created a PR for this https://github.com/mattermost/mattermost-webapp/pull/10076.
Essentially, I just had to:

- Change `FormattedMarkdownMessage`, so that it supports making all links open in external tab
- Change `components/admin_console/schema_text.jsx`, which is only used in `components/admin_console/schema_admin_settings.jsx`, so that the links within `SchemaTe

[2022-03-28 14:51] agnivade commented on #15631
That has caused major headaches in the past because of different customers ending up with different schemas depending on when they started to use Mattermost.

[2022-03-28 16:11] agnivade commented on #19846
Hi @RajatVaryani ! Good to see you here. Please feel free to take a look :)

[2022-03-28 21:07] hmhealey commented on #19513
Sorry for the delay in responding, @kkennethlee. Somehow I missed the notification for this, so it slipped through the cracks. Unfortunately, we've actually found something that this is blocking, so I need to take this internally to get this fixed more quickly. Thanks for the work you did do on it, and sorry again for not helping you out when you got stuck there.

To answer your question though, i

[2022-03-28 21:07] #19513 closed

[2022-03-29 03:03] RajatVaryani commented on #19846
Hello @mgdelacroix 👋, I cannot reproduce this on master. I entered 4 strings in the test channel, `problem`, `Problem`, `Probleme` and `probleme`. All of them are coming up in the search results when I search `Problem*`.

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/37879062/160524433-253986c7-2fce-4790-b09f-f6b15ee69a05.png">

Can you please elaborate how could you

[2022-03-29 03:51] agnivade commented on #19846
Miguel is out on PTO. @jprusch - could you please confirm you are still seeing this issue? Thanks.

[2022-03-29 05:00] mattermod opened #19852 "Certain jobs shouldn't be executed in parallel even when you have multiple job servers"
There are jobs that makes not sense to be executed in parallel even when you have multiple job servers. For example, “compliance exports” exports the data base on the last job information, so long running jobs, or manually triggered jobs can lead to jobs that are exporting the same data in both job servers.

We should have a mechanisms to avoid multiple job server executing the same job type at th

[2022-03-29 05:00] mattermod opened #19853 "mmctl: config migrate should upload the config file"
When using `mmctl config migrate`, the path given for the config file path is directly passed to the server therefore server will try to open the file. If the file path is absolute and mmctl and mattermost-server is on the same machine this is not a big deal and it works. But, this can lead to a unexpected behavior while using mmctl remotely.

----
If you're interested please comment here and come

[2022-03-29 07:23] jprusch commented on #19846
Still not working.  @RajatVaryani  did you perform a WILDCARD search like Probelm*
![image](https://user-images.githubusercontent.com/9337414/160556408-94f699b1-47a9-42f2-b589-e120e1752684.png)

[2022-03-29 07:26] jprusch commented on #19846
Still not working. This issue is for a Bleve search that starts with an UPPERCASE letter and uses a wildcard like "Problem*":
![image](https://user-images.githubusercontent.com/9337414/160556945-a543d247-4c4f-493d-92cb-a4a2609ff6e1.png)

[2022-03-29 08:41] edannenberg opened #19854 "Building webapp from source fails since >6.1.0"
#### Summary
I maintain a install package for Gentoo that builds Mattermost server and webapp from source. After 6.1 this appears to fail because of node dependencies with a ssh git url.

#### Steps to reproduce
Building the webapp from source without having ssh keys for Mattermost organisation.

#### Expected behavior
I can build the webapp from source.

#### Observed behavior (that appears unint

[2022-03-29 09:15] isacikgoz commented on #19832
@waja I tried with the dump and it run through all migrations w/o any errors. After applying migrations manually, are you able to start the mattermost again?

Also, could you provide the schema dump (v6.3.3) before applying anything? If you have it already btw.

[2022-03-29 10:15] mattermod opened #19858 "Channel header icons impacted by long channel name in mobile view"
Environment: daily.
Not a recent regression.

Steps:

  1. Create channel with long name
  1. Resize browser window to mobile view

Expected: Channel name truncates if necessary, channel header icons unaffected

Observed: Channel name doesn’t appear to truncate soon enough impacting the shape of channel icons

![](Screen Shot 2022-03-23 at 2.15.44 PM.png|width=503,height=187)

![](Screen Shot 2022

[2022-03-29 10:15] mattermod opened #19859 "Reactions change order when original is removed"
Daily

Repro:
1. User A reacts with two different emoji
2. User B adds reactions to both of those emoji
3. User A **removes** the reaction on their first emoji

Observed: Emojis swap order since the original reaction was removed by User A

Expected: Emojis should never reorder themselves

Note: This fix should apply to webapp only, order is not needed to be maintained between refreshes of the webp

[2022-03-29 10:30] mattermod opened #19860 "Unable to close Create New Channel modals by tapping Enter when send all messages on cmd+enter is enabled"
Environment: daily
Reproduces in previous versions, not a recent regression.

Steps:

  1. Open Create New Channel modal
  1. Add channel name and tap enter key - observe modal closes, channel is created
  1. Enable Settings>Advanced>Send message on cmd+enter>On for all messages, Save
  1. Open Create New Channel modal
  1. Add channel name, no other changes
  1. Tap Enter

Expected: Modal closes,

[2022-03-29 10:49] waja commented on #19832
@isacikgoz [mattermost_schema_dump_2022-03-28_org.sql.gz](https://github.com/mattermost/mattermost-server/files/8364677/mattermost_schema_dump_2022-03-28_org.sql.gz) was taken from the System actually running 6.3.3, but might have migrations of 6.4.0 applied, as I installed gitlab 14.9.1 which ships mattermost 6.4 and I rolled back to gitlab 14.8.4 and mattermost 6.3.3.

I took [mattermost_schema_

[2022-03-29 11:03] VishakhaPoonia commented on #19860
I would love to work on this.

[2022-03-29 11:23] waja commented on #19832
@isacikgoz while I had the system from 22th as test system running, I just tried the update to gitlab 14.9.1 and it went well for mattermost on this outdated clone.

The issue is now: How to get the production system updated successfully without loosing data? I think a rollback to 22th March is not an option for me.

I compared both schema dumps and the difference seems to be:

[code]

[2022-03-29 11:53] isacikgoz commented on #19832
The dump [mattermost_schema_dump_2022-03-29.sql.gz](https://github.com/mattermost/mattermost-server/files/8370563/mattermost_schema_dump_2022-03-29.sql.gz) worked for me again w/o any hick ups. (I'm on `release-6.4`)

So, we need to understand why you can't apply migrations on your production database.

I'd like to confirm the summary with you to be on the same page.
The schema dump diffs [here](h

[2022-03-29 12:11] waja commented on #19832
@isacikgoz sounds like that described my issue very well. But I'm unsure for your second assumption (migrations until `000020_create_posts.up.sql`).

Anyway ... got a bit further. I cloned my production system again and did the following (based on the schema diff):

[code]

This looks like a path which might solve my issues. If this works out the question is now: Why did that both tables exists an

[2022-03-29 12:25] Willyfrog commented on #19278
Hey @Borknab how is it going? Do you have any questions?

[2022-03-29 12:26] Willyfrog commented on #18572
Setting this back to `up for grabs` due to innactivity

[2022-03-29 12:31] #17262 closed

[2022-03-29 12:33] Willyfrog commented on #19655
Yeah! I did check the pictures, and assumed the spanish one was translated, but seems it is not. Same happens with the chinese one.

Thanks @codedsun for pointing it out

[2022-03-29 12:33] #19655 closed

[2022-03-29 12:33] Borknab commented on #19278
@Willyfrog Hello! Sorry, I've been busy with other things recently, I am afraid that I will not have enough time for this issue in the nearest couple of weeks...

[2022-03-29 12:36] isacikgoz commented on #19832
To understand that we need to be able to get error messages, because the process more or less works this way:
0 - initialize store (validate configuration etc. and ping database)
1 - run migrations
  - Create migration tables
  - Run each migration (will halt the initialize sequence in case of an error)
  - After each successful migration save it to the migration table
2 - Do things for the rest

[2022-03-29 12:44] Willyfrog commented on #19278
No problem, thanks for letting us know

[2022-03-29 13:08] isacikgoz commented on #19832
That was a really interesting glitch, I think it can be something with the db-locks. As the erroneous attempt still had the lock on the table. It was not wiped out. It somehow had panic somewhere and couldn't be able release the mutex. On other trials, the mutex should've wiped due to expiration anyway.

Thanks for you amazing collaboration @waja, I will create a ticket to review logic here!

[2022-03-29 13:19] fduraibi opened #19863 "Workspace Optimization does not load"
#### Summary
"Workspace Optimization" reporting page does not load when mattermost is served under a sub path

#### Steps to reproduce
- Configure Apache to server and proxy mattermost under a subpath `/mm`
- Configure mattermost subpath `./mmctl config subpath --assets-dir /opt/mattermost/client/ --path /mm`
- Start mattermost and visit the page `https://10.0.0.1/mm`

#### Expected behavior
"Work

[2022-03-29 13:42] amyblais commented on #19863
@furqanmlk Is there a way for QA to test this on a sub path server?

[2022-03-29 13:49] #17257 closed

[2022-03-29 13:49] #19716 closed

[2022-03-29 14:00] mattermod opened #19864 "Focus the first message in the rhs when recent mentions, flagged or pinned posts are opened via the keyboard"
Repro: Use the keyboard to navigate to the Recent Mentions button (or pinned posts, or flagged posts, or execute a search), hit Enter.

Observed: Focus is not moved to the first message in the pane

Expected: Focus is moved to the first message in the recent mentions list (similar to if the user hit F6 three times to navigate to the "complimentary region")

 ![](screenshot-1.png|thumbnail)

----
I

[2022-03-29 14:30] mattermod opened #19865 "Unable to dismiss onboarding tour by clicking on X"
Environment: rc.test v6.4

Steps:

  1. Create a new user and join the rc.test server
  1. Start onboarding tour by clicking on the pulsing green dot on the textbox
  1. Click on the X to dismiss the first tour tip

Expected: User able to dismiss the tip modal

Observed: Nothing happens when clicking on the X, tour tip can be dismissed by clicking outside of the modal or using esc. Green dot remai

[2022-03-29 14:45] fduraibi commented on #19863
Regarding the fonts issue, i think it is caused by including the slash before the font path:
From the page source we see `src:url(/static/Metropolis-SemiBold.woff2)`, the slash `/` before the word `static` will tell the browser to use that as the root path and not a path relative to the page sub path

[2022-03-29 16:29] furqanmlk commented on #19863
@amyblais Yes, I can reproduce this issue.

[2022-03-29 16:38] amyblais commented on #19863
Thanks, opened a ticket: https://mattermost.atlassian.net/browse/MM-42885.

[2022-03-29 16:45] mattermod opened #19867 "Include deleted posts in GetPost"
**Endpoint**: `<http://your-mattermost-url.com/api/v4/posts/{deleted*post*id`}>
**Docs**: `<https://api.mattermost.com/#operation/GetPost`>

Right now this endpoint will throw a 404 error with the below if you attempt to query for a deleted `post_id`.

By adding a query parameter `includeDeleted=true` an admin could retrieve the contents of the post whether they are deleted or not

If the query pa

[2022-03-29 16:45] mattermod opened #19868 "Include deleted posts in getPostsForChannel"
**Endpoint**: {{<http://your-mattermost-url.com/api/v4/channels/{channel_id}/posts}}>
**Docs**: `<https://api.mattermost.com/#operation/GetPostsForChannel`>

Right now this endpoint only returns posts that are currently a part of the channel, this does **not** return any posts that are deleted with `DeleteAt` set to any value.

Possibly by a query parameter like {{/channels/{channel_id}/posts?incl

[2022-03-29 16:57] DummyThatMatters opened #19869 "Channel admin is not able to unarchive channel without team/system administrator privileges."
#### Summary
Channel admin or channel owner is not able to unarchive channel without team/system administrator privileges.

#### Steps to reproduce

1. Create private channel using non-System/Team Administrator account
2. Archive recently created channel
3. Try to unarchive it (you will not be able to do so due to lack of appropriate option in channel menu)

Mattermost Version: 6.5.0, Team Edition

[2022-03-29 18:34] amyblais commented on #19869
This is currently working as expected based on the documentation https://docs.mattermost.com/channels/archive-unarchive-channels.html#unarchive-a-channel.

Feel free to share this feature request on our feature request forum here https://mattermost.uservoice.com/forums/306457-general!

[2022-03-29 18:36] #18957 closed

[2022-03-29 20:17] kernle32dll commented on #19832
Just wanted to chime in that I had the same issue today. I can't provide any useful logs, as this happened on our production system without backups (shame on me). But we were able to resolve it with what was outlined [here](https://github.com/mattermost/mattermost-server/issues/19832#issuecomment-1081794010).

Only noteworthy thing I can add is that this happened while updating to Gitlab 14.8.X to

[2022-03-30 03:23] agnivade commented on #19853
Closing this as config migrate is only allowed in local mode now.

[2022-03-30 03:23] #19853 closed

[2022-03-30 16:22] KushalBeniwal commented on #15634
Hi @amyblais, I would like to work on this issue!

[2022-03-30 16:57] #16147 closed

[2022-03-30 18:34] amyblais commented on #19854
I'll close this for now as there is a discussion in the webapp channel.
Using node 16.4.1 fixed the issue.

[2022-03-30 18:34] #19854 closed, assigned to nobody

[2022-03-30 21:04] #19313 closed

[2022-03-31 04:05] ryoarmanda commented on #19356
Hi can I take this issue?

[2022-03-31 12:19] #19788 closed

[2022-03-31 12:55] amyblais opened #19884 "Mattermost v6.6"
You can find key dates for v6.6 release below, with links to testing servers, release candidate and changelog added retrospectively. Dates are tentative and subject to change.

### March 31st: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### April 12th: Release Build Cut
The fi

[2022-03-31 13:30] mattermod opened #19886 "Remove Timezone from System Console > Experimental > Features"
According to [v6.0 changelog](https://docs.mattermost.com/install/self-managed-changelog.html#deprecations], Timezone feature was formally promoted to GA.  According to [product documentation|https://docs.mattermost.com/configure/deprecated-configuration-settings.html#id3) the setting should not be displayed in the System Console / be configurable as it’s defaulted to On

See [this conversation in

[2022-03-31 15:00] sinansonmez commented on #17259
if @compiledsound is not working on this, I can pick this

[2022-03-31 15:03] sinansonmez commented on #17256
if @jorgegonzalez is not working on this, I can take it

[2022-03-31 16:41] mvitale1989 commented on #18183
I'm interested in working on this

[2022-03-31 20:28] cwarnermm commented on #19602
Documented additional permissions via https://github.com/mattermost/docs/pull/5497

[2022-03-31 22:01] hatton commented on #17885
This bug still exists. We eventually found the work around, but it was a _significant_ turn off when we first started evaluating Mattermost.

[2022-03-31 23:38] glennschler commented on #19843
If this is still available, I can work on this.

* To clarify, it is in regards to these three mmctl commands:
  [mmctl team delete](https://docs.mattermost.com/manage/mmctl-command-line-tool.html#mmctl-team-delete)
  [mmctl user delete](https://docs.mattermost.com/manage/mmctl-command-line-tool.html#mmctl-user-delete)
  [mmctl channel delete](https://docs.mattermost.com/manage/mmctl-command-line-

[2022-04-01 04:47] agnivade commented on #19843
@isacikgoz - Need a bit of your guidance here :slightly_smiling_face:

[2022-04-01 20:43] mkraft commented on #19555
Here's the documentation: https://docs.mattermost.com/onboard/ad-ldap-groups-synchronization.html#synchronizing-teams-and-channels but put super simply:

configure a team and/or channel to only let members of a set of groups be channel/team members.

[2022-04-03 10:55] danielehrhardt opened #19897 "Center Letter in Profile Picture"
#### Summary
If there is only one Letter in a Profile Picture the Letter should be centered.
![image](https://user-images.githubusercontent.com/19570043/161424187-466224c0-4462-4b3b-9a41-1c9690ba4ec3.png)

#### Steps to reproduce
Check a User without a Profile Picture

#### Expected behavior
When there is only one letter for the Profile Picture, it should be centered.

[2022-04-03 14:48] sinansonmez commented on #17241
@amyblais I believe this issue needs to be closed with this [PR](https://github.com/mattermost/mattermost-webapp/pull/9491)

[2022-04-03 14:49] sinansonmez commented on #13502
@amyblais could you please assign this to me?

[2022-04-03 14:52] sinansonmez commented on #13498
@amyblais if @saikrishna014597700 is not working on this, could you please assign it to me?

[2022-04-03 14:57] sinansonmez commented on #13497
@amyblais everything except one test file is already migrated with this [PR](https://github.com/mattermost/mattermost-webapp/pull/9445). I will migrate the remaining test file so we can close this issue.

[2022-04-04 12:28] #17241 closed

[2022-04-04 15:02] TylerStilson commented on #19858
I would love to help with this issue!

[2022-04-04 15:41] #19369 closed

[2022-04-04 16:23] amyblais commented on #19897
@matthewbirtch @andrewbrown00 Is this a bug or excepted?

[2022-04-04 19:15] mattermod opened #19907 "Pasting a code snippet, selecting all, and then pasting again duplicates the snippet"
Go to Github, and select a section of code from a file, and copy it with CTRL <ins> </ins> C
In text entry boxes throughout the webapp (dm, gm, thread, channel, etc), paste the snippet with CTRL <ins> </ins> V
Now select all text in the box with CMD <ins> </ins> A
Paste again with CTRL <ins> </ins> V

Expected Behaviour: text box overwritten with the exact same text (since all text was selected)
A

[2022-04-04 20:29] matthewbirtch commented on #19897
@amyblais I believe this is how the fallback image was designed to behave a very long time ago. We have a ticket to improve the style of this, but I'm not sure where it will fall in priority.

https://mattermost.atlassian.net/browse/MM-22836

In short, this is not a bug - it's the original design, but we'll be improving

[2022-04-04 20:30] mattermod opened #19908 "Add status update snoozed to timeline"
When a status update isn’t posted on time, the playbooks bot sends a reminder prompt with an option to snooze:

![image](https://user-images.githubusercontent.com/1023171/162472188-cf0bf3b6-d070-4a65-ab65-3faf02a389e9.png)

But when this happens, there’s no record of the event. Let’s extend the `reminderReset` endpoint to also record this event to the timeline, with a new event type of `status_upd

[2022-04-04 20:37] esethna commented on #19555
@codedsun can you share a screenshot of what the channel intro message currently looks like when the channel is group constrained? That will help us update the design to the new behaviour

[2022-04-04 20:50] ZazaKumar opened #19909 "WebsocketSecurePort param"
Hello. I try to setup websocket with separate url wss-mm.local and port 8443
i set "WebsocketURL": "wss://wss-mm.local:8443" but i what should i do with WebsocketSecurePort param? Keep 443 or set 8443?

[2022-04-04 21:06] #10155 closed

[2022-04-04 21:19] #10163 closed

[2022-04-04 22:22] amyblais commented on #19909
@ZazaKumar Would you be open to posting about this on our [community server's Peer-to-peer Help channel here](https://community.mattermost.com/core/channels/peer-to-peer-help)? Someone in the community or one of our devs may likely be able to help with this.

[2022-04-05 12:15] mattermod opened #19911 "Follow button is misaligned on root posts with no comments"
Repro: Follow a post with no replies yet

![](image-20220404-210825.png|width=331,height=125)

Expected: Shift the follow button left slightly to be aligned with the username and text

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions w

[2022-04-05 12:30] mattermod opened #19912 "mmctl: create user command does not provide a helpful error message if the password does not comply with settings"
In case a provided password does not comply with the `PasswordSettings`, the error message misleads the user. The error message reads "Login failed because of invalid password." as it sounds like the user tried to login to the server.

The issue could be resolved with updating the translation `api.user.check*user_password.invalid.app*error` to be more explanatory. And  the HTTP StatusCode should b

[2022-04-05 12:45] mattermod opened #19913 "mmctl: channel list command does not list archived private channels with system admin user"
We have an API call `GetDeletedChannelsForTeam` while listing the channels but I can confirm that it does not list if the admin is not a member of archived private channel.

The system admin should be able to list all channels regardless of their membership as it is done for non-archived channels. This issue should be handled at [https://github.com/mattermost/mattermost-server/blob/0babc01749bb823

[2022-04-05 12:51] laneycs commented on #19555
@codedsun I'm also a bit new to this existing **group constrained** use case. It sounds like the existing functionality you mentioned is correct:

Mind posting a screenshot so we can verify and update the designs if needed? Thanks so much!

[2022-04-05 13:00] mattermod opened #19914 "mmctl: add ability to send direct messages"
mmctl can be used to send direct messages. With an easier way of using a command like `mmctl post create team:@user --message "message"`.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core

[2022-04-05 13:30] mattermod opened #19915 "Some aria-labels in the global header aren't translated"
There’s some untranslated text in the global header that it seems like it was forgotten about during development. That should get fixed.

<img width="716" alt="Screen Shot 2022-04-04 at 2 47 52 PM" src="https://github.com/user-attachments/assets/7bc6c029-8722-4421-b6e9-87ff574f78ec">

----
If you're interested please comment here and come [join our "Contributors" community channel](https://communi

[2022-04-05 14:00] mattermod opened #19916 "mmctl: list deactivated users only"
We can add a flag to `mmctl user list` command to print deactivated users. `--deleted` or `--inactive` flag can be used for this feature. The command should leverage GetUsers API method and will filter the output according to `user.DeleteAt > 0 ` condition.

Please tag @hanzei or @vish9812 if you want to work on this issue.

----
If you're interested please comment here and come [join our "Contrib

[2022-04-05 17:18] agnivade commented on #19142
Hi @krotovkk - how is it going with this? Anything we can help with?

[2022-04-05 18:20] plwalsh commented on #19589
Hi @hmhealey, has a new build with the abovementioned fix been created yet? Or is there a timeline for when it will hit the public release channel? Thanks!

[2022-04-05 19:53] #19793 closed

[2022-04-05 20:09] komik966 commented on #15975
Hi @laneycs, @esethna
In the near future, I will not be able to spend the required time to finish this feature.
I'm unassigning myself from this issue and closing related PRs to give someone else the opportunity to work on this.

If you find it useful, feel free to use the work I've done so far. I hope that it will contribute to easier delivery of this feature :)

[2022-04-05 20:22] gondar00 commented on #19916
Can I pick this up?

[2022-04-05 23:16] esethna commented on #15975
Thanks @komik966 for the work done so far, we really appreciate it. I hope we can continue this project soon as it brings so much benefit to users to sync themes with OS settings, especially on mobile! cc// @laneycs

[2022-04-06 00:42] yoojink0913 commented on #19818
Hi, I am a new developer at Mattermost and wanted to ask for some help. The amount of code is overwhelming and I wanted to ask if I could get help on where the code for this issue is. Any help is appreciated!

[2022-04-06 20:45] hmhealey commented on #19589
It won't be in a full release until 5.1 which I believe is coming next month, but it's available in nightly releases. Those can generally be found in the ~desktop-builds channel on https://community.mattermost.com.

[2022-04-06 22:25] woat commented on #19914
Can I take this one?

[2022-04-07 06:15] orlandorode97 commented on #19868
Hello, I'd like to work on this

[2022-04-07 06:58] KevinSJ commented on #19912
Hello, I would like to take this one, please assign to me.

[2022-04-07 21:07] jarednthomas opened #19944 "Expired Key | Unable to update Mattermost Omnibus"
### Summary
Expired PGP | Unable to update Mattermost Omnibus

### Steps to reproduce
Currently running Mattermost Omnibus on an Ubuntu server and `sudo apt update` fails with

`An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: https://deb.packages.mattermost.com focal InRelease: The following signatures were in

[2022-04-07 21:18] jarednthomas commented on #19944
My mistake https://github.com/mattermost/mattermost-omnibus/issues/68

[2022-04-07 21:18] #19944 closed

[2022-04-08 08:28] george-polevoy opened #19947 "PNG images with transparency are displayed incorrectly."
#### Summary
PNG images with transparency are displayed incorrectly.

#### Steps to reproduce
Version 6.5
Attach a PNG with semi-transparent image to a thread.

#### Expected behavior
I expect semi-transparent image to display the same way it looks locally when attached to a thread.
Here I've made an opaque white circle with nice soft shadow with color gradient.
<img width="267" alt="image" src="h

[2022-04-08 09:06] rajeshwarpatlolla opened #19948 "POST APIs are not working after deploying to our domain/server"
#### Summary
All POST APIs are working fine in a local machine while we are developing the application. Once deployed to the server POST APIs are not working, but other APIs are working fine.
<img width="632" alt="Screenshot 2022-04-08 at 2 33 52 PM" src="https://user-images.githubusercontent.com/9896335/162403509-db17de8f-7f46-4aa3-8d10-7aec9fc32b1d.png">

I am getting the below response

`{"id":

[2022-04-08 14:20] amyblais commented on #19947
We have a ticket open here: https://mattermost.atlassian.net/browse/MM-36295.

[2022-04-08 14:23] amyblais commented on #19948
@rajeshwarpatlolla Would you be open to posting this troubleshooting question either on our [Peer-to-peer Help channel here](https://community.mattermost.com/core/channels/peer-to-peer-help) or on our [troubleshooting forum here](https://forum.mattermost.com/)? Someone on our community or one of our devs will likely be able to help with this.

[2022-04-08 14:34] #12017 closed

[2022-04-08 14:45] #19674 closed

[2022-04-08 17:41] drzraf opened #19952 "Outgoing webhooks: Custom headers (Authorization, Bearer, ...)"
#### Summary
Outgoing hooks lack flexibility

#### Steps to reproduce
Attempt to integrate **outgoing webhooks** with most 3rd-party services ¹

#### Expected behavior
One should be able to determine not only the Callback URLs and the content-type but also **configure custom the headers**

#### Observed behavior (that appears unintentional)
Outgoing webhooks have their content predetermined and we

[2022-04-08 17:52] #19794 closed

[2022-04-08 18:01] amyblais commented on #19952
Hi @drzraf,
1. What Mattermost server version are you on?
2. Are you able to help share some reasons for why customizing custom headers is also useful?

[2022-04-08 20:53] hjek commented on #17162
Looks like this issue is solved in the latest ESR.

[2022-04-08 20:53] #17162 closed

[2022-04-08 21:21] #13497 closed

[2022-04-08 22:30] amyblais commented on #19884
### v6.6 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.6.0-rc2/mattermost-team-6.6.0-rc2-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5505/files

[2022-04-08 22:35] #18183 closed

[2022-04-10 03:25] drzraf commented on #19952
1. 6.4.2
2. I gave two examples of services systems (monitoring/alerts/messaging) [**GitLab** and **Zoom**] which respond to webhooks whose security (what prevents abuse) can only be passed through a custom header. (Not that _custom_ btw, since `Authorization` and `Bearer` are standardized for that purpose). I could have added dozens of other 3rd-party services webhooks handlers to that list.

[2022-04-11 04:15] paddy-hack commented on #19602
I'm not convinced it's a permissions issue.  I tried upgrading from 6.3.3 to 6.4.2 (MySQL 8.0.25) and ran into the "same" issue.

I use a `docker-compose` based setup with a `mattermost` and `mysql` container.  The 6.3.3 version of Mattermost has been running without any issues for about two months.  I bump the `mattermost` container's version to `6.4.2` and run `docker-compose up -d` to apply the

[2022-04-11 12:45] amyblais commented on #19952
@mickmister @hanzei Should I create a bug ticket for this, or is this a feature request?

[2022-04-11 15:44] mickmister commented on #19952
@amyblais This is a feature request

@drzraf Currently, the only way of providing credentials to the external service is through the URL, including hardcoded query parameters. If the external service doesn't support that we indeed cannot support the service's authentication requirements at the moment. I'm sending this to the Integration team's inbox to gague the request here to support custom head

[2022-04-11 17:54] kenyon commented on #19589
We upgraded the server to 6.5.0. No change in behavior.

[2022-04-11 19:09] drzraf commented on #19952
There is no problem about format. Such endpoints are traditionally flexible with few (if not zero) field requirements outside the mandatory `Content-Type` and `Authorization` / `Bearer` headers.

- Zoom [doc](https://marketplace.zoom.us/docs/guides/chatbots/customizing-messages/) and _sample_ `curl 'https://inbots.zoom.us/incoming/hook/xxx?format=fields' -X POST -H 'Authorization: yyy' -H 'Content

[2022-04-11 19:16] amyblais commented on #19884
### v6.6 RC-3 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/6.6.0-rc3/mattermost-team-6.6.0-rc3-linux-amd64.tar.gz

**Changelog**
Changelog draft can be found here: https://github.com/mattermost/docs/pull/5505/files

[2022-04-11 19:22] #19356 closed

[2022-04-11 23:01] paddy-hack commented on #19602
This time the upgrade went without any trouble.  AFAICT, it's definitely an encoding/collation issue.  Next time you have MySQL migrations, please get these sorted out :bow:

[2022-04-12 19:07] edouardlp opened #19967 "Error logged when SendEmailNotifications is not true"
#### Summary
Our deployment of Mattermost has [disabled email notifications](https://docs.mattermost.com/configure/configuration-settings.html#enable-email-notifications). This leads to an error on the server startup. Note that this bug report is different, in fact almost the reverse of [this ticket](https://mattermost.atlassian.net/browse/MM-26021).

#### Steps to reproduce
Set `SendEmailNotifica

[2022-04-12 19:15] neallred commented on #16972
@isacikgoz can this issue be closed? Looks like there's a couple merged, relevant PRs.

[2022-04-12 19:21] amyblais commented on #19967
@edouardlp
1. What Mattermost server version are you on?
2. What OS and version are you on?
3. Do you see any additional errors in the Mattermost server logs?

[2022-04-12 19:48] edouardlp commented on #19967
Thank you for the fast reply and apologies for the missing information

`mattermost-enterprise-edition` version `6.5.0`

We are running in AWS EKS 1.21 and nodes are running Amazon Linux 2 (kernel version 5.4.141-67.229.amzn2.x86_64)

Yes but those are not related. By looking at the code there is no surprise as to why the error is happening.

[2022-04-12 23:09] kenyon commented on #19589
Using 5.1.0-nightly.20220412 commit 2bdf5428, it does look like this is fixed there.

[2022-04-13 10:45] isacikgoz commented on #16972
Yep, thanks for the heads up @neallred 👍

[2022-04-13 10:45] #16972 closed

[2022-04-13 11:41] RadauKakao commented on #19719
Just noticed this on our instance too. According to our logfiles this issue first appeared Dec 2020. This agrees with the comment of @hmhealey that the code hasn't been changed recently and that this might has been broken for years.

[2022-04-13 12:44] #19884 closed

[2022-04-13 14:02] rajeshwarpatlolla commented on #19948
I posted in [forum](https://forum.mattermost.com/t/post-apis-are-not-working-after-deploying-to-our-domain-server/13188), but no response yet. Does anyone have any idea on this issue?

[2022-04-13 15:33] ashishbhate commented on #19948
Could you share more details about this redirection change?

Do you have a proxy (possibly an nginx reverse proxy) in front of your app server? If yes, are you sure the request headers are being forwarded correctly for POST requests?

[2022-04-13 17:17] jtdspiria commented on #19859
Hi, I would like to give this a try. I'm pretty sure I know how to fix it.

[2022-04-13 17:44] rajeshwarpatlolla commented on #19948
We have the nginx reverse proxy. The headers are sent properly from frontend application.

[2022-04-13 17:54] Arashpirhadi1369 commented on #129
The issue still exists :(

[2022-04-13 19:20] jeffreyssmith2nd commented on #19908
Hi I'd like to take a look at this issue. Some cursory digging shows that the proper place to make these changes is going to be in the lattermost-plugin-playbooks repo, does that sound correct?

[2022-04-13 20:13] #19165 closed

[2022-04-13 20:15] mattermod opened #19977 "CRT: When switching between teams it doesn't stay on Threads view"
#### Steps to reproduce:

  1. Enable Collapsed reply threads on the server and for the user.
  1. Go the ‘Threads’ view on Team A
  1. Switch to Team B
  1. Switch back to Team A

#### Observed:

  * It shows the last channel that I viewed in that team rather than the Threads view

#### Expected:

  * I expect that the Threads view would be active when switching back since that was the last view

[2022-04-13 20:15] mattermod opened #19978 "Thread posts are not left aligned in compact message display mode"
Environment: daily, not a regression, reproduces on esr v5.37.5

Steps:
1. Set message view to "Compact" (Settings>Display>Message Display>Compact)
2. Open a thread on RHS

Expected: Root post and replies to be left aligned, as they are in "Standard" message display mode

Observed: Root post is indented, out of line with the rest of the replies
![](Screen Shot 2021-12-14 at 3.25.24 PM.png|thumbnai

[2022-04-13 20:15] mattermod opened #19979 "CRT: Participant Avatars are removed from the footer of saved root post (not followed)"
Environment: daily, Collapsed Reply Threads on

Steps:
1. Create a post as user1
2. Reply to this post as user2
3. As user3 save the root post made by user1, do not follow
4. Open Saved Posts on the RHS, ensure the original post is still visible on the main channel view

Expected: No change to thread footer avatars

Observed: Participant avatars are removed from the saved root post footer. Similar

[2022-04-13 20:30] mattermod opened #19980 "CRT: "x" new replies counts your own replies on a thread marked as unread"
**Steps**:
1. As user-1 create a root post and post a reply to it
2. As user-2 post another reply to the same thread
3. As user-1 go to Threads and open the thread
4. Mark your reply as unread
5. Observe the "x new replies" count
**Observed**: New messages line is placed below your own post as expected, but the count includes your reply post and shows "2 new replies"
**Expected**: Count should onl

[2022-04-13 20:54] #19117 closed

[2022-04-13 20:54] amyblais commented on #19466
Docs have been updated,

[2022-04-13 20:54] #19466 closed

[2022-04-13 20:54] jbattistispiria commented on #19163
@mattermod @Willyfrog I would like to take this one.

[2022-04-13 21:00] mattermod opened #19981 "CRT: Marking a thread as unread from the threads list should mark only the most recent message as unread"
**Steps to reproduce:**

  1. Go to the ‘Threads’ view
  1. Find a read thread in the list of threads
  1. Click on the ••• icon on that thread item in the list
  1. Click ‘Mark as unread’

**Observed:**

  * The new message line is moved above the first reply and marks all replies in the thread as unread

**Expected:**

  * It would be better if the new message line moved above the most recent re