[2019-12-18 05:59] mickmister commented on #13421
@nmlc Yes, thanks for contributing!

[2019-12-18 07:21] sij507 commented on #13178
@saturninoabril Sorry for the delay, I was traveling this month.  Please review when you have time, thanks!

[2019-12-18 07:27] it33 commented on #6320
Hi @realrolfje,

  It’s been over two years since this thread was started and I’m highly appreciative of your feedback and other folks who have contributed. The Mattermost open source project has grown a lot since then, the [pace of innovation continues to accelerate](https://mattermost.com/blog/mattermost-hackathon-2019-highlights/), and it’s thanks to the continual engagement by users and contri

[2019-12-18 07:51] it33 opened #13422 "There is a bug during switching channels that pins your view to some random location weeks before the latest post."
#### Summary

From Hacker News: https://news.ycombinator.com/item?id=21822537
[code]
// breaking template here a bit as this is from community

[2019-12-18 08:02] saturninoabril commented on #13178
@sij507 no worries and thanks! Have a safe travel and happy holidays!

[2019-12-18 08:14] RajatVaryani commented on #11843
Hi @lieut-data ,

I have made the changes. To avoid serialization I am making use of `sync.Map`. The key in this map is the request-id from the `Context` with the assumption that it is safe to reuse. The request-id is passed as a command flag instead of command argument. Passing id as argument is prone to error as it will change the number of arguments of the original command. I also added another

[2019-12-18 10:37] realrolfje commented on #6320
Thank you for moving the password length restrictions to the Team Edition, that really helps in adding security to the system.

As you can see by user contributions with fixes for the delete/archive channel in this thread, we are not sharing the same view on wether any user should be able to archive a channel. In a bigger community (like the one I am running Mattermost for), there will be disputes

[2019-12-18 11:14] #13376 closed

[2019-12-18 11:34] vesari commented on #13404
Is it actually the mmctl repository I should make a PR against? Because that's where I find `RemovePermissionsCmd`.

[2019-12-18 11:42] tennom commented on #13268
@larkox and @lieut-data, I just pushed my branch. There will some slight changes, but working well on my end. The outgoing Hmac authentication is just a small task while the incoming was the challenge. We differently need to document well once the server connected to clients (webapp, android, IOS). We just need to add a couple of UI components.
What is the challenge?
It's really not the actual sig

[2019-12-18 12:50] alexanderadam commented on #6320
Are you using something similar to the trigger [that was mentioned on AkitaOnRails](https://www.akitaonrails.com/2016/08/12/hacking-mattermost-team-edition)?

Is there some up to date documentation/wiki where people share scripts like this or similar hacks?

It would probably help others having the same problem.
I mean it seems that most people, who are administrating Mattermost instances, agree o

[2019-12-18 12:59] realrolfje commented on #6320
Oh that AkitaOnRails solution is wonderful! Thanks for the tip!

I was using a query to detect new deletes, and post those events to a private admin channel. When such an action happens, I manually go in to check if it is a valid deletion and I undelete the specific channel manually with an update query.

I have a number of queries on the Postgres db set up to post alerts in the admin channel, and

[2019-12-18 13:01] realrolfje commented on #6320
For any Open Source product with an Enterprise version it is hard to decide which features need to go where. The most important reason is that there are no "Enterprise people" and "Open Source people". There are just "people".

[2019-12-18 13:11] toojazzy commented on #12859
It was not resolved and was marked as Cannot reproduce, why? It is clearly reproducible on non retina displays. Are you serious about issues being sent to you?

[2019-12-18 13:52] amyblais commented on #13261
I'm closing this for now as there hasn't been updates on this for a while, but I hope that you will open a feature request issue for this at https://mattermost.uservoice.com/forums/306457-general.

[2019-12-18 13:52] #13261 closed

[2019-12-18 13:54] amyblais commented on #13240
We haven't received feedback on this for a while so I'll close this issue for now.

If the issue persists, I hope that you will re-open this issue with additional relevant information.

[2019-12-18 13:54] #13240 closed

[2019-12-18 13:56] RajatVaryani commented on #13121
@hanzei Can you please help me ☝️ ?

[2019-12-18 14:22] it33 commented on #6320
Thanks @realrolfje, FYI, I loved this Hacker News comment: https://news.ycombinator.com/item?id=21824219

![image](https://user-images.githubusercontent.com/177788/71093552-6c4c8380-2177-11ea-8368-79065f86c305.png)

I agree asah is way more concise than I was. Simplifying explanations is something I need to work on. Thanks asah 🙌!!

[2019-12-18 14:29] mgdelacroix commented on #13121
Sorry I missed the comments, it's open back again @RajatVaryani

[2019-12-18 14:31] it33 commented on #6320
Just to add, I hope I am making progress from 10 months ago on being too marketing-y:

I love this comment as well. It's on my to-do list to print a T-shirt with this on it.

![image](https://user-images.githubusercontent.com/177788/71093186-b4b77180-2176-11ea-80ed-74c68e900608.png)

[2019-12-18 14:35] rolfchess commented on #6320
It is great to see you have a customer not running into this problem, but the posters to this issue and I clearly have. "Permissions is a complex rathole" is not a valid reason for having a feature in Team Edition but not in Enterprise edition.

A user archiving a channel effectively makes the service unavailable to other users until a system admin finds the time to detect and fix it. Assigning a

[2019-12-18 14:44] alexanderadam commented on #6320
For me neither and obviously not for the users that are commenting in this issue or [the ones I mentioned before](https://github.com/mattermost/mattermost-server/issues/6320#issuecomment-567018313).

Even the explanation "but permissions is a complex rathole, un-archive is a simple workflow for admins and if there's continued abuse, just ban the user" is pretty strange.

Because if archiving would

[2019-12-18 14:48] amyblais opened #13427 "Mattermost v5.19"
You can find key dates for v5.19 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### TBD: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### December 14th: Release Build Cut
The fina

[2019-12-18 14:49] hmhealey commented on #12353
Reopening this since the PR only addresses one of the components that needs to be updated.

@smacgregor Would you be interested in continuing work on this, or would you like to hand this off to others?

[2019-12-18 14:54] #12015 closed

[2019-12-18 14:59] it33 commented on #6320
Updating title per: https://news.ycombinator.com/item?id=21822740

Very open to continued feedback here, want to make sure people understand the specific issue being discussed:

![image](https://user-images.githubusercontent.com/177788/71096781-e6cbd200-217c-11ea-9a24-53fc85e0f4b0.png)

Open to feedback on accuracy of updated title.

[2019-12-18 15:26] levigo-systems opened #13428 "Disabled AD user can still access Mattermost"
#### Summary
If a user is disabled in the AD, it still can access Mattermost until the account is logged out.

#### Steps to reproduce
Mattermost-Version: 5.17.0
Database-Version: 5.17.0

1. Configure a LDAP connection to an AD
2. Login with an AD user
3. Disable the AD user via AD
4. Use Mattermost on the AD user -> Should still work
5. Check the systemconsole -> The user is still activated (ldap

[2019-12-18 15:34] amyblais commented on #12859
Thanks for letting me know. I've reopened the ticket and sent it back to UX triage to see if it can be further investigated or opened as a Help Wanted issue.

[2019-12-18 15:43] amyblais commented on #13411
Thank you for reporting this. I've asked our team about this to find out if this is a bug or a feature request.

[2019-12-18 15:46] amyblais commented on #13428
@levigo-systems Wondering if this document may help: https://docs.mattermost.com/deployment/sso-ldap.html#how-does-deactivating-users-work.

If not, would you be open to sending more information from here: https://docs.mattermost.com/process/support.html#ldap-issues?

[2019-12-18 16:05] rolfchess commented on #6320
I'd change the title to "non-admins can archive any public channel". Shorter is better.

We haven't mentioned private channels here. We are talking about begrudged users who are part of an open channel discussion and (by accident or otherwise) hit the "archive" button (which to them is "delete" because they can not undo it, only an admin can).

[2019-12-18 17:25] lieut-data commented on #13268
Thanks, @tennom! Would it make sense for you to open a draft PR of your branch? That's probably the easiest way to provide early feedback.

[2019-12-18 17:36] lieut-data commented on #11843
Thanks for exploring this space, @RajatVaryani! I'll definitely take a look :)

[2019-12-18 18:12] #10156 closed

[2019-12-18 18:29] emilioicai commented on #13220
The issue here is on how the `VirtualizedList` is inverted in React Native: they style the child scrollview with `transform: [{scaleY: -1}]` (https://github.com/facebook/react-native/blob/8ddf231306e3bd85be718940d04f11d23b570a62/Libraries/Lists/VirtualizedList.js#L2110) so the top becomes the bottom and the other way round. For this to work as expected, they also need to flip the contents which le

[2019-12-18 20:37] nadalfederer commented on #13419
can I take this

[2019-12-18 21:08] #13178 closed

[2019-12-18 21:46] amyblais commented on #13303
Another update: We will evaluate this again later when we work on moving this feature out of experimental.

[2019-12-18 22:13] larkox commented on #13402
May I take this one?

[2019-12-18 22:14] M-ZubairAhmed commented on #13401
can i work on this?

[2019-12-18 22:24] larkox commented on #13334
May I take this one?

[2019-12-18 22:51] larkox commented on #9502
May I take this one?

[2019-12-18 23:02] jasonblais commented on #9502
@larkox Go for it! As you can see above, there have been a couple of PRs opened previously that were closed, I'd propose reviewing them first to see what outstanding items there were.

[2019-12-19 02:48] #13262 closed

[2019-12-19 03:39] agnivade commented on #13401
All yours :)

[2019-12-19 09:19] #9598 closed

[2019-12-19 12:46] jasonblais commented on #5267
Updated ticket with new examples and options. Anyone in the community interested helping with this improvement?

[2019-12-19 13:12] jasonblais commented on #13402
Certainly, thanks @larkox!

[2019-12-19 13:12] jasonblais commented on #13419
Certainly, thanks @nadalfederer!

[2019-12-19 13:12] jasonblais commented on #13334
Certainly, thanks @larkox! Wow, you're working on a lot :)

[2019-12-19 13:15] jasonblais commented on #11675
This has been taken by our tech writer, closing, thanks @consideRatio for the help!!

[2019-12-19 13:15] #11675 closed

[2019-12-19 14:26] #13279 closed

[2019-12-19 14:49] sij507 commented on #13173
@sahilsharma011 Done. Please review. Thanks!

[2019-12-19 14:50] saturninoabril commented on #13173
@sij507 Thanks!

[2019-12-19 15:34] LilianCruanes commented on #13303
@amyblais Thanks for all !

[2019-12-19 19:52] #13259 closed

[2019-12-19 23:44] #11437 closed

[2019-12-20 02:29] enahum commented on #11812
closing in favor of https://github.com/mattermost/mattermost-server/issues/8797

[2019-12-20 02:29] #11812 closed

[2019-12-20 04:54] hanzei opened #13439 "Add Plugin helper method performing atomic updates"
To help plugins perform perform atomic updates in the KV store, there should a helper method that updates an entry atomically:

[code]

[2019-12-20 04:55] hanzei commented on #13439
There is a closed PR which might be a source of inspiration: https://github.com/mattermost/mattermost-server/pull/13002

[2019-12-20 06:17] it33 commented on #6320
Thanks for the feedback. Could I ask your help to share more?

a) With this title change is the proposal that a non-admin who creates a public channel be prevented from archiving the channel they just created?

b) If so, what happens if a user creates a channel by accident, or unknowingly creates a duplicate of an existing channel, creating confusing?

c) In what way would you see private channels

[2019-12-20 07:43] Bamiiup opened #13442 "Wrong field name and description for device_id in "PUT: /users/sessions/device""
Instead of 'device_id', there is should be token at least for android.

[2019-12-20 07:57] emilioicai commented on #8797
I'll take this one

[2019-12-20 08:04] #13101 closed

[2019-12-20 09:24] hanzei commented on #8797
Thanks @emilioicai :+1:

[2019-12-20 12:09] #13428 closed

[2019-12-20 12:43] jasonblais commented on #7715
@hassanbot Which Mattermost server version are you running?

[2019-12-20 12:51] #13074 closed

[2019-12-20 13:50] amyblais commented on #13442
Would you be open to sharing more details about your environment via https://docs.mattermost.com/process/support.html#general-questions-for-any-issues?

[2019-12-20 14:21] M-ZubairAhmed commented on #13338
I will take this one

[2019-12-20 14:22] saturninoabril commented on #13338
@M-ZubairAhmed Thank you and happy holidays!

[2019-12-20 14:27] M-ZubairAhmed commented on #13338
happy holidays @saturninoabril :santa: :mrs_claus:

[2019-12-20 14:37] jasonblais commented on #12097
Opening back up for community due to inactivity

[2019-12-20 14:38] jasonblais commented on #12571
Opening up for community due to inactivity. You can see a start of the PR here: https://github.com/mattermost/mattermost-server/pull/12972

[2019-12-20 18:02] SephReed commented on #4562
I just got this issue.

[2019-12-20 20:18] jasonblais commented on #4562
Hi @SephReed, thanks for the note. Would you be open to help create a new GitHub issue with a summary of steps you took and observed/expected behaviour?

[2019-12-20 20:25] jasonblais commented on #7715
@hassanbot Thanks! Would you be open to upgrading the Mattermost server to the latest release (5.18.0)? https://mattermost.com/download/

I can reproduce the issue on Mattermost 5.17.1

![image](https://user-images.githubusercontent.com/13119842/71289977-a1560300-233c-11ea-874b-d4fb15711c4b.png)

But I see syntax highlighting working correctly on 5.18.0 which was released earlier this week. I susp

[2019-12-20 21:48] jasonblais commented on #7715
Thanks! I'm not too familiar with C# so perhaps the example/highlighting is incorrect. Either way, keep us updated and let us know if it's not working as you'd expect it to :)

[2019-12-20 22:17] hanzei commented on #12667
This is up for grabs again

[2019-12-20 22:20] jasonblais commented on #12792
Opening back for community contributions, see start of a PR here: https://github.com/mattermost/mattermost-server/pull/12806

[2019-12-20 22:24] jasonblais commented on #12793
This is back up for grabs, here's start of a PR for reference: https://github.com/mattermost/mattermost-server/pull/12816

[2019-12-20 22:31] hanzei commented on #12472
@M-ZubairAhmed is working on this.

[2019-12-20 22:41] hanzei commented on #12453
This is up for grabs again. https://github.com/mattermost/mattermost-webapp/pull/3918 can be used as a starting point.

[2019-12-20 23:02] SephReed commented on #4562
It's super random.  Only happened once, hasn't been a bother since.  Sorry I couldn't be more help.

I think maybe the issue has something to do with too quickly adding/removing constraints.  In order to assert a constraint, the easiest way is to `DROP CONSTRAINT IF EXISTS` it and re-add it.

There should likely be a way to `ADD CONSTRAINT IF NOT EXISTS` instead.

[2019-12-20 23:31] #13204 closed

[2019-12-20 23:42] amyblais commented on #13312
A ticket for this was opened here https://mattermost.atlassian.net/browse/MM-21373 and it is awaiting peer review.

We did recreate it as a bug ticket because the Require Email Verification toggle is misrepresenting what is happening on the back-end (the verification email is still being sent when set to false).

[2019-12-20 23:43] jasonblais commented on #8464
Added a comment in the Jira ticket and asked Platform team to either clarify for the ticket or close if it's no longer relevant. Closing this for now.

[2019-12-20 23:43] #8464 closed

[2019-12-20 23:50] jasonblais commented on #10155
Hey @cometkim, wondering if it made sense to open this up for community contributions, or are you actively working on it?

[2019-12-20 23:51] #10193 closed

[2019-12-20 23:52] #10200 closed

[2019-12-20 23:52] jasonblais commented on #10327
Hey @soorya54, just touching base to see how things are going and if you have any questions? :)

[2019-12-20 23:53] jasonblais commented on #10336
Hey @scottleedavis, touching base to hear how things are going and if you have any questions about this issue?

[2019-12-20 23:56] scottleedavis commented on #10336
hey @jasonblais this has been dev complete for a while.  Currently waiting on review by @levb when he is available.

[2019-12-20 23:58] jasonblais commented on #10788
@letsila did you get an answer that helped you to proceed?

[2019-12-20 23:58] jasonblais commented on #10702
@rfoyard Did you get an answer to help you proceed?

[2019-12-20 23:59] jasonblais commented on #10627
Hey @Vitao18, how are things going? Any questions we can help you with so far?

[2019-12-21 00:00] jasonblais commented on #10370
Thanks @Abebw! How are things going, any questions so far? :)

[2019-12-21 00:01] jasonblais commented on #10902
Thanks @Dak425 for the contribution!

[2019-12-21 00:01] #10902 closed

[2019-12-21 00:02] jasonblais commented on #11071
Thanks @liusy182 for the contribution!

[2019-12-21 00:02] #11071 closed

[2019-12-21 00:03] jasonblais commented on #11195
https://mattermost.atlassian.net/browse/MM-18315 was opened to productize the relevant plugin and eventually make it available in the marketplace.

[2019-12-21 00:03] #11195 closed

[2019-12-21 00:08] jasonblais commented on #11323
@wiersgallak Do we have next steps for this help wanted issue? Perhaps we close this for now if it needs UX considerations?

[2019-12-21 00:09] jasonblais commented on #11435
Looks like this was done via https://mattermost.atlassian.net/browse/MM-16251

[2019-12-21 00:09] #11435 closed

[2019-12-21 00:10] jasonblais commented on #11439
Hey @mikeygbd, checking in to see how things are going? Any questions so far?

[2019-12-21 00:10] jasonblais commented on #11440
Hi @sudheerDev / @jespino, wondering if you can help with the question above, or direct to someone who can?

[2019-12-21 00:11] jasonblais commented on #11441
Hey @anindha, how are things going? Any questions so far we can help you with? :)

[2019-12-21 00:12] jasonblais commented on #11760
Hey @nadalfederer, just touching base to see if you have questions so far? :)

[2019-12-21 00:12] jasonblais commented on #11762
Hey @NiroshaV, just touching base to see if you have any questions so far? :)

[2019-12-21 00:15] nadalfederer commented on #11760
Thanks for the ping. I've missed this, I'll create a PR in the next few days

[2019-12-21 00:16] jasonblais commented on #12017
Hey @kdenz, just touching base to see how things are going and if you have any questions so far?

[2019-12-21 00:16] #12004 closed

[2019-12-21 00:18] jasonblais commented on #12302
I'll open this back up for grabs due to inactivity. @a-arias If you're still interested working on this, let us know! :)

[2019-12-21 00:18] jasonblais commented on #12316
Hey @CSBatchelor how are things going? Any questions so far? :)

[2019-12-21 00:18] jasonblais commented on #12324
Hey @nadalfederer, let us know if you have any questions so far? :)

[2019-12-21 00:19] jasonblais commented on #12337
Opening up for grabs given no recent activity

[2019-12-21 00:20] jasonblais commented on #11760
Great, thanks @nadalfederer!

[2019-12-21 00:21] jasonblais commented on #12348
Hey @akpark, how are things going so far, any questions? :)

[2019-12-21 00:22] jasonblais commented on #12375
Opening this up for grabs again due to inactivity.

@SlavaBobik if you're still interested working on this, let us know! Happy to answer any questions you might have.

[2019-12-21 00:23] jasonblais commented on #12391
Hey @igomonov88, let us know if you have any questions so far?

[2019-12-21 00:25] jasonblais commented on #12473
Opened this up for grabs due to inactivity.

@KerryAlsace If you're still open to working on this issue, let us know! We'd be happy to answer any questions you might have :)

[2019-12-21 00:25] jasonblais commented on #12491
Hey @Phizzard, are you currently working on this issue? Any questions you have so far? We'd be happy to help! :)

[2019-12-21 00:26] jasonblais commented on #12518
Hey @Mycobee, let us know if the above was helpful? If not, we'd be happy to clarify it :)

[2019-12-21 00:26] nadalfederer commented on #12324
Thanks for the ping. I've missed this, I'll create a PR in the next few days

[2019-12-21 00:28] jasonblais commented on #12522
Opening this issue up for grabs.

@hwang381 please do let us know if you're still open to helping with this one. We'd be happy to clarify any questions you have :)

[2019-12-21 00:29] jasonblais commented on #12696
Hey @letsila, touching base to see if you're still working on this one. If you have questions, let us know :)

[2019-12-21 00:29] jasonblais commented on #12699
Opening up for grabs

[2019-12-21 00:30] jasonblais commented on #12749
Hey @pawansingh972, let us know if you're still open to working on this one? Let us know if you have any questions!

In the meantime, I'll open this up for grabs :)

[2019-12-21 00:31] jasonblais commented on #12750
Hey @shonore, let us know if you're still open to working on this one? Let us know if you have any questions!

In the meantime, I'll open this up for grabs :)

[2019-12-21 00:31] jasonblais commented on #12849
Hey @pradeepmurugesan, let us know if you're still open to working on this one? Let us know if you have any questions!

In the meantime, I'll open this up for grabs :)

[2019-12-21 00:32] jasonblais commented on #12936
Hi @a8uhnf, let us know if you're still open to working on this one? Let us know if you have any questions!

In the meantime, I'll open this up for grabs :)

[2019-12-21 00:33] jasonblais commented on #13009
Hey @MathewtheCoder, let us know if you're still open to working on this one? Let us know if you have any questions!

In the meantime, I'll open this up for grabs :)

[2019-12-21 00:34] jasonblais commented on #13073
Hey @phillipahereza, let us know if you're still open to working on this one? Let us know if you have any questions!

In the meantime, I'll open this up for grabs :)

[2019-12-21 00:35] jasonblais commented on #13102
Hey @igomonov88 looks like this is up for grabs for you. Let us know if you're still interested in working on this one? :)

[2019-12-21 00:42] jasonblais commented on #13144
@saneletm touching base to make sure you have the info you need to proceed. If any questions, don't hesitate to let us know! Happy to clarify anything.

Really appreciate your help with this by the way :)

[2019-12-21 00:42] jasonblais commented on #13146
Hey @calebroseland, let us know if you have any questions, happy to clarify anything :)

[2019-12-21 00:43] jasonblais commented on #13159
Hi @jimiolaniyan, let us know if you're still open to working on this one? Let us know if you have any questions!

Else, looks like @igomonov88 may be interested working on this one :)

[2019-12-21 00:43] jasonblais commented on #13170
Thanks @sij507 for the contribution!

[2019-12-21 00:43] #13170 closed

[2019-12-21 00:45] jasonblais commented on #13222
Hey @theparad0x007, let us know if you have any questions so far, we'd be happy to help. Thanks so much for your interest on this help wanted issue :)

[2019-12-21 00:45] jasonblais commented on #13226
Thanks @bpietraga for the contribution!

[2019-12-21 00:45] #13226 closed

[2019-12-21 00:47] jasonblais commented on #13269
Hey @kosgrz, let us know if you have any questions so far, we'd be happy to help. Thanks so much for your interest on this :)

[2019-12-21 00:47] jasonblais commented on #13282
Hey @3mard, let us know if you have any questions so far, we'd be happy to help. Thanks so much for your interest on this :)

[2019-12-21 00:48] jasonblais commented on #13289
Thanks @larkox for the contribution! Closing

[2019-12-21 00:48] #13289 closed

[2019-12-21 00:48] jasonblais commented on #13300
Hey @ChrisDobby, let us know if you have any questions so far, we'd be happy to help. Thanks so much for your interest on this :)

[2019-12-21 00:54] jasonblais commented on #13346
Hey @mjthomp95, let us know if you have any questions so far, we'd be happy to help. Thanks so much for your interest on this :)

[2019-12-21 00:55] jasonblais commented on #13404
That's correct @vesari, thank you :+1:

[2019-12-21 00:58] jasonblais commented on #12324
Thanks @nadalfederer :)

[2019-12-21 01:00] jasonblais commented on #10336
Thanks Scott! Looks like it's currently in QA review (https://mattermost.atlassian.net/browse/MM-18848). I'll close this issue off and we can track via that Jira ticket

[2019-12-21 01:00] #10336 closed

[2019-12-21 03:01] NiroshaV commented on #11762
@jasonblais working on other automation PR and manual PR's(mattermost). Please make this available for public

[2019-12-21 03:07] jasonblais commented on #11762
Sounds good, thanks @NiroshaV for the help on https://github.com/mattermost/mattermost-webapp/pull/4460 :)

[2019-12-21 03:18] tsilavinarazf commented on #12696
Hi @jasonblais, I am still on this one, sorry for the delay, I am catching up.

[2019-12-21 03:20] tsilavinarazf commented on #10788
@jasonblais not yet, who should I ask for this one?

[2019-12-21 03:23] letsila commented on #12696
Hi @jasonblais, I am still on this one, sorry for the delay.

[2019-12-21 03:25] letsila commented on #10788
@jasonblais still didn't get answer for this one, who should I ask for?

[2019-12-21 04:42] hwang381 commented on #12522
I am not interested in working on this in the short term

[2019-12-21 05:16] igomonov88 commented on #13102
Hello @jasonblais, yes I’m interesting in it and currently start working on it. Hope what I will make pull request in Thursday.

[2019-12-21 06:56] 3mard commented on #13282
Hey @jasonblais  thanks for your ping
I am trying to push #13102 through first, I understand that I might have jumped a bit too fast on this, I will be able to tickle this during the next week, but if that's already to late, I would understand if you chose to unassign me :)

[2019-12-21 07:51] rfoyard commented on #10702
Hi @jasonblais, I had no information to help me proceed.
I am working on another issue that takes me time, feel free to make this one available.

[2019-12-21 11:55] ChrisDobby commented on #13300
Thanks @jasonblais - am in the process of testing my changes before creating a PR

[2019-12-21 13:59] kosgrz commented on #13269
Hey @jasonblais! Sorry for the delay. I've just created a PR for this issue: https://github.com/mattermost/mattermost-webapp/pull/4567

[2019-12-21 14:55] M-ZubairAhmed commented on #12472
Hi fixed the issue here https://github.com/mattermost/mattermost-webapp/pull/4566
Happy holidays :christmas_tree:

[2019-12-21 17:48] jasonblais commented on #12696
@letsila Sounds good, thanks so much for the quick response 👍

[2019-12-21 17:49] jasonblais commented on #12522
Thanks for the heads up and quick response, appreciate it @hwang381 👍 Hope you have a great holiday season :)

[2019-12-21 17:50] jasonblais commented on #13102
Sounds great, thanks @igomonov88 for the quick reply 👍

[2019-12-21 17:51] jasonblais commented on #13282
Hey @3mard, that should be fine if you're planning to work on it next week :+1:

To confirm, did you mean you're working on https://github.com/mattermost/mattermost-server/issues/13103 first?

[2019-12-21 18:34] jasonblais commented on #10788
@letsila Thanks for letting me know. Let me touch base with the team and someone will get back to you.

[2019-12-21 18:34] jasonblais commented on #10702
@rfoyard  Thanks for letting me know. Let me touch base with the team and someone will get back to you.

[2019-12-21 19:37] 3mard commented on #13282
Hey @jasonblais  exactly ! When I opened the PR I thought was done, that's why I took another task, apparently I was not.

[2019-12-21 19:39] 3mard commented on #13282
Sorry for the confusion @jasonblais  I meant #13275

[2019-12-21 19:57] jasonblais commented on #13282
Ah, excellent, thanks @3mard!

[2019-12-21 23:00] M-ZubairAhmed commented on #13343
Working on this one

[2019-12-21 23:16] QamarFarooq commented on #12786
Ill take this one

[2019-12-22 11:37] jespino commented on #12786
Awesome, Thanks @QamarFarooq, probably you can take a look to the existing PR.

[2019-12-22 14:13] levb commented on #10336
@jasonblais it's been on us to review and deploy and we have not been able to prioritize it, it's not a trivial piece of code.

[2019-12-22 17:27] #13284 closed

[2019-12-22 21:50] M-ZubairAhmed commented on #13341
I got this

[2019-12-22 21:52] M-ZubairAhmed commented on #13345
Question : After creating a new user with very long username, how do i make webhook request for users,

following this from docs _**https://docs.mattermost.com/developer/interactive-messages.html#message-menus-for-users**_

[2019-12-22 21:59] jasonblais commented on #13345
@M-ZubairAhmed Are you familiar with [Postman](https://www.getpostman.com/) or another tool to make web requests?

As long as you send a JSON included in the linked doc, you'll be able to test the UI functionality.

Let me know if the above helps, happy to share more concrete steps if you're less familiar with this area. :)

[2019-12-22 22:00] M-ZubairAhmed commented on #13345
thank you @jasonblais , let me try that

[2019-12-22 22:07] jasonblais commented on #13366
@M-ZubairAhmed You took another two help wanted tickets, but a quick reminder that you had previously also claimed this one. :) Big thanks for your help!

[2019-12-22 22:07] jasonblais commented on #13401
@M-ZubairAhmed You took another two help wanted tickets, but a quick reminder that you had previously also claimed this one. :) Big thanks for your help!

[2019-12-22 22:18] larkox opened #13452 ""onTouchEnd got false" console error"
#### Summary
On console we can see an error related to "onTouchEnd" receiving a boolean instead of a function.

#### Steps to reproduce
Run mattermost server and go to /. Check the console there

#### Expected behavior
No console errors

#### Observed behavior (that appears unintentional)
Error appearing

#### Possible fixes
Follow the instructions in the error message

[2019-12-22 22:19] larkox commented on #13452
I will take care of this.

[2019-12-22 22:38] jasonblais commented on #13452
Thanks @larkox :)

[2019-12-22 22:42] larkox opened #13453 ""wrapperHeight prop not a prop from component" console error"
#### Summary
The javascript console throws an error regarding "wrapperHeight" not being a prop for the component.

#### Steps to reproduce
Run server and go to /. Check the javascript console.

#### Expected behavior
No error shown

#### Observed behavior (that appears unintentional)
Error shown

#### Possible fixes
Remove that prop before passing to children which do not use it.

[2019-12-22 22:42] larkox commented on #13453
I will take this one

[2019-12-22 23:26] harshilsharma63 opened #13454 "Incorrect last updated date on Mattermost integratiopns page"
#### Summary
The last updated date on Standup Raven integrations page is either incorrect and I'm incorrectly guessing it's meaning.

#### Steps to reproduce
1. Visit https://integrations.mattermost.com/standup-raven/
1. Notice the `Date Last Updated` value.
1. Now compare it with release dates on https://github.com/standup-raven/standup-raven/releases .

#### Expected behavior
From what I underst

[2019-12-22 23:28] mjthomp95 commented on #13346
Yes sorry been a busy holiday season. I'll be reaching out on the developer channel soon.

[2019-12-22 23:29] jasonblais commented on #13346
Thanks @mjthomp95! Sounds good, appreciate the follow-up. Happy holidays!

[2019-12-23 00:11] nadalfederer commented on #12522
can I take this

[2019-12-23 00:12] nadalfederer commented on #12571
can I take this

[2019-12-23 00:12] nadalfederer commented on #12849
can I take this

[2019-12-23 00:17] marianunez commented on #12849
That would be great! Thanks @nadalfederer!

[2019-12-23 00:40] jasonblais commented on #12571
Thanks @nadalfederer, certainly! 🎉

[2019-12-23 00:40] jasonblais commented on #12522
go for it 🚀

[2019-12-23 04:29] harshilsharma2 opened #13455 "Send rendered HTML instead of raw markdown in email notifications"
Currently an email notification shows raw message text which looks bad when the text is markdown.

For example-
![](https://i.imgur.com/22e6vFh.png)

It would be much better for UX and for readibility of the message in notifications if email contained rendered HTML for markdown instead of raw text.

[2019-12-23 09:50] Willyfrog commented on #10702
regarding oauth provider api, it would be preferable not to change the API. I don't think it is used by plugins, but since I don't really know the plugin ecosystem so well, I can only guess. Anyways, if this is needed, then the API would need to change, and that only means that we should be extra-careful with it and make sure it is well communicated, it wouldn't mean that it would stop it.

Regard

[2019-12-23 10:30] mattermod opened #13457 "Add unit tests to the "RestoreChannelsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `RestoreChannelsCmd` command, in the

[2019-12-23 10:30] mattermod opened #13458 "Add unit tests to the "ListChannelsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ListChannelsCmd` command, in the `c

[2019-12-23 10:30] mattermod opened #13459 "Add unit tests to the "ArchiveChannelsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ArchiveChannelsCmd` command, in the

[2019-12-23 10:30] mattermod opened #13460 "Add unit tests to the "AddChannelUsersCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `AddChannelUsersCmd` command, in the

[2019-12-23 10:30] mattermod opened #13461 "Add unit tests to the "RemoveChannelUsersCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `RemoveChannelUsersCmd` command, in

[2019-12-23 10:30] mattermod opened #13462 "Add unit tests to the "ChannelRenameCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ChannelRenameCmd` command, in the `

[2019-12-23 10:30] mattermod opened #13463 "Add unit tests to the "ChannelCreateCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ChannelCreateCmd` command, in the `

[2019-12-23 10:30] mattermod opened #13464 "Add unit tests to the "SearchTeamCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `SearchTeamCmd` command, in the `com

[2019-12-23 10:30] mattermod opened #13465 "Add unit tests to the "ListTeamsCmd" mmctl command"
Mattermost is increasing the unit test coverage for the [mmctl CLI tool](https://github.com/mattermost/mmctl). Through the use of a mocked client that will simulate the interactions with the server, the goal is to create a suite of tests that check the tool's behavior in a flexible and robust way.

This Help Wanted issue covers the addition of unit tests to the `ListTeamsCmd` command, in the `comm

[2019-12-23 11:06] jasonblais commented on #13422
I replied with

[code]

If this is the same issue, then https://github.com/mattermost/mattermost-webapp/pull/4132 should resolve it. PM/Dev/QA review in progress.

Related Jira tickets
https://mattermost.atlassian.net/browse/MM-19537
https://mattermost.atlassian.net/browse/MM-19533

[2019-12-23 11:08] jasonblais commented on #13454
@amyblais or @aaronrothschild can help share the process for updating these dates when they're back from holidays. I believe we update the directory once every 2 months. We should ideally have a more automated way of pulling this information, or the creator sharing updates,

[2019-12-23 11:11] jasonblais commented on #13455
Hmm, as far as I know this should be supported, though it could have broken https://mattermost.atlassian.net/browse/MM-1762

@harshavardhana wondering if your email preferences are set to plain text or HTML? Also, which Mattermost server version are you using?

[2019-12-23 11:11] jasonblais commented on #13455
Hmm, as far as I know this should be supported, though it could have broken https://mattermost.atlassian.net/browse/MM-1762

@harshilsharma63  wondering if your email preferences are set to plain text or HTML? Also, which Mattermost server version are you using?

[2019-12-23 12:58] harshilsharma63 commented on #13454
+1 for automated updated. You can pick date of latest released artifact that is not marked `pre-released`. Of course that applies only to GitHub (and maybe to GitLab?).

Or maybe remove the field all together from integrations page?

[2019-12-23 13:03] harshilsharma63 commented on #13455
@jasonblais I received this notification from https://community.mattermost.com . I coultn't find any email preference in user settings and also not in system console of my local Mattermost instance. Can you help me locate it?

[2019-12-23 13:05] harshilsharma63 commented on #13439
This will really help in making plgins HA-friendly 👍

[2019-12-23 13:22] M-ZubairAhmed commented on #13345
Hi, Sorry for disturbing holidays, i have another questions

For testing purpose, Instead of creating a user with very long username and then getting list of user name inside the attachment. Can i just create a small list of options like this :
[code]

[2019-12-23 14:56] Abebw commented on #10370
@jasonblais unfortunately I won't be finishing this task. Feel free to unassign me and readd up for grams.

[2019-12-23 15:11] enahum commented on #10788
@letsila yes in this case it should be `mattermost://` used as the schema. The full story is that when you  click on a `http` link it will show a landing page on the webapp to open the link with mobile app if installed, this link on the webapp will then use the `mattermost://` schema.

When you say is not working as expected, what is it that you are seeing?

[2019-12-23 15:13] tsilavinarazf commented on #10788
thanks @enahum , I am checking that out

[2019-12-23 15:15] letsila commented on #10788
@enahum thanks, I am checking that out

[2019-12-23 15:17] letsila commented on #10788
@enahum I have the mattermost mobile installed and when hitting a link with the `mattemost://` scheme from the webapp it didn't opened the mobile app.

[2019-12-23 15:19] enahum commented on #10788
Are we talking Android or iOS ?

[2019-12-23 15:19] letsila commented on #10788
iOS

[2019-12-23 15:20] letsila commented on #10788
sorry I meant Android, on the emulator

[2019-12-23 15:22] enahum commented on #10788
Maybe check the `AndroidManifest.xml` and ensure that the scheme is set. I believe there is another ticket for that that @migbot was going to fix https://mattermost.atlassian.net/browse/MM-14470

[2019-12-23 15:24] tsilavinarazf commented on #10788
I actually forgot to check that one. I am checking that out and the ticket as well. thanks @enahum

[2019-12-23 15:25] letsila commented on #10788
I actually forgot to check that one. I am checking that out and the ticket as well. thanks @enahum

[2019-12-23 16:15] mattermod opened #13467 "Migrate 'components/modal_controller' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/modal_controller` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2019-12-23 16:15] mattermod opened #13468 "Migrate 'components/edit_channel_header_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/edit*channel_header*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `

[2019-12-23 16:15] mattermod opened #13469 "Migrate 'components/popover_list_members' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/popover*list*members` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:15] mattermod opened #13470 "Migrate 'components/team_members_dropdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team*members*dropdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:15] mattermod opened #13471 "Migrate 'components/team_settings' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team_settings` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2019-12-23 16:15] mattermod opened #13472 "Migrate 'components/more_channels' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/more_channels` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2019-12-23 16:15] mattermod opened #13473 "Migrate 'components/leave_team_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/leave*team*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2019-12-23 16:15] mattermod opened #13474 "Migrate 'components/team_groups_manage_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team*groups_manage*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2019-12-23 16:15] mattermod opened #13475 "Migrate 'components/select_team' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/select_team` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2019-12-23 16:15] mattermod opened #13476 "Migrate 'components/delete_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/delete*channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:15] mattermod opened #13477 "Migrate 'components/system_notice' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/system_notice` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2019-12-23 16:15] mattermod opened #13478 "Migrate 'components/profile_popover' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/profile_popover` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `t

[2019-12-23 16:15] mattermod opened #13479 "Migrate 'components/more_direct_channels' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/more*direct*channels` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:15] mattermod opened #13480 "Migrate 'components/search_results_item' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/search*results*item` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2019-12-23 16:15] mattermod opened #13481 "Migrate 'components/interactive_dialog' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/interactive_dialog` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2019-12-23 16:15] mattermod opened #13482 "Migrate 'components/interactive_dialog/dialog_element' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/interactive*dialog/dialog*element` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-12-23 16:15] mattermod opened #13483 "Migrate 'components/channel_invite_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*invite*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:15] mattermod opened #13484 "Migrate 'components/setting_item_min' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/setting*item*min` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2019-12-23 16:15] mattermod opened #13485 "Migrate 'components/tutorial/tutorial_tip' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/tutorial/tutorial_tip` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:15] mattermod opened #13486 "Migrate 'components/admin_console/manage_tokens_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/manage_tokens*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-12-23 16:15] mattermod opened #13487 "Migrate 'components/admin_console/team_channel_settings/team' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/team` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2019-12-23 16:15] mattermod opened #13488 "Migrate 'components/admin_console/team_channel_settings/team/details' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/team/details` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2019-12-23 16:15] mattermod opened #13489 "Migrate 'components/admin_console/team_channel_settings/team/list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/team/list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- [ ] Rename the files to their associated TypeScript extensions

[2019-12-23 16:15] mattermod opened #13490 "Migrate 'components/admin_console/team_channel_settings/channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- [ ] Rename the files to their associated TypeScript extensions (i

[2019-12-23 16:15] mattermod opened #13491 "Migrate 'components/admin_console/team_channel_settings/channel/details' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/channel/details` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript exten

[2019-12-23 16:15] mattermod opened #13492 "Migrate 'components/admin_console/team_channel_settings/channel/list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/channel/list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2019-12-23 16:15] mattermod opened #13493 "Migrate 'components/admin_console/team_channel_settings/group' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/team_channel*settings/group` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2019-12-23 16:15] mattermod opened #13494 "Migrate 'components/admin_console/system_user_detail' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/system_user*detail` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-12-23 16:15] mattermod opened #13495 "Migrate 'components/admin_console/system_user_detail/team_list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/system_user_detail/team*list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie

[2019-12-23 16:15] mattermod opened #13496 "Migrate 'components/admin_console' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin_console` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2019-12-23 16:15] mattermod opened #13497 "Migrate 'components/admin_console/license_settings' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/license*settings` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `t

[2019-12-23 16:15] mattermod opened #13498 "Migrate 'components/admin_console/custom_plugin_settings' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/custom_plugin*settings` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js`

[2019-12-23 16:15] mattermod opened #13499 "Migrate 'components/admin_console/server_logs' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/server*logs` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `

[2019-12-23 16:15] mattermod opened #13500 "Migrate 'components/admin_console/compliance_reports' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/compliance*reports` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-12-23 16:15] mattermod opened #13501 "Migrate 'components/admin_console/revoke_token_button' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/revoke_token*button` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-12-23 16:15] mattermod opened #13502 "Migrate 'components/admin_console/admin_sidebar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/admin*sidebar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2019-12-23 16:15] mattermod opened #13503 "Migrate 'components/admin_console/custom_terms_of_service_settings' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/custom_terms_of_service*settings` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions

[2019-12-23 16:15] mattermod opened #13504 "Migrate 'components/admin_console/system_users' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/system*users` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2019-12-23 16:16] mattermod opened #13505 "Migrate 'components/admin_console/system_users/system_users_dropdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/system_users/system_users*dropdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2019-12-23 16:16] mattermod opened #13506 "Migrate 'components/admin_console/system_users/list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/system*users/list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2019-12-23 16:16] mattermod opened #13507 "Migrate 'components/admin_console/group_settings/groups_list' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/group_settings/groups*list` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2019-12-23 16:16] mattermod opened #13508 "Migrate 'components/admin_console/admin_sidebar_header' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/admin_sidebar*header` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2019-12-23 16:16] mattermod opened #13509 "Migrate 'components/admin_console/audits' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin_console/audits` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2019-12-23 16:16] mattermod opened #13510 "Migrate 'components/admin_console/admin_navbar_dropdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/admin_navbar*dropdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js`

[2019-12-23 16:16] mattermod opened #13511 "Migrate 'components/admin_console/manage_roles_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/manage_roles*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to

[2019-12-23 16:16] mattermod opened #13512 "Migrate 'components/admin_console/blockable_link' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/blockable*link` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`

[2019-12-23 16:16] mattermod opened #13513 "Migrate 'components/admin_console/reset_password_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/reset_password*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2019-12-23 16:16] mattermod opened #13514 "Migrate 'components/admin_console/plugin_management' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/admin*console/plugin*management` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2019-12-23 16:16] mattermod opened #13515 "Migrate 'components/team_members_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/team*members*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2019-12-23 16:16] mattermod opened #13516 "Migrate 'components/leave_private_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/leave*private_channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2019-12-23 16:47] letsila commented on #10788
awesome thanks @migbot

[2019-12-23 16:50] CSBatchelor commented on #12316
Hi @jasonblais I haven't started on this yet, I just started a new full-time Software Engineer job and I forgot! I still want to do this though, I should be able to start on it within the next few days.

[2019-12-23 18:10] sowmiyamuthuraman commented on #13516
I would like to work on this!

[2019-12-23 22:45] saturninoabril commented on #13345
Thanks @M-ZubairAhmed! In Cypress, you may have it as:

[code]

[2019-12-23 22:55] jasonblais commented on #13516
Go for it @sowmiyamuthuraman! 🚀

[2019-12-23 22:58] #13173 closed

[2019-12-24 00:06] jasonblais commented on #13411
Hey @programmersstudio,

We don't have an exact mapping of that format into Mattermost - and moreover, usernames are deprecated in Slack.

Let me know what your use case and we might be able to better assist you? Here are also a few helpful resources:
 - https://developers.mattermost.com/integrate/slash-commands/
 - https://grundleborg.github.io/posts/mattermost-custom-slash-command-aws-lambda/

[2019-12-24 01:31] jasonblais commented on #12316
Great, thanks @CSBatchelor, and congrats on your new job! 🎉

[2019-12-24 08:56] M-ZubairAhmed opened #13520 "Many UI automation tests are failing in interactive_menu/basic_options_spec.js"
#### Summary
In UI automation test suite **integration/interactive_menu/basic_options_spec.js**, following tests are failing due to same element not found error.

#### Steps to reproduce
- Start the webhook
- Start cypress test
- Open `integration/interactive_menu/basic_options_spec.js` test

#### Expected behavior
Tests should not fail

#### Observed behavior (that appears unintentional)
![Screen

[2019-12-24 09:45] nadalfederer commented on #12793
can I take this

[2019-12-24 09:45] nadalfederer commented on #12792
can I take this

[2019-12-24 09:45] nadalfederer commented on #12667
I'll take this

[2019-12-24 09:45] nadalfederer commented on #12097
I'll take this

[2019-12-24 11:39] M-ZubairAhmed commented on #13345
![Screenshot from 2019-12-24 17-06-40](https://user-images.githubusercontent.com/17708702/71411586-d8c8f600-2641-11ea-9fab-edb2cc3f4d6d.png)

As per API specifications, longest username can be of lenght 22, which i created in the above screen shot. But as per the ticket username should be truncated which i dont see the screen shot above. Is this how it should be ?

[2019-12-24 13:06] jasonblais commented on #12667
Thank you @nadalfederer! You're working on a lot, just want to make sure you're not taking on too many at the same time. If you feel good about it, go for it 🚀

I'm also curious if you had interest tackling a help wanted issue that was [at a harder level](https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=label%3A%22Up+For+Grabs%22+label%3ADifficulty%2F3%3AHard) for a challeng

[2019-12-24 13:30] jasonblais commented on #13455
Hey @harshilsharma63, sorry I confused myself. The ticket I referenced above isn't relevant for Markdown rendering.

This needs some research to look into how we can handle the Markdown rendering, since it would probably require a go markdown parser which would need to be modified for our use cases.

Would you be open to contributing this to the feature proposals forum, and we can track interest a

[2019-12-24 13:36] M-ZubairAhmed commented on #13399
Working on this one

[2019-12-24 13:37] nadalfederer commented on #12667
sure, I'll try to solve some of them.

[2019-12-24 13:41] M-ZubairAhmed commented on #13485
I Got this one

[2019-12-24 14:53] jasonblais commented on #13485
Thank you @M-ZubairAhmed! You're working on a lot, just want to make sure you're not taking on too many at the same time. If you feel good about it, go for it 🚀

I'm also curious if you had interest tackling a help wanted issue that was [at a harder level](https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=label%3A%22Up+For+Grabs%22+label%3ADifficulty%2F3%3AHard) for a challen

[2019-12-24 15:07] larkox commented on #13515
May I take this one?

[2019-12-24 15:07] larkox commented on #13465
May I take this one?

[2019-12-24 15:07] larkox commented on #13333
May I take this one?

[2019-12-24 15:08] larkox commented on #13121
May I take this one?

[2019-12-24 15:08] larkox commented on #13073
May I take this one?

[2019-12-24 15:09] jasonblais commented on #13073
Go for it! 🚀

[2019-12-24 15:12] jasonblais commented on #13073
By the way @larkox, you, `@nadalfederer` and `@m-zubairahmed` are doing a ton which is awesome. I'm also curious if you had interest tackling a help wanted issue that was [at a harder level](https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=label%3A%22Up+For+Grabs%22+label%3ADifficulty%2F3%3AHard) for a challenge?

Totally no worries if not yet, all in all, huge thanks for yo

[2019-12-24 15:18] larkox commented on #13073
Thanks Jason!
Yes, I have in mind also tackling harder level issues. Nevertheless, I like to keep doing these lower level issues because they get me to parts of the code I still do not know in a way I can get more used to the general code and structure of the project.
You will hear soon of me in one of those!

[2019-12-24 15:30] jasonblais commented on #13073
Sounds like a great plan! Thanks again for all you do :)

[2019-12-24 15:40] #11760 closed

[2019-12-24 16:58] esethna commented on #7508
This ticket will need to be updated since the “Add members to team” flow was changed with the introduction of guest accounts and new “Invite People” flow.

[2019-12-24 18:22] muirdok commented on #13240
Hm... I missed the notification.
@amyblais should I open new one or add details here?

[2019-12-24 19:11] agnivade commented on #13240
Reopening this one is sufficient. But your previous logs are cutoff from the right side. Please give us the entire logs along with the information asked here- https://docs.mattermost.com/process/support.html#general-questions-for-any-issues.

[2019-12-24 20:05] Mycobee commented on #12518
Hi,

Sorry for the delays...between work and life, I do not have the time to finish this pull request.  Whoever picks it up, if they want to tag me, I have a lot of helpful PMs from @sudheerDev on the issue.

[2019-12-25 03:00] jasonblais commented on #12518
Hey @Mycobee totally understand, thanks for the heads up. Appreciate looking into it and hope to see you around in the community as time permits :)

[2019-12-25 03:22] M-ZubairAhmed commented on #13485
Thank you for appreciation @jasonblais :D yes i do plan to upgrade myself to try a bit higher level issues in coming days

[2019-12-25 08:07] allenlai18 commented on #13493
i will take this one

[2019-12-26 09:36] M-ZubairAhmed commented on #5728
I have had discussion with @jasonblais regarding this issue, this issue seems to be updated to the new flow, awaiting for further discussions after holidays

[2019-12-26 09:42] M-ZubairAhmed commented on #5485
I have had discussion with @jasonblais regarding this issue, this issue seems to be updated to the new flow, awaiting for further discussions after holidays

[2019-12-26 10:34] saneletm commented on #13144
@jasonblais  I got wrapped up in all sorts of other tasks that I had. I know what I would like to do with this ticket, but wanted to investigate its feasibility. I basically would like to have a default success msg for all the commands, and also by default turn off the logging. I think I can put in some time investigating today. I apologize for the delay

[2019-12-26 17:43] jasonblais commented on #13144
Thanks @saneletm! Totally no worries, appreciate your interest on this ticket. Hope you're having a wonderful holiday season as well :) 🎄

[2019-12-26 19:38] enzolutions opened #13528 "Enable to detect since when a user is offline (manual & disconected)"
#### Summary
Currently, using the UX, we cannot determine the last time a user when offline. this is a useful feature compared with flowdock.com, as you can see in the following image

![Screen Shot 2019-12-27 at 6 26 42 am](https://user-images.githubusercontent.com/907914/71488129-12347800-2873-11ea-8b03-867c8fc2b357.png)

#### Steps to reproduce
mattermost Server 5.16
Open a conversation 1-1 wit

[2019-12-26 19:43] jasonblais commented on #13345
cc @saturninoabril on above after the holidays :)

[2019-12-26 23:42] allenlai18 commented on #13492
i will take this one

[2019-12-27 00:03] jasonblais commented on #13492
Thanks @allenlai18! You're working on a lot, thank you! 🚀

I'm also curious if you had interest tackling a help wanted issue that was [at a harder level](https://github.com/mattermost/mattermost-server/issues?utf8=%E2%9C%93&q=label%3A%22Up+For+Grabs%22+label%3ADifficulty%2F3%3AHard) for a challenge?

All in all, huge thanks for your help, you're really making an impact!! :tada:

[2019-12-27 01:56] allenlai18 commented on #13492
@jasonblais  thanks for the encouragement.

absolutely, I will look into them. Definitely looking to work on things to understand the whole application and how it works together.  I liked working on the unarchive task one great since I touched the frontend and backend to do that. Most of my experience is mostly frontend development and I would like to get more backend experience!

[2019-12-27 02:03] jasonblais commented on #13492
@allenlai18 totally makes sense! :+1: Thanks again for all you do :)

[2019-12-27 07:29] M-ZubairAhmed commented on #13462
Can i work on it

[2019-12-27 09:00] saturninoabril commented on #13345
Oh thanks for clarifying. It's the inconsistency between the webapp (22 limit - old implementation) and the server ([64 limit](https://github.com/mattermost/mattermost-server/blob/master/model/user.go#L55) - with APIv4 intro).  I'll bring it up on our next dev meeting as I couldn't remember if we talked about it before.
For Cypress testing, you may create long username directly via API by using  `

[2019-12-27 09:50] ChrisDobby commented on #12313
I'll take this if that's OK?

[2019-12-27 10:06] #11750 closed

[2019-12-27 10:31] #13344 closed

[2019-12-27 11:45] M-ZubairAhmed commented on #13345
thank you @saturninoabril . I will wait for further instructions
Yes i have been created long user name with that command itself, here is the WIP PR
https://github.com/mattermost/mattermost-webapp/pull/4594/files

[2019-12-27 12:15] M-ZubairAhmed commented on #13462
Hi @agnivade @mgdelacroix
@mgdelacroix and i had a [discussion regarding how the rename command](https://github.com/mattermost/mmctl/pull/69#pullrequestreview-330562033) be for teams, He also expressed that we should follow the same for rename commands when possible for other places.

### Current situation in Channel rename command vs in Team rename cmd
https://github.com/mattermost/mmctl/blob/c5c

[2019-12-27 12:40] #13338 closed

[2019-12-27 12:48] tasdomas commented on #12375
If this is still up for grabs, I'd like to do this.

[2019-12-27 12:57] #13343 closed

[2019-12-27 13:30] agnivade commented on #13462
The changes look good to me.

[2019-12-27 13:31] M-ZubairAhmed commented on #13462
@agnivade should i proceed with the above changes and the tests ?

[2019-12-27 13:33] agnivade commented on #13462
I would suggest to open a Github issue for the channel rename, and then send a PR for the rename. And then send another PR for the test. So that we can track everything properly.

But note that most of the staff is OOO so review will be slow.

[2019-12-27 13:41] M-ZubairAhmed opened #13533 "Proposing changes to Channel rename command in mmctl to be uniform with team rename"
#### Summary
@mgdelacroix and i had a discussion regarding how the rename command be for teams, He also expressed that we should follow the same for rename commands when possible for other places.

### Current situation in Channel rename command vs in Team rename cmd
https://github.com/mattermost/mmctl/blob/c5c3887d51392f65603c38c64bcd6f141a49b1e5/commands/channel.go#L347

#### Minimum args
Channe

[2019-12-27 13:41] M-ZubairAhmed commented on #13462
Thank you Got it. opened the issue here https://github.com/mattermost/mattermost-server/issues/13533

[2019-12-27 15:34] phillipahereza commented on #13464
@mgdelacroix can I work on this

[2019-12-27 15:40] phillipahereza commented on #13463
@mgdelacroix can I work on this

[2019-12-27 15:41] phillipahereza commented on #13461
@mgdelacroix can I work on this

[2019-12-27 22:14] tasdomas commented on #13460
I'd like to handle this.

[2019-12-28 00:38] jasonblais commented on #13460
Certainly, thank you @tasdomas!

[2019-12-28 00:39] jasonblais commented on #13463
Certainly, thanks @phillipahereza!

[2019-12-28 00:41] jasonblais commented on #13533
From #13462, sounded like you were open to submitting a PR for review?

[2019-12-28 00:41] jasonblais commented on #12375
Thanks @tasdomas, it is indeed up for grabs, assigning to you

[2019-12-28 01:46] M-ZubairAhmed commented on #13533
Yes @jasonblais will submit a pr for this :-)

[2019-12-28 04:33] M-ZubairAhmed commented on #13458
Taking this one up

[2019-12-28 07:13] tasdomas commented on #12375
@jasonblais - great, one question first though: should this plugin be part of the mattermost-server repo or should it stand alone?

[2019-12-28 14:33] jasonblais commented on #12375
@tasdomas It should be a standalone plugin (cc @levb @hanzei if I'm incorrect)

[2019-12-29 14:30] #11925 closed

[2019-12-29 15:39] anidok commented on #13457
Hi,
I'd like to take up this one.

[2019-12-29 15:39] anidok commented on #13459
Hi,
I'd like to take up this one.

[2019-12-29 18:18] jasonblais commented on #13457
Go for it, thanks @anidok! 🚀

[2019-12-29 18:51] hanzei commented on #12375
Yes, it should be stand alone plugin

[2019-12-30 08:42] kosgrz commented on #13513
I can do it :)

[2019-12-30 09:08] jatinjtg opened #13539 "The height and width parameters in inline image(mattermost markdown) doesn't work in mattermost version v5.18.0 ."
#### Summary
height and width parameter in inline image doesn't work.

#### Steps to reproduce
mattermost server-version - 5.18.0
Send a message with body
 ```![Mattermost](https://imgsv.imaging.nikon.com/lineup/dslr/df/img/sample/img_01.jpg =50x76 "Mattermost Icon")```
The image height and width remains same and are not set to 50x76.
![image](https://user-images.githubusercontent.com/50952137/715

[2019-12-30 10:08] #13355 closed

[2019-12-30 13:45] andylibrian commented on #5267
@jasonblais @hanzei

I'd like to see how big the effort to do this. Do you mind pointing me to the example / feature in https://github.com/nicksnyder/go-i18n V2 where we can use for this?

I looked at the documentation and didn't have idea on how to switch between `Neue` and `Neue(n)`.
The switch seems to be based on PluralCount only, as I understand it, `"Neuen Kanal" and "Neue Gruppe"` is not ba

[2019-12-30 13:47] jasonblais commented on #13513
Great, thanks @kosgrz!

[2019-12-30 17:06] mattermod commented on #13528
Thanks @enzolutions, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back to

[2019-12-30 18:41] enzolutions commented on #13528
Feature Idea link: https://mattermost.uservoice.com/forums/306457-general/suggestions/39340675-enable-to-detect-since-when-a-user-is-offline-man

[2019-12-30 18:42] amyblais commented on #13442
@Bamiiup Is there any additional information you'd be able to share?

[2019-12-30 19:10] ctmusicnz commented on #13512
Can I do this one

[2019-12-30 19:37] tasdomas commented on #12375
@jasonblais - I've got the start for the plugin here: https://github.com/tasdomas/mattermost-plugin-nop

If somebody could create a new repo in the mattermost namespace, I could submit this as a PR for proper review.

[2019-12-30 19:43] jasonblais commented on #13512
Thanks @ctmusicnz!

[2019-12-30 20:38] jasonblais commented on #12375
@tasdomas Awesome, thank you! @levb / @hanzei can you help with the repo creation, or reach out to the person who can?

PS: Given the New Year's, it might be a few days before the repo gets created @tasdomas

[2019-12-31 12:37] chetanyakan commented on #13539
This seems to be a regression in Mattermost Markdown.

[2019-12-31 13:24] M-ZubairAhmed commented on #13520
This is a legit issue as confirmed by @saturninoabril,
Just saying because this was not tagged :smile:

[2019-12-31 13:50] jasonblais commented on #13539
Thanks for the report! We've reproduced it and opened a bug ticket to resolve https://mattermost.atlassian.net/browse/MM-21421

Anyone in the community open to helping with a fix?

[2019-12-31 14:44] abdusabri commented on #13539
@jasonblais I can look into this

[2019-12-31 14:46] jasonblais commented on #13539
Thank you @abdusabri!

[2019-12-31 17:59] sowmiyamuthuraman commented on #13514
I can work on this!

[2019-12-31 18:04] jasonblais commented on #13514
Thanks @sowmiyamuthuraman! Happy New Year! 🎆 :)

[2019-12-31 18:09] sowmiyamuthuraman commented on #13514
Happy New year :)

[2020-01-01 00:26] saturninoabril commented on #13520
Thanks @M-ZubairAhmed for fixing those!

[2020-01-01 11:24] VishalSwarnkar commented on #10470
I'll take this one! if it's still open to accept

[2020-01-01 22:54] jasonblais commented on #10470
@VishalSwarnkar Indeed it is, thanks for your interest! If any questions, let us know

[2020-01-02 00:54] amyblais commented on #13454
This is fixed. I update the page every month except on December.

[2020-01-02 08:08] 3mard commented on #13282
Hi @jasonblais,
I couldn't tickle this during the holiday season, sorry for the inconvenience
there is a small work left for #13275  to be done, and I still mean to work on this, however If you feel like it's best to reassign this, go for it .

[2020-01-02 08:45] rular opened #13546 "another backslash rendering error (like #7601)"
We use Mattermost to paste e.g. Windows-registry-links.
we encountered, that sometimes the backslashes are stripped from rendering like #7601.

We found out that this time this happens, when a "{" is following.
![backslash](https://user-images.githubusercontent.com/3407850/71658491-8f189380-2d44-11ea-9d3c-07ea4dc44e16.png)

[2020-01-02 09:56] ChrisDobby commented on #10163
I'll take this if that's OK?

[2020-01-02 10:55] #10573 closed

[2020-01-02 11:00] #13341 closed

[2020-01-02 12:14] jasonblais commented on #13454
Thank you Amy! @harshilsharma63 okay to close?

[2020-01-02 13:04] #13398 closed

[2020-01-02 13:17] harshilsharma63 commented on #13454
@jasonblais surely! The updated date looks fine now.

[2020-01-02 13:20] #13454 closed

[2020-01-02 14:16] amyblais commented on #13528
Thank you!

[2020-01-02 14:16] #13528 closed

[2020-01-02 14:45] M-ZubairAhmed commented on #5485
I am all done with pending tickets from myside, 2 tickets are blocked. So i would like to take this one up, with discussion from @jasonblais

[2020-01-02 15:59] #13520 closed

[2020-01-02 15:59] saturninoabril commented on #13520
Thanks @M-ZubairAhmed for filing and fixing the tests!

[2020-01-02 16:23] hmhealey commented on #10702
The `OauthProvider` is actually for use by the enterprise code (the `e` in the `einterfaces` package name stands for "enterprise"), so it would require someone on the core team to make some changes in that repo, but we can change that API whenever we want.

For the validation in the store, I think I'd need to see how passing a validation function would look since I'm not aware of anywhere else tha

[2020-01-02 16:59] ugintl opened #13548 "Access mattermost on my domain without 8065"
I have a domain, but I am unable to access mattermost on it. I have to add :8065 to access mattermost. Why is that? How I can access it on my domain like http://mydomain.com?

I followed this tutorial to install mattermost

https://idroot.us/install-mattermost-ubuntu-18-04-lts/

[2020-01-02 17:05] M-ZubairAhmed commented on #13520
Always happy to help Saturnino

[2020-01-02 17:40] amyblais commented on #13548
Hi @ugintl,

Have you followed our official instruction guide here: https://docs.mattermost.com/install/install-ubuntu-1804.html?

Would you be open to posting this on our troubleshooting forum here as others may have seen the same issue? http://forum.mattermost.org/

[2020-01-02 17:50] ctmusicnz commented on #13509
Can I take this?

[2020-01-02 17:57] jimiolaniyan commented on #13159
Hi @jasonblais I tried to work on this but i ran into this error:
[code]
in `mmctl_test.go`

Here is the test function:

[code]

[2020-01-02 18:15] mattermod opened #13550 "Desktop app: Improve E2E and enable skipped tests"
Community PR - https://github.com/mattermost/desktop/pull/1142

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Mattermost core team. For technical advice or questions, please  [join our "Developers" com

[2020-01-02 18:17] amyblais commented on #13546
@hmhealey Do you know if this a markdown related bug or if Github markdown has this same issue?

[2020-01-02 18:39] saturninoabril commented on #13550
@hunterlester - this is the ticket on your open PR - https://github.com/mattermost/desktop/pull/1142

[2020-01-02 18:52] #13465 closed

[2020-01-02 19:02] hmhealey commented on #13546
This is intended since `\{` is an escape sequence for `{`. The same thing happens on GitHub.

@rular We recommend surrounding the text in backticks for text like that since it prevents the escaping like
[code]

[2020-01-02 20:00] ugintl commented on #13548
The tutorial I have followed is similar to what you have shared. When I add my domain to Site Url field, it gives not valid error, but if I put :8065 to the domain, it accepts it.

[2020-01-02 21:34] #12343 closed

[2020-01-02 23:20] jasonblais commented on #13159
@M-ZubairAhmed or @larkox wondering if you'd know why that error occurs for @jimiolaniyan?

(cc @reflog and @mgdelacroix as well, but I think you guys are off this week)

[2020-01-02 23:34] larkox commented on #13159
I would say that the problem is that, since it cannot open the file to read, it never calls uploadlicensefile. Therefore the error. On top of that, uploadlicensefile is called with a stream of bytes, not the filename. That might be another source of the error (it is never called with those parameters).

In order to solve this, I would mock also the ioutil function in order to receive the values we

[2020-01-02 23:35] jasonblais commented on #13159
thanks! @jimiolaniyan let us know if that's helpful or if we can help clarify?

[2020-01-02 23:58] jasonblais commented on #5485
Thanks! I've assigned to you and looks like Harrison will update the description. If you haven't heard back in a few days, let me know :)

Linking to the conversation in community.mattermost.com: https://community.mattermost.com/core/channels/tickets

[2020-01-03 00:32] jasonblais commented on #13282
Hey @3mard! Thanks for the heads up and no worries :) We can catch up in a couple of weeks to see where things are at. Appreciate the follow-up!

[2020-01-03 06:15] M-ZubairAhmed commented on #13159
@jimiolaniyan @larkox is right on 100% thae answer, just a general rule is that when ever you ser errors starting with `missing call(s) to`errors it means you have missing a function to mock.

[2020-01-03 07:57] M-ZubairAhmed commented on #5485
Thanks @jasonblais for following it up

[2020-01-03 08:44] VishalSwarnkar commented on #10470
@jasonblais I have raised PR but one of the require thing is failing "
cla/mattermost — VishalSwarnkar needs to sign the CLA" not sure what need to be done

[2020-01-03 10:29] M-ZubairAhmed commented on #10470
@VishalSwarnkar please sign this agreement https://mattermost.org/mattermost-contributor-agreement/

[2020-01-03 13:29] amyblais commented on #13548
@ugintl Thank you for opening the troubleshooting forum post! One of our support engineers has responded to your post there. https://forum.mattermost.org/t/access-mattermost-on-my-domain-without-8065/8750/2

[2020-01-03 13:29] #13548 closed

[2020-01-03 13:46] #11053 closed

[2020-01-03 18:15] jimiolaniyan commented on #13159
Alright @jasonblais and others i'll try to work on ASAP

[2020-01-04 08:48] soisetu opened #13565 "When writing post eventHandler for key pressed executes over 200 ms per key"
#### Summary
When writing post, eventHandler for key pressed takes over 200 ms per key

#### Steps to reproduce
Mattermost 5.18.0
Type fast and UI is lagging when user has lots of channels.

#### Expected behavior
Writing post is smooth.

#### Observed behavior (that appears unintentional)

Debugged with Chrome profiling tool: mapAndSortChannelIds executes about in 140ms.
My channels:
17 favorites

[2020-01-04 19:54] misocho commented on #13506
Hi, I'm new to Mattermost. Can I take this up as my first issue?

[2020-01-04 22:43] amyblais commented on #13565
@soisetu What OS and version are you on? What browser are you using?

[2020-01-05 06:21] VishalSwarnkar commented on #10370
I'll take this one

[2020-01-05 14:19] sridhar02 commented on #12337
can i work on this issue?

[2020-01-05 16:10] jasonblais commented on #12337
Go for it, thank you @sridhar02!

[2020-01-05 18:00] nadalfederer commented on #8518
can I take this

[2020-01-05 18:57] jasonblais commented on #13506
Go for it @misocho, thank you for your interest! If you have any questions, don't hesitate to let us know

[2020-01-05 18:58] jasonblais commented on #8518
Certainly, thanks @nadalfederer!

[2020-01-05 20:14] Pomyk opened #13566 "Some tests leave temporary databases"
#### Summary
Running server tests leaves temporary databases.

#### Steps to reproduce
run `make test-server` then list databases (for example "show databases;" in mysql).

#### Expected behavior
No new databases.

#### Observed behavior (that appears unintentional)
Currently running all tests leaves 4 dbs in mysql and 2 in postgresql.

#### Possible fixes
Offending tests are in:
 - config/
 - sto

[2020-01-06 09:58] #9769 closed

[2020-01-06 10:18] cpanato commented on #7518
this is already done, closing

[2020-01-06 10:18] #7518 closed

[2020-01-06 11:00] #11759 closed

[2020-01-06 11:19] opllama2 commented on #13511
Hello, this is my first contribution to open source and i would love to help out with this one if it's still not taken.
one question though, are we just renaming the files and fixing any compiler issues or are we gonna change any of the code inside the files(e.g using the compiler typing instead of the PropTypes, or this is just another thing)
Thanks

[2020-01-06 12:18] amyblais commented on #13427
### v5.19 RC-2 is cut
Test server: https://rc.test.mattermost.com
Download link: https://releases.mattermost.com/5.19.0-rc2/mattermost-team-5.19.0-rc2-linux-amd64.tar.gz

#### Changelog
Changelog draft can be found here: [Link](https://github.com/mattermost/docs/pull/3251/files)

[2020-01-06 13:04] jasonblais commented on #5267
Thanks Andy! @hanzei wondering if you would know to point to a specific example on the library you referenced?

[2020-01-06 13:12] amyblais commented on #13303
I'll close this issue for now,

[2020-01-06 13:12] #13303 closed

[2020-01-06 13:15] rular commented on #13546
yep, working. Thanks for workaround

[2020-01-06 13:17] #13546 closed

[2020-01-06 13:22] amyblais commented on #13566
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-21520.

[2020-01-06 14:05] #12324 closed

[2020-01-06 14:08] #12271 closed

[2020-01-06 14:21] #13419 closed

[2020-01-06 14:22] #11754 closed

[2020-01-06 14:36] #13197 closed

[2020-01-06 14:36] #12472 closed

[2020-01-06 14:54] #13485 closed

[2020-01-06 16:12] #13512 closed

[2020-01-06 16:51] lieut-data commented on #12419
Closing this issue for now while we pivot on the upcoming plugin API layer rework.

[2020-01-06 16:51] #12419 closed

[2020-01-06 16:59] rular commented on #13546
Thank you for voting me „thumbs up“! ;-)

Mit freundlichem Gruß

[2020-01-06 16:59] lieut-data commented on #12609
@mdabydeen, how's your efforts on this ticket? Anything we provide guidance on?

[2020-01-06 17:43] lieut-data commented on #12376
@typeoh, is this still something towards which you'd like to contribute?

[2020-01-06 17:53] lieut-data commented on #13319
Hi @RajatVaryani! Are you still interested in this ticket?

[2020-01-06 17:55] RajatVaryani commented on #13319
Hello @lieut-data. Yes, I am interested working on this.  I could not work due to holidays. I will start the work pretty soon.

[2020-01-06 17:56] lieut-data commented on #12375
@tasdomas, @crspeller helped create https://github.com/mattermost/mattermost-plugin-nop to effect this review.

Note that we typically start all of our plugins from the to make things consistent. The repository above has been initialized as such, so I'd recommend fitting your propose changed into that model.

[2020-01-06 19:15] #12097 closed

[2020-01-06 19:17] #13325 closed

[2020-01-06 20:51] lieut-data opened #13570 "Only stop caching 404s from the /static/plugins/* endpoint"
As of MM-20948, we switched to `Cache-Control: no-cache` to require validation before every request of a plugin asset. This was only done to avoid incorrectly caching 404s, preventing a missing file request from “poisoning” the cache.

We can refine the approach to wrap the [http.FileServer](https://golang.org/pkg/net/http/#FileServer) to pre-check if the file in question exists and return the 404

[2020-01-06 20:59] ctmusicnz commented on #13508
Can I take this one

[2020-01-06 21:08] #10166 closed

[2020-01-06 21:26] lieut-data opened #13571 "Introduce webapp tests to mattermost-plugin-starter-template"
Extend the [mattermost-plugin-starter-template](https://github.com/mattermost/mattermost-plugin-starter-template) with the necessary boilerplate to support webapp tests.

See [https://github.com/mattermost/mattermost-plugin-jira/tree/master/webapp](https://github.com/mattermost/mattermost-plugin-jira/tree/master/webapp) as an example.

----

If you're interested please comment here and come [join

[2020-01-06 22:37] vania-github opened #13575 "Can not upload image from mobile version when network speed is low"
#### Summary
Can not upload image from mobile version when network speed is low.

#### Steps to reproduce
When I'm using the mobile app ( as much as Android as iOS ) and the network speed is low because I'm far from an antenna or because I'm connected to an old wifi without the optical fiber, I can not upload an image. The transfer does not end and I obtain the icon to replay the transfer. I did s

[2020-01-06 22:49] amyblais commented on #13575
Hi @vania-github, I'm wondering if you notice any difference in one of our recent server versions such as 5.18. Would you be open to do some testing on https://community.mattermost.com/core (which is on 5.18) to see if you see any changes?

[2020-01-07 00:35] mjthomp95 commented on #13346
Sorry. I just came seem to get it done. I won't be able to finish this up. :disappointed:

[2020-01-07 00:46] jasonblais commented on #13346
Hey @mjthomp95, thanks for the heads up! No worries, I'll open it up for grabs.

Hope to see you around when you have more time! Really appreciate your >10 contributors last year, it's really helped the team 🎉

[2020-01-07 04:31] dlclark commented on #12936
I'd like to help out on this one.

[2020-01-07 04:38] jasonblais commented on #12936
Awesome, thank you @dlclark! Let us know if you have any questions

[2020-01-07 05:15] dlclark commented on #12936
For this ticket is there an expectation of refactoring the commit mentioned by @levb (https://github.com/mattermost/mattermost-plugin-jira/pull/351/files#diff-3b02caad0024138fae666f1168b4d0cdR487) to use the new functionality?

Left to my own devices I'd think it'd be a separate ticket, but since I'm new here I don't want to assume too much.

[2020-01-07 07:01] saneletm commented on #13144
@jasonblais I have been working on my move to Berlin from Swaziland and it has taken more time and energy than I thought it was. I am in Berlin now and trying to get settled. I would still like to look into this  issue but afraid I might not be able to make time for it this month. Can I release this ticket so that someone else can pick it up... if no one picks it up and I have some bandwidth, I'll

[2020-01-07 08:21] M-ZubairAhmed commented on #13571
can i take a stab at this?

[2020-01-07 08:37] #13278 closed

[2020-01-07 08:38] #12292 closed

[2020-01-07 08:39] stefnats opened #13577 "Select teams to join is empty"
#### Summary
After logging in there is no team to join. This is no new install of mattermost, one team exists.

#### Steps to reproduce
Mattermost 5.18
1. Login
2. No team to use

#### Expected behavior
One should be able to select the team

#### Observed behavior (that appears unintentional)
I can select the team by removing `select_team` from the URL and typing in the team name

#### Possible fi

[2020-01-07 08:58] M-ZubairAhmed commented on #13462
Update : This issue will be started once https://github.com/mattermost/mmctl/pull/93 gets merged in.

[2020-01-07 08:58] #13172 closed

[2020-01-07 09:34] hanzei commented on #13566
Thanks for the quick fix @Pomyk :+1:

[2020-01-07 09:42] hanzei commented on #12936
It would be great, if you would refactor the code in the jira plugin. But you'r PR alone is great, there is no pressure to do more.

[2020-01-07 10:14] hanzei commented on #13571
Sure, that would be great @M-ZubairAhmed :tada:

[2020-01-07 10:25] M-ZubairAhmed opened #13580 "Notification.log should be ignored in the gitignore."
#### Summary
`Notification.log` should be ignored in the gitignore.

#### Steps to reproduce
During normal operation, logs files are created one such is `notification.log`.

#### Expected behavior
No log file should be committed to source control.

#### Observed behavior (that appears unintentional)
Log files is awaiting to be committed.
[code]

#### Possible fixes
Log file can be added to the git

[2020-01-07 10:26] hanzei commented on #5267
Hi @andylibrian, thanks for you interest in this ticket. Example 1 can easily be fixed by using a plural form.

It might be reasonable to also use plural forms for Example 2 and provide extra information via `Description`. Or the message could just be duplicated and used two different localisation in e.g. German.

[2020-01-07 10:26] typeoh commented on #12376
@lieut-data @hanzei Thanks for the updates apologies for the slow response. Yes I would! It looks like the   latest AC is much simpler solution 👍 I should have some time to work on this this weekend!

[2020-01-07 10:44] levb commented on #12936
2/5 @dlclark file a new issue https://github.com/mattermost/mattermost-plugin-jira/issues/new, it's a great starter ticket for someone else?

[2020-01-07 10:46] hanzei commented on #10163
Sure, that's great :tada: You might want to take inspiration from https://github.com/mattermost/mattermost-webapp/pull/2634

[2020-01-07 10:49] soisetu commented on #13565
Hi @amyblais and sorry about missing OS and browser specs.

Win 10, version 1809
Vivaldi, Chrome, Edge, Firefox, Mattermost Desktop App

Edge and Firefox are little better but still lagging.

[2020-01-07 10:50] opllama2 commented on #13511
i have taken the liberty of working on this one and made a PR for it

[2020-01-07 11:58] jasonblais commented on #13144
@saneletm certainly, that works. I've opened it up for grabs. And if someone has by then picked this ticket up, and you're interested to help contribute, we'd love to have your help with another [help wanted ticket](https://github.com/mattermost/mattermost-server/labels/Up%20For%20Grabs).

And that's a big move! I hope everything goes well as you settle in to Berlin!

[2020-01-07 12:13] hanzei commented on #12466
@M-ZubairAhmed  will work on this

[2020-01-07 12:56] #12393 closed

[2020-01-07 13:06] amyblais commented on #13577
@stefnats Please help share as much as information about your environment as you can, including config settings and logs, in addition to the details from here https://docs.mattermost.com/process/support.html#general-questions-for-any-issues.

[2020-01-07 14:30] mattermod opened #13584 "Improve profile popover for posts with overwritten username or icon"
Integrations support overriding the username and icon displayed for the post, but this information does not carry over to the profile popover, leading to confusion from users when they click what seems to be a bot and end up viewing the creating user's details.

To improve the UX a customized user profile popover should be displayed whenever the username or the user icon was overwritten. The popov

[2020-01-07 14:45] mattermod opened #13585 "Add IsValid method to *Manifest struct"
We always find ourselves doing the following checks when validating the manifest, it will be useful to add `IsValid` func to `*Manifest` struct that does this validation consistently. The signature should be `IsValid() error`. If no error is returned, the manifest is valid.

It should check that:

  * `id` is a valid id. See [https://github.com/mattermost/mattermost-server/blob/master/plugin/valid

[2020-01-07 14:47] abdusabri commented on #13539
I've a fix ready, and I will submit a PR today or tomorrow

[2020-01-07 14:55] #12519 closed

[2020-01-07 15:00] mattermod opened #13586 "Set required server version automatically for plugin releases"
When a plugin is released using the [circleci orb](https://circleci.com/orbs/registry/orb/mattermost/plugin-ci), we note the required server version in the changelog. This should be automated. The build tool in the plugin template can be used to extract the min server version from the manifest. See https://github.com/mattermost/mattermost-plugin-github/releases/tag/v0.12.0 for an example release n

[2020-01-07 15:00] mattermod opened #13587 "Auto generate plugin changelog using goreleaser"
Use [https://github.com/goreleaser/goreleaser](https://github.com/goreleaser/goreleaser) to auto generate plugin changelog in the [circleci orb](https://circleci.com/orbs/registry/orb/mattermost/plugin-ci). The generated changelog should be used as the body of the GitHub release. See https://github.com/mattermost/mattermost-plugin-github/releases/tag/v0.12.0 for en example changelog.
![Screenshot

[2020-01-07 15:00] mattermod opened #13588 "Helper function to build path to plugin asset"
Plugins may expose custom assets via the `assets` directory, but must then combine the SiteURL and their plugin ID to build the resulting path. Let’s simplify this in the plugin helpers with a `GetPluginAssetURL(asset string)` that builds a URL to the requisite resource.

Note that this is distinct from the GetBundlePath present in the API, that returns a filesystem path to the asset in question.

[2020-01-07 15:09] amyblais commented on #13539
PR: https://github.com/mattermost/mattermost-webapp/pull/4623.

[2020-01-07 15:20] abdusabri commented on #13539
Thanks Amy.

@jasonblais, I'll unassign myself now since a PR already exists :)

[2020-01-07 15:22] #13580 closed

[2020-01-07 15:23] jasonblais commented on #13539
Ah I see, sorry about that @abdusabri :(

[2020-01-07 15:24] abdusabri commented on #13539
No worries! 🙂

[2020-01-07 15:47] anidok commented on #13457
Hi,
Just a small update that I have worked on the code for this issue. I have just kept the PR on hold as I am waiting for the other similar PR (https://github.com/mattermost/mmctl/pull/97)
that I had raised to be merged first. Based on the feedbacks from the other PR, I'll raise for this one as well.

[2020-01-07 16:30] #13397 closed

[2020-01-07 16:45] mattermod opened #13589 "Support relative URLs as icon_url in interactive dialogs"
When a plugins opens an interactive dialog, I might want to provide an icon for the dialog. To do this, it has to set `icon_url`. This field should report a relative URL, e.g. `/plugins/github/some/path` to make plugin responses independent of the `siteURL`. For more information about interactive dialogs see https://docs.mattermost.com/developer/interactive-dialogs.html#parameters.

This needs to

[2020-01-07 17:00] mattermod opened #13590 "Support relative URLs as icon_url in slash command response"
Integrations using slash command can overwrite the icon of the created post. This is done by setting `IconURL` in the slash command response. This field should report a relative URL, e.g. `/plugins/github/some/path` to make plugin responses independent of the `siteURL`. For more information about slash commands see [https://docs.mattermost.com/developer/slash-commands.html#custom-slash-command](ht

[2020-01-07 17:00] #13396 closed

[2020-01-07 17:17] #13351 closed

[2020-01-07 17:34] #13342 closed

[2020-01-07 17:37] RajatVaryani commented on #13587
@hanzei I would like to work on this.

[2020-01-07 20:26] vania-github commented on #13575
Hi @amyblais ! Thank you for your answer.
So I created an account on your server and tried to send an image of 4,63 Mo from the mobile app ( Android and iOS ) using an an old wifi ( with a low connection ). And I got the same issue that I have on my server. The image upload did reach 100% and I got the replay icon.
I just did it two minutes ago, if you look at your logs, you should find the line t

[2020-01-07 21:11] #13539 closed

[2020-01-07 21:16] amyblais commented on #11927
Closing as this was documented and the Jira ticket was closed as won't fix.

[2020-01-07 21:16] #11927 closed

[2020-01-07 21:17] amyblais commented on #11971
Feature is scheduled for v5.20,

[2020-01-07 21:17] #11971 closed

[2020-01-07 21:18] amyblais commented on #12704
Fix is scheduled for v5.19,

[2020-01-07 21:18] #12704 closed

[2020-01-07 21:20] amyblais commented on #12970
I'll close this as a duplicate for now as there is a Help Wanted issue open here: https://github.com/mattermost/mattermost-server/issues/13219. Let us know if you're interested in working on this issue!

[2020-01-07 21:24] amyblais commented on #11016
This was implemented in 5.18 release,

[2020-01-07 21:24] #11016 closed

[2020-01-07 21:44] amyblais commented on #13575
@vania-github What iOS and Android versions are you on?

[2020-01-07 21:56] dlclark commented on #13570
I can take a look at this one.

[2020-01-07 22:27] lieut-data commented on #13570
Thanks, @dlclark!

[2020-01-07 23:07] #13220 closed

[2020-01-08 04:57] gupsho commented on #13585
I would like to give it a try.

[2020-01-08 08:16] stefnats commented on #13577
hi @amyblais See my config attached.

Maybe it has something to do with trying to delete the public Town Square channel via CLI and then restoring it. If so, why was the delete possible and what do i have to restore it? I created the channel again in the database with name = town-square and DisplayName = '...'

[config.json](https://github.com/mattermost/mattermost-server/files/4034161/config.txt)

[2020-01-08 08:32] dmarkdvt commented on #12970
Hmm, but the issue #13219 is another topic and this one is not integrated into that issue.

[2020-01-08 09:06] hanzei commented on #13585
Thanks @gupsho. Let me know, if you have any questions.

[2020-01-08 09:15] hanzei commented on #13587
Thanks @RajatVaryani

[2020-01-08 09:22] soisetu commented on #13565
Problem seems to be this function call to getOrderedChannelIds: https://github.com/mattermost/mattermost-webapp/blob/master/components/sidebar/index.js#L46

[2020-01-08 13:16] hanzei opened #13596 ""change tab on "install plugins" click" E2E test for Plugin Marketplace fails, if any plugins are previously installed"
https://github.com/mattermost/mattermost-webapp/blob/master/e2e/cypress/integration/plugins/marketplace/marketplace_spec.js#L314 is the assertion that fails, if any plugin is present.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions w

[2020-01-08 13:18] hanzei commented on #13596
@nadalfederer will work on this

[2020-01-08 13:36] srkgupta commented on #10470
Testcase added and merged. Closing this PR.

[2020-01-08 13:36] #10470 closed

[2020-01-08 15:01] ashishbhate commented on #12699
@jasonblais I'll take this one

[2020-01-08 15:08] lieut-data opened #13597 "Converge on strconv.ParseBool in the REST API"
We have a mix of `== "true"` and `strconv.ParseBool(...)` in the [api4](https://github.com/mattermost/mattermost-server/tree/master/api4) package when parsing boolean REST parameters.

Let's converge on using [strconv.ParseBool](https://golang.org/pkg/strconv/#ParseBool) both for consistency, and to simplify consumption of the REST API. Bonus points for writing a go vet test that checks for compar

[2020-01-08 16:13] #12749 closed

[2020-01-08 17:43] amyblais commented on #13577
@stefnats What do you see / what appears on the UI when you log in for the first time?

[2020-01-08 20:29] vania-github commented on #13575
@amyblais I tested on Android 9 and iOS 13.3.

[2020-01-08 20:33] #13366 closed

[2020-01-08 20:43] #13570 closed

[2020-01-08 20:44] lieut-data commented on #13570
Thanks again, @dlclark!

[2020-01-08 20:45] lieut-data commented on #12393
Thanks again, @RajatVaryani!

[2020-01-08 20:46] dlclark commented on #13570
No problem, glad to help!

[2020-01-08 20:50] lieut-data commented on #12376
Terrific! Thanks for checking in, and let us know if we can help in any way :)

[2020-01-08 21:37] vesari commented on #13597
I'd like to work on this if I may?

[2020-01-09 00:54] lawikip commented on #11574
I will take this one.

[2020-01-09 04:52] agnivade commented on #4176
What are everyone's thoughts about having our own ppa and store the package there ? That should circumvent a lot of the debian policy restrictions and let us get this resolved quicker.

[2020-01-09 06:57] stefnats commented on #13577
It's public, Database says Type = `O`.

It tells me to select a team, but no team appears in the list.

[2020-01-09 08:02] Lumexralph commented on #13588
@mattermod @hanzei I would like to work on this.

[2020-01-09 08:56] RajatVaryani commented on #13587
Hello @hanzei. Can you please put some light on how you generated this [changelog](https://github.com/mattermost/mattermost-plugin-github/releases/tag/v0.12.0)?

I explored goreleaser but could not find a straightforward way to do that.

[2020-01-09 09:20] #13399 closed

[2020-01-09 10:07] onlyjob commented on #4176
I'm strongly against the idea. Vendor packages are always of terrible quality. You can only do the job properly by working with package maintainers.

Debian policy is not the blocker here and circumventing the policy won't lead to anything good.

Instead I'd recommend to apply some pressure on Mattermost team to address the remaining blockers.

[2020-01-09 11:43] ylluminate opened #13603 "Block formatted input is difficult in Mattermost"
As per request, I'm mentioning this issue here: https://github.com/mattermost/desktop/issues/1146

Block formatting is sometimes very difficult in Mattermost.  This is especially evident with quoting things.  Currently we have to use a `>` before each line in order to quote something.  We really need to address this issue pretty quickly.

A `/quote` might be alright since that will just simply quo

[2020-01-09 12:14] RajatVaryani commented on #13586
@hanzei I can also contribute to this as I am already working on https://github.com/mattermost/mattermost-server/issues/13587. Please assign it to me.

[2020-01-09 13:26] amyblais commented on #13565
@soisetu Thank you! We have been investigating this issue with https://mattermost.atlassian.net/browse/MM-20349, and you may have helped us find the root cause of the issue. We'll try to fix this for v5.19.

[2020-01-09 14:56] tasdomas commented on #12375
@lieut-data - submitted https://github.com/mattermost/mattermost-plugin-nop/pull/1

[2020-01-09 15:07] #12352 closed

[2020-01-09 15:57] amyblais commented on #10130
@bgibson710 Would you be open to upgrading to our most recent release v5.18? Our devs mentioned that 5.15 and below versions cannot be easily tested, because those still use ACMEv1, which has been deprecated by Let’s Encrypt since November.

[2020-01-09 15:58] bgibson710 commented on #10130
We generally do update to the most recent releases.  Mike which version are we on now?

From: Amy Blais [mailto:notifications@github.com]
Sent: Thursday, January 9, 2020 10:58 AM
To: mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Gibson, Brian (IMS) <GibsonB@imsweb.com>; Mention <mention@noreply.github.com>
Subject: Re: [mattermost/mattermost-server] TLS 1.0 still shows up

[2020-01-09 15:59] bgibson710 commented on #10130
We are on 5.18.0

From: Gibson, Brian (IMS)
Sent: Thursday, January 9, 2020 10:59 AM
To: mattermost/mattermost-server <reply@reply.github.com>; mattermost/mattermost-server <mattermost-server@noreply.github.com>
Cc: Mention <mention@noreply.github.com>; Feld, Michael (IMS) <FeldM@imsweb.com>
Subject: RE: [mattermost/mattermost-server] TLS 1.0 still shows up even though TLSMinVer set to 1.2 (#10130

[2020-01-09 16:02] bgibson710 commented on #10130
Looks like the issue has been fixed as well.  Not sure what specific version, but that doesn’t matter to me ☺  Scan now shows that TLS 1.0 handshakes are not available anymore.

Thank you!

From: Feld, Michael (IMS)
Sent: Thursday, January 9, 2020 11:00 AM
To: Gibson, Brian (IMS) <GibsonB@imsweb.com>; mattermost/mattermost-server <reply@reply.github.com>; mattermost/mattermost-server <mattermost-s

[2020-01-09 16:02] #10130 closed

[2020-01-09 16:03] #13452 closed

[2020-01-09 18:12] hanzei commented on #13588
Thanks @Lumexralph :+1:

[2020-01-09 19:36] amyblais commented on #13577
I opened a bug ticket for our team to investigate in case there is a bug here, but I'm not sure yet: https://mattermost.atlassian.net/browse/MM-21664.

[2020-01-09 19:55] #13009 closed

[2020-01-09 20:11] hanzei commented on #12313
Reopening, as the webapp PR is not merged jet.

[2020-01-09 20:28] hanzei commented on #13587
Goreleaser generated a changelog under `dist/CHANGELOG.md` that should be used. It's only a list of the commit messages, but that's fine.

[2020-01-10 08:19] Lumexralph commented on #13588
@hanzei I need to ask some questions, who should I reach out to?

[2020-01-10 08:22] hanzei commented on #13588
Me :wink: How can I help?

[2020-01-10 08:38] Lumexralph commented on #13588
@hanzei Can I reach out to you in the Mattermost workspace? It would be convenient for me, hope it's okay by you?

[2020-01-10 08:55] dmarkdvt opened #13611 "Size data for in-line images do not have any effect"
#### Summary
When you add some siza data for in-line images you still get the picture shown in it´s original size.

#### Steps to reproduce
Mattermost Server 5.18.0 & 5.18.1
Mattermost Webapp
Mattermost Client 4.2.0 & 4.3.2
Mattermost Mobile 1.26.2

Try this:
[code]

#### Expected behavior
When I add some siza data for an in-line image I want to see the image in my wished size.

#### Observed beha

[2020-01-10 13:10] RajatVaryani commented on #13587
@hanzei Why not use a tool whose primary aim is to generate changelog? e.g [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog). This is based on https://www.conventionalcommits.org/en/v1.0.0/#summary.

This is how it will look like:
![image](https://user-images.githubusercontent.com/37879062/72155173-870dc300-33d8-11ea-89f2-b91e50e22c01.png)

[2020-01-10 14:05] amyblais commented on #13611
@dmarkdvt Does this issue sound similar as https://github.com/mattermost/mattermost-server/issues/13539?

[2020-01-10 14:14] #13286 closed

[2020-01-10 14:37] #13288 closed

[2020-01-10 14:41] amyblais commented on #13577
@stefnats Are you able to create new teams and channels via CLI?

[2020-01-10 15:49] thefactremains commented on #13312
update: we separated this into 2 issues.
An [improvement](https://mattermost.atlassian.net/browse/MM-21682) (to remove the link between the two settings)
and a [bug](https://mattermost.atlassian.net/browse/MM-21373) (since the email is being sent when the setting dictates that it should not)

[2020-01-10 16:01] nadalfederer commented on #13584
Can I take this

[2020-01-10 16:11] karlmarxlopez commented on #13223
Hi! Can I take this?

[2020-01-10 16:13] karlmarxlopez commented on #13589
Can I take this?

[2020-01-10 16:15] jwilander commented on #10679
I spent some time trying to reproduce this on latest master but haven't been able to. It seems to work fine for me when setting AllowUntrustedInternalConnections to `madeuphost` which in my hosts file I've pointed to 127.0.0.1. Serving an image on my localhost, with the proxy enabled `http://madeuphost/img/img.png` fails to resolve with the correct error if I don't have AllowUntrustedInternalConne

[2020-01-10 16:57] #12784 closed

[2020-01-10 17:35] #13453 closed

[2020-01-10 17:54] VishalSwarnkar commented on #10370
Hi @jasonblais, raised pull request for review. Thanks

[2020-01-11 03:22] nwneisen commented on #12786
I'd like to take a look if this still needs to be done.

[2020-01-11 06:24] andylibrian commented on #5267
@hanzei I looked at this again and it seems that plural form is supported in existing translation:

https://github.com/mattermost/mattermost-server/blob/605040c59715be1b06671e9b62de8b5a10989d70/i18n/de.json#L1033-L1039

https://github.com/mattermost/mattermost-server/blob/605040c59715be1b06671e9b62de8b5a10989d70/i18n/de.json#L1483-L1489

[2020-01-11 16:54] #13073 closed

[2020-01-11 22:48] allenlai18 commented on #13491
I will work on this

[2020-01-11 22:51] allenlai18 commented on #13510
i will take this

[2020-01-12 02:29] allenlai18 commented on #13484
ill take this one

[2020-01-12 15:31] jasonblais commented on #12522
Reopening given the redux PR is under review

[2020-01-12 16:42] pankajhirway commented on #13507
I would like to take up this issue.

[2020-01-12 17:25] s-ponta commented on #2159
I tried to use the method proposed by @yukihane. Unfortunately, however, I failed at installing textsearch_ja with the following error.

[code]
The first japanese sentence means "No such a file or directory.", and the second is "There is no rule to make the target '/opt/gitlab/~~~~'. Cancel."

How should I fix it?
I guess the currently bundled PostgreSQL doesn't have such a file, but honestly spea

[2020-01-12 18:34] opllama2 commented on #13505
@mattermod i would like to take this one as well please

[2020-01-12 23:39] QamarFarooq commented on #12786
I had to reinstall my windows cuz it got infected. Been setting up server, so i will get to it soon

[2020-01-13 09:14] hanzei commented on #13584
Sure, thanks @nadalfederer :+1:

[2020-01-13 09:17] hanzei commented on #13589
Sure. Thanks @karlmarxlopez. Let me know, if you have any questions.

[2020-01-13 09:21] #13402 closed

[2020-01-13 09:24] hanzei commented on #5267
The main advantage of v2 is that it supports explicit plural forms and a lot more. See https://godoc.org/github.com/nicksnyder/go-i18n/v2/i18n#Message Also, we can provide a `Description` that would help translators.

[2020-01-13 10:18] hanzei commented on #13587
I have a person aversion to js cli tools. :wink:

But that is not a real reason to not use any of these tools.

What I want is a tool that:
1. Can be easily run in CLI
2. Can be updated the the lastest version safely
3. Won't break in the future on language updates
4. (Optional) Easy configuration and templating

I'm concerned that 3. will be an issue for js cli tools. Let me know what you think.

[2020-01-13 11:41] #13404 closed

[2020-01-13 11:58] #13401 closed

[2020-01-13 12:03] #13121 closed

[2020-01-13 13:01] #13458 closed

[2020-01-13 14:08] nadalfederer commented on #12418
Can I take this

[2020-01-13 14:15] ikeohachidi commented on #13496
Hello, can i have this one?

[2020-01-13 14:31] hanzei commented on #12418
Awesome, thanks @nadalfederer :+1:

[2020-01-13 14:44] arka204 commented on #13498
Hi! I tried solving this one and PR above is the result.
I wanted to ask if my approach is correct and if:
"import {getRoles} from 'mattermost-redux/selectors/entities/roles';"
in "index.ts" is fine, because locally it gives me an error:
"Could not find a declaration file for module 'mattermost-redux/selectors/entities/roles'.", but it seems like similar lines in different file migration problems

[2020-01-13 15:20] #13565 closed

[2020-01-13 15:53] #13513 closed

[2020-01-13 15:54] #13566 closed

[2020-01-13 16:00] mattermod opened #13618 "CLI reset command should truncate System table"
The command below should return to a empty DB.

`./bin/platform reset --confirm true`

Looks like it doesn't truncate the Mattermost System table.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server, where you can discuss questions with community members and the Matterm

[2020-01-13 16:20] #13287 closed

[2020-01-13 16:33] #13533 closed

[2020-01-13 16:36] #13400 closed

[2020-01-13 16:41] #13493 closed

[2020-01-13 16:47] vladislavhirko opened #13619 "Logs with plugin"
Hello I try to create plugin, and I use mattermost-server API for deleting posts
[code]
And when I print logs to console, i have something like that:

![Screenshot from 2020-01-13 18-27-50](https://user-images.githubusercontent.com/55532072/72274164-4f02bc00-3634-11ea-90ae-437b2f6396ef.png)

And I don't undertang what is it...
When i try to delete aboute 500-1500 msgs
Some of them isn't deletes (i

[2020-01-13 17:44] amyblais commented on #13619
@maruTA-bis5 @hanzei Do you know if this is a bug?

[2020-01-13 18:08] #13516 closed

[2020-01-13 18:40] arka204 commented on #13502
Hi! I'd like to try this one.

[2020-01-13 20:07] #12571 closed

[2020-01-13 21:42] lieut-data commented on #12375
Thanks, @tasdomas!

[2020-01-13 21:43] lieut-data commented on #13597
Thanks, @vesari!

[2020-01-14 00:07] amyblais commented on #13498
@devinbinnie ^

[2020-01-14 00:43] chuttam commented on #12617
Awesome PR @avasconcelos114 ! We now have a PR open against the [feature branch](https://github.com/mattermost/mattermost-mobile/tree/post-draft) to get this effort through.

[2020-01-14 01:43] avasconcelos114 commented on #12617
Amazing! super excited to see this one through :)

[2020-01-14 02:20] M-ZubairAhmed commented on #13462
Update : PR :13533 is now merged, this issue will now be solved.

[2020-01-14 08:30] mattermod opened #13625 "Add a check in the CI to ensure mmctl docs are updated"
The CI should check that the mmctl docs are updated for each PR. This check could be done like:

  * Run `make docs`
  * Check if the git workspace is dirty. If it is, the PR needs to update the docs, so CI should fail

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server

[2020-01-14 09:25] M-ZubairAhmed commented on #5728
opened a conversation at mattermost community here at https://community.mattermost.com/core/pl/k1wgy1qak3d6ugasitw9btyzww

[2020-01-14 10:09] #12792 closed

[2020-01-14 11:37] #10370 closed

[2020-01-14 11:53] #13291 closed

[2020-01-14 12:06] #12958 closed

[2020-01-14 12:41] #5728 closed

[2020-01-14 12:41] jasonblais commented on #5728
Based on the Jira comments, looks like this ticket needs a few more functional details, updated help text for the setting, and a decision on whether to keep a way to collapse all the channels.

[2020-01-14 15:04] devinbinnie commented on #13498
@arka204 That sound right to me, I'm not sure why you're getting an error.
Perhaps your branch is out of date? Have you tried running `make clean` and a fresh `npm install`?

[2020-01-14 15:41] RajatVaryani commented on #13625
I can help with this.

[2020-01-14 17:15] #13029 closed

[2020-01-14 17:18] #13328 closed

[2020-01-14 21:13] #12849 closed

[2020-01-15 13:59] mattermod commented on #13455
Thanks @harshilsharma63, appreciate your feedback.

To keep feature idea discussions in one place, could we have your help:

1. [Contributing this in the feature idea forum](http://www.mattermost.org/feature-requests/) so it can be discussed, upvoted and considered for a [ticket accepting pull requests](http://docs.mattermost.com/process/accepting-pull-request.html)?

   Please include a link back

[2020-01-15 14:00] amyblais commented on #13411
Closing this for now as we haven't received feedback for a while. Please re-open this issue if the problem persists,

[2020-01-15 14:00] #13411 closed

[2020-01-15 14:01] amyblais commented on #13097
I'll close this for now as we haven't received feedback on this for a while. I hope you will open a feature request issue for this,

[2020-01-15 14:01] #13097 closed

[2020-01-15 14:03] amyblais commented on #13157
This is fixed for upcoming v5.20 release,

[2020-01-15 14:03] #13157 closed

[2020-01-15 16:09] #13347 closed

[2020-01-15 16:45] lieut-data commented on #13619
@vladislavhirko, are you able to share a complete example that reproduces the problem? Is it specific to trying to delete 500-1500 messages, or does this reproduce when trying to delete just just one message?

The `DeletePost` API is currently not idempotent: if you try to delete a post that's already deleted, you will get an error whose underlying type is `sql.ErrNoRows`. Might that explain some

[2020-01-15 19:24] jasonblais commented on #13282
Hi @3mard - with some work left on #13275, I'll open this up for grabs. If you're interested to take it on after #13275, that's great as well! :)

[2020-01-15 20:52] #12481 closed

[2020-01-16 07:37] calebroseland commented on #13146
@devinbinnie (cc: @hmhealey @deanwhillier ) I think we may need to take a second look at the premise of this issue (complexity/maintainability and UX changes.)

In order to keep the existing screen reader UX the same (skip over posts—use tab/arrow focus for AT speak), (I think) it is impossible to relocate `aria-hidden`, as that would open up ATs to a myriad of controls within posts.

I opened a d

[2020-01-16 13:55] larkox commented on #13282
May I take this one?

[2020-01-16 14:19] jasonblais commented on #13282
Go for it @larkox :)

[2020-01-16 14:54] andylibrian commented on #5267
Right, v2 has more features. Currently some of the code depends on `goi18n.TranslateFunc` directly.

https://github.com/mattermost/mattermost-server/blob/c21ea5bc065087d12ed8407fb480b723f836339c/app/app.go#L28

And most of the translation are done by calling `utils.T`

https://github.com/mattermost/mattermost-server/blob/c21ea5bc065087d12ed8407fb480b723f836339c/app/channel.go#L21-L25

Let me know

[2020-01-16 18:02] RajatVaryani commented on #13587
@hanzei. I don't have first hand experience with JS so I will defer (But I have heard the same things) and go ahead with goreleaser.

[2020-01-16 18:10] ikeohachidi commented on #13495
i can take this one

[2020-01-16 18:16] nadalfederer commented on #12348
Hi, this looks to be abandoned. Can I take this?

[2020-01-16 18:51] #13625 closed

[2020-01-16 19:21] jasonblais commented on #12348
@nadalfederer Yeah that sounds good, thank you!

[2020-01-16 19:53] #13427 closed

[2020-01-16 20:25] #9502 closed

[2020-01-17 00:44] khos2ow commented on #13227
I took another shot on this in mattermost/mattermost-helm#132, in which versions of API are being selected based on the version of underlying Kubernetes, so the chart will be both forward and backward compatible on various versions of k8s it gets deployed on.

[2020-01-17 02:13] #12313 closed

[2020-01-17 02:14] #12614 closed

[2020-01-17 07:34] #12702 closed

[2020-01-17 13:34] scottjr632 commented on #13501
I can work on this if that's ok?

[2020-01-17 14:17] #13492 closed

[2020-01-17 15:03] #12375 closed

[2020-01-17 16:23] #12515 closed

[2020-01-17 17:12] AGMETEOR commented on #12936
Currently making an attempt to use code from this PR [here](https://github.com/mattermost/mattermost-plugin-jira/pull/447). So far so good :)

[2020-01-17 19:55] #13571 closed

[2020-01-17 20:08] lieut-data opened #13642 "Recognize multi-line slash commands without requiring trailing space after trigger word."
When providing a multi-line payload to a slash command, it’s currently necessary to add a space character immediately after the trigger word (e.g. `/standup \n<payload>`) instead of being able to start the newline right away (e.g. `/standup\n<payload>`).

Fix this in [ExecuteCommand](https://github.com/mattermost/mattermost-server/blob/b71a6b9f8dafc17a5c3d5b0772c67c989f839a3a/app/command.go#L158)

[2020-01-17 20:08] #13585 closed

[2020-01-17 20:31] jasonblais commented on #11951
Thanks @niklabh!

[2020-01-17 20:31] #11951 closed

[2020-01-18 01:15] allenlai18 commented on #13642
i am interesting in looking into this

[2020-01-18 12:00] LilianCruanes opened #13644 "Passwords : Length limit and allowed special characters"
### Summary
Hi ! We have recently integrated Mattermost in the [SystemA's plAtform](https://systema.earth) and mattermost's accounts are automatically created (via the API) when participants register to the plAtform.
The plAtform allows 255 characters password that can contain any characters.
But Mattermost limits them to 64 characters and even if all password's limitations are unchecked in the Sy

[2020-01-18 19:53] #12785 closed

[2020-01-19 00:16] lieut-data commented on #13642
@allenlai18, I'd suggest trying to tweak the way we split apart the words instead, vs. trying to modify the payload. Could we detect the first non-whitespace character in the string and extract the trigger word up to that? That would also eliminate the need to split the whole command apart by spaces only to rejoin it.

[2020-01-19 11:00] sokoow opened #13648 "SMTP, 550 Incorrect sender header (Check your FROM) #1 in 5.17.2+"
1. Confirm you’re filing a new issue. [Search existing tickets in Jira]
This is a new issue

2. Confirm your issue does not involve security.
it doesn't seem to be security

#### Summary
Recently there's some SMTP setting changes, one of our mattermost 5.17.2 servers stopped sending emails, and when we test smtp connection, we got ```SMTP, 550 Incorrect sender header (Check your FROM) #1``` consta

[2020-01-19 12:29] RythmosAdvisory opened #13649 "Europe's #1 ethical hacking and bug bounty platform"
For researchers, by researchers.

That's how the intigriti platform was built. We take great pride in our personal approach.

Join us today to get private program invites and start turning your hacking skills into bounties.

https://login.intigriti.com/account/register
Intigriti is an ethical hacking platform for bug bounty and responsible disclosure.

Create your account and start finding vulnera

[2020-01-20 10:17] dmarkdvt commented on #13611
@amyblais: Yes it does. :)

[2020-01-20 10:18] #13611 closed

[2020-01-20 11:24] #12338 closed

[2020-01-20 11:35] hanzei commented on #5267
Once challenge is  that `model.CommandArgs` uses `goi18n.TranslateFunc` directly. Given that this change be broken because of semver, I would opt for leaving all `app/command*` files and `model.CommandArgs` as it is.

Did you look into the generated translation files yet? There might be issues using the new file structure with the existing translation server.

[2020-01-20 11:42] Delawen opened #13652 "SMTP with Yahoo: Connection unsuccessful: SendMail: 550 Request failed; Mailbox unavailable - undefined"
#### Summary
I am trying to use yahoo SMTP to send emails.

#### Steps to reproduce
Configure a basic free Yahoo email on the SMTP settings and test it ("Test Connection").  See my configuration on the image below.

An error will be shown (mine in Spanish):
`Connection unsuccessful: Connection unsuccessful: SendMail: Error ajuste "Dirección Desde", 550 Request failed; Mailbox unavailable - undefin

[2020-01-20 11:51] Delawen commented on #13652
The config.json file had a different "FeedbackEmail" and that confused my configuration. Would be good to add this to troubleshooting or a warning on this page to check that.

Thanks rubber ducks! I will close but not remove in case someone else has the same issue.

[2020-01-20 11:51] #13652 closed

[2020-01-20 14:18] #13290 closed

[2020-01-20 17:09] amyblais commented on #13648
@sokoow Would be open to sharing what SMTP setting changes you've recently made, as well as all your config settings related to SMTP? Thanks,

[2020-01-20 17:26] amyblais commented on #13644
@crspeller @DSchalla Do you know the answers to the above questions:
 - If it is possible to override the 64 characters limitation
 - Which special characters are allowed by the Mattermost server (maybe there is a regex?)

[2020-01-20 20:53] lieut-data opened #13656 "KVCompareAndSet should not ignore ExpireAt"
`KVCompareAndSet` doesn't test `ExpireAt`, allowing it to compare against existing, stale values when deciding whether to write to the row. Change the implementation to consider `ExpireAt`, such that an expired row is only successfully written if the old value is given as `nil`, effectively treating it the same as if the row had never existed.

Discovered during investigation into [https://matterm

[2020-01-20 21:31] lieut-data opened #13657 "Automatically retry on failed plugin installation from marketplace"
When installing plugins in bulk – i.e. quickly click `Install` next to multiple plugins in the marketplace – some plugins fail installing in the first try but can get installed successfully after subsequent tries.

Let’s automatically retry failed plugin installations server side when using the marketplace before giving up and reporting the error back to the client.

----

If you're interested ple

[2020-01-20 21:35] devinbinnie commented on #13146
@calebroseland Thanks for your investigation!

[2020-01-20 22:05] devinbinnie commented on #13146
@calebroseland Thanks for your investigation!

I think you have a point about the complexity around relocating `aria-hidden`, as I believe elements such as links within the post, post attachments, etc. will potentially have dynamic focusable elements that we cannot easily anticipate and therefore cannot make WCAG and screen reader usable using `aria-hidden`.

However, I don't think the solution us

[2020-01-20 22:05] #13146 closed

[2020-01-20 22:32] calebroseland commented on #13146
@devinbinnie sounds good!

Yeah, that was my main concern.

I suppose I could have worded the `tabindex='-1'` part a bit clearer.  The partial implementation in the draft PR keeps track of `ariaHidden` and switches between `tabindex='-1'` and `tabindex='0'` as applicable. (This should keep tabbing UX the same as you tab through a list of posts.)

And yes, "AT" meant Accessibility [Technology] (Too

[2020-01-20 23:06] DSchalla commented on #13644
Hi @LilianCruanes,

regarding the validation, I fear it's a problem related to the unicode characters. We are checking the length of the string for the password and cap it at 64, as you've noticed. Now your string is in theory just 49 characters long, but because of the way Go handles it it is being recognized as 126, here a small Go Snippet to demonstrate and the piece in the code where we check

[2020-01-21 00:28] p620-dev opened #13659 "Server ignores SqlSettings.DataSource for PostgreSQL driver in Linux."
#### Summary
As stated in the title.

#### Steps to reproduce
By following [your own guide](https://docs.mattermost.com/install/install-debian.html#installing-mattermost-server) and launching the server with the connection information changed at step 7.
First encounter at v5.19.0 but appears to date as far back as v4.10.10 at least.
Debian 10, amd64
#### Expected behavior
The changes made to the c

[2020-01-21 05:31] #12466 closed

[2020-01-21 06:12] sokoow commented on #13648
It's a pretty standard TLS setup on port 487, nothing fancy. Unfortunately it's shared with other services so I can't share configs. Funny thing is that we do have from field set, unless we're missing something.

[2020-01-21 07:26] RajatVaryani commented on #13657
@lieut-data I would like to work on it.

[2020-01-21 08:41] hanzei commented on #10438
Fixed with https://github.com/mattermost/mattermost-server/pull/13302

[2020-01-21 08:41] #10438 closed

[2020-01-21 08:42] #12521 closed

[2020-01-21 09:13] LilianCruanes commented on #13644
Hi @DSchalla, thanks for your answer !
I've fixed password length problem limiting the plAtform's password's length to 64 characters, it could work alike a long time, that's ok.
But the biggest problem for us is that not all unicode characters are allowed, is there a way to allow them ?

[2020-01-21 10:12] #13511 closed

[2020-01-21 10:21] hanzei commented on #13464
Fixed with https://github.com/mattermost/mmctl/pull/90

Thanks @phillipahereza :tada:

[2020-01-21 10:21] #13464 closed

[2020-01-21 10:48] #12340 closed

[2020-01-21 13:40] crsologicsde opened #13664 "keyboard shortcut for search"
pls add a keyboard shortcut for search in app. thanks

[2020-01-21 15:00] #13496 closed

[2020-01-21 15:22] #13596 closed

[2020-01-21 15:25] arjitc opened #13667 "Deactivated users appear in New Direct Message menu"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-01-21 18:03] RajatVaryani commented on #13587
@hanzei I reached out to goreleaser community and I got to know that they generate changelog just using simple git commands internally.

`git log --pretty=oneline --abbrev-commit --no-decorate --no-color (git describe --tags --abbrev=0)..HEAD`

This is the command used to generate the changelog with some modification. I think we can generate this changelog in the pipeline itself (or a simple bash

[2020-01-21 18:34] arka204 commented on #13502
Up there is my progress for now.
I'd like to ask for help with line: (last one in file)
export default injectIntl(AdminSidebar);

I also didn't migrate .test.jsx file because i was getting some errors from testing methods, which I have no control over. Probably some local error.

[2020-01-21 18:34] 0xlilyhoffman commented on #13656
Looks interesting!

Hmm...
If the goal is to treat expired rows as if they don’t exist, would it make sense to simply delete all expired values before performing the CompareAndSet?
Is there a reason to save the expired records?

[2020-01-21 18:37] arka204 commented on #13500
I helped myself to this one, but encountered a problem with LocalisedInput. Have you got any ideas how can it be changed so typescript wouldn't underline it?
Also can I ask for help with line from index.ts, which also does not compile?:
export default connect(mapStateToProps, mapDispatchToProps)(ComplianceReports);

[2020-01-21 18:43] lieut-data commented on #13656
@0xlilyhoffman, we do indeed have a background process that purges such records, but it intentionally runs at a slow cadence. Deleting the records prior to a `KVCompareAndSet` might require a full table scan at present, which could impact performance. It might also allow for a race condition where a new, and very quickly expiring record gets written after the purge but before the `CompareAndSet`.

[2020-01-21 19:10] ylluminate opened #13673 "Mattermost admin_console needs footer padding"
When you scroll up and down on within the admin_console of Mattermost frequently the last "Features" entry under "EXPERIMENTAL" is blocked out. There needs to be some footer padding below this so that browsers that use Chromium do not cover this up and make it seem inaccessible to administrators. It just has an awkward feel of being so close to the bottom. Ex:
![example](https://p153.p0.n0.cdn.get

[2020-01-21 20:10] igomonov88 commented on #13439
@hanzei I can take it

[2020-01-21 20:14] igomonov88 commented on #13656
@lieut-data I cant try to do it

[2020-01-21 20:31] 0xlilyhoffman commented on #13656
Ah I see.
Thanks @lieut-data for following up.

I’d be interested in taking this, if that’s ok.
Is this time sensitive in any way?

[2020-01-21 21:00] lieut-data commented on #13656
@0xlilyhoffman, not time-sensitive -- thanks to both you and @igomonov88 for volunteering to help here! Did you want to coordinate efforts, or decide who might take the lead on this effort?

[2020-01-21 21:25] svenwiltink opened #13676 "Build failure. Dependency nicksnyder/go-i18n@latest not found"
#### Summary
Mattermost server v5.11.1 can not be used properly as a dependency.

#### Steps to reproduce
Create a project using the following commands:
[code]

The contents of banaan.go is the bot example listed here <https://raw.githubusercontent.com/mattermost/mattermost-bot-sample-golang/master/bot_sample.go>

#### Expected behavior
Expected the build to succeed

#### Observed behavior (that a

[2020-01-21 21:27] svenwiltink commented on #13676
`go mod why github.com/nicksnyder/go-i18n/i18n` outputs the following:
[code]

[2020-01-21 21:51] svenwiltink commented on #13676
I have dug a little deeper and might have found the underlying cause. The example is using the old import path, which was last tagged as v5.11 (before the go.mod file) got introduced

[2020-01-21 21:53] hanzei commented on #13439
Awesome, thanks @igomonov88 :+1:

[2020-01-21 21:54] hanzei commented on #13587
Plain `git` commands seam much better then my idea. :+1:

[2020-01-21 21:58] svenwiltink commented on #13676
I've created an issue to update the example. This isn't a bug in the mattermost-server library

[2020-01-21 21:58] #13676 closed

[2020-01-21 23:38] amyblais commented on #13667
@arjitc What Mattermost server version are you on? What OS and version are you seeing this on?

[2020-01-21 23:46] amyblais commented on #13659
@cpanato @grundleborg Would you know if this is a bug or an error on our documentation?

[2020-01-21 23:47] amyblais commented on #13673
@ylluminate What Mattermost server version and OS are you on?

[2020-01-21 23:51] amyblais commented on #13648
@sokoow Are there any additional errors you're seeing in the logs?

[2020-01-21 23:55] ylluminate commented on #13673
Mattermost 5.18.0 on Chrome 79.0.3945.130 on macOS 10.15.2.

[2020-01-22 00:14] arjitc commented on #13667
Hey,
I'm using mattermost 5.18.0 currently via the desktop app on Windows

[2020-01-22 00:29] #13460 closed

[2020-01-22 00:40] amyblais commented on #13667
@arjitc Based on [documentation](https://docs.mattermost.com/help/getting-started/managing-members.html#deactivating-users) this seems to be an expected behaviour.

"Direct Message channels with deactivated users are hidden in users’ sidebars, but can be reopened using the More… button or the Channel Switcher (CMD/CTRL + K)."

Let me know any questions,

[2020-01-22 06:20] agnivade commented on #13659
Are you using postgres or mysql ? Because it looks like you want to use postgres, but the dsn is of mysql type.

[2020-01-22 06:24] sokoow commented on #13648
@amyblais yeah, but they're pretty much saying same:

[code]

[2020-01-22 07:12] kenrick95 opened #13680 "Mattermost user nickname input should allow maximum of 64 characters instead of 22"
#### Summary

<img width="573" alt="Screenshot 2020-01-22 at 3 11 47 PM" src="https://user-images.githubusercontent.com/3090380/72872960-8c003a00-3d29-11ea-8c79-a43267a97d4c.png">

In https://github.com/mattermost/mattermost-server/pull/3186, `maxlength` of 22 characters was added to the webapp nickname input element, but since `nickname` field in database schema is 64 character long (checked on b

[2020-01-22 08:33] lbouquinUniv opened #13681 "bug header dosen't close when save and cancel it"
hi,

I've got a problem when i want changer header of Chanel. We can modify it but popup doesn't close.

![prob_header](https://user-images.githubusercontent.com/57000474/72877900-31031e80-3cfa-11ea-945e-ecb8b5b479e7.png)

[2020-01-22 13:30] RajatVaryani commented on #13657
@lieut-data Few thoughts below,

I have used [heimdall](https://github.com/gojek/heimdall) to solve this problem before. Here is the an [example](https://github.com/gojek/heimdall#creating-an-http-client-with-a-retry-mechanism) from the library. The problem with using it is that it does not give capability to override the [round tripper](https://github.com/mattermost/mattermost-server/blob/adeb7ec

[2020-01-22 13:36] lieut-data commented on #13657
Thanks for teaching me about heimdall! (Love the name ;P) I'd propose we isolate this to the code installing the plugin from the marketplace, and separately evaluate making this more generic at the http service level if this proves useful in a different context. (I'd also suggest checking to see if anyone has already done this somewhere in our source, in case we can reuse same.)

[2020-01-22 13:43] amyblais commented on #13681
Hi @lbouquinUniv, what Mattermost server version are you using and what OS are you on?

[2020-01-22 13:54] lbouquinUniv commented on #13681
it's 5.18.1 version and I use alpine3.10 in docker

[2020-01-22 14:34] amyblais commented on #13681
@lbouquinUniv We fixed an issue for this in v5.19.0, would you be open to upgrading to the latest version to see if your issue is fixed?

[2020-01-22 15:36] amyblais commented on #13442
Closing this for now but I hope you will be able to share more details on this if the problem persists.

[2020-01-22 15:36] #13442 closed

[2020-01-22 15:38] amyblais commented on #13575
@vania-github We did some improvements around image uploads for v1.27.1 release, would you be open to updating to the latest when it is available in the app store?

[2020-01-22 15:47] amyblais commented on #13648
@sokoow Have you had a chance to take a look at the troubleshooting tips here: https://docs.mattermost.com/install/smtp-email-setup.html#troubleshooting-smtp?

[2020-01-22 15:50] amyblais commented on #13680
I asked our team about this here: https://community.mattermost.com/core/pl/8k73mu51tjyy98xaanaooeknbr.

[2020-01-22 18:52] amyblais commented on #13673
Opened a ticket: https://mattermost.atlassian.net/browse/MM-21983.

[2020-01-22 18:59] amyblais commented on #13603
Opened a ticket here: https://mattermost.atlassian.net/browse/MM-21986.

[2020-01-22 19:00] mattermod opened #13686 "Migrate 'components/suggestion/at_mention_provider' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/suggestion/at*mention*provider` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `t

[2020-01-22 19:00] mattermod opened #13687 "Migrate 'components/delete_post_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/delete*post*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to

[2020-01-22 19:00] mattermod opened #13688 "Migrate 'components/user_settings' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2020-01-22 19:00] mattermod opened #13689 "Migrate 'components/user_settings/modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-01-22 19:00] mattermod opened #13690 "Migrate 'components/user_settings/notifications' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/notifications` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-01-22 19:00] mattermod opened #13691 "Migrate 'components/user_settings/notifications/email_notification_setting' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/notifications/email_notification*setting` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript ex

[2020-01-22 19:00] mattermod opened #13692 "Migrate 'components/user_settings/general' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/general` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-01-22 19:00] mattermod opened #13693 "Migrate 'components/user_settings/security/user_access_token_section' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/security/user_access_token*section` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensio

[2020-01-22 19:00] mattermod opened #13694 "Migrate 'components/user_settings/security' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/security` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2020-01-22 19:00] mattermod opened #13695 "Migrate 'components/user_settings/security/mfa_section' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/security/mfa*section` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` t

[2020-01-22 19:00] mattermod opened #13696 "Migrate 'components/user_settings/display' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/display` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-01-22 19:00] mattermod opened #13697 "Migrate 'components/user_settings/display/manage_languages' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/display/manage*languages` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `j

[2020-01-22 19:00] mattermod opened #13698 "Migrate 'components/user_settings/display/manage_timezones' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/display/manage*timezones` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `j

[2020-01-22 19:00] mattermod opened #13699 "Migrate 'components/user_settings/display/user_settings_theme' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/display/user_settings*theme` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-01-22 19:00] mattermod opened #13700 "Migrate 'components/user_settings/display/user_settings_theme/premade_theme_chooser' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/display/user_settings_theme/premade_theme*chooser` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated Type

[2020-01-22 19:00] mattermod opened #13701 "Migrate 'components/user_settings/advanced' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/advanced` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2020-01-22 19:00] mattermod opened #13702 "Migrate 'components/user_settings/advanced/join_leave_section' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*settings/advanced/join_leave*section` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-01-22 19:00] mattermod opened #13703 "Migrate 'components/user_settings/sidebar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user_settings/sidebar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-01-22 19:00] mattermod opened #13704 "Migrate 'components/header_footer_template' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/header*footer*template` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2020-01-22 19:00] mattermod opened #13705 "Migrate 'components/create_comment' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/create_comment` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `ts

[2020-01-22 19:00] mattermod opened #13706 "Migrate 'components/create_team' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/create_team` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2020-01-22 19:00] mattermod opened #13707 "Migrate 'components/create_team/components/team_url' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/create*team/components/team*url` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `

[2020-01-22 19:00] mattermod opened #13708 "Migrate 'components/rhs_header_post' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/rhs*header*post` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `t

[2020-01-22 19:00] mattermod opened #13709 "Migrate 'components/notify_counts' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/notify_counts` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2020-01-22 19:00] mattermod opened #13710 "Migrate 'components/markdown' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/markdown` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
-

[2020-01-22 19:00] mattermod opened #13711 "Migrate 'components/file_attachment' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/file_attachment` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `t

[2020-01-22 19:00] mattermod opened #13712 "Migrate 'components/file_attachment/file_thumbnail' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/file*attachment/file*thumbnail` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `t

[2020-01-22 19:00] mattermod opened #13713 "Migrate 'components/user_list_row' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/user*list*row` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx

[2020-01-22 19:00] mattermod opened #13714 "Migrate 'components/backstage' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/backstage` (including the `components` sub-directory) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-01-22 19:00] mattermod opened #13715 "Migrate 'components/do_verify_email' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/do*verify*email` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `t

[2020-01-22 19:01] mattermod opened #13716 "Migrate 'components/rename_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/rename*channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-01-22 19:01] mattermod opened #13717 "Migrate 'components/rhs_comment' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/rhs_comment` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2020-01-22 19:01] mattermod opened #13718 "Migrate 'components/rhs_card' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/rhs_card` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
-

[2020-01-22 19:01] mattermod opened #13719 "Migrate 'components/toggle_modal_button_redux' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/toggle*modal_button*redux` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `

[2020-01-22 19:01] mattermod opened #13720 "Migrate 'components/new_channel_flow' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/new*channel*flow` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2020-01-22 19:01] mattermod opened #13721 "Migrate 'components/emoji_picker/emoji_picker_overlay.jsx' module to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/emoji_picker` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`

[2020-01-22 19:01] mattermod opened #13722 "Migrate 'components/channel_groups_manage_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*groups_manage*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-01-22 19:01] mattermod opened #13723 "Migrate 'components/rhs_thread' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/rhs_thread` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2020-01-22 19:01] mattermod opened #13724 "Migrate 'components/removed_from_channel_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/removed*from_channel*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`,

[2020-01-22 19:01] mattermod opened #13725 "Migrate 'components/login/login_controller' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/login/login_controller` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx

[2020-01-22 19:01] mattermod opened #13726 "Migrate 'components/password_reset_send_link' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/password*reset_send*link` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `j

[2020-01-22 19:01] mattermod opened #13727 "Migrate 'components/dot_menu' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/dot_menu` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
-

[2020-01-22 19:01] mattermod opened #13728 "Migrate 'components/needs_team' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/needs_team` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)

[2020-01-22 19:01] mattermod opened #13729 "Migrate 'components/channel_members_modal' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*members*modal` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx`

[2020-01-22 19:01] mattermod opened #13730 "Migrate 'components/file_preview' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/file_preview` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`

[2020-01-22 19:01] mattermod opened #13731 "Migrate 'components/textbox' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/textbox` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `tsx`)
- [

[2020-01-22 19:01] mattermod opened #13732 "Migrate 'components/legacy_team_sidebar' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/leagcy_team_sidebar` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` t

[2020-01-22 19:01] mattermod opened #13733 "Migrate 'components/channel_layout/center_channel' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*layout/center*channel` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts

[2020-01-22 19:01] mattermod opened #13734 "Migrate 'components/channel_layout/channel_identifier_router' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/channel*layout/channel_identifier*router` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie.

[2020-01-22 19:01] mattermod opened #13735 "Migrate 'components/member_list_team' module and associated tests to TypeScript"
We are starting to migrate the mattermost-webapp over to TypeScript to facilitate better code quality. This `Help Wanted` issue is to modify all files in `components/member*list*team` (not sub-directories included) and associated test files.

Below is a checklist of items you should be doing to migrate:

- < ] Rename the files to their associated TypeScript extensions (ie. `js` to `ts`, `jsx` to `

[2020-01-22 19:09] amyblais commented on #13680
@kenrick95 Responses from our team:

 - The 22 character limit is to ensure the Nickname displays without truncating (based on casing or language) in the LHS.
 - Database length was changed to be higher for things like nicknames because it needs to accommodate LDAP sync.
 - The team feels that making the decision on the length of the field should be based more on the UX than the current length of

[2020-01-22 19:52] igomonov88 commented on #13656
@0xlilyhoffman hello, nice to meet you. Let's make a sync since the task was assigned to both of us. Maybe you have any preferences for this task? If you want, you can fix the implementation of the method and I can add new unit tests?

[2020-01-22 20:30] arjitc commented on #13667
@amyblais -- how about hiding it for users who have never interacted with each other over private message before ?

For example,
User A is active
User B is a disabled user

if user A has never messaged user B, don't show that user under his private message option?

[2020-01-23 02:05] kenrick95 commented on #13680
I see, but even then, having a 22-character nickname usually already entails that the display will be truncated in the LHS sidebar

![Screenshot 2020-01-23 at 9 53 02 AM](https://user-images.githubusercontent.com/3090380/72950402-3e85da80-3dc6-11ea-9753-644c2548a9af.png)

A real use case that I faced in my company is that we often utilize this nickname field to indicate our out-of-office period. W

[2020-01-23 02:52] 0xlilyhoffman commented on #13656
@igomonov88 Hello! Thanks for reaching out - I wasn't sure how you wanted to go about this. Yes, that could work. I started working on it and am actually having a few issues/confusions (with both implementation and testing). I'll push my WIP to my own forked repo (https://github.com/0xlilyhoffman/mattermost-server), and maybe we can discuss details from there. I'd love to hear your feedback / appr

[2020-01-23 02:59] 0xlilyhoffman commented on #13656
@lieut-data regarding deleting entries before the KVCompareAndSet: would invoking some “DeleteIfExpired(pluginId, key string)” to only delete the key in question just before updating the entry in the database solve this issue in a safe and performant way?

For reference, I was thinking something like this: https://github.com/0xlilyhoffman/mattermost-server/commit/6c8459d393fa7d04f981715a4cab9b5afe

[2020-01-23 11:54] pabnogon opened #13740 "Chat messages "disappear" when clicking Add Emoji option"
**Summary:** When clicking **Add Emoji** option, messages of the related chat are sort of hidden, so while the emojis table is displayed, you can't see the messages of the conversation (See images attached).

I'm curently using version 4.2.3

**Steps to reproduce:**

1. Go to a conversation/chat that has messages written in it.
2. Click _Add Emoji_ icon so the table with emojis is displayed.

**Ex

[2020-01-23 11:57] #13459 closed

[2020-01-23 13:02] sokoow commented on #13648
Hey, it was our fault - some smtp/dns settings on our side got messed up, sorry for that

[2020-01-23 13:02] #13648 closed

[2020-01-23 13:23] amyblais commented on #13740
@pabnogon v4.2.3 is your desktop app version, would you be open to upgrading to v4.3.2 desktop app version (it is our latest version)?

Also, what Mattermost server version are you on? You can find it from Main Menu > About Mattermost.

[2020-01-23 13:33] amyblais commented on #13680
@kenrick95 I see, an additional option that may help with communicate out-of-office times:

 - Enable [Automatic Replies](https://docs.mattermost.com/administration/config-settings.html#enable-automatic-replies-experimental) which will notify other users that the person is off if they try to message the user.

We are also planning for a feature that enables adding a custom status: https://mattermo

[2020-01-23 13:42] lieut-data opened #13742 "Resolve mentions in slash command payload"
In a [discussion on community](https://community-release.mattermost.com/core/pl/naymepqqgiy99nct7jfeden43w), we we noted that Slack supports an `Escape channels, users, and links sent to your app` setting for slash commands that, among other things, resolves `@username` to the corresponding user id, encoded as `<@user-id>` and sometimes as `<@user-id|username>`.

Design and implement a means to ex

[2020-01-23 13:43] pabnogon commented on #13740
Sorry, see attached proper info related to the version I'm currently using
![2020-01-23_14h40_47](https://user-images.githubusercontent.com/47986635/72989457-97696900-3dee-11ea-887d-08075ff57436.png)

[2020-01-23 13:44] lieut-data commented on #13742
@agarciamontoro, I've created this GitHib to mirror https://mattermost.atlassian.net/browse/MM-21987. If you can comment in reply, GitHub will let me assign this ticket your way. Thanks again!

[2020-01-23 13:47] amyblais commented on #13740
@pabnogon Thank you!

Do you see the same issue on our latest desktop app version? You can download the latest from here: https://mattermost.com/download/#mattermostApps.

What OS and version are you on? (E.g. Windows 10)

Can you help share any log errors you see via the instructions here https://docs.mattermost.com/install/desktop.html#reporting-issues?

[2020-01-23 13:48] agarciamontoro commented on #13742
Thank you for creating the issue!

[2020-01-23 14:04] pabnogon commented on #13740
I thought I was in the latest desktop app version, got confused between 4.2.3 and 4.3.2.
Not happening this anymore in the latest version.

I am running it in Windows 10 Enterprise.

Thanks!

[2020-01-23 14:05] amyblais commented on #13740
Awesome, good to hear that the issue is fixed!

[2020-01-23 14:05] #13740 closed

[2020-01-23 14:11] p620-dev commented on #13659
Due to your corrections the issue was resolved, however I would still consider this a bug.
In my configuration I've assumed that the `driver` part of the DSN would be filled automatically since it has already been configured within `SqlSettings.DriverName` (as the things are with MySQL, it appears). However, not only it wasn't, but, instead of raising an error for example, the server actually igno

[2020-01-23 14:16] lieut-data commented on #13656
@0xlilyhoffman, I like your approach! There's a potential that a row is created and immediately expires after you try to delete, but this would be very unusual, and still return correct results depending on your frame of reference relative to the wall clock.

I'd suggest not exporting `DeleteIfExpired` (and thus not writing an explicit unit test for same), since we probably don't need to share tha

[2020-01-23 14:39] bolariin commented on #13735
It looks like this issue might have been resolved by https://github.com/mattermost/mattermost-webapp/pull/4610

[2020-01-23 14:50] lucius-the opened #13743 "app/notification.go generated tons of entires in /var/log/messages"
#### Summary
/var/log/messages is filled with debug/info level entries from mattermost server, even though logging levels are set to ERROR in Environment/Logging, under both Console and File Log Level sections (also Console logging is actually disabled, don't know if it matters).

#### Steps to reproduce
Mattermost server 5.19.1 Team Edition (postgres).
We started having this issue after upgrading

[2020-01-23 15:41] lieut-data commented on #10438
Thanks again, @reflog!

[2020-01-23 16:01] devinbinnie commented on #13735
You're right! Closing!

[2020-01-23 16:01] #13735 closed

[2020-01-23 16:02] devinbinnie commented on #13501
You sure can!

[2020-01-23 21:05] RyanCommits commented on #11955
Looking into this

[2020-01-23 23:05] RyanCommits commented on #11955
PR opened on the mobile repo https://github.com/mattermost/mattermost-mobile/pull/3855

[2020-01-23 23:39] RyanCommits commented on #13219
Looking into this

[2020-01-24 09:26] fzyzcjy opened #13750 "Cannot join developer channel - the link in "getting started" page is invalid"
#### Summary
The "step 1: Sign up to our Mattermost site" is invalid in https://developers.mattermost.com/contribute/getting-started/ .

#### Steps to reproduce
Click that link in step1 (i.e. https://community.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676 ) and you will see

#### Expected behavior
able to join

#### Observed behavior (that appears unintentional)
not able

[2020-01-24 13:41] amyblais commented on #13750
@fzyzcjy Would you be open to moving this issue here: https://github.com/mattermost/mattermost-developer-documentation/issues. I can then make it into Help Wanted. If you're interested in helping to fix this, please let us know!

[2020-01-24 15:24] amyblais opened #13755 "Mattermost v5.20"
You can find key dates for v5.20 release below, with links to testing servers, release candidate and changelog added retrospectively.

Dates are tentative and subject to change.

### February 3rd: Release candidate cut

The following information will be updated after release candidate is cut:
 - Download link to release candidate
 - Testing server
 - Changelog

### February 12th: Release Build Cut

[2020-01-24 15:34] amyblais commented on #13750
Actually I went ahead and opened a PR for this: https://github.com/mattermost/mattermost-developer-documentation/pull/517.

[2020-01-24 16:30] #12244 closed

[2020-01-24 19:39] amyblais commented on #13667
Opened a ticket: https://mattermost.atlassian.net/browse/MM-22038.

[2020-01-24 20:50] devicenull commented on #11177
+1 This is absurdly bad right now... I can't really tell where this is being tracked, is it in github? jira? forums?

[2020-01-24 21:01] vesari commented on #13144
I'd like to work on this if I may?

[2020-01-24 21:20] 0xlilyhoffman commented on #13656
Thanks @lieut-data and @igomonov88 for your feedback!
I really appreciate it.

I submitted a draft PR (https://github.com/mattermost/mattermost-server/pull/13757) so that Mattermost CI servers would run all tests. All of the tests pass, but it’s failing on “mattermost/serverless-ops/github - This PR needs to sync and merge”

What are the recommended steps to addressing “This PR needs to sync and m

[2020-01-24 21:27] ylluminate commented on #11177
Yeah, it's such a sad situation for such an insanely useful system that is Mattermost. I truly wish someone could make this a priority.

[2020-01-24 21:37] amyblais commented on #11177
There is a PR open here: https://github.com/mattermost/mattermost-webapp/pull/3951.

[2020-01-24 22:18] 0xlilyhoffman commented on #13656
Regarding the above comment, I spoke with @igomonov88 on the Mattermost site (community.mattermost.com) to work through the issue.
Everything looks good now and a PR has been submitted.

Thanks again to you both!

[2020-01-24 22:32] jwilander commented on #13144
Go for it @vesari ! Let us know if you have questions

[2020-01-24 22:34] #12470 closed

[2020-01-25 00:12] RyanCommits commented on #13219
https://github.com/mattermost/mattermost-mobile/pull/3858

[2020-01-25 02:40] agnivade commented on #13743
Hello @lucius-the - somehow, console logging does not seem to be disabled. I am guessing it is due to that the application is logging to stdout/err, which is then captured by the systemd journal and being logged to syslog.

Is there a chance there are some environment variables which override the config settings ? Would you be open to sharing your config.json and the mattermost.service file ?

[2020-01-25 10:20] #13750 closed

[2020-01-25 13:08] fzyzcjy commented on #13750
Thanks

[2020-01-25 15:26] agarciamontoro commented on #13742
# Design Proposal

## Summary

The basic idea here is to extend the payload sent to the command providers —either via URL values for custom commands or via the command arguments structure for plugin commands— with an additional structure that maps the mentions found in the message to their user IDs (or to the channel IDs, in case they are channel mentions), also specifying the offset in the string

[2020-01-25 18:55] #13300 closed

[2020-01-25 18:58] hanzei commented on #11955
Fixed with https://github.com/mattermost/mattermost-mobile/pull/3855 within one day :tada: Thanks @RyanCommits

[2020-01-25 18:58] #11955 closed

[2020-01-25 19:23] scottjr632 commented on #13734
I can work on this issue if that's cool.

[2020-01-25 20:37] lucius-the commented on #13743
Hello @agnivade and thank you for taking interest in this issue.

As far as I remebmer, I haven't configured any environment variables, as I generally try to avoid that. I found a way to list environment vars for a running process, so here it is for my mattermost process:
[code]

Here's my config.json:
[code]

Here's my mattermost.service file:
[code]

I'm running this on CentOS 7.

[2020-01-25 21:14] lieut-data commented on #13742
@agarciamontoro, I like the first approach best. I agree with your intuition that the additional overhead in the payload should be negligible and not a performance concern.

I think the `mentions` and `mention_ids` should be sufficient. Let's make a note to supply sample code illustrating how to work with this data once the feature is available -- actually, maybe we can even define a `type Mention

[2020-01-25 21:20] agarciamontoro commented on #13742
I agree.

Makes sense, but without considering the offset, the new `Mention` structure is not needed anymore, so the map would be just a regular `map[string]string`. I do like the idea of implementing `ToURLValues` / `FromURLValues` for the whole payload, as it would make clear the data included in it.

Sounds reasonable, I'll do it this way, thanks!

[2020-01-26 00:04] hanzei opened #13761 "manifest.IsValid() wrongly errors on optional fields"
https://github.com/mattermost/mattermost-server/pull/13609 added a `IsValid()` method to `model.Manifest`. One aspect was missed in the review:
The fields:
- HomepageURL
- SupportURL
- Version
- MinServerVersion

are optional. But currently the methods throws an error, if these fields are empty.

[2020-01-26 00:04] hanzei commented on #13761
@gupsho will work on this

[2020-01-26 01:41] ylluminate commented on #11177
Thanks again for calling that out @amyblais. It would be really great to see a minor dot release ASAP to get this active in the system. And also the additional remarks about more compressed formatting would be super helpful since it seems as though it should be easy to modify as per his remarks.

[2020-01-26 04:15] agnivade commented on #13743
Ah I believe it is because of this

[code]

What you are seeing are notification logs. Disable that and you should be okay.

[2020-01-26 09:35] agnivade commented on #13659
Glad to hear that it has been resolved !

Regarding the dsn bit, I believe this has to do with how the `database/sql` package works. [sql.Open](https://golang.org/pkg/database/sql/#Open) accepts both driverName and dataSourceName. The config values are the ones we pass to that function.

The "server" did not do anything extra on it's own AFAIU. This is just the result of passing those 2 values to

[2020-01-26 10:09] andylibrian commented on #5267
Yes, I mentioned a few of translation files in my previous comment. So, for this case, we could create our own function to load translation messages from existing json files.

Instead of:
[code]

We could probably use something like this:
[code]

And regarding semver, when you say

Does that mean you opt for 2 ways of translating messages (v1 and v2)? And the plan would be to move v1 to v2 when br

[2020-01-26 11:43] lucius-the commented on #13743
Oh, thank you ! That very much looks like a solution.
Why I didn't even look at config.json is a very good question... didn't find any setting in the System Console besides the logging section and I guess I got a little sloppy after that ! But, good that you're here ;)

It's sunday, so no one is using the system. Will check tomorrow to see if this fixed it and report back, but I'm pretty sure this

[2020-01-26 12:52] agnivade commented on #13743
Cheers !

[2020-01-27 03:46] RajatVaryani commented on #13587
@hanzei I will be closing this and https://github.com/mattermost/mattermost-server/issues/13586 in this week.

[2020-01-27 06:19] hanzei commented on #13587
@RajatVajani Awesome, looking forward to it.

[2020-01-27 07:22] #13508 closed

[2020-01-27 10:02] vania-github commented on #13575
Hi @amyblais !
I updated my Mattermost mobile clients ( to v1.27.1 ), on my iOS and my Android, and the issue remains. When network speed is low, I can not upload files.

[2020-01-27 15:12] lucius-the commented on #13743
Just confirm -> yes, that's it.
I put ```"ConsoleLevel": "ERROR"``` now I only get a few log entries when an error occurs, which is fine.

[2020-01-27 15:12] #13743 closed

[2020-01-27 17:04] #12474 closed

[2020-01-27 18:25] ali-farooq0 commented on #11370
Ran into this myself, https://github.com/mattermost/mattermost-server/pull/13629 should address this issue, as we no longer need to re-tar prepackaged plugins anymore.

[2020-01-27 18:25] #11370 closed

[2020-01-27 18:28] amyblais commented on #11177
I'm not sure if we're able to do a dot release for this as this is a feature request and would require soaking time and being part of full release testing. We hope that we would be able to finish the PR soon. Maybe we could consider looking into doing a custom build from the PR once it's completed.

[2020-01-27 20:17] #13282 closed

[2020-01-27 22:12] arjitc opened #13772 "word "team" overflows into next line in Main Menu"
Per Mattermost guidelines, GitHub issues are for bug reports: <http://www.mattermost.org/filing-issues/>.

For troubleshooting see: http://forum.mattermost.org/.
For feature proposals see: http://www.mattermost.org/feature-requests/

If you've found a bug--something appears unintentional--please follow these steps:

1. Confirm you’re filing a new issue. [Search existing tickets in Jira](https://ma

[2020-01-27 23:29] amyblais commented on #13772
We have an existing ticket here: https://mattermost.atlassian.net/browse/MM-21870.

[2020-01-28 03:29] compiledsound commented on #13730
I can take this one!

[2020-01-28 10:25] #13772 closed

[2020-01-28 10:59] #11755 closed

[2020-01-28 13:37] kenrick95 commented on #13680
That feature request on user voice is exactly what is needed instead of "hacking" the nickname field. Thanks a lot!

[2020-01-28 13:37] #13680 closed

[2020-01-28 13:45] mattermod opened #13777 "Investigate a way to reduce the hardcoded 1000 goroutines for push notification workers"
Currently, we have a hardcoded number of 1000 for `PUSH_NOTIFICATION_HUB_WORKERS`. This leads to the creation of 1000 goroutines even when the app is idle and not doing anything.

The challenge with spawning goroutines dynamically is that we need to maintain the order of messages per user.

We can't have a lower number of fixed goroutines as that would block the CPU. Neither can we just dynamicall

[2020-01-28 16:02] somenet opened #13780 "Guest-Accounts: UI: Account creation looks like it errored out, but actually worked"
#### Summary
When creating a guest-accounts from its invite-eMail the user gets an error stating that their email-address is not allowed to be used, independent of whether guest-allowed-domains was left empty or specified to the tested domain.

The problem is: it actually worked and they can login now, but were not added to the specified channels.

#### Steps to reproduce
+ Restrict system-registr

[2020-01-28 16:06] #13457 closed

[2020-01-28 16:15] somenet commented on #13780
Addition: It works as expected, if the guest's domain is in the system-wide domain restrictions.

[2020-01-28 16:19] amyblais commented on #13780
Thank you, we have an existing ticket open here: https://mattermost.atlassian.net/browse/MM-22067.

[2020-01-28 17:07] lawikip commented on #11572
I will take this one.

[2020-01-28 17:11] Pomyk commented on #13777
I have an idea for this.

[2020-01-28 17:30] mattermod opened #13782 "Add a "Close Group Message" option to Group Message menu (Webapp)"
Group Message menu:
Below "Edit Channel Header" add a separator line and then the option "Close Group Message".
Closing Group Message should remove it from your sidebar
See implementation for closing DM messages in MM-18531

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build s

[2020-01-28 17:30] mattermod opened #13783 "Center channel flickers with light theme when loading"
Not a regression.

Repo:
1. Set UI to be on a dark theme
2. Reload the page

Observed: Slight flicker of light theme before turns to dark theme
Expected: No theme flicker. Center channel background theme is respected.

----
If you're interested please comment here and come [join our "Contributors" community channel](https://community.mattermost.com/core/channels/tickets) on our daily build server,

[2020-01-28 17:54] #13345 closed

[2020-01-28 17:58] agnivade commented on #13777
Excellent ! Please do post your design here before sending a PR so that we can discuss the approach.

[2020-01-28 19:00] mattermod opened #13786 "Creating a bot accounts via the plugin API causes an error in server logs"
When a plugin creates a bot account using the plugin API, a server log message will be thrown stating e.g. for Matterpoll:

[code]

Please not that there are no other issues besides this error message being shown.

This is a regression caused by [https://github.com/mattermost/mattermost-server/pull/11062](https://github.com/mattermost/mattermost-server/pull/11062).

The root cause is that [https:/